<header data-type="book">
<h1>婦科秘方</h1>
</header>

<h1>製藥法</h1>
<p>潯溪陳氏女科家傳製藥法：</p>
<p>陳皮（去白，留白補脾）　桔梗（去蘆）　枳殼（去白）　大腹皮（去殼，酒洗）　茯苓（去皮）　防風（去蘆）　杏仁（去皮尖）　小柴胡（去苗）　遠志（去骨，先以米泔水浸，甘草水泡，曬乾）　茯神（去心）　黃柏（去皮炒）　栝蔞仁（去油為末）　黃芩（炒黃）　川芎（炒）　白芷（炒為末）　麥門冬（去心）　芍藥（炒）　蒼朮（炒）　厚朴（炒）　黃耆（炒）　杜仲（鹽水炒斷絲）　地骨皮（去心）　知母（鹽水炒）　桑白皮（蜜炒）　米仁（炒）　黃連（炒）　滑石（去黃衣為末）　玄胡索（為末）　山梔（炒黑）　浮小麥（炒）　神麯（炒，自制為佳）　五味子（米泔水洗，補藥中研碎炒）　三稜（煨為末）　莪朮（煨為末）　青皮（炒為末）　天花粉（洗）　乾薑（炒黑為末）　乾葛（為末）　草果（為末）　香附（或鹽、酒、便、醋製為末）　五靈脂（為末，須澄去砂石）　牡蠣（火煅紅為末）　生地（不見鐵）　側柏葉（焐燥）　當歸（酒洗）　肉桂（為末）　熟地（不見鐵）　白朮（米泔水洗，飯鍋蒸炒）　甘草（炙）　木通　紫蘇（用大根）　烏藥　百草霜（便制更妙，或曬，酒蒸之）　荊芥（產後必用，炒）　前胡　益母草　山藥　牛膝　茱萸　防風　山楂（用肉）　人參　半夏</p>
<p><u>小靈丹</u></p>
<p>乳香（五分）　沒藥（五分）　雄黃（三錢）　硃砂（二錢）　沉香（一錢）　木香（五分）　小丁香（五分）　大黃（三錢）　巴霜（二錢）　鬱金（一錢）</p>
<p>上為細末，陳米醋打為丸，如黍米大，大人服九丸，小兒服五丸，隨病加湯送下。</p>

<h1>調經論</h1>
<p>凡女子年十七、八歲，經脈不通或阻，或間月或半年，顏色青黃，飲食少進，寒熱往來，四肢困倦，頭痛目眩，腹中有塊，心神煩躁，嘔吐膨脹，此脾胃氣血皆虛，多食生冷，急宜和血氣、健脾胃、調脈為先。</p>
<p><u>逍遙散</u></p>
<p>當歸（一錢）　芍藥　柴胡　黃芩（各一錢）　川芎　熟地　半夏（各八分）　人參　門冬（各五分）　甘草（三分）　姜（三片）</p>
<p>嘔吐加砂仁、香附、白朮各八分，咳嗽加杏仁、五味子、蘇葉各八分，煎服四劑即愈。</p>
<p><u>八物湯</u>　當歸　熟地　芍藥　香附（各二錢五分）　白朮（二錢）　茯苓　小茴香　柴胡（各一錢五分）　</p>
<p><u>人參</u>　甘草　黃芩（各一錢）　姜（一片）</p>
<p>肚痛加牛膝、玄胡索、枳殼（各一錢五分），嘔吐加良薑、砂仁，手足頑麻加肉桂八分，煎熱服。</p>
<p><u>調經丸</u></p>
<p>當歸　香附（各三兩）　青皮　牛膝（各二兩）　厚朴　赤芍　熟地　枳殼　白芍　小茴香（各一兩五錢）　三稜（醋煮）　砂仁（各一兩）　粉草（二錢）</p>
<p>為末，占米粉糊如桐子大，每服九十粒，空心米湯下。</p>
<p>凡婦人年十九、二十歲嫁後，遇經脈動，身痛，手足麻痹，或寒或熱，頭疼目眩，失以調理，感風為患，服烏金散。</p>
<p><u>烏金散</u></p>
<p>厚朴　蒼朮　白朮　茯苓　麻黃（各一錢）　當歸　半夏　芍藥　獨活　牛膝（各二錢）　枳殼　桂枝（各一錢）　陳皮　桔梗（各五分）　甘草（九分）</p>
<p>分作三服，加姜三片、蔥頭三個，煎熱服。咳嗽加杏仁、五味，泄瀉加肉桂。</p>
<p>凡婦人二十一歲，經水不通，或赤白帶下，淋瀝成戶，或間三、四月。此氣血虛弱，潮熱咳嗽，飲食少進，四肢無力，日久成勞。當調經治熱，可服八物大溫經湯十餘帖。</p>
<p><u>八物大溫經湯</u></p>
<p>當歸（一錢五分）　鹿茸　人參　川芎　白朮　山茱萸　小茴香　砂仁　陳皮（各八分）　甘草（三分）　芍藥　熟地（各一錢）　沉香（四分）　蔥　姜</p>
<p>煎熱服，汗不止加酸棗仁、黃耆各五分，咳嗽加半夏、五味子、柴胡、桔梗。</p>
<p>凡婦人年廿四歲，心痛脹悶，氣衝上膈，不思飲食，腹中有塊，如覆杯。此行經後誤食生冷，反多積痰飲，血氣相搏，服加味四物湯。</p>
<p><u>加味四物湯</u>　廣皮（一錢五分）　半夏　當歸　香附　厚朴（各一錢）　白茯苓　枳實　知母　</p>
<p><u>芍藥</u>　檳榔　紫蘇　桔梗　白朮（各四分）　紅花　黃芩　前胡　砂仁（各五分）　甘草（四分）姜（三片）</p>
<p>凡婦人廿五歲，血海虛冷，經脈不調，或小腹痛，面色黃瘦，赤白帶下，不分日期，少氣少力，頭疼目眩。宜服四物湯、補經湯，並服烏雞丸：</p>
<p>人參　砂仁（各一兩）　當歸　川芎　芍藥　熟地　海金砂　木香（各三兩）　殭蠶（二錢）　甘草（二錢）　防風（五錢）　側柏葉（四兩）</p>
<p>為末，以烏雞一隻，去毛、足，將前藥三分之一入雞內，酒五碗，銅鍋煮熟，去骨，曬乾為末，並前二分藥，亦末，蜜丸，酒下九十丸。</p>
<p>凡婦人廿七、八歲，身體敗弱，經水不調，淋瀝不止，或片或汁，面色青黃，頭暈眼花，四肢困倦。急宜調治，緩則成血崩之患，宜服止經湯四、五帖，後服四物、補經二湯數帖。</p>
<p><u>止經湯</u></p>
<p>當歸（一錢二分）　芍藥　熟地　川芎　香附（各一錢）　阿膠　側柏葉（鹽水炒）　黃芩　蒲黃（炒）　白朮（各五分）　甘草（三分）　姜（三片）</p>
<p>凡婦人年三十四、五歲，血敗氣虛，以致經水不調，肚中瘀血不散，不時作痛，可服莪朮散。</p>
<p><u>莪朮散</u></p>
<p>當歸　川芎　人參　赤芍　莪朮　玄胡索　熟地　枳殼　陳皮（各一兩）　牛膝　紅花（各五錢）　小茴香（炒）　砂仁　三稜　黃芩（各八分）　香附（二兩）　白朮（一兩）　甘草（一錢）</p>
<p>為末，服三錢，空心酒下。</p>
<p>凡婦人四十二、三歲，經水已絕，五十一、二經水復來，期且無恆，淋瀝不止，漏下。此血氣妄行，宜服和經湯，次服四物湯、烏金丸。</p>
<p><u>和經湯</u></p>
<p>小茴香　川芎　酸棗仁　蒲黃　阿膠（各八分）　當歸　熟地　黃芩　茯神　香附　白朮（各三錢）　甘草　白芷　陳皮（各一錢五分）</p>
<p>共為末，服一兩、薑湯服。</p>
<p>婦人經水不調，諸病皆生，宜調經催經方：</p>
<p><u>調經催經湯</u>　陳皮　桔梗　川芎　當歸　芍藥　生地　烏藥　山楂　香附　枳殼　玄胡　青皮　</p>
<p><u>乾薑</u>　肉桂　五靈脂　牛膝　甘草水煎服。如經在前，血有餘而氣不足，加茯苓、白朮，重者加人參；如經在後，氣有餘而血不足，加當歸、川芎、生地、芍藥，減茯苓、白朮。</p>
<p>久熱則血虛經阻，發熱如傷寒之狀：</p>
<p>陳皮　枳殼　烏藥　甘草　乾薑　肉桂　小柴胡　天花粉　牛膝　五靈脂　生地　白芷　香附　山楂　三稜　莪朮</p>
<p>水煎。</p>
<p>氣多血少，不思飲食，潮熱：</p>
<p>陳皮　桔梗　柴胡　黃芩　枳殼　烏藥　香附　甘草　山楂　地骨皮　芍藥　天花粉　當歸　川芎　熟地</p>
<p>水煎。</p>
<p>血少夜臥不安，宜養陰安神：</p>
<p>當歸　白芍　生地　茯神　香附　棗仁　川芎</p>
<p>水煎服。</p>
<p>月水不行，飽悶膨脹黃瘦：</p>
<p>當歸身　川芎　地黃　陳皮　茯苓　甘草　桔梗　烏藥　香附　枳殼　青皮　木通　草果　山楂　白芷　牛膝　官桂　砂仁　蘿蔔子（一錢，炒）　姜（三片）</p>
<p>水煎服</p>
<p>霍亂吐瀉：</p>
<p>陳皮　枳殼　藿香　蒼朮　厚朴　柴胡　半夏　枳殼　黃芩　草果　甘草　檳榔　木通　薄荷　加棗子　姜（三片）</p>
<p>水煎。</p>
<p>潮熱咳嗽吐痰，虛勞雜症，胎前產後並治之：</p>
<p>橘紅　貝母　黃芩　前胡　門冬　栝蔞　花粉　薄荷　蘇子　甘草　骨皮　茯苓　川芎　白芍　當歸　柴胡</p>
<p>加燈心草根，姜三片，水煎服。</p>
<p>砂淋白帶血崩：</p>
<p>白朮　枳殼　桔梗　青皮　黃芩　地榆　牡蠣　香附　花粉　熟地</p>
<p>水煎。</p>
<p>砂淋赤者屬血：</p>
<p>陳皮　桔梗　山楂　白芷　玄胡索　香附　芍藥　當歸　川芎　黃芩　牡蠣　艾葉　地榆　甘草　黃連　花粉　側柏葉</p>
<p>砂淋白者屬氣：</p>
<p>陳皮　桔梗　烏藥　山楂　香附　乾薑　肉桂　枳殼　玄胡　青皮　川芎　當歸　芍藥　靈脂　甘草　草果</p>
<p>血崩漏不止：</p>
<p>陳皮　桔梗　枳殼　黃連　黃芩　歸首　川芎　芍藥　香附　地榆　玄胡　艾葉　牡蠣　側柏葉（炒）</p>
<p>又單方：</p>
<p>家薔薇花根外皮，洗淨，搗碎，將酒淘取汁，略頓熱，一碗一服見效，三服除根。如四十歲外者，加紅花一兩，煎酒一碗，取根皮一兩，研爛，絞淨去渣，服下愈（應驗過）。</p>
<p>人參　當歸　芍藥　白朮　柴胡　黃芩　黃耆　香附　阿膠　蒲黃　甘草　黃柏　艾葉　麥冬</p>
<p>水煎。</p>
<p>如崩漏者加酒芩、大黃。</p>
<p>婦人月水不行，飽悶膨脹，黃瘦：</p>
<p>陳皮　桔梗　烏藥　枳殼　青皮　香附　歸身　川芎　熟地　木通　茯苓　甘草　草果　山楂　白芷　牛膝　官桂　砂仁　蘿蔔子（各一錢）　姜（三片）</p>
<p>婦人氣少血少，不思飲食，潮熱：</p>
<p>陳皮　桔梗　枳殼　柴胡　黃芩　歸身　川芎　香附　山楂　地骨皮　熟地　芍藥　甘草　花粉　烏藥</p>
<p>婦人熱入血室，經阻發熱，如傷寒狀，不頭痛者：</p>
<p>陳皮　烏藥　枳殼　乾薑　肉桂　小柴胡　花粉　牛膝　白芷　五靈脂　香附　山楂　生地　三稜　莪朮</p>
<p>婦人霍亂吐瀉：</p>
<p>陳皮　藿香　厚朴　蒼朮　半夏　柴胡　桔梗　黃芩　枳殼　草果　甘草　檳榔　木香　薄荷</p>
<p>婦人潮熱，咳嗽吐痰：</p>
<p>橘紅　貝母　黃芩　前胡　地骨皮　門冬　桑白皮　花粉　薄荷　栝蔞　蘇子　茯苓　歸身　甘草　小柴胡　川芎　白芍　燈芯（廿段）　姜（一片）</p>
<p><u>難產方</u>　黃柏　硫黃（各一錢）　蓖麻子（不拘多少）</p>
<p>搗爛，貼左右湧泉穴，胎下即去。</p>
<p>難產方（如五、六日者方用，神應奇效）：</p>
<p>雌雄石燕，令婦人左手執雄，右手執雌，緊緊拿定半刻即下。</p>
<p>婦人氣血俱虛，勞力過度，陰中突出一物，不能行動著席。</p>
<p>棕櫚樹根煎湯，熏洗一時即上。</p>
<p>血崩不止：</p>
<p>杏仁皮（燒灰存性，為末）</p>
<p>每服三錢，空心好酒下，一服即止，三服除根矣。</p>
<p>砂淋：</p>
<p>陳皮　桔梗　花粉　地榆　牡蠣　黃芩　白芍　枳殼　青皮　香附　肉桂　三稜　莪朮　白芷</p>
<p>服三帖。</p>
<p><u>外附方</u>（又云，此出《內府奇方》）</p>
<p>凡婦人臨產時，下胞即死去，此時雖有良藥，不能速救，惟取溫水一碗（不可冷，亦不可熱），將婦人陰戶下紅血粗取入水中，浸洗，此時病人人事不省，亦不知其何物，令其服之即愈。</p>
<p><u>白帶驗方</u></p>
<p>生地（五錢）　製半夏（二錢）　橘紅（一錢）　歸身（三錢）　白芍（一錢五分）　白朮（一錢五分）　茯苓（二錢）　川芎（三分）</p>
<p>外加香附、枳殼、甘草、砂仁，煎，沖服。</p>
<p>砂淋：</p>
<p>乾薑　肉桂　三稜　莪朮　白芷　陳皮</p>
<p>小便淋漓作痛，閉澀不通：</p>
<p>木香　升麻　烏藥　豬苓　枳殼　芍藥　澤瀉　陳皮　桔梗　車前　草果　甘果　白芷　香附　花粉　茯苓皮　大腹皮</p>
<p>水煎服。</p>
<p>虛勞發熱，咳嗽無痰者。</p>
<p><u>犀角地黃湯</u>　犀角　陳皮　甘草　銀柴胡　胡黃連　知母　地骨皮　黃芩　茯苓　花粉　</p>
<p><u>天冬</u>　麥冬　川芎</p>
<p>水煎服。</p>
<p>虛勞黃瘦，胎前產後皆可：</p>
<p>歸身　川芎　白芍　熟地　陳皮　茯苓　烏藥　香附　白芷　山楂　蒼朮　厚朴　小柴胡　甘草　花粉</p>
<p>水煎服。</p>

<h1>胎前</h1>
<p>胎前諸症，以安胎為主，雖有他症，以末治之：</p>
<p>陳皮　黃芩　大腹皮　枳殼　蘇梗　芍藥　川芎　當歸　青皮　甘草　草果　茯苓水煎服。如嘔吐，加半夏少許、藿香；發熱加柴胡；頭痛加羌活、白芷、細辛；口乾加花粉；骨節痛加防風、荊芥，中脘飽悶加木香、枳實；脾胃不實加蒼朮、白朮、厚朴、山藥、米仁，泄有積，加木香、豬苓、澤瀉。</p>
<p>胎前諸症，兼理氣安胎為主：</p>
<p>陳皮　桔梗　山楂　當歸　川芎　芍藥　生地　枳殼　青皮　花粉　蘇梗　草果　黃芩　甘草　大腹皮</p>
<p>水煎服。氣血不和用本方。胎前腹痛，加玄胡、香附、砂仁；胎漏加艾藥、地榆、牡蠣；大便不通，加郁李仁、檳榔、麻仁、枳實；小便不通，加澤瀉、木通（可用地膚子）；發熱加柴胡、骨皮、草果；腰痛加杜仲，去黃芩，骨節疼痛，加羌活、獨活；頭痛加川芎、荊芥、防風，去黃芩、桔梗，傷風加白芷、防風、荊芥，去黃芩；中風加天麻、乾葛、白芷、防風；中濕加蒼朮；中熱加香薷、藿香；子虛加茯苓、白朮、黃耆，子脹加枳殼、青皮、蘇梗、蘿蔔子；泄瀉加木通、豬苓、山藥、米仁、厚朴、蒼朮；痢紅加黃連、黃芩、木香、檳榔、蒼朮、厚朴、木通、山藥、米仁、白朮，瘧疾加青皮，檳榔、草果、柴胡、半夏、茯苓、甘草、蒼朮、厚朴、砂仁、蔥、姜；咳嗽加薄荷、門冬；咳嗽有痰加杏仁、半夏：咳嗽無痰加款冬、蔞仁、半夏、燈芯廿根、蔥頭、姜三片。</p>
<p>胎前發熱，不思飲食主方：</p>
<p>陳皮　花粉　黃芩（炒）　香附　大柴胡　蘇梗　歸身　川芎　枳實　大腹皮　甘草　乾葛　青皮　地骨皮　熟地　芍藥　茯苓　草果　羌活　山楂</p>
<p>水煎服。如面紅加黑山梔、黃柏、知母（炒）。</p>
<p>胎前單寒不止，不思飲食主方：</p>
<p>陳皮　黃芩　花粉　芍藥　生地　黃耆　白朮　人參　茯苓　蘇梗　當歸　砂仁　山楂　香附</p>
<p>水煎服。頭疼加羌活；鼻塞加蔥頭五個、防風；遍身痛加荊芥。</p>
<p>胎前不時腹痛，不思飲食：</p>
<p>陳皮　桔梗　烏藥　歸身　川芎　玄胡少許　枳殼　黃芩　芍藥　青皮　山楂　檳榔　香附　腹皮　吳萸　乾薑（炒黑少許）</p>
<p>水煎服。</p>
<p>胎前傷風咳嗽飽悶主方：</p>
<p>陳皮　桔梗　砂仁（五分）　歸身　川芎　蘿蔔子（炒）　柴胡　紫蘇　乾葛　黃芩　腹皮　桑皮　前胡　甘草　枳殼　豆蔻　半夏曲　燈芯（廿根）　姜（三片）</p>
<p>如久傷風加麻黃；有痰加蔞仁、貝母、茯苓；虛汗不止，加芍藥、棗仁：飽悶加青皮、木香、枳實。</p>
<p>胎前見紅，腰痛，其胎絞痛：</p>
<p>陳皮　桔梗　黃芩　枳殼　地榆　牡蠣　青皮　艾葉　大腹皮　歸身　川芎　芍藥　熟地　蒼朮　厚朴　草果　白朮　甘草　砂仁</p>
<p>胎前脾胃不實：</p>
<p>陳皮　桔梗　黃芩　山楂　山藥　米仁　白朮　茯苓　蒼朮　腹皮　厚朴　芍藥　草果　香附　甘草</p>
<p>水煎服。</p>
<p>胎前痢疾後重，白積腹痛：</p>
<p>陳皮　桔梗　蒼朮　厚朴　木通　烏藥　山楂　黃芩　茯苓　玄胡索　山藥　豬苓　澤瀉　木香　草果　甘草　白朮　歸身　川芎　米仁　吳萸　乾薑（黑）</p>
<p>水煎服。</p>
<p>胎前痢疾，紅積腹痛（總不若補中益氣湯為穩，且效速）：</p>
<p>陳皮　花粉　黃連（炒）　黃芩　草果　芍藥　蒼朮　厚朴　木通　米仁　山藥　腹皮　豬苓　澤瀉　白朮　茯苓　山楂　枳實（少許）　木香</p>
<p>水煎服。</p>
<p>胎前大小便不通，遍身浮腫：</p>
<p>陳皮　桔梗　花粉　黃芩　豬苓　澤瀉　木通　枳殼　青皮　升麻　蘇梗　草果　腹皮　甘草　柴胡　香附　山楂　滑石　車前　茯苓皮　砂仁（炒）　生薑（三片）</p>
<p>水煎服。</p>
<p>漏胎不時，小腹作痛：</p>
<p>黃芩　地榆　陳皮　花粉　續斷　枳殼　青皮　芍藥　香附　蒼朮　艾葉　牡蠣　甘草　歸身　川芎　熟地　草果</p>
<p>水煎。</p>
<p>胎前不時發暈：</p>
<p>陳皮　桔梗　歸身　川芎　茯苓　遠志　芍藥　香附　黃芩　甘草　腹皮　枳殼　蘇梗　柴胡　草果　砂仁（一錢）</p>
<p>水煎。</p>
<p>胎前瘧疾（烏梅初起不可用）：</p>
<p>紫蘇　陳皮　桔梗　黃芩　青皮　草果　蒼朮　厚朴　柴胡　歸身　川芎　白朮　枳殼　山楂　砂仁（一錢）　烏梅（一錢）　生薑（三片）</p>
<p>水煎。</p>
<p>催經之劑：</p>
<p>乾薑　肉桂　枳殼　紅花　木通　土牛膝　生地　陳皮　香附　三稜　莪朮　白芷　桃仁　丹皮</p>
<p>水煎。</p>
<p>三個月妊娠散：</p>
<p>陳皮　桔梗　當歸　蘇梗　生地　山楂　腹皮　甘草　桂枝　芍藥　青皮</p>
<p>如嗽有風，加防風、燈芯廿根，水煎。</p>
<p>二、三個月胎氣奔上，寒熱飽脹：</p>
<p>陳皮　半夏　茯苓　甘草　白朮　黃芩　枳殼　蘇梗　香附　川芎　腹皮　歸身　芍藥　青皮　砂仁（一錢）　蘿蔔子（一錢）　姜（三片）</p>
<p>水煎。</p>
<p>胎前六、七個月，小腹絞痛，口吐清水，胎氣不和：</p>
<p>陳皮　黃芩　歸身　芍藥　川芎　熟地　白芷　蘇梗　吳萸　枳殼　甘草　半夏　山楂　香附　腹皮</p>
<p>水煎。</p>
<p>胎前七、八個月，胎氣不和：</p>
<p>大歸身　大川芎　枳殼　陳皮　芍藥　黃芩　蘇梗　熟地</p>
<p>加大腹皮，水煎服。</p>
<p>娠婦九個月，宜服維胎飲：</p>
<p><u>維胎飲</u>　陳皮　滑石　烏藥　歸身　川芎　芍藥　熟地　枳殼　黃芩　腹皮　白朮　</p>
<p><u>甘草</u>　桔梗　蘇梗　益母　花粉</p>
<p>妊婦十個月滿足，腹痛臨盆，催生散：</p>
<p>陳皮　烏藥　枳殼　乾薑　肉桂　甘草　白芷　木通　歸尾　益母　紅花　三稜　莪朮　香附　靈脂　百草霜</p>
<p>水煎服。</p>
<p>妊婦調理：</p>
<p>當歸　川芎　芍藥　熟地　陳皮　茯苓　甘草　黃芩　腹皮　枳殼　山楂　花粉　桔梗　砂仁（一錢，炒）　香附　大棗（二枚）</p>
<p>妊婦傷寒，大發熱：</p>
<p>小柴胡　黃芩　枳殼　紫蘇　陳皮　乾葛　甘草　川芎　羌活　花粉　桔梗　腹皮　香附　砂仁（一錢）　姜（三片）</p>
<p>有痰加淡竹葉、前胡、薑汁；飽悶加枳實、草果。</p>

<h1>論胎前諸症</h1>
<p>婦人之病，胎產為先，陰陽交遘，精氣寓焉。故衝任為系胞之原。又云：命門乃藏精之所。丹汞初揚，射入子宮，一莖兩歧，嬰兒兆始。一月如露，少陽膽養之，二月則厥陰肝養之，三月則厥陰心包絡養之，四月則少陰心養之，五月則陽明胃養之，六月則太陰脾養之，七月則陽明大腸養之，八月則太陰肺養之，九月則太陽膀胱養之，十月則太陰腎養之。乃臟腑相傳精血而哺胎胚者也。以常論之，初孕多嘔酸吐食，或嗜酸物，乃木氣臨胎之故也。夫人五臟，惟肝氣有餘，且木性喜揚而惡抑，更受胎氣之壅塞，而胸膈飽脹，惡食亦因性也。嘔酸、嗜酸，木味酸也，嘔食、惡食，木剋土也。漸致君相二火養胎，常見煩躁、發熱等候，此因心主血，血護胎原而不能灌溉血海也。脾胃養胎多見腹脹，或不嗜食而足脹者有之：一交大腸、肺月養之，臟躁多哭者有之。雖云：懷胎者，衝任為主，而亦無不於腎。膀胱，寒水也，腎亦寒水也。乃其養胎，腎氣已泄，而嬰兒臟腑皆備，故離經而娩焉。調攝之家，或預進藥餌，使子母皆寧，亦必按月日，察經絡陰陽之宜而服之，次則下藥可也。否則，恐藥餌雜進，不得其平。熱則胎元有墮、有遺之概論，寒則孕婦有痛、有泄之隱憂。合則為病多端，姑言其概，重則胎漏、胞碎，輕則惡食、頭疼。子癇、子懸、子瘖皆為艱難之候，兒啼、兒暈、兒腫亦屬奇突之徵。胎氣不安，或勞或怒，帶瀉頻來，應墜應虛。故安胎不若健脾，梁固而鐘不墜；肥胎不若養血，水深而魚自安。致於漏胎，多緣血熱，脈洪數者，亟宜清宜補，條芩、白朮、阿膠、續斷，甚則升提之法亦可權宜，胞碎漿來，脈已離經而必墮，急宜紫時破血，使其自下，如歸尾、桃仁、紅花、牛膝借勢可也，硝、黃總可選用，勿致經墜，枯渴而不下，而母必傾危。惡食者診脈，胃脈之虛實。實則消導而兼理氣和中，香砂、枳、術是其劑也：虛則溫補，益脾清脾，歸、芎、芍乃其宜乎？頭痛者，脈浮，必主外感，脈數定主火升。浮則輕劑疏散，桂枝、麻黃所在當禁；數則抑揚降火，承氣、白虎不可誤也。子癇者，孕婦如癡而口吐涎沫，惟清熱固胎而自已，冰射丹丸，概不可施，子懸狀如抱甕不能偃臥，惟破氣而相宜，子瘖不語，雖藥餌非產後不能言。兒啼者，因母伸手板高，以致哺兒之乳出，前輩已有案存。兒暈則母常昏暈，因母氣不能蔭胎，八珍、菖蒲方能勝任。雖兒腫悉屬脾虛，而兼乎小便不利，理脾行水，四物、地膚何疑，更有大方雜症，傷寒瘧利之分，然必居乎雜症，佐以安胎之品，如至病亟，或汗或下，勿以胎為拘，即慓悍之劑亦可施之，則《經》云「有故無殞」之意，愁常變，各從其病加減，常當神而明之。</p>
<p><u>催生方</u></p>
<p>當歸（一錢）　枳殼（一錢二分）　葵子（一錢五分）　皮硝（一錢）　生芝麻（一撮）　蔥白（二個）</p>
<p>煎服。胞破可服，未破不可用，恐終身不孕。胞衣不落，油菜子一撮研碎，水送下，效。</p>
<p><u>催生立應方</u>　難產、橫生、逆生俱效。</p>
<p>車前子（一兩）　當歸（八錢）　冬葵　白芷　枳殼　白芍（各三錢）　牛膝　腹皮（二錢）　川芎（五錢）</p>
<p>煎服。</p>
<p>凡婦人有喜，如一月者，胎形一點精，如草上露珠凝，未入宮羅，在裩外戶，或散或聚，噁心頭暈，不思飲食，脈浮緊，服此藥：</p>
<p>當歸　白芍（各三錢）　枳殼（四錢）　川芎　紫蘇（各二錢）　砂仁（一錢）　甘草（六分）</p>
<p>二月胎形如桃花，分枝葉在母北極之半，北極者，陰戶二寸。胎入腹未有胞衣，頭暈目花，嘔吐，不思飲食，服此藥：</p>
<p>桔梗　益智　木香　蒼朮　砂仁　黃芩（酒炒，各二錢）　厚朴　紫蘇　甘草（各一錢）　枳殼（三錢）　青皮（一錢）</p>
<p>三月胎形如繭，漸漸如蠶、一頭大，一頭小，欲負未入宮羅，病虛弱，噁心嘔吐，宜安胎為主。看天氣寒熱，隨症加減。三個月中有病服，胎前有病，宜安胎主方，一帖即愈。</p>
<p>四月胎入宮羅，衣裹膨至丹田，忌食兔、獐異物，蒜韭生冷，身體倦怠，氣急發熱，飲食無味，貪睡頭暈，四肢痠軟，服此藥：</p>
<p>蘇葉（一錢）　甘草　小茴香　枳殼（各五分）　厚朴　香附　砂仁　陳皮　蒼朮（各三錢）</p>
<p>煎七分，食遠服。</p>
<p>五月胎分男女，令母前行喚之，左顧是男，右顧是女，男思酸味，女思淡食。入宮室之內，其胎安穩，沒有他病，前方加減治之。</p>
<p>六月胎形，生肌長髮，男動左，女動右，在母腹中動如浮魚游水，如有別病，以安胎為主。</p>
<p>七月胎形長成，眼有光，鼻有氣，耳有開，口知味，件件俱完，母病行動艱難。如有別病，安胎為主，隨症加減。</p>
<p>八月胎氣，主心悶煩躁，飲食不知滋味，飯如糠秕，困弱，有傷脾胃，治宜平胃安胎。</p>
<p>九月胎形，在左右脅，大動憂煩氣悶，飲食不快，宜服此藥：</p>
<p>益母草（三兩）　當歸　枳殼　白芍（各四錢）　益智（三錢）　砂仁（二錢）　陳皮（一錢）　甘草（六分）</p>
<p>水二鍾，煎一鍾時服。</p>
<p>十月胎形滿足，四肢骨骼俱開，始得降生，必待其天然轉胞，切勿欲速，致生他病，如腰痛急、胞漿破，以家傳妙方服之：</p>
<p>當歸　川芎　百草霜（各二錢）　陳皮　香附　紫蘇（各七分）　大腹皮（五分）　滑石　三稜　莪朮　砂仁（各一錢）　乾薑　肉桂（各七分）　五靈脂（二錢）　玄胡索（三錢）</p>
<p>連進三次，胎自落而無患也。</p>
<p>凡胎前有病，安胎主方，如三個月有病，一帖即愈：</p>
<p>陳皮　黃芩　大腹皮　枳殼　蘇梗　芍藥　當歸　川芎　甘草　青皮　草果　茯苓</p>
<p>如嘔吐加半夏（薑製）、藿香，發熱加柴胡，渴加天花粉，中脘飽悶加木香、枳實，頭痛加羌活、白芷、細辛，骨節痛加荊芥、防風，脾胃不實加白朮、蒼朮、厚朴、山藥、米仁，瀉有積加木香、豬苓、澤瀉。</p>
<p>胎前傷風咳嗽飽悶方：</p>
<p>陳皮　桔梗　花粉　柴胡　紫蘇　乾葛　黃芩　前胡　大腹皮　桑白皮　甘草　枳殼　豆蔻　半夏　蘿蔔子　當歸川芎　砂仁</p>
<p>加燈芯、姜，久嗽加款冬花、杏仁、麥冬、五味子。傷風不省加麻黃，有痰加栝蔞仁、貝母、茯苓，虛汗不止加芍藥、酸棗仁，飽悶加青皮、木香。</p>
<p>凡胎前發熱，不思飲食，用此方：</p>
<p>黃芩（炒）　香附　陳皮　花粉　大柴胡　蘇梗　歸身　川芎　枳殼　乾葛　青皮　甘草　熟地　芍藥　茯苓　草果　羌活　山楂　腹皮　骨皮</p>
<p>面紅加山梔（炒黑）、黃柏（炒）、知母（炒）。</p>
<p>胎前單寒不止，飲食少進：</p>
<p>陳皮　黃芩　花粉　芍藥　生地　小柴胡　黃耆　白朮　人參　茯苓　蘇梗　甘草　枳殼　腹皮　當歸　川芎　砂仁　山楂　香附</p>
<p>頭痛加羌活，鼻塞加蔥頭、防風，遍身疼痛加荊芥。</p>
<p>凡胎前四、五個月，身體困倦，氣怠發熱，飲食無味，好睡頭暈，四肢痠軟，此方治之即愈：</p>
<p>橘紅　蒼朮　蘇葉（各二錢）　厚朴　香附（各三錢）　甘草（九分）　小茴香（一錢五分）　枳殼（五分）</p>
<p>分作三服，每日空心溫服。</p>
<p>凡胎不安逆上，脹滿疼痛，謂之子煩，服此方：</p>
<p>當歸　川芎　芍藥　陳皮　人參　紫蘇　腹皮　砂仁　棗子</p>
<p>如平素虛弱加生地，熱加黃芩、地骨皮，氣加香附，胸膈氣悶加枳實、黃連，因氣遍身疼痛加烏藥、木香，微瀉加黃連（炒）、芍藥、白朮，如飽悶不用白朮。</p>
<p>胎前不時作痛，不思飲食，用是方：</p>
<p>陳皮　桔梗　烏藥　歸身　川芎　枳殼　黃芩　腹皮　芍藥　青皮　檳榔　香附　楂肉　玄胡索（炒）　姜（一片）　茱萸（少許）</p>
<p>胎前五、六個月，脈困體弱，體重好睡，食不知味，膨脹，胎略動，此方：</p>
<p>當歸（二錢）　白芍　益母草　枳殼（各四錢）　砂仁　香附　益智　甘草（各一錢）</p>
<p>分作三服，每日空心溫服。</p>
<p>胎前見紅，胎欲動，腰痛：</p>
<p>枳殼　黃芩　地榆　牡蠣　青皮　腹皮　艾　歸身　川芎　熟地　芍藥　蒼朮　厚朴　草果　白朮　甘草　砂仁（一方用桔梗）</p>
<p>胎前脾胃不實：</p>
<p>陳皮　桔梗　黃芩　腹皮　山楂　山藥　白朮　茯苓　薏米仁（珍重用之，胎前忌用）　蒼朮　厚朴　白芍　草果　甘草　香附</p>
<p>胎前痢疾後重白積腹痛：</p>
<p>陳皮　桔梗　厚朴　木通　烏藥　山楂　黃芩　玄胡索　山藥　茯苓　姜（炒，用少）　米仁　豬苓　澤瀉　草果　甘草　白朮　茱萸　當歸身　川芎</p>
<p>胎前腹中疼痛下痢：</p>
<p>當歸　川芎　白芍　茯苓　澤瀉（各一兩）　白朮（一兩半）</p>
<p>為末，每服三錢，空心白滾湯下。</p>
<p>胎前痢疾紅積腹痛（胎前下痢，查彙集主方，以補中益氣湯加味治之，予屢試獲效，從錢生記。再如痢止後小溲不通，本方加車前子三錢，立效）：</p>
<p>陳皮　花粉　黃連（炒）　黃芩　腹皮　草果　白芍　蒼朮　厚朴　木通　米仁　山藥　茯苓　豬苓　澤瀉　木香　枳實（少許）　白朮　山楂</p>
<p>胎前大小便不通，遍身浮腫：</p>
<p>陳皮　桔梗　花粉　豬苓　澤瀉　枳殼　青皮　升麻　腹皮　蘇梗　草果　甘草　柴胡　香附　山楂　滑石　砂仁　黃芩　姜　車前子　茯苓皮</p>
<p>胎前七、八個月，胎氣不和：</p>
<p>歸身　枳殼　川芎　黃芩　香附　陳皮　芍藥　滑石　蘇梗　熟地　大腹皮</p>
<p>胎前八、九個月服達生散，以扶正氣、散滯氣，孕婦少虛者尤佳：</p>
<p>大腹皮　白朮　芍藥　當歸（各一錢）　陳皮　人參　甘草　紫蘇（各五分）</p>
<p>煎服。春加川芎、防風；夏加黃芩，或黃連、五味；秋加澤瀉；冬加縮砂、枳殼。胎動加苧根、金銀餙：上氣加紫蘇；性急加柴胡；多怒加黃芩；食少加縮砂、神麯：渴加門冬、黃芩；能食加黃楊頭；有痰加半夏、黃芩。</p>
<p>胎前不時發暈：</p>
<p>陳皮　桔梗　歸身　川芎　茯神　遠志　芍藥　香附　甘草　黃芩　枳殼　蘇梗　柴胡　草果　砂仁　腹皮</p>
<p>胎前瘧痰方：</p>
<p>紫蘇　陳皮　枳殼　黃芩　青皮　草果　蒼朮　厚朴　柴胡　山楂　歸身　川芎　白朮　烏梅（一個）　姜（三片）　砂仁（一錢一方用桔梗）</p>
<p>胎前傷食感寒，發為瘧疾：</p>
<p>橘紅　茯苓　草果　良薑　白朮　藿香葉　縮砂　棗姜　甘草</p>
<p>胎前二、三個月，胎氣湊上，寒熱飽脹：</p>
<p>陳皮　半夏　茯苓　白朮　黃芩　枳殼　蘇梗　香附　腹皮　歸身　川芎　甘草　芍藥　青皮　柴胡　姜（三片）　砂仁　蘿蔔子（各一錢）</p>
<p>胎前漏胎，小腹不時作痛：</p>
<p>黃芩　地榆　陳皮　花粉　續斷　枳殼　青皮　香附　芍藥　蒼朮　艾　牡蠣　甘草　歸身　川芎　熟地　草果</p>
<p>胎前六、七個月，小腹絞痛，口吐清水，胎氣不和：</p>
<p>陳皮　黃芩　歸身　茱萸　芍藥　蘇梗　腹皮　川芎　熟地　白芷　枳殼　甘草　半夏　山楂　香附</p>
<p>胎前胃虛氣逆，嘔吐不食，急服獨勝散：</p>
<p>砂仁一味為末，薑湯調服不拘。</p>
<p>胎九月須用滑胎散：</p>
<p>陳皮　烏藥　歸身　川芎　白芍　益母草　枳殼　蘇梗　黃芩　腹皮　花粉　桔梗　熟地　白朮　滑石</p>
<p>十月滿足，腹痛。</p>
<p><u>催生散</u>　陳皮　烏藥　枳殼　乾薑　肉桂　木通　益母草　歸尾　紅花　三稜　莪朮　五靈脂　牛膝　香附　白芷　百草霜</p>
<p><u>臨產易生散</u>（後易生藥，用豬心血和湯下）：</p>
<p>歸尾　川芎　芍藥　枳殼　乳香　木香　甘草　發灰</p>
<p>催經二月用：</p>
<p>乾薑　肉桂　枳殼　紅花　木通　杜牛膝　牡丹皮　生地　陳皮　香附　三稜　莪朮　白芷　桃仁　滑石</p>
<p><u>通經散</u>　紅花　鬼箭羽　牛膝　桂枝　乾漆　劉寄奴　乾薑　白芷　歸身　蘇木　三稜</p>
<p>三、四個月用墮胎散：</p>
<p>劉寄奴　丹皮　赤芍　生地　乾薑　肉桂　三稜　莪朮白芷梢（各一錢）　真寸香　甘草梢（各三分）　桃仁（二錢）　杜牛膝（一錢）　歸尾　紅花（各三錢）</p>
<p>好酒一碗，好醋一碗，煎八分，入好石灰五分，熱服。</p>
<p>調理孕婦：</p>
<p>香附　陳皮　黃芩　大腹皮　枳殼　歸身　芍藥　川芎　熟地　甘草　山楂　花粉　桔梗　茯苓　砂仁（一錢）　棗（一個）</p>
<p>妊婦傷寒，大發熱：</p>
<p>小柴胡　黃芩　枳殼　竹茹　陳皮　花粉　紫蘇　乾葛　甘草　歸身　川芎　羌活　大腹皮　桔梗　香附</p>
<p>有痰加竹瀝、薑汁，前發熱飽悶加枳殼、草果，總加姜三片、砂仁一錢。</p>
<p><u>束胎丸</u>（七、八個月恐胎氣展大，以此扶助母氣）</p>
<p>白朮　陳皮（忌火，各二兩）　白茯苓（七錢五分）　條芩（酒洗，夏天用一兩，秋冬七錢五分）</p>
<p>粥糊為丸，每服五、六十丸，空心白沸湯送下。</p>

<h1>胎前門主方加減活法</h1>
<p>陳皮　桔梗　天花粉　當歸　川芎　芍藥　生地　枳殼　青皮　黃芩　蘇梗　大腹皮　草果　山楂　甘草</p>
<p>胎漏加艾葉、地榆、牡蠣（去血，赤白同治）；腹痛加玄胡索、香附、砂仁；發熱加柴胡；小便不通加澤瀉、木通（名為胎壓膀胱，用升麻末一撮，少頃即通）；大便不通加郁李仁、檳榔、麻仁、枳殼；骨痛加羌活、獨活；中濕加蒼朮；傷風加荊芥、防風、白芷、乾葛；頭痛加川芎、荊芥；中熱加香薷、藿香；子腫加木通、蘿蔔、蒼朮、白朮；噁心加半夏、草果、肉桂（少許）；子虛加黃耆、白朮、茯苓；腰痛加杜仲；子脹加青皮、枳殼、蘇梗、蘿蔔子；泄瀉加木通、豬苓、澤瀉、米仁、山藥、蒼朮、厚朴；咳嗽有痰加半夏、杏仁、五味子、天冬；咳嗽無痰加款冬花、栝蔞仁、半夏、燈芯、蔥、姜；紅痢加黃芩、黃連（炒）、木香、青皮、檳榔、枳殼（三帖後不用枳殼、青皮、檳榔）；白痢加肉桂、木香、檳榔、厚朴、山藥、白朮、蒼朮、木通、米仁、吳茱萸；腰痛陣作加陳皮、桔梗、烏藥、山楂、枳殼、百草霜、乾薑、肉桂、青皮、木通、歸尾、川芎、茱萸、滑石、砂仁；瘧疾加青皮、檳榔、草果、柴胡、半夏、茯苓、扁豆、蒼朮、厚朴、砂仁、甘草；中風加荊芥、防風、天麻、乾葛。</p>

<h1>胎前方訣</h1>
<p>胎前妙藥橘甘陳，芍藥川芎生地青，</p>
<p>歸腹二皮花粉殼，山楂蘇梗果黃芩。</p>
<p>胎漏地榆牡蠣艾，腹痛玄胡香附砂。</p>
<p>去紅去白如前藥，發熱柴胡急急加。</p>
<p>小便不通澤瀉木，若難大便郁檳麻。</p>
<p>骨痛二活濕蒼朮，傷風乾葛芷荊防。</p>
<p>頭痛川芎荊芥用，中熱還須薷藿香。</p>
<p>子腫木通蒼白卜，噁心半夏桂草果。</p>
<p>耆朮茯苓治子虛，若還腰痛加添杜。</p>
<p>子脹枳殼用青皮，蘇梗再加萊菔子。</p>
<p>泄瀉木通豬苓澤，蒼朮厚朴山藥米。</p>
<p>咳嗽有痰半夏杏，天冬五味治此症。</p>
<p>若無痰嗽用款冬，蔞半燈芯蔥姜共。</p>
<p>痢紅痢白有良方，紅者芩連青木香，</p>
<p>枳殼檳榔加藥內，三帖就去殼青榔。</p>
<p>痢白肉桂木香米，樸通蒼白藥檳榔。</p>
<p>腰痛陣陣有良方，楂殼青姜百草霜，</p>
<p>茱萸歸尾通川滑，陳桔烏砂肉桂湯。</p>
<p>瘧疾青果柴半茯，砂草蒼樸豆檳榔。</p>
<p>中風荊防天麻葛，此是胎前神效方。</p>

<h1>產後</h1>
<p>凡產後血虛，宜補血，雖有他症，以末治之，追敗養新為主，忌一切生冷、油膩、腥膻、炙煿、傷血等物。主方：</p>
<p>當歸　川芎　熟地　肉桂　白芷　山楂　烏藥　陳皮　桔梗　乾薑　甘草　牛膝　靈脂</p>
<p>水煎。如發熱加柴胡；口渴加花粉，噁心加半夏，頭疼加白芷、羌活；飽悶加草果；腹痛加玄胡、吳萸；血暈加童便一鍾；骨節痛加羌活、荊芥穗，瘀血不下，加三稜、蓬朮、紅花；咳嗽加前胡。</p>
<p>臨盆腹痛，腰不甚痛者，未產也。其腰作陣痛者，宜服此方：</p>
<p>陳皮　桔梗　烏藥　山楂　枳殼　青皮　乾薑　肉桂　木通　吳萸　川芎　歸尾　滑石　砂仁（五分）　百草霜（一錢）</p>
<p>水煎。</p>
<p>產後血即上奔要死者，取童便一碗，飲之即愈。</p>
<p>產後狂言，瘀血不行：</p>
<p>陳皮　歸尾　桔梗　烏藥　川芎　熟地　乾薑　肉桂　紅花　靈脂　三稜　莪朮　白芷　香附　山楂　草果　甘草　砂仁（一錢）　生薑（三片）</p>
<p>水煎至八分，入童便一鍾，熱服。</p>
<p>產後乳汁不通（如婦人乳多，無小兒吃，乳房脹痛，欲乳回上，用麥芽二兩煎，服立效。故產後切不用麥芽，戒之）：</p>
<p>漏蘆　豬蹄（煅）　木通　肉桂　乾薑　陳皮　烏藥　白芷　山楂　益母　歸尾　川芎　熟地　桔梗　甘草</p>
<p>水煎。</p>
<p>產後二日之後，瘀血奔上發狂，言語顛亂，不省人事，即為中風發狂之症：</p>
<p>陳皮　桔梗　烏藥　山楂　柴胡　枳殼　三稜　蓬朮　歸尾　乾薑　官桂　吳茱萸　砂仁</p>
<p>如奔下兩腿如車輪之腫大者，不能展動，為惡血流滯入四肢之症：</p>
<p>陳皮　桔梗　山楂　柴胡　吳萸　白芷　乾薑　木通　三稜　川牛膝　蘇木　桂枝　歸尾　桃仁</p>
<p>先用炒熱麩皮熨之。</p>
<p>產後心腹絞痛，血迷心竅，不知人事，乃尋常瘀血、積血作痛，用失笑散：</p>
<p>五靈脂　硃砂（同炒）　蒲黃（炒）</p>
<p>三味等分為末，溫酒下。</p>
<p>產後腹痛舒筋湯：</p>
<p>玄胡索　當歸　桂心　杜仲　桃仁　牛膝　續斷　水酒各半</p>
<p>產後生腸不收，枳殼煎湯即收。</p>
<p>產後玉門不閉：</p>
<p>硫黃（一兩）　吳萸（七錢五分）　菟絲子（七錢五分）　蛇床子（五錢）</p>
<p>水煎洗。</p>
<p>產後血暈，漆器燒煙燻鼻即蘇。</p>
<p>產後子宮不收，痛不可忍：</p>
<p>淡竹葉煎湯，先熏後洗，後用五倍子末、白礬末，乾摻效。</p>
<p>產後勞動，陰脫不收：</p>
<p>硫黃　烏鯽魚骨（各五錢）　五味子（二錢五分）</p>
<p>共為末，摻陰處，即安也。</p>
<p>產後抬出，因用力太過，陰中突出一物，如茄子之狀：</p>
<p>用石醋炒赤色，煎湯洗之，次日即收。一方或用石灰，煎湯洗之妙。</p>
<p>產後一、二日服此藥，永無百病：</p>
<p>益母草（一把）　當歸（三錢）　生地（三錢）　甘草（五分）　川芎（一錢五分）　山楂（三錢）</p>
<p>用好酒一碗，童便（去頭尾）一鍾，入藥內，同煎服。</p>
<p>產後血虛須補血，雖有別病，以末治之，追敗養心為主，切忌生冷之物，調理主方：</p>
<p>當歸　川芎　熟地　肉桂　白芷　山楂　烏藥　陳皮　桔梗　益母草　五靈脂　乾薑　牛膝　甘草</p>
<p>發寒熱加柴胡，口渴加天花粉，飽脹加草果，頭痛加白芷、羌活，腹痛加玄胡索、茱萸，血暈加童便，瘀血不下加紅花、三稜、莪朮，咳嗽加柴胡、門冬，骨節疼痛加荊芥，噁心加半夏。</p>
<p>產後血虛，三朝空痛：</p>
<p>烏藥　陳皮　桔梗　香附　白芷　乾薑　肉桂　玄胡索　益母草　五靈脂　熟地　甘草　歸尾　川芎　牛膝　山楂　三稜　莪朮</p>
<p>產後兒枕作痛：</p>
<p>陳皮　烏藥　桔梗　乾薑　肉桂　五靈脂　熟地　甘草　歸尾　川芎　牛膝　山楂　益母草　白芷　香附</p>
<p>產後十朝，瘀血太多，小腹刺痛：</p>
<p>陳皮　桔梗　烏藥　乾薑　肉桂　白芷　芍藥　川芎　歸尾　熟地　牛膝　茱萸　山楂　香附　玄胡索</p>
<p>產後內傷，丹田刺痛：</p>
<p>歸尾（三錢）　白朮　肉桂　姜　陳皮　桔梗　白芍　連□　山楂（各一錢）　白芷（二錢）　玄胡索　乳香（各五分）　胡桃肉（三個）</p>
<p>產後傷風，頭痛骨疼，發熱：</p>
<p>陳皮　桔梗　乾葛　柴胡　羌活　歸尾　川芎　白芷　肉桂　防風　荊芥　甘草　半夏　前胡　姜</p>
<p>產後乳水不通：</p>
<p>漏蘆　豬蹄　木通　陳皮　烏藥　白芷　山楂　桔梗　川芎　歸尾　熟地　甘草　益母草　姜　桂</p>
<p>產後破傷風：</p>
<p>蘇梗　歸尾（各三錢）　防風　羌活　白芷　川芎　柴胡　乾葛（各二錢）　陳皮　姜　桂　荊芥　前胡　木通（各一錢）　半夏（五分）　甘草（三分）　蔥　姜</p>
<p>產後氣血兩虛，不思飲食，小腹作痛：</p>
<p>歸身（三錢）　熟地　白芍　香附（各二錢）　陳皮　桔梗　川芎　草果　烏藥　乾薑　桂　白芷　茯苓　砂仁（各一錢）　玄胡索（五分）　甘草（三分）　五靈脂（五分）　姜（三片）</p>
<p>產後大補氣血調理：</p>
<p>歸身（三錢）　川芎　香附　白芷　山楂　熟地（各二錢）　陳皮　芍藥　乾薑　肉桂　茯苓　桔梗　烏藥（各一錢）　甘草（三分）　棗（一個）</p>
<p>產後勞倦發熱：</p>
<p>歸身（三錢）　陳皮　花粉　熟地　骨皮　烏藥（各二錢）　桔梗　香附　川芎　小柴胡　荊芥　砂仁（各一錢）　白芷　乾薑　肉桂（各五分）　甘草（三分）　姜（三片）</p>
<p>產後食傷脾胃（名脾瀉）：</p>
<p>陳皮　草果　蒼朮　厚朴　白芍　山茱　豬苓　茯苓　白朮　桔梗　肉桂　乾薑（各一錢）　米仁　山楂（各二錢）　甘草（三分）　枳實（五分）　</p>
<p>產後十朝，瘀血不止，小腹急痛：</p>
<p>歸尾（二錢）　陳皮　川芎　熟地　芍藥　紅花　乾薑　肉桂　烏藥　白芷　香附　三稜　莪朮　草果　五靈脂（各一錢）　玄胡索（五分）</p>
<p>產後中風不語：</p>
<p>石菖蒲　貝母（各二錢）　陳皮　防風　荊芥　蘇梗　乾葛　乾薑　肉桂　牛膝　硃砂（各一錢）　白芷　烏藥　砂仁　姜（三片）　童便（一鍾）（另方用香附）　</p>
<p>產後狂語，瘀血不行：</p>
<p>陳皮　歸尾　桔梗　烏藥　川芎　熟地　乾薑　肉桂　紅花　三稜　莪朮　五靈脂　白芷　香附　山楂　草果　甘草　姜（三片）　砂仁（一錢）　童便（一鍾）</p>
<p>熱服。</p>
<p>產後痢疾，腹痛後重：</p>
<p>木香　茯苓　陳皮　山茱　苡仁　白朮　木通　蒼朮　厚朴　芍藥　乾薑　肉桂　玄胡　烏藥　豬苓　澤瀉　草果　半夏　砂仁</p>
<p>產後遍身疼痛，轉側不便，此惡血流滯四肢也，宜服此方：</p>
<p>歸尾　紅花　赤芍　荊芥　生地　川芎　防風　肉桂　乾薑　牛膝　陳皮　烏藥　蒼朮　木通　羌活　白芷　香附　甘草</p>
<p>外用炒麩皮通身熨轉。</p>
<p>產後傷風，咳嗽吐痰，潮熱：</p>
<p>骨皮　花粉　前胡　乾葛　桑皮　陳皮　桔梗　門冬　杏仁　茯苓　甘草　半夏　烏藥　歸身　川芎　防風　小柴胡　姜（三片）　燈芯（三十段）</p>
<p>產後過月，小腹有塊，升上升下作痛，此氣血積聚，只定痛為主：</p>
<p>陳皮　枳殼　山楂　白芷　玄胡索　烏藥　歸尾　肉桂　乾薑　草果　甘草　芍藥　木香　五靈脂　蘿蔔子（各一錢）　姜（三片）</p>
<p>產後月餘，忽然瘀血流行，小腹作痛，紫血塊者：</p>
<p>乾薑　肉桂　白芷　芍藥　枳殼　陳皮　烏藥　香附　桔梗　山楂　玄胡　歸尾　川芎　熟地</p>
<p>產後月餘，乍寒乍熱，如瘧疾狀：</p>
<p>陳皮　歸身　川芎　小柴胡　桔梗　花粉　生地　白芍　黃耆　茯苓　香附　羌活　烏藥　山楂　甘草　半夏</p>
<p>產後瘧疾：</p>
<p>甘草　防風　陳皮　桔梗　蒼朮　厚朴　熟地　茯苓　乾薑（少）　肉桂（少）　花粉　砂仁（一錢）　烏梅（一個）　生薑（三片）</p>
<p><u>絕瘧飲</u>　常山　檳榔　草果　枳殼　青皮　蒼朮　厚朴　陳皮　甘草　半夏　烏梅（一個）</p>
<p>白酒同水煎，露一宿，五更涼服。</p>
<p>瘧疾虛極，汗出不止：</p>
<p>歸身　黃耆（各三錢）　熟地（二錢）　人參　鱉甲　白芍　蒼朮　厚朴　陳皮（各一錢）　棗子（二個）</p>
<p>勞倦血虛，遍身疼痛：</p>
<p>歸身　川芎　白芍　陳皮　烏藥　熟地　花粉　柴胡　香附　山楂　荊芥　羌活　白芷　甘草　蒼朮　砂仁（五分）　姜（三片）</p>
<p>虛勞黃瘦：</p>
<p>歸身　川芎　茯苓　陳皮　花粉　烏藥　熟地　白芍　香附　白芷　山楂　柴胡　蒼朮　厚朴　甘草</p>
<p>小便淋漓作痛，閉滋不通：</p>
<p>木通　升麻　烏藥　車前子　枳殼　芍藥　豬苓　澤瀉　陳皮　花粉　桔梗　大腹皮　草果　茯苓　甘草　白芷　香附</p>
<p>虛勞發熱，咳嗽無痰，用止熱止嗽藥不愈，服犀角地黃湯：</p>
<p>犀角　淮生地　銀柴胡　胡黃連　橘紅　骨皮　知母　天花粉　天冬　麥冬　甘草　黃芩　茯苓　歸身　川芎</p>
<p>產後通方論（後載方）</p>
<p>凡產後滿月，氣血充足則病不生，若氣血虛弱，百病俱生，婦人多患此。但臨產之時既患惡血，豈能盡消？血暈不省人事，心頭飽悶，小腹脹痛。產後身子輕快，雖有別病，且自安之，三朝以來，陰陽相爭，寒熱並至，以家傳妙方治之。不然，則三日一發，五日一發，七日、十日一發，服藥少可。如惡露不盡，其寒熱即止。月滿之際，寒熱交作，別病成患，不可言也。</p>
<p>定方：陳皮　香附　當歸　川芎　靈脂　莪朮　三稜　肉桂　乾薑　玄胡索　白芷　熟地　枳殼　桔梗　蒼朮</p>
<p>加減：寒熱加紫蘇，昏迷不省加童便，遍身痛加烏藥，傷風咳嗽加桑皮、桔梗、杏仁，小便不通加木通或通草。</p>
<p>又方：當歸　川芎　熟地　乾薑　白芷　肉桂　山楂　烏藥　陳皮　甘草　桔梗　益母　靈脂　牛膝</p>
<p>寒熱加柴胡，渴加天花粉；飽脹加草果；頭痛加白芷、羌活，腹痛加玄胡索、茱萸，骨節痛加荊芥，瘀血不下加紅花、三稜、莪朮，血暈加童便；噁心加半夏，咳嗽加前胡、麥冬。</p>
<p>產後瘀血作痛：</p>
<p>歸身（二錢）　靈脂　川芎　砂仁　香附　蓬朮　山茱萸　赤芍　紅花　乾薑　烏藥　肉桂　丹皮　枳殼（各一錢）　甘草（三分）</p>
<p>產後惡露不下，兒枕塊痛，一切血氣，臍腹撮痛：</p>
<p>當歸　芍藥　蒲黃　紅花　玄胡索　血竭　桂心　沒藥　乾漆（炒煙盡）</p>
<p>為末，酒調，每服二錢。</p>
<p><u>催生神應散</u>　車前子（一兩）　冬葵子（三錢）　白芷（三錢）　枳殼（二錢）</p>
<p>水煎，不拘時服。如不下，加牛膝；十月足，無陣痛，亦可服，連日不下，加牛膝二錢，痛急墜，加大腹皮八分；欲產不產而無陣痛者，血虛，加白芍、歸尾、紅花各一錢。</p>
<p>又方催生用歸尾、川芎、發灰一團、龜甲三片，臨產水煎服。</p>

<h1>產後門主方加減（載後）</h1>
<p>陳皮　桔梗　烏藥　牛膝　山楂　白芷　乾薑（炒）　肉桂　香附　甘草　山茱萸（末）　玄胡索　五靈脂</p>
<p>三日外發寒熱，加柴胡、當歸尾；七日外發寒熱，小腹痛，加三稜、蓬朮、桃仁；十四日外發寒熱，乃虛熱也，加川芎、當歸、熟地、茯苓、柴胡；廿一日腹中升上升下痛者，乃氣也，加草果、豆蔻、檳榔、砂仁；小腹中一塊痛，乃惡血不盡，加三稜、蓬朮、歸尾、桃仁；三、四日或七、八日，血已盡而升上升下痛者，乃氣食相干症也，加草果、檳榔、枳殼、山楂、三稜、莪朮；初產三日至七日，小腹如有胎之狀，此臨盆進風，為破腹傷風症，加防風、荊芥、蘇木、乾葛、獨活、蓬朮、三稜、白芷；廿八日外，有鮮血、惡血來，即是淋瀝，加天花粉、川芎、艾、牡蠣、地榆、黃芩、生地、白芍、當歸、玄胡索、肉桂（去）、烏藥（去）、茱萸（去）、乾薑（去）；一月外，血虛寒熱，加人參、白朮、歸身、川芎、茯苓、白芍、茱萸、乾薑；咳嗽加杏仁、五味子、天冬；有風痰嗽，加乾葛、紫蘇、前胡、桑白皮；無風痰嗽，加茯苓、白朮、當歸、川芎、赤芍；噁心加半夏；發熱加柴胡；赤白淋漓，加地榆、白芷、艾葉、牡蠣；失於調理虛損，加人參、白朮、茯苓、甘草、黃耆、川芎、當歸、白芍、熟地、肉桂、香附；三日外，瘀血奔上發狂，言語顛倒，不省人事，即是中風發狂，加陳皮、桔梗、烏藥、山楂、柴胡、真硃砂、三稜、枳殼、蓬朮、歸尾、乾薑、茱萸、肉桂；三日外，瘀血奔下，兩脅腫脹，不便轉動，即惡血流注，加陳皮、桔梗、山楂、木通、白芷、乾薑、官桂、柴胡、三稜、蓬朮、茱萸、牛膝、歸尾、桃仁；噁心，虛氣相干，積聚為痞，在左為血，在右為氣，在中為痰，治血加陳皮、桔梗、烏藥、山楂、香附、三稜、蓬朮、五靈脂、玄胡索、歸尾、川芎、木香、檳榔、草果，治氣加枳殼、茱萸、青皮、豆蔻、乾薑、官桂，治痰加半夏、南星、五靈脂（去）、官桂、茱萸，乾薑；骨節疼痛加羌活；頭痛加川芎、荊芥；二十日內大發熱，必加炒黑乾薑；風症加防風、荊芥、蘇木、乾葛、白芷、獨活、蓬朮、三稜；七日外，小腹作痛者，有塊，發寒熱，惡血未盡，或內傷產門，為陰傷症，輕則七日而愈，重則十四日而愈，極重而廿一日而愈，加荊芥穗、白芷、連翹、金銀花；傷風加防風、紫蘇、乾葛；有痰加半夏、茯苓、甘草、陳皮；骨痛加羌活、當歸；腰痛加茯苓、杜仲；小便不通加車前子、木通、澤瀉、升麻；大便不通加郁李仁、麻仁、枳實，七日以外仍加大黃；泄瀉加木通、豬苓、澤瀉、山藥、蒼朮、厚朴、米仁；痢疾加檳榔、木香、木通、豬苓、澤瀉、枳殼；瘧疾加柴胡、青皮、檳榔、草果、厚朴、甘草；血虛發熱加川芎、當歸、白芍（炒）、生地、黃芩；傷食加枳殼、山楂、草果、三稜、蓬朮；中濕如水面上浮者之狀，遍身浮腫，眼目視物不轉睛者，加防風、荊芥、三稜、蓬朮、茱萸、白朮、乾薑、肉桂、柴胡、歸尾、桃仁、蘿蔔子、川烏、草烏（不可用多，每貼二分）；中風不語，不省人事，此乃惡血迷心，舌乃心之苗，故不語，必先觀其眼珠轉動治，不能轉動者不治，加陳皮、桔梗、石菖蒲、歸尾、烏藥、門冬、桃仁、防風、辰砂、甘草。</p>

<h1>產後方訣</h1>
<p>產後不惟去惡血，白芷楂陳梗牛膝，</p>
<p>乾薑肉桂萸茱烏，香附靈脂玄胡入。</p>
<p>三日外若發寒熱，柴胡歸尾不可缺。</p>
<p>七日寒熱小腹痛，桃仁蓬稜三味精。</p>
<p>十四外來是虛寒，歸芎柴茯地黃尊。</p>
<p>廿一日外腹中疼，升上升下作氣論，</p>
<p>草果檳榔砂仁蔻，四味加添效如神。</p>
<p>心腹之中一定痛，原來惡物尤未盡，</p>
<p>速加稜術歸尾桃，惡物出兮無餘剩。</p>
<p>又有氣食相干症，升上升下痛難禁，</p>
<p>果檳枳實共山楂，便是稜術亦可進。</p>
<p>初產三至七日間，小腹狀若有胎然，</p>
<p>此是臨盆進風故，破腹傷風自古傳，</p>
<p>藥用荊防蘇術葛，獨活白芷三稜添。</p>
<p>廿八惡血鮮血來，產後淋漓真大害，</p>
<p>四物湯加花粉索，黃芩地榆牡蠣使，</p>
<p>切忌蔥姜烏桂萸，因有鮮血恐大潰。</p>
<p>一月外發血虛寒，亦忌前方五味全，</p>
<p>參朮芎歸茯芍藥，補其血氣免憂煎。</p>
<p>咳嗽天冬味杏仁，有風而嗽慢評論，</p>
<p>須加乾葛前胡紫，桑白鬚加止嗽神，</p>
<p>無風而嗽須芍藥，白朮芎歸用茯苓。</p>
<p>噁心半夏加些好，發熱柴胡自古論，</p>
<p>赤白淋漓只四味，地榆艾芷加牡蠣。</p>
<p>失於調理至虛損，白朮肉桂加人參，</p>
<p>當歸生地川芎芍，香附黃耆甘茯苓。</p>
<p>三日外若瘀血虛，發狂顛倒中風形，</p>
<p>硃砂稜術柴官尾，烏殼姜楂陳萸梗。</p>
<p>三日外若瘀血墜，兩足腫脹難進退，</p>
<p>前方減去朱烏殼，加入桃仁芷膝通。</p>
<p>積塊稜術楂歸尾，玄胡烏附木檳陳，</p>
<p>靈脂川芎桔草果，分氣分痰仔細評，</p>
<p>氣加青殼吳萸蔻，官桂乾薑亦味佳；</p>
<p>若是痰兮用星半，減去靈脂桂姜萸。</p>
<p>骨節疼痛加羌活，頭痛川芎荊芥臨。</p>
<p>二十日內發大熱，必用乾薑須炒黑。</p>
<p>風症荊防蘇木葛，蓬朮獨活芷三稜。</p>
<p>七日以外小腹痛，有塊發寒血未盡，</p>
<p>或因內致產門傷，芷翹銀花荊芥穗。</p>
<p>傷風蘇葛與防風，有痰二陳湯須定。</p>
<p>骨痛羌活及當歸，腰痛茯苓與杜仲。</p>
<p>小便不通車前子，木通澤瀉升麻境。</p>
<p>大便枳實郁麻仁，七外不通將軍應。</p>
<p>泄瀉木通豬苓澤，山藥蒼樸薏米仁。</p>
<p>痢疾檳榔共木香，木通澤瀉殼豬苓。</p>
<p>瘧疾柴胡青皮草、厚朴檳榔草果仁。</p>
<p>血虛發熱四物芩，傷食楂殼果蓬稜。</p>
<p>中濕遍體多浮腫，眼目視物不轉睛，</p>
<p>荊防蓬稜茱萸術，薑桂柴卜尾桃仁，</p>
<p>川烏草烏休多用，每帖只用二三分。</p>
<p>中風不語血迷心，眼定不必費精神，</p>
<p>眼珠轉動稍可救，陳皮桔梗與桃仁，</p>
<p>菖蒲歸尾同烏藥，門冬防風甘草辰。</p>

<h1>萬病回生丹治產後十八症</h1>
<p>人參（三錢）　白朮（三錢）　白茯苓（一兩）　甘草（五錢）　當歸（一兩）　川芎（一兩）　熟地（一兩）　白芍（五錢）　桃仁（一兩）　玄胡（一兩）　靈脂（五錢）　蒲黃（一兩）　三稜（五錢）　羌活（五錢）　地榆（五錢）　牛膝（五錢）　良薑（五錢）　茱萸（用肉五錢）　陳皮（五錢）　蒼朮（一兩）　香附（一兩）　烏藥（二兩五錢）　木瓜（五錢）　青皮（三錢）　木香（一錢）　乳香（一錢）　沒藥（一錢）</p>
<p>共為細末，用大黃膏為丸。大黃一斤為末，蘇木三兩銼碎，用水五碗，煎汁三碗，去渣存汁。紅花三兩，炒黃色，入好酒一大壺，煮三、五滾，去渣存汁。黑豆三升，煮熟去豆存汁三碗。外用好醋四碗，入大黃末攪勻，熬成膏，如干再入醋一碗，如此三遍。次下紅花汁、蘇木湯、黑豆汁，攪開大黃膏，令勻，入熬成膏，取出，盆內盛之，將鍋巴焙乾為末，與回生丹藥細末和勻，將大黃膏為丸如彈子大，不拘時服，每用一丸，酒頓下。</p>
<p>此藥專治產後十八症，奇傳神效：</p>
<p>子死腹中第一，難產第二，胎衣不下第三，產後血暈第四，口乾心悶第五，寒熱時瘧第六，四肢浮腫第七，癲狂亂語第八，失音不語第九，產後瀉痢第十，百節痠疼第十一，尿血如雞肝第十二，脹滿嘔吐第十三，咳嗽寒熱第十五，喉中蟬聲第十六，衄血生斑第十七，腰痛便澀第十八。</p>
<p>以上諸症，急用回生丹二、三丸，酒化下，頓服即愈。</p>
<p>產後頭疼，發熱咳嗽，身熱無汗，為之傷寒，加麻黃末三分，蔥薑湯服；產後頭疼，身熱有汗，為之傷風，加桂枝三分，蔥薑湯服。產後咳嗽不止，加人參三分，五味子八粒，蘇葉三片，酒煎服。產後無乳，加天花粉末三分，當歸末三分，穿山甲三分（炙黃色），為末，熱酒服下，不拘時服，令揉乳千餘轉，其乳如湧泉而出。室女經閉不通，加蓬朮末三分，赤芍末三分，薑黃末五分，天花末四分，同酒內傾化，不拘時服。婦人尋常前後月信不一，每用一錢，空心酒頓化服，切忌生冷鹹酸等物。婦人風中，角弓反張，口噤涎沫，黑豆半升，炒令焦黑，候煙起以無灰，酒二升沃之，入瓷器內，每用此酒半升，入獨活五錢，同煎六分，溫服。產後死血作淋、痛不可忍，此症亦能損胃不食，用土牛膝一合，水五鍾，煎折其四，去渣，入麝香少許，空心服。產後瘀血衝心不能止者，用好醋一碗，燒紅鐵稱錘，連焠數次，服之即愈。</p>
<p>產後血痛：</p>
<p>歸尾　赤芍　赤苓　玄胡索　丹皮　紅花　香附　牛膝　陳皮　益母草　甘草</p>
<p>水煎服。如痛甚，加五茄皮、三稜、蓬朮、刀豆殼。</p>
<p><u>烏金丸</u>　產後可逐瘀血，能止腹痛，亦可行經，妙不可述。</p>
<p>錦紋大黃八兩（炒盡煙）　廣木香（一兩）　沒藥（一兩）</p>
<p>二味共為末，煎大黃膏為丸如彈子大，每用一丸，酒下。</p>
<p><u>黑神散</u>（又名回生丸）　專治婦人經凝，產後瘀血攻心，流血不止。兼治跌撲損傷，木石壓壞垂死，不過三服，用蔥敷之，內用酒化一丸，加童便尤妙。如人見官臨杖，先服一丸，及能護心保命。</p>
<p>當歸（酒洗）　赤芍（炒）　熟地（酒浸）　蒲黃（炒）　桂心（去粗皮）　甘草（各四兩）　黑豆（炒半升）　黃茄種殼（四兩）</p>
<p>以上為末，煉蜜為丸，每重三錢，隨症用湯送下。</p>
<p>產後瘀血衝心，幾乎絕者，用煤五、六兩一塊，燒紅，淬酒數次，將酒服之，須臾即定。</p>
<p>產後去血過多而血暈：</p>
<p>當歸　生地　烏藥　荊芥穗　益母草　乾薑（炒黑）　紅花</p>
<p>以童便、酒各半鍾沖服。</p>
<p>產後骨節疼痛痠軟，身子發熱：</p>
<p>烏藥　山楂　歸尾　香附　生地　益母草　乾薑　紅花　蘇木　肉桂</p>
<p>童便，酒各半，沖服。</p>
<p>產後頭疼，身子虛弱：</p>
<p>當歸　生地　香附　人參　知母　麥冬　乾薑（炒黑）　川芎　加童便</p>
<p>產後虛熱，出汗不止：</p>
<p>人參　黃耆　白朮　生地　川芎　黃芩　香附　知母　益母草　加蓮肉</p>
<p>產後腰疼腹痛：</p>
<p>杜仲　當歸　生地　蘇木　乾薑（炒黑）　烏藥　紅花　香附　山楂　益母草</p>
<p>產後頭疼腹痛，名為弄水：</p>
<p>乾薑　肉桂　烏藥　紅花　山楂　益母草　當歸　生地　香附　蘇木　加童便　酒</p>
<p>產後口渴津枯：</p>
<p>知母　當歸　山梔仁　麥冬　天花粉　生地　黃連　陳皮　甘草</p>
<p>產後血熱相搏而發譫語：</p>
<p>柴胡　黃芩　生地　當歸　半夏　山梔仁　麥冬　知母　陳皮　蘇木</p>
<p>產後腰痛，腿軟癱：</p>
<p>當歸　紅花　苡米仁　漢防己　羌活　防風　木瓜　杜仲　生地　烏藥　蘇木　乾薑</p>
<p>酒沖。</p>
<p>產後作瀉或痢疾：</p>
<p>白朮　茯苓　山藥　白芍　陳皮　木香　枳殼　米仁　吳茱萸　人參　乾薑（炒黑）　甘草　黃連　加砂仁　蓮肉　</p>
<p>產後頭疼惡風：</p>
<p>羌活　細辛　藁本　當歸　地黃　烏藥　防風　香附　川芎</p>
<p>產後身熱咳嗽：</p>
<p>白朮　麥冬　知母　黃芩　貝母　桑皮　陳皮　枳殼　桔梗　黃連　乾薑（炒黑）　山梔　有汗加黃耆</p>
<p>產後遍身發腫：</p>
<p>當歸　白朮　茯苓皮　芍藥　黃連　木香　厚朴　大腹皮　蘿蔔子　人參　陳皮　枳實　加燈芯　砂仁</p>
<p>產後半月，血來不止：</p>
<p>當歸　續斷　蒲黃（炒）　黃連　地榆　乾薑（炒黑）　黃芩　砂仁　熟地</p>
<p>產後聲啞喉嚨痛：</p>
<p>桔梗　薄荷　貝母　黃連　玄參　黃芩　山豆根　梔子　當歸　白朮　陳皮　甘草　白茯苓　天花粉　圓眼肉</p>
<p>產後腹有塊疼痛：</p>
<p>烏藥　山楂　肉桂　當歸　地黃　紅花　益母草　乾薑（炒黑）　水酒</p>
<p>產後癱瘓不起：</p>
<p>秦艽　當歸　生地　天花粉　羌活　香附　米仁　木瓜　人參　川牛膝　漢防己　黃耆</p>
<p>水煎，沖酒服。</p>
<p>產後心痛欲死者，百藥不效，服此即愈：</p>
<p>五靈脂　蒲黃（炒）</p>
<p>為末，醋湯下。</p>
<p>產後風病不能行動：</p>
<p>防己（一兩）　蒼朮（二兩半，泔水浸，炒）　白朮（二兩土炒）　木瓜（一兩）　米仁（三兩，水浸一宿，炒）　牛膝（二兩酒浸）　歸身（二兩酒炒）　芍藥（一兩）　生地（一兩酒浸）　紅花（三錢）　橘紅（一兩）</p>
<p>共作十帖，水煎服。</p>
<p>產後胎衣不下，惡血湊心，其症心頭迷悶，胎衣上逆衝心，須臾不治，其母即亡：</p>
<p>乾漆（五錢）　大附子（一個炮，去皮尖）　大黃（五錢）</p>
<p>醋熬干二味，為丸如桐子大，每服卅丸，淡醋湯送下，須臾又進一服，胎立下矣。</p>
<p>產後惡露不盡，腹痛：</p>
<p>大歸身　紅花　川芎　乾薑　肉桂　楂肉</p>
<p>小產下血久不止者：</p>
<p>人參　黃耆　當歸　白朮　白芍（酒炒）　甘草　阿膠（炒）　川芎　青皮（炒黑）　香附　艾　砂仁</p>
<p>水煎。</p>
<p>產後戶內暴脫一物如帕，用力太過，元氣下陷：</p>
<p>人參　黃耆　白朮　升麻</p>
<p>後用川芎、當歸、白芍、甘草調養。</p>
<p>小產後心腹疼痛：</p>
<p>當歸　川芎　熟地　芍藥　玄胡　香附　青皮　澤蘭　丹皮　紅花　桃仁</p>
<p>水煎，童便沖服。</p>
<p>產後胞衣不下，用奪命丹：</p>
<p>牡丹皮　大黃（各四錢）　附子（三錢）　乾漆（一錢）</p>
<p>上為末，雞子清為丸，土牛膝湯下。</p>
<p>產後虛汗不止：</p>
<p>人參　黃耆　當歸　牡蠣　浮小麥　麻黃根　生薑　</p>
<p>水煎服。</p>
<p>產後積聚，瘀血成塊，宜破紫血丸，治之如神：</p>
<p>紅娘子（一錢微炒）　蒲黃（三錢）　歸尾（酒浸）　斑蝥（去頭足，焙七分）　雄黃　血竭（一錢）</p>
<p>共為細末，麵糊為丸，如胡桃大，金箔為衣，每服九丸。空心酒送，一服痛止。</p>
<p>產後血氣攻心單方：</p>
<p>香附研為末，每服二錢，好酒熱下。</p>

<h1>烏金散治產後十八症</h1>
<p>木香　烏大豆　肉桂　真蒲黃　當歸　血餘炭　赤芍藥　青皮　凌霄花　大薊　小薊　棕毛灰　紅花　蠶種幣　硃砂　血竭　大黃</p>
<p>以上十八味，除灰外，俱研末，連灰、酒一處研勻，用薑湯或凌霄花湯，酒下亦可，病甚者，日進三服。</p>
<p>此藥治胎衣不下，難產，產後血暈，口乾心煩，產後寒熱，四肢浮腫，癲狂，言語無度，乃血邪也，並治之。失音不語，骨痛痠疼，胸膈氣滿，嘔吐，咳嗽，潮熱不定，或小便澀，或舌乾，鼻中出血，繞頂出斑，腰痛如刺，或腹疼痛，喉內蟬聲，並皆治之。</p>

<h1>黑虎丹治產後血症垂死者即生</h1>
<p>五靈脂　川當歸　川芎　良薑</p>
<p>等分，入砂盆內，再煎靈脂末，取調封縫紙觔，搗鹽泥固濟，炭火十斤，鍛通紅，去火候冷，開盆，看成黑糟研，入後藥：</p>
<p>硫黃（半制半生一兩）　花蕊石（鍛一錢）　乳香（一錢五分）　琥珀（一錢）</p>
<p>俱令研細末，和勻，醋糊丸彈子大。每服一丸，炭火燒通紅，投姜，自然汁（無灰）、好酒各一合，童便半鍾，研頓服。</p>
