<header data-type="book">
<h1>難經懸解</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>黃玉璐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1756">公元1756年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02092770.cn">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>昔黃帝傳《內經》，扁鵲作《難經》，《史·倉公傳》所謂黃帝、扁鵲之脈書，黃帝脈書即《內經》，扁鵲脈書即《難經》也。妙理風生，疑叢霧散，此真千古解人！其見五臟癥結，全恃乎此，不須長桑靈藥，上池神水也，而《史》傳載之，此子長不解耳。</p>
<p>扁鵲姓秦，名越人，齊勃海人也，家於鄚。為醫或在齊，或在趙，在齊號盧醫，在趙名扁鵲。過邯鄲，聞貴婦人，即為帶下醫。過洛陽，聞周人愛老人，即為耳目痹醫。入咸陽，聞秦人愛小兒，即為小兒醫。扁鵲名聞天下，其生虢太子也，天下盡以扁鵲能生死人。扁鵲曰：越人非能生死人也，此自當生者，越人能使之起耳。《史·扁鵲傳》。</p>
<p>嗟乎！秦越人不能生死人，何今之人偏能死生人耶？天下之病，孰非當生者，遇越人而生，遇餘人而死。越人，一人而已，而後世醫工，自仲景以來，不知幾千人也，則其當生者，萬不一生矣。人無不病，醫無不死，遙遙二千年中，死於兵荒刑戮者十之一，死於醫藥服食者十之九。天地之大德曰生，庸妄之大憝曰殺，天地之善生，不敵庸妄之善殺也，仁人君子，能無慟乎！來者悲生靈之毒禍，傷今古之奇冤，未得晏然自已也。</p>
<p>丙子五月，《靈樞解》成。岐黃而後，難《靈》《素》者，扁鵲耳。代天地司生者寥寥無幾，代天地司殺者芸芸不絕，《難經》不可不解也。五月十六日創始，二十二日書竣。</p>
<p>扁鵲，千古死人也，孰知死人而生死人？扁鵲生不能生死人也，況其死乎！但使自今以往，當生者皆使之起，則扁鵲雖死，而其德大矣！</p>
<p><u>乾隆二十一年五月丙寅黃元御撰</u></p>

<h1>新刻難經懸解敘</h1>
<p>昔黃帝與岐伯、雷公、鬼臾區之倫，質疑辨難，更相問答，作《素問》《靈樞》，垂法萬世。其理玄，其趣博，文約而旨豐，事近而義遠，讀之者且浩乎莫尋其津涯，杳乎莫測其淵深也，又孰從而難之哉！勃海秦越人，析其秘，擷其腴，著《難經》二卷，信足闡古聖之精微，為大道之津筏，後有作者，弗可及矣。</p>
<p>惜乎！去聖逾遠，斯道逾微。雖注之者先後數十家，多出自凡庸之手。或援經引典，半涉支離，或編說繪圖，適形固陋。間有一斑略識，而豹管徒窺，非無寸莛偶持，而鯨鏗莫發，適以滋下土之聚訟，何足衍先哲之緒言！蓋非至明者，不能究厥指歸，且非至精者，不能窮其理致也。</p>
<p>昌邑黃坤載先生，博極群書，兼綜眾妙，蘊探玉版，鑰啟靈蘭，意蕊爭飛，飛源默印。遂草茲玄構，以紹彼薪傳，頓使榛蕪路闢，匣鏡塵捐，宿障云開，舊疑冰釋。然而青萍結綠，識者綦難，白雪陽春，知音蓋鮮，苟非廣為流傳，將慮久而湮沒。偶得秘帙，亟付梓人，庶幾斯學晦而復明，微言絕而更續，播之後代，永永無窮耳。</p>
<p><u>同治十一年壬申四月陽湖馮承熙敘</u></p>

<h1>卷上</h1>

<h2>一難</h2>
<p>一難曰：十二經中，皆有動脈，獨取寸口，以決五臟六腑死生吉凶之法，何謂也？然：寸口者，脈之大會，手太陰之動脈也。</p>
<p>難，問難也。《難經》者，問難《黃帝內經》之義也。（黃帝諮岐伯，作《素問》《靈樞經》，謂之《內經》）</p>
<p>十二經中，皆有動脈，手太陰脈動中府、雲門、天府、俠白，手陽明脈動合谷、陽谿，手少陰脈動極泉、神門，手太陽脈動天窗，手厥陰脈動勞宮，手少陽脈動禾髎，足太陰脈動箕門、衝門，足陽明脈動大迎、人迎、氣街、衝陽，足少陰脈動太谿、陰谷，足太陽脈動委中，足厥陰脈動太衝、五里、陰廉，足少陽脈動聽會、頷厭（皆穴名）。然，答語辭。寸口者，脈之大會，以肺主氣，十二經之脈動，肺氣鼓之也，故肺朝百脈（十二經脈，皆朝宗於肺），而大會於寸口。寸口者，氣口成寸，以決死生（《素問·經脈別論》語），故曰寸口（氣口即寸口也），寸口三部，魚際為寸，太淵為關，經渠為尺（皆穴名），是手太陰肺經之動脈也。四十五難：脈會太淵，亦是此義。</p>
<p>人一呼脈行三寸，一吸脈行三寸，呼吸定息脈行六寸。人一日一夜，凡一萬三千五百息，脈行五十度，周於身，漏水下百刻。營衛行陽二十五度，行陰亦二十五度，為一周也，故五十度復會於手太陰。寸口者，五臟六腑之所終始，故法取於寸口也。</p>
<p>《靈樞·五十營》：漏水下百刻，以分晝夜。人一呼脈再動，氣行三寸，一吸脈亦再動，氣行三寸，呼吸定息，氣行六寸。十息，氣行六尺。二百七十息，氣行十六丈二尺，氣行一周於身，下水二刻。二千七百息，氣行十周於身，下水二十刻。一萬三千五百息，氣行五十營於身，水下百刻，凡行八百一十丈。《靈樞·營衛生會》：人受氣於谷，谷入於胃，以傳於肺，其清者為營，濁者為衛，營在脈中，衛在脈外，營周不休，五十而復大會。衛與營，俱行於陽二十五度（手足六陽），行於陰亦二十五度（手足六陰），一周也，故五十度而復大會於手太陰矣（會於手太陰之寸口）。經脈一日五十周，今日平旦，始於手太陰之寸口，明日平旦，又會於手太陰之寸口，此五臟六腑之所終始，故法取於寸口也。</p>
<p>會寸口者，營氣也，故氣口成寸，以決死生，但言營氣。若衛氣，則今日平旦，始於足太陽之睛明，明日平旦，又會於睛明，不會於寸口也。</p>

<h2>二難</h2>
<p>二難曰：脈有尺寸，何謂也？然：尺寸者，脈之大要會也。從關至尺是尺內，陰之所治也，從關至魚際是寸口內，陽之所治也。故分寸為尺，分尺為寸，故陰得尺中一寸，陽得寸內九分，尺寸始終，一寸九分，故曰尺寸也。</p>
<p>寸口者，脈之大要會，言是經脈中絕大之要會也。尺中主陰，寸口主陽，關上陰陽之中分也。分寸為尺者，分一尺之一寸為尺也，分尺為寸者，分一尺之九為寸也。陰得尺中之一寸，曰尺者，以一寸為一尺也，陽得寸內之九分，曰寸者，以一分為一寸也，其實尺寸始終，止得一寸九分而已。</p>

<h2>三難</h2>
<p>三難曰：脈有太過，有不及，有陰陽相乘，有覆有溢，有關有格，何謂也？然：關之前者，陽之動也，脈當見九分而浮，過者法曰太過，減者法曰不及，遂上魚為溢，為外關內格，此陰乘之脈也。關以後者，陰之動也，脈當見一寸而沉，過者法曰太過，減者法曰不及，遂入尺為覆，為內關外格，此陽乘之脈也。故曰覆溢，是其真臟之脈，人不病而死也。</p>
<p>掌內手大指根豐肉曰魚。關前為陽脈，當見九分而浮，遂上魚為溢，此不止九分，而浮亦乖常，是陽脈之太過者，為外關內格，此陰乘陽位之脈也。關後為陰脈，當見一寸而沉，遂入尺為覆，此不止一寸，而沉亦殊恆，是陰脈之太過者，為內關外格，此陽乘陰位之脈也。外關內格者，陰格於內而陽關於外也。內關外格者，陽格於外而陰關於內也。溢者，如水之滿溢也。覆者，如牆之傾覆也。真臟之脈，胃氣絕也（義詳《素問·玉機真臟》）。《靈樞。終始》：人迎四盛，且大且數，名曰溢陽，溢陽為外格，外格不通，死不治，寸口四盛，且大且數，名曰溢陰，溢陰為內關，內關不通，死不治，義與此異。</p>

<h2>四難</h2>
<p>四難曰：脈有陰陽之法，何謂也？然：呼出心與肺，吸入腎與肝，呼吸之間，脾受穀味也，其脈在中。浮者陽也，沉者陰也，故曰陰陽也。</p>
<p>陽浮而陰沉，心肺為陽，故呼出者，心肺之氣也，腎肝為陰，故吸入者，腎肝之氣也，呼吸之間，不浮不沉，其應在脾，是脾之受穀味，而在中者也。</p>
<p>心肺俱浮，何以別之？然：浮而大散者，心也，浮而短澀者，肺也。肝腎俱沉，何以別之？然：牢而長者，肝也，按之而濡，舉指來實者，腎也。脾主中州，故其脈在中。是陰陽之法也。</p>
<p>心肺俱浮，而心則大散，肺則短澀，是肺脈浮而微沉也。肝腎俱沉，而腎則濡實，肝則牢長，是肝脈沉而微浮也。</p>
<p>脈有一陰一陽、一陰二陽、一陰三陽、有一陽一陰、一陽二陰、一陽三陰，如此之言，寸口有六脈俱動耶？然：此言者，非有六脈俱動也，謂浮沉長短滑澀也。浮者陽也，滑者陽也，長者陽也，沉者陰也，短者陰也，澀者陰也。所謂一陰一陽者，謂脈來沉而滑也。一陰二陽者，謂脈來沉滑而長也。一陰三陽者，謂脈來浮滑而長，時一沉也。所謂一陽一陰者，謂脈來浮而澀也。一陽二陰者，謂脈來長而沉澀也。一陽三陰者，謂脈來沉澀而短，時一浮也。各以其經所在，名病逆順也。</p>
<p>各以其經所在，名病逆順，左寸候心，右寸候肺，兩關候肝脾，兩尺候腎也。</p>

<h2>五難</h2>
<p>五難曰：脈有輕重，何謂也？然：初持脈，如三菽之重，與皮毛相得者，肺部也，如六菽之重，與血脈相得者，心部也，如九菽之重，與肌肉相得者，脾部也，如十二菽之重，與筋平者，肝部也，按之至骨，舉指來疾者，腎部也，故曰輕重也。</p>
<p>肺主皮，心主脈，脾主肉，肝主筋，腎主骨，故其脈各見其部。菽，豆也。</p>

<h2>六難</h2>
<p>六難曰：脈有陰盛陽虛，陽盛陰虛，何謂也？然：浮之損小，沉之實大，故曰陰盛陽虛，沉之損小，浮之實大，故曰陽盛陰虛，是陰陽虛實之意也。</p>
<p>陰位於里，其脈沉，陽位於表，其脈浮。</p>

<h2>七難</h2>
<p>七難曰：經言少陽之至，乍大乍小，乍短乍長，陽明之至，浮大而短，太陽之至，洪大而長，太陰之至，緊大而長，少陰之至，緊細而微，厥陰之至，沉短而敦，此六者，是平脈也？將病脈耶？然：皆王脈也。</p>
<p>經，《內經》。《素問·著至教論）：太陽脈至，洪大以長，少陽脈至，乍數乍疏，乍短乍長，陽明脈至，浮大而短（舊誤在「平人氣象論」）。王脈，脈之得令而氣王也。</p>
<p>其氣以何月？各王幾日？然：冬至後，得甲子，少陽王，復得甲子，陽明王，復得甲子，太陽王，復得甲子，太陰王，復得甲子，少陰王，復得甲子，厥陰王。王各六十日，六六三百六十日，以成一歲。此三陰三陽之王時日大要也。</p>
<p>一歲三百六十日，六氣分王，各六十日。冬至子半陽生，始得甲子，三陽當令，夏至午半陰生，始得甲子，三陰司氣。日六竟而周甲，甲六復而終歲（《素問·六節臟象論》語），六氣分王六甲，而終一歲，一定之數也。</p>

<h2>八難</h2>
<p>八難曰：寸口脈平而死者，何謂也？然：諸十二經脈者，皆繫於生氣之原。所謂生氣之原者，謂十二經之根本也，謂腎間動氣也。此五臟六腑之本，十二經脈之根，呼吸之門，三焦之原，一名守邪之神。故氣者，人之根本也，根絕則莖葉枯矣。寸口脈平而死者，生氣獨絕於內也。</p>
<p>氣根於水，腎間動氣，是謂人身生氣之原，五臟六腑之本，十二經脈之根，呼吸之門，三焦之原，一名守邪之神。此氣者，人之根本，譬之樹木，根絕則莖葉枯矣。寸口脈平而人死者，水中生氣獨絕於內也。（守邪之神，保固真氣，捍禦外邪也）</p>

<h2>九難</h2>
<p>九難曰：何以別知臟腑之病？然：數者腑也，遲者臟也，數則為熱，遲則為寒，諸陽為熱，諸陰為寒，故以別知臟腑之病也。</p>
<p>腑脈數，臟脈遲，數為熱，遲為寒。</p>

<h2>十難</h2>
<p>十難曰：一脈十變者，何謂也？然：五邪剛柔相逢之意也。假令心脈急甚者，肝邪干心也，心脈微急者，膽邪干小腸也，心脈大甚者，心邪自干心也，心脈微大者，小腸邪自干小腸也，心脈緩甚者，脾邪干心也，心脈微緩者，胃邪干小腸也，心脈澀甚者，肺邪干心也，心脈微澀者，大腸邪干小腸也，心脈沉甚者，腎邪干心也，心脈微沉者，膀胱邪干小腸也。五臟各有剛柔邪，故令一脈輒變為十也。</p>
<p>一脈十變，義見《靈樞·邪氣臟腑病形論》。五邪，五臟五腑之邪。剛柔，臟邪剛，腑邪柔，肝脈急，肝合膽，心脈大，心合小腸，脾脈緩，脾合胃，肺脈澀，肺合大腸，腎脈沉，腎合膀胱，剛則脈甚，柔則脈微。臟腑之邪各五，二五為十，故令一脈變為十也。此候小腸與心脈，即候心小腸於左寸、肺大腸於右寸之法也。</p>
<p>大小腸腑雖至濁，而其經自手走頭，乃六陽中之至清者，故可候於兩寸。後世庸愚，乃欲候二腸於兩尺，狂妄極矣！</p>

<h2>十一難</h2>
<p>十一難曰：經言脈不滿五十動而一止，一臟無氣者，何臟也？然：人吸者隨陰入，呼者因陽出，今吸不能至腎，至肝而還，故知一臟無氣者，腎氣先盡也。</p>
<p>經，《靈樞》。「五十營」：五十動而不一代者，五臟皆受氣，四十動一代者，一臟無氣，三十動一代者，二臟無氣，二十動一代者，三臟無氣，十動一代者，四臟無氣，不滿十動一代者，五臟無氣。人吸者隨陰入，呼者因陽出，今吸不能至腎，至肝而還，則五十動中必見代止，故知一臟無氣者，腎氣先盡也。由腎而肝，由肝而脾，由脾而心，由心而肺，其次第也。</p>

<h2>十二難</h2>
<p>十二難曰：經言五臟脈已絕於內，用針者反實其外，五臟脈已絕於外，用針者反實其內，內外之絕，何以別之？然：五臟脈已絕於內者，腎肝脈絕於內也，而醫反補其心肺，五臟脈已絕於外者，心肺脈絕於外也，而醫反補其腎肝。陽絕補陰，陰絕補陽，是謂實實虛虛，損不足而補有餘。如此死者，醫殺之耳。</p>
<p>經，《靈樞》。「九針十二原」：五臟之氣已絕於內，而用針者反實其外，是謂重竭，重竭則必死，其死也靜，五臟之氣已絕於外，而用針者反實其內，是謂逆厥，逆厥則必死，其死也躁。肝腎為陰，心肺為陽，陽在外，陰在內，絕於內者，腎肝之氣也，絕於外者，心肺之氣也。</p>

<h2>十三難</h2>
<p>十三難曰：經言見其色而不得其脈，反得相勝之脈者即死，得相生之脈者病即自已，色之與脈，當參相應，為之奈何？然：五臟有五色，皆見於面，亦當與寸口尺內相應。假令色青，其脈當弦而急，色赤，其脈浮大而散，色黃，其脈中緩而大，色白，其脈浮澀而短，色黑，其脈沉濡而滑，此所謂五色之與脈，當參相應也。</p>
<p>經，《靈樞》。「邪氣臟腑病形」：色青者，其脈弦，赤者，其脈鉤，黃者，其脈代，白者，其脈毛，黑者，其脈石。見其色而不得其脈，反得其相勝之脈則死矣，得其相生之脈則病已矣。（濡、軟同）</p>
<p>脈數，尺之皮膚亦數，脈急，尺之皮膚亦急，脈緩，尺之皮膚亦緩，脈澀，尺之皮膚亦澀，脈滑，尺之皮膚亦滑。</p>
<p>此段，《靈樞·邪氣臟腑病形》文。</p>
<p>五臟各有聲色臭味，當與寸口尺內相應，其不應者，病也。假令色青，其脈浮澀而短，若大而緩，為相勝，浮大而散，若小而滑，為相生也。經言知一為下工，知二為中工，知三為上工，上工者十全九，中工者十全八，下工者十全六，此之謂也。</p>
<p>肝木色青，浮澀而短，肺脈，勝肝者也，大而緩，脾脈，肝所勝也，浮大而散，心脈，肝所生也，小而滑，腎脈，生肝者也。經言知一為下工六語，亦「邪氣臟腑病形」文。</p>

<h2>十四難</h2>
<p>十四難曰：脈有損至，何謂也？然：一呼再至曰平，三至曰離經，四至曰奪精，五至曰死，六至曰命絕，此至之脈也。何謂損？然：一呼一至曰離經，二呼一至曰奪精，三呼一至曰死，四呼一至曰絕命，此損之脈也。至脈從下上，損脈從上下也。</p>
<p>至脈從下上，自下而升也。損脈從上下，自上而降也。</p>
<p>損脈之為病奈何？然：一損損於皮毛，皮聚而毛落，二損損於血脈，血脈虛少，不能榮於五臟六腑也，三損損於肌肉，肌肉消瘦，飲食不能為肌膚，四損損於筋，筋緩不能自收持，五損損於骨，骨痿不能起於床。反此者，至脈之病也。從上下者，骨痿不能起於床者死，從下上者，皮聚而毛落者死。</p>
<p>肺主皮毛，心主血脈，脾主肌肉，肝主筋，腎主骨。損脈從上下，骨痿不起者，自肺而之腎也，至脈從下上，皮聚毛落者，自腎而之肺也。</p>
<p>治損之法奈何？然：損其肺者，益其氣，損其心者，調其營衛，損其脾者，調其飲食，適其寒溫，損其肝者，緩其中，損其腎者，益其精，此治損之法也。</p>
<p>肝病者，木鬱土賊，腹滿裡急，故宜緩其中。</p>
<p>脈有一呼再至，一吸再至，有一呼三至，一吸三至，有一呼四至，一吸四至，有一呼五至，一吸五至，有一呼六至，一吸六至，有一呼一至，一吸一至，有再呼一至，再吸一至。脈來如此，何以別知其病也？</p>
<p>損至之脈有輕重，則病亦不同，應有分別之法。</p>
<p>然：脈來一呼再至，一吸再至，不大不小，曰平。一呼三至，一吸三至，為適得病，前大後小，即頭痛目眩，前小後大，即胸滿短氣。一呼四至，一吸四至，病欲甚，脈洪大者苦煩滿，沉細者腹中痛，滑者傷熱，澀者中霧露。一呼五至，一吸五至，其人當困，沉細夜加，浮大晝加，不大不小，雖困可治，其有大小者，為難治。一呼六至，一吸六至，為死脈也，沉細夜死，浮大晝死。</p>
<p>前謂寸，後謂尺，寸大尺小，濁氣上逆，故頭痛目眩，寸小尺大，清氣下陷，肝脾不升，則肺胃不降，故胸滿短氣。脈洪大者苦煩滿，膽胃上逆而火升也（膽木化氣相火）。沉細者腹中痛，肝脾下陷而木賊也。滑者傷熱，溫氣內鬱而肝病也。澀者中霧露，寒氣外襲而肺病也。夜為陰，晝為陽，沉細陰盛故夜加，浮大陽盛故晝加，甚者則死也。</p>
<p>一呼一至，一吸一至，名曰損，人雖能行，猶當著床，所以然者，血氣皆不足故也。再呼一至，再吸一至，名曰無魂，無魂者，當死也，人雖能行，名曰行屍。</p>
<p>無魂，魂絕而神敗也。</p>
<p>上部有脈，下部無脈，其人當吐，不吐者死。上部無脈，下部有脈，雖困無能為害。所以然者，人之有尺，譬如樹之有根，枝葉雖枯槁，根本將自生，脈有根本，人有元氣，故知不死。</p>
<p>飲食不消，停蓄中脘，陽遏不降，故上部有脈，下部無脈，當吐之則愈。若非吐證，而見此脈者，是根本敗竭，法主死也。</p>

<h2>十五難</h2>
<p>十五難曰：經言春脈弦，夏脈鉤，秋脈毛，冬脈石，是王脈耶？將病脈也？然：弦鉤毛石者，四時之脈。春脈弦者，肝東方木也，萬物始生，未有枝葉，故其脈之來，濡弱而長，故曰弦，夏脈鉤者，心南方火也，萬物之所茂，垂枝布葉，皆下曲如鉤，故其脈之來，來疾去遲，故曰鉤，秋脈毛者，肺西方金也，萬物之所終，草木花葉，皆秋而落，其枝獨在，若毫毛也，故其脈之來，輕虛以浮，故曰毛，冬脈石者，腎北方水也，萬物之所藏也，極冬之時，水凝如石，故其脈之來，沉濡而滑，故曰石，此四時之脈也。</p>
<p>經，《素問·玉機真臟論》。</p>
<p>如有變奈何？然：春脈弦，反者為病。何謂反？然：其氣來實強，是謂太過，病在外，氣來虛微，是謂不及，病在內。脈來厭厭聶聶，如循榆葉曰平，益實而滑，如循長竿曰病，急而勁益強，如新張弓弦曰死。春脈微弦曰平，弦多胃氣少曰病，但弦無胃氣曰死，春以胃氣為本。</p>
<p>《素問·平人氣象論》：平肺脈來，厭厭聶聶，如落榆莢，曰肺平。</p>
<p>夏脈鈞，反者為病，何謂反？然：氣來實強，是謂太過，病在外，氣來虛微，是謂不及，病在內。脈來累累如環，如循琅玕曰平，來而益數，如雞舉足曰病，前曲後居，如操帶鉤曰死。夏脈微鉤曰平，鉤多胃氣少曰病，但鉤無胃氣曰死，夏以胃氣為本。</p>
<p>「平人氣象論」：實而益數，如雞舉足，曰脾病。</p>
<p>秋脈毛，反者為病，何謂反？然：其氣來實強，是謂太過，病在外，氣來虛微，是謂不及，病在內。其脈來藹藹如車蓋，按之益大曰平，不上不下，如循雞羽曰病，按之蕭索，如風吹毛曰死。秋脈微毛曰平，毛多胃氣少曰病，但毛無胃氣曰死，秋以胃氣為本。</p>
<p>「仲景脈法」：脈藹藹如車蓋者，名曰陽結也。</p>
<p>冬脈石，反者為病，何謂反？然：氣來實強，是謂太過，病在外，氣來虛微，是謂不及，病在內。脈來上大下兌，濡滑如雀之喙曰平，啄啄連屬，其中微曲曰病，來如解索，去如彈石曰死。冬脈微石曰平，石多胃氣少曰病，但石無胃氣曰死，冬以胃氣為本。</p>
<p>「平人氣象論」：銳堅如烏之喙，曰脾死。喘喘連屬，其中微曲，曰心病。</p>
<p>胃者，水穀之海，主稟四時，皆以胃氣為本，是謂四時之變病，生死之要會也。脾者，中州也，其平和不可得見，衰乃見耳，來如雀之喙，如水之下漏，是脾衰之見也。</p>
<p>主稟四時，四時所稟也。</p>
<p>此篇，引「玉機真臟」、「平人氣象」二論，而語微顛倒。</p>

<h2>十六難</h2>
<p>十六難曰：脈有三部九候，有陰陽，有輕重，有六十首，一脈變為四時，離聖久遠，各自是其法，何以別之？然：是其病，有內外證。</p>
<p>三部九候，見十八難。陰陽，見四難。輕重，見五難。六十首，《素問·方盛衰論》：聖人持診之道，先後陰陽而持之，奇恆之勢，乃六十首，蓋上古診法也。一脈變為四時，即十五難春弦、夏鉤、秋毛、冬石也。脈法不一，離聖久遠，人各自是其法，何以別其是非長短也？是其病，有內外證，言凡病，但以內外之證驗之，自得其真，不必拘拘於諸法也。</p>
<p>其病為之奈何？然：假令得肝脈，其外證善潔面青善怒，其內證臍左有動氣，按之牢若痛，其病滿閉，溲便難，四肢轉筋，有是者，肝也，無是者，非也。</p>
<p>肝脈弦，其色青，其志怒（凡物稍不如意則怒生，是為善潔）。其位在臍左，其主筋，其性疏泄，風木鬱遏，疏泄不行，則腹滿便閉，前後皆阻，四肢轉筋也。</p>
<p>假令得心脈，其外證面赤口乾善笑，其內證臍上有動氣，按之牢若痛，其病煩心心痛，掌中熱而啘，有是者，心也，無是者，非也。</p>
<p>心脈鉤，其色赤，其聲笑，其位在臍上。啘，嘔而無物，心煩作惡也。</p>
<p>假令得脾脈，其外證面黃善噫善思善味，其內證當臍上有動氣，按之牢若痛，其病腹脹滿，食不消，體重節痛，怠惰嗜臥，四肢不收，有是者，脾也，無是者，非也。</p>
<p>脾脈代（脾脈緩，隨四時更代，弦鉤毛石之中而有緩象，是即脾脈，脾不主時也），其色黃，其志思，其主味，其位當臍，其主四肢。脾為太陰濕土，濕旺脾郁，不能消化水穀，則腹滿食停（脾郁腹滿，則胃氣上逆，而生噦噫），體重節痛（濕流關節），怠惰嗜臥（脾土困倦，則欲臥眠），四肢不收也。</p>
<p>假令得肺脈，其外證面白善嚏，悲愁不樂，欲哭，其內證臍右有動氣，按之牢若痛，其病喘咳，灑淅寒熱，有是者，肺也，無是者，非也。</p>
<p>肺脈毛，其色白。其竅鼻，肺氣逆沖，出於鼻竅，則為嚏。其志悲，其聲哭，其位在臍右，其藏氣，肺氣阻逆，則生喘咳。其主皮毛，皮毛感傷，則生寒熱。（灑淅，皮毛振悚）</p>
<p>假令得腎脈，其外證色黑，善恐欠，其內證臍下有動氣，按之牢若痛，其病逆氣，小腹急痛，泄而下重，足脛寒而逆，有是者，腎也，無是者，非也。</p>
<p>腎脈石，其色黑，其志恐。其性蟄藏，日暮陰隆，腎氣上引，陽將蟄而未蟄，陰引而下，陽引而上，則為欠，欠者，開口呵氣也。其位在臍下，木生於水，水寒不能生木，甲木上拔，則病逆氣，乙木下衝，則小腹急痛，泄而下重。其主骨髓，骨髓失溫，則足脛寒逆也。</p>

<h2>十七難</h2>
<p>十七難曰：經言病或有死，或有不治自愈，或連年月不已，其生死存亡，可切脈而知之耶？然：可盡知也。</p>
<p>經，《素問》「脈要精微」、「平人氣象」諸論。</p>
<p>診病若閉目不欲見人者，脈當得肝脈強急而長，而反得肺脈浮短而澀者，死也。</p>
<p>肝竅於目，閉目不欲見人，肝木陷也，故當得肝脈，而反得肺脈者，死，金剋木也。</p>
<p>病若開目而渴，心下牢者，脈當得緊實而數，而反得沉濡而微者，死也。</p>
<p>肝膽同氣，開目而渴，心下牢者，膽木上逆也，故當得膽脈，而反得腎脈者，死，膽木化氣於相火，水剋火也。</p>
<p>病若吐血，復鼽衄血者，脈當沉細，而反浮大而牢者，死也。鼽，音求。</p>
<p>吐血衄血，肺胃上逆，收氣不行也，而反得心脈者，死，火剋金也。</p>
<p>病若譫言妄語，身當有熱，脈當洪大，而反手足厥冷，脈沉細微者，死也。</p>
<p>譫言妄語，心火上炎也，故身當有熱，脈當洪大，而反得腎脈者，水剋火也，水勝火熄而譫言者，神敗也，是以死。</p>
<p>病若大腹而泄者，脈當微細而澀，反緊大而滑者，死也。</p>
<p>大腹而泄者，脾土濕陷而木賊也，微細而澀，肺脈也，而反得肝脈者，死，木剋土也。</p>

<h2>十八難</h2>
<p>十八難曰：脈有三部，部有四經，手有太陰陽明，足有太陽少陰，為上下部，何謂也？然：手太陰陽明，金也，足少陰太陽，水也，金生水，水流下行而不能上，故在下部也。足厥陰少陽，木也，生手太陽少陰火，火炎上行而不能下，故為上部。手心主少陽火，生足太陰陽明土，土主中宮，故在中部也。此皆五行子母更相生養者也。</p>
<p>脈有三部，寸關尺也。部有四經，兩寸，心，肺，二腸，兩關，肝膽脾胃，兩尺，腎、膀胱，心主，三焦也。手太陰肺、陽明大腸，金也（右寸），生足少陰腎、足太陽膀胱水（左尺），水流下行而不能上，故在下部。足厥陰肝、少陽膽，木也（左關。其實肝脾見於左關，膽胃見於右關），生手太陽小腸、手少陰心火（左寸），火炎上行而不能下，故為上部。手心主包絡、少陽三焦，火也（右尺），生足太陰脾、足陽明胃土（右關），土主中宮，故在中部也。</p>
<p>脈有三部九候，各何所主之？然：三部者，寸關尺也。九候者，浮中沉也。上部法天，主胸以上至頭之有疾也，中部法人，主膈下至臍之有疾也，下部法地，主臍下至足之有疾也。審而刺之者也。</p>
<p>《素問·三部九候》法與此不同。</p>
<p>人病有沉滯久積聚，可切脈而知之耶？然：診病在右脅有積聚，得肺脈結，脈結甚則疾甚，結微則積微。診不得肺脈，而右脅有積氣者，何也？然：肺脈雖不見，右手脈沉伏。其外痼疾同法耶？將異也？然：結者，脈來去時一止，無常數，名曰結也。伏者，脈行筋下也。浮者，脈在肉上行也。左右表裡，法皆如此。假令脈結伏者，內無積聚，脈浮結者，外無痼疾，有積聚脈不結伏，有痼疾脈不浮結，而脈不應病，病不應脈，是為死病也。</p>
<p>臟病曰積，腑病曰聚。</p>

<h2>十九難</h2>
<p>十九難曰：脈有逆順，男女有恆，而反者，何謂也？然：男子生於寅，寅為木，陽也，女子生於申，申為金，陰也，故男脈在關上，女脈在關下，是以男子尺脈恆弱，女子尺脈恆盛，是其常也。反者，男得女脈，女得男脈也。</p>
<p>男子生於寅，女子生於申，男一歲起丙寅，順行二歲丁卯，以陽生於子，子至寅而三陽成也，女一歲起壬申，逆行二歲辛未，以陰生於午，午至申而三陰成也（命家起小運法）。寅木生火，火炎上，故男脈在關上，申金生水，水流下，故女脈在關下，是以男子尺脈恆弱，寸脈恆盛，女子尺脈恆盛，寸脈恆弱，是其常也。反者，男得女脈，寸弱而尺盛也，女得男脈，尺弱而寸盛也。</p>
<p>其為病何如？然：男得女脈為不足。病在內，左得之，病在左，右得之，病在右，隨脈言之也。女得男脈為太過，病在四肢，左得之，病在左，右得之，病在右，隨脈言之，此之謂也。</p>
<p>男得女脈，以陽而變陰，故為不足，陰盛於內，故病在內。女得男脈，以陰而變陽，故為太過。陽盛於四肢，故病在四肢。</p>

<h2>二十難</h2>
<p>二十難曰：經言脈有伏匿，伏匿於何臟而言伏匿耶？然：謂陰陽更相乘，更相伏也。脈居陰部，而反陽脈見者，為陽乘陰也，脈雖時沉澀而短，此謂陽中伏陰也，脈居陽部，而反陰脈見者，為陰乘陽也，脈雖時浮滑而長，此謂陰中伏陽也。</p>
<p>陽脈而見陰來，謂之陽中伏陰，陰脈而見陽來，謂之陰中伏陽。</p>
<p>重陽者狂，重陰者癲。脫陽者見鬼，脫陰者目盲。</p>
<p>重陽者狂，木火之陽旺也。重陰者癲，金水之陰旺也。心主喜，肝主怒，狂者木火有餘，故多喜怒。腎主恐，肺主悲，癲者金水有餘，故多悲恐。脫陽者陰旺，鬼，陰類也，故見之。肝竅於目，緣肝藏血，血舍魂，魂化神，魂神升發，而生光明，上開雙竅，則為兩目。陰者，陽之宅也，陰脫宅傾，神魂散亡，是以目盲。名曰脫陰，而實脫陰中之陽氣也。</p>

<h2>二十一難</h2>
<p>二十一難曰：經言人形病脈不病曰生，脈病形不病曰死，何謂也？然：人形病脈不病，非有不病者也，謂息數不應脈數也，此大法。</p>
<p>形病脈不病，非有不病，此以診者息數不調，不應脈數也。</p>

<h2>二十二難</h2>
<p>二十二難曰：經言脈有是動，有所生病，一脈輒變為二病者何也？然：經言是動者，氣也，所生病者，血也。邪在氣，氣為是動，邪在血，血為所生病。</p>
<p>經，《靈樞·經脈》也。</p>
<p>氣主呴之，血主濡之，氣留而不行者，為氣先病也，血滯而不濡者，為血後病也，故先為是動，後所生也。</p>
<p>氣留則血滯，故氣先病而血後病。</p>

<h2>二十三難</h2>
<p>二十三難曰：手足三陰三陽脈之度數，可曉以不？然：手三陽之脈，從手至頭，長五尺，五六合三丈。手三陰之脈，從手至胸中，長三尺五寸，三六一丈八尺，五六三尺，合二丈一尺。足三陽之脈，從足至頭，長八尺，六八四丈八尺。足三陰之脈，從足至胸，長六尺五寸，六六三丈六尺，五六三尺，合三丈九尺。人兩足蹺脈，從足至目，長七尺五寸，二七一丈四尺，二五一尺，合一丈五尺。督脈、任脈，各長四尺五寸，二四八尺，二五一尺，合九尺。凡脈長一十六丈二尺，此所謂經脈長短之數也。</p>
<p>此引《靈樞·脈度》文。</p>
<p>經脈十二，絡脈十五，何始何窮也？然：經脈者，行血氣，通陰陽，以榮於身者也。其始從中焦注手太陰陽明，陽明注足陽明太陰，太陰注手少陰太陽，太陽注足太陽少陰，少陰注手心主少陽，少陽注足少陽厥陰，厥陰復還注手太陰。別絡十五，皆因其原，如環無端，轉相灌溉，朝於寸口人迎，以處百病而決死生也。</p>
<p>經脈十二相注之次，見《靈樞·經脈》。別絡十五別走之道，見《靈樞·經別》。絡脈之行，皆與經脈同原，而別交他經，如環無端，轉相灌溉，而悉朝於寸口人迎（人迎，足陽明動脈，在喉旁），以處百病而決死生也。</p>
<p>經曰：明知終始，陰陽定矣，何謂也？然：知終始者，脈之紀也。寸口人迎陰陽之氣通於朝使，如環無端，故曰始也。終者，三陰三陽之脈絕，絕則死，死各有形，故曰終也。</p>
<p>《靈樞·終始》：凡刺之道，畢於終始，明知終始，五臟為紀，陰陽定矣。朝，朝宗也。使，使道也（即經隧也）。三陰三陽之脈絕則死，死各有形，故曰終，是謂十二經終，詳見《靈樞·終始》。（亦載《素問·診要經終））</p>

<h2>二十四難</h2>
<p>二十四難曰：手足三陰三陽氣已絕，何以為候？可知其吉凶否？然：足少陰氣絕則骨枯，少陰者，冬脈也，伏行而溫於骨髓，故骨髓不溫即肉不著骨，骨肉不相親即肉濡而卻，肉濡而卻故齒長而枯，發無潤澤，無潤澤者骨先死，戊日篤，己日死。</p>
<p>腎主骨，其榮發。戊篤己死，土勝水也。</p>
<p>足太陰氣絕則脈不榮其口唇，口唇者，肌肉之本也，脈不榮則肌肉不滑澤，肌肉不滑澤則人中滿，人中滿則唇反，唇反則肉先死，甲日篤，乙日死。</p>
<p>脾主肉，其榮唇。甲篤乙死，木勝土也。人中滿，舊訛作肉滿，依《靈樞》改。</p>
<p>足厥陰氣絕則筋縮引卵與舌卷，厥陰者，肝脈也，肝者，筋之合也，筋者，聚於陰器而絡於舌本，故脈不榮即筋縮急，筋縮急即引卵與舌，故舌卷卵縮，此筋先死，庚日篤，辛日死。</p>
<p>肝主筋，聚於陰器而終於舌本。庚篤辛死，金勝木也。</p>
<p>手太陰氣絕則皮毛焦，太陰者，肺也，行氣溫於皮毛者也，氣弗榮則皮毛焦，皮毛焦則津液去，津液去則皮節傷，皮節傷則皮枯毛折，毛折者則毛先死，丙日篤，丁日死。</p>
<p>肺主皮，其榮毛。丙篤丁死，火勝金也。</p>
<p>手少陰氣絕則脈不通，脈不通則血不流，血不流則色澤去，故面黑如黎，此血先死，壬日篤，癸日死。</p>
<p>心主脈，其榮色。壬篤癸死，水勝火也。</p>
<p>五陰氣俱絕則目眩轉，轉則目瞑，目瞑者為失志，失志者則志先死，志先死則遠一日半死矣。</p>
<p>五陰，五臟之陰也。五臟主藏五神，目瞑不見，神敗光失也。</p>
<p>六陽氣俱絕則陰與陽相離，陰陽相離則腠理泄，絕汗乃出，大如貫珠，轉出不流，即氣先死，旦占夕死，夕占旦死。</p>
<p>六陽，六腑之陽也。陽主外衛，陽亡表泄，故出絕汗。</p>
<p>「此篇全引《靈樞·病傳》文（舊誤在「經脈」中）。而字句微異。其訛舛之甚者，依《靈樞》正之。</p>

<h2>二十五難</h2>
<p>二十五難曰：有十二經，五臟六腑十一耳，其一經，何等經也？然：一經者，手少陰與心主別脈也。心主與三焦為表裡，俱有名而無形，故言經有十二也。</p>
<p>心主，手厥陰心包絡也，與手少陽三焦為表裡。</p>

<h2>二十六難</h2>
<p>二十六難曰：三焦何稟何主？何始何終？其治常在何許？可曉以不？然：三焦者，水穀之道路，氣之所終始也。上焦者，在心下，下膈，當胃上口，主內而不出，其治在膻中，玉堂下一寸六分直兩乳間陷者是。中焦者，在胃中脘，不上不下，主腐熟水穀，其治在臍旁。下焦者，在臍下，當膀胱上口，主分別清濁，出而不內，以傳導也，其治在臍下一寸。故名曰三焦，其府在氣街。</p>
<p>膻中者，《素問·十二臟相使》：膻中者，臣使之官，喜樂出焉，《靈樞·脹論》：膻中者，心主之宮城也，膻中即心包所在。玉堂，任脈穴。氣街，足陽明穴，其府在氣街，府，氣府也，《素問·氣府論》：經絡腧穴，氣之府也，氣街，氣之道路也，《靈樞·標本》：胸氣有街，腹氣有街，頭氣有街，脛氣有街，蓋氣之所聚會曰府，氣之所通達曰街，足陽明，臟腑之原，多血多氣，故獨有氣街之名。三焦下腧，並足太陽之經，下行胸中，出於委陽（見《靈樞·本輸》），路由陽明之氣街（在毛際兩旁），是亦三焦之氣府也。三焦之經，為手少陽三焦相火，生脾胃而化水穀，全賴乎此，故上焦主受納飲食，中焦主腐化水穀，下焦主傳輸便溺，所謂決瀆之官，水道出焉（「十二臟相使」語）。緣其火足土燥，蒸水化氣，氣降水生，注於膀胱，而後水道能出也。</p>

<h2>二十七難</h2>
<p>二十七難曰：經有十二，絡有十五，餘三絡者，是何等絡也？然：有陽絡，有陰絡，有脾之大絡，陽絡者，陽蹺之絡也，陰絡者，陰蹺之絡也，故絡有十五焉。</p>
<p>十五絡，見《靈樞·經別》。本以督脈之別、任脈之別與脾之大絡合為十五，不數陰陽二蹺，與此不同。</p>

<h2>二十八難</h2>
<p>二十八難曰：脈有奇經八脈者，不拘於十二經，何謂也？然：有陽維，有陰維，有陽蹺，有陰蹺，有沖，有督，有任，有帶之脈。凡此八脈者，皆不拘於經，故曰奇經八脈也。</p>
<p>不拘於經，不與經脈同行也。</p>
<p>經有十二，絡有十五，凡二十七氣，相隨上下，何獨不拘於經也？然：聖人圖設溝渠，通利水道，以備不然。天雨下降，溝渠滿溢，當此之時，霶霈妄行，聖人不能復圖也，此絡脈滿溢，諸經不能復拘也。</p>
<p>十二經脈，各有疆界，自經脈而入奇經，則經脈不能復拘。譬之天雨下降，溝渠滿溢，霶霈妄行，不拘井田分畫之舊制也。</p>

<h2>二十九難</h2>
<p>二十九難曰：其奇經八脈者，既不拘於十二經，皆何起何經也？然：督脈者，起於下極之腧，並於脊裡，上至風府，入屬於腦。</p>
<p>下極，篡後之屏翳穴，即會陰也。督行於背，自脊裡而上風府（督脈穴名），入於腦中。</p>
<p>任脈者，起於中極之下，以上毛際，循腹裡，上關元，至咽喉，上頤，循面，入目，絡舌。</p>
<p>中極，任脈穴名。任行於腹，自腹裡而上關元（任脈穴名），升於頭上。</p>
<p>衝脈者，起於氣衝，並足陽明之經，挾臍上行，至胸中而散。</p>
<p>並足陽明之經，《素問·經絡論》作少陰之經（舊本誤在「骨空論」）。按衝脈起於足陽明之氣衝，上會橫骨、大赫等十一穴，皆足少陰經也。</p>
<p>帶脈起於季脅，回身一周。</p>
<p>回，繞也。</p>
<p>陽蹺脈者，起於跟中，循外踝上行，入風池也。</p>
<p>陽蹺，足太陽之別，起於足太陽之申脈，循外踝上行，入於足少陽之風池也。</p>
<p>陰蹺脈者，亦起於跟中，循內踝上行，至咽喉，交貫衝脈。</p>
<p>陰蹺，足少陰之別，起於足少陰之照海，循內踝，上至咽喉，而交衝脈。</p>
<p>陽維陰維者，維絡於身，故陽維起於諸陽會，陰維起於諸陰交也。</p>
<p>陽維陰維，維絡於身，陽維主一身之表，起於諸陽會，足太陽之金門也，陰維主一身之裡，起於諸陰交，點少陰之築賓也。</p>
<p>比於聖人，圖設溝渠，溝渠滿溢，流於深湖，故聖人不能拘通也。而人脈隆盛，入於八脈，而不環周，溢蓄不能環流灌溉諸經者也，故十二經亦不能拘之。其受邪氣，蓄則腫熱，砭射之也。</p>
<p>八脈者，十二經之絡脈也，經脈隆盛，入於八脈，則溢蓄於外，不能灌溉諸經，故經脈不能拘之。其受邪氣感襲，則表陽蓄積，而生腫熱，宜以砭石瀉之也。</p>

<h2>三十難</h2>
<p>三十難曰：奇經之為病何如？然：陰蹺為病，陽緩而陰急。陽蹺為病，陰緩而陽急。沖之為病，逆氣而裡急。督之為病，脊強而厥。任之為病，其內苦結，男子七疝，女子瘕聚。帶之為病，腹滿，腰溶溶如坐水中。陽維為病苦寒熱。陰維為病苦心痛。陽維維於陽，陰維維於陰，陰陽不能自相維，則悵然失志，溶溶不能自收持。此奇經八脈之為病也。</p>
<p>陰蹺行於骽里，病則外緩而內急。陽蹺行於骽外，病則內緩而外急。沖行於身前，病則經氣上衝，逆氣而裡急。督則行於身後，病則經脈失榮，脊強而身厥。任為諸陰之宗，陽根下潛，蟄藏於此，陽泄根拔，寒凝氣結，男子則為七疝，女子則為瘕聚。帶脈環腰如帶，橫束諸經，病則帶脈不束，腹滿，腰冷溶溶，若坐水中。陽維主一身之表，病則表傷而苦寒熱。陰維主一身之裡，病則里傷而苦心痛。蓋陽維維於諸陽，陰維維於諸陰，若陰陽不能自相維，則悵然失志，溶溶不能自收持，表裡渫越，喪其保障故也。</p>
<p>難經懸解卷上終</p>

<h1>卷下</h1>

<h2>三十一難</h2>
<p>三十一難曰：營氣之行，常與衛氣相隨不？然：經言人受氣於谷，谷入於胃，以傳於肺，五臟六腑皆以受氣，其清者為營，濁者為衛，營行脈中，衛行脈外，營周不休，五十而復大會，陰陽相貫，如環無端，故知營衛相隨也。</p>
<p>此引《靈樞·營衛生會》文。營自平旦起於手太陰之氣口，五十度而復會於氣口，衛氣自平旦起於足太陽之睛明，五十度而復會於睛明，本不同道，曰相隨者，言其並行於經中也。若宗氣，則與營氣相隨耳（胸中大氣曰宗氣）。義詳《靈樞》「營氣」、「衛氣」諸篇。</p>

<h2>三十二難</h2>
<p>三十二難曰：五臟俱等，而心肺俱在膈上者，何也？然：心者血，肺者氣，血為營，氣為衛，相隨上下，謂之營衛，通行經絡，營周於外，故令心肺在膈上也。</p>
<p>在臟腑曰氣血，在經絡曰營衛。</p>

<h2>三十三難</h2>
<p>三十三難曰：肝青象木，肺白象金，肝得水而沉，木得水而浮，肺得水而浮，金得水而沉，其義何也？然：夫肝者，非為純木也，乙，角也，庚之柔，大言陰與陽，小言夫與婦，釋其微陽，而吸其微陰之氣，其意樂金，又行陰道多，故令肝得水而沉也。肺者，非為純金也，辛，商也，丙之柔，大言陰與陽，小言夫與婦，釋其微陰，婚而就火，其意樂火，又行陽道多，故令肺得水而浮也。肺熱而復沉，肝熱而復浮者，何也？故知辛當歸庚，乙當歸甲也。</p>
<p>乙與庚合，其意樂金，又自水位上升，是行於陰道多也，故肝得水沉。辛與丙合，其意樂火，又自火位下降，是行於陽道多也，故肺得水浮。及至肺熱而復沉，肝熱而復浮，則是辛金終當歸庚，乙木終當歸甲也。</p>

<h2>三十四難</h2>
<p>三十四難曰：五臟各有聲色臭味，皆可曉知以不？然：十變言肝色青，其臭臊，其味酸，其聲呼，其液泣，心色赤，其臭焦，其味苦，其聲言，其液汗，脾色黃，其臭香，其味甘，其聲歌，其液涎，肺色白，其臭腥，其味辛，其聲哭，其液涕，腎色黑，其臭腐，其味鹹，其聲呻，其液唾，是五臟聲色臭味也。</p>
<p>肝主五色，心主五臭，脾主五味，肺主五聲，腎主五液。</p>
<p>五臟有七神，各何所主也？然：臟者，人之神氣所舍藏也，故肝藏魂，肺藏魄，心藏神，脾藏意與智，腎藏精與志也。</p>
<p>魂魄神意智精志，是謂七神。</p>

<h2>三十五難</h2>
<p>三十五難曰：五臟各有所，腑皆相近，而心肺獨去大腸小腸遠者，何謂也？然：經言心營肺衛，通行陽氣，故居在上，大腸小腸，傳陰氣而下，故居在下，所以相去而遠也。</p>
<p>心肺行其精華，故居於上，二腸傳其糟粕，故居於下，因而相去之遠也。</p>
<p>又謂腑者，皆陽也，清淨之處，今大腸小腸胃與膀胱皆受不淨，其義何也？然：諸腑者，謂是，非也。經言小腸者，受盛之腑也。大腸者，傳瀉行道之腑也。膽者，清淨之腑也。胃者，水穀之腑。膀胱者，津液之腑。一腑猶無兩名，故知非也。小腸者，心之府；大腸者，肺之府；胃者，脾之府；膽者，肝之府；膀胱者，腎之腑。小腸為赤腸，大腸為白腸，膽者為青腸，胃者為黃腸，膀胱者為黑腸，下焦所治也。</p>
<p>謂是非也，謂其如是，則非也。經，《素問·十二臟相使）（王冰改為「靈蘭秘典」）。據《內經》所言，清淨之腑，唯有膽也，其餘皆受水穀，而傳渣滓，何得清淨！一腑並無兩名，經之所言，即今之所稱，故知此謂非也。蓋腑者，五臟之府庫也。諸腑皆謂之腸，是腸則傳導糟粕而下，悉屬下焦所治，下為濁陰，故受不淨也。</p>

<h2>三十六難</h2>
<p>三十六難曰：臟各有一耳，腎獨有兩者何也？然：腎兩者，非皆腎也，其左者為腎，右者為命門。命門者，諸精神之所舍，原氣之所繫也，男子以藏精，女子以系胞，故知腎有一也。</p>
<p>火降於右，水升於左，故左者為腎，右者為命門。命門者，神根於此，精藏於中，是一身原氣之所繫也。男子以之藏精，女子以之系胞，《素問·腹中論》：胞絡者，繫於腎是也。</p>

<h2>三十七難</h2>
<p>三十七難曰：臟唯有五，腑獨有六者何也？然：所以腑有六者，謂三焦也。有原氣之別焉，主持諸氣，有名而無形，其經屬手少陽，此外府也，故言腑有六焉。</p>
<p>腎為原氣之正，三焦為原氣之別。外府，謂在諸腑之外也。按，《靈樞·本臟》曰三焦膀胱厚、三焦膀胱薄，是有形也，與此不同。</p>

<h2>三十八難</h2>
<p>三十八難曰：經言腑有五，臟有六者何也？然：六腑者，止有五腑也。然五臟亦有六臟者，謂腎有兩臟也，其左為腎，右為命門。命門者，謂精神之所舍也，男子以藏精，女子以系胞，其氣與腎通，故言臟有六也。腑有五者何也？然：五臟各一腑，三焦亦是一腑，然不屬於五臟，故言腑有五焉。</p>
<p>其氣與腎通，命門之陽氣通於腎也。</p>

<h2>三十九難</h2>
<p>三十九難曰：肝獨有兩葉，以何應也？然：肝者，東方木也，木者，春也，萬物之始生，其尚幼小，意無所親，去太陰尚近，離太陽尚遠，猶有兩心，故令有兩葉，亦應木葉也。</p>
<p>心為陽中之太陽，腎為陰中之太陰。（見《素問·六節藏象論》）</p>

<h2>四十難</h2>
<p>四十難曰：經言肝主色，心主臭，脾主味，肺主聲，腎主液。鼻者肺之候，而反知香臭，耳者腎之候，而反聞聲，其意何也？然：肺者，西方金也，金生於己，己者南方火，火者心，心主臭，故令鼻知香臭。腎者，北方水也，水生於申，申者西方金，金者肺，肺主聲，故令耳聞聲。</p>
<p>心主臭，火也，肺金開竅於鼻，而內有己火，故能知臭。肺主聲，金也，腎水開竅於耳，而內有申金，故能聞聲。</p>

<h2>四十一難</h2>
<p>四十一難曰：五臟之氣，於何發起？通於何許？可曉以不？然：五臟者，嘗內閱於上七竅也，故肺氣通於鼻，鼻和則知香臭矣，肝氣通於目，目和則知黑白矣，脾氣通於口，口和則知穀味矣，心氣通於舌，舌和則知五味矣，腎氣通於耳，耳和則知五音矣。五臟不和，則七竅不通，六腑不和，則留結為聚。</p>
<p>嘗內閱於上七竅也，舊訛作當上閱於九竅也，以《靈樞》改正之。（張潔古認真，九竅添三焦之氣通於喉，喉和則聲鳴矣，二句謬妄不通）</p>
<p>經言氣獨行於五臟，不榮於六腑者，何也？然，夫氣之行，如水之流，不得息也，故陰脈榮於五臟，陽脈榮於六腑，如環無端，莫知其紀，終而復始。其流溢之氣，內溫於臟腑，外濡於腠理。</p>
<p>其流溢之氣，舊訛作而不覆溢人氣，依《靈樞》正之。</p>
<p>邪在六腑則陽脈不和，陽脈不和則氣留之，氣留之則陽脈盛矣。邪在五臟則陰脈不和，陰脈不和則血留之，血留之則陰脈盛矣。陰氣太盛，則陽氣不得相榮也，故曰格。陽氣太盛，則陰氣不得相榮也，故曰關。陰陽俱盛，不得相榮也，故曰關格，關格者，不得盡其命而死矣。</p>
<p>氣無獨行而不相榮者，其不相榮者，邪客之也。陰盛格陽於外曰格。陽盛關陰於內曰關。</p>
<p>此篇全引《靈樞·脈度》文。</p>

<h2>四十二難</h2>
<p>四十二難曰：人腸胃長短，受水穀多少，各幾何？然：唇至齒，長九分，口廣二寸半。齒以後至會厭，深三寸半，大容五合。舌重十兩，長七寸，廣二寸半。咽門重十兩，廣二寸半，至胃長一尺六寸。喉嚨重十二兩，廣二寸，長一尺二寸，九節。胃重二斤十四兩，紆曲屈伸，長二尺六寸，大一尺五寸，徑五寸，容谷二斗，水一斗五升。小腸重二斤十四兩，長三丈二尺，廣二寸半，徑八分分之少半，左回疊積十六曲，容谷二斗四升，水六升三合合之大半。大腸重二斤十二兩，長二丈一尺，廣四寸，徑一寸半，當臍右回疊積十六曲，盛谷一斗，水七升半。肛門重十二兩，大八寸，徑二寸大半，長二尺八寸，受谷九升三合八分合之一。膀胱重九兩二銖，縱廣九寸，受溺九升八合。此腸胃長短，受水穀之數也。</p>
<p>會厭在喉嚨上，所以分司氣管食管之開闔者。肛門，謂廣腸下至肛門，即直腸也。</p>
<p>此引《靈樞·腸胃》文。</p>
<p>肝重四斤四兩，左三葉，右四葉，凡七葉，主藏魂。心重十二兩，中有七孔三毛，盛精汁三合，主藏神。脾重二斤三兩，扁廣三寸，長五寸，有散膏半斤，主裹血，溫五臟，主藏意。肺重三斤三兩，六葉兩耳，凡八葉，主藏魄。腎有兩枚，重一斤二兩，主藏志。膽在肝之短葉間，重三兩二銖，盛精汁三合。</p>
<p>魂神意魄精，是謂五神。</p>

<h2>四十三難</h2>
<p>四十三難曰：人不食飲者，七日而死，何也？然：胃大一尺五寸，徑五寸，長二尺六寸，橫屈，受水穀三斗五升，其中長留谷二斗，水一斗五升。小腸大二寸半，徑八分分之少半，長三丈二尺，受谷二斗四升，水六升三合合之大半。迴腸大四寸，徑一寸半，長二丈一尺，受谷一斗，水七升半。廣腸大八寸，徑二寸半，長二尺八寸，受谷九升三合八分合之一。腸胃凡長五丈八尺四寸，合受水穀九斗二升一合八分合之一，此腸胃所受水穀之數也（此段舊誤在四十二難中。依《靈樞》正之）。人胃中常留谷二斗，水一斗五升，平人日再至圊，一行二升半，日中五升，七日五七三斗五升，而水穀盡矣，故平人不食飲七日而死者，水穀津液俱盡，即死矣。</p>
<p>此篇全引《靈樞·平人絕谷》文。</p>

<h2>四十四難</h2>
<p>四十四難曰：七衝門何在？然：唇為飛門，齒為戶門，會厭為吸門，胃為賁門，太倉下口為幽門，大腸小腸會為闌門，下極為魄門，故曰七衝門也。</p>
<p>沖，要也。賁與奔同，胃之上口，水穀下奔之路也。太倉，胃也。幽門，胃之下口，即小腸上口。闌門，小腸下口，即大腸上口。下極，謂會陰穴，在前後二陰之間，會陰之後，即魄門，二十九難：督脈起於下極之腧，即此。</p>

<h2>四十五難</h2>
<p>四十五難曰：經言八會者何也？然：腑會太倉，臟會季脅，筋會陽陵泉，髓會絕骨，血會膈俞，骨會大杼，脈會太淵，氣會三焦外一筋直兩乳內也。熱病在內者，取其會之氣穴也。</p>
<p>太倉，胃也，地當任脈之中脘，胃為六腑之長，故腑會於此。季脅，足厥陰之章門，脾之募也，脾為五臟之長，故臟會於此。陽陵泉，足少陽穴，肝膽主筋，故筋會於此。絕骨，外踝上光骨，當足少陽之懸鐘。膈俞，足太陽穴。大杼，亦足太陽穴，在大椎上。太淵，手太陰穴。三焦，上焦地在外一筋直兩乳之內，當任脈之膻中，宗氣在此，三焦之上原也。熱病在內者，取其所會之氣穴，以瀉其熱也。</p>

<h2>四十六難</h2>
<p>四十六難曰：老人臥而不寐，少壯寐而不寤者何也？然：經言少壯者，血氣盛，肌肉滑，氣道通，營衛之行，不失其常，故晝日精，夜不寤。老人血氣衰，肌肉不滑，營衛之道澀，故晝日不能精，夜不能寐也，故知老人不能寐也。</p>
<p>《靈樞·營衛生會篇》。</p>

<h2>四十七難</h2>
<p>四十七難曰：人面獨能耐寒者何也？然：人頭者，諸陽之會也，諸陰脈皆至頸胸中而還，獨諸陽脈皆上至頭耳，故令面耐寒也。</p>
<p>此難，《靈樞·邪氣臟腑病形篇》其面不衣一段。足之三陰，自足走胸（其上者，至頸而止），手之三陰，自胸走手（手少陰，上挾咽），手之三陽，自手走頭，足之三陽，自頭走足，惟手足三陽皆上至頭，是諸陽之所會也。</p>

<h2>四十八難</h2>
<p>四十八難曰：人有三虛三實，何謂也？然：有脈之虛實，有病之虛實，有診之虛實也。脈之虛實者，濡者為虛，緊牢者為實。病之虛實者，出者為虛，入者為實，言者為虛，不言者為實，緩者為虛，急者為實。診之虛實者，濡者為虛，牢者為實，癢者為虛，痛者為實，外痛內快，則為外實內虛，內痛外快，為內實外虛。</p>
<p>自內而外出者為虛，內先損傷也。自外而內入者為實，外先感襲也。緩者，氣鬆緩也。急者，氣迫急也。</p>

<h2>四十九難</h2>
<p>四十九難曰：有正經自病，有五邪所傷，何以別之？然：憂愁思慮則傷心，形寒飲冷則傷肺，恚怒氣逆，上而不下則傷肝，飲食勞倦則傷脾，久坐濕地，強力入水則傷腎，是正經自病也。</p>
<p>久坐濕地，則濕土賊水，強力汗出入水，水入汗孔化濕，亦能賊水，故皆傷腎。</p>
<p>何謂五邪？然：有中風，有傷暑，有飲食勞倦，有傷寒，有中濕，此之謂五邪。</p>
<p>五邪，皆自外至者。</p>
<p>假令心病，何以知中風得之？然：其色當赤。何以言之？肝主色，自入為青，入心為赤，入脾為黃，入肺為白，入腎為黑，肝為心邪，故知當赤色也。其病身熱，脅下滿痛，其脈浮大而弦。</p>
<p>肝脈行於兩脅。心脈浮大，肝脈弦。</p>
<p>何以知傷暑得之？然：當惡臭。何以言之？心主臭，自入為焦臭，入脾為香臭，入肺為腥臭，入腎為腐臭，入肝為臊臭，故知心病傷暑得之，當惡臭也。其病身熱而煩，心痛，其脈浮大而散。</p>
<p>心脈浮大而散。</p>
<p>何以知飲食勞倦得之？然：當喜苦味也。虛為不欲食，實為欲食。何以言之？脾主味，自入為甘，入肺為辛，入腎為咸，入肝為酸，入心為苦，故知脾邪入心，為喜苦味也。其病身熱而體重嗜臥，四肢不收，其脈浮大而緩。</p>
<p>土濕則體重。脾倦則嗜臥。中氣不運，四肢失稟，則縱緩不收。脾脈緩。</p>
<p>何以知傷寒得之？然：當譫言妄語。何以言之？肺主聲，自入為哭，入腎為呻，入肝為呼，入心為言，入脾為歌，故知肺邪入心，為譫言妄語也。其病身熱，洒洒惡寒，甚則喘咳，其脈浮大而澀。</p>
<p>肺脈澀。</p>
<p>何以知中濕得之？然：當喜汗出不可止。何以言之？腎主液，自入為唾，入肝為泣，入心為汗，入脾為涎，入肺為涕，故知腎邪入心，為汗出不可止也。其病身熱，小腹痛，足脛寒而逆，其脈沉濡而大。此五邪之法也。</p>
<p>腎脈沉濡。</p>

<h2>五十難</h2>
<p>五十難曰：病有虛邪，有實邪，有賊邪，有微邪，有正邪，何以別之？然：從後來者為虛邪，從前來者為實邪，從所不勝來者為賊邪，從所勝來者為微邪，自病為正邪。何以言之？假令心病，中風得之為虛邪，傷暑得之為正邪，飲食勞倦得之為實邪，傷寒得之為微邪，中濕得之為賊邪。</p>
<p>心為火，假令心病，中風木邪，火所由生也，是自後來。傷暑火邪，是為自病。飲食勞倦土邪，火之所由生也，是從前來。傷寒金邪，是從所勝來。中濕水邪，是從所不勝來也。</p>

<h2>五十一難</h2>
<p>五十一難曰：病有欲得溫者，有欲得寒者，有欲見人者，有不欲見人者，而各不同，病在何臟腑也？然：病欲得寒，而欲見人者，病在腑也。病欲得溫，而不欲見人者，病在臟也。何以言之？腑者陽也，陽病欲得寒，又欲見人，臟者陰也，陰病欲得溫，又欲閉戶獨處，惡聞人聲，故以別知臟腑之病也。</p>
<p>陽病熱，陰病寒，陽病動，陰病靜，其性然也。</p>

<h2>五十二難</h2>
<p>五十二難曰：腑臟發病，根本等不？然：不等也。其不等奈何？臟病者，止而不移，其病不離其處，腑病者，彷彿賁響，上下流行，居處無常，故以此知臟腑根本不同也。</p>
<p>彷彿者，遊移無定之象。賁響，賁走而鳴轉也。</p>

<h2>五十三難</h2>
<p>五十三難曰：病有積，有聚，何以別之？然：積者陰氣也，聚者陽氣也，故陰沉而伏，陽浮而動。氣之所積名曰積，氣之所聚名曰聚。積者五臟所生，聚者六腑所成。積者陰氣也，其發有常處，其痛不離其部，上下有所終始，左右有所窮處，聚者陽氣也，其始發無根本，上下無所留止，其痛無常處。故以是別知積聚也。</p>
<p>此申明上章之義。</p>

<h2>五十四難</h2>
<p>五十四難曰：五臟之積，各有名乎？以何月何日得之？然：肝之積，名曰肥氣，在左脅下，如覆杯，有頭足，久不愈，令人發咳逆，㾬瘧，連歲不已，以季夏戊己日得之。何以言之？肺病傳肝，肝當傳脾，脾季夏適王，王者不受邪，肝復欲還肺，肺不肯受，故留結為積，故知肥氣以季夏戊己日得之。</p>
<p>肝位在左脅，肝膽同氣，咳逆，膽火逆刑肺金也。㾬瘧，膽火閉於重陰之中，鼓動欲出，而陰邪外束，故生寒慄，及其鬱蒸透發，則寒變而為熱也。</p>
<p>心之積，名曰伏梁，起臍上，大如臂，上至心下，久不愈，令人病煩心，以秋庚辛日得之。何以言之？腎病傳心，心當傳肺，肺秋適王，王者不受邪，心復欲還腎，腎不肯受，故留結為積，故知伏梁以秋庚辛日得之。</p>
<p>心位在臍上。</p>
<p>脾之積，名曰痞氣，在胃脘，覆大如盤，久不愈，令人四肢不收，發黃疸，飲食不為肌膚，以冬壬癸日得之。何以言之？肝病傳脾，脾當傳腎，腎以冬適王，王者不受邪，脾復欲還肝，肝不肯受，故留結為積，故知痞氣以冬壬癸日得之。</p>
<p>脾位在中脘。</p>
<p>肺之積，名曰息賁，在右脅下，覆大如杯，久不已，令人灑淅寒熱，喘咳，發肺壅，以春甲乙日得之。何以言之？心病傳肺，肺當傳肝，肝以春適王，王者不受邪，肺復欲還心，心不肯受，故留結為積，故知息賁以春甲乙日得之。</p>
<p>肺位在右脅。息賁，喘息奔逆也。</p>
<p>腎之積，名曰賁豚，發於少腹，上至心下，若豚狀，或上或下無時，久不已，令人喘逆，骨痿少氣，以夏丙丁日得之。何以言之？脾病傳腎，腎當傳心，心以夏適王，王者不受邪，腎復欲還脾，脾不肯受，故留結為積，故知賁豚以夏丙丁日得之。此五積之要法也。</p>
<p>腎位在少腹。賁豚發作，狀如豚奔，上至心下，痛苦欲死，故曰賁豚。</p>

<h2>五十五難</h2>
<p>五十五難曰：經言七傳者死，間臟者生，何謂也？然：七傳者，傳其所勝也，間臟者，傳其子也。何以言之？假令心病傳肺，肺傳肝，肝傳脾，脾傳腎，腎傳心，一臟不再傷，故言七傳者死也。間臟者，傳其所生也，假令心病傳脾，脾傳肺，肺傳腎，腎傳肝，肝傳心，是子母相傳，周而復始，如環無端，故言生也。</p>
<p>間臟者，不傳所勝，隔二臟而傳其所生也。</p>

<h2>五十六難</h2>
<p>五十六難曰：臟病難治，腑病易治，何謂也？然：臟病所以難治者，傳其所勝也，腑病易治者，傳其子也，與七傳間臟同法也。</p>
<p>臟病之難治者，傳其所勝也，腑病之易治者，傳其所生也。臟病深，故傳所勝，腑病淺，故傳所生。蓋平人無病，皆傳所生，腑病輕微，未至乖常失度，彼此克賊，故傳其所生，與平人相同也。</p>

<h2>五十七難</h2>
<p>五十七難曰：泄凡有幾？皆有名不？然：泄凡有五，其名不同，有胃泄，有脾泄，有大腸泄，有小腸泄，有大瘕泄，名曰後重。胃泄者，飲食不化，色黃。脾泄者，腹脹滿，泄注，食即嘔吐逆。大腸泄者，食已窘迫，大便色白，腸鳴切痛。小腸泄者，溲而便膿血，少腹痛。大瘕泄者，裡急後重，數至圊而不便，莖中痛。此五泄之法也。</p>
<p>胃泄者，甲木之克戊土也。胃以受盛為職，乘以甲木之邪，胃腑郁迫，水穀莫容，則生吐泄。傷寒陽明少陽之泄，皆此證也。脾泄者，乙木之賊己土也。脾土濕寒，不能蒸水化氣，水穀並下，脾濕愈滋，土陷木遏，肝氣不達，風木沖決，開其後竅，則生泄注。內傷之泄，皆此證也。食則嘔吐逆者，脾陷則胃逆也。大腸泄者，金斂而木不泄也。乙木陷於大腸，上達無路，欲沖後竅而出，而大腸斂之，不得暢泄，故窘迫欲後，腸鳴而痛切也。大便白者，金色也。小腸泄者，寒水鬱其丙火也。小腸以丙火而化寒水，水寒生泄，不過大便溏注而已，不作膿血也，病則丙火不化寒水，鬱於濕土之中（丙火不化寒水，因於土濕）。內熱淫蒸，膿血腐化。寒水絕其上源，故溲溺淋澀。風木鬱沖，故小腹痛作也。大瘕泄者，水土之郁陷也。水土濕寒，陰氣凝結，瘕塊累生。乙木不得溫升，陷沖後竅，而疏泄失政，未能順下，故溲便頻數，裡急後重，而糞溺艱澀不利也。泄雖有五，唯胃泄為膽胃病，其四皆脾肝之證，而癸水之寒，乃其根本也。</p>

<h2>五十八難</h2>
<p>五十八難曰：傷寒有幾？其脈有變不？然：傷寒有五，有中風，有傷寒，有濕溫，有熱病，有溫病，其所苦，各不同。</p>
<p>中風，風傷衛也，傷寒，寒傷營也，詳仲景《傷寒》。濕溫，中濕而發熱者也。熱病，暑病也，即仲景暍病。溫病，春月而病感者也。《素問》熱病，即溫病之發於夏月者（「評熱病論」：先夏至者為病溫，後夏至者為病暑是也），與此不同。</p>
<p>中風之脈，陽浮而滑，陰濡而弱。濕溫之脈，陽濡而弱，陰小而急。傷寒之脈，陰陽俱甚而緊澀。熱病之脈，陰陽俱浮，浮之而滑，沉之散澀。溫病之脈，行在諸經，不知何經之動也，各隨其經之所在而取之。</p>
<p>溫病各經不同，行在於諸經之中，不知何經之動也，各隨其經之所在而取之。溫病不過六經，而經隨日傳，六日而盡，須逐日診之，難以預定也。（溫病一日太陽，二日陽明，三日少陽，四日太陰，五日少陰，六日厥陰，法詳《素問·熱論》）</p>
<p>傷寒有汗出而愈，下之而死者，有汗出而死，下之而愈者，何也？然：陽虛陰盛，汗出而愈，下之即死，陽盛陰虛，汗出而死，下之而愈。</p>
<p>陽虛陰盛，下則亡陽，故可汗愈，陽盛陰虛，汗則亡陰，故可下愈。</p>
<p>寒熱之病，候之如何也？然：皮寒熱者，皮不可近席，毛髮焦，鼻槁，不得汗。肌寒熱者，皮膚痛，唇舌槁，無汗。骨寒熱者，病無所安，汗注不休，齒本槁痛。</p>
<p>此段引《靈樞·寒熱病》文。</p>

<h2>五十九難</h2>
<p>五十九難曰：狂癲之病，何以別之？然：狂之始發，少臥而不飢，自高賢也，自辯智也，自貴倨也，妄笑好歌樂，妄行不休是也。癲病始發，意不樂，直視僵仆，其脈三部陰陽俱盛是也。</p>
<p>此引《靈樞·癲狂》文。</p>

<h2>六十難</h2>
<p>六十難曰：頭心之病，有厥痛，有真痛，何謂也？然：手三陽之脈受風寒，伏留而不去者，則名厥頭痛，入連在腦者，名真頭痛。其五臟相干，名厥心痛，其痛甚，但在心，手足清者，即名真心痛。其真心痛者，旦發夕死，夕發旦死。</p>
<p>此難，《靈樞·厥病》：厥病真頭痛，頭痛甚，腦盡痛，手足寒至節，死不治。</p>

<h2>六十一難</h2>
<p>六十一難曰：經言望而知之謂之神，聞而知之謂之聖，問而知之謂之工，切而知之謂之巧，何謂也？然：望而知之者，望見其五色，以知其病。聞而知之者，聞其五音，以別其病。問而知之者，問其所欲五味，以知其病所起所在。切脈而知之者，診其寸口，視其虛實，以知病在何臟腑也。經言以外知之曰聖，以內知之曰神，此之謂也。</p>
<p>以外知之，驗其外而知之也。以內知之，洞其內而知之也。</p>

<h2>六十二難</h2>
<p>六十二難曰：臟井滎有五，腑獨有六者，何謂也？然：腑者，陽也，三焦行於諸陽，故置一腧，名曰原，所以腑有六者，亦與三焦共一氣也。</p>
<p>五臟五腧，井滎俞經合也，六腑六腧，井滎俞原經合也，詳見《靈樞·本輸》。腑有六腧者，以五腑之外，又有三焦一腑，故多置一原穴以配之，此亦與三焦共一氣也。</p>

<h2>六十三難</h2>
<p>六十三難曰：十變言五臟六腑滎合，皆以井為始者，何謂也？然：井者，東方木也，萬物之始生，故蚑行喘息，蜎飛蠕動，當生之物，莫不以春生，故歲數始於春，日數始於甲，故以井為始也。</p>
<p>滎合以井為始，義詳《靈樞·本輸）。蚑行喘息，蜎飛蠕動，謂行息飛動，一切諸蟲也。</p>

<h2>六十四難</h2>
<p>六十四難曰：十變又言陰井木，陽井金，陰滎火，陽滎水，陰俞土，陽俞木，陰經金，陽經火，陰合水，陽合土，陰陽皆不同，其意何也？然：是剛柔之事也。陰井乙木，陽井庚金，陽井庚，庚者，乙之剛也，陰井乙，乙者，庚之柔也。乙為木，故言陰井木也，庚為金，故言陽井金也。余皆仿此。</p>
<p>陰井木，陽井金，義詳《靈樞·本輸》。</p>

<h2>六十五難</h2>
<p>六十五難曰：經言所出為井，所入為合，其法奈何？然：所出為井，井者，東方春也，萬物始生，故言所出為井；所入為合，合者，北方冬也，陽氣入藏，故言所入為合也。</p>
<p>萬物出於春，井之義也。陽氣入於冬，合之義也。</p>

<h2>六十六難</h2>
<p>六十六難曰：經言肺之原，出於太淵，心之原，出於大陵，肝之原，出於太衝，脾之原，出於太白，腎之原，出於太谿，少陰之原，出於兌骨，膽之原，出於丘墟，胃之原，出於衝陽，三焦之原，出於陽池，膀胱之原，出於京骨，大腸之原，出於合谷，小腸之原，出於腕骨，十二經皆以俞為原者何也？然：五臟俞者，三焦之所行，氣之所留止也。三焦所行之俞為原者何也？然：臍下腎間動氣者，人之生命也，十二經之根本也，故名曰原。三焦者，原氣之別使也，主通行三氣，經歷於五臟六腑，原者，三焦之尊號也，故所止輒為原。五臟六腑之有病者，皆取其原也。</p>
<p>肺之原，出於太淵五句，義見《靈樞·九針十二原》，此皆五臟之俞穴也，左右各一，共十穴，連膏之原、肓之原（膏之原，出於鳩尾，肓之原，出於脖胦），合為十二原。少陰之原，出於兌骨，謂神門也，手少陰無腧，所謂心之原出於大陵者，皆手厥陰之腧也（義見《靈樞·逆順肥瘦》，舊本誤在「邪客」），故此補少陰之原句。膽之原，出於丘墟六句，義見《靈樞·本輸），此皆六腑之原穴也。十二經皆以俞為原者，謂「九針十二原」中，皆以五臟之俞穴為原，非謂六腑也，以五臟之俞，乃三焦之所行，是其氣所留止，故稱曰原。蓋腎間動氣，一身之原氣也，三焦者，腎中原氣之別使，行於上下三焦，經歷五臟六腑之俞穴，其所留止，輒謂之原，以其原於動氣間而得名也。</p>

<h2>六十七難</h2>
<p>六十七難曰：五臟六腑，各有井滎俞經合，皆何所主？然：經言所出為井，所流為滎，所注為俞，所行為經，所入為合。井主心下滿，滎主身熱，俞主體重節痛，經主喘咳寒熱，合主逆氣而泄，此五臟六腑井滎俞經合所主病也。</p>

<h2>六十八難</h2>
<p>六十八難曰：五臟募皆在陰，俞皆在陽者，何謂也？然：陰病行陽，陽病行陰，故令募在陰，俞在陽也。</p>
<p>五臟之募皆在腹，肝之募期門，心之募巨闕，脾之募章門，肺之募中府，腎之募京門，俞皆在背，總出於足太陽之經。背為陽，腹為陰，陰病必行於陽，陽病必行於陰，故令募在於腹，俞在於背也。以募者，臟中陽氣之所結也，是以陽病行於陰，俞者，臟中陰氣之所輸也，是以陰病行於陽也。</p>

<h2>六十九難</h2>
<p>六十九難曰：經言虛者補之，實者瀉之，不虛不實，以經取之，何謂也？然：虛者補其母，實者瀉其子，當先補之，然後瀉之。不實不虛，以經取之者，是正經自生病，不中他邪也，當自取其經，故言以經取之。</p>
<p>經，《靈樞·經脈》。自取其經，取其本經，不取其子母也。</p>

<h2>七十難</h2>
<p>七十難曰：經言春夏刺淺，秋冬刺深者，何謂也？然：春夏者，陽氣在上，人氣亦在上，故當淺取之，秋冬者，陽氣在下，人氣亦在下，故當深取之。</p>
<p>經，《素問》「四時刺逆從論」諸篇。</p>
<p>春夏各致一陰，秋冬各致一陽者，何謂也？然：春夏溫，必致一陰者，初下針，沉之至腎肝之部，得氣，引而持之陰也，秋冬寒，必致一陽者，初內針，淺而浮之至心肺之部，得氣，推而內之陽也，是謂春夏必致一陰、秋冬必致一陽也。</p>
<p>腎肝之部，筋骨也。心肺之部，皮脈也。</p>

<h2>七十一難</h2>
<p>七十一難曰：經言刺營無傷衛，刺衛無傷營，何謂也？然：針陽者，臥針而刺之，刺陰者，先以左手攝按所針滎俞之處，氣散乃內針，是謂刺營無傷衛，刺衛無傷營也。</p>
<p>衛為陽，營為陰，刺衛者，臥針而刺之，則不傷營，衛行脈外，針入淺也，刺營者，先以左手攝按所針滎俞之處，衛氣開散乃內針，則不傷衛，營行脈中，針入雖深，而未嘗及衛也。</p>

<h2>七十二難</h2>
<p>七十二難曰：經言能知迎隨，氣可令調，調氣之方，必在陰陽，何謂也？然：所謂迎隨者，知營衛之流行，經脈之往來也，隨其逆順而取之，故曰迎隨。調氣之方，必在陰陽者，知其內外表里，隨其陰陽而調之，故曰調氣之方，必在陰陽。</p>
<p>經，《靈樞》「終始」、「九針十二原」：往者為逆，來者為順，明知逆順，正行無問，迎而奪之，惡得無虛，追而濟之，惡得無實，迎之隨之，以意和之是也。</p>

<h2>七十三難</h2>
<p>七十三難曰：諸井者，肌肉淺薄，氣少不足使也，刺之奈何？然：諸井者，木也，滎者，火也，火者木之子，當刺井者，以滎瀉之。故經曰補者不可以為瀉，瀉者不可以為補，此之謂也。</p>
<p>諸井穴在手足指端，經脈初發，肌肉淺薄，氣少不足使用，當刺者，瀉其滎穴。以滎火者，井木之子，所謂實者瀉其子也。井穴宜補不宜瀉，是故經云補者不可以為瀉，瀉者不可以為補也。</p>

<h2>七十四難</h2>
<p>七十四難曰：經言春刺井，夏刺滎，季夏刺俞，秋刺經，冬刺合者何也？然：春刺井者，邪在肝，夏刺滎者，邪在心，季夏刺俞者，邪在脾，秋刺經者，邪在肺，冬刺合者，邪在腎。其肝心脾肺腎而繫於春夏秋冬者何也？然：五臟一病，輒有五也。假令肝病，色青者肝也，臊臭者肝也，喜酸者肝也，喜呼者肝也，喜泣者肝也，其病眾多，不可盡言也。四時有數，而並繫於春夏秋冬者，針之要妙，在於秋毫者也。</p>
<p>《靈樞》刺法，冬刺井，春刺滎，夏刺俞，長夏刺經，秋刺合，與此不同。</p>
<p>井為木，春刺井者，以其邪在肝木也。滎為火，夏刺滎者，以其邪在心火也。俞為土，季夏刺俞者，以其邪在脾土也。經為金，秋刺經者，以其邪在肺金也。合為水，冬刺合者，以其邪在腎水也。然五臟一病，輒有五條，未可拘也。假令肝病，色青者肝也，肝主色也，臊臭者肝也，而中有心病，心主臭，入肝為臊也，喜酸者肝也，而中有脾病，脾主味，入肝為酸也，喜呼者肝也，而中有肺病，肺主聲，入肝為呼也，喜泣者肝也，而中有腎病，腎主液，入肝為泣也，其病眾多，不可盡言。雖四時有數，並繫於春夏秋冬（刺法系於四時），而針之要妙，則在於秋毫之間，其變無窮也。</p>

<h2>七十五難</h2>
<p>七十五難曰：經言東方實，西方虛，瀉南方，補北方，何謂也？然：金木水火土，當更相平。東方木也，西方金也，木欲實，金當平之，火欲實，水當平之，土欲實，木當平之，金欲實，火當平之，水穀實，土當平之。東方者，肝也，則知肝實，西方者，肺也，則知肺虛。瀉南方火，補北方水，南方火，火者，木之子也，北方水，水者，木之母也，水勝火，子能令母實，母能令子虛，故瀉火補水，欲令金得平木也。經曰不得治其虛，何問其餘，此之謂也。</p>
<p>火者木之子，子能令母實，故瀉其子，水者木之母，母能令子虛，故補其母，瀉火補水，使木氣不實，則金得平之矣。</p>

<h2>七十六難</h2>
<p>七十六難曰：何謂補瀉？當補之時，何以取氣？當瀉之時，何以置氣？然：當補之時，從衛取氣，當瀉之時，從營置氣。其陽氣不足，陰氣有餘，當先補其陽而後瀉其陰，陰氣不足，陽氣有餘，當先補其陰，而後瀉其陽，營衛通行，此其要也。</p>
<p>置，舍置也。衛氣收斂，故從衛取氣。營性疏泄，故從營置氣。</p>

<h2>七十七難</h2>
<p>七十七難曰：經言上工治未現，中工治已病者，何謂也？然：所謂治未病者，見肝之病，則知肝當傳之於脾，故先實其脾氣，無令得受肝之邪也，故曰治未病焉。中工治已病者，見肝之病，不曉相傳，但一心治肝，故曰治已病也。</p>
<p>肝病傳脾，克其所勝也。</p>

<h2>七十八難</h2>
<p>七十八難曰：針有補瀉，何謂也？然：補瀉之法，非必呼吸出內針也。知為針者，信其左，不知為針者，信其右。當刺之時，必先以左手厭按所針之處，彈而怒之，爪而下之，其氣之來，如動脈之狀，順針而刺之，得氣，推而內之，是謂補，動而伸之，是謂瀉。不得氣，乃與男外女內。不得氣，是謂十死不治也。</p>
<p>補者候呼內針，候吸出針，瀉者候吸內針，候呼出針，此補瀉之恆法耳。持針，右手也，而刺法之妙，全在左手，故知為針者，信其左手，不知為針者，信其右手。當刺之時，必先以左手厭（同壓）按所針之處，以指彈而怒之，以爪引而下之，以致其氣，其氣之來，如動脈之狀，然後順針而刺之，此方是右手事耳。針下得氣，推其針而內入之，是謂補，動其針而引伸之，是謂瀉。若不得氣，乃與男外女內以求之。仍不得氣，是謂十死不治也。</p>

<h2>七十九難</h2>
<p>七十九難曰：經言迎而奪之，安得無虛，隨而濟之，安得無實，虛之與實，若得若失，實之與虛，若有若無，何謂也？然：迎而奪之者，瀉其子也，隨而濟之者，補其母也。假令心病，瀉手心主俞，是謂迎而奪之者也，補手心主井，是謂隨而濟之者也。所謂實之與虛者，濡牢之意也。氣來實牢者為得，濡虛者為失，故曰若得若失也。</p>
<p>經，《靈樞·九針十二原》。心為火，滎亦為火，瀉手心主俞土，火之子也，是謂迎而奪之，補手心主井木，火之母也，是謂隨而濟之。手少陰無俞，故取手心主。</p>

<h2>八十難</h2>
<p>八十難曰：經言有見如入，有見如出者，何謂也？然：所謂有見如入者，謂左手見氣來至乃內針，針入見氣盡乃出針，是謂有見如入、有見如出也。</p>
<p>有見如入，有見如出，有所見而入，有所見而出也。</p>

<h2>八十一難</h2>
<p>八十一難曰：經言無實實，無虛虛，損不足而益有餘，是寸口脈耶？將病自有虛實也？其損益奈何？然：是非謂寸口脈也，謂病自有虛實也。假令肝實而肺虛，肝者木也，肺者金也，金木當更相平，當知金平木。假令肺實，故知肝虛，微少氣，用針不補其肝，而反重實其肺，故曰實實虛虛，損不足而益有餘。此者，中工之所害也。</p>
<p>肺金克肝木者，常也，假令肝實而肺虛，則當助金以平木。假令肺實，則肝氣必虛矣，若不補其肝，而反實其肺，是實其實，虛其虛，損不足而益有餘。若此者，乃中工之所害也。</p>

<h1>書新刻黃氏遺書後</h1>
<p>上書三種，昌邑黃坤載先生所著也。</p>
<p>先生博極群書，尤邃於《易》，諸子百家，靡不精熟。中年偶患目疾，頗為醫工所誤，乃專致於黃帝、岐伯、越人、仲景四聖之書。探賾索隱，抉其陰陽升降之理，著書十一種，今《四庫全書存目》中所著錄者是也。</p>
<p>先生嫉近代諸醫家離經畔道，多逞私說，反復辨難，闢其乖謬，緣是為世詬病，故其書屏不傳。</p>
<p>嘉慶中葉，吾鄉先輩張皋聞、翰風二先生昆仲，同客京師。一日，皋聞於廠肆廢麓中得先生所著醫書一冊，以示翰風，曰：其文駕魏晉上。翰風素工醫，讀之曰：豈特其文，其於醫，直仲景後一人而已。即之廠肆，編索他冊，不可得。</p>
<p>道光己丑，翰風權知山東館陶縣事。掖校官張君蘊山，昌邑人也，得先生所著《素靈微蘊》、《傷寒懸解》、《四聖心源》、《長沙藥解》、《傷寒說意》、《金匱懸解》，錄以授翰風。館陶鮮刻工，翰風乃郵寄其尤要者刻於京師，世所傳《宛鄰書屋叢書》中《黃氏遺書四種》是也。</p>
<p>未幾，翰風先生歸道山，令子仲遠同年，承先志將南歸，丐其友董子遠孝廉、楊用明外翰兼程赴昌邑，擬盡錄先生所著書。值先生子姓亦有喪，子遠、用明窮一日夜之力，僅錄得《四聖懸樞》、《玉楸藥解》，以報仲遠。邇年徐受衡侍郎刻於閩，歐陽曉岑觀察刻於皖，彭器之觀察刻於蜀，世所稱《黃氏遺書八種》，皆轉輾從仲遠錄出者也。而《素問》、《靈樞》、《難經》三懸解，卒鮮傳本，近更喪亂，昌邑亦經兵燹，先生之書，將不可過問矣。</p>
<p>今歲正月，吾鄉馮賡廷國學正於廠肆中得先生生平著述鈔本數冊，則三懸解具在焉。賡廷固精於醫，而有志於振興斯道者，既幸先生之醫書得此而大備，而此三書者，世無刻本，急思公諸同好，以廣其傳。聞崇樸山將軍藏宋刻《素問》、《靈樞》新校正本，假以校讎，爰付剞劂，而屬（曾向）識其緣起如此。</p>
<p>翰風先生嘗曰：醫學盛於上古，衰於後世。蓋自劉朱之言盈天下，舉世惟知滋陰熄火之為急，以此毒天下，而民從之，誠咄咄怪事！先生所為，表闡四聖之旨，而於近代之邪說詖辭，拒之必力也。孟子曰：予豈好辯哉，予不得已也，先生有焉。或謂先生論醫，偏於扶陽，考之《素問·生氣通天論》，重言陽氣者五，《傷寒論·少陰篇》曰：少陰負趺陽者，為順也，陽貴陰賤，古訓昭然，先生豈臆說哉！</p>
<p>是故欲知醫，必盡通四聖之書，欲通四聖之書，必先讀先生之書。今先生之書十一種俱刊行於世，是天心之仁愛斯人，不忍以斯人之疾病生死，終聽之於二三庸妄之說，而特啟先生，以昌明四聖之學。後之君子，舉金元以來謬種流傳諸書付之一炬，獨守先生之言，與晉唐諸名醫參互考訂，以直接四聖心傳，庶幾民無夭札，世登壽域。此則先生之志，亦即賡廷刊是書之志也夫。</p>
<p><u>同治十一年秋八月陽湖趙曾向謹書</u></p>
