<header data-type="book">
<h1>奇效醫述</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>聶尚恆</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd>明萬曆44年刊本（<a href="https://www.digital.archives.go.jp/file/1079339">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>
