<header data-type="book">
<h1>攝生集覽</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡文煥</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1595">公元1595年</data></dd></div>
</dl>
</header>

<h1>正文</h1>
<p>天地以生成為德。有生所甚重者，身也。身以安樂為本。安樂可致者，以保養為本。世之人必求其本，則本必固。本既固，疾病何由而生？夭橫何由而至？此攝生之道無逮於此。夫草木無知，猶假灌溉，矧人為萬物之靈，豈不足資以保養？然保養之義，其理萬計。約而言之，其術有三：一養神，二惜氣，三堤疾。忘情去智，恬澹虛無，離事全真，內外無寄。如是則神不內耗，境不外惑，真一不雜，則神自寧矣。此養神也。抱一元之本根，固歸精之真氣，三焦定位，六賊忘形，識界既空，大同斯契，則氣自定矣。此惜氣也。飲食適時，溫涼合度，出處無犯於八邪，寤寐不可以勉強，則身自安矣。此堤疾也。三者甚易行，人自謂難行而不肯行，如此雖有長生之法，人罕專向，遂至永謝。是以疾病交攻，太和頓失，聖人憫之，故假以保救之術，輔以蠲疴之藥，俾有識無識，咸臻壽域哉。</p>
<p>天地既判生萬物者，惟五氣爾。五氣定位則五味生，五味生則千變萬化不可窮已。故曰：生物者，氣也；成之者，味也。以奇生則成而偶，以偶生則成而奇。寒氣堅，故其味可用以火；熱氣軟，故其味可用以堅；風氣散，故其味可用以收；燥氣收，故其味可用以散。土者，沖氣之所生，則無所不和，故其味可用以緩。氣堅則壯，故苦可以養氣；脈軟則和，故咸可以養脈；骨收則強，故酸可以養骨；筋收則不攣，故辛可以養筋；肉緩則不壅，故甘可以養肉。堅之而後可以軟，收之而後可以散。欲緩則用甘，不欲則不用。用之不可太過，太過則病矣。古之養生治疾者，必先通乎此。不通乎此而能已人之疾者，蓋寡矣。</p>
<p>夫安樂之道，在能保養者得之。況招徠和氣之藥少，攻決之藥多，不可不察也。是知人之生須假保養，無犯和氣，以資生命。才失將護，便致病生。苟或處治乖方，旋至顛越。防患須在閒日。故曰：安不忘危，存不忘亡。此聖人之預戒也。</p>
<p>攝養之道莫若守中，則無過不及之患。經曰：春夏秋冬，四時陰陽生，病起於過用。蓋不失其性，而強云為強，逐處即病生。五臟受氣蓋有常分，用之過耗，是以病生。善養生者，即無過耗之弊，又能保守真元，何患乎外邪所中也？故善服藥不若善保養，不善保養不若善服藥。世有不善保養，又不善服藥，倉卒病生，而歸咎於神天。噫！是亦未嘗思也，可不慎與。</p>
<p>夫未聞道者，放逸其心，逆於生樂。以精神徇智巧，以憂畏徇得失，以勞苦徇禮節，以身世徇財利，四徇不置，心為之疾矣。極力勞形，躁暴氣逆，當風縱酒，食嗜辛酸，肝為之病矣。飲食生冷，溫涼失度，久坐久臥，太飽太飢，脾為之病矣。呼叫過常，辯爭陪答，冒犯寒暄，恣食鹹苦，肺為之病矣。久坐濕地，強力入水，縱欲勞形，三田漏溢，腎為之病矣。五病既作，故未老而羸，未羸而病，病至則重，重則必斃。嗚呼！是皆弗思而自取之也。衛生之士，謹此五者，可致終身無苦。經曰：不治已病治未病。正此謂也。</p>
<p>夫善養生者養內，不善養生者養外。養外實外，以充快悅澤貪欲恣情為務，殊不知外實則內虛也。善養內者實內，使臟腑安和，三焦各守其內，飲食常適其宜。故莊周曰：人之可畏者，衽席飲食之間而不知為之戒者，過也。若能常如是畏謹，疾病何緣而起？壽命焉得不長？賢者造形而悟，愚者臨病不知。誠可畏也哉。</p>
<p>夫柔情難綰而不斷，不可不以智慧剛勇決也。故幃箔不可不遠。斯言至近易，其事至難行。蓋人之至慧淺陋，剛勇粗猛，不能勝其貪欲也。故《佛書》曰：諸苦所因貪欲為本，若滅貪欲，何所依止？是知貪欲不滅，苦亦不滅，貪欲滅，苦亦滅。聖人言近而指遠，不可不思，不可不懼。善攝生者，不勞神，不苦形，神形既安，禍何由而致也？</p>
<p>夫人之生，以氣血為本。人之病，未有不先傷其氣血者。世有童男室女，積想在心，思慮過當，多致勞損。男則神色先散，女則月水先閉。何以致然？蓋憂愁思慮則傷心，心傷則血逆竭，血逆竭故神色先散而月水先閉也。火既受病，不能榮養其子，故不嗜食。脾既虛，則金氣虧，故發嗽。嗽既作，水氣絕，故四肢干。木氣不充，故多怒，鬚髮焦，筋痿。俟五臟傳遍，故卒不能起，然終死矣。此一種於諸勞者，最為難治。蓋病起於五臟之中，無有已期，藥力不可及也。若或自能改易心志，用藥扶接，如此則可得九死一生。舉此為例，其餘諸勞，可按脈與證而治之也。</p>
<p>人生，實陰陽之氣所聚。若不能調和陰陽之氣，則害其生。故《保命全形篇》論曰：人以天地之氣生。又曰：天地合氣，命之曰人。是以陽化氣，陰成形也。夫遊魂為變者，陽化氣也。精氣為物者，陰成形也。陰陽氣合，神在其中矣。故《陰陽應象大論》曰：天地之動靜，神明為之綱紀。即知神明不可以陰陽攝也。《易》所以言陰陽不測之謂神，蓋謂此矣。故曰：神不可大用，大用即竭；形不可太勞，太勞則斃。是知精、氣、神，人之大本也，不可不謹。惟智者養其神，惜其氣，以固其本。世有不謹衛生之經者，動皆觸犯。既以犯養生之禁，須假以外術保救，不可坐以待斃。本草之經於是興焉。既知保救之理，不可不窮究保救之事。衍義於是存焉。二者其名雖異，其理僅同。欲使有知無知咸臻壽域，率至安樂之鄉，適是意者，求其意而可矣。養心之道，未可忽也。六慾七情，千變萬化，出沒不定，其言至簡，其義無窮。而以一心對無窮之事，不亦勞乎心？苟不明，不為物所病者，未之有也。故明達之士，遂至忘心，心既忘矣，則六慾七情無能為也。六慾七情既無能為，故內事不生。內事不生，故外患不能入。外患不能入，則本草之用實世之芻狗耳。若未能達其意而至是地，則未有不緣六慾七情而起憂患者。憂患既作，則此書一日不可闕也。愚何人哉，必欲以斯文絕人之憂患乎？</p>
<p>又曰貴豪之家，形樂志苦者也。衣食足則形樂，心慮多則志苦。岐伯曰：病生於脈，形樂則外實，志苦則內虛，故病生於脈。所養既與貧下異，憂樂思慮不同，當各遂其人而治之。</p>
