<header data-type="book">
<h1>黃帝八十一難經纂圖句解</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李駉</dd></div>
<div><dt>朝代</dt><dd>南宋</dd></div>
<div><dt>年份</dt><dd><data value="1269">公元1269年</data></dd></div>
<div><dt>底本</dt><dd>《正統道藏·黃帝八十一難經纂圖句解》，涵芬樓版（<a href="https://www.kanripo.org/ed/KR5d0047/HFL/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
