<header data-type="book">
<h1>證治摘要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>中川成章</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1865">公元1865年</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015274">國家圖書館掃描本</a>）；<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00342/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>蓋傷寒論雖缺乎。疾醫之道。粲然具在焉。且徵越人之傳。道之明也。炳猶日星矣。蓋張機沒。莫傳其法者。而晉有王醫令者。雖為之羽翼。蛇足其說。鶻突其論。降迨六朝。兵風扇動之際。雖有雷斅僧深之輩。皆唱妄張異。詭詼無稽。愈出愈亂。然靡有正其非者。而唐而宋元之諸家。說雖有逕庭。闢之盲子辨黑白。似其中偶然耳。獨至明又可。差異頭角。而自負新規。勃窣理窟之務。猶尚出彼繩也未矣。均是斅深之徒。於是乎疾醫之法。觚不觚。而斯道大變。烏乎。更冕旒為氈帽之兆歟。悲夫。我神祖自歸放牛馬來。昇平阜昌。文運所殖。有艮山子出。艾荊棘。闢古道。然而蓬之心。未全除也。東洞翁繼興　。異撰破圍。出類溯古。豪俊卓見，燭於彼日沒之國。迷暗之醫。復明越人之術。於我日出之邦。於是著方極諸書也。四方負笈者。靡然向風矣。余曰窺門牆者。仰其巍巍耳。欲觀文物之美。周旋之儀。非攝齊。則不能焉。籲。風木不停。翁既逝矣。其唯方極乎。而文宗簡易。辭多省略。是以膚淺之徒。驟難通曉也。頃中川先生。執刀之暇。不拘方之今古。視其可者。采采掇捋。鳩成斯篇。夫欲濟河海求舟。然無乘快風。不駛也。欲返越裳向南。然非得指南不到也。然則此舉也。翁之快風。而機之指南也。或曰。機云隨證治之。然則謂之指南猶可也。翁曰多味者可疑。如此余未信矣。惡惡知之。夫翁之教。即機之道也。其唯傷寒論乎。欲通傷寒論。必始於方極。然學不師古。手未染此者。安達其意耶。一旦對病。心與目達。亦盲子辨色耳。夫欲入室者先升堂。而階之自。欲追跡於張氏。自此升哉。乃先生之力。豈不多耶。此唯學緒餘已。雖然。頗見其志焉。文久壬戌黃鐘月云窗金謙撰。</p>

<h1>凡例</h1>
<p>—本文稱醫言者。香川氏所著行余醫言也。說約醫事說約也。</p>
<p>—一貫和田氏所著百疢一貫也。紀聞即方輿紀聞也。</p>
<p>—秘錄華岡之門人本間氏所著瘍科秘錄也。</p>
<p>—小言南陽所著醫事小言也。</p>
<p>—雖後世醫書。活用古方自有經驗者取之。所以見古方之妙也。</p>
<p>—夫後世之醫書。雖大義粗乖。然宋元以降。醫書之夥。又安可謂無半策片簡之可取乎。其不虛語者取之。學者察諸。</p>
<p>—予弱齡受業於東郭子之門人。施治者十餘年矣。而立後來江戶。入絅齋中川先生門。遂為養子。中川氏者。東洞翁之徒也。或曰和田氏者。東洞家除籍人也。不知然否。然有其言深切可取者。故往往記之。</p>
<p>—享保以降。醫風一變。東垣丹溪之流。頗廢焉。曰雜方家。曰古方家。曰蘭方家。雜方家者。以半強之古方。半弱之後世方施治焉。和田氏之流而已。此輩極多矣。各病門之後。載方輿之方以備參考。</p>
<p>—東洞先生。不取病名與病因。然自漢以前相傳之病名。有不取之則不便者。特假以載藥方耳。凡病宜隨症治之。後學勿拘泥於病名誤治焉。</p>
<p>—本文中。往往有稱本書者。即證治秘訣也。予家藏之。</p>

<h1>卷上</h1>

<h2>傷寒</h2>
<p>夫傷風寒治法。本論已盡矣。傷寒論。則吾門日夜所講習也。今雖似蛇足。為蒙生。記傷寒傷風。治法之梗概。如下。</p>
<p>麻黃湯　大青龍湯　傷寒。頭痛發熱。身疼腰痛。無汗者。用麻黃湯。尚不汗出而煩躁。脈浮緊者。用大青龍湯。又初麻黃湯症。而有渴者。又發熱而渴。不惡寒。脈浮者。皆用大青龍湯而發汗。汗流則以手巾拭之。休息半時許。而復取汗。如此凡三日三夜而止。至四日有頭微痛。微惡寒。微渴。寒熱往來等證。則用小柴胡加桂枝石嘗湯等。</p>
<p>小柴胡湯　大柴胡湯　傷寒五六日。往來寒熱。胸脅苦滿。心下痞鞕而嘔者。用小柴胡湯。若鬱郁微煩。大便鞕者。兼用大柴胡湯。若清便自調。而有渴者。小柴胡加石膏湯。漸加渴者。小柴胡合白虎湯。</p>
<p>小承氣湯　調胃承氣湯　張子和曰。一日一便。乃常度也。按病人亦然。殊傷寒者。以大便快通為佳。故陽明篇曰。大便鞕則譫語。小承氣湯主之。若一服譫語止。更莫復服。又曰胃氣不和。譫語者。少與調胃承氣湯。方極以腹滿。與急迫區別此二方。凡用柴胡及白虎等之症。宜腹滿而大便鞕者。兼用小承氣湯。急迫而大便鞕者。兼用調胃承氣湯也。</p>
<p>白虎湯　大承氣湯　傷寒六七日。大渴引飲。舌上乾燥而煩者。用白虎湯。至七八日。舌上黑胎乾燥。潮熱便秘。腹滿譫語者。用大承氣湯。此症而有大渴引飲。則白虎承氣並用。重者白虎五貼。承氣五貼。胃實甚者。用承氣五貼而僅有大便一行。此症強人可治。羸者。危矣。是初用達原飲。及柴胡桂枝湯等。而失取汗。是以十分之邪氣。皆輻湊腹。故見此症。初起用麻黃大青龍。而三日發汗。則邪氣半從汗去。決不至此重症也。余累試累驗。凡傷寒陽症初起。十之八九宜用大青龍。麻黃分量極多。發汗之神方。無長於斯。但大便滑利。一二行者亦有變陰疑。故用麻黃湯為佳。近來信吳又可徒。不知發汗有效於外邪。初與達原輩而誤人性命者多矣。故表而出之。至汗下後變症之治法。則詳於本論。故不贅於此。</p>
<p>麻黃附子細辛湯　麻黃附子甘草湯　陰症初發。以此二湯。微汗之。若陰陽疑似之症。則先用麻黃湯。服後不微汗。但惡寒者。宜撰用此二湯。微汗後。變症之治法。詳於本論。</p>
<p>按外臺秘要。療大行病及溫病。一二日者。用麻黃石膏葛根等。厚覆取汗。以當知吳又可之非。</p>
<p>千金方云傷寒雅士之辭云。天行溫疫。是田舍間號耳。　肘後方云。貴勝雅言。總呼傷寒。世俗因號為時行。　外臺許仁則。論天行病云。此病方家。呼為傷寒。　傷寒論集成云。王叔和以冬時者。為傷寒。以他時者。為時行寒疫。大非古義也。蓋疫即傷寒。傷寒即疫。其謂之疫。取諸役役不住。其謂之傷寒。取諸所感之源。（下略）　按溫疫論。邪在膜原之說。如捕風捉影。妄誕附會。迷後人。不可從矣。</p>

<h2>傷風</h2>
<p>本事方云。今傷風。古謂之中風。（按）後世。又謂之感冒。</p>
<p>桂枝湯　太陽病。頭痛發熱。汗出惡風者。</p>
<p>桂枝加葛根湯　太陽病。項背強𠘧𠘧。反汗出惡風者。</p>
<p>桂枝加厚朴杏子湯　桂枝湯證。而胸滿微喘者。</p>
<p>葛根湯　太陽病。項背強𠘧𠘧。無汗惡風者。</p>
<p>桂枝麻黃各半湯　桂枝湯。　麻黃湯。二方證。相合者。</p>
<p>桂枝二麻黃一湯　桂枝湯證多。麻黃湯證少者。</p>
<p>桂枝二越婢一湯　桂枝湯證多。越婢湯證少者。</p>
<p>柴胡桂枝湯　小柴胡湯。與桂枝湯二方證相合者。</p>
<p>小柴胡湯　胸脅苦滿。或寒熱往來。或嘔者。</p>
<p>柴胡薑桂湯　小柴胡湯症。而不嘔不痞。上衝而渴。腹中有動者。</p>
<p>小柴胡加桂枝湯　小柴胡湯證。而上衝者。</p>
<p>小青龍湯　或加石膏　咳喘上衝。頭痛發熱惡風。乾嘔者。</p>

<h2>瘟（附班疹）</h2>
<p>大青龍湯　葛根湯加石膏或桔梗。　小柴胡加石膏湯。　大柴胡湯。或加芒消石膏。　蜞針　表裡俱解。腫不消者。日以水蛭八九枚。令吮腫上。</p>
<p>白虎湯　治發班口燥。煩躁而渴者。　應鐘散。</p>
<p>按丹溪。耳下頤領腫為蝦蟆瘟。回春。頭頂腫起。曰大頭瘟。正宗合二症。名時毒。曰夫時毒者。天行時氣之病也。初起與風寒相類。惟頭面耳項。發腫為真。（云云）初用大青龍。而發汗。後小柴胡加石膏湯。施蜞針。十二三日而愈。偶有膿潰者。宜從外治之法。發班初發。葛根湯。熱劇者大青龍湯。煩躁而渴者。白虎湯。或兼用犀角。後藤香川二翁。治時毒。初用七味敗毒散。十味敗毒去人參前胡獨活。和田氏療時毒內陷咽喉腫痛者。用桔梗湯或涼膈加石膏湯。　方輿載六物敗毒散。及連翹湯。牛蒡芩連湯。</p>

<h2>中寒</h2>
<p>附子理中湯　治五藏中寒。口噤四肢強直。失音不語。昔有武士守邊。大雪出帳外。觀膽。忽然暈倒。時林繼作隨行。醫宦灌以此藥兩劑遂醒。</p>
<p>乾薑附子湯　治中寒卒然暈倒。或吐逆涎沫。狀如暗風。手腳攣搐。口噤。四肢厥冷。或復燥熱。（三因方只載此二方。中寒病門。蓋始於此。）</p>
<p>中寒之證。由平素體氣虛弱。冬月出外。一時為嚴寒所中。則口噤失音。遍體拘急。四肢厥冷。畏寒腹痛。脈息沉微。昏沉不知人事者。宜急用熱酒入生薑汁和而灌之。候少甦醒。然用姜酒。脈出者生。不出者死。灸法。神闕、丹田、關元。用艾火。各灸三七壯。手足暖、脈至、知人事、汗出即生。如無汗手足不暖。不省人事者死。（危證簡便。）　謙齋曰。中寒者。後世所謂傷寒直中陰症也。有持亦云。　按病源。千金。及翼。外臺。聖濟。皆無中寒病門。至宋末始立一病門。予意中寒者。凍死之輕者也。艮山翁云。中寒者凍病也。櫟H窓先生。編輯急救選方。閤中寒與凍死為一病門。大得予意。世俗稱中寒者。傷風症。或兼疝者。間亦有焉。宜隨證治之。　方輿載桂枝湯。及桂枝人參湯。當歸四逆。同加吳茱萸生薑湯。四逆湯。</p>

<h2>暍（霍亂　宜與傷食門參考）</h2>
<p>白虎加人參湯　金匱云。太陽中熱者。暍是也。汗出惡寒身熱而渴。</p>
<p>按聖濟中暍門。初載白虎湯。其主治云。治中熱暍。頭痛汗出。惡寒發熱而渴。</p>
<p>五苓散　脈浮。小便不利。微熱消渴者。　治傷暑煩渴。引飲。無度。（三因方）治傷暑身熱。口乾煩渴。心神恍惚。小便赤澀。大便泄瀉者。（回春）　按水瀉加滑石效。　霍亂頭痛發熱。身疼痛。熱多欲飲水者。五苓散主之。寒多不用水者。理中丸主之。　渴欲飲水。水入則吐者。名曰水逆。　按嘔吐。或加半夏生薑。去桂。</p>
<p>理中湯　按千金。霍亂門。治中湯。即此方也。方後文云。若轉筋者加石膏三兩。三因方。亦加石膏。醫通云。脈雖沉細而轉筋。煩躁發熱者。當作熱治。大抵霍亂。一毫口渴轉筋者。即系熱症。謙齋云。轉筋皆熱症。聖濟霍亂轉筋門。無附子劑。外治有淋足附子湯。東郭云。四逆湯證。有轉筋。輕而不甚者也。別錄。及活人書。濟世。本草。轉筋或用附子劑。宜詳察而處方也。</p>
<p>吳茱萸湯　少陰病吐利。手足厥冷。煩躁欲死者。</p>
<p>按此方。主嘔吐煩躁。四逆湯主下利厥冷。　有持曰。霍亂後。手足厥逆者。四逆湯之所主也。此症而嘔不止。煩躁者。吳茱萸湯症也。此湯。以嘔吐為準。世醫用小半夏等無效。術盡束手時。用此方奏意外之效。然藥苦烈，宜少少頻服之。</p>
<p>桂枝湯　吐利止而身痛不休者。</p>
<p>小半夏湯　或加茯苓　茯苓四逆湯　四逆湯或加參　通脈四逆加豬膽汁湯。</p>
<p>雞屎白散　治轉筋入腹者。治霍亂轉筋入腹欲死。（聖濟）</p>
<p>生薑（五兩切）　上一味。用無灰酒一升。煎取八合。頓服。便差。</p>
<p>灸足外踝骨尖。上七壯。治轉筋十指拘攣。不能屈伸。（景岳）</p>
<p>霍亂吐瀉不已。灸天樞、氣海、中脘。四宂立愈。（正傳）</p>
<p>霍亂已死。而胸中尚有暖氣者。灸之立蘇。其法以鹽填滿臍孔灸之。不計壯數（正傳。）</p>
<p>按此灸極妙。吐利厥冷。煩躁。冷汗出者。灸神闕數十壯。屢得效。霍亂治法。無捷於斯。</p>
<p>轉筋不止。起死之方。灸承筋。又不止。則灸湧泉。（外臺）</p>
<p>又轉筋灸承山。（針經指南）</p>
<p>千金方霍亂治四逆吐少嘔多者。用附子粳米湯。心下痞。用甘草瀉心湯。凡此病。定一日不食為佳。</p>
<p>備急丸　大承氣湯　此二方治乾霍亂。</p>
<p>乾霍亂之狀。心腹脹滿。攪刺疼痛。煩悶不可忍。手足逆冷。甚者。流汗如水。大小便不通。求吐不出。求利不下。須臾不救。便有性命之慮。宜急與巴豆等。三味丸服之。服取快利。（外臺許仁則論。三味丸即備急丸世。）　病源云。其腸胃。先挾實。故不吐利。名為乾霍亂也。　案奇效。厚朴湯。療乾霍亂。即大承氣加良薑湯也。千金。治乾霍亂。有鹽吐方。正傳云。乾霍亂。死在須臾。升降不通故也。宜吐以提其氣。最良法。（景岳）　舌卷。囊縮。轉筋入腹者死。（入門）　和田氏轉筋甚者。用良方吳茱萸湯。吳茱萸、木瓜、食鹽。三味。等分。同炒令焦。水煎服。　回春云。夏月有四證傷寒。傷風。中暑。熱病。疑似難明。</p>
<p>按夏月不拘遠行家居。壯熱無汗者。傷風寒之類也。宜用麻黃大青龍等。而發汗也。有汗而渴者。中暍也。宜用白虎五苓等也。　古云。暑傷氣分汗如傾。　方輿載香薷飲及消暑湯生脈散。</p>

<h2>中濕</h2>
<p>麻黃加朮湯　濕家身煩疼。發其汗為宜。</p>
<p>麻黃杏仁薏苡甘草湯　一身盡痛。發熱日晡所劇者。　濕家始得病時。可與此方。（外臺）</p>
<p>桂枝附子湯　身體疼煩。不能自轉側者。</p>
<p>桂枝附子去桂加朮湯　前方證。而大便堅。小便自利者。</p>
<p>甘草附子湯（主治見痛風）　病因考。及說約。中濕門載五苓散。香川氏云。小便不利。四肢浮腫。而渴者。艮山翁云。濕氣從小便去也。　和田氏。中濕初發。有汗者。用桂枝加朮湯。</p>
<p>按金匱云。中濕之脈。沉而細。小便不利。大便反快。此中濕之一候也。中濕初一身盡痛。不異痛風。然如法施治。則不逾月而瘥。不似痛風荏苒彌歲月。金匱謂中濕死症者。因其誤治也。意中濕者。痛風之輕者也。</p>

<h2>瘧</h2>
<p>桂枝麻黃各半湯　桂枝二麻黃一湯　桂枝二越婢一湯　柴胡桂枝湯　柴胡薑桂湯（陰瘧為陽瘧宜撰用此二方。）　柴胡去半夏加栝蔞湯　瘧病發渴者。亦治久瘧。</p>
<p>柴胡加芒消湯　欲成瘧母者。</p>
<p>白虎加桂枝湯　溫瘧者。</p>
<p>牡蠣湯　蜀漆散　夾鍾丸　大柴胡湯　張會卿雲。小柴胡湯。加常山二錢。截瘧如神。</p>
<p>截瘧湯（家方）　常山　草果　知母　貝母（各等分。）　上四味。以酒三勺漬之。夜露一宿。發日早晨。以水二合。煮取一合服。臨發。查再煎服。或草果代檳榔最效。</p>
<p>又截瘧方　發日早晨。用備急丸一分。或用吐劑亦效。</p>
<p>按外臺。有單常山湯。煎法服法如截瘧湯。間日瘧五六發。則宜服截果。每日發者。宜候十四五日後。邪氣漸衰。而截之。截果宜陽瘧。不宜陰瘧。陰瘧者。宜候數發之後。為陽瘧而截之。陰陽謂晝夜也。小兒瘧疾因蟲者。或兼服鷓鴣菜湯。瘧用附子劑者。希有焉。　千金瘧門有附子劑三方。外臺八方。宜隨證治之。凡瘧瘥後。禁飲酒房事遠行。　瘧並瘧母灸法。脊際自七九至十三四椎。　瘧振寒少熱。面青大便溏泄者。用果附湯。（濟生）　和田氏截瘧灸法。灸大椎尖頭七壯。或灸章門。不截則灸承山。尚無效者。灸湧泉。　又云凡瘧者。惡寒始於足指頭。有此症者。瘧症不具。亦為瘧治而可也。　又云。瘧用常山劑。不愈者。化毒丸二分。發日早晨。冷水服。有效者。必下黑便也。若瞑眩則輕者。用冷水。重者。冷水內朱或石膏。攪服。或蘭葉煎服。　又云瘧母。用鱉甲類。難治者。用化毒丸二分效。　按醫方考云。瘧發時。獨寒無熱。脈遲者用七棗湯。即附子大棗生薑也。　又云瘧發時頭疼身熱。脊強脈浮者。大陽症也。麻黃羌活湯主之。麻黃、羌活、防風、甘草、四味也。　瘧疾寒熱轉大者。從卯至午發。宜柴胡湯。從午至酉發者。邪在內。宜大承氣湯。從酉至子或至寅發者。邪在血。宜桃仁承氣湯。下之微利後。更以小柴胡湯撤其邪可也。（眾方規矩）</p>
<p>治瘧病苦渴。（外臺）烏梅（二十枚）　上一味以水三盞。煎取一盞半。去烏梅。和蜜一匙。分二服。　瘧脈弦而緊宜下。浮大者宜吐。弦遲者宜溫。（正傳）　牛山云。凡瘧疾。二三發之中。宜用發散劑。　方輿載柴胡鱉甲湯。及鱉甲一味。酒服散果。</p>

<h2>痢</h2>
<p>葛根湯　痢有表證者。用此湯。三四日宜發汗。</p>
<p>葛根加半夏湯　前方證而嘔者。</p>
<p>葛根黃連黃芩湯　痢惡寒止。有熱者。　或下利脈促。喘而汗出者。</p>
<p>黃芩湯　痢腹拘急。心下痞者。</p>
<p>黃芩加半夏生薑湯　前方症而嘔者。</p>
<p>大柴胡湯　心下痛有身熱者。</p>
<p>論曰。發熱。（云云）心下痞鞕。嘔吐而下利者。　按之心下滿痛者。</p>
<p>厚朴七物湯　痢腹滿者。　或中脘否塞者。（紀聞）</p>
<p>大承氣湯　身熱腹滿。心下痛甚。口舌乾燥者。　論曰。自利清水。（云云）心下必痛。　口乾燥者。　下利三部。（云云）按之心下堅者。　下利脈遲而滑者。</p>
<p>白頭翁湯　熱利下重者。　下利慾飲水者。以有熱故也。　熱多難用下劑者。（紀聞）</p>
<p>白頭翁加甘草阿膠湯　熱利下重。帶膿血者。產後下利虛極。（金匱）　按產後痢妙。</p>
<p>黃連湯　半夏瀉心湯　熱解痢減。心下痞。或痞鞕。食不進者。宜撰用此二方。</p>
<p>六物黃芩湯　桂枝人參湯　真武湯　痢陰症或遺屎者。</p>
<p>桂枝加芍藥大黃湯　大實痛者。</p>
<p>小建中湯　桃花湯　赤石脂禹餘糧湯　禹餘糧丸（家方）　治久痢久瀉。無熱。無後重、用附子不止。灸腹不愈。飲湯直下。食粥直下。日羸瘦向死者。　禹餘糧　赤石脂（各五分）　阿片（小豆粒許津輕上品）</p>
<p>上三味糊丸。一劑二度白湯下。即愈。起死回生。累用累驗。勿多服。多服則發嘔吐。</p>
<p>黃連阿膠湯　久痢。心下悸而煩。不得眠。便膿血者。</p>
<p>大黃牡丹皮湯　膿血痢。下赤白如魚腦者。</p>
<p>桃核承氣湯　下紫黑色腹痛後重。異常者。瘀血也。（入門）</p>
<p>鯽魚鱠　痢五六日。腹痛不止者。承氣丸。</p>
<p>紫丸　痢腹痛甚者。</p>
<p>奧村翁云。痢疾久不愈者。腸中裡面。外皮爛。而下赤白如魚腦。用大黃牡丹湯。或薏苡附子敗醬散等。則速愈。此效腸癰之治法者也。和田氏贊之曰。卓見也。　按和田氏。實候而下如魚腦者。用牡丹湯。虛候者。用千金駐車湯。其方。黃連六兩。當歸阿膠各三兩。乾薑二兩。上四味煎服。凡此二方。及上之諸方。皆痛在臍以上只桃花湯。及禹餘糧湯。禹餘糧丸者。痛少少在小腹者也。痛在臍以上者。禁用止澀之藥。常識此勿誤。　入門云。凡痢下如竹筒或如屋漏水。塵腐色氣短呃逆者。不治。或純下血。小便不通。唇紅下後身熱。脈弦洪者。俱不治。又云。無積不成痢也。　我邦之先輩說痢病因者。多端。外邪挾宿食為得。　痢脈細數者凶。　痢脈沉實。為吉候。　痢初發。不忌脈浮數。數日後。見浮數者凶。　脈大者。邪氣進也。　脈遲或沉者。不日下利止也。　腹痛始終不止者。惡候。　下重無附子症。　古人赤屬熱。白屬寒之說難信。赤白俱有下重者。皆熱也。　膿血利者。赤痢白痢是也。　痢舌純紅者。惡症也。舌紅如無皮狀。有渴者。惡症也。或真武湯症。亦有此舌候。　痢七八日不問陰陽。灸足三里。則利減者也。　痢冷服萊菔汁妙。（治痢煎湯中加萊菔汁亦佳。）　謙齋云。予有一得。療痢。脈實者。不拘症為實。宜疏滌。脈虛者。不論症。可為虛。　腸澼下膿血。脈沉小細。安靜者生。洪大數。身熱者死。（脈經）　療純下白如鼻涕者方。（肘後）灸臍下一寸。五十壯良。　說約灸法。素有宿症。惡藥氣者。或腰力罷者。宜灸中脘、天樞、腰眼。自十一至十六。兼治疳痢不了了者。　血痢用膠艾四物加厚朴。（眾方規矩）　按和田氏噤口痢。用參連湯。參連各等分也。休息痢用子和無憂散。奧村氏試效也云。蘭醫云赤白痢。不用下劑。白痢最禁之云。牛山云。老人小兒。痢八九十行者。必死也。和田氏云。小兒痢疾。至百行者。宜先與如神丸。不然。暴脫者也。又云。痢數日之後。發熱者。多死也。　按如神阿片丸也。艮山翁亦用。　方輿載桂枝湯。及河間芍藥湯。四逆散。參連湯。蘗皮湯。千金駐車丸。錢氏白朮散。無憂散。當歸湯。</p>

<h2>泄瀉</h2>
<p>葛根湯　桂枝湯　泄瀉有表症者。宜撰用此二方。或加朮茯苓。</p>
<p>五苓散　治傷暑身熱。口乾煩渴。心神恍惚。小便赤澀。大便泄瀉者。（回春）</p>
<p>按水瀉加滑石效。</p>
<p>豬苓湯　少陰病。下利六七日咳而嘔渴。心煩不得眠者。</p>
<p>生薑瀉心湯　心下痞鞕。乾噫食臭。脅下有水氣。腹中雷鳴。下利者。</p>
<p>甘草瀉心湯　下利日數十行。谷不和。腹中雷鳴。心下痞鞕而滿。（按此湯症。以雷鳴為準。若無雷鳴谷不和下利者。四逆等之所主也。）</p>
<p>桂枝人參湯　利下心下痞鞕。表裡不解者。</p>
<p>人蓡湯　前方證。而無表症者。</p>
<p>四逆湯　下利清穀者。　真武湯　白通湯　少陰病。下利脈微者。</p>
<p>赤石脂禹餘糧湯　醫以理中與之。利益甚。理中者理中焦。此利在下焦。禹餘糧丸（家方見痢）　當歸四逆加吳茱萸生薑湯　泄瀉因疝者。　予屢患疝瀉。輟食。食鯉魚膾二碗。即愈。</p>
<p>沼氏云。五更瀉。八味丸有效。泄瀉。灸十一二三四腰眼。（病因考）</p>
<p>古云泄而腹脹。脈弦者死。　三因方云。古方泄利與滯下共為一門。千金又以宿食不消。在熱痢類。門類混濫。後學難明。不可甄別也。（泄瀉病門始於此）　按泄瀉久不愈者。宜每日餌食雞肉。大效。鯉魚亦效。　謙齋云。泄瀉有用下劑、宜詳腹診。腹底有塊者。可下之。方輿載桂枝加朮湯。四逆散。錢氏白朮散。紫散。高良薑湯。調中湯。</p>
<p>沼田侯留務加川太平妻。患泄瀉半年。其症微熱。微渴。晝夜十一二行。清川氏。療之。三月不治。高井氏。療之。三月不治。請予。予到則妻曰。二醫食禁甚嚴。不肉食半年。食不進。羸瘦如此。予答曰。草根木皮有治病者。則禽獸魚蟲亦豈莫治病者。悉禁之者。不學之甚者耳。魚鳥治泄瀉者雞肉鯉魚鯽魚等也。內人此中何嗜。答曰。雞肉也。即與豬苓湯兼赤石脂禹餘糧湯。三食之間。亦令餌食雞肉與卵。廿日許半愈。一月而全愈。</p>

<h2>傷食（宿食）</h2>
<p>瓜蒂散　宿食在上脘。當吐之。</p>
<p>大承氣湯　腹滿甚者。　論曰。脈數而滑者。實也。此有宿食。下之愈。　病腹中滿痛者。此為實也。當下之。</p>
<p>小承氣湯　走馬湯　備急丸　鹽湯（探而吐之張介賓）　桂枝加芍藥湯　桂枝加芍藥大黃湯　橘皮大黃樸消湯　一切魚腥食傷宜此湯。　吳茱萸湯　理中加附子湯　吳崑曰。中焦痛甚。脈沉遲者。</p>
<p>四逆湯　治吐下而汗出。小便複利。或下利清穀。裡寒外熱。脈微欲絕。或發熱惡寒。四肢拘急。手足厥方。（千金霍亂門）</p>
<p>療菌毒方（千金）掘地作坎。以水沃中。攪令濁。名地漿。飲之。</p>
<p>解河豚毒　一時倉卒無藥。急以清麻油。多灌取吐出毒物。即愈。</p>
<p>獨嘯庵云。中河豚魚毒者。少覺懊惱。須直探吐。急服藍汁一盞。若人糞少許。若瓜蒂末一錢。須臾吐盡。則十治八九。</p>
<p>一書雲河豚魚毒。用砂糖有效。</p>
<p>宿食不吐不利。腹痛甚者。多灸上脘、中脘、天樞。吐利為度。若吐瀉後。痛不止者。概屬疝瘕。宜灸天樞及十一至十四。（方輿）　乾霍亂用走馬湯等不吐下者。多死。令多飲酒。至醉有效。（和田）　傷食之症。胸膈痞塞。吐逆咽酸。噫敗卵臭。畏食。頭痛。發熱。惡寒。病似傷寒。但身不痛為異也。（要訣）　菌毒宜先用地漿水。（和田氏）　方輿載桂枝藿香湯。及平胃散。養脾湯。</p>

<h2>嘔吐反胃膈噎</h2>
<p>小半夏湯　諸嘔吐谷不得下者。　方極云。治吐而不渴者。</p>
<p>小半夏加茯苓湯　大半夏湯　胃反嘔吐者。　外臺云。治嘔心下痞鞕。</p>
<p>半夏瀉心湯　嘔而腸鳴心下痞者。</p>
<p>生薑瀉心湯　心下痞鞕。乾噫食臭。脅下有水氣。腹中雷鳴。下利者。</p>
<p>旋覆花代赭石湯　心下痞鞕。噫氣不除者。</p>
<p>吳茱萸湯　食谷欲嘔者。　嘔而胸滿者。　紀聞云。大小半夏者。常嘔也。此湯食則嘔也。又嘔吐有嘈雜者。用此。</p>
<p>甘草乾薑湯　煩躁吐逆者。紀聞云。無煩躁亦可用。嘔吐苦味之藥。不應者。或宜此湯。</p>
<p>大黃甘草湯　食已即吐者。　方極云。治大便秘閉急迫者。</p>
<p>豬苓散　嘔吐而病在膈上後思水者解。急與之思水者。　惡阻（並）產後嘔逆大效。（和田氏）</p>
<p>五苓散　渴欲飲水。水入則吐者。名曰水逆。</p>
<p>茯苓澤瀉湯　胃反吐而渴。欲飲水者。</p>
<p>附子粳米湯（主治見腹痛。）紀聞云。此湯腹痛為準。</p>
<p>甘遂半夏湯（主治見飲門）　心下堅滿為準。反胃嘔吐俱用。（紀聞）</p>
<p>小柴胡湯　因腹候用之。</p>
<p>真武湯　水氣為準。與甘遂半夏湯。及姑洗丸。相反腹濡弱。脈沉細。又有摶擊見緊狀者。脈與症。不相應者。為虛候也。反胃及澼囊。亦有用之。（紀聞）</p>
<p>橘皮湯　乾嘔噦。若手足厥者。　和田氏云。霍亂嘔吐不止。用四逆輩不治。急用此湯得效。</p>
<p>生薑半夏湯　胸中似喘不喘。似嘔不嘔。似噦不噦。徹心中。憒憒然無奈者。　有持云。此湯主治。要之噁心之症耳。素問傷寒金匱無噁心字。蓋仲景後之病名也。（按肘後方有噁心字）</p>
<p>桃核承氣湯　膈噎因瘀血者。　膈噎因瘀血者。十中八九。因飲者。二三也。故有用桃核承氣或乾漆丸等。吐血而治者。（紀聞）</p>
<p>濕漆丸　姑洗丸　夾鍾丸　紫丸　烏梅丸（仲景）　治反胃。（雉間子炳之說）</p>
<p>七寶丸　治反胃。</p>
<p>化毒丸　治反胃。（一貫）　</p>
<p>古云。嘔家聖藥。是生薑。千金之說信矣。然氣逆作嘔。生薑散之。痰與水作嘔。半夏逐之。嘔有熱有寒。生薑於寒症。最佳。若遇熱嘔。不可無烏梅也。</p>
<p>治久患反胃。（聖濟）硫黃細研半兩與水銀一分。再研薑汁糊丸服。</p>
<p>本草反胃門云。靈砂鎮墜。反胃神丹也。　本草反胃門云。砒石、同巴豆、附子、黃蠟、丸服。噎膈門云。雄黃、輕粉、石鹼、蓬砂、砒石。並化積垢。通噎膈。由是觀之。聖濟治嘔吐。軟紅丸。反胃。噎膈。用之定有效。方見附錄。</p>
<p>易簡方。膈噎反胃。用養生丹。要訣。用靈砂丹。皆水銀劑也。　醫通云。瘀血在膈。阻滯氣道而成者。代抵當丸。作芥子大服。二錢。去枕仰臥細細嚥之。但飲熱湯及椒姜。輒呃者。即瘀血也　反胃而胸中嘈雜不寧。或作或止。其人懊憹。面上有白點者。作蟲積治之。　王肯堂云。瘀血則脈澀。桃仁承氣湯下之。　脈浮緩者生。沉澀者死。（正傳）　大便如羊糞者。不治。年過五十者。多不治。口中多出沫者。必死。（濟世）　和田氏云。澼囊。局方安中散。有效。南陽亦云。其方。甘草十兩。宿砂、延胡、良薑、乾薑、茴香、桂枝各五兩。牡蠣四兩。上八味為末。每二錢熱酒調下。南陽去宿砂三倍牡蠣。水煎服。方後云。忌酒肉麵餅一切厚味鹽茶。又小言有治膈噎。河豚魚方。　和田氏云。反胃者。朝食暮吐。暮食朝吐也。澼囊者。二三日。或四五日。十餘日而吐也。又有三日亦吐不止者。多吐水也。反胃無腹痛。吐時無煩悶。澼囊有腹痛。吐有煩。蓋澼囊亦屬反胃也。今世真反胃者少也。多澼囊之類也。膈噎者。噎食。胃反無噎食。膈噎難治。反胃間有愈者。反胃有腹痛者。膈噎之變症也。　一男子患膈噎。諸藥無效。思食河豚而死。煮食之。不死。翌日復食之。通計食之三日而全愈。　反胃證。不強以食。絕其湯水。飢則以飯炒香乾啖之。一些湯水不可進。兩三日後。竟不復吐。飲食如初。然後用甘蔗湯七舛薑汁一舛和勻服。（經驗秘方）　貓胞衣治反胃。燒灰入硃砂末少許。壓舌下。（一醫用之甚效）　千金云。灸通谷五十壯。治澼囊。　千金治反胃。飲白馬尿即止。　外臺治反胃。服驢小便二合。有效。翌日復服二合而愈。病若深。七日服之良。　按澼囊之名。始於千金。至宋盛稱之。　方輿載千金吳茱萸湯。及安廩湯。安中散。破棺湯。獨參湯。滾痰丸。治反胃大驗方。</p>

<h2>噦</h2>
<p>橘皮竹茹湯　噦逆者。</p>
<p>生薑半夏湯　予不拘金匱煮法。半夏一兩。生薑二兩。以水一合半。煮取八勺服。屢得效。</p>
<p>橘皮湯　乾嘔噦。若手足厥者。　噦之重者用之。</p>
<p>小承氣湯　治噦便秘。數譫語。　呃逆雖有手足厥逆。大便堅者。定屬火熱。下之則愈。（醫通）</p>
<p>半夏瀉心加吳茱萸湯　心下痞鞕者。</p>
<p>吳茱萸湯　一男子下利。未全已。發噦吐蛔。服此湯得愈。（方輿）</p>
<p>黃連解毒湯　熱毒或瘡腫內攻。發噦者。（紀聞）</p>
<p>四逆湯　真武湯　七寶丸　南呂丸　治噦。　柿蒂　丁香（各二錢）　加生薑五片。水煎服。</p>
<p>又方　刀豆　上一味銼水煎服。</p>
<p>醫林雲。噦以紙燃鼻嚏而止。或云豬膽汁。熊膽治噦。</p>
<p>治噦服藥無效者。（濟世）</p>
<p>硫黃　乳香（各等分）　為末以酒煎。急令患人嗅之。</p>
<p>又方　用雄黃二錢。酒一盞。煎七分嗅之。（濟世）</p>
<p>灸　期門　關元　腎俞　痞根</p>
<p>一男子痢重噦起。灸痞根及數處。得愈。（方輿）　產後呃逆。最為惡候。急灸期門。宜服四逆加人參湯。或桂心五錢。薑汁三合。和水煎服。（醫通）　和田氏云。吳茱萸噦之聖藥。　古人云。痢病後。及諸病後。發噦者難治。脈緩者易治。脈代者危。（正傳）</p>
<p>聖濟噦門有水銀丸。麝香丸。主治云。治諸般噦發。　方輿載滾痰丸。</p>

<h2>水腫</h2>
<p>越婢湯　風水惡風。一身悉腫。脈浮不渴。續自汗出。無大熱。　腫在上部。發汗可解者。考審其症。而後可與。（說約）</p>
<p>先生曰。咳喘不已。小便漸短少。遂為腫滿者。當與大小青龍。麻杏甘石。厚朴麻黃湯等。或兼施神祐丸滾痰丸之類。（方輿）</p>
<p>越婢加朮湯　皮水。越婢加朮湯主之。甘草麻黃湯亦主之。（金匱）</p>
<p>甘草麻黃湯　千金云。有人患氣急。積久不瘥。遂成水腫。如此者眾。諸皮浮水。攻面目身體。從腰以上腫。皆以此湯發汗悉愈。　金匱云。諸有水者。腰以下腫。當利小便。腰以上腫。當發汗乃愈。　按入門古麻甘湯。即此湯方後云。如肢冷。屬少陰。加附子。</p>
<p>麻黃附子湯　水之為病。其脈沉小屬少陰。浮者為風。無水虛脹者。為風水。發其汗即已。脈沉者。宜麻黃附子湯。浮者宜杏子湯。（金匱小注云。杏子湯未見。恐是麻杏甘石湯。金鑑載杏子湯。麻黃甘草杏仁三味也。蓋依魏注。）</p>
<p>越婢加朮附湯　治水腫惡寒無大熱。骨節微疼。小便清利。大便自調。或滑者。</p>
<p>大陷胸湯　水飲在胸腹。而腫者。兼用之。不拘痛有無也。</p>
<p>桃花湯（丸散方）　水腫兼用下劑。</p>
<p>木防己湯　水病心下痞鞕。煩渴者。</p>
<p>氣急心下痞堅為準。為腳氣衝心狀者。用之。（紀聞）</p>
<p>木防己去石膏加茯苓芒消湯。木防己湯症。而不煩渴。二便不利者。</p>
<p>防己黃耆湯　治水病身重。汗出惡風。小便不利者。</p>
<p>防己茯苓湯　治四肢聶聶動。水氣在皮膚。而上衝者。</p>
<p>真武湯　按腫上陷而不起。無熱。腹濡弱。大便滑。或溏者。</p>
<p>八味丸　腰以下腫者。　按此丸緩症也。氣急之證。勿用之。</p>
<p>牡蠣澤瀉散　大病後腫者。</p>
<p>五苓散　感濕而腫者。（要訣）</p>
<p>豬苓湯　和田氏用之。</p>
<p>桂枝茯苓丸合五苓散湯　大黃牡丹湯　上二方。主產後腫。</p>
<p>本草云。血腫。紅花二兩杵爛入水半盞。取汁服之。不過三服便痊。</p>
<p>鯉魚湯　鯉魚（長七八寸者一頭去鱗與腸）　昆布（方三寸三片）　山椒（一錢）　上以水一升八合。煮取四合。吞其汁。旦食鯉。每日一劑。</p>
<p>赤小豆藥　赤小豆（一合）　生商陸根（二十錢）　上二味以水四合煮爛。去商陸食小豆。</p>
<p>加減麻黃連軺赤小豆湯　治瘡疥內攻腫滿者。　依本方去生梓白皮。加商陸。　赤小豆（二錢）　商陸（五分）　大棗（三分）　麻黃連軺杏仁生薑（各二分）　甘草（一分）　上八味以水二合。煮取六勺。或加反鼻。或兼用犀角。</p>
<p>仲呂丸　蕤賓丸　紫丸　元生丸（家方）　七寶丸　犀角一老醫云。水腫心下苦悶者。大檳榔湯四苓散。合方。有效。或兼犀角。　和田氏。遍身流腫。用千金麻子湯。附子劑也。流腫先右手腫。又左足腫之類。不定處。遂及一身。內攻腫用東洋赤小豆湯。及連翹湯。產後腫用琥珀湯。五苓散加琥珀反鼻。以水一合。冬瓜汁一合。煎服。　水不可治者有五。唇黑。缺盆平。臍出。背平。足下平滿。水病忌腹上出水。出水者一月死。（千金）　古云。身有熱者。水氣在表。可汗之。身無熱者。水氣在裡。可下之。患人腹上。用手按之有窩者。可治濕也。　又云。余處有腫。肩項水氣去。瘦削者。死在近。　腹脹如鏡光者惡。　無腫呼吸促迫者惡。　腫卒消者。禍在反掌。　水腫卒發大熱者。後必衝心。　水氣一旦減。再腫滿者惡。　水腫腹見青筋者惡。　小言云。水腫有咳者。動悸劇者。自心下催水氣者。脈數者皆惡。　準繩云。血腫者。皮膚間。有紅縷赤痕。入門云。四肢浮腫。皮肉赤紋。名曰血分。醫林。溫白丸。方後。血腫。其人有赤黑紫文。用桃仁、紅花、赤豆、蘇木、煎湯下。　按水腫秘結者。兼用承氣丸。及仲呂丸。蕤賓丸。瘡疥內攻腫滿者。麻黃連軺赤小豆湯。劇者。兼用紫丸。實腫。兼赤小豆藥。虛腫。兼鯉魚湯。虛腫。右側臥則直右多腫。左側臥則直左多腫者。必死矣。勞病並諸病。後瘦極而後腫者。必不治。　和田氏云。水腫有如拳者在心下。名水結。不治症也。縱一旦得治。亦再發而死。　醫林水腫門。有輕粉丸巴豆丸。　方輿載單香薷湯及郁李仁湯。紫蘇子湯。麻子湯。麻子小豆湯。連翹湯。赤小豆湯。防己散。琥珀湯。瓜子仁湯。實脾飲。</p>

<h2>鼓脹（腹滿）</h2>
<p>厚朴七物湯　腹滿發熱十日脈浮而數。飲食如故。</p>
<p>主腹滿氣脹方。（千金）</p>
<p>厚朴三物湯　痛而閉者。</p>
<p>梔子厚朴湯　心煩腹滿臥起不安者。　廣義云。心煩當做虛煩看。腹滿亦非實滿。</p>
<p>厚朴生薑半夏甘草人參湯　發汗後腹脹滿者。（此亦虛滿也）</p>
<p>大承氣湯。　腹滿不減。減不足言。當下之。</p>
<p>大柴胡湯　按之心下滿痛者此為實也。當下之。</p>
<p>大黃甘遂湯　婦人少腹滿。如敦狀。小便微難。而不渴。生後者。此為水與血俱結在血室也。</p>
<p>抵當湯（見經閉）</p>
<p>大黃牡丹湯　鼓脹因瘀血者。　按方輿。載瓜子仁湯。牡丹湯去消黃。加薏苡湯也。其主治云。治瘀血致腹滿鼓脹者。又云。腹脹有塊。按之痛不移處。口不惡食。小便自利。大便黑。面黃。手掌赤紋。肌膚甲錯。有此等之候者。決為血症也。宜擇用下瘀血藥。</p>
<p>甘遂半夏湯　（見痰飲）　人參湯加附子　腹平滿大便滑者。</p>
<p>赤小豆藥　仲呂丸　七寶丸　紫丸</p>
<p>鼓脹灸法（慄山孝庵傳）先以味噌。填滿神闕。別取土器。錐鑿小孔於其心。以安臍上。熟艾一錢。分為三炷。灸於孔上。令火氣通臍。味噌甚厚。則火氣不通。甚薄則灸後臍爛。火氣微通為度。徹之。一日三回。盡一錢艾也。灸前須以繩度腹圍。病深者。灸後七日。腹減五分。以為驗焉。至輕者。則得遽減三寸。二便隨多。或下如赤小豆汁者。腹滿漸減。六七十日外全愈。　按此灸法。原出外臺及景岳全書。陰症最有效云。</p>
<p>雞矢醴（醫林）　治鼓脹。　雄雞矢（臘月內收取曬乾）　川芎（各研末各一兩）　上酒煮。麵糊丸。梧子大。每服五十丸。溫酒下。</p>
<p>一方（同）　治鼓脹身乾黑瘦。多渴煩悶。　馬鞭草　細銼曝乾。勿令見火。以酒或水煎。至味出去柤溫服。（六月採用）</p>
<p>皂莢主腹脹滿。胸腹脹滿。煨研丸服。取利甚妙。（本草）</p>
<p>金匱曰。病者腹滿。按之不痛為虛。痛者為實。可下之。　畜血成脹。腹上青紫筋見。或手足有紅縷赤痕。小水利。大便黑。金匱下瘀血湯。或抵當丸。（醫通）</p>
<p>古云鼓脹。臂細。臍凸。手足心及背平滿。青筋繞腹。皆不治。　手足羸瘦。腹膨脹者。名蜘蛛蠱。不治。　脈浮大者生。虛小危急。　按本草云。水銀。治積滯鼓脹。宜用七寶丸。大抵脹滿。腹高脹者。宜下劑。腹平滿者。有可附子者。兼灸。或一醫云。脹滿。初發。用大黃甘遂湯。有效。又云初起。用生漆丸。身體生癢。發疹後。可用桃核牡丹湯等。或有愈者。　病因考鼓脹門。治方用熊膽。灸自九至十六。　方輿載瓜子仁湯。及分消湯。壯原湯。</p>

<h2>黃疸</h2>
<p>茵陳蒿湯　黃疸初起宜用此湯　茵陳五苓散。</p>
<p>梔子蘗皮湯　身黃髮熱者。</p>
<p>梔子大黃湯　酒黃疸心中懊憹。或熱痛。</p>
<p>大黃消石湯　黃疸腹滿。小便不利而赤。自汗出。此為表和裡實。當下之。</p>
<p>小柴胡湯　諸黃。腹痛而嘔者。</p>
<p>大柴胡湯　前方證而劇者。（紀聞）</p>
<p>小建中湯　男子黃。小便自利。　心中悸而煩。或腹痛者主之。（紀聞）</p>
<p>桂枝加黃耆湯　諸病黃家。但利其小便。假令脈浮。當以汗解之。　黃疸有表症者。用之。（紀聞）</p>
<p>麻黃醇酒湯　按本草綱目。麻黃條載此湯。方後云。頓服取小汗。同書。黃疸門云。麻黃。傷寒發黃表熱。煎酒取汗。由是考之。金匱脫取汗二字。宜補之。　三因此湯主治云。脈浮緊者。以汗解之。</p>
<p>紅礬丸（家方見黃胖紀聞云黃疸心下痞堅者兼用之）　消礬散</p>
<p>療黃疸方（千金）　取生小麥苗。搗絞取汁。飲六七合。晝夜三四飲。三四日便愈。無小麥苗。穬麥苗亦得。（範注云用小麥為勝也）</p>
<p>四逆湯加茵陳　（醫壘名茵陳四逆湯）　一物瓜蒂湯　備急丸　大承氣湯　以上三方。主急黃。</p>
<p>病源急黃候云。卒然發黃。心滿氣喘。命在頃刻。故云急黃也。又云。得病但發熱心戰者。是急黃也。外臺瓜蒂散主治云。急黃心下堅硬。渴欲得水吃。氣息喘粗。眼黃。聖濟瓜蒂散主治云。急黃煩熱口乾。醫林急黃用巴豆丸。聖濟治急黃藥品有瓜蒂、巴豆、消黃、犀角、石膏。　按外臺。許仁則療急黃始得大類天行病者。用麻黃劑取汗。</p>
<p>金匱云。額上黑。微汗出。手足中熱。薄暮即發。膀胱急。小便自利。名曰女勞疸。腹如水狀。不治。　疸而渴者。難治。疸而不渴者。其疸可治。　心中懊憹而熱。不能食。時欲吐。名曰酒疸。　酒疸心中熱。欲吐者吐之愈。（按瓜蒂症）　谷之為病。寒熱不食。食即頭眩。心胸不安。久久發黃。（按茵陳湯症）　五疸實熱。脈必洪數。其或微澀。證屬虛弱。　丹溪曰。不必分五等。是溫熱。如盦曲相似。　五疸久久變黑者。皆難治。（醫統）　大便利而渴者死。小便利不渴者生。（醫通）　按黃疸腹中有塊者。年過五十者。多難治。</p>

<h2>黃胖</h2>
<p>茯苓飲加厚朴湯　四苓散加橘皮湯　梔子厚朴湯　腹滿者。</p>
<p>紅礬丸（家方）　治黃疸黃胖。並嬰孩疳氣。好食生米土炭。及下血家。動悸甚者。　茯苓飲去人參、生薑。加厚朴、黃連、綠礬。　茯苓　術　橘皮　厚朴　黃連（各八錢）　綠礬（燒為紅十錢）　枳實（六錢枳實代甘草益佳）　上七味為末。醋糊為丸。梧子大。每服七八十丸。白湯下。</p>
<p>身面黃白。浮腫。手足爪甲枯皺。專為短氣。身體倦怠。目中淡白。此病以首認氣急爪反為第一證決。即是黃胖也。（行余醫言）　此病好食生米茶葉之類。又云腫及四肢者。腫及腹者。飲食減少者。皆難治。又云黃腫。多因蟲積食積之為害也。（玉案）　按黃胖。一名黃腫。久不愈則下血。虛里動悸甚。地黃劑無效。紅礬丸多服。大效。久年不愈而腫。則可從水腫之治法。難治。　方輿載外臺半夏湯。及平胃散。</p>

<h2>癥瘕疝</h2>
<p>苓桂甘棗湯　臍下悸者。欲作奔豚。（按腹痛沖胸者累用累驗）</p>
<p>桂枝加桂湯　氣從少腹上衝心者。（按世俗所謂。佐志古美者。有效。）</p>
<p>茯苓甘草湯　厥而心下悸者。　心下悸上衝而嘔者。（方極）</p>
<p>苓桂朮甘湯　心下逆滿。氣上衝胸。起則頭眩。</p>
<p>大黃黃連瀉心湯　心煩。心下痞。按之濡者。</p>
<p>半夏瀉心湯　心下滿而不痛者。此為痞。此方主之。</p>
<p>黃連湯（見腹痛）　按心下痞。痛者此湯。心下痞鞕。不痛者。半夏瀉心湯。</p>
<p>小柴胡湯　大柴胡湯　柴胡桂枝湯　治寒疝腹痛。（外臺）</p>
<p>柴胡薑桂湯　桂枝加芍藥湯　桂枝加芍藥生薑人參　小建中湯　大建中湯　大烏頭煎　治寒疝繞臍。痛若發則自汗出。手足厥冷。脈沉緊者。</p>
<p>烏頭桂枝湯　寒疝腹中痛逆冷。手足不仁。若身疼痛。灸刺諸藥不能治。治寒疝腹中絞痛。拘急不得轉側。發作有時。便人陰縮。手足厥逆。（外臺　按腰腹引陰囊痛脈弦緊者效）</p>
<p>當歸四逆加吳茱萸生薑湯　內有久寒者。　治烏頭桂枝湯證而緩者。又治陰㿗。（方輿）</p>
<p>大黃附子湯　脅下偏痛。發熱。其脈緊弦者。</p>
<p>吳茱萸湯　痛從陰囊上衝脅下者。　劇者加烏頭。</p>
<p>苓薑朮甘湯　腰重冷者。</p>
<p>仲呂丸　夾鍾丸　元生膏　蜞針　備急丸　七寶丸　化毒丸</p>
<p>行余醫言云。蓋症即積。積即症。同一而非有異。又謂之癖。瘕即聚。聚即瘕。亦是同一而非有異。又謂之疝。又謂之痃。究竟癥瘕即積聚之異名耳。同書疝門。云疝即聚。又即瘕。又云疝者。鬱氣之凝滯而為痛者也。多在少腹。</p>
<p>張介賓曰。能大能小。能左能右。近胸肋而如臂如指。則謂之痃癖。下臍腹而為脹為急。則為之疝瘕。　方輿載小品牡蠣奔豚湯。及千金瀉脾湯。同書云。寒疝附子粳米湯證。而痛在心胸者。用小品蜀椒湯。附子粳米湯加蜀椒乾薑方也。又疝氣用附子劑或當歸四逆等。而無效。腰不伸者。有用五苓散加茴香。而奏效者。又同書疝用禹功散及無憂散。又云疝忌蒟蒻。愈後亦勿食。　按凡治心腹痛及諸痛。諸方中有甘草。則勿減甘草分量。甘草少則無效。　靈樞本藏篇云。腎下則腰尻痛。不可以俯仰。為狐疝。聖濟云疝氣。臍腹疼痛。腰曲不伸。此症食時。及二便轉側之時。假人手甚為清擾之患。予得妙法攤元生膏於綿片。徑四寸許。以貼於腰。日二次。發水泡則針而取水。復貼膏。二三日而能屈伸。坐臥復故。奇奇妙妙。屢試屢效。　久年。積聚疝。有脊骨突出。或背肉隆起者。難治者也。治之法。內與對症方。秘結者。時時用丸散下之。外隆起上。貼元生膏。六七日。糜爛處施蜞針。去惡血。復施元聖蜞針如前。四五度。則無不愈矣。又久年腹痛。有七寶化毒之證。　日本橋第四街。梁州店。老嫗年六十五。患疝。腰不得屈伸。眾治無效。床頭常置溲器。扶於人尿已三年。請予。即與當歸四逆加茱萸生薑湯。兼承氣丸。而腰部貼元生膏。徑四寸。日日取毒。七日而半愈。半月而全治。此症元生之功大。　蘭醫某詰予曰。子能用發泡膏。蘭書有發泡七方。子知其用法乎。答曰。予所用者。漢方而芫苼一味也。非蘭方也。某曰。未聞漢有此方。其出何書乎。答曰千金。外臺。聖濟。皆有此方。子何不學之甚。某閉口去。　方輿載牡蠣奔豚湯。及瀉脾湯。柴胡鱉甲湯。寬中湯當歸大黃湯。千金吳茱萸湯。桂心湯。蜀椒湯。五苓加茴香湯。禹攻散。無憂散。　一婦年四十。自每月經行六七日前。左少腹痛甚。呻吟聲徹四鄰。經行後六七日而痛漸止。每月廿日在病床。眾治無效。已十年。請予。予視其背。左腰肌肉僅隆起。方三寸許。乃與當歸四逆加吳茱萸生薑湯兼甘遂丸。腰肉隆起處。貼大元生膏。廿日許而愈。後月不再發。此症元生之功大。橫沙侯臣湯河氏妻也。</p>

<h2>蟲</h2>
<p>烏梅丸　治蛔厥。</p>
<p>烏梅丸去附子湯　不可附子者。</p>
<p>鷓鶘菜湯</p>
<p>一方　鷓鶘菜（二錢）　忍冬（一錢）　桂枝（二分）　甘草　丁子（各一分）　上五味。漬水少時。去渣煮一兩沸。頓服。或以水一合。煮取七勺。去渣冷服。</p>
<p>甘草粉蜜湯　蛔蟲之為病。令人吐涎心痛。發作有時。毒藥不止。</p>
<p>大建中湯　或加烏梅。</p>
<p>烏梅丸（家方）　烏梅　蜀椒　乾薑（各等分）　上三味。為末糊丸。梧子大。每服四五十丸。白湯送下。</p>
<p>濕漆丸　作癲癇狀者。（紀聞）</p>
<p>紫丸　七寶丸</p>
<p>靈樞云。中熱則胃中消穀。消穀則蟲上下作。　金匱云。腹中痛。其脈當沉若弦。反洪大。故有蛔蟲。　病源云。蛔蟲長一尺。亦有長五六寸。其發動則腹中痛。去來上下。痛有休息。亦攻心痛。口喜吐涎。及吐清水。貫傷心者則死。　入門云。凡蟲症。眼眶耳下青黑。面色痿黃。臉上有幾條血絲。如蟹爪分明。飲食不進。肌肉不生。沉重寒熱。若不早治。相生不已。貫心殺人。　醫通云。諸蟲嗜食米紙茶葉泥炭之類。又云。心腹中痛。上下往來。發作有休時。喜涎出者。蟲也。（按蟲門載金匱九痛丸。）　玄治翁云。小兒夜熱者蟲也。　南陽云。唇色如塗朱。眉目間蒼黃色者。為蟲候。　東郭翁云。小兒頭痛劇者。十中八九蟲也。有時大食。有時不食者。時時卒倒者。手足難屈伸者。多蟲症。皆宜鷓鶘菜湯。此湯症多臍傍有塊。凡用此湯則止。夕飧。晡時。臨床。平旦三服。七日用之而不下蟲者。非此湯症也。　按腹痛。發作有時者。為蟲候。用鷓鶘菜湯。或粉蜜湯。而嘔者。宜大建中加烏梅湯。或烏梅丸去附子湯。或兼家方烏梅丸。凡相殺蟲諸藥。而蟲難下者。兼用紫丸。粉。鉛粉也。藥肆稱唐土者是也。家翁所著粉辨詳論之。　方輿載檳榔鶴蝨散。及奧村氏烏梅丸。</p>

<h2>癲癇狂（健忘驚悸不寐）</h2>
<p>小柴胡湯　大柴胡湯　柴胡薑桂湯　此三方因腹候用之。健忘或用之。</p>
<p>柴胡龍骨牡蠣湯　胸滿煩驚。小便不利。譫語者。</p>
<p>桂枝加龍骨牡蠣湯　腹中拘急。動悸劇者。</p>
<p>小建中湯　心中悸而煩者。</p>
<p>大黃黃連瀉心湯　心煩心下痞。按之濡者。</p>
<p>瀉心湯　心氣不定。心下痞。按之濡者。　或加硃砂石膏。</p>
<p>黃連解毒湯　喜笑不止者。</p>
<p>白虎湯　狂癇煩渴者。</p>
<p>甘麥大棗湯　婦人藏躁。喜悲傷。欲哭。象如神靈所作。數欠伸。</p>
<p>梔子豉湯　虛煩不得眠。</p>
<p>酸棗仁湯　煩躁不得眠者。</p>
<p>鷓鶘菜湯　因蟲者。</p>
<p>桃核承氣湯　抵當湯　上二方。因瘀血者。健忘或用之。</p>
<p>瓜蒂散　狂癇壯實者。</p>
<p>大承氣湯　醫通。發狂去厚朴加鐵落。</p>
<p>石膏黃連甘草加鐵砂湯　主治見急慢驚門。加辰砂益佳。</p>
<p>姑洗丸　南呂丸　七寶丸　紫丸　一老醫云。狂五瀉心皆效。　古云癲脈。大滑者生。沉小緊急者。不治。熱狂脈。實大者生。沉小者死。　子和狂癇用吐劑。　正傳云。癇可吐。狂宜下。又用水銀劑。　要訣入門癲狂。用抱膽丸。即水銀劑也。　全書發狂。用巴豆丸苦參丸。　醫通狂用瓜蒂。癇用靈砂丹。養生丹。皆水銀劑也。　方輿發狂。狂走。用將軍湯。大黃一味也。又用防己地黃湯。癱瘓者。用風引湯。不寐。用千金酸棗湯。流水湯。健忘。用歸脾湯。又發狂。古金五兩。以水五合。煮取一合。入硃砂一匕。服有效。　一貫云。癲癇有蛔蟲之候者。鷓鶘菜湯兼用濕漆丸。穢物下蟲亦下者。愈。不下者。難治也。癲癇卒厥之時。脈平也。健忘多因瘀血者。茯苓杏仁甘草湯有效。　田中氏云。癲癇用三聖散。一吐後。用入鉛方有效。　不寐。龜井氏用甘草瀉心湯。　按行余醫言。癇病門後。載不食之症。云不食之症。（云云）予所見及餘三十人。多是婦女。而男子只有二三。其症他無所苦。不思秔食。或食麥飯。糯米粉。或豆腐屑。（云云）或終日不吃食餌而不飢。而自數日。至數月。以及數年。然形體不瘠。脈多平緩。間或痞。或痛。若強與之食。必吐。（云云）遇此症以措而不治。乃為真治法。（云云）予見此症二人。皆婦女也。一人者。好食糍。食他物則吐。三年而復故。一人者。只飲湯與他食則吐。一年許而復故。皆措而不治。真奇疾也。</p>

<h2>勞病（失精盜汗陰痿）</h2>
<p>小建中湯　治虛勞裡急。悸衄。腹中痛。夢失精。四肢痠痛。手足煩熱。咽乾口燥者。　千金云。凡男女因積勞虛損或大病後。不復常。苦四體沉滯。骨肉疼酸吸吸少氣。行動喘惙或少腹拘急。腰背強痛。心中虛悸。咽乾唇燥。面體少色。或飲食無味。陰陽廢弱。悲憂慘慼。多臥少起。久者積年。輕者百日。漸致瘦削。五藏氣竭。則難可復振。治之之方。</p>
<p>黃耆建中湯　虛勞裡急。諸不足。（按大病後。或產後盜汗不止者。加龍骨牡蠣或當歸。）</p>
<p>當歸生薑羊肉湯　治腹中寒疝。虛勞不足。　按我邦無羊。可代用朝鮮產干牛肉。中神氏。以雞肉代羊肉。</p>
<p>桂枝加龍骨牡蠣湯　脈得諸芤動微緊。男子失精。女子夢交（按發汗後。盜汗不止。不可附子者。用之屢效。）　</p>
<p>炙甘草湯　治虛勞不足汗出而悶。脈結心悸者。（從千金翼補心字）</p>
<p>八味丸　虛勞腰痛。少腹拘急。小便不利者。　紀聞云此方腰痛為準。今之虛勞此方症少矣。冷勞定有效。</p>
<p>小柴胡湯　柴胡薑桂湯　大柴胡湯　三物黃芩湯　麥門冬湯　大逆上氣。咽喉不利。止逆下氣。</p>
<p>酸棗仁湯　虛勞虛煩不得眠。</p>
<p>加減當歸芍藥散料　去澤加地黃五味麥門。或加參耆桂之類。</p>
<p>獺肝散（肘後）　治冷勞。又主鬼疰一門相染。　紀聞云。此方勞瘵初發。冷熱俱用。虛勞不用此方。虛勞者。有裡急腹痛。手掌煩熱等症。瘵者自初無如斯症。有脈細數咳嗽吐沫之症。</p>
<p>濕漆丸　治失精久不愈。（介賓）　牡蠣（炒）　上一味以酢糊為丸。桐子大。每五七十丸。空心溫湯下。</p>
<p>千金云。夢泄精。灸三陰交二七壯。又灸腎俞百壯。</p>
<p>治陰痿　露蜂房。燒研酒服。此方出本草本朝醫考宗嗣經驗。</p>
<p>治自汗盜汗　五倍子（一錢）　枯礬（五分）　上為末。用津唾調。填滿臍中。以絹帛繫縛一宿。即止。又有龍骨五倍子酢調貼臍方。</p>
<p>古云陰虛生內熱。又曰勞傷心腎而得之。心主血。腎主精。精竭血燥。則勞疾生。　明醫雜著云。午後發熱。咳嗽盜汗。飲食少進。甚則痰涎帶血。脈沉數。肌肉消瘦。此名勞瘵。最重雜治。又曰。到脈細數。則難為矣。　回春云。虛勞不受補者。聲啞者生。眠瘡者。發熱不休。形體瘦者。不治。　紀聞云。疝久不愈為虛勞狀者。宜歸姜羊肉湯。然我邦無羊。代牛肉。惡牛肉之臭氣者。當歸建中湯。令餌食牛肉佳。　方輿輗云。女子十七八歲。經閉為勞狀者。金匱大黃蟅蟲丸有效。主治中腹滿二字眼目也。又有如此症。用鱉甲芒消劑而全愈者。　方輿勞病煩熱者。用五蒸湯。乾血勞。苦煩熱者。用三物黃芩湯。又用本事方。鱉甲五味子地骨皮三味丸及朝鮮千牛丸。逍遙散。　按急勞之名。在聖惠及聖濟。或謂之暴急勞疾。又云。與熱勞相似。半月或一月死。人多不知也。予所見者。月餘而死。聖惠蝦蟆丸治急勞煩熱。蝦蟆（一枚炙）　胡黃連（三分）　麝香龍腦（各一錢）　上糊丸。予弱齡治勞病。用輕粉丸日一分。二三日惡症蜂起。不日而死。勞病忌峻藥。慎之慎之。　凡勞病內與對症方。宜餌食鰻鱺魚間有愈者。</p>

<h2>肺痿肺癰</h2>
<p>桂枝去芍藥加皂莢湯　治肺痿吐涎沫。</p>
<p>炙甘草湯　治肺痿涎唾多。心中溫溫液液者。</p>
<p>生薑甘草湯　治肺痿咳唾。涎沫不止。咽燥而渴。</p>
<p>甘草乾薑湯　肺痿吐涎沫而不咳者。其人不渴。必遺尿。小便數。所以然者。以上虛不能制下故也。此為肺中冷。必眩。多涎唾。</p>
<p>金匱云。寸口脈數。其人咳。口中反有濁唾涎沫者。為肺痿。　聖濟肺痿門云。或欲咳不得咳。咳則出干沫。胸中隱隱痛者是也。　回春云。無膿者。肺痿也。　外臺蘇遊。傳屍論云。氣急咳者。名曰肺痿。　良方劫勞散證治云。勞嗽。寒熱。盜汗。唾中有紅線。名曰肺痿。由是觀之。肺痿者。為勞病一症可徵。香川氏丹波氏南陽亦云。（本草云鯽魚肺痿咳血有效。）</p>
<p>桔梗湯　加苡薏尤效。　咳而胸滿。振寒脈數。咽乾不渴。時出濁唾腥臭。久久吐膿。如米粥者。為肺癰。桔梗湯主之。千金作桔梗三兩。今從之。子和依此方。加薏苡糯米。正宗依此方。加貝母紫苑杏仁。名四順散。</p>
<p>桔梗白散　主治同桔梗湯葦莖湯　咳有微熱。煩滿胸中甲錯。是為肺癰。</p>
<p>葶藶大棗瀉肺湯　肺癰喘不得臥。</p>
<p>犀角　鯉魚膾　（正宗有犀角劑及金鯉湯）　薏苡仁粥　代飯日食之。　干柹　宜日食之。一男兒六歲。患肺癰。吐膿血。與桔梗湯加薏苡。兼犀角。每日令食薏苡仁粥及鯉魚膾干柹十餘日。膿血日減。月餘而全愈。　慄山先生。患肺癰。服黃昏湯而全愈。黃昏合歡木也。用皮而佳。此方出千金及外臺。黃昏（手掌大一枝）　上一味以水二合。煮取一合服。（方輿輗）　肺癰用薏苡根搗汁。頓熱服之。其效最捷。已潰未潰。皆可挽回。諸方不及也。又云薏苡為肺癰專藥。根汁最效。（明韓𢘅醫通）　一方（華岡）治肺癰。　蘆若芽（大）　甘草（中）　上二味濃煎服。　又方（華岡）　生生乳（三分）糊丸。七日服。金匱云。咳即胸中隱隱痛。脈反滑數。此為肺癰。咳唾膿血。　（按桔梗湯主治也）　潘氏續焰。試肺癰法。凡人覺胸中隱隱痛。咳嗽有臭痰。吐在水內。沉者是癰膿。浮者是痰。集義云。今驗果如其言。又以雙箸斷之。其斷為兩段者是膿。其黏著不斷者是痰。亦一試法也。　醫通云。肺癰初起。脈不宜數大。潰後最忌短澀。脈緩滑面白者生。脈弦急面赤者死。若潰後。大熱不止。胸中隱痛。痛在左畔。喘汗面赤。膿痰腥穢不已者。難治。若喘鳴不休。唇反咯吐膿血。色如敗滷滃。臭異常。飲食難進。爪甲紫而帶彎。手掌皮如枯樹。面豔顴紅。聲啞。鼻煽者。不治。　按肺癰。五十以上者。難治。一書云。一老儒患肺癰。用正宗金鯉湯。全愈。　方輿初用四順散。或錄驗桔梗湯。後用葦莖湯。或黃昏湯。</p>

<h2>腸癰</h2>
<p>大黃牡丹皮湯　腸癰者。小腹腫痞。按之即痛。如淋。小便自調。時時發熱。自汗出復惡寒。其脈遲緊者。膿未成。可下之。當有血。脈洪數者。膿已成。不可下也。</p>
<p>薏苡附子敗醬散　腸癰之為病。其身甲錯。腹皮急。按之濡。如腫狀。腹無積聚。身無熱。脈數。此為腸內有癰膿。</p>
<p>排膿散　排膿湯</p>
<p>大黃牡丹湯去消黃加薏苡湯　即千金腸癰湯也。</p>
<p>伯州散　按腸癰外潰者。腸癰湯兼伯州。或桂茯丸料。加薏苡黃耆。若盜汗出者。耆歸建中。或附子劑等。餌食、雞卵、鰻鱺、鯽魚。重者。宜托外科。　千金云。腸癰之為病。小腹重而強抑之則痛。小便數似淋。時時汗出。復惡寒。其身皮皆甲錯。腹皮急。如腫狀。其脈數者。少有膿也。其脈遲緊者。未有膿也。甚者腹脹大。轉側聞水聲。或繞臍生瘡。或膿從臍中出。或大便出膿血。　入門云。癰生小腸分尤可。大腸分近肛門者。難治。肛門破者。即死。　正宗云。潰後膿腥臭穢。或流敗水濁瘀。虛熱更增。不食者死。　本草云。薏苡仁、冬瓜仁、甜瓜仁。皆治腸癰。敗醬除癰腫。黃耆除腸胃間惡血。皂角刺治腹內血瘡。</p>

<h2>諸失血</h2>
<p>瀉心湯　心氣不定。吐血衄血。　心下痞為準。九竅出血皆用。輕者加地黃。重者加生地黃汁。</p>
<p>黃連解毒湯　瀉心湯症而重者。尿血重者亦用。</p>
<p>小柴胡湯　或加連。諸失血。胸脅苦滿者。</p>
<p>麥門冬湯　或加地黃或石膏。治咳血並血症後上逆。</p>
<p>柏葉湯　吐血不止者。　吐血用諸方不止者。下血不止者亦效。馬通汁代童便佳。</p>
<p>黃土湯　下血先便後血。此遠血也。亦主吐血衄血。　不拘先便後血。而可也。吐衄血共脈緊者。有此湯之症。又崩漏脈緊者。用之有效。</p>
<p>豬苓湯　治尿血重者。兼用黃連解毒湯。尿血無痛。血淋有痛。治方一也。</p>
<p>芎歸膠艾湯　香川氏吐血。咳血。尿血。用之。</p>
<p>桃核承氣湯　治吐血覺胸中氣塞。上吐紫血。（壽世）</p>
<p>童便　褚氏遺書云。咳血飲溲溺。則百不一死。又集解云。治咳血。吐血及產後血運。陰虛久嗽。火蒸如燎。　昔者一醫患吐血。百治無效。日服童便五合。月餘而全愈。</p>
<p>犀角　治吐血。衄血。下血。（時珍）</p>
<p>紅礬丸（家方）　治久下血。面色青黃。動悸劇者。</p>
<p>荊芥湯（千金）　治九孔出血。荊芥一味煎服。　鼻衄不止用之。（方輿）</p>
<p>治下血奇方　乳髮霜　每服五分。白湯下。日三。</p>
<p>聖濟唾血不止。蒲黃一味研細。每服三錢匕。冷水調下。　吐血門。有單人參散。　治衄血。龍骨末。五倍子末。枯礬少許。各一味吹鼻中。　食治門。治吐血用大豆濃煎汁。治下血。又食野豬肉。　舌上出血。黃柏一味為散。每服二錢匕。　正傳舌上出血如線。槐花炒末摻之。又蒲黃炒焦傅之。　諸失血皆是陽盛陰虛。悉宜四物湯加知柏為主治。　治衄血。灸大椎啞門二三壯。　方輿灸法。治下血無度。脊中對臍一穴。五壯或十壯。衄血亦可。又灸足三里二穴。　古云失血。大概俱是熱症。脈宜沉細。設見洪大。後必難治。　要訣吐血。嗽血。用養正丹。靈砂丹。皆水銀劑也。　山脅氏。和田氏。吐衄咳血。用參連湯。　謙齋曰。專音聲人。吐血者多有焉。　和田氏云。大吐血。其血不止者。或昏暈者。俱灸鳩尾穴。其艾大如中指頭。數百壯開其閉塞。血能止。數得效。又云失血瀉心湯加荊芥一二錢。大效。又云大吐血症。用麥門冬湯。加連石膏屢得效。　五竅出血。以井花水。當面連噴幾口。急分開頭髮。用粗紙數層。蘸醋令透搭在囟門。其血即止。　一書云。明礬治諸失血。每服半錢。大麥煎湯送下。多用則嘔。少許度度可用。又蘭書有明礬血竭二味方。　蘭書云。吐血出於肺者。胸中微痛而熱。口中甘。咽喉中癢。咳血。其血必為泡沫。甚則立死。血線亦出於肺。惡候也。吐血出於胃者。噁心而吐血。血反多。其色黯赤。凝結。與食物交出。其血不為泡沫。此症無不愈矣。　醫言云。吐血從胃脘逆升。上出於口也。衄從頭中滲漉。下洟道出於鼻也。吐血逆上。故多死。衄順下。故死者至希。古人並稱吐衄俱為劇症者非矣。　方輿輗云。吐血後。噁心嘔吐者。瘀血在內未盡也。又瀉心湯。治九竅出血。拔萃加生地黃犀角。名犀角地黃湯。　按吐血後。不寐。黃連阿膠湯有效。又吐衄血不止。茅花加甘草少許。煎服有效。此方在外臺。又蒿雀霜亦有效。要訣衄血。用單茅花湯。山脅氏二白湯。治吐血。唐白及、白茅根二味。水煎服。　方輿載獨參湯。及參連湯。犀角地黃湯。</p>

<h2>痰飲咳嗽</h2>
<p>大青龍湯　小青龍湯　病溢飲者。當發其汗。大青龍湯主之。小青龍湯亦主之。</p>
<p>小青龍加石膏湯　肺脹咳而上氣煩躁而喘。脈浮者。心下有水。　咳嗽吐白沫。殆欲成勞者。又喘哮多用之。</p>
<p>越婢加半夏湯　咳而上氣。此為肺脹。其人喘。目如脫狀。脈浮大者。　乾咳者。又哮喘多用之。</p>
<p>射干麻黃湯　咳而上氣。喉中如水雞聲。（外臺水上有如字）</p>
<p>皂莢丸　咳逆上氣。時時唾濁。但坐不得臥。　痰黏著胸中難出者。</p>
<p>麥門冬湯　大逆上氣。咽喉不利。止逆下氣者。　聲啞者效。</p>
<p>麻黃甘草加杏仁生薑湯　治風寒咳嗽多痰。語音不出者。（麻甘杏三味等分生薑減半）傷風咳嗽。語音不出者。先服此湯取微汗。熱解後。語音不出者。服麥門冬湯。</p>
<p>甘遂半夏湯　病者脈伏。其人慾自利。利反快。雖利心下續堅滿。此為留飲欲去故也。　利反快與心下堅滿為準。</p>
<p>十棗湯　脈沉而弦者。懸飲內痛。　病懸飲者。　咳家其脈弦為有水。夫有支飲家咳煩胸中痛者。　夫心下有留飲。其人背寒冷。如手大。此諸證之中。有一症則宜用此湯。</p>
<p>姑洗丸　十棗湯證輕者。</p>
<p>木防己湯　膈間支飲。其人喘滿。心下痞堅。面色黧黑。其脈沉緊。得之數十日。醫吐下之不愈。木防己湯主之。虛者即愈。實者三日復發。復與不愈者。宜木防己湯去石膏加茯苓芒消湯主之。</p>
<p>苓桂朮甘湯　短氣有微飲。當從小便去之。</p>
<p>茯苓飲　治心胸中。有停痰宿水。自吐出水。後心胸間虛氣滿。不能食。消痰氣。令能食。　吐宿水為準。</p>
<p>枳朮湯　心下堅。大如盤。邊如旋杯。水飲所作。　此湯症。按腹則轆轆有聲。此湯效遲。或兼用甘遂半夏湯。（紀聞）</p>
<p>小柴胡湯　柴胡薑桂湯　四逆散　此三方。久咳或因腹候用之。</p>
<p>苓桂五味甘草湯　苓甘五味姜辛湯　苓甘姜味辛夏湯　苓甘姜味辛夏仁湯　苓甘姜味辛夏仁黃湯</p>
<p>以上五方。咳嗽無表症者。可用之。金匱證治。有可疑者。宜從方極主治。</p>
<p>真武湯加乾薑細辛五味子　水飲與裡寒合而作嗽。腹痛下利。（直指）</p>
<p>瓜蒂散　子和痰飲咳嗽用之。</p>
<p>南呂丸　秘結者兼用之。</p>
<p>七寶丸　紫丸</p>
<p>金匱云。其人素盛今瘦。水走腸間。瀝瀝有聲。謂之淡飲。飲後水流在脅下。咳唾引痛。謂之懸飲。飲水流行。歸於四肢。當汗出而不汗出。身體疼重。謂之溢飲。咳逆倚息短氣不得臥。其形如腫。謂之支飲。　夫心下有留飲。其人背寒冷如手大。　胸中有留飲。其人短氣而渴。四肢歷節痛。　膈上之病。滿涎咳吐。發則寒熱。背痛腰疼。目泣自出。其人振振身瞤劇。必有伏飲。　按後世以痰、懸、溢、支、留、伏、為六飲。　方輿載厚朴麻黃湯。澤漆湯。清肺湯。百合知母湯。三拗湯。紀聞曰。將成勞咳者。用小青龍加石膏湯有效。疫邪解後。或瘧後。咳嗽不已。巨里動悸劇。將成勞狀者。百合知母湯有效。世稱痰瘤者似瘰癧。內用滾痰散。外用傅藥。其方大黃、芒消、五倍子、天南星各等分。南星生則大效。　要訣咳用犀角、鹿茸、胡桃。諸嗽加喘。氣急者。用水銀劑。　治三十年嗽。（千金）百部根二十斤搗取汁。煎如飴。服方寸匕。日三服。深師加蜜二斤。外臺加飴一斤。　治咳嗽不止。（必效方）　生薑五兩。餳半升。火煎熟。食盡愈。段侍御用之有效。　又千金有薑汁砂糖方。　治失音不語。（普濟）萊菔汁入薑汁服。</p>

<h2>喘哮</h2>
<p>桂枝加厚朴杏子湯</p>
<p>小青龍加石膏湯　咳而上氣。煩躁而喘。脈浮者。心下有水。</p>
<p>大青龍湯　喘有表症者。</p>
<p>麻杏甘石湯　喘惡寒止者。</p>
<p>越婢加半夏湯　咳而上氣。　此為肺脹。其人喘。目如脫狀。脈浮大者。　醫宗必讀云。一令愛。久嗽而喘。百治無效。一日喘甚。煩躁。余視其目則脹出。鼻則鼓扇。脈則浮而大。肺脹無疑。以此投之。一劑而減。再劑而愈。</p>
<p>射干麻黃湯　喘已。作咳者。</p>
<p>木防己湯　心下痞堅。氣急者。</p>
<p>皂莢丸　哮喘不得臥者。</p>
<p>南呂丸　姑洗丸　七寶丸　紫丸　化毒丸　救喘丸（家方）　治哮喘。用苧麻根。和砂糖。爛煮時時嚼嚥下。永絕病根。又用貓兒頭骨。燒灰酒調。二三錢。一服便止。（正傳）</p>
<p>上氣喘嗽。沙糖薑汁煎咽。</p>
<p>又喘息欲絕。飲韭汁一升。（草本）</p>
<p>哮喘輕粉丸有效。（小言）</p>
<p>喘脈宜浮遲。不宜急疾數。直視。譫語。喘滿者。不治。（正傳）　凡喘作於大病之後者。上喘咳而下泄瀉者。婦人產後因亡血過多者。多危殆。（醫統）　方輿載千緡湯。及參連湯。喘。四君子湯。</p>

<h2>眩暈</h2>
<p>苓桂朮甘湯　心下逆滿。氣上衝胸。起則頭眩者。（頭眩發作有時為準）</p>
<p>澤瀉湯　心下有支飲。其人苦冒眩者。　頭眩不止為準。</p>
<p>五苓散　臍下有悸。吐涎沫而顛眩。此水也。　夏日眩有效。</p>
<p>小半夏加茯苓湯　卒嘔吐心下痞膈。間有水眩悸者。（嘔吐而眩者效）</p>
<p>應鐘散　秘結者兼用之。</p>
<p>眩暈不可當者。以大黃酒炒為末。茶清調下。（正傳）</p>
<p>苓桂朮甘湯合瀉心湯　治失血後併產後眩暈。</p>
<p>當歸芍藥散料中。三倍芎歸煎服。兼用回生散。</p>
<p>真武湯　此湯症希有焉。</p>
<p>南陽云眩暈。白虎湯有效。</p>
<p>元生膏（家方）　貼百會。</p>
<p>聖濟有灸百會塗蓖麻子取膿血之法。此元生為勝。　要訣用靈砂丹。</p>

<h2>大便閉</h2>
<p>三承氣湯　隨證用之。</p>
<p>麻仁丸　或為湯加桃仁。</p>
<p>蜜煎導　承氣丸　三黃湯　或加甘草煎服。</p>
<p>按平生秘結之人。大黃甘草湯。加芍藥為散服。或煉蜜服。芎黃散。煉蜜服亦佳。</p>
<p>甘遂丸　輕粉丸　巴豆丸　聖惠治大小便閉。脹悶欲死。</p>
<p>輕粉（一錢）　生麻油（一合）　相和服。</p>
<p>本草燥結門。治冷閉。附子為末。蜜水服。　按是希有之證。若有此症。則宜與對證附子劑。聖濟謂之冷秘。即用附子劑。</p>
<p>方輿載宣明論倒換散。大黃荊芥二味也。</p>

<h2>小便閉</h2>
<p>豬苓湯　加車前子或消石桃核承氣湯。</p>
<p>八味丸　產前後小便閉用之。</p>
<p>施整胎術。泄閉術。男子脈緊者。或用之。</p>
<p>大黃甘遂湯　治小便閉。劇證。</p>
<p>黃丹膏　黃丹（十錢）　巴豆（五個）　上二味先研巴豆。內黃丹加蜜少許。相和塗紙。貼臍下一寸五分。</p>
<p>六物解毒加反鼻湯　治黴毒家小便閉。　方中十倍土茯苓。三倍大黃。加反鼻二錢。以水二合五勺。煮取五勺。頓服。累用累驗。土茯苓上品細銼用。</p>
<p>治小便不通方　樸消一味。細研為散。每服二錢匕。酒調下。（聖濟）</p>
<p>治小便不通。臍下急痛。脹悶欲絕。　鹽（二升）　上一味鐺中炒。令極熱。布帛裹。熨臍下以小便通快。為度。（聖濟）</p>
<p>古云小便閉。皆宜吐之。以提其氣。氣升則水自降。　丹溪云。吾以吐通小便。用瓜蒂之類。</p>
<p>聖惠。轉胞條。八味丸。治小腹急痛不得小便。（按急痛為準）</p>
<p>又云以蒲黃。裹患人腎。令頭至地。二度即通。</p>
<p>小便閉。八正散有奇效。倒換散亦有效。梅毒家小便閉。亦八正散有效。（紀聞）</p>

<h2>淋</h2>
<p>豬苓湯加消石湯　治諸淋並膿淋。血淋加車前子。或浮石。</p>
<p>大黃牡丹湯加反鼻。</p>
<p>六物解毒加阿膠滑石湯　治膿淋小便赤澀。莖中痛者。</p>
<p>土茯苓（上品細銼二錢）　通草　忍冬　川芎　滑石　阿膠（各七分半）　大黃　甘草（各三分）　上八味。以水三合。煮取一合半。內膠烊盡。分溫服。忌海腥煎炒滷鹽房事等件。一日服三劑盡。不愈者。加至四五劑至重者。七倍土茯苓。三倍大黃。倍余藥。加反鼻二錢。以水四合。煮取二合五勺。再以水三合半煮取二合。俱合和。空心一日一夜服盡。雖膿淋至重者用此湯。七日而無不奏效矣。若或大勢已解。莖中有痛者。日用七寶丸一分許。七八日而無不愈者矣。屢用屢驗。　服藥中。宜日食雞卵三四枚。雞肉愈佳。此先輩之試驗也。</p>
<p>黃連解毒湯　治血淋。</p>
<p>桃核承氣湯　大黃甘遂湯　諸淋秘結。少腹滿者。兼用之。</p>
<p>承氣丸　七寶丸</p>
<p>崔氏療尿血方　大黃（末）　芒消（末各半匕）　上二味。冷水和。頓服之。立止。</p>
<p>治熱淋（聖濟）　消石一味。研細蜜水服。</p>
<p>惠美氏方書。淋門有豬苓湯加附子。此方冷淋。定有效。按淋疾。小便赤澀。莖中痛者。用豬苓湯。或加車前子大黃。出膿者。豬苓加消石湯。血淋豬苓湯加浮石。或兼用承氣丸。不愈者。用黃連解毒湯。或因腹候。兼用桃核承氣湯。世所謂自黴毒來。膿淋者。用加味六物解毒湯。或大黃牡丹湯。兼用輕粉丸。　古云淋疾。脈盛大而實者生。虛細而澀者死。　方輿載八正散。通天再造散。　一貫云。遺尿者。臍上一二寸上之方。有凝結者。用縮泉散則自消。消則遺尿亦愈。縮泉散方。雞屎二錢。桂枝五分。上二味為末。酒服方寸匕。日三。灸十六俞。章門。凡腰部佳八髎尤良。灸七日而大抵愈。本草雞屎燒灰一味酒服。又淋疾膿出者。海浮石燒為末。溫酒服一錢。日二有效。　一婦人年三十患膿淋小便。晝夜四百餘行。尿道痛甚。號泣聲徹四鄰。且經閉二年。常坐臥草蓐之中。易醫廿二人。而不治三年。請余。余即與加味六物解毒湯。七倍上品土茯苓。三倍余藥。加反鼻二錢。濃煎一日服盡。七日而經水下。四五日痛漸緩。尚用前方。通計二十八日而瘥。去草蓐。坐臥如常。而尿道痛不全治。又日與七寶丸一分。十日許而全愈。</p>

<h2>消渴</h2>
<p>白虎加人參湯　大渴。舌上乾燥而煩。欲飲水數升者。</p>
<p>麥門冬加石膏湯</p>
<p>謂胃承氣湯　中消消穀。善飢不甚渴。小便赤數。大便硬者。（入門）　消穀為準。</p>
<p>腎氣丸　男子消渴。小便反多。以飲一斗。小便一斗。　紀聞云。此症小便生泡如膏。　入門云。小便混濁。如膏淋然。</p>
<p>栝蔞瞿麥丸　小便不利者。有水氣。其人若渴。　一老醫曰。入夜舌乾。不得眠者。經久必為消渴。宜用此煉蜜緩緩服。</p>
<p>文蛤散　非文蛤亦可用。常之海蛤。煎用大效。</p>
<p>炙甘草湯　加黃連知母。或黃耆鹿角。</p>
<p>繅絲湯　治三焦渴如神。如無繅絲湯。卻以原蠶繭殼絲煎湯代之。大效。</p>
<p>治消中。日夜尿七八升者。（千金）鹿角炙令焦。末以酒服五分匕。日三。漸加至方寸匕。</p>
<p>蝸牛散　蝸牛（燒存性）　上為細末。每日一錢。至一錢五分。白湯送下。妙（惠美三伯試效）</p>
<p>治渴利。小豆汁方（聖濟）　小豆（不限多少）　上一味。水煮熟。搗爛。細布絞取汁。不拘時頻服。</p>
<p>消渴有蟲者。苦楝根皮。焙乾。入麝香少許。水煎空心服。（本草）</p>
<p>本草云。　小麥作粥飯食。　薏苡仁煮汁飲。　田螺煮汁飲。　蜆並田螺浸水飲。　冬瓜汁。　梨汁。　藕汁。皆治消渴。</p>
<p>天花粉者。治消渴之聖藥。（正傳）</p>
<p>天花粉餅。代飯日可食。</p>
<p>消渴三禁。飲酒。房室。鹹食。（千金）</p>
<p>岐伯曰。脈實。病久。可治。脈弦小。病久。不可治。（正傳）</p>
<p>方輿載生津湯。其方自外臺來。麥門、黃耆、栝樓、甘草、人參、黃連、牡蠣、地黃、知母。上九味。或加石膏。　紀聞云。或用千金鉛丹散。其方鉛丹、胡粉、甘草、澤瀉、石膏、栝蔞根、白石脂、赤石脂。八味等分為散。每服二錢。水調下。日三。夜一。鉛丹久服。腸痛則宜減之。</p>

<h2>中風</h2>
<p>瓜蒂散　五十以下偏枯。痰涎滿胸者可吐之。腹氣不堅實者決不可與。（吐方考）</p>
<p>按正傳獨聖散。則一物瓜蒂散也。其主治云。治諸風痰盛。及諸癇。痰飲。壅溢等症。</p>
<p>藜蘆湯　治證同前。</p>
<p>吐方考云。藜蘆。華產為可。尤多毒用之若二分。若三分。田中氏云。中風用此湯。功勝於瓜蒂。</p>
<p>備急丸　卒中風口噤者。</p>
<p>按全書。解毒雄黃丸。主治云。治中風牙關緊急。及痰涎咽喉腫閉。牙關緊閉。開口灌下。予用備急丸。其功同於雄黃丸。</p>
<p>瀉心湯　附子瀉心湯　大柴胡湯　小建中湯</p>
<p>四逆散加乙切草　家翁用之。</p>
<p>大青龍湯　古今錄驗續命湯　治中風痱。身體不能自收。口不能言。冒昧不知痛處。或拘急不得轉側。　不遂痰喘有熱為準。</p>
<p>烏頭湯　半身不遂。及左右手足。蜷攣者。烏頭湯。微汗之。（入門）　中風自疝來者。脈多緊也。用之。</p>
<p>葛根加朮附湯　桂枝加朮苓附湯　真武湯　振振搖者。</p>
<p>八味丸　南呂丸　十棗湯　姑洗丸</p>
<p>控涎丹主治云。治痰涎留在胸膈上下。變為諸病。或頸項胸背。腰脅手足。胯髀隱痛不可忍。筋骨牽引釣痛走易。及皮膚麻痹。似乎癱瘓。不可誤作風氣風毒及瘡疽施治。又治頭痛不可舉。或睡中流涎。或咳唾喘息。或痰迷心胸。並宜此藥。數服痰涎自失。諸疾尋愈。　按控涎丹。原出聖濟。名趁痛丸。治風毒走注疼痛方也。三因名之控涎丹。控涎十棗二方所主治略同。只有輕重之分耳。十棗之輕者。用控涎。控涎之重者。用十棗而可也。</p>
<p>大承氣湯　食厥者</p>
<p>重者兼備急丸　腹滿為準。</p>
<p>桃核承氣湯　因瘀血者。</p>
<p>濕漆丸　同前</p>
<p>黃耆桂枝五物湯　身體不仁。如風痹狀者。　按此湯勿減生薑。減則無效。</p>
<p>七寶丸　按要訣。中風昏沉。不省人事。痰涎壅盛者。用養生丹。予用此丸。</p>
<p>元生膏　蜞針</p>
<p>中人半身不遂。而精神如故。不如癡者。內用對症方。外貼此膏於不遂之手足六七日。糜爛處。施蜞針。去惡血。復貼膏施蜞針。如斯二三月施治。則病十治八九。病人倚杖緩步。而行三四里。大效。</p>
<p>治三年中風。（千金）　松葉一斤。細切以酒一斗。煮取三升。頓服。汗出立瘥。</p>
<p>治中風不語。　大豆煮汁。煎調如飴含之並飲汁。　又殭蠶七枚。為末酒服。（本草）</p>
<p>炒豆紫湯（本草）　治中風口噤。　用烏豆五升。清酒一斗。炒令煙絕投酒中。待酒紫赤色。去豆量性服之。　按千金大豆紫湯。豆淋酒。聖濟大豆酒。皆同方也。千金云。中風口喎。日服一升。破傷風。產後痙病。並諸病。服之大效。</p>
<p>白礬散（聖濟）　治中風舌強不得語。　白礬（生用）　桂枝（各二兩）　上二味。搗羅為散。每服一錢匕。安舌下。有涎吐出。即語。</p>
<p>韭汁　治中風失音。（日華）</p>
<p>竹瀝湯（千金）　治四肢不收。心神恍惚。不知人。不能言。</p>
<p>竹瀝（二升）　生葛汁（一升）　生薑汁（三合）　上三味。相和溫暖。分三服。平旦。日晡。夜。各一服。　又有荊瀝。竹瀝。薑汁。三味等分方。　又治中風口噤不知人者方。服荊瀝一升。　又方服淡竹瀝一升。</p>
<p>卒中風口噤不得開。灸機關（千金翼名頰車）二穴。穴在耳下八分少近前。灸五壯。即得語。</p>
<p>回生散（家方）　治中風口噤。</p>
<p>每服二錢。酒送下。　又荊芥薄荷等分煎服。有奇效。</p>
<p>一醫雲中風。風引湯有效。　凡初中時。昏沉口噤。不能進藥。急以生半夏末。吹入鼻中。或用通關散搐鼻內。提起頭髮。立蘇。有嚏可治。無嚏不可治。或急以手指。掐刻人中即醒。其或不醒者。急以三稜針。刺手十指甲角十井穴。捋去黑血。就以氣針。刺合谷二穴。人中一穴。覺稍醒。即多灌香油。或加麝香一二分。或薑汁亦可。（濟世）</p>
<p>初病暴僕昏悶。不省人事。或痰涎壅盛。舌強不語。兩寸脈浮大而實。急用吐法。人迎脈緊盛。或六脈浮盛者。急續命湯表之。　大法中風脈浮遲者吉。急疾者凶。（正傳）　若中人髮直。吐清沫。搖頭上攛。面赤如妝。汗綴如珠。或頭面赤黑。眼閉口開。手撒。遺尿。聲如鼾睡。俱不可治。（要訣）　山東洋云。中風者。心胸間蓄熱也。宜石膏劑。　按中風有鼾者。脈浮大痰涎壅盛者。遺尿者凶兆。　後藤氏用反鼻酒。載附錄。　方輿載通關散。參連湯。滌痰湯。無憂散。反鼻酒。</p>

<h2>腳氣（痿躄）</h2>
<p>越婢加朮湯　治下焦腳弱。　脈浮惡風。無大熱為準。</p>
<p>越婢加朮附湯　按千金。越婢湯即此方。主治曰。治風痹腳弱方。方後云。覆取汗。</p>
<p>烏頭湯　治腳氣疼痛。不可屈伸。　煎法可從大烏頭煎。（方輿）</p>
<p>八味丸　治腳氣上入小腹不仁。</p>
<p>桂枝加朮苓附湯　以上之五方。無衝心狀者用之。</p>
<p>木防己湯　同去石膏加茯苓芒消湯　此二方中加吳茱萸。氣急。心下痞堅。有衝心狀者。用之。兼用仲呂、蕤賓、紫丸等。</p>
<p>吳茱萸湯加橘皮紫蘇湯　半夏厚朴加吳茱萸橘皮湯　乾溼腳氣。氣急而胸動劇者。將衝心之兆也。撰用上二方。腳脛施蜞針。時時用紫丸一二分或三四分。下之則無不愈矣。若小水短少。胸膈滿悶。短氣喘息。嘔吐者。是衝心也。宜決意用紫丸一錢。</p>
<p>蜞針　足上廉。下廉。絕骨。承山。之近所。不拘經穴。除動脈並禁刺穴。麻痹處。悉施蜞針。出血。出紫黑血者尤有效。血止即診巨里動。則安定也。此為驗。大抵一日兩腳水蛭十五枚許為限。日日施之。四五日或六七日而止。妙不可言。</p>
<p>元生膏　冬春此膏代蜞針。</p>
<p>犀角　毒氣攻心煩悶者。</p>
<p>每服五分。日二或三。</p>
<p>仲呂丸　蕤賓丸　紫丸　七寶丸　赤小豆藥　灸八所。（千金）</p>
<p>生薑湯（聖濟）　治腳氣胸滿。吐逆不下食。或吐清水涎沫。　生薑（五兩）　上一味絞取汁。煎令熟。每服半合。以熟湯半盞調勻服之。</p>
<p>治腳氣衝心。悶亂不知人。（醫林）大豆一升。水三升。濃煎取汁。頓服半升。如未定。可更服半升。</p>
<p>松葉酒（方見中風）　治腳氣骨節疼痛。</p>
<p>虎骨酒　治腳氣差後。腰腳不遂者。　生地黃（十六錢）　牛膝（七錢）　桂枝木瓜　虎脛骨（各五錢）　蝮蛇（二錢）　上六味。漬醇酒八合。三日去渣。每飲一杯。日二夜一。</p>
<p>或曰腳氣衝心。金匱風引湯有效。</p>
<p>要訣云。腳氣喘急者。此係入腹。仍佐以養生丹。（水銀劑也）</p>
<p>楊大受云。腳氣是為壅。治當以宣通之劑。使氣不長成壅也。壅既成而盛者。砭惡血而去其重勢。　外臺云。腳氣脈三種。以緩脈為輕。沉緊為次。洪數者。為下。　方輿載大小檳榔湯。木茱湯。檳蘇湯。外臺犀角湯。大檳榔湯方。檳榔（六分半）　生薑（一錢）　橘皮紫蘇木瓜吳茱萸（各五分）　上六味。以水二合。煮取一合。　或曰檳榔末用則大效。　按聖惠方。此方加木香少許。主治云。治腳氣衝心。煩悶喘促。凡乾溼腳氣。巨里動甚者。將衝心之兆也。禁附子劑。犯之必殺人。宜用吳茱萸、消、黃、甘遂、巴豆等下之。腳氣嘔吐。有半夏無效者。或用犀角無效者。將衝心。用紫丸一錢大效。腳氣氣急之症。初腳脛數所。施蜞針。出血。則衝心氣急之候。脫然去。此予所經驗也。　又痿躄者。腳脛有毒也。三陰交。絕骨邊。貼元生膏有效。輕者。灸亦效。內用對症方。不可附子者。用黃耆桂枝五物湯。方中勿減生薑。南茅街。米商伊勢屋喜兵衛主管、某年二十三。腳氣一身洪腫。巨里如奔馬。滿悶短氣。嘔吐不下食。大小便不通。眾醫辭去。予與水銀三錢。小便通一合許。前證如故。復與元生丸。小便利亦一合許。而無驗。決意。與紫丸一錢。吐瀉二十餘行。下蛔蟲五條。前證頓退。調理二十日而全愈。　京橋五郎兵衛街紙戶伊勢屋作兵衛。主管嘉兵衛年二十一。患腳氣腫滿。始無衝心之狀。予與木防己去石膏加茯苓芒消湯。六七日。一朝衝心氣急嘔吐甚。與紫丸一錢。暫時而吐。復與紫丸一錢。吐瀉十七八行。下蛔蟲六條。前證頓退。復與木防己湯。二十日而全愈。</p>

<h2>痛風（鶴膝風）</h2>
<p>桂枝附子湯　甘草附子湯　風濕相搏。骨節煩疼。掣痛。不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。痛風大抵此湯症多有焉。</p>
<p>烏頭湯　病歷節不可屈伸疼痛。　脈緊者用之。</p>
<p>桂枝芍藥知母湯　諸肢節疼痛。身體尩羸。腳腫如脫。頭眩短氣。溫溫欲吐。　肢節疼痛為準。　鶴膝風或加當歸川芎。</p>
<p>葛根加朮附湯　越婢加朮附湯　麻黃加朮湯　不可附子者。</p>
<p>越婢加朮湯　同前</p>
<p>古今錄驗續命湯　姑洗丸　治風毒走注疼痛。（濟聖）</p>
<p>七寶丸　痛風有不宜附子劑者。初用麻黃加朮等。六七日熱解後。後藤氏解毒劑兼用七寶丸。</p>
<p>蒸劑（家方）　蓮葉　苦薏忍冬（各等分）　上三味盛袋。以水一升許。煮令熱。狹於板絞。以熨痛處。加烏頭益效。　按痛風劇症。遍身走痛。如刺日夜不眠。叫號聲徹四鄰者。雖內用烏附劑。非外用蒸劑。則不能就眠。晝夜熨之六七日。則大勢已解。而病人能睡。至此休蒸劑。又服前方數日。痛不全去者。兼服七寶丸一分或二分。七八日而無不愈者矣。</p>
<p>反鼻酒　松葉酒　蜞針　元生膏　治歷節風痛。　獨活　羌活　松節（各等分）用酒煮過服。（外臺）</p>
<p>又方川木通（二兩）水煎頻服。服後一時許。遍身發癢。或發紅丹。勿懼遍身上下。出汗即瘥。（集要）</p>
<p>威靈仙為痛風要藥。為末酒下。或丸服。以微利為效。（本草）</p>
<p>沒藥同虎脛骨末酒服。治歷節風痛不止。（本草）　入門痛風門。下體痛條。痛甚。加乳香沒藥。熱者合大承氣湯下之。　按以上奇方。不可附子者。宜用。　一貫云。痛風痛夜甚者。用桂枝茯苓丸料。兼紅藍花酒。又金鈴散。痛風痔疾用之。牽牛子一味為散。每服五分。或七分。酒服日三。　方輿載千金犀角湯。大防風湯。金鈴散。赤龍皮湯。</p>
<p>療鶴膝風方　烏頭　桑寄生　雲母　丁香　防己　天麻（各等分）</p>
<p>上六味為粗末。分取一錢五分。漬醋一合。製造方五寸許箱。石菖根鋪其底。厚五分所。燒石（大如雞子）置石菖上。灌所漬之醋於石。藥氣發揚。急蓋之。令不漏氣為要。即移箱於患所之下。以衣覆之。乃去蓋。藥氣徹肉中。而汗出於患所。如此者日數次。腫日減而復故。　安政乙卯冬。關東大地江震。戶士民被壓傷者夥矣。時患卒鶴膝風者數人。皆惡寒發熱。身體痛。或右膝。或左。腫大而痛。不能起居。初與越婢朮附湯而發汗。三四日而身痛去。但膝頭腫大而痛不去。與桂枝芍藥知母湯。膝頭施蜞針數枚。每日取血。月餘而全愈。　按痛風。雖舌有胎。身有熱。口中和者。宜用烏頭附子也。口中和者。一切鹹味菸草類。不變味是也。大便難者。可日兼用黃鐘姑洗丸等也。</p>

<h2>頭痛</h2>
<p>大承氣湯　入門頭風門云。有偏痛年久。便燥目赤眩暈者。氣鬱血壅而然。宜大承氣湯下之。　一男子卒偏頭痛甚。叫號驚四鄰。諸治無效。經三日予與大承氣湯三貼。下利數行。而全愈。</p>
<p>白虎湯　舌上黃黑者。（方輿）　舌上乾燥。頭盡痛。無渴亦可用。</p>
<p>小柴胡湯　大柴胡湯　因腹候用之。或加石膏。</p>
<p>吳茱萸湯　乾嘔吐涎沫。頭痛者。</p>
<p>桂薑棗草黃辛附湯　頭痛。無熱。唯惡寒。大便自可。脈沉細。全陰狀者。</p>
<p>六物解毒湯　主黴毒頭痛。　方中十倍土茯苓。三倍大黃。倍余藥。煎法。服法。禁忌如淋疾門加味六物解毒湯。用之不差者。或兼施七寶丸或貼元生膏於百會。六七日。蜞針去惡血。如此四五次。則無不瘥矣。</p>
<p>元生膏　蜞針　世稱宿疾頭痛。藏無他病者。必頭有惡血也。施元生蜞針即效。</p>
<p>應鐘散　茶清送下。姑洗丸　南呂丸　瓜蒂散　鹽湯</p>
<p>李東垣曰。頭痛久不已。則令人喪目。胸膈有宿痰之致然也。先以茶調散吐之。　按外臺。葛氏。卒頭痛如破。用鹽湯吐之。方輿載常山甘草湯。張子和亦用瓜蒂散。</p>
<p>本草云。頭痛欲死。消石末吹鼻內。又一物瓜蒂。吹鼻中。</p>
<p>按小兒卒頭痛甚。反覆顛倒。發作有時者。蛔蟲也。宜用鷓鶘菜湯。婦人月事之時。及產前後。頭痛。輕者。當歸芍藥散料。兼用單香附子散。宿疾頭痛輕者。以三稜針。刺懸顱懸釐。絲竹空。朣子髎等。　一書云。真頭痛者。手足厥冷。爪甲青。引腦巔泥丸盡痛。若其厥冷上肘膝者死速。灸百會數十壯。作大劑參附湯頻服免死者。間有焉。　頭痛脈浮滑易治。短澀難治。（脈訣）</p>

<h2>肩背痛</h2>
<p>葛根湯　項背強𠘧𠘧。</p>
<p>桂枝加葛根湯　葛根朮附湯　大陷胸湯　因留飲而肩背強者。又龜背者。兼之。</p>
<p>姑洗丸　大陷胸之輕者。　有持云。治項背強痛。或臂不能舉者。</p>
<p>當歸四逆加吳茱萸生薑大黃湯　疝氣從肋骨邊。至脊及肩。強痛者。</p>
<p>南呂丸　應鐘散　元生膏　蜞針　元生膏貼患部。後施蜞針。夏秋直施蜞針即效。</p>
<p>紫丸　醫通云。當肩背一片冷痛。背膂疼痛。古法用神保丸。（神保巴豆丸也）</p>
<p>一貫云。龜胸龜背一也。龜胸。後必成龜背也。對症方多加山慈姑。令長服。兼用紫丸。間日夜服。自二三分加至四五分。小兒者用一分許。十五歲以下可治。十五以上不治。　方輿載六物敗毒湯。提肩散。本事方椒附散。</p>

<h2>心痛（胸痹結胸）</h2>
<p>枳實薤白桂枝湯　胸痹。心中痞。留氣結在胸。胸滿。脅下逆搶心。</p>
<p>栝蔞薤白白酒湯　胸痹之病。喘息咳唾。胸背痛。短氣。寸口脈沉而遲。</p>
<p>栝蔞薤白半夏湯　胸痹。不得臥。心痛徹背者。</p>
<p>按心痛徹背。疑似真心痛者。先與此湯。兼用大陷胸湯。九痛丸。備急丸亦用。</p>
<p>大陷胸湯　心痛及結胸。將成龜胸者。皆用之。</p>
<p>九痛丸　治九種心痛。</p>
<p>備急丸　心痛用此丸。（聖濟）</p>
<p>小陷胸湯　梔子豉湯　心中結痛者。　心痛。有一種為懊惱狀者。用之。茯苓杏仁甘草湯　胸痹。胸中氣塞。短氣茯苓杏仁甘草湯主之。橘枳薑湯亦主之。　胸痹輕症。氣塞短氣。為準。</p>
<p>橘皮枳實生薑湯　此方主治與前方異。宜從方極。</p>
<p>桂枝生薑枳實湯　心中痞。諸逆心懸痛。</p>
<p>薏苡附子散　胸痹緩急者。　急症用之。（緩急二字解見本書）一貫云。白酒湯之劇症。痛甚手足厥冷者。此散有效。</p>
<p>大建中加烏梅湯　因蟲者。</p>
<p>人參湯　甘草乾薑湯</p>
<p>姑洗丸　失笑散</p>
<p>桃仁承氣湯　心痛脈澀有死血。（丹溪）</p>
<p>必效療蜎心痛方（外臺）　熊膽如大豆。和水服大效。</p>
<p>心胸痛奇方。嚴酢半合。雞卵一個。相擾頓服。神驗。（武田氏）</p>
<p>胸痹痛如錐刺。服韭汁。吐去惡血。（本草　生韭及根五升洗搗汁）</p>
<p>靈樞云。真心痛。手足清至節。心痛甚。旦發夕死。夕發旦死。古人云。非藥所能治也。　和田氏云。真心痛。痛在膻中。頰躁。反覆顛倒。脈結代。用大陷胸。九痛丸。而難治　真心痛自古為必死。然宜用此方救之。芭蕉搗取汁。生酒調和服。（養生記引濟急方云）　入門云。瘀血痛。飲湯水嚥下作呃。乃素食熱物血死胃脘。桃仁承氣湯。輕者四物湯加桃仁紅花。　醫通云。蟲痛。面如白班。唇紅能食。或口中沫出。痛有必休止。　又云。心膈大痛。發厥嘔逆。諸藥不納者。趁勢以鵝羽翎。採吐。痰盡而痛愈。　按先是張介賓有此說。聖濟並諸書。心痛不用吐劑。　古云。脈沉細而遲者。易治。浮大弦長。皆難治。　方輿載千金陷胸湯。烏頭赤石脂丸。檳榔鶴蝨散。枳縮二陳湯。高良薑湯。</p>
<p>治卒暴心痛。（事林廣記）　五靈脂（炒一錢半）　乾薑（泡三分）　為末。熱酒服。立愈（一書雲水煎內童便三勺服）　按白酒宜用醇酒也。家君有白酒辨。北洲吉益氏云。禮記曰。其酒清白。皆謂美酒也。此蓋東洞先生之遺言也。詳見本書。</p>

<h2>腹痛</h2>
<p>大承氣湯　卒腹滿而痛。煩悶口噤。欲死者。</p>
<p>備急丸　心腹脹滿。卒痛如錐刺。氣急口噤。</p>
<p>桂枝加芍藥大黃湯　桂枝加芍藥湯　小建中湯</p>
<p>小柴胡湯　胸脅苦滿。腹痛者。</p>
<p>大建中湯　心胸中大寒痛。嘔不能飲食。腹中寒。上衝。皮起出見。有頭足上下。痛而不可觸近。</p>
<p>附子粳米湯　腹中寒氣。雷鳴切痛。胸脅逆滿嘔吐。</p>
<p>黃連湯　胸中有熱。胃中有邪氣。腹中痛欲嘔吐者。</p>
<p>靈黃散　治血氣刺痛。兼治疝痛。從少腹上衝心者。</p>
<p>灸　內關　中脘　氣海　神闕（填鹽灸之）　水分　膈俞　脾俞　胃俞　上八處灸。治疝並陰症腹痛。</p>
<p>桃核承氣湯　腹痛因瘀血者。</p>
<p>桂枝茯苓丸料加大黃紅花湯　治瘀血作腹痛者。兼治痘後腹痛。結毒並瘡疥內攻腹痛。　丹溪因跌撲損傷瘀血作腹痛者。用桃核承氣湯。加當歸、紅花、蘇木。入酒童便煎服下之。</p>
<p>七寶丸　化毒丸　此二方治久腹痛。</p>
<p>一書云。久腹痛。生漆丸有效。</p>
<p>蒸劑（家方）　腹痛甚者。熨之。</p>
<p>一老醫曰。產後少腹痛。用下劑而不愈者。桂枝茯苓丸料。加當歸、紅花、延胡索。大效。延胡索少腹痛專藥也云。</p>
<p>荻野氏云。少腹痛。無食積蟲積。皆蓄血與疝也。　河間心腹痛。不可忍者。乳香、沒藥、酒煎服。　綿綿痛無增減。沉遲者寒痛也。乍痛乍止。脈數者熱痛也。痛不移處者。是死血也。肚腹作痛。或大便不通。按之痛甚。瘀血在內也。時痛時止。面白唇紅者。蟲痛也。（回春）　蟲痛。肚大青筋。往來絞痛。痛定能食。發作有時。不比諸痛。停聚不散。又云瘀血痛。必著一方。（入門）　和田氏云。久腹痛。不減食。則不治。宜以米一合五勺。作一日食也。作粥最佳。禁一切青菜、油膩、黏滑、水飲、乾硬物。而施治則無不愈矣。　方輿載安中散。高良薑湯。手捻散。</p>

<h2>腰痛</h2>
<p>苓薑朮甘湯　腰以下冷痛。腰重如帶五千錢者。　千金此方加桂枝澤瀉杜仲牛膝名腎著散。粗散酒煮。去滓服。</p>
<p>當歸四逆加吳茱萸生薑湯　治疝氣腰痛。打撲腰痛輕者。</p>
<p>桃核承氣湯　治打撲腰痛。經閉腰痛。日輕夜重者。</p>
<p>桂枝茯苓丸料加當歸大黃　治前症輕者。</p>
<p>當歸四逆湯　或加附子。</p>
<p>八味丸　虛勞腰痛。少腹拘急。小便不利者。</p>
<p>大黃附子湯　腰痛。脅肋痛。不大便。脈緊。因疝者。</p>
<p>仲呂丸　元生膏</p>
<p>本草腰痛門。外治條云。痰注及撲損痛。芥子同酒塗。</p>
<p>治腰痛（正傳）　大黃生薑煎服。</p>
<p>醫通云。腰痛。大便閉者。用大柴胡湯。微利之。　按平生秘結四五日。而腰痛者。下之愈。</p>
<p>灸腰眼八窌。（千金）　章門。（病因考）</p>
<p>保命歌括腰痛門云。委中二穴。主瘀血痛。宜用三稜針刺出血。大效　回春云。日輕夜重者。瘀血也。　按要訣云。腰痛。有寒。有濕。有風。有虛。有閃挫。方輿輗云。腰痛病因。寒疝。打撲。帶下。瘀血也。愚按大凡寒疝。瘀血與濕也。寒疝輕者。當歸四逆輩。重者。附子劑。兼下劑。瘀血重者。桃核承氣湯。輕者。加味桂枝茯苓丸料。又有苓薑朮甘湯症。屬濕。後世名腎著。腎著者。腎受冷濕。著而不去之義也。傷寒。中濕。痘疹等之腰痛者。客證也。寒疝並瘀血腰痛甚。不得屈伸者。以元生膏。貼於腰。拔出一毒。則二三日而腰痛如忘。能屈伸。其法詳於疝及打撲門。　方輿載附子劑。酒服。散藥。乾漆劑。酒服。散藥。子和無憂散。禹攻散。當歸浴湯。</p>

<h2>眼</h2>
<p>大青龍湯　葛根湯　黃連解毒加車前子湯　苓桂術甘加車前子湯　大柴胡湯　大承氣湯　桂枝茯苓丸　桃核承氣湯　上桂桃二方治婦人屬血證眼疾。</p>
<p>應鐘散　黃鐘丸　四苓散加唐蒼朮　治雀目。</p>
<p>七寶丸　赤眼。赤色已去。無痛生瞖者。每日服一分許。</p>
<p>洗眼方　黃連解毒湯。加菊花紅花甘草。且加白礬少許。</p>
<p>治誤傷目方　生通草葉。搗絞汁。滴入眼中。若無生者。以乾者細銼。水煎。頻頻洗之。</p>
<p>又生水仙根。搗絞汁。滴入眼中。</p>
<p>針灸法　晴明。風池。太陽。神庭。上星。囟會。前頂。攢竹。絲竹空。承位。目窗。客主人。承光諸穴。皆可用針。或以三稜針出血。八關亦可刺。凡近目之穴。皆禁灸。　大骨空。小骨空。合谷。翳風。肝俞。足三里。二間。命門。水溝。手三里諸穴。宜灸。（方輿）</p>
<p>眼科錦囊云。風眼之名。本邦之俗稱。而非漢名也。然書中間有風眼之名目。實是同名異證。如所謂風眼爛弦。頭風風眼甚多矣。不可混同矣。（言本邦之風眼者劇症漢上之風眼者輕症也）　又曰。風眼治法。用吐劑或烏頭附子之類有奇效。不兼用攻下。則至使眼珠破裂。更在太陽尺澤委中。刺絡放血。又於百會顳顬。貼用發泡膏。或以糊劑塗著足蹗。屢用塗藥㗜鼻之劑。至於眼痛劇者。灸少陵。小炷三壯。及三里。三陰交女室。（一曰女膝在踵之部赤白肉之分際蓋奇穴也）各二十壯。　和田氏云。風眼。宜急用備急紫丸類。若遲疑。則眼球破裂。而至於失明。　按風眼證。滿目丹黃。劇痛。兩瞼浮腫。寒熱頭痛如割。狀殆似陽證傷寒。至其劇甚。則譫言妄語。瞳孔破綻。竟致盲瞶。急用紫丸一錢。大下之。大勢已解。而後用大青龍湯。隨其腹證。兼用瀉心大承氣桃核承氣等。　蜞針　以水蛭數枚令咂眼之內眥。及外眥。瞼內赤肉之處。血滿自脫。則以濕紙拭血。數十度而血自止。日一次施之。四五日而大勢已解。則隔日施之。六七度。病減十之八九。赤眼治法。無捷於斯。　元生膏　小兒眼疾。以此膏。貼百會。四五日而有奇效。大人蜞針。元生。兼施則效速。且項背強者。貼此膏於風門肺俞邊。即效。　艮山翁。目赤腫痛。用七味敗毒散。　和田氏。瘡疥愈後。作眼病者。用敗毒加石膏湯　家翁用涼膈加石膏湯。</p>
<p>治爛弦風方　膽礬（或用土呂志寸）　枯礬　上二味水解。洗患所極效。</p>
<p>治眼目暴翳或疼痛　一切瓜蒂吹鼻中。令嚏。此一小吐方也。</p>
<p>治稻麥芒入目中　蘘荷汁注目。即出。並眼目澀痛。點之。（蘇恭）</p>
<p>治麥芒入目　大麥煮汁洗之。（孫真人）</p>
<p>治飛絲入眼　蕪菁根或葉揉爛。帕包滴汁。三兩點。即出。（普濟方）</p>
<p>治飛絲入目　芥菜汁點之如神。（摘玄方）</p>
<p>治塵芒入目　蓮藕汁入目中。（普濟）</p>
<p>治赤眼腫痛　梨實絞汁點之。（聖惠）</p>
<p>按眼疾者。宜托專門。然僻邑無專門。則如風眼急證。至失明。故記風眼赤眼治法之大略爾。</p>
<p>方輿載六物敗毒湯。連翹湯。夏枯草湯。芣苡散。謝道人大黃湯。通聖散。通聖散方後云。生翳膜者。加芣苡二錢。因結毒者。加土茯苓四錢。</p>

<h2>耳</h2>
<p>小柴胡湯　大柴胡湯　葛根加大黃湯　應鐘散　柴胡加石膏湯</p>
<p>耳前後腫者。又治咳嗽後。耳聾者。（妙）</p>
<p>苓桂術甘合瀉心湯　耳鳴者。</p>
<p>柴胡薑桂加鐵砂湯　耳鳴有動悸者。</p>
<p>鷓鶘菜湯　小兒耳聾。因蟲者。</p>
<p>七寶丸　治梅毒將耳聾者。</p>
<p>聤耳流膿方　菖蒲根（水洗取汁）　先以綿杖子。橪出膿令淨。次將菖蒲汁灌入。蕩洗數次全愈。最妙。</p>
<p>又以水銃洗耳中。入椰子油。</p>
<p>又韭汁入耳中。亦效。</p>
<p>治耳聾方（千金）　菖蒲　附子（各等分）　上為末以麻油和。以綿裹內耳中。</p>
<p>治耳卒聾閉（外臺）　芥子末人乳汁和。以綿裹塞之。</p>
<p>又方巴豆（十粒）　松脂（半兩）　上二味搗爛。捻如棗核。塞耳中。</p>
<p>又方附子一味。以醇醋微火煮。一宿。削如棗核。以綿裹塞耳中。</p>
<p>又方釅醋二合。溫灌耳中。以綿塞定半日許。必有物出。即差。</p>
<p>又本草有貓尿、及龜尿、人尿各一味。滴入耳中方。皆治耳聾云。</p>
<p>入門云耳鳴。乃是聾之漸。</p>
<p>按耳聾者難治。唯因聤聹而聾者。可治也。治法以椰子油。內耳中。數日後以水銃洗耳中。則如脂物出。而全愈。</p>
<p>元生膏　貼耳下或百會風門邊。　蜞針。</p>
<p>灸　肩井三里　肺俞膏肓</p>
<p>針　刺尺中取血。</p>
<p>一處女麻疹後。兩耳聾閉。一醫將精香油。滴入於右耳中。至次日。將剜耳匙子徐徐探耳內。挑出凝垢一個。大如芽兒小指。右耳忽覺清聰。左耳亦用此法。而俱清聰。久患頓除。（方輿輗）　醫通耳病。用涼膈散。家翁亦用之。</p>

<h2>鼻</h2>
<p>葛根加石膏湯　鼻鼽者。發汗之。又治腦漏頭痛者。</p>
<p>小柴胡加石膏湯　治齆鼻有息肉不聞香臭方。（千金）瓜蒂、絲辛。上二味。各等分。為末。以綿裹如豆大。塞鼻中。</p>
<p>治鼻窒塞。氣息不通。（聖濟）瓜蒂一味為散。少許吹鼻中。</p>
<p>竹葉石膏湯　治鼻塞或兼頭痛者。（方輿）　鼻塞不聞香臭者。或用此湯。子和用白虎湯。此症多有大逆上氣。故用之。（紀聞）</p>
<p>黃連解毒湯　有酒客鼻紫赤。而非真酒查鼻者。用此湯。而不用傅藥。又真酒查鼻輕者。用此湯可也。</p>
<p>三黃梔子湯（華岡）　治酒皶鼻劇者。　大黃　黃連　地黃　葛根　紅花　芍藥　梔子（各一錢）　甘草（三分）　上八味。以水四合。煮取二合。渣再以水四合。煮取一合半。日二劑。若病輕者。小劑減水可也。服湯數日。覺患處痛癢。乃將查鼻膏搽之。搽後大發熱者。是毒欲盡也。熱既發之後。外傅則須止。內服則不須止也。（此方輿之文也敘事精詳故取之）</p>
<p>皶鼻膏（同）　乳香　硫黃　巴豆　輕粉（各等分或粉減半）　上四味為末。蜜煉傅患處　按酒皶鼻。重者。鼻頭紫赤而腫。生小疹。有癢無痛。用三黃梔子湯。塗皶鼻膏。塗藥則大抵發痛。宜日日亂刺或施蜞針。輕者硫黃杏仁二味。等分為末。以滾湯煉之。每夜擦之。時時亂刺。不服藥而愈。禁酒番椒油膩魚肉等。</p>
<p>一貫云。鼻痔瓜礬散（入門）有效。　按鼻痔不剪去根蒂。則不治。宜托於專門。</p>
<p>一書云。鼻淵自梅毒來者。六物解毒加桔梗湯。十倍土茯苓。腦漏用薰藥。</p>
<p>元生膏　鼻病。大抵此膏貼百會效。　蜞針。</p>
<p>方輿載通聖散云。鼻痔。鼻淵。酒皶鼻。此方有效。又載桔梗解毒湯。竹葉石膏湯。辛荑湯。辛荑湯方。辛荑、防風、細辛、川芎、白芷五味也。擇加大黃石膏類。　鼻不聞香臭者。皂莢勝於瓜蒂。吹鼻中佳。有息肉不聞香臭者。用瓜蒂辛荑湯。鼻病一切用之。桔梗解毒。因毒鼻梁將破壞者。用之。（紀聞）　醫通鼻病用涼膈散。家君亦用。本事方。用犀角劑。</p>

<h2>牙齒</h2>
<p>葛根加石膏湯　牙疳並牙齒痛有表證者。或項背強者。</p>
<p>瀉心加石膏湯　牙疳並齲齒者。或牙疳出血者。</p>
<p>桂枝桔梗湯（或加黃連）　齒痛者。</p>
<p>調胃承氣湯　歷年齒痛。黑爛脫落。口吸涼稍止者。（入門）</p>
<p>小柴胡湯　大柴胡湯　小建中湯　上三方因腹候用之。</p>
<p>加減烏梅丸料　治蟲牙痛甚。</p>
<p>依本方。去桂附加桔梗苦參地黃。　烏梅　細辛　乾薑　黃連　當歸　蜀椒　人參　黃柏　桔梗　苦參　地黃　上十一味水煎先噙漱。後嚥下。加連翹益佳。</p>
<p>黃連解毒湯。加石膏犀角。</p>
<p>備急丸　七寶丸　元生膏　蜞針</p>
<p>按牙疳。俗稱波久佐。初寒熱頭痛。牙齦腫痛。變紫色。試以指按牙齦。膿血微出。氣息甚臭。腮頰下邊。累累結核。此症似瞑眩於輕粉。口中糜爛之狀。漸久則齦縫肉脫。齒牙動搖。或脫落。雖小患難治也。日久齒牙盡脫落。則膿自止。　治法針齦縫出血。塗朱硼加人中白散。與瀉心加石膏湯。或日用七寶丸一分許。　走馬下疳者。牙疳之急證也。初寒熱如疫。牙齦腫痛。變紫暗色。乍潰爛出膿血。或唯紫血大迸。齒牙動搖。多脫落。其毒浸淫於唇舌及腮頰。幾處亦穿孔。流臭水。或兩頰俱脫落。或唇鼻共缺盡。而臭氣滿一室。六七日。或十餘日。而死。　治法急與備急丸。五六分或一錢。取下。針牙齦出血。石榴皮煎汁加枯礬少許。屢漱口。人中白加朱硼散十分一。傅之。與黃連解毒湯。加石膏犀角。　一女子二歲。患走馬下疳。忽人中生黑點。暫時如蠶豆大。其毒及唇並牙齦兩頰脫落。急用備急丸。下利四五行。用涼膈散。隨愈。漸漸生肉。（和田氏醫談）　按蟲牙痛不止者。貼元生膏於耳下。半日許。發水泡。無不愈者。然齲齒不拔去病牙。則不全治也。又有牙齦腫痛之人。頰之裡面亦腫痛者。試以指按頰則徹內而痛。其痛處。從外施蜞針出血則即效。耳輪及鼻端。唇腫痛者。皆施蜞針為妙。家翁牙齒病。用涼膈散。　方輿載甘露飲。涼膈散。六味丸。　有持云。余嘗患牙疳。服瀉心。涼膈。其他種種方劑無效。服六味丸全愈。</p>

<h2>口舌</h2>
<p>瀉心加石膏湯　黃連解毒湯　小柴胡加石膏湯　麥門冬加地黃湯　口舌乾燥者。或乾燥而糜爛者。</p>
<p>當歸芍藥散加麥門五味子湯　口舌如無皮狀者。如不應。如附子。</p>
<p>理中湯　口舌生瘡。大便不實者。　若手足逆冷。腹痛者加附子。</p>
<p>朱硼散（家方）　治鵝口瘡並口舌生瘡糜爛。　硼砂（二錢）　辰砂（五分）　上二味。相和摻舌上。煉蜜塗亦佳。　按此散口瘡者。傅之。咽喉腫痛者。吹之。若不愈者。人中白五錢。加此散一錢用之。奇效。口瘡糜爛日久。延及胸中者。綿裹如無患子大。含之咽津。凡口舌病陽症。用傅藥。用附子劑者。不用傅藥也。</p>
<p>硼甘散（同）　治口中糜爛者。　硼砂　黃柏　甘草（各等分）　上三味。為末。貼患處。少時含之。而後吐之佳。</p>
<p>元生膏　蜞針　口瘡久不愈者。肩背頸項百會。耳下。頷下。貼此膏。六七日。施蜞針去惡血。如法四五回。則無不愈。或含漱劑。用黃連解毒湯。又青黛黃柏等分絹裹含之。咽津。</p>
<p>城南散　治口瘡。　昆布（燒存性）　梅肉（連核燒存性各二錢）　巴豆（去柤一錢）　枯礬　上四味研末。傅瘡處。　此方城州鳥羽嫗藥。舌疽之秘方也。山脅氏傳之云。</p>
<p>金粉散（華岡）　治舌疽神方。　硼砂（七分）　鬱金（七分）　辰砂（一錢）　白檀　烏梅（各五分）　金屑（三分）　上為細末。七分艾葉和紙裹。為二十一條。一日嗅一條。</p>
<p>要訣云。曾有舌上病瘡。久蝕成穴。累服涼劑不效。後有教服黑錫丹遂漸愈。</p>
<p>痰泡者。舌下如小豆粒者出。為水泡。大者如梅。色赤透徹有痛。舌本強不能言語。以指按之。軟而有水。針之則黃液或如白脂者出。吹金鎖匙。用黃連解毒。或柴胡加石輩。　重舌者。舌下生息肉。尖起如舌端。長者五六分。七八分。又有左右生者。腫痛舌強不能語言。流涎頷下結核。大人少。小兒多。　治法針患處。吹金鎖冰硼之類。與瀉心加石。柴胡加石。頷下結核。上貼發泡尚不治者。剪斷息肉。用前法。　木舌。木者不柔軟之意。舌腫短縮。不出齒牙之外。木強而不能卷舒。發熱惡寒。舌胎黃黑。牙關緊急。不能開口。痰涎多出。妨飲食。至重者死。　治法服藥。吹藥。與重舌同。頷下及耳下。貼發泡待舌下之絡脈怒脹。變紫色。而用針瀉血。　先輩云。漢土無舌疽之名。和名也。要訣云。曾有舌上病瘡。久蝕成穴。金鑑云。舌疳者。百無一生。此定舌疽矣。初舌尖。或舌下。或舌心。或左或右。固結如豆。或如栗子。經久。瘡頭腐蝕。而為凹。食鹽醋辛辣熱物而不痛。毒至深故也。腐蝕日深。固結月蔓。舌難轉動。語言蹇澀。至一年或二年。舌缺盡而死。初無痛。亦從腐蝕生痛。或發寒熱。　治法。有痛者。瀉心湯加石膏。涼膈散加石膏。無痛者。附子劑。外用五寶散。冰硼散。城南散。華岡氏金粉散。最有效。　上秘錄之略文也。全文見本書。金鎖匙。冰硼散。見正宗。</p>
<p>龔氏云。凡舌腫脹甚。宜先刺舌尖。或舌上。或邊傍。出血。泄毒。以救其急。惟舌下濂泉穴。此屬腎經。雖宜出血。亦當禁針。慎之。　張子和曰。余治一婦人木舌脹。其舌滿口。諸藥不愈。余以䤵針小而銳者。砭之五七度。腫減三日方平。計所出血。幾至盈斗。　方輿載涼膈散清熱補氣湯。附子湯。八味丸。　說約。口舌病。用白虎湯。</p>

<h2>咽喉</h2>
<p>甘草湯　桔梗湯　少陰病。二三日咽痛者。可與甘草湯。不差者。與桔梗湯。　甘草湯。痛甚者有效。桔梗湯。吐黏痰者。用之。</p>
<p>半夏散及湯　少陰病。咽中痛者。　咽痛兼痰咳者效。</p>
<p>半夏苦酒湯　少陰病。咽中傷。生瘡。不能語言。聲不出者。　家傳煎法。將磁器。盛苦酒五勺。以半夏極細末五分。雞子白一枚。調勻。攪令相得。安火上。令八九沸。下火。少少含咽之。咽時捫鼻。不令氣入可。</p>
<p>大青龍湯　葛根加石膏湯　大柴胡加石膏湯　備急丸　元生膏</p>
<p>蜞針針</p>
<p>按喉痹。喉癰。纏喉風。乳鵝。西洋總謂之咽喉焮腫。秘錄云。喉痹者。咽喉之癰。而又曰喉癰。又焦氏筆乘。曰喉閉。痹非麻痹之義。中藏經曰。痹閉也。咽喉閉塞之謂也。為刺縫。臨摹剞劂等。日勞肩腕者。多有此患。初起項背強痛。頭痛。發熱惡寒。而咽喉腫痛。醫視咽之法。以杉箸二枝。紙裹。壓病人之舌。令自引氣息於內則能視也。大抵從咽之左右腫而及齒牙之盡處。及舌本。為濃紫色。飲津唾亦痛甚。牙關緊急。不能隨意開口。語言蹇澀。頤之下邊。累累結核。幾廢飲食。是尋常之喉痹。而易治。決無死矣。經六七日。則自潰膿血出。速愈也。　急喉痹。謂之走馬喉痹。古云。暴發暴死。迅速之病也。急喉痹。腫之及外者。謂之纏喉風。即急喉痹之一證也。急喉痹之候。咽喉。暴腫痛閉塞。痰涎壅盛。聲啞。呼吸不利。咽喉之外。亦微腫變色。舌上黃胎。或黑胎。惡寒發熱。頭痛劇。其狀如疫。藥餌一滴亦不下。二三日而死。凡喉痹之死症。其腫處。深於常之喉痹。食道氣管。共閉塞。幸自潰者。亦膿血入氣管。絕呼吸而死也。　治法初發項背強者。與葛根加石膏湯。金鎖匙吹喉中。輕者或消散。腫痛益甚。欲成膿者。與大柴胡加石膏湯。用備急丸下之。膿已成。則宜針。若用針早則增痛。宜候赤腫上生白點針之。色變紫暗者。亦瘀血凝滯之候。宜針而去膿血。膿血多出。則痛如失。飲食亦從進不日而愈。纏喉風者。驅風解毒湯。多加石膏。石膏咽喉病有效。若咽喉壅閉。藥餌一滴亦不下者。咽喉左右貼大發泡。針尺澤足少商瀉血。　一貫云。喉痹纏喉風。名異而其因一也。施其治亦同。成膿者。緩症也。初甘草。桔梗。苦酒湯等所主也。急喉痹。纏喉風者。急症也。用雄黃解毒丸。若無。則用白散。或用礬巴散。即枯礬巴豆二味也。又云驅風解毒湯。多加石膏令冷服。　中神氏云。纏喉風。瓜蒂末吹咽中。吐黏痰一升余。即愈。　方輿輗云。急喉痹。巴豆末吹咽中。速效。　華岡氏云。纏喉風針咽中。吹金鎖匙。用驅風解毒加石膏湯。劇者刺肩井少商。大出血。　方輿載六物敗毒湯。涼膈散。升麻湯。加味四物湯。雄黃解毒丸。馬牙消一味含藥。　子和曰。大抵治喉痹用針出血。最為上策。但人畏針。委曲傍求。瞬息喪命。凡用針而有針創者。宜搗生薑一塊。調以熱白湯。時時呷之。則創口易合。　喉痹用針。而創口痛者。傅生薑有效。余處針創痛者。亦效。（紀聞）</p>

<h1>卷下</h1>

<h2>妊娠</h2>
<p>乾薑人參半夏丸　治惡阻。</p>
<p>小半夏湯　同加茯苓湯。</p>
<p>按惡阻。用上之方而不應者。盛水二合於器中。投伏龍肝一錢攪。如作甘爛水法。而暫置靜處。待其澄清。取其水一合半。煮上之諸方。則不吐而能應。神驗。</p>
<p>豬苓散　治惡阻大效。予苓朮豬苓。為湯用。累用累驗。</p>
<p>烏梅丸（家用）　惡阻因蟲者。每服五分。日三或四。屢效。</p>
<p>桂枝茯苓丸　婦人宿有症病。經斷未及三月。而得漏下不止。胎動在臍上者。為症痼害妊娠。當下其症。</p>
<p>當歸芍藥散　婦人懷妊。腹中㽲痛。</p>
<p>芎歸膠艾湯　妊娠下血者。　千金云。因頓僕失踞。腰腹痛者。　每孕必墜者。</p>
<p>鯉魚　雞肉　雞卵　婦人有每孕二三月至四五月墮胎者。宜鯉魚作臛食之。一月三次。又雞肉時時煮食之。雞卵酒煮日食之佳。此方在外臺及本草。婦人藏無他病。每孕墮胎者。予每令食此三物。至臨月分娩。母子共康健。屢效。若嫌鯉臛之腥者。作鱠食。</p>
<p>凡決定妊否之法。詳於本書。又兒胎居偏者。胎將墜經若水下者。婦人不凡決定妊否之法。詳於本書。又兒胎居偏者。胎將墜經若水下者。婦人不時顛仆者。致胎動者。右足彎急者。吾門皆用整胎術。</p>
<p>葵子茯苓散　妊娠有水氣。身重小便不利。灑淅惡寒。起則頭眩。　如防己效。餌食赤小豆。</p>
<p>大簇丸　黃鐘丸　按妊婦不三食一便。則生燥屎。而分娩不易。秘結者。宜撰用此二丸。</p>
<p>惡阻諸藥無效者。候其肩背。若凝結者。宜施針灸。（方輿）</p>

<h2>產前後</h2>
<p>桂枝茯苓丸料　候產母腹痛腰痛。見漿水下方服。名催生湯。　按和田氏催生用芎歸湯。芎歸二味各等分。水酒各半煎。加桂枝減半。益效。此方原在千金。後藤香川亦用。</p>
<p>臨產雞子生吞一枚。</p>
<p>娩後即雞子生吞一枚。</p>
<p>按是外臺及本草所用。用之則產婦益氣力。累驗。</p>
<p>回生散（家方）　治血暈神方。　荊芥穗　為末水服二錢。重者童便服。角弓反張。豆淋酒下。荊芥二錢。煎服亦效。</p>
<p>治血暈方（千金）　半夏末吹鼻中。或皂莢末內鼻中。</p>
<p>又以炭火投苦酒中。齅其氣。</p>
<p>禁暈術　遏崩術。（見產論）</p>
<p>桃核承氣湯　治胎死腹中。若胞衣不出及惡露澀滯。腹痛發暈者。</p>
<p>靈黃散　治血氣刺痛並血暈。（一云失笑散。刺痛者。謂痛從少腹上衝心也。）</p>
<p>芎歸膠艾湯　四逆加人參湯　按產後先宜問血下多少。血下少而血暈者。桂枝茯丸加大黃湯。兼靈黃散或回生散。施禁暈術。重者桃核承氣湯。血下多而血暈者。芎歸膠艾湯加三七。兼回生散或血餘霜一錢。施遏崩及禁暈掀起術。重者四逆加人參湯。此症多難治。</p>
<p>桂枝加附子湯　產後汗出者（千金）　外臺云。產後忽悶冒。汗出不知人者。是暴虛故也。取破雞子吞之。便醒若未醒。可與童便一升。甚驗。丈夫小便亦得。</p>
<p>療胞衣不下者方（家方）　雲母一錢為末。和生薑汁以水送下。或白湯。或酒服亦佳。</p>
<p>又方皂莢末。吹鼻中。即下。</p>
<p>又方鹿角為末。每服一錢匕。溫酒下。未下再服。</p>
<p>方輿云。胞衣不下者。用桃核承氣有刺痛則兼失笑散。又去血過多。胞衣不下者。或用附子劑。（良方心胸脹痛者。用奪命丹。）　下胞術見本書　按產後腹痛。及少腹痛。有與破血。消黃劑下之而不愈者。宜桂茯丸料。加當歸延胡索兼失笑散。百發百中。和田氏云。失笑產後之聖藥。一醫云。延胡索少腹痛之專藥。信然。（疑似之症。有當歸建中湯症。）　家君云。分娩後六七日。子宮腫而不收。如少腹有塊者。宜用桂茯丸料。按之痛者。子宮也。不痛者。塊物也。勿謬認用桃核牡丹湯等。</p>
<p>大豆紫湯（千金）　治產後百病。及中風痱痙。或背強口噤。或但煩熱苦渴。或頭身皆重。或身癢。劇者嘔逆直視。　大豆（一合）　清酒（二合）　上二味。以鐵鐺猛火熬豆。令極熱焦。煙出以酒沃之。去滓。服一升。日夜數服。小汗則愈。一以去風。二則消血結。如妊娠傷折胎死在腹中。三日服此酒即瘥。按產後發痙。角弓反張者。以此酒多服回生散妙。又聖濟云。頓服竹瀝一升即愈。</p>
<p>按子癇。用柴胡龍骨牡蠣湯。多加鐵粉效。立野氏云。子癇用殺蟲劑而治者。十中八九也。</p>
<p>枳實芍藥散　產後腹痛煩滿不得臥。</p>
<p>下瘀血湯　服枳實芍藥散不愈者。此為腹中有乾血著臍下。此方主之。亦主經水不利。</p>
<p>產後血閉不下者。益母草汁入酒服。（聖惠）</p>
<p>大承氣湯　產後七八日。無太陽證。少腹堅痛。此惡露不盡。不大便。煩躁發熱。切脈微實。再倍發熱。日晡時煩躁者。不食。食則譫語。利之即愈。</p>
<p>當歸建中湯　治婦人產後。虛羸不足。腹中刺痛不止。吸吸少氣。或苦少腹拘急。痛引腰背。不能食飲。　方後云。若去血過多。崩傷內衄不止。加地黃六兩。阿膠二兩。合八味湯成內阿膠。</p>
<p>小柴胡湯　三物黃芩湯　婦人在草蓐。自發露得風。四肢苦煩熱頭痛者。與小柴胡湯。頭不痛但煩者。三物黃芩湯主之。　和田氏云。此二方產後將成蓐勞者。用之。</p>
<p>當歸生薑羊肉湯　產後腹中㽲痛。並治腹中寒疝。虛勞不足。　按我邦無羊。代鹿肉。或雞肉佳也。千金產後虛損門。有鹿肉湯二方。聖濟產後虛羸門。有烏雞湯一方。蓐勞者。宜日食雞肉、雞卵、鹿肉、鯉魚等。</p>
<p>參連湯　熊參湯　東洋。一閒齋。二先生。血暈用此二方。</p>
<p>瀉心湯　家君血暈並俗稱血道藥者。用此方。（或合茯桂術甘湯）</p>
<p>大黃牡丹皮湯　產後小腹有塊者。或產後惡露澀滯。成水腫者。有神效。用消石佳。</p>
<p>按和田氏產後水腫。用琥珀湯。五苓散加琥珀反鼻湯也。</p>
<p>承氣丸　產後秘結者兼用。</p>
<p>按女子腹面倒首也。說載本書。轉胞治術。子宮脫。脫肛。膀胱脫。諸術見於本書。</p>
<p>紀聞云。產後痙病。荊芥末二錢豆淋酒攪和下。四五服而有效。又破傷風妙。產後喘。十之七八難治。大小青龍無效。參蘇飲或有效。人參蘇木二味也。廣東人參佳。若口鼻黑氣起者。加附子。產後大渴引飲。十之八九必死矣。用栝蔞湯。</p>
<p>方輿云。難產及胎衣不下者。用獨聖散。吐劑也。又通關散吹鼻中。　方輿載獨聖散。及通關散。蟹爪散。葵子阿膠湯。牛膝散。回生湯。交加散。蜀漆湯。栝蔞湯。參蘇飲。奪命丹。</p>

<h2>經閉</h2>
<p>桂枝茯苓丸料　經閉未結塊者。或頭痛。或腹中拘攣。或手足𤸷痹。或眼中赤脈。疼痛羞明者。皆主之。或加大黃。又月事時。腰腹痛者。加當歸紅花延胡索。兼用靈黃散。神驗。</p>
<p>桃核承氣湯　少腹急結者。急結急迫結實之謂也。</p>
<p>大黃牡丹湯　少腹有堅塊者。</p>
<p>抵當湯　治瘀血者（凡瘀血症二焉。少腹鞕滿。小便快利者一也。腹不滿其人言我滿者二也。急則以湯。緩則以丸。金匱云。經水不利下。）</p>
<p>和田氏云。經閉痼而不動者。宜此湯。華岡氏云。此方無速效。二三月而有效。宜為丸以酒長服。</p>
<p>下瘀血湯　臍下毒痛。及經水不利者。　按此方為丸。酒服效。</p>
<p>赤丸（山脅）　治宿疝。癥瘕蟲癖。勞瘵。黴毒骨痛。即濕漆丸。　生漆（以令丸為度）　大黃　麵粉（各十錢）　上三味。以少蜜為丸。白湯送下。自三分至一錢。日一夜一。加少蜜者。厭干固者也。　按此方。經閉腹痛者。用之有效。方輿主治云。治乾血及蟲方。方後云。自三分至一錢。終而復始。以知為度。又生生堂方書。此丸主治云。治諸毒在裡難發泄者。有持云。用此丸。知者。身體生癢。必發赤疹。</p>
<p>夷則丸　治腹中有堅塊而見血症者。　以桃仁牡丹湯送下。每服六分日三。</p>
<p>浮石丸　治腹不滿。其人言我滿。而腹皮見青筋者。　按經閉數月。少腹滿而無塊者。此方主之。</p>
<p>當歸四逆加附子湯　經閉惡寒足冷。或腰腳痛。脈緊者。　按此湯症。大便冷秘之症。間有焉。</p>
<p>小柴胡湯　大柴胡湯</p>
<p>按經閉。胸脅苦滿者。用此湯兼用破血之諸丸。</p>
<p>鷓鶘菜湯　經閉因蛔蟲者。</p>
<p>礬石丸　經水不利。下白物者。　予不為丸。為散。帛裹如無患子大。深納陰中下邊。坐臥任意。唯禁奔走。三日一換之。以愈為度。</p>
<p>紅藍花酒　紅花（二錢）　上一味。以酒二合。煎減半。頓服一半。</p>
<p>按金匱云。治血氣刺痛。經閉無刺痛。亦可用。</p>
<p>元生丸（家方）　經閉。用諸藥而無效者。此丸一分。砂糖湯送下。</p>
<p>七寶丸　經閉因結毒者。　聖濟經閉條。有水銀劑二方。主治云。臍下結鞕疼痛。又一方主治云。肢節痛。腹脅結塊。羸瘦欲變成勞。二方俱方中有芫青磠砂。</p>
<p>一方（仁存方）　治經閉不行至一年。臍腹痛。腰腿沉重。寒熱往來。　芥子（二兩）為末。每服二錢。熱酒食前服。</p>
<p>又方（千金）　治室女經閉。牡鼠屎（一兩）炒研。空心溫酒服二錢。（本草云服一錢）</p>
<p>又馬鞕草通月經　又絲瓜為末。酒服通月經。</p>
<p>和田氏云。經水不通。而逆行者。必吐凝血者也。用三黃湯。臍下有塊者。桃核承氣湯。宜施刺洛。艮山翁云。經閉宜日食辣茄。浴溫泉而佳也。香川氏血枯經閉。腹痛者。用當歸建中湯。少腹滿如鼓脹。小便難而不渴者。用大黃甘遂湯。又用辣茄丸。張子和治經閉。大抵用吐方。而後用破血劑。蘭說。篷砂治經閉有番紅花。蓬砂。沒藥等方。或曰䗪蟲。蝗之類也。出石中川友三。以蝗代䗪蟲有效。見王字形於背者。是也。東郭翁云。經閉數月。用破血劑。無寸效。經一年餘。而腹無塊者。香附子一味為末。每服一錢酒服。日三。經二月而有效。方與載千金地黃煎丸。良方牛膝散。</p>

<h2>赤白帶下崩中漏下</h2>
<p>桂枚茯苓丸料　或加大黃　按礬石丸主治云。中有乾血下白物。由是觀之。白亦血也。赤白帶下。初起。宜用此湯兼礬石丸。</p>
<p>芎歸膠艾湯　治崩中漏下。去血過多。加三七或加附子。或兼用犀角。</p>
<p>按病源云。衝任氣虛不能約制經血。故忽然崩下。謂之崩中。又云。血非時而下。淋瀝不斷。謂之漏下。</p>
<p>溫經湯　病下血。數十日不止。暮即發熱。少腹裡急。腹滿。手掌煩熱。唇口乾燥　按有此症。而腹無塊者。此湯主之。又瘦弱之婦。每月經水過多。少腹無力。食不進者。此湯加黃連有效。黃土湯　漏下有附子劑症。大抵脈緊也。用此湯。則不日血止者也。</p>
<p>黃連解毒湯　婦人年及五十以上。經水不絕者。或經水一月二度來者。</p>
<p>大抵心下痞。脈數也。（按壯婦亦此湯症間有焉）</p>
<p>當歸建中加地黃阿膠湯　血症。心中悸而煩者。須用此湯。腹中急痛亦佳。</p>
<p>小柴胡湯　大柴胡湯　柴胡薑桂湯　此三方因腹狀用之。兼用破血丸。</p>
<p>苓薑朮甘湯　當歸四逆加吳茱萸生薑湯　帶下。腰痛腳冷。下白物者。撰用此二方。或兼炙治溫泉。</p>
<p>當歸芍藥散　礬石丸　下白物不止。少腹有塊者。</p>
<p>四逆加人參湯　艮山先生曰。崩血甚。四肢厥冷。自汗者。四逆湯。或加人參可也。東郭翁云。余遇產後暴崩。或致暈者。則用此方。其功非他方可企及也。</p>
<p>解毒劑加桂芍歸　所下之物臭氣甚者。必因結毒也。此劑主之。（醫事說約）</p>
<p>和田氏云。白帶下者。有一種因毒者。此膿淋之類也。臭氣至甚矣。用解毒劑甚者兼輕粉丸。</p>
<p>夾鍾丸　漏下腰腹㽲痛。下血至少。淋瀝者。兼用此丸。</p>
<p>治白崩方（千金）　灸小腹橫紋當臍孔直下百壯。又灸內踝上三寸左右。各百壯　灸八髎。（小言）</p>
<p>治五色帶下方（千金）　服大豆紫湯。日三服。</p>
<p>治崩中漏下赤白不止。（千金）　燒亂髮酒和服方寸匕。日三。</p>
<p>又方（千金）　鹿角燒末酒服。日三。</p>
<p>蒲黃散（千金）　治漏下不止方。　蒲黃（半升）　鹿茸當歸（各二兩）　上三味為末。酒服五分匕。日三。不知。稍加至方寸匕。</p>
<p>蒲黃丸（聖濟）　治月候過多。血傷漏下不止。　蒲黃（三兩微炒）　龍骨（二兩半）　艾葉（一兩）　上三味為末。蜜丸梧子大。每服二十丸。煎艾湯下。日再。</p>
<p>方輿云。血崩及諸失血。危急者煎用人參二錢。不知。服至數劑。又下白物如脂者。用無憂散兼坐藥。灸治。溫泉皆兼宜。　按無憂散。子和方也。予未試。又同書有烏賊骨牡蠣二味等分方。赤白帶下久下不止者。用此散而止云。未試。或云治婦人白沃不已方。</p>
<p>風化石灰　上一味。酸醬草搗汁和丸。</p>
<p>病因考帶下門云。治方。灸。溫泉幹過臘魚告天雀鶉。</p>
<p>方輿載逍遙散及歸脾湯。獨參湯。瓜子仁湯。栝蔞根湯。無憂散。烏茜丸。</p>

<h2>乳病</h2>
<p>葛根加桔梗石膏湯　乳腫。乳癰。未成膿者用此湯。外塗鮒魚膏。</p>
<p>鮒魚膏（家方）　擂生鮒魚肉為泥。塗乳房。產後。則倩他小兒。而令吮乳。後輕輕揉軟乳房。則消散也。產前易消散。產後難消散。</p>
<p>葛根加反鼻湯　伯州散　乳癰將成膿者。用此二方。</p>
<p>大黃牡丹湯　乳癰毒深。膿少。不大便者。</p>
<p>耆歸建中湯　乳癰膿潰後。盜汗出者。或加龍骨牡蠣。或加附子。</p>
<p>小柴胡加石膏湯　治乳核乳癧。神驗。外以蔥湯蒸之。貼水銀膏。（即秘錄神水膏。）</p>
<p>柴胡去半夏加栝蔞橘皮連翹湯　治乳癰不成膿。不消散。久不愈者。外用前法。貼神水膏亦得。</p>
<p>單橘皮湯　本草黃橘皮附方。引張氏云。婦人乳癰未成者即散。已成者即潰。痛不可忍者。即不疼。神驗不可云喻也。用真陳橘皮湯浸去白曬。麵炒微黃為末。每服二錢。麝香調酒下。初發者一服見效。　又青橘皮附方。引丹溪云。婦人乳岩因久積憂鬱。乳房內有核如指頭。不痛不癢。五七年成瘡。名乳岩。不可治也。用青皮四錢。水一盞半。煎一盞。徐徐服之。日一服。或用酒服。</p>
<p>七寶丸　乳岩初發。青橘皮湯兼用此丸。</p>
<p>水銀膏　排膿湯</p>
<p>按吾先師。奧綠山翁。乳癰初起。乳核乳癧。皆用單青皮湯。有奇效。</p>
<p>治乳癰初發。腫痛結鞕。欲成膿。令一服差。樺皮散方。（聖濟）以北來真樺皮燒灰。酒服方寸匕。令睡。及覺已差。（乳癰腐爛亦用唐瑤經驗本草）</p>
<p>療乳癰腫痛方（山脅氏方函）　天瓜　當歸　甘草（各五錢）　乳香沒藥（各一錢）　鹿角（燒三錢）　上六味為末。溫酒送下。</p>
<p>治乳癰疼痛（聖濟）　車前子（一兩）為末。每服二錢匕。溫酒調下。</p>
<p>又方（聖濟）　打雞子一枚。熱酒調下。</p>
<p>治乳汁不出。蘊積在內。結成癰腫。此名妒乳。（聖濟）　露蜂房（燒灰）　上一味研細。每服二錢匕。煎水一盞。至六分。溫服。</p>
<p>鹿角散（正宗）　治乳癰新起。結腫疼痛。增寒發熱。但未成。鹿角尖三寸。用炭火內煅。稍紅存性。碾末。每服三錢。食後熱酒調服。甚者再三服。必消。</p>
<p>治乳癰結鞕疼痛。（聖濟）　和泥蔥（半斤）　上一味細銼。以水四升。煮十數沸。於瓷瓶子內盛。熏乳腫處。冷即再暖。以差為度。</p>
<p>又方（聖濟）　露蜂房（五兩）　上一味銼碎。以醋五升。煎至三升。傾於瓷瓶子內。乘熱熏乳上。冷即再暖。以差為度。</p>
<p>聖惠方云。白麵。治乳癰不消。炒黃醋煮為糊。塗之即消。</p>
<p>乳泉散（家方）　治產後乳汁不出。或少者。　露蜂房霜（十錢）　地黃（五錢）　上二味為末。每服一錢。以醴酒送下。日三服。</p>
<p>聖濟云。露蜂房。炒末酒服。栝蔞根末酒服。皆能下乳汁。</p>
<p>本草云。穿山甲炮研。酒服二錢。能下乳汁。名湧泉散。</p>
<p>儒門事親。乳汁不下條曰。夫婦人有本生無乳者。不治。或因啼哭悲怒。鬱結氣溢閉塞。以致乳脈不行。用精豬肉。清湯。調和美食。於食後。調益元散五七錢。連服三五服。更用木梳梳乳。周迴百餘遍。則乳汁自下也。</p>
<p>回乳方（本草）　大麥糵炒研。白湯服二錢。　麥芽二三兩炒。水煎服亦效。宜用新者。</p>
<p>和田氏云。乳岩。用青皮。頻灸肩顒肘髎。及七九以上。</p>
<p>牛山云。乳汁不通。則結核成乳癰。初結核寒熱者。速揉和乳房。則乳汁下。結核自消。又云將成乳癰者。白芷貝母各二兩為末。溫酒送下。神驗。</p>
<p>秘錄云。小兒有齧乳頭如皸而腐爛者。名之乳疳。亦曰乳頭破裂。乳兒則益爛而難愈。不乳兒則乳汁充滿而痛。成乳癰。雖小瘡難治。宜攤中黃膏於綿片。而貼瘡。欲乳兒則去中黃膏。攤遊奕膏於紙而貼之。不當齒於瘡口。又不濕瘡口而可也。凡乳病禁針線勞肩。　看乳相併乳母之乳汁法。見於本書。</p>
<p>聖濟乳癰門曰。新產之人。乳脈正行。若不自乳兒。乳汁蓄結。氣血蘊積。即為乳癰。產後乳結癰門曰。產後多有此疾者。以乳汁蘊積與氣相搏故也。方輿載柴桂湯。排膿湯。梓葉湯。蒲公英湯。櫻皮湯。</p>

<h2>小兒初生雜治</h2>
<p>甘連大黃湯　小兒初生。當急進之。吐下穢物。　甘草　黃連　大黃（各五分）　上三味以水一合。煮取五勺。以絹裹艾如乳頭。沾取吮之。</p>
<p>紫丸　千金云。兒服如麻子一丸。百日兒服如小豆一丸。</p>
<p>一貫云。小兒初生。有心下至臍下。如梅核。累累三四枚者。此胎毒也。宜急治之。經二三月。則難治。甘連大黃湯。加鬱金紅花。不消散者。用山繭湯。兼用紫丸。則必消散矣。又顏色青白陰狀者。用五香湯。其重者。用四逆湯。雖然至小兒用四逆。則多難治也。　病源云。小兒始生。肌膚未成。不可暖衣。暖衣則令筋骨緩弱。又云薄衣之法。當從秋習之。不可以春夏。卒減其衣。則令中風寒。從秋習之。以漸稍寒。如此則必耐寒。又云。不能進乳哺。則宜下之。又云。小兒始生。生氣尚盛。無有虛勞。微惡則須下之。又云。不下則致寒熱。或吐發癇。或致下利。此皆病重。不早下之所為也。　千金方變蒸條云。若良久熱不可已。少與紫丸。微下熱歇便止。若於變蒸之中。加以時行溫病。或非變蒸時。而得時行者。其診皆相似。惟耳及尻通熱。口上無白泡耳。當先服黑散以發其汗。熱當歇便就瘥。若猶不都除。乃與紫丸下之。（黑散者麻黃杏仁大黃三味也）</p>
<p>又云。蒸者甚熱。而脈乳汗出是也近者。五日歇。遠者八九日歇也。當是蒸上。不可灸刺妄治之也。又云。凡乳兒不欲太飽。飽則嘔吐。每候兒吐者。乳太飽也以空乳乳之。即消。</p>
<p>幼幼集成簡切辨證　小兒熱症有七　面腮紅　大便秘　小便黃　渴不止　上氣急　足心熱　眼黃赤　小兒寒症有七　面皎白　糞青白　肚虛脹　眼珠青　吐瀉無熱　足脛冷　睡露睛</p>
<p>簡易方云。小兒臍風。獨頭蒜。切片安臍上。以艾灸之。口中有蒜氣即止。保嬰錄亦云。　入門云。撮口風。面目黃赤。氣喘。啼聲不出。舌強唇青。撮口聚面。飲乳有妨。　又臍風。其症臍腫突。腹脹滿。或日夜多啼。不能飲乳。甚則發搐。撮口噤口。是為內搐。不治。凡臍邊青黑。爪甲黑者。俱死。　按直指方。臍風撮口。用紫丸。又袖珍小兒方。治臍風撮口。瓜蒂散吹入鼻內。啼則可療。　良方云。每日頻於無風處。看小兒上齶頰內。有白泡起。以指甲刮破拭淨之。　治襁褓中小兒臍風撮口法。（聖濟）上視小兒上下斷。當口中心處。若有白色如豆大。此病發之候也。急以指爪正當中掐之。自外達內。掐令匝。微血出。亦不妨。又於白處兩盡頭。亦依此掐。令內外斷。應手當愈。　治小兒臍久不幹。赤腫膿出。（聖濟）　當歸（焙）　上一味。為末極細。少少著臍中。頻用之。　小兒諸病。但見兩眼無精光。黑精無運轉。目睫無鋒芒。如魚眼貓眼之狀。不治。（濟生）　凡診小兒。大指按三部。一息六七至平和。八九至發熱。五至內寒。（聖惠）　三歲後則以一指轉側。辨其脈。五六歲後。脈六七至為平脈。（醫通）</p>
<p>千金云。兒初生。叫聲連延相屬者壽。聲絕而復揚急者不壽。　臍小者不壽。　自開目者不成人。　目視不正數動者大非佳。　汗不流不成人。小便凝如脂膏不成人。　頭四破不成人。　早坐。早行。早齒。早語。皆惡性。非佳人。　陰不起者死。　陰囊下白者死。赤者死。　卵縫通達黑者壽。（上相兒命短長法之拔萃也全文載於本書）</p>
<p>家翁云。初生小兒。胸肋膨脹者。胎毒也。紫丸主之。　按予家。初生小兒。經二十四時而乳。有胎毒者。經三十六時而乳。小兒以囟門之動緩者。為無病之兒。又握手而不開者。為壯健。開手者不成人。赤子小便之狀如帚形者。壯健而能育也。屢試屢驗。後世方書。有虎口。三關。視手紋法。其論糊塗。不可從矣。　小言云。臍帶將脫時。不可浴兒。浴則發臍風。臍帶脫。則宜灸瘡口。小艾一炷而佳也。但悉灸濕處不拘形。經五六日而瘡口愈發。宜令浴。必無臍風撮口之患。</p>

<h2>鵝口</h2>
<p>甘連大黃湯　或加石膏　瀉心加石膏湯　有熱者宜此湯兼紫丸。</p>
<p>紫丸　鵝口用上之二湯。兼用此丸。</p>
<p>朱硼散（方見口舌門）用絹裹手指蘸水拭口。三五次。塗此藥。</p>
<p>按聖濟有枯礬辰砂二味等分之塗藥。吾先師用之。有效。華岡氏用金鎖匕冰硼散。內服涼膈。甘連大黃。黃連解毒等也。和田氏云。鵝口。用附子者。百人有一人必死。方輿載涼膈。附子瀉心。錢氏白朮散。</p>

<h2>吐哯</h2>
<p>小半夏湯　同加茯苓湯　吐乳初發。用此二方。秘結者。兼紫丸。不應者。以伏龍肝汁。煎用。以伏龍肝汁。煎用。</p>
<p>吳茱萸加黃連湯　治吐乳將發驚者。　吳茱萸　黃連　生薑（各六分）　人參　大棗（各二分）　上五味。以水一合五勺。煮取五勺服。</p>
<p>旋覆花代赭石湯　一貫云。吐乳噯氣腹鳴者。此湯有效。予未試。</p>
<p>厚朴七物湯　家君吐乳。腹滿者。用之兼紫丸。</p>
<p>紫丸　理中加茯苓湯　吐乳下利者。或加附子。</p>
<p>七寶丸　（活幼口議云。幼兒哯乳不止。服此立效。膩粉一錢。鹽豉七粒。去皮研勻。丸麻子大。每服三丸。藿香湯下。）按戴氏嘔吐噎膈用輕粉丸。</p>
<p>四逆湯　吐乳發搐者　一貫云。吐乳下利者。或用甘草乾薑湯。吐乳諸藥無效者。炒米煎服有效。吐乳後。發搐惡候也。發搐而吐乳者不然也。吐乳發搐。宜四逆湯。</p>
<p>友人越川氏云。吐乳將發驚者。易其乳母則愈。愈而後。復令吮其乳汁佳。雖實母乳汁。可易之。必愈。妙。</p>
<p>吐哯候法　小兒有飽乳而含乳汁於口徐徐吐乳者。又有乳兒即抱持而動兒體吐乳者。皆此非病也。乳兒而不少動兒體。吐乳如湧者。為之吐哯也。</p>
<p>病源云。凡小兒霍亂皆須暫斷乳。又曰。小兒吐利不止。血氣變亂。即發驚癇也。</p>
<p>入門云。吐瀉不止。久則變成慢驚與疳。</p>

<h2>丹毒</h2>
<p>大青龍湯　葛根加石膏湯　小柴胡加石膏湯　大柴胡湯　黃連解毒湯　丹毒攻心者。急用此湯。兼承氣。或紫丸。</p>
<p>調胃承氣湯　紫丸　針　雲門。尺澤。委中。亂刺丹上出血。　蜞針　施丹上。</p>
<p>犀角　方輿云。丹毒無大熱。色甚赤。眼中生血絲。或煩躁者。毒劇也。宜用此。</p>
<p>入門丹毒門云。赤腫遊走。遍身不定。其始發於手足。或頭面胸背。令人煩悶腹脹。其熱如火。痛不可言。若入小腹陰囊。如青傷者死。　又曰治法先用針砭去血。外用拔毒涼肌之藥敷。又曰凡丹毒變易非輕。如經三日不治。毒氣入里。腹脹則死。　按病源論丹毒二十九種。千金引肘後云。丹毒須針鑱去血。聖濟云。治法用鎌割。明不可緩故也。　玉案云。丹毒火症也。小兒出胎後。多有此症。近則五六日或十日。或半月。遠則愈月後。或兩三月。其病形不同。　一貫云。丹毒發於陰股。上至臍及心下者難治。發麵部。下至腹及腳者易治。　按病源云。留火丹之狀。發一日一夜。便成瘡。如棗大。正赤色。又丹發兩臂。赤起如李子。謂之鬼火丹也。由是觀之。丹毒突出而腫者。希有焉。　千金有丹毒塗藥赤小豆末。以雞子白調塗丹上。干即易。　按丹毒宜春冬針之。夏秋施蜞針。而後塗此藥。　東郭翁曰。丹毒無陰症。凡患丹毒人。十中七八。腹石硬也。丹毒自上來者。針俗曰腕力瘤處。出血最效。</p>
<p>方輿有犀角消毒飲。連堯湯。</p>

<h2>夜啼客忤</h2>
<p>甘麥大棗湯　驚啼加鐵粉。</p>
<p>甘連大黃湯　紫丸　停乳者。用此湯。兼紫丸。</p>
<p>柴胡龍骨牡蠣湯　驚啼或用此湯。</p>
<p>小建中湯　小柴胡湯　大柴胡湯　此三方因腹狀用之。</p>
<p>小言云。夜啼用紫丸等。無效者。灸不容天樞。二三日數十壯甚驗。　聖濟云。嬰兒氣弱。府藏有寒。每至昏夜。陰寒與正氣相擊。神情不得安靜。腹中切痛。故令啼呼於夜。名曰夜啼。（按病源。及千金之論。鑿而不足取也。）時珍曰。小兒夜啼。多是停乳腹痛。余每以蠟匱巴豆藥一二丸。服之屢效。　經驗良方云。小兒腹痛啼哭。如口角青者。蟲症也。抱起稍止。臥之則大啼。蓋臥則蟲攻上。起則蟲攻下故也。　按初生小兒。有發熱鼻塞不通。不能吮乳。大啼者。用麻黃湯則愈。若不愈者。胎毒在頭也。以家方芫青膏貼百會則必愈。累用累驗。　方輿云。夜啼客忤。一二歲之間病也。　方輿載千金生地黃湯。</p>

<h2>馬脾風</h2>
<p>麻杏甘石湯　馬脾風初發。用此湯。兼甘遂丸或紫丸。</p>
<p>越脾加半夏湯　此湯麻杏甘石之一等重者也。</p>
<p>瀉心湯　紫丸　姑洗丸　七寶丸　救喘丸（家方）　化毒丸　小言云。用二分效。</p>
<p>醫學綱目云。暴喘。欲傳為馬脾風也。大小便哽。宜急下之。用牛黃奪命散。後用白虎湯平之。馬脾風在百日內者不理。　按奪命散。黑白牽牛、大黃、檳榔、四味散藥也。三歲兒每服二錢。冷漿水下。涎多加膩粉少許。又同書有辰砂、輕粉、甘遂、三味無價散。曰治馬脾風悶亂。入門馬脾風。用麝香丸。聖濟喘急門。有砒石、瓜蒂。　小言云。馬脾風惡病也。重於驚風。可十治一二。　按馬脾風小兒之喘息也。故病源。千金及翼。外臺。聖濟。無馬脾風病名。往古長幼共謂之喘也。馬脾風后世之俗稱也。　方輿載參連湯。</p>

<h2>急慢驚</h2>
<p>葛根湯　金匱曰。太陽病。無汗而小便反少。氣上衝胸。口噤不得語。欲作剛痙。</p>
<p>按驚風壯熱者。宜用此發汗。</p>
<p>還魂湯（方見卒死）此湯。即傷寒論。麻黃湯。加麻黃一兩者也。無汗表實。卒然昏冒者。用之。與便閉裡實。用備急等者不同。宜詳診察焉。</p>
<p>小柴胡加大黃湯　袖珍小兒方云。療急驚風有熱者。</p>
<p>柴胡龍骨牡蠣湯　驚惕不安。動氣盛者。</p>
<p>石膏黃連甘草加鐵砂湯　治急驚有熱。瘛瘲劇者。　本方加鐵砂一錢煎服。或入蜜服。　按滋德堂方。有救急驚神方。石膏十兩。辰砂五錢。研末用生蜜調下。是亦類方也。和久田氏。和田氏。此症。用風引湯。</p>
<p>大承氣湯　痙為病。胸滿口噤。臥不著席。腳彎急必齘齒。</p>
<p>瓜蒂散　子和曰。小兒三五歲或七八歲。至十餘歲。發驚涎潮搐搦如拽鋸。不省人事。目瞪喘急將死者。（中略）輕者為驚風天吊。重者為癇病風搐。可用吐涎及吐之藥。　按子和風搐反張。往往用吐劑。（詳於事親）</p>
<p>紫丸　走馬湯　急驚。腹滿口噤。便秘者。宜用此下之。屢驗。千金云。凡灸癇。當先下、兒使虛。乃承虛灸。</p>
<p>姑洗丸　急驚。痰涎壅盛者。或兼用之。</p>
<p>理中加附子湯　真武湯　慢驚風下利者。</p>
<p>通脈四逆加豬膽汁湯　白通加豬膽汁湯　慢驚。慢脾風。下利者。與通脈四逆。多灸神闕。尚不愈者。可與白通加豬膽汁湯。如無豬膽。則以熊膽代之。亦可。白通人尿也。男兒三歲為佳。醫方集解。用五歲尿。</p>
<p>灸慢驚風　神闕。　氣海。　天樞。　章門。</p>
<p>針　方輿云。小兒稱驚風者。詳診之。若有青紫筋者。乃為痧病。可放而已。本莊氏云。小兒有可刺絡之證。如急慢驚直視。咬牙之類是也。</p>
<p>肘後療驚癇瘲掣（幼幼新書）　上取熊膽一兩豆大。和乳汁及竹瀝汁服。去心中涎效驗。</p>
<p>七寶丸　急驚發汗後。或用此丸。有奇效。本草水銀條云。治小兒驚熱涎潮。附方云。小兒癇疾。急驚墜涎。本草小兒驚癇門云。水銀輕粉。並主驚癇風痰熱痰。聖濟急驚門。有水銀劑二十餘方。</p>
<p>有持云。慢驚。爪章門。有知覺者。宜施治。還魂湯。急驚妙藥。手足掣抽宜龍膽湯。　病因考驚癇門云。治方熊膽灸。　按方輿載桂枝加桂湯。風引湯。龍膽湯。參連湯。衝心者。用參連。其劇者。加熊膽二分。名熊參湯。又載烏蠍散。通關散。雄黃解毒丸　聶久吾云。慢脾風者。即慢驚失治而甚者耳。其實難大分別。亦不必別立治法。　寇氏驚風論曰。效傷寒陰陽二證之治而可也。　小言云。驚風者。胎毒成塊。不時奔騰者也。瀉心大小柴胡。參連白虎。熊參湯。紫丸等。可撰用。又云小兒夢驚。夢成魘者。灸章門效。　千金驚癇條云。未下有實而灸者。氣逼前後不通殺人。又云。大動手足。掣瘲者。盡灸手足十指端。　又云。病發身軟。時醒者。謂之癇也。身強直。反張如弓。不時醒者。謂之痙也。　又云。兒有熱不欲哺乳。臥不安。又數驚。此癇之初也。服紫丸便愈。不愈復與之。　聖濟云。小兒急驚之狀。身體壯熱。痰涎壅滯。四肢拘急。筋脈牽掣。項背強直。目睛上視。牙關緊急。古人謂之陽癇。　又云。小兒慢驚者。癇病發於陰也。其發則手足瘛瘲。頭目搖動。牙關噤緊。神情如醉。休作有時。潮搐不定者。謂之陰癇。　薛氏曰。眠見睛者。虛也。眠不見睛者。實也。和田氏曰。慢驚口噤。為笑狀者凶。　入門諸驚門云。重者。牙關緊急。搖頭竄視。張口出舌。角弓反張。身體掣顫。手足搐搦。四肢踡攣。局方謂之八候。</p>
<p>候癇法（千金）　弄舌搖頭。　身熱小便難。　意氣下而妄想。　臥夢笑。手足動搖。　臥惕惕驚。手足振搖。　身熱目時直視。　身熱頭常汗出。　鼻口青時小驚。　小兒發逆上。啼笑。面暗色不變。　眼不明上視喜陽。　鼻口乾燥。大小便不利。（此十一條。候癇法之拔萃也。千金有此一條。則為癇之初也。全文見本書。）　按三因方云。小兒發癇。俗云驚風。由是觀之癇雅語。驚風俗稱也。至宋醫俗共謂之驚風也。　外臺引肘後療卒得癇方。　釣藤甘草各等分煎服。本草驚癇條云。此方主小兒寒熱十二驚癇胎風。　預防驚風灸方。並論驚風不治之症。皆詳於本書。</p>

<h2>疳癖</h2>
<p>茯苓飲加澤瀉黃連湯　治小兒疳疾。小便渾濁。如米泔。食易飢。肚大青筋。瘦弱者。　或枳實代甘草。或兼鷓鶘菜丸或消黃丸。每日宜餌食鰻鱺山蛤蟾蜍雞子之類。</p>
<p>小柴胡湯　柴胡薑桂湯　大柴胡湯　此三方疳疾有熱者用之。或因腹狀用之。</p>
<p>小建中湯　腹痛者。</p>
<p>理中加茯苓湯　下利不渴者。</p>
<p>豬苓湯　下利有渴者。</p>
<p>紅礬丸（方見黃胖）　疳疾好食生米土炭紙茶土器等者。三四歲兒。則每日服此丸五六分。七日而有效。不用煎湯而可也。</p>
<p>鷓鶘菜湯　紫丸　疳疾有蟲者。用此湯。兼用紫丸。</p>
<p>七寶丸　疳眼遮睛者。有用此丸症。每日用五六粒。</p>
<p>灸章門　有持云。疳疾形氣未衰者。宜灸章門。其效勝於藥石。播州有治疳名醫。十之八九灸章門。</p>
<p>病因考。疳疾門云。治方灸自九至十四。痞根章門。用熊膽。餌食山蛤鰻鱺。治小兒疳積腹脹如皷（濟世）　蝦蟆　去頭足皮腸。止用本身四腿。以白水入鹽酒蔥椒。煮熟與吃。以愈為度。</p>
<p>治疳勞秘方　大觜烏霜　鰻鱺霜（各等分）　上二味為糊丸。隨兒長少。斟酌與之。</p>
<p>牛山曰。疳疾。多生脾胃實熱。不宜補藥。可用殺蟲劑。白膜遮眼者。鱔魚肉灸食效。　本莊氏疳眼生昏翳者。用兔屎丸。　按本草兔屎主治云。目中浮翳。勞瘵。五疳。疳瘡。痔瘻。殺蟲解毒。附方引普濟方云。痘瘡入目生翳。用兔屎。日乾為末。每服一錢茶下。即安。　和田氏曰。疳疾疳勞。烏鴉霜。為末白湯下。大效。又小兒腹有塊。所謂癖疾者。後世家用淨府湯無效。濕漆丸有效。　按癖疾者。小兒之積聚也。錢氏云。癖塊者。僻於兩脅。聖濟云。僻在左右者癖也。因此考之。吾門所用柴胡消黃等也。又素靈。千金。無疳疾。病源稱傷飽。哺露。大腹丁奚者。今之疳疾也。至宋盛稱之。錢氏曰。凡小兒疳在內。目腫腹脹。瀉痢青白。體漸瘦弱。疳在外。鼻下赤爛。頻揉鼻耳。或肢體生瘡。玉案疳疾門云。其症體常熱。黃瘦。小便如泔水。噁心腹脹。毛髮黏。面色痿黃。生白點。肚有青筋。頭上生瘡瘍。大便瀉下之類也。　方輿載千金八神湯。及錢氏白朮散。毓嬰丸。　紀聞云。行遲語遲。不因毒者。六味丸有奇效。　胎黃之症。兒生下遍體黃色如金。醫通用茵陳劑。醫林雲。或衣被太暖所致也。宜漸漸減綿厚衣被。（云云）予夏時嘗診赤子衣被太暖而發黃色。予叱之令減衣被。黃色漸漸去。</p>

<h2>痘瘡</h2>
<p>葛根湯　桂枝加葛根湯　麻黃湯　大青龍湯　初熱至出齊撰用此四方。</p>
<p>桂枝加黃耆反鼻湯</p>
<p>伯州散　順痘。起脹至灌膿。用此湯。若起脹不十分者。兼用伯州。令餌食鹿肉等。</p>
<p>黃連解毒湯　痘色過赤。無豔有熱者。用前方。兼用此湯。熱去痘潤澤。則止此湯用前方。又發斑者。亦兼用此湯。或用此湯兼用犀角。</p>
<p>黃耆當歸生薑人參湯（山脅）　療痘無險惡症而難貫膿者。　黃耆　當歸（各二錢）　人參（一錢）　生薑（七分）　上四味。以水二合。煮取一合。分溫二服。或加附子。又加鹿茸反鼻類。</p>
<p>犀角　錢氏曰。痘瘡稠密。不拘大人小兒。生犀乾澀器中。新汲水磨膿汁。冷飲服之。又犀角主治。時珍曰。痘瘡稠密。內熱黑陷。或不結痂。又頌曰。角尖又勝生犀。　按痘瘡稠密。三四歲者。起脹至灌膿。每日用犀角一錢。十二三歲者。日用二錢神驗。</p>
<p>大柴胡合調胃承氣湯　治熱毒熾盛。不能起脹。惡熱心煩。舌胎口乾。不大便。或渴。或煩躁。外則乾枯焦紫者。　按玉機微義。如此症用涼膈散。主治云。痘瘡已出。發熱作渴。脈實悶亂。便實者。</p>
<p>白虎湯　主痘純紅。臉赤而眼紅。口氣熱。唇口腫痛。煩躁悶亂。循衣摸床。小便赤。大便秘。身如火。發班譫語實熱等症。並治口氣臭。</p>
<p>和田氏曰。煩躁無渴者。用黃連解毒湯。此因毒攻心也。</p>
<p>桃核承氣湯　治痘毒深劇。醫所不能療。　南涯翁痘瘡熱毒熾盛。乾枯焦紫。將為黑陷者。用此湯。</p>
<p>按痘瘡至用白虎承氣。多難治也。</p>
<p>豬苓湯　灌膿時。下利者。</p>
<p>禹餘糧丸（方家）　下利不止者。</p>
<p>熊膽　治毒氣欲衝心者。</p>
<p>真武湯　灰陷白陷下利者。</p>
<p>茯苓四逆湯　煩躁者。</p>
<p>麥門冬湯　竹葉石膏湯　此二方治收靨時。發渴者。</p>
<p>桂枝茯苓丸加大黃紅花湯　治收靨時。腹痛者。是熱毒凝滯。瘀血作痛也。</p>
<p>柴胡去半夏加栝蔞連翹湯　治結痂後。發熱或渴者。若身熱壯盛。大便秘結。小便赤澀者。兼用承氣丸。或每日用犀角五分。有效。</p>
<p>承氣丸　紫丸　初發熱。出齊之間。用之。</p>
<p>麻黃附子細辛湯　治痘隱隱在皮里。不透表。無熱惡寒。或痘一出而內陷如蚊跡。或大便溏。全陰狀者。　蓋此症百人中。有一人耳。</p>
<p>針　委中。尺澤。　艮山翁曰。熱毒熾盛。將痘色為紫者。</p>
<p>灌浴方　米泔八升。入酒八合。以病人坐盤中。灌浴周身。急被浴衣。不須拭乾。臥覆取微似汗。毒邪從汗外發。沒者復起。黯者忽赤。紀聞云。此方治痘毒盛如發班蚊點。難發者。</p>
<p>痘疔以針挑破。出毒血。諸痘隨即灌膿。若挑破不痛。不出血者。難治。　紀聞云。痘疔大小不一。痛至甚者也。色赤者輕。紫黑色者重。逆痘有此症。本間氏曰。痘疔發麵部者。尤急可施治。內服宜痘瘡主劑中多加犀角也。</p>
<p>痘癰及丹毒。用水蛭大者五六枚。放腫毒頭上。吮去惡血。可以消丹瘤癰腫。　紀聞云。用針尤佳。內服涼膈散。若攻心者。黃連解毒。加消黃。痘疔癰丹毒。多不治者。</p>
<p>正宗。痘癰門云。大如桃李。此多發在收靨之後。身涼不渴者為吉。</p>
<p>痘瘡傷損者。白蜜七分。絲瓜水三分相和。重湯溫之。筆蘸塗。日六七次。（方輿）痘癢悶者。塗蜜。（方輿）</p>
<p>痘起脹前後有紫黑惡痘。二三顆交出者。宜針痘上出血。若多出者。針委中尺澤。內服涼膈散。（方輿）　</p>
<p>蕃紅花湯　治痘毒煩悶者。蕃紅花（二分）　上一味。以水一合。煮取五勺。溫服。　此方有持之經驗也。又云發脹之力。反鼻勝乎鹿茸。南陽亦云。</p>
<p>先輩云。痘難收靨者。後必雜症生焉。痘後面黑者為佳。如無痕跡者。恐生他疾。痘痛而手不可近者。為吉候。　小言云。或曰痘瘡灰白。癢搨者。用雞肉煎汁有效。</p>
<p>眼科錦囊云。預防痘瘡入目。上好熊膽調和淨水點眼目。日兩次。必無一失。（東郭南陽亦云）</p>
<p>痘毒迫咽。藥食不得下者。雄黃解毒丸有效。（有持。）　按痘科鍵。痰塞喉中者。礬巴散吹喉中。（白礬巴豆也）　痘瘡看法。治痘入目法。並詳於本書。　方輿載外臺四物解肌湯。順逆湯。錢氏獨聖散。涼膈散。手捻散。連翹去麻黃湯。</p>

<h2>麻疹</h2>
<p>葛根湯　麻黃湯　大青龍湯　小柴胡湯　治寒熱似瘧者。（入門）　小承氣湯　治便秘三四日者。（入門）</p>
<p>白虎湯　黃連解毒湯　壽世云。麻疹已出。譫語煩躁作渴者。白虎湯合解毒湯。</p>
<p>瀉心湯加地　芎歸膠艾湯　此二湯。或加犀角。主諸失血。醫通。犀角地黃。加荊芥。</p>
<p>四苓散　豬苓湯　白虎湯　醫通曰。泄瀉為麻疹之常候。熱邪得以開泄也。發熱時瀉。小水短澀者。四苓散加木通滑石。入門云。煩渴作瀉者。白虎湯兼豬苓湯。</p>
<p>黃芩湯　白頭翁湯　乾薑黃芩黃連人參湯　醫通云。麻之作痢。為熱邪內陷。在正沒或沒後。而痢下色白者。黃芩湯。下膿血者。白頭翁湯。瀉久而成痢者。乾薑黃芩黃連人參湯。</p>
<p>桃花湯　得效方云。麻後痢。桃花湯有效。赤石脂和產。形如蠟。色粉紅。或淡紫。刀痕有光澤。煎汁清澄。無土臭者。可用。</p>
<p>越婢加半夏湯　治麻疹後。咳嗽不止者。（方輿）</p>
<p>柴胡去半夏加栝蔞連翹湯　大柴胡湯　或加石膏。</p>
<p>犀角　麻疹後。餘毒有熱者。宜撰用上之方。</p>
<p>入門云。沒後餘熱內攻。循衣摸床。譫語神昏。喪智者。死。　按此症宜黃連解毒犀角白虎承氣等頻服之。或十救一二矣。　麻疹者。火熱之病也。春秋之間。患之者。至輕矣。盛暑之時。患之者。至重矣。麻疹中。或麻疹後。患痢而多死矣。是無他。人身之火熱。與天之火熱相搏故也。麻疹候法。詳於本書。</p>

<h2>打撲（金瘡破傷風）</h2>
<p>瀉心湯　治打撲損傷。昏眩不醒。及血出不止者。金瘡亦用。重者下九痛丸。</p>
<p>桃核承氣湯　治打撲不傷。瘀血凝滯。腫痛者。</p>
<p>桂枝茯苓丸料加芎歸湯　治打撲輕症。　此湯兼用。</p>
<p>承氣丸　芫菁膏（家方）</p>
<p>蜞針　大打腰脊。而瘀血凝滯而痛。不能屈伸者。急用桃核承氣湯。攤芫菁膏於綿片。大三四寸。以貼患處日二次。一二日而其痛如失。能屈伸。累用累驗。後用蜞針或亂刺。去惡血。打撲輕者。直用蜞針亦佳。</p>
<p>武羅牟都煎（華岡）　治打撲損傷。　合歡花（無花以木皮代之）　續斷　樟腦　上三味等分。以火酒煮。熨患處。</p>
<p>楊柏散（同前）　治跌撲損傷方。　楊梅皮　無名異　小麥粉　黃柏（各等分）　上四味為散。和醋或雞子白。以敷患處。</p>
<p>茯苓杏仁甘草湯　治有瘀血者。其人喜忘。不欲聞人聲。胸中氣塞短氣方。（千金傷損門）　和田氏云。此湯症。打撲後發疑似癇症之症者也。</p>
<p>芎歸膠艾湯　按千金傷損門。大膠艾湯。即此湯加乾薑一兩。其主治云。治男子傷絕。或從高墜下。傷五藏。微者唾血。及金瘡傷經者。</p>
<p>走馬湯　治打撲劇症（和田氏）　東郭先生醫談有治驗。</p>
<p>桂枝加朮附湯　打撲經年月者。此湯或兼梅肉散。（武田氏）</p>
<p>按千金。打撲氣絕者。與熱小便二升。三因方亦用。入門云。內傷血。入藏府。熱者童便入酒少許服立效。又云人中白末每五分。酒服效。又云血冷則凝。不可飲冷水。引血入心即死。又危症簡便云。皂莢末。急吹入鼻。如活生薑汁和香油。灌之。又急取百會穴。艾灸三壯立蘇。正宗云。用消黃劑。不醒者。用獨參湯。正體類要用參附湯。</p>
<p>和田氏曰。打撲久不愈者。曼陀羅花。　水煎服發狂而愈。秘錄云。不問金瘡何處。創口發疼痛。脈浮數。惡寒發熱。頭痛大便秘。小便少。或嘔。或渴。或口舌乾燥。或眩暈為常也。若大脫血者。創口失潤澤。面色萎黃。唇舌刮白。妄言譫語。面赤如狂。脈沉微。四肢微冷。或喘。或嘔吐不止。或呃逆。或寒戰。或自汗出者。皆凶候也。又云金瘡內服。輕重俱宜人參調榮湯。大脫血虛候多者。宜獨參湯。人參湯。疼痛不止。寒熱久不止者。宜逍遙散。眩暈頭痛心下痞。便秘者宜與苓桂朮甘湯瀉心湯合方也。　按人參調榮湯。華岡氏所作方也。八物湯加蓬萍根牛皮消者也。人參湯即理中湯也。又正宗金瘡門載獨參湯。八珍湯二方外。止血摻藥等也。　千金金瘡條云。血出便以石灰厚傅裹之。既止痛。又速愈。無石灰。灰亦可用。聖濟云。五倍子、龍骨、血竭。皆單行止血。正宗飛血不止者。傅金刀散。松香、枯礬、生礬也。　病源云。凡金瘡卒無汁者。中風也。腕折中風痙候云。若風入瘡內。犯經絡所致痙。痙者。脊背強直。口噤不能言也。聖濟云。金瘡中風水者。以封裹不密所致也。三因方痙敘論云。傷寒汗下過多。與夫病瘡人及產後致斯病。又本草痙風條云。金瘡折傷癰疽。產後俱有破傷風濕。發痙之症。　按痙與破傷風為同病。見前文可知。破傷風之名。始於千金傷損門。紫湯即大豆紫湯。主治云。破傷風入四體。角弓反張。口噤不能言。（云云）　秘錄云。凡金創傷於利刀而發痙者至少。打撲損傷或竹木刺類。多發此症。</p>
<p>大豆紫湯（千金）　方見中風門醫說云。以此酒用荊芥末二錢。能治痙。　紀聞云。破傷風痙。葛根承氣亦不應者也。此方有效。</p>
<p>治因金瘡中風反強者。雞屎白豆淋酒方。（聖濟）　雞屎白（一合）　大豆（六合）　上二味炒。令大豆焦黑。次入雞屎白。同炒。乘熱瀉於三升酒中。密蓋良久。濾去滓。每服五合。如人行五里。更一服。汗出佳。未差。即更作服之。以汗出為度。服後。宜吃熱生薑稀粥。　聖濟又有治痙方。雞屎白一味。浸酒吞。</p>
<p>治金瘡中風必效酒方。（聖濟）　蒜（肆破去心頂一升）　上一味。以無灰酒四升。煮蒜。令極爛。並滓。每服取五合。頓服之。</p>
<p>治傷折不能避慎。令人中風發痙口噤。若已覺中風。頸項強直。身中拘急者。急先服此湯竹瀝飲方。（聖濟）　竹瀝（三升）　上一味溫之。分作五六服。發口灌之。</p>
<p>武田氏秘錄云。痙破傷風。桃核承氣湯。兼用紫丸。凡痙病破傷風之類。急刺合谷一寸五分。後髮際四分。商隱白各三四分。三里五分。出血。　凡產後之痙病。急先開子宮口。灸百會膻中。　瘍科瑣言云。創口乾涸。則破傷風之徵也。脈微欲絕。舌強不語。或有少振慄之狀。攻心自汗出者。必死之症也。葛根加朮附湯。兼用紫丸。或續命湯。或番紅花以童便服。或如聖散水煎服。屢效。凡此症。藥宜多服。脈沉澀者。多作痙也。宜用心。　按破傷風痙。尤難治也。不可附子者。宜以雞屎白豆淋酒。多服回生散。若不應者。可用紫丸一錢。　方輿載獨參湯。回生湯。雞鳴散。接骨木湯。</p>

<h2>蟲獸湯</h2>
<p>元生丸（家方）風犬傷急可用此丸一分。或二分。酒下。或砂糖湯下。不知。加至三分五分。服後小便淋瀝。或出血。或下利。是毒從二便去也。見咬之初。先餌以赤小豆、蕎麥、麻油、川鱗、海魚、鳥獸及酒。一切膏粱之類。</p>
<p>元生膏　見咬之初。急以此膏貼傷口。日二次。經十三四日。日一次。凡貼此膏。二十日。或三十日。令口不合甚妙。</p>
<p>黃連解毒湯　用元生丸一次。或二次。後用此湯二三日。以解其毒。後用葛根加大黃湯。或解毒劑等。</p>
<p>蝦蟆膾。（肘後）蟾蜍膾。（小品）治狗咬傷。　瘍科瑣言云。風犬傷者。蟾蜍生內浸醋食以多為妙。</p>
<p>紫丸　狗咬傷毒甚者。用之。南陽曰。傷口報痊。數十日。惡風口渴。睪丸內吊。二溲閉結。呼吸及迫者。將發痙。宜急理之與紫丸。而取下。又云。刺尺沃委中。</p>
<p>小品方云。若重發者。生食蟾蜍膾絕良。又云煩亂㖦。已作犬聲者。天靈蓋末水服方寸匕。</p>
<p>赤水玄珠云。經久宿毒。復發者。多難救。雄香散主之。</p>
<p>雄香散方　雄黃（五錢）　麝香（二錢）　上二味為末。作二服酒下。</p>
<p>家翁治犬咬傷。葛根加大黃湯加馬錢子。傷口貼元聖。　鼠咬傷。葛根加大黃湯。多加鼠尾草。煎服。兼用雄香散。傷口貼元生膏。如風犬傷。法食貍肉或貓肉妙。若發斑。刺去惡血。本草云。雄黃主一切蟲獸傷。若無鼠尾草。以雄黃代之。若無麝香。以青黛代之亦可。古今錄驗。有青黛雄黃等分。水服方。曰治諸毒蟲傷。　和田氏云。鼠毒甚於犬毒。犬毒至死者少。鼠毒至死者多矣。有成腫者。有成勞狀者。南陽亦云。又云。鼠毒。馬錢子無效。　有持云。一人鼠毒。寒熱如瘧。羸瘦如勞。遍身洪腫垂死。百治無效。一醫用雄香散。日日利水。洪腫速愈。予治諸蟲獸傷。屢效。實無比神方也。雄黃稱古渡者。赤色明徹。臭氣少者。真雞冠雄黃也。　秘錄云。蝮蛇咬傷毒至甚。見咬則腫。見咬手則其毒乍至肩背。足之毒乍及腰腹。治法以細帶緊扎腫不至處。針傷口。五六次。大出血。其毒如油。交血出。血盡則但毒出。尤不限傷口。腫處皆針之。大出血。後雄黃末和中黃膏。貼之。用越婢加朮附湯。腫消後宜五物解毒湯。腫不消散者。每日宜刺而出血。若其毒至深。腐敗者。宜參考癰疽及脫疽治法施治。　蜂螫重症。治法與蝮蛇咬傷同。　按醫學綱目。療蛇咬。用雄黃麝香白芷。聖惠方蛇咬心頭熱躁。眼前暗黑。白礬甘草末等分。水服一錢。即止。山脅氏。原氏。本間氏。狗咬。用白玉湯。杏仁三錢。桃根白皮二錢。水煎服。和田氏。甘草解毒湯。加馬錢子雄黃。煎成。內鐵醬少許。溫服。俱詳於本書。　方輿載甘草解毒湯。通堅散。雄香散。</p>

<h2>湯火傷（灸瘡。漆瘡。）</h2>
<p>桂枝去芍藥加蜀漆龍骨　牡蠣湯　惡寒甚者。用此。</p>
<p>柴胡龍骨牡蠣湯　大熱者用此。又灸後發熱者。</p>
<p>一滴膏（家方）　治金瘡出血。及湯火傷。諸疼痛者。　乳香　椰子油（各一兩）　小麥（二合）　麻油（二合）　上四味。先以小麥內麻油中。煮之二時許。小麥變黑色。以浮游為度。漉過去麥。內二味烊解。以綿絮。撮切者數片。內膏中儲之。</p>
<p>三味蒸劑（家方）　三黃丸</p>
<p>按華岡氏。謂湯火傷不可傅燥劑者。確言也。傅之。火毒內攻也。凡湯潑之及滿面者。急去腐皮。攤一滴膏於綿片。貼之。日二次。若惡寒者。與救逆湯。至翌日。有腐皮殘者。則以蒸劑或湯蒸之。去腐皮而貼膏。若壯熱者。與柴胡龍骨牡蠣湯。凡湯火傷有腐皮殘者。則後成瘢痕。取盡腐皮則愈。後面部復。故無一點之痕。屢試屢效。若湯火傷。經二三日腐皮急難去者。日蒸而去腐皮。後貼膏。如此三四日。以能取腐皮盡。為妙。若患人四五歲。則宜不愈之間。傍人看護。不令搔面而可也。又湯火燒手指者之治法。詳於本書。　千金方云。凡火燒損。慎勿以冷水洗之。火瘡得冷。熱氣更深轉入骨。壞人筋骨難瘥。又云。治火燒悶絕不識人。以新尿冷飲之。　瘍醫大全云。火傷宜用羌活一兩煎服。俾火毒得汗外泄。庶免內攻。　武田氏秘錄云。湯火傷內攻者。石膏黃連甘草湯。又火毒甚者。用紫丸下之。又遍身燒灼者。急萊菔汁。或童便隨使用之。後以好酒盛甕中。令病人浸入其內。則雖重不至死。（此法出於廣筆記。及本草匯言。）　龔氏曰。一人夜間回祿。煙燻致死者。以蘿蔔搗汁灌之。即蘇。　按灸瘡不早愈最效。何則。毒從此去故也。若久爛而不愈者。中黃膏加紅礬少許。貼之即愈。凡不問何瘡。久爛不愈者。貼之屢效。又紅礬一味末傅嵌甲瘡妙也。以鹽湯洗而後傅也。治漆瘡蟹黃塗方。（聖濟）　生螃蟹　上一味取黃。塗傅瘡上。日三五度。按漆瘡輕者。以生柳葉煎湯洗之。又芒消浸湯洗之有效。重者無如生蟹者。不限黃擂碎全身塗之。旦食之。則無內攻之患。</p>
<p>漆瘡作癢。譚氏方。用蜀椒煎湯洗之。　相感志云。凡至漆所。嚼川椒塗鼻上。不生漆瘡。（本草蜀椒附方）</p>

<h2>諸骨哽（竹木刺）</h2>
<p>療魚骨鯁在喉中。眾法不能去。（外臺）　取飴糖丸如雞子黃大吞之。不去。又吞。　又方。小嚼薤白令柔。以繩系中央。持繩一端。吞薤到哽處。引哽當隨出。　又方。作竹篾刮令滑。綿纏內咽中。令至哽處。可進退引之。哽即出。</p>
<p>療食諸魚骨鯁久不出方（本事）　上以皂角末少許吹鼻中。得鯁出。多秘此方。</p>
<p>治誤吞針方（聖濟）　磁石（一彈丸大）　上一味口含之。即出。</p>
<p>誤吞針刺哽咽疼痛者。用亂麻筋一團搓龍眼大。以線穿系。留線頭在外。湯濕急吞下咽。頃刻扯出。其針頭必刺入麻中同出。如不中節。再吞再扯。以出為度。</p>
<p>糍糕噎咽。逡巡至死。（本朝經驗）　釅醋灌鼻孔中。立噴出。</p>
<p>竹木刺硬深難出者。用螻蛄搗爛塗刺上一時許。其刺自然吐出。取去之則愈矣。華岡翁亦云。　按翁又云。針折入肉者。磁石末和膏貼之。即效。凡竹木刺硬深者。可托專門。</p>
<p>瘍科秘錄云。骨哽先完咽米飯一塊。則自脫者也。若不脫者。用吐方為良策。吐則骨哽等亦從而出。宜撰用雙礬水。吐酒石雙礬水方。礬石、丹礬各五分。水一合。　上三味混和。頓服。</p>

<h2>黴瘡</h2>
<p>葛根湯　大黃牡丹皮湯　六物解毒湯　七寶丸　紫丸　黃連解毒加石膏湯　朱硼散（方見口舌門）　解毒劑（香川）　梅肉散　蜞針　伯州散　加味六物解毒物（方見淋疾門）　元生膏</p>
<p>丹霞條（山脅）　治上部結毒。頭痛。癭瘻。及咽喉腐爛。方鉛（一錢八分）　水銀（二錢）　硃砂（一錢）　沉香（二錢）　人參（五分）　上五味。盛鉛土盞。上火熔化。內水銀。柳著拌令相得。傾注於紙上。研至如泥。入硃砂沉香人參末三味。和調二十四分。填貯紙管。火燃吸菸。晝夜二次。</p>
<p>化毒丸（山脅）　療黴毒沉深。兼理偏枯。及一切痼毒腹痛等。薰陸（一錢）　大黃雞冠雄黃亂髮霜（各三錢）　生生乳（一錢）　上五味糊丸。辰砂為衣。每服一分。日二夜一。病重者。日用至五六分。</p>
<p>下疳初起與葛根湯。四五日後用六物解毒湯。六七日熱解而用七寶丸。凡六日至七日服紫丸。瘡愈。口中腐爛者。用黃連解毒加石膏湯。石榴皮煎汁加枯礬少許。含漱日七八次。朱硼散水解塗舌上。腐爛愈後。與解毒劑二十日許而止。若陰莖皮腫者。宜以針或蜞針日去惡血。若痛劇。臭氣甚者。毒盛也。可用梅肉散。大抵七寶紫丸。丸散方之分量。半減而用之有效。　尿道內發下疳瘡。香川氏謂之竅內下疳。華岡氏謂之內疳瘡。世所謂自黴毒來膿淋也。難急治。宜緩治之。用加味六物解毒湯。兼七寶丸。日一分。若陰莖腫者。用蜞針或針去惡血。又有用大黃牡丹湯。秘錄豬苓加大黃湯兼粉丸。　便毒消散。則為結毒。故難成膿者。亦令強成膿為上策也。宜與葛根湯。兼用伯州散。或負重任。日強力足勞腳則起脹。若尚不起脹者。白芥子末。酒和塗瘡上。或貼元生膏。則必成膿也。膿潰則宜從腫瘍之治法。後六物解毒湯。兼用七寶丸。日一分或二分。若秘結者。或用牡丹湯。　楊梅瘡初用葛根湯發之。後用六物解毒湯。熱解後。用七寶丸。痛劇者。用梅肉散下之。本間氏云。有瘡口膿汁凝固作蓋。漸成堆者。是不貼膏故也。又曰難愈者。宜化毒丸丹霞條。　一貫云。下疳。下劑有效。梅肉丸良。疳瘡痛甚者。可早用梅肉也。梅毒初有時時寒熱。盜汗等症。宜先發表而後下之。經日數。則無若症。脈見沉細者也。方此時宜用五寶輕粉化毒等。又有用輕粉而下血者多死者。一家傳云。梅毒久不愈。頭有腫。按之為凹而膿出。面色青黃。或頸項有瘰癧者。餌食雞肉有效。又為痿躄狀者。入反鼻酒劑等良。梅毒一切諸藥無效者。鼴鼠霜酒服妙也。又瘡毒推藥方。胡桃七個為末。傅鼻柱。即鼻骨之毒。忽移他。予傳之於或俗家也。試之妙。凡服輕粉後。覺胸中如有飲或嘔者。石膏有效。　武田氏秘錄云。結毒實狀而重者。生生乳劑。虛狀者。餌食雞肉。實狀而諸藥無效者。宜薰藥。凡毒結眼者。非薰藥無效。凡女子之結毒。多兼瘀血。見勞狀者也。宜兼用濕漆丸。五寶丹。治上部結毒。食不進者。有大小柴胡症。　按吾門梅毒骨痛。烏頭湯兼七寶丸。元生膏貼結毒有效。一男子咽喉結毒。絕食五日。以膏攤於綿片。徑四寸。以貼結喉上。一夜而發水泡。翌日食糜粥。貼之六七日。而能飲食。數日而愈。其他結毒於頭項手足等者。貼之。治數人。屢效。　秘錄云。結毒治法。宜先與桂枝加朮附湯而動毒。後用輕粉化毒薰藥等。身體疲勞者。令餌食雞肉鰻鱺類。　按本間氏咽喉結毒。用薰藥涼膈加石。重者五寶丹。手足結毒。用解毒湯。化毒丸。頭顱結毒。用薰藥防風通聖散。梅癘。用解毒湯。翹玄湯。薰藥。陰囊結毒。專斷截也。凡結毒。專外治者。可托專門。按凡病人。每病患附子劑之症者。希有焉。其人患下疳等。則宜與葛根加朮附湯等。後與桂枝加朮附湯。不用他藥而愈。此症用輕粉丸則多死矣。　五郎兵衛街。近江屋某。三十五歲。嘗患傷風。或頭痛。或腰痛。或泄瀉等症。每病非附子劑。則不愈。爾後患下疳。予與葛根加朮附湯。家人疑予非專門。托外科治之。與輕粉丸下利數行。變症蜂起。不日而死。　一男子二十歲。患蠟燭瘡。素陰莖長四寸。腐蝕而為二寸半。先考與桂枝加朮附湯。二十日。不用他藥而腐蝕止。生龜頭而復故。只陰莖短於平素一寸半。　方輿載四物解毒湯。及萎蕤湯。桔梗解毒湯。葳靈仙湯。耆歸湯。再造散。</p>
<p>五寶散。紫金丹。凌冬飲。連翹湯。敗毒湯。通聖散。四順清涼飲。逐毒散。</p>

<h2>癰疽</h2>
<p>葛根湯　癰疽初發。惡寒發熱。頭項強痛者。宜發表之。</p>
<p>發背初起未成。及諸熱腫。以濕紙搨上。先干處是頭。著艾灸之。不論壯數。痛者灸至不痛。不痛者灸至痛乃止。其毒即散。不散亦免內攻。神方也。（李絳兵部手集）</p>
<p>若不堪熱痛者。宜隔蒜灸。先以濕紙覆上。立候紙先干處。為瘡頭。記定。然後用獨蒜。去兩頭切中間三分厚。安瘡頭上。用艾炷於蒜上灸之。每五炷。換蒜再灸。如瘡大有十數頭作一處生者。以蒜搗爛攤患處鋪艾。蒜敗再換。</p>
<p>桂枝加黃耆當歸湯　伯州散　將成膿則宜與此湯兼此散。或合排膿湯。</p>
<p>大柴胡湯　黃連解毒湯　調胃承氣湯　大黃牡丹湯　至十四五日大便秘結。口舌乾燥。或生黑胎。或嗜冷水及瓜果。腹滿譫語者。宜撰用此四方。</p>
<p>當歸芍藥散去澤瀉加參耆湯　黃耆當歸生薑人參湯（方見痘門）　耆歸建中湯　排膿湯　割截之後。與耆歸桂枝合排膿湯。兼用伯州散。若膿稀薄。則與歸芍散去澤瀉加參耆湯兼伯州。餌食雞肉。或耆歸姜參湯加鹿茸。若腐肉難去。只稀膿出。穢氣薰蒸。漸漸腐敗而深陷。脈微弱。身體羸瘦。微惡寒者。上加減歸芍散料加附子。若腐肉已去。膿將盡盜汗出者。耆歸建中或加龍骨。若消渴者。麥門冬湯加五味子栝蔞根。若四肢彎急者。芍藥甘草附子湯等。皆津液枯竭故也。</p>
<p>要訣云。癰疽未潰之際。增寒壯熱。狂言妄語。如見鬼神。膿去已多而大熱不休者。似為難治。蓋毒之得膿。猶傷寒表症之得汗。汗已而反大熱。則為壞傷寒矣。又云出膿過多而羸瘦者。芎歸湯。　方輿凌冬飲。諸腫毒服之。未成者內消。已成者即潰。其方忍冬黃耆各一錢五分。當歸三分。甘草一分。上四味。以水二合。煮取一合。加酒更煎數沸。溫服有奇效云。予未試。華岡氏曰。癰愈後。半年或一年之間。不可食蕎麥麻油。　方輿載敗毒散。及連翹湯。涼膈散。凌冬飲。梓葉湯。櫻皮湯。</p>

<h2>疔瘡</h2>
<p>葛根湯　越婢湯　大青龍湯　面疔初發。急用水蛭三四十枚。令吮血後。宜撰用。上之三方。翌日亦施蜞針。如前日大出血。四五日則大勢已解者也。</p>
<p>黃連解毒湯加連翹犀角　三黃湯加石膏　表熱已去。裡熱者撰用之。</p>
<p>大承氣湯　裡熱甚。舌上黑胎。便秘腹滿。煩悶將死者。</p>
<p>大小柴胡湯　患處化膿後。荏苒寒熱往來者。</p>
<p>加減當歸芍藥散料　膿多出。腐肉盡去。熱漸退。痛減者。宜此湯。</p>
<p>本草引肘後方云。疔腫垂死。菊花一握。搗汁一升。入口即活。此神驗方也。冬月採根。　按試此方。有神驗。菊花實治疔聖藥也。</p>
<p>秘錄云。有紅絲疔者。發於合谷。及掌背。指縫。指節及跗上。指縫指節。初生一點之小瘡。尖圓而如疥癬。四畔微焮腫。紅絲自瘡上起。立走注也。發於掌背者。上攻至肱。發於跗上者。至膝。惡寒發熱也。　治法。針刺紅絲盡處。出血則不上攻而自消也。疔心亦針刺而出血。此症無至死者。　紀聞云。疔發於手足腹背者可治。發於面者危矣。發於人中及口吻者。多死也。　痘疔。針刺而貼破敵人衽。內服柴胡去半夏加栝蔞。連翹大黃湯。或黃蓮解毒湯加犀角。（秘錄）　按千金云。凡療疔腫。皆刺中心至痛。又刺四邊十餘下令血出。又本間氏曰。疔瘡不施針刺刀截之法。則多難救也。實確言也。青洲翁云。患疔者。可嚴禁沐浴。　素問曰。膏粱之變。足生大疔。　按癰疽癤毒亦然。宜淡薄飲食而免此患。</p>

<h2>瘰癧</h2>
<p>翹玄湯（山脅家方）　治蛇盤瘰癧。勁筋凝硬。　連翹（一錢）　玄參　木通（各七分）　升麻　羌活　山梔（各三分）　薰陸　甘草（各二分）　上八味煎服。</p>
<p>夏枯草煎（華岡）　治瘰癧神方。　夏枯草（新鮮者百二十錢）　鯽魚（八十錢去腸胃及穢物）　貝母（八錢銼以填鯽腹紅線縫合）　上三味。先以醇酒二升。漬夏枯草一日一夜。煮取五合。絞去滓。入鯽魚更煮半日許。如膏下火。又去貝母。但食鯽與汁。三日而盡之。若吐血而止服。</p>
<p>瘍科瑣言云。真瘰癧。未變色者。用夏枯草煎二劑。則消散也。應者能食。不應者嘔吐。又云不可用斑蝥礬石等。暝甚者。且有翻花之憂。又云瘰癧與乳岩同物也。　秘錄云。真瘰癧。九死一生。難治。未成膿者。翹玄湯兼用夏枯草煎。此方尤有奇驗。用二三劑。則能消散也。間亦有殘核至小而不全消者。不治亦不為害。用此二方而不消散者。宜令成膿。葛根朮附湯。兼用伯州散。　馬刀癧生於頭。核大橢圓而如馬刀。宜柴胡加石湯。夏枯草煎。不消散者。與葛根加反鼻湯。此症易成膿。不為難治。　黴癧。化膿者。易治。不化膿者。翹玄湯兼用丹霞條。摩擦神水膏。尚不消散者。斷截如施便毒難化膿者之術。斷截後。貼破敵。　結核於頸及頷下。似瘰癧者。頗多。眼病。或咽喉病。或服輕粉。口中腐爛者。或中兔毒者。或痘瘡。麻疹。頭瘡。久咳等。皆成結核。柴胡加石膏湯。有神驗。涼膈加石膏湯亦效。凡瘰癧結核。餌食海藻昆布裙帶菜芊棲菜崑崙菜等。則有消散之效。　一男子下疳愈後。左耳下生結核。大如桃家君與葛根加大黃湯。三十日而半消散。六十日而全愈。</p>
<p>葛根加朮附湯　伯州散　葛根加反鼻湯　柴胡加石膏湯　葛根加大黃湯</p>
<p>千金方云。一切瘰癧。以獨蒜截兩頭留心。大作艾炷稱蒜大小貼癧子灸之。勿令上破肉。但取熱而已。七壯。日易蒜日日灸之。取消止。　方輿輗云。灸瘰癧上良。瘰癧一因氣。一因毒。因氣者。及其潰。只黃汁出。因毒者。稠膿出。大凡稠膿出者。可治。黃汁出者。不治。本草云。夏枯草。治瘰癧之聖藥。然非大劑多服。則不能奏效。又云瘰癧潰爛。土茯苓尤效。　治瘰癧潰爛方。（陸氏）冷飯糰切片或為末。水煎服。或入粥內。食之。須多食為妙。江西所出色白者良。忌鐵器發物。　按景岳全書。土萆薢湯。土茯苓一味也。其主治云。治楊梅瘡。及瘰癧。咽喉惡瘡。癰漏潰爛。筋骨拘攣。疼痛皆妙。</p>
<p>治瘰癧方（千金）　上用白殭蠶。治下篩。水服五分匕。日三服。十日瘥。（聖濟作一錢匕日再服）</p>
<p>又方（千金）　貍頭一枚。炙搗篩。飲服方寸匕。日二。</p>
<p>治瘰癧腫結內消方（聖濟）　海藻（一斤）　上一味。用酒五升。浸數日。食後少少飲酒。</p>
<p>又方（聖濟）　蝸牛殼（不拘多少）　上一味。搗為散。每服二錢匕。空心米飲調下。日再。至四十九日自消。　按聖濟有蝸牛丸。蝸牛半碗。雞蘇半斤也。</p>
<p>治五種瘰癧牡蠣散方（聖濟）　牡蠣（煅研）　連翹（瓦上炒搗各一兩）　上二味為散。每服一錢匕。臨臥酒調下。</p>
<p>治瘰癧內消方（聖濟）　小麥（淘淨）　上一味。煮三五升。頻吃即愈。　按本草癭瘤門云。消癭。小麥醋浸同海藻末酒服。</p>
<p>治瘰癧結聚不散鞕如石（聖濟）　大蒜（三錢搗爛）　麝香（研半錢匕）　上二味。和勻傅於帛上。貼之。一日二易。旋搗最好。</p>
<p>治鼠瘻方（聖濟）　蜣螂（燒存性細研）　用醋調如糊。先以鹽湯洗瘡。塗傅。日再易。</p>
<p>南星膏（醫林）　治皮膚頭面生瘤。或軟或硬不通。　生南星（大者一枚研如膏。無生者乾者為末）</p>
<p>上醋調如膏。先將小針刺令氣透。以膏攤紙上。如瘤大小貼。覺癢則頻易貼。</p>
<p>本草云。鯽魚生搗塗惡核腫毒。不散及瘑瘡。</p>
<p>肘後云。芥子末和醋。塗瘰癧。</p>
<p>青膏　五爪龍細銼。以麻油一升煮之。令黑色。布濾去渣。內蜜蠟八十錢。再煮。以盛陶器。安水中少時。乃成膏。如不成。則更加蜜蠟適宜。再煮之可也。一切瘰癧。貼之速消散也。又貼乳腫痛妙也。松岡玄達翁之試效也云。</p>
<p>妙靈散（朱氏集驗）　治瘰癧。　滑石　上為細末。每服二錢。</p>
<p>單方（同）　治瘰癧破與未破。及膿血淋漓。其效如神。　牡蠣（煅八兩）　甘草（二兩）　上二味勻拌。每服二錢。</p>
<p>病因考云。獨顆者為結核。續連者為瘰癧。此症宜餌食肉物和氣血。能成稠膿而愈。不然則不成膿。只黃汁出難治。浴溫泉。且多灸肩井膏肓身柱曲池等。　說約瘰癧門。家方順氣劑。擇加果苓薏貝桔。或排毒劑。解毒劑。食療果羸餅灸。溫泉。　漫遊雜記。瘰癧。服瀉心湯。兼服再造散。又絲瓜黑燒酒服一錢。日三。（灸法與病因考同）　方輿云。真瘰癧。自氣鬱滯生。又云瘰癧。自胎毒來者。土萆薢湯。兼用玄龜丹。又兼服再造散。初起未甚者。用忍冬花、蒲公英各四五錢。以水二碗煎。朝夕代茶飲之。（多飲有效）　和田氏云。瘰癧。雞肉多食良。灸法。與病因考同。外有肩顒肘髎膝眼。　按後世之方書。瘰癧門。載十六味流氣飲。予弱冠時。一女子患瘰癧。用流氣飲百餘日。無寸效。遂疲勞而死。華岡氏云。真瘰癧。與乳岩。同物也。予意初與夏枯草煎。若不應。則宜翹玄湯。兼服七寶丸。日一二分許。然非久服之。則無效。三因方。瘰癧門。必勝丸方中。有輕粉鯽魚。白花蛇散方內有膩粉。又蘭書以水銀為解凝劑。瘰癧用之。若病人壯實。則薰藥。亦定有效。可試也。</p>
<p>治疣方　川穀　甘草（少）　上水煎多服而妙也。</p>
<p>方輿載夏枯草湯。瞿麥湯。小柴胡湯。逍遙散。土萆薢湯。桔梗解毒湯。再造散。逐毒散。伯州散。</p>

<h2>疥癬臁瘡</h2>
<p>葛根加反鼻湯或加大黃　桂枝加黃耆反鼻湯　濕疥重者。發表後。用此。</p>
<p>六物解毒湯　疥瘡出膿久不已者。土茯苓上品多用有效。（有持）</p>
<p>蓖麻子散　元聖膏　蜞針　按疥瘡初發。香川氏用排毒劑。和田氏用浮萍散。本間氏用五物解毒湯。即四物解毒加荊芥湯也。</p>
<p>病因考疥癬門云。治方土茯苓劑。食雞肉及鼠肉。則能發早愈。禁外傅藥。和田氏云。疥瘡初發用發表之藥。七八日後用解毒劑。　瘍科瑣言云。疥瘡初發。宜發表。多食鼠肉狐肉。即能發也。　行余醫言。疥瘡門云。若用外敷藥愈之。或浴冷泉取速效者。甚則直成暴水脹而死。　證治要訣云。瘡癬疥。此雖皮膚小疾。不足為害。然瘡有惡瘡。癬有頑癬。疥癆噆膚。尤為煩擾。甚至經年累月。不能脫灑。凡病此者。不當專用外傅藥。須內宣其毒可也。　按濕疥重者。初起與葛根加反鼻湯。半月或一月許。時時食雞肉鹿肉等。十分發而後。與桂枝加黃耆反鼻湯。二三月或四五月。膿盡欲愈時。以蓖麻子散擦遍身。只當避頭面及頸腋下肘膝手掌足心陰處肛門邊。凡七日。休息一二日。而入浴桶與六物解毒湯半月許而止。是治濕疥之正法也。如此。則非止愈疥瘡。從來之宿疾。脫然而去。香川氏謂外瘡之發出者。最是喜事亦宜哉。正宗云。夫疥者。微芒之疾也。　發之令人搔手不閒。實煩擾之病也。思早愈之。而勿用七寶梅肉等。內攻而為暴水腫多至死者。慎哉慎哉。疥瘡初起。有可附子者。宜葛根加朮附湯。凡濕疥出膿時盜汗出。故用桂枝加黃耆反鼻湯。又幹疥雖輕者。遠浴。五六月而後。可擦蓖麻子散。決無內攻之患。或與葛根加荊芥湯。又疥瘡漸瘥。手足處處結聚。而出膿者。宜貼元聖膏於瘡上。或施蜞針妙也。　頑癬初起。未蔓延時。貼元聖膏於瘡上。後施蜞針。或亂刺去惡血。內服葛根加大黃湯。　臁瘡者。施蜞針。又貼元聖膏。或亂刺而出血。內服葛根加大黃湯。　按香川氏謂疥癬臁瘡及腎囊風。禁外敷速愈藥。並溫泉者。確言也。予往往見犯此禁而死者。可慎。　方輿載浮萍散。及苦參一味湯。四順湯。再造散。治臁瘡楊梅皮湯。</p>
<p>（堀留）和泉屋清助妻。年五十。頭上悉生小瘡。膿汁凝固。成痂不得梳者。一年。醫二三輩。療之不愈。請予。予與葛根加大黃湯。以剪刀除去百會穴處膿汁凝固成痂者。徑三寸。貼元生膏。日取毒水。六七日。糜爛處。施蜞針十餘枚。去惡血。復施元生蜞針。如前三次。則膿汁盡。落痂一月而全愈。此症元生之功大。</p>

<h2>痔（脫肛）</h2>
<p>當歸芍藥散加人參地黃湯　芎歸膠艾加三七湯　瀉心湯　斷截痔漏腸痔。則宜用加味歸芍散料。若出血過多。則用膠艾加三七湯。三七廣東人參也。</p>
<p>桂枝茯苓丸料合瀉心湯　桂茯丸料合黃連解毒湯　腸痔。脫肛痔。與桂茯瀉心合方。又內痔不宜大黃劑者。與桂茯解毒合方。脫肛痔陽症。大腫而疼痛者。用桂茯瀉心合方。腫上施蜞針而出血。屢試屢效。（本事方續集論脫肛痔）</p>
<p>桃花湯（傷寒論）　脫肛痔陰症。無疼痛　焮腫之患。平生只有便信。屢如廁。裡急後重。而大便不通。唯脫肛。脫肛則便信暫止。歸則復如廁。一日數行。漸漸脫肛長大。後每度下血。面色萎黃。宜此湯。或云柴胡去半夏加耆歸升麻赤石脂湯。神驗。</p>
<p>芎歸膠艾湯　黃連解毒湯　紅礬丸（家方）　脈痔者無痛。下血一次一二合。或三四合。俗稱波志利痔。宜撰用此二湯。虛里動高者。兼用紅礬丸。又有世俗稱切痔及裂痔者。此亦大便交點血者也。酒客多此症。大便則痛甚。肛門破裂也。不宜大黃劑。宜桂茯解毒合方。或歸芍散解毒合方。且灸長強。每日一百壯。</p>
<p>大黃牡丹皮湯　內痔。無腸內破裂。但痛甚者。催痔漏之兆也。宜與此湯。雄黃薰（金匱）　苦參湯（金匱）　患痔人。肛門生蟲。謂之蟲痔。宜撰用此二方。苦參湯金匱不載方。金鑑載之。苦參一升。以水一斗。煎取七升。去滓。熏洗。日三。</p>
<p>六物解毒湯　七寶丸　黴痔用此二方。（看法詳於本書）</p>
<p>蜞針　脫肛痔及牡痔。施之有效。予素有牡痔。發則以水蛭八九枚。令咂患處。不愈。則次日亦施之。即愈。</p>
<p>辰砂膏（家方）　治一切痔痛。　椰子油　辰砂　上二味。冬時直合和攤於綿片。貼之。夏時加黃蠟適宜。內痔入此膏於肛門內。</p>
<p>治痔方（千金）　以蒲黃水服方寸匕。日三。（外臺云治痔疾每大便常有血者）</p>
<p>治五痔小香連丸方（聖濟）　黃連（麩炒焦黃色）　上一味為末。以雞子清和。丸梧子大。每服十五丸。溫酒下十服取效。</p>
<p>治血痔地榆散（聖濟）　地榆（銼）　上一味。搗羅為散。每服二錢匕。飯飲調下。日三服。</p>
<p>和田氏云。一切痔疾。除脫肛皆金鈴散有效。兼用於解毒劑等可也。（金鈴散牽牛子一味也）　病因考云。今之下血者。多痔也。內痔痛甚者。後為漏也。又云。脫肛痔中之一症也。痔不下血者。灸腰眼八髎。脫肛者。宜餌食大牢及兔雞卵。說約。痔漏脫肛門。家方解毒劑馬膏。或熊膽豬脂之類點之。肛脫者塗之。以綿推入。　食療。鱉肉、牛肉、雞肉、雞卵。　灸。溫泉、兔肉。</p>
<p>治痔方（千金）　塗熊膽取瘥止。神良。一切方皆不及此。</p>
<p>鮒魚泥　治痔痛　鮒魚去鱗腸為泥。塗痛處。</p>
<p>治痔痛　蝸牛四五十頭。以麻油煮。以為膏為度（沼氏蝸牛霜傅之）</p>
<p>蟲痔坐藥　胡粉水銀各等分。調和。綿裹。夜臥入穀道中。</p>
<p>肛門癢不可忍。殆似蟲痔者。半夏末和薑汁。先洗肛門後塗之。即愈。（上四方武田氏秘錄）</p>
<p>治痔疾下部發腫。痛不能行者。（聖濟）半夏　研令極細。入龍腦少許。同研。用津唾調。攤軟紙上貼之。良久有水出。漸消矣。</p>
<p>久冷五痔便。灸脊中百壯。　五痔便血失屎。灸回氣百壯。穴在脊窮骨上。（千金）</p>
<p>南陽云。痔疾下血。及久下血。用人參湯加茯苓。得大效。正宗痔漏下血。用加味四君子湯。醫說。腸澼用人參散。取奇效。皆同意也。又云痔灸長強八髎。</p>
<p>治脫肛（一醫秘方）　傷寒論桃花湯。赤石脂禹餘糧湯。二方合和。糊丸服。赤石脂醋製。此方小兒最有效。</p>
<p>又方（直指方）　慈石半兩。火煅醋淬七次。為末。每服一錢。</p>
<p>又方（千金）　以鱉頭炙研。米飲服方寸匕。日二服。</p>
<p>治脫肛歷年不愈（千金）　鱉頭一枚。燒令煙絕。治作屑以傅肛門上。進以手按之。　有持云。鱉頭。內服外傅皆妙。</p>
<p>又方（千金）　蒲黃二兩。以豬脂和傅肛上內之。二三度即愈。</p>
<p>脫肛藥餌方　雞一頭。去羽腸。以牛黃六分。黑豆三合。入腹內縫。以香酒三升煮之。以摘鑷拔出骨為度。七日食。</p>
<p>一小兒三歲。痢後脫肛四寸。動則肛觸衣而痛。日夜號泣。里醫療之不愈。經半年。予以陳壁土五倍子。煎汁。洗之。傅五倍子末。與柴胡去半夏加耆歸升麻赤石脂湯。七日而半收。十五日而全愈。</p>
<p>灸法（千金）　病寒冷脫肛出。灸臍中隨年壯。　脫肛歷年不愈。灸橫骨百壯。　又灸龜尾百壯（龜尾即後窮骨是也）</p>
<p>方輿載四物解毒湯。凌冬飲。排膿散。單牽牛散。再造散。輕粉丸。</p>

<h2>卒死</h2>
<p>備急丸　走馬湯　還魂湯（金匱）　救卒死。客忤死。　麻黃（四兩）　桂枝（二兩）　甘草（一兩）　杏仁（七十個）　上四味。以水八升。煮取三升。去滓。分令咽之。通治諸感忤。（千金方云。主卒忤。鬼擊飛屍。諸奄忽氣絕。無復覺。或已無脈。口禁不開。去齒下湯。湯入口不下者。分病人發左右足踏肩。引之藥下。復增取一升。須臾立蘇。）　按還魂湯。千金方。及翼。外臺。有桂枝二兩。肘後。千金翼。皆用麻黃四兩。今從之。金鑑云。便閉裡實者。用備急丸。無汗表實者。用還魂湯。予意麻黃分量多。而加桂枝者。徹表有力。故用之。或曰。然則稱麻黃湯可也。予答曰。麻黃湯麻黃三兩。此湯麻黃四兩。所以有還魂之名也。</p>
<p>救卒死方（金匱）　吹皂莢末鼻中。</p>
<p>又方（金匱）　灸心下一寸。臍上三寸。臍下四寸。各一百壯差。</p>
<p>又方（肘後）　灸臍中百壯。又方令人痛。爪其人之人中取醒。</p>
<p>千金翼卒死門。治卒忤方。　灸人中三十壯。又灸肩井百壯。</p>
<p>療卒死而口噤不開者。（外臺）縛兩手大拇指。灸兩白肉中二十壯。</p>
<p>驚怖卒死（本草）　溫酒灌之即醒。</p>
<p>入浴暈倒（本朝經驗）　以冷水噀面。及澆周身。苦酒一升。灌口鼻中。</p>
<p>療入井塚悶冒方（本朝經驗）　急解患人衣。偃臥濕地上以醋噀其面。蓋以草荐半時許。即蘇。　沼氏云。生薑一兩。酒煎頓服。</p>
<p>按偶欲入舊井及土室土窖。則當試下燈火於其中。其火乍滅。則忽急入焉。入則忽中惡氣而死。縱不死必病矣。宜灌醋二三升於其中。飲食酒飯。而後徐徐入焉。</p>
<p>療五絕方（千金）　夫五絕者。一曰自縊。二曰牆壁壓迮。三曰溺水。四曰魘寐。五曰產乳絕。皆取半夏一兩。細下篩。吹一大豆許。內鼻中即活。心下溫者。一日亦可活。（案本草綱目以縊死溺死壓死凍死驚死為五絕。亦主此方。）</p>
<p>救自縊死法。在金匱略之。</p>
<p>又方（千金）　皂莢細辛末吹兩鼻中。</p>
<p>又方（千金）　凡救自縊死者。極須按定其心勿截繩。手抱起。徐徐解之。心下尚溫者。以氍毹覆口鼻。兩人吹其兩耳。</p>
<p>又方（千金）　強臥以物塞兩耳竹筒內口中。使兩人痛吹之。塞口傍無令氣得出。半日死人即噫噫。即勿吹也。</p>
<p>又方（千金）　藍青汁灌之。</p>
<p>原體集施金匱之法。灸湧泉。瘍醫大全云。必須心口尚溫。大便未下。舌未伸出者。救治。</p>
<p>沼氏云。肛門出糞者難治。或云縊死。人中溫。而肉柔軟者。施拳家之活法。則蘇。若人中肉堅硬者不治。</p>
<p>救壓死法（三因）　以死人安著。將手袖掩其口鼻眼上。一食頃活。眼開與熱小便。若初覺氣絕而不能言。可急劈口開以熱小便灌之。打撲者亦用此。</p>
<p>按奇效單方云。心頭溫者。急扶起將手提其發。用半夏末吹入鼻內。少蘇。以薑汁同香油打勻灌之。</p>
<p>救溺死法（千金）　屈兩腳著生人兩肩上。死人背向生人背即負持走行。吐出水便活。</p>
<p>又方（千金）　解死人衣灸臍中。凡落水經一宿猶可活。</p>
<p>或云蘇後。灸臍中二三百壯。水死人忌烈火。寒氣內攻而至死。</p>
<p>方輿云。或曰溺死。肛門未翻者。以釅醋灌之。吐水而愈。</p>
<p>一貫云。溺死令服酢。五六合至一升。又云溺死。腹著背者。肛門翻者。足小指不動者。不治。</p>
<p>按千金落水死條云。酢灌鼻。又本朝經驗。用熱醋一碗奇效。原體集云。水溺之人。夏月可救。冬天難救。冬天醒後。宜少飲溫酒。夏天甦醒後。宜少飲粥湯。又五絕療法云。溺死若五孔有血者。不活。　有持云。溺死宜按揉其腹。令吐水。</p>
<p>救魘死法（肘後）　臥忽不寤。勿以火照之殺人。但痛齧其腳踵及足拇指甲際。而多唾其面則覺也。</p>
<p>又皂莢末吹兩鼻。</p>
<p>又以蘆管吹兩耳。</p>
<p>又方（千金翼）　灸兩足大指聚毛中二十一壯。</p>
<p>救凍死法（本草）　冬月凍死。略有氣者。炒灶灰包熨心上。冷即換。待氣回。少與酒粥。不可近火。即死。　灸神闕。氣海。關元十五壯。</p>
<p>肘後方云。凡卒死。中惡。及屍蹶。皆天地及人身。自然陰陽之氣。忽有乖離否隔。上下不通偏竭所致。故雖涉死境。猶可治而生。緣氣未都竭也。　甲乙經曰。屍蹶者。死不知人。脈動如故。</p>

<h2>癩</h2>
<p>大承氣湯　大黃牡丹皮湯　七寶丸　瓜蒂散　紫丸　蜞針　元生膏　針</p>
<p>神秘丸（龜井氏）　治天刑病。　大楓子（五十錢）　荊芥　大黃　蘗皮　櫻皮（燒存性。各三錢）　苦辛　爐甘石（各五錢）　壺蘆（燒存性一錢五分）　上八味。細末糊丸。梧子大。每服一錢。白湯送下。日三。服之十日。其夜臨臥。酒服芎黃散一錢。至十一日早天。服紫丸。強人五分。羸者二分。白湯送下。輕者一劑。劇者二三劑得愈。禁酒生冷魚鳥房事。</p>
<p>松香散　松葉散</p>
<p>千金方惡疾門云。有諸處不異好人。而四肢腹背有頑處。又云。有直置頑鈍。不知痛癢者。　按後世所謂死肌也。此病口眼喎斜者。疑似於中風。發惡瘡者。疑似於黴瘡脫疽等。雖然余病者。無死肌。此病必有死肌。試刺針五分或一寸。更不覺痛也。癩病初發難決者。宜先試刺針有死肌否。而決嫌疑也。　張會卿曰。癘瘍砭刺之法。子和張先生。謂一汗抵千針。蓋以砭血不如發汗之周遍也。然發汗即出血。出血即發汗。二者一律。又曰若惡血凝滯在肌表經絡者。宜刺宜汗。若惡毒蘊結於臟腑。非盪滌其內。則不能痊。若毒在外。非砭刺遍身患所。及兩臂腿腕。兩手足指縫出血。其毒必不能散。（全書廿四）　本草綱目水萍條。發明。頌曰。治惡疾癘瘡遍身者。濃煮汁浴半日多效。此方甚奇古也。　方輿輗云。此方癘疾陽症者。試之三五日而有奇效。入浮萍一斤於尋常浴桶中。濃煮而浴之。日三四度。則不溫覆而汗自出。內服浮萍散。又云在陽者。禁酒肉。斷房事。盡其治則可全愈。但陰症合谷肉脫者。決不治也。　秘錄云。素問並諸方書。論癘之病因而云。受不正之風而發。予意不然。不慎飲食。縱食禽獸諸肉及叔鮪𩶾𩸫魚鰮等。自然生敗血。作諸瘡瘍之病因也。其中敗血凝滯。劇者遂作癘風也。雖自發者起於此因。然傳父母之血脈而患者尤多。　千金方云。余以貞觀年中。將一病士。入山教服松脂。欲至百日。鬚眉皆生。由此觀之。惟須求之於己。不可一仰醫藥者也。又云一遇斯疾。即須斷鹽。常進松脂。一切公私物務。釋然皆棄。猶如脫屣。凡百口味特須斷除。漸漸斷谷。不交俗事。絕乎慶弔。幽隱岩谷。周年乃瘥。瘥後終身慎房事。犯之還發。又云神仙傳。有數十人。皆因惡疾而致仙道。何者。皆由割棄塵累。懷穎陽之風。所以非止瘥病。乃因禍而取福也。</p>
<p>治惡疾方（千金）　煉松脂投冷水中。二十遍。蜜丸服二丸。遇飢即服之。日三。</p>
<p>鼻柱斷離者。二百日服之。瘥。斷鹽及雜食房室。</p>
<p>仙人治癩病神驗方（千金翼）　取松葉不問多少。煮三五遍。令苦吐盡。暴乾搗末。如面。先食。服二方寸匕。日三。漸增之。或可至四兩。隨人多少至一斤。飢即服之。能愈萬病。又益壽延年。殺三蟲食人五藏。動發若病難忍。四肢重不仁。婦人產後余疾。月水往來不得續。男女少者。藥悉主之。　本草有服食辟穀方。其文云。千金方。用松脂十斤。以桑薪灰汁一石煮五七沸。漉出冷水中。旋覆煮之。凡十遍乃白。細研為散。每服一二錢。粥飲調下。日三服。服至十兩以上不飢。飢再服之。一年以後。夜視目明。久服延年益壽。　按凡治癩。四月至八月。為佳時。輕者用神秘及芎黃紫丸如法。施蜞針或鈹針於赤斑及瘀血處。取血三日一次。如此二月許而愈。後久服松葉散等。益佳。尤禁酒肉房事。全愈後。亦三年禁之。是治陽症輕者之法也。稍重者。多不得全愈者。縱偶得全愈。非終身禁酒肉房事。則病必再發。而不得為久完人。須決意為木食也。為木食則病必不再發矣。　我邦自古儒佛之道。並行修行。而效浮屠氏之徒。則世人信仰之如鬼神。孫氏所謂因禍而取福者也。　方輿載浮萍加大黃湯。通聖湯。再造散。逍遙湯。</p>

<h2>附錄</h2>
<p>家方</p>
<p>養正丹（和劑）　水銀　硫黃（研細）　硃砂（研細）　黑錫（去滓淨與水銀結砂子各一兩）　上用黑盞一隻。火上熔黑錫成汁。次下水銀。以柳杖子攪勻。次下硃砂。攪令不見星子。放下。少時方入硫黃末。急攪成汁。和勻如焰。以醋灑之。候冷取出研細。糯米粉煮糊丸。如綠豆大。每服二十丸。加至三十丸。食前鹽湯棗湯任下。</p>
<p>靈砂丹（同）　水銀（一斤）　硫黃（四兩）　上二味。新銚內炒成砂子。入水火鼎煅煉為末。糯米糊丸。如麻子大。每服三丸。空心棗湯米飲井花水人參湯任下。量病輕重。增至五七丸。忌豬羊血綠豆粉冷滑之物。</p>
<p>治嘔吐軟紅丸方（聖濟）　丹砂（研）　砒霜（研各半錢）　胭脂（一錢）　巴豆（七粒取霜）　上四味研細。熔蠟少許。入油三兩。滴和藥為劑。以油單裹之。大人旋丸如綠豆大。小兒如芥子。濃煎槐花甘草湯。放溫。下一丸。勿熱食。半時久。</p>
<p>通經丸（本事方）　治經閉。　桂枝　青皮　大黃　山椒　莪朮　乾薑　川烏頭　當歸　乾漆　桃仁（各等分）　上十味為末。老米糊和醋丸。梧子大。每服二十丸。空心溫酒服。</p>
<p>解毒劑　療黴瘡。便毒。下疳。結毒。發漏。筋骨疼痛諸壞症。及癬。臁瘡。諸惡瘡。膿淋。　茯　通草　忍冬（大）　芎　大黃（中）　甘草（少）　上水二合。煮取一合。內土茯五錢則水四合。煮取二合。加減法。土茯、樸樕、萍蓬根、牽牛子、升麻、枳實。隨症出入。弱人。或泄瀉家。方中將代枳。大便秘結。或骨痛甚者。須用將。咽喉痛加桔。膿淋。或有水氣者。加芣苡。有水銀輕粉毒用土茯苓最可也。</p>
<p>敗毒劑　治痛痹風毒。瘟疫類。一切眼疾。咽喉痛。瘡腫。疥癬。　茯　獨活（大）　桔芎（中）　枳　柴（小或代升）　甘（小）　生薑（五分）　上水二合煮取一合。加減法。痛痹防風、通草、忍冬、桂、附子。隨症出入。足痛加牛膝。骨節痛甚加將。咽喉痛。桔為主。眼疾血多加梔蘗菊類。痛甚加將羔。風眼加倍升結。毒眼加將。</p>
<p>狗咬寬中丸　青黛　百草霜（各三錢）　檳榔　木鱉　番木鱉　黑牽牛　杏仁　芩　連　大黃　雄黃　鐵粉（各一錢）　巴豆（四十粒）　上為末糊丸。大人三十丸。小兒十丸。白湯下。（合十三味）</p>
<p>元生丸（家方）　主治經閉。天刑。淋疾。水腫。風犬傷。瘰癧。馬刀。不問新久。或已潰成漏。深久不瘥。或癰疔便毒。一切頑瘡。風濕流注。腳膝引痛。頭面發塊。或生瘡。或中風。手足不仁。婦人帶下赤白。或陰處糜爛等症。　芫菁　桂　茯　芍　桃仁　牡丹　大黃（各五分）　甘草（二分）　上八味糊丸。每服一分。砂糖湯送下。</p>
<p>救喘丸（同）　治喘咳倚息不得臥者。　淡豆豉（十錢蒸搗如泥）　枯白礬（三錢）　礜石（一錢）　上三味丸綠豆大。冷水。或沙糖湯。送下七丸。甚者加至十餘丸。忌食熱物等。若服後腹滿者。用瀉心大柴胡之類下之。或礜石代砒霜。砒霜則夜間露七夜。收研細。</p>
<p>苓消丸（同）　消石（十錢）　茯苓（四錢）　上為末糊丸。梧子大。每服三五十丸。以木防己去石膏加茯苓煎湯下。患水腫病人。嫌消石之苦烈者。用之佳。近來此丸代單霸王鹽丸。有神驗。名桓文丸。</p>
<p>元生膏（同）　馬知利膏（十錢）　芫青末（新者二錢）</p>
<p>制鐵粉法</p>
<p>鐵粉（一升）　鹽（八勺）　以鐵粉入器中合鹽攪。日曝乾。以匕攪日五六次。三四日而入土器。以炭火熬之二時余。以變紫色為度。制鐵鏽亦佳。</p>
<p>方輿所載後世方</p>
<p>六物敗毒散（一閒齋）　羌　桔　芎　甘　升麻　大黃　上以水二合。煮取一合。　方輿煮法如此。下皆仿之。</p>
<p>連翹湯　治傷寒熱毒。變作赤色。癰疽。丹疹。腫毒。及眼赤痛。生障翳。悉主之。（自小品漏蘆連翹湯來）　翹　芩　芎　甘　麻黃　升麻（各四分）　枳實　大黃（各六分）　上八味。熱盛者加芒硝。</p>
<p>牛蒡芩連湯（見方匯）　香需飲（同）　生脈散（同）</p>
<p>消暑湯　治中暑嘔而煩渴者。　即小半夏加茯苓。加石膏甘草。</p>
<p>良薑吳茱萸湯　治大吐大瀉後。轉筋甚者。吳茱、木瓜、食鹽、三味等分。同炒焦煎服。</p>
<p>柴胡鱉甲湯（方見癥瘕）　肘後療諸瘧方　鱉甲（三兩炙）　上一味搗末。酒服方寸匕。至發時令服三服。兼用灸。無不斷者。</p>
<p>一方（談野翁試驗方）　常山檳榔甘（各三錢）　黑豆（百粒）　上四味。水煎服。</p>
<p>河間芍藥湯（方匯本方芍藥湯也）　參連湯（丹溪）　嘔吐全不食者。謂之噤口。胃火甚也。用此方。濃煎。終日細細呷之。如吐再服。但一呷。咽即開。</p>
<p>蘗皮湯（外臺）　療熱病久下利。　膿血方　黃蘗（三兩）　梔子（二十枚）　黃連（四兩）　阿膠（二兩）　上四味。</p>
<p>千金駐車丸　治大冷洞利腸滑。下赤白如魚腦。日夜無節度。腹痛不可堪忍者。</p>
<p>如神丸　木香　黃連　阿片（各二錢）　乳香　沒藥（各一錢）　沉香（五分）　上六味為末。糊丸。綠豆大。辰砂為衣。每服一丸。冷水送下。日三。</p>
<p>無憂散（子和）　黃耆　木通　陳皮　桑白皮（各一錢）　胡椒　術　木香（各半錢）　牽牛頭末（四錢）　上八味為末。每服一錢。以生薑自然汁。調下。治疝及留飲帶下。（紀聞）</p>
<p>當歸湯（外臺）　療三十年下利。　止諸痛方　當歸（一兩）　生薑（八兩）　大棗（二十枚）　上三味。以水四升。煮取一升半。分作三服。不差。後作之。</p>
<p>錢氏白朮散（見方匯）　紫散　下利後重。不下膿血者。　檳榔　厚朴（各三十錢）　桔梗　水莎　葛根（各二十錢）　枳實　桂　蓬朮（各十錢）　上八味末用。煎服亦得。</p>
<p>楊起簡便方云。肚腹微微作痛罷。即瀉。瀉亦不多。日夜數行者。用蕎麥麵。一味作飯。連食三四次。即愈。　疝瀉久不止者效。泄瀉經驗方（景岳）　糯米一升。洗干。炒末。入山藥一兩。每日用半盞。入砂糖二匙。川椒末少許。以極滾湯調食。　久泄食不進者效。</p>
<p>調中湯（局方）　治產後久泄（紀聞）　甘　歸　桂　芍　芎　附子　良薑　上七味。</p>
<p>枳實大黃湯（即小承氣湯加檳榔甘草）　平胃散（見方匯）　桂枝藿香湯　桂　藿　木香　宿砂　吳茱　莪朮　甘　七味。</p>
<p>養脾湯　理中湯加茯苓宿砂麥芽薑棗。平生虛弱之人。飲食易傷用之。（紀聞。）</p>
<p>千金吳茱萸湯　傷寒論吳茱萸湯加半夏桂枝甘草。</p>
<p>安廩湯　一帆青　茯苓（各二錢）　上二味。水煎溫服。四五日。下利為知。</p>
<p>療胃反大驗方　前胡　生薑（各四兩）　阿膠（一兩）　大麻子仁　吳茱（各五合）　桂（三寸）　甘（五寸）　棗（十枚）　上八味以酒二升。水三升。煮取一升七合。分再服。</p>
<p>破棺湯　治膈噎。　桃仁　杏仁　桑白　上三味。水煎溫服。</p>
<p>一方　治嘔吐。　水莎　良薑　木香　烏梅　乾薑　丁香　六味。</p>
<p>獨參湯　治反胃嘔吐喘促。粥湯入胃即吐（張介賓）</p>
<p>單香薷湯（肘後）　郁李仁湯　治心腹滿。大小便不通。氣急喘息者。腳氣腫滿。發此證亦效。　郁李仁　杏仁　橘皮　茯　檳　桑白。　六味</p>
<p>紫蘇子湯　面腫氣急者。（見腳氣）</p>
<p>濟生腎氣丸（八味丸加車前子牛膝）　麻子湯　治遍身流腫（千金方）　麻子（五升）　赤小豆（三升）　商陸（一升）　防風（三兩）　附子（一兩）　上五味。先搗麻子令熟。以水三斗。煮麻子。取一斗三升。去渣。內藥及豆。煮取四升。去渣。食豆飲汁。</p>
<p>麻子小豆湯　服桃花已渴者。　大麻子（一合熬令黃香搗研以水搦取汁一合）　赤小豆（一合以水二合煮取一合）　上二汁相和。上火三五沸服之。此千金療水氣遍身洪腫。百藥不愈。待死者方。</p>
<p>連翹湯（方見瘟）　治瘡疥內攻腫。</p>
<p>赤小豆湯（山脅）　赤豆（五錢）　商陸　生薑（各一錢）　麻黃（七分）　連翹（五分）　桂（二分）　大黃（三分）　上七味。以水三合。先煮小豆。減一合。內諸藥。煮取一合。日二劑。或三劑。加犀角。或反鼻。亦佳。</p>
<p>防己散　治妊孕腫滿。喘促小便不利。　防己（一錢）　桑白　茯　紫蘇（各二錢）　木香（五錢）　姜　煎服。</p>
<p>琥珀湯　治產後水腫。　琥珀　術　茯　桂　豬　澤　反鼻　上七味。以水一合。冬瓜汁一合。合煮取一合。</p>
<p>瓜子仁湯（方見腸癰）　實脾飲（見方匯）　赤小豆藥（本草）　赤小豆（五合一錢）　大蒜（一顆七分）　生薑（五錢一錢五分）　商陸根（一條一錢五分）　上並碎破。同水煮爛去藥。空心食豆。旋旋啜汁令盡。腫立消。</p>
<p>二神丸　治水腫鼓脹及腳氣。甘遂（擇新近者）　大黃（各等分）　上二味。為末糊丸。桐子大。每服五分。或一錢。溫水送下。</p>
<p>瓜子仁湯（主治見鼓脹）　分消湯（見方匯）　壯原湯（同）　半夏湯（外臺）　主腹內左肋痃癖。硬急。氣滿不能食。胸背痛者。　夏　桔　枳實　前胡　吳茱　鱉甲（各三分）　檳榔（二錢五分）　生薑（四分）　人參（一分）　九味。</p>
<p>牡蠣奔豚湯（小品）　療奔豚氣從少腹起。撞胸。手足逆冷。　李根（一錢六分）　桂（八分）　牡蠣　甘（各三分）　上四味。</p>
<p>瀉脾湯（千金）　主脾藏病氣實。胸中滿。不能食。　茯　樸（各七分半）　夏　桂　生薑（各九分）　芩　甘（各四分）　人參（三分）　八味常用。加龍骨牡蠣。或加石膏。</p>
<p>療腹中痃氣。連心以來相引痛。緊急方。（外臺）　術　枳實（各三兩）　柴胡（四兩）　鱉甲（二兩）　上四味。</p>
<p>寬中湯　芍（一錢二分）　桂　生薑（各六分）　樸　甘　棗　枳實（各四分）　七味。</p>
<p>當歸大黃湯（外臺）　歸　芍　桂　乾薑　茱萸　參　甘　大黃　上八味。疝痛從肋骨邊。至背及肩者效。</p>
<p>桂心湯（集驗）　療寒疝氣來往。衝心腹痛。　桂（四兩）　生薑（三兩）　吳茱（二兩）　上三味切。以酒一大升。煎至三合。去滓。分溫三服。</p>
<p>蜀椒湯（小品）　主寒疝氣。心痛如刺。繞臍腹中盡痛。自汗出欲絕。　蜀椒（二百枚）　附子（一枚炮）　粳米（半升）　乾薑（半兩）　半夏（十二枚）　大棗（二十枚）　甘草（一兩）　上七味。以水七升。煮取三升。澄清。熱服一升。</p>
<p>烏梅丸（奧村）　治蛔厥。　烏梅（三十個）　椒（四錢）　乾薑（十錢）　黃連（十六錢）　附子（三錢）　上五味為末。蜜丸。</p>
<p>檳榔鶴蝨散　療諸蟲心腹痛（外臺）　歸　芍　桔　橘　桂　參　檳榔　鶴蝨　上八味。</p>
<p>椒梅湯　諸蟲作痛。口中清涎流出。湯飲不進。危在旦夕者。　烏梅　蜀椒　生薑　煎服。</p>
<p>將軍湯　治精神不守。言語錯亂。妄見妄言。少臥少飢。狂走不常者。　大黃一味。水煎無時服之。</p>
<p>參連湯　治諸氣疾。衝心直視煩悶。或吐血不止者。</p>
<p>參　連（各五分或一錢）　上二味水煎。加熊膽汁。名熊參湯。</p>
<p>風引湯　除熱癰癇。　大黃　乾薑　龍骨（各四兩）　桂（三兩）　甘　牡蠣（各二兩）　寒水石　滑石　赤石脂　白石脂　紫石英　石膏（各六兩）　上十二味。杵粗篩。以韋囊盛之。取三指撮。井花水三升。煮三沸。溫服一升。（治大人風引。少小驚癇。瘛瘲日數十發。醫所不療除熱方。巢氏云。腳氣宜風引湯。）</p>
<p>防己地黃湯　治病如狂狀。妄行獨語不休。無寒熱。其脈浮。　防己（一錢）　桂枝　防風（各三錢）　甘草（二錢）　上四味。以酒一杯。浸之一宿。絞取汁。生地黃二斤。㕮咀蒸之。如斗米飯久。以銅器盛其汁。更絞地黃汁。和分再服。</p>
<p>酸棗湯（千金）　治虛勞煩擾。奔氣在胸中。不得眠。　酸棗（五升）　參　桂　生薑（各二兩）　石膏（四兩）　茯　知母（各三兩）　甘（一兩半）</p>
<p>歸脾湯　治健忘怔忡驚悸不寐者。（見方匯）</p>
<p>流水丸（見勞病）　久病不寐者。效。</p>
<p>單苦參丸　發狂用將軍瀉心類大勢解而後用此。</p>
<p>調中湯（古今錄驗）　療虛勞補益氣力方。　麥門　茯　甘　桂　歸　芍（各五分）　棗（一錢）　七味。</p>
<p>柴苓枳朮湯（外臺）　療痃癖氣。壯熱兼咳。久為骨蒸驗方。　柴（八分）　茯　術　枳實（炙各六分）　積熱不歇。即加芒硝取利。</p>
<p>逍遙散（見方匯）　五蒸湯（古今錄驗）　石膏（一錢）　竹葉（八分）　茯　地　葛根（各六分）　參　芩　知母（各四分）　粳米（二分半）　甘（二分）　上十味。</p>
<p>竹葉飲　療骨蒸。唇乾口燥。欲得飲水。止渴方。　竹葉（一握）　麥門　夏（各一升）　大棗（二十枚）　甘　生薑（各三兩）　粳米（五合）　七味。</p>
<p>流水湯（小品）　主虛煩不得眠方。　夏（二分）　米（一錢二分）　茯（四分　或加生薑四分）</p>
<p>地黃煎丸（方見後）　虛勞羸瘦。腹滿。不能飲食。內有乾血。肌膚甲錯。兩目黯黑者。</p>
<p>甲子丸　治勞嗽方。　五味　地骨皮（各二兩）　鱉甲（三兩）　上三味為末。煉蜜丸。如桐子大。空心溫酒。或鹽湯。任意服三五十丸。</p>
<p>大武丸　治證同前（下利者尤佳）　干牛肉（朝鮮產）　薯蕷　蓮肉　茯苓　小茴香（各十五錢）　上五味為末。棗肉搗膏。入好酒和丸。梧子大。曬乾。空心酒下。</p>
<p>獺肝丸　治勞瘵方　獺肝炙乾為末。糊丸桐子大。白湯送下。</p>
<p>四順散（陳實功）　治肺癰吐膿。五心煩熱。壅悶咳嗽氣急不能安。　貝母　紫苑　桔（各八分）　甘　杏仁（各四分）　為湯或為末服。</p>
<p>桔梗湯（古今錄驗）　療肺癰經時不差方。　桔　術　歸　地　甘　敗醬　薏苡　桑白　上八味。以水四合。煮大豆半合。取二合汁。去豆。內清酒半合余。合諸藥煮之。</p>
<p>黃昏湯（千金）　療咳有微熱。煩滿。胸心甲錯。是為肺癰方。　黃昏（手掌大一枚）　上一味煎服。</p>
<p>一方（壽世保元）　治婦人腹痛如錐剜。每痛至死。不敢著手。此腸癰毒也。　山甲　白芷　貝母　殭蠶　大黃　上煎服。打下膿血。自小便中出。即愈。</p>
<p>犀角地黃湯　治傷寒。及溫病。應發汗而不汗之。內畜血者。及鼻衄吐血不盡。內余瘀血。大便黑。面黃消瘀血方　犀角（一兩）　地（八兩）　芍（三兩）　牡丹（二兩）　上以水九升。煮取三升。分三服。喜忘如狂者。加大黃二兩。黃芩三兩。其人脈大來遲。腹不滿自言滿者。為無熱。但依方不須有所增加。（千金）　</p>
<p>獨參湯　吐衄甚。欲絕。脈沉。手足逆冷者。</p>
<p>射干麻黃湯　咳而上氣。喉中如水雞聲。　夏　五味（各六分）　麻　生薑（各四分）　射干　細辛　紫苑　款冬花（各三分）　棗（一分半）</p>
<p>厚朴麻黃湯　咳而大逆上氣。胸滿。喉中不利。如水雞聲。脈浮者。　樸（五兩）　麻（四兩）　石膏（如雞子大）　乾薑　細辛（各二兩）　夏　五味子　杏仁（各半升）　小麥（一升）　上九味。以水一斗二升。先煮小麥熟。去滓。內諸藥。煮取三升。溫服一升。日三服。</p>
<p>澤漆湯　上氣脈沉者　夏（半升）　澤漆（三斤以東流水五斗煮取一斗五升）　紫苑　生薑　白前（各五兩）　甘　芩　參　桂（各三兩）　上九味㕮咀。內澤漆汁中。煮取五升。溫服五合。至夜盡。</p>
<p>清肺湯　咳嗽用小青龍加石膏不已。將成勞嗽者。（紀聞）</p>
<p>百合知母湯　疫邪解後。咳嗽喝喝。巨里動悸者。　百合　知母　上二味。</p>
<p>獨聖散（子和）　夫富貴之人。一切涎漱。是飲食厚味。熱痰之致然也。先用獨聖散。吐之。</p>
<p>三拗湯（見方匯）　四君子湯（見方匯）　千緡湯（見方匯）　治喘者。</p>
<p>倒換散（宣明論）　治癃閉。大小便不通。小腹急痛。肛門腫痛。　大黃（小便不通減半）　荊芥（大便不通減半）　上為末。每服二錢。溫酒調下。</p>
<p>三黃湯（千金）　治下焦熱結。不得大便。　大黃（三兩）　芩（二兩）　梔（二十枚）　甘（一兩）　若大閉加芒硝二兩。</p>
<p>八正散（見方匯）　通草湯　治膿淋小便赤澀。莖中痛者。　即六物解毒湯加阿膠滑石。</p>
<p>生津湯　麥門　耆　栝蔞　甘　參　連　地　牡蠣　知母　上九味。或加石膏。</p>
<p>鉛丹散（方見消渴）　通關散　諸卒暴厥。牙關緊急者。先用此得嚏而進藥。　細辛　牙皂（各等分）　上為末。少許吹入鼻內。有嚏可治。</p>
<p>滌痰湯（見方匯）　反鼻酒　痱。偏枯。痛痹。瘀血。結毒等。灸藥湯泉。不治。則有反鼻酒之可復療焉。行氣活血。散滯解痼。其功屢著。　反鼻（生捕剝皮去腹頭尾取連骨淨肉浸酒火焙乾五錢）　交趾桂枝（三錢）　芍藥　牛膝（各二錢）　花椒（五分）　上五味銼細。布袋盛。浸好酒一升。別入砂糖十五錢。磁瓶密封。勿令泄氣。冬七夏三。春秋五日。去渣取清。暖細飲之。常令酒氣相接。勿令大醉。若不好酒之人。各藥研末。不用砂糖。直白湯下。</p>
<p>蘇恭紫蘇湯　蘇莖（四分）　甘　橘（各六分）　生薑（一錢二分）　檳榔（二錢）</p>
<p>小檳榔湯（外臺）　療腳氣心煩悶。氣急不安。　夏　生薑　桂　檳榔　上四味。</p>
<p>大檳榔湯（方見腳氣）　木茱湯（千金）　治腳氣入腹。困悶欲死。腹脹。　吳茱　木瓜（各等分）</p>
<p>廣濟療腳氣氣急。上衝心悶。欲死者。　檳榔（三顆細末）　生薑汁（三分）　童便（二升新者不須暖）　三味攪頓服。</p>
<p>犀角湯（外臺）　腳氣冷氣悶。心下堅。背膊痛。上氣欲死者。　吳茱　檳榔　青木香　犀角　半夏　生薑　上六味。</p>
<p>黑豆湯（同）　療腳氣滿。小便少者。　檳榔　桑白　上二味。以後方煎汁二合。煮取一合。溫服。日三劑。或加吳茱生薑。　黑豆一合半。洗淨。以水一升二合。煮取六合。去滓。更煮前藥。</p>
<p>附子湯（千金）　治濕痹緩風。身體疼痛。如欲折。肉如錐刺刀割。　附（九分）　芍　桂　甘　茯　參（各三分）　術（四分）　上七味。</p>
<p>紫蘇子湯（千金）　治腳弱上氣。　昔宋湘東王。在南州。患腳氣。困篤。服此湯大得力方。　蘇子　夏（各一升）　前胡　樸　甘　歸（各一兩）　橘（三兩）　棗（二十枚）　生薑（一斤）　桂（四分）　上十味。以水一斗三升。煮取三升半。分為五服。日三夜一。</p>
<p>常山甘草湯　寒熱。日再三發者。　常山（一錢五分）　甘草（七分半）</p>
<p>虎骨酒（方見腳氣）　杉節湯　杉節（四兩）　檳榔（七枚）　大腹皮（□兩）　青橘葉（四十九片）　作一服。水煎。分三服。一日飲盡。如大便通利。黃水未愈。過數日。再進一服。病根去為度。外用杉節橘葉煎湯洗之。神效。</p>
<p>檳蘇湯　大黃（二分）　木香　甘（各一分）　生薑（五分）　橘　枳實　桂　紫蘇（各三分）　檳榔（六分）　九味。</p>
<p>大防風湯　治一切麻痹。痿軟。風濕挾虛者。　歸　芍　地　耆　防風　杜仲（各一錢）　芎　附（各七分）　參　羌　牛膝　甘（各五分）　術（一錢半）　姜　棗</p>
<p>犀角湯　治毒流入四肢。歷節腫痛。（千金）　犀角（三分）　羚羊角（一分半）　前胡　芩　射干　梔（各五分半）　大黃　升麻（各六分）　豆豉（一升）　上九味。</p>
<p>赤龍皮湯　赤龍皮　防己　牛膝　忍冬　羌活　大黃　防風　甘　上九味。</p>
<p>一方　羌活　防風（各等分）　上二味。</p>
<p>金鈴散　治痛風及肛痔。　牽牛子（炒末）　上一味。每服一二錢。溫酒。若白湯下。或加茴香。即是子和禹攻散。疝或用之。</p>
<p>柴胡加石膏湯（介賓）　治少陽陽明。頭痛口乾。身熱惡寒拘急。　柴（二錢）　石（三錢）　甘（一錢）　姜</p>
<p>山牛湯（醫通）　治黴瘡頭痛不止。　土茯苓（四十錢）　忍冬（三錢）　防風　天麻　黑參（各一錢）　辛荑仁　芎（各六分）　黑豆（四十五粒）　芽茶（一撮）　上水煎溫服。　先生曰頭痛經久不差者。兼施十痊丸或針出血。</p>
<p>提肩散　檞皮（一錢五分）　檞葉（七分）　千屈菜（七分）　上三味。</p>
<p>治腎氣上攻項背。不能轉側。　椒附散（本事方）　大附子（一枚六錢以上者炮去皮臍末之）　上每末二大錢。好川椒二粒。用白麵填滿。水一盞半。生薑七片。同煮至七分。去椒入鹽。通口空心服。</p>
<p>陷胸湯　治胸中心下結積。飲食不消。（千金）　栝樓實　大黃　黃連（各八分）　甘（四分）　上四味。</p>
<p>附子丸　治九種心痛。（即九痛丸去狼牙者）　附子（三兩）　巴豆（去皮心熬研如脂）　參　乾薑　吳茱（各一兩）　上五味末之。煉蜜丸。如梧子大。酒下。強人初服三丸。日三服。弱者二丸。兼治卒中惡。腹脹痛。口不能言。又治連年積冷。流注心胸痛。並冷衝上氣。落馬墜車。血疾等。皆主之。</p>
<p>枳縮二陳湯（見方匯）　治腰痛（經心錄）　杜仲　桂（各三分）　術　茯（各四分）　牛膝　澤瀉　乾薑　甘（各二分）　服後飲酒為妙。</p>
<p>文仲葛氏療卒腰痛不得俯仰方　附子（二分）　桂（八分）　牡丹（四分）　上三味。治下篩。酒服一刀圭。日再。此主脅肋氣痛如打者。</p>
<p>小品療腰痛及積年痛者方　地（十分）　桂（八分）　術　甘　乾漆（各五分）　五味搗末。以酒服方寸匕。日三。</p>
<p>當歸湯　當歸（三斤）　酒（五合）</p>
<p>洗眼方　白礬　連　甘　黃柏　紅花　上五味。</p>
<p>苤苡散　芣苡（二錢）　芩　連　茯　甘　細辛　大黃（各二分）</p>
<p>謝道人大黃湯　療兩眼痛方。　芍（五分）　大黃　細辛　甘（各四分）　芩（二分）</p>
<p>通聖散　因風鼻塞者。戴人使服通聖散。入生薑蔥根豆豉。同煎三兩服。大發汗。鼻立通矣。</p>
<p>辛荑湯（方見鼻）　甘露飲（局方）　治牙疳去血。口臭。齒齦腫痛。腐爛。（方見方匯）</p>
<p>六味丸　口臭。牙齦赤爛。腿膝痿軟。或口咸。</p>
<p>松葉煎　青松葉　花椒　丁香　桂　五倍子　水煎頻頻含之。</p>
<p>涼膈散（見方匯）　當道飲　治口舌腐爛。而痛者。　車前子　夏枯草（各二錢）　上二味。以水二合。煮取一合。去渣。內蜜四錢。烊消溫服。</p>
<p>清熱補氣湯（見方匯）　方後云。不差者。與附子湯。</p>
<p>先生曰。產後。口舌痛者。服消黃朱石類。未嘗得治。一老醫傳此方後屢試之。功力大出意表。</p>
<p>羅不女牟土方　蘆薈末　沒藥（各三錢）　明礬末（八錢）　蜜（四錢）　上四味。入燒酒一合調。頻頻含之。</p>
<p>碧雪　治口瘡。咽喉腫痛。　靛花　蓬砂　焰消　蒲黃　甘（各等分）　上五味為末。每用少許。摻舌上。細細嚥下。喉痛者。吹入之。</p>
<p>升麻湯（古今錄驗）　升麻　石膏　牡丹皮　甘（各等分）　上四味。</p>
<p>雄黃解毒丸　治急喉痹方。　雄黃　鬱金（各一兩）　巴豆（十四粒）　上為末。醋糊丸。綠豆大。熱茶清下七丸。吐出頑涎。即蘇。未吐再服。如口噤以物斡開灌之。下咽無不活者。又小兒驚風。痰涎壅塞及馬脾風。或痘毒攻咽。藥食不下者。冷水服五七丸。神驗。</p>
<p>加味四物湯　治虛火上升喉痛。並生喉瘡喉痹熱毒能降火甚效。（回春）　歸　芎　芍　地　桔　甘　黃柏　知母　花粉（入竹瀝服）</p>
<p>馬牙硝散　治喉癰及傷寒熱後。咽痛閉塞不通。毒氣上衝。馬牙硝細研。每服一錢。綿裹含咽津。以通為度。</p>
<p>當歸散　婦人妊娠宜常服。　歸　芩　芍　芎（各一斤）　術（半斤）　上五味。杵為散。酒服方寸匕。日再服。妊娠常服即易產。胎無苦疾。　先生曰。此方有整胎之功。</p>
<p>芎歸湯（方見）　難產大加雲母。</p>
<p>獨聖散　難產及胎衣不下者。一吐之即出。</p>
<p>通關散　胞衣不出者用此吹鼻中。得嚏即出。血暈亦效。</p>
<p>治動胎及產難子死腹中。並妊娠兩兒。一死一生。服之令死者出。生者安。　神驗方（千金）　蟹爪（一升）　甘（二尺）　阿膠（三兩）　上三味。以水一斗。先煮蟹爪甘草。得三升。去滓。次內膠。令烊。頓服之。不能。分再服。若人困拗口內藥。藥入即活。</p>
<p>葵子阿膠湯（千金）　治胎死腹中乾燥著背方　葵子（一升）　阿膠（五兩）　上二味。以水五升。煮取二升。頓服之。未出再煮服。　先生曰。水血下多。子道乾澀難出者。此湯必效。若無藥物。以熱湯一盞。內鹿角菜。令消頓服之。或塗油牝戶。亦是濟急之良法也。</p>
<p>回生湯　歸　芎　芍　地　術　茯　連　甘　桂　芩　參　丁香　木香　萍蓬　大黃　上十五味。水煎。或擺用。此方雖不古。屢用屢效。</p>
<p>交加散（良方）　治瘛瘲。或顫振。或產後不省人事。口吐痰涎。　歸　荊芥（各等分）　上為末。每服三錢。水一盞。酒少許。煎至七分。唯下咽即有生理。</p>
<p>大豆紫湯（方見產後）　新制下瘀血丸（一閒齋方）　服枳實芍藥散。不愈者。此為腹中有乾血著臍下。此方主之。亦主經水不利。　大黃（三錢）　桃仁　芍（各四錢五分）　虻蟲（一錢五分）　上四味末之。煉蜜和。為三四丸。以酒一合。煎一丸取半合。</p>
<p>蜀漆湯（千金）　治產後虛熱往來。心胸煩滿。骨節疼痛。及頭痛壯熱。晡時輒甚。又如微瘧方。　地（三錢六分）　耆（一錢）　知母　芍（各四分）　蜀漆葉　桂　甘　芩（各二分）　上八味。</p>
<p>栝蔞湯　治產後渴不止方。　栝蔞根（八分）　參　麥門（各六分）　甘　地（各四分）　棗（十二枚）　土瓜根（一錢崔氏用蘆根）　上七味。</p>
<p>二味參蘇飲　治產後。瘀血入肺。咳嗽喘急。　參（一兩）　蘇木（二兩）　上作一劑。水煎服。若口鼻黑氣起。宜急用此藥。加附子五錢。亦有傳生者。</p>
<p>奪命丹　治瘀血入胞。脹滿難下。急服此藥。血即消。衣自下。　附子（半兩炮）　乾漆（一錢炒煙盡）　牡丹（一兩）　大黃（末一兩）　上為末好醋一升。大黃末一兩。同熬成膏。和前藥。丸梧子大。溫酒吞五七丸。</p>
<p>通仙丸　花麥大黃等分丸藥。</p>
<p>牛膝散（良方）　治月水不利。臍腹作痛。或少腹引腰。氣攻胸膈。　牛膝　桂　芍　桃仁　延胡索　歸　牡丹（各一兩）　木香（二錢）　上為末。每服一錢。溫酒調下。或每服三五錢。水煎。</p>
<p>紅藍花酒　先生曰。胞衣不出。及產後。遍身痛者。亦佳。</p>
<p>地黃煎丸　治月經不通。臍下堅結。大如杯盤。發熱往來。下利羸瘦。此為血瘕。（千金）　生地黃（三十斤取汁）　乾漆（一斤為末）　上二味。以漆末。內地黃汁中。微火煎令可丸。每服酒下。如梧子大。三丸。不知加之。常以食後服。（紀聞云此方乾血勞用之）　</p>
<p>羽澤散　治帶下方。　白礬　杏仁　甘（各二分）　丁子　冰片（各一分）　上五味為末。薄絹袋盛。以納陰中。坐臥任意。但禁奔走。三日一換之。以愈為度。</p>
<p>獨參湯　治血崩。及諸失血。危急者。　人參（二錢）　上以水一合。煮取五勺。溫服不知。服至數劑。蓋暴崩危急之際。非少少藥汁之所可得而救活矣。庸醫不辨。僅用人參五分。或一錢。以望其生。宜哉其不得功。</p>
<p>栝蔞根湯　栝蔞根　瓜蔞仁　百合　知母　薏苡　柴　芩　甘　上八味。</p>
<p>烏茜丸　烏賊魚骨（四兩）　茜根（一兩）　上二味為末。雀卵清丸小豆大。每五丸。或十丸。白湯送下。　亡血勞病用之。</p>
<p>蒲公英湯（民間方）　蒲公英（莖葉花並用一錢六分）　薯蕷（七分）　歸（酒製一錢）　水莎（五分）　牡丹（二分）　上五味。以水三合。煮取二合。其滓再以水三合。煮取一合。一日服盡。試令男子服之。亦覺乳房起脹矣。</p>
<p>治乳腫痛方　紫花地丁搗絞汁。塗乳上。</p>
<p>五物紅花湯　甘　連　大黃　蔚金　紅花　上五味。</p>
<p>五香湯（外科精義）　毒氣入腹。托裡。若有異症。加減之。　沉香　木香　丁香　乳香　麝香　上五味。先生曰。寒症者。宜用此方。</p>
<p>山繭湯　山繭　紅花　蔚金　上三味。或擇加三稜莪朮木香檳榔大黃甘草丁子類。</p>
<p>有不乳小便難者。用乳汁四合。蔥白一寸。煎三沸灌之。</p>
<p>金花散　自梅花無盡藏來。　連錢草　紅花　大黃　連翹　藿香　升麻（各二錢）　沉香　檳榔　鬱金　乳香　木香（各一錢）　上十一味為末。和膠飴多用效。治小兒頭瘡。世稱胄瘡者。大效。又治胎毒一身發瘡疥。</p>
<p>茱萸連湯　治吐乳　吳茱　黃連　生薑等分也。</p>
<p>炒米煎　犀角消毒飲　治丹毒壯熱狂躁。睡臥不安。　荊　防（各一錢）　犀角　甘（各五分）　牛蒡（四錢微炒）　如無犀角。代升麻。或加芩連石膏。</p>
<p>生地黃湯（千金）　治小兒寒熱進退。啼呼腹痛方。　生地　桂心　上二味。</p>
<p>龍膽湯　治嬰孩寒熱。四肢掣搦。吐哯客忤諸驚癇方。　龍膽　鉤藤　芍　柴　甘　大黃　上六味。</p>
<p>烏蠍散　既為慢驚。外無八候。但吐瀉不止者。　參　術　茯　甘　川　烏頭　全蠍　南星（各一分）　姜　棗　水煎。</p>
<p>八神湯（千金）　治心腹痞滿。萎黃瘦瘠。四肢痿躄。繚戾。服之可令克悅方。芍　柴（各三分）　大黃　參（各一分半）　乾薑　甘（各一分）　鱉甲　茯（各二分半）　上八味。　（外臺有黃耆無大黃）</p>
<p>毓嬰丸　治疳方　大觜鳥（去觜爪燒黑四錢）　鰻魚膽（黑燒一錢）　黃蘗（五錢）　薰陸（二錢）　上四味糊丸。</p>
<p>芍藥四物解肌湯（外臺）　升麻　葛根　芍　芩　上四味。</p>
<p>順逆湯　歸　芍　芩　連　甘　桔　連翹　黃耆　生薑　九味。</p>
<p>錢氏獨聖散　治痘瘡。倒靨陷伏。　用川山甲取前足觜上者燒存性。為末。每服四五分。以米湯入少酒服之。或紫草湯亦可。</p>
<p>手捻散　治當靨時。腹痛不靨。其痛著在中脘。乃熱毒凝滯。瘀血作痛也。　牛蒡　芍　桃仁　大黃（各五分）　紅花（四分）　桂（二分半）　上六味。</p>
<p>先生曰。諸瘡毒。腹痛者。屢驗。</p>
<p>連翹去麻黃湯　治結痂後。毒猶盛者。</p>
<p>獨參湯　治跌撲傷損。或金瘡。出血過多。昏沉不醒者。</p>
<p>雞鳴散　治墜壓傷損。瘀血凝積。痛不可忍。　大黃　杏仁（各二錢二分）　上二味。臨臥溫服。飲酒醉為度。</p>
<p>接骨木湯（龜井）　接骨木　歸　芎　芍　地　澤瀉　沉香　大黃　上八味。</p>
<p>治打撲折傷方　活鯽魚（小者佳）　上研如膏。內白砂糖和勻。傅患所。汁出而愈。骨損者。尤效。</p>
<p>蔥熨法　治跌撲傷損　用蔥白細切。杵爛炒熱。敷患處。如冷易之。腫痛即止。神效。</p>
<p>甘草解毒湯　甘草　忍冬　白礬　上三味。以水二合。煮取一合。猘犬咬傷。加馬錢子雞冠石。煎成內鐵醬水少許。溫服。兼灸之。數十日。甚者。並用寬中丸。頻頻下之。嘗治數十人。莫一誤者。其他諸蟲獸毒。皆能解之。此方越前奧村翁所立。而適所翁傳之。</p>
<p>狗咬傷　杏仁甘草口嚼搭傷處。又宜銀杏塗傷處。</p>
<p>四順清涼飲（正宗）　治湯潑火燒。熱極逼毒入里。或外被。涼水火毒內攻。致生煩躁。內熱口乾大便秘實者。　翹　芍　羌　歸　甘　防風　梔（各一錢）　大黃（二錢）　燈心水煎。</p>
<p>三白散　以香油調敷。</p>
<p>六物解毒湯　土茯　忍冬　通草（各一錢）　芎（五分）　大黃（三分）　甘（一分）</p>
<p>四物解毒湯　銀花（一錢）　蕺菜　芎（各五分）　大黃（三分）</p>
<p>土萆薢湯　治楊梅瘡。及瘰癧。咽喉惡瘡。癰漏潰爛。筋骨拘攣。疼痛。皆妙。（景岳）　用土萆薢。即土茯苓二三兩。以水三鍾。煎二鍾。不拘時徐徐服之。若患久或服攻擊之劑。致傷脾胃氣血等症。以此一味為主。加對證之藥。無不神效。</p>
<p>萎蕤湯　萎蕤（二錢）　歸　芎　連　通草（各一錢五分）　甘（五分）　仙遺糧（二十五錢）　上七味。以水一升四合。煮取七合。一日服盡。若病重者。用土茯苓五十錢。水率亦准之。（骨痛或有上逆候。耳鳴目生赤脈等證用之。）</p>
<p>桔梗解毒湯　療結毒咽喉。口舌唇鼻破壞。聲啞或成瘰癧者方。　仙遺糧（八錢或十錢二十錢至五十錢）　桔梗（一錢）　甘　芎　芍（各三分）　耆　大黃（各二分）　上七味。以水五合。煮取三合。渣以五合。再煮取二合半。一日服盡。禁茶酒肉面青菜。一切結毒諸症。無名腫毒。腐敗。經年不瘥者。皆效。</p>
<p>葳靈仙湯　歸　芎　芍　梔　術　甘　大黃　牛膝　杜仲　龍膽　防風　葳靈仙（各五分）　赤龍皮（一錢五分）　上十三味。浸酒一夜。以土茯苓一斤。分為十二。以其一合前藥。以水二碗。煮取一碗。渣再以水三碗。煮取一碗。一日服盡。</p>
<p>芎黃湯　芎　大黃　荊芥　防風　上四味。</p>
<p>薰洗方　治下疳瘡。黴瘡秘錄方。今呼銀花煎。苦辛　川椒　金銀花（各兩許）　上三味。用水三四碗。煎數沸。先薰後洗瘡口。拭乾。用三白散摻之。</p>
<p>三白散　海牡蠣（煅）　葛粉　果蠃　上三味末傅。</p>
<p>耆歸湯（黴瘡秘錄）　便毒疳瘡。或髮際生瘡。梳下。薄靨如麩。或手足肌膚。紅點如斑。隱肉。當服此方。使正氣足而邪自除也。　參　耆　芎　甘（各一錢）　歸（二錢）　忍冬花　防己（各一錢五分）　升麻　防風　川山甲（各八分）　生薑　上十一味。</p>
<p>玄龜丹　治遠年近日。楊梅結毒。筋骨疼痛。日久腐爛。臭敗不堪聞。或咽喉唇鼻破壞。諸藥不效者。妙也。　龜板（放炭火上炙焦用新安酒漿濃筆蘸漿塗上反復炙塗三次以焦黃為末二兩）</p>
<p>石決明（用九孔大者煅紅童便內漬之一次）　硃砂（明亮者各末二錢）　共再碾極細。爛米飯為丸。麻子大。每每一錢。量病上下食前後筋骨疼痛酒下。腐爛者。土茯苓湯下。至重者四十日而愈。（一本作硃砂六錢）</p>
<p>十全丸　芎　芩　大黃　蘗皮（各五分）　輕粉（一錢半）　硃砂（一錢）　連翹　苦辛　烏蛇　地骨皮（各三錢）　上十味。為末糊丸。梧子大。每服十五丸。白湯送下。日二夜一。</p>
<p>先生可用粉丸症。皆用此方。但下疳痛劇者。用梅肉丸。（紀聞）</p>
<p>四順湯（原名四順清涼飲）　治血熱蘊結。壅滯不通。或一身盡熱。或日晡肌熱。或夜發熱。皆血熱也。　歸　芍　甘　大黃（各等分）　上四味。</p>
<p>治疳瘡痛甚。血不已者方。　杏仁　雞子黃　上合研塗患處。</p>
<p>羅不女牟土方　下疳漸漸侵蝕。不可遏止者。當以此洗。若不愈者。宜石堊湯。</p>
<p>石堊湯　石堊（三十錢以滾湯一升攪勻去渣不用）　焰硝（四錢）　膽礬（三分）　上二味。投石堊汁中。溫洗數次。若為水泡者。去膽礬加礬石一錢。</p>
<p>十味敗毒湯　治瘡瘍焮痛。寒熱脈緊有力。　羌　桔　芎　枳實　柴　荊芥　防風　連翹　銀花　甘　生薑</p>
<p>涼膈散　治癰瘍。熱毒熾盛。大便秘結。</p>
<p>破棺丹（會唧）　治瘡瘍熱極。汗多大渴。便秘譫語。發狂等。即調胃承氣湯。為丸者也。</p>
<p>凌冬飲　諸腫毒服之。未成者內消。已成者即潰。　忍冬　耆（各一錢五分）　歸（三分）　甘（一分）　上四味水煎。加酒更煎數沸。溫服。消渴後。服此藥。預防發癰。</p>
<p>梓葉湯　治癰疽。及一切腫毒方。　梓葉（二錢）　忍冬（一錢）　甘草（五分）　上三味。（一無忍冬。有通草。或加皂角刺。）</p>
<p>櫻皮湯　治癰腫。瘭疽。諸腫毒方。　櫻皮（五錢）　桃仁（二錢）　赤龍皮（五錢）　上三味。以水一升。煮取七合。頓服。</p>
<p>針灸法　凡暴死者。多是疔毒。急用燈照遍身。若有小瘡。即是其毒。宜急施針灸。</p>
<p>夏枯草湯　治瘰癧已潰未潰方。　夏枯草（二錢）　甘草（二分）　上二味。或加翹芎大黃。又明眼目。</p>
<p>瞿麥湯（張潔古）　治項邊馬刀方。　翹　瞿麥　大黃　甘　上四味。食後熱服。十餘日後。灸臨泣穴二七日。六十日決效。</p>
<p>浮萍散　治諸風癬疥癩瘡。　浮萍　歸　芎　芍　甘　荊芥　麻黃（各等分）　七味。溫服出汗。</p>
<p>苦參湯　遍身癢痛。諸藥不效。久而如痂癘者。　苦參（三錢）　上一味。按葛洪破棺散方。以此物酒煮服。</p>
<p>四順湯　乾疥瘙癢。皮枯屑起。便秘者。</p>
<p>浴湯方　忍冬　防風　枳實（各十六錢）　荊芥　湯花（各二十五錢）　淡竹葉（三百枚）　鹽（一升）　上七味熬。盛袋煎浴。凡七八日得愈。</p>
<p>楊梅皮湯　治臁瘡方　楊梅皮（一錢）　桔梗　茯　甘（各五分）　上四味。初日以水一合一勺。煮取一合。二日以一合二勺。煮取一合。三日以一合三勺。煮取一合。四日以一合四勺。煮取一合。五日以一合五勺。煮取一合。以此為一劑。大凡三劑得愈。如毒深者。服至五六劑。</p>
<p>萍湯　治惡疾遍身生瘡。浴浸半日。大效。（本草）　</p>
<p>通天散　大黃　皂角刺（各十錢）　牽牛子　反鼻（各六錢）　鬱金（五錢）　上五味。為末。每服五分。或一錢。酒下。日二。夜三。（梅毒似癩眉毛脫者。又久淋因毒者。用之。）</p>

<h2>辨附子瞑眩與中毒</h2>
<p>門人稻良節。問附子之用法於余。答曰。夫烏附之為性也。猛烈也。用之有瞑眩而愈者。有不瞑眩而愈者。有徒中毒者。烏頭桂枝湯條云。其知者如醉狀。得吐者。為中病也。又桂枝附子去桂加朮湯條云。如冒狀者。此瞑眩而愈者也。又用之其病頓愈。氣宇快然者。是無瞑眩而愈也。又用之其病須臾增劇。發頭痛眩暈。或身體不仁。或發熱上逆。嘔吐等症者。中其毒也。速止附子。復問瞑眩而吐者。與中毒而吐者。何以辨之。答曰瞑眩而吐者。其病愈而後吐也。中毒而吐者。其病增劇而吐。是其別也。凡病用附子。即愈心氣爽快者。為方證相對也。外科療結毒與為動其痼毒。自有徑庭。然則附子之症候如何。答曰。仲景云。無熱惡寒者。又真武湯證曰。腹痛下利。附子湯證曰。口中和。由是考之。無熱惡寒。大便滑或溏。口中和者。可以為附子準的矣。凡大便秘結者。不中用之。只冷秘之症。用附子而大便快通。是冬節薄衣之人。或婦人月事之時。一身冰冷。少腹痛者。多有此症。然百人中一人耳。又痛風一症。用附子不數日則無功者。若大便難者。宜兼用大黃劑。又有久服附子而患眼疾者。速止附子。不然恐後有致失明者矣。慎諸慎諸。</p>
<p>中川成章志</p>

<h1>跋</h1>
<p>漢張仲景氏之書。具悉治病之方法矣。然學而不精。泥而不通。則誤治者亦不少也。麓山中川先生。家世軒岐。嘗博撮古今之良方。有合於仲景氏之旨意者。躬親經驗者多年。久之編一書成。名曰證治摘要。以授之子弟。雖然醫者意也。善得其意。不膠於法。善通其變。而不誤於治。則先生之所深望於子弟也夫。元治甲子歲冬十二月。門人肥後支藩大村守約識師古。手未染此者。安達其意耶。一旦對病。心與目達。亦盲子辨色耳。夫欲入室者先升堂。而階之自。欲追跡於張氏。自此升哉。乃先生之力。豈不多耶。此唯學緒餘已。雖然。頗見其志焉。文久壬戌黃鐘月云窗金謙撰。</p>
