<header data-type="book">
<h1>疝氣證治論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>大橋尚因</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015279">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>凡例</h1>
<p>—諸書謂疝者多矣。然其深痼者。或似他症。疝之真者。古人言不盡意。故初論之。其論與古言照。則諸疝可見。吾言可信也。故錄古人所謂疝之諸疝。又七疝之名。彼是不同。有同名而異狀者。有名狀俱異者。以此見之。則疝不止七。名以其所見命名者乎。故錄諸症。以令知疝之萬殊耳。</p>
<p>—謂積謂症謂疝。不知其形。則易混同。而誤治則無效。故委舉諸形爾。</p>
<p>—諸方者。余用之而得效之方。而多古人之方也。其古人方而難治者。余別制方以療之。其方則稱家方。以附錄焉。</p>
<p>—全類他病。而吾為之疝者。記其治驗以證焉。</p>
<p>—世醫有以下劑治積者。吾為之撰論以辨惑。故不記方。知其法則於眾書中自可採用也。惟於疝之方。試之奇者。特錄此耳。</p>

<h1>疝症之分類</h1>
<p>大凡治病。先當正其名。不正其名者。猶緣木而求魚也。病欲治之者。先當論其因。正其名。蓋有積聚癥瘕腹痛諸症。歷數年不愈者。吾能見之。疝病十居八九。然人不知。而治之何得愈矣。蓋不正其名。不論其因故也。疝之諸症。雖古人所言許多。然心腹痞硬如盤。或如袋盛瓜。或痛或不痛。經數年而不愈者。心下痞硬。而嘔吐清水。或年年吐食似反胃者。或小腹微疼。瀉利不上。其病綿連者。小便淋瀝。陰莖痛而出膿血者。腰腳麻痹。或腳弱走痛難久立者。腹中不和。懶言語動作。身體羸瘦不欲飲食。五心煩熱似虛勞者。或腹中卒如鼓脹。昏倒四肢逆冷欲死者。或惡寒發熱。舌上有白胎。不入穀食。四肢拘攣者。午後發熱蒸蒸汗如流。上逆目眩者。或遊足胸背。或暴嘔吐。或卒惡寒戰慄。咬牙頃刻而止者。或痛甚而為角弓反張者。或腰足痿不動者。此等諸症。皆疝之所為。而古人所不言也。至如此者。世醫不知何病。猥與藥。或中脘久痛。則曰脾胃虛。胸膈痛。則曰痰。腰卒痛。則曰風濕相搏。偶雖知之。藥非其藥。以此疾愈盛。連年不愈。遂為不治。而服㑊都廢。束手俟死者甚多矣。夫疝者。陰病而發動者也。其主則肝腎也。其患先起於肝而入腎。遂成二臟病。其主二臟。而先謂肝者。何也。肝易動難靜。嬰兒無心亦動者。惟肝而已矣。故肝者。寒濕易侵易客也。而非無依熱者。雖然其熱非溫柔之陽氣。故寒又易客也。雖元屬熱極則為寒。是其常也。傷寒硝黃之症。亦有久而用姜附者。諸積久而為疝。則其寒不可全無也。其諸積變為疝。何也。肝急速而能動矣。故走而接之。遂為己病。腎膀胱小腸為之所迫自病。則盤腸氣症起焉。肝以他之病者。譬如俠客之救他之鬥。以他之敵。為己之敵也。疝之為諸症。肝惟動故所畜之寒冷結氣。橫行腹中。衝上之心下。則痞硬嘔吐。下降至小腹。則疼痛泄痢矣。寒氣則如勞瘵。塞膀胱則為淋瀝。肝主筋。故攣急。或筋縮屈伸不便。又其肝腎二脈。病則為麻木痿弱等症。外以經脈謂。則起於足大指交出大陰後。循股入陰中抵小腹。屬肝絡膽。上貫膈。布脅肋。連目系。上出額。與督脈會於巔。是肝之所循也。腎又起於小指之下。循內踝之後。別入跟中。出膕內廉。上股。內貫脊。屬腎絡膀胱。其直者。從腎上貫肝。上膈入肺中。循喉嚨。如此其經從足至額。則其元雖在腰腹。而膽腨項背之病爭起可知也。疝之所成。惟寒而已也。故非烏附以敗症散寒。梔子以行結氣。則難治矣。世人偏用木香檳榔烏藥香附青皮枳殼等。不問寒熱新久。一例施之。彼檳榔烏藥之輩。何足敗症散寒。是以累年不愈者。肓惑眾盲故也。醫者豈可不選哉。漢高得三傑而興矣。蜀主得孔明而安矣。凡患疝者。得以烏為附治者。應自安矣。唯有麻木攣急。五心煩熱等症。則他病而何謂之疝。果見有疝之所為。而後可以疝治之。故以胗疝之法。別書之。</p>

<h2>胗疝法</h2>
<p>諸積各有部位。惟於其疝也。雖無有定位。然多皆繞臍動氣。腸間奔鳴。惟似蛙鳴者也。或自歧骨至橫骨如建竿。或自胸下至小腹。大筋一條相貫者。或臍傍一塊。奔突鉤痛者。或其元在臍。而胸脅苦滿。心下痞硬者。或睪丸連小腹急痛者。或結聚臍腹。則腰痛上衝胸脅。則徹背痛。或腹痛則腳攣急。及轉筋。此等諸狀。非有常者。朝見此症。夕見彼症者也。是此諸症皆疝之候也。雖無顯然其形。而必有動者。有鳴者。皆此症也。其元如此。而雖有似痿痹及反胃者。為疝無疑。藥㑊如法。可自愈也。雖似他病。皆疝之所為也。以此診察。則是非明也矣。</p>

<h2>諸疝</h2>
<p>水疝囊腫如水晶。或囊癢而流黃水。陰汗自出。小腹按之作水聲。</p>
<p>筋疝。陰莖腫脹。或挺長不收。或痛癢。</p>
<p>狐疝。狀如仰瓦。臥則入小腹。如狐之晝出穴而溺。夜入穴而不溺。</p>
<p>屍疝。心腹厥逆。不得氣息。痛達背膂。</p>
<p>石疝。心下堅痛。不可手近。</p>
<p>寒疝。臍下堅痛。得寒冷食輒劇。或達臍痛。若發則自汗。手足厥冷。或腹中痛。及脅痛裡急。或身痛。手足不仁。</p>
<p>盤疝。脅下堅痛。大如手。時出見。若不見。</p>
<p>脈疝。小腹脹滿引膀胱。急痛。</p>
<p>氣疝。上連腎俞。下及陰囊。或難於前後溲。而溺赤。病見寒氣則遺溺。使人腹脹。</p>
<p>牡疝。在臍下。上連肺。</p>
<p>血疝。臍下結痛。女人月事不時。或如黃瓜。在小腹兩傍矣。予按李挺曰。如黃瓜在小腹兩傍。俗曰便毒。瘡家之一病。而與疝不同。便毒不日而膿潰。或又其部位不限腿胯小腹間。其症雖不速膿潰。然非無膿潰者。雖非無其潰。與便毒之潰不同。治方又不同。便毒之未膿潰者。與下劑則輒愈。至血疝之症者。難以下劑。治與疝之以諸劑自愈者甚易辨。何混而謂之乎。然其書之意令人易知耳。為易知則可也。謂俗曰便毒者。而實非便毒。則豈如斯書之說乎。如斯書之說。則雅名血疝。而俗名便毒也。便毒與血疝二病不同。李子之言。不分明矣。</p>
<p>盤腸氣。腸中奔氣作聲成痛。</p>
<p>膀胱氣。小腹陰囊。手按作聲而痛。</p>
<p>小腸氣。小腹臍傍一硬。升上鉤痛。</p>
<p>腎氣小腹下注。上奔心腹急痛。</p>
<p>腸㿗。外腎偏墜。腫癢或痛。</p>
<p>印㿗王莖腫硬引臍。絞痛甚。則陰縮。肢冷。囊上生瘡。</p>
<p>氣㿗。素有濕熱。因怒激起相火。昏眩。手搐如狂。</p>
<p>水㿗。外腎腫大。如斗如升。或不痛不癢。</p>
<p>木腎。睪丸腫痛。或堅硬。頑痹不痛。</p>
<p>偏墜。陰子偏大偏小也。</p>
<p>㿗疝。在婦人則為陰屍突出。</p>

<h2>諸積</h2>
<p>肝積。名曰肥氣。在左脅下。如覆杯。有頭足。</p>
<p>心積。名曰伏梁。起臍上。大如臂。上至心下。</p>
<p>脾積。名曰痞氣。在胃脘。覆大如盤。</p>
<p>肺之積。名曰息賁。在右脅下。覆大如杯。</p>
<p>腎之積。名曰奔豚。發於小腹。上至心下。若豚狀。或上或下無時矣。</p>
<p>予按入門曰。有積聚成塊。不能移動者曰症。言堅硬貞固也。或上或下。或右或左者曰瘕。然則積之甚者謂症。其移動者謂瘕。與積聚無異。如鱉癥鱉瘕。以其形名者也。豈依吃鱉邪。如米瘕。豈因吃米哉。凡有積聚癥瘕者。其臟腑必不平。故偏好一物耳。世病積者。有好吃果實。有好吃蔬菜。以米症等說名之。則可稱果實症。蔬菜症。是不因吃米可知也。如應聲症。腹中雖為人語。然吾未見之。古人謂之。則雖非決無。然不知其真。故不論此。又諸癥瘕與同類。故不別列名狀也。</p>

<h2>治驗</h2>
<p>丁未之春。予右足大指痛。物觸之痛甚。強踏亦難忍。擇方服之無驗。以藥貼之。以藥湯薰洗之。猶無寸效矣。自謂緩風濕痹等症將發乎。然用治風痹方無驗。則非其病可知也。一日疝上。充塞心下。疼痛劇矣。即服桂枝加附子湯。三貼而腹痛止。趾痛亦去矣。後歷數月復發。治之如初而指痛忽止。於是全愈。始知疝之患。亦及四末。蓋以疝方治其病。故記載以為後助矣。</p>
<p>一婦吐食甚。眾醫皆以為翻胃。身體羸瘦。起居轉難。十有五年。猶未治。諸醫俱束手。予診脈以為寒疝。根在臍腹。大如覆杯。此痛令人吐者也。是眾醫所過也。與家制半夏湯五貼便止。止而又下痢。蓋寒邪逐水飲。上奔則吐也。下行則下痢。今也實下行矣。宜先治瀉。因與家制苓朮羌附湯瀉果止矣。而後以古梔附湯攻病源。不過五七劑而愈。病婦曰百年之患。為君失矣。傍人又曰。起虢之妙也。</p>
<p>同袍牧子圭。過予曰。吾母病。心腹痞滿疼痛。不飲食。日吐水數升。骨立倦怠也。他醫為留飲。治之無驗。其年七十餘。一以喜其壽。一以懼此病。吾子願治之。予往診其脈。告曰寒疝也。病得之寒矣。病母曰。君之言是也。吾一日嚴冬冒風。忽為惡寒。無幾此病發。予曰。一朝之邪。何至此乎。是元有疝。外感之邪。相促以使然也。即為之作茯苓湯飲之。藥入腹吐即定。又與桂枝加附子湯平其疝。而病方已。予圭又來曰。曩阿母疾病矣。藥治無驗焉。僕不勝其憂。足下為吾惠藥。以起其廢。深荷大德。何日忘之。</p>
<p>一男子。有患天行病者。惡寒發熱頭痛煩躁譫語。而病頗愈。雖然猶未了了。腹或微疼。飲食不進。間有發熱頭痛。餘邪似未盡。然無有邪脈。將是勞復乎。用其方無驗。用諸調理之劑。無有寸效。再診之。心下有所結聚。按之闇然有冷氣。時鳴動矣。是果寒疝也。嗚呼過矣。諸所為非其治。參耆雖尊。非其症。何得其效。遂轉方治其疝。五七貼而頗安。繼與之諸症豁然。其方則桂枝加附子湯也。</p>
<p>森村生。晚秋患痢疾。甚而口燥。溺澀。下痢晝夜二百餘行。裡急後重。腹硬滿疼痛。不欲飲食。予以承氣湯等平之。病漸已。雖然惟精神未復。飲食未進。起居勞倦矣。自以為其脈代也。疲甚矣。恐關性命耶。傍人又曰。攻擊之弊。遂成之邪。即迎予令診脈。予曰經曰。脈去來時一止無常數。名曰結。此脈無常數。與臟腑虧損之代不同。是結脈也。結是積也。應有積。便診腹。則果有矣。按之為蛙鳴。是疝也。與補腎湯。病已脈又平也。</p>
<p>一男子。嚴冬之日。卒惡寒戰慄。手足逆冷。近火惡寒不止。半日漸退。而心腹脹滿疼痛。腰腳攣急。下利不食。舌上白黃胎。眾醫皆以為卒中寒。予診脈曰。寒疝也。補腎湯加附子與一劑。病頗緩。繼與之諸症豁然。此病豈卒中寒為之。舊冷相積以使然也。所以知其病者。其脈緊而結。緊寒也。結積也。腹鳴似蛙鳴。是余所以為疝也。</p>
<p>一老翁。手臂疼痛。自以為痰。予診脈曰。疝也。他日心腹痞硬。或腹中應拘急。翁曰然。予曰臂與腹。其本同矣。與桂枝加附子湯病已。</p>
<p>一男子。患腰痛。三十日不能起。藥㑊針灸皆無驗。一日迎予請治。診其脈。滑而急。予曰是積之脈也。非有積邪。病者曰無有矣。予曰。如疝痛則雖其形不顯。然或引睪丸。或臍邊有動氣。或為腹中雷鳴耳。病者曰。然雖無引睪丸等症。時雷鳴。或似積在腰下。予曰果疝也。疝伏而不顯。反者腰以令痛。與補腎湯。其病尋已。</p>
<p>予曩客蓬北。有人過予之旅館曰。吾久患下痢。眾醫皆以為脾胃虛。治之數年而無愈。願為吾治之。予診脈曰脈無虛候。豈為脾腎虛乎。若果虛。則數年之病。形體何不衰乎。其人小腹有塊雷鳴。予曰是寒疝也。吾能可治之。即製劑與之果驗。其家方制苓朮羌附湯是也。</p>
<p>有人患心痛。三年百藥無有驗。予診之曰。石疝也。痛甚故痛及心也。痛者殆虛。不可攻擊。以建中湯養中焦。加附子以和疝。繼與蒼朮湯和心下。不過十貼全已。</p>
<p>一婦人病。眾醫為鼓脹。治之無效。予診其脈曰。疝之濕症也。先與三白湯。下如豆汁者數升。脹頗愈。繼與桂枝加附子湯全愈。所以知其病者。鼓脹則無消長。今病緩則消焉。盛則脹焉。時腹鳴響。是所以為疝也。</p>
<p>松山生者。患淋疾十餘年焉。一日大發。莖中疼痛。小便膿血。小腹有塊。牽引脅下。予診之曰。盤腸氣也。便血雖似血淋。有塊痛者。難為血淋。設使為血淋。亦當利腸氣。即作四味茴香散與之。卒痛止。血淋全愈。</p>
<p>一男子。腹中繞臍有塊。為鳴動。一日卒得腰腳痿弱不能動。予診其脈曰。寒疝也。此病寒邪。客肝腎二藏令然。其經亦為寒邪所關。故為此症耳。非烏頭以治疝。附子以行經。不可治。即與烏頭煎一劑。瞑眩甚矣。病夫曰。藥增苦楚不堪服。予曰是將愈之候也。藥不瞑眩。其病不瘳是也。曲喻之強服之。病略愈。再與梔附湯加味豁然。</p>
<p>一婦人有病。接予診其脈。疝症也。與大黃附子細辛湯。下其寒。再與桂枝加附子湯病已。予未往診。時以五心煩熱。心氣不樂。羸瘦倦怠。眾醫為虛勞。予獨以為疝症。何者。心下顯然有塊。按之有冷氣。而為鳴動也。勞症之邪。在脾者。或雖似之。然勞之痞塊。何有鳴動冷氣乎。疝亦從七情起。則心熱不樂。亦疝之候也。此人果勞。則治勞之劑。何不效乎。吾以為疝。不亦宜乎。</p>
<p>一老翁小腹痛。腹鳴。血痢日數十行。自以為痢尤甚者也。予診之曰疝也。夫疝病屬肝。肝藏血。正邪相搏。傷其血。故下血也。邪傷血而利。則可與血利同治。雖然是病元自疝來。不治其本。不可也。即與補腎湯病愈。</p>
<p>一婦人患心痛五年。諸藥針灸無有效。予診脈曰。心下痞硬。正是積也。然非五積部位。雖殆如盤疝。然其位高。則難為盤疝。極知疝客心脾。邪正相爭奔騰。故上衝心下而痛也。先與桂枝加附子湯和其疝。疝和而後以手法拈散餘邪。心脾痛全已。</p>
<p>一男子常苦疝症。一日大發。腹硬滿疼痛。予診之。其脈沉緊而伏。旁人皆以為死症。予曰積聚癥瘕之病。不可卒死。何足恐哉。即與神保丸十五丸。　藥下咽病卒已。</p>

<h2>寒疝主方</h2>
<p>桂枝加附子湯　治寒疝心腹疼痛。手足逆冷。身體拘急方。</p>
<p>桂枝　芍藥　附子（各六分）　甘草　大棗　生薑（各三分）　水煎服。</p>
<p>補腎湯（家方）　治寒疝肚腹疼痛。泄瀉胸滿痞塞。或虛火上攻。舌胎不食方。</p>
<p>附子　人參　白朮　茯苓　黃耆　木瓜（各五分）　羌活　乾薑　沉香（各三分）　紫蘇　川芎　甘草（各二分）　上水煎服。</p>
<p>苓朮羌附湯（家方）　治寒疝小腹疼痛。泄瀉不止。甚則交血利者方。</p>
<p>茯苓　白朮　羌活　附子　甘草　大棗　上水煎服。</p>
<p>甘草乾薑湯（家方）　治諸疝泄利者方。</p>
<p>甘草　乾薑（各五分）　蜀椒　附子（各三分）　上水煎。</p>
<p>茯苓湯（家方）　治諸疝嘔吐不止。飲食不納方。</p>
<p>茯苓（五分）　陳皮　附子　白朮（各二分）　半夏　吳茱（各一分）　水煎臨服入薑汁一匙溫服。</p>
<p>生薑半夏湯（家方）　治同前方。</p>
<p>生薑（六分）　半夏　吳茱　附子（各三分）　上水煎。</p>
<p>姜椒湯（外臺方）　治胸中積疝嘔吐。飲食不納方。</p>
<p>半夏　茯苓（各三分）　桔梗　陳皮（各二分）桂枝　附子　蜀椒　甘草（各一分）　上水煎臨服入薑汁一匙溫服。</p>
<p>烏椒湯　治心胃時痛時止。經年月不止。</p>
<p>烏頭　蜀椒（各六分）　乾薑　桂枝（各四分）　大棗（一枚）　上水煎服。</p>
<p>半夏乾薑湯　治心胃痛不可忍方。</p>
<p>乾薑　桂枝　半夏　蒼朮　生薑（各等分）　上水煎服。</p>
<p>蒼朮湯　治諸疝心痛。時痛時止。久不已。</p>
<p>蒼朮（八分）　藁本（五分）　上水煎溫服。</p>
<p>十味蒼柏散　治諸疝肚腹疼痛方</p>
<p>蒼朮　黃拍　香附（各七分）　青皮　玄胡　益知　桃仁（各五分）　茴香　附子　甘草（各三分）上水煎溫服。</p>
<p>古梔附湯　治寒疝入心腹。卒痛及小腸膀胱氣。㽲刺脾腎。氣攻攣急。極痛難忍。腹中冷重如石。自汗不止等方。</p>
<p>梔子　附子（等分）　上水一盞酒半盞鹽一撮入煎服。</p>
<p>烏頭湯（千金方）　治諸疝腹痛方。</p>
<p>乾薑（八分）　桂枝（六分）　芍藥（四分）　烏頭　甘草　大棗（各二分）　上水煎溫服。</p>
<p>蜀椒湯（外臺方）　治寒疝心腹如刺。　繞臍腹中盡痛者方。</p>
<p>蜀椒　乾薑　附子　半夏　甘草　粳米　大棗　水煎服。</p>
<p>茯苓桂甘湯（傷寒方）　治疝作奔豚方。</p>
<p>茯苓（八分）　桂枝　甘草（各四分）　生薑（少許）　水煎服。</p>
<p>四味茴香散　治疝作淋瀝囊莖抽痛方。</p>
<p>烏藥　良薑　青皮　茴香（等分）　上為細末。溫酒調服。</p>
<p>三白湯（家方）　治疝作腹脹滿方。</p>
<p>白醜（三分）　桑白皮　白朮　木通　陳皮　茯苓（各五分）　大棗（一枚）　上水煎。臨服入薑汁一匙溫服。</p>
<p>厚朴七物湯（要略方）　治疝腹痛甚。而為脹滿者方。</p>
<p>厚朴（八分）　甘草（四分）　大黃（三分）　大棗　枳實　桂枝　生薑（各二分）　上水煎服。</p>
<p>大黃附子湯（要略方）　治疝腹脹滿。痛甚欲絕者。以此方。不為下利者不治。</p>
<p>大黃　附子（各六分）　細辛（四分）　上水煎溫服。</p>
<p>心疝湯　治繞臍痛上支脅心下大痛方。</p>
<p>芍藥　蜀椒　桔梗　細辛　桂枝　乾薑（各六分）　附子（二分）　</p>
<p>上蜜少入　水煎溫服。</p>
<p>良薑湯（家方）　治諸疝心腹絞痛如刺。兩脅支滿煩悶不可忍方。</p>
<p>良薑（五分）　當歸　枝桂（各三分）　厚朴　附子（各二分）　上水煎溫服。</p>
<p>薑桂湯（家方）　治寒疝心胃痛不可忍方。</p>
<p>乾薑　桂枝　蒼朮　半夏　附子　生薑（各等分）　上水煎溫服。</p>
<p>飢疝湯　治飢則心胃痛。得食則痛止方。</p>
<p>龍膽　附子　黃連（各等分）　上水煎溫服。</p>
<p>奔㹠湯　治寒疝手足厥冷。上氣腹滿絞痛欲絕方。</p>
<p>生薑（九分）　半夏　桂枝　吳萸　人參　甘草（各二分）　上水煎溫服。</p>
<p>硫荔丸　治寒疝上衝塞心臟痛甚。手足冷厥欲死者方。</p>
<p>荔枝核　陳皮　硫黃（各等分）　上為細末以飯為丸梧子大。每十四丸溫酒送下。</p>
<p>手拈散　治疝塞心下痛甚方。</p>
<p>玄胡　沒藥　甘草　五靈脂（各等分）　為細末每三錢溫酒送下。</p>
<p>當歸茴香散（家方）　治寒疝小腹痛方。</p>
<p>當歸　茴香　附子　良薑（各等分）　上水煎溫服。</p>
<p>神保丸　治諸積氣痛。項背注痛。宣通臟腑之方。</p>
<p>金蠍（七個）　巴霜（十個）　木香　胡椒（各五分）　上為細末蒸餅丸麻子大。硃砂為衣。每五七丸用。</p>
<p>烏頭煎方　治暴疝閉塞諸方不應者。</p>
<p>烏頭（二錢）　水一盞蜜半盞。煎一盞取用。</p>
<p>抵當烏頭桂枝湯　治暴疝腹痛逆冷。手足不仁者。身痛灸刺諸藥不能治方。</p>

<h1>方要略見寒疝下</h1>

<h2>積聚治方論</h2>
<p>人有五積六聚。有疝有症。有瘕同腹中有形之病。而異名者甚多矣。是何因而得之。積聚者。宿食痰瘀血以成塊者也。癥瘕者。臟腑虛弱。飲食不消化而結聚也。疝者濕熱凝滯於肝經令然也。是皆古人之論。而非無是理。然痰瘀血宿食則利下可以治。已利下而不愈。則似難為痰瘀食。予按是皆一氣凝滯結聚而令然也。故難經曰。氣之所聚名曰聚。氣之所積名曰積。是之謂也。故氣之所不平者。則邪之所以相集也。雖言相集。然積聚之地。其邪相依託而已。非其物成病。故氣不和。則雖攻其塊不消。見其不消者。為痰瘀食治。則至害人命。故恬淡虛無而理心者。無有此患焉。故飲酒人有積者少矣。其氣不凝滯故也。是以處女不出閨門者。而患積聚。則百藥不治。嫁則自消和矣。其氣舒故也。是其相集者。標而其氣為本。可知也。不治本而治標。非真治也。故節思慮。養性情者。何積之有。然頑愚婦女輩。何以行之。故酒以忘憂。或假絲竹以蕩之。如此而不愈者。藥不可不以治之。欲治之者。以術苓半夏厚朴生薑枳殼橘皮木香檳榔等藥。下氣行氣。解胸腹痞塞。鬱氣結聚。或有熱者和解之。甚者小通利之。痰食托之為害。則消化之劑並治之。自愈也。又疝之症。有久而吐瀉者。惟此症與諸積不同。客寒內沉。故邪正爭而使吐下也。其吐水者。以術苓生薑。吐食者以附吳半夏。下利者以羌附術苓。腹痛者桂甘芍附。或寒客之深者。以溫下之藥。少下之則病雖深痼。無不治矣。五積之症。以峻下之劑。則反至生他變。世醫往往有用下劑者。真救縊而引其足也。可不戒哉。惟女血塊。雖可攻之。然有氣和自消者。則不攻亦可也。諸積雖行氣之劑可以治。一憂一慮。復正發如初也。故欲斷病本。先斷思慮可也。使之能節思慮者。非醫之所能。其不能節者。無如之何。</p>

<h2>藥說</h2>
<p>病有寒熱。藥有溫冷。非寒病多而熱病少。又非熱病多而寒病少。故周而不比。不可不節溫冷。然而溫冷之藥。以何為主。是各有其功。優劣難分。然非無優者。參附薑桂硝黃芩連是優者也。以此物為勝何也。百病不能離寒熱之二焉。寒熱二病。不能離此藥。此余雖有溫冷之藥。以此諸藥為最也。故特為尊之而已。為治者宜分此二品。然此症亦有難者。表熱裡寒潮熱之症。反宜寒藥也。內傷狹外邪壯熱者。有宜溫藥者。非徒是也。似寒不寒。似熱不熱者屢有之。一藥違則大害生。是此八物甚難用矣。其餘諸藥。雖間有違失。非忽告變者。只此八味之藥。最難使焉。若可與姜附者。反以硝黃。則其害不少也。以一七之藥。害人之性命。為醫者不可不慎。然恐其猛。而徒用其劣者。則無有驗。然古今醫人治方。有各不周者。或有偏寒者。或有偏熱者。如斯則一寒一熱不得無過。故分八物之性。寒溫不偏。而能治之。可謂良工君子。醫其偏者為下工小人醫。凡行醫者。無為小人之醫。每臨百病。以八品之藥為主。加之以溫涼之良藥五六品。出入能用之。則其病無不愈。而自達治虢之妙境耳。</p>

<h1>跋</h1>
<p>海西大橋氏。為世良醫。以其居邊徼。人不知也已。少時入京。受業於駒御醫。既還。病者麇至。今年七秩。其間所治藥者。不知幾千萬也。最用心於疝瘕一症。奏效最捷。其法其方。世醫所不企及也。余曾聞諸門人玄節爾橋生。一日來謁於余曰。僕生來用工夫於疝瘕一症。似粗有所得者。可謂愚者一得也。唯恐其法其方。蕪沒於後世。而無有識者也。因著疝氣證治論一卷。方將梓之。以傳播人間。願先生賜一言以嚆矢之。余取讀之。文字雖固陋。而似有所見者也。因語之曰。余觀近世方書。猶歉歲之玉。雖美於目。無益於飢也。如吾子斯書。猶豐年之谷。雖為人所賤。而不可一日無之耳。果使其方有益於世邪。何問文字之工拙哉。吾子欲梓之。余何惜一言。遂題其後還之。</p>
<p><u>安永七年龍集戊戌夏五月張藩醫官滕惟寅撰</u></p>
