<header data-type="book">
<h1>經絡彙編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>翟良</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1628">公元1628年（明·崇禎元年）</data></dd></div>
</dl>
</header>

<h1>經絡統序</h1>
<p>經絡者，人之元氣，伏於氣血之中，周身流行，晝夜無間，所謂脈也。其脈之直行大隧者為經，其脈之分派交經者為絡，其脈絡之支別者，如樹之有枝，又以其自直行之脈絡，而旁行之者也。人肖天地以有生，其經絡亦肖天地之時運以流行，如每日寅時肺臟生，卯時流入大腸經，辰胃巳脾午心火，未時又到小腸經，申屬膀胱酉屬腎，戊居包絡亥三焦，子膽醜肝又屬肺，十二經脈任流行。十二經之脈，一有壅滯則病，太過、不及則病，外邪入經絡亦病。有始在一經，久而傳變，為症多端，其症各有經絡。如一頭疼也，而有左右之分，前後不同；一眼病也，而有大眥、小眥、黑珠、白珠、上下胞之異，當分經絡而治。經絡不分，倘病在肺經也而用心經藥，則肺病不除，徒損其心；病在血分也而用氣藥，則氣受其傷，而血病益甚。至外邪入經絡，而為傳變之症，尤不可不分經絡。東垣曰：傷寒邪在太陽經，誤用葛根湯，則引邪入陽明，是葛根湯乃陽明經藥，非太陽經藥也。由此推之，患病之夭於藥者，不知其幾許人矣。方書云：「不明十二經絡，開口動手便錯。」誠確論也。世之庸醫，輒曰吾大方脈也，非針灸科，何必識穴。曾不思先知經絡，後能定穴，穴可不識，經絡亦可不知乎？此其所以為庸也。今所匯之書，經絡最晰。穴不混淆，使學者因穴以尋絡，因絡以尋經，經絡瞭然，直尋病源，庶用藥無惑。仁人君子有實心濟世者，當注意於此矣。</p>

<h1>原始</h1>
<p>萬物生於造化之中，必賴元氣積累，漸次而成形。兒在母腹之中，亦賴氣血滋長，漸次而成體。人物之生，皆有所本云，何也？太極乃一氣耳，太極生兩儀，兩儀生四象，四象生五行，五行備而萬物生矣。當兩儀未判之先，總一太極也。太極如卵然，內則陰陽混沌也，至開闢而分天地，輕清為天，重濁為地。天垂象而有日月星辰，地奠形而有山川土石，此兩儀生四象也。四象具而五行彰，一生水，水全清，未有渣滓；二生火，火則薰灼溷濁而將凝也；三生木，木則半剛半柔，而體質成矣，四生金，全至剛而體質堅矣；五生土，土則重大，質厚而成形，是五行備矣。五行既備，則陰陽交合，而化生萬物也。人得天地之正氣而生，既有陰陽，即分男女，故稟乾道之粹者為男，稟坤道之粹者為女，乃鍾五行之秀，得氣化之全者也。故頭圓象天，足方象地，兩目以象日月，四肢以象四時，五臟以象五行，六腑以象六氣，呼吸以象氣機，寤寐以象晝夜，血脈以象江河，毛髮以象草木，骨節以象周天之度。一身之中，無不肖乎天地，天地間最靈於物者也。上以治歷明時，下以分州畫野，中以立綱陳紀。輔相天地之不及，裁成天地之太過，所以參天地而為三才也。其物之動而為獸者，稟陰陽之偏，頭體橫，四肢皆足而走。其物之動而為禽者，稟陰陽之盛，頭向上，而有翼能飛。其物之動而為水族者，稟陰陽之至，無翼足而沉水。植物本乎地，故根入於地，枝葉向乎天，此皆造化自然之妙也。今以人之形化言之。《易》曰：男女媾精，萬物化生，蓋精血會聚，胎孕乃成。其胎一月如珠露，二月如桃花，三月男女分，四月形象具，五月筋骨成，六月毛髮生。七月遊其魂而能動左手，八月遊其魄而能動右手，九月三轉身，十月滿足而生也。又曰：一月為胞，精血凝也。二月為胎，形兆胚也。三月陽神為主魂，動生靈也（三魂，一曰爽靈，二月胎胱，三曰幽精）。四月陰靈為七魄，靜鎮形也，（七魄，一名屍狗，二名伏矢，三名雀陰，四名吞賊，五名非毒，六名除穢，七名臭肺）。五月五行分臟，以安神也。六月六律定腑，用滋靈也。七月七精開竅，通光明也。八月八景神具，降真靈也。九月宮室羅布，以定精也。十月氣足，萬象成也。又有云：其臟腑生成之次第，若陰包陽者為男，先生左腎；陽包陰者為女，先生右腎。其次腎生脾，脾生肝，肝生肺，肺生心，以生其勝己者。腎屬水，故五贓由是為陰。其次心生小腸，小腸生大腸，大腸生膽。膽生胃，胃生膀胱，膀胱生三焦，以生其已勝者。小腸屬火，故六腑由是為陽。其次三焦生八脈，八脈生十二經，十二經生十五絡。十五絡生一百八十系絡，系絡生一百八十纏絡，纏絡生三萬四千孫絡，孫絡生三百二十五骨節，骨節生三百二十五大穴，大穴生八萬四千毛竅，則耳、目、口、鼻、四肢、百骸之身，皆備矣。且婦人懷孕，其各經逐月滋養胎元，皆有次第。一月足厥陰肝脈養，二月足少陽膽脈養，三月手厥陰心包絡脈養，四月手少陽三焦脈養，五月足太陰脾脈養，六月足陽明胃脈養，七月手太陰肺脈養，八月手陽明大腸脈養，九月足少陰腎脈養，十月足太陽膀胱脈養，諸陰陽各養兒三十日，惟手太陽小腸，與手少陰心脈，二脈不養者。以其下主月水，上為乳汁故也。若孕婦病而胎不安，就子所養月分，詳其氣血多寡，察其有餘不足而調之。</p>

<h1>臟腑聯絡分合詳說</h1>
<p>人生而百骸俱備，九竅（耳目口鼻陽七竅，前後陰二竅）皆靈，惟口之一竅，乃飲食之所從入，氣息呼吸之道路，門戶之首稱也。如口之上下口唇，名為飛門，言其動運開張，如物之飛搖也。上下牙齒，名為戶門，言其能司出入，如戶之啟閉也。雖屬足陽明經，其本又從腎生，腎主骨，故曰牙齒者骨之餘。牙齒以內，則舌居焉。舌乃心之苗，其本又兼脾腎二經，舌上隱竅曰廉泉，舌動而津液湧出，穴在結喉下。又有云：舌根下近牙處一小穴，名玉池穴，下通腎經，舌動而清水出，即腎水上潮，仙家謂之赤龍攪海。上齶之後，如小舌而下垂者，曰懸雍，乃發聲之機也。懸雍之下，舌之後，有咽、喉二竅，同出一脘，異塗施化，二道並行，各不相犯。喉在前，主出納，名吸門；其管堅空，其硬若骨，連接肺本，為氣息之路，呼吸出入，下通心肺之竅，以激諸脈之行，此氣管也。咽在後，主吞嚥，名咽門；其管柔空，其軟若皮，下接胃本，為飲食之路，水食同下，並歸胃中，此食管也。吸門、咽門之間，又有會厭，其形非肉非骨，由似肉似骨，如錢之大，覆於吸門之上，為聲音之關，薄則易於啟發，音出快而利便，厚則啟發遲，音出慢而聲重。吸門氣出，則會厭開張，若飲食自口入咽，必由吸門而過，會厭即垂，緊蓋吸門，飲食由會厭之上而入咽門，毫不犯喉，言語呼吸，則會厭開張。若當食之時，偶有言語，會厭因之而開張，覆蓋不嚴，則飲食乘氣逆入喉門而嗆矣。</p>
<p>氣管九節，重十二兩，長一尺二寸，廣二寸，內有十二小孔，孔不外透，乃氣息之路，謂之十二重樓，仙家謂之十二等級。下聯肺本，以肺乃相傳之官，又為華蓋，居諸臟之上，以覆蓋諸臟，統一身之氣，六葉兩耳，中有二十四空，虛如蜂窠，下無透竅，故吸之則滿，呼之則虛，一呼一吸，消息自然，無有窮也。主藏魄，重三斤三兩，附著於脊之第三椎。肺之下而心系焉。心乃君主之官，形如未放蓮花，中有七孔三毛。又有云：其象尖長扁圓，其色黑赤黃，其中竅數，多寡各異，迥不相同，上通於舌，下無透竅，統一身之血。主藏神，重十二兩，藏精汁三合，附著於脊之第五椎。外有脂膜包裹，赤黃色為心包絡，在心下橫膜之上，豎膜之下，與橫膜相聯，共成一片，周迴斜著於脊脅，俗名謂之羅膈。遮隔腸胃濁氣，使不得上薰心肺。所謂膻中也，膻在兩乳之間，為氣之海，清氣所居之地，主呼吸而條貫百脈者。包絡羅膈，與諸贓腑所聯之脂膜，俱繫於脊之上下。而包絡羅膈，則繫於脊之第七節，諸臟系皆於此而通於心，而心亦於是而通諸臟。《經》云：七節之傍，中有小心（傍，非傍側之傍，脊有左右兩傍，而小心居於其前），乃神靈之官也，禁不可刺。心有四系：一系上通於肺，肺受清氣，下乃灌注，以朝百脈。一系循脊，從左透膈而通於肝。肝乃將軍之官，如木甲折之象，左三葉，右四葉，凡七葉，亦有繫上絡心肺，為血之海，上通於目，下亦無透竅。主藏魂，重四斤四兩，附著於脊之第九椎。膽即繫於肝之短葉。膽者中正之官，決斷出焉，重三兩三銖，藏汁三合，一名謂之青腸。一系循脊，近右透膈而通於脾。脾在肝下，乃倉廩之官，與胃同膜而附其上。其色如鳥脾赤紫，其形如刀鐮。聞聲則動，動則磨胃，食乃消化。主藏意與智，重三斤三兩，長五寸，廣三寸，有散膏半斤，主裹血而藏榮，附著於脊之第十椎。一系入肺兩大葉間，由肺葉而下，曲折後向，並連脊膂細絡，貫脊髓，透膈而通於腎。腎在脾下，腎乃作強之官，形如豇豆，色紫黑，有二枚相併，而附著於脊之十四椎，兩傍各一寸五分，右為陽水，左為陰水，相對有橫管一條相通，中間有一穴，是命門，乃相火也。經云：兩個一般無兩樣，中間一點是真明，正此之謂也。主藏精與志，外有黃脂包裹，內裹淡白，各有帶二條，上條繫於心，下條過屏翳穴後，趨脊骨下，有大骨在脊之端，如半手許，中有兩竅，是腎經帶脈過處，上行夾脊，至腦中，是謂髓海。五臟之真，惟腎為根，上下有竅，穀味之液，化為氣血，氣血壯盛，化生精脈，精脈滿足，人乃久生。蓋五臟皆有精，而腎乃其聚處，所以謂腎乃精之舍。若腎精絕，則五臟之氣血無餘，豈能久生乎？所以人當調和飲食，以養後天之氣血；保攝精脈，以養先天之元氣。此喉之一竅，臟相聯絡者如此。食管自咽門至胃，長一尺六寸，透膈而通於胃。胃之上口，即食管下口，名為賁門，言其如物之奔而不返也。胃乃倉稟之官，水穀之海，號曰太倉，又謂之黃腸。重三斤十二兩，紆曲屈伸；長二尺六寸，廣一尺五寸，徑五寸；容谷二斗，水一斗五升，為受納之府，腐化水穀。胃之下口，即小腸上口，名為幽門，言其幽暗隱秘之處，水穀由此而入小腸。小腸乃承受之官，化物出焉。重二斤十四兩，長三丈二尺，廣二寸半，徑八分分之少半，左回疊積，盤十六曲，容谷二斗四升，水六升三合之大半，又謂之赤腸。小腸下口，即大腸上口，名為闌門，言其闌約水穀，從此泌別清濁。其清之如水者，滲入膀胱而為溺。膀胱與小腸，以脂膜相聯，有下口，無上口，承受闌門之清而為溺者，亦藉此脂膜以相通也。為其內空，善受濕氣，濕氣入始化而為溺，為州都之官，津液藏焉，氣化則能出矣。重九兩二銖，縱廣九寸，盛溺九升三合。又謂之黑腸，其濁之滓穢者，傳入大腸。大腸乃傳導之官，變化出焉，重二斤十二兩，長二丈一尺，廣四寸，徑一寸、寸之少半，右回疊積，盤十六曲，盛谷一斗，水七升半，又名迴腸。大腸下口，即直腸上口，名為魄門。直腸下口，名為肛門，滓穢之物，從此出焉。此咽之一竅，腑相聯絡者如此（膽在肝中，無竅通腑；三焦無形，借形為形，所以不曾續於腑之聯絡中。詳說在各臟腑圖論內）。臟腑有相合者、有不相合者，有大相懸絕者。臟與臟相合者，心肺也；贓與臟相懸絕者，肺腎也；臟與腑相合者，肝膽也、脾胃也。腑與腑相合者，胃與小腸，小腸與大腸也。膀胱雖附於小腸，非有孔道貫通者，是脂膜與小腸相聯而淡滲耳。項中有二竅，前則喉，後則咽，玉莖亦有二竅，上則溺管，下則精管。婦人牝漏之內，亦有二竅，其溺孔在上，小便從此而生，或病淋濁，亦從此出；其行經旋精，或崩漏遺泄，皆從下管而出。婦人下管，又名庭孔、血室、子宮。知此，則知淋濁、遺泄、崩帶，不一源矣。五臟六腑，俱相聯絡，而著於脊，又不可不知。</p>
<p>耳者腎之竅，眼者肝之竅，口者脾之竅，舌者心之竅，鼻者肺之竅。腎主骨，牙者骨之餘。肝主筋，指甲筋之餘。脾主肌肉，凡肉之盡處皆屬脾（如上下眼皮、上下唇皮、耳垂，並周圍之邊，指甲周圍之邊之類是也）。心主血，發者血之餘。肺主皮毛，遍身毛孔皆其餘。</p>
<p>以上言臟腑聯絡貫串之形、以下言臟腑氣血流行之脈，詳說見各臟腑圖論中。</p>

<h2>手太陰肺經（左右共二十二穴）</h2>
<figure>
<img data-orig-src="urn:270:05738.jpg" alt="手太陰肺經圖">
</figure>

<h2>肺臟之圖</h2>
<figure>
<img data-orig-src="urn:270:05739.jpg" alt="肺臟之圖">
</figure>
<p>《危言》曰：肺者茷也，茷茷然居乎上，為五臟之華蓋。《醫旨緒餘》曰，肺者勃也，言其氣勃鬱也。《難經》曰：肺重三斤三兩。</p>
<p><u>手太陰經肺</u>　肺者，相傳之官，治節出焉。統一身之氣，主藏魄，與大腸為表裡。其母脾土，其子腎水。其克肝木，其賊心火。其華在毛，其充在皮。其位西，其時秋，其色白，其脈澀而短，其音商，其數九，其臭腥，其惡寒，其液涕，其聲哭，其味辛。在五行屬金，其外候竅通於鼻。其形四垂如蓋，六葉兩耳，凡八葉，附著於脊之第三椎，中有二十四空，虛如蜂窠，下無透竅，故吸之則滿，呼之則虛，一呼一吸，消息自然。司清濁之運化，為人身之橐龠，行列分布以行諸臟之氣。其經多氣而少血，寅時氣血注此。其不足則太息，其有餘則喘嗽。其平脈浮短，其賊脈洪。其死丙丁日。其畜馬，其谷稻，上為太白星。</p>
<p>其見證也，善嚏，悲愁欲哭，灑浙寒熱，缺盆中痛，腹痛，肩背痛，臍右少腹脹痛，小便數，溏泄，皮膚痛及麻木，喘、少氣，頰上氣見。形寒飲冷則傷肺。實則夢兵戈競擾，虛則夢田野平原。憂傷肺，喜勝憂，熱傷皮毛，寒勝熱，辛傷皮毛，苦勝辛。辛走氣，氣病毋多食辛。多食苦，則皮膚槁而毛拔。</p>
<p>其經之脈，起於中焦，受足厥陰之交，下絡大腸，復行本經之外，還循胃口，迤邐上膈，而會屬於肺臟。從肺系出而橫行胸部四行之中府、雲門，以出腋下；下循臑內，歷天府、俠白，行少陰心經、手厥陰心主包絡兩經之前，下入肘中，抵尺澤，循臂內上骨之下膔，歷孔最、列缺穴，入寸口之經渠、太淵，以上循魚際，出大指之端少商穴；而絡脈之支行者，從腕後列缺穴，達次指內膔出其端，而交於手陽明經，由合骨二間三間以至於商陽穴，又自商陽而上行也。</p>

<h2>肺臟諸穴歌</h2>
<p>手太陰十一穴，中府雲門天府列，俠白下尺澤，孔最見列缺，經渠太淵下魚際，抵指少商如韭葉。</p>

<h2>又分寸歌</h2>
<p>太陰肺兮出中府，雲門之下一寸許，雲門璇璣旁六寸，巨骨之下二骨數，天府腋下三寸求，俠白肘上五寸主，尺澤肘中約文論，孔最腕下七寸取，列缺腕上一寸半，經渠寸口陷中是，太淵掌後橫紋頭，魚際節後散脈舉，少商大指端內側，鼻衄刺之立見止（璇現，任脈穴名。巨骨，手陽明大腸經穴名）。</p>

<h2>手陽明大腸經（左右共四十穴）</h2>
<figure>
<img data-orig-src="urn:270:05740.jpg" alt="手陽明大腸經圖">
</figure>

<h2>大腸腑之圖</h2>
<figure>
<img data-orig-src="urn:270:05741.jpg" alt="大腸腑之圖">
</figure>
<p>迴腸者，以其回疊也；廣腸即迴腸之更大者，直腸，又廣腸之末節也，下連肛門，是為穀道、後陰，一名魄門，總皆大腸也。廣腸長二尺八寸，受谷九升三合八分合之一。</p>
<p>《難經》曰：大腸重二斤十二兩，肛門重十二兩。《危言》曰：腸者暢也，貴通暢也。</p>
<p><u>手陽明經大腸</u>　大腸者，傳導之官，變化出焉。其體長二丈一尺，廣四寸，徑一寸，當臍右回十六曲，受谷一斗，水七升半，其上口接小腸之下口。在干為庚，在支司酉，在五行屬金，在八卦為兌，與太陰肺為表裡。其經氣血俱多，卯時氣血注此。</p>
<p>其見證也，齒痛頗腫，目黃口乾，鼻衄喉痹，肩前臑痛，大指次指難用，耳聾輝輝焞焞，耳肺嘈嘈，耳後、肩臑、肘臂外皆痛。氣滿，皮膚堅而不痛；氣盛，則脈太過而熱腫；虛則脈不給而寒慄。</p>
<p>其經之脈，起於大指次指之端商陽穴，受手太陰之交，行陽之分。由是循次指之上廉，歷二間、三間以出合谷兩骨之風復上入陽谿兩筋之中；自陽谿而上，循臂上廉之偏歷、溫溜、下廉、上廉、三里，入肘外廉之曲池，循膀外前廉，歷肘髎、五里、臂臑，絡手少陽之臑會，上肩至本經之肩髃；出肩髃之前廉，循巨骨上行，會督之大椎，由大椎而下，入足陽明之缺盆，循足陽明之外絡，繞肺臟，復下膈，當胃經天樞之分會屬於大腸；其支者，自缺盆上行於頸，循天鼎、扶突上貫於頰，入下齒縫中，由齒縫復出俠口兩吻，相交於人中之內，左脈之右，右脈之左，上俠鼻孔，循禾髎、迎香，以交於足之陽明經，而由承泣、四白、巨髎、地倉至頭維，又自頭維而下行也。</p>

<h2>大腸經諸穴歌</h2>
<p>手陽明廿穴名　循商陽二間三間而行，歷合谷陽谿之俞　過偏歷溫溜之濱，下廉上廉三里而近，曲池肘髎五里之程，臂臑肩髃上於巨骨，無鼎紆乎扶突，禾髎唇連，迎香鼻迫。</p>

<h2>又分寸歌</h2>
<p>商陽鹽指內側邊，二間來尋本節前，三間節後陷中取，合谷虎口岐骨間；陽谿上側腕中是，偏歷腕後三寸安，溫溜腕後去五寸，池前五寸下廉看；池前三寸上廉中，池前二寸三里逢，曲池曲骨紋頭盡，肘髎大骨外廉近；大筋中央尋五里，肘上三寸行向里，臂臑肘上七寸量，肩髃肩端舉臂取；巨骨肩尖端上行，天鼎喉旁四寸真，扶突天突旁三寸，禾髎水溝旁五分，迎香禾髎上一寸，大腸經穴自分明。</p>

<h2>足陽明胃經（左右共九十穴）</h2>
<figure>
<img data-orig-src="urn:270:05742.jpg" alt="足陽明胃經圖">
</figure>

<h2>胃腑之圖</h2>
<figure>
<img data-orig-src="urn:270:05743.jpg" alt="胃腑之圖">
</figure>
<p>胃之上口，名曰賁門，飲食之精氣，從此上輸於脾、肺，宣播於諸脈。</p>
<p>《卮言》曰：胃者匯也，號為都市，五味匯聚，何所不容，萬物歸土之義也。《難經》曰：胃重二斤一兩。</p>
<p>胃之下口，即小腸上口，名幽門。</p>
<p><u>足陽明經胃</u>　胃者，水穀之海，六腑之大源。其體大一尺五寸，紆曲屈申長二丈六寸，容谷二斗，水一斗五升，位居中焦。在五行屬土，與足太陰為表裡。其經氣血俱多，官與脾同，辰時氣血注此。</p>
<p>其見證也，灑然振寒，善呻數欠，顏黑，病至則惡人與火；聞木音，則惕然而驚，心欲動，獨閉戶塞牖而處，甚則欲上高而歌，棄衣而走，賁響腹脹，是為骭厥。是主血所生病者，狂瘧，濕淫汗出，鼽衄，口喎唇胗，頭腫喉痹，大腹水腫，膝濱腫痛，循膺乳、氣衝、股伏兔、骭外廉、足跗上皆痛，中指不用。氣盛則身前熱，其有餘於胃，則消穀善飢，溺色黃；氣不足則色皆寒慄；胃中塞則脹滿。</p>
<p>其經之脈，受手陽明之交，起於鼻兩旁手陽明之迎香穴。由是而上，左右交於額中，過足太陽睛明之分，下循鼻外，曆本經承泣、四白、巨髎，入上齒縫中，復出循地倉，挾兩口吻，環繞唇下，左右相交於承漿之分，由承漿循頤後之下廉，出大迎，循頰車，上耳前，過膽之客主人，循髮際，會足少陽之懸釐、頷厭之分，循下關、頭維，會於膽之懸顱，督之神庭：分支絡，從大迎前，下人迎，循喉嚨，歷水突、氣舍，入缺盆，行足少陰俞府之外，下膈當上脘、中脘之分，屬胃絡脾；於此分支，從缺盆下乳內廉，循氣戶、庫房、屋翳、膺窗、乳中、乳根、不容、承滿、梁門、關門、太乙、滑肉，下挾臍，歷過天樞、外陵、大巨、水道、歸來諸穴，入氣衝中（即氣衝）；其支行者，自屬胃處起於胃之下口，循腹裡，過足少陰育愈之外，本經之裡，下至氣衝，於前直行入氣衝者相合。自此而行髀關，抵伏兔、歷陰市、梁丘，下入膝臏中；於此又分正支，經犢鼻，下循胻外之三里、上巨虛、條口、下巨虛、豐隆、解谿，下足附之衝陽、陷谷，入中指外間之內庭，至歷兌而終。其抽支自膝下三寸，循三里穴之外；別行而下入中指外間，與前入內庭、歷兌正支合。又一小支自附上衝陽穴，別行入大指間，斜出足厥陰行間穴之外，循大指下出其端，以交於足之太陰經，由隱白、大都、太白、公孫、商丘而上行也。</p>

<h2>胃經諸穴歌</h2>
<p>足陽明四十五，自承泣四白而數，巨髎有地倉之積，大迎來頰車之夥；下關頭維以人迎，水突氣舍與缺盆，氣戶兮庫房屋翳，膺窗兮乳中乳根，不容承滿，梁門關門，太乙滑肉，天樞外陵；大巨從水道歸來，氣衝入髀關之境，伏兔至陰市梁丘，犢鼻自三里而行；上巨虛兮（即上廉）條口，下巨虛兮（即下廉）豐隆，解谿衝陽入陷谷，下內庭厲兌而終。</p>

<h2>又分寸歌</h2>
<p>胃之經兮足陽明，承泣目下七分尋，四白目下方一寸，巨髎鼻孔旁八分，地倉夾物四分近。大迎頷下寸三中，頰車耳下八分穴，下關耳前動脈行，頭維神庭旁四五（神庭，督脈穴，在中行髮際上五分，頭維去神庭四寸五分）。人迎喉旁寸五真，水突筋前迎下在，氣舍突下穴相乘（氣舍，在水突下），缺盆舍下橫骨內，各去中行寸半明。氣戶璇璣旁四寸，至乳六寸又四分，庫房屋翳膺窗近，乳中正在乳頭心。次有乳根出乳下，各一寸六不相侵（自氣戶至乳根六穴，上下相去各一寸六分，去中行任脈各四寸），卻去中行須四寸，以前穴道與君陳。不容巨闕旁三寸（巨闕，任脈穴，臍上六寸五分），卻行幽門寸五新（幽門，腎經穴，巨闕旁一寸五分，在胃經、任脈二脈之中），其下承滿與梁門，關門太乙滑肉門，上下一寸無多少，共去中行三寸中。天樞臍旁二寸間，樞下一寸外陵安，樞下二寸大巨穴，樞下四寸水道全，樞下六寸歸來好，共去中行二寸邊。氣衝鼠鼷上一寸（鼠鼷，橫骨盡處），又去中行四寸專，髀關膝上有尺二，伏兔膝上六寸是，陰市膝上方三寸，梁丘膝上二寸記。膝臏陷中犢鼻存，膝下三寸三里至，膝下六寸上廉穴，膝下七寸條口味，膝下八寸下廉看。膝下九寸豐隆系，卻是踝上八寸量。比那下廉外邊綴，解谿去庭六寸半（庭，內庭也），衝陽庭後五寸換，陷骨庭後二寸間，內庭次指外間現（足大指次指外間陷中），歷兌大指次指端，去爪如韭胃井判（璇璣，任脈穴名）</p>

<h2>足太陰脾經（左右共四十二穴）</h2>
<figure>
<img data-orig-src="urn:270:05744.jpg" alt="足太陰脾經圖">
</figure>

<h2>脾臟之圖</h2>
<figure>
<img data-orig-src="urn:270:05745.jpg" alt="脾臟之圖">
</figure>
<p>遺篇《刺法論》曰：脾為諫議之官，知周出焉。滑氏曰：掩乎太倉。華元化曰：脾主消磨五穀，養於四旁。中梓曰：脾胃屬土，俱從田字，胃居正中，田字亦中，脾處於右，田亦偏右。</p>
<p>《難經》曰：脾重二斤三兩，廣扁三寸，長五寸，有散膏半斤，主裹血，溫五藏。</p>
<p><u>足太陰經脾</u>　脾者，倉稟之官，五味出焉，乃榮之居也。主藏意與智，主一身之肌肉，為五臟之本。其母心火，其子肺金。其克腎水，其賊肝木。其華在唇四白，其充在肉。其位中央，其時長夏，其脈緩，其色黃，其音宮，其數五，其臭香，其聲歌，其味甘，其惡濕，其液涎。在五行屬土。其外竅通於口，其形廣三寸，長五寸，掩候於太倉，附著子脊之第十一椎，與胃為表裡。其經多氣而少血，巳時氣血注此。其不足則少氣，其有餘脹滿。其平脈緩，其賊脈弦。其死甲乙日。其畜牛，其谷稷，上為鎮星。</p>
<p>其見證也，五泄，二便閉，面黃，舌本強，口甘，食則嘔，胃脘痛，腹脹腸鳴，善噫善飢；後出餘氣則快，身體四肢倦怠，食不下咽，煩心，心下急痛，寒瘧，溏瘕泄，水閉，黃疽，不能臥，強立，股膝內腫，足大指不為用。飲食勞倦則傷脾。實則夢歡歌快樂，虛則夢飲食相爭。思傷脾，怒勝思，濕傷肉，風勝濕，甘傷肉，酸勝甘。甘走肉，肉病毋多食甘。多食酸，則肉胝䐢而唇揭。</p>
<p>其經之脈，起於足大指之端隱白穴，受足陽明之交。由是循大指內側白肉際大部穴，過核骨後，歷太白、公孫、商丘，上內踝前廉之二陰交，上腨內，循胻骨後之漏谷，上行二寸，交出足厥陰中都穴之前，至地機、陰陵泉；自陰陵泉上循膝骨內之前廉，血海、箕門迤邐入腹，經衝門、府舍，會任脈之中極、關元，復循腹結、大橫，會任脈之下脘；歷腹哀，過足少陽之日月，足厥陰之期門，復循本經腹哀之裡，下至任之中脘、下脘之際，屬脾而絡於胃。再由腹哀上膈，循食竇、天溪、胸鄉、周榮，由周榮外，曲折向下至大包，由大包外曲折向上，會於肺之中府，上行交胃經人迎穴之裡，挾咽連舌，散舌本而終；其支者，循腹哀行至胃部，會任脈之中脘外，上膈，注於任之膻中之裡，而交於手少陰心經，文自極泉而下行也。</p>

<h2>脾經諸穴歌</h2>
<p>足太陰脾中洲，二十一穴太自遊，趙大都穴瞻太白，訪公孫兮至商丘，越三陰之交而漏谷地機，可即步陰陵之泉，而血海箕門是求，入衝門兮府舍軒豁，解腹結兮大橫優遊。腹哀食竇兮，接天溪而同派；胸鄉周榮兮，綴大包而如鉤。</p>

<h2>又分寸歌</h2>
<p>大指端內側隱白，節後陷中求大都，太白內側核骨下，節後一寸公孫呼。商丘內踝微前陷，踝上三寸三陰交，踝上六寸漏谷是，漏上五寸地機朝。膝下內側限陵泉，血海膝臏上內廉，箕門穴在魚腹取，動脈應手越筋間。衝門期下尺五分（期門，肝經穴，巨闕旁四寸五分；巨闕，任脈穴，臍上六寸五分），府舍期下九寸看，腹結期下六寸入，大橫期下五寸半。腹哀期下方二寸，期門肝經穴道現，巨闕之旁四寸五，卻連脾穴休胡亂。自此以上食竇穴，天溪胸鄉周榮貫，相去寸六無多寡，又上六寸中府換，大包腋下有六寸，淵液腋下三寸絆（淵液，膽經穴，腋下三寸；與脾大包穴相連）。</p>

<h2>手少陰心經（左右共十八穴）</h2>
<figure>
<img data-orig-src="urn:270:05746.jpg" alt="手少陰心經圖">
</figure>

<h2>心臟之圖</h2>
<figure>
<img data-orig-src="urn:270:05747.jpg" alt="心臟之圖">
</figure>
<p>心象尖圓，形如蓮蕊，其中有竅，多寡不同，以導引天真之氣。下無透竅，上通乎舌，共有四系，以通四臟。心外有赤黃裹脂，是為心包絡，心下有膈膜，與脊脅周迴相著，遮蔽濁氣，使不得上熏心肺，所謂膻中也。</p>
<p><u>手少陰經心</u>　心者，君主之官，神明出焉。統一身之血，主藏神，以膻中為腑，與小腸為表裡。其母肝木，其</p>
<p><u>子脾土。其克肺金，其賊腎水。其時夏，其色赤，其脈洪而鉤，其位南，其卦為離，其音徵，其惡熱，其數七，其味苦，其臭焦。其華面，其液汗</u>　其聲笑。在五行屬火。其經多氣而少血，午時氣血注此。其形如未放蓮花，中有七孔三毛。又有云：其象尖長扁圓，其色黑赤黃，其中竅數多寡各異。其外候竅通於舌，重十二兩，盛精汁三合，居肺下膈上，附著於脊之第五椎，有四系；一系上通於肺；一系循脊從左透膈而通於肝；一系循脊近右沒透於脾：一系入肺兩大葉間，由肺葉而下，曲折後向，正連脊膂細絡，貫脊髓，與腎相通。於七節之間，而諸臟系皆於此而通於心，而心亦於是而通於諸臟。其不足則憂，其有餘則笑不休。其平脈洪，其賊脈沉。其死壬癸曰。其畜羊，其谷黍。上為熒惑星。</p>
<p>其見證也，消渴，兩腎內痛，後廉腰背痛，浸淫善笑，善驚善忘，上咳吐，下氣泄，眩僕身熱，腹痛而悲。憂愁思慮則傷心。實則夢憂驚恐怖，虛則夢煙火焰明。喜傷心，恐勝喜；熱傷氣，寒勝熱；苦傷氣，酸勝苦。苦走血，血病毋多食苦。多食鹹，則脈凝位而變色。</p>
<p>其經之脈，受足太陰之交，起於心中，循任脈之外，屬心系下膈，當臍二寸之分，而絡小腸；其支者，從心系上挾咽，系目；其直者，復從心系直上，至肺臟之分，出循腋下，抵極泉；自極泉下循臑內後廉，行手太陰、心主兩經之後，歷青靈穴，下時內廉，抵少海，手腕下踝為兌骨。自少海而下，循臂內廉，循歷靈道、通里，至掌兌骨之端，循陰郄、神門，入掌內廉至少府，循小指端之少衝穴而終，以交於下太陽經。又由少澤、前谷、後谿而上行也。</p>

<h2>心經諸穴歌</h2>
<p>手少陰九穴成，極泉青靈少海深，自靈道通里而達，過陰郄神門而迎，抵於少府少衝可尋。</p>

<h2>又分寸歌</h2>
<p>少陰心起極泉中，腋下筋間脈入胸（臂內腋下筋間，動脈入胸），青靈肘上三分取（時舉臂取之），少海肘後端五分（肘內廉節後大骨外，出肘端五分，屈肘向頭得之），靈道掌後一寸半，通里腕後一寸同，陰郄腕後方半寸，神門掌後兌骨隆，少府節後勞宮直，小指內側取少衝。</p>

<h2>手太陽小腸經（左右共三十八穴）</h2>
<figure>
<img data-orig-src="urn:270:05748.jpg" alt="手太陽小腸經圖">
</figure>

<h2>小腸腑之圖</h2>
<figure>
<img data-orig-src="urn:270:05749.jpg" alt="小腸腑之圖">
</figure>
<p>小腸重二斤十四兩，長三丈二尺，廣二寸半，徑八分分之少半，左回疊積十六曲，容谷二斗四升，水六升三合合之大半。</p>
<p><u>手太陽經小腸</u>　小腸者，受盛之官，化物出焉。其體長三丈二尺，左回疊十六曲。其上口接胃之下口，其下口按大腸之上口，在臍上一寸水分穴，至是泌別清濁；其水液清者入膀胱，渣滓濁者入大腸。在五行屬火，在八卦為離，與手少陰為表裡。其經多血而少氣，未時氣血注此。</p>
<p>其見證也，嗌痛，額頷腫痛，不可以顧，腰似折，耳聾目黃，頰腫，頸、頷、肩、臑、肘、臂外後廉痛。</p>
<p>其經之脈，起於小指之端外側少澤穴，受手少陰心經之交。由是循手指外側之前谷、後谿上腕，出踝中歷腕骨、陽谷、養老；自養老直上，循臂骨下廉支正穴，出時內側兩筋之間，歷小海穴，上循臑外後廉，行手陽明、少陽之外，出肩解，繞肩𩨹上肩，循肩貞、臑俞、天宗、秉風、曲垣、肩外俞、肩中俞諸穴，上會於督之大椎，分左右相交於兩肩之上；由此入足陽明之缺盆，循肩向腋下行，當任脈膻中之分，絡心，循胃系下膈，過任之上脘、中脘，抵胃下行任脈之外，當臍上二寸之分，屬小腸；其支者，從胃之缺盆，循頸之天窗、天容，上頰抵顴髎，上至目外角之銳眥，過足少陽之瞳子髎，卻入耳中，循聽宮而終；其支者，別循頰上䪼，抵鼻，至目內眥睛明穴，以斜絡於顴，而交於足之太陽經。足太陽起睛明、通天，自通天斜行，左右相交於巔上之百會，分支而下行也。</p>

<h2>小腸經諸穴歌</h2>
<p>小腸穴十九，中路從少澤，步前谷後谿之隆，道遵腕骨，觀陽谷養老之崇，得支正於小海，逐肩貞以相從。值臑俞兮遇天宗，乘秉風兮曲垣中，肩外俞兮肩中俞，啟天窗兮見天容，匪由顴髎，易造聽宮？</p>

<h2>又分寸歌</h2>
<p>小指端外為少澤，前谷外側節前覓，節後捏拳取後谿，腕骨腕前骨陷側。兌骨下陷陽谷討，腕上一寸名養老，支正腕後量五寸，小海肘端五分好。肩貞𩨹下兩骨解，𩪰俞大骨下陷考（大骨下，𩨹上廉，舉臂取之），天宗秉風后骨陷，秉風髎外舉有空（天髎外，肩上髃後，舉臂有空），曲垣肩中曲𩨹陷，外俞𩨹後一寸從（即外肩俞，肩𩨹上廉,　去脊三寸）。肩中二寸大杼旁，天窗扶突後陷詳（頸大筋間前，曲頰下扶突後動脈，應手陷中），天容耳下曲頰後，顴髎面煩銳端星（面頄骨下廉，銳骨端陷中），聽宮耳端大如菽（耳中珠子，大如赤小豆），此為小腸手太陽。</p>

<h2>足太陽膀胱經（左右共一百二十六穴）</h2>
<figure>
<img data-orig-src="urn:270:05750.jpg" alt="足太陽膀胱經圖">
</figure>

<h2>膀胱腑之圖</h2>
<figure>
<img data-orig-src="urn:270:05751.jpg" alt="膀胱腑之圖">
</figure>
<p>膀胱重九兩二銖，縱廣九寸，盛尿九升九合，廣二寸半。</p>
<p>《甲乙經》曰：膀者，橫也；胱者，廣也，言其體橫廣而短也。</p>
<p><u>足太陽經膀胱</u>　膀胱者，州都之官，津液藏焉，氣化則能出矣。注曰：位當孤腑，故謂都官。居下內空，善受濕氣，故藏津液，若得氣海之氣施化，則溲便注泄；氣海之氣不及，則隱閉不通，故曰氣化則能出矣。所謂孤腑者，諸腑俱有口，上下相通，惟膽與膀胱、與諸腑無相通之口。膽與肝為表裡，膽在肝內，臟腑合一，亦為不孤。膀胱與腎，雖是表裡，氣血相通，形不合一，獨居於臟腑之下，孤腑之所由稱也。膀胱之體，重九兩二銖，縱橫二寸，居腎下之前，大腸之側，當臍上一寸水分穴之所。小腸下口，乃膀胱之上際也。膀胱有下口，無上口，實與小腸無口相接，惟有脂膜相連。其脂膜包裹膀胱，如綿球之狀，其脂膜與脾之大絡，各臟腑之脂膜，俱相聯，所以謂脾之濕氣，亦能滲入膀胱，而化為溺。但不若脂膜中之絡系，上通於小腸之下口、大腸之上口，相交會處而為闌門者，闌約水穀，清濁從此泌別。濁之濁者，傳入大腸；濁之清者，由脂膜之絡系滲入膀胱。膀胱實無上口，所謂有上口者，非也，方書有云：飲食之味，氣入於胃，稟脾之運化，而胥為濕氣，若炊甑然。蒸蒸布焌，充拓於郛廓之內。其輕清者，上而為榮血，為清氣，為津液；其慓悍者，為衛氣。濁中濁者，傳入小腸、大腸而為屎；濁中清者，滲入膀胱而為溺。未入之先，尚是濕氣，既入始化而成溺，一管直達前陰而出矣。又有精管，循腰脊，繞大腸之右，而同出於前陰，但精管在溺管之下，至玉莖龜頭，挽歸一口。其經多血而少氣，申時氣血注此。</p>
<p>其見證也，頭苦痛，目似脫，頭兩邊痛，淚出，臍反出，下腫，便膿血，肌肉痿，項似拔，小腹脹，按之欲小便不得。</p>
<p>其經之脈，起於目內眥睛明穴，受手太陽之交也，上額循攢竹，過督之神庭，歷曲差、五處、承光、通天；自通天斜行，左右相交於巔上督脈之百會，由此分一支抵耳上角，過足少陽之率谷、浮白、竅陰，散養於諸經；其直者，由通天穴，循絡卻、玉枕入絡腦，復出下項抵天柱，自天柱而下，通督之大椎、陶道，卻循肩膊內，挾脊兩旁，相去各一寸半下行、歷大抒、風門、肺俞、厥陰俞、心俞、膈俞、肝俞、膽俞、脾俞、胃俞、三焦俞、腎俞、大腸俞、小腸俞、膀胱俞、中膂俞、白環俞，由是抵腰中，入循膂，絡腎屬膀胱；由腰中又分支，循腰髀，下挾脊，歷上髎、次髎、中髎、下髎，出會陽，下貫臀，至承扶、殷門、浮郄、委陽，入膕中之委中穴；又一正支，自天柱而下，從膊左右別行，下貫胛膂，歷附分、魄戶、膏育、神堂、噫嘻、膈關、魂門、陽綱、意舍、胃倉、育門、志室、胞盲、秩邊，下歷尻臀，過足陽明之髀樞，循髀外後廉，髀骨之裡，承扶之外一寸五分之間而下，與前之入膕者相合；正支者下行，循合陽下貫腨內，歷承筋、承山、飛揚、附陽，出外踝後之崑崙、僕參、申脈、金門，循京骨、束骨、通谷，至小指外側端之至陰穴，以交於足少陰之經，由湧泉、然谷而上行也。</p>

<h2>膀胱經諸穴歌</h2>
<p>足太陽六十三，睛明攢竹詣曲差五處之分，承光通天見絡卻玉枕之行。天柱高兮大抒抵，風門開兮肺俞當，厥陰心膈之會，肝膽脾胃之藏。三焦腎兮大腸小腸，膀胱俞兮中膂白環，自從大抒至此，去脊中寸半之間。又有上次中下四髎，在腰四空以和調，會陽居尻尾之旁（尻尾，任脈穴名），吾背二行始了。仍上二椎旁附分（二椎下兩旁，去脊中三寸），三椎旁魄戶膏育，並四椎而過神堂。噫嘻兮膈關魂門，陽綱意舍兮胃倉盲門，志室胞育背以秩邊而分。承扶浮郄與委陽，殷門委中而合陽。至承筋與承山，到飛揚與附陽，會崑崙僕參申脈，探金門京骨之場，由束骨而通谷，抵小指外至陰之門。</p>

<h2>又分寸歌</h2>
<p>足太陽膀胱經，目內眥角始睛明，眉頭陷中攢竹取，曲差發際上五分。五處發上一寸是，承光發上二寸半，通天絡卻玉枕穴，相去寸五調勻看。玉枕夾腦一寸三，入發二寸腕骨見，天柱項後髮際中，大筋外廉陷中獻。自此夾脊開寸五，第一大抒二風門，三椎肺俞厥陰四，心俞五椎之下論。膈七肝九十膽俞，十一脾俞十二胃，十三三焦十四腎，大腸十六之下椎，小腸十八膀十九，中膂內俞二十椎，白環二十椎下當（白環俞即腰俞），以上諸穴可排之。更有上次中下髎，一二三四腰空好，會陽陰尾反骨旁，背部二行諸穴了。又從脊上開三寸，第二椎下為附分，三椎魄戶四膏育，第五椎下神堂尊，第六噫嘻膈關七，第九魂門陽綱十，十一意舍之穴存，十二胃倉穴已分，十三育門端正在，十四志室不須論，十九胞盲廿秩邊，背部三行諸穴勻。又從臀下陰攻取，承扶居於陷中主，浮郄扶下方六分，委陽扶下寸六數。殷門扶下六寸長，膕中外廉兩筋鄉，委中膝膕約紋里，此下三寸尋合陽，承筋腳裙上七寸，穴在腨腸之中央，承山腨下分肉間，外踝七寸上飛揚，附陽外踝上三寸，崑崙外跟陷中央，僕參亦在踝骨下，申脈踝下五分張，金門申脈下一寸，京骨外側骨際量，束骨本節後陷中，通谷節前陷中計，至陰卻在小指側，以上諸穴屬膀胱。</p>

<h2>足少陰腎經（左右共五十四穴）</h2>
<figure>
<img data-orig-src="urn:270:05752.jpg" alt="足少陰腎經圖">
</figure>

<h2>腎臟之圖</h2>
<figure>
<img data-orig-src="urn:270:05753.jpg" alt="腎臟之圖">
</figure>
<p>父母媾精，未有形象，先結河車，中間透起一莖，如蓮蕊初生，乃臍帶也。蕊中一點，實生身立命之原，即命門也。自此天一生水，先結兩腎。夫命處於中，兩腎左右開合，正如門中棖闑，故曰命門，蓋一陽處於二陰之間，所以成乎坎也。</p>
<p>《甲乙經》曰：腎者引也，能引氣通於骨髓。《卮言》曰：腎者神也，妙萬物而為言也。</p>
<p>腎有兩枚，形如豇豆，重一斤一兩，附脊十四椎，當胃下兩旁，前後與臍平直。</p>
<p><u>足少陰經腎</u>　腎者，作強之官，技巧出焉，蟄藏之本，精之居也。五臟皆有精，而腎乃其聚處，所以謂腎者，精之舍也，以膀胱為腑。其母肺金，其子肝木。其克心火，其賊脾土。其華在發，其充在骨。其位北，其藏志，其旺冬，其色黑，其脈沉而滑，其音羽，其數六，其臭腐，其惡燥，其聲呻。在七情為恐，在六氣為寒，在五味為咸，在干為癸，在支司子，在八卦為坎，在五行屬水。其外候耳。其形如豇豆，色紫黑，有二枚，併入脊膂，附著於脊之第十四椎，兩旁各一寸五分，外有黃脂包裹，內里淡白，兩腎相通，有橫管一條，中間一穴，乃命門也，前與臍平。其經多氣而少血，酉時氣血注此。其不足則厥，其有餘則腸泄。其平脈沉，其賊脈緩。其死戊巳日。其畜彘，其谷豆，上為辰星。</p>
<p>其見證也，面如漆，眇中清，面黑如炭，口渴舌乾，咽腫干痛，咳唾多血，胸中滿，大小腹痛，大便難，臍、左脅下、背、肩、髀間痛，飢不飲食，心懸如飢，腹大脛腫，咳嗽，脊臀股後痛，臍下氣逆，小腹急痛泄，足痿厥，下腫，足胻寒而逆，腸癖，陰下濕，四指黑，手指青厥，足下熱，嗜臥，坐而欲起，凍瘡下痢，善思善恐，四肢不收，四肢不舉。久坐濕地，強力入水則傷腎。實則夢腰脊解軟，虛則夢涉水恐懼。恐傷腎，思勝恐；寒傷血，燥勝寒；咸傷血，甘勝咸。咸走骨，骨病毋多食鹹，多食甘則骨疼痛而齒落。</p>
<p>其經之脈，受足太陽膀胱經之交，起於足小指之下，斜趨足心之湧泉穴。由湧泉轉出足內踝前，起大骨下然谷之下，循內踝之後太谿，別入跟中之大鐘、照海、水泉，循內踝，行厥陰、太陰兩經之後，曆本經復溜、交信穴，過足太陰脾經之三陰交，上腨內，循築賓，出膕內廉，抵陰谷；由陰谷上股內後廉，貫脊會督脈之長強，環出於前，循本經橫骨、大赫、氣穴、四滿、中注、盲俞，當育俞之所，臍之左右，屬腎下臍，過任脈之關元、中極而絡膀胱；其直者，從育俞屬腎之所上行，循商曲、石夫、陰都、通谷等穴，貫肝，上循幽門，上膈歷步廊，入肺；循本經神封、靈墟、神藏、或中、俞府而上循喉嚨，並足陽明胃經之人迎，挾舌本而終；其支者，自神藏別出繞心注胸，會任之膻中，以交於手厥陰心包絡之經，自天池、天泉而下行也。</p>

<h2>腎經諸穴歌</h2>
<p>少陰腎經二十七，湧泉然谷太谿位，大鐘照海通水泉，復溜交信築賓連。陽谷橫骨與大赫，氣穴四滿中注垣，盲俞商曲石關位，陰都通谷幽門纏，步廊神封靈墟位，神藏或中俞府全。</p>

<h2>又分寸歌</h2>
<p>足掌心中是湧泉，然谷踝下一寸前（內踝前一寸），太谿踝後跟骨上，大鐘跟後踵中邊（足跟後踵中，大骨上兩筋門也）。水泉溪下一寸覓，照海踝下四寸真，復溜踝上前二寸，交信踝上二寸聯，二穴止隔筋前後，太陰之後少陰前（前旁骨是復溜，後旁骨是交信，二穴止隔一條筋）。築賓內踝上踹分，陰谷膝下曲膝間，橫骨大赫並氣穴，四滿中注亦相連，各開中行止寸半，上下相去一寸便。上隔盲俞亦一寸，育俞臍旁半寸邊，育俞商曲石關來，陰都通谷幽門開，各開中行五分俠，六穴上下一寸裁。步廊神封靈噓存，神藏或中俞府尊，各開中行計二寸，上下寸六六穴同，俞府璇璣旁二寸，取之得法有成功。</p>
<p>（馬玄臺曰：陰都，中脘旁五分。通谷，上脘旁五分。幽門，巨闕旁各五分。又按：下自橫骨、大赫、氣穴、四滿、中注，上下各去一寸，所謂橫骨在盲俞下五寸，有以也。但自橫骨至中注）各開中行一寸半，盲俞、商曲、石關、陰都、通谷、幽門，各開中行五分，自步廊、神封、靈墟、神藏、彧中、俞府，去中行各二寸，其屈曲有如此。《徐氏針灸書》皆以二行言，誤矣。巨闕，任脈穴名）</p>

<h2>手厥陰心包絡經（左右共一十八穴）</h2>
<figure>
<img data-orig-src="urn:270:05754.jpg" alt="手厥陰心包絡經圖">
</figure>

<h2>心胞絡經之圖</h2>
<figure>
<img data-orig-src="urn:270:05755.jpg" alt="心胞絡經之圖">
</figure>
<p>心包一藏，《難經》言其無形。滑伯仁曰：心包，一名手心主：以藏象校之，在心下橫膜之上，豎膜之下。其與橫膜相黏，而黃脂裹者，心也。脂膜之外，有細筋膜如絲，與心肺相連者，心包也。此說為是，凡言無形者非。</p>
<p>胞絡者，胞絡其心也，即膻中也，為心之所以來，諸說不一，承訛已久，今考正之。</p>
<p><u>手厥陰心胞絡</u>　一名心主，即膻中也。膻中者，臣使之官，喜樂出焉。或問手厥陰一經，曰心主，曰心包絡，又曰膻中者，何也？蓋心，君火也；包絡，相火也。君火以名，相火以位，相火代君火行事。以用而言，故曰心主，以經而言，則曰心包絡。又臼膻中者，《靈蘭秘典篇》云：膻中者臣使之官，喜樂出焉。蓋喜笑心火所司，喜樂之意，正與心應也。獨稱臣使者，君主之親臣也。由是推之，則包絡即膻中也，膻中即心主也，總一經而各異其名耳。其形質在心下橫膜之上，豎膜之下，與橫膜相連，而黃脂裹者，心也；其脂膜之外，細筋膜如絲，與心肺相連者，心包絡也。然包絡非止於心聯絡而包之己也，其實一脂膜，羅膈相聯，與脾之大絡，腹內之脂膜，遍徹腔中，統繫於脊，臟腑藉此以相聯。贓腑之氣血，即藉此以相通。既繫於脊，則臟腑與軀殼相聯必藉此；臟腑之氣血，與軀殼相灌，亦必藉此，則包絡實臟腑之總司也。有名有形，所謂無形者非也。其經多血而少氣，與三焦為表裡，戌時氣血注此。</p>
<p>其見證也，笑不休，手心熱，臂肘攣急，腋腫，甚則胸腋肢滿，面赤煩心。</p>
<p>其經之脈，起於胸中，出屬心下之包絡，受足少陰腎經之交也。由是下膈，絡於三焦之上脘、中脘；其支者，自屬心包，上循胸，出脅，下腋三寸天池穴，上行抵腋下，下循臑內之天泉，以界乎手太陰、手少陽兩經之中間，入肘中之曲澤穴。又由肘中下臂，行臂兩筋之間，循郄門、間使、內關、大陵，入掌中勞宮，循中指出其端之中衝；其支別者，從掌中，循無名指出其端，而交於手少陽三焦經，自關衝、液門而上行也。</p>

<h2>心包絡經諸穴歌</h2>
<p>手厥陰心包之絡，計有九穴之奇，自天池天泉而始，逐曲澤郄門而馳，間使通乎內關，大陵近於勞宮，既有掌握乃抵中衝。</p>

<h2>又分寸歌</h2>
<p>心絡起自天池間，乳後一寸腋下三（腋下三寸，乳後一寸），天泉曲腋下三寸，曲澤屈肘陷中央，郄門去腕方五寸（掌後去腕五寸），間使腕後三寸量，內關去腕止二寸，大陵掌後兩筋間，勞宮屈中名指取（屈中指、無名指取之），中指之末中衝詳。</p>

<h2>手少陽三焦經（左右共四十六穴）</h2>
<figure>
<img data-orig-src="urn:270:05756.jpg" alt="手少陽三焦經圖">
</figure>

<h2>三焦經之圖</h2>
<figure>
<img data-orig-src="urn:270:05757.jpg" alt="三焦經之圖">
</figure>
<p>《中藏經》曰：三焦者，人之三元之氣也，總領五臟六腑、營衛、經絡、內外、左右、上下之氣。三焦通，則內外、左右、上下皆通，其於周身灌體，和內調外，榮左養右，導上宣下，莫大於此也。</p>
<p><u>手少陽經三焦</u>　三焦者，決瀆之官，水道出焉。上焦在胃上口，其治在膻中；中焦在中脘，其治在臍旁，下焦在膀胱之上，其治在臍下一寸。上焦如霧，中焦如漚，下焦如瀆。雖有上、中、下，其實徹上、徹下皆腎間真陽之氣也。膈膜脂膏之內，五臟六腑之隙，水穀流化之關，其氣融會於其間，薰蒸膈膜，腐化水穀，發達皮膚分肉，運行四旁，實元氣之別使也。為元氣之別使者，以元氣賴其導引，潛行默運於一身之中，所以謂活命之根也。曰上、中、下者，各隨所屬之部分，而臟腑脂膜之空處皆是也。是故雖無其形，倚內外之形而得名，雖無其實，合內外之實而為位者也。所謂借形以為形者也，是此經本有名有形，後世以為無狀有名者，非也。其經多氣而少血，與手厥陰為表裡，亥時氣血注此。</p>
<p>其見證也，耳聾渾渾焞焞，咽痛喉痹，目銳眥角痛，耳後、肩臑、時臂外皆痛，小指次指不為用。</p>
<p>其經之脈，受手厥陰心包絡經之交，起於小指次指之端關衝穴，上出次指之間，歷液門、中渚，循手表腕之陽池，出臂外兩骨之間；循外關、支溝、會宗、三陽、四瀆，上貫肘，抵天井穴；從天井上行，循臂臑之外，歷清冷淵、消濼，行手太陽之裡、手陽明之外，上肩，循臑會、肩髎、天髎，交出足少陽之後，過手太陽之秉風、足少陽之肩井，下入陽明之缺盆，復由足陽明之外，而交會於膻中，散布絡繞於心包絡，下膈，當胃上口，以屬上焦；於中脘，以屬中焦；於下脘，以屬下焦，其支者，從任之膻中而出缺盆，上項挾耳後，過督之大椎，循天牖上抵耳後，經翳風、瘛脈、顱息，直上出耳上角之角孫，過足少陽之懸釐、頷厭、陽白，及太陽睛明之分，屈曲下頰至䪼，會手太陽顴髎，其又支者，自翳風入耳之分中，過手太陽之聽宮，歷耳門行禾髎，卻出至目銳眥，會足少陽之瞳子髎，循絲竹空，而交於足少陽之膽經，自瞳子髎、聽會而下行也。</p>

<h2>三焦經諸穴歌</h2>
<p>手少陽穴二十三，關衝液門中渚旁，陽池外關支溝位，會宗三陽四瀆行，天井清冷消濼位，臑會肩髎天髎當，天牖翳風瘛脈接，顱息角孫耳門場，禾髎絲竹空穴畢，此經穴法細推詳。</p>

<h2>又分寸歌</h2>
<p>無名之外端關衝，液門小次指陷中，中渚腋下去一寸，陽池腕上之陷中。外關腕後方二寸，腕後三寸開支溝（臂外三寸兩骨間），腕後三寸內會宗，空中有穴細心求。腕後四寸三陽絡，四瀆肘前五寸著，天井時外大骨後，骨罅中間一寸摸。肘後二寸清冷淵，消濼臑節腋臂下看，臑會肩前三寸中（肩前廉，去肩頭三寸宛宛中），肩髎臑上陷中央。天牖容之後存（天牖，頸大筋外，缺盆上，天容後，天柱前，完骨下，髮際上），翳風耳後尖角陷（耳後尖角陷中，拔之引耳中），瘛脈耳後青脈現，顱息亦在青絡脈。角孫耳廊中間上，耳門耳前起肉中（耳前起肉，當耳缺陷中），禾髎耳前動脈張，欲覓絲竹空何在，眉後陷中仔細量。</p>

<h2>足少陽膽經（左右共八十六穴）</h2>
<figure>
<img data-orig-src="urn:270:05758.jpg" alt="足少陽膽經圖">
</figure>

<h2>膽腑之圖</h2>
<figure>
<img data-orig-src="urn:270:05760.jpg" alt="膽腑之圖">
</figure>
<p>膽在肝之短葉間，重三兩三銖，藏精汁三合，狀如瓶。</p>
<p>中梓曰：膽者擔也，中正之官，決斷出焉，言有擔當也。</p>
<p><u>足少陽經膽</u>　膽者，中正之官，決斷出焉。又曰：膽者澹也，清淨之府，無所受無所輸，淡淡然也。其體重三兩三銖，包精汁三合，居肝之短葉問，與肝形質相合，在干為甲，在支司寅，在八卦為震，與肝為表裡。其經多氣而少血，子時氣血注此。</p>
<p>其見證也，口苦，善太息，心脅痛不能轉側，甚則面微塵，體無膏，足外反熱，頭角頷痛，目銳角痛，缺盆腫痛，馬刀挾癭，小指次指不為用。</p>
<p>其經之脈，受手少相之交，起於目外眥之瞳子髎，由聽會、客主人，上抵頭角，歷頷厭，下懸顱、懸釐，外循耳，上髮際，至曲鬢、率谷；由率谷外折，下耳後，循天衝、浮白、竅陰、完骨；又自完骨外折，上會於少陽三焦之角孫，循本神，會足太陽膀胱之曲差下行，循本經之陽白，復會膀胱之睛明上行，循本經之臨位、目窗、正營、承靈、腦空、風池；由風池循頸，會於手少陽三焦之天牖，下至肩上，以循本經之肩井，左右相交，出手少陽之後，會督之大椎、膀胱之大杼、小腸之秉風（蓋秉風乃手太陽、陽明、少陽及足少陽四經之所會也），前入足陽明之缺盆，下腋循胸，歷淵液、輒筋、日月，會帶脈之季脅，循本經京門、帝脈、五樞、維道、居髎，上髀中，橫過折下，循環跳而下，歷髀外，行太陽、陽明之間，循中瀆、陽關，出膝外廉，抵陽陵泉，由陽陵泉下行外輔骨，歷陽交、外丘、光明，直下抵絕骨之端，循陽輔、懸鐘而下，出外踝之前，至丘墟，循足面之臨位、地五會、俠谿，上入小指次指之間竅陰穴而終；其支別者，自足跗面臨位穴別行，入大指，循大指本節後岐骨內，出大指端，貫爪甲後之三毛，入爪甲而交於足厥陰之肝經，由大敦、行間、太衝而上行也。按：此經頸部有三曲折，圖難盡其形狀，故為之詳說，以便觀覽。自瞳子髎至風池，凡二十穴，作三折，向外而行，始於瞳子髎至完骨為一折；自完骨外折，上至陽明會睛明為一折；自睛明上行，循臨位、風池為一折。緣其穴曲折，不可旁註，乃作一至二十，次第以該之：一瞳子髎、二聽會、三容主人、四頷厭、五懸顱、六懸釐、七曲鬢、八率谷、九天衝、十浮白、十一竅陰、十二完骨、十三本神、十四陽白、十五臨位、十六目窗、十六正營、十八承靈、十九腦空、二十風池。</p>

<h2>膽經諸穴歌</h2>
<p>足少陽膽四十三，瞳子髎與聽會安，客主人同頷厭集，懸顱懸釐曲鬢行，率谷天衝浮白繼，竅陰完骨本神當，陽白臨泣目窗住，正營承靈腦空行，風池肩井兼淵液，輒筋日月京門關，帶脈五樞維道續，居髎環跳接中瀆，陽關陽陵復陽交，外丘光明陽輔交，懸鐘丘墟足臨位，地五俠谿竅陰畢。</p>

<h2>又分寸歌</h2>
<p>足少陽兮四十三，頭上二十穴分三折，起自瞳子至風池，積數陳之依次第。瞳子髎近眥五分，耳前陷中尋聽會（耳微前陷中，上關下一寸），客主人名上關同，耳前起骨開口空。頷厭懸顱之二穴，腦空上廉曲角下（腦空即顳顬。頷厭、懸顱二穴，在曲角之下、腦空之上），懸釐之穴異於茲，腦空下廉曲角上。曲鬢耳上髮際隅（耳上髮際曲隅陷中），率谷耳上寸半安（此穴在耳上些），天衝耳後入發二（耳後入髮際二寸），浮白入發一寸間（亦耳後些）。竅陰即是枕骨穴，完骨之上有空連（在完骨上、枕骨下，動搖有空），完骨耳後入髮際，量得四分須用記。本神神庭旁三寸，入發一寸耳上系，陽白眉上方一寸，發上五分臨泣用（目上，直入髮際五分陷中），發上一寸當陽穴，發上半寸目窗貢，正營發上二寸半，承靈發上四寸擁，腦空發上五寸半，風池耳後發陷中（耳後顳顬後，腦空下發際陷中）。肩井肩上陷中求，大骨之前一寸半（肩上陷中，缺盆上、大骨前一寸半，以三指按取，當中指陷中），淵液腋下方三寸，輒筋期下五分判。期門卻是肝經穴，相去巨闕四寸半，日月期門下五分，京門監骨下腰絆（監骨，下腰中季脅，本夾脊，腎之募）。帶脈章門下寸八，五樞章下四八貫（五樞去帶脈三寸，季脅下四寸八分），維道章下五寸三，居髎章下八寸三。章門緣是肝經穴，下脘之旁九寸含，環跳髀樞宛宛中（髀樞中，側臥，屈上足、伸下足，以右手摸穴，左搖撼取之），屈上伸下取穴同。風市垂手中指盡，膝上五寸中瀆論（髀外膝上五寸肉間陷中），陽關陽陵上三寸，陽陵膝下一寸從。陽交外踝上七寸，踝上六寸外丘用，踝上五寸光明穴，踝上四寸陽輔分，踝上三寸懸鐘在，丘墟踝前之陷中，此去俠谿四寸五，卻是膽經原穴功。臨泣俠谿後寸半，地五會去溪一寸，俠谿在指岐骨間，竅陰四五二指端。</p>

<h2>足厥陰肝經（左右共二十八穴）</h2>
<figure>
<img data-orig-src="urn:270:05759.jpg" alt="足厥陰肝經圖">
</figure>

<h2>肝臟之圖</h2>
<figure>
<img data-orig-src="urn:270:05761.jpg" alt="肝臟之圖">
</figure>
<p>肝重四斤四兩，左二葉，右四葉，附脊第九椎。</p>
<p>《卮言》曰：肝者干也，屬木，象木枝幹也。</p>
<p><u>足厥陰經肝</u>　肝者，將軍之官，謀慮出焉。主納血，為血海，魂之居也。其華在爪，其充在筋。其位東，其時春，其色青，其脈弦而長，其臭臊，其聲呼。在七情為怒，在六氣為風，在五味為酸，在於為乙，在支司卯，在八卦為巽，在五行屬木。其母腎水，其子心火。其克脾上，其賊肺金。其外候陰器，與膽為表裡。其經少氣而多血，丑時氣血注此。其不足則悲，其有餘則怒。其平脈弦，其賊脈澀。其死庚辛日。其畜雞，其穀麥，上為歲星。</p>
<p>其見證也，頭痛，脫色，善潔，耳無聞，頰腫，肝逆面青，目赤腫痛，兩脅下痛，引小腹胸痛，脅腫，婦人小腹腫，腰痛不可俯仰，四肢滿悶挺長，熱嘔逆，睪疝暴癢，足逆寒，胻善瘛，遺溺，淋溲便難，癃狐疝㿗，冒眩轉筋，陰縮筋攣，善恐，胸中喘，罵詈。血在脅下，喘。恚怒氣逆，上而不下，則傷肝。實則夢山林大樹　虛則夢細草苔蘚。怒傷肝，悲勝怒；風傷筋，燥勝風；酸傷筋，辛勝酸，酸走筋，筋病毋多食酸。多食辛，則筋攣急而爪枯。</p>
<p>其經之脈，受足少陽之交，起於足大指聚毛之大敦，循足附上廉，歷行間、太衝，抵內躁前一寸之中封；自中封上踝，過足太陰脾經之三陰交，歷蠡溝、中都，復上一寸，交出太陰之後，上膕內廉，以至膝關、曲泉　上行循股內之陰包、五里、陰廉，遂當足太陰衝門、府舍之分，入任脈之陰毛中，左右相交，環繞陰器，抵小腹而上，會於任脈曲骨、中極、關元之穴，循本經之章門，至期門之所，挾胃屬肝，下足少陽膽經日月之分，絡於膽。由期門上貫膈，行足太陰脾經食竇之外、大包之裡，散布脅下。上手太陰肺經之雲門、足少陽淵腋之間，足陽明胃人迎之外，循喉嚨之後，上入頏顙，再行足陽明胃經地倉、人迎、四白之外，連目系，上出額，行膽經臨泣之裡，與督脈會與巔頂之百會；其支者，從目系，下行任脈之外、本經之中，下頰裡，交環於唇口之內；其又支者，從期門屬肝處，別貫膈，行足太陰脾經食竇之外、本經之裡，上注肺，下行至中焦，挾任之中脘之分，以交於手太陰之經，由中府、雲門、天府而下行也。</p>

<h2>肝經諸穴歌</h2>
<p>足厥陰一十四穴終，起大敦於行間，循太衝於中封，蠡溝中都之會，膝關曲泉之宮，襲陰包於五里，陰廉乃發，尋羊矢於章門，期門可攻。</p>

<h2>又分寸歌</h2>
<p>足大指端名大敦（內側為隱白，外側為大敦），行間大指縫中存，太衝本節後二寸，踝前一寸號中封（足內踝骨前一寸，筋里宛宛中）。蠡溝踝上五寸是（內踝骨前上五寸），中都踝上七寸中（內踝上七寸前骨中），膝關犢鼻下二寸，曲泉曲膝盡橫紋。陰包膝上方四寸（股內廉兩筋間，蜷足取之，看膝內側必有陷中），氣衝三寸下五里（氣下三寸，陰股中動脈應手），陰廉衝下有二寸，羊矢衝下一寸許。氣衝卻是胃經穴，鼠鼷之上一寸主，鼠鼷橫骨端盡處，相去中行四寸止。章門下脘旁九寸，肘尖盡處側臥取，期門又在巨闕旁，四寸五分無差矣（巨闕，任脈穴，臍上六寸五分）。</p>

<h2>任脈（二十四穴）</h2>
<figure>
<img data-orig-src="urn:270:05762.jpg" alt="任脈圖">
</figure>

<h2>任脈論</h2>
<p>任者，總也，乃腎之配，與督本一源而分為二歧也，督乃由會陽而行背，任則由會陰而行腹。人身任、督猶天地南北也，可以分、可以合，分之見陰陽之不雜，合之見渾淪之無間。</p>
<p>其見證也，苦內結，男子為七疝，女子為瘕聚。</p>
<p>其脈起於中極，下會陰之分，由是循曲骨，上毛際，至中極，行腹裡，循關元、石門、氣海、陰交、神闕、水分、下脘、建里、中脘、上脘、巨闕、鳩尾、中庭、膻中、玉堂、紫宮、華蓋、璇璣、天突、廉泉，上頤循承漿，至齦交分行，系兩目之中央，會承泣而終；其支者，起於包中，循脊裡為經絡之海；其浮而外者，循腹上行，會於咽喉，別絡唇口。氣血盛則肌肉熱，血獨盛則滲灌皮膚，而生毫毛。婦人月事數下，不足於血，衝任二脈俱傷，不能榮其口唇，是以髭鬚不生。</p>

<h2>任脈諸穴歌</h2>
<p>任脈二十四穴行腹與胸，會陰始兮曲骨從，中極關元石門可通，氣海陰交神闕水分。下脘建里兮，中脘上脘；巨闕鳩尾兮，中庭膻中。玉堂上紫宮華蓋，璇璣上天突之尊，飲彼廉泉，承漿味融。</p>

<h2>又分寸歌</h2>
<p>任脈會陰兩陰間，曲骨毛際陷中安，中極臍下四寸取，關元臍下三寸連。臍下二寸名石門，臍下寸半氣海全，臍下一寸陰交穴，臍之中央即神闕。臍上一寸為水分，臍上二寸下脘列。臍上三寸名建里，臍上四寸中脘許，臍上五寸上脘在，巨闕臍上六寸五。鳩尾蔽骨下五分，中庭膻下六寸取，膻中卻在兩乳間，膻上寸六玉堂主，膻上紫宮三寸二，膻上華蓋四八舉（四寸八分）。膻上璇璣五寸入，璣上一寸天突起，天突喉下約四寸，廉泉頷下骨尖已，承漿頤前唇稜下，任脈中央行腹裡。</p>

<h2>督脈（共二十八穴）</h2>
<figure>
<img data-orig-src="urn:270:05763.jpg" alt="督脈圖">
</figure>

<h2>督脈論</h2>
<p>督者，都也，行背部之中行，為陽脈之都綱，乃奇經八脈之一也。</p>
<p>其見證也，脊強而腰厥。</p>
<p>其脈起於下極之所，循長強並脊裡而上行，歷腰俞、陽關、命門、懸樞、脊中、中樞、筋束、至陽、靈臺、神道、身柱，過足太陽之風門，循陶道、大椎、啞門，至風府入腦，循腦戶、強間、後頂上巔，至百會、前頂、囟會、上星、神庭，循額至鼻柱，歷素髎、水溝、兌端，至齦交而終；其支者，起於小腹之下骨中央，女子入系庭孔之端，其細絡循陰器，合篡間，繞篡後，別繞臀，至少陰與太陽中路，合上股內後廉，貫脊屬腎。與足太陽起目內眥，上額交巔，入絡腦，還出別下項，循肩脖內，挾脊抵腰中，入循膂絡腎，其男子循莖下至篡，與女子等，其小腹直上者，貫臍中央，上貫心，入喉上頤，環唇，上系兩目之中。</p>

<h2>督脈諸穴歌</h2>
<p>督脈在背之中行，二十八穴始長強，舞腰俞兮歌陽關，入命門兮懸樞間。脊中中樞筋束，乃造至陽靈臺，上神道身柱陶道，以大椎而駐，症門風府兮，腦戶強間；後頂百會兮，前頂在前。囟會近上星之照，神庭見素髎之妙。水溝至兌端而無差，齦交居唇內而病療。</p>

<h2>又分寸歌</h2>
<p>督脈齦交唇內鄉，兌端正在唇端央，水溝鼻下溝中索，素髎宜向鼻端詳。頭形北高面南下，先以前後髮際量，分為一尺有二寸，發上五分神庭當。發上一寸上星位，發上二寸囟會良，發上前頂三寸半，發上百會五寸央（在頂中央旋毛中）。會後寸半即後頂，會後三寸強間明，會後腦戶四寸半，後發入寸風府行（頂後發入一寸，大筋內宛宛中），發上五分瘂門在，發後際上五分，項中央宛宛中，仰頭取之，入系舌本），神庭至此十穴真。自此項骨下脊骶，分為二十有四椎，大椎上有項骨在，約有三椎莫算之，尾有長強亦不算，中間二十一可排推。大椎大骨為第一，二椎節內陶道知，第三椎間身柱在，第五神道不須疑，第六靈臺至陽七，第九身內筋束思，第十中樞十一脊中之穴在，十二懸樞之穴奇，十四命門腎俞並，十六陽關自可知，二十一椎即腰俞，脊尾骨端長強隨。</p>

<h2>手經起止圖</h2>
<figure>
<img data-orig-src="urn:270:05764.jpg" alt="手經起止圖">
</figure>
<p><u>少澤穴</u>　手太陽小指之穴，在手指之端外側，小腸脈起於此穴，止於聽宮。</p>
<p><u>少衝穴</u>　手少陰心經之穴，在手小指內廉去爪甲如韭葉，心脈起於極泉，止於此穴。</p>
<p><u>關衝穴</u>　手少陽三焦之穴，在手小指次指之外側，即手第四指之端也，三焦脈起於此穴，止於絲竹空。</p>
<p><u>中衝穴</u>　手厥陰心包之穴，在手中指之端，包絡脈起於天池，止於此穴。</p>
<p><u>商陽穴</u>　手陽明大腸之穴，在手大指次指之端，大腸脈起於此穴，止於迎香穴。</p>
<p><u>少商穴</u>　手太陰肺經之穴，在手大指之端，內側白肉宛宛中，肺脈起於中府，止於此穴。</p>

<h2>足經起止圖</h2>
<figure>
<img data-orig-src="urn:270:05765.jpg" alt="足經起止圖">
</figure>
<p><u>湧泉穴</u>　足少陰腎經之穴，在足心，腎脈起於此穴，止於俞府。</p>
<p><u>至陰穴</u>　足太陽膀胱之穴，在足小指外側之端，膀胱脈起於睛明，止於此穴。</p>
<p><u>竅陰穴</u>　足少陽膽經之穴，在足小指次指之端，膽脈起於瞳子髎，止於此穴。</p>
<p><u>厲兌穴</u>　足陽明胃經之穴，在足大指內次指之端，胃脈起於承泣，止於此穴。</p>
<p><u>隱白穴</u>　足太陰脾經之穴，在足大指之外側也，脾脈起於此穴，止於大包。</p>
<p><u>大敦六</u>　足厥陰肝經之穴，在足大指之端三毛之中，肝脈起於此穴，止於期門。</p>
<p>凡言手經者，手之三陰，從胸走手，手之三陽，從手走頭；脈氣之行，不至於足也。凡言足經者，足之三陰，從足走胸；足之三陽，從頭走足；脈氣之行，不至於手也（此手足陰陽之說，較之井、榮、俞、經、合之說，簡而明，書之以便後學觀覽）。</p>
<p>以上圖論詳註，明陰陽交接，陽不混於陰，陰不混於陽，以見陰陽之不雜。</p>
<p>以下借為問答，明陰陽交濟，陽中有陰，陰中有陽，以見陰陽之不離。</p>
<p>或問：頭為諸陽之首，陰氣自𩓐項而回，如手三陰，肩胸走手，足三陰，自足走胸，全不及於頭面，然則頭面之部，全無陰乎？答曰：何得無陰？如眼者，肝之竅，肝乃足厥陰經也。鼻者，肺之竅，肺乃手太陰經也。耳者，腎之竅，腎乃足少陰經也。舌者，心之竅，心乃手少陰經也。口者，脾之竅，脾乃足太陰經也。何嘗無陰？</p>
<p>或問：十二經有十二絡，共任、督、脾絡而為十五絡。其經一一相傳，宜皆謂之經。其經之外，又何者為絡也？答曰：人身脈氣之行，直行大隧者為經，分支交經者為絡。十二經之絡，乃十二經之別也。蓋別者，本經脈氣，行至交經之處，所交之經，則直行其經矣，而本經之脈，則散之諸經，以養諸經之脈，而別行之，所謂絡脈也。如手太陰肺經，其脈氣之行，起於中焦，自胸部中府穴，下行至手大指之少商穴而止，自此其脈氣則散於諸經，以養諸經之脈。自列缺穴，交手陽明大腸經，而陽明經，則又自手大指次指之端商陽穴，往上而直行其經矣。此言肺之一經，諸經仿此。蓋人之一身經有不到之處，絡無不到之處矣。</p>
<p>或問：人身有陰陽，六臟屬陰，六腑屬陽。足三陰，自足走胸；手三陰，自胸走手；手三陽，自手走頭，可易知也。足三陽，自頭走足。足三陽，是膽、胃、膀胱三腑，俱在下部，又謂之足經。其經脈之行，宜自足而上，乃自頭而下者，何也？答曰：人身一天地也，羅膈以上屬天，羅膈以下屬地。所以云，呼出於心肺，天也，陽也；吸納於腎肝，地也，陰也。頭、面、耳、目、口、鼻、舌五臟之透竅，陰也。手三陽、足三陽俱在頭，陽也，亦上陽下陰之意，此皆人身生定不易之陰陽也。至於經絡之流行，自陰傳陽，自陽傳陰，又一身流動之陰陽也。人之一身，上則屬陽，天也；下則屬陰，地也。天地陰陽，人生之始，其部位各一分定。足三陽部位穴情既定於頭，其脈氣之流動，烏得不自高而下行也？大抵諸經脈氣，經絡未交，寂然不動；經絡一交，脈氣即行，是人身流動之陰陽，皆生定不易之陰陽相交接也。人身是一小天地。今再以天地之陰陽申言之，天屬陽，地屬陰，此天地已定之陰陽。至於地氣上升而為云，天氣下降而為雨，又天地交泰流動之陰陽也。晝則屬陽，夜則屬陰，亦天地已定之陰陽。至於晝而復夜，夜而復晝，日者，陽之精，月者，陰之精，每一月初旬，則日前行而月後，先陽而後陰也，十五之後，則月前行而日後，先陰而後陽也，陰陽交濟亦流動之陰陽也。由此推之，人身之陰陽，可洞悉矣。</p>
<p>或問：真陽之氣，蓄於命門。陽氣鼓動，煦育無形之氣，生有形之質，先天之元氣在於此；其氣熏蒸臟腑，腐化水穀，後天之氣血生於此，命門之所由稱也。而十二經之中，不載命門，何也？答曰：命門之氣，人之有生，胞胎凝結，即含此氣。其氣熏蒸煦育先天無形之真陽，生後天有形之臟腑。先生兩腎，其次腎生脾，脾生肝，肝生肺，肺生心，以生其勝己者。腎屬水，故五臟由是而為陰。其次心生小腸，小腸生大腸，大腸生膽，膽生胃，胃生膀胱，膀胱三焦，以生其己勝者。小腸屬火，故六腑由是而為陽。則命門實五臟六腑之根蒂，陰陽之橐龠，十二經之總司也。且其氣與膈膜脂膏之內，五臟六腑之隙，水穀流化之關，融會於其間，熏蒸膈膜，腐化水穀，發達皮膚分肉，運行四旁。五臟非此，悉皆寒凝之質；六腑非此，難成腐化之功。是命門之氣，統通臟腑，默行十二經絡，豈一經之所能盡，十二經之所能遺者哉？何謂不載？</p>

<h2>十二經臟腑圖</h2>
<figure>
<img data-orig-src="urn:270:05766.jpg" alt="十二經臟腑圖">
</figure>

<h2>十二經歌</h2>
<p>太陽小腸足膀胱，陽明大腸足胃當，少陽三焦足膽配，太陰手肺足脾鄉，少陰心經足為腎，厥陰包絡足肝方。</p>

<h2>十二經臟腑表裡圖</h2>
<figure>
<img data-orig-src="urn:270:05767.jpg" alt="十二經臟腑表裡圖">
</figure>

<h2>經有十二、絡有十五</h2>
<p>心、肝。脾、肺、腎為五臟，並心包絡為六臟；大小腸膽、胃、膀胱，並三焦為六腑，合之而為十二經。十二經各有其絡，共陽蹺、陰蹺、脾之大絡為十五絡。十五絡之外，猶有支絡。蓋經者徑也，經脈之行，以氣血之流行周身，經常而不斷者言也，如川流之不息矣。絡猶兜也，如人橫線為絡，以兜物也。絡脈之行，以氣血之分布一身，無微而不周者言也，如川流之分派而不泄矣。（有云：十二經，加督脈、任脈為十五絡，非陰蹺、陽蹺也少，不知當看一別字。十二經共督、任二脈之別，為十五絡。別即陰蹺、陽蹺，非有二也。）</p>
<p>五臟（臟者藏也，藏精氣而不泄，滿而不實。如心、肺皆有空竅，肝、腎、脾亦有小小筒系，條數不一之空竅，心包亦然）。</p>
<p>六腑（腑者空也，傳化物而不藏，實而不滿。如腸胃皆空，飲食入胃，則胃實而腸空，下入於腸，則腸實而胃空，實則又下行矣，膀胱亦然）。</p>

<h2>十二經所屬歌</h2>
<p>手經太陽屬小腸，膀胱經屬足太陽，肝足厥陰手包絡，胃足陽明手大腸，膽屬少陽足經尋，三焦手內少陽臨，腎足少陰手是心，脾足太陰手肺金。</p>

<h2>十二經納甲歌</h2>
<p>（此歌，諸腑配陽，諸臟配陰）</p>
<p>甲膽乙肝丙小腸，丁心戊胃己脾鄉，庚屬大腸辛屬肺，壬屬膀胱癸腎藏，三焦陽腑須歸丙，包絡從陰丁火旁。</p>
<p>舊云：三焦亦向壬中寄，包絡同歸入癸方，雖三焦為決瀆，猶可言壬，而包絡附心主，安得云癸？且二臟表裡皆相火也，今改正之。</p>

<h2>十二經氣血多少歌</h2>
<p>多氣多血惟陽明，少氣太陽同厥陰，二少太陰常少血，六經氣血須分明。</p>

<h2>十二經註釋</h2>
<p>少陽，陽之始，一陽初出地外，即嫩陽也，故謂之少陽。太陽，陽之盛，陽氣升至極之分也，故謂之太陽。陽明，居太陽、少陽之中，兩陽合明，曰陽明，陰陽等也。少陰，陰之始；太陰，陰之盛，厥陰者，兩陰交盡曰厥。</p>

<h2>榮衛清濁升降論</h2>
<p>清氣為榮。清者，休之上也，陽也，火也，離中之陰降，午後一陰生，即心之生血，故曰清氣為榮。濁氣為衛。濁者，體之下也，陰也，水也，坎中之陽升，子後一陽生，即腎陽舉而使之，故曰濁氣為衛。地之濁不能升，地之清能升為陽，舉而使之上也。天之清不降，天之濁能降為陰，驅而使下也。經曰：地氣上為云，天氣下為雨，此之謂也。</p>

<h2>入式訣</h2>
<p>諸臟腑已各有圖穴注於冊論中矣。依此圖穴，另再各畫一張，統共置於面前，或臟或腑，將每經圖論，一一隨穴挨著。有上行者，有下行者，有從身後正行，身前正行，與偏行者，其墨線是脈行之路，墨圈是脈絡之穴，細細辨明。或本經有遇他經穴名者，即以他經穴圖與本經穴圖並看。庶知本經穴圖與他經穴圖其經脈之行，或在一路，或相隔幾寸幾分之不同，隨穴圖將經絡所行之路，一一認明，只記脈行起止二穴，是借穴以審經絡，不必如專門針灸，每穴而記之也。</p>

<h2>衝脈論</h2>
<p>（沖者要也，言其為陰脈之海，通受諸經之氣血也。）</p>
<p>衝脈者，與任脈皆起於胸中，上循脊裡，為經絡之海；其浮於外者，循腹，上會於咽喉，終唇口；其支者，起於足陽明之氣衝，並足少陰之經，挾臍左右各五分，上行至胸中而散。其見證也，令人逆氣裡急。</p>

<h2>帶脈論</h2>
<p>（言其總束諸脈如帶也）</p>
<p>帶脈起於季脅，環身一周如帶，與足少陽會於維道。其見證也，腰腹從容，如囊水之狀，若婦女則赤白帶證，蓋由濕熱於此滲流而下，故名帶下。</p>

<h2>陽蹺脈論</h2>
<p>蹺者，言其為健足行步之關要也。</p>
<p>陽蹺起於跟中，循外踝，上行入風池，其脈長八尺。生於足太陽之申脈，與足少陰會於居髎，與手陽明會於肩髃、巨骨，與手足太陽、會於陽維會，與小腸經之臑俞，與手足陽明會於胃經之地倉、巨髎，又與任脈會於胃之承泣。其見證也，令人陰緩而陽急，並宜刺之。</p>

<h2>陰蹺脈論</h2>
<p>陰蹺脈亦起於跟中，循內踝上行，至咽喉，交貫衝脈，亦長八尺。生於足少陰然谷之後，上內踝，循陰股入陰，至胸裡，入缺盆，出胃經人迎之前，入鼻，屬目內眥，合於太陽。女子以為之經，男子以為之絡。其見證也，令人陽緩而陰急。此經之病，多取足少陽之交信（內踝上二寸），蓋以交信為郄云。</p>

<h2>陽維脈論</h2>
<p>陽維者維於陽，為諸陽之會，與陰維皆絡於身。若陽不能維於陽，則溶溶不能自收持。其脈起於足太陽之金門，與手、足太陽及陽蹺會於小腸之臑俞，與手之太陽會三焦之天髎（在缺盆之上）、膽之肩井，又與足少陽會於陽白，上循膽之本神、臨泣，正當腦空，下至風池，與督脈會於風府、啞門。其見證也，苦寒熱。</p>

<h2>陰維脈論</h2>
<p>陰維者維於陰，為諸陰之會，與陽維皆絡於身，若陰不能維於陰，則悵然失志。其經起於足少陽之築賓，與足太陰會子脾之腹哀、大橫，與太陰、厥陰會於脾之府舍、肝之期門，與任脈會於任之天突、廉泉。其見證也，苦心痛。</p>

<h2>奇經八脈總論</h2>
<p>經云，脈有奇常者何？蓋人之氣血，常行於十二經常脈之中。若常脈滿溢，則流入奇經。其八脈者，任脈任於前，督脈督於後，帶脈束於中，衝脈為諸脈之海，陽維則維絡諸陽，陰維則維絡諸陰，陽蹺本諸太陽之別，陰蹺本諸少陰之別。譬諸聖人，設溝渠以備水道，而無濫溢之患，故總八脈為一篇，以備參考云。</p>

<h2>內景圖</h2>
<figure>
<img data-orig-src="urn:270:05768.jpg" alt="內景圖">
</figure>
<p>舊圖有精道，循脊背，過肛門者，甚屬非理，而且無子宮命門之象，皆大失也，今改正之。</p>
<p>心系七節。七節之旁，中有小心，以腎系十四椎下，由下而上，亦七節也。</p>

<h2>內景賦</h2>
<p>嘗計夫人生根本兮，由乎元氣；表裡陰陽兮，升降沉浮；出入運行兮，周而復始；神機氣立兮，生化無休。經絡兮行乎肌表，臟腑兮通於咽喉。喉在前，其形堅健；咽在後，其質和柔。喉通呼吸之氣，氣行五臟；咽為飲食之道，六腑源頭。氣食兮何能不亂？主宰者會厭分流。從此兮下咽入膈，贓腑兮陰陽不侔。五臟者，肺為華蓋，而上連喉管，肺之下，心包所護，而君主可求。此即膻中，宗氣所從。膈膜周蔽，清虛上宮。脾居膈下，中州胃同，膜聯胃左，運化乃功。肝葉障於脾後，膽腑附於葉東。兩腎又居脊下，腰間有脈相通，主閉蟄封藏之本，為二陰天一之宗。此屬喉之前竅，精神須賴氣充。又如六腑，陽明胃先，熟腐水穀。胃脘通咽，上口稱為賁門，穀氣從而散宣，輸脾經而達肺，誠肺腑之大源。歷幽門之下口，聯小腸而盤旋。再小腸之下際，有闌門者在焉。此泌別之關隘，分清濁於後前。大腸接其右，導渣穢於大便；膀胱無上竅，由滲泄而通泉。羨二陰之和暢，皆氣化之自然。再詳夫藏府略備，三焦未言，號孤獨之府，擅總司之權，體三才而定位，法六合而象天。上焦如霧兮，靄氤氳之天氣；中焦如漚兮，化營血之新鮮，下焦如瀆兮，主宣通乎雍滯。此所以上焦主內而不出，下焦主出而如川。又總諸臟之所居，隔高低之非類。求脈氣之往來，果何如而相濟？以心主之為君，朝諸經之維繫。是故怒動於心，肝從而熾。欲念方萌，腎經精沸。構難釋之苦思，枯脾中之生意。肺脈澀而氣沉，為悲憂於心內。惟脈絡有以相通，故氣得從心而至。雖諸臟之歸心，實上系之聯肺。肺氣何生？根從脾胃。賴水穀於敖倉，化精微而為氣。氣旺則精盈，精盈則氣盛。此是化源根，坎里藏真命。雖內景之緣由，尚根苗之當究。既云兩腎之前，又曰膀胱之後。出大腸之上左，居小腸之下右。其中果何所藏？蓄坎離之交姤，為生氣之海，為元陽之竇。闢精血於子宮，司人生之夭壽。稱命門者是也，號大根者非謬。使能知地下有雷聲，方悟得春光彌字宙。</p>
