<header data-type="book">
<h1>救急選方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>丹波元簡</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1810">公元1810年</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015280">國家圖書館掃描本</a>）；聿修堂蔵板（<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00311/index.html">早稲田大学図書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>華元化曰。人有危病。急如風雨。命醫不及。須臾不救。觀其橫夭。實可哀憐。先府君有深慨於斯。因撰國字方書三卷。寬政初。鏤版於醫學以傳。於是自通邑大都。以及窮陬僻壤。藉此而全活者。陸續尤多。乃為世之鴻寶焉。而又將別編一書。以資醫家應急之便。有志而不果。亡何罹沉疴。今年夏五溘逝。簡泣血之餘。念所以仰承先志。質性鈍嗇。不能紹述其萬一。尚何有所發揮也。嘗歷睹今代醫師。孰不研其學而逞其技。以理療危險之疢難。而至其稍粗者。則有宿食在上脘。宜用鹽湯若瓜蒂湧吐之。而卻用備急。升降乖錯。悶焉而死者。有中風脫證。當與參附峻補之。而認為發沙。挑血而立斃者。霍亂不辨乾溼。驚風不別急慢。疔瘡灼艾。火燒貼膏之類。亦間有焉。又至其最下者。則遘卒暴之病。少異於尋常者。⿰目⿳罒工𠃌眙不知所出。孟浪處措。或至殞命。歸之於天。恬不為怪。為醫如斯。不獲罪於冥冥者幾希。此無他。因不講明救卒拯急之術於素常也。而世所傳。如救急易方。雖名曰救急。其實不論病之緩急。採輯方藥單省。倉卒易辨者。以具各門。不足耑為危急諸疾之備也。簡丁艱以來。臥病者五閱月。其間時時披閱架藏諸書。於危證門中。遴擇最簡捷者。勒為上下編。名曰救急選方。唯恐捃摭不精。持一漏百。未知副先志否。九原叵起。趨庭亡期。徒增慟哭而已。然竊意斯書諸方。悉是前賢所詒。已述其明驗。而有試之於今。其效應如影曏者。後進之士。常熟此編。能諳其證理。預備其藥劑。則奏迴天之功於逡巡咄嗟之間者。或有之矣。雖然。古人有言曰。病之變狀。不可一概言之。所以醫方千卷。猶未盡其理。若至臨其變。則當推未盡之理而運用之。圓機之妙。在於神悟矣。</p>
<p><u>享和紀元冬十一月望丹波元簡廉夫撰</u></p>

<h1>凡例</h1>
<p>一是書耑為拯急救危之備焉。凡閒暇之時。宜翻閱之。知某法可以療某病。某物可以理某證。留心記憶。或預畜。或預製。一遇危急。察脈揣腹。審辨甄別。即與拯救耳。卒病暴疢。或有萬無生機。而翻然致蘇者。則呻吟窘迫。呼吸危亡之際。須竭心力。死中求活。此仁人之心術。先府君所以深望於醫家輩。簡區區。所以葺此書之一大關鍵也。</p>
<p>一病有陰陽塞脫之不同。倉猝之際。或難辨認者。間揭其厓略。以為蒙學指南。</p>
<p>一中風腳氣之類。證候多端。茲彙輯倉皇拯救諸方而已。其稍涉輕緩。可以從容調理者。概置不錄。</p>
<p>一輯仲景而降。歷代諸方。旁及本邦所傳。有一證而臚列數方者。非騖博也。地異產殊。時移物換。此之所有。彼之所無。欲因便取材耳。是乃拯急救危之本急也。</p>
<p>一每方各注所出書目。然多隨見採摘。未遑一一尋究。恐未免差錯。且如拯救諸法。有疏於前。而詳於後者。今特採其詳。而切乎施用者。不拘於出典之前後。又如本草綱目附方。盡載出典。而其元書佚於今。而無由乎讎對詳明者。姑以本草附方四字概之。</p>
<p>一金瘡攧撲疔瘡獨輯內科方。至如貼傅膏散等。責在瘍醫。故一概不錄。</p>
<p>一分兩升合。隨時更變。輕重不等。今每方直依元書而載之。不敢以意改易。用者當視病淺深。察藥柔峻。酌古准今。以從俗便。</p>
<p>一稿本未繕。及門洊催傳布。蕆工入梓。如其遺漏。當為續方而嗣刻。</p>
<p><u>丹波元簡識</u></p>

<h1>上卷</h1>

<h2>諸卒死門</h2>
<p>三物備急丸（金匱）　主心腹卒暴百病。若中惡客忤。心腹脹滿。卒痛如錐刺。氣急口噤。停屍卒死。</p>
<p>大黃（一兩）　乾薑（一兩）　巴豆（一兩去皮心熬外研如脂）</p>
<p>上藥各須精新。先搗大黃乾薑為末。研巴豆內中。合治一千杵。用為散。蜜和丸亦佳。密器中貯之。莫令泄氣。主心腹諸卒暴百病。若中惡客忤。心腹脹滿。卒痛如錐刺。氣急口噤。停屍卒死者。以暖水若酒。服大豆許三四丸。或不下。捧頭起灌令下咽。須臾當差。如未差。更與三丸。當腹中鳴。即吐下便差。若口噤。亦須折齒灌之。（案古今錄驗。司空三物備急散。療卒死及感忤。口噤不開者。即本方為散。服如大豆二枚。）</p>
<p>還魂湯（金匱）　救卒死客忤死。</p>
<p>麻黃（三兩）　杏仁（七十個）　甘草（一兩）</p>
<p>上三味。以水八升。煮取三升。去滓。分令咽之。通療諸感忤。裡實者。用備急丸。表實者。用還魂湯。（金鑑）</p>
<p>救卒死方（金匱）　雄雞冠。割取血。管吹內鼻中。薤搗汁灌鼻中。</p>
<p>又方（肘後）　半夏末。如大豆許。吹鼻中。（案此千金療五絕法。心下溫者。一日亦可治。）</p>
<p>又方（同上）　灸臍中百壯。　又方。令人痛爪其人人中取醒。　又方。以細繩。圍其人肘腕中。男左女右。伸繩從背上大椎。度以下行脊上。灸繩頭。（一云。五十壯）　又從此灸。橫行各半繩。此凡三灸。各灸三壯。即起。　又方。灸鼻下人中三壯。　又方。並兩足大指爪甲聚毛中七壯。此華陀法。一云。三七壯。</p>
<p>又方（秘方集驗）　燒炭火一杓。以醋澆之。令患人鼻受醋氣。即蘇。</p>
<p>救卒死而壯熱者。（金匱）　礬石半斤。以水一升半煮消。以漬腳。令沒踝。</p>
<p>救卒死而張目反折方。（金匱）　灸手足兩爪後各十四壯了。飲以五毒諸膏散。（有巴豆者。）</p>
<p>救卒死而四肢不收失便者方。（金匱）　馬屎一升。水三斗。煮取二斗洗之。又以牛洞一升。溫酒灌口中。灸心下一寸。臍上三寸。臍下四寸。各一百壯差。</p>
<p>小兒卒死（本草附方）　無故者。取蔥白納入下部。及兩鼻孔中。氣通。或嚏即活。</p>
<p>卒死。或先有病痛。或居常倒僕。奄忽而絕。皆是中惡之類。（肘後）取蔥中央心。刺鼻令入七八寸無苦。使目中血出乃佳。一云。耳中血出佳。　又方。令二人以衣壅口。吹其兩耳。極則易人。亦可以葦筒吹之。並捧其肩上。側身遠之。莫臨死人上。　又方。以蔥刺耳。耳中鼻中血出者。勿怪。無血難療之。有血者是活候也。　又方。視其上唇裡弦。有青息肉。如黍米大。以針決去之差。　又方。以綿漬好酒。內鼻中。手按令汁入鼻中。並持其手足。莫令驚動也。　又方。取皂莢。如大豆。吹其兩鼻中。嚏則氣通矣。　又方。灸其唇下宛宛中。名承漿。十壯。大良。</p>
<p>備急。療卒死而口噤不開者。（外臺）縛兩手大拇指。灸兩白肉中二十壯。</p>
<p>集驗。療卒死而有脈形候。陰氣先盡。陽氣後竭故也。方（外臺）嚼薤哺灌之。驚怖卒死。（本草附方）溫酒灌之。即醒。</p>
<p>療火盜兵戈。驚氣入心。不能言語者。（危證簡便）密陀僧末一錢。清茶調下。驚則氣亂。陀僧之重。以去怯而平肝也。</p>
<p>小兒驚死（醫法指南）用生慈姑汁。和白蜜灌之。</p>
<p>偶見人斬血籍籍。驚愕卒死者。（本朝經驗）　溫酒灌之。釅醋亦可。</p>
<p>療火燒悶絕不識人。以新尿冷飲之。及冷水和蜜飲之。口噤絞開與之。（千金）</p>
<p>療因回祿煙薰致死者。（古今醫鑑）生蘿蔔搗汁頻咽。並嚼塗火瘡。</p>
<p>（附）免煙薰死法。（醫林集要）　居民逃避石室中。賊以煙火薰之。欲死。迷悶中。摸索得一束蘿蔔。嚼汁下咽而蘇。又炭煙燻人。往往致死。含蘿蔔一片。著口中。煙氣不能毒人。或預曝乾為末備用。亦可。或新水擂爛干蘿蔔飲之亦可。</p>
<p>又法（李樓怪症方）　一口呵地。即不死。</p>
<p>退煙散（本朝經驗方）　預服免煙薰死。　蒿雀數個。去腸實硃砂末。浸蘿菔自然汁一宿。取出。內瓦器中。鹽泥固濟煅存性。研末。每服五七分。白湯及冷水下。（又療產後血暈。止吐血衄血。）　又法。　葡萄多食免死。（成膏為備尤良。）</p>
<p>療笑死（壽域神方）　凡口有微氣。心下溫者。用食鹽成塊者二兩。火燒令通赤。候冷研細。以河水一大碗。同煮至三五沸。放溫分三次服之。後以鵝翎探於放喉中。吐去熱痰三五升。後服黃連解毒湯三二服。則笑自定。人可活矣。（案張子和。療一婦人喜笑不休半年。用此法。醫統云。黃連解毒湯。加半夏竹瀝薑汁。療喜笑不休。極效。）　喜笑欲死者。針列缺二穴。在手大指後。臂上三寸。及大陵二穴。在掌後橫紋中。針三分。立效。</p>
<p>療入井塚悶冒方。（外臺）取其水。灑人面。令飲之。又以灌其頭及身體。即活。若無水。取他水用也。</p>
<p>又方（壽世保元）　以水噀其面。並含水。調雄黃末一二錢。入水噀之。</p>
<p>又方（本朝經驗）　急解患人衣。偃臥濕地上。以醋噀其面。蓋以草荐。半時許即蘇。</p>
<p>救暈針法（針灸聚英）　假令針肝經氣暈以補肝經。針入復甦。　甘草一二錢。水煎灌下。（本朝經驗）</p>
<p>又方（玉機微義）　暈針者。奪命穴救之。男左女右。取之不回。卻再取右。女亦然。此穴正在手膊上側筋骨陷中。蝦蟆兒上。自肩至肘。正在當中。（醫學綱目云。在曲澤上一尺針入三分。）</p>
<p>針暈者。神氣虛也。不可起針。以針補之。急用袖掩病人口鼻回氣。內與熱湯飲之。即蘇。良久再針。甚者針手膊上側陷中。即蝦蟆肉上。惺惺穴。或三里。即蘇。若起針壞人。（入門）</p>
<p>入浴暈倒（本朝經驗）　以冷水噀面。及澆周身。苦酒一鍾。灌口鼻中。或醒後。衄者。蘇子降氣湯。調辰砂末飲之。</p>
<p>苓朮湯（三因）　治暑濕鬱發。或入浴暈倒。口眼喎邪。手足嚲曳。皆濕溫類也。</p>
<p>附子　茯苓　白朮　乾薑　澤瀉　桂心</p>
<p>上等分。水煎服。</p>
<p>凡人暴死。多是疔毒。急取燈遍照其身。若是小瘡。即是其毒。宜急用萬靈奪命丹之類。（瘍醫大全○方出疔瘡門）</p>

<h2>中惡門</h2>
<p>朱犀散（得效）　治中惡中忤鬼氣。其證暮夜或登廁。或出郊野。或遊空冷屋室。或人所不至之地。忽然眼見鬼物。鼻口吸著惡氣。驀然倒地。四肢厥冷。兩手握拳。鼻口出清血。性命逡巡。須臾不救。此證與屍厥同。但腹不鳴。心脅俱暖。凡切勿移動其屍。即令親戚圍繞。燒麝香安息香樟木之類。直候醒知事。方可移歸。</p>
<p>犀角末（五錢）　麝香　硃砂（各二錢半）</p>
<p>上為末。每服二錢。井水調下。如無前藥。用雄黃末。服一錢。煎桃枝湯調灌。</p>
<p>走馬湯（金匱附方）　療中惡心痛腹脹。大便不通。</p>
<p>杏仁（二枚）　巴豆（二枚）</p>
<p>上二味。以綿纏。捶令啐。熱湯二合。捻取白汁飲之。當下。老小量之。通治飛屍鬼擊。</p>
<p>又方（外臺）　仰臥以物塞兩耳。以兩個竹筒。內死人鼻中。使兩人痛吹之。塞口傍無令氣得出。半日所。死人噫噫。勿復吹也。</p>
<p>又方（肘後）　灸兩足大拇指上甲後聚毛中。各灸二七壯。即愈。　又方。灸右肩高骨上。隨年壯良。</p>
<p>中惡之證。因冒犯不正之氣。忽然手足逆冷。肌膚粟起。頭面青黑。精神不守。或錯言妄語。牙緊口噤。或頭旋暈倒。昏不知人。即是卒厥客忤。飛屍鬼擊。吊死間喪。入廟登塚。多有此病。蘇合香丸灌之。（方見中風）候稍蘇。服調氣平胃散。（要訣）</p>
<p>白豆蔻　丁香　檀香　木香（各二兩）　藿香　甘草（各八兩）　砂仁（四兩）　蒼朮（八兩）　厚朴　陳皮（各二兩）</p>
<p>上薑棗水煎。入鹽十捻。</p>

<h2>五絕死門</h2>
<p>療五絕死方（千金）　夫五絕者。一曰自縊。二曰牆壁壓迮。三曰溺水。四曰魘寐。五曰產乳絕。皆取半夏一兩。細下篩。吹一大豆許。內鼻中。即活。心下溫者。一日亦可活。（案夷堅續志。添無病卒死。為六絕死。亦主此方。又醫說。載劉大丞毗陵人。有鄰家朱之質。有一子。年三十一歲忽然卒死。脈全無。大丞取齊州半夏細末一大豆許。納鼻中良久身微暖。氣更蘇。人問卒死大丞單方半夏。如何得活死人。答曰。此南嶽魏夫人方。○此方三因。名半夏散。療五絕及諸暴絕證。）</p>
<p>救自溢死法（金匱）　旦至暮。雖已冷必可療。暮至旦。小難也。恐此當言陰氣盛故也。然夏時夜短於晝。又熱。猶應可療。又云。心下若微溫者。一日以上。猶可活。（醫學心悟曰。予嘗見自暮至旦。而猶救活者。不可輕棄也。）徐徐抱解。不得截繩。上下安被臥之。一人以腳踏其兩肩。手少挽其發。常弦弦勿縱之。一人以手按揉胸上。數動之。一人摩捋臂脛屈伸之。若已僵。但漸漸強屈之。並按其腹。如此一炊頃。氣從口出。呼吸眼開。而猶引按莫置。亦勿苦勞之。須令可少桂湯。及粥清含與之。令濡喉。漸漸能咽。乃稍止。兼令兩人。以兩管吹其兩耳彌好。（千金云。以氍毹覆口鼻。兩人吹其兩耳。）此法最善。無不活也。</p>
<p>又方（千金）　皂莢末。蔥葉吹其兩鼻孔中。逆出復內之。　又方。以藍青汁灌之。又極須安定身心。徐徐緩解。慎勿割繩。抱取心下猶溫者。刺雞冠血滴口中。即活。男用雌雞。女用雄雞。　又方。雞屎白。以棗許酒半盞和。灌口鼻中。即活。　又方。梁上塵。如大豆。各內一筒中。四人各一筒。同時吹兩耳鼻中。極力吹之。</p>
<p>又方（願體集）　凡自縊之人。若繩細痕深者。最稱難救。須急令人抱。將結解開。切勿割斷繩子。以手揉其項痕。捻圓氣管。並摩按胸腹。或用手捫其口鼻。或用口對口接氣。令一人以腳踏其兩肩。手挽其發。常令扯急。不可使頭低下。再令一人。以膝蓋或手厚裹衣服。緊緊抵住穀道。婦人並抵陰戶。勿令泄氣。若手腳已經僵直。必須盤曲。如僧打坐之狀。急以兩管。吹其兩耳。再碾生半夏末皂角末。吹入鼻孔。以針尖刺鼻下人中穴。以艾灸腳心湧泉穴。男左女右。各三醮。男刺雌雞冠血。女刺雄雞冠血。滴入口中。以安心神。再以薑湯。化蘇合丸灌之。如無蘇合丸。以濃薑湯灌之。其一切治法。必待氣從口出。呼吸眼開。方可歇手。甦醒後。只宜少飲粥湯。潤其咽喉。不可驟與飯食。依此拯救。再無不活之理。（瘍醫大全云。必須心口尚溫。大便未下。舌未伸出者救治。）</p>
<p>又方（管氏五絕治法）　徐徐放下。將喉氣管捻圓。揪髮向上揉擦。用口對口接氣。糞門用火筒吹之。以半夏皂角搐鼻。以薑汁調蘇合香丸灌之。或煎木香細辛湯調灌亦得。如蘇可治。繩小痕深過時身冷者。不治。</p>
<p>用救法活。卻用降氣湯三和湯蘇合香丸灌之。（居家必用）</p>
<p>救壓死法（三因）　以死人安著。將手袖掩其口鼻眼上。一食頃活。眼開。仍與熱小便。若初覺氣絕而不能言。可急劈口開。以熱小便灌之。打撲者亦用此。</p>
<p>療壓死。及墜跌死。心頭溫者。（奇效單方）　急扶起。將手提其發。用半夏末吹入鼻內。少蘇。以薑汁同香油。打勻灌之。次取藥服。</p>
<p>又方（萬全續方）　以雄雞一隻刺血。以好酒一碗。攪勻熱飲。外用連根蔥。炒爛傅上包裹之。冷再換。（余當與攧撲門互考。）</p>
<p>救溺死法（金匱）　取灶中灰兩石余。以埋人。從頭至足。水出七孔。即活。（李時珍云。用灶灰一石埋之。從頭至足。惟露七孔。良久即蘇。凡蠅溺水死。試以灰埋之。少頃即便活甚驗。蓋灰性暖。而能拔水也。）</p>
<p>又方（肘後）　取甕傾之。以死者伏甕上。令口臨甕口。以蘆火二七把。燒甕中。當死人心下。令煙出少入死者鼻口中。鼻口中水出盡。則活。蘆盡更益為之。取活而止。常以手候死人身及甕。勿令甚熱。冬天常令火氣能使死人心下足得暖。若卒無甕。可就岸穿地。令如甕。燒之令暖。乃以死人著上。亦可。　又方。便脫取暖釜覆之。取溺人伏上。腹中出水。便活也。</p>
<p>又方（千金）　屈兩腳。著生人兩肩上。死人背向生人背。即負持走行。吐出水。便活。　又方。解死人衣。灸臍中。凡落水經一宿。猶可活。　又方。綿裹皂莢。內下部中。須臾出水。又裹石灰。內下部中。水出盡則活。</p>
<p>又方（得效）　用酒罈一個。以紙錢一把。燒放壇中。急以壇口覆溺水人口面上。或臍上。冷則再燒紙錢於壇內。覆口面臍上。去水即活。奈人不諳曉。多以為氣絕。而不與救療可憐。</p>
<p>又方（奇效單方）　將醋半盞。灌鼻中。（案本朝經驗。用熱醋一碗。奇效。）</p>
<p>凡遇溺水者。視其心坎尚溫。以圓器覆地下。置門一扇於上。令溺者仰臥。以鴨血灌之口中。或大小便出水。即蘇。（廣筆記）</p>
<p>凡人溺水。往往壁泥覆罨。或倒提出水。皆未全驗。惟用鹽。不拘多少。使強有力者。自頂及踵。四肢腹背用力摩擦。須臾水自百毛孔中出。良久漲消氣蘇。雖過時可活。（博聞類纂）</p>
<p>又方（本朝典藥寮方）　雄雞冠血。將一茶鍾灌之。少頃水出即活。神驗。</p>
<p>凡水溺之人。夏月可救。冬天難救。撈起時。切勿倒控。急急將口撬開。橫銜箸一雙。使可出水。以竹管吹其兩耳。碾生半夏末。吹其鼻孔。皂角末置管中。吹其穀道。如系夏月。用牛一隻。將溺人肚皮。橫覆牛背之上。兩邊使人扶住。牽牛緩緩行走。腹中之水。自然從口中並大小便流出。再用蘇合丸。化開灌之。或生薑汁灌之。若無牛以活人仰臥。令溺人如前將肚皮。橫覆於活人身上。令活人微微動搖。水亦可出。若一時無牛。兼活人不肯拯救。或覆鍋一口。將溺人覆於鍋上。亦可。如系冬月。急將濕衣解去。一面炒鹽。用布包熨臍。一面厚鋪被褥。取灶內灰。多多鋪於被褥之上。令溺人覆臥於上。肚下墊以綿枕一個。仍以灰將渾身厚蓋之。灰上再加被褥。不可使灰眯於眼內。其撬口銜箸。灌蘇合丸。生薑湯。吹耳鼻穀道等事。俱照夏天救法。冬天醒後。宜少飲溫酒。夏天甦醒後。宜少飲粥湯。（願體集）</p>
<p>溺水死。若五孔有血者。不活。（五絕療法）</p>
<p>救魘死法（肘後）　臥忽不寤。勿以火照之殺人。但痛齧其腳踵。及足拇指甲際。而多唾其面則覺也。　又方。皂莢末。以竹筒吹兩鼻孔中。即起。　又方。以蘆管吹兩耳。</p>
<p>又方（外臺）　以鹽湯飲之。多少任意。　又方。雄黃細篩。管吹兩鼻中。</p>
<p>又方（千金翼）　灸兩足大指聚毛中。二十一壯。</p>
<p>救魘死。不得著燈火照。亦不得近前急喚。多殺人。若原有燈。即存。（得效○醫學心悟云。臥處原有燈。則存。如無燈。切不可以燈照其面。只可遠遠點燈耳。）</p>
<p>雄朱散（得效）　治魘死其證初到客舍。或館驛。及久無人居冷房中。睡覺鬼物魘魅。或聞其人吃吃作聲。便令人叫喚。如叫不醒者。此乃鬼魘。須臾不救即死。</p>
<p>牛黃　雄黃（各一錢）　硃砂（半錢）</p>
<p>上為末。和勻。先挑一錢許燒。次挑一錢用酒調灌之。</p>
<p>魘絕者。神虛氣濁。風痰客於心肺。所以得夢不覺。濁氣閉塞而死。氣動不蘇。面青黑者不活。急以搐鼻散。引出膈痰。次以蘇合丸。導動清氣。身動則蘇。若身靜色陷者。不療。（五絕療法）</p>
<p>搐鼻通天散</p>
<p>豬牙皂角（去皮弦一兩）　細辛　半夏（各五錢）</p>
<p>共為極細末。每用一二分。吹鼻中。得嚏則蘇。</p>
<p>救產乳絕法（救法。出下婦人急證門。）</p>

<h2>卒中風門</h2>
<p>療卒中法（直指）　天南星　木香　蒼朮　半夏　細辛　甘草　石菖蒲（各一錢）</p>
<p>生薑七厚片。水煎。乘熱調蘇合香丸三丸灌下。痰盛者加全蠍二枚炙。療一切卒中初作皆可用此。先以皂角。去弦皮。細辛或生南星半夏為末。揭以管子。吹入鼻中。候其噴嚏。即進前藥。牙噤者。中指點南星細辛末並烏梅肉。頻擦自開。　又方</p>
<p>木香（二錢）　南星（七片）　生薑（七片）　石菖蒲（二寸）</p>
<p>上水煎乘熱調木香末一錢。蘇合香丸三丸與之。</p>
<p>三生飲（易簡）　療卒中昏不知人。口眼喎斜。半身不遂。咽喉作聲。痰氣上壅。或六脈沉伏。或指下浮盛。並宜服之。兼療痰厥飲厥。</p>
<p>南星（一兩）　川烏（半兩）　生附（半兩）　木香（一分）</p>
<p>上姜十片。水煎。或口噤不省人事者。用細辛。皂角。各少許。或只用半夏為末。以蘆管吹入鼻中。候噴嚏其人少蘇。然後進藥。痰涎壅盛者。每服加全蠍五枚。仍服養生丹鎮墜之。　一法。氣盛人。止用南星八錢木香一錢加生薑十四片煎兩服。名星香散。</p>
<p>生薑生附湯（三因）　療卒中風涎潮。昏塞不知人。</p>
<p>大附子（一枚）</p>
<p>上生薑一兩。水煎冷服。　一法。加沉香一錢。　一法。加辰砂末少匕。此藥能正氣消痰散風。神效。</p>
<p>療中風忽然昏若醉。形體昏悶。四肢不收。風涎潮於上。鬲氣閉不通。宜用救急稀涎散。（本事）</p>
<p>豬牙皂角（四挺。肥實不蛀者。去皮。）　白礬（一兩）</p>
<p>上細末。研勻。輕者半錢。重者三字。溫水調灌下。不大嘔吐。但微微冷涎出一二升。便得醒。醒後緩緩調理。不可便大段。亦恐過傷人。</p>
<p>諸中卒倒。身體強直。口噤不語。脈沉或伏。應用蘇合香丸灌之。一時無藥。用皂莢末搐鼻。或瓜蒂為末。水調服吐之。　又方。用香油。或生薑自然汁灌之。即蘇。（萬全備急方）</p>
<p>中風口開。喘急如鼾。撒手遺尿。汗出不止。陽虛暴絕死證也。當以大劑人參附子救之。（萬全備急方）　又方。當急灸百會人中氣海。（　危證簡便方）</p>
<p>中風痰涎湧盛。昏不知人。應用四生散。（南星附子烏頭人參）若熱者。以膽南星三錢。木香一錢。水煎灌之。（萬全備急方）</p>
<p>凡中風昏倒。最要分別閉與脫。二證明白。如牙關緊閉。兩手握固。即是閉證。用蘇合香丸。或三生飲之類開之。若口開心絕。手撒脾絕。眼合肝絕。遺尿腎絕。聲如鼾肺絕。即是脫證。更有吐沫直視。肉脫髮直。搖頭上攛。面赤如妝。汗出如珠。皆脫絕之證。以人參（二兩）熟附。（五錢）煎濃灌下。及灸臍下。雖曰不理。亦可救十中之一。若誤服蘇合香丸之類。即不可救矣。（醫宗必讀）</p>
<p>口噤。用甘草二段。每段長一寸。炭火上塗麻油。炙乾。抉開牙關令咬定。約人行十里許。又換甘草一段。然後灌藥。極效。（醫宗必讀）</p>
<p>療初中風筋急口噤。牙關不開。不能進藥者。烏梅肉頻擦牙。牙關痠軟。則易開矣。（危證簡便方）　又方。天南星為末。中指蘸。擦左右大牙。各二三十指。其口自開。（一方。加片腦等分。一方。加烏梅肉細辛。揉和擦之。）　又方。白礬鹽梅等分擦之。涎出自開。</p>
<p>療中風中暑中氣中惡中毒乾霍亂。一切卒暴之疾。（心法附余）　生薑汁。與童便各半。和勻。徐徐灌之。立可解散。蓋姜能開痰下氣。童便降火故也。</p>
<p>卒暴僵仆。不省人事。牙關緊急。喉中痰聲。須設法將藥灌下。或人銜藥汁於銅管中。努力吹。衝入咽嗌而下。妙也。服下不宜眾人亂嚷。益加恍惚。將患人兩掌摩之。及揉二中指。並掐鼻下人中。（醫經會元）</p>
<p>沉香半夏湯（針灸資生經）　主氣去痰。</p>
<p>附子（炮一隻）　沉香（等分）　人參（半兩）　半夏（二錢）　南星（一錢）</p>
<p>上生薑十片。水煎。</p>
<p>延年。療膈上風熱。心藏恍惚如醉。（外臺）</p>
<p>竹瀝（三升）　羚羊角屑（二分）　石膏（十分）　茯苓（六分）</p>
<p>上水煎。合竹瀝服。</p>
<p>獨參湯。加竹瀝薑汁。療氣虛有痰。（金匱鉤玄）</p>
<p>奪命散（青囊雜纂）　療卒暴中風。痰涎壅塞。牙關緊急。目上視等危證。大有神效。</p>
<p>青礞石（四兩。焰消煆過。）</p>
<p>研為末。每服半錢。酒調下。功效不可盡述。（案幼幼新書。用此散。療急慢驚風。痰涎壅塞咽喉。命在須臾。服此墜下風痰。乃療驚利痰之聖藥也。焰消用一兩。）</p>
<p>蘇合香丸（局方）　療卒中昏不知人。及霍亂不透。心腹撮痛。鬼疰客忤。癲癇驚怖。狐貍等病。或攧撲傷損。氣暈欲絕。凡是倉卒之患。悉皆療之。</p>
<p>香附子　青木香　烏犀角　白朮　硃砂（研水飛）　丁香　訶梨勒（煨取皮）　白檀香　安息香（別末。無灰酒一升熬膏。）　沉香　麝香　蓽茇（各二兩）　龍腦（研）　薰陸香（別研）　蘇合香油（入安息香膏內各一兩）</p>
<p>上為細末。入研藥勺。用安息香膏。並煉白蜜和劑。每服旋丸如梧桐子大。早朝取井華水。溫冷任意化服四丸。老人小兒。可服一丸。溫酒化服。亦得。</p>
<p>養正丹（局方）　療元氣虛虧。陰邪交蕩。正氣乖常。上盛下虛。氣不升降。呼吸不旋。足頭氣短。及中風涎潮。不省人事。陽氣欲脫。</p>
<p>水銀　硫黃（研細）　硃砂（研細）　黑錫（去滓秤與水銀結沙各一兩）</p>
<p>上用黑盞一隻。火上熔黑鉛成汁。次下水銀。以柳杖子攪勻。次下硃砂。攪令不見星子。放下少時。方入硫黃末。急攪成汁和勻。如有焰以醋灑之。候冷取出。研如粉極細。用糯米粉煮糊為丸。如綠豆大。每服二十粒。加至三十粒。鹽湯下。此藥升降陰陽。既濟心腎。空心食前。棗湯送下。神效不可具述。</p>
<p>暴中卒厥。卒然仆倒昏憒。痰涎壅盛潮作。若或口開手撒聲鼾遺尿眼合。此是臟絕。不理。若不全見。猶可。其有搖頭攛目。面妝髮直。吐沫汗珠。面黑遺尿。眼閉口開喘多。與夫吐出紫紅。此為不理之疴。（嵩厓尊生書）</p>
<p>卒中風不語者。用黃雌雞一隻。生破其腹。緊縛在臍上。即醒能言。亦神方也。（是法明人墨書。以偶得之附此。）</p>

<h2>脫陽門</h2>
<p>大固陽湯（得效）　療脫陽證。或因大吐大瀉之後。四肢逆冷。元氣不接。不醒人事。或傷寒新瘥。誤行房。小腹緊痛。外腎搐縮。面黑氣喘。冷汗自出。亦是脫陽證。須臾不救。</p>
<p>大附子（一兩）　白朮　乾薑（各半兩）　木香（一分）</p>
<p>上水煎。放冷灌服。　又方。桂枝二兩。好酒二升。煎至一升。候溫分作二服灌之。　又蔥白連須三七莖。細銼。砂盆內研細。用酒五升。煮至二升。分作三服灌之。陽氣即回。生薑三七片。切碎研。酒煎服。亦效。仍炒蔥白或鹽熨臍下氣海。勿令氣冷。</p>
<p>久曠之人。或縱欲之人。與女交合。泄而不止。謂之走陽。其女須抱定。勿使陰莖出戶。急呵熱氣於口中。以指捻尾閭。即救矣。若女人驚而脫去者。十有九死。亟以童女接氣。灌以大劑獨參湯。亦可活者。（醫宗必讀○丹臺玉案此證亦名脫陽。用大固陽湯。及蒸臍法。）</p>
<p>色厥暴脫者。必以其人本虛。偶因奇遇。而悉力勉為者有之。相因相慕日久。而縱竭情欲者亦有之。故於事後。則氣隨精去。而暴脫不返。宜急掐人中。仍令陰人摟定。用口相對。務使暖氣噓通。以接其氣。勿令放脫。以保其神。隨速用獨參湯灌之。或速灸氣海數十壯。以復陽氣。庶可挽回。（景岳全書）</p>
<p>男女交接而死者。男子名走陽。女子名脫陰。男雖死陽事猶然不倒。女雖死陰戶猶然不閉。有夢中脫泄死者。其陽必舉。陰泄。容猶帶喜笑。為可證也。皆在不救。（證治匯補）</p>

<h2>諸厥門</h2>
<p>屍厥脈動而無氣。氣閉不通。故靜而死也。（金匱）菖蒲屑內鼻兩孔中吹之。令人以桂屑著舌下。剔取左角發方一寸。燒末。酒和灌。令入喉立起。</p>
<p>崔氏。凡屍厥為病。脈動而形無所知。陽脈下墜。陰脈上爭。榮衛不通。其狀如死。而猶微有息。其息不常。人乃不知。欲殯殮者。療之方。（外臺）急以蘆管吹其兩耳。極盡以氣吹之立起。若人氣極。別可易人吹之。　又方。灸鼻下人中七壯。又灸陰囊下。去下部一寸百壯。婦人灸兩乳中間。</p>
<p>又方（千金）　灸百會百壯。</p>
<p>硃砂丸（聖惠）　療屍厥脈動。而無氣。氣閉不通。故靜如死。不療三日當死。</p>
<p>硃砂　雄黃　附子（各三分）　桂心（一兩半）　巴豆（二十枚去油）</p>
<p>上為末。煉蜜和丸。如麻子大。每服以粥飲下五丸。不知更下二丸。若利多即止之。</p>
<p>硫黃散（得效）　屍厥驀然死去。四肢逆冷。不省人事。腹中氣走如雷鳴。命在頃刻。</p>
<p>焰硝（半兩）　硫黃（一兩）</p>
<p>共為末。作三服。每服用舊酒一大盞煎。覺焰消起。傾於盞內蓋著。服如人行五里。又一服。不過三服。即醒。兼灸百會穴四十九壯。臍下氣海丹田三百壯。覺身體溫止。又方。用附子七錢。重包煨熱。去皮臍為末。作二服。用酒三盞。煎一盞服。如無附子。生薑自然汁半盞。酒一盞。同煎令百沸。並灌二服。仍照前灸。（惠濟不用焰硝。用馬牙硝。）</p>
<p>氣厥即中氣。因七情內傷氣逆為病。痰潮昏塞。牙關緊急。但七氣皆能使人中。因怒而中尤多。中氣之狀。與中風相似。所以別者。風中身溫。氣中身冷。急以蘇合香丸灌之。（要訣）</p>
<p>氣實而厥者。其形氣憤然勃然。脈沉弦而滑。胸膈喘滿。此氣逆也。理宜以四磨飲蘇合香丸之類。（景岳）</p>
<p>四磨飲（濟生）　療七情傷感。上氣喘急。</p>
<p>人參　檳榔　沉香　烏藥</p>
<p>上各濃磨水。和煎服。或服養正丹尤佳。（衛生家寶。不用人參。用木香。）</p>
<p>痰厥氣虛。身微冷。面淡白昏悶。不知人事。宜順元散。（即三生飲。烏附南星並炮。）　氣盛身熱面赤。宜星香湯。（即南星木香。見中風門。）又用生清油一盞。灌入喉中。須臾逐出風痰立愈。（得效方）</p>
<p>風涎暴作。氣塞倒僕。（本草衍義）用瓜蒂為末。每用一二錢。膩粉一錢匕。以水半合調灌。良久涎自出。不出。含砂糖一塊。下咽即涎出也。</p>
<p>痰厥者。卒然不省人事。喉中有水雞聲是也。用牙皂二根。白礬二錢。二味生研為末。吹入鼻中。即燒竹瀝薑汁少許。灌入喉中。須臾痰涎逐下立愈。（普渡慈航）</p>
<p>痰涎發厥。脈弦滑者。二陳湯。加竹瀝。挾寒。加生附子。挾火。加芩連山梔竹瀝。凡厥證。為顛。為眴僕。為妄見。或腹脹。二便不利。或嘔。或心痛。皆痰火鬱氣病也。（入門）</p>
<p>痰厥者。因氣逆痰壅。故忽然昏迷卒倒。咽中涎潮。如拽鋸聲。宜先以瓜蒂散吐之。後用順氣導痰之類藥。（證治大還）</p>
<p>痰厥起死回生方。（危證簡便）斗大石灰一塊。先入陰陽水。高一二指。候澄清。出水一小杯。研入麝香一分。撬開牙關。灌下立蘇。以尿出腸鳴為驗。</p>
<p>療痰迷不省人事。（危證簡便）</p>
<p>明礬（一兩）　硃砂（一錢）</p>
<p>共為一服。一錢白湯下。　又方。明礬末。打陰陽水灌之。再服再吐。極妙。</p>
<p>吐痰丹（危證簡便）　善吐頑痰。起死回生。牙關開後。即宜進此。</p>
<p>生雄黃（一錢）　膽礬（一錢）　生滑石（一錢）</p>
<p>共為細末。大人五分。小兒三分。白湯調下。一時即吐頑痰。</p>
<p>食厥者。醉飽過度。或感風寒。或著氣惱。以致填塞胸中。陰陽否隔。升降不通。忽然厥逆昏迷。口不能言。肢不能舉。若誤作中風中氣療之。必死。凡遇此等卒暴之病。必須審問曾否醉飽過度。有此。加以氣口脈緊盛。且作食滯療之。先煎鹽湯。探吐其食。吐之後。若別無他證。只用平胃散。加半夏曲糵之類調理。（醫碥）</p>
<p>血厥之證有二。以血脫血逆皆能厥也。血脫者。如大崩大吐。或產血盡脫。則氣亦隨之而脫。故致卒僕暴死。宜先掐人中。或燒醋炭。以收其氣。急用人參一二兩。煎湯灌之。但使氣不盡脫。必漸蘇矣。然後因其寒熱。徐為調理。血逆者血因氣逆。必須先理其氣。氣行則血無不行也。宜通瘀煎之類主之。候血行氣舒然後隨調理。（景岳）</p>
<p>通瘀煎（景岳）</p>
<p>當歸　山楂　香附　紅花（各二錢）　青皮（錢半）　烏藥（一二錢）　木香（七分）</p>
<p>水酒煎服。</p>
<p>還魂湯（醫統）　療血逆卒厥。併產後血厥。昏暈目閉口噤。惟婦人多有此病。</p>
<p>當歸　芎藭　肉桂　乾薑　芍藥　甘草　黑豆（炒）　紫蘇（各等分）</p>
<p>上水煎。或為末。酒調灌下。</p>
<p>芎歸養榮湯（玄珠）　有吐衄不知人而厥者。此血厥也。療之無論其脈。急用此湯。或獨參湯以救之。</p>
<p>當歸　川芎　芍藥　熟地黃　黃柏　知母　人參　麥冬　枸杞子　甘草</p>
<p>上水煎服。</p>
<p>大怒載血。瘀於心胃。而暴死者。名曰血升。逐瘀行血。婦人產後經行。偶著恚怒。多有之。（證治匯補○案當考後產乳絕門）</p>
<p>寧神散（入門）　療失血過多。心神昏悶。言語失常。不得睡臥。</p>
<p>辰砂　乳香（各五錢）　酸棗仁　人參　茯苓（各一兩）　琥珀（七錢半）</p>
<p>為末。燈心棗子煎湯。調服一錢。</p>
<p>酒厥縱飲無節之人。多有此病。全似中風。輕者猶自知人。重者卒爾暈倒。忽然昏憒。或躁煩。或不語。或痰涎如湧。或氣喘發熱。或咳嗽。或吐血。大便乾燥。脈實。喜冷者。此濕熱上壅之證。進雪梨漿綠豆飲。以解其毒。（景岳）</p>
<p>綠豆飲（景岳）　用綠豆。不拘多寡。寬湯煮。糜爛。入鹽少許。或蜜亦可。待冰冷。或厚或稀。任意飲食。若火盛。口甘。不宜厚味。但略煮半熟清湯。冷飲之。尤善。</p>
<p>雪梨漿（景岳）　用清香甘大梨。削去皮。別用大碗。盛清冷甘泉。將梨薄切。浸於水中。少頃。水必甘美。但頻飲其水。勿食其柤。</p>
<p>酒厥生薑細搗。自然汁。溫灌喉中。立起之。（惠濟）</p>
<p>疫厥（亦名瘟疫暴亡）　凡人感瘟疫。視其證脈。尚不至殞命不救。而突然無氣。身直。甚至無脈。且不可驚慌。視為告終。此疫厥也。急用臘月雄狐膽。溫水研灌即活。若牙關已緊。即攪開灌之。雄狐膽。必臘月預為構收為妙。松峰曰。如得此症。不論有無狐膽。總宜先針少商穴。並十指甲上薄肉。攝出惡血。並用好豬牙皂末吹鼻。可活（松峰說疫○案無狐膽。用真熊膽。亦得。）</p>
<p>色厥（見於脫陽門）</p>
<p>乳厥（見於婦人門）</p>

<h2>癲癇門</h2>
<p>（是多屬緩證。然其發卒暴。故收載一二應急之方。常與小兒驚風門互考。）</p>
<p>沉香天麻湯（拔萃）　療癇瘈筋攣。</p>
<p>沉香　益智　川烏（各二錢）　天麻　防風　半夏　附子（炮各三錢）　羌活（五錢）　甘草　當歸　姜蠶（各一錢半）</p>
<p>生薑三片。水煎。（案此方。原出衛生寶鑑。療小兒驚癇。多服寒涼之劑。復損傷元氣。動則如癡。）潔古云。晝發灸陽蹻申脈穴。在外踝下陷中。容爪甲白肉際是也。夜發灸陰蹻照海穴。在於足內踝下陷中是也。先灸兩蹻各二七壯。然後服前藥。</p>
<p>五生丸（永類）　療癇有神效。</p>
<p>南星　半夏　川烏　白附子（各一兩）　大豆（去皮秤二錢半）</p>
<p>上為細末。滴水為丸。桐子大。每服三丸。至五丸。不得過七丸。薑湯下。</p>
<p>熊參湯（本朝經驗）　療元氣虧損。癇厥掣瘲。　熊膽。豆粒許。煎人參湯化開灌之。</p>
<p>柴胡加牡蠣龍骨湯（傷寒類方）　此方。能下肝膽之驚痰。以之療癲癇必效。（即仲景原方）</p>
<p>柴胡　龍骨　生薑　人參　茯苓　鉛丹　黃芩　牡蠣　桂枝（各一兩半）　半夏（二合）　大棗（六枚）　大黃（二兩）</p>
<p>上水煎。</p>
<p>鉤藤湯（錦囊）　療諸癇。</p>
<p>橘紅　鉤藤　膽星　天麻　姜蠶　人參　遠志　犀角　石菖蒲</p>
<p>加燈心水煎。臨服加牛黃。</p>
<p>清心湯（統旨）　療心熱痰迷胞絡。</p>
<p>茯神　黃連（各二錢）　酸棗仁　石菖蒲　遠志（各一錢）　柏子仁　甘草（五分）</p>
<p>上水煎。痰壅。加南星薑汁竹瀝。</p>
<p>禹攻散（袖珍）　療癲癇卒暴昏憒。不知人事。牙關緊硬。藥不可咽。</p>
<p>牽牛頭末（一錢）　茴香（二錢半）</p>
<p>上為末。用生薑自然汁。調藥少許。灌之入鼻立醒。一方用黑牽牛木香妙。</p>
<p>墜痰丸（衛生寶鑑）　療風癇。　天南星（九蒸九曝）</p>
<p>上為末。姜糊丸桐子大。每服二十丸。人參湯下。菖蒲麥門冬湯亦得。</p>
<p>鐵粉散（神巧萬全）　療風癲癇。</p>
<p>鐵粉　天竹黃　辰砂　鉛霜（各一兩）</p>
<p>上細研如面。無時以竹瀝調下半錢。</p>
<p>二白丸（元戎）　療癲與癇。白礬一兩。以濕麵包蒸熟。去面。入輕粉三五分。量虛實加減。丸如桐子大。每服二三十丸。生薑湯下。</p>
<p>療諸癲癇證。俗呼為牛癲馬癲羊癲豬癲等證。（危證簡便）　白礬末五錢。辰砂末一錢。共為細末。臨發時。以物撬開口。熱酒一鍾。和前藥灌之。立時一吐而愈。屢驗。（三因二味等分。名鎮心丹。煎人參湯下。療狂證。）</p>
<p>五癇膏（本草附方）　療諸風取痰如神。　翹頤大皂莢半斤。去皮子。以蜜四兩塗上。慢火炙透捶碎。以熱水浸一時。援取汁。慢火熬成膏。入麝香少許。攤在夾紙綿紙上。曬乾。剪作紙花。每用三四片。入淡漿水一小盞沖洗淋下。以筒吹汁入鼻內。痰涎流盡即愈。立效。（案瑞竹堂方。來蘇膏。不用蜜及麝香。療遠近風癇心病風狂。牙關不開。痰涎潮塞。將小竹管盛藥。扶病人坐定。微抬頭。以藥吹入左右鼻孔內。良久扶起。涎出為效。欲要涎止。將溫鹽湯。令服一二口便止。）</p>

<h2>中寒凍死門</h2>
<p>中寒之證。由平素體氣虛弱。冬月出外。一時為嚴寒所中。則口噤失音。遍體拘急。四肢厥冷。畏寒腹痛。脈息沉微。昏沉不知人事者。宜急用熱酒入生薑汁。和而灌之。候少甦醒。然藥用姜酒。脈出者生。不出者死。更覆手取之。而無脈則絕矣。（危證簡便）</p>
<p>灸法（危證簡便）　命蒂穴（即臍中）　丹田穴。關元穴。用艾火。各灸三七壯。手足暖脈至。知人事。汗出即生。如無汗。手足不暖。不省人事者死。</p>
<p>乾薑附子湯（三因）　療中寒卒然暈倒。或吐逆涎沫。狀如暗風。手腳攣搐。口噤四肢厥冷。或復燥熱。</p>
<p>乾薑（炮）　附子</p>
<p>上水煎。</p>
<p>救凍死方（肘後）　以大器中多熬灰使暖。囊盛以薄其心上。冷即易。心暖氣通。目則得轉。口乃開。可溫尿粥清稍稍含之。即活。若不先溫其心。便持火炙其身。冷氣與火相搏。則死。</p>
<p>凡冬月凍倒人。急與冷水一二口。扶在溫暖處。不得與熱湯。如便與熱物。及向火炙必死。雪泥中行。便近火即腳指隨落。（奇效良方）</p>
<p>又方（願體集）　用厚綿被。將凍人捲住睡臥。使二人推來轉去。候血脈和通。身上漸溫。則活。如無綿被。氈單草荐亦可。</p>
<p>又方（救急易方）　用前法。更以熱酒。或薑湯。或粥飲少許。灌之即活。</p>
<p>療凍死已經救活者。（奇效良方）　宜用生薑帶皮。搗碎。陳皮捶碎。用水三碗。煎一碗。溫服。</p>
<p>冬月溺水之人。及被凍極之人。雖纖毫人事不知。但胸前有微溫。皆可救。倘或微笑。必為急掩其口鼻。如不掩。則笑而不止。不可救矣。切不可驟令近火。但一見火。則必大笑。不可救藥。（洗冤錄）</p>
<p>凍倒人。不得近火。近火即逼寒氣入心。而死矣。北方之人。手足凍僵。若湯浴火炙。則肢節脫落。須緩緩搓之。候其回暖。或反以雪搓之引出寒氣。氣舒暖回。乃愈。即其理也。（醫碥）</p>

<h2>中暑暍死門</h2>
<p>中暑悶倒。急扶在陰涼處。切不可與冷。當以布巾衣物等。蘸熱湯熨臍中及氣海。續以湯淋布上。令徹臍腹。暖即漸醒。如倉卒無湯處。掬道上熱土於臍。以多為佳。冷即易。古法道塗無湯。即掬熱土於臍上。仍撥開作窩子。令人更溺於其中以代湯。續與解暑毒藥白虎竹葉石膏湯。凡覺中暑。急嚼生薑一大塊。冷水送下。如已迷亂。悶嚼大蒜一大瓣。冷水送下。如不能嚼。即用水研灌之。立醒。（三因）</p>
<p>中暑為證。面垢悶倒。昏不知人。冷汗自出。手足微冷。或吐或瀉。切不可以冷水。及用十分冷劑。蘇合香丸用湯調灌。或剝蒜肉入鼻中。或研蒜水解灌之。初覺中暑。即以日曬瓦。或布蘸熱湯。更易熨其心腹臍下。急二氣丹末。湯調灌下。（要訣）</p>
<p>二氣丹（局方）</p>
<p>硝石　硫黃（各等分）</p>
<p>上為末。於銀石器內。火炒令黃色。再研。用糯米糊丸。如梧桐子。每服四十丸。新井水送下。</p>
<p>道路城市間。中暑昏僕而死者。此皆虛人勞人。或飢飽失節。或素有疾。一為暑氣所中。不得泄。則關竅皆窒。非暑氣使然。氣閉塞而死也。大蒜一握。道上熱土。雜研爛。以新水和之。濾去滓。刔其齒灌之。有頃即蘇。（避暑錄話）</p>
<p>又方（千金）　張死人口令通。以暖湯。徐徐灌口中。小舉死人頭。令湯入腹。須臾即蘇。　又方。使人噓其心令暖易人為之。　又方。灌地漿一盞。即愈。</p>
<p>又方。濃煮蓼。取汁三升。飲之。即愈。不瘥更灌。　又方。乾薑橘皮甘草。煮飲之。稍稍咽。勿頓使飽。</p>
<p>又方（壽域）　連皮生薑一塊。搗爛。熱湯灌下。即蘇。急卒不得熱湯。以冷水亦可。</p>
<p>又方（澹寮）　皂莢一兩。燒存性。甘草一兩。微炒為末。溫水調灌之。</p>
<p>療暑證諸藥不救者。（居家必用）　硃砂研細。水調灌下。</p>
<p>有本於陰虛。復遇暑途。飢困勞役。暴僕昏絕者。此暑邪乘虛而犯神明之府。生脈散加香薷。（證治匯補）</p>
<p>生脈散（辨惑論）</p>
<p>麥門冬　人參（各兩）　五味子（十五粒）</p>
<p>上水煎。</p>
<p>蘇後冷汗不止。手足尚逆。煩悶多渴者。宜香薷飲。蘇後為醫者。過投冷劑。致吐利不止。外熱內寒。煩躁多渴。甚欲裸形。狀如傷寒陰盛隔陽。當用溫藥。香薷飲加附子浸冷服。（要訣）</p>
<p>香薷飲（局方）</p>
<p>白扁豆（微炒）　厚朴（各半斤）　香薷（一斤）</p>
<p>上水煎服。</p>
<p>曾有客人。中暑迷悶。四肢厥冷。冷汗如雨。裸形欲投水中口吻涎沫流溢。此中暑已深。陰陽離絕難除。（要訣）</p>

<h2>霍亂門</h2>
<p>霍亂有兩種。一名干霍。一名濕霍。干霍死者多。濕霍死者少。俱繇飲食不節。將息失宜。干霍之狀。心腹脹滿。攪刺疼痛。煩悶不可忍。手足逆冷。甚者流汗如水。大小便不通。求吐不出。求利不下。須臾不救。便有性命之慮。濕霍之狀。心腹亦攪痛。諸候有與干同。但吐利無限。此病始得。有與天行相似者。亦令頭痛骨肉酸楚。手足逆冷。四體發熱。干霍大小便不通。煩冤欲死。宜急與巴豆等三味丸服之。服取快利。（外臺許仁則論）</p>
<p>巴豆等三味丸　即三物備急丸。但用巴豆（百枚）　乾薑（三兩）　大黃（五兩）　初服三丸如梧子大。</p>
<p>鹽吐法（千金）　療乾霍亂心腹絞痛。欲吐不吐。欲下不下。</p>
<p>先以極鹹鹽湯一盞頓服。候吐出令透。不吐再服。吐訖復飲。三吐乃住靜止。此法大勝諸治。俗人以為田舍淺近。鄙而不用。守死而已。凡有此病。即須先用之。</p>
<p>姜鹽飲（直指）　療乾霍亂。欲吐不吐。欲瀉不瀉。痰壅腹脹。</p>
<p>鹽（一兩）　生薑（半兩）</p>
<p>上同炒。令色變。以童尿兩盞。煎一盞。分為二溫服。</p>
<p>厚朴湯（奇效）　療乾霍亂。</p>
<p>厚朴　枳實　良薑　朴硝（各七錢半）　大黃（炒一兩）</p>
<p>上每服三錢。水煎服。</p>
<p>吐利不止。元氣耗散。病勢危篤。或水粒不下。或口渴喜冷。或惡寒戰掉。手足冷逆。或發熱煩躁。欲去衣被。此蓋內虛陰盛。卻不可以其喜冷欲去衣被為熱。宜理中湯。甚則附子理中湯。不效則四逆湯。並宜放十分冷服。（要訣）</p>
<p>姜附湯（濟生）　療霍亂轉筋。手足厥冷。多汗嘔逆。（方出中寒門）氣乏。加人參。利不止。加肉豆蔻。</p>
<p>附子粳米湯（千金）　療霍亂四逆嘔多。</p>
<p>附子（一枚）　粳米（五合）　半夏（半升）　大棗（十枚）　乾薑　甘草（各一兩）</p>
<p>上水煎。</p>
<p>回生散（百一）　療霍亂吐瀉。但一點胃氣存者。服之無不回生。</p>
<p>藿香　陳皮</p>
<p>上等分。水煎溫服。　加良薑甘草。名良薑散。（直指）療霍亂神效。</p>
<p>四順湯（千金）　療吐瀉過多。手足逆冷。六脈沉細。氣小不語。急服。</p>
<p>附子　乾薑　人參　甘草（各等分）</p>
<p>水煎服。</p>
<p>霍亂轉筋。理中湯。如凍膠一錢。（活人書加附子）令其縶縛腿脛。若筋入腹。及通身轉筋者。不可療。轉筋者。以蓼汁暖熱浸。或用濃鹽湯浸。（要訣○當與後轉筋門參看）</p>
<p>四片金（衛生家寶）　療霍亂上吐下利。心下懊憹。其證因形寒飲冷。飢飽乘舟車露走。動傷胃氣。頭旋手足轉筋。四肢逆冷。用藥遲緩。須臾不救。命在頃刻。</p>
<p>吳茱萸　木瓜　食鹽（各半兩）</p>
<p>上三味。同炒令焦。先用磁瓶盛水三升。煮令百沸。入前件三味炒藥。同煎至二升已下。傾一盞。冷熱當隨病人意。與服藥。入咽喉即止。</p>
<p>鹽熨方（直指）　療霍亂吐瀉。心腹作痛。炒鹽二碗。紙包紗護。頓其胸前。並腹肚上。截以熨斗火熨。氣透則蘇。續又以炒鹽熨其背。則十分無事。</p>
<p>灸法（千金）　上脘（療煩悶急脹。）　臍中（同上。以鹽內臍中灸上。二七壯。）　中脘（療腹痛）　天樞（療洞下。）　關元（療繞臍痛急。）　大都（療下利不止）　湧泉　隱白　承山（並療轉筋。）</p>
<p>療霍亂神秘起死灸法（千金）　以物橫度病人口中。屈之。從心鳩尾度以下。灸度下頭五壯。橫度左右。復灸五壯。此三處。並當先灸中央畢。更橫度左右也。又灸脊上。以物圍令正當心厭。又夾脊左右一寸。各七壯。是腹背各灸三處。</p>
<p>華佗。療霍亂已死。上屋喚魂者。又以諸療皆至。而猶不差者法。揍病人覆臥之。伸臂對。以繩度兩肘尖頭。依繩下夾背脊大骨空中。去脊各一寸。灸之百壯。無不活者。所謂灸肘椎。空囊歸。已試數百人。皆灸畢即起坐。（外臺）</p>
<p>霍亂諸法不效。灸大椎。即效。已死但有暖氣者。灸承筋七壯。立蘇。（醫學綱目）</p>
<p>霍亂務在溫和將息。若冷則遍體轉筋。凡此病定已後。一日不食為佳。仍須三日少少吃粥。三日以後。乃可恣意食息也。七日勿雜食為佳。所以養脾氣也。（千金）</p>
<p>霍亂之後。陽氣已脫。或遺尿而不知。或氣少而不語。或膏汗如珠。或大躁欲入水。或四肢不收。皆不可療。（要訣）</p>

<h2>攪腸沙門</h2>
<p>療攪腸沙。發即腹痛難忍。陰沙腹痛手足冷。看其身上紅點。以燈草蘸油。點火燒之。陽沙。腹痛手暖。以針刺其十指背近甲處一分半許。血出即安。仍先自兩臂捋下其惡血。令聚指頭。血即出為好。（衛生易簡）　痛不可忍。須臾能令人死。古方乾霍亂。急用鹽一兩。熱湯調灌口中。鹽氣到腹即定。又將石沙。炒令赤色。令水淬之。良久。澄清水一合一服。或用香油茶吐之。</p>
<p>又方（拯急遺方）　上患痛之人。兩臂腕中有筋。必致黑色。急敲磁器。務取鋒尖者一塊。即劈竹箸一隻。微開露磁鋒夾定。以線縛牢。就虛按於左腕中筋之上。卻將尺或匙擊之一下。必紫血即出。待食一碗飯間。若痛止。以手摩臂屈之。其血即止。若痛不止。卻再於右腕中脈之上。如前法擊之。即可。</p>
<p>又方（衛生易簡）　陳樟木　陳皮（醫林集要用陳艾）　東壁土（各等分）</p>
<p>上水煎。去滓。連進三四服。即愈。　又方。用苧麻。劄十指尖。以針挑出惡血。</p>
<p>又方（醫林集要）　先以艾湯飲之立吐。方是其證。用白礬為末。白湯調一錢。泡起服之。</p>
<p>又方（壽域神方）　用白蜜馬糞。不拘多少。擂碎。新汲水化下。去滓頓服一碗。雖曰穢汙。卻有神效。</p>
<p>又方（滋德堂方）　以手蘸溫水。於病人膝腕。用力拍打。有紫黑處。以針刺去惡血。</p>
<p>絞腸沙。垂危將死者。尿屎已出。急用芋艿一斤。放在病人口中咽汁。下喉即醒。醒後再吃幾片。亦可生。（秘方集驗）　胡椒二十四粒。綠豆二十四粒。同研。熱酒調服。即愈。鹽少許。置刀頭。燒紅。淬入水中。乘熱飲。即死者亦蘇。</p>
<p>凡痧脹夏月多患此證。面色紫赤。腹痛難忍。使飲熱湯。便不可救。即溫湯亦忌。如遇此證。速取生黃豆。咀嚼嚥下。約至數口。立刻止痛。平人食生豆。最引噁心。止在痧脹人。食之反覺甘甜。不知腥氣。此方既可療病。且可辨證。真奇方也。（葉天士方）</p>
<p>案攪腸沙。始見於危氏得效方。云乾霍亂。俗謂攪腸沙是也。而此所載。別是一種病。名同而其候殊異。乾霍亂。得吐下而愈。此證則不爾。明末亦呼為鬼箭。蔣示吉曰。其人衛氣素虛。腠理不密。賊風乘虛而入。客於經絡。經絡閉塞。閉塞則榮衛不通。不通則大痛作。若有鬼以射之也。故服藥之外。用挑血法。總令氣血宣通之意。（詳出痧脹玉衡。今不繁引。</p>

<h2>腳氣衝心門</h2>
<p>凡小覺病有異。（謂頑痹不仁。或腳脛腫。或緩縱不隨。或屈弱不能行。或行卒屈倒。或酷冷疼煩。或覺轉筋等候。）　即須大怖畏。決意急療之勿緩。氣上入腹。或腫。或不腫。胸脅逆滿。氣上肩息。急者死不旋踵。寬者數日必死。不可不急療也。但看心下。急則氣喘不停。或白汗數出。或乍寒乍熱。其脈促短而數。嘔吐不止者。皆死也。（千金）蘇長史曰。脈沉緊者多死。洪數者並生。緩者。不療自差。（外臺）</p>
<p>茱萸湯（千金）　療腳氣入腹。困悶欲死腹脹。　文仲云。毒氣攻心。手足脈絕。此亦難濟。不得已。作此湯。十愈七八。（外臺）</p>
<p>吳茱萸（六升）　木瓜（兩顆切）</p>
<p>上水煎服。或吐或汗。或利。或大熱悶即瘥。此起死回生方。</p>
<p>廣濟。療腳氣急上衝心悶欲死。（外臺）</p>
<p>檳榔（三顆細末）　生薑汁（三合）　童子小便（二升新者不須暖）</p>
<p>上攪頓服。須臾即氣退。若未全差。更服最佳。利三兩行無所忌。</p>
<p>文仲。療腳氣冷毒悶。心下堅。背膊痛。上氣欲死。（外臺）</p>
<p>吳茱萸（三升）　檳榔（四十枚）　木香（二兩）　犀角（三兩屑）　半夏（八兩）　生薑（六兩）</p>
<p>上水煎服。大效。破毒氣。尤良。</p>
<p>又腳氣入腹心悶。（外臺）　濃煮大豆汁。飲一大升。不止更飲。大驗。</p>
<p>又療腳氣入心。悶絕欲死者。（外臺）</p>
<p>半夏（三兩）　生薑汁（二升半）</p>
<p>上二味。內半夏。煮取一升八合。分四服。</p>
<p>養正丹（易簡）　腳氣之患。入腹衝心。或見嘔吐之證。無法可療。不若用此。更須多服。以大便流利為度。此有利性。服之無疑。</p>
<p>杉木節湯（盧氏續易簡方）　腳氣毒勝痰逆。悶絕喘急。汗流昏塞。搐搦咬齒。上視致垂死者。惟此湯為至妙。百發百中。垂死復生。</p>
<p>杉木節（斫碎一握）　大腹子（連皮剪碎七個）　青橘葉（銼碎一握無葉以皮代之）</p>
<p>分二服。童子小便一小碗。同煎。絞汁半碗服之。未通再服。其方出外臺及董汲總論許氏本事等方。但庸醫不透。棄而不用之。</p>
<p>三將丸（盧氏續易簡方）　腳氣入腹。奔上絞痛嘔吐。用此最捷。</p>
<p>吳茱萸　木瓜　大黃（各等分）</p>
<p>上細末。糊丸綠豆大。每服五十丸。米飲下。未應多加丸數。蓋茱萸木瓜。已是理腳氣要藥。又賴大黃。領而宣泄之。為至巧也。（得效方云。大黃隨其病加減。）</p>
<p>大戟丸（聖濟）　療腳氣攻注。心腹脹滿。小便赤澀。</p>
<p>大戟　芫花　葶藶（各炒兩半）　巴豆　續隨子（各炒二錢半）</p>
<p>上為末。蜜丸。梧子大。每十丸。燈心湯下。（案二便閉塞。心腹脹急悶亂欲死。屬大實者。用此宣泄。）</p>
<p>唐侍中。療苦腳氣攻心。此方甚散腫氣。極驗（外臺）</p>
<p>大檳榔（七枚）　生薑（二兩）　橘皮　吳茱萸　紫蘇　木瓜（各一兩）</p>
<p>上水煎。　衛生良劑方。以此方名檳茱湯云。療風濕毒氣。中於足經。遂為腳氣。下注兩腳。腫脹疼痛。履地不得。及內攻心腹。手足脈絕。悶亂煩喘。氣不得息。極有神效。（性全萬安方）</p>
<p>蘇長史云。腳氣盛發時。自腰以上。並不得針灸。當引風氣上。則殺人。若氣上擊心不退。急灸手心。（案即勞宮穴）三七炷。氣即便退。若已灸腳。而胸中氣猶不下滿悶者。宜灸間使五十炷。兩手掌橫文後。一云。三寸。兩筋間是也。若胸中氣散。而心下有脈。洪大跳。心急忪悸者。宜以手按捻少腹下兩傍。接髀大斜文中。有脈跳動。（案即氣衝穴）　便當文上灸三七炷。跳即定。灸畢皆須灸三里二十炷。以引其氣下也。　若心胸氣滿。已灸身脛諸穴。及服湯藥。而氣猶不下。煩急欲死者。宜急兩足心下。（案即湧泉穴）當中陷處。各七炷氣即下。此穴尤為極要。而不可數灸。但極急。乃灸七炷耳。凡灸不廢湯藥。藥攻其內。灸泄其外。譬如開門驅賊。賊則易出。（外臺）</p>

<h2>諸卒失血門</h2>
<p>側柏散（衛生家寶）　療吐血下血。其證皆因內損也。或因酒食太過。勞損於內。或心肺脈破。血妄行。其血出如湧泉。口鼻俱出。須臾不救。</p>
<p>側柏葉（一兩半蒸乾）　人參（一兩）　荊芥（燒灰一兩）</p>
<p>上三味。為末。每服二錢。入飛羅面二錢相和。用新汲水。調如稀糊。啜服。血如湧泉。不過二服。即止。（拯急遺方。去荊芥。○此方原出中藏經。）</p>
<p>花蕊石散（十藥神書）　療五內崩損。噴血出斗升。用此療之。</p>
<p>花蕊石煅存性。研如粉。以童子小便一鍾。男入酒一半。女入醋一半。煎調服三錢。甚者五錢。能使瘀血化為黃水。後以獨參湯補之。</p>
<p>療諸般吐血（聖濟）　硃砂　蛤粉（等分）　為末。酒服二錢。</p>
<p>療吐血。及傷酒食醉飽。低頭掬。損肺藏。吐血汗血。口鼻妄行。但聲未失者。用鄉外人家百草霜末。糯米湯服一錢。（劉長春方）</p>
<p>暴驚風。九竅出血。其脈虛者。（直指）靈砂百粒。分三次。人參煎湯下。此證不可錯認。血得熱則宣流。妄用涼藥誤矣。</p>
<p>療人大驚。九竅四指岐。皆血濺出。乘患人勿知。忽以井華水。猛噀其面即止。此法。又療衄血。如神。（本草）</p>
<p>療大衄久衄。及諸竅出血。（聖惠）人中白一圍。雞子大。綿五兩。燒研。每服二錢。溫水服。（醫說不用綿。只用人中白味。）</p>
<p>凡耳目鼻血出不止。以涼水浸足。貼囟貼項。噀面。薄胸。皆妙。（本草）</p>
<p>山梔子散（本事）　山梔子不拘多少。燒存性。末之。搐入鼻中。立愈。</p>
<p>鼻衄過多。昏冒欲死。（本事）用香墨。濃研。點入鼻中。</p>
<p>補肺散（楊氏家藏）　療暴吐損肺。吐血不止。成煉鍾乳粉。</p>
<p>上每服二錢。煎糯米湯調下。立止。如無糯米。只用粳米。</p>
<p>瀉心湯（金匱）　療心氣不定。吐血衄血。</p>
<p>大黃（二兩）　黃連　黃芩（各一兩）</p>
<p>上水煎服。　加生地犀角。名犀角地黃湯。療熱甚血積胸中（拔萃）</p>
<p>吐血不止。就用吐出血塊。炒黑為末。每服三分。以麥門冬湯調服。蓋血不歸元。則積而上逆。以血導血。歸元則止矣。（諸證辨疑）</p>
<p>衄血不止。用白紙一張。接衄血令滿。於燈上燒灰。作一服。新汲水下。勿用病人知。（聖濟）</p>
<p>或吐血。或心衄。或內崩。或舌上出血。如簪孔。或鼻衄。或小便出血。並用亂髮灰。水服方寸匕。（聖濟）　肺疽吐血。發灰一錢。米醋二合。白湯一盞調服。（三因）</p>
<p>鼻血眩冒欲死者。亂髮燒研。水服方寸匕。仍吹之。（本草附方）</p>
<p>人參湯（直指）　療吐血咯血。　新羅人參。慢火煎服。</p>
<p>凡一切手足皮膚。偶然血出不止。或槍刀刺傷。或傷破血管。血出不止。急用手指緊捺患處。或麻繩扎住半日。或一日。即住。內急服補氣之藥為妙（危證簡便）</p>
<p>婦人產後去血多。傷胎去血多。崩中去血多。金瘡去血多。拔牙齒去血多未止。心中懸虛。心悶眩冒。頭重目暗。耳聾懣。舉頭便悶欲倒。宜且煮當歸川芎各三兩。以水四升。煮取二升。去滓。分二服。即定。展轉續次。合諸湯療之。（千金○案此節局方三因。名芎歸湯是。）</p>
<p>耳目口鼻竅中。一時出血。藥不及煎。死在旦夕俄頃。用冷水。當面噀幾口。急分開頭髮。用粗紙數層。蘸醋令透。搭在囟門。血即止。次以當歸一兩。煎好。磨沉香五錢。加秋石三錢服之。如無秋石。以童便和服。亦可。（急救丹方○瘍醫大全。用沉香降香各五錢。不用秋石。唯用童便云。服之血自歸經。然後以四物湯。加人參黃蓍五味麥門冬。為湯服之。可收萬全之功。）</p>

<h2>卒心腹痛門（附卒疝奔豚　積氣鬱冒）</h2>
<p>卒心急痛。牙關緊閉欲絕。以蔥白五莖。去皮須。搗膏。以匙送入咽中。灌以麻油四兩。但得下咽即蘇。少頃蟲積皆化黃水而下。永不再發。累得救人。（瑞竹堂方）</p>
<p>陰毒腹痛。厥逆唇青卵縮。六脈欲絕者。用蔥一束。去根及青。留白二寸。烘熱安臍上。以熨斗火熨之。蔥壞則易。良久熱氣透入。手足溫有汗即瘥。乃服四逆湯。若熨而手足不溫。不可療。（活人書）</p>
<p>必效療蜎心痛方。（外臺）熊膽如大豆。和水服大效。</p>
<p>附子建中湯（易簡）　療或吐或瀉。狀如霍亂。及冒涉濕寒。賊風入腹。拘急切痛。即小建中湯。加附子。去膠飴。</p>
<p>神仙沉麝丸（蘇沈良方）　療一切氣痛。不可忍者。</p>
<p>沒藥　血竭　沉香　麝香　辰砂（各一兩）　木香（半兩）　甘草（二兩）</p>
<p>上為末。熬甘草為膏。搜和。每服一丸。姜鹽湯嚼下。</p>
<p>小品解急蜀椒湯（外臺）　主寒疝心痛如刺。繞臍腹中盡痛。自汗出欲絕。</p>
<p>蜀椒（二百枚）　附子（一枚炮）　粳米（半升）　乾薑（半兩）　半夏（十二枚洗）　大棗（十二枚）　甘草（一兩炙）</p>
<p>上水煎。療心腹痛困急欲死。解結逐寒。上下痛良。</p>
<p>卒得諸疝。少腹及陰中相引絞痛。自汗出欲死。此名寒疝。亦名陰疝。張仲景飛屍走馬湯。亦佳。（外臺方見中惡）</p>
<p>姜鹽湯（入門）　食物填塞心胸作痛。宜吐之。（當與乾霍亂互考）</p>
<p>返魂丹（十便良方）　療腸內一切卒暴百病。（即三物備急丸。當與乾霍亂互考。）</p>
<p>香附散（得效）　療心脾疼不可忍者。</p>
<p>良薑　香附（炒各一兩）</p>
<p>上為末。每服二錢。入鹽。米飲調下。</p>
<p>療暴心痛。面無顏色欲死方。（千金）以布裹鹽。如彈丸大。燒令赤。置酒中。消服之。利即愈。</p>
<p>療急心疼（劉長春方）　用定粉二錢。蔥白二寸。研爛。蔥和為丸。如梧桐子大。每服七丸。好酒送下。立效。</p>
<p>絳雪散（劉長春方）　療諸心氣痛。不可忍者神效。</p>
<p>硃砂（一錢）　金箔（三葉）　明礬（一兩枯）</p>
<p>上為細末。每服一錢半。輕者一錢。空心白湯送下。</p>
<p>療諸心氣痛（儒門事親）　用生礬一皂子大。醋一盞。煎七分服。立止。</p>
<p>療腹中疼痛。或寒或熱。或積良。或積血不辨。藥不能施。有起死回生之功。（危證簡便）生薑三四斤。搗爛。略擠去汁。入鍋炒熱。用布袱兩個。先以一個。包姜一半。熱鋪痛處。候熱氣蒸熨。冷即易之。勿令間斷。如姜炒乾。以所擠出薑汁拌之。須輪流換熨。痛止乃已。</p>
<p>療卒厥逆上氣。淹淹欲死。此謂奔豚病。（肘後）</p>
<p>生薑（一斤）　半夏　吳茱萸（各一升）　桂心（五兩）　人參　甘草（各三兩）</p>
<p>上水煎。　千金。名奔豚湯。療大氣上奔。胸膈中諸病。發時迫滿。短氣不得臥。劇者便悁欲死。</p>
<p>積氣從臍左右起。上衝胸滿。氣促鬱冒。厥者。先用醋炭法。熊膽小豆大。白湯化開。調辰砂末五七分。灌之。立醒。（本朝經驗）</p>
<p>陰冷漸漸。冷氣入陰囊腫滿。日夜疼悶欲死。（千金）以布裹椒包囊下。熱氣大通。日再易之。以消為度。</p>
<p>陰核入腹。急痛叫呼欲死。（本朝經驗）以手挽陰囊。令不上縮。山茶實不拘多少。銼細。水煎服奇效。</p>

<h2>急喉痹門</h2>
<p>喉痹垂死。止有餘氣者。巴豆去皮。線穿。內入喉中牽出。即蘇。（千金）</p>
<p>喉痹口噤不開。欲死。（本草附方）</p>
<p>草烏　皂莢</p>
<p>等分為末。入麝香少許。擦牙。並搐鼻內。牙關自開。</p>
<p>又方（嚴氏）</p>
<p>草烏　石膽</p>
<p>等分為末。每用一錢。醋煮皂莢汁調稀。掃入腫上。流涎數次。其毒即破也。</p>
<p>解毒雄黃丸（局方）　解毒。療纏喉風。及急喉痹。卒然倒僕。失音不語。或牙關緊急。不省人事。</p>
<p>鬱金　雄黃（研飛各二分）　巴豆（去皮出油十四個）</p>
<p>上為末。醋煮麵糊為丸。如綠豆大。用熱茶清下七丸。吐出頑涎。立便蘇省。未吐再服。如至死者。心頭猶熱。灌藥不下。即以刀尺鐵匙斡開口。灌之。（拯急遺方。為末。用每服半字。如口噤咽塞。用小管吹入。）</p>
<p>急喉痹。其聲如鼾。有如痰在喉曏者。此為肺絕之候。用獨參湯。加竹瀝薑汁。又咽痛有陰氣大虛。陽氣飛越。脈必浮大虛。亦服此。（醫學綱目）</p>

<h2>小便急閉門</h2>
<p>凡飽食後。或忍小便。或走馬。或忍小便大走。及入房。皆致胞轉。臍下急滿不通。亂髮急纏如兩拳大。燒為末。醋四合。和二方寸匕。服之。（千金○三因云一法。與葵子等分為末。飲服一錢。）</p>
<p>凡尿不在胞中。為胞屈僻。津液不通。以蔥葉除尖頭。內陰莖孔中。深三寸。微用口吹之。胞脹津液大通。即愈。（千金）</p>
<p>療胞轉小便不得。（千金）</p>
<p>蔥白（四七莖）　阿膠（一兩）　琥珀（三兩）　車前子（一升）</p>
<p>上水煎服。</p>
<p>療小便難小腸脹。不急療殺人。（本事）用蔥白三斤。細銼炒令熱。以帕子裹。分作兩處。更替熨臍下。即通。</p>
<p>療小便不通立效方。（聖惠）</p>
<p>燈心（二束）　生薑　黑鉛（各半兩錯為末）</p>
<p>上用井華水一大盞。煎取五分。去滓。以蔥一枚。慢火燒令熱。拍破。先安在臍內。後頓服。</p>
<p>療小便不通。腹脹氣急悶。（聖惠）</p>
<p>滑石（搗研）　自己腳手爪甲（燒灰細末）</p>
<p>上以水一大盞。煎滑石。至五分。去滓。調指甲灰服之。</p>
<p>螻蛄麝香散（聖濟）　療小便不通。諸藥無效。</p>
<p>螻蛄（活者一枚）</p>
<p>生研入麝香少許。新汲水調下。立通。</p>
<p>蔥白湯（得效）　療小便卒暴不通。小腹膨急。氣上衝心。悶絕欲死。此由暴氣乘膀胱。或從驚憂。氣無所伸。鬱閉而不流。氣衝胞系不正。</p>
<p>陳皮（三兩）　葵子（一兩）　蔥白（二莖）</p>
<p>上水煎。</p>
<p>導氣除濕湯（蘭室）　療小便急閉。乃血澀致氣不通。而竅澀之證。</p>
<p>知母（酒洗）　澤瀉　黃柏（酒洗各二錢）　茯苓　滑石（為末各三錢）</p>
<p>上水煎。</p>
<p>療胞轉不得小便。（外臺）</p>
<p>吸芥真琥珀（一兩）　蔥白（十四莖）</p>
<p>上以水四升。煮取三升。去蔥白末琥珀。細篩下湯中。溫服一升。日三服。（衛生易簡。不用琥珀。用滑石。）</p>
<p>療小便不出。胞轉膨滿欲死者。（衛生易簡）用亂髮。燒灰。冷水調下方寸匕。　又方。用發灰二錢。滑石末一錢。桃白皮煎湯調下。</p>
<p>小便不通。臍下狀如覆碗。痛悶難堪。療法有二。如氣不能化而不通。則陳皮茯苓湯。調木香沉香末二錢。空心服。兼用吐法以提之。如血汙於下而不通。則用桃仁承氣湯之類破之。（醫學綱目）</p>
<p>療實熱小便不通。（入門）砂糖水。調黑牽牛末一二錢。服探吐之。</p>
<p>又方（危證簡便）　食鹽三兩。火煅。和溫水二升。服之探吐。上竅通則下竅自利。妙法也。</p>
<p>附子散（醫統）　療小便不通。兩尺脈俱沉微。乃陽虛故也。曾服通利之藥不效者。宜服此。</p>
<p>附子（一個）　澤瀉（一兩）　燈心（二十莖）　水煎。</p>
<p>琥珀散（準繩）　療虛人心氣閉塞。小便不通。　用琥珀為末。每服一錢。濃煎人參湯下有驗。</p>
<p>小便不通。臍腹脹痛不可忍。諸藥不效者。不過再服。（聖濟）用續隨子。去皮一兩。鉛丹半兩。同少蜜。搗作團。瓶盛埋陰處。臘月至春未。取出研。蜜丸梧子大。每服二三十丸。木通湯下化破尤妙。病急亦可旋合。</p>
<p>又方（本草附方）　蓖麻仁三粒。研細入紙捻內。插入莖中即通。　又方。濕紙包白鹽燒過。吹少許入尿孔中立通。　又方。蚯蚓搗爛浸水。濾取濃汁半碗服立通。</p>
<p>小便不通。百藥無效。（危證簡便）大蒜甘遂。同搗作餅。貼臍上。以艾火灸二七壯極效。</p>
<p>小便急閉。下部脹痛悶亂。（本朝經驗）琥珀油（西洋來者）蘸紙捻。徐徐插入莖中五六寸許。良久抽出。尿從而通。此法甚捷。</p>

<h2>卒暴雜證</h2>
<p>（轉筋　牙關緊急　舌卒腫　目睛突出　落下頦　卒聾卒瘂　暴肓　瘡毒內攻　傷寒並熱霍亂）</p>
<p>轉筋入腹欲死者。（葉氏）　上以四人。捉手足。灸臍左邊二寸。十四壯。　又方。生薑一兩。擘碎。酒五盞。煮濃頓服。　又方。醋煮衣絮令微溫。裹轉筋處。　又方。濃煮鹽湯。通手足。洗胸脅間。</p>
<p>轉筋男子。以手挽其陰。女子以手牽其乳近兩旁。此千金妙訣也。甚則舌卷卵縮者。難療也。（醫學集成○案此法出千金。療霍亂轉筋。）</p>
<p>孫尚藥療腳轉筋疼痛攣急。（醫學綱目）</p>
<p>松節（三兩細銼如米粒）　乳香（一錢）</p>
<p>上藥。用銀石器內。慢火炒令焦。只留一分性。出火毒。研細。每服一錢。至二錢。熱木瓜酒調下。同是筋病。皆療之。　轉筋而疼。灸承山而可療。（針經指南）</p>
<p>療人呵欠口不能合。及卒然牙關緊急。水不能入。以致不救即死。（拯急遺方）</p>
<p>上用鹽梅二個。取肉擦牙。即當口開。若開又不能合。再用鹽梅肉。擦兩牙注。候開合當止。卻須服療風藥調理。</p>
<p>舌卒腫起。如吹泡。滿口塞喉。須臾不療殺人。（葉氏原出外臺）上以指刮破舌兩邊皮。或刀破。次用釜下墨煤。和鹽塗舌上。用酒調。亦得。</p>
<p>眼睛突出一二寸者。以新汲水灌漬睛中。數易之自入。（本草附方）</p>
<p>物傷睛突。輕者臉胞腫痛。重者目睛突出。但目系未斷者。即納入。急搗生地黃。綿裹傅之。仍以避風膏藥。護其四邊。（聖濟○本朝經驗。以唾塗睛納入。最妙。）</p>
<p>落下頦拿法。患者平身正坐。以兩手托住下頦。左右大指入口內。捺槽牙上端。緊下頦。用力往肩下。捺開關竅。向腦後送上。即投關竅。隨用絹條。兜頦於頂上。半時許去之。即愈。（正宗）</p>
<p>凡伸欠頰車蹉。但開不能合。以酒飲之。令大醉。睡中吹皂角末。搐其鼻。嚏透即自正。（三因）</p>
<p>笑脫下頦。用線纏綿球二個。塞於左右牙床後。用手托上妙。（壽域）</p>
<p>療患乍瘂。用杏仁三分煎熬。別研。桂一分。和搗如泥。每用如杏核大。綿裹含。徐徐熱之。日五夜三服。最妙。（壽域）　又方。用皂莢一挺。去皮子。蘿蔔三枚。切片。水二盞。煎一盞服之。不過三四服。其聲即出。</p>
<p>耳卒聾閉。芥子末入乳汁。和以綿裹塞之。（外臺）</p>
<p>又方　巴豆一粒。紙裹。針刺孔通氣。塞之取效。（本草附方）　又方。蚯蚓入鹽安蔥內化水。點之。立效。</p>
<p>暴盲氣虛者。用大劑人參膏。血虛者大劑黃蓍當歸煎湯。調服人參膏。濕者。白朮為君。黃蓍茯苓陳皮為臣。附子為佐。最忌金石墜鎮之藥。以其神氣浮散於上。犯之必死。（張氏醫通）</p>
<p>瘡毒入腹心。上衝逆滿。（元戎）</p>
<p>綠豆粉（半錢）　干胭指（三分）　澱粉（三錢）</p>
<p>為細末。新水調下。神效。</p>
<p>追毒散（宣明）　療生瘡發悶。吐逆霍亂。</p>
<p>螺兒青　甘草（各一兩）　白礬（二錢半）</p>
<p>上為細末。每服一錢。新汲水調下。立止。</p>
<p>療惡毒腫。或著陰卵。或著一邊。疼痛攣急。引入小腹。不可忍者。一宿殺人方。（千金）取茴香草。搗汁飲一升。日三四服。滓傅腫上。冬月闕生者。根亦可用。此是外國神方。起死回生神驗。</p>
<p>忽喘悶絕。不能語言。涎流吐逆。牙齒動搖。氣出轉大。絕而復甦。名傷寒並熱霍亂。（得效）</p>
<p>大黃　人參（各半兩）</p>
<p>上水煎熱服。</p>

<h2>婦人急證門</h2>
<p>芎歸膠艾湯（金匱）　有妊娠下血者。假令妊娠腹中痛。為胞阻。此湯主之。　集驗。療頓僕失踞。胎動不安腹痛。（外臺）</p>
<p>芎藭　阿膠　甘草（各二兩）　艾葉　當歸（各三兩）　芍藥　乾地黃（各四兩）</p>
<p>上水酒煎服。</p>
<p>佛手散（本事）　療妊孕至五七月。因事築磕著胎。或子死腹中。惡露下。疼痛不已。口噤欲絕。此藥探之。若不損則痛止。子母俱安。若胎損。立便逐下。此藥催生神妙。</p>
<p>當歸（六兩）　川芎（四兩）</p>
<p>上水酒煎服。口噤灌之。</p>
<p>奪命丸（大全良方）　專療婦人小產下血至多。子死腹中。其人增寒手指唇口爪甲青白。面色黃黑。或胎上搶心。則悶絕欲死。冷汗自汗。喘滿不食。或食毒物。胎尚未損。服之可安。已死服之可下。</p>
<p>牡丹皮　茯苓　桂心　桃仁　芍藥</p>
<p>上各等分。為細末。以蜜丸如彈子大。每服一丸。細嚼淡醋湯送下。速進兩丸。至胎腐腹中危甚者。立可取出。（即金匱桂枝茯苓丸）</p>
<p>羚羊角散（濟生）　療妊娠中風。頭項強直。筋脈攣急。言語蹇澀。痰涎不利。或發搐不省人事。名曰子癇。</p>
<p>羚羊角　獨活　酸棗　五加皮（各半錢）　薏苡　防風　當歸　芎藭　茯神　杏仁（各四分）　木香　甘草（各二分半）</p>
<p>上生薑五片。水煎。</p>
<p>療諸痙子癇絕。起死也。當速辨竹作瀝汁。（外臺）</p>
<p>芩連四物湯（方考）　療子癇陰虛火亢。　四物湯黃芩黃連半夏（各等分）</p>
<p>生薑水煎。</p>
<p>鉤藤湯（大全良方）　療妊娠八九月。胎動不安。心腹㽲痛。面目青。冷汗出。氣欲絕。此由勞動用力傷胎宮。宜急療之。</p>
<p>鉤藤　當歸　茯神　人參（各一兩）　苦梗（一兩半）　桑寄生（半兩）</p>
<p>上水煎服。煩熱加石膏二兩半。臨產月。加桂心一兩。　孕婦忽然顛仆抽搐。不省人事。謂之子癇。用此湯。（金鑑）</p>
<p>二合湯（壽世保元）　療妊娠忽然口噤吐沫。不省人事。言語錯亂。　四物湯。合二陳。加麥門遠志石菖竹茹。</p>
<p>黑神散（大全良方）　療胎死腹中。緣兒死身冷。不能自出。服之暖其胎。須臾胎即自出。　本方有附子。無蒲黃。（本方見後）</p>
<p>加味芎歸湯（幼幼集成）　催生及產後。最為穩當。功亦鉅大。</p>
<p>當歸（一兩）　芎藭（五錢）　上青桂（二錢）</p>
<p>催生。但用此三味。水煎酒對服。立下。預防血暈。以本方加酒炒荊芥二錢。先將此藥煎好。俟胞衣已下。隨即服之。永無血暈之患。</p>
<p>脫花煎（景岳）　凡臨盆將產者。宜先服此藥。並療難產經日。或死胎不下。俱妙。</p>
<p>當歸（七八錢或一兩）　肉桂（一二錢或二錢）　川芎　牛膝（各二錢）　車前（一錢半）</p>
<p>水二鍾。煎八分熱服。或服後飲酒數杯。亦妙。　水煎加酒對服。若胎死不下。及胞衣不來。再加芒硝五錢。氣虛困劇者。加人參二三錢。更加附子二錢。無不下者。此方比平胃散加芒硝。（出良方下死胎）功勝百倍。（幼幼集成）</p>
<p>療產難及橫生逆產。或血海乾枯。以致胎死不下。惶惶無措。死在須臾。（幼幼集成）</p>
<p>皮硝（五錢）　熟附子（一錢五分）　好酒　童便（各半杯）</p>
<p>同煎三沸溫服。立下。百發百中。</p>
<p>趙和叔傳下死胎方。（本事）</p>
<p>桂心末（二錢）　麝香（一個）</p>
<p>上同研。溫酒調服。須臾如手推下。何氏方。無麝香。每用桂末二錢。痛陣密時。用溫童子小便調下。名觀音救生散。兼療產難。及橫倒生。</p>
<p>奪命丹（產育集）　療胞衣不下。或惡血湊心。其證心頭迷悶。胎衣逆上衝心。須臾不救。其母即死。</p>
<p>附子（半兩炮）　牡丹皮（一兩）　乾漆（一分碎之炒令煙盡）</p>
<p>上為細末。以釅醋一升。大黃末一兩。同熬成膏。和藥丸如梧子大。每服三十丸。淡醋湯吞下。須臾又進二服。其胎衣立下。（拯急遺方。去牡丹。云。此藥可預先合下。備急為奇。）</p>
<p>產乳暈絕。含釅醋噀面即愈。凡悶即噀之。（千金）</p>
<p>黑神散（局炒）　方療產後血暈。神昏眼黑口噤。瘀血諸疾。血暈。胸腹脹痛氣粗。外證兩手握拳。牙關緊閉。此血逆也。宜此方。無脹無痛者屬虛。大劑芎歸湯。加肉桂。　黑豆（炒去皮半升）　熟地　當歸　肉桂　炮姜　甘草　芍藥　蒲黃（各四兩）</p>
<p>上為細末。每服二錢。酒半盞。童便半盞。同煎調下。</p>
<p>清魂散（產育）　療產後血暈極甚者。悶絕不知人。口噤神昏。</p>
<p>澤蘭葉　人參（各二錢半）　荊芥（十錢）　川芎（五錢）</p>
<p>上為末。溫酒調一錢。急灌之。下咽即開眼。氣定省人事。</p>
<p>牡丹散（產育）　療產後血暈。悶絕狼狽。若口噤則拗開灌之。</p>
<p>牡丹皮　大黃　芒硝（各一兩）　冬瓜子（半合）　桃仁（三七粒）</p>
<p>上水煎服。（即腸癰大黃牡丹湯是。）</p>
<p>獨得散（大全良方）　療產後血暈。昏迷不省。衝心悶絕。　五靈脂（二兩半炒半生）</p>
<p>上為細末。每服二錢。溫酒調下。口噤者。拗開灌之。入喉即愈。</p>
<p>產後血暈（便產須知）　鹿角（燒灰出火毒）</p>
<p>上為細末。好酒調下。即醒。行血極快。</p>
<p>氣脫證。產時血既大下。則血去氣亦去。故昏暈不省。微虛者少刻即蘇。大虛者竭絕即死。但察其面目。如眼閉口開。手撒手冷。六脈微細或浮。此即氣脫證。速用。　人參（五七錢至三十錢）</p>
<p>加入炒米煨姜紅棗煎湯。徐徐灌之。但得下咽。即可救活。若少遲延。則無及矣。（幼幼集成）　若兼口鼻氣冷。手足厥冷。此為真虛挾寒。速宜溫補。每用人參兩餘。而以姜附佐之。庶得回春。不可忽也。（醫學心悟）</p>
<p>一婦面白形長。心郁。半夜生產。侵晨暈厥。急於氣海。（臍下一寸五分）灸十五壯。而蘇。後以參朮等藥。服兩月而安。（丹溪纂要○案此氣脫證）</p>
<p>血運求療。極宜靜肅。喧叫則死。（簡明醫彀）</p>
<p>六味回陽飲（幼幼集成）　凡真元已敗。氣血既亡。陰陽將脫。非此莫能挽回。誠迴天贊化。第一之功。此景岳新方。知者尚少。</p>
<p>人參（一二兩）　附子（二三錢）　甘草（一二錢）　炮姜（二三錢）　熟地（五錢）　當歸（三錢）</p>
<p>上水煎。加鹿茸數錢。功更捷。</p>
<p>參蘇飲（大全良方）　療婦人產後。血入於肺。面黑髮喘。欲死者。（方見攧撲門）　產後氣喘。極危證也。因下血過多。孤陽上越。用參附湯。若因惡露不行。敗血上攻。面色紫黑。宜此方。（金鑑）</p>
<p>愈風散（中藏）　療產後中風。口噤牙關緊急。手足瘈瘲。如角弓狀。亦療血暈四肢強直。不省人事。或心眼倒築。吐瀉欲死。　荊芥穗（輕炒過一兩）</p>
<p>上為末。每服三錢。溫酒調下。豆淋酒調下。用童便。亦可。其效如神。口噤者灌。齒齦噤者吹鼻中。皆效。（本草。名舉卿古拜散是。）　加當歸等分。水一盞。酒少許。煎至七分。灌之。下咽即有生理。不問多少便服。不可以藥味尋常忽之。屢用救人有效。（十便○入門名古荊歸湯此清神氣通血脈。其效如神。）</p>
<p>乳自出如湧泉。甚而昏暈者。名乳厥。先以獨參湯灌之。更以十全大補湯。服數十劑方安。（證治大還）</p>

<h2>小兒急證門</h2>
<p>凡有臍風撮口。胎風撮口。鎖肚撮口。瘹腸撮口。卵疝撮口。皆出結鬱於腸胃。閉不得通。腹中滿脹。肚上青筋。撮口不乳。最為惡候。一臘內見之尤急。用紫丸子利之。才通疾去兒和。用者敬信而已。（直指）</p>
<p>紫丸（千金）　赤石脂　代赭石（各一兩）　巴豆（三十枚）　杏仁（五十枚）</p>
<p>上為末。巴豆杏仁別研為膏。相和。更搗二千杵。入少蜜。同搗之。密器中收三十日。兒服如麻子大一丸。與少乳汁令下。</p>
<p>龍膽湯（千金）　小兒初出。面目悉黃。而啼。閉目聚口撮面。口中乾燥。四肢不能伸縮。皆是血脈不斂也。</p>
<p>龍膽　鉤藤　柴胡　黃芩　桔梗　芍藥　茯苓　甘草（各六銖）　大黃（一兩）</p>
<p>上水煎灌之。（原方有蜣螂二枚今依神巧萬全方。嬰童百問等去之。）</p>
<p>療小兒胎熱撮口。（聖惠）</p>
<p>牛黃（細研一錢）　竹瀝（一合）</p>
<p>上令勻。時時與少許服之。</p>
<p>瓜蒂散（袖珍小兒方）　療臍風撮口。吹入鼻內。啼則可療。又療小兒三歲。忽發心滿堅硬。腳手心熱。則變為黃病。不急療殺人。</p>
<p>瓜蒂（七枚）　赤豆（七粒）　秫米（七粒）</p>
<p>上為末。用一豆許。吹兩鼻內。令黃水汁出。殘藥未盡。水調服之。得吐黃水。即瘥。</p>
<p>臍風一成。必有青筋一道。上行至肚。而生兩岔。宜灸筋頭三壯。截住。若見兩岔。即灸兩岔筋頭各三壯。十活八九。遲則上行攻心死矣。又法。以小艾炷。隔蒜灸臍中。（歐氏保嬰錄）</p>
<p>急驚屬實熱。宜用清涼。慢驚屬虛寒。宜用溫補。二病若霄壤之相隔。療法若冰炭之相反。而諸方書。多用一藥。以療二病。何其謬妄之甚也。（活幼心法）</p>
<p>嚏開散（活幼心法）　半夏（生用一錢）　皂角（五分）</p>
<p>上為細末。用一小豆許。用管子。吹入鼻立醒。</p>
<p>稀涎散（活幼心法）　每服二匙。白湯調下。若牙關緊不可開。即從鼻灌之。（方出中風門）</p>
<p>此二方。姑存以備驚風急用。</p>
<p>龍膽湯（千金）　療急驚身熱。面赤搐搦。上視牙關緊硬。口鼻中氣熱。痰涎潮壅。忽然而發。發過容色如故。有偶因驚嚇而發者。有不因驚嚇而發者。然多是身先有熱。而後發驚搐。未有身涼而發者。此陽證也。（方見前）</p>
<p>肘後療驚癇瘲掣。（幼幼新書）　上取熊膽一兩豆大。和乳汁。及竹瀝汁服。並良。得去心中涎效驗。</p>
<p>柴胡加大黃湯（袖珍小兒方）　療急驚風。最利痰熱。　即小柴胡湯。加大黃。（量虛實加之）</p>
<p>救急驚神方（滋德堂方）　生白石膏研末十兩。辰砂研末五錢。二味和勻。每服一歲至三歲一錢。四歲至七歲一錢五分。八歲至十二歲二錢。十三歲至十六歲二錢五分。用生蜜調下。</p>
<p>黑附湯（直指）　慢脾風之候。面青額汗。舌短頭低。眼合不開。困睡中搖頭吐舌。頻嘔腥臭。噤口咬牙。手足微搐而不收。或身冷。或身溫。而四肢冷。其脈沉微。陰氣極盛。胃氣極虛。十救一二。（活幼心法云。慢脾風者。即慢驚失理而甚者。其實難大分別。）</p>
<p>附子（炮三錢）　木香（一錢半）　白附子（一錢）　甘草（炙半錢）</p>
<p>上生薑五片。水煎。以匙送下。加人參一錢半。名黑附子湯。（保嬰撮要）</p>
<p>虛風湯（幼幼新書）　療慢驚多因吐瀉。或因久瀉而得之。身冷麵或白或黃。不甚搐搦。目微微上視。口鼻中氣塞。大小便清白。昏睡露睛。筋脈拘攣。此危證也。</p>
<p>黑附子　南星（各一個）　白附子（七個）　全蠍（一個）</p>
<p>上水煎。</p>
<p>肘後療卒得癇方。（外臺）</p>
<p>鉤藤　甘草（各等分）</p>
<p>水煎。服如小棗大。</p>
<p>人參牛黃散（總微論）　療小兒驚熱。</p>
<p>牛黃　人參（各等分）</p>
<p>上為末。以薄荷水調下。最佳。</p>
<p>琥珀散（嬰童百問）　療小兒急慢驚風。入口立效。驚癇發作。常服除根。</p>
<p>辰砂（一錢半）　琥珀　牛黃　天麻　殭蠶　全蠍　白附子　乳香　蟬蛻　代赭石（煆醋淬七次各一錢）　麝香　片腦　牛膽南星（各一字）</p>
<p>上為末。薄荷湯下。慢驚加附子一分。（薛氏撮要。去龍麝。）</p>
<p>紫金錠（類萃）　療一切驚風癇證。痰涎壅盛。功過牛黃等劑。（即萬病解毒丸。加雄黃辰砂。方出中飲食毒門。）</p>
<p>暴喘。俗傳為馬脾風也。大小便哽。宜急下之。用牛黃奪命散。後用白虎湯平之。（醫學綱目）　馬脾風。在百日內者。不理。</p>
<p>牛黃奪命散（綱目）　療小兒肺脹。喘滿胸膈起急。兩脅扇動。陷下作坑。兩鼻竅張。悶亂嗽喝。聲嗄而不鳴。痰涎潮塞。俗云馬脾風。若不急療。死在旦夕。</p>
<p>白牽牛　黑牽牛（各一兩半生半熟）　大黃　檳榔（各一兩）</p>
<p>上為細末。三歲兒每服二錢。冷漿水調下。涎多加膩粉少許。無時加蜜少許。（幼幼集成。去檳榔。加枳實。）</p>
<p>無價散（綱目）　療風熱喘促。悶亂不安。俗謂之馬脾風。</p>
<p>辰砂（一錢半）　輕粉（五錢）　甘遂（麵裹煮焙乾一錢半）</p>
<p>上為細末。每服一字。用溫漿水少許。入滴油一點。挑藥在上。沉下去卻。以漿水灌之。立效。（入門。名馬脾風散。）</p>
<p>又一法（綱目）　小兒喘脹。俗謂之馬脾風。又謂之風喉者。以草莖量病兒手中指里。近掌紋。至中指尖截斷。如此二莖。自乳上微斜直立兩莖。於梢盡頭。橫一莖。兩頭盡頭點穴。灸三壯。此法多曾見愈。</p>
<p>小兒生下。有走馬候。甚即遍沾作崩砂候。牙邊肉腫。爛齒齦紫色。口內氣臭。身微有潮熱。吃食不得。齒縫出鮮血。齒動似欲脫。肉爛自漏落。此候因肚中疳氣盛。而奔上上焦。熱蒸得牙如此。若先落齒一個即死。不活。先以淡鹽湯洗口內。次摻藥。</p>
<p>譚氏殊聖療走馬疳方。（幼幼新書）　上用尿桶內白。不拘多少。焙乾為末。入麝香少許。研細揩牙立效。</p>
<p>聖散子（新書）　療小兒走馬疳。</p>
<p>膽礬　龍膽草（各一兩）</p>
<p>上同於瓦瓶中。煅煙盡。略存性。貼瘡上。（入麝香少許。名黑神散。）</p>
<p>雄黃散（新書）　療走馬疳。</p>
<p>雄黃（半兩）　水銀　銅綠（各半錢）　麝香（半字）</p>
<p>上先將雄黃。同水銀研。令星盡。次入銅綠麝香。研勻細。先用鹽漿水揩患處。搵冷干。次貼藥。有涎吐之。先翦去死肉。貼藥。其效甚捷。</p>
<p>檳榔散（新書）　檳榔　大黃　青皮（各一分）　黑牽牛（一錢）　木香（少許）</p>
<p>上為末。每服一錢。薄荷蜜水下。</p>
<p>牛黃散（新書）　甘草（二兩）　鬱金（一兩）　馬牙硝（半兩）　硃砂（二錢）</p>
<p>上為細末。袞伴令勻。每服一錢。或半錢。新汲水調下。　上二方。並療走馬疳。</p>
<p>黃連解毒湯（兒科方要）　療牙疳。清血中之熱。瀉胃中之火。</p>
<p>黃連　甘草　玄參（各一錢）　射干（一錢半）　貝母　桔梗　連翹（各七分）　生地（八分）　犀角（水磨一錢藥熟入）</p>
<p>水煎服。</p>
<p>三黃犀角地黃湯（本朝經驗）　走馬疳宜速服之。　即三黃湯合犀角地黃湯。</p>
<p>療卒然腹皮青黑而死。灸臍上下左右。去臍各半寸。並鳩尾骨下一寸。凡五處。各灸三壯。仍用酒和胡粉。塗其腹。（得效）</p>
<p>小兒暴腹滿欲死。半夏不以多少。微火炮為末。酒和為丸。如粟米大。三五粒。淡薑湯。或蜜湯下。（得效）</p>
<p>小兒中惡暴死。蔥白納下部。及鼻中立活。或用菖蒲著舌底。及吹入兩鼻兩耳中效。（得效）</p>

<h1>下卷</h1>

<h2>疔瘡急證門</h2>
<p>程山齡曰。療疔之法。貴在乎早。初起即療者。十全十活。稍遲者十全五六。失療者十全一二。內服莫妙於菊花甘草湯。（外科十法）</p>
<p>甘菊花（四兩）　甘草（四錢）</p>
<p>水煎頓服。揸再煎服。</p>
<p>消疔簡便方（大全）　疔瘡及諸惡毒初起。但未成膿者。服之神效。</p>
<p>白礬（研三錢）　蔥白（七莖）</p>
<p>上同搗極爛。分作七塊。每塊用熱酒一杯送下。服畢。用厚被蓋之。再進蔥白湯一鍾。少頃汗出如淋。從容去其覆物。其病如脫。此雖味澀難服。其效甚妙。</p>
<p>萬靈奪命丹（大全）　療一切疔毒入腹。煩悶噁心。並癰疽發背惡瘡。</p>
<p>硃砂（水飛）　蟾酥（人乳泡）　輕粉　膽礬（各五錢）　銅綠　血竭（各一兩）　雄黃　枯礬（各二兩）</p>
<p>共為細末。麵糊丸芡實大。每服一丸。令病人先將蔥白三寸嚼爛。吐在手心。將丸包在蔥內。熱湯吞下。出汗。</p>
<p>疔毒已篤者。二服即愈。（丹方彙編）</p>
<p>土蜂房（一具）　蛇蛻（一條）</p>
<p>黃泥固濟。燒存性為末。每空心好酒服一錢。少刻大痛。痛止其瘡已化為黃水。</p>
<p>追疔奪命湯（急救仙方）　能內消腫毒。</p>
<p>羌活　獨活　防風　青皮　黃連　芍藥　細辛　甘草　蟬退　殭蠶　澤蘭　金線重樓</p>
<p>上等分水煎。加少酒服。以衣被蓋覆。汗出為度。病退減。後再加大黃。利一兩次。以去餘毒。</p>
<p>黃連解毒湯（正宗）　療疔毒入心。內熱口乾。煩悶恍惚脈實者。</p>
<p>黃連　黃芩　黃柏　山梔　連翹　甘草　牛蒡子（各等分）</p>
<p>燈心二十根。水煎服。</p>
<p>救命仙方（外科纂要）　療疔毒走黃。打滾欲死者。一服見效。</p>
<p>牡蠣　山梔　銀花　木通　連翹　牛蒡子　乳香　沒藥　角刺　瓜蔞仁　大黃　地骨皮（各八分）</p>
<p>上水酒煎。便秘者加朴硝。（即正宗疔毒復生湯。花粉代瓜蔞仁耳。）</p>
<p>太乙紫金丹（正宗）　解諸毒。療諸瘡。真能起死回生。（方出飲食中毒門）</p>
<p>疔瘡生根。入腹者便死。用磨針刀鐵漿水一碗。絲綿濾淨。銀鍋內煎三四沸服之。病者須臾腸鳴。行利一二次。甦醒方妙。（瘡瘍經驗全書）</p>
<p>托裡護心散（啟玄）　療諸疔疽發背。曾經汗下。毒氣攻心迷悶。嘔而痛。二三服而安。</p>
<p>乳香（明淨一兩）　綠豆粉（四兩）</p>
<p>上細末。每服三錢。甘草湯調下。（此方原出於精要）</p>

<h2>金瘡攧撲門</h2>
<p>傷重昏憒者。急灌以獨參湯。雖內瘀血。切不可下。急用花蕊石散內化之。（方出卒失血門）恐因瀉而亡陰也。凡瘀血在內。大小便不通。用大黃朴硝。血凝而不下者。急用木香肉桂末二三錢。以熱酒調灌服。血下乃生。若口噤手撒。遺尿痰盛。唇青體冷者。虛極之壞症也。急投大劑參附湯。多有得生者。（正體類要）</p>
<p>參蘇飲（類要）　療出血過多。瘀血入肺。面黑喘促。</p>
<p>人參（一兩）　蘇木（二兩）</p>
<p>上水煎服。</p>
<p>雞鳴散（三因）　療從高墜下。及木石所壓。凡是傷損。瘀血凝積。氣絕欲死。</p>
<p>大黃（一兩）　杏仁（二七個）</p>
<p>上研細。酒一碗。煎至六分碗。捩去滓。雞鳴時服。次日取下瘀血即愈。若便覺氣絕不能言。取藥不及。急擘口開。以熱小便灌之。</p>
<p>療亂打血攻心。（醫法指南）</p>
<p>大黃　當歸　蘇木　紅花（各三分）</p>
<p>酒水各半煎服。（案斯方。勝於大成湯。）</p>
<p>凡被打損。血悶搶心。氣絕不能言。可擘開口以熱尿灌入口中。令下咽即醒。又墮車落馬。及車碾木打已死者。以死人安著。以手袖掩其口鼻眼上。一食頃活。眼開與熱小便二升。（千金）</p>
<p>跌撲傷損。去血過多。脈微欲死。獨參湯。如童便。接住元氣再處。大法傷損。及金瘡失血過多。與產婦同。脈來和緩者生。急疾芤者死。宜虛細。不宜數實。（證治大還）</p>
<p>摧壓跌打。從高墜下。及竹木所磕。落馬撲車。氣沉重。取藥不及。擘開口。以熱尿灌之。用半夏末吹鼻。以艾灸臍。再將患人盤膝坐住。將發提起。使氣從上升。則可活矣。（願體集）</p>
<p>又方（危證簡便）　皂莢末。急吹入鼻。亦可。如活即以生薑汁。和香油打勻灌之。</p>
<p>療人被人打死或踢死。（危證簡便）急取百會穴。艾灸三壯。立蘇。</p>
<p>撲打墜損。惡血攻心。悶亂疼痛。（救急易方）用乾荷葉五斤。燒令姻盡。空腹以童便溫一盞。調下三錢。</p>
<p>傷經。砍斷血筒。血出如湧泉者是。（醫學集成）銅末敷之。又用蔥一斤。炒乘熱熨之。</p>
<p>自刎者。乃迅速之變。須救在早。遲則額冷氣絕。必難救矣。氣從口鼻通出。</p>
<p>生薑（五片）　人參（二錢）　白米（一合）</p>
<p>煎湯灌之。接補元氣。急用縫合法。（正宗）</p>
<p>自行被攧。穿斷舌心。血出不止。以米醋用雞翎刷所斷處。其血即止。仍用真蒲黃杏仁去皮尖。硼砂少許。研為細末。煉蜜調藥。稀稠得所。噙化而安。（得效方）</p>
<p>順血散（本朝經驗）　療一切金瘡撲損。及產後血暈。</p>
<p>當歸　芎藭　芍藥　蒲黃　澤瀉　枳殼　人參　大黃　沉香　茯苓（各一錢）　甘草（三分）　接骨木（五錢）</p>
<p>上銼細。每服二錢。入麻布袋。用沸湯擺服之。</p>
<p>五金所傷。並竹木刺。流血不止。上身被傷。急以銀一錠。燒紅烙傷處。如下身。急以鐵一塊。燒紅烙傷處。其血立止。此急救良方也。（瘍醫大全）</p>
<p>可法良規云。凡傷損之症。若誤飲涼水。瘀血凝滯。氣道不通。或血上逆。多致不救。若入於心即死。急飲童便熱酒以和之。若患重而瘀血不易散者。更和以辛溫之劑。睡臥要上身墊高。不時喚醒。勿令熟睡。則血庶不上逆。故患重之人。多為逆血填塞胸間。或閉塞氣道。咽喉口鼻。不得出入而死。（瘍醫大全）</p>

<h2>破傷風門</h2>
<p>大豆紫湯（千金）　療破傷風。入四體。角弓反張。口噤不能言。或產婦墮胎。凡得此者。太重不過五劑。</p>
<p>大豆（五斤）　清酒（一斗）</p>
<p>上二味。以鐵鐺猛火熬豆。令極熱焦煙出。以酒沃之。去滓。服一升。日夜數服。服盡更合。小汗則愈。</p>
<p>破傷風。瘡口作白痂。無血者殺人。最急療之。（葉氏方）　上以雄鼠糞。直者是。研細熱酒調半錢服。</p>
<p>鎮風散（正宗）　療破傷風。諸藥不效。事在危急者。用之必應。</p>
<p>鰾膠（銼斷微焙）　杭粉（焙黃即宮粉）　皂礬（炒紅色各一兩）　硃砂（三錢別研）</p>
<p>為細末。每服二錢。無灰熱酒調下。外灸傷處七壯。知痛為吉。如一切豬羊癲風。發時昏倒不省人事者。每服三錢。二服。即愈不發。</p>
<p>玉真散（本事）　療風自諸瘡口入。為破傷風。項強牙關緊欲死。</p>
<p>防風　天南星</p>
<p>上為末。每服三錢。童子小便一大盞。煎至七分熱服。（三因名防風散）打傷至死。但心頭微溫。以童子小便調下二盞。並三服。可救二人性命。</p>
<p>香膠散（三因）　療破傷風。口噤強直。　魚膠（燒七分留性）</p>
<p>上研細。入麝香少許。每服二錢。酒調下。不飲酒。米湯下。或以蘇木煎湯下。</p>
<p>破傷風。血凝心。針入肉。三症。如神方。（證治大還）烏鴉翎。燒灰存性。細研。服一錢。滾湯下。</p>
<p>大芎黃湯（活法機要）　療破傷風在裡者。宜疏導。</p>
<p>川芎　羌活　黃芩　大黃（各二錢）</p>
<p>上水煎服。臟腑通和。為度。</p>

<h2>湯火傷門</h2>
<p>凡火燒損。慎勿以冷水洗之。火瘡得冷。熱氣更深。轉入骨壞人筋骨難瘥。初被火燒。急向火更炙。雖大痛強忍之。一食頃。即不痛神驗。（千金）</p>
<p>火氣入腹熱悶。柳葉一升。煎湯服。（萬全備急）</p>
<p>火燒欲死（廣筆記）　煮好酒三壇。入浴缸內。令患者沒酒中。極重不死。</p>
<p>療人卒中煙火毒。用黃豆醬一塊。調溫湯一碗灌之。即蘇。（本草匯言）　療人遭火燒。身爛垂死者。用臭醬一兩。取水白酒一二甕。將酒頓溫。不可過熱。調醬於中。令患者浸酒中。燒極重不死。（天啟甲子秋八月。教場火藥發。燒死藥匠數百人。內十餘人。遍體赤爛。未死者。令行此方。浸活如數。）</p>
<p>療火傷（肘後）　破雞子。取白塗之。又取暖灰。以水和。習習爾以數之。亦以灰汁洗之。</p>
<p>又方（衛生易簡）　凡湯燒。先用鹽末摻之。護肉不壞。後用藥傅。</p>
<p>又方（本草附方）　用瓶盛麻油。以箸就樹夾取黃葵花。收入瓶內。勿犯人手。密封收之。遇有傷者。以油塗之。甚妙。</p>
<p>平時收老黃瓜。不拘多少。覓厚實磁瓶貯之。藏暗濕處。自爛為水。將此水塗湯火傷處。立時止痛。可不起泡。此余幼時墜入烈火。半體皆傷。連療不效。得此方愈。（願體集）</p>
<p>清涼散（奇方類編）　耑療湯泡火燒。敷之止疼立愈。　大麥淨沙鍋內炒。至漆黑為度。取出以紙鋪地上。出火氣。研細末。爛者干揸。未破者。以香油桐油調揸。</p>
<p>療湯火傷（暴證知要）　雞黃油。如法取傅。　法。用雞子。不拘多少。煮熟去白留黃。入銅杓內。每十個加菜油一小酒盞。煎枯去查。出火氣用傅。甚佳。黯齋陳君。每用藥油救人。即此也。</p>
<p>湯煎膏火所燒（外臺）　熟搗生胡麻如泥。以厚塗瘡上。</p>
<p>滾湯煎膏所灼。火焰所燒。（外臺）牛糞新者。和以雞子白塗之。比常用之。亦不作瘡。不痛。神效。</p>
<p>火湯熱油傷（公選良方）　雞子清油調淋洗。或用蜜塗。</p>
<p>火藥傷（危證簡便）　取雞蛋清。多年陰溝泥。和勻傅神效。　又方。先吊臘酒冷洗。以拔其毒。再以雞子十數個。熟去白。以黃炒焦黑。取油約一盞。用大黃研末二兩。和勻傅上。三日全好。</p>
<p>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯（金匱）　療火邪。</p>
<p>桂枝（三兩）　甘草（二兩炙）　生薑（三兩）　牡蠣（五兩熬）　龍骨（四兩）　大棗（十二枚）　蜀漆（三兩去腥）</p>
<p>上水煎。</p>
<p>玄妙飲（丹臺玉案）　療湯火所傷。先服。恐火毒攻心。</p>
<p>黃連　花粉　玄參（各二錢）　陳皮　桔梗　山梔（各一錢五分）</p>
<p>竹葉十片。水煎。如藥不便。只用好酒溫。洗拔其熱毒。內服童便。以護其心。使火毒不內攻。隨取大黃末。桐油調敷。即垂危者。皆保無恙。</p>
<p>逐火丹（石室秘錄）　療無意之中。忽為湯火所傷。遍身潰爛。與鬼為鄰。服之可以變死而生。</p>
<p>當歸（四兩）　茯苓　黃蓍（各三兩）　大黃　甘草（各五錢）　荊芥（炒黑）　黃芩　防風（各三錢）</p>
<p>上水煎。</p>
<p>火燒湯潑。粥燙油燙奇方。（瘍醫大全）平日泡過茶的茶葉。剩下的茶腳。不拘甚的粗細茶葉。用瓦壇一個。放朝北地上。日逐裝在壇內。聚之已滿。用大磚一塊。蓋好。須得一年。用之方妙。愈陳愈好。凡遇上症。不問已潰未潰。搽上即定痛結疤。第一驗方。</p>
<p>火燒滾湯起泡。（瘍醫大全）陳蕎麥麵。打糊裱上。立止疼痛結靨。</p>
<p>滾粥熯傷。（瘍醫大全）　錫箔遍貼神效。如受傷重者。可吃溫香油一鍾。</p>
<p>顧世澄曰。凡被火傷之人。宜用羌活一兩煎服。俾火毒得汗外泄。庶免內攻。（瘍醫大全）</p>

<h2>咬傷門</h2>
<p>人齒咬破指頭。痛不可忍。久則爛脫手指並手掌。諸方不載。急用人尿。使瓶盛之。將患指浸在內。一宿即愈。如爛者用龜殼燒灰敷之。如無龜。用龜殼燒灰搽敷。亦可。（壽世保元）　人咬傷者。用龜板或龜甲。燒存性為末。以香油調搽。（奇效單方）</p>
<p>又方（危證簡便）　咬時一日內。先用熱小便浸傷處。洗淨牙黃瘀血。次以龜板或龜甲調搽。若腫痛焮發疼甚者。亦與童便浸洗拭乾。用粗草紙捻。蘸麻油點火。用煙焰薰腫痛上。良久方住以解牙毒。如臭腐淋漓。用蔥白三兩。粉草五錢煎湯。每日洗淨。再用藥搽。</p>
<p>又方（集驗良方）　人咬。用溏雞屎塗咬處。立刻止痛。不成膿。又方。用生栗子。嚼爛敷之。</p>
<p>又方（丹方彙編）　用熱尿洗去牙黃瘀血。以蟾酥丸塗入孔中。或嚼白果塗之。如痛用麻油紙捻。火焰薰之。用幹人糞。裝荔枝殼內。安定咬處。加艾團灸之。以不痛為度。</p>
<p>又方（危證簡便）　人咬指。用飯店內陳久快子（案即筋兒）　頭數十個。燒灰存性。研細。用米湯調。做一個套子套上。雖極重者。亦可救。</p>
<p>療猘犬咬人方（肘後）　先嗍卻惡血。灸瘡中十壯。明日以去。日灸一壯。滿百乃止。（案嗍卻惡血。人不肯為之。宜用角法嗍之。）</p>
<p>又方（後肘）　生食蟾蛤鱠絕良。亦可燒炙食之。不必令其人知。初得齧便為之。則後不發。</p>
<p>又方（千金）　急用針刺去血。以人小便洗淨。用胡桃殼半邊。以人糞填滿。掩其瘡上。著艾灸之。殼焦糞干。則易之。灸至百壯。次日又灸百壯。灸至三五百壯。為佳。（出東醫寶鑑案千金無所考）</p>
<p>又方（聖濟）　杏仁去皮尖研。作湯頻服之良。　又方。黑豆煮汁服之。甚良。</p>
<p>又方（奇效單方）　急於無風處。以冷水洗淨。即服韭汁一碗。隔七日又一碗。四十九日共七碗。百日忌食。徐本齋云。風犬一日咬三人。止一人用此方得活。親其驗。一用膽礬末。傅患處立愈。（秘方集驗云韭菜汁一碗服之。百日內常食韭菜。更妙。○此原出千金。）</p>
<p>又方（萬全備急）　將番木鱉子。煆灰一錢。熱酒調服。</p>
<p>又方（秘方集驗）　番木鱉一錢。銅鍋妙。雄黃四分。為末。冷水調三分五釐服之。大小便出血。即愈。</p>
<p>又方（奇方類編）　番木鱉（三個）　虎脛骨（三錢）　甘草（一錢）</p>
<p>上水酒各半煎服。</p>
<p>又方（壽域）　用生杏仁。搗爛傅之。立效。（千金療凡犬咬。杏仁熬黑研傅。）</p>
<p>療顛犬所傷。或經久復發。無藥可療者。用之極驗。（醫方大成）</p>
<p>明雄黃（五錢）　真麝香（五分）</p>
<p>上研勻。用酒調二錢服。如不肯服者。則捻其鼻而灌之。服藥後。必使睡。切勿驚起。令其自醒。候利下惡物。再進前藥。則見效。</p>
<p>犬咬涎入瘡。令人昏悶。浸椒水。調莽草末塗之。（本草附方）</p>
<p>療風狗咬（本朝經驗）　鐵砂（一錢）　番木鱉（六分）　甘草（五分）</p>
<p>上水煎服。小兒減半。若過劑。令人迷悶不醒。</p>
<p>又方（本朝經驗）　急用熱小便。洗淨咬處。生杏仁研爛封之。日一換。宜服</p>
<p>防風　升麻　葛根（各五分）　杏仁（一錢）　甘草（一分）</p>
<p>上水煎。此方甚效。</p>
<p>又方（本朝經驗）　灸咬處。宜服　金銀花（五錢）　木鱉　檳榔（各三錢）　白芷　橘皮（各二錢）　番木鱉　礬石　杏仁　甘草（各五分）</p>
<p>上水煎。或加鐵漿一匕。或加韭汁為妙。服此藥。每五日內。再用寬中丸。瀉下五七行。下盡毒為度。</p>
<p>狗咬寬中丸　青黛　百草霜（各三錢）　檳榔　木鱉　杏仁　黑牽牛　黃連　番木鱉　黃芩　大黃　雄黃　鐵粉（各一錢）　巴豆（四十粒）</p>
<p>上為細末。稀糊為丸。大人三十丸。小兒十丸。白湯送下。以上二方。神效無比。</p>
<p>眾療不差。毒攻心煩亂。㖦已作犬聲者。天靈蓋燒灰末。以東流水和服方寸匕。以活止。（外臺。○㖦音董。多言也。）</p>
<p>又方（本朝經驗）　斑蝥（五分）　大黃（一錢）　甘草（二分）</p>
<p>上為末。水調下。不肯飲。捻鼻灌口內。當救萬一。</p>
<p>凡風犬咬者。百日內忌飲酒。忌食雞鵝羊豬肉肥膩諸口味。及發風毒物。</p>
<p>麻物赤小豆。俱不可見。一年勿食茄子。終身忌食狗肉。（危證簡便）　蕎麥赤小豆三年勿食之。青梅實。百日勿食之。</p>
<p>崔氏云。凡初被咬。即覓一切物與吃。後不發也。（外臺）</p>
<p>療常犬咬人。傷處毒痛心悶。（聖惠）　杏仁（半兩生用）　桃白皮（一兩銼）</p>
<p>上水煎服。當吐狗毒差。</p>
<p>療狗咬人（聖惠）　以火灸瘡中腫上。搗韭汁飲三合。日三五度。瘡差即止。</p>
<p>又方（危證簡便）　先用米泔水洗傷處。令極淨。再以杏仁口內嚼爛敷之。以帛縛之。即差。　又方。松香為末傅之。極效。</p>
<p>凡犬傷人。量所傷大小。杏仁爛咬沃破處。以帛系定。至差無苦。（本草衍義）</p>
<p>又方（危證簡便）　白礬納瘡中裹之。止痛速愈。</p>
<p>又方（回春）　銀杏塗傷處。</p>
<p>又方（袖珍）　蓖麻子五十粒。去殼。以井花水。研膏。先以鹽水洗咬處。乃貼此膏。（危證簡便續方云。萆麻仁研如膏先以藍水洗淨敷上。即愈。）</p>
<p>又方（山居便宜）　燒蟾蜍為末。傅之。</p>
<p>狗咬血不止。急以砂糖塗之。立愈。（博聞類纂）</p>
<p>犬咬傷。瘡重發者。用蔓青根搗汁服之。（肘後）　又方。以蠟炙溶。灌入瘡中。（山居便宜云。搗生蘿蔔汁服之可解。）</p>
<p>療狗咬極重者。雖遍身咬碎。搽立刻止疼神效方。（續危證簡便方）用蚯蚓。搗爛搽敷狗咬眼內。以帕縛之。數日令愈。奇驗。</p>
<p>療犬咬傷。不可便貼膏藥。及生肌類。閉毒於內也。當先用舟車丸禹功散通。經散等藥。隨便服。利十餘次。腫減痛止。後方數貼。（儒門事親）</p>
<p>療貓兒咬（百一）　研薄荷汁塗之。立效。</p>
<p>療貓咬傷人。常有隔窗放尿。被貓咬其陰頭。其人將死。用老鼠糞燒灰麻油調傅。立效。豈非物類相感。而可以相制乎。（壽域神方）</p>
<p>療貓咬（本朝經驗）　雄黃末。水調塗咬處。　若貓毒不盡。寒熱時發。或遍身發斑者。用鼠毒神方。兼服紫金錠甚效。</p>
<p>療鼠咬（聖惠）　麝香封咬處。上以帛系之。</p>
<p>又方（壽域）　用砂糖調水冷服。立效。　又方。貓屎揉之即愈。</p>
<p>又方（危證簡便）　桐油塗之。　先以鹽湯洗淨。次傅藥。</p>
<p>又方（秘方集驗）　斑蝥燒灰。麝香少許。津唾調敷。</p>
<p>又方（本朝經驗）　急以火硝。盛咬處。點火發之。以散毒氣。次將牡蠣石灰黃柏三味為末。調繁縷汁。塗咬處。服後方。</p>
<p>鼠毒神方（本朝經驗）　療鼠咬毒。或經久寒熱淋瀝如勞。或遍身發紫赤斑。或骨節疼痛。精神不爽。</p>
<p>當歸　芎藭　生地　芍藥（各一錢）　沉香　洋參（各五分）　茯苓（七分）　紫檀（八分）　白檀（六分）　甘草（二分）　千屈菜（八錢六分）</p>
<p>上每貼二錢。水煎服。忌食一切油膩動風物。若發斑。於其上以針去惡血。兼服紫金錠。（亦療貓咬毒）</p>
<p>柞木皮湯（本朝經驗）　療鼠咬傷。</p>
<p>柞木皮（二錢）　當歸（三分）　川芎（三分）　金銀花（一錢）　大黃（五分）　甘草（一分）</p>
<p>上水煎服。（柞木即櫟也。實名橡斗者是。）</p>
<p>療馬咋。及踏人作瘡。有毒腫熱疼痛。（肘後）灸瘡中及腫上。即差。</p>
<p>又方（外臺）　割雞冠血。點所齧瘡中日三。</p>
<p>又方（救急易方）　灸訖。或人屎。或馬屎。或鼠屎。燒為末。和豬脂。但取一味。皆可傅。</p>
<p>又方。　用益母草細切和醋炒封之。</p>
<p>又方（醫說）　用栗子。細嚼敷之。立效。</p>
<p>又方（秘方集驗）　艾灸傷處。內服蘇木湯一碗。即止痛。　服童便韭汁。亦妙。寒水石末。敷傷處。旬日亦愈。</p>
<p>馬咬毒入心。用馬齒莧煎湯。服之。立瘥。（聖惠）</p>
<p>馬咬成瘡腫痛。石灰傅之效。（危證簡便）</p>
<p>豬齧人（千金）　煉松脂貼上（山居便宜云。以松脂熔作餅子貼之。以帛縛定。）　又方。屋霤中泥以敷之。（救急易方云。即今之承溜也。）</p>
<p>又方（危證簡便）　梓樹葉。搗敷之。</p>
<p>豬咬成瘡（本草附方）　龜板燒研。香油調搽之。</p>
<p>療蛇咬方（十便）　大衍方云。黃蠟熔化。滴瘡口內。蛇齒有四。凡咬處必有四竅。每竅滴入黃蠟。應時不痛。其毒立散。經時毒氣已入腸胃者。用黃蠟為丸。綠豆大。研雄黃為衣。酒吞下十丸。或十五丸。毒氣內消。</p>
<p>又方（丹溪心法）　急以小便。洗出血。次取口中唾塗之。又以牙垽。封傷處。傅而護之。甚妙。且不痛腫。（山居四要云。用犬糞患處。亦佳。）</p>
<p>路行卒被蛇咬。當急扯裹腳帶。扎縛傷處。上下寸許。使毒氣不能惔傷肌體。又急用白礬安刀頭。火上溶汁沸。滴於傷處。待冷以長篦子速挑去靨。則毒血隨出。黯腫尚未退。更滴之。以退為度。村居山僻。及途中夜行。卒被蛇傷咬。難來白礬處。速作艾炷灸五壯。以唾調鹽塗之。如黯腫尚未消。當更灸更搽。毒涎自然流出。且不透里傷人。蜈蚣咬亦宜灸。（醫學綱目）</p>
<p>趙延禧云。遭惡蛇所螫。即帖蛇皮。便於其上灸。引去毒氣即止。（醫說）</p>
<p>療蛇咬（醫學綱目）　細辛（五錢）　白芷（五錢）　雄黃（二錢）　麝香（少許）</p>
<p>上為末。每服二錢。溫酒調服。</p>
<p>蛇傷潰爛。百藥不愈。以新水數洗淨腐敗見白筋。挹干。以白芷末。入膽礬麝香少許摻之。惡水湧出。數十日平復。（夷堅志）</p>
<p>回生酒（醫鑑）　療毒蛇所傷至死。　槓板歸。不拘多少。研爛。用汁與生酒調服。隨量飲之。渣貼患處立已。</p>
<p>療蛇咬（聖惠）　白礬　甘草（各一兩）</p>
<p>上為散。如蛇螫著之時。心頭熱躁。眼前暗黑。用新汲水服一錢。即止。（瑞竹堂方名解毒散）</p>
<p>又方（救急易方）　急於無風處。以麻皮縛咬處上下。刀剜去傷肉。小便洗令淨。燒鐵物烙之。然後填蚯蚓泥。次填陳年石灰末。絹扎住。輕者針刺瘡口並四旁出血。小便洗淨。以蒜片著咬處。艾灸三五壯。</p>
<p>又方（願體）　用藍葉搗汁。調雄黃末敷之。或用雄黃一錢。生礬二錢。杓內溶化。將箸頭蘸藥傷處。冷則易之。連點七次。若毒走腫痛者。以麻油焰熏之。再用解毒紫金丹一錢。酒磨服之取汁。</p>
<p>魚腥草（即蕺菜）　療蛇傷。用之輒愈。亦解蕈毒。（吳蕈譜）</p>
<p>毒蛇咬。菸袋燒熱。滴油搽之。百試百效。（瘍醫大全）　又菸袋內油。塗四邊腫處。即消。切不可塗咬傷孔內。</p>
<p>又方（本朝經驗）　生柿。及柿餅。搗爛。傅咬處。極效。若無生柿及柿餅。用柿漆亦佳。蛇咬。忌食酸物梅子。犯之大痛。（醫學綱目）</p>
<p>療卒為蛇繞不解（千金）以熱湯淋之。無令人尿之。</p>
<p>療蛇入口或入七竅（千金）一人因熱逐涼睡熟。寤著有蛇入口中。挽不出。用刀破尾。入生椒二三粒裹著。須臾自出。</p>
<p>又方（肘後）　艾灸蛇尾即出。若無火。以刀周匝割蛇尾。截令皮斷。乃將皮倒脫即出。　至道方云。蛇出後。急以雄黃硃砂細研。煎人參湯調下灌之。取蛇毒。（十便）</p>
<p>蛇入七竅。劈開蛇尾。納川椒數粒。以紙封之。其蛇自出。更煎人參湯飲之。或飲酒食蒜。以解內毒。如被蛇咬。食蒜飲酒。更用蒜杵爛塗患處。加艾於蒜上灸之。其毒自解。凡毒蟲傷並效。（口齒類要○衛生易簡云。急以手捻定。用刀刻破。以辛辣物置破尾上。用綿系之。自出。不可拔。）</p>
<p>又方（瘍醫大全）　以針刺其尾。不過二三針。則褪出。</p>
<p>蜈蚣螫人（肘後）　割雞冠血塗之差。又嚼鹽塗之效。又嚼大蒜若小蒜。以塗之。</p>
<p>又方（外臺）　按藍汁以漬之。即差。　又方。取錫炙令熱。以熨之。不越十度即差。</p>
<p>又方（聖惠）　取蝸牛。捺取汁。滴入咬處。須臾自差。此方神驗。　又方。取蠟少許。將筆管。坐所咬處。熔蠟滴向管內。令到創上。三四滴便止。</p>
<p>又方（衛生易簡）　以生薑汁調雄黃末。貼傷處瘥。　又方。用燈草。蘸油點燈。以煙薰之。不問他毒蟲傷。皆可用。此方極驗。（壽域方云。用筆管一個。合在傷處。用紙點燈火。燒著吹滅。將煙入筆管內。用煙薰傷處止。）</p>
<p>又方（秘方集驗）　用艾於傷處灸三五壯。拔去毒即愈。</p>
<p>中蜈蚣毒。舌脹出是也。雄雞冠血。浸舌並咽之。一男子為蜈蚣入咽喉中咬之。垂死之際。一醫令殺生雞。血乘熱灌喉中。蜈蚣即出而愈。實良方也。（青囊雜纂）</p>
<p>蜂螫人（肘後）　取人溺新者洗之差。又刮齒垢塗之。</p>
<p>又方（千金）　以淳醋沃地。取泥塗之。</p>
<p>又方（救急易方）　用釅醋磨雄黃。塗傷處。</p>
<p>又方（本草衍義）　用生芋梗塗之。立效。　又生芋頭。刮汁傅之。（夢溪筆談）</p>
<p>又方（醫法指南）　用吐沫調硃砂擦之。又療蜈蚣傷。</p>
<p>療壁宮咬（聖惠）　取青麻葉心七枚。以手挼令汁出。塗之差。　又方。磠砂雄黃。各半兩。同細研。挑破瘡。內藥在瘡中。</p>
<p>又有（願體）　壁虎咬傷。最難救療。以青苔塗擦。再用敗毒散。加青苔三錢煎服。</p>
<p>蜘蛛咬（外臺）　取生鐵衣。以醋研取汁。塗之差。</p>
<p>又方（千金）　以烏麻油和胡粉。如泥塗之。干則易之。取差止。</p>
<p>又方（外臺）　以蒜摩地。取泥塗之。</p>
<p>又方（聖惠）　雄黃（一分）　麝香（一錢）　藍汁（一大盞）</p>
<p>上為末於藍汁中。以塗咬處。立差。　又方。嚼薤白傅。立效。　又方。嚼續隨子傅之。立差。</p>
<p>又方（直指）　縛定咬處。勿使毒行。以貝母末。灑服半兩。至醉良久酒化為水。自瘡口出。水盡仍塞瘡口。甚妙。</p>
<p>又方（本草附方）　烏雞屎。浸酒服。又取冠血塗之。</p>
<p>又方（醫學綱目）　蜘蛛咬。諸般蟲咬。用葛粉生薑汁調傅。</p>
<p>壁鏡毒人必死（酉陽雜俎）　桑柴灰三度沸取汁。調白礬末為膏。塗瘡口。即差。</p>
<p>又方（救急易方）　醋磨雄黃塗之妙。</p>
<p>又方（本草附方）　用大黃。研醋水塗傷處。立效。</p>
<p>毛蟲螫人（本草附方）　赤痛不止。馬齒莧搗熟封之妙。</p>
<p>又方（醫學綱目）　雜色毛蟲極毒。凡人觸著。則放毛入人手足上。經數日癢在外。而痛在內。骨肉皆爛。有性命之憂。此名射工毒。諸藥不效。用鍋底黃土為末。以酸醋捏成團。於癢痛處搓轉。其毛皆出在土上。痛癢立止。神效。無比（黃土即伏龍肝也。）又取蒲公英根莖白汁傅之。立瘥。</p>
<p>又方（危證簡便）　甘草口內細嚼傅之。立時愈。　又方。如肉已爛。用海螵蛸為末傅之愈。（經驗良方）</p>
<p>療惡蟲咬（聖惠）　蛇蛻皮。煮湯洗三兩度。又燒灰水和傅瘡上。　又方。紫草浸油塗之。</p>
<p>療蛇毒。及一切蟲傷。但有小氣。可以下藥。即活神效。（千金）麥門冬煎湯。調香白芷末服之。腥穢黃水。自口中出。</p>
<p>凡蛇傷蟲咬。倉卒無藥去處。以大藍汁一碗。雄黃末二錢調勻。點在所傷處。並令細細服其汁神驗。如無藍。以澱花青黛代之。（醫說）</p>
<p>療諸蛇蟲傷毒。用青黛雄黃等分為末。新汲水調一錢服。（衛生易簡）</p>
<p>諸蟲咬傷（本草附方）　以燈火熏之。出水妙。</p>
<p>又方（救急易方）　諸惡蟲傷。以膩粉生薑汁。調傅傷處。</p>
<p>又方（奇效良方）　用白礬雄黃黃蠟等分。丸如指頭大。遇有傷處。匙上溶開。滴傷處。或以竹筒按上滴入。則毒不散。</p>
<p>雄黃散（千金）　療一切惡蟲。咬著人成瘡。不可辨認。醫療不效者。</p>
<p>雄黃　磠砂　白礬　露蜂房（各等分）</p>
<p>上為細末。入麝香少許。同研勻。用醋調塗瘡上。難辨認者。尤宜速療。三五日。毒氣入心。不得聞器聲。（衛生易簡無白礬。有乳香。療二十七般蟲。咬傷人及瘡腫。）</p>
<p>凡蟲畜所傷。痛極危急。或因傷經風。而牙關緊閉。角弓反張。不省人事者。此毒流經絡也。急用蒜切片。以艾灸之。令傷處著火。痛裂則氣聚。而毒隨氣返。返則毒提。傷處得火而散。即隨火瘡而泄。不致內攻矣。若灸十餘壯。不應。即加至三五十壯。無不應手而愈者。故療癰毒者。以隔蒜灸法。有回生之功也。古人有淋洗灸刺等法。正以引導經絡。祛邪解散之意。予遇施此法。而應手者比比。故記之。（醫級）</p>
<p>誤中蛇虺百蟲毒（瘍醫大全）</p>
<p>雄黃（一錢）　巴豆（去油一粒）　乾薑（五分）　麝香（一分）</p>
<p>共研細開水調服。</p>

<h2>諸物入耳門</h2>
<p>（附　入鼻　入目　眼被物撞著）</p>
<p>療耳中有物不可出方。（千金）以弓弦。從一頭令散。傅好膠。拄耳中物上停之。令相著。徐徐引出。（肘後附方云。麻繩剪令頭散。）</p>
<p>百蟲入耳（千金）　蜀椒末一撮。以醋半升調。灌耳中。行二十步即出。　又方。火熨桃葉卷之。取塞耳立出。　又方。以蔥涕灌耳中。蟲即出。　又方。若甲蟲入耳者。以火照之。即嚮明出。或蚰蜒諸蟲入耳。以酢灌之。或麻油。或人尿亦佳。</p>
<p>又方（衛生易簡）　用雞冠血。滴入耳中即出。　又方。用蒼耳草。搗自然汁。灌少許於耳內。其蟲即傾出。</p>
<p>百蟲入耳。不可驚動。如在左耳。以手緊閉右耳。及兩鼻孔。努氣至左耳。蟲自出。右耳亦然。（集驗良方）　又方。宜閉口勿言。以紙塞耳竅鼻竅。只空蟲入之耳。用麻油滴入耳竅中。或出或死。（瘍醫大全）</p>
<p>如蟲夜間暗入者。切勿驚慌喊叫。逼蟲內攻。宜正坐點燈光向耳竅。其蟲見光即出。對面有人。其蟲不出。（正宗）</p>
<p>蜈蚣入耳（肘後）　以木葉裹鹽。炙令熱。以掩耳上。即出。冷復易之驗。　又閉氣。滿即吐之。復閉准前。以出為度。或死耳中。徐徐以鉤針出之。</p>
<p>又方（救急易方）　用生薑汁。灌耳中自出。　又方（本朝經驗）　用蘿蔔汁。灌耳中亦佳。</p>
<p>蚰蜒入耳（聖惠）　小蒜搗研取汁。灌耳中自出。　又方。地龍一條。納蔥葉中。化水滴耳中。其蚰蜒亦化為水。</p>
<p>又方（瑞竹堂方）　蝸牛全捶碎。置於耳邊即出。</p>
<p>又方（衛生易簡）　用龍腦少許。吹入耳中。其蟲即化為水。　又方。用貓尿灌耳中立出。取貓尿。用盆盛貓。以生薑擦牙。</p>
<p>飛蛾入耳（肘後）　先大嗡氣。仍閉口掩鼻呼氣。其蟲隨氣而出。　又方。閉氣以葦管極吸之即出。亦療百蟲入耳。（百代醫宗。吸蟲訣云。療諸蟲入耳。藥品不便者。此法最妙。竹管入透半耳中。使口用力一吸。其蟲隨氣而出。俗人未識此捷。）</p>
<p>又方（衛生易簡）　用醬汁灌耳中。又擊銅器於耳傍。</p>
<p>蟻入耳（肘後）　燒陵鯉甲末。以水和灌之。</p>
<p>療小蟲蟻入耳挑不出（衛生易簡）　燈心浸油釣出蟲。</p>
<p>療百節蚰蜒並蟻入耳（本草附方）　苦酒注之。起行即出。</p>
<p>水入耳中（救急易方）　用薄荷汁點之立效。又用麻油點耳內立出。</p>
<p>水銀入耳。及入六畜等耳皆死。（怪症方）以金銀著耳邊。水銀即吐出。</p>
<p>療黃豆入耳（救急易方）用鵝翎管。截作長一二寸許。去其中膜。留少許於一頭。以有膜之頭。入耳中。口氣吸之即出。</p>
<p>又方（本朝經驗）　若在左耳。以手緊塞右耳。及兩鼻孔。令閉氣。一人將中指緊按豆入耳根下凹處。一手將耳朵向下引挽。患人一勢努氣。豆自出。右耳亦然。</p>
<p>諸物入鼻不出（本朝經驗）　作紙捻刺鼻打嚏一聲即出。若不出。頻頻取嚏為佳。</p>
<p>療目萃芒草沙石輩眯不出（肘後）磨好墨。以新筆點注目中瞳子上。</p>
<p>又方（聖惠）　療雜物眯目不出。雞肝血注目中。神效。　又方。白蘘荷根。搗絞汁注目中即出。　又方。書中白魚。以乳汁和研注眼中良。</p>
<p>又方（聖濟）　生慄七粒嚼爛。取汁洗之即出。</p>
<p>又方（本草）　大藕洗搗綿裹。滴汁入目中即出。</p>
<p>麥芒入眼不出方（外臺）　煮大麥汁注眼中。即出良。</p>
<p>眼被物撞著（聖惠）　杏仁爛研。以人乳汁浸頻頻點。</p>
<p>又方（葉氏方）　牛漩日兩三次點之避風。黑睛破亦可。</p>
<p>又方（本朝經驗）　水仙花根掘取洗研爛。和沙糖點眼中。　又方。麻蠅頭數十個。研和砂糖水。點眼中。　又方。鹿茸為細末。調人乳。頻頻滴眼中。</p>

<h2>誤吞諸物門</h2>
<p>誤吞鉤方（肘後）　若繩猶在手中者。莫引之。但益以珠璫若薏子輩。就貫之著繩。稍稍令推至鉤處。小小引之則出。</p>
<p>誤吞錢（外臺）　搗火炭末。服方寸匕。則出。</p>
<p>又方（聖濟）　葵菜不以多少。絞取汁。冷飲之。即出。</p>
<p>又方（魏氏方）　爛嚼鳧茈咽之。多為妙。生熟皆可。（百一方云自然消化成水）</p>
<p>又方（事林廣記）　草索頭寸剪十四段。燒葵菜汁調服。</p>
<p>誤吞銅錢（經驗良方）　木賊草為末。每服一錢。用雞子白調下。</p>
<p>又方（怪症方）　多食胡桃。自化出也。胡桃與銅錢共食成粉。可證矣。</p>
<p>又方（博聞類纂）　以小羊蹄草。嚼咽即下。</p>
<p>誤吞金銀或銅錢入腹（衛生易簡）　石灰（一杏仁大）　硫黃（一皂莢子大）</p>
<p>同研末。酒調服。</p>
<p>又方（續醫說）　韭菜熟而不斷。與蠶豆同咽之。不過二次。從大便出。</p>
<p>又方（救急易方）　肥肉與葵菜作羹。即食數頓。則銅鐵自然下。</p>
<p>誤吞銅錢（救急良方）　用桑柴灰。細研。米飲調下二錢。或用綠豆粉。冷水調下三錢。或生茨菰。取呷。或濃煎艾湯飲。或多服飴糖。立出。　又方。用艾蒿五兩。水五升。煮取一升。頓服之。立下。　又方。以蜜一升。服之即出。</p>
<p>療誤吞鐵石骨刺等不下危急（百一方）</p>
<p>王不留行　黃蘗皮（等分）</p>
<p>上為細末。蒸餅丸如彈子大。以麻線穿之。掛當風處。每用一丸。冷水化開灌下。立效。</p>
<p>誤吞銅錢。或金銀等物不能化。（得效）用砂仁。濃煎湯服之。自下。</p>
<p>誤吞針類（救急易方）　用好磁石含之。即出。或為末服方寸匕。　又以香油一盞服之。次用乾麵燒餅令人食飽。其針隨大糞中出。</p>
<p>誤吞針。刺咽中痛者。（瘍醫大全）亂麻筋一團。搓龍眼大。以線穿繫留線頭在外。以湯浸濕。急吞下咽。頃刻扯出。其針必刺於麻中而出。如一回不中節。再吞再扯。　又方。針入咽。無藥可施。癩蝦蟆數個。將頭剁去。倒垂流血。以甌接之。得一杯許。灌入喉中。移時連針吐出。針自軟曲。</p>
<p>兒誤吞針。哽喉不下。死在須臾。（保元）用黑砂糖。和黃泥為丸。令兒吞下。泥裹針於內。大便而下。</p>
<p>誤吞鉤線（聖惠）　螻蛄去身。吞其頭數枚。勿令本人知。</p>
<p>誤吞線錘（續醫說）　啖以餳半斤。即於穀道中。隨穢而下。凡誤吞五金者。皆可啖也。</p>
<p>誤吞竹木。入喉咽出入不得者。（本草附方）故鋸燒令赤。漬酒中。及熱飲之。　又方。秤錘燒紅淬酒飲之。</p>
<p>誤吞稻芒（本草附方）　白餳頻食。又用脂麻炒研。白湯調下。</p>
<p>又方（直指）　蓬砂牙硝等分為末。蜜和半錢含咽。</p>
<p>誤吞蜈蚣（瘍醫大全）急吞生雞蛋二枚。不可嚼。次日即裹出。　又方。生公雞熱血。灌入喉中。蜈蚣即出。（案堅觚集載以上二方。並云更飲菜油盞許。須臾大吐。以蜈蚣畏油故也。）</p>
<p>又方（醫法指南）　韭菜連根擂水。一大碗灌之。</p>
<p>誤吞水蛭（本草附方）　藍靛和酒絞取汁服。</p>
<p>又方（口齒類要）　食蜜即愈。試以活蛭投蜜中。即化為水屢驗。一書云。井中生蛭。以白馬骨投之。即無。試之亦驗。夫垤。即螞蝗也。雖死為末。見水復活。吞之為害不小。療以前法。無不愈者。</p>
<p>誤吞馬蝗腹痛（壽域）　用田中泥為丸。水吞下。其蟲必隨吐瀉出。</p>
<p>誤吞水蟲。食蜜即化。（醫法指南）</p>
<p>誤吞田螺。下喉將死者。（奇方類編）　將鴨一隻。以水灌之。少時將鴨倒懸。令吐涎。與病人服之即化。</p>
<p>誤吞小蛇。悶亂欲死。（本朝經驗）　柿餅五六枚。水煎多飲之。瀉下而愈。</p>
<p>木屑搶喉（奇方類編）　鐵斧磨水灌之。即愈。</p>
<p>誤吞發。繞喉不出。（本草附方）　元頭亂髮。燒作灰。水服一錢。</p>
<p>誤吞大骨（綠竹堂方）　南硼砂含化。即愈。</p>
<p>誤吞硝子碎片。哽喉不下欲死。（本朝經驗）　款冬花根莖。燒灰為末。白湯勻服之。又方。山崖黃土。水攪頻頻飲之。極驗。硝子得土即消也。</p>
<p>吞桃枝竹杖（瘍醫大全）　但口中數數多食白糖。自消去。</p>
<p>誤吞磁鋒（瘍醫大全）　生紅蘿蔔搗爛吞下。其磁鋒即從大便而出。</p>
<p>誤食諸蟲（本草附方）　蜀椒制其毒。</p>
<p>誤食蜘蛛暴死（本草附方）　取貓涎送下解毒藥。</p>

<h2>諸物哽噎門</h2>
<p>（附　兒頭入臼　指入竹筒）</p>
<p>療魚骨鯁在喉中。眾法不能去。（外臺）　取飴糖丸如雞子黃大吞之。不去。又吞。此用得效也。　又方。以少許磠砂。口中咀嚼咽之立下。　又方。小嚼薤白令柔。以繩系中央。持繩一端。吞薤到哽處引。哽當隨出。（救急易方云。綿一小塊。以蜜煮用。即與此法同。）又方。作竹篾刮令滑。綿纏內咽中。令至哽處。可進退引之。哽即出。　又方。好蜜一匙抄。稍稍咽之。令下良。</p>
<p>又方（續醫說）　速取新綿白糖二物。將綿裹糖如梅大。令患人嚥下。入喉間。留綿一半於外。時時以手牽掣。俾喉中作癢。忽然痰涎壅出。其骨黏於綿上矣。</p>
<p>又方（魏氏）　砂糖如雞子大爛嚼。仰面以熱酒嚥下。骨隨酒便下。又白梅取肉去核。以砂糖含化。須臾骨軟自下。此方甚驗。</p>
<p>又方（百一）　縮砂甘草等分為末。綿裹含之咽汁。當隨痰出。</p>
<p>咽中骨哽欲死者（本草附方）　白鳳仙子。研水一大呷以竹筒灌入咽。其物即軟。不可經牙。或為末吹之。</p>
<p>療食諸魚骨鯁久不出方（本事）　上以皂角末少許。吹鼻中。得鯁出。多秘此方。（禮云。魚去乙。謂其頣間有骨如乙字形者。鯁人不肯出也。○案此方原出聖惠。）</p>
<p>金銀銅鐵哽（本草百病主治）　縮砂（濃煎服或加甘草）　鳳仙子及根（擂汁下銅鐵物哽）　薤白　慈姑汁　鳧茈　胡桃　石灰（同硫黃少許酒服）</p>
<p>竹木哽（百病主治）　半夏（服取吐）　鯽魚膽（點）　象牙（為末水服）</p>
<p>桃李哽（百病主治）　麝香（酒服）</p>
<p>棗核哽（萬全續方）　人頭垢為丸。茶下十丸吐之。</p>
<p>小兒誤吞一錢。在咽中不下。以淨白表紙。令卷實如著。以刀縱橫亂割其端。作鬅鬆之狀。又別取一箸縛針鉤於其端。令不可脫。先下咽中輕提輕抑。一探之覺鉤入於錢竅。然後以紙卷納之咽中。與鉤尖相柢。覺鉤尖入紙卷之端。不礙肌肉。提之而出。（儒門事親）</p>
<p>療諸鯁方（十便）　胡氏方云。以木炭皮為細末。研令極細。如無炭皮。堅炭亦可。粥飲調下二錢。日四五服。以鯁下為度。此法人家皆有。（沈存中雲在漢東。乃目睹其神。有劉晦土人。鄰家一兒誤吞一錢。以此飲之下一物。如大烏梅。割之乃炭裹一錢也。池州徐使君。極寶此方。數數用之。末有不效者。近歲累有人言得此方之效不復悉載。）</p>
<p>療竹刺筅帚須鯁在喉中（綠竹堂方）　用多年舊籬笆竹。截斷煎濃湯吃下。立愈。</p>
<p>竹絲鯁（瘍醫大全）　不拘黑白。芝麻炒熟。泡湯飲。再以干芝麻嚼服幾口或以芝麻搗爛。嚼食。</p>
<p>吞銅在喉不出（瘍醫大全）　麩炭末。指彈入喉中。其銅當即咯出。</p>
<p>誤吞桃李不下（瘍醫大全）　以少許水。灌小兒頭。承其水與飲即出。</p>
<p>誤吞鐵釘。橫喉不下。（本朝經驗）　馬腹中石。研末。水調嚥下。少頃吐出。神驗。</p>
<p>糍糕噎咽。逡巡至死。（本朝經驗）　釅醋灌鼻孔中。立噴出。　又方。蘿菔自然汁。灌鼻中。亦佳。　又方。鐵漿少許。灌口中。　又方。雞冠血和生薑汁。灌口鼻中。雖死立出而蘇。　又方。冬葵子。水煎灌。亦佳。</p>
<p>一小兒五歲。因戲劇。以首入搗藥臼中。不復出。舉家驚呼無計。或教之。使執兒兩足。以新汲水急澆之。兒驚啼體縮。遂得出。（醫說）</p>
<p>兒頭入臼（事林廣記）　兒頭入鐵臼。以噴嚏藥。著鼻中。即出。</p>
<p>指入竹筒（事林廣記）　以石灰浸水。蘸餉時。即出。</p>

<h2>諸物入肉門</h2>
<p>療針折入肉中（千金）　刮象牙為末。水和聚。著折針上。即出。</p>
<p>又方（瑞竹堂方）　螻蛄腦子（捶爛塗上即出）</p>
<p>上用硫黃研細調貼。以紙花貼定。覺癢時。其針即出。</p>
<p>針棘竹水諸刺。在肉中不出。鼠腦搗爛。厚塗之。即出。（肘後○危證簡便方云。療醫針人病。而釘折在肉中。）</p>
<p>針誤入肉。無眼者不動。有眼者隨氣血遊走。若走向心窩胸膛者險。（瘍醫大全）急用烏鴉翎數莖。炙焦黃色。研細末。酒調服一二錢。俱可。</p>
<p>如聖膏（瘍醫大全）　療針入肉。　車脂輦油。不拘多少。研如膏。調磁石細末。攤紙上。如錢許。貼之。每日換二次。</p>
<p>竹木刺在肉中不出（千金）　頭垢塗之即出。　又方。嚼白梅以塗之。又溫小便漬之。</p>
<p>又方（劉涓子方）　鹿角燒灰末。以水和塗之立出。久者不過一夕。</p>
<p>蘆葦刺入肉（外臺）　細嚼栗子。粗盦傷處。</p>
<p>療竹木刺入肉（良朋彙集）　萆麻子。搗爛塗上。即出。</p>
<p>又方（瘍醫大全）　收晚蠶蛾。入竹管內塞之。凡遇竹木刺戳入肉內。即取蠶蛾。研細。和津唾調塗之。即出。</p>
<p>又方（本朝經驗）　螳螂頭。研和米糊。攤紙花上貼之。並療針入肉效。</p>
<p>如神散（本朝經驗）　療針及竹木刺入肉。並一切骨哽悉效。</p>
<p>松葉　鳳仙花莖葉並子</p>
<p>上燒存性。各等分為末。每服五七分。溫酒送下。針及竹木刺入肉者。頃刻出。其效如神。</p>
<p>療少腸魚刺（醫方集宜）　用大麥。不拘多少。濃煎。薰洗傷處。即止。（案海鷂魚。食鑑一名少陽魚。藏器云。尾有大毒。海人被刺毒者。以扈竹。及海獺皮解之。）</p>
<p>又方（本朝經驗）　焚樟腦或樟木枝葉薰之。以解刺毒。</p>

<h2>中藥毒門</h2>
<p>甘豆湯（千金）　甘草。解百藥毒。此實如湯沃雪有同神妙。方稱大豆汁解百藥毒。余每試之。大懸絕。不及甘草。又能加之。為甘豆湯。其驗尤奇。（百一選方。加淡竹葉。）</p>
<p>凡中相反藥毒。面青脈絕。腹脹吐血。（瘍醫大全）　蠶退紙。（即出過蠶的紙）燒灰研一錢。冷水調服。雖危可活。</p>
<p>石藥毒。用白鴨屎人參。（千金）　甘草安和七十二種石一千二百種草。解百藥毒。（本草）</p>
<p>雄黃毒。用防己。（本草）</p>
<p>鐵粉毒。用磁石　皂莢　乳香。（本草）</p>
<p>錫毒。用杏仁。（本草）</p>
<p>礜石毒。用大豆汁。（本草）</p>
<p>桔梗毒。用白粥。（本草）</p>
<p>躑躅毒。用梔子汁。（本草）</p>
<p>杏仁毒。用藍子汁。（本草）</p>
<p>金銀毒。水銀服數兩即出。雞屎汁。煮蔥白汁。鴨血。及屎汁。並療。（本草）</p>
<p>大戟毒。用菖蒲汁。（本草）</p>
<p>甘遂毒。用黑豆汁。（本草）</p>
<p>芫花毒。用防己　防風　甘草　桂汁。（本草）</p>
<p>藜蘆毒。用雄黃　溫湯　煮蔥汁。（本草）</p>
<p>半夏毒。用生薑及乾薑汁。　南星毒。同（本草）</p>
<p>蜀椒毒。用葵子汁　蒜　桂汁　人尿　冷水　土漿　雞毛燒吸菸。及調水服。（本草）</p>
<p>磠砂毒。用綠豆汁　浮萍。（本草）</p>
<p>丹砂毒。用藍青汁　鹹水（本草）　用鹽半兩。以冷水攪勻。令澄。旋旋服之。又以蚌肉食之良。（奇效良方）</p>
<p>桂毒。用蔥汁。（本草）</p>
<p>銅毒。用慈姑　胡桃　鴨通汁。（本草）</p>
<p>苦瓠毒。用稷米汁　麥穰汁。（本草）瓜蒂毒。用麝香。（本草）　又方（本朝經驗）　服瓜蒂。吐不止。啜味噌汁。又令患人踞床。以桶盛冷水。漬腳至膝立止。（案博物志。以冷水漬至膝啖瓜至數十枚。）</p>
<p>解砒霜毒（本草）　煩躁如狂。心腹疼痛。四肢厥冷。命在須臾。黑鉛四兩。磨水一碗灌之。　又方。麻油一碗灌之。（經驗良方云。立可起死神驗。○暴證知要云。緊束其腹吐之。）</p>
<p>又方（百一）　白扁豆不拘多少。為細末。入青黛等分。細研。再入甘草末少許。巴豆一枚。去殼。不去油。別研為細末。取一半。入藥內。以砂糖一大塊。水化開。添成一大盞飲之。毒隨利去。後服五苓散之類。（醫林集要。用益元散。）　又方。釅醋多飲之。吐出毒即解。不可飲水。</p>
<p>又方（危證簡便）　急以人屎汁灌之。即解。若在胸中作楚者。急以膽礬三分。研細。冷水調灌。即吐出。若在腹中痛甚者。宜用黑鉛四兩。磨水兩三碗。漸磨漸灌。即大瀉出毒氣而愈。　在膈上。則瓜蒂散吐之。在腹中則萬病解毒丹下之。（入門）</p>
<p>救急丹（辨證錄）　大下毒藥。莫此為甚。救法必須吐其毒。</p>
<p>甘草（二兩）　瓜蒂（七個）　玄參（二兩）　地榆（五錢）</p>
<p>水煎服。一下喉即吐。再煎渣服之又吐。砒霜之毒必盡。</p>
<p>苦參湯（辨證錄）　此方亦神妙。苦參三兩。煎湯一碗。一氣服之。即大吐而愈。總以吐解毒盡為度。醒後仍顛不語者。每日以綠豆水飲之。毒儘自愈。（秘方集驗）</p>
<p>瀉毒神丹（石室秘錄）　服砒霜之毒。五藏欲裂者。腹必大痛。舌必伸出。眼必流血而死。最可憐也。急用此。</p>
<p>當歸（三兩）　大黃（一兩）　白礬（一兩）　甘草（五錢）</p>
<p>水煎湯數碗飲之。立時大瀉。則生。否則死矣。</p>
<p>砒霜服下未久者。取雞蛋一二十個。打入碗內。攪勻入明礬末三錢灌之。吐則再灌。吐盡便愈。（洗冤錄）</p>
<p>解砒毒神驗方（秋燈叢話）　白礬三錢。調水飲之。立解。</p>
<p>黃礬散（醫學心悟）　服毒者。砒信為重也。用小薊根搗汁飲之。立救。或用此散療。據云奇效。</p>
<p>大黃（一兩）　明礬（五錢）</p>
<p>共為末。每服三四錢。冷水調下。</p>
<p>誤中砒毒。橫身紫累。百解不效。此名砒霜累瘡。（瘍醫大全）　黃土地上。挖一斗大坑。以井水滿之。攪令渾濁。以一碗與之。少刻又與之。待渾身紫累俱散。一吐即蘇。雖冬月間。亦宜用此法。必效。</p>
<p>解斑蝥毒（百一）　以澤蘭挼汁飲之。乾者為細末。白湯調下。</p>
<p>又方（青囊雜纂）　玉簪根擂。水服之。即解。</p>
<p>又方（洗冤錄）　黑小豆汁服之差。用肥皂水灌下。再以鵝翎絞喉數次。令吐即活。　又方。用生雞卵。開孔灌入口中。連灌五六枚。得吐即活。倘閉以箸抉開灌入。</p>
<p>療食野葛已死者方（肘後）　以物開口。取雞子三枚。和以灌之。須臾吐野葛出。　又方。取生鴨。就口斷鴨頭。以血瀝口中。入咽則活。若口不開。取大竹筒。以一頭拄其胸脅。取冷水注筒中。數易注之。須臾口開。則可與藥。若甚者。兩脅及臍。各筒注之。甚佳。　又方。飲甘草汁。但唯多更善。</p>
<p>又方（千金）　煮桂汁飲之。又啖蔥涕佳。（蔥涕療諸毒）</p>
<p>又方（秘方集驗）　急以升麻湯探吐。亦妙。　又方。用犬糞汁灌下。即可解。或用韭菜汁灌下。亦可。</p>
<p>通腸解毒湯（辨證錄）　療服斷腸草。氣不能通。腹痛便閉而死。</p>
<p>甘草（一兩）　大黃（一兩）　金銀花（一兩）　水煎服。一瀉。</p>
<p>胡蔓草（即鉤吻）　葉如茶。其花黃而小。一葉入口。百竅潰血。人無復生。廣西愚民。私怨茄以自斃。家人覺之。急取抱卵未生雞兒細研。和以清油斡口灌之。乃盡吐出惡物而蘇。少遲不可救矣。如人誤服此藥者。止以前法解之。（嶺南衛生方）</p>
<p>烏頭天雄附子毒。用大豆汁遠志防風棗肉飴糖。（本草）　又用人參汁陳壁土（泡湯服）　綠豆汁井華水。（案朱子文集云。中鳥頣毒。勢甚危惡。多飲新水。大嘔泄而解。此亦不可不知也。）</p>
<p>又方（百一）　多年壁土。熱湯泡。攪之令濁。少頃乘熱去腳取飲。不省人事灌之。或掘地以水攪漿水。飲亦妙。</p>
<p>又方（本草）　童尿飲之。又黃連湯飲之。</p>
<p>又方（瑣碎錄）　麻痹不省者。竹青濃煮汁溫冷服之。</p>
<p>又方（保元）　嘔吐不止。以香油灌下立解。</p>
<p>又方（暴證知要）　目赤狂躁。用蘿菔汁。入黃連甘草汁。各半盞服。</p>
<p>又方（博聞類纂）　急以冷水漱口。飲一二口尤佳。蓋野豬每中藥箭。必走入溪澗飲水。此其驗也。一方。飲少生麻油。</p>
<p>一人服附子酒多。頭腫大如斗。唇裂血出。急取綠豆黑豆。各數合。生嚼。並煎濃汁飲之。乃解。（危證簡便）</p>
<p>巴豆毒。用煮黃連汁。大豆汁。菖蒲汁。煮寒水石汁。冷水。（本草）</p>
<p>又方（肘後）　下利不止。黃連乾薑等分為末。水服方寸匕。又大豆煮汁一升飲之。</p>
<p>又方（危證簡便）　以黃連黃柏煎湯冷服。忌食熱湯熱性藥物。</p>
<p>又方（百一）　生油即解。</p>
<p>又方（怪證方）　芭蕉根汁。解之。</p>
<p>又方（本朝經驗）　下利不止。困頓。用參連湯。人參（二錢）　黃連（一錢）</p>
<p>水煎。兼啜冷粥。</p>
<p>解輕粉毒（本草）　齒縫出血臭腫。貫眾黃連各半兩。煎水冰片少許。時時漱之。</p>
<p>又方（醫方摘要）　出山黑鉛五斤。打壺一把。盛燒酒十五斤。納土茯苓半斤。乳香三錢。封固。重湯煮一日夜。埋土中。出火毒。每日早晚任性飲數杯。後用瓦盆接小便。自有粉出為驗。服至筋骨不痛乃止。</p>
<p>又方（暴證知要）　誤吞輕粉。筋骨痛。川椒半斤。湯泡曬乾。三泡三曬為丸。天花粉為衣。空心溫酒下五十丸。</p>
<p>又方（萬全備急）　黑鉛燒熱。淬酒數次。飲之。</p>
<p>又方（奇方類編）　川椒。去目。每日清晨吞之。任意不拘多少。白湯下。</p>
<p>中水銀毒（萬全備急）　生炭為末。煎汁服。</p>
<p>又方（本草）　黑鉛解之。</p>
<p>又方（瘍醫大全）　揀開口花椒二兩吞下。即裹水銀從大便出。</p>
<p>解鉛粉毒（秘方集驗）　砂糖調水服。又肥皂搗爛。取汁灌下皆效。　又方以麻油調蜂蜜與服。（敬信錄）</p>
<p>皂礬毒（瘍醫大全）　急取麵糊一缽服之。</p>
<p>多服犀角令人煩。（入門）　麝香一字。調水飲之。</p>
<p>硫黃毒。用米醋黑鉛鐵漿朴硝。（本草）　又方。黑錫煎湯服即解。</p>
<p>又方（聖濟）　硫黃毒發。令人背膊疼悶。目暗漠漠。烏梅肉焙一兩。沙糖半兩。漿水一大盞。煎七分呷之。</p>
<p>啞芙蓉毒（保元）　或不省人事。用釅醋溫熱。入砂糖灌下一二碗。探吐之。</p>
<p>大黃芒消毒（暴證知要）　泄瀉不止。用炒乾姜半兩。甘草二錢。烏梅二個。水煎服。（陶氏殺車捶。更有粳米人參白朮附子皮升麻。上燈心一握水煎。入炒陳壁土一匙調服。）</p>
<p>麻黃毒（暴證知要）　汗出不止。將病人發。撒水盆中。足露於外。用炒麩皮。布裹款款烙之。如再不止。用撲粉。</p>
<p>撲粉方（醫方考）　龍骨　牡蠣　糯米（各等分）</p>
<p>上為末撲之。（孝慈備覽。用麩皮糯米粉各一升龍骨牡蠣各二兩。極細末。以疏絹包裹。周身撲之。）</p>
<p>誤食螣黃（萬全續方）　吃海蟄。即解。（案續醫說云。水母。吳人名為海蟄。）</p>
<p>誤服銀硃螣黃（瘍醫大全）　虀菜水溫服。即解。</p>
<p>誤服銀粉（瘍醫大全）　麻油　黃蜜　紅砂糖</p>
<p>撐勻服之。　又方。多食生荸薺。即解。　又方。香油灌之。　又方。急搗蘿菔汁飲之。</p>
<p>桐油毒（本草）　吐不止。乾柿餅食之。又甘草解之。</p>
<p>又方（救急易方）　熱酒飲之良。</p>
<p>中石炭毒昏瞀。飲冷水即解。（本草）</p>
<p>服藥過劑悶亂者（外臺）　水和胡粉　水和葛根　地漿　蘘荷汁　豉汁　粳米瀋　乾薑　黃連　飴糖　飲藍汁　吞雞子黃　刮東壁土少少。以水一二升和飲之良。　燒犀角。水服方寸匕。　凡此諸藥。飲汁解毒者。雖危急。亦不可熱飲之。待冷則解毒。熱則不解毒也。</p>
<p>凡解藥毒湯劑。不可熱服。宜涼飲之。蓋毒得熱則勢愈盛也。然此特以中熱毒為言耳。若解木鱉菌蕈黃連石膏之類。而中陰毒者。豈仍避熱。而猶堪以寒飲乎。（瘍醫大全）</p>
<p>集驗。療中諸毒藥未死。但聞腹中煩冤。剝裂作聲。如腸胃破斷狀。目視一人成兩人。或五色光起。須臾不救方。（外臺）取新小便。和圊邊久屎一升。絞取汁一升頓服。氣已絕。但絞口與之。入腹便活也。已死萬一冀活。但數與屎汁也。</p>
<p>療藥毒不止煩悶。（千金翼）　甘草（二兩）　白粱粉（一升）　蜜（四兩）</p>
<p>上水煎。如薄粥飲一升。（楊氏家藏方。不用白粱粉。用綠豆粉。名甘粉散。解一切藥毒。）</p>
<p>礬灰散（三因）　療中諸毒。白礬　牙茶（各等分）</p>
<p>上為末。每服二錢。新汲水調。一得吐即效。未效再服。（楊氏家藏方。名備急散。此藥入口味甘。而不覺苦者。是中毒也。）</p>
<p>青黛雄黃散（三因）　凡始覺中毒。及蛇生咬。癰疽才作。即服此令毒氣不聚。</p>
<p>上好青黛　雄黃（等分）</p>
<p>上為細末。新汲水調下二錢。</p>
<p>化毒散（楊氏家藏）　療中藥毒吐血。或心痛。或舌尖微黑。口唇裂。嚼豆不腥者是。</p>
<p>巴豆（一枚去心膜研如泥）　黃丹（半錢）　雄黃（一字向研細）</p>
<p>上用烏雞子一枚。煎盤內。煎成餅。摻藥在上。卷為筒子。臨睡一服。爛爝茶清送下。當夜取下毒。</p>
<p>解毒藥。用露蜂房甘草等分。用麩炒令黃色。去麩。為末。水二碗。煎至八分令溫。臨臥頓服。明日取下惡物極妙。（壽域神方）</p>
<p>誤食毒藥。咽喉急閉。（魏氏家藏）　用羊蹄根。細研。醋調飲。吐出涎。灌蜜水。聲方出。</p>
<p>療中諸藥毒（衛生易簡）　用四物湯香蘇散。各一貼。和煎服。或萱草根研汁飲之。</p>
<p>解一切藥毒（百一）　白扁豆。生煞干為細末。新汲水調下二三錢。吳內翰備急方云。服砒霜。大渴利。腹脹欲裂。以水調。隨所欲飲與之。即安。　又方。續隨子隨多少。以熱湯送下。毒即隨大便利去。</p>
<p>療吐卻惡毒物後。覺胸心不安穩。（聖惠）</p>
<p>茯苓　麥門冬　人參（各一兩）　青竹茹（半兩）</p>
<p>棗三枚。水煎服。且宜食粥。</p>

<h2>中飲食毒門</h2>
<p>飲食中毒煩懣。療之方。（金匱）　苦參（三兩）　苦酒（一升半）</p>
<p>上煮三沸。三上三下服之。吐食出即差。或以水煮亦得。　又方。犀角湯亦佳。</p>
<p>貪食。食多不消。心腹堅滿痛。（金匱）　鹽（一升）　水（三升）</p>
<p>上煮。令鹽消。分三服。當吐出食。便差。</p>
<p>蜀椒閉口者有毒。誤食之。戟人咽喉。氣便欲絕。或吐下白沫。身體痹冷。急療之方。（金匱）　濃煎豉汁飲之。　桂煎汁飲之。　飲冷水一二升。或食大蒜。　或飲地漿。</p>
<p>誤吞椒閉氣不通。（百一）　吃京棗三個。解之。</p>
<p>食諸菌中毒。悶亂欲死療之方。（金匱）　大豆濃煮汁飲之。　人糞汁飲一升。土漿飲一二升。　服諸吐利藥並解。</p>
<p>食楓樹菌。而笑不止。療之以前方。（金匱）</p>
<p>誤食野芋。煩毒欲死。療之以前方。（人種芋三年不收。成野芋。並殺人。○金匱）</p>
<p>療中蕈毒同菰毒（聖濟）　左纏藤。取枝莖。煎汁服之。</p>
<p>又方（夷堅志）　取金銀花生啖。甚驗。</p>
<p>又方（得效方）　用芫花。生為末。每服一錢。新汲水調服。以利為度。</p>
<p>又方（朱氏集驗）　茱萸煎湯服。吐下解。又熟艾煮服三五盞。雄雞取熱血灌之。</p>
<p>又方（湯方集驗）　六一散。（滑石六錢。甘草一錢。研勻。）每服二錢。水調服效。</p>
<p>又方（鄉藥集成）　生苽少許。和油食之。（村家救急方。作冬瓜）癸丑年。家僮摘蕈燒於火中。戲云。食之味甘。一婢信之。食少許。又二婢在傍。取食些少。須臾三婢眩悶。一倒灶中。二入房而倒。倉卒無藥。令食生苽。又吃與真油一小滴。然後目開。渠云。眩悶中。生苽入口。則一路冷徹咽中。始知有生理。</p>
<p>療蕈毒欲死（百一）　用石首魚頭。白水煮濃汁灌之。</p>
<p>解菌湯（辨證錄）　療誤食毒菌。胸脹心疼腹痛。腸瀉而死。　甘草（二兩）　白芷（三錢）水煎服。服後乃用鵝翎。掃其咽喉。引其上吐。必盡吐出而愈。</p>
<p>又方（辨證錄）　白礬（五錢）　瓜蒂（七枚）</p>
<p>水煎服。非吐即瀉。而愈。</p>
<p>食松蕈中毒（本朝經驗）　吃豆腐解之。</p>
<p>諸蕈如糖蕈之屬。經久皆毒。人食之。並有害。茄子水煮食之。且飲煮汁解之。（本朝經驗）</p>
<p>野菌毒（百病主治）　甘草（煎麻油服）　防風（汁）　胡椒　生薑　梨葉（汁）　荷葉（煎）　阿魏　童尿　人屎汁（案吳蕈譜云。食蕈中毒二便頻遺。身軟口呿。以甘草濃煎灌之。獲愈。）</p>
<p>食芋中毒（本朝經驗）　地漿　生薑汁</p>
<p>食蟹中毒。療之方。（金匱）　紫蘇煮汁飲之。搗汁飲之亦良。</p>
<p>又方（本草）　生藕汁　煮乾蒜汁　冬瓜汁　丁香</p>
<p>上服之並佳。</p>
<p>又方（證治要訣）　丁香末。薑湯服五分。</p>
<p>又方（鄉藥集成）　大黃　紫蘇　冬瓜</p>
<p>上水煎。一大盞服之效。</p>
<p>蟹柿相反。令人吐血。服此解。（本草）　蘆根汁。</p>
<p>蟹柿反惡。若連食時。莫教吐盡。血隨之。（澹軒方）</p>
<p>木香急煎湯飲之奇效。（蟹柿反惡大吐繼之以血。昏不識人。病垂殆。用木香餅子灌之。見百一方。）</p>
<p>食鯸鮧魚中毒。（金匱）　蘆根煮汁服之。即解。</p>
<p>又方（百一）　五倍子　白礬</p>
<p>上等分。為細末。水調灌之。　又方。槐花腦子。上為細末。水調灌之。　又方。以麻油灌之。大吐毒物盡出瘥。</p>
<p>又方（綠竹堂方）　用新鮮肥皂一個。如無半新者亦可。去筋膜內子。去黑殼。搗爛如黃豆數粒。硼砂少許。再共搗勻。切作指頂大。放入中。井水灌下。即愈。</p>
<p>又方（醫法指南）　用雞血灌之。</p>
<p>又方（萬全備急）　人屎清汁灌之。吐出得生。蘆根汁。綠豆粉。橄欖。甘蔗。皆不及也。</p>
<p>瓜蒂散（辨證錄）　人有食河豚。舌麻心悶。腹脹氣難舒。口開而聲不出。療法宜吐出其肉。</p>
<p>瓜蒂（七枚）　白茅根（一兩）　蘆根（一兩）</p>
<p>水煎汁飲之。必大吐。吐後前證盡解。</p>
<p>食河豚毒（本朝經驗）　白鯗水煎服。灸食亦可。烏賊魚墨。最制其毒。　又方。無患子。燒存性。調水服。　又方。蘘荷根。研取汁服之。　又方。古文錢一文。含口中。咽津唾。</p>
<p>食魚中毒。面腫煩亂方。（金匱）　橘皮濃煎汁服之。即解。</p>
<p>鱠食之在心胸間不化。吐復不出。速下除之。療之方。</p>
<p>橘皮（一兩）　大黃　朴硝（各二兩）</p>
<p>上以水一大升。煮至小升。頓服即消。</p>
<p>食魚中毒（萬全續方）　橄欖汁。蘆根汁。吃下俱妙。</p>
<p>又方（秘方集驗）　冬瓜搗汁飲之。</p>
<p>蟲魚毒（百病主治）　蓬砂（同甘草浸香油）　獺皮（煮汁並解一切魚肉蝦蟹毒）　苦參（煎醋）　羊蹄葉（搗汁或煎解河豚及諸魚毒）</p>
<p>療自死六畜肉中毒方（金匱）　黃蘗屑。搗水服方寸匕。</p>
<p>療食生肉中毒方（金匱）　掘地深三尺。取其下土三升。以水五升。煮數沸。澄清汁。飲一升即愈。（此即地漿）</p>
<p>療食六畜肉中毒方（千金）　燒赤小豆一升。為末。服三方寸匕。神良。</p>
<p>療食鬱肉漏脯中毒方（郁肉密器蓋之。隔宿者是也。漏脯。茅屋漏下沾著者是也。○金匱）　燒犬屎酒服方寸匕。每服人乳汁亦良。（犬屎。肘後作人屎。）　飲生韭汁三升。亦得。</p>
<p>化漏湯（辨證錄）　療食漏脯。致胸膈飽滿。上吐下瀉。大腸如刀割疼痛。</p>
<p>山楂（三錢）　甘草（五錢）　大黃（三錢）　厚朴（三錢）　白芷（二錢）　麥芽（二錢）</p>
<p>水煎服。</p>
<p>療六畜鳥獸肝中毒方（金匱）　水浸豆豉。絞取汁。服數升愈。</p>
<p>療食馬肉中毒欲死方（金匱）　香豉（二兩）　杏仁（三兩）　蒸一食頃熟杵之服。日再服。　又方。煮蘆根汁飲之良。</p>
<p>療食牛肉中毒方（金匱）　甘草煮汁飲之。即解。</p>
<p>療食野菜馬肝肉諸脯肉毒（千金）　取頭垢如棗核大吞之。起死人。　又狗屎燒灰。水和絞取汁飲之。立愈。</p>
<p>療諸食中毒方。（千金）　飲黃龍湯。及犀角汁。無不療也。飲馬尿亦良。又服韭汁數升。</p>
<p>黃龍湯（本草）　即糞清。大明曰。臘月截淡竹。去青皮。浸滲取汁。療天行熱疾中毒。</p>
<p>療以雉肉作餅臛。因食皆吐下方。（千金）　犀角為末。服方寸匕。</p>
<p>食雉子毒（事林廣記）　飲醋少許即消。　又方。（本草）　飲薑汁。</p>
<p>療食鴨肉成病。胸滿面赤不下食。（聖惠）　糯米泔。溫服一中盞。</p>
<p>療食白瀹雞子過多致病（鄉藥集成）　蘇一升。煮服。一云。蒜一升煮服之。（萬全備急云。取蘇子一升煮食之。吐而愈。）</p>
<p>療中鳩毒氣欲死者（聖惠）　用葛根三合。水三中盞。調飲之。如口噤者。以物揭開灌之。</p>
<p>食雞中毒吐不止。（萬全續方）　生犀角末。新汲水調下。即愈。</p>
<p>諸鳥肉毒（事林廣記）　生白扁豆末。冷水服之。</p>
<p>食鱸魚中毒欲死（聖惠）　生蘆根。舂取汁多飲。乃良。並療蟹毒。亦可煮蘆峰茸汁飲之。</p>
<p>食章魚中毒（本朝經驗）　鹿角菜。湯浸化飲之。亦解諸魚毒。　又方。熱灰投滾湯中。澄清服之。</p>
<p>食鰹魚中毒（本朝經驗）　炒豆屑湯攪飲之。　又方。鐵漿飲之。　又方。大黃為末五六分。白湯送下。　又方。櫻葉水煎服。嚼櫻子。亦佳。　樵樹蕈乾者。水煎服。　又方。眼子菜水煎服。大效。</p>
<p>解食毒鱉（秘方集驗）　飲藍汁數碗。如無。藍汁靛青水亦可。</p>
<p>駒溺湯（辨證錄）　療食鱉而腹痛欲死。　馬尿（一碗）　甘草（一兩）</p>
<p>水煎服。得吐即愈。不吐即再飲。二煎無不愈者。</p>
<p>中鱉毒（瘍醫大全）</p>
<p>白芷　雄黃（各三錢）　丹砂　山楂　枳實（各一錢）　茯苓（五錢）</p>
<p>水煎服。一劑痛止。二劑毒出矣。</p>
<p>又方（本草）　胡椒解之。</p>
<p>馬刀毒（本草）　飲新汲水解之。</p>
<p>食肉傷（萬全備急）　山楂三十個。捶碎。濃煎湯飲。　又方。阿魏煎湯飲。</p>
<p>療飲酒連日醉不醒（肘後）　蕪菁菜。並少米熟煮。去滓冷之。內雞子三枚。或七枚。調勻飲之二三升。　又方。搗生葛根汁。及葛藤餅。和絞汁飲之。無濕者。乾葛煎服佳。干蒲煎服之。亦佳。</p>
<p>飲酒中毒經日不醒者。今人謂之中酒也。用黑豆一升。煮取汁。溫服一小盞。不過三服即愈。（醫說）</p>
<p>飲酒過多不解（萬全備急）　雞距子煎汁啜之。</p>
<p>酒肉過度腹脹。以食鹽擦牙漱下。如湯沃雪。（萬全備急）</p>
<p>燒酒醉死（本草）　急以新汲水。浸其發。外以故帛浸濕。貼其胸膈。仍細細灌之。至蘇乃已。</p>
<p>又方（秘方集驗）　冷汙泥。搭胸前。燥即再搭。直至泥濕為度自愈。凡酒毒至死。黑大豆二升煎汁飲愈。</p>
<p>又方（醫法指南）　飲好醋二杯。即醒。</p>
<p>又方（願體）　將頭髮浸入新汲水內。用熱豆腐切片。遍身貼之。冷即更換。再煎葛根湯飲之。醒後宜食綠豆湯。</p>
<p>又方（東醫寶鑑）　過飲燒酒中毒。則面青口噤。昏迷不省。甚則腐腸穿脅。遍身青黑冷。吐下血。死在須臾。初覺便脫衣。推身滾轉之無數。吐之即蘇。又以溫湯。裸體浸灌。常令溫暖。若灌冷水即死。又取生瓜及蔓菁。搗取汁。斡開口灌之不住。又碎冰頻納口中。及肛門。又葛根搗取汁。灌口中。漸醒而愈。</p>
<p>燒酒以錫壺盛。經宿飲之。令人醉悶不省。以陳壁土。攪水澄清。入甘草湯灌之。即醒。（危證簡便）</p>
<p>飲酒中毒（本朝經驗）　眼子菜。水煎服之。</p>
<p>飲點剁酒中毒（西洋造者是。○本朝經驗）　食鹽水煮飲三四碗。乃瘥。</p>
<p>食熱面中毒（本草附方）　蘿蔔搗取汁飲之。無生者。則取子。水研取汁飲之。又地骨皮。煮取汁飲之。又赤小豆末和水服。即愈。</p>
<p>又方（萬全續方）　暖酒和薑汁服。</p>
<p>食粽傷（萬全續方）　以水和壁上黃土一錢。即瘥。</p>
<p>食蕎麥中毒（本朝經驗）　楊梅皮為末。白湯送下。　又方。多服蘿蔔汁亦可。又杏仁生啖即消。　又方。萩花莖葉。（即隨軍茶）銼水煎服。　又方。柑皮搗絞汁服。乾者水煎服。又方。海帶。水煎服。</p>
<p>豆粉毒（百病去治）　杏仁　豆腐　蘿蔔</p>
<p>療豆腐毒（朱氏集驗）　蘿蔔。煎湯飲之。</p>
<p>又方（入門）　杏仁水研取汁飲之。</p>
<p>又方（東醫寶鑑）　過食豆腐。腹脹氣塞欲死。新汲水多飲即安。若飲酒即死。</p>
<p>解鹽滷毒（秘方集驗）　豆腐漿灌下。如無生漿。將黃豆浸濕。搗爛灌下。抹桌布水。或肥皂水。皆能令吐。切不可用熱。</p>
<p>又方（辨證錄）　鹽滷之毒。必至口咸作渴。腹中疼痛。身踡腳縮而死。療法必用甘以解之。用甘草三兩。煎湯救之。如服已久。加當歸二兩。腸潤未必皆死也。</p>
<p>多吃茶中毒（本朝經驗）　砂糖　甘草　白梅　釅醋　並解其毒。</p>
<p>食竹筍中毒（本草）　生薑。及麻油。能殺其毒。</p>
<p>又方（本朝經驗）　腹緊滿。手不可近。蕎麥殼水煎多飲之。又海帶煮汁服之。亦可。</p>
<p>吃油煠諸物中毒（本朝經驗）　柑皮水煮飲之。</p>
<p>水芹毒（百病主治）　硬糖　杏仁（同乳餅粳米煮粥食）</p>
<p>食銀杏中毒（百病主治）　香油多飲吐之。又地漿藍汁甘草汁飲之。</p>
<p>又方（方便書）　銀杏樹根。煎濃湯灌下。即活。</p>
<p>又方（公選良方）　小兒食之過多。胞脹欲死。急用白鯗頭煎湯。頻頻灌之。少頃自定。（秘方集驗云。白果多食之。成瘋。療法同上○瘍醫大全云。凡中白果毒。驟然一聲即暈去。儼如驚狀者是。療法亦同。）</p>
<p>中白果毒（敬信錄）　將木香滾水磨汁。入麝香少許。服之即解。或將白果殼。搗爛煎服。</p>
<p>食桃成病（外臺）　桃梟燒灰二錢。水服。取吐即愈。</p>
<p>食梨過傷（事林廣記）　梨葉煎汁解之。</p>
<p>食柑毒（事林廣記）　柑皮湯解。鹽湯亦可。</p>
<p>食菱傷作脹（萬全備急）　生薑汁飲之。立消。又麝香少許。水煎服。</p>
<p>食瓜過多（本草）　但飲酒及水。服麝香。</p>
<p>又方（萬全續方）　食白鯗魚。即化為水。或加麝香少許。　又食瓜果傷。心腹堅脹。痛悶不安。用鹽二兩水一碗。煎消燉服。吐下即安。</p>
<p>食西瓜中毒（本朝經驗）　番椒。銼浸水飲之。</p>
<p>食胡椒中毒（本朝經驗）　綠豆粉解之。嗆而欲絕者。香油灌之。（番椒同）</p>
<p>療食諸菜中毒方（千金）　甘草　貝齒　胡粉（各等分）</p>
<p>上為細末。水服方寸匕。　又小兒尿。乳汁。共服二升。亦好。</p>
<p>又方（外臺）　取雞毛。燒末。以飲服方寸匕差。</p>
<p>療食諸菜中毒。發狂煩悶。吐下欲死。（聖惠）　雞糞燒灰為末。水服一錢。未解更服。</p>
<p>又方（本草）　甘草　香油　並佳。</p>
<p>中萵苣毒（醫說）　生薑汁。或濃薑湯服。</p>
<p>食雜苽果子過多。腹脹氣急。（東醫寶鑑）　桂心為末。飯丸綠豆大。以水吞下十丸。未愈再服。又桂皮濃煎。取汁飲之。又服瓜蒂散吐之。即愈。</p>
<p>又方（入門）　桂心末五錢。麝香一錢。飯丸綠豆大。白湯下十五丸。即效。名曰桂香丸。</p>
<p>吃果腹痛（事林廣記）　高良薑末。熱湯調服。立見效。</p>
<p>凡海中菜。多食損人。令腹痛發氣。吐白沫。飲熱醋即安。凡海菜傷皆同此法。（東醫寶鑑）</p>
<p>飲冰水。及涼水過多。心脾疼痛。（萬全續方）　用川椒二十粒。浸於漿水中一宿。還以水吞之。其病即愈。永不發。</p>
<p>解煙毒（秘方集驗）　砂糖調水服。</p>
<p>煙毒發熱。咳嗽大作。服之而痊。（醫意商）</p>
<p>麥冬　知母　山梔　花粉　黃芩　蘇子　甘草　蔞仁　枇杷葉</p>
<p>煎成去滓。入砂糖一兩和服。</p>
<p>食諸肉中毒。或吐下血。胡荽子一升。煮令發裂取汁。停冷。每服半升。又生韭汁飲之。（本草附方）</p>
<p>療食諸毒肉。吐血不止。痿黃甚者。用蔥子一升。洗煮使破。取汁停冷。服半升。日夜各一服。血定止。（衛生易簡）</p>
<p>消肉化毒丹（辨證錄）　人有食牛犬之肉。一時心痛。欲吐不能。欲瀉不可。宜用吐法。亦有探吐之不應者。療法宜消化解毒。</p>
<p>神麯　雷丸　山楂　大黃（各三錢）　厚朴　枳實（各一錢）</p>
<p>上水煎服。此方乃逐下之神方。倘可上湧。不必用此方。</p>
<p>黃龍湯（奇效良方）　療因食中毒。　上將灶底當釜直下掘赤土。為細末。以冷水調。隨多少服之。或以犀角水磨取汁飲。亦療食六畜肉中毒。大效。</p>
<p>飲食毒物（瑞竹堂方）　硼砂四兩。真香油一斤。瓶內浸之。遇有毒者。服油一小盞。久浸尤佳。</p>
<p>又方（本草）　雄黃。青黛。等分。為末。每服二錢。新汲水下。</p>
<p>神仙解毒萬病丸（百一）　解一切藥毒。惡草菰子菌蕈金石毒。吃自死馬肉河豚發毒。時行疫氣。山嵐瘴瘧。急喉閉。纏喉風。沖冒寒暑。熱毒上攻。或自縊死。落水打折傷死。但心頭微暖。未隔宿者。並宜用生薑蜜水。磨一粒灌之。須臾復甦。癰疽發背未破。魚臍瘡。諸般惡瘡腫毒。湯火所傷。百蟲犬鼠蛇傷。並東流水磨塗。並服一粒。良久覺癢立消。打撲損傷折。炒松節酒磨下半粒。（朝鮮李宗准。紫金丹方云。如無松節酒。以炒松節。入酒湯用。）乃以東流水。磨塗。男子急中。及顛邪喝叫亂走。女人鬼氣鬼胎。並宜暖酒磨下。一丸可分兩服。有毒即吐。或利。毒儘自止。（李宗准云。通利一兩行無妨只用溫粥止住。大抵下泄藥。例多上吐。如欲吐則吐。溫粥一二匙壓下。則不吐。）孕婦不可服。</p>
<p>文蛤（三兩。淡紅黃色者。捶碎洗淨。本草云。五倍子一名文蛤。）　紅芽大戟（一兩半淨洗）　山茨菰（二兩洗。即鬼燈檠金燈花根也。○臞仙活人心云。人皆不識以老鴉蒜為之。其山茨菰者。俗名金燈籠其葉似韭。花似燈籠。其色白。上有黑點。結子三稜。二月長苗。三月開花。四月苗枯。挖地得之。其茨菰上有毛包裹。人不可識採時。可於有苗時。記其地。至秋冬取之。此藥中其山茨菰不真。則藥不效。李宗准曰。本草云。葉如車前。根如慈姑。則與余所得根如小蒜。葉如韭者病。乃知臞仙所云者。與余同。而亦為本草所謂零陵團茨菰無疑矣。但其花上黑點。或有或無。亦豈風土之異矣。○案葉氏錄驗。楊氏家藏並云。山茨菰。乃是玉簪花根白花者。今考本草無其說。尤可疑。錄以待識者辨之。）　續隨子（一兩。去殼枰。研細。紙裹壓出油再研如白霜。）　麝香（三錢研）</p>
<p>上將前三味。焙乾。為細末。入麝香續隨子。研。令勻。以糯米粥為丸。每料分作四十粒。於端午七夕重陽日合。如欲急用。辰日亦可。於木臼中杵數百下。不得令婦人孝子不具足雞犬之類見之。（李宗准云。今案合末重七兩八錢。然為飛羅所次。不過七兩五錢。每劑可用糯米二合。淘淨作濃飯。重六兩六錢合糊重十四兩強。杵後重十四兩三四錢。蓋搗時或黏著。乾燥則添水故也。陳自明臞仙王應猗。皆以一劑分為四十粒。余恐人不度氣之強弱老幼。概服一粒也。今分為八十粒。王應猗所謂每服半粒。亦此意也。）　萬病解毒丸（得效）　文蛤（一兩半）　山茨菰（一兩）　續隨子（半兩）　麝香（一錢）　大戟（七錢半）　全蠍（五枚）　山豆根（半兩）　硃砂　雄黃（各二錢）　主療修制同上　太乙神丹（一名追毒丹。乾坤生意。）　文蛤（三兩）　山茨菰（二兩）　大戟（兩半）　千金子（一兩）　麝香（三錢）　雄黃（一兩）　硃砂（五錢）　上主療修制同上。（外科正宗。太乙紫金丹即是。○案解毒萬病丸。始見葉氏錄驗方。名聖授奪命丹。又觀音散。而湯氏家藏方加板藍根。名解毒丸。然其主療修制之詳。至百一方而備焉。後世或名玉樞丹。或名紫金錠。皆此方耳。而諸家增味頗多。時危氏萬病解毒丸。臞仙太乙神丹。諸家多采用。故附於此。）</p>

<h1>跋</h1>
<p>醫有讀汗牛之書。而不能施理者焉。又有好施理術。而不識一丁字者焉。故世人恆嘲言。讀書者不善理。善理者不讀書。其為弊也久矣。殊不知讀書而不善理者。剡精刓神於無用之學也。施理而不讀書者。師心逞臆於司命之職也。均是吾道蠹賊。其不罹天網者。僥倖而已矣。吾先人創建醫學。意在矯此二弊焉。伯兄廉夫繼先志。上自乾元崇文之秘帙。石包天承之奧冊。下至山經地誌。稗乘媵說。苟涉系吾道者。莫不搜索而採擷也。今日所處劑者。即昨日所抄謄。善讀而善理者。唯吾伯兄有焉。如此。然後可能解世人之嘲矣。頃伯兄著救急選方。此亦抄謄之所得也。其書援據該博。在讀者自知之。蓋先人選濟急方。有意補續。未果而逝。故伯兄繼其志云。此書之行。不特在救疾疢之危急。而在革醫家之宿弊焉。伯兄之志。能達寰宇。則醫家負書簏之謗者。與錯用錫餳之人。均當愧沮而悔改焉。其功於吾道。豈淺淺乎哉。癸亥正月初九日胞弟湯川倓安道跋</p>
<p>家君以濟眾為己任。每慨今世醫家。或平素不研其術。一旦遇卒暴之證。錯愕失措。遂致夭橫。乃病在蓐也。著此書。以備應急之資。其啟來學。惠亦溥矣。享和初付之開雕。未幾毀於火。今茲再命翻梓。廣刷行之。醫家預讀此書。精窮其術。使世人無復斃乎委靡手。則家君濟眾之功。亦與天壤不朽云。</p>
<p><u>文化庚午孟冬既望不肖男元胤奕祺謹題</u></p>
