<header data-type="book">
<h1>舌診問答</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>何舒</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1947">公元1947年</data></dd></div>
</dl>
</header>

<h1>舌診提要（五首）</h1>
<p>萬舉萬全色脈同，軒岐垂教振癡聾，心家外候陽明主，津液無傷舌正紅。</p>
<p>燥潤分來病可求，紅黃黑白辨根由，藍苔舌面光如鏡，肝腎先摧命必休。</p>
<p>金加火上舌如霜，鬱熱如焚勢莫當，勿謂陰寒皆色白，須知物極變非常。</p>
<p>色變非常陰症多，勿因紅點計乖訛，黑枯凝結如鱗甲，此亦虛寒會也麼？</p>
<p>君火光明相不乘，黑苔水盛土由崩，急投溫熱扶心主，從治功多趁可能。</p>
<p><u>中華民國三十六年兒童節舍予老人偶題以代序</u></p>

<h1>上篇</h1>
<p>問：察舌以何為主？</p>
<p>答：經云：能合色脈，萬舉萬全。舌亦色之一也。夫病以證為主，凡仲景言舌者五，舉一白胎而分燥滑，即以其舌參觀其證，必有證而後有方，方以治證，非徒以治舌也。乃後世大抵不以證言，徒以舌言，一若方即以先舌為準，不必更論其舌之因何證而見，紛壇其說，徒亂人意，實無關於治法，故察舌必以證為主也。</p>
<p>問：舌為何臟之外候？</p>
<p>答：《難經》曰心氣通於舌，是舌為心之外候也。</p>
<p>問：有謂舌為胃府之外候者，亦有說乎？</p>
<p>答：因胃中飲食腐化，濁氣上蒸成為苔色。胃無腐濁，則苔薄而少，胃有腐濁，則苔厚而多。無苔者，胃氣弱而不上潮（胃氣清明，濁氣少而易降者，雖似無苔，必微有薄苔）。舌苔厚膩，久而不變者，胃力匱乏，不能接生新苔也。常人一日三餐，故苔亦一日三變，是謂活苔，無病之象也。</p>
<p>問：舌苔何以因飲食而起變化？</p>
<p>答：飲食入胃時，將腐濁遏郁下降，故苔色一退。至飲食腐化，濁氣又復上蒸，苔色又生。經云：胃為水穀之海，五藏六府皆稟其氣。故知胃氣之要，即可知苔色之重矣。</p>
<p>問：醫家辨舌何以即知病機之進退淺深？</p>
<p>答：胃之濁氣既可外見於苔，而腹中之邪氣熏蒸醞釀者亦常以肺胃為出路。故病邪之端倪，於舌苔之上最親切顯露。醫家辨舌，即能知病情者，賴有此耳。</p>
<p>問：舌面之部位各何所屬？</p>
<p>答：舌尖屬心肺，舌中屬脾胃，舌根屬腎，而舌邊則屬肝膽。</p>
<p>問：舌之自覺因何而時有變易？</p>
<p>答：此因藏府之寒熱虛實而有各殊之味覺也。大抵膽熱恆覺苦，脾痹恆覺甜，胃虛恆覺淡，寒勝及脾腎虛恆覺咸，宿食恆覺酸，肺熱恆覺辣，隨時變易有如此者。</p>
<p>問：舌苔因食物而起變化，請舉例以證之。</p>
<p>答：如食酸物及橄欖苔即變黑；食砂糖苔變深黃；原為白苔，若食枇杷，苔即變黃之類皆是也。</p>
<p>問：察舌即知病情，願為舉例以導初機。</p>
<p>答：凡病初起舌即乾者，津竭可知。病久而舌猶潤者，胃氣尚存。望之若干，捫之若潤，其色鮮紅者，濕熱蒸濁也。紫而暗者，瘀血內蓄也。望之若潤，捫之卻燥，其苔白厚者，氣濁痰凝也。苔白而薄者，氣虛傷津也。</p>
<p>問：舌為心之外候，其色當赤，而有時白如積粉者，是否屬寒。</p>
<p>答：白為肺金之色，反加心火之上，是為侮其所勝，此火為金鬱之候也，若概以苔白為寒，必殺人矣。</p>
<p>問：何種舌苔須忌溫燥？</p>
<p>答：舌尖屬心，如滿舌白苔，舌尖有紅刺，此心火旺盛；白尖紅根，其色潤者，此邪在半表半裡，皆忌溫燥。又凡舌四邊有苔，中心則無，或中心有直裂、橫裂、直槽者，皆心胃陰液不足，亦忌溫燥。</p>
<p>問：舌有紫泡者何也？</p>
<p>答：舌邊有紫泡，溫病為熱毒歸藏之重證，在中間者輕。</p>
<p>問：舌之乾溼，何氣使然，有無定則？</p>
<p>答：舌之乾溼，其狀各異。有有苔而燥者，有無苔而燥者，有有苔而潤者，有無苔而潤者，有看之似潤而摸之則燥者，有看之似燥而摸之則潤者。</p>
<p>問：舌上星點數起或陷下者，各為何病？</p>
<p>答：舌上星點數起者，為心火、胃熱，在兩旁主肝膽熱，在尖主心熱。淡而陷下者為虛，在小兒為有滯、有蟲，陷而起瘰，舌紅者，則為邪毒內伏。</p>
<p>問：舌苔每因病之進退而起變化，其狀若何？</p>
<p>答：凡病之進者苔常變，病之退者苔漸退。如無病為薄白之苔，病進則由白而嫩黃、而老黃、而膩、而燥、而灰、而黑。無病為微黃之苔，病進則由黃而白、而灰而黑，其舌常由淡紅微潤，變為深紅而干、而紫、而光、而剝。如病由重轉輕而漸愈，苔必逐漸化退，先化而後退，如肉厚而漸薄，由板而生孔，由硬而漸軟，由密而漸疏，由有而漸無，由舌根外達至舌尖，是為真退。由退而後生薄白或微黃新苔，乃胃氣漸復，穀氣漸進之吉兆。若驟然退去，不復生新苔，或如剝去，斑駁留痕，皆病之變化，非真退化。或滿舌厚苔忽然退去，舌底仍留汙質膩澀者，是為假退。或一退即全光如鏡者，皆非真退，常為病變之逆象。</p>
<p>問：舌因濕熱而為潤燥，原聞其狀。</p>
<p>答：舌潤者為津液未傷，燥者為津液已耗。濕證舌潤，熱證舌燥。濕漸化熱，舌即由潤而燥，大抵舌色紅潤多屬表、屬虛、屬陰、屬寒；舌燥有苔，多屬裡、屬實、屬陽、屬熱。無苔垢者，偏熱為多；有苔垢者，偏濕為多。</p>
<p>問：舌之潤燥，因何反常，原卒聞之。</p>
<p>答：有誤用燥藥，津液被劫，逼迫而上，舌反潤者；熱證傳入血分，舌亦反潤者，此潤之變也。凡脾胃有痰飲水血，舌多不露燥象，不可誤認為寒。</p>
<p>問：舌上素有裂紋者何也？</p>
<p>答：此必為陰虛之人，胃津耗傷之人，及血衰之人也。</p>
<p>問：人當病後，舌紅紋裂，或舌之中心有裂紋者，何也？</p>
<p>答：其舌紅紋裂者為胃陰不足，為陰虛火炎，皆宜養陰補血清火之劑。其中心有裂紋者，為胃氣中虛，忌寒涼。</p>
<p>問：舌之滑澀，應如何辨別以占病情？</p>
<p>答：舌之滑澀，捫之以手，而知之滑者，津足，於潤為近；澀者津乏，於燥為近。滑者常生膩苔，偏於濕；澀者常生糙苔，偏於熱，此其大概也。</p>
<p>問：以舌苔之滑澀厚薄而察病之微甚，願為舉例以明之。</p>
<p>答：凡舌苔滑者多濕，澀者多熱，薄者多邪淺，厚者多邪盛。糙者刺手甚於澀，屬穢濁之熱傷胃汁腎液；糙者痰涎現黃色為熱邪結里者。腐者苔拭之易去，為正氣將欲化邪。膩者苔拭之不去，為穢濁盤踞中宮。光而無苔，多津液傷。剝而紋裂，多陰分竭。脹者多屬火，縮者多屬寒（熱極亦有不伸者，可從他診決之）。</p>
<p>問：有病無病之舌以何為別？</p>
<p>答：苔色宜微黃或微白，薄而且勻，舌本宜仁潤內充，乾溼得中，不滑不燥，是為無病。若紅光外露，苔色稍變，非邪之外襲，即病將內作矣。</p>
<p>問：藍色舌苔，何以其病多屬危篤？</p>
<p>答：以藍為肝木之色，無胃氣以涵養，而發現於外也。</p>
<p>問：苔現藍色，其病亦有可治者否？</p>
<p>答：瘟疫濕溫，熱鬱不解，若有藍苔，可以芳香清泄。又癇厥及瘀血在胃，或有此舌，法宜清泄血分。</p>
<p>問：舌色之濃淡淺深，於病情有無關係。</p>
<p>答：紅而淡者血虛也，紅而濃者內熱也。淡紅色之變兼青者，為血分虛寒。濃色之變絳者為血熱。火紅色，舌無苔者，是心火之色浮越於外，為盛極將衰。病後絳舌如鏡，發亮而光，為腎水虧竭。瘟疫之發，舌現純紅乃蓄熱於內而病將發也。</p>

<h1>下篇</h1>
<p>問：平人之舌色，何以常有微胎？</p>
<p>答：舌為心苗。心、火也，舌紅，火之正色也。上有微胎，火之蘊蓄也。</p>
<p>問：人有病，則舌色變而胎垢生者何也？</p>
<p>答：舌者、火也，得其色則為平人之色。平人五火齊明，如天日光明，陰翳消除，何胎之有？病則君火內虛，胃無穀神，舌色變而胎垢生矣。</p>
<p>問：有謂因胸中有食故舌有胎者，其說然否？</p>
<p>答：若謂胎因食生，則平人一日數餐何無胎？若謂平人食而即消，病則停滯胎生，何初病一二日舌上無胎，至三四日穀食不入，舌反有胎？則有食有胎之說無有是處。</p>
<p>問：舌上白胎而滑者何也？</p>
<p>答：此因三焦火熱之氣為寒所侵也。</p>
<p>問：舌上黏胎而垢者何也？</p>
<p>答：此因身發熱而谷不入，中上二焦虛熱相蒸也。</p>
<p>問：舌上胎色淡黃，或微黃者何也？</p>
<p>答：中土虛也。</p>
<p>問：胎色灰褐或醬板色者何也？</p>
<p>答：中土寒也。</p>
<p>問：舌上紫色或保紫色者何也？</p>
<p>答：紫色者，虛寒也。深紫色者，大虛大寒也。</p>
<p>問：舌上紫色光亮，或淡白光亮者何也？</p>
<p>答：紫色光亮者，久病火衰，土無生原也。淡白光亮者，久病陰虛，榮血內脫也。</p>
<p>問：舌胎黑，色者何也？</p>
<p>答：君火虛衰，水色上乘也。</p>
<p>問：傷寒舌色反常，乃三焦相火乘於君火之位，此時應如何施治？</p>
<p>答：夫相火之乘於君火也，非相火之有餘，乃君火之不足，法當救助君火之不明。若進以寒涼以汩沒，相火之上乘則君火愈虧，相火併竭，神志散亂而死矣。</p>
<p>問：平人五味入口，皆過而無胎，病則五味入口而胎生，如小兒服藥，舌上藥色凝而不退，大人食酸，舌胎即黑者何也？</p>
<p>答：平人胃氣有餘，三焦和暢，君火光明，故五味入口而無胎。病則胃氣空虛，君火衰微，若五味入口，遇酸鹹甘苦，則舌上凝滯而胎生矣。</p>
<p>問：傷寒胎黑世人有火極似水之說，此時應如何施治？</p>
<p>答：夫火極似水，所謂物極必反也。既極而反，理應從治而主溫熱。</p>
<p>問：舌色反常，有屬實熱者，有屬虛寒者，究以何者為多？</p>
<p>答：舌色反常而實熱者十有二三，此三陽病也。舌色反常而虛寒者，十有七八，此三陰病也。</p>
<p>問：舌色反常，有紅點大如芥子者何也？其舌色如常，亦有如是之紅點者，又屬何因？</p>
<p>答：舌色反常，有紅點者，此虛熱也。舌色如常，有紅點者，乃實熱舌也。</p>
<p>問：舌胎色黑，屬犀角、芩連、石膏或承氣之證者，辨別以何為準？</p>
<p>答：舌上胎黑而熱極者，其胎高浮於上，不傷舌之本體，或黑或灰，此犀角芩連石膏之證者也。至大小承氣之證，舌必燥黑而又兼出言壯厲等證者是也。</p>
<p>問：舌上散黑而潤，四邊灰紫者，是否屬熱？其凝黑而枯如鱗甲者，是否屬寒？</p>
<p>答：此二證前者為虛寒，後者為大虛大寒，並宜參朮桂附大忌寒涼。</p>
<p>問：病人胃氣已絕者，其舌狀若何？</p>
<p>答：其狀滿舌如蠶板硬而黃，或板硬而黑，如是之舌，百無一生。</p>
<p>【附】　陳修園辨舌詩</p>
<p>舌上無胎表證輕，白胎（半表）半里古章程，熱紅寒淡參枯潤，陰黑陽黃辨死生。全現光瑩陰已脫，微籠本色氣之平。前人傳有三十六，採摘多歧語弗精。</p>
<p>又：望色詩</p>
<p>春夏秋冬長夏時，青黃赤白黑隨宜，左肝右肺形呈頰，心額腎顴鼻主脾。察位須知生者吉，審時若遇克堪悲；更於黯澤分新舊，隱隱微黃是愈期。</p>
<p>又：聞聲詩</p>
<p>言微言厲盛衰根，譫語實邪錯語昏，虛呃痰鳴兆吉兆，聲音變舊恐離魂。</p>
<p>又：僧自性聞聲詩</p>
<p>肝怒聲呼心喜笑，脾為思念發為歌，肺金憂慮形為哭，腎主呻吟恐亦多。</p>
<p>【附】　節錄《醫宗金鑑》望色聞聲心法</p>
<p>五行五色，青黃赤白，黑復生青，如環常德。</p>
<p>變色大要，生克順逆，青赤同化，赤黃合一。黃白淡黃，黑青深碧。白黑淡黑，白青淺碧。赤白化紅，青黃變綠。黑赤紫成，黑黃黧立（五色相兼合化，不可勝數。而其大要，則相生者為同化為順，相剋者為兼化為逆。如黃白合化。黃而兼白，淡黃之色。如白黑合化，黑而兼白，淡黑之色，皆相生變色，為病之順也。白黑兼化，青而兼白，淺碧之色；如黃黑兼化，黃而兼黑之黧色，皆相剋變色，為病之逆也）。</p>
<p>天有五氣，食人入鼻，藏於五藏，上華面頤。肝青心赤，脾藏色黃，肺白腎黑，五藏之常。</p>
<p>藏色為主，時色為客，春青夏赤，秋白冬黑，長夏四季，色黃常則，客勝主喜（歲氣勝人氣為順），主勝客惡。</p>
<p>色脈相合，青弦赤洪，黃緩白浮，黑沉乃平。已見其色，不得其脈（假如病人已見青色，不得弦脈），得克則死（若得浮脈則主死），得生則生（得沉脈是為水能生木，則主生）。</p>
<p>新病脈奪，其色不奪（脈奪者，脈微小也。色奪者，色不澤也），久病色奪，其脈不奪。新病易已，色脈不奪；久病難治，色脈俱奪。</p>
<p>新病正受邪制，故脈奪也；邪受未久，色不奪也。久病受邪已久，故色奪也；久病不進，故脈不奪也。若新病而色脈俱不奪，則正不衰而邪不盛也，故曰易已。久病色脈俱奪，則正已衰而邪方盛也，故曰難治。</p>
<p>色見皮外，氣含皮中，內光外澤，氣色相融（內光灼灼，若動從紋路中映出；外澤如玉，不浮光油亮者，則為氣色並至），有色無氣，不病命傾。有氣無色，雖困不凶。</p>
<p>經曰：色至氣不至者死，氣至色不至者生。</p>
<p>黃赤風熱，青白主寒，青黑為痛，甚則痹攣，㿠白脫血，微黑水寒。痿黃諸虛，顴赤勞纏。</p>
<p>治濁晦暗，內久而重（色深為沉，主病在內），浮澤明顯，外新而輕。其病不甚，半澤半明。雲散易治，搏聚難攻。</p>
<p>黑庭赤顴，出如拇指（黑色出如拇指於天庭，赤色出如拇指於兩顴），病雖小愈，亦必卒死。唇面黑青，五官黑起，擦殘汗粉（如擦殘汗粉之狀），色白皆死。</p>
<p>閉目陰病，開目病陽，朦朧熱盛，時瞑衄常。陽絕戴眼（目上直視也），陰脫目盲，氣脫眶陷，睛定神亡。</p>
<p>五色既審，五音當明。聲為音本，音以聲生。聲之餘韻，音遂以名（聲之餘則謂之音，非聲之外復有音也），角微宮商，並羽五聲。</p>
<p>五音通乎五藏，角屬木，通乎肝；徵屬火，通乎心；宮屬土，通乎脾；商屬金，通乎肺，羽屬水，通乎腎。</p>
<p>喜心所感，忻散之聲。怒心所感，忿厲之聲。哀心所感，悲嘶之聲。樂心所感，舒緩之聲。敬心所感，正肅之聲。愛情所感，溫和之聲。五聲之變，變則病生。肝呼而急，心笑而雄，脾歌以漫，肺哭促聲。腎呻低微，色克則凶（如肝病呼急得相剋之白色主凶也）。</p>
<p>好言者熱，懶言者寒。言壯為實，言輕為虛。言微難復，奪氣可知。譫妄無倫，神明已矣。</p>
<p>失音聲重，內火外寒（內火為外寒所遏郁），瘡痛而久，勞啞使然（若失音不粗重，且瘡爛而痛，是因勞啞使然也）。啞風不語（小兒抽風不語，大人中風不語，皆謂之啞風），雖治命難（不能制木也）。謳歌失音，不治亦痊。</p>
