<header data-type="book">
<h1>吳又可溫疫論歌括</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王旭高</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>序</h1>
<p>《溫疫論歌括》，見於童梓村先生雜抄書中，未知何人所編。雖便誦習，而掛漏殊多，不無遺珠之憾！余將其原文一一對撰，重加校正，去其繁複，抉其精要，條論方法，悉編韻語，仍以舊訣者僅十之二，增改其句者十之五，補其缺者十之三，較諸舊訣，更為完備。至於論中治案，概不編入，若夫辭句之間，未嘗擅改一字也。</p>
<p><u>梁溪王旭高漫識</u></p>

<h1>溫疫總訣</h1>
<p>雜氣為邪，著無常處，氣有盛衰，所傷亦異。方其初起，脈數而洪。凜凜發熱，眾人所同。邪張之際，勢不可止。速離膜原，便是要旨。後段工夫，須識九傳。非為一病，隨人變遷。其傳變也，各不相類。表裡虛實，全須參匯。但表不里，身痛頭疼，惡寒發熱，內無痞悶，能飲能食，不煩不渴。此邪外傳，由表而出。或從汗解，或從斑消。汗出仍熱，白虎宜調。斑出不透，舉斑為要。邪未盡者，表而再表。若但在裡，毫無表症，惟胸膈滿，欲吐不盡。此邪在上，汗下俱禁。引而越之，瓜蒂功迅。邪居中下，胸腹脹痞，舌黃便秘，須從承氣。三焦皆病，下奪克濟。表裡分傳，三消堪倚。下後復熱，頭痛脈浮。一服白虎，汗出便瘳。不能汗者，加參乃優。氣化津回，汗液斯流。凡此九傳，最怕四損：大勞大欲，大病久病。前後虛實，須審乘除。既虛且實，補瀉兼施。若論陰證，時疫罕有。陽極似陰，熱深厥咎。總之脈證，非可類推。全憑神色，以察安危。能知標本，始可言醫。行邪伏邪，治有難易。舍病治藥，舍病治弊。微疫誤治，延綿不已。正不勝邪，必無生理。</p>

<h1>溫疫初起</h1>
<p>疫乃天地之癘氣，一時長幼病相似。邪從口鼻入膜原，正當經胃交關處。（經為表，胃為里，乃半表半裡也。）始先凜凜四肢寒，後但發熱無休止。不浮不沉而但數，此脈勿作傷寒視。雖有頭疼身痛因，邪熱浮越之所致。若投汗下兩非宜，惟有達原飲堪餌。厚朴檳榔草果仁，知芍黃芩甘草使。</p>
<p><u>達原飲</u></p>
<p>檳榔（二錢）　厚朴（一錢）　草果仁（五分）　知母（一錢）　芍藥（一錢）　黃芩（一錢）　甘草（五分）　水二盅，煎八分，溫服。</p>

<h1>急證急攻</h1>
<p>疫邪傳變無有常，急證當以急攻攘。初起舌白如積粉，一劑達原即變黃。隨現胸腹滿痛而煩躁，此時邪毒傳胃了。宜用前方加大黃，下之煩渴差為少。午後復加煩躁來，舌焦生刺鼻如煤。急投承氣下其毒，緩劑羈遲必致災。</p>

<h1>表裡分傳</h1>
<p>疫邪發越離膜原，散溢諸經隨證匡。陽明目痛鼻乾葛（根），太陽項背腰痛羌（活），少陽柴胡嘔脅痛，里證煩滿用大黃。表裡分傳三消飲，柴黃羌葛達原勷。</p>
<p><u>三消飲</u></p>
<p>即達原飲加柴胡、羌活、葛根、大黃、薑棗煎。</p>

<h1>熱邪散漫</h1>
<p>熱邪散漫脈洪數，大渴大汗復大熱。白虎湯用生石膏，知母甘草粳米益。</p>
<p><u>白虎湯</u></p>
<p>石膏（一兩）　知母（五錢）　甘草（五錢）　炒粳米（一撮）　加姜煎。</p>

<h1>內壅不汗</h1>
<p>傷寒有表復有里，先從表解后里攻。疫邪內壅不得汗，承氣攻之表自通。</p>

<h1>下後脈浮</h1>
<p>下後脈浮而微數，神識不清無大熱。熱邪散漫應有汗，反無汗者因無液。白虎加參方最良，氣化津回汗斯徹。</p>
<p><u>白虎加人參湯</u></p>
<p>即白虎湯加人參五錢。</p>

<h1>下後脈復沉</h1>
<p>下後脈浮不得汗，二三日後脈復沉。此時餘邪復瘀聚，還將下法再施行。脈續浮者仍當汗，白虎加參方可遵。</p>

<h1>下後脈反數</h1>
<p>應下失下口燥渴，身熱反減四肢厥。欲近爐火因陽郁，下之厥回脈急數。舌上生津不思水，柴胡清燥湯加葛（根）。此與白虎證相類，但無熱渴非所合。（柴胡清燥湯方在戰汗條。）</p>

<h1>病愈結存</h1>
<p>下後脈證俱已平，腹中有塊按之疼。覺有所阻而膨郁，往來之氣作蛙聲。食粥半月塊自下，勿投攻劑損元真。</p>

<h1>下格</h1>
<p>病愈不便為下格，湯水難容食輒傾。調胃承氣頓熱服，下行惡物嘔當寧。嘔寧慎勿驟進補，補則下閉復作吐。復吐仍宜緩下之，切莫心疑換別路。此與結存相彷彿，彼則能食此不食。又與胃翻證相類，但彼屬寒此屬熱。蓋下不通則上逆，臨證處治休疑惑。</p>

<h1>三承氣用法</h1>
<p>上焦痞滿小承氣，中有堅結加芒硝。無痞但結有瘀熱，調胃承氣湯宜調。</p>
<p><u>小承氣湯</u></p>
<p>大黃（五錢）　枳實（一錢）　厚朴（一錢）　加姜（一片），水煎服。</p>
<p><u>大承氣湯</u></p>
<p>即小承氣湯加芒硝三錢，弱人減半，邪微各復改半。</p>
<p><u>調胃承氣湯</u></p>
<p>大黃（五錢）　芒硝（二錢半）　甘草（一錢）　加姜一片，水煎服。</p>

<h1>蓄血</h1>
<p>失下邪熱無由泄，熱搏於經血乃瘀。大便色黑小便利，少腹硬滿抵當（湯）推。胃實喜笑如狂狀，腹急（但急不硬滿。）桃仁承氣（湯）司。又有蓄血發黃者，但逐其瘀黃自除。夜間獨熱瘀未盡，預把桃仁承氣（湯）醫。瘀行溺短余焰在，犀角地黃（湯）丹芍宜。抵當（湯）桃黃虻水蛭，桃仁承氣（湯）芍丹皮，硝黃歸尾行瘀實，如非蓄血莫輕施。</p>
<p><u>桃仁承氣湯</u></p>
<p>大黃　芒硝　桃仁　當歸　芍藥　丹皮</p>
<p><u>犀角地黃湯</u></p>
<p>地黃（一兩）　白芍（三錢）　丹皮（二錢）　犀角（二錢）</p>
<p><u>抵當湯</u></p>
<p>大黃（五錢）　虻蟲（二十枚炙為末）　桃仁（五錢研泥加酒）　水蛭（五分炙乾為末）</p>

<h1>黃疸（疫中黃疸是腑病非經病）</h1>
<p>遺熱下焦溲不利，經氣鬱滯因發黃。胃實為本黃為標，大黃梔子茵陳湯。</p>
<p><u>茵陳湯</u></p>
<p>茵陳（一錢）　山梔（二錢）　大黃（五錢）　加姜（一片），水煎服。</p>

<h1>邪在胸膈</h1>
<p>邪在胸膈心悶滿，欲吐不吐無已時。腹不滿兮食不下，瓜蒂散用赤豆梔。</p>
<p><u>瓜蒂散</u></p>
<p>甜瓜蒂（一錢）　赤小豆（二錢）　生梔仁（二錢）。如無瓜蒂用淡豆豉二錢代之。</p>

<h1>辨傷寒時疫</h1>
<p>傷寒邪自表傳裡，用藥須從表散始。疫邪在裡溢於經，必以疏通為首務。邪到陽明無所傳，傷寒時疫總同看。犀角白虎三承氣，始異終同法一般。</p>

<h1>戰汗</h1>
<p>邪留血分發斑愈，留於氣分戰汗解。（戰汗之訣，大抵有舌苔者戰，無舌苔者不戰。仲景云：欲戰汗者必當先煩，乃有汗而解，亦一訣也。）解後三五日復熱，里邪未盡仍宜下。下之熱減脈近浮，邪越於經當汗也。無汗柴胡清燥湯，芩陳花粉甘知藏。次日當期復發戰，（大凡戰而不汗者，次日當復戰，亦一訣也。）戰後厥回汗出康。厥不回而無汗者，忽然作痙定身亡。又有戰汗復下痢，芍藥湯用樸檳榔，（紅積倍白芍，白積倍檳榔，）當歸甘草姜煎服，裡急後重加大黃。</p>
<p><u>柴胡清燥湯</u></p>
<p>柴胡　黃芩　陳皮　甘草　花粉　知母　薑棗煎服</p>
<p><u>芍藥湯</u></p>
<p>白芍（一錢）　當歸（一錢）　檳榔（二錢）　厚朴（一錢）　甘草（七分）　生薑（一片）　水煎服。</p>

<h1>自汗</h1>
<p>自汗非因發散出，伏邪中潰氣機通。脈長洪數身大熱，口渴煩燥白虎功。下後續得自汗𤯝，熱仍不退汗溱溱。是為表尚有餘邪，柴胡（湯）薑棗芩甘陳。（柴胡湯即仲景小柴胡湯，去人參、半夏、加陳皮。表裡實故去人參，無嘔吐故不用半夏）。此與熱痢投承氣，表裡雖異同一理。勿認自汗為表虛，輒用黃耆並五味。須知疫證實邪多，虛者十中一二耳。若夫虛汗脈微細，面白無華且驚悸。是當峻補始回春，（宜人參養營湯倍加黃耆。）虛實懸殊勿浪試。</p>
<p><u>柴胡湯</u></p>
<p>柴胡（三錢）　生薑（一片）　大棗（二枚）　黃芩（一錢）　陳皮（一錢）　甘草（一錢）</p>

<h1>盜汗</h1>
<p>下後盜汗者，表有微邪也。邪甚競作自汗矣；邪潰又當戰汗解。邪盡汗自收，不藥亦能瘳。如其三五日不止，小柴胡（湯）去半參投。病愈身涼復盜汗，黃耆（湯）味草術歸儔。不止麻黃根可入，無熱為虛臨證求。（疫邪不論自汗盜汗，有熱為實，無熱為虛，此要訣也。）</p>
<p><u>黃耆湯</u></p>
<p>黃耆（三錢）　五味（一錢）　當歸（一錢）　白朮（一錢）　甘草（五分）　汗不止者加麻黃根一錢五分，無有不止者。</p>

<h1>發斑</h1>
<p>邪伏血分壅為斑，下之邪亦從外解。斑如漸出莫大下，設有下證宜緩緩。（當少與承氣湯，若復大下，則中氣不振，斑毒內陷。）內陷托裡舉斑湯，歸芍柴升白芷甲。循衣理線脈漸微，本方加參宜重著。</p>
<p><u>托裡舉斑湯</u></p>
<p>赤芍　當歸（各一錢）　升麻（五分）　柴胡　白芷（各七分）　川山甲（二錢炙黃）　若撮空理線脈漸微者，加人參一錢。</p>

<h1>數下亡陰</h1>
<p>數下亡陰津液枯，舌乾唇裂目模糊。清燥養營湯知芍，地歸陳草花粉扶。表份尚有餘熱者，此方加入芩柴胡。煩渴未除里證在，還宜承氣養營（湯）隨。樸實黃歸知地芍，參朮有里多忌之。痰涎壅盛胸膈滯，宜將蔞貝養營（湯）施。蘇子橘紅歸白芍，栝蔞貝母花粉知。</p>
<p><u>清燥養營湯</u></p>
<p>知母　天花粉　白芍藥　陳皮　甘草　當歸　生地黃汁　加燈心煎服。</p>
<p><u>柴胡養營湯</u></p>
<p>即前方加柴胡、黃芩，薑棗煎服。</p>
<p><u>承氣養營湯</u></p>
<p>知母　當歸　芍藥　生地黃　大黃　枳實　厚朴　水姜煎服。</p>
<p><u>蔞貝養營湯</u></p>
<p>知母　花粉　貝母　栝蔞實　橘紅　當歸　白芍　紫蘇子　水姜煎服。</p>

<h1>用參宜忌，下後間服緩劑</h1>
<p>人參所忌為里症，下後雖通只偶施。火濕食痰皆邪藪，以實填實禍相隨。數下餘邪尚未盡，間服緩劑調理宜。（宜柴胡清燥湯）俟邪再聚當再下，此中活法貴思維。</p>

<h1>下後反痞</h1>
<p>邪留胸膈令痞滿，下後反痞是因虛。參附養營（湯）治虛痞，歸芍乾薑生地隨。若還潮熱兼口渴，脈來數甚大非宜。</p>
<p><u>參附養營湯</u></p>
<p>當歸（一錢）　白芍（一錢）　生地黃（三錢）　附子（七分炮）　乾薑（五分炒）　人參（一錢）</p>

<h1>下後反嘔</h1>
<p>邪留胸胃間，熱甚故作嘔。下之煩渴除，反嘔胃寒咎。少進米粥便吞酸，半夏藿香湯即安，苓朮乾薑陳草攢。</p>
<p><u>半夏藿香湯</u></p>
<p>半夏（錢半）　藿香（一錢）　乾薑（一錢炒）　白茯苓（一錢）　陳皮（一錢）　白朮（一錢）　甘草（五分）　水姜煎服。</p>

<h1>補瀉兼施</h1>
<p>證本應下而失治，緩藥羈遲邪火壅。耗氣搏血精神盡，循衣理線振㤝㤝。補之則邪毒愈甚，攻之則正弱不勝。陶氏黃龍湯可用，樸實硝黃歸地從。因虛急用人參入，（黃龍湯即大承氣湯加當歸、地黃、人參。如方食肉而病適來，致停積在胃，用承氣下之，惟臭水稀糞而已；於承氣湯中，但加人參，雖久停之積亦下，蓋鼓舞胃氣，宿食始動也。）虛如稍退莫頻庸。此證若但投承氣，必現肢寒心怔忡，眩冒攝空項強直，急進人參湯養營。地歸五味炙甘草，知母陳皮芍麥冬。</p>
<p><u>陶氏黃龍湯</u></p>
<p>大黃　厚朴　枳實　芒硝　當歸　生地　人參</p>
<p><u>人參養營湯</u></p>
<p>人參　麥冬　五味子　地黃　當歸　白芍　知母　陳皮　甘草</p>

<h1>藥煩　停藥</h1>
<p>病久失下真元弱，及投承氣加危劇。額上汗出手足冷，髮根燥癢心煩灼。此係中虛名藥煩，若然嘔吐為停藥。兩證均當急服姜，挽回元氣人參著。</p>

<h1>虛煩似狂</h1>
<p>虛煩似狂無寧刻，尺脈不至關寸微。平時斫喪真元損，勉投峻補冀生機。</p>

<h1>神虛譫語　奪氣不語</h1>
<p>應下稽遲血氣虛，下之煩渴悉皆除。惟獨譫語終不止，清燥養營湯加朱（砂一錢）。奪氣不語無大熱，人參養營（湯）急補諸。</p>

<h1>老少異治　誤藥致害</h1>
<p>疫病長幼雖同類，補瀉分途不同派。老年慎瀉少慎補，虛實真假須參匯。邪留胸腹因痞滿，日久失下致尪羸。莫認痞滿為氣壅，莫認尪羸為虛餒。痞滿不用辛香劑，尪羸休投補益輩。詎知邪盛正氣鬱，轉補轉熱轉危殆。熱勢綿綿如癉瘧，形消腹皮至貼背。庸醫到此無方法，亂進寒涼冀熱退。黃連性守招壅塞，世人比比皆蒙害。此時議下尚可生，頗慮執迷終不悔。</p>

<h1>大便</h1>
<p>熱結旁流純臭水，協熱稀糞但焦黃。大腸膠秘黏且臭，胃實燥結痞滿殃。總為裡實咸宜下，緩急之間當忖量。病後餘邪作滯下，腹痛裡急芍藥湯。白積屬氣紅屬血，紅加芍藥白檳榔。愈後陰虛大腸燥，蜜煎導法緩通腸。甚則六成湯可用，二冬歸芍蓯地黃。如服更燥宜六味（丸），地萸丹藥苓瀉襄。黎明泄瀉脈遲細，七成（湯）參附補真陽，破故茯苓五味草，愈而復發八味（丸）商。</p>
<p><u>蜜煎導</u></p>
<p>以蜜煎煉，捻作錠子，納穀道中。</p>
<p><u>六成湯</u></p>
<p>當歸（錢半）　白芍藥（一錢）　熟地黃（五錢）　天門冬（一錢）　肉蓯蓉（三錢）　麥門冬（二錢）　照常煎服。</p>
<p><u>七成湯</u></p>
<p>破故紙（三錢炒研）　熟附子（一錢）　五味子（八分）　白茯苓（一錢）　人參（一錢）　甘草（五分）　照常煎服。</p>
<p><u>六味丸</u></p>
<p>地黃　萸肉　丹皮　山藥　澤瀉　茯苓</p>
<p><u>八味丸</u></p>
<p>即六味丸加肉桂、附子。</p>

<h1>小便</h1>
<p>熱邪在胃小便赤，熱到膀胱小便塞。邪干氣分便膠濁，邪乾血分便溺血。膠濁豬苓湯利之，木通車澤滑甘施。邪在血分桃仁（湯）治，阿膠歸芍滑丹皮。少腹硬滿小便利，此方加入大黃宜。</p>
<p><u>豬苓湯</u></p>
<p>豬苓（二錢）　澤瀉（一錢）　滑石（一錢）　甘草（八分）　木通（一錢）　車前子（二錢）　加燈心煎服。</p>
<p><u>桃仁湯</u></p>
<p>桃仁（三錢）　丹皮（一錢）　當歸（一錢）　赤芍（一錢）　阿膠（二錢）　滑石（二錢）　照常煎服。少腹痛按之硬，小便自調，有蓄血也，加大黃三錢。</p>

<h1>脈厥　體厥</h1>
<p>陽邪亢極因而厥，身反冰涼脈絕無。煩躁乾渴胸腹痛，急投承氣下之蘇。假令誤認三陰症，一服辛溫命即殂。</p>

<h1>蛔厥　呃逆</h1>
<p>疫邪傳裡胃如沸，下既不通蛔上衝。但治其胃厥自愈，莫將熱藥再相蒙。胃氣逆上為呃逆，各隨其證可施功。熱投承（氣）虎（白虎）寒丁柿，痰閉胸中姜半通。</p>
<p><u>丁香柿蒂散</u></p>
<p>公丁香　柿蒂</p>
<p><u>小半夏湯</u></p>
<p>半夏　生薑</p>

<h1>停飲</h1>
<p>煩渴思水莫恣飲，飲多水氣必停胸。停飲當投四苓散，二苓澤瀉陳皮同。</p>
<p><u>四苓散</u></p>
<p>茯苓（二錢）　豬苓（錢半）　澤瀉（錢半）　陳皮（一錢）　長流水煎。</p>

<h1>應下諸症</h1>
<p>應下舌白漸變黃，黑苔芒刺與舌裂。（又有舌上俱黑而無苔者，此經氣。非下證也。妊娠多見此舌，陰證亦有此舌，皆非下證。）白砂乾硬如砂皮，舌短舌卷唇焦色。唇裂口臭鼻孔煤，目赤咽乾口燥渴。氣噴如火小便赤，或黑或臭痛涓滴。揚手擲足脈沉數，潮熱譫語善太息。胸腹脹滿頭脹痛，心下硬痛按愈劇。大腸膠秘屁極臭，大便不通小便塞。熱結旁流協熱利，脈厥體厥而四逆。發狂系是胃家實，皆為裡實下須急。</p>

<h1>肢體浮腫</h1>
<p>應下之證兼浮腫，小便不利喘不安。投劑仍宜小承氣，但治其疫腫自寬。向有單脹而後疫，急則治標疫證先。腫愈因疫復發者，病根在疫治毋兼。身浮臍凸陰囊大，發熱煩渴心下堅。水腫兼疫宜並治，承氣湯加甘遂煎。（承氣湯加甘遂治水腫兼疫。）疫愈之後漸浮腫，水與氣復當辨焉。水則喘急溲不利，氣復溲利而不喘。水宜分利氣勿藥，靜調節食可安痊。虛人患疫誤失治，正虧邪匿日奄延。心腹忽腫煩冤甚，承氣養營湯急宣。證因失治非關水，或指脾虛更不然。孕婦受邪多此證，治同前法母兒全。</p>

<h1>勞復　食復　自復</h1>
<p>病後因勞復發熱，正虧氣陷火隨張。輕則靜養漸平復，重者安神養營湯。地歸芍草陳皮棗，遠志茯苓桔梗藏。食復吞酸胸悶滿，損谷兼行消導方。無故發熱為自復，餘邪未盡復熾猖。病證與前相彷彿，稍投前藥自然康。</p>
<p><u>安神養營湯</u></p>
<p>茯苓　棗仁　遠志　桔梗　地黃　白芍　歸身　陳皮　甘草　龍眼肉　水煎服。</p>

<h1>感冒兼疫　瘧痢兼疫</h1>
<p>脈浮惡寒為感冒，瘧邪寒熱必如期。感冒兼疫先發汗，瘧邪兼疫治隨機。瘧發數日忽煩熱，苔刺胸滿宜下之。里證已除寒熱在，還將瘧法治之宜。滯下發熱舌苔黃，疫痢兩兼為最危。檳芍順氣湯宜用，枳實大黃厚朴隨。</p>
<p><u>檳芍順氣湯</u></p>
<p>檳榔　芍藥　枳實　厚朴　大黃　生薑　煎服。</p>

<h1>婦人時疫</h1>
<p>男女疫邪無兩樣，婦多胎產與月經。經水適來熱入血，至夜發熱譫語昏。甚則胸如結胸狀，期門刺與小柴（胡湯）吟。經水適斷邪氣陷，柴胡養營湯急烹。若夫新產與崩漏，治法即從經斷論。胎前患疫有下證，莫謂妊娠禁三承。要知承氣逐邪毒，邪去胎安歷施靈。</p>

<h1>小兒時疫</h1>
<p>小兒時疫人不知，每多誤作驚疳治。大凡疫氣盛行時，一有相干即便是。太極丸用天竺黃，蠶膽大黃冰麝使。硃砂為衣糯米丸，薑湯化下神功著。</p>
<p><u>太極丸</u></p>
<p>天竺黃（五錢）　姜蠶（三錢）　膽星（五錢）　大黃（三錢）　冰片（三分）　麝香（三分）　共研細末，元米飯為丸如芡實大，硃砂為衣。凡遇疫證，薑湯送下一丸，神效。</p>

<h1>主客交病</h1>
<p>素有他證感微疫，雜藥亂投成痼疾。身熱不去脅下痛，肢體時疼脈數急。主客交渾不得解，攻補兩難殊手棘。乘其大肉未全消，急用三甲散為得。龜甲鱉甲川山甲，蟬蛻姜蠶牡蠣末，䗪蟲甘草芍當歸，隨證加味尤密切。</p>
<p><u>三甲散</u>　治疫久不愈，主客交渾不解。</p>
<p>龜甲　鱉甲（各一錢醋炙）　甲片（五分土炒）　甘草（三分）　蟬衣　姜蠶　煅牡蠣（咽燥者斟酌用之）　當歸（各五分）　䗪蟲（三枚乾者劈碎，鮮者和酒少許搗爛，取汁沖藥服，渣入藥內煎。）　白芍（七分酒炒）　水二盅，煎八分，瀝去渣，溫服。素有老瘧或癉瘧者加牛膝一錢，首烏一錢（胃弱作瀉者，宜九蒸九曬。）若有郁痰加貝母；有老痰加栝蔞霜各五分（嘔者不用。）咽乾作癢加花粉、知母各五分。燥嗽加杏仁錢半。若有內傷瘀血加倍䗪蟲，如無䗪蟲以乾漆五分（炒煙淨為末），桃仁一錢（搗爛）代之。服後病減半，勿更服之，當用調理法。</p>
