<header data-type="book">
<h1>醫學妙諦</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>何其偉</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1837">公元1837年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫者意也，意之所注，往往如期而中。夫醫之書多矣，自神農嘗百草療病，而後歧伯之刀圭，伊尹之湯液，暨乎漢唐，歷宋元明，以迄於今，醫書增至千百餘種。神明變通，悉可隨機而應。第卷帙繁多，學者限於知識，如何口誦心維，此醫書之所以難得佳本也。青浦何書田先生，本儒者，精於軒歧，手著《醫學妙諦》一書，分門別款，計七十六章，每章弓《內經》、《靈樞》、《素問》及諸名家各種方書，論證根柢、精審不磨之言為宗旨焉。病因治法編為七言歌括，詞意秩然有序。後列各症條款，應用方藥，加之參論，朗若列眉，為家塾讀本也。嘉定陳墨蓀少尉，醫承世業，學有淵源，更師事先生之嗣平翁同遊講貫，精通《靈》、《素》百家，今三折肱矣。此書經咸豐庚申兵燹，已多散佚，墨蓀參互考證，缺者補之，復完全帙數。十年來憑此編為人治病，歷歷中肯，百不失一，真枕中秘也。不欲自秘，將付剞劂氏而郵書問序於余。余素昧醫理，公餘退圃，翻閱各種方書，略知梗概。今觀是書，簡而不遺，要而不繁，初學之士熟習而深思之，於以上溯源流，進觀堂奧，不難契靈蘭之妙諦而參金匱之鴻文也，是為序。</p>
<p><u>光緒十有八年歲次王辰仲秋之月賜進士出身誥授光錄大夫頭品頂戴軍機大臣兵部尚書兼</u></p>
<p><u>都察院右都御史雲貴總督使者浙江仁和王文韶序於雲南節署</u></p>

<h1>序</h1>
<p>古之人有言：不為良相，則為良醫。故夫察乎天地，通乎神明，調陰陽四時，序得其正，使太和之氣翔洽乎寰區，以扶持國家之元運，而攸遂群倫者，相之職也。惟醫亦然，此其精蘊，夫豈易言哉。雖然，其理固可推而知也。吾嘗涉夫大海矣，波濤極天，彌望無際，然徐而察之，長風一吹，水紋如彀，極之萬里，其致同也。而後乃知，至微者固寓乎極大，而極大者實至微所積而成者也。相與醫之業，不猶是哉？抉其精則意自有，相忘乎無形而成治者也。今我陳墨蓀先生，以《醫學妙諦》一書相示，且囑為序。余受而讀之，青浦何公書田之所著也，公名在縉紳間昭昭藉甚，今讀其書，乃益悅然於神明之妙。中分為三卷，舉凡病情、脈理、治法、藥品，悉以韻語括之，而附方於後，驅遺《靈樞》，啟發《金匱》，即論文筆，已有風水相遭之奇，而況乎有極大者固寓乎其中哉！神靈在手，造化因心，不刊之作也。今先生將為付梓，公諸海內，先生固公子之門人也，淵源澄澈，故藝精而道明。亟傳此書，吾知其實有康濟之懷，將使人人登諸壽域，無疾病夭札之虞，功同良相也。又豈特為醫家之指南而已哉！欽響不已，爰為之序焉。</p>
<p><u>光緒癸巳秋七月蒙自楊文斌質公甫書於䐜山官廟之餐柏軒</u></p>

<h1>卷上例言</h1>
<p>一何書田太夫子世居青浦北竿山，本儒術，通軒岐之學，臨證著手成春，日日遠近就診者，門庭如市，時或舟車往來，吳會士大夫莫不爭先延致。在嘉道間為吳下名醫之冠。</p>
<p>一先生成功後不復進取，著述甚富，曾刻《竿山草堂詩文集》行世，暨江浙水利等書，為林文忠公器識，文章經濟推重當時，實為醫名所掩耳。</p>
<p>一《醫學妙諦》，先生手輯書也。仿《金匱要略》分門別款，每章之前專宗《內經》、《靈樞》《素問》及採諸大家千古不磨之論為引證焉。並列各症條款，宜用湯劑，皆出先生平時閱歷手定者也。其病因治法，編為歌括，童而習之，以便口誦心維，為家塾讀本也。</p>
<p>一予家世傳幼科松承庭訓，咸豐癸丑，奉家君命，業醫須習大方脈，調理諸症，方稱成技。於是命松負笈，從平子夫子授業在門下，甫十月，適家君病足疾，書來促余辭歸，臨岐分袂，蒙夫子執手殷殷論曰：同事硯席未久，遽唱驪駒，未免耿耿。因袖出一編，語云：此書我家習醫秘術，即以贈行。松老矣，回首師門，烏能自已！</p>
<p><u>光緒十九年歲次癸巳秋八月上浣穀旦小門人嘉定陳松謹識於四明需次</u></p>

<h1>卷上</h1>

<h2>雜症</h2>

<h3>中風章</h3>
<p>（大指次指麻木不仁，或肌肉微掣，即為中風之先兆）</p>
<p>中風之症治須思，審其所中善治之。中腑風邪四肢著，惡寒拘急脈浮遲。中臟唇緩滯九竅，鼻塞便閉不語時。若中血脈口眼歪，又有中經亦要知。六經無病溺調和，口不能言肢不持。中臟當下腑當汗，中經補血養筋宜。中血脈者無他治，養血通氣效最奇。若中臟而兼中腑，傷寒兩感症同危。東垣大率主氣虛（中風雖緣外中之風，亦因內氣之虛也。虛則氣多不貫，一為風所入而肢體於是乎廢矣），河間腎虛兼火治（腎息失宜，心火盛而腎水虧，故熱鬱而生痰，痰甚而發熱，熱痿相因而風生）。丹溪主濕內生痰，總是類中分明注。治之先用開關法，皂半辛黎俱為未，和以麝香吹鼻中，有嚏則生無不活。醒後先投三合湯，陳甘茯半應相當，南蔞歸桔芩連術，竹瀝薑汁共一湯。左癱屬血瘓屬氣，血虛加芍芎生地（四物恐泥痰，宜用薑汁炒）。瘀血桃仁與紅花（瘀血症小便利，大便黑，或腹中懷痛），氣弱參耆也同劑。遺尿盜汗亦如之，小便不通不可利。殭蠶全蠍閉塞加，鉤藤可治牙關閉。肥人烏附以引經（烏頭、附子、童便煮用），氣實人參亦須忌（脈右寸有力，用參恐痰涎瘀經絡）。風盛自汗身體痛，羌活防風並薄桂。頭目不利或頭痛，芎芷蔓荊辛芥穗。無汗身疼加芷羌，穹防蒼朮秦艽配。心血內虧神恍惚，茯神遠志菖蒲合。或心動搖驚悸者，竹茹酸棗辰砂益。風痰熾甚須膽星，防枳牙皂栝蔞仁。食傷曲麥山楂枳，便閉還須三化行（三化湯用枳實、川樸、大黃、羌活）。</p>
<p><u>肝腎虛內風動</u></p>
<p>胡麻　天麻　桂圓　黃耆　甘草　熟地　萸肉　遠志　五味　蓯蓉　當歸　杞子　首烏　牡蠣　甘菊　蒺黎　虎骨　女貞　牛膝</p>
<p><u>陽虛衛疏</u></p>
<p>人參　當歸　附子　桑葉　黃耆　天麻　於術　或玉屏風加減</p>
<p><u>衛虛絡痹</u></p>
<p>桂枝　黃耆　附子　羌活　遠志　薑黃</p>
<p><u>氣虛</u></p>
<p>人參　黃耆　白朮　炙草　當歸　陳皮　天麻　薑棗</p>
<p><u>肝腎同治</u></p>
<p>人參　茯苓　蒺藜　甘菊　陳皮　半夏　枸杞　天麻　鉤藤</p>
<p><u>風濕中脾絡</u></p>
<p>六君子湯加南星　附子</p>
<p><u>腎陰虛肝風動</u></p>
<p>熟地　蓯蓉　杞子　首烏　菊花　菖蒲</p>
<p><u>痰火阻竅</u></p>
<p>羚角　膽星　竹瀝　鉤藤　連翹　花粉　橘紅　丹皮　菖蒲</p>
<p><u>液虛風動</u></p>
<p>復脈湯去薑桂，固本湯去熟地加龜版、五味，加虎骨、蓯蓉、杞子、淮膝、黃柏。</p>
<p><u>包絡熱邪阻竅</u></p>
<p>至寶丹　犀角　硃砂　雄黃　琥珀　玳瑁　西黃　麝香　龍腦　金箔　安息</p>
<p>痰火上實，清竅為蒙，下虛上實，多致顛頂之痰。</p>
<p>陳曰：凡中風症有肢體緩縱不收者，皆屬陽明氣虛，當以人參為主，附子、耆、草之類佐之。若短縮牽攣，則以逐邪為急。</p>
<p>朱丹溪曰：麻為氣虛，木是濕痰散血。</p>

<h3>傷風章</h3>
<p>（風能兼寒，寒不兼風）</p>
<p>傷風元氣本素虛，乘虛而入風邪居。鼻塞身重頭亦病，惡風發熱汗有餘。脈來浮緩且無力，參蘇飲服旋當祛法。咳嗽去參加桑杏，內有痰熱芩連進。痰吐如膠旋覆花，胸滿痰多貝簍順。冬間自汗桂枝添，若還無汗麻黃令。傷食麥芽曲樸須，中酒烏梅寇仁定。頭痛芎卷不可無，氣喘杏蘇亦莫剩。</p>
<p><u>風傷衛</u></p>
<p>蘇梗　豆豉　杏仁　川樸　桔梗　連翹　木通　滑石</p>
<p><u>體虛感風</u></p>
<p>參歸桂枝湯加陳皮</p>

<h3>中寒章</h3>
<p>太陽脈行由背抵腰，外來風寒先傷陽經，經氣逆斯病發</p>
<p>中寒傷寒症非一，傷則漸深中直入。初起怖冷四肢寒，無熱不渴身戰慄。脈來無力又沉遲，加味理中湯有益。參甘白朮並乾薑，加桂陳皮功妙極。寒甚吳萸及川附（用童便炒），半夏茯苓吐有力，生薑煎就須冷服（伏其所主，治其所因也），無脈麝香豬膽吃。泄瀉不止加耆升，薑汁三匙嘔吐入。舌卷囊縮指甲青，脈絕蒸臍法當習（用麝香、半夏、皂角為末，納入臍中，生薑一片貼臍上，放大艾丸於上灸之）。</p>
<p><u>寒邪客肺</u></p>
<p>蘇梗　桔梗　杏仁　連翹　川樸　枳殼　豆豉　橘紅　桑皮</p>
<p><u>風寒傷衛</u></p>
<p>桂枝湯加杏仁</p>
<p><u>寒邪兼濕</u></p>
<p>淡豆豉　蘇梗　杏仁　防己　茯苓皮　木通　川樸</p>
<p><u>寒客太陽，膀胱經氣逆</u></p>
<p>五苓散</p>
<p><u>勞倦陽虛感寒</u></p>
<p>杏仁　茯苓皮　生薑　川樸　川桂枝　廣皮</p>

<h3>暑病章</h3>
<p>暑與濕為熏蒸黏膩之邪，治不中竅，暑熱從陽上蒸而傷陰化燥。濕邪從陰下沉而傷陽變濁，六氣傷人因人而化</p>
<p>夏月盛暑氣注人，令人病熱生暑症。總由陰虛挾痰火，脈虛身熱症可認。腹痛泄瀉兼嘔吐，噁心頭暈冒暑病。傷暑身熱兼頭痛，身如針刺躁難靜。中暑寒熱自汗多，咳嗽倦怠不知性。動而得之病屬陽，加味香薷湯可定。香薷麥味茯甘陳，豆樸木瓜次第尋。川連燈心薑棗服，氣虛白朮與參耆，寒熱柴芩為要藥，嘔吐藿半法尤精。瀉用澤豬功最速（去麥味），渴增知粉效如神；綿綿腹痛傷水冷，乾薑滑石法從心。小水不利或短赤，澤瀉山梔並滑石。搐攏加羌辨暑風，胸滿枳檳消食積。自汗不止用耆參，水瀉木通澤有益。頭痛川芎並石膏，痰悶栝蔞及枳實（以上陽症治法）。若居涼館喜風涼，惡寒頭痛頭項強。身形拘急熱無汗，靜而得之陰寒傷。宜用羌活與茅朮，川樸乾薑及藿香。柴蘇等分姜三片，水煎熱服號升陽，兼食神麯滑石妙，內傷冰冷用炮姜。</p>
<p>陳曰：六氣傷人，因人而化，陰虛者火旺，邪歸營分為多，陽虛者濕勝，邪傷氣分為多。</p>
<p><u>暑傷氣分上焦開鬱</u></p>
<p>杏仁　通草　象貝　鬱金　射於　石膏　半夏　山梔　豆豉　滑石　豆卷　橘皮　竹茹　苡仁　川樸　元參　香薷　犀角　蘆根　丹皮　甘草　赤芍　連翹　竹瀝　細生地　益元散　石菖蒲　西瓜翠</p>
<p>以上藥皆可參用之。</p>
<p><u>何源長先生家制定中丸方，計十九味</u></p>
<p>陳香薷（三兩）　宣木瓜（二兩）　公丁香（一兩）　法半夏（二兩）　廣木香（一兩）　紫川樸（一兩）白檀香（一兩）　建澤瀉（二兩）　廣藿香（四兩）　陳枳殼（一兩）　紫蘇葉（二兩）　飛滑石（四兩）　軟柴胡（一兩）　茅山術（二兩）　山楂肉（四兩）　川羌活（一兩五錢）　赤茯苓（二兩）　粉甘草（二兩）　生葛根（二兩）</p>
<p>右藥研末蜜丸，每丸重二錢，硃砂為衣，開水送服。孕婦及血症忌之。</p>
<p><u>暑風傷肺</u></p>
<p>石膏　連翹　竹葉　杏仁　六一散　苡仁　橘紅　甘草　桑皮</p>
<p><u>暑厥中惡暑熱，必先傷氣分，故舌發燥，口渴身痛</u>（陳注）</p>
<p>蒼朮白虎湯加滑石</p>
<p><u>暑熱阻氣，中痞不運</u></p>
<p>半夏瀉心湯去乾薑、甘草，加杏仁、枳實、竹心、廣皮、茯苓、知母、廣藿、半夏、黃芩、白芍、山桅、川樸、麥芽、白蔻仁，生脈四君湯，清暑益氣湯。</p>
<p><u>煩勞傷暑胃虛</u></p>
<p>《金匱》麥門冬湯。如脈左關大，木瓜、麥冬、沙參、烏梅、甘草。</p>
<p><u>暑入心營</u></p>
<p>鮮生地　元參　銀花　川連　竹心　石菖蒲　丹參　連翹　犀角</p>
<p><u>暑病久延傷液</u></p>
<p>生脈散　三才湯　熟地　人參　天冬　茯苓　白芍　辰砂</p>
<p><u>暑熱深入劫陰</u></p>
<p>阿膠　門冬　川連　生地　人參　烏梅</p>
<p><u>暑瘵寒熱。舌白不渴，吐血</u></p>
<p>西瓜　翠竹芯　苡仁　鮮荷葉　杏仁　滑石</p>
<p><u>暑邪人厥陰危症，消渴吐蛔，舌縮，肺氣阻塞。若逆傳腔中，必致昏厥。心之下有膈膜，與脊脅周圍相著，所謂腔中也。暑病必挾濕。</u>（陳注）</p>
<p>川連　黃芩　乾薑　人參　楊梅　川椒　白芍　枳實</p>
<p><u>暑兼血症</u></p>
<p>鮮生地　綠豆皮　通草　石膏　川貝枇杷葉　白蔻仁　知母　苡仁　丹皮　連翹鬱金　桑葉　元參　竹心　杏仁　橘紅　六一散　六味丸加阿膠　麥冬　沙參</p>
<p>陳曰：《內經》云，病自上受者治其上，上受者以辛涼微苦，如竹葉、杏仁、連翹、薄荷。在中者以苦辛宣通，如半夏瀉心湯法。在下者以溫行，寒性質重開下，如河間桂苓甘露飲之類，乃治三焦之大意。</p>
<p><u>暑病用苦辛味自能泄降也</u>（陳注）</p>
<p>桂苓甘露飲（肉桂、雲苓、膏、滑石、術，甘寒水瀉豬芩）</p>
<p>張司農集諸賢論暑病，謂入肝則麻痹，入腎為消渴。瘦人之病慮涸其陰，肥人之病慮虛其陽，胃中濕熱，得燥熱錮閉下痢稀水，即協熱下痢。</p>
<p>熱病之瘀熱留絡而為遺，毒注腸腑而為溺痢，皆屬棘手。</p>

<h3>注夏章</h3>
<p>濕熱蒸人夏日長，氣虛體弱熱因傷。胸中氣促四肢倦，心煩食少不如常。好臥口乾或泄瀉，清暑益氣法無忌。若還盜汗不時出，煎服可加浮小麥。便赤山桅滑石宜，口渴烏梅花粉吃。頭痛川芎與石膏，嗽加杏石升蒼細（用杏仁、石膏而去升麻、蒼朮）。木香砂仁胸不舒，瀉可茯苓肉蔻益。</p>

<h3>濕症章</h3>
<p>東南地卑恆多濕，居民感受病非一。或涉水中雨露蒸，或過飲冷因而得。小便短赤身體重，骨肉痠麻行不疾。漸加浮腫及身黃，燥土滲濕湯可則。茯苓香附半陳皮，川樸澤豬蒼白朮。引用砂仁並棗姜，臨服半匙鹽可入（炒飛鹽）。外濕寒熱身腫痛，羌活防通加有力。內濕胸滿兼嘔吐，喘脹腹膨用枳實。川連山楂炒菔子，溺閉車前木通益。濕熱發黃仗茵陳，山梔車前兼滑石。丹溪云濕得燥收，蒼朮為先不可卻。濕從風散獨羌須，濕久生熱連梔吃。麻黃可用不宜多，汗甚變端恐莫測。</p>
<p>陳曰：濕阻上焦宜開肺氣，佐淡滲通膀胱，即啟上閘，開支河，導水勢下行之理。《內經》云：脾竅在舌，邪滯竅必少靈致，語言欲謇，法當分利，佐辛香以默運坤陽，是太陰里症治法。</p>
<p>仲景云：濕家大忌發散，汗之則變痙厥。切記。</p>
<p>脾陽不運，濕滯中焦，宜用術樸姜半以溫通之，苓澤腹皮滑石以淡滲之（陳又注）。</p>

<h3>火症章</h3>
<p>相火命門君火心，二火一水難相均（惟青屬水，《內經》所謂一水不能勝二火）。五臟氣升皆是火（氣有餘便是火），須知妄動煉真陰（《內經》又云：一水不勝五火也）。心火亢枉陽強病，人壯氣實鹹冷進。癲狂便閉承氣湯，大便如常解毒應（治火熱錯語，呻吟不眠，煩躁脈數，干作嘔惡）。實火可瀉從上方，隨經調治須更定。飲食勞倦身發熱，元氣不足內傷症。補中益氣味甘溫，陽虛之火功偏勝。相火熾甚以乘陰，朝涼暮熱血虛成。陰中之火甘寒降，知柏四物功堪稱。腎水受傷陰虛病，面紅耳熱浮火乘。左尺洪數無根火，龜柏六味治如神（以上補虛火法）。胃虛過食生冷物，陽氣抑過不得伸，火鬱之症升散好，升陽散火用之靈。命門火衰陽脫病，面赤煩躁虛火盛。足冷脈沉陰極燥，回陽救急醫中聖，六君桂附五味姜，豬膽麝香加可進。陰虛發熱火旺甚，脈數無力屬心腎。內傷發熱乃陽虛，脈大無力脾肺分。氣從左起肝之火，陰火還從臍下引。腳下熱來侵腹者，斯人虛極藥難問。治火之法始知涼，次而寒取效可望。寒取不效從熱之，從之不效心茫茫。是徒知熱以寒治，至理尚未經細詳。不知火熱不能退，總由真水不能長。妙法壯水以為主，壯水自剋制陽光。寒而熱者取之陰，陰即腎水經言彰。腎水既足心火降，火非水偶誰能當（回陽救急湯、六君加附、桂、乾薑、五味子、麝香、豬膽汁）？</p>

<h3>內傷章</h3>
<p>飲食勞倦是內傷，或因飢飽過行房。風寒傷人名外感，辨明調治便無妨。人迎（左寸脈）緊甚手背熱，寒熱邪作無間歇。惡寒無汗鼻不通，此是外感症可別。內傷之症氣口（右寸）洪，手心有熱微惡風。寒熱間作不知味，更兼氣弱言語慵。內傷惡寒得暖解，外感近火寒仍攻。外感內傷相挾者，脈症並見須辨通。內傷不足急補之，外感有餘得不同。或先補養或先散，先後之間無苟從。益氣湯加薑棗吞，氣和微寒散為精。救腎水虧酒炒柏，入心養血紅花增。升麻柴胡自汗去，夜間不寐加棗仁（姜炒）。川芎蔓荊頭痛用，口渴乾葛斯為靈。顛頂痛時辛藁本，怔忡驚悸棗茯神（甚者用遠志、柏仁、菖蒲等味）。食加麥曲山楂實，瀉添澤芍與雲苓。川連枳實除胸悶，有痰茹半茯為君。防己木瓜治腳弱，龍骨牡蠣療遺精。身熱羌防芎芷用（兼風寒頭痛者加之），火升知母柏元參。連芩兩味清內熱，菊花熟地治眼疼。</p>

<h3>傷食章</h3>
<p>後天之本屬脾胃，納化飲食滋營衛。養生妙訣節飲食，脾胃受傷體弱意。胸腹飽悶並作酸，噯氣惡食腹痛累。甚則發熱與頭疼，惟身不痛傷寒異。左關平和右關緊，香砂平胃功有濟。川芎枳實並藿香，水姜煎服食須忌。消肉查果消面菔，消糯米食檳神麯。飯食神麯兼麥芽，生冷姜青（皮）栝（蔞）果（草果）逐。魚傷橄欖椒紫蘇，稻草可將消牛肉。麝香能消蔬果積，葛梅白蔻酒傷入。挾痰半夏與生薑，挾氣香砂枳殼益。挾寒蘇梗葛根柴，食冷草蔻桂樸吃。傷飲須合四苓湯，嘔吐臨服加薑汁。茯苓澤術治脾虛，泄瀉肉蔻車白朮。食積鬱久成濕熱，芩連大黃不可缺。再入白朮並澤瀉，去藿砂仁與蒼朮。丹溪謂受飲食寒，初起溫散溫利適。久則成鬱郁成熱，熱久生火溫不得。宜用辛涼發表之，辛寒理中邪易闢。輕則損谷重逐滯，東垣妙論總莫忽。</p>
<p>陳曰：胃主納，飲食不下，胃有病也。脾主化，飲食不消，脾有病也。</p>

<h3>六郁章</h3>
<p>氣鬱　濕鬱　痰鬱　火鬱　血鬱　食鬱</p>
<p>滯而不通病名郁，氣血痰火濕與食。丹溪製成越鞠丸（方用茅朮、香附、山梔、川芎、神麯），能解諸郁有功績。寒熱頭疼胸膈痛，目暗耳聾脈沉澀。氣鬱木香烏藥加，砂薄青皮桂枝及。濕鬱周身骨節痛，陰寒則發肢無力。脈來沉細茯苓芷，咳嗽氣急為痰鬱。手足麻木脈滑沉，痰塊堅硬咯不出。須加桔梗杏仁蔞，半夏南星及海石。火鬱口苦心煩甚，頭痛惺惺目昏黑。小便赤色脈沉數，青黛黃連功妙極。午後發熱為血鬱，小便通處移不得。脈來沉澀或芤結，上下失血桃紅入。噯氣作酸為食鬱，胸膈飽悶面黃色。痛不思食脈沉緊，枳實砂仁加亦適。春加防風夏苦參，秋冬之令吳萸益。</p>
<p>陳曰：鬱則氣滯，氣滯久則必化熱，熱久則津液耗而不流，升降之機失度。初傷氣分，久延血分，甚則延為郁勞。用藥大旨宜苦辛潤宣通，不宜燥熱斂澀呆補。</p>

<h3>氣病章</h3>
<p>捍衛沖和之謂氣，妄動變常火之例。《局方》燥熱與辛香，以火濟火有何利。生冷生氣高陽言（誤言也），氣多是火丹溪意。隨症調治辨虛實，虛者右手脈無力。言懶氣短身倦怠，胸中虛滿不思食。塞因塞用（《內經》有明文）六君子，補中益氣亦有益。滯氣實者脈洪實，憂愁忿怒因而得。胸脅脹滿噫不通，吐酸噁心心鬱抑，種種氣滯若何醫，分心氣飲最相宜。通半茯苓赤芍桂，羌桑蘇梗青陳皮。術香甘腹引薑棗，香附谷檳胸滿施，脅痛芎柴為要藥，痛居少腹吳萸移。氣滯氣虛合補劑，六君兼用功誠異。性急加柴熱加芩，女人烏藥香附利。氣滯腰痛枳殼瓜（木瓜），翻胃沉香磨順氣。</p>

<h3>痰病章</h3>
<p>張仲景五飲互異，其要言不煩，當以溫藥和之。仲景云：脈沉而弦屬飲，面色鮮明屬飲，飲家咳甚當治其飲，不當治咳。仲景外飲治脾，內飲治腎。《內經》云：不得臥，臥則喘甚痹塞，乃肺氣之逆亂也。著枕咳嗆，如上氣不下，下必衝上逆，其痰飲伏於至陰之界。腎臟絡病無疑。昔肥今瘦為飲</p>
<p>人身怪病皆痰甚，脾胃虛弱濕不滲。濕熱相蒸逆生痰，遊行到處皆成病。脾氣散精津液生，為氣為血體豐盛。或感氣鬱濕熱風，津液皆化為痰飲。痰隨氣升先治氣，氣升屬火降火勝。實脾燥濕是良方（實脾飲用蒼朮、木瓜、香附、甘草、川樸、木香、腹皮、白蔻、大棗、生薑，因痰生於脾胃也），降火順氣能接命。古人總用二陳湯，隨病加減如神應。有火益以梔芩連，降氣蘇殼蓯蓉順。頭疼鼻塞是挾風，紫蘇羌活防風進。面紅咳喘咯不出，卒倒痰涎為癇痙。熱痰青黛芩連蔞，花粉知母桔梗入。身重疲倦名挾濕，面目浮腫氣喘急。脈形濡滑為濕痰，燥濕健脾蒼白朮。吐咯不出痰硬極，動則氣喘名夾郁。右脈沉滑左手平，星蔞附（香附）貝兼海石。嘔吐噁心胸痞塞，遇寒則甚滑遲脈。寒痰治用肉桂姜，益智款冬細辛吃（細辛不可輕用）。猝倒仆地不知人，角弓反張風痰立。黑卜白附半天麻，殭蠶牙皂兼竹瀝。噁心嘔吐口咽酸，胸膈飽悶為夾食。右關緊滑名食痰，平胃面芽楂枳實。氣虛須用六君湯，貝母花粉二冬（天冬麥冬）合。血虛須用四物湯，地芍芎歸薑汁益。脅痰白芥子青皮，經絡滯痰須竹瀝（加薑汁）。</p>
<p><u>感寒引動宿飲上逆</u></p>
<p>乾薑　桂枝　杏仁　茯苓　苡仁　五味　白芍　半夏　蛤粉　甘草</p>
<p><u>痰熱內閉神昏</u></p>
<p>半夏　桔梗　鬱金　橘紅　菖蒲　枳實　薑汁　竹瀝</p>
<p><u>木火犯中胃火</u></p>
<p>二陳湯去甘草，加丹皮、川斛、桑葉、羚角片、連翹、川樸、降香汁、白蒺藜、半夏、橘紅。</p>
<p><u>濕熱蒸疾</u></p>
<p>茅朮　黃柏　栝蔞　枳實　山梔　白蒺藜　黃連　半夏　川樸　橘紅　萊菔　降香汁</p>
<p><u>腎虛多痰</u>（治痰之本）</p>
<p>熟地　茯苓　補骨脂　車前　五味子　淮膝　遠志　胡桃肉　枸杞</p>
<p>宜蜜丸。</p>
<p><u>脾胃陽虛</u></p>
<p>六君子湯加木香、益智。《外臺》茯苓飲、茯苓、人參、白朮、枳實、橘皮、生薑、茯苓、桂枝湯。</p>
<p><u>寒飲濁邪上衝膻中，不臥迷呆</u></p>
<p>南星　薑汁製茯苓　菖蒲　白附　薑汁　炒桂枝　炙草</p>
<p><u>中虛濕熱</u></p>
<p>中焦陽氣健運不息，陰濁痰涎焉有竊踞之理。二陳加人參、石斛、苡仁、枳實、茯苓。如目黃齦血，不作實熱治。</p>
<p><u>喉癢痰飲挾燥</u></p>
<p>杏仁　橘紅　天花粉　象貝　茯苓　半夏曲</p>
<p><u>哮喘伏飲</u></p>
<p>小青龍湯去細辛。</p>
<p><u>氣火不降</u></p>
<p>二陳湯去甘草，加栝蔞、山梔、鬱金、左金丸、枳實、竹瀝、薑汁。</p>
<p><u>胸次清陽少旋，支脈結飲</u></p>
<p>頭中冷痛，筋脈掣痛，四末時冷。末即支也，《外臺》茯苓飲、栝蔞、半夏、桂枝、參、朮、枳橘飲、薤白、茯苓、薑汁。</p>
<p><u>肝絡久病，懸飲流入胃絡，致痛不已，宜太陽陽明開闔方法</u></p>
<p>人參　甘草　煨姜　茯苓　桂枝　南棗</p>
<p><u>腑中之氣開闔失司，最慮中滿。夫太陽司開，陽明司闔，濁陰瀰漫，通腑即是通陽。仿仲景開太陽法。</u></p>
<p>牡蠣　澤瀉　乾薑　防己　五味</p>
<p>陳曰：喻嘉言謂濁陰上加於天，非離照當空，氣露焉得退避。反以地黃五味陰藥附和其陰，陰霾沖逆肆空，飲邪滔天莫測，當用仲景熟地附配生薑法，掃群陰以驅飲邪，維陽氣以立基本。</p>

<h3>咳嗽章</h3>
<p>（乾咳附）</p>
<p>咳嗽當分二病為，有聲無痰咳症知。有痰無聲名曰嗽，嗽屬脾家濕痰欺。咳為肺經痰氣盛，均為肺病總無疑。新者痰食風寒屬，或瀉或散易治之。久者勞火陰虛症，雖可攻補卻難醫。治用貝母杏紫蘇，花粉桔梗及前胡。梔芩清火寬中殼（枳殼），半夏消痰甘橘荷（薄荷）。引用生薑與燈草，飲時食後起沉疴。風痰添以星（南星）瀝汁，肺實桑葶不可無（脈右浮洪有力，或氣喘甚）。若還風嗽聲難轉，麻黃羌活防風蘇。清早嗽多肺火動，天麥二冬在所用。上午嗽者胃火伏，知母石膏病自中。下午嗽多屬血虛，四物補陰二冬共。阿膠五味款冬花，元參北沙皆可奉。春嗽柴芎芍加入，夏宜清火麥冬得。秋用桑防冬解表，麻防桂半乾姜吃。嘔吐痰涎無聲者，二陳平胃治之適。再增術枳亦多功，薑汁加引不可忽。</p>
<p><u>寒</u></p>
<p>桂枝　杏仁　蘇梗　桑葉　桑皮　甘草　苡仁　生薑　象貝</p>
<p><u>寒包熱</u></p>
<p>麻杏石甘湯</p>
<p><u>風</u></p>
<p>杏仁　薄荷　橘紅　蘇梗　前胡　桑皮　桔梗　象貝</p>
<p><u>風溫化燥</u></p>
<p>玉竹　沙參　桑葉　花粉　山梔　橘紅　貝母　杏仁　甘草　蘆根　梨肉</p>
<p><u>暑不宜重發散</u></p>
<p>香薷　花粉　杏仁　貝母　麥冬　鮮竹葉　沙參　滑石　橘紅　甘草　山梔　六一散</p>
<p><u>溫化燥傷胃陰</u></p>
<p>玉竹　沙參　甘草　梨汁　桑葉　扁豆　蔗漿　麥門冬湯　麥冬　半夏　人參　甘草　大棗　粳米</p>
<p><u>膽火犯肺</u>（解木鬱之火）</p>
<p>羚羊片　連翹　薄荷　栝蔞　苦丁茶　山梔　杏仁　菊葉</p>
<p><u>鬱火傷胃</u>（益土泄木）</p>
<p>玉竹　桑葉　茯苓　白芍　棗子　甘草　沙參　丹皮　扁豆</p>
<p><u>腎胃陰兼虛</u>（攝納下焦純甘清燥）</p>
<p>熟地　五味　淮膝　茯苓　山藥　車前　胡桃　蓮子　黃耆　沙參　麥冬　扁豆　甘草　柿霜　棗子</p>
<p><u>營熱</u></p>
<p>生地　元參　竹葉　麥冬　百合　甘草</p>
<p><u>中氣虛</u></p>
<p>歸耆建中湯、異功散</p>
<p><u>勞嗽</u>（金木同治）</p>
<p>熟地　扁豆　麥冬　六味丸　沙參　川斛　茯神　異功散加燕窩　都氣丸加青鉛</p>
<p><u>勞倦陽虛</u>（左咳甚木乘金也）</p>
<p>乾薑　桂枝　棗子　五味　茯苓　甘草</p>
<p><u>胃嗽嘔痰</u>（當用甘藥）</p>
<p>沙參　麥冬　南棗子　扁豆　茯神　糯稻根　有伏邪：麻黃　石膏　杏仁　甘草　半夏　小半夏湯　半夏　生薑　加薑汁</p>
<p><u>肝犯肺胃氣</u>（左升吞酸）</p>
<p>丹皮　鉤藤　半夏　桑葉　茯苓　陳皮</p>
<p>小青龍湯去麻黃　細辛　甘草　加石膏　安胃丸</p>
<p><u>肝風巔脹</u>（宜和陽熄風）</p>
<p>牡蠣　阿膠　淡菜　青黛　左升太過：阿膠　女貞子　雞子黃　木反刑金　生地　天門冬　糯稻根</p>
<p><u>脅痛</u></p>
<p>旋覆花湯加桃仁、柏仁</p>
<p><u>寒熱右脅痛</u></p>
<p>蘆根　苡仁　白蔻仁　杏仁　棗子　枇杷葉</p>
<p><u>大腸嗽</u>（必便溏畏風）</p>
<p>白朮　木瓜　赤石脂　炙草　棗子　茯苓　白芍　禹餘糧　薑汁</p>
<p>陳曰：木扣金鳴，清金制木，暑與風寒熱兼症，理肺治胃為主。風用辛平，寒用辛溫，土虛不生金，用甘涼、甘溫二物，合乎陽土陰上。</p>

<h3>乾咳</h3>
<p>（治法與前咳嗽門可參看）</p>
<p>乾咳日久用滋陰，內熱無痰最害人。四物湯堪為主劑，再加知柏及元參。燈心甘草和諸藥，桔梗天花火用芩。茯苓貝母消痰用，天麥款桑潤燥增。血見丹皮北沙苑，肺傷白芨參耆吞。酸收訶味瀉桑殼，辛散姜防用有靈。面紅吐血火炎上，童便藕汁效如神。</p>

<h3>喘病章</h3>
<p>喘病之因，在肺為實，在腎為虛</p>
<p>肺最清高無窒塞，一有邪干便喘急。內因痰火外風寒，六脈浮洪更有力。是為實症五虎湯，半辛甘石及麻黃。桑皮杏殼薑蔥益，隨症加減無成方。若有痰升痰喘症，茯苓香附南星石。乍進乍退名火喘，麥冬蘇味梔芩益。食因作喘食積因，曲芽腹實查同進。大便燥結不能通，蘇子元明大黃勝。何者乃為正氣虛，過勞則發似邪欺。吸入氣知脈無力，補中益氣湯堪施。黃芩山梔兼火用，茯苓半夏挾痰宜。</p>
<p><u>肺郁水氣不降</u></p>
<p>麻黃　苡仁　杏仁　甘草　乾薑　茯苓　人參　半夏　五味　葶藶　桑皮　川樸　豬苓　澤瀉　木通　腹皮　小青龍湯去桂芍，加人參、杏仁，此徹飲以就太陽也。</p>
<p><u>乙肝升飲邪上逆</u></p>
<p>越婢湯　麻黃　石羔　甘草　生薑　大棗　旋覆花湯</p>
<p><u>腎氣不納</u></p>
<p>熟地　阿膠　萸肉　茯苓　龜版　附子　懷膝　遠志　五味　慈石　秋石　山藥　黃耆　淡菜　胡桃　杞子　青鹽　人參　白朮　海參　芡實　蓮子　青鉛　蛤蚧　補骨脂　八味丸　生薑汁　車前　炙草</p>
<p><u>精傷者填以濃厚之劑兼鎮攝</u></p>
<p>腎氣丸加沉香，都氣丸入青鉛。</p>
<p><u>中氣虛</u>（此中虛氣餒，土不生金也）</p>
<p>人參建中湯去姜</p>
<p><u>胃虛</u></p>
<p>黃精　茯苓　胡麻　甘草</p>
<p><u>腎陽虛濁陰上逆</u></p>
<p>人參　乾薑　澤瀉　附子　茯苓　豬苓</p>
<p>陳曰：丹溪有外感之喘治肺，內傷之喘治腎。以肺主出氣，腎主納氣耳。先喘而後脹治肺，先脹而後喘治脾。肺宜辛則通，微苦則降，直入中下，非治肺之方法。</p>

<h3>哮病章</h3>
<p>此症初感外邪，失於表散，邪伏於裡，留於肺，時發時止，淹纏歲月。更有痰哮、咸哮、醋哮，過食生冷及幼稚之童天哮諸症</p>
<p>喉中為甚水雞聲，哮症原來痰病侵。若得吐痰併發散，遠離厚味藥方靈。定喘之湯可參用，化痰為主治須明。</p>
<p>定喘湯　白果　黃芩　蘇子　半夏　款冬花　麻黃　杏仁　甘草　桑皮</p>
<p><u>寒</u></p>
<p>桂枝　制麻黃　茯苓　五味　橘紅　川樸　乾薑　白芥子　杏仁　甘草　半夏</p>
<p>小青龍湯亦可參用</p>
<p><u>病舉發</u></p>
<p>葶藶大棗湯</p>
<p><u>養正</u></p>
<p>腎氣丸去肉桂、牛膝</p>
<p><u>哮兼痰飲</u></p>
<p>真武丸、小青龍湯去麻黃、細辛，加赤砂糖、炒石膏。</p>
<p><u>氣虛</u></p>
<p>四君子湯增減</p>
<p>陳曰：治以溫通肺臟，下攝腎真為主。又必補益中氣。其辛散苦寒、豁痰破氣之藥俱非所宜，忌用金石藥，記之。</p>

<h3>瘧病章</h3>
<p>古人論瘧不離乎肝膽，亦猶咳不離乎肺也</p>
<p>寒熱往來名曰瘧，正氣與邪相擊搏。風寒暑濕食與痰，亦有陰虛兼氣弱。陽分日發邪氣輕，陰分深兮間日作。在氣早臨（氣分）血晏臨（血分），於陽為熱寒為陰。並則寒熱離則止（暑氣邪氣與營衛並行則瘧作，離則瘧止），營衛邪氣交相爭。邪不勝正到時早（邪達於陽病退），正不勝邪移晚行（邪陷於陰，病進）。總因感邪汗不泄，汗閉不泄痰鬱成。痰鬱不散發寒熱，要看受病久與新。新瘧宜泄宜發散，久瘧補氣和滋陰。無痰無食不成瘧，初起飲服清脾靈。自汗去半加知料，無汗加蒼乾葛吞。多熱黃芩知母進，多寒薄桂胥堪增。頭痛川芎羌芷要，煩渴不眠粉葛憑。夏月香薷白扁豆，冬天無汗麻黃應。若既日久精神倦，六脈細微出盜汗。滋陰鱉甲歸芍佳，補氣參耆洵稱善。清脾飲除果厚朴，薑棗加之病漸痊。又生瘧母左脅間，令人多汗脅痛連。治宜消導用何藥，鱉甲稜蓬附四般。醋煎停勻加海粉，桃青芽曲紅花兼。為末和丸日三服，塊當化散不為艱。</p>
<p><u>暑熱宜專理上焦肺臟清氣</u></p>
<p>桂枝白虎湯　天水散</p>
<p><u>濕邪宜治脾胃中焦陽氣</u></p>
<p>藿香正氣散　二陳湯去甘草　加杏仁、白蔻、生薑。</p>
<p><u>足太陽脾虛，面浮脹滿</u></p>
<p>通補用理中湯　人參　白朮　甘草　乾薑　開腑用五苓散　術　桂　茯　豬　澤</p>
<p><u>足少陰腎痿弱成勞，宜滋陰溫養</u></p>
<p>復脈湯　人參　炙草　桂枝　麻仁　生地　阿膠　麥冬　生薑　大棗</p>
<p><u>足厥陰肝厥逆吐蛔及邪結瘧母</u></p>
<p>烏梅丸　鱉甲煎丸　鱉甲　黃芩　鼠婦　大黃　桂枝　石葦　烏扇　柴胡　乾薑　芍藥　葶藶　川樸　丹皮　瞿麥　紫葳　半夏　人參　阿膠　䗪蟲　蜂窠　赤硝　羌琅　桃仁　清酒煅灶下灰</p>
<p><u>又癉瘧，但熱不寒</u>（宜甘寒生津，重後天胃氣，治在肺經）</p>
<p>生地　元參　花粉　薄荷　蔗汁　西瓜翠　麥冬　知母　杏仁　貝母　梨汁　鮮竹葉</p>
<p><u>脾胃陽虛，腹脹，舌白不喜飲</u></p>
<p>於朮　人參　半夏　茯苓　生薑　厚朴　知母　杏仁　草果</p>
<p><u>陰虛熱伏血分</u></p>
<p>熟地　白芍　五味　山藥　茯苓　芡實　蓮子　鱉甲　知母　草果　生地　桃仁　花粉　青蒿　首烏　丹皮　龜板　澤瀉　炙草　桑葉　天冬　六味丸　清骨散　銀柴胡　胡黃連　秦艽　地骨皮　鱉甲蘇　青蒿　知母　粉甘草</p>
<p><u>暑熱拒格三焦，嘔逆不納</u></p>
<p>宗半夏瀉心法　半夏　黃芩　炙草　大棗　川連　人參　乾薑</p>
<p><u>胃虛嘔逆</u></p>
<p>旋覆代赭湯</p>
<p><u>熱結痞結</u></p>
<p>半夏　人參　茯苓　川連　枳實　薑汁</p>
<p><u>瘧兼熱痢</u></p>
<p>人參　乾薑　廣皮　歸身　枳實　川連　銀花　黃芩　白芍　山楂</p>
<p><u>心經瘧熱，多神昏譫語，舌邊赤，心黃，防痙厥</u></p>
<p>犀角　元參　竹葉　連翹　麥冬　銀花</p>
<p>救逆湯　桂枝　炙草　乾薑　棗子　蜀膝　龍骨　牡蠣　此方去乾薑加白芍可參用</p>
<p>心經瘧久動及其營，必煩渴見紅，宜滋陰法。</p>
<p>肺經瘧久傷及其津，必胃閉肺痹，宜清降法。</p>
<p>陳曰：瘧發久邪必入絡，絡屬血分，汗下兩者未能逐邪。仲景制鱉甲煎丸治絡聚血邪，久則血下，溫瘧例忌足六經藥，如柴葛之類，用桂枝白虎湯主之。古稱三陰大瘧，以肝脾腎三臟之見證為要領。陽瘧之後養胃陰，陰瘧之後理脾陽主之。太陽經行身之背，瘧發背冷不由四肢，是少陰之陽不營太陽。</p>

<h3>霍亂章</h3>
<p>霍亂之症起倉猝，外因所感內因積。胃中停蓄難運消，吐瀉交作腹痛極。上焦但吐而不瀉，下焦但瀉無此逆。中焦吐瀉兩兼之，偏陰多寒偏陽熱。因風怕風有汗沾，因寒怕寒無汗焉。因暑煩熱並躁悶，因溫倦怠身不便。因食胸肺自飽脹，治用藿香正氣堪。紅花木瓜轉筋用，食傷曲麥（芽）山楂添。腹痛須加炒白芍，寒宜肉桂炮姜權。枳實青皮心下痞，柴胡乾葛寒熱纏。小便不利豬苓澤（瀉），中暑發熱連薷傳。手足厥冷脈將絕，鹽納臍中燒艾煙。火灸人醒後施藥，細將寒熱陰陽參。又有一種乾霍亂，腹痛欲死病勢悍。不吐不瀉絞腸痧，鹽水吐之神妙案。但得吐瀉病無妨，米飲熱湯切莫勸。</p>
<p><u>藿香正氣散</u></p>
<p>廣藿　白芷　茯苓　陳皮　夏曲　紫蘇　腹皮　白朮　川樸　桔梗　甘草　生薑　棗子</p>
<p><u>清脾飲</u></p>
<p>白朮　青皮　甘草　草果　茯苓　黃芩　川樸　柴胡　半夏　生薑</p>

<h3>泄瀉章</h3>
<p>（古稱注下症）</p>
<p>泄瀉之原分六說，虛濕寒痰食與熱。五泄之名（濕多成五泄）《內經》傳（溏泄痢洞滑也），三虛之旨先賢訣。飲食傷脾虛不化，色欲傷腎腎虛極。腎虛自不能容藏，忿怒傷肝木土克（肝虛則木來剋土）。健脾利水是主方，燥濕升提不可缺。芍陳曲樸木香車，二苓木通瀉二術（蒼白二術）。腸鳴腹痛屬火明，方中益以梔連芩。腹不痛者是屬濕，蒼白朮半加茵陳。完穀不化屬虛意，術扁山藥砂仁參。或瀉不瀉或多少，屬痰半夏天南星。痛甚而瀉瀉痛止，屬食枳實山楂增。瀉不甚而腹微痛，是為寒瀉香砂仁。新瀉宜瀉宜消食，久瀉升提溫補益。泄久下陷亦用升，升麻柴胡更有力。腎虛送下四神丸，防風羌活兼風入。虛泄久泄古有方，黃土一匙沖服食。</p>
<p><u>暑濕熱</u></p>
<p>胃苓湯　即平胃散合五苓湯益氣湯　白蔻　桔梗　鬱金　橘皮　藿香　杏仁　川樸　降香　茯苓　豬苓　廣皮　寒水石　澤瀉　滑石　木瓜　檀香汁</p>
<p>香砂異功散即六君子去半夏加木香　砂仁</p>
<p>四苓散即五苓去桂　可加椒目　益智　川樸　橘白　黃連　石羔　扁豆　甘草　神麯　吳萸　砂仁　山楂　麥芽　絲瓜葉　資生丸</p>
<p><u>濕熱</u></p>
<p>人參　柴胡　羌活　山楂　防風　川樸　茯苓　茵陳　苡仁　麥芽　川連　白芍　益智　茅朮　黃芩　廣皮　川柏　升麻　甘草　澤瀉　半夏　豬苓　六曲　藿香　白蒺藜　五苓散　四苓散　小溫中丸去川芎</p>
<p>中暑必頭脹喜冷飲，咳嘔，心中脹，舌白兼瀉</p>
<p>柴樸　半夏　石羔　黃芩　杏仁　橘皮</p>
<p><u>中傷濕滯</u></p>
<p>胃苓湯加桂木　生薑　四君子加炮姜肉桂</p>
<p><u>寒濕中宜運通，下直分利</u></p>
<p>柴樸　藿梗　益智　木香　木瓜　廣皮　扁豆　炮姜　砂仁　茅朮　吳萸　肉果　白朮　腹皮　四苓散　真武湯　術　苓　芍　附　姜</p>
<p><u>肝犯胃，消渴吐清涎，腹痛</u></p>
<p>川連　黃芩　烏梅　白芍　乾薑　荷葉　厚朴　豬苓　椒目　澤瀉　木瓜　桑葉　延胡　桂木　甘草　半夏　廣皮　米仁　石脂　棗仁　人參　川楝　異功散加木瓜亦可參用</p>
<p><u>膽郁傷脾</u></p>
<p>柴胡　白芍　青皮　黃芩　桑葉　丹皮　</p>
<p><u>脾胃陽虛</u></p>
<p>乾薑　白芍　煨升麻　益智仁　廣皮　當歸　澤瀉　葫蘆巴　煨葛根　木瓜　炮姜　川樸　穀芽　半夏　香附四君子湯</p>
<p><u>晨泄用治中湯</u></p>
<p>人參　甘草　青皮　白朮　乾薑　陳皮</p>
<p><u>夕泄用四神丸</u></p>
<p>吳萸　肉豆蔻　五味　補骨脂</p>
<p>四神丸加法青皮　沙苑子　杜仲　當歸　木瓜　小茴香　理中湯加法五味　赤石脂　枸杞　葫蘆巴　胃苓湯　茅朮　陳皮　白朮　茯苓　澤瀉　川樸　甘草　肉桂　豬苓　桂苓朮甘湯加法鹿角　煨姜　南棗　禹量石脂丸加法枸杞</p>
<p><u>中虛腹痛</u></p>
<p>炙草　白芍　煉飴糖　南棗　茯苓</p>
<p><u>食傷</u></p>
<p>人參　炙草　穀芽　葛根　廣皮　荷蒂</p>
<p>陳曰：脾陽微，中焦聚濕則少運，腎陰衰，回攝失司為瘕泄。是中宜旋則運，下宜封乃藏，腎陽自下炎蒸，脾陽始得變運。王氏以食下不化為無陽，陳參曰：熱勝濕蒸，氣傷人倦，陰莖囊腫，是濕熱甚而下墜入府，與方書莖竅症有間。足腫是陽微濕聚，治胃必佐泄肝，制其勝也。仲景云：脈弦為胃，減大則病進。脾臟宜補則健，胃腑宜疏乃清。脾宜升，胃宜降，苦寒必佐風藥，是李東垣之旨。久泄必傷腎，八味承氣乃從陰引陽。水瀉少腹脹滿，少腹為厥陰肝經，肝失疏泄，當以五苓利水導濕，仿古人急開支河之喻。</p>
<p>何書田曰：少陽為三陽之樞，相火寄焉。風火煽胃而腐熟五穀，少陰為三陰之樞，龍火寓焉。熏蒸臟腑而轉輸糟粕，胃之納，脾之輸，皆火之運也。然非雷藏龍馴，何能無燥無濕無冒？明燎上之患，必土奠水安，斯不泛不濫，無清氣在下之患。故曰：五泄之治平，水火者，清其源崇，堤土者，塞其流耳。</p>

<h3>痢疾章</h3>
<p>古稱滯下，乃濕熱氣薄腸胃。河間、丹溪僉用清熱導法。六臟屬陽，以通為用，五臟皆陰，藏蓄為本。先瀉後痢，脾傳腎則逆，即土剋水意。由伏邪垢滯從中不清，因而下注矣</p>
<p>痢疾原來下血膿，裡急後重腹痛攻。總因食積兼氣滯，青黃赤白黑不同。白自大腸來氣傷，赤是血傷小腸中。氣血俱傷兼赤白，食積為黃是真的。白膿結膩是屬痰，黑者須知死血色。諸痢下迫皆屬火，勿妄以白為寒則。後重滯應調氣舒，清血便膿應日除。通滯之湯條芩利，木通蘇梗（炮）姜檳俱。熱用黃連痛煨木，胸中不寬砂殼須。小便短則車前滑，後重將軍不可無。頭疼身熱風邪痢，葛羌蒼朮防風驅。噁心作酸食積痢，麥芽曲實山楂配。內傷痢疾小腹疼，桃紅紫黑血能治。身不熱而腹不疼，大孔迫甚黃水利。此為氣鬱用升麻，更有柴防不可棄。噤口煩熱腹痛加，水穀入胃即吐地。胃熱石蓮參（陳倉）米宜，酒積葛梅白蔻濟。天行疫疾老幼傳，合用散毒無他劑。夏月香薷扁豆增，銀花腸澼血能清。諸痢日久須豆芍，補脾山藥術雲苓。下陷升柴亦必用，白久氣虛黃耆參。紅久血虛歸芍進，血痢不止阿膠應。荊芥蒲黃同炒黑，薑炭加之少許吞。若還不停血餘益，痢久之人虛極明。四君四物可兼用，脈遲肉蔻炮姜靈。</p>
<p><u>暑濕熱成痢用藥方</u>（法與泄瀉依稀）</p>
<p>厥陰伏熱，先厥防痙</p>
<p>川連　黃芩　丹皮　白芍　陳皮　女貞子　川柏　銀花　炮姜　阿膠　茯苓　炒生地　滑石　甘草　北秦皮　枳實　穀芽　白頭翁</p>
<p><u>協熱痢</u></p>
<p>白頭翁湯　白頭翁　黃連　加黃芩　北秦皮　黃柏　白芍　茯苓　川樸　陳皮　山楂　益元散　木香　銀花　扁豆　澤瀉</p>
<p><u>脾營虛寒，脈沉微，不渴，舌白</u></p>
<p>歸身　白芍　肉桂　炮姜　益智仁　青皮　炙草　楂肉　茯苓</p>
<p><u>血痢</u>　血水有紅有紫，純血難治</p>
<p>茅朮　川樸　炒樗皮　肉果　槐米　歸身　銀花　山楂　炒地榆　廣皮　炙草　白芍　人參　肉桂　羌活　白朮　煨姜　南棗　六味丸　山楂　豬苓　黃芩　制軍　加法　延胡　川連　黃柏</p>
<p><u>陽虛下痢</u>　治以溫藥通之</p>
<p>胃苓湯加炮姜　益智　青皮　赤石脂　粳米　公丁香　六君子湯加肉桂</p>
<p><u>陽明不闔</u>（堵截陽明法，變脹主為未傳，脈見絃動，是無胃也）</p>
<p>人參　赤石脂　粳米　炮姜</p>
<p><u>脾腎兼虛</u></p>
<p>人參　覆盆子　補骨脂　巴戟天　熟地　茯苓　菟絲子　禹餘糧　赤石脂　蓮肉　萸肉　山藥　淡蓯蓉　芡實　炮姜　木瓜　五味</p>
<p><u>痢傷陰液</u></p>
<p>復脈湯去桂枝　麻仁　熟地　歸身　麥芽　茯苓　炙草　炙升麻　山藥　烏梅　白芍　生地　阿膠　防風根　木瓜　丹皮　查肉　山梔　澤瀉　粉豬苓</p>
<p><u>虛氣下陷</u>　陷者舉之</p>
<p>人參　炙草　歸身　防風　荷葉　西耆　廣皮　白芍　升麻</p>
<p><u>久痢傷腎，下焦不攝</u></p>
<p>人參　菟絲　補骨脂　熟地炭　五味鹿茸　茯苓　赤石脂　春砂仁　山楂　當歸　白朮　沙苑子　杜仲　附子　淡蓯蓉　苓姜　術桂湯　濟生腎氣湯　黑地黃丸　蒼朮　熟地　五味　乾薑</p>
<p><u>噤口痢</u></p>
<p>川連　人參　草決明　山楂　熟地　黃芩　白芍　木香汁　銀花　乾薑　阿膠　白頭翁　湯亦用</p>
<p><u>瘧變痢</u></p>
<p>柴胡　人參　白芍　焦查　甘草　吳萸　黃芩　當歸　丹皮　茯苓　烏梅　香附　附子　肉桂　秦皮　牡蠣　復脈湯　瀉心湯</p>
<p>救逆湯去乾薑</p>
<p><u>腸風</u>　兼血痢無積淚之聲</p>
<p>赤石脂丸　四苓湯　加滑石　桂心　此分消其濕　生地炭　炒萸肉　炒歸身　炒枸杞　川斷肉　五味子</p>
<p><u>噤口日久，圊次多</u></p>
<p>四君子湯加扁豆　苡仁　桔梗　砂仁　炮薑炭　肉果　為散，香粳米飲調服之。石蓮　葛根　青皮　烏梅</p>
<p><u>早晨痢重</u></p>
<p>腎氣丸　炒焦菔　乾地黃　山萸肉　山藥　丹皮　茯苓　福澤瀉　附子　桂枝</p>
<p><u>午時痢重</u></p>
<p>參苓白朮散　人參　茯苓　白朮　甘草　山藥　扁豆　苡仁　建蓮　砂仁　桔梗　陳皮</p>
<p>陳曰：酒客濕滯，腸中久痢，非風藥之辛佐苦味入腸，何能勝濕逐熱？久病飲食不減，是腸中病也。參曰：痢久陰液消亡，無以上承，必唇燥舌乾，肛墜脹，陰液涸則小便不通，胃氣逆則厭食欲嘔。此皆痢之疑症也。久痢久瀉為腎病。</p>
<p>熱病陰涸，急救其陰，胃關得蘇方妙，否則犯喻嘉言所指客邪內陷，液枯致危之戒。宜用甘酸化陰法。脈右搏大，乃痢疾所大忌，脾陽動則冀運行，健痢自瘳。</p>
<p>痢日久則望臟腑自復，非助以提補不可。</p>
<p>痢而口渴者屬太陰，呃忒之來由乎胃少納穀，致逆則土敗之勢也。</p>

<h3>呃逆章</h3>
<p>俗稱打呃名呃逆，胃火上衝肝火翼。肺金之氣下降難，和胃清金肝自抑。橘皮竹茹丁蒂湯，丁柿橘皮竹茹吃（丁陳辛溫，運中氣之痞塞，茹蒂苦寒，治下焦之逆氣）。飲食太過儲胸膛，曲芽枳實和檳榔。痰涎塞壅脈來滑，木香苓夏應同嘗。水停心下汩汩聲，白朮澤瀉豬雲苓。發熱煩渴脈來數，石羔知母柴胡芩。滯氣盈兮胸腹滿，砂夏木香此其選。胃中虛冷脈來遲，附術乾薑官桂暖。脈形無力氣甚虛。六君子湯妙自如。沉香磨用治諸呃，薑汁和蜜全消除。</p>
<p><u>胃虛，虛陽上逆</u></p>
<p>仲景橘皮竹茹湯　橘皮　竹茹　人參　甘草　南棗　生薑</p>
<p><u>肺氣鬱痹</u></p>
<p>鬱金　枇杷葉　豆豉　射干　川貝母　通草</p>
<p>此開上焦之痹，理陽驅陰，從中治法，與下陽虛、濁陰上逆一門同參看。</p>
<p><u>陽虛濁陰上逆</u></p>
<p>人參　附子　丁香皮　柿蒂　茯苓　乾薑　川椒　代赭石　烏梅　半夏　粳米</p>
<p><u>脾腎兩寒陽氣竭</u></p>
<p>木香流氣飲煎　當歸　炙草　乾薑　或加肉桂　虛寒加丁香　理中湯加丁香　肉桂　附子　肉果霜　炙草　枳實　大黃</p>
<p><u>食滯呃</u></p>
<p>六和中飲加木香、乾薑。</p>
<p>陳參曰：肝腎陰虛，氣從臍下衝起，此相火上炎，挾其沖氣，用大補陰丸峻補真陰，承製相火。此丹溪法（黃柏、熟地、豬脊髓、知母、龜板）。</p>
<p>陰火上衝而吸氣不能入胃，脈反逆，陰中伏陽，即為呃。用滋腎丸以瀉陰中伏熱，此東垣法（黃柏、知母、肉桂）。</p>
<p>又曰：凡人之心胸背部須藉在上清陽舒展，乃能曠達。</p>

<h1>卷中</h1>

<h2>雜症</h2>

<h3>痞塊積聚章</h3>
<p>滿而不痛謂之痞，滿而痛者即是結。結者積聚有餘因，痞者中氣不足致。一消一補誠分明，脾氣素虛者自異。補則積滯邪愈深，消則土傷虛愈至。消補相兼養正宜，枳實之丸為主治。不動為癥動為瘕，瘕假癥真有妙義。右脅食塊菔曲草（草果），左脅血塊芎桃桂。痰塊在中海石須，栝蔞白茯檳榔備，壯健亦用青稜蓬，瘦弱參耆少許配。香砂青陳可共加，蘇梗當歸薑棗類。婦人有塊俱死血，莫將痰食為疑似。</p>
<p><u>痰熱內閉</u></p>
<p>豆豉　山梔　枳殼　菖蒲　杏仁　半夏　鬱金　栝蔞　川連　白金丸　白礬</p>
<p><u>熱邪里結</u></p>
<p>枳實　白芍　橘皮　烏梅　杏仁　瀉心湯有三：生薑、乾薑、半夏、人參、甘草、黃芩、川連、大棗。人參、甘草、乾薑、半夏、大棗。黃連、黃芩、人參、半夏、黃芩、黃連。人參、甘草、乾薑、大棗</p>
<p><u>熱邪入厥陰</u>　吐蛔消溫</p>
<p>瀉心湯去人參　甘草　加枳實　白芍</p>
<p><u>氣閉化熱</u></p>
<p>栝蔞　鉤藤　白蔻　鬱金　橘皮　白蒺藜　山梔　蘇梗　桑葉　杏仁　麻仁　綠豆殼</p>
<p><u>暑邪阻氣</u></p>
<p>竹茹　黃芩　知母　桔梗　麻仁　鬱金　半夏　滑石　枳殼　保和丸　神麯　山楂　半夏　連翹　廣皮　卜子　茯苓</p>
<p><u>濕阻熱分</u></p>
<p>半夏　茯苓　杏仁　橘皮　烏藥　廣藿　良薑　鬱金　白蔻</p>
<p><u>中陽不運</u></p>
<p>桂枝　藿香　乾薑　半夏　厚朴　茯苓　草果　附子　廣皮</p>
<p><u>胃寒滯涎</u></p>
<p>吳萸　乾薑　川楝子　半夏　茯苓　廣陳皮</p>
<p><u>胸次清陽不運</u></p>
<p>宗仲景轉旋胸次之陽，苓桂朮甘湯。</p>
<p><u>寒熱客邪互結</u></p>
<p>姜炒　川連　半夏　黃芩　淡乾薑　枳實</p>
<p>陳曰：古人治痞不外以苦為泄，辛甘為散二法。外感如仲景瀉心湯，內傷如仲景苓桂甘姜法。上焦不舒，枳桔杏蔞開降，梔豉除熱化腐，疏暢清陽之氣法。古人有形至無形，妙論也。</p>
<p><u>木犯土虛中挾滯</u></p>
<p>川樸　茯苓　白芍　廣皮　益智　丁香　人參　半夏　川楝　吳萸　薑汁　牡蠣</p>
<p><u>濕熱食滯</u></p>
<p>茅朮　廣皮　白芍　萊菔子　白朮　黃芩　枳殼　雞內金</p>
<p><u>痰凝脈絡</u>　右脅有形高突，按之不痛。</p>
<p>白芥子　栝蔞　蛤粉　山梔　廣鬱金　橘紅　姜皮　半夏</p>
<p><u>血絡凝痹</u></p>
<p>歸鬚　木通　益母草　蜣螂　䗪蟲　香附　延胡　小青皮　韭白　鬱金　川樸　枳殼　茺蔚子　川芎　橘核　單桃仁</p>
<p>陳曰：積為血傷入絡，必仗蠕動之物以搜逐病根。初為氣結在經，久則血傷入絡。經絡繫於臟腑外廓，仲景於勞傷血痹通絡方法每取蟲蟻飛走諸靈，伏梁病亦在絡也。</p>
<p>積為陰邪聚絡，大旨當以辛溫入血絡治之。蓋所以容此陰邪者，必無陽動之氣以旋運之，而必有陰靜之血以倚仗之。故必仗體陰用陽之品，方能入陰出陽，以施其辛散溫通之妙。</p>
<p>張景岳云：心之積名伏梁，起臍上，大如臂，上至心下，令人煩悶。脾之積曰痞氣，在胃脘，覆大如盤，令人黃疸。肺之積曰息賁，在右脅下，覆大如杯，令人灑淅寒熱，喘咳肺壅。肝之積曰肥氣，在左脅下，如覆杯，有頭足，令人發咳。腎之積曰奔豚，發於少腹，上至心下，若豚，或攻上攻下無時，令人喘逆，骨蒸少氣。陰氣所積曰積，陽氣所聚曰聚。積者五臟所生，聚者是六腑所生也。</p>

<h3>嘔吐噁心章</h3>
<p>胃司納食，主乎通降。其何以不降而反上逆？嘔吐者多由肝氣衝逆，阻胃之降而然也。故《靈樞》經脈篇云：足厥陰所生病者，胸滿嘔逆。況五行生剋，木動必犯土，胃病治肝，隔一之治也。凡嘔吐青黑，必系胃底腸中逆瀉而出。</p>
<p>乾嘔（即噦）有聲吐有物，聲物兼有吐斯實。吐輕嘔重乾嘔凶，嘔乃漸出吐頻出。不嘔不吐為噁心，總是胃虛不能食。胃中有火膈有痰，降火調氣治痰適。平胃散可加減投，橘半竹茹湯亦得。煩渴脈若洪數來，黃芩竹茹山梔該。吐水冷涎沉遲脈，乾薑肉桂吳萸偕。嘔吐痰沫脈洪滑，南星苓朮門冬裁。水停心下聲汩汩，茯苓澤瀉豬苓入。飽悶作酸暖氣升，食傷麥曲檳榔及。及病不食脈細微，茯苓人參與白朮。酒傷白蔻瀉葛（花）添，傷風合用紫蘇葛（根）。</p>
<p>痰飲嘔吐都是濁陰所化，陽氣不振，勢必再熾。仲景以溫藥和之。</p>
<p><u>肝犯胃</u></p>
<p>溫膽湯　陳皮　半夏　茯苓　甘草　枳實　竹茹　合左金丸　川連　吳萸　安胃丸</p>
<p>旋覆代赭石湯　旋覆花　代赭石　人參　半夏　甘草　生薑　大棗</p>
<p><u>厥陰濁逆</u>　治法同上。</p>
<p><u>胃陽虛濁陰上逆</u></p>
<p>白朮　川樸　益智　半夏　茯苓　薑汁</p>
<p>苓薑朮桂湯　加川樸　川椒　黃連　附子　粳米</p>
<p><u>中陽虛</u></p>
<p>人參　附子　半夏　砂仁　乾薑　白朮　炙草　茯苓　川椒　大棗</p>
<p><u>陽虛吸受穢濁氣</u></p>
<p>人參　木香　廣藿　川樸　廣皮　丁香　茯苓　煨姜　砂仁　肉果　益智</p>
<p><u>肝腎虛，衝脈氣動</u></p>
<p>蓯蓉　上肉桂　沙蒺藜　茯苓　杞子　鹿角霜　當歸身</p>
<p><u>嘔傷胃中，邪熱劫津</u></p>
<p>溫膽湯去甘草加山梔、豆豉、薑汁。</p>
<p><u>邪熱內結</u></p>
<p>半夏瀉心湯去薑棗，加枳實、山梔、杏仁、薑汁。</p>
<p><u>暑減內結</u>　治法同上</p>
<p><u>肝火刑金</u></p>
<p>桑皮　丹皮　蘇子　山梔　枇杷葉　鬱金　栝蔞　橘紅　杏仁　竹瀝　沙參　麥冬　豆豉</p>
<p><u>溫熱結於厥陰</u>（身熱肢冷，神昏嘔吐，厥逆險症）</p>
<p>川連　半夏　乾薑　山楂　滑石　石菖蒲　黃芩　枳實　廣皮　竹心　連翹　綠豆皮</p>
<p><u>痰涎呃逆，續嘔黑汁傾囊</u>（危症，此由胃底腸中渾淆而出）</p>
<p>真西甘草四兩，熬濃服之，呃停嘔止可救。</p>
<p><u>吐蛔</u>（蛔與蛔通。古人以狐惑蟲厥都是胃虛少谷之故，仲景之蛔蟲厥都從驚恐得之）</p>
<p>延胡　蘆薈　吳萸　枳實　茯苓　人參　細辛　紅棗　安胃丸　半夏瀉心湯　理中湯　加栝蔞　香附　川椒　旋覆代赭湯加白芍　附子</p>

<h3>噎膈反胃章</h3>
<p>經云：三陽結謂之膈。一陽發病，其傳為膈。丹溪謂噎應反胃，多由氣血兩虛而成。噎膈多由喜、怒、悲、憂、恐五志過枉，或縱情嗜欲，恣意酒食，致傷氣內結，陰血內枯而成。治當調養心脾，以舒結氣，填精益血，以滋枯燥。</p>
<p>反胃乃胃中無陽，不能容受食物，命門火衰不能熏蒸脾土，以致朝食暮吐，暮食朝吐。治宜益火之源以消陰翳，補土通陽以溫脾胃。</p>
<p>噎膈之症多因火，熏蒸津液成痰阻。七情妄動五臟傷，陰血漸槁無生所。咽喉通塞不能食，病起賁門上焦膈。中膈飲食得水入，食下半日又吐出。下膈飲食如平人，朝食暮吐渾無力。治主加味二陳湯，韭汁牛乳服之適。血虛四物氣四君（子湯），痰飲瀝貝栝蔞應。瘀血歸尾桃韭汁，氣急檳術沉香吞。便結大黃合四物，桃仁蘇子蔞麻仁。反胃為輕噎膈重，三陽熱結精血空。薄味勤藥靜養之，香草之品切忌用。</p>
<p>陳曰：按經云味過辛熱，肝陽有餘，肺津胃液皆奪為上燥，陽氣結於上，陰氣衰於下，為關格。</p>
<p><u>附子瀉心湯</u></p>
<p>附子　黃芩　川連　大黃　大半夏湯　半夏　人參　白蜜　加黃連　薑汁　進退黃連湯　人參　川連　桂枝　枳實　竹瀝　枇杷葉　杏仁　乾薑　茯苓　半夏　薑汁</p>
<p><u>肝陰傷胃汁枯</u></p>
<p>陳參曰：酸甘濟陰，胃屬陽土，宜涼宜潤。肝為剛臟，用柔則和，酸甘兩濟其陰。</p>
<p>人參　烏梅　生地　阿膠　杏仁　玉竹　川貝　天冬　麥冬　白芍　胡麻　梨汁　柿霜</p>
<p><u>煩勞陽亢，肝胃津液枯</u></p>
<p>清燥救肺湯　生地　麥冬　黑芝麻　杏仁　柏仁　白蘇子　松子</p>
<p>為汁，熬膏，末，丹溪法。</p>
<p><u>胃陽虛</u></p>
<p>陳參曰：胃氣下行為順。積勞傷陽，治宜通補清利，苦降辛通，利痰清膈。</p>
<p>大半夏湯　半夏　人參　白蜜《外臺》　茯苓飲　貝前吳萸理中湯　即理中湯加吳萸　益智　新會　栝蔞　杏仁　竹茹　茯苓　附子　枳實　豆豉　粳米　竹瀝　薑汁　川連　鬱金　丁香皮</p>
<p><u>憂鬱痰阻</u></p>
<p>川連　茯苓　半夏　杏仁　橘皮　栝蔞　薑汁　竹瀝　桔梗　枳實</p>
<p><u>肝鬱氣逆</u>　並通厥陰陽明。</p>
<p>半夏　茯苓　薑汁　杏仁　橘皮　竹瀝</p>
<p><u>液虧氣滯</u></p>
<p>半夏　枳實　枇杷葉　茯苓　竹瀝</p>
<p><u>肺胃氣不降</u></p>
<p>陳曰：輕劑清降，苦辛寒開肺。</p>
<p>杏仁　鬱金　栝蔞　枇杷葉　山梔　豆豉</p>
<p><u>酒熱鬱傷肺胃</u></p>
<p>川連　枳實　豆豉　紫菀　桃仁　白蘇子　半夏　杏仁　鬱金　茯苓　薑汁　枇杷葉</p>
<p><u>陽衰脘痹血瘀</u></p>
<p>桃仁　紅花　延胡　半夏　鬱金　蔞仁　橘皮　人參　茯苓　益智　歸身　薑汁　制軍　枳實　川連　韭白汁</p>

<h3>吞酸吐酸章</h3>
<p>飲食入胃脾不逆，濕熱相蒸為酸病。吐出酸水名吐酸，吐不出口吞酸認。此而不藥漸噁心，反胃噎膈日漸進。吐因津液氣隨升，鬱積已久濕熱甚。乃從火化（木火也）遂作酸，病屬於熱分明應。吞應積熱在內藏，酸水釀成寒束定。外寒束之難外行，心胃之間作酸甚。二陳（湯）越鞠（丸）主治之，寒用吳萸熱連進。再戒忿怒以平肝，滋味薄時胃清淨。</p>

<h3>水腫章</h3>
<p>腫本乎水，脹由乎氣。水分陰陽，外來者為有餘，即為陽水，其或固大病後脾肺虛弱，不能通調水道。或因心火剋金，肺不能生腎水，致小便不利。或因腎經陰虧，虛火爍肺金而溺少，誤用行氣分利之劑，致喘急痰盛，小水短少，釀成腫症。此內發者為不足，即為陰水。</p>
<p>人之生兮資水穀，脾主谷兮腎水屬。水旺土虛不勝水，水氣泛溢浮腫肉。實脾飲於陰水宜（便利不渴而腫脹者為陰水也），陽水舟車丸可錄（舟車丸宜慎用）。口渴面赤氣阻便（秘而腫脹者為陽水也），上為風腫麻防要。下屬濕腫苡防（己）足。又有虛症氣血分，四物湯兮合四君。朝寬暮急血虛病，暮寬朝急氣虛成。先脹後喘用二術（蒼白朮），先喘後脹加麥（冬）苓。水脹總由濕熱積，滲道少通遂閉塞。邪水隨氣注絡中，甚至唇腫臍突出（唇腫臍突者死症）。雖云濕勝實脾虛，大法補中最有益。</p>
<p>舟車丸　甘遂　大戟　大黃　黑醜　芫花　輕粉　橘皮　青皮　木香　實脾飲見前</p>
<p><u>脾胃陽虛</u>（腑陽不行）</p>
<p>人參　茯苓　益智　白芍　白朮　歸身　廣皮　附子　砂仁　檳榔　炮姜　草果　肉果　川樸</p>
<p><u>腎胃陽虛</u></p>
<p>腎氣丸　五苓散　人參　乾薑　茯苓　附子　菟絲　葫蘆巴　剛人參　乾薑　製半夏　枳實</p>
<p><u>木火犯胃</u></p>
<p>川樸　山梔　楂肉　川楝子　白芍　川椒　枳實　鐵鏽水　逍遙散去白朮合左金丸。</p>
<p><u>濕壅三焦，肺氣不降</u>（宜清肅上焦治之）</p>
<p>蜜炙麻黃　杏仁　紫菀　苡仁　茯芩皮　枇杷葉　石膏　前胡　姜皮　川通草</p>
<p><u>木鬱氣滯，血滯，便澀，通幽法</u></p>
<p>川楝　橘核　桂枝　香附　桃仁　當歸　小荷柔葉　楂肉　鉤藤　延胡　神麯　丹皮　禹餘糧丸</p>
<p><u>濕滯凝滯</u>（小溲不行，當開太陽）</p>
<p>川樸　川椒　乾薑　牡蠣　漢防己　橘核　桂木　五味　通草　海金砂　寒水石　五苓散</p>
<p><u>濕鬱兼熱</u>（苦辛通腎）</p>
<p>半夏瀉心湯見前。</p>
<p><u>下焦寒熱流經</u>（辛香通經府之郁）</p>
<p>生於術　北細辛　川獨活　炮川烏　漢防己　白茯苓</p>
<p><u>氣血鬱積，兼挾濕熱</u></p>
<p>清理相火，健運中州，小溫中丸。</p>
<p><u>濕熱寒水之氣交橫，氣喘溺少</u></p>
<p>崇土製水，暖下泄濁，禹餘糧丸。</p>
<p><u>肝脾不和，兼挾暑邪</u></p>
<p>半夏　廣藿　川樸　甘草　茯苓　山楂　鬱金</p>
<p><u>脾胃不和</u>（清陽痹結以滑潤治之）</p>
<p>栝蔞　川楝　桂木　生薑　桃仁　薤白　延胡　歸鬚　半夏　茯苓</p>

<h3>膨脹章</h3>
<p>經云：濁氣在上則生䐜脹，太陰所至為臌脹。即腹脹。病能篇云：驟脹屬熱。膨脹水腫一原病，皆是脾虛不得運。氣入於臟膨脹成，腹大身瘦食不進。實土分消是妙方，二苓二術陳皮香（木香）。香附樸砂桑澤（澤瀉）腹（皮），沉香磨汁兼水姜。腹實痛塊紅筋系，血臌歸芍紅（花）丹（皮）嘗。水臌水腹若秘結，五苓散加腹皮入。食積臌脹大腹凝，檳牽（牛）菔子稜蓬朮。氣實臌脹或吐酸，脅肋痛脹並面黑。分心（氣飲）羌桂苓夏通，青皮桑腹甘蘇（梗）芍。氣虛脹滿勞役來，氣急溏泄元氣衰。補中益氣湯必用，分條而治休疑猜。地氣為雲天為雨，大地下變否為臌。脾土之陰既受傷，轉運之司亦失所。胃雖受谷不運行，清濁相淆隧道阻。鬱而為熱熱為濕，濕熱相生病即取。此病宜補不宜攻，燥濕補中是為主。</p>
<p>陳參曰：氣陷則跗腫，氣呆則脘悶。</p>
<p>又曰：木乘土位，清陽不得舒展，濁氣痞塞而攢踞也。</p>
<p>又曰：虛腫脹由足入腹，治在少陰腎、太陰脾。</p>
<p><u>脾陽單脹</u>（宜健陽運濕，溫通脾陽）</p>
<p>五苓散見前　紫樸　陳廣皮　木瓜　人參　炮姜　大腹皮　附子　煨草果　草蔻　益智　蓽茇　茅朮　乾薑　川桂木　川椒</p>
<p><u>腎氣</u></p>
<p>加減八味丸、《濟生》腎氣丸。</p>
<p><u>養陽明</u></p>
<p>大半夏湯　半夏　人參　白蜜</p>
<p>陳參曰：衝脈隸於陽明，胃陽傷極，中乏坐鎮之真氣。衝脈動則諸脈皆震動，濁陰散漫，由此臥著欲立矣。</p>
<p><u>疏厥陰</u></p>
<p>逍遙散　當歸　白芍　柴胡　茯苓　白朮　山梔　甘草　生薑　薄荷　加味丹皮</p>
<p>何書田曰：六腑為陽，以通為補。通陽則濁陰不聚，守補恐中焦易鈍。喻嘉言謂能變胃而不受胃變。臟寒生滿病，燥暖水臟之陽，是培火生土法。喘脹要旨，開鬼門以取汗，潔淨府以利水，無非宣通表裡。</p>
<p>經云：從上之下者治其上。又云：從上之下而甚於下者，必先治其上而後治其下。</p>
<p>古語云：膏粱無厭發癰疽，淡泊不能生䐜脹。</p>

<h3>虛損發熱諸症章</h3>
<p>久虛不復謂之損，損極不復謂之勞。元無所歸則熱灼，勞力傷陽，酒色傷陰。又云：陰復及陽，最難克復。</p>
<p>陰虛懨懨腎陽竭，午後發熱少飲食。數天無力脈象明，乾咳失血盜汗出。陽虛汗出並頭疼。脈細遲弱午前熱。陰虛血虛腎精虧，陽虛氣虛勞倦得。陰虛四物苓柏丹，二冬柏（仁）味（五味）龜（版）知（母）甘（草）。清骨散可骨蒸用，棗仁耆朮自汗堪。咳嗽氣急桑貝菀，栝蔞貝母治有痰。見血膠（阿膠）沙（參）丹（參）菀（紫菀）角（犀角），泄瀉山藥苓薏添。盜汗浮麥堪益伍，牡蠣黑豆用之妥。衄血梔芩茅草根，聲啞喉乾粉（花粉）桔（桔梗）可。陽虛益氣與補中，散火升陽亦得所。外感寒傷陽則虛，陽虛陰盛虛損初。此損自上而及下，一損於肺皮毛枯。二損於心血脈少（不能榮於臟腑，女則月事不通），三損於胃宜急圖（遇於胃則不治矣）。感熱傷陰陰則虛，陰虛陽盛損卻殊。此損自下而及上，二損於骨痿徂腎（不能起床）。一損於肝筋即憊，三損於脾速當扶（飲食不化過於脾，不治之症）。</p>
<p><u>陰虛</u></p>
<p>復脈湯六味丸。</p>
<p><u>陽虛</u></p>
<p>人參　鹿角霜　歸身　西枸杞　茯苓　五味　淡蓯蓉　懷藥　沙苑子</p>
<p><u>陰虛陽浮</u>（宜介類潛陽，鎮逆填下）</p>
<p><u>陽虛奇脈兼病</u></p>
<p>鹿角　沙苑子　杞子　菟絲子　蓯蓉　柏子仁　歸身</p>
<p><u>陰陽兼虛</u></p>
<p>熟地　西耆　歸身　淡蓯蓉　青鹽　鹿角　茯苓　杞子　五味子　八味丸　復脈湯</p>
<p><u>上損及胃</u></p>
<p>麥冬　生地　熟地　人參　女貞　枸杞　扁豆　茯苓　甘草　五味　山藥　建中湯</p>
<p>去生薑</p>
<p><u>下損及中</u></p>
<p>八味丸加減，異功散　建中湯　鹿角　菟絲子　杞子　家韭子</p>
<p><u>胃虛嘔瀉</u></p>
<p>人參　赤石脂　炒粳米　烏梅　新會皮</p>
<p><u>陰虛陽浮，兼胃陰虛</u></p>
<p>生地　人參　扁豆　麥冬　炙草　茯苓</p>
<p><u>脾腎兼虛</u></p>
<p>人參　煨益智　廣皮　茯苓　沙苑子　五味資生丸加坎氣《濟生》腎氣丸加茯苓　菟絲</p>
<p><u>勞傷心神</u></p>
<p>歸脾湯　白朮　人參　西耆　歸身　茯神　遠志　棗仁　木香　龍眼　甘草　生薑　大棗</p>
<p><u>中虛</u>（當用胃藥坐鎮中宮）</p>
<p>用四君子湯　人參　白朮　茯苓　甘草　春麥門冬湯　麥冬　半夏　甘草　大棗　人參　粳米　夏生脈散　人參　麥冬　五味</p>
<p>小建中湯　桂枝　甘草　白芍　生薑　大棗　飴糖加黃耆　又十四味建中湯</p>
<p><u>腎氣不納</u></p>
<p>人參　菟絲子　茯苓　坎氣　五味子　胡桃</p>
<p><u>氣血滯、升降阻</u></p>
<p>用旋覆花湯　旋覆花　青蔥　新絳　加桃仁　歸鬚　蔞皮</p>
<p><u>衝任皆虛</u></p>
<p>紫河車　大熟地　云茯神　淡蓯蓉　五味子　川黃柏</p>
<p><u>勞力傷脾胃</u></p>
<p>用霞天膏。</p>
<p><u>勞動傷經脈</u></p>
<p>歸身　蓯蓉　沙苑　杞子　茯苓　川芎</p>
<p>何書田曰：煩勞傷氣宜治上治中，甘涼補肺胃之清津，柔劑養心脾之營液。或甘溫氣味建立中宮，不使二氣日偏，營衛得循行之義。縱欲傷精當治下而兼治八脈，又須知填精補氣之分，益火滋陰之異。或靜攝任陰，溫理奇陽。</p>
<p>陳參曰：腎虛氣攻於背，肝虛熱觸於心，宜血肉有情重鎮，以理其怯，填補以實其下。形不足者溫之以氣，精不足者補之以味。</p>

<h3>失血章</h3>
<p>心生血兮肝藏血，隨處而行無處缺。目視舌言耳能聞，足能步履手能攝。如何錯過致妄行，勞傷火動因而得。吐因肺胃即熱蒸，逐口吐出隨火升。嘔或醉怒或勞役，胃口之血無端行。咯血之血出於腎，陰火上炎殊分明。咳衄肺金心火克，咳者為重衄為輕。犀角地黃湯主理，歸骨（地骨）梔芩麥知杞。側柏藕汁共茅根，童便服之浮火已。咳嗽沙參天麥冬，寒熱龜甲青蒿庸。有痰貝蔞花粉入，有瀉藥（山藥）苡苓甘同。不止（失血不止）蒲黃炒荊芥，韭汁大黃去紫塊。血不藏室體極虛，八珍可用阿膠配。</p>
<p>陳參曰：《內經》分上下失血為陽絡陰絡，是腑絡取胃，臟絡取脾。</p>
<p><u>治血先理腑胃</u>（甘涼肅降法）</p>
<p>沙參　玉竹　花粉　鬱金　茜草　綠豆皮　麥冬　桑葉　川斛　杏仁　竹心</p>
<p><u>又治心營</u>（輕清滋養法）</p>
<p>生地　丹參　地骨皮　連翹　元參　山梔　生粉草</p>
<p><u>風淫津涸</u>（甘寒法）</p>
<p>蘆根　薄荷　羚角　蔗汁</p>
<p><u>溫淫火壯</u>（苦寒法）</p>
<p>石膏　黃芩　山梔　杏仁</p>
<p><u>暑遍氣分</u>（開解法）</p>
<p>滑石　蘇梗　杏仁　橘白　薄荷　苡仁　白蔻</p>
<p><u>暑逼營分</u>（清芳法）</p>
<p>犀角　生地　青蒿　山梔　銀花　丹皮　連翹</p>
<p>以上外因。</p>
<p><u>嗔怒傷肝陽</u>（血隨氣逆，用膠耆，氣為血帥法）</p>
<p>白蘇子　鬱金　丹皮　鉤藤　丹參　降香　川貝母　杏仁　桑葉　橘紅　蒺藜</p>
<p><u>鬱勃傷肝陰</u>（木火內燃陽絡，柔肝育陰法）</p>
<p>阿膠　麥冬　白芍藥　生地　甘草　雞子黃</p>
<p><u>煩勞損心脾</u>（氣不攝血，甘溫培固法）</p>
<p>用歸脾湯。見前。保元湯　人參　黃耆　肉桂　甘草</p>
<p><u>縱欲傷腎</u></p>
<p>青鉛六味丸　肉桂　七味丸並加童便。</p>
<p><u>精竭海空，氣泛血湧</u>（危症急固真元，大補血法）</p>
<p>人參　五味子　紫河車　熟地　枸杞子　紫石英</p>
<p>以上內因。</p>
<p><u>煙辛爍肺</u>（治上法）</p>
<p>用千金葦莖湯　鮮葦莖　苡仁　桃仁　瓜瓣　加茅根</p>
<p><u>酒熱戕胃</u>（治中法）</p>
<p>用甘露飲　生地　熟地　天冬　麥冬　石斛　茵陳　黃芩　枳殼　甘草　枇杷葉　加藕汁</p>
<p>墜墮傷瘀血泛，先導下後通補。</p>
<p><u>怒力傷</u>（屬勞傷之根，陽動則絡傷血溢，治與虛損有間，宜滋陰補氣為主）</p>
<p>用當歸建中湯　即小建中湯加當歸　虎潛丸　旋覆花湯。</p>
<p>何書田曰：血之主司繫心肝脾，血之生化系陽明胃。胃為血之要道，當先治胃。《仁齋直指》云：一切血證經久不愈，每以胃藥收功。薄味調養胃陰，如《金匱》麥冬湯及沙參、扁豆、鮮斛、茯苓。甘溫建立中陽，如人參建中湯及四君子加減。沉著濃厚，屬肝腎之血，用熟地、枸杞、歸身、牛膝、茯苓、青鉛。陰虛陽升，頭中微痛，當和陽鎮逆，用生地、阿膠、牛膝、白芍、茯苓、青鉛。</p>
<p>思慮太過吸傷腎陰，時時莖舉，此失血屬驕陽獨升，用人中白、龜版、知柏等味。心火吸腎，隨陽升騰，陽翔為血溢，陽墜為陰遺腰痛。足脛冷何一非精奪下元損見症，治以人參、熟地、河車膏、紫石英、茯苓、五味、枸杞、沙苑，謂莫見血以投涼，勿因嗽以理肺，為要旨耳。腎傳脾胃，元海無納氣之權，急急收納根蒂，人參、河車膏、坎氣、枸杞、熟地、五味、沙蒺藜、茯苓、胡桃等味，在所必用。</p>
<p>陳參曰：夏月藏陰，冬日藏陽。陽不潛伏，升則血溢，降則遺精。血宜寧靜，不宜疏動，動則有血溢之虞。投涼劑則清氣愈傷。</p>

<h3>附衄血治法</h3>
<p><u>溫邪</u>（四季皆有因，病衄血，宜用辛涼清潤法）</p>
<p>杏仁　淡芩　山梔　鬱金　元參　連翹</p>
<p><u>風溫</u>（春令）</p>
<p>元參　赤芍　連翹　桑葉　丹皮　橘皮　茅花</p>
<p><u>酒熱傷胃</u></p>
<p>生扁豆　麥冬　北沙參　粳米</p>
<p><u>濕熱胃火上蒸出衄</u></p>
<p>玉女煎　熟地　知母　生石膏　麥冬　牛膝</p>
<p><u>膽火上升心營熱兼衄</u></p>
<p>犀角　生地　丹參　知母　牛膝　側柏葉　元參　連翹　山梔　丹皮　荷葉</p>
<p><u>陰虛陽冒致衄</u></p>
<p>生地　龜版　阿膠　麥冬　生白芍　川柏　牛膝　天冬　茯苓　川石斛　人參　山藥　熟地　丹皮　澤瀉　石決明　蓮子　芡實　元參　山萸　補骨脂　淡菜</p>

<h3>便血章</h3>
<p>便血不外風淫腸胃、濕熱傷脾二義。《內經》謂是陰絡受傷，陰絡即臟腑隸下之絡也。</p>
<p>溺血鬱熱由膀胱，五苓散合蓮子湯。知柏山梔皆可入，不痛為虛益氣良（玉莖中不痛可用補中益氣湯）。下血大腸多濕熱，腸風臟毒清濁譯。糞前近血熱在下，糞後遠血熱上臧。四物荊槐榆悉妙，棕灰陳（皮）殼（枳殼）苓甘襄。發熱柴胡膠（龜）版效，血虛熟地血餘嘗。瘀塊桃紅丹尾鱉，延胡赤芍同前方。</p>
<p><u>濕熱</u></p>
<p>荊芥炭　川連　烏梅　廣皮　茅朮　地榆　甘菊炭　黃芩　白芍　川樸　槐米　於朮　茯苓　桑葉　澤瀉　丹皮</p>
<p><u>陽虛寒濕</u></p>
<p>茅朮　廣皮　炙草　柴胡　人參　附子　川樸　炮姜　升麻　地榆　茯苓　防風根　白芍　荷葉　建神麯　葛根</p>
<p><u>大腸血熱</u></p>
<p>生地　地榆炭　黃柏　料豆皮　柿餅　山梔　丹參　炒樗皮　槐花　炒黃芩　丹皮　元參　五加皮　當歸　炒銀花　白芍</p>
<p><u>脾胃陽虛</u>（下血如注）</p>
<p>四君子湯加木瓜　炮姜　禹糧石脂丸</p>
<p><u>陰傷腸胃</u></p>
<p>生地　丹皮　竹心　茯苓　補陰丸　元參　連翹　天冬　牛膝　虎潛丸</p>
<p><u>陰虛血澀</u>（肛墜掣痛，肛門若火烙，陽不和平，仍是陰精失涵）</p>
<p>生地炭　火麻仁　歸鬚　冬葵子　料豆皮　查炭</p>
<p><u>脾腎虛</u></p>
<p>六味丸加芡實　五味子　蓮肉　歸脾丸</p>
<p><u>腎陽虛</u></p>
<p>人參　蓯蓉　補骨脂　柏仁　韭子　鹿茸　鹿角　巴戟天　遠志肉　茯苓　熟地　菟絲子　歸身</p>
<p><u>腎陰虛</u></p>
<p>熟地　龜版心　歸身　知母　山藥　山萸　料豆皮　白芍　茯神　地榆　丹皮　五味子　烏梅　花龍骨</p>
<p><u>勞力絡傷</u>（瘀必結於絡，絡及腸胃而後下，乃一定之理）</p>
<p>人參　陝當歸　茯苓　炙草　大白芍　肉桂</p>
<p><u>血瘀在絡</u></p>
<p>歸鬚　旋覆花　柏子仁　桃仁　新絳　青蔥管</p>
<p><u>陽明不闔</u></p>
<p>人參　炒川柏　山萸肉　赤石脂　烏梅　禹餘糧　五味子　白粳米　清心蓮子飲　人參　柴胡　黃芩　地骨皮　車前子　黃耆　茯苓　甘草　石蓮子　麥門冬</p>
<p>何書田曰：便血一症，古有腸風、臟毒、脈痔之分，其實不外乎陰絡受傷也。能別其血之遠近而決其臟腑之性情，則不致氣失統攝，血無所歸，如漏卮不已耳。肺府致燥，澀宜潤降，如桑麻丸及天冬、地黃、銀花、柿餅之類。心病則火燃，血沸宜清化，如竹葉地黃湯及補心丹之類。脾病必濕滑，宜燥升，如茅朮理中湯及東垣益氣湯之類。肝病有風陽，痛迫宜柔泄，如駐車丸及甘酸和緩之劑。腎病見形消腰拆，宜填補，如虎潛丸及理陰煎之類。至膽經為樞機，逆則木火煽營，宜桑葉、山梔、丹皮之清養。大腸為燥腑，每多溫熱，風淫宜辛涼苦燥。胃為水穀之海，多氣多血，臟病腑病無不兼之，宜和宜補，應熱應寒，難以盡言。脾胃為柔臟，可受剛藥，心肝為剛臟，可受柔藥。羅謙甫治便血以平胃散作主，加桂附乾薑，重加炒地榆以收下濕，頗見神效。溫煦奇腎用斑龍丸。疏補中土用枳朮丸，守補心脾用歸脾丸，脾濕腎燥用黑地黃丸，大補精氣用天真丸，升降脾胃用平胃散，堵截陽明用禹餘糧赤石脂丸。復從前之湯液，用五仁湯。善病後之元虛，用養營湯。</p>

<h3>汗症章</h3>
<p>經曰：陽加於陰謂之汗。又曰：汗者心之液。又曰：腎主五液，故凡汗症未有不出心腎虛而得者。夫心為生陽之臟，凡五臟六腑、表裡之陽，皆心主之，以行其變化，故隨其所在之處而氣化為津，亦隨其火擾所在之處而泄為汗，是汗本乎陰，乃津液之所化也。</p>
<p>克肖天地名曰人，天地有雨人汗生。時逢久雨天地否，久汗之人病自成。覺來無汗寐時出，盜汗陰虛兼內熱。不動而汗時時來，自汗陽虛兼有濕。脈細陽弱太陰虧，自汗補陽調胃戢（戢者絕其汗也）。浮麥地芍陳蠣梅，加減歸脾服多帖。盜汗滋陰降火宜，當歸大黃功最奇。麻黃根兼知（母）杞（枸杞）骨，前方選用堪同施。寧神安心藥為妙，汗為心液當先知。</p>
<p><u>衛陽虛</u>（宜鎮陽理陰）</p>
<p>陳參曰：火與元氣不兩立，氣泄為熱為汗，以治在無形實火，宜清虛火宜補。</p>
<p>真武湯　茯苓　白芍　白朮　附子　生薑　玉屏風散　黃耆　防風　白朮　人參　附子　西耆　於朮　人參　茯苓　炙草　浮小麥　半夏　牡蠣　南棗</p>
<p><u>營衛虛</u>（自汗）</p>
<p>黃耆建中湯加防風根</p>
<p><u>勞傷心神</u></p>
<p>生脈散　四君子湯</p>
<p><u>胃陰虛</u></p>
<p>人參　茯神　棗仁　白芍　炙草　龍骨</p>
<p>陽虛自汗，補氣以衛外，陰虛盜汗，補陰以營內。</p>
<p>柏子仁丸　柏仁　牛膝　卷柏　澤蘭　續斷　熟地</p>
<p>陳參曰：津散於外而為汗，此為虛者言。若時證則不可拘泥也。心之陽虛不能衛外而固密，則外傷而自汗。腎之陰虛不能營內而退藏，則內傷而盜汗。自汗由陰蒸於陽分也，盜汗由陽蒸於陰分也。</p>

<h3>頭痛章</h3>
<p>頭為諸陽之會，與厥陰脈會於顛，諸陰寒邪不上逆，惟陽氣窒塞，濁邪得以上據，厥陰風火乃能逆上作痛。頭痛症皆由清陽不升，風火乘虛上擾所致也。</p>
<p>頭痛之症雖主風，亦有痰火虛不同。頂顛屬風太陽火，眉稜骨痛由痙攻。腦後血脈虛來大，滑痰弦數火風逢。九味羌活湯主治，芩連治火殊多功。痰合二陳虛四物，氣血四君亦可庸（用也）。風亦屬陽頭為會（諸陽之會），兩陽相爭痛勢凶。氣血虛者無力拒，風不與爭痛故松。若因痰飲作痛者，胸膈飽悶非風從。</p>
<p><u>風火頭痛</u>（宜辛散輕清法）</p>
<p>羚羊片　元參　薄荷　山梔　桑葉　夏枯草　連翹　丹皮　菊葉　黃芩　苦丁茶　荷葉　木通蔓　荊子　白芷</p>
<p><u>肝風頭痛</u>（宜熄風滋肝法）</p>
<p>首烏　枸杞子　生地　菊花　白芍　料豆衣　柏仁</p>
<p><u>夏秋伏暑頭痛</u></p>
<p>石膏　連翹　羚羊片　蔓荊子　木通　山梔　苦丁茶　荷葉邊　飛滑石　生草　紫川樸　桑葉</p>
<p><u>膽胃伏邪</u></p>
<p>羚角片　菊葉　連翹　葛根　牛蒡子　赤芍　白芷</p>
<p>凡頭痛而屬陰，虛陽越者，用復脈湯、甘麥大棗法加阿膠、牡蠣、生地、白芍、沙參。因陽虛濁邪阻塞氣血，瘀痹而痛者，用蟲類搜逐血絡，宣通陽氣。</p>
<p>炮川烏　半夏　細辛　生薑汁　露蜂房　川芎　當歸　炙全蠍</p>
<p>陳參曰：頭風初起，以桑葉、山梔、丹皮、荷葉邊輕清涼泄，使少陽內遏之邪倏然而解。若久則傷及肝陰，參入酸涼柔劑可也。或肝陰久耗，厥陰無一息之寧，痛掣之勢已極，此豈輕劑可解？惟復脈湯之純甘壯水，膠芍之柔婉以熄風和陽，庶足俾剛亢之盛一時頓息。</p>

<h3>心痛章</h3>
<p>心痛從來類分九，胃脘疼痛當心口。風熱悸冷飲食蟲，疰與去來痛皆有。得暖緩時屬於寒，前後應痛因郁久。血痛逆氣唧唧聲，痰痛脈滑吐痰垢。噁心惡食因食傷，𩞄雜喜飢胃火誘。口吐黃水是蛔蟲（時作時止，痛止能食者），悶痛吐寬郁痰厚。初起得寒溫散之，姜半（夏）香砂青（皮）廣（皮）蔻（仁）。稍久或鬱郁火生，曲（六曲）殼（枳殼）苓梔滑（石）芎（川芎）守。痛則不通郁自成，通則不痛便無咎。</p>
<p><u>驚傷心痛</u>（聞雷或炮被驚，心下漾漾作痛，此肝陽上逆，不容升達也，養血平肝治之）</p>
<p>逍遙散去柴胡加鉤勾、丹皮。</p>
<p><u>積勞損傷心痛</u>（勞傷血痹，痛極昏厥，宜通絡和營法）</p>
<p>生鹿角　官桂　半夏　當歸鬚　桃仁　薑汁</p>
<p><u>脾寒厥痛</u>（吐涎肢冷，病在脈絡，宜辛香開通法）</p>
<p>高良薑片　薑黃　草果　生茅朮　丁香　梗　川樸</p>
<p><u>心勞受傷作痛</u>（重按而痛減者，攻劫難施，宜用辛甘化陽良法）</p>
<p>人參　川椒　白蜜　桂枝　炙草</p>
<p>陳曰：心痛寒甚用炮薑、肉桂，火甚用炒川連、竹茹。如因瘀血，用桃仁泥、延胡索、五靈脂、當歸鬚，痰飲用制南星、栝蔞，蟲厥用椒目、烏梅、使君子。若真心痛，十指甲俱青，夕死旦危，不治。</p>

<h3>腹痛章</h3>
<p>腹痛之症芍藥甘，甲乙化土方須諳。蒼（術）樸（白）術苓（香）附（枳）實（白）芷，用藥堪與心痛參。虛者手按痛止軟，手不可近是實焉。寒痛綿綿小腹冷，火痛時作時止然。痛處不移瘀血聚，或東或西氣攻堅。痰則脈滑小便秘，怒痛肝傷兩脅連。血虛偎偎筋抽引，氣虛呼吸少氣綿。瀉後痛減知食積，燥濕導滯湯為先。冒暑吐瀉香薷需，傷濕木通茅朮痊。</p>
<p><u>上中二焦氣阻腹痛</u>（嘔吐脈數而澀）</p>
<p>半夏　白蔻　山梔　豆豉　廣皮　桔梗</p>
<p><u>陽氣不運腹痛</u>（兼腰痛冷則尤甚）</p>
<p>桂枝　香附　小茴香　艾絨　青皮　白茯苓</p>
<p><u>郁傷脾陽作痛</u></p>
<p>半夏　延胡索　生薑　蘇梗　川樸　川楝子　草果</p>
<p><u>穢濁阻氣腹痛</u>（用芳香逐穢法）</p>
<p>藿香　萊菔子　川樸　半夏　廣皮　白杏仁</p>
<p><u>陰濁內阻，腑陽不通</u>（用通陽泄濁法）</p>
<p>生曬術　附子　茯苓　小茴香　制川樸　淡吳萸　良薑　半夏　生益智　生薑汁</p>
<p><u>肝氣鬱而腹痛</u></p>
<p>逍遙散去白朮加鬱金、香附。</p>
<p><u>郁久血滯，癸水不調，痛而無形</u></p>
<p>肉桂　香附　吳茱萸　木香　當歸　川芎　五靈脂　白芍</p>
<p><u>鬱怒飲氣入絡</u></p>
<p>制南星　牡蠣　桂枝　川楝子　橘核　東引李根皮</p>
<p><u>暑傷中氣作痛</u></p>
<p>人參　廣皮　益智仁　穀芽　白芍　茯苓</p>
<p><u>郁傷肝脾，絡血瘀凝</u>（用宣達營絡法治之）</p>
<p>桃仁　老韭白　歸鬚　桂木　穿山甲　阿魏丸　當歸　白芍　甘草　制軍　枳實　桂枝</p>
<p><u>勞傷中陽，腹痛浮腫，食入痛甚</u></p>
<p>當歸　益智　煨姜　棗肉　白芍　廣皮　炙草</p>
<p>陳曰：營分虛寒，當臍而痛，冬發春愈，加肉桂、茯苓。</p>

<h3>脅痛章</h3>
<p>脅痛多屬少陽，厥陰傷寒脅痛，皆在少陽膽經，以脅居少陽之部耳。雜症脅痛皆屬太陰肺經，以肺脈布於肝絡耳。</p>
<p>脅與肋屬肝膽部，肝主藏血又主怒。凝血成瘀疼痛加，鬱怒不舒痛則布。怒痛且膨得噯寬，血痛不臌無時住。痛連胃脘挾宿食，右脅氣滯濕痰注。逍遙四物小柴胡，樸果青砂二蘇（葉梗）附。熱須黛（青黛）膽（膽星）痰芥星，健脾二陳亦可付。</p>
<p><u>肝鬱脅痛</u></p>
<p>川楝子　山梔　橘葉　川連　茯苓　降香末　半夏　川斛　牡蠣　香附　夏枯花　白芥子</p>
<p><u>濕熱壅滯脅痛</u></p>
<p>小溫中丸</p>
<p><u>金不制木，咳血後脅痛</u></p>
<p>川貝母　杏仁　白蔻仁　枇杷葉　橘紅　降香末</p>
<p><u>營絡虛寒</u>（重按得緩屬陰絡虛也）</p>
<p>桂　乾薑　小茴香　大棗　歸身　茯苓　炙甘草</p>
<p><u>寒入絡脈，氣滯脅痛</u>（口吐涎沫，身發寒慄）</p>
<p>半夏　川楝子　吳萸　高良薑　茯苓　延胡索　蒲黃　蓽茇</p>
<p><u>血絡瘀痹</u>（用辛泄宣瘀法）</p>
<p>陳參曰：進食痛加大便燥結，久病已入血絡。</p>
<p>桃仁泥　川楝皮　鬱金　新絳　當歸鬚　延胡索　丹皮　五加皮　山梔皮　柏子仁　冬桑葉　左牡蠣</p>
<p><u>肝腎陰虧</u>（五心熱，咽痛，左脅疼）</p>
<p>陳參曰：宜甘緩理虛，溫柔通補方法。</p>
<p>生地　天冬　柏子仁　人參　麥冬　生白芍</p>
<p><u>肝胃皆虛，脅痛</u></p>
<p>人參　棗仁　柏子仁　桂元　茯神　當歸　花龍骨　金箔</p>
<p><u>脅痛兼痰飲</u></p>
<p>半夏　白蒺藜　鉤藤　廣皮　茯苓　白芥子　甘草</p>
<p><u>風入絡脅痛</u>（易飢吐涎）</p>
<p>生地　白芍　天冬　杞子　桃仁　阿膠　柏仁　丹皮　澤蘭</p>
<p><u>膽絡血滯脅痛</u>（上吐下瀉，春深寒熱不止）</p>
<p>青蒿　鬱金　元紅花　丹皮　歸鬚　澤蘭葉</p>
<p>陳參曰：治脅痛症不外仲景旋覆花湯，河間金鈴子散，以及辛溫通絡、甘緩理虛、溫柔通補、辛泄宣瘀等法。《內經》肝病三法，治虛亦主甘緩，況病必傷陽明胃絡，漸歸及右，肝腎同病矣。當用甘味（人參、茯苓、甘草、大棗）佐鎮攝（金箔、龍骨）治之。</p>

<h3>腰痛章</h3>
<p>（膝腿足痛附）</p>
<p>先天之本惟兩腎，位在腰間精足甚。房勞太過致精虧，邪氣客之腰受病。六味可增附斷（川斷）龜，補骨杞味仲柏知。一切寒藥皆禁用，婦人血滯更血虧。太陰腰痛因濕熱，芩柏仲芎蒼白朮。日輕夜重瘀不通，歸尾桃紅赤（芍）膝（牛膝）沒（沒藥）。身寒即發寒炮（姜）桂（肉桂），痰積二陳風小續（小續命湯）。閃氣腎離法同瘀，又有腎著治宜速。便利身重腰冷水，利濕苓甘薑朮足。</p>
<p><u>濕鬱腰痛</u></p>
<p>防己　茯苓皮　杏仁　草果　苡仁　桂枝　川樸　晚蠶砂　萆薢　滑石　菊花　小茴</p>
<p><u>寒濕傷陽腰痛</u>（宜辛溫通陽泄濁法）</p>
<p>杜仲　杞子　五加皮　茯苓　歸身　牛膝　炒白芍　炙草　胡桃　大棗　沙苑子　羊腎　煨姜　川桂枝</p>
<p><u>濕傷脾腎之陽腰痛</u>（嗜飲便澀，遺精，痛，麻木）</p>
<p>用祛濕緩土法，苓桂術薑湯，術菟丸。</p>
<p><u>老年奇經病腰痛</u>（用血肉有情之品溫養下焦）</p>
<p>鹿角霜　淡蓯蓉　淮牛膝　柏子仁　炙虎骨　猺肉桂　西杞子　川杜仲　川石斛如麻木甚者加萆薢、蒺藜。</p>
<p>陳參曰：腰者腎之府，腎與膀胱為表裡，在外為太陽，在內屬少陰。又為沖督任帶之要會，則腰痛不得專以腎為主病。內因治法：腎藏之陽有虧，則益火之源以消陰翳，用附桂八味丸。腎藏之陰內奪，則壯水之主以制陽光，用知柏八味丸。外因治法：里濕傷陽用辛溫，以通陽泄濁。濕鬱生熱用苦辛，以勝濕通氣。不內不外因治法：勞役傷腎以先後天同治，傾跌損傷辨其傷之輕重與瘀之有無，為或通或補。</p>

<h3>膝腿足痛附</h3>
<p><u>溫濕熱蒸，阻流行之隧，宜宣通之</u></p>
<p>石膏　杏仁　生苡仁　威靈仙　滑石　防己　寒水石</p>
<p><u>足膝腫痛</u>（久不止內熱）</p>
<p>生虎骨　仙靈脾　淮牛膝　金狗脊　陝歸身　川萆薢</p>
<p><u>右腿痛不腫，入夜勢篤</u>（此邪留於陰，治從肝經）</p>
<p>杜仲　小茴香　穿山甲　歸鬚　北細辛　乾地龍</p>
<p><u>足痛攻衝</u>（吐涎，大拇指疼）</p>
<p>吳萸　獨活　歸身　附子　細辛　防己</p>
<p><u>兩足皮膜撫之則痛</u>（此厥陰犯陽明胃也）</p>
<p>川楝子　小青皮　歸鬚　橘紅　延胡索　炒山梔　桃仁　查肉</p>
<p>飽食則噦，兩足骨髓皆痛，此陽明不克司束筋骨。</p>
<p>用轉旋陽氣法（苓桂術薑湯）</p>
<p>陳參曰：腿足痛，外感者推寒濕、濕熱、濕風之流經入絡。《內經》云：傷於濕者，下先受之，以治濕為主，或佐溫佐清佐散為宜。若內傷，不外肝脾腎三者之虛，或補中或填下或養肝為治。</p>

<h3>臂背痛章</h3>
<p>背者胸中之府，肺俞為病，即肩背作痛。又背為陽明之府，而陽明為十二經之長，虛則不能束筋骨利機關，即肩垂背曲而臂亦作痛矣。陽明脈衰，肩胛筋衰不舉而痛楚也。</p>
<p>手臂因何作疼痛，經絡血虛風濕中。二術（蒼白）南（星）秦（艽）二活（羌獨）防（風），寒桂（枝）艾血芎歸用。熱芩痰芥氣參耆，傷用威靈紅桃送。背屬太陽膀胱經，此經氣鬱痛不禁。羌活勝濕湯最妙，一點冷痛痰二陳。勞役過度時時痛，十全大補應安平。</p>
<p><u>營虛脈絡失養，風動筋急</u>（痛繞耳後，仿李東垣舒筋法）</p>
<p>當歸　川桂枝　防風根　生耆　生於術　片薑黃　另服化脈活絡丹一丸</p>
<p><u>勞倦肩背疼</u></p>
<p>桂　術　五加皮　苡仁　防己　白蒺藜　茯苓</p>
<p><u>陽明虛肝風動</u>（當用柔甘溫養法）</p>
<p>首烏　杞子　柏子仁　甘菊炭　歸身　胡麻　羚角片　海桐皮　煨天麻　童桑枝　白蒺藜</p>
<p><u>寒鬱氣隧胸引肩背皆痛</u></p>
<p>宗《內經》諸痛皆寒之義，以溫藥兩通氣血。</p>
<p>川桂枝　川椒目　熟附子　橘皮　烏藥支　淡吳英　延胡索　制香附　蘇梗　遠志肉　炒於朮　白茯苓　元紅花</p>
<p><u>肝濁沖逆作痛</u></p>
<p>乾薑　烏梅　炒白芍　川黃連　川柏　細辛　炒川楝</p>
<p><u>失血，胃絡虛，肩背痛</u>（宜填補陽明）</p>
<p>人參　炒棗仁　白芍　茯神　陝歸身　炙甘草</p>
<p><u>督脈虛，腎氣上逆</u></p>
<p>陳參曰：腎氣攻背，項強溺頻，是督脈不攝。用奇經藥以峻補真陽為主。</p>
<p>鹿角霜　歸身　杜仲　沙苑子　青鹽　鹿角膠　杞子　茯苓　菟絲子</p>
<p>陳參曰：凡沖氣攻痛，從背而上者，系督脈主病，治在少陰。從腹而上者，系衝脈主病，治在厥陰。此治病之宗旨也。故肺俞之風用防風散，痰臂流背痛用指迷丸。</p>

<h3>痛風章</h3>
<p>遍身走痛名痛風，血虛氣滯風濕攻。濕熱生風不剋土，痰壅經絡難宣通。風淫末疾四肢屬，日甚夜輕氣血從。治主四物桃紅益，痰熱二陳蔞相同。上風羌防芷薄桂，下濕薏藤宣漢庸。小便如澀四苓散，桑枝酒炒加湯中。此雖血瘀筋不著，總由血虛不內榮（失養）。寒氣凝滯濕痰結，因風行走痛自凶。</p>
<p>陳參曰：五行六氣流行最速，莫如風火，重按疼痛少緩，是為絡血。</p>
<p><u>血絡瘀痹</u>（久痛必入絡，氣血不行發痹）</p>
<p>金沸草　桃仁　生鹿角　新絳屑　歸尾　青蔥管</p>
<p><u>積傷入絡作痛</u></p>
<p>歸鬚　降香末　小茴香　木香　柏子仁　野鬱金</p>
<p><u>陰分伏熱痛風</u></p>
<p>頭顛至足麻木刺痛，用東垣滋腎丸。</p>
<p><u>肝腎虛下焦痛</u></p>
<p>病後精采未復，多言傷氣，行走動筋，當以甘溫和養。</p>
<p>人參　當歸身　白茯神　枸杞　沙苑子　甘菊炭</p>
<p>陳參曰：相火寄於肝，龍雷起於腎，並從陰發越，根蒂先虧，藏納失職矣。</p>
<p>何書田曰：經云諸痛癢瘡，皆屬於心。夫心主君火，自當從熱而論，然此但言瘡耳，不可概諸他病也。諸痛古人總以通字立法，非攻下通利之謂，謂通其氣血則不痛也。然必辨明氣血在氣分者，但行其氣，弗動其血。在血分者，兼乎氣治，所謂氣行則血隨之矣。症實者氣滯血凝，通其氣而散其血。症虛者氣餒不能充運，血衰不能滋榮，當養氣補血，兼寓通於補。</p>
<p>陳參曰：諸痛宜辛潤宣通，不宜酸寒斂澀，恐留邪也。</p>

<h3>頭眩章</h3>
<p>經曰：諸風掉眩皆屬於肝。頭為六陽之首，耳目口鼻皆系清空之竅，所患眩暈非外來之邪，乃肝膽風陽上冒耳。內風乃身中陽氣疲動。</p>
<p>頭眩昏暈氣血虛，風寒暑濕痰火居。《內經》頭眩責肝木（風木主動），丹溪痰火原相居。元氣挾火動痰致，虛火上炎痰則無。化痰清暈二陳用，菊藁（本）荊桔羌防撫（芎）。勞役氣虛補中妙，產後血虛四物須。冒暑薷香麥薷味，寒而無汗麻黃蘇。</p>
<p><u>火重頭眩</u>（宜清泄上焦竅絡之熱）</p>
<p>山梔　天花粉　桑葉　元參　連翹　湖丹皮　生地</p>
<p><u>肝風頭眩</u>（腎宜溫肝宜涼）</p>
<p>阿膠　麥冬　白芍　牡蠣　生地　萸肉　甘菊</p>
<p><u>絡熱眩暈</u></p>
<p>羚羊角　元參　生地　石菖蒲　連翹　鬱金</p>
<p><u>營血虛頭眩</u></p>
<p>西枸杞　胡麻　左牡蠣　川石斛　桑葉　柏子仁</p>
<p><u>內風挾痰頭眩</u></p>
<p>煨天麻　法半夏　雲茯苓　甘菊花　白蒺藜　廣橘皮　西杞子　鮮竹瀝</p>
<p><u>陰虛陽升頭眩</u>（補腎滋肝，育陰潛陽，兼鎮攝治）</p>
<p>大熟地　山萸肉　五味子　牡蠣　淮牛膝　龜版心　麥門冬　靈磁石　茯神　炒遠志</p>
<p><u>屬下虛頭眩</u></p>
<p>都氣丸加車前、淡天冬。</p>
<p><u>動怒鬱勃</u>（痰火風火併熾，頭眩）</p>
<p>二陳湯、龍薈丸加減治之。</p>
<p>何書田曰：精液有虧，肝陰不足，血燥生熱，熱則風陽上升，竅絡阻塞，頭目不清，眩暈跌僕。治宜緩肝之急以熄風，滋腎之液以驅熱。如虎潛丸、侯氏黑散、地黃飲子、滋腎丸、復脈飲湯等方。介以潛之，酸以收之，厚味以填之，或清上實下之法。風木過動，必犯陽明，嘔吐不食，法當泄肝安胃，或填補陽明。又法辛甘化陰，清金平木，治痰須健中，熄風可緩暈。</p>
<p>陳參曰：肝腎虛則多驚恐，陽動莫制，皆臟陰少藏耳。</p>

<h1>卷下</h1>

<h2>雜症</h2>

<h3>痹症章</h3>
<p>痹與風病相似，但風則陽受之，痹則陰受之，故多沉著且痛。大凡邪中於經為痹，邪中於絡為痿。《金匱》云：經熱則痹，絡熱則痿。初病濕熱在經，久則瘀熱入絡。</p>
<p>痹症有五原歸一，皮脈與肌筋與骨。風行寒痛濕著彰，《內經》三氣風寒濕。以致麻木疼痛加，不能行動但能食。痹者閉不通之云，邪阻正氣經絡塞。皆由虛損腠理開，三氣乘虛自外襲。留滯於內為病多，濕痰濁血都凝澀。法治法邪養正先，暢達氣血通絡脈。峻補真陰為屬陰，風燥之品用不得。舒筋赤芍草薑黃，沉（香）汁歸（當歸）羌（活）海桐（皮）益。</p>
<p><u>濕熱致痹</u>（宜舒通脈絡，使清陽流行）</p>
<p>生耆　法半夏　防風　桑枝膏　生術　川羌活　薑黃　川桂枝　陝當歸　羚羊角　猺肉桂　炙甘草　漢防己　苡仁　生地　白茯苓　炙龜版　杏仁　阿膠　川通草　料豆皮　紫川樸　天花粉　綿茵陳　石膏　老蘇梗　川石斛　湖丹皮　鬱金</p>
<p><u>暑傷氣，濕熱入絡為痹</u></p>
<p>人參　生於術　廣皮　生薑汁　茯苓　半夏　川黃連　枳實　鮮竹瀝　澤瀉</p>
<p><u>寒濕為痹</u>（宜微通其陽，兼通補法）</p>
<p>金狗脊　川杜仲　仙靈脾　熟附子　生虎骨　淮牛膝　川桂枝　白朮　杞子　茯苓　防己　晚蠶砂　當歸　萆薢　澤瀉　苡仁</p>
<p><u>肝膽風熱為痹</u>（宜甘寒和陽法）</p>
<p>羚羊角　元參　桂枝　茯苓　石斛　杞子　白蒺藜　丹皮　桑枝　生地　天冬</p>
<p><u>肝胃虛滯為痹</u>（陽氣煩蒸當兩補厥陰陽明）</p>
<p>黃耆　首烏　白蒺藜　於朮　歸身　料豆衣</p>
<p><u>氣滯熱鬱為痹</u>（因病後過食肥膩）</p>
<p>栝蔞皮　蘇梗　廣鬱金　苦杏仁　橘皮　半夏曲</p>
<p><u>血虛絡澀為痹</u></p>
<p>鮮赤首烏　童桑枝　黑芝麻　九制首烏　川桂枝</p>
<p><u>熱入下焦血分為痹</u></p>
<p>歸身　柏子仁　鉤藤　川萆薢　牛膝　丹皮　白菊花　苡仁　生虎骨　茯苓</p>
<p><u>風寒濕入下焦經隧為痹</u>（宜辛溫以宣通經氣）</p>
<p>活絡丹　川烏　地龍　穿山甲　大黑豆皮</p>
<p><u>衛陽疏，風邪入絡為痹</u>（風淫治以甘寒法）</p>
<p>羚羊片　杏仁　海桐皮　元參　童桑枝　川桂枝　花粉　漢防己　連翹　綠豆皮</p>
<p><u>肝陰虛，瘧邪入絡為痹</u></p>
<p>大熟地　阿膠　天冬　五味　龜版膠　秋石　麥冬　茯神</p>
<p><u>氣虛成痹</u></p>
<p>舒筋湯加黃耆、廣皮、茯苓、桂枝、防風根</p>
<p><u>營虛成痹</u></p>
<p>人參　歸身　炙草　南棗　茯苓　白芍　桂枝</p>
<p><u>精血虛延痹</u></p>
<p>鹿角膠　枸杞子　桑椹子　天冬　茯苓　淡蓯蓉　川杜仲　沙苑子　虎骨</p>
<p>陳參曰：治痹之法只宜峻補真陰，宣通絡脈，使氣血得以流行，不得過用風燥藥，以再傷真陰。</p>

<h3>痿症章</h3>
<p>邪中於絡為痿，又絡熱則痿。痿不外乎肝、腎、肺、胃四經之病。肝主筋，肝傷則四肢不為人用，而筋骨拘攣。腎藏精，精血相生，精虛則不能灌溉諸末，血虛則不能營養筋骨。肺主氣，為清高之臟，肺虛則高源化絕，化絕則水涸，水涸則不能濡潤筋骨。陽明為宗筋之長，陽明虛則宗筋縱，而不能束筋骨以利機關。經云：濕熱不攘，大筋軟短，小筋弛長。軟短為拘，弛長為痿。</p>
<p>四肢軟弱痿症成，不癢不痛難趨行。五痿筋脈骨肉氣，治法獨取陽明經。陽明本為宗筋長，主潤宗筋合相養。虛則宗筋縱不收，束骨利關職不掌。總由肝腎肺胃傷，四末無用肝脾殃。肺熱何由得濡潤，高源化絕水涸彰。清心補腎二四（四君四物等湯）利，梔芩化熱桔引肺（杜）。仲（牛）膝（栝）蔞（麥）冬（黃）耆（五）味（木）瓜，木通通竅（升）麻提氣。治痿之法專補陰，壯骨補虛藥須備。</p>
<p><u>肺熱葉焦</u></p>
<p>如形瘦脈數，玉竹、地骨皮、百合、北沙參、麥冬、杏仁、桑葉。如面瘰跗軟，連翹。</p>
<p><u>濕熱蒸鑠筋骨為痿</u></p>
<p>茅朮　川柏　寒水石　防己　茵陳　茯苓　晚蠶沙　萆薢　杏仁　飛滑石　木通　龍膽草</p>
<p><u>胃氣窒塞為痿</u>（氣塞胃呆，筋骨不利）</p>
<p>加味溫膽湯、更衣丸。</p>
<p><u>邪風入絡為痿</u>（口鼻歪斜而起）</p>
<p>羚角　大生地　元參　川石斛　犀角　川萆薢　黃柏</p>
<p><u>陽明虛，營絡熱，內風動成痿</u>（宜清營熱、熄內風法）</p>
<p>犀角　元參　明天麻　鉤藤　生地　連翹　冬桑葉　丹皮</p>
<p><u>胃陽督任皆虛為痿</u>（當兩固中下）</p>
<p>鹿角膠　淡蓯蓉　巴戟肉　歸身　牛膝　柏子仁　補骨脂　白茯苓　杞子　川斛</p>
<p><u>肝腎兩虛為痿</u>（熄風納下）</p>
<p>河間地黃飲子　熟地　巴戟肉　山萸肉　淡蓯蓉　附子　官桂　石斛　白茯苓　石菖蒲　遠志　麥冬　五味子</p>
<p><u>虎潛丸</u></p>
<p>熟地　虎脛骨　知母　當歸　川柏　敗龜版　鎖陽　白芍　牛膝　廣陳皮　羚羊肉</p>
<p><u>脾腎陽虛為少女</u>（暈中肌麻，腹鳴瘕泄，用脾腎兩補）</p>
<p><u>衝任虛寒為痿</u>（用薛氏加減八味丸）</p>
<p><u>督陽奇脈兼虛為痿</u></p>
<p>鹿角　淡蓯蓉　菟絲子　遠志　白茯苓　覆盆子</p>
<p><u>督陽虛為痿</u>（如歷節汗出，筋骨腰脊痠軟，冬月尤甚）</p>
<p>麝茸　麝香　生羊腎子　歸身　川烏酒煮為丸</p>
<p><u>骨痿</u>（由精血內奪，奇脈少氣，當填精補髓）</p>
<p>鹿角屑　羊肉膠　虎骨　巴戟天　豬脊髓　線魚膠　龜版　懷熟地　淡蓯蓉　沙苑子　枸杞　川黃柏　青鹽　川杜仲　白茯苓　牛膝　陳歸身</p>
<p>陳參曰：治痿之法，經云獨取陽明，無非流通胃氣，以為脈主乎束筋骨利機關也。頭頸轟然熱蒸，痰涎湧出，味酸，此督脈不司納束，腎虛收納無權，陰火上炎，內風齊煽，宜通納入脈，以收拾散失之陰陽。</p>

<h3>麻木章</h3>
<p>麻木不仁症何治，二陳四物湯須識。總是濕痰死血成，活血開痰法先試。兩臂桂枝不可無，下部靈仙牛膝使。補中益氣青（皮）附（香附）香（木香），白芥紅（花）桃（仁）藥兼備。</p>
<p><u>營虛，肝風挾痰，指末脹麻</u></p>
<p>煨天麻　羚羊片　桂枝　茯苓　膽星　白芍　鉤藤鉤　石決明　桑枝　秦芄　歸身</p>
<p><u>肝腎虛，眩暈耳鳴，心悸指末麻</u></p>
<p>生地　西杞子　遠志　石菖蒲　桂枝　阿膠　羚羊角　茯神　炙龜版　牡蠣　歸身　白蒺藜　胡麻　湖丹皮　白芍　料豆皮　桑葉　炒山梔</p>

<h3>癇症章</h3>
<p>癇症或因驚恐，或由飲食不節，或由母腹中受驚，以致內臟不平，經久失調，一觸積痰，厥氣內風猝然暴逆，莫能禁止。待其氣平然後已。至於主治，要在辨其虛實耳。</p>
<p>癇痓暈倒時流涎，聲類畜叫五癇傳。癇醒身軟痓反是，皆由痰與驚專權。驚則神志不守舍，舍空痰如心竅填。肝膽胃經挾痰火，三陽合併升而然。行痰為主清熱次，犀角二陳（石）菖（蒲）膽（星）連（川連枳）。殼蔞（皮）藤橘姜竹瀝，茯神郁（金遠）志宜同煎。</p>
<p><u>驚恐痰火升，發癇</u></p>
<p>黃連　山梔　廣皮　膽星　黃芩　枳實　遠志　菖蒲</p>
<p><u>陽氣鬱竅，絡阻發癇厥</u></p>
<p>羚羊角　川柏　姜半夏　連翹　陳膽星　遠志　廣鬱金　元參　鉤藤鉤　白芍　川黃連　煨天麻　廣皮　清阿膠</p>
<p><u>水火鬱血滯，兼癇</u>（婦人經來紫黑）</p>
<p>生地　紫丹參　炒山梔　西珀屑　丹皮　胡黃連　茺蔚子</p>
<p><u>肝腎陽開發癇</u></p>
<p>入冬不寐，陽不滑藏。虎潛丸，見前。</p>
<p>陳參曰：癇症有風熱，有驚邪，皆兼虛與痰所致。幼科方書小兒有五癇，五臟各有畜所屬。聲如羊者心癇，聲如犬者肝癇，聲如牛者脾癇，聲如雞者肺癇，聲如豬者腎癇。痓，風病也。《難經》督脈為病，脊強而厥。張仲景云：脊強者，五痓之總名。其症卒口噤，背張而瘛瘲痓。</p>

<h3>癲狂　怔忡　不寐　健妄等章</h3>
<p>癲出積憂積鬱，病在心脾包絡之陰，蔽而不宣，致氣鬱痰迷，神志為之混淆。狂由大驚大恐，病在肝膽胃經，三陽並而上升，致火熾痰湧，心竅為之閉塞。不寐總由陽不交陰所致，若因外邪而不寐者，當連去其邪，攘外即所以安內也。若因里症而不寐者，或焦勞過度而離宮內熱，或憂勞積鬱而耗損心脾，或精不凝神而龍雷振盪，或肝血無藏而魂搖神漾。胃病則陽蹺穴滿，膽熱則口苦心煩，審病用方，法無一定。</p>
<p>狂症屬陽主多怒，癲症屬陰主多喜。心熱為狂肝實癲，均為熱症河間議。心經有損七情傷，鎮心安神最為利。天王補心用三參（人參、丹參、元參），酸棗地歸二冬味。遠志柏仁桔茯神，燈草辰砂石菖配。怔忡健忘都可醫，加減天王補心治。怔忡人呆將捕如，惕惕不寧神明殊。心為人主血為主，神不守舍心血虛。健忘雖因氣血隔，盛怒傷志亦成疾。靜則神藏躁消亡，心氣不充神憊極。陽不變陰非外邪，此方亦可不寐吃（即天王補心丸）。</p>
<p><u>發狂木火動心神虛</u></p>
<p>人參　元參　棗仁　天冬　丹參　茯神　川連　麥冬　生地　遠志　桔梗　伯仁　菖蒲</p>
<p><u>發癲，鬱火，心腎不交</u>（脈不鼓指）</p>
<p>生地　酒炒連　山梔　茯神　竹葉　川柏　炙坎版　菖蒲　遠志</p>
<p><u>心火不寐</u></p>
<p>鮮生地　元參　竹葉心　淨銀花　麥冬　綠豆皮</p>
<p><u>膽火不寐</u></p>
<p>丹皮　半夏　鉤藤　溫膽湯　山梔　桑葉　橘紅</p>
<p><u>脾營虛</u></p>
<p>用歸脾湯為主</p>
<p><u>不寐胃病，陽蹺脈虛</u></p>
<p>早服八味丸，晚服半夏秫米湯。</p>
<p><u>不寐怔忡，膽液虧，陽升虛煩</u></p>
<p>《金匱》酸棗仁湯　棗仁　甘草　知母　茯苓　川芎</p>
<p><u>不寐健忘，肝腎陰虧，陽浮</u>（鹹苦酸收甘緩法）</p>
<p>龜版膠　熟地　萸肉　五味子　寧淡菜　川柏　遠志　白茯苓　鹿角膠　大熟地　淡蓯蓉　羊腎子</p>
<p>何書田曰：癲之實者，以滾痰丸開痰之壅塞，清心丸泄火之鬱勃。虛者當養神而通志，歸脾丸、枕中丹。狂之實者，以承氣湯、白虎湯直折陽明之火，生鐵落飲重製肝膽之邪。虛者當壯水以制火，二陰煎之類。</p>
<p>生地　棗仁　元參　茯苓　麥冬　甘草　黃芩　木通</p>
<p>思慮煩勞，身心過動，風陽內擾則營熱。心悸驚怖，不寐，脅中動躍，治以酸棗仁湯。</p>
<p>棗仁　知母　川芎　甘草　茯苓　補心丹　枕中丹　清營之熱佐以斂攝神志。</p>
<p>陳參曰：《靈樞經》云：陽氣下交於陰，陽蹺脈滿，令人得寐。</p>

<h3>黃疸章</h3>
<p>疸分陰陽，而總以濕得之。陽疸者，濕從火化，瘀熱在裡，膽熱液泄，與胃之濁氣相併，上不得越，下不得泄，熏蒸遏郁，侵於肺則身目俱黃，熱流膀胱溺變赤，其色明，陽主明，治在胃。陰黃者，濕從寒水，脾陽不能化熱，膽液為濕所阻，漬於脾，浸淫肌肉，蘊於皮膚，黃如熏，其色晦，陰主晦，治在脾。黃疸者，身黃、目黃、溺黃之謂也。</p>
<p>黃疸分五名固有，黃汗女勞濕熱酒。總歸濕熱相鬱蒸，脾胃兼虛為日久。茵陳五苓散主之，隨病增減方堪施。病久腹脹兼黑色。此為不治先當知。</p>
<p><u>谷疸</u>（不宜下犯足太陰，防變脹）</p>
<p>豬肚丸　豬肚　苦參　白朮　牡蠣</p>
<p>又方　綿茵陳　茯苓皮　蔻仁　花粉　枳實　苦桔梗</p>
<p><u>疸後郁傷心脾</u></p>
<p>用歸脾丸</p>
<p><u>酒疸</u></p>
<p>四君子湯加陳皮　白芍　當歸　柴胡　生薑　大棗</p>
<p>陳參曰：酒客多蘊熱，宜先清中分利，後顧脾陽。</p>
<p><u>濕熱鬱蒸黃疸</u></p>
<p>濕在上宜辛散法，取以風勝，防己、大豆卷、苡仁、銀花、滑石、生牡蠣、枳實、法半夏、薑汁。</p>
<p>濕在下宜苦泄法，取以淡滲，黃柏、赤小豆、石膏、杏仁、山梔、連翹、通草、花粉。</p>
<p><u>疸變腫脹</u></p>
<p>大腹皮　海金沙　粉豬苓　雞肫皮　紫川樸　川通草</p>
<p><u>黃疸，脈絡瘀熱，此與水穀氣交蒸</u></p>
<p>河間金鈴子散加枳實　柴胡　半夏　黃芩　山梔　穀芽</p>
<p><u>黃疸脾液外越</u>（夏熱泄氣。脾虛為黃，非濕熱之疸）</p>
<p>人參　白扁豆　茯神　炙草　懷山藥　米仁</p>
<p>何書田曰：脈弦脅痛少陽未罷，仍主和。渴飲水漿陽明化燥，急當瀉熱。如狂蓄血主攻，汗後溺血主補。表虛者實衛，裡虛者建中。女勞有穢濁，始以解毒，繼之滑竅，終當峻補腎之真陰。</p>

<h3>夢遺章</h3>
<p>有夢為心病，無夢為腎病，濕熱為小腸膀胱失精之藏。制雖在腎，而精之主宰則在心。其精血下注，濕熱混淫而遺滑，所致者責在小腸膀胱，故治是症，不外寧心益腎，填精固攝，清熱利濕諸法。有夢治心，無夢治腎。</p>
<p>左腎藏精右氣火，相火一動精不固。外動酒漿濕熱欲，內動多思多想故。精者有水本靜居，無以擾之凝然如。一擾便動且妄行，遺精滑精漸致虛。年少元陽氣極盛，如瓶之滿滿而溢。心有妄念邪火乘，如瓶之側側而出。相火易動真元虛，精道不固腎液竭。如瓶之罅漏漸干，此病最重最難澀。安神降火主治之，四物歸脾收澀吃。</p>
<p><u>陰虛陽越兼遺滑</u>（用厚味填精，介類潛陽，養陰固攝諸法）</p>
<p>熟地　覆盆子　芡實　山藥　湖連　桑螵蛸　茯神　川斛　沙苑　線魚膠　生地　萸肉　麥冬　遠志肉　天冬　川柏　女貞　金櫻膏　柏仁　青鹽　牡蠣　炙坎版　淡菜　炙草</p>
<p><u>陰虛濕熱遺滑</u>（苦泄兼通腑）</p>
<p>川柏　川萆薢　知母　澤瀉　川蓮　苡米仁　芡實　茯苓　豬苓湯</p>
<p><u>下損及中夢遺</u>（有夢而遺，煩勞過度，致脾胃兩傷，心腎不交，上下兩損，當培土固攝）</p>
<p>妙香散、補心湯、生脈、四君、歸脾湯、冬朮膏、桑螵蛸散。</p>
<p><u>腎氣不攝，夢遺兼滑</u></p>
<p>熟地　山萸肉　山藥　湖蓮　金櫻子　五味　紫河車　芡實　龍骨　菟絲子　覆盆子　沙苑子</p>
<p><u>兼失血</u></p>
<p>熟地　五味　山藥　人參　枸杞　茯神　牛膝　魚螵蛸花　龍骨　桑螵蛸</p>
<p>何書田曰：房勞過度，精竭陽虛，寐則陽陷而精道不禁，隨濁隨泄，不夢而遺，當用《濟生》固精丸（花龍骨、左牡蠣、菟絲子、家韭子、白茯苓、五味子、桑螵蛸、白石脂）升固八脈之氣。飲食宜厚，脾胃釀成濕熱，留伏陰中而夢泄者，當用劉檀石脂肚丸（白朮、牡蠣，以豬肚、苦參一具同煎），清脾胃蘊蓄之溫熱。無夢遺精，腎關不固，精竅滑脫而成也用桑螵蛸散（人參、菖蒲、遠志、秦當歸、茯神、龍骨、龜版、桑螵蛸）與陰固攝滑澀互施。上實下虛，火風震動，脾腎液枯，用斑龍二至百補丸（人參、鹿角、菟絲子、熟地、杞子、山萸肉、五味子、天冬、茯苓、淮牛膝、芡實、龍眼、西黃耆、麥冬、山藥、金櫻子、楮實）通攝下焦。龍相交熾，陰精走漏，用三才封髓丹及滋腎丸、大補陰丸（熟地、金狗脊、知母、川柏、炙龜版）峻補真陰，承製相火，以瀉陰中伏熱。</p>

<h3>濁症、淋症章</h3>
<p>濁屬心腎，淋為肝膽。痛則為淋，不痛為濁。遺由精竅，淋在溺竅，異出同力，最宜分別，切勿混治。</p>
<p>濁症原分赤與白，白屬氣分赤屬血。脾胃濕熱注膀胱，水液渾濁皆屬熱（本《內經》。主治清心蓮子飲，痰注膀胱二陳合。白由腎虛萆薢飲，赤是血虛合四物。淋症血石勞氣膏，滴瀝疼痛常呼號。心與小腸相表裡，心火猶動相火燒。欲住不住住又至，總將津液常煎熬。八正四苓合四物，山梔知柏淋應消。）</p>
<p><u>濁淋二症參看濕熱下注</u></p>
<p>萆薢　木通　海金沙　赤茯　豬苓　澤瀉　川黃柏　山梔　茵陳　鮮竹葉　丹皮　漢防己　子和桂苓飲　劉檀石豬肚丸</p>
<p><u>陰虛濕熱淋濁</u></p>
<p>滋腎丸　丹溪大補陰丸合水陸二仙膏加牡蠣、金櫻膏、六味丸，去萸肉，加車前、牛膝。</p>
<p><u>心火下陷淋濁</u>（心陽亢而下注，利其火府）</p>
<p>分清飲加山梔、丹皮、茯苓、豬苓。清利火府用導赤散加赤苓、瞿麥。又方川連、生地、人參、桔梗、川柏、茯苓、丹參、菖蒲</p>
<p><u>氣閉成淋</u></p>
<p>紫苑　栝蔞皮　鬱金　降香　杏仁　枇杷葉　山梔</p>
<p><u>食入痞滿便淋</u>（照前方去紫菀、山梔，加苡仁）</p>
<p><u>膀胱蓄熱血淋</u>（小便短赤帶血）</p>
<p>用導赤散加赤茯苓　西血珀屑（五分）</p>
<p>又方　黃柏　知母　山梔　生地　龍膽草　丹皮　酒大黃　淡竹葉　當歸　郁李仁　元紅花</p>
<p><u>精濁陰虧</u></p>
<p>炙龜版　熟地　天冬　肥知母　淡秋石　川柏　茯苓　豬脊筋</p>
<p><u>腎虛不攝，淋濁</u>（脈細腰痠，遺瀝胃減，宜收納肝腎）</p>
<p>茯苓　青鹽　胡桃　腎氣湯加淡蓯蓉鹿角　大茴香</p>
<p><u>敗精濁瘀阻竅</u></p>
<p>用虎杖散加韭白汁　製大黃　麝香（少許）</p>
<p>入絡通血　白醜　桃仁　歸鬚　桂枝　小茴　杜牛膝　歸尾　山梔　川楝子　韭白　兩頭尖　川柏　遠志　淡蓯蓉　柏仁　茯苓　生鹿角　大黃　小茴　加麝香</p>
<p>又方</p>
<p>阿膠　生地　女貞子　料豆皮　琥珀屑</p>
<p><u>淋濁</u>（奇脈病）</p>
<p>敗精內滯因溺強出，積久精血皆枯，當以沖督任帶調理，亦如婦人之漏帶也。</p>
<p>鹿茸　小茴香　歸身　人參　杞子　龜版心　茯苓　柏霜　補骨脂　覆盆子　菟絲子</p>
<p>又方</p>
<p>鹿茸　韭子　胡桃　沙苑子　舶茴香</p>
<p>何書田曰：便濁只在氣虛與濕熱。實者宣通水道，虛者調養中州，虛實兩兼又宜益臟通腑。精濁總由肝腎損傷，而有精瘀精滑之分。精瘀當先理離宮腐濁，然後補腎。精滑用固補斂攝，不應，從真元氣調之。張景岳所謂其無形以固有形也。然人必知八脈，治用孫真人九法，升奇陽，固精絡，使督任有權，漏卮自已。尿血一症，虛者居多，若有火亦能作痛，當與血淋同治。如清之不愈，專究乎虛，則上注心脾，下從肝腎，久則主乎八脈。</p>
<p>陳參曰：厥陰內患最急，少腹繞前陰如刺，小水點滴難通，環陰之脈絡皆痹，氣化機關已息，必須仿朱南陽法，兼參李蘋湖意用滑利通陽，辛鹹泄急，佐以循經入絡之品。古人云：九竅不和多屬胃病，六腑為治，以通為補。脾宜升則健，胃宜降則和。蓋太陰之土得陽始運，陽明之土得陰則安。脾喜剛燥，胃喜柔潤，張仲景急下存津，治中胃也。李東垣大升陽氣，治在脾也。</p>
<p><u>八正散</u>　治濕熱便秘。</p>
<p>車前子　瞿麥　山梔　燈草　細木通　滑石　大黃　扁蓄草　甘草　木香</p>
<p>濕熱盛而宣徹其泉源也。陳注。</p>

<h3>小便不通不禁、大便不通、二便秘、脫肛等章</h3>
<p>人身穢濁二便消，通則濁降塞則淆（便通則濁降清升，否則清濁混淆矣）。小便不通膀胱熱，用藥可與淋同條。小便不禁膀胱火，火邪妄動難自料。水不得安故不禁，二神丸合桑螵蛸（川連、川芎、甘草、生地、當歸）。大便不通腸液竭，活血潤燥方無拋。二便閉時肝腎熱，八正散服兩可消。肛門秘結肺熱致，肺與大腸表裡明。脫肛肺臟虛寒甚，瀉痢入虛陷下遭。湯用補中益氣妙，熱脫四物知柏邀。</p>
<p><u>陰莖囊腫，是濕甚而下墜入府，用河間法。</u></p>
<p>石膏　寒水石　杏仁　澤瀉　滑石　紫川樸　豬苓</p>
<p><u>小便不通，小腸火結</u></p>
<p>導赤散加丹皮　赤茯苓</p>
<p><u>膀胱氣化失司</u></p>
<p>用五苓散</p>
<p><u>濕壅三焦</u>（用河間分消法）</p>
<p>杏仁　桔梗　滑石　川樸　連翹　木通　香薷　陳皮　豬苓　木瓜　川連　寒水石　澤瀉　蘆根　黃芩　海金沙　防己　生石膏　枳殼　六一散</p>
<p><u>濕鬱熱伏小腸痹</u></p>
<p>用小溫中丸</p>
<p><u>腎陽不通</u></p>
<p>五苓散加乾薑　炮姜　附子　豬膽汁</p>
<p><u>腎與膀胱陰分蓄熱致燥，無陰則陽無以化，用</u></p>
<p>滋腎丸　通下焦至陰之熱閉。</p>
<p><u>濕熱大腸痹</u></p>
<p>宜清熱燥濕小溫中丸。</p>
<p><u>大便秘，火腑不通</u></p>
<p>用更衣丸</p>
<p><u>濕火便秘</u>（用大苦寒堅陰燥濕法）</p>
<p>川柏　萆薢　獨活　海金砂　細辛　川連　防己　蠶砂　川錦紋</p>
<p><u>腎燥熱便難</u>（宜溫通下焦，用滋腎丸）</p>
<p><u>鬱熱燥結氣阻</u>（苦寒泄熱，辛以開鬱，此三焦通治法）</p>
<p>川連　萊菔子　川楝子　廣皮　蘆薈　炒山楂　炒山梔　制樸　青皮　赤茯苓　杏仁　廣鬱金</p>
<p><u>血結便秘</u></p>
<p>桃仁泥　冬葵子　川鬱金　郁李仁　降真香</p>
<p>又方　桃仁承氣湯</p>
<p><u>血液枯燥，大便不通</u>（宜養血潤燥為法）</p>
<p>歸身　柏子仁　麥冬　沙苑子　麻仁　松子仁　茯苓　奎白芍</p>
<p>又方　生地　阿膠　龜版</p>
<p>又方　紅花　牛膝　菠菜　五靈脂　桃仁　丹皮　韭菜　郁李仁</p>
<p>又方　枸杞子　天冬　人中白　川萆薢</p>
<p>三才湯　五仁湯　虎潛丸去瑣陽　加淡蓯蓉　通幽湯　生地　紅花　熟地　桃仁　甘草　歸身　升麻</p>
<p><u>老年陽衰風閉</u>（用溫潤通調之法）</p>
<p>半硫丸</p>
<p><u>二便閉，小腸火結</u></p>
<p>蘆薈　川楝子　桃仁　夜分脹用小溫中丸　紅花　當歸鬚　李仁</p>
<p><u>濕熱肺氣不降</u></p>
<p>葦莖　桃仁　西瓜　翠衣　滑石　通草</p>
<p>又養胃法　北沙參　麥冬　杏仁　薏仁　知母</p>
<p><u>濕熱壅腑便閉</u></p>
<p>川連　山梔皮　枳實　青皮　黃芩　萊菔子　川樸　丹皮</p>
<p><u>氣血結痹便閉</u></p>
<p>川楝子　桃仁　川桂枝　當歸鬚　郁李仁　紅花　制川軍　小茴香　川芎　山楂炭</p>
<p>肉桂　蔥白　青皮　五靈脂　香附</p>
<p><u>血枯經阻便澀</u></p>
<p>大生地　牛膝　郁李仁　歸身　車前子　淡蓯蓉　柏仁　冬葵子　茯苓　小茴香</p>
<p><u>厥陰熱閉</u></p>
<p>二便皆澀，少腹脹滿，背寒煩渴，此為癃閉，當用穢濁氣味之品，直瀉厥陰之閉。</p>
<p>兩頭尖　韭根　小茴香　橘紅　穿山甲　歸鬚　川楝子　乳香　川連　山梔　通草　海金沙　川柏　淡吳萸　青皮　滑石</p>
<p>又仿李東垣治癃閉法，用滋腎丸。</p>
<p>陳參曰：凡小便閉而大便通調者，或膀胱熱結，或水源不清，濕症為多。大便閉而小便通調者，或大腸氣滯，或津液不流，燥症居多。二便俱閉當先通大便，則小便自利矣。腎司二便，肝主疏泄，須辨陰結陽結，或下病治上之法，開提肺氣。喻嘉言：上燥治肺，下燥治肝。</p>
<p><u>脫肛，濕熱氣虛下陷</u></p>
<p>從東垣治法，用補中益氣湯　人參　西耆　於朮　甘草　陳皮　當歸　柴胡　大棗　升麻　生薑</p>
<p><u>脫肛，純屬氣虛下陷</u></p>
<p>人參　歸身　白朮　廣皮　綠升麻　川連　白芍　炙草　烏梅　石蓮子</p>
<p><u>腎氣不歸</u>（少腹痛，肛墜，便滑）</p>
<p>熟地　五味　遠志肉　懷山藥炭　茯苓　萸肉　菟絲餅　禹餘糧</p>
<p><u>年老氣陷脫肛</u></p>
<p>人參　補骨脂　陽起石　鹿茸　大茴香</p>
<p>又　禹糧石脂丸</p>
<p>陳參曰：脫肛一症，有因瀉痢氣陷而脫者，有因中氣虛寒不能收攝而脫者，有因酒濕欲傷而脫者，有因腎虛濕注而脫者。或年老氣血已衰，或年少氣血未旺，亦致脫肛。經云：下者舉之。徐之才曰：澀可去脫。皆治脫肛之法。《葉天士指南》治此症不外升舉、固澀、益氣三法。對氣熱血熱肛而反挺出者，則用芩連槐柏皮四物升柴之類。然亦間有此症，非可訓之法，存之以備一說。脫肛症不宜過用苦涼，大約以葉氏治法為正。</p>

<h3>三消症章</h3>
<p>（嘈症附）</p>
<p>經云：二陽結謂之消。二陽者，手足陽明也。手陽明大湯主津病，消則目黃口乾，是津不足也。足陽明胃主血，熱則消穀善飢，是血中挾火，血不足也。未傳能食，必發癰疽，不能食，必傳如脹滿，皆不治，經云：飲食入胃，精氣輸脾。又脾與胃膜相連，又脾主為胃行其津液。脾屬陰，主血，胃屬陽，主氣。胃易燥，全賴脾陰以和之。脾易濕，必賴胃陽以運之。故一陰一陽合沖和之氣，而為後天生化之源也。若脾陰虛，則胃家遊溢之精氣全輸於脾，不能稍留津液以自潤，則胃過於燥而有火矣。故急欲得食以自資，遲則嘈雜尤甚。若失治則必延成消膈之症。</p>
<p>上消肺因心移熱，二便如常飲水適。中消胃熱食偏多，大便硬堅小便赤。下消腎熱渴飲湯，耳輪焦乾便淋瀝，雖分肺胃腎三般，總是腎水不足得。腎水不足虛火炎，津液乾枯血虛極。地黃飲子六味丸，清息用之定有益。</p>
<p><u>鬱火致消</u>（善飢而渴目加癟，心鬱火燃當清陽明之熱，以滋少陰）</p>
<p>生地　麥冬　生白芍　石膏　知母　西甘草</p>
<p>朱丹溪消渴方　生地　花粉　川連　藕汁　牛乳</p>
<p><u>煩勞心營熱</u>（肌瘦飢渴，是上中二消病）</p>
<p>烏犀角　元參　沙參　地骨皮　鮮生地　麥冬　柿霜　生甘草</p>
<p>又　固本丸加人參</p>
<p><u>肝陽犯胃成消</u></p>
<p>石膏　生地　生白芍　人參　川斛　粳米　阿膠　知母　生甘草　麥冬　陳皮　佩蘭</p>
<p><u>元陽變動，爍津成消</u>（此甘緩和陽生津法）</p>
<p>河間甘露飲　炙黑草　生白芍　生地　麥冬　知母　生棗仁</p>
<p><u>腎消</u>（飢渴便渾，舌碎面赤，是陰虛陽氣上燔）</p>
<p>六味丸加牛膝　車前　補足三陰</p>
<p><u>腎陰虛，胃火脹成消</u>（脈左數能食）</p>
<p>六味丸加天冬　麥冬　龜版　女貞子　川萆薢　旱蓮</p>
<p><u>腎陰虛，心火亢</u>（形瘦脈搏，渴飲善食，三消症也）</p>
<p>陳曰：古人謂入水無物不長，入火無物不消。河間每以益腎水、制心火、除腸胃燥熱、濟身中液枯是真治法。用玉女煎。三消症雖有上中下之分，其實不外陰虧陽亢，津液枯涸，熱淫而已。當以仲景之腎氣丸、《本事方》之神效散為主。腎氣丸助真火蒸化，升津液，上承神效散，取水中鹹寒之物，遂其性而治之。方用白海浮石、蛤殼粉、蟬退為末，以大鯽魚七個，搗爛調服。</p>
<p>腎消兩腿漸細，腰足無力，此因中消之後，胃熱入腎，銷爍腎脂，令腎枯槁，溲如膏脂。晉人云：肺主氣，肺無病則氣能管束精液。其精微者營養筋骨血脈。余者為溲。肺病則津液無氣管束，而精微者亦隨溲下如膏脂也。</p>
<p><u>白茯苓丸</u></p>
<p>茯苓　元參　人參　川萆薢　覆盆子　熟地　川連　川斛　蛇床子</p>
<p>白蜜為丸，磁石湯下。</p>
<p><u>附嘈症</u></p>
<p>嘈有虛實真偽，其病總在於胃。胃過於燥則火升，而嘈得食可止。久延便變消渴症。</p>
<p><u>陽升嘈雜</u></p>
<p>生地　柏子仁　茯神　麥冬　料豆皮　川斛</p>
<p><u>心腸熱嘈，必煩熱頭汗</u></p>
<p>淮小麥　茯神　南棗　柏子仁　炙草　辰砂</p>
<p><u>血虛嘈雜</u>（兼咽瘡）</p>
<p>生地　麥冬　生白芍　炙草　天冬　女貞　火麻仁　茯神</p>
<p><u>肝陰虛發嘈</u>（婦人半日一發，夜則更甚）</p>
<p>生地　清阿膠　茯神　天冬　紫丹參　白芍</p>
<p>陳參曰：脾陰虛則胃燥而有火矣。治當補脾陰，養營血，兼補胃陰，甘涼濡潤，稍佐微酸。</p>

<h3>腳氣章</h3>
<p>腳氣腳膝時痠疼，赤腫兼患脹腹心。不腫熱痛乾腳氣，氣腫而痛濕氣明。因風則麻因寒痛，嘔吐喘急憂危臨。寒溫濕滲風宜汗，熱下諸法須評論。又有下陷致跗腫，脾氣虛弱胃氣沉。脾坤靜德乾健運，中氣衝和清濁分，脾土受傷不制水，水穀之氣下陷應。足跗腫者用何法，補中益氣湯提升。</p>
<p><u>濕熱跗腫，痠軟</u>（足背赤腫，皮亮溲黃）</p>
<p>川獨活　豬苓　木瓜　黑梔皮　滑石　赤茯苓　澤瀉　椒目　料豆皮　知柏　八味丸</p>
<p><u>寒濕腿痠，跗腫痛</u></p>
<p>川桂木　熟附子　茯苓皮　蠶砂　川獨活　宣木瓜　制香附　牛膝</p>
<p><u>脾明虛寒，腿肚及跗浮腫</u>（按指下陷酸冷）</p>
<p>巴戟肉　猺桂　香附　於朮　金狗脊　川附子　茯苓　獨活　牛膝　宣木瓜　淡蓯蓉　人參　炮姜　車前　五加皮　益智　山萸　山藥</p>
<p><u>足三陰虛，腳背足心跗腫，氣逆喘怠，水泛為痰</u></p>
<p>熟地　虎脛骨　杜仲　白芍　龜版　人參　熟川附　杞子　香附　牛膝　茯苓　上肉桂　麥冬　乾薑　陳皮　廣沉香　五味　附桂八味丸</p>

<h3>疝症章</h3>
<p>七疝在肝，《內經》謂衝脈為病，又謂任脈為病。男子結七疝，女子帶下鷖瘕，同為腎經主之。脅中少腹皆肝脈，遊行之所，氣凝緊為腹聚，久結形為瘕疝。暴疝多寒，久疝多熱。《素問》諸經之疝云：任脈為病，結七疝，督脈生病。為沖疝。脾傳之腎，病名疝鷖，三陽為病，發寒熱，傳為㿗疝。邪客於足厥陰之絡，令人卒疝暴痛。</p>
<p>陳參曰：少陽上聚為瘕，厥陰下結為疝。</p>
<p><u>氣衝疝</u>（上衝心不得前後，能上不能下，為沖）</p>
<p><u>狐疝</u>（夜出晝入如狐，乃肝木病）</p>
<p><u>㿉癃疝</u>（腎脈滑甚為㿉癃疝囊，膿血溺秘，乃脾邪傳腎也）</p>
<p><u>㿗疝</u>（頑痹不仁，丸大如升如斗）</p>
<p><u>厥疝</u>（肝木乘脾，厥逆上升也）</p>
<p><u>疝瘕</u>（脾傳之腎，少腹實熱而痛，狀如黃瓜）</p>
<p><u>㿉疝</u>（足陽明病㿉疝，脈滑為㿉疝，乃肝木乘胃也，囊大膿血）</p>
<p>以上系七般疝氣。</p>
<p>熱鬱於中，寒包熱，小腹急痛連睪丸。導氣湯加荔橘核，附姜故（破故紙）仲青通餐。偏墜不痛本腎氣，蒼芷滑（石）半（夏）加可寬。婦人厥陰寒氣聚，小兒食積治無難。</p>
<p><u>督任陽虛疝</u>（氣墜下結，升陽為主）</p>
<p>鹿茸　沙蒺藜　歸身　鹿角　菟絲子　桂枝</p>
<p><u>奇脈陽虛疝</u>（疝瘕繞臍，汩汩有聲）</p>
<p>淡蓯蓉　杞子　沙蒺藜　紅棗　小茴香　歸身　白茯苓</p>
<p><u>筋疝</u>（怒勞所傷也）</p>
<p>淡蓯蓉　小茴香　歸身　胡桃　山羊腎　補骨脂　家韭子　茯苓　青鹽　搗為丸</p>
<p><u>肝疝犯胃</u>（納食湧吐，宿疝上衝）</p>
<p>墨附子　淡吳萸　豬膽汁　淡乾薑　川楝子</p>
<p><u>濁陰聚肝絡疝</u>（臍旁動氣，少腹結疝，睪丸偏墜）</p>
<p>淡蓯蓉　枸杞子　白茯苓　安息香　歸身　小茴香　川連　川楝子　廣木香　吳萸　延胡索　青橘葉　桃仁　穿山甲　炒橘核　歸尾　小茴香　郁李仁　山楂　泡吳萸　小青皮　左牡蠣　蔥白　川桂枝　建澤瀉</p>
<p><u>膀胱寒濕，凝滯疝氣</u>（陰囊莖痛）</p>
<p>五苓散加防己　獨活</p>
<p><u>鬱怒肝疝腫脹</u>（用丹溪通陽泄濁法）</p>
<p>歸鬚　橘核　小茴香　青皮　木香　炒山梔　青蔥　川楝子　香附　小茴　延胡索</p>
<p><u>久疝濕邪熱鬱</u></p>
<p>川柏　龍膽草　山梔　蘆薈　細辛　知母　海金砂　豬苓　澤瀉　川連　木香　冬葵子　川桂枝　山梔　橘核　郁李仁　川楝子</p>
<p>又方　肉桂　當歸身　鹿角　川芎　小茴　炙甘草　茯苓　生薑　羊肉膠為丸</p>
<p><u>疝兼瘧母</u></p>
<p>陰瘧久延，邪入肝絡，少腹痛漸硬，結陰前後處筋痛。</p>
<p>淡蓯蓉　穿山甲　杞子　歸身　大茴香　黑川烏　水安息　鹿茸　黑豆　小茴香</p>
<p>陳參曰：疝不離乎肝，又不越乎寒。以肝脈絡陰器，為至陰之臟，足太陽之脈屬腎絡膀胱，為寒水之經。故仲景以溫散祛寒、調營補氣為主，而子和又以辛香流氣為主。胃肝得疏泄乃愈，則金鈴子散、虎潛丸二法是也。</p>

<h3>喉痹章</h3>
<p>經云：一陰一陽結謂之喉痹。一陰者手少陰君火，心之脈氣也。一陽者，手少陽相火，三焦之脈氣也。夫二經之脈並絡於喉，故氣熱則內結，結則腫脹，甚則痹，痹甚死。十二經惟太陽別下項，其餘皆湊咽喉。《內經》何以獨言一陰一陽，以君相二火獨勝則熱且痛矣。</p>
<p>喉痹總因風熱沖，血虛虛火遊行攻。更挾風痰喉間客，遂有此症腫痛凶。緩者祛風與清熱，急用桐油探吐松。</p>
<p><u>風火上郁喉痹</u>（用辛涼清上法）</p>
<p>薄荷　射干　大力子　杏仁　綠豆皮　連翹　桑皮　馬勃絨　滑石　西瓜翠</p>
<p><u>肺燥熱喉痹</u></p>
<p>北沙參　川斛　桑葉　地骨皮　川貝母　元參　花粉　綠豆皮　苡仁　蘆根　枇杷葉　百部</p>
<p><u>濁穢上受，咽喉腫痹</u>（此清降開灌法）</p>
<p>連翹　廣鬱金　山梔　廣橘皮　馬勃　大力子　杏仁　竹葉丸</p>
<p><u>氣分熱毒喉痹</u></p>
<p>銀花　馬兜鈴　連翹　蘆根　川貝　白金汁　通草</p>
<p>又方　杏仁霜　甘草　苦桔梗　川貝</p>
<p><u>陰虛火炎喉痹</u>（日久不愈）</p>
<p>生地　元參　雞子黃　阿膠　麥冬　糯稻根鬚</p>
<p>又六味丸　方內中牛膝、蓮子、芡實煎丸皆可。又復脈湯加天冬、牛膝，去生薑、桂枝。又豬膚湯。</p>
<p><u>少陰喉痛</u>（肌肉消爍，下焦易冷，骨髓已空）</p>
<p>用填髓法：生羊骨髓、豬骨髓、鹿角膠等分，搗為丸。</p>
<p>陳參曰：喉症古方法治法用辛散咸軟，去風痰，解熱毒為主，如元參升麻湯、《聖濟》透關散，及玉鑰匙、通聖散、《普濟》消毒飲，皆緩本而以治標為急者也。恐緩則傷人，故急於治標。</p>
<p>陳曰：近時喉痹之證，多因失血從水，不制火而起。治法以滋水斂陽為主。</p>
<p>宜宗丹溪之說。</p>

<h3>耳病章</h3>
<p>腎開竅於耳，心寄竅於耳。耳為清空之竅，陽交會流行之所。一受風熱火鬱之邪，及水衰火實，腎虛氣厥者，皆致耳鳴失聰。</p>
<p>耳為腎竅病屬腎，腎虛耳聾不能聽。少陽脾濕繞耳中，邪氣感之耳鳴應。濕熱擾胃胃火炎，亦致耳鳴紅腫甚。右屬陽明左少陽，腫而出膿風熱病。</p>
<p><u>風溫上郁耳鳴</u></p>
<p>溫邪暑熱火風侵竅，用輕可去實法輕清泄降。</p>
<p>薄荷　杏仁　通草　苦丁茶　菊葉　荷梗　連翹　桔梗　馬勃　綠豆皮　銀花　川貝　羚羊片　大力子　元參　蔓荊子　荷葉汁　夏枯花　滑石　鮮竹葉　石膏　黃芩　益元散　連翹　山梔</p>
<p><u>膽火上郁耳聾</u>（頭痛耳脹，治法與上略同）</p>
<p>青蒿　丹皮　象貝　石決明　桑葉　山梔　連翹　滁甘菊</p>
<p><u>郁傷心腎，膽火上炎，耳聾</u></p>
<p>清泄耳嗚，病由於郁，用煎方，以清少陽，丸藥以補心腎。</p>
<p>生地　夏枯草　山梔　生草　丹皮　女貞子　赤苓　白芍　五味子　茯神　辰砂　磁石　建蓮子</p>
<p>沉香丸方用熟地　龜版　麥冬　牡蠣</p>
<p><u>氣閉耳鳴</u></p>
<p>連翹　川樸　木通　苦丁茶　杏仁　廣皮　防己　鮮荷葉汁</p>
<p><u>腎虛耳聾</u></p>
<p>陰虛陽亢，內風上施蒙竅，當壯水制陽，填陰鎮逆，佐以鹹味入陰，酸味和陽。</p>
<p>大熟地　瑣陽　牛膝　磁石　萸肉　龜板心　茯神　遠志　秋石　五味</p>
<p><u>八十高年耳聾</u>（且下虛上實，當填補下焦）</p>
<p>六味丸加磁石　龜板　五味　遠志</p>
<p>陳參曰：耳病治法不外乎通陽鎮陰，補心益腎清膽等法。體虛失聰，治在心腎，邪干竅閉，治在膽經。</p>

<h3>目病章</h3>
<p>經云：五臟六腑之精華，皆上注於目。目者肝之竅也，肝與膽為表裡，肝液膽汁充足，目乃能遠視，故無論外感內症，皆與肝膽有關。六淫之邪，風火與燥氣居多，內起之症，肝膽與心腎為多。</p>
<p>白睛屬肺曰氣輪，烏球屬肝曰風輪。大小眥心曰火輪，上下胞脾曰肉輪。瞳神屬腎曰水輪，五臟五輪多肝經。目得血養視乃明，肝有風熱目病生。</p>
<p><u>風溫上郁目赤</u>（左脈弦）</p>
<p>桑葉　夏枯草　連翹　草決明　菊葉　青菊花　苦丁茶　桑皮　料豆衣</p>
<p><u>燥熱目赤且痛</u></p>
<p>鮮荷葉　山梔　赤芍　綠豆皮　夏枯草　生草　菊葉　苦丁茶　料豆衣　薄荷　桑白皮　連翹</p>
<p><u>暑熱鬱蒸目紅</u></p>
<p>桑葉　穀精珠　通草　綠豆衣　米仁　望月砂　茯苓</p>
<p><u>木火上郁目赤疼腫</u></p>
<p>羚羊片　夏枯草　桑葉　穀精草　石決明　丹皮　綠豆皮　米仁　連翹　炒山梔　生地　菊葉</p>
<p><u>血絡虛熱，眼痛，白上紅絲</u></p>
<p>羚羊片　連翹　川桂枝　青菊葉　丹皮　秦當歸</p>
<p><u>脾肺蘊熱</u>（目胞浮腫，不飢不運）</p>
<p>桑皮　大腹皮　苡米仁　通草　茯苓　廣陳皮　生薑皮</p>
<p><u>陰虛火鬱</u>（微寒汗出，下有痔漏，左眼疼）</p>
<p>六味丸去萸肉，加白芍，蔓荊子。</p>
<p><u>胃虛肝風</u>（右眼多淚，心嘈雜）</p>
<p>嫩黃耆　歸身　煨姜　大白芍　茯神　大棗</p>
<p><u>肝陰虛</u>（左目痛熱淚，翳膜）</p>
<p>桑葉　望月砂　黃甘菊　石決明　杞子　料豆衣　赤首烏　小胡麻（即黑芝麻）</p>
<p><u>肝腎虛目痛</u>（治法同前）</p>
<p>熟地　歸身　茯神　白蒺藜　萸肉　五味　菊花　柏子仁　生地　山藥　桑椹子　大天冬　杞子　穀精草</p>
<p>陳參曰：治法外感者必有寒熱，頭痛鼻塞，骨疼，脈見緊數浮洪方可清散。內固者如肝膽之風熱盛，當散熱除風，如腎經之水。火衰，當壯水益火。若陰血雖虧，而風熱未盡，則當審其緩急，相參而治。</p>

<h3>鼻病章</h3>
<p>經云：肺和則鼻能知香臭。又云：膽移熱於腦，令人辛頞鼻淵，傳為衄衊瞑目，是知初感風寒之邪，久則化熱，熱鬱則氣痹而窒塞矣。衊，音蔑，鼻出血也。</p>
<p>無形之氣運於鼻，鼻塞聲重風寒被。膽熱移腦鼻淵生，喜飲鼻赤傷肺氣。</p>
<p><u>清邪郁久肺氣窒塞</u>　鼻起紅椒，當開上宣郁法。</p>
<p>蔓荊子　連翹　鮮荷葉　苦丁茶　滑石　香白芷</p>
<p><u>精虛鼻淵</u>　腦髓不固，淋下無穢氣，此勞怯之根也。</p>
<p>天真丸　人參　西耆　白朮　天冬　山藥　淡蓯蓉　當歸　羊肉</p>
<p><u>熱壅肺氣</u></p>
<p>知母　梨肉　貝母煎膏</p>
<p><u>腦熱鼻淵兼左鳴左甚</u></p>
<p>初用苦辛涼散法　山梔　飛滑石　羚羊片　苦丁茶　夏枯草　菊葉　連翹　久則用鹹降滋填鎮攝法　虎潛丸</p>
<p>又方　大熟地　虎骨　瑣陽　羯羊肉　歸身　懷牛膝　龜版　陳皮　肥知母　白芍　加法天冬　淡菜　豬脊筋</p>

<h3>口病舌病章</h3>
<p>口屬脾經舌屬心，舌和五味自知音。肝熱口酸心熱苦，脾熱口甘疳亦生。腎熱口咸虛則淡，寒亦口鹹食酸明。肺熱口辣內熱苦，口乾欲飲皆熱因。</p>
<p><u>心脾鬱熱，曰舌生疳，唇赤且燥</u></p>
<p>小生地　生甘草　麥冬　鮮石斛　滑石　炒山梔　生薏米　銀花　連翹心　通草</p>
<p><u>濕溫鬱蒸</u>（口舌滿布糜疳，唇紅穢氣，胃火胸煩）</p>
<p>淡豆豉　犀角尖　黑山梔　金石斛　花粉　鮮生地　羚羊片　淨銀花　西甘草　川貝　青蒿子　連翹　淡竹葉　鬱金　鮮葦莖　野薔薇　花露　荷花露　枇杷葉露　玫瑰露</p>

<h3>牙痛章</h3>
<p>牙痛不外風火蟲虛，此但言其痛也。他如牙宣、牙擪、牙疳、牙菌、牙癰穿牙、去骨槽風、走馬青腿牙疳之類，皆由乎濕火熱毒，肝鬱濕痰，蘊結牙床。須分上下二齒，辨明手足陽明及少陰之異。</p>
<p>木生於土牙生床，床本陽明牙腎鄉。下床嚼物大腸屬，上床不動胃經當。牙宣腫痛胃濕熱，竹葉石膏是主方。</p>
<p><u>溫邪上蒸牙疼</u>（痛連頭顛，用玉女煎法）</p>
<p><u>火鬱牙痛</u>（連頂顛，屬厥陰）</p>
<p>犀角　元參　生草　連翹　夏枯草　鈴角　知母　銀花　山梔</p>
<p><u>風熱牙痛</u>（齦脹頭痛，用輕清泄上法）</p>
<p>蘆根　西瓜翠　連翹　滑石　綠豆皮　銀花</p>
<p><u>陰虛火炎牙痛</u>（嗜飲，牙宣，衄血，咳血）</p>
<p>人中白　鮮石斛　大澤瀉　旱蓮草　生牡蠣　綠豆皮</p>
<p><u>牙痛後絡痹</u>（頰車穴，閉口不能張，用宣通法）</p>
<p>羚角片　煨天麻　制殭蠶　桂枝尖　炒山梔　炒丹皮</p>
<p><u>骨槽風痛</u>（或緩或甚，連空穴脹痛甚，心煩）</p>
<p>先用陽和湯法　猺天桂　鹿角膠　大熟地　淨麻黃　白芥子　甘草</p>
<p>走馬青腿牙疳即名牙嘯，牙齦出衄紫色，口臭，脈反澀細，兩腿青如靛，此濕熱鬱火蘊結陽明，肝腎陰虧。</p>
<p>犀角　石膏　知母　懷牛膝　銀花　元參　鬱金　生地　熟地　丹皮　人中白　麥冬　旱蓮　女貞子　連翹　碧玉散　茯苓　龜版心　炒山梔　羚羊片　生草　川石斛　川貝　安南桂　料豆衣</p>
