<header data-type="book">
<h1>脈訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>崔嘉彥</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1189">公元1189年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆癸未（11年，1583）金陵周氏仁壽堂刊本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=377a23785a9945439b3f57e17664dfbafDcyNDQz0&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>正文</h1>
<p>人身之脈　本乎榮衛　榮者陰血　衛者陽氣　榮行脈中　衛行脈外　脈不自行　隨氣而至　氣動脈應　陰陽之義　氣如橐籥　血如波瀾　血脈氣息　上下循環　十二經中　皆有動脈　手太陰經　可得而息　此經屬肺　上系吭嗌　脈之大會　息之出入　初持脈時　令仰其掌　掌後高骨　是謂關上　關前為陽　關後為陰　陽寸陰尺　先後推尋　寸關與尺　兩手各有　揣得高骨　上下左右　男女脈同　惟尺則異　陽弱陰盛　反此病至　調停自氣　呼吸定息　四至五至　平和之則　三至名遲　遲則為冷　六至為數　數即熱證　轉遲轉冷　轉數轉熱　在人消息　在人差別　遲數即得　即辨浮沉　浮表沉里　深淺酌斟　浮數表熱　遲數里熱　浮遲表虛　沉遲冷結　察其六部　的在何處　一部兩經　一臟一腑　左寸屬心　合於小腸　關為肝膽　尺腎膀胱　右寸主肺　大腸同條　關則脾胃　尺命三焦　不特臟腑　身亦主之　上下中央　三部分齊　寸候胸上　關候膈下　尺候於臍　直至跟踝　左脈候左　右脈候右　病隨所在　不病者否　浮沉遲數　有內外因　外因於天　內緣於人　天則陰陽　風雨晦明　人喜怒憂　思悲恐驚　外因之浮　則為表證　沉里遲寒　數則熱盛　內因浮脈　虛風所為　沉氣遲冷　數躁何疑　表裡寒熱　風氣冷燥　辨內外因　脈證參考　浮沉之脈　亦有當然　浮為心肺　沉屬腎肝　脾者中州　浮沉之問　肺重三菽　皮毛相得　六菽為心　得之血脈　脾九菽重　得於肌肉　肝與筋平　重十二菽　惟有腎脈　獨沉之極　按之至骨　舉指來疾　脈理浩繁　總括於四　六難七難　專衍其義　析而言之　七表八里　又有九道　其名乃備　浮而無力　是名芤脈　有力為洪　形狀可識　沉而有力　其脈為實　無力微弱　伏則沉極　脈遲有力　滑而流利　無力緩澀　退同一例　數而有力　脈名為緊　小緊為弦　疑似宜審　合則為四　離為七八　天機之秘　神授之訣　舉之有餘　按之不足　泛泛浮浮　如水漂木　芤脈何似　絕類慈蔥　指下成窟　有邊無中　滑脈如珠　往來轉旋　舉按皆盛　實脈則然　弦如張弦　緊如細線　洪較之浮　大而力健　隱隱約約　微渺難尋　舉無按有　便指為沉　似遲不遲　是謂之緩　如雨沾沙　澀難而短　遲則極緩　伏按至骨　濡則軟軟　弱則忽忽　既知七表　又知八里　九道之形　不可不記　諸家九道　互有去取　不可相無　可以相有　過於本位　相引曰長　短則不及　來去乖張　形大力薄　其虛可知　促結俱止　促數結遲　代止不然　止難回之　三脈皆止　當審毫釐　牢比弦緊　轉堅轉勁　動則動搖　厥厥不定　細如一線　小而有力　弦大虛芤　脈曰改革　渙漫不收　其脈為散　急疾曰數　脈最易見　即脈求病　病無不明　病參之脈　可決死生　然有應病　有不相應　此最宜詳　不可執定　人安脈病　是曰行屍　人病脈和　可保無危　中風脈浮　滑兼痰氣　其或沉滑　勿以風治　或浮或沉　而微而虛　扶危溫痰　風未可疏　寒中太陽　浮緊而澀　及傳而變　各狀難悉　陽明則長　少陽則弦　太陰入里　遲沉必兼　及入少陰　其脈遂緊　厥陰熱深　脈伏厥冷　在陽當汗　次利小便　表解里病　其脈實堅　此其大略　治法之正　至於大法　自有仲景　傷寒有五　脈非一端　陰陽俱盛　緊澀者寒　陽浮而滑　陰濡而弱　此名中風　勿用寒藥　陽濡而弱　陰小而急　此非風寒　乃濕溫病　陰陽俱盛　病熱之極　浮之而滑　沉之散澀　惟有溫病　脈散諸經　各隨所在　不可指名　暑傷於氣　所以脈虛　弦細芤遲　體狀無餘　或澀或細　或濡或緩　是皆中濕　可得而斷　瘧脈自弦　弦遲多寒　弦數多熱　隨時變遷　風寒濕氣　合而為痹　浮澀而緊　三脈乃備　腳氣之脈　其狀有四　浮弦為風　濡弱濕氣　遲澀因寒　洪數熱鬱　風汗濕溫　熱下寒熨　腰痛之脈　皆沉而弦　兼浮者風　兼緊者寒　濡細則濕　實則閃肭　指下既明　治斯不忒　尺脈虛弱　緩澀而緊　病為足痛　或是痿病　澀則無血　厥寒為甚　尺微無陰　下痢逆冷　熱厥脈伏　時或而數　便秘必難　治不可錯　疝脈弦急　積聚在裡　牢急者生　弱急者死　沉遲浮澀　疝瘕寒痛　痛甚則伏　或細或動　風寒暑濕　氣鬱生涎　下虛上實　皆暈而眩　風浮寒緊　濕細暑虛　涎弦而滑　虛脈則無　治眩暈法　尤當審諦　先理痰氣　次隨證治　滑數為嘔　代者霍亂　微滑者生　澀數凶斷　偏弦為飲　或沉弦滑　或結或伏　痰飲中節　咳嗽所因　浮風緊寒　數熱細濕　房勞澀難　右關濡者　飲食傷脾　左關弦短　疲極肝衰　浮短肺傷　法當咳嗽　五臟之嗽　各視本部　浮緊虛寒　沉數實熱　洪滑多痰　弦澀少血　形盛脈細　不足以息　沉少伏匿　皆是死脈　惟有浮大　而嗽者生　外證內脈　參考秤停　下手脈沉　便知是氣　沉極則伏　澀弱難治　其或沉滑　氣兼痰飲　沉弦細動　皆氣痛證　心痛在寸　腹痛在關　下部在尺　脈象顯然　心中驚悸　脈必代結　飲食之悸　沉伏動滑　癲癇之脈　浮洪大長　滑大堅疾　痰蓄心狂　乍大乍小　乍長乍短　此皆邪脈　神志昏亂　汗脈浮虛　或澀或濡　軟散洪大　渴飲無餘　遺精白濁　當驗於尺　結芤動緊　二證之的　鼻頭色黃　小便必難　脈浮弦澀　為不小便　便血則芤　數則赤黃　實脈癃閉　熱在膀胱　諸證失血　皆見芤脈　隨其上下　以驗所出　大凡失血　脈貴沉細　設見浮大　後必難治　水腫之證　有陰有陽　察脈觀色　問證須詳　陰脈沉遲　其色青白　不渴而瀉　小便清澀　脈或沉數　色赤而黃　燥屎赤溺　兼渴為陽　脹滿脈弦　脾制於肝　洪數熱脹　遲弱陰寒　浮為虛滿　緊則中實　浮則可治　虛則危急　胸痞脈滑　為有痰結　弦伏亦痞　澀則氣劣　肝積肥氣　弦細青色　心為伏梁　沉芤色赤　脾積痞氣　浮大而長　其色脾土　中央之黃　肺積息賁　浮毛色白　奔豚屬腎　沉急面黑　五臟為積　六腑為聚　積在本位　聚無定處　駃緊浮牢　小而沉實　或結或伏　為聚為積　實強者生　沉小者死　生死之別　病同脈異　氣口緊盛　為傷於食　食不消化　浮滑而疾　滑而不勻　必是吐瀉　霍亂之候　脈代勿訝　夏月泄瀉　脈應暑濕　洪而數溲　脈必虛極　治暑溫瀉　分其小便　虛脫固腸　罔或不痊　無僓不痢　脈宜滑大　浮弦急死　沉細無害　五疽實熱　脈必洪數　如或微澀　證其虛弱　骨蒸勞熱　脈數而虛　熱而澀小　必殞其膒　如汗加咳　非藥可除　頭痛陽弦　浮風緊寒　風熱洪數　溫細而堅　氣虛頭痛　雖弦必澀　痰厥則滑　腎厥堅實　癰疽浮數　惡寒發熱　若有痛處　癰疽所發　脈數發熱　而疼者陽　不數不熱　不疼陰瘡　發癰之脈　弦洪相搏　細沉而滑　肺肝俱數　寸數而實　肺癰已成　寸數虛澀　肺痿之形　肺癰色白　脈宜短澀　死者浮大　不白而赤　腸癰難知　滑數可推　數而不熱　腸癰何疑　遲緊未膿　下以平之　洪數膿成　不下為宜　陰搏於下　陽別於上　血氣和調　有子之象　手之少陰　其脈動甚　尺按不絕　沉為有孕　少陰屬心　心主血脈　骨為胞門　脈應於尺　或寸脈微　關滑尺數　往來流利　如雀之啄　或診三部　浮沉一止　或平而虛　當問月水　男女之別　以左右取　左疾為男　右疾為女　沉實在右　浮大在右　右女左男　可以為吋　離經六至　沉細而滑　陣痛連腰　胎即時脫　血瘕弦急　而大者生　虛小弱者　即見死形　半產漏下　革脈主之　弱即血耗　立見傾危　診小兒脈　浮沉為先　浮表沉里　便知其源　大小滑澀　虛實遲駃　容依脈形　以審證治　大凡婦人　及夫嬰稚　病同丈人　脈即同例　惟有婦人　胎產血氣　小兒驚疳　變蒸等類　各有方法　與丈夫異　要知婦孺　貴識證形　問始之詳　脈難盡憑　望聞問切　神聖工巧　愚者脈脈　明者了了　病脈診法　大略如斯　若乃持脈　猶所當知　謂如春弦　夏名鉤脈　秋則為毛　冬則為石　實強大過　病見於外　虛微不及　病決在內　四脈各異　四時各論　皆以胃氣　而為之本　胃氣者何　脈之中和　過與不及　皆是偏頗　春主肝木　夏主心火　脾土乘旺　則在長夏　秋主肺金　冬主腎水　五臟脈象　與五運配　肝脈弦長　厭匕聶匕　指下尋之　如循揄葉　益堅而滑　如循長竿　是謂太過　受病於肝　急如張弦　又如循刀　如按琴瑟　肝死之應　浮大如散　心和且安　累匕如環　如循琅玕　病則益數　如雞舉足　死操帶鉤　後踞前曲　浮澀而短　藹匕如蓋　此肺之平　按之益大　病如循羽　不下不上　死則消索　吹毛颺匕　沉濡而滑　腎乎則若　上大下銳　滑如雀啄　腎之病脈　啄啄連屬　連屬之中　然而微曲　來如解索　去如彈石　已死之腎　在人審識　脾者中州　平和不見　然亦可察　中大而緩　來如雀啄　如滴漏水　脾臟之衰　脈乃見此　又有肥瘦　修長侏儒　肥沉瘦浮　短促長疏　各分診法　不可一途　難盡者意　難窮者理　得之於心　應之於指　勉旃小子　日誦琅琅　造道之玄</p>
