<header data-type="book">
<h1>經驗奇方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周子薌</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1898">公元1898年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第九冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521059">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>古今方書夥矣。或文理深奧。或議論紛紜。合覽諸編。則備增其美。分觀一集。只各盡所長。知醫者察脈辨症。固應廣為蒐羅。不知者卷帙浩繁。奚暇尋其條理。求其至簡至約平易近人者。莫如單方一門。然單方難得。世人往往秘而不傳。余竊恨焉。今春余承同安參鎮陳子明都督之聘。適山陰周子薌先生。亦就邑侯李蘭生司馬之幕。共事一本。相與盤桓。諸叨教益。其平時樂善不倦。胞與為懷。公餘時兼參醫理。考究精微。一日以所著經驗奇本一書。分為兩卷。欲登梨棗。見示於余。余詳觀始末。其中施治方藥。條條經驗。種種靈奇。內科則有臨危救活之良方。外證又有丸散膏丹之秘訣。無一不備。無美不臻。簡要精詳。開卷瞭如指掌。向之所恨不傳者。今則得從吾願耳。得是書者。舉凡居家行旅。以及僻處窮鄉。隨地隨時。緩急可持。依方施治。奏效如神。誠救世之慈航。衛生之寶筏也。爰綴數言。以鐫其後。</p>
<p><u>光緒二十四年歲次戊戌仲冬之月福建海壇林賢慶拜序</u></p>

<h1>卷上</h1>

<h2>濟顛祖師乩傳仙果散</h2>
<p>此散功能去積消痰。通經行氣。取效神速。且便攜帶。居家作客。均宜預備。經久不壞。愈陳愈妙。誠濟世之靈散。救病之至寶也。</p>
<p>一泄瀉。每次嚼數分。咽汁吐渣。二三錢即愈。</p>
<p>一紅白痢。日嚼二三錢。一二日即愈。</p>
<p>一諸瘧。日嚼二三錢。連嚼二三日。瘧止為度。</p>
<p>一胃停食積。舌胎必黃厚。日嚼二錢。嚼一二三日。積消胃開為度。</p>
<p>一胃氣疼痛。甚至每晨嘔吐者。用五六錢水煎濃汁。熱服即愈。</p>
<p>一霍亂吐瀉。用四五錢水煎服。即愈。</p>
<p>一風火喉痛喉蛾。嚼二三錢即愈。</p>
<p>一痰嗽。日嚼二錢。連嚼數日。至愈為度。薑湯送服亦可。</p>
<p>一中風不語。每日早晚各服一錢。生薑湯送下。至愈為度。</p>
<p>一飯後動風。旋由胸腹脹起。延脹四肢。名曰氣脹。日嚼二三錢。連嚼數日。俟脹消盡為度。不必忌咸。</p>
<p>一小便短少。旋由兩足背脹起。漸至上身。名曰水脹。治法同上。</p>
<p>一婦女經閉肚脹。手足細瘦。俗名蜘蛛脹。日嚼二三錢。漸嚼漸效。總以脹消盡為度。自然眠食如常。數月之後。血氣充足。經水自通。</p>
<p>一婦女經閉。日嚼二錢。至經通為度。或因血衰經閉忌服。</p>
<p>一婦女經水不調。氣鬱不舒。日嚼一二錢。數日即愈。</p>
<p>一婦女臨經腹痛。俟經來痛時。日嚼二錢。連嚼二三日。俟下期見效。</p>
<p>一酒醉人昏。用三四錢。水煎濃汁。熱服即醒。</p>
<p>統須忌食生冷、瓜果、香菇、蘑菇、冬筍、酒糟、蝦蟹、油炸、麵食、芋艿、發氣等物。虛症忌服。孕婦不忌。</p>
<p>青果（一百斤）　青鹽　白鹽（各四斤）　陳皮（三十兩）　木香　青皮　砂仁（各一十兩）　丁香藿香　蘇葉（各五兩）　大茴　小茴　薄荷（各三兩）　花椒（一兩）</p>
<p>上藥各先將青白鹽搗極細。分五份。余藥共研為末。青果亦分五份。分次放於木腳盆內。加二鹽一份。兩手拌之。儲瓷缸內。余份仿此。次日取出。青果用小石臼舂。按粒舂開。去核完竣。缸底有汁就用細夏布濾去泥土。就將藥末。放入缸內。使汁收盡。再與青果肉拌勻。分次放大石臼內。舂成細碎。攤曬三五日。半乾為度。切勿太燥。儲潔淨壇內。築實封口。收藏一二年後。隨時聽用。效難盡述。敬祈仁人君子。如法配製。以備救濟疾苦。功無涯量。福有攸歸。</p>

<h2>仙傳三妙膏</h2>
<p>（陰陽症並治）</p>
<p>統治癰疽發背。對口疔瘡。無名腫毒。濕痰流注。楊梅結毒。瘰癧馬刀。婦人乳疽。小兒丹毒。湯火燒灼。蠍螫蜂叮。金刃所傷。出血不止。或被狗咬。腐痛不堪。或跌撲打傷。瘀痛難禁。或風寒濕氣襲入經絡。以致骨痛筋攣。或濕熱橫入脈絡。閃腰挫氣。動舉難伸。並大人小兒。五積六聚。男婦痞塊癥瘕並宜用之。又有瘡癰日久。內生腐骨。口極細小。時流黃水。諸法不效。此膏逐日貼之。其骨自然漸漸出露。以手輕輕拔去。骨盡收功。此膏貼癰疽等症。未成即消。已成即潰。潰後即斂。故名三妙。</p>
<p>紫荊皮　石菖蒲　獨活　赤芍　白芷（各二兩）　千金子　川大黃　川黃連　川黃柏　片黃芩全當歸　天花粉　穿山甲　白附子　海風藤　金銀花　大戟　鱉甲　牛膝　白芨　牛蒡子桃仁　紅花　荊芥　半夏　黃耆　牙皂　草烏　蓖麻　血餘　連翹殼　細辛　防風　苦參　殭蠶　蝟皮　巴豆　上瑤桂　良薑　蘇木　羌活　麻黃　烏藥　柴胡　天麻　全蠍　白蘞　生甘草　防己　貝母（各五錢）　蜈蚣（五條）　蛇蛻（二條）</p>
<p>上藥統切片。用麻油二百兩。入大銅鍋內浸七日夜。再入桃柳桑槐枝各二十一段。每段長寸許。如手指粗。以慢火熬至藥黑枯色。用細夏布。濾去渣。將鍋拭淨。仍以夏布濾入鍋內。再用文武火熬至油滴水成珠。大約得淨油一百六十兩為準。離火入燥飛黃丹八十兩。以一人持槐木棍。一人下丹。不住手攪勻。再入後藥。</p>
<p>乳香　沒藥（各去油八錢）　血竭　雄黃（各五錢）</p>
<p>此四味各研細末。和勻再研。先入攪勻。再入後藥。</p>
<p>真云麝　沉香　檀香　降香　木香　楓香　藿香　丁香（各五錢）　珍珠　冰片（各三錢）此十味。各研極細末。和勻再研。徐徐添入。攪極勻。再入樟腦五錢。再攪勻成膏。收藏聽用。效莫殫述也。</p>

<h2>雲臺膏</h2>
<p>（藥味純涼專治陽症）</p>
<p>統治發背對口搭手。頸癧乳癰。肚癰腰癰。爛腿臁瘡等症。初起消腫。已成潰膿。既潰斂口。潰後雖孔小如豆。不必拈藥線入管。而膿自出。有腐肉者。亦自然劃離消化。無須鉗割。有骨者亦能推出。不假刀針升降爛藥。始終只用此膏。極為簡便神速。且能減痛。可以眠食。與外科治法不同。症愈重則愈見力量。雖久潰無不收口。又如狗咬者貼之。則爛。爛而仍自收口。並無妨礙。至敷藥糝藥。乃與此膏相輔而行。不可缺也。</p>
<p>生大黃（五兩）　木鱉仁（三兩）　元參　生地黃　忍冬藤　土貝母　生甘草　薄荷　朴硝（各二兩）　生黃耆　全當歸（各一兩五錢）　苦杏仁　赤芍　川芎　生草烏　生半夏　生南星　白芷　生黃柏　生山甲　露蜂房　殭蠶　蜈蚣　全蠍　蛇蛻　漂銅綠　蓖麻仁　制乳香　蟬蛻　銀硃　生礬　枯礬　制沒藥　明雄黃　牡蠣粉　蟾皮　輕粉　川五倍（各一兩）　丁香　（五錢）　發團（二兩）</p>
<p>上藥用小磨麻油八斤。入銅鍋內。熬至藥黑枯色。用細夏布濾去渣。將鍋拭淨。仍以夏布濾入鍋內。文火熬至油滴水成珠。離火再入炒黃丹四十八兩。用槐木棍攪勻。再入後藥。炒鉛粉（一斤）　松香（提白八兩）　黃蠟　陳石灰　炒陀僧（各四兩）　蘇合油　樟腦（各一兩）</p>
<p>前藥隨下隨攪成膏。收儲瓷器聽用。</p>
<p>再初熬前藥內。或加後藥十一味更妙。</p>
<p>羌活　天花粉　連翹殼　防風　香附　蒼朮　陳皮（各一兩）　黃連　細辛　紅花　瑤桂（各五錢）</p>

<h2>萬應膏</h2>
<p>專治跌打損傷。青腫疼痛。如皮破出血者忌用。又治手足等處瘋痛。肝胃氣痛。胸腹腰等處膈氣疼痛。又治初起癰疽。貼之可散。如已成作痛者忌之。</p>
<p>嫩松香（一斤黃老者不用）　蓖麻仁　巴豆仁（各二兩）　康青　杏仁（開水泡去皮各一兩）　膽礬（五錢）</p>
<p>上藥。先將松香。用鐵鍋。水煎三次。取起候乾。隔一日。研細末。再以蓖麻仁、巴豆仁、各炒黑枯。（若不黑枯其性太烈不能用）康青膽礬。各研細末。先將杏仁落石臼。舂爛如泥。次下巴豆蓖麻仁。一併舂爛。再下康青膽礬。緩緩舂之。並將松香分數次下。隨下隨舂。再用麻油屢塗杵臼。勿致黏住。千捶成膏。儲瓷器。臨用時須重湯燉烊。攤貼患處。</p>

<h2>黃蠟膏</h2>
<p>專治新舊臁瘡。忌食酒糟。豬、羊、雞、鵝。香菇、麻菇、冬筍、煎炒、發氣等物。</p>
<p>黃蠟（八兩）　穿山甲　五倍子　血竭（各二兩）　麻油（二斤）　生槐枝　生柳枝（各四十二寸如手指粗）</p>
<p>上藥用銅鍋熬成七分。濾去渣。再加乳香、沒藥（各一兩）赤石脂、龍骨、五靈脂（各六錢）兒茶（四錢）各研細末。入鍋再熬。至油滴水成珠。再加黃丹（二兩）血餘炭（五錢）各研細末。攪勻候冷。加三梅冰（五錢）和勻。裝入瓷罐聽用。愈陳愈妙。用時將患處腐膿。紙拭乾淨。切忌水洗。油紙攤貼。每日早夜各換一次。效驗如神。</p>

<h2>豬膽膏</h2>
<p>專治大小無名腫毒。肉白色淡。陰疽忌用。</p>
<p>每年夏至後。用粗缽一個。逐日赴市討取豬膽。不拘多寡。攜回破膽皮。放汁於缽。隨放隨攪勻隨曬。夜間及遇雨。則用蓋蓋之。放曬至三伏後為止。封口收藏。隨時用油紙攤貼。效驗如神。</p>

<h2>第一靈寶丹</h2>
<p>此丹能卻百病。通利關竅。取效神速。居家出門。常宜預備。誠救急之靈丹。濟世之良藥也。</p>
<p>一受暑肚痛。或感寒鼻塞。頭疼腹痛。用丹少許。搐鼻一二次。取嚏十餘聲即愈。如病稍重。搐鼻無嚏。或只一二聲。病尚未除。或抹兩眼尖角。或用溫開水調服一分。以愈為度。</p>
<p>一感受暑氣。或受熱太過。關竅不通。或受寒氣。手足厥冷。氣閉血滯。默睡無語。須抹兩眼尖角二次。或用陰陽水。調服二分。以愈為度。或至不省人事。須服三分。方能奏效。抑或無論牙關緊閉與否。大約半時之久。每次取丹少許。連抹兩眼尖角三次。聽其安睡。勿使過熱。約逾二三時辰。自然起死回生。</p>
<p>一疫癘時行。取丹抹兩眼尖角三次。蓋被略睡。出汗自愈。</p>
<p>一指上生瘡。用雞蛋一枚。開一孔。攪勻黃白。入丹五釐。再攪勻。套指上。一二枚即愈。</p>
<p>一初起無名腫毒。用真米醋調搽。</p>
<p>一火眼之症。取丹抹眼角。</p>
<p>一六畜遇時症。取丹抹兩眼尖角。二三次即愈。</p>
<p>一常帶身上。疫氣不能沾染。孕婦忌服。搐鼻。抹眼角不忌。</p>
<p>辰砂（二兩）　雄精（五錢）　真蟾酥　鬧陽花（各一錢）　真云麝　上冰片　老薑粉（各三分）上藥將前四味。各研極細末和勻。後三味次第加入。研至勻細為度。裝儲瓷瓶。勿令泄氣。隨時分裝小瓶。黃蠟封口。外以刊刷方紙。包而傳送。功德殊無涯量矣。</p>

<h2>萬應十寶丹</h2>
<p>此丹乃仙傳秘方。丸治百病。其效如神。遇有疑似未明。一時迫切之症。可將此丹內服外用。無不應手立愈者。居家出門。均宜製備。濟人利己。功德莫大。誠救急之聖藥。濟世之良方也。</p>
<p>一中寒中暑。痧脹吐瀉。手足厥冷。並吐瀉不出。先以三丸研末。吹入鼻內。再以二十九丸放舌上。候微麻嚥下。如昏迷不能吞嚥。即研細末。溫水灌下自愈。</p>
<p>一感冒風寒噁心頭痛。或肚腹飽脹。及風痰等症。以七丸放舌上。微麻嚥下。</p>
<p>一受寒受暑。痧脹甚重。絞腸肚痛。心口閉悶。或不省人事。以五丸研細末。次入鼻內取嚏。再以二十一丸放舌上。少頃。溫開水送下。如不見輕。再照前服。</p>
<p>一緊痰氣厥。昏迷不省。牙關緊閉。不能服藥。即以十數丸研細。吹入鼻內。無嚏再吹。總以見嚏。方可施治。再以念三丸溫水灌服。即愈。</p>
<p>一癰疽疔毒。惡瘡頑㾾。發背對口。用數十丸研細末。好紹酒陳米醋調敷。再酌輕重服之。</p>
<p>一蛇蠍蜈蚣諸蟲咬傷。俱用數丸研細末。用好酒陳米醋調敷。內酌輕重服之。</p>
<p>一小兒急驚風。牙關緊閉。不能服藥。以四五丸研末。吹入鼻內。取嚏即醒。再以七丸溫水灌下即愈。若慢驚風。萬不可服。</p>
<p>一臌脹水腫。噎嗝反胃。以三丸放舌尖上。微麻嚥下。再服念三丸。日服二次。十日即愈。惟臌脹。須忌食鹽醬百日。</p>
<p>一胃口疼痛。氣痛寒痛。甚至飲食不下。以五丸放舌尖上。微麻嚥下。再用花椒七粒煎湯。送服念一丸即愈。</p>
<p>一山嵐瘴氣。夏月途行。空心觸受穢氣。口含三丸。使邪氣不能侵入。每遇盛寒盛暑。早晨服七丸。可保無恙。</p>
<p>一吐血衄血便血。其勢甚重。即用鮮藕自然汁送服念一丸。如無鮮藕。用干藕節七個。煎湯送下。</p>
<p>一跌打至死。驚死熱死。魘魅氣悶至死等症。凡有微氣。以數丸研細吹鼻內。再用溫水調灌。可望復生。如見嚏即活。</p>
<p>一瘟瘧暑瘧。日久不愈之瘧。或先熱後冷。或先冷後熱。無論陰瘧陽瘧。於迎瘧來時。用松蘿茶清送服念一丸。雖至重。連服三日即愈。</p>
<p>一泄瀉紅白痢噤口痢。雖日夜幾十次。勢甚委頓。用開水送下念一丸。立止如神。</p>
<p>一時疫頭痛身痛肚疼頭眩眼黑。以九丸放舌尖上。閉口微麻嚥下。再用溫水送服念一丸即愈。</p>
<p>一婦女經水不調經閉等症。經水不調。用當歸、生地、白芍、川芎各一錢。煎湯送服念一丸即愈。　經閉用紅花一錢。煎湯送服念九丸。連服三次即愈。</p>
<p>一疝氣上衝於心。不能行走者。用小茴香七粒研末。滾水沖送服三十九丸即愈。</p>
<p>一小兒悶痘悶疹。用薄荷芫荽各一錢。煎湯灌送三十丸即愈。</p>
<p>茅蒼朮（米泔水浸軟切片焙乾三兩）　大黃（切片焙乾六兩）　麻黃（去節細銼）　明天麻（切片焙乾）　明雄黃（研細水飛各三兩六錢）　生甘草（去皮炒二兩四錢）　蟾酥（一兩）　丁香（六錢）　真云麝　肥皂莢（去筋各三錢）</p>
<p>上藥各研極細末。和勻再研。燒酒為丸。如粟米粒大。外以硃砂三兩六錢研細末。水飛曬乾。研末為衣。以小瓷瓶收儲。黃蠟封口。切勿泄氣。孕婦忌服。</p>

<h2>如意丹</h2>
<p>治癰疽大毒惡瘡。並刀石破傷潰爛。功能解膿提毒。去腐生肌。</p>
<p>川五倍（焙燥二兩）　明雄精　炙山甲（各四錢）　蜈蚣（焙）　全蠍（焙各七隻）　蟬蛻（焙一十四隻）　真云麝　上梅冰（各三分）</p>
<p>上藥各研極細末。和勻再研。儲瓷瓶勿令出氣。臨用時。先將腐膿用弱紙拭淨。以破散羊毫筆蘸丹糝患處。金花散蓋面。雲臺膏貼之。每日早晚各換一次。忌食發氣煎炒酒糟等物。其效如神。</p>

<h2>三仙丹</h2>
<p>專治諸瘡毒腐。並拔陳瘡管肉。</p>
<p>火硝　皂礬（各三兩）　水銀（一兩五錢）</p>
<p>前二味先研勻細。加水銀研勻。攤入小鐵鍋內。以大碗蓋之。碗口四圍用綿紙條拈捻。麵糊封口。上覆砂土。築實碗足之上。再壓重磚。以免衝開鍋。放爐上。用白炭火燒之。先文後武。點一枝半或二枝竹香為度。離火候冷。去淨砂土。開看碗上。黏滿如白粉為上品。如秋葵色松花黃次之。紅黃色者均可用。用小刀刮下。研極細。儲瓷瓶聽用。遇瘡有腐管。糝少許。以金花散蓋面。膏藥貼之。次日開看。腐管即起鉗。拭乾淨。如腐管未盡。再用。已盡不用。只糝金花散生肌收功。丹底研細末另儲。可治癬疥。用麻油調擦。雖痛無妨。終必見效如神。</p>

<h2>萬靈丹</h2>
<p>專治癲狗毒蛇咬傷。並一切中毒疼痛等症。修合時須齋戒虔誠。</p>
<p>明雄精（四錢）　制甘石（一錢五分）　牙硝（一錢三分）　真云麝當門子（一錢）　大梅冰（九分）飛月石（九分）　廣牛黃（四分）</p>
<p>上藥各研細末。和勻再研極細。儲瓷瓶。黃蠟封口。勿令泄氣。臨醫時。令患人仰臥。患口務須露出。切勿以別藥塗封。用銀小揪。取丹少許。抹兩眼大角。半日間抹三次。三日內抹九次。或患毒較重。須多抹二三日。其毒仍由傷口而出。治以毒盡患愈為度。保無後患。此方系浙江山陰縣。安昌鎮徐喆甫君鈔傳。稔知其救活多人。百無一失。</p>

<h2>玉華丹</h2>
<p>治眼患外障。紅腫羞澀。昏盲翳膜等症。</p>
<p>爐甘石（八兩選如白雲片羊髓者佳）　川黃連（四兩去蘆切碎水四鍾浸半日重湯燉汁）　童便（四鍾取男孩半歲無病者與川連汁和作一碗）</p>
<p>上藥先將甘石放傾銀罐內。炭火煅成碧芭。取起以川連童便汁淬之。再煅再淬。連煅淬七次。加硃砂一兩二錢。同研極細末。水飛去腳候乾。再研極細。收藏聽用。名曰丹頭。另用珍珠二錢入豆腐內。碗盛蒸一炷香時。研極細收藏。每以丹頭（一錢）珍珠末（二分）冰片（三分）和勻研細。裝入瓷瓶封固。一切外障。以牙籤沾藥。點大小眥內。眼閉一飯時。撥出藥屑。每日每飯後點一次。宜仰臥片時。夜點亦可。</p>

<h2>白降丹</h2>
<p>專拔舊瘡新老管肉。</p>
<p>火硝　皂礬　白礬（各一兩五錢）　水銀（一兩）　硃砂　雄精　磠砂　食鹽（各五錢）各研細末。和勻裝入傾銀罐內。微火結胎。旋以茶碗蓋蓋之。不時揭起細看。須至碗蓋內毫無水氣為度。工夫全在於此。切宜慎之。再用木腳盆一個。盛清水半盆。盆內放大瓷碗一隻。碗內中間放瓷碟一隻。碟內放綿紙二層。碟須大於銀罐口者。即將藥胎銀罐倒覆碟內。碟口四圍用綿紙條拈捻。麵糊封口。再用田中半爛泥於碗內四圍。封至半碗。總以銀罐半露半沒。泥平為度。但半露之碗邊。須泥塗滿。約厚三四分。又用杉木炭燒紅。蓋其滿滿。先文後武。至兩點鐘時。分去火炭候冷。去泥揭開。銀罐碟內。見丹如白藕絲色者為上品。不成絲如白粉亦可用。如色黃則太老矣。用之恐不靈。</p>

<h2>闢瘟回生丸</h2>
<p>此丸能治諸病。通經絡。和營衛。解表攻裡。效驗神速。居家出門。常宜預備。誠救急之靈丹。濟世之至寶也。小兒每次可服半丸。熱症忌服。</p>
<p>一傷風頭痛。鼻塞聲重。取一丸研細末。開水沖服。暖睡取汗即愈。</p>
<p>一傷寒憎寒發熱。研一丸開水沖服。蓋被暖睡取汗。重則再服即愈。</p>
<p>一感冒頭痛身痛。咳嗽多痰。研一丸開水沖服。暖睡取汗。重則再服。</p>
<p>一上吐下瀉。口渴便赤。研服一丸。重則再服。</p>
<p>一感受時疫。身發微熱。昏迷愛睡。研一丸。開水沖服。暖睡取汗。輕則即愈。重則服二三丸必愈。</p>
<p>一瘟疫瘴癘。或起結核。俗呼為老鼠瘟。研服一丸。連服二三丸。核散即愈。極重服至五丸。核破出水必愈。然須七日之內。遲則不及。</p>
<p>一濕毒流注腳腫。研服一丸。連服二三丸即愈。</p>
<p>一風火喉痹。研服一丸。連服二三丸即愈。</p>
<p>一毒痢及風熱斑疹。研服一丸。連服二三丸即愈。</p>
<p>一心經疔初起。脈散牙緊。手足麻木發軟。閉目不語。急視前後心有紅點。用針刺破出血。如有紅絲。即挑出無虞。並研一丸。開水沖服。連服二三丸即愈。</p>
<p>製蒼朮（十兩）　桔梗　神麯（各六兩）　貫眾　熟大黃　法半夏　川厚朴（薑汁炒）　飛滑石生甘草　明雄　川芎　藿香（各四兩）　羌活　石菖蒲　柴胡（炒）　白芷　防風　荊芥　皂角（去筋子）　細辛　前胡　煨草果（用子）　薄荷　硃砂　公丁香　陳皮（去白）　枳殼　木香　香薷（各二兩）</p>
<p>上藥提出雄朱。另研細末。其餘共研細末過秤。連同雄朱二味淨重若干。計以三錢和丸一粒。共應若干粒。即用細藿香丸如數為頭。水發為丸。俟曬一日。以雄黃硃砂和勻。加水研融為衣。再曬極燥。儲洋鐵筒。封口勿令泄氣受潮。此方原系驗方新編所載之闢瘟散。因散不能久藏。不便遠寄。是以改製為丸。倘遇疫盛之時。以圖速制。仍可復改為散。每服三錢。開水沖服。</p>

<h2>菩提丸</h2>
<p>治夏月中暑。霍亂吐瀉。風寒咳嗽。飲食停滯。發冷發熱。瘧疾痰症。胸膈不寬。遍身疼痛等症。</p>
<p>藿香　薄荷　半夏（薑汁拌）　香附　砂仁　山楂　茅蒼朮　川厚朴　蘇葉　麥芽　陳皮　扁豆　黃芩　神麯　甘草（各二兩）</p>
<p>上藥共研細末。荷葉煎湯。每重三錢。合煉一丸。研細送服。</p>
<p>暑症。藿香湯下。　霍亂吐瀉。胡椒七粒。綠豆一撮。煎湯下。</p>
<p>咳嗽。百部湯下。　寒症。瘧痰。泄瀉。俱薑湯下。</p>

<h2>五香丸</h2>
<p>善能消食。消積。消痞。消痰。消氣。消滯。消腫。消痛。消血。消痢。消蠱。消隔。消脹。消悶。並治痰迷心竅等症。</p>
<p>香附（去淨毛水浸一日）　五靈脂（各一斤）　黑醜　白醜（各二兩）</p>
<p>上藥共研細末。以一半微火炒熟。一半生用。和勻。真米醋糊為丸。如萊菔子大。每服一錢。薑湯送下。每日早晚各吃一服。有病即化。至愈為度。切勿多服。每見修合施送者。藥到病除。神效無比。真費小而功大也。</p>

<h2>指迷茯苓丸</h2>
<p>治痰迷心竅羊癇等症。並治手臂疼痛。不能舉動。或時左右轉移。此伏痰停滯中脘。脾氣不能流行。上與氣搏。脾屬四肢。而氣不下。故上行攻臂。其脈沉細者是也。但治其痰。而痛自止。婦人產後發喘。四肢浮腫者亦治。此治痰之第一方也。</p>
<p>薑製半夏　白茯苓（各四兩）　炒枳殼（二兩）　風化硝（五錢）</p>
<p>上藥各研細末。先將風化硝。開水沖烊。以老薑一兩餘。舂汁和入硝內。煮白麵粉糊為丸。如綠豆大。每日早夜各服一錢。生薑湯送下。至病愈為度。</p>

<h2>九龍敗毒丸</h2>
<p>治梅毒初發。遍身見紅點者。或陽物腫痛破爛者。並治橫痃一切火盛大毒等症。</p>
<p>乳香　沒藥（各去油）　巴豆仁（留油）　兒茶　血竭　木香（各等分）</p>
<p>上藥各研細末和勻。煉蜜為丸。如黃豆大。曬乾錫瓶收儲。勿令泄氣受蒸。每服九丸。空心時熱紹酒送下。俟瀉五六次。方食溫稀粥即止。毒輕者數日後漸愈。或已見效。尚未全愈者。再服一次。至重不過三服。至如陽物腫痛破爛。另用珍珠散（方見後）日日糝之。自然去腐生新。其效無比。再服丸之後。瀉穢甚毒。務瀉僻處。隨蓋泥土。切勿登廁。免貽人害。慎之慎之。若體虛之人。本已泄瀉者。緩服。</p>

<h2>化毒丸</h2>
<p>治一切癰腫。陽症大毒。楊梅結毒等症。日久不能全愈者。</p>
<p>綠豆粉　刺蝟皮（各二兩）　生大黃　槐角　細茶葉（各一兩）　瓜子仁（一兩另研）　全蠍（念一只微炒）　制乳香　甘草粉　炒薏苡（各五錢）</p>
<p>上藥各研細末和勻。煉糊為丸。如綠豆大。每早服三錢。患在上部。白開水送下。中部。杜仲湯送下。下部如下痔疳痔瘡等症。淡鹽湯送下。均服至全愈為度。</p>

<h2>陽和丸</h2>
<p>治一切陰疽。初起時漫腫肉白色淡者是</p>
<p>瑤桂心（一兩）　麻黃　薑炭（各五錢）</p>
<p>上藥各研細末和勻。黃米飯搗爛為丸。如綠豆大。每日開水送服二錢。宜暖睡出汗。至愈為度。</p>

<h2>痢瀉丸</h2>
<p>專治痢疾泄瀉。</p>
<p>全當歸　生白芍（各六兩）　枳殼　檳榔　萊菔子（各二兩）　車前子　生甘草（各一兩）</p>
<p>上藥共研細末。水發為丸。如萊菔子大。每服五錢。小兒每服三錢。開水送下。數服即愈。</p>

<h2>珍珠散</h2>
<p>治下疳陽物腫痛破爛等症。</p>
<p>珍珠（煅灰）　枯礬　雄精　黃柏　宮粉（煅各等分）</p>
<p>上藥各研細末。和勻再研極細。儲瓷瓶。用米泔水洗淨患處。日糝數次。數日即愈。</p>

<h2>琥珀珍珠八寶丹</h2>
<p>治一切濕瘡。</p>
<p>煅甘石　赤石脂　上血竭　兒茶（各二錢）　煅龍骨（一錢）　煅珍珠　琥珀　象皮（各五分）</p>
<p>上藥各研細末。和勻再研極細。儲瓷瓶聽用。</p>

<h2>鐵扇散</h2>
<p>象皮（切薄片焙黃色以干為度勿令焦）　龍骨（用上白者生研各五錢）　陳石灰（數百年者佳）　寸柏香（即松香中之黑色者）　松香（與寸柏香同熔化攪勻入冷水取起晾乾研為末）　飛白礬（各一兩）</p>
<p>上藥共研極細末。儲瓷瓶。遇有一切破傷者。用藥敷傷口。以扇扇之立愈。不必包裹過暖。難於結痂。並忌飲酒。恐致血熱妄行。忌臥熱處。夏宜涼地。冬宜火烘。如傷處發腫。煎黃連水。翎毛蘸塗即消。或潰爛日久有膿血者。用黃連煎湯洗後敷藥。</p>
<p>昔有一人。因口角用刀自刎。傷長二寸余。食嗓半斷。傷口冒血。痛甚。在地打滾。不能敷藥。因縛其手足。令臥涼地。用枕墊其首。使傷口閉合。即敷此散。扇之。少頃血凝。半日後能湯飲。三日而愈。</p>

<h2>白附散</h2>
<p>（一名玉真散）</p>
<p>專治跌墜毆壓馬踢刀箭諸傷。雖腎子壓出者可治。立能止血止痛。並不忌風。</p>
<p>白附子（十二兩）　生南星　白芷　天麻　羌活　防風（各一兩）</p>
<p>上藥各研極細末和勻。如破傷出血者。就糝患上。傷重者。黃酒浸服二三錢。多飲者易麻倒。少刻即愈。亦無害也。如青腫者。水調敷之立愈。如火傷加蜂蜜冰片調敷。湯水傷用麻油調敷。甚者加地榆末均速效。凡遇鬥毆傷者。可全兩命。價廉而功大。務須預先配合。以備不時施醫。但此散容易受蒸。宜用洋鐵筒裝儲。綿紙封口。</p>

<h2>金花散</h2>
<p>治發背對口。肚癰腰癰。搭手臁瘡。一切紅腫癰毒。</p>
<p>生石膏（一斤煅熟）　黃丹（一兩）</p>
<p>上藥各研細末。和勻再研。儲瓶候用。生豬板油。不拘幾兩。扯去皮搗爛。將散緩緩加入。隨搗隨加。以韌為度。量患之大小。寬攤川油紙約厚半分。將患上腐膿弱紙拭淨。以此散糝滿患口。豬油膏藥蓋之。一日兩換。功能去腐生新。其效如神。如症重者。酌服降癰活命飲。並須忌食酒、糟、豬、羊、冬筍、香菇、蘑菇、油炸、麵食、發氣各物。</p>

<h2>降癰活命飲</h2>
<p>治一切有名腫毒。無論陰陽症。初起能益氣和血解毒托裡。破後能排膿去腐生肌長肉。誠瘡科始終之聖藥。</p>
<p>大當歸（八錢）　生黃耆　金銀花（各五錢）　生甘草（三錢）</p>
<p>患在上部加川芎（二錢）。在中部加桔梗（二錢）。在下部加牛膝（二錢）。如泄瀉加蒼白朮（各二錢）。嘔吐噁心加陳皮半夏（各一錢）。不思飲食加白朮（三錢）。陳皮（一錢）氣虛加黨參（五錢）。陰疽肉白色淡。無論冬夏。加陳皮、麻黃（各六分）。瑤桂心、炮姜（各一錢五分）。切不可妄行加減。再如排膿加白芷（二錢）。欲破加皂刺（一錢五分）。已破者不用。火氣盛加天花粉、黃芩（各二錢）。大便閉結加熟大黃（三錢）。已通者不用。</p>
<p>上藥用陳紹酒清水各一碗。煎濃汁熱服。服後宜暖睡出汗。</p>

<h2>銀青散</h2>
<p>治男子陰頭生瘡。腐爛疼癢。女人陰戶兩旁生瘡。濕爛腫痛發癢。並治小兒痘疤腫爛。痘後餘毒不清。滿頭黃泡瘡等症。</p>
<p>白螺螄殼（取土牆上白色者佳去淨泥火煅二兩）　橄欖核（火煅）　寒水石（各四錢）　各研極細和勻儲瓷瓶。臨用時每取散二錢。配牙色梅冰一分。</p>
<p>上藥共研勻。另儲瓷瓶。勿令泄氣。用麻油調敷患處。濕者干糝。神效無比。</p>

<h2>青金散</h2>
<p>治小兒胎毒。疳瘡。蠟梨頭瘡。男婦發癢濕瘡等症。</p>
<p>嫩松香（一斤鐵鍋內熬烊至沸平為度立刻取起切勿過時若遇時性太烈不用倒在紙鋪有凹泥地上候冷取起秤用四兩）煅蛤殼　青黛（各一兩）</p>
<p>上藥各研細末。和勻再研。儲瓷瓶。用真麻油調敷患處。每日一換。切忌水洗。並須忌食發氣諸物。數日即愈。</p>

<h2>松香散</h2>
<p>治小兒胎毒。蠟梨頭瘡。並男婦一切濕瘡。</p>
<p>老松香（炒）　枯礬（各二兩）　黃丹（微炒）　青黛（各一兩）　鉛粉（炒淨勿留鉛氣五錢）</p>
<p>上藥各研細末。和勻再研。儲瓷瓶。濕則干糝。干則麻油調搽。每日一換切忌水洗。忌食發氣諸物。有人施送數十年。神效無比。</p>

<h2>紫袍散</h2>
<p>治咽喉十八症。</p>
<p>石青　青黛　硃砂　白硼砂（各一兩）　人中白（煅）　冰片　膽礬　元明粉　山豆根（各三分）</p>
<p>上藥共研細末。瓷瓶收儲封密。臨用時取二三釐。吹咽喉即愈。</p>

<h2>萬應吹喉散</h2>
<p>治喉癰。喉痹。喉痧。纏喉風。雙單乳蛾。陰虛咽喉等症。</p>
<p>上犀黃（一錢）　滴乳石　兒茶（各五錢）　黃連　川鬱金（各四錢）　上血竭　青黛　真硼砂　生甘草（各三錢）　燈草灰　白芷　黃柏　薄荷（各二錢）　大梅冰　珍珠　辰砂（各一錢）</p>
<p>上藥各研細末。按件稱准。和勻再研極細。瓷瓶收藏。勿令泄氣。遇症連吹數次。其效如神。忌食發氣諸物一百二十日。</p>

<h2>消痔千金散</h2>
<p>兒茶　黃連　寒水石（各五分）　硼砂　赤石脂　煅甘石（各三分）　熊膽（二分）　上梅冰（一分）</p>
<p>上藥各研細末。和勻再研。儲瓷瓶。清茶調敷患上。腫痛立止。</p>
<p>又外痔用紅棗去核。入銅青線扎。炭火上煅存性。研細末。痔濕干糝。干則以津潤濕擦之。</p>

<h2>一笑散</h2>
<p>治風火牙痛。</p>
<p>雄黃精（四錢）　生石膏　硃砂　馬牙硝（各二錢）　大梅冰（五分）</p>
<p>上藥各研細末。和勻再研。儲瓷瓶。搐鼻擦牙。各少許。數次即愈。</p>

<h2>光明散</h2>
<p>治時眼紅腫。疼痛多眵。流淚羞明。</p>
<p>上甘石（煅淬法同上一兩）　飛硃砂　飛月石（各五錢）　真云麝　上梅冰（各八分）</p>
<p>上藥各研細末。和勻再研極細。儲瓷瓶封口。勿令泄氣。令病人仰臥。以牙籤沾藥點大小眥內。眼閉一飯時。撥出藥屑。日點三四次。臨臥點一次極效。內服後方。</p>

<h2>涼血散火湯</h2>
<p>生地（二錢）　當歸尾　赤芍　條芩　牡丹皮（各一錢五分）　柴胡　車前子　荊芥　防風（各一錢）　蟬蛻（八分）</p>
<p>如頭痛惡風發熱。加羌活（一錢）。眼痛不可忍。並口渴。加酒炒川連（一錢）。如腫不消。紅不退者。加紅花（六分）。</p>
<p>上藥水煎。食後服。每日一劑。病退為度。</p>

<h2>當歸湯</h2>
<p>治跌打損傷。未破口者。功能散瘀活血。雖已氣絕。牙關緊閉。照白糖飲治法。擦開灌之亦活。此少林寺教師方也。</p>
<p>當歸　澤瀉（各五錢）　川芎　紅花　桃仁　丹皮（各三錢）　好蘇木（二錢）</p>
<p>如頭傷加藁本（一錢）。手傷加桂枝（一錢）。腰傷加杜仲（一錢）。脅傷加白芥子（一錢）。膝傷加牛膝（一錢）。</p>
<p>上藥用紹酒清水各一碗。煎六分。熱服。</p>

<h2>白糖飲</h2>
<p>凡跌打損傷。如已氣絕。牙關緊閉。先用半夏在兩腮邊擦之。牙關自開。急用熱紹酒沖白糖四五兩灌入。不飲酒者水服亦可。愈多愈妙。無論受傷輕重服之。可免瘀血攻心。至穩至靈。百不可輕忽。　又如氣絕不省人事者。急用生半夏末水調。如黃豆大。塞鼻孔。男左女右。立能甦醒。即去之。鼻痛用老薑汁擦之即止。</p>

<h2>九龍定風針</h2>
<p>治跌打損傷。或手足肩腰瘋痛。年久不愈。痠痛隱在骨節筋間。非膏藥煎劑之力所能到者。用此極效。</p>
<p>生草烏　生川烏　北細辛　鬧陽花（各三錢）　漂蒼朮（三錢五分）　瑤桂心（四錢）　白芷（二錢五分）　艾絨（五錢）　麝香（八分）</p>
<p>上藥各研細末。和勻再研極細。薑汁煉作條。如不好做。以白芨研細末。滾薑汁攪作糊。搗藥搓條。每條長寸許。如細筆桿粗。曬乾。儲錫瓶封口。勿令泄氣受蒸。臨醫時。先用竹筷頭。點痠痛之處。墨圈記之。令病人切勿稍動。以免墨圈移位。再以竹紙。春八夏十二。秋十冬六層。紙放墨圈患上。將藥條向燈火燃著。一頭用力拄紙上。看準隔墨圈患處。一次呼吸之間火滅。紙面層見焦。余層如故。少頃針處起疱。用鐵針挑破。火炮藥搽之。無論患穴多少。凡竹筷頭點之。覺甚痠痛者。均宜針之。一二旬後。患疱兩愈。永不復發。</p>

<h2>紫金錠</h2>
<p>此藥能治百病。效驗如神。居家出門。不可不備。</p>
<p>一凡中飲食藥毒。瘴氣河豚土菌死牛馬等毒。並用涼水磨服一錠。或吐或痢即愈。</p>
<p>一癰疽。發背。疔腫。楊梅等一切惡症。風疹。赤遊。痔瘡。並用溫水或酒磨。日塗數次即消。</p>
<p>一陰症傷寒。狂亂。瘟疫。喉痹。喉風。並用冷水入薄荷汁數匙化下。</p>
<p>一心胃及一切氣痛。用淡酒化下。</p>
<p>一泄瀉。痢疾。霍亂。絞腸痧。用薄荷湯化下。</p>
<p>一中風。中氣。口緊眼歪。五癲。五癇。鬼邪。鬼胎。筋攣。骨節痛。暖酒化下。</p>
<p>一自縊。溺水。心頭溫者。冷水磨灌下。</p>
<p>一傳屍癆瘵。涼水化服。取下惡物蟲積為妙。</p>
<p>一久近瘧疾。將發時東流水煎。桃枝湯化服。</p>
<p>一婦女經閉。紅花酒化服。</p>
<p>一小兒驚風。五疳。五痢。薄荷湯化服。（慢驚忌用）</p>
<p>一頭風。頭痛。酒研貼兩太陽上。</p>
<p>一諸腹鼓脹。麥芽湯化下。</p>
<p>一風蟲牙痛。酒磨塗之。亦吞少許。</p>
<p>一打撲損傷。松節煎湯化下。</p>
<p>一湯泡火傷。毒蛇惡犬咬傷。冷水磨塗。仍服之。</p>
<p>山慈菇（洗淨去皮焙二兩）　五倍子（剖洗焙二兩）　千金子仁（白者佳研紙壓去油一兩）　紅芽大戟（去蘆洗焙一兩五錢）　麝香（三錢）</p>
<p>上藥各研細末。和勻再研極細。以端午七夕重陽。或天德月德天赦天醫黃道上吉日。預先齋戒。虔心製備。藥末陳設拜禱。用糯米濃湯和勻。入木臼內杵千下。作一錢一錠。病輕者服一錠。重者連服數錠。瀉一二次隨食溫粥即止。</p>

<h2>烏金錠</h2>
<p>治癰瘡初起。火盛紅腫者。</p>
<p>川五倍（剖洗焙燥）　生肥皂（去子弦筋焙燥各二兩）　乳香　沒藥（各去油六錢）</p>
<p>上藥各研細末。和勻用真米醋搗爛作錠。每重二錢。曬極燥。儲洋鐵筒。用時真米醋磨濃。雞毛掃敷患處。隨干隨敷。日近者可散。或已作膿覺痛者。宜留出患頭。敷四圍。亦能收小速愈。</p>

<h2>祛瘋酒</h2>
<p>治一切瘋痛。半身不遂等症。</p>
<p>大熟地　龍眼肉（各二兩）　全當歸　潞黨參　炙棉耆　米仁　茯神　甘枸花（各五錢）　炒白芍　炒冬朮　千年健　海風藤　羌活　獨活　虎脛骨　鑽地風　五加皮　杜仲　忍冬藤　川續斷　牛膝（各三錢）　淡附片　瑤桂心　炙桂枝　虎頭蕉　明天麻　川芎　炙甘草（各二錢）廣木香　紅花（各一錢五分）</p>
<p>上藥用陳紹酒浸瓷瓶。瓷盤作蓋。棉紙封口。重湯燉至點三炷香時為度。隨量溫飲。一日兩次。其效如神。孕婦忌服。</p>

<h2>葵花油</h2>
<p>專治湯泡火燒。</p>
<p>每年六七月。秋葵花開時。買麻油二三斤。儲瓷瓶。約大半瓶為度。每晨盡採秋葵花。去心蒂。曬晾一二時。使水氣稍干。浸入麻油瓶內。採浸數日。花漸滿。且生白醭。即須日曬。收盡水氣。並用竹筷不時攪勻。旋浸旋曬。瓶滿為度。瓶口蓋以瓷盤。用布包扎。安置妥處。以備不時救濟。取敷患處。切忌水洗。效驗如神。</p>

<h2>枸橘湯</h2>
<p>專治子癰。腎子作痛。而不升上。外現紅色者是也。此症宜速治。遲則潰爛致命。慎之慎之。枸橘（一枚無則小橘子代）　川楝　秦艽　赤芍　澤瀉　防風　生甘草　陳皮（各一錢五分）水煎溫服。二三劑即愈。</p>

<h2>八珍粉</h2>
<p>治脾虛久瀉。或轉腫脹。善能去濕健脾。</p>
<p>蓮子（劈開去心）　南芡實　米仁　白扁豆　淮山藥　雲茯苓（各八兩）　糯米　粳米（各半升）</p>
<p>上藥各炒微黃。和勻。用水磨磨細粉。儲洋鐵瓶。每餐飯宜少吃。俟上下半日腹微飢時。取粉一二湯匙。加白糖開水沖糊服之。早夜各服一次。亦可。至病全愈為止。至穩至靈。</p>

<h2>仙傳午時茶</h2>
<p>專治傷風。頭痛。冒暑。發痧。吐瀉等症。</p>
<p>茯苓片（八兩）　柴胡（六兩）　澤瀉片　枳殼片　蘇葉　防風　扁豆　赤小豆（各五兩）　忍冬藤　枯黃芩　鮮竹茹　花粉（各四兩）　藿香　生甘草　香薷　麥冬（各三兩）　雙鉤藤（二百一十隻）　鮮荷葉（三十片切碎）　陳茶葉（一百兩均用庫平）</p>
<p>上藥先將荷葉。放大鐵鍋內。加水煎汁去渣。再將茯苓等十七味。一併下鍋。煎至汁水較濃。濾汁儲缸。仍將原藥加水再煎。多時。濾汁儲缸。再加水煎。至第三次。濾汁去渣。連同前汁。併入鍋內再煎。至約汁小半鍋為度。上將茶葉放入。隨放隨拌。將汁滲干。取起攤曬極燥。每服二錢。分裝紙袋封口。儲大洋鐵筒。勿令泄氣受蒸。以備施送濟人。每服一袋。清水煎服。暖睡出汗。重則二劑同煎。小兒減半。</p>

<h2>海豬肉</h2>
<p>專治小兒胎毒。疳瘡。痘痳回毒。散漫蠟梨頭等症。</p>
<p>用海豬肉數斤。不經水洗。切薄片。以白鹽醃之。儲瓷瓶泥封口。凡遇可治之症。取肉一片。擦患處。日擦數次。數日全愈。</p>

<h2>仙傳驚風丸</h2>
<p>專治幼孩各項驚風。其效如神。</p>
<p>雌雄蚱蜢（各一百隻須至立冬日向稻田內捉取放瓦爿上文火焙乾研細末）　廣黃（五分）　真琥珀（五分）　頂硃砂（三分）</p>
<p>上藥各研細末。和勻再研。清水和為丸。每丸約重五分。臨用時取一丸。研細末。用鉤藤煎湯調送。服下一二丸即愈。</p>

<h1>卷下</h1>

<h2>急救服鴉片毒並治湯火傷</h2>
<p>凡遇服鴉片毒者。急用生南瓜。又名金瓜。嫩者更好。搗露一小茶杯。服下立解。不必取吐。雖如已死。只要南瓜露灌入喉中。無不立刻起死回生。真仙方也。如湯泡火燒。以南瓜露。日敷患處數次。效亦神速。倘無南瓜。而有瓜藤之時。即取瓜藤搗露。用之亦效。但時值冬春。南瓜藤亦無者。須於秋初時。用淨壇一個。放南瓜地上。取南瓜藤五六支。藤尾斬去。不用藤頭。塞於壇口內。藤用小竹竿架起。使高於壇。其露自然點滴。次日再將瓜藤斬去數尺。將壇移近。藤頭仍塞壇口內。如前滴之。仍依前法。數日藤露滿壇。用綿紙洋布數層。包裹壇口。串繩紮緊。壓以厚磚。放陰冷地方。以備隨時救人。無量功德。</p>
<p>又方用巴豆仁一粒。礬紅少許。冷飯數粒。搗爛搓成一丸。如龍眼核大。服下即解。雖口齒緊閉。撬開將丸捺入喉中。無不回生。</p>

<h2>急救服砒毒</h2>
<p>用防風一兩研細末。水調灌之。如吐再灌。無不立解。</p>

<h2>急救服鹽滷毒</h2>
<p>生豆腐漿。冷服二三碗。即解。至神至妙。如一時難得。以黃豆攪粉。沖冷水去渣。服之亦妙。　又方用白糖五六兩。冷水調服亦效。</p>

<h2>急救壓死跌死</h2>
<p>急扶起。盤腳坐地。以手提其發。將生半夏末吹兩鼻中。以生薑汁灌之。只要心頭微溫。雖死一日亦活。再用白糖調開水服之。散其瘀血。或即撬開口。以熱童便灌之立效。</p>

<h2>婦人難產</h2>
<p>產久不下。連服此方二三四帖頭煎。不用二煎。以力薄也。服至產為度。產後忌服。接服生化湯。蜜炙黃耆　大熟地（各一兩）　當歸身　西黨參　醋炙龜板　枸杞子（各四錢）　抱木茯神（三錢）　酒炒白芍　川芎（各二錢）　水煎熱服。</p>
<p>產以氣血為主。氣足則易於送胎出門。血足則易於滑胎落地。若忍痛久則傷氣。而氣不足。下水多則傷血。而血不足。產何能下。此方大補氣血。於臨產危急之時。無論產婦平日氣質強弱。胞衣已破未破。急以此方連服頭煎。則痛可立減。而胎自順下。或竟熟睡片時。產下如不覺者。或因試痛。誤認產痛。服藥後竟不痛不產。貼然無恙者。蓋以此藥補益氣血。以還其本源。自安於無事矣。或疑產婦先感外邪。補之則恐邪錮。不知痛甚且久。則腠理齊開。邪從表解矣。產水送下。邪從下解矣。到此時候。有虛無實。一定之理。切勿遲疑也。試驗已多。百無一失。</p>
<p>生化湯　當歸（八錢）　川芎（四錢）　桃仁（十粒杵碎）　薑炭（五分）　炙甘草（五分）</p>
<p>上藥水煎熱服。每日服一帖。連服四五帖。</p>

<h2>婦人行經腹痛</h2>
<p>制香附　當歸尾（各二錢）　延胡　赤芍　丹皮　川芎（各一錢五分）　生地（一錢）　紅花（八分）　桃仁（念五粒杵碎）</p>
<p>上藥俟臨痛時。每日水煎服一帖。連服二三帖即愈。愈後永遠忌食生冷茶飯水果等物。不久成孕。試驗多人。</p>

<h2>產後血崩</h2>
<p>產後血大來。須看血色之紅紫。視形氣之虛實。如血色多紫。乃當去之敗血。留之反作痛。勿以崩論。若紅而色鮮。乃是驚傷心而不能主血。怒傷肝而不能藏血。勞傷脾而不能攝血。當以崩治。先服加參生化湯幾帖。則行中有補。血自生旺矣。至若形脫氣促。或汗出不止。宜服加參生化以益氣。斯陽生則陰長。而血乃生旺。非棕灰等止血藥可治也。如產已滿月外。又宜升舉大補湯治之。凡年老積弱人患崩。均宜服此湯。</p>
<p>加參生化湯　治產後血崩。形脫。氣促。汗多。</p>
<p>當歸（四錢）　川芎（三錢）　荊芥（四分）　桃仁（十粒杵碎）　高麗參（三錢）　瑤桂（五分二帖後去之）　炙甘草（五分）　大棗（二枚）</p>
<p>如汗出不止。加黃耆高麗參。（各三錢）渴加麥冬五味。瀉加茯苓蓮子。兩手脈伏。或右手脈絕。生脈散倍高麗參。痰加竹瀝。薑汁。酒一杯。咳嗽加杏仁、知母、桔梗各一錢。驚悸加棗仁、柏仁各二錢。鮮血來多不止。加升麻、白芷各五分。均水煎熱服。或久不進食。聞藥即吐。用獨參二三錢水一杯。煎鍋焦末服之。引開胃口。如無汗脫等症。只服生化湯。加炒黑荊芥自安。世言芎歸活血。不可治崩。殊誤。</p>
<p>升舉大補湯　治產後日久。血崩不止。或如雞卵大塊。或去血如片。宜大補脾胃。升提氣血。少加鎮墜心火之藥。此方並治老少血崩等症。</p>
<p>高麗參　白朮（各三錢）　熟地（二錢）　當歸（一錢五分）　川芎　黃耆（各一錢）　白芷　荊芥羌活　防風　陳皮　黃連　黃柏（炒瀉者勿用各四分）　升麻　甘草（各五分）</p>
<p>如渴加麥冬五味。瀉加澤瀉蓮子。痰加半夏。兼白帶者。加蒼朮、半夏各一錢。俱水煎熱服。</p>
<p>生脈散　保肺清心。治氣少汗多。兼口渴。病危脈絕。並夏月火旺爍金。</p>
<p>高麗參（五分）　麥冬（八分）　五味子（九粒）　水煎溫服。</p>

<h2>產後心腹痛</h2>
<p>產後心痛。即胃脘痛。以胃脘在心之下。因傷寒氣及冷物。故作痛。用生化湯。佐以散寒消食之品。無有不安。若腹內痛。定然血塊未除。只服生化湯。佐以益母丸。鹿角灰治之。則瘀消而痛止。若風冷乘虛入腹作痛。亦宜加味生化湯。以內有肉桂吳萸。可以濕散之也。若真心痛。則指甲青黑。或手足冷過腕節。朝發夕死。無藥可治。</p>
<p>加味生化湯　當歸（四錢）　川芎（二錢）　炮姜　炙甘草（各五分）　桃仁（十粒杵碎）　痛止去之。　肉桂（八分）　吳萸（七分）　生薑（三片）　傷米食加神麯、麥芽各一錢。傷肉食加砂仁七分。山楂肉五枚。水煎熱服。</p>

<h2>婦人經血過多遍身疼痛</h2>
<p>此乃血不歸經。肝不藏血之故。宜用歸芍湯。</p>
<p>全當歸（一兩）　生白芍（五錢）　水煎溫服。日服一帖。連服十餘帖。下期經水照常則愈。或已見效。尚未復元。再酌服數帖即愈。</p>

<h2>婦人乳核</h2>
<p>生地　澤蘭（各四錢）　王不留行　蒲公英　大力子（各三錢）　炒白芍　小青皮　廣鬱金　川貝母（去心）　茯苓（各二錢）　桔梗　生甘草節（各一錢五分）　百合（一個）　水煎。每日飯後服。連服三五帖。至愈為度。</p>
<p>又方。蒲公英（四錢）夏布包。鹿角枝（刨薄片三錢）陳紹酒水各一杯。煎汁熱服一二三服。</p>

<h2>男子疝氣痛</h2>
<p>白歸身　老生薑（各三錢）　用羊肉煎湯。每日煎服一帖。連服數帖即愈。</p>
<p>三四日兩頭瘧（此係陰陽兩虧之症）</p>
<p>大熟地　龜板　鱉甲（各四錢）　西黨參　炒茯苓　柴胡（各三錢）　檳榔　青皮　炙甘草（各一錢五分）　生薑（五片）　紅棗（十枚）</p>
<p>上藥。水煎熱服。每日服一帖。發日早服二三帖即愈。接服補藥。調養二三旬。務使氣血復元。並須忌食生冷水果等物。永不復發。</p>

<h2>痢疾</h2>
<p>全當歸　生白芍（各一兩）　飛滑石　藿香（各二錢）　葛根　檳榔　生甘草　枳殼（各一錢）　萊菔子（八分）　廣木香（六分）</p>
<p>上藥水煎熱服。無論紅白痛與不痛。日夜瀉數十次。每日服一帖。漸服漸效。輕則二三帖。重則五六帖。至愈為度。忌食生冷瓜果。</p>

<h2>急治絞腸痧</h2>
<p>（一名乾霍亂）</p>
<p>生白礬末（二錢）陰陽水一鐘調飲。吐出暑氣。更刺委中穴。及十手指近甲處。出血更妙。暫忌穀食。即米湯嚥下亦死。慎之慎之。</p>

<h2>急治木舌</h2>
<p>此症多生於四五月間。少年男女。五臟之火齊升。其舌忽時腫大者。急用生鮮茄數個。搗汁半茶杯嚥下即愈。緣生茄之性。能降五臟之火也。如無鮮茄。或用茄干。煎濃汁嚥下亦效。若不速治。舌必長大滿口。不過一二時辰。氣閉即死。</p>

<h2>急治喉痹</h2>
<p>痹者閉也。喉間閉塞。重者聲啞。本無微恙。頃刻而起者是。</p>
<p>巴豆仁（三粒）　細辛末（三文）</p>
<p>上藥共搗爛。搓長條。約大半寸。放綿紙上。卷作條。約長一寸。居中刀切斷。將切斷兩頭。塞兩鼻孔內。頃刻即愈。愈後。速將藥條拔出棄之。切勿久留。慎之慎之。</p>
<p>又方或用瑤桂心　炮姜　生甘草（各五分）　共盛碗內。取滾水衝入。仍將碗放滾水內。服藥口許。緩緩嚥下亦愈。</p>

<h2>纏喉風喉痹</h2>
<p>此症胸膈氣急。忽然喉嚨腫痛。手足厥冷。氣閉不通。</p>
<p>明雄精（二錢）　真鬱金（一錢）　巴豆霜（三分）</p>
<p>上藥各研細末和勻。煉為丸。如白芥子大。每服十二丸。滾水送下。如口噤喉塞。用細筆管納丸入喉中。須臾吐痰即活。</p>

<h2>纏喉風並一切喉症</h2>
<p>蘇梗　牛蒡子　元參　赤芍　黃芩　花粉　射干　連翹殼　荊芥　防風（各一錢五分）　川連生甘草（各一錢）</p>
<p>上藥水煎溫服。每日服一帖。二三帖即愈。惟須早服。遲恐不及。</p>

<h2>纏喉風</h2>
<p>（此方活人甚多）</p>
<p>生白礬細末（五分）　烏雞蛋（一枚）　調勻。灌入喉中立效。</p>

<h2>單雙喉蛾</h2>
<p>用萬年青根二寸。洗淨削去皮。切薄片。搗爛如泥。加真米醋一酒杯攪勻。含咽數次。俟蛾破。吐出膿血即愈。</p>

<h2>爛喉</h2>
<p>（此疾日久不愈甚至時延兩三年者）</p>
<p>燕窠泥（五錢）　鳳凰殼（三錢）　生老薑　煨姜（各七片）</p>
<p>福建建寧縣潘吉泰之妻。前患此症醫藥罔效。延至三年不愈。後服一二帖見效。接服附子炮姜全愈。</p>

<h2>頭風</h2>
<p>或因風入眼竅。以致目瞳漸黃失明。如法治之。頭風全愈。目亦復明。惟失明已久者。頭風雖愈。目不能明。</p>
<p>螌蝥（俗名斑蝥）　不拘多少。焙乾研細末。篩去渣。儲瓷瓶。用小黃蜆殼二個。各放藥末大半殼。合兩太陽穴。以膏藥蓋之。勿使出氣。貼一周時。揭開起黃疱。針挑破出水即愈。如病較深。貼後見效。尚未全愈者。隔一二旬後。再貼一次必愈。若僅痛一邊。只貼一邊可也。他如胃氣上衝頭痛。應照胃氣痛方治之。又或陰虛頭痛。皆非此藥所宜。俱不靈也。</p>

<h2>胃氣痛</h2>
<p>（此症甚者每晨吐清水或連頭痛）</p>
<p>制香附（二錢）　良薑（一錢五分）　砂仁末（八分）</p>
<p>如病重常吐清水加吳茱萸二錢。</p>
<p>上藥水煎熱服。二三帖即愈。永遠忌食生冷瓜果。以免復發。</p>

<h2>腦流</h2>
<p>用老絲瓜筋曬燥。瓦上煅炭研末。每服一錢。臨臥之時。熱紹酒送下。三五服即愈。</p>

<h2>風火眼疾</h2>
<p>或紅腫疼痛。或起紅翳。或上下瞼內起紅皮。或眼珠上起白點。或小兒疳眼發癢者均治。用細紙捻細燈心各一條。各浸火油。大半條。左手熱紙捻。右手執燈心。先以左手紙捻頭點著火。移近病人眼邊。即以右手燈心頭。向紙捻上點著火。速炙近眉額上。及太陽處。每炙有小聲。密炙數十點。並炙眼瞠下二十餘點。患左炙左。患右炙右。兩眼並患。則並炙之。輕則數日即愈。不必點服藥。眼湯藥。重則日點光明散。內服涼血散火湯。（均見卷上）定獲速效。倘至旬余。尚未全愈。再近未愈眼邊原炙之處。酌炙一次。以愈為度。並須忌食雞、鵝、豬、羊、酒糟、筍菇、蒜、韭、生薑、胡椒、煎炒、油炸、發氣各物。二三個月。以免復發。</p>

<h2>小兒慢驚</h2>
<p>用真艾絨作團。如桐子大。灸頭頂髮旋穴五壯。又灸腎莖根當中。直上依本身名指內一中節長處。小肚穴五壯。如病重者。此處當有青筋發現。灸其上即愈。如頭向後拗者。再灸頭後頸窩穴五壯。效驗如神。已愈多人。</p>

<h2>小兒走馬牙疳</h2>
<p>紅棗（三枚去核）　紅砒（三釐）　將砒勻入棗內。用線紮好。以半濕田泥包裹。炭火煅。候冷。敲去泥。加冰片一分。共研細末。拭淨患處擦上。應效如神。久爛之孔。生肌亦速。</p>

<h2>蟲疾</h2>
<p>此疾面色黃瘦。飲食少進。不時腹痛。甚者。口吐清水。</p>
<p>尖檳榔（二兩）　廣木香（一兩）</p>
<p>共研極細末。每服五錢。小兒三錢。須在月初。於病人腹飢之時。先用煎炒香味食物。令其聞之。即以溫開水調服。無不神效。蟲隨大便而出。如病重者。再服全愈。</p>

<h2>咳嗽多痰並治吐血</h2>
<p>當歸身（三錢）　生白芍　蜜款冬　蜜枇葉（各二錢）　牡丹皮（一錢五分）　炙甘草　桔梗（各一錢）　砂仁末（六分沖）　橘紅（六分）</p>
<p>如氣緊加蘇子一錢。</p>
<p>上藥水煎熱服。日服一帖。輕者三五帖即愈。重者服至全愈為度。忌食雞、鵝、豬、羊、酒糟、筍菇、煎炒、油炸、麵食。一切發氣各物。並忌生冷水果。此症最忌涼補熱藥。切勿誤服。慎之慎之。</p>

<h2>乾咳無痰</h2>
<p>（此症甚至日久不愈者）</p>
<p>用紅糖拌稀飯。連吃數日即愈。愈後宜服滋陰補血之劑。以復其元。並須忌房事。省辛勞。保無後患。</p>

<h2>婦人乾血癆</h2>
<p>（後載二方宜參觀之）</p>
<p>杭白朮　龜板（各一錢五分）　鱉血柴胡　淮山藥（各一錢）　女貞子（一錢二分）　甘草（七分）杭玫瑰（四朵）　干藕節（三錢）　水煎熱服。三五帖見效。至愈為度。尚有另方見後。</p>

<h2>孕婦胎墜壓脬</h2>
<p>孕婦足月之際。身弱氣虛。胎忽下墜。將尿脬口壓閉。以致尿不能放。時久脹痛難忍。急令孕婦橫臥床上。頭裡腳外。屁股下填以綿褲。使下部略高。令老嫗用兩手輕推其腹。使胎升上。再令該嫗剪去右手中指甲。探入孕婦陰戶之內。人宜旁立。輕輕撥開脬口。其尿直衝而出。宜服補益氣血之藥。數帖即愈。</p>

<h2>受暑</h2>
<p>此症頭額脹冷。心胸飽滿。或覺頭眩。或時發冷。飯食減少。足軟無力。脈象浮虛者是。</p>
<p>六一散（三錢）　藿香（一錢半）　真青蒿梗（子不用土者不靈各二錢五分）</p>
<p>如胸膈飽滿者。宜加川厚朴一錢五分。</p>
<p>上藥水煎熱。開水沖熱服。頭額手足出汗即效。每一二日服一帖。連服數帖全愈。</p>

<h2>傷寒小肚驟然脹痛</h2>
<p>此症或至腎子升上。脹痛更甚。</p>
<p>用大蔥頭六七個。切碎搗爛。放大碗內。陳紹酒半斤。重湯燉滾。衝入熱服。立刻全愈。或病已至數日後者。如法沖服。二三次亦效。</p>

<h2>傷寒忽然發冷發熱</h2>
<p>此症小便長。口不渴。先冷後熱。甚至人昏。脈象沉細。系寒症也。</p>
<p>淡附片（四錢）　吳茱萸　炮姜（各二錢）　當歸　白芍（各二錢五分）　水煎熱服。出汗即愈。</p>

<h2>傷寒身體不時發抖</h2>
<p>淡附片　桂枝尖　生白芍（各二錢）　炙甘草（一錢）　生薑（三片）　紅棗（三枚）</p>
<p>上藥水煎熱服。每日服一帖。連服二三帖。至愈為度。</p>

<h2>小兒傷寒忽然眼翻口吐涎沫手足抽搐</h2>
<p>生薑　紅糖（各二錢）</p>
<p>上藥水煎熱服。吐出積痰即愈。惟須加穿衣褲。使其和暖為要。</p>

<h2>陰火發燒</h2>
<p>此症日夜發燒。人昏。燒後即退。退時人清。口不甚渴。渴不多飲。甚至眼鼻嘴內。津液乾燥。</p>
<p>當歸身　生白芍（各三錢）</p>
<p>上藥水煎熱服。每日服一二帖。漸服漸效。至燒退盡為度。接服元麥地黃湯。數帖即愈。</p>
<p>元參　麥冬（各二錢）　熟地（四錢）　淮山藥　白茯苓（各三錢）　山萸肉　牡丹皮　澤瀉（各一錢五分）　水煎熱服。每日服一帖。至愈為止。</p>

<h2>魚口便毒</h2>
<p>此症生在小肚兩旁。初起硬腫。未紅未痛之時。尚可發散。</p>
<p>第一靈寶丹一錢。生白礬末五分。研勻。雄豬膽汁調搽。每日一換。燥則覺痛。以米醋雞毛蘸敷。數日漸消。</p>

<h2>脫骨疽</h2>
<p>此症生手足各指。或生指頭。或生指節指縫。初生或白色痛極。或如粟米。起一黃疱。其皮或如煮熟紅棗。黑色不退。久則潰爛。節節脫落。延至手足背腐爛黑陷。痛不可忍。用頂大生甘草。研極細末。麻油調厚敷之。每日一換。不可間斷。再用金銀花　元參（各三兩）　當歸（二兩）　生甘草（一兩）　水煎服。每日一帖。連服十帖必愈。永無後患。藥味切不可減少。少則不效。忌食發物。並忌搔擦。</p>

<h2>紅絲疔</h2>
<p>此症生於手足掌脛等處。疔邊有紅絲一條。循腕股而上。漸上漸寬。急用艾絨作團。如桐子大。灸紅絲盡頭處三壯。紅絲退縮。如法再灸。總以紅絲退盡為度。疔瘡用三妙膏如意丹治之。可保無虞。若不速治。紅絲之毒至心至臍。即難救矣。慎之慎之。</p>

<h2>牙漏</h2>
<p>此症難於收功。依法治之。無不速愈斷根。不用散丹。只要日貼三妙膏（方見卷上）。內服元麥地黃湯（方見本卷陰火發燒症）。治其陰虛。心火狂燥。腎水不足。功能降火益水。</p>

<h2>血痣</h2>
<p>此症生於兩太陽等處。陡起紅點如粟粒者是。覺癢手搔破。出血如紅絲線不止。急用瘦豬肉一厚片貼之。即止。或用穿山甲尾片。炒研細末。敷之亦止。倘皆不效。即用小烙鐵煨煅一灸。結痂自止。內服元麥地黃湯（方見前）。每日一帖。水煎熱服。連服十餘貼。全愈。</p>

<h2>痔痛下血</h2>
<p>當歸　川芎　黃耆　神麯　槐花　地榆（各一兩）　阿膠珠　血餘炭　荊芥穗（炒炭）　木賊草（炒黑各三錢）</p>
<p>上藥共研細末。煉蜜為丸。如桐子大。每服五十丸。食前米湯送下。</p>

<h2>臟毒</h2>
<p>乾柿（二錢）燒灰研細末。開水送服。昔有一人患此症。下血數年。得此方服。一次即愈。</p>

<h2>腸風</h2>
<p>（此症糞後出血其色紫黑者是）</p>
<p>大龍眼肉（一粒）　包苦參子仁（七粒）　空心開水送下。每日一服。連服三四日即愈。又方。統治便血。用荸薺煮熟吃之。連吃數斤。以愈為度。</p>

<h2>黃胖病</h2>
<p>黑棗（一斤煮熟去皮）　青礬（一文研細）　米醋（一文）　共搗爛。煉為丸。如桐子大。曬燥儲瓷瓶。病人強壯者。每日服三十丸。如瘦弱者。每日服二十丸。開水送下。至愈為止。</p>

<h2>肚痛霍亂吐瀉</h2>
<p>雄黃　生白礬（各等分）</p>
<p>共研細末。用晚米飯搗爛煉為丸。如綠豆大。　每服三錢。開水送下即愈。　孕婦忌服。</p>

<h2>又治霍亂時證</h2>
<p>凡上吐下瀉。又有吐而不瀉。瀉而不吐。亦有吐瀉不出者。名為乾霍亂。治不得法立死。此證無論冬夏。斷不可食以粥飯。並切戒食姜。姜一入口。不可救也。</p>
<p>藿香　炒蒼朮　柴胡　羌活（各二錢）　澤瀉　木通（各一錢）　神麯　陳茶葉（各三錢）　加生蔥連根（三支）。</p>
<p>如口乾。加鮮荷葉一塊。</p>
<p>清水濃煎。溫服。輕者一服。重者再服即愈。</p>
<p>此方得於四川呂祖宮內。石碑刻就。治愈多人。</p>

<h2>一切牙痛</h2>
<p>長紙煤二條。須內空者。剪去頭一寸。以斷處留出寸半。余以燈油蘸全。將頭先後插入左右耳孔內。用火點著紙煤尾燒之。俟火將及耳。急拔去之。再用冷水一滴。灌入耳內。其效如神。</p>

<h2>各種脹病</h2>
<p>（附補藥二方）</p>
<p>一曰氣脹。因飯後口角動氣而成。先由胸腹脹起。漸漸延脹四肢。飲食少進。氣不寬舒。</p>
<p>二曰水脹。因小便短少而成。先由兩足背脹起。漸至上身。胃口漸閉而氣漸促。　以上二症。若不速治。皆至於死。均用仙果散。（方見卷上）每次嚼少許。咽汁吐渣。每日嚼二三錢。連嚼數日。俟脹消盡為度。不必忌咸。或服五香丸。（方見卷上）每日早晚各服一錢。淡薑湯送下。漸服漸效。數日後日服一錢。俟脹退盡為止。俱不忌咸。接服後開補藥二方。</p>
<p>三曰臌脹。俗名蜘蛛脹。此因婦女經閉。肚腹漸脹。四肢漸細。狀若蜘蛛也。飲食減少。夜不成眠。諸藥罔效。亦用仙果散。每次嚼一二分。日嚼二三錢。漸嚼漸效。總以脹消盡為度。自然眠食如常。接服後開補藥二方。至數月後。血氣充足。經水自通。亦不忌咸。</p>
<p>四曰脾虛脹。因脾虛泄瀉。日久不愈。轉為脹病。治法以祛濕健脾為主。宜服八珍粉。（方見卷上）每日早晚。及上下半日。各取八珍粉一二湯瓢。加白糖開水沖糊。作點心食之。漸服漸效。服至全愈為度。接服後開補藥二方。以復氣血。亦不忌咸。</p>
<p>又有病後之人。手足頭面胸腹等處。忽然浮腫。問其大小便如常。胃口尚開。夜睡安穩。惟覺手足軟弱無力。辰刻起床。面目腫稍退。至午刻前後仍如故。此係虛腫。非脹病也。亦宜服後開補藥二方。次第服之。其腫即消。而精神氣力。亦得漸漸復元矣。</p>
<p>以上各種脹病。自調治起。務須忌食生冷水果。並一切發氣各物四個月。保無後患。</p>
<p>補藥第一方　大熟地　全當歸　白茯苓　淮山藥　南芡實（各三錢）　潞黨參　炒冬朮　炒白芍（各二錢）　川芎（一錢五分）　砂仁（研末沖六分）　新會皮（六分）　炙甘草（一錢）　生薑（三片）　紅棗（五枚）　水煎熱服。每日一帖。連服五帖。再服第二方。</p>
<p>補藥第二方　大熟地　全當歸（各四錢）　潞黨參　炙黃耆　白茯苓　南芡實　淮山藥（各三錢）　炒於朮　炒白芍　川芎（各二錢）　砂仁（研末六分沖）　新會皮（六分）　炙甘草（一錢）生薑（三片）　烏棗（五枚）　水煎熱服。每日一帖。連服十餘帖。均復元。</p>

<h2>男婦痞塊</h2>
<p>（宜用六味地黃丸其效如神）</p>
<p>大熟地（一斤）　淮山藥　山萸肉（各八兩）　白茯苓　牡丹皮　澤瀉（各六兩）</p>
<p>上藥研細末。白蜜煉為丸。如綠豆大。每晨服五錢。淡鹽湯送下。漸服漸效。切勿間斷。至愈為度。</p>

<h2>遺精</h2>
<p>此症系勤勞太過。心腎不交所致。心火旺則腎水溢。腎水溢則下泄矣。方以補中土為主。土運則生金。金旺則生水而制火。宜用後開諸方。次第服之。</p>
<p>抱木茯神　漂於朮　石蓮子（各三錢）　九制何首烏（二錢五分）　女貞子（二錢）　遠志肉　柏子仁（各一錢）　炙甘草梢（八分）</p>
<p>上藥水煎熱服。每日一帖。連服五六帖。接服後方。</p>
<p>大熟地（五錢）　雲茯苓　抱木茯神（各四錢）　山萸肉　遠志肉（各三錢）　生棗仁（一錢五分）杭白芍　制首烏　土炒漂白朮（各二錢）　粉甘草（一錢五分）　建蓮肉（三錢）　正瑤桂心（二分）　水煎服二帖。接服後方。　大熟地（六錢）　雲茯苓　抱木茯神　薏苡仁（各四錢）　山萸肉　生棗仁（各三錢）　杭白芍　土炒漂白朮（各二錢）　當歸（一錢五分）　黃連（三分）　瑤桂心（二分）　水煎熱服四帖。再服後方。</p>
<p>大熟地　雲茯苓　薏苡仁　山萸肉　生棗仁（各三錢）　抱木茯神土炒漂白朮　杭白芍（各二錢）　全當歸　北五味（各一錢）　川黃連（二分）　瑤桂心（一分五釐）　水煎服數帖。至全愈為度。</p>

<h2>瘰癧</h2>
<p>生薑一片。如一錢厚。貼癧上。艾絨一團。略小於癧。捻緊上尖下平。放薑片上灸之。火息去灰。連灸三壯。換薑片再灸。四壯為度。灸處起疱。針挑破。塗葵花油。（方見卷上）去其火毒。數日平復。約二三旬後。其癧漸消。或已日久未能消盡。再灸一次。必盡消也。</p>

<h2>癲狗咬傷</h2>

<h3>毒發欲死</h3>
<p>凡被癲狗咬或銜衣。即觸毒氣。設自昧不覺。未經早治。或治不中肯。急則七日發作。緩作則七七日至百日。定當發作。卒病心腹絞痛如刀割。神識不清。痛劇無賴。自抓胸膺。嚼舌齧指。咬其膚肉。甚至嚼衣服瓷器。不過二三時即死。欲辨症是否。須用葵扇重扇。見風即身縮。戰慄畏懼。又急鳴鑼。聞聲亦驚惕不安。確是中癲狗毒無疑。即驗狗是否病癲。亦以葵扇風試風。見風戰慄。以鑼聲試聞。亦亂竄。確是癲狗。當其觸毒未發。一聞鑼聲。其癲即發。人與狗皆然。曾見人中癲狗毒發。遇友人用人參敗毒散。加生地榆、紫竹根濃煎。急灌一劑而神識清醒。兩劑盡而病若失。此係目擊經驗者。</p>
<p>方見後。</p>
<p>真紋黨　紅柴胡　前胡　羌活　獨活　茯苓　生甘草（各三錢）　炒枳殼　桔梗　撫芎（各二錢）　生地榆（一兩）　紫竹根（一大握）　生薑（三錢）</p>
<p>清水濃煎。溫服。</p>
<p>又據友云。癲狗來家。或遇諸塗。不及趨避。或被咬銜衣。感觸毒氣。知覺畏風畏鑼聲。或在七日。服藥一劑。於本人頭頂尋覓紅髮。盡行拔去。至二七日。嚼生黃豆試驗。有無留毒。如嚼豆有生豆氣。噁心欲嘔。則已毒盡。不必再服。若無生豆氣。如熟地可口。不作惡欲嘔。急再服一劑。至三七日。仍用豆照前嚼試。服至三劑。留毒已化為膿血。從大便出盡。永保無虞。設好狗被咬。於未發之先。亦用此方。加烏藥一兩。水濃煎。拌飯與食。斷不致癲。屢經照方施治。應手見效。即孕婦亦可服愈。並無他患。靈驗異常。所望仁人君子。大發慈悲。刊印傳送。俾得周知。隨遇施救。功德無量。</p>

<h2>毒蛇咬</h2>
<p>用田雞草。放口內嚼融敷傷處。立能止痛消腫。</p>

<h2>風濕腳腫</h2>
<p>杉木皮（二兩）　東瓜皮　柚子皮（各一兩）　生薑皮　蒼朮　防風（各五錢）　桑葉　桑枝　桂枝尖　附片　花椒（各三錢）　羌活（二錢）　生薑（五大片）　蔥頭（五個）　紹酒腳（一斤）　</p>
<p>加清水同煎。先熏後洗。數次即愈。</p>

<h2>手足風濕麻木作痛</h2>
<p>生黃耆　桑寄生　木瓜　老生薑（各三錢）　生白芍（二錢）　大紅棗（二十枚）　用米酒燉透代茶。漸服漸效。不拘幾服。至愈為度。</p>

<h2>食積嘔水</h2>
<p>陽附三錢　西莊黃力勝生軍　檳榔（各一錢）　細辛（二分）　水煎熱服一二帖。取瀉即愈。</p>

<h2>腎子腫痛名曰子癰</h2>
<p>此症腎囊發紅。腎子下墜者是。若不速治。潰爛致命。</p>
<p>用活青竹一段。長尺余。放柴火上。四面燒黑。淬入清水。立刻取起其竹尚溫。以色布包裹。戤於腎囊兩腿。夾緊少頃即愈。（以上二方系黃震旺君抄傳）</p>
<p>又方　用枸橘湯。方見卷上。服二三帖即愈。</p>

<h2>手腕彎十指屈身體瘦不起床名曰癱症</h2>
<p>當歸（二兩）　川芎（八錢）　枸杞子　菟絲子（各五錢）　川杜仲　巴戟天（各三錢）　鹿茸（二錢）　川牛膝（一錢）　威靈仙（五分）</p>
<p>上藥提出鹿茸。研極細末。放有蓋茶碗內。或放參罐內更好。余藥水煎汁衝入。重湯燉化。取起熱服。每日服二帖。須服至一二百帖。才得漸漸見效。服至其病愈半之時。每日服一帖。大約須服三四五百帖。方能全愈復元。切勿間斷是為至要。</p>
<p>建寧縣黃震旺君。於而立之年。曾患此症。醫藥罔效。後遇良醫。開服前方。共服六百多帖。病體復元。從此學醫濟世。近年愈古稀。康健無比。足徵醫術救人之報。面傳此方。以廣傳布。</p>

<h2>十指屈伸如樹段不能稍動大便堅閉脈極弱細</h2>
<p>（名木癱症與前症稍異耳）</p>
<p>白歸身（六錢）　熟地　炙黃耆　淡蓯蓉（各四錢）　鹿茸末　生白芍（各二錢）　川牛膝（一錢）　川芎（一錢五分）　制威靈仙（六分）　東洋參（三錢）</p>
<p>上藥以四物湯為主。加參耆鹿茸蓯蓉。為補益氣血。生津以潤化。加威靈仙川牛膝。為利機關報使之先鋒。應將鹿茸末提出。放入參罐。或有蓋茶碗內。余藥煎汁衝入。重湯燉化。取起熱服。再日服二帖。連服六十餘帖。手足略能舉動。大便得解甚堅燥。再服六十帖。始能下床舉步。又服六七十帖能行走。以後日服一帖。直服至三百餘十帖。精神氣血。一切復元。倘患病之人。景況平常。無力吃鹿茸。以鹿角膠三錢代之。</p>
<p>建寧縣醫士朱田薲君。於知命之年。曾患此症。系照前方服至全愈。面授此方。以廣流傳。</p>

<h2>拔老瘡管</h2>
<p>先用升降丹。將患口爛稍大。再用扁柏嫩葉少許搗爛。加紅糖少許。煉勻取如黃豆大一粒。捺入瘡口內。膏與蓋之。隔一二日。管肉自出。鉗去。另用金花散摻滿瘡口。蓋以膏藥。每日一換。數日後。長肉收功。</p>

<h2>一切瘧疾</h2>
<p>白胡椒粉。（一錢）　第一靈寶丹。（三分）　研勻儲瓷瓶。勿令泄氣。不拘何瘧。取藥一分。放臍上。膏藥蓋之。二日一換。貼二三次即愈。</p>

<h2>奇病乳垂</h2>
<p>某婦產後兩乳下垂。長過小腹。形細如牛筋。疼痛異常。即延新到之王醫者名其年診視。用當歸川芎兩味。燒煙燻之。久則痛止。乳亦縮上如舊。好在藥味平淡。而奏效神速也。</p>

<h2>初生小兒解痘</h2>
<p>生地　當歸　赤芍（各二錢）　金銀花　荊芥穗　紅花　桃仁（各一錢）　生甘草（五分）</p>
<p>上藥用水二茶杯。煎一茶杯。取本小兒臍帶約二三寸。炭火焙乾研末。調入藥內。令小兒數次服完。今日服藥。明日出痘。三日後收功。不灌漿亦不結甲。再數日即出疹。此方須於小兒生下。十日之外。十八日以內用之。若過十八日則不驗矣。</p>

<h2>慢驚風</h2>
<p>慢驚之症。緣小兒吐瀉得之為最多。或久瘧久痢。或痘後疹後。或因風寒飲食積滯。過用攻伐傷脾。或秉賦本虛。或誤服涼藥。或因急驚而用藥攻降太甚。皆可致此症也。其症神昏氣喘。或大熱不退。眼開驚搐。或乍寒乍熱。或三陽晦暗。或面色淡白青黃。或大小便清白。或口唇雖開裂出血。而口中氣冷。或瀉痢冷汗。四肢冰冷。並至腹中時響。喉內痰鳴。角弓反張。目光昏暗。此虛症也。亦危症也。俗名謂之天吊風。虛風。慢脾風。皆此症也。若再用寒涼。再行消導。或用膽星抱龍以除痰。或用天麻全蠍以驅風。或用知柏芩連以清火。或用大黃巴豆以去積。殺人如反掌。良可畏也。若治風而風無可治。治驚而驚亦無可治。此實因脾腎虛寒。孤陽外越。元氣無根。陰寒至極。風之所由動也。治宜先用辛熱。再加溫補。蓋補土所以敵木。治本即所以治標。凡小兒一經吐瀉交作。即是最危之症。若其屢作不已。無論痘後疹後病後。不拘何因。皆當急用參朮。以救胃氣。不唯傷食當救之。即傷寒傷暑。亦當救之。蓋其先雖有寒暑實邪。一經吐瀉。業已全除。脾胃空虛。倉廩匱乏。若不急救。恐虛痰上湧。命在頃刻矣。庸醫見之。皆誤指為熱為食。投以清火去積涼藥。立時告變。為之奈何。於是群起而譁曰。慢驚本不治之症也。夫慢症而以急症治之。不死何待。今既以慢驚為不治矣。曷不推究此理。與其失之寒涼。萬難生活。不若失之溫補。猶可療救。此論發明吐瀉驚風之理。極為明確。亦極易辨別。後之君子。將臚列各條。細加詳察。如有數處相合。即急救之。萬不可再有濡滯。致喚奈何也。今將慢驚辨症。臚列於後。</p>
<p>一慢驚吐瀉。脾胃虛寒也。　一慢驚身冷。陽氣抑遏不出也。</p>
<p>一慢驚鼻孔煽動。真陰失守。虛火爍肺也。</p>
<p>一慢驚面色青黃及白色。乃氣血兩虛也。</p>
<p>一慢驚大小便清白。腎與大腸全無火也。</p>
<p>一慢驚昏睡露睛。神氣不足也。一慢驚手足抽掣。血不行於四肢也。</p>
<p>一慢驚角弓反張。血虛筋急也。</p>
<p>一慢驚乍熱乍冷。陰血虛少。陰陽錯亂也。</p>
<p>一慢驚汗出如洗。陽虛而表不固也。</p>
<p>一慢驚手足瘛瘲。血不足以養筋也。</p>
<p>一慢驚囟門下陷。虛至極也。</p>
<p>一慢驚身雖發熱。口唇焦裂出血。卻不喜飲涼茶水。以及所吐之乳所瀉之物。皆不甚消化。脾胃無火可知。唇之焦黑。乃真陰不足也。</p>
<p>大凡小兒因發熱不退。及吐瀉過多。總屬陰虛陽越。必須預防其成慢驚之症。此與感冒風寒發熱。迥乎不同。故不宜再散。治宜培元救本。加薑桂以引火歸源。必辛熱開寒痰。再進溫補。萬無一失。尤冀仁人君子。詳審前開條款。速為極救。禱切禱切。</p>
<p>小兒之為病。須細察其形色。再探問乳之者。病因何而起。所食何物。曾否驚嚇。夜間如何情景。如此逐一問去。再開方用藥。庶幾不誤。</p>
<p>今將經驗二方列後。</p>
<p>逐寒蕩驚湯　此方藥性溫暖。專治小兒體弱久病。或痘疹後誤服寒涼。轉為慢驚。。認系虛寒。速服此藥。開痰寬胸。止吐回元。</p>
<p>瑤桂心（一錢研細或磨濃汁不可經火）　炮姜（一錢）　胡椒（一錢研）　丁香（十粒研）另用灶心土三兩煮水澄極清。煎前四藥之末。一大酒杯。頻頻灌下一二劑。嘔吐漸止。再接服後方。定獲奇效。切勿遲疑。</p>
<p>加味理中地黃湯　此方助氣補血。治小兒精神虧。氣血壞。狼狽瘦弱。皆可挽回。濃煎頻服。參天救本之功。難以盡述。</p>
<p>熟地（五錢）　當歸（三錢如三四劑後泄瀉未止者去之）　山萸肉（一錢六分）　枸杞（三錢）　白朮（四錢）　條參（二錢）　炮姜（一錢五分）　棗仁（二錢）　炙甘草（一錢）　五味子（一錢）　瑤桂心（一錢）　破故紙（二錢）　生薑（三片）　紅棗（三枚）　胡桃（一個）　打碎為引。仍用灶心土一兩。煮水煎藥。取濃汁大半茶杯。加附子三分煎水。攙入。量兒大小。分數次灌之。如有咳嗽加粟殼一錢。金櫻子一錢。如大熱不退。加白芍一錢。泄瀉不止。加丁香六分。只服一劑。即去附子。只用丁香七粒。隔二三日。只用附子一二分。蓋因附子大熱。中病即宜去之。如用附子太多。恐小便閉塞。若不用附子。則沉寒臟腑固結不開。如不用丁香。則泄瀉不止。此又神而明之。存乎其人者。唯在依方療救者。臨時斟酌。萬全而已。此方乃救陰固本之要藥。治小兒慢驚稱為神劑。若小兒吐瀉不至。甚或微見驚搐。胃中尚可受藥吃乳便利者。並不必服逐寒蕩驚湯。只服此藥一劑。而風定神清矣。如小兒尚未成驚。不過昏睡發熱不退。或時熱時止。或日間安靜。夜間發熱。以及午後發熱等症。總屬陰虛。均宜服之。若素來壯實之小兒。偶染新病。眼紅口渴者。乃實火之症。方可用清解之劑。但果系實火。必大便閉結。氣壯聲宏。且喜飲冷茶水。若吐瀉交作。即非實火可知矣。此方補造化陰陽所不足。實回生起死有神功。倘大虛之後一劑未見大驗。審視小兒。稍有起色。即多服之。可奏奇功。如其脾胃虛寒。胸膈胃口有寒痰拒藥不受者。可先權用溫中補脾湯。如不應。再用此湯。溫中補脾湯　西黨參　炙黃耆　於朮（各一錢）　乾薑　白蔻　砂仁（各八分）　炙甘草　茯苓　官桂　陳皮　半夏（各六分）　生薑（三片）　紅棗（三枚）</p>
<p>水煎濃汁一酒杯。頻頻灌之。必獲應效。</p>

<h2>大麻瘋一名紫雪瘋</h2>
<p>鎮江丁參將患此症。得此秘方。治之痊愈。又醫多人。無不取效如神。但患此症者。眉毛若盡脫落。其症難治。如眉毛尚未脫盡。雖手足骨節有損塌皆可治。凡初起未深之症。百試百效。先服湯藥四劑。每日一劑。再服丸藥。</p>
<p>湯藥方　陳皮　白芷　苦參　天麻　秦艽　川續斷　荊芥　薏苡仁　防風　羌活　風藤　牛膝　當歸　海桐皮　蒼朮　連翹殼　木香　桂枝　甘草（各一錢）　黑棗（二枚）　生薑（一片）</p>
<p>水二碗。煎至一碗熱服。渣再煎服。</p>
<p>丸藥方　大胡麻　小胡麻　白蒺藜（各一斤四兩）　苦參（一斤）　荊芥　防風（各八兩）　當歸　蒼朮（各六兩）　牛膝　薏苡仁　續斷（各四兩）</p>
<p>上藥共研細末。水發為丸如綠豆大。每丸藥一錢。加楓子膏。春秋各八釐。夏六釐。冬一分。每服丸三錢或二錢。照數加楓子膏捻圓攙和。用毛尖茶送服。</p>

<h2>楓子膏</h2>
<p>大楓子（一斤去殼用仁）</p>
<p>銅鍋內炒至三分紅色七分黑色為度。太過則無力。不及則傷眼。炒後研成細膏。如紅沙糖一樣。用銅杓盛。向火上熬四五滾。倒在油紙。放泥地上。以物罩之候冷。儲磁罐待用。如上面生黴。拭去之。照常用。</p>
<p>百日內切忌房事。切忌食鹽。犯之不愈。並忌醬油醋。及一切雞鵝魚肉發氣動風等物。</p>

<h2>小孩日夜咳嗽吐痰兼血</h2>
<p>（此乃痧氣入肝致成連珠嗽痰色白血鮮紅氣或急或緩時熱時寒飯食少進大便似近於痢傅伯揚君開付二方各服二劑善為調養漸漸復元）</p>
<p>焦山梔　山茶花（各三錢）　川貝母　冬桑葉　馬兜鈴　杏仁　旋覆花（各二錢）　碧玉散（三錢）　炒枯芩　紫菀（各一錢五分）　款冬　通草（各一錢）　枇杷葉（三片）　水煎服二帖。接服次方。</p>
<p>山茶花　白蛤殼（各三錢）　旋覆花　馬兜鈴　款冬　川貝母　紫菀　焦梔子（各二錢）　百部炒枯芩　白前（各一錢五分）　枇杷葉　絲瓜葉（各三片）　水煎服二帖。以後調養。漸獲全愈。</p>

<h2>婦人乾血癆</h2>
<p>將本人兩手中指頭頂合攏。用艾圓各灸五壯。又於頸後頭節二節骨上。各灸五壯。又於屁股中間泥鰍骨上。灸五壯。胸中心窩穴。灸五壯。艾圓俱如紅豆大。其效如神。</p>
<p>又方　用山羊血數分。陳紹酒燉化熱服。一二次即愈。</p>

<h2>爛腳臁瘡</h2>
<p>爐甘石（四錢）　上冰片（一分）　豬腳骨髓（一副）</p>
<p>上藥先將甘石冰片各研細末。和勻。再將豬骨髓搗爛。以前二味藥末和入。搗勻。貯磁碗。將患處腐膿用弱紙揩拭乾淨。以前藥薄薄敷滿。每日一換。效驗如神。忌食發氣各物。</p>
