<header data-type="book">
<h1>香要抄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>底本</dt><dd>日本江戶後期影寫元亨間傳鈔保元間卷子本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀000453–000454）</dd></div>
</dl>
</header>
