<header data-type="book">
<h1>醫宗金鑑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>版式</dt><dd>今版</dd></div>
<div><dt>直書</dt><dd>橫書</dd></div>
</dl>
</header>
