<header data-type="book">
<h1>薛氏濕熱論歌訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王旭高</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1862">公元1862年</data></dd></div>
</dl>
</header>

<h1>正文</h1>
<p>一瓢先生《濕熱論》，獨具卓識，立言明簡，而用藥精奇，惜不立湯名，學者難於記誦。茲編歌訣，以便誦習。</p>

<h1>總訣</h1>
<p>濕熱非從表入里，始終當究三焦理。夫熱是為天之氣，而濕則為地之氣。濕得熱而濕愈蒸，熱得濕而熱愈熾。濕熱兩分其病輕，濕熱交混其病駛。熱多濕少當清泄，濕多熱少當分利。濕熱俱多上下閉，三焦俱病為難治。濕熱化火劫陰津，引動肝風痙厥至。陽明經胃是沖衢，救胃生津扼要旨。（此條非原文，乃撮論中大旨，編為總訣，以附於首。原本共三十五條，今將第十條並於首條下，二十三、二十四兩條亦合而為一，故只得三十三條。）</p>

<h1>濕熱初起</h1>
<p>濕熱蒸騰五六月，肌表口鼻皆能入。太陰（脾）陽明（胃）受病多，（濕熱交蒸，夏暑為甚，從肌表傷者，十之一二，從口鼻入者，十之八九。陽明為水穀之海，太陰為濕土之臟，故太陰，陽明受病居多。或兼三焦，或涉膜原，茲不繁注。）始則微寒後但熱。（始則微寒後發熱，凡風溫、溫熱、溫疫皆如此類，尚非濕熱病的證。但傷寒初起則甚惡寒，風溫、濕熱等初起則微惡寒，此為辨也。）汗出（陽濕有汗，陰濕無汗，觀下條便知。）胸痞舌白黃，口渴不飲或不渴。（此則濕熱證之的證。論中原注云：始惡寒者，陽為濕遏而惡寒，終非寒傷於表之惡寒。但熱不寒，則鬱而成熱，反惡熱矣。熱甚陽明則汗出，濕蔽清陽則胸痞，濕邪內盛則舌白，濕熱交蒸則舌黃，熱則液不升而口渴，濕則飲內留而不引飲。）此條濕熱證提綱，病在中焦氣分窒。（病在中焦者，如上所謂發熱、汗出、胸痞、口渴、舌白等是也。）藿香　蒼朮　杏仁　蔻仁　厚朴　半夏　菖蒲，六一散佩蘭葉　枳殼　鬱金　桔梗。（此濕熱病初起，用藥之大法也。濕熱蘊於上、中二焦，尚未化火，只是氣機阻窒，參舌白、胸痞、渴不多飲可審，故從藿香正氣、太無神術二方化裁。去蘇梗、白芷，甘草等味，嫌其疏散太過；又恐甘能滋濕，加入杏仁、枳殼、鬱金，輕苦微辛，開通上、中二焦氣分；六一散乃河間治暑濕熱之專藥，佩蘭葉芳涼逐穢之用耳。）若兼扶食舌根黃，楂肉栝蔞萊菔子益。（此證多有挾食者，宜加栝蔞、楂肉、萊菔子。舌根若現黃色，即是挾食證。）</p>
<p>原注：此原本第一條、第十條。</p>

<h1>陰濕傷表</h1>
<p>陰濕傷表必無汗，惡寒身重且頭疼。羌活　蒼朮　香薷　藿香　薄荷　牛蒡等，頭不痛將羌活存。（此條無汗惡寒，身重頭痛，與感冒寒邪同。何以知其為陰濕傷表？必有舌白、胸痞，如首條所云。證為表重，以辛芳理濕邪，稍兼辛溫散表寒。蓋頭痛惡寒，必挾風邪，故加羌活散之；頭不痛者，去羌活。）</p>
<p>原注：此原本第二條。</p>

<h1>陽濕傷表</h1>
<p>陽濕傷表自汗出，汗出不解身仍熱，關節煩疼微惡寒，濕在肌表身重極。（此條與上條頗同，惟汗出關節煩疼獨異，明是濕邪見證，云「陽濕傷表」者，以汗出熱不解，且口必微渴也。）豆卷　茯苓皮　蒼朮皮，滑石　藿香葉　鮮荷葉，通草　桔梗等味宜，不惡寒者去蒼朮。（此條陽濕傷表，故用藥即從三焦分泄，不專解表。因其有汗也，故不惡寒者，便去蒼朮皮。陰濕傷表，無汗，用發表；陽濕傷表，有汗，用解肌，暗合仲景麻黃、桂枝之意，宜究心焉。）</p>
<p>原注：此原本第三條。</p>

<h1>濕重於熱</h1>
<p>濕熱舌白用辛開，厚朴　半夏　菖蒲　草果煨。遍舌白苔為濕盛，口雖微渴勿疑猜。（遍舌白苔滿布，為濕邪極盛之候。口雖微渴，乃液不上升，非有熱也，故重用辛開以達邪。）</p>
<p>原注：此原本第十二條。</p>

<h1>濕熱參半</h1>
<p>濕漸化熱舌尖紅，余濕猶滯舌根白。蔻仁　半夏　大豆卷　綠豆衣　六一散　連翹，辛泄之中佐清熱。（此濕熱參半之證。辛泄濕邪，慮其劫液，故只取蔻仁、半夏、菖蒲等之辛通，而不取蒼朮、川樸、草果之辛烈；甘涼清熱，慮其滋濕，故只取豆卷、連翹、綠豆衣、六一散之輕清，而不用鮮斛、知母、麥冬之滋膩也。用藥頗見斟酌，最宜熟玩。）</p>
<p>原注：此原本第十三條。</p>

<h1>濕熱蒙閉上焦</h1>
<p>濕熱證初起，口渴身熱熾。脘悶或懊憹，眼閉時譫語。濁邪蒙上焦，高者越之是。枳殼　桔梗　梔子　淡豆豉宜，無汗乾葛使。（此濁邪蒙閉上焦，故脘悶懊憹，眼欲迷閉者，清陽之氣不舒也。時譫語者，氣分熱熾，心胞受灼也。然驗其舌，必有白苔，且病方初起，斷無熱邪即走心胞之理，故知為濁邪蒙閉上焦。經云「在上者引而越之」，故用梔、豉湧泄之劑，合枳、桔之開提，邪從上解矣。）</p>
<p>原注：此原本第三十一條。</p>

<h1>濕熱俱重</h1>
<p>濕熱一二日，胸悶不知人，瞀亂大叫痛。鮮菖蒲　草果　厚朴　檳榔，六一散　芫荽各重用，或加皂角（末）　地漿（水煎藥）臻。濕熱阻閼上中閉，病方初起散邪遵。（此條濕熱俱重之候，阻閼上、中二焦：閉而不達，故胸悶不知人，瞀亂大叫痛。用藥以辛通散邪為急，故用草果仁、檳榔、厚朴，直達膜原，以破濕熱穢惡黏膩之氣。鮮菖蒲開竅泄邪，六一散清熱利竅。取芫荽者，芫荽辛溫香竄，內通心、脾，外達四肢，能闢一切穢惡不正之氣，故痧出不快者，用之取效，今引用之，亦取內通外達以辟邪也。猶恐藥力不及，復以皂角末辛通開竅最捷。地漿水煎，取其水土交混，有澄而復清之意，能瀉濕中之熱也。）</p>
<p>原注：此原本第十四條。</p>

<h1>濕熱化風為痙</h1>
<p>濕熱證方三四日，即口噤而四肢急。此乃邪侵經絡中，甚則角弓為痙厥。蒼耳子　威靈仙　鮮地龍，酒淬川連　秦艽　滑石，絲瓜藤與海楓藤，熄風通絡斯方合。（此條乃濕熱化風為痙。口噤，四肢拘急，甚則角弓反張，邪侵經墜之中，故用藥稍清濕熱，重用熄風通絡。）濕熱痙厥每相連，肝膽三焦風火鬱。濕能生熱熱生風，風煽火熾亂神識。外竄筋經則成痙，內並膻中則為厥。胃液乾枯風火炎，厥而不返終難活。（傷寒厥者未必即痙，痙者未必即厥。若濕熱為痙必致厥，為厥則必致痙。蓋濕熱本在太陰、陽明二經，病在二經之表者，多兼少陽三焦，病在二經之裡者，每兼厥陰風木，以肝、膽、三焦同司相火。陽明、太陰之濕，久鬱則生熱，熱盛則少火皆成壯火，火動風生，而筋攣脈急則為痙，風煽火熾而識亂神迷則為厥，內外充斥，痙、厥並見。正氣猶存一線，則氣復反而生，胃津不克支持，則厥不回而死矣。所以治痙顧惜津液為主。此方乃治痙證初見，津液尚在未傷，重用泄風通絡，正所以保其津液也。如津液已虧，不可拘執一方，當化而裁之可也。）</p>
<p>原注：此原本第四條。</p>

<h1>濕熱化火致厥</h1>
<p>濕熱煩渴舌焦黃（或焦紅），發痙神昏譫笑狂。邪灼心胞營血耗，犀角　羚羊　銀花露與鮮菖蒲，連翹　玄參　鮮生地　鉤鉤等，更要芳開至寶丹良。清熱救陰為急務，此條言厥義當量。（上條言痙，此條言厥。濕熱化火，逼灼營陰，心胞受邪，神昏譫笑。用藥以清熱救陰為急務，兼至寶丹開心胞之邪也。可知但痙而未厥。且痙方初起者，猶可散邪通絡。若痙、厥相兼，當以救陰為要。</p>
<p>原注：此原本第五條。</p>

<h1>濕熱蘊結昏痙</h1>
<p>濕熱昏痙用開泄，不效須知邪蘊結。涼膈散　承氣湯相機從，大便不通脈數實。此係陽明實熱多，下奪陽明為便捷。（濕熱發痙，神昏笑妄，用清泄芳開不效者，須知熱邪蘊結，法非下奪不可，更審其脈洪數有力，其為熱邪蘊結無疑。但上結於胸膈者，宜仿涼膈散；若下結於腸胃者、宜調胃承氣之例。此係陽明實熱，仍假陽明為出路也。）</p>
<p>原注：此原本第六條。</p>

<h1>濕熱化火　充斥表裡三焦</h1>
<p>濕熱化火熱邪燎，充斥表裡及三焦。煩渴舌焦紅或縮，斑疹胸痞自利饒。壯熱神昏為痙厥，陰津涸竭命難逃。急投大劑犀角　羚羊角　鮮生地，紫草　玄參　銀花露調，金汁　鮮菖蒲兼蚌水，清火救液此方超。（此條乃痙厥證之最重者。上為胸痞，下為熱利，外發斑疹，熱邪充斥表裡三焦，陰津消涸，勢極凶危，重用大劑涼火救液，希冀萬一。若未曾服過芳開者，兼投至寶丹；若已經芳開者，宜珠黃散。）</p>
<p>原注：此原本第七條。</p>

<h1>濕熱阻遏膜原</h1>
<p>濕熱阻遏於膜原，寒熱分爭如瘧狀。檳榔　厚朴　草果　柴胡　蒼朮　藿香　菖蒲，半夏六一散達原仿。（濕熱阻遏膜原，舌苔必白，心胸必痞，發為瘧疾，是名「濕瘧」，與秋風成瘧有間，故仿吳又可達原飲加減，以達膜原之邪，合入不換金正氣散意，祛嵐瘴濕熱也。）</p>
<p>原注：此原本第八條。</p>

<h1>濕滯下焦</h1>
<p>濕熱數日胸中痞，自利溺赤口渴膩。桔梗　杏仁　大豆卷　澤瀉　滑石　茯苓　豬苓，三焦開泄兼分利。（此條以自利溺赤，濕熱滯下焦，故以分利為主。又胸痞口渴，故佐桔梗、杏仁、豆卷，開泄上、中二焦，源清則流自潔矣。）</p>
<p>原注：此原本第十一條</p>

<h1>濕熱劫津　木火犯胃</h1>
<p>濕熱證，四五日，口渴脈細數，胸中悶欲絕，乾嘔不止膽火沖，舌光如鏡胃津劫。宜用西瓜汁　鮮生地汁　甘蔗汁，濃磨木香香附烏藥鬱金啜。生津清熱佐疏通，不煎氣味俱全捷。此本營虧木旺人，邪犯陽明劫津液。幸無痰飲雜其中，此法施之為熨帖。（此條從胸悶欲絕，乾嘔不止，舌光如鏡上著筆，用方亦奇。不用煎者，取其氣之全耳。然幸無痰飲夾雜其中，故得用清法。）</p>
<p>原注：此原本第十五條。</p>

<h1>濕熱挾痰飲</h1>
<p>濕熱內留挾痰飲，嘔吐黏痰清水並。滌飲降逆和少陽陽明，溫膽湯栝蔞碧玉進。（此素有痰飲，而陽明、少陽同病，嘔吐清水，或痰多黏膩，乃濕熱內留，木火上逆。故用溫膽湯加栝蔞、碧玉散，滌痰降逆為治。與上條嘔同而治異，正當參看。）</p>
<p>原注：此原本第十六條。</p>

<h1>濕熱犯上焦　肺胃不和</h1>
<p>濕熱嘔惡無休止，晝夜不瘥如欲死。是因肺胃不相和，胃熱移肺肺還胃。川連蘇葉各數分，兩味煎湯服之美。（肺胃不和，最易致嘔。今濕熱嘔惡不止欲死者，因肺胃不和，胃熱移肺，肺不受邪，還歸於胃也。然多幹嘔，是屬上焦，並無酸水、苦水、脅痛等證，其非肝膽之嘔可知。又無清水黏痰，非痰飲又可知。夫治嘔之法，必用苦辛通降，然有分別，如嘔惡、吞酸、脅痛者，用左金法，川連同吳萸服，直達肝經鬱結之熱；如嘔惡、胸痞、舌白者，川連同乾薑服，以開中焦之痞。此肺胃不和，嘔惡不止，用川連之苦降雖同，而用蘇葉之辛通則異。蓋蘇葉質輕，氣味辛芳，能宣通上焦肺胃，合川連之苦能燥濕，寒能清熱，以治濕熱在上焦作嘔，尤足稱為神化，故本論云「煎湯呷下即止嘔。」）</p>
<p>原注：此原本第十七條。</p>

<h1>暑濕入肺</h1>
<p>暑濕入肺為咳嗽，甚至喘而不得眠。葶藶子　六一散　枇杷葉，瀉肺消暑濕邪宣。（按：韓飛霞治久雨天行咳嗽頭痛，用六一散，蔥、薑湯調服，應手取效。蓋甲已土運濕令，痰壅肺氣上竅，但泄其膀胱下竅而已，不在咳嗽例也。此方即師其意，加葶藶、枇杷葉瀉肺，同六一消暑濕，引從下竅而泄，化裁之妙也。</p>
<p>原注：此原本第十八條。</p>

<h1>濕熱暑邪閉腠理</h1>
<p>濕熱暑邪閉腠理，始終無汗胸中痞，肌肉微疼身熱燎，六一散一兩研末細，薄荷錢許泡湯調，服下頓時汗即至。（六一散解肌利濕清熱，統治暑濕熱三焦之證。河間贊為凡間仙藥。合上條並參，可知其功用之廣，活法在人，顧用者之巧拙何如耳。）</p>
<p>原注：此原本二十一條。</p>

<h1>濕熱傷營　風陽上逆</h1>
<p>濕熱傷營風火升，時時汗出熱仍蒸，忽然頭痛須防痙，女貞子　生地　玄參　羚羊角　鉤藤　蔓荊子。（此濕熱傷營，風陽上逆，故汗出熱仍不除，忽頭痛不止，須防成痙。藥用滋養營陰為主，而熄風佐之。）</p>
<p>原注：此原本第二十條。</p>

<h1>濕邪傷陽</h1>
<p>濕熱脈細舌苔白，身冷汗泄胸痞口渴。濕中少陰（濕中太陰口不渴，濕中少陰則口渴。）陽欲亡，茯苓益智仁　人參　附子　白朮。（上條熱傷營陰，風陽上逆，故以女貞子、生地、羚羊角、鉤藤等養營泄風為治。此條濕邪傷陽，陽欲先亡，故以參、附、苓、術等扶陽逐濕為法。因其舌白、胸痞、脈細，知為濕傷陽氣。更審身冷汗泄，知為陽氣欲亡。口中雖渴，乃少陰本證，並非屬熱。故用溫法而無疑也。加益智醒脾陽，以濕從土化也。）</p>
<p>原注：此原本第二十五條。</p>

<h1>濕困脾陽</h1>
<p>濕困脾陽但惡寒（初起不熱），腹疼泄利脈沉弱諳，面黃不渴四肢倦，用藥須從溫法參。大順（散方　杏、薑、桂、甘。）縮脾（飲方　草果、烏梅、砂仁、甘草、葛根、扁豆。）來復（丹方　硫黃、硝石、青皮、陳皮、五靈脂、玄精石。）等，冷香飲子（附子、陳皮、甘草、淡乾薑、草果）效皆堪。（此濕困脾陽之候。觀腹痛泄利脈沉，屬太陰里證；又面黃口不渴，四肢懶倦，屬太陰外現之證；初起便惡寒而不身熱，是中於陰濕，非陽濕也。當用溫法無疑，但分輕重耳。或問何煎藥？曰：薑、附、苓、朮、川樸、益智等。虛者，參、附理中法。）</p>
<p>原注：此原本第二十六條。</p>

<h1>濕熱大汗亡衛陽</h1>
<p>濕熱四五日，忽然大汗淋漓出，手足厥逆寒，脈細如絲或欲絕。觀其脈證似亡陽，神清語亮非陽脫。況其起坐能自如，又見莖痛兼口渴，此乃大汗亡衛陽，濕熱之邪仍阻結，表裡不通脈故伏。仍須去濕兼清熱，五苓散去朮加生黃耆皮，酒淬川連並滑石。（原文云：「濕熱證，四五日，忽大汗出，手足冷，脈細欲絕，口渴莖痛，而起坐自如，神清語亮，乃汗出過多，衛外之陽暫亡，濕熱之邪仍結，一時表裡不通，脈故伏，非真陽外脫也。宜五苓去朮，加滑石、酒淬川連、生黃耆皮。」徐鑑泉曰：「此條脈證全似亡陽之候，而獨於舉動聲音神氣中得其真情。噫！此醫之所貴識見也。」按：五苓散去白朮者，以濕熱仍結於中，而術性守中故也。口渴莖痛，故加川連、滑石。汗太多，故加生耆皮固衛陽。合桂、苓、豬、澤四味，通陽消暑去濕，恰如其數。）</p>
<p>原注：此原本第二十九條。</p>

<h1>熱深厥深　下體客寒</h1>
<p>濕熱證發神昏痙，設兼陰縮兩足冷，實熱虛寒須細審。（發痙神昏，多由熱盛。而陰縮足冷，又似虛寒。故須細審，具如下文。）虛寒便利脈沉微，（既見陰縮足冷，又見泄利脈沉微，雖神昏發痙，亦屬虛寒陽氣欲脫之候。）實熱便秘渴喜飲。（既見昏痙，又便秘不通，煩渴喜飲，雖陰縮足冷，亦屬熱深厥深之候。）諦觀本證無一虛，知由下體客寒進。（既無下利脈沉微。則非虛寒矣。何故足冷陰縮？始知下體受寒，一時營氣不通使然。不但證非虛寒，並非上熱下寒之可擬也。）只用辛溫之品煎湯熏（熏洗兩足），治法仍從濕熱訂。（仍用清泄之法）</p>
<p>原注：此原本第三十條。</p>

<h1>胃津劫奪　邪熱內據</h1>
<p>濕熱劫津邪內據，舌硬苔黃起芒刺，神昏譫語不知人，囊縮搐搦危極矣。鮮生地　鮮首烏　蘆根　鮮稻根，甘涼潤下無傷胃，脈若有力大便堅，大黃加入方相配。（胃津劫奪，熱邪內據，既已昏痙，又見舌硬囊縮，為厥陰之死候。幸脈不微細，尚見弦緩，故仿承氣之例，以甘涼易苦寒，潤下泄邪，不傷胃氣。若脈有力，大便不解，大黃亦可加入也。）</p>
<p>原注：此原本第三十五條。</p>

<h1>熱邪入營　迫血妄行</h1>
<p>熱毒入營邪欲泄，上下失血（口鼻及前後二陰皆失血）或汗血。（從汗孔出血，名曰：「血汗」。）大劑犀角地黃湯，（犀角、地黃、丹皮、赤芍。）銀花　連翹　茜草　紫草　加無失。（熱毒入營，營血如沸，而致上下失血，或汗血，勢極危矣。而猶不即壞者，以毒從血出，生機在是，大進涼血解毒，救陰泄邪，邪解而血自止矣。血止後須進參、耆善後乃得。）</p>
<p>原注：此原本第三十三條。</p>

<h1>邪入厥陰　主客交渾</h1>
<p>濕熱證經七八日，口不渴而聲不出，飲食不討亦不卻，神昏不語形默默。此邪深入厥陰經，主客交渾難解釋。芳香涼泄俱無效，加減三甲散方合，醋炒鱉甲生天蟲，土炒穿山甲　酒醉地鱉，柴胡　桃仁等味參，破滯通瘀邪自撤。（此邪入厥陰，主客又交渾，氣滯血瘀，邪不得泄，故用吳又可三甲散加減，去龜甲之滋，䗪蟲之猛，牡蠣之澀，加入酒醉地鱉蟲，柴胡、桃仁，直入厥陰，破滯通瘀泄絡，而邪解矣。）</p>
<p>原注：此原本第三十四條。</p>

<h1>濕熱中虛　升降悖逆</h1>
<p>濕熱數日忽吐瀉，中氣虧損升降乖。扁豆蓮心半夏苡仁，甘草茯苓生穀芽。甚者當參理中法，太陰憊甚用無差。（原文云：「按法治濕熱證，數日後，忽吐下一時並至，非關藥誤，乃中氣虧損，升降悖逆也。」法當和中，故用藥如此。若太陰憊甚，中氣不支，則非理中不可。）</p>
<p>原注：此原本第二十二條。</p>

<h1>餘邪內留　膽氣不舒</h1>
<p>濕熱按法治，諸證悉皆己。惟獨目不瞑，瞑則夢驚悸。此係餘邪留，膽氣不舒耳。宜用薑汁炒棗仁，豬膽皮兼酒浸郁李仁，膽以合膽酒引之，郁李去滯下肝系，酸棗安神姜散邪，此方此法稱靈秘。（古人治驚後肝系滯而不下，始終目不瞑者，用郁李之滑以去著。今病後濕熱餘邪內留，膽氣不舒，故目不瞑則驚悸夢惕，用豬膽皮以清膽熱，郁李仁以下肝系。酒入於胃，其氣先注於膽，故借酒引郁李入膽也。棗仁安神而制以薑汁，安神而兼散邪也。用藥如此，可謂心敏手靈者矣。）</p>
<p>原注：此原本第二十七條。</p>

<h1>餘邪蒙閉清陽　胃氣不舒</h1>
<p>濕熱已解餘邪滯，蒙閉清陽胃不舒。知飢不食脘微悶，投劑輕清宣上奇。藿香　薄荷　佩蘭　荷葉　枇杷葉　鮮稻，六般俱用葉相宜。蘆尖更有冬瓜子，此法時師知不知。（此濕熱已解，餘邪蒙閉清陽，胃氣不舒，故脘中微悶，知飢不食，用極輕清芬芳之品，宣揚升降上焦之氣。鮮荷葉升清氣，佩蘭葉除濁氣，枇杷葉降肺氣，鮮稻葉資胃氣，鮮藿香葉、鮮荷葉辛涼散上焦之熱，蘆尖、冬瓜子甘淡泄上焦之濕，不涉一味重濁之藥。粗工當此，斷乎不能矣。）</p>
<p>原注：此原本第九條。</p>

<h1>下後正傷　胃氣不輸</h1>
<p>濕熱開泄下奪後，惡證雖平元氣傷。神思不清唇齒燥，倦語不食溺數黃。胃氣不輸肺不布，清滋膩藥不可嘗。木瓜　甘草　人參　麥冬　川斛，鮮蓮心　鮮稻葉採鮮芳。生津醒胃和中氣，生穀芽湯煎藥良。（濕熱證開泄下奪之後，惡候雖平，而元氣已傷，故神思不清，倦語不思飲食，溺數黃，唇齒乾，胃氣不輸，肺氣不布，難用清滋膩濁之藥，故此生津和胃一法，清補元氣。江南之人體氣薄弱，最宜仿此。）</p>
<p>原注：此原本第二十八條。</p>

<h1>熱入厥陰　熱犯少陰</h1>
<p>濕熱證已十餘日，腹時痛時圊血肛門熱。熱邪傳入厥陰經，左關弦數是其訣。治法宜仿白頭翁湯，入陰升陽以涼血。（仲景治熱痢下重，用白頭翁湯〈白頭翁、北秦皮、黃連、黃柏。〉涼散厥陰之熱。今雖不下利，而肛門熱痛，腹痛圊血，安得不用此方乎？）假如尺脈數（少陰熱邪可徵）而口乾渴，下利心煩咽痛或，熱邪直犯少陰經，豬膚涼潤方為得。（仲景云：「少陰病，下利咽痛，胸滿心煩者，豬膚湯主之。」王晉三解曰：「腎應彘而肺主膚，腎液下泄，不能上熏於肺，致絡燥而為咽痛，又非甘草所能治矣。當以豬膚潤肺腎之燥，解虛煩之熱。白粉、白蜜緩於中，俾豬膚比類而致津液，從腎上入肺中，循喉嚨，復從肺出絡心，注胸中，而上，中，下燥邪盡解矣。」）</p>
<p>原注：此原本第二十三條、二十四條。</p>

<h1>餘邪滯絡</h1>
<p>濕熱病後陰液虧，餘邪留滯絡中羈。口渴汗出骨節痛不已，元米湯泡於朮奇。隔宿去朮煎飲服，養陰逐濕好思維。（病後濕邪未盡，陰液已傷，故口渴汗出。骨節隱痛不已，乃餘邪留滯經絡中也。此時救液則助濕，祛濕則劫陰，宗仲景麻沸湯之意，取氣不取味，走陽不走陰；用糯米湯泡於朮，隔一宿去朮煎飲之，養陰逐濕，兩擅其長，真匪夷所思者。）</p>
<p>原注：此原本第十九條。</p>

<h1>熱入血室</h1>
<p>濕熱方張經水適來，神昏譫語舌無苔。脈滑數而胸腹痛，熱邪入血室要清開。犀角　連翹　茜草　貫仲　銀花露，紫草　鮮菖蒲重用該。（熱入血室，晝則明瞭，夜則譫語，葉氏《溫熱論》中，較此條言之尤詳。）</p>
<p>原注：此原本第三十二條。</p>
