<header data-type="book">
<h1>痎瘧論疏</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>廬之頤</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1657">公元1657年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·痎瘧論疏》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0088/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
