<header data-type="book">
<h1>本草發揮</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>徐彥純</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1384">公元1384年</data></dd></div>
<div><dt>底本</dt><dd>《校刻本草發揮》（<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00584_0005/index.html">早稲田大学図書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>校刻本草發揮敘論</h1>
<p>百家言醫，丙閎邃長於保身利物，故名儒碩士，咸究肆焉，論著日以繁矣。醫之道明於六氣、百體之升降盈縮，沉浮緩急，如燭之照，斯臻神品。顧非多識於金石、草木、鳥獸之名，與其性味之寒溫、甘苦、良毒，某也中某疾，某為君臣，某為佐使，則制量小不如宜，醫罔奏功。嗚呼，艱哉！後世言方藥，祖《神農本草》。闡其義者，潔古張氏，東垣李氏，海藏王氏諸家。元至正間，山陰徐用誠復集丹溪朱氏、聊攝成氏之言，訂說補缺，匯粹成編，命曰《本草發揮》。吾郡贈南京太醫院判薛君良武，嘗校定之。其子辛甫，視篆南院，梓之以傳。間以敘屬余。余恆嘆為人子者，視其親之遺，罔知所重，古所謂手澤存於父書，口澤存於杯棬，意何如也。辛甫每之及乃父抱藝弗售，歿於京師，輒欷歔痛念。竟以醫顯，褒贈其親。是編以父所嘗校定，拳拳梓行，其孝可知。且為吏者往往怠於其官，私其身圖。辛甫在醫院，廉勤視事，親晝整整，俸余新公㑊若干楹，校刻《外科心法》、《外科發揮》、《癰疽灸經》、《癰疽驗方》、《十四經絡發揮》暨是編，凡若干卷，可謂能其官矣。嗚呼！儒者之道，曰孝與忠。辛甫志行如斯，其殆儒醫矣乎！余敘是編，而樂道之。</p>
<p>南京吏部驗封郎中吳郡顧夢圭敘</p>

<h1>卷一</h1>

<h2>金石部</h2>
<p><u>丹砂</u>　味甘，微寒，無毒。《衍義》云：鎮養心神。但宜生使。</p>
<p>潔古云：辰砂，心熱者非此不能除。經云：丹砂法火，故色赤而主心。</p>
<p>東垣云：硃砂，味甘，寒，純陰。納浮溜之火，而安神明也。</p>
<p><u>石鐘乳</u></p>
<p>丹溪云：石鐘乳，為慓悍之劑。經云：石藥之氣悍。仁哉言也。天生斯民，養之以谷，及其有病，治之以藥。谷則氣之和，常食而不厭；藥則氣之偏，可用於暫而不可久。石藥則又偏之甚者也。自唐時太平日久，膏粱之家惑於方士服食致長生之說，以藥石體重氣厚，可以延年，習以成俗。迨宋及今，猶未已也。斯民何辜，受此氣悍之禍，而莫之能救，哀哉。本草贊其久服有延年之功，而柳子厚又從而述其美，予不得不深言之。</p>
<p><u>硝石</u>　味苦、辛、咸，大寒，有小毒。主五臟積熱，胃脹閉，滌去蓄結飲食，推陳致新，止煩滿消渴，利大小便。</p>
<p>《藥性》云：破血破積，散堅結，治腹脹。</p>
<p>《日華》云：含之以治喉閉。</p>
<p>海藏云：硝石，味鹹而辛，辛微緩於咸。硝石者，硝之總名也。但不經火者，謂之生硝、朴硝；經火者，謂之盆硝、芒硝。古人用辛，今人用鹹。辛能潤燥，咸能軟堅，其意皆是。老弱虛人不可下者，若欲用者，以玄明粉代之尤佳。《本經》云：利小便而隕腸。傷寒妊娠不可下者，用必兼以大黃引之，直入大腸，潤燥軟堅瀉熱，子母俱安。《內經》云：有故無殞，亦無殞也。此之謂歟。以在下言之，則便溺俱陰；以前後言之，則前氣後血；以腎言之，則總主大小便難，溺澀秘結，俱為水少。經言熱淫於內，治以鹹寒，佐以苦辛，故用芒硝、大黃相須為使也。</p>
<p><u>芒硝</u>　主五臟積熱，胃閉，除邪氣，破留血，腹中痰實。通經脈，利大小便及月水，破五淋，推陳致新。</p>
<p>《藥性》云：下瘰癧黃疽，墮胎，治漆瘡。以汁敷之。</p>
<p>成聊攝云：熱淫所勝，治以鹹寒。芒硝之咸，以攻蘊熱。又云：芒硝，一名硝石，以其咸能軟堅。</p>
<p>潔古云：芒硝性寒，味鹹。氣薄味厚，沉而降陰也。其用有三：去實熱一，去腸中垢二，堅積熱塊三也。孕婦忌之。又云：鹹寒純陰。熱淫於內，治以鹹寒。</p>
<p>丹溪云：治胞衣不下。以童便調芒硝一二錢，熱服之，立下。牛馬胞不下，亦可用之。</p>
<p><u>朴硝</u>　主除寒熱邪氣，逐六腑積聚結固，留癖胃中，食飲熱結，留血閉絕，停疾痞滿，推陳致新，能化七十二種石。</p>
<p>《日華》云：主通泄五臟百病，及癥結、天行熱疾，消腫毒。</p>
<p>丹溪云：硝屬陽金，而有水與火，主善消化驅逐。而經言無毒，化七十二種石，不毒而能之乎？以之治病，則致其用，病退則已。若玄明粉者，以其火煅而成，其性當溫，遂曰常服多服久服皆可，豈理也哉？</p>
<p><u>玄明粉</u>　味辛、甘，冷，無毒。治心熱煩躁，並五臟宿滯癥結，明目，退膈上虛熱，消腫毒。大陰，號云治一切熱毒風痃，症氣脹滿，口苦幹澀，咽喉閉塞，積熱，驚悸健忘，榮衛不調，中酒中鱠，飲食過度，四肢壅塞，腸風痔疾，血癖不消。</p>
<p>東垣云：玄明粉，大抵用此以代盆硝，佳。</p>
<p>海藏云：本草注云：治骨蒸五勞，驚悸熱毒風等，服之立愈。正經云：味辛、甘，性冷。則治熱病明矣。兼味辛又鹹，此能潤燥而軟堅也。非大便燥結，脈滑有力而洪大者，不宜服。卻言暖水臟，女子服之，補益血脈，有失用藥寒熱之本意。經云：咸能勝血，豈能補血哉？又有治陰毒一句，其言尤錯矣。若與硫黃、附子及諸陽藥多寡相佐而行，則可以治陰中有伏陽者。若的是陰毒，別無伏陽，殺人甚速。《太清伏煉法》云：硝能制伏陽，精解火石之毒，則不治陰耳，用者宜審也。</p>
<p><u>滑石</u>　味甘，寒，無毒。主身熱泄澼，女子乳難，癃閉，利小便，蕩胃中積聚寒熱，通九竅六腑津液，去留結，止渴，令人利中。</p>
<p>成聊攝云：滑石之滑，以利水道。</p>
<p>潔古云：氣寒味甘，治前陰竅澀不利。性沉重，能泄氣，上令下行，故曰滑則利竅，不比與滲淡諸藥同。色白者佳。水飛細用。</p>
<p>海藏云：入足太陽經。滑能利竅，以通水道，為至燥之劑。滑石、木通、豬苓、阿膠，同為滑劑，以利水道。蔥、豉、生薑同煎去滓，澄清服之，淡味滲泄為陽，以解表利小便也。若小便少利，則不宜以此解之。</p>
<p>丹溪云：滑石屬金，而有土與水。無甘草以和之，勿用。能燥濕，分水道，實大腸，化食毒，行積滯，逐凝血，解煩渴，補脾胃，降心火之要藥也。</p>
<p><u>禹餘糧</u>　味甘，寒，平，無毒。主咳逆，寒熱煩滿，下利赤白，癥瘕，小腹痛結煩疼。</p>
<p>成聊攝云：重可去怯，禹餘糧之重，以為鎮固。</p>
<p><u>緊石英</u></p>
<p>海藏云：入手少陰經，足厥陰經。</p>
<p><u>赤石脂</u>　味甘、酸、辛，大溫，無毒。療腹痛泄澼，下痢赤白，小便利，女子崩中漏下。</p>
<p>《日華》云：治吐血，衄，並澀精淋瀝，安心鎮驚悸。</p>
<p>成聊攝云：澀可去脫，石脂之澀，以收斂之。又云：赤石脂澀，以固腸胃。</p>
<p>海藏云：《本經》言澀可去脫，石脂為收斂之劑，胞衣不出，澀劑何以下之？赤者入丙，白者入庚。</p>
<p>潔古云：赤、白二石脂俱甘、酸，陰中之陽也，固脫。</p>
<p><u>硇砂</u>　味鹹、苦、辛，溫，大熱，有大毒。不宜多服。主積聚，破血結，爛胎，去惡肉，生好肉，柔金銀。</p>
<p>《藥性》云：能消五金八石，腐壞人腸胃。生食之，化入心為血。陳藏器云：主飲食不消，痃癖痰飲。</p>
<p>《日華子》云：消氣塊及惡瘡息肉、食飽脹。</p>
<p>東垣云：味鹹、苦、辛，溫，有毒。破堅癖，去積，破結血，爛胎。獨味不用，入群隊中用之。</p>
<p><u>石膏</u>　味辛、甘，大寒，無毒。除時氣頭痛身熱，三焦大熱，解肌發汗，止消渴咽熱。</p>
<p>成聊攝云：石膏味甘、辛，微寒。風，陽邪也。寒，陰邪也。風則傷陽，寒則傷陰。榮衛陰陽為風寒兩傷，則非輕劑所能獨散也，必須輕重之劑以同散之，乃得陰陽之邪俱已，榮衛之氣俱和。是以大青龍湯以石膏為使。石膏為重劑，而又專達肌表者也。又云：熱淫所勝，佐以苦、甘，知母、石膏之苦、甘以散熱。</p>
<p>潔古云：治足陽明經中熱，發熱，惡熱燥，日晡潮熱，自汗，小便赤濁，大渴引飲，身體肌肉壯熱，苦頭痛之藥，白虎湯是也。善治本經頭痛。若無以上證，勿服。多有脾胃虛勞形體病證，初得之時，與此有餘之證同者，若醫者不識而誤用之，則不可勝救矣。《主治秘訣》云：性寒，味淡，氣味俱薄，體重而沉降，陰中之陽也。乃陽明經大寒之藥，能傷胃氣，令人不食，非腹有極熱者不可輕用。能止陽明經頭痛，胃弱者不可服。治下牙痛者，須用白芷，為使發引。</p>
<p>東垣云：石膏辛、甘，除三焦熱，傷寒頭痛。甘寒。胃經大寒藥。潤肺除熱，解肌發汗。</p>
<p>海藏云：石膏發汗，辛寒，入手太陰經。東垣曰：石膏，足陽明藥也。又治三焦大熱，手少陽也。仲景治傷寒陽明經證，身熱目痛鼻乾，不得臥。身以前胃之經也，胸者胃肺之室也。邪熱在陽明，肺受火制，故用辛寒以清肺，所以號為白虎湯也。唐本注云：療風去熱，解肌。《衍義》云：仲景白虎湯中服之如神。新校正仲景《傷寒論》後，言四月以後，天氣熱時，用白虎湯者是也。然四方氣候不齊，及歲月氣運不一，方所既異，當用之時，亦宜兩審。其說甚雅。若傷寒熱病大汗後，脈洪大，口舌燥，頭痛，大渴不已，或著暑熱，身疼倦怠，白虎湯服之，無有不效。石膏為白虎湯之君主也，知母條下更有說。</p>
<p>丹溪云：嘗觀藥之命名，固有不可曉者，中間亦多有意義，學者不可不察。如以色而名者，大黃、紅花、白前、青黛、烏梅之類是也；以氣而名者，木香、沉香、檀香、麝香之類是也；以形而名者，人參、狗脊、烏喙、貝母、金鈴子之類是也；以質而名者，厚朴、乾薑、茯苓、生熟地黃之類是也；以味而名者，甘草、苦參、龍膽、淡竹葉、苦酒之類是也；以能而名者，百合、當歸、升麻、防風、消石之類是也；以時而名者，半夏、茵陳、冬葵、寅雞、夏枯草之類是也。石膏火煅，細研，醋調，封丹爐，其固密甚於石脂，苟非石膏，焉能為用。此兼質與能而得名，正與石脂同意。閻孝忠妄以方解石為石膏。況石膏味甘、辛，本陽明經藥，陽明主肌肉。其甘也，能緩脾益氣，止渴去火；其辛也，能解出汗，上行至頭，又入手太陰、手少陽。彼方解石止有體重實堅，性寒而已，求其所謂有膏，而可為三經之主者安在哉？醫欲責效，不亦難乎？又云：軟石膏可研為末，醋丸如綠豆大，以瀉胃火、痰火、食積，殊驗。</p>
<p><u>鉛丹</u>　味辛，微寒，有毒。主吐逆驚癇，金瘡散血。</p>
<p>《藥性》云：煎膏，用以止痛生肌。</p>
<p>潔古云：《本經》言澀可去脫而固氣。成無己云。鉛丹收斂神氣，以鎮驚也。</p>
<p>丹溪云鉛丹屬金，而有土與水火。丹出於鉛。而《日華子》云：涼，無毒。予竊疑焉。曾見一中年婦人，因多子，於月內服鉛丹二兩，遂四肢冰冷強直，食不入口。時正仲冬，遂急服理中湯加附子，與數十貼而安。謂之涼而無毒，可乎？</p>
<p><u>鉛粉</u>　味辛、甘，寒，無毒。殺三蟲，去鱉瘕，療惡瘡，墮胎。</p>
<p>《藥性》云：治積聚不消，焦炒止小兒疳痢。</p>
<p>丹溪云：胡粉另是一種，乃錫粉，非鉛粉。蓋胡人以錫為粉，故名胡粉。不可入藥。惟婦人用以敷面，喜其色類肌肉也。又名粉鑞，即錫也。</p>
<p><u>代赭石</u>　味苦、甘，寒，無毒。除五臟血脈中熱，驚氣入腹。</p>
<p>成聊攝云：怯則氣浮，重劑所以鎮之。代赭之重，以鎮虛逆。</p>
<p>海藏云：經言怯則氣浮，重劑所以鎮之。怯者亦驚也。入手少陽經、足厥陰經。</p>
<p><u>自然銅</u>　味辛，平，寒，有小毒。療折傷，散血止痛。</p>
<p>丹溪云：自然銅，世以為接骨藥。然此等方盡多，大抵妙在補氣補血補胃。俗工不知，惟求速效，以罔利迎合病人之意。而自然銅非煅不可服。若服新出火者，其火毒、金毒相扇，又挾香熱藥之毒，雖有接傷之功，其燥散之禍甚於刀劍，戒之戒之。</p>
<p><u>滷咸</u>　一名鹼（公斬切），味苦、咸，寒，有小毒。</p>
<p>丹溪云：石鹼去濕熱，消痰，磨積塊，洗滌垢膩。量虛實用之，若過服則頓損。又云：石鹼、阿魏，皆消積塊。</p>
<p><u>石硫黃</u>　味酸，大熱，有毒。</p>
<p>《衍義》云：今人用治下元虛冷，元氣將絕，久患寒泄，脾胃虛弱，欲垂命，盡服之，無不效。中病當便已，不可盡劑。</p>
<p>海藏云：如太白丹佐以硝石，來復丹用硝石之類，以至陽佐以至陰也。與仲景白通湯佐以人溺、豬膽汁大意相同，所以去格拒之寒，兼有伏陽，不得不爾。如無伏陽，只是陰證，更不必陰藥佐之也。硫黃亦號為將軍，功能破邪歸正，返滯還清，挺出陽精，消化陰魄而生魂。</p>
<p><u>繰絲湯</u></p>
<p>丹溪云：口乾渴者，可用此吐之。此物屬火，有陰之用，能泄膀胱水中相火，以引清氣上朝於口。按究原方，治消渴以繰絲湯飲之，或以繭殼絲綿煮湯飲之，亦可。</p>
<p><u>漿水</u></p>
<p>丹溪云：味甘酸而性涼。善走，化滯物，解煩渴。</p>
<p><u>麻沸湯</u></p>
<p>成聊攝云，瀉心湯以麻沸湯漬服者，取其氣薄而瀉虛熱也。</p>
<p><u>潦水</u></p>
<p>成無己云：赤小豆湯煎用潦水者，亦取其水味薄，則不助濕氣也。</p>
<p><u>甘瀾水</u>　其法取水二斗，置大盆內，以杓融之，水上有珠子五六千顆相逐，乃取用之。</p>
<p>無己云：煎用甘瀾水，揚之無力，取不助腎氣也。</p>

<h2>草部</h2>
<p><u>人參</u>　味甘，微溫，無毒。主補五臟，安精神，定魂魄，止驚悸，除邪氣、霍亂、吐逆，調中，止消渴，通血脈。</p>
<p>《藥性》云：患人虛而多夢，加而用之。</p>
<p>成聊攝云：脾欲緩，急食甘以緩之，人參之甘，以緩脾氣。</p>
<p>潔古云：人參治脾肺陽氣不足，及肺氣喘促，短氣少氣。補中緩中，瀉脾肺胃中火邪。善治短氣少氣，非升麻為引用，不能補上升之氣。升麻一分，人參三分，可為相得。若補下焦元氣，瀉腎中火邪，茯苓為之使，甘草梢子生用為君，去莖中病，或加苦楝，酒煮玄胡索為主，尤佳。《主治秘訣》云：性溫，味甘。氣味俱薄，浮而升陽也。其用有三：補元氣，止渴，生津液也。肺虛者用之，又能補胃。治喘嗽則勿用，短氣則用之。</p>
<p>東垣云：人參甘溫，能補肺中之氣。肺氣旺則四臟之氣皆旺，肺主諸氣故也，仲景以人參為補血者，蓋血不自生，須得生陽氣之藥乃生，陽生則陰長，血乃旺矣。若陰虛單補血，血無由而生，無陽故也。又云：補氣須用人參。又云：安胃和中。又云：人參補元氣不足，而瀉肺氣。甘溫補陽，利止而脈不足者，是亡血也，人參補之。益脾氣，與乾薑同用。補氣，裡虛則腹痛，此藥補之，是補其不足也。又云：人參，補氣之藥，如氣短、氣不調及喘者加之。</p>
<p>海藏云：味既甘溫，調中益氣，即補肺之陽，瀉肺之陰也。若但言補肺，而不論陰陽寒熱何氣不足，則誤矣。若肺受寒邪，宜此補之。肺受火邪，不宜用也。肺為天之地，即手太陰也。為清肅之藏，貴涼而不貴熱，則其寒象可知。若其傷熱，則宜沙參。沙參味苦，微寒，無毒，主血積驚氣，除寒熱，補中，益肺氣，治胃痹，心痛結熱，邪氣頭痛，皮間邪熱，安五臟。人參味甘，微溫，補五臟之陽也。沙參味苦，微寒，補五臟之陰也，安得不異？易老取沙參以代人參，取其苦也。苦則補陰，甘則補陽。《本經》雖云補五臟，亦須各用本藏藥相佐使，隨所引而相補一臟，豈可不知。</p>
<p>丹溪云：人參，入手太陰經而能補陰火，甚與其蘆相反。若服參一兩，於內入蘆一錢，則一兩之參徒虛費矣。戒之。</p>
<p><u>甘菊花</u></p>
<p>潔古云：甘菊花，味甘、苦，養目血。</p>
<p>東垣云：甘菊花，治頭風頭眩，明目。</p>
<p>丹溪云：甘菊花，屬金而有水與土，大能補陰。須是味甘莖紫者。若山野間味苦莖青者勿用，大傷胃氣，謹戒之。</p>
<p><u>天門冬</u>　味苦、甘，平，大寒，無毒。主保定肺氣，去熱，養肌膚，益氣力，利小便，冷而能補。</p>
<p>潔古云：保定肺氣，治血熱侵肺，止喘。氣促，加人參、黃耆，用之為主，如神。味苦、甘，性寒，味厚氣薄，陰也。苦以泄滯血，甘以助元氣，及治血妄行，此天門冬之功也。</p>
<p>東垣云：天門冬，味苦、甘，主肺氣喘息促急，除熱，通腎氣，鎮心，潤五臟，強骨髓。</p>
<p>海藏云：天門冬，入手太陰、足少陰經。榮衛枯涸者，溫劑所以潤之。天麥二門冬、人參、五味子、枸杞子同為生脈之劑，此上焦獨取寸口之意。</p>
<p><u>甘草</u>　味甘，平，無毒。主五臟六腑寒熱邪氣，溫中下氣，煩滿短氣，傷藏咳嗽，止渴，通經脈，利血氣，解百藥毒。</p>
<p>《藥性》云：病人虛而多熱者加用之。</p>
<p>成無己云：甘草甘平以除熱。又云：脾欲緩，急食甘以緩之，用甘補之。人參、白朮之甘，以緩脾氣，調中。</p>
<p>潔古云：甘草性平，味甘。生用之，則大涼瀉熱；火炙之，則能補三焦元氣，調和諸藥，相協力共，為而不爭。性緩，善解諸急，故有國老之稱。《主治秘訣》云：性寒，味甘，氣薄味厚。可升可降，陰中陽也。其用有五：和中，補陽氣，調和諸藥，能解其太過，去寒邪，此為五也。腹脹則忌之。又能養血補腎。生甘草梢子去腎莖之痛，胸中積熱非梢子不能除。又云：補血不足，用甘草。凡用純寒純熱之藥，必用甘草，以緩其力也。寒熱相雜藥，亦用甘草，調和其性也。中滿者禁用。經云：中滿者，勿食甘。</p>
<p>東垣云：生甘草補脾胃不足，大瀉心火。又云：甘草味甘，生寒炙溫，純陽。陽不足者，補之以甘。又云：炙之以散表寒，除邪熱，去咽痛，除熱，緩正氣，緩陰血，潤肺。</p>
<p>海藏云，經云：脾欲緩，急食甘以緩之。甘以補脾，能緩之也。故湯液用此以建中。經曰：甘者令人中滿。又曰：中滿者勿食甘。則知非中滿之藥也。甘入脾，歸其所喜故也。或問：附子理中湯、調胃承氣湯皆用甘草者，如何是調和之意？曰：附子理中用甘草者，恐其大僭也；調胃承氣用甘草者，恐其速下也。三藥用之，非調和也，皆緩之也。小柴胡湯有柴胡、黃芩之寒，人參、半夏之溫，其中用甘草者，即有調和之意。鳳髓丹用甘草者，緩腎濕而生元氣，亦甘補之意也。經曰：以甘補之，以甘緩之，以甘瀉之。本草云：治七十二種石毒，一千二百般草木毒。調和諸藥有功，故名國老。雖非君而為君所宗，所以安和草石而解諸毒也。於此可見調和之意者。夫五味之用，苦直行而泄，辛橫行而散，酸束而收斂，咸止而軟堅，甘上行而發，如何本草言下氣？蓋甘之味有升降浮沉，可上可下，可內可外，有和有緩，有補有瀉，居中之道盡矣。入足太陰、足厥陰、足少陰三經，能治肺痿之膿血。若作吐劑，能消五發之癰疽。每用甘草二兩，水三碗，慢火熬至半碗，去滓服之，消瘡腫，與黃耆同功。黃耆亦能消諸腫癰疽，修治之法與甘草同。</p>
<p>丹溪云：生甘草大緩諸火邪。下焦藥宜少用，恐大緩不能自達。</p>
<p><u>熟乾地黃</u>　味甘、苦，日乾者平，火乾者溫，無毒。</p>
<p>潔古云：熟地黃，酒灑九蒸，假酒力則微溫，補血虛不足。虛損血衰之人須用。善黑鬚發。忌萊菔。《主治秘訣》云：性溫，味苦、甘，氣薄味厚。沉而降，陰也。其用有五：益腎水真陰，一也；和產後血氣，二也；去腹臍急痛，三也；養陰退陽，四也；壯水之源，五也。治外治上，以酒浸之。</p>
<p>東垣云：地黃生則性大寒而涼血，熟則性微溫而補腎。又云：熟地黃、當歸身、牡丹皮，此三味諸經中和血、生血、涼血。</p>
<p>海藏云：生地黃治手足心熱及骨蒸熱。入手足少陰、手足厥陰。能益腎水而涼血。其脈洪實者宜用生地黃。若脈虛者，則宜熟地黃。假火力蒸九次，故能補腎中元氣。仲景制八味丸，以熟地黃為諸藥之首者，天一所生之源也，湯液四物湯，以治藏血之臟，亦以熟地黃為君者，癸乙同歸一治也。蒸搗不可犯鐵器，若犯之，令人腎消。陳藏器云：蒸於則溫補，生干則平宣。《機要》云：熟地黃治臍下發熱者，腎經病也，非地黃不能除，補腎也，益陰之劑。二宜丸加當歸，為補髓煎。</p>
<p><u>生地黃</u>　味甘，平，大寒，無毒。主婦人崩中，血不止。</p>
<p>潔古云：生地黃性寒，味苦。涼血補血，補腎水真陰不足，治少陰心熱在內。此藥大寒，宜斟酌用之，恐損胃氣。《主治秘訣》云：性寒，味苦，氣薄味厚，沉而降，陰也。其用有三：涼血，一也；除皮膚燥，二也；去諸濕澀，三也。又云：陰中微陽，酒浸上行。</p>
<p>海藏云：手少陰、手太陽之藥，故錢氏瀉內與木通同用，以導赤也。諸經之血熱，與他藥相隨，亦能治之。溺血便血，亦治之。</p>
<p><u>蒼朮</u>　味苦、辛，溫，無毒。主風寒濕痹，消痰火，暖胃，消穀嗜食，瘟疾，山嵐瘴氣。</p>
<p>潔古云：蒼朮氣溫，味甘。主治與白朮同。若除上濕，發汗，功最大。若補中焦，除中濕，力少，加白朮。腹中窄狹者須用之。若治脛足濕腫，加白朮。又云：蒼朮體輕浮，氣力雄壯，能去皮膚間腠理濕。</p>
<p>東垣云：入手陽明、太陰，能健胃安脾。本草但言術，不言蒼、白。其蒼朮別有雄壯上行之氣，能除濕，下安太陰，使邪氣不內傳於太陰也。以其經泔浸火炒，故能發汗。與白朮止汗特異，用者不可以此代彼，蓋蒼、白有止發之異也。</p>
<p>丹溪云：蒼朮治上中下濕痰，俱可用之。</p>
<p><u>白朮</u>　味甘、辛，無毒。消宿食，去痰涎，除寒熱，止下泄，治水腫脹滿，止嘔逆，腹內冷痛，及胃氣虛而冷痢。</p>
<p>成聊攝云：脾惡濕，甘先入脾。茯苓、白朮之甘，以益脾逐水。</p>
<p>潔古云：白朮除濕益燥，和中益氣，利腰臍間血，除胃中熱。《主治秘訣》云：氣溫，味甘微苦，氣味俱薄，浮而升陽也。其用有九：溫中一，去脾胃濕二，除脾胃熱三，強脾胃進飲食四，和脾胃以生津液五，主肌熱六，治四肢困倦，目不欲開，怠情嗜臥不思飲食七，止渴八，安胎九也。又云：脾胃受熱濕，沉困無力，怠惰嗜臥，並去痰，須用白朮。飲水多因致傷脾，須用白朮、茯苓、豬苓。水瀉，須用白朮、茯苓、芍藥。又云：非白朮不能去濕。</p>
<p>東垣云：白朮味苦而甘，性溫，味厚氣薄，陽中陰也。去諸經中濕而理脾胃。潔古云：溫中去濕，除熱強胃。蒼朮亦同，但味頗厚耳，下行則用之。甘溫補陽益脾，逐水，寒淫所勝。甘以緩脾，生津去濕，渴者用之。又云：白朮佐黃芩以安胎，君積實以消痞。</p>
<p>海藏云：本草本條下無蒼與白之名，近代多用白朮。治皮間風，止汗消痞，補胃補中，利腰臍間血，利水道。上而皮毛，中而心胸，下而腰臍之間。在氣主氣，在血主血。入手太陽、足陽明、手少陰、足太陰、足厥陰。</p>
<p>潔古云：非白朮不能去濕，非枳實不能消痞。除濕利水，如何是益津液？</p>
<p>丹溪云：白朮有汗則止，無汗則發，與黃耆同功。味亦有辛，大能消虛痰也。</p>
<p><u>牛膝</u>　味苦、酸，平，無毒。主寒濕痿痹，四肢拘攣，膝痛不可屈伸，墮胎，男子消陰，老人失溺，婦人月水不通，補腎填精，逐惡血留結，助十二經脈，壯陽。</p>
<p>潔古云：牛膝強筋。</p>
<p>丹溪云：牛膝之用，能引諸藥下至於足。凡用土牛膝，春夏用莖葉，秋冬用根，惟葉汁之效尤速。</p>
<p><u>茺蔚子</u>　一名益母。味辛、甘，微寒，無毒。主明目益精。其莖主癮疹癢，可作浴湯。治產後血脹。苗葉同功。</p>
<p>丹溪云：益母草治產前產後諸疾，行血養血，難產，作膏服良。</p>
<p><u>柴胡</u>　味苦，平，微寒，無毒。主除傷寒，心下煩熱，諸痰熱結實，治熱勞，骨節煩痛，時疾內外熱不解，胸脅氣滿。</p>
<p>成無己云：柴胡之苦，以發表熱。又云：柴胡、黃芩之苦，入心而折熱。</p>
<p>潔古云：柴胡除虛勞煩熱，解散肌熱，去早晨潮熱。此手足少陽、厥陰四經行經藥也。善除本經頭痛，非他藥所能止。治心下痞，胸膈中痛。能引胃氣上升，以發散表熱，去寒熱往來。膽痹非柴胡梢不能除之。又去脅下痛，往來寒熱，及日晡發熱，用柴胡。《主治秘訣》云：柴胡味微苦，性平，微寒，氣味俱輕，陽也，升也。少陽經分藥。偏頭痛乃少陽也，非柴胡不能除。</p>
<p>東垣云：柴胡瀉肝火，須用黃連佐之。欲上升，則用根，酒浸；欲中及下降，則生用梢。又治瘡瘍癖積之在左。又云：十二經瘡藥中須用，以散諸經血結氣聚，功用與連翹同。</p>
<p>海藏云：入足少陽，主東方分之氣也。在經主氣，在藏主血。證前行則惡熱，卻退則惡寒。雖氣微寒，味之薄者，故能行經，是主氣也。若佐以三稜、廣朮、巴豆之類，故能消堅積，是主血也。婦人經水適來適斷，傷寒雜病，潔古須用小柴胡主之，加以四物之類，並秦艽、牡丹皮輩，同為調經之劑。《衍義》云：柴胡《本經》並無一字治勞，今人治勞方中，鮮有不用者，嗚呼！凡此誤世多矣。嘗原病勞有一種真藏虛損，復受邪熱，因虛而致勞，故曰勞者牢也，須斟酌用之。如經驗方中，治勞熱青蒿煎。凡用柴胡，正合宜耳，服之無不效。熱去即須急已。若或無熱而得此，則病愈甚。《日華子》又謂補五勞七傷，《藥性論》亦謂治勞乏羸瘦。若此等病，苟無實熱，醫者取而用之，不亡何待？註釋本草，一字亦不可忽。蓋萬世之後，所誤無窮爾。苟有明哲之士，自可處制；中下之士，所學不肯考究，枉致淪沒，可不謹哉！可不戒哉！如張仲景，治寒熱往來如瘧狀，用柴胡湯，正合其宜。《圖經》云：張仲景治傷寒，有大小柴胡，及柴胡龍骨牡蠣、柴胡加芒硝等湯。故後人治傷寒寒熱，以此為最要之藥。東垣云：柴胡者，能引清氣而行陽道。傷寒外諸藥所加，有熱則加之，無熱則不可加。又能引胃氣上行，升騰如春令也。欲其如此，又何加之。能去內外臟腑，俱之能引清氣上行而順陽道。蓋以少陽之氣初出，地之皮為嫩陽，故以少陽當之。</p>
<p><u>麥門冬</u>　味甘，平，微寒，無毒。主虛勞客熱，口乾燥渴，定肺氣，治心肺虛熱。</p>
<p>成聊攝云：肺燥氣熱，以酸收之，以甘緩之。門冬之甘，潤肺除熱。</p>
<p>潔古云：麥門冬治肺中伏火。脈氣欲絕，加五味子、人參二味，名之生脈散。補肺中元氣不足須用之。又治經枯乳汁不行，湯潤去心。用引經，須以酒浸。</p>
<p>東垣云：麥門冬，味甘，平，陽中之陰。主心腹結氣，腸中傷飽，虛勞客熱。保定肺氣，止煩渴。又云：補心氣不足，及治血妄行。甘平，補不足。</p>
<p>海藏云：入手太陰經。《衍義》云：治心肺虛熱，及虛勞客熱。苗可作熟水飲之。</p>
<p><u>獨活</u>　味苦、甘，平，辛，微溫，無毒。療諸賊風，百節痛，諸風濕冷，皮肌苦癢，手足攣痛。</p>
<p>潔古云：獨活，足少陰腎經行經藥也。若與細辛同用，治少陰經頭痛，如神。《主治秘訣》云：性溫，味苦。氣厚味薄，沉而升，陰中陽也。治風須用，反能燥濕。經云：風能勝濕，頭暈目眩，非此不能除。</p>
<p>東垣云：獨活治足少陰伏風，而不治太陽。故兩足寒痹，不能動履，非獨活不能治。</p>
<p><u>羌活</u>　味辛、苦，無毒。治賊風多癢，血癩，手足不遂，口面喎斜，遍身𤸷痹，治一切風，赤目疼痛。</p>
<p>潔古云：羌活治肢節疼痛，手足太陽本經風藥也。加川芎，治足太陽、少陰頭痛，透關利節，又治風濕。《主治秘訣》云：性溫，味辛。氣味俱薄，浮而升陽也。其用有五：手足太陽引經一，風濕相兼二，去肢節痛三，除癰疽敗血四，治風濕頭痛五也。</p>
<p>東垣云：羌活、獨活、防風，此三味治手足太陽證，脊痛項強，不可回顧，腰似折，項似拔者。</p>
<p>海藏云：羌活君藥也，非無為之主，乃撥亂反正之主也。故大無不通，小無不入。關節痛非此不治。太陽經頭痛，肢節痛，一身盡痛，非羌活不能除。足太陽、足厥陰、足少陰藥也。與獨活不分。二種，後人用羌活，多用鞭節者；用獨活，多用鬼眼者。羌活則氣雄，獨活則香細。故氣雄者入太陽，香細者入少陰也。錢氏瀉青丸用此者，壬乙同非一治也。或問：治頭痛者何？答曰：巨陽從頭走足，惟厥陰與督脈會於巔，逆而上行。諸陽不得下，故令頭痛也。足太陽、厥陰之藥也。</p>
<p><u>升麻</u>　味甘、苦，平，微寒，無毒。闢瘟疫瘴氣，頭痛喉痛，口瘡，時氣熱疾，牙根浮爛惡臭，碗豆瘡，口氣疳䘌。</p>
<p>成聊攝云：《玉函》曰：大熱之氣，寒以取。甚熱之氣，以汗發之。麻黃、升麻之甘，以發浮熱。</p>
<p>潔古云：升麻乃足陽明胃、足太陰脾行經藥也。若補脾胃，非此為引用不能補，若得白芷、蔥白之類，亦能走手陽明、太陰。非此四經，不可用也。能解肌肉間熱，此手足陽明傷風引用之藥也。《主治秘訣》云：氣溫味辛，氣味俱薄，浮而升，陽也。其用有四：手足陽明引經一，升陽氣於至陰之下二，陽明經分頭痛三，去風邪在皮膚及至高之上四也。治脾癉，非升麻梢不能除。</p>
<p>東垣云：主發散陽明經風邪。元氣不足者用此，於陰中以升其陽氣上行也。又云：引蔥白，散手陽明之風邪；引石膏，止足陽明之齒痛。</p>
<p>海藏云：升麻入足陽明。若初病太陽證，便服升麻、葛根，發出陽明經汗或失之過，陽明經燥，太陽經不可解，必傳陽明矣。故投湯不當，非徒無益，而又害之也。朱氏云：瘀血入里，治衄血吐血者，犀角地黃湯，乃陽明之聖藥也。如無犀角，以升麻代之。升麻、犀角性味相遠不同，何以代之？蓋以升麻是引地黃及余藥，同入陽明經耳。初病太陽證，服升麻可乎？仲景云：太陽治發汗，若下，治利小便，重亡津液，胃中乾燥，因而轉屬陽明病，其害不可勝言。仲景又云：太陽兀兀無汗者，葛根湯發之。若兀兀自汗者，表虛也，不宜用此。朱氏用葛根、升麻者，以表實無汗也。</p>
<p><u>車前子</u>　味甘、咸，寒，無毒。主氣癃，止痛，利水道，治肝中風熱，衡目赤痛，障翳，腦痛淚出。其葉通五淋，治尿血。</p>
<p>海藏云：能利小便，而不走精氣，與茯苓同功。</p>
<p><u>木香</u>　味辛，溫，無毒。治九種心疼，積年冷氣，痃癖症塊脹痛，治霍亂吐瀉，心腹疼痛，治心腹一切氣，止痢疾，安胎，健脾消食，及膀胱冷痛，嘔逆翻胃。</p>
<p>潔古云：除肺中滯氣。若療中下焦氣結滯，須用檳榔為使。《主治秘訣》云：氣熱，味辛、苦。氣味俱厚，沉而降，陰也。其用調氣而已。又云：辛，純陽以和胃氣。</p>
<p>東垣云：木香味苦辛，純陽，治腹中氣不轉運，助脾。又云：辛溫，升降滯氣。</p>
<p>海藏云：木香治血氣刺心痛，冷積氣，痃癖癥瘕，腹脹，通行一切氣，安胎健脾，膀胱冷痛，嘔逆反胃，霍亂，吐瀉，九種心疼，痢疾。《本經》云：主氣劣、氣不足，補也。《衍義》云：專泄決胸腹間滯寒冷氣，破也。安胎健脾，補也。除痃癖塊，破也。與本條言補不同，何也？易老以為調氣之劑，不言補也。</p>
<p>丹溪云：木香行肝經氣。火煨用，可實大腸。</p>
<p><u>薯蕷</u>　味甘，平，溫，無毒。主傷中，補虛羸，益氣力，長肌肉，強筋骨，補五勞七傷，心氣不足，治泄精、健忘。</p>
<p>海藏云：入太陰之藥。潤皮毛之燥，涼而能補，與二門冬同。</p>
<p>東垣云：仲景八味丸用乾山藥者，以其涼而能補也。亦治皮膚乾燥，以此物潤之。</p>
<p>丹溪云：山藥屬土而有金與水火，補陽氣。生者能消腫硬。經云虛之所在，邪必湊之，著而不去，其病為實，非腫硬之謂乎。故補其氣則留滯，自不容於不行矣。</p>
<p><u>薏苡仁</u>　味甘，平，微寒，無毒。主筋急拘攣，風濕痹，除筋骨邪氣不仁，肺痿吐膿血，治乾溼腳氣，治肺癰心胸甲錯。</p>
<p>丹溪云：寒則筋急，熱則筋縮。急因於堅強，縮因於短促。治受濕則弛，弛因於寬長。然寒與熱未嘗不挾濕，三者皆因於濕。然外濕非內濕，有以啟之，不能成致濕之病。蓋因酒面為多，而魚與肉繼以成之。若甘滑陳久，燒炙香辛乾硬之物，皆致濕之因也。戒之慎之。</p>
<p><u>澤瀉</u>　味甘、咸，寒，無毒。逐膀胱三焦停水，治五淋，宣通水道，長於行水。多服病人眼。</p>
<p>成聊攝云：鹹味湧泄，為陰，澤瀉之咸以泄伏水，滑利竅。</p>
<p>潔古云：除濕之聖藥也。治小便淋瀝，去陰間汗。無此疾者服之，令人目盲。《主治秘訣》云：性寒味鹹，氣味俱厚，沉而降，陰也。其用有四：入腎經一，去舊水養新水二，利小便三，消水腫四也。又云：滲泄止渴。</p>
<p>海藏云：《衍義》言澤瀉之功，尤長於行水。張仲景治水畜煩渴，小便不利，或吐或瀉，五苓散主之。方用澤瀉，故知其用長於行水。《本經》又引扁鵲，云多服病人眼，誠為行去其水。仲景八味丸用之者，亦不過接引桂附等非就腎經，別無他意。凡服澤瀉散，人未有不小便多者。小便既多，腎氣焉得復實？今人止泄精，多不敢用。《本經》云：久服目明。扁鵲云：多服病人眼，何也？易老云：去胞中留垢，以其味鹹能瀉伏水，故去留垢，即腹中陳久積物也。入足太陽少陰經。仲景治太陽中風入里渴者，五苓散主之。</p>
<p><u>龍膽</u>　味苦，寒，無毒。益肝膽氣，止驚惕，明目，止煩，小兒驚癇。</p>
<p>潔古云：治兩目赤腫睛脹，瘀肉高起，痛不可忍。以柴胡為主，龍膽為使，治眼中之病必用藥也。《主治秘訣》云：性寒，味苦、辛。氣味俱厚，沉而降陰也。其用有四，除下部風濕一也，除濕熱二也，臍以下至足腫痛三也，寒濕腳氣四也。其用與防己同。酒浸，上行及外行。</p>
<p><u>細辛</u>　味辛，溫，有小毒。主咳逆頭痛，風濕痹痛，溫中下氣，開胸中滯，益肝膽，明目，利九竅，治惡風、頭風，止眼風淚下，除齒痛，治頭面痛，不可缺者也。</p>
<p>成聊攝云：細辛、附子之辛，以溫少陰之經。</p>
<p>潔古云：治少陰經頭痛如神，當少用之，獨活為之使。《主治秘訣》云：性溫，味辛，氣厚於味，輕清上浮，而升陽中陰也。止諸陽頭痛，諸風通用，辛熱溫少陰之經，散水寒，治內寒。</p>
<p>東垣云：細辛味大辛，純陽。主手少陰經頭痛。又云：去風頭痛，及皮膚風熱。</p>
<p>海藏云：東垣言細辛治邪在裡之表，故仲景少陰證用麻黃附子細辛湯也。易老云治少陰。苦頭痛，太陽則羌活，少陰則細辛，陽明則白芷，太陰則蒼朮，厥陰則川芎、吳茱萸，少陽則柴胡，用者隨經，不可差也。細辛香味俱細而緩，故入少陰，與獨活頗相類。</p>
<p><u>藍實</u></p>
<p>丹溪云：藍屬水而有木，能使散敗之血分歸經絡。</p>
<p><u>芎藭</u>　味辛，生溫熟寒，無毒。主中風入腦，頭痛，面上遊風。治一切風，一切氣，一切血。破宿血，養新血，長肉。諸瘡瘍及排膿。</p>
<p>潔古云：補血，治血虛頭疼之聖藥也。治妊婦數月胎動，加當歸，二味各二錢，水二錢，煎至一錢，服之神效。《主治秘訣》云：性溫，味辛苦。氣味厚薄，浮而升，陽也。其用有四，手少陽引經一也，諸經所痛二也，助清陽之氣三也，去濕氣在頭四也。</p>
<p>東垣云：頭痛須用川芎。如不愈，加各引經藥：太陽羌活，陽明白芷，少陽柴胡，太陰蒼朮，厥陰吳茱萸，少陰細辛，如頂巔痛，去川芎，用加藁本。又云：芎藭味辛，溫，純陽。主中風入腦，頭面風。</p>
<p>海藏云：易老言川芎上行頭角，下行血海，故清神，四物皆所用也。入手足厥陰。《衍義》云：頭面風不可缺也，然須以他藥佐之。治單服既久，則走散真氣。既以他藥佐之，又不可久服，中病便已可也。東垣曰：頭痛甚者，加蔓荊子；頂與腦痛，加川芎；頭頂痛者，加藁本；諸經頭痛者，加細辛。治有熱者不能治，別有清空之劑能緣諸經頭痛，並用此四物。</p>
<p>丹溪云：芎久服能致暴亡，以其辛溫也。辛甘發散之過歟？《局方》以沉、檀、腦、麝等諸香作湯，較之芎辛散之禍，孰為輕重？請試思之。</p>
<p><u>黃連</u>　味苦，寒，無毒。主熱氣目痛，皆傷淚出，明目，腹痛，止煩渴，益膽，殺小兒疳蟲，點赤眼昏痛，鎮肝，治驚悸煩躁，潤心肺，長肉止血，並瘡疥、盜汗。</p>
<p>成聊攝云：苦入心，寒除熱。大黃、黃連之苦，以導瀉心下之虛熱。又云：上熱者泄之以苦，黃連之苦以降陽。又云：蛔得甘則動，得苦則安，黃連、黃檗之苦以安蛔。</p>
<p>潔古云：瀉心火，除脾胃中濕熱，治煩躁噁心，鬱熱在中焦，兀兀欲吐。味苦，氣味俱厚，可升可降，陰中陽也。其用有五：瀉心熱一也，去中焦火二也，諸瘡必用三也，去風濕四也，赤眼暴發五也。酒炒則上行。又云：去中焦濕與熱，用黃連瀉心火故也。眼痛不可忍者，用黃連、當歸根，酒浸煎服。宿食不消者，用黃連、枳實。</p>
<p>海藏云：入手少陰經。性苦燥，故入心，火就燥也。雖然，瀉心其實瀉脾也。為子能令母實，實則瀉其子。凡治血病，防風為上使，黃連為中使，地榆為下使也。一方令小兒終身不發癍瘡，煎黃連一口，兒初生未出聲時，灌之，大驗。已出聲時灌之者，癍雖發亦輕。古方以黃連為治痢之最。《衍義》云：治痢兒有微血，不可執以黃連為苦燥用之，虛者必致危困。若氣實初病，熱多血痢者，則宜用之。</p>
<p>丹溪云：以薑汁炒黃連，辛散沖熱有功。</p>
<p><u>黃耆</u>　味甘，微溫，無毒。主癰疽，排膿止痛，內托補虛，逐五臟間惡血，補丈夫虛損，主虛喘，助氣，壯筋骨，長肉補血，產前後一切病，月候不勻，消渴骨蒸。</p>
<p>潔古云：治虛勞自汗，補肺氣，實皮毛，瀉肺中火，脈弦，自汗，善治脾胃虛弱，瘡瘍，血脈不行。內托陰證瘡瘍，必用之藥也。《主治秘訣》云：性溫，味甘，氣薄味厚，可升可降，陰中陽也。其用有五：補諸虛不足一也，益元氣二也，去肌熱三也，瘡瘍排膿止痛四也，壯脾胃五也。去諸經之痛，除虛熱，止盜汗。</p>
<p>東垣云：補五臟諸虛不足，瀉陰火。無汗則發之，有汗則止之。又云：護周身皮毛間腠理虛，及活血脈生血，乃瘡家聖藥也。又能補表之元氣虛弱，通和陽氣，泄火邪也。</p>
<p>海藏云：黃耆有白水耆、木耆，功用皆同。惟木耆莖短而理橫，折之如綿，皮黃褐色，肉內白色，謂之綿黃耆。若但堅脆，味苦者，謂之苜蓿根。世人以苜宿根代之，呼為土黃耆。但味苦能令人瘦；特味甘者，能令人肥也。頗能亂真，用者宜審。其治氣虛盜汗並自汗，即皮表之藥。又治皮膚痛，則表藥可知。又治咯血，柔脾胃，是又為中州藥也。又治傷寒尺脈不至，又補腎藏之元氣，以為里藥，乃是上中下內外三焦之藥也。《圖經》言：河東者，沁州綿上是也，故謂之綿耆。味甘如蜜，兼體骨柔軟如綿。世以為如綿者為綿黃耆，非也。別說云：黃耆本出綿上者為良，蓋以地產為綿。治以柔韌如綿為綿，而偽者亦柔韌，但當以堅脆甘苦為別也。《衍義》云：黃耆、防風，世多相須而用。東垣云：黃耆、人參、甘草，此三味退熱之聖藥也。《靈樞》云：衛氣者，所以溫分肉而充皮膚，肥腠理而司開闔。黃耆既補三焦，實衛氣，與桂同，特益氣異爾。然亦在乎佐使。桂則通血脈，亦能破血，而實衛氣，通內實外者歟。桂以通血言，則耆為實氣也。入手少陽、足太陰、足少陰、命門之劑。</p>
<p><u>肉蓯蓉</u>　味甘、酸，溫，無毒。主勞傷，補中，除莖中痛，強陰益精。</p>
<p>海藏云：命門相火不足，以此補之。</p>
<p>丹溪云：屬土而有水與火，能峻補精血。驟多用之，則反滑大腸。</p>
<p><u>鎖陽</u></p>
<p>丹溪云：味甘可啖，煮粥彌佳。補陰氣，治虛而大便燥結者。虛而大便不燥結者勿用。可代蓯蓉用。</p>
<p><u>防風</u></p>
<p>潔古云：療風通用，瀉肺實如神。散頭目中滯氣，除上焦風邪。又為去濕藥之使，風能勝濕故也。誤服瀉人上焦元氣。《主治秘訣》云：味甘，純陽，手足太陽經之本藥。又云：防風，甘、辛，溫散經絡中留濕。</p>
<p>東垣云：防風，辛溫，氣味俱薄，浮而升，陽也。凡瘡在胸膈已上，雖無手足太陽證，亦當用之，為能散結，去上部風。病人身體拘急者，風也。諸瘡見此證者，亦須用之。若脊痛項強，不可回顧，腰似折，項似拔者，乃手足太陽證，正當用之。又云：防風能制黃耆，黃耆得防風，其功愈大。又云：防風盡治一身之痛，乃卒伍卑賤之職，聽令而行，隨所引而至，乃風藥中之調劑也。雖與黃耆相制，乃相畏相使者也。又云：防風身去人身半已上風邪，梢去人身半已下風邪。主治諸風。</p>
<p>丹溪云：人之口通乎地，鼻通乎天，口以養陰，鼻以養陽。天主清，故鼻不受有形而受無形為多；地主濁，故口受有形而兼乎無形。昔王太后病風不能言，而脈沉，其事急。若以有形之湯藥，則緩不急事，乃造防風黃耆湯數斛，置於床下，氣如煙霧，使口鼻皆受，其夕便得語。藥力薰蒸，其效如此。善醫者宜取法焉。</p>
<p><u>五味子</u></p>
<p>成聊攝云：《內經》曰：肺欲收，急食酸以收之。芍藥五味子之酸，以收逆氣而安肺。</p>
<p>潔古云：五味子，大益五臟氣。孫真人曰：五月常服五味子，以補五臟之氣。遇季夏之間，令人困乏無力，無氣以動，與黃耆、人參、麥門冬，少加黃檗，銼，煎湯服之，使人精神、精氣兩足，筋力湧出。生用。</p>
<p>東垣云：五味子，味酸，溫。主咳逆上氣，明目，暖水藏，治勞傷羸瘦，補不足。又云：收肺氣，補氣不足。酸以收逆氣。肺寒氣逆，則此藥與乾薑同用治之。又云：性溫，味酸，氣薄味厚，可升可降，陰中陽也。其用有六：收散氣一也，止嗽二也，補元氣不足三也，止瀉痢四也，生津液五也，止渴六也。</p>
<p>海藏云：仲景八味丸用此，述類形象為腎氣丸。孫真人云：五月常服五味子，以益肺金之氣，在上則滋源，在下則補腎，故入手太陰、足少陰也。</p>
<p>丹溪云：五味子屬水而有木與金，大能收肺氣，宜其有補腎之功。收肺氣非除熱乎？補腎非暖水藏乎？食之多致虛熱者，蓋收補之驟也。《衍義》何惑之有？又云：火熱嗽，必用之。</p>
<p><u>茵陳蒿</u></p>
<p>成聊攝云：小熱之氣，涼以和之。大熱之氣，寒以取之。茵陳、梔子之苦寒，以逐胃燥。</p>
<p>海藏云：入足陽明經。仲景茵陳梔子大黃湯，治濕黃也；梔子檗皮湯，治燥黃也。如苗澇則濕黃，苗旱則燥黃；濕則瀉之，燥則潤之可也。此二藥治陽黃也。韓祗和、李思訓治陰黃，茵陳附子湯，大抵以茵陳為君主，佐以大黃、附子，各隨寒熱也。</p>
<p>東垣云：茵陳味甘，陰中微陽，治傷寒發黃。</p>
<p><u>沙參</u></p>
<p>海藏云：沙參，厥陰經本經之藥。</p>
<p><u>王不留行</u></p>
<p>潔古云：苦甘，陽中陰也。下乳引導用之，利血脈。</p>
<p>東垣云：王不留行，主金瘡，止血，乳癰。</p>

<h1>卷二</h1>
<p><u>乾薑</u></p>
<p>成聊攝云：辛以潤之。乾薑之辛，以固陽虛之汗。又云：乾薑之辛，以散裡寒。又云：寒淫所勝，平以辛熱。薑、附之辛熱以勝寒。又云：乾薑之辛，以溫胃散寒。</p>
<p>潔古云：治沉寒痼冷，腎中無陽，脈氣欲絕。黑附子為引，用水同煎二物，薑、附湯是也。亦治中焦有寒。《主治秘訣》云：性熱，味辛。氣味俱厚，半浮半沉，可升可降，陽中陰也。其用有四：通心氣助陽一也，去臟腑沉寒二也，發散諸經之寒氣三也，治感寒腹痛四也。又云：辛溫純陽。《內經》云：寒淫所勝，以辛散之。此之謂也。干、生薑氣溫味辛，主傷寒頭痛，鼻塞，上氣，止嘔吐咳嗽。生與干同治。與半夏等分，以治心下急痛。</p>
<p>東垣云：乾薑，味苦、辛，溫，純陽。主溫中，治霍亂，腹冷痛，除冷氣，治寒嗽，溫經破血，去風。又云：主發散寒邪。如多用，則耗散元氣。蓋辛以散之，則壯火食氣故也。須以生甘草緩之。辛熱散內寒，散陰寒、肺寒。與五味子同用，治嗽，以勝寒邪。正氣虛者發寒，與人參同用，補脾溫胃，去腹中寒甚，平以辛熱也。</p>
<p>海藏云：經炮則味苦，溫脾燥胃，所以理中，其實主氣而泄脾。易老云：乾薑能去下焦之寒，故四逆湯用之。乾薑本味辛，及見火後稍苦，故止而不行，所以能治裡寒，非若附子行而不止也。理中湯用此者，以其四逆也。或問東垣曰：乾薑一味辛熱，又云補脾，今言泄脾而不言補，何也？泄之一字，非泄脾之正氣，是泄脾中寒濕之邪氣，蓋以辛熱之劑燥之，故曰泄脾也。</p>
<p>丹溪云，治血虛發熱，須以補陰藥同用。入肺中，利肺氣；入腎中，燥下濕；入氣分，引血藥以生血。</p>
<p><u>生薑</u></p>
<p>成聊攝云：薑、棗味辛、甘。固能發散，而又不特專於發散之用。以脾主為胃行其津液，薑、棗之用，專行脾之津液，而和榮衛者也。</p>
<p>潔古云：生薑，性溫，味辛、甘，氣味俱厚，浮而升，陽也。其用有四：製厚朴、半夏毒一，發散風邪二，溫中去濕三，益脾胃藥之佐四。東垣云：生薑為嘔家之聖藥。辛以散之，嘔為氣不散也，此物能行陽而散氣。又云：生薑消痰下氣，益脾胃，散風寒。主傷寒頭痛，鼻寒，通四肢關節，開五臟六腑。又云：生薑與大棗同用，調和脾胃；辛溫與芍藥同用，溫經散寒。</p>
<p>海藏云：孫真人言生薑為嘔家聖藥，或則東垣曰生薑辛溫入肺，如何是開胃口？俗指心下為胃口者，非也。咽門之下，受有形之物，系胃之系，便為胃口，與肺同處，故入肺而開胃口也。又問曰：人言夜間勿食生薑，食則令人閉氣，何也？曰：生薑辛溫，主開發。夜則氣本收斂，反食生薑開發其氣，則違天道，是以不宜食。此以平人論之可也，若有病則不然也。姜屑比之乾薑不熱，比之生薑不潤，以乾生薑代乾薑者，以其不僭也。</p>
<p><u>葛根</u></p>
<p>成聊攝云：本草云輕可去實，麻黃、葛根之屬是也。以中風表實，故加二物於桂枝湯中也。</p>
<p>潔古云：治脾胃虛熱而渴，解酒毒，通行足陽明經。《主治秘訣》云：性寒，味甘，氣味俱薄，體輕上行，浮而微降，陽中陰也。其用有四：止渴一也，解酒二也，發散表邪三也，發散小兒瘡疹難出四也。益陽生津，不可多服，恐損胃氣。</p>
<p>東垣云：葛根味甘，純陽。止消渴，身大熱，解諸毒，療傷寒中風頭痛，解肌發表出汗，開腠理。又云：乾葛其氣輕浮，鼓舞胃氣上行，生津液而解肌熱。</p>
<p>海藏云：入足陽明經。東垣云：世或初病太陽證，便服葛根升麻湯者，是遺太陽，不惟遺經，反引太陽邪氣入於陽明，不能解也。朱奉議云：頭痛如破者，連須蔥白湯主之。次又不已者，葛根蔥白湯主之。恐太陽流入陽明，故用此以斷太陽入陽明之路，而非太陽藥也。故仲景治太陽、陽明合病，桂枝湯內加麻黃、葛根也；又有葛根黃芩黃連解肌湯，是知葛根非太陽藥，即陽明藥也。易老又云：太陽初病，未入陽明，頭痛者，不可便服葛根湯發之。治服之，是引賊次家也。若額顱痛者可服之。葛根湯乃陽明自中風之仙藥也。</p>
<p><u>栝樓根</u></p>
<p>成聊攝云：栝樓根，味苦微寒，潤枯燥者也。加之則津液通行，是為渴所宜也。又云：津液不足而為渴，苦以堅之。栝樓根之苦，以生津液。又云：苦以泄之。栝樓實味苦寒，通胸中鬱熱，苦寒以泄熱。</p>
<p>潔古云：性寒味苦，陰也。能解煩渴，心中枯渴者，非此不能除。</p>
<p>東垣云：栝樓根，味苦寒，純陰。止渴生津液。苦寒與酸辛同用，以導腫氣。</p>
<p>丹溪云：栝樓實屬土而有水，本草言治胸痹，以其味甘性潤，甘能補肺，潤能降氣。胸有痰者，以肺受火逼，失降下之令。今得甘緩潤下之助，則痰自降，宜其為治嗽之要藥也。又云：洗滌胸膈中垢膩，治消渴之神藥也。</p>
<p><u>苦參</u></p>
<p>潔古云：苦參氣寒味苦，是少陰腎經之君藥也，治本經須用。《主治秘訣》云：苦，陰，氣沉，逐濕。</p>
<p>東垣云：苦參，能治熱毒風，皮膚煩躁。主瘡，赤癩脫眉。</p>
<p>丹溪云：苦參屬水而有火，能峻補陰氣。或得之而腰重者，以其氣降而不升也，非傷腎之謂。治大風有功，況風熱細疹乎？</p>
<p><u>當歸</u></p>
<p>成聊攝云：《內經》曰：脈者血之府也。諸血皆屬心。通脈者，必先補心益血。苦先入於心，當歸之苦，以助心血。</p>
<p>潔古云：當歸頭止血，尾破血，身和血。若全用，一破一止，亦和血也。使頭是一節硬實處，使尾是尖細處。《主治秘訣》云：性溫，味辛。氣厚味薄，可升可降，陽中陰也。其用有三，心經本藥一也，和血二也，治諸病夜甚三也。治上治外。須以酒浸。可以潰堅。凡血受病須用之。眼痛不可忍者，以黃連、當歸根酒浸煎服。又云：血壅而不流則痛，當歸身辛溫以散之，使氣血各有所歸。</p>
<p>東垣云：當歸梢主症癖，破惡血，併產後惡血上衝。去諸瘡瘍腫結，治金瘡惡血，溫中潤燥止痛。又云：當歸、熟地黃、牡丹皮，此三味於諸經和血生血涼血之藥也。又云：血刺痛用當歸，詳上下用根稍，酒洗糖黃色者，嚼之。大辛，可能潰堅。治血通用，甘以和血，辛溫以潤內寒，苦以助心散寒。</p>
<p>海藏云：別說言產後惡血上衝，氣血昏亂者，服之即定。此蓋能使氣血各有所歸，恐聖人立當歸之名，必因此出。入手少陰，以其心生血也。入足太陰，以其能養血也。入足厥陰，以其用藏血也。治令用在參、耆，皆能補血。用在牽牛、大黃，皆能破血。佐使分定，用者當知。從桂、附、茱萸則熱，從大黃、芒硝則寒。論諸經頭痛，俱在細辛條下。惟酒煎當歸，治諸頭痛。蓋諸頭痛皆屬肝木，故以血藥主之。《本經》云：當歸主咳逆上氣。當歸血藥，如何治胸中氣？《藥性論》云：補女子諸不足。此言盡當歸之用。</p>
<p><u>麻黃</u></p>
<p>成聊攝云：寒淫於內，治以甘熱，佐以苦辛，以辛潤之。麻黃之甘，以解少陰之寒。又云：麻黃、甘草之甘，以散表寒。</p>
<p>潔古云：麻黃，發太陽、少陰經汗，入手太陰。《主治秘訣》云：性溫，味甘、辛。氣味俱薄，輕清而浮，升陽也。其用有四：去寒邪一也，肺經本藥二也，發散風寒三也，去皮膚寒濕及風四也。泄衛中實，去榮中寒。又云：麻黃苦為在地之陰，陰當下行，何謂發汗而升上？經云：味之薄者，乃陰中之陽，所以麻黃髮汗而升上。亦不離乎陰之體，故入手太陰也。</p>
<p>東垣云：去表上之寒邪。甘緩，熱，去節。用以解少陰經之寒，散表寒，散浮熱。又云：麻黃主中風傷寒頭痛，發表出汗，通九竅，開毛孔，治咳逆上氣。</p>
<p>海藏云：麻黃入足太陽、手太陰。能泄衛實而發汗，及傷寒無汗，咳嗽。夫麻黃治衛實之藥，桂枝治衛虛之藥。桂枝、麻黃，雖為太陽經藥，其實榮衛藥也。以其在太陽地分，故曰太陽也。本病者即榮衛，肺主衛，心主榮，衛為氣，榮為血，乃肺心所主，故麻黃為手太陰之劑，桂枝為手少陰之劑。故傷寒、傷風而咳者，用麻黃、桂枝，即湯液之源也。</p>
<p><u>通草</u></p>
<p>潔古云：氣平，味苦。主小便不通，導小腸中熱。</p>
<p>東垣云：通草味辛甘，純陽。能泄肺，利小便。又云：木通味甘而淡，性平，氣厚味薄，陽也。通經利竅，去小腸之熱。又云：通草甘平，以緩陰血。</p>
<p><u>燈心草</u></p>
<p>潔古云：氣平味甘。通陰竅，澀不利，利小便，除水腫、癃閉、五淋。《主治秘訣》云：辛甘陽也，瀉肺。</p>
<p>丹溪云：燈心草屬金，火燒為灰，取少許吹喉中，治急喉閉，甚捷。</p>
<p><u>白芍藥</u></p>
<p>成聊攝云：芍藥白補而赤瀉，白收而赤散也。又云：芍藥之酸，收斂津液而益榮。又云：正氣虛弱，收而行之。芍藥之酸，以收正氣。又云：酸收也，泄也。芍藥之酸，收陰氣而泄邪氣。又云：肺燥氣熱，以酸收之，以甘緩之。芍藥之酸，以斂逆氣。</p>
<p>潔古云：白芍藥補中焦之藥，炙甘草為輔，治腹中痛。如夏月腹痛，少加黃芩；惡熱而痛，加黃檗；若惡寒腹痛，加肉桂一分，白芍藥二分，炙甘草一分半，此仲景神品藥也。如寒月大寒腹痛，加桂一錢半，水二盞，煎一盞服。《主治秘訣》云：性寒，味酸，氣厚味薄，升而微降，陽中陰也。其用有六：安脾經一也，治腹痛二也，收胃氣三也，止瀉痢四也，和血脈五也，固腠理六也。白補赤散，瀉肝補脾。酒浸引經，止中部腹痛。去皮用。</p>
<p>東垣云：芍藥味酸而苦，微寒。氣薄味厚，陰也，降也。收脾經之陰氣，能除腹痛。酸以收之，扶陽而收陰氣。泄邪氣。扶陰與棗、生薑同用，以溫經散濕通塞，利腹中痛。謂氣不通，肺燥氣熱，酸收甘緩，下利必用之藥也。經云：肺欲收，以白芍藥之酸收之。</p>
<p>海藏云：《衍義》言芍藥全用根，其品亦多，須用花紅而單葉，山中者為佳。花葉多則根虛，然其根亦多赤色。其味澀，若有色白粗肥者益好，余如經。然血虛寒人禁此一物。古人有言，減芍藥以避中寒，誠不可忽。今見花赤者為赤芍藥，花白者為白芍藥。俗云白補而赤瀉。東垣云：但澀者為上，或問古今方論，以澀為收，今《本經》言利小便，何謂也？東垣云：芍藥能停諸濕而益津液，使小便自行，非通利之也。又腎主大小二便，以此益陰滋濕，故小便通也。又問：緩中何謂？曰：損其肝者，緩其中，即調血也。又問：當用何藥？曰：當用四物湯，其內有芍藥故也。赤者利小便下氣，白者止痛散血。入手足太陰，大抵酸澀者為收斂停濕之劑，故主手足太陰收降之體。又能治血海而入九地之下，復至厥陰也。後人用赤瀉白補者，以其色在西方故補，在南方故瀉也。</p>
<p>丹溪云：白芍藥酒浸炒，與白朮同用則補脾，與川芎同用補肝，與人參、白朮同用則補氣。治腹中痛不利者必炒，後重者不炒。惟治血虛腹痛，諸腹痛皆不可治。</p>
<p><u>玄參</u></p>
<p>潔古云：氣寒味苦。治心中懊憹，煩而不得眠，心神顛倒欲絕，血滯，小便不利。東垣云：足少陰腎經君藥也，治本經須用。</p>
<p>海藏云：易老言玄參乃樞機之劑，管領諸氣上下，肅清而不濁，風藥中多用之。故《活人》治傷寒陽毒，用玄參升麻湯，治汗吐下後毒不散，即知肅清樞機之劑。以此論之，治空以氤氳之氣，無根之火，以玄參為聖藥也。</p>
<p><u>秦艽</u></p>
<p>潔古云：秦艽本功外，又治口噤，腸風瀉血。《主治秘訣》云：性平，味鹹。養血榮筋，中風手足不遂者用之，去手陽明下牙痛，及除本經風濕。</p>
<p>東垣云：秦艽味苦、辛，陰中微陽。主寒濕風痹，肢節痛，無問新久，通攣急，傳屍骨蒸。</p>
<p><u>知母</u></p>
<p>成聊攝云：上熱者以苦泄之。知母、黃芩之苦，涼心去熱。</p>
<p>潔古云：知母治足陽明大熱，大補益腎水膀胱之寒。《主治秘訣》云：性寒，味苦。氣味俱厚，沉而降，陰也。其用有三：泄腎經之火一也，作利小便之佐使二也，治痢疾臍下痛三也。腎經本藥。苦欲上頭引經，皆須用酒炒。刮去皮毛，用里白者佳。</p>
<p>東垣云：知母味苦，陰中微涼，腎經。</p>
<p>海藏云：東垣言入足陽明經、手太陰經，味苦，寒潤。治有汗骨蒸，腎經氣勞，瀉心。仲景用此，為白虎湯。治不得眠者，煩躁也。煩者肺也，躁者腎也。以石膏為君主，佐以知母之苦寒，以清腎之源；緩以粳米、甘草之甘，而使之不速下也。經云：胸中有寒者，瓜蒂散主之。又云：表熱裡寒者，白虎湯主之。夫以瓜蒂、知母味皆苦寒，而治胸中之寒，何也？蓋成無己注云：即傷寒寒邪之毒為熱病者也。讀者當逆識之。如《論語》言亂臣十人之類，亂字訓作治字也。仲景所言寒之一字，舉其初而言之，熱病在其中矣。若以寒字為寒冷之寒，則無復用寒苦之劑。兼言白虎湯證，尺寸俱長，則其熱可知之矣。</p>
<p><u>貝母</u></p>
<p>成聊攝云：辛散而苦泄。桔梗、貝母之苦辛，用以下氣。</p>
<p>海藏云：寒實結胸無熱證者，仲景以小陷胸湯主之。白散亦可服，以其內有貝母也。別說云，貝母能散心胸鬱結之氣，殊有功。今用以治心口氣不快，多愁郁者，信然。海藏祖方下乳三母散，用牡蠣、知母、貝母三物為細末，以豬蹄調下。</p>
<p><u>香白芷</u></p>
<p>潔古云：治足陽明頭痛，中風寒熱，解利藥也。以四味升麻湯中加之，通行手足陽明經也。《主治秘訣》云：性溫，味辛。氣味俱輕，陽也。陽明行經之藥。治陽明經頭痛在額，及治風通用，去肺經風熱，頭面皮膚燥癢。</p>
<p>東垣云：白芷，味辛純陽。治風邪，止渴，嘔吐，頭風侵目淚出，頭眩目癢，治目赤努肉，排膿，治瘡痍疥癬，長肌肉，散陽明經之風。又云：通行手足陽明經，又為手太陰之引經。</p>
<p>海藏云：其氣芳香，治正陽陽明頭痛。與辛夷、細辛同用，治鼻病。內托，用此長肌，則陽明可知也。</p>
<p><u>黃芩</u></p>
<p>成聊攝云：苦入辛而泄熱，黃芩、黃連之苦以泄痞熱。又云：陽有餘，以苦除之，黃連、黃芩之苦以除熱。</p>
<p>潔古云：治肺中濕熱，療上熱目中赤腫，瘀肉壅盛，必用之藥。泄肺中火邪，上逆於膈上。補膀胱之寒水不足，乃滋其化源。《主治秘訣》云：性涼，味苦甘。氣厚味薄，浮而降，陽中陰也。其用有九：瀉肺經熱一也，夏月須用二也，上焦及皮膚氣熱三也，去諸熱四也，婦人產後養陰退陽五也，利胸中氣六也，消膈上痰七也，除上焦熱及皮濕八也，安胎九也。單制、二制、不制，分上中下也。酒炒上行，主上部積血，非此不能除。肺苦氣上逆，急食苦以泄之，正謂此也。又治下痢膿血，稠黏腹痛，後重身熱，久不可者，與芍藥、甘草同用。易老又云：肌熱及去痰，用黃芩。上焦濕熱，亦用黃芩，瀉肺火故也。瘡痛不可忍者，用苦寒藥，如黃芩、黃連。詳上下，分梢根，及引經藥用之。</p>
<p>東垣云：黃芩除陽有餘，涼心，去熱，通寒格。又云：治發熱口苦。</p>
<p>海藏云：東垣言黃芩味苦而薄，中枯而飄，故能泄肺火而解肌熱，入手太陰經之劑也。細實而中不空也，治下部妙。陶隱居云：色深堅實者好。圓者名子芩，又治奔豚，臍下熱痛。飄與堅有高下之分，與枳實、枳殼同例。黃芩，其子主腸澼膿血；其根得厚朴、黃連，主腹痛；得五味子、牡蒙、牡蠣，令人有子；得黃耆、白蘞、赤小豆，以療鼠瘻。張仲景治傷寒，心下痞滿，瀉心湯四方皆用黃芩，以其主諸熱，利小腸故也。又太陽病，下之利不止，有葛根黃芩黃連湯。而主妊娠，安胎散內多用黃芩，醫亦常用。《千金方》：巴郡太守奏加減三黃丸，治男子五勞七傷，消渴，不生肌肉，婦人帶下，手足寒熱者。久服之，行及奔馬，甚驗。</p>
<p>丹溪云：黃芩安胎者，乃上中二焦藥，降火行下也。縮砂安胎者，治痛行氣也。若血虛而胎不安者，阿膠主之。治痰熱者，假此以降其火也。</p>
<p><u>敗醬</u></p>
<p>海藏云：仲景治腹癰腸有膿，用薏苡仁附子敗醬湯。薏苡仁十分，附子二分，敗醬五分，三物為末，取方寸匕，以水二升，煎取一升，頓服之。小便當下愈。時習云入手厥陰、足少陰經。</p>
<p><u>藁本</u></p>
<p>潔古云：此太陽經風藥，治寒氣鬱結於本經。治頭疼腦痛，大寒犯腦，令人腦痛齒亦痛。《主治秘訣》云：味苦，性微溫。氣厚味薄而升陽也。太陽頭痛必用之藥。足太陽本經藥也。頂巔痛非此不能除。</p>
<p>東垣云：通行手足太陽經。氣力雄壯，治風通用。又云：治頭面及遍身皮膚風濕。</p>
<p>海藏云：此與木香同治霧露之氣，與白芷同作面脂藥。仲景云：清明以前，立秋以後，凡中霧露之氣，皆為傷寒。又云：清邪中於上焦，皆霧露之氣。神木白朮湯內，加木香、藁木，擇其可而用之。此既治風又治濕，亦各從其類也。</p>
<p><u>玄胡索</u></p>
<p>海藏云：一名玄胡索，避宋諱也。治心氣痛、小腹痛如神。入足厥陰經。</p>
<p><u>石香葇</u></p>
<p>丹溪云：香薷屬金與水，而有徹上徹下之功。治水甚捷。肺得之則清化，行而熱自下。又云：大葉香薷，去暑利小水。濃煎汁成膏丸而服之，可治水脹。</p>
<p><u>艾葉</u></p>
<p>潔古云：艾葉苦，陰中之陽。溫胃。</p>
<p>丹溪云：艾屬火而行水，生寒熟溫。生搗汁服，可止血。本草止言其溫，不言其熱。其性入火炙則氣下行，入藥服則氣上行。世人喜溫，今婦人慾子者，率多服之。及其毒發，何嘗歸咎於艾，惜哉。予考《圖經》而默有感於其中也，故云。</p>
<p><u>牛蒡子</u>（一名惡實）</p>
<p>潔古云：主風腫毒，利咽膈。吞一粒可出瘡疽頭。《主治秘訣》云：辛溫，潤肺散氣。搗碎用之。</p>
<p>東垣云：惡實，味辛平，甘溫。主明目，補中，除風及皮膚風，通十二經。</p>
<p><u>水萍</u></p>
<p>丹溪云：浮萍發汗，尤甚麻黃。</p>
<p><u>地榆</u></p>
<p>潔古云：性寒味苦。氣味俱薄，體沉而降，陰中陽也。專治下焦血。</p>
<p>東垣云：治下焦血，腸風下血，及瀉血。下血須用之。又云：地榆，味苦、甘、酸，陽中微陰。主婦人乳疾、七傷、帶下，治下部膿血。</p>
<p><u>白薇</u></p>
<p>海藏云：白薇根狀似牛膝，白前而短小。療卒驚邪風，狂痓病。《局方》中多用治婦人，以《本經》療傷中淋露故也。</p>
<p><u>海藻</u></p>
<p>成聊攝云：鹹味湧泄，海藻咸以泄水氣。</p>
<p>潔古云：海藻苦、咸，寒，陰也。治癭瘤、馬刀諸瘡，堅而不潰者。《內經》云：咸能軟堅。營氣不從，外為浮腫，隨各引經之藥治之，無腫不消，亦泄水氣。</p>
<p><u>漢防己</u></p>
<p>潔古云：氣寒味苦。療腰已下至足濕熱腫盛腳氣。補膀胱，去留熱，通行十二經。《主治秘訣》云：辛苦陰也。泄濕氣，去皮淨用。又云：去下焦濕腫與痛，並膀胱火邪，必用漢防己、龍膽、黃檗、知母也。</p>
<p>東垣云：漢防己，大苦寒，純陰。能泄血中之濕熱，通血中之滯塞，補陰瀉陽，助秋冬瀉春夏之藥也。比之於人，則險而健者也。險健之人，幸災樂禍，遇風塵之驚，則借為亂階。然而見善亦喜，逢惡亦怒，如善用之，則可以敵凶暴之人，突險固之地。此瞑眩之藥，聖人所以存而不廢爾。今夫防己聞其臭則可惡，下咽則令人身心為之煩亂，飲食為之減少。至於十二經有濕熱壅塞不通，及治下疰腳氣，除膀胱積熱，而庇其基本，非此藥不可。真行經之仙藥，無可代之者。復有不可用者數端：若遇飲食勞倦，陰虛生內熱，元氣穀氣已虧之病，而以防己泄大便，則重亡其血，此不可用一也；如人大渴引飲，是熱在上焦肺經氣分，宜滲泄之，其防己乃下焦血藥，此不可用二；如外傷風寒，邪傳肺經，氣分濕熱，而小便黃赤，乃至不通，此上焦氣病，禁用血藥，此不可用三也；若人久病，津液不行，上焦虛渴，宜補以人參葛根之甘溫，若用苦寒之劑則速危，此不可用四也。不止如此，但上焦濕熱者，真不可用。若下焦有濕熱，流入十二經，以致二陰不通，然後可審而用之也。又云：太陽本經藥也。</p>
<p><u>天麻</u></p>
<p>潔古云：治風痰眩運頭痛。</p>
<p><u>高良薑</u></p>
<p>潔古云：氣熱味辛，純陽。健脾胃。</p>
<p>東垣云：良薑，味辛大溫，純陽。主胃中冷逆，霍亂腹痛，健脾胃。</p>
<p><u>茴香</u></p>
<p>潔古云：茴香破一切臭氣，調中止嘔，下食。</p>
<p>東垣云：補命門不足之藥。</p>
<p>海藏云：茴香本是治膀胱藥，以其先丙，故云小腸也，能潤丙燥。以其先戊，故從丙至壬，入手足少陰。二藥相合，以開上下經之通道，所以丙與壬交也。手足太陽藥。</p>
<p><u>紅藍花</u></p>
<p>潔古云：破留血，神驗。入心養血，謂其苦溫，為陰中之陽，故入心。</p>
<p>東垣云：紅花和血，與當歸同用。</p>
<p>丹溪云：破留血，養心血。多用則破血，少用則養血。</p>
<p><u>牡丹皮</u></p>
<p>潔古云：治腸胃積血，及衄血、吐血必用之藥。是犀角地黃湯中一味也。《主治秘訣》云：辛、苦，陰中陽也。涼骨熱。</p>
<p>東垣云：牡丹皮辛味苦寒，陰中之陽。主除症堅瘀血，留舍腸胃，婦人冷熱血氣，排膿，通經，涼骨蒸。又云：去腸胃中留血滯血於諸經，皆能和血生血涼血。</p>
<p>海藏云：易老言治神志不足。神不足者，手少陰也；志不足者，足少陰也。故仲景八味丸用之。牝牡乃天地之稱。牡為群花之首，葉為陽，發生，花為陰，成實。丹為赤，即火，故能瀉陰中之火。牡丹皮主手厥陰、足少陰無汗之骨蒸，地骨皮主足少陰、手少陽有汗之骨蒸。又云：牡丹皮，治胞中之火。</p>
<p><u>京三稜</u></p>
<p>潔古云：氣平味苦，陰中陽也。破積氣，損真氣，虛人勿用。火炮製使。</p>
<p>東垣云：京三稜味苦平，陰中微陽。治癥瘕癖積結塊，脹滿，治氣脹。</p>
<p>海藏云：其色白，破血中之氣。又云：京三稜、逢莪朮，治瘡堅硬，甚者用之，為堅者削之也。</p>
<p><u>青黛</u></p>
<p>丹溪云：青黛能收五臟之鬱火，解熱毒，瀉肝，消食積。</p>
<p><u>鬱金</u></p>
<p>潔古云：鬱金，味辛、苦，純陰。涼心經。</p>
<p>東垣云：鬱金，主積血下氣，主肌，止血，破惡血。治陽毒入胃，下血頻痛。</p>
<p>丹溪云：上行之藥也。</p>
<p><u>肉豆蔻</u></p>
<p>海藏云：入手陽明經。</p>
<p>丹溪云：肉豆蔻屬金與土，溫中補脾有功。《日華子》言其下氣，蓋以脾得補而善運化，其氣自下，非若香附、陳皮之快泄也。《衍義》不詳，其實謾爾，因此遂為不可多服。</p>
<p><u>天南星</u></p>
<p>東垣云：南星味甘、辛，陰中之陽。主中風降痰麻痹，下氣，破堅積，消癰腫，利胸膈，散血墮胎。乃肺經之本藥。</p>
<p><u>縮砂蜜</u></p>
<p>潔古云：治脾胃氣結滯不散。主虛勞冷瀉，心腹痛，下氣消食。</p>
<p>海藏云：縮砂與檀香、白豆蔻為使，則入肺；與人參、益智為使，則入脾；與黃檗、茯苓為使，則入腎；與赤、白石脂為使，則入大小腸。入手足太陰、手足陽明經。</p>
<p>丹溪云：縮砂安胎止痛，行氣故也。</p>
<p><u>蓬莪朮</u></p>
<p>海藏云：蓬莪朮其色黑，破氣中之血。入氣藥中，發諸香。雖為泄劑，亦能益氣。故孫用和治氣短不能續，所以大小七香丸，集香丸散及湯中，多用此也。</p>
<p><u>香附子</u></p>
<p>潔古云：味甘、苦，微寒。氣厚於味，陽中陰也。快氣。</p>
<p>東垣云：香附子，味甘，微寒。除胸中熱，充皮毛，治一切氣，並霍亂吐瀉腹痛，腎氣膀胱冷，消食下氣。</p>
<p>海藏云：後世人用治崩漏，本草不言治崩漏。《圖經》云：膀胱間連脅下，時有氣妨，皮膚瘙癢，癮疹，飲食不多，日漸瘦損，常有憂愁，心忪少氣，以是知益氣血之藥也。方中用治崩漏，是益氣而止血也。又能逐去凝血，是推陳也。與巴豆能治泄瀉不止，又能治大便不通，同意。</p>
<p>丹溪云：香附子必用童便浸。凡血藥必用之，以引至氣分而生血，此陽生陰長之義也。</p>
<p><u>紅豆蔻</u></p>
<p>海藏云：是高良薑子也。畏良薑。用紅豆復用良薑，如用官桂復用桂花同意。</p>
<p><u>白豆蔻</u></p>
<p>潔古云：蕩散肺中滯氣，寬膈，進飲食。《主治秘訣》云：性熱味辛，氣味俱薄，輕清而升，陽也。其用有五：肺經本藥一也，散胸中滯氣二也，感寒腹痛三也，溫暖脾胃四也，赤眼暴發，白睛紅者，用之少許五也。</p>
<p>東垣云：白豆蔻味辛，大溫，純陽。主積冷氣，止嘔逆翻胃，消穀下氣，去太陽經目內大眥紅筋。</p>
<p>海藏云：入手太陰經，別有清高之氣。上焦元氣不足，以此補之。</p>
<p><u>黑附子</u></p>
<p>成聊攝云：附子之辛溫，固陽氣而補胃。又云：濕在經者，逐以附子之辛熱。又曰：辛以散之，附子之辛以散寒。</p>
<p>潔古云：黑附子，其性走而不守，亦能除胸中寒甚。以白朮為佐，謂之朮附湯，除寒濕之聖藥也。治濕藥中宜少加之。通行諸經，引用藥也，及治經閉。《主治秘訣》云：性大熱，味辛甘，氣厚味薄。輕重得宜，可升可降，陽也。其用有三：去臟腑沉寒一也，補助陽氣不足二也，溫暖脾胃三也。然不可多用。慢火炮製，去皮臍用。又云：附子，熱氣之厚者，乃陽中之陽，故經云發熱。又云：非附子不能補下焦之陽虛。</p>
<p>東垣云：黑附子味辛、甘，溫。大熱純陽。治脾中大寒。主風寒咳逆，溫中。又云：散臟腑沉寒，其氣亦寒，補諸不足，不宜多用，經曰壯火食氣故也。用之則須以甘草緩之。辛熱以溫少陰經，以溫陽氣。散寒發陰，必以辛熱。濕淫所勝腹中痛，用之補虛勝寒。蛔動胃虛，則氣壅滿，甘令人中滿，去朮加此，補陽散壅。</p>
<p>海藏云：附子入手少陽、足少陰，三焦、命門之劑。其浮中有沉，無所不至。味辛大熱，為陽中之陽，故行而不止，非若乾薑止而不行也。非身表涼、四肢厥者不可僭用。如用之者，以其治四逆也。</p>
<p>丹溪云：《衍義》論附子有五等，同為一物，以其形象命名而為用，至哉言矣。然猶有未明也。仲景八味丸，以附子為少陰之嚮導，其補自是地黃為主；後世因以附子為補藥，誤矣。附子之性，走而不守。但取其健悍走下之性，以行地黃之滯，可致遠爾。烏頭、天雄皆氣壯形偉，可為下部藥之佐。惜無表其害人之禍者，相習用之，為治風之藥，殺人多矣。如治風治寒，有必須用附子、烏頭者，當以童便而浸之，以殺其毒，且可以助行下之力。入鹽尤捷也。</p>
<p><u>烏頭</u></p>
<p>潔古云：治風痹、血痹、寒痹，半身不遂，行經藥也。《主治秘訣》云：性熱，味辛、甘。氣厚味薄，浮而升，陽也，其用有六：除寒疾一也，去心下痞堅二也，溫養臟腑三也，治諸風四也，破積聚滯氣五也，感寒腹痛六也。</p>
<p>東垣云：烏頭，味辛、甘，溫。大熱純陽。主中風，除寒濕痹，行經散風邪。不宜多用。</p>
<p>海藏云：烏附子類，皆水浸炮裂，去皮臍用之。然多外黃內白，劣性尚存些少，莫若乘熱切作片子再炒，令表裡皆黃色，劣性盡去為良也。今人罕知如此制之。</p>
<p><u>天雄</u></p>
<p>潔古云：非天雄不能補上焦之陽虛。</p>
<p><u>白附子</u></p>
<p>東垣云：味辛、甘，微溫，純陽。主血痹，行藥勢，治中風失音。</p>
<p><u>半夏</u></p>
<p>成聊攝云：辛者散也。半夏之辛，以散逆氣，以除煩嘔。辛入肺而散氣。辛以散結氣，辛以發音聲。</p>
<p>潔古云：半夏治寒痰，及形寒飲冷傷肺而咳。大和胃氣，除胃寒，進飲食。治太陰痰厥頭痛，非此不能除。《主治秘訣》云：性涼，味辛、苦。氣味俱薄，沉而降，陰中陽也。其用有四：燥脾胃濕一也，化痰二也，益脾胃之氣三也，消腫散結四也。渴則忌之。又云：去痰用半夏，熱痰加黃芩，風痰加南星，胸中寒痰痞塞，用陳皮、白朮。然多用則瀉脾胃。</p>
<p>東垣云：半夏主中風，除痰，生溫熟寒，健脾胃，止嘔吐，去胸中痰滿。又云：渴者禁半夏。</p>
<p>丹溪云：半夏屬金與土。仲景用於小柴胡，取其補陽明也，豈非有燥脾土之功歟。</p>
<p><u>大黃</u></p>
<p>成聊攝云：大黃謂之將軍，以苦盪滌。又云：宜下必以苦，大黃之苦寒以下瘀熱。又云：腸燥胃強，以苦泄之。大黃、枳實之苦，下燥結而泄胃強也。</p>
<p>潔古云：大黃之性，走而不守，瀉諸實熱，大腸不通，盪滌腸胃間熱，專治不大便。《主治秘訣》云：性寒，味苦。氣味俱厚，沉而降，陰也。其用有四：去濕熱一也，除下焦濕二也，推陳致新三也，消宿食四也。用之酒浸煨熟，寒因熱用也。又云：味苦純陰。熱淫所勝，以苦泄之。酒浸入太陽經，酒洗入陽明經，余經不用酒。又云：腹中實熱者，用大黃、芒硝。又云：大黃苦味之厚者，乃陰中之陰，故經云泄下。</p>
<p>海藏云：味苦寒，陰中之陰也。下泄推陳致新，去陳垢而安五臟。謂如戡定禍亂，以致太平無異，所以有將軍之名。入手足陽明經。以酒引之，上至高巔；以舟楫載之，可浮胸中。本苦泄之性，峻至於下。以酒將之，可至至高之分。若物在高巔，人跡不及之處，必射以取之也。故太陽陽明、正陽陽明，承氣湯俱用酒浸。惟少陽陽明為下經，故小承氣湯不用酒浸也。襟證方有生用者，有用麵裹蒸熟者，其制不一。《衍義》云：仲景治心氣不足，吐血衄血，瀉心湯用大黃黃芩黃連。或曰：心氣不足矣，而不用補心湯，更用瀉心湯，何也？答曰：心氣獨不足，則不當吐衄也。此乃邪熱因不足以客之，故吐衄。以苦泄其熱，就以苦補其心，蓋兩全之。有此證者用之，無不效，量虛實而用之。</p>
<p>丹溪云：大黃屬水與火，苦寒而善泄。仲景用之以治心氣不足而衄血者，名曰瀉心湯。正是因少陰經之陰氣不足，本經之陽氣亢甚，無所輔著，以致陰血妄行而飛越，故用大黃，泄去亢甚之火，使之和平，則血歸經而自安矣。夫心之陰氣不足，非一日矣。肺與肝俱各受火而病作，故以黃芩救肺，黃連救肝。蓋肺者陰之主，肝者心之母，血之舍也。肺肝之火既退，陰血自復其舊矣。《衍義》不與明說，而曰熱因不足而客之，何以明仲景之意，開後人之盲聵乎？</p>
<p><u>葶藶</u></p>
<p>成聊攝云：葶藶、杏仁之苦、甘，所以泄滿。</p>
<p>東垣云：葶藶苦寒。熬與辛酸同用，以導腫氣。</p>
<p>海藏云：葶藶，仲景用苦者。余方或有用甜者，或有不言甜苦者。大抵苦則下泄，甜則少緩，量病虛實用之，不可不審。本草雖云甜苦主治同，然甜苦之味，安得不異？仲景葶藶大棗瀉肺湯用之。</p>
<p>丹溪云：葶藶屬火與水，性急，善逐水。病人稍虛者，宜遠之。其殺人甚速，何待久服，而後致虛也。</p>
<p><u>桔梗</u></p>
<p>成聊攝云：辛散而苦泄。桔梗、貝母之苦辛，用以下氣。又云：桔梗辛溫以散寒。</p>
<p>潔古云：桔梗，治咽喉痛，利胸中氣。《主治秘訣》云：味辛，苦微溫，味厚氣薄，陽中陰也。肺經之引藥，辛苦微溫，乃散寒嘔。若咽中痛，非此不能除。陽中之陽，謂之舟楫。諸藥中有此一味，不能下沉。治鼻塞，去蘆米泔浸一宿，焙乾用。</p>
<p>東垣云：桔梗性涼，味甘苦。味厚氣薄，浮而升，陽也。其用有五：利胸膈咽喉氣壅及痛，一也；破滯氣及積塊，二也；肺部風熱，二也；清利頭目，四也；利竅，五也。</p>
<p>海藏云：入手太陰、足少陽經。易老言桔梗與國老並行，同為舟楫之劑。如用將軍苦泄峻下之藥，欲引至胸中至高之分，成功非此辛甘不居。譬如鐵石入江，非舟楫不載，故用辛甘之劑以升之也。《衍義》云：治肺熱氣奔促，咳逆，肺癰排膿。</p>
<p>丹溪云：桔梗能開提氣血，氣藥中宜兼用之。</p>
<p><u>旋覆花</u></p>
<p>成聊攝云：硬則氣堅，鹹味可以軟之。旋覆之咸，以軟痞硬。</p>
<p>海藏云：發汗吐下後，心下痞堅，噫氣不除者，宜此。仲景治傷寒汗下後，心下痞堅，噫氣不除，旋覆代儲湯。胡洽治痰飲兩肋脹滿，旋覆花丸，用之尤妙。</p>
<p><u>射干</u>（射音夜）</p>
<p>潔古云：射干苦，陽中陰也。去胃中癰瘡。</p>
<p>東垣云：射干味苦，平。陽中之陰。主咳逆上氣，喉痹咽痛，消腫毒，通女人月經，消瘀血。</p>
<p>海藏云：仲景治咽中動氣，或閉塞，鳥扇湯中用之。時習云仲景射干湯用之鳥扇，是射干苗也。</p>
<p>丹溪云：射干屬金而有木與水火，行厥陰、太陰之積痰，使結核自消，甚捷。又曰：治便毒。此乃足厥陰濕氣，因疲勞而發。取射干三寸，與生薑同煎，食前服，利三兩行效。又治喉痛，切一片噙之，效。紫花者是，紅花者非。</p>
<p><u>恆山</u></p>
<p>丹溪云：恆山屬金而有火與水，性暴悍，善驅逐，能傷真氣，功不掩過者也。病者稍近虛怯，勿用也。雷公有云：老人與久病人切忌之。</p>
<p><u>蜀漆</u></p>
<p>潔古云：蜀漆味辛，純陽破血。</p>
<p>東垣云：蜀漆，破腹中癰瘕，堅結痞氣，積聚邪氣。主瘴鬼、久瘧不瘥。又云：蜀漆洗去腥，與苦酒同用，以導膽。</p>
<p>海藏云：火邪錯逆，加蜀漆之辛以散之。</p>
<p><u>甘遂</u></p>
<p>潔古云：味甘寒。有毒水結胸中，非此不能除之。</p>
<p>東垣云：甘遂味苦，寒，純陽。主大腹腫滿，能瀉十二種水氣腫滿。</p>
<p>海藏云：甘遂可以通水，以其氣直達透所結處。</p>
<p><u>白及</u>（與白蘞同）</p>
<p>潔古云：白及苦甘，陽中陰也。止肺血，澀與白蘞同。</p>
<p>東垣云：白及，味苦、辛、甘，陽中陰也。主癰腫惡瘡，敗疽發背，瘰癧腸風，痔漏，湯火瘡。</p>
<p><u>大戟</u></p>
<p>成聊攝云：苦以泄之。甘遂、大戟之苦以泄水。水者，腎所生也。</p>
<p>潔古云：大戟，味苦、甘、寒，陰中微陽也。瀉肺氣，卻能損真氣。</p>
<p>海藏云：此澤漆根也。與甘遂同為泄水之藥，濕勝者以苦燥除之。</p>
<p><u>蕘花</u></p>
<p>成聊攝云：蕘花下十二種水，水去利則止。</p>
<p>海藏云：張仲景以蕘花治利者，以其行水也，水去利則止，其意如此。若用時當以意斟酌，不可使過與不及也。仍須是有此證者，方可用之。仲景小青龍湯，若微利，去麻黃加蕘花，如雞子大，熬令赤色，用之蓋利水也。</p>
<p><u>威靈仙</u></p>
<p>東垣云：威靈仙味苦純陽，主諸風濕冷，宣通五臟，去腹內癖滯，腰膝冷痛及折傷。</p>
<p>丹溪云：屬金與木，其性好走。治痛風之要藥也，在上痛者尤效。須量病人，稍虛者即禁用之。</p>
<p><u>牽牛子</u></p>
<p>東垣云：牽牛子，非《神農》之藥也。本草《名醫》續注云：味苦寒，能除濕，利小水，治下疰腳氣。據所說氣味主治俱誤矣。何以明之？凡藥中用牽牛子者，少則動大便，多則下水，此乃下氣之藥。試取嘗之，即得辛辣味，久而嚼之，猛烈雄壯，漸漸不絕，非辛如何？續注家乃謂味苦寒，其苦寒果安在哉？若以為瀉濕之藥，猶不知其的也，何則？此物但能瀉氣中之濕熱，不能瀉血中之濕熱；況濕從下受之，下焦主血，是血中之濕，宜用苦寒之味，今反以辛藥瀉之，其傷人必矣。夫濕者水之別稱，有形者也。若肺先受濕，則宜用之，今用藥者，不問有濕無濕，但傷食，或欲動大便，或有熱服，或作常服克化之藥，俱用牽牛，豈不誤哉。殊不知牽牛辛熱，瀉人元氣，比之諸辛藥瀉氣尤甚，以其辛之雄烈故也。經云：辛瀉氣，辛走氣，辛瀉肺。氣病者，無多食辛。此一味瀉人元氣，至甚神速。況飲食失節，勞役所傷，是胃氣不行，心火乘之，腸胃受火邪，名曰熱中脈。經云脾胃主血，所生病當血中瀉火，潤燥補血，破惡血，瀉胃之濕熱及胸中熱。肺受火邪，當以黃芩之苦寒瀉火，以當歸之辛溫和血，以生地黃之苦寒涼血補血，少加紅花之辛溫以瀉血絡，以桃仁之辛甘油膩之藥，以破惡血，兼除燥潤大便。然猶不可專用，須於正藥補中益氣湯，黃耆、人參、甘草諸甘溫甘寒補元氣瀉陰火之藥內，兼而用之。何則？上焦元氣已自虛弱，若反用牽牛大辛辣氣味俱陽之藥，以瀉水瀉元氣，可乎？津液已不足，口燥舌乾，而重瀉其津液，利其小便，重瀉已虛之元氣，復竭其津液，致陰火愈甚，可乎？故重則必死，輕則夭人壽，誠可憫也。今重為備言之。牽牛感南方熱火之化所生者也，血熱而瀉氣，差誤甚矣。若病濕勝，濕氣不行施化，致大小便不通，則宜用之耳。濕去則氣得周流，所謂五臟有邪，更相平也。經云：一臟不平，以所勝平之。火能平金而瀉肺氣者，即此也。近世錢氏瀉黃散中獨用防風，比之餘藥過於兩倍者，以防風辛溫，令於上中，以瀉金來助濕者也。經云：從前來者為實邪，謂子能令母實，實則瀉其子。此之謂以所勝乎子者也。古人有云：牽牛不可耽嗜，耽嗜則脫人元氣。經云：秋不食姜，令人瀉氣。故夏月食姜不禁，為熱氣正旺之時，夏宜以汗散火，令其汗出，以越其熱。故秋月則禁之。朱晦庵語錄中有戒：秋食姜，則夭人天年。經止言辛瀉氣，而晦庵戒之深者也。姜尚之如此，況牽牛乎！今所以言此者，明味辛之物，皆有宜禁之時，亦猶牽牛不可一概用之也。張仲景治七種濕證，小便不利，無一藥中有犯牽牛者。仲景豈不知牽牛能泄濕利小便也，為濕病之根，在下焦，是血分中氣病，不可用辛辣，氣藥瀉上焦太陰之氣，故七種濕證藥無一用之者。仲景尚不敢輕用牽牛如此，世醫乃一概用之，何也？又云白牽牛，瀉氣分濕熱，上攻喘滿。</p>
<p>海藏云：以氣藥引之則入氣，以大黃引之則入血。張文懿公云：不可耽嗜，脫人元氣。吾初亦疑之，藥有何耽嗜？後每見人因酒食病痞者，多服食藥以導其氣，及用神芎犯牽牛等丸，初服則快，藥過其痞，依然依前，再服隨藥而效，藥過服病。由是愈信其效。以此久服，脫人元氣，而猶不知悔悟也。治法惟當益脾健胃，使人元氣生，而自然腐熟水穀，此法無以加矣。</p>
<p>丹溪云：牽牛性善走，屬火。有黑白兩種，黑者屬水，白者屬金。若非病形與脈證俱實者，勿用也；不脹滿，不大小便俱秘者，勿用也。如稍涉疑似，誤用其驅逐以致虛，先哲之所深戒也。</p>
<p><u>萆麻子</u></p>
<p>丹溪云：萆麻子屬陰，而能吸出有形質之滯物，故取胎產胞衣剩骨膿血者用之。其葉主腳上腫瘡。</p>
<p><u>苧根</u></p>
<p>丹溪云：苧根屬水而有土與金，大能補陰而行滯血。方藥中鮮用，故表而出之。安胎尤效。</p>
<p><u>羊蹄根</u></p>
<p>丹溪云：羊蹄根屬水，走血分，葉似苦蕒，甘而不苦。</p>
<p><u>馬鞭草</u></p>
<p>丹溪云：馬鞭草治金瘡，行血活血。</p>
<p><u>白頭翁</u></p>
<p>東垣云：白頭翁味苦性寒，主下焦腎虛，純苦以堅之。</p>
<p>海藏云：仲景治熱利下重者，白頭翁湯主之。《內經》云：腎欲堅，急食苦以堅之。利則下焦虛，是以純苦之劑堅之。</p>
<p><u>蘆根</u></p>
<p>海藏云：《金匱玉函》方治五膈氣滯，煩悶吐逆，不下食：蘆根五兩，銼，水三大盞者，取二錢去滓，溫服無食。</p>
<p><u>馬兜鈴</u></p>
<p>潔古云：苦寒，陰中陽也。主肺熱，清肺氣，補肺。</p>
<p>東垣云：馬兜鈴味苦寒，陰中之陽。主肺熱咳嗽，痰結喘促。</p>
<p><u>連翹</u></p>
<p>潔古云：連翹性涼微苦，氣味俱薄，輕清而浮，升陽也。其用有三：瀉心經客熱一也，去上焦諸熱二也，瘡瘍須用三也。</p>
<p>東垣云：連翹十二經，瘡藥中不可無，乃結者散之之義。能散諸經血結氣聚，此瘡瘍之神藥也。又云：諸經客熱，非此不能除。</p>
<p>海藏云：入手足少陽經，治瘡瘍瘤氣，癭起結核，有神。與柴胡同功，須分氣血之異爾。與鼠黏子同用，治瘡瘍，別有神效。</p>
<p><u>連軺</u></p>
<p>海藏云：苦寒除熱，《本經》不見所載，但仲景方內注云：連軺，即連翹之根也。</p>
<p><u>木賊</u></p>
<p>丹溪云：用木賊發汗至易，須去節，銼，以水潤濕，布火烘用。</p>
<p><u>夏枯草</u></p>
<p>丹溪云：夏枯草無臭味，治瘰癧。郁臭草有臭味，方作緊而藥，即充尉是也。明是兩物。俱生於春，但夏枯草先枯而無子，郁臭草後枯而結黑子。又云：有補養厥陰血脈之功。三月、四月開花，五月夏至時候便枯。蓋凜純陽之氣，得陰氣則枯也。</p>
<p><u>佛耳草</u></p>
<p>東垣云：佛耳草酸熱，治寒嗽及痰涎，除肺中寒，大升肺氣。少用款冬花為使。過食則損目。</p>
<p><u>燈籠草</u></p>
<p>丹溪云：燈籠草寒，治熱痰嗽。佛耳草治寒嗽。</p>
<p><u>款冬花</u></p>
<p>東垣云：味辛甘，純陽。溫肺，止嗽。治肺痞勞嗽，消渴，喘急。</p>
<p><u>蜀葵花</u></p>
<p>潔古云：性冷，陰中之陽。赤者治赤帶，白者治白帶。赤治血燥，自治氣燥。</p>
<p><u>蘭葉</u></p>
<p>東垣云：蘭葉味辛平。其氣清香，生津止渴，益氣，潤肌肉。《內經》云消渴治之以蘭是也。消渴證非此不能除，膽癉必用。</p>
<p>丹溪云：蘭稟金水之清氣，而似有火，人知其花香之可貴，而不知為用之方。蓋其葉能散久積陳爵之氣，甚有力。入藥煎者用之。東垣方中常用矣。</p>
<p><u>蒲公草</u></p>
<p>丹溪云：蒲公英屬土。開黃花，似菊花而小，折斷有白汁，莖中空虛。化熱毒，消惡腫結核，有奇功。在處田間路側有之。二月開黃花似菊。味甘。解食毒，散滯氣。可入陽明、太陰經。洗淨細銼，同忍冬藤煎濃湯，入少酒佐之，以治乳癰。服罷隨手欲睡，是其功也。睡覺病已安矣。</p>
<p>東垣云：微苦寒，足少陰腎經君藥，治本經須用。</p>
<p><u>漏蘆</u></p>
<p>東垣云：足陽明本經藥。</p>
<p><u>白蘞</u></p>
<p>東垣云：味苦、甘。主癰腫瘡疽，塗一切腫毒，傅丁瘡、火灼瘡，治發背。</p>
<p><u>薑黃</u></p>
<p>東垣云：味辛，大寒，無毒。治癥瘕血塊，癰腫，通月經，消腫毒。</p>
<p><u>葫蘆巴</u></p>
<p>東垣云：味苦，純陽。治元藏虛寒，腎經虛冷，膀胱疝氣。</p>
<p><u>茜根</u></p>
<p>潔古云：味苦寒，陰中之陽。去諸死血。</p>
<p><u>萎蕤</u></p>
<p>東垣云：甘平。潤肺除熱。</p>
<p><u>商陸根</u></p>
<p>東垣云：熬，辛酸與苦同用，以導腫氣。</p>
<p><u>御米殼</u>（即罌粟殼）</p>
<p>潔古云：味酸澀，主收，固氣。</p>
<p><u>昆布</u></p>
<p>東垣云：味大咸。治瘡之堅硬者，咸能軟堅也。</p>

<h1>卷三</h1>

<h2>木部</h2>
<p><u>桂</u></p>
<p>成聊攝云：桂枝能泄奔豚。又云：辛甘發散為陽，桂枝之辛甘以和肌表。又云：辛以散之，下焦畜血，散以桂枝，辛熱之氣也。</p>
<p>潔古云：補下焦熱火不足，治沉寒痼冷及表虛自汗。春夏二時為禁藥也。《主治秘訣》云：滲泄止渴，去榮衛中風寒。仲景《傷寒論》發汗用桂枝者，乃桂條，非身干也，取其輕薄而能發散。今又有一種柳桂，乃桂枝嫩小枝條也，尤宜入治上焦藥用也。《主治秘訣》云：桂枝性熱，味辛甘。氣味俱薄，體輕而上行，浮而升，陽也。其用有四：去傷寒頭痛，開腠理，解表，去皮膚風濕。</p>
<p>東垣云：肉桂味辛甘。大熱純陽。溫中利肺氣，發散表邪，去榮衛中風寒。秋冬治下部腹痛，非桂不能止之。又云：桂枝味辛，性熱，氣味俱輕，陽也升也，故能上行，發散於表。收內寒則用牡桂。辛熱散經寒，引導陽氣。若熱以使正氣虛者，以辛潤之。散寒邪，治奔豚。又云：或問本草言桂能止煩出汗，仲景或云復發其汗，或云先其時發汗，或云當以得汗解，或云當發汗，更發汗，併發汗，宜桂枝湯。凡數處言之，則是用桂枝發汗也；又云無汗不得服桂枝，又云汗家不得重發汗，又云發汗過多者，用桂枝甘草湯，則是用桂枝閉汗也。一藥二用，如何明得仲景發汗閉汗，與本草之義相通為一。答曰：本草言桂味辛甘，大熱無毒，能宣導百藥，通血脈，止煩出汗者，是調其血而汗自出也。仲景云藏無他病，發熱自汗者，此是衛氣不和也。又云：自汗者為榮氣不和，榮氣不和則內外不諧，蓋衛氣不與榮氣相和諧也，若榮氣和則愈矣。故用桂枝湯調和榮衛，榮衛既和，則汗自出，風邪由此而解，非桂技能開腠理而發汗出也。昧者不解閉汗之意，凡見傷寒病者便用桂枝湯發汗，若與中風自汗者，其效應如桴鼓，因見其取效而病愈，則曰此桂枝發汗出也，遂不問傷寒無汗者，亦皆與桂枝湯，誤之甚矣。故仲景言無汗，不得服桂枝，是閉汗孔也。又云：發汗多，叉手自冒心，心下悸欲得按者，用桂枝甘草湯。此亦是閉汗孔也。又云：汗家不得重發汗，若用桂枝湯，是重發其汗也。凡桂枝湯下言發字，當認作出字，是汗自然出也，非若麻黃能開腠理，而發出汗也。本草出二字，下文有通血脈一句，此非三焦衛氣皮毛中藥，此乃榮血中藥也。如此則出汗二字，當認作榮衛和，自然汗出耳，非是桂枝開腠理髮出汗也。故後人用桂治虛汗，讀者當逆察其意可也。噫！神農作之於前，仲景述之於後，前聖後聖，其揆一也。</p>
<p>海藏云：桂有菌桂、牡桂、筒桂、肉桂、板桂、桂心、官桂之類，用者罕有分別。大抵細薄者為枝為嫩，厚脂者為肉為老，但不用粗皮，止用其心中者為桂心也。《衍義》云：桂大熱。《素問》云：辛甘發散為陽。故漢張仲景桂枝湯治傷寒表虛，皆須用此藥，是專用辛甘之意也。本草云：療寒以熱。故知獨有一字桂者。本草言甘辛大熱，正合《素問》辛甘發散為陽之說也。然《本經》止言桂，而仲景又言桂枝者，蓋只取其枝上皮，其本身粗厚處不中用。今又謂之官桂，不知何緣而立名。或云：官字即觀字之文，蓋產於觀州者佳，故號觀桂也。深慮後世以為別物，故於此書之。然筒桂厚實，氣味重者宜入治藏及下焦藥，輕薄者宜入治頭目發散藥。故《本經》以菌桂養精神，牡桂利關節。仲景傷寒發汗用桂枝，桂枝者桂條也，非身干也，取其輕薄而能發散。一種柳桂，乃小嫩桂條也，尤宜入上焦藥。仲景湯液用桂枝發表，用肉桂補腎，本乎天者親上，本乎地者親下，理之自然。然此藥能護榮氣而實衛氣，桂枝發表則在足太陽經，桂心入心則在手少陰經。</p>
<p>丹溪云：桂虛能補，此大法也。仲景救表用桂枝，非是表有虛以桂補之也。蓋衛有風邪，故病自汗，以桂枝發其風邪，衛和則表密，汗自止，非桂能收汗而用之也。今《衍義》云乃謂仲景治表虛，誤矣。本草止言出汗，正是《內經》辛甘發散之意。後人用桂止汗，失經旨矣。名曰官桂者，以桂多品，取其品之高者，可以充貢，而名之曰官桂，乃貴之辭也。桂心者以皮之肉厚，去其粗而無味者，止留近本一層，其味辛甘者，故名之曰桂心，乃美之之辭也，何必致疑若此乎。</p>
<p><u>胡椒</u></p>
<p>丹溪云：屬火而有金，性燥。食之快膈，喜食者眾，大傷脾胃肺氣，久則氣大傷。凡病氣疾人，蓋大其禍也。</p>
<p><u>蔓荊實</u></p>
<p>潔古云：氣清，味辛溫。治太陽頭痛，頭沉昏悶，除目暗，散風邪之藥也。胃氣人不可服，恐傷痰疾。《主治秘訣》云：苦、甘，陽中之陰。涼諸經之血熱，止頭痛目暗。</p>
<p><u>蜀椒</u></p>
<p>潔古云：氣溫，味辛。主邪氣，溫中，除寒痹，堅齒髮，明目，利五臟。凡須用炒去汗及合口者。</p>
<p>東垣云：蜀椒味辛溫，大熱，純陽。溫中明目，逐骨節、皮膚、死肌寒濕痹痛。又云：蜀椒去汗，辛熱以潤心寒。丹溪云：紅椒屬火而有水與金，有下達之能。所以其子名曰椒目，止行滲道，不行穀道，能下水燥濕。世人服椒者，無不被其毒。以其久，久則火自水中起，誰能御之。</p>
<p><u>吳茱萸</u></p>
<p>成聊攝云：寒淫於內，治以甘熱，佐以苦辛，吳茱萸、生薑之辛以溫胃。</p>
<p>潔古云：治寒在咽隘，塞胸中。經云：咽膈不通，食不可下，食則嘔，令人口閉目瞪，寒邪所結，氣不得上下，此病不已，令人寒中腹滿，膨脹下利。寒氣用之如神，諸藥不可代也。《主治秘訣》云：性熱味辛，氣味俱厚，氣浮而味降，陰中陽也。其用有四：去胸中滿，止心痛，治感寒腹痛，消宿酒，為白豆蔻之佐也。</p>
<p>東垣云：治胸中氣逆。不宜多用，辛熱恐損元氣。入足太陰脾經。又云：心腹疼痛，溫中下氣，溫胃，去痰冷。</p>
<p>海藏云：吳茱萸入足太陰、足厥陰，少陰震坤合，為其色綠。仲景吳茱萸湯、當歸四逆湯、大溫脾湯及脾胃藥，皆用此也。《衍義》云：須探湯中浸去苦裂，凡六七過，始可用。此物下氣最速，腸虛人服之愈甚。</p>
<p><u>益智子</u></p>
<p>潔古云：氣熱味辛，治脾胃中寒邪，和中益氣，治人多唾。當於補中藥內兼用之，不可多服。</p>
<p>海藏云：君相二火，手足太陰、足少陰。本是脾藥，在集香丸則入肺，在四君子湯則入脾，在鳳髓丹則入腎。益脾肺腎互用者，有子母相關之意。</p>
<p><u>厚朴</u></p>
<p>成聊攝云：厚朴之苦，以泄腹滿。又云：燥淫於內，治以苦溫，厚朴之苦以下結燥。</p>
<p>潔古云：能除腹脹。若元氣虛弱，雖腹脹宜斟酌用之，寒脹是也。大熱藥中，兼用結者散之，乃神藥也。誤服脫人元氣，切禁之。《主治秘訣》云：性溫味苦，氣味俱厚，體重濁而微降，陰中陽也。平胃氣，去腹脹。孕婦忌之。</p>
<p>東垣云：厚朴味苦而辛，大溫，陽中之陰。專去腹脹滿，去邪氣。又云：腹脹用薑製厚朴。</p>
<p>海藏云：經言治中風傷寒頭痛，溫中益氣，消痰下氣，厚腸胃，去腹脹滿。果泄氣乎？益氣乎？若與枳實、大黃同用，則能泄實滿，經云消痰下氣者是也。若與陳皮、蒼朮同用，則能泄濕滿，經云溫中益氣者是也。若與解利藥同用，則治傷寒頭痛。與治痢藥同用，則厚腸胃。大抵苦溫，用苦則泄，用溫則補。《衍義》云：平胃散中用之，最調中。至今此藥盛行，既能溫脾胃氣，又能走冷氣，為世所須也。加減隨證，如五積散，治疫同功。</p>
<p>丹溪云：屬土而有火。氣藥也，溫而能散瀉胃中之實也。而平胃散用之，佐以蒼朮，正為瀉上焦之濕，平胃土不使之太過，而復其平，以致於和而已，非謂溫補脾胃也。習以成俗。皆謂之補，哀哉！又云：厚朴能治腹脹，因其味辛，以提其氣。</p>
<p><u>丁香</u></p>
<p>東垣云：丁香味辛，溫，純陽。去脾胃中寒，止霍亂。又云：氣血勝者，不可服丁香，益其氣也。</p>
<p>海藏云：治翻胃，腎氣，奔豚氣，陰痛，壯陽，暖腰膝，消痃癖，除冷勞。與五味子、廣朮同用，亦治奔豚氣泄，肺寒，補胃，大治腎氣。入手太陰、足陽明、少陰。</p>
<p>丹溪云：屬火而有金。補瀉，能走夫人口，居上而地氣出焉。肺行清令，與脾氣相和，惟有潤而甘芳自適焉。有所謂口氣病者乎？口有氣而已自嫌之，以其脾有鬱火，溢人肺中，失其清和甘美之意，而濁氣上干，此所謂為口氣病也。若以丁香含之，揚湯止沸爾。惟以香薷煮汁飲之，其效甚捷。</p>
<p><u>沉香</u></p>
<p>潔古云：辛熱純陽，補右腎命門。</p>
<p>東垣云：能養諸氣，上而至天，下而及泉。與藥為使，最相宜也。又云：沉香調中，補五臟，益精壯陽，補腎暖腰膝，去風水毒腫，去惡氣邪氣。又云：重可去怯，以沉香辛溫，體重清氣，去怯安神。</p>
<p><u>檀香</u></p>
<p>潔古云：陽中微陰。主心腹霍亂中惡，引胃氣上升，進飲食。</p>
<p>東垣云：能調氣而請香，引芳香之物上行至極高之分，最宜橙橘之屬。佐以薑、棗，將以葛根、豆蔻，縮砂、益智，通行陽明之經，在胸膈之上，處咽嗌之中，同為理氣之藥。入手太陰、足少陰。</p>
<p><u>梔子</u></p>
<p>成無己云：苦以湧之。梔子之苦，以湧虛煩。</p>
<p>潔古云：性寒味苦，氣薄味厚，輕清上行，氣浮而味降，陽中陰也。其用有四：去心經客熱，除煩躁，去上焦虛熱，療風熱，是為四也。又云：梔子氣寒，味微苦。治心煩懊憹，煩不得眠，心神顛倒欲絕，血滯，小便不利。又云：苦，純陽，止渴。</p>
<p>海藏云：仲景用梔子治煩，胸為高之分也。故易老云：輕飄而象肺，色赤而象火，故能瀉肺之火也。本草不言吐，仲景用此為吐藥，梔子本非吐藥，為邪氣在上，拒而不納，故令人上吐，邪因得以出。經曰高者因而越之，此之謂也。或用梔子利小便，實非利小便，清肺也。肺氣清而化，膀胱為津液之府，小便得以出也。《本經》云：治大小腸熱。辛與庚合，又與丙合，又能泄戊，其先入中州故也。去皮泄心火，連皮泄肺火，入手太陰、手少陰經。梔子豉湯治煩躁。煩者氣也，躁者血也，氣主肺，血主腎，故用梔子以治肺煩，用香豉以治腎躁。煩躁者，懊憹不得眠也。少陰虛滿者，加甘草。若嘔噦者，加生薑、橘皮。下後腹滿而煩，梔子厚朴枳實湯。下後身熱微煩，梔子甘草乾薑湯。梔子大而長者，染色不堪入藥。皮薄而圓，七稜至九稜者，名曰山梔子，所謂越桃者是也。《衍義》云：仲景治傷寒，汗吐下後，虛煩不得眠，若劇者必反覆顛倒，心中懊憹，以梔子豉湯治之。因虛故不用大黃，有寒毒故也。梔子雖寒無毒，治胃中熱氣，既亡血亡津液，臟腑無潤養，內生虛熱，非此物不可除也。又治心經留熱，小便赤澀，去皮山梔子、火炮大黃、連翹，甘草炙，等分末之，水煎三二錢，七服之，無不效。張仲景《傷寒論》及古今名醫治發黃皆用梔子、茵陳、香豉、甘草等，分四物作湯飲之。又治大病起勞復，皆用梔子、鼠矢等湯，並小利而愈。其方極多，不可悉載。用仁去心胸中熱，用皮去肌表間熱。</p>
<p>丹溪云：山梔子屈曲下行，降。又能治肺中之火也。</p>
<p><u>檗皮</u></p>
<p>成聊攝云：蛔得甘則動，得苦則安，黃連、黃檗之苦安蛔。</p>
<p>潔古云：治腎水膀胱不足，諸痿厥，腰腳無力，於黃耆湯中少加用之，使兩足膝氣力湧出，痿軟即時去矣。蜜炙此一味為細末，治口瘡如神。癱瘓必用之藥也。《主治秘訣》云：性寒味苦，氣味俱厚，沉而降，陰也。其用有六：瀉膀胱龍火一也，利小便熱結二也，除下焦濕腫三也，治痢疾先見血四也，去臍下痛五也，補腎氣不足壯骨髓六也。二制則治上焦，單制則治中焦，不制則治下焦也。既能泄瀉膀胱火，亦能利竅。小便黃用檗皮，澀者加澤瀉。</p>
<p>東垣云：黃檗味辛、苦，苦厚辛微，陰中之微，降也。太陽經引經之藥。瀉膀胱經火，補本經及腎不足。若寒，安蛔，補下焦虛，堅腎。經曰：苦以堅之。凡痿厥除濕藥中不可缺也。</p>
<p>海藏云：足少陰之劑。腎苦燥，故骨停濕也。梔子、黃芩入肺，黃連入心，黃檗入腎，燥濕所歸，各隨其類也。活人解毒湯，上下內外通治之。</p>
<p>丹溪云：檗皮屬金，而有水與火。走手厥陰經，而有瀉火補陰之助。舌頰瘡多生於郁用之。以配細辛，治口瘡有奇效。</p>
<p><u>地骨皮</u></p>
<p>潔古云：氣寒味苦。解骨蒸肌熱，主消渴，風濕痹，堅筋骨。《主治秘訣》云：屬陰涼血，去骨取皮，用去肌熱及骨中之熱。</p>
<p>東垣云：地骨皮大寒，純陰。涼血，去皮膚骨節間熱。又治表有風寒，熱邪自汗。又云：地骨皮瀉腎火，總治熱。在外地為陰，骨為里，皮為表也。又云：四物湯內加地骨皮、牡丹皮，治婦人骨蒸最妙。又云：地骨皮治足少陰、手少陽有汗而骨蒸者。</p>
<p>海藏云：入足少陰經、手少陽經。</p>
<p><u>枳實</u></p>
<p>成聊攝云：枳實味苦寒，潰堅破積。</p>
<p>潔古云：去胃氣濕熱。《主治秘訣》云：氣味升降與枳殼同。其用有五：主心下痞一，化胸脅痰二，消宿食三，散敗血四，破堅積五。凡治心下痞及宿食不消，並用枳實、黃連。</p>
<p>東垣云：枳實味苦微寒。苦以泄之，治心下痞。潔古用治脾經積血，故能去心下痞，脾無積血則心下不痞。散氣消食。苦寒，炙用以泄氣，除內熱。</p>
<p>海藏云：欲益氣則佐之以人參、乾薑、白朮，破氣則佐之以大黃、牽牛、芒硝，此《本經》所以言益氣，而復言消痞也。非白朮不能去濕，非枳實不能除痞。殼主高而實主下。高者主氣，下者主血。主氣者在胸膈，主血者在心腹。仲景治心下堅，大如盤，水飲所作，枳實白朮湯主之，枳實七枚，白朮三兩，水一斗，煎至三升，分三服，腹中軟，即消。《衍義》云：枳殼、枳實一物也，小則其性酷而速，大則其性詳而緩。故仲景治傷寒倉卒之病，承氣湯中用枳實，此其意也。皆取其疏通決泄，破結實之義。他方但導散風壅之氣，可常服者，故用枳殼。其意如此。故胸中痞有桔梗枳殼湯，心下痞有桔實白朮湯，高低之分，易老詳定為的也。</p>
<p>丹溪云：枳實瀉痰，能沖牆倒壁。滑竅瀉氣之藥。</p>
<p><u>枳殼</u></p>
<p>潔古云：治胸中痞塞，泄肺氣。凡氣刺痛用枳殼，看何經分，以引經藥導之。破滯氣亦用積殼。高者用之，然能損胸中至高之氣，止可二三服而已。《主治秘訣》云：性寒味苦，氣厚味薄，浮升而微降，陰中陽也。其用有四：破心下堅痞一，利胸中氣二，化痰三，消食四。然不可多用，多則損胸中至高之氣。</p>
<p>東垣云：氣血弱者，不可服枳殼，以其損氣也。</p>
<p><u>豬苓</u></p>
<p>成聊攝云：淡味滲泄，為陽。豬苓、茯苓之甘，以行小便。</p>
<p>潔古云：大燥除濕，比諸淡滲藥，大燥亡津液。無濕證勿服。《主治秘訣》云：性平味淡，氣味俱薄，升而微降，陽也。其用與茯苓同，去心中懊憹。</p>
<p>東垣云：豬苓味甘苦而淡，性平。甘重於苦，陽也。苦以泄滯，甘以助陽，淡以利竅，故能除痹濕而利小便也。</p>
<p>海藏云：治妊娠淋，及治妊娠從肺上至腹腫脹，小便不利。仲景治少陰渴者用豬苓湯。入足太陽、少陰經。《衍義》：行水之功多，久服必損腎氣，昏人目。</p>
<p><u>茯苓</u></p>
<p>成聊攝云：茯苓以伐腎邪。又云：脾惡濕，甘先入脾，茯苓、白朮之甘以益脾，逐水。又云：津液少者甘潤之，茯苓、白朮之甘，緩脾生津。</p>
<p>潔古云：止消渴，利小便，除濕益燥，和中益氣，利腰臍間血為主，治小便不通，溺黃，或赤而不利。如小便利，或數服之，則大損人目。如汗多，人服之，損元氣，夭人壽。醫言赤瀉白補，上古無此說。《主治秘訣》云：性溫味淡，氣味俱薄，浮而升，陽也。其用有五：止瀉一，利小便二，開腠理三，除虛熱四，生津液五也。又云：茯苓淡，為在天之陽也。陽當上行，何謂利水而泄下。經雲氣之薄者乃陽中之陰，所以茯苓利水而泄下，亦不離乎陽之體，故入手太陽。</p>
<p>東垣云：茯苓味甘而淡，性平，陽也。淡能利竅，甘以助陽，除濕之聖藥也。味甘平，補陽益脾，逐水平火。寒淫所勝，小便不利，用淡味滲泄為陽也。治水緩脾，生津液，止渴導氣。又云：分陰陽而導濕。</p>
<p>海藏云：入手足少陰、手足太陽也。白者入庚辛壬癸，色赤者入丙丁。伐腎邪，小便多則能止之，小便澀則能利之，與車前子相似。雖利小便，卻不走氣。酒浸，與光明硃砂同用，能秘真。其味甘平，如何是利小便？</p>
<p>丹溪云：茯苓屬金，得松之餘氣所成。仲景利小便多用之。此治暴病新病之要藥，若久病陰虛者，恐未為相宜。</p>
<p><u>檳榔</u></p>
<p>潔古云：治後重如神。性如鐵石之沉重，能墜諸藥至於下。《主治秘訣》云：性溫味苦，氣薄味厚，沉而降，陰中陽也。破滯氣下行，泄胸中至高之氣。</p>
<p>東垣云：檳榔辛而苦，性溫味厚，氣輕，陰中陽也。苦以泄滯氣，辛以散風邪，專破滯氣下行。</p>
<p><u>槐實</u></p>
<p>潔古云：槐實苦酸，涼大腸熱。槐花亦同。</p>
<p>東垣云：槐實味苦酸鹹寒，治口齒風，五內邪氣熱，止涎唾，治大腸熱，婦人乳瘕。槐花味苦平，純陰。涼大腸熱，去皮膚風，腸風瀉血。</p>
<p><u>琥珀</u></p>
<p>潔古云：屬陽，利小便，清肺。</p>
<p>東垣云：琥珀味甘平，純陽。安五臟，定魂魄，殺精魅，消瘀血，通五淋，利小便。</p>
<p>丹溪云：屬陽，金。古方利小便，以燥脾土有功。蓋脾能運化，肺自下降，故小便可通。若因血少不利者用之，反致燥急之苦。又云：能長肌肉。</p>
<p><u>烏藥</u></p>
<p>海藏云：氣厚於味，陽也。入足陽明、少陰經。</p>
<p><u>藿香</u></p>
<p>潔古云：性溫味苦，氣厚味薄，浮而升，陽也。補腎氣，進飲食。去枝莖，用葉。</p>
<p>東垣云：藿香芳馨之氣，特助脾開胃止嘔。</p>
<p>海藏云：溫中快氣。治口臭，上焦壅，煎湯漱口。入手足太陰經，入勻氣烏藥則補肺，入黃耆、四君子則補脾。</p>
<p><u>乾漆</u></p>
<p>丹溪云：漆屬金，而有水與火。性急能飛補。近用為去積滯之藥。若用之中節，積去後，補性內行，人不知也。</p>
<p><u>皂莢</u></p>
<p>海藏云：仲景治咳逆，上氣唾濁，但坐不得臥，皂莢丸主之。杆皂莢末一物，蜜丸梧子大，棗湯下一丸，日三夜一。《活人》治陰毒正陽散內，皂角引入厥陰經也。用之有蜜炙、酥炙、燒火灰之異，宜從本方。</p>
<p>丹溪云：皂角刺治癰疽已潰，能引至潰處。</p>
<p><u>山茱萸</u></p>
<p>潔古云：味酸，陽中陰也。溫肝藏。</p>
<p>東垣云：山茱萸味酸平，微溫，陰中之陽。主心下邪氣，暖腰膝，助水藏，除一切風，逐一切冷。</p>
<p>海藏云：入足少陰、厥陰經。《聖濟經》云：滑則氣脫，澀劑所以收之，山茱萸之澀以收其滑。仲景八味丸用為君主，如何澀劑以通九竅。雷公用之去核，取肉四兩，緩火熬用，能壯元氣，秘精。核滑精，故去之。</p>
<p><u>側柏葉</u></p>
<p>丹溪云：柏屬陰金，性善守，故採其葉。隨月建方，以取其多得月令之氣也。此補陰之要藥。其性多燥。久得之大益脾土，以滋其肺。</p>
<p><u>紫葳花</u></p>
<p>丹溪云：凌霄花治血痛之要藥也，且補陰甚捷，蓋有守而能獨行。婦人方中宜用。</p>
<p><u>酸棗仁</u></p>
<p>海藏云：胡洽治振悸不得眠，用人參、白朮、茯苓、甘草、生薑、酸棗仁炒香，六物煮沸。本草注：治膽虛不眠，寒也，酸棗仁炒為末，竹葉調湯服（出《聖惠方》）。治膽實，多睡熱也，酸棗仁生用一錢，臘茶二錢，薑汁調服（出《濟眾方》）。</p>
<p><u>桑根白皮</u></p>
<p>海藏云：入手太陰經。甘厚辛薄，甘以固元氣之不足，辛以瀉肺氣之有餘。</p>
<p><u>訶梨勒</u></p>
<p>東垣云：訶梨勒味苦而酸，性平味厚，陰也，苦重酸輕。經云：肺苦氣上逆，急食苦以泄之，以酸補之。苦重能泄肺氣，酸輕不能補肺，故嗽藥中不用。</p>
<p>丹溪云：訶子下氣，以其味苦而性急喜降，經云肺苦急食苦以瀉之，謂降而下是也。其氣實者宜之，若氣虛者似難輕服。又云：訶子能治肺氣，因火傷極，遂郁遏脹滿。蓋其味酸苦，有收斂降火之功故也。</p>
<p><u>郁李仁</u></p>
<p>潔古云：苦、辛，陽中之陰，主破血潤燥。</p>
<p>東垣云：郁李仁味酸平，陰中之陽。主大腹水腫，面目四肢浮腫。治大便氣結燥，澀滯不通。七聖丸中用之，專治氣燥。</p>
<p><u>巴豆</u></p>
<p>成無己云：巴豆之辛，用以散實。</p>
<p>潔古云：性熱味苦，氣薄味厚，體重而沉降陰也。其用有三：導氣消積一，去臟腑停寒二，消化寒涼及生冷硬所傷三也。又云：巴豆辛，陽。去胃中寒積。</p>
<p>東垣云：巴豆味辛溫，生溫熟寒。去胃中寒濕，盪滌五臟六腑，開通閉塞。</p>
<p>海藏云：斬關奪門之將，不可輕用，大宜詳審。《藥性論》云：得火良。若急治為水穀道路之劑，則去皮心膜油，生用；若緩治為消堅磨積之劑，則炒煙出，令紫黑色用。可以通腸，可以止泄，世所不知也。仲景治百病客忤，備急丸主之，巴豆、杏仁例用，加減寒熱，佐使五色。並余例，並見《醫壘元戎》。</p>
<p>丹溪云：去胃中寒積，無寒積勿用。</p>
<p><u>乳香</u></p>
<p>潔古云：辛熱，純陽。補腎，及定諸經之痛。</p>
<p>東垣云：乳香味苦、辛，熱，純陽。療風水腫毒，去惡風，心腹痛。若丸散用之，微炒殺毒，得不黏。</p>
<p><u>胡梧淚</u></p>
<p>潔古云：味鹹，治瘰癧非此不能除。</p>
<p>東垣云：胡梧淚味酸、苦，大寒。主大毒熱，心腹煩滿，水和服之即吐。</p>
<p><u>芫花</u></p>
<p>成聊攝云：辛以散之，芫花之辛以散飲。</p>
<p>海藏云：仲景治太陽中風，脅下痛，嘔逆者可攻，十棗湯主之。胡洽治痰癖、飲癖，加以大黃、甘草、大戟、甘遂與芫花，共五物同煎。以相反主之，欲其大吐也。夫水者肺、腎、胃三經所主，有五臟六腑十二經之部分，上而頭目，中而四肢，下而腰臍，外而皮毛，中而肌肉，內而筋骨。脈有尺寸之殊、浮沉之異。不可輕瀉，當知病在何經何藏而用之。若誤用則害深矣。然而此藥大意泄濕。</p>
<p><u>蘇木</u></p>
<p>潔古云：性涼，味甘酸而微辛，陽中之陰。發散表裡風氣，破死血。</p>
<p>東垣云：味甘而酸辛，性平，甘勝於酸。辛去風，與防風同。</p>
<p><u>楝實</u></p>
<p>潔古云：楝實入心經，止下部腹痛。又云：味酸、苦，陰中之陽。心暴痛者，非此不能除。</p>
<p><u>樗木皮</u></p>
<p>丹溪云：臭椿根皮，性涼而能澀血。</p>
<p><u>棠球子</u></p>
<p>丹溪云：棠球子消食積，行結氣，建胃，催瘡疹。治婦人兒枕痛，濃煎此藥汁，入砂糖調服，立效。</p>
<p><u>松節</u></p>
<p>丹溪云：松屬陽金。用其節炒焦，治筋骨間病，能燥血中之濕。松花多食，能發上焦熱病。</p>
<p><u>五倍子</u></p>
<p>丹溪云：五倍子屬金與水。噙口中，善收頑痰有功，且解諸熱毒。</p>
<p><u>楓香脂</u></p>
<p>丹溪云：楓香屬金，而有水與火。性疏通，故木易有蟲穴，其液名白膠香，為外科家要藥。近世不知，誤以為松脂之明瑩者，甚失《本經》之意。</p>
<p><u>桑上寄生</u></p>
<p>丹溪云：桑寄生，藥之要品也。自《圖經》以下失之，而俗醫又不識其的，惜哉！以其生於近海州邑及海外，其地暖，不蠶，由是桑木得氣之厚，生意濃郁，而無採捋之苦。但桑上自然生出，且所生處皆是光澤皮膚之上，何曾所謂節間可容他樹子耶？此說得之海南北道憲僉老的公云。</p>
<p><u>合歡</u></p>
<p>丹溪云：合歡屬土，而有水與金。補陰之有捷功者，長肌肉續筋骨，既可見矣。而外科家曾錄，用何歟？</p>
<p><u>龍腦</u></p>
<p>東垣云：龍腦入腎，治骨病。</p>
<p>丹溪云：龍腦屬火。世知其寒而通利，然未達其暖而輕浮飛揚。《局方》但喜其香而貴細，故動輒與麝香同用，而為桂、附之佐，殊不知人身之陽易於動，陰易於虧，幸試思之。</p>
<p><u>墨</u></p>
<p>丹溪云：墨屬金，而有火與水。入藥甚助補性。</p>
<p><u>杉材</u></p>
<p>丹溪云：杉屬陽金而有火。用節作湯，浸洗以治腳氣腫痛。言用屑者非也。</p>
<p><u>烏臼木</u></p>
<p>丹溪云：烏臼解蛇毒有功。</p>
<p><u>淡竹葉</u>　竹瀝</p>
<p>潔古云：竹葉苦，陰中微陽，涼心經。</p>
<p>東垣云：竹葉辛，平，除熱緩脾而益元氣。</p>
<p>丹溪云：竹瀝本草言大寒，泛觀其意，以與石膏、黃芩、黃連等同類，而諸方治胎前產後諸病，及金瘡口噤，與血虛自汗，消渴尿多，皆是陰虛之病，無不用之。產後不得虛，胎前不損子。夫何世俗因大寒二字棄而不用，縮手殆盡，豈不哀哉。《內經》云：陰虛則發熱。大寒而能補，正與病對。薯蕷寒而能補，世或用之。惟竹瀝因大寒而置疑，是猶因盜嫂受金，而棄陳平之國士也。殊不知竹瀝味苦性緩，能降陰虛之有大熱者。大寒言其功也，非以氣言也。幸相與評其可否，若曰不然，世人食筍，自幼至老，何無一人因筍之大寒而病。瀝即䇹之液也，況假於火而成者，何寒如此之甚？又云：竹瀝滑痰，非佐以薑汁不行經絡；痰在四肢，非竹瀝不可開；痰在皮裡膜外，非竹瀝、薑汁不可除；痰在膈間，使人顛狂，宜用竹瀝；風痰亦宜用。其功又能養血。</p>
<p><u>茗</u></p>
<p>潔古云：茶苦，為陰中之陽，所以清頭目。</p>
<p>海藏云：清頭目，利小便，消熱渴，下氣消食，令人少睡。中風昏憒，多睡不醒，宜用此。入手足厥陰經。治陰證湯藥內用此，與去格拒之寒及治伏陽，大意相似。茗味苦，經云苦以泄之，其體下行，如何是清頭目？</p>
<p><u>金櫻子</u></p>
<p>丹溪云：金櫻子屬土，而有金與水。夫經絡隧道，以通暢為和平。昧者不知，取澀性以為快，遂熬為煎食之，自不作靖，咎將誰執？</p>
<p><u>茯神</u></p>
<p>東垣云：味甘，平，純陽，療風眩，心虛闢不止，驚悸，開心益智，安魂魄，養精神，心虛非此不能除之。</p>
<p><u>秦皮</u></p>
<p>東垣云：苦，寒，主熱利下重，下焦虛。經云：腎欲堅，急食苦以堅之。故用白頭翁、黃連、黃檗、秦皮之苦劑也。</p>
<p><u>杜仲</u></p>
<p>潔古云：性溫，味辛、甘。氣味俱薄，沉而降，陽也。其用壯筋骨，及足弱無力以行。</p>
<p>東垣云：杜仲能使筋骨相著。</p>
<p><u>柏子仁</u></p>
<p>海藏云：潤腎之藥也。</p>

<h2>人部</h2>
<p><u>人溺</u></p>
<p>成聊攝云：《內經》曰：若調寒熱之逆，冷熱必行。則熱物冷服，下隘之後，冷體既消，熱性便發，由是病氣隨愈，嘔噦皆除，情且不違，而致大益。此和人尿、豬膽汁鹹苦寒物於白通湯熱劑中，要其氣相從，則可以去格拒之寒也。</p>
<p>丹溪云：人溺降火最速。</p>
<p><u>人中白</u></p>
<p>丹溪云：能瀉肝火，降陰火。須置於風露下，經二三年者始可用。</p>
<p><u>人中黃</u></p>
<p>丹溪云：性涼治溫病，《日華子》有方。</p>

<h2>獸部</h2>
<p><u>龍骨</u></p>
<p>成聊攝云：澀可去脫，龍骨、牡蠣之澀，以收斂浮越之正氣。</p>
<p>東垣云：龍骨味甘，平，純陽。能固大腸脫。又云：龍齒安魂。</p>
<p>海藏云：澀可去脫而固氣。成聊攝云：龍骨、牡蠣、黃丹皆收斂神氣以鎮驚。凡用，燒通赤，研為粉。</p>
<p><u>麝香</u></p>
<p>東垣云：麝香入脾，治肉病。</p>
<p><u>牛黃</u></p>
<p>東垣云：牛黃入肝，治筋病。</p>
<p><u>阿膠</u></p>
<p>成聊攝云：陰不足者以甘補之，阿膠之甘以補血。</p>
<p>潔古云：性平味淡，氣味俱薄，浮而升，陽也。能補肺氣不足。甘溫，以補血不足。慢火炮脆，搓細用。</p>
<p>東垣云：喘者用阿膠。</p>
<p>海藏云：入手太陰、足少陰、足厥陰。補虛損極，咳唾膿血，非阿膠不能補。仲景豬苓湯用阿膠，滑以利水道。《活人》四物湯加減例，妊娠下血者加阿膠。</p>
<p><u>白馬脛骨</u></p>
<p>丹溪云：白馬胚骨，煅過用，性甘性寒，可代黃芩、黃連，中氣不足者用之。</p>
<p><u>犬</u></p>
<p>丹溪云：世俗言犬治虛損之病，似指陽虛而議治。殊不知人身之虛悉是陰虛，若陽果虛，其死甚易，敏者亦難措手。夫病在可治者，皆陰虛也。</p>
<p><u>羚羊角</u></p>
<p>丹溪云：屬木，入厥陰經為捷，紫雪方中用之近理。</p>
<p><u>犀角</u></p>
<p>海藏云：治一切瘡腫破血，升麻代犀角，其說見升麻條下。易老治畜血分三部：上焦畜血用犀角地黃湯，中焦畜血用桃仁承氣湯，下焦畜血用抵當丸。丸但緩於湯。爾三法的當，後之用者無以復加。</p>
<p>丹溪云：犀角屬陽，性走散，比諸角為甚。痘瘡後用此以散餘毒，俗以為常。若無餘毒而血虛者，或已燥熱發散者而誤用之，禍立至，人所不知也。</p>
<p><u>豬膚</u></p>
<p>海藏云：豬膚，豬皮也。仲景《傷寒論》豬膚湯注云：豬膚甘寒。豬，水畜也，其氣先入堅少陰，客熱，是以豬膚解之。加白蜜以潤燥除煩，白粉以益氣斷痢。又云：《傷寒論》白通湯加豬膽汁方注云：若調寒熱之逆，冷熱必行。則熱物冷服，下嗌之後，冷體既消，熱性便發，由是病氣隨愈，嘔噦皆除，情且不違，而致大益。此加人尿、豬膽汁鹹苦寒物白通湯熱劑中，要其氣相從，則可以去格拒之寒也。又與醋相和內穀道中，酸苦益陰，以潤燥瀉便。</p>
<p><u>羊肉</u></p>
<p>東垣云：羊肉甘熱，能補血之虛。羊肉，有形之物也，能補有形肌肉之氣。凡味與羊肉同者，皆可以補之。故曰：補可去弱，人參、羊肉之屬是也。人參補氣，羊肉補形也。</p>
<p><u>豬肉</u></p>
<p>丹溪云：豬肉皆補氣。又云：世俗以肉為性之物。肉無補性，惟補陽耳。今之虛損者，不在於陽而在於陰，以肉補陰，猶緣木求魚，何者？肉性熱，入胃便發熱，熱發便生痰，痰生則氣便不降，而諸證作矣。久病後須用補胃氣，胃氣非陰氣，不足以自全，所以淡味為自養之良方也。然食淡味，又須安心，使內火不起可也。</p>
<p><u>虎睛</u></p>
<p>東垣云：虎睛定魄。</p>

<h2>禽部</h2>
<p><u>雞</u></p>
<p>成聊攝云：陰不足者以甘補之，雞子黃、阿膠之甘以補血。</p>
<p>海藏云：陰不足補之以血。若咽有瘡，以雞子一枚，去黃留白，用苦酒傾殼中，以半夏入苦酒中，取殼置刀環上，安火上熬，微沸去滓，旋旋呷之。</p>
<p>丹溪云：風之為病，西北氣寒，為風所中，誠有之矣。東南氣溫，而地多濕，有風病者非風也，皆因濕生痰，痰生熱，熱生風也。經曰：亢則害，承乃制。河間云：土極似木。數千年得經意者，河間一人爾。《衍義》云：雞動風者，習俗所移也。雞屬土，而有金與木。火性補，故助濕中之火，病邪得之為有助，而病反劇，非雞而已。凡有血氣與夫魚肉之類，皆助病邪者也，《衍義》不暇及爾。又云：雞屬巽，助肝火。</p>

<h2>蟲魚部</h2>
<p><u>牡蠣</u></p>
<p>成聊攝云：咸以軟之，牡蠣之咸以消胸脅之滿。又云：牡蠣之咸以泄水氣。又云：牡蠣味鹹寒，加之則痞者消，硬者軟。</p>
<p>潔古云：能軟痞積，燒白，搗細用。</p>
<p>東垣云：牡蠣味鹹平。主傷寒，寒熱溫瘧，驚恚怒氣，癰瘡鼠瘻，女子帶下赤白，治泄精，軟堅積。</p>
<p>海藏云：治脅下痞滿，能去瘰癧，一切瘡腫。入足少陰經。咸為軟堅之積，以柴胡引之故去脅下硬，以茶引之能消結核，以大黃引之能消股間腫，以地黃為使能益精，收澀，止小便，本腎經之藥也。</p>
<p><u>敗龜板</u></p>
<p>丹溪云：屬金而有水，陰中陽也。大有補陰之功，而本草不言，惜哉。其補陰之力而兼去瘀血，續筋骨，治勞倦。其能補陰者，蓋龜乃陰中至陰之物，稟北方之氣而生，故能補陰。治陰血不足，止血利，治四肢無力。酥酒、豬脂皆可灸之。</p>
<p><u>蛤粉</u></p>
<p>丹溪云：蛤粉治疝氣，能降能消，能軟能燥。同香附末，薑汁調服以治心痛。以蛤蜊殼火煅過，研為粉用之，不入煎劑。</p>
<p><u>文蛤</u></p>
<p>成聊攝云：文蛤咸走腎，則可以勝水氣。</p>
<p>海藏云：能利水。治急疳蝕口鼻，數日欲死，燒灰，臘脂和塗之。能墜痰軟堅，收澀固濟。咸能走腎，可以勝水。文蛤尖而紫斑者，即蛤粉也。</p>
<p>丹溪云：馬刀、蚌、蛤、螄、蜆，大同而小異。屬金而有水、木、土。《衍義》云其冷而不言其濕。多食其肉則發痰，以其濕中有火，久則氣上升而不降，因生痰，痰則生熱，熱則生風，何冷之有？</p>
<p><u>鱔魚</u></p>
<p>丹溪云：鱔魚善補氣。</p>
<p><u>鯽魚</u></p>
<p>丹溪云：諸魚皆屬土，惟鯽魚屬火，故能入陽明，而有調胃實腸之功。若得之多者，亦未嘗不起火也，戒之。又云：諸魚之性無一息之停，故能動火。</p>
<p><u>鱉</u></p>
<p>丹溪云：鱉魚補氣。</p>
<p><u>白殭蠶</u></p>
<p>潔古云：性微溫，味微辛。氣味俱薄，體輕浮而升，陽也。去皮膚諸風。</p>
<p>丹溪云：白殭蠶屬火，而有土與金、木。老得金氣，僵而不化。治喉痹者，取其火中清化之氣，以從治相火，散濁逆結滯之痰耳。</p>
<p><u>蝦蟆</u></p>
<p>丹溪云：蝦蟆屬土與水，性寒味甘。南方多食之。本草明言可不患熱病，由是病人喜食之。本草之意，蓋是或炙或於，或燒成灰，和在藥劑中用之。非若世人煮為羹，入鹽椒而啜其湯也。此物本濕化，大能發濕，久則濕亦化熱。此因土氣厚，自然生火。《衍義》謂解勞熱藥之謂也，非羹之謂也，戒之。</p>
<p><u>蛇蛻</u></p>
<p>海藏云：去翳膜用之，取其義也。蟬、蛇亦同。</p>
<p><u>蚯蚓</u></p>
<p>丹溪云：蚯蚓屬土，而有水與木。性寒，大解諸熱毒，行濕病。</p>
<p><u>水蛭</u></p>
<p>成聊攝云：苦走血，咸勝血，虻蟲、水蛭之鹹苦以除畜血。</p>
<p>海藏云：苦走血，咸勝血，仲景抵當湯用虻蟲、水蛭鹹苦以泄畜血也。經云：有故無殞也，雖可用之，亦不甚穩。莫若四物湯加酒浸大黃各半，用之為妙。</p>
<p><u>螻蛄</u></p>
<p>丹溪云：螻蛄治口瘡甚效。虛人戒，勿用之，以其性急故也。</p>
<p><u>五靈脂</u></p>
<p>丹溪云：能行血止血。</p>

<h2>果部</h2>
<p><u>草豆蔻</u></p>
<p>潔古云：治風寒客邪在胃口之上，善去脾胃客寒令人心胃痛。《主治秘訣》云：純陽，益脾胃去寒。以麵裹煨熟，去面用。</p>
<p>東垣云：胃脘痛用草豆蔻。</p>
<p>海藏云：虛弱不能飲食，宜此與木瓜、烏梅、縮砂、益智、麴櫱、甘草、姜也。入足太陰、足陽明經。</p>
<p><u>橘皮</u></p>
<p>潔古云：紅橘皮能益氣。加青皮減半，去滯氣，推陳致新。若補脾胃，不可去白；若理胸中滯氣，去白。《主治秘訣》云：性寒味辛，氣薄味厚，浮而升，陽也。其用有三：去胸中寒邪，破滯氣，少用；同白朮則益脾胃，多用；獨用則損脾胃。又云：益肺利氣。有甘草則補脾胃，無則瀉脾。</p>
<p>海藏云：治酒毒，用葛根陳皮茯苓甘草生薑湯。手太陰氣逆上而不下，宜以此順之。白檀為之使。其芳香之氣，清奇之味，可以奪橙也。《活人》治噦而有寒熱，竹茹、陳皮、乾薑等湯，主咳逆。其論並見《此事難知》。</p>
<p><u>青皮</u></p>
<p>潔古云：青橘皮氣溫味辛。主氣滯，下食破積，結膈氣，及小腹痛。《主治秘訣》云：性寒味苦，氣味俱厚，沉而降，陰也。其用有五：足厥陰、少陽之分，有病則用之，一也；破堅癖，二也；散滯氣，三也；去下焦濕，四也；治左腎有積氣，五也。</p>
<p>東垣云：足厥陰、少陽經之引經藥也。有滯氣則破滯氣，無滯氣則損其氣。又云：破滯削堅積皆治，在下者效。引藥至厥陰之分，下食入太陰之倉。</p>
<p>海藏云：青皮如橘皮一種，青皮小而未成熟者，成熟而大者橘也。因色紅，故名紅皮。以藏日久者佳，故名陳皮。如枳實、枳殼一種，實則小而青色，未花，殼則大而黃，紫色已花。故殼高而治胸膈，實低而治心下，與陳皮治高，青皮治低之意同。或曰：陳皮、青皮有二種，枳實，枳殼亦有二種。</p>
<p><u>杏核仁</u></p>
<p>潔古云：除肺中燥，治風燥在於胸膈。《主治秘訣》云：性溫味甘、苦，氣薄味厚，濁而沉降，陰也。其用有三：潤肺氣，消宿食，下降氣。麵炒，去皮尖。</p>
<p>東垣云：杏仁味苦、甘，性溫。散結潤燥，散肺中風及熱，是以風熱嗽用之。</p>
<p>海藏云：杏仁破氣，入手太陰經。王朝奉治傷寒，氣上逆喘者，麻黃湯內加杏仁、陳皮；若氣不上喘逆者，減杏仁，陳皮，故知其能瀉肺也。東垣云，杏仁下喘，用治氣也。桃仁治狂，用治血也。杏、桃仁俱治大便秘，亦當以氣血分之。晝則難便，行陽氣也；夜則難便，行陰血也。大腸雖屬庚為白，腸以晝夜言之，氣血不得不分也。年高虛人，大腸燥秘，不可過泄者，脈浮在氣，杏仁、陳皮；脈沉在血，桃仁、陳皮。所以俱用陳皮者，以其手陽明病與手太陰俱為表裡也。賁門上主往來，魄門下主收閉，故王氏言肺與大腸為通道也。</p>
<p>丹溪云：杏仁屬土而有水與火。能墜痰下行。須細研之。其性熱，因寒者可用。</p>
<p><u>桃核仁</u></p>
<p>成無己云：甘以緩之，少腹急結，緩以桃仁之甘。</p>
<p>潔古云：治大便血結、血秘、血燥，通潤大腸。七宣丸中用之，專治血結，破血。以湯退去皮尖，研如泥用。又云：破滯血須用桃仁、蘇木。</p>
<p>東垣云：桃仁味苦、甘，性平，苦重於甘，陰中陽也。苦以去滯血，甘以生新血，故破凝血者須用之。又能去血中之熱。又云：桃仁性微寒，味苦，氣薄味厚，沉而降，陰也。其用有四：治熱入血室一也，去腹中滯血二也，皮膚血熱燥癢三也，皮膚凝聚之血四也。</p>
<p>海藏云：桃仁破血，手足厥陰經藥也。《衍義》云：老人虛秘，與柏子仁、大麻仁、松子仁等分同研，熔臘和丸如梧子大，黃丹湯下。張仲景治中焦畜血用之。</p>
<p><u>大棗</u></p>
<p>成聊攝云：甘者脾之味也，大棗之甘，益土而勝水。又云：大棗、人參之甘以緩脾。又云：邪在半表，則榮衛爭之，辛甘解之，薑棗以和榮衛。</p>
<p>潔古云：純陽溫胃。</p>
<p>東垣云：大棗味甘，溫，氣厚，陽也。甘以補脾經不足，溫以緩陰血。又云：和陰陽，調榮衛，生津液。</p>
<p>海藏云：中滿者勿食甘，令人中滿。故大建中湯心下痞者減飴、棗，與甘草同例。</p>
<p><u>木瓜</u></p>
<p>海藏云：益氣停濕，和胃滋脾。《衍義》云：木瓜得木之正，故入筋。以鉛霜塗之，則失醋味，受金之制故也。此物入肝，故益筋與血。病腰腎腳膝無力，不可缺也。東垣云：氣脫則能收，氣滯則能和。入手足太陰經。雷公云調榮衛，助穀氣是也。</p>
<p><u>烏梅</u></p>
<p>成聊攝云：肺主氣。肺欲收，急食酸以收之，烏梅之酸以收陽。</p>
<p>東垣云：烏梅味酸，溫，收肺氣，陽也。</p>
<p>海藏云：《鬼遺方》治一切瘡肉突出，以烏梅燒灰杵末，傅上惡肉，立盡，極效。仲景有治吐蛔下利，烏梅丸主之。</p>
<p><u>蒲萄</u></p>
<p>丹溪云：屬土而有水與木、火。東南食之多病熱，西北食之無恙。蓋性能下走滲，西北氣厚，人之稟亦厚也。</p>
<p><u>櫻桃</u></p>
<p>丹溪云：屬火而有土性。大熱而發渴。《衍義》發明其熱，能致其小兒之病，將不能病壯者與老者歟！舊有熱病，及嗽者喘者得之，病無甚，有致死者。</p>
<p><u>芡實</u></p>
<p>丹溪云：芡屬土而有水。經云補中。《日華子》云言補胃。《衍義》乃言不益脾胃，恐是當時有食之過量而為病者，遂直書之，未之思爾。</p>
<p><u>乾柿</u></p>
<p>丹溪云：柿屬金而有土，陰也。有收斂之義。止血止嗽，亦可為助。</p>
<p><u>荔枝子</u></p>
<p>丹溪云：荔枝子屬土而有金與木。多食發熱。《衍義》謂發虛熱，蓋小試爾。其核屬金，性燥熱。又云：荔枝肉屬陽，主散無形質之滯氣，故消瘤贅，赤腫者用之。知之苟不明則錯，用之而不應。</p>
<p><u>安石榴</u></p>
<p>丹溪云：石榴味酸。病人須戒之。以其性澀滯，而汁戀膈成痰，蓋榴者留也。</p>
<p><u>梨</u></p>
<p>丹溪云：梨，渴者宜之。梨者利也，流利下行之謂也。《食療》謂產婦、金瘡人忌之，蓋血虛也，戒之。</p>
<p><u>橄欖</u></p>
<p>丹溪云：味澀而生甘。醉飽後宜之。然其性熱，食能致上壅。解魚毒。</p>
<p><u>胡桃</u></p>
<p>丹溪云：胡桃屬土而有火。性熱。本草言甘平，是無熱也。能脫人眉，動風也，非熱大腸、肺也。</p>
<p><u>乳糖</u></p>
<p>丹溪云：石蜜甘，喜入脾。其多之害，必生於脾。而西北人得之有益；東南人得之，未有不病者，亦氣之厚薄不同耳。雖然，東南地下多濕，宜乎其得之為害也：西北地高多燥，宜乎其得之為益也。又云：糖多食能生胃中之火，此損齒之因也。非土製水，乃濕土，非火熱也。食棗多者齒病齲，亦此意也。</p>

<h2>米穀部</h2>
<p><u>大麻子</u></p>
<p>成聊攝云：《內經》曰：脾欲緩，急食甘以緩之。麻子、杏仁之甘，緩脾而潤燥。</p>
<p>海藏云：入足太陰經、手陽明經。汗多、胃熱、便難三者，皆因燥熱而亡津液，故曰脾約。約者，約束之義。經云：燥者潤之。故仲景以麻子仁潤足太陰之燥及通腸也。</p>
<p><u>白麻油</u></p>
<p>丹溪云：香油須是炒熟麻，乃可取之。人食之美，且不致疾。若又煎煉食之，與火無異，戒之。</p>
<p><u>飴糖</u></p>
<p>成聊攝云：《內經》曰：脾欲緩，急食甘以緩之。膠飴、大棗之甘，以緩中也。</p>
<p>海藏云：此即濕餳糖也。以其色紫，如深琥珀色，故謂之膠飴。色白而枯者，即干餳糖也，不入藥。中滿者不宜用。嘔家切忌之。為太陰藥。仲景謂嘔家不可用建中湯，以甘故也。</p>
<p>丹溪云：飴屬土，成之於火。大發濕中之熱。《衍義》云其動脾風，是言其末而遺其本也。</p>
<p><u>酒</u></p>
<p>海藏云：古人惟以麥造麴，釀黍已為辛熱有毒，嚴戒如此。況今之醞者，加以烏頭、巴豆、薑、桂之類大毒大熱之藥，以增其氣味，益加辛熱之餘烈，豈不傷沖和，損精神，涸榮衛，竭天癸，夭人壽耶。又云：能行諸經而不止，與附子相同。味辛者能散，味苦者能下，味甘者居下而緩也。為導引，可以通行一身之表，至極高之分。若味淡者，則利小便而速下也。</p>
<p>丹溪云，本草止言其熱而有毒，不言其濕熱。濕中發熱，近於相火，大醉後振寒戰慄者可見矣。又云：酒性喜升，氣必隨之。痰鬱於上，溺澀於下，肺受賊邪，金體大燥，恣飲寒涼，其熱內郁，肺氣得熱，必大傷耗。其始也病淺，或嘔吐，或自汗，或瘡疥，或鼻皶，或自泄，或心脾痛，尚可散而出也。其久也病深，或為消渴，為內疽，為肺痿，為內痔，為膨脹，為失明，為哮喘，為勞嗽，為癲癇，為難名之病。倘非具眼，未易處治，可不謹乎。</p>
<p><u>粟米</u></p>
<p>丹溪云：粟屬水與土。陳者硬而難化，惟得漿水則易化。</p>
<p><u>粳米</u></p>
<p>成聊攝云：粳米之甘，以補正氣。</p>
<p>海藏云：粳米與熟雞頭相合作粥，食之可以益精強志，聰耳明目。本草諸家共言益脾胃，如何白虎湯用之入肺？以胃為陽明之經，色為西方之由，故入肺也。然治陽明之經，即有胃也。色白，味甘，寒，入手太陰也。又云：少陰證桃花湯用此，甘以補正氣；竹葉石膏湯用此，甘以益不足。</p>
<p><u>小麥</u></p>
<p>丹溪云：面熱而麩涼。饑年用以代谷。須曬麥令燥，以少水潤之，春去赤皮，煮以為飯，食之則無面熱之後患。</p>
<p><u>神麯</u></p>
<p>潔古云。味甘，純陽，暖。益胃氣，消食。治食不化，須用於脾胃藥中，少加之。</p>
<p>海藏云：能治小兒腹堅大如盤，胸中滿，妊娠卒胎動不安，或腰痛，胎動搶心下，血不止。火炒以助天五之氣。入足陽明經。</p>
<p>丹溪云：神麯性溫，入胃。麩皮曲性涼，入大腸。俱消食積。紅曲活血消食。</p>
<p><u>大麥</u></p>
<p>丹溪云：大麥初熟，人多炒而食之。此等有火，能生熱病，人不知也。</p>
<p><u>大麥蘖</u></p>
<p>潔古云：氣溫味鹹。補脾胃虛，寬腸胃。炒黃色，搗細，取面用之。</p>
<p>海藏云：治產後腹中膨脹不通。此藥氣虛人宜服，以代戊己，腐熱水穀。與豆蔻、縮砂、芍藥、木瓜、五味子、烏梅為之使。</p>
<p>丹溪云，麥蘖行上焦之滯血，腹中鳴者用之。</p>
<p><u>豉</u></p>
<p>成聊攝云：香豉味苦，寒。助梔子以吐虛煩。</p>
<p>潔古云：苦，陰。去心中懊憹。生用之。</p>
<p>東垣云：豉苦，寒，純陰。</p>
<p><u>醋</u></p>
<p>成聊攝云，苦酒之酸，以斂咽瘡。</p>
<p>丹溪云：醋酸漿甘，以之調和諸藥，儘可適口。若和魚肉，其致疾以漸，人所不知，酸收也，甘滯也。人能遠之，亦卻疾之一端也。</p>

<h2>菜部</h2>
<p><u>瓜蒂</u></p>
<p>海藏云：納鼻中，出黃水，除偏頭痛有神。頭因有濕者，宜此瓜蒂。苦以治胸中寒。與白虎同例，俱見知母條下。與麝香同為使。治久不聞香臭，仲景鈐方瓜蒂十四枚，丁香一枚，黍米四十九粒，右為末，含水搐一字取下。</p>
<p>丹溪云：瓜蒂俗呼為苦丁香。性急，損胃氣。吐藥不為不多。胃弱者勿用。設有當吐之證，以它藥代之可也。病後產後，尤宜深戒之。仲景有云：諸亡血虛家，不可與瓜蒂。</p>
<p><u>冬瓜</u></p>
<p>丹溪云：冬瓜性急而走，久病與陰虛者忌之。《衍義》以其分散癰疽毒氣，有從於走而性急也。</p>
<p><u>莧</u></p>
<p>丹溪云：本草分六種，而馬莧在其數。然馬莧自是一種，余莧皆人所種者。下溫而又入血分，且善走。紅莧與馬齒莧同，服下胎，妙。臨產時煮食之，易產。</p>
<p><u>萊菔</u>（並子）</p>
<p>丹溪：萊服根屬土，而有金與木。本草言煮食之，大下氣。往往見煮食之多者，停膈間，成溢飲病，以其甘多而辛少也。其子有推牆倒壁之功。</p>
<p><u>蔥莖白</u></p>
<p>成聊攝云：腎苦燥，急食辛以潤之。蔥白之辛，以通陽氣。</p>
<p>海藏云：味辛，溫，以通上下之陽氣也。《活人》書云：傷寒頭痛如破，連須蔥白湯主之。入手太陰經、足陽明經。</p>
<p><u>韭</u></p>
<p>丹溪云：韭屬金，而有水與土。其性急。研取真汁冷飲，細細呷之，以下膈中瘀血，甚效。</p>
<p><u>薤</u></p>
<p>海藏云：瀉痢下重者，下焦氣滯也。四逆湯加薤白，以瀉氣滯。入手陽明經。</p>
<p><u>香薷</u></p>
<p>丹溪云：大葉香薷，治傷暑，利小便。濃煎汁成膏為丸，服之以治水脹，效也。</p>
<p><u>荊芥</u></p>
<p>潔古云：氣溫味辛。氣味俱薄，浮而升。陽也。辟邪毒，利血脈。宣通五臟不足氣，能發汗除勞。冷搗和醋，封腫毒。東垣云：主清利頭目。</p>
<p><u>薄荷</u></p>
<p>潔古云：薄荷能發汗，通關節，解勞乏。與薤相宜。新病瘥人不可多服，令人虛汗不止。《主治秘訣》云：性涼味辛。氣味俱薄，浮而升，陽也。去高巔及皮膚風熱。</p>
<p>海藏云：上行之藥，能引諸藥入榮衛，手太陰兼手厥陰藥也。</p>
<p>東垣云：主清利頭目。荊芥亦然。</p>
<p><u>大蒜</u></p>
<p>丹溪云：大蒜屬火，性熱，喜散。善化肉，故食肉者喜用之。多在暑月。其傷氣之禍，積久自見，化肉之功不足言也。有志於養生者，宜自思之。</p>
<p><u>茄子</u></p>
<p>丹溪云：茄屬土，故甘而喜降火，腑易動者忌之。實之裂者，燒灰以治乳裂。蒂、本燒灰，以治口瘡。皆甘緩火之意。</p>

<h1>卷四</h1>

<h2>經曰</h2>
<figure>
<img data-orig-src="urn:270:07609.jpg" alt="氣味厚薄寒熱陰陽升降圖">
</figure>
<p>味為陰，味厚為純陰，味薄為陰中之陽。</p>
<p>氣為陽，氣厚為純陽，氣薄為陽中之陰。</p>
<p>味厚則泄，味薄則通。氣厚則發熱，氣薄則發泄。</p>
<p>辛甘發散為陽，酸苦湧泄為陰。淡味滲泄為陽，鹹味湧泄為陰。</p>

<h2>升降者天地之氣交</h2>
<p>茯苓淡，為在天之陽也。陽當上行，何謂利水而泄下？經云：氣之薄者，乃陽中之陰。所以茯苓利水而泄下。然而泄下亦不離乎陽之體，故入手太陽也。</p>
<p>麻黃苦，為在地之陰也。陰當下行，何謂發汗而升上？經云：味之薄者，乃陰中之陽。所以麻黃髮汗而升上。然而升上亦不離乎陰之體，故入手大陰也。</p>
<p>附子，氣之厚者，乃陽中之陽，故經云發熱。</p>
<p>大黃，味之厚者，乃陰中之陰，故經云泄下。</p>
<p>粥淡，為陽中之陰，所以利小便。</p>
<p>茶苦，為陰中之陽，所以清頭目。</p>
<p>清陽發腠理，清之清者也。清陽實四肢，清之濁者也。</p>
<p>濁陰歸六腑，濁之濁者也。濁陰走五臟，濁之清者也。</p>

<h2>藥性要旨</h2>
<p>苦藥平升。微寒平亦升。甘辛藥平降。甘寒瀉火。苦寒瀉濕熱。苦甘寒瀉血熱。</p>

<h2>用藥升降浮沉補瀉法</h2>
<p>肝膽：味辛補酸瀉，氣溫補涼瀉。</p>
<p>注云：肝膽之經，前後寒熱不同，逆順互換，入求責法。</p>
<p>心小腸：味鹹補甘瀉，氣熱補寒瀉。</p>
<p>三焦命門：補瀉同。</p>
<p>脾胃：味甘補苦瀉，氣溫熱補寒涼瀉。</p>
<p>注云：溫涼寒熱，各從其逆順，互換入求責法。</p>
<p>肺大腸：味酸補辛瀉，氣涼補溫瀉。</p>
<p>腎膀胱：味苦補咸瀉，氣寒補熱瀉。</p>
<p>五臟更相平也，一臟不平，所勝平之，此之謂也。故云：安穀則昌，絕谷則亡。水去則榮散，谷消則衛亡。榮散衛亡，神無所居。又仲景云：水入於經，其血乃成。谷入於胃，脈道乃行。故血不可不養，衛不可不溫。血溫衛和，榮衛將行，常有天命。</p>

<h2>藏氣法時補瀉法</h2>
<p>肝苦急，急食甘以緩之，甘草。心苦緩，急食酸以收之，五味子。脾苦濕，急食苦以燥之，白朮。肺苦氣上逆，急食苦以瀉之，黃芩。</p>
<p>腎苦燥，急食辛以潤之，知母、黃檗。注云：開腠理，致津液，通氣也。</p>
<p>肝欲散，急食辛以散之，川芎；以辛補之，細辛；以酸瀉之，白芍藥。</p>
<p>心欲軟，急食鹹以軟之，芒硝；以咸補之，澤瀉；以甘瀉之，黃耆、甘草、人參。</p>
<p>脾欲緩，急食甘以緩之，甘草；以甘補之，人參；以苦瀉之，黃連。</p>
<p>肺欲收，急食酸以收之，白芍藥；以酸補之，五味子；以辛瀉之，桑白皮。</p>
<p>腎欲堅，急食苦以堅之，知母；以苦補之，黃檗；以咸瀉之，澤瀉。</p>
<p>注云：此五者，有酸、辛、甘、苦、咸，各有所利，或散，或收，或緩，或軟，或堅。四時五臟病，隨五味所宜也。</p>

<h2>治法綱要</h2>
<p>氣交變論云：五運太過不及。夫五運之政，猶權衡也，高者抑之，下者舉之，化者應之，變者復之。此生長化收藏之理，氣之常也。失常則天地四塞矣。</p>
<p>注云：失常之理，則天地四時之氣無所運行。故動必有靜，勝必有復，乃天地陰陽之道也。以熱治熱法。經云病氣熱甚，而與寒藥交爭，而寒藥難下，故反熱服，順其病勢。熱體既去，寒性乃發，病勢除愈，則如承氣湯，寒藥反熱服之者是也。寒病亦同法也。凡治病者，必求其所在。病在上者治上，病在下者治下，故中外臟腑經絡皆然。病氣熱則除其熱，病氣寒則除其寒，六氣同法。瀉實補虛，除邪養正，平則守常，醫之道也。</p>
<p>太法曰：前人方法，即當時對證之藥也。後人用之，當體指下脈氣，從而加減，否則不效。予非鄙乎前人而自用也。蓋五行相制相兼，生化制承之體，一時之間，變亂無常。驗脈處方，亦前人之法也，而復有通乎理，當以予言為然。</p>

<h2>用藥用方辯</h2>
<p>如仲景治表虛，制桂枝湯方，桂枝味辛熱，發散助陽，體輕，本乎天者親上，故桂枝為君，芍藥、甘草佐之。如陽脈澀，陰脈弦，法當腹中急痛，乃制小建中湯方，芍藥為君，官桂、甘草佐之。一則治其表虛，一財治其裡虛，是各言其主用也。後人之用古方者，觸類而長之，則知其本而不致差誤矣。</p>

<h2>去臟腑之火</h2>
<p>黃連瀉心火。梔子、黃芩瀉肺火。白芍藥瀉肝火。知母瀉腎經火。木通瀉小腸火。黃苓瀉大腸火。石膏瀉胃經火。柴胡瀉三焦火，黃芩佐之。柴胡瀉肝經火，黃連佐之。膽經亦同。黃檗瀉膀胱火。又曰：龍火，膀胱乃水府之火，故曰龍火也。</p>
<p>以上諸藥，瀉各經之火。不惟止能如此，更有治病，合為君臣處，詳其宜而用之，不可執而言也。</p>

<h2>各經引用</h2>
<p>太陽經羌活。在下者黃檗，小腸、膀胱也。</p>
<p>少陽經柴胡。在下者青皮，膽、三焦也。</p>
<p>陽明經升麻、白芒。在下者石膏，胃、大腸也。</p>
<p>太陰經，足脾白芍藥，手肺桔梗也。</p>
<p>少陰經，足腎知母，手心黃連、獨活也。</p>
<p>厥陰經青皮。在上者柴胡，肝、心包絡也。同少陽。</p>
<p>已上十二經之的藥也。</p>

<h2>五味所用</h2>
<p>苦以瀉之。甘以發之，及緩之，詳其所宜用之。酸以收之。辛以散之。咸以軟之。淡以滲泄之。</p>

<h2>用藥各定分兩</h2>
<p>為君者最多，為臣者次之，為佐使者又次之。藥之於證，所主停者，則各等分也。</p>

<h2>藥性生熟用法</h2>
<p>黃連、黃芩、知母、黃檗，治病在頭面，及手梢皮膚者，須酒炒之，藉酒力上升也。治在咽之下，臍之上者，須酒浸之。治在下者生用，凡熟升生降也。大黃鬚煨，恐寒傷胃氣。至於烏頭，附子，須炮去其毒也。用上焦藥，須酒浸、曝乾。黃檗、知母，治下部之藥也。久弱之人，須合之者，酒浸，曝，恐寒傷胃氣也。熟地黃酒浸，亦然。當歸酒浸，助發散之用也。</p>

<h2>藥用根梢法</h2>
<p>凡根之在上者中半已上，氣脈上行，以生苗者為根。中半以下，氣脈下行，以入土者為梢。當知病在中焦用身，上焦用根，下焦用梢。經云：根升梢降。</p>

<h2>《醫學啟源》天地六位臟象之圖</h2>
<figure>
<img data-orig-src="urn:270:07610.jpg" alt="天地六位臟象之圖">
</figure>

<h2>手足三陰三陽</h2>
<p>注云：肝、心、脾、肺、腎，皆屬陰，五臟也。膽、胃、三焦、膀胱、大腸、小腸，皆屬陽，六腑也。分而言之，手足皆有三陰三陽是也。</p>
<p><u>手三陰三陽</u></p>
<p>三焦寅相火，手少陽；大腸卯燥金，手陽明；小腸辰寒水，手太陽；包絡巳風木，手厥陰；心午君火，手少陰；肺未濕土，手太陰。</p>
<p><u>足三陰三陽</u></p>
<p>膽申相火，足少陽；胃酉燥金，足陽明；膀胱戌寒水，足太陽；肝亥風木，足厥陰；腎子君火，足少陰；脾醜濕土，足大陰。</p>
<p><u>歌曰</u></p>
<p>手經太陽屬小腸，膀胱經屬足太陽，肝足厥陰手包絡，胃足陽明手大腸，膽屬少陽足經尋，三焦手內少陽臨，腎足少陰手是心，脾足太陰手肺金。</p>
<p>五臟六腑，除心包絡十一經脈證法。天人有五臟六腑，虛實寒熱，生死逆順，皆見形證脈氣，若非診察，無由識也。虛則補之，實則瀉之，寒則溫之，熱則涼之，不虛不實，以經調之。此乃良醫之大法也。</p>

<h2>隨證治病藥品</h2>
<p>頭痛須川芎。如不愈，加引經藥：太陽川芎，陽明白芷，少陽柴胡，太陰蒼朮，少陰細辛，厥陰吳茱萸。頂巔痛，用藁本，去川芎。肢節痛，用羌活，風濕亦用之，少腹痛，用青皮。心下痞，必用枳實、黃連。腹痛用芍藥。惡寒而痛，加桂。惡熱而痛，加黃檗。腹中窄狹，用蒼朮。肌熱及去痰，用黃芩，亦用黃耆。腹脹，用薑製厚朴，腹中實熱，用大黃、芒硝。虛熱，用黃耆，亦止虛汗。脅下痛，往來寒熱，日晡潮熱，用柴胡。脾胃受濕，沉困無力，怠惰嗜臥，及去痰，用白朮。胃脘痛，用草豆蔻。氣刺痛，用枳殼。看經分以導引之。破滯氣，用枳殼。高者用之，然能損胸中至高之氣，三二服則已。破滯血，用桃仁、蘇木。補血不足，用甘草。和血用當歸，凡血受病皆用。血刺痛，用當歸。詳上下，用根梢。去痰用半夏，熱痰用黃芩，風痰加南星。胸中寒痰痞塞，用陳皮、白朮，然多用則瀉脾胃。調氣用木香。補氣用人參。去下焦濕腫及痛，並膀胱有火邪，必用火洗漢防己、草龍膽、黃柏、知母。去上焦濕及熱，須用黃芩，瀉肺火故也。去中焦濕熱與痛，用黃連，瀉心火故也。去滯氣，用青皮，多則泄元氣。渴者，用乾葛、茯苓，禁半夏。嗽用五味子。喘則用阿膠。宿食不消，用黃連、枳實。煩躁用梔子仁。飲食多以致傷脾，用白朮、茯苓、芍藥。瘡痛不可忍者，用苦寒藥，如黃芩、黃連，詳上下分根梢，及引經藥。眼痛不可忍者，用黃連、當歸根，以酒浸煎。小便黃，用黃檗，澀者加澤瀉。莖中痛，用生甘草梢。驚悸恍惚，用茯神。凡用純寒熱藥，必用甘草，以緩其方也。寒熱相雜，亦用甘草，調和其性也。中滿者禁用。經云：中滿勿食甘。</p>

<h2>五臟補瀉法</h2>
<p>肝虛，以陳皮、生薑之類補之。經曰：虛則補其母。水能生木，腎乃肝之母，腎水也。若補其腎，熟地黃、黃檗是也。如無他證，惟不足，錢氏地黃丸主之。實則白芍藥瀉之。如無他證，錢氏瀉青丸主之。實則瀉其子，心乃肝之子，以甘草瀉心。</p>
<p>心虛，則炒鹽補之。虛則補其母，木能生火，肝乃心之母，肝木也，心火也，以生薑補肝。如無他證，錢氏安神丸是也。實則甘草瀉之。如無他證，以錢氏方中，重則瀉心湯，輕則導赤散。</p>
<p>脾虛，則甘草、大棗之類補之。實則以枳實瀉之。如無他證，虛則以錢氏益黃散，實則瀉黃散。心乃脾之母，以鹽炒補心。肺乃脾之子，以桑白皮瀉肺。</p>
<p>肺虛，則五味子補之。實則桑白皮瀉之。如無他證，實則用錢氏瀉白散，虛則用阿膠散。虛則以甘草補脾土，補其母也。實則以澤瀉瀉腎水，瀉其子也。</p>
<p>腎虛，則熟地黃、黃檗補之。瀉以澤瀉之咸。腎本無實，本不可瀉。錢氏有補腎地黃丸，無瀉腎之藥。肺乃腎之母，金生水故也，以五味子補肺而已。</p>
<p>已上五臟，《內經·藏氣法時論》中備言之。欲究其詳，請看本論。</p>

<h2>臟腑相生相剋</h2>
<p>肺為金，肝為木，腎為水，心為火，脾為土。生我者為父母，我生者為子孫。克我者為鬼賊，我克者為妻財。木生火，火生土，土生金，金生水，水生木。木剋土，土剋水，水剋火，火剋金，金剋木。假令木生火，木乃火之父母，火乃木之子孫。木剋土，木乃土之夫，土乃木之妻。余皆仿此。</p>

<h2>七神</h2>
<p>心藏神，肺藏魄，肝藏魂，脾藏意與智，腎藏精與志。</p>

<h2>制方之法</h2>
<p>夫藥有寒熱溫涼之性，有酸苦辛鹹甘淡之味，各有所能，不可不通也。夫藥之氣味不必同。同氣之物，其味俱咸，其氣皆寒之類是也。凡同氣之物，必有諸味。同味之物，必有諸氣。互相氣味，各有厚薄，性用不等，制方者必且明其用矣。經曰：味為陰，味厚為純陰，味薄為陰中之陽。氣為陽，氣厚為純陽，氣薄為陽中之陰。然味厚則泄，味薄則通。氣厚則發熱，氣薄則發泄。又曰：辛甘發散為陽，酸苦湧泄為陰。鹹味湧泄為陰，淡味滲泄為陽。凡此之味，各有所能。然辛能散結潤燥，苦能燥濕堅軟，咸能軟堅，酸能收緩收散，甘能緩急，淡能利竅。故經曰：肝苦急，急食甘以緩之。心苦緩，急食酸以收之。脾苦濕，急食苦以燥之。肺苦氣上逆，急食苦以泄之。腎苦燥，急食辛以潤之，開腠理，致津液通氣也。肝欲散，急食辛以散之，以辛補之，以酸泄之。心欲軟，急食鹹以軟之，以咸補之，以甘瀉之。脾欲緩，急食甘以緩之，以甘補之，以苦泄之。肺欲收，急食酸以收之，以酸補之，以辛瀉之。腎欲堅，急食苦以堅之，以苦補之，以咸瀉之。凡此者，是明其氣味之用也。若用其味，必明其味之可否。若用其氣，必明其氣之所宜。識其病之標本臟腑，寒熱虛實，微甚緩急，而用其藥之氣味，隨其證而制其方也。是故方有君臣佐使，輕重緩急，大小反正逆從之制也。主治病者為君，使君者為臣，應臣者為使。此隨病之所宜，而又贊成方而用之。君一臣二，奇之制也。君二臣四，耦之制也。君二臣三，奇之制也。君四臣六，耦之制也。去咽嗌之病者，近者奇之。治腎肝之病者，遠者耦之。汗者不可以奇，下者不可以耦。補上治上制以緩，緩則氣味補。薄下治下制以急，急則味氣厚。薄者則頻而少服，厚者則頓而多服。又當明五氣之郁：木鬱則達之，謂吐令條達也；火鬱則發之，謂汗令疏散也；土鬱則奪之，謂下令無壅滯也；金鬱則泄之，謂解表利小便也；水鬱則折之，謂制其沖逆也。凡此五者，治病之大要也。</p>

<h2>㕮咀之藥</h2>
<p>古之用藥治病，擇淨口嚼，水煮服之，謂之㕮咀。後人乃以鍘細銼桶內，銼過，以竹篩齊之也。</p>

<h2>五行制方生克法（附湯例）</h2>
<p>風製法：肝、春、木、酸，生之道也，失常則病矣。風淫於內，治以辛涼，佐以苦辛，以甘緩之，以辛散之。</p>
<p>暑製法：心、夏、火、苦，長之道也，失常則病矣。熱淫於內，治以鹹寒，佐以甘苦，以酸收之，以苦發之。</p>
<p>濕製法：脾、土、甘，中方化成之道也，失常則病矣。濕淫於內，治以苦熱，佐以咸熱，以苦燥之，以淡泄之。</p>
<p>燥製法：肺、秋、金、辛，收之道也，失常則病矣。燥淫於內，治以苦溫，佐以甘辛，以辛潤之，以苦下之。</p>
<p>寒製法：腎、冬、水、咸，藏之道也，失常則病矣。寒淫於內，治以甘熱，佐以苦辛，以辛散之，以苦堅之。</p>
<p>注云：酸苦甘辛鹹，即肝木、心火、脾土、肺金、腎水之本也。四時之變，五行化生，各順其道，違則病生。聖人設法以制其變。謂如風淫於內，即是肝木失常，火隨而熾。治以辛涼，是以辛金克其木，涼水沃其火。其下治法，例皆如此。下項二方，非為治病而設。此乃教人比證立方之道，容易通曉也。</p>
<p><u>當歸拈痛湯</u>　治濕熱為病，肢節煩痛，肩背沉重，胸膈不利，遍身痛，下注於脛腫，痛不可忍。經云：濕淫於內，治以苦濕。羌活苦辛，透關節勝濕；防風甘辛溫，散經絡中留濕，故以為主。水性潤下，升麻、葛根苦辛平，味之薄者，陰中之陽，引而上行，以苦發之也。白朮苦甘溫和除濕，蒼朮體質輕浮，氣力雄壯，能去皮膚腠理之濕，故以為臣。血壅而不流則痛，當歸身辛溫以散之，使氣血各有所歸。人參、甘草甘溫補脾，養正氣，使苦藥不能傷胃。仲景云：濕熱相合，肢節煩痛，苦參、黃芩、知母、茵陳。苦參者，乃苦以泄之也。凡酒製藥，以為因用。治濕不利小便，非其治也。豬苓甘溫平，澤瀉鹹平，淡以滲之，又能導其留飲，故以為佐。氣味相合，上下分消其濕，得以宣通也。</p>
<p>羌活（半兩）　防風（三錢。二味為君）　升麻（二錢）　葛根（二錢）　白朮（半錢）　蒼朮（三錢。四味為臣）　當歸身（三錢）　人參（二錢）　甘草（五錢）　苦參（酒浸，二錢）　黃芩（二錢，炒）　知母（酒洗，三錢）　茵陳（酒炒，五錢）　豬苓（三錢）　澤瀉（三錢）</p>
<p>上伴銼如麻豆大，每服一兩重，水二盞半，先以水拌濕，候少時煎至一盞，去滓溫服。待少時美膳壓之。</p>
<p><u>天麻半夏湯</u>　治風痰內作，胸膈不利，頭旋目黑，兀兀欲吐，上熱下寒，不得安臥，遂處此方云。眼黑頭旋，虛風內外作，非天麻不能除，故以為君。偏頭痛，乃少陽也，非柴胡不能治。黃芩苦寒，酒製炒銼柴胡，治上熱，又為引用，故以為臣。橘皮苦辛溫，炙甘草甘溫，補中益氣為佐。生薑、半夏辛溫，以治風痰；白茯苓甘平，利小便，導濕熱，引而下行，故以為使。不數服而愈。</p>
<p>天麻（一錢，為君）　黃芩（酒製，五分，為臣）　橘皮（去白，七分）　柴胡（七分）　甘草（五分，為佐）　白茯苓（五分，為使）　半夏（一錢）</p>
<p>上銼如麻豆大，都作一服，水一錢，生薑三片，煎至一錢，去滓溫服。</p>

<h2>五味之用</h2>
<p>苦直行而泄，辛橫行而散，酸束而收斂，咸止而軟堅，甘上行而發。</p>

<h2>五入</h2>
<p>辛入肺，苦入心，甘入脾，酸入肝，鹹入腎。</p>

<h2>五走</h2>
<p>辛走氣，氣病無多食辛。苦走骨，骨病無多食苦。酸走筋，筋病無多食酸。咸走血，血病無多食鹹。甘走肉，肉病無多食甘。</p>

<h2>五宜</h2>
<p>肝色青，宜食甘，粳米、牛肉、棗、葵皆甘。</p>
<p>心色赤，宜食酸，小豆、犬肉、李、韭皆酸。</p>
<p>脾色黃，宜食鹹，大豆、豕肉、慄、藿皆咸。</p>
<p>肺色白，宜食苦，小麥、羊肉、杏、薤皆苦。</p>
<p>腎色黑，宜食辛，黃黍、雞肉、桃、蔥皆辛。</p>
<p>毒藥攻邪，五穀為養，五果為助，五畜為益，五菜為充。氣味合而服之，以補精益氣。此五者，有辛甘酸苦鹹，各有所利，或散或收，或緩或急，或堅或軟，四時五臟病，各隨五病所宜也。</p>
<p>大毒治病，十去其六。常毒治病，十去其七。小毒治病，十去其八。無毒治病，十去其九。穀肉果菜，食養盡之，無使過之，傷其正也。陰之所生，本在五味。陰之五宮，傷在五味。是故味過於酸，肝氣以津，脾氣乃絕。味過於咸，大骨氣勞，短肌，心氣抑。味過於甘，心氣喘滿，色黑，腎氣不衡。味過於苦，脾氣不濡，胃氣乃厚。味過於辛，筋脈沮弛，精神乃殃。是故謹和五味，骨正筋柔。氣血以流，腠理以密，如是則骨氣以精。謹道以法，長有天命。</p>

<h2>五多五傷</h2>
<p>多食鹹，則脈凝泣而變色。多食苦，則皮槁而毛拔。多食辛，則筋急而爪枯。多食酸，則肉胝䐢而唇揭。多食甘，則骨痛而發落。此五味所傷也。</p>

<h2>六化</h2>
<p>厥陰司天為風，化在泉為酸，化木，司地氣，故物化從酸。</p>
<p>少陰司天為熱，化在泉為苦，化火，司地氣，故物化從苦。</p>
<p>太陰司天為濕，化在泉為甘，化土，司地氣，故物化從甘。</p>
<p>少陽司天為炎，化在泉為苦，化火，司地氣，故物化從苦。</p>
<p>陽明司天為燥，化在泉為辛，化金，司地氣，故物化從辛。</p>
<p>太陽司天為寒，化在泉為咸，化水，司地氣，故物化從咸。</p>
<p>故治病者，必明六化，分治五味，五色所主，五臟所宜，乃可以言盈虛病生之緒也。謹候氣宜，無失病機。其主病何如，言採藥之歲也。司歲備物，則無遺主矣。先歲氣何曰？天地專精之氣，藥物精濃。又於使用當其正氣也。五運主歲，不足則物薄，有餘則物精。非專精即散氣，散氣則物不純也，是以質同而異等。形質雖同，力用則異也，氣味有厚薄，性用有躁靜，治保有多少，力化有淺深，此之謂也。</p>

<h2>東垣標本陰陽論</h2>
<p>天陽無圓，氣上外升，生浮晝動，輕躁六腑。</p>
<p>地陰有方，血下內降，殺沉夜靜，重濕五臟。</p>
<p>夫治病當知標本。以身論之，則外為標，內為本；陽為標，陰為本。故六腑屬陽為標，五臟屬陰為本，此五臟六腑之標本也。又臟腑在內為本，各臟腑之經絡在外為標，此臟腑經絡之標本也。更人身之臟腑、陰陽、氣血、經絡，各各有標本也。以病論之，先受病為本，後傳流病為標。凡治病者，必先治其本，後治其標。若先治其標，後治其本，邪氣滋甚，其病益畜。若先治其本，後治其標，雖病有十數證，皆去矣。謂如先生輕病，而後滋生重病，亦先治輕病，後治重病。如是則邪氣乃伏，蓋先治其本故也。若有中滿，無問標本，先治中滿，謂其急也。若中滿復有大小便不利，亦無問標本，先治大小便，次治中滿，謂尤急也。除大、小便不利，及中滿三者之外，皆先治其本，不可不慎也。從來前者為實邪，從後來者為虛邪。此子能令母實，母能令子虛也。治法云：虛則補其母，實則瀉其子。假令肝受心火之邪，是從前來者為實邪，當瀉其子火也。然非直瀉其火。十二經絡中，各有金木水火土，當木之分，瀉其火也。故標本論云：本而標之，先治其本，後治其標。既肝受火邪，先於肝經五穴中，瀉滎火行間穴是也。後治其標者，於心經五穴內，瀉滎火少府穴是也。以藥論，入肝經藥為引，用瀉心火藥為君，是治實邪之病也。假令肝受腎邪，是從後來者，為虛，虛則當補其母。故標本論云：標而本之，先治其標，後治其本。既肝受水邪，當先於腎經湧穴中補木，是先治其標；後於肝經曲泉穴中瀉水，是後治其本。此先治標者。推其至理，亦是先治其本也。以藥論之，入腎經藥為引用，補肝經藥為君是也。</p>

<h2>用藥法象</h2>
<p>天有陰陽，風寒暑濕燥火，三陰三陽上奉之。</p>
<p>此溫涼寒熱四氣是也。溫熱者，天之陽也。寒涼者，地之陰也。此乃天之陰陽也。</p>
<p>地有陰陽，金水木火士，生長化收藏下應之。</p>
<p>此辛甘淡酸苦鹹六味是也，皆象於地。辛甘淡者，地之陽也。酸苦鹹者，地之陰也。此乃地之陰陽也。</p>
<p>味薄者，為陰中之陽。味薄則通，酸苦鹹平是也。</p>
<p>味厚者，為陰中之陰。味厚則泄，酸苦鹹寒是也。</p>
<p>氣薄者，為陽中之陰。氣薄則泄，辛甘淡平寒涼是也。</p>
<p>氣厚者，為陽中之陽。氣厚則熱，辛甘溫熱是也。</p>
<p>陰中有陰，陽中有陽。平旦至日中，天之陽，陽中之陽也。日中至黃昏，天之陽，陽中之陰也。合夜至雞鳴，天之陰，陰中之陰也。雞鳴至平旦，天之陰，陰中之陽也。</p>
<p>故人亦應之。言人身之陰陽也，則外為陽，內為陰；背為陽，腹為陰；藏為陰，府為陽。所以欲知陰中之陰，陽中之陽者，何也？蓋如冬病在陰，夏病在陽，春病在陰，秋病在陽，皆視其所在，而施針石藥物也。</p>
<p>背為陽，陽中之陽心也。背為陽，陽中之陰肺也。腹為陰，陰中之陰腎也。腹為陰，陰中之陽肝也。腹為陰，陰中之至陰脾也。</p>
<p>此皆陰陽表裡，內外雌雄相輸應，故以應天之陰陽也。</p>

<h2>形色性味體</h2>
<p>形　金木水火士。真假。輕枯虛薄緩淺，假宜治上。</p>
<p>色　赤赤黃白黑。深淺。重潤實厚急深，真宜治下。</p>
<p>性　寒濕溫涼平。急緩。</p>
<p>味　辛酸鹹苦甘。厚薄。其中平者，宜治中。</p>
<p>體　虛實輕重平。枯潤。宜處方。</p>

<h2>諸藥相反例</h2>
<p>甘草反大戟、芫花、甘遂、海藻。</p>
<p>烏頭反半夏、瓜蔞、貝母、白蘞、白及。</p>
<p>黎蘆反細辛、芍藥、人參、丹參、苦參、沙參。</p>

<h2>用藥凡例</h2>
<p>凡解利傷風，以防風為君，甘草、白朮為佐。經云：辛甘發散為陽。風以辛散，防風味辛，乃治風通用，故以防風為君，甘草、白朮為佐。</p>
<p>凡解利傷寒，以甘草為君，防風、白朮為佐，是寒以甘發也。或有別證於前，隨證治病。藥內選用其分兩，以君臣論之。</p>
<p>凡眼暴發赤腫，以防風、黃芩為君，以瀉火。以黃連，當歸根和血為佐。兼以各經藥引之。</p>
<p>凡眼久病昏暗，以熱地黃、當歸身為君，以羌活、防風為臣，甘草、甘菊之類為佐。</p>
<p>凡痢疾腹痛，以白芍藥、甘草為君，當歸、白朮為佐。見血先後，以三焦熱論。</p>
<p>凡水瀉，以茯苓、白朮為君，芍藥、甘草為佐。</p>
<p>凡諸風，以防風為君，隨證藥為佐。</p>
<p>凡嗽，以五味子為君，有痰者以半夏為佐，喘者以阿膠為佐。有熱無熱，俱以黃芩為佐，但分兩多寡不同耳。</p>
<p>凡小便不利，以黃柏、知母為君，茯苓、澤瀉為佐。</p>
<p>凡下焦有濕，以草龍膽、防己為君，甘草、黃柏為佐。</p>
<p>凡痔漏，以蒼朮、防風為君，甘草、芍藥為佐，詳別證加減。</p>
<p>凡諸瘡，以黃連、當歸為君，甘草、黃芩為佐。</p>
<p>凡瘧疾，以柴胡為君，隨所發之時，與所屬經分用，引經藥佐之。</p>
<p>已上皆用藥之大要，更詳別證，於前隨證治病藥內，逐旋加減用之。</p>

<h2>制方用藥例</h2>
<p>東方甲風乙木，其氣溫，其味甘，在人以肝膽應之。</p>
<p>南方丙熱丁火，其氣熱，其味辛，在人以小腸、心、三焦、胞絡應之。</p>
<p>中央戊濕，而本氣平，其兼氣溫涼寒熱，在人以胃應之。</p>
<p>中央己土，其本味鹹，其兼味辛甘酸苦，在人以脾應之。</p>
<p>西方庚燥辛金，其氣涼，其味酸，在人以肺、大腸應之。</p>
<p>北方壬寒癸水，其氣寒，其味苦，在人以膀胱、腎應之。</p>
<p>人乃萬物中之一也，獨陽不至，獨陰不長，須稟兩儀之氣而生化也。垂世立教，不能混，必當分析。以至理而言，則陰陽相附不相離，其實一也。呼則因陽出，吸則隨陰入。天以陽生陰長，地以陽殺陰藏。此上說正明補瀉君臣之一也。故曰：主病者為君，用藥之機會要明。輕清成象，重濁成形。本乎天者親上，本乎地者親下，則各從其類也。清中清者，清肺以助天真。清中濁者，榮華腠理，濁中清者，榮養於神。濁中濁者，堅強骨髓。故至真要大論云：五味陰陽之用，辛甘發散為陽，酸苦湧泄為陰。淡味滲泄為陽，鹹味湧泄為陰。六者或收或散，或緩或急，或燥或潤，或軟或堅，各以所利而行之。調其氣，使之平也。帝曰：非調氣而得者，治之奈何？有毒無毒，何先何後，願聞其道。曰：有毒無毒，所治為主，適小大為制也。又云：君一臣二，制之小也。君一臣三佐五，制之中也。君一臣三佐九，制之大也。</p>
<p>寒者熱之，熱者寒之，微者逆之，甚者從之，堅者消之，客者除之，勞者溫之，結者散之，留者行之，燥者潤之，急者緩之，散者收之，損者溫之，逸者行之，驚者平之，上者下之，摩之浴之，薄之劫之，開之發之，適事為故，逆者正治，從者反治。從少從多，觀其事也。各安其氣，必清必靜，則病氣衰去，歸其所宗。此治之大體也。帝曰：反治何謂也？岐伯曰：熱因寒用，寒因熱用，塞因塞用，通因通用。必伏其所主，而先其所因。其始則同，其終則異。可使潰堅，可使破積，可使氣和，可使必已。方制君臣何謂也？曰：主病之為君，佐君之謂臣，應臣之謂使，非上中下三品之謂也。帝曰：三品何謂？岐伯曰：以明善惡之殊貫也。</p>

<h2>用丸散藥例</h2>
<p>仲景云。銼如麻豆大，與㕮咀同意。夫㕮咀，古之制也。古者無鐵刀，以口咬細，令如麻豆，為粗藥煎之。使藥水清飲於腹中，則易升易散也。此所謂㕮咀也。今人以刀器銼如麻豆大，此㕮咀之易成也。若一概為細末，不分清濁矣。經云：清陽發腠理，濁陰走五臟，果何謂也？又曰：清陽實四肢，濁陰歸六腑是也。㕮咀之法，取清汁易行經絡故也。若治至高之病，加酒煎。以去濕，加生薑煎。補元氣，以大棗煎。發散風寒，以蔥白煎。去膈上病，以蜜煎。散者，細末也，不循經絡，止去胃中及臟腑之積。氣味厚者，白湯調服。氣味薄者，煎熟和柤服。服百丸者，去下部之疾者，其丸極大而光且圓。治中焦者次之。治上焦者，極小稠麵糊丸者，取其遲化，直至下焦。或酒或醋丸者，取其收散之意也。犯半夏、南星，欲去濕痰者，以生薑汁煮糊為丸者，又易化也。煉蜜為丸者，取其運化而氣循經絡也。蠟丸者，取其難化而旋旋施功也。大抵湯者蕩也，去久病者用之。散者散也，去急病者用之。丸者緩也，不能速去其病，用藥舒緩而治之也。古今方劑，錙銖分兩與今不同。謂㕮咀者，即今之如麻豆大是也。云一升者，今之大白盞也。云銖者，大銖乃一分，是二錢半也。二十四銖為一兩。云三兩者，今之一兩。云二兩者，今之六錢半也。料例大者，今之三分之一足矣。</p>

<h2>論用藥必本四時</h2>
<p>凡用藥者，若不本四時，以順為逆。四時者，是春升夏浮秋降冬沉，乃天地之升降浮沉。造化者，脾土中造化也，是為四時之宜。但言補之。以辛甘溫熱之劑，及味之薄者，諸風藥是也，此助春夏之升浮者也。此便是瀉，秋收冬藏之藥也。在人之身，乃肝心也。但言之以酸苦寒涼之劑，並淡味滲泄之藥，此助秋冬之降沉者也。在人之身，乃肺腎也。用藥者，因此法度則生，逆之則死。縱令不死，危困必矣。</p>

<h2>五行五色五味五走五臟主禁例</h2>
<p>東方之木，其色青，其味酸，其藏肝，肝主筋。木曰曲直，曲直作酸。酸走肝，筋病人毋多食酸。</p>
<p>南方之火，其色赤，其味苦，其藏心，心主血。火曰炎上，炎上作苦。苦走心，心病人毋多食苦。</p>
<p>西方之金，其色白，其味辛，其藏肺，肺主氣。金曰從革，從革作辛。辛走肺，氣病人毋多食辛。</p>
<p>北方之水，其色黑，其味鹹，其藏腎，腎主骨。水曰潤下，潤下作咸。咸走腎，骨病人毋多食鹹。</p>
<p>中央之土，其色黃，其味甘，其藏脾，脾主肉。土曰稼穡，稼穡作甘。甘走脾，肉病人毋多食甘。</p>

<h2>東垣論君臣佐使</h2>
<p>至真要大論曰：有毒無毒，所治為主。主病者為君，佐君者為臣，應臣者為使。一法力大者為君。凡藥之所用，皆以氣味為主。補瀉在味，隨時換。氣薄者為陽中之陰，氣厚者為陽中之陽。味薄者為陰中之陽，味厚者為陰中之陰。辛甘淡之熱者為陽中之陽，辛甘淡之寒者為陽中之陰。酸苦酸之寒者為陰中之陰，酸苦鹹之熱者為陰中之陽。夫辛甘淡酸苦鹹，乃味之陰陽，又為地之陰陽也。溫涼寒熱，乃氣之陰陽，又為天之陰陽也。氣味生成，而陰陽造化之機存焉。一物之內，氣味兼有；一藥之中，理性具焉。主對治療，由是而出。假令治表實，麻黃、葛根；表虛，桂枝、黃耆；裡實，枳實、大黃；裡虛，人參、芍藥。熱者黃芩，黃連，寒者乾薑、附子之類也。君藥分兩最多，臣藥次之，佐使藥又次之。不可令臣過於君。君臣有敘，相與宣攝，則可以御邪除病矣。</p>
<p>王海藏云：常人求診拱默，苟令切脈，試其能知病否。且脈人之氣血，附行於經絡，熱勝則脈疾，寒勝則脈遲，實則有力，虛則無力。至於得病之由，及所傷之物，豈能以脈知乎？故醫者不可不問其由，病者不可不說其故。孫真人云：未診先問，最為有準。東坡亦云：只圖愈疾，不圖困醫。二公之言，良為有理，故書之以破世人之惑矣。</p>
