<header data-type="book">
<h1>五十二病方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>朝代</dt><dd>秦</dd></div>
<div><dt>年份</dt><dd><data value="/-0214">公元前215年</data>抄寫</dd></div>
</dl>
</header>

<h1>【諸傷】:</h1>
<p>□□膏、甘草各二，桂、畺（姜）、椒□□□□□□□□□□□□□□□□□□□□□（一）□□毀一垸咅（杯）酒中，飲之，日【壹】飲，以□其■（二）</p>
<p>【一】，□□□□朐，令大如答，即以赤答一斗並□，復治□□□□□□□□□□□（三）孰（熟）□□□【飲】其汁，汁宰（滓）皆索，食之自次（恣）。解痛，斬■（四）</p>
<p>一，治齊□，□淳酒漬而餅之，煏瓦鬵炭□□□□□□□□□□□□□漬□（五）煏之如□，即治，入三指最（撮）半咅（杯）溫酒□□□□□□□□□□□□□□□者（六）　百治，大□者八十，小者【冊】，治精（七）。</p>
<p>一，燔白雞毛及人發，治【各】等。百草末八灰，治而□□□□□□□一垸溫酒一咅（杯）中○（八），飲之（九）。</p>
<p>一，以刃傷，類（燔）羊矢，敷之（一○）。</p>
<p>一，止血出者，燔發，以安（按）其痏（一一）。</p>
<p>一，令傷者毋痛，毋血出，取故蒲席厭□□□燔□□□□痏（一二）。</p>
<p>一，傷者血出，祝曰：「男子竭，女子酨。」五畫地□之（一三）。</p>
<p>一，令傷毋般（瘢），取彘膏、□衍並治，敷之（一四）。</p>
<p>一，以男子洎敷之，皆不般（瘢）（一五）。</p>
<p>一，金傷者，以方（肪）膏、烏豙（喙）□□，皆相□煎，釶（施）之（一六）。</p>
<p>一，傷者，以續【㡭（斷）】根一把，獨□長支（枝）者二廷（梃），黃⿰僉今（芩）二□梃，甘草□廷（梃），秋烏豙（喙）二□□（一七）□□□者二甌，即並煎□孰（熟），以布捉取，出其汁，以陳縕□□【敷之】（一八）。</p>
<p>【一】，□者，治黃黔（芩）與□□□□□彘膏□□之，即以布捉【取】，□□□□□□□□（一九）　浘之（二○）。</p>
<p>一，久傷者，薺（齏）杏⿰木再〈𩅢（核）〉中人（仁），以職（胑）膏弁，封痏，蟲即出。【●嘗】試（二一）。</p>
<p>一，稍（消）石直（置）溫湯中，以灑癰（二二）。</p>
<p>一，令金傷毋痛方，取鼢鼠，干而治；取彘魚，燔而治；□□、薪（辛）夷、甘草各與【鼢】（二三）鼠等，皆合撓，取三指最（撮）一，入溫酒一咅（杯）中而飲之。不可，財益藥，至不癰而止。●【令】（二四）。</p>
<p>一，令金傷毋痛，取薺孰（熟）干實，⿰火囂（熬）令焦黑，治一；⿰木朮（術）根去皮，治二，凡二物並和，取三（二五）指最（撮）到節一，醇酒盈一衷桮（杯），入藥中，撓飲不者，灑半桮（杯）。已飲，有頃不痛（二六）。復痛，飲藥如數。不痛，毋飲藥。藥先食後食次（恣）。治病時，毋食魚、彘肉、馬肉、龜（二七）、蟲、葷、麻○洙採（菜），毋近內，病已如故。治病毋時。壹治藥，足治病。藥已治，裹以（二八）繒臧（藏）。治⿰木朮（術），暴（曝）若有所燥，治。令（二九）。</p>

<h1>傷痙：</h1>
<p>痙者，傷，風入傷，身信（伸）而不能詘（屈）。治之，⿰火囂（熬）鹽令黃，取一斗，裹以布，卒（淬）醇酒中，入（三○）即出，蔽以布，以熨頭。熬則舉，適下。為□裹更【熨，熨】寒，更⿰火囂（熬）鹽以熨，熨勿（三一）絕。一熨寒汗出，汗出多，能詘（屈）信（伸），止。熨時及已熨四日內，□□衣，毋見風，過四日自（三二）適。熨先食後食次（恣）。毋禁，毋時。●令（三三）。</p>
<p>一，傷而頸（痙）者，以水財煮李實，疾沸而抒，浚取其汁，寒和，以飲病者，飲以□□（三四）故。節（即）其病甚弗能飲者，強啟其口，為灌之。節（即）毋李實時□□□□□□（三五）煮炊，飲其汁，如其實數。毋禁。嘗【試】。●令（三六）。</p>
<p>一，諸傷，風入傷，傷癰痛，治以枲絮為獨□□□傷，漬□□□□□彘膏煎汁□（三七）□□沃，數□注，下膏勿絕，以歐（驅）寒氣，□□□□舉□□□□□，以敷傷空（孔），𦿝（蔽）□（三八）休得為□□□□□□□□□□□□□□□□□□□□癰□□□□□（三九）。敷藥先食後食次（恣）。毋禁，【毋】時。□礜不□□□盡□（四○）。</p>
<p>一，傷而頸（痙）者，小𠟃一犬，漰與薛（糱）半鬥，毋去其足，以□並盛，漬井𧖅□□□（四一）出之，陰乾百日。即有頸（痙）者，治，以三指一撮，和以溫酒一咅（杯），飲之（四二）。</p>
<p>一，傷脛（痙）者，擇薤一把，以敦（淳）酒半鬥者（煮）㵒（沸），【飲】之，即溫衣陝（夾）坐四旁，汗出到足，乃□（四三）。</p>
<p>一，治黃黔（芩）、甘草相半，即以彘膏財足以煎之。煎之㵒（沸），即以布足（捉）之，予（抒）其汁，□敷□（四四）。</p>

<h1>嬰兒索痙：</h1>
<p>索痙者，如產時居濕地久，其⿱𦉪月（肎）直而口扣，筋⿱龻土（攣）難以信（伸）。取封殖土治之，□□（四五）二，鹽一，合撓而烝（蒸），以扁（遍）熨直⿱𦉪月（肎）攣筋所。道頭始，稍□手足而已。熨寒□□（四六）復烝（蒸），熨乾更為。令（四七）。</p>

<h1>嬰兒病間（癇）方：</h1>
<p>取雷尾〈癤（矢）〉三果（顆），治，以豬煎膏和之。小嬰兒以水【半】鬥，大者以一斗，三分和，取（四八）一分置水中，撓，以浴之。浴之道頭上始，下盡身，四支（肢）毋濡。三日一浴，三日已。已浴，輒棄其（四九）水圂中。間（癇）者，身熱而數驚，頸脊強而復（腹）大。□間（癇）多眾，以此藥皆已（五○）。</p>

<h1>嬰兒瘛：</h1>
<p>嬰兒瘛者，目繲𢖷然，脅痛，息癭（嚶）癭（嚶）然，癤（矢）不○化而青。取屋榮蔡，薪燔之而□（五一）匕焉。為湮汲三渾，盛以桮（杯）。因唾匕，祝之曰：「噴者居（劇）噴，上○○○○○○（五二）如喆（彗）星，下如燡（衃）血，取若門左，斬若門右，為若不已，磔薄（膊）若市。」因以匕周㨉（五三）嬰兒瘛所，而灑之桮（杯）水中，候之，有血如蠅羽者，而棄之於垣。更取水（五四），復唾匕馤（漿）以㨉，如前。毋徵，數復之，徵盡而止。●令（五五）。</p>

<h1>狂犬齧人：</h1>
<p>取恆石兩，以相靡（磨）殹（也），取其靡（磨）如麋（糜）者，以敷犬所齧者，已矣（五六）。</p>
<p>一，狂【犬】齧人者，孰澡（操）湮汲，注桮（杯）中，小（少）多如再食浮（漿），取灶末灰三指最（撮）□□（五七）水中，以飲病者。已飲，令孰奮兩手如□□間手□道□□□□□□（五八）□□□狂犬齧者□□□莫敷（五九）。</p>
<p>一，狂犬傷人，治礜與橐莫，【醯】半咅（杯），飲之。女子同藥。如■（六○）</p>

<h1>犬筮（噬）人傷者：</h1>
<p>取丘（蚯）引（蚓）矢二升，以井上罋斷處土與等，並熬之，而以美【醯】□□□□（六一）之，稍垸，以熨其傷。犬毛盡，敷傷而已（六二）。</p>
<p>一，煮莖，以汁灑之。冬日煮其本（六三）。</p>
<p>一，犬所齧，令毋痛及易瘳方，令【齧】者臥，而令人以酒財沃其傷。已沃而□（六四）越之。嘗試。毋禁（六五）。</p>

<h1>巢者：</h1>
<p>侯（候）天甸（電）而兩手相靡（摩），鄉（向）甸（電）祝之，曰：「東方之王，西方□□□□主冥冥人星。」二七而□（六六）。</p>
<p>一，取牛㮨、烏豙（喙）、桂，治等，淆□，【熏】以□病（六七）。</p>

<h1>【夕】下：</h1>
<p>以黃枔（芩），黃枔（芩）長三寸，合盧大如□□豆卅，去皮而並治。□□□□□□□摀（搗）而煮之，令（六八）沸，而溍去其宰（滓），即以汁□□淒夕【下】，已，乃以脂□□□□□□□所治藥敷（六九）之。節（即）復欲敷之，淒敷之如前。已，夕下靡（七○）。</p>

<h1>【毒烏豙（喙）者】：</h1>
<p>炙□□，飲小童弱（溺）若產齊赤，而以水飲■（七一）</p>
<p>一，屑勺（芍）藥，以□半桮（杯），以三指大捽（撮）飲之（七二）。</p>
<p>【一】，取杞本長尺，大如指，削，⿱春正（舂）木臼中，煮以酒■（七三）</p>
<p>一，以□汁粲叔（菽）若苦，已（七四）。</p>
<p>一，煮鐵，飲之（七五）。</p>
<p>一，禺（遇）人毒者，取麋（蘼）蕪本若□薺一□□□□□□□□□敷宥（痏）（七六）。</p>
<p>一，穿地□尺，而煮水一罋□□□□□□□□□□□一咅（杯）（七七）。</p>

<h1>【㯆𤼚（蠆）】：</h1>
<p>□□□□□□□以財蕳薤■（七八）</p>
<p>【一】，■（七九）</p>
<p>一，濡，以鹽敷之，令牛吔（舐）之（八○）。</p>
<p>一，以疾（蒺）黎（藜）、白蒿封之（八一）。</p>
<p>一，涶（唾）之，賁（噴）：「兄父產大山，而居□谷下，□□□不而□□□□而鳳鳥□□□□□□（八二）尋尋豙且貫而心（八三）。」</p>
<p>一，「父居蜀，母為鳳鳥蓐，毋敢上下尋，鳳【貫】而心（八四）。」</p>

<h1>蛭食（蝕）</h1>
<p>人胻股【膝】，產其中者，並黍、叔（菽）、秫（術）三，炊之，烝（蒸）□□□□病（八五）。</p>
<p>一，榖（⿱文⿶凵非）蛫，敷【之】（八六）。</p>

<h1>蚖：</h1>
<p>榖（⿱文⿶凵非）蘭，以酒沃，飲其汁，以宰（滓）封其痏，數更之，以熏□（八七）</p>
<p>一，以葪印其中顛（八八）。</p>
<p>一，以產豚豙（豶）麻（磨）之（八九）</p>
<p>一，以堇一陽築（築）封之，即燔鹿角，以弱（溺）飲之（九○）。</p>
<p>一，吙：「𧪘（嗟），年，鵺殺人今茲。」有（又）復之（九一）。</p>
<p>一，以青梁米為鬻（粥），水十五而米一，成鬻（粥）五斗，出，揚去氣，盛以新瓦罋，冥（冪）口以布三□（九二），即封塗（塗）厚二寸，燔，令泥盡火而𣤌（歠）之，痏己（九三）。</p>
<p>一，亨（烹）三宿雄雞二，洎水三斗，孰（熟）而出，及汁更洎，以食□逆甗下。炊五㝅（榖）、兔□（九四）肉陀（他）甗中，稍沃以汁，令下盂中，孰（熟），飲汁（九五）。</p>
<p>一，賁（噴）吙：「伏食，父居北在，母居南止，同產三夫，為人不德。」已。不已，青敷之（九六）。</p>
<p>一，湮汲一咅（杯）入奚蠡中，左承之，北鄉（向），鄉（向）人禹步三，問其名，即曰：「某某年□今□（九七）。」飲半咅（杯），曰：「病□□己，徐去徐已。」即復（覆）奚蠡，去之（九八）。</p>
<p>一，煮鹿肉若野彘肉，食【之】，𣤌（歠）汁。●精（九九）。</p>
<p>一，燔貍皮，治灰，入酒中，飲之。多可殹（也），不傷人。煮羊肉，以汁□之（一○○）。取井中泥，以還（環）封其傷，已（一○一）。</p>

<h1>尤（疣）：</h1>
<p>取敝蒲席若藉之弱（蒻），繩之，即燔其末，以久（灸）尤（疣）末，熱，即拔尤（疣）去之（一○二）。</p>
<p>一，令尤（疣）者抱禾，令人嘑（呼）曰：「若胡為是？」應曰：「吾尤（疣）。」置去禾，勿顧（一○三）。</p>
<p>一，以月晦日之丘井有水者。以敝帚騷（掃）尤（疣）二七，祝曰：「今日月晦，騷（掃）尤（疣）北。」入帚井中（一○四）。</p>
<p>一，以月晦日日下餔時，取由（塊）大如雞卵者，男子七，女子二七。先【以】由（塊）置室後，令南北【列】（一○五），以晦往之由（塊）所，禹步三，道南方始，取由（塊）言曰由言曰：「今日月晦，靡（磨）尤（疣）北。」由（塊）一靡（磨）□（一○六）。已靡（磨），置由（塊）其處，去勿顧。靡（磨）大者（一○七）。</p>
<p>一，以月晦日之內後，曰：「今日晦，弱（搦）又（疣）內北。」靡（磨）又（疣）內闢（壁）二七（一○八）。</p>
<p>一，以朔日，葵莖靡（磨）又（疣）二七，言曰：「今日朔，靡（磨）又（疣）以葵戟。」有（又）以殺本若道旁𢃬（葥）根二七，投（一○九）澤若淵下。●除日已望（一一○）。</p>
<p>一，祝尤（疣），以月晦日之室北，靡（磨）宥（疣），男子七，女子二七，曰：」今日月晦，靡（磨）宥（疣）室北。」不出一月宥（疣）已（一一一）。</p>

<h1>顛（癲）疾：</h1>
<p>先侍（偫）白雞、犬矢。發，即以刀剶（劙）其頭，從顛到項，即以犬矢【濕】之，而中剶（劙）雞□（一一二），冒其所以犬矢濕者，三日而已。已，即孰（熟）所冒雞而食之，□已（一一三）。</p>
<p>一，瘨（癲）疾者，取犬尾及禾在圈垣上【者】，段治，湮汲以飲之（一一四）。</p>

<h1>白處方：</h1>
<p>取灌青，其一名灌曾，取如□□鹽廿分鬥一，灶黃土十分升一，皆治，而□□（一一五）指，而先食飲之。不已，有（又）復之而□灌青，再飲而已。○令（一一六）。</p>
<p>【一】，□□其□□□□□與其○真□□，治之【以】鳥卵勿毀半鬥，□甘鹽□□□□（一一七）□□□□□□□□□□□者□□□□□□其中，卵次之，以□□□□□（一一八）冥（冪）罋以布四□□□□□□□□□□□□□□□□□三□□□□□□（一一九）蔡。已塗之，即縣（懸）陰燥□□□□□□□□□□□□□□□□□□□□□（一二○）厚蔽肉，扁（遍）施所而止，□□□□□之於□□□□熱弗能支而止，而止施□□（一二一）雖俞（愈）而毋去其藥。藥○□□而自□殹（也）。□□已□。炙之之時，□食甚□□□（一二二）搜，及毋手敷之。以旦未食敷藥。已【敷】藥，即飲善酒，極厭而止，即炙□。已炙□（一二三）之而起，欲食即食，出入飲食自次（恣）。旦服藥，先毋食□二、三日。服藥時毋食（一二四）魚，病已如故。治病毋時。●二三月十五日到十七日取鳥卵，已□即用之。□□（一二五）鳥殹（也），其卵雖有人（仁），猶可用殹（也）。此藥已成，居雖十【余】歲到□歲，俞（逾）良。□（一二六）而干，不可以塗身，少取藥，足以塗施者，以美醯□之於瓦⿰缶扁中，漬之□（一二七）可河（和），稍如恆。煮膠，即置其⿰缶扁於䃩火上，令藥已成而發之。發之□□□□塗（一二八），冥（冪）以布，蓋以⿰缶扁，縣（懸）之陰燥所。十歲以前藥乃干（一二九）。</p>
<p>一白倪：白倪者，白毋奏（腠），取丹沙與鱣魚血，若以雞血，皆可。雞湮居二□□之□（一三○），以蚤挈（契）䐈令赤，以□之。二日，灑，以新布孰暨（摡）之，【復】敷。如此數，卅【日】而止。●令（一三一）。</p>

<h1>大帶者：</h1>
<p>燔虀，與久膏而□敷之（一三二）。</p>
<p>一，以清煮膠，以塗（塗）之（一三三）。</p>

<h1>冥（螟）病方：</h1>
<p>冥（螟）者，蟲，所齧穿者□，其所發毋恆處，或在鼻，或在口旁，或齒齦，或在手指□□（一三四），使人鼻抉（缺）指斷。治之以鮮產魚，□而以鹽財和之，以敷蟲所齧□□□（一三五）□□□之。病已，止。嘗試，毋禁。【●】令（一三六）。</p>

<h1>【□蠸者】：</h1>
<p>□□以蠸一入卵中□□□□之（一三七）。</p>
<p>入■（一三八）兔皮■（一三九）</p>
<p>一，榖（⿱文⿶凵非）蘭■（一四○）</p>
<p>一，以淳酒■（一四一）</p>
<p>一，以湯沃■（一四二）</p>

<h1>𢵡：</h1>
<p>取蘭■（一四三）</p>
<p>一，炙䰡■𢵡（一四四）。</p>

<h1>【人】病馬不間（癇）者：</h1>
<p>■以浴病者。病者女【子】□（一四五）男子■即以女子初有布（一四六）燔■（一四七）</p>
<p>■飲以布■（一四八）■酒中飲■（一四九）</p>
<p>□□□□□□干蔥■（一五○）鹽隋（脽）炙尻（一五一）。</p>
<p>一，䗱華，以封隋（脽）及少【腹】■（一五二）</p>
<p>一，治䖟蓂少半升、陳葵種一□，而■（一五三）</p>
<p>一，湮汲水三斗，以龍鬚（須）一束並者（煮）■（一五四）</p>
<p>一，久（灸）左足中指（一五五）。</p>
<p>一，□□三湮汲，取桮（杯）水歕（噴）鼓三，曰：「上有□□□□□□□□□□銳某□□□（一五六）□□飲之而復（覆）其桮（杯）（一五七）。</p>
<p>一，□□及癟不出者方：以醇酒入□，煮膠，廣□□□□□□□，燔段（煅）□□□□（一五八）火而焠酒中，沸盡而去之，以酒飲病【者】，□□□□□□□□飲之，令□□□（一五九）起自次（恣）殹（也）。不已，有（又）復□，如此數。【●】令（一六○）。</p>
<p>一，𠺕，痛於脬及衷，痛甚，弱（溺）□痛益甚，□□□□【治】之，黑叔（菽）三升，以美醯三□（一六一）煮，疾炊，㵒（沸），止火；㵒（沸）下，復炊。參（三）㵒（沸），止。浚取【汁】。牡【厲（蠣）】一，毒堇治三，凡【二】物□□（一六二）。取三指最（撮）到節一，醯寒溫適，入中□飲。飲先食【後】食次（恣）。壹飲病俞（愈），日壹【飲】（一六三），三日，病已。病已，類石如泔從前出。毋禁，毋時。治厲（蠣）；毒堇不暴（曝）。以夏日至到□□（一六四）毒堇，陰乾，取葉、實並治，裹以韋臧（藏），用，取之。歲【更】取○毒堇。毒堇□□□（一六五）堇葉異小，赤莖，葉從（縱）纗者，□葉、實味苦，前【日】至可六、七日䅎（秀），□□□□（一六六）澤旁。●令（一六七）。</p>
<p>一，以水一斗煮葵種一斗，浚取其汁，以其汁煮膠一廷（梃）半，為汁一參，而■（一六八）</p>
<p>一，贛戎鹽若美鹽，盈隋（脽），有（又）以塗（塗）隋（脽）□下及其上，而暴（曝）若□（一六九）</p>
<p>一，亨（烹）葵而飲其汁；冬□□本，沃以□□（一七○）。</p>
<p>一，亨（烹）葵，熱欼（歠）其汁，即□□隸，以多為故，而□□尻厥（一七一）。</p>
<p>一，以酒一咅（杯），漬襦頸及頭垢中，令沸而飲之（一七二）。</p>
<p>一，𠺕，弱（溺）不利，脬盈者方：取棗種麤（粗）屑二升，葵種一升，合撓，三分之，以水一斗半【煮一】（一七三）分，孰（熟），去滓，有（又）煮一分，如此以盡三分。浚取其汁，以𧖅（蜜）和，令毚（才）甘，寒溫適，□（一七四）飲之。藥盡更為，病【已】而止。●令（一七五）。</p>
<p>一，𠺕，取景天長尺、大圍束一，分以為三，以淳酒半鬥，三【䵟】煮之，孰（熟），浚取其汁，【欼（歠）】（一七六）之。不已，復之，不過三飲而已。先莫（暮）毋食，旦飲藥。●令（一七七）。</p>
<p>一，𠺕，坎方尺有半，深至肘，即燒陳稾其中，令其灰不盈半尺，薄灑之以美酒，□（一七八）莤莢一、棗十四、豙（𧅙）之朱（茱）臾（萸）、椒，合而一區，燔之坎中，□以隧下。已，沃（一七九）。</p>
<p>一，𠺕，燔陳芻若陳薪，令病者北（背）火炙之，兩人為靡（磨）其尻，𠺕已（一八○）。</p>
<p>一，以水一斗煮膠一參、米一升，孰（熟）而啜之，夕毋食（一八一）。</p>
<p>一，取蠃牛二七，薤一拼（⿳⿱亠口⿸厂厶⿱一𧘇），並以酒煮而飲之（一八二）。</p>
<p>一，以己巳晨，睘（寢）東鄉（向）弱（溺）之。不已，復之（一八三）。</p>
<p>一，血𠺕，煮荊，三溫之而飲之（一八四）。</p>
<p>一，石𠺕，三溫煮石葦若酒而飲之（一八五）。</p>
<p>一，膏𠺕，澡石大若李⿰口頼，已食飲之。不已，復之（一八六）。</p>
<p>一，女子𠺕，取三歲陳霍（藿），取其汁，□而飲之（一八七）。</p>
<p>一，女子𠺕，煮隱夫術，飲之。居一日，榖（⿱文⿶凵非）陽□，羹之（一八八）。</p>
<p>一，以醯、酉（酒）三乃（䵟）煮黍稷而飲其汁，皆□□（一八九）。</p>
<p>一，以衣中衽（紝）緇〈繢〉約左手大指一，三日□（一九○）。</p>

<h1>【弱（溺）】□淪者方：</h1>
<p>取□□□□□□其□□□□。先取鵲棠下蒿（一九一）。</p>

<h1>膏弱（溺）：</h1>
<p>是胃（謂）內復，以水與弱（溺）煮陳葵種而飲之，有（又）榖（⿱文⿶凵非）陽□而羹之（一九二）。</p>

<h1>種（腫）橐：</h1>
<p>種（腫）橐者，黑實橐，不去。治之，取馬矢粗者三斗。孰析，沃以水，水清，止；浚去汁，洎以酸漿□（一九三）鬥，取芥衷夾。壹用，智（知）；四五用，種（腫）去。【毋】禁，毋時。●令（一九四）。</p>

<h1>頹（㿗）：</h1>
<p>操柏杵，禹步三，曰：「賁者一襄胡，濆者二襄胡，濆者三襄胡。柏杵臼穿，一母一□，□（一九五）獨有三。賁者種（腫），若以柏杵七，令某䜶（㿗）毋一。」必令同族抱□□頹（㿗）者，直（置）東鄉（向）窗道外（一九六），攺椎之（一九七）。</p>
<p>一，令斬足者清明東鄉（向），以筩⿰豆⿱⿰萑萑又之二七（一九八）。</p>
<p>一，𠺕，以月十六日始毀，禹步三，曰：「月與日相當，日與月相當。」各三；「父乖母強，等與人產子，獨（一九九）產頹（㿗）尢，乖已，操葭（鍛）石墼（擊）而母。」即以鐵椎攺段之二七。以日出為之，令頹（㿗）者東鄉（向）（二○○）。</p>
<p>一，漬女子布，以汁亨（烹）肉，食之，欼（歠）其汁（二○一）。</p>
<p>一，破卵咅（杯）醯中，飲之（二○二）。</p>
<p>一，炙蠶卵，令簍簍黃，治之，三指最（撮）至節，入半咅（杯）酒中飲之，三、四日（二○三）。</p>
<p>一，以辛巳日古（辜）曰：「賁辛巳日。」三；曰：「天神下干疾，神女倚序聽神吾（語），某狐叉非其處所，已；不（二○四）已，斧斬若。」即操布攺之二七（二○五）。</p>
<p>一，以日出時，今頹（㿗）者屋霤下東鄉（向），令人操筑西鄉（向），祝曰：」今日□，某頹（㿗）尢，今日已。某頹（㿗）已□（二○六）。而父與母皆盡柏築之顛，父而沖，子胡不已之有？「以築沖頹（㿗）二七。已備，即曰：」某起。頹（㿗）【已】（二○七）。</p>
<p>一，辛卯日，立堂下東鄉（向），鄉（向）日，令人挾提頹（㿗）者，曰：「今日辛卯，更名曰禹（二○八）。」</p>
<p>一，取枲垢，以艾裹，以久（灸）頹（㿗）者中顛，令闌（爛）而已（二○九）。</p>
<p>一，令頹（㿗）者北首臥北鄉（向）廡中，禹步三，步嘑（呼）曰：「籲！狐麃。」三；若智（知）某病狐■（二一○）</p>
<p>一，䔵（㿗）及癭，取死者叕烝（蒸）之，而新布裹，以囊□□□□前行■（二一一）</p>
<p>一，陰乾之旁逢卵，以布裹□□（二一二）。</p>
<p>一，頹（㿗）者及股癰、鼠復（腹）者，□中指蚤（搔）二【七】，必瘳（二一三）。</p>
<p>一，以稈為弓，以甗衣為弦，以葛為矢，以□羽□。旦而射，莫（暮）而□小（二一四）。</p>
<p>一，以冥蠶種方尺，食衣白魚一七，長足二七。熬蠶種令黃，靡（磨）取蠶種治，亦靡（磨）白魚、長（二一五）足。節三，並以醯二升和，以先食飲之。嬰以一升（二一六）。</p>
<p>一，穿小瓠壺，今其空（孔）盡容頹（㿗）者腎與𤶑，即今頹（㿗）者煩誇（瓠），東鄉（向）坐於東陳垣下，即內（納）腎（二一七）𤶑於壺空（孔）中，而以採為四寸杙二七，即以採木椎窡（剟）之。一□□，再靡（磨）之。已窡（剟），輒椄（二一八）杙垣下，以盡二七杙而已。為之恆以入月旬六日□□盡，日一為，□再為之。為之恆以星出時（二一九）為之，須頹（㿗）已而止（二二○）。</p>
<p>一，䔵（㿗），先上卵，引下其皮，以砭（砭）穿其【隋（脽）】旁；□□汁及膏□，撓以醇□。有（又）久（灸）其痏，勿令風（二二一）及，易瘳；而久（灸）其泰（太）陰，泰（太）陽□□。【●】令（二二二）。</p>
<p>一，治頹（㿗）初發，傴攣而未大者【方：取】全蟲蛻一，□□□，皆燔□□□□□□□□酒飲財（二二三）足以醉。男女皆可。●令（二二四）。</p>
<p>一，頹（㿗），以奎蠡蓋其堅（腎），即取桃支（枝）東鄉（向）者，以為弧；取□母□□□□□□□□□□□上，晦，壹（二二五）射以三矢，□□飲樂（藥）。其藥曰陰乾黃牛膽。干即稍□□□□□□□□□，飲之（二二六）。【一】，治囷（菌）【桂】尺、獨□一升，並治，而盛竹甬（筒）中，盈筒□□□□□□□□□□□□□□□□（二二七）□□即蓂（冪）以布，而敷之隋（脽）下，為二處，即道其□□□□□□□□□□□□□□（二二八）□□□之。炊者必順其身，須其身安定，□□□□□□□□□□□□□□□□（二二九）□□頹（㿗）己，敬以豚塞，以為不仁，以白□□□□□□□□□□□□□□□□□□（二三○）□縣（懸）茅比所，且塞壽（禱），以為■（二三一）</p>
<p>【一】□【取】女子月事布，漬，炙之令溫□□□□□□□□□□□□□□□□□□□□□（二三二）□□□四榮□，燔量簧，治桂五寸■（二三三）■上■（二三四）</p>
<p>頹（㿗）□久（灸）左胻■（二三五）</p>
<p>一，夕毋食，旦取豐（蜂）卵一，漬美醯一桮（杯），以飲之（二三六）。</p>

<h1>【脈】者：</h1>
<p>取野獸肉食者五物之毛等，燔治，合撓□，誨（毎）旦【先】食，取三【指大撮】三，以溫酒一杯和，飲之。到（二三七）莫（暮）有（又）先食飲，如前數。恆服藥廿日，雖久病必□。服藥時禁毋食彘肉、鮮魚。●嘗【試】（二三八）。</p>

<h1>【牡】痔：</h1>
<p>有蠃肉出，或如鼠乳狀，末大本小，有空（孔）其中。□之，疾久（灸）熱，把其本小者而䗿（䗿）絕之，取（二三九）內戶旁祠空中黍腏、燔死人頭皆治，以修膏濡，而入之其空（孔）中（二四○）。</p>
<p>一，多空（孔）者，亨（烹）肥羭，取其汁𤶱（漬）美黍米三斗，炊之，有（又）以脩（滫）之，孰（熟），分以為二，以□□□，各□（二四一）一分，即取𤻳（𠺗）末、菽醬之宰（滓）半，並⿱春正（舂），以敷痔空（孔），厚如韭葉，即以厚布裹，□□更溫（二四二），二日而已（二四三）。</p>
<p>一，牡痔居竅旁，大者如棗，小者如棗𩅢（核）者方：以小角角之，如孰（熟）二斗米頃，而張角，絜以小（二四四）繩，剖以刀。其中有如兔𡃤，若有堅血如抇末而出者，即已。●令（二四五）。</p>
<p>一，牡痔之居竅㾾（廉），大如棗𩅢（核），時養（癢）時痛者方：先剶（劙）之；弗能剶（劙），□龜𩝐（腦）與地膽蟲相（二四六）半，和，以敷之。燔小隋（橢）石，淬醯中，以熨。不已，有（又）復之，如此數。●令（二四七）。</p>

<h1>【牝】痔</h1>
<p>之入竅中寸，狀類牛幾三□□然，後而潰出血，不後上鄉（向）者方：取弱（溺）五斗，以煮青蒿（二四八）大把二、鮒魚如手者七，治桂六寸。干䕬（姜）二果（顆），十沸，抒置罋中，貍（埋）席下，為竅，以熏（二四九）痔，藥寒而休。日三熏。因（咽）敝，飲藥將（漿），毋飲它。為藥漿方：取䓛莖幹治二升，取（二五○）⿱亠者（署）苽（蓏）汁二斗以漬之，以為漿，飲之，病已而已。青蒿者，荊名曰【萩】。䓛者，荊名曰盧茹（二五一），其葉可亨（烹）而酸，其莖有㓨（刺）。●令（二五二）。</p>
<p>一，牝痔有空（孔）而欒，血出者方：取女子布，燔，置器中，以熏痔，三【日】而止。●令（二五三）。</p>
<p>一，牝痔之有數竅，蟯白徒道出者方：先道（導）以滑夏鋌，令血出。穿地深尺半，袤尺，【廣】（二五四）三寸，【燔】□炭其中，段（煅）駱阮少半鬥，布炭上，【以】布周蓋，坐以熏下竅。煙滅（滅），取肥□（二五五）肉置火中，時自啟竅，□□燒□節火滅（滅）□以□。日一熏，下□□而□。五六日清□□□□（二五六）。駱阮一名日白苦、苦浸（二五七）。</p>
<p>一，痔者，以醬灌黃雌雞，令自死，以菅裹，塗（塗）上〈土〉，炮之。塗（塗）干，食雞，以羽熏纂（二五八）。</p>
<p>一，治麋（蘼）蕪本、方（防）風、烏豙（喙）、桂皆等，漬以淳酒而垸之，大如黑叔（菽），而吞之。始食一，不智（知）益一，□（二五九）為極。有可，以領傷。恆先食食之（二六○）。</p>
<p>一，未有巢者，煮一斗棗、一斗膏，以為四斗汁，置般（盤）中而居（踞）之，其蟲出（二六一）。</p>
<p>一，巢塞直（䐈）者，殺狗，取其脬，以穿籥，入直（䐈）中，炊（吹）之，引出，徐以刀【剝（劙）】去其巢。治黃黔（芩）而婁（屢）敷（二六二）之。人州出不可入者，以膏膏出者，而到（倒）縣（懸）其人，以寒水戔（濺）其心腹，入矣（二六三）。血⿰⺼寺（痔），以弱（溺）孰（熟）煮一牡鼠，以氣熨（二六四）。</p>

<h1>朐養（癢）：</h1>
<p>痔，痔者其直（䐈）旁有小空（孔），空（孔）兌兌然出，時從其空（孔）出有白蟲時從其空出，其直（䐈）痛，尋（燖）然類辛（二六五）狀。治之以柳蕈一捼、艾二，凡二物。為穿地，令廣深大如䀁。燔所穿地，令之干，而置艾（二六六）其中，置柳蕈艾上，而燔其艾、蕈；而取䀁，穿其斷，令其大圓寸，以復（覆）之，以土雍（壅）（二六七）䀁，會毋□，煙能褭（泄），即被䀁以衣，而毋蓋其䀁空（孔）。即令痔者居（踞）䀁，令直（䐈）直（值）䀁（二六八）　空（孔），令煙燻直（䐈）。熏直（䐈）熱，則舉之；寒，則下之；圈（倦）而休（二六九）。</p>
<p>一，取石大如卷（拳）二七，孰（熟）燔之。善伐米大半升，水八米，取石置中，□□孰（熟），即欼（歠）之而已（二七○）。</p>

<h1>睢（疽）病：</h1>
<p>治白薟（蘞）、黃蓍（耆）、芍樂（藥）、桂、畺（姜）、椒、朱（茱）臾（萸），凡七物。骨睢（疽）倍白簽（蘞），【肉】睢（疽）【倍】黃蓍（耆），腎睢（疽）（二七一）倍芍藥，其餘各</p>
<p>一。並以三指大最（撮）一入桮（杯）酒中，日五六飲之。須已■（二七二）</p>
<p>一，三䵟煮逢（蓬）虆，取汁四斗，以灑睢（疽）癰（二七三）。</p>
<p>一，睢（疽）始起，取啇〈商〉牢漬醯中，以熨其種（腫）處（二七四）。</p>
<p>【一】，睢（疽），以白蘞、黃耆（耆）、芍藥、甘草四物者（煮），□、畺（姜）、蜀焦（椒）、樹（茱）臾（萸）四物而當一物，其一骨□□□三（二七五）□□以酒一桮（杯）□□□□筋者倐倐翟翟□□之其□□□□□。日四飲。一欲潰，止（二七六）。</p>
<p>一，□□□□□□□□□□□□□□□□□□□□□□□□□者方：以□□（二七七）鬥□□□□□□□□□□□□□□□□□□□□已灑睢（疽）□□□□□（二七八）以羹■（二七九）</p>
<p>一，睢（疽）未□□□□烏豙（喙）十四果（顆），以【美】醯半升□□□□□□澤（𥼶）泔二參，入藥中□□□（二八○）令如□□□□□灸手以靡（磨）□□□敷□□□□□之，以余藥封而裹□□□□（二八一）不痛己□□。●令（二八二）。</p>
<p>一，益（嗌）睢（疽）者，白蘞三，罷合一，並治，□□□□□□□飲之（二八三）。</p>
<p>一，爛疽：爛疽者，□□起而□□□□□□□□治，以彘膏未湔（煎）者灸銷（消）以和□敷之。日一【敷】（二八四）樂（藥），【敷】樂（藥）前灑以溫水。服藥卅日□已。嘗試。●【令】（二八五）。</p>
<p>一、諸疽物初發者，取大叔（菽）一斗，熬孰（熟），即急抒置甑□□□□□□□□□置其□□（二八六）醇酒一斗淳之，□□○即取其汁盡飲之。一飲病未已，□□□□□□□□□□□（二八七）飲之可。不過數飲，病已。毋禁。嘗試。【●】令（二八八）。</p>
<p>一、血睢（疽）始發，㯚（儵）㯚（儵）以熱，痛毋適，□□□□□□睢（疽）□□□□□□□□□□□□（二八九）○戴𣟳（糝）、黃芩、白薟（蘞），皆居三日，□□□□□□□□□□□□□□□□□□□（二九○）之，令汗出到足，已（二九一）。</p>
<p>一，氣睢（疽）始發，溳溳以𫾔，如□狀，⿰扌廡（撫）靡（摩）□而□□□□□□□□□□□□□□□□（二九二）二果（顆），令⿳⺮中而叔□糵（熬）可□，以酒沃，即浚□□□□□□□□□□□□□□□□（二九三）出而止（二九四）。</p>
<p>一，□睢（疽）發，出禮（體），如人𧰉之□，人攜之甚□□□□□□□□□□□□□□□□□（二九五）□□半鬥，煮成三升，【飲】之，溫衣臥■（二九六）</p>
<p>【一】，□□□□□□□□□□喙■（二九七）■雖■（二九八）</p>
<p>【一】，■睢（疽），橿（姜）、桂、椒□居四■（二九九）■淳酒半鬥，煮，令成三升，■（三○○）</p>
<p>【一】，■三䝁（⿳⿱亠口⿸厂厶⿱一𧘇），細切，淳酒一斗■（三○一）■即淙而□之，溫衣■（三○二）</p>
<p>【一】，■桂、椒■（三○三）</p>
<p>一，煮麥，麥孰（熟），以汁灑之，□□□膏■（三○四）</p>
<p>一，灸梓葉，溫之（三○五）。</p>

<h1>□闌（爛）者方：</h1>
<p>以人泥塗之，以犬毛若羊毛封之。不已，復以■（三○六）</p>
<p>一，闌（爛）者，爵（嚼）糵米，足（捉）取汁而煎，令類膠，即治厚柎和敷（三○七）。</p>
<p>一，熱者，古（辜）曰：「肸詘肸詘，從灶出毋延，黃神且與言。」即三涶（唾）之（三○八）。</p>
<p>一，煮秫米期足，毚（才）孰（熟），浚而熬之，令為灰，敷之數日。干，以汁弁之（三○九）。</p>
<p>一，以雞卵弁兔毛，敷之（三一○）。</p>
<p>一，治糵米，以乳汁和，敷之，不痛，不瘢（三一一）。</p>
<p>一，燔魚衣，以其灰敷之（三一二）。</p>
<p>一，燔敝褐，治，布以敷之（三一三）。</p>
<p>一，漬女子布，以汁敷之（三一四）。</p>
<p>一、烝（蒸）𥱽土，裹以熨之（三一五）。</p>
<p>一，浴湯熱者熬彘矢，漬以䂱（醯），封之（三一六）。</p>
<p>一，以湯大熱者熬彘矢，以酒挐，封之（三一七）。</p>
<p>一，般（瘢）者，以水銀二，男子惡四，丹一，並和，置突【上】二、三月，盛（成），即□□□囊而敷之。敷之，居室（三一八）塞窗閉戶，毋出，私內中，毋見星月一月，百日己（三一九）。</p>
<p>一，去故般（瘢）：善削瓜壯者，而其瓣材其瓜，其□如兩指，以靡（磨）般（瘢）令□□之，以□□（三二○）敷之。干，有（又）敷之，三而己。必善齊（齋）戒，毋□而己□（三二一）。</p>
<p>【一】，□□者，靡（磨）□□以□，以汁敷，產膚（三二二）。</p>
<p>一，般（瘢）□□□□□□□□□□□□者，【燔之】令灰，以□，□如故膚（三二三）。</p>
<p>一，■（三二四）</p>
<p>一，取秋竹者（煮）之，而以氣熏其痏，己（三二五）。</p>

<h1>胻膫：</h1>
<p>治胻膫，取陳黍、叔（菽），治，以犬膽和，以敷（三二六）。</p>
<p>一，取無（蕪）夷（荑）中𩅢（核），治，獖膏以䘀，熱膏沃治中，和，以敷（三二七）。</p>
<p>一，取雉二，孰（熟）者（煮）余疾，雞羽自解，隋（墮）其尾，□□□□□皆燔治，取灰，以豬膏和【敷】（三二八）。</p>
<p>一，夏日取堇葉，冬日取其本，皆以甘〈口〉沮（咀）而封之。干，輒封其上。此皆已驗（三二九）。</p>

<h1>胻傷：</h1>
<p>取久溺中泥，善擇去其蔡、沙石。置泥器中，旦以苦酒□□。以泥【敷】傷，敷□□（三三○）之，傷已。己用（三三一）。</p>
<p>一，胻久傷：胻久傷者癰，癰潰，汁如靡（糜）。治之，煮水二【鬥】，郁一參，𦬸（術）一參，□【一參】，●凡三物。郁、𦬸（術）皆【治】，□（三三二）湯中，即炊湯。湯溫適，可入足，即置小木湯中，即□□居□□，入足湯中，踐木滑□（三三三）。湯寒則炊之，熱即止火，自適殹（也）。朝己食而入湯中，到餔【時】出休，病即俞（愈）矣。病不□（三三四）者一入湯中即瘳，其甚者五、六入湯中而瘳。其瘳殹（也）□癰，□癰而新肉產。肉產，即毋入【湯】（三三五）中矣，即自合而瘳矣。服藥時毋禁，及治病毋時。●令（三三六）。</p>

<h1>加（痂）：</h1>
<p>以少（小）嬰兒弱（溺）漬羖羊矢，卒其時，以敷之（三三七）。</p>
<p>一，治雄黃，以彘膏脩（滫），少淆以醯，令其□溫適，以敷之。敷之毋濯。【先】孰灑加（痂）以湯，乃敷（三三八）。</p>
<p>一，治僕累，以攻（釭）脂膳而敷。敷，炙之。三、四敷（三三九）。</p>
<p>一，刑赤蜴，以血塗（塗）之（三四○）</p>
<p>一，治亭（葶）磿（藶）、莁夷（荑），熬叔（菽）□□皆等，以牡□膏、鱣血膳。【先】以酒灑，燔樸炙之，乃敷（三四一）。</p>
<p>一，治牛膝、燔髶灰等，並□□，孰灑加（痂）而敷之。炙牛肉，以久脂塗（塗）其上。雖已，復敷（三四二）勿擇（釋）（三四三）。</p>
<p>一，以□脂若豹膏□而炙之，□□□而不痛，婁（屢）復【之】。先飲美【酒】令身溫，乃□（三四四）</p>
<p>一，善灑，靡（磨）之血，以水銀敷，【有（又）】以金䈽（𠺗）治末皆等，以彘膏【膳而】敷【之】（三四五）。</p>
<p>一，壽（搗）　慶（蜣）　良（螂），膳以醯，封而炙之，蟲環出（三四六）。</p>
<p>一，取慶（蜣）　良（螂）一斗，去其甲足，以烏豙（喙）五果（顆），礜大如李，並以酨□鬥煮之，汔，以敷之（三四七）。</p>
<p>一，大皮桐，以蓋而約之，善（三四八）。</p>
<p>一，燔牡鼠矢，治，以善酨膳而封之（三四九）。</p>
<p>一，燔礜，治烏豙（喙）、黎（藜）盧、蜀椒（菽）、庶、蜀椒、桂各一合，並和，以頭脂□□□布炙以熨，卷（倦）而休（三五○）。</p>
<p>一，以小童弱（溺）漬陵（菱）敊（芰），以瓦器盛，以布蓋，置突上五、六日，□【敷】之（三五一）。</p>
<p>一，治莁夷（荑）、苦瓠瓣，並以彘職（胑）膏弁，敷之，以布裹【而】約之（三五二）。</p>
<p>一，治烏豙（喙）　四果（顆）、陵（菱）　敊（芰）　一升半，以南（男）　潼（童）弱（溺）一斗半並□，煮熟，□米一升入中，撓，以敷之（三五三）。</p>
<p>一，治烏豙（喙），炙羖脂弁，熱敷之（三五四）。</p>
<p>一，取陳葵莖，燔治之，以彘職（胑）膏淆弁，以【敷】痏（三五五）。</p>
<p>一，濡加（痂）：治巫（莁）　夷（荑）半參，以肥滿剡獖膏□夷□□□□□□□善以水灑加（痂），干而敷之，以（三五六）布約之。□□死人胻骨，燔而治之，以識（胑）膏■（三五七）</p>
<p>一，產痂：先善以水灑，而炙蛇膏令消，敷。三敷■（三五八）</p>
<p>一，痂方：取三歲織（胑）豬膏，敷之。燔胕（腐）荊箕，取其灰□□三□□【巳】。【●】令（三五九）。</p>
<p>一，干加（痂）：治蛇床實，以牡彘膏膳，先括（刮）加（痂）潰，即敷而□□，干，去□目■（三六○）</p>
<p>一，以水銀、谷汁和而敷之。先以𦙑脩（滫）□□□敷（三六一）。</p>
<p>一，加（痂）方：財治犁（藜）盧，以蠭（蜂）駘弁和之，即孰□□□□加（痂）□而己。嘗試。毋禁（三六二）。</p>

<h1>蛇齧：</h1>
<p>以桑汁塗（塗）之（三六三）。</p>

<h1>癰：</h1>
<p>取□□羽□二□二，禹步三，□□一咅（杯）■（三六四）</p>
<p>一，癰自發者，取桐本一節所，以澤（𥼶）泔煮■（三六五）</p>
<p>一，癰種（腫）者，取烏豙（喙）、黎（藜）盧，治之，□□□□□□□□□□之，以熨種（腫）所。有可，□□（三六六）手，令癰種（腫）者皆已（三六七）。</p>
<p>一，癰首，取茈半鬥，細⿰酋刂（𠟃），而以善酨六斗□□□□□□如此□□醫以此教惠■（三六八）</p>
<p>一，身有癰者，自睪（擇）取大山陵：「某幸病癰，我直（值）百疾之□，我以明月炻若，寒□□□□（三六九）以柞⿰木食，桯若以虎蚤，抉取若刀，而割若葦，而刖若肉，□若不去，苦。」涶（唾）□□□□□（三七○）朝日未□，□鄉（向）涶（唾）之（三七一）。</p>
<p>一，白茝、白衡、菌○桂、枯畺（姜）、薪（新）雉，●凡五物等。已治五物□□□取牛脂□□□細布□□（三七二），並以金銚煏桑炭，毚（才）岪（沸），發⿱高手（歊），有（又）復煏岪（沸），如此□□□布【抒】取汁，即取水（三七三）銀靡（磨）掌中，以和藥，敷。旦以濡漿細□□□之□□□□□。敷藥毋食□（三七四）彘肉、魚及女子。已，面類□□者（三七五）。</p>
<p>一，身有體癰種（腫）者方：取牡□一，誇就□□□□□□□□炊之，候其洎不盡（三七六）一斗，抒臧（藏）之，稍取以塗身體（體）種（腫）者而炙之，□□□□□□【癰】種（腫）盡去，已。嘗試。●令（三七七）。</p>
<p>一，頤癰者，治半夏一，牛煎脂二，醯六，並以鼎□□□如□𤻎，以敷。勿盡敷，圓一寸（三七八）。干，復敷之，而以湯灑去藥，已矣（三七九）。</p>

<h1>鬃：</h1>
<p>唾曰：「歕，桼（漆），」三，即曰：「天啻（帝）下若，以桼（漆）弓矢，今若為下民疕，塗（塗）若以豕矢。」以履下靡（磨）抵之（三八○）。</p>
<p>一，祝曰：「啻（帝）右（有）五兵，壐（爾）亡。不亡，瀉刀為裝」。即唾之，男子七，女子二七（三八一）。</p>
<p>一，「歕，桼（漆）王，若不能桼（漆）甲兵，令某傷，奚（雞）矢鼠襄（壞）塗（塗）桼（漆）王（三八二）。」</p>
<p>【一】，□□□鼠□𫋂（腕），飲其□一咅（杯），令人終身不䰍　（三八三）。</p>
<p>【一】，□□□□□□□□□□□□敷之（三八四）。</p>
<p>【一】，□□□□□□□□□□□□□□□□□□□□□□□□□□（三八五）□□以朝未食時敷□□□□□□□□□□□□□□□□□□□□□（三八六）【病已】如故。治病毋時。治病，禁勿■（三八七）</p>
<p>【一】，□□以木薪炊五斗米，孰（熟），□之，即□□□□□□□□□□□□□□□（三八八）□□時取狼牙根（三八九）。</p>

<h1>蟲蝕：</h1>
<p>□□在於𦞈（喉），若在它所，其病所在曰□□□□□□□□□𩅢（核），毀而取□□（三九○）而□□，以□灑之，令僕僕然，即以敷。敷□□□□□□□□□湯，以羽靡（磨）□□（三九一）□□□，即敷藥。敷藥薄厚盈空（孔）而止。□□□□□□□□□明日有（又）灑以湯（三九二），敷【藥】如前。日壹灑，日壹敷藥，三□□□□□□□□□數，肉產，傷□□（三九三）肉而止。止，即灑去【藥】。已去藥，即以彘□□□□□□□□□□□，疕瘳而止。□□（三九四）三日而肉產，可八【九日】而傷平，傷平□□□□□□□□，十餘日而瘳如故。傷□□（三九五）欲裹之則裹之，□欲□勿□□□□□□□□□□矣。敷藥先旦，未敷□□（三九六）敷藥，欲食即食。服藥時□□□□□□□□□（三九七）。</p>
<p>一，燔屚（漏）𥶌（蘆），治之。以杜（牡）豬膏■（三九八）</p>
<p>一，取雄雞矢，燔，以熏其痏。□□□□□□□□□□鼠令自死，煮以水，□（三九九）布其汁中，敷之。毋【以】手操痏（四○○）。</p>
<p>一，蟲蝕：取禹灶□□塞傷痏□□□□□□□□。●令（四○一）。</p>
<p>一，貮（蟘）　食（蝕）口鼻，治⿰堇頁（堇）葵□□□，以桑薪燔□□其□□令汁出，以羽取■（四○二）</p>
<p>【一】，豦（遽）斬乘車䰍槨■（四○三）</p>
<p>【一】，□食（蝕），【以】豬肉肥者■（四○四）□□□□以■（四○五）</p>
<p>一，治陳葵，以■（四○六）</p>
<p>一，貮（蟘）食（蝕）齒，以榆皮、白□、美桂，而並□□□□敷空（孔）■（四○七）</p>

<h1>干騷（瘙）方：</h1>
<p>以雄黃二兩，水銀兩少半，頭脂一升，□【雄】黃靡（磨）水銀手□□□□□□□（四○八）雄黃，孰撓之。先孰灑騷（瘙）以湯，潰其灌，撫以布，令□□而敷之，一夜一■（四○九）</p>
<p>一，熬陵（菱）𢻃（芰）一參，令黃，以淳酒半鬥煮之，三沸止，蚩其汁，夕毋食，飲（四一○）。</p>
<p>一，以般服零，最（撮）取大者一枚，壽（搗）。壽（搗）之以⿱春正（舂），脂弁之，以為大丸，操（四一一）。</p>
<p>一，取茹盧（蘆）本，嗢之，以酒漬之，後日一夜，而以【塗（塗）】之，已（四一二）。</p>
<p>一，取犁（藜）盧二齊，烏豙（喙）一齊，礜一齊，屈居（據）□齊，蕪華（花）一齊，並和以車故脂，如□□□（四一三）裹。善灑，干，節（即）炙裹樂（藥），以靡（磨）　其騷（瘙），□靡（磨）脂□□脂，騷（瘙）即已（四一四）。</p>
<p>一，取闌（蘭）根、白付，小刌一升，舂之，以酨、沐相半洎之，毚（才）□□，置溫所三日，而入豬膏□□（四一五）者一合其中，因炊【三】沸，以敷疥而炙之。干而復敷者□。居二日乃浴，疥已。●令（四一六）。</p>
<p>一，煮桃葉，三䵟，以為湯。之溫內，飲熱酒，已，即入湯中，有（又）飲熱酒其中，雖久騷（瘙）【已】（四一七）。</p>
<p>一，干騷（瘙）：煮弱（溺）二斗，令二升；豕膏一升，治黎（藜）戶二升，同敷之（四一八）。</p>

<h1>身疕：</h1>
<p>疕毋名而養（癢），用陵（菱）叔〈敊（芰）〉熬，治之，以犬膽和，以敷之。敷之久者，輒停三日。三，疕已。●嘗試。●【令】（四一九）。</p>
<p>一，疕：嗢葵，漬以水，夏日勿漬，以敷之，百疕盡已（四二○）。</p>
<p>一，黎（藜）盧二，礜一，豕膏和，而㙭以熨疕（四二一）。</p>
<p>一，久疕不已，干誇（刳）灶，漬以敷之，已（四二二）。</p>
<p>一，行山中而疕出其身，如牛目，是胃（謂）日■（四二三）</p>
<p>一，露疕：燔飯焦，治，以久膏和敷（四二四）。</p>
<p>一，■（四二五）</p>
<p>一，以槐東鄉（向）本、枝、葉，三䵟煮，以汁■（四二六）</p>
<p>一，其祝曰：「浸㽲浸㽲蟲，黃神在灶中。□□遠，黃神興■（四二七）</p>
<p>一，涿（瘃）：先以黍潘孰灑涿（瘃），即燔數年【陳】藁，□其灰，治□□□敷涿（瘃）。已敷灰，灰盡漬□□□（四二八）摹以捚去之。已捚，輒復敷灰，捚如前。【雖】久涿（瘃），汁盡，即可瘳矣。敷藥時禁□□□□（四二九）。嘗試。●令（四三○）。</p>
<p>一，烝（蒸）凍土，以熨之（四三一）。</p>
<p>一，以兔產𨥥（腦）塗之（四三二）。</p>
<p>一，咀韰（薤），以封之（四三三）。</p>
<p>一，踐而涿（瘃）者，燔地穿而入足，如食頃而已，即□蔥封之，若烝（蒸）蔥熨之（四三四）。</p>

<h1>□蠱者：</h1>
<p>燔扁（蝙）輻（蝠）以荊薪，即以食邪者（四三五）。</p>
<p>一，燔女子布，以飲（四三六）。</p>
<p>□蠱而病者：燔北鄉（向）並符，而烝（蒸）羊尼（㞓），以下湯敦（淳）符灰，即□□病者，沐浴為蠱者（四三七）。</p>
<p>一，病蠱者：以烏雄雞一、蛇一，並直（置）瓦赤鋪（釜）中，即蓋以□，□東鄉（向）灶炊之，令雞、蛇（四三八）盡燋，即出而治之。令病者每旦以三指三最（撮）藥入一桮（杯）酒若鬻（粥）中而飲之。日壹飲（四三九），盡藥，已（四四○）。</p>
<p>一，蠱，漬女子未嘗丈夫者【布】□□咅（杯），治桂入中，令毋臭，而以□飲之（四四一）。</p>

<h1>魃：</h1>
<p>禹步三，取桃東枳（枝），中別為□□□之倡而筓門戶上各一（四四二）。</p>
<p>一，祝曰：「濆者魃父鬾母，毋匿□□□北□巫婦求若固得，□若四肨（體），編若十指，投若（四四三）□水，人殹（也）人殹（也）而比鬼。」每行□，以採蠡為車，以敝箕為輿，乘人黑豬，行人室家，□□（四四四）□□□□□□□若□□徹䔋鬾□鬾□□□□所（四四五）。</p>

<h1>去人馬疣方：</h1>
<p>取段（鍛）鐵者灰三□□□□□□□□□□□□□□□□□□□□（四四六），以蒒煮，安炊之，勿令疾沸，□不盡可一升，□□□以金□□□□□□□□□□（四四七）去，復再三敷其處而已。嘗試。毋禁。令（四四八）。</p>
<p>一，去人馬疣：疣其末大本小□□者，取夾□、白柎□，繩之以堅絜□□手結□□□□（四四九）疣去矣。毋禁，毋禁。嘗【試】。●令（四五○）。</p>

<h1>【治㾺：㾺】者</h1>
<p>癰痛而潰。㾺居右，□馬右頰【骨】，左□【馬】左頰骨，燔，治之。㹠（煮）叔（菽）取汁灑□（四五一），以彘膏已湔（煎）者膏之，而以治馬【頰骨】□□□敷布□膏□□□更裹，再膏敷（四五二），而灑以叔（菽）汁。廿日，㾺己。嘗試。●令（四五三）。一，㾺：㾺者有牝牡，牡高膚，牝有空（孔）。治以丹□□□□□□□□□□為一合，撓之，以豬織（胑）（四五四）膏和，敷之。有去者，輒逋之，勿灑。□□□□□□□□□□面靤赤已（四五五）。</p>
<p>一，㾺：㾺者，癰而潰，用良叔（菽）、雷矢各□□□□□□□□□□而蟷（搗）之，以敷癰空（孔）（四五六）中。敷【藥】必先灑之。日一灑，敷藥。敷藥六十日，㾺■（四五七）□筮（噬）：□○○○取莓莖，暴（曝）干之■（四五八）毋□□，已飲此，得臥，臥⿱⿳⿻𦥑爻一八目（覺），更得□□□□□□已解弱（溺）（四五九）□□○○○○○○○○○□□□□□□□干莓用之（四六○）。□□根，干之，剡取皮□□採根■（四六一）□十斗，以美■（四六二）</p>
