<header data-type="book">
<h1>脈訣新編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉本昌</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1941">公元1941年</data></dd></div>
</dl>
</header>

<h1>序一</h1>
<p>余自弱歲病病多，因絕意進取，稍涉獵岐黃家言，於鄉之前輩以醫鳴者無不結識，樂與講論方脈。姻丈劉篤生先生，固早以醫著，而時相過從者也。其言醫，循循然有法度，為余述辨證審脈之要，無少隱。余既宿尚斯道，先後問學於賀子儒、賓錦堂兩先生門下。卒業後，客遊無所遇，乃僦居邑廛，以行其志。歲恆不歸故鄉，遺老之素所稔識者，遂不獲亟見。民國己卯春，先生袖所著《脈訣新編》來縣寓，囑為之序。予受而讀之，先生殫精斯業，及嘉惠來學之苦心，於此具見。竊自驚歎，以久荷知愛如余者，乃今始得知先生之深為，至足愧也。古今來集脈學之大成者，必推王叔和。叔和為西晉太醫令，撰類《脈經》十卷，其言皆祖述《黃帝內經靈樞》《素問》，而翼之扁鵲、倉公、華佗、張仲景、皇甫士安之論。宋林億稱其若綱在綱，有條不紊，使人占外以知內，視死而別生，誠非過譽。世所誦習之叔和《脈訣》，皆後人所假託，碔砆亂玉，莫此為甚。乃自《脈訣》出而《脈經》隱，業醫者至不知有《脈經》。即或得見是書，大都避艱深而習固陋，每下愈況，良可浩嘆。今觀先生所編新訣，於沈微垣所定舊本，擇其可從者仍之，其紕繆者則辭而闢之，不少假借最要者，如確定寸關尺診候藏腑之支配，糾正謬妄，一以《脈經》為斷。又融會《難經》六府六藏之說，推論三焦為外府，配包絡為外藏，於五行之順逆從化，一一貫通。尤為獨具隻眼，洵習脈學者之初步階梯也。若進而窺其深，則《脈經》俱有。循是以求，思過半矣。或謂近代之談新醫學者，倡言科學化，力闢陰陽五行之說，俱謂寸口切脈為不足憑。不思《內經》明言：經脈為里，支而橫者為絡，絡之別者為孫。與西人動脈居里，靜脈在表，及微血管之說一一吻合。又云：經脈者，常不可見，其虛實也，以氣口知之。是《內經》已明示人以寸口切脈矣。即以脈象而論，緊為傷寒，虛為傷暑；虛則無力，緊如轉索，亦與科學所謂熱漲冷縮之理相符。推而言之，有諸內者必形諸外，因病異象，以象候病，本隱以之顯，泛應而曲當，學者其潛心體察，勿自亂其意焉可也。余於斯道一管之窺，乃所謂雖不能至而心向往者。讀先生是篇，不覺怦然有所興感，輒書此以答先生。若以「質諸當世。高明君子，則吾豈敢。</p>
<p><u>民國辛巳抄秋湘潭周章鸞順堂氏敬題</u></p>

<h1>敘二</h1>
<p>房兄篤生先生，幼與余同學時，即奮志進取，慨然思力學以致用。長習醫木，勤乃日精。於岐黃、越人、仲景之書，靡不洞悉。數十年來，日則出外臨症，夜則挑燈兀坐，手不釋卷，老且不衰，故於脈訣之孰偏孰正、孰是孰非，知之最審，今遂有是書之編也。夫是書之編，以王叔和所著之《脈經》所配部位確當，而沈微垣誣其粗鄙謬誤，妄為規正，後世盲從，習焉不察，一誤再誤，良可痛心。至越人《難經》，文義高古，讀者不易通曉。張氏增綴圖注，而圖注之中不無簡略之弊焉。他若李瀕湖二十七脈、崔紫虛四言脈訣，以及《奇經八脈》等書，論次雖精，於理解有未詳盡，且歌括韻語多不叶音，經先生一併彙集考正成書，錯誤悉為刪改，缺略悉為補充，辨義審音，添解補註，闡前人未闡之蘊，啟後人未啟之緘。洵《脈訣》之完書，校仇之善本矣。況近世業醫之徒，多一知半解，各承家技，面牆而立，涉海迷津。而古今方脈諸書，千緒萬端，非潛心有素，決不能收由博返約之效。今有如先生學識與老成經驗，纂要鉤玄，去訛校正，不為枕秘，以付手民，公諸世用，其裨益於天下業醫者豈淺鮮哉！余不僅為天下業醫者幸，而要為人命造福者一大幸，脈訣的即治病如神，脈學真則活人無算。先生自幼所蘄之學，不特表見於世，且以垂範濟世於無窮云。</p>
<p><u>堂弟劉本洪菊生氏序</u></p>

<h1>自敘</h1>
<p>余憶弱冠棄書時，索居無所事，思欲循習一藝，而未知所擇。一日，先父祿亭公詔而訓之曰：昔范文正公有言，不為良相，必為良醫。良醫者，濟世之要道也。汝不可因棄書而無所執業。遂遣余從學於劉君時若先生門下。逾兩月返家，先父詢以初習何書？余答曰：入門便讀《脈訣規正》。先父亦頗知醫理，諭曰：脈理為治療之本，固當引為先務。為醫者，於望聞問切四診，原不可缺一。余歸館後，即潛心考察諸書，細究脈理。按《脈訣規正》一書，系沈微垣先生所著。然其論理多近於偏，至闢王叔和先生所定脈位大腸、小腸、胞絡、三焦、命門之配，指為偽訣，歸咎於高陽生先生竊其名而作。及閱《四言脈訣》，內載辯妄。蓋沈之偏實承李中梓先生撰論之誤。籲！一誤再誤，沿襲至今，脈脈相傳，只說遵稱《內經》，竟無一人剖白。其孰真孰偽，不但不知《靈》、《素》候法，且與十二經藏府脈位之配合大相刺謬。余心恨數十年以王叔和先生之苦心孤詣，立論著書，確確鑿鑿，大中至正，竟遭後世之偽辯，反致承訛襲謬。此余今日不得不為考正其理，首列簡端，為業醫家者切正其指歸也。至於內附李瀕湖之二十七脈、崔紫虛四言脈訣，以及《奇經》、越人《圖注難經》，詳訂考據。有增損數字者，有更改全篇者，有補缺略者，有添音義者，有增加未盡其理者，一一附載是書，俾令習醫之人一覽瞭然，真偽立辯，是則余考正補註之私意也。質之當世，高明君子以為然否？</p>

<h1>卷一</h1>

<h2>李中梓沈微垣脈位原圖</h2>
<figure>
<img data-orig-src="urn:270:08930.jpg" alt="李中梓沈微坦脈位原圖">
</figure>
<p>尺內兩旁則季脅也，尺外以候腎，尺裡以候腹。中附上，左外以候肝，內以候膈；右外以候胃內以候脾。上附上，右外以候肺，內以候胸中，左外以候心，內以候膻中。</p>
<p>余按李氏上圖，左寸候心、膻中，關候肝與膈中，尺候腎及腹中小腸膀胱；右寸候肺及胸中，關候脾與胃，尺候腎及腹中大腸。所配六部，僅得脾與胃候、腎與膀胱候，其部位上下與藏府表裡相當，余皆錯配。欲遵《內經》候法，豈可令脈位混淆如此乎？不思《內經》候法言其概，叔和候法言其詳。《內經》只言上中下之候病，叔和則備述藏府十二經絡之候疾，原不可混為一談。第欲取便初學，則叔和候法實為惟一無二之門徑。惜後世之言脈者，大都陰奉陽違，遂致真理幾晦。而先生一片苦心轉遭耳食者之盲目訕謗，殊為可嘆。茲將叔和先生《脈經》所載（兩手六脈所王五藏六府陰逆順第七篇）原文摘要錄後，以備考覈。</p>
<p>其脈法贊云：肝心出左，脾肺出右，腎與命門，俱出尺部。魂魄合神，皆見寸口。左主司官，右主司府，左大順男，右大順女（下略）。</p>
<p>其分配六部云：心部在左手關前寸口是也，即手少陰經也，與手太陽為表裡，以小腸合為府，合於上焦，名曰神庭，在鳩尾下五分。</p>
<p>肝部在左手關上是也，足厥陰經也，與足少陽為表裡，以膽合為府，合於中焦，名曰胞門，在太倉左右三寸。</p>
<p>腎部在左手關後尺中是也，足少陰經也，與足太陽為表裡，以膀胱合為府，合於下焦，在關元左。</p>
<p>肺部在右手關前寸口是也，手太陰經也，與手陽明為表裡，以大腸合為府，合於上焦，名呼吸之府，在雲門。</p>
<p>脾部在右手關上是也，足太陰經也，與足陽明為表裡，以胃合為府，合於中焦脾胃之間，名曰章門，在季肋前一寸半。</p>
<p>腎部在右手關後尺中是也，足少陰經也，與足太陽為表裡，以膀胱合為府，合於下焦，在關元右。左屬腎，右為子戶，名曰三焦</p>
<p>今考運氣合藏府十二經絡圖、訂正脈位圖、及左右三部藏府圖、寸關尺定位圖，確定不易之理，一以貫之，並考正《脈訣》論於後。</p>

<h2>運氣合藏府十二經絡圖</h2>
<figure>
<img data-orig-src="urn:270:08931.jpg" alt="運氣合藏府十二經絡圖">
</figure>
<p>【附】　運氣合藏府十二經絡歌</p>
<p>醫明陰陽五行理，始曉天時民病情。五運五行五氣化，六氣天地陰陽生。火分君相氣熱暑，為合人之藏府經。天干起運地支氣，天五地六節制成。注：學醫業者，必要明天地、陰陽、五行之理，始曉天時之和不和，民之生病之情由也。人皆知五運化自五行、五質、五氣也，而不知六氣化自天地、陰陽、六質、六氣也。六質者即經曰木火土金水火，地之陰陽也，生長化收藏下應之也。六氣者即經曰風暑濕燥寒火，天之陰陽也，三陰三陽上奉之也。是以在地之火分為君火、相火，在天之氣分為熱氣、暑氣，為合人五藏六府、包絡、十二經也。天干陰陽合而為五，故主五運。甲化陽土，合人之胃，己化陰土，合人之脾。乙化陰金，合人之肺，庚化陽金，合人大腸。丙化陽水，合人膀胱，辛化陰水，合人之腎。丁化陰木，合人之肝；壬化陽木，合人之膽。戊化陽火，合人小腸；癸化陰火，合人之心。相火屬陽者，合人三焦，相火屬陰者，合人包絡。此天干合人之五藏六府、十二經也。地支陰陽合而為六，故主六氣。子午主少陰君火，合人之心與小腸也；丑未主太陰濕土，合人之脾與胃也；寅申主少陽相火，合人之三焦包絡也；卯酉主陽明燥金，合人之肺與大腸也；辰戌主太陽寒水，合人之膀胱與腎也；巳亥主厥陰風木，合人之肝與膽也。此地支之合人五藏六府十二經也。天數五，而五陰五陽，故為十干；地數六，而六陰六陽，故為十二支。天干之五必得地支之六以為節，地支之六必得天干之五以為制，而後六甲成歲。氣備，故一歲中運以七十二日五位分主之，六氣以六十日六部分主之。</p>

<h2>訂正王叔和藏府脈位圖</h2>
<figure>
<img data-orig-src="urn:270:08932.jpg" alt="訂正王叔和藏府脈位圖">
</figure>
<p>左寸浮以候小腸，沉以候心。左關浮以候膽，沉以候肝。左尺浮以候膀胱，沉以候腎。右寸浮以候大腸，沉以候肺。右關浮以候胃，沉以候脾。右尺浮以候三焦，沉以候包絡。寸主上焦，候胸中至頭之有疾。關主中焦，候膈中至臍之有疾。尺主下焦，候腹中至足之有疾。前以候前，後以候後。上竟上者，胸喉中事也。下竟下者，少腹腰股膝脛足中事也。</p>

<h2>左右三部藏府圖</h2>
<figure>
<img data-orig-src="urn:270:08933.jpg" alt="左右三部藏府圖">
</figure>

<h2>寸關尺左右定位之圖</h2>
<figure>
<img data-orig-src="urn:270:08934.jpg" alt="寸關尺左右定位之圖">
</figure>

<h2>考正《脈訣》論（劉本昌）</h2>
<p>圭齋歐陽公曰：切脈於手之寸口，其法自秦越人始，蓋為醫者之祖也。乃採摘岐黃《內經》，發《靈》、《素》之旨，設為八十一難，不待切脈、望色、聽聲、寫形，即知病之所在。後世脈理由此而起。至晉·王叔和著《脈經》十卷行世，迨後諸家力為辯妄，誣稱偽訣，沿襲錯誤已數百年矣。余考清，沈微垣所著《脈訣規正》，其辯妄言晉王叔和始以脈鳴世，撰有《脈經》，可謂詳切。惜其誤以大小腸候之兩寸，致謬於本朝。高陽生竊其名，杜撰《脈訣》，配以左心小腸肝膽腎，右肺大腸脾胃命，作歌成帙。人咸謂其淺近易於誦習，竟不知以假亂真，而《脈經》幾隱晦也（沈辨止）。又按明李中梓以崔嘉彥四言脈訣撰為新著，其辯妄謂高陽生托王叔和之名者也：自偽訣訛傳，脈法久晦，雖闢之者代有其人，奈習之者恬不知改。余（李中梓）欲起而正之。固知微塵無足岳之能，滴露乏添江之力。然天下萬世，豈無明眼？雖信余言或不及信偽訣，而信偽訣何如其信《內經》耶？今以《內經》脈法為圖，因以數言正其疵誤，但細心閱之，則鳧脛蛇足自當立辯。圖中列左寸之心候膻中，左關之肝候膈中，左尺之腎候小腸膀胱，右寸之肺候胸中，右關之脾候胃中，右尺之腎候大腸，此《內經》之三部候法也。府不及膽者，寄於肝也。不及大小腸膀胱者，統於腹中也。至偽訣（李中梓指王叔和）以大小腸配於寸上，以三焦列於左尺，以命門列於右尺，及乎厥陰膻中竟置而不言，不可不為辨，使後學有確然可遵之法也。夫寸主上焦以候胸中，關主中焦以候膈中，尺主下焦以候腹中，此人身之定位，古今之通論也。大小腸皆在下焦腹中，偽訣越中焦而候之寸上，有是理乎？滑伯仁見及此，以左尺主小腸膀胱前陰之病，右尺主大腸後陰之病，可稱千古隻眼云云（李中梓辨止）。今余仍遵叔和，未敢與沈、李苟同者，請申其說。</p>
<p>蓋叔和所配脈位，其於藏府表裡經穴一一貫通，章章可考。如左寸心配小腸，以心與小腸相表裡也；左關肝配膽中，以肝與膽相表裡也；左尺腎配膀胱，腎與膀胱相表裡。右寸肺配大腸，肺與大腸相表裡，右關脾配胃中，脾與胃相表裡；右尺胞絡配三焦，胞絡與三焦相表裡。其言表裡者，謂十二經之表裡也。越人晰言藏府之配合，三十八難推言藏五府六之理，意謂三焦一府，其經屬手之少陽，此府不同各府之在內，而屬在於氣衝之分。府也者，內焉五，外焉一，所以言府有六也。三十九難又推言府五藏六之說，以三焦不屬於五藏，故言府有五焉。以腎有兩藏，故言藏有六焉。所謂兩臟者，其左為腎、右為命門。今即其說而引申之，直可定其左為腎、右為手厥陰包絡，恰配手少陽三焦。</p>
<p>蓋三焦、包絡，一外府一外藏，以十二官為憑，亦確合二十經之數也。夫脈之應於指下者，必內藏府而外經絡，循經而朝於寸口。考《素問·靈蘭秘典》曰：心者，君主之官，神明出焉。肺者，相傅之官，治節出焉。肝者，將軍之官，謀慮出焉。膽者，中正之官，決斷出焉。膻中者，臣使之官，喜樂出焉。脾胃音，倉廩之官，五味出焉。大腸者，傳導之官，變化出焉。小腸者，受盛之官，化物出焉。腎者，作強之官，技巧出焉。三焦者，決瀆之官，水道出焉。膀胱者，州都之官，津液藏焉，氣化則能出矣。所謂膻中者何？包絡是也。觀此包絡一藏配三焦之府，以足十二經脈之數，其來已久，非創說也。至於心配小腸，肺配大腸，均配合在下之府，則又有說。越人《三十五難》曰：經言：心榮肺衛，通行陽氣，故居在上；大腸小腸傳陰氣而下，故居在下，所以相去而遠也。沈、李闢妄，言經絡相為表裡，診候自有部位，其說尤為乖謬。不思診候部位者，原欲知藏府表裡病情屬何經絡也，豈可離棄一切，空談部位哉！況辯文於厥陰膻中竟置而不言，而《脈訣》以命門寄診右尺，包絡之位究未嘗遺卻膻中部位。夫命門寄診，藉此決人生死，併合左手心肝腎、右手肺脾命，以成六脈之名。命脈非正經正臟無待言矣。越人反復詳言，瞭如指掌，沈李竟以為非而置辯。若依彼心配膻中而診，是君相二藏並位，位雖近心而職司下部，況膻中為氣海，其氣聚之海在兩乳間，而生氣之海則在臍下一寸三分。夫真心為君火，包絡為相火，三焦為氣之父，心胞為血之母，二經相為表裡，豈有舛謬哉。今改右尺為包絡藏，命門為寄診部，以別諸家之辯妄，安配三焦之府位確無疑義。茲以相生、相剋、相制之理證之。</p>
<p>夫相生者右尺少火生右關脾土，右關脾土生右寸肺金，右寸肺金生左尺腎水，左尺腎水生左關肝木，左關肝木生左寸心火，心火又生少火，所謂生生不絕，此相生之義也。相剋相制者，左寸心火克右寸肺金，賴金之子水相制也；左關肝木克右關脾士，賴土之子金相制也；左尺腎水克右尺少火，賴火之子土相制也，是對待不移之理。此相剋相制之義也。再舉所辨三部，心與小腸，肺與大腸，包絡與三焦，取十二經表裡原絡，先主後客之確據再證之：心經里之原穴神門，小腸表之絡穴支正，小腸表之原穴腕骨，心經里之絡穴通里；肺經里之原穴太淵，大腸表之絡穴偏歷，大腸表之原穴合谷，肺經里之絡穴列缺，三焦表之原穴陽池，心經里之絡穴內關，心經里之原穴大陵，三焦表之絡穴外關是矣。二十五難曰：有十二經，五藏六府十一耳，其一經何等經也？夫十二經者，心、肝、脾、肺、腎、膽、胃、大腸、小腸、膀胱、三焦，更加包絡，共十二經也。十二經中除在外之循經，凡有三百零四正穴，彼反以十二正經不列於六部正位，訛配心與包絡同診。夫心為藏，包絡亦為藏，心配包絡，即藏配其藏，非配其府也。又訛配肺與胸中，肝與膈中，將大小腸、膀胱、兩腎列於兩尺，使正經錯亂無容身之地。蓋脈有六脈，人所共知之，恰好六部，一藏一府，天然配合十二經脈，以知表裡陰陽虛實之病情，彼何加入無經絡之胸中膈中，使大小腸逼至下部，擠兩尺之候多端，其理可通乎？抑有經絡可憑乎？但彼心與膻中及大腸於右尺，小腸於左尺，位雖訛配，而名猶在十二經之內。若胸中膈中無藏府表裡之配合，居於經外而強為藏府者，有是理乎？開言遵《內經》之候法，以壓天下後世，不知秦越人採摘《內經》，發《靈》、《素》之旨，豈扁鵲《難經》不知《內經》為法，欲貽誤後人乎？若沈、李闢論中述《內經》寸部候上焦至頭之有疾，關部候中焦至腹中之有疾，尺部候下焦至足之有疾，此《內經》本指胸中、膈中、腹中，上中下三焦之候法，而言非為左右六部十二經藏府脈位而言。後世不揣，承訛妄辨，使王叔和、高陽生有功不著，反受庸俗之誣辯，實不知此候法矣。</p>
<p>籲，數百年來往往注書言脈者，皆稱偽訣，至彼尺外以候腎、尺裡以候腹，王注外謂外側，里謂內側。李注外謂前半部，里謂後半部。若謂外側、內側為是，則脈有兩條；若謂前半部、後半部為是，則脈截斷矣。此候腎候腹難為後世法。叔和評以浮沉候之，伊亦有辯言。謂《脈訣》左寸浮以候小腸之脈，沉以候心之脈，設或單浮則心脈無矣。經曰心脈絕，死不治。心脈可以一日無乎？余謂此辯若借設，或難罄其言。夫人身之疾病切脈雖知，實無真藏形跡，不過十二經脈上朝於寸口可診，豈有絡於不經之胸中膈中，而不能絡於在經之大腸小腸乎？若謂不然，只可頭疾診乎頭，足疾取乎足脈乎？然沈微垣五行圖中，六脈亦列相火於右尺。李中梓四言脈中，有命脈將絕之文，五臟本脈有右尺相火與心同斷之句。審若是，則命脈究於何部可診？彼辟命門無經絡，妄配右尺，而其配在右尺者為相火，因包絡屬火同氣，連位寄此，決人生死也。前辯大小腸在下焦腹中，不宜越中焦而候寸上，何以又言陽維脈從左手足少陰腎經斜至寸上手太陽小腸之位，豈非心脈當配小腸乎？何辯文矛盾若此！</p>
<p>余細玩諸家所辯，其言各殊，其用則一。而惟沈、李闢辯，詞理顛倒，真令人如墮五里霧中，故不得已而辯也。</p>

<h2>內景真傳圖</h2>
<figure>
<img data-orig-src="urn:270:08935.jpg" alt="內景真傳圖">
</figure>
<p>腦者髓之海，諸髓皆屬於腦，故上至腦下至尾骶，髓則腎主之。膻中者即包絡，名氣海，在兩乳間，氣所居焉。穴在臍下一寸三分，能分布陰陽氣之生源，命之主也。故為人父母者不可損也。膈膜者，在心肺之下，肝腎之上，貼於脊，膈間周圍遮幔如幕下垂，以蔽濁氣，不至上熏心肺。</p>
<p>胃者、水穀之海。飲食入胃，由脾運化而傳送大小腸。故經曰：胃陽弱而百病生，脾陰足而萬邪息。</p>
<p>賁門者、胃之上口，下以透膈，即太倉胃口也。</p>
<p>幽門者、謂幽微隱秘之深處，水穀由此傳人小腸，下至闌門，乃泌清別濁而轉入大腸，清滲於膀胱而通藏府焉。</p>
<p>人之一身，藏府經絡，百骸九竅，盡皆貫通。故外有感傷，內有傳變。今繪小圖以便熟玩。</p>

<h2>內景真傳說</h2>
<p>前賢於人身之經絡，部分重見疊出，而於內景則略之。華佗雖有內照圖，然亦有難辨而未悉者。余故考而分別之。前自氣管以下聯絡皆藏也。後自食管以下，聯絡皆府也。口之上下謂之唇，名曰飛門，言其動運開張，如物之飛也。口內居者為舌，舌乃心之苗，其舌本又屬脾腎二經。舌下有二隱竅，名曰廉泉，動而津液湧出，下通於腎。如腎水枯涸，津液不能上潮，則口乾燥矣。其上下齒牙為戶門，雖屬手足陽明二經，而其本又屬於腎，以其腎主骨也，故曰齒乃骨之餘。其喉間如小舌之垂下者，名曰懸壅，乃發生之機也。再下又有會厭，居吸門之上，其大如錢，為聲音之關。薄而易起，音快而便；厚而遲起，音慢而重。項前硬管，謂之喉嚨，主氣。經曰，喉以侯氣，即肺管也。管有十二節，長七寸，下連於肺。經曰：肺為相傅之官。形如華蓋，六葉兩耳，上有二十四孔，主藏魄。心居肺下，形如未開蓮花，其位居中而前。經曰：心為君主之官。上有七竅三毛，主藏神，周旁有脂膜裹之，是為心包絡。近下另有膈膜一層，周圍張大黏連胸脊之前後，以遮膈下之濁氣，不使上薰心肺也。其膈膜之上謂之膻中，即包絡。經曰膻中為氣之海，乃清氣所居之地，而為上焦主持呼吸而條貫百脈者也。心發四系，一系上連於肺，一系從左透膈膜而下通於肝，肝如春木甲柝之象。經曰肝為將軍之官，主藏魂。肝凡七葉，而膽附於肝之短葉。膽為清淨之府，有上口而無下口，又謂之青腸，一系從右透膈膜而下通於脾。脾如馬蹄掩於太倉之上，太倉即胃也。經曰脾胃為倉廩之官，主磨水穀，其位居中，主藏意，一系透膈膜循脊直下而通於腎。腎有二枚，形如豇豆，色紫黑，後著脊第十四節兩旁筋膂間。經曰腎為作強之官，主藏精與志。左一枚陰水居焉，右一枚相火居焉，其中正謂之命門，經曰七節之旁，而有小心者是也，乃人身立命之根本。此言五藏及包絡外藏皆統而相連者也。喉嚨後管名曰咽門，以咽物也。嚥下為胃管，長一尺三寸，下連賁門，即胃之上口也。下以透膈，乃太倉胃口也。胃又謂之黃腸，與脾相為表裡。脾為運化之原，胃為藏納之府，主腐熟水穀，合變化為中焦。胃之下口為幽門，謂幽微隱秘之處，水穀由此而傳人小腸，小腸承受化物，經曰小腸為受盛之官，化物出焉。又謂之赤腸。其下口謂之闌門，謂闌住水穀，泌清別濁而分入大腸、膀胱也。其泌之清者前以滲人膀胱，膀胱與小腸脂膜相連，無上口而有下口。小腸泌之清者從而滲入之，其中空虛，善受濕氣，故津液藏而化為溺。經曰膀胱為州都之官，氣化則能出矣。又謂之黑腸。下口有管直透前陰而溺出焉。其泌之濁者，後以轉入大腸而為糞。大腸積疊十六曲，故又名迴腸，又名為白腸，二藏咸稟下焦決瀆之氣，傳導穢滓從直腸而出肛門。直腸在肛門之上，長七寸。肛門又名魄門，人死魄從此則去。此言六府皆統而相連者也。</p>

<h2>《內經》五藏六府十二官論</h2>
<p>《靈蘭秘典》曰：心者、君主之官，神明出焉（心者，一身之主，故為君主之官。其藏神，其位南，有離明之象，故曰神明出焉）。肺者、相傅之官，治節出焉（位高近君，猶之宰輔，故為相傅之官。肺出氣，調則藏府諸官聽其節制，無所不治，故曰治節出焉）。肝者、將軍之官，謀慮出焉（肝為震卦，壯勇而急，故為將軍之官。肝為東方龍神。龍善變化，故曰謀慮出焉）。膽者、中正之官，決斷出焉（膽性剛直，故為中正之官，剛直者善決斷。肝雖勇，決非膽不斷，故曰決斷出焉）。膻中者，臣使之官，喜樂出焉（膻中青，心主之官城，因其貼近君主，故稱臣使。沈氏曰：按十二藏內有膻中而無包絡，十二經內有包絡而無膻中，乃知膻中即包絡也包絡即膻中也。況喜笑屬火，此云喜樂出焉，其代心君也明矣）。脾胃者、倉廩之官，五味出焉（胃司受納、收藏之職，脾司運化轉輸之官。一府一藏，二官相為表裡，故統為倉廩之官。二官相合，輸布運化，而知五味，故曰五味出焉）。大腸者、傳導之宮，變化出焉（大腸居小腸之下，主出糟粕，故名變化傳導也）。小腸者、受盛之官，化物出焉（小腸居胃之下，受盛胃之水穀而分泌清濁，水液滲於膀胱，糟粕歸於大腸，故曰化物出焉）。腎者、作強之官，技巧出焉（腎處北方，屬水而主骨，宜為作強之官。水能化生萬物，故曰技巧出焉）。三焦者決瀆之官，水道出焉（上焦如霧，中焦如漚，下焦如瀆，三焦氣治則水道疏通，故名為決瀆之官）。膀胱者、州都之官。津液藏焉，氣化則能出矣（膀胱位居卑下，故名為州都之官。水穀循下焦而滲入膀胱。蓋膀胱有下口而無上口，津液之藏者皆由氣化滲入，然後能出而為溺，故曰氣化則能出焉）。凡此十二官者，不得相失，失則為病（失則不能相使而疾病乃作矣）。故曰主明則下安，主不明則十二官危（主者、首主之官也。主明則十二官奉令承命，而君主不明則諸臣曠職，自上及下，相使之道不通，即不奉命而危矣）。</p>

<h2>十二經藏府手足陰陽表裡圖</h2>
<figure>
<img data-orig-src="urn:270:08936.jpg" alt="十二經藏府手足陰陽表裡圖一">
</figure>
<figure>
<img data-orig-src="urn:270:08937.jpg" alt="十二經藏府手足陰陽表裡圖二">
</figure>
<figure>
<img data-orig-src="urn:270:08938.jpg" alt="十二經藏府手足陰陽表裡圖三">
</figure>

<h2>三焦圖</h2>
<figure>
<img data-orig-src="urn:270:08939.jpg" alt="三焦圖">
</figure>
<p>前之三焦形式狹小，不能盡悉，復繪此圖以備觀覽。</p>
<p>《中藏經》曰：三焦者，乃人身最關要之府，與手厥陰心包絡相為表裡。人之三焦如天地之三元，總領五藏六府、營衛經絡、內外左右、上下之氣，三焦通則內外、左右、上下、藏府經絡皆通。其於周身灌體，和內調外，榮左養右，導上宣下，莫不由此而運用之。故診脈入式歌云：三焦位居上下中，藏及胞絡皆相應。應者，運動周流不息之謂也。</p>

<h2>膻中胞絡辯</h2>
<p>包絡者，包心之絡也。《內經》十二官有膻中無包絡，十二經有包絡無膻中。《靈樞》敘經絡篇內亦有包絡無膻中。然曰動則喜笑不休，正與十二官內喜樂出焉相合，豈非包絡即膻中，膻中即包絡乎？況十二經絡內，包絡凡九穴，左右十八穴，起天池而終中衝，是內有藏府經絡之據。不知古人設兩名色何也？後之學者，當知包絡即膻中為是。</p>

<h2>五藏生成喜惡色味之圖</h2>
<figure>
<img data-orig-src="urn:270:08940.jpg" alt="五藏生成喜惡色味之圖">
</figure>

<h2>命門圖</h2>
<figure>
<img data-orig-src="urn:270:08941.jpg" alt="命門圖">
</figure>
<p>趙氏《醫貫》曰：命門在人身中對臍附脊，自上數下第十四椎，自下數上第七椎。經曰：七節之旁而有小心是也。此處各開一寸五分，乃是兩腎，左腎屬陰水，右腎屬陽水。陰水生肝木，陽水生少火，少火生脾土。少火即相火也。少火雖由君火生來，其實自命門發源也。又曰：人身各具一太極，太極在人身正象兩腎之形。其兩腎中間有穴為命門，靜則合乎水，動則變乎火，一動一靜而真陰真陽生焉，實人身之根本也。即太極動而生陽，靜而生陰之意。夫太極一動一靜而生水木火土金，命門一動一靜而生腎肝心脾肺，此生成自然之理。趙氏圖兩腎象太極，發前人之所未發也。男女交媾，其中有白膜煽動吸嘬，而精從此生矣。</p>
<p>趙氏曰：兩腎俱屬水，左為陰水，右為陽水，中間是命門，命門右邊小白圈是相火之穴，左邊小黑圈是陰水之穴。此一水一火俱無形，日夜潛行不息，息則無生矣。</p>

<h2>藏府十二時流注圖</h2>
<figure>
<img data-orig-src="urn:270:08942.jpg" alt="藏府十二時流注圖">
</figure>
<p>歌曰：肺寅大卯胃辰宮，脾巳心午小未中，膀申腎酉心胞戌，亥三子膽醜肝通。</p>

<h2>五行相生應脈圖</h2>
<figure>
<img data-orig-src="urn:270:08943.jpg" alt="五行相生應脈圖">
</figure>
<p>此五行生成之理也。金木水土皆一，惟火有二。君火不主令，相火代之。右尺者，相火也。夫火能生萬物，此火存，所以能生脾土則生；此火滅，所以不能生脾土則死。是以前賢多以此部斷生死，故名之曰命門。</p>

<h2>四時五藏平脈圖</h2>
<figure>
<img data-orig-src="urn:270:08944.jpg" alt="四時五藏平脈圖">
</figure>
<p>歌曰「春中若得四季脈，不治多應病自除」者，是微邪也。賦云「春得脾而莫療，反以微邪為可畏」，何也？是春中獨見脾脈也。春乃肝令而不見肝木之脈，是木自衰矣。木衰則土盛，土盛則生金，金來剋木，故可畏也。若春中脈得微弦帶緩，是本脈尚存，雖脾上乘之，則為微邪，不足慮也。若本脈全無，獨見脾脈，是則為害，余藏仿此。</p>

<h2>四時五藏邪脈圖</h2>
<figure>
<img data-orig-src="urn:270:08945.jpg" alt="四時五藏邪脈圖">
</figure>
<p>歌曰：順候是無邪，四時同若此。賊脈問五行，反候終言死。虛則補其母，實則瀉其子。克彼是微邪，不治病自愈。</p>

<h2>十四穴動脈圖</h2>
<figure>
<img data-orig-src="urn:270:08946.jpg" alt="十四穴動脈圖">
</figure>
<p>膻中（在兩乳中間，屬任脈。經曰：膻中為氣海。乃氣聚之海，非生氣之海。生氣之海在臍下一寸五分。膻中宜灸不宜針〕</p>
<p>三焦（上焦在心下下膈，中焦在胃中脘，下焦在臍下。經曰：上焦如霧，氣之源也；中焦如漚，血之源也；下焦如瀆，水之源也）</p>
<p>期門（穴在乳下兩肋端，有動脈是穴）</p>
<p>丹田（在臍下三寸，《難經·疏》丹田即關元，乃元氣之根本也）</p>
<p>人迎（左手關前一分是也。《脈經》曰：人迎緊盛傷於寒。乃在左手關上前一分也）</p>
<p>氣口（右手關前一分是也。《脈經》曰：氣口緊盛傷於食。乃在右手關上前一分也）</p>
<p>衝陽（二穴在左右兩足跗上五寸陷中，有動脈是穴，屬足陽明胃經。人病危殆，寸關尺三部皆無，可去衝陽、太衝，太谿三脈診之，如存，尚有可生之意，即樹無葉而有根也）</p>
<p>太衝（二穴在左右兩足大趾本節後三寸陷中，有動脈是穴，屬足厥陰肝經）</p>
<p>太谿（二穴在左右兩足踝後，跟骨間陷中，有動脈是穴，屬足少陰腎經）</p>

<h2>五藏之腧皆繫於背圖</h2>
<figure>
<img data-orig-src="urn:270:08947.jpg" alt="五藏之腧皆繫於背圖">
</figure>
<p>人身經絡穴道繁密，難以記取，今將五藏六府諸腧繪成小圖，為初學入門者一目瞭然，便知某藏在某處也。</p>
<p>肺腧在第三椎，厥陰心包腧在第四椎，心腧在第五椎，督腧在第六椎，膈腧在第七椎，肝腧在第九椎，膽腧在第十椎，脾腧在第十一椎，胃腧在第十二椎，三焦腧在第十三椎，腎腧在第十四椎，氣海腧在第十五椎，大腸腧在第十六椎，關元腧在第十七椎，小腸腧在第十八椎，膀胱腧在第十九椎，中膂腧在第二十椎，白環腧在二十一椎。</p>
<p>以上諸藏府穴腧皆夾脊兩旁，各開一寸五分。故經曰背為五藏之腧。凡癰疽大瘡生於背，人咸為惡症，以其內連藏府故也。</p>

<h2>《內經》三部九候脈法</h2>
<p>《三部九候論篇》帝曰：願聞天地之至數，合於人形血脈，通決死生，為之奈何？岐伯曰：天地之至數始於一，終於九焉。一者天，二者地，三者人，因而三之。三三者九，以應九野。故人有三部，部有三候，以決死生，以處百病，以調虛實而除邪病。帝曰：何為三部？岐伯曰：有下部，有中部，有上部。部各有三候，三候者，有天有地有人也。必指而導之，乃以為真。上部天，兩額之動脈（在額兩旁，動應於手，足少陽脈氣之所行也）。上部地，兩頰之動脈（在鼻孔下兩旁近於巨髎之分，動應於手，足陽陰脈氣之所行也）。上部人，耳前之動脈（在耳前陷中，其動應於手少陽脈氣之所行也）。中部天，手太陰也（謂肺脈在掌後寸口中，是謂經乘動應於手也）。中部地，手陽明也。（謂大腸脈在手大指次指岐骨之間，合骨之分，動應於手也）。中部人，手少陰也（謂心脈在掌後銳骨之端，神門之分動應於手也）。下部天，足厥陰也（謂肝脈在毛際外，羊矢下一寸半陷中，五里之分，臥而取之動應於手也。女子取太衝，在足大指本節後二寸陷中是也）。下部地，足少陰也（謂腎脈在足內踝後跟骨上陷中太谿之分，動應於手也）。下部人，足太陰也（謂脾脈在魚腹上趨筋間直五里，下箕門為內股之分，沉取之乃得動應於手也。候胃氣者，當取足跗上衝陽之分，穴中動脈乃應於手也）。故下部之天以候肝，地以候腎，人以候脾胃之氣，中部之天以候肺，地以候胸中之氣，人以候心。上部之天以候頭角之氣，地以候口齒之氣，人以候耳目之氣。三部者，三而三之，合則為九。九分為九野，九野為九藏（以是應天地之數）。故神藏五，形藏四，合為九藏（所謂神藏者，肝藏魂，心藏神，脾藏意，肺藏魄，腎藏志也。以其皆神氣居之，故曰神藏五也。所謂形藏者，皆如器，外張虛而不屈，合藏於物，故云形藏也。四者，一頭角、二耳目、三口齒、四胸中也），九候之相應也。上下若一，不得相失。一候後則病，二候後則病甚，三候後則病危，所謂後者應不俱也（張澹初曰：此古聖慎重之訟。通身候轉，病無隱焉。今則廢其二，只以氣口一診，猶爾舛謬，故錄此以備學者覽焉）。</p>

<h2>持脈手法</h2>
<p>滑伯仁曰：診脈之道，先調平自己氣息，男子先診左手，女人先診右手，而以己之中指按對彼之掌後高骨，是為關位。若不見脈，其人脈在手之上側，須遍尋而得之，名曰反關脈。此亦百中之偶一耳，姑舉以備可預知而存之矣。既得關位，卻齊下名、食二指。其人臂長，疏排其指；臂短，密排其指。初以食指輕按寸上浮以消息之，次中按以消息之，次重按以消息之。上竟以消息之，下竟以消息之，推而外以消息之，推而內以消息之，然後中關名（無名指也）尺，一一類此以消息之。復以三指合總以消息之，兩手六部皆如是以消息之。要以一呼一吸之間，脈行四至為率。呼出心肺，吸入肝腎，脾居其中，故五至而得胃氣為平脈也。其有太過不及，即是病脈。看其八脈應於何指，而為病不越乎八要也。外觀形色，悉望、聞、問、切之情，乃以各部參斷而忠告之。如輕言談笑，亂說是非，左右瞻顧，舉止忽略者，乃庸下之醫，仁人君子弗為也。</p>

<h2>診脈三要</h2>
<p>滑伯仁曰：診脈之要有三：一曰舉，二曰按，三曰尋。輕手得之曰舉，重手取之曰按，不輕不重，委曲求之曰尋。初持脈輕手候之，脈見皮毛之間者，陽也，腑也，亦心肺之應也。重手按之，脈伏於肉下者，陰也，藏也，亦肝腎之應也。不輕不重而取之，其脈應乎血肉之間者，陰陽相適中和之應，脾胃之候也。若浮中沉之不見則委曲而求之，若隱若見，則陰陽伏匿之脈也。六脈皆然，今一一細陳之，庶使學者無遺蘊焉。</p>
<p>肺合皮毛，肺脈循皮毛而行。持脈指法如三菽之重，按在皮毛而得者為浮；稍稍加力，脈道不利者為澀；又稍加力，不及本位者為短，乃肺之帶胃氣而神應者也。</p>
<p>心合血脈，心脈循血脈而行。持脈指法如六菽之重，按至血脈而得者為洪；稍稍加力，脈道粗者為大；又稍加力，脈道闊軟者為散，乃心之帶胃氣而神應者也。</p>
<p>脾合肌肉，脾脈循肌肉而行。持脈指法如九菽之重，按至肌肉如微風輕颭柳梢之狀為緩；次稍加力，脈道敦厚者為大，乃脾胃之王氣而神應者也。</p>
<p>肝合筋，肝脈循筋而行。持脈指法如十二菽之重，按至筋，而脈道如箏弦相似者為弦；次稍加力，脈道迢迢者為長，乃肝之帶胃氣而神應者也。</p>
<p>腎合骨，腎脈循骨而行。持脈指法如十五菽之重，按至骨上而得者為沉；次重按之，脈道無力為弱，舉指來疾流利者為滑，乃腎之帶胃氣而神應者也</p>
<p>以上五藏之平脈，務宜究熟。一遇病脈，自然可曉。經曰：先識經（常也）脈而後識病脈，正此之謂也。</p>

<h2>診家樞要</h2>
<p>經曰：脈者，氣血之先也。氣血盛則脈盛，氣血衰則脈衰，氣血熱則脈數，氣血寒則脈遲，氣血微則脈弱，氣血平則脈治。又人長則脈長，人短則脈短，性急人則脈急，性緩人則脈緩。男子左手脈大，女子右手脈大。男人尺脈常弱，女人尺脈常盛。又室女、尼姑與老人之脈皆濡而弱。此皆是其常也，反之者則為逆耳。</p>

<h2>脈察六字</h2>
<p>經曰：上、下、來、去、至、止六字，為脈之神機也。不明六字，則陰陽虛實不別也。上者為陽，下者為陰；來者為陽，去者為陰；至者為陽，止者為陰。上者自尺部上於寸口，陽生於陰也，下者自寸口下於尺部，陰生於陽也。來者自骨肉之分而出於皮毛之際，氣之升也。去者自皮膚之際而還於骨肉之分，氣之降也。應曰至，息曰止也。</p>

<h2>反關脈</h2>
<p>反關脈者，不行於寸口，由肺列缺穴斜刺臂側入大腸陽谿穴而上食指，故名反關。有一手反關，有兩手反關，此得於有生之初，非病脈也。其三部定位，九候淺深與平常應見寸口無異。《脈經》謂之弟乘兄位。故崔紫虛四字脈歌曰：平人無脈，移於外絡，兄位弟乘，陽谿列缺。此脈千百人中僅一耳。</p>

<h2>無脈候</h2>
<p>夫無脈之候，所因不一。久病無脈，氣絕者死。暴病無脈，氣鬱可治。傷寒風痛，痰積經閉，憂驚折傷，關格吐利，運氣不應，斯皆無忌。</p>

<h2>脈貴有神</h2>
<p>東垣曰：不病之脈，不求其神而神無不在也。有病之脈，則當求其神之有無，謂如六數七極，熱也，脈中有力即有神矣，為泄其熱。三遲二敗，寒也，脈中有力即有神矣，為去其寒。若無力即無神矣，將何恃耶？苟不知此而泄之、去之，神將何以而生耶？故曰：脈者、氣血之先也，氣血者、人之神也。</p>

<h2>常變四診法（張介賓）</h2>
<p>持脈之道，須明常變。凡眾人脈有素大素小、素陰素陽者，此其賦自先天，各成一局也。邪變之脈，有倏緩倏疾、乍進乍退者，此其病之驟至，脈隨氣見也。故凡診脈者，必須先識藏脈而後可以察病脈；先識常脈，而後可以察變脈。於常脈中可察人之器局壽夭，於變脈中可察人之疾病吉凶。診家大要當先識此。凡診病之法，固莫妙於脈。然有病脈相符者，有脈病相左者，此中大有玄理。故凡值疑似難明處，必須用四診之法詳問其病由，兼辨其聲色，但於本末先後中正之以理，斯得其真。若不察此，而但謂一診可憑，信手亂治，亦豈知脈證最多真假，見有不確，安能無誤？且常診者知之猶易，初診者決之甚難，此四診之所以不可忽也。故《難經》以切居四診之末，其意深矣。陶節庵亦曰：問病以知其外，察脈以知其內，全在活法二字，乃臨症切脈之要訣也。此義惟汪石山言之最詳，並附於後卷。</p>

<h2>從脈從症法（張介賓）</h2>
<p>從脈從症之法，乃以病有輕重為言也。如病本輕淺，別無危候者，但因見在以治其標，自無不可，此從症也。若病關藏氣，稍見疑難，則必須詳辨虛實，憑脈下藥，方為切當。所以輕者從症，十惟一二；重者從脈，十當八九。此脈之關係非淺也。雖曰脈有真假，而實由人見之不真耳，脈亦何從假哉！</p>

<h2>從舍辨（張介賓）</h2>
<p>凡治病之法，有當舍症從脈者，有當舍脈從症者何也？蓋症有真假，脈亦有真假。凡見脈症有不相合者，則必有一真，一假隱乎其中矣。故有以陽症見陰脈者，有以陰症見陽脈者，有以虛症見實脈者，有以實症見虛脈者，此陰彼陽，此虛彼實，將何從乎？病而遇此，最難下手，最易差錯。不有真見，必致殺人。矧今人只知見在，不識隱微。凡遇症之實而脈之虛者，必直攻其症而忘脈之真虛也。或遇脈之弦大而症之虛者，亦必直攻其脈則忘其症之無實也。此其故正以似虛似實，疑本難明，當舍當從，孰知其要，醫有迷途，莫此為甚。余嘗熟察之矣，大都症實脈虛者，必其症為假實也；脈實症虛者，必其脈為假實也。何以見之？如外雖煩熱而脈見微弱者，必大虛也。腹雖脹滿而脈見微弱者，必胃虛也。虛火虛脹，其堪攻乎？此宜從脈之虛，不從症之實也（其有本無煩熱而脈見洪數者，非火邪也；本無脹滯而脈見弦強者，非內實也；無熱無脹其堪瀉乎？此宜從症之虛，不從脈之實也。凡此之類，但言假實，不言假虛，果何意也？蓋實有假實，虛無假虛。假實者，病多變幻，此其所以有假也；假虛者，虧損既露，此其所以無假也。大凡脈症不合者，中必有奸，必先察其虛以求根本，庶乎無誤。此誠不易之要法也）。</p>

<h2>九候雖調肌肉大脫者不治</h2>
<p>此岐伯欲人以脈合形也。蓋形肉者，脾所主也。脾為中土，土者萬物之母。觀其形肉脫則脾壞於內而根本喪矣，即使九候雖調，猶未免於死也。形可以忽視乎哉！</p>

<h2>男女異脈辨</h2>
<p>男子以陽為主，兩寸之脈常旺於尺。若寸弱尺盛者，腎不足也。腎不足則火盛，遺精、淋濁、陰虛發熱、咳嗽等症作矣。女人以陰為主，兩尺之脈常旺於寸。若尺弱寸盛者，上焦有餘也，上有餘下則虧，衝任不調，月事不準、崩帶等症作矣。故不足固病，有餘亦病，過猶不及也。</p>

<h2>老少異脈辨</h2>
<p>老弱之人，脈宜緩弱，若過旺者，病也。少壯之人，脈宜充實，若脈過弱者，亦病也。然尤有說焉：有老人脈旺而非躁，此天稟之厚，引年之叟也，名曰壽脈。若脈躁疾，有表無里，此孤陽也，其死近矣。有少年脈細而和緩，三部皆同，此天稟之靜，清逸之士也，名曰清脈。</p>

<h2>五藏六府歌</h2>
<p>《素問》曰：五藏者，藏精氣而不泄，故滿而不能實。六府者，傳化物而不藏，故實而不能滿。</p>

<h3>心藏歌</h3>
<p>心藏身之精，小腸為弟兄（心者一身之本，主藏精神，靈機莫測，應變無窮，主宰萬事，無不是心經之運，故曰身之精，與小腸合，為之表裡，故曰弟兄）。象離隨夏旺，屬火向南明（心為君火，象在離位，隨夏而旺。向南而明，火之位也）。任物無纖巨，多謀最有靈（任、承任也。纖、細也。巨、大也。心本虛靈，應事無跡，圖謀事物，最是神靈。千緒萬端，不問鉅細，自能靈機應變）。內行於血海，外應舌將榮（心主血，肝藏血。肝雖為血海，實由心經運行於肝也。舌乃心之苗，故外應之能榮，動而知味也）。七孔多聰慧，三毛上智英（上智之人，心有七孔三毛，以通神明，自然聰穎智慧。若下愚者，未必有也）。反時憂不解，順候脈洪平（反時音，反其當時之脈也。心屬火位，脈當浮洪，是為平脈。若反其時，脈當浮洪反得沉濡而細，是水剋火也。故憂之，不能解救矣）。液汗通津潤，聲言爽氣清（心之液為汗，順則通活津潤。心之聲為言，順則氣和言語清爽）。味苦顏赤色，喜黍惡炎蒸（經云，其味苦，其色赤，其喜黍，其惡熱是也）。伏梁秋得積，如臂系臍縈（心之積名曰伏梁，如手臂在臍上，環臍縈結而病。以秋庚辛曰得之，何也？乃腎病傳心，心當傳肺，肺以秋令適王，王者不受邪，心復還腎，腎不肯受，故留結為積。久不已，令人心煩）。順視雞冠色，凶看瘀血凝（心屬南方火位，視其色如雞冠者順，於瘀血黑結者逆。乃水來剋火，故曰凶）。診時須審委，細察在精誠（言診脈之時，必審之委曲、細察病源，要精誠不致差誤也）。實夢憂驚怪，虛翻煙火明（心氣實則熱，熱則故夢驚恐怪異之事，心氣虛則怯，怯則火炎，故夢煙火光明之事）。稱之十二兩，大小與常平（心重一十二兩，附著於脊之第五椎，居肺下膈上，中有七孔三毛，盛精汁三合，主藏神，大小常等。《素問·靈蘭秘典》曰：心者君主之官，神明出焉）。小腸廣二五，三丈一尺零（小腸大二寸半，徑八分之少半，長三丈一尺。盛谷二斗四升，水六升三臺合之大半，後附於脊，左環回積疊十六曲。《素問·靈蘭秘典》曰：小腸者，受盛之官，化物出焉）。</p>

<h3>肝藏歌</h3>
<p>肝藏應春陽，連枝（同氣也）膽共房（肝屬木應春而發生，陽和之象也。與膽為表裡。膽附於肝之短葉，故曰共房）。色青形象木，位列在東方（肝之色青象木，位在東方，屬甲乙也）。含血榮於目，牽筋爪運將（含、藏也。肝藏血而為血海，開竅於目，筋爪屬肝，皆血之榮養運用也。故曰目得血而能視，掌得血而能握，指得血而能拾，足得血而能步）。逆時主恚（音悔，恨也）怒，順候脈弦長（肝經不順則常多恚怒，如得弦長之脈斯順候也）。泣下為之液，聲呼是本鄉（泣淚者。肝之液。呼者，肝之聲。本鄉者，出於本藏也）。味酸宜所納，麻麥應隨糧（酸者肝之味，得酸則喜納。麻者，肝之谷，故曰隨糧。一曰麥，蓋麻麥皆肝之谷也）。實夢山林樹，虛看細草芒（肝實則夢山林大樹，肝虛則夢細草芒芒）。積因肥氣得，杯覆脅隅（音虞，陬角也）旁（肝之積曰肥氣，在左脅下，如覆杯。以季夏戊己日得之，何也？乃肺病傳肝，肝當傳脾，脾以季夏適王，王者不受邪，肝復還於肺，肺不肯受，故留結力積。久不愈，令人發咳逆㾬瘧，連歲不己）。翠羽身將吉，顏同枯草殃（觀其顏色，如翠羽之青者吉，如枯草之色者殃）。四斤餘四兩，七葉兩分張（肝重四斤四兩，左三葉右四葉，附著於脊之第九椎，主藏魂。《素問》曰：肝者、將軍之官，謀慮出焉）。膽長三寸許，三兩三銖囊（膽長三才，重三兩三銖，藏於肝之短葉。膽有上口而無下口，故曰囊。《素問》曰：膽者、中正之官，決斷出焉〕。</p>

<h3>脾藏歌</h3>
<p>脾藏象中坤，安和對胃門（脾屬中央戊己土，在卦為坤，在時為四季。與胃相和而為表裡，故曰對門）。旺時隨四季，自與土為根（脾屬土，旺於四季辰戍丑未之月，每季旺十八日，故用令記謂土王用事）。味甘涎是液，藏意色黃敦（土之味本甘，其液乃化為涎。主藏意，黃乃土之色，敦厚乃土之性）。磨谷能消食，榮身本在溫（脾胃為飲食之藏府。脾胃和則能消磨五穀，榮養身體。本在溫暖，不宜大寒，故土暖則萬物生，土寒則萬物死）。應唇通口氣，連肉潤肌臀（脾之華在唇之口舌，故曰應唇。脾氣通於口，則知五味。以養肌肉，肉分氣實，則肌臀肥澤）。形廣長三五，膏凝散半斤（脾重二斤三兩，扁廣三寸，長五寸，有散膏半斤裹之。主藏意，溫五藏。《靈蘭秘典》云：脾胃者，倉廩之官，五味出焉）。順時脈緩慢，失則氣連吞（脾脈本和緩，如春風舞柳曰順。如脈來連連湊指，如鳥吞食之狀，即雀啄屋漏之意，乃脾氣衰也，故曰失）。實則歌歡樂，虛爭飲食分（歌樂皆發於脾胃，實則氣血充滿，故夢歌歡虛則脾胃空虛，故夢爭食）。濕多成五瀉，腸響若雷奔（脾喜燥而惡濕，如受濕過多，則濕寒相搏，故脾胃雷鳴如奔響而泄瀉也。五瀉注見《難經》）。痞氣冬為積，皮黃四體昏（脾之積名曰痞氣，在胃脘，覆如盤，大小不一，以冬壬癸日得之，何也？此乃肝病傳於脾，脾當傳於腎，腎以冬月適王，王者不能受邪。故脾復還於肝，肝不肯受，因留結而為積。久不愈，令人四肢不能收，發為黃疸，飲食不為肌膚）。二斤十四兩，三斗五升存（胃重二斤十四兩，大一尺五寸，徑五寸，長二尺六寸。其形扁屈，盛谷二斗，容水一斗五升而滿。一日常消水穀五升，七日消盡水穀則死。《內經》曰：平人七日不食則死，即此謂也）。</p>

<h3>肺藏歌</h3>
<p>肺藏最居先，大腸通道宣（肺為五藏之華蓋，居於最上，故曰最先。大腸為之府，主傳導諸物）。象兌隨秋旺，金屬五行牽（在卦為兌，在時為秋，在五行屬金，居西方之位也）。皮與毛相應，魂將魄共連（肺主氣，外應於皮毛，故皮毛者肺之屬也。肝藏魂，肺藏魄，《內經》：陽動陰靜則魂遊於魄，陰動陽靜則魄遊於魂，故曰共連也）。鼻聞香臭辨，壅塞氣相煎（鼻乃肺之竅，肺氣利則能辨物之香臭；肺氣病則鼻氣壅塞而不寬也）。語過多成嗽，瘡浮酒灌穿（肺主氣，語言過多則傷中氣，恐成勞嗽。經曰：疊言朗誦則傷氣是也。酒乃濕熱之物，過多則濕熱之氣薰蒸於肺，肺氣既傷，則多生疹鼻或酒刺而浮於面者也）。豬膏凝者吉，枯骨命難痊（肺本西方庚辛，金也，其色白如豬膏之白，光潤滑澤者曰吉，不欲如朽木枯骨之白，神離氣散也曰凶）。本積息賁患，乘春右脅邊（肺之積名曰息賁，在右脅下，大如覆杯。以春甲乙日得之，何也？乃心病傳肺，肺當傳肝，肝以春適王，王者不受邪，肺復還心，心不肯受，故留結為積。久不已，令人灑淅寒熱喘嗽，肺氣壅塞）。順時浮澀短，反即大洪弦（肺得浮澀而短，是本位順脈。若洪大而弦，反候也。大洪乃心脈，火剋金也。兼弦是肝木乘肺金，氣大弱也，故凶）。實夢兵戈竟，虛行涉水田（肺屬秋金，主肅殺之令，故肺實則夢兵戈爭竟之事。虛則夢涉水田者，金水母子相親也）。三斤三兩重，八葉散分懸（肺重三斤三兩，六葉兩耳，凡八葉四垂如蓋，附著脊之第三椎。中有二十四孔，行列分布，以通諸藏之氣，故肺為五藏之華蓋。主藏魄，《素問》曰：肺者，相傅之官，治節出焉）。大腸廣四寸，三丈一尺連（大腸重二斤十二兩，大四寸，徑一寸寸之少半，長二丈一尺，受谷一斗，水七升半，主傳導糟粕。《素問》曰：大腸者，傳導之官，變化出焉。又名迴腸，以其周迴疊積，故曰回）。</p>

<h3>腎藏歌</h3>
<p>腎藏對分之，膀胱左共宜（腎有兩枚，相對而垂於腰之兩旁，左為腎，右為相火，有水火之異焉。膀胱是其府也）。旺冬身屬水，位北定無欺（腎屬水，旺於冬，位居北方，為壬癸水也）。包絡居於右，三焦附在斯（左為腎，為陰水，主藏志，右為包絡，為陽水，三焦是其府；中間為命門，主藏精，附診於右尺）。兩耳通為竅，須骨髓其滋（腎之竅通於耳，其司在聽，須骨皆屬腎，故人須早白者、腎虛也。骨痿髓空者，腎敗也）。味鹹歸藿豆，精志自相隨（咸者、腎味，故喜而歸之。藿、菜也。豆、五穀之一也，皆腎之谷也。腎藏精與志，故精志而自然相隨而無病也）。沉滑當時本，浮緩厄在脾（腎脈本當沉滑是平，若遇浮緩，乃脾脈，是土來剋水，為賊邪，故厄也）。色同鳥羽吉，形似炭煤危（腎屬北方，主癸水，其色本黑，然要黑如鳥羽者，光彩明潤也，故曰吉。不欲如煤者，黑暗而灰滯也，故曰危）。冷即多成唾，焦煩水易虧（腎屬水藏，喜溫而不喜寒。如寒冷過多則火衰，火衰則水盛而多唾。焦枯煩躁，心火盛也，火盛則水虧而多渴）。奔豚臍下積，究意骨將痿（腎之積名曰奔豚，在於小腹，上至心下，若豚之狀，或上或下，奔走無時，故曰奔豚。以夏丙丁日得之，何也，乃脾病傳腎，腎當傳心，心以夏適王，王者不受邪，腎復還於脾，脾不肯受，故留結為積。久不愈，令人喘逆少氣，骨痿）。實夢腰難解，虛行涉水湄（音眉，水隒也。腰者，腎之府。腎實則精血留聚，故夢腰有所繫；腎虛則精竭而水虧，故夢溺於水湄）。一斤餘二兩，腰脊對相垂（腎有兩枚，形如豇豆，重一斤二兩，附著於脊之十四椎下，各開一寸半。主藏精與志。《素問》曰：腎乃作強之官，技巧出焉）。膀胱是其府，九兩零二銖，縱橫廣九寸，腎下少腹居（膀胱重九兩零二銖，縱廣九寸，居少腹大腸之側。小腸下口，乃膀胱上口，水液由是滲入焉。所以膀胱有下口而無上口，盛溺九升九合。《素問》曰：膀胱乃州都之官，津液藏焉，氣化則能出矣）。</p>

<h2>診脈賦</h2>
<p>經曰：榮行脈中，衛行脈外，故脈者為血氣之前，所以主宰榮衛而不可須臾失也。脈字從月、從永者，謂得此可永歲月也。古脈字從血、從𠂢，所以使氣血各依分派而行經絡也。醫家由此以識經絡虛實，藏府之寒熱。由虛實寒熱以定藥之君臣佐使，補瀉溫涼。故先哲曰：脈理通乎神明，乃醫家之首務也。若誠能精於脈，則吉凶生死無不知矣。</p>
<p>欲測病兮死生，須詳脈兮有靈（欲推測諸病之生死，則詳診六部之脈，必有靈驗也）。左辨心肝之理，右察脾胃之情（左手寸部診心脈，關部診肝脈；右手寸部診肺脈，關部珍脾脈）。此為寸關所主（心肝脾肺四藏主於兩手寸關部也），腎即兩尺分並（腎有兩枚，垂於腰之兩旁，左為腎，屬水；右為胞絡，屬火。故腎獨在左尺部分診也，命門寄診右尺）。三部五藏易識（三部、寸關尺也，五藏、心肝脾肺腎也，此則容易認識。七診九候須究心焉），七診九候難明（七診者，一靜其心，存其神也；二忘外意，無思慮也；三均呼吸定其氣也；四輕指於皮膚之間，探其府脈也；五稍重指於肌肉之間，取其胃氣也；六再重指於骨上，取其藏脈也；七詳察脈之往來息數也。九候者，三部之中各取溪中、沉三法，三而三之。為之九候也。《內經》七診九候法云：七診者宜平旦，則如井之晨清且聚一也，陰氣未動二也，陽氣未散三也，飲食未進四也，經脈未盛五也，絡脈調勻六也，氣血未亂七也，故乃可診。至於倉卒病患，又不必拘於此論矣。九候者，三部各有浮中沉三候，三而三之為之九候也。浮以候表，頭面皮毛汗腠之屬也；沉以候里，藏府二便骨髓之屬也；中者，無過不及，非表非里而無病之可議，中庸，所謂天下之正道也，反之者病）。</p>
<p>晝夜循環，榮衛須有定數（血為榮，氣為衛。榮行脈中，衛行脈外，一晝一夜，行陽二十五度，行陰二十五度，榮衛共行五十度周於身，故曰有定數也。詳見《難經》）。男女長幼，大小各有殊形（男子屬陽，面南受氣，寸強尺弱。女子屬陰，面北受氣，寸微尺盛。老人脈濡而緩，幼人脈數而急，肥人脈常沉，瘦人脈常浮，故各有殊形也）。復有節氣不同，須知春夏秋冬（五日為一候，三候十五日為一氣，三氣四十五日為一節，二節九十日為一季，四季為一歲，故一歲之中有三百六十曰、七十二候、二十四氣。八節四季之令，與夫春溫、夏熱、秋涼、冬寒之氣候各有不同也）。建寅卯月兮木旺，脈弦長以相從（正月建寅，二月建卯，乃足少陽膽經與足厥陰肝經木旺之時，二經相為表裡，木當春而發生也，故其脈來弦而長。然弦長中要帶和緩為有胃氣。余藏仿此）。當其巳午，心火而洪（四月為巳，五月為午，乃手太陽小腸經與手少陰心經火旺之時、二經相為表裡，火性炎上，故其脈來洪大也）。脾屬四季，遲緩為宗（四季乃辰戍丑未之月也。當此之月，乃足太陰脾經與足陽明胃經土旺之時，二經相為表裡，土性厚重，所以寄旺於四季，故其脈來和緩而遲也）。申酉是金為肺，微浮短澀宜逢（七月為申，八月為酉，乃太陰肺經與手陽明大腸經金旺之時，二經相為表裡。肺居在上，其體輕浮，故其脈來短澀而微浮）。月臨亥子，是乃腎家之旺，得其沉細而滑，各為平脈之容（十月為亥，十一月為子，乃足少陰腎經與足太陽膀胱水旺之時，二經相為表裡。水性下流，故其脈沉細而滑）。既平脈之不衰（言診五藏之脈，四時隨經所旺而不衰，故為之平也），反見鬼兮命危（如春見短澀，夏見沉細，秋見洪大，冬見遲緩，四季見弦長，皆謂鬼賊相剋之脈，故為相反而危殆也）。兒扶母兮瘥速（若心見遲緩，肝見洪大，肺見沉細，腎見長弦，是子來扶養於母，亦相生之道也。雖病易瘥，何也？經曰：從前來者為實邪，從後來者為虛邪。又曰：虛則補其母，實則瀉其子。今心見脾脈，肝見心脈，是從前來之實邪也，故瀉之而愈），母抑子兮退遲（謂腎病傳肝，肝病傳心，心病傳脾，脾病傳肺，肺病傳腎，為母來傳子病雖不死，稽遲難愈。詳見《難經》）。得妻不同夫治，生死仍須各推（我克者為妻。假如心得肺脈，肝得脾脈，謂夫得妻脈也。然妻來乘夫，雖不為正克，生死各有推斷也，解見下文）。假如春得肺脈為鬼，得心脈乃是肝兒，腎為其母，脾則為妻（五行木火土金水，相生者也；木土水火金，相剋者也。假如春屬肝木，見肺金脈，為克我之鬼賊也；見心脈，為我生之子也；見腎脈，為生我之母也；見脾脈，為我乘之妻也。其夏秋冬三季皆仿此而推詳。見五邪圖）。春得脾而莫療，冬得心而不治，夏得肺而難瘥，秋得肝亦何疑（青得脾而莫療者，蓋言春中不見肝脈而獨見脾者，春乃肝木主令發生之時，而不見本藏之脈，是肝木自衰矣。又獨是脾土之脈，恐土旺生金，金來刑木，故可畏也。若春令脈弦而帶和緩，為木勝土之微邪，不足慮也。其夏秋冬之時仿此而推）。此乃論四時休旺之理，明五行生剋之義（此二句結上文之意），舉一隅而為例，則三隅而可知也（隅、角也。言一隅既明，諸隅可知也；一理既明，諸義可推也）。</p>

<h2>診脈入式歌</h2>
<p>左心小腸肝膽腎（左者左手也，此言左手寸關尺之三部也。左寸心與小腸動脈所出，左關肝與膽動脈所出，左尺腎與膀胱動脈所出。歌句不言膀胱，蓋由字多，包括不盡。此三部，寸屬火而主溫，溫主發熱。肝屬木而主風，風主戰慄。尺屬水而主寒，寒主惡寒溫。風寒在表，是上有水也，治可汗之。每部一藏一府，府脈主浮，藏脈則沉，其取按之法，當依《難經》菽數。假令心部按六菽之重而得者心脈也浮於六菽音，小腸脈也。本部浮沉適中，悉之一息五至，此為平脈，不必更深求分別藏府之脈。餘部仿此。潔古曰，假令病人發熱無汗。惡寒，脈浮。緊，乃寒傷榮，可用麻黃湯主之。如戰慄惡風，有汗，脈浮緩，乃風傷衛，可用桂枝湯。如往來寒熱，是尺寸脈交，以小柴胡湯兩和之。如發熱戰慄，葛根解肌湯主之。如戰慄脈浮弦，小青龍湯主之。如戰慄惡寒，脈沉弦、大青龍湯主之。如惡寒脈沉遲、麻黃附子細辛湯。以上皆解表之法），右肺大腸脾胃命（昌按：右尺命門無藏府之配，寄診決人生死，故曰命門實包絡三焦之位。右者、右手也，此言右手寸關尺之三部也。右寸肺與大腸動脈所出，右關脾與胃動脈所出，右尺胞絡與三焦動脈所出。歌句不言包絡、三焦，亦因包括不盡也。此三部寸屬金而主燥，燥主大便難；關屬土而主濕，濕主腹滿痛；尺屬相火，而主小便赤澀，濕燥熱在裡，是下有火也，治可之下。潔古曰：假令病人大便難，脈沉數，小承氣湯主之；如腹滿痛甚而脈沉數，大承氣湯主之；如小便赤痛，大便腹滿痛，亦此藥主之；如小便腹痛而不滿，調胃承氣湯主之；如大實證，為不大便是也；如小便赤大便難，脹滿，宜大承氣湯主之。以上皆攻裡之症也。芒硝辛潤，治大便燥而難，厚朴、枳實治腹滿痛，大黃治大便不通，及小便赤澀。假令有表裡者，先解表後攻里也。如病人大便難、發熱，謂之溫燥，先解表，左宜桂枝，後攻里，右宜承氣湯。如戰而腹滿痛，謂之風濕，左宜桂枝湯，右宜承氣湯。如惡寒自汗，小便赫痛，宜桂枝麻黃湯，右宜承氣湯。凡六氣之病，脈與症相得者生，相反者死。色脈亦然。臨病人持診之時，宜細詳消息。此亦大約之言，不可執泥，印定眼目以誤病焉）。女人面北受氣看，寸關尺部同斷病（男子面南受氣，兩寸向南，兩尺向北，故寸脈常盛，尺脈常弱。女子面北受氣，兩尺向南，兩寸向北，故寸脈常弱尺脈常盛。診得男子得女人脈為不足，女人得男子脈為太過，皆病也。是故女人尺脈與男子尺脈常相反，其三部之候症，男女得病同斷之，詳見《難經》）。心與小腸居左寸，肝膽同歸左關定（心與小腸脈同居左手寸口，肝與膽脈同居左手關中也）。腎居左尺合膀胱（腎與膀胱脈同居左手尺部也），用意調和審安靖（承上文左手三部而言也）。肺與大腸居右寸，脾胃脈從關裡認（肺與大腸之脈同居右手寸口，脾與胃脈同居右手關中）。右尺胞絡並三焦，用心仔細須尋趁（包絡與三焦同居右手尺部，命門亦寄診於此。言醫人仔細尋察病人之脈也）。若診他脈覆手取，要自看時仰手認（此言以手診脈之法也。若診他人之脈，必要覆著手取；要看自己之脈，必仰著手認也）。</p>
<p>三部須教指下明，九候瞭然心裡印（三部者、寸關尺也。寸為上部，關為中部，尺為下部。上部法天，候胸中以上至頭之有疾也；中部法人，候膈以下至臍之有疾者；下部法地，候臍以下至足之有疾也。三部之中各得浮中沉三候。浮於上為陽，以候表；沉於下為陰，以候里；不浮不沉，上下之間謂之中，陰陽相半，以候胃氣。診脈之際，必教三部指下分明，九候瞭然印於心，何愁疾之不瘥也）。大腸共肺為傳送（經云：大腸者、傳導之官，變化出焉。能傳化糟粕而出也。肺不能傳送，大腸乃肺之府，故連言之），心與小腸為受盛（經云小腸者，受盛之官，化物出焉。心不能化物、小腸乃心之府，故連言之），脾胃相通五穀消（脾胃者，倉廩之官，五味出焉。脾近於胃而膜相連，故能相通變化，而五穀消矣。《內經》曰：肝之穀麥，心之谷黍，脾之谷粱，肺之谷稻，腎之谷豆，是五穀以配五藏，學者當知），膀胱腎合為津慶（膀胱者、州都之官，津液藏焉，氣化則能出矣。腎主五液，膀胱與腎連合而津液流通，乃為身之慶也）。三焦候法上下中，藏及胞絡皆相應（三焦者、上中下之三焦也。上焦在心下，下膈，胃上口，主納而不出。中焦在胃中脘，不上不下，主腐熟水穀。下焦在臍下膀胱上口，主分別清濁，出而不納。是三焦也，主持諸氣，徒有上中下之名而無其形，其經屬手之少陽而為外府。叔和於本文上下俱言一藏一府，在於寸關尺中，以候上中下之病，至於心包少火、三焦相火、命門亦相火也，同氣連枝，寄位於此部，決人生死。而膻中穴為氣海，生氣海在臍下一寸三分，故曰相應）。肝膽同為津液府，能通眼目為清淨（肝之竅開於目，而膽附於肝，故肝膽之潤則津液自生，上通眼目，清明淨亮也）。智者能調五藏和，自然察認諸家病（言高明上智之土自能調和五藏六府，察認諸家之病也）。</p>
<p>掌後高骨號為關，骨下關脈形宛然（掌之後高骨，乃手腕骨也。關脈見此骨下）。次第推排三部脈，配合天地人三元（下指先定準關脈，為之三部，然後排上下二部。上部法天，即寸也；中部法人，即關也；下部法地，即尺也，是以譬之三元）。關前為陽名寸口，關後為陰名尺澤（關以上謂之前，屬陽，名寸口；關以下謂之後，屬陰，名尺澤。關界乎中也。《難經》曰：從關至尺澤穴當一尺，故名曰尺，為陰之所治也。從關至魚際穴當一寸，故名曰寸，為陽之所治也。又陰得尺中一寸，陽得寸內九分，始終一寸九分，故曰尺寸也）。關前關後別陰陽，察脈根源應不忒（關前為陽，關後為陰，浮脈為陽，沉脈為陰。浮主於表，沉主於裡。此言尺寸俱有浮沉陰陽，非止寸口獨有浮，尺部獨有沉也。知乎此，則察病根源豈有差忒哉）。一息四至號平和，更加一至亦無疴（一呼一吸為一息。一息之間脈來四至為平和，若得五至亦無病也。經曰：呼出心與肺，吸人肝與腎，脾受穀氣於中，在呼吸之間也）。三遲二敗冷危困，六數七極熱生多（一息三至曰遲，二至曰敗，皆陰太過而陽不及，由寒冷之所致也。一息六至曰數，七至曰極，皆陽太過而陰不及，由熱之所致也），八脫九死十歸墓，十一十二絕魂嗟（一息八至，是陽覆於陰也，陰不勝陽則脫。一息九至是陽闡於陰也，無陰則死。十至亦然。十一、十二至皆是陰陽並絕之死脈也）。一息一至著床害，兩息一至死非怪（一息一至、兩息一至者，總皆陰陽並絕之死脈，故曰非怪）。遲冷數熱古今傳，《難經》越（越人）度（法度）分明載（遲則為冷，數則為熱，冷則為陰，熱則為陽，人之脈一息四至五至為平，六至以上皆為之熱，二至以下皆為之冷。而秦越人《難經》內其法度己載之明白矣。此二句總結上文之意）。</p>
<p>熱積生風冷生氣，用心指下叮嚀記（熱積多則生風，冷積多則動氣，此則重伸冷熱之意也。總之，叮嚀醫家要用心於指下，審察寒熱虛實之理也）。春弦夏洪秋似毛，冬石依經分節氣（春季肝木主令，其脈當弦；夏季心火主令，其脈當洪；秋季肺金主令，其脈當浮澀而短曰毛；冬季腎水主令，其脈當沉細而滑，曰石。然四季之脈，必依經旨合節氣而見為順也，反而為病矣）。阿阿緩若春楊柳，此是脾家居四季（阿阿，寬舒之貌，言脾脈譬如春之楊柳，其風和，其枝嫩，動搖寬舒緩慢，則是脾之正脈。然脾經旺於四季，辰戌丑未之月各主十八日，當此之時，土王用事而脾家更健壯也）。在意專心察細微，靈機曉解通玄記（此言為醫者必專心在意，沉潛體悟脈理之精微，則識病之應變靈機自然曉悟之，豈不通玄哉）。</p>
<p>浮芤滑實弦緊洪，名為七表屬陽宮（此七脈者，皆屬乎表陽也）；微沉緩澀遲並伏，濡弱為陰八里同（此八脈者皆屬乎里陰也）；長短虛細促動結，代革同歸九道中（此九脈者屬乎陰陽相半，如長動促陽也，短虛細結代革陰也）；更有數牢散三脈，二十七脈名須窮（數字牢者、陽也。散者、陰也）。血榮氣衛定息數，一萬三千五百通（血為榮，氣為衛，榮行脈中，衛行脈外，晝夜周流運行不息。一日一夜，呼吸定息通計一萬三千五百息也）；晝夜八百一十丈，呼吸定息六寸行（凡人之呼一吸為一息，脈行六寸，晝夜以一萬三千五百息算之，共行八百一十丈也）。十二經絡周流遍，一十六丈二尺零（十二經絡始於手太陰肺經，終於足厥陰肝經，共長十六丈二尺，晝夜循環五十度算之，得八百一十丈。按、下言某病主某脈）。浮風芤血滑多痰（浮主風者，風氣浮蕩也。芤主血虛失血，血屬陰，陰道當之，故中間空也。滑主血多，隨氣壅上為痰），實熱弦勞緊痛間（實主氣實有熱，血隨氣行，氣血俱熱也。弦主勞傷，氣血拘斂也。緊主邪搏，氣血沸亂，故痛也）。洪熱微寒臍下積（洪乃氣血燔灼，表裡熱極。微乃氣血虛寒，臍下冷積，作痛作瀉），沉因氣痛緩皮頑（沉為氣鬱於裡，故疼痛。緩若非時得之，則氣血不運，故皮膚頑痹麻木也）。澀則傷精陰血敗（澀主精血枯燥，男子得之房勞傷精；女子有胎得之，為胎中少血作痛；無孕得之，為瘀血滯也），又聞遲冷伏格關（遲為陽虛里寒，多見冷症。伏乃陰陽潛伏，主關格閉塞也）。濡多自汗偏宜老（濡主氣血衰疲，陽虛自汗。老人氣血已衰，故宜。壯年氣血強壯，故危），弱脈精虛骨體酸（弱脈主真元精氣虛極，骨髓空虛故作痠痛。若年老之人得之，亦無妨也）。長則氣理短則病（長則氣血有條理而不亂，雖有病易治。短則氣血衰少，又主酒病，因酒多傷神故也。諸病見短難治），細為氣乏代衰然（細本元氣不足，精血虛乏也。代乃元氣衰極，他藏代至死脈也），促為熱極結為積（促乃陽盛而陰不相濟，熱蓄於裡也。結乃陰盛而陽不相入，內外邪滯為積也），虛驚動脫血頻來（虛主氣血俱虛，故多恍惚驚悸；又主傷暑自汗；動亦虛勞之脈，主脫而崩中，帶下泄痢，血分之疾也）。數則心煩大病進（數乃熱極之脈也，主心煩發狂，大熱之症。大為邪盛，氣血虛弱，不能相制，故病進也），革為精漏血虛寒（革乃變易血氣去留常度，男子不交精泄，女子崩中漏下，有孕為半產，總之虛寒怪脈也）。牢堅裡急心腹痛（牢為邪氣在裡，故里急心腹疼痛也），散似楊花氣不全（散乃真氣離散之意，故知氣不全也）。按半弦而若緊，欲識澀而似微，浮芤其狀相反，沉伏殊途同歸。洪與實而形同彷彿，濡與弱而性帶依稀。滑動體殊不一，革牢按之似疑。緩比遲之小快，結促指下疾遲。虛散薄而無力，代則歇而中止（各脈形狀俱詳申於後。但此等脈體有相類者，有相反者，有主病相同者，有主病相異者，總在醫家臨期審辨而施治之。又諸脈相類歌曰：浮似芤，芤則中斷浮不斷。浮似洪，力薄為浮厚者洪。浮似虛，輕手為浮無力虛。滑似動，滑珠朗朗動混混。滑似數，滑利往來數至多。實似革，革按不移實長大。弦似緊，弦言有力緊言象。洪似大，大按無力洪有力。微以澀，澀短遲細微如毛。沉似伏，伏極其沉深復深。緩似遲，緩均遲之仍小快。遲似澀，遲息三至澀短難。弱似濡，濡力柔薄弱如無。結促代，結緩促數止無定，代歇有常命鮮回。散似大，散形緩慢里全無，大則其中還翕翕）。</p>
<p>先辨此情，後論其理，更復通於藥性，然後可以為醫（此言為醫者既能辨諸脈之精，又能論五行生剋之理，更復通於藥性溫涼補瀉之法，斯乃可以為醫也）。既已明其諸脈，須知疾之所有（既明諸脈之形，則主病之寒熱虛實無不知矣）。寸脈急而頭痛，弦為心下之咎。緊是肚痛之微，緩即皮頑之候。微微冷入胸中，數數熱居胃口。滑主痰多，澀而血少。胸連脅滿只為洪，滑而莫瘥項引背。痛多緣沉緊而不謬（此一節論寸口諸脈之主病也），更過關中浮緩不飧。緊牢痛滿，喘急難痊。弱以數兮胃之虛熱，弦以滑兮胃之食痰。微澀心下脹滿，沉兮膈上吞酸。弱即宜為虛視，沉實須作食看。下腫緣濡（濡脈），女萎散療之在急，水症因伏（伏脈），牽牛湯瀉則令安（此一節論關中諸脈之主病也）。爾乃尺中脈滑，定知女經不調；男子遇此之候，必主小腹難消。伏脈谷兮不化，微即腹痛無憀（音聊，賴也〕。數緣內熱便壅（大小便壅塞也），遲是寒於下焦。胃冷嘔逆澀候，腹脹陰疝弦牢。緊則痛居其腹，沉乃疾在其腰。濡數浮芤皆主小便赤澀，細詳如此之候何處能逃（此一節論尺部諸脈之主病也）。若問女子何因，尺中不絕，胎脈方真（不絕，謂脈滑而流利不絕也。腎居尺部，男子藏精，女子系胞，若脈滑而流利必有孕矣）。太陰洪而女孕，太陽大而男娠（太陰指右手，謂手足太陰皆在右手也。太陽指左手，謂手足太陽皆在左手也）。若遇俱洪而當雙產，此法推之其驗若神（若兩手俱洪，謂陰陽俱盛，必雙胎也）。月數斷之，各依其部；假令中衝若動，此乃將及九旬（《靈樞經》曰：中衝應足陽明胃經，少衝應手太陽小腸，太衝應手陽明大腸。故知中衝主三四個月，少衝主五六個月，太衝主七八個月。今則中衝足陽明胃脈滑疾而動，知受孕三月矣。余經仿此）。患者欲知生死，須詳脈之動止（此言要知患者之生死吉凶，須詳脈之動狀也。此以下論諸脈之死候也）。彈石劈劈而又急（劈劈，逼迫之貌。彈石之脈，若堅硬之物擊於石上，劈劈然尋之卻散絕，此腎氣已絕，胃氣空虛也），解索散散而無聚（解索之脈，猶解亂索之狀，指下數動，乍疏乍數，無復次序。緣精枯血竭，心脾兩絕也）。雀啄頓來而又住（雀啄之脈，猶雀啄食連連，湊指且堅且銳，忽然頓絕，良久復來。此肝經絕也），屋漏將絕又復起（屋漏之脈，狀如屋上之水殘漏於地，良久一滴，四畔測起無力。此皆脾胃衰絕，心脈敗也）。蝦游冉冉而進退難尋（蝦游之脈者，蝦之遊水始則冉冉不動，少焉瞥然驚跳而去，杳然不見，良久指下又准前來。此脾胃兩絕，魂離魄散也），魚翔澄澄而遲疑掉尾（魚翔，猶魚之在水中，頭身貼然不動而尾悠搖之狀，良久倏然沉沒。此心氣已絕，榮衛兩亡，五藏俱敗也）。釜沸之脈湧如羹，一占此脈旦夕死（釜沸之脈出皮膚，有出無入，湧湧如羹上波。旦診夕死，夕診旦死，藏氣絕矣）。嗟乎，遇此之候定不能起，總有丸丹天命而已（此結上文之意，見此七種脈則不可治也）。復有困重沉沉，聲音劣劣，寸關雖無，尺猶不絕。往來息均，踝中不歇。如此之流，何憂殞滅（沉沉是神昏也，劣劣是少氣也，息均是脈息調勻也。踝中不歇，是足太谿之脈動而不也。流、類也。殞滅是歿滅。言上七脈一見則不可治也，若遇此類之病尚可治之，須參耆大補之）。經文具載，樹無葉而有根；人困如斯，垂死乃當更治（此結上文之意，詳十四難，經下謂人之有尺，如樹之有根，雖沉困猶可治也）。</p>

<h2>瀕湖二十七脈歌</h2>
<p>此李時珍《奇經八脈》內者。其理精詳，其詞簡要，諸家脈莫妙於此，故摘入之。</p>

<h3>浮（陽也）</h3>
<p>浮脈舉之有餘，按之不足（《脈經》），如微風吹鳥背上毛，厭厭（音掩）貌，如循榆莢（軟滑貌。《素問》），如水上漂木，如捻蔥葉（黎氏浮脈法：天有輕清在上之象，在卦為乾，在時為秋，在人為肺。又謂之毛。太過則中堅旁虛，如循雞羽，病在外也。不及則氣來毛微，病在中也。《脈訣》言尋之如太過，乃浮兼洪緊之象，非浮脈也。補註：浮為在表，然真正風寒外感者，脈反不浮，但其緊數略兼浮者便是表邪）。</p>
<p><u>體狀詩</u></p>
<p>浮脈惟從肉上行，如循榆莢似毛輕。三秋（秋三月）得令知無恙，久病逢之卻可驚。</p>
<p><u>相類詩</u></p>
<p>浮如木在水中浮，浮大中空乃是芤（口，平聲）。拍拍（搏也）而浮是洪脈，來時雖盛去悠悠（遠也）。浮脈輕平似捻蔥，虛來遲大豁（音闊開也）然空，浮細而柔方為濡（音儒，軟也），散似楊花無定蹤（音從，跡也。浮而有力為洪，浮而遲大為虛，虛甚為散浮而無力為芤，浮而柔細為濡）。</p>
<p><u>主病詩</u></p>
<p>浮脈為陽表病居，遲風數熱緊寒拘，浮而有力多風熱，無力而浮是血虛。寸浮頭痛眩生風，或有風痰聚在胸，關上土衰兼木旺，尺中溲（音騷，溺也）便不流通（浮脈主表，有力表實，無力表虛，浮遲中風，浮數風熱，浮緊風寒，浮緩風濕，浮虛傷暑，浮芤失血，浮洪虛熱，浮散勞極。補：無力血虛）。</p>

<h3>沉（陰也）</h3>
<p>沉脈重手按至筋骨乃得（《脈經》），如綿里砂，內剛（硬也）外柔（楊氏），如石投水，必極其底（沉脈法地，有淵泉在下之象，在卦為坎，在時為冬，在人為腎。又謂之石，亦曰營。太過則如彈石，按之益堅，病在內也。不及則氣來虛微，去如數者，病在中也。《脈訣》言緩度三關狀如爛綿者非也。沉有緩數及各部之沉，爛綿乃弱脈，非沉脈也）。</p>
<p><u>體狀詩</u></p>
<p>水行潤下脈來沉，筋骨之間軟滑勻，女於寸兮男子尺，四時如此號為平。</p>
<p><u>相類詩</u></p>
<p>沉幫（裨帖也）筋骨自調勻，伏則推筋著骨尋，沉細如綿真弱脈，弦長實大是牢形（沉行筋間，伏行骨上，牢大有力，弱細無力。補註：其有寒邪外感，陽為陰蔽，脈見沉緊而數，及有頭痛身熱等症者，正屬表邪，不得以沉為里也）。</p>
<p><u>主病詩</u></p>
<p>沉潛（音前。沉行也）水蓄陰經病，數熱遲寒滑有痰，無力而沉虛與氣，沉而有力積並寒。寸沉痰鬱水停胸，關主中寒痛不通。尺部濁遺並泄痢，腎虛腰及下元痌（音同，痛也。沉脈主裡，有力裡實，無力裡虛，沉則為氣，又主水蓄，沉遲痼冷，沉數內熱，沉湧痰食，沉澀氣鬱，沉緩寒濕，沉緊冷痛，沉牢冷積，沉弱寒熱。補註：沉伏吐利，霍亂為病，沉而有力，氣積癥瘕）。</p>

<h3>遲（陰也）</h3>
<p>遲脈一息三至，去來極慢（《脈經》。遲為陽，不勝陰，故脈來不及，《脈訣》言重手乃得，是有沉無浮，一息三至，甚為易見。而又曰隱，隱曰狀且難，是澀脈矣。其謬可知）。</p>
<p><u>體狀詩</u></p>
<p>遲來一息至惟三，陽不勝陰氣血寒，但把浮沉分表裡，消陰須益火之原。</p>
<p><u>相類詩</u></p>
<p>脈來三至號為遲，小駃（與快同）於遲作緩持。遲細而難知是澀，浮而遲大以虛推（三至為遲有力為緩無力為澀有止為結遲甚為敗浮大而緩為虛。黎氏曰：遲，小而實。緩，大而慢。遲為陰勝陽衰，緩為衛盛營弱，宜別之）。</p>
<p><u>主病詩</u></p>
<p>遲司藏病或多痰，沉痼（音固，久病也）癥瘕仔細看。有力而遲為冷痛，遲而無力定虛寒。寸遲必是上焦寒，關主中寒痛不堪，尺是腎虛腰腳重，溲便不禁疝牽丸（腎子也。遲脈主藏，有力冷痛，無力虛寒，沉遲裡寒，浮遲表寒，沉遲裡寒。補註：大都脈來慢者，總由元氣不充，不可妄施攻擊也）。</p>

<h3>數（陽也）</h3>
<p>數脈一息六至（《脈經》），脈流薄（迫少也）疾（數為陰不勝陽，故脈來太過。浮沉遲數，脈之綱領，《素問》、《脈經》皆為正脈。《脈訣》立七表八里，而遺數脈，止溫於心藏，妄甚矣）。</p>
<p><u>體狀詩</u></p>
<p>數脈息間常六至，陰微陽盛必狂煩。浮沉表裡分虛實，惟有兒童作吉看。</p>
<p><u>相類詩</u></p>
<p>數比平人多一至，緊來如數似彈繩。數而時止名為促，數見關中動脈形（數而弦急為緊，數見關中為動，流利為滑，數甚為弦，數而時止為促）。</p>
<p><u>主病詩</u></p>
<p>數脈為陽熱可知，只將君相火來醫。實宜涼瀉虛溫補，肺病秋深卻畏之。寸數咽喉口舌瘡，吐紅咳嗽肺生瘍。當關胃火併肝火，尺屬滋陰降火湯（數脈主府，有力實火，無力虛火，浮數表熱，沉數里熱，氣口數實肺癰，數虛肺痿。補註：有力實熱，無力虛瘡，數至七八，邪盛虛多）。</p>

<h3>滑（陽中陰也）</h3>
<p>滑脈往來前卻流利，展轉替替（音剃，待也）然，如珠之應指（《脈經》），漉漉（音鹿，竭也）如欲脫（滑為陰氣有餘，故脈來流利如水。脈者、血之府也。血盛則脈滑，故腎脈宜之。氣盛則脈澀，故肺脈宜之。《脈訣》言按之即伏，三關如珠，不進不退，是不分浮滑沉滑尺寸之滑也，今正之）。</p>
<p><u>體狀（並）相類詩</u></p>
<p>滑脈如珠替替然，往來流利卻還前，莫將滑數為同類，數脈惟看至數間（滑則如珠，數則六至）。</p>
<p><u>主病詩</u></p>
<p>滑脈為陽元氣衰，痰生百病食生災。上為嘔吐下蓄血，女脈調時定有胎。寸滑膈痰生嘔吐，吞酸舌強或咳嗽。當關宿食肝脾熱，渴痢痜（音頹。痜疝，陰病）淋看尺部（滑主痰，飲浮滑風痰，沉滑食痰，滑數痰火，滑短宿食）。</p>
<p>《脈訣》言關滑謂寒，尺滑臍似水，與《脈經》言關滑胃熱尺滑蓄血，婦人經病之旨相反。補註：兩寸滑者其熱在上，兩尺滑者其熱在下。</p>

<h3>澀（陰也）</h3>
<p>澀脈細而遲，往來難，短且散，或一止復來（《脈經》），參伍不調（《素問》），如輕刀刮竹（《脈訣》），如雨沾沙（通真子），如病蠶食葉（澀為陽氣有餘，氣盛則血少，故脈蹇滯而肺脈宜之。《脈訣》言指下尋之似有，舉之至無，與《脈經》所云絕不相干）。</p>
<p><u>體狀詩</u></p>
<p>細遲短澀往來難，散止依稀應指間。如雨沾沙容易散，病蠶食葉慢而艱。</p>
<p><u>相類詩</u></p>
<p>參伍不調名曰澀，輕刀刮竹短而難。微似杪（音藐小也）芒（通茫）微軟甚，浮沉不別有無間（細遲短散，或時一止曰澀，浮而軟細曰濡，極細而軟，重按若絕曰微，沉而柔軟曰弱）。</p>
<p><u>主病詩</u></p>
<p>澀緣血少或傷精，反胃亡陽汗雨淋。寒濕入營為血痹，女人非孕即無經。寸澀心虛痛對胸，胃虛脅脹察關中，尺為精血俱傷候，腸結溲淋或下紅（澀主血少精傷之病。女人有孕為胎病，無孕為敗血。杜光廷云，澀脈獨見尺中，形同代者為死脈。補註：澀見婦女，經必不調，澀見孕婦，胎必難保，兩寸浮澀，則為自汗，兩尺沉澀，氣血大敗）。</p>

<h3>虛（陰也）</h3>
<p>虛脈遲大而軟，按之無力，隱指豁豁然空（《脈經》。崔紫虛云，形大力薄，其虛可知。《脈訣》言，尋之不足，舉之有餘，止言浮脈，不言虛狀。楊仁齋言，狀似柳絮散慢而遲。滑氏言散大而軟，皆是散脈，非虛也）。</p>
<p><u>體狀（並）相類詩</u></p>
<p>舉之遲大按之松，脈狀無涯（音崖，窮盡意也）類谷空。莫杷芤虛為一例，芤來浮大似慈蔥（虛脈浮大而遲，按之無力，虛為血虛。芤脈浮大，按之中空，芤為脫血。浮散二脈見浮脈）。</p>
<p><u>主病詩</u></p>
<p>脈虛身熱為傷暑，自汗怔忡驚悸多。發熱陰虛須早治，養榮益氣莫蹉跎（失時也）。血不榮心寸口虛，關中腹脹食難舒。骨蒸痹痿傷精血，卻在神門兩部居（經曰，血虛脈虛。曰氣來虛微，為不及，病在內。曰久病脈虛者死。補註：虛有陰陽之分。病咳嗽、勞熱、盜汗、驚悸、遺精失血，皆屬陰虛；病頭目昏、眩膈塞膨脹，亡陽泄痢，皆屬陽虛）。</p>

<h3>實（陽也）</h3>
<p>實脈浮沉皆得，脈大而長，微弦，應指愊愊（音逼，有力也）然（《脈經》。愊愊，堅實貌。《脈訣》言如細應指來，乃緊脈，非實脈也）。</p>
<p><u>體狀詩</u></p>
<p>浮沉皆得大而長，應指無虛愊愊強，熱蘊三焦成壯火，通腸發汗始安康。</p>
<p><u>相類詩</u></p>
<p>實脈浮沉有力強，緊如彈索轉無常。須知牢脈幫筋骨，實大微弦更帶長（浮沉有力為實，弦急彈指為緊，沉而實大，微弦而長為牢）。</p>
<p><u>主病詩</u></p>
<p>實脈為陽火鬱成，發狂譫語吐頻頻（急也）。或為陽毒或傷食，大便不通或氣疼（音彤，痛也）。寸實應知面熱風，咽痛舌強氣填胸。當關脾熱中宮滿，尺實腰腸痛不通（經曰：血實脈實。曰脈實者，水穀為病；曰氣來實弦，是謂太過，病自外也。《脈訣》曰：尺實小便不禁，與《脈經》尺實小腹痛，小便難之說相反。潔古不知其謬，認為虛寒，藥用姜附，愈誤矣）。</p>

<h3>長（陽也）</h3>
<p>長脈不大不小，迢迢（音條，高貌）自若（朱氏），如循長竿末稍為平。如引繩，如循長竿為病（《素問》。長脈有三，在時為春，在人為肝，在症為有餘之病。又曰心脈長，神強氣壯；腎脈長，蒂固根深。經曰：長則氣治，皆言平脈也。補註：內句長則氣治，治理也。謂氣調理而不亂也）。</p>
<p><u>體狀（並）相類詩</u></p>
<p>過於本位脈名長，弦則非然但滿張。弦脈與長爭較遠，良工尺度自能量（實、牢、弦、緊皆兼長脈）。</p>
<p><u>主病詩</u></p>
<p>長脈迢迢大小勻，反常為病似牽繩。若非陽毒癲癇（音閒，風病也）病，即是陽明熱勢深。（長主有餘之病。補註：人得長脈本為無病，有病必有兼也。瘧脈弦長，肝病弦直硬長，癇脈浮而長）。</p>

<h3>短（陰也）</h3>
<p>短脈不及本位（《脈訣》）應指而還，不能滿部（《脈經》。滑伯仁云：短脈兩頭無，中間有，不及本位，乃氣不足以前導其血也。戴同父云，短脈只見尺寸，若關中見短，上不通寸，下不通尺，是陰陽絕脈，必死矣。故關不診短。黎君士云：長短未有定體。諸脈舉按之附過於本位者為長，不及本位者為短。長脈屬肝宜於春，短脈屬肺宜於秋，但診肝肺，長短自見。補註：短脈只見尺寸，關不診短，非也。不過尺寸，不能滿部）。</p>
<p><u>體狀（並）相類詩</u></p>
<p>兩頭縮縮名為短，澀短遲遲細且難。短澀而浮秋見喜，三春為賊有邪干（澀、微、動、結，皆兼短脈。補註：短澀屬肺，三春屬肝，金剋木也）。</p>
<p><u>主病詩</u></p>
<p>短脈惟於尺寸尋，短而滑數酒傷神，浮為血止沉為痞，寸主頭疼尺腹疼（以曰：短則氣病。短主不及之病，滑氏曰：短脈為陰中伏陽，為三焦氣壅，為宿食不消。補註：思慮傷脾，氣結脈短。元氣衰敗，脈必短小）。</p>

<h3>洪（陽也）</h3>
<p>洪脈指下極大（《脈經》），來盛去衰（《素問》），來大去長（通真子。洪脈在卦為離，在時為夏，在人為心。《素問》謂之大，亦曰鉤。滑氏曰來盛去衰，如鉤之曲，上而覆下，應血脈來去之象，象萬物敷布下垂之狀。詹炎舉言如環珠者，非。《脈訣》云：季夏宜之，秋冬季發汗、通腸，俱非洪脈所宜）。</p>
<p><u>體類詩</u></p>
<p>脈來洪盛去還衰，滿指滔滔（音叨，大貌）應夏時，若在春秋冬月分，升陽散火莫狐疑。</p>
<p><u>相類詩</u></p>
<p>洪脈來時拍拍然，去衰來盛似波瀾，欲知實脈參（音森）差（音此，平聲，不齊等也）處，舉按弦長愊愊堅（洪而有力為實，實而無力為洪）。</p>
<p><u>主病詩</u></p>
<p>脈洪陽盛血應虛，相火炎炎熱病居，脹滿胃翻須早治，陰虛泄痢可躊躇（猶豫也）。寸洪心火上焦炎，肺脈洪時金不堪，肝火胃虛關內察，腎虛陰火尺中看（洪主陽盛陰虛之病，泄痢失血，久嗽者忌之，經曰：形瘦脈大，多氣者死。曰脈大則病進。補註：舉按長大曰洪，主熱極，煩渴目赤，口瘡，躁狂，癰腫，二便艱難。若洪大至極者，陰陽離絕，謂為死也）。</p>

<h3>微（陰也）</h3>
<p>微脈極細而軟，按之如欲絕，若有若無（《脈經》），細而稍長（戴氏。《素問》謂之小，又曰氣血微則脈微）。</p>
<p><u>體狀（並）相類詩</u></p>
<p>微脈輕微瞥瞥（音別，暫見也）乎，按之欲絕有如無。微為陽弱細陰弱，細比微兮略較粗（輕診即見，重按如欲絕者，微也。往來如線而常有者，細也。仲景曰：脈瞥瞥如羹上肥者，陽氣微；縈縈如蠶絲細者，陰氣衰。長病得之死，卒病得之生）。</p>
<p><u>主病詩</u></p>
<p>氣血微兮脈亦微，惡寒發熱汗淋漓。男為勞極諸虛侯，女作崩中帶下醫。寸微氣促或心驚，關脈微時脹滿形。尺部見之精血弱，惡寒消（三消）癉（音旦，癉成為消中，亦勞病也）痛呻吟（微主久虛血弱之病。陽微惡寒，陰微發熱。《脈經》云：崩中日久為白帶，漏下多時骨亦枯。補註：陽微主胃寒嘔逆，飲食不化，陰微主精血不足，微而澀兮，主便濁遺精）。</p>

<h3>緊（陽也）</h3>
<p>緊脈來往有力，左右彈人手（《素問》）。如轉索無常（仲景），數如切繩（《脈經》），如紐箅（長硬貌）線（丹溪。緊乃熱為寒束之脈，故急數如此。要有神氣，《素問》謂之急。《脈決》言寥寥入尺來。崔氏言如線，皆非緊狀。或有浮緊為弦，沉緊為牢，亦近似耳）。</p>
<p><u>體狀詩</u></p>
<p>舉如轉索切如繩，脈象因之得緊名。總是寒邪來作寇，內為腹痛外身疼。</p>
<p><u>相類詩（見弦脈）</u></p>
<p><u>主病詩</u></p>
<p>緊為諸痛主於寒，喘咳風癇吐冷痰。浮緊表寒鬚髮越，沉緊溫散自然安。寸緊人迎氣口分，當關心腹痛沉沉，尺中有緊為陰冷，定是奔豚與痛疼（諸緊為寒為痛。人迎緊盛傷於寒，氣口緊盛傷於食，尺緊痛居其腹。中惡浮緊，咳嗽沉緊，皆主死症。補註：浮緊主頭痛，頭重，身痛，脊強，咳嗽，鼻塞，寒熱往來。沉緊主心痛，脅疼，胸膨，腹脹，泄痢，痜疝，吐逆，痞悶）。</p>

<h3>緩（陰也）</h3>
<p>緩脈去來小快於遲（《脈經》），一息四至（戴氏），如絲在經，不卷其軸，應指和緩，往來甚勻（張太素）。如初春楊柳舞風之象（楊玄操），如微風輕颭（音拈，風動物貌）柳梢（滑伯仁）。</p>
<p>浮脈在卦為坤，在時為四季，在人為脾。陽寸陰尺，上下同等，浮大而軟，無有偏盛者，平脈也。若非其時，即為有病。緩而和勻，不浮不沉，不疾不徐，不微不弱者，即為胃氣。故杜光廷云：欲知死期何以取，古賢推定五般土。陽上須知不遇陰，陰上遇陰當細數。詳《玉函經》。</p>
<p><u>體狀詩</u></p>
<p>緩脈阿阿四至通，柳梢嫋嫋（音鳥，長弱風動貌）颭輕風，欲從脈里求神氣，只在從容和緩中。</p>
<p><u>相類詩（見遲脈）</u></p>
<p><u>主病詩</u></p>
<p>緩脈營衰衛有餘，或風或濕或脾虛。上為項強下痿痹，分別浮沉大小區。寸緩風邪項背拘，關為風眩胃家虛。神門濡泄或風秘，或是蹣（音盤）跚（音珊，無力行也）足力迂（音紆，迂曲不行。浮緩為風，沉緩為濕，緩大風虛，緩細濕痹，緩澀脾虛，緩弱氣虛。《脈訣》言緩主脾熱，口臭，反胃，齒痛，夢鬼之病，出自杜撰，與緩脈無關）。</p>

<h3>芤（陽中陰也）</h3>
<p>芤（音口，平聲）脈浮大而軟，按之中央空，兩邊實（《脈經》），中空外實，狀如慈蔥（芤，慈蔥也。《素問》無芤名。劉三點云：芤脈何以絕類慈蔥？指下成窟有邊無中。戴同父云：營行脈中，脈以血為形，芤脈中空。脫血之象也。《脈經》云：三部脈芤，長病得之生，卒病得之死。《脈訣》言：兩頭有，中間無，是脈斷截矣。又言主淋漓，氣入小腸，與失血之候相反，真誤事不小）。</p>
<p><u>體狀詩</u></p>
<p>芤形浮大軟慈蔥，按之旁有中央空，火犯陽經血上溢，熱侵陰絡下流紅。</p>
<p><u>相類詩</u></p>
<p>中空旁實乃為芤，浮大而遲虛脈呼。芤更帶弦名曰革，芤為亡血革血虛。</p>
<p><u>主病詩</u></p>
<p>寸芤積血在於胸，關內逢芤腸胃癰，尺部見之多下血，赤淋紅痢漏崩中（補註：芤主失血傷營，氣無所附，氣短似喘，陽脫無根）。</p>

<h3>弦（陽中陰也）</h3>
<p>弦脈端直以長（《素問》），如張弓弦（《脈經》），按之不移，綽綽如按琴絃，狀若箏弦（《脈經》），從中直過，挺然指下（《刊誤》）。</p>
<p>弦脈在卦為震，在時為春，在人為肝。輕虛以滑者平，實滑如循長竿者病，勁急如新張弓弦者死。池氏曰：弦緊而數為太過，弦緊而細為不及。戴同父曰：弦而軟，其病輕；弦而硬，其病重。《脈訣》言：時時帶數，又言狀如繩索，皆非弦象，今削之。</p>
<p><u>體狀詩</u></p>
<p>弦脈迢迢端直長，肝經木旺土應傷。怒氣滿胸常欲叫，翳矇（目疾）瞳子淚淋浪。</p>
<p><u>相類詩（又見長脈）</u></p>
<p>弦來端直似絲絃，緊則如繩左右彈，緊言其力弦言象，牢脈弦長沉伏間。</p>
<p><u>主病詩</u></p>
<p>弦應東方肝膽經，飲痰寒熱瘧纏身。浮沉遲數須分別，大小單（單絃）雙（雙弦）有重輕。寸弦頭痛膈多痰，寒熱症瘕察左關。關右胃寒心腹痛，尺中陰疝腳拘攣（弦為木盛之病。浮弦支飲外溢，沉弦懸飲內痛。瘧脈自弦，弦數多熱，弦遲多寒，弦大主虛，弦細拘急。陽弦頭痛，陰弦腹痛，單絃飲癖，雙弦寒痼。若不食者。為木來剋土，必難治。補註：諸病脈弦多不吉利）。</p>

<h3>革（陰也）</h3>
<p>革脈弦而芤（仲景），如按鼓皮（丹溪）。</p>
<p>仲景曰：弦則為寒，芤則為虛，虛寒相搏，此名曰革。男子亡血失精，婦人半產漏下。《脈經》曰：三部脈革，長病得之死，卒病得之生。時珍曰：此即芤弦二脈相合也，故均主失血之候。諸家脈書皆以為牢脈，故或有革無牢，有牢無革，混淆不辨。不知革浮牢沉，革虛牢實，形證皆異也。又按：《甲乙經》曰：渾渾革革，至如湧泉，病進而危。弊弊綽綽，其去如弦絕者死。謂脈來渾濁，革變急如湧泉，出而不返也。王貺以為溢脈，與此不同。</p>
<p><u>體狀（並）主病詩</u></p>
<p>革脈形如按鼓皮，芤弦相合脈寒虛，女人半產並崩漏，男子營虛或夢遺。</p>
<p><u>相類詩（見芤牢脈）</u></p>

<h3>牢（陰中陽也）</h3>
<p>牢脈似沉似伏，實大而長，微弦（《脈經》。扁鵲曰：牢而長者肝也。仲景曰：寒則牢堅。有牢固之象。沈氏曰：似沉似伏，牢之位也。實大弦長，牢之體也。○《脈訣》不言形狀，但云尋之則無，按之則有，云脈入皮膚辨息難。又以牢為死脈，皆孟浪謬輯）。</p>
<p><u>體狀（並）相類詩</u></p>
<p>弦長實大似牢堅，牢脈常居沉伏間。革脈芤弦自浮起，革虛牢實要詳看。</p>
<p><u>主病詩</u></p>
<p>寒則牢堅里有餘，腹心寒痛木乘脾，疝痜症何瘕愁也，失血陰虛卻忌之（牢主寒實之病，木實則為痛。扁鵲曰：軟為虛，牢為實。失血者脈宜沉細，反浮大而牢者死，虛病見實脈也。《脈訣》言骨間疼痛，氣居於表。池氏以為腎病傳於脾。皆謬妄不經）。</p>

<h3>濡（陰也）</h3>
<p>濡（音儒）脈極軟，而浮細如帛在水中，輕手乃得，按之無有（《脈經》）。如水上浮漚（音歐，羹上泡也。如帛浮水中，重手按之隨手而沒之象。《脈訣》言按之似有舉還無，是微脈，非濡也）。</p>
<p><u>體狀詩</u></p>
<p>濡形浮細按須輕，水面浮綿力不禁。病後產中猶有藥，平人若見似無根。</p>
<p><u>相類詩</u></p>
<p>浮而柔細知為濡，沉細而柔作弱持。微則浮微如欲絕，細來沉細近於微（浮細如綿曰濡，浮而極細如絕曰微，沉細如綿曰弱，沉而極細不斷曰細）。</p>
<p><u>主病詩</u></p>
<p>濡為亡血陰虛病，髓海丹田暗已虧。汗雨夜來蒸入骨，血山崩倒濕侵脾。寸濡陽微自汗多，關中其奈氣虛何。尺傷精血虛寒甚，溫補真陰可起疴（音阿，病也。濡主血虛之病，又為傷濕。補註：脈濡而散，主陽虛冷汗）。</p>

<h3>弱（陰也）</h3>
<p>弱脈極軟而沉細，按之乃得，舉手無有（《脈經》。弱乃濡之沉者，《脈訣》言輕手乃得，黎氏云譬如浮漚，皆是濡脈，非弱也。《素問》，曰脈弱以滑，是有胃氣。脈弱以澀，是謂久病。病後老弱見之順，平人少年見之逆）。</p>
<p><u>體狀詩</u></p>
<p>弱來無力按之柔，柔細而沉不見浮；陽陷入陰精血弱，白頭猶可少年愁。</p>
<p><u>相類詩（見濡脈）</u></p>
<p><u>主病詩</u></p>
<p>弱脈陰虛陽氣衰，惡寒發熱骨筋痿，多驚多汗精神減，益氣調營急早醫。寸弱陽虛病可知，關為胃弱與脾衰。欲求陽陷陰虛病，須把神門兩部推（弱主氣虛之病。仲景曰：陽陷入陰故惡寒發熱。又云，弱主筋，沉主渭，陽浮陰弱，血虛筋急。柳氏曰：氣虛則脈弱，寸弱陽虛，尺弱陰虛，關弱胃虛。補註：又主胃寒逆冷，真元內傷）。</p>

<h3>散（陰也）</h3>
<p>散脈大而散，有表無里（《脈經》），渙漫不收（崔氏），無統紀，無拘束，至數不齊，或來多去少，或去多來少，渙散不收，如楊花散漫之象（柳氏。戴同父曰：心脈浮大而散，肺脈短澀而散，平脈也。心脈軟散怔忡，肺脈軟散汗出，肝脈軟散溢飲，脾脈軟散胻腫，病脈也。腎脈軟散，諸病脈代散，死脈也。《難經》曰：散脈獨見則危。柳氏曰：散為氣血俱虛，根本脫離之脈，產婦得之生，孕婦得之墮）。</p>
<p><u>體狀詩</u></p>
<p>散似楊花散漫飛，去來無定至難齊。產為生兆胎為墮，久病逢之不必醫。</p>
<p><u>相類詩</u></p>
<p>散脈無拘散漫然，濡來浮細水中綿，浮而遲大為虛脈，芤則中空有兩邊。</p>
<p><u>主病詩</u></p>
<p>左寸怔仲右寸汗，溢飲左關應軟散，右關軟散胻胕（音夫，脛也）腫，散居兩尺魂應斷。</p>

<h3>細（陰也）</h3>
<p>細脈小於微而常有，細直而軟若絲線之應指（《脈經》、《素問》謂之小。王啟玄言如莠蓬狀，其柔細也。《脈訣》言往來極微。是微反大於細矣，與經相背）。</p>
<p><u>體狀詩</u></p>
<p>細來累累（音雷，端於貫珠）細如絲，應指沉沉無絕期。春夏少年俱不利，秋冬老弱卻相宜。</p>
<p><u>相類詩（見微脈）</u></p>
<p><u>主病詩</u></p>
<p>細脈縈縈（旋繞也）血氣衰，諸虛勞損七情乖，若非濕氣侵腰腎，即是傷精汗泄來。寸細應知嘔吐頻，入關腹脹胃虛形，尺逢定是丹田冷，泄痢遺精號脫陰（《脈經》曰：細為血少氣衰，有此症則順，否則逆，故吐衄沉細者生。憂勞過度者脈亦細）。</p>

<h3>伏（陰也）</h3>
<p>伏脈重按著骨，指下才動（《脈經》），脈行筋下（《刊誤》。《脈訣》言尋之似有，定息全無。殊為舛謬）。</p>
<p><u>體狀詩</u></p>
<p>伏脈推筋著骨尋，指間才動隱然深。傷寒欲汗陽將解，厥逆臍痛症屬陰。</p>
<p><u>相類詩（見沉脈）</u></p>
<p><u>主病詩</u></p>
<p>伏為霍亂吐頻頻，腹痛多緣宿食停，蓄飲老痰成積聚，散寒溫里莫因循。食鬱胸中雙寸伏，欲吐不吐常兀兀（不動貌），當關腹痛困沉沉，關後疝疼還破腹（傷寒一手脈伏曰單伏，兩手脈伏曰雙伏，不可以陽症見陰脈為診，乃火邪內郁，不得發越，陽極似陰，故脈伏也。有大汗而解，正如久旱將雨，六合陰晦，雨後萬物皆蘇之義。又有夾陰傷寒，先有伏陰在內，外復感寒，陰盛陽衰，四腳厥逆，六脈沉伏，須投姜附及灸關元，脈乃復出也。若太谿衝陽皆無脈者，必死。《脈訣》言徐徐發汗，潔古以附子細辛麻黃湯主之，皆非也。劉元賓曰伏脈不可發汗。補註：伏脈無分寒火，寒症常有伏脈，火症亦有伏脈。初病見伏脈者尚可治也，久病見伏脈者無可治也）。</p>

<h3>動（陽也）</h3>
<p>動乃數脈，見於關，上下無頭尾，如豆大，厥厥（發石也）動搖（《脈經》。仲景曰：陰陽相搏名曰動。陽動則汗出，陰動則發熱，形冷惡寒，此三焦傷也。成無己曰：陰陽相搏則虛者動，故陽虛則陽動，陰虛則陰動。龐安常曰：關前三分為陽，關後三分為陰，關位半陰半陽，故動隨虛見。《脈訣》言尋之似有，舉之還無，不離其處，不往不來，三關沉沉。含糊謬妄，殊非動脈。詹氏言其形鼓動如鉤毛者，尤謬。補往：動脈寸關尺皆有，不過如豆粒，兩頭俯，中間高起。若全無，是陰陽不通，死脈也）。</p>
<p><u>體狀詩</u></p>
<p>動脈搖搖數在關，無頭無尾豆形圓。其原本是陰陽搏，虛者搖兮勝者安。</p>
<p><u>相類詩</u></p>
<p><u>主病詩</u></p>
<p>動脈專司痛與驚，汗因陽動（陽動則汗出）熱因陰（陰動則發熱），或為泄痢拘攣病，男子亡精女子崩（仲景曰：動則為痛為驚。《素問》曰，陰虛陽搏謂之動。又曰：婦人手少陰脈動甚者，妊子也〕。</p>

<h3>促（陽也）</h3>
<p>促脈來去數，時一止復來（《脈經》），如蹶（音厥，失足也）之趨，徐疾不常（黎氏。《脈經》但言數而止為促，《脈訣》乃云並居寸口，不言時止者謬矣。數而止為促，緩而止為結，何獨寸口哉）。</p>
<p><u>體狀詩</u></p>
<p>促脈數而時一止，此為陽極欲亡陰，三焦鬱火炎炎盛，進必無生退可生。</p>
<p><u>相類詩（見代脈）</u></p>
<p><u>主病詩</u></p>
<p>促脈惟將火病醫，其因有五細推之，時時喘嗽皆痰積，或發狂斑與毒疽（促主陽盛之病。促、結之因皆有氣、血、痰、飲、食、五者之別，一有留滯則脈必見止也。補註：寸口促緊主氣滿胸膛，關中促緊主臍腹成症）。</p>

<h3>結（陰也）</h3>
<p>結脈往來緩，時一止復來（《脈訣》言或來或去，聚而卻還。與結無關。仲景言累累如循長竿曰陰結，藹藹如車蓋曰陽結。《脈經》又有如麻子動搖，旋引旋收，緊散不常曰結，主死。此三脈名同實異也。補註：結脈有陰陽之分。浮為陽結，屬陽虛，其病可治；沉為陰結，屬陰虛，其病難醫）。</p>
<p><u>體狀詩</u></p>
<p>結脈緩而時一止，獨陰偏盛欲亡陽，浮為氣滯沉為積，汗下分明在主張。</p>
<p><u>相類詩（見代脈）</u></p>
<p><u>主病詩</u></p>
<p>結脈皆因氣血凝，老痰結滯苦沉吟，內生積聚外癰腫，疝瘕為殃病屬陰（結主陰盛之病。越人曰：結甚則積甚，結微則積微，浮結外有痛積伏結，內有積聚）。</p>

<h3>代（陰也）</h3>
<p>代脈動而中止，不能自還，因而復動（《仲景》），脈至還入尺，良久方來（吳氏。脈一息五至，肝心脾肺腎五藏之氣皆足，五十動而一息，合大衍之數，謂之平脈。反此則止乃見焉。腎氣不能至，則四十動一止，月於氣不能至，則三十動一止。蓋一藏之氣衰而他藏之氣代至也。經曰：代則氣衰。滑伯仁曰：若無病嬴瘦脈代者，危脈也；有病而氣血乍損，氣不能續者代，為病脈。傷寒心悸脈代者，復脈湯主之；妊娠脈代者，其胎百日。代之生死，不可不辨）。</p>
<p><u>體狀詩</u></p>
<p>動而中止不能還，復動因而作代看，病者得之猶可療，平人卻與壽相關。</p>
<p><u>相類詩</u></p>
<p>數而時止名為促，緩止須將結脈呼，止不能回方是代，結生代死自殊途（促、結之止無常數，或二動一止，或三五動一止即來；代脈之止有常數，必依數而止，還入尺中，良久方來）。</p>
<p><u>主病詩</u></p>
<p>代脈原在藏氣衰，腹疼泄痢下元虧，或為吐瀉中宮病，女子懷胎三月兮。</p>
<p>《脈經》曰：代散者死。主瀉及便膿血。天都張澹初曰：促、結、代三脈，人多難辨，今剖明於後，庶使學者臨期有本，不致茫然矣。夫遲緩之脈，而時一止者為結；數滑之脈、而時一止者為促；二脈之止無規則，或數至一止，或數十至一止；或十幾至一止，或二十幾至一止，或三五至一止，參前落後，原無一定之止是也。結者、陰也，陰盛則結，主氣血凝滯，老痰積聚，胸滿等症。促者、陽也，陽盛則促，主痰嗽喘滿，癰疽鬱熱等症。二脈雖時一止，大抵為病脈，非死脈也。惟代者真死脈也。刻期而定致至而止，如四十動一止者，後必至四十而再一止，決不爽至也。是為一藏無氣，刻期而死矣。故歌曰：五十不止身無病，數內有止皆知定，四十一止一藏絕，四年之後多亡命。三十一止即三年，二十一止二年應。十動一止一年殂，更觀氣色兼形症。此緩者。又急者歌曰：兩動一止三四日，三四動止應六七，五六一止七八朝，次第推之自無失。</p>
<p>戴同父曰：脈必滿五十動出自《難經》，而《脈訣》五藏歌皆以四十五動為準，有乖經旨。柳東陽曰：古以動數候脈，是吃緊語。須候五十動，乃知五藏缺失。今人指到腕臂，即云見了，夫五十動豈彈指間事耶？故學者當診脈問症，聽聲觀色，脈備四診而無失。</p>

<h1>卷二</h1>

<h2>《醫林改錯》藏府圖</h2>
<figure>
<img data-orig-src="urn:270:08948.jpg" alt="《醫林改錯》藏府圖一">
</figure>
<figure>
<img data-orig-src="urn:270:08949.jpg" alt="《醫林改錯》藏府圖二">
</figure>
<figure>
<img data-orig-src="urn:270:08950.jpg" alt="《醫林改錯》藏府圖三">
</figure>
<p>直隸玉田縣王清任，將親見諸臟腑顯隱之形，繪於《醫林改錯》書中，曰：此書非治病全書，乃記藏府之書也。其中嘗有不實不虛之處，後人倘遇機會親見藏府，精察增補，抑又幸矣。</p>

<h3>會厭左右氣門衛總管榮總管氣府血府記</h3>
<p>欲知藏府體質，先明入氣出氣與進飲食之道路。古人謂舌根後名曰喉者，候也，候氣之出入，即肺管上口是也。喉之後名曰咽，咽者、嚥也，咽飲食入胃，即胃上口是也。謂咽以納食，吸以納氣，為千古不易之定論。自《靈樞》至今，四千年來無人知其錯而改正者。如咽，咽飲食入胃，人所共知；惟喉，候氣之出入一節，殊欠明白。不知肺兩葉大面向背，上有四尖向胸，下有小片亦向胸，肺管下分為兩杈，入肺兩葉，每權分九中杈，每中權分九小杈，每小杈長數小枝。枝之盡頭處，並無孔竅，其形彷佛麒麟菜。肺外皮亦無孔竅，其內所存皆浮白沫。肺下實無透竅，亦無行氣之二十四孔。先賢論吸氣則肺滿，呼氣則肺虛，此等錯誤不必細辯。人氣向里，吸則肚腹滿，大非肺滿；大氣向外，呼則肚腹虛小，非肺虛小。出氣入氣，吐痰吐飲，唾津流涎，與肺毫無干涉。肺管之後，胃管之前，左右兩邊凹處有氣管兩根，其粗如筋，上口在會厭之下，左曰左氣門，右曰右氣門，痰飲津涎由此氣管而出。古人誤以咳嗽喘急哮吼等症為肺病者，因見其症自胸中來。再者，臨症查有外感用發散而愈，有燥痰用清涼而愈，有積熱用攻而愈，有氣虛用補中而愈，有陰虧用滋陰而愈，有瘀血用逐瘀而愈，洋洋得意，立言著書，以為肺病無疑。不知左氣門、右氣門兩管，由肺管兩傍下行至肺管前面半截處，歸併一根如樹，兩杈歸一本，形粗如筋，下行入心，由心左轉出，粗如筆管，從心左後行，由肺管左邊過肺入脊前，下行至尾骨，名曰衛總管，俗名腰管。自腰以上向腹長兩管，粗如筋，上一管通氣府，俗名雞冠油，如倒提雞冠花之狀。氣府乃抱小腸之物，小腸在氣府是橫長，小腸外氣府內乃存元氣之所。元氣即火，火即元氣，此火乃人生命之源，食由胃入小腸，全仗元氣蒸化。元氣足則食易化，元氣虛則食難化，此記向腹之上一管、下一管，大約是通男子之精道、女子之子宮。獨此一管，細心查看，未能查驗的確，所以疑似，以俟後之業醫者倘遇機會，細心楂看，再補衛總管。對背心兩邊有兩管，粗如筋，向兩肩長，對腰兩管連兩腎，腰下有兩管通兩胯，腰上對脊正中有十一短管連脊。此管皆行氣，行津液，氣足火旺，將津液煎稠者，稠者名曰痰。氣虛火衰，不能煎熬，津液必稀，稀者名曰飲。痰飲在總管，以管中之氣上攻下行，過心由肺管前氣管中出左右氣門。痰飲津液本氣管中物，古人何以誤為肺中物？因不知肺管前有氣管相連而長，止知痰飲津涎自胸中來，便疑為肺中物，總是未親見臟府之故。手握足步，頭轉身搖，用行舍藏，全憑此氣。人氣向里，吸則氣府滿，氣府滿則肚腹大；氣向外呼，則氣府虛，氣府虛則肚腹小。衛總管行氣之府，其中無血。若血歸氣府，血必隨氣而出，上行則吐血衄血，下行則溺血便血。衛總管之前相連而長，粗如筋，名曰榮總管，即血管，盛血，與衛總管長短相等。其內之血由血府灌溉。血府即人胸下膈膜一片，其薄如紙，最為堅實，前長與心口凹處齊，從兩脅至腰上順長如坡，前高後低，低處如地池中，存血即精汁所化，名曰血府。精汁詳胃津門條下。前所言會厭，即舌後之白片。乃遮蓋左右氣門之物也。</p>

<h3>津門津管遮食總提瓏管出水道記</h3>
<p>嚥下胃之一物，在禽名曰嗉，在獸名曰肚，在人名曰胃。古人畫胃圖，上口在胃上名曰賁門，下口在胃下名曰幽門，言胃上下兩門不知胃是三門；畫胃豎長，不知胃是橫長，在腹是平鋪臥長。上口賁門向脊，下底向腹，下口幽門亦在胃上；偏右脅向脊門之左寸許，另有一門名曰津門。津門上有一管，名曰津管，是由胃出精汁水液之道路。精管一物最難查看，因上總提遮蓋。總提俗名胰子，其體長於賁門之右，幽門之左，正蓋津門。總提下前連氣府接小腸，後接提大腸。在胃上後連肝，肝連脊，此是膈膜以下，總提連貫胃、肝、大小腸之體質。飲食入胃，食留於胃，精汁水液先由津門流出入津管，津管寸許外分三杈，精汁清者入髓府化髓，精汁濁者，由上杈臥則入血府隨血化血，其水液由下杈從肝之中間穿過入脾。脾中間有一管，體相玲瓏，名曰瓏管。水液由瓏管分流兩邊入出水道。出水道形如魚網，俗名網油。水液由出水道滲出泌入膀胱，化而為尿。出水道出水一段體楂最難。自嘉慶二年看臟腑時，出水道有滿水鈴鐺者，有無水鈴鐺者，於理不甚透徹。以後診病查看久病壽終之人，臨時有多飲水者，有少飲水者，有不飲水者，故後其水仍然在腹。以此與前所看者參考，與出水道出水一節，雖然近理，仍不敢為定準。後以畜較之，遂喂遂殺之畜，網油滿水鈴鐺；三四日不喂之畜殺之，無水鈴鐺，則知出水道出水無疑。前言飲食入胃食留於胃，精汁水液自津門流出，津門既孔如筋大，能向外流精汁，水液浠粥，豈不能流出津門？雖孔如筋大，其處胃體甚厚，四圍擠靠縮小，所以水能流出而食不能出。況胃之內津門之左一分遠，有一疙瘩，形如棗大，名曰遮食，乃檔食於水之物。待精汁水液流盡，食方腐熟，漸入小腸，化而為糞。小腸何以化食為糞？小腸外有氣府，氣府抱小腸，小腸外、氣府內乃存元氣之所，元氣化食。此處與前氣府參看，化糞入大腸自肛門出，此篇記精汁由胃出津門生精生血；水液由瓏管出水道，入膀胱為尿；食由胃入小腸，元氣蒸化為糞之原委也。</p>
<p>昌按：上卷所繪叔和十二經臟腑表裡圖，確確鑿鑿不可改易。今王清任之新圖所增左氣門右氣門、血府、衛總管、榮總管、津門津管、總提、遮食、瓏管、出水道，皆由親見藏府所得而知，故繪圖立記以補前人所未備。圖中不見包絡、三焦斯為闕點，而小腸暗藏於氣府，膽附於肝，無容辯駁。第後代注家強辯《難經》三焦有名無狀之訛，故餘篇首立《脈訣》論，闡明包絡三焦，評以一外府一外藏，確無疑矣。</p>

<h2>四言脈訣</h2>
<p>四言脈訣始自漢張仲景平脈法，宋崔嘉彥衍之，明李時珍刪補，及李中梓又補其缺略刪其差訛，復加註釋，固已文簡義賅矣，然猶有與經義不合者，今皆刪去，其未備者補之。</p>
<p>脈為血脈，百骸貫通。大會之地，寸口朝宗。</p>
<p>脈者血脈也。血脈之中氣道行焉，五臟六腑以及奇經，各有經脈氣血流行，周而復始，循環無端。百骸之間，莫不貫通，而總會之處則在寸口。夫寸口左右手六部皆肺之經脈也，何以各經之脈，皆於此取乎？肺如華蓋，居於至高，而諸藏府皆處其下，各經之氣無不上黛於肺，故曰肺朝百脈，而寸口為脈之大會也。</p>
<p>診人之脈，令仰其掌，掌後高骨，是名關上。</p>
<p>凡診脈者，令病人仰手，醫者覆手診之，掌後有高骨隆起，是即關部也。先將中指取定關部，方下前後二指於尺寸之上也。病人長則下指宜疏，病人短則下指宜密。</p>
<p>關前為陽，關後為陰。陽寸陰尺，先後推尋。</p>
<p>從魚際至高骨卻有一寸，因名曰寸；從尺澤至高骨有一尺，因名曰尺。界乎尺寸之間名曰關。關前寸為陽，關後尺為陰。寸候上焦，關候中焦，尺候下焦。經曰：身半以上同天之陽，身半以下，同地之陰也。先後者，為先候寸部，次候關部，又次候尺部也。推者推其理，尋者尋其象，各察其得何脈也。</p>
<p>小腸與心，左寸之應。惟膽與肝，左關所認。膀胱及腎，左尺為定。大腸及肺，右寸昭彰。胃與脾脈，屬在右關。胞絡三焦，右尺班班。</p>
<p>此遵《內經》脈法分配臟腑於兩手也。小腸與心脈皆在左手寸上，膽與肝脈皆在左手關上，膀胱及腎脈皆在左手尺上。大腸與肺脈皆在右手寸上，胃與脾脈皆在右手關上，胞絡與三焦脈皆在右手尺上。</p>
<p>男子之脈，左大為順。女子之脈，右大為順。男尺恆虛，女尺恆盛。</p>
<p>左為陽，故男子宜左脈大也；右為陰，故女人宜右脈大也。寸為陽尺為陰，故男子尺虛，象離中虛也；女人尺盛，象坎中滿也。</p>
<p>關前一分，人命之主。左為人迎，右為氣口。</p>
<p>關前一分者，寸關尺各有三分共得九分。今曰關前一分，仍在關上，但在前之一分也。故左為人迎，辨外因之風。以左關乃肝膽脈，肝為風藏，故曰人迎緊盛傷於風。右為氣口，辨內因之食以右關，乃脾胃脈。胃為水穀之海，脾為倉廩之官，故曰氣口緊盛傷於食。勿以外因兼求六氣，勿以內因兼求七情也。或以前一分為寸上，豈有左寸之心可以辨風，右寸之肺可以辨食乎？</p>
<p>命門寄腎，在右關後。人無此脈，必死不救。</p>
<p>《難經》曰：上部無脈，下部有脈，雖困無能為害。夫脈之有尺，猶樹之有根，枝葉雖枯槁，根本將自生。蓋右尺屬少火，為生命之源，故為根本之脈而稱命門也。若無此脈，則根本絕，決無生理。</p>
<p>脈有七診，曰浮中沉，上下左右，七法推尋。</p>
<p>浮者輕下指於皮毛之間，探其府脈也，表也。中者略重指於肌肉之間候其胃氣也，半表半裡也。沉者重下指於筋骨之間，察其藏脈也，里也。上者，即上竟上者，胸喉中事也，即於寸內前一分取之。下者，即下竟下者，少腹、腹股、膝脛、足中事也，即於尺內後一分取之。左右者，即左右手也。凡此七法，名為七診。○別有七診，謂獨大、獨小、獨寒、獨熱、獨遲、獨疾、獨陷下也。</p>
<p>又有九候，即浮中沉，三部各三，合而為名。每候五十，方合於經。</p>
<p>每部有浮中沉三候，合寸關尺三部，算之共得九候之數也。夫每候必五十動者，出自《難經》，合大衍之數也。乃偽訣四十五動為準，乖於經旨。必每候五十，凡九候共得四百五十，兩手合計九百，方與經旨相合也。</p>
<p>五藏不同，各有本脈。左寸之心，浮大而散。右寸之肺，浮澀而短。肝在左關，沉而弦長。腎在左尺，沉石而濡。右關屬脾，脈象和緩。右尺相火，與心同斷。</p>
<p>此言五藏各有平脈也。必知平脈而後知病脈也。</p>
<p>若夫時令，亦有平脈。春弦夏洪，秋毛冬石。四季之末，和緩不忒。</p>
<p>此言四時各有平脈也。然即上文五藏之脈，大同小異也。春者，東方肝木也，未始發榮，有干無枝則近於勁，故曰弦，即弓弦也。夏者，南方心火也，萬物暢茂，垂枝布葉，皆下曲如鉤，鉤即洪之別名，亦即上文之大也。秋者，西方肺金也，草木黃落，有枝無葉，則類於毛，即上文之浮澀也。冬者，北方腎水也，極寒之時，水凝如石，故名為石。土旺於四季之末各十八日，脾土在中而兼五行也。和緩之義詳見下文。</p>
<p>太過實強，病生於外。不及虛微，病生於內。</p>
<p>外因風寒暑濕燥火六氣之邪，脈必洪大、緊數、弦長、滑實而太過矣。內因喜怒憂思悲恐驚七情之傷，臟必虛，微細弱、短澀、濡芤而不及矣。</p>
<p>四時百病，胃氣為本。</p>
<p>胃為水穀之海，資生之本也，故曰有胃氣則生，無胃氣則死。胃氣脈者，緩而和勻，不浮不沉，不大不小，不疾不徐，意思欣欣悠悠揚揚，難以名狀者也。不拘四季，一切百病皆以胃氣為本。</p>
<p>凡診病脈，平旦為準。虛靜凝神，調息細審。</p>
<p>經曰：常以平旦，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，氣血未亂，乃可診有過之脈。又曰：診脈有道，虛靜為寶。言無思無慮，以虛靜其心，惟凝神於指下也。調息者，醫家調勻自己之氣息。細審者，言精細審察，不可忽略也。</p>
<p>一呼一吸，合為一息。脈來四至，平和之則。五至無疴，閏以太息。三至為遲，遲則為冷；六至為數，數即熱證。轉遲轉冷，轉數轉熱。</p>
<p>醫者調勻氣息，一呼脈再至，一吸脈再至，呼吸定息脈來四至，乃和平之準則也。然何以五至亦曰無疴？平人之氣息時長時短，凡鼓三息，必有一息之長，名為太息。如歷家三歲一閏，五歲再閏也。言脈必以四至為平，五至便為太過，惟正當太息之時亦曰無疴，此息之長非脈之急也。若非太息，正合四至也。正於性急之人，五至為平脈，不拘太息之例。蓋性急脈亦急也。若一息而脈僅三至，即為遲慢而不及矣，遲主冷病。若一息而脈遂六至，即為急數而太過矣，數主熱病。若一息僅得二至甚而一至，則轉遲而轉冷矣。若一息七至甚而八至九至，則轉數而轉熱矣。一至二至，八至九至，皆死脈也。</p>
<p>遲數既明，浮沉須別。浮沉遲數，辨內外因。外因於天，內因於人。天有陰陽，風雨晦明。人喜怒憂，思悲恐驚。</p>
<p>浮脈法天，候表之疾，即外因也。沉脈法地，候里之病。外因者，天之六氣。○風，風淫木疾。○寒，陰淫寒疾，○暑，陰淫暑疾，○濕，雨淫濕疾。○燥，晦淫燥疾。○火，陽淫火疾是也。內因者，人之七情，喜傷心，怒傷肝，憂思傷脾，悲傷肺，恐傷腎，驚傷心也。</p>
<p>浮表沉里，遲寒數熱。浮數表熱，沉數里熱。浮遲表寒，沉遲冷結。</p>
<p>此以浮沉遲數四脈提諸脈之綱也。脈象雖多，總不外此四脈。浮主表證，沉主裡證，遲為寒，數為熱。浮而且數表有熱也，沉而且數里有熱也，浮而且遲寒在表也，沉而且遲寒在裡也。</p>
<p>浮脈法天，輕手可得，泛泛在上，如水漂木。有力洪大，來盛去悠，無力虛大，遲而且柔，虛極則散，渙漫不收。有邊無中，其名為芤。浮小為濡，綿浮水面。濡甚則微，不任尋按。更有革脈，芤弦合看。</p>
<p>此以浮脈提綱，又取洪虛散芤濡微革七脈之兼乎浮者，統匯於上也。○浮脈法天，輕清在上，故輕手即見，與肉分相應，如木之漂於水面也。○洪脈者，如洪水之洪，有波濤洶湧之象，浮而有力，來盛去哀，即大脈也，即鉤脈也。○虛脈者，浮而無力，且大且遲也。○散脈者，亦浮而無力，但按之如無，比於虛脈則更甚矣，若楊花飄散之象。○芤脈者，芤草中空，狀加蔥管，浮沉二候易見，故曰有邊，獨中候豁然難見，正如以指著蔥，浮取得上面之蔥皮，中取正在空處，沉按之又著下面之蔥皮也。無中者，非中候絕無，但比之浮沉則無力也。若沉微絕無是無胃氣矣。舊說以前後為兩邊，與芤蔥之義不合。○濡脈者，浮而小且軟也。○微者，浮而極小極軟，比於濡脈則更甚矣，「欲絕非絕似有若無」八字可為微脈傳神。○革脈者，浮而且弦且芤，浮多沉少，外急內虛，狀如皮革。仲景曰：弦則為寒，芤則為虛，虛寒相搏，此名曰革。革脈、牢脈，皆大而弦。革則浮取而得，牢則沉候而見也。舊以牢革為一脈者非。</p>
<p>沉脈法地，如投水石。沉極為伏，推筋著骨。有力為牢，大而弦長。牢甚則實，愊愊而強。無力為弱，柔小如綿。細直而軟，如蛛絲然。</p>
<p>此以沉脈提綱，而取伏牢實弱細五脈之兼乎沉者，統匯於下也。○沉脈法地，重濁在下，故重按乃得，與筋骨相應，如石之墜於水底也。○伏脈者，沉之極也，伏於下也。沉脈在筋骨之間，伏脈則推筋著骨，然後可見也。○牢脈者，沉而有力，且大且弦且長也。○實脈者，浮中沉三候皆有力，更甚於牢脈也。○弱脈者，沉而極細軟也。○細脈者，沉細而直且軟也。</p>
<p>遲脈屬陰，一息三至。緩脈和勻，春柳相似。遲細為澀，往來極滯。結則來緩，止而復來。代來亦緩，止數不乖。</p>
<p>此以遲脈提綱，而緩澀結代四脈之兼乎遲者統匯於下也。○遲脈者，往來遲慢，為不及之象。○緩脈者，一息四至，往來和勻，春風微吹柳梢，此確喻也，即胃氣脈也。○澀脈者，遲滯不利狀，如輕刀刮竹。舊一止復來者，非也。○結脈者，遲而時有一止也。○代脈者，遲而中止，不能自還，且止有定數，如四時之有禪代，不愆其期也，故名曰代。</p>
<p>數脈屬陽，一息六至。往來流利，滑脈可識。有力為緊，切繩極似。數時一止，其名為促。數如豆粒，動脈無惑。</p>
<p>此以數脈提綱，而取滑緊促動四脈之兼乎數者，統匯於下也。○數脈者，往來急數，為太過之象。○滑脈者，滑而不滯，如珠走盤也。○緊脈者，緊急有力，左右彈手。切繩者，喻其緊，亦喻左右彈也。○促脈者，數而時有一止，如疾行而蹶也。○動脈者，形如豆粒，厥厥動搖，兩頭俱俯，中間高起，故短如豆粒。舊云上下無頭尾，則上不至寸為陽絕，下不至尺為陰絕，是死絕之脈，非動脈也。仲景云：陽動則汗出，陰動則發熱，由是則寸尺皆有動脈，謂獨見於關者，誤矣。</p>
<p>別有三脈，短長與弦。不及本位，短脈可原。過於本位，長脈綿綿，長而端直，狀類弓弦。</p>
<p>此短長與弦三脈，非浮沉，遲數可括，故別列於此。○短者短縮之象。○長者相引之象。○弦者勁而端直之象。按戴同父曰：關不診短。若短脈見於關上，是上不通寸為陽絕，下不通尺為陰絕矣。</p>
<p>一脈一形，各有主病。脈有相兼，還須細訂。</p>
<p>前所載者，皆脈之形象。然有所主之病，有相兼之脈，更須細加考訂。此以下至女胎三月句，凡有十三節，各明其脈主某病，而相兼之脈盡在其中矣。</p>
<p>浮脈主表，府病所居。有力為風，無力血虛。浮遲表冷，浮數風熱，浮緊風寒，浮緩風濕。</p>
<p>六府屬陽，其應在表，故浮主府病也。浮而有力，則知風邪所幹。邪氣盛則實，有餘之象也。浮而無力，則知陰血虧損，正氣奪則虛，不足之象也。脈浮主表，脈遲主冷，浮遲兼見則為表冷也。浮脈主風，數脈主熱，浮數兼見則為風熱也。緊脈為寒，浮緊兼見則為風寒也。緩脈主濕，浮緩兼見則為風濕也。</p>
<p>浮虛傷暑，浮芤失血，浮洪虛火，浮微勞極，浮濡陰虛，浮散虛劇，浮弦痰飲，浮滑痰熱。</p>
<p>暑傷氣，氣虛則脈虛，故浮虛為傷暑也。失血之脈必芤，如吐血下血之類，芤脈自兼浮，非浮脈兼芤也。洪主火，洪而兼浮，知為虛火。微為氣血俱虛，故主勞極，此亦微脈自兼浮也。血屬陰，其應在下，濡脈按之而軟，故為陰虛。散者，散亡之義，虛極所致，劇即極也。弦者，風木之象，浮亦為風，故為痰飲，乃風痰也。滑主痰證，滑本陽脈而又兼浮，則炎上之象，故為痰熱也。</p>
<p>沉脈主裡，為寒為積。有力痰食，無力氣鬱。沉遲虛寒，沉數熱伏，沉緊冷痛，沉緩水蓄。</p>
<p>五藏屬陰，其應在裡，故沉主裡病也。沉者，陰象也；積者、藏病也，故為寒積。沉而有力，有餘之象，必有形之物凝滯於內。沉而無力，不足之象，乃無形之物鬱結於中。沉、遲皆偏於陰，所以虛寒沉冷數熱，故熱伏於裡也，緊主諸痛，亦主於寒，得之沉分，非冷痛乎？濕家得緩沉，位居里，當水蓄矣。</p>
<p>沉牢痼冷，沉實熱極，沉弱陰虧，沉細虛濕，沉弦飲痛，沉滑食滯，沉伏吐利，陰毒積聚。</p>
<p>仲景曰：寒則堅牢，有牢固之義，故云痼冷。牢脈自在沉分，非兼見也。實脈為陽熱之極也，實則三候皆強，不獨沉分也。按之無力為弱脈，故曰陰虧。細為不足，亦主濕侵，故曰虛濕。弦本主飲，亦主諸痛。滑雖主痰，若在脾部而沉分見之為食滯也。寸伏則吐，尺伏則利，在陰證傷寒則為陰毒積聚耳。</p>
<p>遲脈主藏，陰冷相干，有力為痛，無力虛寒。</p>
<p>五藏為陰，遲亦為陰，是以主藏，乃陰冷相干也。遲而有力，則因寒而凝滯，是以為痛。遲而無力，中空顯然，故當虛寒。</p>
<p>數脈主府，主吐主狂，有力實熱，無力虛瘡。</p>
<p>六府為陽，數亦為陽，是以主府。吐者、陽氣亢逆也，狂者、熱邪傳裡也。數而有力，實熱可知，數而無力，虛瘡可斷。</p>
<p>滑司痰飲，右關主食，尺為蓄血，寸必吐逆。</p>
<p>滑為痰脈，右關沉滑知有食停。兩尺見之，蓄血可察。兩寸見之，吐逆難免矣。</p>
<p>澀脈少血，亦主寒濕，反胃結腸，自汗可測。</p>
<p>尺中見澀，血少精傷也。關中見之，脾虛不能勝濕也。血液枯竭，上為反胃，下為結腸也。而寸見澀，則為自汗。蓋汗乃心之液，而肺主皮毛也。</p>
<p>弦關主飲，木侮脾經。陽弦頭痛，陰弦腹疼。</p>
<p>木旺者脈必弦，木旺必來侮土，土虛不能制濕，而痰飲之證生焉。陽弦者，寸也，寸主上焦，故當頭痛。陰弦者，尺也，主下焦，故當腹痛。</p>
<p>長則氣治，短則氣病，細則氣衰，大則病進。</p>
<p>補註：治、理也，謂氣血條理而不亂也。長乃肝之平脈，故曰氣治。經曰：如循長竿末梢為平。如循長竿為病。短雖肺之平脈，若非右寸及秋令見之即為病矣。脈以和平為貴，細者不及而氣衰，大者太過而病進也。</p>
<p>浮長風癇，沉短痞塞，洪為陰傷，緊主寒痛，緩大風虛，緩細濕痹，緩澀血傷，緩滑濕痰。</p>
<p>浮風長火，風火相搏則肝病而癇生。沉陰短虛，虛寒相合，則氣滯而痞生。洪即大脈，火之亢也，陽亢者，陰必傷。緊為寒脈，浮分則表為寒束而痛；沉分則里為寒滯而痛緩為虛。而大為風，緩大並至，故曰風虛。緩者，濕氣停滯；細者，虛氣不行而痹生焉。澀見即為血傷，挾緩則轉傷也。滑見即為濕痰，挾緩則愈濕矣。</p>
<p>澀小陰虛，弱小陽竭。陽微惡寒，陰微發熱。陽動汗出，為痛為驚。陰動則熱，崩中失血。虛寒相搏，其名為革，男子失精，女人漏血。</p>
<p>澀自主血虛，兼小而愈虛矣。弱脈自然小，此非兼脈。但弱脈見則陽氣愈竭矣。微者大虛之脈，故在陽分見則氣虛而惡寒，在陰分見則血虛而發熱。寸動名陽，汗出者，心肺之證。驚氣入心，氣滯則痛，亦心肺也。尺動名陰，熱者，腎水不足。崩中失血，皆腎經失閉蟄封藏之本也。仲景論革脈云：弦則為寒，芤則為虛，虛寒相搏，此名為革，男子亡血失精，女人半產漏下。</p>
<p>陽盛則促，肺癰熱毒，陰盛則結，疝瘕積鬱。代則氣衰，或泄濃血（補註：下症見之，勿作死脈）。傷寒霍亂，跌打悶絕。瘡疽痛甚，女胎三月。</p>
<p>數而有止為促，豈非陽盛乎？肺癰熱毒皆火極所致者。遲而有止為結，豈非陰盛乎？疝瘕積鬱皆陰氣凝滯也。至於代脈，真氣衰敗而後見也，泄濃血者，見之必死，惟傷寒心悸，或霍亂昏煩，或瘡疽痛極，或跌打損傷，或懷胎三月，此五者見之弗作死脈也。</p>
<p>脈之主病，有宜不宜，陰陽順逆，吉凶可推。</p>
<p>病有陰陽，脈亦有陰陽，順應則吉，逆見即凶。此以下至其死可測句，凡二十六節，詳分某病見某脈吉，某病見某脈凶也。</p>
<p>中風之脈，動喜浮遲，堅大急疾，其凶可知。</p>
<p>中風者多虛脈，以浮遲為順。若反堅疾，決無生理。</p>
<p>浮滑中痰，沉遲中氣。屍厥沉滑，卒不知人。入藏身冷，入府身溫。風傷於衛，浮緩有汗。寒傷於營，浮緊無汗。暑傷於氣，脈虛身熱。濕傷於血，脈緩細澀。（此一節補中痰中氣屍厥傷風傷寒暑傷氣濕傷血）</p>
<p>傷寒熱病，脈喜浮洪，沉微澀小，證反必凶。汗後脈靜，身涼則安；汗後脈躁，熱甚必難。陽證見陰，命必危殆；陰證見陽，雖困無害。</p>
<p>此節皆言傷寒順逆也。雖受寒邪，傳裡必熱，故曰：熱病病即屬熱，脈以浮洪為吉，若沉微澀小，是證與脈反，故凶。汗後邪解便當脈靜身涼，若躁而熱，所謂汗後不為汗衰，不可治矣。陽證而見沉澀細弱微遲之陰脈，則脈與證反，命必危殆。陰症而見浮大數動洪滑之陽脈，雖若反症，在他症忌之，獨傷寒為邪氣將解之象，病雖困苦，無害於命也。</p>
<p>勞倦內傷，脾脈虛弱。汗出脈躁，死證可察。飲食內傷，氣口脈滑。</p>
<p>勞倦傷脾，故脾脈虛弱為順也。若汗出而脈反躁疾，則逆矣，安得不死。</p>
<p>瘧脈自弦，弦數者熱，弦遲者寒，代散則絕。</p>
<p>瘧者風暑之邪客於風水之府，木來乘土，脾失轉輸，不能運水穀之精微，遂多停痰留飲。弦應風木，又主痰飲，無痰不成瘧，故曰瘧脈自弦。數熱遲寒，自然之理。獨見代散二脈則命必絕矣。</p>
<p>泄瀉下痢，沉小滑弱；實大浮數，發熱則惡。</p>
<p>瀉痢則虛，宜見沉小滑弱之脈，若反見實大浮數之脈，則身必發熱，而成惡候矣。</p>
<p>嘔吐反胃，浮滑者昌；弦數緊澀，結腸者亡。</p>
<p>嘔吐反胃，脾虛有痰也，浮為虛，滑為痰，是其正象，可以受補，故曰昌也。若弦數緊澀而血液枯竭，遂致糞如羊屎，必死不治。</p>
<p>霍亂之候，脈代勿訝；厥逆遲微，是則可嗟。</p>
<p>霍亂之脈，洪大為佳，若見代脈，因一時清濁混亂，故脈不接續，非死脈也。微細而舌卷囊縮者，不可治也。</p>
<p>嗽脈多浮，浮濡易治；沉伏而緊，死期將至。</p>
<p>嗽乃肺疾，脈浮為宜，兼見澀者，病將退也。若沉伏與緊，則相反而病深矣，不死何待。</p>
<p>喘息抬肩，浮滑是順；沉澀肢寒，均為逆證。</p>
<p>喘證無非風與痰耳，脈以浮滑為順，若反沉澀而四肢寒者，必死不治。補註：陽喘多實，風與痰也；陰喘多虛，寒與虛也。</p>
<p>火熱之證，洪數為宜，微弱無神，根本脫離。</p>
<p>熱證而得洪數，乃正應也。若見微弱，脈證相反，根本脫絕，藥餌不可施矣。</p>
<p>骨蒸發熱，脈現數虛；熱而澀小，必殞其軀。</p>
<p>骨蒸者，腎水不足，壯火僭上，虛數二脈其正象也；若見澀小之脈，所謂發熱脈靜，不可救耳。</p>
<p>勞極諸虛，浮軟微弱；土敗雙弦，火炎則數。</p>
<p>虛症宜見虛脈，若兩手脈弦，謂之雙弦。弦乃肝脈，右關見之是肝木乘脾，故曰土敗。火熱太過，脈必極數，甚而七至。勞症之脈，六至以上更不可治。</p>
<p>失血諸證，脈必現芤，緩小可喜，數大堪憂。</p>
<p>芤有中空之象，失血者宜爾也。緩小亦為虛脈，順而可喜；若數且大，謂之邪盛，可憂也。</p>
<p>蓄血在中，牢大卻宜，沉澀而微，速愈者希。</p>
<p>蓄血者，有形實症，牢大之脈，脈證相宜。倘沉澀而微，是挾虛矣，既不能自行其血，又難施峻猛之劑，安望其速愈耶？</p>
<p>三消之脈，數大者生；細微短澀，應手堪驚。</p>
<p>渴而多飲為上消，消穀善飢為中消，渴而便數有膏為下消。三消皆燥熱太過，惟見數大之脈為吉耳。細微短澀，死不可救。</p>
<p>小便淋閉，鼻色必黃；實大可療，澀小知亡。</p>
<p>鼻頭色黃必患小便難，六脈實大者，但用分理之劑必愈；若逢澀小，為精血敗壞，死亡將及矣。</p>
<p>癲乃重陰，狂乃重陽，浮洪吉象，沉急凶殃。</p>
<p>癲狂二症皆以浮洪為吉，取其病尚淺也，若沉而急，病已入骨，雖有扁倉，莫之能療矣。</p>
<p>癇宜浮緩，沉小急實；或但弦急，必死不失。</p>
<p>癇本風痰，脈必浮緩，自應然也。若沉小急實，或虛而弦急者，肝之真藏脈見矣，安望其更生耶？</p>
<p>喉痹之脈，數熱遲寒，纏喉走馬，微伏者難。</p>
<p>諸風眩暈，有火有痰，左澀死血，右大虛看。</p>
<p>頭痛多弦，浮風緊寒，熱洪濕細，緩滑厥痰。氣虛血軟，血虛微澀，腎厥弦堅，真痛短澀（真痛者，真頭痛也，朝發夕死，夕發朝死）。</p>
<p>大便燥結，須分氣血，陽數而買，陰遲而澀。</p>
<p>遺精白濁，微澀而弱，火盛陰虛，芤濡洪數。</p>
<p>心腹之痛，其類有九，細遲速愈，浮大延久。</p>
<p>九種心腹之痛，皆宜遲細，易於施療；如浮而大，是為中虛邪盛，不能收捷效也。</p>
<p>腰痛之脈，多沉而弦，浮兼者風，緊兼者寒，弦滑痰飲，濡細腎看，大乃腎虛，沉實閃肭。</p>
<p>腳氣有四，遲寒數熱。浮滑者風，濡細者濕。</p>
<p>痿病肺虛，脈多微緩，或澀或緊，或細或濡。風寒濕氣，合而為痹，浮澀而緊，三脈乃備。</p>
<p>疝屬肝病，脈必弦急，牢急者生，弱急者死。</p>
<p>肝主筋，疝則筋急，故屬肝病也。肝脈弦急是其常也。疝系陰寒之咎，牢主裡寒之脈，亦其常也。如且弱且急，必有性命之憂。</p>
<p>黃疸濕熱，洪熱便宜，不妨浮大，微澀難醫。</p>
<p>濕蒸熱壅，黃疸生焉，洪數也，浮大也，皆所宜也。一見微澀，虛衰已甚，必食少瀉多，無藥可療矣。</p>
<p>腫脹之脈，浮大洪實，細而沉微，岐黃無術。</p>
<p>水腫脹滿屬有餘之證，官見有餘之脈，浮大洪實是矣。沉細而微，謂之證實脈虛，難言生矣。</p>
<p>五藏為積，六府為聚，實強可生，沉細難愈。</p>
<p>積聚皆實證也，實脈強盛是所當然，沉細為虛之診，真氣敗絕，不可為矣。</p>
<p>中惡腹脹，緊細乃生，浮大為何，邪氣已深。</p>
<p>中惡者，不正之氣也，緊細主吉，浮大則凶也。</p>
<p>鬼祟之脈，左右不齊，乍大乍小，乍數乍遲。</p>
<p>鬼祟犯人，左右二手脈象不一，忽大忽小，忽數忽遲，無一定之脈形也。</p>
<p>癰疽未潰，脈宜洪大。及其已潰，洪大始戒。</p>
<p>未潰屬實，洪大為正脈也。若潰後則虛矣，仍見洪大脈，則為邪實，最所忌也。</p>
<p>肺癰已成，寸數而實。肺痿之形，數而無力。肺癰色白，脈宜短澀；數大相逢，氣損血失。腸癰實熱，滑數可必，沉細無根，其死可測。</p>
<p>肺癰而寸口數實，知膿已成矣。肺葉焦痿，火乘金也，是以數而無力。肺癰肺痿得白色者，肺之本色，得短澀者，肺之本脈。若逢數大是謂火來乘金。克我者為賊邪，血敗壞之診也。腸癰、實也，沉細、虛也，證實脈虛，死期將至矣。</p>
<p>婦人有子，陰搏陽別，少陰動甚，其胎已結。滑疾不散，胎必三月。但疾不散，五月可別。左疾為男，右疾為女，女腹如箕，男腹如釜。</p>
<p>此一節女科胎前之脈也。陰搏陽別者，寸為陽，尺為陰。言尺陰之脈搏指而動，與寸陽之脈迥然分別，此有子之診也。或手少陰心脈獨動而甚，心藏主血，故胎結而動甚也。動者，往來流到之動，非厥厥如豆之動也。疾即數也。滑而且數。按之不散，三月之胎也。滑脈不見而但疾不散，五月之胎也。左為陽，故左疾為男胎；右為陰，故右疾為女胎。女胎腹形狀如箕之圓也，男胎腹形狀如釜之上小而下大也。昌按：陰搏陽別作寸陽之脈不搏指，迥然分別之義不合，何手少陰心臟獨動而甚，此有子之診也？宜作右寸肺脈不搏指，與左寸心脈之盛迥然分別也。</p>
<p>欲產之脈，散而離經。新產之脈，小緩為應。實大弦牢，其凶可明。</p>
<p>此一節產中之脈也。散而離經，離經者，離乎經常之脈也。胎動於中，脈亂於外，勢之必至也。產後氣血兩虛，見小緩之虛脈為吉，若見實大弦牢，凶可知矣。</p>
<p>奇經八脈，不可不察。直上直下，尺寸俱牢。中央堅實，衝脈昭昭。胸中有寒，逆氣裡急。疝氣攻心，支滿溺失。</p>
<p>奇經者，無表裡配偶之經也。八脈者，陽維也，陰維也，陽蹺也，陰蹺也，沖也，督也，任也，帶也。直上直下，弦長相似。尺寸俱牢，亦兼弦長，是以有逆氣裡急之證，疝氣攻心，氣逆而裡急也。支滿者，脹也。溺失者，衝脈之干腎也。此以下七脈皆奇經脈也。</p>
<p>直上直下，尺寸俱浮，中央浮起，督脈可求，腰背強痛，風癇為憂。</p>
<p>直上直下則弦長矣，尺寸俱浮，中央亦浮，則六部皆浮。又兼弦長，故其見證皆屬風象。大抵衝脈主裡，督脈主表也。</p>
<p>寸口丸丸，緊細實長，男疝女瘕，任脈可詳。</p>
<p>寸口者，統寸關尺三部也。丸丸、動貌。緊細實長，寒邪盛而實也。男疝女瘕，即少腹繞臍下切痛也。</p>
<p>寸左右彈，陽蹺可決；尺左右彈，陰蹺可別；關左右彈，帶脈之訣。</p>
<p>左右彈，緊脈之象也。陽蹺主陽絡，故應於寸；陰蹺主陰絡，故應於尺；帶脈如束帶之狀，在人腰間，故應於關。</p>
<p>尺外斜上，至寸陰維；尺內斜上，至寸陽維。</p>
<p>從右手手少陽三焦斜至寸上手陽明大腸之位，是陰維脈也。從左手足少陰腎經斜至寸上手太陽小腸之位，是陽維脈也。斜上者，不由正位，而上斜向大指名為尺外，斜向小指名為尺內，斜邪在陽維陽蹺則發癇，癇動而屬陽。邪在陰維陰蹺則發癲，癲靜而屬陰故也。</p>
<p>脈有反關，動在臂後，別由列缺，不幹證候。</p>
<p>反關脈者，脈不行於寸口，由列缺絡入臂後手陽明大腸之經也，以其不順行於關上，故曰反關。有一手反關者，有兩手反關者，此得於有生之初，非病脈也。令病人覆手診之方可見耳。</p>
<p>經脈病脈，非已昭詳，將絕之形，更當度量。</p>
<p>經常之脈，主病之脈，皆明於前矣。而死絕之脈，亦不可不察也，分列於後。</p>
<p>心絕之脈，如操帶鉤。轉豆躁疾，一日可憂。</p>
<p>經曰：脈來前曲後踞，如操帶鉤，曰心死。前曲者，謂輕取則堅強而不柔；後踞者，謂重取則牢實而不動，如持革帶之鉤，全失沖和之氣，但鉤無胃，故曰心死。轉豆者，即經所謂如循薏苡子累累然狀，其短實堅強，真藏脈也。又曰心絕一日死。</p>
<p>肝絕之脈，循刃責責，新張弓弦，死在八日。</p>
<p>經曰：真肝脈至，中外急，如循刀刃。又曰：脈來急益勁，如新張弓弦，曰肝死。又曰肝絕八日死。</p>
<p>脾絕雀啄，又同屋漏，一似水流，還如杯覆。</p>
<p>舊訣曰：雀啄連來四五啄，屋漏少刻一點落。若水流，若杯覆，皆脾絕也。經曰脾絕四日死。</p>
<p>肺絕維何，如風吹毛，毛羽中膚，三日而號。</p>
<p>經曰：如風吹毛曰肺絕。又曰真肺脈至，如以毛羽中人膚，皆狀其但毛而無胃氣也。又曰肺絕三日死。</p>
<p>腎絕伊何，發如奪索，辟辟彈石，四日而作。</p>
<p>經曰：脈來如奪索，辟辟如彈石腎死。又曰腎絕四日死。舊訣云：彈石硬來尋即散，搭指散亂如解索。正此謂也。</p>
<p>命脈將絕，魚翔蝦游，至如湧泉，莫可挽留。</p>
<p>舊訣云：魚翔似有又似無，蝦游靜中忽一躍。經云：渾渾革至如湧泉，綿綿其去如弦絕，皆死脈也。</p>

<h2>太素脈法</h2>
<p>岐黃脈法，候病死生。太素脈法，陰陽貴清。清如潤玉，至數分明。濁脈如石，模糊不清。小大貧富，澀滑窮通，長短壽夭，詳推錯綜。</p>

<h2>奇經八脈脈病歌</h2>
<p>奇經八脈者，陽維陰維，陽蹺陰蹺，衝任督帶，不與十二經共貫也。</p>
<p>奇經八脈者，在十二經脈之外，無藏府與之配合，故曰奇。李時珍曰：凡人一身有經脈，有絡脈，直行曰經，旁支曰絡。經凡十二，手之三陰三陽，足之三陰三陽是也。絡凡十五，乃十二經各有一旁絡，而脾經又有一大絡，並任督二絡為十五絡也。其二十七氣，相隨上下，如泉之流，如日月之行，不得休息，故陰脈榮於五藏，陽脈榮於六府，陰陽相貫如環無端，莫知其紀，終而復始。其流益之氣入於奇經，轉相灌溉，內溫藏府，外濡腠理。奇經凡八，不拘制於十二正經，無表裡藏府配合，故謂之奇，蓋正經猶夫溝渠，奇經猶夫湖澤，正經之脈隆盛則溢於奇經，故秦越人比之天雨降下，溝渠滿溢，滂沱妄行，流於湖澤。此發《靈樞》未發之秘也。○故陽維起於諸陽之會，由外踝之金門穴而上行於衛分。○陰維起於諸陰會，由內踝之築賓穴而上行於榮分，所以為一身之綱維也。夫人身之經絡繁密，二脈能於陰交陽會之處，加一系縛，舉綱齊目，而陰陽斯得維持之力矣。○陽蹺之脈起於足跟，循外踝上行於身之左右。○陰蹺之脈起於足跟，循內踝上行於身之左右，所以使機關之蹺捷也。二脈以躁內外分陰陽者，外踝屬太陽，內踝屬少陰也。○督、任、沖者，皆起於會陰穴，一源而三派。督脈循脊而行於身後，為陽脈之總督，故曰陽脈之海。任脈亦起於會陰，循腹而行於身前，為陰脈之承任，故曰陰脈之海。衝脈亦起於會陰，前行於腹，後行於背，上行於頭，下行於足，以至溪谷肌肉無處不到，為十二經絡上下之衝要，故曰十二經脈之海。帶脈橫圍於腰，狀如束帶，所以總束諸脈者也。是故陽維主一身之表，陰維主一身之裡，以乾坤言也。陽蹺主一身左右之陽，陰蹺主一身左右之陰，以東西言也。督主身後之陽，衝任主身前之陰，以南北言也。帶脈橫束諸脈，以六合言也。錢塘潘楫曰：醫而知乎八脈，則十二經、十五絡之大旨得矣。仙而知乎八脈，則龍虎升降，玄牡幽微之竅妙得矣。</p>
<p>陽維為病苦寒熱（張潔古曰：陽主衛、主氣、主表，陽維受邪，為病在表，故表病苦寒熱），陰維為病苦心痛（陰主榮、主血、主裡，陰維受邪，為病在裡，是榮合血，血合心，故苦心痛）。陽蹺為病，陰緩而陽急（《難經》）曰：陽蹺、陽之絡也，故陰緩而陽急，其，陽病而陰不病也）。陰蹺為病，陽緩而陰急（陰蹺、陰之絡也，故陽緩而陰急，是陰病而陽不病也。又曰癲癇瘛瘲，寒熱恍惚，癲屬陰，目閉俯首，陰急而陽緩也；癇屬陽，目直僵仆，陽急而陰緩也。瘛者，挈也，筋脈挈向里拘，陰病而陽不病也。瘲者，縫也，筋脈縱從外弛，陽病而陰不病也。寒則氣收斂，從里從陰；熱則氣散漫，從表從陽。恍者，目前恍然若有所見，陽病也；惚者，胸中恍惚若有所失，陰病也。二經為病，總之分陰陽緩急之義也）。沖之為病，氣逆則裡急（衝脈為五臟六腑十二經脈之海，其氣不順，血不和，則胸腹之氣循經壅逆而上，故里急矣）；督之為病，脊強而折厥（督者，總督諸陽，與太陽合行於背，故督為諸陽之總，太陽為諸陽之長，故風邪傷陽，表先受之，所以脊強反折而癲癇。其脈起自會陰，由長強貫脊上行，過顛頂至齦交而終，凡二十七穴）。任之為病，則男疝而女瘕聚（任者，承任諸陰，與衝脈並行於腹，故腹屬陰，背屬陽也。男子病疝，女子瘕聚者，蓋七疝之發，必在前陰小腹之間，任脈所經之地，雖屬肝經，未有不以任為原者。瘕者，假也；聚者，氣聚則堅，氣散則平，亦似疝之時作時止之意，多屬氣聚血凝經滯也。其脈起自會陰，上循臍腹，過咽喉至承漿而終，凡二十四穴。經曰：女子以衝任為主，故衝任調則月事以時下，男女交媾而成孕，產則上為乳汁。又曰：女子二七而天癸至，任脈通，太衝脈盛，月事以時下；七七任脈虛，太衝脈衰，天癸竭，地道不通而無子，所以婦人全賴衝任也。男子以督任為主，滑伯仁曰：任督二脈，一源而二岐，一行於身前，一行於身後，猶夫天地之子午，可以分可以合，分之以見陰陽之不離合，之混淪，之無間，一而二，而一者也。李時珍曰：任督二脈，人身之子午也，乃丹家陽火陰符升降之道，坎水離火交媾之鄉，人能通二脈，則百脈交通。○《黃庭經》曰皆在心內運天經，晝夜存之自長生。天經，乃吾身之黃道，呼吸往來於此也，鹿運尾閭，能通督脈；龜納鼻息，能通任脈，故二物皆得長壽。此數說皆丹家河車妙旨，而藥物火候自有別傳。奇經八脈之精詳，見李時珍《八脈考》。而醫家不可不覽焉）。帶主帶下，腹脹滿而腰溶溶（楊氏曰：帶脈總束諸脈，不使妄行。如人束帶而前垂，故名帶。婦人惡露隨帶脈而下，故謂之帶下。張子和曰：任、督、沖三脈同起而異行，一源而三岐，皆絡於帶脈。因諸經往來上下，遺熱於帶脈之間，客熱鬱抑，白物滿溢，隨溲而下，綿綿不已，是為白帶。一有此病，則腹脹滿，腰溶溶如坐水中狀）。脈則尺外斜上，至寸陽維（脈自尺至寸皆斜於外，是自內出外，陽之象也），尺內斜上，至寸陰維（脈則自尺至寸，皆斜上於內，是自外入內，陰之象也）；寸左右彈，陽蹺可決（寸以候陽，寸之左右皆有彈石搏手之意是陽蹺脈也），尺左右彈，陰蹺可別（尺以候陰，尺之左右皆有彈石搏手之意，是陰蹺脈也）；關左右彈，帶脈當則（帶脈圍腰一周，不上不下，故關應之，所以關左右彈者是帶脈也）。直上直下，浮則為督，牢則為沖，緊則為任（《靈樞經》曰：沖為五臟六腑之海，任、督為陰陽之絡，三脈直行上下，發源最中，故見脈亦直上直下。即三部以長透之義，若直上直下而浮者，則氣張揚，陽之象也，故屬督；若直上直下而牢者，則體堅實，有餘之象也，故屬沖；若直上直下而緊者，則勢斂束，亦陰象也，故屬任）。八脈脈症，醫所當恁（音飪，俗言如此也。言醫於此，八脈並八脈之病症，當留心體恁焉）。</p>

<h2>診四時生克脈歌（以四時為主得脈）</h2>
<p>春得秋脈定知死，死在庚申辛酉里（人之臟氣喜所生而畏所克，如春季木旺之時，其脈當弦長，今見浮澀而短，是肺脈也，為金來剋木，期在庚申辛酉金旺之日必死也）；夏得冬脈亦如然，還與壬癸為斯爾（夏季火旺之時，其脈當洪，如得沉細，是腎脈也，為水來剋火，則在壬癸亥子水旺之日必死也）；嚴冬診得四季脈，戊己辰戍是其厄（冬季水旺之時，其脈當沉細，如得遲緩，是脾脈也，為土來剋水，期在戊己辰戌丑未土旺之日必死）；秋得夏脈亦同前，為緣丙丁相刑剋（秋季金旺之時，其脈當浮澀，如得洪大，是心脈也，為火來剋金，期在內丁巳午火旺之日必死也）；季月季夏得春脈，克在甲寅病應極（季月是辰戌丑未之月，季是六月，皆土旺之時，其脈當遲緩，如得弦長是肝脈也，為木來剋土，期在甲寅乙卯木旺之日必死也），直逢乙卯亦非良，此是五行相鬼賊（若逢乙卯日，亦為木剋土也。以上皆五行相剋之理。然臨病之時，又在觀形察色審症，看脈中有胃氣無胃氣以斷吉凶也）。</p>

<h2>診四時虛實脈歌（以時為主）</h2>
<p>春得冬脈只為虛，更宜補腎病自除（經曰：從後來為虛邪，從前來者為實邪。又曰，虛則補其母，實則瀉其子。假如春令得沉石之腎脈者，五行水能生木，是母來生我也，謂之從後來之虛邪也。經又曰：不應至而至謂之太過，應至而不至謂之不及，太過者為實，不及者為虛。故虛則補其母，謂補腎水以生肝木，其病自除）；若得夏脈緣心實，還應瀉子自無虞（假如春得夏令洪大之脈者，五行以木能生火是母去生子也，為之從前來之實邪，實則瀉其子，謂瀉其心火自愈，故雖病而無虞）。夏秋冬脈皆如是，其間生克細推之（言春季生克虛實之理既明，而夏秋冬三時仿此而推）。所勝為微不勝賊，在前為實在後虛（我勝彼者為微邪，彼勝我者為賊邪，在我前者為實邪，在我後者為虛邪，正經為正邪，此五邪也，詳見《難經》並前圖中）。春中若得四季脈，不治多應病自除（如春中診得四季脾土之脈為微邪，謂木勝土，我勝彼也，不治自愈）。</p>

<h2>形色脈體相應歌（以色為主）</h2>
<p>形健脈病號行屍，形病脈健亦將危（形健脈病者，謂身體健旺無病之人，其脈見代散，或脈無根，或六脈與人不相應，則不久即病，病即死，故曰行屍。形病脈健者，謂人有久病在身，形容羸瘦，精神枯稿，盜汗不食，滑泄不止，虛損勞極而脈反見洪數有力亦死也）；色脈相生病自己，色脈相勝不須醫（經言見其色而不得其脈，反得相勝之脈者，死；得相生之脈者，病自己。蓋四時之色、脈以相生為主，假令色紅，病熱痰火癍疹等症，其脈當浮洪而大，此為色脈相應，即不然或得色青、脈弦大，此亦為生我者，或得色黃脈緩大，此亦為我生者，雖病無能為害。若得脈沉細，此為克我者，故色脈相勝不須醫，此之謂也）。長短肥瘦老幼體，細心診候莫違時（如長人脈宜疏長，短人脈宜短促，肥人脈宜沉，瘦人脈宜浮，老人脈宜濡弱，幼人脈宜急數，此為體脈相宜，曰無病；若相違相反，體脈不應曰病）。</p>

<h2>《脈經》觀病察色生死候歌</h2>
<p>欲愈之病目眥黃（胃氣行也），眼胞忽陷定知亡（五臟絕也），耳目口鼻黑色起，入口十死七難當（腎乘胃也，即水乘土）。面黃（土色）目青（木色）手亂頻，邪風在胃喪其身（木剋土也）。面黑目白命門敗，困極八日死來侵（先青後黑，即《素問》回則不轉，神去則死意）。面色忽然望之青，進之如黑卒難當（肝腎絕也）。面赤目白怕喘氣，待過十日定存亡（火剋金也）。黃黑白色起入目，更兼口鼻（雜色入於口鼻）有災殃（水乘脾也）。面青目黃午時死，余候須有兩日強（木剋土也，看過二日而斷死生）。目無精光（神少）齒齦黑（脾絕也，肝絕也），面白（少血也）目黑（腎虛也）亦災殃（肺腎絕也）。口如魚口不能合（脾絕），氣出（火勝迫肺）不返命飛揚（肝腎先絕）。肩息（氣喘也）直視及唇焦，面腫蒼黑也難逃。妄語錯亂及不語，口臭元知壽不高（心絕）。人中盡滿兼唇青，三日須知命必傾（木剋土也）。兩頰顴赤心病久，口張直氣命難停（脾肺絕也）。足趹趾腫膝如斗，十日須知難保守（脾絕）。項筋舒展定知殂（督脈絕也），掌內無紋也不久（心包絡絕）。唇青體冷及遺尿（膀胱絕也），背面飲食四日期（肝絕）。手足爪甲皆青黑，許過八日定難醫（肝腎絕也）。脊疼（脾也）腰重（腎也）反覆難，此是骨絕五日看。體重（脾也）溺出（腎也）時不止，肉絕六日便高判。手足甲青呼罵多，筋絕九日定難過。髮直如麻半日死（小腸絕也），尋衣癲語十知麼（心絕）。</p>

<h2>診傷寒脈歌</h2>
<p>傷寒熱病同看脈，滿手透關洪拍拍，陽症浮緊數弦洪，七日之中便脫厄。忽然微細慢沉沉，直至伏時重候逆。大凡此症問途程，沉數洪微定消息（夫傷寒者，乃冬月嚴寒之時，人之不謹，觸冒寒邪，即病者名為傷寒，不即病寒邪藏於肌膚之中，至春變為瘟病，夏變為熱病。此二症名雖不同而其六經傳變則一也，故曰傷寒熱病同看脈。初得病一日，在足太陽膀胱經，脈即浮緊；漸至三關洪大拍拍然。傷寒有陽症有陰症，如脈浮緊洪大，症則頭疼身熱，面赤煩躁，脊強體重為陽症，陽脈順也。至七日傳經盡，邪氣散則愈矣。如見陽症而脈忽見微細，沉伏，此陽症見陰脈也。《活人書》曰：陽症見陰脈者死，陰症見陽脈者生。故訣云大凡看陰症陽症之程途，是診脈之沉數洪微，便可消息矣）。熱病診得脈浮洪，細小徒費用神功。汗後脈靜當便瘥，喘熱脈亂命應終（言傷寒熱病脈當浮洪為順，今診得微細而小者，乃陽症見陰脈也，主死。如傷寒發汗之後，邪氣已散，熱退身涼，脈當平靜，其病愈矣。今既汗之後反喘急大熱，狂悶脈亂不食者，名陽交陰者，死。沈氏曰：傷寒一症，《素問》雖載而未詳，至漢張仲景出，發《素問》所未發，治傷寒三百九十七法，一百一十三方，條分縷析無不詳備，故仲景為傷寒之鼻祖。其後，人有成無己、吳蒙齋、陶節庵等出，則傷寒之精詳全備，又何加焉。業此道者，當通覽之）。</p>

<h2>辨傷寒傷風脈歌</h2>
<p>傷寒傷風何以判，寒脈緊澀風浮緩，傷寒惡寒風惡風，傷風自汗寒無汗。陽屬膀胱（足太陽膀胱經）並胃（足陽明胃）膽（足少陽膽），陰居脾（足太陰脾）腎（足少陰腎）更連肝（足厥陰肝）。浮長弦細沉微緩，脈症先將表裡看（此論傷寒與傷風之病。傷寒者，傷於寒邪也；傷風者，傷於風也。如傷寒，脈必緊澀，惡寒無汗，宜散邪發表為主，麻黃湯之類是也。傷風脈必浮緩，惡風自汗，宜散寒實表為主，桂枝湯之類是也。然傷寒有六經傳變、陰陽表裡之不同，初得病，一日太陽膀胱經，脈必浮；二日陽明胃經，脈必長；三日少陽膽經，脈必弦；四日太陰脾經，脈必細；五日少陰腎經，脈必沉；六日厥陰肝經，脈必微緩。故吳蒙齋《傷寒賦》曰：太陽則頭疼身熱脊強，陽明則目痛鼻乾不眠；少陽耳聾脅痛，寒熱嘔而口為之苦；太陰腹滿自利，尺寸沉而津不到咽；少陰舌乾口燥，厥陰煩滿囊拳。一二日可發表而散，三四日宜和解而痊，五六日便實方可議下，七八日不解又復再傳）。</p>

<h2>診雜病生死脈症歌</h2>
<p>中風口噤遲浮吉，急實大數命魂殂（風中經絡則筋急，筋急故口噤不能開，脈得浮遲者吉。浮則主風，遲則主寒，乃風寒在經絡，可解散而愈；若得急實大數之脈，乃陽脈也，陽熱之極則陰必弱，故經曰陰虛則病，陰絕則死）。魚口氣粗難得瘥，面赤如妝不久居（魚口者，如魚之口張而不合也，乃脾氣絕矣。何以見之？蓋唇口內自皆屬於脾，脾絕則筋引長而不收，故如魚口之開張。氣粗者，呼由氣驟，有出無入，肺氣絕也。面赤如妝者，心氣虛，陽氣絕也。陽氣虛則真色泄於外，陽氣絕則火氣浮於上，故面赤如妝知必死矣）。髮直如麻口吐沫，噴藥悶亂豈復甦（發者血之餘，心絕則血敗而髮直，枯焦如麻矣。涎者脾之液，脾絕則不能收斂痰涎，故痰沫從口上溢也。咽喉為水穀之道路，今胃中為風痰所擾，悶亂頓絕，故藥不能下咽，豈有望其甦醒者哉）。咽喉拽鋸水雞響，搖頭上竄氣長噓（咽喉中為痰壅塞不能達下，故如拽鋸聲，如火雞鳴，乃氣絕不能通達也。搖頭者，陽氣不能主持也。上竄者，肝風內甚筋急也。氣長噓者，有出無入也。俱真氣失散，死之候也）。面青黑暗並瀉血，撒手遺尿藏氣孤（經曰：肝之色青，腎之色黑。青欲如蒼壁之澤，不欲如藍；黑欲如烏羽，不欲如煤。今青黑色暗，是肝腎絕矣，真氣下脫，藏氣不固，故瀉血。脾絕則撒手，腎絕則遺尿，皆死候也），眼合口開不須治，汗出如珠不可蘇（眼合口開，皆脾絕也。汗出如珠，乃榮衛相離，腠理開泄，故汗出如珠，凝而不流也。以上皆中風死候）。○脹滿浮大是出厄，虛小命殂須努力（脹滿即膨脹也，由陽氣外虛，邪氣內積，脈浮大則邪在表，故易愈。脈虛小則正氣虛，邪侵於內，故難愈。經曰：浮大宜發表，是開鬼門也。虛小宜利小便，是潔淨府也）。○下痢微小卻為生，脈大浮洪無瘥日（下痢脈浮洪，是邪氣盛，內熱甚，則氣血日漸消耗，故重。微小是邪氣少，內熱輕，則氣血難於消耗，脾胃易於復元，故輕）。○恍惚之病發癲狂，其脈實大保安吉（恍惚之病是心不寧也，心不寧則火盛心虛，心虛則神不守舍，故發癲狂。若得實牢滑大之脈，是陽症見陽脈，故吉；若得沉細微小之脈，是陽症見陰脈也，故凶）。○消渴脈大數者輕，虛小病深厄難脫（消渴者，口渴飲水不止也，乃腎水虧乏，胃中有熱，津液亡竭。如得浮大數脈，乃順其脈候也；如得虛小微澀之脈，乃反其脈候也。此外如少陰症，自利而渴，脈多沉；中暑而渴，脈多虛；產後而渴脈多弱，難專以虛小為渴之凶脈也，不可不知）。○水氣浮大得延生，沉細應當是死期（水氣者，水腫病也，由脾胃不能制水，則水溢於四肢頭面而為腫滿。若得浮大之脈，是心生脾、火生土也，故生；若得沉細之脈，是腎水旺，水愈旺則火必衰，難以生脾土矣，故死）。○霍亂之候脈微遲，氣少不語大難醫，三部浮洪必救得，古今課定更無疑（人之冷熱不調，寒暑交集，擾亂於腸胃之間，致飲食難以運化，壅塞不通，而為上吐下瀉，心腹絞痛，擾亂不寧，為之霍亂吐瀉。後六脈微遲細小，呼吸氣少，口不欲言，此為吐傷正氣，故難愈。若脈浮洪有力，為正氣未傷，故易愈）。○鼻衄吐血沉細宜，忽然浮大即傾危（經曰：心生血，肝藏血，脾統血，肺運血，腎納血，血得熱則行，得冷則凝。血不自行，隨氣而行，從鼻中出曰衄血，從口中出曰吐血，皆陰虛陽盛故也。若得沉細之脈，是陰氣尚實，腎水尚旺，易愈；若得浮大數實之脈，是陰氣虛，腎水少，以至火盛剋金，故難瘥）。○心腹痛脈沉細宜，浮大弦長命必殂（通則不痛，痛則不通，凡心腹痛，皆痰飲食積氣滯不通之故。氣滯不通，則經絡閉塞，而流暢之遲，故脈沉細微小；如浮大弦長，症脈相反也，故凶。沈氏曰：心腹痛病原不一，故經分為九種。總之以脈症參合而施治之）。○頭痛短澀應須死，浮滑風痰必易除（頭乃諸陽之會，其痛原非一端，如得短澀之脈，是氣虛血少，諸陽不足，故凶；如得浮滑之脈，浮則為風，滑則為痰，以驅風邪清痰火則愈）。○內實腹脹痛滿盈，心下牢堅嘔吐頻，手足煩熱脈沉細，大小便澀死多真（內實者，心內結實不通也；牢堅者，心下滿硬脹痛也；兼之嘔吐，手足煩熱，大小便閉結，此為五實。實者為有餘之症，脈當弦、滑、洪、緊、數、大為順；今脈反沉細，是陽症見陰脈也，故死）。○內外俱虛身冷寒，汗出如珠胃嘔番，忽然手足脈厥逆，更兼瀉痢定難全（內外是表裡也。表裡皆虛，身冷，汗出，作嘔，手足逆冷，泄瀉，此為五虛。虛者，正氣不足，此惡候也。漿粥入胃，瀉止則生，不止則死）。○上氣浮腫肩息頻，浮滑之脈即相成，忽然微細應難救，神功用盡也無生（即前水氣浮大者生，沉細者死之意）。○咳而尿血羸瘦形，其脈疾大病難任（心生血，與小腸合為表裡。今咳嗽尿血，身體瘦怯，是房勞虛損之甚，乃陰虛腎水枯竭，水不能制火，心火亢甚而熱傳於小腸，故尿血也。脈疾大者難治，是陰虛得陽脈也。亦有下部脈浮弦急者，是風邪入少陰而尿血，易治）。○失血之脈沉弱吉，忽遇實大死來侵（大凡失血，皆是陰虛，脈沉、弱、細、小而吉者，是陰氣尚實，火不亢甚。若實、大、牢、數，是陰虛極而陽亢甚也，故死）。○上氣喘急候何寧，手足溫暖脈滑生；若得沉澀肢逆冷，必然歸死命須傾（肺主氣，為諸五藏華蓋，最喜清虛，不欲窒凝。若人調攝失宜，或風寒暑濕相侵，致氣逆上衝而喘急，或中脘停痰挾火而喘急，脈得滑，手足溫者生，澀而四肢寒者死）。○咳嗽惟有浮大生，形盛脈細沉伏冥（冥，歸冥也。咳嗽之症，其病不一，如浮則為風，緊則為寒，數則為熱，細濡為濕，弦則為勞，滑則為痰，澀則少血，弱則氣虛，各視其部而見症也。脈要浮大易愈，沉細伏小皆難愈。盛字當作衰字。形衰脈細小而虛之極也，故難愈）。○上部有脈下部無，其人當吐不吐死（經曰：上部有脈，下部無脈，其人當吐，不吐者死。何也？此症屬食傷太陰，寒凝脾胃，致胸中痞塞不通，則氣鬱而不伸矣。所以上下隔絕，故尺部無脈也，必得吐以伸達之，其氣復得宣通則愈。如自不吐，必須瓜蒂散，或鹽湯探吐之，以免夭折之患也。或探吐之而更不吐者死）。○中惡腹脹緊細生，若得浮大命逡巡（中惡者，乃人平素調攝失宜，精神衰弱，以致鬼邪惡氣卒中也，令人心腹脹滿刺痛，悶亂欲死，脈得緊細而微者生，緊大而浮者死。《脈經》曰：中惡之候脈亦不等，有卒中惡毒，吐血數升脈沉數者死，浮大疾快者生。亦有卒中腹大肢滿，脈緩大者生，緊大而浮者死）。○金瘡血盛虛細活，急實大數必危身（金瘡者，刀斧箭傷之類也。傷後血去既多，脈宜虛小微細為吉，急實大數為凶。總之與諸失血同）。○凡脈尺寸緊數形，又似鐵直吐轉增，此為蠱毒急須救，若逢數軟可延生（夫蠱者有數種，或妖魅變感，或伊人巫師種毒，或淫情約期，種時未覽，久則隨氣血變化，如蟲如蠱，形象不一。發則令人心腹攪痛，如有物咬，或腹皮脹大如抱甕，發熱煩躁，或好食一物。此病有緩有急，急者數月而死，緩者引延歲月，遊走腹內，侵食血肉，筋骨羸瘦，耗盡氣血，致食藏府而死。若脈數軟，邪氣未盛，尚可調理；脈弦急緊數者，死之速也）。○中毒洪大病應生，細微之脈必危傾，吐血但出不能止，命應難返沒痊平（中毒者，乃誤食砒霜水銀菌藥，一切有毒殺人之物也。脈洪大為毒在府，或可治；脈沉細為毒在藏，難治。如血上行而吐，心肺壞也，必死。沈氏曰：諸失血脈宜微細，惟中毒吐血脈宜洪大）。○大凡要看生死門，太衝脈在即為憑。若動應神魂魄在，歇止於休命不停（此言諸病危殆，寸關尺脈俱無，可將太衝脈診之。若應神而動，尚有可生之機；若止而不動，死無疑也。太衝脈在足大趾本節上一寸五分陷中，有動脈是穴，乃足厥陰肝經之所在，男女可決死生）。</p>

<h2>診婦人脈歌</h2>
<p>婦人尺脈宜常盛（女人面北受氣，兩寸在北，兩尺在南，故尺脈宜常洪盛也），右手脈大亦為順（女人受陰氣而生，人之左手為陽，右手為陰，右手脈大，從其陰類也）。兩尺微澀或沉絕，肝部沉遲皆經病（婦人兩尺司腎與督任之脈，診得微為虛，澀為血少，沉細為寒為虛，更兼肝脈沉遲，肝為血海，今肝脈沉遲為寒，為氣血不充，故主經病）。經病閉絕或愆（過也）期，當患少腹引腰痛（經脈既閉絕愆期，故少腹與腰時有疼痛，或經來時疼痛，或有瘀塊）。少陰浮數小便淋（足少陰屬尺，診得浮數，浮為風，數為熱，乃風熱入於膀胱，故淋閉而病也），若或弦緊疝瘕症（弦則為疝為積，緊則為痛，故診肝腎見弦緊，知有是症也〕。肝脈弦長出魚際，此為血盛思男境（診得肝脈弦長出寸口而上魚際，為肝血盛溢而有思男之意。故經曰：男子精盛則思欲，女人血盛則懷胎）。</p>

<h2>診婦人有妊脈歌</h2>
<p>肝為血兮肺為氣，血為榮兮氣為衛，陰陽配偶不參差，兩藏調和當受孕（肝藏血，肺主氣，血為榮屬陰，氣為衛屬陽。婦人受孕，心肝肺兩藏氣血調和，周身陰陽調和停好，無一毫參差偏盛之處，則當受孕也）。血衰氣旺定無孕，血旺氣衰應有體（婦人懷孕必以經血調勻為主，或血旺氣衰尚能成孕，如血衰氣旺必難於妊也）。寸微關滑尺帶數，流利往來似雀啄，胎兒之脈已見形，數（猶過也）月懷胎猶未覺（婦人寸脈微小，呼吸五至而勻，關脈滑，尺脈數而不絕，且往來流利，連連湊指有似雀啄之狀，非雀啄脈也，乃血旺氣衰，則經謂陰搏陽別，為之有子，受胎一兩月就未覺也。池氏曰：寸微為氣衰，尺數為血旺，關滑為血多氣少，正合前血旺氣衰應有體之意○昌按：寸微，指右寸肺脈之微，還欲左寸心脈之旺，故訣雲手少陰動盛，其胎已結。又云：陰搏陽別，指陽脈有所分別，左大右小，血旺氣衰之言也）。三部浮沉按不絕，尺內不止真胎婦（寸關尺三部浮沉按之流利不絕，此是氣血調和，陽施陰化之象；更兼尺脈滑疾不止，真妊婦脈也）；滑疾不散胎三月，但疾不散五月母（脈按之滑疾不散者，胎元三月形始成矣。但疾不散不滑者，胎元五月形已成矣。《靈樞經》曰：中衝應足陽明胃脈，若滑疾不散者，主三四月；少衝應手太陽小腸脈，若疾而不散者，主五六月；太衝應手陽明太陽脈，主七八月）。左疾（左手疾實滑大）為男右（右手疾實滑大）為女，流利相通速來去，兩手關脈大相應，胎形已見同前語（婦人懷胎謂之重身，小兒胎氣之脈已見於母脈中，所以左手滑疾而實，往來流利不絕為男；右手滑疾而實，流利不絕為女。兩手關脈大相應者，即前左疾為男右疾為女相符合也）。諸陽為男諸陰女，指下分明常記取（左手為陽為男，右手為陰為女，此二句總結分診男女之脈也）。夫乘妻兮縱氣霧（補註：昌按，縱橫順逆四脈，皆以左右六部脈位為主，如心得沉、肝得浮、腎得緩，是克我者，為夫乘妻），妻乘夫兮橫氣助（如肺得弦、脾得沉、腎得洪，是我克者，為妻乘夫）；子乘母兮逆氣參（補註：下文有注，如心得弦、肝得滑、腎得浮，是生我者，為子乘母，余謂不然。左手脈逆是我所生者來乘，如心得緩、肝得洪、腎得弦，為子乘母也），母乘子兮順氣護（補註：下文如肺得滑、脾得浮、腎得弦，是我生者，為母乘子。余按右手脈順是生我者來乘，如肺得緩、脾得洪、心得弦，為母乘子。原注：仲景曰：脈有相乘，水行乘火，金行乘木曰縱，謂資其氣乘其所不勝也；火行乘水，木行乘金曰橫，逆其氣乘其聽勝也；水行乘金，火行乘木曰逆，謂子至於母其氣逆也；金行乘水，木行乘火曰順，謂母加子其氣順也。凡胎氣必縱橫順逆四氣以榮養之力能成胎也）。左手帶縱兩個男，右手帶橫一雙女；左手脈逆生三男，右手脈順產三女（左手脈縱者，如心得沉脈，肝得浮脈，腎得緩脈，皆夫乘妻也，上下直看，往來流利不絕，氣血之盛，故生兩男。右手脈橫者，如肺得弦脈，脾得沉脈，腎得洪脈，皆妻來乘夫也，推之橫看，滿指無間，氣血之盛，故生兩女。左手脈逆者，如心得弦脈，肝得滑脈，腎得浮微脈，皆子乘母也，自下溢上，往來流利，氣血盛極，故生三男。右手脈順者，如肺得滑脈，脾得浮脈，腎得弦脈，皆母乘子也，自上流下，往來疾速，氣血盛極，故主三女）。寸關尺部皆相應，一男一女分形證（寸關尺部皆相應者，謂兩手六部脈中皆滑大疾實，應手流利不絕，此為氣血陰陽俱旺，故知生一男一女也）。往來三部通流利，滑數相參皆替替，陰搏陽別脈得明，過期不月胎成聚（三部脈往來流利不絕，滑數相參，乃陽施陰化之象；而尺寸少陰動甚，別有陽脈搏手，更問月事過期不來，乃胎孕無疑矣）。信期逾月胎成聚，身熱脈疾無所苦，嗜臥惡食嘔吐頻，精神結在其中住（胎成之為脈，必滑數流利而疾，其人身體無病似病之狀，或時頭痛，肢體無力，嗜臥懶食，或聞食即吐，此乃精血結聚其中以榮養胎氣也，故外不能支持而似病矣）。</p>

<h2>診妊婦下血及胎動不安脈歌</h2>
<p>血下如同月水來，漏盡胞干主殺胎，亦損妊母須憂慮，急進神丹救得回（夫胎漏下血者，其緣不一，有因誤食傷胎之物而下血者，有因持重損傷而下血者，有因房勞太甚損傷榮衛而下血者，有因大怒傷肝，肝火妄動而下血者，輕則漏漿，重則漏血。治法有二，因母病以致胎動下血者，但治其母而胎自安；因胎不堅以致母病者，但治其胎則母得愈）。心腹急痛面目青，冷汗氣絕命必傾，血下不止胎衝上，四肢逆冷定傷生（懷孕之婦，必須珍重調理，如或傷損之輕，急宜調理溫養自愈；或傷損之重，必下血不止，心腹急痛，面目青色，冷汗氣急，更兼四肢逆冷者死）。墮胎舉重或倒僕，致胎死在其母腹，已損未出血不止，衝心悶亂母魂孤（言孕婦墮胎，或因舉動，或因跌僕而致胎死母腹。既死之後，其胎必離其處，隨血而下，則母無妨。如傷損之後下血過多，其胎未下，以致血乾氣弱，則胎上衝心胃，而母必死）。有時子死母身存，或是母亡存子命，牢緊弦強滑者生，沉細而微婦泉定（凡妊婦之脈宜牢緊弦滑有力，不宜沉細微小，此四句論下上生死之別也）。</p>

<h2>診妊婦欲產及產難脈歌</h2>
<p>欲產之脈號離經，沉細而滑也同名，夜半覺來應分誕，來朝日午定知生（離經者，是脈離其常處也。脈一呼三至，一吸三至，呼吸六至。六至者，疾之之脈也。此緣胎元將產，氣血流暢之速，故疾數而六至也。亦有沉細而滑疾，呼吸一二至者，亦曰離經。楊氏曰：既是將產，氣血流暢，而脈疾數，六至曰離經，何以又沉細而滑亦曰離經？曰人之氣血藏府，殊非一等，此乃胎元將產，氣血聚於衝任下元，故不能應於脈也，但滑疾數疾可見氣血流暢之象，再加腰痛必欲產矣，故夜半覺必知來日午可生。如腹痛而腰未痛者，是轉胎，未必就產）。身重體熱寒又頻，舌下之脈黑復青，反舌上冷子當死，腹中須遺母歸冥（孕婦有產難之患，皆平素將息失宜，或氣血虛弱，所以臨產艱難；或驚動太早，而胞漿先破下而乾涸，連日不產也。既是難產，則氣血耗費，以致身體寒熱，舌青黑而死，乃陰陽兩虛，心氣將絕。經曰：陽虛惡寒，陰虛發熱，故寒熱交作而戰慄也。舌乃心之苗，舌上青黑，冷者水剋火也，故知子母俱死也）。面赤舌青細尋看，母活子死斷定然；唇口俱青沫又出，母子俱死總高判（赤面舌青者，赤屬心，青屬肝，為木火相生，心血流通，故知妊婦不死，若唇口俱青而又吐沫者，唇口屬脾，青色見之，為木來剋土，主脾胃氣絕而母子俱死矣。沫者，脾之涎，脾絕不能收故也）。面青舌赤沫又頻，母死子活自分明；不信若能看應驗，尋之先哲不虛陳（產難生死之驗全以面舌候者，蓋五藏精華皆聚於面。舌乃心之苗也，面青知母死，舌赤知子活，面赤知母活，舌青知子死，面舌唇口俱青，則母子俱死矣。自身重體熱至此病不以脈候而知生死者，以臨產脈亂不可定也，故察脈不可知矣）。</p>

<h2>診新產生死脈歌</h2>
<p>新產之脈緩滑吉，實大弦急死來侵（緩滑之脈乃脾胃氣和，故吉；實大弦急，乃肝木乘脾，故凶。然產後氣血虛弱，理宜緩弱，若實大弦急，乃反候也）；若得重沉小者吉，忽來牢堅命不停（新產之婦，氣血虛損，脈沉細微小，脈症相合也；若牢堅有力，是為相反也）。寸口澀疾不調（曰）死，沉細附骨不絕（曰）生（產後見澀脈而疾急者，乃血損過多而火炎也，故死。沉細附骨又不絕，乃陰實根固之象，故生）。審看症候分明記，常將此念注心經（言醫家須審察此症，記取分明，庶臨症不致茫然也）。</p>

<h2>孕婦傷寒歌</h2>
<p>婦人懷孕得傷寒，不與尋常治法看；表症里症須當察，熱極不止胎不安。試用仲景護胎法，譫狂煩衄各般參（此論妊娠傷寒也，一見此症，其胎必損，妊婦亦危急，用仲景護胎法可保，不可不知。陶節庵《傷寒全生集》曰：妊婦傷寒須要安胎為主，兼以傷寒治之。如專用發表攻裡之劑，損動胎氣，而妊婦亦難保。其間表裡傳變，譫語狂熱，煩躁衄血，大小便秘結等症，俱照尋常傷寒治，只無傷動胃氣）。</p>

<h2>診產後傷寒脈歌</h2>
<p>產後因得傷寒證，脈細四肢暖者生；忽然洪大肢逆冷，須知其死莫能停。</p>
<p>凡尋常傷寒，脈宜洪大；但產後氣血虧損，脈宜微細為順，勿以陽症見陰脈為論。《傷寒全生集》曰：產後傷寒不可輕易汗下，蓋氣血虧損故也。然多有諸症類似傷寒者，必參詳脈症，勿孟浪施治。有產時傷力發熱者，有去血過多發熱者，有惡露不盡發熱者，有早起勞動發熱者，有飲食停滯發熱者，一概狀類傷寒。要在詳審，不可驟用發表攻裡之劑，傷損氣血，以致噬臍難追。又曰：大抵此數症皆有發熱惡寒頭痛等症，狀類傷寒，實非傷寒也，若一誤治，則殺人甚速。</p>

<h2>小兒面部圖</h2>
<figure>
<img data-orig-src="urn:270:08951.jpg" alt="小兒面部圖">
</figure>
<p>錢仲陽曰：小兒半周兩歲為嬰兒，三歲四歲為孩兒，五歲六歲為小兒，七歲為齠，八歲為齔，九歲為童子，十歲為稚子，十六歲成丁，始為男子。</p>
<p>左腮屬肝經，其色青者為順，白者為逆。右腮屬肺經，其色白者為順，赤者為逆。額上屬心經，其色赤者為順，黑者為逆。鼻準屬脾經，其色黃者為順，青者為逆。頰下屬腎經，其色黑者為順，黃者為逆。</p>

<h2>看小兒脈紋法則</h2>
<p>令人抱兒對立於向光之處，以左手握兒食指，以我右手拇指推兒三關察其形色，細心體認，亦惟辨其表裡寒熱虛實足矣。世人好異，不從實地用功，以此為淺近之談，不屑留意，不知臨證能辨此六者便為至高之手。蓋表裡清則知病之在經在府，而汗下無誤；寒熱明則知用寒遠熱，用熱遠寒，或寒因寒用，熱因熱用，因事制宜，用無不當；虛實辨則知大虛有盛候，大實有羸狀，不為假證眩惑，凡真虛真實易知，假虛假實難辨，真假既明則無虛虛實實之患。於此切要關頭不知體會，但以不經之言欺世誑俗，謂何者為人驚，何者為畜驚，不特欺人，而且自欺；不特無益治療，而且誤人生命，是誰之咎哉？凡看指紋，以我之大拇指側面推兒食指三關，切不可覆指而推。蓋螺紋有火剋制肺金，紋必變色。又只可從命關推上風關，切不可從風關推出命關，此紋愈推愈出，其紋在先，原未透關，今誤推而出之，大損肺氣。慎之戒之。</p>

<h2>診小兒虎口指紋三關圖</h2>
<figure>
<img data-orig-src="urn:270:08952.jpg" alt="診小兒虎口指紋三關圖">
</figure>
<p>手太陰旁支至此交通商陽，手陽明經起此。</p>
<p>風關，次指第一節；氣關，次指第二節；命關，次指第三節也。虎口叉手處也。男先盾左手，次指內側，女先看右手次指內側。</p>

<h2>小兒指紋形象二十種圖</h2>
<figure>
<img data-orig-src="urn:270:08953.jpg" alt="小兒指紋形象二十種圖一">
</figure>
<figure>
<img data-orig-src="urn:270:08954.jpg" alt="小兒指紋形象二十種圖二">
</figure>

<h2>診小兒虎口三關部位脈紋形色歌</h2>
<p>初生小兒診虎口，男從左手女右看。次指三節風氣命，脈紋形色隱隱安。形見色變知有病，紫屬內熱紅傷寒；黃主脾病黑中惡，青主驚風白是疳。風關病輕氣關重，命關若見病多難。大小曲紫傷滯熱，曲青人驚走獸占。赤色水火飛禽撲，黃色雷驚黑陰癇，長珠傷食流珠熱，去蛇吐瀉來蛇疳。弓里感冒外痰熱，左斜傷風右斜寒。斜形槍形生痰熱，射指射甲命難全。紋見乙字為抽搐，二曲如鉤傷冷傳。三曲如蟲傷硬物，水紋咳嗽吐瀉環；積滯曲蟲驚魚骨，形似亂蟲有蛔纏。脈紋形色相參合，醫者留神仔細觀（凡初生小兒有疾病者，須視虎口叉手處脈紋之形色，以決病之生死輕重。男先看左手次指內側．女先看右手次指內側。初節曰風關，次節曰氣關，三節曰命關。其紋色紅黃相兼，隱隱不見則為平安無病，若紋色紫屬內熱，紅屬傷寒，黃為傷脾，黑為中惡，青主驚風，白主疳症。紋在風關主病輕，氣關主病重，若過命關主病危難治。又當視其紋形大小曲彎。色紫者主傷食、內熱，色青者主人驚及走獸驚，色赤者主水火飛禽所驚，黃主雷驚，黑主陰癇。如指上紋形一點紅色名曰流珠紋，主內熱。圓長者名曰長珠形，主飲食傷。上尖長下微大者，名曰去蛇形，主傷食吐瀉。上大下尖長者名曰來蛇形，主濕熱成疳。弓反里者形彎向中指，主感冒寒邪。弓反外者，形彎向大指，主內熱痰盛。斜紋向左者，其紋斜向中指，主傷風；紋斜向右者，其紋斜向大指，主感寒。針形者，直若懸針微短，槍形者，直射如搶微長，皆主痰熱。透關射指射甲，其紋直射指甲、指端，主脾氣大敗，病危不起，二者俱屬不治。乙字紋似乙字，主驚風抽搐。二曲如鉤，主傷生冷；三曲如蟲，主傷硬物。水紋形似小字，主咳嗽。環形聯絡如環，主疳病。曲蟲紋如彎蟲，主積滯。魚骨紋如魚刺，主驚熱。紋形如亂蟲者，主蛔蟲纏擾。習幼科者，必以此紋色合參，留神診察，始不誤矣）。</p>

<h2>三關部位歌</h2>
<p>初起風關證未殃，氣關紋現急須防，乍臨命位誠危急，射甲通關病勢彰。</p>

<h2>浮沉分表裡歌</h2>
<p>指紋何故乍然浮，邪在皮膚未足愁，腠理不通名表證，急行疏解汗之投。</p>
<p>忽爾關紋漸漸沉，已知入里病方深，莫將風藥輕相試，須向陽明裡證尋。</p>

<h2>紅紫辨寒熱歌</h2>
<p>身安定見紅黃色，紅豔多從寒里得，淡紅隱隱本虛寒，莫待深紅化為熱。</p>
<p>關紋見紫熱之徵，青色為風古所稱，傷食紫青痰氣逆，三關青黑禍難勝。</p>

<h2>淡滯定虛實歌</h2>
<p>指紋淡淡亦堪驚，總為先天稟賦輕，脾胃本虛中氣弱，切防攻伐損胎嬰。</p>
<p>關紋澀滯甚因由？邪遏陰榮衛氣留，食鬱中焦風熱熾，不行推蕩更何求。</p>

<h2>紋形主病歌</h2>
<p>腹疼紋人掌中心，彎內風寒次第侵，紋向外彎痰食熱，水形脾肺兩傷陰。</p>

<h2>診小兒虎口三關脈歌（此文少者亦便於誦讀）</h2>
<p>小兒三歲下，虎口看三關。初節風關位，次則氣關聯，三節為之命，男左女右觀。紫熱紅傷寒，青驚白是疳，黑時因中惡，黃即困脾端。淡紅淡黃者，斯為無病看。</p>

<h2>看小兒人迎氣口脈歌</h2>
<p>小兒三歲方憑脈，一指三關定數息（小兒三歲以前有病，看虎口三關，三歲以後方看掌後高骨，以一指定寸關尺三部，人小臂短故也。一息六至為平，七八至為熱，十至為困）。遲冷數熱古今傳，浮風沉積須當識。左手人迎主外感，右手氣口主內疾。外候風寒暑濕侵，內候乳食痰積滯。洪緊無汗是傷寒，浮緩有汗傷風至。浮洪多是風熱盛，沉細緣因乳食積。沉緊腹中痛不休，弦緊喉間喘氣急。緊促之脈痘疹生，緊數之際驚風致。虛軟吐瀉作慢驚，滑則為痰弦瘧痢。芤為失血上下分，弦急客忤君須記。軟而細者為疳蟲，實而數者為便閉。大小不勻為惡候，二至為殃三至卒，五至為虛四至損，六至平和曰無疾。七至八至病尤輕，九至十至病勢極，十一十二死無疑，此訣萬中無一失。</p>

<h2>觀小兒形色斷病歌</h2>
<p>察兒形色，先分部位。左頰青龍屬肝，右頰白虎屬肺，天庭高而離陽心火，地角低而坎陰腎水。鼻在面中，脾應唇際。紅色見而熱痰壅盛，青色露而驚風驚悸。如煤之黑為痛，中惡逆傳（子乘母）；似橘之黃傷食，脾虛吐利。白乃疳癆，紫為熱熾，青遮口角難醫，黑掩太陽不治。年壽赤光，多生膿血，山根青黑，頻見災危。朱雀（紅色赤脈也）貫於雙瞳，火入水鄉；青龍（青色肝木也）達於四白（肺金也，眼四角白珠），肝乘肺部瀉痢。而戴陽（紅色）須防咳嗽，而拖藍（青色木乘金）可忌疼痛。方殷面青而唇口撮，驚風欲發；面赤而目竄視，火光焰焰。外感風寒，金氣浮浮；中藏積滯，乍黃乍白，疳積連綿，又赤又青。邪風瘛瘲，氣乏囟（音信）門成坑，血衰頭毛作穗。肝熱眼生眵（音鴟，目汁凝也）淚，脾冷流涎滯頤。面目虛浮，定腹脹而上喘；眉毛頻蹙，必腹痛而多啼。風氣二池（眉上眼下）如黃土則為不祥；左右兩頰（音筴，面旁也）如青黛則為容忤。風門（耳前也）黑主痛而青為驚，方廣（眉梢也）光滑吉而昏黯凶。手如數物兮肝風將發，面若塗朱兮心火似炎。坐臥愛暖兮風寒之入，伸縮就冷兮煩熱之攻。肚大腳小脾欲困而成疳，目瞪（直視也）口張勢似危而必斃。噫，五體以頭為尊，一面惟神可恃。況乎聲有輕重之不同，啼有乾溼之頓異。病之初作必先呵欠，火之大發忽然驚啼。口傳秘訣，醫家當記。</p>

<h2>觀小兒形色死症歌</h2>
<p>眼生赤脈（紅塊也），下貫瞳人（赤脈屬心，瞳人屬腎，乃心火勝水，水乾則不能生木，致肝腎俱絕，故知必死）。囟門腫起，兼及作坑（囟者，精神之門戶，熱盛氣壅則腫，熱微氣脫則陷也）。鼻乾黑燥（火剋金也），肚大青筋（木剋土也）。目多直視，睹不轉睛（大腸絕也）。指甲青黑（肝絕也），忽作鴉聲。虛舌出口，齧齒咬人（心氣散則舌出不能收，腎氣絕則齒嚼咬人也）。魚口氣急（脾絕也），啼不作聲（肺絕也）。蛔蟲既出，必是死形（胃氣絕也），用藥速救，百無一生。</p>

<h2>診雜病脈法</h2>
<p>中風脈浮，滑兼痰氣，其或沉滑，勿以風治。或浮或沉，而微而虛，扶危治痰，風未可疏。浮遲者吉，急疾者殂（中風脈宜浮滑或浮遲，此風實有痰壅滯也。若洪大急疾，重按無力必殂）。類中因氣，身涼無痰，脈必沉虛，八味為最。類中因痰，形肥脈滑，膏粱之人，痰治無差。類中因火，便結便黃，色赤脈數，火治為良（類中風者，雖似中風實非中風也，如中暑、中濕、中痰、中火、中氣、食厥等症，俱類中風，醫宜臨症參詳。如中氣以八味順氣湯，中痰以二陳湯，中火以清熱導痰湯，此其大法也）。</p>
<p>寒傷太陽，浮緊而澀，及傳而變，名狀難悉。陽明則長，少陽則弦。太陰入里，遲沉必兼。及入少陰，其脈遂沉。厥陰熱深，脈伏厥冷。在陽當汗，次利小便，表解里病，其脈實堅。此其大略，治法詳看。至於大法，自有仲景（夫傷寒自有本科之書，今集此脈為初學診視不致錯認）。中寒緊澀，陰陽俱盛，法當無汗，有汗傷命（陽緊寒在上焦作吐，陰緊寒在下焦自利。陰陽俱緊，上下俱受寒也，法當無汗，反自汗者，亡陽不治）。</p>
<p>傷風之脈，陽浮陰弱，邪在六經，或弦而數（陽浮，衛中風也；陰弱，榮氣弱也，邪在六經弦數）。</p>
<p>暑傷於氣，所以脈虛，弦細芤遲，體狀無餘（脈虛而微弱，或浮大而散，或隱不見。微弱隱伏皆虛類也）。暑熱病劇（音屐，甚也。為盛暑時得熱病也），陰陽盛極，浮之而滑，沉之散澀，汗後躁大，死期可刻（得汗後脈躁大者固死，入里七八日來脈不躁數而澀小者亦死）。</p>
<p>瘟脈無名，隨見諸經。未汗宜強，虛緩傷生（瘟脈隨各藏腐所見而治，未汗脈強急者生，虛緩者死。已汗表症不退，脈強急者死，或入里腹腹痛甚不痢者死）。</p>
<p>濕脈濡緩，或兼澀小，入里緩沉，浮緩在表。若緩而弦，風濕相攪（浮緩濕在表，沉緩濕在裡，或弦緩或浮緩，為風濕相搏也）。脈緊而澀，或浮而弦，或芤而虛，是為燥症（澀脈主燥症，風燥兼浮而弦，血燥兼芤而虛）。</p>
<p>虛火浮數，實火洪大，隨其所見，細數為害（脈浮洪數無力為虛火，脈沉實大有力為實火。如洪數見左寸為心火，見右寸為肺火，見左關為肝火，見右關為脾火，見兩尺為腎經命門火）。</p>
<p>內傷勞役，豁大不禁；若損胃氣，隱而難尋。內傷飲食，滑疾浮沉。內傷勞食，數火澀侵。右關緩緊，寒濕相尋；右關數緩，濕熱兼臨。數又微代，傷食感淫（內傷者，謂勞役之後而傷飲食，或更有房勞。內傷輕者右關沉滑，傷重者氣口浮滑。右寸氣口脈急大而數，時一代而澀者，澀乃肺之本脈。代者，元氣不相接續，此飲食失節，勞役過甚，大虛之脈也。右關脾脈數中顯緩，且倍於各藏，此勞役輕而傷飲食，濕熱重也。數多燥熱，緩多濕熱，若脾脈數大，時微緩一代者，飲食不節，寒溫失所也）。下手脈沉，便知是氣，沉極則伏，澀弱難治。其或沉滑，氣兼痰飲（此段論氣惱或兼痰飲）。</p>
<p>諸症失血，皆見芤脈，隨其上下，以驗所出。大凡失血，脈貴沉細；設或浮大，後必難治（此段論諸失血脈宜沉細芤小，不宜浮大洪數。若腸澼下血，脈弦絕則死，滑大則生。去血過多，身熱者死。脈極虛芤遲，為亡血失精）。</p>
<p>偏弦為飲，或沉弦滑，或結芤伏，痰飲中節（一手弦為偏玄，兩手弦為雙弦，惟肺經有飲必加喘。王隱君曰：痰脈多滑，有浮滑、沉滑、弦滑、微滑、實滑之別。如浮滑風痰，沉滑寒痰，弦滑痰飲，微滑虛痰，實滑膈有稠痰，宜吐。久得脈結芤澀伏，乃痰飲膠固中脘，阻滯脈道，難治）。</p>
<p>郁脈皆沉，血芤氣澀。濕鬱緩沉，熱乃數極。痰鬱弦滑，滑緊因食。郁甚則滯，或結代促（六郁脈皆沉．甚則伏結代促，惟有胃氣可治。在上見寸，在中見關，在下見尺，左右皆然）。</p>
<p>虛脈弦大，勞損而虛。大而無力，陽衰易扶；數而無力，陰火難除。寸弱上損，浮大里枯。尺寸俱微，五勞之軀。血羸左濡，氣怯右推，左右微小，氣血無餘。</p>
<p>癆瘵脈數，或澀細如，潮汗咳血，肉脫者殂（虛損者，因虛而有傷損也。虛勞者，因虛而不禁勞，因勞而愈虛也。癆瘵者，勞之極也。即五勞六極也。癆者、牢也，言其病已牢痼而不可解也。諸虛脈多寸關弦大而尺微澀，有火則尺亦大。大者正氣虛而邪盛，弦者中寒也。大而無力者，陽氣虛也；大數無力者，陰血虛也；左右微小者，必成痼冷。癆症骨蒸潮熱，盜汗咳血，或泄或不泄，惟肉脫甚，脈數細而澀者死）。</p>
<p>眩暈之候，下虛上實，風浮寒緊，濕細暑虛。痰弦而滑，瘀芤而澀，數大火邪，虛大久極。先理痰氣，次隨症治。</p>
<p>頭痛陽弦，浮風緊寒，熱必洪數，濕細而堅。氣虛頭痛，雖弦帶澀。痰厥則滑，腎厥堅實（六經皆有頭痛之病，總之脈宜浮滑弦緊，不宜澀小虛短。故訣云：頭痛短澀應須死，浮滑風痰若易除）。</p>
<p>眼本火病，心肝洪數，右寸關見，相火上衝（左寸脈洪數，心火炎也；關弦而洪，肝火盛也；右寸關俱弦洪，肝木挾相火之勢而來，侮己所不勝之金，而制己所勝之土也）。</p>
<p>耳病腎虛，其脈遲濡。浮大為風，洪動火賊，沉澀氣凝，數實熱塞。若久聾者，專於腎責。暴病浮洪，兩尺相同，或兩尺數，陰虛火沖（若左寸洪數，心火炎也。兩尺洪數，相火炎也，其人心夢遺耳鳴或聾）。</p>
<p>右寸洪數，鼻衄鼻齇（音樝，鼻上疱也），左寸浮緩，鼻涕風邪。口舌生瘡，脈洪疾速。若見脈虛，中氣不足（經曰：左寸洪數心熱，右寸浮數肺熱。左關弦數膽虛甚，洪而實肝熱。右關沉實脾胃有實熱，兼洪數者口瘡，或為木占、重舌。脈虛者為中氣不足）。</p>
<p>齒痛腎虛，尺濡而大。火炎尺洪，疏搖豁壞。右寸關數，或洪而弦，此屬腸胃，風熱多涎（尺洪大而虛者，腎虛齒痛。動搖疏豁者，相火上炎也。右寸關數洪，或弦而洪者，腸胃中有風熱也）。</p>
<p>痛風沉弦，肝腎被濕。少陰弱浮，風血掣急。或澀而小，酒後風襲。風寒濕氣，合而為痹，浮澀而緊，三脈乃備（脈浮而緩屬濕，為麻痹；脈緊而浮屬寒，為痛痹；脈澀而緊，屬死血之痹，不知痛癢。脈浮而澀屬氣虛，關前得之麻在上體，關後得之麻在下體）。</p>
<p>斑疹沉伏，或散或無。陽浮而數，火見於軀；陰實而大，熱蒸在膚（滑伯仁曰：脈者血之波瀾，故發斑；或血散於皮膚，故脈伏；火盛於表，故陽脈浮數；下焦實熱，故陰脈實大）。</p>
<p>咳嗽所因，浮風緊寒，數熱細濕，房勞澀難。右關微澀，飲食傷脾；左關弦短，肝極勞疲（音皮，勞力也）。肺脈浮短，咳嗽與期。五藏之嗽，各視本部。浮緊虛寒，沉數實熱，沉滑多痰，弦濕少血。形盛脈細，不足以息；沉小伏匿，皆是危脈；惟有浮大，而嗽者生。外症內脈，參考稱停（咳嗽者，春乃春升之氣，夏是火炎於肺，秋是濕氣傷脾，冬是風寒外束。形盛脈細，手足逆冷者死）。</p>
<p>霍亂吐瀉，滑而不勻，或微而澀，代伏驚人。洪滑多熱，弦滑食論（右關滑，霍亂吐瀉。脈澀、弦、代、伏雖因痰食阻滯，不可遽以斷死，總之以滑大為吉）。</p>
<p>心痛微急，痛甚伏入，陽微陰弦，或短又數。緊實便難，滑實痰積。心痹引背，脈伏而大，寸沉而遲，關急數銳（陽微，虛在上焦，所以心胸痹痛者，心痛者陰脈弦故也。胸痹之病，喘息咳嗽。胸痹痛短氣，寸口脈沉而遲，關上小緊而數）。</p>
<p>腹痛關脈，緊小急速，或動而弦，甚則沉伏。弦食滑痰，尺緊臍腹。心腹痛脈，沉細是福。浮大弦長，命不可復（脈細小緊急，腹中刺痛。尺脈緊實，臍及小腹痛，宜利。若尺脈伏緊小腹痛，有瘕痛。故訣云：心腹痛脈沉細宜，忽然浮大即傾危）。</p>
<p>瘧脈自弦，弦數多熱，弦遲多寒，弦微虛乏。弦遲宜溫，緊小當下，弦浮吐之，弦緊汗發。亦有死者，脈散且歇（瘧脈多弦，弦緊宜發汗，弦大宜吐，弦實宜浮，審脈時宜消息之）。</p>
<p>痢脈多滑，按之虛絕，尺微無陰，澀則少血。沉細者生，洪弦死決（腸澼下痢，最忌身熱脈大，亦忌四肢厥冷脈浮絕）。</p>
<p>痞滿滑大，痰火作孽。弦伏中虛，微澀衰劣（痞滿者，胞中多是痰火，故寸滑且大。右關遲弦或伏者，肝乘脾土，土虛生涎，氣鬱不舒。微澀者，氣血虛也。微則氣衰多煩，澀則血少多厥）。</p>
<p>瀉脈自沉，沉遲寒侵，沉數火熱，沉虛滑脫。暑濕緩弱，多在夏月，微小者生，浮弦死別（犯五虛症者亦死）。</p>
<p>吞酸脈形，多弦而滑。或沉而遲，胸有寒飲。或數而洪，膈有痰熱（時吐酸水，欲成反胃）。</p>
<p>五疸實熱，脈必洪數，其或微澀，症屬虛弱（疸者，面目遍身黃腫也。其症有五，曰黃汗，曰黃疸，曰酒疸，曰谷疸，曰房勞疸。因陽明經內蓄濕熱，或因渴飲水，或有自汗浴水，或失飢傷飽，或醉飲房勞而然。凡疸症，寸口脈近掌後無脈，口鼻黑色者不治）。</p>
<p>水腫之症，有陰有陽。陰脈沉遲，其色青白，不渴而瀉，小便清澀。脈或沉數，色赤而黃，糞燥溺赤，兼渴為陽。沉細必死，浮大無妨（陽脈必見陽症，陰脈必見陰症。沉細，水愈盛而不可制，浮大則，心火生脾土，水可制矣。故訣云：水腫浮大是出厄，虛小命殂須努力）。</p>
<p>脹滿脈弦，脾制於肝。洪數熱脹，遲弱陰寒。浮為虛脹，緊則中實。浮大可生，虛小危急（大抵以關為主）。</p>
<p>遺精白濁，當驗於尺，結芤動緊，一症之的。微數精傷，洪數火逼。亦有心虛，寸短左小。脈遲可生，急疾便夭（急疾浮虛，時時遺精者死）。</p>
<p>腰痛之脈，必沉而弦。沉為氣滯，弦（大）損腎元。或浮而緊，風寒所纏。濕傷濡細，實閃挫然。澀為瘀血，滑痰火煎。或引背痛，沉滑易痊。</p>
<p>疝脈弦急，積聚所釀。察其何部，肝為本藏，心滑肺沉，風疝浮蕩。關浮而遲，風虛之恙。陽急為瘕，陰急疝狀。沉遲浮澀，疝瘕寒痛，痛甚則伏，或細或動。牢急者生，弱急者喪（疝本肝經病，脈弦則衛氣不足而惡寒，緊急則不欲食，弦緊相搏則為寒疝。三陽急為瘕，三陰急為疝，心脈浮滑則病心風疝，太陽脈浮則病腎風疝，少陽脈浮則病肝風疝）。</p>
<p>腳氣之脈，浮弦而風，濡濕遲寒，熱數且洪，緊則因怒，散則憂沖，細乃悲過，結氣所攻。兩尺不應，醫必無功（左尺不應難痊，寸口無常不治）。</p>
<p>消渴胃病，心滑而微，或緊洪數，陽盛陰憊。血虛濡散，勞則浮遲。浮短莫治，數大易醫（訣云：消渴脈數大者活，虛小病深厄難脫。蓋由平時不自保養，縱欲嗜酒，炙膾無度，或服丹石，遂使水涸，心火燔熾，五藏燥渴，故飲水無度而渴也）。</p>
<p>便結之脈，沉伏勿疑。熱結沉數，虛結沉遲。若是風燥，右尺浮起（老人虛弱大便結，脈雀啄者不治）。</p>
<p>兩脅疼痛，脈必雙弦。緊細弦者，多怒氣偏；沉澀而急，痰瘀之愆（此段論脅痛脈）。</p>
<p>淋病之脈，細數何妨。少陰微者，氣閉膀胱。女人見之，陰中生瘡。大實易治，虛澀其亡（大而實者生，虛細澀者死）。</p>
<p>小便不通，浮弦而澀。芤則便紅，數則黃赤。便難為癃，實見左尺（小便絕不通者為閉，淋漓來者為癃，總之膀胱熱極，故臟實也）。</p>
<p>五積屬陰，沉伏附骨，肝弦心芤，腎沉滑急，脾實且長，肺浮喘促。實強者生，虛弱者卒。六聚屬陽，發時按部（此段論五積六聚之脈，宜實強有力，不宜虛弱無神）。</p>
<p>中毒洪大，微細必傾。尺寸數緊，釵直吐仍，此患蠱毒，急救難停（釵直者，脈直如釵也）。</p>
<p>喘息脈沉，肺脹停水，氣逆填胸，脈必伏取。沉而實滑，身溫易愈；身冷脈浮，尺澀難補（《脈經》曰：脈浮滑而手足溫者生，脈沉澀而四肢寒者死）。</p>
<p>嘈雜噯氣，審右寸關，緊滑可治，弦急則難。兩寸弦滑，留飲胸間。脈橫在寸，有積上攔（右寸關脈緊而滑者，為之嘈雜。右關弦急，欲作反胃者難治。寸脈橫者，膈間有積攔擋也）。</p>
<p>嘔吐無他，寸緊滑數。微數血盛，單浮胃薄。芤則有瘀，最忌澀弱（脈陽緊陰數，其人食已則吐，緊小多寒，滑數痰火，微數血虛，必胸中冷。關浮胃虛，嘔而噯氣不食，恐怖即死。芤帶緊者有瘀逆。脈緊澀小弱，自汗者死）。</p>
<p>呃逆甚危，浮緩乃宜，弦急必死，結代促微（弦急者，木剋土也，故難治。結代促微，元氣衰也）。</p>
<p>反胃噎膈，寸緊尺澀。緊芤或弦，虛寒之厄。關沉有痰，浮澀脾弱。浮弱氣虛，澀小血弱。若澀而沉，七情所搏（寸緊主胸滿不食，尺澀為下元虛，命門火衰，不能生脾土，脾虛不能運化而成反胃。緊芤遲者，胃寒也，弦者，胃虛也，關脈沉大，有痰也。浮澀，脾不能磨食也，故朝食暮吐，暮食朝吐。脈緊而澀者難治）。</p>
<p>痙脈弦直，或沉細些。汗後欲解，脈潑如蛇。伏堅尚可，伏弦傷嗟（痙脈來，按之築築然而弦，直上直下，或沉細遲。若發汗後脈潑潑然如蛇，暴腹脹大為欲解。如脈反伏弦者，為必死之症）。</p>
<p>癲癇之脈，陽浮陰沉。數熱滑痰，狂發於心。驚風肝癇，弦急可尋。浮病府淺，沉病藏深（陽症脈必浮長，陰症脈必沉細。虛弦為驚為風癇，沉數為熱，滑疾為痰。脈滑大為病在府，易治；脈沉澀為病入藏，難治。訣云：恍惚之病發癲狂，其脈實牢保安吉，寸關尺部沉細時，如此未聞人救得。所謂實牢者，即滑大也）。</p>
<p>祟脈無常，乍短乍長。大小促結，皆痰為殃。遁戶脈緊，與症相妨（邪祟之脈，長短、大小、促結無常，凡五屍鬼邪遁症，病症與脈全不相應也）。</p>
<p>驚悸怔忡，寸動而弱。寸緊胃浮，悸病仍作。飲食痰火，伏動滑搏。浮微弦濡，憂驚之過。健忘神虧，心虛浮薄（寸口脈動而弱，動為驚，弱為悸。寸口脈緊，胃趺陽脈浮，胃氣虛，是以驚悸。趺陽脈微而浮，浮則為虛，微則不能食，此恐懼之脈憂迫之所致也）。</p>
<p>喉痹之脈，兩手洪溢，上盛下虛，脈忌微伏（尺脈微伏者死，實滑者生）。</p>
<p>汗脈浮虛，或濡或細，自汗左寸，盜汗在尺（男女平人，脈虛弱微細者，必有盜汗。）</p>
<p>痿因肺燥，脈多浮弱。寸口若沉，發汗則錯。足痛或軟，專審於尺。滑痰而緩，或沉而弱（《脈經》曰：寸口脈不出，反為發汗，則唇燥而小便難，大便如爛瓜豚膏，此因誤汗傷津液而致肺燥也）。</p>
<p>厥症之脈，沉細為寒，沉數為弱，滑實痰頑。氣虛弱微，身冷必難（卒厥屍厥，寸口沉大而滑，不知人事，唇青身冷為入藏即死；如身溫和，汗自出為入府而病自愈）。</p>
<p>尺沉而滑，恐是蟲傷，緊急莫治，虛小何妨（尺脈滑沉者寸白蟲，洪大者蛔蟲）。</p>
<p>求嗣之脈，專責於尺。右尺偏旺，火動好色。左尺偏旺，陰盛非福。惟沉滑勻，易為生息。微澀精清，兼遲冷極。若見微濡，入房無力。女不好生，亦尺脈澀（兩尺沉滑者，不可妄用藥餌，反燥精血。若火旺者降火，陰虛者補陰，兩尺俱微者，陰陽相補。精冷者宜溫中壯陽，精清者宜補脾補精，精射無力入子宮者宜補氣。女人尺脈微澀者絕產）。</p>

<h2>診婦人脈法</h2>
<p>經病前後，脈欲如常（凡婦人脈比男子更濡弱者，常也。脈如常雖月經或前或後，或多或少，或一月未來者，亦不成經病）。寸關雖調，尺絕痛腸（雖寸關如常，而尺絕不至，或至亦弱小者，主小腹衝任有積痛，主搶心，月水不利）。沉緩下弱，來多要防。微虛不利，間月何妨（若脈沉緩，為下虛弱。月經來多須防治之。若脈微虛不利，其經二月一來，俗云間月也）。浮沉一止，或微遲澀，居經三月，氣血不剛（若三部浮沉一止，寸關微澀微，則胃氣虛，澀則津血不足，或尺微而遲，微則無精，遲則陰中寒，此為血不足也）。三月以上，經閉難當（若過三月以後而不通，是為經閉，速宜調治。或曾墜胎及產多者，謂之血枯）。心脾病發，關伏寸浮，心事不足，此症可憂（經曰：二陽之病發心脾，有不得隱曲，女子不月。原心事不足，心脾兩傷，致脾不磨谷，故肺金失養而氣液不行，腎水不旺而血益日枯。初時參前參後，淋瀝無時；脾胃衰甚，變為溏泄身腫，面無顏色，而乾血癆瘵等症作矣，故女子多有之）。少陽卑沉，少陰脈細，經前病水，水分易瘳（少陽脈卑下沉，而少陰脈細而微，為經水不利，血化為水，瘀水閉塞胞門，名曰水分。此先病水而後經斷，故病易治）。寸脈沉數，趺陽微弦，少陰沉滑，血分可愁（寸脈沉而數，數為陽實，沉為陰結；趺陽脈微而弦，微則胃氣弱，弦則肝盛脾。少陰脈沉而滑，沉為在裡，滑則為實為壅，沉滑相搏，血結胞門，經絡不通，名曰血分。先斷經而後病水，故病難治）。寸浮而弱，潮煩汗出。寸洪數虛，火動癆疾（寸浮而弱，浮為氣虛，弱為血少，主潮煩汗出。男子尺脈虛數，而寸沉微者為癆；女子寸脈虛數，而尺脈沉微者為癆。癆者汗出潮咳，與男子陰虛火動一般）。趺陽浮澀，吞酸氣窒。腹痛腹滿，脈浮且緊。少陰真之，疝瘕內隱（趺陽脈浮而澀，浮則氣滯，澀則有寒，食入腹滿，吞酸，喜噫其氣時，下腹中冷痛。又曰：浮則腸鳴腹滿，緊則腹痛，若少陰脈見浮緊，則為疝瘕腹痛）。帶下崩中，脈多浮動，虛遲者生，實數者死（崩帶脈浮而動，浮則為虛，動則為痛，或崩帶或陰戶脫下）。少陰滑數，氣淋陰瘡（少陰脈滑數，或為氣淋，或陰中生瘡）。弦則陰痛，或挺出腸（少陰脈弦，則陰戶掣痛，白腸挺出如核）。</p>
<p>婦人妊娠，以血為本。血旺易胎，氣旺難孕。妊娠初時，寸微五至，三部平勻，久按不替，胎必三月。陰搏於陽，氣衰血旺，脈正相當。肝橫肺弱，心滑而洪，尺滑帶散，久按益強。或關滑大，代止尤忙。渴且脈遲，其胎必傷。四月辨質，右女左男，或浮或沉，疾大實兼。左右俱盛，胎有二三，更審經脈，陰陽可參。但疾不散，五月懷耽。太急太緩，腫滿為殃。六七月來，脈喜實長，沉遲而澀，墮胎當防。脈弦寒熱，當暖子房。八月弦實，沉細非良，少陰微緊，而胎一傷。勞力驚僕，胎血難藏。中心悶痛，色青必亡。足月脈亂，反是吉祥（妊娠初時脈平，而見寸脈微小，呼吸五至，浮沉正等，按之不絕，無他病而不月者，孕也，必三月而後尺數。若寸關調而尺脈絕者，經病也。《素問》曰：陰搏陽別，謂之有子。言尺寸少陰動甚，別有陽脈搏手心主血脈，腎為胞門故也。然血為陰，氣為陽，血旺氣衰，亦陰搏陽別之義。故訣云：肝為血兮肺為氣，血為榮兮氣為衛，陰陽配偶不參差，兩藏調和當受孕。血衰氣旺定無妊，血旺氣衰應有娠。寸微關滑尺帶數，流利往來似雀啄；胎兒之脈已見形，數月懷耽猶未覺。又云：兩手關脈大相應，胎形已見同前語。前訣中俱以左肝右肺分氣血衰旺，又以尺寸分氣血，寸微為氣衰，尺數為血旺。關滑者，滑為血多氣少也，然尺脈滑疾帶散帶代，如雀啄少停者，乃胎氣盛，閉塞故也，此時若作渴，脈遲，欲為水腫，復腹痛者，胎必墮。《脈經》曰：孕婦三個月脈宜尺滑，帶散帶數。若五個月，脈喜疾而不散，若太急為緊為數者，必漏胎；太緩、沉、遲者必墮胎；浮者必腹脹滿而腫，為之子腫。六七月脈宜實大、牢、弦，若沉細而澀者，亦當防墮。若丹田氣暖，胎動者可救，胎冷若水者難治。脈弦，發熱惡寒，其胎逾腹，腹痛，小腹如扇，子藏閉也，宜熱藥溫之。少陰脈微而緊，血養不周，雙胎一死一有胎動，或因倒僕，或因驚恐，或因勞力，或因食熱，或因房事，輕則漏而重則下血，如同月水，血乾胎死。而氣無血制，上衝心腹悶痛，面目唇舌青色者，子母俱死。此不獨七八個月然，十個月內皆宜慎之。總之未產脈宜實、大、牢、強，不宜沉、細、遲、澀也。足月身熱脈亂者產兆也）。</p>
<p>臨產六至，脈號離經，或沉細滑，若無即生。浮大難產，寒熱又頻，此是凶候，急於色徵。面頰唇舌，忌黑與青。面赤母活，子命必傾；若胎在腹，子母俱冥（脈一呼六至，或一呼一至曰離經，經者，常也，言離其常處也。人之呼吸，一日一夜一萬三千五百息，脈行八百一十丈，周而復始，從初起之經再起。今因胎下，胃脈已離常絡之處，不從所起之經再起，故曰離經將產也。或沉細而滑，亦為將產，乃藏本脈見也。若沉而如無者即產，緣胎元下墮，奔急痛楚，氣血錯亂，故脈不應也。一產後脈即復矣。若脈浮大，必難產，再加身重體熱，寒熱頻作，此凶症也。急看面舌氣色，逐胎救母為要。蓋面乃心之華，舌乃心之苗，面赤者，心血流通，故母活。舌青則肝虛不攝血，故漿包早破而胎不能轉動，故母死。雖面舌唇口俱黑，黑者腎水克心火，故子母俱死。雖面赤舌青，若胎不出，母命必危）。</p>
<p>產後緩滑，沉細亦宜，實大弦牢，澀疾皆危（產後以胃氣為主。緩滑者，脾胃和也；實大弦牢，木剋土也。沉細亦宜者，產後虛弱，脈症相合也。澀疾危者，產後下血過多，心虛氣絕也。故訣云：寸口澀疾不調曰死，沉細附骨不絕曰生）。</p>

<h2>矯世惑脈辨（汪石山）</h2>
<p>夫脈者，本乎營與衛也，而營行脈之中，衛行於脈之外。苟藏府和平，營衛調暢，則脈無形狀之可議矣。或者六淫外襲，七情內傷，則藏府不和，營衛乖謬，而二十四脈之名狀層出而疊見矣。是故風寒暑濕燥火，此六淫也，外傷六淫之脈，則浮為風，緊為寒，虛為暑，細為濕，數為燥，洪為火，此皆可以脈而別其外感之邪也。喜怒憂思悲恐驚者，此七情也，內傷七情之脈，喜則傷心而脈緩，怒則傷肝而脈急，恐則傷腎而脈沉，悲則氣消而脈短，驚則氣亂而脈動，此皆可以脈而辨其內傷之病也。然此特舉其常，而以脈病相應者為言也。若論其變，則有脈不應病，病不應脈，變出百端而難一一盡憑乎脈者矣。試舉一二言之，如張仲景云：脈浮大，邪在表為可汗；若脈浮大，心下硬，有熱，屬藏者攻之，不令發汗，此又非浮為邪表可汗之脈也。又云：促脈為陽盛，宜用葛根黃芩黃連湯，若脈促厥冷為虛脫，非灸非溫不可，此又非促為陽盛之脈也。又曰：遲脈為寒，沉脈為里，若陽明脈遲不惡寒，身體濈濈汗出，則用大承氣，此又非諸遲為寒之脈矣。少陰病始得之，反發熱而脈沉，宜麻黃細辛湯汗之，此又非沉為在裡之脈矣。凡此皆脈難盡憑之明驗也。若只憑脈而不問證，未免以寒為熱，以表為里，以陰為陽，顛倒錯亂，而夭人壽者多矣。是以古人治病不專於脈，而必兼於審證，良有以也。奈何世人不明乎此，往往有病，諱而不言，惟以診脈而試醫之能否脈之，而所言偶中，便視為良醫，而傾心付託，其於病之根源一無所告，藥之宜否，亦無所審，惟束手聽命於醫，因循遂至於死，尚亦不悟，深可悲矣。彼庸俗之人，素不嗜學，固無足怪，奈近世士大夫家，亦未免狃於此習，是又大可笑也。夫定靜安慮，格物致知，乃大學首章第一義。而慮者，謂慮事精詳；格物者，謂窮致事物之理；致知者，謂推及吾之所知。凡此數事，學者必嘗究心於此矣。先正又言；為人子者，不可不知醫。病臥於床，委之庸醫，比之不慈不孝。夫望聞問切，醫家大節目也，苟於臨病之際，惟以切而知之為能，其餘三事，一切置而不講，豈得謂知醫乎？豈得為處事精詳乎？豈得為窮致事物之理而推極吾之所知乎？且醫之良，亦不專於善診一節，凡動靜有常，舉止不妄，存心忠厚，發言純篤，察病詳審，處方精專，兼此數者，庶可謂之良矣。雖據脈言證或有少差，然一脈所主非一病，故所言未必盡中也，若以此而遂棄之，所謂有二卵而棄干城之將，烏可與智者道哉。姑以浮脈言之。《脈經》云：浮為風，為虛，為氣，為嘔，為厥，為痞，為脹，為滿不食，為熱，為內結等類所主，不下數十餘病，假使診得浮脈，彼將斷其何病耶？苟不兼之以望聞問而欲的知其為何病，吾為戛戛乎其難矣。古人以切居望聞問之後，則於望聞問之間已得其病情矣，不過再診其脈，看病應與不應也。若脈與病應則吉而易醫，脈與病反則凶而難治。以脈參病，意蓋如此，曷以診脈知病為貴哉！夫《脈經》一書，拳拳示人以診法，而開卷入首，便言觀形察色，彼此參伍，以決死生。可見望聞問切，醫之不可缺一也。噫，世稱善脈，莫過叔和，尚有待於彼此參伍，況下於叔和者乎？故專以切脈言病，必不能不致於誤也，安得為醫之良？抑不特此，世人又有以《太素脈》而言人貴賤窮通者，此又妄之甚也。予嘗考其義矣，夫太者、始也，初也，如太極太乙之太素者，質也，本也，如繪事後素之素，此蓋言始初本質之脈也。此果何脈耶，則必指元氣而言也。東垣曰：元氣者，胃氣之別名。胃氣之脈，蔡西山所謂不長不短，不疏不數，不大不小，應手中和，意思欣欣難以名狀者是也。無病之人，皆得此脈。以此脈而察人之有病無病則可，以此脈而察人之富貴貧賤，則不可。何也？胃氣之脈，以難形容，莫能名狀，將何以為貴賤窮通之診乎？竊觀其書名雖太素，而其中論述略無一言及於太素之義，所作歌括率多俚語，全無理趣。原其初意不過托此以為激利之媒，後世不察遂相傳習，莫有能辨其非者。又或為之語曰：太素云者，指貴賤窮通，稟於有生之初而言也。然脈可以察而知之，非謂名太素也。予曰：固也。然則太素之所診者，必不出於二十四脈之外矣。夫二十四脈皆主病言，一脈見則主一病，貧賤富貴何從而察之哉？假如浮脈，其診為風，使太素家診之將言其為風耶，抑言其為貴賤窮通耳？二者不可得兼。若言其為風，則其所知亦不過病也。若遺其病而言其為貴賤窮通，則是近而病諸身者尚不能知，安得謂之太素，則遠而違諸身者必不能知之也。蓋貴賤窮通，身外之事，與身之血氣了不相干，安得以脈而知之乎？況脈之變見無常，而天之寒暑不一，故四時各異，其脈必不能久而不變，是以今日診得是脈，明日診之而或非；春間診得是脈，至夏按之而或否，彼太素者，以片時之尋按而斷一生之休咎，殆必無是理。然縱使億則屢中，亦是捕風捉影，彷彿形容，安有一定之見哉？噫，以脈察病，尚不知病之的，而猶待乎望聞問，況能知其他乎？且脈兆於岐黃，演於秦越，而詳於叔和。遍考《素》、《難》、《脈經》，並無一字言及此者，非隱之也，殆必有不可誣者耳。巢氏曰：太素者，善於相法，特假太素以神其術耳。誠哉言也，足以破天下後世之惑矣。又有善伺察者，以言飴人，陰得其實，故於診按之際，肆言而為欺妄，是又下此一等，無足論也。雖然人稟天地之氣以生，不能無清濁純駁之殊，稟之清者，血氣清而脈來亦清，清則脈形圓淨，至數分明，吾診乎此，但知其主富貴而已，若曰何年登科，何年升授，何年招財，何年得子，吾皆不得而知矣。稟之濁者，血氣濁而脈來亦濁，濁則脈形不清，至數混亂，吾診乎此，但知其主貧賤而已，若曰某時招悔，某時破財，某時損妻，某時克子，吾亦莫得而知矣。又有形濁而脈清者，此謂濁中之清；質清而脈濁者，此謂清中之濁；又有形不甚清，脈不甚濁，但浮沉各得其位，大小不失其等，亦主平穩而無大得喪也。其他言有所未盡，義有所未備，學者可以類推。是則吾之所謂知人者，一本於理而已矣，豈敢妄為之說以欺人哉。噫，予所以著為是論者，蓋以世之有言太素脈者，靡不翕然稱美，不惟不能以理析，又從而延譽於人，縱使其言有謬，又必陰與之委曲影射，此所謂誤已而誤人者也，果何益之有哉！又有迎醫服藥者，不惟不先言其所苦，甚至再三詢叩，終於默默，至有隱疾困醫者，醫固為其所困，不思身亦為醫所困矣。此皆世之通患，人所共有，故予不得不詳論之，以致夫丁寧之意，俾聾瞽者或有所開發焉。孟子曰：予豈好辯哉，予不得已也。</p>

<h2>太素大要（彭用光）</h2>
<p>論貴賤，切脈之清濁；論窮通，切脈之滑澀；論壽夭以浮沉，論時運以衰旺，論吉凶以緩急，亦皆彷彿《靈樞》虛實攻補，法天法地法人之奧旨。○凡人兩手清徹如無脈者，此純陰脈主貴；有兩手俱洪者，此純陽脈主富。</p>
