<header data-type="book">
<h1>暑症發原</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李識候</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>李居士識候參</h1>
<p>夏令離陽用事大氣主開人如調護不謹諸症叢生或內傷外感因熱反寒見症紛紜分門疏敘茲以暑氣鬱蒸自鼻孔吸入傷於手經者宗內經主病以參治例特表於前蓋暑為上受宜入清虛之臟及其在腑非口受穢氣胃有穢積即經邪轉入於腑也故促聖立傷寒方法亦有關於手經者則傷暑治療亦不遺於足經矣若曰暑先入心則寒先入腎傷寒非全入腎則傷暑非悉入心矣須知暑氣無形惟注者受之至伏暑為病附於秋間復感涼風而發者經曰夏傷於暑秋為痎瘧暑積內著宜為滯下然則今之秋令病邪者又不本於伏暑而何哉壬寅秋</p>

<h1>治例</h1>
<p>一初夏過寒見足經症者宜與傷寒參看</p>
<p>一初夏應暖反寒時行寒疫宜與瘟疫參看</p>
<p>一初夏風雨不時人多感冒宗時行感冒法</p>
<p>一仲夏時行陰雨陽氣鬱蒸宗濕溫症治</p>
<p>一伏氣至夏發者脈洪有力壯熱宗熱病例治</p>
<p>一盛暑大熱大旱汗多金傷宗燥熱症治</p>
<p>一陰傷伏熱肺虛感暑但熱有時宗癉瘧治</p>
<p>一伏暑未感涼風而發者俗名秋溫宗伏暑治</p>
<p>一伏暑已感涼風而發者先寒後熱疏風解暑</p>
<p>一伏暑重涼風輕寒輕熱重熱盛午後俗名溫瘧</p>
<p>一伏暑輕涼風重寒重熱輕解表宣陽牝瘧參看</p>
<p>一伏邪至秋分後傳入半里或入足經者宜用攻解</p>
<p>一夏秋中暍露霧穢霍亂瀉痢均補於後卷</p>
<p>一傷寒之藥宜氣厚傷暑之藥宜昧薄</p>
<p>一熱病兼中暍觸發者名陽毒</p>

<h1>論夏初陰雨濕溫</h1>
<p>夏初陽氣夫暢則濕濁之氣已升未從陽化適逢陰雨連綿則濕盛亢陽於內以致頭重體倦舌白增寒弱不勝衣筋痠腰重難於展側蒸熱口渴足脛逆冷脈耎而混或濡弱者名曰濕溫濕盛小便不利者五苓散主之（陽升則濕騰熱蒸則濕化若逢陰濕內不化濕外反受之則表裡合蒸）</p>
<p>自汗脈浮洪口渴濕化熱兼表症者桂枝白虎湯或桂苓甘露飲（桂苓甘露　二冬芩　兩地甘斛與茵陳枳枇抑氣能降火本事方中犀角均）</p>
<p>自汗脈洪緩口渴舌紅苔白熱盛者蒼朮白虎湯</p>
<p>愚按巳午之月六陽之氣齊浮若人真水下竭</p>
<p>陽升吸濁皆浮於胃中反見面垢脈混而舌白煩渴最似溫熱惟以神脈合參之果如是有六味地黃湯少加梔豉或梔豉太越則加豆卷滑石或豬苓湯亦穩若虛寒者原可攝陰溫下沉陽（六味地黃君熟地　山萸山藥與丹皮　豬苓湯用治熱勝　茯苓澤瀉通水道　肝腎不足最相宜　澤瀉茯苓阿膠增）</p>

<h1>手太陰肺經</h1>
<p>起中焦中俯穴下絡太腸循胃口上膈至肩走臂內前廉至寸口少商穴是經多氣少血其藏魄屬金統攝二身元氣主開主哭主皮毛</p>
<p>本病（諸氣膹郁　諸痿　喘嘔氣短　咳嗽上逆　嗽吐膿血　不得臥　小便數而欠　遺失不禁）</p>
<p>標病（灑淅寒熱　傷風自汗　肩背冷痛　臑臂前廉痛）</p>
<p>氣實瀉之（瀉子　澤瀉　亭厯　桑皮　地骨皮　除濕　半夏　白礬　白茯　苡米　木瓜　橘皮　瀉火　石膏　知母　訶子　寒水石　粳米　通滯　枳殼　桔梗　薄荷　乾薑　木香　厚朴　杏仁　皂莢）</p>
<p>氣虛補之（補母　人參　黃耆　甘草　山藥　升麻　潤燥　麥冬　阿膠　蛤　貝母　百合　天冬　花粉　斂肺　烏梅　白芍　粟殼　五味　五棓子）</p>
<p>本熱清之（清金　黃芩　知母　麥冬　天冬　山梔　沙參　紫菀）</p>
<p>本寒溫之（丁香　藿香　檀香　白蔻　款冬　益智　砂仁　糯米　百部）</p>
<p>標寒散之（解表　麻黃　紫蘇　蔥白）</p>
<p>肺經報使（桔梗　升麻　蔥白　白芷）</p>
<p>寒傷營暑傷氣言後天之表寒傷火熱傷水言先天之本大江以南傷暑倍於傷寒遍考古書詳於傷寒而略於傷暑仲聖治傷寒至後則言邪分六經證通其變也古人治傷暑用香茹白虎湯清暑益氣等方治其常也今之暑邪祗有各經見症而無各經主方故特表而出之</p>

<h1>手太陰肺經症治</h1>
<p>暑風襲肺灑然汗出惡風淅然汗閉煩熱鼻塞善嚏喘滿痿躄或口渴舌黃少氣不得太息或膚麻手瞀咳引胸膺背臑臂前廉痛大小解不肅肺為清虛之臟也宜辛涼解肌</p>
<p>辛夷　白薇　杏仁　桔梗　六一散　開茉莉　天泉水煎</p>
<p>無汗惡汗加蘇葉　汗多加白芍去桔梗　熱甚加黃芩　渴甚加花粉　少氣煩渴加沙參麥冬</p>
<p>第二條承上</p>
<p>氣口脈濡弦而澀太陰傷暑也前湯主之服湯已汗出時不惡風而熱暢者表欲解也鼻塞當愈適喘咳未除而氣促者肺逆也此湯主之</p>
<p>白前　杏仁　大貝　粳米　桑皮　六一散　照前煎服</p>
<p>虛加洋參麥冬　痰膩加橘白　肺火加山梔　唇燥口渴加甘梨漿</p>
<p>第三條里症</p>
<p>太陰暑症脈反滑大汗出惡熱胸滿便閉大次指痛氣滿皮膚殼殼然堅而不痛或下齒痛喉痹目黃鼽衄頸腫此為腑脈腑症肺與大腸為表裡腑以通為泰也此湯主之</p>
<p>瓜蔞仁　杏仁　枳實　桔梗　六一散　秦艽　急流水煎</p>
<p>熱盛加條芩　津枯便秘不胸滿不可與之　不滿胸而下利甘桔湯主之　齒痛鼽衄熱盛加葛根石膏</p>
<p>第四條夾寒</p>
<p>暑入太陰自汗膚熱適其人脈反弦緊惡寒無汗鼻塞聲重舌苔白膩腰足拘急此為寒伏少陰貪涼臥濕所致仿內經實則瀉子法也此湯主之</p>
<p>獨活　辛夷　香茹　桔梗　六一散　韭白湯煎</p>
<p>濕勝加澤　瀉飲冷遏肺者加生薑　陽虛色傷有汗忌服</p>
<p>第五條夾熱</p>
<p>傷暑脈濡弦今脈洪數有力煩熱多汗氣促口渴咳嗆咽乾此壯火爍金也可與此湯</p>
<p>知母　大貝　花粉　麥冬　六一散　桑葉　粳米湯煎</p>
<p>風淫自汗加白薇玉竹　虛加人參　如大熱大渴大汗脈洪實者腑脈也與白虎互參</p>
<p>第六條壞症</p>
<p>傷暑服前湯表裡症解脈自和者為不傳也若有變幻參其脈症所犯何逆所兼何症而治之設暑熱傷肺金津不布化濁痰結於肺下痰復生熱熱更生風以致久咳痰腥如癰膿者恐成暑療此湯主之</p>
<p>牛蒡子　馬兜鈴　瓜蔞仁　六一散　大貝　桔梗　橘白　麥冬　蛤紛　苡米湯煎</p>
<p>熱渴加山梔　嗽血加阿膠　如肺氣虛而伏痰自汗者以玉屏風散去朮加貝母麥冬湯主之</p>
<p>第七條傳經</p>
<p>太陽傷暑若解若清若利小便反煩熱不解消渴神昏善笑此欲傳手厥陰也太陰未解還從肺治太陰症罷恐入少陰當於本門求之餘經仿此</p>
<p>第八條調愈救逆</p>
<p>肺家暑解津虧氣弱者調之則愈</p>
<p>蜜拌洋參　茯苓　懷山藥　大麥冬　炙草　扁豆湯煎</p>
<p>太陰傷暑誤服足經表藥升散以致汗出不止氣促煩渴脈促無表症者生脈散救之若暑傷元氣誤汗者保元湯主之若升散太過元海無根龍雷飛躍者六味地黃湯加龍骨牡蠣若暑傷肺絡者咳血補肺阿膠湯加麥冬絲瓜絡</p>

<h1>手厥陰心包絡</h1>
<p>是經起於乳中天池下至臍下上散兩乳循肩走臂內中臁至中指中衝多血少氣心包之火寄體於命門命門為相火之源天地之始藏精生血降則為漏升則為鉛主三焦元氣</p>
<p>本病（前後癃閉　氣逆裡急　奔豚　消渴　膏淋精漏　精寒　赤白　濁　尿血　崩中　帶下　以上皆主古賢言）</p>
<p>標病</p>
<p>火強瀉之（瀉相火　黃柏　知母　丹皮　生地　地骨皮　茯苓　元參　寒水石）</p>
<p>火弱補之（益陽　附子　肉桂　益智　補骨脂　胡桃　丁香　蛇床子　烏藥　覆盆子　肉蓯容　胡蘆巴　巴戟　大茴　小茴　鎖陽　川椒　蛤蚧　當歸　陽起石）</p>
<p>精脫固之（澀精　牡蠣　芡實　金櫻　五味　山萸　遠志　蛤粉）</p>
<p>命門報使（柴胡　丹皮）</p>

<h1>手厥陰心包絡經症治</h1>
<p>暑邪之入心包也腠理開則灑然汗出閉則蒸蒸熱悶澹澹心動笑不休心大熱手心熱或目赤面黃或胸脅支滿以是經界於營衛交濟之中先宜辛香宣營達衛</p>
<p>紫背鮮浮萍　連喬殼　薄荷梗　益元散　桔梗　鮮佛手</p>
<p>熱盛目赤加川連　汗多去薄荷桔梗加茯神</p>
<p>第二條承上</p>
<p>心包傷暑脈本芤遲設其人脈反洪大躁煩神越多汗譫狂壯熱舌絳此暑熱鼓動心陽防為昏喘前湯不中與也無足少陰症者可與此湯</p>
<p>辰砂麥冬　粉丹皮　赤芍　益元散　烏犀尖　鮮生地　佛手露　竹葉湯煎</p>
<p>狂甚加金氣</p>
<p>第三條化風</p>
<p>暑入心包煩躁發熱反見昏腫面垢油赤眼閉少溺表無大熱此暑痰矇昧心包裹熱不隨汗減者將欲化風發為痙厥此湯主之</p>
<p>廣黃尖　瓜蔞殼　大貝　遠志肉　天竹黃　山梔皮　蟬殼　益元散　衝入竹瀝　梨汁　無汗加鮮菖蒲汁</p>
<p>第四條經病</p>
<p>肺主衛心主管包絡出則衛入則營是經從胸走手若肘臂攣急胸脅支滿乃為經病或熱化風而循經者此湯主之</p>
<p>釣藤勾　蟬退　丹皮　赤芍　當歸鬚　瓜蔞殼　絲瓜絡　西瓜翠　衝入甘梨漿　熱盛加羚羊角</p>
<p>第五條腑症</p>
<p>暑入心包服前法後脈反洪長壯熱頭汗躁擾狂越驚駭溢血耳鳴喉腫目銳皆疼次指如廢此為腑症包絡與三焦為表裡宗河澗先生三焦治法</p>
<p>大豆卷　黃芩　黃連　益元散　黃柏</p>
<p>脈實便閉無少陰症者重加大黃（大黃原可救陰但虛不宜耳）又熱在上焦梔豉湯越之　熱在中焦白虎湯清之　熱在下焦豬苓湯利之　三焦治法均可選用</p>
<p>第六條</p>
<p>傷暑服前湯不解轉見消渴浸淫病況譫妄舌不能言此欲傳手少陰也若熱退脈和舌紅苔濁神倦如迷不語如呆此暑解痰凝包絡心液受戕之象</p>
<p>囫圇川貝　麥冬　鮮菖蒲　遠志　鮮生地　天竹黃　露水一杯</p>
<p>熱鬱加薄荷露　陰陽相火薰心加龜版龍齒</p>
<p>第七條</p>
<p>心包暑解汗多神倦煩渴不眠者此湯主之</p>
<p>生脈散　麥冬包川連</p>
<p>暑解神倦脈弱者此湯調之則愈</p>
<p>鮮蓮子　人參　麥冬　百合　元眼</p>
<p>暑解服前湯靜養五日愈</p>

<h1>手少陰心經</h1>
<p>起於極泉下絡小腸從心中挾咽自缺盆間循手臂內後廉至小指少衡穴又循頰至目系自經少血多氣主藏神為君火包絡相火代君行令主血主言主汗主笑</p>
<p>本病（諸熱　黃芩　瞀瘛　驚惑　譫妄　煩亂　啼笑　罵詈　怔忡　健忘　人參　炙草　自汗　黃連　痛癢　黃柏　瘡瘍　黃連）</p>
<p>標病（梔子湯　畏寒戰慄舌不能言面赤目黃　麥冬　手心煩熱　生地梔子　胸脅滿痛引腰背肩胛肘臂）</p>
<p>火實瀉之（瀉子　黃連　大黃　瀉氣分火　甘草赤茯苓　木通　黃柏　瀉血分火　丹參　丹皮　生地　元參　鎮驚　牛黃　硃砂　紫石英）</p>
<p>神虛補之（補母　細辛　烏梅　棗仁　生薑　陳皮　補氣　桂心　澤瀉　茯神　遠志　菖蒲　補血　當歸　熟地　乳香　沒藥）</p>
<p>本熟寒之（瀉火　黃芩　竹葉　麥冬　芒硝　炒鹽）</p>
<p>標熱發之（散火　甘草　獨活　柴胡　麻黃　薄荷）</p>
<p>心經報使（黃連　細辛）</p>

<h1>手少陰心經症治</h1>
<p>署入心經煩熱自汗面赤目黃掌心熱善笑消渴善驚善忘或言多面垢或咳吐氣泄或兩腎內痛乃火淫所勝金水之症疊出隨其開泄之權以宜之非表汗也是祛暑也</p>
<p>鮮菖蒲　益元散　連翹心　梔子仁　荷花露　佛手露</p>
<p>咳吐加麥冬腎痛加黃柏　寒淫戰慄無汗少加細辛　本經胸脅引臑臂內後臁痛風淫搐搦加薄荷　煩燥神亂加珠黃散</p>
<p>第二條承上</p>
<p>少陰暑熱脈若虛洪洪而有力即為壯火舌色應絳汗出則喘促煩冤汗閉則躁煩狂亂多汗舌潤淡滲清利無汗煩熱芳香宣竅煩熱舌紅者此湯主之</p>
<p>真川連　辰砂麥冬　元參心　薄荷露　荷花露　調益元散</p>
<p>喘加竹葉　驚加牛黃紫石英　渴加瓶果　不渴加丹參</p>
<p>第三條承上</p>
<p>暑熱入心兩陽相灼蒸逼陰津本應多汗反無汗者一為營液表虧一為剛陽熏爍離宮陰劫舌絳無苔津液不能灌通絡竅內結為痰舌反生胎體若燔炭汗出而散神迷躁擾者芳香以開之</p>
<p>甘梨漿　薄荷露　銀花露　化服至寶丹</p>
<p>無汗加浮萍汁　熱渴加西瓜水</p>
<p>渴不能飲加淡天冬面赤而紫加丹皮紫草汁</p>
<p>第四條</p>
<p>暑熱觸心陽壯熱昏冒汗出反劇舌絳譫妄面赤嗌乾欲飲冷水目赤如金者此離宮陰涸陽熱自燔亟用清火救陰為主</p>
<p>烏犀尖　淡天冬　麥冬　真川連　中生地　衝入荷花露</p>
<p>無汗加桔梗簿荷露　停飲加益元散拂鬱加佛手露</p>
<p>第五條</p>
<p>少陰傷暑脈浮洪者易兼腑症如嗌痛頜腫耳聾口糜小便短閉者皆為腑症心與小腸為表裡也無汗者清揚有汗者與此湯</p>
<p>元參心　本通　甘草梢　薄荷露　竹葉心　中生地</p>
<p>熱盛加黑山梔　熱盛不飲熱在血分大便結少加大黃微利之</p>
<p>第六條</p>
<p>心營暑熱服前法已熱退神清為已解也若譫妄舌不能言即為入臟或卒心痛煩悶善嘔壬癸甚丙丁大汗氣逆則壬癸死刺手少陰太陽穴餘經生克皆可類推（臟腑不可刺不過剌經刺穴）或心陽挾暑熱蘊結而為瘡瘍者此湯主之</p>
<p>真川連　黃柏　生甘草　全當歸　赤芍　粉丹皮</p>
<p>瘡在表加荊芥金銀花　瘍在裡加穿山甲廣鬱金</p>
<p>第七條</p>
<p>暑熱轉心營汗多液涸邪退熱除舌至光紅有紋語言強澀或神倦如迷或聲啞煩躁渴不欲飲者此為無液承滋用存精養液法</p>
<p>清阿膠　元參心　大麥冬　雞子黃　淡天冬　中生地</p>
<p>聲啞加桔梗　躁煩加荷花露　咽齒俱干加豬膚白蜜　有痰加天竺黃　神搖惕惕加辰砂金器百合心</p>
<p>第八條</p>
<p>心家暑解心氣虛者此湯補之則愈</p>
<p>人參　麥冬　丹參　桂元　棗仁</p>
<p>心陰虛者此湯養之</p>
<p>西洋參　淡天冬　柏子仁　囫圇雞子黃　鮮蓮子　紅棗肉</p>

<h1>手陽明大陽經</h1>
<p>起於次指商陽穴循臂外前脈上項環口終迎香穴下走兩乳間入少腹是經氣血俱盛屬金主變化為傳送之官</p>
<p>本病（大便閉結　泄痢下血　里結後重　疽痔脫肛　腸鳴而痛）</p>
<p>標病（下齒痛　上齒胃下齒大腸　喉痹　咽屬胃喉屬太腸　頸腫口乾　咽中如核　鼽衄目黃　手大指次指痛　宿食發熱寒慄）</p>
<p>腸實瀉之（血分　大黃　芒硝　石膏　牽牛　郁李仁　桃仁　巴豆　氣分　枳殼　木香　橘皮　檳榔）</p>
<p>腸虛補之（氣　皂角　燥　桃仁　麻仁　杏仁　地黃　當歸　乳香　松子　肉蓯蓉　濕　白朮　茅朮　半夏　硫黃　陷　升麻　葛根　脫　龍骨　白堊　訶子　粟殼　烏梅　白礬　石榴皮　石脂　餘糧）</p>
<p>本熱寒之（清熱　秦艽　槐角　地黃　黃芩）</p>
<p>本寒溫之（溫里　乾薑　附子肉　豆蔻）</p>
<p>標熱散之（解肌　石膏　白芷　升麻　葛根）</p>
<p>大腸報使（白芷　升麻　石膏）</p>

<h1>手陽明大腸經症治</h1>
<p>暑熱入陽明之經脈見浮滑几几即壯熱口乾目黃汗出不徹鼽衄頸腫或喘或面赤耳聾或咽中如核肩肘臂外前臁引手大指次指熱痛此為經邪宜越是湯主之</p>
<p>白葛根　秦艽　杏仁　六一散　石膏</p>
<p>無汗不渴去石膏加茅根　咽中如核加桔梗</p>
<p>第二條</p>
<p>暑熱服前湯若解則捍衛熱泄可以通營脈必浮和滑耎若喉痹鼽衄下齒作痛本經之熱已揚再宜清解</p>
<p>淡黃芩　茅根　石膏　六一散　桔梗</p>
<p>見疹加牛蒡子</p>
<p>第三條</p>
<p>手陽明病汗收熱徹脈不耎尺浮日晡潮熱大便秘結裡急後重或泄痢下血疽痔脫肛者此為經邪入腑也此湯宜之</p>
<p>條黃芩　枳實　桔梗　全瓜蔞　秦艽</p>
<p>痢血痔下者去瓜蔞枳實加葛根桃花甘草　大陽血結者去瓜蔞加桃仁</p>
<p>大腸寒閉腸鳴而痛此湯不中與也</p>
<p>第四條</p>
<p>服前湯秘結若通暑滯亦從下解若泄痢下血者小腸邪熱亦從下趨可兼理小腸設利止反微熱而咳者此人陽餘邪傳肺而解也甘桔湯主之</p>
<p>生草　桔梗二味煎</p>
<p>無汗加香薷同煎服</p>
<p>第五條</p>
<p>經邪歸腑本不復傅表熱則退餘邪皆從濁道而趨若邪靜有虛濕盧燥之分燥結用麻仁松子仁顯潤之　滑泄用白朮半夏之屬燥之</p>
<p>經邪表熱不徹反兼嗌痛領腫口糜欲傳手太陽也如兼耳鳴嗌腫驚駭為欲傳手少陽也</p>

<h1>手太陽小腸經</h1>
<p>起於小指外側少澤穴循臂外後廉從肩入缺盆絡心復上耳前聽宮穴止是經少氣多血主分秘水穀為受盛之官</p>
<p>本病（大便水穀利　小便短　小便閉　小便血　小便自利　大便後血　小腸氣痛　宿食　夜熱旦止）</p>
<p>標病（身熱　惡寒　嗌痛　頜腫　口糜　耳聾）</p>
<p>實熱瀉之（氣熱　木通　豬苓　滑石　瞿麥　澤瀉　燈心　血熱　地黃　蒲黃　赤苓　丹皮　梔子）</p>
<p>虛寒補之（氣虛　白朮　楝實　茴香　砂仁　神麯　扁豆　血虛　桂心　延胡）</p>
<p>本熱寒之（降火　黃柏　黃芩　連翹　梔子　黃連）　標熱散之（解肌　羌活　防風　藁本　蔓荊子）</p>
<p>小腸報使（藁本　黃柏）</p>

<h1>手太陽小腸經症治</h1>
<p>暑熱入手太陽經脈見浮洪身熱微惡寒嗌痛領腫渴不善飲或口糜耳聾或掌熱汗出此為經邪宜越是湯主之</p>
<p>蔓荊子　梔子　丹皮　鮮菖蒲　益元散</p>
<p>惡寒肩臂外痛加羌活　嗌痛口糜加鮮生地</p>
<p>第二條</p>
<p>服前湯已營通熱化諸症必減浮洪脈退為經邪得解設腰似折入暮熱劇不可轉側此熱結於血分也此湯主之</p>
<p>卷邊香盡　桃仁　丹皮　鮮生地　赤苓　茅根汁</p>
<p>見癍加浮萍紅花</p>
<p>第三條</p>
<p>小腸經病若解表症悉罷設其人小便短或閉小便後血小腸氣痛此為經邪入腑也是湯主之</p>
<p>鮮生地　木通　甘草梢　粉丹皮　赤苓　瞿麥</p>
<p>裡熱加山梔　氣痛加延胡</p>
<p>第四條</p>
<p>太陽腑症服前湯溺血止而小便自利大便水穀利或大便後血此由小腸失受盛之權或暑熱侵傷腑氣也此湯養而升之</p>
<p>生白朮　清阿膠　赤苓　水楊枝　荷葉蒂</p>
<p>足太陽用五苓降逆手太陽用此升陽</p>
<p>第五條</p>
<p>太陽經腑均解本經氣血若虛不能分泌清濁大便反溏者此湯補之則愈</p>
<p>上黨參　丹參　茯神　生白朮　砂仁　柴胡三分補膽母</p>

<h1>手少陽三焦經</h1>
<p>起於中指外關衝循外中廉散絡心包上耳後眉上過眉心眼下止聽宮穴是經少血多氣為相火之用分布命門元氣主升降比入遊行天地之間總領五臟六腑營衛經絡外內上下左右之氣號中清之府上主納中主化下主出本病（諸熱　瞀瘛　暴病　暴死　暴瘖　躁擾　狂越　譫妄　諸血　溢血　泄血　驚駭　諸氣逆衝上　諸痛瘡瘍　痘疹　痛核）</p>
<p>標病（惡寒　戰慄　如喪神守　耳鳴　耳聾　嗌腫　喉痹諸病　肘腫疼痠　驚駭　手小次指不川）</p>
<p>上焦熱（喘滿　諸嘔　吐酸　胸痞　脅痛　飲食不消　頭汗）</p>
<p>中焦熱（善飢而瘦　解㑊　中滿　諸脹　腹大有聲　諸病　鼓之如鼓　上下關格不通　霍亂吐痢）</p>
<p>下焦熱（暴注下迫水液渾濁　下步腫脹　小便淋瀝　或不便　大便閉結　下痢）</p>
<p>上焦寒（吐飲食痰水胸痹前後引痛食已還出）</p>
<p>中焦寒（飲不化寒脹反胃吐水濕瀉不渴）</p>
<p>下焦寒（二便不禁臍腹冷疝痛）</p>
<p>慎齋云</p>
<p>上焦熱梔子中焦熱黃連下焦熱黃柏又上焦滿悶紫蘇杏仁陳皮中焦滿悶乾薑肉桂吳萸下焦加小茴上焦嘈雜生地中焦嘈雜山藥下焦嘈雜熟地上焦血虛則多用當歸肉桂而白朮宜少中焦則多用白朮血燥亦必加當歸下焦熟地三分肉桂二分湧泉穴火起黃柏一分</p>
<p>上虛保元湯加減中虛益氣湯加減下虛地黃湯加減</p>
<p>下焦有病六味丸可通用若泄瀉只宜調理脾胃不宜輕用</p>
<p>實火瀉之（汗　麻黃　葛根　柴胡　升麻　羌活　薄荷　荊芥　石膏　吐　瓜蒂　滄鹽　薺汁　下　芒硝　大黃）</p>
<p>虛火補之（上　人參　天雄　桂心　中　人參　黃耆　丁香　木香　草蔻　下　人參　附子　桂心　沉香　烏藥　故紙　硫黃）</p>
<p>本熟寒之（上　黃芩　連翹　梔子　知母　元參　石膏　生地　中　黃連　生地　連翹　石膏　下　黃柏　知母　石膏　生地　丹皮　地骨皮）</p>
<p>標熱散之（解表　柴胡　細辛　荊芥　羌活　葛根　石膏）</p>
<p>三焦報使（連翹　柴胡　上　地骨皮　中　青皮　下　附子）</p>

<h1>手少陽三焦症治</h1>
<p>傷寒至厥陰為陰極暑熱入三焦為陽亢三焦為相火之用分布命門元氣遊行三才之間故伏氣必究三焦也天三焦有經界而無臟腑虛靈之權最重上焦主納主宣　則心肺之陽可灌溉以下濟而光明中焦主運化分別陰陽升降清濁下焦主出主傳導則肝腎之陰得蒸變地道卑而上行守真先生升降分消獨得三焦之治法也三焦巳屬乎陽暑熱亦陽主客皆陽陽動則化火風變化莫捷兼之徹上徹下皆其所司能治最宜精切</p>
<p>暑熱之在上焦者清解暑熱之在中焦者分消暑熱之在下焦者清利</p>
<p>第二條</p>
<p>暑熱之入三焦也微見惡寒戰慄即壯熱自汗脈洪而長口渴溺赤驚駭狂越或喘滿頭汗或霍亂吐利或暴注下迫譫忘血溢者分消湯主之</p>
<p>粉葛根　六一散　生石膏</p>
<p>脈不洪無汗不渴忌石膏　無汗惡寒少加細辛　喘滿頭汗加山梔　霍亂吐利加川連　暴注下迫加黃柏</p>
<p>第三條</p>
<p>三焦暑病喘滿心煩胸痞嘔逆頭汗口渴嗌痛喉痹或耳鳴耳聾耳後痛目銳眥疼小次指不用此熱在上焦宜越之</p>
<p>淡豆豉　薄荷葉　元參　連翹　炒山梔　一元散　枳殼</p>
<p>耳聾脅痛如柴胡黃芩　氣逆衝上加桑皮地骨皮　胸痞嘔逆加半夏瓜蔞　肩臂外疼加釣藤</p>
<p>第四條</p>
<p>三焦傷寒善飢而瘦口渴壯熱善飲多汗狂越譫妄或中滿諸脹或上下關格不通或霍亂吐利者此熱在中焦也宜清之</p>
<p>大豆卷　石膏　知母　粳米　竹葉　六一散</p>
<p>腹脹上下關格去石膏加川連乾薑枳殼霍亂吐利去知母加半夏藿香砂仁</p>
<p>第五條</p>
<p>暑在三焦壯熱自汗忽暴注下迫小便渾濁不利或大便閉結或泄血下痢附腫痠者此熱在下焦也宜利之</p>
<p>益元散　豬苓　澤瀉　清阿膠　黃柏　荷葉</p>
<p>大陽氣閉加枳殼　小腸血結加丹皮　胕腫痠痛加木瓜</p>
<p>第六條</p>
<p>服前湯已暑熱似解尚見壯烈瞀瘛暴瘖溢血躁擾譫狂氣逆衝上此三焦本病他汗出舌紅者清火存陰酌之</p>
<p>黃芩　黃連　黃柏　生地　茯神</p>
<p>粳米湯煎蔗湯亦可若熱起小腹加鮮生地骨皮有虛陽上越宜溫補者</p>
<p>有舌紅善笑傳包絡者有汗多亡陰陽熱獨發而為暴厥則危</p>
<p>第七條</p>
<p>三焦病解中氣虛塞胸滿吐涎已食反出寒脹不化二便不禁臍腹冷疼者此湯養之則愈</p>
<p>人參　白朮　茯苓　補骨脂　木香</p>
<p>小便不禁去茯苓　臍腹冷痛加肉桂</p>
<p>中穢中霧</p>
<p>鼻受穢氣芳香以宣之（陰虛陽胃易於觸穢）</p>
<p>口食穢味芳香兼下之</p>
<p>霧乃濕從陽泛濁氣于于清道陽虛肺簿者上受之其症頭重惡寒煩悶此湯主之</p>
<p>桂枝皮　檳榔皮　茯苓皮　飛猾石　茅朮</p>
<p>霧蒙肌表飲阻胸中宗金匱一物瓜蒂湯</p>
<p>手六經症治古書所注甚罕此乃新稿未可為憑以古明家方能著作平人只可述也故特書此恐誤於人</p>

<h1>論伏暑發於秋初者</h1>
<p>夏時伏暑舍營內秋感涼風並衛居蓋未月包絡主令離陰初降屆秋大腸主命其應庚金包絡在營之標大腸主衛之標蓋夏月汗出營虛暑熱易蘊秋初金風拂腠汗孔將收如是則衛風入而與暑爭營暑出而為風拂則寒熱往來暑鼓風陽出於手經氣分者則寒微熱熾發於辰巳之交淺而易汗易愈風束暑邪入於足經血分者則寒甚熱深發於午未之後深而遲汗遲愈若至晚則寒日高則熱又為氣血俱虛也前人已有治例存焉</p>
<p>治涼風束衛暑熱伏營無汗者</p>
<p>蘇葉防風丹皮簿荷杏仁桔梗益元散</p>
<p>治前症有汗者則暑重涼輕</p>
<p>牛蒡子　丹皮　山梔皮　益元散　赤芍</p>
<p>論暑熱內伏未感涼風者（脈應耎數化洪）</p>
<p>平人忽發熱鼻中氣熱唇口乾燥煩擾不寧小便赤或咳或噦若熱在營分者渴不欲飲若無汗者熱至烙手汗出則熱減汗徹則復熱此暑熱自里達表也涼膈散去硝黃加益元散</p>
<p>或犀角地黃湯加香茹（黃連香茹飲）選用</p>

<h1>論暑濕內伏已感涼風者</h1>
<p>（脈應弦澀緩）</p>
<p>秋令暴涼人每懶倦嗜臥肢痠無力慘慘不樂食少煩悶大小便不調蕭嗇惡風寒或肌膚不仁此暑濕傷中涼風著肺陽不升則陰不降用升陽益胃湯助燥收可也（升陽益胃湯加減去黃耆加桑皮）</p>

<h1>論伏暑在裡外感暴寒者</h1>
<p>伏暑在裡外感暴寒其人忽寒戰腹急痛或吐瀉至壯熱大汗則寒從暑化為病解若厥冷麵青為暑從寒陷則病進</p>
<p>寒從暑化　藿香正氣散　黃連香茹飲　（豆樸薷連）</p>
<p>暑從寒陷　加減五積散　加減大順散　選用</p>

<h1>論伏暑傷金成療</h1>
<p>元虛津薄之人暑熱蘊入心營營虛氣耗不能宣布暑熱暑熱挾心陽反來熏肺肺爍金痿則皮毛乾五心熱喘咳煩冤食少無味而白無華肌肉消爍溺赤便難或自汗或痰中帶血釀成勞療此在良工消息治之或開肺生津或滋營涼解使暑熱外泄方可存陰保肺補土生金庶無夭枉</p>

<h1>論瘧</h1>
<p>（如柴胡挑少陽之陽陽升則邪化矣）</p>
<p>瘧者暑之表症暑瘧邪居淺近治從營衛搜求正瘧邪入足經挑出三陽化解因涼風外並太陽伏暑內著陽明太陽闔則寒陽明開則熱反開合之權應是少陽樞機為病故瘧脈自弦內經設臟腑各經均有瘧應取此為正也夫風木偽病每多於申西月發於中酉時者以木喜向榮逢克則爭逢衰則病且秋分亦為半表半裡之候也仲聖治少陽用小柴胡湯入以人參半夏一為木能戕土一為風動痰生故瘧病多痰至於一日間日行速行遲在氣在血出陽入陰良工可考古人以大瘧三陰猶可為訓云數年伏邪難於確據何以春夏時溫大發邪清之後秋冬又有復發大瘧者乎愚以為暑夜乘涼風露襲入於陰者有之即陰邪入於陰分是也</p>

<h1>論痢</h1>
<p>痢者暑之裡症暑令雕陽發泄胃土空虛冷食傷中釀成績垢前賢已宣蓋暑積而為滯下有二一以暑邪阻肺肺氣不能肅降則大陽不宣此由上竅阻而下竅滯也一由暑積在胃秋涼外束肺氣內行為胃肅除積垢積不下則氣不宣此由積阻而致大陽滯也干金外覆離傷術暑自肺而傳於大腸者則為後重痢白營暑自心而傳於小腸者則為腹痛痢赤大小腸俱受暑滯則赤白相混矣光自病腑後則病臟先自暑積內阻後則正虛下陷由此以發前腎之議治法可推矣若但言積滯何痢必發於秋乎</p>
<p>若因感冒外束暑積下攻者先用人參敗毒散從足經逆挽之</p>

<h1>論溫瘧</h1>
<p>（冬傷於寒復感春風光熱後寒夏傷於暑復感秋風光寒後熱）</p>
<p>溫瘧出於秋症名原未確監因秋溫不離瘧象瘧疾又帶秋溫如溫如瘧故俗名之如風露新涼秋蟲疊出其名雖異其稟同也其感則一其源有二均因自夏徂秋汗出腠疏外風襲衛伏暑傷營營液已耗不能傳送暑熱衛陽受束不能豉舞涼風以致伏暑侵衛涼風逼營風暑相搏營衛分爭寒輕熱重緩退復萌營衛相近即近瘧也其起甚微人每不謹嗜饌貪涼邪積蘊結阻住陽明熱勢忽劇此先似瘧而後似溫也一以秋時入少陽先見憎寒發熱熱不退或但熱不寒日晡所有寒熱此先似溫而後似瘧也治法近瘧固搜營衛光解涼風以宣伏暑次清暑熱以保營津即秋時初起未行汗解亦宜先開手經令毛竅先松足經邪達再審足經邪蘊方透足經若早用足經升散溫藥恐致煩躁陽升昏譫厥逆如寇入前營光招後寨前路未開後軍簇擁元帥驚慌守營無主畫出真陽一越救逆莫及矣</p>
<p>一為風暑爭營衛一是秋邪入少陽自惜青年夫造極並非靈素有涵藏</p>

<h1>論瘧溫瘧秋溫症異源同</h1>
<p>陽虛則病冬易傷寒陰虛則病夏易傷暑寒入足經下受先宜溫散取汗暑入手經上受先由清心利小便冬寒至春自少陽而達者為春溫夏暑至秋自肺而達者為秋病鬱蒸即是暑新涼便是秋可知夏亦有涼風秋亦沾暑熱涼多暑少則邪入足經為正瘧暑多涼少則邪留手經為暑瘧涼風生寒伏暑發熱風輕涼輕暑重熱重風解寒解暑解熱解暑風佇定氣血界限分清者應為正瘧暑風混雜氣血界限模糊者則為溫瘧先寒後熱寒輕熱重或熱退不清或退後復作或朝清暮劇或日重日輕血中伏暑留戀最為淹滯非比傷寒一日二三度發為欲愈也此言濕瘧與內經不同經義以冬傷於寒復感春風先熱後寒為溫瘧出自聖名今但以寒熱饃糊熱退不清秋溫間瘧為溫瘧出於俗號涼風易解伏暑難清延至營虛暑熱溜入陽明但熱不寒熱蒸不退俗名秋溫矣故瘧症有轉溫瘧溫瘧復化秋溫為病進秋溫能入溫瘧溫瘧更成正瘧為病衰故曰三症症異源同也</p>
<p>春溫以令名秋溫以伏暑化溫究屬牽強即秋燥秋濕亦不著貼發千古未闡之奧辟世俗混指之原洵是長沙功臣（潤）</p>

<h1>論秋時</h1>
<p>嘉言以不頭疼而口渴為辨春溫第一義秋濕亦然頭疼者新感也口渴者伏氣也秋令時邪與春溫相似而相異者春溫乃伏寒化溫自少陽而達發於收藏之後津液全易汗易達秋溫乃伏暑為邪自營分而傳發於開泄之後津液耗易痢易陷春溫自足經達而播及手經秋溫自手經受而傳於足經其秋涼新感亦有全在足經竟無伏暑者又有伏暑由感冒觸發者只要分明伏暑新感但以症候顯見何經即在何經參治之亦不據定何經應感刻定何經額傳也瘧與秋時相類而相異者瘧邪循脊或隱陽原或伏陰膜渾如傳舍空隙無處交鋒至營衛氣血行遇方爭爭則陰陽勝復邪正皆混退則各分界限氣血皆清秋時則因夏月畫受炎蒸晚乘風露毛竅開時潛滋滲入暑熱露涼舍於肌肉積日成月層層蘊結秋涼風起汗孔一收從降今而逼入陽明則病作矣先見惡寒未罷而寒勢方張乃衛與太陽之涼風一⿺辶⿱㇒𠀁營與陽明之伏暑蒸騰輕於辰已之交重於午未之後退則隱於陽明之半進則蔓延各經口渴小便澀其常也或有汗無汗或才出復熱大便或閉或溏甚者神昏譫語舌黑唇焦夜以繼日水不絕口邪從陽化為狂為癍或入少陽血分日晡寒熱口苦咽乾耳聾目定煩悶神迷渴不欲飲津為熱耗血受邪凝渴而能飲者可從氣分發泄渴不欲飲者宜從血分搜求甚至邪血膠結有非攻不解者蓋傷寒重六經伏氣究三焦傷寒論陰陽伏暑分氣血今之論陰陽則詳分氣血則略況伏暑至血分症淹殢志饃糊脈耎數最為傳陰之象須從血分提邪若邪從陰陷原有陽邪入陰治例若真陽已衰邪乘虛陷無陽不化原可從於溫托（殢音替極困也）</p>

<h1>隱於陽明之半</h1>
<p>涼膈散　加豆豉六一散無汗加香茹邪不蟠踞胃腑去硝黃</p>

<h1>邪入少陽血分</h1>
<p>柴胡升麻主川芎主當歸黃芩山梔主紅花主片姜或加蒼芥</p>
<p>陰虛合四物湯用血結加桃仁鱉甲邪血膠結合三甲飲胃實熱血結者量加酒製大黃</p>
<p>甚有邪火熾極過於血分者發為郁癍郁癍者紅如馬腦質圓厚色光潤照至肌肉偶見一點周身不過數點或數十點與痘瘡閉症發癍一般古人惟以青紫黑癍為險而鬱癍更足可虛前法攻血透邪中或加茅根浮萍香盡等透汗或合犀角地黃湯清熱細細參治</p>
<p>又有鬱症發於秋者木邪郁久遇克而升亦發時瘧又有陰虛之人逢亢熱炎蒸之後陰液大傷陽太發泄屆秋肺不收降以供生水之源設有伏暑涼風祗宜輕揚手經令營衛稍宣上焦得通津液得下伏邪有透路則肺氣有權開而能降若下虛上窒升而不降肺氣無權強用足經升藥則陽自邪升下不攝而上不降喘逆至矣及左尺虛數不耐者柴胡慎之（繆仲醇屬筆記亦言之）伏暑舍營秋邪本在血分者多即大瘧屬陰即血也而小瘧下午發者已關血分而況夜瘧乎瘧不頭疼者均宜血分搜求但不令動血耳若吐血晡熱雖為虛症亦宜參水清湯不沸意</p>
<p>經曰冬傷於寒春必病溫　症自外受為實症　冬不藏精春必病溫　症自內起為虛症　夏傷於暑秋為疲瘧　症自外受為實症　逆之則傷心秋為痎瘧　症自內起郁虛症</p>
<p>夏令心志不舒則離陽受亢秋令龍雷下動發為厥瘧厥瘧者冷氣起於少腹沖逆至胃則振寒或厥痛至上陽一勝則發熱厥平或汗解（痎亥為陰乃厥陰藏血之地矣）</p>
<p>此症與金匱牝瘧同意故用蜀漆靈母龍骨為方余以當歸桂枝湯加泄肝驗</p>
<p>秋月蚤寒從足經症治者總不出仲聖範圍故略採其綱以敘之然傷寒自表傳裡故起自太陽如伏氣自里達表故先敘厥陰</p>

<h1>足厥陰肝經</h1>
<p>起於足大指大敦穴循中內廉絡陰器抵少腹從脅注肺中上喉循督脈至巔頂從目系下頰裡環唇內終於期門穴是經藏血屬木膽火寄於中主血主目主筋主呼主怒</p>
<p>本病（諸風眩暈僵仆強直　驚癇　兩脅腫痛　胸肋滿痛　嘔血　小腹疝痛　痃瘕　女人經病）</p>
<p>標病（寒熱瘧　頭痛　吐涎　目赤　面青　多怒　耳閉頰腫　筋攣　卵縮　丈夫㿗疝　女人少腹腫痛　陰病）</p>
<p>有餘瀉之（瀉子　甘草　行氣　香附　川芎　瞿麥　青皮　牽牛　行血　紅花　鱉甲　山甲　桃仁　大黃　虻蟲　水蛭　三稜　莪朮　丹皮　蘇木　鎮驚　雄黃　金箔　銀箔　鉛丹　鐵粉　胡粉　頳石　石決明　珍珠　夜明砂　龍骨　搜風　羌活　獨活　防風　荊芥　薄荷　槐子　皂夾　蔓荊　烏頭　姜蠶　白附子　蟬退　白花蛇）</p>
<p>不足補之（補母　枸杞　社仲　狗脊　熟地　苦參　萆薢　兔絲　阿膠　補血　當歸　川芎　白芍　牛膝　川斷　乳香　沒藥　血竭　補氣　天麻　柏子仁　白朮　菊花　細辛　蒙花　決明　生薑　谷稍草）</p>
<p>本熱寒之（瀉木　芍藥　烏梅　澤瀉　攻裡　大黃　瀉火　黃連　龍膽　黃芩　苦茶　豬膽）</p>
<p>標熱發之（和解　柴胡　半豆　解肌　桂枝　麻黃）</p>
<p>本經報使（菁皮　柴胡　吳萸　川芎）</p>
<p>傷寒六日厥陰受之其症煩滿囊縮乾嘔吐沫亦頭痛身涼手足冷脈沉遲宜附子四逆加吳茱萸湯主之</p>

<h1>足少陰腎經</h1>
<p>起於湧泉循足內後廉絡膀胱貫腎夾背內脊絡肺循咽舌本終於前府穴是經藏志屬水為天一之源也主聽主骨主二陰</p>
<p>本病（諸寒厥逆　骨痿腰痛　腰冷如冰　足胻腫寒　少腹滿急　疝瘕　大便閉泄　吐利腥穢　水液澄澈　清冷不禁　消渴引飲）</p>
<p>標病（發熱不惡寒　頭眩頭痛　咽痛舌燥　脊股內後廉痛）</p>
<p>水強瀉之（瀉子　大戟　牽牛　瀉腑　澤瀉　車前　豬苓　茯苓　防已）</p>
<p>水弱補之（補母　人參　山藥　補氣　知母　元參　苦參　砂仁　故紙　補血　黃柏　山萸　枸杞　五味　覆盆　阿膠　女貞　熟地　鎖陽　蓯容）</p>
<p>本熱攻之（下　大黃　芒硝　枳實　厚朴）</p>
<p>本塞溫之（附子　官桂　白朮　乾薑　川椒　溫里）</p>
<p>標熱涼之（清熱　元參　連翹　甘草　豬膚）</p>
<p>標寒解之（解表　麻黃　細辛　獨活　桂枝）</p>
<p>腎經報使（桂枝　獨活　知母　細辛）</p>

<h1>足太陰脾經</h1>
<p>起於足大指隱白穴從內廉入腹布胃中上膈注心中至唇終於乳下大包穴是經血少氣旺主藏智屬土為萬物之母主營衛主味主肌肉主四肢</p>
<p>本病（諸濕腫脹　痞滿噫氣　大小便閉　黃疸　痰飲　本經五飲一曰停飲水停心下也二曰癖飲水在兩脅下也三曰痰飲水在胃中也四日溢飲水在五藏間也五曰流飲水在胸間也俱以白朮為君桂心炮姜為佐）</p>
<p>標病（吐瀉霍亂　心腹痛　飲食不化　身體胕腫重　困嗜臥　四肢不舉　舌本強痛　九竅不通　足大趾不用　諸痙項強）</p>
<p>土實瀉之（瀉子　訶子　防風　桑皮　葶藶　吐　豆豉　梔子　萊菔　常山　瓜蒂　鬱金　赤小豆　藜蘆　苦參　韭汁　鹽湯　苦茶　下　大黃　芒硝　礞石　大戟　甘遂　芫花　千金子）</p>
<p>土虛補之（補母　桂心　茯苓　補氣　人參　黃耆　升麻　葛根　甘草　陳皮　藿香　玉竹　砂仁　木香　扁豆　白朮　蒼朮　補血　蒼朮　白朮　白芍　膠飴　大棗　乾薑　木瓜　烏梅　蜂蜜）</p>
<p>本濕除之（燥中　蒼朮　白朮　吳萸　南星　半夏　橘皮　草蔻　芥子　潔淨府　本通　豬苓　茯苓　藿香）</p>
<p>標熱滲之（開鬼門　葛根　蒼朮　麻黃　獨活）</p>
<p>本經報使（升麻　葛根　蒼朮　白巧）</p>
<p>傷寒四日太陰受之其症腹滿嗌乾腹痛便溏自利不渴厥冷拘急結胸吐蛔其脈沉而無力理中湯主之或附子理中湯</p>

<h1>足少陽膽經</h1>
<p>起於瞳子窌循頭側絡耳走肩背循脅下環挑走足外中廉至足小指竅陰穴是經多氣少血屬木為少陽相火發生萬物為決斷之官十一肘之主</p>
<p>本病（口苦　嘔苦汁　善太息　澹澹如人將捕狀　目昏不眠）</p>
<p>標病（寒熱往來　痁瘧　胸脅痛　頭額痛　耳痛鳴聾　瘰癧結核　馬刀　足小指次指不用）</p>
<p>實火瀉之（瀉膽　龍膽草　黃連　苦茯　豬膽　生棗仁　牛膝　生蕤仁）</p>
<p>虛火補之（溫膽　人參　細辛　半夏　當歸　地黃　炒棗仁　炒蕤仁）</p>
<p>本熱平之（降火　黃芩　黃連　芍藥　甘草　連翹　黑鉛　鎮驚）</p>
<p>標熱和之（和解　柴胡　黃芩　半夏　白芍　甘草）</p>
<p>本經報使（柴胡　青皮）</p>
<p>傷寒三日少陽受之其症脅痛耳襲口苦不欲食心煩喜嘔或渴或利寒熱其脈弦數頭痛發熱者小柴胡湯主之</p>
<p>少陽以胸脅之間為半表半裡寒多者表冬小柴胡湯里名者熱盛黃芩湯</p>

<h1>足陽明胃經</h1>
<p>絡目循額從顴挾鼻絡口環唇下人迎斜缺盆循胸腹走腿正面至次足指厲兌穴自經多氣多血屬土主容受為水穀之海余同脾</p>
<p>本病（嗌膈　反胃　中滿　腫脹　治中滿人參（七分）　制茅朮（八分）　黃耆　木香　橘紅（各五分）　升麻　柴胡（各三分）　姜（兩片）　棗（兩枚）　有痰加半夏腹痛加砂仁吳萸小水不利加牛膝腫加苡仁腹痛甚加和中散此即調胃益氣加減中滿莫過此方嘔吐瀉痢霍亂腹痛消中善飢不消食傷飲食支兩脅胸胃脘當心痛）　標病（發熱蒸蒸　身前熱　身前寒　發狂　譫語　咽痹　上齒痛　口眼喎斜　鼻痛　鼽衄　赤皶）</p>
<p>胃熱瀉之（濕熱　大黃　芒硝　飲食　神麯　山查　鬱金　三稜　阿魏　巴豆　滷砂　輕粉）</p>
<p>胃虛補之（濕熱　蒼朮　白朮　半夏　茯苓　陳皮　生薑　寒濕　乾薑　附子　草果　官桂　丁香　肉果　人參　黃耆）</p>
<p>本熱寒之（降火　地黃　石膏　犀角　川連）</p>
<p>標熱解之（解肌　升麻　葛根　豆豉）</p>
<p>本經報使（升麻　葛根　白芷　石膏）</p>
<p>傷寒二日陽明受之其症身熱鼻乾目腫不得臥自汗譫語鄭聲胃實不大便三焦大熱其脈沉實承氣湯主之（此治腑）</p>
<p>陽明熱在肌肉目痛鼻乾不眠在經為表葛根湯解肌渴口渴背寒熱漸入里白虎加人參湯至自汗譫狂則熱入胃腑為全入里調胃承氣湯</p>

<h1>足太陽膀胱經</h1>
<p>起於目內眥睛明穴上交巔入絡腦下項循肩挾脊抵腰中貫臀走外後廉至足小指至陰穴自經多血少氣下連血海主津液氣分為脆之府氣化乃能出號州都之官諸病皆干之</p>
<p>本病（小便淋瀝　或短數或黃赤或白或遺失或氣　膀胱為本熱入膀胱其人必渴小便不利是太陽里故水逆用五苓散）</p>
<p>標病（發熱　惡寒頭痛　腰脊強　鼻塞　足小指不用　太陽為慄寒傷營風傷衛必發熱惡寒頭痛鼻塞無汗麻黃湯有汗桂枝湯）</p>
<p>實熱瀉之（泄火　滑石　豬苓　茯苓　澤瀉）</p>
<p>下虛補之（熱　黃柏　知母　寒　桔梗　升麻　益智　烏藥　山萸）</p>
<p>本熱利之（降火　地黃　茵陳　梔子　黃柏　丹皮　地骨皮）</p>
<p>標寒發之（發表　麻黃　桂枝　羌活　蒼朮　防己　黃耆　木賊草）</p>
<p>本經報使（羌活）</p>
<p>傷寒一日太陽受之其症脈浮頭項強痛汗出惡風脈緩者中風桂枝湯無汗惡霧脈陰陽俱緊者傷寒麻黃湯均有發熱熱渴而煩水入即吐者名曰水逆五苓散瀉腑</p>
<p>柴葛解肌治太陽陽明合病（柴葛芷羌芍甘苓桔薑棗）</p>
<p>陽明已具七八猶有太陽一二者仍從太陽用藥</p>
<p>柴胡升麻湯治少陽陽明合病（柴麻葛芥芍桑前豉苓姜膏）</p>
<p>陽明已具七八才見少陽一二者即治少陽</p>
<p>升麻葛根湯治陽明症（升葛芍甘姜）</p>
<p>九味羌活湯治太陽無汗（羌防蒼細芎芷芩地甘薑蔥）</p>
<p>傷寒一日太陽受之太陽經脈循腰脊上頭項故頭項痛腰脊強二日陽明受之陽明主肉其脈挾鼻絡目故身熱目痛鼻乾不眠三日少陽受之少陽主膽其脈循脅絡耳故胸脅痛耳聾四日太陰受之太陰脈布胃絡嗌故腹痛嗌乾五日少陰受之少陰脈貫腎絡肺系舌本故口燥舌乾而渴六日厥陰受之厥陰脈循陰器而絡肝故煩滿囊縮若兩感者難治</p>
<p>表急先救羨裡急先救里表裡俱急者大羌活湯陽症體重不下利為表急先以麻黃葛根解表後以調胃承氣攻裡陰疲身痛下利不止為裡急先用逆四逆湯救里後以桂枝救表陰陽未分者陶氏和中湯探之</p>
<p>古法治兩感</p>
<p>一日太陽少陰五苓散主之（頭痛加先防口渴加知柏）</p>
<p>二日陽明太陰大柴胡湯主之</p>
<p>三日少陽厥陰危甚大承氣湯加芎柴救之</p>
<p>劉宗厚曰傷有兼風兼濕不同表裡俱實俱虛之異大抵俱虛為多脈從陽可治從陰者難治</p>
<p>陽脈（浮數動滑大）陰脈（沉澀弱弦微結濡遲芤散結代）</p>
<p>愚按兩感屬虛寒者亦宜在溫托搜求</p>
<p>荊芥敗毒散治時行感冒（二活二胡芷桔芎甘荊防茯）</p>
<p>道光壬午首夏後學鄒澍校讀一過並加圈跋數處</p>
<p>傷寒熱病澍每患節菴中行擇焉不精嘉言語焉不詳及讀此編乃知此中有如許境界他日更加用力上紹長沙下開來學於有益民生豈淺鮮哉頃檢得素問熱論注一篇附呈　雅正不腆敝帚祗合自享然得鴻裁印可焉知非一登龍門而其值十倍乎幸有以教之翼日復讀一過又跋</p>
<p>傷寒傷暑症為對峙西北多風寒故傷寒重於傷暑江南多濕熱故傷暑倍於傷寒不過因長沙先生奢傷寒甚精後賢依傍而解者不止百家是以詳於傷寒而略於傷暑耳傷寒有化熱坎中陽滿也傷暑有化寒離中陽虛也</p>
<p><u>青崖述</u></p>
<p>內經以冬傷於寒至春而發者為溫病後人填以黃芩湯至夏而發者為熱病填以白虎湯是症從內經而方宗仲景此其同也又閱傷寒伏氣均有三也陽合病一從白虎一從黃芩此其異也北方寒民體實故伏氣多從寒化即冬傷於寒復感春風而發者先熱後寒為溫瘧則夏傷於暑復感秋風而發者先寒後熱為秋瘧亦為對峙矣南方多熱民體虛故伏氣有從暑化者即內經夏傷於暑秋為痎瘧之謂也溫字從陰出陽痎字從陽入陰二症天淵故伏暑雖有內經明訓而無仲聖之方可宗各家紛論不一宜乎治春病易而秋病難也</p>
