<header data-type="book">
<h1>食療本草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>孟詵</data>撰，張鼎增補改編</dd></div>
<div><dt>朝代</dt><dd>唐</dd></div>
<div><dt>年份</dt><dd><data value="0701/0704">公元701年至公元704年</data></dd></div>
<div><dt>底本</dt><dd>《<a href="../../help/reference.html#other">食疗本草</a>》，人民衛生出版社（含1981年馬繼興撰附篇〈《食疗本草》文献学的研究〉）。引用標註：［卷］：《食療本草》敦煌殘卷；［證］：《證類本草》；［心］：《醫心方》；［嘉］：《嘉祐本草》；［心䏸］：《醫心方》引「䏸玄子張云」。</dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>鹽</h2>
<p>（一）蠼螋尿瘡：鹽三升，水一斗，煮取六升。以綿浸湯，淹瘡上。〔證〕</p>
<p>（二）又，治一切氣及腳氣：取鹽三升，蒸，候熱分裹，近壁，腳踏之，令腳心熱。〔證〕</p>
<p>（三）又，和槐白皮蒸用，亦治腳氣。夜夜與之良。〔證〕</p>
<p>（四）又，以皂莢兩梃，鹽半兩，同燒令通赤，細研。夜夜用揩齒。一月後，有動者齒及血䘌齒，並瘥，其齒牢固。〔證〕</p>

<h2>石燕</h2>
<p>（一）在乳穴石洞中者，冬月採之，堪食。余月採者只堪治病，不堪食也。食如常法。〔嘉·證〕</p>
<p>（二）又，治法：取石燕二十枚，和五味炒令熟，以酒一斗，浸三日，即每夜臥時飲一兩盞，隨性（多少）也。甚能補益，能吃食，令人健力也。〔嘉·證〕</p>

<h2>黃精</h2>
<p>（一）餌黃精，能老不飢。其法：可取甕子去底，釜上安置令得，所盛黃精令滿。密蓋，蒸之。令氣溜，即曝之。第二遍蒸之亦如此。九蒸九曝。凡生時有一碩，熟有三、四斗。蒸之若生，則刺人咽喉。曝使干，不爾朽壞。〔證〕</p>
<p>（二）其生者，若初服，只可一寸半，漸漸增之。十日不食，能長服之，止三尺五寸。服三百日後，盡見鬼神。餌必昇天。〔證〕</p>
<p>（三）根、葉、花、實，皆可食之。但相對者是，不對者名偏精。〔證〕</p>

<h2>甘菊〈平〉</h2>
<p>其葉，正月採，可作羹；莖，五月五日採；花，九月九日採。並主頭風目眩、淚出，去煩熱，利五臟。野生苦菊不堪用。〔證〕</p>

<h2>天門冬</h2>
<p>（一）補虛勞，治肺勞，止渴，去熱風。可去皮心，入蜜煮之，食後服之。若曝乾，入蜜丸尤佳。〔證〕</p>
<p>（二）亦用洗面，甚佳。〔證〕</p>

<h2>地黃〈微寒〉</h2>
<p>以少蜜煎，或浸食之，或煎湯，或入酒飲，並妙。生則寒，主齒痛，唾血，折傷。葉可以羹。〔證〕</p>

<h2>薯蕷</h2>
<p>（山藥）</p>
<p>治頭疼，利丈夫，助陰力。和麵作餺飥，則微動氣，為不能制面毒也。熟煮和蜜，或為湯煎，或為粉，並佳。干之入藥更妙也。〔證〕</p>

<h2>白蒿〈寒〉</h2>
<p>（一）春初此蒿前諸草生。搗汁去熱黃及心痛。其葉生挼，醋淹之為菹，甚益人。〔嘉〕</p>
<p>（二）又，葉乾為末，夏日暴水痢，以米飲和一匙，空腹服之。〔嘉〕</p>
<p>（三）子：主鬼氣，末和酒服之良。〔嘉〕</p>
<p>（四）又，燒淋灰煎，治淋瀝疾。〔嘉〕</p>

<h2>決明子〈平〉</h2>
<p>（一）葉：主明目，利五臟，食之甚良。〔證〕</p>
<p>（二）子：主肝家熱毒氣，風眼赤淚。每日取一匙，挼去塵埃，空腹水吞之。百日後，夜見物光也。〔證〕</p>

<h2>生薑〈溫〉</h2>
<p>（一）去痰下氣。多食少心智。八九月食，傷神。〔嘉·證〕</p>
<p>（二）除壯熱，治轉筋，心滿。食之除鼻塞，去胸中臭氣，通神明。〔心·證〕</p>
<p>（三）又，冷痢：取椒烙之為末，共乾薑末等分，以醋和麵，作小餛飩子，服二七枚。先以水煮，更之飲中重煮。出，停冷吞之。以粥飲下，空腹，日一度作之良。〔嘉〕</p>
<p>（四）謹按：止逆，散煩悶，開胃氣。又姜屑末和酒服之，除偏風。汁作煎，下一切結實沖胸膈惡氣，神驗。〔嘉〕</p>
<p>（五）又，胃氣虛，風熱，不能食：薑汁半雞子殼，生地黃汁少許，蜜一匙頭，和水三合，頓服立瘥。〔證〕</p>
<p>（六）又，皮寒，（姜）性溫。〔證〕</p>
<p>（七）又，薑汁和杏仁汁煎成煎，酒調服，或水調下。善下一切結實沖胸膈。〔證〕</p>

<h2>蒼耳〈溫〉</h2>
<p>（一）主中風、傷寒頭痛。〔嘉〕</p>
<p>（二）又，疔腫困重，生搗蒼耳根、葉，和小兒尿絞取汁，冷服一升，日三度，甚驗。〔嘉〕</p>
<p>（三）拔疔腫根腳。〔證〕</p>
<p>（四）又，治一切風：取嫩葉一石，切，搗和五升麥蘖，團作塊。於蒿、艾中盛二十日，狀成曲。取米一斗，炊作飯。看冷暖，入蒼耳麥蘖曲，作三大升釀之。封一十四日成熟。取此酒，空心暖服之，神驗。封此酒可兩重布，不得全密，密則溢出。〔證〕</p>
<p>（五）又，不可和馬肉食。〔證〕</p>

<h2>葛根</h2>
<p>蒸食之，消酒毒。其粉亦甚妙。〔證〕</p>

<h2>栝蔞</h2>
<p>（瓜蔞）</p>
<p>（一）子：下乳汁。〔證〕</p>
<p>（二）又，治癰腫：栝蔞根苦酒中熬燥，搗篩之。苦酒和，塗紙上，攤貼。服金石人宜用。〔證〕</p>

<h2>燕𧄏子（通草）〈平〉</h2>
<p>（一）上主利腸胃，令人能食。下三焦，除惡氣。和子食更良。江北人多不識此物，即南方人食之。〔卷·嘉〕</p>
<p>（二）又，主續五臟音聲及氣，使人足氣力。〔卷·嘉〕</p>
<p>（三）又，取枝葉煮飲服之，治卒氣奔絕。亦通十二經脈。其莖為（通）草，利關節擁塞不通之氣。今北人只識蓪草，而不委子功。（其皮不堪食）。〔卷·嘉〕</p>
<p>（四）煮飲之，通婦人血氣。濃煎三、五盞，即便通。〔證〕</p>
<p>（五）又，除寒熱不通之氣，消鼠瘻、金瘡、踒折。煮汁釀酒妙。〔證〕</p>

<h2>百合〈平〉</h2>
<p>主心急黃，（以百合）蒸過，蜜和食之。作粉尤佳。紅花者名山丹，不堪食。〔證〕</p>

<h2>艾葉</h2>
<p>（一）乾者並煎者，（主）金瘡，崩中，霍亂。止胎漏。春初採，為干餅子，入生薑煎服，止瀉痢。三月三日，可採作煎，甚治冷。若患冷氣，取熟艾麵裹作餛飩，可大如彈子許。〔證〕</p>
<p>（二）（艾實）：又治百惡氣，取其子，和乾薑搗作末，蜜丸如梧子大，空心三十丸服，以飯三、五匙壓之，日再服。其鬼神速走出，頗消一切冷氣。田野之人與此方相宜也。〔嘉·證〕</p>
<p>（三）又，產後瀉血不止，取干艾葉半兩炙熟，老生薑半兩，濃煎湯，一服便止，妙。〔證〕</p>

<h2>薊菜</h2>
<p>（小薊）</p>
<p>（一）小薊根：主養氣。取生根葉，搗取自然汁，服一盞，立佳。〔證〕</p>
<p>（二）又，取菜煮食之，除風熱。〔證〕</p>
<p>（三）根主崩中。又，女子月候傷過，搗汁半升服之。〔證〕</p>
<p>（四）葉只堪煮羹食，甚除熱風氣。〔心〕</p>
<p>（五）又，金創血不止，挼葉封之即止。〔心·證〕</p>
<p>（六）夏月熱，煩悶不止：搗葉取汁半升，服之立瘥。〔證〕</p>

<h2>惡食</h2>
<p>（牛蒡）</p>
<p>（一）根，作脯食之良。〔證〕</p>
<p>（二）熱毒腫，搗根及葉封之。〔證〕</p>
<p>（三）杖瘡、金瘡，取葉貼之，永不畏風。〔證〕</p>
<p>（四）又癱緩及丹石風毒，石熱發毒。明耳目，利腰膝：則取其子末之，投酒中浸經三日，每日飲三兩盞，隨性多少。〔證〕</p>
<p>（五）欲散支節筋骨煩熱毒。則食前取子三七粒，熟挼吞之，十服後甚食。〔證〕</p>
<p>（六）細切根如小豆大，拌麵作飯煮食，（消脹壅）尤良。〔證〕</p>
<p>（七）又，皮毛間習習如蟲行，煮根汁浴之。夏浴慎風。卻入其子炒過，末之如茶，煎三匕，通利小便。〔證〕</p>

<h2>海藻</h2>
<p>（一）主起男子陰氣，常食之，消男子㿉疾。南方人多食之，傳於北人。北人食之，倍生諸病，更不宜矣。〔心·嘉〕</p>
<p>（二）瘦人，不可食之。〔心䏸〕</p>

<h2>昆布</h2>
<p>下氣，久服瘦人。無此疾者，不可食。海島之人愛食，為無好菜，只食此物。服久，病亦不生。遂傳說其功於北人。北人食之，病皆生，是水土不宜爾。〔證〕</p>

<h2>紫菜</h2>
<p>下熱氣，多食脹人。若熱氣塞咽喉，煎汁飲之。此是海中之物，味猶有毒性。凡是海中菜，所以有損人矣。〔證〕</p>

<h2>船底苔</h2>
<p>冷，無毒。治鼻洪，吐血，淋疾：以炙甘草並豉汁濃煎湯，旋呷。又，主五淋：取一團鴨子大，煮服之。又，水中細苔：主天行病，心悶，搗絞汁服。〔嘉補〕</p>

<h2>乾薹</h2>
<p>味鹹，寒（一云溫）。主痔，殺蟲，及霍亂嘔吐不止，煮汁服之。又，心腹煩悶者，冷水研如泥，飲之即止。又，發諸瘡疥，下一切丹石，殺諸藥毒。不可多食，令人痿黃，少血色。殺木蠹蟲，內木孔中。但是海族之流，皆下丹石。〔嘉補〕</p>

<h2>蘹香（小茴香）</h2>
<p>（一）（噁心）：取蘹香華、葉煮服之。〔心〕</p>
<p>（二）國人重之，云有助陽道，用之未得其方法也。生搗莖葉汁一合，投熱酒一合。服之治卒腎氣衝脅、如刀刺痛，喘息不得。亦甚理小腸氣。〔證〕</p>

<h2>薺苨</h2>
<p>丹石發動，取根食之尤良。〔證〕</p>

<h2>蒟醬〈溫〉</h2>
<p>散結氣，治心腹中冷氣。亦名土蓽茇。嶺南蓽茇尤治胃氣疾，巴蜀有之。〔證〕</p>

<h2>青蒿（草蒿）〈寒〉</h2>
<p>（一）益氣長髮，能輕身補中，不老明目，煞風毒。搗敷瘡上，止血生肉。最早，春前生，色白者是。自然香醋淹為菹，益人。治骨蒸，以小便漬一兩宿，干，末為丸，甚去熱勞。〔證〕</p>
<p>（二）又，鬼氣，取子為末，酒服之方寸匕，瘥。〔證〕</p>
<p>（三）燒灰淋汁，和石灰煎，治惡瘡瘢黶。〔證〕</p>

<h2>菌子〈寒〉</h2>
<p>（一）發五臟風壅經脈，動痔病，令人昏昏多睡，背膊、四肢無力。〔嘉·證〕</p>
<p>（二）又，菌子有數般，槐樹上生者良。野田中者，恐有毒，殺人。〔嘉·證〕</p>
<p>（三）又，多發冷氣，令腹中微微痛。〔嘉·證〕</p>

<h2>牽牛子</h2>
<p>多食稍冷，和山茱萸服之，去水病。〔證〕</p>

<h2>羊蹄</h2>
<p>主癢，不宜多食。〔證〕</p>

<h2>菰菜、茭首</h2>
<p>（一）菰菜：利五臟邪氣，酒皶面赤，白癩癧瘍，目赤等，效。然滑中，不可多食。熱毒風氣，卒心痛，可鹽、醋煮食之。〔嘉〕</p>
<p>（二）若丹石熱發，和鯽魚煮作羹，食之三兩頓，即便瘥耳。〔證〕</p>
<p>（三）茭首：寒。主心胸中浮熱風，食之發冷氣，滋人齒，傷陽道，令下焦冷滑，不食甚好。〔嘉〕</p>

<h2>萹竹</h2>
<p>（萹蓄）</p>
<p>（一）蛔蟲心痛，面青，口中沫出，臨死：取葉十斤，細切。以水三石三斗，煮如餳，去滓。通寒溫，空心服一升，蟲即下。至重者再服，仍通宿勿食，來日平明服之。〔證〕</p>
<p>（二）患痔：常取萹竹葉煮汁澄清。常用以作飯。〔證〕</p>
<p>（三）又，患熱黃、五痔：搗汁頓服一升，重者再服。〔證〕</p>
<p>（四）丹石發，沖眼目腫痛：取根一握，洗。搗以少水，絞取汁服之。若熱腫處，搗根莖敷之。〔證〕</p>

<h2>甘蕉</h2>
<p>主黃疸。子：生食大寒。主渴，潤肺，發冷病。蒸熟曝之令口開，舂取人食之。性寒，通血脈，填骨髓。〔證〕</p>

<h2>蛇莓</h2>
<p>（一）主胸、胃熱氣，有蛇殘不得食。〔證〕</p>
<p>（二）主孩子口噤，以汁灌口中，死亦再活。〔證〕</p>

<h2>苦芺〈微寒〉</h2>
<p>生食治漆瘡。五月五日採，曝乾作灰，敷面目、通身漆瘡。不堪多食爾。〔證〕</p>

<h2>槐實</h2>
<p>（一）主邪氣，產難，絕傷。〔證〕</p>
<p>（二）春初嫩葉亦可食，主癮疹，牙齒諸風疼。〔證〕</p>

<h2>枸杞〈寒〉</h2>
<p>（一）無毒。葉及子：並堅筋能老，除風，補益筋骨，能益人，去虛勞。〔證〕</p>
<p>（二）根：主去骨熱，消渴。〔證〕</p>
<p>（三）葉和羊肉作羹，尤善益人。代茶法煮汁飲之，益陽事。〔證〕</p>
<p>（四）能去眼中風癢赤膜，搗葉汁點之良。〔證〕</p>
<p>（五）又，取洗去泥，和麵拌作飲，煮熟吞之，去腎氣尤良。又益精氣。〔證〕</p>

<h2>榆莢〈平〉</h2>
<p>（一）上療小兒癇疾，（小便不利）。〔卷·證〕</p>
<p>（二）又方，患石淋、莖又暴赤腫者：榆皮三兩，熟搗，和三年米醋滓封莖上。日六七遍易。〔卷·嘉·證〕</p>
<p>（三）又方，治女人石癰、妒乳腫。〔卷·嘉〕</p>
<p>（四）案經：宜服丹石人。取葉煮食，時服一頓亦好。高昌人多搗白皮為末，和菹菜食之甚美。消食，利關節。〔卷·嘉·證〕</p>
<p>（五）又，其子可作醬，食之甚香。然稍辛辣，能助肺氣。殺諸蟲，下（氣，令人能食。又）心腹間惡氣，內消之。陳滓者久服尤良。〔卷·嘉·證〕</p>
<p>（六）又，塗諸瘡癬妙。〔卷·證〕</p>
<p>（七）又，卒冷氣心痛，食之瘥。〔卷·嘉·證〕</p>

<h2>酸棗〈平〉</h2>
<p>主寒熱結氣，安五臟，療不能眠。〔證〕</p>

<h2>木耳〈寒〉</h2>
<p>無毒。利五臟，宣腸胃氣擁、毒氣，不可多食。惟益服丹石人。熱發，和蔥豉作羹。〔嘉〕</p>

<h2>桑</h2>
<p>（一）桑椹：性微寒。食之補五臟，耳目聰明，利關節，和經脈，通血氣，益精神。〔心〕</p>
<p>（二）桑根白皮：煮汁飲，利五臟。又入散用，下一切風氣水氣。〔嘉〕</p>
<p>（三）桑葉：炙，煎飲之止渴，一如茶法。〔嘉〕</p>
<p>（四）桑皮：煮汁可染褐色，久不落。柴：燒灰淋汁入煉五金家用。〔嘉〕</p>

<h2>竹</h2>
<p>（一）淡竹上，甘竹次。主咳逆，消渴，痰飲，喉痹，鬼疰惡氣。殺小蟲，除煩熱。〔證〕</p>
<p>（二）苦竹葉：主口瘡，目熱，喑啞。〔證〕</p>
<p>（三）苦竹筎：主下熱壅。〔證〕</p>
<p>（四）苦竹根：細銼一斤，水五升，煮取汁一升，分三服。大下心肺五臟熱毒氣。〔證〕</p>
<p>（五）筍：寒。主逆氣，除煩熱，又動氣，能發冷症，不可多食。越有蘆及箭筍，新者稍可食，陳者不可食。其淡竹及中母筍雖美，然發背悶腳氣。〔心·嘉〕</p>
<p>（六）苦筍不發痰。〔證〕</p>
<p>（七）竹筍不可共鯽魚食之，使筍不消成症病，不能行步。〔心〕</p>
<p>（八）慈竹：夏月逢雨，滴汁著地，生蓐似鹿角，色白。取洗之，和姜醬食之，主一切赤白痢。極驗。〔遺〕</p>
<p>（九）慈竹瀝：療熱風，和食飲服之良。〔嘉〕</p>
<p>（十）淡竹瀝：大寒。主中風大熱，煩悶勞復。〔證〕</p>
<p>（十一）淡竹筎：主噎膈，鼻衄。〔證〕</p>
<p>（十二）竹實：通神明，輕身益氣。〔證〕</p>
<p>（十三）䈽、淡、苦、甘外，余皆不堪，不宜人。〔證〕</p>

<h2>吳茱萸〈溫〉</h2>
<p>（一）上主治心痛，下氣，除咳逆，去臟中冷。能溫脾氣消食。〔卷·嘉〕</p>
<p>（二）又方，生樹皮：上牙疼痛癢等，立止。〔卷·嘉〕</p>
<p>（三）又，（患風瘙癢痛者），取茱萸一升，清酒五升，二味和煮，取半升去滓，以汁微暖洗。〔卷·嘉〕</p>
<p>（四）如中風賊風，口偏不能語者，取茱萸一升，美清酒四升，和煮四五沸，冷服之半升。日二服，得小汗為瘥。〔卷·嘉〕</p>
<p>（五）案經：殺鬼毒尤良。〔卷·嘉〕</p>
<p>（六）又方：夫人沖冷風欲行房，陰縮不怒者，可取二七粒，（嚼）之良久，嚥下津液。並用唾塗玉莖頭即怒。〔卷〕</p>
<p>（七）又，閉目者名欓子，不宜食。〔卷·嘉〕</p>
<p>（八）又方，食魚骨在腹中，痛，煮汁一盞，服之即止。〔卷·心䏸·嘉〕</p>
<p>（九）又，魚骨刺在肉中不出，及蛇骨者，（搗吳茱萸）以封其上，骨即爛出。〔卷·心䏸·嘉〕</p>
<p>（十）又，奔豚氣衝心，兼腳氣上者，可和生薑汁飲之，甚良。〔卷·嘉〕</p>
<p>（十一）微溫。主痢，止瀉，厚腸胃。肥健人不宜多食。〔證〕</p>

<h2>食茱萸〈溫〉</h2>
<p>（一）主心腹冷氣痛，中惡，除咳逆，去臟腑冷，能溫中，甚良。〔證〕</p>
<p>（二）又，齒痛，酒煎含之。〔證〕</p>
<p>（三）又，殺鬼毒。中賊風，口偏不語者，取子一升，美豉三升，以好酒五升，和煮四五沸，冷服半升，日三四服，得汗便瘥。〔證〕</p>
<p>（四）又，皮肉癢痛，酒二升，水五升，茱萸子半升，煎取三升，去滓微暖洗之立止。　〔證〕</p>
<p>（五）又，魚骨在腹中刺痛，煎汁一盞服之，其骨軟出。〔證〕</p>
<p>（六）又，腳氣衝心，和生薑煎汁飲之。〔證〕</p>
<p>（七）又，魚骨刺入肉不出者，搗封之。其骨自爛而出。〔證〕</p>
<p>（八）又，閉目者名欓子，不堪食。〔證〕</p>

<h2>檳榔</h2>
<p>多食發熱，南人生食。閩中名橄欖子。所來北者，煮熟，熏干將來。〔證〕</p>

<h2>梔子</h2>
<p>（一）主喑啞，紫癜風，黃疸，積熱心躁。〔證〕</p>
<p>（二）又方，治下鮮血，梔子仁燒成灰，水和一錢匕服之。量其大小多少服之。〔證〕</p>

<h2>蕪荑〈平〉</h2>
<p>（一）上主治五內邪氣，散皮膚肢節間風氣。能化食，去三蟲，逐寸白，散腹中冷氣〔卷·嘉·證〕</p>
<p>（二）又，患熱瘡，為末和豬脂塗，瘥。〔卷·嘉〕</p>
<p>（三）又方，和白沙蜜治濕癬。〔卷·嘉〕</p>
<p>（四）又方，和馬酪治乾癬，和沙牛酪療一切瘡。〔卷·嘉·證〕</p>
<p>（五）案經：作醬食之，甚香美。其功尤勝於榆仁，唯陳久者更良。可少吃，多食發熱、心痛，為其味辛之故。秋天食之（尤）宜人。長吃治五種痔病。（諸病不生）。〔卷·嘉·證〕</p>
<p>（六）又，殺腸惡蟲。〔卷·證〕</p>

<h2>茗（茶）</h2>
<p>（一）茗葉：利大腸，去熱解痰。煮取汁，用煮粥良。〔證〕</p>
<p>（二）又，茶主下氣，除好睡，消宿食，當日成者良。蒸、搗經宿。用陳故者，即動風發氣。市人有用槐、柳初生嫩芽葉雜之。〔證〕</p>

<h2>蜀椒·秦椒〈溫〉</h2>
<p>（一）粒大者，主上氣咳嗽，久風濕痹。〔證〕</p>
<p>（二）又，患齒痛，醋煎含之。〔嘉·證〕</p>
<p>（三）又，傷損成瘡中風，以麵裹作餛飩，灰中炮之，使熟斷開口，封其瘡上，冷，易熱者，三五度易之。亦治傷損成弓風。〔嘉·證〕</p>
<p>（四）又去久患口瘡，去閉口者，以水洗之，以面拌煮作粥，空心吞之三、五匙，（以）飯壓之。（重者可）再服，（以）瘥（為度）。〔嘉·證〕</p>
<p>（五）又，椒：溫，辛，有毒。主風邪腹痛，寒痹。溫中，去齒痛，堅齒髮，明目，止嘔逆，滅瘢，生毛髮，出汗，下氣，通神，去老，益血，利五臟。治生產後諸疾，下乳汁。久服令人氣喘促。十月勿食，及閉口者大忌，子細黑者是。秦椒白色也。〔嘉·證〕</p>
<p>（六）除客熱，不可久食，鈍人性靈。〔心〕</p>

<h2>蔓椒</h2>
<p>主賊風攣急。〔證〕</p>

<h2>椿〈溫〉</h2>
<p>（一）動風，熏十二經脈、五臟六腑。多食令人神不清，血氣微。　〔嘉〕</p>
<p>（二）又，女子血崩及產後血不止，月信來多，可取東引細根一大握洗之，以水一大升煮，分再服便斷。亦止赤帶下。〔嘉〕</p>
<p>（三）又，椿俗名豬椿。療小兒疳痢，可多煮汁後灌之。〔嘉〕</p>
<p>（四）又，取白皮一握，倉粳米五十粒，蔥白一握，甘草三寸炙，豉兩合。以水一升，煮取半升，頓服之。小兒以意服之。枝葉與皮功用皆同。〔嘉〕</p>

<h2>樗</h2>
<p>主疳痢，殺蛔蟲。又名臭椿。若和豬肉、熱面頻食，則中滿，蓋壅經脈也。〔證〕</p>

<h2>郁李仁</h2>
<p>（一）氣結者，酒服仁四十九粒，更瀉，尤良。〔證〕</p>
<p>（二）又，破癖氣，能下四肢水。〔證〕</p>

<h2>胡椒</h2>
<p>治五臟風冷，冷氣心腹痛，吐清水，酒服之佳。亦宜湯服。若冷氣，吞三七枚。〔證〕</p>

<h2>橡實</h2>
<p>主止痢，不宜多食。〔證〕</p>

<h2>鼠李〈微寒〉</h2>
<p>（一）主腹脹滿。其根有毒，煮濃汁含之治䘌齒。並疳蟲蝕人脊骨者，可煮濃汁灌之食。〔證〕</p>
<p>（二）其肉：主脹滿谷脹。和麵作餅子，空心食之，少時當瀉。〔證〕</p>
<p>（三）其煮根汁，亦空心服一盞，治脊骨疳。〔證〕</p>

<h2>枳椇</h2>
<p>多食發蛔蟲。昔有南人修舍用此，誤有一片落在酒甕中，其酒化為水味。〔證〕</p>

<h2>棐（榧）子〈平〉</h2>
<p>（一）上主治五種痔，去三蟲，殺鬼毒，惡疰。〔卷〕</p>
<p>（二）又，患寸白蟲人，日食七顆，經七日滿，其蟲盡消作水即瘥。〔卷·證〕</p>
<p>（三）按經：多食三升、二升佳，不發病。令人消食，助筋骨，安榮衛，補中益氣，明目輕身。〔卷·嘉〕</p>

<h2>藕〈寒〉</h2>
<p>（一）上主補中焦，養神，益氣力，除百病。久服輕身耐寒，不飢延年。〔卷〕</p>
<p>（二）生食則主治霍亂後虛渴、煩悶、不能食。長服生肌肉，令人心喜悅。〔卷·嘉〕</p>
<p>（三）案經：神仙家重之，功不可說。其子能益氣，即神仙之食，不可具說。〔卷〕</p>
<p>（四）凡產後諸忌，生冷物不食。唯藕不同生類也。為能散血之故。但美即而已，可以代糧。〔卷·嘉〕</p>
<p>（五）（又），蒸食甚補益（五臟，實）下焦，令腸胃肥厚，益氣力。與蜜食相宜，令腹中不生諸蟲。〔卷·嘉〕</p>
<p>（六）（亦可休糧）。仙家有貯石蓮子及干藕經千年者，食之不飢，輕身能飛，至妙。世人何可得之。凡男子食，須蒸熟服之，生吃損血。〔卷·嘉〕</p>

<h2>蓮子〈寒〉</h2>
<p>（一）上主治五臟不足，傷中氣絕，利益十二經脈、廿五絡血氣。生吃（微）動氣，蒸熟為上。〔卷·心·嘉〕</p>
<p>（二）又方，（熟）去心，曝乾為末，著蠟及蜜，等分為丸服。（日服三十丸），令（人）不飢。學仙人最為勝。〔卷·嘉〕</p>
<p>（三）若雁腹中者，空腹服之七枚，身輕，能登高涉遠。採其雁（食）之，或糞於野田中，經年猶生。〔卷·嘉〕</p>
<p>（四）又，或於山岩石下息、糞中者。不逢陰雨，數年不壞。〔卷·嘉〕</p>
<p>（五）又，諸飛鳥及猿猴，藏之於石室之內，其猿、鳥死後，經數百年者，取得之服，永世不老也。〔卷·嘉〕</p>
<p>（六）其子房及葉皆破血。〔卷·嘉〕</p>
<p>（七）又，根停久者，即有紫色。葉亦有褐色，多采食之，令人能變黑如瑿。〔卷〕</p>

<h2>橘〈溫〉</h2>
<p>（一）（穰）：止泄痢。食之，下食，開胸膈痰實結氣。下氣不如皮也。穰不可多食，止氣。性雖溫，甚能止渴。〔心·嘉〕</p>
<p>（二）皮：主胸中瘕熱逆氣。〔心〕</p>
<p>（三）又，干皮一斤，搗為末，蜜為丸。每食前酒下三十丸，治下焦冷氣。〔嘉〕</p>
<p>（四）又，取陳皮一斤，和杏仁五兩，去皮尖熬，加少蜜為丸。每日食前飲下三十丸，下腹臟間虛冷氣。腳氣衝心，心下結硬，悉主之。〔嘉〕</p>

<h2>柚</h2>
<p>味酸，不能食。可以起盤。〔心〕</p>

<h2>橙〈溫〉</h2>
<p>（一）去噁心，胃風：取其皮和鹽貯之。〔證〕</p>
<p>（二）又，瓤：去惡氣。和鹽蜜細細食之。〔證〕</p>

<h2>干棗〈溫〉</h2>
<p>（一）主補津液，養脾氣，強志。三年陳者核中仁：主惡氣、卒疰忤。〔心·嘉〕</p>
<p>（二）又，療耳聾、鼻塞，不聞音聲、香臭者：取大棗十五枚，去皮核；蓖麻子三百顆，去皮。二味和搗，綿裹塞耳鼻。日一度易，三十餘日聞聲及香臭。先治耳，後治鼻，不可並塞之。〔嘉〕</p>
<p>（三）又方，巴豆十粒，去殼生用。松脂同搗，綿裹塞耳。〔嘉〕</p>
<p>（四）又云，洗心腹邪氣，和百藥毒。通九竅，補不足氣。〔嘉〕</p>
<p>（五）生者食之過多，令人腹脹。蒸煮食之，補腸胃，肥中益氣。第一青州，次蒲州者好。諸處不堪入藥。〔心·嘉〕</p>
<p>（六）小兒患秋痢，與蟲棗食，良。〔嘉〕</p>
<p>（七）棗和桂心、白瓜仁、松樹皮為丸，久服香身，並衣亦香。〔證〕</p>

<h2>軟棗〈平〉</h2>
<p>多食動風，令人病冷氣，發咳嗽。〔卷·證〕</p>

<h2>蒲桃（葡萄）〈平〉</h2>
<p>（一）上益臟氣，強志，療腸間宿水，調中。〔卷·心〕</p>
<p>（二）按經：不問土地，但取藤，收之釀酒，皆得美好。〔卷·嘉〕</p>
<p>（三）其子不宜多食，令人心卒煩悶，猶如火燎。亦發黃病。凡熱疾後不可食之。眼暗、骨熱，久成麻癤病。〔卷·心·嘉〕</p>
<p>（四）又方，其根可煮取濃汁飲之，（止）嘔噦及霍亂後噁心。〔卷·嘉〕</p>
<p>（五）又方，女人有娠，往往子上衝心。細細飲之即止。其子便下，胎安好。〔卷·嘉〕</p>

<h2>栗子</h2>
<p>（一）生食治腰腳。蒸炒食之，令氣擁，患風水氣不宜食。〔嘉〕</p>
<p>（二）又，樹皮：主癉瘡毒。〔嘉〕</p>
<p>（三）謹按：宜日中曝乾，食即下氣、補益。不爾猶有木氣，不補益。就中吳慄大，無味，不如北慄也。其上薄皮，研，和蜜塗面，展皺。〔嘉〕</p>
<p>（四）又，殼：煮汁飲之，止反胃、消渴。〔嘉〕</p>
<p>（五）今有所食生慄，可於熱灰中煨之，令才汗出，即啖之，甚破氣。不得使通熟，熟即擁氣。生即發氣。故火煨殺其木氣耳。〔心·嘉〕</p>

<h2>覆盆子〈平〉</h2>
<p>上主益氣輕身，令人發不白。其味甜、酸。五月麥田中得者良。採其子於烈日中曬之，若天雨即爛，不堪收也。江東十月有懸鉤子，稍小，異形。氣味一同。然北地無懸鉤子，南方無覆盆子，蓋土地殊也。雖兩種則不是兩種之物，其功用亦相似。〔卷·嘉〕</p>

<h2>芰實（菱實）〈平〉</h2>
<p>（一）上主治安中焦，補臟腑氣，令人不飢。仙家亦蒸熟曝乾作末，和蜜食之休糧。〔卷·嘉〕</p>
<p>（二）凡水中之果，此物最發冷氣，不能治眾疾。（令人臟冷），損陰，令玉莖消衰。〔卷·心·嘉·證〕</p>
<p>（三）（可少食。多食）令人或腹脹者，以薑、酒一盞，飲即消。含吳茱萸子咽其液亦消。〔卷·嘉·證〕</p>

<h2>雞頭子（芡實）〈寒〉</h2>
<p>（一）主溫，治風痹，腰脊強直，膝痛。補中焦，益精，強志意，耳目聰明。作粉食之，甚好。此是長生之藥。與蓮實同食，令小兒不（能）長大，故知長服當亦駐年。〔卷·心·嘉〕</p>
<p>（二）生食動風冷氣。可取蒸，於烈日中曝之，其皮殼自開。挼卻皮，取人食，甚美。可候皮開，於臼中舂取末。〔卷·心·嘉〕</p>

<h2>梅實（烏梅）</h2>
<p>（一）食之除悶，安神。烏梅多食損齒。〔心·嘉〕</p>
<p>（二）又，刺在肉中，嚼白梅封之，刺即出。〔嘉〕</p>
<p>（三）又，大便不通，氣奔欲死：以烏梅十顆置湯中，須臾挼去核，杵為丸，如棗大。內下部，少時即通。〔嘉〕</p>
<p>（四）謹按：擘破水漬，以少蜜相和，止渴、霍亂心腹不安及痢赤。治瘧方多用之。〔嘉〕</p>

<h2>木瓜〈溫〉</h2>
<p>（一）上主治霍亂（嘔啘），澀痹風氣。〔卷·證〕</p>
<p>（二）又，頑痹人若吐逆下（利），病轉筋不止者，（煮汁飲之甚食）。〔卷·證〕</p>
<p>（三）腳膝筋急痛，煮木瓜令爛，研作漿粥樣，用裹痛處。冷即易，一宿三五度，熱裹便瘥。煮木瓜時，入一半酒同煮之。〔證〕</p>
<p>（四）（謹按）：枝葉煮之飲，亦（治霍亂），去風氣，消痰。每欲霍亂時，但呼其名字。亦不可多食，損齒（及骨）。〔卷·嘉〕</p>
<p>（五）又，臍下絞痛，可以木瓜一片，桑葉七枚炙，大棗三個中破，以水二大升，煮取半大升，頓服之即（瘥）。〔卷·嘉〕</p>

<h2>楂子〈平〉</h2>
<p>上多食損齒及損筋。唯治霍亂轉筋，煮汁飲之。與木瓜功相似，而小者不如也。昔孔安國不識，而謂（梨）之不藏（者）。今驗其形小，況相似。江南將為果子，頓食之。其酸澀也，亦無所益。俗呼為樳梨也。〔卷·嘉〕</p>

<h2>柿〈寒〉</h2>
<p>（一）主通鼻、耳氣，補虛勞不足。〔心·嘉〕</p>
<p>（二）謹按：乾柿，厚腸胃，溫中，健脾胃氣，消宿血。〔心·嘉〕</p>
<p>（三）又，紅柿：補氣，續經脈氣。〔嘉〕　</p>
<p>（四）又，醂柿：澀下焦，健脾胃氣，消宿血。作餅及糕，與小兒食，治秋痢。〔嘉〕</p>
<p>（五）又，研柿，先煮粥欲熟，即下柿。更三兩沸，與小兒飽食，並奶母吃亦良。〔嘉〕</p>
<p>（六）又，乾柿二斤，酥一斤，蜜半升。先和酥、蜜，鐺中消之。下柿，煎十數沸，不津器貯之。每日空腹服三五枚。療男子、女人脾虛、腹肚薄，食不消化。面上黑點，久服甚良。〔嘉〕</p>

<h2>芋〈平〉</h2>
<p>（一）上主寬緩腸胃，去死肌，令脂肉悅澤。〔卷·心〕</p>
<p>（二）白淨者無味，紫色者良，破氣。煮汁飲之止渴。十月已後收之，曝乾。冬蒸服則不發病，餘外不可服。〔卷·嘉〕</p>
<p>（三）又，和（鯽魚、鯉）魚煮為羹，甚下氣，補中焦（良。久食），令人虛，無氣力。此物但先肥而已。〔卷·嘉〕</p>
<p>（四）又，煮生芋汁，可洗垢膩衣，能潔白（如玉）。〔卷·嘉〕</p>
<p>（五）又，煮汁浴之，去身上浮氣。浴了，慎風半日許。〔證·嘉〕</p>

<h2>𦽏茨（烏芋、荸薺）〈冷〉</h2>
<p>下丹石，消風毒，除胸中實熱氣。可作粉食。明耳目，止渴，消疸黃。若先有冷氣，不可食。令人腹脹氣滿。小兒秋食，臍下當痛。〔嘉〕</p>

<h2>茨菰（慈姑）</h2>
<p>（一）主消渴，下石淋。不可多食。吳人好啖之，令人患腳。〔心·嘉〕</p>
<p>（二）又，髮腳氣，癱緩風。損齒，紫黑色。令人失顏色，皮肉乾燥。卒食之，令人嘔水。〔心·嘉〕</p>

<h2>枇杷〈溫〉</h2>
<p>（一）利五臟，久食亦發熱黃。〔心·嘉〕</p>
<p>（二）子：食之潤肺，熱上焦。若和熱炙肉及熱麵食之，令人患熱毒黃病。〔心·嘉〕</p>
<p>（三）（葉）：卒嘔啘不止、不欲食。〔證〕</p>
<p>（四）又，煮汁飲之，止渴。偏理肺及肺風瘡、胸面上瘡。〔證〕</p>

<h2>荔枝〈微溫〉</h2>
<p>食之通神益智，健氣及顏色，多食則發熱。〔證〕</p>

<h2>柑子（乳柑子）〈寒〉</h2>
<p>（一）堪食之，其皮不任藥用。初未霜時，亦酸。及得霜後，方即甜美。故名之曰甘。〔心·證〕</p>
<p>（二）利腸胃熱毒，下丹石，（止暴）渴。食多令人肺燥，冷中，發流癖病也。〔心·證〕</p>

<h2>甘蔗</h2>
<p>主補氣，兼下氣。不可共酒食，發痰。〔證〕</p>

<h2>石蜜（乳糖）〈寒〉</h2>
<p>（一）上心腹脹熱，口乾渴。波斯者良。注少許於目中，除去熱膜，明目。蜀川者為次。今東吳亦有，並不如波斯。此皆是煎甘蔗汁及牛乳汁，煎則細臼耳。〔卷·嘉〕</p>
<p>（二）又，和棗肉及巨勝人作末為丸，每食後含一丸如李核大，咽之津，潤肺氣，助五臟津。〔卷·嘉〕</p>

<h2>沙糖〈寒〉</h2>
<p>（一）上功體與石蜜同也。多食令人心痛。養三蟲，消肌肉，損牙齒，發疳䘌。不可多服之。〔卷·嘉·證〕</p>
<p>（二）又，不可與鯽魚同食，成疳蟲。〔卷·嘉〕</p>
<p>（三）又，不與葵同食，生流澼。〔嘉〕</p>
<p>（四）又，不可共筍食之，（使）筍不消，成症病心腹痛。（身）重不能行履。〔卷·嘉〕</p>

<h2>桃人（仁）〈溫〉</h2>
<p>（一）殺三蟲，止心痛。〔嘉〕</p>
<p>（二）又，女人陰中生瘡，如蟲咬、疼痛者，可生搗葉，綿裹內陰中，日三、四易，瘥。亦煮汁洗之。今案：煮皮洗之良。〔心·嘉〕</p>
<p>（三）又，三月三日收花曬乾，杵末，以水服二錢匕。小兒半錢，治心腹痛。〔嘉〕</p>
<p>（四）又，禿瘡：收未開花陰乾，與桑椹赤者，等分作末，以豬脂和。先用灰汁洗去瘡痂，即塗藥。〔嘉〕</p>
<p>（五）又云，桃能發諸丹石，不可食之。生者尤損人。〔心·嘉〕</p>
<p>（六）又，白毛：主惡鬼邪氣。膠亦然。〔嘉〕</p>
<p>（七）又，桃符及奴：主精魅邪氣。符，煮汁飲之。奴者，丸、散服之。〔嘉〕</p>
<p>（八）桃人：每夜嚼一顆，和蜜塗手、面良。〔嘉〕</p>

<h2>櫻桃〈熱〉</h2>
<p>（一）益氣，多食無損。〔嘉〕</p>
<p>（二）又云，此名「櫻」，非桃也。不可多食，令人發暗風。〔嘉〕</p>
<p>（三）溫。多食有所損。令人好顏色，美志。此名「櫻桃」，俗名「李桃」，亦名「柰桃」者是也。甚補中益氣，主水穀痢，止泄精。〔證〕</p>
<p>（四）東行根：療寸白、蛔蟲。〔嘉·證〕</p>

<h2>杏〈熱〉</h2>
<p>（一）主咳逆上氣，金創，驚癇，心下煩熱，風（氣）頭痛。〔心·證〕</p>
<p>（二）面皯者，取人去皮，搗和雞子白。夜臥塗面，明早以暖清酒洗之。〔嘉〕</p>
<p>（三）人患卒瘂，取杏人三分，去皮尖熬，（搗作脂。）別杵桂（心）一分，和如泥。取李核大，綿裹含，細細嚥之，日五夜三。〔心·嘉〕</p>
<p>（四）謹按：心腹中結伏氣：杏仁、橘皮、桂心、訶梨勒皮為丸，空心服三十丸，無忌。〔嘉〕</p>
<p>（五）又，燒令煙盡，去皮，以亂髮裹之，咬於所患齒下，其痛便止。熏諸蟲出，並去風便瘥。重者不過再服。〔證〕</p>
<p>（六）又，燒令煙盡，研如泥，綿裹內女人陰中，治蟲疽。〔嘉〕</p>

<h2>石榴〈溫〉</h2>
<p>（一）實：主谷利、泄精。〔心〕</p>
<p>（二）（東行根：療）疣蟲白蟲。〔卷〕</p>
<p>（三）按經：久食損齒令黑。其皮炙令黃，搗為末，和棗肉為丸，（空腹）日服三十丸，後以飯押，（日二服）。斷赤白痢。〔卷·心·嘉〕</p>
<p>（四）又，久患赤白痢，腸肚絞痛：以醋石榴一個，搗令碎，布絞取汁，空腹頓服之立止。〔卷·嘉〕</p>
<p>（五）又，其花葉陰乾，搗為末，和鐵丹服之。一年白髮盡黑，益面紅色。仙家重此，不盡書其方。〔卷〕</p>

<h2>梨〈寒〉</h2>
<p>（一）除客熱，止心煩。不可多食。〔心·嘉〕</p>
<p>（二）又，卒咳嗽，以凍梨一顆刺作五十孔，每孔中內以椒一粒。以麵裹於熱灰中煨，令極熟，出停冷，去椒食之。〔心·嘉〕</p>
<p>（三）又方，梨去核，內酥蜜，麵裹燒令熟。食之大良。〔心·嘉〕</p>
<p>（四）又方，去皮，割梨肉，內於酥中煎之。停冷食之。〔心·嘉〕</p>
<p>（五）又，搗汁一升，酥一兩，蜜一兩，地黃汁一升，緩火煎，細細含咽。凡治嗽，皆須待冷，喘息定後方食。熱食之，反傷矣，令嗽更極不可救。如此者，可作羊肉湯餅，飽食之，便臥少時。〔嘉〕</p>
<p>（六）又，胸中痞塞、熱結者，可多食好生梨即通。〔心·嘉〕</p>
<p>（七）（又云），卒暗風，失音不語者，生搗（梨）汁一合，頓服之。日再服，止。〔心·嘉〕</p>
<p>（八）金瘡及產婦不可食，大忌。〔證〕</p>

<h2>林檎〈溫〉</h2>
<p>（一）主谷痢、泄精。東行根治白蟲蛔蟲。〔證〕</p>
<p>（二）主止消渴。好睡，不可多食。〔嘉·證〕</p>
<p>（三）又，林檎味苦澀、平，無毒。食之閉百脈。〔證〕</p>

<h2>李〈平〉</h2>
<p>（一）主女人卒赤、白下：取李樹東面皮，去外皮，炙令黃香。以水三升，煮汁去滓服之，日再驗。〔心·嘉〕</p>
<p>（二）謹按：生李亦去骨節間勞熱，不可多食之。臨水食之，令人發痰瘧。〔心·嘉〕</p>
<p>（三）又，牛李：有毒。煮汁使濃，含之治䘌齒。脊骨有疳蟲，可後灌此汁，更空腹服一盞。〔嘉〕</p>
<p>（四）其子中人：主鼓脹。研和麵作餅子，空腹食之，少頃當瀉矣。〔嘉〕</p>

<h2>羊（楊）梅〈溫〉</h2>
<p>（一）上主（和）臟腑，調腹胃，除煩憒，消惡氣，去痰實。〔卷·嘉·證〕</p>
<p>（二）（亦）不可多食，損人（齒及）筋（也），然（甚能）斷下痢。〔卷·嘉·證〕</p>
<p>（三）又，燒為灰，（亦）斷下痢。其味酸美，小有勝白梅。〔卷·嘉·證〕</p>
<p>（四）又，取乾者，常含一枚，咽其液，亦通利五臟，下少氣。〔卷·證〕</p>
<p>（五）若多食，損人筋骨。甚酸之物，是土地使然。若南人北，杏亦不食。北人南，梅亦不啖。皆是地氣鬱蒸，令煩憒，好食斯物也。〔卷·證〕</p>

<h2>胡桃〈平〉</h2>
<p>（一）上（卒）不可多食，動痰（飲）。〔卷·心·嘉〕</p>
<p>（二）案經：除去風，潤脂肉，令人能食。不得多食之，計日月，漸漸服食。通經絡氣，（潤）血脈，黑人鬢髮、毛落再生也。〔卷·心·嘉〕</p>
<p>（三）又，燒至煙盡，研為泥，和胡粉為膏。拔去白髮，敷之即黑毛髮生。〔卷·心〕</p>
<p>（四）又，仙家壓油，和詹香塗黃髮，便黑如漆，光潤。〔卷〕</p>
<p>（五）初服日一顆，後隨日加一顆。至二十顆，定得骨細肉潤。〔卷·嘉〕</p>
<p>（六）又方，（能差）一切痔病。〔卷·心·嘉〕</p>
<p>（七）案經：動風，益氣，發痼疾。多吃不宜。〔卷〕</p>

<h2>藤梨（獼猴桃）〈寒〉</h2>
<p>上主下丹石，利五臟。其熟時，收取瓤和蜜煎作煎。服之去煩熱，止消渴。久食發冷氣，損脾胃。〔卷·證〕</p>

<h2>柰</h2>
<p>益心氣，主補中膲諸不足氣，和脾。卒患食後氣不通，生搗汁服之。〔心·心䏸·嘉〕</p>

<h2>橄棪（橄欖）</h2>
<p>主河豚毒，（煮）汁服之。中此魚肝、子毒，人立死，惟此木能解。出嶺南山谷。大樹闊數圍，實長寸許。其子先生者向下，後生者漸高。至八月熟，蜜藏極甜。〔嘉〕</p>

<h1>卷中</h1>

<h2>麝香</h2>
<p>（一）作末服之，闢諸毒熱，煞蛇毒，除驚怪恍惚。蠻人常食，似獐肉而腥氣。蠻人云：食之不畏蛇毒故也。〔證〕</p>
<p>（二）臍中有香，除百病，治一切惡氣疰病。研了，以水服之。〔證〕</p>

<h2>熊</h2>
<p>（一）熊脂：微寒，甘滑。冬中凝白時取之，作生，無以偕也。脂入拔白髮膏中用，極良。脂與豬脂相和燃燈，煙入人目中，令失光明。緣熊脂煙損人眼光。〔證〕</p>
<p>（二）肉：平，味甘，無毒。主風痹筋骨不仁。若腹中有積聚寒熱者，食熊肉永不除差。〔證〕</p>
<p>（三）其骨煮湯浴之，主歷節風，亦主小兒客忤。〔證〕</p>
<p>（四）膽：寒。主時氣盛熱，疳䘌，小兒驚癇。十月勿食，傷神。〔證〕</p>
<p>（五）小兒驚癇瘈瘲，熊膽兩大豆許，和乳汁及竹瀝服並得，去心中涎良。〔證〕</p>

<h2>牛</h2>
<p>（一）牛者稼穡之資，不多屠殺。自死者，血脈已絕，骨髓已竭，不堪食。黃牛發藥動病，黑牛尤不可食。黑牛尿及屎，只入藥。〔嘉〕</p>
<p>（二）又，頭、蹄：下熱風，患冷人不可食。〔嘉〕</p>
<p>（三）肝：治痢。〔證〕又，肝醋煮食之，治瘦。〔嘉〕</p>
<p>（四）肚：主消渴，風眩，補五臟，以醋煮食之。〔證〕</p>
<p>（五）腎：主補腎。〔證〕</p>
<p>（六）髓：安五臟，平三焦，溫中。久服增年。以酒送之。〔證〕</p>
<p>黑牛髓，和地黃汁、白蜜等分。作煎服之，治瘦病。恐是牛脂也。〔嘉·證〕</p>
<p>（七）糞：主霍亂，煮飲之。〔證〕烏牛糞為上。又小兒夜啼，取干牛糞如手大，安臥席下，勿令母知，子、母俱吉。〔嘉〕</p>
<p>（八）又，婦人無乳汁，取牛鼻作羹，空心食之。不過三兩日，有汁下無限。若中年壯盛者，食之良。〔證〕</p>
<p>（九）又，宰之尚不堪食，非論自死者。其牛肉取三斤，爛切。將啖解槽咬人惡馬，只兩啖後，頗甚馴良。若三五頓後，其馬獰㹠不堪騎。十二月勿食，傷神。〔證〕</p>

<h2>牛乳〈寒〉</h2>
<p>（一）患熱風人宜服之。患冷氣人不宜服之。〔嘉·證〕</p>
<p>（二）烏牛乳酪：寒。主熱毒，止渴，除胸中熱。〔證〕</p>

<h2>羊</h2>
<p>（一）角：主驚邪，明目，闢鬼，安心益氣。燒角作灰，治鬼氣並漏下惡血。〔嘉·證〕</p>
<p>（二）羊肉：溫。主風眩瘦病，小兒驚癇，丈夫五勞七傷，臟氣虛寒。河西羊最佳，河東羊亦好。縱驅至南方，筋力自勞損，安能補益人？〔嘉〕</p>
<p>（三）羊肉：妊娠人勿多食。〔證〕</p>
<p>患天行及瘧人食，令發熱困重致死。〔嘉〕</p>
<p>（四）頭肉：平。主緩中，汗出虛勞，安心止驚。宿有冷病人勿多食。主熱風眩，疫疾，小兒癇，兼補胃虛損及丈夫五勞骨熱。熱病後宜食羊頭肉。〔證〕</p>
<p>（五）肚：主補胃病虛損，小便數，止虛汗。以肥肚作羹食，三五度瘥。〔嘉·證〕</p>
<p>（六）肝：性冷。治肝風虛熱，目赤暗痛，熱病後失明者，以青羊肝或子肝薄切，水浸敷之，極效。生子肝吞之尤妙。〔證〕</p>
<p>主目失明，取羖羊肝一斤，去脂膜薄切，以未著水新瓦盆一口，揩令淨，鋪肝於盆中，置於炭火上煿，令脂汁盡。候極干，取決明子半升，蓼子一合，炒令香為末，和肝杵之為末。以白蜜漿下方寸匕。食後服之，日三，加至三匕止，不過二劑，目極明。一年服之妙，夜見文字並諸物。〔證〕</p>
<p>（七）其𦍩羊，即骨歷羊是也。常患眼痛澀，不能視物，及看日光並燈火光不得者，取熟羊頭眼睛中白珠子二枚，於細石上和棗汁研之，取如小麻子大，安眼睛上，仰臥。日二夜二，不過三四度瘥。〔證〕</p>
<p>（八）羊心：補心肺，從三月至五月，其中有蟲如馬尾毛，長二三寸已來。須割去之，不去令人痢。〔證〕</p>
<p>（九）羊毛：醋煮裹腳，治轉筋。〔嘉〕</p>
<p>（十）又，取皮去毛煮羹，補虛勞。煮作臛食之，去一切風，治腳中虛風。〔證〕</p>
<p>（十一）羊骨：熱。主治虛勞，患宿熱人勿食。〔證〕</p>
<p>（十二）髓：酒服之，補血。主女人風血虛悶。〔證〕</p>
<p>（十三）頭中髓：發風。若和酒服，則迷人心，便成中風也。〔證〕</p>
<p>（十四）羊屎：黑人毛髮。主箭鏃不出。糞和雁膏敷毛髮落，三宿生。〔證〕</p>
<p>（十五）白羊黑頭者，勿食之。令人患腸癰。一角羊不可食。六月勿食羊，傷神。〔證〕</p>
<p>（十六）謹按：南方羊都不與鹽食之，多在山中吃野草，或食毒草。若北羊，一二年間亦不可食，食必病生爾。為其來南地食毒草故也。若南地人食之，即不憂也。今將北羊於南地養三年之後，猶亦不中食，何況於南羊能堪食乎？蓋土地各然也。〔證〕</p>

<h2>羊乳</h2>
<p>（一）補肺腎氣，和小腸。亦主消渴，治虛勞，益精氣。合脂作羹食，補腎虛。〔證〕</p>
<p>（二）羊乳治卒心痛，可溫服之。〔嘉〕</p>
<p>（三）亦主女子與男子中風。蚰蜒入耳，以羊乳灌耳中即成水。〔證〕</p>
<p>（四）又，主小兒口中爛瘡，取𦍩羊生乳，含五六日瘥。〔證〕</p>

<h2>酥〈寒〉</h2>
<p>（一）除胸中熱，補五臟，利腸胃。〔嘉·證〕</p>
<p>（二）水牛酥功同，寒，與羊酪同功。羊酥真者勝牛酥。〔證〕</p>

<h2>酪〈寒〉</h2>
<p>主熱毒，止渴，除胃中熱。患冷人勿食羊乳酪。〔證〕</p>

<h2>醍醐〈平〉</h2>
<p>主風邪，通潤骨髓。性冷利，乃酥之本精液也。〔證〕</p>

<h2>乳腐</h2>
<p>微寒。潤五臟，利大小便，益十二經脈。微動氣。細切如豆，面拌，醋漿水煮二十餘沸，治赤白痢。小兒患，服之彌佳。〔嘉補〕</p>

<h2>馬</h2>
<p>（一）白馬黑頭，食令人癲。白馬自死，食之害人。〔證〕</p>
<p>（二）肉：冷，有小毒。主腸中熱，除下氣，長筋骨。〔嘉·證〕</p>
<p>（三）不與倉米同食，必卒得惡，十有九死。不與姜同食，生氣嗽。其肉多著浸洗方煮，得爛熟兼去血盡，始可煮食。肥者亦然，不爾毒不出。〔嘉〕</p>
<p>（四）又，食諸馬肉心悶，飲清酒即解，濁酒即加。〔證〕</p>
<p>（五）赤馬蹄：主闢溫瘧。〔嘉·證〕</p>
<p>（六）懸蹄：主驚癇。〔嘉〕</p>
<p>（七）又，惡刺瘡，取黑（駁）馬尿熱漬，當（蟲出）愈。數數洗之。〔嘉·證〕</p>
<p>（八）白禿瘡，以駁馬不乏者尿，數數暖洗之十遍，瘥。〔證〕</p>
<p>（九）患丁腫，中風疼痛者，炒驢馬糞，熨瘡滿五十遍，極效。〔嘉〕</p>
<p>患杖瘡並打損瘡，中風疼痛者，炒馬驢濕糞，分取半，替換熱熨之。冷則易之，日五十遍，極效。〔證〕</p>
<p>（十）男子患，未可及，新差後，合陰陽，垂至死。取白馬糞五升，絞取汁，好器中盛停一宿，一服三合，日夜二服。〔嘉〕</p>
<p>（十一）又，小兒患頭瘡，燒馬骨作灰，和醋敷。亦治身上瘡。〔證〕</p>
<p>（十二）又，白馬脂五兩，封瘡上。稍稍封之，白禿者發即生。〔證〕</p>
<p>（十三）又，馬汗入人瘡，毒氣攻作膿，心懣欲絕者，燒粟杆草作灰，濃淋作濃灰汁，熱煮，蘸瘡於灰汁中，須臾白沫出盡即瘥。白沫者，是毒氣也。此方嶺南新有人曾得力。〔證〕</p>
<p>（十四）凡生馬血入人肉中，多隻三兩日便腫，連心則死。有人剝馬，被骨傷手指，血入肉中，一夜致死。〔證〕</p>
<p>（十五）又，臆𦣛，次臚𦣛也。蹄無夜眼者勿食。又黑脊而斑不可食。患瘡疥人切不得食，加增難差。〔證〕</p>
<p>（十六）赤馬皮臨產鋪之，令產母坐上催生。〔證〕</p>
<p>（十七）白馬莖：益丈夫陰氣，陰乾者末，和蓯蓉蜜丸，空腹酒下四十丸，日再，百日見效。〔嘉〕</p>
<p>（十八）（馬心）：患痢人不得食。〔嘉〕</p>

<h2>鹿</h2>
<p>（一）鹿茸：主益氣。不可以鼻嗅其茸，中有小白蟲，視之不見，入人鼻必為蟲顙，藥不及也。〔嘉〕</p>
<p>（二）鹿頭肉：主消渴，多夢夢見物。〔心·嘉〕</p>
<p>（三）又，蹄肉：主腳膝骨髓中疼痛。〔心·嘉〕</p>
<p>（四）肉：主補中益氣力。〔嘉〕</p>
<p>（五）又，生肉：主中風口偏不正。以生椒同搗敷之。專看正，即速除之。〔心·嘉〕</p>
<p>（六）謹按：肉：九月後、正月前食之，則補虛羸瘦弱、利五臟，調血脈。自外皆不食，發冷病。〔嘉·證〕</p>
<p>（七）角：主癰疽瘡腫，除惡血。若腰脊痛、折傷，多取鹿角並截取尖，錯為屑，以白蜜（五升）淹浸之，微火熬令小變色，曝乾，（更）搗篩令細，以酒服之。（令人）輕身益力，強骨髓，補陽道、（絕傷）。〔嘉·證〕</p>
<p>（八）角：燒飛為丹，服之至妙。但於瓷器中或瓦器中，寸截，用泥裹，大火燒之一日，如玉粉。亦可炙令黃，末，細羅，酒服之益人。若欲作膠者，細破寸截，以饙水浸七日，令軟方煮也。〔證〕</p>
<p>（九）又，婦人夢與鬼交者，鹿角末三指一撮，和清酒服，即出鬼精。〔嘉〕</p>
<p>（十）又，女子胞中余血不盡、欲死者，以清酒和鹿角灰服方寸匕，日三夜一，甚效。〔嘉〕</p>
<p>（十一）又，小兒以煮小豆汁和鹿角灰，安重舌下，日三度。　〔嘉〕</p>
<p>（十二）骨：溫。主安胎，下氣，殺鬼精，可用浸酒。凡是鹿白臆者，不可食。〔證〕</p>

<h2>黃明膠（白膠）</h2>
<p>（一）敷腫四邊，中心留一孔子，其腫即頭自開也。〔證〕</p>
<p>（二）治咳嗽不差者，黃明膠炙令半焦為末，每服一錢匕。人參末二錢匕，用薄豉湯一錢八分，蔥少許，入銚子煎一兩沸後，傾入盞，遇咳嗽時呷三五口後，依前溫暖，卻准前咳嗽時吃之也。〔證〕</p>
<p>（三）又，止吐血，咯血，黃明膠一兩，切作小片子，炙令黃；新綿一兩，燒作灰細研，每服一錢匕，新米飲調下，不計年歲深遠並宜，食後臥時服。〔證〕</p>

<h2>犀角</h2>
<p>（一）此只是山犀牛，未曾見人得水犀取其角。此兩種者，功亦同也。其生角，寒。可燒成灰，治赤痢，研為末，和水服之。〔證〕</p>
<p>（二）又，主卒中惡心痛，諸飲食中毒及藥毒、熱毒，筋骨中風，心風煩悶，皆瘥。〔證〕</p>
<p>（三）又，以水磨取汁，與小兒服，治驚熱。鼻上角尤佳。〔證〕</p>
<p>（四）肉：微溫，味甘，無毒。主瘴氣、百毒、蠱疰邪鬼，食之入山林，不迷失其路。除客熱頭痛及五痔、諸血痢。若食過多，令人煩，即取麝香少許，和水服之，即散也。〔證〕</p>

<h2>犬（狗）</h2>
<p>（一）牡狗陰莖：補髓。〔證〕</p>
<p>（二）犬肉：益陽事，補血脈，厚腸胃，實下焦，填精髓。不可炙食，恐成消渴。但和五味煮，空腹食之。不與蒜同食，必頓損人。若去血則力少，不益人。瘦者多是病，不堪食。〔嘉〕</p>
<p>比來去血食之，卻不益人也。肥者血亦香美，即何要去血？去血之後，都無效矣。〔證〕</p>
<p>（三）肉：溫。主五臟，補七傷五勞，填骨髓，大補益氣力。空腹食之。黃色牡者上，白、黑色者次。女人妊娠勿食。〔證〕</p>
<p>（四）膽：去腸中膿水。〔嘉〕</p>
<p>（五）又，上伏日採膽，以酒調服之。明目，去眼中膿水。〔證〕</p>
<p>（六）又，白犬膽和通草、桂為丸服，令人隱形。青犬尤妙。〔嘉〕</p>
<p>（七）又，主惡瘡痂癢，以膽汁敷之止。膽敷惡瘡，能破血。有中傷因損者，熱酒調半個服，瘀血盡下。〔證〕</p>
<p>（八）又，犬傷人，杵生杏仁封之瘥。〔證〕</p>
<p>（九）犬自死，舌不出者，食之害人。九月勿食犬肉，傷神。〔證〕</p>

<h2>麢（羚）羊</h2>
<p>（一）北人多食。南人食之，免為蛇蟲所傷。和五味炒之，投酒中經宿。飲之，治筋骨急強中風。〔嘉〕</p>
<p>（二）又，角：主中風筋攣，附骨疼痛，生摩和水塗腫上及惡瘡，良。〔嘉〕</p>
<p>（三）又，卒熱悶，屑作末，研和少蜜服，亦治熱毒痢及血痢。〔嘉〕</p>
<p>（四）傷寒熱毒下血，末服之即瘥。又療疝氣。〔證〕</p>

<h2>虎</h2>
<p>（一）肉：食之入山，虎見有畏，闢三十六種精魅。〔嘉〕</p>
<p>（二）又，眼睛：主瘧病，辟惡，小兒熱、驚悸。〔嘉〕</p>
<p>（三）膽：主小兒疳痢，驚神不安，研水服之。〔嘉〕</p>
<p>（四）骨：煮湯浴，去骨節風毒。〔嘉〕</p>
<p>（五）又，主腰膝急疼，煮作湯浴之。或和醋浸亦良。主筋骨風急痛，脛骨尤妙。〔證〕</p>
<p>（六）又，小兒初生，取骨煎湯浴，其孩子長大無病。〔證〕</p>
<p>（七）又，和通草煮汁，空腹服半升。覆蓋臥少時，汗即出。治筋骨節急痛。切忌熱食，損齒。小兒齒生未足，不可與食，恐齒不生。〔證〕</p>
<p>（八）又，正月勿食虎肉。〔證〕</p>
<p>（九）膏：內下部，治五痔下血。〔嘉〕</p>

<h2>兔</h2>
<p>（一）肝：主明目，和決明子作丸服之。〔嘉〕</p>
<p>（二）又，主丹石人上衝眼暗不見物，可生食之，一如服羊子肝法。〔嘉〕</p>
<p>（三）兔頭骨並同肉：味酸。〔證〕</p>
<p>（四）謹按：八月至十月，其肉酒炙吃，與丹石人甚相宜。注：以性冷故也。大都絕人血脈，損房事，令人痿黃。〔嘉·證〕</p>
<p>（五）肉：不宜與薑、橘同食之，令人卒患心痛，不可治也。〔證〕</p>
<p>（六）又，兔死而眼合者，食之殺人。二月食之傷神。〔證〕</p>
<p>（七）又，兔與生薑同食，成霍亂。〔證〕</p>

<h2>貍</h2>
<p>（一）骨：主痔病。作羹臛食之，不與酒同食。〔嘉〕</p>
<p>（二）其頭燒作灰，和酒服二錢匕，主痔。〔嘉〕</p>
<p>（三）又，食野鳥肉中毒，貍骨灰服之瘥。〔嘉〕</p>
<p>（四）炙骨和麝香、雄黃為丸服，治痔及瘻瘡。〔嘉〕</p>
<p>（五）糞：燒灰，主鬼瘧。〔嘉〕</p>
<p>（六）屍疰，腹痛，痔瘻，（骨）炙之令香，末，酒服二錢，十服後見驗。頭骨最妙。〔證〕</p>
<p>（七）治屍疰邪氣，燒為灰，酒服二錢，亦主食野鳥肉物中毒腫也。再服之即瘥。〔證〕</p>
<p>（八）五月收者糞，極神妙。正月勿食，傷神。〔證〕</p>

<h2>麞（獐）</h2>
<p>（一）肉：亦同麋，釀酒。道家名為「白脯」，惟獐鹿是也。余者不入。〔嘉〕</p>
<p>道家用供養星辰者，蓋為不管十二屬，不是腥膩也。〔證〕</p>
<p>（二）又，其中往往得香，栗子大，不能全香。亦治惡病。〔嘉〕</p>
<p>（三）其肉：八月止十一月食之，勝羊肉。自十二月止七月食，動氣也。〔嘉〕</p>
<p>（四）又，若瘦惡者食，發痼疾也。〔嘉〕</p>

<h2>豹</h2>
<p>（一）肉：補益人。食之令人強筋骨，志性粗疏。食之即覺也，少時消即定。久食之，終令人意氣粗豪。唯令筋健，能耐寒暑。正月食之傷神。〔嘉·證〕</p>
<p>（二）脂：可合生發膏，朝塗暮生。〔嘉〕</p>
<p>（三）頭骨：燒灰淋汁，去白屑。〔嘉〕</p>

<h2>豬（豚）</h2>
<p>（一）肉：味苦，微寒。壓丹石，療熱閉血脈。虛人動風，不可久食。令人少子精，發宿疹。主療人腎虛。肉發痰，若患瘧疾人切忌食，必再發。〔證〕</p>
<p>（二）腎：主人腎虛，不可久食。〔嘉〕</p>
<p>（三）江豬：平。肉酸。多食令人體重。今捕人作脯，多皆不識。但食，少有腥氣。〔證〕</p>
<p>（四）又，舌：和五味煮取汁飲，能健脾，補不足之氣，令人能食。〔證〕</p>
<p>（五）大豬頭：主補虛，乏氣力，去驚癇、五痔，下丹石。〔嘉〕</p>
<p>（六）又，腸：主虛渴，小便數，補下焦虛竭。〔嘉〕</p>
<p>（七）東行母豬糞一升，宿浸，去滓頓服，治毒黃熱病。〔嘉〕</p>
<p>（八）肚：主暴痢虛弱。〔嘉〕</p>

<h2>麋</h2>
<p>（一）肉：益氣補中，治腰腳。不與雉肉同食。〔嘉〕</p>
<p>（二）謹按：肉多無功用。所食亦微補五臟不足氣。多食令人弱房，髮腳氣。〔嘉〕</p>
<p>（三）骨：除虛勞至良。可煮骨作汁，釀酒飲之。令人肥白，美顏色。〔嘉〕</p>
<p>（四）其角：補虛勞，填髓。理角法：可五寸截之，中破，炙令黃香後，末和酒空腹服三錢匕。若卒心痛，一服立瘥。常服之，令人赤白如花，益陽道。不知何因，與肉功不同爾。亦可煎作膠，與鹿角膠同功。〔嘉〕</p>
<p>（五）茸：甚勝鹿茸，仙方甚重。〔嘉〕</p>
<p>（六）又，丈夫冷氣及風、筋骨疼痛，作粉長服。〔嘉〕</p>
<p>（七）又，於漿水中研為泥。塗面，令不皺，光華可愛。〔嘉〕</p>
<p>（八）又，常俗：人以皮作靴，熏腳氣。〔嘉〕</p>

<h2>驢</h2>
<p>（一）肉：主風狂，憂愁不樂，能安心氣。〔嘉〕</p>
<p>（二）又，頭：燖去毛，煮汁以漬曲醞酒，去大風。〔嘉〕</p>
<p>（三）又，生脂和生椒熟搗，綿裹塞耳中，治積年耳聾。狂癲不能語、不識人者，和酒服三升良。〔嘉〕</p>
<p>（四）皮：覆患瘧人良。〔嘉〕</p>
<p>（五）又，和毛煎，令作膠，治一切風毒骨節痛，呻吟不止者，消和酒服良。〔嘉〕</p>
<p>（六）又，骨煮作湯，浴漬身，治歷節風。〔嘉〕</p>
<p>（七）又，煮頭汁，令服三二升，治多年消渴，無不瘥者。〔嘉〕</p>
<p>（八）又，脂和烏梅為丸，治多年瘧。未發時服三十丸。〔嘉〕</p>
<p>（九）又，頭中一切風，以毛一斤炒令黃，投一斗酒中，漬三日。空心細細飲，使醉。衣覆臥取汗。明日更依前服。忌陳倉米、麥面等。〔嘉〕</p>
<p>（十）卒心痛，絞結連腰臍者，取驢乳三升，熱服之瘥。〔證〕</p>

<h2>狐</h2>
<p>（一）肉：溫。有小毒。主瘡疥，補虛損，及女子陰癢絕產，小兒（陰）潰卵腫，煮炙任食之。良。又主五臟邪氣，服之便瘥。空心服之佳。〔嘉·證〕</p>
<p>（二）腸肚：微寒。患瘡疥久不差，作羹臛食之。小兒驚癇及大人見鬼，亦作羹臛食之良。其狐魅狀候：或叉手有禮見人，或於靜處獨語，或躶形見人，或祇揖無度，或多語，或緊合口，叉手坐，禮度過，常尿屎亂放，此之謂也。如馬疫亦同，灌鼻中便瘥。〔證〕</p>
<p>患蠱毒寒熱，宜多服之。〔嘉〕</p>
<p>（三）頭：燒，辟邪。〔證〕</p>

<h2>獺</h2>
<p>（一）獺肝：主疰病相染，一門悉患者，以肝一具，火炙，末以水和方寸匕服之，日再服。〔嘉〕</p>
<p>（二）患咳嗽者，燒為灰，酒服之。〔證〕</p>
<p>（三）肉：性寒，無毒。煮汁主治時疫及牛馬疫，皆煮汁停冷灌之。〔證〕</p>
<p>（四）又，若患寒熱毒，風水虛脹，即取水獺一頭，剝去皮，和五臟、骨、頭、尾等，炙令乾。杵末，水下方寸匕，日二服，十日瘥。〔證〕</p>
<p>（五）謹按：服之下水脹，但熱毒風虛脹，服之即瘥。若是冷氣虛脹食，益虛腫甚也。只治熱，不治冷，不可一概爾。〔嘉〕</p>

<h2>猯</h2>
<p>（一）肉：平，味酸。〔證〕</p>
<p>主服丹石勞熱。患赤白痢多時不瘥者，可煮肉經宿露中，明日空腹和醬食之一頓，即瘥。〔嘉〕</p>
<p>（二）又，瘦人可和五味煮食，令人長脂肉肥白。曾服丹石，可時時服之。丹石惡發熱，服之妙。〔嘉〕</p>
<p>（三）骨：主上氣咳嗽，炙末。酒和三合服之。日二，其嗽必瘥。〔證〕</p>

<h2>野豬</h2>
<p>（一）三歲膽中有黃，（研）和水服之，主鬼疰癇病。〔嘉·證〕</p>
<p>（二）又，其肉：主癲癇，補肌膚，令人虛肥。雌者肉美。（其冬月在林中食橡子），肉色赤者，補人五臟，不發風虛氣也。其肉勝家豬也。〔嘉·證〕</p>
<p>（三）又，膽：治惡熱毒邪氣，內不發病，減藥力，與家豬不同。〔嘉·證〕</p>
<p>（四）其膏：煉令精細，以一匙和一盞酒服，日三服令婦人多乳。服十日，可供三、四孩子。〔嘉〕</p>
<p>（五）脂：主婦人無乳者，服之即乳下。本來無乳者，服之亦有。〔證〕</p>
<p>（六）齒作灰服，主蛇毒。〔嘉〕</p>
<p>（七）青蹄者，不可食。〔證〕</p>

<h2>豺〈寒〉</h2>
<p>（一）（豺皮）：主疳痢，腹中諸瘡，煮汁飲之。或燒灰和酒服之，其灰敷䘌齒瘡。〔嘉〕</p>
<p>（二）肉酸不可食，消人脂肉，損人神情。〔嘉〕</p>
<p>（三）頭骨燒灰，和酒灌解槽牛馬，便馴良，即更附人也。〔證〕</p>

<h2>雞</h2>
<p>（一）（丹雄雞）：主患白虎，可鋪飯於患處，使雞食之良。又取熱糞封之取熱，使伏於患人床下。〔嘉〕</p>
<p>（二）其肝入補腎方中，用冠血和天雄四分，桂心二分，太陽粉四分，丸服之，益陽氣。〔嘉〕</p>
<p>（三）烏雄雞：主心痛，除心腹惡氣。〔嘉〕</p>
<p>（四）又，虛弱人取一隻，治如食法。五味汁和肉一器中，封口，重湯中煮之，使骨肉相去即食之，甚補益。仍須空腹飽食之。肉須爛，生即反損。亦可五味醃，經宿，炙食之，分為兩頓。〔嘉〕</p>
<p>（五）又，刺在肉中不出者，取尾二七枚，燒作灰，以男子乳汁和封瘡，刺當出。〔嘉〕</p>
<p>（六）又，目淚出不止者，以三年冠血敷目睛上，日三度。〔嘉〕</p>
<p>（七）烏雌雞：溫，味酸，無毒。主除風寒濕痹，治反胃、安胎及腹痛，踒折骨疼，乳癰。〔證〕</p>
<p>（八）月蝕瘡繞耳根，以烏雌雞膽汁敷之，日三。〔證〕</p>
<p>（九）產後血不止，以雞子三枚，醋半升，好酒二升，煎取一升，分為四服。如人行三二里，微暖進之。〔嘉〕</p>
<p>（十）又，新產婦可取一隻，理如食法，和五味炒熟，香，即投二升酒中，封口經宿，取飲之，令人肥白。〔嘉〕</p>
<p>（十一）又，和烏油麻二升，熬令黃香，末之入酒，酒盡極效。〔嘉〕</p>
<p>（以烏油麻一升，熬之令香，末，和酒服之，即飽熱能食。）〔證〕</p>
<p>（十二）黃雌雞：主腹中水癖水腫，以一隻理如食法：和赤小豆一升同煮，候豆爛即出食之。其汁，日二夜一，每服四合。補丈夫陽氣，治冷氣。瘦著床者，漸漸食之良。〔嘉〕</p>
<p>（十三）又，先患骨熱者，不可食之。雞子動風氣，不可多食。〔嘉〕</p>
<p>（十四）又，光粉諸石為末，和飯與雞食之，後取雞食之，甚補益。〔嘉〕</p>
<p>（十五）又，子醋煮熟，空腹食之，治久赤白痢。〔嘉〕</p>
<p>（十六）又，人熱毒發，可取三顆雞子白，和蜜一合，服之瘥。〔嘉〕</p>
<p>（十七）治大人及小兒發熱，可取卵三顆，白蜜一合，相和服之，立瘥。卵並不得和蒜食，令人短氣。〔證〕</p>
<p>（十八）又，胞衣不出，生吞雞子清一枚，治目赤痛，除心胸伏熱，煩滿咳逆，動心氣，不宜多食。〔證〕</p>
<p>（十九）雞具五色者，食之致狂。肉和魚肉汁食之，成心瘕。六指，玄雞白頭家雞，及雞死足爪不伸者，食並害人。〔證〕</p>
<p>（二十）雞子和蔥，食之氣短。雞子白共鱉同食損人。雞子共獺肉同食，成遁屍注，藥不能治。〔證〕</p>
<p>（二十一）雞、兔同食成泄痢。小兒五歲已下，未斷乳者，勿與雞肉食。〔證〕</p>

<h2>鵝</h2>
<p>（一）脂：可合面脂。〔嘉〕</p>
<p>（二）肉：性冷，不可多食。令人易霍亂。與服丹石人相宜。亦發痼疾。〔嘉〕</p>
<p>（三）卵：溫。補五臟，亦補中益氣。多發痼疾。〔證〕</p>

<h2>野鴨（鶩）、鴨</h2>
<p>（一）野鴨：寒。主補中益氣，消食。九月以後即中食，全勝家者。雖寒不動氣，消十二種蟲，平胃氣，調中輕身。〔心·嘉〕</p>
<p>（二）又，身上諸小熱瘡，多年不可者，但多食之即差。〔嘉〕</p>
<p>（三）白鴨肉：補虛，消毒熱，利水道，及小兒熱驚癇，頭生瘡腫。〔嘉〕</p>
<p>（四）又，和蔥豉作汁飲之，去卒煩熱。〔嘉〕</p>
<p>（五）又，糞：主熱毒毒痢。〔嘉〕</p>
<p>（六）又，取和雞子白，封熱腫毒上消。〔嘉〕</p>
<p>（七）又，黑鴨：滑中，發冷痢，下腳氣，不可多食。〔嘉〕</p>
<p>（八）子：微寒。少食之，亦發氣，令背膊悶。〔嘉〕</p>
<p>（九）項中熱血：解野葛毒，飲之差。〔證〕</p>
<p>（十）卵：小兒食之，腳軟不行，愛倒。鹽淹食之，即宜人。〔證〕</p>
<p>（十一）屎：可拓蚯蚓咬瘡。〔證〕</p>

<h2>鷓鴣</h2>
<p>能補五臟，益心力，聰明。此鳥出南方，不可與竹筍同食，令人小腹脹。自死者，不可食。一言此鳥天地之神，每月取一隻饗至尊。所以自死者不可食也。〔嘉〕</p>

<h2>雁</h2>
<p>（一）雁膏：可合生發膏。仍治耳聾。〔嘉〕</p>
<p>（二）骨灰和泔洗頭，長髮。〔嘉〕</p>

<h2>雀</h2>
<p>（一）其肉：十月以後、正月以前食之，續五臟不足氣，助陰道，益精髓，不可停息。〔嘉〕</p>
<p>（二）糞：和天雄、乾薑為丸，令陰強。〔嘉〕</p>
<p>（三）腦：塗凍瘡。〔嘉〕</p>
<p>（四）卵白：和天雄末、菟絲子末為丸，空心酒下五丸。主男子陰痿不起，女子帶下，便溺不利。除疝瘕，決癰腫，續五臟氣。〔證〕</p>

<h2>山雞、野雞（雉）</h2>
<p>（一）山雞：主五臟氣喘、不得息者。食之發五痔。和蕎麥麵食之，生肥蟲。卵：不與蔥同食，生寸白蟲。〔嘉〕</p>
<p>（二）又，野雞：久食令人瘦。又九月至十二月食之，稍有補。他月即發五痔及諸瘡疥。〔嘉〕</p>
<p>（三）不與胡桃同食，即令人發頭風，如在舡車內，兼發心痛。〔嘉·證〕</p>
<p>（四）亦不與豉同食。自死、足爪不伸，食之殺人。〔證〕</p>
<p>（五）菌子、木耳同食，發五痔，立下血。〔嘉〕</p>

<h2>鶉〈溫〉</h2>
<p>（一）補五臟，益中續氣，實筋骨，耐寒暑，消結氣。〔心〕</p>
<p>（二）患痢人可和生薑煮食之。〔心〕</p>
<p>（三）又云，鶉肉不可共豬肉食之，令人多生瘡。〔心〕</p>
<p>（四）四月以後及八月以前，鶉肉不可食之。〔心〕</p>

<h2>鴟</h2>
<p>（一）頭：燒灰，主頭風目眩，以飲服之。〔證〕</p>
<p>（二）肉：食之，治癲癇疾。〔證〕</p>

<h2>鴝鵒肉（八哥）〈寒〉</h2>
<p>（一）主五痔，止血。〔證〕</p>
<p>（二）又，食法：臘日採之，五味炙之，治老嗽。或作羹食之亦得。或搗為散，白蜜和丸並得。治上件病，取臘月臘日得者良，有效。非臘日得者不堪用。〔證〕</p>

<h2>慈鴉</h2>
<p>（一）主瘦病，咳嗽，骨蒸者，可和五味淹炙食之良。其大鴉不中食，肉澀，只能治病，不宜常食也。〔證〕</p>
<p>（二）以目睛汁注眼中，則夜見神鬼。又「神通目法」中亦要用此物。又《北帝攝鬼錄》中，亦用慈鴉卵。〔證〕</p>

<h2>鴛鴦</h2>
<p>（一）其肉：主瘻瘡，以清酒炙食之。食之則令人美麗。〔證〕</p>
<p>（二）又，主夫婦不和，作羹臛，私與食之，即立相憐愛也。〔證〕</p>

<h2>蜜〈微溫〉</h2>
<p>（一）主心腹邪氣，諸驚癇，補五臟不足氣。益中止痛，解毒。能除眾病，和百藥，養脾氣，除心煩悶，不能飲食。〔證〕</p>
<p>（二）治心肚痛，血刺腹痛及赤白痢，則生搗地黃汁，和蜜一大匙，服即下。〔證〕</p>
<p>（三）又，長服之，面如花色，仙方中甚貴此物。若覺熱，四肢不和，即服蜜漿一碗，甚良。〔證〕</p>
<p>（四）又能止腸澼，除口瘡，明耳目，久服不飢。〔證〕</p>
<p>（五）又，點目中熱膜，家養白蜜為上，木蜜次之，崖蜜更次。〔證〕</p>
<p>（六）又，治癩，可取白蜜一斤，生薑三斤搗取汁。先秤銅鐺，令知斤兩。即下蜜於鐺中消之。又秤，知斤兩，下薑汁於蜜中，微火煎，令薑汁盡。秤蜜，斤兩在即休，藥已成矣。患三十年癩者，平旦服棗許大一丸，一日三服，酒飲任下。忌生冷醋滑臭物。功用甚多，世人眾委，不能一一具之。〔證〕</p>

<h2>牡蠣</h2>
<p>（一）火上炙，令沸。去殼食之，甚美。令人細潤肌膚，美顏色。〔心·嘉〕</p>
<p>（二）又，藥家比來取左顧者，若食之，即不揀左右也。可長服之。海族之中，惟此物最貴。北人不識，不能表其味爾。〔嘉〕</p>

<h2>龜甲〈溫〉</h2>
<p>（一）味酸。主除溫瘴氣，風痹，身腫，踒折。又，骨帶入山林中，令人不迷路。其食之法，一如鱉法也。其中黑色者，常啖蛇，不中食之。其殼亦不堪用。〔證〕</p>
<p>（二）其甲：能主女人漏下赤白、崩中，小兒囟不合，破癥瘕、㾬瘧，療五痔，陰蝕，濕痹，女子陰隱瘡及骨節中寒熱，煮汁浴漬之良。〔證〕</p>
<p>（三）又，已前都用水中龜，不用啖蛇龜。五月五日取頭乾末服之，亦令人長遠入山不迷。〔證〕</p>
<p>（四）又方，卜師處鑽了者，塗酥炙，細羅，酒下二錢，療風疾。〔證〕</p>

<h2>魁蛤〈寒〉</h2>
<p>潤五臟，治消渴，開關節。服丹石人食之，使人免有瘡腫及熱毒所生也。〔證〕</p>

<h2>鱧魚（蠡魚）</h2>
<p>（一）下大小便壅塞氣。〔嘉〕</p>
<p>（二）又，作鱠，與腳氣風氣人食之，效。〔嘉〕</p>
<p>（三）又，以大者洗去泥，開肚，以胡椒末半兩，切大蒜三兩顆，內魚腹中縫合，並和小豆一升煮之。臨熟下蘿蔔三五顆如指大，切蔥一握，煮熟。空腹食之，並豆等強飽，盡食之。至夜即泄氣無限，三五日更一頓。下一切惡氣。〔嘉〕</p>
<p>（四）又，十二月作醬，良也。〔嘉〕</p>

<h2>鮎魚（鮧魚）、鱯（鮠魚）</h2>
<p>鮎與鱯大約相似，主諸補益，無鱗，有毒，勿多食。赤目、赤須者並殺人也。〔證〕</p>

<h2>鯽魚</h2>
<p>（一）食之平胃氣，調中，益五臟，和蓴作羹食良。〔嘉·證〕</p>
<p>（二）作鱠食之，斷暴下痢。和蒜食之，有少熱；和姜醬食之，有少冷。〔心·證〕</p>
<p>（三）又，夏月熱痢可食之，多益。冬月則不治也。〔證〕</p>
<p>（四）骨：燒為灰，敷惡瘡上，三、五次瘥。〔證〕</p>
<p>（五）又，鯽魚與䲙，其狀頗同，味則有殊。䲙是節化。鯽是稷米化之，其魚肚上尚有米色。寬大者是鯽，背高肚狹小者是䲙，其功不及鯽魚。〔嘉〕</p>
<p>（六）謹按：其子調中，益肝氣。凡魚生子，皆黏在草上及土中。寒冬月水過後，亦不腐壞。每到五月三伏時，雨中便化為魚。〔心·嘉·證〕</p>
<p>（七）食鯽魚不得食沙糖，令人成疳蟲。丹石熱毒發者，取茭首和鯽魚作羹，食一兩頓即瘥。〔證〕</p>

<h2>鱔魚（黃鱔）</h2>
<p>補五臟，逐十二風邪。患惡氣人當作臛，空腹飽食，便以衣蓋臥。少頃當汗出如白膠，汗從腰腳中出。候汗盡，暖五木湯浴，須慎風一日。更三、五日一服，並治濕風。〔嘉〕</p>

<h2>鯉魚</h2>
<p>（一）膽：主除目中赤及熱毒痛，點之良。〔證〕</p>
<p>（二）肉：白煮食之，療水腫腳滿，下氣。腹中有宿瘕不可食，害人。久服天門冬人，亦不可食。〔嘉·證〕</p>
<p>（三）刺在肉中，中風水腫痛者，燒鯉魚眼睛作灰，內瘡中，汁出即可。〔證〕</p>
<p>（四）謹按：魚血主小兒丹毒，塗之即瘥。〔證〕</p>
<p>（五）魚鱗：燒，煙絕，研。酒下方寸（匕），破產婦滯血。〔證〕</p>
<p>（六）脂：主諸癇，食之良。〔證〕</p>
<p>（七）腸：主小兒腹中瘡。〔證〕</p>
<p>（八）鯉魚鮓：不得和豆藿葉食之，成瘦。〔證〕</p>
<p>（九）其魚子，不得合豬肝食之。〔證〕</p>
<p>（十）又，（凡修理），每斷去脊上兩筋及脊內黑血，此是毒故也。〔心·嘉·證〕</p>
<p>（十一）炙鯉魚切忌菸，不得令熏著眼，損人眼光。三兩日內必見驗也。〔證〕</p>
<p>（十二）又，天行病後不可食，再發即死。〔心·嘉·證〕</p>
<p>（十三）又，（其在）砂石中者，（有）毒，多在腦髓中，不可食其頭。〔心·嘉·證〕</p>

<h2>鱘魚</h2>
<p>（一）有毒。主血淋。可煮汁食之。其味雖美，而發諸藥毒。〔證〕</p>
<p>（二）鮓：世人雖重，尤不益人。服丹石人不可食，令人少氣。發一切瘡疥，動風氣。不與干筍同食，發癱瘓風。小兒不與食，結癥瘕及嗽。大人久食，令人卒心痛，並使人卒患腰痛。〔證〕</p>

<h2>蝟</h2>
<p>（一）蝟肉：可食。以五味汁淹、炙食之，良。不得食其骨也。其骨能瘦人，使人縮小也。〔嘉·證〕</p>
<p>（二）謹按：主下焦弱，理胃氣。令人能食。〔嘉·證〕</p>
<p>（三）其皮可燒灰，和酒服。及炙令黃，煮汁飲之，主胃逆。細銼，炒令黑，入丸中治腸風，鼠奶痔，效。〔嘉·證〕</p>
<p>（四）（其脂）：主腸風、痔瘻。可煮五金八石。與桔梗、麥門冬反惡。〔嘉·證〕</p>
<p>（五）又有一種，村人謂之豪豬，取其肚燒乾，和肚屎用之。搗末細羅。每朝空心溫酒調二錢匕。有患水病鼓脹者，服此豪豬肚一個便消。瘥。此豬多食苦參，不理冷脹，只理熱風水脹。形狀樣似蝟鼠。〔證〕</p>

<h2>鱉</h2>
<p>（一）主婦人漏下，羸瘦。中春食之美，夏月有少腥氣。〔嘉〕</p>
<p>（二）其甲：岳州昌江者為上。赤足不可食，殺人。〔嘉〕</p>

<h2>蟹</h2>
<p>（一）足斑、目赤不可食，殺人。〔證〕</p>
<p>（二）主散諸熱。（又堪）治胃氣，理經脈，消食。〔嘉·證〕</p>
<p>（三）蟹腳中髓及腦，能續斷筋骨。人取蟹腦髓，微熬之，令內瘡中，筋即連續。〔心〕</p>
<p>（四）又，八月前，每個蟹腹內有稻穀一顆，用輸海神。待輸芒後，過八月方食即好。（未輸時為長未成）。經霜更美，未經霜時有毒。〔嘉·證〕</p>
<p>（五）又，鹽淹之作𧓺，有氣味。和酢食之，利肢節，去五臟中煩悶氣。其物雖惡形容，食之甚益人。〔嘉·證〕</p>
<p>（六）爪：能安胎。〔證〕</p>

<h2>烏賊魚</h2>
<p>（一）食之少有益髓。〔心〕</p>
<p>（二）骨：主小兒、大人下痢，炙令黃，去皮細研成粉，粥中調服之食。〔證〕</p>
<p>（三）其骨能消目中一切浮翳。細研和蜜點之妙。〔嘉·證〕</p>
<p>（四）又，骨末治眼中熱淚。〔嘉〕</p>
<p>又，點馬眼熱淚甚良。〔證〕</p>
<p>（五）久食之，主絕嗣無子，益精。其魚腹中有墨一片，堪用書字。〔證〕</p>

<h2>鰻鱺魚</h2>
<p>（一）殺（諸）蟲毒，乾燒炙之令香。（末，空腹）食之。三五度即瘥。長服尤良。〔嘉·證〕</p>
<p>（二）又，熏下部痔，蟲盡死。患諸瘡瘻及癧瘍風，長食之甚驗。〔嘉〕</p>
<p>（三）腰腎間濕風痹，常如水洗者，可取五味、米煮，空腹食之，甚補益。濕腳氣人服之良。〔嘉〕</p>
<p>（四）又，諸草石藥毒，食之，諸毒不能為害。〔嘉〕</p>
<p>（又，壓諸草石藥毒，不能損傷人。）〔證〕</p>
<p>（五）又，五色者，其功最勝也。〔嘉·證〕</p>
<p>（六）又，療婦人帶下百病，一切風瘙如蟲行。其江海中難得五色者，出歙州溪澤潭中，頭似蝮蛇，背有五色紋者是也。〔嘉·證〕</p>
<p>（七）又，燒之熏氈中，斷蛀蟲。置其骨於箱衣中，斷白魚、諸蟲咬衣服。〔證〕　</p>
<p>（八）又，燒之熏舍屋，免竹木生蛀蚛。〔證〕</p>

<h2>鼉（鮀魚）</h2>
<p>療驚恐及小腹氣疼。〔嘉〕</p>

<h2>黿〈微溫〉</h2>
<p>（一）主五臟邪氣，殺百蟲蠱毒，消百藥毒，續人筋。〔證〕</p>
<p>（二）膏：摩風及惡瘡。〔遺〕</p>
<p>（三）又，膏塗鐵，摩之便明。淮南方術中有用處。〔遺·證〕</p>

<h2>鮫魚〈平〉</h2>
<p>（一）補五臟。作鱠食之，亞於鯽魚。作鮓鱐食之並同。〔證〕</p>
<p>（二）又，如有大患喉閉，取膽汁和白礬灰，丸之如豆顆，綿裹內喉中。良久吐惡涎沫，即喉嚨開。臘月取之。〔證〕</p>

<h2>白魚</h2>
<p>（一）主肝家不足氣，不堪多食，泥人心。雖不發病，終養䘌所食。〔嘉〕</p>
<p>（二）和豉作羹，一、兩頓而已。新鮮者好食。若經宿者不堪食。（久食）令人腹冷生諸疾。或淹、或糟藏，猶可食。〔嘉·證〕</p>
<p>（三）又可炙了，於蔥、醋中重煮（一、兩沸）食之。調五臟，助脾氣，能消食。理十二經絡，舒展不相及氣。〔嘉·證〕</p>
<p>（四）時人好作餅，炙食之。猶少動氣，久亦不損人也。〔證〕</p>

<h2>鱖魚〈平〉</h2>
<p>補勞，益脾胃。稍有毒。〔證〕</p>

<h2>青魚</h2>
<p>（一）主腳氣煩悶。又，和韭白煮食之，治腳氣腳弱、煩悶、益心力也。〔證〕</p>
<p>（二）又，頭中有枕，取之蒸，令氣通，曝乾，狀如琥珀。此物療卒心痛，平水氣。以水研服之良。〔證〕</p>
<p>（三）又，膽、眼睛：益人眼，取汁注目中，主目暗。亦塗熱瘡，良。〔證〕</p>

<h2>石首魚（黃花魚）</h2>
<p>作干鯗，消宿食，主中惡，不堪鮮食。〔證〕</p>

<h2>嘉魚〈微溫〉</h2>
<p>常於崖石下孔中吃乳石沫，甚補益。微有毒。其味甚珍美也。〔證〕</p>

<h2>鱸魚〈平〉</h2>
<p>（一）主安胎，補中。作鱠尤佳。〔證〕</p>
<p>（二）補五臟，益筋骨，和腸胃，治水氣。多食宜人。作鮓猶良。〔嘉補〕</p>
<p>（三）又，曝乾甚香美。雖有小毒，不至發病。〔嘉補〕</p>

<h2>鱟〈平〉</h2>
<p>（一）微毒。治痔，殺蟲。多食發嗽並瘡癬。〔嘉補〕</p>
<p>（二）殼：入香，發眾香氣。〔嘉補〕</p>
<p>（三）尾：燒焦，治腸風瀉血，並崩中帶下及產後痢。〔嘉補〕</p>
<p>（四）脂：燒，集鼠。〔嘉補〕</p>

<h2>時魚（鰣魚）〈平〉</h2>
<p>補虛勞，稍發疳痼。〔證余〕</p>

<h2>黃賴魚（黃顙魚）</h2>
<p>一名䱀䰲。醒酒。亦無鱗，不益人也。〔證余〕</p>

<h2>比目魚〈平〉</h2>
<p>補虛，益氣力。多食稍動氣。〔證余〕</p>

<h2>鱭魚</h2>
<p>發疥，不可多食。〔證余〕</p>

<h2>鯸鮧魚（河豚）</h2>
<p>（一）有毒，不可食之。其肝毒殺人。緣腹中無膽，頭中無鰓，故知害人。若中此毒及鱸魚毒者，便剉蘆根煮汁飲，解之。〔證余〕</p>
<p>（二）又，此魚行水之次，或自觸著物，即自怒氣脹，浮於水上，為鴉鷂所食。〔證余〕</p>

<h2>鯮魚〈平〉</h2>
<p>補五臟，益筋骨，和脾胃。多食宜人。作鮓尤佳。曝乾甚香美。不毒，亦不發病。〔證余〕</p>

<h2>黃魚（鱣魚）〈平〉</h2>
<p>有毒。發諸氣病，不可多食。亦發瘡疥，動風。不宜和蕎麥同食，令人失音也。〔證余〕</p>

<h2>魴魚</h2>
<p>（一）調胃氣，利五臟。和芥子醬食之，助肺氣，去胃家風。〔證余〕</p>
<p>（二）消穀不化者，作鱠食，助脾氣，令人能食。〔證余〕</p>
<p>（三）患疳痢者，不得食。作羹臛食，宜人。其功與鯽魚同。〔證余〕</p>

<h2>牡鼠（鼠）</h2>
<p>（一）主小兒癇疾、腹大貪食者：可以黃泥裹燒之。細揀去骨，取肉和五味汁作羹與食之。勿令食著骨，甚瘦人。〔嘉〕</p>
<p>（二）又，取臘月新死者一枚，油一大升，煎之使爛，絞去滓，重煎成膏。塗凍瘡及折破瘡。〔嘉〕</p>

<h2>蚌（蚌蛤）〈大寒〉</h2>
<p>主大熱，解酒毒，止渴，去眼赤。動冷熱氣。〔證〕</p>

<h2>車螯</h2>
<p>（車螯）、蝤蝥類，並不可多食之。〔證〕</p>

<h2>蚶〈溫〉</h2>
<p>（一）主心腹冷氣，腰脊冷風。利五臟，健胃，令人能食。每食了，以飯壓之。不爾令人口乾。〔嘉補〕</p>
<p>（二）又云，溫中，消食，起陽。味最重。出海中，殼如瓦屋。〔嘉補〕</p>
<p>（三）又云，蚶：主心腹腰腎冷風，可火上暖之，令沸，空腹食十數個，以飲壓之，大妙。〔嘉補〕</p>
<p>（四）又云，無毒。益血色。〔嘉補〕</p>
<p>（五）殼：燒，以米醋三度淬後埋，令壞。醋膏丸，治一切血氣、冷氣、症癖。〔嘉補〕</p>

<h2>蟶</h2>
<p>（一）味甘，溫，無毒。補虛，主冷利。煮食之，主婦人產後虛損。生海泥中，長二三寸，大如指，兩頭開。〔嘉補〕</p>
<p>（二）主胸中邪熱、煩悶氣。與服丹石人相宜。天行病後不可食，切忌之。〔嘉補〕</p>
<p>（三）又云，蟶：寒，主胸中煩悶邪氣，止渴。須在飯食後，食之佳。〔嘉補〕</p>

<h2>淡菜〈溫〉</h2>
<p>（一）補五臟，理腰腳氣，益陽事。能消食，除腹中冷氣，消痃癖氣。亦可燒，令汁沸出食之。多食令頭悶、目暗，可微利即止。北人多不識，雖形狀不典，而甚益人。〔嘉補〕</p>
<p>（二）又云，溫，無毒。補虛勞損，產後血結，腹內冷痛。治癥瘕，腰痛，潤毛髮，崩中帶下。燒一頓令飽，大效。又名殼菜，常時頻燒食即苦，不宜人。與少米先煮熟後，除肉內兩邊鏁及毛了，再入蘿蔔，或紫蘇、或冬瓜皮同煮，即更妙。〔嘉補〕</p>

<h2>蝦〈平〉</h2>
<p>（一）無須及煮色白者，不可食。〔嘉補〕</p>
<p>（二）謹按：小者生水田及溝渠中，有小毒。小兒患赤白遊腫，搗碎敷之。〔嘉補〕</p>
<p>（三）動風發瘡疥。（勿作鮓食之），鮓內者甚有毒爾。〔證·嘉補〕</p>

<h2>蚺蛇</h2>
<p>（一）膏：主皮膚間毒氣。〔嘉·證〕</p>
<p>（二）肉：主溫疫氣。可作鱠食之。如無此疾及四月勿食之。〔嘉·證〕</p>
<p>（三）膽：主䘌瘡瘻，目腫痛，疳䘌。〔證〕</p>
<p>（四）小兒疳痢，以膽灌鼻中及下部。〔證〕</p>
<p>（五）除疳瘡，小兒腦熱，水漬注鼻中。齒根宣露，和麝香末敷之。其膽難識，多將諸膽代之。可細切於水中，走者真也。又，豬及大蟲膽亦走，遲於此膽。〔嘉〕</p>

<h2>蛇蛻皮</h2>
<p>主去邪，明目。治小兒一百二十種驚癇，寒熱，腸痔，蠱毒，諸䘌惡瘡，安胎。熬用之。〔證〕</p>

<h2>蝮蛇</h2>
<p>（一）（膽）：主諸䘌。〔證〕</p>
<p>（二）肉：療癩，諸瘻。下結氣，除蠱毒。如無此疾者，即不假食也。〔證〕</p>

<h2>田螺〈大寒〉</h2>
<p>汁飲療熱、醒酒、壓丹石。不可常食。〔證〕</p>

<h2>海月〈平〉</h2>
<p>（一）主消痰，辟邪鬼毒。〔證〕</p>
<p>（二）以生椒醬調和食之良，能消諸食，使人易飢。〔證〕</p>
<p>（三）又，其物是水沫化之，煮時猶是水。入腹中之後，便令人不小便。故知益人也。〔證〕</p>
<p>（四）又，有食之人，亦不見所損。此看之，將是有益耳。亦名以下魚。〔證〕</p>

<h1>卷下</h1>

<h2>胡麻</h2>
<p>（一）（胡麻）：潤五臟，主火灼。山田種，為四稜。土地有異，功力同。休糧人重之。填骨髓，補虛氣。〔證〕</p>
<p>（二）（青蘘）：生杵汁，沐頭髮良。牛傷熱亦灌之，立愈。〔證〕</p>
<p>（三）（胡麻油）：主喑瘂，塗之生毛髮。〔證〕</p>

<h2>白油麻</h2>
<p>（一）大寒，無毒。治虛勞，滑腸胃，行風氣，通血脈，去頭浮風，潤肌。食後生啖一合，終身不輟。與乳母食，其孩子永不病生。若客熱，可作飲汁服之。停久者，發霍亂。又，生嚼敷小兒頭上諸瘡良。久食抽人肌肉。生則寒，炒則熱。〔嘉補〕</p>
<p>（二）又，葉：搗和漿水，絞去滓，沐發，去風潤髮。〔嘉補〕</p>
<p>（三）其油：冷。常食所用也。無毒，發冷疾，滑骨髓，發臟腑渴，困脾臟，殺五黃，下三焦熱毒氣，通大小腸，治蛔心痛，敷一切瘡疥癬，殺一切蟲。取油一合，雞子兩顆，芒硝一兩，攪服之，少時即瀉，治熱毒甚良。治飲食物，須逐日熬熟用，經宿即動氣。有牙齒並脾胃疾人，切不可吃。陳者煎膏，生肌長肉，止痛，消癰腫，補皮裂。〔嘉補〕</p>

<h2>麻蕡（麻子）〈微寒〉</h2>
<p>（一）治大小便不通，發落，破血，不飢，能寒。取汁煮粥，去五臟風，潤肺，治關節不通，發落，通血脈，治氣。〔證〕</p>
<p>（二）青葉：甚長髮。〔證〕</p>
<p>（三）研麻子汁，沐發即生長。〔證〕（四）（消渴）：麻子一升搗，水三升，煮三、四沸，去滓冷服半升，日三，五日即愈。〔心〕</p>
<p>（五）麻子一升，白羊脂七兩，蠟五兩，白蜜一合，和杵，蒸食之，不飢。〔證〕</p>
<p>（六）《洞神經》又取大麻，日中服子末三升。東行茱萸根剉八升，漬之。平旦服之二升，至夜蟲下。〔證〕</p>
<p>（七）要見鬼者，取生麻子，菖蒲，鬼臼等分杵為丸，彈子大。每朝向日服一丸。服滿百日即見鬼也。〔證〕</p>

<h2>飴糖</h2>
<p>（一）餳糖：補虛，止渴，健脾胃氣，去留血，補中。白者，以蔓菁汁煮，頓服之。〔嘉〕</p>
<p>（二）主吐血，健脾。凝強者為良。主打損瘀血，熬令焦，和酒服之，能下惡血。〔證〕</p>
<p>（三）又，傷寒大毒嗽，於蔓菁、薤汁中煮一沸，頓服之。〔證〕</p>

<h2>大豆〈平〉</h2>
<p>（一）主霍亂吐逆。〔心〕</p>
<p>（二）微寒。主中風腳弱，產後諸疾。若和甘草煮湯飲之，去一切熱毒氣。〔證〕</p>
<p>（三）善治風毒腳氣，煮食之，主心痛，筋攣，膝痛，脹滿。殺烏頭、附子毒。〔證〕</p>
<p>（四）大豆黃屑：忌豬肉。小兒不得與炒豆食之。若食了，忽食豬肉，必壅氣致死，十有八九。十歲以上者不畏也。〔證〕</p>
<p>（五）（大豆）卷：蘖長五分者，破婦人惡血，良。〔證〕</p>
<p>（六）大豆：寒。和飯搗塗一切毒腫。療男女陰腫，以綿裹內之。殺諸藥毒。〔嘉〕</p>
<p>（又，生搗和飲，療一切毒，服、塗之。）〔心〕</p>
<p>（七）謹按：煮飲服之，去一切毒氣，除胃中熱痹，傷中，淋露，下淋血，散五臟結積內寒。和桑柴灰汁煮服，下水鼓腹脹。〔心·嘉〕</p>
<p>（八）其豆黃：主濕痹，膝痛，五臟不足氣，胃氣結積，益氣潤肌膚。末之，收成煉豬膏為丸，服之能肥健人。〔嘉〕</p>
<p>（九）又，卒失音，生大豆一升，青竹筭子四十九枚，長四寸，闊一分，和水煮熟，日夜二服，瘥。〔嘉〕</p>
<p>（十）又，每食後，淨磨拭，吞雞子大，令人長生。初服時似身重，一年以後，便覺身輕。又益陽道。〔心·嘉〕</p>

<h2>薏苡仁〈平〉</h2>
<p>去幹濕腳氣，大驗。〔嘉〕</p>

<h2>赤小豆</h2>
<p>（一）和鯉魚爛煮食之，甚治腳氣及大腹水腫。別有諸治，具在魚條中。散氣，去關節煩熱。令人心孔開，止小便數。綠、赤者並可食。〔證〕</p>
<p>（二）止痢。暴痢後，氣滿不能食。煮一頓服之即愈。〔心·證〕</p>
<p>（三）（毒腫）末赤小豆和雞子白，薄之，立瘥。〔心〕</p>
<p>（四）（風搔隱疹）：煮赤小豆，取汁停冷洗之，不過三、四。〔心〕</p>

<h2>青小豆〈寒〉</h2>
<p>療熱中，消渴，止痢，下脹滿。〔心〕</p>

<h2>酒</h2>
<p>（一）味苦。主百邪毒，行百藥。當酒臥，以扇扇，或中惡風。久飲傷神損壽。〔嘉〕</p>
<p>（二）謹按：中惡疰杵，熱暖姜酒一碗，服即止。〔嘉〕</p>
<p>（三）又，通脈，養脾氣，扶肝。陶隱居云：「大寒凝海，惟酒不冰」。量其熱性故也。久服之，厚腸胃，化筋。初服之時，甚動氣痢。與百藥相宜。只服丹砂人飲之，即頭痛吐熱。〔嘉〕</p>
<p>（四）又，服丹石人，胸背急悶熱者，可以大豆一升，熬令汗出，簸去灰塵，投二升酒中。久時頓服之，少頃即汗出瘥。朝朝服之，甚去一切風。婦人產後諸風，亦可服之。〔嘉〕</p>
<p>（五）又，熬雞屎如豆淋酒法作，名曰紫酒。卒不語、口偏者，服之甚效。〔嘉〕</p>
<p>（六）昔有人常服春酒，令人肥白矣。〔嘉〕</p>
<p>（七）紫酒：治角弓風。〔證〕</p>
<p>（八）姜酒：主偏風中惡。〔證〕</p>
<p>（九）桑椹酒：補五臟，明耳目。〔證〕</p>
<p>（十）蔥豉酒：解煩熱，補虛勞。〔證〕</p>
<p>（十一）蜜酒：療風疹。〔證〕</p>
<p>（十二）地黃，牛膝，虎骨，仙靈脾，通草，大豆，牛蒡，枸杞等，皆可和釀作酒，在別方。〔證〕</p>
<p>（十三）蒲桃子釀酒，益氣調中，耐飢強志，取藤汁釀酒亦佳。〔證〕</p>
<p>（十四）狗肉汁釀酒，大補。〔證〕</p>

<h2>粟米</h2>
<p>陳者止痢，甚壓丹石熱。顆粒小者是。今人間多不識耳。其粱米粒粗大，隨色別之。南方多畬田種之。極易舂，粒細，香美，少虛怯。只為灰中種之，又不鋤治故也。得北田種之，若不鋤之，即草翳死。若鋤之，即難舂。都由土地使然耳。但取好地，肥瘦得所由，熟犁。又細鋤，即得滑實。〔嘉〕</p>

<h2>秫米</h2>
<p>（一）其性平。能殺瘡疥毒熱。擁五臟氣，動風，不可常食。北人往往有種者，代米作酒耳。〔嘉〕</p>
<p>（二）又，生搗和雞子白，敷毒腫良。〔嘉〕</p>
<p>（三）根：煮作湯，洗風。〔嘉〕</p>
<p>（四）又，米一石，曲三升，和地黃一斤，茵陳蒿一斤，炙令黃，一依釀酒法。服之治筋骨攣急。〔嘉〕</p>

<h2>穬麥</h2>
<p>主輕身，補中。不動疾。〔嘉〕</p>

<h2>粳米〈平〉</h2>
<p>（一）主益氣，止煩（止）泄。其赤則粒大而香，不禁水停。其黃綠即實中。〔嘉〕</p>
<p>（二）又，水漬有味，益人。都大新熟者，動氣。經再年者，亦發病。江南貯倉人皆多收火稻。其火稻宜人，溫中益氣，補下元。燒之去芒。春舂米食之，即不發病耳。〔嘉〕</p>
<p>（三）倉粳米：炊作乾飯食之，止痢。又補中益氣，堅筋骨，通血脈，起陽道。〔嘉·證〕</p>
<p>（四）北人炊之於甕中，水浸令酸，食之暖五臟六腑之氣。〔嘉·證〕</p>
<p>（五）久陳者，蒸作飯，和醋封毒腫，立瘥。〔嘉〕</p>
<p>（又，毒腫惡瘡：久陳者，蒸作飯，和酢封腫上，立瘥。）〔證〕</p>
<p>（六）又，研服之，去卒心痛。〔嘉〕</p>
<p>（七）白粳米汁：主心痛，止渴，斷熱毒痢。〔嘉〕</p>
<p>（八）若常食乾飯，令人熱中，唇口乾。不可和蒼耳食之，令人卒心痛，即急燒倉米灰，和蜜漿服之，不爾即死。不可與馬肉同食之，發痼疾。〔嘉〕</p>
<p>（九）淮泗之間米多。京都、襄州土粳米亦香、堅實。又，諸處雖多，但充飢而已。〔證〕</p>
<p>（十）性寒。擁諸經胳氣，使人四肢不收，昏昏饒睡。發風動氣，不可多食。〔心䏸〕</p>

<h2>青粱米</h2>
<p>（一）以純苦酒一斗漬之，三日出，百蒸百曝，好裹藏之。遠行一餐，十日不飢。重餐，四百九十日不飢。〔嘉〕</p>
<p>（二）又方，以米一斗，赤石脂三斤，合以水漬之，令足相淹。置於暖處二三日。上青白衣，搗為丸，如李大。日服三丸，不飢。〔嘉〕</p>
<p>（三）謹按：《靈寶五符經》中，白鮮米九蒸九曝，作辟穀糧。此文用青粱米，未見有別出處。其米微寒，常作飯食之。澀於黃，如白米，體性相似。〔嘉〕</p>

<h2>白粱米</h2>
<p>（一）患胃虛並嘔吐食及水者，用米汁二合，生薑汁一合，和服之。〔心·嘉〕</p>
<p>（二）性微寒。除胸膈中客熱，移易五臟氣，續筋骨。此北人長食者是，亦堪作粉。〔心䏸·嘉〕</p>

<h2>黍米〈寒〉</h2>
<p>（一）患鱉瘕者，以新熟赤黍米，淘取泔汁，生服一升，不過三兩度愈。〔嘉〕</p>
<p>（二）謹按：性寒，有少毒。不堪久服，昏五臟，令人好睡。仙家重此。作酒最勝余米。〔嘉〕</p>
<p>（三）又，燒為灰，和油塗杖瘡，不作𤻷，止痛。〔嘉〕</p>
<p>（四）不得與小兒食之，令兒不能行。若與小貓、犬食之，其腳便踻曲，行不正。緩人筋骨，絕血脈。〔心·嘉〕</p>
<p>（五）合葵菜食之，成痼疾。於黍米中藏干脯通。《食禁》云：牛肉不得和黍米、白酒食之，必生寸白蟲。〔證〕</p>
<p>（六）黍之莖穗：人家用作提拂，以將掃地。食苦瓠毒，煮汁飲之即止。〔證〕</p>
<p>（七）又，破提掃煮取汁，浴之去浮腫。〔證〕</p>
<p>（八）又，和小豆煮汁，服之下小便。〔證〕</p>

<h2>稷</h2>
<p>（一）益氣，治諸熱，補不足。　〔心·嘉〕</p>
<p>（二）山東多食。服丹石人發熱，食之熱消也。發三十六種冷病氣。八谷之中，最為下苗。黍乃作酒，此乃作飯，用之殊途。〔嘉〕</p>
<p>（三）不與瓠子同食，令冷病發。發即黍釀汁，飲之即瘥。〔嘉〕</p>

<h2>小麥〈平〉</h2>
<p>（一）養肝氣，煮飲服之良。服之止渴。〔嘉·證〕</p>
<p>（二）又云：面有熱毒者，為多是陳黦之色。〔嘉·證〕</p>
<p>（三）又，為磨中石末在內，所以有毒，但杵食之即良。〔證〕</p>
<p>（四）又宜作粉食之，補中益氣，和五臟，調經絡，續氣脈。〔嘉·證〕</p>
<p>（五）又，炒粉一合，和服斷下痢。〔嘉〕</p>
<p>（六）又，性主傷折，和醋蒸之，裹所傷處便定。重者，再蒸裹之，甚良。〔嘉〕</p>

<h2>大麥</h2>
<p>（一）久食之，頭髮不白。和針沙、沒石子等染髮黑色。〔嘉〕</p>
<p>（二）暴食之，（亦稍似）令腳弱，為（下氣及）腰腎間氣故也。久服即好，甚宜人。〔心·嘉〕</p>
<p>（三）熟即益人，帶生即冷，損人。〔嘉〕</p>

<h2>曲</h2>
<p>（一）味甘，大暖。療臟腑中風氣，調中下氣，開胃消宿食。主霍亂，心膈氣，痰逆　。除煩，破癥結及補虛，去冷氣，除腸胃中塞、不下食。令人有顏色。六月作者良。陳久者入藥。用之當炒令香。〔嘉補〕</p>
<p>（二）六畜食米脹欲死者，煮曲汁灌之，立消。落胎，並下鬼胎。〔嘉補〕</p>
<p>（三）又，神麯，使，無毒。能化水穀，宿食，症氣。健脾暖胃。〔嘉補〕</p>

<h2>蕎麥〈寒〉</h2>
<p>（一）難消，動熱風。不宜多食。〔心〕</p>
<p>（二）雖動諸病，猶壓丹石。能練五臟滓穢，續精神。其葉可煮作菜食，甚利耳目，下氣。其荎（莖）為灰，洗六畜瘡疥及馬掃蹄至神。〔心䏸〕</p>
<p>（蕎麥）　</p>
<p>（三）味甘平，寒，無毒。實腸胃，益氣力，久食動風，令人頭眩。和豬肉食之，患熱風，脫人眉須。雖動諸病，猶挫丹石。能煉五臟滓穢，續精神。作飯與丹石人食之，良。其飯法：可蒸使氣餾，於烈日中曝，令口開。使舂取人作飯。葉作茹食之，下氣，利耳目。多食即微泄。燒其穰作灰，淋洗六畜瘡，並驢馬躁蹄。〔嘉補〕</p>

<h2>藊豆（扁豆）〈微寒〉</h2>
<p>（一）主嘔逆，久食頭不白。患冷氣人勿食。〔證〕</p>
<p>（二）療霍亂吐痢不止，末和醋服之，下氣。〔嘉〕</p>
<p>（三）其葉治瘕，和醋煮。理轉筋，葉汁醋服效。〔證〕</p>
<p>（四）又，吐痢後轉筋，生搗葉一把，以少酢浸，取汁服之，立瘥。〔嘉〕</p>
<p>（五）其豆如綠豆，餅食亦可。〔嘉〕</p>

<h2>豉</h2>
<p>（一）能治久盜汗患者，以二升微炒令香，清酒三升漬。滿三日取汁，冷暖任人服之，不差，更作三兩劑即止。〔嘉〕</p>
<p>（二）陝府豉汁甚勝於常豉。以大豆為黃蒸，每一斗加鹽四升，椒四兩，春三日，夏二日，冬五日即成。半熟，加生薑五兩，既潔且精，勝埋於馬糞中。黃蒸，以好豉心代之。　〔證〕</p>

<h2>綠豆（綠豆）〈平〉</h2>
<p>（一）諸食法，作餅炙食之佳。〔嘉〕</p>
<p>（二）謹按：補益，和五臟，安精神，行十二經脈。此最為良。今人食，皆撻去皮，即有少擁氣。若愈病，須和皮，故不可去。〔嘉〕</p>
<p>（三）又，研汁煮飲服之，治消渴。〔嘉〕</p>
<p>（四）又，去浮風，益氣力，潤皮肉。可長食之。〔嘉〕</p>

<h2>白豆</h2>
<p>平，無毒。補五臟，益中，助十二經脈，調中，暖腸胃。葉：利五臟，下氣。嫩者可作菜食。生食之亦妙，可常食。〔嘉補〕</p>

<h2>醋（酢酒）</h2>
<p>（一）多食損人胃。消諸毒氣，煞邪毒。能治婦人產後血氣運：取美清醋，熱煎，稍稍含之即愈。〔心·嘉〕</p>
<p>（二）又，人口有瘡，以黃蘖皮醋漬，含之即愈。〔嘉〕</p>
<p>（三）又，牛馬疫病，和灌之。〔嘉〕</p>
<p>（四）服諸藥，不可多食。不可與蛤肉同食，相反。〔嘉〕</p>
<p>（五）又，江外人多為米醋，北人多為糟醋。發諸藥，不可同食。〔嘉〕</p>
<p>（六）（酢）研青木香服之，止卒心痛、血氣等。〔心·嘉〕</p>
<p>（七）又，大黃塗腫，米醋飛丹用之。〔嘉〕</p>
<p>（八）治痃癖，醋煎大黃，生者甚效。〔證〕</p>
<p>（九）用米醋佳，小麥醋不及。糟多妨忌。大麥醋，微寒。余如小麥（醋）也。〔證〕</p>
<p>（十）氣滯風壅，手臂、腳膝痛：炒醋糟裹之，三兩易，當差。人食多，損腰肌臟。〔證〕</p>

<h2>糯米〈寒〉</h2>
<p>（一）使人多睡。發風，動氣，不可多食。〔嘉〕</p>
<p>（二）又，霍亂後吐逆不止。清水研一碗，飲之即止。〔嘉〕</p>

<h2>醬</h2>
<p>（一）主火毒，殺百藥。發小兒無辜。〔證〕</p>
<p>（二）小麥醬：不如豆。〔證〕</p>
<p>（三）又，榆仁醬：亦辛美，殺諸蟲，利大小便，心腹惡氣。不宜多食。〔證〕</p>
<p>（四）又，蕪荑醬：功力強於榆仁醬。多食落髮。〔證〕</p>
<p>（五）獐、雉、兔、及鱧魚醬，皆不可多食。為陳久故也。〔證〕</p>

<h2>葵（冬葵）〈冷〉</h2>
<p>（一）主疳瘡生身面上、汁黃者：可取根作灰，和豬脂塗之。〔嘉〕</p>
<p>（二）其性冷，若熱食之，亦令人熱悶。甚動風氣。久服丹石人時吃一頓，佳也。〔心·嘉〕</p>
<p>（三）冬月，葵菹汁。服丹石人發動，舌乾咳嗽，每食後飲一盞，便臥少時。〔嘉〕</p>
<p>（四）其子，患瘡者吞一粒，便作頭。〔嘉〕</p>
<p>（五）主患腫未得頭破者，三日後，取葵子二百粒，吞之，當日瘡頭開。〔證〕</p>
<p>（六）女人產時，可煮，頓服之佳。若生時困悶，以子一合，水二升，煮取半升，去滓頓服之，少時便產。〔嘉〕</p>
<p>（又，凡有難產，若生未得者，取一合搗破，以水二升，煮取一升以下，只可半升，去滓頓服之，則小便與兒便出。切須在意，勿上廁。昔有人如此，立撲兒入廁中。）〔證〕</p>
<p>（七）又，（苗葉）細剉，以水煎服一盞食之，能滑小腸。〔證〕</p>
<p>（八）（葉）：女人產時，煮一頓食，令兒易生。〔證〕</p>
<p>（九）（根）：天行病後，食一頓，便失目。〔證〕</p>
<p>（十）吞錢不出，（根）煮汁，冷飲之，即出。〔證〕</p>
<p>（十一）無蒜勿食。四季月食生葵，令飲食不消化，發宿疾。〔證〕</p>
<p>（十二）又，霜葵生食，動五種留飲。黃葵尤忌。〔證〕</p>

<h2>莧（莧菜）</h2>
<p>（一）補氣，除熱。其子明目。九月霜後採之。〔嘉〕</p>
<p>（二）葉：食亦動氣，令人煩悶，冷中損腹。〔嘉·證〕</p>
<p>（三）不可與鱉肉同食，生鱉症。又取鱉甲如豆片大者，以莧菜封裹之，置於土坑內，上以土蓋之，一宿盡變成鱉兒也。〔證〕</p>
<p>（四）又，五月五日採莧菜和馬齒莧為末，等分。調與妊娠，服之易產。〔證〕</p>

<h2>胡荽〈平〉</h2>
<p>（一）利五臟，補筋脈。主消穀能食。若食多，則令人多忘。〔心·證〕</p>
<p>（二）又，食著諸毒肉，吐、下血不止，頓痜黃者：取淨胡荽子一升，煮使腹破，取汁停冷，服半升，一日一夜二服即止。〔證〕</p>
<p>（三）又，狐臭䘌齒病人不可食，疾更加。久冷人食之，腳弱。患氣，彌不得食。〔證〕</p>
<p>（四）又，不得與斜蒿同食。食之令人汗臭，難差。〔證〕</p>
<p>（五）不得久食，此是薰菜，損人精神。〔證〕</p>
<p>（六）秋冬搗子，醋煮熨腸頭出，甚效。〔證〕</p>
<p>（七）可和生菜食，治腸風。熱餅裹食甚良。〔證〕</p>
<p>（八）利五臟不足，不可多食，損神。〔心䏸〕</p>
<p>（胡荽）</p>
<p>（九）味辛溫一云微寒，微毒。消穀，治五臟，補不足。利大小腸，通小腹氣，拔四胑熱，止頭痛，療沙疹，豌豆瘡不出，作酒歕之立出。通心竅，久食令人多忘。發腋臭、腳氣。〔嘉補〕</p>
<p>（十）根：發痼疾。〔嘉補〕</p>
<p>（十一）子：主小兒禿瘡，油煎敷之。亦主蠱、五痔及食肉中毒下血：煮，冷取汁服。幷州人呼為「香荽」。入藥炒用。〔嘉補〕</p>

<h2>邪蒿</h2>
<p>味辛，溫、平，無毒。似青蒿細軟。主胸膈中臭爛惡邪氣。利腸胃，通血脈，續不足氣。生食微動風氣，作羹食良。不與胡荽同食，令人汗臭氣。〔嘉補〕</p>

<h2>同蒿〈平〉</h2>
<p>主安心氣，養脾胃，消水飲。又，動風氣，燻人心，令人氣滿，不可多食。〔嘉補〕</p>

<h2>羅勒</h2>
<p>（一）味辛，溫，微毒。調中消食，去惡氣，消水氣，宜生食。又，療齒根爛瘡，為灰用甚良。不可過多食，壅關節，澀榮衛，令血脈不行。又，動風發腳氣。患啘，取汁服半合，定。冬月用乾者煮之。〔嘉補〕</p>
<p>（二）子：主目翳及物入目，三五顆致目中，少頃當濕脹，與物俱出。又，療風赤眵淚。〔嘉補〕</p>
<p>（三）根：主小兒黃爛瘡，燒灰敷之佳。北人呼為「蘭香」，為石勒諱也。〔嘉補〕</p>

<h2>石胡荽〈寒〉</h2>
<p>無毒。通鼻氣，利九竅，吐風痰，不任食。亦去翳，熟挼內鼻中，翳自落。俗名「鵝不食草」。〔嘉補〕</p>

<h2>蔓菁（蕪菁）〈溫〉</h2>
<p>（一）消食，下氣，治黃疸，利小便。根主消渴，治熱毒風腫。食，令人氣脹滿。〔嘉·證〕</p>
<p>（二）其子：九蒸九曝，搗為粉，服之長生。壓油，塗頭，能變蒜髮。〔嘉〕</p>
<p>（三）又，研子入面脂，極去皺。〔嘉〕</p>
<p>（四）又，搗子，水和服，治熱黃、結實不通，少頃當瀉一切惡物，沙石草發並出。又利小便。〔嘉〕</p>
<p>（五）又，女子妒乳腫，取其根生搗後，和鹽醋漿水煮，取汁洗之，五、六度瘥。又搗和雞子白封之，亦妙。〔嘉〕</p>

<h2>冬瓜〈寒〉</h2>
<p>（一）上主治小腹水鼓脹。〔卷〕</p>
<p>（二）又，利小便，止消渴。〔卷〕</p>
<p>（三）又，其子：主益氣耐老，除心胸氣滿，消痰止煩。〔卷·嘉·證〕</p>
<p>（四）又，冬瓜子七升，（以）絹袋盛（之），投三沸湯中，須臾（出），曝乾，又內湯中，如此三度乃止。曝乾。與清苦酒浸之一宿，曝乾為末，服之方寸匕，日二服，令人肥悅。　〔卷·嘉·證〕</p>
<p>（五）又，明目，延年不老。〔卷·嘉〕</p>
<p>（六）案經：壓丹石，去頭面熱風。〔卷·心䏸·嘉〕</p>
<p>（七）又，熱發者服之食。患冷人勿食之，令人益瘦。〔卷·嘉〕</p>
<p>（八）取冬瓜一顆，和桐葉與豬食之。一冬更不食諸物，（自然不飢），其豬肥長三、四倍矣。〔卷·證〕</p>
<p>（九）又，煮食之，能煉五臟精細。欲得肥者，勿食之，為下氣。欲瘦小輕健者，食之甚健人。〔卷·證〕</p>
<p>（十）又，冬瓜人三（五）升，退去皮殼，（搗）為丸。空腹及食後各服廿丸，令人面滑靜如玉。可入面脂中用。〔卷·嘉〕</p>

<h2>濮瓜</h2>
<p>孟詵說：肺熱消渴，取濮瓜去皮，每食後嚼吃三二兩，五七度良。〔證〕</p>

<h2>甜瓜〈寒〉</h2>
<p>（一）上止渴，（益氣），除煩熱。多食令人陰下癢濕，生瘡。〔卷·證〕</p>
<p>（二）又，發癉黃，動宿冷病，患癥瘕人不可食瓜。（若食之飽脹，入水自消。）〔卷·心·證〕</p>
<p>（三）其瓜蒂：主治身面四肢浮腫，殺蠱，去鼻中息肉，陰癉黃及急黃。〔卷·證〕</p>
<p>（四）又，生瓜葉：搗取汁，治人頭不生毛髮者，塗之即生。〔卷·證〕</p>
<p>（五）案經：多食令人羸惙虛弱，腳手少力。其子熱，補中焦，宜人。其肉止渴，利小便，通三焦間擁塞氣。〔卷·證〕</p>
<p>（六）又方，瓜蒂七枚，丁香七枚，（小豆七粒），搗為末，吹（黑豆許於）鼻中，少時治癰氣，黃汁即出，瘥。〔卷·證〕</p>
<p>（七）又，補中打損折，碾末酒服去瘀血，治小兒疳。《龍魚河圖》云：瓜有兩鼻者殺人。沉水者殺人。食多飽脹，可食鹽，化成水。〔證〕</p>
<p>（甜瓜）</p>
<p>（八）寒，有毒。止渴，除煩熱，多食令人陰下濕癢，生瘡。動宿冷病，發虛熱，破腹。又，令人惙惙弱，腳手無力。少食即止渴，利小便，通三焦間擁塞氣。兼主口鼻瘡。〔嘉補〕</p>
<p>（九）葉：治人無發，搗汁塗之即生。〔嘉補〕</p>

<h2>胡瓜〈寒〉</h2>
<p>（一）不可多食，動風及寒熱。又發痁瘧，兼積瘀血。〔卷·心〕</p>
<p>（二）案：多食令人虛熱上氣，生百病，消人陰，發瘡（疥），及發痃氣，及腳氣，損血脈。天行後不可食。〔卷·心䏸〕</p>
<p>（三）小兒食，發痢，滑中，生疳蟲。〔卷〕</p>
<p>（四）又，不可和酪食之，必再發。〔卷〕</p>
<p>（五）又，搗根敷胡刺毒腫，甚良。〔卷〕</p>
<p>（胡瓜）</p>
<p>（六）葉：味苦，平，小毒。主小兒閃癖：一歲服一葉，已上斟酌與之。生挼絞汁服，得吐、下。〔嘉補〕</p>
<p>（七）根：搗敷胡刺毒腫。〔嘉補〕</p>
<p>（八）其實：味甘，寒，有毒。不可多食，動寒熱，多瘧病，積瘀熱，發疰氣，令人虛熱上逆，少氣，發百病及瘡疥，損陰血脈氣，髮腳氣。天行後不可食。小兒切忌，滑中，生疳蟲。不與醋同食。北人亦呼為黃瓜，為石勒諱，因而不改。〔嘉補〕</p>

<h2>越瓜〈寒〉</h2>
<p>（一）上主治利陰陽，益腸胃，止煩渴，不可久食，發痢。〔卷·心〕</p>
<p>（二）案：此物動風。雖止渴，能發諸瘡。令人虛，腳弱，虛不能行（立）。小兒夏月不可與食，成痢、發蟲。令人腰腳冷，臍下痛。〔卷·心·證〕</p>
<p>（三）患時疾後不可食。〔卷·證〕</p>
<p>（四）不得和牛乳及酪食之。〔卷〕</p>
<p>（五）又，不可空腹和醋食之，令人心痛。〔卷〕</p>

<h2>芥</h2>
<p>（一）主咳逆下氣，明目，去頭面風。大葉者良。煮食之亦動氣，猶勝諸菜。生食發丹石，不可多食。〔卷·心·嘉〕</p>
<p>（二）其子：微熬研之，作醬香美，有辛氣，能通利五臟。〔證〕</p>
<p>（三）其葉不可多食。又，細葉有毛者殺人。〔證〕</p>

<h2>蘿蔔（萊菔）〈冷〉</h2>
<p>（一）利五臟，輕身益氣。〔心·嘉〕</p>
<p>（二）根：消食下氣。甚利關節，除五臟中風，練五臟中惡氣。服之令人白淨肌細。〔心·嘉〕</p>

<h2>菘菜〈溫〉</h2>
<p>（一）治消渴。又發諸風冷。（腹中冷病者不服。）有熱者服之，亦不發病，即明其（菜）性冷。《本草》云「溫」，未解。〔心·證〕</p>
<p>（二）又，消食，亦少下氣。〔證〕</p>
<p>（三）九英菘，出河西，葉極大，根亦粗長。和羊肉甚美。常食之，都不見發病。其冬月作菹，煮作羹食之，能消宿食，下氣治嗽。諸家商略，性冷，非溫。恐誤也。〔證〕</p>
<p>（四）又，北無菘菜，南無蕪菁。其蔓菁子，細。菜子，粗也。〔證〕</p>

<h2>荏子</h2>
<p>（一）主咳逆下氣。〔證〕</p>
<p>（二）其葉性溫。用時搗之。治男子陰腫，生搗和醋封之。女人綿裹內，三、四易。〔嘉·證〕</p>
<p>（三）謹按：子：壓作油用，亦少破氣，多食發心悶。溫。補中益氣，通血脈，填精髓。可蒸令熟，烈日乾之，當口開。舂取米食之，亦可休糧。生食，止渴、潤肺。〔證〕</p>

<h2>龍葵</h2>
<p>（一）主丁腫。患火丹瘡，和土杵敷之尤良。〔證〕</p>
<p>（二）其子療甚妙。其赤珠者名龍珠，久服變發，長黑。令人不老。　〔心〕</p>
<p>（三）其味苦，皆挼去汁食之。〔嘉〕</p>

<h2>苜蓿</h2>
<p>（一）患疸黃人，取根生搗，絞汁服之良。〔嘉〕</p>
<p>（二）又，利五臟，輕身。洗去脾胃間邪氣，諸惡熱毒。少食好，多食當冷氣入筋中，即瘦人。亦能輕身健人，更無諸益。〔嘉〕</p>
<p>（三）彼處人採根作土黃耆也。又，安中，利五臟，煮和醬食之。作羹亦得。〔證〕</p>

<h2>薺</h2>
<p>（一）補五臟不足。葉：動氣。〔心〕</p>
<p>（二）薺子：入治眼方中用。不與面同食。令人背悶。服丹石人不可食。〔嘉〕</p>

<h2>蕨〈寒〉</h2>
<p>（一）補五臟不足。氣壅經絡筋骨間，毒氣。令人腳弱不能行。消陽事，縮玉莖。多食令人發落，鼻塞，目暗。小兒不可食之，立行不得也。〔心·證〕</p>
<p>（二）又，冷氣人食之，多腹脹。〔證〕</p>

<h2>翹搖（小巢菜）</h2>
<p>（一）療五種黃病：生搗汁，服一升，日二，瘥。〔證〕</p>
<p>（二）甚益人，和五臟，明耳目，去熱風，令人輕健。長食不厭，煮熟吃，佳。若生吃，令人吐水。〔證〕</p>

<h2>蓼子（蓼實）</h2>
<p>多食令人吐水。亦通五臟擁氣，損陽氣。〔嘉〕</p>

<h2>蔥〈溫〉</h2>
<p>（一）葉：溫。白：平。主傷寒壯熱、出汗；中風，面目浮腫，骨節頭疼，損髮鬢。〔證〕</p>
<p>（二）蔥白及須：平。通氣，主傷寒頭痛。〔證〕</p>
<p>（三）又，治瘡中有風水，腫疼、秘澀：取青葉同乾薑、黃蘖相和，煮作湯，浸洗之，立愈。〔嘉·證〕</p>
<p>（四）冬蔥最善，宜冬月食，不宜多。只可和五味用之。虛人患氣者，多食發氣，上衝人，五臟閉絕，虛人胃。開骨節，出汗，故溫爾。〔嘉·證〕</p>
<p>（五）少食則得，可作湯飲。不得多食，恐拔氣上衝人，五臟悶絕。切不可與蜜相和，食之促人氣，殺人。〔證〕</p>
<p>（六）又，止血衄，利小便。〔證〕</p>

<h2>韭</h2>
<p>（一）冷氣人，可煮，長服之。〔心〕</p>
<p>（二）熱病後十日，不可食熱韭，食之即發睏。〔嘉〕</p>
<p>（三）又，胸痹，心中急痛如錐刺，不得俯仰，白汗出。或痛徹背上，不治或至死：可取生韭或根五斤，洗，搗汁灌少許，即吐胸中惡血。〔嘉〕</p>
<p>（四）亦可作菹，空心食之，甚驗。此物炸熟，以鹽、醋空心吃一碟，可十頓以上。甚治胸膈嚥氣，利胸膈，甚驗。〔證〕</p>
<p>（五）初生孩子，可搗根汁灌之，即吐出胸中惡血，永無諸病。〔證〕</p>
<p>（六）五月勿食韭。若值時饉之年，可與米同功。種之一畝，可供十口食。〔證〕</p>

<h2>薤</h2>
<p>（一）輕身耐老。療金瘡、生肌肉：生搗薤白，以火封之。更以火就炙，令熱氣徹瘡中，干則易之。〔證〕</p>
<p>（二）療諸瘡中風水腫，生搗，熱塗上，或煮之。〔嘉〕</p>
<p>（三）白色者最好。雖有辛氣，不葷人五臟。〔嘉·證〕</p>
<p>（四）又，發熱病，不宜多食。三月勿食生者。〔證〕</p>
<p>（五）又，治寒熱，去水氣，溫中，散結氣：可作羹。〔證〕</p>
<p>（六）（心腹脹滿）：可作宿菹，空腹食之。〔心〕</p>
<p>（七）又，治女人赤白帶下。〔證〕</p>
<p>（八）學道人長服之，可通神靈，甚安魂魄，益氣，續筋力。〔心·嘉·證〕</p>
<p>（九）骨骾在咽不去者，食之即下。〔證〕</p>

<h2>荊芥（假蘇）〈溫〉</h2>
<p>（一）辟邪氣，除勞，傳送五臟不足氣，助脾胃。多食薰人五臟神。通利血脈，發汗，動渴疾。〔嘉·證〕</p>
<p>（二）又，杵為末，醋和封風毒腫上。〔證〕</p>
<p>（三）患丁腫，荊芥一把，水五升，煮取二升，冷，分二服。〔證〕</p>
<p>（四）荊芥一名菥蓂。〔遺〕</p>

<h2>菾菜</h2>
<p>（一）又，搗汁與時疾人服，瘥。〔嘉〕</p>
<p>（二）子：煮半生，搗取汁，含，治小兒熱。〔嘉〕</p>

<h2>紫蘇</h2>
<p>除寒熱，治冷氣。〔嘉〕</p>

<h2>雞蘇（水蘇）</h2>
<p>（一）一名水蘇。熟搗生葉，綿裹塞耳，療聾。〔嘉〕</p>
<p>（二）又，頭風目眩者，以清酒煮汁一升服。產後中風，服之彌佳。〔嘉〕</p>
<p>（三）可燒作灰汁及以煮汁洗頭，令髮香，白屑不生。〔嘉〕</p>
<p>（四）又，收訖釀酒及漬酒，常服之佳。〔嘉〕</p>

<h2>香葇（香薷）〈溫〉</h2>
<p>（一）又云香戎。去熱風。生菜中食，不可多食。〔嘉〕</p>
<p>（二）卒轉筋，可煮汁頓服半升，止。〔嘉〕</p>
<p>（三）又，乾末止鼻衄，以水服之。〔嘉〕</p>

<h2>薄荷〈平〉</h2>
<p>解勞。與薤相宜。發汗，通利關節。杵汁服，去心臟風熱。〔證〕</p>

<h2>秦荻梨</h2>
<p>（一）於生菜中最香美，甚破氣。〔嘉〕</p>
<p>（二）又，末之，和酒服，療卒心痛，悒悒，塞滿氣。〔嘉〕</p>
<p>（三）又，子：末以和醋封腫氣，日三易。〔嘉〕</p>

<h2>瓠子〈冷〉</h2>
<p>（一）上主治消渴。患惡瘡，患腳氣虛腫者，不得食之，加甚。〔卷·嘉〕</p>
<p>（二）案經：治熱風，及服丹石人始可食之。除此，一切人不可食也。患冷氣人食之，加甚。又發痼疾。〔卷·嘉〕</p>

<h2>大蒜（葫）〈熱〉</h2>
<p>（一）除風，殺蟲、毒氣。〔心·證〕</p>
<p>（二）久服損眼傷肝。治蛇咬瘡，取蒜去皮一升，搗以小便一升，煮三、四沸。通人即入漬損處，從夕至暮。初被咬未腫，速嚼蒜封之，六、七易。〔嘉〕</p>
<p>（三）又，蒜一升去皮，以乳二升，煮使爛。空腹頓服之，隨後飯壓之。明日依前進服，下一切冷毒風氣。〔嘉〕</p>
<p>（四）又，獨頭者一枚，和雄黃、杏人研為丸，空腹飲下三丸，靜坐少時，患鬼氣者，當汗出即瘥。〔嘉〕</p>

<h2>小蒜（蒜）</h2>
<p>（一）主霍亂，消穀，治胃溫中，除邪氣。五月五日採者上。〔證〕</p>
<p>（二）又，去諸蟲毒、丁腫、毒瘡，甚良。不可常食。〔嘉·證〕</p>

<h2>胡蔥〈平〉</h2>
<p>（一）主消穀，能食。久食之，令人多忘。根：發痼疾。〔證〕</p>
<p>（二）又，食著諸毒肉，吐血不止，痿黃悴者：取子一升洗　，煮使破，取汁停冷。服半升，日一服，夜一服，血定止。〔證〕</p>
<p>（三）又，患狐臭、䘌齒人不可食，轉極甚。〔證〕</p>
<p>（四）謹按：利五臟不足氣，亦傷絕血脈氣。多食損神，此是熏物耳。〔證〕</p>

<h2>蓴菜</h2>
<p>（一）和鯽魚作羹，下氣止嘔。多食動痔。雖冷而補。熱食之，亦擁氣不下。甚損人胃及齒，不可多食，令人顏色惡。〔心·嘉〕</p>
<p>（二）又，不宜和醋食之，令人骨痿。少食，補大小腸虛氣。久食損毛髮。〔嘉〕</p>

<h2>水芹〈寒〉</h2>
<p>（一）（食之）養神益力，令人肥健。殺石藥毒。〔心·嘉·證〕</p>
<p>（二）置酒醬中香美。〔嘉〕</p>
<p>（三）於醋中食之，損人齒，黑色。〔心䏸·嘉〕</p>
<p>（四）生黑滑地，名曰「水芹」，食之不如高田者宜人。余田中皆諸蟲子在其葉下，視之不見，食之與人為患。高田者名「白芹」。〔心䏸·嘉〕</p>

<h2>馬齒莧</h2>
<p>（一）延年益壽，明目。〔證〕</p>
<p>（二）又，主馬毒瘡，以水煮，冷服一升，並塗瘡上。〔嘉〕</p>
<p>（三）患濕癬白禿，取馬齒膏塗之。若燒灰敷之，亦良。〔嘉·證〕</p>
<p>（四）作膏：主三十六種風，可取馬齒（莧）一碩，水可二碩，蠟三兩。煎之成膏。〔嘉〕</p>
<p>（五）治疳痢及一切風，敷杖瘡良。〔嘉·證〕</p>
<p>（六）及煮一碗，和鹽、醋等空腹食之，少時當出盡白蟲矣。〔嘉〕</p>
<p>（七）又可細切煮粥，止痢，治腹痛。〔證〕</p>

<h2>落蘇（茄子）〈平〉</h2>
<p>（一）主寒熱，五臟勞。不可多食。動氣，亦發痼疾。熟者少食之，無畏。患冷人不可食，發痼疾。〔嘉·證〕</p>
<p>（二）又，根：主凍腳瘡，煮湯浸之。〔證〕</p>
<p>（三）又，醋摩之，敷腫毒。〔嘉〕</p>

<h2>蘩蔞</h2>
<p>（一）不用令人長食之，恐血盡。或云：薠蔞即藤也，人恐白軟草是。〔證〕</p>
<p>（二）又方，（治隱軫瘡），搗蘩蔞封上。〔心〕</p>
<p>（三）煮作羹食之，甚益人。〔心䏸〕</p>

<h2>（雞腸草）〈溫〉</h2>
<p>（一）作灰和鹽，療一切瘡及風丹遍身如棗大、癢痛者：搗封上，日五、六易之。〔嘉〕</p>
<p>（二）亦可生食，煮作菜食之，益人。去脂膏毒氣。〔嘉·證〕</p>
<p>（三）治一切惡瘡，搗汁敷之，五月五日者驗。〔證〕</p>
<p>（四）又，燒敷疳䘌。亦療小兒赤白痢，可取汁一合，和蜜服之甚良。〔嘉〕</p>

<h2>白苣〈寒〉</h2>
<p>（一）主補筋力。〔心〕</p>
<p>（二）利五臟，開胸膈擁塞氣，通經脈，養筋骨，令人齒白淨，聰明，少睡。可常常食之。有小冷氣人食之，雖亦覺腹冷，終不損人。〔心䏸〕</p>
<p>（三）又，產後不可食之，令人寒中，少腹痛。〔心䏸〕</p>
<p>（白苣）</p>
<p>（四）味苦寒（一云平）。主補筋骨，利五臟，開胸膈擁氣，通經脈，止脾氣。令人齒白，聰明，少睡。可常食之。患冷氣人食，即腹冷，不至苦損人。產後不可食，令人寒中，小腹痛。〔嘉補〕</p>

<h2>落葵</h2>
<p>（一）其子悅澤人面，藥中可用之。〔嘉〕</p>
<p>（二）其子令人面鮮華可愛。取蒸，烈日中曝乾。按去皮，取人細研，和白蜜敷之，甚驗。〔嘉·證〕</p>
<p>（三）食此菜後被狗咬，即瘡不差也。〔證〕</p>

<h2>堇菜</h2>
<p>（一）味苦。主寒熱鼠瘻，瘰癧生瘡，結核聚氣。下瘀血。〔證〕</p>
<p>（二）久食，除心煩熱，令人身重懈惰。又令人多睡，只可一兩頓而已。〔嘉〕</p>
<p>（三）又，搗敷熱腫良。〔嘉〕</p>
<p>（四）又，殺鬼毒，生取汁半升服，即吐出。〔嘉〕</p>
<p>（五）葉：主霍亂。與香薷同功。蛇咬：生研敷之，毒即出矣。〔證〕</p>
<p>（六）又，乾末和油煎成，摩結核上，三、五度便瘥。〔證〕</p>

<h2>蕺菜（魚腥草）〈溫〉</h2>
<p>小兒食之，便覺腳痛，三歲不行。久食之，發虛弱，損陽氣，消精髓，不可食。〔心·嘉〕</p>

<h2>馬芹子</h2>
<p>和醬食諸味良。根及葉不堪食。卒心痛：子作末，醋服。〔嘉〕</p>

<h2>蕓薹（油菜）</h2>
<p>（一）若先患腰膝，不可多食，必加極。〔嘉〕</p>
<p>（二）又，極損陽氣，發口瘡，齒痛。〔嘉〕</p>
<p>（三）又，能生腹中諸蟲。道家特忌。〔嘉〕</p>

<h2>雍菜</h2>
<p>（一）味甘，平，無毒。主解野葛毒，煮食之。亦生搗服之。嶺南種之。蔓生，花白，堪為菜。雲南人先食雍菜，後食野葛，二物相伏，自然無苦。〔嘉補〕</p>
<p>（二）又，取汁滴野葛苗，當時煙死，其相殺如此。張司空云：魏武帝啖野葛至一尺。應是先食此菜也。〔嘉補〕</p>

<h2>菠薐（菠菜）</h2>
<p>冷，微毒。利五臟，通腸胃熱，解酒毒。服丹石人食之佳。北人食肉面即平，南人食魚鱉水米即冷。不可多食，冷大小腸。久食令人腳弱不能行。發腰痛，不與蛆魚同食。發霍亂吐瀉。〔嘉補〕</p>

<h2>苦蕒</h2>
<p>冷，無毒。治面目黃，強力，止困，敷蛇蟲咬。又，汁敷丁腫，即根出。蠶蛾出時，切不可取拗，令蛾子青爛。蠶婦亦忌食。野苦蕒五六回拗後，味甘滑於家苦蕒，甚佳。〔嘉補〕</p>

<h2>鹿角菜</h2>
<p>大寒，無毒，微毒。下熱風氣，療小兒骨蒸熱勞。丈夫不可久食，發痼疾，損經絡血氣，令人腳冷痹，損腰腎，少顏色。服丹石人食之，下石力也。出海州，登、萊沂、密州並有，生海中。又能解面熱。〔嘉補〕</p>

<h2>莙薘（甜菜）</h2>
<p>平，微毒。補中下氣，理脾氣，去頭風，利五臟。冷氣不可多食，動氣。先患腹冷，食必破腹。莖灰淋汁，洗衣白如玉色。〔嘉補〕</p>

<h2>附余</h2>
<p>孟詵方：治產後血運心悶氣絕方。以冷水噀面即醒。〔心〕</p>
<p>孟詵食經方：魚骨哽方取萩去皮，著鼻中，少時瘥。〔心〕</p>
<p>孟詵食經云：擰莖單煮洗浴之。</p>
<p>又方，茺蔚可作浴湯。</p>
<p>又方，煮赤小豆取汁停冷洗，不過三四。</p>
<p>又方，搗蘩蔞封上。〔心〕</p>
<p>白鴿肉：「〔詵曰〕暖」。</p>
<p>「調精益氣，治惡瘡疥癬，風瘡白癜，癧瘍風。炒熟酒服，雖益人，食多恐減藥力。孟詵」。〔《綱目》〕</p>
