<header data-type="book">
<h1>邵氏方案</h1>
</header>

<h1>卷之禮</h1>

<h2>一、虛勞</h2>
<p>（案1）失血之後，繼以咳嗽，今吐厚痰，形肉消削，盜汗脈數。肝肺腎三陰交虧三伏，珍重為囑。</p>
<p>固本湯（二冬、二地、人參）　清阿膠（錢半）　川貝（三錢）　百合（三錢）　北沙參（三錢）　馬兜鈴（七分）　杏仁（三錢）　橘紅（一錢）</p>
<p>（案2）肝肺腎三陰交虧，咳嗽灼熱，形肉消削，脈促經停。怯症已著，至節小心。</p>
<p>固本湯　阿膠（錢半）　川貝（三錢）　百合（三錢）　北沙參（三錢）　山藥（三錢）　橘紅（一錢）</p>
<p>（案3）內熱全除，仍從滋養。</p>
<p>生地（六錢）　阿膠（錢半）　二至丸（女貞、旱蓮）　白薇（三錢）　洋參（錢半）　麥冬（錢半）　生鱉甲（六錢）　橘紅（一錢）　沙參（三錢）　杏仁（三錢）</p>
<p>（案4）素體陰虛，時欲身熱，現在尚有濕熱。只宜清泄。</p>
<p>生鱉甲（六錢）　白薇（錢半）　丹皮（錢半）　四苓散（去朮）　青蒿子（錢半）　桑葉（錢半）　山梔（錢半）</p>
<p>（案5）夜來發熱形寒而起，足肢冰冷，脈象細弦，大便溏泄而腹膨。此陰虛而有邪戀，久延防其涉損。因病延匝月耳。</p>
<p>柴胡（七分）　桂枝（五分）　丹皮（錢半）　櫞皮（七分）　青皮（七分）　歸身（三錢）　桑葉（錢半）　紫菀（一錢）　腹皮（錢半）　陳皮（一錢）</p>
<p>（案6）初起右手臂發為流注，強被刀開，致右手成廢。加以潮熱咳嗽，經停五月，形肉消削，脈象細促。此怯症已成之候也。</p>
<p>洋參（錢半）　阿膠（錢半）　馬兜鈴（七分）　川貝（三錢）　生鱉甲（六錢）　生地（六錢）　沙參（三錢）　大麥仁（三錢）　杏仁（三錢）　青蒿子（三錢）</p>
<p>（案7）自去年九月起夜來潮熱，形肉消削，脈象細促，舌光裂紋。勢成童怯。</p>
<p>洋參（錢半）　二至丸　鱉甲（六錢）　沙參（三錢）　橘紅（一錢）　生地（六錢）　青蒿子（三錢）　白薇（三錢）　川貝（三錢）</p>

<h2>二、表虛</h2>
<p>（案1）表虛易於外感，以玉屏風主方。</p>
<p>防風（錢半）　桂枝（五分）　川貝（三錢）　玉竹（錢半）　黃耆（三錢）　白芍（三錢）　橘紅（一錢）　茯苓（三錢）　黨參（四錢）</p>
<p>（案2）肺虛易於感風，以玉屏風主方。</p>
<p>防風（錢半）　玉竹（三錢）　桑白皮（錢半）　款冬花（錢半）　黃耆（錢半）　川貝（三錢）　馬兜鈴（七分）　冬瓜子（三錢）　沙參（三錢）</p>
<p>（案3）表虛易感，以前法損益。</p>
<p>防風（錢半）　於術（錢半）　半夏（錢半）　茯苓皮（五錢）　歸身（三錢）　黃耆（二錢）　乾薑（五分）　陳皮（一錢）　焦米仁（三錢）　白芍（三錢）　黨參（三錢）</p>
<p>（案4）陽氣不固為盜汗，幸胃寒肝逆未發。</p>
<p>吳萸湯（麗參、萸、薑、棗）　歸身（三錢）　淮麥（三錢）　青皮（七分）　生黃耆（錢半）　白芍（三錢）　棗仁（三錢）　陳皮（一錢）　煨木香（七分）　炙草（五分）</p>
<p>（案5）表虛盜汗，治以補養。</p>
<p>黃耆（三錢）　紅棗（三個）　青皮（七分）　牡蠣（三錢）　生地（六錢）　白芍（三錢）　陳皮（一錢）　龍齒（六錢）　淮麥（三錢）　歸身（三錢）</p>
<p>（案6）正氣漸復，惟表虛易於盜汗。</p>
<p>麗參（一錢）　防風（錢半）　小麥（三錢）　歸身（三錢）　青皮（七分）　桂枝（四分）　黃耆（二錢）　小紅棗（五個）　白芍（三錢）　陳皮（一錢）　冬朮（錢半）</p>
<p>（案7）胃寒肝逆，陽虛及陰為盜汗。</p>
<p>麗參（一錢）　吳萸湯　牡蠣（三錢）　青皮（七分）　甘草（五分）　淮小麥（三錢）　龍齒（五錢）　陳皮（一錢）　白芍（三錢）</p>
<p>（案8）胃氣未發，盜汗不止。</p>
<p>黨參（四錢）　歸身（三錢）　牡蠣（三錢）　棗仁（三錢）　小麥（三錢）　首烏（六錢）　白芍（三錢）　龍齒（五錢）　茯神（三錢）　陳皮（一錢）　吳萸（二分）</p>
<p>（案9）痃瘧之後寒熱錯亂，表虛易感。擬桂枝湯合玉屏風。</p>
<p>玉屏風散（黃耆、防風）　橘紅（一錢）　蘇子（三錢）　桂枝湯（桂、芍、草、薑、棗）　川貝（三錢）</p>
<p>（案10）痃瘧錯亂，惟自汗頗多。</p>
<p>桂枝湯　化肝煎（青、陳）　山梔（錢半）　四苓散（去朮）　丹皮（錢半）</p>
<p>（案11）正陰交虛，夜有盜汗。</p>
<p>黨參（三錢）　龜膠（錢半）　芡實（三錢）　淮小麥（三錢）　熟地（六錢）　連翹（錢半）　牡蠣（三錢）　櫻子膏（一兩，沖）　阿膠（錢半）</p>
<p>（案12）夜來盜汗，表分虛而濕熱蒸也。</p>
<p>玉屏風散（防、耆）　淮小麥（三錢）　溫膽湯（竹茹、半、陳、苓、枳）　小紅棗（五個）</p>
<p>（案13）濕熱化而表分虛。</p>
<p>玉屏風散　茯神（三錢）　龍骨（六錢）　黨參（三錢）　小麥（三錢）　牡蠣（一兩）　棗仁（三錢）　小棗（五個）</p>

<h2>三、咳嗽</h2>
<p>（案1）大腸移熱於肺，先經下痢，繼以咳嗽。姑與泄散。</p>
<p>桑皮（錢半）　杏仁（三錢）　紫菀（錢半）　款冬花（錢半）　象貝（錢半）　兜鈴（七分）　前胡（一錢）　桔梗（一錢）　冬瓜子（三錢）　橘紅（一錢）</p>
<p>（案2）暑風襲肺，濕熱入腸。</p>
<p>前胡（錢半）　桑葉（錢半）　馬兜鈴（七分）　側柏葉（三錢）　荷葉（三錢）　紫菀（錢半）　杏仁（三錢）　刺蝟皮（三錢）　炒槐米（三錢）　藿香（錢半）　桔梗（一錢）　黃柏（錢半）</p>
<p>（案3）肺氣漸平，而脾氣不健。仍從潤肺和脾。</p>
<p>北沙參（三錢）　玉竹（三錢）　雞內金（錢半）　大麥冬（錢半）　川貝（三錢）　香櫞皮（七分）　青皮（七分）　白杏仁（囫圇，三錢）</p>
<p>（案4）脾肺漸和，而正氣漸虛。</p>
<p>黨參（三錢）　川貝（三錢）　茯苓皮（五錢）　杏仁（三錢）　於術（錢半）　蘇子（三錢）　款冬花（錢半）　橘紅（一錢）　米仁（三錢）</p>
<p>（案5）咳嗽久久不愈，加以腹膨氣急。有治脾礙肺，治肺礙脾之弊。</p>
<p>沙參（三錢）　桑皮（錢半）　馬兜鈴（七分）　茯苓皮（五錢）　青皮（七分）　玉竹（三錢）　蘇子（三錢）　五加皮（五錢）　香櫞皮（七分）</p>
<p>（案6）肺陰虛而脾陽不振。</p>
<p>沙參（三錢）　杏仁（三錢）　五加皮（五錢）　雞內金（錢半）　澤瀉（錢半）　玉竹（三錢）　於術（錢半）　茯苓皮（五錢）　香櫞皮（七分）　木香（七分）　川貝（三錢）</p>
<p>（案7）久病脾肺腎三陰交虛，脈右三部軟而無力。先從補氣化痰。</p>
<p>麗參（一錢）　茯苓（三錢）　橘紅（一錢）　玉竹（錢半）　川斷（三錢）　於術（錢半）　川貝（三錢）　沙參（三錢）　杜仲（三錢）</p>
<p>（案8）喉癢咳嗆，浮腫甚於下部。</p>
<p>桑白皮（錢半）　茯苓皮（五錢）　蘇子（三錢）　雞金散（雞金、櫞、沉、砂）　馬兜鈴（七分）　五加皮（五錢）　澤瀉（錢半）　焦米仁（三錢）　白杏仁（三錢）</p>
<p>（案9）咳嗆略減，脾尚不實。宜參補養。</p>
<p>黨參（三錢）　歸身（三錢）　菟絲（三錢）　玉竹（三錢）　茯苓皮（五錢）　於術（錢半）　白芍（三錢）　益智（七分）　川貝（三錢）　五加皮（五錢）　霞膠（錢半）</p>
<p>（案10）病情無毀無譽，但脾肺難同治，姑與養陰潤肺化痰。</p>
<p>首烏（六錢）　麥冬（錢半）　川貝（三錢）　橘紅（一錢）　青皮（七分）　沙參（三錢）　玉竹（三錢）　杏仁（三錢）　蘇子（三錢）</p>
<p>（案11）肝肺腎三陰交虛，治以補養。</p>
<p>生地（六錢）　洋參（錢半）　清阿膠（錢半）　大麥冬（錢半）　橘紅（一錢）　首烏（六錢）　沙參（三錢）　馬兜鈴（七分）　石決明（一兩）　川貝（三錢）　白芍（三錢）</p>
<p>（案12）肺腎陰傷，咳嗽氣急，甚至不能臥下。姑與納下清上。</p>
<p>熟地（六錢）　葶藶（五分、七分）　阿膠（錢半）　川貝（三錢）　杏仁（三錢）　蘇子（三錢）　大黑棗（二個）　兜鈴（七分）　橘紅（一錢）</p>
<p>（案13）肺腎之氣不納，元海無根。草木無功，進求血肉。</p>
<p>坎氣（一條）　蛤蚧尾（二條）　五味（五分）　熟地（六錢）　川貝（三錢）　河車（三錢）　紫石英（四錢）　麥冬（錢半）　玉竹（三錢）　橘紅（一錢）　麗參（一錢）</p>
<p>（案14）脾肺腎三陰交虛，咳嗽久久，加以便溏腹痛，身熱時作。病情叢雜，理之不易。</p>
<p>阿膠散（阿、兜、蒡、杏、米、草）　百花膏（百合、款冬）　山藥（三錢）　青皮（七分）</p>
<p>（案15）咳嗽略減，而大便不實，時有身熱。久延涉怯可虞。</p>
<p>黨參（四錢）　阿膠散（去散品，去牛蒡）　川貝（三錢）　首烏（六錢）　百花膏</p>
<p>（案16）肺腎極虛，欲截嗜好，反受其累。</p>
<p>阿膠散（去散品）　蘇子（三錢）　橘紅（一錢）　玉竹（三錢）　熟地（六錢）　川貝（三錢）　沙參（三錢）</p>
<p>（案17）陰虛內熱之體，肺腎交虛。</p>
<p>洋參（錢半）　黃柏（一錢）　阿膠散（去散品）　川貝母（三錢）　生地（六錢）　知母（錢半）　二至丸（蓮、貞）　桑白皮（錢半）　元參（三錢）</p>
<p>（案18）咳嗽得減，而肺腎之氣不納。</p>
<p>固本湯（二冬、二地、人參）　玉竹（三錢）　杏仁（三錢）　北沙參（三錢）　川貝（三錢）　橘紅（一錢）　大麥冬（錢半）　</p>
<p>（案19）肝腎陰虛，肺陰亦虧。</p>
<p>熟地（六錢）　杏仁（三錢）　川貝（三錢）　首烏（四錢）　茯神（三錢）　橘紅（一錢）　玉竹（三錢）　白芍（三錢）</p>
<p>（案20）肝氣壅塞，加以外感風寒，咳嗽五月之久。肺陰雖傷，尚難遽補。</p>
<p>葶藶（五分、七分）　杏仁（三錢）　款冬花（錢半）　象貝（錢半）　馬兜鈴（七分）　蘇子（三錢）　桑皮（錢半）　冬瓜子（三錢）　橘紅（一錢）</p>
<p>（案21）肝火灼肺，肝氣犯胃。治宜兼顧。</p>
<p>馬兜鈴（七分）　青皮（七分）　沉曲（三錢）　款冬花（錢半）　桑白皮（錢半）　陳皮（一錢）　象貝（錢半）　冬瓜子（三錢）　白杏仁（三錢）</p>
<p>（案22）肺氣漸利，腎關不固。</p>
<p>馬兜鈴（七分）　麥冬（錢半）　生地（六錢）　川貝（三錢）　清阿膠（錢半）　橘紅（一錢）　澤瀉（錢半）　杏仁（三錢）　北沙參（三錢）</p>
<p>（案23）舌化其半，蒸熱得除。仍從祛濕化痰。</p>
<p>三子養親湯　桑皮（錢半）　杏仁（三錢）　丹皮（錢半）　水炙馬兜鈴（七分）　茅朮（一錢）　陳皮（一錢）　青蒿（錢半）</p>
<p>（案24）咳嗽得減，而舌苔垢厚不化。</p>
<p>茅朮（一錢）　二陳湯　馬兜鈴（七分）　蘇子（三錢）　豬苓（三錢）　桑白皮（錢半）　萊菔子（三錢）　杏仁（三錢）　澤瀉（錢半）</p>
<p>（案25）咳嗽吐痰覺冷，此寒痰也。以應夢丸主方。</p>
<p>觀音應夢丸（黨參、胡桃肉）　蘇子（三錢）　橘紅（一錢）　附子（七分）　杏仁（三錢）　茯苓（三錢）　乾薑（五分）　川貝（三錢）</p>
<p>（案26）老咳嗽，感風而發。此肺惡寒也。</p>
<p>應夢丸　沙參（三錢）　杏仁（三錢）　杜蘇子（三錢）　玉竹（三錢）　橘紅（一錢）　白芥子（七分）　川貝（三錢）</p>
<p>（案27）氣逆不降，咳嗽痰升。</p>
<p>葶藶（五分、七分）　黛蛤散（青黛七分、蛤粉五錢）　桑皮（錢半）　川貝母（三錢）　蘇子（三錢）　馬兜鈴（七分）　枇葉（四錢）　冬瓜子（三錢）　杏仁（三錢）</p>
<p>（案28）氣陰虛，痰久不化。</p>
<p>應夢丸　龜膠（三錢）　川貝（三錢）　葶藶黑棗湯　鹿膠（三錢）　橘紅（一錢）　雲茯苓（三錢）　冬朮（錢半）　蘇子（三錢）</p>
<p>（案29）濕痰痹肺，咳嗽氣逆。姑從泄。</p>
<p>五子飲　冬瓜子（三錢）　橘紅（一錢）　款冬花（錢半）　象貝母（三錢）</p>
<p>（案30）舌苔大化，痰漸蒸熱。治以清化。</p>
<p>枇杷葉（四錢）　竹茹（錢半）　蘇子（三錢）　象貝（錢半）　冬瓜子（三錢）　桑皮（錢半）　杏仁（三錢）　橘紅（一錢）　地骨皮（三錢）</p>
<p>（案31）濕熱痰邪阻郁，有咳嗽者不能投燥。</p>
<p>馬兜鈴（七分）　杏仁（三錢）　象貝（三錢）　桑白皮（錢半）　蘇子（三錢）　橘紅（一錢）　四苓散</p>
<p>（案32）濕痰阻而肺氣壅塞，右脅閃痛。</p>
<p>旋覆花（錢半）　竹茹（錢半）　橘紅（一錢）　絲瓜絡（三錢）　桑白皮（錢半）　象貝（錢半）　蘇子（三錢）　瓜蔞仁（三錢）　白杏仁（三錢）</p>
<p>（案33）濕痰痹肺，痰喘氣逆，不能臥下，舌白如積粉。濕痰殊為膠固。</p>
<p>三子養親湯　紫菀（錢半）　款冬花（錢半）　厚朴　杏子湯　橘紅（一錢）　象貝母（錢半）</p>
<p>（案34）內熱得減，而咳嗽帶多。治宜兼顧。</p>
<p>大生地（六錢）　白杏仁（三錢）　桑皮（錢半）　杜仲（三錢）　清阿膠（錢半）　川貝母（三錢）　白薇（三錢）　歸身（三錢）　馬兜鈴（七分）　西洋參（錢半）　橘紅（一錢）</p>
<p>（案35）咳嗽略減，惟五更尚嗆。</p>
<p>馬兜鈴（七分）　象貝（錢半）　款冬花（錢半）　瀉白散（去米，桑皮、地骨、米、草）　橘紅（一錢）　冬瓜子（三錢）　白杏仁（三錢）　生西瓜子殼（五錢）</p>
<p>（案36）咳嗽不減，喉尚癢。稍參潤肺。</p>
<p>黛（七分）　蛤（七錢）　北沙參（三錢）　川貝（三錢）　馬兜鈴（七分）　款冬花（錢半）　杏仁（三錢）　桑白皮（錢半）　冬瓜子（三錢）　生西瓜子殼（五錢）</p>
<p>（案37）素體陰虛，近感溫邪，襲肺為咳嗽。先從表治。</p>
<p>前胡（一錢）　桑皮（錢半）　橘紅（一錢）　紫菀（錢半）　杏仁（三錢）　款冬花（錢半）　桔梗（一錢）　象貝（錢半）　冬瓜子（三錢）</p>
<p>（案38）久瘧屢發展止，今又發咳嗽、足腫。防其轉虛。</p>
<p>前胡（一錢）　象貝（錢半）　枳殼（一錢）　加皮（五錢）　桑皮（錢半）　橘紅（一錢）　桔梗（一錢）　苓皮（五錢）　杏仁（三錢）</p>
<p>（案39）咳嗽略減，舌苔亦化，惟遍體痠楚。血分傷也。</p>
<p>歸身（三錢）　川斷（三錢）　桑白皮（錢半）　旋覆花（錢半）　白芍（三錢）　杏仁（三錢）　馬兜鈴（七分）　絲瓜絡（鴨血炙，三錢）　杜仲（三錢）　青皮（七分）</p>
<p>（案40）咳嗽久久不愈，甚於夜分，脈象細軟。尊年肺陰受傷。</p>
<p>沙參（三錢）　葶藶（五分、七分）　川貝（三錢）　橘紅（一錢）　桑皮（錢半）　玉竹（錢半）　大黑棗（二個）　杏仁（三錢）　蘇子（三錢）</p>
<p>（案41）咳嗽灼熱，脈細形瘦，皆屬虛象，而舌苔白膩，此陰虛而有濕者。治難兼顧。</p>
<p>馬兜鈴（七分）　杏仁（三錢）　半夏（錢半）　款冬花（錢半）　蘇子（三錢）　桑白皮（錢半）　米仁（三錢）　陳皮（一錢）　冬瓜子（三錢）</p>
<p>（案42）濕痰挾濕熱痹肺，咳痰黃厚，舌苔白膩垢厚。姑從泄化。</p>
<p>三子養親湯　杏仁（三錢）　橘紅（一錢）　蔞皮（三錢）　姜水炒竹茹（錢半）　象貝（錢半）　桑皮（錢半）</p>
<p>（案43）肺氣本可宣泄，為酸物所誤，尚宜泄散。</p>
<p>前胡（錢半）　川貝（三錢）　桑白皮（錢半）　款冬花（錢半）　紫菀（一錢）　杏仁（三錢）　馬兜鈴（七分）　冬瓜子（三錢）　桔梗（一錢）</p>
<p>（案44）流痰結核略鬆，惟咳嗽有痰。姑從泄肺。</p>
<p>前胡（錢半）　旋覆花（錢半）　蘇子（三錢）　小青皮（七分）　海藻（三錢、四錢）　桑皮（錢半）　白芥子（七分）　橘紅（一錢）　風化硝（錢半）　昆布（三錢、四錢）　杏仁（三錢）</p>
<p>（案45）流痰頗減，而咳嗽不已。</p>
<p>馬兜鈴（七分）　川貝（三錢）　旋覆花（錢半）　苓皮（五錢）　海藻（三錢）　桑白皮（錢半）　蘇子（三錢）　風化硝（錢半）　芥子（七分）　昆布（三錢）　白杏仁（三錢）　橘紅（一錢）</p>
<p>（案46）風寒深受，鬱而不達，今但寒不熱，咳嗽氣逆。防其增喘。</p>
<p>桂枝（四分）　紫菀（一錢）　象貝（三錢）　杏仁（三錢）　麻黃（四分）　桔梗（一錢）　橘紅（一錢）　紫蘇（錢半）</p>
<p>（案47）肝陰有漸斂之勢，而肺被肝灼。宜參清肺。</p>
<p>生地（六錢）　馬兜鈴（七分）　桑白皮（錢半）　川貝（三錢）　首烏（六錢）　夜明砂（三錢）　白杏仁（三錢）　黃菊（三錢）　阿膠（錢半）　望月砂（三錢）　穀精草（三錢）　蒺藜（三錢）</p>
<p>（案48）肝陰漸復，肺陰受傷。宜參潤養。</p>
<p>沙參（三錢）　首烏（六錢）　夜明砂（三錢）　川貝（三錢）　玉竹（三錢）　阿膠（錢半）　望月砂（三錢）　杏仁（三錢）　麥冬（錢半）　兜鈴（七分）　密蒙花（三錢）</p>
<p>（案49）懷孕七月，現在新感風邪襲肺，咳嗽音閃。姑從泄肺。</p>
<p>前胡（錢半）　杏仁（三錢）　款冬花（錢半）　桔梗（一錢）　紫菀（一錢）　桑皮（錢半）　馬兜鈴（七分）　象貝（錢半）　橘紅（一錢）　冬瓜子（三錢）</p>
<p>（案50）肺胃尚未清肅，而腎氣下虛。</p>
<p>桑皮（錢半）　橘紅（一錢）　白蓮鬚（三錢）　牡蠣（一兩）　杏仁（三錢）　川貝（三錢）　朱茯神（三錢）　澤瀉（錢半）　紫菀（錢半）</p>
<p>（案51）產後廿朝，咳嗽痰稠。此新感風邪襲肺也。</p>
<p>前胡（錢半）　桑皮（錢半）　小青皮（七分）　杜仲（三錢）　紫菀（錢半）　杏仁（三錢）　廣陳皮（一錢）　歸身（三錢）　桔梗（一錢）　川貝（三錢）</p>
<p>（案52）產後陰虛，肺經尚不清肅。姑與錢氏法。</p>
<p>川貝（三錢）　桑皮（錢半）　橘紅（一錢）　阿膠散</p>
<p>（案53）素體肺虛，加以新感，咳嗽面浮。防其增喘。</p>
<p>葶藶（五分、七分）　桑皮（錢半）　橘紅（一錢）　款冬花（錢半）　蘇子（三錢）　兜鈴（七分）　川貝（三錢）　冬瓜子（三錢）　澤瀉（錢半）　通草（一錢）　杏仁（三錢）</p>
<p>（案54）肺腎極虛，咳久肺傷。</p>
<p>生地（六錢）　阿膠（錢半）　川貝（三錢）　橘紅（一錢）　沙參（三錢）　龜膠（錢半）　兜鈴（七分）　杏仁（三錢）　麥冬（錢半）　玉竹（三錢）</p>
<p>（案55）肺腎極虛，肝火灼肺，為唸，為氣粗，為失血。</p>
<p>阿膠散（去散品）　沙參（三錢）　川貝（三錢）　旱蓮草（三錢）　麥冬（三錢）</p>
<p>（案56）投錢氏法尚嫌其膩，再投清降。</p>
<p>葶藶（五分）　川貝（三錢）　款冬花（錢半）　杏仁（三錢）　蘇子（三錢）　橘紅（一錢）　冬瓜子（三錢）　元參（三錢）　生西瓜子殼（五錢）</p>
<p>（案57）老咳嗽，肺陰受傷，加以血虛，不能養絡。</p>
<p>兜鈴（七分）　牛蒡（三錢）　蘇子（三錢）　橘紅（一錢）　杜仲（三錢）　阿膠（錢半）　杏仁（三錢）　象貝（錢半）　當歸（四錢）　川斷（三錢）</p>
<p>（案58）嗆甚嘔逆，身熱時作，加以天癸一月兩至。治宜兼顧。</p>
<p>兜鈴（七分）　歸身（三錢）　款冬花（錢半）　杜仲（三錢）　桑皮（錢半）　白芍（三錢）　瓜子殼（五錢）　川斷（三錢）</p>
<p>（案59）咳嗆不已，肺經略潤，口中泛甜，濕痰中阻。燥潤兩難。</p>
<p>兜鈴（七分）　元參（錢半）　川貝（三錢）　橘紅（一錢）　桑皮（錢半）　沙參（三錢）　杏仁（三錢）　蘇子（三錢）　生米仁（三錢）</p>
<p>（案60）昨投補尚合，而平明咳嗆不止。擬參壯水。</p>
<p>熟地（六錢）　阿膠（錢半）　麥冬（錢半）　川貝（三錢）　二至丸　龜板（一兩）　兜鈴（七分）　天冬（錢半）　杏仁（三錢）</p>
<p>（案61）咳傷肺絡，咳動肝陽。</p>
<p>沙參（三錢）　黃甘菊（三錢）　石決明（一兩）　麥冬（錢半）　白蒺藜（三錢）　瀉白散</p>
<p>（案62）諸恙向安，惟咳嗆不已。仍從養陰，佐以泄肺。</p>
<p>中地（六錢）　洋參（錢半）　川貝（三錢）　生甘草（四分）　阿膠（錢半）　沙參（三錢）　杏仁（三錢）　旱蓮草（三錢）　黛蛤</p>
<p>（案63）咳嗽由於新感風邪，而下體酸楚，血分傷也。</p>
<p>前胡（錢半）　兜鈴（七分）　橘紅（一錢）　歸身（三錢）　杜斷（各三錢）　桑皮（錢半）　川貝（三錢）　杏仁（三錢）　青皮（七分）　牛膝（三錢）</p>
<p>（案64）咳嗽得減，下體酸楚不已，得食則脹。</p>
<p>玉竹（三錢）　歸身（三錢）　青（七分）陳（一錢）　雞金散（去砂仁）　白薇（三錢）　杜（三錢）斷（三錢）　香附（錢半）</p>
<p>（案65）痃瘧後陰分虛，肝火灼肺。</p>
<p>參鬚（一錢）　阿膠（錢半）　石決明一兩　川貝（三錢）　首烏（六錢）　兜鈴（七分）　女貞子（三錢）　杏仁（三錢）　沙參（三錢）　生草（四分）</p>
<p>（案66）肺腎之氣不納，老年嗜好素重。防其就熟。</p>
<p>生脈散（人參、麥冬、五味）　沙參（三錢）　川貝（三錢）　橘紅（一錢）　蘇子（三錢）　玉竹（三錢）　杏仁（三錢）</p>
<p>（案67）腎氣不納，痰隨氣升，嗜好素重。防其喘變，姑與納下清上。</p>
<p>熟地（六錢）　天冬（錢半）　沙參（三錢）　川貝（三錢）　橘紅（一錢）　蘇子（三錢）　麥冬（錢半）　玉竹（三錢）　杏仁（三錢）　沉香（五分）</p>
<p>（案68）脾肺交病。治以溫養。</p>
<p>麗參（一錢）　枸杞（三錢）　益智（七分）　川貝（三錢）　沙參（三錢）　於術（錢半）　菟絲（三錢）　木香（七分）　橘紅（一錢）　玉竹（三錢）</p>
<p>（案69）肺腎陰虛，陰火太旺。</p>
<p>洋參（錢半）　生地（六錢）　阿膠（錢半）　生草（四分）　沙參（三錢）　天冬（錢半）　兜鈴（七分）　川貝（三錢）　元參（三錢）　麥冬（錢半）　杏仁（三錢）</p>
<p>（案70）陰虛火旺，痰氣上壅。</p>
<p>洋參（錢半）　翹心（三錢）　桑皮（錢半）　兜鈴（七分）　元參（三錢）　土貝（三錢）　橘紅（一錢）　人中黃（五分、七分、一錢）　海浮石（五錢）　生蛤殼（五錢）</p>
<p>（案71）陰虛內熱，咳嗽減而灼熱不止。</p>
<p>洋參（錢半）　青蒿（錢半）　歸芍（各三錢）　青陳（各一錢）　鱉甲（六錢）　白薇（錢半）　杜斷（各三錢）</p>

<h2>四、痰哮</h2>
<p>（案1）痰喘氣急不止，肺經溫邪不化。</p>
<p>前胡（錢半）　葶藶（五分）　馬兜鈴（七分）　防風（錢半）　紫菀（錢半）　蘇子（三錢）　桑白皮（錢半）　浮萍（錢半）　桔梗（一錢）　杏仁（三錢）</p>
<p>（案2）哮喘不作，而舌尚膩厚。</p>
<p>三子養親湯　桑皮（錢半）　二陳湯　指迷茯　苓丸（去朮，苓、硝、術）　杏仁（三錢）</p>
<p>（案3）咳嗆甚而面部更腫，殊恐痰壅增喘。</p>
<p>葶藶（五分）　馬兜鈴（七分）　杏仁（三錢）　茯苓皮（五錢）　款冬花（錢半）　蘇子（三錢）　白芥子（七分）　陳皮（一錢）　五加皮（五錢）　冬瓜子（三錢）　桑皮（錢半）</p>
<p>（案4）老咳嗽，近增氣促，能俯不能仰。肺氣逆矣。</p>
<p>葶藶子（五分）　馬兜鈴（七分）　川貝（三錢）　瀉白散　白杏仁（三錢）　橘紅（一錢）</p>
<p>（案5）肺陰虛而有濕痰，動則氣促。現在只宜泄潤，後必進補為是。</p>
<p>葶棗湯　蘇子（三錢）　白芥子（七分）　川貝（三錢）　銀杏肉（五粒）　杏仁（三錢）　茯苓皮（五錢）　橘紅（一錢）</p>
<p>（案6）從咳嗽而起，延今三月，痰喘氣急。</p>
<p>葶藶湯　清阿膠（錢半）　玉竹（錢半）　川貝母（三錢）　銀杏肉（五粒）　馬兜鈴（七分）　橘紅（一錢）　白杏仁（三錢）</p>
<p>（案7）氣虛痰聚，旦暮勞動氣喘。</p>
<p>黨參（四錢）　麥冬（錢半）　橘紅（一錢）　杏仁（三錢）　沙參（三錢）　蘇子（三錢）　川貝（三錢）　芥子（七分）　玉竹（三錢）</p>
<p>（案8）素有哮症，加以大便溏泄，又發濕瘡。病情叢雜，防其喘急之變。</p>
<p>葶藶子（五分）　地膚子（三錢）　苓皮（五錢）　建曲（三錢）　杜蘇子（三錢）　木香（七分）　加皮（五錢）　大腹皮（錢半）　萊菔子（三錢）　草果（七分）　枳殼（一錢）</p>
<p>（案9）腎氣略納，但舌苔起濁白。陰膩之藥從緩。</p>
<p>應夢丸　玉竹（三錢）　川貝（三錢）　橘紅（一錢）　苓皮（五錢）　北沙參（三錢）　蘇子（三錢）　杏仁（三錢）　加皮（五錢）</p>
<p>（案10）動則氣喘，正陰虛而痰氣阻。</p>
<p>應夢丸　杏仁（三錢）　蘇子（三錢）　白杏仁（三錢）　葶棗湯　川貝（三錢）　玉竹（錢半）　橘紅（一錢）</p>
<p>（案11）咳久肺腎之氣不納，動則氣喘，下體浮腫。最恐痰壅喘變。姑與納下清上。</p>
<p>葶棗湯　蘇子（三錢）　杏仁（三錢）　苓皮（五錢）　川貝母（三錢）　阿膠（錢半）　玉竹（三錢）　加皮（五錢）　熟地（六錢）　兜鈴（七分）　橘紅（一錢）</p>
<p>（案12）痰多氣喘，兩足不仁，右脈滑大無倫。</p>
<p>瀉白散　川貝（三錢）　橘紅（一錢）　絲瓜絡（三錢）　葶藶子（五分）　杏仁（三錢）　蘇子（三錢）</p>
<p>（案13）肺氣壅塞，遍體疼痛，氣急欲喘。</p>
<p>豆卷（四錢）　蘇子（三錢）　杏仁（三錢）　桑白皮（錢半）　旋覆（錢半）　橘紅（一錢）　象貝（錢半）　馬兜鈴（七分）　葶藶（五分、七分）</p>
<p>（案14）胎前痰哮，似屬子懸。今產後匝月又發，殊恐不能斷根。</p>
<p>葶藶（五分）　杏仁（三錢）　川貝（三錢）　款冬花（錢半）　蘇子（三錢）　桑皮（錢半）　橘紅（一錢）　冬瓜子（三錢）</p>

<h2>五、音閃</h2>
<p>（案1）咳嗽三年，近日轉甚而音閃。久延防成喉痹重症。姑與錢氏法。</p>
<p>阿膠散　川貝母（三錢）　款冬花（錢半）　冬瓜子（三錢）</p>
<p>（案2）咽乾音閃，勢成喉痹，殊非細事。</p>
<p>洋參（錢半）　清阿膠（錢半）　土貝（三錢）　生草（四分）　沙參（三錢）　馬兜鈴（七分）　馬勃（七分）　杏仁（三錢）　元參（三錢）　連翹心（三錢）</p>
<p>（案3）肝脾之氣略舒，而喉痹舊恙復作。以逍遙散佐以養陰。</p>
<p>醋柴胡（七分）　於術（錢半）　苓皮（五錢）　天冬（錢半）　土貝（三錢）　炙甘草（四分）　歸芍（各三錢）　元參（三錢）　桔梗（一錢）　馬勃（七分）</p>
<p>（案4）肺胃伏熱久郁，咳嗆減而音不亮，口中作糜。治宜清化。</p>
<p>瀉白散　枇葉（三錢）　鳳凰衣（一錢）　杏仁（三錢）　馬兜鈴（七分）　蘆根（一兩）　川貝母（三錢）　竹茹（錢半）</p>
<p>（案5）咳嗽減而音閃不亮，久延殊為不宜。</p>
<p>桑葉（錢半）　鮮地（一兩）　川貝（三錢）　馬兜鈴（七分）　枇葉（三錢）　沙參（三錢）　杏仁（三錢）　生甘草（四分）　石膏（六錢）</p>
<p>（案6）音閃漸亮，血熱生瘰。治宜兼顧。</p>
<p>馬兜鈴（七分）　桔梗（一錢）　橘紅（一錢）　桑麻丸（桑葉、黑芝麻）　白杏仁（三錢）　元參（三錢）　牛蒡（三錢）　地膚子（三錢）　生草（四分）</p>
<p>（案7）風寒鬱伏於肺，咳嗆、面浮、音閃。防其喘變。</p>
<p>麻黃（四分）　葶藶（五分）　桔梗（一錢）　苓皮（五錢）　杏仁（三錢）　蘇子（三錢）　防風（錢半）　加皮（五錢）　生草（四分）</p>
<p>（案8）瘧後陰虛，防成喉痹。</p>
<p>首烏（六錢）　生草（四分）　土貝（三錢）　青皮（七分）　洋參（錢半）　桔梗（一錢）　馬勃（一錢、七分）　陳皮（一錢）　元參（三錢）　細地（六錢）</p>
<p>（案9）咳嗽音閃八月之久，此金破無聲也。子舌已腐，去喉痹重症斷難收功。</p>
<p>清阿膠（錢半）　洋參（錢半）　杏仁（三錢）　麥冬（錢半）　人中白（七分）　馬兜鈴（七分）　沙參（三錢）　生地（六錢）　土貝（三錢）　人中黃（七分）</p>
<p>（案10）音閃八月之久，咳嗽內熱。喉痹重症已成，收功難許。</p>
<p>固本湯　清阿膠（錢半）　川貝（錢半）　橘紅（一錢）　北沙參（三錢）　馬兜鈴（七分）　杏仁（三錢）　元參（三錢）</p>
<p>（案11）少陰脈循喉嚨，系舌本。咽中干而音閃，詢知素病白濁，少陰久虛，再延防成喉痹重症。</p>
<p>元參（三錢）　桔梗（一錢）　杏仁（三錢）　牡蠣（一兩）　生草（五分）　桑皮（錢半）　萆薢（三錢）　澤瀉（錢半）</p>
<p>（案12）咳嗽音閃兩月餘，喉痹則嗆。姑從瀉肺，久延殊非所宜。</p>
<p>馬兜鈴（七分）　杏仁（三錢）　紫菀（錢半）　款冬花（錢半）　蔞皮（三錢）　桑白皮（錢半）　川貝（錢半）　桔梗（一錢）　冬瓜子（三錢）</p>
<p>（案13）風寒深受，入於肺表，咳嗽音啞。先從肺治。</p>
<p>前胡（錢半）　象貝（錢半）　防風（錢半）　牛蒡（三錢）　紫菀（錢半）　橘紅（一錢）　浮萍（錢半）　杏仁（三錢）　桔梗（一錢）　荊芥（錢半）　桑葉（錢半）</p>
<p>（案14）肺氣尚是壅塞，所以音閃不亮，面浮不減。再投泄降。</p>
<p>前胡（錢半）　桔梗（一錢）　杏仁（三錢）　苓皮（五錢）　葶藶（五分）　紫菀（一錢）　桑皮（錢半）　蘇子（三錢）　加皮（五錢）</p>
<p>（案15）結纓如故，咳嗽音閃，舌不立苔。陰分大傷，殊恐金破無聲。</p>
<p>中地（六錢）　沙參（三錢）　杏仁（三錢）　粳米（三錢）　馬兜鈴（七分）　洋參（錢半）　川貝（三錢）　元參（三錢）　生草（四分）　昆布（四錢）　海藻（四錢）</p>
<p>（案16）音閃半月，咽中作干。宜參潤養。</p>
<p>沙參（錢半）　川貝（三錢）　牛蒡（三錢）　桑皮（錢半）　鳳凰衣（一錢）　玉竹（三錢）　杏仁（三錢）　元參（三錢）　兜鈴（七分）</p>
<p>（案17）風疹尚甚，喉音不亮。肺經風邪未盡也。</p>
<p>前胡（錢半）　桔梗（一錢）　牛蒡（三錢）　桑葉（錢半）　杏仁（三錢）　紫菀（一錢）　浮萍（錢半）　蟬衣（一錢）　防風（錢半）　兜鈴（七分）</p>

<h2>六、失血</h2>
<p>（案1）努力傷絡為咯血，姑與通絡養血。</p>
<p>三物旋覆湯　牛膝（三錢）　藕節（一兩）　全當歸（四錢）　杏仁（三錢）　桑皮（錢半）　旱蓮草（三錢）</p>
<p>（案2）努力傷絡，右脅痠楚，咳痰見血，舌黃口乾。此肺絡傷而有痰熱也。</p>
<p>三物旋覆湯　鮮地（一兩）　橘絡（一錢）　杏仁（三錢）　絲瓜絡（三錢）　川貝（三錢）　桑皮（錢半）　蔞皮（三錢）　桃仁（三錢）</p>
<p>（案3）右脅受傷而吐血，防其陡冒。</p>
<p>三物旋覆湯　絲瓜絡（三錢）　歸身（三錢）　知母（錢半）　參三七（錢半）　細生地（六錢）　牛膝（三錢）</p>
<p>（案4）絡分瘀血未盡，所以痰中尚有血點，但陰分傷矣。</p>
<p>三物旋覆湯　生地（六錢）　歸身（三錢）　杏仁（三錢）　葶藶（五分）　參三七（錢半）　沙參（三錢）　川貝（三錢）　桑皮（錢半）</p>
<p>（案5）肝邪犯胃嘔吐，致嘔傷胃絡為吐血。</p>
<p>左金丸（五分、七分）　旱蓮草（三錢）　桑皮（錢半）　象貝（三錢）　旋覆花（錢半）　細生地（六錢）　杏仁（三錢）　藕節（一兩）　代赭石（四錢）</p>
<p>（案6）去年初夏大吐血後，雖然不發，總未元復，中脘氣痞嘔吐。此肝肺同病，理之不易。</p>
<p>生地（六錢）　川貝（三錢）　旋覆（錢半）　橘紅（一錢）　沙參（三錢）　杏仁（三錢）　代赭（四錢）</p>
<p>（案7）肝肺絡分窒痹，脅痛而起，咳嗽，痰中帶血。治宜清泄。</p>
<p>葦莖湯（蘆、苡、冬瓜子、杏仁）　桑皮（錢半）　鮮地（一兩）　馬兜鈴（七分）　竹茹（錢半）　川貝（三錢）</p>
<p>（案8）吐血後舌苔又起膩黃，肺胃伏熱未清也。</p>
<p>竹茹（錢半）　桑白皮（錢半）　蔞皮（三錢）　川貝（三錢）　橘皮（一錢）　地骨皮（三錢）　知母（錢半）　杏仁（三錢）</p>
<p>（案9）肺胃伏熱，咳嗽特甚，最恐絡傷血溢。</p>
<p>瀉白散　川貝（三錢）　生藕節（一兩）　冬瓜子（三錢）　馬兜鈴（七分）　橘紅（一錢）　款冬花（錢半）</p>
<p>（案10）咳傷肺絡，痰中帶粉紅色。</p>
<p>瀉白散　川貝（三錢）　旱蓮草（三錢）　冬瓜子（三錢）　馬兜鈴（七分）　杏仁（三錢）　款冬花（錢半）</p>
<p>（案11）暑邪病發疹之後，伏熱未清，舌光紅，痰中帶血。治以清潤。</p>
<p>鮮地（一兩）　桑皮（錢半）　茅柴根（一兩）　天粉（三錢）　牛膝（三錢）　羚角（錢半）　地骨皮（三錢）　生藕節（一兩）　知母（錢半）</p>
<p>（案12）嘔吐得減而咯血不止，胃中伏熱不清。</p>
<p>鮮地（一兩）　桑皮（錢半）　旱蓮草（三錢）　生藕節（一兩）　川貝母（三錢）　羚角（錢半）　地骨皮（三錢）　馬兜鈴（七分）　茅柴根（一兩）</p>
<p>（案13）血分過熱，咳嗆咯血時作。擬養陰清營。</p>
<p>鮮地（一兩）　沙參（三錢）　旱蓮草（三錢）　川貝（三錢）　羚角（錢半）　牛膝（三錢）　桑白皮（錢半）　杏仁（三錢）　洋參（三錢）　阿膠（錢半）</p>
<p>（案24）吐血從陽明來，不連咳嗽是幸。</p>
<p>鮮地（一兩）　牛膝（三錢）　旱蓮草（三錢）　藕節（一兩）　知母（錢半）　杏仁（三錢）　茅柴根（一兩）　桑皮（錢半）　花粉（三錢）</p>
<p>（案25）裡熱未清，咳嗆有血。</p>
<p>羚角（錢半）　導赤散（木通、淡竹葉、草梢、細地）　桑皮（錢半）　杏仁（三錢）　川貝（三錢）　元參心（三錢）　滑石（四錢）</p>
<p>（案26）肺腎交虛之體，吐血六年，咳嗽不已。治宜毓陰為主。</p>
<p>固本湯　阿膠（錢半）　川貝（三錢）　橘紅（一錢）　北沙參（三錢）　龜膠（錢半）　杏仁（三錢）</p>
<p>（案27）失血久久，咳嗽灼熱，形肉消削，脈細促。怯症已著，理之棘手。</p>
<p>生地（六錢）　沙參（三錢）　川貝（三錢）　生鱉甲（六錢）　㕮咀杏仁（三錢）　洋參（錢半）　麥冬（錢半）　白薇（錢半）　青蒿子（三錢）　十大功勞（三錢）</p>
<p>（案28）產後將一年，天癸未行，今春咳嗆特甚，吐血心悸，脈芤。當從潤肺養血治。</p>
<p>馬兜鈴（七分）　生地（四錢）　麥冬（錢半）　杏仁（三錢）　生藕節（一兩）　清阿膠（錢半）　沙參（三錢）　川貝（三錢）　牛膝（錢半）　旱蓮草（三錢）</p>
<p>（案29）去年痎瘧傷陰，今則咳嗽久久，絡傷血溢。姑與錢氏法，佐以涼血。</p>
<p>阿膠散（去米、草）　鮮地（一兩）　旱蓮草（三錢）　川貝母（三錢）　桑皮（錢半）　瓜蔞仁（三錢）</p>
<p>（案30）吐血雖止，而發瘡未透，血分頗熱。</p>
<p>玉女煎（石膏、生地、麥冬、知母、牛膝）　白杏仁（三錢）　旱蓮草（三錢）　桑白皮（錢半）　川貝母（三錢）　馬兜鈴（七分）</p>
<p>（案31）陰虛內熱之體，先發肛癰，繼以吐血，今咳嗽不止，殊為累事。</p>
<p>清阿膠（錢半）　十大功勞（三錢）　沙參（三錢）　杏仁（三錢）　刺蝟皮（五錢）　馬兜鈴（七分）　生西洋參（錢半）　川貝（三錢）　旱蓮（三錢）　象牙屑（三錢）</p>
<p>（案32）瘡愈太驟，陽明血熱無從出路。</p>
<p>鮮地（一兩）　丹皮（錢半）　桑白皮（錢半）　杏仁（三錢）　羚角（錢半）　赤芍（錢半）　馬兜鈴（七分）　旱蓮（三錢）　牛膝（三錢）</p>
<p>（案33）伏熱尚未全泄。</p>
<p>鮮地（一兩）　丹皮（錢半）　桑皮（錢半）　元參（錢半）　馬兜鈴（七分）　羚角（錢半）　赤芍（錢半）　生草（四分）　連翹（三錢）　地骨皮（三錢）　黃柏（一錢）</p>
<p>（案34）傷血嘔吐特甚，加以咳嗆腰痛。防其血冒。</p>
<p>阿膠散（去米、草）　細地（六錢）　桑皮（錢半）　參三七（錢半）　牛膝（三錢）　旱蓮（三錢）　茜草根（三錢）　知母（錢半）</p>
<p>（案35）病後肺胃伏熱未清，嗆劇，絡傷血溢。</p>
<p>馬兜鈴（七分）　鮮藕節（一兩）　川貝（三錢）　款冬花（錢半）　桑白皮（錢半）　鮮生地（一兩）　旱蓮（三錢）　冬瓜子（三錢）　白杏仁（三錢）</p>
<p>（案36）咳嗽面浮得減，而痰中帶血，肺經尚熱也。</p>
<p>瀉白散　川貝（三錢）　苓皮（五錢）　鮮生地（一兩）　杏仁（三錢）　加皮（五錢）　北沙參（三錢）</p>
<p>（案37）努力傷絡而起，曾經見血，年餘未發，今又作。治宜養血和絡。</p>
<p>中地（三錢）　玉竹（三錢）　牛膝（三錢）　橘絡（一錢）　二至丸　沙參（三錢）　川貝（三錢）　杏仁（三錢）　絲瓜絡（三錢）</p>
<p>（案38）冬溫病未復，又發吐血，今咳嗽，動則氣急，加以便溏。病情叢雜，殊恐涉怯。</p>
<p>阿膠（錢半）　沙參（二錢）　橘紅（一錢）　苓皮（五錢）　山藥（三錢）　馬兜鈴（七分）　川貝（三錢）　青皮（七分）　杏仁（囫圇，三錢）　玉竹（炒黃，三錢）</p>
<p>（案39）肺腎陰虧之體，痰中曾經見血。以大補陰主方。</p>
<p>大補陰丸（地、龜、柏、知）　沙參（三錢）　橘紅（一錢）　二至丸　麥冬（錢半）　杏仁（三錢）</p>
<p>（案40）血熱太甚，肺胃不調。</p>
<p>鮮地（一兩）　杏仁（三錢）　二至丸　桑皮（錢半）　橘紅（一錢）　地骨（三錢）　丹皮（錢半）</p>
<p>（案41）素來陽明血熱妄行，現在濕熱氾濫。只宜清胃化濕。</p>
<p>葦莖湯　川斛（三錢）　款冬花（錢半）　川貝母（三錢）　陳皮（一錢）　茯苓皮（五錢）</p>

<h1>卷之樂</h1>

<h2>一、頭痛</h2>
<p>（案1）左偏頭痛移右，牙關緊結。外風引動內風也。</p>
<p>防風（錢半）　丹皮（錢半）　黃菊（三錢）　石決明（一兩）　羌活（一錢）　連翹（三錢）　蒺藜（三錢）　羚羊角（錢半）　桑葉（錢半）</p>
<p>（案2）寒熱得止，而頸項尚掣痛。太陽風邪未盡也。</p>
<p>代針法（藁本錢半、羌一錢、防錢半）　前胡（錢半）　二陳湯　枳殼（錢半）　冬桑葉（錢半）</p>
<p>（案3）久瘧營衛失調，風邪襲於太陽，為頸項掣。</p>
<p>代針法　青皮　枳殼　桂枝（五分）　陳皮　建曲　紫蘇（錢半）</p>
<p>（案4）太陽經受風為頭痛。</p>
<p>代針法　紫蘇（錢半）　黃菊　獨活（一錢）　桑葉（錢半）　蒺藜　荊芥（錢半）</p>
<p>（案5）肝陰虛，肝陽升，為左偏頭痛。久恐傷目。</p>
<p>清阿膠　石決明　連翹　黃菊　龍膽草（七分）　蔓荊子（三錢）　茯神　蒺藜　羚羊角</p>
<p>（案6）肝陰內虧，為巔頂頭痛。久恐傷目。</p>
<p>阿膠　白芍　青皮　石決明　首烏　黃菊　陳皮　生龍齒　女貞　蒺藜　棗仁</p>
<p>（案7）肝陰虛，肝陽升，肝風流絡，致左偏頭痛，左足不仁。</p>
<p>羚角　女貞　石決明　半夏　首烏　黃菊　生龍齒　陳皮　白芍　蒺藜　煨天麻（錢半）</p>
<p>（案8）咳動肝陽，外風引動內風，所以頭痛引耳。</p>
<p>羚角　料豆衣（三錢）　桑葉　川貝　黃菊　石決明　杏仁　橘紅　蒺藜　馬兜鈴</p>
<p>（案9）投泄肝方，而頭痛偏左，亦時偏右。此陽明亦有風也。</p>
<p>羚角　花粉（三錢）　黃菊　桑（錢半）丹（錢半）　連翹心（三錢）　蘆根　知母　蒺藜　天麻　石決明</p>
<p>（案10）右偏頭痛得已，但陽明受熱。</p>
<p>竹葉（三錢）　連翹　蒺藜　桑葉　石膏（六錢）　黃菊　滑石（四錢）　荷葉（三錢）　知母（錢半）</p>
<p>（案11）陽明伏熱，為右偏頭痛。久恐傷目。</p>
<p>石膏　連翹　滑石　荷葉　知母　桑葉　通草（一錢）　藿香　薄荷（七分）　丹皮</p>
<p>（案12）當額痛，泛嘔。此厥陽頭痛也。</p>
<p>左金丸（五分、七分）　嫩蘇梗　蒺藜　半夏　石決明　生香附　枳殼　陳皮　冬桑葉</p>
<p>（案13）頭痛當額，泛嘔。此厥陽頭痛也。</p>
<p>左金丸　生香附　枳殼　半夏　石決明　黃甘菊　建曲　陳皮　冬桑葉　白蒺藜</p>
<p>（案14）因於濕，首如裹。</p>
<p>川樸（一錢）　丹皮（錢半）　半夏　赤苓（三錢）　佩蘭（三錢）　米仁（四錢）　橘紅　澤瀉（錢半）　桑葉　木香</p>

<h2>二、目痛</h2>
<p>（案1）肝經風熱上乘，為目疾。</p>
<p>桑葉　蒺藜　石決明　夜明砂　黃菊　丹皮　草決明　望月砂　白菊　羚角</p>
<p>（案2）風熱上乘，為目赤。</p>
<p>前胡　蒺藜　蟬衣（一錢）　蛇蛻（七分）　防風　黃菊　桑葉　木賊（七分）　牛蒡（三錢）</p>
<p>（案3）病後肝經血分積熱未清，遍生熱癤，兩目起星。姑與清泄。</p>
<p>羚角　桑葉　黃菊　穀精草（三錢）　鮮地　丹皮　蒺藜　木賊草　連翹</p>
<p>（案4）肝陰內虛，目疾久久。以養肝為主。</p>
<p>首烏　黑穭豆（三錢）　黃甘菊　青皮　女貞　石決明　白蒺藜　陳皮　白芍</p>
<p>（案5）肝腎陰虛，心肝火熾，左目瞳神有散光象。以養陰為主。</p>
<p>生地　阿膠　歸芍　夜明砂　決明　首烏　女貞　棗仁　望月砂　龍齒</p>
<p>（案6）肝經風熱上乘，右目已成螺眼。</p>
<p>羚羊角　黃菊　牛蒡　丹皮　龍膽草　蒺藜　桑葉　連翹　石決明</p>
<p>（案7）右目已壞，擬從養陰清肝。</p>
<p>中地（六錢）　黃菊　夜明砂　石決明　首烏　蒺藜　望月砂　草決明　羚角　翹心</p>
<p>（案8）右目略有光，而肝陰虧極。</p>
<p>首烏　女貞　夜明砂　石決明　密蒙花　生地　黃菊　望月砂　草決明　穀精草　阿膠</p>
<p>（案9）風熱入於陰分，目赤翳障而不畏陽光。</p>
<p>四物湯（地六錢、芍三錢、歸三錢、芎一錢）　木賊草　蛇蛻（七分）　黃甘菊　牛蒡子　蟬衣　白蒺藜</p>

<h2>三、鼻淵</h2>
<p>（案1）風邪濕火上乘為鼻淵，加以右偏頭痛。</p>
<p>辛夷（三錢）　防風　薄荷　丹皮　蒺藜　白芷（七分）　連翹　桑葉　滁菊（三錢）</p>
<p>雞冠花頭（一個）　鰉魚牙（四個）</p>
<p>煅研搐鼻。</p>
<p>（案2）濕熱鬱蒸，上為鼻淵，下為腹膨。</p>
<p>辛夷散（辛、芷、芎）　雞金散　化肝煎</p>
<p>（案3）風邪濕熱鬱蒸，干肺為咳嗆、鼻淵。</p>
<p>前胡　桑白皮（錢半）　象貝　紫菀　辛夷散　杏仁　橘紅　桔梗</p>
<p>（案4）鼻淵、咳嗆大減，仍從前法損益。</p>
<p>辛夷散　馬兜鈴　象貝　款冬花　桑白皮　白杏仁　橘紅　冬瓜子</p>
<p>（案5）鼻淵止而濕痰不清。</p>
<p>辛夷散　蘇子（三錢）　象貝　菔子　竹茹　桑皮　橘紅　芥子（七分）</p>
<p>（案6）鼻淵略減，仍從前法損益。</p>
<p>辛夷　桔梗　黃菊　蒺藜　白芷　紫菀　滁菊　竹茹（錢半）　連翹　桑皮</p>
<p>（案7）鼻淵止而遍體疼痛，新感寒邪也。</p>
<p>防己（錢半）　秦艽（錢半）　紫蘇（錢半）　半夏　防風（錢半）　桑枝（一兩）　絲瓜絡（三錢）　陳皮　辛夷</p>

<h2>四、鼻衄</h2>
<p>（案1）痎瘧、喉蛾之後，鼻衄時作，此血分太熱也。素有遺泄，陰分過虛，現在只宜清化，後必進補為是。</p>
<p>鮮地　山梔　土貝（三錢）　杏仁　桑葉　丹皮　連翹　生草　桔梗</p>
<p>（案2）病後伏熱未清，所以胃氣不醒，鼻衄時作。</p>
<p>淡芩（錢半）　竹茹　連翹　枳實　丹皮　青蒿（錢半）　澤瀉　建曲　山梔　赤芍（錢半）</p>
<p>（案3）鼻衄如注，從上關元度玉堂而來，此督脈病也。痎瘧久久，發於少陰，脈芤弦，自汗頗多，深恐暴脫。</p>
<p>鹿角霜（六錢）　生脈散（參、麥、五味）　龍骨（六錢）　牛膝　龜板膠（錢半）　大熟地　牡蠣（一兩）</p>

<h2>五、頤</h2>
<p>（案1）冬溫鬱伏，為發頤。</p>
<p>豆豉（四錢）　荊芥　制蠶（三錢）　牛蒡　前胡　防風　土貝　蟬衣（一錢）　紫蘇　桑葉</p>

<h2>六、牙痛</h2>
<p>（案1）肝胃兩經伏熱，頭痛偏左偏右不定，牙齦腫痛。治以清泄。</p>
<p>玉女煎（地、石、知、牛、麥）　黃菊　石決明　羚羊角　蒺藜</p>
<p>（案2）牙齘癰內潰，暑風濕熱頗重。</p>
<p>（朱丹溪）熱鬱湯（薄、連、苓、梔、草、竹葉）　荷葉　炒牛蒡　藿香　冬桑葉　防風</p>
<p>（案3）目赤之後，風熱未清，為牙齒痛。</p>
<p>羚角　黃菊　丹皮　青皮　鮮地　蒺藜　薄荷　陳皮　連翹　桑葉</p>
<p>（案4）咳嗆減，牙齦出血，肺胃尚熱也。</p>
<p>鮮地　蘆根（一兩）　杏仁　馬兜鈴　花粉　桑皮　川貝　廣橘紅　知母</p>
<p>（案5）咳嗽減，而風邪復盛為牙痛。</p>
<p>前胡（錢半）　桑葉　薄荷　紫蘇　防風（錢半）　丹皮　連翹　蒺藜　荊芥（錢半）</p>
<p>（案6）向投扶正化痰固合，但現在尚有風熱，齒痛浮腫。</p>
<p>桑葉　連翹　土貝　蘇子　丹皮　薄荷　杏仁　菔子</p>
<p>（案7）陽明伏熱為牙痛，姑從清泄。</p>
<p>薄荷　生草　丹皮　黃菊　連翹　桑葉　赤芍　蒺藜　山梔</p>
<p>（案8）陽明風熱漸泄，再投清化。</p>
<p>蘆根　土貝（三錢）　生草（五分）　連翹　花粉　馬勃（七分）　桑葉　淡芩（錢半）　知母</p>
<p>（案9）陰虛、陽明伏熱為牙癰，已經內潰。治以清化。</p>
<p>玉女煎　薄荷　丹皮　土貝母　連翹　赤芍</p>
<p>（案10）陽明之熱漸泄，仍從前法，小其制。</p>
<p>蘆根　細生地（六錢）　土貝　花粉　淡天冬（錢半）　牛膝（三錢）　桑葉　知母　生甘草　連翹　丹皮</p>
<p>（案11）風火上乘，牙癰內潰。</p>
<p>防風　連翹　蒺藜　赤芍（錢半）　桑葉　薄荷　山梔　知母　丹皮</p>
<p>（案12）溫邪病後未清，牙痛，口中麻。治以清化。</p>
<p>蘆根　溫膽湯（去苓、竹、半、茯、草、陳、枳）　花粉　炒丹皮　知母　黑山梔</p>
<p>（案13）陽明伏熱，為牙衄。</p>
<p>石膏　花粉　赤芍　鮮地　丹皮　旱蓮　知母　連翹　山梔</p>

<h2>七、咽痛</h2>
<p>（案1）咽痛宜清，疝氣宜溫，治難兼顧，先從清上。</p>
<p>細地　生草　馬勃（七分）　桑皮　元參　土貝　杏仁　橘紅　桔梗</p>
<p>（案2）夜來咽乾，但大便溏泄。陰藥宜緩。</p>
<p>黨參（三錢）　歸身　青皮　茯苓　於術（錢半）　白芍　陳皮　澤瀉　炙草（錢半）</p>
<p>（案3）氣分未利，而陰又虛，所以咽乾。</p>
<p>四君子湯　棗仁　白芍　橘紅　元參（三錢）　川斛（三錢）</p>
<p>（案4）肺胃伏熱，為咽乾。</p>
<p>瀉白散（桑皮、地骨、白米、生草）　川貝　馬兜鈴　杏仁　款冬花　元參</p>
<p>（案5）養陰清化頗合，但血分尚熱。</p>
<p>鮮地　沙參　連翹　土貝　洋參　元參　生草　丹皮　阿膠　天冬（錢半）</p>
<p>（案6）咽中紅絲大減，仍擬養陰清熱。</p>
<p>洋參　生地　土貝　連翹心　沙參　天冬　生草　人中白（一錢）　元參</p>
<p>（案7）暑、濕、熱互阻，發熱退後，咽紅而痛。</p>
<p>前胡　牛蒡　生草　荷葉　桑葉　馬勃　通草（一錢）　藿香　杏仁　土貝　滑石（四錢）</p>
<p>（案8）冬溫鬱伏，為咽痛。</p>
<p>豆豉　杏仁　桔梗　人中黃　前胡　紫菀　馬勃　土貝母　桑葉</p>
<p>（案9）養陰清化既合病機，擬從其治。</p>
<p>洋參　天冬　龜板（一兩）　生草　沙參　生地　連翹　橘紅　元參　阿膠</p>
<p>（案10）陰虛內熱，咽中紅絲不盡。</p>
<p>中地　翹心（三錢）　丹皮　人中白（七分）　元參　土貝　桑皮　生甘草（一錢）　天冬</p>
<p>（案11）素體陰虛喉痛，現在新感風寒轉劇。姑從標治。</p>
<p>前胡　杏仁　桔梗　橘紅　生草　桑葉　紫菀　防風　川貝　元參</p>
<p>（案12）痎瘧傷少陰，舌光咽痛。</p>
<p>黨參　首烏（六錢）　白芍　玉竹　沙參　歸身（三錢）　川貝　橘紅　元參</p>

<h2>八、口糜</h2>
<p>（案1）陽明伏熱，為口糜。</p>
<p>薄荷　花粉　土貝　丹皮　人中黃（一錢）　連翹　知母　銀花　赤芍　人中白（一錢）</p>
<p>西黃（四片）　廉珠（七分）　土貝（一錢）　甘中黃（一錢）</p>
<p>三味全研細，以羊毛筆，洗淨口內，將三味拭上。</p>
<p>（案2）陰虛素虧，陽明受熱，口舌碎裂。</p>
<p>洋參　天冬（錢半）　花粉　桑皮　元參　連翹　知母　桔梗　中地</p>
<p>（案3）咳嗆略鬆，而口舌糜腐，脈象細軟。現交立夏，土旺，殊恐胃敗口糜之患。</p>
<p>生地　元參　人中黃　杏仁　洋參　沙參　馬兜鈴　穀芽（四錢）　麥冬　連翹　土貝母　川斛（三錢）</p>
<p>（案4）口糜不已，舌不立苔，陰分傷矣，加以足腫。老年不宜久延。</p>
<p>生地　元參　生草　苓皮　洋參　白芍　土貝　加皮　天冬　歸身</p>
<p>（案5）肺胃溫邪化熱，為口瘡、口糜。</p>
<p>蘆根　知母　丹皮　薄荷　山梔　花粉　鮮地　連翹　生草</p>
<p>（案6）素來嗜好頗重，大便溏泄，舌光紅，口中糜腐。此正陰告竭，防增呃逆。</p>
<p>洋參　阿膠　土貝（三錢）　人中黃　玉竹　中地　白芍　橘紅　人中白</p>

<h2>九、呃逆</h2>
<p>（案1）病後失調，中虛呃逆。</p>
<p>附子理中湯（參、附、干、炙草、白朮）　刀豆子（五錢）　陳皮　丁香（五隻）柿蒂（五枚）湯淡吳萸（三分）</p>
<p>（案2）投溫中陽而呃逆止，濕熱未楚。治宜兼顧。</p>
<p>春澤湯（去桂、術，參、豬、茯、澤）　二陳湯（半、陳、草、苓）　旋覆代赭　焦米仁</p>
<p>（案3）呃逆止，而舌苔轉黃。</p>
<p>厚朴（一錢）　丁香　蘇子　半夏　杏仁（三錢）　柿蒂　芥子　陳皮　青皮</p>

<h2>十、肝氣</h2>
<p>（案1）肝氣鬱結，濕邪乘阻，舌苔白而有干癆。病情叢雜，殊難兼顧。</p>
<p>香附　桑皮　兜鈴　象貝母　青陳　旋覆　杏仁　款冬花</p>
<p>（案2）肝脾氣血不調，治以和養。</p>
<p>肉桂（五分）　歸芍　苓皮　櫞皮（七分）　於術（錢半）　青陳　腹皮</p>
<p>（案3）肝氣挾痰為患，良由血不養肝。</p>
<p>首烏　杜斷　二陳　旋覆花　歸芍　蘇子　芥子</p>
<p>（案4）六脈剛弦，肝經病也，中脘氣逆，曾經失血。不宜辛通，只能泄降。</p>
<p>旋代湯　香附　杏仁　青皮　二陳湯　蘇子　佛手</p>
<p>（案5）血分虛，而肝經氣分升降不定。</p>
<p>三物旋覆湯　中生地（六錢）　杜斷　青皮　代赭石　歸芍　棗仁（三錢）　香附</p>
<p>（案6）左脅結癖，加以咳嗆。此肝氣橫逆，肝火灼肺也。</p>
<p>旋代湯　阿膠　川貝　吳萸　化肝煎　兜鈴　杏仁</p>
<p>（案7）肝胃之氣窒痹，左脅結癖攻觸。治以疏利。</p>
<p>香蘇飲　雞金散　鮮佛手（一兩）　化肝煎（陳南陽）烏龍丸（九香蟲、杜仲、車前、白朮）</p>
<p>（案8）寒濕凝聚於厥少，少腹痛，至脘引腰。</p>
<p>淡吳萸　公丁香　化肝煎　蓽澄茄　烏龍丸　小茴香（七分）</p>
<p>（案9）寒濕凝於厥少，腹痛引腰。治以溫通。</p>
<p>烏龍丸　香蘇飲　蓽澄茄　荷藿　化肝煎　淡吳萸　鮮佛手</p>
<p>（案10）厥少之氣漸舒。</p>
<p>蓽撥　丁香　青皮　香附　吳萸　歸芍　杜斷　蘇梗</p>
<p>（案11）中焦得通，而少腹有筋內掣。此厥少濁陰凝結也。</p>
<p>桂枝　淡吳萸　澤瀉　高良薑（七分）　茴香（七分）　蓽澄茄　赤苓　青皮　公丁香</p>
<p>（案12）氣分漸舒，而少腹膨脹。厥少之氣不舒也。</p>
<p>桂木（一兩）　小青皮　大腹皮　茴香　雞金散　五加皮</p>
<p>（案13）厥少之氣不舒，溫通佐以健養。</p>
<p>春澤湯（去朮）　雞金散　五加皮</p>
<p>（案14）補劑稍重即氣分不利，宜養血利氣。</p>
<p>首烏　杜斷　香附　歸芍　青陳　佛手</p>
<p>（案15）肝厥有復發之勢，仍從泄降。</p>
<p>左金丸　化肝煎　歸芍　旋代湯　三子養親湯</p>
<p>（案16）投斂肝，效而不效，容是厥少病也。</p>
<p>滋腎丸（二錢，桂、柏、知）</p>
<p>（案17）古人云：治肝不應，當取陽明。</p>
<p>麻仁丸（六錢，樸、杏、草、大黃、枳、麻）　杜蘇子　芥子　吳萸</p>
<p>（案18）腎陰下虛，肝氣上逆。</p>
<p>參旋代赭湯　蘇子　二陳湯　歸芍</p>
<p>（案19）痰濁升則陰氣和，痰濁降則陰氣虛。</p>
<p>鮮竹瀝　橘紅汁　同服。</p>
<p>（案20）陽氣得通，而肝絡不舒。</p>
<p>三物旋覆花湯　香蘇飲　砂仁　佛手　化肝煎　沉香　澤瀉</p>
<p>（案21）濕痰流絡，右脅串痛。此肝肺病也。</p>
<p>三物旋覆花湯　三子養親湯　化肝煎　絲瓜絡</p>
<p>（案22）左脅不舒，肝絡不調。</p>
<p>左金丸　代赭石　全當歸　橘絡（一錢）　旋覆花　夜交藤（四錢）　絲瓜絡（三錢）　青皮</p>
<p>（案23）痰瘧錯亂之後，少腹作痛，厥少之氣窒痹，現在咳嗽。治宜兼顧。</p>
<p>香附　歸身　桑白皮　杏仁　蘇子　青陳　胡索（錢半）　杜仲　象貝</p>
<p>（案24）肝氣上逆，擬仲聖法主方。</p>
<p>參鬚　二陳　吳萸　澄茄　旋代　茯苓　丁香　杜斷</p>
<p>（案25）厥少濁陰上逆，少腹脹，上逆作嘔。其右膝彎痛，亦濕邪下注也。</p>
<p>烏龍丸　二陳湯　吳萸　上肉桂　蓽澄茄　木瓜（錢半）</p>
<p>（案26）肝氣漸舒，肺氣不利。</p>
<p>烏龍丸（九香蟲、車前、杜仲）　桑皮　蘇子　歸芍　青陳　杏仁</p>
<p>（案27）肝肺胃三經伏熱。</p>
<p>羚羊角　竹茹　茯神　桑白皮　石決明　半夏　磁石（四錢）　地骨皮　黃甘菊　陳皮</p>

<h2>十一、隔氣</h2>
<p>（案1）得食則嘔，地道不通。病延年餘，勢成鬲症。</p>
<p>肉桂　公丁香　三子養親湯　吳萸　二陳湯　全瓜蔞（六錢）　澄茄</p>
<p>（案2）胃寒肝逆，得食嘔吐。久恐成鬲。</p>
<p>肉桂　澄茄　良附丸　吳萸　丁香　二陳湯</p>
<p>（案3）舌苔垢厚，脘痛嘔吐特甚。濕痰阻遏清陽，防其成鬲。</p>
<p>肉桂　吳萸　沉蓯丸　蓽澄茄　風化硝（七分）　附子　丁香　二陳湯　臺烏藥（錢半）</p>
<p>（案4）清陽被濕痰矇蔽。</p>
<p>半硫丸（二錢）　薤白頭（三錢）　烏龍丸　良薑　全瓜蔞（六錢）　三子養親湯</p>
<p>（案5）陽氣不通，濕痰深阻。</p>
<p>瓜蔞薤白湯（白酒）　良附丸　吳萸　澄茄　三子養親湯　附子（七分、一錢）　丁香</p>
<p>（案6）泛嘔不止，脘中如鬲。</p>
<p>瓜蔞薤白湯　附子　丁香　沉（五分）蓯（四錢）丸　吳萸　澄茄　化肝煎</p>
<p>（案7）投辛通雖無大謬，而病不甚減輕，擬大其制。</p>
<p>半硫丸（半夏、硫黃）　三子養親湯　乾薑（五分）　麥仁（四錢）　附子　蓽撥（一錢）　歸身麻仁（四錢）　肉桂</p>
<p>（案8）鬲象漸著，治宜通陽。</p>
<p>瓜蔞薤白湯　二陳湯　三子養親湯　桂枝尖　指迷茯苓丸（蒼朮、風化硝、茯苓）</p>

<h1>卷之射</h1>

<h2>一、胃寒</h2>
<p>（案1）胃寒肝逆，治以泄降。</p>
<p>左金丸（五分、六分、七分）　瓜蔞（六錢）　川楝子（七分）　旋代湯（旋覆錢半、代赭四錢）桂枝（五分）　陳皮（一錢）　良附丸（良薑七分、香附錢半）</p>
<p>（案2）陰霾障空，非離照當空不可。</p>
<p>半硫丸（二錢）　另服。</p>
<p>附子（七分、一錢）　蓽撥（一錢）　丁香（五隻）　蓯蓉（四錢）　肉桂（五分）　歸身（三錢）　白芍（三錢）　青皮（七分）　陳皮（一錢）</p>
<p>（案3）胃脘痛引右脅，嘔吐味苦。</p>
<p>左金丸　香蘇飲（香附錢半、蘇梗錢半）　旋覆花（絹包，錢半）　化肝煎（青皮七分、陳皮一錢）　臺烏藥（錢半）　蓽澄茄（七分）</p>
<p>（案4）脘痛略減，而舌苔呆白，大便欲解不能。</p>
<p>半硫丸　麻仁丸（六錢）　同煎。</p>
<p>肉桂　吳萸（三分）　地枯蔞（三錢）　附子　丁香　大麥仁（研，三錢）　沉蓯丸（沉香五分、蓯蓉四錢）</p>
<p>（案5）脘痛略減，舌仍膩厚。寒濕不化。</p>
<p>附桂　丁香　油當歸（切，四錢）　沉蓯丸　吳萸　澄茄（七分）　良附丸　片檳榔（一錢）</p>
<p>（案6）肝邪犯胃之後，正陰自虛。治宜扶養。</p>
<p>（方缺）</p>
<p>（案7）嘔逆得止，而舌苔斑剝。正陰較虛。</p>
<p>黨參（三錢）　阿膠（錢半）　杜仲（三錢）　川斷（三錢）　於術（錢半）　歸芍　青陳</p>
<p>（案8）病原起於截瘧後，濕痰不盡，致有種種變病。今舌白滑，脈弦滑，胃氣窒塞，擬以化痰和胃。</p>
<p>三子養親湯（蘇子三錢、白芥子七分、萊菔子三錢）　二陳湯　吳茱萸　風化硝（七分）</p>
<p>（案9）辛燥化痰不投，胃氣逆而肝木。</p>
<p>安胃丸（六錢）　杜蘇子　同煎，濾清。</p>
<p>（案10）濕阻中焦，胃氣上逆。</p>
<p>安胃丸　越鞠丸（三錢，茅、芎、梔、香附、曲）　煎服。</p>
<p>（案11）中焦陽氣不通，濁飲內結。</p>
<p>肉桂　川椒（廿一粒）　蓽撥　伽南香（五分）</p>
<p>（案12）投辛通雖效，而未免敗胃，仍以鎮逆。</p>
<p>旋代湯　二陳湯　杜蘇子</p>
<p>接服：資生丸（三錢）</p>
<p>（案13）清陽失曠，擬仲聖法。</p>
<p>全瓜蔞　薤白頭（三錢）　酒釀露（三小匙）</p>
<p>（案14）肝胃之氣有升無降。</p>
<p>二陳湯　白芥子　淡吳萸</p>
<p>（案15）胃陽不振，所以舌苔不化。</p>
<p>越鞠丸　蓽澄茄　公丁香　吳萸</p>
<p>（案16）（文缺）</p>
<p>吳萸湯（參鬚一錢、吳萸三分、乾薑四分、紅棗五枚）　生冬朮（錢半）　白芍　化肝煎　茯苓皮（五錢）</p>
<p>（案17）肝氣流絡，脘中痛，延及遍體。</p>
<p>三物旋覆花湯（旋覆錢半、新絳錢半、蔥管三根）　香蘇飲　吳萸　化肝煎　當歸</p>
<p>（案18）濕邪漸化，而陽氣未通。</p>
<p>附子　吳萸　二陳湯（法夏錢半、陳皮一錢）　澤瀉（錢半）　蓽撥　乾薑　豬苓　米仁（四錢）</p>
<p>（案19）舌苔又泛白，濁陰又上升。</p>
<p>肉桂　吳萸　茅朮（一錢）　良附丸　蓽撥　丁香　二陳湯</p>
<p>（案20）嘔逆略止，而嘔傷胃氣。</p>
<p>安胃丸（梅、參、連、柏、桂、辛、附、草、椒、當歸）　化肝煎　焦米仁　旋代湯　半夏湯　生香附</p>
<p>（案21）痛止，嘔止，惟口中乾苦。膽胃熱也。</p>
<p>溫膽湯（澤、半、陳、苓、枳、竹茹）　石決明（一兩）　丹皮（錢半）　左金丸　黃甘菊（三錢）</p>
<p>（案22）胃寒肝逆，治以溫通。</p>
<p>肉桂　丁香　歸身（三錢）　麥仁　蓽撥　吳萸　蓯蓉　二陳</p>
<p>（案23）舌黃不化，氣逆上降。</p>
<p>旋代湯　杏仁（三錢）　蔞仁　二陳湯　麥仁</p>
<p>（案24）咸降不能化痰，辛通又嫌礙陰。</p>
<p>薤白頭　全瓜蔞　酒釀露</p>
<p>人參（一錢）　橘皮（一錢）散　另服。</p>
<p>（案25）素有胃寒肝逆，今伏邪乘發，形寒發熱，如瘧狀。姑與辛通。</p>
<p>吳萸　香蘇飲　防風（錢半）　芥子　乾薑　二陳湯　荊芥（錢半）　藿香（錢半）</p>
<p>（案26）舌黃口苦，胃氣呆鈍。此濕熱久郁也。</p>
<p>小陷胸湯（連五分、全瓜六錢、枳實一錢）　溫膽湯　焦米仁　建曲（三錢）</p>
<p>（案27）得食則嘔，加以腰痠。</p>
<p>左金丸　砂仁（五分）　白朮（錢半）　杜斷　生香附　子芩（錢半）　陳皮　歸芍</p>
<p>（案28）陽氣衰，濁陰凝於胃。</p>
<p>附子　蓽撥　淡乾薑　肉桂　吳萸　雞金散（雞金錢半、砂仁五分、櫞皮七分、沉香五分）</p>
<p>（案29）脘痛引脅，肝胃窒痹也。</p>
<p>三物旋覆花湯　枳殼（錢半）　檳榔　化肝煎建曲</p>
<p>（案30）舌苔黃垢，嘔逆不止，口中泛甜。此濕濁蒸也。</p>
<p>茅朮　左金丸　青陳　香附　蓽撥　半夏　佩蘭（後下，錢半）　蔻仁（五分）</p>
<p>（案31）脘中痛尚不止，二便不利。</p>
<p>桂枝　牛膝（三錢）　車前子（三錢）　吳萸　沉香　九香蟲（一錢）　蓽撥　蓯蓉　油當歸（四錢）</p>
<p>（案32）嘔逆止而口甜減，又增咳嗽。治宜兼顧。</p>
<p>厚朴（一錢）　左金丸　橘紅（一錢）　佩蘭　蘇子　杏仁　小青皮（七分）　川貝（三錢）　桑皮（錢半）</p>
<p>（案33）中脘痛不止，治以苦辛泄降。</p>
<p>金鈴子散（川楝七分、延索錢半）　香蘇飲　歸芍　左金丸　化肝煎</p>
<p>（案34）肝邪犯胃，脘痛嘔吐不止，舌苔滿白，脈象濡弦。姑與溫通。</p>
<p>吳萸　澄茄　旋代湯　青陳　通草（一錢）　丁香　半夏　良附丸　澤瀉（錢半）</p>
<p>（案35）肺胃濕火不清。</p>
<p>三妙丸（茅一錢、柏一錢、知錢半）　淡芩（錢半）　赤芍（錢半）　川連（五分）　丹皮（錢半）連翹（三錢）</p>
<p>（案36）胃陽衰，氣不利，肝陽易升。</p>
<p>淡吳萸　半夏　甘菊（三錢）　公丁香　陳皮　蒺藜（三錢）　蓽澄茄　蘇子　決明（一兩）</p>

<h2>二、蓄血</h2>
<p>（案1）胃脘痛，嘔吐瘀紫。此蓄血痛也。</p>
<p>肉桂　公丁香　烏龍丸（九香蟲、杜仲、車前）　吳萸　蓽澄茄　沉蓯丸（沉香、蓯蓉）</p>
<p>（案2）蓄血痛，胃寒肝逆。治以溫通。</p>
<p>肉桂　良附丸（良薑、香附）　澄茄　吳萸　化肝煎（青、陳）　枳殼　丁香</p>
<p>（案3）蓄血痛，得溫通頗合，擬大其制。</p>
<p>肉桂　良附丸　歸身　吳萸　烏龍丸　白芍　丁香　蓽澄茄</p>
<p>（案4）寒濕深受，泛惡血塊，舌呆白，左脈按之若無，面色㿠白。此蓄血痛，為大脫血症，不可忽視。</p>
<p>肉桂　吳萸　澄茄　杜斷　麗參　丁香　當歸　青陳</p>

<h2>三、血鱉</h2>
<p>（案1）去年曾病腹痛，吐出血鱉。今年腹痛復作，其勢又有血鱉矣。</p>
<p>雷丸（三錢）　百部（三錢）　使君子（三錢）　吳萸　川椒　鶴蝨（三錢）　烏梅（七分）　蓽澄茄　丁香</p>
<p>（案2）近日痛止，而大便仍溏。擬前法損益。</p>
<p>雷丸　使君子　川椒　鶴蝨　化肝煎　沉曲　百部　香蘇飲</p>
<p>（案3）腹痛得止，擬和脾疏肝。</p>
<p>冬朮（錢半）　化肝煎　焦米仁　苓皮（錢半）　使君子　百部（三錢）　香蘇飲</p>

<h2>四、中風（附口喎）</h2>
<p>（案1）類中半年，舌音不清，痰濁矇蔽。</p>
<p>竹瀝（二錢）　正舌散（蠍尾、茯苓）　陳膽星（七分）　半夏　薑汁（二小匙）　石決明　天竺黃（錢半）　陳皮　天麻（錢半）</p>
<p>（案2）屢屢類中之體，舌強言蹇。老年極要小心。</p>
<p>何人飲（首烏六錢、黨參三錢）　歸芍　陳皮　正舌散（蠍尾、茯苓）　棗仁（三錢）　煨天麻</p>
<p>（案3）屢中之體，舌強言蹇，不能咽物。不獨中，更防熟。</p>
<p>正舌散　半夏　蘇子　決明（一兩）　白芥子　陳皮　棗仁（三錢）　龍齒（六錢）</p>
<p>（案4）舌稍能語，但痰濁不化，究恐復中。</p>
<p>冬朮　芥子　歸身　決明　苓皮　半夏　白芍　龍齒　蘇子　陳皮　棗仁</p>
<p>（案5）稍能咽物，聊以敷衍。</p>
<p>蘇子　風化硝　半夏　棗仁（三錢）　芥子　石決明　陳皮　茯神（三錢）　青皮　生龍齒</p>
<p>（案6）卒中跌僕，不語，脈遲滑。周時口噤開為吉。</p>
<p>再造丸（一粒）　先服。</p>
<p>竹瀝　薑汁　沉香末同調服。</p>
<p>（案7）病後血虛而有風濕，為手足麻木，防中。</p>
<p>生地　杜仲　桑葉（錢半）　豨薟（四錢）　首烏　川斷　芝麻　陳皮　當歸　天麻</p>
<p>（案8）跌僕類中，舌強言蹇，脈軟，左手跌傷，左足不仁。防其痰擁復中。</p>
<p>再造丸（一粒，化開）　竹瀝　濃橘紅汁（一大匙）　首烏　白芍　蠍尾（二條）　桑枝（一兩）洋參（錢半）　蘇子　苓皮　風化硝　歸身　芥子　天麻　石決明</p>
<p>（案9）舌質絳，津液干，脈轉細軟。不獨防其復中，更恐老年就熟。</p>
<p>黨參（三錢）　歸身　朱天冬（錢半）　桑枝　天麻　生地（六錢）　白芍　夜交藤（四錢）　蘇子　霍斛（一兩）</p>
<p>（案10）外風引動內風，為口喎。</p>
<p>羚角（錢半）　天麻　決明　半夏　桑葉（錢半）　黃菊　連翹　陳皮　丹皮（錢半）　蒺藜</p>
<p>（案11）舌津全竭，兩脈欲絕。旦晚大事可危，勉擬以盡人事。</p>
<p>炙草（七分）　麥冬（錢半）　歸身　阿膠（錢半）　人參（一錢）　五味（三分）　牡蠣（一兩）　生地（六錢）　白芍（三錢）　龍齒（六錢）</p>

<h2>五、癇</h2>
<p>（案1）痰火矇蔽為癇。</p>
<p>龍膽草（七分）　連翹（三錢）　羚角（錢半）　黑梔（錢半）　川黃連（五分）　茯神　決明　龍齒　陳膽星（七分）　礞石（四錢）　丹皮　竹瀝</p>
<p>（案2）癇象略定，仍從苦泄。</p>
<p>龍膽草　連翹　礞石　竹瀝　羚羊角　茯神　龍齒　橘紅　陳膽星</p>
<p>（案3）逃難中心境自然惡劣，加以痰氣互阻，神識呆鈍。防其成癇。</p>
<p>礞石滾痰丸（四錢）　先服。</p>
<p>川連　香附　膽星　紫貝齒（六錢）　石決明　棗仁（三錢）　蘇梗（錢半）　竺黃　生龍齒</p>
<p>（案4）心氣太虛，肝木乘之。非靜劑不可。</p>
<p>生地（六錢）　天冬　紫貝齒　石決明　阿膠　川貝　生龍齒　青礞石　龜板（一兩）　橘紅</p>
<p>（案5）養陰靜劑既合，仍從其治。</p>
<p>熟地（六錢）　龜板（一兩）　茯神　川貝　龍齒　阿膠　麥冬　橘紅　決明　牡蠣　天冬　棗仁</p>
<p>（案6）大凡豬癇、羊癇，皆從肝逆挾痰所致。</p>
<p>羚羊角　生龍齒　天竺黃　白蒺藜　龍膽草　紫貝齒　陳膽星　廣橘紅　石決明　朱茯神黃甘菊</p>
<p>（案7）心腎不交。治宜安神補養。</p>
<p>人參（一錢）　茯神　女貞（三錢）　左牡蠣　熟地（六錢）　棗仁　龍骨　櫻子膏（沖，一兩）遠肉（七分）　五味（三分）</p>
<p>（案8）肝陽痰火上升，痰迷似癇。以滾痰丸主方。</p>
<p>大黃（四錢）　沉香（五分）　風化硝　天竺黃（錢半）　淡芩（錢半）　茯神　生龍齒　陳膽星礞石（四錢）</p>
<p>竹瀝　薑汁　另服。</p>
<p>（案9）痰火升降不定。</p>
<p>羚角　生龍齒　半夏　天竺黃　棗仁　風化硝　陳皮　陳膽星　茯神</p>
<p>（案10）每逢安睡，則明日神稍清。此陰虛而痰火上蒙。</p>
<p>西洋參　白芍（三錢）　茯神　天竺黃　鮮首烏（一兩）　棗仁　膽星　風化硝　羚羊角</p>
<p>滾痰丸　竹瀝、薑汁下。</p>

<h2>六、肝陽</h2>
<p>（案1）心肝腎三陰交虛，為耳鳴不寐。</p>
<p>生地　黃菊　茯神　石決明　首烏　蒺藜　女貞（三錢）　生龍齒　龜板　棗仁　白芍</p>
<p>（案2）肝陰虛，肝陽升，肝氣橫逆。</p>
<p>首烏　白芍　半夏　石決明　生地　黃菊　陳皮　生龍齒　女貞　吳萸</p>
<p>（案3）肝陽略平，而肝陰頗虛。</p>
<p>生地　白芍　茯神　黃甘菊　首烏　歸身　決明　陳皮　女貞　棗仁　龍齒</p>
<p>（案4）肝腎陰虧，又不耐膩補。</p>
<p>生地　棗仁　蒺藜　夜明砂（三錢）　首烏　茯神　阿膠　望月砂（三錢）　白芍　黃菊　決明</p>
<p>（案5）肝脾腎三陰為病。擬和陰立中為主，佐以化痰。</p>
<p>參鬚（一錢）　茯苓　歸芍　橘紅　蘇子　杜斷</p>
<p>（案6）肝陰虛，肝陽升，肝邪犯胃。</p>
<p>左金丸　白芍　石決明　二陳湯　棗仁　生龍齒　制首烏　香附</p>
<p>（案7）大便得通，惟肝陰素虧。際此酷暑，又難峻補。</p>
<p>制首烏　決明　白芍　二陳湯　女貞子　棗仁　龍齒　鮮佛手（一錢）　小黑穭豆（三錢）　歸身</p>
<p>（案8）肝腎陰虛，治以疏養。</p>
<p>首烏　沙參（三錢）　二至丸（旱蓮、女貞）　麥冬（錢半）　川貝　生地　阿膠　決明　棗仁橘紅　黨參　龜膠（錢半）</p>
<p>（案9）濕火挾肝陽上升。</p>
<p>青麟丸（三錢）　桑葉（錢半）　黃菊　薄荷（七分）　決明　橘紅　杏仁（三錢）　蒺藜　連翹兜鈴（七分）</p>
<p>（案10）濕痰阻，而肝陽不平。</p>
<p>磁朱丸（四錢，磁、朱、六曲和丸）　米仁　溫膽湯　黃菊　石決明　蒺藜</p>
<p>（案11）濕痰流絡，氣分痹窒，加以肝陽上升。治宜兼顧。</p>
<p>三子　杏仁　旋覆花　蒺藜　二陳　蔞仁　石決明　黃菊</p>
<p>（案12）養陰和絡頗合。擬大其制。</p>
<p>生地　阿膠　棗仁　歸身　旋覆　龜膠　洋參　茯神　杜斷　代赭</p>
<p>（案13）裡熱未清，但肝脈不靜。再投清泄。</p>
<p>羚角　茯神　決明　黃菊　鮮地　丹皮　翹心（三錢）　蒺藜　竹茹</p>
<p>（案14）肝陽略平，風火不泄。</p>
<p>薄荷　羚角　黃菊　蔓荊子（三錢）　連翹　桑丹　蒺藜　石決明</p>
<p>（案15）肝陽升逆頗甚。治以苦泄。</p>
<p>龍膽草　女貞子　黃菊　磁石　羚羊角　連翹心　蒺藜　白芍　柏子仁（四錢）　石決明　茯神　麻仁（四錢）</p>
<p>（案16）際此甲木萌動，肝陽易升，非壯水不可。</p>
<p>熟地　阿膠　茯神　女貞　龍齒　陳皮　龜板　棗仁　白芍　決明　磁石</p>
<p>（案17）肝陽上升為耳聾，肝火灼肺為咳嗽。</p>
<p>阿膠　川貝　黃菊　石決明　兜鈴　桑皮　蒺藜　煅磁石　杏仁　橘紅　茯神</p>
<p>（案18）肝肺之氣尚未和洽。</p>
<p>阿膠散（膠錢半、鈴七分、牛蒡三錢、米三錢、草五分、杏仁三錢）　磁石　蒺藜　石決明黃菊</p>
<p>（案19）咳動肝陽，夜來不寐。</p>
<p>桑皮（錢半）　決明　象貝（錢半）　款冬花（錢半）　竹茹　兜鈴　橘紅　冬瓜子（三錢）　茯神</p>
<p>（案20）陰虛而有濕熱，宜補養中參以苦泄。</p>
<p>黨參　川連　生龍齒　炒地榆（三錢）　於術　棗仁　紫貝齒　陳膽星　歸身　茯神</p>
<p>（案21）素體肝陰虛，肝陽升，現在尚有濕阻。姑從泄化。</p>
<p>川樸　橘紅　蘇子　米仁　枳殼　杏仁　半夏　芥子　穀芽（四錢）</p>
<p>（案22）肝陰虛而肝火旺。</p>
<p>阿膠　首烏　黃菊　夜明砂　龜膠　女貞　蒺藜　望月砂　生地　白芍　陳皮</p>
<p>（案23）肝火太旺，峻補不投。</p>
<p>羚角　黃菊　蒺藜　草決明（五錢）　中地（六錢）　白菊　丹皮　石決明（一兩）　翹心</p>
<p>（案24）肝陰虛，肝火旺。仍從養陰泄熱。</p>
<p>龍膽草　阿膠　翹心　白芍　羚羊角　中地　蒺藜　黃菊　石決明　丹皮</p>
<p>（案25）肝火不降，良由肝陰內虧。</p>
<p>龜板　川貝　茯苓　青皮　阿膠　橘紅　蘇子　佛手　川連</p>
<p>（案26）肝火漸降，宜參滋養。</p>
<p>生地　羚羊角　女貞　黃菊　阿膠　石決明　旱蓮　蒺藜　龜膠</p>
<p>（案27）勞倦挾肝陽上升。治宜兼顧。</p>
<p>豆卷（四錢）　決明　半夏　秦艽（錢半）　甘菊　陳皮　桑枝（一兩）　蒺藜　枳殼</p>

<h2>七、不寐</h2>
<p>（案1）心腎不交，夜來不寐。</p>
<p>棗仁　生地　石決明　龍齒　川連　首烏　柏子仁　甘草　茯神</p>
<p>（案2）養陰平肝固本，但寐總不長。擬前法合坎離丸。</p>
<p>生地　女貞　棗仁　黃菊　石決明　首烏　白芍　茯神　蒺藜　生龍齒　龜板</p>
<p>肉桂（三分）　川連（三分）　甘草（五分）　三味同研細，米飲和丸吞下。</p>
<p>（案3）夜寐稍安。宜參補養。</p>
<p>何人飲　棗茯　穀芽　半夏湯　橘紅　米仁</p>
<p>（案4）濕痰阻而膽胃不和。</p>
<p>半夏湯　芥子　杏仁　桑皮　杜蘇子　陳皮　米仁　桔梗（一錢）</p>
<p>川連（五分）　肉桂（四分）　炙草（七分）　和丸服。</p>
<p>（案5）胃不和則臥不安，前因外感，今已漸化。仍從和胃治。</p>
<p>溫膽湯　北秫米（三錢）　歸芍　棗茯</p>
<p>（案6）心思過度，心腎不交。</p>
<p>生地　白芍　石決明　龍齒　洋參　棗仁　連翹心　半夏　歸身　茯神　柏子仁　陳皮</p>
<p>（案7）頭痛、少腹痛止，惟夜來不寐。此胃不和也。</p>
<p>半夏　香附　青皮　米仁　秫米　蘇梗　茴香（七分）　穀芽　陳皮</p>
<p>（案8）胃不和則臥不安，加以心緒紛紜，肺亦不宣。</p>
<p>秫米　決明　柏仁　桑皮　半夏　茯神　杏仁　桔梗（一錢）　竹茹</p>

<h2>八、怔忡</h2>
<p>（案1）氣逆耳鳴，不寐神呆，此怔忡之漸也。現在舌苔黃厚，尚有濕熱。</p>
<p>棗仁　竹茹　半夏　磁石　石決明　川連　茯神　秫米　膽星　紫貝齒</p>
<p>（案2）不寐神煩，久延恐成怔忡。但現在舌苔白厚，脈象濡弦，尚有濕阻。先從標治。</p>
<p>半夏　棗茯　茅朮　石決明　秫米　青陳　米仁　沉香曲</p>
<p>（案3）肝腎陰虧，心陽易動。</p>
<p>首烏　半夏　棗仁　遠志炭（七分）　龜膠　陳皮　女貞　石決明　阿膠　茯神　白芍　生龍齒</p>
<p>（案4）心脾腎三陰虛，肝不藏魂。</p>
<p>首烏　茯神　枸杞（三錢）　半夏　黨參（三錢）　棗仁　菟絲（三錢）　陳皮　於術（錢半）</p>
<p>（案5）投陰靜之劑，心陽略斂。仍從前治。</p>
<p>生地　人參　龍齒　牡蠣　阿膠　半夏　貝齒　棗仁　龜膠　陳皮　麥冬　茯神</p>

<h2>九、脾陽</h2>
<p>（案1）脾陽衰餒，不耐寒冷。</p>
<p>草果（七分）　香附　大腹（錢半）　丁香　厚朴　紫蘇　吳萸　藿香（錢半）　木香（七分）</p>
<p>（案2）寒濕不化，脾陽衰憊。</p>
<p>附子　半夏　大腹　澤瀉　茅朮　陳皮　丁香　澄茄　乾薑　青皮</p>
<p>（案3）陽氣不振，所以畏寒。</p>
<p>黨參　歸芍　芥子　半夏　冬朮　桂枝（五分）　鹿膠（錢半）　陳皮　首烏　蘇子</p>
<p>（案4）陽氣衰，脾不運。</p>
<p>益智（七分）　雞金散　菟絲　巴戟肉（錢半）　枸杞　煨木香</p>
<p>（案5）陽氣漸和，而脾腎交虛。</p>
<p>麗參　茯苓　枸杞　歸芍　陳皮　黨參　益智　菟絲　鹿膠　於術</p>
<p>（案6）產後失調，泄久脾陽大傷，面部浮腫。最恐浮腫。</p>
<p>黨參　苓皮　枸杞　木香　青皮　於術　益智　菟絲　加皮（五錢）　香櫞</p>
<p>（案7）舌苔尚白，脾胃不健。</p>
<p>於術　益智　加皮　米仁　茅朮　苓皮　青皮　香櫞</p>
<p>（案8）脾陽不運，清濁混淆。以運脾利水。</p>
<p>冬朮　益智　枳殼　大腹　苓皮　歸芍　建曲　澤瀉</p>
<p>（案9）心脾腎三陰交虛。</p>
<p>洋參　於術　歸身　陳皮　刺蝟皮（三錢）　生地　茯神　白芍　槐米（三錢）　側柏炭（三錢）　首烏　棗仁　加皮　遠志肉</p>
<p>（案10）脾陽衰餒。治以溫養。</p>
<p>肉桂　參鬚　於術　雞金散　附子　乾薑　苓皮</p>
<p>（案11）脾腎虛而氣下陷。</p>
<p>四神丸（三錢）　歸芍　菟絲（三錢）　青皮　高麗參　益智（七分）　枸杞（三錢）　陳皮　生於術</p>
<p>（案12）肺氣漸和，脾陽不運。宜參補養。</p>
<p>黨參　玉竹（三錢）　陳皮　香櫞　於術　川貝　青皮　雞內金　沙參</p>
<p>（案13）近日咳嗽大減，而脾不健運。</p>
<p>人參　麥冬　橘白（一錢）　川斛（三錢）　熟地　玉竹　茯苓　山藥（三錢）　沙參（三錢）　川貝</p>

<h2>十、浮腫</h2>
<p>（案1）瘧後失調，面部、四肢浮腫。防其入腹。</p>
<p>五苓散　桑白皮　蘇子　五加皮　白杏仁　橘紅</p>
<p>（案2）浮腫之勢更甚於下體，殊恐增喘。</p>
<p>雞金散　四苓散（去朮）　五皮飲　椒目（一錢）　陳麥柴（四兩）代水。</p>
<p>（案3）浮腫略減，而夜來咳嗽。此增喘之漸。</p>
<p>五苓散（去朮）　葶藶（五分、七分）　杏仁（三錢）　雞金散　蘇子　椒目（一錢）</p>
<p>（案4）瘡發不透，浮腫更甚。</p>
<p>青麟丸（三錢）　先服。</p>
<p>黃柏（一錢）　赤芍　山梔　地膚子（三錢）　知母（錢半）　苓皮　桑葉　大豆卷　丹皮　加皮　澤瀉</p>
<p>（案5）夜來寒熱，面部、足肢浮腫。此風濕挾痰內閉也。</p>
<p>防己（錢半）　防風（錢半）　五子五皮飲</p>
<p>（案6）口糜之後，加以足腫。此氣陰並虛也。</p>
<p>生地　苓皮　於術　土貝母　黨參　加皮　歸芍　人中黃（七分、一錢）</p>
<p>（案7）痢後足肢腫，脾陽衰也。</p>
<p>麗參　加皮　苓皮　青陳　於術　阿膠　歸芍　米仁（四錢）</p>
<p>（案8）浮腫漸退，再投和脾化濕。</p>
<p>指迷茯苓丸（風化七分、白朮、茯苓）　雞金散　木瓜（錢半）　四苓散　歸身</p>
<p>（案9）咳嗆浮腫固減，而舌苔總白厚。濕邪內阻，燥恐礙肺。</p>
<p>川樸　五子飲　加皮　桑皮　杏仁　雞金散　苓皮</p>
<p>（案10）黃疸全退，惟足肢浮腫不已。</p>
<p>四苓散　加皮　萆薢（錢半）　二陳湯　米仁　佛手</p>
<p>（案11）面部浮腫得減，而大便仍溏。濕未化也。</p>
<p>草果（七分）　防風　秦艽　青皮　大腹　防己　苓皮　陳皮　木香　加皮</p>
<p>（案12）浮腫略減，宜參補養。</p>
<p>六君子湯（四君子、半夏、陳皮）　加皮　棗仁　化肝煎　歸芍　麥冬（錢半）</p>
<p>（案13）浮腫略減，而脾陽不振。</p>
<p>於術　肉桂　苓皮　五加皮　乾薑　白芍　澤瀉　雞金散</p>
<p>（案14）下體浮腫得減，而舌苔乾紅，陰分已傷。擬扶正和陰滲濕。</p>
<p>何人飲　歸芍　澤瀉　五加皮　化肝煎　炙草　茯苓皮</p>
<p>（案15）瘧後面部、四肢浮腫，防其腹膨。</p>
<p>三子養親湯　五加皮　苓皮　雞金散　大腹皮</p>
<p>（案16）瘧後失調，盜汗，腹膨面腫。姑與健養。</p>
<p>冬朮　加皮　淮麥（三錢）　雞金散　苓皮　澤瀉　紅棗（五枚）</p>
<p>（案17）痎瘧後浮腫及上，濕邪頗重。防其入腹。</p>
<p>茅朮　加皮　焦米仁　苓皮　澤瀉　雞金散</p>
<p>（案18）瘧久脾傷，腹膨足腫，加以咳嗽特甚，舌苔白厚。有濕而不能燥，殊為棘手。</p>
<p>五子飲　五皮飲</p>
<p>（案19）霍亂病後面部浮腫，脾虛受風所致。</p>
<p>於術　加皮　蘇梗　枳殼　苓皮　防風　青陳　藿香</p>
<p>（案20）冬溫本未化達，又受新風，遍體浮腫。防其增喘。</p>
<p>防己　苓皮　前胡　蘇子　象貝（錢半）　防風　加皮　葶藶　杏仁　橘紅</p>
<p>（案21）產後失調，面部、四肢浮腫，加以咳嗽氣急。防其增喘。</p>
<p>前胡（錢半）　桑皮　腹皮　兜鈴　防風　苓皮　青皮　杏仁　防己　加皮　櫞皮　蘇子</p>
<p>（案22）舌苔滿白，面部浮腫，濕邪又氾濫也。</p>
<p>茅朮　加皮　半夏　米仁　苓皮　蘇子　青陳　穀芽</p>

<h1>卷之御</h1>

<h2>一、腹膨</h2>
<p>（案1）寒熱延今二十餘日，少腹痛至脘，曾經吐蛔、大便下蛔，兩關脈弦。病在肝脾兩經，久延防痛甚至厥。擬逍遙、左金、雞金合方。</p>
<p>逍遙散（柴、歸、芍、朮、草、苓、木香）　左金丸　雞金散</p>
<p>（案2）形寒未罷，脘腹膨。肝脾不調也。</p>
<p>桂枝　丹皮　桑麻丸　歸身　雞金散</p>
<p>（案3）脾總不調，所以腹總膨脹。擬逍遙合雞金。</p>
<p>於術　炙草　雞金散　柴胡（七分）　歸芍</p>
<p>（案4）脫力勞傷，肝脾兩病。</p>
<p>冬朮　加皮　雞金散　苓皮　化肝煎</p>
<p>（案5）腹膨癟後，陡然氣阻暈厥，二便自遺，所下糞有瘀血，冷汗，肢冷，舌白厚，脈象軟甚。此肝脾兩病傷，防腹膨復劇。</p>
<p>麗參（二錢）　肉桂（五分）　五味（五分）　歸身　沉香　附子（一錢）　白芍　苓皮　青皮　香櫞</p>
<p>（案6）肝旺脾弱，所以腹膨不能癟盡，乳痛未已。</p>
<p>麗參　茅朮　加皮　香櫞　歸芍　吳萸　苓皮　雞金　青皮　旋覆</p>
<p>（案7）投扶正疏肝、和脾勝濕既合，仍宜守之。</p>
<p>麗參　茅朮（一錢）　澄茄　雞金　歸身　於術　吳萸　加皮　香櫞　白芍</p>
<p>（案8）濕瘡之後，腹膨如臌，近有寒熱。防其增喘。</p>
<p>前胡　荊芥（錢半）　蘇子　雞金散　防風　豆豉（三錢）　杏仁</p>
<p>（案9）經停腹膨，寒熱往來，咳嗽。已成血鼓，難許奏功。</p>
<p>黨參　歸芍　丹參（三錢）　沙參（三錢）　冬朮　青陳　澤蘭（三錢）</p>
<p>（案10）失血咳嗽之體，已屬怯象，加以腹膨便溏，此舌根黃膩，尚有濕滯阻中。先從標治。</p>
<p>木香（七分）　枳殼（錢半）　炒楂（三錢）　澤瀉（錢半）　菟絲（三錢）　蘇梗　沉曲（三錢）　大腹（錢半）　赤苓（三錢）</p>
<p>（案11）舌苔化黃，呃逆時作，腹尚膨脹，濕尚阻也。</p>
<p>枇葉（四錢）　丁香（五隻）　陳皮　白芥子（七分）　厚朴（一錢）　半夏　蘇子　雞金散</p>
<p>（案12）久瘧傷脾，為腹軟膨。</p>
<p>雞金散　桂枝湯（桂、白芍、草、薑、棗）　炒歸身</p>
<p>（案13）脾虛肝脹，腹笥膨脹，防成中滿。素有喉症。</p>
<p>雞金散　元參　生草　炒歸芍　土貝　杏仁</p>
<p>（案14）陰虛之體，肝脾不調。擬扶正養營。</p>
<p>參鬚（一錢）　元參　青陳　香櫞　歸芍　土貝　苓皮</p>
<p>（案15）痢下減而腹笥膨脹，所以驟脹屬熱。</p>
<p>香連丸（錢半，木香、川連）　四苓散（去朮）　大腹化肝煎　五加皮　香櫞</p>
<p>（案16）瘧鼓十年，今忽夆發。</p>
<p>雞金散　五皮飲</p>
<p>鱉甲煎丸　日進三服。</p>
<p>（案17）瘧後失調，肝脾兩傷，腹膨，已經臍凸筋青。瘧鼓已成，理之棘手。</p>
<p>雞金散　苓皮　腹皮　化肝煎　加皮</p>
<p>（案18）從痎瘧而起腹膨，加以咳嗽。</p>
<p>雞金散　冬瓜子　杏仁　象貝　款冬花　桑白皮　蘇子　橘紅</p>
<p>（案19）腹膨得減，而大便仍溏。</p>
<p>四神丸（三錢，補骨脂、肉果、五味、吳萸）　枳殼　大腹皮（錢半）　雞金散　建曲</p>
<p>（案20）厥陰瘧雖輕，而腹膨已經臍凸。勢成中滿。</p>
<p>柴胡（七分）　炙草　大腹　益智仁（七分）　冬朮　歸芍　木香　雞金散</p>
<p>（案21）瘧後血虛氣滯，脾虛肝脹。擬逍遙合五苓。</p>
<p>逍遙散（白朮、柴、草、歸、芍、茯）　五苓散　化肝煎</p>
<p>（案22）瘧後脾陽衰餒，肝木乘侮。防成中滿。</p>
<p>五苓散（去朮）　雞金散　五加皮　益智仁</p>
<p>（案23）瘧癖攻觸，而腹膨脅痛，甚至不能臥下。</p>
<p>雞金散　化肝煎　歸芍　杜斷</p>
<p>（案24）腹膨未作，而究未退盡。右乳時痛，肝絡失調也。</p>
<p>麗參　歸芍　三物旋覆湯　吳萸　雞金　陳香櫞皮</p>

<h2>二、黃疸</h2>
<p>（案1）濕熱鬱蒸，脘痞泛嘔，目稍黃。防其成疸。</p>
<p>丁香　吳萸　青麟丸（三錢）　澄茄　茵陳（三錢）　五苓散（去朮，桂、豬、茯、瀉）</p>
<p>（案2）濕滯互阻，防其發疸。</p>
<p>草果（七分）　香附　檳榔　半夏　厚朴　蘇梗　建曲　陳皮　杏仁　枳殼　澤瀉</p>
<p>（案3）產後營虛之體，濕熱阻郁，發為黃疸。</p>
<p>西茵陳　化肝煎　紫蘇　五苓散（去朮）　歸身</p>
<p>（案4）冬溫鬱伏，兼夾濕熱，形寒，熱不透，面發黃。</p>
<p>西茵陳　豆卷（四錢）　荊芥　枳實　五苓散（去朮）　防風　紫蘇　檳榔</p>
<p>（案5）黃疸退而濕邪蒸熱。</p>
<p>綿茵陳（三錢）　丹皮　川柏　蒺藜　四苓散　山梔　桑葉</p>
<p>（案6）黃疸退而膽胃未和。</p>
<p>四苓散　茵陳　蘇梗　溫膽湯　香附</p>
<p>（案7）疸勢大退，而濕不盡淨。</p>
<p>越鞠丸（三錢）　先服。</p>
<p>四苓散（去朮）　二陳湯　秦艽　防己</p>
<p>（案8）身黃如橘子色，溺如皂角汁，黃疸已透，而大便閉結。姑與通因通用。</p>
<p>茵陳四苓散（去朮）　香附　柴胡　梔子（錢半）大黃（四錢）湯　紫蘇</p>
<p>（案9）黃疸尚未全退。</p>
<p>茵陳　青麟丸（四錢）　枳實　四苓散　大豆卷　檳榔</p>
<p>（案10）黃疸未盡退淨。</p>
<p>茵陳四苓散（去朮）　青麟丸　穀芽　半夏秫米（三錢）湯　化肝煎</p>
<p>（案11）黃疸漸退，腹膨不已。</p>
<p>茵陳四苓散　青麟丸　歸身　雞金散　化肝煎</p>
<p>（案12）黃疸退，復兩足浮腫。此濕熱下注也。</p>
<p>冬朮　加皮　米仁　陳皮　苓皮　澤瀉　半夏　穀芽</p>
<p>（案13）黃疸經月不退，加以腹痛，下痢紅積。殊恐增劇。</p>
<p>茵陳四苓散　紅曲（三錢）　枳殼　香連丸　炒楂　建曲</p>
<p>（案14）黃疸不退，紅痢不止，舌苔尚白厚。濕滯尚阻。</p>
<p>茵陳四苓散　青麟丸　枳殼　香蘇飲　制川樸　建曲</p>
<p>（案15）黃疸漸退，舌苔亦化，惟小便淋濁。濕熱下注也。</p>
<p>茵陳四苓散（去朮）　導赤散（去地）　海金沙（四錢）　萆薢（二錢）</p>
<p>（案16）淋濁頗甚，黃疸不退。恐涉陰黃。</p>
<p>茵陳五苓散（去朮）　導赤散（去地）　海金沙（四錢）　琥珀（五分）</p>
<p>（案17）黃疸固退而淋濁不已，殊非所宜。</p>
<p>茵陳五苓散（去朮）　萹蓄（三錢）　青麟丸　導赤散（去地）　瞿麥（三錢）</p>
<p>（案18）淋濁不已，所以黃疸不能速退。</p>
<p>茵陳五苓散　川萆薢（錢半）　竹葉（三錢）　青麟丸　生草梢（五分）</p>
<p>（案19）淋濁不盡，所以黃疸不能速愈。</p>
<p>茵陳　西琥珀　草梢　四苓散　海金沙　萆薢</p>
<p>（案20）黃疸不能退盡，咳嗽有痰。</p>
<p>川樸　蘇子　陳皮　四苓散（去朮）　杏仁　象貝　茵陳</p>
<p>（案21）黃疸確退，而胃陽窒痹。</p>
<p>四苓散　上肉桂　九香蟲（一錢）　陳皮　西茵陳　麻仁丸　小青皮　蓽撥</p>
<p>（案22）黃疸匝月，兩脈濡小，面有黑色。防成陰黃。</p>
<p>製附子　四苓散　陳皮　西茵陳　半夏　</p>
<p>（案23）胃脘痛，嘔吐瘀紫，此蓄血痛也。加以胃疸三月，治宜溫通。</p>
<p>肉桂五苓散（去朮）　歸芍　吳萸　西茵陳　青陳</p>

<h2>三、濕痰</h2>
<p>（案1）咽痛之後，濕痰矇蔽，舌苔白厚。姑與疏利。</p>
<p>三子養親湯　杏仁　澤瀉　二陳湯　枳殼　佛手</p>
<p>（案2）腑氣通而氣上逆，容是痰氣為患。</p>
<p>蘇子　芥子　麥仁　蔞皮（三錢）</p>
<p>（案3）濕總不化盡。</p>
<p>越鞠丸　歸芍　香櫞皮（七分）</p>
<p>（案4）濕漸蒸熱，舌苔化黃。稍參清化。</p>
<p>金斛（三錢）　丹皮　山梔　杜仲　青陳</p>
<p>（案5）氣又上逆，舌又黃膩。</p>
<p>風化硝（七分）　茯苓皮　越鞠丸　二陳湯　杜蘇子</p>
<p>（案6）氣陰虛而濕痰阻。</p>
<p>二陳湯　澤瀉　白芍　蘇子</p>
<p>（案7）總是痰氣阻胃。</p>
<p>二陳湯　吳茱萸　蘇子</p>
<p>（案8）濕痰挾滯阻氣。</p>
<p>二陳湯　枳殼　蘇子　沉香曲</p>
<p>（案9）痰氣降而不降，擬二陳加化痰。</p>
<p>二陳湯　蘇子　萊菔子</p>
<p>（案10）痰稍降，而絡氣不舒。</p>
<p>旋覆花　橘葉（十二片）　橘絡（一錢）　吳萸</p>
<p>（案11）濕邪為患，擬五苓散。</p>
<p>桂枝　茅朮　豬苓　苓皮　澤瀉</p>
<p>（案12）總是濕痰阻氣。</p>
<p>越鞠丸</p>
<p>（案13）豁痰固合，但氣又上逆。治以咸降。</p>
<p>海蜇（三錢）　蘇子　橘紅汁（一大匙）　荸薺（五個）　竹瀝（二兩）　白杏仁</p>
<p>（案14）濕痰漸化，而退燥傷。暫擬以和胃化痰。</p>
<p>半夏　陳皮　蘇子　秫米　歸芍　川斛</p>
<p>（案15）現在濕痰氾濫，不能進補。</p>
<p>三子養親湯　二陳湯　旋覆花</p>
<p>（案16）濕邪迷漫。</p>
<p>指迷茯苓丸　蓽澄茄　蘇子　二陳湯　白芥子</p>
<p>（案17）濕痰久郁為熱。</p>
<p>竹茹　川貝　橘紅</p>
<p>（案18）濕邪漸化，絡分之痰漸消。</p>
<p>三子養親湯　化肝煎　蒲公英（四錢）　指迷　茯苓丸（去朮）　土貝母　旋覆花（五錢）</p>
<p>（案19）痰凝結飲，繞臍腹痛。</p>
<p>三子養親湯　二陳湯　良附丸　青皮</p>
<p>（案20）一派濕熱內蒸之象。</p>
<p>四苓散　夏枯草（三錢）　蘇子　二陳湯　黃甘菊</p>
<p>（案21）濕痰互阻，舌苔白厚異常，咳嗽，夜來蒸熱。</p>
<p>茅朮　馬兜鈴　蘇子　前胡　橘紅　桑皮　白杏仁　菔子　象貝　荷藿</p>
<p>（案22）濕痰互阻頗重，舌苔膩厚，肢易麻木。</p>
<p>指迷茯苓丸　蘇子　淡木瓜（錢半）　旋覆花　芥子　淮牛膝　桑白皮　二陳</p>
<p>（案23）痎瘧後，寒濕挾痰阻於中焦。姑與溫通。</p>
<p>吳萸　厚朴　炒枳殼　三子養親湯　澄茄　草果　良附丸　二陳湯</p>
<p>（案24）痎瘧之後，濕痰矇蔽，時欲形凜，咳嗽不爽。</p>
<p>半夏　荊芥　紫蘇（錢半）　杏仁　秫米　青陳　桑皮　芥子</p>
<p>（案25）正陰虛而濕痰流絡。</p>
<p>指迷茯苓丸　人參鬚（一錢）　白芍　二陳湯　歸身　杜仲</p>
<p>（案26）陽氣稍通，痰飲不化。</p>
<p>半硫丸　淡吳萸　丁香　芥子　良附丸　蓽澄茄　蘇子　杜斷</p>
<p>（案27）寒濕挾痰凝聚，久久不化。</p>
<p>半硫丸　三子　澤瀉　化肝煎　米仁　枳殼</p>
<p>（案28）濕痰尚阻痹中焦。</p>
<p>瓜蔞薤白湯　三子養親湯　厚朴杏子湯　化肝煎</p>
<p>（案29）濕痰互阻中焦，脘痞，泛嘔味甜。</p>
<p>厚朴杏子湯　二陳湯　蔻仁（五分）　三子養親湯　茅朮　香附</p>
<p>（案30）濕熱挾痰流絡，咳嗽，右膝不利。</p>
<p>旋覆　桑白皮　杏仁　木瓜　防己（錢半）　藁本（錢半）　馬兜鈴　川貝　橘紅</p>
<p>（案31）濕熱挾痰，治以溫膽。</p>
<p>溫膽湯　米仁　蘇子　建曲　青皮</p>
<p>（案32）痰能令其不生，不能禁其不吐。治以補氣化痰。</p>
<p>黨參　沙參　川貝　玉竹　川斛（三錢）　橘皮　蘇子　杏仁　苓皮</p>
<p>（案33）肝胃痰熱內阻。</p>
<p>金斛　炒丹皮　決明　淡芩　溫膽湯　山梔</p>

<h2>四、疝氣</h2>
<p>（案1）形寒疝氣得除，而寒熱往來不定，舌苔垢厚。有濕尚阻也。</p>
<p>紫蘇　柴胡　小青皮　橘核（四錢）　枳殼　川樸　茴香（七分）　荔枝核（四錢）　半夏</p>
<p>（案2）寒熱往來，時作疝氣，舌苔呆白。寒濕互阻。</p>
<p>桂枝　紫蘇　橘核　青皮　建曲　茅朮　茴香　半夏　枳殼</p>
<p>（案3）厥少濁陰凝結為疝。治以溫通。</p>
<p>桂枝　青皮　荔枝核　川楝子（七分）　茴香　橘核　葫蘆巴（錢半）　延胡索（錢半）</p>
<p>（案4）便泄久久，脾陽衰餒，食難運化，加以寒濕凝聚為疝。治宜兼顧。</p>
<p>桂枝　雞金散　茴香　荔枝核（四錢）　益智　香蘇飲　橘核（四錢）</p>
<p>（案5）中焦略舒，而下焦寒濕凝聚，腎囊出水。治以溫通滲利。</p>
<p>茴香（五錢）　蔥白（廿個）　生薑（一片）　紫蘇（一兩）　熏洗。</p>
<p>肉桂　烏龍丸　牛膝　荔枝核　茴香　川續斷　橘核　葫蘆巴（錢半）</p>
<p>（案6）前法既合，惟正陰交虛。擬參和養。</p>
<p>桂枝　生於術　茴香（七分）　加皮（五錢）　益智仁　麗參　烏龍丸　白芍　青陳　菟絲子</p>
<p>（案7）濕火下注，陰囊瘰癢，舌質光絳。</p>
<p>鮮地　知母　生草　元參　黃柏　淡芩　土貝　山梔　丹皮　赤芍</p>
<p>（案8）溫邪勞倦，併發發熱，加以疝氣。</p>
<p>豆卷　前胡　青皮　秦艽　荊芥　紫蘇　橘核　桑枝（一兩）　防風　茴香　荔枝核</p>

<h2>五、淋濁（附遺泄）</h2>
<p>（案1）陰虛，濕熱下注，為血淋。</p>
<p>小薊（錢半）　黑山梔　海金沙（四錢）　炒丹皮　琥珀（五分）　導赤散（生地、木通、竹葉、生草梢）　歸身</p>
<p>（案2）濕熱下注，為血淋。</p>
<p>青麟丸　西琥珀（五分）　萆薢　山梔　導赤散　海金沙　丹皮</p>
<p>（案3）濕熱久久鬱蒸，為小便血。</p>
<p>導赤散　琥珀　小薊　三妙丸　山梔</p>
<p>（案4）濕熱下注，為淋、為痔。</p>
<p>導赤散　山梔　丹皮　槐米（三錢）　海金沙　赤芍　歸尾（三錢）</p>
<p>（案5）濕熱久郁，小便不利。</p>
<p>四苓散（去朮）　柏子仁（四錢）　牛膝（三錢）　二陳湯　歸身　車前（三錢）</p>
<p>（案6）病久不能元復，濕熱下注。治以滲利。</p>
<p>四苓散　小木通　桑葉　五加皮　青蒿（錢半）　丹皮</p>
<p>（案7）溫邪內郁，濕熱下注。</p>
<p>前胡　防風　紫蘇　導赤散　豆豉　荊芥　澤瀉　海金沙</p>
<p>（案8）寒熱往來，咳痰黃厚帶血，小便作腫。此濕熱下注也。</p>
<p>前胡　馬兜鈴　象貝　木通　豬苓　桑皮白　杏仁　橘紅　竹葉　澤瀉</p>
<p>（案9）濕熱下注，陽氣不通。</p>
<p>五苓散　半夏　荊芥　生草梢　紫蘇　橘紅</p>
<p>（案10）陽氣回而春水萌動，溫藥宜復。</p>
<p>黨參　歸芍　金櫻子（三錢）　蓮鬚（三錢）　於術　杜斷　茯苓皮　陳皮</p>
<p>（案11）濕邪氾濫，所以肢麻略減，而舌更垢厚，小便帶濁。以三妙、四苓主方。</p>
<p>四苓散　木瓜　風化硝（七分）　三妙丸（三錢）　牛膝</p>
<p>（案12）白濁經年，精枯則莖中癢。</p>
<p>大補陰丸（熟地、龜板、柏、知、豬脊筋）　牡蠣　線魚膠（錢半）　金櫻子膏（一兩）　澤瀉　雲茯苓</p>
<p>（案13）陰虛，濕熱下注，白濁久久不愈。治宜通澀並施。</p>
<p>牡蠣　金櫻子　芡實（三錢）　茯苓　蓮鬚（三錢）　澤瀉　線魚膠　萆薢　米仁</p>
<p>（案14）扶正和脾，佐以溫腎。</p>
<p>黨參　枸杞子　益智　青皮　芡實　於術　菟絲子　潼藜（三錢）　陳皮　蓮鬚</p>
<p>（案15）腎氣素虛，治以滋養。</p>
<p>大補陰丸　杜斷　歸芍　毛脊（三錢）</p>
<p>（案16）無夢遺泄，陰虛、腎氣不攝也。</p>
<p>大補陰丸　棗仁　蓮鬚　牡蠣　金櫻子膏　芡實　龍骨</p>
<p>（案17）肺腎交虛之體，素多咳嗽，溺管作痛，亦屬內熱所致。</p>
<p>大補陰丸　草梢（五分）　川貝　橘紅　北沙參　麥冬　杏仁</p>
<p>（案18）咳嗽略鬆，而腎不固。</p>
<p>清阿膠　牡蠣　蓮鬚　川貝　桑皮　馬兜鈴　澤瀉　芡實　杏仁</p>
<p>（案19）陰分虛，君相二火併旺。</p>
<p>大補陰丸　朱茯神　芡實　二至丸　白蓮鬚</p>
<p>（案20）心腎不交，丸以緩之。</p>
<p>早服：大補陰丸（二錢）　晚服：天王補心丹（二錢）</p>
<p>（案21）濕漸化熱。</p>
<p>琥珀　三妙丸　豬苓　通草（一錢）　草稍　川萆薢　澤瀉</p>
<p>（案22）濕邪尚阻，淋濁減而泛泛欲嘔。</p>
<p>三妙丸　海金沙　竹葉　通草　二陳湯　川萆薢　澤瀉</p>
<p>（案23）濕熱漸有化機，加以新感。</p>
<p>青麟丸　瞿麥　導赤散（去地）　防風　萹蓄　琥珀　海金沙（四錢）　荊芥</p>
<p>（案24）腎陰虛而濕熱重，初起小便混濁，繼以尿血，病起三月餘。姑與通因通用法。</p>
<p>導赤散　萆薢　澤瀉　西琥珀　丹皮</p>

<h2>六、便閉</h2>
<p>（案1）肝胃之氣窒痹，濕熱鬱蒸，致二便不通者五日。</p>
<p>青麟丸　蔞仁　車前　澤瀉　二陳湯　麥仁　牛膝　木瓜（錢半）</p>
<p>（案2）大便暢通之後，氣機尚不和洽。</p>
<p>香附　青陳　車前　建曲　蘇梗　牛膝　枳殼　歸芍</p>
<p>（案3）痛止便潤，惟嫌陰氣不充。</p>
<p>高麗參　化肝煎　杜斷　沉蓯丸　歸芍</p>
<p>（案4）濕熱鬱蒸，為大便難，小便不利。</p>
<p>四苓散（去朮）　五仁湯（各三錢）　鮮首烏　生歸身（三錢）</p>
<p>（案5）偏體痛止，惟大便不行。</p>
<p>油當歸（四錢）　麥仁　青皮　香附　柏子仁　麻仁　杜斷　蘇梗</p>
<p>（案6）肝陽略平，惟大便艱難。</p>
<p>鮮首烏　柏子仁　棗茯　石決明　生歸芍　大麥仁　女貞　生龍齒</p>
<p>（案7）擬養陰潤腸，即所以降火也。</p>
<p>鮮首烏　柏子仁　二陳湯</p>
<p>（案8）姑與寬腸潤氣。</p>
<p>大麥仁　火麻仁　油當歸</p>
<p>（案9）寒濕久郁，二便不利。</p>
<p>肉桂五苓散（去朮）　火麻仁　麥仁　青麟丸　白杏仁　陳皮</p>
<p>（案10）寒濕滯未化，二便不利。</p>
<p>麻仁丸（六錢）　青皮　蘇梗　枳殼　蔞仁（四錢）　陳皮　生附　檳榔　桂枝　杏仁</p>
<p>（案11）痢後大便艱，血枯腸燥。</p>
<p>首烏　阿膠　茯神　小青皮　歸芍　棗仁　陳皮　柏子仁</p>
<p>（案12）大便不行，形寒不已，邪總郁達。</p>
<p>麻仁丸　瓜蔞　建曲　防風　桂枝　枳檳　豆豉　荊芥</p>
<p>（案13）濕火漸有化機，而大便四日未行。</p>
<p>青麟丸　淡芩　杏仁　米仁　二陳湯　青皮　蔞仁　知母</p>

<h2>七、泄瀉（附霍亂、飧泄）</h2>
<p>（案1）暑邪直中三陰，吐瀉轉筋，眶陷，脈伏，冷汗，肢冷。旦晚大事可危。</p>
<p>玉樞丹　另服四分。</p>
<p>附子　木香　丁香　半夏　木瓜　肉桂　吳萸　乾薑　陳皮</p>
<p>（案2）嘔吐止而五更泄瀉，脾陽衰也。</p>
<p>益智　菟絲　肉果（七分）　青皮　蘇梗　吳萸　枸杞　半夏　陳皮　沉曲</p>
<p>（案3）脾陽不運，為飧泄。</p>
<p>於術　苓皮　菟絲子　歸身　益智　雞金散　枸杞　白芍</p>
<p>（案4）病後失調，為便血，甚於五更。脾陽火傷，治以健養。</p>
<p>冬朮　肉果　枳殼　蘇梗　益智　菟絲　建曲　青皮　木香　枸杞　大腹　陳皮</p>
<p>（案5）脾陽不運，每早腹痛便泄不止。</p>
<p>肉桂　益智仁　枸杞　木香　雞金散　菟絲</p>
<p>（案6）腹痛減而便不止。以理中重方。</p>
<p>附子理中湯　雞金散</p>
<p>（案7）素體陰虛內熱，屢經悲鬱，肝脾失調，時有腹痛便泄。擬扶正和脾，佐以利氣。</p>
<p>參鬚　苓皮　白芍　青陳　於術　香附　益智　佛手</p>
<p>（案8）氣分略舒，腹膨如放。今早腹痛便泄，脾陽大憊。</p>
<p>附子　益智　苓皮　雞金散　冬朮　大腹　五加皮</p>
<p>（案9）脾陽衰，不耐暑濕，所以洞泄。</p>
<p>冬朮　大腹　枳殼　荷葉　益智　苓皮　建曲　藿香　木香　澤瀉　米仁</p>
<p>（案10）暴暑又著新涼，腹痛洞泄。姑與疏散。</p>
<p>草果　蘇梗　枳實　檳榔　荊芥　厚朴　木香　建曲　防風　藿香</p>
<p>（案11）痎瘧後脾陽衰，大便時溏。有治肺礙脾、治脾礙肺之弊。</p>
<p>冬朮　益智　枳殼　青皮　桂枝　苓皮　香櫞　沉曲　桑皮</p>
<p>（案12）當臍痛，腹膨便溏，肝脾病也。便有咳嗽，不宜過燥。</p>
<p>香蘇飲　大腹　枳殼　赤苓　化肝煎　桑皮　建曲　佛手</p>
<p>（案13）脾腎陽衰，舌紅質大，而便又溏。</p>
<p>四神丸　益智　大腹　加皮（五錢）　枸杞　高麗參　白芍　苓皮　菟絲（三錢）　青陳</p>
<p>（案14）脾陽衰，不能運濕，所以舌白不化，痎瘧不止，便溏不已。</p>
<p>茅朮　益智　青皮　半夏　四神丸　桂枝　沉曲　陳皮　秫米（三錢）　鮮荷葉</p>
<p>（案15）久病脾腎交虛，大便溏泄，腹膨面浮。防成中滿。</p>
<p>黨參　益智　枸杞　雞金散　冬朮　加皮菟絲</p>
<p>（案16）大便溏結不定，總是脾腎不能立定，幸面部浮腫得減。仍從前法，佐以疏陰。</p>
<p>熟地　苓皮　鹿膠　肉果　萸肉　五味　霞膠（錢半）　肉桂　山藥　枸杞　加皮</p>
<p>高麗參　另服。</p>
<p>（案17）脾胃陽衰，上泛清涎，下為泄瀉。</p>
<p>吳萸　益智　丁香　補骨脂　枸杞子　肉果　木香　澄茄（七分）　菟絲子</p>
<p>（案18）瘧後脾肺交病，咳嗽，大便不實，脈象獨弦。再延有治脾礙肺、治肺礙脾之患。</p>
<p>冬朮　益智　枸杞　馬兜鈴　象貝　苓皮　菟絲　桑皮　款冬花　橘白</p>
<p>（案19）濕熱鬱蒸，為自汗、便泄。</p>
<p>草果　茅朮　陳皮　枳殼　半夏　益智　赤苓　大腹　秫米</p>
<p>（案20）病延月餘，泛清涎而飧泄。治以溫養。</p>
<p>麗參　肉桂　菟絲子（三錢）　木香　附子　枸杞　四神丸　陳皮</p>
<p>（案21）寒濕滯互阻，腹痛便泄。姑與溫通。</p>
<p>肉桂　肉果　木香　青皮　枳實　草果　川樸　吳萸　陳皮　檳榔</p>
<p>（案22）因寒停滯，腹痛便泄具。咳嗆當另治。</p>
<p>桂枝　川樸　檳榔　吳萸　木香　建曲　乾薑　枳實　紫蘇</p>
<p>（案23）痰氣降而大便溏泄，脾土傷矣，加以胃敗口糜，殊難兼顧。</p>
<p>黨參　沙參　川貝　苓皮　麥冬（元米炒）　於術　玉竹　橘紅　青皮</p>

<h2>八、痢</h2>
<p>（案1）舌苔垢厚，便下尚有微積，濕滯未盡，斷難進補，加以跌僕受傷。</p>
<p>青麟丸　檳榔　三物旋覆湯（旋、絳、蔥）　山楂　桃仁（三錢）　煨木香　枳實　小青皮　歸身　荷藿</p>
<p>（案2）去冬痰疾三月而止，今正月起痢，七月不止，現在尚有暑。須省從標治。</p>
<p>紫蘇　川樸　枳實　半夏　青皮　藿香　木香　建曲　陳皮　荷葉</p>
<p>（案3）暑濕寒滯互阻，腹痛便痢，素病胃脘痛。治宜溫通。</p>
<p>草果　吳萸　枳實　青皮　木香　川厚　檳榔　建曲　陳皮　荷藿</p>
<p>（案4）痢後胃陽衰，脾不運化。</p>
<p>吳萸湯　炙草　白芍　生於術　歸身　霞膠</p>
<p>（案5）痢下得糞，舌苔化黃，惟泛嘔轉甚。</p>
<p>吳萸　川樸　大腹　建曲　紫蘇　乾薑　草果　枳實　二陳　荷藿</p>
<p>（案6）痢雖止，而寒濕挾痰不化。</p>
<p>茅朮　草果　三子　蔻仁（五分）　川樸　乾薑　二陳</p>
<p>（案7）痢下得糞，而小溲點滴不通。</p>
<p>五苓散（去朮）　化肝煎　枳實　豭鼠糞湯（兩頭尖三錢、老韭根六錢）　木香　檳榔</p>
<p>（案8）痢下止而小溲通，得食則嘔。肝脾經傷矣。</p>
<p>五苓散（去朮）　雞金散　煨木香</p>
<p>（案9）腹膨便泄，暑濕傷中也，現在痢傷陰分。</p>
<p>益智　歸身　青皮　枳殼　木香　白芍　香櫞　建曲</p>
<p>（案10）舌轉灰白，口中發澀，此濕滯阻而痢下傷陰也。不得已擬潔古老人法。</p>
<p>肉桂（五分）　白芍（三錢）　青麟丸（四錢）　枳實　青皮　川連（五分）　炙草（五分）　煨木香　檳榔</p>
<p>（案11）下痢兩月之久，舌苔垢厚，今則下血。陰絡傷矣。</p>
<p>細地（六錢）　地榆（三錢）　赤芍　炒楂　歸身　茅朮（一錢）　青皮　木香</p>
<p>（案12）嗜好素重，年已花甲，痢下將一日，形肉瘦消。正陰大虧。</p>
<p>駐車丸（二錢，阿膠、連、姜）　歸芍　苓皮　木香　人參鬚　炙草　青皮　蘇梗</p>
<p>（案13）痢積略減，而舌苔裂紋頗重。陰分受傷。</p>
<p>中地　煨木香　炙草　駐車丸（二錢）　歸芍　青皮</p>
<p>（案14）痢下經年，舌心光裂。宜參補養。</p>
<p>黨參　苓皮　炙草　柴胡（七分）　冬朮　歸芍　升麻（五分）　青陳</p>
<p>（案15）痢後得糞不多，後重不止。</p>
<p>四君子湯　歸芍　升麻（五分）　煨木香　肉果　柴胡（七分）</p>
<p>（案16）痢下得糞，而舌苔尚白。病延年餘，正陰餒虛。</p>
<p>四神丸　麗參　歸身　枸杞　益智　炙草　茅朮　白芍　菟絲　霞曲（三錢）　陳皮</p>
<p>（案17）舌苔頗化，痢下減而不止。病延年餘，花甲有年，更有嗜好，大非所宜。</p>
<p>麗參　歸芍　五味　木香　茅朮　補骨脂　肉果　陳皮</p>
<p>（案18）素有嗜好，而痢不經年，加以咳嗽氣喘。脾肺腎三陰交病，理之不易。</p>
<p>麗參　沙參　五味　川貝　菟絲　於術　玉竹（炒黃）　青皮　橘紅　枸杞</p>
<p>（案19）痢久而咳嗽頗甚。</p>
<p>黨參　玉竹　青皮　川貝　沙參　歸芍　陳皮　蘇子</p>
<p>（案20）痢下不止，素有嗜好。久延總非所宜。</p>
<p>人參鬚　炙草　白芍　青皮　駐車丸　歸身　木香　澤瀉</p>
<p>（案21）痢下得止，而舌苔斑剝。正陰餒虛，作其增矣。</p>
<p>麗參　阿膠　白芍　化肝煎　生地　歸身　炙草　沉蓯丸</p>
<p>（案22）痢下減其半，而舌白不化。</p>
<p>二妙丸（二錢）　歸身　槐米（三錢）　炒楂　炒地榆（三錢）　赤芍　青陳　建曲</p>
<p>（案23）痢下減而不止，脈頗細軟。殊慮轉虛。</p>
<p>黨參　益智　枸杞　冬朮　歸芍　菟絲</p>
<p>（案24）便痢之後，六君子主方。</p>
<p>香砂六君子丸（去草）　木香（七分）　米仁　穀芽</p>
<p>（案25）痢下月餘，脈細如絲。轉虛象也，防變。</p>
<p>黨參　青陳　紫蘇　歸芍　木香　炙草</p>
<p>（案26）痢下得減，而寒濕未盡化。恐其久延。</p>
<p>茅朮　草果　木香　紫蘇　檳榔　肉果　益智　陳皮　枳實　半夏</p>
<p>（案27）痢久脾陽脾陰並傷。治宜補養。</p>
<p>麗參　益智仁　白芍　霞曲　枸杞　於術　四神丸　木香　菟絲</p>
<p>（案28）腹中痛，總有積滯，但痢久，正氣虛矣。</p>
<p>麗參四磨飲子（各五分）</p>
<p>（案29）痢下四年之久，近因食物不慎而增劇。</p>
<p>川樸　木香　檳榔　澤瀉　紅曲　草果　枳實　紫蘇　山楂</p>
<p>（案30）痢後胃強脾弱。治以補養。</p>
<p>四君子湯　雞金散　枳實　建曲</p>
<p>（案31）素有嗜，痢下五月之久，舌黃斑剝，勢將口糜、呃逆。收功難許。</p>
<p>麗參　歸芍　木香　荷米飲　阿膠　炙草　肉果　化肝煎</p>
<p>（案32）痢久傷陰，脾陽亦憊。久延殊非所宜。</p>
<p>熟地　黨參　霞膠（錢半）　白芍　杜仲　肉果　肉桂　冬朮　鹿膠（錢半）　五味　川斷　青皮</p>
<p>（案33）痢下一年有餘，陰分大傷，舌質光絳裂紋，脈象濡軟無神。年近花甲，若胃氣不來，則危矣。</p>
<p>黨參　阿膠　炙草　青皮　人中白　生地　白芍　歸身　土貝　北五味</p>
<p>（案34）痢延年餘，舌質光，曾經吐蛔。防其口糜、呃逆。</p>
<p>安胃丸　生地　炙草　青皮　參鬚　阿膠　歸芍　陳皮</p>
<p>（案35）舌心光剝，紅痢不止，脾腰痠。脾腎兩傷。</p>
<p>黨參　川連　炙草　枸杞　杜仲　阿膠　歸芍　木香　菟絲　川斷</p>
<p>（案36）痢減而不能止。以歸脾主方。</p>
<p>歸脾湯（熟地、黨參、耆、朮、茯、棗、遠、龍眼、黑棗、薑、木香）　白芍　陳皮</p>

<h2>九、白痢</h2>
<p>（案1）痢轉白積，脾陽大傷。</p>
<p>附子　肉果　菟絲　青皮　枳殼　乾薑　枸杞　木香　陳皮　建曲</p>
<p>（案2）痢白積得糞，厥陰瘧不減。仍從溫通。</p>
<p>附子　乾薑（五分）　紫蘇　枳實　菔甲（五錢）　桂枝　木香　檳榔　藿香</p>
<p>（案3）白積減而糞下難，厥陰瘧依然。擬參養陰為治。</p>
<p>歸芍　青皮　鱉甲（六錢）　沉香曲（三錢）　炙草　陳皮　青蒿子（三錢）　枳殼</p>

<h2>十、紅痢</h2>
<p>（案1）痢下紅白間雜，舌尚白，胸膺作痛。努力傷氣，治宜兼顧。</p>
<p>生薑（五分）　川樸（一錢）　炒楂　枳實　青皮　薤白頭　川連（五分）　旋覆　紅曲　檳榔　菔甲</p>
<p>（案2）痢下紅白已涉半年，脈軟，舌起裂紋。陰分傷矣。</p>
<p>駐車丸　白芍　木香　青皮　赤苓　人參鬚　炙草　蘇梗　陳皮　澤瀉</p>
<p>（案3）痢下紅白雜已及五日，舌苔根尚黃膩，脈尚弦數。濕熱未清，正陰已虛。治宜兼顧。</p>
<p>香連丸　歸身　枳殼　赤苓　通草　化肝煎　白芍　建曲　澤瀉　菔甲</p>
<p>（案4）暑濕寒滯互阻，下痢紅積，晝夜五十餘度。以逆流挽舟法。</p>
<p>敗毒散（柴、前、羌、獨、荊、防）　炒楂　澤瀉　荷藿　炒紅曲　青皮　菔甲</p>
<p>另服：四磨飲</p>
<p>（案5）由瘧轉痢，延今十二日，所下紅積。病屬由表入里，殊恐久延。</p>
<p>草果　益智　青皮　枳實　大腹皮　木香　蘇梗　陳皮　建曲　萊菔甲</p>
<p>（案6）暑濕寒滯互阻，尚紅積，舌白如積粉。來勢不輕。</p>
<p>草果　木香　建曲　山楂炭　紫蘇　厚朴　枳實　檳榔　化肝煎　荷藿</p>
<p>（案7）下痢紅積，延今月餘，後重，脈軟。素有嗜好者尤為棘手。</p>
<p>草果　益智　青陳　枳殼　肉果　木香　澤瀉　建曲</p>
<p>（案8）嘔吐減，為紅痢不止，舌化其半。仍從疏利。</p>
<p>青麟丸　紫蘇　檳榔　荷葉　香連丸　二陳　通草　藿香</p>
<p>（案9）伏邪下痢紅積，舌苔當白，脈象濕滑。姑與潔古意。</p>
<p>肉桂　白芍　青麟丸　枳實　黃連　炙草　煨木香　檳榔</p>
<p>（案10）痢下紅積三月之久，新有嗜好，殊為累事。</p>
<p>白頭翁湯（白翁錢半、秦皮二錢、生梔錢半、柏皮一錢）　陳皮　炒楂　潑火散（連、地榆三錢、赤芍、青皮）　陳皮　紅曲</p>
<p>（案11）紅痢止而便尚不實，餘邪未楚。</p>
<p>香連丸　赤芍　青皮　陳皮　澤瀉　炒淡芩　生草　枳實　大腹　通草</p>
<p>（案12）紅痢十六日不止，再延恐其痢入陰分。</p>
<p>白頭翁湯　化肝煎　紅曲　菔甲　香連丸　炒楂　檳榔</p>
<p>（案13）痢下紅積經年之久，陰氣大傷。</p>
<p>小地（六錢）　木香　炙草　丹皮　川連　歸芍　青皮　紅曲</p>
<p>（案14）伏邪下痢紅積，延今七十餘日，素有嗜好。防其噤口、口糜、呃逆之變。</p>
<p>麗參　炙草　歸身　青皮　澤瀉　白芍　木香　肉果　陳皮　紅曲</p>
<p>（案15）紅痢久久不已，舌苔白，面痿黃。此正陰虛，而濕邪頗重。</p>
<p>黨參　茅朮　青陳　川柏　冬朮　歸芍　木香　地榆（三錢）</p>

<h2>十一、血痢</h2>
<p>（案1）痢下七十餘日，由紅痢而為血痢，素有嗜好，舌苔垢厚異常。防其邪正兩敗。</p>
<p>潑火散　木香　紅曲　檳榔　炒歸身　山楂　枳實　陳稻柴代水</p>
<p>（案2）素有嗜好，強截咳未果。今痢下血積三月之久，脈尚數甚。久延防變。</p>
<p>白頭翁湯　生地　歸身　潑火散　丹皮</p>
<p>（案3）血積三月之久，素有嗜好。理之殊為棘手。</p>
<p>駐車丸　生地　木香　側柏　西洋參　歸芍　地榆　青陳</p>
<p>（案4）血痢久久，氣虛下陷。治宜湯丸並進。</p>
<p>駐車丸　冬朮　歸芍　柴胡　青皮　黨參　黃耆　升麻　木香　陳皮</p>

<h2>十二、休息痢</h2>
<p>（案1）休息痢久久，姑與東垣法。</p>
<p>麗參　黃耆　白芍　升麻　苓皮　於術　歸身　木香　柴胡　陳皮</p>
<p>（案2）休息痢，脾虛濕重，加以寒熱時作。以東垣重方。</p>
<p>黨參　於術　歸芍　五味　木香　黃耆　茅朮　升柴　苓皮　陳皮</p>
<p>（案3）休息痢八月之久，現在舌苔白，慮新受暑濕。姑從標治。</p>
<p>草果　木香　青皮　香附　荷葉　厚朴　建曲　陳皮　蘇梗　藿香</p>
<p>（案4）休息痢五年，令脾陽大憊，便泄時作。治以溫養。</p>
<p>麗參　黃耆　枸杞　益智　淡吳萸　於術　歸芍　菟絲　木香　補骨脂</p>
<p>（案5）休息痢得後，太陰瘧不減，病延十月，正氣自虛。宜參補養。</p>
<p>麗參　歸芍　桂枝　枸杞　於術　益智　青陳　菟絲</p>
<p>（案6）休息痢又延匝月，紅白間雜，嗜好素重。防痢久傷陰之象。</p>
<p>黨參　苓皮　歸芍　柴胡　陳皮　於術　黃耆　升麻　青皮　木香</p>
<p>（案7）休息痢，脾陽大傷，近日感寒而劇。擬扶正和脾。</p>
<p>麗參　木香　歸芍　枸杞　於術　益智　青陳　菟絲</p>
<p>（案8）休息痢，形寒灼熱。以東垣主方。</p>
<p>麗參　木香　苓皮　歸身　柴胡　於術　黃耆　陳皮　白芍　升麻</p>

<h1>卷之書</h1>

<h2>一、便血</h2>
<p>（案1）溫邪本未盡化，引動腸紅舊恙。</p>
<p>豆豉　當歸　側柏（三錢）　赤芍　細地　地榆（三錢）　丹皮　青陳</p>
<p>（案2）咳嗽止而復作，大便後血頗多。治宜兼顧。</p>
<p>馬兜鈴　白杏仁　淡芩（錢半）　側柏　丹皮　桑白皮　細生地　槐米　歸身　赤芍</p>
<p>（案3）腸胃伏熱，為便後血，嗜好素重。極要小心。</p>
<p>潑火散（連、榆、青、芍）　歸身　丹皮　青木香（七分）　紅曲　炒楂</p>
<p>（案4）腸胃濕熱久郁，便血兩月，往來寒熱。童年殊非所宜。</p>
<p>小生地　丹皮　歸身　潑火散　側柏　山梔</p>
<p>（案5）由紅痢而轉便血，腸胃積熱頗重。</p>
<p>潑火散　丹皮　黑梔　細生地　側柏　木香</p>
<p>苦參子九粒，包龍膽肉一枚，日進三服。</p>
<p>（案6）濕熱鬱蒸為便血。</p>
<p>冬朮　歸身　赤芍　側柏　青皮　黃柏　丹皮　米仁　槐米　陳皮</p>
<p>（案7）濕熱下注，血分頗熱。</p>
<p>三妙丸　青麟丸　丹皮　槐米　山梔　鮮首烏（一兩）　生歸身　赤芍　側柏</p>
<p>（案8）血分虛而腸胃熱。</p>
<p>首烏　知母　側柏　赤芍　麥仁　黃柏　槐米　歸身　丹皮</p>
<p>（案9）便血不止，而暑癤遍生。血分伏熱頗重也。</p>
<p>鮮地　川連　銀花（三錢）　草節（一錢）　側柏　黃柏　淡芩　枯草（三錢）　地榆　槐米</p>
<p>（案10）半產後氣血交虧，腸紅復發。治宜補養。</p>
<p>生地　歸芍　冬朮　陳皮　黨參　杜斷　青皮　香附</p>
<p>（案11）舌苔頗化，便血大減。擬資生丸之輩。</p>
<p>黨參　川樸　陳皮　苓皮　穀芽　於術　半夏　建曲　米仁</p>
<p>（案12）便血久久不止，加以痎瘧發子午卯酉及辰丑未戌。此脾腎交病也。</p>
<p>黨參　防風　歸身　槐米　側柏炭　冬朮　黃耆　白芍　丹皮　化肝煎</p>
<p>（案13）大便下黑糞，亦瘀血也，所謂「陰絡傷則血下溢」。腹不再膨，即可收功。</p>
<p>麗參　吳萸　歸身　青陳　肉桂　五味　白芍　苓皮</p>
<p>（案14）氣不攝血。以黑歸脾主方。</p>
<p>高麗參　帶蘆黨參（三錢）　黃耆　木香　龍眼肉（五枚）　生於術　炒鬆熟地（六錢）　歸芍　棗仁　廣陳皮</p>
<p>（案15）腸紅久久，氣虛下陷。擬東垣法。</p>
<p>參蘆（三錢）　於術　歸芍　柴胡　木香（七分）　黨參　黃耆　升麻　苓皮　青陳</p>
<p>（案16）便血得減，仍從前法大其利。</p>
<p>四君子湯　棗仁　木香　枸杞　黃耆　歸芍　杜斷　菟絲</p>
<p>（案17）痎瘧便血得止，而陰氣並虛。</p>
<p>黨參　冬朮　歸芍　陳皮　益智　首烏　茯皮　青皮　木香　棗仁</p>
<p>（案18）便血久而脾經大傷，面色萎黃，有濕氣。恐成中滿。</p>
<p>黨參　歸芍　杜仲　冬朮　木香　雞金散</p>
<p>（案19）努力傷絡，脅痛腹膨，不能臥下，大便下血。殊非細事。</p>
<p>三物旋覆花湯　吳萸　青皮　乳香（七分）　當歸　杜仲　陳皮　沒藥（七分）</p>
<p>（案20）自七月間痢積而起，延今五月，轉為便血腹痛，舌不立苔。陰分傷矣。</p>
<p>黨參　苓皮　白芍　木香　五味子　於術　炙草　歸身　澤瀉　補骨脂</p>
<p>（案21）濕熱下注。治以苦泄。</p>
<p>川連　歸尾　赤芍　山梔　淡芩　丹皮　木香　青陳</p>
<p>（案22）脾不統血，血不養肝。</p>
<p>歸芍　黨參　棗仁　雞內金　杜斷　於術　木香　香櫞皮</p>
<p>（案23）脾不統血為便血，加以肝火灼肺。治宜兼顧。</p>
<p>四君子湯　馬兜鈴　歸身　川貝　炙黃耆　阿膠　白芍　橘紅</p>
<p>（案24）濕熱注於大腸，為便血為痔。</p>
<p>首烏　麻仁　麥仁　炒槐米（三錢）　象牙屑（三錢）　歸身　杏仁　側柏（三錢）　二妙丸　刺蝟皮（三錢）</p>
<p>（案25）本病脾不統血，現在濕熱聚於腸胃。姑從標治。</p>
<p>潑火散　川柏　丹皮　木香　側柏　歸身</p>
<p>（案26）發熱便泄止後，肛門痛而有血。</p>
<p>當歸　側柏　牙屑　丹皮　槐米　蝟皮　杜斷　山梔</p>

<h2>二、痔</h2>
<p>（案1）濕熱鬱蒸，為痔瘍便難，舌苔黃厚。姑與生地黃連湯主方。</p>
<p>中地　歸身　麥仁　槐米　青皮　黃連　赤丹　蔞仁　側柏　地榆（三錢）</p>
<p>（案2）血分虛而濕熱阻，發為瘍，結於海底。</p>
<p>細地　赤芍　米仁　刺蝟皮　當歸　丹皮　生草　黑山梔</p>
<p>（案3）痔瘍便難得減，而舌根苔尚白。濕熱未夾。</p>
<p>細地　歸身　槐米　陳皮　米仁　黃柏　知母　半夏　澤瀉</p>
<p>（案4）暑風散，而濕熱下注為痔。</p>
<p>細地　黃芩　半夏　側柏葉　黃柏　槐米　陳皮　刺蝟皮</p>
<p>（案5）病後氣虛，濕熱下注為痔。</p>
<p>黨參　茅朮　丹皮　槐米　半夏　冬朮　川柏　赤芍　當歸　陳皮</p>
<p>（案6）痔瘍得減，而舌苔黃膩不化，正虛濕重。從前法損益。</p>
<p>黨參　茅朮　半夏　蘇子　歸身　冬朮　槐米　陳皮　芥子　側柏</p>
<p>（案7）痔瘍略減，而濕熱尚未盡化。</p>
<p>黨參　歸身　陳皮　側柏　白芍　穀芽　茅朮　半夏　赤苓　槐米　米仁</p>
<p>（案8）脘痛固減，而痔瘍又發。治宜兼顧。</p>
<p>肉桂　公丁香　蝟皮　歸尾　青皮　吳萸　蓽澄茄　槐米　赤芍　陳皮</p>
<p>（案9）便泄久久，氣虛下陷。以東垣主方。</p>
<p>麗參　蘆耆　苓皮　升麻　肉果　澄茄　冬朮　歸芍　柴胡　木香　吳萸</p>
<p>（案10）素體血虛氣滯為痔，加以腹膨便溏。治宜兼顧。</p>
<p>參蘆　於術　歸芍　大腹皮　黨參　苓皮　木香　雞金散</p>
<p>（案11）便血得止，而痔瘍不減。擬從黑歸脾。</p>
<p>熟地　黨參　冬朮　白芍　木香　龍眼肉　參蘆　黃耆　歸身　棗仁　炙草　炒槐米</p>

<h2>三、痹</h2>
<p>（案1）風寒濕三氣合而為痹。防其歷節。</p>
<p>防己（錢半）　桑枝　茅朮　海風藤（四錢）　油松節（四錢）　秦艽（錢半）　當歸　夏陳　絲瓜絡（三錢）　白麻骨（四錢）</p>
<p>（案2）風寒濕三氣合而為痹，有歷節狀，舌黃膩，牙齪出血。邪漸化熱也。</p>
<p>茅朮　防風　絲瓜絡　忍冬藤（三錢）　桑枝（一兩）　石膏　防己　油松節　夜交藤</p>
<p>一方加羚角</p>
<p>（案3）歷節痹痛，舌紅齒痛。此陽明熱也。</p>
<p>石膏　桑枝　忍冬藤　絲瓜絡　桂枝　薑黃（一錢）　山藥藤（三錢）</p>
<p>（案4）痛移左臂，舌質紅而苔白。此歷節痛尚未全化火也。</p>
<p>防己　桑枝　杏仁　山藥藤　海風藤　秦艽　防風　薑黃　蔞仁　忍冬藤　絲瓜絡</p>
<p>（案5）歷節癢痛已成。防其久延。</p>
<p>桂枝　防己　桑枝　二陳湯　海風藤　豆卷　秦艽　薑黃　絲瓜絡　絡石藤</p>
<p>（案6）濕溫病感風寒而發，初起發熱，今則遍體疼痛。防其歷節痛風。</p>
<p>防己　桑枝　羌活　芥子　絲瓜絡　半夏　防風　秦艽　蘇子　陳皮　油松節</p>
<p>一方加獨活</p>

<h2>四、痛風（附癱瘓）</h2>
<p>（案1）老年邪氣流絡，下體不能牽動已經數月。癱瘓已成，難許奏功。</p>
<p>首烏　全當歸　杜斷　牛膝　夜交藤　絲瓜絡　青陳　毛脊（三錢）</p>
<p>（案2）血絡失調，步履維艱。癱瘓已來，理之不易。</p>
<p>桂枝白虎湯（石膏、知母、粳米、甘草）　絲瓜絡　牛膝　夜交藤　當歸　杜斷</p>
<p>（案3）兩大腿作痛。陽明濕熱流絡也。</p>
<p>川連　知母　防己　桑枝　忍冬藤　川柏　花粉　秦艽　絲瓜絡　荷藿</p>
<p>（案4）陽明之熱未盡泄。</p>
<p>茅朮　知母　秦艽　瓜蔞仁　忍冬藤　石膏　防己　桑枝　夜交藤</p>
<p>（案5）陽明絡熱，兩臂不仁，近又將延及足。急宜養血清熱。</p>
<p>生地　羚角　花粉　杜斷　當歸　天麻（錢半）　知母　交藤</p>
<p>（案6）濕熱挾痰流絡，右臂酸楚不舉。</p>
<p>風化硝（七分）　旋覆花　海風藤　橘絡　蘇子　茯苓皮　夜交藤　絲瓜絡　桑枝　芥子</p>
<p>（案7）風寒濕挾痰流絡，為右臂酸楚。</p>
<p>防己　桑枝　海風藤　秦艽　防風　指迷茯苓丸　旋覆花　陳皮</p>
<p>（案8）左手臂麻木不減，舌根白厚。濕痰互阻不化也。</p>
<p>三子養親湯　旋覆　茅朮　桑枝　指迷茯苓丸　桂枝　天麻</p>
<p>（案9）畏寒略減，而脈不調，足肢不利。</p>
<p>桂枝　牛膝　青皮　枳殼　半夏　當歸　毛脊　陳皮　建曲　麥芽</p>
<p>（案10）陰氣素虛，寒濕深受，兩足筋抽搐。</p>
<p>桂枝　當歸　木瓜　川斷　紫蘇　牛膝　杜仲　絲瓜絡</p>
<p>（案11）陽明絡熱，為筋掣。</p>
<p>玉女煎　羚羊角　絲瓜絡　西洋參　嫩桑枝　忍冬藤</p>
<p>（案12）血虛，肝氣流絡，為遍體痛。</p>
<p>旋覆花　絲瓜絡　牛膝　青皮　全當歸　杜斷　桑枝　陳皮</p>
<p>（案13）化濕和絡養血。</p>
<p>指迷茯苓丸　牛膝　杜斷　蘇子　虎骨膠（錢半）　歸身　毛脊　橘紅</p>
<p>（案14）血不養筋，治宜融養。</p>
<p>黨參　歸芍　桑枝　毛脊　絲瓜絡　首烏　杜斷　陳皮　牛膝</p>
<p>（案15）血分素虛，跌僕傷絡。</p>
<p>三物旋覆湯　火麻仁　桑枝　青皮　柏子仁　瓜蔞仁　當歸　陳皮</p>
<p>（案16）右臂酸楚不減，舌苔灰白。寒濕流絡。</p>
<p>桂枝　桑枝　二陳湯　夜交藤　川樸　松節　海風藤　風化硝</p>
<p>（案17）濕熱流於絡分，為環跳痛。</p>
<p>三妙丸　絲瓜絡　秦艽　當歸　木防己　嫩桑枝　牛膝　澤瀉</p>

<h2>五、萎</h2>
<p>（案1）初起感濕痹痛，延久致成足萎，脈細沉小。正陰傷矣。</p>
<p>桂枝（五錢）　千年健（五錢）　紫蘇（一把）　生薑（一塊）和酒洗。</p>
<p>黨參　茅朮　杜仲　毛脊　桂枝　冬朮　當歸　川斷　牛膝　桑枝</p>
<p>（案2）古人云：筋熱則萎。以三妙主方。</p>
<p>三妙丸　絲瓜絡　牛膝　桑枝　油松節　當歸　木瓜</p>
<p>（案3）筋熱則萎，以桂枝茅朮白虎治。</p>
<p>桂枝　知母　牛膝　桑枝　米仁　茅朮　石膏　當歸　木瓜　二陳</p>
<p>（案4）古人云：筋熱則萎。</p>
<p>洋參桂枝白虎湯　全當歸　木瓜　絲瓜絡　牛膝</p>
<p>六、胸　膺　痛</p>
<p>（案1）氣絡不舒，胸膺作痛。治以疏利。</p>
<p>三物旋覆花湯　桑白皮　橘紅　香蘇飲　杏仁　象貝</p>
<p>（案2）胸膺痛徹背。濕痰阻氣也。</p>
<p>瓜蔞薤白湯　二陳湯　三子養親湯　生香附</p>
<p>（案3）胸膺痛，痰氣互阻。</p>
<p>瓜蔞薤白湯　化肝煎　芥子　杏仁　旋覆　代赭湯　蘇子　半夏</p>

<h2>七、腰痛</h2>
<p>（案1）濕著腰痛，舌苔黃厚。斷不宜補。</p>
<p>二陳湯　桑枝　防己　秦艽　米仁　澤瀉</p>
<p>（案2）腰痛略減，而濕熱尚阻。</p>
<p>茅朮　半夏　苓皮　歸身　桑枝　防己　陳皮　米仁　秦艽</p>
<p>（案3）血虛濕著為腰痛。</p>
<p>防己　歸身　川斷　桑枝　象貝　秦艽　杜仲　陳皮　絲瓜絡　杏仁</p>

<h2>八、肺癰</h2>
<p>（案1）肺胃痰熱內蘊，咳嗽吐痰臭穢。防成肺癰。</p>
<p>葦莖湯（蘆根、冬瓜子、苡仁、杏仁、單桃仁）　橘紅　杜蘇子　象貝　竹茹　款冬花</p>
<p>（案2）肺癰已成，吐痰臭穢而見血。此濕痰久郁所致，喘變可虞。</p>
<p>葦莖湯　桑葉　鮮地　石膏　枇葉　沙參</p>
<p>（案3）肺癰之勢路定，但舌垢不化，總不足恃。</p>
<p>葦莖湯　北沙參　馬兜鈴　白杏仁　生石膏　桑白皮　川貝母　鮮菩提珠根代水。</p>
<p>（案4）肺癰之勢大衰，咳嗽大減。仍從前治。</p>
<p>葦莖湯　生石膏　川貝　瀉白散　白杏仁　沙參</p>
<p>（案5）自六月間咳嗽而起，今嗆劇絡傷而見血，痰帶臭穢。防成肺癰。姑與清燥救肺湯。</p>
<p>桑葉　石膏　阿膠　麥冬　杏仁　枇葉　鮮地　沙參　川貝</p>
<p>（案6）先經鼻淵，繼以咳嗽，吐痰臭穢。此肺癰將成之候也。</p>
<p>桑葉　石膏　葦莖湯　天冬　枇葉　沙參　川貝母</p>
<p>（案7）灼熱咳嗽，嗆吐痰臭穢。防成肺癰。</p>
<p>葦莖湯　馬兜鈴　桑皮　黛蛤散　川貝母　青蒿</p>
<p>（案8）咳痰略減，而臭穢不盡。勢成肺癰。</p>
<p>石膏　天冬　葦莖湯　西洋參　兜鈴　瀉白散</p>

<h2>九、耳癰</h2>
<p>（案1）肝經風熱上乘為耳癰。治以泄化。</p>
<p>羚羊角　甘菊　薄荷　赤芍　桑葉　龍膽草（七分）　蒺藜　連翹　丹皮　牛蒡（三錢）</p>
<p>（案2）耳癰略定。再投清泄。</p>
<p>羚角　丹皮　蒺藜　薄荷　黑山梔　桑葉　黃菊　淡芩　連翹　苦丁茶（三錢）</p>
<p>（案3）耳癰止，而膿尚不盡。</p>
<p>羚角　丹皮　川黃柏　石決明　蒺藜　桑葉　知母　細生地　黃甘菊</p>
<p>（案4）轟熱得減，耳聾漸聰。</p>
<p>青蒿　桑葉　蒺藜　連翹　石決明　丹皮　白薇　黃菊　茯神　煅磁石（四錢）</p>

<h2>十、肛癰</h2>
<p>（案1）嗜酒濕重之體，黃疸後加以肛漏，不能收功。現在濕尚不盡，不能遽補。</p>
<p>冬朮　歸尾（三錢）　象牙屑　半夏　青皮　苓皮　白芍　刺蝟皮　陳皮　米仁</p>
<p>（案2）素有嗜好，肛門外瘍，已耗氣血，加以便泄半年，舌質紅，脈細軟，脾腎陰陽兩傷。防其口糜、呃逆。</p>
<p>麗參　炙草　補骨脂　霞天膠（錢半）　枸杞　白芍　歸身　北五味　化肝煎　菟絲</p>
<p>（案3）肛門外瘍，膿水又多，加以便泄不止。久延殊非所宜。</p>
<p>麗參　於術　歸尾　刺蝟皮　青皮　黃耆　苓皮　槐米　煨木香　陳皮</p>
<p>（案4）正陰虛而濕痰下注，尾閭結核，不紅不腫。丸以緩之。</p>
<p>補中益氣丸（二錢，參、耆、朮、歸、芍、升、柴、苓、陳）　大補陰丸（二錢）</p>
<p>（案5）陰虛，濕熱下注，從肛瘍起，延及腎囊。以三妙主方。</p>
<p>三妙丸　丹皮　象牙屑　歸尾　細生地　赤芍　刺蝟皮</p>

<h2>十一、搭手疽</h2>
<p>（案1）搭手疽起經旬余，蒸膿作熱，舌苔滿白。濕邪頗重，先以化濕為主。</p>
<p>茅朮　丹皮　木香　半夏　川樸　赤芍　土貝　陳皮</p>
<p>（案2）搭手疽大耗氣血，甫欲收口，形寒畏風。此表虛易感也。</p>
<p>玉屏風散（防風、耆）　歸身　蘇葉（錢半）　苓皮　生冬朮　丹皮　陳皮　菔子</p>

<h2>十二、瘋</h2>
<p>（案1）遊風蔓延，頭面身熱，七日不退。姑與疏散。</p>
<p>豆豉　防風　桑葉　制蠶（三錢）　土貝　紫菀　前胡　羌活　牛蒡　蟬衣　杏仁　桔梗</p>
<p>（案2）風濕相搏，發為蛇皮風，已經一年。殊難速愈。</p>
<p>三妙丸　地膚子（三錢）　歸身　丹皮　桑麻丸　細生地　蛇蛻（七分）　赤芍</p>
<p>（案3）血分熱而風邪乘之為瘋。</p>
<p>羚角　當歸　桑麻　赤芍　山梔　細地　豨薟（四錢）　丹皮　連翹</p>
<p>（案4）血虛生瘋。當以養血為主。</p>
<p>細地　丹皮　甘菊　白蒺藜　豨薟　當歸　赤芍　桑麻　地膚子</p>
<p>（案5）養血泄風頗合，仍宜守之。</p>
<p>細地　丹皮　蛇蛻　桑麻丸　當歸　赤芍　豨薟　地膚子</p>
<p>（案6）瘋尚不定，仍宜擬清熱養血。</p>
<p>二妙丸　當歸　川丹皮　桑麻丸　細生地　赤芍　豨薟草</p>
<p>（案7）瘋恙大定，仍從養血清熱。</p>
<p>細地　川柏　連翹　地膚子　當歸　淡芩　豨薟　桑麻丸</p>

<h2>十三、疹</h2>
<p>（案1）風疹發而未透，宜參疏散。</p>
<p>豆豉　浮萍　牛蒡　歸身　膚子　前胡　桑葉　蟬衣　丹皮</p>
<p>（案2）風疹遍發，亦是出路。</p>
<p>桑葉　蟬衣　紫菀　枳實　杏仁　牛蒡　桂枝　前胡　蔞仁</p>
<p>（案3）風疹尚甚，加以便溏。治宜兼顧。</p>
<p>細地　牛蒡　蒺藜　木香　枳殼　桑葉　歸身　豨薟　蘇梗　建曲</p>
<p>（案4）投養血祛風，風疹未發。仍從前法損益。</p>
<p>中地　赤芍　二陳湯　歸身　桑麻丸　川丹皮</p>

<h2>十四、癬</h2>
<p>（案1）血分虛，風濕相搏，癬瘍大發。</p>
<p>細地　豨薟　赤芍　桑麻丸　歸身　丹皮　黃柏　地膚子</p>
<p>（案2）濕邪頗重，發為癬瘍。</p>
<p>三妙丸　豨薟　赤芍　桑麻丸　丹皮　地膚</p>
<p>（案3）癬瘍不減，舌苔垢厚。濕尚阻也。</p>
<p>四苓散　豨薟　加皮　陳皮　桑麻丸　附子　半夏</p>

<h2>十五、瘰</h2>
<p>（案1）先天質薄，發為瘰癧。</p>
<p>首烏　歸身　海藻（四錢）　旋覆花　苓皮　黨參　白芍　昆布（四錢）　風化硝　陳皮</p>
<p>（案2）瘧後脾虛血熱，發為風瘰。</p>
<p>細地　赤芍　牛蒡　歸身　丹皮　蟬衣</p>
<p>（案3）瘰瘍漸減，大便結而腹中痛。</p>
<p>黃柏（一錢）　細地　知母（錢半）　青陳</p>
<p>（案4）濕痰結於頸項，有瘰癧狀，姑與咸能軟堅。現在尚有新感，治宜兼顧。</p>
<p>旋覆花　昆布　苓皮　防風　風化硝　海藻　青陳　荊芥　荷藿</p>
<p>（案5）項間瘰癧移動不消，再投咸軟堅。</p>
<p>指迷茯苓丸　青皮　海藻　旋覆花　歸芍　陳皮　昆布　白芥子</p>
<p>（案6）風痰流絡為瘰癧。</p>
<p>風化硝　絲瓜絡　昆布　旋覆　茯苓皮　海藻　青陳　防風</p>
<p>（案7）濕熱入於血分，發為瘰瘍。</p>
<p>細地　赤芍　三妙丸　丹皮　附子　桑麻丸</p>

<h2>十六、瘡</h2>
<p>（案1）瘡被強遏，濕邪困頓，遂成瘡寒。</p>
<p>桂枝尖　桑麻丸　地膚子　三妙丸　炒赤芍</p>
<p>（案2）濕瘡之勢，舌苔白厚。</p>
<p>三妙丸　地膚子　赤芍　五苓散（術用蒼）　五加皮</p>
<p>（案3）濕瘡漸有化機。宜參涼血。</p>
<p>細地　金銀花（三錢）　地膚子　山梔　淡芩　三妙丸　生草節（一錢）　赤芍</p>
<p>一方加川連</p>
<p>（案4）仍從涼血化濕。</p>
<p>羚角　黑山梔　桑麻丸　丹皮　細地　三妙丸　地膚子　赤芍</p>
<p>（案5）老年血虛，濕熱久郁，發為瘡瘍，其勢方壯。交春恐其熬煎。</p>
<p>細地　桑麻丸　赤芍　黃柏　夏枯草　當歸　地膚子　丹皮　淡芩</p>
<p>（案6）素病肝陰頭痛，旋感濕邪發瘡，今則濕未盡而血分已傷。</p>
<p>茅朮　加皮　歸身　米仁　澤瀉　冬朮　苓皮　細地　丹皮</p>
<p>（案7）濕瘡不透，遂為四肢麻、兩臂痠痛。</p>
<p>防己　秦艽　絲瓜絡　牛膝　豆卷　防風　桑枝　海風藤　木瓜</p>
<p>洗方：苦參（六錢）　銀花（四錢）　桑枝（三兩）　黃柏（四錢）</p>
<p>（案8）生瘡不透，濕鬱於裡，遍體、腎囊浮腫，時有寒熱，咳嗽氣急。增喘則危矣。</p>
<p>四苓散（去朮）　防己　豆卷　五加皮　防風　桑皮</p>
<p>（案9）濕瘡正甚，浮腫溺赤。防其增喘。</p>
<p>青麟丸　加皮　芥子　青皮　四苓散（去朮）　蘇子　杏仁　陳皮</p>
<p>（案10）咳嗆得減，浮腫下體為甚，濕瘡滋水嫌其不多。</p>
<p>四苓散（去朮）　萆薢（錢半）　杏仁　橘紅　五加皮　米仁　牛膝　桑皮</p>
<p>（案11）濕瘡、咳嗽得減。</p>
<p>細生地　兜鈴　赤芍　黑芝麻（三錢）　冬瓜子　桑白皮　丹皮　附子　款冬花</p>
<p>（案12）瘡被強遏，肺閉須防。</p>
<p>葶藶　桑皮　款冬花　象貝　蘇子　兜鈴　冬瓜子　橘紅</p>
<p>（案13）發瘡不透而增咳嗽、面浮。防其瘡毒歸肺而喘變。</p>
<p>五子飲　象貝　加皮　馬兜鈴　桑皮　苓皮</p>
<p>（案14）瘡能發透，便是出路，但須發透為是。</p>
<p>豆卷　牛蒡　防風　苓皮　杏仁　桑葉　防己　加皮　蘇子</p>
<p>（案15）投補脾氣漸振，但濕瘡又發。治宜兼顧。</p>
<p>三妙丸（用二術）　細地　赤苓　二陳湯　丹皮</p>
<p>（案16）血分素熱，又感癰毒。</p>
<p>鮮地　銀花　赤芍　淡芩　山梔　茅花　丹皮　生草　連翹</p>
<p>（案17）血分熱而血分虛，發瘡未透，經事愆期，腰背作痛。</p>
<p>細地　丹皮　杜仲　生草　忍冬藤　歸身　赤芍　川斷　元參　連翹心</p>
<p>（案18）濕先入於血分。</p>
<p>三妙丸　六一散　赤芍　桑麻丸　川丹皮　山梔</p>
<p>（案19）血分頗熱，再投清化。</p>
<p>鮮地　川柏　丹皮　歸身　桑麻丸　知母　淡芩　赤芍　銀花　地膚子</p>
<p>（案20）濕火入於血分。</p>
<p>青麟丸　淡芩　丹皮　黃柏　草節　鮮生地　赤芍　知母　山梔</p>

<h2>十七、癤</h2>
<p>（案1）便血全止，但癤生頗多。</p>
<p>羚角　金銀花　夏枯草　山梔　赤芍　鮮地　三妙丸　生草節　丹皮</p>

<h1>卷之數</h1>

<h2>一、丹痧</h2>
<p>（案1）風溫發熱、發痧。姑與疏散。</p>
<p>豆豉　桑葉　蟬衣　防風　枳實　前胡　牛蒡　浮萍（錢半）　荊芥</p>
<p>（案2）溫毒發為爛喉丹痧，今發蛻皮。治宜涼血清熱。</p>
<p>細地　川丹皮　白歸身（三錢）　象貝（錢半）　紫菀　赤芍　桑麻丸　白杏仁　橘紅　桔梗</p>
<p>（案3）發丹之後。治宜涼血。</p>
<p>鮮地　連翹（三錢）　川丹皮　決明　蒺藜　羚角　赤芍　霜桑葉　黃菊</p>
<p>（案4）風溫病出痧，未發透而早回，延今十六日，白㾦發而不透，舌轉白膩，脈象浮數，咳痰氣粗。防其喘閉。</p>
<p>浮萍　牛蒡　紫菀　蘇子　蟬衣　橘紅　桑葉　前胡　桔梗　杏仁　象貝</p>
<p>（案5）壯熱四日，痧子初見。姑從透達。</p>
<p>浮萍　豆豉　荊芥　牛蒡　杏仁　桔梗　前胡　桑葉　防風　蟬衣　紫菀　枳殼</p>
<p>（案6）痧回之後，身熱不退盡，咳嗽不暢。肺胃餘邪又盡也。</p>
<p>前胡　兜鈴　象貝　紫菀　款冬花　桑葉　杏仁　橘紅　桔梗　冬瓜子</p>
<p>（案7）冬溫出痧，未透早回，發熱不盡，大便不實。</p>
<p>葛根（錢半）　桑葉　蟬衣　桔梗　建曲　柴胡　牛蒡　紫菀　枳殼　原蔞（三錢）</p>
<p>（案8）痧後餘火不盡，目中赤，痰嗽，而舌苔尚白。</p>
<p>桑葉　甘菊　杏仁　桔梗　象貝　蒺藜　牛蒡　橘紅　紫菀</p>

<h2>二、流火</h2>
<p>（案1）濕熱下注，右腳紅腫。防成流火。</p>
<p>三妙丸　牛膝　赤芍　澤瀉　忍冬藤　丹皮　山梔</p>

<h2>三、流痰</h2>
<p>（案1）兩乳結核，肝經氣鬱所致。防成乳癖。</p>
<p>三物旋覆花湯（旋覆、新絳、青蔥）　土貝母　全當歸　化肝煎　蒲公英（四錢、五錢）　絲瓜絡</p>
<p>（案2）肝陰虛，積痰流絡，左乳結核。治以咸能軟堅。</p>
<p>旋覆花　茯苓皮　橘絡　青皮　昆布　風化硝　絲瓜絡　歸鬚　海藻</p>
<p>（案3）流絡之痰不化。再透疏利。</p>
<p>三子養親湯　蒲公英　全當歸　橘絡　指迷茯苓丸（去朮，苓皮、化硝）　旋覆花　絲瓜絡青皮</p>
<p>（案4）痰核頗有消意。仍從前法損益。</p>
<p>指迷茯苓丸　山慈姑（七分）　昆布　青皮　蘇子　旋覆花　海藻　益智　陳皮　芥子</p>
<p>（案5）左乳核有散意，舌白得化。濕邪漸泄。</p>
<p>三物旋覆花湯　土貝　白芥子　蒲公英　化肝煎　蘇子　全當歸</p>
<p>（案6）咳嗽得止，流痰未消。</p>
<p>三子養親湯　絲瓜絡　風化硝　當歸　化肝煎　旋覆花　茯苓皮</p>
<p>（案7）濕痰素重之體，今流痰結核。以指迷茯苓重方。</p>
<p>指迷茯苓丸　山慈姑　橘紅　三子養親湯　旋覆花</p>
<p>（案8）舌苔又呆白，痰核不消。</p>
<p>指迷茯苓丸（術用蒼）　二陳湯　海藻　三子養親湯　旋覆花　昆布</p>
<p>（案9）右乳結核固減，現在濕泛。養血從緩。</p>
<p>三物旋覆花湯　土貝　半夏　蒲公英　化肝煎　茅朮　米仁　生香附</p>
<p>（案10）右乳結核略鬆。仍從前法，佐以養血。</p>
<p>中地　全當歸　生附　三物旋覆花湯　牛膝　蒲公英　土貝　化肝煎</p>
<p>（案11）濕邪得化，仍參養血。</p>
<p>首烏　香附　化肝煎　當歸　三物旋覆花湯　蒲公英</p>
<p>（案12）流痰又作膿象，仍以指迷重方。</p>
<p>指迷茯苓丸　三子養親湯　二陳湯　米仁</p>
<p>（案13）流痰潰後，膿出已暢。擬扶正化痰。</p>
<p>黨參　陳皮　旋覆花　蘇子　生耆　指迷　茯苓丸　小青皮　芥子</p>
<p>（案14）流痰潰後，現在大氣發泄，此難收功。</p>
<p>資生丸（三錢）　橘紅湯送下。</p>

<h2>四、女科</h2>
<p>（案1）經居三月，脈見滑象，孕兆也。惟素有喉痛，只宜養陰。</p>
<p>元參　子芩（錢半）　歸芍　白朮（錢半）　杜仲　青陳</p>
<p>（案2）經居三月餘，前曾屢屢半產。擬參扶養。</p>
<p>人參　歸芍　青陳　麻仁（四錢）　白朮　杜斷　生附</p>
<p>（案3）經居五月，脈滑，懷麟也。曾經見紅，今幸得止。治以安養。</p>
<p>子芩　中地　杜斷　白朮　歸芍　青陳</p>
<p>（案4）懷妊五月，跌僕受傷，腹痛。防其半產。</p>
<p>子芩　香附　歸芍　蘇梗　青陳　杜仲</p>
<p>（案5）跌僕防其半產，加以發熱、便泄。防增變。</p>
<p>豆卷　防風　香附　青皮　砂仁　荷藿　荊芥　紫蘇　枳殼　木香　佛手</p>
<p>（案6）經停得通，而上血過多，八脈空虛。</p>
<p>生地（炒鬆）　杜斷　蘇子　歸芍　青陳　川貝</p>
<p>（案7）經通見紫血，此營分得和，但血分頗熱。</p>
<p>熟地　於術　歸芍　杜斷　海螵蛸（六錢）　黨參　阿膠　陳皮　桑螵蛸（三錢）</p>
<p>（案8）天癸得通之後，氣血未充，所以不能如期而止。</p>
<p>歸芍　澤瀉　香附　杜斷　青陳　蘇梗</p>
<p>（案9）天癸來而不暢，少腹作痛，加以舌白、便閉。寒濕熱亦阻也。</p>
<p>香附　川樸　丹參　茺蔚子（三錢）　通草（一錢）　茴香（七分）　蘇梗　杏仁　澤蘭　小青皮　澤瀉</p>
<p>（案10）經停通而未暢，所以少腹作痛。</p>
<p>歸身　青皮　茴香　澤蘭　延胡索　杜斷　香附　丹參　茺蔚子</p>
<p>（案11）經事一月兩至，素有血塊，腹痛。姑與利氣養血。</p>
<p>香附　歸身　澤蘭　茺蔚子　蘇梗　杜斷　紫丹參　青陳</p>
<p>（案12）天癸將來之候，風疹復發，舌白黃厚。風邪挾痰為患。</p>
<p>三妙丸　細地　丹皮　牛蒡　地膚子　桑葉　赤芍　橘紅</p>
<p>（案13）營陰大虧，督帶失養。最恐血崩。</p>
<p>生地　烏鰂骨　青皮　歸芍　陳阿膠　杜斷</p>
<p>（案14）血崩之後，陰虛內熱，督帶失養。</p>
<p>生地　歸芍　青陳　洋參　阿膠　白薇（三錢）　杜斷　丹皮</p>
<p>（案15）衝任失養，血虛氣滯，經氣淋漓不盡而兼帶下。</p>
<p>首烏　杜斷　青皮　左牡蠣　烏鰂骨（六錢）　歸芍　蓮鬚（三錢）　龍齒　茜草根（三錢）　鮮佛手</p>
<p>（案16）八脈交虛，衝任失養。治以疏陰為主。</p>
<p>熟地　青皮　香附　砂仁　阿膠　歸芍　杜斷　鰂骨（六錢）</p>
<p>（案17）天癸盡而帶下多，八脈交虛。</p>
<p>中地　杜斷　青皮　桑螵蛸　歸芍　蓮鬚　陳皮　海螵蛸</p>
<p>（案18）營陰內虧，督帶失養。</p>
<p>生地　杜斷　芡實　牡蠣　烏鰂骨　歸芍　蓮鬚　龍齒　青皮　線魚膠（錢半）</p>
<p>（案19）病後天癸不行，腹中膨脹。防成血鼓。</p>
<p>雞金散　杜斷　紫丹參（三錢）　歸芍　澤瀉　延胡索（錢半）</p>
<p>（案20）經停十月之久，虛熱往來，大便溏泄。久延防成千血重症。</p>
<p>白鳳丸（一粒）</p>
<p>另服：冬朮　鱉甲　丹皮　延胡索　歸芍　澤蘭　蔚子　銀柴胡（七分）</p>
<p>（案21）盜汗得止而天癸未通，灼熱乾咳不已。究恐涉怯。</p>
<p>阿膠　沙參　歸身　丹參　麥冬　橘紅　洋參　生地　杜仲　澤蘭　杏仁　青皮</p>
<p>（案22）病後吐血，今則夜來灼熱盜汗，天癸愆期，間有干嗆淹纏。勢成怯症，未可忽視。</p>
<p>洋參　沙參　麥冬　鱉甲　白薇　橘紅　生地　杏仁　青皮　青蒿　淮麥　川貝</p>
<p>（案23）寒熱退而便泄止，惟干嗆不已。天癸未通之年而早出閨，勢成怯症。</p>
<p>洋參　歸身　川斷　阿膠　玉竹　生地　杜仲　沙參　兜鈴　青蒿</p>
<p>（案24）血虛氣滯，經停五月，延忽右脅，引腰作痛。今雖得復，而形肉消瘦。久延涉怯可虞。</p>
<p>烏龍丸　歸芍　澤蘭　吳萸　茺蔚子　川斷　丹參　茴香</p>
<p>（案25）身未發透，夜來身熱，經事不行。久延防其涉怯。</p>
<p>青蒿　白薇　歸芍　青皮　鱉甲　生地　杜斷　丹皮</p>
<p>（案26）半產失調，營陰大虧，經事愆期，干嗆內熱，舌質光紅。久延防其涉怯。</p>
<p>生地　沙參　歸芍　二至丸　阿膠　麥冬　杜斷　白薇</p>
<p>（案27）產後未滿百日，瘀露盡而又至，漸清不盡，時欲發熱，久延不已。</p>
<p>小生地　歸芍　青陳　青蒿　荊芥　杜斷　鱉甲</p>
<p>（案28）半產後失調，氣血不和，所以時欲肢冷。</p>
<p>蘇梗　歸身　杜斷　荷葉　香附　青皮　陳皮　藿香</p>
<p>（案29）久瘧，天癸七月未通，得食則痛，舌苔尚是呆白。姑與疏利以血和。</p>
<p>蘇梗　青陳　歸身　丹參（三錢）　香附　枳殼　杜斷　澤蘭（三錢）</p>
<p>（案30）痎瘧錯亂之後，經來不暢，少腹作痛。</p>
<p>桂枝　茴香　丹參　香附　茺蔚子（三錢）　歸身　澤蘭　青陳　杜仲　延胡索</p>
<p>（案31）血虛而熱，經事一月兩至，加以咳嗽。</p>
<p>中地　杜斷　青皮　川貝　兜鈴　歸芍　白薇（三錢）　杏仁　阿膠</p>
<p>（案32）經停幾兩年，近時忽然吐血。此陰氣內虧，陰火內灼，肝陽上升也。</p>
<p>生地　羚角　牛膝　二至丸　鮮地　知母　決明　青皮</p>
<p>（案33）血虛氣滯，經水不爽，致少腹作痛。</p>
<p>小生地　胡索　杜斷　牛膝　西琥珀　歸身　車前　青陳</p>
<p>（案34）經居三月，嘔吐妨納，脈頗滑，孕兆也。</p>
<p>香附　砂仁　青皮　佛手　蘇梗　歸芍　陳皮　穀芽</p>
<p>（案35）天癸初通特少，今兩年來未轉。此先天質薄，血分素虧。</p>
<p>四物湯　杜斷　澤蘭　化肝煎　香附　蘇子</p>
<p>（案36）投養陰通經，天癸所來不多。以八珍主方。</p>
<p>八珍湯（參、苓、朮、草、地、芍、芎、歸）　香附　川斷　化肝煎　杜仲　澤蘭</p>

<h2>五、春溫（附冬溫春發）</h2>
<p>（案1）冬溫春發，病五日，表熱不揚，裡熱內著，舌質絳，苔乾白，痰中咯血。防其化燥劫陰。</p>
<p>柴胡　黑膏（生地六錢、豆豉四錢）　山梔　杏仁　紫菀　前胡　淡芩　桑皮　象貝　桔梗</p>
<p>（案2）冬溫春發，病一候，舌苔轉黃，腹痛略減。再投疏散。</p>
<p>豆豉　防風　枳實　建曲　桑葉　前胡　荊芥　檳榔（磨沖）　菔子　杏仁</p>
<p>（案3）病八日，腹痛雖減，而夜來煩躁，舌灰黃質紅。防其化燥內傳。</p>
<p>黑膏　淡芩　前胡　桔梗　杏仁　竹茹　赤芍　丹皮　紫菀　桑葉</p>
<p>（案4）病十日，溫邪化火漸衰。再投清化。</p>
<p>羚角　淡芩　知母　桑皮　連翹　黑膏　花粉　山梔　杏仁　丹皮</p>
<p>（案5）病十二日，咳不爽，唇焦，舌黃垢。邪滯尚未盡化。</p>
<p>羚角　桑葉　紫菀　象貝　丹皮　黑膏　杏仁　桔梗　橘紅　青蒿</p>
<p>（案6）病十四日，唇焦舌絳，夜有囈話，牙齦出血。病在陽明，殊恐昏陷。</p>
<p>石膏　鮮地　桑葉　杏仁　淡芩　羚角　沙參　枇葉　連翹　竹茹</p>
<p>（案7）冬溫春病，今半月餘，大便下紅，舌紅脈散，耳聾。邪陷少陽陽明，防其化燥內傳。</p>
<p>葛根（錢半）　淡芩（錢半）　黑膏　桑葉　桔梗　川連（五分）　柴胡　杏仁　紫菀</p>
<p>（案8）風溫鬱伏，發熱不透，左頤關紅腫。防成喉蛾。</p>
<p>前胡　桑葉　防風　生草　桔梗　殭蠶（三錢）　豆豉　牛蒡　土貝　杏仁　馬勃</p>
<p>（案9）風寒復盛，身熱三日不解，引動當額頭痛、嘔吐舊恙。防厥。</p>
<p>豆卷　前胡　枳實　黃菊　山楂　竹茹　防風　桑葉　建曲　蒺藜　陳皮　左金丸</p>
<p>（案10）前日有寒熱，欲項，項強略減。</p>
<p>藁本（錢半）　蒺藜　半夏　赤苓　豆豉　黃菊　陳皮　枳殼</p>
<p>（案11）冬溫春發，病十二日，表熱不揚，裡熱內熾，神識漸次模糊，舌絳光刺，脈氣細數，脘中按之痛。此素體陰虛，無力達化而沉之，點點而內陷。</p>
<p>犀角　霍斛（一兩）　涼膈散（一兩）　川貝　杏仁　牛蒡　黑膏　洋參　朱茯神　丹皮　桑葉　紫菀</p>
<p>轉舌陰，涼膈加生大黃酒磨、元明粉</p>
<p>（案12）溫邪被新寒所束，加以濕熱下注。治宜兼顧。</p>
<p>五苓散（去朮）　防風　前胡　竹葉　荊芥　紫蘇　草梢</p>
<p>（案13）身熱與淋濁兼作，此溫邪濕熱交蒸也。</p>
<p>豆豉　防風　川萆薢　導赤散（去地）　荊芥　紫蘇　海金沙</p>
<p>（案14）溫邪鬱伏，先經陰囊瘰癢，繼以發熱，舌光紅。姑從表治。</p>
<p>前胡　鮮地　丹皮　荊芥　山梔　豆豉　桑葉　赤芍　防風</p>
<p>（案15）還病七日，前次濕邪未達，今又因食復也。防輕轉重。</p>
<p>山梔豆豉湯　紫菀　檳榔　象貝　杏仁　前胡　桔梗　建曲　橘紅</p>
<p>（案16）還病九日，身熱不退，而咳嗆略鬆。邪從肺達為幸。</p>
<p>柴胡　山梔　桑葉　象貝　黑膏　竹茹　杏仁　橘紅</p>
<p>（案17）病十日，身熱有汗，退而不盡，舌轉白厚。省恐兩候轉重。</p>
<p>柴胡　紫菀　桑葉　枳實　橘紅　前胡　桔梗　杏仁　建曲　象貝</p>
<p>（案18）病九日，邪已化火，舌絳，齒痛，咳不爽。邪踞肺胃，防其傳變。</p>
<p>羚角　桑葉　石膏　丹豉　前胡　黑膏　枇葉　赤芍　杏仁　桔梗</p>
<p>（案19）溫邪本未外達，又感痘毒。</p>
<p>前胡　丹皮　夏枯草　赤芍　陳皮　香附　桑葉　銀花　細生地　青皮　山梔</p>
<p>（案20）身熱五日不解，加以鼻衄。防涉候轉重。</p>
<p>柴胡　豆豉　枳實　防風　橘紅　淡芩　山梔　建曲　澤瀉</p>
<p>（案21）病六日，熱不退，痰中帶紅。</p>
<p>柴胡　竹茹　地骨皮　杏仁　通草（一錢）　淡芩　桑皮　橘紅　澤瀉</p>
<p>（案22）產後營虛，新感風邪發熱。姑與疏散。</p>
<p>前胡　荊芥　歸身　枳殼　青皮　防風　紫蘇　豆卷　桑葉　陳皮</p>
<p>（案23）溫邪病初起兩日，舌心津劫，邊上白，壯熱無汗。殊恐一候內傳昏陷。</p>
<p>豆豉　防風　桑葉　藿香　淡芩　山梔　羌活　丹皮　赤芍</p>
<p>（案24）病六日，身熱退而不盡，巔頂頭痛。肝陽升也。</p>
<p>桑葉　決明　竹茹　蔞仁　大麻仁　丹皮　蒺藜　枳殼　杏仁　蔓荊子（三錢）</p>

<h2>六、濕溫</h2>
<p>（案1）濕溫病初起三日，刺脅痛。防重。</p>
<p>豆卷　防風　枳殼　紫蘇　紫菀　荷葉　荊芥　前胡　建曲　旋覆　桔梗　藿香</p>
<p>（案2）濕溫挾病，涉耳頤，發來三日，舌白如積粉。來勢頗重，防一候昏陷。</p>
<p>草果　枳實　建曲　防風　二陳　藿香　川樸　檳榔　豆卷　荊芥　紫蘇　玉樞丹（四分）</p>
<p>（案3）溫邪夾濕，病八日，汗出熱不解，舌黃，咽痛。邪已化火。防其化火昏陷。</p>
<p>梔豉湯　桑葉　枳實　桔梗　竹茹　前胡　丹皮　建曲　生草　連翹</p>
<p>（案4）溫邪夾濕，病旬日，天癸遲來，舌白，脈濡。防其熱入血室。</p>
<p>柴胡　麻仁丸　化肝煎　山楂　豆卷　香蘇飲　川枳殼　藿香</p>
<p>（案5）病旬日，大便不通，汗多熱不退。防重。</p>
<p>青麟丸　枳實　淡芩　半夏　赤苓　元明粉　竹茹　瓜蔞　陳皮</p>
<p>（案6）溫邪夾濕，病十日，身熱，有汗不解，舌白苔糙，脈滑數，大便溏泄。防兩候轉重。</p>
<p>柴胡　淡芩　黑膏　建曲　桑葉　葛根　竹茹　枳實　牛蒡　赤苓</p>
<p>（案7）溫邪夾濕，病將兩候，表熱不揚，脈氣濡數，大便不行。殊恐增重。</p>
<p>柴胡　荊芥　枳實　瓜蔞仁　紫蘇梗　豆卷　防風　建曲　麻仁丸　土藿香</p>
<p>（案8）溫邪病兩候，發斑色紫，焦唇齒板，舌苔質絳，脈象滑數，夜來神識不清。殊恐內傳昏陷。</p>
<p>犀角　丹皮　桑葉　連翹　黑膏　羚角　葛根　赤芍　牛蒡　青黛（七分）</p>
<p>（案9）斑色漸淡，舌苔黃厚，脈氣滑數，夜有囈語。陽明熱毒不化，尚恐昏陷之變。</p>
<p>川連　羚角　青黛（七分）　桑葉　蟬衣　淡芩　黑膏　赤芍　牛蒡　桔梗</p>
<p>（案10）斑色總嫌紫滯，舌苔焦黃心黑，脈象數促，神識迷濛。旦晚防陷。</p>
<p>涼膈散　黑膏　紫菀　羚羊角　牛蒡　桔梗</p>
<p>（案11）濕蒸為頭汗多，舌白垢厚。斷難進補。</p>
<p>四苓散（去朮）　焦米仁　佛手　二陳湯　焦穀芽</p>
<p>（案12）溫邪濕熱互阻，昨晚形凜發熱。姑與和解。</p>
<p>桂枝　川樸　香附　枳殼　陳皮　蔞仁　杏仁　紫蘇　建曲　澤瀉</p>

<h2>七、暑濕（附痧閉）</h2>
<p>（案1）暑濕病七日，表熱不透，舌白苔黃，脈小而數。病前達泄，邪伏陰分，防重。</p>
<p>桔梗　柴胡　荊芥　建曲　陳皮　荷葉　蔞仁　防風　枳實　半夏　通草　藿香</p>
<p>（案2）暑濕病一候，熱解，胃中伏熱頗重，得食則嘔。</p>
<p>黃連　桑白皮　溫膽湯　羚角　地骨皮　鮮佛手</p>
<p>（案3）暑濕病，發熱十日，舌不立苔，耳聾。防其化燥內傳。</p>
<p>羚角　柴胡　丹皮　蟬衣　荷葉　黑膏　桑葉　牛蒡　連翹　藿香</p>
<p>（案4）神識略清，而病涉十一日，身熱不退。防其兩候昏陷。</p>
<p>柴胡　淡芩　桑葉　茯神　荷葉　黑膏　竹茹　牛蒡　連翹　藿香</p>
<p>（案5）路途暑濕深受，表熱不揚，神識模糊，小便頻數。防其熱閉。</p>
<p>陳香薷　豆卷　防風　建曲　藿香　益元散　荊芥　枳實　荷葉　玉樞丹</p>
<p>（案6）暑濕復盛，發熱嘔吐蛔蟲。治以苦辛泄熱。</p>
<p>左金丸　防風　枳實　香附　荷藿　大豆卷　荊芥　建曲　蘇梗</p>
<p>（案7）病一候，無汗不達，舌苔尚白，雖大便屢行，而邪不蒸化，尚恐其中。</p>
<p>柴胡　茅朮（一錢）　半夏　紫蘇　赤苓　葛根　草果　陳皮　藿香</p>
<p>（案8）暑濕病七日，身熱有汗不解，大便溏泄，舌苔黃膩，病前遺精。邪伏陰分，防重。</p>
<p>桂枝　柴胡　建曲　半夏　赤苓　荷葉　淡芩　枳實　檳榔　陳皮　澤瀉　藿香</p>
<p>（案9）素體陰虛內熱，感受濕暑，口甜。尚宜清化。</p>
<p>細地　赤芍　薄荷（七分）　知母　荷葉　丹皮　連翹　花粉　滑石（四錢）</p>
<p>（案10）經行愆期，形肉消瘦，此屬本病。現在形寒身熱，舌苔滿白，此是濕滯郁。先從表治。</p>
<p>柴胡　川樸　半夏　赤苓　荷葉　茅朮　杏仁　陳皮　蘇梗　藿香</p>
<p>（案11）轉筋得定，便泄得大，但嘔吐轉甚，四肢陽回不足，脈來微續。不致復閉為幸。</p>
<p>吳萸　旋代湯　木瓜　澤瀉　丁香　二陳湯　木香　來復丹</p>
<p>（案12）瀉止，嘔吐蛔蟲不定，冷汗雖斂而肢尖尚冷，脈象稍起而尚細。防其復閉。</p>
<p>旋代湯　澤瀉　佛手　蔻仁　二陳湯　香附　吳萸</p>

<h2>八、伏邪</h2>
<p>（案1）伏邪新感風寒而發，發熱不透，形寒轉甚，病前遺泄。邪伏陰分，防重。</p>
<p>豆豉　荊芥　紫蘇　枳實　桔梗　桂枝　前胡　防風　羌活　檳榔　紫菀</p>
<p>（案2）伏邪病久，正陰交虛。宜參清養。</p>
<p>黑膏　歸身　青陳　青蒿　白薇（三錢）　杜斷</p>
<p>（案3）伏邪最晚發，寒熱無定，已涉旬日，舌黃，脈數。防其化燥內傳。</p>
<p>黑膏　瓜蔞　川連　竹茹　麻仁丸　杏仁　淡芩　澤瀉</p>
<p>（案4）便通，汗出熱退，惟舌灰垢不化。尚恐反復。</p>
<p>溫膽湯　桑葉　牛蒡　川黃連　杏仁　決明</p>

<h2>九、冬溫</h2>
<p>（案1）冬溫夾食，病發熱三日，便泄，舌白，脈沉，加以病前遺精。邪伏陰分，防一候轉重。</p>
<p>桂枝　枳實　建曲　木香　敗毒散　檳榔　紫蘇</p>
<p>（案2）溫邪病四日，身熱不退。防一候增重。</p>
<p>敗毒散　枳實　杏仁　紫蘇　紫菀　建曲</p>
<p>（案3）冒風飲食二次，反復形寒身熱。如此不小心，防延為怯症。</p>
<p>前胡　杏仁　枳殼　象貝　紫菀　桑葉　防風　建曲　橘紅　桔梗</p>
<p>（案4）食復，病一候，大便溏泄。殊恐轉重。</p>
<p>豆豉　桑葉　蟬衣　檳榔　建曲　葛根　牛蒡　桔梗　枳實</p>
<p>（案5）溫邪病八日，形凜，熱不透，咳嗽，夜來氣急，病前遺泄。邪伏陰分，防其昏陷。</p>
<p>桂枝　豆豉　桔梗　橘紅　杏仁　前胡　紫菀　象貝　桑葉　枳殼　葶藶（七分）</p>
<p>（案6）溫邪病八日，身熱無汗，便下稀黑水。防重。</p>
<p>葛根　淡芩　牛蒡　建曲　澤瀉　柴胡　桑葉　枳殼　赤苓</p>
<p>（案7）溫邪病十一日，身熱不退，大便溏泄，唇焦舌黃，脈滑數，夜有囈語。總期兩候退解為吉。</p>
<p>葛根　淡芩　青蒿　牛蒡　檳殼　川連　竹茹　桑葉　赤苓　建曲</p>
<p>（案8）病十二日，頸項有白㾦數點，惜乎不多，腹痛便泄，舌轉黃。邪滯未化，防過兩候轉重。</p>
<p>浮萍（錢半）　牛蒡（三錢）　葛根（錢半）　枳實　山楂　桑葉　蟬衣（一錢）　豆豉　檳榔　建曲</p>
<p>（案9）白㾦遍發，身熱退盡。冀其就此轉機是幸。</p>
<p>青蒿（錢半）　桑葉　蟬衣　竹茹　通草　豆豉　牛蒡　山梔　丹皮</p>
<p>（案10）額熱退而掌心仍熱，脈仍數。幸有咳嗽，邪從肺達為幸。</p>
<p>前胡　桔梗　桑葉　淡芩　紫菀　杏仁　青蒿　款冬花</p>
<p>（案11）病兩候，熱退不盡，咳嗽未平。尚要小心。</p>
<p>羚角　蘆根　知母　桑皮　連翹　滑石（四錢）　鮮地　花粉　杏仁　兜鈴　山梔　通草（一錢）</p>
<p>（案12）病十六日，便泄止，而每日形寒身熱，無汗而退。邪不分達，殊恐變端。</p>
<p>桂枝　紫菀　前胡　桑葉　黑膏　杏仁　蘇子　橘紅　桔梗　象貝</p>
<p>（案13）病逾兩候，身熱盛衰，大便少日未行。此陽明症，防其傳變。</p>
<p>調胃承氣湯（大黃、元明粉、生草）　桑葉　黑膏　丹皮</p>

<h2>十、瘧（附日瘧、久瘧）</h2>
<p>（案1）風溫作瘧，寒熱嘔吐。</p>
<p>桂枝　左金丸　建曲　麥芽　陳皮　柴胡　川枳實　山楂　半夏</p>
<p>（案2）痎瘧轉兩日作，寒輕熱重。邪從陽外達為幸。</p>
<p>柴胡　歸身　溫膽湯　淡芩　青皮</p>
<p>（案3）瘧日作移於早晨。現交立夏大節，宜參扶養。</p>
<p>人參鬚　二仙丸（川貝、半夏）　大白芍　歸柴飲　化肝煎</p>
<p>（案4）痎瘧轉為寒熱日作，此營衛不調也。</p>
<p>桂枝湯　青皮　枳殼　二陳湯　蘇梗　建曲</p>
<p>（案5）日來瘧漸輕，仍從陽治。</p>
<p>蓽撥　歸芍　補骨脂　枳殼　附子　肉果　小青皮　沉曲</p>
<p>（案6）久病半年，今瘧不成瘧，形寒特甚，四肢浮。肺脾腎陽虛，中滿須防。</p>
<p>麗參　鹿膠　菟絲　歸芍　加皮　肉桂　霞膠　枸杞　苓皮　青陳</p>
<p>（案7）　瘧經兩月，今瘧不成瘧，形肉消瘦，干嗆便泄。勢成童怯。</p>
<p>沙參　鱉甲　川貝　元參心　枳殼　玉竹　青蒿　橘紅　桑白皮</p>
<p>（案8）復病十一日，似瘧非瘧，又扶病出門，受風太重。再延幸勿復病。</p>
<p>桂枝　赤芍　防風　桑葉　荷藿　淡芩　竹茹　羌活　枳殼</p>
<p>（案9）痎瘧止而結痞不散，濕痰阻氣未化也。</p>
<p>三子　雞金散　生香附　二陳　旋覆花</p>
<p>（案10）瘧癖攻觸發身之年，不宜努力。</p>
<p>三物旋覆花湯　香附　杜斷　化肝煎　歸芍</p>
<p>（案11）鼻衄之後，瘧痎復來，有錯亂狀。擬玉屏風主方。</p>
<p>防風　首烏　青皮　鱉甲　黃耆　歸芍　陳皮　青蒿</p>
<p>（案12）痎瘧有可止之勢，仍從養陰泄肝。</p>
<p>鱉甲　丹皮　山梔　化肝煎　青蒿　歸芍二仙丸（夏、貝）</p>
<p>（案13）痢下得糞，而瘧疾復來，火病正陰大虧之體，何堪勝任？仍擬氣陰並補，於以和劑。</p>
<p>熟地　冬朮　鹿膠　肉桂　木香　杜斷　白芍　黨參　河車　霞膠　黃耆　陳皮　桂枝</p>
<p>（案14）瘧後失調，今瘧不成瘧，間日而作。仍是單瘧象也。</p>
<p>荊芥炭　杜斷　青陳　防風　歸身炭　枳殼　紫蘇</p>
<p>（案15）病延將八月，痎瘧、間瘧、日瘧不斷，加以咳嗽。加其變病。</p>
<p>青蒿　歸芍　川貝　桑皮　土藿香　鱉甲　白薇　杏仁　兜鈴</p>
<p>（案16）暑濕病作，寒重熱輕，而卻舌黃口乾。治以陽旦。</p>
<p>桂枝　赤芍　花粉　紫蘇　枳殼　荷藿　淡芩　柴胡　竹茹　防風　建曲</p>
<p>（案17）素病痰嗆，近感暑濕，瘧痎復來。姑與和解，佐以泄肺。</p>
<p>柴胡　葶藶　杏仁　紫菀　荷藿　荊防　蘇子　桑皮　桔梗</p>
<p>（案18）暑濕久郁，昨又形凜發熱，大便作注。防其瘧痢迭行。</p>
<p>桂枝　草果　紫蘇　枳實　澤瀉　川樸　木香　大腹　荊芥　荷藿</p>
<p>（案19）瘧痢傷脾，濕未盡而正陰虛。治宜消補兼施。</p>
<p>黨參　木香　茅朮　苓皮　青陳　黃耆　於術　歸芍　加皮</p>
<p>（案20）外感風邪頗化，而瘧久陽素衰，右脈頗軟，神情痿頓。宜參補養。</p>
<p>麗參　桂枝湯（去草）　小麥　歸身　化肝煎　香附</p>
<p>（案21）瘧久陽虛，仍從溫養。</p>
<p>鹿膠　桂枝　香附　枸杞　首烏　歸芍　青陳　菟絲</p>
<p>（案22）寒濕深受，瘧後陽衰。</p>
<p>桂枝湯　牛膝　毛脊　炒歸身　桑枝</p>
<p>（案23）瘧後營衛不調，溫熱久郁。</p>
<p>桂枝湯　二陳湯　厚朴杏子湯</p>
<p>（案24）營衛不調，濕痰阻中，三年來每早形凜發熱，得汗而退。姑以和劑。</p>
<p>桂枝湯　蘇子　苓皮　白芥子　橘紅　半夏</p>
<p>（案25）營衛漸和，正氣已虛。</p>
<p>麗參　雞內金　化肝煎　歸身　桂枝湯　沉香曲</p>
<p>（案26）瘧久陽回未足，再投溫養。</p>
<p>肉桂　麗參　歸芍　紅棗　青陳　菟絲　附子　首烏　乾薑　益智　枸杞</p>
<p>（案27）陽氣漸和，血分內虧。宜參融養。</p>
<p>桂枝湯　歸身　杜仲　化肝煎　首烏　川斷</p>
<p>（案28）痎瘧之後濕熱下注，擬三妙合五苓重方。</p>
<p>三妙丸（用川連）　二陳湯　五苓散　焦米仁</p>

<h2>十一、間瘧</h2>
<p>（案1）昨寒輕熱重，間瘧已准，汗出亦暢，惟熱時竟膻中如焚。擬小柴調合熱鬱湯。</p>
<p>柴胡　連翹　山梔　枳實　半夏　滑石　薄荷　淡芩　竹葉　蔞仁　陳皮　荷藿</p>
<p>（案2）此小虛風后，濕邪未盡，轉而間瘧。治以和解。</p>
<p>柴胡　溫膽湯　荷藿　淡芩　瓜蔞仁</p>
<p>（案3）日昨氣急，徹夜不寐。此間瘧於未來之先，膽胃不和也。</p>
<p>柴胡　建曲　荷藿　淡芩　紫蘇　溫膽湯</p>
<p>（案4）已准間瘧，寒短熱長。防其久延。</p>
<p>柴胡　桑葉　紫蘇　建曲　陳皮　防風　牛蒡　枳實　半夏　荷藿</p>
<p>（案5）又作間瘧，新感風寒所致，引動嘔吐舊恙。</p>
<p>桂枝　乾薑　沉曲　丁香　吳萸　紫蘇　二陳　澄茄</p>

<h2>十二、少陰瘧</h2>
<p>（案1）痎瘧發子午卯酉、辰戌丑未，此少陰、太陰。今疝氣之病，亦從少陰來。</p>
<p>桂枝　茴香　首烏　荔枝核　歸芍　青陳　香櫞</p>
<p>（案2）痎瘧經年發子午卯酉日，重寅申巳亥日，經所間者一日耳。少陰厥陰合病，久延不宜。</p>
<p>桂枝湯　首烏　益智　化肝煎　於術</p>
<p>（案3）痎瘧發子午卯酉日，少陰瘧也，寒重熱輕，加以白積。恐其不耐熱蒸。</p>
<p>桂枝　香蘇飲　腹皮　豬苓　木香　化肝煎　苓皮　澤瀉</p>
<p>（案4）痎瘧復來，發子午卯酉，加以紅痢二十餘日。瘧痢並行，防其不支。</p>
<p>桂枝　青麟丸　枳實　山楂　淡芩　煨木香　建曲　檳榔</p>
<p>（案5）痎瘧又准子午卯酉日，少陰瘧也。咳嗽略鬆。</p>
<p>歸（三錢）柴（七分）飲　桑皮　象貝　建曲　化肝煎　杏仁　枳殼</p>
<p>（案6）痎瘧發子午卯酉日，少陰瘧也。</p>
<p>鱉甲煎丸　早服十粒，午服十粒，晚服十粒。</p>
<p>桂枝　生薑　紅棗　三味煎湯送下。</p>
<p>（案7）痎瘧發子午卯酉日，少陰瘧也。幸其來漸短。</p>
<p>桂枝湯　青蒿　歸身　生鱉甲（六錢）　丹皮</p>
<p>（案8）痎瘧發子午卯酉日，少陰瘧，延今一年，止伏不斷。陰分傷矣。</p>
<p>生地　黨參　歸芍　青蒿　首烏　阿膠　青陳　鱉甲</p>
<p>（案9）痎瘧發子午卯酉日，少陰瘧也，寒輕熱重。治以陽旦。</p>
<p>陽旦湯（桂枝、草、芍、黃芩、薑、棗）　枳殼　化肝煎</p>

<h2>十三、太陰瘧</h2>
<p>（案1）痎瘧作辰戌丑未日，太陰瘧也，大便溏泄，左脅結癖攻觸。殊難速愈。</p>
<p>桂枝湯　枸杞　益智　雞金散　菟絲</p>
<p>（案2）太陰瘧依然，而形寒不已，大便溏泄。脾陽衰也。</p>
<p>麗參　肉桂　菟絲　益智　乾薑　附子　鹿角　枸杞　白芍　紅棗</p>
<p>（案3）太陰瘧有錯亂之象，但便下有紅積狀，舌剝裂紋。陰分傷矣。</p>
<p>黨參　歸芍　枸杞　木香　於術　青陳　菟絲</p>
<p>（案4）痎瘧發辰戌丑未日，太陰瘧也，先曾休息痢，全少腹膨脹。治宜兼顧。</p>
<p>桂枝　木香　茴香　歸身　澤瀉　益智　大腹　青皮　苓皮</p>
<p>（案5）痎瘧止而復作，發辰戌丑未日，太陰瘧也，寒輕熱重。治以陽旦。</p>
<p>陽旦湯　益智　化肝煎　荷藿</p>
<p>（案6）太陰瘧，寒輕熱重，舌苔轉黃，新感暑濕。先從表治。</p>
<p>柴胡　溫膽湯　荷葉．淡芩　小青皮　佛手</p>
<p>（案7）痎瘧發子午卯酉日，已涉三月，現在新感溫邪。先從表治。</p>
<p>柴胡　桑葉　土貝　桔梗　杏仁　豆豉　牛蒡　馬勃　生草</p>
<p>（案8）痎瘧延今百餘日，發於辰戌丑未，太陰瘧也，加以便血、肝氣，尤為棘手。</p>
<p>桂枝湯　歸身　化肝煎　香附</p>
<p>（案9）瘧發太陰，再投和陽。</p>
<p>蓽撥　益智　補骨脂　化肝煎　附子　肉果　二仙丹</p>
<p>（案10）太陰瘧遞早一時解，似屬佳兆。仍從前法。</p>
<p>附子理中湯　四神　菟絲　化肝煎　枸杞</p>
<p>（案11）太陰瘧不減，寒重於熱，無汗不達。</p>
<p>歸柴飲　香蘇飲　佛手　桂枝湯　陳香櫞</p>
<p>（案12）太陰瘧，痰氣互阻。</p>
<p>附子　二陳　桂枝湯（去芍、草）　三子</p>
<p>（案13）太陰瘧，止作不定。</p>
<p>黨參　益智　霞膠　桂枝　枸杞　補骨脂（錢半）　於術　鹿膠　肉果　白芍　菟絲</p>
<p>（案14）太陰瘧，傷陰分。</p>
<p>鹿角霜（六錢）　化肝煎　蘇梗　何人飲（首烏、人參）　歸芍　於腹</p>
<p>（案15）太陰瘧雖輕截，神更疲倦。</p>
<p>黨參　首烏　益智　青皮　枸杞　麗參　鹿角　歸芍　陳皮　菟絲</p>
<p>（案16）痎瘧發寅申巳亥日，延今將三月，來時咳嗽轉甚。先從肺治。</p>
<p>前胡　桔梗　杏仁　青皮　象貝　紫菀　桑皮　蘇子　陳皮　兜鈴</p>
<p>（案17）咳嗽大減，太陰瘧然熱依積。稍參扶養。</p>
<p>首烏　歸芍　苓皮　象貝　洋參　桑皮　橘紅　兜鈴</p>
<p>（案18）太陰瘧漸減，而四肢浮腫。以五苓重方。</p>
<p>五苓散　櫞皮　青皮　五加皮　歸身</p>
<p>（案19）痎瘧發辰戌丑未日，太陰瘧也，寒輕熱重，延今五月，而舌苔尚黃厚。濕熱尚阻。</p>
<p>桂枝　赤芍　青陳　益智　淡芩　歸身　半夏　苓皮</p>

<h2>十四、厥陰瘧</h2>
<p>（案1）痎瘧發寅申巳亥日，厥陰瘧也，現在咳嗽面浮。治宜兼顧。</p>
<p>桂枝湯　杏仁　加皮　腹皮　桑白皮　苓皮　青皮</p>
<p>（案2）咳嗽得減，厥陰瘧不止。</p>
<p>五苓散（去朮）　桑皮　青皮　五加皮　杏仁　陳皮</p>
<p>（案3）厥陰瘧有錯亂之意，而咳嗆不已，此肝火灼肺也。姑與錢氏法。</p>
<p>阿膠散　紫菀　川貝母　桔梗</p>
<p>（案4）咳嗽得減，而厥陰瘧止一期而復作，左脅有結癖狀。大為累事。</p>
<p>香蘇飲　旋覆花　桑皮　雞金散　馬兜鈴　杏仁</p>
<p>（案5）痎瘧發寅申巳亥日，厥陰瘧也，經停十月。治宜兼顧。</p>
<p>桂枝湯　歸身　杜斷　化肝煎　澤瀉</p>
<p>（案6）痎瘧發寅申巳亥日，厥陰瘧也，加以便泄，足肢浮腫，漸延及上。防成中滿。</p>
<p>冬朮　加皮　桑皮　益智　苓皮　澤瀉</p>
<p>（案7）痎瘧發寅申巳亥也，今又增白積。濕滯頗重。</p>
<p>草果　木香　建曲　青陳　澤瀉　厚朴　枳實　桂枝　蘇梗　通草</p>
<p>（案8）厥陰瘧來稍輕，再投和解。</p>
<p>桂枝　丹皮　陳皮　建曲　青蒿　半夏　枳殼　歸身</p>
<p>（案9）痎瘧發寅申巳亥日、子午卯酉日，此厥少同病也。</p>
<p>桂枝湯　鹿角霜　化肝煎　歸身</p>
<p>（案10）痎瘧發寅申巳亥日，延及子午卯酉日。此厥少同病，濕痰素重，殊難速愈。</p>
<p>桂枝　枳殼　三子　茅朮　歸身　二陳</p>
<p>（案11）瘧仍伏於厥少二陰，黃根苔白。病氣不通，濕邪久郁。</p>
<p>附子　茅朮　二陳湯　歸身　桂枝　枳殼　香蘇飲</p>
<p>（案12）厥少瘧發未漸短，右脈略和。當不致久延。</p>
<p>麗參　鹿茸（四分）　霞膠　歸芍　肉桂　虎膠　枸杞　青陳</p>
<p>（案13）子母瘧仍作，厥少日期接，云寒輕熱重。陰分傷矣。</p>
<p>鱉甲　桂枝　青陳　白薇　青蒿　淡芩　歸芍</p>
<p>（案14）瘧仍作於厥少日期，惟神情振。稍參和養。</p>
<p>何人飲　化肝煎　桂枝湯　鹿角霜</p>
<p>（案15）厥少瘧，寒重於熱，陽氣衰餒，又位大節。仍從溫通。</p>
<p>肉桂　歸芍　化肝煎　附子　二仙丹　蘇梗</p>
<p>（案16）痎瘧作寅申巳亥日、辰戌丑未，厥陰、太陰為病。擬參扶正和脾。</p>
<p>歸柴飲　桂枝　米仁　化肝煎　白芍　穀芽</p>
<p>（案17）痎瘧止而復作，發於寅申巳亥日，厥陰瘧也，糞前有血。治宜兼顧。</p>
<p>（方缺）</p>
<p>（案18）瘧確發於厥陰，而涉及太陰。治宜兼顧。</p>
<p>桂枝　茅朮　歸芍　蔻仁　蘇梗　於術　益智　青陳　麥仁　香附</p>
