<header data-type="book">
<h1>舊德堂醫案</h1>
<dl class="元資料">
<div><dt>年份</dt><dd><data value="1687">公元1687年</data></dd></div>
</dl>
</header>

<h1>舊德堂醫案序</h1>
<p>嘗聞炎帝之澤壽世而資生堯舜之政仁民而及物利濟天下其揆一也然愛民者以親親為先壽世者以老老為務元晏先生云人受先人之體有八尺之服不知醫事此遊魂耳雖有忠孝之心慈惠之念君父危困赤子塗地何以濟之聖賢所以精思極論而盡其理耳餘嘗有志於斯奈周旋皇路勞瘁簿書每嘆元晏高風有慚蘇仟奇行也及承乏雲門觀風海邑有修之李君者年富而學博養邃而識純其決病也如洞垣之照其投劑也若大還之丹無論沉疴怪病卒能返本回真仁風翔洽遐聲稱久矣余之所不能去於心者辛丑季秋余將入覲</p>
<p>彤廷會家君忠泄神疲形瘁已成痼疾恐不起其如會同大典已任北山之後報政長征曷紓南顧之憂自度此身不忠不孝何自立於大地間也幸李君以補天之功干旋造化展指上陽春而沉寒忽散潑壺中甘露而元氣頓光起家君於萬死一生之危依然堂上俾不肖於燕山楚水之遙還膽膝下微李君德澤不及此余□恩有素銘德無涯聊仿古人式廬下車之敬旌其堂曰今日東垣以著培杏弘林步武乎易水師弟也繼而視膳失節泄瀉復作病入膏肓痛難身代雖先子盡其天年而李君德意之厚與道望之隆深足追述也孰謂和緩才名有遜於秦晉兩君哉余故爰載始末附諸簡端以志感云若夫活人功用自有筆舌可紀是刻特其一班耳</p>
<p>西秦田元愷華臣氏書於云間署中</p>

<h1>自敘</h1>
<p>紀古稱湔浣腸胃漱滌臟腑割皮解肌抉脈結筋此煉精蕩形之術超倫希世之神其法不可攻矣三代以降湯液初興方論始備十劑以准規矩七方以明繩墨補瀉因乎虛實寒熱合乎時宜症有真假恁脈而施治治分從逆臨症而審機變化生克若易道之無方虛實奇正如兵家之有紀故一症有一定之論一方有萬變之能未可寒熱兩歧攻補互似也非審脈驗症辨明定治何能幹旋造化之意耶東坡云脈症難明古今所忠至虛有盛候大實有羸狀疑似之間生死反掌佩服斯言戰兢自懼猶恐遺訓在耳貽羞地下乃奮然鼓志研求靈素考據百家受知當世十有餘年雖無回生起死之功稍有吹枯振槁之用或舍症而取脈或舍脈而取症或對症以定方或因方以立論楮陳墨跡累案盈兒矣及門二三子請付剞劂用廣聞見於是不揣愚鄙聊錄一二自知雕蟲小技不合大道然而他山之石可以攻玉狂夫之言聖人擇也則此刻或有道之所取裁乎敢以就正</p>
<p>云間李修之甫識</p>

<h1>小敘</h1>
<p>余讀史記倉公治案凡十有餘人歷疏病狀備陳方論未嘗不嘆功多也蓋人稟大地之大德參精神之化機有生必有病者六淫與九氣相干有病必有治者七方與十劑相濟故鑑灸砭石創制於千古湯液體釃垂訓於萬年司命重權由來尚矣第病有所因人人自殊症有傳變種種不一始末變遷之異寒熱虛實之分陰陽消長愈幻而愈化攻補從逆愈出而愈奇三指之下安危反掌一匕之中生死攸關必醞釀丹書研精靈素乃能入家升堂耳惟吾師修之李夫子大資領悟家學淵源飲上池之水洞隔垣之照刀圭施而沉疴頓起丹丸投而僵仆回生九峰三泖咸化為壽城春臺矣翊也企仰儀型親炙道範幸大治爐錘啟小子聾□書紳明教蓋已有年二三同志慮照示之不廣也屬余立案以記之凡是敢竭班見敬陳片言雖學海泓深難以蠡測龍門多士何藉管窺然山高在望安敢怠荒名論在茲願叨筆舌即見聞所及記述大概上自名公巨卿下逮買夫牧豎其間怪異之病奇特之方或還生起死或養氣守真時而培補陽和如陰霜見日時而調元滋水若甘露□霖圓融活潑總不外回春之澤臨機應變盡皆成利濟之仁庶人下後世知吾師活人功用上接乎倉公也至若著述藏於金匱編刻秘於玉函上擷萬卷之書下振千秋之鐸此吾師入神之妙用余未有知安敢窺其萬一耶</p>
<p>中江唐廷翊百拜書</p>

<h1>舊德堂醫案</h1>
<p>申江鄒邑侯子含仲夏患瀉精神疲憊面目青黃因素不服藥遷延季秋忽眩暈仆地四肢抽搦口斜唇動篇體冰冷麵黑肚縮六脈全無署中幕賓通曉醫理各言己見或曰諸風掉眩法宜平肝或曰諸寒收引理應發散議論紛紜不敢投劑延予決之曰脾為升陽之職胃為行氣之府坤土旺則清陽四布干健乖則濁陰蔽塞此自然之埋也今泄瀉既久沖和耗散所以脾元下脫胃氣十浮陰陽阻絕而成天地之否故卒然仆倒所謂上空則潰也況肝脾二經為相勝上臟脾虛則木旺肝旺則風生故體冷麵青歪斜搐搦相因而致也若誤認風寒的候而用發表之方恐已往之陽追之不返矣宜急煎大劑參附庶為治本合署驚訝見予議論嚴確乃用人參一兩熟附二錢生薑五片煎就灌下一二時手指稍溫至夜牛而身暖神蘇能進米飲後以理中補中調理而安</p>
<p>文學陸元振經年伏枕足膝枯細耳輪焦薄形容憔悴歷訪名醫俱用四物地黃湯反覺胸膈凝滯飲食減少自謂此身永廢而心猶未慊延予商治診兩寸關俱見沉滯獨尺部洪大重按若絕此腎虛精耗髓空骨痿之徵也蓋腎者作強之官也居下而主陰氣藏精而充骨髓者也故腎旺則精盈而肢節堅強腎虛則髓竭而膝臏軟弱王太僕云滋宙者必固其根伐下者必枯其上今坎水不能灌溉經絡滋養百骸宜乎耳輪焦薄足膝枯細也內經所謂腎氣熱則腰脊不舉足不任身骨枯髓減發為骨痿端合此證若從事滋陰恐用草木不能驟補精血反壅滯陽氣以致中脘不舒痿躄艱難耳必用氣血之屬同類相求兼以報使之品直抵下焦譬之天雨溝渠盈溢滂沛河澤奚慮隧道不行足膝難步耳疏方用人參白朮當歸地黃茯苓肉桂鹿茸龜甲萎蕤牛膝等重劑數帖而稍能轉舒百帖而愈</p>
<p>嘉定孝廉陸佑公長子童年發熱偏嘗涼藥熱勢更熾晝夜不減復認陽明熱證投大劑白虎禁絕穀食致肌肉消瘦漸致危困迎予往治見面色枯而不澤脈現細數力斷大虛之證速用甘溫之藥庶可挽回佑老駭日皆言外感寒熱無閒內傷寒熱不齊今發熱晝夜不已而反言內虛者必有確見願聆其詳予曰陽虛晝劇陰虛夜劇此陰陽偏勝因有界限之分今脾胃並虛陰陽俱病元氣衰殘陰火攻衝獨浮肌膚表雖身熱如焚而寒必中伏況肌肉消鑠脾元困憊也徹夜無臥胃氣不和也面無色澤氣血不榮也脈象無神天真衰弱也此皆不足之明驗若禁川五味則胃氣益孤專服寒涼則生氣絕滅宜晨服補中益氣湯加麥來冬五味以培資生之本暮服逍遙散以疏乙木之郁兼佐濃鮮之品蘇胃養陰庶元神充而虛陽內斂也令先飲豬肺湯一碗當即安睡熱即稍減遂相信用藥服十劑而精神爽快調理經年服參數斤乃獲全愈</p>
<p>常鎮道尊陳麼久患下血甲辰春召予調治診得六脈安靜右尺重按稍虛此命門火衰不能生土土虛榮弱稍微下陷而成便血之候蓋土為生化之母堤防下氣者經曰營出中焦又曰氣因於中小者腳胃也為生氣生血之鄉升清降濁之職故胃盛則循經之血灑陳於外腳強則守榮之血滋養於中皆賴少火生氣耳若元陽既虧離虛無以生坤坎滿無以養良使脾胃衰殘而清陽不升轉輸失化而陰血不統宜乎精華之氣不能上奉辛金反下滲庚大腸也當用甘溫之劑培中宮之虛升陽之品提下陷之氣庶生長令行而陰血歸藏方以補中益氣加阿膠醋炒荊芥數劑而安</p>
<p>保定文選張魯彥少年登第縱恣酒色患便血四年午晨各去一次諸藥雜投劑多功少延予調治診其脈象兩手浮洪斷為腎虛火動之候蓋血乃精化精充而血始盛陰隨陽動陽密而陰乃固房勞太過則真水虧而虛火獨發元氣不足則閉藏弛而陰不固也遂以熟地山萸山藥石斛歸身白芍秦艽阿膠等煎成調棉花子灰二錢空心溫服數帖乃愈</p>
<p>庠生陸符九夫人系董文敏公之孫女也懷孕三月忽崩湧如泉胎墮而胞息脹悶昏沉發熱譫語上視見鬼面黑流涎已三月矣此皆瘀血灌滿胞中上掩心肺故惡證畢現治法須分先後用肉桂歸尾澤蘭香附紅花牛膝元胡索煎成調失笑散去其胞中垢穢使不上升繼以參耆芎歸肉桂助其傳送庶或有救如方修服神思稍清覺痛陣連腰恍恍如下隊將鵝翎探入喉中一嘔而胞下脹悶諸苦若失</p>
<p>協鎮王公生長薊北腠理閉密癸卯秋謁提臺粱公於茸城乘涼蚤歸中途濃睡覺惡寒發熱緣素無病患不謹調養過食腥葷日增喘促氣息聲粗不能安枕更汗出津津語言斷落不能發聲延予商治六脈洪滑右寸關尤汨汨動搖以脈合證知為痰火內郁風寒外束正欲出而邪遏之邪欲上而氣逆之邪正相搏氣湊於肺俾橐籥之司失其治節清肅之氣變為擾動是以呼吸升降不得宣通氣道奔迫發為肺鳴一切見證咸為風邪有餘肺氣壅塞之徵若能散寒驅痰諸病自愈乃用三拗湯（三拗湯麻黃不去根節杏仁不去皮尖甘草生用按此方治感冒風寒咳嗽鼻塞麻黃留節發中有收杏仁留尖取其能發留皮取其能澀甘草生用補中有發故名三拗）加橘紅半夏前胡一劑而吐痰喘緩二劑而胸爽臥安夫以王公之多欲誤認丹田氣短用溫補之品則膠固膚腠客邪焉能宣越頑痰何以渙解故臨症之時須貴乎諦審也</p>
<p>□商吳維宗年將衛順忽然染吐血嗽痰晝夜不安醫見年邁多勞誤投參耆遂覺一線穢氣直衝清道如煙似霧胸間隱隱而疼喘急不臥闔戶悲泣特遣伊侄遠顧蓬門具陳病概並言伊子幼齡倘成沉疴何人撫育深為慘惻予憫其懇切細為審度知水乾龍奮焦灼嬌臟將見腐肺成癰所以咳咯不止蓋金水一氣水火同原干金既可生水坎水又能養金惟源流相濟則離焰無輝如真水涸流則相火飛越俾清虛廓然之質成擾攘溷濁之氣況乎甘溫助陽愈傷肺液宜壯水之主以鎮陽光使子來救母而邪火頓息也方以生熟地黃各二錢天冬麥冬各一錢五分茯苓紫菀川貝枯芩瓜蔞霜甘草節各一錢二劑而煙消霧散喘息臥安以後加減不旬日而嗽痰俱止</p>
<p>相國文湛持在左春坊時患左足下有一線之火直衝會厭燔灼咽嗌必得抬肩數次火氣稍退頃之復來或用補中益氣加肉桂服之更甚求治於家君脈兩尺虛耎知非實火奔迫乃虛炎泛上然虛症之中又有脾腎之分脾虛者氣常下陷法當升舉腎虛者氣常上僭又當補斂今真陰衰耗孤陽無依須滋坎之陰以抑離之亢乃為正治方以熟地四錢丹皮山萸各二錢麥冬錢半五味三分黃柏七分牛膝一錢煎成加童便一杯服四帖而虛火乃退左足遂涼參戎王麗堂夫佞佛長齋性躁多怒腹脹累年曆用湯丸全無奏效延予治時腹大臍突青筋環現兩脅更甚喘滿難臥此係怒氣傷肝坤宮受制之證前醫但知平肝之法未知補肝之用所以甲膽氣衰沖和暗捐清陽不升濁氣不降壅滯中州脹勢更增殊不知肝木自甚則肝亦自傷不但中土虛衰已也法當調脾之中兼以疏肝之品使肝木調達則土自發育耳擬方用蒼朮白朮各錢半白芍廣皮香附茯苓各一錢肉桂木香生薑皮各五分服後頓覺腹向脹寬喘平臥安後加人參調理而今瘥</p>
<p>休寧汪振先夫人受孕八月胎前勞瘵肉削肌瘦環口黧黑舌色紅潤飲食如常六脈滑利狀若無病予曰九候雖調形肉已脫法在不治所賴者胎元活潑真陰未散線息孤陽依附丹田譬之枯楊生花根本已撥胎前尚有生機恐五十日後雖有神丹總難回挽蓋分娩之時榮衛俱離百節開張況處久病之軀當此痛苦之境恐元神無依陰陽決絕僅陳軀殼而生氣杳然豈能再延耶越二月果子存母歿</p>
<p>青溪何伊祥之內患吞酸已二十餘載矣因病隨年長復加恚怒胸膈否塞狀若兩截食入即反肢體浮腫治者非破氣消導即清痰降火投劑累百未獲稍安邀予治之左三部弦大空虛右寸關沉而帶澀乃苦寒傷胃清陽下陷之徵也蓋胃司納受脾主運動胃虛則三陽不行脾弱則三陰不化致倉稟閉塞賁門阻滯奚能化導槽粕轉輸出入乎況氣者升於脾而降於胃運用不息流行上下者今胸膈氣噎乃氣虛而滯非氣實而滿如誤認有餘之象妄施攻伐之方不特無補於脾而反損於胃所以投劑愈多而病勢愈劇也立方用六君子加炮姜官桂先將代赭石一兩槌未和入清泉取水煎藥才服入口覺胸宇不寧忽然有聲隔絕隧道食亦不吐或云胃虛而用六君子此千古正治毋庸議論如代赭石治法今人未聞願領其詳予曰醫者意也代赭系代郡之土稟南離之色能生養中州腳胃屬土土虛即以土補乃同氣相求之義也</p>
<p>居君顯子舍青年患癧因睡中驚醒即口眼歪斜嚼舌流血四肢搐搦學家驚異邀醫用治痰不效干予診視因其抽掣不常難以候脈但望面色黃中現青搐搦之勢左甚於右經日東方屬青入通於肝其病為驚駭況乎久患瘰瀝則肝膽之氣嘗譏於外而陰血不榮於內偶因夢中驚駭觸動肝火火旺而風生風生而搖動此自然之理也且四肢為胃土之末口目乃胃脈所過木氣搖土所以喎斜瘛瘲夫舌屬心脾齒屬陽明陽明氣盛則口噤心脾氣盛則舌挺一挺一噤故令嚼舌宜用平肝之品佐以驅風清火遂用二陳湯加山梔枳殼鉤藤羌活防風一劑而諸苦若失</p>
<p>江右李太宰諱日宣有如夫人自耳至脅忽結核成塊偏延瘍科均以瘦愈治之反增發熱體瘦口燥唇乾飲食少進迎家君往診脈左關芤而無力此肝血枯竭不能榮養諸筋故筋脈攣縮有似瘰癧而實非也若以敗毒清火消痰化堅之劑投之則胃氣轉傷變症百出矣當滋養肝血以濡潤筋脈為要方用四物湯加丹皮玉竹秦艽麥冬等劑不數服而痊</p>
<p>內卿令喬殿史次君自幼腹痛諸醫作火治氣治積治數年不愈後以理中建中相間而服亦不見效特延予治六脈微弦面色青黃予曰切脈望色咸屬肝旺凌脾故用建中以建中焦之氣俾脾胃治而肝木自和誠為合法宜多服為重於畫或甚於夜或飢餓而發或飽逸而止治皆不同殿史曰方飲食下咽便作疼痛得大便後氣覺稍快若過飢則痛交陰分則貼然予曰我得之矣曏者所用小建中亦是治本之方但藥酸寒甘飴發滿所以無效賢郎尊恙緣過飢而食食必太飽致傷脾胃失運用之職故得肝旺凌脾之候所謂源同而流異者是也今以六君子湯加山查麥芽肋其建運之機令無壅滯之患則痛自愈也服二劑而痛果止所以醫貴精詳不可草草</p>
<p>庠生範嘯凡令正向患頭眩症六脈浮滑服消痰順氣之藥略無效驗予曰無痰不眩此雖古語然痰之標在脾而其本屬腎素問曰頭痛巔疾下虛上實此之誚也夫肝為乙木之本腎為癸水之源腎陰不充肝火便發上動於巔而眩作也治法以扶脾為主脾安則木自和而肺金有養金為水母而子亦不虛何而瘥</p>
<p>周浦顧公鼎慕夜遭刦左半身自頭至足計傷三十七刀流血幾干筋骨斷折百日以來濃血淋瀝肉腐皮黑痛苦不堪不能轉側專科俱用滋陰養血止痛生肌反凝滯胃口妨礙賁門致飲食厭惡瘡口開張乞予救療左寸關部位刀傷瀝瀝膿水迸流大都虛微不堪尋按耳蓋虛為陰傷微為陽弱陰陽失職榮衛空虛氣血衰殘肌肉滑爛靈樞云衛氣者所以溫分肉而充皮毛肥腠理而司開闔故瘡口不收皆由衛氣散失不能收斂耳即有流膿宿血內藏其穴能使陽和生動火氣周流自然膿收瘡斂長肉生肌旬月之間可許步履如初觀者咸駭予言為遷為此危重不過苟延時日安得無恙如果回春則先生非李乃呂先生也遂力擔承用養營湯大劑服二十帖瘡口盡斂飲食亦進至百帖即能起坐復用藥酒及還少丹出入加減四五月後可以倚杖行步越明年便能卻杖迄今榮壯勝常此亦偶然不可多得</p>
<p>大場張公享內正年逾四句傷子悲憫崩湧如泉用四物膠艾或增棕櫚棉灰毫不可遏醫頗明義理論陽生陰長無陽則陰不能生用補中益氣以調脾培本勢雖稍緩然半載以來仍數日一崩大如拳塊徹夜不臥胸膈脹滿勢甚危殆邀予診視面色青黃唇爪失澤四肢麻木遍體痠疼六脈芤虛時或見澀此病久生郁大虛挾寒之象夫脾喜歌樂而惡憂思喜溫燥而怨寒濕若投膠艾止澀之劑則隧道壅塞而鬱結作矣若專用升柴提舉之法則元氣衰耗而生髮無由也乃以歸脾湯加益智炮姜大劑與服四帖而勢緩便能夜寐胸膈頓寬飲食增進調理兩月天癸始正記前後服人參十六觔貧者奈河</p>
<p>檇李孝廉沈天生夫人血崩不止勢如湧泉醫謂血熱則行血寒則止四物加芩柏等劑兩晝夜不減延家君往治診其脈息安靜全無病象肌體清癯原非壯實知為脾胃氣虛不能攝血苦寒雜進反以潛消陽氣須用甘溫之品以回生長之令乃以補中益氣湯加阿膠炮姜大補脾元升舉陽氣二劑而崩止以後調理漸安</p>
<p>河間司李朱思皇長公令方夫人坐孕七月胎睡異常喘急不能言並不能臥者月餘舉家徬徨投藥甚亂一醫用人參白朮以實脾一醫改用商陸葶藶以潤肺相去天淵益增疑思邀予決言予曰此症似危脈幸洪滑產前可保無慮即應分娩之後頗費周旋耳舍前兩治余不過一二劑便狨安枕矣座中訝出言之易各言辨駁予據理折之日胃為清陽之海肺為元氣之龠故呼吸升于丹田清濁輸化賴於中土若平素膏粱太過則中州積熱況胎孕內結則相火有餘至六七月以來肺胃用事胎漸成大故胎氣愈逼而火愈旺湊逆於上喘呼不臥名曰子懸者是也茲用參朮丫補則肺氣壅塞若用葶藶苦寒則胃氣孤危均致變症蜂起豈非實實虛虛之患乎疏方用蘇梗枳殼腹皮各三錢茯苓陳皮半夏各錢半甘草五分生薑三片一帖便能言再劑則安臥合門信為神丹余曰無歡也胎前喘急藥石易療恐臨盆在邇其喘復生雖靈丹在握不能為也須預備奇策調護真元不致臨產渙散乃可萬全不數日產一子甚覺強健越兩日喘果復作驚呆無措進食亦減常時此胃土虛而不能生金之象以大劑參朮苓草五味肉桂數劑乃安</p>
<p>歙人方李生儒人向患左脅疼痛服行氣逐血之劑反加嘔逆甚至勺水難容脈左沉右洪明屬怒動肝火來海脾陰過投峻藥轉傷胃氣俾三陰失職倉廩無由而化五陽衰憊傳道無由而行所以中脘不通食反上湧斯理之自然毋容議也方以異功散加白芷肉桂於土中瀉水並禁與飲食用黨參五錢陳倉米百餘粒陳皮一錢生薑三錢加伏龍肝水三碗煎耗一半飢時略飲數口二三日後方進稀粥庶胃氣和而食不自嘔依法而行果獲奇效</p>
<p>柯靄寧患吐血後咳嗽連聲氣喘吐沫日哺潮熱服四物知柏後兼服蘇子貝母百部丹皮之屬病勢轉劇乞予治之六脈芤耎兩足浮數知為陰枯精竭而孤陽氣浮俾肺金之氣不能歸納丹田壯火之勢得以遊行清道所以嬌臟受傷喘嗽乃發理應六味丸加五味沉香導火歸源但脾氣不實乃先以人參白朮黃耆山萸山藥各一錢五分石斛丹皮各一錢五味子念一粒肉桂五分服數十帖大便始實改用前方調養月餘咳嗽亦瘥後三年前病復發信用苦寒遂至不起</p>
<p>云間田二府封翁久瀉肉脫少腹疼痛飲食下咽泊泊有聲才入賁門而魄門已滲出矣或以湯藥厚脾或以丸散實腸毫不見效幾瀕於危召予力救望其色印堂年壽夭而不澤切其脈氣口六部細弱無神則知清陽不升原陰下陷非但轉輸失職將見閉藏傾敗矣蓋腎者胃之關也脾之母也後天之氣土能制先天之氣腎可生脾良由坤士是離火所生而良木又屬坎水所生耳故飲食入胃如水穀在釜雖同脾土以腐熟亦必藉少火以生氣猶上萬物雖始於土皆從陽氣而生長彼生生化化之氣悉屬於一點元陽所謂四大一身皆屬金不知何物是陽精也惟命門火衰丹田氣冷使脾臟不能運行精微腸胃不能傳化水穀三焦無出納之權五陽乏敷布之導升騰精華反趨下陷故曰瀉久亡陰下多亡陽陰陽根本悉歸骨中若徒知補脾而不能補腎是未明隔二之治也宜用辛熱之品暖補下焦甘溫之劑資培中上譬之爐中加火而丹易盛燈內添油而燃不息真有水中火發雪裡花開之妙何慮寒谷之不回春耶遂用人參白朮炮姜炙甘草熟附子煎成調赤石於末三錢與服漸覺平安十劑而痛止泄減面色潤澤飲食增進不一月而全愈乃蒙賜顧繾綣竟日而去越明年春田公覲還父子重逢喜出望外不意過食瓜果前症復發竟難挽回卒於仲夏庚寅日可見木旺凌脾之驗毫髮不爽也</p>
<p>庠生奚易思令正發熱腹痛嘔惡不食六脈沉鬱面黑如薰用解鬱調中之劑前症漸愈若感怒氣應必復發半載以來形神憔悴小便澀痛小腹重墜延予治之予曰癥瘕痞塊多屬中脘發則形象可求痃癖兩症貼在臍旁發則攻衝而痛數症皆水道通利者也今小水澀滯少腹重墜必身皮甲錯繞臍生瘡此係下焦肝火久郁不舒已成小腹癰也非予專門應瘍科調治庶可奏效延醫治之果如予言越數日而癰潰膿色稠紫服托裡養榮等劑月餘而康</p>
<p>除敬山傷寒鬱熱過經不解愈後食復譫語神昏剌高胎黑耳襲加愚六脈洪大此陽明胃熱血化為斑之狀乃燃燈照其胸腹果紫斑如綠豆大者期如列足但未全透於肌表宜清胃解毒使斑點透露則神清熱減矣用竹葉石膏湯二劑壯熱頓退斑勢掀發但昏呆愈甚厲聲呼之亦不醒覺將身掀動全無活意惟氣尚未絕俱云死矣予復診其脈兩手皆在不過虛微耳蓋此症始因胃熱將腐先用寒涼以解其客邪今邪火雖退正氣獨孤故兩目緊閉僵如死狀急用補胃之劑以醒胃脘真陽生機自回也即以生脈散合四君子湯一劑至夜半而兩目能視乃索米粥以後訓理漸安</p>
<p>妻祖黃含美庚辰會試患傷寒劇甚時家君薄遊都門乃與診視舌黑剌高壯熱妄語神思昏沉奄奄一息此為邪熱內甚亢陽外焚臟腑燔灼血隨沸騰斑將出矣遂用生地丹皮元參麥冬黃連知母甘草一劑而斑現再劑而神清三劑而舌剌如洗矣</p>
<p>燕京禮垣房之麟患傷寒五日病勢困殆伊親在太醫院者七人莫能措手延家君治之脈人迎緊盛右關洪大神思若狂舌胎微黑此邪熱拂鬱神思昏憒而如狂亢陽煽熾火極似水而舌黑炎炎蘊隆將成燎原若非涼血火將焚矣視其胸腹果有紅斑遂用化斑清火一服頓愈</p>
<p>分鎮符公祖恭人形體壯盛五旬手指麻木已歷三載甲辰秋偶感恚怒忽失聲仆地痰潮如鋸眼合遣尿六脈洪大適予往茸城飛騎促歸緣符公素諳醫理自謂無救議用小續命湯俟予決之予日是方乃辛溫重聚利於祛邪妨於養正其故有三蓋北人氣實南人氣虛雖今古通論然北人居南日久服習水土卑稟更移唐腠亦疏故卑下之鄉柔脆之氣每乘虛來犯致陰陽顛倒榮衛解散而氣虛卒中此南北之辨者一況中風要旨又在剖別閉脫夫閉者邪塞道路正氣壅塞閉拒不通脫者邪勝五內心氣飛越脫絕不續二證攸分相懸霄壤故小續命湯原為角弓反張牙關緊急閉證而設若用於眼合遺尿之脫證是既傷其陰復耗其陽此閉脫之辨者二又風為陽中陰氣內應於肝肝為陰中陽臟外合於風恚怒太過大起肝膽內火外風猖狂擾亂必然挾勢而乘脾土故痰涎洶湧責脾勿統攝腎不歸經滋根固蒂尚恐不及若從事發散是為虛虛此真似之辨者三靈樞所謂虛邪偏客於身半其入者內居榮衛榮衛稍衰則正氣去邪氣獨留髮為偏枯端合此症當法河間東垣用藥保全脾腎兩臟庶可回春亦以六君子加黃者白艾桂枝鉤藤竹瀝薑汁服二劑惡症俱減脈亦收斂俁聲啞如故此腎水衰心宙枯槁至更余後火氣下行腎精上朝方能出音遂用地黃飲子服至十五劑大便始通堅黑如鐵雖有聲出狀似燕語乃朝用補中益氣湯加五味麥冬以培脾夕用地黃湯加肉蓯蓉當歸以滋腎調理百日語言加舊步履如初怛右手稍遜於前耳</p>
<p>瘍科君略曹先生長君大美內正日晡潮熱經候不至治者皆云血枯經閉用通經之品寒熱愈甚嘔吐噁心予診兩手滑利為結胎之兆非經閉也寒熱者乃氣血護養胎元不能滋榮肌膚耳至五六月後胎元已充氣血自盛則寒熱自止時以予言為謬延原醫調理仍加破血之劑忽夜半崩如泉痛勢頻逼下一肉塊而形已成矣此時尚未得子悔恨不逮染成產蓐逾年而卒</p>
<p>茂才虞葛來少年多欲醉飽無憚初患脅痛繼而嘈雜漸成反胃醫久無效邀家君往視見面色如土面上兩顴稍帶赤色六脈細數食飲即吐歷覽前方頗不相膠但四君理中頻服不瘳知病不獨在中州也信為無陰則吐耳況諸嘔吐皆屬於火而季脅又屬肝腎之鄉即以地黃湯加石斛沉香愈後一載秋前舊症復發適家君有攜李之行於予診治左關弦長知怒氣傷肝故現獨大之象用加味逍遙散而安又兩月因勞忍肌恣酒感怒前症蜂起較前尤甚六脈虛耎脅痛脹悶臥則氣塞欲絕此大虛而得盛候為脈證相反法在不治伊父強請立方仍用逍遙散更醫用小建中湯二寸余劑脅脹稍寬痛則仍在咯血稠痰醒穢難近復干余治往者虛耎之脈變成蛛絲之細兩眸露白氣促聲嘶脾元大壞肺氣孤危此肺痿之惡候也時冬水將弱春木方強延於冬者得腎水之相助也記初十立春木氣臨官肺受其侮脾受其乘豈能再延耶果歿於初十之寅時</p>
<p>素君素多勞動因乘暑遠行遂胸臆不寬呃忒連發八日以來聲徹鄰里自汗津津語言斷落湯藥偏嘗毫無效果舉家惶恐特干余治現症雖脈尚有根況準頭年壽溫潤不晦法令人中光澤不枯若論色脈生機猶存但徒藉湯丸恐泄越之陽不返潛伏之陰難消常先用艾火灸期門三壯並關元氣海諸穴再煎大劑四君子湯加炮姜肉桂為佐丁香柿蒂篇使內外夾攻譬之釜底加薪剛蒸氣上騰而中焦自暖四大皆春何慮陰翳之不散真陽之不復耶果一艾而呃止再進而全愈共駭為神奇云間司李王公傷風鼻塞周身刺痛欲用表劑邀余商治六脈浮虛予曰風為陽邪衛為陽氣陽與陽合則傷表分病雖屬標而治則求其本蓋肺主皮毛司開闔充元氣主清肅者也清陽不發腠理空疏外來風邪內舍肺分經曰邪之所湊其氣必虛正謂此也法宜東垣先生補中益湯補中兼發乃謂至常王公曰可服一劑而諸病捐除</p>
<p>徽商朱聖修內人嘔逆吐食出多入少皆利痰白沫眩暈氣急半月有餘大肉盡消治者咸謂反胃謂吐沫脾敗已無救矣於余調治手少陰脈動甚兩尺滑利為結胎之兆而見惡阻之候非翻胃也用人參橘紅白朮半夏蘇梗桔梗赤苓砂仁枇杷葉伏龍肝水煎服三劑而吐減數劑而全瘥後產一女</p>
<p>義與藎臣魯學師夫人胎前滯下胸腹脹痛飲食艱難大便赤濃小便短少藎翁曰內子素患胸痛已歷多年在敝地舉發或用枳樸檳黃方能奏效若投輕劑徒增困苦耳餘聆其言而妄為之辨曰胸為肺室賴母氣以升騰始能清肅運行灌溉四臟一有失調則天氣閉塞地氣冒明沖利之氣鬱而成否水穀之滯搏而成痛皆緣胃脘氣弱不能行氣於三陰三陽也若不培其元以固倉廩之虛泛用苦寒降沉之品轉傷上焦虛無之氣雖暫時爽快殊不知潛損胃陽暗增其病所以多年不瘥而日就痿黃也況帶下尤為所禁即宜安胎之中雜以順氣利血之品庶便膿愈而後重除正氣復而邶自解用當歸白芍各二錢白朮茯苓各錢半陳皮神麯各一錢升麻葛根各七分煨木香炙草各五分薑棗煎服數帖而愈後產一子復用建中理中二湯出入加減胸痛亦痊</p>
<p>婁江祭酒吳梅村夫人產後患痢晝夜百餘次不能安枕用滯下通導而後重轉增延家君治之斷為陰虛陽陷用六味湯加肉桂以保衰敗之陰以補中湯加木香以提下陷之氣蓋新產之後營衛空虛陰陽殘弱咸賴孤臟之力生血生氣無可復後天資生之本既患下痢則知元陽已虛又投峻劑必使真陰愈竭惟舍通法而用塞法易寒劑而用溫劑俾胃關澤而魄門通暢倉凜實而傳道運化自然精微變化清濁調和矣可見胎前產後所侍者脾元也所賴者陽氣也坤厚既旺干健自復丹溪云產後以大補氣血為主雖有雜症以末治之誠者是言也</p>
<p>龔姓婦產拍發痙口歪不語角弓反張時或梢愈頃之復作諸醫皆用風治予曰肝為藏血之鄉風水之司也肝氣為風肝血為水流則風息而筋脈舒古人云治風先治血信有矣況產後氣衰於表血衰於裡氣衰則腠理疏而外風易襲血耗則肝木枯而內風煽動故血不養筋則角弓反張風淫胃脈則唇口引動常用滋潤之品內養肝血直補其虛少佐驅風之劑使同氣相求得以易入用四物去芍藥加羌活防風獨活鉤勾酒炒荊芥兩劑而愈若用辛散則風能燥血辛走陽氣適滋其困矣</p>
<p>遂安令曹緣岩長君安初少年嗜欲真元素虛已亥秋丁內艱悲慟大過內火燔灼腎水乾涸肌肉頓消咳咯膿血腥穢異常延予商治六脈洪大重按虛豁右寸獨數此上盛下虛之候夫上盛者赫曦過極肺中之假陽旺也下虛者涸梳衰竭腎家真陰虛也陰虛則火獨發坎宮津液上騰救母浸浸熾灼反成稠痰濁陰膠結於清虛之臟久而肺熱葉焦腐化為癰若不求本而治則腎陰愈虛邪火更旺癰將潰也法當先清上焦痰火保定肺氣以麥冬沙參紫菀貝母橘紅茯苓甘草桔梗瓜蔞霜等五更時服復用六味湯加麥冬五味大劑臨臥服以滋化源數帖而痰清嗽減一月而精充神復越三載因感於邪術廣圖婢妾以自娛前症復發卒至不救</p>
<p>晉中商人高鳴軒年六旬外久歷鞍馬餐風冒霧六淫之邪襲其經絡染成痿廢已三年矣偏訪名醫咸以解表為治兩足愈覺無力頑麻不仁辛丑夏初適過海邑告余服藥累百不獲少瘥自信此身永廢矣予曰風寒濕氣乘虛而入不思養正以補其本一誤也屢解表而風邪已去猶然發散愈損真元二誤也且氣虛則麻血虛則本人有恆言是症必為中風先兆乃以神效黃耆湯加肉桂服之才四帖麻頓去便能卻杖而行後以還少丹調理月餘倍常矍鑠德州都諫王介清丁內艱患左脅頑痹足腿麻木按摩片時少堪步履服清火消痰補氣活血病勢不減後服闋人涼邀家君診視見伊腎肝脈虛斷為腎虛不能生肝肝虛不能榮血水虧血耗經隧枯澀之症先以四物湯加秦艽石斛牛膝葳蕤不數劑而脅痹頓除後服腎氣丸一杯永不復發</p>
<p>秦商張玉環感寒咳嗽變成哮喘口張不閉語言不續呀呷有聲外聞鄰里投以二陳枳桔毫不見減延予救之診六脈右手寸關俱見浮緊重取帶滑斷為新寒外束舊痰內搏閉結清道鼓動肺金當以三拗湯宣發外邪湧吐痰涎為要若畏首畏尾漫投膚淺之劑則風寒閉固頑痰何由解釋況經曰辛甘發散為陽麻黃者辛甘之物也夏天地輕清之氣輕可去實清可利肺肺道通而痰行痰氣行而哮愈矣乃以前藥服之果一劑而汗出津津一曰夜約吐痰鬥許哮喘遂平越二年因不忌口復起前證而歿</p>
<p>茸城朱公亮令媛血枯經閉已年餘矣大肉去半飲食減少日哺寒熱至夜半微汗而解予診其脈兩手細數證屬難療素問二陽之病發心脾有不得隱曲女子不月夫心統各經之血脾為諸陰之首二經乃子母之臟且氣恆相通也病則二臟之氣乘澀榮血無以資土故地道之不行由心脾之氣不充也張潔古師弟首重內經一以訓榮培土為主而薜新甫將逍遙歸脾二方為用使氣血旺而經自通若不培補其源反以消堅破硬苦寒傷胃通道癸水為捷徑殊不知愈攻則虛而愈閉且生生之源從此剝削殆盡直至風消賁閉雖有神丹難為治矣不信予言專行通道竟至不起</p>
<p>嘉定庠生沈來壅食後感寒頭疼發熱胸膈脹滿醫用表散消導雖胸次稍舒寒熱愈劇反增神昏不寐已三傳經矣一醫因病久症虛議用溫補一醫頗明醫理復爾消導議論多端過予決之六脈弦數不和與寒熱往來大便溏而小便赤此少陽經症不可汗下與滲利轉犯他經只宜和解其邪易散縱有食停俾邪氣解而食自消此仲景先生之秘旨也竟以小柴胡汽去人參加丹皮炒山梔花粉冬一劑而神清氣爽寒熱亦定</p>
<p>上洋王邑尊幕賓張姓盛暑發熱至六七日昏沉不語面赤苔焦與水則咽大便不通身艱轉側醫者束手投柬招治予診畢謂王公曰病雖危候脈象和順況身體軟緩唇吻紅潤氣息調勻俱為吉兆只因邪熱傳入手少陰經鬱而不舒所以面赤昏呆口噤不語乃以導赤散加黃連麥冬佐犀角少許加燈心竹葉煎成用刷腳抉開口徐徐灌下片時覺面色稍退再劑而目開能視三劑而語言如舊後調理乃安</p>
<p>李元吉妻半產後血崩如注頭暈眼暗飲食少進面色青黃六脈虛大無力甚至昏量不蘇一日數次延予治之予曰血脫益氣陽生陰長靈樞之旨也況陽為陰之使陰為陽之守今久患崩中宜乎幾微之時而欲絕奚能固其內守之陰所以經流不竭皆陽氣不能衛外故也若從事養陰止澀是人已入井而又投之以石耳用補中益氣湯加五味艾葉服之勢不稍衰予思古語云大虛必挾寒再以人參一兩熟附一錢煎成呷下乃熟睡片時醒來暈減神清後以養榮湯去肉桂加附子調理而安</p>
<p>雷廉道潘畏庵乃郎自幼腹痛向以內傷調治時或見愈不能社根庚子春過龍華掃墓歸由巨浦而前適風雨驟至銀浪排山泊舟小港因而受飢忍寒痛遂大作邀予往治左手脈皆弦遲右寸關虛大無力蓋此症因飲食過飽傷其中州嗣後食雖消而大陰分野猶然損傷故一有不調痛即隨至況歷有歲時中脘之陽不布畜積痰涎結成窠臼即內經云未傳寒中之謂也若不用溫補辛散之品其沉鬱久凝之疾焉能轉否為泰乎用異功散加桂枝半夏炮姜木香為粗末姜煎服痛即止後照前方加益智仁白芍神麯薑湯和丸後不復發大學士徐元扈夫人胃脘痛初以氣治次以食治繼以火治總不見效痛至昏□良久復甦延家君治之曰夫人尊恙非氣非食亦非火也由勞碌太甚中氣受傷脾陰弱而不化胃陽衰而不布陰陽並虛倉廩壅滯轉輸既弱隧道失運所以濁清相干氣血相搏而作痛者若用消導則至高之氣愈耗誤投寒劑則胃脘之陽益傷為今之計非補不可雖云痛無補法此指邪氣方銳者言也今病勢雖甚而手按略止脈氣雖大而重按稍鬆則脈症俱虛不補而何用六君子湯加香附砂仁一劑而眩定痛止</p>
<p>疁城王五松子舍大肉削去虛氣攻衝症情恍惚手足麻木不能自主夜寤不寧咸謂心脾之氣渙散所以脈絡脹張如不束之狀所謂解㑊者也蓋陽明為氣血俱多之鄉主束骨而利機關者也陽明戊土一虛必盜母氣自養而心亦虛以靈樞云心怵惕思慮則傷神神傷則恐懼自失破㿉肉脫矣治宜補心脾之氣以充元神之用可指日而奏功乃與歸脾湯服數帖而始止</p>
<p>分鎮符公祖令媛久瀉肉脫肢體浮腫大腹脹痛便內赤蟲形如柳葉有口無目更兼咳嗽煩躁夜臥不寐召予調治符公日小女之疾起於夏間因飲食不節淹纏半載服利水藥身腫不減用參耆等劑脹悶益增予細為審察蓋中央脾土喜燥而亞濕臟腑為根本生化源頭雖云至陰之地實操升陽之權盛暑之際六陽外發陰寒潛伏加以浮瓜沉李飲冷吞寒使干陽之氣鬱坤土之中所以氣滯而濕化濕化而熱生濕熱壅滯轉輸不行倉廩之精華下陷而為泄瀉久則清陽愈虛濁陰愈盛留於中州則為腹脹散於肌肉則為浮腫上乘肺分則為咳嗽況脾為諸陰之首肝為風木之司濕熱盛則陰虛而煩躁夜爭肝風旺則遇濕而蟲形生化頭赭雖多不越木旺土衰之徵治當調脾抑肝佐以升清降濁使濕去土燥病當慚去用白朮茯苓半夏芍藥黃連肉桂乾葛柴胡厚朴鳥梅花椒等劑調理而安</p>
<p>燕山中丞劉漢儒泄瀉數日醫見肝脈弦急認為火熱用苦寒平肝掇洞泄不已筋攣少氣招家君往治日此因寒氣入腹清陽不能上騰即素問清氣在下則生飧泄之意也前醫以肝脈局為火予以肝脈盛為寒蓋寒束之脈每多見弦先哲明訓班班可考何得以寒為熱耶方以蒼朮白朮各二錢羌活防風各一錢乾葛炮姜各八分升麻柴胡各五分一劑而減</p>
<p>上洋秦齋之勞欲過度每陰雨左足麻木有無可形容之苦歷訪名醫非養血即補氣時作時止終未奏效戊戌春病勢大作足不轉舒背心一片麻木不已延予治之左脈沉緊右脈沉澀此風濕寒三氣雜至合而為痹其風氣勝者為行痹寒氣勝者為痛痹濕氣勝者為著痹著痹者即麻木之謂也明系濕者邪內著痰氣凝結鬱而不暢發為著痹須宣發燥濕之劑加以報使之藥直至足膝庶濕痰消而大氣周流也方以黃耆蒼朮桂枝半夏羌活獨活防已威靈仙數帖而痊若以齋之多勞多欲而日服參耆壅瘀隧道外邪為能發而病安能去乎</p>
<p>海寧相國陳素庵病足腫痛用補血藥則腫愈甚用補氣藥則痛益增延家君往治診其脈耎而氣滑屬濕痰流注下焦為有餘之症定非不足也若滋陰則壅沉滯陽氣若補陽則膠固經絡此病之所以增進也用陳皮茯苓半夏獨活蒼朮厚朴桔梗靈仙兩服痛減腫消故虛虛之禍世所共戒實實之殃人每蹈之若從執補養之法是未明標本緩急邪正虛實之機也烏足以與議道哉所以動人立法專主驅邪誡慮夫補實之禍以救未流時弊耳</p>
<p>皖城玉山王學師子舍產後早服參耆致惡露不盡兼因過於恚怒變為臌脹菁筋環腹神闕穴出延予商治左手脈皆弦勁重按則澀右手洪滑此下焦積瘀怒氣傷肝以致是症夫畜血之候小腹必硬而手按畏痛且水道清長脾虛之症大腹柔軟而重按之不痛必水道澀滯以此辨之則屬虛屬實判然明矣王翁日是症為積瘀不行無疑矣前治皆模糊脈理洞投藥石所以益增脹痛今聆詳辨洞如觀火請疏方為感遂用歸梢赤芍香附青皮澤蘭厚朴枳實肉桂元胡等加生薑間投花椒仁丸三服數日後脹痛悉愈張侍川脾泄經年湯藥遍嘗大肉盡削小便枯竭勢已危殆余往診之方脈弦細右脈虛微此係干陽不運坤陰無權所以脾傷而破㿉肉脫肺虛而氣化失調俾濁陰不降內滯腸胃清陽不發下乘腎肝由是三陰受傷而成久泄之症況當四十年之升陽之氣與濁陰之令自此相半今侍川已逾五旬不思舉其下陷之陽反以滲利為用則失治本之旨矣且下久亡陰未有久泄而腎不虛者若單補其脾則力緩不能建功須得溫暖下焦之品輔佐其脾間丹田火旺則脾土自溫暖中州健運則沖和自布精微之氣上奉干金下輸膀胱分別清濁則二便自和可以指日收功矣方用人參白朮黃耆炙草廣皮木香升麻柴胡肉巢補骨脂數劑而小便亦實後以四神丸加煨木香調理乃安</p>
<p>家君治江右太師傅繼庵夫人久泄不已脈象遲微微為陽衰遲為陰勝此脾土虛而真陽衰也蓋脾虛必補中而後土旺陽衰必溫中然後寒釋乃以四君子加薑桂服二劑而畏寒如故泄亦不減知非土中之陽不旺乃水中火不升也須助少火之氣上蒸於脾方能障土之濕遂用人參三錢白朮五錢肉桂一錢附於一錢數帖漸瘥從八味丸調理乃安　春元唐次仲小腹臍傍刺痛連脅及胸坐臥不安余診六脈弦滑重取則澀此食後感怒填寒太陰致肝氣鬱而不舒胸困作痛經日木鬱達之解其鬱而痛自止用二陳湯合平胃散加枳殼木香一服而愈　秣陵羅明求奉藩摧餉適感風寒發熱惡寒頭疼而體痛至七日後變成溫瘧發時驚駭異常日哺見鬼如二歲童子大者數十纏繞腰間悚懼不堪至晚方散已五六發矣治者皆篇鬼瘧議用截法然猶未決過余診視六脈洪滑余曰此係痰涎內積非真邪祟外干也古語有云無痰不成瘧又曰怪病多屬痰蓋痰乃液所化液乃腎所主必平日腎水素弱虛火獨旺煎熬精液成痰攻衝經絡而為瘧之根本況腰原屬腎其液化痰更無疑矣惟先服其痰俟痰去而瘧鬼自除然後培補本原至為切當遂用小柴胡湯加茯苓枳殼檳榔臨服調元明粉三錢頃刻便潤下積痰甚快至明日而瘧鬼俱絕</p>
<p>句容孔太師隨朝使者每至午余無端見鬼恐懼昏沉夜半發熱黎明始蘇諸醫用安神養血之藥繼投導痰順風之劑均無效驗邀家君診視兩手脈現滑數此因沉湎於酒酒能生濕濕能助火火濕相合而成痰痰迷心竅則見鬼即以橘紅貝母天花粉干菖蒲黃苓麥冬山梔竹茹苦丁茶二服而神清鬼沒四劑而平復如初</p>
<p>胡文宰子舍向患怯弱乙巳季夏方飲食後忽腹中絞痛自謂著暑調天水散一服不愈又疑停食進山查麥芽湯其痛更增發厥昏暈無有停歇中脘硬痛手不可近兩眼露白舌縮譫語狀若神靈延醫調治或日大便實而用□樸或云積暑而用芩連諸藥雜投病勢益增當事者咸疑懼無措余獨謂虛症力主大補之劑蓋平昔脈弦洪兼數且右手更旺今也轉數成遲左手更覺無本根此至虛有盛候恁脈合症之良法急煎理中湯加陳皮半夏與服庶胃氣充肺元陽流動總有蓄積盤踞方隅定然向風自化果一劑而稍安數劑而全愈</p>
<p>慈溪天生楊先生館江灣鎮時值盛暑壯熱頭痛神昏發斑狂亂不畏水火數人守望猶難禁止甚至舌黑刺高環口青暗氣促眼紅譫語直視迎余往治余見眾人環繞蒸汗如雨病狂躁無有休息尋衣摸床正在危候強按診脈幸尚未散急取筋頭纏綿用新汲水抉開口鑿去芒剌即以西瓜與之猶能下咽乃用大桶置涼水並灑濕中間空地設席於地扶忠者臥上再用青布丈許摺作數層浸濕搭在心間便能云頓入清涼世界六字語雖模糊亦為吉兆遂用大劑白虎湯與服加黃芩山梔元參半日之間狂奔亂走目無交睫此藥人口熟睡如泥鄉人盡曰休矣余曰此胃和而睡著也不可驚覺自日中至半夜方蘇其病遂愈</p>
<p>吳明初平素體弱因年來憂鬱忽然嘔血自蚤至慕百餘碗兩目緊閉四肢畏寒冷汗如注湯藥人口隨即吐出舉族驚狂迎余視之幸病雖為急脈尚未散喘促猶緩一線生機尚可挽回若以血藥投治則不及矣蓋初則血隨氣上今則氣隨血脫語云有形之血不能速生幾微之氣在所急固此陽生陰長之道寓諸靈素扶陽抑陰之權具於羲易誠以陽者生之本陰者死之基故充塞四大溫潤肌肉皆賴此陽氣耳今脈氣虛微天真衰敗也汗雨不收衛氣散失也四肢畏冷虛陽不能旁達也兩目緊閉元神不能上注也藥入即吐繼之以血者乃嘔傷胃脘守榮之血不藏也為再用湯藥恐激動其吐宜設計以取之遂用人參一兩內芨四錢均為細末米飲調丸如櫻桃大含化自黃昏至一更約用一半湯飲方通血亦不吐至明日神思稍清脈氣夫靜似芤似革參互不調全無胃氣盡屬陰亡於中陽散於外之象乃速煎參附進之以追散失之元陽八日內記服人參二斤附子五枚而元氣頓充脈始收斂至今強健倍常徜此時稍有疑慮從任淺劑焉能挽回其真氣耶</p>
<p>上海邑尊陳虞門慕賓吐血不已或用犀角地黃湯降火或以加味四物湯滋陰絕谷數日氣喘隨斃延家君診治六脈虛弱精神怠倦明屬思慮過度脾元虧損所以氣衰則火旺火旺則血沸而上溢也血脫則氣孤氣孤則胃閉而絕谷也法當甘以脾脾溫以啟胃甘溫相濟脾胃調和庶元陽得以扶持氣血有所生長耳遂用四物湯加米仁石斛麥冬五味廣皮桔棚數劑而愈</p>
<p>吳淞一女在閨時患左眼上胞內生疙瘩日漸長大下垂遮目紅腫重墜痛楚異常端科者始以驅風治標繼以養血治本遷延歲月未獲稍減余診其脈左關弦強搏指右關媽澀予曰目廓應肝內輪應脾肝脾二臟性喜疏利故憂思傷脾則氣結而血瘀恚怒傷肝則氣鬱而熱生由是火炎血沸上騰空竅目廓積閉火旺赤腫也治宜疏中宮之滯瀉東方之實則鬱開火降瘀化腫消耳用龍膽瀉肝湯數帖疙瘩漸消復以六味丸料加龍膽草白蒺藜決明子牡蠣與滋陰之中兼以清火之品逾日而平復</p>
<p>周文怕鄉居課農偶發寒熱解表一劑轉覺神思恍惚日增倦怠目呆如愚語言錯亂晝夜呻吟六脈微弱不堪重按余曰是症之因必有大驚損傷神氣故現神鬼飛越之象蓋神藏於心心主鎮靜魂藏於肝肝主驚駭故驚則氣亂心失鎮靜之當神氣孤浮邪入神明之窟由是魂無安宅飄蕩於外若能安神益氣固守飛揚之真自然魂隨神攝可復清明之職丹書所謂神是性兮氣是命神不外馳氣自定者也遂服歸脾湯數帖靈動如初自述病概緣溪頭失足從高墜下遂覺神氣越出精采不定作見遊魂鬚眉狀貌酷肖己身約長尺許或從空行走或相依同寢所謂魂離吾體斷不誣矣自後稍有震怒驚呆復作屢用前方獲效後遷於城道逢形人因而受驚至晚忽大呼殺入舉家駭異議用前藥值余適至復診其脈弦強搏指較前大異此正虛祟乘之病非從前神脫魂離者比也治當清痰降火祟是不作若用參耆膠固邪氣將成痼疾矣乃以溫膽湯加蘇子黃芩山梔瓜蔞服即熟睡醒來諸病如失但覺倦怠乃淡粥調養數日後仍服歸脾湯而全愈則知鬼豈真鬼那</p>
<p>蔞江金公採謀秋患痢晝夜百餘次赤膿腥穢嘔惡不食口渴發熱向用滯下法竟難奏效忽冷汗不止四肢如冰氣促神昏延余往治外證雖逆六脈尚存乃煎附子埋小湯服二劑四肢漸溫自汗漸收又服數帖精神充旺痢下頓除若抱痢之赤白口渴身熱再投涼藥氣將脫矣故曰瀉虛補實神失其室此之謂也</p>
<p>淮右章公克壬寅春客遊海邑患溫病發熱邪氣再傳壯熱神昏濈濈自汗眼紅面赤口渴舌黑胸膈滿悶勢甚危殆醫者泛用清熱輕劑以冀倖免余曰春溫之溫邪伏藏於冬觸發於春隨天氣化寒鬱為熱此時令之熱也脈來洪大舌黑口乾灼熱汗流神思昏□此脈症之熱也當速煎甘寒大劑清徹里邪庶不使胃熱腐化若從任芩連諸藥恐一杯之水難救車薪之火勢必自焚矣立方用石膏五錢麥冬二錢知母花粉各一錢五分山梔一錢甘草五分加竹葉粳米燈心為引二劑而神爽熱除</p>
<p>大名司理陳玉山素患胸膈脹悶四肢頑麻六脈堅勁似芤類革咸屬沖和虛損清陽散耗之症用六君子湯加益智肉桂以培腳並進金匱腎氣丸一料已惡粒米不進者二十餘日六脈頓退重接豁然予曰脈為神機神為氣立全賴胃氣充沛者也今脈息無神則知鬱結傷脾脾病傳胃俾磅礴浩大之氣停留鬱滯於中所以胃脘否滿者脾主中州也右脅脹痛者坤出西南也況木雖條達依土為生土既磽薄木無生長此物理中之常耳故鬱怒太過不但重損脾陰而肝亦自病所以不能藏血而血瘀血去而陰傷陰傷則陽無以自主將有飛越之虞也速宜培養元神不使渙散乃可萬餘遂用附子理中湯數帖食能慚進後用六君子湯兼八味丸而安</p>
<p>文學包曰余因食蟹腹痛發則厥逆逾月不已延余商治述前服平胃二陳繼服薑桂理中不但無效反增脹痛余曰痛非一端治亦各異感寒者綿綿無間因熱者作止不當二者判若霄壤尊恙痛勢有時脈帶沉數其為火鬱無疑雖因食蟹然寒久成熱火鬱於中熱鬱似寒厥冷於外此始末傳變之道明訓可考察何執泥虛寒漫投剛劑是以火濟火求愈豈不難哉以四逆散加酒炒黃連一劑而愈</p>
