<header data-type="book">
<h1>醫方證治彙編歌訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王泰林</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1897">公元1897年</data></dd></div>
</dl>
</header>

<h1>通治方</h1>
<p>（雖云通治，亦當細切病情，不得籠統施用也。）</p>
<p>六味地黃（丸　錢仲陽因仲景腎氣丸，減去桂、附，以治小兒，今通治大小證。）平補劑，（六味不寒不熱，為平補足三陰之劑。）酸苦甘辛鹹淡比，（六味之名以此。曰「地黃」者，重補腎也。）地黃（八兩味苦）萸（山萸四兩味酸）藥（山藥四兩味甘）苓（茯苓三兩味淡）瀉（澤瀉三兩味鹹）丹，（丹皮三兩味辛）肝腎陰虧洵堪倚。（治肝腎陰虧火浮諸證）腰膝痠疼仲（杜仲）膝（牛膝）添，（名六味加杜仲牛膝丸）溲數去瀉（澤瀉）加益智。（名六味去澤瀉加益智丸，治小便頻數。）崔氏八味（丸）加附（子）桂（肉桂），陽虛益火消陰翳。（「益火之源，以消陰翳」，尺脈弱者宜之。）又有知（母）柏（黃柏）八味丸，壯水制陽功克濟。（「壯水之主，以制陽光」，尺脈旺者宜之。）明目地黃（丸）多菊（花）杞（子），（補腎明目）左慈（丸）磁（石）牡（蠣）柴胡寄。（治腎虛目昏耳聾）八仙長壽（丸）麥（冬）味（五味子）參，除冬（麥冬）名為都氣丸。（二方均治虛熱勞嗽）此皆六味加減方，出入變化當參匯。</p>
<p>六味（丸）原從腎氣（丸）裁，腎氣（丸）即是熱八味。《金匱》腎氣（丸）治轉胞，婦人轉胞系了戾。（「了戾」與「繚戾」同，胞中之氣不順也。）飲食如故不得眠，煩熱倚息溺不利。（《金匱要略·婦人雜病篇》云：「婦人病，飲食如故，煩熱不得臥，而反倚息者，此名轉胞，不得溺也。腎氣丸主之。」）又治消渴飲水多，飲一溲一病之諦。（《金匱要略·消渴篇》云：「男子消渴，小便反多，以飲一斗，小便亦一斗，腎氣丸主之。」《素問·氣厥論》云：「心移寒於肺，肺消，肺消者飲一溲二，死不治。」此飲一溲一，故猶可救。喻嘉言《醫門法律》曰：「腎水下趨則消，腎水不上騰則渴，舍腎氣丸安從治哉。」旭高按：消渴本為火病，宜清之；此因小便反多，知其腎中陽虛，邪水反勝，故用腎氣丸蒸動腎陽，以驅水邪。）少腹不仁腳氣衝，（腳氣即陰氣，少腹不仁即衝心之漸，用腎氣丸以逐陰邪也。）虛勞腰痛均同例。（《金匱要略·血痹虛勞篇》云：「虛勞腰痛，少腹拘急，小便不利者，腎氣丸主之。」徐靈胎《蘭臺規範》曰：「腎氣丸專利小便，水去而陰不傷，扶陽而火不升，制方之妙，固非一端。但近人以此一方治天下之病，則又大失此方之義也。」）《濟生》腎氣（丸嚴用和《濟生方》）加膝（牛膝）車（前），（於《金匱》腎氣丸中加牛膝、車前。）陽虛蠱脹功堪詣。小便不利大便溏，（水反侮土）喘滿痰鳴（水泛為痰）脈沉細。（陽衰水盛）或君附子或茯苓，嘉言有論還須記。（喻嘉言《醫門法律》曰：「按此方《濟生》以附子為君，薛新甫以茯苓為君。然腎之關門不開，必以附子回陽，蒸動腎氣，其關始開，胃中積水始下，以陽主開故也。關開即不用茯苓、牛膝、車前，而水亦下。關閉即茯苓、車前用至無算，亦莫如之何矣。用方者，將君附子乎？抑君茯苓乎？」）</p>
<p>七寶美髯（丹）補精血，首烏（赤白各一斤，去皮切，黑豆拌蒸曬。）當歸（酒洗）茯（苓乳拌）牛膝（酒浸），菟（絲子酒浸）杞（子酒浸蒸）故紙（黑脂麻拌炒）蜜為丸，（各半斤。一方破故紙用四兩。）血宜潤澤精宜澀。（此補肝腎血虛之主方。）</p>
<p>黑地黃丸（治脾腎不足，房室虛損，形瘦無力，面色青黃。此補腎健脾之劑也。）術（蒼朮泔浸一兩六錢，炒黑。熟地一兩六錢，炒黑存性。）味（五味子八錢）姜，（淡乾薑炒，春七分，夏五分，秋七分，冬一錢。）燥脾滋腎並臻長。（經言「脾寒則濕，腎熱則燥」，故治脾惡潤劑，治腎惡燥劑。許學士云「用術則有礙於腎，用地則有礙於脾」，今以二者炒黑，乃去其味留其氣，庶可兩擅其長。）上咳下利稱良劑，（治上咳下利，脈至細數者，頗有效。）脫血脾寒真聖方。（汪訒庵《醫方集解》引張潔古云：「此血虛久痔之聖藥。」徐靈胎《蘭臺規範》曰：「此脫血脾寒之聖方也。」）</p>
<p>還少丹方出楊氏，脾腎虛寒功頗著。地黃（二兩）山藥肉蓯蓉，仲（杜仲）膝（牛膝）杞（枸杞）萸（山萸）復遠志，小茴（香）巴戟（天）五味子，楮實茯苓（各一兩）石菖蒲（五錢）。一加續斷苓易神，（茯苓換茯神）方名打老兒丸是。丹溪滋陰大補丸，還少丹中除去楮（實），或云此劑交心腎，水火平調不偏倚。（汪訒庵《醫方集解》曰：「此陰陽平補之劑。」）</p>
<p>虎潛丸治筋骨痿，（治腎陰不足，筋骨痿弱，不能步履，及骨蒸勞熱。）知（母）柏（黃柏）地黃（各三兩）虎骨（炙一兩）龜，（龜板酥炙四兩）鎖陽（酒潤）歸（當歸各一兩）膝（牛膝三兩半）陳皮（七錢半）芍，（芍藥一兩半）羊肉為丸味補之。（羯羊肉煮爛搗丸。冬月加乾薑五錢。羊肉味厚補精。）痿躃多因臟熱起，潛陽壯水此方推。（《素問·痿論》曰：「五臟因肺熱葉焦，發為痿躃。」王晉三《古方選注》曰：「臟陰不藏，內熱生痿者，就本臟分理，以伏藏其陰。」旭高按：此方治臟熱生痿，最為合度。蓋痿證皆屬於熱，經有明文，後人以溫補治痿，則相反矣。然痿證又有屬痰濕風寒外邪者，此方又非所宜。）龍虎濟陰丹即此，惟加龍骨泄精司。（加龍骨固澀精竅）補益丸亦治痿弱，虎潛（方中）再加混沌皮，（即紫河車）苓（茯苓）術（白朮）姜（乾薑）甘（草）菟（絲子）五味（子），陰虛濕熱痿相宜。（按：補益丸丹溪所加者，陰虛濕熱生痿，可取法焉，故錄之。）</p>
<p>三才丹用天（冬二兩）地（黃二兩）人，（人參一兩）能補三焦精氣神。封髓丹中砂（仁一兩半）柏（黃柏三兩）草，（甘草炙七錢半）遺精火旺妙無倫。（方中砂仁甚妙，經曰「腎苦燥，急食辛以潤之」是也。黃柏得砂仁，清相火更捷。）三才封髓（丹）二方合，降火益水滋陰精。（滋陰養血，潤而不燥。喻嘉言《醫門法律》曰：「於三才丹中，加黃柏入腎滋陰，砂仁入脾行滯，甘草以少變天冬、黃柏之苦，俾人參建立中氣，以伸參兩之權。」）</p>
<p>大造丸方吳球造，晉三加減尤臻奧，上滋金水下腎肝，潛陽固陰頗周到。（王晉三《古方選注》曰：「吳球宗丹溪之旨，創立大造丸，世咸遵之，第藥品配合，未臻玄奧，余即參丹溪潛陽之法而為損益焉。上能金水相生，下可肝腎同治，潛陽固陰，功倍原方。夫是謂之大造，庶得曰可。」）生熟地黃（熟地用砂仁、茯苓拌，酒煮曬乾二兩。生地一兩半。）肉蓯蓉，（漂淡去甲七錢）天冬（七錢）五味（七錢）黃柏炒，（七錢鹽水炒）杞（子一兩半）歸（身七錢）鎖（陽七錢）膝（牛膝七錢）杜仲生，（生研一兩）為丸煮爛河車搗。（河車一具，用米泔浸一夜，再用清水洗極淨，入川椒湯內一過，以鉛罐封固，隔湯煮爛，和上藥搗丸。）丹溪補天丸意同，配合不及此方好。（補天丸亦治虛勞，方用河車、黃柏、龜板、杜仲、牛膝、陳皮，冬加乾薑，夏加五味。附吳球原方：河車、龜板、黃柏、杜仲、牛膝、天冬、麥冬、人參、熟地　旭高按：吳球因丹溪之法而加減，王晉三又從丹溪與吳球之法化裁，畢竟青出於藍，後來居上。故取王而棄朱、吳，仍附其方，以見作者之大範，不沒其功也。）</p>
<p>人參固本（丸）治虛勞，肺腎陰虧火熱熇，二地（生地熟地）二冬（麥冬天冬）丸以蜜，（人參二兩，余各四兩。）或加介屬或阿膠。（此方金水同治，尤借人參固其元氣，洵為肺腎陰虧，發熱咳嗽之良圖。每見葉氏案中，或加龜甲、牡蠣以潛陽，或加阿膠、甘菊以熄風，借治陰液枯槁，風陽上擾之證，甚有道理，並附及之。）</p>
<p>《道藏》天王補心丹《其方有四，惟此《道藏》者通。）補心之用神自安，（補心者，補心之用也。心藏神，而神之所用者，魂魄意智精志也。補其用而心能任物矣。）靜寧補魄味（五味子）天（冬）麥，（麥冬各一兩）流動補魂歸（當歸一兩）柏（子仁一兩）丹，（丹參五錢）參（人參五錢）茯（苓神五錢）調中補意餒，地（生地四兩）玄（參五錢）填下補精殘，遠（志肉五錢）桔（梗五錢）補志棗（仁一兩）補智，補心之義如斯觀，（此補心之主方）怔忡（思慮過度，心血不足。）盜汗（汗為心液，心虛有火，故多盜汗。）宜常服，（多服常服見效）便秘時溏一例看。（心血虛而有火，故大便燥秘；或時溏者，心火乘脾，熱迫下泄也。）或益菖蒲（一方有菖蒲，通竅豁痰。）或連（川連）草（甘草），（一方有上二味，瀉心火。）證兼痰火可加餐。（蜜丸，硃砂為衣，臨臥燈心湯下。）</p>
<p>孔聖枕中（丹）治善忘，龍骨龜板遠（志）菖蒲。（各等分）鎮肝（龍骨）補腎（龜板）通心竅，（菖蒲遠志）久服聰明記憶強。（借二物之陰陽，以補吾身之陰陽，假二物之靈氣，以助吾身之靈氣，佐遠志通腎交心，菖蒲利竅除痰，則聰明開而記憶強矣。）</p>
<p>大補陰丸知（母鹽水炒四兩）柏（黃柏鹽水炒四兩）地，（熟地酒蒸六兩）敗龜板（六兩酥炙）與豬脊髓，（和蜜丸）水虧勞熱火炎宜，（治腎虛勞熱，水虧火炎，脈洪大者。）直折龍雷（相火也）暫調濟。（知柏苦寒，直折相火，暫時調濟之法。）腎肝虛呃用此丸，參朮湯吞崇胃氣。（朱震亨《丹溪心法》曰：「呃逆屬於肝腎之虛者，其氣必從臍下直衝，上出於口，而作聲也。」第肝腎之氣，在下相凌，左腎屬水，不能自逆，而右腎為相火所寓，相火炎上，挾其沖氣，乃能上逆為呃，經言「逆氣而裡急，衝脈為病」也。用此丸直折相火，以滋化源，伏藏衝任之氣，則呃自止。以參朮湯下之者，人之陰氣，依胃為養，胃土損傷，則木挾相火，直衝清道而上，此土敗於相火之賊，當崇土以制龍雷之火也。旭高按：此丸治虛火呃逆甚為至當，若氣呃、寒呃，又大非所宜。）世謂丹溪善補陰，立法不無偏執弊，苦寒久服反傷陰，後人因此多訾議。（丹溪謂「陽常有餘，陰常不足」，故立此丸。孰知苦寒久服，反傷陰氣。景岳書中，諄諄訾議丹溪之偏，不為過也。）</p>
<p>通關丸（又名滋腎丸）著東垣氏，為治關陰因制此。（關陰者，不得小便也。）下焦熱壅腎膀虛，口不渴而小便秘。（熱在下焦血分，故不渴而便秘。）陰火上衝為格陽，（陰火者，衝任相火也。格陽者，吐逆也。）呃喘咽痛皆堪餌。足心如烙脛股疼，熱伏陰中亦足理。（葉天士每用此搜陰中伏熱，甚為有見。）知（母酒炒一兩）柏（黃柏酒炒二兩）味厚大苦寒，寒因熱用桂（肉桂一錢）為使。無陰則陽無以生，此方獨竊軒岐秘。若是陽虛不化陰，又當腎氣丸為治。（李東垣《蘭室秘藏》曰：「關則不得小便。」小便者膀胱所主，而肺為水之上源，若肺有伏熱，口渴而小便不通者，宜用氣薄淡滲之藥，瀉火而清肺，滋水之化源也。若熱在下焦血分，不渴而小便不通者，是塞其流也，須用氣味俱厚，陰中之陰藥治之。王善夫病小便不通，漸成中滿，腹堅如石，腿裂出水，夜不得眠，不能飲食。請余診治。因思《素問》云：「無陽則陰無以生，無陰則陽無以化」也。又：「上為嘔噦」，內關外格之證悉具，死在旦夕矣。遂處此方與服，須臾前陰如刀刺火燒，溺如瀑泉，腫脹遂消。此證一在上焦氣分而渴，一在下焦血分而不渴，二者治各不同，不可不辨。」汪訒庵曰：「若膀胱陽虛，陰無以化，又當用腎氣丸治之。」）</p>
<p>斑龍（丸）鹿角膠（八兩）霜（鹿角霜八兩）柏，（柏子仁八兩）熟地（八兩）菟（絲子八兩）苓（茯苓四兩）兼補骨。（補骨脂四兩）搬運精髓填骨空，歸就腎膀通督脈。（凡入房竭精，耗散其真，形神俱去，雖溫之以氣，補之以味，不能復也。故以有情之品，專走督脈；復以少陰、太陽之藥，治其合，乃能搬運精髓，填於骨空，大會於督脈之囟會，而髓海充盈；使以茯苓，性上行而功下降，用以接引諸藥，歸就少陰、太陽，達於督脈，上朝髓海，而成搬運封固之功。）青囊原方無茯苓，（茯苓王晉三加入，其義頗通，當遵之。）澹寮方有陽起石，鹿茸附子肉蓯蓉，歸（當歸）耆（黃耆）酸棗（仁）辰砂入。（亦名斑龍丸）</p>
<p>龜鹿二仙（膏）治精極，（五勞之外，又有六極，謂氣極、血極、精極、筋極、骨極、肌極六者也。）虛羸少氣夢遺泄。（皆精氣兩虛）人參（一斤）枸杞（二斤）共熬膏，（先將鹿角十斤，龜板五斤，桑柴火熬膠，再將參杞膏和服。）氣血精神交補益。（李時珍《本草綱目》曰：「龜首常藏向腹，能通任脈，故取其甲，以補心補腎補血以養陰也。鹿首常返向尾，能通督脈，故取其角，以補命補精補氣以養陽也。」同用可以補神者，精氣足則神自旺也。）</p>
<p>青娥丸治虛腰痛（《素問·脈要精微論》曰：「腰者腎之府，轉搖不能，腎將憊矣。」）故紙（十兩酒蒸）胡桃（二十兩去皮研）蒜（四兩）姜（四兩）仲。（杜仲一斤）虛寒喘嗽鄭相（國）方，（肺腎虛寒，為喘為嗽。）除蒜姜仲（除去三味）加蜜送。（破故與胡桃同用，補養氣血，有水火相生之妙。氣足則肺不虛寒，血足則腎不枯燥，久服利益甚多，不獨上療喘嗽，下強腰腳已也。古云「黃柏無知母，破故無胡桃，猶水母之無蝦也。」按：水母，海䖳也。）又有觀音夢授散，人參（三錢）胡桃（紫衣胡桃一兩，連皮、鬲。）連皮用。乳子痰喘一服效，（溧陽洪輯幼子，病痰喘將危，凡五日不乳食，此方一服即愈，蓋以乳汁凝於膈間也。）食酸苦咳還堪供。（王晉三《古方選注》曰：「《日華子本草》云：「食酸齒齼，細嚼胡桃即解。病有多食梅子，斂痰飲於膈，酸寒之性，搏激於肺，令人苦咳聲啞，惟胡桃可解膈內之痰飲，膈間痰化而嗽止聲清。連皮能收肺經耗散之氣，連鬲能通命門之火。」若去皮、鬲，但潤燥養血而已。）</p>
<p>二至（丸）女貞（子）旱蓮草，強陰補腎烏須好。</p>
<p>扶桑丸（一名桑麻丸）即桑葉（一斤）麻，（黑脂麻四兩）澤血疏風顏不老。（煉蜜丸。除風濕，又能明目養血。）</p>
<p>資生丸取坤元義（《易》曰：「至哉坤元，萬物資生。」）四君（人參三兩，茯苓二兩，云術三兩，甘草一兩。）扁（豆一兩半）藥（山藥二兩）芡（實一兩半）連（黃連四錢）苡，（薏苡仁一兩半）蔻（仁八錢）砂（仁一兩半）藿（香一兩）曲（神麯二兩）桔（梗一兩）楂（肉一兩半）陳，（陳皮二兩）蓮子（去心二兩）麥芽（二兩）蜜丸餌。（彈子大，每服二丸，米飲下。）妊娠氣阻或滑胎，兼消兼補和脾胃。（此方治婦人妊娠氣阻嘔惡，或胎滑不固，亦系脾虛氣滯，用兼消兼補法，意亦可取。）外科牙漏（牙漏由胃中濕熱而成，加苦參服效。）幼科疳，（疳積多由脾虛積滯，故此方亦治之。）易飢易飽俱堪使。（飢能使飽，飽能使飢，神妙難述。徐靈胎《蘭臺規範》曰：「今人不論何因，為總治脾胃之藥，則失制方之義矣。藥味太雜，全無法度，姑存之以備一格。」旭高按：三焦五臟生生之氣，全資脾胃而輸化。此方補脾胃而仍分理三焦，以之治脾虛氣滯者頗宜，正未可輕譏之也。）</p>
<p>無比山藥（丸　孫思邈《千金要方》）攝腎氣，（此收攝腎氣之方，最為穩妥。）都氣丸中重五味，（五味子六兩，熟地、茯苓、山萸、澤瀉各三兩，山藥二兩。）減去丹皮（都氣丸去丹皮）加石脂，（赤石脂三兩）蓯蓉（四兩）菟（絲子三兩）仲（杜仲三兩）膝（牛膝三兩）巴（戟肉三兩）匯。駐顏健體響音聲，（諸藥煉蜜丸，服一錢，加至錢半，溫酒下。服後令人身健體潤，面光音響為驗也。）久虛百損勞傷慰。（孫思邈《千金要方》云：「丈夫久虛百損，五勞七傷，頭痛目眩、支厥，或煩熱，或脾疼，腰臗不隨，飲食不生肌肉，或少食而脹滿，體無膏澤，陽氣衰絕，陰氣不行，無比山藥丸主之。」）此藥通中入腦門，腦鼻痠疼慎勿畏。</p>
<p>羊腎（丸）地（熟地）耆（黃耆）仲（杜仲）膝（牛膝）絲（菟絲），斛（石斛）斷山藥五加皮，沉香肉桂煅（醋淬）磁石，（各一兩，為末，用雄羊腎兩對，以蔥、椒、酒煮爛杵丸。）降納腎氣（此降納腎氣之方）腎勞宜。（男子面色黑，腰脊痛，夢驚悸，小便不利而短氣者，名腎勞也。）</p>
<p>元精丹專補腎血（諸品皆色黑，專補腎血。）首烏（同黑豆拌蒸九次一斤）血餘（四兩）生熟地，（二地同煮八兩）破故（紙四兩）胡桃（肉二兩研膏）旱（蓮草熬膏四兩）女貞，（女貞子四兩）脂麻（蒸曬淨八兩）桑（椹子取汁熬膏四兩）棗（研膏二兩）槐角實。（入牛膽內百日，四兩。以藥末和諸膏，加煉蜜丸，酒下。北方黑色，入通於腎，開竅於二陰，其味鹹，其類水，其藏精，其病在骨，元精丹主之。此治便後脫血之良方也。）</p>
<p>益血潤腸（丸）麻（仁）杏仁，（各三兩均搗膏）蓯蓉（一兩半）枳殼（二兩）地（熟地六兩搗爛）歸（當歸二兩半）陳，（陳皮去白二兩半）阿膠（一兩半烊）蘇子（一兩）兼荊芥，（一兩，共為末，煉蜜丸。）老弱津枯便秘珍。（治津液亡、大便秘，老人虛人皆可服，並祛風養血。此脾約丸之變法。）</p>
<p>玉霜（丸《太平惠民和劑局方》）龍骨（一斤，水飛，用黑豆蒸一伏時，曬乾。）肉蓯蓉（二兩），牡蠣（三兩）磁（石）朱（砂）斛（石斛各二兩）鹿茸，（半兩浸酒中炙）牛膝（二兩）菟絲（三兩）兼澤瀉（二兩），茴香（一兩）韭子（炒五兩）與天雄，（十兩，酒浸七日，掘一地坑，以炭燒赤，速去火，以醋二升沃於坑，候乾，乘便投天雄在內，以盆合土擁之，經宿取出，去皮臍。）肉桂（一兩）紫梢（花，如無，以九香蟲代之，三兩。）巴戟肉（二兩），澀精納氣壯陽功。（此藥澀精納氣，腎中陽虛者最宜，亦丹方也。）</p>
<p>腎損骨痿（劉完素《素問病機氣宜保命集》云：「腎損骨痿，不能起於床者，宜益精。」）金剛丸，萆薢蓯蓉杜仲（等分）摶。煨腎丸（劉完素《素問病機氣宜保命集》云：「腎肝損及脾，損穀不化，宜益精緩中消穀。腰痛不起者，甚效。」）中加菟（絲子）膝（牛膝），防風白蒺（藜）桂枝攢，蘆巴（胡蘆巴）故紙（破故紙）豬腰子，（煮熟，和藥搗丸）。脾損腎痿均可安。</p>
<p>叔微（普濟本事方》）杜仲續斷丸，羌（活）防（風）萆（薢）薏（仁）仲（杜仲）膝（牛膝）斷（川斷），五加（皮）生地木瓜膏，（木瓜煎膏，杵丸）。風濕腳氣痛能緩，小便餘瀝腰脊疼，肝腎風虛同例纘。（許叔微《普濟本事方》曰：本方「治肝腎風虛氣弱，腳膝不可踐地，腰脊疼痛，風毒流疰下行，行止艱難，小便餘瀝」。下焦風濕腳氣亦主之。）</p>
<p>羌活補髓（丸　孫思邈《千金要方》）牛（髓）羊髓，（各一升）酥（一升）及芎（川芎三兩）歸（當歸三兩）桂心（二兩）詣，人參（四兩）棗肉（一斤研脂）大麻仁，（二升研脂）腦痛膽寒均克濟。（孫思邈《千金要方》云：「髓虛腦痛不安，膽腑中寒者，羌活補髓丸主之。亦治虛勞。」）</p>
<p>蓯蓉鹿茸韭子丸（一名家韭子丸）地（熟地二兩）桂（心一兩）歸（當歸二兩）姜（乾薑一兩）仲（杜仲一兩）膝（牛膝二兩）摶，石斛（一兩）菟絲（子一兩半）巴戟肉（兩半），助陽固腎暖胞寒，陽衰白濁遺精妙，老幼遺尿一樣看。（此方治老人遺溺，及陽氣衰敗，白濁遺精。小兒遺尿者，多因胞寒，亦陽氣不足也。）</p>
<p>威喜（丸）黃蠟（四兩溶化）白茯苓，（四兩，以豬苓四錢拌煮二十餘沸，去豬苓，曬乾用，即以蠟丸彈子大，空心細嚼，口生津嚥下。）本治斫喪遺濁證。後人藉此治痰火，久嗽肺虛頗得令。（抱朴子云：「茯苓千歲，上生小木，狀如蓮花，名威喜芝。」今以茯苓之年深質結者，制以豬苓，導出前陰，黃蠟性味緩澀，有續絕補髓之功，專調斫喪之陽分，理潰亂之精，故治元陽虛憊而為遺濁帶下者。若治肺虛痰火久嗽，茯苓不必結，豬苓亦可不用。）</p>
<p>松石劉子豬肚丸苦參（三兩）白朮（四兩）牡蠣（四兩　用豬肚一具洗淨，煮爛丸。）摶。瘦勞濕熱遺精者，（劉松石云：「不但治遺，即勞瘦者亦能肥也。」厚胃泄濕堅陰安。（此治肥人濕熱遺精之方也，即《三因》黃連豬肚丸之義。蓋肥人嗜鮮美，飲醇醪，久之脾胃釀成濕熱，留伏陰中，夜為夢泄。治以水畜之肚，為水中之土，能厚胃泄水；以白朮健脾勝濕，截其病之所從來；苦參泄脾濕而堅腎陰；佐以牡蠣鹹寒勝熱，固澀止遺。又先於其濕之所往也，泄其邪，固其正，則雖有夢而不遺矣。夫遺滑變證雖多，不越乎有夢、無夢、濕熱三者之範圍。從此推之，可如庖丁之導窾矣。瘦勞善食而瘦，亦因胃中濕熱，故能治之。）</p>
<p>固精丸治無夢遺（治無夢之滑精）鹿茸（一具）鹿角霜（分兩同茸）陽起，（陽起石五錢）茯苓（五錢）巴戟（肉五錢）肉蓯蓉（一兩），韭子（一兩）附子（炮五錢）五味子（五錢），青花龍骨（煅）赤石脂，（煅各五錢）提陽固氣堵精髓。（夫房勞過度則精竭陽虛，陽虛則無氣以制其精，故寐則陽陷而精道不禁，隨觸隨泄，不必夢而遺也，與走陽不甚相遠。治之必須提陽固氣，乃克有濟，獨用補澀無益也。並治陽痿。）</p>
<p>四君子湯（《太平惠民和劑局方》中和義，參（人參）術（白朮）茯苓（各二錢）甘草（一錢）比。脾氣虛衰百病生，（脾為中土，貫四臟而統六腑，脾虛則百病叢生。張璐曰：「病久不愈，惟有補脾、益腎兩途。」此要訣也。旭高按：久病虛羸，胸無痞滿者，宜補腎；胸有痞滿者，宜補脾，亦要訣也。許叔微曰「補脾不如補腎」，孫思邈曰「補腎不如補脾」，皆是也，但未說出要訣爾。）脈來細軟須當視。（脈來細軟者，脾氣虛也，宜此湯。若細數者，脾血虛也，宜歸脾湯。）益以夏（半夏）陳（陳皮）名六君（子湯），祛痰補氣陽虛餌。（二陳除痰，四君補氣，脾弱陽虛有痰者宜之。）除夏（半夏）名為異功散，（錢乙《小兒藥證直訣》調理脾胃。）或加香（木香）砂（仁）胃寒使。（名香砂六君子湯，治虛寒胃痛。）四君（加）酸棗生薑湯，（汪訒庵《醫方集解》引胡洽方）振悸不眠服之美。（水停心下則悸，故加生薑行水；虛煩則不得眠，故加棗仁安神。）六君（加）薑汁竹瀝湯，（朱震亨《丹溪心法》）半身不遂痰厥主。（右半身不遂屬氣虛，宜此湯；左半身不遂屬血虛，宜四物湯。然亦不可拘泥。若陡然暴死，喉中痰鳴，名痰厥證。又有氣厥中風中惡，與此相同，各有治法。）</p>
<p>參苓白朮（散）扁豆陳（皮），山藥甘（草）蓮（心）砂（仁）薏仁，（諸味補脾利氣）桔梗上浮（戴藥上浮）兼保肺，（恐燥藥上僭）棗湯調服益脾神。（治脾胃者，補其虛，除其濕，行其滯，調其氣而已，此方得之。）</p>
<p>十味人參（散）用六君，（參、苓、朮、草、半夏、陳皮）。更加柴（胡）葛（根）芍（藥）黃芩。脾虛倦怠時潮熱，（治虛熱潮熱，身體倦怠。）補氣升陽復益陰。（六君子湯補氣除痰，柴、葛升陽，黃芩退熱，白芍益陰。）</p>
<p>七味白朮（散）四君（子湯）全，（參、苓、朮、草。）藿香乾葛木香添。補脾（四君之功）化濁（二香之功）生津液，（參、朮、乾葛皆能生津。）酒積（酒積嘔噦大效）脾虛瀉渴煎。（治脾虛泄瀉作渴效）</p>
<p>三白（湯）虛煩渴瀉餌，（白朮、白芍、白茯苓，故名「三白」。）術（白朮）芍（白芍）茯苓甘草使。又有參（人參）胡（前胡）三白湯，內傷外感均堪倚。（為調理內傷外感之奇方）四順湯治脾虛冷，四君（子湯）除茯（苓）乾薑進。（加乾薑）腹中疼痛怕光明，脈沉無熱為陰證。（王肯堂《證治準繩》云：「陰證脈沉無熱，不欲見光，腹痛不和，四順湯治之。」又曰：「如陰陽未辨，姑與服之。若陽厥便熱，陰證則無熱。」）</p>
<p>幼科又有六神散（治小兒表熱去後，又發熱者。）表熱去後續熱飲。足知四君（子湯）功用深，虛寒虛熱咸堪任。（四順湯治虛寒，六神散治虛熱，皆從四君加減。）六神散即四君（子湯）增，山藥扁豆粳米訂。（四君加山藥、扁豆、粳米，生薑、大棗煎。）和其胃氣熱自除，醫家當此宜知省。（陳無擇《三因極一病證方論》曰：「小兒熱止復熱，世醫到此，盡不能曉。或再用涼藥，或再解表，或謂不治。此表裡俱虛，氣不歸元，而陽浮於外，所以再發熱，非熱證也。只用六神散入粳米煎，和其胃氣，則收陽氣歸內而身涼矣。」方內粳米不可少。）六神（散內）再加銀（柴）胡芩（黃芩），銀白湯治續熱盛。（熱甚者，加銀柴胡、黃芩，名銀白湯。）</p>
<p>健脾（丸）參（人參）術（白朮）與陳皮，枳實山楂麥糵（即麥芽）隨。曲糊作丸米飲下，消補兼行胃弱宜。（參、術土炒各二兩，陳皮、麥芽炒各一兩，山楂一兩半，枳實麩炒三兩。）枳朮丸（李東垣《內外傷辨惑論》引張潔古方）亦消兼補，（白朮二兩，枳實麩炒一兩。）荷葉燒飯上升奇。（荷葉包陳米飯煨乾為丸，引胃氣及少陽甲膽之氣上升。）但煎枳朮（丸）為湯飲，心下痞堅水飲施。（《金匱·水氣篇》云：「心下堅，大如盤，邊如旋杯，水飲所作，枳朮湯主之。」枳實七枚，白朮二兩，煎湯溫服。腹中耎，即當散也。）</p>
<p>補中益氣（湯　李東垣《內外傷辨惑論》）耆（黃耆蜜炙一錢）術（白朮土炒）陳，（陳皮留白）升（麻）柴（胡各三分）參（人參）草（甘草炙各五分）當歸身（三分）。（加薑、棗煎。　汪訒庵《醫方集解》引李東垣曰：「升、柴味薄性陽，引脾胃清氣行於陽道，以滋春氣之和，又引參、耆、甘草上行，充實腠理，使衛外為固。凡補脾胃之氣，多以升陽補氣名之者，此也。」）勞倦內傷功獨擅，（旭高按：飢飽勞役，內傷脾胃之氣，則眾體無以稟氣而皆病矣。其證身熱心煩，頭痛惡寒，有似外感，而懶言氣短，肢體困倦，脈洪大而虛，此可辨也。又外感發熱，熱甚不休；內傷發熱，時熱時止。外感則鼻息氣粗，內傷則鼻息氣微。外感之頭痛惡寒，須表邪傳裡方罷；內傷之頭痛惡寒，乍作乍止。詳見東垣《內外傷辨》，宜細閱之。）亦治陽虛外感因。（汪訒庵《醫方集解》引李士材曰：「虛人感冒，不任發散者，此方可以代之。」或加辛散藥。）惡食懶言肢體倦，（皆脾虛證）畏寒發熱（陽虛則外寒，陰虛則內熱。）汗溱溱。（衛氣不固故多汗。汪訒庵《醫方集解》曰：「陽虛自汗，宜補中益氣湯加麻黃根、浮小麥，升、柴俱宜蜜水炒過，欲其引參、耆至表，故又不可缺。」）心肝肺損俱堪治，腎脈衰微切莫循。（按：本方雖為勞倦傷脾之主劑，然心、肝、肺三經陽氣不舒亦可服，《難經》曰：「損其肝者緩其中，損其肺者益其氣，損其心者調其營衛也。」惟不宜於腎，柯韻伯曰：「陰虛於下者不宜升，陽虛於下者更不宜升也。」陸麗京曰：「倘人之兩尺虛微，或是癸水消竭，或是命火衰微，若再一升提，則是大木將搖而拔其本也。」）瘧痢（經久不愈）脫肛小便數，（小便頻數，氣虛下陷。）脾虛陽陷妙無倫。全無寒熱還須忌，（旭高按：補中益氣湯原為外感中有內傷一種者設，所以補傷寒之未及，非補虛方也。今人於外感中毫不敢用，而於內傷輒任意用之，則失東垣之遺意矣。雖曰補氣而非發汗，然實有不散而散之意，故於勞倦感寒，或氣虛痎瘧，及脾氣下陷等證，則最所宜也。若全無表邪寒熱，而但中氣衰弱者，則升、柴之屬，大非所宜。雖升、柴能引清氣上升，然惟有邪者固可因升而散之，設或無邪，寧不因散而愈耗其中氣乎！夫東垣之方，無論內傷外感，一概以升提中氣為主，想當時司天運氣使然爾，今則不可不審也。）若見痰喘勿誤遵。（上焦痰熱為喘為嘔者，忌服。）山藥地黃易耆（黃耆）術（白朮），補陰益氣（煎）張介賓。（去黃耆、白朮，加山藥、熟地、生薑，名補陰益氣煎。張介賓《新方八陣》。）陰虛外感真奇效，變化陳方法轉新。（張介賓曰：「此補中益氣之變方也。凡屬陰氣不足，而虛邪外侵者，用此升散，無有不效。」）木香蒼朮易歸（當歸）術（白朮），調中益氣湯（李東垣《脾胃論》）暢脾。</p>
<p>當歸補血（湯）東垣著，黃耆一兩歸（當歸）二錢。（吳鶴皋《醫方考》曰：「黃耆多於當歸數倍而云補血者，蓋有形之血不能自生，生於無形之氣故耳。經曰『陽生陰長』，是之謂也。」）證象白虎煩渴甚，脈大而虛宜此煎。（《衛生寶鑑》云：「男婦血虛發熱，面赤煩渴引飲，證象白虎，脈來洪大而虛，重按則微者，當歸補血湯主之。」此補氣血之方也，誤服白虎則死。）</p>
<p>四物（湯《太平惠民和劑局方》）地（生地）芍（白芍）與歸（當歸）芎（川芎），血家百病此方通。（此血病之主方）八珍（湯）合入四君子，（參、苓、朮、草。）氣血雙療功獨崇。（四君補氣，四物補血。）再加黃耆（助陽固衛）與肉桂，（引火歸元）十全大補（湯）補方雄。（為補方之雄冠。汪訒庵《醫方集解》引王海藏曰：「氣血俱衰，陰陽並弱，法天地之成數，故曰『十全』。」）十全（大補湯）除卻耆（黃耆）地（生地）草（甘草），加粟（米百粒）煎之名胃風（湯，張潔古方。）風入腸中成飧泄，脾虛血痢治相同。（徐彥純「玉機微義」曰：「此方治風入腸胃，飧泄完穀。方名胃風，而實非治風之藥，補血和胃，使風自除。脾虛血痢而挾濕者，實可倚仗。」）</p>
<p>人參養營（湯）即十全，（即十全大補湯除川芎，加五味、陳皮、遠志、薑、棗。）除卻川芎五味（子）聯，陳皮遠志加薑棗，心脾氣血補方先。（原方云治脾肺氣血兩虛。喻嘉言《醫門法律》曰：「按方中諸品，為心脾二臟之藥，於補肺殊不甚切，方下所注肺虛，誤也。」）氣血兩虛諸變證，但投此劑悉能痊。（薛立齋云：「氣血兩虛，變現諸證，莫能名狀。勿論其病其脈，但服此湯，諸證悉退。」）</p>
<p>歸脾湯（嚴用和《濟生方》）用術（白朮）參（人參）耆（黃耆，各二錢半）歸（當歸一錢）草（甘草五分）茯神（二錢半）遠志（一錢）隨，酸棗（仁一錢）木香（五分）龍眼肉，（二錢半）煎加薑棗益心脾。（補脾有二法：一補心以生脾血，一補腎以壯脾氣。此方乃心脾同治之法。）怔忡健忘俱可卻，腸風崩漏總能醫。（皆補益心脾營血之功）欲歸脾血先調氣，（歸脾者，調四臟之氣，皆歸向於脾也。方內木香不可缺，香先入脾，總欲引血歸脾耳。凡思慮過度，勞傷心脾之病，此方允稱良劑。）取坎填離道在斯。（道書云「戊己為媒妁」，故取坎填離者，所以必歸之於脾也。）</p>
<p>養心湯用草（甘草一錢）耆（黃耆蜜炙一兩）參，（人參二錢半）二茯（茯苓茯神）芎（川芎）歸（當歸各一兩）夏曲（半夏曲一兩）尋，柏子（仁）遠志（肉）桂（心）五味，（各二錢半）再加酸棗（仁炒二錢半）總寧心。（按：歸脾湯與養心湯，一補脾血，一養心血，其藥大段相同。一用白朮、木香引入脾經，一用桂心、五味引入心經，各有至理，不可易也。）</p>
<p>大補元煎（張介賓《新方八陣》）為首尊，（補陣第一方也）人參熟地草（炙草）萸（肉）存，杞（子）歸（當歸）杜仲兼山藥，精氣俱傷妙可吞。（旭高按：景岳新方靈動者少，呆滯者多，但於精氣兩虛之證，補陰補陽之理，則此老一生頗有創穫，姑錄數方，以為補精氣陰陽之一助也。本方治男婦血氣大虛，精神失守危劇等證，與右歸飲出入互用。）</p>
<p>左歸（飲）萸（肉）地（熟地）藥（山藥）苓（茯苓）叢，杞（子）草（炙草）齊成壯水功。</p>
<p>（此為壯水之正法，不用苦寒瀉火，獨任甘溫補陰，可師可師。）若使為丸除茯（苓）草（炙草），更加龜鹿二膠同，菟絲（子）牛膝還宜用，精血能充效莫窮。（本方去茯苓、甘草，加菟絲子、牛膝、龜板膠、鹿角膠，名左歸丸。張介賓《新方八陣》曰：「真陰腎水不足，不能滋養營衛，漸至衰弱。凡精髓內虧，津液枯涸等證俱，速宜壯水之主，以培左腎之元陰，而精血自充矣。」）虛火上炎陰失守，去其枸（杞子）鹿（角膠）益貞冬。（如真陰失守，虛火上炎，宜用純陰之劑，於本方去枸杞、鹿角膠，加女貞子、麥門冬等。）</p>
<p>右歸（飲）附（子）桂（肉桂）兼山藥，杞子地黃炙草聯，杜仲山萸不可缺，益火之源效莫先。</p>
<p>（此益火之劑，即附桂八味之變方也。意甚平平，然平穩而不雜，尚屬可取。）若然除草（炙草）鹿（角）膠入，菟絲（子）當歸飲改丸。（於本方去甘草，加鹿角膠、菟絲子、當歸，名右歸丸。張介賓《新方八陣》曰：「真陽不足者，必神疲氣怯，或心跳不寧，或四體不收，或眼見邪祟，或陽衰無子等證，速宜益火之源，以培右腎之元陽，而神氣自強矣。」王旭高曰：左歸是育陰以涵陽，不是壯水以制火；右歸是扶陽以配陰，不是益火以消水。與古方知柏八味、附桂八味，蓋有間矣。雖壯水益火，所用相同，而綰照陰陽，尤為熨貼。改飲為丸，皆除甘草。強精益髓，併入鹿膠。補下治下，不欲留中。加味去味，取捨有法。非達道者，其孰能之。按：腎有兩枚，左陰右陽，故有左歸、右歸之名。）</p>
<p>濟川（煎）歸（當歸）膝（牛膝）肉蓯蓉，澤瀉升麻枳殼從。便結病虛難下奪，用通於補法堪宗。</p>
<p>〔凡病涉虛損，而大便秘結不通，難用硝、黃下奪，而勢又不得不通者，用此通之。甚妙！甚妙！此用通於補之劑也。旭高按：濟川煎、玉女煎（方見《類方歌注·白虎湯類》）二方、一寓通於補，一寓補於清，皆景岳超出之方也。通靈活變，足可為法。〕</p>
<p>保元湯（魏桂岩《痘疹全書博愛心鑑》）里參（人參二錢）耆（黃耆三錢）草，（甘草一錢）肉桂冬多春夏少。（春夏二、三分，秋冬六、七分。）氣血虛寒咸可憑，痘瘡白陷功非小。（此宋人之方，故肉桂只用二、三分，以為氣分引藥。氣血虛寒之證，皆可用之。純虛寒之痘，正頂陷灰白漿不起者，用之引毒外出，即能行漿，大妙。）</p>
<p>秘方補心（丸）治手振，（血虛有痰）參（人參五錢）茯（苓七錢）芎（川芎一兩）歸（當歸一兩半）地（生地一兩半）遠（志二兩半）菖，（菖蒲六錢）柏（子仁三兩）棗（仁三兩）膽（星五錢）朱（砂五錢為衣）金（箔二十片）珀（琥珀三錢）麝，（麝香一錢）心神恍惚有痰嘗。（一方有甘草。此心恍惚而有痰者宜之。）</p>
<p>青州白丸（子《太平惠民和劑局方》）星（南星三兩）夏（半夏七兩）並，白附（子二兩）川烏（半兩）俱用生，（各生研）曬露糊丸姜薄（荷）引，（四味宜水研取漿，澄粉曬露七日，元米粉糊丸，薑湯下；癱瘓，溫酒下；驚風，薄荷湯送下。）風痰癱瘓小兒驚。（此治一切風痰之要藥，宜預備之。）</p>
<p>《指迷》茯苓丸（茯苓二兩）半夏，（一兩生研澄粉）風（化）硝（二錢半）枳殼（五錢麩炒）薑湯下。（薑汁丸，服三十丸，薑湯下。）中脘停痰肩臂疼，脈來沉細留心把。（治中脘有留痰伏飲，臂痛難舉，或肩背痠痛，脈來沉細者是也，此丸主之。喻嘉言《醫門法律》曰：「痰藥方多，惟此立見功效。」痰飲流入四肢，令人肩背痠痛，兩手罷軟，誤以為風，則非其治，宜導痰湯加木香、薑黃各五分。輕者指迷茯苓丸，重者控涎丹。又有血虛臂痛，宜蠲痹四物湯。）</p>
<p>控涎丹（陳言《三因極一病證方論》）治痰之本，痰涎變證悉能醫，走注麻痹牽引痛，胸背腰項或四肢。（人忽患胸背手足，腰項筋骨，牽引釣痛，走注不定，或肉中結核如瘰癧，此痰涎隨氣升降為病，非風證也，宜控涎丹。）臟腑水濕大戟（去皮，水浸去綠色，曬。）泄，經隧水濕甘遂（去心）推，皮裡膜外消痰氣，芥子之功信甚奇。（各等分，薑湯下。李時珍《本草綱目》曰：「此乃治痰之本。痰之本，水也，濕也。得氣與火，則凝滯而為痰、為飲、為涕、為癖。大戟泄臟腑之水濕，甘遂行經隧之水濕，白芥子散皮裡膜外之痰氣，惟善用者，能收奇功也。」）</p>
<p>三子養親（湯韓𢘅《醫通》）蘇（紫蘇子）芥（白芥子）菔（萊菔子），老人痰氣堪煎服。痰多氣盛暫消之，氣虛喘滿非宜逐。（李士材曰：「此方若氣虛者，非所宜也。」）導赤（散　錢仲陽《小兒藥證直訣》）生地與木通，草梢竹葉（等分）四般攻。口糜淋痛小腸火，引熱同歸小便中。（此瀉心火從小腸中出也。）</p>
<p>加減思食丸苓（茯苓）草，（甘草各二錢半）麥芽（炒黃二兩）神麯（炒黃二兩）瓜（木瓜半兩）梅（烏梅四兩）好。酸收胃氣甘和脾，脾虛胃反噁心保。（此收納胃氣之方，用烏梅、木瓜甚巧。）</p>
<p>補火丸方治冷勞，硫黃末（一斤）入豬腸熬。（熬爛取出，蒸餅糊丸，服十丸。）金液丹治諸陰證，硫黃赤石脂和燒。（硫黃十兩研末，瓷盆盛水，和赤石脂封口。鹽泥固濟，煅七日，取出蒸餅丸。）玉壺（丸）一味硫黃制，寒水臌脹功殊饒。（製法詳見王晉三《古方選注》，虛寒臌脹奇效。）玉真丸治腎（厥）頭痛，硝（石）硫（黃）半夏並石膏。（許學士《普濟本事方》治腎厥頭痛之聖藥。）《局方》來復（丹）治霍亂，硫黃五靈（脂）玄精（石）硝（石），青皮橘皮醋丸服，理陰陽以通三焦。（夏暑啖食生冷，暑熱內伏，為霍亂吐瀉，此藥通利三焦，分理陰陽效。）半硫丸（半夏硫黃）方出《和劑》，虛秘冷秘通治療。（治老人虛秘冷秘，甚驗。）靈砂（丹）水銀與硫（黃）煉，（水銀一斤，硫黃四兩，用鐵銚炒成砂子。）鎮墜痰涎所必邀。（治上盛下虛，痰涎壅盛。此藥最能鎮墜，升降陰陽。）黑錫（丹）硫黃結砂子，（黑錫與硫黃炒成砂子）鎮墜更比靈砂高。（黑錫鎮墜之功勝於靈砂）大黑錫丹加桂（肉桂）附（子），胡蘆巴與骨脂（補骨脂）標，金鈴（子）肉（豆）蔻沉（香）茴（香）木（香），功倍原方信不囂。（其功較小黑錫丹降逆泄濁更捷）返陰（丹）硝（石）硫（黃）玄精石，附子姜（乾薑）桂（心）為同僚，陰毒脈伏須用此，（治陰毒脈伏，及陽脫無脈，厥冷不醒。）破陰丹法同此條。（同返陰丹）要知硝（石）硫（黃）與汞（水銀）錫（黑錫），用濟陰陽玄著超。（硝石、硫黃、水銀、黑錫，皆稟陰陽精靈之氣而成，用以交濟水火，升降陰陽，超超玄著，妙不容言矣。）聊舉成方八九道，說與心頭切記牢。</p>
<p>玉屏風散黃耆（炙）防（防風各一兩）表虛自汗真奇良。（治氣虛表弱，自汗不止者；風邪久留而不散者亦宜。）耆（黃耆）得防風功益大，能引真氣周身翔。（李東垣曰：「黃耆得防風而功益大，乃相畏而相使也。」王晉三《古方選注》曰：「黃耆性鈍，防風性利。鈍者受利者之制耳。惟其受制，乃隨防風周衛於身，而固護表氣耳。」）中風（口噤）煎此熏床下，氣通風去病如失。加入白朮作湯服，久風飧泄脾虛匡。（名白朮防風湯，治飧泄。）</p>
<p>柴胡四物（湯川芎、當歸、白芍、生地各一錢半，柴胡一錢。）參（人參）耆（黃耆）草，（甘草各三錢。一方有半夏。）和衛調營達少陽。日久虛勞有寒熱，脈沉而數（沉數為熱在裡，陰尚未虧，故用此湯調和營衛，以散其熱；若脈細數，則當全用滋陰壯水矣。）最相當。（柴胡加入補藥，俱不相合，獨此為宜。柴胡疏通少陽，調和營衛，非專於散風也。）</p>
<p>當歸六黃（湯）治汗出，（治陰虛有火，盜汗發熱。）耆（黃耆加倍）柏（黃柏）芩（黃芩）連（黃連）生（地）熟地。（各等分）瀉火固表復滋陰，加麻黃根功更異。（李時珍《本草綱目》曰：「麻黃根性能行周身肌表，故能引諸藥外至衛分而固腠理。」徐靈胎《蘭臺軌範》曰：「凡止汗方中，皆可加浮麥、大棗也。」）或云此藥大苦寒，胃弱氣虛在所忌。（李士材曰：「陰虛則元氣有降而無升，而復此苦寒肅殺之劑，得無虛虛之警戒乎！惟火實氣強者宜之。不然，苦寒損胃，大忌。」）</p>
<p>麥門冬湯（陳言《三因極》一病證方論》）治漏風，俗名頭汗為蒸籠。（不論冬夏，頭汗自出，謂之「漏風」，俗名「蒸籠頭」也。因上焦傷風，開其腠理，上焦之氣，剽悍滑疾，遇開即出，經氣失道，邪氣內著，故有是證。夫上焦之氣，肺氣治之。此方益胃中之津氣，以供於肺，是虛則補母之義，俾調得上焦之氣循經，則邪卻而汗止。）麥冬蘆（根）玉（竹）茹（竹茹）姜（生薑）米，（陳粳米）前藥加入異功（散）中。（人參、茯苓、白朮、甘草、陳皮。）甘涼益胃生津氣，病後虛煩（上中二焦有留熱）可建功。胃虛嘔呃還堪用，降逆和中加半（夏）通。（加半夏降逆和中止嘔。）</p>
<p>溫膽湯方即二陳（茯苓、甘草、半夏、陳皮。）竹茹枳實棗（大棗）姜（生薑）循。少陽膽熱移於胃，胃熱蒸痰是病因。嘔苦痰涎不得寐，滌痰泄熱以寧神。（二陳和胃滌痰，竹茹清上焦之熱，枳實泄下焦之熱。治三焦而不及於膽者，以膽為生氣所從出，不得以苦寒直傷之也。命之曰「溫」無過泄之戒辭，非以膽寒而溫之也。）傷寒病後多斯證，（虛煩嘔惡，口苦不眠，傷寒病後最多此證。）雜病煩驚悸亦遵。（皆痰熱擾亂心神）或益黃連或參（人參）棗（酸棗仁），心虛煩熱可加勻。（心虛神怯加人參、棗仁，名人參溫膽湯。煩熱甚者加黃連，名黃連溫膽湯。）心為君主出乎震，膽氣清寧神自馴。（旭高按：心為君主而出乎震，震位東方，在人屬膽，膽為甲木，生心丁火，是以膽氣怯者，心神必虛，膽氣壯者，心神多旺。然則心者，雖為君主之官，而實聽命於膽，故《素問·五臟生成論》曰：「凡十一臟，皆取決於膽也。」）</p>
<p>逍遙散（《太平惠民和劑局方》）用當歸（酒拌）芍，（白芍酒炒）柴（胡）苓（茯苓）術（白朮土炒各一兩）草（炙草五錢）煨姜薄。（加煨薑、薄荷煎。）散郁除蒸功最奇，調經八味丹（皮）梔（山梔）著。（本方治肝家血虛火旺，頭痛目眩，頰赤口苦，倦怠煩渴，抑鬱不樂，寒熱往來，及骨蒸潮熱。薛立齋加丹皮瀉血分鬱熱，山梔清氣分鬱火，名八味逍遙散，治婦人經水不調，脈弦大而虛，其理頗通。）郁雖有六思慮多，（六郁：氣、血、痰、火、濕、食也。夫郁為情志之病，丹溪雖論六郁，然思慮怒致郁者多。）思慮傷脾肝作惡。（思慮則氣鬱結而傷脾，脾傷則肝木乘勝而為病。）此方疏達肝與脾，（此疏達肝脾之方）無傷正氣逍遙卻。（「逍遙」，《說文》與「消搖」通。此方消散其氣鬱，搖動其血鬱，卻無傷正氣，故名「逍遙」。）丹溪用治乾咳嗽，（朱丹溪曰：「乾咳嗽極為難治，此係火鬱之證，惟用逍遙散以發之，繼服補陰清肺可愈。」）養葵用治傷寒瘧。（趙養葵治傷寒、瘧疾、溫疫，咸以此湯出入加減，無不獲效。）外感多從郁證看，木鬱解而諸郁削。（趙養葵《醫貫》曰：「凡外感證，皆宜作郁治，古方如小柴胡湯、四逆散，俱是此意，然總不若逍遙影響也。」又曰：「方中柴胡、薄荷二味最妙，蓋木喜風搖，寒即摧萎，溫即發生，木鬱則火鬱，火鬱則土鬱，土鬱則金鬱，金鬱則水鬱，五行相因，自然之理也。予以一方治木鬱，而諸郁皆解，逍遙散是也。」）風以散之雨潤之，郁平繼以滋陰藥。（逍遙散，風以散之也。六味地黃湯，雨以潤之也。昔趙養葵、高鼓峰輩，往往用逍遙散後，繼以六味丸收功。）</p>
<p>平胃散（《太平惠民和劑局方》）是蒼朮（米泔浸五斤）樸，（厚朴薑汁炒五十兩）陳皮（去白五十兩）甘草（炙三十兩）薑棗煎。除濕散滿驅嵐瘴，（治濕淫於內，脾胃不能剋制，有積飲痞膈中滿者，及山嵐瘴氣，不服水土等證。）調胃諸方從此擴。（凡濕淫脾胃之證，皆可從此方加減。）或合二陳（名平陳湯，治痰。）或五苓，（名胃苓湯，治瀉。）硝（芒硝）黃（大黃）麥（芽）曲（神麯）均堪著。（加麥芽、神麯消食，加大黃、芒硝瀉積。）若合小柴（胡湯）名柴平（湯），煎加薑棗能除瘧。又不換金正氣散，即是此方加夏（半夏）藿（香）。（治證同）對金飲子益桑（白）皮，（平胃散一兩加桑白皮一兩，名對金飲子。）黃腫喘呼好斟酌。若將蒼朮易乾薑，嘔多胃弱醫無錯。術能動嘔故除之，和胃飲從景岳索。（和胃飲，景岳新方也。凡嘔吐等證，多有胃氣虛者，一聞蒼朮之氣，亦能動嘔，故以乾薑代之。）</p>
<p>二陳湯（《太平惠民和劑局方》）用半夏（薑汁製二錢）陳，（陳皮去白各五兩）益以茯（苓三兩）草（甘草）加姜煎。利氣調中兼去濕，一切痰飲此為珍。（李士材曰：「二陳為治痰之妙劑，其於上下左右，無所不宜，然止能治痰之標，不能治痰之本，痰本在脾、在腎，用者詳之。」）或益芩（黃芩）連（黃連）或楂（山楂）曲（神麯），熱痰食積（痰）可加均。（熱痰加黃芩、黃連，名二陳加芩連湯；食積痰加山楂、神麯，名二陳加楂曲湯。）燥痰渴飲貝（母）易（半）夏，（名二陳去半夏加貝母湯　朱丹溪曰：「有痰而渴，宜去半夏，代以貝母。」吳鶴皋曰：「渴而喜飲，易之；不能飲水，雖渴宜半夏也。」）經絡痰涎竹瀝臻。（痰在經絡四肢者，加竹瀝，名二陳加竹瀝湯。）氣鬱生痰砂（仁）附（香附）入，（加砂仁、香附，利氣暢郁，名二陳加砂仁香附湯。）風痰頭痛菊（花）芎（川芎）循。（加菊花、川芎，上行散風，名二陳加菊芎湯。）氣虛不攝多（吐）涎沫，補瀉須加益智仁。（名二陳加益智仁湯　氣虛不能攝涎，多吐涎沫者，加益智仁攝之；虛甚者，更加參、術。）導痰湯內加星（膽星）枳（實），（加膽星以助半夏，加枳實以成沖牆倒壁之功。）頑痰膠固力能馴。（頑痰，老痰也。）金水六君（煎　張景岳方）加歸（身）地（熟地），陰虛挾濕（痰）嗽宜遵。（歸身、熟地補陰，二陳祛痰去濕。）除陳（皮）名為消暑丸，醋製半夏妙絕倫。（半夏用醋製，能攝胃氣以散水。合茯苓、甘草，利濕和中，名消暑丸，是消暑在消其濕也。）</p>
<p>潤下丸即二腎散，鹽制陳皮甘草純。（陳皮鹽水煮八兩，甘草二兩，蒸餅丸。名「潤下」者，鹽能潤下也。為末即名二腎散。並治膈間痰飲。）散水和脾消暑（丸）好，（散水以和脾也）祛痰利氣二腎（散）尊。（利氣以祛痰也。）</p>
