<header data-type="book">
<h1>醫學答問</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>梁玉瑜</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1896">公元1896年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>余向在蘭州時，有河魚之疾。醫者輒投溫劑，迄未霍然。癸巳來新疆，晤茂名梁特岩太守，請為診視，遽以白虎湯加三黃及小承氣湯見投，余心異之，未敢即服。然聞諸他所醫者皆應手效，姑嘗試之，竟亦立效。余怪而問之曰：「君之術何以獨異？」曰：「非異也，病固如是也。君之體實，熱積於中，遇寒則水火相搏，腸胃遂不能相安，非因寒而泄也。醫者但知止泄，不揣其病所從生。譬如治河者，築堤捍水，歲歲增高，久且一決不復可治矣。自張仲景以來，醫說愈多，醫理愈晦，世之人死於病者十之三四，死於醫者或十之五六焉，雖然，無足怪也。投以溫補，病者雖死而無怨；投以寒苦，病者或先不任受矣。」蓋其言若此。梁君昔治鄉兵，屢摧劇寇，博通今古，曾不以醫名，而醫學之精，亦一時所僅見。茲梁君行矣，陶君拙存裒其平日所與言醫者輯為《醫學答問》四卷。其論方藥、注本草與他書間有不同，治咯血一門，尤足闢庸醫之誤。蓋梁君家傳醫學已二百餘年，診驗既多，辨析尤確，著為醫說，足補古方所未逮，不泥古以立方。其家所傳《神農嘗毒經》，謂仲景悔過之作，而託名於楊紹基，殆庚詞耳。今中外多故，世局日新，治法之不能泥古，獨醫也歟哉。</p>
<p>光緒二十一年十一月長至日，護理新疆布政使鎮迪道兼按察使銜汝南丁振鐸。</p>

<h1>卷一</h1>

<h2>1．怎樣望診？</h2>
<p>問：《周禮》醫師之術以五色視死生，《靈樞》有五色篇，《素問》有皮部論，古人治病以望為先，敢問何以望？</p>
<p>望者，望其顏色以分治法也。假如其人精神煥發，容貌和悅，得四時之正者，是為無病。如頭重目低，面色青藍痿白，舌無苔而白色淺淡，或浮漲而多水，頭額、兩臉、鼻氣、手足、皮膚俱熱，或吐或不吐，或瀉或不瀉，畏風畏寒，乍冷乍熱，渾身軟弱，動即眩暈不能起坐者，是外感風、寒、濕，太陽表邪之最淺者，治宜以溫散藥發表，得汗自痊。如頭重目低，面色浮紅或青，舌無苔而色紅，或有浮漲有絲，頭額、兩臉、鼻氣、手足、皮膚俱熱，或吐瀉或不吐瀉，畏風畏寒，乍冷乍熱，周身困倦，動即眩暈不能起坐者，是外感風、火、燥，太陽表邪之最淺者，治宜以涼散藥發表，得汗自痊。感風感暑相似，惟感風無汗，感暑有汗可分耳。感暑多在夏秋，其餘多為感風。風有熱，暑無寒。風有寒濕，暑有熱濕。治暑以清氣利竅，汗止氣行乃愈。其暑風並感者，並治之。中風、中暑，邪氣深入者，有中腑、中臟、中血脈之殊，先審中在何經，專經專治，與傷寒傳經治法略同。如頭不起，目不快，面色痿白青悲，唇舌色極淡而濕潤，或舌有白漲膩薄白苔，油滑多水，無點紋，無芒刺，唇不燥裂，口不苦，或舌藍而光滑無苔，或舌黑而濕滑無苔，無點，無罅，無焦（此為寒與熱分別處，）如浸水腰子形，是為寒極症，治宜姜附桂參耆理中湯等藥急救之。如舌軟而縮，口不渴，齒不幹，唇不焦，鼻孔濕潤，神疲氣弱者，是虛寒里症，治宜溫補升提藥。如頭不起，目不快，面色隱紅，或青緅，或黃槁，口唇紅而燥裂，舌有黃苔，黃漲，黃膩，粗澀干苦少水，齒熱，眼有紅絲，額顯青筋，或色藍而干，粗焦有芒苔，或舌黑乾澀有厚苔，有朱點，有芒刺，有罅裂，如煎焦豆腐形，是皆熱極症，治宜白虎三黃承氣湯等藥急救之。或舌強而縮，口乾，齒乾，鼻乾，神昏氣昏而困憊者，是實熱里症，治宜寒涼攻瀉藥。凡瘦人未必是陰虧，宜詳察。</p>

<h2>2．頭面容色與臟腑的對應關係如何？</h2>
<p>問：頭面容色與臟腑相應，果何別歟？</p>
<p>額上屬心，左顴、目眥屬肝，右頰、鼻孔、目白屬肺，瞳神、下頦屬腎，眼胞、鼻準屬脾，口唇、人中屬胃。又如內明堂十二，外明堂十一，其部位各別，詳在《醫宗金鑑》。病輕者，隱約周於面色；病重得，乃顯分部位。一望各部俱帶青藍痿白者，外感風寒濕，表病也；各部俱帶浮紅或青者，外感風火燥，表病也；面色某部顯出痿白青悲，即某經虛寒，里病也；某部顯出紅紫微紋，或青藍滯色，即某經實熱，里病也。某部黧黑者，某經病進也；某部漸見光潤者，病愈也。《內經》有云：「赤如帛裹朱，不欲如赭；白如鵝羽，不欲如鹽；青如蒼璧之澤，不欲如藍；黃如羅裹雄黃，不欲如黃土；黑如重漆色，不欲如地蒼。（《素問·脈要精微論》）青如翠羽者生，赤如雞冠者生，黃如蟹腹者生，白如豕膏者生，黑如烏羽者生。（《素問·五臟生成篇》）」古人之言質直，不可拘執（人面白黑必無如羽如漆之理），以意會之，求其光明潤澤而已（凡表病兩臉必發燒，若燒退而病未去，則已入里，不可專用表劑）。</p>
<figure>
<img data-orig-src="urn:270:10351.jpg" alt="圖">
</figure>

<h2>3.怎樣聞診？</h2>
<p>問：何以聞？</p>
<p>聞者，察其聲音氣息，以審病所在也。假如其人聲濁音破，而或鼻塞呻吟迫速，而或頭痛口鼻氣熱者，是外感或寒或熱，表邪症也；或譫語者，邪火攻心，半表半裡症也。治宜辨是寒邪，則以熱藥散之；辨是熱邪，則以涼藥散之；半表半裡，則用散表兼防里，專經調治。如聲微音短，由於氣血內虛，鼻氣冷，口不臭，噴氣無氣味者，是虛寒里症也，治宜溫補；如呻吟腹痛，口氣酸糟者，熱滯也，治宜消滯行氣。如意欲大言，而喉音不爽，由於肺熱；小有怫意，動輒爭論，由於肝熱。鼻氣熱而嫌悶，口氣臭而酸糟者，是實熱里症也，治宜寒涼；如或大聲疾呼，癲狂罵詈者，是心火內迫也，治宜寒涼重劑。</p>

<h2>4.怎樣問診？</h2>
<p>問：何以問？</p>
<p>問者，究其病根也。老問有何不健，幼問有何不安。男問有無遺泄，女問有無閉經。總問有何要病。表問有無風、寒、燥、火、暑、濕，里問有無喜、怒、憂、思、悲、恐、驚。問平日有何種嗜好，問工商以執業情形，問士人以所攻何書。問症以審寒熱虛實，問病以分氣血痰鬱，問疾起何時，病因何起，初起何狀，病變若何，曾服何藥，有無效驗，思飲食否？（表有邪不思食，脾胃偏熱不思食，偏寒亦不思食，脾胃滯不思食。邪火思飲，脾胃熱思飲，實火思飲，惟虛寒者不思飲。或臥後常欲以茶水嗽口卻並不飲，但問如口中乾苦，齒根發熱者，皆實火上炎也。再憑舌與脈參看，分別表裡，以免致誤。）口中何味？（少陽邪口苦，肝膽熱口苦，胃熱逼膽口苦，實熱膽汁泄口苦，或咸或膠，皆為熱。表邪口淡，虛寒口淡，脾實口甜，胃熱口臭，寒滯口酸，熱滯口酸，再以舌與脈參看。）喜食何物？（辣味人所同嗜，寒人食之開胃益胃氣，熱人食之開胃損胃氣，脾虛喜食甜，脾熱亦喜食甜。肝虛喜食酸，肝熱亦喜食酸，皆憑舌脈，以別虛實，）夜能眠否？（邪火發燒者不能眠，實火內燥者不能眠，陰虛火旺者不能眠，陽盛灼陰者不能眠，痰鬱實結者不能眠，氣滯疼痛者不能眠，心虛不能眠，心熱亦不能眠。虛寒者昏昏欲眠，脾火困者亦昏昏欲眠，均須參看舌脈。）大小便順利否？（大便順利者無病，大便秘結二三日出一次者，多是實熱，間有腎血虛；溏泄無常者多為濕熱，間有虛與寒；瀉清水者為虛為寒，問有實熱。受寒濕者、感暑者則病瀉泄，脾虛者瀉泄，脾實者亦或瀉泄。腎寒者瀉泄，脾熱者瀉泄暑濕亦有瀉泄。大腸虛者為久痢，為脫肛；實者為便閉，為臟毒，為腸癰；大腸熱者為便血，為腸風，為脫肛；寒者亦久痢，或便血。肺熱者亦便血便膿。小便清長者無病，小便短白為虛，淡白為寒，黃赤短秘臭甚混燙均為熱。或淋，或帶膿血，均是實熱。黃白不清，濁如米汁是濕熱，混熱短秘是熱邪，混熱頻數是寒邪。小腸虛者，其溺赤短，或白數；小腸實者，其溺渾湯，或為腸氣腸痧；小腸寒者，白溺無臭氣，或為淋為尿膿尿血；小腸熱者，溺澀，溺短，或有膿血。腎虛寒者，小便不禁自出；腎實熱者，小便或澀，或濁，或出血。肺熱者，小便不利；肝熱者，小便不禁；心熱者，溺赤濁，或有血。症多相似，均憑舌脈以別之。）耳聾否？（少陽有邪耳聾，寒熱虛實，不得其平，均有耳聾，多屬腎脾二經。視舌脈辨別，專經調治。）目暗否？（邪火傳少陰腎經則目暗，實火逼肝肺腎則目暗。邪火、實火，惟急下以救真陰，若是腎虛目暗，則以地黃湯重加熟地，或能救之。）</p>

<h2>5。怎樣切診？</h2>
<p>問：何以切？</p>
<p>切者，診其脈之浮、沉、遲、數、虛、實，以驗病之表、里、寒、熱、虛、實。參之望、聞、問，有相符否，以決所以治也。脈分左、右、寸、關、尺，腕下高骨略尖處為關，近虎口為寸，近臂為尺。左寸屬心，心與小腸相表裡，經配膻中（膻中者，與心相附，居隔上，代君行事，臣使之官，喜樂出焉。王冰曰：在胸中兩乳間。朱肱曰：心之下有膈膜，與脊脅周迴相著，遮蔽濁氣，所謂膻中也。膻中亦即心包絡也。）左關屬肝與膽，經配膈（膈者，胸膈育也，在心脾之間。膈塞管上下使氣與谷不相亂也。膈本上下相離，若為火迫於胃，則膈淤塞而為膈食。）左尺屬腎，經配腹中，膀胱、小腸該焉。右寸屬肺，肺與大腸相表裡，經配胸中（胃脘上，應在喉，驗在中），右關屬脾屬胃。右尺屬腎，經配腹中；介腎之中者為命門火，蒸化穀食，名曰真陽，三焦、大腸均右尺所屬。凡診高長人脈，三指略流；診短小人脈，三指須密。凡診脈時，先調和口鼻氣，平靜呼吸，默記次數，五十收息。平按中部脈之往來，若過指有天機洋溢之象者，為六陽脈；若過指有地脈之隱微者，為六陰脈。或有反關脈，左右手俱反者，亦有六陰六陽之別。或一手反者，正為陽，反必陰；正為陰，反必陽，所謂半陰半陽脈也。陰陽既辨，乃收息靜候面部。輕按（即前部）以分表裡，中平按（即中部）以審寒熱，底重按（即後部）以辨虛實。又從三部之中，自重而輕，自輕而重，分指詳察，以判某經表裡寒熱虛實。輕按六脈俱浮是表邪，六脈俱沉無表邪，半表半裡宜細辨，即或有病向里尋。中按寒熱虛實里可見，底按寒熱虛實里尤分。一呼吸間，脈來四至，是和平無病；一二遲至為極寒，二三遲至亦為寒；三四弱至即為虛，一二弱至為極虛；五六數至即為熱，七八數至為極熱；五六長洪是為實，七八沉實尤為實。候各部之寒熱虛實，即以知各經之寒熱虛實。寒熱虛實提其綱，表裡陰陽揭其要。八脈（浮、沉、遲、數、虛、實、洪、緩八者，為脈之大綱）可判陰陽於臟腑，二十七字如剝繭抽絲（即二十七脈訣也）。八奇能通經絡之陰陽（陰維、陽維、陰蹻、陽蹻、沖、任、督、帶，是奇經八脈也）。二十七氣，如泉流不息（手三陰三陽，足三陰三陽，十二絡各有一別絡，脾又有一大格，任一絡，督一絡，共為二十七絡，氣之流通也）。此特約舉其概，脈經奧理，具有專書可考也。</p>

<h2>6．怎樣分別二十七種脈象？</h2>
<p>問：二十七脈如何分別？</p>
<p>浮脈屬陽，為表為邪，亦互見各屬。浮脈：輕浮在皮肉上，有風發內鼓之形，有輕清在上之象，輕按似有餘，重按如不足，如循榆莢，如風吹毛。有力表實，無力表虛，浮遲中風，浮數風熱，浮緊風寒，浮緩風濕，浮虛傷暑，浮洪虛熱，浮芤失血，浮散勞極。</p>
<p>沉脈屬陰，為里為實，亦互見各屬。沉脈：沉著在肌肉下，輕按卻不得，重按乃得之，如綿裹砂，內剛外柔，如石投水，必極其底。有力裡實，無力裡虛，沉則為氣，又主水蓄，沉遲痼冷，沉數內熱，沉滑痰食，沉結氣鬱，沉弱虛熱，沉緩寒濕，沉緊冷痛，沉牢冷積，沉芤不治。</p>
<p>遲脈屬陰，為里為寒，亦互見各屬。遲脈：一息三至，或一二至，來去極慢，為陽不勝陰，故脈來不及。有力為緩，無力為澀，有止為結，遲甚為敗，遲軟為虛，遲滯為實。遲脈主臟，有力冷痛，無力虛寒，浮遲表虛，沉遲裡寒。</p>
<p>數脈屬陽，為里為熱，亦互見各屬。數脈：一息五六至，或七八至。《素問》曰「脈流薄疾」，數為陰不勝陽，故脈來太過。數而弦急為緊，流利為滑，數而有止為促，數甚為極，數見關中為動。數脈主腑，有力實火，無力虛火，浮數表熱，沉數里熱，氣口數實肺癰，數虛肺痿。</p>
<p>滑脈屬陽中陰，為里為痰，亦互見各屬。滑脈：往來前卻流利輾轉，替替然如珠之應指。滑主痰飲，浮滑風痰，沉滑食痰，滑結頑痰，滑數痰火，滑短宿食。</p>
<p>澀脈屬陰，為里為虛傷，亦互見各屬。澀脈：細而遲，往來難，短且散，或一止復來，參伍不調，如輕刀刮竹，如病蠶食葉。澀為陽氣有餘，氣盛則血少，故脈來蹇澀，主血少精傷病。男人見之花柳傷，女人見之為胎病，無孕為血敗，有病均不宜。</p>
<p>虛脈屬陰，為里，為氣血虛。《脈經》云：「虛脈遲大而軟，按之不足，隱指豁豁然空。」傷暑虛脈亦常有，怔忡虛脈不為奇，陰虛脈虛多發熱，治虛以補最相宜，新病脈虛從症治，久病脈虛不用醫。</p>
<p>實脈屬陽，為里為熱，為鬱積，亦互見各屬。《脈經》云：「實脈浮沉皆得，脈大而長，微弦，應指愊愊然。浮沉有力為實，沉而實大微弦為牢。實為水穀之病，氣來強盛。」承其盛盛，是為太過。治實脈病，當知實者虛之，毋盛其盛。</p>
<p>長脈屬陽，為里，為氣壯，為有餘。《素問》云：「長脈如揭長竿末梢，為平。如引繩，如循長竿為病。」朱氏云：「長脈不大不小，迢迢自若。」無病人見之為和平。主壽年長永，有病人見之為熱實有餘。長有三部之長，一部之長，在時為春，在人為肝。心脈長，神強氣壯；腎脈長，蒂固根深，此言平脈也。</p>
<p>短脈屬陰，為里為氣虛。《脈訣》云：「短脈不及本位。」《脈經》云：「應指而還，不能滿部。」戴同父云：「短脈只見尺寸，若關中見短，尺寸不通，是陰陽絕脈，豈能治乎？故關脈不診短也。」黎居士云：「長脈屬肝宜於春，短脈屬肺宜於秋。」長宜春是可信，短宜秋則不可信。不論有病無病人，均不宜見短脈，無病人脈短，壽必不高。</p>
<p>洪脈屬陽，為里為熱，為陽盛炎火，又為陰虛失血。《脈經》云：「洪脈指下極大。」《素問》云：「來盛去衰，在卦為離，在時為夏，在人為心，謂之火，亦謂之鉤。」洪而有力為實，實而無力為洪。泄痢失血，久嗽者，不宜見洪脈。</p>
<p>微脈屬陰，為里，為血氣虛。微脈極細而軟，按之如絕，若有若無，《素問》謂之少氣，血微則脈微。仲景曰：「脈瞥瞥如羹上肥者，陽氣微，縈縈如蠶絲細者，陰氣衰。長病得之死，卒病得之生。」微主久虛血弱之病，陽微惡寒，陰微發熱。《脈訣》云：「歲中日久為白帶，漏下多時腎亦枯。」</p>
<p>緊脈屬陽，為寒為痛。《素問》曰：「緊來往有力，左右彈人手。」仲景云「如轉索無常」。緊乃熱為寒束之脈，故急數如此。《素問》又謂之急。中惡浮緊，咳嗽沉緊，見之不吉。</p>
<p>緩脈屬陰，為不寒不熱和平脈也，亦互見各屬。緩脈：一息四至，如絲在經，不卷其軸，應指和緩，往來調勻。在卦為坤，在時為四季，在人為脾。陽寸陰尺，上下同等，無有偏旺者，無病時也；若有互見，即為有病。浮緩為風，沉緩為濕，緩大風虛，緩細濕痹，緩澀脾虛，緩弱氣虛。</p>
<p>芤（音摳）脈屬陽中陰，為虛為失血，按之即無，舉之來至，旁實中空，象如慈蔥。主陽火傷血，陰火傷陰。《脈經》云：「三部脈芤，長病得之生，卒病得之死。」其所未能盡信，芤脈確不是吉脈。</p>
<p>弦脈屬陽中陰，為里為寒，亦為熱，為陰虛火亢，又為肝邪，亦互見各屬。弦脈：端直以長，如張弓弦，按之不移，從中直過，挺然指下。弦為木盛之病，浮弦外感熱邪，沉弦積飲內痛。瘧脈多弦，弦數為熱，弦遲為寒，弦大為虛。弦細拘急，陽弦頭痛，陰弦腹痛。</p>
<p>革脈屬陰，為虛為寒，革脈弦而芤，如按鼓皮。仲景曰：「弦則為寒，芤則為虛，虛寒相搏，此名曰革。男子亡血失精，婦人半產漏下。」不是吉脈。</p>
<p>牢脈屬陰中陽，為里，為寒，為實。仲景曰：「寒則牢堅，有牢固之象。」牢主寒實之病，扁鵲云：「軟為虛，牢為實。失血者，脈宜沉細，反浮大而牢者死，虛病見實脈故也。」失血陰虛，見之不吉。</p>
<p>濡脈屬陰，為里為虛寒，為陰虛亡血，又為傷濕。濡脈急軟而浮，如帛在水中，輕手相得，按之無有，又如水上浮漚，治宜溫補真陰。久病產中均有治，平人見之甚不宜。</p>
<p>弱脈屬陰，為里為陰，陽氣虛弱，脈極軟而沉細，按之乃得，舉手無有。仲景曰：「陽陷入陰，故惡寒發熱者常見弱脈。」亦互見各屬。《素問》曰：「脈弱似滑，是有胃氣；脈弱似澀，是謂久病。病後老弱見之順，平人少年見之逆。」</p>
<p>散脈屬陰，為里，為氣血虛脫。散脈大而散，渙漫不收，無統紀，無拘束，至數不齊，或來去多少不等，即亂脈也，不吉脈也，互見各屬，不在此論。戴同父曰：「心脈浮大而散，肝脈短澀而散，平脈也。心脈軟而散，怔忡（心跳也）；肺脈軟而散，汗出；肝脈軟而散，溢飲；脾脈軟而散，胻腫也。病脈也。腎脈代散，死脈也。」《難經》曰：「散脈獨見則危。」</p>
<p>細脈屬陰，為里，為血氣虛。細脈象蛛絲，應指下小直而軟，亦互見各屬。細數血熱，細短血鬱，細極虛損。寸細嘔吐，關細胃虛。《脈經》云：「細為血少氣虛，有此證則順，否則逆，故吐衄得沉細者生，憂勞過度者脈亦細。」</p>
<p>伏脈屬陰，為里，為邪閉火伏，為寒結內伏，為食積痰鬱伏，為頻吐氣痛腹痛伏，其症不一，詳審勿誤，伏脈重按著骨，指下才動，沉而幾無，有潛伏象。傷寒一手脈伏曰單伏，兩手俱伏曰雙伏，不可以陽證見陰為診，乃火邪內郁，不得發泄，陽極似陰，故脈伏，必有大汗而解，又有夾陰傷寒，先有伏陰在內，外復感寒，陰盛陽衰，四肢厥逆，六脈沉伏，須投薑、附、桂，脈乃復出。又有熱鬱內結，陽盛陰傷，四肢厥逆，六脈沉伏，須投大承氣湯下通之，脈乃復出，伏脈寒熱之辨，生死判焉，惟望舌苔則寒熱顯明，最宜謹慎。</p>
<p>動脈屬陽，為里，為邪氣內陷，數見關中，形如搖豆。仲景曰：「動則為驚為痛，陰陽相搏名曰動。陽動則汗出，陰動則發熱，形冷惡寒，此三焦傷也。」《素問》曰：「陰虛陽搏謂之崩。」又曰：「婦人少陰脈動甚者，妊子也。」</p>
<p>促脈屬陽，為里，為火熱，為陽盛。促脈來去數，時一止復來，氣血痰飲食五症，及三焦鬱火病，常有見之。</p>
<p>結脈屬陰，為里，為陰盛，氣血凝滯，痰鬱積聚之病。結脈往來緩，時一止復來，陰偏盛，欲亡陽。扁鵲曰：「結甚則積甚，結微則氣微。浮結外有痛積，伏結內有積聚。」</p>
<p>代脈屬陰，為里，為臟氣衰，下元虧損，中宮無主。仲景曰：「代脈動而中止，不能自還，因而復動。」病者見之猶可治，平人見之壽相關。</p>
<p>後人更有大脈之名，蓋欲湊合二十八字之數耳，其實即洪脈，可不贅也。</p>
<p>六陰脈，諸書皆略，惟岐伯《百脈經》云：「六陰脈，以若有若無為和平，反陰反陽，脈以四至之和為離，四至之平為即，越乎離即，便為洪數，余依陽脈減半推。」仲景曰：「六陽，乾脈也；六陰，坤脈也。」故六陰脈若有若無，不離不即，以柔為平。稍形浮數即為病，緩沉微細是康寧，診脈仍依陽脈例，准乎離即較分明。凡脈一息五至，肺、心、脾、肝、腎之氣皆足。五十動而一止，合大衍之數謂之平，反此而止則非平。腎氣不能至，則四十動一止；肝氣不能至，則三十動一止。蓋一臟之氣衰，而他臟之氣代至也。病人得之為病脈，平人得之卻非宜；傷寒見之也可治，妊娠見之胎應時；五十不止身無病，數內有止皆知定。四十一止一臟絕，四年之後多亡命；三十一止即三年，二十一止二年應，十動一止一年間，更觀氣色兼形證。應以日者，二動一止三四日，三四動止應六七，五六一止七八朝，次第推之自無失。</p>

<h2>7．怎樣辨浮沉遲數虛實洪緩八種脈象？</h2>
<p>問：浮沉遲數，虛實洪緩，八脈疑似之狀，可簡言之歟？</p>
<p>浮脈輕浮皮面中，渾如側耳聽松風，卻非洪大疑為散，（洪大脈來盛去衰，浮而有力為洪，異浮而似浮為散。脈大而散，有表無里，異浮而似浮。）表病能分脈理通。（脈浮為表病，）沉脈剛柔底中部，（沉脈內剛外柔，必按至底部，乃明其至數。）較來微弱不相同，（弱脈極軟而沉細，按之乃得，舉手無有，異沉而似沉。微脈極沉而軟，按之如欲絕，若有若無，異沉而似沉，）實為有力虛無力，（沉有力為裡實，沉無力為裡虛。）數熱遲寒一理通。（沉數為裡熱，沉遲為裡寒。）遲脈遲來狀若何，二三一息至無多，知非緩澀偏為慢，（《經》云：「脈來小駃，於遲為緩，即馬徐行，從容不迫，貌異遲而似遲」。《經》云：「澀脈細而遲，往來難，短且散，或一止復來，異遲而似遲。《經》云：「遲脈一息三至，去來極慢。」）表裡寒侵氣不和。（遲浮表寒，遲沉裡寒。）數脈應知至數多，（《經》云：數脈一息六至。又云：五六七八至，均為數。）中間起落兩頭拖，（如線從兩頭拖來，隱隱未停，而中間又起之貌。）緊彈促止休相擬，（緊脈往來數，此起此落，左右彈人手，兩頭無線拖，異數而似數。促脈來去數，時一止復來，異數而似數。）見在浮沉熱不訛。（數浮表熱，數沉裡熱。）虛脈形之（《脈經》：虛實相較，兩兩相形乃得）。實（脈）不同，按來應指豁然空，（《經》云：「虛脈遲大而軟，按之無力，隱指豁豁然空。」）可憐芤弱差相似，（《經》云：「芤脈浮大而軟，按之中央空兩邊實，狀如慈蔥，主血虛，異虛而似虛。弱脈極軟而沉，異虛而似虛。）陰損陽虧在箇中。（《經》云：「脈虛血虛，主陰損陽虧。」）實脈形（相較）虛（脈）卻不同，浮沉有力又長洪，（《經》云：「實脈浮沉有力，隨按皆得脈大而長，應指愊愊然。愊愊，堅也。」）微弦應指還愊愊，（如弓弦牽硬，愊愊然堅。）熱鬱偏陽便不通。（實脈病多是陽火鬱結，傷食燥煩，大便不通等症。）洪脈來盛去卻衰，大而無力又非宜，（《經》云：「洪實大而無力」。）陰陽偏勝虛傷血，（洪脈病多是陽盛陰，肝胃傷血，火炎肺金等症。）相火炎炎熱病時。緩脈緣何可使知，診來四至最相宜，從容應指精神健，無病和平協四時。（緩脈應指和緩，往來甚勻，一息四至，不論有病無病，得之均吉，若互見別脈則是病。）</p>

<h2>8．浮沉微洪四種脈象怎樣隨人而異？</h2>
<p>問：浮沉微洪四脈亦隨人而異乎？</p>
<p>仲景《秘傳》（書名）有辨脈精要曰：肥人脈沉不為沉，沉而有力乃為沉；（肥人肉厚，輕手按均似沉，必重按至底，鼓指有力乃為沉。）瘦人脈浮不為浮，浮而輕浮乃為浮；（瘦人肉薄，舉手即得脈，輕手按均似浮，必靜按有輕浮皮面之狀，乃是浮。）士商脈小不為微，靜躁分之小微見；（士商脈不盡小也，而往往有小者，必其人靜而不躁也。人靜者，脈小不為微；人躁者，脈小即為微。）農工脈大不為洪，氣力辨之洪大異。（農工脈不盡大也，而往往有大者，必其人有力而氣粗也。力粗者，脈大不為洪；力少者，脈大乃為洪。）五行分別在其中，（金人脈沉肺經病，木人脈沉心肝病，水人脈沉脾胃病，火人脈沉五臟病，土人脈沉是無病。五行有病沉脈分，沉脈應知皆里症。）六氣侵時卻不同。（六脈俱浮是表邪，六脈俱沉無表邪；六氣不侵脈不浮，六氣侵之脈必浮。浮在某關某經病，遲數虛實辨其症。）</p>

<h2>9．什麼是七怪脈？</h2>
<p>問：七怪脈之狀若何？尚可治療否？</p>
<p>舊訣云：脈如雀啄止復來，（如雀啄食，忽然止絕，頃倏復來，肝經絕也。）屋漏半日一點落，（如破屋漏雨，半時一滴，胃經絕也。）彈石硬來應指堅，（如指彈石，堅硬莫匹，腎經絕也。）搭指散亂如解索，（至數多少不準，散亂如索之解散，脾經絕也。）魚翔似有亦似元，（重按不動，輕按彈搖，似有似無，如魚之翔，心經絕也。）蝦游靜中忽—躍，（指下儼有累累如貫，少焉而止，久之忽然一躍，進退難尋，如蝦之遊，大腸絕也。）更有釜沸湧如羹，（浮沉亂鼓，至數難分，如釜湯沸羹，肺絕也。）旦占夕死不須藥。（家訓云：順症見此確是絕脈，若痛症、閉症、熱極症、假絕症見此等脈，亦未為絕也。惟宜舍脈憑舌症較對，有可醫者。）</p>

<h2>10．脈法以外還有什麼審病法？</h2>
<p>問：《內經》脈要精微論尺內尺外一節，釋之者或稱內外側，或指前後部，人執一詞，紛如聚訟。方寸之脈，古人已多疑竇，況岐黃切脈本不拘於兩手，諸法失傳，第執寸關尺求之，或以兩關屬脾，或以三部分三焦，或以手按輕重分三焦，或云六部皆肺脈，或云男女相反。諸書所言各有其理，今人通行之法，安知其必無誤乎！名目雖多，臨證輒迷，血氣強弱，情狀萬殊，病體脈亂，往往怪絕。脈法實難盡恃，果有他法以審眾病乎？</p>
<p>察脈微渺，難臻神明，病脈多變，易致差謬。余家祖傳有辨舌之法，以濟切脈之窮。三寸舌上，以前後左右分臟腑部位，以淡白黃黑諸色判病證之寒熱虛實。小病主舌參脈。大病舍脈憑舌。凡病重人脈伏脈代，即病不甚重之人，脈亦有時而亂，（實因血氣不舒所致，並非絕症也。）《脈訣》所云不治者，醫者泥於古書，即棄而不顧，雖有孝子慈孫，亦無從設法挽救。不知舌色顯分寒熱，皆可對病立方，應手而愈。辨舌勝於辨脈，余家行之五六世，確有把握。</p>

<h2>11．臟腑在舌面上的分屬部位如何？</h2>
<p>問：舌與臟腑相應，何以辨之？</p>
<p>軒轅氏有云：「舌為人身之根苗，脈乃人身之枝葉。斷手足者或可補，斷舌本者無可救。」凡人有病，見於舌而應於脈，能辨舌色，能診脈理，症自顯然。舌根主腎命大腸，應小腸膀胱；舌中左主胃，右主脾，左右合之，脾胃互相應；舌尖面上中間界主肺，舌尖主心、心包絡、小腸、膀胱，應大腸命；舌邊左主肝，右主膽，左右合之，肝膽互相應。全舌根統為下焦應，舌中統為中焦應，舌尖統為上焦應。上焦心肺居之，中焦脾胃居之，下焦肝腎膀胱大小腸居之，此三焦之應也。列圖於上。</p>
<figure>
<img data-orig-src="urn:270:10352.jpg" alt="圖">
</figure>

<h2>12．怎樣望舌辨證？</h2>
<p>問：憑舌辨證之法？</p>
<p>凡舌色正紅，不深不淺，不赤不紫，不粗不澀，津液如常者無病。或微有或黃或白之淺薄漲膩，一刮即淨者，此因食物中之寒熱不等，稍有留滯在胃中，胃氣盛者，片時轉運，即能消化，此亦無病。凡感冒最淺者，多未見於舌。假如舌津如常，色不白不黃不赤不紫，無苔無膩，無點無罅，無滑無粗，無干無澀，或津液稍有牽絲，或鼻塞，或鼻流涕，口不渴，不思食，頭痛目眩，畏風畏寒，乍冷乍熱，周身、兩臉、皮膚、鼻氣俱熱，不能走動者，此外感太陽表邪也。戒食油膩，邪淺者飢餓三五日，勿藥自痊。若治之，當審其感熱邪者，以涼散藥發太陽表邪；感寒邪者，以溫散藥發太陽表邪，得汗即愈。若舌微有白浮漲膩而滑，或微有黃，浮漲而澀，或津液有絲無絲，或口渴或不渴，或口苦，或耳聾目眩頭痛，周身皮膚俱熱，或寒熱往來者，此外感少陽表邪也。治當審其寒熱，分寒熱用散藥以發少陽表邪，得汗乃痊。若感冒而夾有滯者，治法宜慎，切勿感寒妄以寒藥散，感熱妄以熱藥散，以致盛邪入深。《經》云：「行滯先驅風。」勿遽用神麯、麥芽、枳實等消導藥，引邪入里。尤勿誤用桂、附、參、耆、朮、地、芍等溫補藥，助邪入里。太陽，邪之最淺者，發表必分經用藥。倘不辨深淺，一遇感冒，即用能通行十二經之散藥，混亂髮之，則十二經有未感邪者，亦散之使到矣，不可不知。若舌少有白苔漲而極光滑，津液多水者，寒也；或有浮黃漲而澀，津液牽絲或帶膠者，熱也。或各部舌色已各分，邪在半表半裡矣，治當辨寒熱，分經發表和里以解之。若舌有浮膩漸積，如水發麵粉形，或舌點粗白，（僅點耳。倘全舌粗白，或一片粗白，即為熱矣。）或少有淺黃色，（所謂色者，尚未成苔，若已成黃苔則熱矣。）是寒邪將入里，挾濁飲而欲化火也，仍當辨寒熱，發表和里解之。（以上皆論感冒表證。）若浮膩積成黃苔，舌中一路有老黃色，是寒邪入里已化火也，溫散表藥概不能用，當以竹葉石膏黃芩等湯，從里散出，兼令邪從汗解。若邪火熾甚，藥不勝症，舌中一路變黑色，苔厚芒刺結實刮不淨者，當用白虎湯，加知、柏、芩、連，不次急投，可以救之。若舌黑而乾燥焦裂，津液枯，舌卷囊縮，或厥逆者，邪傳厥陰肝經，惟急用大承氣湯（去甘草）。十能救七。倘不憑舌辨，謂據脈以定方，是欺己欺人，十不救一。蓋舌症至此，脈必散亂，或浮伏無憑，苟泥俗書時醫之論，明知邪傳厥陰，而彼為邪傳少陰；明是邪傳少陰，而彼謂邪傳太陰，偏用五苓散等藥者，百投百誤。更有時醫偏於溫補者，明是熱邪傳入三陰，彼偏謂寒邪直中三陰，舌黑囊縮厥逆，其症本相似，惟笑其不辨舌黑之寒熱，熱症作寒症治，輒用附子理中湯，白通加豬膽湯者，是殺人不用刀也。大凡邪傳入三陰者，憑舌對症，然後憑證對脈，脈如不對症，急舍脈憑舌。如見舌黑苔厚而澀，芒刺干裂者，不必泥於太陰、少陰、厥陰之所屬矣，當用破格白虎三黃等藥重劑急投，以御邪火燒陰。復循環連用大承氣湯，上以承邪氣，下以瀉邪熱，急下以救真陰。不拘劑數，以效為準，有識者十能救九，否則十不救一。此家傳之說也，乃言辨傷寒傳經之黑舌也。又有寒邪或熱邪直中三陰者，舌黑舌卷囊縮厥逆，其狀相似，其脈多伏而沉細，甚難分別，如謂憑脈定症，是欺人之談，惟望舌則寒與熱必瞭然矣。其中寒邪者，則舌黑必無苔、無罅，光亮滑濕，如水浸腰子，淡淡融融形，舌卷囊縮厥逆，均似中熱者，而實是寒。治當用破格附桂理中大溫補藥，不次急投，毋稍遲誤，必能立痊。其中熱邪者，則舌黑必有苔粗澀，或罅裂焦燥如鐵銼，暗暗藍藍形，舌卷囊縮厥逆，均似中寒者，而實是大熱。治當用破格白虎承氣三黃大寒涼藥，不次急投，毋稍遲誤，必能立痊。寒熱之判，存亡關焉，辨准寒熱，用藥十能救十，否則十不救一。此家傳之說，乃辨寒邪熱邪直中三陰之黑舌也。若無感冒風邪，而全舌俱白，色淡紅，色或灰，色或濕白。凡無苔滑亮，明淨如鏡者，均是寒，以熱藥治之。或舌中微有白膩，如麵粉浸水刮下尚未成苔者，為寒滯積中，以溫熱行氣行滯藥治之。或舌光亮淡紅色，多水油滑無苔，或微微有浮白沫多津，口不苦，均為虛寒，以溫補治之。或舌藍而光澤無苔，或舌黑而濕滑無苔，無點，無罅，無芒刺，如水浸豬腰形者，為極虛寒，宜用薑、附、桂、參、茸、耆、術，大劑急投。又有陰虛腎虧，舌藍舌黑者，無苔，無罅，無點，隱與寒舌相同；有藍，有黑，有干，隱與熱舌相同。惟將寒熱舌詳細比較，顯然不同。陰虛火旺已成者，多絳舌如錢，發光亮而無苔，（臟腑功用已失，不能顯苔也。如尚能見厚者，仍當作實熱以苦寒救之。）或舌底嗌乾而不飲冷者，為腎水虧極，均宜大劑六味地黃湯以滋水制火，或能救之。若全舌深紅赤色紫色或黃色，凡粗澀乾焦有黃苔膩有罅紋者，無論何病，均為實熱，以寒涼藥治之。或舌中有黃膩苔，如發麵粉黏水形者，為熱滯積中，以寒涼藥行氣消導治之。舌膩浮積淡黃色，實熱而兼有新滯也；舌膩厚積老黃色，實熱而兼有積滯也；有苔黑澀厚膩乾者，腹中必有燥糞黏久如確石，均當以大承氣湯瀉之。如舌有老黃苔、芒刺、肉釘、朱點、橫罅、直罅，或乾裂，或粗澀，或黑色、藍色、暗色，如煎焦豆腐形者，或伸不出，或大或痛者，皆因瘦人熱病。醫者誤指為虛，多服溫補藥，燥損真陰，熱傷肺腎脾肝胃五經所致，甚至吐血者，治宜以破格方重用石膏、犀角、大黃、芩、連等藥，以解藥毒為救療也。更有全舌老紅色，雖無苔，而中間裂一深渠者，脾胃熱而競爭分界也。其為病多是口乾苦，夜不酣眠，或煩躁，或吐痰見血，或下血不等。又有舌或黃或赤，獨見某經如剝去皮而赤紅者，皆因誤服熱藥，燥傷某經之據也，又或全舌赤黃有苔，橫交十字罅裂，舌邊凹凸不齊，爛如木耳形者，因誤服溫補，熱傷臟腑而然也；又有舌無苔，而色紅有倒插細芒刺，形如虎舌、貓舌者，是臟腑實熱極也；又有全舌黃白花點而少津者，亦臟腑實熱也。以上各熱舌，分經辨准，則用苦寒藥可以救補。凡症之虛者，舌必無苔而色淡，明潤光淨，口不苦；凡有罅紋，及有厚苔之舌，皆屬實熱，必非虛症；凡舌有厚苔者，雖似白色，仍作為黃苔。因此苔由淺而深，將黃未黃，非真白也。苔之在舌，比之面上敷粉，其色與舌為二物，是熱也。刮去垢膩苔，底質必有幾處粗澀如洋絨，（黃苔或似白棉紙，或似桑皮紙，中深旁淺，或有罅縫，或有細紅點。）即臟腑蒸熱之據，勿誤認為白苔。凡真白舌光滑濕潤，無小紅點，無裂紋，色與舌為一，是虛寒也，拭之有沫無苔，亦不變色。凡虛寒舌，無多異色，惟實熱症，色之變態多端。凡黃苔中之罅縫裂紋，彷彿十字川字爻字，或交互如絲，或淺而細，或深而粗，甚或凹凸不平者，大都體熱人，誤服溫藥、補藥、滋陰黏膩藥所致。凡黃舌漸輕，前半鮮明有水，後半膩澀者，腎腸仍有熱也，夜必口苦。凡口苦唇燥無虛寒之理。凡陰虧之舌，絳色無苔，非紅非紫，難以筆述，其色瘀滯如鮮瘦豬肉。（重者則如將腐之肉，割分一縫，顯其惡色之狀。陰虧自成者甚少，往往於陽火偶偏時，醫者誤用滋陰藥膠澀而成。）舌之某經（看前圖）顯出某色，即知某經寒熱虛實之病。寒者溫之，熱者涼之，虛者補之，實者瀉之，隨經審酌。若大虛寒，大實熱，須用重藥，有病則病當之，勿過慮也。有食物能使舌黑者，如食酸菜、芋苗、薯葉、風菜、酸醋、淡菜、橄欖、澤瀉花、向日葵、枇杷、洋桃、墨，略舉數種，可知大概。或煙癮深者，舌亦易黑。辨舌時，宜慎察之，勿以偽亂真。有生成黑苔者，或舌中黑，舌邊黑花黑點，或全舌皆黑，謂之狗舌，賤人有之，亦不為病，其黑究與病舌不同。凡舌以無苔無膩，正色正紅，不深不淺，無點無罅，明淨如健旺小兒之舌者為吉。常有健人與嗜飲之人，血氣壯旺時，其舌或有厚苔膩，或黃或白，病狀未發，病根早伏，識者憂之，此名宿食停濕之舌。若遇六氣浸淫為燥發者，多是邪中厥陰，藥難施救。為濕發者，多是手足拘攣，半身不遂。善保生者，宜防病於未發之時，看舌苔常有厚膩，則戒酒節食，頂為審經消導；去其宿濕，毋令停積於中焦，否則鬱久內熱，濕久變生，深為可慮。凡人病至舌黑者，為陽極損陰，陰極損陽，不論寒熱虛實，均不宜見。若舌黑僅見脾胃經，治之速則愈之捷；若調理失宜，由脾胃經黑至肝肺膽經，治已萬難。由肺經而延黑及心經，則膏肓已入，或黑注腎經，則真陰立絕矣。</p>

<h2>13．十二經及所屬臟腑為何？</h2>
<p>問：十二經陰陽所屬臟腑？</p>
<p>肺手太陰，心手少陰，心包絡手厥陰（此臟即附於心，）小腸手太陽，三焦手少陽，大腸手陽明，脾足太陰，腎足少陰，肝足厥陰，膀胱足太陽，膽足少陽，胃足陽明。臟，五臟也。臟者，藏也。精藏於腎，神藏於心，魂藏於肝，魄藏於肺，志藏於脾。腑，六腑也。張仲景《金匱》論言：「人身臟腑中陰陽，臟者為陰，腑者為陽，心肝脾肺腎五臟皆為陰，膽胃大腸小腸膀胱三焦六腑皆為陽。」注云：五臟屬裡，藏精不瀉故為陰；六腑屬表，傳化物而不藏，故為陽。」</p>
<p>十二經手足順推，先手後足，手太陰、手少陰、手厥陰、手太陽、手少陽、手陽明、足太陰、足少陰、足厥陰、足太陽、足少陽、足陽明是也。十二經陰陽逆轉，先陽後陰，足太陽、足少陽、足陽明、足太陰、足少陰、足厥陰、手太陽、手少陽、手陽明、手太陰、手少陰、手厥陰是也。十二經絡傳度，由淺入深，起於太陽，止於厥陰，太陽、少陽、陽明、太陰、少陰、厥陰是也。此十二經順推逆轉傳度說也。</p>

<h2>14．十二經及所屬臟腑的相互聯繫是什麼？</h2>
<p>問：十二經所屬部位，及各經受病時表裡寒熱虛實，何以分別？</p>
<p>膀胱足太陽屬腑，水府也。張仲景云：太陽腑屬表。《素問》曰：州都之官，津液藏焉，腎氣統焉。氣化則能出入，氣不化則水歸大腸為泄瀉出，氣不化則閉塞下焦為水種。膀胱氣化則小便利，傷寒傳經之邪，每自膀胱入，一見頭痛皮膚兩臉發熱等症，即宜散太陽表邪，毋使深入。膀胱有表症，亦有里症，感邪則左尺脈浮，寒則左尺脈沉遲，熱則左尺脈數，實則左尺脈洪大，虛則左尺脈沉細。膀胱寒舌尖白，熱舌尖赤，虛舌尖白嫩，實舌尖紫赤。</p>
<p>膽足少陽屬腑，肝之腑也。肝主仁，仁者不忍，故以膽斷而有勇。肝膽相異，何以相為腑？肝乃木之精，人怒則色青目張，是其效也。《素問》曰：膽者，中正之官，決斷出焉。居半表半裡之交，與肝為表裡，血氣盛者膽壯，衰者膽怯。膽受邪即陰陽交戰，寒熱往來，故瘧症不一，卻不離乎少陽也。膽有表症，亦有里症。膽感表邪，左關脈必浮，舌邊有不正色，寒則左關脈遲，熱者弦數，虛者細軟，實者洪。膽寒則舌右邊白，熱者舌右邊黃赤口苦，虛者淡白，實者紫赤。</p>
<p>胃足陽明屬腑，居中土，谷府也，司受化穀食，司受食物。《經》云：得谷者昌，失谷則亡。胃者脾之腑，谷之委，故脾稟氣於胃，其性與脾同而畏木侮。舌之中，牙之根，口唇四環交於人中，皆胃所屬部位。胃為陽明，有經有腑，故有表症有里症。胃有表邪，右關脈必浮，舌中有浮漲。寒，右關脈沉遲，舌中苔白；熱，右關脈洪數，唇紅口臭，舌中紅赤，或黃苔；虛，右關脈弱，舌中色淡白，唇亦白；實，右關脈必洪實，舌中紫赤，或有黃苔，刮之不淨。</p>
<p>脾足太陰屬臟，土臟也。脾主信，藏志，信生於土。脾在胃下，助胃氣，主化穀食，後天之本也，下受命門之火，以蒸化穀食，上輸穀食之液，以灌溉臟腑。脾土旺，則血氣自壯。其性畏濕漬，畏火困，不偏寒熱，則轉運自強，與胃相表裡。中焦、眼胞、鼻準、四肢，是脾所屬部位。脾無表症，皆屬於里。脾寒，右關脈必沉遲，舌中色白，或苔白；熱，右關脈數，舌中紅赤，或黃苔；虛，右關脈必細弱，舌中淡紅帶白；實，右關脈洪實，舌中紅赤，或黃苔厚積膩。</p>
<p>腎足少陰屬臟，腎主志，藏精，皆水之為也，天一之水，先天之本也。其體處腰左右，介其中者有命門火，蒸化穀食，名曰真陽。腎水充足，自多誕育，壽年永固。若好色過度，損竭腎水，即為陰虛之病。瞳神、下頦、兩腰間，是腎所屬部位。腎病皆屬裡症，無表症，亦無實症。腎熱，左右尺脈必沉數，舌根有老黃苔或黑色；腎寒，左右尺脈沉遲，舌根無苔而色白；腎虛，左右尺脈細弱，舌根與寒同色。（虛寒本相連，無甚別也。）</p>
<p>肝足厥陰屬臟，左三葉，右四葉，以膽為腑，附脊第九椎，為陽中少陽，通於春氣。《素問》曰：肝者將軍之官，謀慮出焉。東方木也，色屬青，其性剛，賴血以養，最易動氣作痛，其風又能上升而痛於頭上。左顴、目眥、兩脅以下及少腹陰囊，皆肝所屬部位。肝無表症，並屬於里。肝寒，左關脈沉遲，舌左邊白；肝氣，左關脈弦數，舌左邊紅赤，口苦；肝虛，左關脈弱，舌左邊淡白；肝實，左關脈弦而洪，舌左邊紫赤。</p>
<p>小腸手太陽屬腑，受盛之官也，化物出焉。其上口即胃下口，水穀由此而入；其下口即大腸上口，此處分別清濁，俾水液注入膀胱，滓穢流入大腸。是腑中之有鑑別者，故與心相表裡，脈附於膀胱而在左。小腸無表症，皆屬於里。小腸寒，左尺脈遲，舌尖白；熱，左尺脈數，舌尖紅；虛，左尺脈弱，舌尖淡白；實，左尺脈洪弦，舌尖紫赤。</p>
<p>三焦手少陽屬腑，人生三元之氣，臟腑空虛處也。上焦心肺居之，中焦脾胃居之，下焦肝腎膀胱大小腸居之。其氣總領臟腑營衛經絡內外左右上下之氣，三焦調和即為無病。三焦之病，即屬諸臟腑，不別分表裡也。</p>
<p>大腸手陽明屬腑，腎陰之竅，傳道之官，受事於脾胃，與肺金相表裡。故肺氣虛，則腸若墜，而氣為之陷；腸液少，則肺亦燥，而鼻為之干。大腸口上接小腸，下通穀道，為諸臟泄氣之門，啟閉失職，則諸臟困而為病也。大腸無表症，皆屬裡。大腸寒，右尺脈沉遲，舌根白淨；熱者，多因肺經移熱所致，右尺脈數，舌根黃而有膩；虛，右尺脈沉弱，舌根淨而白滑；實者，胃移熱實居多，右尺脈洪實，舌根黃而粗澀，或有釘刺苔膩。</p>
<p>肺手太陰屬臟，金臟也，主藏魄。形如華蓋，六葉兩耳，凡八葉，附脊第三椎，配胸中，與大腸相表裡，為陽中太陰，通於秋氣。《素問》曰：肺者相傅之官，治節出焉。為諸陽之首，聲之出入，氣之呼吸，皆肺司之。其性嬌嫩，與火為仇，西方色宜白，酉金體畏燥。腎水充，則火不爍金；肺氣旺，則年壽長永。眼白及右頰、鼻孔、咽喉，皆肺所屬部位。肺有里症，亦有表症，肺主皮毛故也。肺若感邪在表，右寸脈必浮，皮毛感邪之淺者，多未見於舌。肺寒，外感居多，右寸脈遲，舌色無別；肺熱，右寸脈數，舌尖面中紅；肺虛，右寸脈細弱，舌尖面中淡白；肺實，右寸脈有力洪實，舌尖面中紫赤。</p>
<p>心手少陰屬臟，火臟也。南方赤色心屬火，人形之君，神明之主，得血以養之，能運慧思，用才智。胸下歧骨陷處、額上、手足心，皆心所轄部位。心無表症，均屬於里。心寒，左寸脈遲，舌尖色白；熱，左寸脈數，舌尖赤；虛；左寸脈弱，舌尖淡白；實，左寸脈弦而大。心之實，邪入之也，心不受邪，其受者包絡耳，舌尖必紫赤。</p>
<p>心包絡手厥陰屬臟，《經》云：膻中是也。與心相附，居隔上，代君行事，臣使之官，喜樂出焉。包絡之病，即心部之病，可以該之，故言五臟六腑，包絡附於心臟也。</p>

<h2>15．十二經各種證候的表現和治法如何？</h2>
<p>問：各經表裡寒熱虛實諸病狀及諸治法？</p>
<p>表者，外也；里者，內也。膀胱為太陽腑，有表症里症；肺主皮毛，有表症里症；膽為清虛之腑，居半表半裡之交，有表症里症；胃為陽明，有經有腑，有表症里症；心及心包絡、肝、脾、腎、大腸、小腸，皆屬裡症，無表症；三焦之症，表裡即屬於臟腑。</p>
<p>表有寒邪，惡風惡寒，身熱無汗，乍寒乍熱，頭暈，目眩，脊強（上聲）身疼，四肢痠軟，兩臉皮膚鼻氣俱熱，或鼻塞或不塞，或咳嗽或不咳嗽，口不渴，舌白多水，或有苔或無苔，不思飲食不等，六脈浮遲是也，治宜溫散表藥。</p>
<p>表有熱邪，惡風惡寒，身熱無汗，乍寒乍熱，頭暈目眩，脊強身痛，四肢困倦，兩臉皮膚鼻氣俱熱，或鼻塞或不塞，口渴口乾，少水，舌黃舌赤，或有苔或無苔，不思飲食不等，六脈浮數是也，治宜涼散表藥。</p>
<p>表有虛症，畏風畏寒，腠理不固，動作汗出，周身軟倦，未熱先熱，未寒先寒，六氣常侵，四時多病。口味淡，汗出無常，舌色淡，必無苔，不能飲食，六脈浮弱是也，治宜固表升提。</p>
<p>表有實症，不畏風寒，一身皮膚手足皆發熱，或紅赤或斑黃，或癢痛，或浮腫。舌黃，舌赤，口乾，氣熱，六脈浮洪而數實是也，治宜涼散瀉解之藥。</p>
<p>膀胱為太陽腑，是表症第一關隘。舌或紅黃白不等，左尺脈浮。其症為頭痛者，頭腦痛而連項脊也，宜加味香蘇散，甚者加羌活、蔥白；項脊強者，太陽經所過之地也，宜香蘇散；身痛四肢拘急者，風傷衛（氣也），寒傷營（血也），寒主收引也，寒者宜桂枝湯；身痛四肢拘急者，風傷氣，勢傷血，熱則拘牽也，熱者宜竹葉薄荷湯；發熱者，腠理閉塞也，宜香蘇散；惡寒無汗者，若風寒則用香蘇散，風熱則宜薄荷湯；喘嗽者，寒邪客於皮毛，肺氣不得升降也，宜麻黃湯、止嗽散。若風熱喘嗽者，則宜桑白石膏湯。</p>
<p>里有膀胱寒，舌尖色白，左尺脈沉遲。其症為冷淋者，寒氣堅閉水道，肢冷喜熱也，宜金匱腎氣丸。</p>
<p>里有膀胱熱，舌尖紅赤，左尺脈數，其症為小便不通。渴則熱在上焦，宜四苓散加山梔、黃芩；不渴則熱在下焦，熱人用白虎三黃湯加木通、車前、蘇茯苓、澤瀉；虛人用滋腎丸。膏淋者，滴液如膏也，宜萆薢清飲；石淋者，下如沙石也，宜益元散加琥珀。小便膿血者，心氣遺熱於膀胱也，熱人用白虎三黃湯加木通，虛人宜阿膠散。發狂者，傷寒熱結膀胱，下焦蓄血，小腹硬滿也，宜調胃承氣湯。</p>
<p>里有膀胱虛，腎氣不化也，舌尖色白而嫩，左尺脈細沉。其症為小便不禁者，氣虛不能統攝也，宜十補湯。勞淋者，勞力辛苦，氣血不化也，宜補中益氣湯。</p>
<p>里有膀胱實，舌尖紫赤，左尺脈洪大。其症為氣淋者，氣滯水道阻塞，臍下脹痛也，宜假蘇散；血淋者，蓄瘀莖中，割痛難忍也，宜生地四物湯，加紅花、桃仁、花蕊石。關格者，溺閉而吐逆也，宜假蘇散；膀胱氣者，一名胞痹，氣結膀胱，小腹熱，澀於小便也，宜橘核丸。</p>
<p>肺有表症，邪在表，舌色如常，或黃白紅不等，右寸脈浮。其症為身發熱者，兩臉熱者，腠理閉也，宜香蘇散；噴嚏鼻塞者，肺竅受邪也，宜二陳湯加蘇葉、生薑；咳者，無痰而有聲，氣為邪遏也，宜桔梗前胡湯；嗽者，有聲有痰，液已化痰也，宜止嗽散；喘者，風寒閉塞也，宜加味甘桔湯；畏風畏寒者，邪在皮毛也，宜香蘇散；胸滿悶痛者，氣鬱而脹也，宜加味甘桔湯；喉痛者，邪化火而內焰也，宜加味甘桔湯；鼻氣燥者，邪化火而液干也，宜貝母瓜蔞散。傷暑風者，惡寒、頭痛、煩渴，宜香薷飲加荊芥、秦艽；中時疫者，初頭痛發熱，漸嘔惡、胸滿，或脹悶、譫狂、唇焦、口渴，先宜香蘇散，次宜神朮散及治疫清涼散，如便閉則宜加大黃。</p>
<p>里有肺寒，舌之肺經色白，右寸脈遲。其症多外感為清涕者，寒搏其液也，宜二陳湯如蘇梗；咳嗽者，金畏寒也，宜止嗽散，或薑、附、桂；惡寒者，陰忌其類也，宜香蘇散；面色痿白者，寒傷正氣也，宜六君子湯。</p>
<p>里有肺熱，舌之肺經色黃赤，右寸脈數。其症為目赤者，火剋金也，宜蒺藜、桑白、黃芩、黃連、菊花、連翹；鼻衄者，血熱妄行也，宜犀角白虎湯，或三黃湯、茜根湯酌用；咽痛者，火逼咽道也，宜黃芩（三錢），山豆根、甘草、桔梗（各一錢），薄荷（四分）；吐血者，火動其血也，宜犀角石膏湯，或地黃湯加減：咳嗽濃痰者，火刑金而灼肺液也，宜黃芩知母湯；酒積鼻赤、鼻瘡者，濕熱內蒸也，宜黃芩清肺飲加葛花；龜胸者，肺熱而脹也，宜白虎湯；小便不利者，火爍金而化源窒也，宜梔子、車前、木通；便血者，肺與大腸相表裡，火迫血行也，宜芍藥甘草湯加黃芩、丹皮、生地。</p>
<p>里有肺虛，舌之肺經必無苔，色淡，紋嫩，右寸脈細弱。其症為自汗者，氣虛表不固也，宜八珍湯加黃耆、北五味；咳嗽者，肺虛不安也，宜五味異功散；氣急者，金不生水，而虛火上炎也，宜知柏八味丸；咯血者，陰虛動心火也，宜犀角生地黃湯加生桑白、生荷葉：肺痿者，火刑金而葉焦也，宜五痿湯加天冬、百合，或人參燕窩百合湯；虛勞吐血者，火剋金而成之症也，宜六味地黃湯滋水制火。</p>
<p>里有肺實，舌之肺經必有苔膩，右寸脈洪實，其症為氣閉者，氣壅塞氣絡而滿悶也，宜加味甘桔湯；痰閉者，頑痰阻塞也，宜清膈煎；暑閉者，暑邪中肺而煩渴也，宜六一散加香薷、木通；水閉發喘者，胃經蓄水作腫而浸肺也，宜五皮飲；風閉者，風鬱於肺而哮嗽也，宜麻黃湯；火閉者，火鬱於肺而喘脹也，宜白虎湯加桑白、葶藶；咽疼者，諸閉皆能作火也，宜加味甘桔湯；右脅疼者，肝移熱於肺也，宜黃芩（三錢），梔子（二錢），桑白、枳殼（各一錢），生甘草（五分）；肺癰者，隱隱而疼，吐痰腥臭也，宜桔梗湯。</p>
<p>膽有表症，舌或紅、黃、白不等，左關脈浮而弦。其症為頭汗者，寒邪化火也，宜小柴胡湯加丹皮；寒熱往來者，陰陽相爭而為瘧也，宜小柴胡湯。</p>
<p>里有膽寒，舌邊白，右關脈遲。其症為精滑者，肢腫、食少、心虛、煩悶、坐臥不安，宜溫膽湯；嘔吐者，邪正相爭也，宜小柴胡湯加藿香。</p>
<p>里有膽熱，舌邊或黃、赤、紅，左關脈弦數。其症為口苦者，熱在膽，膽汁泄也。兼有表症者，宜小柴胡湯；無表症者，宜龍膽草瀉之。</p>
<p>里有膽虛，舌邊淡白，左關脈細軟，其症為驚悸者，心血不足以壯之也，宜安神定志丸；太息者，氣虛也，宜四君子湯。</p>
<p>里有膽實，舌邊或紅、黃、紫，左關脈洪。其症為胸滿者，邪氣結聚也，宜小柴胡湯加枳殼；脅痛者，邪入膽經，布之脅下也，宜小柴胡湯加山梔、枳殼。</p>
<p>胃有表症，舌中或白、亦、黃不等，右關脈浮。傷寒邪入陽明經，其症為目疼頭重，鼻乾唇焦舌燥者，邪熱作火也，宜葛根竹葉石膏湯酌用；面浮腫而痛者，感風也，宜葛根湯；斑疹者，邪熱所化也，宜葛根湯加牛蒡子，甚者，犀角白虎湯或承氣湯酌用。</p>
<p>里有胃寒，舌中白，唇亦白，右關脈沉遲。其症為胃脘痛者，肢冷氣冷，綿綿不休，宜姜附湯加肉桂；吐蛔者，加用川椒、烏梅、炒川連、川楝子、焦術等品；嘔吐者，食入復出也，宜平胃散加煨薑、砂仁；（若胃熱者則不同藥。）霍亂者，寒濕傷胃也，宜和胃飲；吞酸噯腐者，寒不消食也，宜香砂二陳湯。</p>
<p>里有胃熱，唇紅，舌中紅，或有黃苔、口臭，右關脈洪數。其症為三消者，燥熱結聚也。口渴消水，而小便少為上消，宜二冬湯、承氣湯、白虎湯酌用。消穀易機，隨食不飽，罕有大便，為中消。陰虛者，宜生地八物湯；實熱者，宜大承氣湯、白虎湯。口渴，小便如膏為下消。陰火者，宜六味地黃湯；陽火者，宜白虎湯，或加生大黃。嘈雜者，煩擾不安，口燥唇焦，陽火為患也，承氣湯、三黃湯、白虎湯酌用；吐血者，胃火迫血妄行也，犀角白虎湯、承氣湯酌用；齒痛者，陽明有餘，少陰不足者，則宜玉女煎。陽明火盛者，則宜石膏、知母、黃芩、黃連、黃柏、甘草等藥，如大便閉再加大黃。黃胖面腫者，濕熱也，和平丸或大承氣湯酌用；自汗者，熱而蒸溽也，宜抽薪飲；舌黑燥渴者，胃火熾甚也，宜破格白虎湯、承氣湯；發斑疹者，火鬱而化也，初用葛根湯加牛蒡子以散之，次用犀角大青湯，甚則白虎湯、三黃湯、調胃承氣湯；呃逆者，胃火上衝也，輕者宜安胃飲，甚者白虎湯、三黃湯、承氣湯酌用；嘔吐者，胃火上衝也，宜白虎湯、三黃湯；頭痛，頭筋扛起者，胃火上升也，輕者宜三仙丹，重者宜石膏、知母、葛根、赤芍、薄荷、甘草等藥。</p>
<p>里有胃虛，其唇必白，舌中淡白，右關脈軟弱。其症為吐者，土虛木侮也，宜香砂六君子湯加柴胡；噎膈者，胃脘乾槁也。上脘槁，能飲水而食難進；下脘槁，食可入而久復出，宜四君子湯及啟膈散合用。有郁者，宜逍遙散；不能食者，胃氣虛而難受也，宜六君子湯；胃脘痛者，心悸怔忡喜按，宜歸脾湯或四君子，加柴胡、木香；停滯者，土虛不化也，宜枳朮丸；濕腫者，土不勝濕也，宜香砂六君子湯；痰者，土衰濕化也，宜六君子湯；嘈雜者，躁擾不安，得食暫已，氣促食少，中虛挾痰也，宜五味異功散。</p>
<p>里有胃實，舌中有厚黃苔膩，右關脈沉實。按胸則疼，其症為結胸者，傷寒下早，邪熱結聚也，宜小大陷胸湯；痞氣者，脾之積在胃脘，腹大如盤，宜和中丸加厚朴；食積者，脹痛拒按也，宜保和丸；痰飲者，咳則喘痛，轉側有聲，宜小半夏加茯苓湯；胸脹悶者，積滯也，宜保和丸；胸腫痛者，蓄血也，宜澤蘭湯；便閉譫語發狂者，胃有燥矢也，宜大承氣湯。</p>
<p>里有心寒，舌尖白，左寸脈遲。其症為暴痛，肢冷氣逆，綿綿不休，寒氣結也，宜薑、附、桂辛溫藥。</p>
<p>里有心熱，火逼迫也，舌尖紅赤，左寸脈數。其症為目痛赤腫，重舌，木舌，煩躁不得臥，多好夢，癲狂譫語，赤濁尿血不等，均心火盛也，宜涼心瀉心之藥。</p>
<p>里有心虛，血不足也，舌尖無血色，左寸脈弱。其症為驚悸者，惕惕然恐，神失守也，宜七福飲、秘旨安神丸。不得臥者，思慮太過，神不藏也；健忘者，心腎不交，神明不充也；虛痛者，似嘈似飢，心血虧也；怔忡者，氣自下逆，心悸不安也；遺精者，或有形或無形，心腎不固也。皆宜補心血藥。（若實熱之人，偶而遺泄者，火有餘也，可以勿藥。倘誤服溫補，必致召疾。）</p>
<p>里有心實，邪入之也。心不受邪，其受者包絡耳，舌尖紫赤，左寸脈弦而大。其症為氣滯者，食脹怒沖，煩悶而作痛也。血痛者，血凝於中而有定處，轉側若刀針刺也；停飲者，乾嘔吐涎，氣不舒也；痰迷者，頑痰壅閉，不省人事也；暑閉者，汗喘昏悶，神氣亂也。皆宜瀉心、降氣、涼心、消導等藥。</p>
<p>心包絡見症，有手掌、足掌大熱，心中大熱，面黃目赤，心內踢動諸端，與治心之法同。</p>
<p>里有肝寒，舌邊色白，左關脈沉遲。其症為小腹痛者，寒結下焦也，宜暖肝煎、奔豚丸；疝瘕者，陰囊疝氣，寒氣結聚也，宜橘核丸加吳茱萸、肉桂。（熱疝瘕則不同藥。）囊縮者，寒主斂故縮也，宜奔豚丸、四逆湯。（熱邪縮者則不同藥。）寒熱往來者，寒邪化瘧也，宜小柴胡湯。</p>
<p>里有肝熱，舌邊紅赤或黃，左關脈弦數。其症為眩暈者，風熱上升也，宜瀉肝藥；目赤腫痛者，風熱入目也，宜菊花、黃連、蟬蛻、蒺藜、薄荷、赤芍、甘草；口苦者，肝熱而膽汁泄也，宜涼瀉肝藥。頭痛者，火上衝也；多惡夢者，肝鬱熱也；脅痛者，肝氣鬱也。均宜涼瀉肝藥。瘰癧者，血燥筋急而生也，宜涼肝血藥；聤耳者，風熱相搏，津液凝聚而癢痛也，宜柴胡、香附、石菖蒲、貝母、荷葉等品；筋痿拘攣者，血鬱熱也，宜黃芩、黃柏、知母、桑枝、梔子等藥，宜加歸身；疝瘕者，熱氣結聚，陰囊疝氣連肚筋亦痛也，宜黃連（一錢），梔子（三錢），橘核（一錢），甘草（五分），厚朴（六分），木通（七分），若肝寒者不同此藥（見上）。舌卷囊縮者，邪入厥陰血涸也，宜大承氣湯急下；（肝寒則不同藥見前）。小便不禁者。肝氣熱陰挺失職也，宜逍遙散。</p>
<p>里有肝虛，腎水不能涵木而血少也，舌邊淡白，左關脈弱。其症為脅痛者，血不營筋也，宜四物湯；頭眩者，血虛風動也，宜逍遙散；目乾者，水不養目也，宜六味地黃丸；眉稜骨眼眶痛者，肝血虛也，宜逍遙散；心悸者，血少而虛火煽也，宜七福飲；口渴者，血虛液燥也，宜甘露飲；煩躁發熱者，虛火亢也，宜六味地黃丸。</p>
<p>里有肝實，氣與內風充之也，舌邊紫藍，左關脈弦而洪。其症為左脅痛者，肝氣不和也；頭痛者，風熱也。均宜涼瀉肝氣藥。腹痛者，肝木乘脾土也，宜芍藥甘草湯；小腹痛者，癥瘕之氣聚也，宜奔豚丸；（如熱者，宜去桂附。）積聚者，肝積在左脅下，名曰肥氣，宜和中丸加柴胡、鱉甲、青皮、莪朮；疝氣者，氣結聚於下也，宜橘核丸；咳嗽者，木火刑金也，宜梔子（一錢），黃芩（三錢），桑白、花粉（各二錢），桔梗、知母（各一錢），前胡、甘草（各五分），泄瀉者，木旺剋土也，宜四君子加柴胡、木香；嘔吐者，木火凌胃也，宜二陳湯加炒黃連；呃逆者，氣鬱火沖也，宜石膏、知母、梔子、黃芩、黃連、竹茹等藥。</p>
<p>里有脾寒，舌中白色，白苔，右關脈沉遲。其症為嘔吐者，食不消而反胃也，宜平胃散；泄瀉者，火失職也，宜六君子湯加炮姜；白痢者，積寒傷氣也，宜六君子湯加木香；腹痛綿綿不減者，宜香砂理中湯；如挾食拒按者，宜木香、厚朴；身痛者，拘急為風也，重墜為濕也，風宜香蘇散，濕宜蒼白二陳湯；黃疸者，土為濕制，有陰寒之象，薰黃色暗也，宜茵陳五苓散；濕腫者，不煩渴而喜熱，宜五苓散；肢冷者，陽氣不營於四肢也，宜附子理中湯；厥脫者，氣衰火息也，宜附子理中湯、十全大補湯。</p>
<p>里有脾熱，舌中苔薄而黃，唇赤，右關脈數。其症為熱吐者，食不入，食即吐也，宜竹茹、黃連、石膏、知母、黃柏、厚朴等藥；流涎者，睡中出沫，脾熱蒸濕也，宜黃芩、白芍、甘草；洞瀉者，暑濕勝土，一泄如注也，宜四苓散、益元散。瀉如蟹渤者，暑濕內搏也，宜黃芩芍藥湯；瀉赤白痢者，暑熱傷血也，葛根治痢散、治痢奇方、治痢便方酌用。腹痛者，乍作乍止，脾氣熱也；宜黃芩、厚朴、枳殼。（即三仙丹。）眼胞赤腫痛者，脾火上升也，宜大黃、黃芩、朴硝；酒黃疸者，酒濕積也，宜加味枳朮湯加茵陳、葛根；眩暈者，酒濕生熱上蒸也，宜葛花清脾湯；陽黃疸者，皮黃有光，目與小便皆黃，熱濕駐也，宜梔子、黃柏、茵陳、大黃、黃芩、木通、澤瀉等藥；一睡即夢，醒後又夢，夢無已期者，脾熱鬱也，宜大黃、黃芩、黃連、黃柏、朴硝、厚朴、枳實等藥。</p>
<p>里有脾虛，舌中無苔，色嫩而淡白，右關脈細軟而弱。其症為嘔吐者，中寒也，宜六君子湯加煨姜；泄瀉者，土不勝濕也，宜五味異功散加木香；虛寒瀉痢，糞水白色，來之無勢，而冷凍不能自禁者，脾敗也，宜附子理中湯；久痢者，氣虛下陷也，宜補中益氣湯；腹痛者，肝木乘脾也，宜芍藥甘草湯加木香；四肢軟弱者，脾屬肢也，宜五味異功散；發腫者，皮不亮，手按成窟，宜補中益氣湯去升、柴；飢瘦形弱者，脾主肌肉，脾虛故瘦也，宜十全大補湯；鼓脹者，空中無物，氣虛也，宜六君子湯；（脾實熱者不同藥；）惡寒者，陽虛不達於表也，宜附子理中湯；自汗者，表虛不攝也，宜五味異功散加黃耆、北五味；喘者，土不生金也，宜五味異功散加北五味、牛膝；積滯不消者，化谷無力也，宜六君子湯加穀芽、砂仁、肉桂；飲食化痰者，土不勝濕也，宜六君子湯；脫肛者，氣虛下陷也，宜補中益氣湯；腸血者，脾不統血也，宜歸芍六君子湯。</p>
<p>里有脾實，舌中必厚苔膩，右關脈洪實。其症為氣積者，氣鬱發悶也，宜沉香降氣丸；血積者，蓄血作痛如刺有定處也，宜澤蘭湯；食積者，堅滯脹悶也，宜大和中飲；痞積者，血滯成痞，癥瘕痰癖可按也，宜太無神功散、和中丸；蟲積者，濕熱所化也，唇內有白點，幼兒尤多，宜化蟲丸加減，瀉痢糞水，來勢急，而混熱不能久忍者，實熱逼也，宜專用生大黃；蟲脹者，中實有物，非蟲即血也，宜和中丸；腹痛者，中有滯也，宜厚朴、山楂、麥芽、枳殼、砂仁等藥。不能食而停膈者，脾實不消化也，宜大承氣湯。</p>
<p>里有腎寒，腎虛故也，舌根色白，左右尺脈遲沉。其症為命門火衰者，虛象百出，宜左歸飲、右歸飲；雞鳴泄瀉者，腎虛也，宜加味七神丸；蜷臥厥冷者，火衰也，宜右歸飲、理中湯。</p>
<p>里有腎熱，天一之水將涸也，傷寒邪傳少陰經者有之，雜症罕見。域熱人誤服溫補，燥傷脾肺胃，移熱逼腎所致。舌根色黃有苔，或舌黑無液，左右尺脈沉數，或浮而空。其症為口渴咽乾者，水將涸也，惟大承氣湯，不次急投，可以救之。目不明者，目無血養也，宜知柏八味丸；小便不利者，水少也，宜滋腎丸；小便濁者，濕熱結於下焦也，宜萆薢分清飲；小便出血者，腎水熱也，宜生地黃湯；大便秘結者，液涸也，宜大承氣湯。</p>
<p>里有腎虛，腎主虛也，舌根無苔而色淡白，左右尺脈弱而微。其症為頭痛者，血不能充髓海也，宜六味地黃丸；耳鳴者，血虛火旺也，宜六味地黃丸加牛膝、知母；耳聾者，虛閉也，宜六味地黃丸加石菖蒲或加遠志；盜汗者，虛熱也，宜六味地黃丸、八珍湯，加黃耆、北五味；夜熱者，虛火也，宜四物湯加丹皮、地骨皮、青蒿。有誤服溫補藥，燥傷腎陰者，如未成虛勞症，看其舌脈尚能任藥，則用破格白虎三黃承氣湯等，涼瀉肝肺脾胃之陽火，即可以救腎陰，不使虛勞成症；若已成虛勞者，則宜生地、玉竹、麥冬等藥，滋水制火。咳嗽者，虛火爍肺金而傷及腎也，宜六味地黃丸加桑白；喘者，水虧火炎也，宜知柏八味丸；腰痛者，水不足也，宜六味地黃丸加杜仲、續斷；腿痠足軟者，血不營筋也，宜十全大補湯；目視無光者，水不足也，宜六味地黃湯；大便結者，血虛液枯也，宜六味地黃丸；小便不禁者，腎氣不約也，宜十全大補湯。</p>
<p>里無腎實症。</p>
<p>里有大腸寒，舌根色白，右尺脈沉遲。其症為久痢者，腹綿綿痛，積寒在臟也，宜附子理中湯，或鴉膽子包粉團吞之；便血者，血冷失調，寒在腸也，宜附子理中湯加芎藭。</p>
<p>里有大腸熱，肺經移熱居多，舌根黃有苔膩，右尺脈數。其症為便血，口燥唇焦，熱在腸也，宜生石膏（二兩），生知母、生大黃、槐花、黃芩（各三錢），黃柏（二錢），黃連、甘草（各一錢），赤芍（一錢半）；腸風者，臟腑有熱，風邪乘之，故下血而腹不痛也，宜清魂散；脫肛者，腸有火，則脫出難收，腫而痛也，宜三黃解毒湯，加知母、荷葉。</p>
<p>里有大腸虛，氣虛也，舌根白淨無苔，右尺脈沉弱。其症為久痢者，氣血不足也，宜歸脾湯、大全大補湯、補中益氣湯酌用；脫肛者，氣虛下陷也，宜補中益氣湯加荷葉。</p>
<p>里有大腸實，胃實移熱也，舌根有厚苔膩，右尺脈洪實。其症為實熱結者，糞如確石，或熱結旁流，瀉痢清水藥水，均無糞渣也，宜大承氣湯重用芒硝；便閉者，實火閉也，宜小承氣湯、大承氣湯；臟毒者，腸胃不清，下如魚腸如豆汁也，宜芍藥甘草湯；燥渴譫語發狂者，燥矢不出也，宜小承氣湯、大承氣湯。</p>
<p>里有小腸寒，舌尖白色，左尺脈遲。其症為咳嗽失氣者，宜止嗽散加芍藥。</p>
<p>里有小腸熱，舌尖紅赤，左尺脈數。其症為溺澀、溺短者，濕熱壅滯也，宜導赤散。</p>
<p>里有小腸虛，舌尖淡白，左尺脈細軟。其症為溺赤短者，水不勝火也，宜生地黃湯；腰疼者，水不足也，宜六味地黃丸。</p>
<p>里有小腸實，舌尖紫赤，左尺脈洪弦。其症為小腸氣者，氣滯下焦，臍下轉痛矢氣，則疝也，宜橘核丸；交腸者，陰陽搏逆，大小腸交也，（即交腸肚痛症。）宜五苓散。</p>
<p>三焦之症，附屬臟腑，即因而治之。</p>

<h2>16.傷寒汗吐下三法的應用和傳變如何？</h2>
<p>問：傷寒汗、吐、下三法，及他病有無傳經之事？</p>
<p>治外感邪病，不外汗、吐、下三法。邪在三陽時，或汗或吐，均能使出，（邪在半表半裡，仍當散表防里，用和解之劑。）勿遽用下藥，致引入陰分。若邪已入三陰，下之宜速，非下則邪無從出。傷寒治法，詳仲景《傷寒論》。古書不可不看，亦不可拘泥，仲景記其當時所療，適有此病狀，非預擬一書，謂天下後世之病悉遵此範圍也。是故傷寒傳變及傳經之時日次序，有有定者，有無定者；有傳之極速者，有越經而傳者，有直中某經者。若必執古書之時日次序以論，鮮不遺誤矣。《內經》曰：五臟受氣於其所生，傳之於其所勝，五臟相通，移皆有次。然其猝發者，不必治於傳，或其傳化，有不以次。（見玉機真臟論。）此軒歧論傳經之病，何嘗拘定時日次序，亦何嘗專指傷寒乎？（余家傳祖訓，病之侵入由於風氣。凡傷風寒，或傷風熱，傷暑熱，傷暑濕，傷瘟疫，無不傳經。其傳變之時日次序，亦皆無定。辨病淺深，悉憑舌色。其治法譬如傷風熱者，初病則用涼散輕表藥，必不可拘執治傷寒之溫表藥，而妄投桂枝麻黃也。余皆參考舌脈，審明表裡寒熱，當發表，當和解，當攻裡，見機投藥，可以意會，難以言盡。）</p>

<h2>17．怎樣辨真假表裡寒熱虛實證？</h2>
<p>問：時醫辨證不明，為害甚烈，請將表裡寒熱虛實真假，易於混淆之證剖析大概。</p>
<p>面色青緅（色不正如紺紅色），專是里證無表證。目睛紅赤，熱傷肝脾肺真證，亦有感風表證。舌中黑，牙床烏，專是熱傷胃爛證。口唇皮紅焦裂，專是胃熱證。舌苔乾燥，粗澀焦裂，均是裡熱陽盛傷陰證，皆屬實證，亦有邪證。牙齒枯，有熱證、虛證、實證，無表證、寒證。鼻孔干，有表證、熱證，無寒證。手足抽搐，有寒證，（寒主收引也。）亦有熱極假寒證。魚目反張，多是虛絕證。仲景云：實熱假虛，常有此證。唇舌縮，耳鼻歇，（即收縮上也，）目昏暗，目定形，牙腳干，皆十二經之絕證。某經絕，則某經之脈先散，或其經先無脈，舌多見黑色，或紫暗色而無津，皆與脈相應者為真絕證，言歸於命，無有治法。亦有實熱證，或服藥不對，逼傷真陰，謂之盛盛傷陰證，亦謂之熱極假絕證，尚可治，全憑舌脈參判。癲狂咬人罵人者，有風邪表證，有實熱里證，無虛寒證。昏亂譫語者，表邪傳陽明胃腑症有之，裡實鬱熱證亦有之。隱隱默語，聽不清楚，似類譫語者，惟虛證有之，舌脈定不同。通身發熱，面帶紅色，不能穿衣蓋被，夜不能眠，口渴消水，舌苔黃，脈數者，實熱證也，當用大寒涼藥。周身發熱，不能穿衣蓋被，夜不能寐，口渴，不消水，舌白滑無苔者，虛寒證也，真寒假熱證也，當用大溫補藥。手足厥冷如冰凍者，或欲烤火者，寒熱虛實證均有之。寒深厥亦深，熱深厥亦深，虛深名為脫，實深厥亦深。深者，自手指凍冷厥至臂彎，足指凍冷厥至膝。若厥過腿膝之上，則名大厥症，辨准寒熱實，以大藥治之方能救。如虛脫證，以溫補救。病重人常呼親念舊，自呼其名，自言心煩，身憊，常恐垂危，見親朋即為遺囑語者。此等症，多是真熱假寒，實熱逼里。醫者不辨舌脈，妄以溫補藥填滿其實，逼迫其熱，盛盛其里之所致。如舌未全黑者，脈尚有至數，或見伏者，聞其呼己呼朋遺囑，語未甚錯亂者，是陰陽未絕也。此時惟宜用大承氣急下以救真陰，用大白虎急投以救真陽，補偏救弊，可以復生。若誤投溫補藥，及白芍、防風等表裡相戰藥，是速其亡也。此症亦有虛寒者，以舌為憑。（熱者舌必黃苔厚膩，或赤紫色，或焦而老黃色，或焦而粗黑色，或罅裂、燥干、口臭不等。凡真熱假寒，實熱逼里症，斷無舌無苔而白滑者。若舌無苔，白滑多水而淡淨，則是寒證。細心認之，極分明也。至言診脈當病危時，血氣偏甚，勢將欲脫，或洪而似浮，或數而似緊，或沉而似弱，或伏而似代，或革而似牢，或促而似散不等。張長沙云：疑似在毫髮，存亡在指尖，指尖如莫辨，憑舌對心兼，寒熱若能判，瀉子救母先。此等真假症，世間混淆誤人不少。）重病人有患吐症者，食米吐米，飲水吐水，服藥吐藥，食入即吐，刻不能留，此是胃經偏傷之症。胃寒極不進穀食，不化穀食；胃熱極亦不進穀食，不藏穀食。此張長沙解胃圍穀食之說也。吐症虛寒者，口不渴，全舌白滑多水，六脈遲弱，以溫補薑、桂等藥治之。從吐後連進三次，必能止吐，否則寒氣內結，藥不勝病，吐亦不止。吐症實熱者，口極渴消水，全舌紅，或黃，或黑，或乾燥，或厚膩伸不出，六脈沉數，以寒涼川連、石膏等藥治之。亦從吐後連進三次，（每次用藥一服，）當可止吐，否則熱氣逼胃，藥不勝症，吐亦不止。重病人有患瀉者，食入即瀉，刻不能留，此脾胃偏傷之症。偏寒者，舌中淡白，或有白滑薄浮漲，或白淨無苔不等，右關脈必遲而弦。脾寒極則不能轉輸穀食，土受濕漬，則土力衰，脾與胃相表裡，胃極寒脾更無依，所以食入必瀉也。治寒者以薑、附、桂為君，耆、朮、參、苓、芍、草溫補等藥佐之，脾胃偏熱者，舌中苔黃，或無苔而紫紅，或有厚黃苔，芒刺積膩，乾焦或黑色不等，右關脈必沉數。脾熱極則不能輸穀食之液，以溉臟腑，反引胃氣之熱，胃火逼迫不及傳送而出，所以即食即瀉也。治熱者以大黃、石膏為君，芩、連、知、柏等寒涼藥佐之。（以上吐瀉症，舉寒熱易混重病者言。辨准寒熱，藥宜不次速投，以效為止。若計較而行，水已就下，徘徊而救，樓已上燒。明其理者，十能救十；不明其理者，十不救一。）有吐瀉交作症，霍亂者，全舌有白浮漲，六脈緊或伏，以藿香正氣散治之。寒者全舌苔白，六脈遲，以熱藥治，藿香、薑、桂、附、苓、術等品也；熱者全舌黃，六脈數，以芩、連、知、柏、白茯、木通、車前等涼藥治之；虛者全舌淡白，六脈弱，以耆、朮、參、茸、茯苓等溫補之；實者全舌紫紅，或苔厚膩，六脈沉實，治宜通因通用，以大黃、枳實、厚朴等藥下之。有口吐白沫、痰多白泡等症，吐水出喉時，有水凍冰涼之象，飲水以極熱為快者，無識者概指為冷痰。然寒證如此，真熱假寒證亦如此。寒者全舌痿白，六脈遲弱；熱者全舌紅赤，或黃苔乾焦黑色不等，須審明施治。虛者實者無此症。有氣痛症，心肝肺胃腎均有之，憑舌脈參判寒熱虛實，專經調理，氣行則痛止，惟虛者當補氣。有肚痛症，虛痛者，隱隱綿綿作痛，喜以手按之，似略好者，以四君子湯治之。（或加香砂即六君子湯也。）寒痛者，陡然發作，腹內鼓鼓有聲，勢不能忍，按之亦似稍安，以薑、桂、附、陳、半、川樸、春砂、藿香、木香等藥治之；熱痛者，亦忽然而發，腹內有聲難忍，惟必拒按，以黃芩、枳殼、厚朴等藥治之；實痛者，發之亦驟，腹內沉沉作勢，一時極痛，一時又止，亦必拒按，治以大黃、黃芩、厚朴、枳實、山楂等藥，行氣消導。其時痛時止者，寒熱實均相同，虛痛則否，皆於舌脈參判。惟痛症甚者，脈或伏或亂，殘難分別，專以舌辨寒熱虛實，亦可瞭然。若夏秋暴痛，多為霍亂，以藿香、砂仁、厚朴、白茯、紫蘇、陳皮、半夏、木香等藥治之。（正氣散內，原有白朮、桔梗、白芷、炙草四味，可以不用。）或因食物偶滯肚腹作痛者，以楂肉、麥芽、厚朴、枳殼、神麯等消導之。有浮腫症，男子自上腫下謂之順，自下腫上謂之逆，女人順逆與男子相反，拘書多言難治。張太守云：陽與陰本不同。理固如此。而論治，則察其起於某經，即以初起之經，究分寒熱虛實治之，不必群於順逆之說，所謂正本清源之治也。腫在四肢者，起自脾經，腫之皮不發亮，指按成窟，許久不起，重按至底，毫無應痛者，虛寒濕腫也。全舌淡白，或有白水浮脹，六脈遲弱而濡滑，腫之皮光亮，如鵝喉吹脹，或肉中隱有紅色，指按不成窟，隨手即起，輕按之似鼓皮形，重按之至骨隱隱作痛者，實熱濕腫也。全舌紅紫，或有黃苔，有罅裂，舌根多膩，六脈洪數，右關脈或更數而沉實。張太守云：腫症以指按之成窟者多，不成窟者少，虛寒濕也；不成窟者多，成窟者少，實熱濕也。以多者論，不以少者論。蓋病多詐偽，真假宜分，其多成窟者，乃真虛寒濕證，其少不成窟者，乃假實熱證也；其多不成窟者，乃真實熱濕證，其少有成窟者，乃假虛寒濕也。然必自脾胃經起，而延及別經，宜分別真假，專經調治。如脾虛寒濕腫者，以四君子或六君子湯（均白朮為君，茯苓為臣，參草為佐使。）或補中益氣湯去升、柴加茯苓治之，如脾實熱濕腫，以承氣加木通湯，或白虎加車前湯，或將軍駐防湯，或二味瀉脾湯、（冬瓜老鴨湯是也，）知柏澤瀉湯、三黃瀉濕湯，或專用或兼用治之。脾經獨虛發腫者，皮必不亮，手輕按即成窟，許久不起，舌中淡白，右關脈必弱濡而帶滑，以補中益氣湯去升、柴，重用白朮加茯苓治之；脾經獨濕發腫者，以手輕按極似水軟，指到即下，隨指即起，皮以發亮，口不渴，舌中有白水漲，右關脈濡滑，俗名發水腫，以五苓散治之（豬苓、茯苓、白朮、澤瀉、肉桂也）；脾熱眼胞腫疼者，柴苓煎治之，胃表邪面浮腫痛者，葛根湯治之；胃熱面黃胖腫者濕氣也，和中丸治之；胃虛有濕腫，皮色不亮，指輕按即成窟，久而不起者，土不勝濕也。舌中淡白有水漲，右關脈弱濡，以香砂六君子湯治之。胃實有水腫，胸腹先腫後喘，或腫而不喘，胃經蓄水也。皮帶光亮，手按似水軟，手起隨起，舌中有黃苔白膩浮脹，右關脈沉實，以五皮飲治之，甚則用金匱腎氣丸治之。有脾胃虛寒，土不能制水，上泛而肢體浮腫者，口不渴，舌中色白，右關脈遲弱，大小便通利，名為陰水泛腫，以實脾飲治之。有表裡齊感六氣之暑濕者，旬日間一身遍腫，口渴，全舌浮漲膩，六脈沉數，大小便秘，名為陽水腫，以疏鑿飲治之。有脾經肝經俱實熱而夾濕者，發為遍身腫脹病，其症面赤口渴，舌苔芒刺黃黑，氣粗喘，（腹堅硬，坐落大聲而呼，陡然起，徒然下，皮腫脹欲裂），似見水形，日夜不能眠，脈極數而濡，大小便壅塞，此名陽水腫脹症，以河車舟車丸治之。更有遍身浮腫，惡風而不大發熱者，風水表症也。六脈俱浮，口不渴，汗自出，《經》曰：肝腎並沉為石水，並浮為風水。水在皮膚，故脈浮，無裡熱，故不渴。病本於風，故汗出惡風，無大熱者，熱未盡退也，將《金匱》越婢湯分作二十分劑治之。（舟車丸、越婢湯、疏鑿飲子三方均極猛烈，不可輕用。若病症確對而用，則藥雖重有病當之也。）有病衄症，傷寒表邪有之，肺血熱妄行亦有之；有目流血症，肝熱者患之；有吐血咯血症，心肝肺脾胃各經血熱，多患吐血，亦有咯血者。吐血如泉之湧，全血如痰，咯血則腥氣先來，血隨痰出。五經血虛，不能歸經，及陰虛傷損者，亦患咯血，惟腎經之血名咳血。治血症者，均憑舌與脈分判各經之病，審明或虛或熱，某經有熱，即涼某經，不必拘拘於見血治血也。病症之真假不一，差以毫釐，謬以千里，辨症最宜謹慎。茲第舉數症以發凡耳，當多讀古書，以祛偏執臆見之弊。</p>

<h1>卷二</h1>

<h2>18．虛勞以滋補法治療不愈的原因是什麼？</h2>
<p>問：內傷虛勞，醫家輒以滋補為事，而痊者甚少，豈滋補無益歟，抑別有他法歟？</p>
<p>虛勞為百病中之大病，病入膏肓無救藥，人所共知也。大病必須大藥，以藥解藥，人未必盡知也。家訓云：虛勞症非先天生成，多屬後天所誤。其始半由於外感熱邪在肺，作咳作嗽，偶見痰血，庸醫不分表裡寒熱虛實，見痰治痰，見血治血，概以陳半止嗽散、地黃湯、北五味、貝母等藥為主，日服而咳嗽日甚，肺金日傷，腎水日枯，腎火日熾，上灼於肺，虛勞成矣。治此等症（指咳嗽誤服藥而成者），惟察看全舌，傷在某經（詳卷一），六脈損在某經，問其病源藥食，究誤於某經某藥，治法無非專經救經，以藥解藥，必大清肺胃瀉脾火，乃可救腎陰，一定之理也。更有思慮憂深，色欲過度，目力勞極，神氣不藏，肝傷於郁，心火上炎，骨蒸內熱，日晡恆燒，腎水乾，肺全痿而虛勞成，此七情之病，難以藥力為功，全憑節制在己，無容求救於人，養身者宜慎之！（多欲者夭，求仙者愚，若求不死，除非不生，身之生，即死之坯也。修身俟命，儒者之道，斯世可喜可羨之端，皆是身外浮物；好名好利好色，爭長爭氣爭勝，憧憧擾擾，伐性戕生，甚無謂也。）</p>
<p>又有生質瘦弱，臟腑原是實熱，而自知未明，偶因六氣火侵，精神困倦，肢厥畏寒，衄血吐血，咳嗽多痰，必遍訪良醫，急求療救，一聞補藥，不勝欣喜。庸醫於病源不究實虛，但知補藥為補，不知補藥為毒：一見形瘦神困者，即作為氣血虛虧，必重用參、耆、茸、術等藥，大補陽虛；一見肢厥畏寒者，即作為虛寒已甚，必重用附、桂、薑、耆，大溫營衛；一見吐血、衄血者，即作為陰虛虧損，必用六味地黃湯，重加天麥冬，大補陰虧；一見咳嗽痰多者，即作為肺氣寒閉，必急用麻黃桂枝、二陳等湯，大燥肺金。抄集古方，自以為是。不知實熱之人，投以補陽溫衛藥，則毒在益熱傷陰；投以滋陰填補藥，則毒在引熱入陰；投以溫散藥，則毒在燥熱損陰，陰傷陰損，不成虛勞者幾希！夫起病不盡由虛，而瘦人大半多火，願有識者，勿為庸醫所誤。嘗考醫書中言治虛勞之法，無非以地黃湯滋膩益熱，作為能補真陰，又以禁絕女色，指為能保真陰，千手雷同，罕有明徵。世之患虛勞而延齡者，曾有幾人？蓋虛勞既成者，楊紹基《傳薪集》云：其胸膈膏肓中，必有凝結鬱血一塊，方橫一寸五寬，膈塞滿後，肺胃必爛，白蟲生焉，雖有華佗，何能破腹而易其肺胃乎？諸書謂治虛勞有獨得之秘，余謂其必無獨得之秘，所幸能治療者，乃貌似虛勞，非真虛勞也。</p>

<h2>19．虛勞有效的治療方法是什麼？</h2>
<p>問：諸家補陽補陰，滋陰降火之法，既不能治真虛勞，先生果有獨得之秘乎？</p>
<p>某嘗讀《傳薪集》，知楊紹基之論治虛勞，深得仲景薪傳。楊紹基曾患虛勞而未成症，壽八十有一。基云：凡內傷虛勞亦裡症也，或因六氣（風暑燥濕寒熱也）七情（喜怒憂思悲恐驚也），陰虧陽亢，溫燥填補（指誤服藥），勞心勞力，跌撲而傷里。內傷既不一，調治亦不可執一，（可知不能專執一治勞之方。）宜究其所由，察其所因（有內因，有外因，有不內外因），順治勿逆施，如水就下，如解倒懸，治其病必對其病，平其情不拂其情，治平之道得矣。治法與方脈同，不必別立虛勞治法。</p>

<h2>20．虛勞是否有不必絕女色的說法？</h2>
<p>問：虛勞不絕女色，亦有說乎？</p>
<p>晉平公問醫和曰：女不可近乎？對曰：節之，節者節制，非絕之謂也。後世醫書多雲治虛勞以禁絕女色為要務，人云亦云，未解何義。獨楊紹基曰：女色者，七情中之思也。人有七情之病，喜怒憂思悲恐驚，何一不足以動情？若但於一思禁之，得毋禁其一，不禁其六乎？且夫婦乾坤陰陽之道，孤陰不生，獨陽不長，害何有焉！苟因病屬虛勞，強使相離，悲憂倍甚，內本未傷，激其情則內傷尤甚，所貴平其情而使思得其正，遂其情而使樂而不淫，治七情之虛勞，述此可以類推。家傳遵此集救活多人，確有明徵。</p>

<h2>21．楊紹基和他所著醫書的情況怎樣？</h2>
<p>問：楊紹基《傳薪集》世所罕有，遍翻各醫書，未見紹基之名，紹基不知何許人？所編醫書若干卷？</p>
<p>楊紹基者，東漢人，長沙太守張仲景之婿也。學醫於仲景，記其師說，有《傳薪集》八十卷、《仲景秘傳》五十卷、《金匱玉函》三十卷、《長沙醫案》二十卷、《傷寒論》二十卷，共二百卷，名曰《仲景全書》。又仲景所述《神農本草》，（即梁陶宏景增修，明李時珍《綱目》所稱《本經》者也。）晚年悔之，重著《神農嘗毒經》一百卷。此二書家六世祖於明季得之某良醫，系舊刊本，累世守此書以治人多效。某曾於廣西賀縣書肆中見有此書，非無流傳者也。</p>

<h2>22．《傳薪集》怎樣治內傷虛勞？</h2>
<p>問：《傳薪集》等書，實難購求，書中所言治內傷虛勞之法，願聞其略。</p>
<p>憶其大旨，厥有數端：</p>
<p>一、內傷虛勞將成未成者，咳嗽白痰如泉湧出。熱氣內沖，咳不自禁，唾膿唾血，夜不能眠，脊背脹痛，腦後發熱，舌燥唇焦，日晡（申刻也）面紅耳熱，子午寒熱作泛。舌苔黑，牙床烏，肺胃將爛。起坐咳疏，落枕咳甚，面浮肢腫，大肉脫落，性多煩躁，肉內血熱，熱無定處，宜以《傳薪集》平陽清裡湯（雪白生石膏四兩，暹犀角尖三錢，生知母去毛三錢，黃芩三錢，黃連一錢五分，黃柏二錢五分，羚羊角二錢，生甘草一錢），涼補肺胃湯（生石膏八兩，暹犀角尖四錢，肥知母四錢，生甘草一錢，生竹茹三錢，生桑白三錢）。治之。大小便不利者，用瀉里承氣湯（錦文大黃三錢五分，芒硝三錢二分，陳厚朴一錢一分，生枳實一錢六分）。舌黃有苔，六脈數沉，或洪實，凡實熱證均宜此方。若舌白無苔，六脈遲弱者，是虛寒也。虛寒斷無此症，亦必不可用此藥，宜明辨之。</p>
<p>二、內傷虛勞已成症者，宜六味地黃湯，或加天冬、麥冬、元參、沙參、玉竹等藥滋補之，余無別法。</p>
<p>三、內傷虛勞不禁絕女色者（不令夫婦久離耳，非謂可以縱欲也），取陰陽和、百物生之義也。陰虛火亢之人，欲心最重，若不得陰陽相濟，憂思日郁，陽亢日深，腎氣日傷，心血日耗，勞傷愈甚。常有男子過長不娶，女子過長不嫁，貞潔自守，求之不得，寤寐思服，久之而七情之內傷成矣。夫婦者，陰陽之道，非徒無損，其實有益。觀於天地陰升陽降之奇，即可知燮理陰陽之妙，強為禁絕，非中庸之道也。楊紹基云：凡治內傷症也有夫婦者，看男人之病，傷在某經，專經調理，以補偏救弊；又看婦人之血氣，某經不和，亦專經調理，不使偏旺，令其血氣能有益於其夫之病者為是（如夫瘦弱而婦性熱者，可以涼藥治其婦）。設病人體屬偏陽，其妻氣血偏陰，大相宜也；若兩皆偏陽，當兩平其陽，自無不宜；如故肆其欲者，是自戕之道，女色又不可不禁矣。（總之，逸則思淫，人能晝動於事，自然夜倦而安，尤養生要旨也。）</p>
<p>四、內傷為里症之通名，不盡屬虛勞，用藥各有宜忌，世人專指內傷為虛勞者，非也。</p>

<h2>23．內傷病怎樣辨證治療？</h2>
<p>問：然則內傷之分別若何，藥之宜忌若何？</p>
<p>《仲景秘傳》所載治內傷症有三類，別之如下：</p>
<p>曰虛寒內傷二十症。肺寒肺痿，咳嗽白水有痰無絲，中寒噯酸，胃寒嘔吐泄瀉，舌白口淡，飲食不進，寒水停胸，咳嗽聲重，有水，喘氣欲絕，唇舌痿白，肢軟氣急，陡然不省人事，四肢厥逆，唇白麵白，氣喘痰湧，不能休息，肚痛泄瀉無度，無端汗出不止，頭暈目昏，無身熱，寒氣下墜腰不伸，陡然陽縮，陡然血脫，陡然氣脫，脫肛氣墜，腿痠足軟，血不營筋，倦臥厥冷。以上各症，舌必白而無苔，六脈遲弱，辨准舌脈為虛寒者，宜用參、苓、朮、草、薑、桂、附、陳、半等藥，可以調治。忌用石膏、芩、連、知母、黃柏、大黃、芒硝等藥，誤服不治。</p>
<p>曰陽火內傷二十症。肺胃傷爛，吐膿吐血，咳嗽白痰，咳嗽膿血，熱氣上衝，乾咳無痰，濕咳多痰，胸膈咽塞，後枕燒熱，脊背強痛，衄血混燙，日不能睡，夜不能睡，落枕喘咳欲絕，肺胃內傷熱甚，氣喘不休，舌中黑，牙床烏，牙關緊，牙齒痛，牙床腫，舌乾焦裂黃黑，頭足發腫氣急，大便艱，小便澀。以上各症，舌必紅赤，有黃苔厚膩，六脈必數實沉洪，或伏代不等。辨准舌脈為實熱者，是陽火偏旺，而陰尚未虧也，宜用石膏、知母、黃芩、黃連、黃柏、大黃、芒硝等藥清火救陰，可以調治。忌人參、燕窩、耆、術熟地、枸杞、桂、薑、附、星、夏、藿香、砂仁、陳皮、芥子等藥，誤服不治。</p>
<p>曰陰火內傷二十症。肺金火克，日晡面紅耳熱，吐膿、吐血，咳嗽白痰，咳嗽膿血，熱氣上衝，乾咳無痰，濕咳多痰，胸膈脹悶，後枕燒熱，脊痛強痛，肺虛內傷，氣喘不休，全舌絳色無苔，日晡燒熱，至子乃退，雙目乾枯不潤，手足掌心陰熱有泛，面容枯槁無光。以上各症舌均無苔，緣真陰已傷，不能顯苔矣。其舌或絳色，或淡色而帶淺藍，六脈弦洪數，宜用干熟地黃、五味子、玉竹、沙參、地骨皮、丹、澤、淮山等藥，可以調治。忌參、耆、薑、桂、附、陳、半、棗仁、胡椒、芥子等藥，誤服不治。</p>

<h2>24．陰火、陽火在生成上有什麼關係？</h2>
<p>問：陽火既經偏旺，何以陰不虧，安得將陰火陰火剖而為二乎？</p>
<p>所謂陽偏旺陰不虧者，言偶偏則未虧，非言極偏而不虧也。人身一小天地，陰陽平則萬病息。如脈四至而近五數，舌正紅明淨無苔，是陰陽和平，人無病也。如攖七情，觸六氣，舌殊苔，色脈各見字（二十七字也），即陰陽偏而人有病。其脈三至而虛緊沉遲，舌白無苔，是陽火不足，偏於虛寒也；若脈五至而沉數長實，或伏代不明，舌赤黃有苔，是偏於陽火也；脈五至而促、緊、弦、數、虛、洪，舌或鮮灼絳紅無苔，是偏於陰火，謂真陰被陽火逼灼已久也。諸病皆有陰火陽火之別，不獨衄吐為然。治病者不過補偏救弊，或以增為補，或以汰為補；在此以增汰為救，在彼又以不增不汰為救。若增所不當增，汰所不當汰，一偏再偏，烏得不至乎其極？夫陽火內傷者，雖其後或成陰虧，而此時尚未陰虧，所宜力挽者也。陰火內傷者，其初僅屬偏陽，庸入誤作陰虛治而逼成之者也。惟陰火難瀉，而陽火可瀉者，試以天平譬之，左數稍多，右數如故，左重右輕，似當補右，實只須減左，以瀉為補，務得其平。不知者訾為偏師，實為堂堂正正。蓋左邊欹重之時，多加右邊亦可暫為敷衍，然右數本如常而浮加之，即非分內應有之數。（因少而加足之謂之補，未虧而多加之謂之浮。）猶之治水，不先疏通，專築堤防，初未嘗無小效，久則淤塞氾濫而堤又不能毀，日事搶修，貽禍無窮。人生陰陽，自有定限，亦如汽機，水火相濟，火旺不抽薪而專加水，抑知盛水之鍋有定率乎？（水未虧而納火過多，亦易炸裂。）倘真水虧則機械必顯出水少之據，斯時加水未晚。人身有舌脈，正如汽機之表尺耳。（火旺陰虧，是虛火真癆，最為難治。如子之病，雖貌瘦骨痛，口苦心熱，大便不利，有似陰虧，而察視舌黃脈數，乃偏於陽火，尚未陰虧。時醫輒指為癆，不得已名之曰陽火假癆可也。凡病甚詭詐，此非癆而詐癆也。若陰火真癆，自然生就者絕少，多因妄用滋補誤治而成。世所稱陰虧癆瘵者，其初半屬假癆，概以六味地黃湯加減治之，似效非效。久之吐衄並作，余審其舌色，知是陽火，必重用石膏、知母、黃柏、大黃等物，減火救陰，清熱祛積，病可除根。</p>

<h2>25.陰火、陽火的治療各有什麼宜忌？</h2>
<p>問：陽火陰火之別，請再申明其義。</p>
<p>陽火陰火，李時珍《綱目》火部，趙學敏《本草拾遺》，徵引甚繁，無非好異矜奇，舉天火地火及動物植物各火，強辨臆斷。而於人則舉君火相火三昧火，憑虛傅會，眾說紛紛，皆是辨火類之陰陽，未揭火病之陰陽也。臟腑既有陰陽，故熱證屬陰者為陰火，熱證屬陽者為陽火。陽火者猶言實火也（本體實熱之人，誤服滋補溫補，填實各經熱證，均謂之實火）。又外鑠之火也（如風火燥暑濕諸證，未經清理，遽進滋補，辛溫逼迫各經實火者，謂之外鑠陽火）。尤甚者為邪火。（如傷寒邪傳少陰，或傷暑邪入少陰，均能於三時中灼涸腎水，謂之邪火。腎經本無實火，皆由他經所移。又腎不可犯，惟急從脾經大瀉邪焰，乃能挽回，稍遲則百不救一。）陰火者猶言虛火也，又內炎之火也。（或熱人誤服溫補辛散各藥，燥損真陰，或本是陽火病，誤投滋陰潤補藥，引陽火入陰分，皆可成陰火內傷。或縱欲不節，以致火旺陰虧者，皆曰虛火。）陽火如烈日照地，受光之處熱極，而尚未虧耗，故實而可瀉；陰火如爐灰中火，被烤之炭，熱極而半已灼枯，故虛而難瀉。醫者宜辨准虛實。（法詳前論內傷各條，尤宜辨舌色為主。）看是陽火者，以雲雨之藥盪滌之，如石膏、知母、三黃、羚角、龍膽、暹犀等苦寒之品，皆涼藥之屬於陽分者，灑掃臟腑，推陳致新，必無流弊。（若邪火內傳，只有四黃大承氣湯白虎湯合用連投，急涼急下，他法必誤。）凡尋常陽火內傷各雜證，其人亦多貌瘦骨疼，病者醫者，皆執陰虧之說，必以滋陰藥治之，膠滯淤膩，日久弄假成真，不可救藥。（陳修園有太陽當天，爝火自熄及火能生水諸說，幾乎願吃熱藥死，勿吃涼藥生矣，害人不淺。）看是陰火者，宜以滋陰之劑浸潤之，如生地、二冬、六味等甘寒之品，皆涼藥之屬於陰分者。蓋虧損已極，勉為補苴，不可用苦寒重藥，戕伐殘根，時醫尚能知之。尤不可用溫補升提藥。燒其餘燼，則時醫多昧此理矣。</p>

<h2>26．陽火偏亢能服知柏八味丸嗎？</h2>
<p>問：昨接南中友人來書，戒廉勿服苦寒藥。其書曰：「用石膏、知母、羚角已足矣，並用黃芩、黃連、黃柏、龍膽草未免太苦，勢將敗胃而化燥。王太僕謂『壯水之主，以制陽光』，知柏八味丸，究未醫愈一人。知柏入六味中，尚能化燥，況偏師直入，而無壯水之藥，竊恐苦寒化燥，愈服愈熱也。」斯言甚辯，請駁正之。</p>
<p>子病陽火偏亢，曩年誤認為陰火，久服六味、二冬、鱉甲、龜膠等類，酸澀斂滯，以致舌色深黃，骨痛發戰。真熱假寒，若僅用石膏、知母，而無三黃膽草，是有雨無雲，難救大旱。今子連服數十劑，舌尖鮮明，心膽火清，可去膽草。舌根仍有積膩，腸胃舊滯未淨，余藥仍須連用。（然僅能除去熱血攻心及腦中麻疼耳，若欲骨痛除根，尚須加芒硝以去黏積，方可也。）苦寒治實熱，有病則病當之。子飯食如恆，何嘗敗胃？成無己《本草析義》、汪穎《本草》二書，有黃連瀉心而能勝燥語，原本勝字，後人改為助字，以訛傳訛。汪訒庵《本草備要》小注云「黃連久服反熱，黃柏有寒中之變」等語。虛火誤服，容或化燥，以此論實火，則非也。至黃芩、膽草，群書無敗胃助燥之說。《素問·至真要大論》王冰注：壯水之主，以制陽光，是泛言熱病，非論八味丸。明趙養葵《醫貫》始以王冰語附會於六味八味，近世均言其謬。考仲景《金匱要略》所載八味丸，用利小便，故又名腎氣丸。後人減去附桂為六味地黃丸，加黃柏、知母，為知柏八味丸，以治陰虛火動骨枯之症則不誤。無奈粗工，不能辨證，以投陽盛火熾骨枯之症，六味得陽火成膠而助熾，知柏與陽火競戰而無助，此六味之咎，非知柏之咎也。某方除甘寒之淤凝，以苦寒療陽火，安得謂偏師？生石膏用至四兩，安得云無壯水之藥乎？</p>

<h2>27．怎樣避免使用寒涼藥和溫熱藥的錯誤？</h2>
<p>問：古人善用涼藥，劉河間主瀉火之說，燕人祀為明神。張子和撰《儒門事親》，奉養不必參朮，病情萬狀，補瀉難拘。近世張景岳、李士材、陳修園之流，偏執溫補，時醫承其訛謬，動以補劑誤人。病者願死於補，更屬泯然無跡，若白虎湯、三黃瀉心湯，雖當救急之時，不敢輕於嘗試。今先生常用連用，甚至並承氣湯而合用之，獨不慮駭人聽聞乎？何不略為通融乎？</p>
<p>某非敢偏於苦寒也。他醫指為陰虛火旺之瘦人，某實見得是陽火偏亢之人。宿積黏留臟腑，因而骨痛心煩，誤服滋陰膠補，因而咳嗽吐衄。但看舌黃口燥者，以涼為補，以瀉為補，重者連用、合用白虎三黃等，或日投數劑，久服數月。有用石膏至百餘斤者，總視舌色不黃而止。此徹底除根之法，始終不惑，方能收效，信者可痊，疑者勿強。如子之病，時醫執定滋補者，何以連服苦寒數十劑反得舒適，偏乎？否乎？蓋宿滯不能驟除，藥力尤當持久，《金匱》腹滿篇言：舌黃未下者下之。可悟他病亦如此。凡舌黃者多實火，皆可投涼藥。陰虎者舌絳無苔，虛寒者舌白無苔。病證審明，不容混淆，若稍為通融，苟且滋補，病者既樂從，醫者卸重任，何苦拘執己見，駭人聽聞！惟確知誤補之弊，貽害將來，不敢作違心之舉也。</p>

<h2>28．什麼情況下可以使用寒涼攻下藥？</h2>
<p>問：明人繆希雍喜用石膏，乾隆時寶應王懋竑《白田雜著》內，有石膏辯一篇，極論其非。石膏尚然，何況黃芩、黃柏、黃連、大黃、枳實、芒硝乎？今先生慣用白虎承氣，議者不但訾為偏，且目為怪事矣。</p>
<p>石膏辯之意，慮戕元氣，敗胃氣耳。不知實熱之人，陽火有餘，逼灼真元，重用石膏，正以壯水養陰，清肺潤胃，何戕之有？何敗之有？子只看有厚舌苔刮下如漿糊者，儘可放心，多飲石膏知母三黃湯，（不可服元參、麥冬之類，彼系陰分涼藥，恐引入陰分也。）以舌根明淨為度。日前余兒偉材病重，一日中連投大承氣湯四劑，另用瓦罐多具，熬生石膏四斤，取其清湯代茶，並以煎藥，兼加犀角。看舌黃漸退，重藥依之遞減，數日起身，胃口漸好，容貌漸潤，子所目擊，何嘗敗胃耶？若非余兒，則必有掣肘者，藥不勝病而變，且將歸咎於藥矣。要之上工用藥，補偏救弊，陽火旺者，治以白虎三黃，尤旺者，治以承氣急下，以保真陰，祛其弊，以扶其偏，確是中庸之道，安得云怪？以寒涼藥治實熱人，則為正為補，為益為救；以寒涼藥投虛寒人，則為偏為戕，為敗為傷。繆希雍之餘派，虛實不問，空談石膏之功，於是有誤用者，遂致貽人以口實，醫師之罪，非石膏之罪。辯石膏者，因噎廢食，從此人人存寒涼害人之心，不知天地生此寒涼物，自有益人之處。執定溫補益火，則張景岳之末流。舌脈不分，輒以人參殺人，於是李穆堂、徐靈胎又各有人參論。若不責醫而責藥，則大黃、芒硝物物而論之，物物而辯之，將不勝其煩。《素問》有云：毋盛盛，毋虛虛。今以涼藥治陽火，乃因其火盛而毋盛其盛也。俗醫喜用滋補，或妄用溫補者，正坐盛盛之弊。</p>

<h2>29．陳修園各種醫書存在什麼偏見？</h2>
<p>問：陳修園各種醫書，持論過偏，俗醫因此書措詞俊爽，皆喜購閱，往往誤人，請先生糾正之。先生不肯論人之短，他日又問，強之再三而後言。</p>
<p>古人語言文字，皆與今人不同；古書病名，未必盡與今人相同。仲景《金匱》治虛勞用小建中湯，內有薑、桂、棗、芍，此虛勞二字，指陽虛勞傷之病，非今人之陰虛火旺勞傷病也。徐靈胎《蘭臺軌範》一再剖明，頗為有見。陳修園醫術遠不如徐，偏執臆見，所撰《金匱淺注》謂建中湯為後人治陰虛熱極之准，並斥朱丹溪之滋陰降火，而力主辛溫固氣。其他著述，論治虛勞不外桂、附、薑、耆。尤可怪者，《時方妙用》卷一內云：癆症是陰盛為病，陰盛則火動，復創為宣陽除陰，補火攻水之妄談。甘溫尚嫌力薄，務用辛溫而後快，無非藉口於陰病治陽之說。不知上古之書，語意含蓄，正如伏羲畫卦，仁者見為仁，智者見為智，隨人立解，況《內經》何嘗明言陰虛火旺，當補火攻水乎？《內經》不有云：「熱者寒之、燥者濡之」乎？乃舍正路不由，偏出歧途以炫能。自修園之說盛行，俗醫於康莊大道本未了然者，亦妄思出奇制勝，習慣自然，以奇為正。於是不別舌脈，不分表裡寒熱，必以溫補相投，淤塞病邪，灼枯元氣，禍人殺人。第奉修園諸書以自白，病家惟有付諸天命而已。夫醫用寒涼，旁觀者動色相戒；醫用溫補，局外人同聲附和。故寒涼之流弊可以預知，而溫補之慘酷始終莫明。人以修園各書為濟世之具者，吾以為炮烙之刑耳。修園云：「日月一出，爝火無光。」取譬辛溫之功效。不知日月至顯，爝火至微，是大光奪小明，豈以爝火置日月之下而即自滅沒乎？修園又以燈燭腐草螢蟲為陰盛火動之確據，不知燭必燃之而熾，所焚者乃養氣炭氣化合之力，未聞多積燈燭能自發火也。腐草受太陽蒸化而成螢，彼冬日之腐草，與水底之腐草斷不生螢，況螢火尚非真火乎？修園又引喻嘉言之說云：「陰雲四合，龍雷方得奔騰，烈日當空，龍雷潛伏。」以證小建中湯、補中益氣諸方，為宣陽氣除陰火退熱之良法，不知雷火由陰陽二氣相激而出，必陽盛方有聲光。若謂陰盛而動龍雷，則嚴冬大雪亦陰雲四合，從未聞有雷也。（新疆天山盛夏積雪，往往數年無雷，可知龍雷實出於陽氣也。）若謂宣陽可以退熱，則烈暑酷旱之時，農人直當求晴以退熱，何必皇皇求雨乎？丹溪滋陰降火之法，原為陰虛火旺已成之人，勢甚棘手，緩與扶持。後人不察，以治陽火偏亢瘦而未癆之人，黏留實火，愈服愈熱。故誤於滋補者難救，其可救者，法當以苦寒瀉之，斷不可抱薪救火。修園既知誤投滋陰之發熱，反欲補火攻水，試思地黃尚且生熱，豈可再以桂附益火？或信任不疑而死，則謂桂附些少不能敵前日之地黃，或改用滋陰而仍死，則謂誤於兩可之見。噫！病者何罪？既冤殺之，復重誣之乎？凡此欺人之談，辯不勝辯。然修園未嘗無一隙之明，惜剛愎自用，忽明忽昧，故此卷虛勞之前（指《時方妙用》），列寒涼數方，繼複評之曰，為癆門不可少之方，亦癆門不可恃之方。夫既不可少，何又云不可恃？既不足恃，何必云不可少？蓋心知辛溫治癆非善策，暗中致禍，未肯明言悔過，又慮不偏重溫藥，未免頓改素習，故首列涼藥者，良心偶萌也。後竭力發揮辛溫者，牽合古書，文過飾非也。此文人弄筆之積習，實誤用其聰明，閱者勿為所蒙。</p>

<h2>30．陳修園將人參歸於陰柔藥中有無道理？</h2>
<p>問：陳修園既喜溫藥，而所著《本草經讀》，卻以人參為陰柔之品，何耶？</p>
<p>庸醫蔑古非也，儒醫泥古亦非也。《神農本草經》動稱服食成仙，皆漢代術士所傅會。古人學問多口授，其中或間有神農遺訓，正未可知，故醫家奉為圭臬。然於水銀、朴硝，亦云久服延年，此等語豈可盡信！修園好為高論，見《本經》言人參氣味甘寒，遂力指人參為陰柔之品，非溫補之物，究竟《本經》無陰柔二字。古今物性本有變更，況古書所指者上黨參，後人所重者吉林參。真山參陰陽並補，性既升提，必能扶陽抑陰，作為涼藥，便有流弊。今有絕少佳者，市間所估，多矯揉造作（植于田園，糞以熱藥，以求易長。用接樹之法作成蘆頭，浸以糖水，薰以硫黃）。用入溫補，亦恐性暴無益。（修園書內間有寒涼方，其治病實非概用參耆，未必動輒殺人，故得名醫之稱，此其巧也。惟議論醫理，則言不顧行，處處側重辛溫，力斥寒涼以炫其長。新省皆湘楚醫生，作事敦實，讀其書，宜溫補，遂不論何病，即溫之補之以致害人。余家傳祖訓，但求言行相顧，勿過為高論，只期治病能愈，不拘合古書。仲景人也，我亦人也，今昔病情不同，使仲景復生，亦安能墨守舊說乎？</p>

<h2>31．吐血咯血的病源是什麼？</h2>
<p>問：吐血咯血之症，醫家或類列諸方，不探病因，或混言外感內傷，不抉所由，或以七情分五臟，或以血色分五臟，或以血之紅紫辨陽經陰經，或主五行生剋而歸咎於土濕，或言五臟有血，六腑無血，吐臟血即死。所吐皆經絡散行之血，議論紛紛，莫衷一是。《巢氏病源》分吐血為三種，一內衄，二肺疽，三傷胃。然三者仍屬病狀，非病源，請探本窮源，闢去浮詞而簡言之。</p>
<p>吐血咯血之病源，大致分三類。</p>
<p>—曰偶然硬傷。（猛力舉重跌打受傷，凡此類若所傷不重，本無大害，治宜通血去淤。世有硬傷不痊者，由亂用他種血藥故也。若咳嗽嗆傷，偶見血者，當治咳嗽，不入血症。）</p>
<p>二曰陽火偏亢，（素體實熱之人，或夏行烈日，或過於勤動，觸受大熱，實熱人誤服溫補藥。）熱透經絡。（飲酒過度，傳熱於臟。實熱人或過於思怒，或驟有悲憂驚恐，激動諸火。凡此者，吐肺、胃、肝、脾諸經之血者多，吐心血者少。皆因陽火太盛，血受火蒸，熱極漲溢，浮於應有之數。將吐未吐時已頭昏目眩，口苦舌黃，舉動稍不謹慎，因而藉端發作，順勢逆行上湧，自去其有餘之數。凡陽火吐血者，皆火有餘，陰未虧，初吐者五臟本質並未腐壞，屢吐者肺胃或有傷爛，治宜瀉火，使與陰平。切忌滋補溫補，變成陰虛。簡言之曰：陽火偏亢者，熱極而血湧也，血未壞不可補也，補之則益熱矣，瀉之則以涼為補矣。）</p>
<p>三曰陰虛火旺。（天下無生成陰虛火旺之人。人身小天地，必陰陽相濟乃成軀殼。先天本無偏倚，惟陰陽平列，陽健陰柔。人有知覺，即多嗜欲營謀，不肯自平其火，加以飲食失度漸成陽火偏亢之人，發為諸病。醫者不敢清心瀉火，或誤投滋補，引入陰分；或妄用溫補，灼傷真陰；或曾吐血一次，愈治愈誤，或肺胃肝脾之血，屢吐屢以他藥強止之，如築堤障水，以誤為是，久之成為陰虛火旺之病矣；或由色欲過度，大傷腎陰，調理再誤，漸成此病；或縱酒吐血之後，仍不戒酒，久而腑腐，醫者復誤之；或已成陰虛，不肯開拓心胸，復傷七情，激動諸火。凡真陰虛火旺者，大肉陷下，大骨枯槁，非尋常瘦人可比。行動如浮，乾咳不止，顯出種種壞象，舌色如絳無苔。若有深黃苔者，尚可作陽火治。凡陰虛火旺已成者，吐少咯多，所出已至心血腎血，甚為難治，五臟本質多有腐壞處，並有凝血黏滯，成塊成蟲，故其咯不止，狀如吐痰，常有少些，陰日虛，火日旺，多以干癆終。亦有血勢一湧而來者，即無救矣。治陰火已成者，補瀉兩難，只有滋陰降火之法，除去五子、萸肉等酸斂之品，尤賴病人善自珍攝，勉強延年耳。總之陰虛火旺之多半由庸醫誤治而成。凡瘦人陽火偏亢時，當詳察舌脈，萬勿誤認作陰虛，是在識力。簡言之曰：陰虛火旺者，藥誤而使血壞也。血壞，不能強用溫補，溫之則津竭，補之則增滯。）</p>
<p>氣虛體寒者無吐血。（硬傷則有之，是因受傷，非因虛寒也。或云氣虛挾寒，陰陽不相守，血亦妄行，用附子理中湯加木香、烏藥，其說謬也。夫人身之火非真火，即熱也。熱極斯血漲而湧，虛寒者，安能使血漲乎？陰陽不相守，當陽脫而死，其血斷不妄行。大抵虛寒入，忽然咯血，必因嗆傷或硬傷，或藥誤所致，或感冒風傷於血者或有之，治風則止。其咎不在血，不可立虛寒吐血之門。偶有吐血從風寒得者，因風中有寒亦有火，實熱之人感受風火燥，觸發內熱，風傷於血而吐血，當作散風治。或虛寒人感冒咳嗽嗆傷出血，當作咳嗽治。若傷寒症偶見血者，宜從傷寒治。故古方用麻黃、人參、芍藥，是以傷寒為主，非以血為主。有表先治表，見血休治血也。《金匱》曰：亡血不可發表，豈有血證可投麻黃哉？《金匱》所謂亡血，非專指吐血也，凡血虛者亦謂之亡血。無表邪則不可發，若太陽感風邪傷血，可用麻黃散風而血自止，惟宜辨明有風邪表證方可，非謂吐血便用麻黃也。黃元御《長沙藥解》內傷吐衄，緣土濕非燥證種種，外熱煩蒸無非土濕、陽飛、火奔、水泛，久服地黃無有不死云云。彼蓋見地黃陰品治血不效，歸咎於濕，不知陽火吐血須以苦寒治之，地黃湯滋膩不能勝病。若陰火吐血專用地黃，本屬敷衍，其咎不因土濕。夫臟腑在身中，即無日不在濕中，安見脾土獨不受濕乎？有土無水，有燥無潤，安能生物乎？）</p>

<h2>32．吐血、咯血、衄血應當怎樣治療？</h2>
<p>問：吐血咯血衄血治法奈何？</p>
<p>血證，心、腎、肝、肺、脾、胃均有之，多因血熱妄行，猶洪水之橫流也，醫家治法往往各異。夫鯀治水，禹亦治水，法鯀者築堤障流，法禹者疏河入海。吾家相傳，法禹而不法鯀。故治血妄行，不以治血為先，而以歸經為要。歸經則血自止，所謂見血休治血也，若陽火偏旺之人，（辨舌察脈之法，詳前論內傷篇。）多吐肺、胃、脾血，胸中內熱，掌心燒，或咳吐，或嗽吐、痰吐、湧吐，嘔吐多少不定，紫、紅、淤黑不一色。治肺胃吐血，君細理石膏（八兩），配知母（四錢），臣犀尖（七錢），佐使三黃，（芩、柏各三錢，黃連錢半，）和甘草（一錢）可救。（倘咳嗽、痰喘者，加天花粉、竹茹、生桑白各三錢。）治脾吐血，君承氣湯。（生大黃、朴硝各三錢，生厚朴一錢，枳實錢半，）臣白虎（去甘草、粳米），佐使三黃可救。（黃芩三錢，黃柏二錢，黃連錢半。）若吐肝血者，面青筋露，左腕內疼，吐時腥先來，血後至，多少紫赤不一定，君羚、犀（各四錢），臣膏、知（生石膏四兩，生知母三錢），佐使三黃（黃芩三錢，黃柏二錢，川連一錢），和甘草（一錢），可救。如陰虛火旺已成之人，或吐心血，面紅耳熱，吐必無多而色紅，治本維艱，君犀尖（一兩），臣天、麥（各三錢），佐使三黃可救（黃芩、黃柏各二錢，黃連二錢半）。或吐腎血者，潮熱有常，吐必少而色紫，治尤不易，君地黃（一兩），臣丹（二錢），澤錢（半），淮山（三錢），萸（錢半），佐使知（三錢），柏（二錢），可救。如偶有硬傷者，猛力舉重、跌打受傷之類，宜行血去瘀，當歸、蘇木、生地、川芎、木通、白及、三七、桃仁，紅花之類可治。衄血傷寒證有之，心肝脾肺胃熱均有之，惟肺熱居多。男人衄血常流，謂之華蓋傷戕，恐致夭折；女人衄血頻見，謂之紅流風管，子嗣維艱，治法專經而治，與吐血同方。惟傷寒衄血則表散汗解而止，遵《傷寒論》治法最良。祖師口授先祖云：治血熱妄行證，禁用參、耆、燕窩、熟地，誤用則速其亡；惟女人血虛崩下不止，當重用參耆，為其能升提血氣之陽也。</p>

<h2>33．用苦寒重藥治療失血的道理是什麼？</h2>
<p>問：先生治陽火吐血，專主瀉火，令人駭懼。嘗聞醫家治失血多用溫補，《素問》曰：陰陽之要，陽秘乃固。又曰：血氣喜溫而惡寒。褚澄《遺書》謂：血證服寒涼，百不一生。李東垣曰：脫血益氣，古聖之法。又曰：參、耆、甘草為瀉火之聖藥。歷代醫書論陽生陰長之義不勝枚舉，治虛勞血證者，大率歸脾湯、保元湯、當歸補血湯、補中益氣湯，甚者用一味固元湯、十全大補湯、回陽湯、獨參湯，無非急補真元，壯氣攝血。或又有用甘草乾薑湯、附子理中湯、景岳鎮陰煎、全真益氣湯，藉辛熱之藥同氣相求，以引火歸元。偶有兼用甘寒之品，滋陰降火而主扶陽者，且力斥其謬，斷無聚諸苦寒重藥並用之理，先生卻投之而效，於《素問》古經有所法乎？請聞其解。</p>
<p>子何拘執成見，以補視補，以瀉視瀉乎？子疑余之離經叛道乎？夫缺斯補，盈斯瀉；無缺而補，補即為毒，有餘而瀉，瀉即為益。余誦《素問》決死生論曰：實則瀉之，虛則補之。針解篇曰：氣實乃熱，氣虛乃寒。實與虛者，寒溫氣多少也。至真要大論曰：氣血正中，常有天命。又曰：熱淫所勝，胸中煩熱，嗌乾咳喘，吐血鼽衄；火淫所勝，咳唾血，煩心，胸中熱，鼽衄。又曰：諸熱瞀瘛（音茂尺，目昏暗而手足抽掣也，假寒真熱者常有此證），諸禁鼓慄，諸逆衝上，皆屬於火。熱者寒之，溫者清之，燥者潤之，以平為期，宣明五氣篇曰：陽病發於血。脈解篇曰：陽盛脈滿則咳血見多。陰陽應象大論曰：治病必求其本。標本病傳論曰：知標本者，萬舉萬當，先熱而後生病者治其本。皮部論曰：熱多則筋弛骨消，肉爍䐃破。氣穴論曰：邪溢氣壅，脈熱肉敗，營衛不行，必將為膿。奇病論曰：無損不足，益有餘，以成其疹。《內經》雖無治吐衄之論，而參觀諸說，可自得之。夫陽火偏亢之人之吐衄，尚未成陰虛火旺之證者也，其吐衄為標，其熱中為本。余則寒其熱，清其溫，潤其燥，期其正平，損其有餘，不成其疹。彼用溫補藥者，熱其熱，溫其溫，燥其燥，昧其平正，益其有餘。苟安於目前，終必成其疹，以夭其天命，而顧藉口於陽密乃固之說乎？余誦《素問·生氣通天論》曰：凡陰陽之要，陽密乃固。兩者不和，因而和之。故陽強不能密，陰氣乃絕，陰平陽密，精神乃治云云。夫陽火吐血之病，本於陽強，再以溫補強其陽，陽不密，陰不平，兩不得和，久必絕其陰，即成陰虧之疹矣，而復藉口於血氣喜溫之說乎？余誦調經論曰：血氣喜溫而惡寒，寒則泣不能流，溫則消而去之。夫泣者，凝也；消者，瀉也。此岐伯言血氣大概寒凝溫瀉。今陽火吐衄者，方熱極而漲溢，正宜消去其溫，以苦寒藥乘熱入胃（所謂寒因熱用），有減熱之功，無凝血之弊，（人身本極溫，雖虛寒之人，其血未必真凝也。陽火偏亢之人，熱過其平非一朝夕。內熱已極，血乃上湧，此時方憂藥力不勝，斷不慮其凝血。或曰吐血自止之後，熱可略減，何必遽投苦寒？不知火亢之人，熱氣蒸入骨髓經絡，如油入面，雖湧其有餘，究未清其根本，須急治之。余家傳治陽火病萬舉萬當），而烏可執寒涼不生之語乎？此說出於褚氏「癆極論」。夫曰癆極，是指陰虧已成證，非指陽火偏亢證。苦寒可治陽火，原非治陰虛，毋誤解褚澄之書，而異訾余言也。若李東垣脫血益氣之法，亦非論陽亢證，所創補中益氣湯，治諸內傷，不知有虛寒內傷、陽火內傷（似陰虛而未成陰虛之證，辨法見前）。陰火內傷之別。窺李氏制方之意，重在火衰之虛寒人（即陽虛氣虛者）。而後世用以誤治陽虧火旺之虛勞人，俗醫之偏溫補者，復簧鼓其說，加減補中益氣，衍為溫補諸方以治各種血證。凡天下形容略瘦之人，但爾吐血，無論為陽亢、為陰虧，皆慘罹參耆之禍，豈不痛哉？陰陽應象大論曰：陰靜陽躁，陽生陰長，陽殺陰藏。今乃僅舉陽生一句，以為脫血益氣、壯氣攝血之據。夫脫血者，皆由陽過躁而陰不靜，參之性升，耆之性補。患陽亢脫血者，升之補之，將氣愈壯，而血愈難攝；患陽虛脫血者，升之補之，將氣更難攝，而血更易脫。諸溫補藥流弊皆同，病人之不即死者幸耳！大率陽亢者，逼成陰虧，陰虛者日益怯弱，或終斃於血，或成於癆，或發癰疽，變他病以死。蓋用辛溫峻補，猶之築堤障水，急病暫止，後患益深。往往有行動自如，而旦夕猝斃者，即此類也。余父兄及餘數十年來，默識脫血而服溫補者，初發幸痊，再發難救。其服藥較輕而精神耐久者，三四發至五六發必死，莫能過六次。凡已成陰虛火旺之人，本難療治，而陽火偏亢，初未陰虧之人亦雜治而死。寡人之妻，孤人之子，獨人父母，誰之咎耶？而信引火歸原者，貿貿然以火益熱，託名於同氣相求，且執太陽當天，爝火自熄諸談，以自欺欺人！試思吐血者之火，究竟爝火乎？人火乎？所投參、耆、桂、附、薑、棗、白朮、當歸等辛藥溫藥，入病人腹中，究為太陽乎？抑熾其人火乎？脫血以後，有稍安之時，妄人居為已功，欣欣然筆之於書，所謂妄治時愈，愚心自得（二句見《素問·徵四失論》），真醫道之魔障，生民之厄運也。吾願學醫者毋虛虛，毋盛盛，毋損不足，益有餘，以成其疹。</p>

<h2>34．《金匱》柏葉湯適合治什麼樣的吐衄？</h2>
<p>問：陽火偏亢人吐衄，陰虛火旺人吐衄，皆不可投溫補，既聞命矣。若溫而不補，如《金匱》柏葉湯之溫散可乎？否乎？</p>
<p>柏葉湯用柏葉、乾薑、艾、馬通汁合煮，以辛溫遏止，猶之治刃傷之參用生附也。然此特治標之一方，《金匱》云「治吐血不止」，實則治吐血未甚者耳，故下文即有三黃瀉心湯也。《金匱要略》為王叔和所亂，未必盡出仲景。泥古者從柏葉湯內化出陳墨汁、十灰散（扁柏、大薊、小薊、荷葉、茅根、茜根、山梔、大黃、丹皮、棕櫚皮，各燒灰研末，以藕汁、蘿蔔汁、陳墨汁調服）、四生丸（生側柏葉、生艾葉、生荷葉、生地黃）諸方，較柏葉湯稍涼，確能暫救目前。究屬逆而止之，恐有後變，終不如釜底抽薪之妙。</p>

<h2>35．四物湯、六味地黃湯能否滋陰降火？</h2>
<p>問：然則補而不溫，如四物湯、六味地黃湯之類，審病加減，以滋陰降火可乎？</p>
<p>唐宋以來，士大夫頗信黃老家言，妄思服食成仙，往往以金石燥烈之物殞其身。金人劉守真因創為瀉火之說，不拘成法，對病處方，應手奏功。而學河間者昧於虛實，動以攻伐戕生，於是李杲創補土之說，獨重脾胃，引經立論，精確不磨。而學東垣者，昧於寒熱，動以溫燥戕生，於是朱震亨創為陽常有餘，陰常不足之論，謂陽易動，陰易虧，獨重滋陰降火。雖似偏涼，而意主補益，實於劉李之間，調停兩可者也。丹溪見人多酗酒縱欲，精竭火熾，諄諄以飲食色欲為箴，可知滋陰降火，本一時救弊之術，本用治陰虛火旺之證，故所立補陰諸丸皆取甘平滋潤。庸醫不明其理，奉滋補為護身符，遇容貌稍瘦，陽火偏旺，尚未成陰癆勞證之人，竟誤作陰虛一類，從而滋補之，曰此滋陰也，此降火也。不知陽火偏亢之病，其口苦骨痛發熱，皆須苦寒瀉火方能見效。若尋常甘寒藥，名為滋潤，被陽火一蒸，即易膠滯。今人慣用之四物湯內當歸補，（吐衄切忌補血，已詳前問吐血治法條內，）地黃膩，芍藥斂，芎藭溫，皆能益熱助火。又慣用六味丸以五味子等加減之，萸肉、五味既能補腎，尤極酸斂，而熟地之淤塞，山藥、茯苓之溫補，皆被收澀以助腎火，（常見加減六味地黃以治勞傷者，意欲降火而病人慾火益熾，身體日瘦，陽道反壯，甚至精涸血流，宗筋不衰。尤可憐者，醫生總不知藥之助火，反嫌伉儷大篤，強離其夫婦，於是病火藥火之外又增心火矣。試思六味果能降火，何以愈服愈熱？可恨六百年來絕少醒悟之人。）雖間用知母、黃柏，終屬寡不敵眾。（或反謂苦寒化燥，而知柏且蒙冤矣。）愈滋陰益愈黏滯，口苦骨痛，發熱益甚，名為壯水，適釀成真陰虧。而喜參、耆、桂、附者，反指為水氣滔天，改用辛溫，（如以鴉片提精神，稍能振作，究屬禍事，）歧中又歧，病者休矣！要之甘寒苦寒，皆有所宜，治病在藥，用藥在醫，察脈與舌。凡陽火偏亢之人，無論吐衄與否，酌用石膏、知母、黃柏、芩、連之類，甚則犀角大黃承氣。《素問》所云治熱以寒，治溫以清，補之瀉之，久新同法。大毒治病，（五常政大論，）有故無殞也，（六元正紀大論。）不可投二地二冬諸陰分藥，有滋陰之名，無降火之實，火不得清，水乃益虧，藉口於謹慎，實則識力不及，養癰貽禍。（六味地黃湯，無病人飽食無害，氣能化也；若略偏內熱者，即有收澀凝滯之慮。）</p>

<h2>36．用生地汁可否治吐衄？</h2>
<p>問：偶閱洄溪徐氏醫書，有用生地汁治吐衄，如此不補不溫，是或一道歟？</p>
<p>倘在懷慶有真鮮地黃汁，或尚可用。惟此物不易曬乾，懷慶人於收割後，必以沸水熬一次，然後晾曬，遠處販售，斷無真生地。取汁之法，以四五斤入水浸透，得汁一斤，水多而原汁少，況曾經熬過，即有黏滯之患，不如生石膏熬湯之清涼也。醫家常用生地，自云不黏滯，不知實與蒸透之熟地相差無幾，餘明知其假，不敢妄用。</p>

<h2>37．寒涼藥能凝血故不可用於奪血證對嗎？</h2>
<p>問：醫家皆云血遇涼藥則凝結，故深戒寒涼。滑伯仁逆折之法見譏於後人，《靈樞》有云「奪血之後，不可瀉」。蒙雖奉教，頗滋惑焉？</p>
<p>子何問之不憚煩耶？寒泣溫消之理，前已詳辯，今再申論之。夫兩害相權，取其輕者；兩利相形，取其重者。苦寒凝血，弊尚需時，大熱傷生，危在轉瞬。二者之害，熱急而寒緩，況寒未至於凝乎！故有取乎清火。辛溫補氣，未能驟成，濡潤去煩，事原順理。二者之利。潤大而補微，況補適足以增熱乎！故有取乎霖雨。彼陽火偏亢人之吐衄，由臟腑積熱，傳熱於血，血質熱極而漲而湧，（如寒暑表之得熱漸升也。）既吐之後，去其有餘之血，或有數日略安，究未清血中之熱，（其先骨髓血脈皆已熱透，腸胃又有積滯，舊熱未清，時生新熱。）難保日後不翻。惟有掃除治血之成見，作為大熱證治之，實正本清源之上策。《經》所云肺苦氣上逆（言熱氣上升），急食苦以瀉之，當重讀急字，不可須臾緩也。（此苦字指苦寒。上文脾苦濕，急食苦以燥之，及《五臟生成篇》多食苦則皮槁毛拔，是指苦溫。語意各別，勿誤謂苦寒化燥也。）火既有餘，涼之何害？以涼得平正所以補，順導非逆折，亦非於奪血之後，故意瀉之也。滑伯仁於血溢血泄，率以桃仁等物行血破瘀，折其銳氣，然後區別治之。以治硬傷則可，而昧昧者用治陽火偏亢，陰虛火旺，皆所不宜。滑氏之弊在破瘀，不在偏涼，而昧昧者引為苦寒之戒，於是不敢以涼藥治病根，妄投滋補溫補，偶遇病軀稍安，即云藥物收效。正如橫風張帆，亦可破浪，而終非萬全之策。遲之又久，服地黃滋補等藥者，澀膩增熱；服參耆溫補等劑者，燥涸津液，易成於癆，喘逆壅塞，或腐臟腑變他症，輾轉云亡，而醫且逍遙世外。蓋撰醫書者長於文詞，未必長於閱歷；業醫術者工於謀生，未必工於治人。用溫補，則合旁觀之浮言，責任稍輕，無論所學深淺，皆可敷衍以售技；投寒涼，則駭病家之耳日，擔荷尤重。自知識力平常，聊且隨波而逐流，於是泥定補益為藏拙地步，以誤傳誤，成數百年之積習，且美其名曰培脾土，曰益真火，雖已操刀而殺人，猶得執書以弭謗。余目擊誤溫誤補之多，不覺談虎色變，非敢有意偏涼也。宜溫則溫，宜涼則涼，本無成見，惟陽火吐衄，家傳苦寒治法，無不痊愈。（往往以藥解藥，少服難收近功，病者易疑耳。）鄙意不欲與群書爭詬，屢承詳詢，斯敢直言，今且勿庸多辯，試留意他家舊術，究能徹底治好否？昔人有言，空談無補，靜觀自得。</p>

<h2>38．用寒涼藥治病遇到別人責難怎麼辦？</h2>
<p>問：失血之後，固不可補，竟以大寒涼藥灌之，親朋駭懼，徒受謗言。廉聞上工治未病，亦有法乎？吐血本危，雖用藥不誤，或旁人掣肘，未盡藥力，或壽命有數，適逢其厄，勢將歸咎於醫，其奈之何？</p>
<p>窘乎哉，問也！人生胚胎由先天真火摶結而成，自胎而育、而嬰、而童、而成人，皆恃陽火熱氣，周轉奔流，以運其軀殼。古人陽有餘陰不足之論確有至理。方其孕也，藉氣血為先天之火，及既育也，資飲食以益後天之火。然有利必有弊，飲食所以益火，而蓄火易生積熱。積熱者，浮於應有之熱也。人必當節飲食，寡嗜欲，祛七情之紛擾，戒無端之滋補，偶因飲食增熱，必顯於舌，隨時清潤消導之。若昧於此，既成陽火偏亢，復失調治，或誤用藥，迨內熱已甚，勢將吐血，必脈數而沉弦，口苦唇燥，舌黃骨熱，心煩，屢有頭昏目眩鼻衄諸症，此時速投苦寒，或可免吐。（此論陽火偏亢，非指陰虧火旺已成症者，此病再誤治之，方成陰虛癆症。）醫者治陽火宜苦平陽，治陰火則不得已而滋陰降火矣。陽火湧吐，陰火咳吐，此時脈亂或伏，全憑鑑舌：凡陽火證，舌由黃而黑，黑至舌尖則難治；陰火症，舌上絳色無苔，重則色變，如夏日豬肉將腐之形（非紅非紫，難以言狀），則難治。某家世習岐黃，聊思自治，非敢榜於門曰儒醫、曰世醫，以炫術而謀生也。親友信而相邀，始往診視，倘群醫咸在，議論紛壇，或病家疑信參半，不能照服，即不與立方。若眾醫束手，病家不掣肘，為之審證施治，多有效者。惟病重人，往往閱歷多醫，積藥之誤未易驟清，初得對病之方必稍有轉機，救急尚易，除根最難。續服數劑，藥未勝病，反覺平常。一二十劑後，藥與病爭又覺不安。病人既轉機，病家無畏心，而希近功。信者復疑，舊醫復來，改弦易轍，前功盡棄，病益難為，良醫轉受其謗。故醫家治病當具卓識（習技未精者，萬勿毅然自信）；病家延醫，尤忌紛更。</p>

<h2>39．內熱體質和病愈之人能不能用補藥？</h2>
<p>問：陽火吐血，宜苦寒，戒溫補，並戒甘寒滋補；陰火吐血，寒溫兩難，不得已而滋陰，聞所未聞，今始爽然無疑矣。但未知尋常內熱之人可以補乎？病痊之人可以補乎？</p>
<p>子無日不飲食，亦思飲食者，為其餓而補之也，試以美味飫饜飽之人，必脹滿成疾，氣逆嘔吐，而補適為損矣。《素問·五常政大論》曰：穀肉果菜無使過之。穀肉且然，何況藥餌？《素問·腹中論》黃帝曰：夫子數言熱中消中（熱中是內熱，消中是善食易飢，陽火偏亢者多如此），不可服高粱芳草石藥（高梁指一切厚味，芳草指辛溫之品，石藥如《和劑局方》所載各種鍛鍊金石燥烈之劑）。熱中消中，皆富貴人，禁高粱是不合其心，禁芳草石藥是病不愈，願聞其說。岐伯曰：芳草氣類，石藥氣悍，二者急疾堅勁，熱氣慓悍，藥氣亦然，二者相遇，恐內傷脾云云。岐伯之意，富貴人不可妄服補藥，凡貧賤人有熱中消中之病者，亦不可妄服補藥，自不待言而喻。今之實熱人，不能自別舌脈，稍有不適即惶然曰虛，醫者一知半解，望問未悉，即毅然曰補，於富貴人尤甚。於是無病生病，小病增劇，輾轉誤治，流弊百出。（誤補者益熱動火，升痰助氣，閉邪積滯，有小恙者固住不散，滋補輕劑，健人服之易化，無益無損，若小病不對，便有流弊，辛溫更不必說。）若夫病後之當補，則眾口一詞，牢不可破。不知藥本毒物，故昔人稱神農嘗藥為嘗毒。天下止有去病之藥，斷無憑空補人之藥。病體服藥，以毒攻毒，有病則病當之，病與藥相消相抵。正如天元數理，漸得其平，雖用重藥，亦無過慮。病止則藥止，除飲食益火之外，切不可別投補劑。草木無情，有補於此，必有損於彼。病後氣體未充，恐不得此之補，先受彼之損。（有喜用人參、燕窩調理者，不知世情詐偽，二物絕少真者。假參性烈，假燕窩性燥。又如海參壯陽，甲魚有毒而妄稱補陰，此等最易誤人，不可不知也。）《五常政大論》黃帝曰：病去而瘠奈何？岐伯曰：化不可伐，時不可違（言化物必待天工，勿違之而助長），經絡以通，血氣以從，復其不足，與眾齊同。（言病既去則血氣漸能自復。）養之和之，靜以待時。（養者，即上文之穀肉果菜也；和者，即所云無使過之也。）聖賢之養身如是，曰靜曰待，可以悟道。竊願病痊之人，忽揠苗助長，醫者亦毋畫蛇添足也。（後世顯貴之人，多姿意酒色，縱欲耗精，全恃參茸隨時彌補，醫者拘執俗見，診貴人病，不察舌脈，概以溫補為主，不知亦有仕途清流，本無姬妾。更有不以家室自隨者，而醫生仍多用參、茸、虎、鹿等物熾火鑠陰，損人最甚。凡士商遠道謀食，孑然一身，不可誤信庸醫。無端溫補亢陽。益陽必增內熱，治之復誤，變症雜出。夭之生人，以平為期，一物不可獨虧，亦一物不能獨盈。陽精不泄，七八日後輒化濁質由溲溺出，溺桶中有如秋石者是也。人身精血一日一夜五十次周於身，循環無端，七日來復，曠夫陽旺，無論壯瘦，偶或遺泄，皆滿溢也。聽其自然，切勿逆制。某甲夏日遺精，誤為大虛，重服溫補，適有暑邪遏住，遂頭弦目昏，醫者復補之，轉瞬即亡。某太令由滬至津，輪船中日服丸藥，閉塞風熱，到津赴宴返寓，明日不起。閩省某丞無子，常服溫補，久而陽痿，求余診治。視其舌，知積熱膠滯，投以白虎三黃等苦寒之劑，後連得男子。某富室之婦，急於求子，久服溫補，不能生育，面黃經黑，治以苦寒，逾年得子。專對之才，奉使絕域；飽學之士，隨節重瀛。沾染夷風，口啖牛羊，不知西俗飲饌中，常有生大黃汁及咖啡等物暗中消導。比反中土，仍喜牛羊，而無其消導。積熱發病，群醫偏執辛溫，戒用苦寒，往往不救，深可惜也。總之舌上有厚黃苔，刮之不脫淨；或刮下如漿糊者，即臟腑蒸熱也，勿服溫補。藥肆中人，常托醫者故意多開補藥貴品，以便射利，而醫者得分潤焉。僻地小邑，此弊最甚。）</p>

<h2>40．麻黃人參芍藥湯治吐血的道理是什麼？</h2>
<p>問：先生言虛寒無吐血，何以李東垣有麻黃人參芍藥湯治外感寒邪吐血乎？</p>
<p>噫！讀醫書者豈可如時文家之截上截下乎？李氏書曰：一貧士脾胃虛，與補藥愈，後居曠室臥熱炕，咳而吐血，東垣仿仲景麻黃湯之法，作此湯愈之。夫臥曠室中之熱炕，則外感風寒，內受濕熱，其病本屬傷寒。咳而吐血，當重讀咳字，因咳嗽見紅，必所唾無多，略有浮火耳。仲景麻黃湯治傷寒未汗而衄血者，故東垣仿之而效。此病重在虛人外寒遏內熱，不重在吐血。治法重在發汗，不重在止血，當人傷寒類，不應入吐血類。列為吐血方者，意欲炫技以欺人，醫書中如此者甚多，閱者當具隻眼。凡傷寒症，專治傷寒，偶爾見血，不必治血，亦能奏功。李時珍指東垣此方為萬世規範，實為東垣所愚，後之醫者遂妄增虛寒吐血一門，無非喜用參耆，故意引此條為古人以參耆治血之據，不啻以盲導盲，凡引用古方以害人者，亦如抄襲不對題之文，強題就我，連上犯下，猶自鳴得意也。</p>

<h2>41．黃坤載以人參乾薑湯治吐血對嗎？</h2>
<p>問：昌邑黃元御云吐血之證，由中下濕寒，土敗陽虛，當補中培土。所制靈雨湯，由人參乾薑力斥泄火之非。廉閱各種醫書，偏執之甚，莫過於此者。先生以為何如？</p>
<p>黃坤載醫書甚多，今通行者為《傷寒懸解》等八種。於歷代名醫，除仲景、孫思邈外，悉遭痛罵，謂皆無知妄作，無一線微通，曰群兒醉夢，曰群凶助虐，曰無賴賊。汙衊之談，滿紙皆是，隱然自命為仲景後身，狂妄剛愎，無逾於此。夫仲景用建中湯治虛勞，係指陽虛，非謂陰虧火旺者也。而黃氏動以溫燥之品治勞傷，本與仲景刺謬；諸家滋陰流弊，由於黏滯益熱，黃氏不明其故，反詬為瀉火伐陽，乃創泄水補火之談，使病者罹炎火銷鑠之慘。天下安有中濕而成驚悸吐血者乎？天下安有虛勞而可以人參升提，可以薑桂熏蒸者乎？此理前已詳論，茲不復贅。察閱黃氏各種，實仿李東垣重視脾土之意，又並東垣而罵之，殆奴叛其主歟！無論男女老幼，內外萬病，不細察舌脈，以別表裡寒熱虛實，概以脾土受濕四字斷之，概以補火燥土四字治之，醫理竟如此易易乎？措詞誇鄙，時時狂罵，正如市井醉人；金木水火土，五行生剋，千篇一律，又如瞽者談命。不知身體竟是血肉，何嘗是真土木？空談五行，究與病源何涉？壯火殺水，不遺餘力，絕不思大地生物，悉資灌溉，使盡為焦土，則赤地不毛，成何世界？又不思胎育之初，陰血陽精，皆由濕化。使人身悉同燥土，則生機頓絕，何能滋長？專門名家之技，非文士所能兼擅，可讀者未必可行，猶之腐儒談兵，馳情千里，不明尺寸者也。長沙徐侍郎板而行之，彼都人士，奉為寶籍，此風傳至新疆，被害接踵，吁嗟可憫。</p>

<h2>42．對黃氏諸種著作應如何評價？</h2>
<p>問：黃氏《素靈微蘊》，有云罄心渺慮，思黃帝岐伯越人仲景之道，三載而悟。夫醫理果可頓悟乎？其《四聖心源》，論七十六病，清辯滔滔，陽潮張翰風推為長沙而後，一火薪傳，果無愧歟？</p>
<p>學問之道，半在讀書，半由閱歷。孔聖教人，思不如學，豈有冥心頓悟之理？黃氏自謂尊信仲景，然仲景何嘗括眾病於土濕？何嘗專主補火瀉水乎？黃氏惟取術家五行、儒家扶陽抑陰之泛語，奉為典要，以杜人口，余按《素問·調經論》曰：百病之生，皆有虛實，陰陽勻平，命曰平人。蓋陰陽二氣，貴得中和，固不可陰盛陽衰，亦不可壯陽殺陰。今乃以益火竭水，賅諸醫術，是病人必火虛而水實，平人必有陽而無陰，亦不思之甚矣！所編《素靈微蘊》胎化解以下八篇，援引古書，足傲懦懦，醫方解以下諸篇，語必詬人，論惟主我。在未讀四聖書者，輒以為《心源》默接，《微蘊》獨窺，實則拾五行之牙慧，己土偏崇，冒四聖之心傳，門牆未入，治法毫無證據，病源但握一經，明是一部論脾土文章，左縈右拂，舒其臆斷。夫四聖治病，必本十二經，以參二十七絡八脈，推詳陰陽，各判某經。陰陽偶偏則為病，故陽盛當毋盛盛，陽虛當毋虛虛；陰盛當毋盛盛，陰虛當毋虛虛。盛者虛之，虛者盛之。不外補偏救弊，使陰陽各得其平，斯為無病。斷無偏執補中氣，溫脾土，升脾陽，不顧脾陰，不論病源屬某經，而可以治得其平者。設有脾為火困，中氣灼傷，脾受移熱，中焦鬱蒸，亦第執補中溫土，升陽祛水之說。陽已盛而偏盛之，陰未虧而偏虧之，必致脾血溫枯，四肢之大肉盡落，脾陽升極，一身之骨蒸內炎。謂此書文理精通則可，醫理精通則未可！盡信書不如無書也。余出塞年餘，見新疆人之患吐衄、喉痛、牙痛、胸痛、骨痛、胸脹痛、脊背強、嗽白痰、吐清沫、氣喘急促，喉結痰冷，或乾咳乾燒，掌心內熱，或二便閉澀，或面紅耳熱，骨瘦如柴；望其舌則黃黑居多，苔芒膩積；聞其聲則呻吟不禁，言語維艱；問其病則初起本輕，服藥漸重；切其脈則伏代常見，怪絕多奇；驗其舊方則皆遵黃氏諸書，參以陳修園之法，不問寒熱虛實，專用補中氣、溫脾土、升脾陽。安得不逼成內傷實熱，真熱假寒諸證乎？余未精醫理，惟知審六氣七情，別表裡寒熱虛實，對病用藥，不敢偶偏。於臟腑實熱陽火吐衄各病，用苦寒救補，加重石膏、三黃、承氣等劑、大瀉實火，以平真陰。其畏而不信者，半途易轍，自取喪亡；其始終堅信者，病痊安身。群醫始詈之，繼怪之，謂余於諸書無所本也。不知《內經》有云：熱淫於內，治以鹹寒。盛者瀉之（至真要大論），滿者泄之（寶命全形論）。是寒涼治實熱，理無不宜。若元御之執拗，無論何病，概用溫補，不知何所取義？四聖而外，誰知神醫，心傳之學，由淺及深。病人有舌有脈，本可切實審察，乃舍此不問，過為高論，敷衍五行，託名培土。道在邇而求諸遠，事在易而求諸難，粗工嘻嘻，迷診亂經。</p>

<h2>43．黃氏使用薑桂參耆等藥有什麼偏差？</h2>
<p>問：《四聖心源》卷四勞傷解，多用薑、桂壯陽補火，又云參耆可補陰，其偏與陳修園相似。又謂半夏、五味能降攝肺胃，此所信否？</p>
<p>此是築塋填堤，倒行逆施，非先聖調理陰陽之正道也。凡病人本未成癆，苟遵此法治之，未有不成癆者。蓋瘦人多火，五臟菀熱（菀熱，積熱也，見《素問·疏五過論》），復投薑桂，六腑消鑠。人參為升提猛藥，彼則泥本草三十七字之注，作為潤肺清金。半夏為燥肺毒物，溫血傷陰；五味有澀肺烈性，斂邪入陰。人若肺胃虛寒，用之固能得益；人若肺胃實熱，適以連成癆傷。此等誤治，醫書十有九同。家六世祖得名師口授，療治勞傷，首戒燥斂，歷試信然。</p>

<h1>卷三</h1>

<h2>44．喉科疾病的證治大要是什麼？</h2>
<p>問：喉科甚繁，可舉其要乎？</p>
<p>家訓云：群書於喉科治法，每分數十種名目，不勝其繁皆術士故神其說，以欺世惑人耳。其實當分明表裡寒熱虛實，專經治理，方是正本清源之法。</p>
<p>世所謂喀喉掩喉者，卒然聲破無音，飲咽不作痛，用箬葉灰搓碎一掌握，衝開水服之；赤喉者，喉內會厭長而赤，飛絲入喉也，含醋漱之。或用芒硝水含漱亦效；纏喉者，似纏之緊也；鎖喉者，似鎖住也；傳喉者，喉內傳塞也；刺喉者，似有刺窒礙也；嗆喉者，喉內起紅泡而光亮也；啞喉者，喉肉壅塞也；白喉者，喉內起白點也；痹喉者，喉內麻痹也；雙蛾喉者，兩邊有核硬塞也；單蛾喉者，一邊有核硬塞也；閉喉者，似有物閉塞，氣難通也；癬喉者，喉內癢難禁也；爛喉者，喉內腐爛也。（癬爛二症，有楊梅疾者多患之。）凡人多食椒、薑、旱芹、香菜辛辣物，或好食肥，濃飲醇酒及牛羊肉諸禽獸自死肉者，易犯喉症。以上諸症，均飲食咽痛，或牙關拘緊不等，大便多不通順，（或溏泄，或水泄者，脾熱結塞，腸不運化而旁流也。）六脈必浮數，全舌必有厚黃苔。初起時，皆因皮毛外感風熱，觸發肺火，牽動脾胃，實火上炎於喉，結塞痛閉，不能飲食，是由表熱而移熱於裡，治宜表散熱邪，里清熱氣。看其舌脈，病在某經，即專某經涼散之，重則攻瀉之，自愈。</p>
<p>凡治喉症，看其表有熱邪，皮膚髮熱，六脈俱浮，全舌各經均未顯見寒熱虛實色者，治宜先從表散，勿遽用攻裡藥，恐推邪入里也。（此指表症。）</p>
<p>若表散不效，邪已入里，皮膚雖發熱，六脈與舌已顯分寒熱虛實，此時忌用表藥，須辨明症屬某經，即專經用瀉藥。急救勿遲，可保無虞。（此指里症。）</p>
<p>如喉咽痛甚，硬核紅腫，纏鎖甚緊，紅白點遍封喉內者，其舌必紅赤老黃，或苔膩焦裂乾黑大便必閉結，六脈或伏或代，無至數分顯。急當舍脈憑舌，重用生石膏、生大黃、芒硝等藥，急涼急下，百無一失，雖危極亦無虞。切勿誤從《驗方新編》所載治喉說，謂脈浮數洪大，肺受風寒，而以六味地黃、羌活、細辛等藥治之。不明脈理，以訛傳訛，戕人甚多，深堪嘆惜。蓋脈浮者風也，數者熱也，洪大者實熱也，本非陰虛寒結之證，何妄用六味地黃以填陰，羌、辛以燥寒，得毋一誤百誤乎？（此申明裡證之實熱者。）</p>
<p>或因風寒，會厭閉傷肺氣，喉內隱隱微痛不休，咽則不覺甚痛，全舌白色無苔而潤，口不幹苦，六脈浮遲。此風寒喉症，俗所謂冷喉寒喉也，宜用治風寒喉方。</p>
<p>又有陰虛喉痛者，因虛火傷肺，延及於喉，綿綿作痛，飲咽維艱，腹常作瀉，是謂水就下，樓上燒，虛損重症也。兩尺脈必極弦數，全舌必絳色而無苔，治宜生熟地黃湯滋陰降火。（此難治之症，有命則愈。）</p>
<p>治喉之法，當隨證辨明，審經用藥，看是某經病，專用某經之藥，乃為盡善。原不能拘定單方，茲約舉一二，俾知醫者隨時專經加減，非謂此即一定之方也。</p>
<p>治喉表散方（六脈浮數，舌色全紅或淺黃，各經未甚分別者宜之。若邪已入里則忌表。）</p>
<p>真山豆根（二錢），苦桔梗（一錢），連翹（一錢），黃芩（二錢），赤芍（一錢），竹葉（一錢五分），薄荷（八分），生甘草（一錢）</p>
<p>治喉解表清裡方（六脈浮數，舌中有黃苔者，或舌焦燥者均宜之。若舌脈不對則不可用。）</p>
<p>真山豆根（一錢五分），桔梗（七分），薄荷（六分），甘草（一錢），雪白生石膏（一兩），生知母（二錢五分），黃柏（一錢五分），黃芩（二錢），黃連（一錢），竹葉（一錢）</p>
<p>治喉解表清裡並攻瀉實熱方（六脈數實，舌老黃苔膩，或焦燥黑裂者均宜之，脈伏代表亦宜之。若舌脈不對則不可用。）</p>
<p>真山豆根（二錢），生桔梗（一錢），甘草（一錢），楂肉（二錢），雪白生石膏（二兩），生知母（三錢去毛），黃芩（三錢），黃柏（二錢），黃連（一錢五分），生大黃（三錢），芒硝（三錢），生枳實（一錢五分），生厚朴（一錢）。如喉干痛甚，則一、二、三倍重加石膏；如大便閉多，加大黃一二錢，大便結甚多，加芒硝一錢；小便不利加木通一錢。（凡傳染速者必是實熱，宜用此方。病輕者，分量酌減，凡用大黃必須在早晨飯前。）</p>
<p>治風熱、實熱煎水漱喉方</p>
<p>生芒硝—兩（非元明粉也。凡喉內咽痛，或有紅泡白點硬核者，均宜用芒硝一兩，衝開水日夜屢次漱喉，久則唾出。使喉中膠絲熱津隨水帶出，風熱即因之而散也。噴唾後，以清水漱淨，乃以小竹筒吹粉入患處，俟藥氣冰涼過後，再用芒硝水如前漱治，以不痛為止。）</p>
<p>治喉感風寒，咳嗽咽痛方（六脈浮遲，全舌白色無苔，不幹苦，各經無甚分別者宜之。若舌脈不對，則不可用。）</p>
<p>真山豆根（一錢），桔梗（一錢），甘草（七分），半夏（一錢五分），陳皮（一錢），生薑（三片），白茯苓（一錢五分），紫蘇（七分），荊芥（五分）</p>
<p>治風寒隱隱微痛，寒冷喉方（六脈浮遲，全舌白潤無苔者宜之，若舌脈不對則勿用。）</p>
<p>熟附子（二錢），乾薑（一錢五分），肉桂心（七分），防風（一錢），荊芥（一錢），桔梗（一錢），炒山豆根（七分），陳皮（六分），半夏（一錢）</p>
<p>治陰虛喉痛，生熟地黃湯（兩尺脈弦數，全舌絳色而無苔者宜之。若舌脈不對則不可用。）</p>
<p>生地、熟地（各四錢），淮山藥、山萸肉（各二錢），丹皮、澤瀉、白茯苓（各一錢五分）</p>
<p>吹喉藥粉方（喉內無硬核，或有紅腫痛者均宜之。）</p>
<p>硼砂（五錢），真婆律龍腦香（一錢，即真梅花冰片）。共研為細末。</p>
<p>又方（喉內不論有核、無核，或紅泡、白點、腫痛均宜之。）</p>
<p>人中白茜（五錢。即尿缸內邊結成塊之茜也。用瓦焙乾，以能研成末為度，不可焙至老黃焦黑色）。梅花冰片（一錢），硼砂（五錢），同研末。</p>
<p>又方（喉內有硬核、紅泡、白點、腫痛癢爛均宜之，惟孕婦則勿用麝香）</p>
<p>人中白茜（五錢），硼砂（五錢），青黛（一錢），每花冰片（一錢），麝香（七釐）。共為末。喉風以山豆根為要藥，行人常備此物，可以濟急。若遇有猝感喉風症者，即令以真山豆根一錢煎水飲之，並以數片啖之。當時雖不能痊愈，必可挽危急，以俟醫治。</p>

<h2>45．癲狂病怎樣進行舌脈辨證？</h2>
<p>問：諸病皆可憑舌脈以別寒熱虛實，若癲狂之人，舌脈難辨，將奈何？</p>
<p>《傳薪集》有五行辨證法，遇瘋癲狂暴之人，如舌色不分，六脈伏代，無可辨別者，當陡然執其頭髮，怒以聲色，看其頭直衝起者，以水力（壓下）克之而止，即是火症。以寒涼屬咸（水也）藥為君，佐以苦酸甘辛藥為臣治之。看其頭墜縮下者，以土力（重鎮）克之而止，即是水症。以寒涼屬甘（土也）藥為君，佐以苦鹹酸辛藥為臣治之。看其頭搖東向者，以全力（堅卓）克之而止，即是木症。以寒涼屬辛（金也）藥為君，佐以甘酸苦鹹藥為臣治之。看其頭搖西向者，以火力（撐上）克之而止，即是金症，以寒涼屬苦（火也）藥為君，佐以鹹酸甘辛藥為臣治之。看其頭搖之鎮靜不動者，以木力（干直）克之而動，即是土症。以寒涼屬酸（木也）藥為君，佐以苦辛甘鹹藥為臣治之。若是舌脈五行均不能辨之症，別無治法。凡癲狂皆屬實熱證，虛寒無癲狂證，每有心神恍惚大愚不靈者，虛證常常有之。又有痰迷心竅而癡呆似癲者，然必有舌脈分明可判，即從舌脈辨准，專經調治自愈。世有不知辨證者，一見癲狂之證，即作為心神恍惚痰迷心竅，每多用朱辰砂鎮心補心化痰等藥，醫治不效，誤人多矣。皆緣不能辯證耳。</p>

<h2>46．絕症有沒有真假分別？</h2>
<p>問：陳修園所著《時方妙用》，羅列各絕症，決為若干日死，絕症豈皆不救乎？抑有真絕症假絕症之別乎？</p>
<p>雷公《對誦經》（三國吳太醫令呂廣重訂）論望色有五十七絕症辨，原有真假之理。陳修園節錄之，竟指為望色危候，添注二、五、六、八、九日等死字。既昧真假之別，亦無療治之方，想修園見此等症，即使舌脈尚可醫，明是假絕症者，彼亦不以為然也。見死不救，居心何忍？某非敢訾議前人，惟生死大事，不能不剖析之，以重民命。家訓解《對誦經》辨絕症云：絕症是真，原無可治；絕症是假，容或可醫。非但以症論症必參舌脈辨證，而絕症之真假乃判。蓋絕症是真，危在頃刻；絕症是假，有待崇朝，崇朝即是可救之候，何況於數日乎？凡此等症，多因臟腑鬱積甚久，宿患已深，或偶為六氣侵淫，七情觸動而發，或因調治失宜，誤服藥食而生。里證居多，表證無；熱證居多，寒症少；實證居多，虛證有。專憑舌脈辨其某經寒熱虛實以治。惟絕症甚詐，真假本屬難分，往往診之於脈。六脈伏矣，或代或散，辨無可辨矣，則急舍脈憑望舌以分之，十證可辨其八。間有牙關鎖閉，舌已無可望者，則又當舍舌脈而從五行醫法，別其寒熱虛實以治。若五行試之不靈則立即絕也，無待於醫，又何有於數日哉？</p>

<h2>47．五十七種絕症怎樣分辨真假？</h2>
<p>問：五十七絕症，真假之別，願聞其詳。</p>
<p>喜笑不休卒然倒，大笑而臥，眉息回視，雙手迫胸，均心絕真症，無治法。若是假症，脈多見伏代，舌必顯出某經受病之據。皆由脾胃移熱於心，心已熱極，治宜破格苦寒方。虛寒者無此症。</p>
<p>舌卷囊縮，目正圓痓，吐沫面赤，面青黎黑，髮直齒枯，發與眉衝起。髮直如麻，不得屈伸，自汗不止，手足爪甲青或脫落，呼罵不休，爪甲下肉黑，手掌腫而無紋，臍突足腫，聲如鼾睡，面青伏眼，面青目盲，汗出如油，目昏暗，均肝絕真症。假症脈多伏代，惟舌必顯出某經病據。皆由脾胃實熱，熱逼傷肝。肝已熱極，治宜破格苦寒方，肝脾胃並救之。虛寒無此症。</p>
<p>喘氣不納，毛髮乾焦，鼻歇、咳嗽、面赤氣急，口張，氣有出無入，落枕，咳喘不休，均肺絕真症。假症脈多洪、數、伏、代、澀、散不等，惟舌必顯出某經病據。多因胃熱逼甚，上炎於肺。肺經熱極，以破格苦寒方救之。虛寒無此症。</p>
<p>口張不合，足腫腹熱臚脹，泄利不禁無時，喘促肢重，眼胞腫黑，手足抽搐，鼻準黑暗而孔干，均脾絕真症。假症脈右關必極數而弦，或伏代不等，舌中有黃黑苔，多是胃火逼迫。脾經熱極，治以破格苦寒方救之。虛寒無此症。</p>
<p>口冷足腫，泄利無時，飲食不能進，眼胞鼻準痿白，均脾絕真症。假症脈右關極遲而弱，或伏代不等，舌中色白無苔，多是脾經虛寒已極，治以破格甘溫方救之。實熱無此症。</p>
<p>肌腫唇反，舌中黑，牙床烏，脊骨腫痛，身重不可轉側，唇舌縮，均胃絕真症。假症右關脈必極數實，或伏代不等，舌中必有芒刺焦乾，多是胃經熱極已極，治以破格苦寒方救之。虛寒無此症。</p>
<p>耳干舌腫，溺血，大便赤泄，大肉乾枯，屍臭，均肉絕真症。假症脈多伏代或數極不等，舌必全舌苔膩，乾焦，多是五臟六腑實熱已極，治以破格苦寒方救之。虛寒無此症。</p>
<p>面黑真視，目瞑不見，目不潤，口無津，均陰絕真症。脈弦數，舌無苔者，以破格甘寒方救之。假症脈數極，或伏代不等，舌必焦燥，苔裂，多是肝腎熱極，治以破格苦寒方救之。虛寒無此症。</p>
<p>目眶陷，目倒傾，汗出如珠，口氣直噴，手撒，凸眼，均陽絕真症。假症脈多似遊蝦，又如屋漏，酷肖絕脈，舌必顯出某經病據。多是五臟熱傷氣血，治以破格苦寒方救之。若是六脈遲弱。至數分明，全舌無苔，白色濕潤，則是五臟虛寒已極，治以破格甘溫方救之。</p>
<p>齒乾枯，面黑，舌縮，耳歇，目黃，腰欲折，自汗，均腎絕真症。假症脈多伏代，舌必顯出某經病據，皆由臟腑極熱，誤服溫補，盛盛其里者居多，治以破格苦寒方救之。虛寒無此症。</p>

<h2>48．《神農嘗毒經》與《神農本草》何異？</h2>
<p>問：楊紹基所傳《神農嘗毒經》，既為仲景悔過之作，則此經所論藥性，必與仲景前訂之《神農本草》互有歧異，可得聞其略乎？</p>
<p>《嘗毒經》訂正救補損毒王道藥性，皆無他藥可代者。今約舉四十味以見其概。</p>
<p>黑附子，即烏草頭子也。溫燥猛烈，熟者獨用溫燥五臟，引用溫燥六腑，表用溫燥風寒。臟腑虛寒之人嘗之則救補，實熱之人嘗之則損毒，表亦如之。生用療跌打。畏瑞鴿血、黃芩、黃連、黃柏、大黃、犀角、黃耆、人參、甘草。宜薑、椒、桂、麻黃、細辛；忌黑豆。又烏嘴天雄側子、漏藍子、土烏頭即附子之雜種，《漢本草》、《華佗本經》增入之名色，《嘗毒經》無此名。</p>
<p>白附子，即白草頭子，甘辛溫燥猛烈，專溫胃燥散風寒。胃寒者嘗則救補，胃熱者嘗則損毒。畏忌與黑附子同。</p>
<p>姜，辛溫猛烈，生用散表，連皮乾姜溫中燥散，去皮溫胃不散。連皮煨姜溫脾胃。獨用溫脾胃，引用溫十二經，表用溫表，里用溫里。臟腑虛寒者嘗則救補，實熱者嘗則損毒。畏制半廈、厚朴、石膏、知母；宜桂、附子、芍藥、大棗；忌椒，羊肉。</p>
<p>肉桂，即梫木皮，去皮去肉用也。辛溫猛烈。辛油燥風寒，酣油紫油溫血回陽。溫利心肝肺氣，溫燥三焦寒濕。獨用溫五臟，配用溫六腑。臟腑虛寒人嘗則救補，實熱人嘗則損毒。酣紫油肉桂能溫血回陽，如遇人血寒已極，陽火盡泄於外，大發燒熱，勢將欲脫，乃真寒假熱症，服之即能溫血，引陽火歸經，則熱自退，不得謂之引火歸源也。畏石膏、黃芩、大黃、黃連、黃柏、天冬、麥冬；宜參、耆、甘草、制地黃、柴胡、紫石英；忌蔥、椒、石脂。至若菌桂、筒桂、牡桂即薄桂也，皆《漢本草》及《華佗本經》所增，《嘗毒經》無此名目。</p>
<p>神桂，即老梫木之楨幹也。年久油結皮軟，入夜發光，取時必以石矢中其光，光收樹槁，乃能溫涼補瀉。皮軟油酣，引火歸源，常服不老。臟腑寒熱虛實之人，嘗之皆救補無損毒。漢張仲景云：「神桂最難得，得之勝金玉。」近世通遵張仲景初編《神農本草》為《神農經》，諸家又增減節錄，概以肉桂為引火歸源，不辨名色，誤人多矣。緣未讀仲景增補釋誤之《嘗毒經》耳，述此為博通者悟。</p>
<p>人參，即神草根也，天生奇物，儼有人形，年深日久必有呼聲。焰光夜發，取得其精，應參之宿，是地之靈，溫涼補瀉，嘗均無毒。若積年未深者，雖有人形，必無呼聲。焰光未發，必無神靈。甘溫微苦，升提猛烈。獨用升提十二經血氣，配用扶十二經陽氣。臟腑虛寒者嘗則救補，實熱者嘗則損毒。畏藜蘆、五靈脂；惡皂莢、黑豆、紫石英；宜黃耆、白朮、茯苓、甘草、麥冬、乾薑、升麻；忌鐵、童便。《傳薪集》云近今所用者，均遼東、上黨、高麗、潞州，及沁、遼澤、箕、平、易、檁、幽、媯、幷州所出者，積年未久，當從甘溫升提，用則不誤。</p>
<p>白朮，甘溫燥。猛烈燥濕，健脾和中，溫氣血。脾氣血虛寒者，嘗則救補；脾氣血實熱者，嘗則損毒。</p>
<p>蒼朮，辛溫燥猛烈。升陽燥陰，燥濕散寒。脾虛寒濕者，嘗則救補；脾實熱燥者，嘗則損毒。</p>
<p>黃耆，甘溫猛烈升陽。生用固表，炙用溫里。治諸癰疽。排膿活血。表裡氣血虛寒者，嘗則救補；實熱者，嘗則損毒。宜參、苓、朮、草；畏白鮮皮、龜鱉甲；忌烏藥。</p>
<p>甘草，味甘性平。補瀉升降，通表達里，和百藥，固中氣。生則清涼，炙則甘溫。中氣虛者嘗則救補，中氣滿者嘗則損毒。惡芫花、大戟、甘遂、海藻、遠志；宜參、苓、耆、朮、制薑、桂、附。</p>
<p>赤茯苓，甘平猛烈。利水走表，瀉脾。脾濕者嘗則救補，脾燥者嘗則損毒。</p>
<p>白茯苓，甘溫猛烈。瀉濕，健脾胃，瀉小腸脾胃。小腸有濕者嘗側救補，無濕者嘗則損毒。</p>
<p>白茯神；夾木心者是也。甘溫猛烈，鎮心腎。心腎虛者嘗則救補，不虛者嘗則損毒。畏白斂、地榆、雄黃、秦艽；忌酸醋。</p>
<p>鹿茸，甘溫補血，壯陽猛烈。治血寒羸瘦，四肢軟弱，血不營筋，精寒陽痿，腎寒腰痛，女人血寒崩漏。寒人食則補血，熱人食則吐血。寒胎則安，熱胎則下，走十二經血分。臟腑虛寒者嘗則救補，實熱者嘗則損毒。</p>
<p>當歸，即歸身也。苦溫猛烈，頭止血，尾破血，身和血，全用則調血歸經，溫中止痛。配血氣藥則補血氣，通十二經臟腑血氣。虛寒者嘗則救補，實熱者嘗則損毒。</p>
<p>芎藭，即川芎也。辛溫升陽猛烈，散頭腦風寒，行血通經，排膿消瘀，溫益肝膽氣血。肝膽虛寒者嘗則救補，實熱者嘗則損毒。</p>
<p>大棗，生用甘溫，助濕損脾，多食膨脹；乾用甘溫五臟，助濕熱，常食生蟲損齒。通十二經。少用引行百藥，多用配糖，滯中傷胃。臟腑虛寒者嘗則救補，實熱者嘗則損毒。</p>
<p>芍藥，赤者涼血，利水猛烈；白者苦甘酸斂猛烈，平肝益脾，斂血止痛，斂氣斂陰，溫固腠理，利膀胱大小腸。肝脾氣血虛寒者嘗則救補，實熱者嘗則損毒。</p>
<p>麥門冬、天門冬，甘溫入陰猛烈。滋陰制火，補肺清心，治陰虛虧損，吐膿吐血，痰嗽氣喘。陰虛火炎者宜用，陽火內炎者勿用。若誤用，則能引陽火入陰。心肺陰虧火燥者嘗則救補，陽火盛陽及虛寒者嘗則損毒。</p>
<p>生地黃，苦寒瀉火猛烈。治各經吐血、衄血。臟腑實熱者嘗則救補，虛寒者嘗則損毒。</p>
<p>乾地黃，甘涼入陰猛烈。滋補心肝腎陰血，能引陽火入陰。陰火虛虧者嘗則救補，陽火盛實者嘗則損毒。</p>
<p>熟地黃，甘溫入陰猛烈。溫補十二經陰血，專填補腎陰虛虧，能引邪火陽火入陰。陰血虛虧者嘗則救補，邪火陽火血熱者嘗則損毒。</p>
<p>石膏，以細理雪白為良，辛澀苦寒猛烈。走氣分，入陽明，發邪汗，止自汗，退單燒熱，療實熱。傷寒頭痛如裂，實火牙痛，口渴，唇焦，舌黃，舌乾，舌黑裂，陽火內炎，發熱惡寒，日晡燒熱，衄吐咳嗽痰喘，胃熱嘔吐嘔逆，肚瀉，實熱四肢作戰，筋惕肉跳，膈胸痼結，驚悸惡夢，龜胸勞結，血熱斑疹，皮膚燥癢，日不能睡，夜不能眠。化解諸溫燥藥。獨用入肺胃，配用入十二經。臟腑實熱者嘗則救補，虛寒者嘗則損毒。</p>
<p>犀角，以暹羅分水犀為良。苦寒鹹酸猛烈。走血分，涼血，瀉陽火。治療與石膏同功，惟走氣血略殊。臟腑實熱者嘗則救補，虛寒者嘗則損毒。（惡附子、雷丸，忌益智仁、烏藥。孕婦勿服。犀角以雄犀、角壯、黑色、根大、肌皺摺裂、尖圓光潤、底有窩如蜂房深、蓋耳聽之有海濤聲湧者良，划水能分者尤為水犀上品。如無水犀，即山犀亦可用，惟以生取者為良。若入耳無海濤聲，則是自解犀、奴犀、悖犀、病水犀、攣子犀、無潤犀，入藥無功。）</p>
<p>羚羊角，以入耳有聲，角彎有掛樹痕為良。鹹寒猛烈。平肝瀉火，舒肝鬱，安肝神，散肝風，除邪氣驚夢狂越僻謬，壯肝膽，強筋骨，治一切熱症。獨用入肝，配用入十二經。臟腑實熱者嘗則救補，虛寒者嘗則損毒。能碎金剛石，貘骨成粉。忌商陸、大戟。</p>
<p>蚳母，即知母也。苦寒猛烈。清金瀉火，潤燥滋陰，升提金石，散邪退熱，利水消痰。獨用入腎胃大小腸，配用通十二經。臟腑實熱者嘗則救補，虛寒者嘗則損毒。</p>
<p>黃蘗，即黃柏也。苦寒猛烈。瀉火，滋陰潤燥利濕解熱。獨用入脾腎，配用通十二經。臟腑實熱者嘗則救補，虛寒者嘗則損毒。</p>
<p>黃連，苦寒猛烈，治一切熱五勞（筋勞、骨勞、皮勞、氣勞、血勞是也），七傷（傷筋、傷骨、傷皮、傷氣、傷血、傷臟、傷腑是也），羸瘦氣急，誤服溫補藥，咳吐膿血諸症。獨用入心，佐用通十二經。臟腑實熱者嘗則救補，虛寒者嘗則損毒。畏款冬花、牛膝；解烏頭、巴豆；忌豬肉。多食飽膈，少食亦無損。</p>
<p>黃芩，苦寒猛烈。治一切實熱，化熱痰涼血氣，去瘀安熱胎，解熱藥，利熱濕腫，養陰退陽。獨用入脾肺胃，佐用通十二經。臟腑實熱者嘗則救補，虛寒者嘗則損毒。</p>
<p>大黃，苦寒猛烈。療一切實熱、內傷、衄血、吐血、胎熱、腹脹、咳嗽痰喘、鬱結閉塞諸症。利大小便，下邪熱，瀉陽火，救真陰。獨用入脾，佐用通十二經。臟腑實熱者嘗則救補，虛寒者嘗則損毒。宜黃芩，惡乾漆。</p>
<p>朴硝，即硝石也。苦寒猛烈。療一切實熱，清五臟鬱結，逐六腑積聚。破留血，除熱邪，養胃安神，瀉陽火，救真陰。臟腑實熱者嘗則救補，虛寒者嘗則損毒。惡苦菜、苦參、薑、椒、桂；畏女菀、杏仁、竹葉、細辛。若芒硝、牙硝、鹽硝、生硝、焰硝、火硝、皮硝、地霜、北帝元珠，均《漢本草》、《華佗本經》增入之名。（元明粉即白龍粉。唐明皇詔終南山道士劉元真，按仙經修煉，以長流水煮朴硝，入蘿蔔、甘草同煎去滓，入沙瓶以泥封口，用火煨乾水後，再用甘草研末為粉，號元明粉。李時珍《綱目》引證詳明，《嘗毒經》無此名目。）</p>
<p>枳實，七八月採者為枳實。苦寒辛酸猛烈。行氣破舊積，除寒熱結，長肌消食，療郁久內熱，安五臟六腑。九十月採者為枳殼，寬中益氣，開胃健脾，破新積，功用與枳實略同，臟腑實熱者嘗則救補，虛寒者嘗則損毒。忌大棗。</p>
<p>厚朴，即榛樹皮也。苦降辛溫猛烈。新則辛溫，舊則苦降；用辛燥則連浮皮，用苦降則取油肉。安五臟六腑，療霍亂膨脹，調中氣，厚腸胃，舒寒熱鬱氣。配涼藥則涼，配熱藥則熱。臟腑氣實者嘗則救補，氣虛者嘗則損毒。宜姜，惡澤瀉、硝石、寒水石，忌黑豆，食之膨脹。</p>
<p>茈胡，即柴胡也。苦散升燥猛烈。散少陽表邪，專入心肝膽，大瀉肝氣，療寒熱往來。少用能升補藥，多用極燥真陰。表有邪者嘗則救補，表無邪者嘗則損毒。</p>
<p>防風，甘溫燥散猛烈。專散太陽太陰陽明經寒邪，能通十二經絡，搜發風寒。表邪在太陽最淺時，若用之稍無節制，即真達陽明，引通經絡。表有邪寒者嘗則救補，表有熱邪者嘗則損毒。</p>
<p>獨活，即羌活母也。苦溫燥散猛烈。搜發百節風寒，升散太陽少陰厥陰寒氣，並通十二經絡，燥濕療痹。有是症者嘗則救補，無是症者嘗則損毒。</p>
<p>細辛，辛溫大燥猛烈。搜發少陰厥陰風寒，溫燥血氣，能通表裡。表裡均有寒邪者嘗則救補，實熱者嘗則損毒。</p>
<p>麻黃，燥溫猛烈，入太陽少陽陽明經，燥散風寒，解肌發汗。各經感有寒邪者嘗則救補，各經感有熱邪者及實熱者嘗則損毒。</p>
<p>桂枝，溫燥猛烈。走太陰太陽，燥散風寒，解肌發汗。各經感寒邪者嘗則救補，感熱邪者及有實熱者嘗則損毒。</p>
<p>梨，名稱不一，惟雪梨入藥（即乳梨也，皮薄肉白如雪。）連皮生食，甘寒潤五臟六腑；去皮熟食，酣甘助濕。臟腑實熱者嘗則救補，虛寒者嘗則損毒。制附、桂、薑、椒；忌蒼朮；畏細辛。</p>

<h2>49．十二經溫涼補瀉藥各有哪些？</h2>
<p>問：十二經溫、涼、補、瀉藥味如何區別？</p>
<p>肺經藥味：</p>
<p>溫　麻黃（燥散）、生薑（散）、天南星（散）、款冬花（辛）、蘇梗（散）、製半夏（燥）、各色煙（燥陰）、北五味（斂補）、陳皮（燥）。</p>
<p>涼　石膏（瀉陽火救真陰）、黃芩（瀉陽火）、黃連（瀉陽）、黃柏、（陰、）竹茹（陽）、地骨皮（瀉陰火）、山梔（陽）、元參（陰）、麥冬（陰）、天冬（陰、）天花粉（陽）、竹瀝（陽）、山慈菇（陽）、知母（陽）、馬兜鈴（降氣）。</p>
<p>補　黃耆（陽氣）、人參（陽氣）、黨參（陽）、沙參（陰）、百合（斂）、燕窩（陽）、阿膠（陰）、天冬（陰）、麥冬（陰）、淮山藥（陰）、冰糖（陽）。</p>
<p>瀉　薄荷（涼散）、紫蘇（溫散）、荊芥（涼散）、葶藶（涼氣）、膽星（即南星，溫燥散）、升麻（燥溫）、桔梗（散）、白芥子（溫）、麻黃（溫燥散）、牛蒡子（以牛膽制者涼）、前胡（降氣）、紫菀（辛溫）、桑白（涼氣）、蘇子（溫散降氣）、貝母（涼）、杏仁（溫）、竹茹（涼）、又兜鈴（涼降氣）。</p>
<p>心經藥味　（心包絡經同：）</p>
<p>溫　棗仁（補）、遠志（補）、柏子仁（補）、益智仁（補）、肉桂（散補）。</p>
<p>涼　黃連、連翹（散）、天冬（補）、麥冬（補）、生竹捲心、生燈草心（涼）。</p>
<p>補　茯神、五味子（斂）、棗仁（溫）、遠志（溫）、益智仁（溫）、當歸（溫血）、白芍（斂）、天冬（陰）、麥冬（陰）、人參（升陽）、丹參（陰）。</p>
<p>瀉　木通（涼）、車前（涼）、連翹（涼）、竹捲心（涼）、燈心（涼）。</p>
<p>小腸經藥味：</p>
<p>溫　枸杞子（補）、胡椒（燥濕）、茴香（燥濕）、肉桂（瀉寒氣）。</p>
<p>涼　黃連（瀉熱）、木通（瀉熱）、黃柏（瀉濕熱）。</p>
<p>補　生地黃（涼血）、熟地黃（涼血）、枸杞子（溫）、五味子（斂溫）。</p>
<p>瀉　木通（涼）、車前（涼）、海金砂（涼利水）、川楝子（氣）、赤茯苓（利濕）、土茯苓（利水濕）、苡仁（利水）、燈心（涼）、橘核（氣）、豬苓（利水）。</p>
<p>三焦經藥味：</p>
<p>溫　烏藥（辛降氣）、白豆菀（暖脾胃，燥氣）、胡桃（補命門火）。</p>
<p>涼　山梔（瀉熱）、黃柏（瀉熱）、麥冬（瀉陰火）、地骨皮（瀉熱）、青蒿（瀉熱）、連翹（瀉熱）。</p>
<p>補　黃耆（陽氣）、人參（升陽氣）、淫羊藿（陽）、鹿茸（血陽）。</p>
<p>瀉　青皮（溫氣）、木香（溫行氣）、柴胡（升散）、香附（溫行氣）。</p>
<p>大腸經藥味：</p>
<p>溫　胡椒（燥）、破故紙（補燥）、枸杞子（補）、當歸（活血）。</p>
<p>涼　大黃（攻積瀉熱）、黃芩（瀉熱）、地榆（行血）、黃柏（瀉熱）、知母（瀉熱）、槐花（涼血）、槐實（涼血）、連翹（瀉熱）。</p>
<p>補　淫羊藿（溫）、粟殼（斂血）、訶子肉（斂血）、百合（斂血）。</p>
<p>瀉　大黃（涼）、桃仁（涼破血）、雷艽（涼）、火麻仁（涼）、秦艽（涼散）、旋覆花（溫行血）、郁李仁（涼）、杏仁（溫）、大腹皮（行氣利水）、白芷（散）、鮮梨（涼潤）。</p>
<p>脾經藥味：</p>
<p>溫　木香（行氣）、煨姜（補）、蒼朮（燥濕）、白木（補）、藿香（降氣）、益智仁（補）、砂仁（行氣）、白豆蔻仁（斂）、焦穀芽（行滯）、川椒（燥）、附子（燥散烈）、巴豆（燥烈）。</p>
<p>涼　大黃（下熱攻積）、黃芩（化熱痰）、瓜蔞霜（化頑痰）、黃柏（瀉濕熱）、山梔子（瀉）、金銀花（瀉血熱）、知母（瀉熱）、茶葉（消滯行氣）。</p>
<p>補　白朮（溫陽）、黃精（陽）、山藥（陰）、扁豆（陽）、苡仁（陽）、大棗（陽）、炙甘草（陰）。</p>
<p>瀉　厚朴（新者辛溫、陳者苦降行氣，須分別用）、枳實（消舊積行氣）、萊菔子（解參行氣）、麥芽（消食滯）、山楂（滯肉消）、枳殼（寬中消新滯行氣）、大腹皮（行氣）、使君子（消蟲行氣）、白芷（溫散）、檳榔（行氣）、陳皮（溫散寒痰）。</p>
<p>腎經藥味：</p>
<p>溫　破故紙（即補骨脂，陽）、鹿茸（陽）、鹿角膠（陽）、山茱萸（陽）、菟絲子（陰）、大茴香（燥）、艾葉（燥）、附子。</p>
<p>涼　朴硝（涼陽火）、元明粉（陽）、苦參（陽）、生地（陰）、丹皮（陽）、知母（陽）、滑石（陽）。</p>
<p>補　熟地黃（陰）、枸杞子（陽）、淫羊藿（陽）、北五味（溫斂）、生地黃（涼陰）、何首烏（斂陰）、巴戟天（溫血陰）、杜仲（陽）、龜板（陰）、女貞子（陽）。</p>
<p>瀉　豬苓（利水）、澤瀉（利水）、知母（涼）、赤茯苓（利水）、苡仁（利水）。</p>
<p>肝經藥味：</p>
<p>溫　肉桂、桂枝（燥散）、吳茱萸（燥散）、細辛（燥散）、胡椒（燥）、菟絲子（補）、艾葉（散）、茴香（燥）、骨碎補。</p>
<p>涼　龍膽草（燥）、黃連（寒）、羚羊角（寒）、夏枯草（寒）、石決明（寒）、菊花（散）、青蒿（散）。</p>
<p>補　枸杞（溫）、五味子（斂）、烏梅（斂）、山茱萸（溫陽）、菟絲子（溫）、何首烏（陰）、當歸（陽）、白芍（陽）、蒺藜（陽）、鱉甲（陰）、牡蠣（陽）、木瓜（利水）、龍骨（陽）。</p>
<p>瀉　青皮（溫散）、莪朮（破血）、鬱金（散行血）、桃仁（破血）、陳佛手（溫行氣）、白蒺藜（涼散）、鉤藤（散）、沉香（溫行氣）、川楝子（涼氣）、川芎（升散）、赤芍（涼血）、香附（溫行氣）、木香（溫行氣）、柴胡（升散）、山梔子（涼）、延胡索（破血）。</p>
<p>膀胱經藥味：</p>
<p>溫　烏藥（行氣）、吳茱萸（燥行氣）、茴香（燥行氣）。</p>
<p>涼　龍膽草（瀉火）、甘遂（猛烈瀉火）、瞿麥（利水破血治淋）、海金沙（利水治淋）、黃柏（瀉濕）、茵陳（利濕）、車前（利水）。</p>
<p>補　熟地（陰）、枸杞（陽）、淫羊藿（陽）、北五味（斂）。</p>
<p>瀉　薄荷（涼散）、羌活（陰散）、荊芥（涼散）、紫蘇（溫散）、麻黃（燥散）、防己（涼利水）、木通（涼利水）、豬苓（涼利水）、葶藶（涼利水行氣）、獨活（溫散）、防風（溫散，通十二經）、川楝子（苦寒利水治蟲）、前胡（降氣）、澤瀉（涼利水）、蔥（溫行氣）、蒲黃（行血消瘀）、藁本（溫散）。</p>
<p>膽經藥味：</p>
<p>溫　肉桂（補陽）、細辛（燥散）、山茱萸（補）。</p>
<p>涼　槐實（血）、龍膽草（瀉火）、青蒿（散）。</p>
<p>補　棗仁（溫）、烏梅（斂）。</p>
<p>瀉　桔梗（散）、青皮（散氣）、柴胡（升散）、香附（溫行氣）、川芎（散溫）、秦艽（辛溫散、畏牛乳）。</p>
<p>胃經藥味：</p>
<p>溫　乾薑（補散）、高良薑（散）、益智仁（補）、肉豆蔻（斂）、草果（燥）、丁香（燥）、木香（燥降氣）、胡椒（燥散）、辛夷（燥）、藿香（降氣）、砂仁（行氣）、半夏（燥痰）、厚朴（行氣）、川椒（燥）、烏藥（燥）、附子（燥）。</p>
<p>涼　生石膏（陰）、犀角（陰）、知母（陰）、黃芩（陰）、黃連（陰）、黃柏（陰）、天花粉（化新痰）、石斛（陰）、葛根（散）、蘆根（散）、竹葉（散）、萆薢（利水）、瓜蔞仁（化頑痰）、竹茹（降氣）。</p>
<p>補　黃耆（陽）、白朮（陽）、大棗（陽）、扁豆（陽）、山藥（陽）、炙甘草（陽）。</p>
<p>瀉　石菖蒲（溫散）、枳實（溫行氣消舊疾）、雷丸（消積化蟲）、白芥子（辛行氣）、萊菔子（辛行氣）、神麯（行滯）、蘇梗（溫散降氣）、蔓荊子（溫散）、麥芽（行滯）、枳殼（溫寬中，消新滯）。</p>
<p>附列霸藥十二味：</p>
<p>芫花、堯花、甘遂、大戟、商陸，均苦寒大毒。牽牛，黑醜辛熱大毒。皆大通行，破積瀉氣，利水。極霸藥，非有堅積水濕聚結不可輕用。莪朮、三稜、薑黃、紅花、桃仁，均苦辛破血極霸藥，非有積血久郁不可輕用。</p>

<h1>卷四</h1>

<h2>50．食物對人體有什麼損益？</h2>
<p>問：食物之損益？</p>
<p>豬肉　甘平無毒。形瘦體弱者少食能肥體，壯氣盛者多食生痰。無病食則有益，感邪食則閉邪，同黃連食則膨脹。</p>
<p>羊肉　甘苦大熱。溫補營衛，攻發一切熱病。虛寒者食之補，實熱者食之損。忌以銅器煮食，食久男損陽，女暴下。中其毒者，以甘草解之。黑羊白頭，白羊黑頭其肉毒。</p>
<p>牛乳　味甘寒。補脾，治虛損瘦弱。脾虛寒人食則有補，脾實熱人食則無益。忌酸醋、生魚、豬肉。同食久，則發症癖病。中其毒，以大黃解之。牛乳以純黑𤚩牛為良，黃花雜色者毒。</p>
<p>馬乳　味甘寒。瀉胃，治胃火實熱，走馬牙疳。胃熱食則有補，胃寒食則無益。忌與魚鱠，食則作瘕，與酸醋食則作症。中其毒，以川連、大黃解之。馬乳以純白馬為良，雜花色者毒。</p>
<p>烏骨雞　凡諸雞肉，俱溫陽動肝，無多取治，惟白絨毛、重冠綠耳、十指、烏骨者入藥。甘溫補陽，治陽火不足，氣血虛寒。男食壯陽益精，女食益孕。血氣虛寒者嘗則救補，實熱者嘗則損毒。</p>
<p>烏骨鴨、白鴨、花鴨，以老為良，甘寒瀉濕。惟白毛、有頂、黑骨者尤良。甘寒，滋陰補腎，長肌延年。治虛損內傷，陰陽火燥。臟腑實熱者嘗則救補，虛寒者嘗則損毒。</p>
<p>瑞鴿　《嘗毒經》云：鴿不一色，白鴿解諸藥毒，溫補血氣，療諸寒惡瘡。各雜色鴿多不入藥，惟頭尾毛黑，中間毛白，界畫分明，嘴短目赤黃，尾毛十二條，應十二經也，頸毛照日紅綠，取陰陽鼓盪也；形象鸚鵡者，入藥最良。白嘴極上，烏嘴次之，名瑞鴿，又名鸚鵡鴿。鴿性最淫，鸚鵡性節，此種乃鸚鵡配鴿而得。此黑白判異、陰陽相生之品，味甘平，陰陽並補。治陰陽氣血兩虛，男子血脫危急，女人血崩不止，解誤服生附子麻痹不省人事，及諸毒藥不省人事諸症。常食則調和陰陽氣血，綿延嗣孕，益壽延年。如白毛內插黑毛，黑毛內插白毛，謂之陰陽錯雜則不入藥。《傳薪集》瑞鴿歌：瑞鴿生來卻不同，祖為鸚鵡庇其躬（其始本鸚鵡，配鴿而生者），天然黑白分明見，起死回生第一功。鴿兒嘴白最為良，眼用赤黃頭要方（無鳳髻者則以方頭為止，圓頭亦可用），憐彼陰陽能判異，啖之益壽延年長。插羽佳人世共知，陰陽配合最相宜（黑毛為陰，白毛為陽，以界劃齊為上），休誇毛腳爭先市，鳳髻朝陽勿倒垂（有鳳髻者則以朝陽為上，倒垂者不入藥）。又云：每年夏至、冬至、端陽日，宰三冬瑞鴿熬湯，漂鹽調淡味，取湯一甌，鴿腎一隻，面向東方食之。食後伏氣叩齒三通，延年益壽，寒熱虛實人均宜。（瑞鴿血能解諸藥及百蟲毒。瑞鴿屎以生雛後拾取者為良，名左盤龍，味辛溫，治冷氣心痛。用瑞鴿屎存性，以酒少許熬水服即止。陰症腹痛面青甚者，用瑞鴿屎一勺炒黃研末，以酒少許和開水澄清後服之即愈。頭瘡、白禿，用瑞鴿屎炒黃研末，先以醋洗淨患處，摻之即愈。反花瘡毒，初生惡肉如米粒，破之，血出肉隨生反出於外，用瑞鴿屎三兩炒黃研末，以溫湯水洗後摻之即愈。及中風、中陰風、上下馬風，不省人事，外感風寒諸症，均炒黃瑞鴿屎一勺，煎水急投可以救活。或陰風夾外感時邪者，則用薄荷五分，荊芥五分，配孳尾後瑞鴿屎炒黃十二粒，同前水服神效。）</p>
<p>燕窩《嘗毒經》云甘平補肺，是海燕痰也，當春夏時，掠空翔飛，相逐風雨，勞其筋骨，活其氣血。春來秋去，冬月伏蟄海邊巖洞，不食物而吐其痰，以舒氣。初吐血痰，後吐白痰，其痰即春夏勞活之精血。人嗜食之，以其能補也。家訓云，近因此物難得，價值日昂，人心不古，皆以燕窩一成，和海風菜九成，煎成膠，用純毫筆點滴，巧造成窩，欺世圖利，前所謂真燕窩者，概未曾有。夫真燕痰，本清潤補肺健脾，海風菜生於海濱石上，乃燥斂溫血，今人往往食燕窩反覺燥斂者，非燕痰之誤，乃海風菜之假也。食今之燕窩作清潤肺脾則誤，作溫斂肺脾則驗。</p>
<p>魚翅　即沙魚翼之筋也。色黃白，味甘辛，補肺脾胃，益氣血。與雞湯煮則補陽，與鴨湯煮則補陰，與肉湯煮則平補。常食令人強健。</p>
<p>魚肚　色黃白，味甘。以閩黃花魚肚為良。補肺脾，益精血，與烏骨老鴨煮食，能治虛勞內傷。凡陰虛人用半酥而不透心者，漂清火氣，煮老鴨湯常食，能長肌強健。</p>
<p>海參　即海螞蝗。能食人血者，毒物也。凡醃海參，必用一池，以石灰生礬等藥制其毒性，故必漂淨灰氣方可食，然仍發熱助陽。自明汪穎以其熬能成膠，謂可滋陰者誤也，按《傳薪集》食物類云：海參有毒，但治女人乳汁不通，與豬腳熬食能通乳汁，餘外惟利口耳。一切舊病，吐衄諸症，食之能發。</p>
<p>鱉　在水者小，俗名團魚，又名黃沙鱉；在山者大，俗名山睡，形似龜，無耳，以目為聽，身有肉裙。純雌無雄，以蛇黿為匹，隔江噴卵，隨日影而生，陰中陽物。《嘗毒經》云有大毒，不用其肉，惟用其甲耳。漢唐後諸家本草謂其肉甘平無毒，可滋陰補益，有團魚丸之方。又因其味厚，人嗜食之。家訓云當以有大毒為是。（此物之損人，確有明徵，戒之為妥。倘同莧菜食，肚脹痛，生血鱉；與雞子食、胸滿氣急。皆以白馬尿治之。孫思邈云：同豬兔鴨三樣肉齊食，損人無治；同芥子食，生惡瘡；妊婦食，令子頸短。戴原禮云：久食生髮背。《名醫錄》云：薄荷煮鱉，損人無治。又云：食其肉能發癥瘕，水腫勞瘵，積年吐血舊疾。藏器云，《禮記》食鱉去醜，謂頸下有軟骨如龜形者，食之令人患水腫。凡鱉之三足者，赤足者，獨目者，頭足不縮者，其目四陷者，腹下有王字、卜字文者，有蛇文者，是蛇化也。在山者名旱鱉，並有毒殺人，不可食。）</p>
<p>鱔　《嘗毒經》云：鱔一胎四條者補血，一胎五條者必有一條見火頭豎起數寸，頸似有毛者，食之令人到水即化骨。家訓不食此物，白鱔味甘無毒，可食。</p>
<p>鹿肉　甘溫，入脾溫血，虛寒人食則宜，實熱人食則無益。</p>
<p>蟹　鹹寒，散血消食利口。熱人食則宜，寒人食則無益。秋冬季者食無毒，春夏季者多有毒。凡獨螯、獨目、兩眼相向、六足、四足、腹下有毛、腹中有骨頭、背有星點，足斑目赤者，皆有毒。中其毒者必腹痛，以東瓜、紫蘇、蒜子、豆豉煮湯飲之可以解。忌柿子、荊芥，同食則作霍亂，木香煎水能解。</p>
<p>海燕　與燕同名而物異也。生海水中，背青黑，腹白，口在腹下，長約五寸。陰雨則能飛丈餘，東海人嗜食之，味甘肉脆，補氣壯陽。寒人食則宜，熱人食則無益，忌黑豆。</p>
<p>淡菜　浙人呼為殼菜。神農未嘗此味，宋時入食物，味甘溫。藏器云主治虛勞傷憊，精血衰少，吐血久痢等症。家訓云此物本溫，吐血人食之往往加重，虛勞尤甚，急以寒涼藥解則效。前人之解，未知果是此物否？《日華》謂能補五臟，益陽事。此解於此溫物似相符合。寒人食則宜，熱人食則無益。</p>
<p>蝦　味甘溫燥火，淡水者味尤甘，海蝦味甘平，無病食則壯陽，有病食動風燥火發疥。誤食鱉發瘕，輕者多食蝦亦能制。寒人食宜，熱人食不宜。</p>
<p>鮑魚《嘗毒經》云即肉魚也。無鱗、無介、無骨，鹹淡水均有，淡水者良。味甘平無毒，補脾陰。按《綱目》所引薧魚、蕭折魚、乾魚各名色，均與今之鮑魚似不相符。家訓云當以古經為是。忌鱔魚。</p>
<p>鰍魚　銳首，肉身無鱗，鹹淡水均有，以淡水者良。味甘溫，益氣溫中燥陽，寒人食則宜，熱人食無益。忌犬肉、鶴肉。</p>
<p>魚品類甚多，味甘平甘溫不等，多食之動風燥火，有病食則發病。惟有鯮魚，俗名崇魚，名蓮魚，巨口細鱗，頭大額扁，長喙，腹白，背微黃色，甘平無毒。補氣血，益臟腑，壯筋骨，多食宜人，亦不發病。又石首魚，嶺南名石頭魚，《浙志》名江魚，《臨海志》名黃花魚。乾者名白鯗石頭魚，出水能鳴，夜視有光，頭中有二石棋子，即野鴨頭中有石者所化也。形如白魚，扁身、弱骨、細鱗、色黃，閩廣最多。味甘平無毒，開胃益氣，常食令人強健。生於均宜，亦不發病。頭中二石研末，治膈食石淋諸症。</p>
<p>蠔豉　即干蠔肉也。出廣東香山，淡水者良。甘平無毒，滋陰補血，益臟腑，常食令人長肌肉，亦不發病。</p>
<p>西瓜　甘寒，濕滯勞力者可食（食後勿坐臥），內無伏暑者可食，若有伏暑者忌食。緣臟腑中暑，初未甚知覺，多食西瓜冷濕之物，逼遏暑毒於內。又有甜性，傳入陰分，留而不散，驟發暴症（暴悶、暴吐、暴瀉、暴暈、暴逆、暴脹、絞腸痧，汗出如雨，頃刻亡陽，撒屎氣絕之類），頃刻即亡，無可救藥，此名伏暑食瓜症。（南中夏秋間因此殞命甚多，肥人尤甚。）人但知暴疾而亡，究不知伏暑食瓜之害。（家訓云，此症與痢疾相似而實異，瀉清水，或紅黃水百十次不等。全舌青黃、深黃，或焦黑透尖，澀指如銼，或有黃青綠各色膠漲，口乾渴，或兼喉痛各狀，全見便屬不治。未見齊者，先用苦參治痢湯，繼用芩連治痢湯，參用三黃白虎湯、大承氣湯，循環急服，十中或救一二，逡巡則不救。或疑西瓜解暑，有天生白虎之號，何以伏暑不宜食，況發病則兼投白虎湯之苦寒，非自相矛盾耶？答曰：元以前書無言西瓜治病者，夫暑之潛伏，毒中於脾，脾受濕困，發則交腸暴瀉，未發則謂之伏暑。瓜性寒凝，再助脾濕，脾困極而敗，伏暑乘機發泄，其初本暑濕，其後郁久變熱。脾胃既熱傷，治之下當，用生石膏救胃，大黃救脾，三黃及諸痢藥和中以救陰乎。有歌曰：西瓜甜如蜜，利口不利腹，伏暑在胸中，服之如服毒。</p>
<p>龍眼　即桂圓。甘溫凝滯。鮮者味淡而苦，熟後即甜。多食則悶。曬乾入藥補血益智。乾者尤宜少食，得濕氣而驟胖，令人脹死。（小孩干食至四兩，大人食至五六兩便脹死。三四歲小兒最喜食此，有將其核梗住咽喉而死者，茲幼者宜慎之。</p>
<p>凡實熱人，及體瘦火旺者，平時宜力戒發熱之物，如羊肉、魚、蝦、鱔、薰魚、雞、雞蛋、麻雀、海參（行水石間甚健，故壯陽。捕時以石灰醃尤燥）、燕窩（多假物，燥肺）、人參（雖吉林亦絕少真品，種時用硫磺入糞最傷人）、麗參、元參、沙參、洋參（凡甜物皆補、皆升提，凡參非清火）、荔枝、棗子（送行客勿用棗，溫補太甚，途中易閉塞風火）、桂圓（小孩易脹，產婦不宜多食）、桃、杏、楊梅、蒲桃、辣茄、薑、椒、芥、蒜、酒、醋、菸葉（水旱菸皆無益，罌粟尤升提促年壽）、炒米湯、油、灼燴烙餅、各種糖物（炒米湯可抵補中益氣湯，人有忽然翻病，因食炒米湯所致者，自己不知不信，宜慎之），皆當切忌。若宜食者，則有香谷稀飯（宜為厚粥，勿作清湯）、茶葉（古時老耆始食肉，後世人人食肉，必以茶滌垢消之，即所以補之也）、蔬菜、豆腐、萊菔、筍、藕、梨、枇杷、荸薺、苦瓜、海帶菜、螃蟹、螺螄、海蟄皮、魷魚、鰻魚、火腿、老鴨湯（去舌及尾，用文火熬一夜，須清淡）。春日宜飲蘆根、茅根湯，夏日服金銀花、夏枯草、霜桑葉代茶。</p>

<h2>51．制方用藥的原則是什麼？</h2>
<p>問：制方用藥精要若何？</p>
<p>凡用藥專經，謂之專師；用藥分經，謂之分師，用藥偏經，謂之偏師（偏師不走正經，用相搏之法由絡取勝也）。專師不用節，分師必用制，偏師不節制。不節者何？獨用一經之藥，則不用宜畏藥以節之也；必制者何？分用各經之藥，則必用宜畏藥以制之也；不節制者何？偏師以相搏藥取勝，若有節制，則相搏無力也。不用節，必用制，不節制，三者施之各當，則用藥歸經自無慮顧此失彼也。更有要者，節三制（一用三味藥為節，用一味藥可制也），升三降七（用降藥七，用升藥三，即使藥氣過而不留也），去九留（一重用去藥之九，輕用留藥之一，即使藥氣留而不害也）。譬如一經病重，三經病輕，必重用一經之藥為君，佐用三經之藥為臣。三經之藥，又必歸一經節制，然後呼應乃靈。或四經病均相等，則用四經之藥並行不悖，勿使受節制於一經，斯能奏功神效。余即此類推，庶乎不差。</p>

<h2>52．怎樣進行方劑配伍？</h2>
<p>問：制方之法。</p>
<p>治病之要，宜明制方。君、臣、佐、使配合得宜，則必效驗。看病在某經多者，即立某經藥為君；某經病次者，即用某經藥為臣，兼用各經之藥。以助君臣者謂之佐使，欲使藥力至某經，即以某經藥為佐使。凡佐使藥勿奪君臣之權，方能助君臣之力。一方中專藥者專經，別無二義。若配合各經並用者，必有升降去留之道，如古方地黃湯：熟地、淮山降也，留也；萸肉、丹皮升也；茯苓、澤瀉去也。四君子湯：人參升也，白朮留也，茯苓去也，甘草降也。附子理中湯：人參升也，白朮、乾薑留也，附子去也，甘草降也。白虎湯：石膏、甘草降也，留也；知母升也，去也；粳米去也。大承氣湯：大黃、芒硝降也，去也；枳實留也；厚朴升也。制方規矩由此類推，神而明之，存乎其人。</p>

<h2>53．用什麼態度對待古方？</h2>
<p>問：古方可恃否？</p>
<p>醫者抄集古方，果能對症，用無不效。若不對症，必致誤人。欲歸咎於古方，而古方不任咎也。何也？古人本因病以制方，非先立一方以求病症之對方也。後人不理其理，第知古方為良，相沿抄用，昧於加減之義，雖有古方，不如其無。蓋古方猶古文耳，如病在一經，而亂用通行十二經之藥，是拈單句題，而抄襲全章題之，又連上犯下，害不勝言。</p>

<h2>54．常用古方的組成和適應證是什麼？</h2>
<p>問：古方甚繁，請約舉其概，以饜管窺。</p>
<p>古方者，規矩也；用方者，工師也。規矩只一器，工師執此以絜度之。高堂華屋，鉤心鬥角，無不悉中繩墨。良醫亦不能盡廢古方，摘錄數十條，舉治一二症，一隅三反，非謂一方專治一病。惟中病則用，不中病則隨時審經加減，不必泥古。今之自謂知醫者，莫不案存醫書數十卷，古方新方驗方不一其名，其莫名其妙。遇人求醫，不辨受病在何經，不求致病之何因，不審表裡寒熱虛實之別，不察風寒暑濕燥火之殊，竊取古方而醫之。偶效則居其功，致禍則歸諸命，終不虛心研求。一則為謀食之計，一則為塞責之圖，比比然也。某家詩禮仕宦二百餘年，施藥濟人，罔矜岐術，習醫原屬為己之學，兼存救人之心。制方治病，只求能療人之病。不求悉合於古，無所汁，亦無所圖也。略舉數方於下，知我者其諒之。</p>
<p>節錄古方：</p>
<p>香蘇散　治時邪感冒，頭痛、發熱等症。</p>
<p>蘇葉（一錢五分），陳皮、香附（各一錢二分），荊芥、秦艽、防風、蔓荊子（各一錢），川芎（五分），甘草（七分）。此治寒邪，若熱邪則不宜。</p>
<p>平胃散　治脾胃不和，脹、滿、嘔吐、霍亂等症。寒者宜之，熱者不宜。</p>
<p>藿香（一錢五分），厚朴（一錢五分），蒼朮（八分），陳皮（二錢）。</p>
<p>二陳湯　治肺胃寒痰。</p>
<p>製半夏、陳皮、茯苓（各一錢五分），炙草（八分），加生薑（一片），棗（二枚）。熱痰不宜。</p>
<p>手拈散　治血滯心腹作痛。</p>
<p>元胡索（醋炒），五靈脂（醋炒），草果、沒藥（各等分）。共為細末，每服三錢，熱酒調下。</p>
<p>滾痰丸　治老痰變生怪症。</p>
<p>大黃、炒黃芩（各四兩），青礞石、沉香（各三錢），辰砂（二錢）。以水為丸，辰砂為衣，每服一二錢，開水下。</p>
<p>越鞠丸　治郁膈痞滿。</p>
<p>香附、山楂、炒神麯、炒麥芽、川芎、蒼朮、炒梔子（各等分）。共研末，水為丸如桐子大，每服五七十丸，開水下。</p>
<p>逍遙散　治肝經血虛木鬱。</p>
<p>柴胡、甘草、茯苓、白朮、當歸、白芍、丹皮、黑山梔（各一錢），薄荷（五分）。</p>
<p>神佑丸　治沉積變病，氣血壅滯，濕熱風痰鬱結。</p>
<p>黑醜（二兩），大黃（一兩），芫花，大戟、甘遂（各五錢），輕粉（一錢）。共為末，用皂角去子煎濃湯糊丸，每服必瀉，不可輕用。</p>
<p>葛根湯　治邪傳陽明，以此解肌。</p>
<p>葛根（二錢），升麻、秦艽、荊芥、赤芍（各一錢），蘇葉、白芷（各八分），甘草（五分），生薑（二片）。</p>
<p>搐鼻散　治一切悶症，不省人事，吹入鼻中得嚏者生。</p>
<p>細辛、皂角（各一兩），生半夏（五錢）。共為細末，入磁瓶勿泄氣。</p>
<p>牛黃丸　治中風、痰火閉結，或喘嗽痰壅，不省人事。</p>
<p>牛黃、麝香、龍腦（以上各六錢，另研），羚角、當歸、防風、黃芩、柴胡、白朮、麥冬、白芍（各七錢五分），桔梗、茯苓、杏仁、川芎、大豆黃卷、阿膠（各八錢五分），蒲黃、人參、神麯（各一兩二錢半），雄黃（另研四錢），甘草（二兩半），白蘞、肉桂（各三錢七分），乾薑（三錢七分），犀角（一兩），山藥（三兩五錢），大棗、金箔（一百五十片為衣）。共為細末，煉蜜同棗膏丸，每兩作十丸，金箔為衣。</p>
<p>三化湯　治中風入臟，熱極閉結。</p>
<p>厚朴、大黃、枳實、羌活（各一錢半）。水煎服。</p>
<p>五生飲　治寒風中臟，六脈沉細。</p>
<p>生南星、生烏藥、生附子（各一錢五分），生薑（五片），生木香（五分）。此方用人參兩許，同投更有益。</p>
<p>益元散　利竅清暑。（童叟中暑不省人事，服之令小便通即愈。）</p>
<p>甘草（一兩），滑石（六兩）。</p>
<p>消暑丸　治中暑昏悶。</p>
<p>製半夏（四兩），茯苓、甘草（各二兩）。共為末，生薑汁湖丸。</p>
<p>五苓散　治小便不通。</p>
<p>茯苓（三錢），豬苓、澤瀉（各八分），白朮（一錢半），桂枝（一錢）。</p>
<p>四苓散　治伏暑小便不通。即五苓散去桂枝。</p>
<p>五皮飲　治胃經蓄水發為水腫。</p>
<p>大腹皮、茯苓皮、陳皮、桑白皮（各一錢五分），生薑皮（八分）。</p>
<p>蠲痹湯　治風寒濕三氣成痹。</p>
<p>羌活、獨活（各一錢），桂心（五分），秦艽（一錢），當歸、桑枝（各三錢），川芎（七分），海風藤（二錢），炙甘草（五分），乳香、木香（各八分）。</p>
<p>桂枝湯　治太陽中風寒。</p>
<p>桂枝、芍藥、生薑（各一錢五分），炙甘草（一錢），大棗（四枚）。</p>
<p>麻黃湯　治太陽傷寒無汗。</p>
<p>麻黃（四錢），桂枝（二錢），炙甘草（一錢），杏仁（十二枚）。</p>
<p>白虎湯　治陽明胃腑大熱及誤服溫補藥熱傷者。</p>
<p>生石膏（五錢），知母（三錢），甘草（一錢），粳米（一撮）。熱甚者加倍用，尤甚者重加石膏治之。</p>
<p>四逆湯　治少陰中寒，肢冷厥逆。</p>
<p>附子（五錢），乾薑（五錢），炙甘草（二錢）。</p>
<p>止嗽散　治一切風寒咳嗽。（若實熱咳嗽不可久用，誤服此易致吐血，宜用三黃白虎加減。）</p>
<p>桔梗、荊芥、紫菀、百部、白前（各二斤），甘草（炒十二兩），陳皮（一斤）。共為末，每服三錢，初感風寒生薑湯下。</p>
<p>月華丸　滋陰保肺，平肝，為治勞之聖藥。（陽火瘦人忌用。）</p>
<p>天冬、麥冬、生地、熟地、山藥、百部、沙參、川貝、真阿膠（各一兩），茯苓、獺肝、廣三七（各五錢），白菊花（二兩），桑葉（二兩）。熬膏將阿膠化入，和藥煉蜜為丸，日三服，每服一丸。</p>
<p>四物湯　治血虛肝腎不足。</p>
<p>熟地（四錢），歸身、白芍（各二錢），川芎（一錢）。</p>
<p>八珍湯　即四君子四物相併，治氣血並虛。</p>
<p>熟地（四錢），黨參（二錢），白朮、當歸（各二錢），茯苓（二錢），白芍（一錢五分），川芎（一錢），炙甘草（五分），加大棗（二枚）。</p>
<p>通音煎　治音啞。</p>
<p>白蜜（一斤），川貝（二兩），款冬花（二兩），胡桃肉（十二兩去皮研爛）。將川貝、款冬為末，四味和勻，飯上蒸熟，開水服。</p>
<p>又方　荷葉燒灰和開水，面東服。</p>
<p>澤蘭湯　治經閉，調血脈。</p>
<p>澤蘭（二錢），柏子仁、當歸、白芍、熟地、牛膝、茺蔚子（各一錢五分）</p>
<p>秘精丸　理脾導濕，治濁固精。</p>
<p>白朮、山藥、茯苓、茯神、蓮子（各二兩），芡實（四兩），蓮花須、牡蠣（各一兩五錢），黃柏（五錢），車前子（三兩）。共為末，金櫻膏為丸。</p>
<p>樸黃丸　治堅積作痢，腹痛拒按。</p>
<p>陳皮、厚朴（各十二兩），大黃（一斤四兩），廣木香（四兩），荷葉。水為丸。</p>
<p>和中丸　治寒腹脹食積；</p>
<p>土炒白朮（四兩），炒扁豆（三兩），茯苓、砂仁（各一兩半），半夏（薑汁炒一兩），枳實（麵炒），神麯（炒），麥芽（炒），山楂（炒），香附（薑汁炒，各二兩），陳皮、五穀蟲（炒焦黃色，各三兩）。共為末，荷葉一張，煎水為丸。</p>
<p>白朮丸　治氣虛中滿。</p>
<p>白朮、茯苓、陳皮（各二兩），砂仁、神麯（各一兩五錢），五穀蟲（四兩）。以荷葉、老米煎水為丸。</p>
<p>七福飲　治心血虛而驚悸者。</p>
<p>人參、熟地（各三錢），當歸、棗仁（各二錢），白朮（炒一錢半），炙甘草（五分），遠志（五分）。</p>
<p>歸脾湯　養血安神。</p>
<p>人參、白朮、歸身、白芍、棗仁（各一錢五分），黃耆（一錢五分），遠志（七分），炙甘草（五分），元眼肉（五枚）。</p>
<p>十補丸　治氣血大虧。</p>
<p>黃耆、白朮、萸肉、杜仲、續斷、棗仁（各一兩），熟地（三兩），人參、歸身、白芍、遠志（各一兩），茯苓、山藥（各一兩五錢），北五味、龍骨、牡蠣（各七錢五分）。</p>
<p>清膈煎　治痰壅心膈。</p>
<p>制膽星（三錢），白芥子（二錢），海石（三錢），陳皮、木通、川貝（各一錢）。</p>
<p>化蟲丸　治蟲積心腹諸症。</p>
<p>蕪荑、白雷丸（各五錢），檳榔（二錢五分），雄黃（一錢五分），木香、白朮、陳皮（各三錢），神麯（四錢）。以百部二兩熬膏糊丸，每服一錢五分，米飲送下。</p>
<p>姜附湯　治寒厥心痛及真心痛，手足青至節者，宜用此方重劑飲之，或可救十中之一二。痛而喜按者加人參、乾薑、附子各（三錢），水煎服。（若實熱心痛不宜此方，當用黃連瀉心諸涼劑。）</p>
<p>導赤散　治熱閉小便不通。</p>
<p>生地、麥冬（各三錢），木通（一錢），甘草（四分），竹葉（十片），車前、赤茯苓（各一錢五分）。</p>
<p>瀉心丸　治心火。</p>
<p>川連（五錢），為末，燈草湯下。</p>
<p>阿膠散　治血虛熱及尿血。</p>
<p>阿膠（一錢），丹參、生地（各二錢），黑山梔、血餘、丹皮、麥冬、當歸（各八分）。</p>
<p>甘露飲　治陰虛胃血熱。（若實熱瘦人誤認陰虛者，服此有損無益，宜用白虎湯加芩柏。）</p>
<p>枇杷葉、生地、熟地、天冬、麥冬、黃芩、石斛（各一錢），甘草（五分），枳殼（八分）。</p>
<p>瓜蔞散　治肝氣躁急而脅痛。</p>
<p>大瓜蔞（一枚，連皮搗），甘草（二錢），紅花（十錢）。水煎服。</p>
<p>清空膏　治肝經風熱夾寒為頭痛。</p>
<p>羌活、防風（各六分），柴胡（五分），黃芩（一錢二分），川芎（四分），甘草（一錢），薄荷（三分），酒炒黃連（六分）。</p>
<p>奔豚丸　治小腹氣結作痛。</p>
<p>川楝子（一兩），茯苓、橘核（各一兩五錢），肉桂（三錢），附子、吳茱萸（各五錢），荔枝核（八錢），小茴香、木香（各七錢）。</p>
<p>橘核丸　治七疝。</p>
<p>鹽酒炒橘核（二兩），小茴香、川楝子、桃仁、香附（醋炒），山楂（各一兩），木香、紅花（各五錢）。以神麯三兩打糊丸。</p>
<p>暖肝煎　治肝腎陰寒，小腹疼痛疝氣。</p>
<p>當歸、枸杞（各三錢），茯苓、小茴香、烏藥（各二錢），桂肉、沉香（各一錢），加姜三片。</p>
<p>柴芩煎　治內火上衝或為痢瘧頭痛諸症。</p>
<p>柴胡（三錢），黃芩、梔子、澤瀉（各一錢五分），木通、枳殼（各一錢）。</p>
<p>五痿湯　治五臟受虛熱而痿。</p>
<p>人參、白朮、茯苓（各一錢），炙甘草（四分），當歸（一錢五分），苡仁（三錢），麥冬（二錢），黃柏、知母（各五分）。</p>
<p>保和丸　治傷食。</p>
<p>麥芽、山楂、萊菔子、厚朴、香附（各一錢），炙甘草、連翹（各五分），陳皮（一錢五分）。亦可作煎服。</p>
<p>木香丸　治寒積腹痛拒按，名曰陰結。</p>
<p>木香、丁香各（一錢半），乾薑（三錢），麥芽炒（五錢），陳皮（三錢），巴豆（三十粒）。以神麯煮糊為丸，每服十丸。</p>
<p>紫菀散　潤肺止嗽並治肺痿。（陽火人忌用。）</p>
<p>人參（五分），紫菀、知母、川貝、桔梗、茯苓、阿膠（各一錢），五味子、炙甘草（各三分）。</p>
<p>推氣散　治右脅寒氣痛。（重讀寒字，若非寒氣者忌用。）</p>
<p>枳殼、鬱金（各一錢），桂心、炙草（各五分），桔梗、陳皮（各八分），生薑（二片），大棗（二枚）。</p>
<p>桔梗湯　治肺癰。</p>
<p>桔梗、白及（各一錢），橘紅、甜葶藶（炒，各八分），生甘草、貝母（各一錢五分），苡仁、金銀花（各七分）。</p>
<p>瀉白散　治肺熱。</p>
<p>蜜炙桑白皮（二錢），地骨皮（三錢）。</p>
<p>茜根湯　治衄血神煩。</p>
<p>茜根、黃芩、阿膠、側柏葉、生地（各二錢），甘草（一錢）。</p>
<p>左歸飲　壯水劑。</p>
<p>熟地（五錢），山藥、枸杞（各二錢），茯苓（一錢五分），山茱萸、炙甘草（各一錢）。</p>
<p>右歸飲　補命門真火不足。</p>
<p>熟地（五錢），山藥、枸杞、杜仲（各二錢），山茱萸、肉桂、製附子、炙甘草（各一錢）。</p>
<p>枳朮丸　除脹消食，虛寒者宜之。</p>
<p>炒枳實（一兩），炒白朮（二兩）。</p>
<p>和胃飲　治霍亂。寒者宜之，熱者不宜。</p>
<p>厚朴、陳皮（各二錢），乾薑（一錢），炙草（六分）。</p>
<p>二冬湯　治上消虛。寒者宜，實熱者不宜。</p>
<p>天冬（二錢），麥冬（三錢），天花粉、黃芩、知母（各一錢），人參、甘草（各五分）。</p>
<p>玉女煎　治陽明有餘，少陰不足。</p>
<p>熟地（四錢），石膏、麥冬（各三錢），知母、牛膝（鹽水炒，各一錢五分）。</p>
<p>抽薪飲　治一切火盛。</p>
<p>黃芩、石斛、木通、梔子、黃柏（各二錢），枳殼、澤瀉（各一錢半），甘草（三分）。</p>
<p>安胃飲　治胃火呃逆。</p>
<p>石斛、麥芽（各三錢），黃芩、澤瀉、山楂（各二錢），陳皮、木通（各一錢）。</p>
<p>假蘇散　治氣淋。</p>
<p>荊芥、陳皮、香附、炒麥芽、瞿麥、木通、赤苓（各二錢）。</p>
<p>溫膽湯　治膽氣虛寒，夢遺滑精等症。</p>
<p>製半夏（一錢五分），枳實（八分），陳皮、茯苓（各一錢五分），人參（一錢），熟地、炒棗仁（各三錢），遠志（一錢），五味子（一錢），炙甘草（五分）。加生薑（三片）、大棗（一枚）。</p>
<p>清魂散　治腸風下鮮血而腹不痛者。</p>
<p>炒荊芥（三錢），當歸（五分）。</p>
<p>舟車丸　治水腫、水脹，形氣俱實。（每日只可服數分或錢許。）</p>
<p>黑牽牛（四兩炒），大黃（二兩酒浸），甘遂（麵裹煨），大戟（麵裹煨），青皮（炒），芫花（醋炒），橘紅（各一兩），木香（五錢），輕粉（一錢）。水為丸。</p>
<p>四君子湯　治氣虛脾胃不足。</p>
<p>人參（三錢），土炒白朮（二錢），茯苓（二錢），炙甘草（五分），加生薑（二片），大棗（三枚）。如無力用人參即以西黨參代之。</p>
<p>六君子湯　治氣血挾瘀，即四君子湯加製半夏（一錢五分），陳皮（二錢）。</p>
<p>大承氣湯　治邪熱實熱閉結，或食積堅硬，或誤服溫補熱藥者均宜下之。</p>
<p>大黃（三錢），枳實（一錢五分），厚朴（一錢），芒硝（三錢）。</p>
<p>小承氣湯　治症稍緩，即大承氣湯去芒硝。</p>
<p>小柴胡湯　治寒熱往來，邪傳少陰，瘧疾、口苦、耳聾、胸滿、脅痛等症。</p>
<p>柴胡（二錢），黃芩、赤芍（各一錢五分），甘草、半夏（各一錢），人參（五分），生薑（二片），大棗（二枚）。</p>
<p>大秦艽湯　治風中經絡，口眼歪斜。</p>
<p>秦艽（一錢五分），炙甘草、川芎、當歸、芍藥、生地、熟地、茯苓、羌活、獨活、防風、白朮、白芷、黃芩（各一錢），石膏（三錢），細辛（二分）。</p>
<p>大柴胡湯　治傷寒邪入太陰。</p>
<p>柴胡（一錢五分），半夏（七分），黃芩、芍藥（各二錢），枳實（一錢），大黃（二錢）。</p>
<p>生地黃湯　治腎火爍金。</p>
<p>生地（三錢），牛膝、丹皮、黑山梔（各一錢），丹參、元參、麥冬、白芍（各一錢五分），鬱金、廣三七、荷葉（各七分），加陳墨汁、清童便（各半杯沖服）。</p>
<p>百藥煎散　治咽痛。</p>
<p>百藥煎（五錢），硼砂（一錢五分），甘草（二錢）。</p>
<p>生地黃煎　治陰火盜汗。</p>
<p>生地、當歸、黃耆（炙）、麻黃根、浮小麥、甘草（炙）、黃連、黃芩、黃柏（各一錢），水煎服。</p>
<p>治痢奇方　治暑痢。（舌有黃苔，唇焦口渴，脈洪數，腹痛後重，宜寒涼行氣。）</p>
<p>川連（六分），黃芩（酒洗），厚朴、歸身，白芍（各一錢五分），山楂（三錢），甘草（五分），桃仁、青皮、紅花（各八分），枳殼、地榆（各一錢），檳榔（一錢二分）。如白痢則加木香。</p>
<p>大和中飲　治食脹悶。</p>
<p>枳實（一錢），厚朴（一錢五分），麥芽、楂炭（各二錢），陳皮（二錢），砂仁（八分），澤瀉（一錢）。</p>
<p>小陷胸湯　治結胸小腹滿痛，手不可近。</p>
<p>半夏（二錢），黃連（一錢五分），瓜蔞實（大者一個）。</p>
<p>大陷胸湯　服小陷胸不效，以此治之。</p>
<p>大黃（六錢），芒硝（四錢），甘遂（二分五釐，研沖）。</p>
<p>鴉膽子方　治久痢寒積在腸。（若暑痢、熱痢、暴痢、疫痢，均不可用此方。）</p>
<p>鴉膽子一個，蒸透將米粉包作糰子蒸熟，以開水囫圇吞下，空心服。（鴉膽子即苦參子，似梧桐，蒼褐色，敲碎有仁數十粒，味苦，詳趙氏《本草拾遺》。）</p>
<p>五味異功散　治氣虛，即四君子湯加陳皮（一錢）。</p>
<p>調胃承氣湯　治胃熱譫語，便秘繞臍硬痛。</p>
<p>大黃（三錢），芒硝（二錢），生甘草（五分）。</p>
<p>附子理中湯　治臟寒將脫之證，用以回陽。</p>
<p>人參、白朮（各二錢），附子、乾薑、炙甘草（各一錢）。</p>
<p>六味地黃湯　滋水制火，專治陰虛。（實熱人瘦人陽火旺者均忌用。）</p>
<p>大熟地（四錢），山萸肉、山藥（各二錢），丹皮、茯苓、澤瀉（各一錢五分）。</p>
<p>十全大補湯　治陰陽並虛而畏冷，即八珍湯加黃氏（二錢），肉桂（三分）。</p>
<p>四味香薷飲　治風寒閉暑。</p>
<p>香薷、扁豆、厚朴（各一錢五分），炙甘草（五分。若兩足轉筋，加木瓜、茯苓。）</p>
<p>藿香正氣散　治腹痛嘔吐。</p>
<p>藿香、砂仁、厚朴、茯苓、紫蘇、陳皮（各一錢），白朮、製半夏、梗白芷（各七分），炙甘草（五分）。</p>
<p>茵陳大黃湯　治黃疸熱閉。</p>
<p>茵陳（三錢），梔子、大黃（各二錢）。</p>
<p>茵陳姜附湯　治陰黃小便自利。</p>
<p>茵陳（一錢），白朮（二錢），附子、乾薑（各五分），炙甘草（二錢），肉桂（三分）。</p>
<p>茵陳五苓散　治陰黃小便不利。</p>
<p>茵陳、白朮、茯苓（各一錢五分），豬苓、澤瀉（各七分），薄桂（五分）。</p>
<p>木通四苓散　治伏暑瀉泄。</p>
<p>白朮、豬苓、木通（各一錢），赤苓（三錢），車前、澤瀉（各二錢）。水煎，用益元散三錢沖服。</p>
<p>秦艽天麻湯　治寒濕入絡，肩背臂痛。</p>
<p>秦艽（一錢五分），天麻、羌活、陳皮、當歸、川芎（各一錢），炙甘草（五分），生薑（三片），桑枝（三錢），如挾寒加桂枝。</p>
<p>柴葛解肌湯　治溫熱症，發熱頭痛不惡寒，與傷寒異。</p>
<p>柴胡（一錢二分），葛根（一錢五分），赤芍、知母（各一錢），貝母（二錢），生地（二錢），黃芩、丹皮（各一錢五分），甘草（五分）。</p>
<p>人參養榮湯　治氣虛榮衛不固。</p>
<p>白芍（二錢），人參、黃耆（蜜炙），當歸、白朮、熟地（各一錢五分），甘草（炙）、茯苓、遠志（各七分），北五味、桂心、陳皮（各四分），加姜（一片），棗（二枚）。</p>
<p>普濟消毒飲　治大頭疫症，喉風，發斑。</p>
<p>甘草、桔梗、黃芩、酒黃連（各一錢），馬勃、元參、橘紅、柴胡（各五分），薄荷（六分），升麻（二分），連翹、牛蒡子（各八分）。</p>
<p>治疫清涼散　治疫邪入里，脹悶譫狂。</p>
<p>秦艽、赤芍、知母、貝母、連翹（各一錢），人中黃（一錢），柴胡（一錢五分），荷葉（七分）。</p>
<p>葛根治痢散　治赤白痢，初起者皆效。</p>
<p>葛根（一錢五分），苦參（酒炒，八分），陳皮（一錢），赤芍、陳松蘿茶、炒麥芽、山楂（各一錢二分）。共為末煎服。有火者加黃連五分。</p>
<p>補中益氣湯　中氣下陷，以此升之。</p>
<p>黃耆（一錢五分），白朮（土炒），人參、當歸、炙甘草（各一錢），柴胡、升麻（各三分），陳皮（五分），加生薑（一片），大棗（二枚）。</p>
<p>金匱腎氣丸　治腎經聚水，即六味丸加附、桂、車前、牛膝。</p>
<p>熟地（八兩），山藥（四兩），山萸肉、丹皮、澤瀉、車前子、牛膝（各二兩），茯苓（六兩），肉桂、附子（各一兩）。如水腫者用五加皮八兩，煮水煉蜜為丸。</p>
<p>秘旨安神丸　治驚悸神魂失守。</p>
<p>人參、棗仁、茯神、製半夏（各二錢），當歸、炒白芍、橘紅（各一錢五分），五味子（十粒），炙甘草（五分），生薑（三片）。</p>
<p>安神定志丸　治心虛惕不臥。</p>
<p>茯苓、茯神、人參、遠志（各一兩），石菖蒲、龍齒（各五錢）。蜜為丸，以辰砂為衣，每服二錢。</p>
<p>洋參麥冬湯　治心經虛熱而痛者。</p>
<p>洋參、麥冬、當歸（各二錢），生地（三錢），白芍、丹參、釵石斛（各一錢五分），犀角、甘草（各五分）。</p>
<p>沉香降氣散　治氣滯心痛。</p>
<p>沉香（三錢），砂仁（七錢），炙甘草（五錢），香附（鹽水炒，五兩），元胡索（酒炒一兩），川楝子（煨淨一兩），共為末，每服二錢，淡薑湯下。</p>
<p>萆薢分清飲　治心移熱於膀胱而為赤濁者，並治諸淋。</p>
<p>川萆薢（二錢），炒黃柏、石菖蒲（各五分），茯苓、白朮（各一錢），蓮心（七分），丹參、車前子（各一錢五分）。</p>
<p>柴胡疏肝散　治肝氣左脅痛。</p>
<p>柴胡、陳皮（各一錢五分），川芎、赤芍、枳殼、醋炒香附（各一錢），炙甘草（五分）。</p>
<p>芍藥甘草湯　治木侮土而腹痛。</p>
<p>酒炒白芍（三錢），炙甘草（一錢五分）。</p>
<p>太無神功散　治一切痞積。</p>
<p>地萹蓄　瞿麥穗、麥芽（各五錢），神麯（二錢五分），沉香、木香（各一錢五分），炙甘草（五錢），酒蒸大黃（二兩）。共為末，每服二三錢，燈心竹葉湯下。女人用紅花當歸湯。</p>
<p>香砂二陳湯　治脾滯腹痛。</p>
<p>木香（一錢），砂仁（一錢），半夏、陳皮、茯苓、炙甘草（各一錢五分），加生薑（一片），大棗（二枚）。</p>
<p>蒼白二陳湯　治受濕身痛。即香砂二陳湯去木香、砂仁，加蒼朮、白朮（各一錢）。</p>
<p>香附理中湯　治脾寒腹痛。</p>
<p>木香（一錢），砂仁（一錢），人參、白朮（各二錢），乾薑、炙甘草（各一錢）。</p>
<p>黃芩芍藥湯　治脾熱流涎如蟹渤等症。</p>
<p>黃芩、白芍（各二錢），生甘草（一錢）。</p>
<p>加味枳朮湯　治酒疸濕熱發黃。</p>
<p>白朮（二錢），枳實、陳皮、麥芽、山楂、茯苓、神麯、連翹（各一錢），茵陳、荷葉（各一錢半），澤瀉（五分）。如傷酒者加葛根（一錢）。</p>
<p>葛花清脾湯　治酒濕生熱生痰，頭眩頭痛。</p>
<p>葛花（一錢），枳椇子（三錢），赤苓（三錢），澤瀉、茵陳、黃芩（各二錢），山梔、車前子（各一錢五分），甘草（五分），橘紅、厚朴（各一錢）。</p>
<p>梔子柏皮湯　治鬱熱在裡而發黃疸，名曰陽黃。</p>
<p>梔子（三錢），黃柏（二錢），炙甘草（一錢）。</p>
<p>桔梗前胡湯　治肺氣閉塞悶咳。</p>
<p>桔梗（一錢），前胡、蘇子、赤芍、桑白皮（炙）、陳皮（各一錢五分），杏仁（三錢），竹茹（薑汁炒一錢），生甘草（五分）。</p>
<p>加味甘桔湯　治肺郁哮喘。</p>
<p>甘草（五分），桔梗、川貝、百部、白前、橘紅、旋覆花、茯苓（各一錢五分）。</p>
<p>貝母瓜蔞散　治肺熱液干。</p>
<p>貝母（二錢），瓜蔞仁（一錢五分），膽星、黑山梔（各五分），黃芩、橘紅、炒黃連（各一錢），甘草（五分）。</p>
<p>知柏八味丸　滋水降火。</p>
<p>知母、黃柏（各一錢五分），大熟地（四錢），萸肉、山藥、茯苓（各一錢五分），丹皮、澤瀉（各一錢）。</p>
<p>八味地黃丸　治命門火衰。</p>
<p>製附子、肉桂（各一錢），熟地（四錢），山藥、萸肉、茯苓（各一錢五分），丹皮、澤瀉（各一錢）。</p>
<p>生地八物湯　治中消。（陰虛者宜之，實熱者不宜用地冬山藥。）</p>
<p>生地、麥冬（各三錢），山藥、知母、丹皮（各一錢五分），黃芩、黃連、黃柏（各一錢），荷葉（二錢）。水煎服。</p>
<p>生地四物湯　治血淋。</p>
<p>生地（三錢），歸身、赤芍（各一錢五分），川芎（一錢）。</p>
<p>犀角地黃湯　治血熱妄行及斑疹。</p>
<p>犀角尖（先煎）、丹皮、麥冬、白芍（各一錢五分），生地（四錢）。</p>
<p>黃芩知母湯　治火嗽煩熱。</p>
<p>桔梗、黃芩、知母、桑白皮、杏仁、天花粉、山梔、川貝母、生甘草（各一錢）。</p>
<p>黃芩清肺湯　治肺熱小便不利。</p>
<p>梔子（二錢），黃芩（一錢）。</p>
<p>加味七神丸　治腎虛雞鳴泄瀉。</p>
<p>肉豆蔻、吳茱萸、廣木香（各一兩），蒸茯苓、補骨脂（鹽酒炒），蒸車前子（各二兩），土炒白朮（四兩）。以大棗煎湯為丸，每服三錢。</p>
<p>犀角大青湯　治胃火發斑，大渴大熱，咽痛不利。</p>
<p>犀角尖、大青、元參、甘草、升麻、黃芩、黃連、黃柏、人中黃、黑山梔（各一錢五分），或加石膏（一兩），同煎。</p>
<p>三黃解毒湯　治火毒內盛。</p>
<p>黃連（二錢），黃芩、黃柏、黑山梔（各二錢五分）。</p>
<p>加味升麻湯　治胃火上衝，頭痛甚熾。</p>
<p>升麻、葛根、赤芍、甘草（各一錢），石膏（三錢），薄荷（五分），加燈心（二十節）。</p>
<p>香砂六君子湯　治胃寒吐瀉。即六君子加藿香（一錢），砂仁（二粒）。</p>
<p>歸芍六君子湯　治脾陰虛弱下血。</p>
<p>歸身、白芍（各二錢），人參、白朮、茯苓（各一錢五分），陳皮、半夏（各一錢），炙甘草（五分）。</p>
<p>千金牡丹皮散　治腸癰。</p>
<p>丹皮、苡仁（各五錢）、瓜蔞仁（一錢五分），桃仁（十二粒研）。水煎服。如大便閉，加大黃（一錢半），當歸（三錢）。</p>
<p>小半夏加茯苓湯　治飲停膈間，加蒼朮、木通更效。</p>
<p>半夏（姜炒），白茯苓（各三錢），炙甘草（一錢），生薑（三片）。</p>
<p>人參燕窩百合湯　潤肺清金。（實熱人忌用。）</p>
<p>人參（一錢，如無力者以洋參沙參二三錢代之），燕窩（三錢），百合（五錢）。</p>

<h2>55．《傳薪集》中載有哪些良方？</h2>
<p>問：《傳薪集》無從訪購，所載良方若干，請約言之。</p>
<p>《傳薪集》有簡便方，破格方，用之中病，無不神效，明於醫者可減加酌用，略舉如下。</p>
<p>簡便良方：</p>
<p>薄荷湯　涼散太陽熱邪。</p>
<p>薄荷（一錢五分），荊芥（一錢），竹葉（一錢），甘草（五分），紫蘇（八分）。</p>
<p>麻黃湯　溫散太陽寒邪。</p>
<p>麻黃（二錢），桂枝（一錢），杏仁（一錢），甘草（五分），陳皮（一錢）。</p>
<p>桂枝湯　溫散太陽寒邪，（風邪有寒有熱，若所中非寒邪則不可用此方。）</p>
<p>桂枝（一錢五分），防風（一錢），生薑（一錢），甘草（五分），半夏（一錢）。</p>
<p>羌防湯　搜發表里大風寒邪。</p>
<p>羌活、防風、荊芥、陳皮（各一錢），甘草（五分），秦艽、獨活（各一錢）。</p>
<p>柴葛湯　表散少陽熱邪。</p>
<p>柴胡（一錢二分），葛根（一錢五分），黃芩（二錢），赤芍、竹葉（各一錢），甘草（五分）。</p>
<p>柴半湯　表散少陽瘧疾。</p>
<p>柴胡（二錢），半夏、赤芍、厚朴（各一錢），黃芩（二錢），葛根（一錢五分），陳皮（七分），甘草（五分）。</p>
<p>芩葛湯　表散太陽少陽熱邪。</p>
<p>黃芩（二錢五分），葛根（二錢），秦艽、荊芥、薄荷（各一錢），蘇葉（八分），甘草（五分）。</p>
<p>姜防湯　溫散少陽陽明風寒邪。</p>
<p>生薑（一錢五分），防風、羌活、陳皮、半夏、白茯苓（各一錢），甘草（五分）。</p>
<p>三仙丹　治脾火鬱滯。</p>
<p>黃芩（三錢），川樸、枳殼（各一錢）。</p>
<p>麥楂湯　治食滯肚痛。</p>
<p>麥芽（一錢五分），楂肉（二錢），舊厚朴、枳殼（各一錢）。</p>
<p>舊樸湯　治寒氣腹痛。</p>
<p>多年厚朴、生枳實、藿香（各一錢），春砂（二粒）。</p>
<p>止瀉湯　治瀉水無尿。</p>
<p>白茯苓（三錢），車前子（一錢五分，炒）。</p>
<p>竹葉石知湯　表散太陽少陽陽明熱邪，散表防里。</p>
<p>竹葉（一錢五分），生石膏（五錢），知母、黃芩（各二錢），葛根、薄荷（各一錢），甘草（五分）。</p>
<p>苦參治痢湯　治紅白痢。（活血則便膿自已，行氣則後重自除。舌黃者宜之。）</p>
<p>苦參（一錢五分），葛根（二錢），赤芍（一錢），楂肉（二錢），枳殼、厚朴（各一錢），黃芩（三錢）。如便膿多，加歸身（一錢）；如裡急後重，則加大黃（二錢），檳榔（一錢五分）。</p>
<p>芩連治痢湯　治紅多白少痢。（舌黃者宜之。）</p>
<p>川連（二錢），黃芩（三錢），大黃（二錢五分），厚朴、枳殼（各一錢），楂肉、槐花（各二錢），地榆、苦參（各一錢），檳榔（一錢五分）。</p>
<p>木香治痢湯　治白痢。（舌白者宜之。）</p>
<p>木香（一錢），白芍、楂肉（各一錢半），歸身（二錢），陳皮（七分），麥芽、厚朴、陳茶、枳殼（各一錢）。</p>
<p>破格良方：</p>
<p>姜附湯　治臟腑寒極，氣血兩虛諸症。</p>
<p>乾薑（一兩），熟附子（六錢），土炒白朮（三錢），炙黨參（四錢），玉桂心（二錢），炙甘草（一錢），茯苓（二錢）。</p>
<p>參耆湯　治臟腑氣血虛虧已極。</p>
<p>人參（七錢），黃耆、熟地（各一兩），歸身（三錢），白芍（二錢），茯神（三錢），炙甘草（一錢），白朮（二錢）。</p>
<p>膏知湯　治肺胃熱極，或邪火入陰，燒陰單熱，口乾心躁。</p>
<p>雪白生石膏（一斤），知母（六錢），生甘草（一錢）。</p>
<p>硝黃湯　治鬱火熱結已極諸症。</p>
<p>芒硝（四錢），生大黃（六錢），生枳實（一錢五分），舊厚朴（一錢）。</p>
<p>平陽清裡湯　治實熱內傷未成症，五臟陽火偏盛諸證。</p>
<p>雪白生石膏（四兩），暹犀角尖（三錢），生知母（三錢去毛），黃芩（三錢），黃連（一錢五分），黃柏（二錢五分），羚羊角（二錢），生甘草（一錢）。</p>
<p>涼補肺胃湯　治陽火極盛，肺胃大熱。</p>
<p>生石膏（八兩），犀角尖（四錢），肥知母（四錢）生甘草（一錢），生竹茹、生桑白（各三錢）。</p>
<p>瀉里承氣湯　治陽火盛，大小便不利。</p>
<p>錦紋大黃（三錢五分），芒硝（三錢二分），舊厚朴（一錢一分），生枳實（一錢六分）。</p>
<p>將軍駐防湯　治脾熱下焦濕腫。</p>
<p>錦紋生大黃（三錢），漢黃防已（三錢），鮮黃柏（二錢五分），桑枝（三錢），枯黃芩（三錢），暹犀角（三錢），芒硝（三錢），木通（一錢）。</p>
<p>十全辛溫救補湯　治臟腑積寒已極，痰結甚深，及誤服苦寒，毒損臟腑諸症。</p>
<p>熟附子（一兩），乾薑（一兩），肉桂心（二錢），肉豆蔻（二錢），木香（一錢），陳皮（二錢），半夏（二錢），川椒、丁香（各一錢），藿香（一錢五分）。</p>
<p>十全甘溫救補湯　治臟腑氣血虛虧已極，及誤服甘苦寒攻瀉，毒損臟腑諸症。</p>
<p>炙黃耆（一兩五錢），人參（一兩米炒），白朮（六錢土炒），大熟地（一兩），川芎（二錢五分），歸身（八錢），鹿茸（三錢酒炒），白芍（四錢），茯神（四錢），甘草（一錢炙）。</p>
<p>十全苦寒救補湯　治臟腑陽火實熱，郁久內熱，邪火入陰，燒陰已極，及誤服甘辛溫，毒損臟腑諸症。</p>
<p>生石膏（八兩研粉），暹犀角尖（四錢），鮮黃柏（四錢），枯黃芩（六錢），川黃連（三錢），生知母（六錢），生錦紋大黃（三錢），芒硝（三錢），生舊厚朴（一錢），生枳實（一錢五分）。</p>
<p>十全甘寒救補湯　治臟腑陰虛血熱，陰火內傷已甚，及誤服甘溫，毒損臟腑諸症。</p>
<p>大生地（三兩），麥冬、天冬、萎蕤（各一兩），元參（八錢），沙參（四錢），淮山藥（八錢），丹皮、澤瀉、地骨皮（各三錢）。</p>
<p>以上四救補湯不可輕用，有病則病當之，憑舌脈辨症全對者全用。若看某經無病，即除某經之藥，非限定全方畢用。若病稍輕者減半用，再輕者遞減之。惟苦寒救補湯治邪火燒陰，及誤服溫補，毒損臟腑，危在旦夕者，則宜一二三四倍加重石膏，余不加。如大便不通，倍加大黃、芒硝，余不加。若傷寒傳經，欲以大黃下之者，則宜酒洗，余均用生藥。</p>
<p>附雜治方及跌打方：</p>
<p>雄青湯　治飛點蛇瘡。（小點熱痛，由少加多，飛延而生，如蛇纏繞，不拘定處。）</p>
<p>雄黃（一錢五分），青黛、黃連、黃芩、黃柏、生大黃（各二錢），生石膏（四錢），冰片（七分後入）。研末，開水調敷即效。</p>
<p>線蹄湯　治一切血熱吐血證。</p>
<p>生紅絲線草（數根），豬蹄（一隻）。同熬湯，連豬腳食之神效。（紅絲線，草名也，葉梗俱青嫩。與豬腳同煮，其湯成紫紅色。）</p>
<p>白芋湯　治濕疥癲。</p>
<p>白芋頭熬爛去滓，取湯洗患處，數次即愈。</p>
<p>雞鹼散　治手指生蛇頭，腫痛不可忍。（或初起有二眼如蛇睛形，或無眼者。）</p>
<p>用雞卵殼，內盛石鹼水一勺，浸患處，令出膠絲，其毒從膠絲帶出即愈。</p>
<p>二味瀉脾湯　治脾熱小便不利，四肢腎囊腫脹，氣喘急迫，夜不能眠諸證。</p>
<p>用三冬後老烏骨鴨一隻，去尾與老冬瓜（白粉色者）同熬，食七天，立效。（如無烏骨鴨則老白鴨亦可，惟功力稍減耳。）</p>
<p>陰陽生活湯　陰陽並補，益嗣延年。（難於生育者常食，三年必有孕。）</p>
<p>每年夏至、冬至、端陽日，宰瑞鴿一隻（詳食物損益篇引《嘗毒經》說），並其腎同熬湯至爛熟後，略用鹽調淡味，獨取其腎送湯一甌，面向東方食之，勿令人見，食畢伏乞叩齒三通。</p>
<p>瑞鴿救生湯　治血崩、氣脫、血脫，男女陰陽兩虛氣血虧損，形體瘦弱，一切虛脫急症。（或誤服生附子，麻痹不省人事者均宜，若邪熱實證不能用。）</p>
<p>三冬瑞鴿（一雙）。熬濃湯飲之（少用漂白鹽調淡味為度），食腎不食肉。</p>
<p>一味救陰保元湯　治陰虛虛勞第一方。</p>
<p>三年老白鴨（白絨頂，烏骨者），除去尾加清水七碗，先用武柴火燒滾，後用木炭文火緩熬至四碗水，候涼，掠去浮面油，以清湯暖飲，陰虛人常食延年。</p>
<p>七釐散　治跌打損傷筋骨，流血不止，及一切無名腫毒。外調不限數，內服以酒沖，限用七釐。</p>
<p>麝香、梅花冰片（各二分四釐），硃砂（二錢四分），乳香。沒藥（各三錢），血竭（二兩），兒茶（四錢八分）。共研細末，每服七釐，孕婦忌用。</p>
<p>歸尾湯　治一切跌撲傷，內有積血，大小便閉者。</p>
<p>歸尾（二錢），生地、川芎、桃仁、紅花、蘇木、生大黃（各一錢）。</p>
<p>全歸湯　治跌打損傷，未破口而內傷有淤痛者，服之可散淤活血，熬時以酒和水。</p>
<p>全當歸（五錢），川芎、紅花、丹皮、澤瀉（各三錢），蘇木（二錢五分）。</p>
<p>白糖湯　治跌打內傷，不省人事，能去淤血而安神魂，孕婦跌傷不能服他藥者，飲此湯即效。</p>
<p>白糖（三兩）。衝開水服，加酒少許。（無酒量者不用酒亦可，或急時以童便和白糖飲之。俗謂紅糖去傷者，非也，實不如白糖。）</p>
<p>桃花散　治一切跌打損傷流血。（以散末摻之，微按片刻，立能止血。且傷口不忌冷水涼風。）</p>
<p>陳石灰（四兩），生錦紋大黃（一兩）。各研極細末，同下銅鍋微火略炒，視其色如淡紅桃花色為度。（用舊牆上多年石灰皮研末炒。）</p>
<p>熊麝回牛丸　治一切跌打損傷。（無論見血不見血，皆可內服外塗，惟孕婦忌用。）</p>
<p>真人熊膽（五錢），真麝香（三錢），真田州老三七（螺紋黑色者，四兩），自然銅（三兩，燒紅，以醋淬制數次），乳香、沒藥、硃砂（各二兩），巴豆（二兩去油），活土鱉蟲（五兩，研末，瓦上焙乾），血竭（一兩，飛淨），生大黃（二兩），紅花（三錢），桃仁（四錢）。共研細末，蜂蜜為丸，如中指大。（外敷用酒抹塗，內服用酒調飲，或和白糖湯服。重傷者每服一二丸，輕傷則半丸一丸均效，沖童便尤佳。各藥必真地道方能神驗。入熊膽必苦，氣透掌，滴於磚地，闢塵尺余。以少許置水面，有血絲轉走不停者為真，如無真熊膽則此方功力較緩矣。又熊膽為治眼科神藥。）</p>
<p>生草藥再造丸　治一切跌打極重傷損，服之復甦。每草五斤，搗爛為丸，外塗內服。</p>
<p>紅毛還魂草、白毛還魂草、百折不回草（任折不斷，以石砍之則爛），一劍霜寒草（刀斬不入，用石擊之即成粉），起死回生草（一折即斷，接之便生），落地生根草（其葉落地隨地生根），接骨草、接筋草（雞鴨腳折斷，封之立接）。</p>
<p>竹林內活活雞仙丹一顆（此鳥似雞，鳴聲活活故名。春日育雛，人窺其母出巢，折雛之腳，其母即採取百藥蓋護雛身，逾日即瘥。人取此藥以治跌打損傷，名曰活子仙丹。）</p>

<h2>56．梁氏家訓大略是什麼？</h2>
<p>問：先生世業岐黃，必有家訓秘傳，願聞其略。</p>
<p>家六世福文芸公（諱康寧）壽逾期頤，於一百十三歲時，作訓以貽後人。其略曰：治病者治平也。人生本無病，偶有所偏則為病，治其病則補偏救弊也。失之寒，以溫藥補其偏；失之熱，以寒藥補其偏；失之虛，以補藥補其偏；失之實，以攻藥補其偏。救以為治，補以使平，補字勿呆讀，治平之道得矣。古聖垂訓後世，何以非治平之道哉？日嘗七十二毒，言判三千餘經，錯綜者三百二十條，畏忌者三百一十七，區經別絡，了了明言。吾家傳《嘗毒本經》一百卷，及仲景各書心法相傳，毫釐不差。凡我子孫有心救世者，讀聖賢書，行聖賢事，毋學殊途，毋存利心，毋矜奇術。不為良相，亦為良醫。近世醫家，或泥湯方而不明加減，治病不辨何經，昧藥性而但喜升提，言醫必先以補，習俗移人，牢不可破，各行其是，不必從流。夫藥本毒物，故神農辨百草謂之嘗毒。藥之治病，無非以毒攻毒，以毒解毒。草木無情，有益於此，未必無損於彼。《易》曰「勿藥有喜」，在占應不醫而病自痊。蓋藥能醫病，不能醫命，神聖神醫，無如命何！餘一介儒生，頗好藏書，於經史諸子詩文外，兼攻醫術。偶有疾病，自治幸痊，齒逾百歲，豈醫藥之力，亦死生有命耳！然人定則勝天，寡欲則延年，尤宜涵養太和，居易俟命。若六氣偶侵，用藥以補偏救弊，稍得治平，當以勿藥為良醫。陰陽往復，否極泰來，人身臟腑血氣，久之亦有變更。善衛生者，切勿以素寒、素熱、素虛、素實之私見存於胸中，宜就候脈辨舌驗症之時，所見寒熱虛實分別醫治，不必論其臟腑之素。餘一生臟腑之變，已經四次，此閱歷之境，學醫者毋執滯鮮通也。</p>

<h2>57．養生防病有哪些要訣？</h2>
<p>問：衛生有要言乎？</p>
<p>凡人守身，必先慎疾。春風有溫，夏炎有暑，秋露有濕，冬天有燥。風寒燥火暑濕，時時有之。起居必謹，毋干其暴。六氣無所犯，百草勿輕嘗。飲食莫過度（過飲傷血氣，過食滯中州），疏食勝膏粱（膏粱厚昧易生惡疾）。穿臍不洗浴（幼時脫臍太早，皮未生合，陽氣泄出，遂有穿臍之病。當其出水之時，以艾灰少許，冰片研末摻之，使臍孔常結膩，可無病患。若洗浴太多，必致臍常出水，則百病叢生，子嗣維艱），宴客不飛觴（適可而止），隙風須要避，酒後禁行房（易中陰風，最為危暴），耳目毋從欲，心思勿用傷（養性存心，延年益壽）。知醫能為己，藥性貴審詳。治方遵仲景，學古法岐黃。茹古無泥古，知方必制方。（讀《靈》、《素》，當知其發揮之妙。八面玲瓏，非死煞句下，如痰血休治，瀉子補母，無殞無殞，虛虛盛盛句，言在此，意在彼，當正本清源也。其譬喻之詞，如「紅如裹朱，白如鵝羽」句，非確有是色，可意會不可言傳。醫家均遵仲景，或效或否，蓋萬病之變化無窮，古方之治療未盡。設仲景處今，亦必因病立方，必不拘於舊說。《傷寒論》一書，乃因長沙時疫，醫者多誤，仲景制方皆對病能愈，因編此書記當時經驗諸方，並非預先立論也。後人不察，以為設方以待病，其知辨證者用之如神，其不知者執方誤人。余家訓治病必審證，古方若合則遵用之，若不合則仿製之，以能療病為良，不必泥古。）辨證參舌脈，真假判陰陽。重病舍脈治，憑舌較短長。（凡閉瀉痛及危病、假絕症，脈多怪代，散亂無憑。七絕怪脈，常常有之，醫書多雲不治，家訓遇此必舍脈憑舌，多有可治。）不為庸醫誤，自得永康強。（凡人能食能睡，二便通利，別無所苦，即是無病。切勿誤信庸醫，妄求補益，漸生他弊。凡藥能對病，服之必安，不對則否。惟大承氣湯有除暴安良之力，氣勢交攻，入腹後必發熱微擾，有片時難禁。藥未勝證則腹不痛，藥既勝證則腹必痛，瀉出之後，立即胸寬體爽，不可不知也。）</p>
