<header data-type="book">
<h1>青囊瑣探</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>片倉元周</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015283">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>夫春去秋來。歷萬古常新者。天地之景象也。澄心凝思。眇眾慮著書者。學志之胸懷也。是故雖萬歲後。著書之事無盡者。與春秋花月之年年新者奚異焉。余壯歲聚所發明經驗之理法。已成數卷。題為青囊瑣探。將厄黎棗而未果矣。後觸事廣之。累月積年。筆新得者。竟獲為十餘卷。因釐為五集。以類命名。其如傷寒啟微。產科發蒙。已刻而問於世。今如此集。則錄耳聞目睹偶有觸發者。詹詹小言。蓋是媵說脞記之類。或恐來人之嗤笑。然其間存人情之所不能免。及理法之有灼驗者。此亦所以學者之胸懷。與天地之景象俱同。而日新無盡也。</p>
<p><u>享和改元白雞春二月十三日鶴陵片倉元周撰並書</u></p>

<h1>序</h1>
<p>余每閱書。遇錯訛。則必正焉。否則意不苟安。此我一痼疾耳。片倉深甫。曏者著產科發蒙。讀其稿本。一系產育啞科。時有校陶陰。頃日召見之。攜來青囊瑣探。請余校並序。余素不讀醫書。妄應其需非心所安矣。嘗試閱之。雖稱瑣記而頗該博。隨見聞錄之。而無詮次。其徵文獻者。數十家。證引該博。憤悱啟發。往往適余意者多矣。加之深甫受業於太醫令多紀氏之門也。余於多紀氏累世通家。則豈可執不知醫事不為之序乎。多紀法眼且叮嚀曰。古今之醫典。為之序者。奚翅刀圭之人。余謂。炎黃岐伊而下。如張長沙王外臺。未聞方技世家。況獨為之序乎。何以固辭為。而中特一二有可論者。始舍而不肯言。以俟後之認者耳。此為序。聊應其需。</p>
<p><u>享和弟二杏月下浣播磨白鷺城太守忠道譔並書</u></p>

<h1>上卷</h1>

<h2>碑醫</h2>
<p>余自少小好醫方。每見長者。必問其道。有一宿老。曰。吾子能奮勉勿為碑醫。余俯思久之不得其解。乃叩碑醫義。曰。建橐以還百有餘年。四海寧謐。誠是學者成不朽業之秋也。而醫人之多。國初以來。未有若今日也。然率皆競馳勢利。雖至皓首無一葉書著述。死而遺者。僅墓上一片石而已。故我謂之碑醫矣。嗟宿老言。可謂使人發憤激也。</p>

<h2>看書二途</h2>
<p>余每觀世醫之讀書者。蓋有二途焉。好學問而深於治療者。先熟讀其論。然後及藥方。不好學問。而但聚奇方妙藥為治療者。不讀其論。而先閱藥方矣。吾惡其先藥方者。</p>

<h2>特不執古方</h2>
<p>自仁齋徂徠二先生唱復古學。醫家亦效顰。動稱復古。乃以素難為後人之偽作而排之。特講究仲景氏之書者數家。其功亦偉矣。然至其甚。則使子弟輩禁觸目於晉唐而還之醫籍。乃言傷寒論湯方足治萬病。奚用多之為。觀其識見。則雖愉快。至治眾病。則不能免牽強附會矣。蓋因其人立一家法。雖有奇病異疾。恥用後世之方。專執古方。而誤人命者。亦不為鮮。豈仁人之意也哉。夫天下事。有古人未明而後人詳之者。譬如日食。秦漢以前皆莫能先知。故春秋書日食三十有六。記異以警人君也。後世巧曆家推測殆盡。上下千百年。皆可坐致。豈古之皆是而後之皆非邪。而況在醫家。亦後世之論。勝古昔之說。古昔無有之病。後世偶起。而人論定於後而功於世者。不為少乎。故獨執古方者。我未敢信也。</p>

<h2>貴著書</h2>
<p>神祖奠鼎之後。昇平日久。名於醫者。不乏矣。京師有奈古屋丹。水後藤艮山香川秀庵。吉益東洞等諸傑。而各倡一家學。其名震海內。雖互有得失。亦可謂勤矣。而東都醫者。起家世祿者。不暇枚舉。然學術兼備。立一家言著書以垂後世者。寥寥乎何也。蓋東都則上而大君在焉。次而諸侯在焉。是以醫氏偶治權家病取效。則名聲聞於諸侯間。或為官醫。或為列國醫官。遂擅權怙勢。泰然安其祿。是以諸醫家每豔羨之。率皆青雲志汲汲。而不朽業疏疏焉。夫世祿則至子孫或有失。著書則千歲不朽。學醫者於斯二者間。不可不深察也。</p>

<h2>真醫</h2>
<p>醫不讀書。則不能治疾。不治疾。則不能解書。能兼斯二者。然後始可謂真醫者也。若夫謂雖不讀書能治人疾者。不敢謂然也。</p>

<h2>弟子問</h2>
<p>弟子輩問曰。何如可得醫學成也。予曰。汝等有色欲情邪。皆莞爾笑不答。予曰。汝等欲珍膳美味歟。皆曰然。夫男子及長也。見佳治窈窕之美。則心魂飛揚。為宋華父督見孔父妻於路之態。又東鄰處女挑之。或遊里娼妓似有情。則戀戀之心。往來於胸中。雖寢食間不能忘焉。此少年之常情也。若溺之者。至於學不成而遂亡身失家矣。子夏曰。賢賢易色。豈非戒之乎。又於珍膳美味。亦人情所自嗜。是以丹溪特作飲食箴。故取好斯二者之心。以用之醫學。則曷得不成名於一世哉。其用心如此。而生涯不能成者。守汝至愚。而安其分而已。</p>

<h2>扁倉仲景</h2>
<p>余讀史記扁倉傳。二公之指死生。如懸鏡睹之。實可謂神於醫者。然其法其方皆不傳。則雖稱神無一益於後學。雖然見採於良史。名冠於方技中。若夫微太史其名必湮沒矣。夫仲景纂集古之湯液論。以著傷寒論。傳之萬世。百代之下。賴是免夭橫者。無有涯極。雖然范曄不收於史。其傳皆出於後人。嗚呼為良史所採。而名冠於方技者。與不見收於史。而其書功於萬世者。其德澤之優劣何如乎。</p>

<h2>諸侯病難治有十三</h2>
<p>諸侯之病。難為治療者。有十又三焉。漢郭玉對和帝曰。貴者處尊高以臨醫。醫懷怖懼以承之。其為療有四難焉。自用意而不任醫一難也。將身不謹二難也。骨節不強不能使藥三難也。好逸惡勞四難也。予續之曰。醫既到。則於客次移時。延患者室中甚遲。是以有識者。惡其簡慢一也。醫診脈訖則速自房內出。是以不能詳音聲氣息動靜二也。侍醫數輩應對問治劑。不愜其意。則竊拒之三也。畏峻藥而好補劑。是以雖有實候。不能施巴豆硝黃之類四也。不自言其所苦之證候。而使侍臣言之。是以動輒不能悉其患狀五也。內醫之得寵者。慮他人若奏效則我寵之或衰。乃嫉有識者。而竊掣其肘六也。病稍重則保護慎重之弊。延醫甚多。或日至十餘人。其看脈按腹握手足無有間斷。不知過保惜而反患者致疲勞七也。又方夫人有疾。按察腹部。則必隔繒一層而視之。是以不能詳皮膚之潤澤枯燥八也。又至其甚。則不露全軀。自簾內出手令視脈。是以不能詳眼中面色舌候九也。凡此類可謂不解事之甚也。夫召醫者。為蠲疾苦也。假令高貴人苟臥病中。則宜尊重醫。若夫以無爵位輕視。而自不言所苦。或夫人以男女有禮。不令觸手於腹部等事。非託病之本意。醫亦對貴人勿恐懼。恐懼則智不能振。智不能振。則往往鮮有奇中。又診富人勿有諛心。有諛心則心暗。而失醫之本旨矣。</p>

<h2>解毒奇方</h2>
<p>高濂靈秘丹藥箋。載解中諸物毒方。用白礬一錢。細茶一錢。井花水調服。以吐出為妙。余近讀王椷秋燈叢話。曰。萊郡劉某遇僧授海上方多效。其解砒毒尤為神驗。戚某屢求不與。銜之。乃置酒延劉。食畢扃其戶謂曰。爾已中砒毒矣。速語我方。為爾療。劉不信。頃覺腹中潰動。乃曰。何惡作劇如是。可疾取白礬三錢來。戚如言取至。調水飲之立解。因惡其吝也。榜其方於通衢。元周按嚴氏濟生方治中諸蠱毒。用晉礬建茶。瑞竹堂方。療蛇蠱諸毒。用白礬甘草。則礬石之解中毒。冠於諸藥者。可以知矣。頃讀陳明善洗冤錄。曰。泉州一僧能治金蠶蠱毒。如中毒者。先以白礬末令嘗不澀。覺味甘。次食黑豆不醒乃中毒也。即濃煎石榴皮根飲之下。即吐出蟲皆活。無不愈者。</p>

<h2>槐花解河豚毒</h2>
<p>治中河豚毒者。鯗魚銼水煎服。或將白礬末。冷水調服。或飲穢物之類。人所皆知也。昨閱輟耕錄曰。凡食河豚者。一日內不可服湯藥。恐有荊芥。蓋此物大相反。亦惡烏頭附子之屬。世傳中其毒者。亟飲穢物乃解。否則必亡。又聞不必用此。以龍腦浸水。或寶丹。或橄欖。皆可解。後得一方。用槐花微炒與干燕支各等分。同搗粉水調灌。大妙。余雖未試。記以具遺忘。</p>

<h2>細心膽大</h2>
<p>醫之臨疾病處湯方。非細心而膽大。則不能治危險證也。</p>

<h2>人參生薑</h2>
<p>凡物價貴則人重之。價賤則輕之。世人當有病用人參。則秤之而正其毫釐者甚嚴也。而至用生薑幾片。則委奴婢手。不敢顧焉。假令其用一片。姜有干潤。切有厚薄。而輕重每不等也。嘗閱奇效醫述。曰。生薑三片為引。約重二錢云云。然則一片重六分六釐余也。若夫使生薑價如人參甚貴。則世人必可正其權衡矣。噫臨病立湯方。猶向師立陣法。雖生薑有時為將。雖人參有時為卒。豈可以價賤常多輕視之乎。世醫亦恬然以此任病家。可以發一笑也。</p>

<h2>上總州舌疳藥</h2>
<p>余童年在藍溪先生塾中時。竊思吾長而為人治疾。小恙則嵌甲。鵝眼。黑痣。雞眼子等。大患則傷寒。腳氣。痢疾之類。莫論而已。其他至於癩疾。癲癇。鼓脹。偏枯。勞瘵。肺癰。舌疳。乳癌等之古今所難治者。亦欲得奇方妙藥以盡治之。是以求諸百家醫籍。或問諸友朋。後遊城攝探名家秘方。試之今且二十餘年。經驗不可枚舉也。然至於鼓脹。偏枯。勞瘵。肺癰。乳癌。舌疳。（邦俗呼曰舌疽。）則取效僅僅無幾。常以此為憾焉。嗚呼此數證素系廢疾者歟。曩橋本四郎左者抱病與吉田道見俱自上總州九十九里來。就余求治。渠云。鄰村有一老醫妙起舌疳。然秘惜其方不敢傳人。余頃請賴二子以重利傳其方。未落我手中。（近吉田道見得此方來傳之。因錄後卷宜以參看。）</p>

<h2>不見前醫發劑</h2>
<p>凡有病之家。延醫服藥數日。猶未見效。則信疑相半。遂又召他醫。出前醫之發劑以問可否。予每臨如此。則不見其劑。夫人心不同如其面。有誰與我意符合者乎。若見其藥我以為不可也。豈可默止乎。若吞之而為可。則失信於患者也。且以彼之所是。我非之則恐為妒婦之口。此余所以不見前醫之發劑也。若病家篤信余懇請治無二心。則披見前醫之措劑。識得其攻補奈何。然後與藥矣。籲以辯口炫術之醫。自我乞覽前劑。漫謗其欠當。以欲奪人功。假令其術不拙。殆可謂小人也。</p>

<h2>野葛救飢人</h2>
<p>吉益為則發補虛論。唱萬病一毒說。而一概用攻擊之劑。以樹立門戶。積年痼疾。胃氣未衰者。用峻藥往往取奇效。於是一時遊其門者頗多矣。而其徒既學之。乃泊試之於眾病。亦不免野葛救飢人也。</p>

<h2>茯苓飲壯元湯</h2>
<p>外臺秘要茯苓飲。赤水玄珠壯原湯。天下醫無不口之者。而親讀其書者稀矣。雖知傷寒論為法方之鼻祖。研究之者。十之一二耳。</p>

<h2>口中糜爛藥</h2>
<p>寬政辛亥三月晦。余夢中得口中糜爛百藥不能療之妙方。覺而援筆錄之。其方大黃。黃連。麵粉。各等分。</p>
<p>上三味入絹袋。熱湯浸。頻頻含漱即愈。姑記之以廣同學。</p>

<h2>鵝眼風妙方</h2>
<p>予曩歲遊京師。寓柳馬埒木地屋某所。此家以制蠶絲為業。予僑居之間。與其僮僕。評論兩都文物之盛。予則誇東都雄壯。彼則稱京師秀麗。日夜相爭其優劣不休焉。有一甲幹適患鵝眼風。試敷膏諸藥並不效。一日問予曰。貴客可治此乎否。予笑曰。東都醫者。此等小恙猶振稿也。嘗聞輦轂下名醫眾。而此是小疴。數醫不能治。若遇大患措方如此。則恐至病邪沉淪而不救爾。如予者在東都。醫中之尤拙手。雖然當限七日愈此疾也。彼乞藥。予欲令信。先以旅中所攜平胃散一匙。隱其名與之。相囑曰。須少水和勻擦患處。即以青杉葉一握。置炭火上。乘黑煙升騰之時熏之。日三回。乃如法行之。五日而全瘳。予歸東都後。歷十載而彼致書以乞治鵝眼之散藥。嗟未知一品青杉葉熏鵝眼有奇效。乃以為奏效者。全在敷藥之力。是以不厭山海千有餘里之遠。致懇書以索蛇足物。予曩欲示奇而偶兼用平胃散者耳。今及得書簡。竊悔向日之權譎。因解其事傳其方。紀之為後來不可欺人之龜鑑云。</p>

<h2>參附硝黃</h2>
<p>病既至危殆。則世醫皆頻投參附之劑。以為極精力盡人事無逾於此者矣。而其斃也。病家亦無有遺憾焉。以余觀之殊不然。夫人之死也。有由邪實者。有本正虛者。正虛之用參附也。固其所也。如夫邪實者。則死期雖已迫。不可不與硝黃之類。而建摧陷廓清之功也。豈致皆資於參附哉。</p>

<h2>卒中風妙藥</h2>
<p>中風卒倒昏不知人者。取活鶩血灌口中即蘇。極妙。頃閱紫芝園漫筆。亦載此事。余繹其所自。實出於聖濟總錄。</p>

<h2>麻沸湯</h2>
<p>錢天來傷寒溯源集云。麻沸湯者。言湯沸時泛沫之多其亂如麻也。全生集作麻黃沸湯謬甚。元周按。陸羽茶經。形容沸湯而為蟹眼。又千金方曰蟹目沸。及蟻鼻沸者並同。</p>

<h2>褥瘡方</h2>
<p>或云。治褥瘡。取小粉糊經三四年者貼患處極妙。余眎人之用之頗驗矣。糊陳久者。褙裱匹皆貯之。○又褥瘡方。鹿角霜。黃柏。南星。栝蔞根。各等分為末。水和調傅患處。</p>

<h2>病人死候</h2>
<p>凡病人肌肉柴瘠者。手腕後肉脫而形匾。醫握其中央時。指頭將相合者。不問何證為死候也。雖飲食如故。此遊魂之假息耳。勞瘵之病。累月後必見此候。唯傷寒。痢疾。腳氣後。有此候者。往往愈。</p>

<h2>數脈惡候</h2>
<p>人感外邪而脈見浮數者。此其常候。用解表之劑發汗則其脈和矣。其他一切疾病。浮數。弦數。沉數。細數。並皆惡候也。竟成不治之證。又病人常呼吸短促者。不論何證。罕得生者。二者不可不詳察也。</p>

<h2>皮膚之寬緊</h2>
<p>久病之人。雖羸瘦甚。其皮膚寬而有皺者盡有得生者。若皮緊而無皺者必致不起。是余之所屢驗也。</p>

<h2>無名腫毒妙方</h2>
<p>王士禎居易錄云。前寧都令李聘說。麥粉不拘多少。用陳醋熬膏貼無名腫毒。神效。同志者。宜制以試之。</p>

<h2>陶器醫</h2>
<p>東都本街傳馬街者。巨賈所居也。近坊醫家有賴此兩街而為生活者數人焉。每朝醫者往其商家。診僮僕之病者。回家調劑。乃連灶煎煮數人藥。入陶器以小箋記患者姓名。糊黏其上。乃肩奴以致名家。必不勞病家臧獲也。雖無患者之時。醫日往問寒暄。猶仕主家。世俗呼之曰陶器醫。都下雖廣大。未聞他處有此風也。蓋此媚醫之所創。遂為習耳。說此於他邦人未為信焉。</p>

<h2>片倉家言</h2>
<p>取法方於湯液之遺文。以為施術規度。選神藥於後賢之書籍。以為應變治具。</p>

<h2>藥為病役</h2>
<p>醫之治疾病。與湯方病服則多奏效矣。若患者惡聞藥氣。或病遷轉。而至於湯方為病所役。則多不能取效也。</p>

<h2>闢蚊蟲</h2>
<p>予頃閱體仁彙編。載闢蚊蟲一方。雖未試之。若能有驗。則當夏夜讀書之時。可省侍童之勞也。其方。六月蠶沙。夜明沙。浮萍。更加苦楝花。每到黃昏燒一炷。蚊蟲飛過別人家。又王璆百一方。載驅蚊蚋闢蝨方。蒼朮一斤。木鱉子雄黃各二兩半。</p>
<p>上為細末。蜜丸如彈子大。床下燒一丸。或於蚊合時。當門燒之。熏落如面淨盡。</p>

<h2>金箔</h2>
<p>本邦金箔。方二寸八分。厚如美濃紙也。方書有謂金箔幾許片者。豈與此邦金箔。其闊狹厚薄相同否。予疑之久之。曩得一古書。蓋大永中竹田昭慶以所問其師筆錄者也。（予姑名曰大永醫話）其書曰。中華金箔形甚小。宜以四片對此邦一片。即師出中華金箔以示云云。又覽遠藤元理本草辨疑。中華金箔方一寸許。比此邦者甚厚。宜以二片敵一片云云。二說雖互異。以此推之。當不失其大要矣。</p>

<h2>糯糍噎塞</h2>
<p>不論大人稚子。有啖糯糍。偶噎而黏著喉間。咽咯不移。遂呼吸難通。躁擾煩悶。而致橫夭者。當是之時。雖有神丹奇湯。不能落腹中。坐視其斃。豈不悲乎。予頃獲一奇術。其法取牛膝一條尺許者。急入口中。向胃脘里推下一送。則忽得喉嚨開豁而安。如無牛膝則代牛蒡根。若並無則以摺扇取去母骨及紙。以子骨相重。切去尖。濕紙包裹以代之亦可。</p>

<h2>肉脫死候</h2>
<p>水泉既涸。雖有帆穡篙笮。無所用之。形肉既脫。雖有良藥奇方。奚能回生。</p>

<h2>灸女室</h2>
<p>續醫說。引癸辛雜誌云。劉漢卿郎中患牙槽風。久之頷穿膿血淋漓。醫皆不效。在維揚時。有丘經歷。妙於針術。與漢卿針委中及女膝穴。是夕膿血即止。旬日後頜骨蛻去。別生新者。完美如昔。又張師道亦患此證。復用此法針之亦愈。委中穴在腿䐐中。女膝穴在足後跟。考諸針經無此穴。惜哉後人未之知其神且驗也。元周嘗受治失心驚悸。癲狂氣逆等之秘灸於一老翁。灸足後跟赤白肉際。左右各五十壯。經驗頗多。即是女膝穴也。近田安藩松埜某患骨槽風。左頷穿一孔。膿血淋漓不絕已三年。餘數之日灸女室穴。一月而全瘳。因並錄於此。以示同志。（松埜致書以謝之附於後）</p>

<h2>腎囊濕潤</h2>
<p>有男子常腎囊濕潤不幹者。牡蠣。螺殼。五倍子。綠豆。以上四味為末敷之。無不愈者。</p>

<h2>心膈痞塞</h2>
<p>太永醫話云。心膈痞塞證。加人參。半夏。橘紅。必奏奇效。余按此即半夏瀉心湯之意也。似近代吉益東洞以人參治心下痞硬。為特得見。然三百年前既有此說。不足為奇。</p>

<h2>枇杷葉祛痰</h2>
<p>又曰。枇杷葉祛痰甚妙。此本草所未言及。余試之頗驗。</p>

<h2>鼻衄妙藥</h2>
<p>鼻衄如水淋漓不止。諸藥不效者。以萆麻子擂加百草霜少許。貼前頂穴即止。若不止者。針委中出血。無有不止者。</p>

<h2>蘭草</h2>
<p>蘭草。和名膚日跋葛末也。此品芳香之氣。開胃中菀陳。消食進飲食。除痰和氣。治小兒谷症及尋常滯食夾外感者最神效。又能止嘔吐治消渴。氣味辛平。亦有發散之功。而前輩用之者甚鮮矣。奇病論曰。數食肥甘。令人內熱中滿。其氣上溢。轉為消渴。以蘭除陳氣。李東垣據之治消渴生津飲用蘭葉。予嘗擴經旨。不惟治消渴。凡食肥甘胃中生鬱滯成病者皆用之。小兒好食肥甘生病者常多。予每每用之見奇效。又神農本經云。利水道。殺蠱毒。闢不祥。別錄曰。除胸中痰癖。予又本於此。用凡胎毒為患者。及發黃小便淋瀝。或因痰飲作諸症者。皆驗。夫內經所言。則治數食肥甘內熱氣上溢轉為消渴者。予之所言。則治食肥甘內熱氣未上溢而為諸症者。雖所言似異。其實則同焉。此藥太平之世。治雜病日用之品。故吾門常以此品代藿香見奇效每多。</p>

<h2>甘草</h2>
<p>甘草主治緩急和胃。協和諸藥。解百藥毒者。人所知也。然未知以此一品治他病。凡小兒啼哭逾時不止者。以二錢許。熱湯浸絞去滓與之即止。又初生芽兒。咽喉痰壅。聲不出者。頻與生甘草如前法。又傷寒經日不省人事。譫語煩躁。不得眠者。每服五六錢水煎。晝夜陸續與之。神效。此取本經所謂主治五臟六腑寒熱邪氣也。其他癲疾發而搐搦上竄。角弓反張者。及嘔吐不止。水藥入口即吐。用半夏。生薑。竹茹。伏龍肝之類。益劇者。用此有奇效。不可不知也。</p>

<h2>小兒白禿瘡</h2>
<p>治小兒白禿瘡。以石膏一味極研末。漿水和調塗患上即瘳。此法極妙。南土桑名玄清所屢經驗。</p>

<h2>鴨跖草</h2>
<p>鴨跖草（和名貲幽孤薩）氣味苦寒無毒。主治寒熱瘴瘧。小兒丹毒矣。此藥解熱毒之妙劑也。余嘗用傷寒溫疫。熱邪不解者。取效甚多。今人未知有斯奇效。須試傷寒啟微所載。新定方中用此者。而後始知其功效之神也</p>

<h2>鄙人治久嗽</h2>
<p>木工街典鋪某。患夜嗽累月不止。數醫不效。偶一鄙人。謂曰。醫家治久嗽。率皆泥理取效甚遲矣。吾有一奇方。君服之不出五日而必見效。商乃依其法。三日而全瘳。其方雞卵一枚去殼。入熱湯中。更入砂糖薑汁少許。攪勻服之。旦暮各一云。</p>

<h2>失精有熱症</h2>
<p>戴元禮曰。失精夢泄。有經絡熱而得者。若以虛冷用熱劑則精愈失。此證恍惚膈熱乃驗其證也。本事方清心丸最良。以此見赤濁。亦有因熱而得。亦可用此清心丸。方黃蘗一兩。為細末。用生腦子一錢同研勻。煉蜜丸梧桐子大。每服十丸至十五丸。濃煎麥門冬湯下。元周曰。夢遺屬熱證者。必恍惚膈熱。此古人所未論。可謂卓見也。</p>

<h2>入浴昏倒</h2>
<p>入浴昏倒者。邦俗謂之湯氣。此證市中混堂往往有焉。其輕者以水灌之即蘇。若行之尚無效。則醫亦窮於措劑。余壯歲於三因方上取方。用此屢得驗矣。陳無擇云。入浴暈倒。口眼喎斜。手足嚲曳。皆濕溫類也。苓朮湯主之。即五苓散加乾薑附子方。又與大全蠍附散亦效。方附子炮去皮臍。川烏炮去皮尖。麻黃去節。殭蠶炒南星防風各三錢。雄黃硃砂全蠍各錢半。白芷藁本各半兩。</p>
<p>上為細末。每服半錢。蔥茶調下。食後服。</p>

<h2>治菸草毒</h2>
<p>人有嗜菸草。暗中其毒。咳嗽頻發。頭目岑岑。或五心煩熱。或覺面如火氣升騰者。余曩歲遇此證。記得蔣示吉所論。乃用其方見奇效。因錄其論治以示同學。望色啟微曰。煙筒為煙煤所塞。用砂糖泡湯淋之其煤盡消。蓋治煙毒之藥。必加砂糖矣。北人曰。檳榔解煙毒亦驗。總之熱毒發狂用泥漿水和藥服。萬物歸於土而性解。用之亦可。○楚中一商性急而嗜煙。閱三日五心發熱。咳嗽大作。百藥不愈。予診之六脈俱洪。火症也。莫非煙毒乎。其人亦悟曰。吸菸則嗽愈甚。遂以麥冬。知母。山梔。花粉。黃芩。蘇子。甘草。蔞仁。枇杷葉。煎成去渣。入砂糖一兩和服。四劑而痊。</p>

<h2>癰疽妙方</h2>
<p>治癰疽將發者。與忍冬丸極妙。然不宜虛人。方以忍冬莖葉共灌酒焙乾細末。打米糊丸。梧子大。此方本出奇效良方痰飲門。而本邦古老醫所經驗也。</p>

<h2>四目</h2>
<p>本草綱目蕓薹子條。引陸氏積德堂方曰。蜈蚣傷螫。菜子油傾地上。擦地油摻之即好。勿令四眼人見。不知四眼人何義。或以為懷孕婦非也。綠竹堂簡便方曰。治肉骨魚骨梗喉。不要四眼見。即將箸來倒轉隨便鉗肉一塊急下即愈。又匯聚單方。治瘧疾。於五更時。取大蜘蛛一個。用絹或包頭捲了蜘蛛。縛於病人臂膊上。男左女右。大約二三日即止。若臂膊上起大泡一個。尤止得快。但只許一人知見。不許四眼見。昨偶讀醒世恆言。（明人所著小說）元來情色。都不由你。那女子在茶房裡。四目相視。各有情云云。觀以上諸說。則即知四眼者。兩人相視之謂。可以確證矣。</p>

<h2>死生難決</h2>
<p>醫之臨病也。先以決死生為之先務矣。予極力於茲數十年。所指多不爽。然偶有失之。則自切齒而憂吾才之短。又竊思雖古之名賢。或不得不失矣。何則張仲景曰。視死知生實為難。又宋初虞世以醫名天下。而視皇子鄧王癇疾曰。必可無虞。不三日而王薨。可見死生之難決者。名賢既如是。由是觀之。使古之扁倉華佗在今世。而親見其臨眾疾。恐當不百發百中焉。</p>

<h2>池田痘疹書</h2>
<p>余嘗著痘疹微義。未上木。寬政初門人佐藤中節。遊京師得痘疹唇舌口訣一本。此書系於黃檗出僧戴獨立。（號曼公）所著。而門人池田正直筆記。曾孫瑞仙所撰次也。余讀之診候精密。治法詳審。勝於余之撰遠矣。乃呼門弟子謂曰。自今以往。欲精乎痘疹治法。舍余而宜從池田氏學焉。及以余之草稿本悉燒之矣。</p>

<h2>不貴美與雅</h2>
<p>田藝衡留青日札曰。管晏之文。無鹽醜女也。雖醜而有益於國。莊列之文。西施美婦也。雖美而無裨於世。余亦曰。寓意草治驗。文雖雅無益於治。赤水玄珠醫按。文雖俗有裨於醫。夫文美而亦有益於國者。左氏之傳。文雅而亦有裨於醫者。仲景之書爾。</p>

<h2>秘方宜廣傳</h2>
<p>王損庵筆塵云。秘方廣傳則不效。此王氏偶得稀痘妙方。以當廣傳人令試之其驗甚少。遂為此言者爾。今之靳方者。動輒引王氏語。以為秘方不可傳人矣。夫痘者胚胎之始。陰血濁氣所固有者。生來之後。觸時氣而發出也。故其輕重元自有分爾。豈有預服藥而痘稀之理乎。王氏未悟此義。見稀痘一方不效。而概言其他者。不亦過乎。若以秘方人人隱惜不廣傳。雖有神驗妙方。經久則恐煙沒矣。夫芋梗治蜂螫。老胡瓜治火傷。香蕈解鰹魚毒之類。不暇枚舉。傳之千萬人。而千萬人皆效。噫王氏之一語。可謂殆非仁人之言也。</p>

<h2>大鰻鱺</h2>
<p>今人見鰻鱺魚之大者。則皆言海鰻鱺。殊不然也。阿州母川所產者甚大。而他州之所未有也。寬政甲寅四月。於慄山先生所。視鹽淹干藏者二頭。其一長四尺五寸。圍一尺二寸。其一長三尺余。身淡黑而腹白。背方肉鬣連尾者。不異於尋常鰻鱺形狀。唯頰後鬣甚厚而大。彷彿如耳。先生云。活時秤之。大者九斤余云。予曩有一僕。羽州秋田人也。言我鄉有款冬之大者。莖大一搦許。葉廣可充雨傘。嗟乎造化之生物。由殊方形狀迥異者如此。</p>

<h2>陰癬奇方</h2>
<p>世治癬方極多。余之所經驗。既載雜病試效。頃得治陰癬妙方於一爻人。記以廣傳。其方慈菇不拘多少。搗爛取汁。牡蠣細末和調敷患處。七八日而必效云。</p>

<h2>麻疹預防</h2>
<p>麻疹流行之際。以紫根二三錢。照常水煎服之則必避之。假令罹此疾必稀少。不害生命。真絕世之妙方也。安永丁酉歲。天下麻疫大行。甲州一士人三間某者。一家七八口。適服此藥。四鄰悉患麻疫。而此家獨不染。遂傳之親戚。皆盡驗云。因記以示同學。</p>

<h2>鬼哭灸</h2>
<p>狐貍之憑人。使人語言錯亂。恍惚失神。或識未到之處。或書未知之字。或其力倍常。治之之法。宜灸鬼哭穴。乃以道理責之必去矣。鬼哭灸法。以患人兩手大指相併縛定。用大艾炷於兩甲角甲後肉四處騎縫著火灸之。若一處不著火即無效。灸七壯。病者哀告我自去。神效。此秦承祖灸鬼法也。予往年治神田某妻忽患狐祟。即以此法奏奇效。</p>

<h2>小山氏之母奇疾</h2>
<p>紀州。新宮村。小吏小山氏之母。齡幾八十。自壯歲患腰痛。發作有時。他無所苦。丙午冬偶周身浮腫。因進藥餌。然以媼平素惡聞藥氣不敢服。子孫亦以其壽高也不強與之。任其自然矣。至丁未春。腫滿漸減。而覺腹中微痛。至五月初。徹胸膈痛益甚。飲食不下。數日已收後事以待斃。至七日晨。忽膻中疼痛。如齧如裂。連咳三四聲。吐異蟲一個。其形似牛蝨。淡灰色。長八分。廣七分。厚四分。頭面貼身。眼鼻不分。嘴尖無尾。足長三分許。褐赤色。節白。二足在口傍。六足在腹下。全身柔軟。如新制糯糍。背上及腹有八字樣。隨步動成扁成圓。學家駭異以視人。試灸背腹七壯不死。或灌殺蟲藥汁。或放溫湯中。亦復自若。經四日而始死矣。媼病全安。此同邑堀烏仙親視云。姑錄以廣異聞。</p>

<h2>呼吸短促</h2>
<p>凡人常行步。則呼吸短促。積日累月後發浮腫者必難治。若水腫病中。而發呼吸短促者。得治而愈者多。</p>

<h2>前輩難信</h2>
<p>先哲治妊婦之病。禁用腦。麝。丹皮。桃仁。紅花之類。余始守是戒。堅信而不妄施矣。曩余之所親善一武士妻。既六七產而又孕。其夫請墮胎藥。余不敢許。彼強請不止。遂乃教之曰。宜以麝香一錢分二服。乃如法服之而婦安然。後又與此藥於一婦人。亦復如故。而及期月並易產。子母亦無恙。未數年其兒俱發痘甚稀少。今皆壯健。籲書之難信。往往有如此之類。不可不詳察也。</p>

<h2>不輕改字</h2>
<p>明方有執著傷寒論條辨。恣改易原文次序。以為之註釋。於是後之醫家。凡注傷寒論者。無不效方氏顰而易章改字矣。夫於古書改字句。非有確然明證。則奚可輕改邪。世說載韓昶性頗闇劣。嘗為集校理。史傳有金根車。昶以為誤。悉改為銀。又王士禎居易錄載。文苑英華辨證十卷。宋嘉泰中。廬陵鄉貢進士彭叔夏撰云云。自序云。叔夏嘗聞太史益公之言。曰。校書之法。實事是正。多聞闕疑。叔夏年十二三時。手鈔太祖皇帝實錄。其間云。興衰治□之源。闕一字。意是治亂。後得善本。乃是治忽。三折肱為良醫。信知書不可以意輕改云云。噫近代之妄改竄傷寒論者。不無金銀治亂之類也。</p>

<h2>樺</h2>
<p>甲斐德本所著梅花無盡藏。往往有稱樺者。未詳為何物焉。或以為葛跋薩孤剌訥葛窊。或言苦楝子細末打米糊和勻。扁如棋子大。曝乾聽用。未知何是。疑之久之。近一病客自上總州來。語次及德本之事。曰。我邑有一老醫。識所謂樺。而為人治疾。每奏奇效。曩族侄患口瘡。眾工無效。延渠求治。乃發一小劑曰。此是二陳湯也。而加黑炒如炭者二三錢曰。此德本所秘樺是也。用此七日而全愈。予曰。以重物購其方何如。患者曰。渠秘惜不傳。仄聞東都有誹人木村小知者。獨授其方。夫木村者。予二十年前所邂逅。而齡已八旬余也。予即日訪木村於細柳街廬。乃叩樺事。曰。有之。因請傳其方。曰。今日當芭蕉翁百年忌日。（寬政十二年十月十二日）誹友數人在堂。紛擾亦甚。請重來則可傳也。次日子攜酒果侵晨往。則木村感予之好醫方之厚。便出一書傳之。其方黃連。黃芩。大黃。肉桂。各等分。</p>
<p>上四味細銼。黑炒者耳。夫樺雖諸說不一。觀寒症熱症俱用此品。則三黃之苦寒中。合肉桂辛熱。而黑炒者甚妙。此必德本所用之樺正是也。予不忍自秘。錄以公之。</p>

<h2>癜風良藥</h2>
<p>赤白癜風。本屬難治症矣。近讀大永醫話。得一奇方。附子皮。硫黃。礬石。鐵精。</p>
<p>上四味等分。極細末。先使患者浴去垢膩。而後貼藥於患處。乃火焙乾。復浴而貼藥。火焙如前法。日三四遍。數日而必愈。又門人齋藤生經驗癜風方。焰硝硫黃各等分。</p>
<p>上細末。酢調敷患處。神效。</p>

<h2>萬病回生丹</h2>
<p>予往年讀濟世碎金方。得萬病回生丹。每遭大人小兒危急症。與之取奇效不鮮矣。因錄於茲與眾俱之。其方明雄黃。（生）膽礬。滑石。（生）各二錢。</p>
<p>上為細末。大人五分。小兒三分。白湯調服。一時即吐頑痰。回生起死。轉手在人。不可草草。○主治善吐頑痰。專治中風不語。一時昏悶。不省人事。小兒急慢驚風。四肢抽掣欲死者。又治咽喉瘋緊閉。牙關不開。痰涎湧盛。咽喉拽鋸。瘧疾痰喘咳嗽。又治雞骨哽咽喉不得上下。神效。服之一字即吐頑痰。此藥有起死回生之功。原費銀十兩願刻之以公天下。養生君子。萬莫輕視寶之。神效與比。云泉家寶方。</p>

<h2>狐臭妙方</h2>
<p>腋臭謂之體氣。又稱胡臭。或作狐臭。而治之之方。俗間頗多矣。然至為根治。則人所實難也。頃覽體仁彙編。得一奇方。乃試之甚驗。只要使患者如法用藥無怠慢耳。此症人患者多。倉卒無藥及欲斷根源用此方。用自己小便洗一次。米泔洗二次。自然薑汁每日擦十餘次。一月之後。可以斷根。周常擦薑汁訖。敷後方最妙。治體氣方。枯礬松香各一錢。輕粉二分。蛤粉二錢。密陀僧五分。麝香半分。</p>
<p>上為末。每用少許擦之。又閱熊宗立山居簡要醫方便宜。載一方。乃舉於茲備應用。　黃白散。治狐臭。黃丹。白礬。膩粉。等分為末。臨睡時抹之。可使半月而愈。</p>

<h2>粒甲丹</h2>
<p>東都一商家。賣稱粒甲丹藥。主治萬病危篤者。又使病人不寐者能睡。是以一稱睡藥。其方人參六錢。虎膽。阿片。（磁器研經年者良）真珠。各二錢。麝香。龍腦。各一錢。烏蛇七分半。木香五分。</p>
<p>上八味細末。外以艾葉。黃連。黃芩。各二錢。濃煎汁。前藥和勻研千遍。漆器上陰乾。再為末。米糊作錠。聽用。其服之必睡者。以瞑眩於阿片毒也。嘗松下街浴室商。患咳嗽浮腫。偶親戚進此丹。乃以一錠一日服盡。昏睡半日夜。及其稍醒。發熱大渴。煩躁悶亂。晝夜不寧。三日而斃。夫物之有能者。必有害。烏附巴黃之能生人。亦能殺人。人皆知之。至於阿片之毒人。則知之者鮮焉。予近閱大永醫話。曰。凡中阿片毒者必昏。宜急用砂糖泡湯頗服。不可不知也。</p>

<h2>痘瘡序熱發搐</h2>
<p>小兒痘瘡序熱。搐搦上竄。不省人事者。誤認為驚風而灸藥兼施。則此雖誤治。不害於發痘。若以驚風為痘瘡而與藥。則變症蜂起矣。痘瘡候。必面色緣緣赤。自汗出而眼中含淚是也。不可不詳察也。</p>

<h2>眼珠出入</h2>
<p>人有九竅。而口眼及前陰後陰則能開合焉。鼻則能動搖。而不能以開合焉。耳則開合動搖俱不能焉。是為之人之常也。至若夫諸獸之搖耳。象之役鼻。蟹之臥起眼珠。則是人之所不能也。而在夫畜類。亦能彼而不能此者。則其所受之性。各異殊也矣。甲州有一漢。年二十五。其眼珠出入者。猶龜鱉能出入其頭然矣。寬政壬子歲。都下狡獪兒。誘彼以歸。遂開場於城東堺街戲場傍。乃植招牌延觀者。觀者蜂屯。余亦往觀之。彼不論眼左右。自以指按眶。則卒然只珠突出一寸許。乃取一小俑。置於眼珠上。以能舞之。次冒鬼頭假髻於頭頂。復駢出雙珠。乃為魑魅罔兩而奮起跳躍。須臾不觸手。而複眼珠於本位矣。夫人微塵入眼內。尚且痛不可忍。而況載物於眼珠上以舞之乎。昔阮籍能為青白眼。而人以為奇焉。今使眼珠出入如意者。人之所不能為。而彼能為之。則是亦稟異氣而然者歟。非邪。是豈不奇中之最奇者乎。嘗覽篁南江名醫類案。一人眼珠垂下至鼻。大便血出。名肝脹。用羌活水煎服愈。此是以涉疾病。乃費財貨以望醫藥。今此一漢。以眼珠出入如意。乃博諸人之一笑。以日得數千錢。嗟乎疾病與稟異氣之間。亦豈非大懸隔者哉。</p>

<h2>取瘤妙法</h2>
<p>瘤有痰瘤有氣瘤。而痰瘤搖之則根與肌肉相離。肉瘤則反之。故痰瘤可取。而肉瘤難取焉。取痰瘤之法。不拘其大小。先以三稜針。刺瘤頭一分許。乃以礬石瓜子大。入針痏。另法礬石末打米糊和調。貼瘤周圍。以紙蓋之。須臾以手搖瘤則當針痏白汁出。乃以濕紙拭去所貼礬石。再以礬石一二錢。入盞內水解開如稀糊。以雞翎塗之瘤上數十遍。半日許而脫去如神。</p>

<h1>下卷</h1>

<h2>痘瘡倒靨及痘後內障奇方</h2>
<p>痘瘡有順逆險三候。其順症者。不藥而愈。陰症者醫治而可免死。至逆候則雖專門神手。不過徒指其死期之日。而束手待斃。悲夫。予頃閱齊東野語。載用狗蠅治倒靨方。是痘家書中。所未嘗見者。曰。小兒瘡痘固是危事。然要不可擾之。嘗見趙賓暘曰。或多以酒面等物發之。非也。或以消毒飲升麻湯解之。亦非也。大要在固臟氣之外。任其自然耳。惟本事方捻金散最佳。又陳南劍剛翁云。痘瘡切不可多服升麻湯。只須以四君子湯。加黃耆一味為穩耳。二說皆有理。然或有變證。則不得不資於藥。癸酉歲。兒女皆發痘瘡。同僚格蒼陳坡老儒也。因言向冬教三山曰。其孫方三歲。發熱七日。瘡出而倒靨色黑。唇口冰冷危證也。遍試諸藥皆不效。因乞靈於城隍廟。以卜生死。道經一士門。士異其侵晨倉皇。因遮扣之。遂告以故。士曰。恰有藥可起此疾。甚奇。因為經營少許俾服之。移時即紅潤如常。後求其方。甚秘惜之。及歸方以見贐。其法用狗蠅七枚（狗身上能飛者）擂碎和醅酒少許調服。蠅夏月極多易得。冬日則藏於狗耳中。不可不知也。既而次女瘡後。餘毒上攻。遂成內障。目不辨人極可憂。遍試諸藥。半月不驗。後得老醫一方。用蛇蛻一具淨洗焙燥。又天花粉等分。細末之以羊子肝破開入藥在內。麻皮縛定。用泔水熟煮切食之。凡旬余而愈。其後程甥亦用此取效。真奇劑也。</p>
<p>捻金散（本事方）　治小兒麻豆瘡。欲出渾身壯熱。情緒不樂。不思飲食。服此可內消。仍令瘡無瘢痕。</p>
<p>紫草茸　升麻　糯米（各半兩）　炙甘草（一分）</p>
<p>上粗末每服四錢。水一盞。煎至六分。去滓溫服。並滓再作一服。此療瘡疹奇方。</p>
<p>升麻湯　四君子湯（並見諸方書不錄於茲）</p>

<h2>治疣神方</h2>
<p>疣雖是小恙。至其蔓延。則雖容顏如毛嬙西施。亦有其䫏醜（言極醜）似無鹽女子焉。是以錄經驗數方。使閤中患之者得歡心矣。治疣神方。屢試驗。蛇蛻不以多少。滾湯浸頻浣患處。即瘳。○又方。治疣蔓延者。以活蛞蝓一個。轉擦疣母上。著黏訖乃放棄。則其疣自脫。其他子疣尋愈。○又方。薏苡仁二錢。甘草一錢。以水一盞半。煎取一盞溫服。四五日而疣如拂。（一方無甘草用大腹皮亦妙）○又方。將茯苓三錢。水煎溫服。數日而自痊。</p>

<h2>凍瘡妙方</h2>
<p>凍瘡大人患之者甚鮮。而在幼者最多。此疾遇冬天。則發於手足與耳朵。後世謂之寒瘍。或名凍風。又發跟曰凍跟。發耳曰凍耳。其初起赤斑。漸而微腫。得溫則瘙癢殊甚。若失治久不痊。則變紫黑色。而遂潰爛發膿。重者穿肌肉。方其瘳為瘢痕如湯火傷瘡。甚者耳朵墮落矣。前哲治法。有碧玉膏獨勝膏等。予家傳一奇方。方未破時與之。百發百中。應效如神。方名掃凍煮散。土茯苓（二錢）　乾薑（一錢）</p>
<p>上二味細銼盛絹袋。嚴醋蘸。上火乘熱熨患處。日三四次。輕者二三日。重者七八日。不潰爛而全愈。</p>

<h2>取雞眼子妙術</h2>
<p>雞眼子生手足心。是亦微恙。雖然妨乎把握。害乎步履焉。世俗治之。率皆灸患處。或又以針穿之。乃傅銅綠丹礬之類。然是皆足取一時快。而根治則難矣。余嘗得一奇祝。累試累效。其法以粳米一粒無瑕者。安眼子上。以小刀或針。向米上空書十字凡三遍。書訖急以刀鋒刺席。然後可放粳米於瀆水中。至米化為水。而眼子自失去。此又不可以理測者也。近覽乾坤生意。載雞眼藥三方。因抄出而舉於下方。</p>
<p>雞眼藥　水銀　乳香　沒藥（各等分）　麝香（少許）</p>
<p>先用刀修去雞眼。將血見愁搗爛成膏。入前藥末少許同敷於患處。絹帛縛定。</p>
<p>又方　用血見愁敷之亦妙。（血見愁即地錦）</p>

<h2>知足齋德本十九方引</h2>
<p>湖南稻葉克（子念）者。初遊浪華受業于吉益東洞門人某。喜萬病一毒說。好用峻藥。資性魯直。不見容世。或在都下。或在山野。亦數破產。遊歷四方而為業矣。寬政壬子歲。自相州鎌倉移往甲州郡內。客於桂林寺。此年五月與里人俱登富士。既至山麓。則土人見克之佩刀曰。凡登此山者。皆解刀留此。請須托我輩。克作色曰。我舊武人子。何敢解刀邪。遂登山顛極眺望。稍下而憩。沽酒取微熏。興趣勃然。至第六合。（四十里為一升十折為一合）與同遊俱取先導所齎之大草鞋著之。將自沙拂下回馬。而此阪繩路一條。直下十有餘里。當其下則細沙亂石。隨步而崩。後人之足。在前人之肩。魚串而下。故欲止不能。一瞬之間。忽到山麓。而克獨中途失道。陷大澤中。才出四顧。則不見人家。惟澗水琮琤。若鳴珮環。青樹翠蔓。廕庇蓊薈。克無奈何獨躊躇於溪邊。意祈岳神。尋樵路則日漸落西山。憂懼之間。適遙見一農夫之過。克喜大聲呼之。語以前事。且問回馬道。則曰距此三十餘里。山路嶮峭。岨阨羊腸。榛莽蔚塞。奚得往焉。顧因客佩刀以犯山禁。蓋神靈之咎至此極耳。請宜謝罪也。克乃浴澗水。仰岳拜謝數回。農夫憐之。延造其里之黑川邑。令宿一小寺。寺僧頗知醫。相見互喜。遂出一書示克曰。此書近邑民家累世所傳。即知足齋德本所述也。克即讀之。則書中所載僅一十九方。取之左右。主治百病。其方簡而不繁。峻藥居十之七。與世所傳之梅花無盡藏。大懸隔。而與其所崇之萬病一毒說幾相似。克大喜不知手舞足蹈。乃謄寫以歸。比諸金科玉條矣。後遊駿遠之際少試之。復來東都。以此書為誇具。非得方金十星。則不敢許傳人。予好方技之癖。素到膏肓。偶聞之雖有意看其書。無緣言面。既而歷歲余矣。近一門人於江戶橋路傍一書肆。以青錢二十四文購得一小冊子以致予。予覽之。則嘗所傳聞德本之書。首有稻葉克序。以國字書前頃所述之事。而歲月姓名下有款識。則蓋系克之所自筆。卷尾有東洲左潤跋。惟恨此書文理不接。顛倒錯置。亦復不少。因改竄潤色其大半。使人始可讀之。後會左潤言得此書之由。則曰。曩克於日本橋大路往來。偶為攫客所奪夾帒時。並失其書云。夫德本有名醫之稱。人口之所膾炙矣。而真書之不顯於世者。幾二百年。克苦身體忍飢渴。偶然得此書。以為奇事矣。而今予在都下。不勞體膚。不識其人。而自歸我插架者。此不亦奇緣乎。蓋予生平有意於壽蒼生。每得奇方妙藥。不獨自秘。輒著書以與眾俱焉。是以天示我此書者歟。予之於克雖未有一面之識。未知其為人何如。又曷可秘邪。因附載於此。顯德本之幽光。以傳不朽。克覽之豈得以予為非哉。</p>
<p>近甲州門人高木甫齋來。予欲使彼歸鄉之次。造黑川邑索此書之原本以訂正。乃高木生跋陟嶮岨。遍歷峽中。無所謂黑川邑者矣。因至桂林寺詢之寺僧。曰。德本十九方。往年自山梨郡元明傳。而為克所奪去云。然則克欲使人信。而奇其事者歟。</p>

<h2>【表證】</h2>
<p>發熱惡風　上衝自汗　項強頭痛　寒熱往來　喘急無汗　惡寒身疼　咳嗽咽痛　乾嘔拘急</p>
<p>凡脈浮者表症也。皆自風寒起。當發汗。○病人發熱上衝。頭痛惡寒汗出者。或胸以上似有汗者。或腹拘痛者。或下利者。或如瘧狀。發熱嘔者。發陳湯主之。</p>
<p>發陳湯</p>
<p>茯苓　半夏（各四分）　柴胡　桂枝　芍藥　黃芩　生薑（各三分）　蒼朮　甘草（各二分）</p>
<p>上九味。以水二合煮取一合。去滓溫服。○若咽喉腫痛咳嗽者。兼用青龍散。</p>
<p>青龍散　治咽腫疼痛咳嗽者。或痰喘咳嗽無汗者。或胸跳目眩者。或咳逆吐食者。或咽痛甚吐痰血者。</p>
<p>茯苓（四錢）　大黃　五味子　青礞石（各三錢）　甘遂　甘草（各二錢）</p>
<p>上六味為細末。每服八分。白湯送下。或作丸用之亦可。</p>
<p>寒熱往來。振振無汗。頭項強痛。背脊拘急。或呼吸促迫。身體骨節疼痛者。或咽喉喘鳴咳者。並與榮陽湯主之。</p>
<p>治瘡家骨節疼痛。或寒慄者。此方與救疝飲和服。時時以瀉心丸下之。若風濕骨節疼痛者。亦宜以此方和救疝飲。若喘息胸滿。或咳喘久久不愈者。此湯及直行丸。永服斷根本。</p>
<p>榮陽湯</p>
<p>葛根　芍藥　麻黃　桂枝　杏仁　附子　甘草（各二分）　生薑（三分）</p>
<p>上八味。以水二合。煮取一合。去滓溫服。如惡寒身體骨節疼煩者。和救疝飲與之。如口舌乾燥者。兼用平陽丸。凡大便硬而煩者。兼用解毒丸。</p>
<p>救疝飲　治中風。風濕。痛風。風痹。疝氣。腰痛。腹痛等症。又半身不遂。口眼喎斜。或語言蹇澀者。和發陳湯服。若不大便者。兼用解毒丸。又寒疝腰痛。淅淅惡寒。或大便閉結。或瀉下。或腹滿痛按之反不痛者。或胸痹心痛者。或胸腹疼痛。惡寒戰慄者。及腹鳴寒痛。手足逆冷者。並此方主之。又淋疾久不差。腰痛者。和清濟子服。時時以玉丹下之。</p>
<p>茯苓　芍藥（各八分）　鬼縛（四分。甲州方言屋暱貲跋慄。此品華名未詳。蓋瑞香之類。）　白朮（六分）　附子（二分）</p>
<p>上五味。以水二合。煮取一合。溫服。</p>
<p>容平丸　口舌乾燥。渴欲飲水。胸腹疼痛者。此熱痛也。宜此方。若甚者。和解毒丸等分。</p>
<p>石膏（五錢）　瓜蔞根（三錢）　甘草　黃連（各二錢）</p>
<p>上四味。為末。打米糊丸。梧子大。</p>
<p>解毒丸　治胸痹心痛。或噦噎。腹滿按之痛。大便閉結。或下利臭穢。或面色如醉。言語錯亂者。若發狂者。此方順氣丸各一錢和服。後與瀉心丸。○如嘔家胸痞心煩者。和理中丸。○如吐下止而煩者。及熱在裡心中悸動。煩躁不能眠。或胸痛肩息苦煩。並容平丸和服。○如黃疸病。腹滿心悸。大便硬者。兼用瀉心丸。○如黃病無餘症者。磁石丸和服。○如積聚家。胸煩。心下痞硬。噯氣者。及大便硬。煩者。並瀉心丸兼服。○如飲食不下咽者。以生薑汁送下此丸。</p>
<p>大黃（三錢）　黃芩　黃連（各二錢）　山梔子（一錢）</p>
<p>上四味。為末。打米糊為丸。</p>

<h2>【里證】</h2>
<p>潮熱秘閉　黑胎譫語　發熱無寒　胸腹滿痛　下利臭穢　大渴煩躁　自汗惡熱</p>
<p>凡脈沉數者。是里症也。若身厥冷欲除衣者。熱入骨髓也。病在裡者。無寒時熱。或腹滿按之痛。或大便秘結。或下利臭穢。或面色如醉。譫語發狂。或舌胎黃黑者。是。宜順氣丸解毒丸和服。後當以瀉心丸。稍稍下除熱。</p>
<p>順氣丸</p>
<p>大黃　芒硝（各等分）</p>
<p>上二味。為末。打米糊丸。</p>
<p>瀉心丸　治結毒骨節疼痛者。熱在裡腹痛者。諸毒停滯胃中。胸下苦悶者。（魚毒菌毒之類）天行痢疾。用此方。腹痛止者。宜用禹餘糧丸。○凡諸病用對症藥後。少用此方。取快利。○發狂者。隨症與藥。後互用此方。及玉丹而可。○又治痘瘡麻疹熱毒甚者。○又朝食暮吐者。用此方。若結實不去。宜與玉丹。○又赤白惡毒痢。藏府撮痛者。先用順氣丸。時時以此方下之。○結毒筋骨痛者。本方最妙。</p>
<p>大黃（四錢）　白礬（二錢）　輕粉　鼠酒（各五分即巴豆）</p>
<p>上四味。為末。打米糊為丸。</p>
<p>如熱在胸腹。舌燥好飲水者。容平丸解毒丸兼用。○邪氣在半表半裡者。必寒熱往來。發陳湯順氣丸兼用。○凡里症汗多者。容平丸順氣丸。</p>

<h2>【痰證】【喘鳴咳嗽】【懸飲掣痛】【頭眩咳逆】</h2>
<p>大熱惡寒。吐痰咳嗽者。宜榮陽湯。○無汗發熱。咳嗽吐痰。或心中悸。目眩者。宜青龍散。○或面目浮腫。或痰飲盛者。將青龍散。兼服直行丸。○如咽喉如鋸聲。每咳自胸背引小腹痛。或手足攣痛者。直行丸主之。○如咳逆吐食。或咽痛甚。吐痰與血者。宜青龍散。○如喘而迫胸膈。或咳嗽久不愈者。以榮陽湯。兼服直行丸。久服以斷病根。</p>
<p>直行丸　治痰喘咳嗽。頭眩嘔逆。懸飲掣痛。結胸胸高起。心腹疼痛。甚者手不可近。水腫咳嗽等症。其他風濕。痛風。骨節疼痛。及痰飲變成諸症者。悉能治之。</p>
<p>大戟　大黃（各一錢）　牽牛子（五分）　芫花　甘遂（各五分）</p>
<p>上五味。為末。稀糊丸。每服二三十粒。</p>

<h2>【心痛】【胸痹】【結胸】【腹痛】</h2>
<p>心腹疼痛。舌乾欲飲水者。是熱痛也。宜容平丸。○胸硬高起。痛手不可近者。是結胸也。直行丸主之。○胸中寒有凝痰宿飲。而痛者。是胸痹也。理中散主之。○腹鳴寒痛。手足冷者。是伏寒也。救疝飲主之。○腹拘攣而痛者。是外邪也。發陳湯芍藥散和服。○熱在腹裡疼痛者。宜瀉心丸。○但腹中拘攣。滿痛者。宜與芍藥散。如好甘者。以甘草膠飴煎汁和服。尤妙。○如心腹疼痛。諸藥不效者。宜兼施直行丸。○心痛徹背。背痛徹心。冷汗出而脈結。氣息欲絕者。以甘草湯送下理中散尤妙也。</p>
<p>理中散　治溏泄腸鳴。胸下痞硬。小便不利者。若下利不止者。與禹餘糧丸。又治淋家腰腳冷。小便頻數。及尿蓐。○如小便利後。莖中痛者。兼用清濟子。○又癲癇症。世皆以為難治。是水毒變病也。以此方及疳蟲丸。久服則無不悉愈者。</p>
<p>茯苓（五錢）　人參　蒼朮（各三錢）　桂枝　乾薑　甘草（各二錢）</p>
<p>上六味。為散服。</p>
<p>芍藥散　腹中拘攣痛者。是外邪也。宜發陳湯。芍藥散和服。又天行痢。無餘證者。此方及順氣丸。</p>
<p>芍藥　香附子（各三錢）　厚朴　白朮　甘草（各二錢）</p>
<p>上五味。為散服。或水煎亦可也。</p>

<h2>【食毒】【宿食】【吞酸】【酒毒】</h2>
<p>飲食停滯而噯氣腐臭者。宜理中散。○大便硬者。與解毒丸。○停酒亦宜用解毒丸。○魚毒菌毒。停滯胃中。胸下苦悶者。宜以瀉心丸下之。○諸食毒在胸腹不消化。疼痛甚。悶亂欲死者。急與玉丹以取吐瀉為妙。</p>
<p>玉丹　治胸腹劇痛。躁擾悶亂。或角弓反張。欲卒死者。又卒倒不省人事者。及小兒驚風。其他瘡毒。淋疾。痔疾。脫肛。下血。癖積等。及諸般實病。當審其輕重淺深。每服一二分。漸加至一錢。取下惡物。</p>
<p>水銀　鼠酒（各五分）　大黃（三錢）　黑鉛　乾生薑（各二錢）</p>
<p>上五味。為末。打米糊丸。</p>
<p>【附方】</p>
<p>黑丹（原無方名元周定）　治水病身體洪腫。小便不利。百藥無效者。</p>
<p>水銀　黑鉛　鐵砂（各等分）</p>
<p>上三味。為末。打米糊為丸。（周按。即局方養正丹。以辰砂。換鐵砂者耳。）</p>

<h2>【嘔吐反胃】</h2>
<p>諸嘔吐之證。胸下痞硬。或小便不利。而吐逆者。宜與理中散。若嘔不止者。以生薑自然汁服之。○如發熱而嘔吐者。於發陳湯方內。加生薑一錢。○如飲食停滯心下而疼痛。或朝食夕吐者。宜以瀉心丸下之。後以理中散調和中焦。○凡嘔吐之證。心煩胸痞。大便硬者。解毒丸。理中散和服。○如結實者。與玉丹。</p>

<h2>【噦噎】</h2>
<p>噦者。宜服解毒丸。○如胃中虛寒噦者。以理中散。熱湯攪調服之。並皆將清濟子米糊和調。貼足心。或灸臍中亦可也。○如噎飲食不下咽者。以生薑汁。送下解毒丸。</p>
<p>清濟子（見水病）</p>

<h2>【痢病泄瀉】</h2>
<p>熱利腹痛。裡急後重。下赤白汙濁者。順氣丸。兼與瀉心丸。漸漸下之可也。○病輕者。宜解毒丸。○天行疫痢。初得發熱頭痛惡寒。下利澀滯者。發陳湯。順氣丸兼服。○如大便澀滯。肚腹拘攣。無餘症者。芍藥散。兼以順氣丸。○凡痢疾。宜先以瀉心丸瀉熱毒。腹痛澀滯止後。當以禹餘糧丸止之。○泄瀉溏泄者。胸下痞硬。腹中雷鳴者。並宜與理中散。如不止者。兼用禹餘糧丸。○痢疾下血不止者。禹餘糧丸最妙。</p>
<p>禹餘糧丸　治邪在臍下。按之濡而痛者。及下利便膿血者。又治臍上臍下臍傍皆痛者。</p>
<p>禹餘糧　赤石脂　代赭石（各二錢）　將軍（四錢）</p>
<p>上四味。為末。打米糊丸。</p>

<h2>【痔疾脫肛】</h2>
<p>痔疾之為病。濕熱鬱蒸釀成者多。宜以救疝飲。兼用順氣丸。逐濕熱。除瘀血。○脫肛下血者。宜禹餘糧丸。○凡濕瘡。瘡毒。痔疾。下血。脫肛之類。久不愈者。並用治瘡丸一劑。更與玉丹。取瀉下則必愈。而不復發。</p>
<p>治瘡丸　治瘡毒家。及無名惡毒腫。神方也。宜與瘡毒門參看。</p>
<p>龜板　辰砂　大黃（各四錢）　輕粉（五分）</p>
<p>上為末。米糊丸。</p>

<h2>【痲疾】</h2>
<p>痲之為病。欲小便滴瀝。澀痛難忍。或出膿血是也。宜用清濟子。○久痲有畜瘀。而小腹拘痛。小便頻數。或尿血者。當歸散。清濟子。間服可也。○如大便結燥甚。色黑者。兼用順氣丸。○痲疾久久不愈。腰痛而時寒慄者。救疝飲清濟子和服。猶不愈者。為有瘡毒。宜間以玉丹下之。○如腰腳冷。而小便頻數。時睡中遺尿者。宜理中散。得小便快利後。陰痛者。兼服清濟子。</p>
<p>清濟子</p>
<p>防己　白朮　商陸　滑石（各二錢）　甘草（二錢）</p>
<p>上五味。為散。每服一二錢。日三服。</p>

<h2>【瘧疾】</h2>
<p>五瘧當發其邪。宜發陳湯。○大渴者。兼以容平丸。○大熱譫語者。兼用瀉心丸。○咳而引胸中痛者。兼用直行丸。○凡瘧疾久不愈者。有用疳蟲丸。取下蟲而愈者。</p>

<h2>【霍亂】</h2>
<p>霍亂之為病。發熱惡寒。嘔吐而利。咽喉乾燥。或渴飲水而吐。手足逆冷。小便不利。或發熱腹痛。手足痿弱。此症皆宜用理中散。發陳湯。○如吐利止後。心煩者。解毒丸。平陽丸兼服。○渴飲水小便少者。是消渴也。理中散。容平丸並用。</p>

<h2>【虛煩煩躁】</h2>
<p>熱氣入內。胸跳難眠。或胸中痛。舌上黃黑。呼吸促迫。動肩者。宜解毒丸。容平丸並用。○如熱實於裡。苦楚煩躁。呻吟動鄰者。宜以瀉心丸下之。</p>

<h2>【上衝】【眩暈】【眼耳口舌】</h2>
<p>眩暈者。理中散。或發陳散。○眼耳口舌病。皆上衝也。發陳湯。解毒丸。並用可也。</p>

<h2>【五疸】</h2>
<p>黃疸病。汗染衣者。發陳湯。兼以磁石丸。○如心煩者。宜兼用解毒丸。○如遍身黃黑。腹脹大便黑。時時下利者。磁石丸。順氣丸並服。如不效者。當用清濟子。○如腹滿胸跳。大便硬者。解毒丸。瀉心丸兼服。○如渴欲飲水。而小便不利者。容平丸。解毒丸兼服。○如五疸難別。久不差者。宜磁石丸。解毒丸和服。○如汗出者。與瀉心丸。以少少下之。</p>

<h2>【疝氣】</h2>
<p>惡寒　厥冷　腹痛　腰痛　大便閉結　陰囊縮小大便溏泄</p>
<p>寒疝證。振振惡寒。腰痛便閉。或瀉下。或腹滿㽲痛。按之不痛者。宜用救疝飲。○如上衝。頭痛惡寒。身體骨節疼痛者。宜發陳湯。救疝飲和服。○如發熱經日不解。舌上黃黑。小腹㽲痛。按之愈痛者。宜用瀉心丸。</p>

<h2>【腫滿水腫鼓脹】</h2>
<p>鼓脹者。身體瘦而腹獨脹滿。宜常用磁石丸。時時以瀉心丸。及玉丹下之。○水腫者。當發汗利小便。宜榮陽湯和清濟子。○若咽中乾者。間下容平丸。○凡水腫咳嗽者。當以直行丸下之。○身體黃腫者。宜磁石丸。</p>
<p>磁石丸　治遍身黃黑。肚腹脹滿。大便黑。時時下利者。與此方。兼以順氣丸。</p>
<p>浮石（三錢）　磁石（二錢）　滑石（三錢）　大黃（四錢）</p>
<p>上四味。為末。打米糊丸。</p>

<h2>【五癪六聚】</h2>
<p>癪者。積也。水穀之毒。皆成積聚也。心下痞而痛。或小便不利。飲食無味。口吐涎沫者。宜理中散。○如胸腹疼痛甚者。可用芍藥散。○如胸中煩。而心下痞硬。或噯氣不除者。可下解毒丸。○如有積塊或血癪。而大便色赤黑者。宜與順氣丸。所謂疳積心氣不定者。其狀殆如驚風是也。宜疳蟲丸。○如卒倒者。宜急用玉丹。如身體浮腫。色青黃。荏苒久不痊者。宜磁石丸。凡大便硬而煩者。當用解毒丸。瀉心丸。</p>

<h2>【中風】【風痹】【風濕】【痛風】</h2>
<p>半身不遂。口眼喎斜。攣引者。發陳湯對救疝飲煎服。若大便秘者。更下解毒丸。○風痹亦同。○風濕之病。身體骨節悉痛者。榮陽湯對救疝飲煎服。若咽中干而渴者。更下容平丸。大便硬者。下解毒丸。若痰飲咳嗽者。兼用直行丸。痛風亦同治。</p>

<h2>【產前後】【經閉】【血塊】【半產】【漏下痛】【衄血】【吐血】【男女諸血證】</h2>
<p>孕婦產前。常宜服當歸散。○如產前大便硬者。間致難產。宜當歸散下解毒丸。○如產後血暈。及胞衣不下者。又月經不順。或有血塊下白物者。並皆同治法。○半產及漏下不止者。以當歸散溫酒調下。○凡男女諸血症。宜當歸散解毒丸兼服。</p>
<p>當歸散</p>
<p>當歸　芍藥（各三錢）　芎藭　牡丹皮　甘草（各二錢）　茯苓（四錢）</p>
<p>上六味。為末。</p>

<h2>【小兒五癇】【驚風】</h2>
<p>小兒病多難辨別。然癇證最居多。常宜用疳蟲丸。以是治百病奏功者過半矣。○又驚風發熱。手足動搖。筋惕肉瞤者。屬發陳湯症。用此兼下疳蟲丸可也。○如角弓反張。欲卒死者。宜急用玉丹。○凡小兒素有胎毒。加以飲食過度。因循而食與毒停畜而成病者。宜時時以玉丹下之。</p>
<p>疳蟲丸</p>
<p>木鱉子　大黃（各三錢）　藜蘆（一錢五分）</p>
<p>上三味。為末。神麯糊為丸。黍米大。</p>

<h2>【癲癇】</h2>
<p>此證世為難治。然是水毒之變病也。理中散疳蟲丸。交久服而全愈。</p>

<h2>【瘡毒家】</h2>
<p>諸腫毒。頑瘡。無名惡瘡。俱皆宜排膿散。○熱甚者發陳湯。惡寒甚者救疝飲。須量病熱兼用解毒丸。○瘡家用諸藥無效者。用治瘡丸一劑。繼以玉丹下之。其他諸惡瘡毒結毒等。醫治無驗者。治瘡丸尤神效。○如瘡毒入里。骨節疼痛。或振振惡寒者。宜救疝飲。榮陽湯。間與玉丹以取下必愈。</p>
<p>排膿散</p>
<p>反鼻　鹿茸（各二錢）　鼴鼠（二錢）　土茯苓（五錢）</p>
<p>上四味。為散。</p>

<h2>【發狂】</h2>
<p>發狂者。宜玉丹瀉心丸。○如口舌乾燥者。容平丸。解毒丸兼服。○如病勢盛者。以甘草湯煎汁。下容平丸數錢。○如大便漆黑者。宜用順氣丸。</p>

<h2>【痘瘡】【痲疹】</h2>
<p>初起宜用發陳湯。瘡已出者。兼用解毒丸。皆當從外證求治方。○熱毒甚難救者。與瀉心丸。○瘡黑陷者。以蘩蔞自然汁。下治瘡丸。</p>

<h2>眼疾</h2>
<p>眼疾有顓科。而先哲既備載各冊。或為一百六十證。或為七十二證以論之。獨明傅仁字著審視瑤函。定為一百有六證。而其所論。按候察法。覽形辨色。詳悉無遺。又鉤割針烙之治。藥劑補瀉之法。縷晰森森。以鏡其要。業斯道者。不可不讀者也。在本邦亦精其治術者。往往有焉。或針瞳子而出膿。或刺眼胞而放血。或浸銅器於鹽湯以熨眼內。或灸眼珠等之事。最能工其術。有志之士。宜就而學焉。余非專科。則未敢究其術。今舉所經驗方一二。以與眾俱云。</p>
<p>加減四物湯　目疾外障通治之劑。</p>
<p>當歸　川芎　芍藥　薄荷　荊芥　菊花　白芷　細辛　黃芩（各中）　甘草（下）</p>
<p>上十一味。水煎溫服。</p>
<p>洗眼方</p>
<p>荊芥　防風　蔓荊子　菊花　紅花　薄荷（各等分）</p>
<p>上煎湯。先熏後洗。</p>
<p>掃紅煎（出蔣示吉通醫外治）　治時眼紅腫痛爛。（方見產科發蒙四卷）</p>
<p>眼胞麋爛甚者。加艾葉菊花。其效如神。</p>
<p>木賊煎　小兒胎受熱毒生下兩目不開者。此方神效。（見丹溪醫案）</p>
<p>燈心　黃連　木賊　秦皮　棗肉（各五分）</p>
<p>上以水二盞。煮取一盞。頻頻洗之乃開。</p>
<p>明目膏　治一切目疾。赤腫疼痛。羞明難開者。又小兒初生。眼胞脹起。閉而不開者。點藥於筆頭。入眼內則二三日而必效。但要入藥於深。淺則無效。</p>
<p>硼砂　海螵蛸　爐甘石（各十錢）　龍腦（一錢）　辰砂（八分）</p>
<p>上乳缽內細碾數千遍。用煉蜜半兩。復碾勻為膏。以少許點入眼角。緊閤眼而睡著極妙。（若癢甚者。加枯礬少許）</p>
<p>灼明煎　治諸般眼疾。赤腫生胬肉。疼痛甚者神效。</p>
<p>膽礬（下）　白礬（下）　芍藥（中）　黃連（中）　杏仁（中）　蔓荊子（中）　荊芥（上）</p>
<p>上煎湯頻熏洗。累試累效。</p>
<p>撞刺生翳。或刺痕傷損。血流出。遂生血翳。或疼痛難忍者。宜用茺蔚子散。外以茗石散。點眼內殊效。</p>
<p>茺蔚子散</p>
<p>茺蔚子　防風　川芎　玄參　桑白皮　桔梗　知母　藁本　白芷（各一錢）　細辛（半錢）</p>
<p>上每服三錢。水煎溫服。如熱甚者。加大黃芒硝。痛甚者加香附子。</p>
<p>茗石散</p>
<p>天石（二錢）　蛇骨（二錢）　虎肉（一錢半）　蘘荷根（搗取汁細絹濾淨日曬乾一錢。醫家名曰茗石。）</p>
<p>上極細末。乳汁和勻入眼內。</p>
<p>洗爛弦風赤眼方（審視瑤函）其效如神。此藥人家不可少。無目病則以施人。價廉工省。濟人甚便。</p>
<p>苦參（四錢）　五倍子　荊芥穗　防風　黃連（各三錢）　銅綠（五分）</p>
<p>上為細末。外以蘇薄荷煎湯。丸如彈子大。臨時用。以熟水化開洗眼。每日三次。</p>
<p>立愈神效。全目飲（石室秘錄）　目痛常治方。</p>
<p>白芍（三錢）　白蒺藜（二錢）　甘菊花　當歸　柴胡　荊芥　防風　半夏（各一錢）　甘草（五分）　梔子（二錢）</p>
<p>上水煎服。二劑即愈。（若不愈。宜舍常而思變也。）</p>
<p>乳香定痛散（乾坤生意）治暴赤眼。疼痛不可忍者。初發眼後用神靈散鼻內吹。</p>
<p>當歸　川芎　芍藥　草龍膽　細辛　漢防己（各等分一兩）　乳香（半兩別研）</p>
<p>上㕮咀。每服五錢。水二鍾。煎至一鍾。去滓溫服。</p>
<p>神靈散</p>
<p>焰硝（二兩）　黃丹（五錢）　雄黃（三錢）　沒藥　乳香（各一錢）</p>
<p>上為細末。口含水。用管鼻內搐之。</p>
<p>升麻葛根湯　李東壁云。治陽氣鬱遏。及元氣下陷諸病。時候赤眼。每有殊效。周嘗治時候赤眼。寒熱頭痛者。加菊花細辛。多取奇效。</p>
<p>分心氣飲加菊花　治婦人諸氣不和。經行不順。微惡寒。眼赤爛者。</p>
<p>八物湯加菊花夏枯草蔓荊子　治內障。久服見效。</p>
<p>明目地黃丸　治腎虛目昏。</p>
<p>熟地（二兩）　山藥　山茱萸　丹皮　歸尾　五味子　柴胡（各五錢）　茯神　澤瀉（各二錢半）</p>
<p>上為末。煉蜜丸。硃砂為衣。</p>

<h2>梅瘡餘毒攻眼</h2>
<p>清上丸　治瘡毒害眼者。</p>
<p>竹茹（二錢）　輕粉（一錢）　大黃　黃連　黃芩（各二錢）</p>
<p>上為末。糊丸赤小豆大。辰砂為衣。每早午時黃昏。空心並以十五粒。白湯送下。</p>
<p>敗毒散倍薄荷加天麻　治濕毒侵眼。生赤脈白瞖胬肉。或疼痛者。</p>
<p>內疏黃連湯（審視瑤函）　治諸瘡毒。皮色腫硬。發熱作嘔。大便結而脈洪實者。攻及兩眼。或一目赤痛紅腫並治。</p>
<p>黃連　炒梔仁　黃芩　當歸身　桔梗　廣木香　檳榔　赤芍藥　甘草　蘇薄荷（各八分）　製大黃　連翹（各錢二分）</p>
<p>上銼。白水二鍾。煎至八分。去滓食遠服。</p>
<p>還陰解毒湯（同上）　治梅瘡餘毒未清。移害於肝腎。以致蒸灼。神水窄小。兼赤絲黑白混濁不清。看物昏眊不明。</p>
<p>當歸（酒洗）　川芎　生地黃　金銀花（去葉）　連翹　黃芩（酒炒各五分）　黃連（酒炒）　苦參（各一錢）　土茯苓　細甘草（各五分）　白芍藥（酒洗）　麥門冬（去心）　玄參（各一錢）</p>
<p>上銼劑。白水二鍾。煎至八分。去滓溫服。</p>

<h2>澤醫治烏睛生白星</h2>
<p>一老嫗曰。妾壯歲患眼疾。逮內外施治痛楚一定。忽烏睛生白星。累月不去。百方無效。有一澤醫教曰。以兔屎細末。盛青絹袋熱湯浸。頻頻熏洗之則當失矣。乃如法行之而全愈。予頃讀審視瑤函。曰。廣陵甘棠鎮王海明子。痘後睛珠突出。偶一客見之告曰。此目有一藥可治。不知能得否。詢之乃胎兔也。其父遍覓得之。按方炮製。藥盡而目收。余推幼幼之心。故廣其傳。周按古方有兔血丸兔頭煎湯。皆稀痘妙藥。又本草引藺氏經驗方云。治痘後目翳。用兔屎二七枚。以雌雄檳榔各一枚同磨。井花水調服。百無一失云云。夫兔屎治目疾如此。因並記。</p>

<h2>風眼經驗方</h2>
<p>風眼初起疼痛太甚。脈浮大有力。先與荊防敗毒散。次宜用防風通聖散主之。或將紫丸取一下。須臨證消息矣。又有淋疾熱毒上攻。發於眼目者。其證與風眼一般。但脈沉為異也。宜以防風。葛根。羌活之類為主。若誤用防風通聖散等瀉下之劑。則必失明。慎之。</p>

<h2>痘毒入眼</h2>
<p>治痘毒入於目之法。痘科諸書詳載之。亦何贅矣。然予有一訣。凡痘當灌膿收靨之時。眼一旦開而復閉者。必毒害乎眼也。此症淚自溢出者。不失明矣。若干枯無淚者。多致失明矣。治之之法。外宜以柳蠹蟲數個。擂如泥絞取汁。頻灌眼內。別以白芥子散貼足心。內宜服清上防風湯。兼用望月砂散兔糞丸。百發百中。累試累驗。</p>
<p>白芥子散</p>
<p>白芥子（上）　阿膠（下）</p>
<p>上研細末。米糊調。毒入於左眼者。貼右足心。入於右眼者。貼左足心。七八日而必效。</p>
<p>清上防風湯</p>
<p>防風　黃芩　黃連　梔子　桔梗　白芷　枳殼　荊芥　連翹　薄荷　川芎　甘草</p>
<p>上十二味。水煎。或加兔屎。</p>
<p>望月砂散</p>
<p>穀精草　蜜蒙花　蟬退（去翅足各五錢）　望月砂（炒一兩）</p>
<p>上為細末。每服五分。白湯下。</p>
<p>兔糞丸</p>
<p>兔糞炒乾為末。蜜丸綠豆大。每服二三十丸酒下。</p>

<h2>眼胞痰核</h2>
<p>丹溪心法曰。眼胞痰核。結於上下眼胞。皮里肉外。其形大者如棗。小者如豆。推之移動。皮色如常。硬腫不疼。由濕痰氣鬱而成。外用天南星蘸酢磨濃。頻塗眼皮。日數淺者即消。日數深者。雖不能即消。常常塗之。塗令皮薄。微微剝損。以手指甲擠出。如白粉汁即消。</p>

<h2>黴瘡經驗治方</h2>
<p>余曩著黴癘新書。已布於世。距今十餘年。其間經驗頗多。因採摭以舉下方。</p>
<p>凡患下疳便毒者。其脈必沉細也。便毒發於右。則右尺脈沉細也。發於左者。左尺脈沉細也。</p>
<p>凡疳瘡以不痛為常。為易治。痛者為變。為難治。龜頭或稜後發瘡。其形圓凹而淺者。易治。又自稜後凹處。引莖發瘡。形細長而淺者次之。又瘡發稜後凹處。回莖橫長者。腐潰速而逆證也。邦俗謂之劊首下疳。</p>
<p>黴瘡痛甚者。用通聖散加苦參一錢。外以蘗膏散敷患處。一日而痛失如神。內經諸痛為火。故以寒藥收效。</p>
<p>黴瘡發遍身者。宜浮萍通聖散。兼用沉香化毒丸。即瘥。○如發砂仁瘡者。卻不易治。宜用加減化毒丹。</p>
<p>疳瘡腐爛色赤。中心稍高起者。以浮萍通聖散。合大黃牡丹湯主之。兼以沉香化毒丸一錢二分。冷水吞下。○如疼痛者。貼當歸膏。○如膿汁出多者。貼辰砂膏。○如痛甚者。用通聖加苦參湯。如前法。或以黃柏。石膏。鉛丹。各三四錢。水煎。候冷盛器。蘸陰莖。其效如神。</p>
<p>結毒筋骨疼痛者。與沉香化毒丸。歷五日而痛益甚者。其愈必速也。十日許而安。○如歷五六日。依然而疼痛如故者。其愈必遲。不歷二旬許則不見效。</p>
<p>下疳黴瘡腐爛。積月累歲不差者。宜與加減化毒丹。</p>
<p>一種有陰莖皮弛。裹稜不脫。稜後凹處潰爛。莖皮腫起。馬口膿出。邦俗謂之囊下疳。又龜頭潰鑿。漸漸延及於莖。潰爛不止者。世亦謂之蠟燭下疳。（即蠟燭發）又咽喉潰爛。或穿孔者。謂之喉穿。（即喉癬）並皆重。若莖中痛甚者尤重。非用大化毒丸。則不能奏效也。然此證甚稀。</p>
<p>患黴瘡下疳瘡者。誤早服輕粉粉霜。後變致頭痛或耳鳴等症。久久不愈者。宜拔毒丸。（方見黴瘡秘錄）</p>
<p>服加減化毒大化毒等丸者。當大便日二三度下利。此為常候。或歷四五日。猶秘結者。盡亦有焉。不可慮。必當忽然下利七八行來。得下利則須知其愈在近也。病者已服輕粉。口舌糜爛者。以雞卵一枚碎攪化含嗽。若重者。以柘榴皮三四錢。水煎。頻頻含嗽必愈。</p>
<p>便毒初起者。宜用牛蒡芩連湯。有神效。</p>
<p>結毒筋骨疼痛者。將防己排毒劑。下二葛四黃散。屢有得奇效。</p>
<p>浮萍通聖散　即防風通聖散。加浮萍一錢。（方見黴癘新書）</p>
<p>蘗膏散　治黴瘡下疳疼痛者。</p>
<p>黃蘗　石膏（各等分）</p>
<p>上細末。敷患處。</p>
<p>沉香化毒丸　治一切黴毒下疳。及筋骨疼痛。</p>
<p>沉香　大黃　人參（各一錢）　黃蘗（一錢五分）　芽茶（五錢半）　甘草（五分）　枯礬（二錢七分五釐）　白丹砂（擦破三分。作臼四分。筋骨痛五分。此分兩一大秘事。）</p>
<p>上細末。打米糊丸。赤石脂為衣。每服一錢二分。冷水吞下。重者漸加至二錢。禁鳥魚獸肉。麵條油膩。糯糍果物。蔥韭牛蒡。雞卵豆腐。飲酒房事等件。</p>
<p>加減化毒丸</p>
<p>牛黃　丁香　豬芽（各一錢）　琥珀　鬱金（各二錢）　硃砂　雄黃　乳香　亂髮灰　白蘚皮　穿山甲（各三錢）　製大黃（四錢）　白殭蠶（八錢）　生生乳（一錢）</p>
<p>上為末。用神麯末五錢打稠糊。入藥搗勻。丸如梧子大。硃砂為衣。每早空心服七分。以人參末三分。白湯攪勻。以是送下。每晚空心服三分。以人參末三分。送下如上法。○此方骨痛者無效驗。唯用腐爛數月者尤有效。</p>
<p>當歸膏　治腐爛疼痛者。清血熱。又治灸瘡。</p>
<p>當歸　地黃（各三錢）　白蠟（七錢）　麻油（四錢）</p>
<p>以當歸地黃入麻油中。鐵銚內煮。候歸地枯浮油麵去渣。下白蠟溶化。將細布濾去滓。聽用。</p>
<p>辰砂膏（性冷）　治疳瘡。拔濕毒。止水汁多出。去血熱甚妙。</p>
<p>黃蠟（四十錢）　椰子油（十錢）　豬脂（十五錢）　麻油（夏四十錢冬五十錢）</p>
<p>上四味。以文武火煮片時。細布漉去渣。更將血竭（七錢）鉛丹（四十錢）辰砂（三錢）極細末。微微加攪和。貯磁器。聽用。</p>
<p>大化毒丸</p>
<p>即加味化毒丹。用白丹砂二錢。加人中白。神水。金頂砒。（宜與黴瘡秘錄參看）</p>
<p>牛蒡芩連湯　治魚口便毒如神。</p>
<p>黃芩（酒製）　黃連（酒製各二錢半）　桔梗　石膏（各一錢半）　連翹　玄參　牛蒡子（炒各一錢）　大黃（酒）　荊芥　防風　羌活（各二分）　甘草（一錢）</p>
<p>每服四錢。加生薑三片。水煎服。或加奇良二錢。</p>
<p>防己排毒劑　治結毒筋骨疼痛。不能步履者。</p>
<p>茯苓　獨活（上）　桔梗　川芎（中）　枳實（中）　柴胡（中）　防己（上）　甘草（下）　生薑（下）</p>
<p>以水二合。煮取一合溫服。</p>
<p>二葛四黃散（見黴癘新書）　此方治結毒筋骨疼痛之神方。然數日與之。則以口中糜爛。患者或畏之。是以用此方三日後。間服通聖散末二日。而復與此藥則無有口中腐爛之患矣。凡用化毒丸之類亦復然。但將通聖散作丸耳。此一大秘事。不可與俗人語也。</p>

<h2>制生生乳簡便法</h2>
<p>黴瘡秘錄所載。制生生乳法中。曰羊城礶。曰八卦爐之類。不能詳何形狀。又雖言三香足離火。其香之長短大小。亦不可知。且至於微微擦水於盞底等事。人往往不堪其煩。曩門人今村子正。瞭解簡便製法。予依其法甚易易。今錄於茲。以示初學。</p>
<p>煆煉礜石（下二錢）　綠礬（十二錢）　雲母（二錢五分）　盆硝（十六錢）　朱汞（九錢六分）　食鹽（十五錢）　枯礬（五錢六分）　青鹽（三錢五分）</p>
<p>上件共研不見星。入磁器密封。二十日取出。入磁爐內。（貧家所用價賤者佳俗言斯鴉吉訥非乙列。）上火。藥化為蟹目沸。則以箸攪之。不可止手。俟其凝結乾燥。離火候冷。用小新土器密蓋。（收艾炷者。世俗言灸瓦。此物大抵與煙爐口相侔。）以紙捻或麻線札定。如十字樣。次以麵粉雞子清和調為糊。以是固濟縫合處。待乾倒安大磁盆之中心。（邦俗所稱之手水缽也口。寬尺許高七八寸者妙。）乃加灰於四圍。與磁爐底平等。又另於矮坐洗盆內。（邦俗所稱手水盤。）盛水三四寸。乃安置磁盆於其心。以浸底於水中。（與陳氏微微擦水於盞底者同意。）然後熾炭置磁爐底。先用文火。漸漸加炭用武火。二三香足。（用尋常香黃土色者）離火先用甘草牙皂各二錢濃煎汁。收別器。以之灌瓦器底。埋土中一日夜。取來發開。則白丹砂在瓦器底裡。如束針之狀。（依陳氏法。以白丹砂厚紙包裹。浸甘草牙皂煎汁片時。取出埋土中三日夜。取來曬乾亦可。）取來每兩加冰麝各七釐。辰砂九分。共研極細。處用乳香一錢二分。滾水燉化。和前末研勻為丸。每重一錢一分。外以黃蠟封固。即名生生乳。夫陳氏製法。取白丹於上。此法取於下。其法雖殊。理則同。學者宜察焉。</p>

<h2>諸家經驗方</h2>
<p>予好醫方之癖。聚諸家所經驗之秘方。無慮數百。今舉其一二。以示同志君子。</p>
<p>神仙百中散　治紫赤黑白癩疾。百發百中。屢經驗無比神方。非其人勿傳。</p>
<p>人參　白蛇　烏蛇　血竭　真珠（各六錢）</p>
<p>上為細末。日用一泉。加金粉二分。白湯送下。更吞大楓子丸。</p>
<p>大楓子丸　大楓子（十七錢）</p>
<p>上為末米糊丸。無槵子大。日用三十粒。兼用白丸利腸胃。</p>
<p>白丸方　巴豆（四錢去皮膜入缽乳內擂如泥）</p>
<p>上米糊丸。作四枚。濕紙包裹。煨以紙微焦為度。○用法壯者一日用四丸。○弱者用三丸。其欲用之。則先斷鹽二日。而早辰頓服。當大便屢下利。若利下不止。則宜以味噌汁及白粥冷食即止。</p>
<p>震靈丸　治癩疾之神方。</p>
<p>大楓子（去皮五十錢）　天石（五錢）　大黃　黃蘗（各五十錢）　荊芥　爐甘石（各三錢）瓠瓜（燒存性）　山櫻皮（燒存性各一錢五分）</p>
<p>上八味。細末為丸。分作丸十丸。壹粒重一錢四分。日服三粒白湯下。○凡服此丸。至十日。則臨臥宜服金聲散。</p>
<p>金聲散</p>
<p>大黃（十錢）　川芎（八錢）　蕎麥（五錢）</p>
<p>上細末。臨臥以一錢半。溫酒送下。次早宜下玉振丸。</p>
<p>玉振丸</p>
<p>白醜　木香　川芎（各四錢）　巴豆（二分半）　乾薑（一錢半）</p>
<p>上為末。薄稀糊丸。梧子大。第十一日臨臥以五分白湯吞下。與此丸之日。不可服震靈丸。</p>
<p>崎陽一瘍醫某。授其所秘之膏藥方於余。甚簡易。且不用獸脂。余屢試應效如神。不忍自秘。乃錄以弘傳。雖非瘍醫。家家制以常貯。宜臨時施之。</p>
<p>跋日慄膏　不論癰疽發背。一切腫瘍。貼之聚毒化膿尤神妙。已潰膿者。吸膿生肉。而腫自愈。</p>
<p>瀝青（五十錢宜用紅毛產）　黃蠟（十錢冬月用七錢）　麻油（一合）</p>
<p>先煮麻油片時許。挑貼紙以不暈為度。乃下黃蠟瀝青令溶化。攪轉。用細舊絹濾淨。納貯瓷器。隨見症宜加減。○欲令腐潰。則加巴豆。膽礬。銅綠。○痛甚者。加乳香。沒藥。○瘙癢者。加枯礬。○潰後不肉起者。加木乃伊。○新肉漸長。腐肉未盡去者。以干膚刺膏等分和勻。○腐肉漸去。新肉已長。而猶不斂口者。加輕粉。瘡久不潰。欲為內攻者。加失貲必兒末遏篤少許。</p>
<p>千膚刺膏　貼諸瘡。止痛散血熱。治丹毒打撲五痔。</p>
<p>白蠟（二十錢）　白麻油（一合）　龍腦　粉錫（各四錢）</p>
<p>先以白薔薇花四錢半。浸麻油中一宿。乃上火煮片時。濾去滓入白蠟將柳木篦攪轉。須溶化下火再濾淨。更入粉錫龍腦又攪轉。納貯瓷器。</p>
<p>鴉僕斯膏　治下疳漏瘡。久不斂口。其他瘡瘍。荏苒難瘳者。</p>
<p>松脂（四十錢）　沒藥（八錢）　銅綠（十七錢）　乳香（十錢）　密陀僧（八錢）　麻油（六十錢）　黃蠟（五十錢）　豬脂（四十錢）　米醋（一合）</p>
<p>上前五味。極細末。先將黃蠟。松脂。豬脂。麻油。文火煮五六沸。用細舊絹濾去渣。再上火入乳香。沒藥。減火攪勻。須臾入銅綠。密陀僧。而後入米醋攪轉千遍勿止手。</p>
<p>蜜乙暱乙膏　治諸瘡瘍及濕痰結核。筋骨疼痛。肩背腰痛。</p>
<p>鉛丹（十二錢）　黃蠟（二十三錢）　麻油（一合）</p>
<p>上先煮麻油。次下黃蠟。更入松脂。鉛丹。攪轉濾去滓再上火。然後入少水。則忽沸溢如湧。再攪轉一爨時。候水氣去。乃收貯磁罐。</p>

<h2>【底野迦真方】</h2>
<p>明艾儒略曰。如德亞之西有國。名達馬斯谷。土人制一藥甚良。名的里亞如。能治百病。尤解諸毒。有試之者。先覓一毒蛇咬傷。毒發腫脹。乃以藥少許醼之。無弗愈者。各國甚珍異之云云。曩歲蠻舶齎此藥。其效能令痘瘡起脹。而此藥近盛行。醫俗往往用之眾疾。曩予就為阿蘭學者詢此方。秘惜不敢傳。是故以不能詳其藥性。不試之十年所。頃一醫生自肥前州來從予受業。渠傳其真方於予。蓋所得譯司某也。今之庸醫未詳底野迦為何物。而有漫稱奇藥者。豈醫之志也哉。因舉於此以弘其傳焉。欲令天下人知其配合藥品以臨症用之不誤爾。此予之老婆心也。</p>
<p>蝮蛇（去頭尾及皮。割腹去腸。唯留心與肝。洗淨。乃石臼內搗爛。取起入鍋內。以文武火加上下。焙乾如作蒸米法。俟其稍干。復入臼中搗之。更加白蜜三倍。鍋內炒過。而後為細末。二十四錢。）犍地亞捺根（草名。和蘭本草。有大小二種。其小者形狀主治與龍膽正同。故今用龍膽八錢。）</p>
<p>設獨亞慄乙根（草名。今換用高良薑八錢。）　的蠟矢及罹怛（今以赤石脂代之。十六錢。）</p>
<p>安傑慄加（白芷屬。今代之。四錢。）　沒藥（和蘭稱印謁孤窒蔑剌者最上好品。宜擇用。八錢。）石硫黃（明淨瑩徹者八錢）</p>
<p>泊夫藍（四錢或七錢）　桂（七錢或八錢）　重樓金線（和蘭稱設扁蒲蠟獨屋爾的兒。此品漢舶雜之甘松或蒼朮中而來。蓋以竊斤量爾。宜探索藥鋪中以堅硬肥大為佳。四錢。）　丁子（三錢）　阿片（壓定為扁者）　佛手柑自然汁（各三錢或七錢）</p>
<p>上十三味。除阿片。佛手柑汁。搗余藥為末。而入二味。缽內和勻。乃將杜鬆糕。（製法見於後）　蜂蜜。各等分。（加本劑之量各三倍）徐徐加之。共研勻如泥。令可丸。而釜內重湯煮。候和下火。冷定收貯。（天明壬寅歲。和蘭人入貢。有猗瑳迦知心幾者。曰。此方如法制煉收貯。歷一年許而後再煮和勻更妙云。）</p>
<p>杜鬆糕法　杜松實（和名年詞薩矢即彆僕烏）　一斤。搗細。好酒三升內浸一宿。次日露器煮取汁。</p>
<p>主治天行溫疫。頭痛發熱。能發汗。又能益心氣。令人安眠。或胸膈窒塞。怔忡心氣不寧。或嘔吐下利。及諸熱凶惡證。其他疝疼積痛。和諸痛。解諸毒。又用痘瘡令起脹。○凡熱熾者。醋和調服。○勞瘵初起者。用此尤效。○癲癇。瘧疾。疫疾。熱往來久不止者。燒酎或麻油勻塗背。奇效。○疔瘡。便毒。及螫蟲。狗鼠咬傷等。亦燒酎解開。塗患處。亦貼火傷湯泡即效。每用一錢或二錢。以醋或溫酒送下。○凡諸邪毒壯熱證。其邪火日加者。宜和醋與之。能折其病勞。令其速解散。</p>

<h2>亞爾牟的慄亞加方</h2>
<p>（亞爾牟者。言賤也。蓋此方以為貧賤者設也。）</p>
<p>月桂（用實○和名達木或貲詞）　沒藥　龍膽　馬兜鈴（各十六錢）</p>
<p>上先以沒藥碎細。而下余藥。共搗和為末。加上好蜂蜜研調。上文火煮。以木條子攪。不可住手。俟如膏為度。下火冷定。密器收貯聽用。</p>
<p>主治諸中毒。或蟲獸諸傷。或傳染諸病。肝腹疼痛。或搐搦拘攣。失心顛眩。</p>
<p>每服小兒自二三釐至一分。大人強壯者。自一錢至二錢。○凡天行疫疾。瘧疾。及一切潮熱。或心胸小腹諸痛。及便毒並背脊手足硬腫等諸症。以燒酎或麻油。和勻敷之。皆悉有效。</p>

<h2>舌疳妙方</h2>
<p>金粉散　治舌疳如神。</p>
<p>硼砂（七分）　白檀（五分）　丹砂（一錢）　烏梅（五分）　鬱金（七分）　金粉（一錢）</p>
<p>上為細末。分作紙捻六條。先入麻油於盞中。將一條浸之。點火如尋常燈火法。另取黑豆三合。以水三升。煮取二升。俟冷定含口中。然後嗅煙。若豆汁得溫則換之。日用二條。○此方岡本樸仙秘方。而上總州圓城良庵所屢經驗。予得此方甚艱。今不吝秘公之。</p>

<h2>骨骾</h2>
<p>金鳳散　治魚骨骾及行木刺神效方。</p>
<p>鳳仙草（花實莖根俱燒存性）　青松葉（燒存性各等分）</p>
<p>上細末。每服五分。溫酒送下。此方非但治魚骨骾咽。其他竹木金銀銅鐵等。刺身體不出者。一服見效。真絕世神方也。東都本街一藥店賣此藥。日得數千錢。</p>

<h2>下血塊妙方</h2>
<p>魁蛤（燒）</p>
<p>上為末。米糊丸梧子大。每服五十丸。數日而當下血。若塊減者。宜加生蒲黃。餌食亦宜魁蛤。藕根。</p>

<h2>金瘡鐵扇散（洗冤錄）</h2>
<p>治刀石諸傷。起死回生。神異靈驗。難以具述。</p>
<p>象皮（切薄片用小鍋焙黃色。以干為度。勿令焦。）　龍骨（用上白者生研。各五錢。）　石灰（歷數百年者佳）　寸柏香（即松香中之黑色者。）　飛礬（將白礬入鍋內熬透。便是。）　松香（各一兩。與寸柏香一同熔化攪勻傾入冷水取出晾乾。）</p>
<p>以上六味。共為細末。貯磁罐中。遇有刀石破傷者。用藥敷傷口。以扇向傷處扇之立愈。忌臥熱處。如傷處發腫。煎黃連水用翎毛蘸塗之即消。</p>
<p>沈氏醫案云。傷處喜涼惡熱。夏月宜臥涼地。冬月忌臥熱處。傷口不必包裹。致過暖難於結痂。並忌飲酒。以致血熱妄行。設遇傷處發腫。以雞鵝翎毛。蘸黃連水塗之。可以立愈。至於敷藥之時。若流血乃用扇。血不流則不扇。蓋熱血迸出。藥必隨血流去。故藉扇力使血稍涼。乃能凝結。若血不流。則不必扇也。</p>

<h2>治瘭瘡神效方</h2>
<p>（此病喜著十指。初指頭先作黯疱後始腫赤黑黯瘮。痛入心是也。）</p>
<p>杉葉芽（二錢）　白梅肉（一錢）</p>
<p>上二味。細研。以水一盞拌和。以患處浸之。日六七次。其水黏而痛立止。若指頭潰爛。露骨已欲頹落者。用後方。</p>
<p>𨴗模吉𨴗兒蔑刺</p>
<p>丹礬　沒藥（各等分）</p>
<p>上二味。蜜和勻敷患處。</p>

<h2>諸病蒸洗經驗秘方</h2>
<p>治痛風蒸洗法</p>
<p>杜松（八錢）　木通（五錢）　荊芥（三錢）　防風（三錢）</p>
<p>上以水一升五合。煮連滓熏洗。</p>
<p>治諸痛蒸洗法</p>
<p>桂松（上上）　野菊花（上）　鼠麴草（上）　羌活（中）　防風（中）　細辛（下）</p>
<p>煎法同前。一方加獨活。芍藥。桔梗。</p>
<p>癰疽發背。諸腫瘍。不能成膿者。以之蒸洗之。必潰而愈。</p>
<p>雞卵（一枚）　麵粉（四合）　蔥白（一把）　酒（一合）　生薑（切一合）</p>
<p>上以水五合。煮乘熱熨患處。其效如神。</p>
<p>治陰門瘙癢疼痛蒸洗法。</p>
<p>艾葉（十五七）　苦參（七七）　荊芥（十七）　防風（五七）　地床子（十七）　連翹（三七）</p>
<p>上以水一升五合。煮取一升。頻湔患處。</p>
<p>治一切陰囊濕癢蒸洗法</p>
<p>陳茶（一撮）　蒼朮（二錢）　皮硝（三錢）　花椒　地床子（各一錢）　煨鹽（半兩）　白礬（一錢）　蒼耳子（量入）</p>
<p>上水八合。煎汁去渣。入鹽硝礬泡化。先蒸後洗。三四次絕癢。</p>
<p>治五痔熨藥方</p>
<p>忍冬　黃柏　黃連　薄荷　甘草皮（各三錢）　蔥白（五錢）　荊芥（二錢）</p>
<p>上以水一升五合。煮取一升二合。熏洗患處。</p>
<p>又方</p>
<p>蛇床子　忍冬（各四錢）　黃柏　石草蒲　甘草（各二錢）　白礬（一錢）</p>
<p>煎法同前。或加荊芥三錢。</p>
<p>治脫肛妙方</p>
<p>馬糞兩掬許。入滾湯內。攪和熏患處。則瘙癢當甚。乃傾去之。再以雞屎一碗許。入滾湯內。蒸如前法。三四日而必愈。</p>

<h2>治瘰癧妙方</h2>
<p>治瘰癧破爛。連及脅腋。臭穢難聞。三五載。十數載不愈者。藥到病起。用新出窯礦石灰一塊。滴水化開成粉。用生桐油調勻。乾溼得中。先以花椒蔥煎湯。洗淨其瘡。以此塗之。不數日全愈。此法陳飛霞得一愚人。屢取奇效云。周曩歲治一老嫗瘰癧髮結喉者。以赤小豆石灰等分細末。數之全瘳。</p>

<h2>牙齒疼痛</h2>
<p>不論尋常牙齒痛。及齲齒疼痛。以速效散。止痛散。擦患上止。或含丁香散亦可。此皆熱因熱用之治法也。又有酒客內熱熾而用前方不效者。宜開笑散。又齲齒痛用諸藥並不效者。宜取昆布上鹽胡椒大許。包裹於絹。以麻線縛於細竹條頭。蘸熱麻油中。乘熱印於齲齒臼中。三兩次而痛如掃。絕妙。</p>
<p>速效散　治牙齒疼痛如神。</p>
<p>蘆薈　丁香（各四錢）</p>
<p>上為細末。敷患處。立功。</p>
<p>止痛散</p>
<p>胡椒　楊梅皮　焰硝（各等分）</p>
<p>上為末。擦患處則痛更甚。須臾全安。</p>
<p>丁香散</p>
<p>艾葉（大檳榔大）　花椒（十粒）　丁子（三個）</p>
<p>上三味。盛布袋滾湯浸。須臾絞之。以患齒齧布袋。熏之而後用藥汁含漱。</p>
<p>開笑散</p>
<p>牙茶（四錢）　大黃　黃芩　升麻　當歸　地黃　牡丹皮（各二錢）　細辛（五分）</p>
<p>上八味。以水五合。煮取三合。頻含漱。</p>
<p>治牙痛齲齒痛方</p>
<p>燕屎（長夏日取之）</p>
<p>上細末。麻油和勻。隨齒痛左右。以少許入耳中。即愈。</p>
<p>治齲齒疼痛灸法</p>
<p>上齒痛者。灸足三里。下齒痛者。灸列缺。</p>
