<header data-type="book">
<h1>醫經讀</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈又彭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1764">公元1764年</data></dd></div>
</dl>
</header>

<h1>平集</h1>
<p>醫不知病何由治病醫不知不病何由知病平平人也即不病人也經有平人氣象篇蓋取諸此</p>
<p>昔在黃帝生而神靈弱而能言幼而徇齊長而敦敏成而登天（上古天真論）</p>
<p>乃問於岐伯曰地之為下否乎岐伯對曰為人之下太虛之中者也曰馮乎對曰大氣舉之也寒暑六入故令虛而生化也（素五運行）</p>
<p>寒暑六入謂五氣從上下四旁而入非六氣也六氣乃後人偽造詳辨於後</p>
<p>帝曰天以六六之節以成歲人以九九制會何謂也岐伯曰六六之節九九制會者所以正天之度氣之數也</p>
<p>按六六之節即三百六十日法也九九制會者用九九之法以推日月五星之會也法具周髀經度者所以測天之程也天體環轉不息難以測度聖人以星之明顯者（即二十八經星也）識之為限而後度乃生焉譬以山川城邑識道里之遠近耳奇器圖每度二百五十里然天體如卵度如柳葉近極者狹近赤道者廣難以一定拘也氣者二十四氣也數者盈虛之數也</p>
<p>日為陽月為陰行有分紀周有道里日行一度月行十三度而有奇焉故大小月三百六十五日而成歲積氣余而盈閏矣</p>
<p>按日行周天三百六十五日四分之一月行疾每日過十三度有餘約二十九日零退一周天凡十二周天得三百五十四日零較日行少十日零所謂日月不齊之數也聖人於是正歲年以別之周禮太史正歲年注中數曰歲朔數曰年故歲必二十四氣全年則十二月或十三月乃以氣之盈補朔之虛每三十四月而適齊六十六氣故謂之閏</p>
<p>立端於始表正於中推余於終而天度畢矣</p>
<p>按左傳作履端於始舉正於中歸餘於終史記作歸邪於終蓋古人推歷謂之步歷言日月轉運於天猶人之行步也履即步也日月之行必有餘分履端於始者必以日月全數前無餘分之日為上元歷之端首也舉正於中者中氣不越本月若盈本月一策此月即是閏月也歸餘於終者積余成一月而置閏也</p>
<p>天有十日（十干也）日六竟而周甲（六十日周一甲子也）甲六復（六甲子也）而終歲三百六十日法也五日謂之候三候謂之氣六氣謂之時四時謂之歲而各從其主治焉五運相襲而皆治之終期之日周而復始時立氣布如環無端候亦同法</p>
<p>汲塚周書時訓解立春之日東風解凍又五日蟄蟲始振又五日魚上冰此即五日謂之候也其餘節氣仿此不備錄</p>
<p>春勝長夏長夏勝鼕鼕勝夏夏勝秋秋勝春</p>
<p>土分旺四季十八日取萬物生於土歸於土之義究非土之定位惟長夏乃其定位耳特夏火方盡秋金復至長夏幾為虛位莫若遵六元正紀五步為正大寒交初運木旺春分後第十三日交二運火旺芒種後十日交三運土旺處暑後七日交四運金旺立冬後四日交終運水旺如此則五行各得其平矣</p>
<p>求其至也皆歸始春未至而至此謂太過則薄所不勝而乘所勝也命曰氣淫至而不至此謂不及則所勝妄行而所生受病所不勝薄之也命曰氣迫</p>
<p>天食人以五氣地食人以五味（素六節藏象論）</p>
<p>天有五行御五位以生寒暑燥濕風人有五臟化五氣以生喜怒悲憂恐（素天元紀）</p>
<p>心者君主之官也神明出焉肺者相命脈之官治節出焉肝者將軍之官謀慮出焉膽者中正之官決斷出焉膻中者臣使之官喜樂出焉脾胃者倉廩之官五味出焉大腸者傳道之官變化出焉小腸者受盛之官化物出焉腎者作強之官伎巧出焉三焦者決瀆之官水道出焉膀胱者州都之官津液藏焉氣化則能出矣凡此十二官者不得相失也故主明則下安以此養生則壽主不明則十二官危使道閉塞而不通形乃大傷（素靈蘭秘典）</p>
<p>（彭）按膀胱止有一口口端橫一管上半管即名下焦下半管即是溺孔未溺時膀胱之底下垂其口向上與下焦直對故下焦別迴腸而滲入焉欲溺時大氣舉膀胱之底則其口向下從溺孔注出故曰氣化則能出矣妊婦胎壓胞門</p>
<p>小便不出丹溪用托胎法深得此意</p>
<p>五臟者藏精氣而不瀉也故滿而不能實六腑者傳化物而不藏故實而不能滿也水穀入口則胃實而腸虛食下則腸實而胃虛故曰實而不能滿也（素五臟別論）</p>
<p>五臟宜藏六腑宜通（東垣語）</p>
<p>陰中有陰陽中有陽平旦至日中天之陽陽中之陽也日中至黃昏天之陽陽中之陰也合夜至雞鳴天之陰陰中之陰也雞鳴至平旦天之陰陰中之陽也故人亦應之夫言人之陰陽則外為陽內為陰背為陽腹為陰六腑皆為陽五臟皆為陰背為陽陽中之陽心也陽中之陰肺也腹為陰陰中之陽肝也陰中之陰腎也陰中之至陰脾也（素金匱真言）</p>
<p>知此可以決病之間劇</p>
<p>聖人南面而立前曰廣明後曰太衝太衝之地名曰少陰少陰之上名曰太陽太陽根起於至陰結於命門名曰陰中之陽中身而上名曰廣明廣明之下名曰太陰太陰之前名曰陽明陽明根起於厲兌名曰陰中之陽厥陰之表名曰少陽少陽根起於竅陰名曰陰中之少陽是三陽之離合也太陽為開陽明為闔少陽為樞外者為陽內者為陰然則中為陰其衝在下名曰太陰太陰根起於隱白名曰陰中之陰太陰之後名曰少陰少陰根起於湧泉名曰陰中之少陰少陰之前名曰厥陰厥陰根起於大敦陰之絕陽名曰陰之絕陰是三陰之離合也太陰為開厥陰為闔少陰為樞（素陰陽離合）肺手太陰之脈起於中焦（直接中焦中焦從胃通出外對中脘穴在心蔽骨與臍之中）下絡大腸還循胃口上膈（胃口上心肺下有膈膜遮隔濁氣不使上侵此係清濁分界所以十二經由此上下皆書之）屬肺從肺系橫出腋下（肩下脅上曰腋）下循臑內行少陰心主之前下肘中循臂內（肩下一節為臑臑盡處為肘肘下為臂臂盡為腕腕盡處直至指俱名手）上骨下廉（臂有兩骨行臂內側上骨之下廉）入寸口（即診脈處）上魚（掌骨之前大指之後肉隆起處為魚）循魚際（大指本節後穴名）出大指之端（少商穴大指內側去爪甲角如韭葉）其支者從腕後（列缺穴兩手交叉食指盡處是也太陰絡從此別走陽明）直出次指內廉出其端是動則病肺脹滿膨膨而喘咳缺盆中痛（肩下橫骨陷中）甚則交兩手而瞀（迷亂也）此為臂厥是主肺所生病者咳上氣喘渴煩心胸滿臑臂內前廉痛厥（四肢冷）掌中熱氣盛有餘則肩臂痛風寒汗出中風小便數而欠氣虛則肩臂痛寒少氣不足以息溺色變大腸手陽明之脈起於大指次指之端（商陽穴在次指內側去爪甲角如韭葉）循指上廉出合谷兩骨之間（合谷穴名在大指次指岐骨陷中）上入兩筋之中循臂上廉入肘外廉上臑外前廉上肩出髃骨之前廉上出於柱骨之會上下入缺盆絡肺下膈屬大腸其支者從缺盆上頸貫頰入下齒中還出挾口交人中左之右右之左上挾鼻孔（迎香穴鼻下孔旁五分）是動則病齒痛頸腫是主津液所生病者目黃口乾鼽（清涕）衄（鼻血）喉痹肩前臑痛大指次指痛不用氣有餘則當脈所過者熱腫虛則寒慄不復</p>
<p>胃足陽明之脈起於鼻之交頞中（山根）旁約太陽之脈下循鼻外上入齒中還出挾口環唇下交承漿（任脈穴在唇稜下陷中）卻循頤後下廉（腮下為頷頷下為頤）出大迎（穴在曲頷前寸二分）循頰車（耳下八分曲頰端近前陷中）上耳前過客主人（足少陽經穴在耳前起骨）循髮際至額顱其支者從大迎前下人迎（結喉旁一寸五分動脈）循喉嚨入缺盆下膈屬胃絡脾其直者從缺盆下乳內廉（從乳中過）下挾臍入氣街中（穴在臍下八寸去中行二寸）其支者起於胃口下循腹裡下至氣街中而合以下髀關抵伏兔（足之本節為髀髀前膝上六寸起肉處為伏兔伏兔後橫紋中為髀關髀內為股髀盡處前為膝後為膕第二節為脛脛盡處即內外踝下為足）下膝臏中（挾膝筋中為臏）下循脛外廉下足跗（足面）入中指內間其支者下廉三寸而別下入中指外間其支者別跗上入大指間出其端（厲兌穴在足大指次指之端去爪甲角如韭葉）是動則病洒洒振寒善呻數欠顏黑病至則惡人與火聞木聲則惕然而驚心欲動獨閉戶塞牖而處甚則欲上高而歌棄衣而走賁響腹脹是謂骭厥（脛骨為骭）是主血所生病者狂瘧溫淫汗出鼽衄口喎唇胗頸腫喉痹大腹水腫膝臏腫痛循膺乳氣街股伏兔骭外廉足跗上皆痛中指不用氣盛則身以前皆熱其有餘於胃則消穀善飢溺色黃氣不足則身以前皆寒慄胃中寒則脹滿脾足太陰之脈起於大指之端（隱白穴在大指端內側去爪甲角如韭葉）循指內側白肉際（白肉三陰脈所經赤肉三陽脈所經際乃白肉盡處）過核骨後上內踝前廉上踹內（足肚）循脛骨後交出厥陰之前上膝股內前廉入腹屬脾絡胃上膈挾咽連舌本散舌下其支者復從胃別上膈注心中是動則病舌本強食則嘔胃脘痛腹脹善噫得後與氣則快然如衰身體皆重是主脾所生病者舌本痛體不能動搖食不下煩心心下急痛溏瘕泄水閉黃疸不能臥強立股膝內腫厥足大指不用</p>
<p>心手少陰之脈起於心中出屬心系（心系上與肺通由肺葉而下曲折向後貫脊髓通於腎）下膈絡小腸其支者從心系上挾咽系目系其直者復從心系卻上肺下出腋下下循臑內後廉行太陰心主之後下肘內循臂內後廉抵掌後銳骨之端入掌內後廉循小指之內出其端（少衝穴在小指內側去爪甲角如韭葉）是動則病嗌乾心痛渴而欲飲是為臂厥是主心所生病者目黃脅痛臑臂內後廉痛厥掌中熱痛</p>
<p>小腸手太陽之脈起於小指之端（少澤穴在小指外側去爪甲角下一分陷中）循手外側上腕出踝中（腕下高骨）直上循臂骨下廉出肘內側兩筋之間上循臑外後廉出肩解（脊兩旁為膂膂上兩角為肩解）繞肩胛（肩解下成片骨）交肩上（上會大椎乃左右相交於肩上）入缺盆絡心循咽下膈抵胃屬小腸其支者從缺盆循頸上頰至目銳眥（目外角為銳眥）卻入耳中其支者別頰上䪼（目下為䪼）抵鼻至目內眥（內角）斜絡於顴是動則病嗌痛頷腫不可以顧肩似拔臑似折是主液所生病者耳聾目黃頰腫頸頷肩臑肘臂外後廉痛</p>
<p>膀胱足太陽之脈起於目內眥（睛明穴為手足太陽足陽明陰蹻陽蹻五脈之會）上額交巔（百會穴）其支者從巔至耳上角其直者從巔入絡腦還出別下項循肩膊內（肩後下為膊）挾脊抵腰中入循膂絡腎屬膀胱其支者從腰中下挾脊貫臀入膕中其支者從膊內左右別下貫胛挾脊內過髀樞（捷骨下為髀樞）循髀外從後廉下合膕中（與前入膕中者合）以下貫腨內出外踝之後循京骨（足外側赤白肉際小指本節後大骨）至小指外側（至陰穴在小指外側本節前陷中）是動則病沖頭痛目似脫項如拔脊痛腰似折髀不可以曲膕如結腨如裂是為踝厥是主筋所生病者痔瘧狂癲疾頭囟項痛目黃淚出鼽衄項背腰尻膕踹腳皆痛小指不用</p>
<p>腎足少陰之脈起於小指之下邪趨足心（湧泉穴在足心屈足卷指宛宛中）出於然谷之下（足內踝前起大骨下陷中）循內踝之後別入跟中以上腨內出膕內廉上股內後廉貫脊（與督脈會長強穴）屬腎絡膀胱其直者從腎上貫肝膈入肺中循喉嚨挾舌本其支者從肺出絡心注胸中是動則病飢不欲食麵如漆柴咳唾則有血喝喝而喘坐而欲起目𥉂𥉂如無所見心如懸若飢狀氣不足則善恐心惕惕如人將捕之是為骨厥是主腎所生病者口熱舌乾咽腫上氣嗌乾及痛煩心心痛黃疸腸澼脊股內後廉痛痿厥嗜臥足下熱而痛</p>
<p>心主手厥陰心包絡之脈起於胸中出屬心包絡下膈歷絡三焦其支者從胸中出脅（腋下為脅）下腋三寸上抵腋下循臑內行太陰少陰之間入肘中下臂行兩筋之間入掌中循中指出其端（中衝穴在中指端爪甲如韭葉陷中）其支者別掌中循小指次指出其端是動則病手心熱臂肘攣急腋腫甚則胸脅支滿心中憺憺大動面赤目黃喜笑不休是主脈所生病者煩心心痛掌中熱</p>
<p>三焦手少陽之脈起於小指次指之端（關衝穴在無名指外側去爪甲如韭葉）上出兩指之間循手表腕出臂外兩骨之間上貫肘循臑外上肩而交出足少陽之後入缺盆布膻中（兩乳中間）散絡心包下膈循屬三焦其支者從膻中上出缺盆上項系耳後直上出耳上角以屈下頰至䪼其支者從耳後入耳中出走耳前過客主人前交頰至目銳眥是動則病耳聾渾渾焞焞嗌腫喉痹是主氣所生病者汗出目銳眥痛頰腫耳後肩臑肘臂外皆痛小指次指不用</p>
<p>膽足少陽之脈起於目銳眥（瞳子髎穴在目外去眥五分）上抵頭角下耳後循頸行手少陽之前至肩上卻交出手少陽之後入缺盆其支者從耳後入耳中出走耳前至目銳眥後其支者別銳眥下大迎合於手少陽抵於䪼下加頰車下頸合缺盆（與前入者合）以下胸中貫膈絡肝屬膽循脅裡出氣街繞毛際橫入髀厭中（股與少腹之間陷中）其直者從缺盆下腋循胸過季脅（脅骨之下為季脅）下合髀厭中以下循髀陽（循髀外行太陽陽明之間）出膝外廉下外輔骨之前直下抵絕骨之端（外踝上為絕骨）下出外踝之前循足跗上入小指次指之間（竅陰穴在小指次指外側去爪甲角如韭葉足少陽脈至此而終）其支者別跗上入大指之間循大指岐骨內出其端（大指本節後為岐骨）還貫爪甲出三毛是動則病口苦善太息心脅痛不能轉側甚則面微有塵體無膏澤足外反熱是為陽厥是主骨所生病者頭痛頷痛目銳眥痛缺盆中腫痛脅下腫馬刀俠癭汗出振寒瘧胸脅肋髀膝外至脛絕骨外踝前及諸節皆痛</p>
<p>肝足厥陰之脈起於大指叢毛之際（大敦穴在大指端去爪甲如韭葉為厥陰所出之井針灸家皆用之然經則明言起於叢毛之際非指端也今厥陰逆上腹痛脈絕欲死者灸叢毛大驗）上循足跗上廉去內踝一寸上踝八寸交出太陰之後上膕內廉循股陰入毛中過陰器（左右環繞陰器）抵小腹挾胃屬肝絡膽上貫膈布脅肋循喉嚨之後上入頏顙連目繫上出額與督脈會於巔其支者從目系下頰裡環唇內其支者復從肝別貫膈上注肺是動則病腰痛不可以俯仰丈夫㿉疝婦人少腹腫甚則嗌乾面塵脫色是肝所生病者胸滿嘔逆飧泄狐疝遺溺閉癃（靈經脈篇）別者另分一支也合者本經兩脈相合也會者與他經相會也交者或本經左右兩脈相交或與他經相交也加者加於上不相通也挾者夾也約者約束也環者環繞也散者非一絡也循者依傍而行也貫者穿過也夫經絡如織營衛如環而欲一一寫出纖悉無遺不亦難哉經獨以數活字鉤清之宛似繪一生人模樣垂示來茲較之禹貢浚川圖史記天官書更勝一籌非作者之聖其孰能之</p>
<p>治病猶治賊必先識賊之所在斯不勞而獲倘賊在此界而反於彼境捕之則彼境無辜之民徒增擾動而此界真賊且不治而日熾矣十二經脈所經之處即十二經所轄無異省治之分界也如某處痛某處癢某處熱腫某處寒慄即可知何經受病又寧有誤治之慮哉然則此篇經文洵為大小內外諸科一刻不可離之法也</p>
<p>督脈者起於下極之俞並於脊裡上至風府入屬於腦任脈者起於中極之下以上毛際循腹裡上關元至咽喉衝脈者起於氣衝並足陽明之經（今內經俱作少陰）挾臍上行至胸中而散帶脈者起於季脅回身一周陽蹻脈者起於跟中循外踝上行入風池陰蹻脈者亦起於跟中循內踝上行至咽喉交貫衝脈陽維陰維維絡於身溢蓄不能環流灌溉諸經者也陽維起於諸陽會陰維起於諸陰交也（二十八難）</p>
<p>陽維維於陽陰維維於陰陰陽不能自相維則悵然失志溶溶不能自收持陽維為病苦寒熱陰維為病苦心痛陰蹻為病陽緩而陰急陽蹺為病陰緩而陽急衝之為病逆氣裡急督之為病脊強而厥任之為病其內苦結男子為七疝女子為瘕聚（內經男子內結七疝女子帶下瘕聚）帶之為病腹滿腰溶溶如坐水中此奇經八脈之為病也（二十九難）（彭）按奇經八脈經文錯亂定系後人傳寫之誤越人時所讀不若是也故所述明晰謹遵錄之</p>
<p>人焉受氣陰陽焉會何氣為營何氣為衛營安從生衛於焉會老壯不同氣陰陽異位願聞其會曰人受氣於谷谷入於胃以傳於肺五臟六腑皆以受氣其清者為營濁者為衛營在脈中衛在脈外營周不休五十而復大會陰陽相貫如環無端衛氣行於陰二十五度行於陽二十五度分為晝夜故氣至陽而起至陰而止故曰日中而陽隴為重陽夜半而陰隴為重陰故太陰主內太陽主外各行二十五度分為晝夜夜半為陰隴夜半後為陰衰平旦陰盡而陽受氣矣日中而陽隴日西為陽衰日入陽盡而陰受氣矣夜半而大會萬民皆臥命曰合陰平旦陰盡而陽受氣如是無已與天地同紀壯者氣血盛肌肉滑氣道通營衛之行不失其常故晝精而夜瞑老者氣血衰肌肉枯氣道澀其營氣衰少而衛氣內伐故晝不精夜不眠營出於中焦衛出於上焦（刻本誤作下）上焦出於胃上口並咽以上貫膈而布胸中走腋循太陰之分而行還至陽明上至鼻（刻本誤作舌）下足陽明常與營俱行於陽二十五度行於陰亦二十五度一周也故五十度而復大會於手太陰矣中焦亦並胃中出上焦之後此所受氣者泌糟粕蒸津液化其精微上注於肺脈乃化而為血以奉生身莫貴於此故獨得行於經隧命曰營氣營衛者精氣也血者神氣也血之與氣異名而同類焉故奪血者無汗奪汗者無血下焦者別迴腸注於膀胱而滲入焉水穀者常並居於胃中成糟粕而下於大腸濟泌別汁循下焦而滲入膀胱焉上焦如霧中焦如漚下焦如瀆此之謂也（靈樞經營衛生會篇）</p>
<p>（彭）按三焦即三個管子非有名無象也若果有名無象如何並咽並胃</p>
<p>又按衛氣出於上焦者水穀入胃胃底之陽蒸氣上騰若霧露之溉此即衛氣也由上焦出於胃上口尚在膈膜之下於是貫膈散布胸中然後循太陰分肉之間而行於脈外故曰上焦如霧經文本自明白如果出於下焦則清陽之氣與便溺同出有是理乎越人讀經未察衛氣出於下焦之誤遂謂上焦主內而不出幾令衛氣全無出路</p>
<p>分肉腠理字義當曉肉必絲絲成理故謂之理有數十百理聚而為縱者有數十百理聚而為橫者有數十百理聚而為斜者或縱或橫或斜數塊並作一塊其並處必有穴從並處說到外面謂之分謂其肉由此而分也從外面說到並處謂之腠謂其數肉並腠也脈在其中衛即行乎脈外氣穴論云肉之大會為穀肉之小會為溪肉分之間溪谷之會以行營衛以會大氣是也循太陰之分而行之分字當作是解其言上焦出於胃上口並咽以上貫膈到此則上焦之管子已盡衛氣在膈上既出上焦管子即散布胸中此乃如煙如霧之物逢空則走故循太陰之分肉而行乎脈外依次循手陽明至足陽明是明明指衛氣言若云指上焦言豈上焦直至足乎問何以知上焦是管子曰若無管子則並咽以上者何物何以知管子到膈上即盡曰到此不盡衛亦行乎脈中矣手太陰脈從胸走手手陽明脈從手走頭故曰還至陽明</p>
<p>手陽明脈盡處上挾鼻孔足陽明脈起於鼻之交頞中故曰還至陽明上至鼻下足陽明刻本鼻字誤作舌字沒解（彭）擅改正</p>
<p>營氣出於中焦者水穀在胃漸漸腐化如造酒然有泡微起其汁若酒漿者即是營氣從中焦上注肺脈脈乃心火主之營在脈中藉心火煅煉成赤即是血故曰中焦如漚又曰營衛者精氣也血者神氣也蓋陽之精為神而藏神者心非藉心火煅煉而何下焦者水之出路也水穀在胃漸漸變化下至小腸尚未分別直至小腸下口與迴腸會處有一管直對膀胱即是下焦水從此滲入焉故曰下焦如瀆臍上一寸為水分穴即是分水處</p>
<p>衛氣晝行於陽夜行於陰最為難解其曰營行脈中衛行脈外五十而復大會又曰常與營俱行陽二十五度行陰二十五度一周也是營衛同行固屬無疑但營出於中焦由手太陰注手陽明手陽明注足陽明足陽明注足太陰順十二經之貫注則陰經陽經相間而行營既如此衛亦宜然豈有晝止行陽經夜止行陰經哉然而經則明明言衛氣晝日行於陽夜行於陰其故何與</p>
<p>（彭）謂陰陽者數之可十推之可至百千萬也晝行陽夜行陰此陰陽非指經絡言乃指外內言也蓋脈在分肉之間營行脈中衛即行乎脈外無論陰經陽經衛氣浮上而行者即行於陽也沉伏而行者即行於陰也行於陽則表實故晝日體耐風寒行於陰則表虛故夜臥不耐風寒此其驗也太陰為陰中之至陰故主內太陽為表故主外夫衛猶日也營猶月也雖日有黃赤道月有四遊儀總不越乎東昇西降之常耳至若靈樞衛氣行一篇手三陽經倒行足三陽經無還路不可為訓素經脈別論論食氣入胃一言散精於肝一言濁氣歸心靈邪客篇論谷入於胃宗氣積於胸中衛氣先行皮膚與此論營衛同起於手太陰迥然不同則無容信為兩是矣但此篇越人仲景俱各引用而別論邪客從無一言論及故皆不錄</p>
<p>女子七歲腎氣盛齒更髮長二七而天癸至任脈通太衝脈盛月事以時下故有子三七腎氣均平故真牙生而長極七七任脈虛太衝脈衰少天癸竭地道不通故形壞而無子也丈夫八歲腎氣實發長齒更二八腎氣盛天癸至精氣溢瀉陰陽和故能有子三八腎氣均平筋骨勁強故真牙生而長極八八則齒髮去五臟皆衰筋骨懈惰天癸竭故髮鬢白身體重行步不正而無子耳（素上古天真論）</p>
<p>（彭）按天癸是女精由任脈而來月事是經血由太衝而來　經言二七而天癸至緣任脈通斯時太衝脈盛月事亦以時下一順言之一逆言之耳故月事不調不來及崩是血病咎在衝脈衝脈隸陽明帶下是精病咎在任脈任脈隸少陰蓋身前中央一條是任脈背後脊裡一條是督脈皆起於前後兩陰之交會陰穴難經明晰靈素傳誤帶脈起於季脅似束帶狀人精藏於腎腎繫於腰背精欲下泄必由帶脈而前然後從任脈而下故經言任脈為病女子帶下</p>
<p>兩神相搏合而成形常先身生是為精上焦開發宣五穀味熏膚充身澤毛若霧露之溉是謂氣腠理發泄汗出溱溱是謂津谷入氣滿淖澤注於骨骨屬屈伸泄澤補益腦髓皮膚潤澤是謂液中焦受氣取汁變化而赤是謂血壅遏營氣令無所避是謂脈精脫者耳聾氣脫者目不明津脫者腠理開汗大泄液脫者骨屬屈伸不利色夭腦髓消脛痠耳數鳴血脫者色白夭然不澤其脈空虛（靈決氣）</p>
<p>肺氣通於鼻肺和則鼻能知臭香矣心氣通於舌心和則舌能知五味矣肝氣通於目肝和則目能辨五色矣脾氣通於口脾和則口能知五穀矣腎氣通於耳腎和則耳能聞五音矣（靈脈度）</p>
<p>人臥血歸於肝肝受血而能視足受血而能步掌受血而能握指受血而能攝（素五臟生成）</p>
<p>心惡熱肺惡寒肝惡風脾惡濕腎惡燥（素宣明五氣）</p>
<p>五臟之精氣皆上注於目骨之精為瞳子筋之精為黑眼血之精為絡氣之精為白眼肌肉之精為約束裹擷筋骨血氣之精而與脈併為繫上屬於腦後出於項中故邪中於項因逢其身之虛其入深則隨眼系以入於腦則腦轉腦轉則引自系急目系急則目眩以轉矣精散則視岐視岐見兩物目者五臟六腑之精也營衛魂魄之所常營也神氣之所生也故神勞則魂魄散志意亂卒然見非常處</p>
<p>（靈大惑論）</p>
<p>肝生於左肺藏於右心部於表腎治於裡脾為之使胃為之市膈肓之上中有父母七節之旁中有小心（靈刺禁論）胃者水穀之海衝脈為十二經之海膻中為氣之海腦為髓之海（靈海論）</p>
<p>唇至齒長九分口廣二寸半齒至會厭深三寸半舌長七寸廣二寸半咽門廣二寸半至胃長一尺六寸胃紆曲屈伸之長二尺六寸大一尺五寸徑五寸大容三斗五升小腸後附脊左環回周疊積其注於迴腸者外附於臍上回運環十六曲大二寸半徑八分分之少半長三丈三尺迴腸當臍左（難經作右）環回周葉積而下回運環反十六曲大四寸徑一寸寸之少半長二丈一尺廣腸傅脊以受迴腸左環葉積上下闢大八寸徑二寸寸之大半長二尺八寸（靈腸胃篇）</p>
<p>此同身寸也不必疑為周尺蓋周以古之八寸為尺中人長七尺五寸故五尺之童六尺之孤皆言其小同身寸者屈本人中指中節橫紋頭為寸十寸為尺中人亦長七尺五寸適與周尺相合耳若果為周尺則此經偽矣</p>
<p>肝凡七葉左三右四心中有七孔三毛盛精汁三合脾扁廣三寸大五寸有散膏半斤主裹血溫五臟肺六葉兩耳凡八葉腎有兩枚膽在肝之短葉間盛精汁三合膀胱縱廣九寸（四十二難）</p>
<p>唇為飛門齒為戶門會厭為吸門胃為賁門太倉下口為幽門大腸小腸會為闌門下極為魄門此七衝門也（四十四難）</p>

<h1>病集</h1>
<p>病得其因治之方效若論病而不論其所以病總屬偽造一概不錄</p>
<p>陰陽者天地之道也萬物之綱紀變化之父母生殺之本始神明之府也治病必求其本故積陽為天積陰為地陰靜陽躁陽生陰長陽殺陰藏陽化氣陰成形寒極生熱熱極生寒寒氣生濁熱氣生清清氣在下則生飧泄濁氣在上則生䐜脹此陰陽反作病之逆從也故清陽為天濁陰為地地氣上為雲天氣下為雨雨出地氣云出天氣故清陽出上竅濁陰出下竅清陽發腠理濁陰走五臟清陽實四肢濁陰歸六腑水為陰火為陽陽為氣陰為味味歸形形歸氣氣歸精精歸化精食氣形食味化生精氣生形味傷形氣傷精精化為氣氣傷於味陰味出下竅陽氣出上竅味厚者為陰薄為陰之陽氣厚者為陽薄為陽之陰味厚則泄薄則通氣薄則發泄厚則發熱壯火之氣衰少火之氣壯壯火食氣氣食少火壯火散氣少火生氣氣味辛甘發散為陽酸苦湧泄為陰陰勝則陽病陽勝則陰病陽勝則熱陰勝則寒重寒則熱重熱則寒寒傷形熱傷氣氣傷痛形傷腫風勝則動熱勝則腫燥勝則乾寒勝則浮濕勝則濡瀉天有四時五行以生長收藏以生寒暑燥濕風人有五臟化五氣以生喜怒悲憂恐故喜怒傷氣寒暑傷形暴怒傷陰暴喜傷陽厥氣上行滿脈去形喜怒不節寒暑過度生乃不固故重陰必陽重陽必陰故曰冬傷於寒春必病溫春傷於風夏生飧泄夏傷於暑秋必痎瘧秋傷於濕冬生咳嗽東方生風風生木木生酸酸生肝肝生筋筋生心肝主目其在天為元在人為道在地為化化生五味道生智元生神神在天為風在地為木在體為筋在臟為肝在色為蒼在音為角在聲為呼在變動為握在竅為目在味為酸在志為怒怒傷肝悲勝怒風傷筋燥勝風酸傷筋辛勝酸南方生熱熱生火火生苦苦生心心生血血生脾心主舌其在天為熱在地為火在體為脈在臟為心在色為赤在音為徵在聲為笑在變動為憂在竅為舌在味為苦在志為喜喜傷心恐勝喜熱傷氣寒勝熱苦傷氣咸勝苦中央生濕濕生土土生甘甘生脾脾生肉肉生肺脾主口其在天為濕在地為土在體為肉在臟為脾在色為黃在音為宮在聲為歌在變動為噦在竅為口在味為甘在志為思思傷脾怒勝思　濕傷肉風勝濕甘傷肉酸勝甘西方生燥燥生金金生辛辛生肺肺生皮毛皮毛生腎肺主鼻其在天為燥在地為金在體為皮毛在臟為肺在色為白在音為商在聲為哭在變動為咳在竅為鼻在味為辛在志為憂憂傷肺喜勝憂熱傷皮毛寒勝熱辛傷皮毛苦勝辛北方生寒寒生水水生鹹鹹生腎腎生骨髓髓生肝腎主耳其在天為寒在地為水在體為骨在臟為腎在色為黑在音為羽在聲為呻在變動為慄在竅為耳在味為咸在志為恐恐傷腎思勝恐寒傷血燥勝寒咸傷血甘勝咸故曰天地者萬物之上下也陰陽者血氣之男女也左右者陰陽之道路也水火者陰陽之徵兆也陰陽者萬物之能始也故曰陰在內陽之守也陽在外陰之使也天不足西北故西北方陰也而人右耳目不如左明也地不滿東南故東南方陽也而人左手足不如右強也天氣通於肺地氣通於嗌風氣通於肝雷氣通於心穀氣通於脾雨氣通於腎陽之汗以天地之雨名之陽之氣以天地之疾風名之暴氣象雷逆氣象陽形不足者溫之以氣精不足者補之以味其高者因而越之其下者引而竭之中滿者瀉之於內其有邪者漬形以為汗其在皮者汗而發之其慓悍者按而收之其實者散而瀉之審其陰陽以別柔剛陽病治陰陰病治陽定其血氣各守其鄉血實宜決之氣虛宜掣引之（陰陽大論）</p>
<p>（彭）按壯火亢陽也少火微陽也舊作君相解欠穩又按仲景傷寒論自敘云撰用素問九卷八十一難陰陽大論胎臚藥錄四種而不及靈樞今胎臚藥錄不少概見而陰陽大論一書併入素問內後人循名而論自然素問是真靈樞是假及細讀之素問內不乏淺陋之語而靈樞中亦有神化之言要之靈樞即從素問內分出無疑</p>
<p>夫天以陰陽五行化生萬物氣以成形而理亦賦焉故天食人以五氣五氣偏勝則病地食人以五味五味偏勝則病人具五志五志偏用則病病變千端總不能外此而生其治之之法不過以所勝平之真所謂要言不煩入理最深者也此本是專書並非素問中一論旦夕咀含至味乃出</p>
<p>太陰陽明為表裡脾胃是也生病而異何也曰陰陽異位更虛更實更逆更從或從內或從外所從不同故病異名也陽者天氣也主外陰者地氣也主內陽道實陰道虛故犯賊風虛邪者陽受之食飲不節起居不時者陰受之陽受之則入六腑陰受之則入五臟入六腑則身熱不時臥上為喘呼入五臟則䐜滿閉塞下為飧泄久為腸澼喉主天氣咽主地氣陽受風氣陰受濕氣陰氣從足上行至頭而下行循臂至指端陽氣從手上行至頭而下行至足故陽病者上行極而下陰病者下行極而上傷於風者上先受之傷於濕者下先受之脾病而四肢不用何也曰四肢皆稟氣於胃而不得至經必因於脾乃得稟也今脾病不能為胃行其津液四肢不得稟水穀氣氣日以衰脈道不利筋骨肌肉皆無氣以生故不用焉脾不主時何也曰脾者土也治中央常以四時長四臟各十八日寄治不得獨主於時也脾與胃以膜相連耳而能為之行其津液何也曰足太陰者三陰也其脈貫胃屬脾絡嗌故太陰為之行氣於三陰陽明者表也五臟六腑之海也亦為之行氣於三陽臟腑各因其經而受氣於陽明故為胃行其津液（素太陰陽明論）</p>
<p>仲景論中陽明病欲作痼瘕是陽明轉太陰也轉屬陽明是太陰轉陽明也與篇中更實更虛之說正自相符可信此為仲景所讀之真經也</p>
<p>東垣一生得力處全在此篇</p>
<p>三陰三陽明明指十二經言也但經脈自手太陰交手陽明手陽明交足陽明足陽明交足太陰陰陽相貫如環無端斷無越陰而專行三陽越陽而專行三陰之理未段問答疑係後人所續</p>
<p>又按神農本經有健脾二字而素問靈難缺焉不講（彭）偶　見蜂之釀蜜日則取花置窠夜則張翅扇之薨薨有聲花遂成蜜因想脾在胃外其中央以膜連胃兩旁懸空如翅時時鼓扇以助胃底真陽熏蒸消穀則所謂健者乃動而不息之意也此第率臆而談尚未知有當否</p>
<p>今夫熱病者皆傷寒之類也或愈或死其死皆以六七日之間其愈皆以十日以上者何也曰巨陽者諸陽之屬也其脈連於風府故為諸陽主氣也人之傷於寒也則為病熱熱雖甚不死其兩感於寒而病者必不免於死傷寒一日巨陽受之故頭項痛腰脊強二日陽明受之陽明主肉其脈挾鼻絡於目故身熱目痛而鼻乾不得臥也三日少陽受之少陽主膽其脈循脅絡於耳故胸脅痛而耳聾三陽經絡皆受其病而未入於臟者故可汗而已四日太陰受之太陰脈布胃中絡於嗌故腹滿而嗌乾五日少陰受之少陰脈貫腎絡於肺系舌本故口燥舌乾而渴六日厥陰受之厥陰脈循陰器而絡於肝故煩滿而囊縮三陰三陽五臟六腑皆受病榮衛不行五臟不通則死矣其不兩感於寒者七日巨陽病衰頭痛少愈八日陽明病衰身熱少愈九日少陽病衰耳聾微聞十日太陰病衰腹減如故則思飲食十一日少陰病衰渴止不滿舌乾已而嚏十二日厥陰病衰囊</p>
<p>縱少腹微下大氣皆去病日已矣治之各通其藏脈病日衰已矣其未滿三日者可汗而已其滿三日者可泄而已病熱少愈食肉則復多食則遺此其禁也</p>
<p>兩感於寒者病一日則巨陽與少陰俱病則頭痛口乾而煩滿二日陽明與太陰俱病則腹滿身熱不欲食譫言三日少陽與厥陰俱病則耳聾囊</p>
<p>縮而厥水漿不入不知人六日死五臟已傷六腑不通榮衛不行如是之後三日乃死何也曰陽明者十二經脈之長也其血氣盛故不知人三日其氣乃盡凡病傷寒而成溫者先夏至日者為病溫後夏至日者為病暑暑與汗皆出勿止（素熱論）</p>
<p>此論熱病也傷寒有五熱病乃其一耳餘俱散失（彭）</p>
<p>將難經補之具診集中</p>
<p>夫痎瘧皆生於風其蓄作有時者何也曰瘧之始發也先起於毫毛伸欠乃作寒慄鼓頷腰脊俱痛寒去則內外皆熱頭痛如破渴欲冷飲何氣使然曰陰陽上下交爭虛實更作陰陽相移也陽並於陰則陰實而陽虛陽明虛則寒慄鼓頷也巨陽虛則腰背頭項痛三陽俱虛則陰氣勝陰氣勝則骨寒而痛寒生於內故中外皆寒陽盛則外熱陰虛則內熱外內皆熱則喘而渴故欲冷飲也此皆得之夏傷於暑熱氣盛藏於皮膚之內腸胃之外此營氣之所舍也此令人汗空疏腠理開因得秋氣汗出遇風及得之以浴水氣舍於皮膚之內與衛氣並居衛氣者晝日行於陽夜行於陰此氣得陽而外出得陰而內薄內外相薄是以日作其氣之舍深內薄於陰陽氣獨發陰邪內著陰與陽爭不得出是以間日而作也其作日晏與其日早者何氣使然曰邪氣客於風府循膂而下衛氣一日一夜大會於風府其明日日下一節故其作也晏下至骶骨其氣上行故作日益早也其間日發者由邪氣內薄於五臟橫連膜原也其道遠故間日乃作也先寒而後熱者先傷於寒而後傷於風名曰寒瘧先熱而後寒者先傷於風而後傷於寒名曰溫瘧其但熱而不寒者陰氣先絕陽氣獨發則少氣煩冤手足熱而欲嘔名曰癉瘧經云方其盛時必毀因其衰也事必大昌瘧之未發也陰未並陽陽未並陰因而調之真氣得安邪氣乃亡（素瘧論）</p>
<p>風者善行而數變藏於皮膚之間內不得通外不得泄腠理開則灑然寒閉則熱而悶其寒也則衰飲食其熱也則消肌肉使人怢慄而不能食名曰寒熱風氣與陽明入胃循脈而上至目內眥其人肥則風氣不得外泄則為熱中而目黃人瘦則外泄而寒則為寒中而泣出風氣由太陽而入行諸脈輸散於分肉之間與衛氣相干其道不利使肌肉憤䐜而有瘍衛氣有所凝而不行故其肉有不仁也風氣客於脈而不去營氣熱胕皮膚瘍㿉其氣不清使鼻柱壞而色敗名曰癘風或名寒熱風各從其門戶所中則為偏風風氣循風府而上則為腦風風入系頭則為目風眼寒飲酒中風則為漏風入房汗出中風則為內風新沐中風則為首風久風入中則為腸風飧泄外在腠理則為泄風故風者百病之長變化無常也（素風論）</p>
<p>風寒濕三氣雜至合而為痹也其風氣勝者為行痹寒氣勝者為痛痹濕氣勝者為著痹也其風氣勝者易已其入藏者死（素痹論）肺熱葉焦則皮毛虛弱急薄著則生痿躄也心氣熱則下脈厥而上上則下脈虛虛則生脈痿樞折挈脛縱不任地也肝氣熱則膽泄口苦筋膜乾筋膜乾則筋急而攣發為筋痿脾氣熱則胃干而渴肌肉不仁發為肉痿腎氣熱則腰脊不舉骨枯而髓減發為骨痿肺者藏之長為心之蓋也所求不得則發肺鳴鳴則肺熱葉焦故五臟因肺熱葉焦發為痿躄也悲哀太甚則胞絡絕絕則陽氣內動發則心下崩數溲血也大經空虛發為肌痹傳為脈痿思想無窮所願不得意淫於外入房太甚宗筋弛縱發為筋痿及為白淫生於肝使內也有漸於濕以水為事肌肉濡漬痹而不仁發為肉痿得之濕地也遠行勞倦大熱而渴陽氣內伐熱舍於腎水不勝火骨枯而髓虛故足不任身發為骨痿生於大熱也肺熱者色白而毛敗心熱者色赤而絡脈溢肝熱者色蒼而爪枯脾熱者色黃而肉蠕動腎熱者色黑而齒槁治痿獨取陽明何也陽明者五臟六腑之海主潤宗筋宗筋主束骨而利機關也衝脈者經脈之海也主滲灌溪谷與陽明合於宗筋陰陽總宗筋之會會於氣街而陽明為之長皆屬於帶脈而絡於督脈故陽明虛則宗筋縱帶脈不引足痿不用也（素痿論）</p>
<p>手屈而不伸者其病在筋伸而不屈者其病在骨（靈骨痹終始）</p>
<p>營氣虛則不仁衛氣虛則不用（素逆調論）</p>
<p>肺心有邪其氣留於兩肘肝有邪其氣流於兩腋脾有邪其氣留於兩髀腎有邪其氣留於兩膕（靈邪客）</p>
<p>血與氣並走於上則為大厥厥則暴死氣復反則生不反則死（素調經論）</p>
<p>所謂入中為喑者陽盛陰衰也內奪而厥則為喑俳此腎虛也少陰不至者厥也（陰衰之陰傳本誤作已音相近也素脈解）</p>
<p>大怒則形氣絕而血菀於上使人暴厥（暴傳本誤作薄音相近也素生氣通天論）</p>
<p>以上三節論厥病厥者逆也下脈逆而上也逆上則暴死據經所論一由於肝一由於腎初未嘗及於風也今人見此症俱稱中風而用風藥不知風藥多升益增其逆矣至若傷寒論中所稱之厥乃手足逆冷陰陽二氣不相順接之逆與此不同</p>
<p>起居不節用力過度則絡脈傷陽絡傷則血外溢血外溢則衄血陰絡傷則血內溢血內溢則後血腸胃之絡傷則血溢於腸外腸外有寒汁沫與血相搏則併合凝聚不得散而積成矣（素百病始生）</p>
<p>久視傷血久臥傷氣久坐傷肉久立傷骨久行傷筋是謂五勞所傷（素宣明五氣）</p>
<p>天有宿度地有經水人有經脈天地溫和則經水安靜天寒地凍則經水凝泣天暑地熱則經水沸溢卒風暴起則經水波湧而隴起夫邪之入於脈也寒則血凝泣暑則氣淖澤虛邪（即風邪）因而入客亦如經水之得風也經之動脈其至也亦時隴起其行於脈中循循然其至寸口中手也時大時小大則邪至小則平其行無常處在陰與陽不可為度（素離合真邪論）怒則氣上喜則氣緩悲則氣消恐則氣下寒則氣收炅則氣泄驚則氣亂勞則氣耗思則氣結九氣不同何病之生曰怒則氣逆甚則嘔血及飧泄故氣上矣喜則氣和志達營衛通利故氣緩矣悲則心系急肺布葉舉而上焦不通營衛不散熱氣在中故氣消矣恐則精卻卻則上焦閉閉則氣還還則下焦脹故氣不行矣寒則腠理閉氣不行故氣收矣熱則腠理開營衛通汗大泄故氣泄矣驚則心無所倚神無所歸慮無所定故氣亂矣勞則喘息汗出外內皆越故氣耗矣思則心有所存神有所歸正氣留而不行故氣結矣（素舉痛論）</p>
<p>人有逆氣不得臥而息有音者是陽明之逆也足陽明之脈下行今逆而上行故息有音也下經曰胃不和則臥不安此之謂也起居如故而息有音此肺之絡脈逆也絡脈之病人也微故起居如故也有不得臥臥則喘者是水氣之客也腎者水藏主津液並主臥與喘也（素逆調論）</p>
<p>五臟六腑皆令人咳非獨肺也肺咳之狀咳而喘息有音甚則唾血心咳之狀咳則心痛喉中介介如梗狀甚則嗌腫喉痹肝咳之狀咳則兩脅下痛甚則不可以轉轉則兩胠下滿脾咳之狀咳而右脅下痛隱隱引肩背甚則不可以動動則咳劇腎咳之狀咳則腰背相引而痛甚則咳涎（素咳論）</p>
<p>此非空談也考經脈篇肝絡注肺腎脈入肺心脈連肺除本經自病外三臟陰虧不能吸陽致虛陽射肺作咳者頗多細察脈證自得水與膚脹鼓脹腸覃石瘕石水何以別之曰水始起也目窠上微腫如新臥起之狀其頸脈動時咳陰股間寒足脛腫腹乃大其水已成矣以手按其腹隨手而起如裹水之狀此其候也膚脹者寒氣客於皮膚之間𪔣𪔣然不堅腹大身盡腫皮厚按其腹窅而不起腹色不變此其候也鼓脹者腹脹身皆大大與膚脹等也色蒼黃腹筋起此其候也腸覃者寒氣客於腸外與衛氣相摶氣不得營因有所繫癖而內著惡氣乃起瘜肉乃生其始生也大如雞卵稍以益大至其成如懷子之狀久者離歲按之則堅推之則移月事以時下石瘕生於胞中寒氣客於子門子門閉塞氣不得通惡血當瀉不瀉衃以留止日以益大狀如懷子月事不以時下皆生於女子可道而下（靈水脹）帝曰其有不從毫毛生五臟陽已竭也津液充郭其魄獨居精孤於內氣耗於外形不可與衣相保此四極急而動中是氣拒於內而形施於外治之奈何岐伯曰平治以權衡去宛陳莝微動四極溫衣繆刺其處以復其形開鬼門潔淨府精以時復五陽已布疏滌五臟故精自生形自盛骨肉相保巨氣乃平（素湯液醪醴）</p>
<p>腎者胃之關也關門不利故聚水而從其類也其本在腎其末在肺皆聚水也（素水熱穴）</p>
<p>面腫曰風足脛腫曰水目黃者黃疸已食如飢者胃疸（素平人氣象）</p>
<p>陽引而上衛外者也因於寒欲如運樞起居如驚神氣乃浮因於暑汗煩則喘喝靜則多言體若燔炭汗出而散因於濕首如裹濕熱不攘大筋緛短小筋弛長緛短為拘弛長為痿因於氣為腫四維相代陽氣乃竭陽氣者煩勞則張精絕闢積於夏使人煎厥目盲不可以視耳閉不可以聽潰潰乎若壞都汩汩乎不可止有傷於筋縱其若不容汗出偏沮使人偏枯汗出見濕乃生痤痱膏粱之變足生大丁受如持虛勞汗當風寒薄為皶郁乃痤陽氣者精則養神柔則養筋開闔不得寒氣從之乃生大僂陷脈為瘻留連肉腠俞氣化薄傳為善畏及為驚駭營氣不從逆於肉理乃生癰腫魄汗未盡形弱而氣鑠穴俞以閉發為風瘧故風者百病之始也清淨則肉腠閉拒雖有大風苛毒莫之能害此因時之序也陰者藏精而起亟（二字疑誤）也陽者衛外而為固也陰不勝其陽則脈流疾薄並乃狂陽不勝其陰則五臟氣爭九竅不通風客淫氣精乃亡邪傷肝也因而飽食筋脈橫解腸澼為痔因而大飲則氣逆因而強力腎氣乃傷高骨乃壞凡陰陽之要陽密乃固陽強不能密陰氣乃絕陰平陽秘精神乃治陰陽離決精氣乃絕（素生氣通天）</p>
<p>二陽（陽明）之病發心脾有不得隱曲女子不月其傳為風消其傳為息賁者死不治三陽（太陽）為病發寒熱下為癰腫及為痿厥腨㾓其傳為索澤其傳為頹疝一陽（少陽）發病少氣善咳善泄其傳為心掣其傳為隔二陽一陰（厥陰）發病主驚駭背痛善噫善欠名曰風厥二陰（少陰）一陽發病善脹心滿善氣三陽三陰（太陰）發病為偏枯痿易四肢不舉（素陰陽別論）</p>
<p>（彭）按二陽指陽明經言不指臟腑言二陽之病發心脾者陽明為多血之經而血乃水穀之精氣假心火煅煉而成憂愁思慮傷心困及其子不嗜飲食血即無以資生而陽明病矣夫前陰總宗筋之所會會於氣街而陽明為之長故陽明病則陽事衰而不得隱曲也太衝為血海並陽明之經而行故陽明病則衝脈衰而女子不月也</p>
<p>心移寒於肺肺消肺消者飲一溲二死不治肺移寒於腎為湧水湧水者按腹不堅疾行則鳴濯濯如囊裹漿水氣客於大腸也心移熱於肺傳為膈消胞移熱於膀胱則癃溺血膀胱移熱於小腸膈腸不便上為口麋大腸移熱於胃善食而瘦謂之食亦胃移熱於膽亦曰食亦膽移熱於腦則辛頞鼻淵鼻淵者濁涕下不止也傳為衄衊瞑目（素氣厥論）</p>
<p>少陰氣至則齧舌少陽氣至則齧頰陽明氣至則齧唇泄凡有五胃泄者飲食不化色黃（飲食入胃從胃至小腸漸漸變化未及變化而出知其病在胃胃乃脾之府屬土故色黃）脾泄者腹脹滿泄注食即嘔吐逆（即太陰病也論云太陰之為病腹滿而吐食不下自利益甚時腹自痛）大腸泄者食已窘迫大便色白腸鳴切痛（大腸乃肺之府屬金故色白）小腸泄者溲而便膿血少腹痛（小腹為心之府屬火故便膿血溲謂小便不閉）大瘕泄者裡急後重數至間而不能便莖中痛名曰後重（瘕結也謂有凝結而成此獨言後重則小腸泄之不後重可知矣五十七難）狂疾之始發少臥而不飢自高賢也自辨智也自倨貴也妄笑好歌樂妄行不休是也癲疾始發意不樂僵仆直視其脈三部陰陽俱盛是也（五十九難）諸風掉眩皆屬於肝諸寒收引皆屬於腎諸氣膹郁皆屬於肺諸濕腫滿皆屬於脾諸熱瞀瘛皆屬於火諸痛癢瘡皆屬於心諸厥固泄皆屬於下諸痿喘嘔皆屬於上諸禁鼓慄如喪神守皆屬於火諸痙項強皆屬於濕諸逆衝上皆屬於火諸脹腹大皆屬於熱諸躁狂越皆屬於火諸暴強直皆屬於風諸病有聲鼓之如鼓皆屬於熱諸病胕腫疼酸驚駭皆屬於火諸轉反戾水液渾濁皆屬於熱諸病水液澄澈清冷皆屬於寒諸嘔吐酸暴注下迫皆屬於熱（素至真要大論）</p>
<p>此十九條乃業醫之捷徑也歷代名醫無不熟讀引用河間劉氏尤奉為至寶疏為直格（彭）竊疑之何則病同而虛實寒熱不盡同所以望聞問切不可偏廢既見一證必須合諸現證而參觀之而後病之真情始得若以皆屬兩字概之則立十九方治之足矣察脈辨證俱為虛設治病果若是之易易耶即如諸脹腹大實則為陽明屬熱虛則為太陰屬寒何可云皆屬於火諸病胕腫有水之始起屬腎藏虛寒更有氣虛下墜濕氣外侵何可云皆屬於火諸病有聲鼓之如鼓如果皆屬於火何仲景於腹中雷鳴下利偏用生薑瀉心湯寒熱並施也諸病水液澄澈清冷如果皆屬於寒何仲景於下利清水色純青口乾舌燥者且用大承氣湯急下之也諸嘔吐酸一症丹溪主火東垣主寒施之於病各有應驗則皆屬於熱之說亦良非定論矣種種一偏之見實出粗工偽造（彭）細拈出與有識者共商之</p>

<h1>診集</h1>
<p>病不出外因五氣相感內因臟腑偏勝診得其因方可論治若云某脈頭痛某脈腳痛不及病因者徒誇不問知患暫駭人聽終無實效概置不錄</p>
<p>尺內兩旁則季脅也尺外以候腎尺內以候腹中附上左外以候肝內以候膈右外以候胃內以候脾上附上右外以候肺內以候胸中左外以候心內以候膻中前以候前後以候後上竟上者胸喉中事也下竟下者少腹腰股膝脛足中事也（素脈要精微）此分候五臟之定位也其內外兩字難解一說診脈其手必伸當以近尺澤處為內近魚際處為外若然則肝在膈下而云外以候肝內以候膈心在膻中之下而云外以候心內以候膻中則與上以候上下以候下之說左矣一說人之端拱則當以近尺澤處為外近魚際處為內若然則心肝兩句與上以候上下以候下適相合而與前以候前後以候後不相謀矣</p>
<p>（彭）竊以為內外者即前以候前後以候後也蓋人身背為陽腹為陰人垂兩手以掌向前則手之三陰在前三陽在後與腹背相應近身後為外其脈應在沉部以沉脈近後故也近身前為內其脈應在浮部以浮脈近前故也如腎與腹中同在尺部上見而腎在腹中之後故尺之沉部候腎尺之浮部候腹中附上者掌後寸許按之有高骨隴起是也即名關上肝與膈同在左附上見而肝在膈之後故左附上沉部候肝浮部候膈脾與胃同在右附上見而脾在胃之前故右附上沉部候胃浮部候脾上附上即寸部也肺近後胸近前故右上附沉部候肺浮部候胸中心近後膻中近前故左上附沉部候心浮部候膻中如是則前後俱合矣</p>
<p>獨小者病獨大者病獨疾者病獨遲者病獨熱（疑作滑）者病獨寒（疑作澀）者病獨陷下者病（素三部九候）</p>
<p>此數語乃診病之要訣鄙者恐世盡知竟以寒熱易去經文二字殊屬無解</p>
<p>諸急多寒緩者多熱大者多氣少血小者血氣皆少滑者陽氣盛微有熱澀者多血少氣微有寒（靈邪氣臟腑病形）</p>
<p>急緊也非弦也仲景云脈浮而緊者名曰弦也弦者狀如弓弦按之不移也脈緊者如轉索之無常也緩者弱也非遲也故主熱</p>
<p>尺寸者脈之大要會也從關至尺名尺內陰之所治也從關至魚名寸口陽之所治也（二難）</p>
<p>尺寸分陰陽仲景亦宗此法</p>
<p>關之前者陽之動也當見九分而浮過曰太過減曰不及上魚為溢為外關內格此陰乘脈也關以後者陰之動也當見一寸而沉過曰太過減曰不及入尺為覆為內關外格此陽乘脈也是真藏之脈不病而死也（三難）</p>
<p>覆溢為真藏死脈未必盡應其尺寸應見長短不可不知故錄之</p>
<p>呼出心與肺吸入肝與腎呼吸之間脾受穀味也其脈在中浮者陽也沉者陰也心肺俱浮浮而大散者心也浮而短澀者肺也腎肝俱沉牢而長者肝也按之濡舉指來實者腎也脾在中州故脈亦在中六脈者浮沉長短滑澀也浮滑長陽也沉短澀陰也脈有一陰一陽者沉而滑也一陰二陽者沉而滑長也一陰三陽者浮滑而長時一沉也各以其經名病逆從也（四難）</p>
<p>首四句乃人身機括靈動處當細玩之</p>
<p>脈有伏匿者謂脈居陰部而反陽脈見者為陽乘陰也雖時沉澀而短此陽中伏陰也脈居陽部而反陰脈見者為陰乘陽也雖時浮滑而長此陰中伏陽也重陽者狂重陰者癲脫陽者見鬼脫陰者目盲（二十難）</p>
<p>初持脈時如三菽之重與皮毛相得者肺部也如六菽之重與血脈相得者心部也如九菽之重與肌肉相得者脾部也如十二菽之重與筋平者肝部也按之至骨舉指來疾者腎部也（五難）</p>
<p>浮之損小沉之實大陰盛陽虛也沉之損小浮之實大陽盛陰虛也（六難）</p>
<p>春弦夏鉤秋毛冬石者四時之脈也春脈濡弱而長故曰弦夏脈來疾去遲故曰鉤秋脈輕虛以浮故曰毛冬脈沉濡而滑故曰石（十五難）</p>
<p>春脈如弦春脈者肝也東方木也萬物之所以始生也其來濡弱輕虛而滑端直以長故曰弦若來實而強此為太過病在外其來不實而微此為不及病在中太過則令人善忘忽忽眩冒而癲疾其不及則令人胸痛引背下則兩脅胠滿夏脈如鉤夏脈者心也南方火也萬物之所以盛長也其來盛去衰故曰鉤若來盛去亦盛此為太過病在外其來不盛去反盛此為不及病在中太過則令人身熱而膚痛為浸淫其不及則令人煩心上見咳唾下為氣泄秋脈如浮秋脈者肺也西方金也萬物之所以收成也其來輕虛以浮來急去散故曰浮若來毛而中央堅兩旁虛此為太過病在外其來毛而微此為不及病在中太過則令人逆氣而背痛慍慍然其不及則令人喘呼吸少氣而咳上氣見血下聞病音冬脈如營冬脈者腎也北方水也萬物之所以合藏也其來沉以搏故曰營若來如彈石此為太過病在外其去如數者此為不及病在中太過則令人解㑊脊脈痛而少氣不欲言其不及則令人心懸如病飢䏚中清脊中痛少腹滿小便變脾脈者土也孤藏以灌四旁者也善者不可得見惡者可見其來如水之流者此為太過病在外如鳥之喙者此為不及病在中太過則令人四肢不舉其不及則令人九竅不通名曰重強（素玉機真藏）</p>
<p>春胃微弦曰平弦多胃少曰肝病但弦無胃曰死（脈弱以滑是有胃氣出素問玉機真藏）胃而有毛曰秋病毛甚曰今病藏真散於肝肝藏筋膜之氣也夏胃微鉤曰平鉤多胃少曰心病但鉤無胃曰死胃而有石曰冬病石甚曰今病藏真通於心心藏血脈之氣也長夏胃微軟弱曰平弱多胃少曰脾病但代無胃曰死軟弱有石曰冬病石甚曰今病藏真濡於脾脾藏肌肉之氣也秋胃微毛曰平毛多胃少曰肺病但毛無胃曰死毛而有弦曰春病弦甚曰今病藏真高於肺以行營衛陰陽也冬胃微石曰平石多胃少曰腎病但石無胃曰死石而有鉤曰夏病鉤甚曰今病藏真下於腎腎藏骨髓之氣也（素平人氣象）</p>
<p>經言見其色而不得其脈反得相勝之脈者即死得相生之脈者病即是已何謂也曰五臟有五色皆見於面當與脈相應假令色青脈當弦而急色赤脈當浮大而散色黃脈當中緩而大色白脈當浮澀而短色黑脈當沉濡而滑此為相應也五臟各有聲色臭味皆當與脈相應其不應者病也假令色青（肝木）其脈浮澀而短（肺金克肝木）若大而緩（脾土肝木克之）為相勝或浮大而散（心火乃肝木所生）或小而滑（腎水能生肝木）為相生也（十三難）</p>
<p>十變言肝色青其臭臊其味酸其聲呼其液泣心色赤其臭焦其味苦其聲言其液汗脾色黃其臭香其味甘其聲歌其液涎肺色白其臭腥其味辛其聲哭其液涕腎色黑其臭腐其味鹹其聲呻其液唾（三十四難）肝主色心主臭脾主味肺主聲腎主液（四十難）</p>
<p>假令得肝脈其外證善潔面青善怒其內證齊左有動氣按之牢若痛其病四肢滿閉淋溲便難轉筋有是者肝也無是者非也假令得心脈其外證面赤口乾善笑其內證齊上有動氣按之牢若痛其病煩心心痛掌中熱而啘有是者心也無是者非也假令得脾脈其外證面黃善噫善思善味其內證當齊有動氣按之牢若痛其病腹脹滿食不消體重節痛怠惰嗜臥四肢不收有是者脾也無是者非也假令得肺脈其外證面白善嚏悲愁不樂欲哭其內證齊右有動氣按之牢若痛其病喘咳灑淅寒熱有是者肺也無是者非也假令得腎脈其外證面黑善恐欠其內證齊下有動氣按之牢若痛其病逆氣小腹急痛泄如下重足脛寒而逆有是者腎也無是者非也（十六難）</p>
<p>心脈搏堅而長當病舌卷不能言其軟而散者當消還自己肺脈搏堅而長當病唾血其軟而散者當病灌汗至令不復也肝脈搏堅而長色不青當病墜若搏因血在脅下令人喘逆其軟而散色澤者當病溢飲溢飲者渴暴多飲而易入於肌皮腸胃之外也胃脈搏堅而長其色赤當病折髀其軟而散者當病食痹脾脈搏堅而長其色黃當病少氣其軟而散色不澤者當病足胻腫若水狀也腎脈搏堅而長其色黃而赤者當病折腰其軟而散者當病少血至令不復也粗大者陰不足陽有餘為熱中也來疾去徐上實下虛為厥巔疾來徐去疾上虛下實為惡風也沉細數者少陰厥也浮而散者為眴僕（素脈要精微）</p>
<p>寸口脈沉而橫曰脅下有積腹中有橫積痛脈急曰疝瘕少腹痛脈滑曰風脈澀曰痹緩而滑曰熱中盛而緊曰脹尺脈緩澀謂之解㑊安臥脈盛謂之脫血尺澀脈滑謂之多汗尺寒脈細謂之後泄尺粗常熱謂之熱中（素平人氣象）</p>
<p>結陽者腫四肢結陰者便血陰陽結斜多陰少陽曰石水少腹腫二陽結謂之消三陽結謂之隔三陰結謂之水一陰一陽結謂之喉痹陰搏陽別謂之有子陰陽虛腸澼死陽加於陰謂之汗陰虛陽搏謂之崩（素陰陽別論）</p>
<p>陰搏陽別王太僕云陰尺中也搏謂搏觸於手也尺脈搏擊與寸脈迥別孕子兆也此為確論蓋胎在腹中則氣血護胎自然盛於腹中尺裡以候腹中尺獨搏擊與寸迥別理固然也推之左搏為男右搏為女理亦無二而丹溪獨云以醫人之左右手而言則醫人之手以左診右以右診左又是妊婦之左搏為女右搏為男矣想亦試驗而云然不敢妄以為非</p>
<p>婦人足少陰脈動甚者妊子也（素平人氣象）</p>
<p>動者大如豆粒厥厥動搖也王太僕作手少陰脈在掌後銳骨下陷中直對小指非太淵脈諒必有所據全元起作足少陰於尺內求之尺裡以候腹中尤為近理</p>
<p>何以知懷子之且生也曰身有病而無邪脈也（素腹中論）女子以腎系胞三部浮沉正等按之不絕者妊子也</p>
<p>（彭）按人秉不同脈亦各異娠婦有見動脈者有不見動脈者有見搏擊者有不見搏擊者總之尺脈堅實與寸脈迥別為據耳更有尺寸同等而亦懷娠者當於浮沉求之其按之不絕者腎實也</p>
<p>人一呼脈再動一吸脈再動呼吸定息脈五動名曰平人一呼脈一動一吸脈一動曰少氣一呼脈三動一吸脈三動而躁尺熱曰病溫尺不熱脈滑曰病風脈澀曰痹（溫風痹三句俱頂三動來句句有數字在內）一呼脈四動以上曰死脈絕不至曰死乍疏乍數曰死（素平人氣象）</p>
<p>經言脈有損至何謂也曰一呼再至曰平三至曰離經四至曰奪精五至曰死六至曰命絕此至之脈也一呼一至曰離經再呼一至曰奪精三呼一至曰死四呼一至曰命絕此損之脈也至脈從下上損脈從上下也一損損於皮毛皮聚而毛落二損損於血脈血脈虛少不能營於五臟六腑三損損於肌肉肌肉消瘦飲食不能為肌膚四損損於筋筋緩不能自收持五損損於骨骨痿不能起於床從上下者骨痿不能起於床者死從下上者皮聚而毛落者死損其肺者益其氣損其心者調其營衛損其脾者調其飲食適其寒溫損其肝者緩其中損其腎者益其精此治損法也（十四難）</p>
<p>東垣云虛損之疾寒熱因虛而感也感寒則損陽上損漸及於下治宜辛甘淡過於胃則不可治也感熱則損陰下損漸及於上治宜苦酸鹹過於脾則不可治也損及於下婦人月水不通故心肺損則色弊肝腎損則形痿脾胃損則穀不化吳門葉氏前輩云食少便溏損及中州病已過半此語尤為顯快</p>
<p>一呼三至一吸三至為適得病前大後小即頭痛目眩前小後大即胸滿短氣一呼四至一吸四至病欲甚脈洪大者苦煩滿沉細者腹中痛滑者傷熱澀者中霧露（此四句俱頂四至來）一呼五至一吸五至其人當困沉細夜加浮大晝加不大不小雖困可治其有大小者難治一呼六至一吸六至者死沉細夜死浮大晝死一呼一至一吸一至名曰損人雖能行即當著床血氣皆不足故也再呼一至再吸一至人雖能行不久死也名曰無魂又曰行屍（十四難）</p>
<p>數者府也遲者藏也數則為熱遲則為寒諸陽為熱諸陰為寒（九難）</p>
<p>傷寒有五有中風有傷寒有濕溫有熱病有溫病中風之脈陽浮而滑陰澀而弱濕溫之脈陽浮而弱陰小而急傷寒之脈陰陽俱盛而緊澀熱病之脈陰陽俱浮浮之而滑沉之散澀溫病之脈行在諸經不知何經之動也各隨其經所在而取之（五十八難）</p>
<p>邪氣盛則實精氣奪則虛腸澼便血何如身熱則死寒則生腸澼下白沫何如脈沉則生脈浮則死腸澼下膿血何如脈懸絕則死滑大則生腸澼之屬身不熱脈不懸絕何如滑大者生懸澀者死以藏期之癲疾何如脈搏大滑久自已小堅急死不治消癉何如脈實大病久可治懸小堅病久不可治（素通評虛實）</p>
<p>少陽之至乍大乍小乍短乍長陽明之至浮大而短太陽之至洪大而長太陰之至緊大而長少陰之至緊細而微厥陰之至沉短而敦此非平脈亦非病脈皆王脈也冬至後得甲子少陽王復得甲子陽明王復得甲子太陽王復得甲子太陰王復得甲子少陰王復得甲子厥陰王王各六十日六六三百六十日以成一歲此三陽三陰之旺時日大要也（七難）</p>
<p>寸口脈平而死者生氣獨絕於內謂腎間動脈也（八難）上部有脈下部無脈其人當吐不吐者死上部無脈下部有脈雖困無能為害人之有尺猶樹之有根枝葉雖枯根將自生脈有根本人有元氣故知不死（十四難）</p>
<p>經言脈不滿五十動而一止一藏無氣者何藏也曰吸隨陰入呼因陽出今吸不能至腎至肝而還故知一藏者腎藏也（十一難）</p>
<p>數動一代者病在陽之脈也泄及便膿血（素脈要精微）有所驚駭脈不至若喑不治自已（素大奇論）</p>
<p>諸瘧而脈不見刺十指間出血血出必已（靈刺瘧論）病若閉目不欲見人者當得肝脈強急而長反得肺脈浮短而澀者死也病若開目而渴心下牢者脈當緊實而數反得沉澀而微者死也病若吐血鼽衄脈當沉細反浮大而牢者死也病若譫語妄言身當有熱脈當洪大而反手足厥逆脈沉細而微者死也病若大腹而泄脈當微細而澀反緊大而滑者死也（十七難）</p>
<p>右脅有積氣肺脈當結結甚則積甚結微則積微不見結脈當得沉伏其外痼疾同法結者脈來去時一止無常數也伏者脈行筋下也浮者脈在肉上行也左右表裡皆相應假令脈結伏而內無積聚脈浮結而外無痼疾或內有積聚而脈不結伏外有痼疾而脈不浮結是為脈不應病病不應脈死（十八難）</p>
<p>男子尺脈恆弱女子尺脈恆盛男得女脈為不足病在內左得之病在左右得之病在右女得男脈為太過病在四肢左得之病在左右得之病在右（十九難）</p>
<p>真肝脈至中外急如循刀刃責責然如按琴瑟弦色青白不澤死真心脈至堅而搏如循薏苡子累累然色赤黑不澤死真肺脈至大而虛如以毛羽中人膚色白赤不澤死真腎脈至搏而絕如指彈石辟辟然色黑黃不澤死真脾脈至弱而乍數乍疏色黃青不澤死（素玉機真藏）</p>
<p>脈出於氣口色見於明堂（靈五閱五使）</p>
<p>明堂者鼻也（脾土）闕者眉間也（肝木）庭者顏也（額上心火）蕃者頰側也（肺金）蔽者耳門也（腎水）赤色出兩顴大如母指者病雖小愈必卒死（顴屬肺金赤屬心火火來剋金故曰必死）黑色出於庭大如母指必不病而卒死（庭屬心火黑為水色水來剋火故曰必死此一隅之舉也餘部可以類推靈五色論）</p>
<p>瞳子高者太陽不足（津液不足）戴眼者太陽已絕（素三部九候論）中盛藏滿氣勝傷恐聲如從室中言者是中氣之濕也言而微終日乃復言者此奪氣也衣被不斂言語善惡不避親疏者此神明之亂也頭者精明之府頭傾視深精神將奪矣背者胸中之府背曲肩隨府將壞矣腰者腎之府轉搖不能腎將憊矣膝者筋之府屈伸不能行則僂附筋將憊矣骨者髓之府不能久立行則振掉骨將憊矣陰盛則夢涉大水恐懼陽盛則夢大火燔灼陰陽俱盛則夢相殺毀傷上盛則夢飛下盛則夢墮甚飽則夢與甚飢則夢取肝氣盛則夢怒肺氣盛則夢哭短蟲多則夢聚眾長蟲多則夢相擊毀傷（素脈要精微）</p>
<p>出入廢則神機化滅升降息則氣立孤危（六微旨）</p>

<h1>治集</h1>
<p>內經治法詳於針灸略於藥餌然其所論氣味大體已具若能觸類旁通用之亦覺不竭耳</p>
<p>陰之所生本在五味陰之五宮傷在五味味過於酸肝氣以津脾氣乃絕味過於咸大骨氣勞短肌心氣抑味過於甘心氣喘滿色黑腎氣不衡味過於苦脾氣不濡胃氣乃厚味過於辛筋脈沮弛精神乃央（素生氣通天論）</p>
<p>肝苦急急食甘以緩之心苦緩急食酸以收之脾苦濕急食苦以燥之肺苦氣上逆急食苦以泄之腎苦燥急食辛以潤之開腠理致津液通氣也（素藏象法時論）</p>
<p>肝欲散急食辛以散之用辛補之酸瀉之心欲軟急食鹹以軟之用鹹補之甘瀉之脾欲緩急食甘以緩之用苦瀉之甘補之肺欲收急食酸以收之用酸補之辛瀉之腎欲堅急食苦以堅之用苦補之咸瀉之（同上）</p>
<p>辛走氣氣病無多食辛鹹走血血病無多食鹹苦走骨骨病無多食苦甘走肉肉病無多食甘酸走筋筋病無多食酸（素宣明五氣）多食鹹則血凝泣而色變多食苦則皮槁而毛拔多食辛則筋急而爪枯多食酸則肉胝胸而唇揭多食甘則骨痛而發落（素五臟生成）</p>
<p>肝色青宜食甘粳米牛肉棗葵皆甘心色赤宜食酸小豆犬肉李韭皆酸肺色白宜食苦麥羊肉杏薤皆苦脾色黃宜食鹹大豆豕肉慄藿皆咸腎色黑宜食辛黃黍雞肉桃蔥皆辛辛散酸收甘緩苦堅咸軟毒藥攻邪五穀為養五果為助五畜為益五菜為充補益精氣（素藏氣法時論）君一臣二奇之制也君二臣四偶之制也君二臣三奇之制也君二臣六偶之制也近者奇之遠者偶之汗者不以奇下者不以偶補上治上制以緩補下治下制以急急則氣味厚緩則氣味薄近而奇偶小其服遠而奇偶大其服大者數少小者數多奇之不去則偶之是謂重方偶之不去則反佐以取之所謂寒熱溫涼反從其病也（素至真要大論）</p>
<p>君一臣二制之小也君一臣三佐五制之中也君一臣三佐九制之大也高者抑之下者舉之有餘折之不足補之寒者熱之熱者寒之微者逆之甚者從之勞者溫之結者散之急者緩之收者散之損者益之驚者平之逆者正治從者反治熱因寒用寒因熱用塞因塞用通因通用必伏其所主而先其所因其始則同其終則異諸寒之而熱者取之陰熱之而寒者取之陽求其屬也主病之謂君佐君之謂臣應臣之謂使非上下三品之謂也（同上）</p>
<p>此論治病之定法其高者二句更覺有味前陰陽大論中高者因而越之下者引而竭之治實邪法也此高者抑之下者舉之治虛氣之升降也喻嘉言云人身陰陽相抱不離陽欲上脫陰下吸之則不能脫陰欲下脫陽上吸之則不能脫故氣虛之人多下陷陰虛之體多上升治之者不特補氣補血已也當用靈動之藥升降陰陽為妥高者其氣多升少降抑之者有鎮墜一法有潛伏一法有納氣法有引陽歸宅一法何莫非抑之之義下者其氣多降少升舉之者有升提清氣一法有用大氣舉之一法有用諸角本乎天者親上一法何莫非舉之之義讀此覺東垣論升為春生之令主生萬物降為秋冬之令主殺萬物之說猶偏而不全</p>
<p>病在上取之下病在下取之上病在中旁取之治熱以寒溫而行之治寒以熱涼而行之治溫以清冷而行之治清以溫熱而行之（素五常政大論）</p>
<p>大毒治病十去其六常毒治病十去其七小毒治病十去其八無毒治病十去其九穀肉果菜食養盡之無使過之傷其正也不盡行復如法（全上）</p>
<p>熱無犯熱寒無犯寒發表不遠熱攻裡不遠寒木鬱達之火鬱發之土鬱奪之金鬱泄之水鬱折之（素六元正紀大論）有病心腹滿旦食不能暮食名為鼓脹治以雞矢醴一劑知二劑已有治胸脅支滿妨於食病至先聞腥臊臭出清液先唾血四肢清目眩時時前後血病名血枯此得之年少時有所大脫血若醉入房中氣竭肝傷故月事衰少不來也以四烏鰂骨一藘茹二物併合之丸以雀卵大如小豆以五丸為後飯飲以鮑魚汁利傷中及傷肝也（素腹中論）</p>
<p>此以下經未必真而方則古矣用甚有驗故錄之</p>
<p>有病怒狂者生於陽也陽氣暴折而難決故善怒也病名陽厥夫食入於陰長氣於陽故奪其食即已以生鐵落為飲生鐵落下氣疾也有病身熱懈惰汗出如浴惡風少氣病名酒風治以澤瀉術各十分麋銜五分合以三指撮為後飯（素病能論）</p>
<p>有病口甘者此五氣之溢也名曰脾癉此人必數食甘美而多肥也肥者令人內熱甘者令人中滿故其氣上溢轉為消渴治之以蘭除陳氣也（素奇病論）</p>
<p>刺寒痹藥熨法用陳酒二十斤蜀椒一升乾薑一斤桂心一斤凡四種皆㕮咀漬酒中用綿絮一斤細白布四丈並內酒中置酒馬矢熅中蓋封塗勿使泄五日五夜出布絮綿曝乾之干復漬以盡其汁每漬必晬其日乃出乾乾並用滓與綿絮復布為復巾長六七尺為六七巾用生桑炭炙巾以熨寒痹所刺之處令熱入至於病所寒復炙巾以熨之三十遍而止汗出以巾拭身亦三十遍而止起步內中無見風每刺必熨此所謂納熱痹可已（素壽夭剛柔）</p>
<p>足陽明之筋病卒口僻急者目不合熱則筋縱目不開頰筋有寒則急引頰移口有熱則筋弛緩不收故僻治以馬膏膏其急者以白酒和桂以塗其緩者以桑鉤鉤之即以桑炭置之坎中高下以坐等以膏熨急頰且飲美酒啖炙肉不飲酒者強之為之三拊而已治在燔針劫刺以知為度（靈經筋）</p>
<p>人目不瞑者衛氣行於陽不得入於陰也行於陽則陽氣盛不得入於陰則陰虛故目不瞑飲以半夏湯一劑陰陽通其臥立至其方以流水千里外者八升揚之萬遍取其清五升炊以葦薪火沸置秫一升治半夏五合徐炊令至一升半去滓飲汁一小杯日三稍益以知為度其病新發者覆杯即臥久者三飲而已（靈邪客）</p>
<p>附運氣辨</p>
<p>甲己之歲土運統之乙庚之歲金運統之丙辛之歲水運統之丁壬之歲木運統之戊癸之歲火運統之（天元紀）天以六為節地以五為制君火以名相火以位（同上）子午之歲上見少陰丑未之歲上見太陰寅申之歲上見少陽卯酉之歲上見陽明辰戌之歲上見太陽巳亥之歲上見厥陰（同上上見又名司天）厥陰之上風氣主之少陰之上熱氣主之太陰之上濕氣主之少陽之上相火主之陽明之上燥氣主之太陽之上寒氣主之（同上）</p>
<p>（彭）思正誤必先正名名正而誤自見如三陰三陽人身之經脈名也以其行於手足之陽故謂之手足三陽行於手足之陰故謂之手足三陰內連臟腑有形有質非若老少陰陽空論理氣可以到處配合也又如在天為風在地為木在臟為肝在天為熱在地為火在臟為心在天為濕在地為土在臟為脾在天為燥在地為金在臟為肺在天為寒在地為水在臟為腎此是醫經妙諦即運氣篇中亦嘗引用非以五行之氣天地人一線貫通有斷斷不可移易者耶今乃云少陰之上熱氣主之則偏舉其心而遺漏其腎矣又云太陰之上濕氣主之則偏舉其脾而遺漏其肺矣若雲陽明燥氣指大腸言即所以言肺太陽寒氣指膀胱言即所以言腎若然則同一論五行何以論風熱濕則以藏言論寒燥獨以府言無非欲勉強配合三陰三陽而已況五行之外硬添一火謂其火有陰陽二種也不思火有陰陽金木水土獨無陰陽二種乎何以絕不分舉也且中見一條明明指臟腑表裡言然亦頗有誤處若一指出立見其謬何則少陰與太陽為表裡者心與小腸腎與膀胱也今論太陽止曰寒氣治之中見少陰論少陰則曰熱氣治之中見太陽則是心與膀胱為表裡也錯亂如此可謂經文乎然歷代名醫除扁鵲仲景外無不引用故錄而辨之</p>
<p>上見厥陰左少陰右太陽見少陰左太陰右厥陰見太陰左少陽右少陰見少陽左陽明右太陰見陽明左太陽右少陽見太陽左厥陰右陽明（五運行此司天之左右間氣）厥陰在上則少陽在下左陽明右太陰少陰在上則陽明在下左太陽右少陽太陰在上則太陽在下左厥陰右陽明少陽在上則厥陰在下左少陰右太陽陽明在上則少陰在下左太陰右厥陰太陽在上則太陰在下左少陽右少陰（五運行在下即在泉在泉亦有左右間氣）少陽之右陽明治之陽明之右太陽治之太陽之右厥陰治之厥陰之右少陰治之少陰之右太陰治之太陰之右少陽治之此謂氣之標也（六微旨）</p>
<p>少陽之上火氣治之中見厥陰陽明之上燥氣治之中見太陰太陽之上寒氣治之中見少陰厥陰之上風氣治之中見少陽少陰之上熱氣治之中見太陽太陰之上濕氣治之中見陽明所謂本也本之下中之見也見之下氣之標也（同上）</p>
<p>天樞之上天氣主之天樞之下地氣主之氣交之分人氣從之（同上）</p>
<p>應天為天符承歲為歲直三合為治（天元紀）</p>
<p>木運臨卯火運臨午土運臨四季金運臨酉水運臨子所謂歲會氣之平也（六微旨歲會即歲直）</p>
<p>土運之歲上見太陰火運之歲上見少陽少陰金運之歲上見陽明木運之歲上見厥陰水運之歲上見太陽天與之會也（同上天會即天符）</p>
<p>天符與歲會合此太乙天符也（同上）</p>
<p>天符為執法歲會為行令太乙天符為貴人中執法者其病速而危中行令者其病徐而持中貴人者其病暴而死（同上）</p>
<p>厥陰司天其化以風少陰司天其化以熱太陰司天其化以濕少陽司天其化以火陽明司天其化以燥太陽司天其化以寒以所臨藏位命其病也地化同候間氣皆然司左右者是為間氣主歲紀歲間氣紀步（至真要大論）</p>
<p>果如此治病只看歷日足矣何須胗脈</p>
<p>顯明（春分）之右君火之位也君火之右退行一步（小滿）相火治之復行一步（大暑）土氣治之復行一步（秋分）金氣治之復行一步（小雪）水氣治之復行一步（大寒）木氣治之復行一步君火治之相火之下水氣承之水位之下土氣承之土位之下風氣承之風位之下金氣承之金位之下火氣承之君火之下陰精承之亢則害承乃制（六微旨）</p>
<p>按五行相生木生火火生土土生金金生水水復生木五行相剋木剋土土剋水水剋火火剋金金復剋木皆如環無端此固天地自然之理也自一火分為二火五行變作六行如環者斷矣五行旋轉之餘忽贅君火之下陰精承之試問陰精下又何物承之耶</p>
<p>六元正紀一篇以甲子排列年分不異星卜選擇之書難以備錄約而言之除天符歲直外其論五運有三曰大運主運客運大運又名中運主一歲之氣甲己土運為宮乙庚金運為商丙辛水運為羽丁壬木運為角戊癸火運為徵陽年為太陰年為少欲知主運客運須明五運分步大寒日交初運角（木）春分後第十三日交二運徵（火）芒種後十日交三運宮（土）處暑後七日交四運商（金）立冬後四日交終運羽（水）陽年為太陰年為少如甲為陽年土運太宮作主太少相生則太角起初運少徵二運太宮三運少商四運太羽終運己為陰年土運少宮作主則少角起初運太徵二運少宮三運太商四運少羽終運此為主運又如甲為陽年土運太宮作主即以太宮加初運少商加二運太羽加三運少角加四運太徵加終運此為客運也</p>
<p>北政之歲少陰在泉則寸口不應厥陰在泉則右不應太陰在泉則左不應南政之歲少陰司天則寸口不應厥陰司天則右不應太陰司天則左不應北政之歲三陰在下則寸不應三陰在上則尺不應南政之歲三陰在天則寸不應三陰在泉則尺不應左右同（素至真要大論）諸氣在泉風淫於內治以辛涼佐以苦以甘緩之以辛散之熱淫於內治以鹹寒佐以甘苦以酸收之以苦發之濕淫於內治以苦熱佐以酸淡以苦燥之以淡泄之火淫於內治以鹹冷佐以苦辛以酸收之以苦發之燥淫於內治以苦溫佐以甘辛以苦下之寒淫於內治以甘熱佐以苦辛以咸瀉之以辛潤之以苦堅之（同上）</p>
