<header data-type="book">
<h1>薛案辨疏</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>薛己</data>撰，<data>錢臨</data>疏</dd></div>
<div><dt>年份</dt><dd><data value="1737">公元1737年</data></dd></div>
</dl>
</header>

<h1>序一</h1>
<p>醫籍自《靈》《素》以下，至仲景《傷寒》《金匱》，學醫者莫不奉為圭臬，取為師資，若醫案則瞠乎後矣。殊不知《靈》《素》諸書雖為學醫者所當取法，而醫案則更為學醫者所宜借鏡。醫案系就症立案，擬方施治，得失易見，非同泛觀，故更深切著明也。雖然歷代以來，醫案多矣，求其廣行於世，膾炙人口者誠難數，惟葉氏、薛氏兩種為近今所尚，而葉案為尤甚，誠以葉案為天士先生及門所刊，純駁互見經，徐靈胎先生逐案詳批，而後謬誤明純，粹見蔚成完璧。若薛立齋先生之醫案，雖流傳於世，猶不滿於陳修園，然修園先生雖極力詆薛案，而不能指薛案之所以失，仍是私心自用，非可為定論也。今徐君蓮塘出秘藏，無名氏著《薛案辨疏》一書，余披閱一過，不禁狂喜，無名氏者能將薛氏之案不明晰者而辨明之，不可通者而疏通之，於是薛案與葉案可以後先輝映，俾陳氏亦無所用其詆誹，然則無名氏者，實薛氏之功臣，而徐君能不秘所藏，公諸同好，尤為薛氏無名氏之功臣也。夫慨自世變日，丞國學淪亡東西，載籍日流中土，黃鐘譭棄，瓦釜雷鳴，我國醫學其有式微之懼乎？徐君此舉不特有表揚先賢之盛志，抑亦有保存國粹之熱誠也矣。</p>
<p><u>中華民國六年丁巳歲冬月慈嚴鴻基謹序</u></p>

<h1>序二</h1>
<p>立齋薛先生，生當有明，以醫名世。平生深閱豐富著作，而其醫案一書，尤為一生經驗之作。精神所在，人人咸欽仰。予自少好岐黃學，慕先生名，每自恨生也晚。未得親門牆，心私淑之，而於先生醫案，尤三致意焉，居恆竊嘆先生醫案，每為人所指駁，究竟所指何失？所駁何短？亦如自鳴己長而已，不若無名氏者，能將先生之案辨之，疏之，不拘成見，以期明晰厥功，不誠偉哉！是書也，余得之書肆，其書似稿，本不錄辨疏者之姓氏，因遂顏之曰無名氏，《薛案辨疏》而已，實藏日久，正擬付梓，適浙紹醫藥學報社諸君有《國醫百家》之刊，余乃公之同好，用作後學。津梁古人云：莫為之先，雖美勿彰；莫為之後，雖盛弗傳。余亦願為其後而已。若竊他人之能，以為己功，則吾豈敢！</p>
<p><u>中華民國七年歲次戊午冬月徐蓮塘序於勾章紫荊花館</u></p>

<h1>卷上</h1>

<h2>元氣虧損內傷外感籌症</h2>
<p>車駕王用之，卒中昏憒，口眼喎斜，痰氣上湧，咽喉有聲，六脈沉伏。此真氣虛而風邪所乘，以三生飲一兩加參一兩煎服即蘇。若遺尿，手撒口開，鼾睡為不治。用煎藥亦有得生者。夫前飲乃行經絡，治寒痰之藥，有斬關奪旗之功，每服必用人參兩許，駕驅其邪而補助真氣，否則非惟無益，適足以取敗矣。觀先哲用耆附參附等湯可見。</p>
<p>疏曰：人參三生飲，治脫症之方也。此案未見其脫，何以用之？必脈沉伏而且無力者宜也。若沉伏而有力，不可用焉；然此病未至於脫而即用之者，是病未至而藥先至。故曰：煎服即蘇。即蘇云者，必定之詞也。至於遺尿等症已現不治，即用之，不過曰亦有得生，亦有云者，希望之詞也，未可必焉。至若所云風邪所乘者，此案原無外感之症，而此飲亦非散表之方，何也？意蓋謂人皆以此症為風，即使風也，亦真氣虛而風邪所乘也，所用之藥不治風邪而專治寒痰，既用治寒痰而倍補真氣噫，於此見有無邪無寒痰者，三生飲又不可浪投也，故復以參附、耆附等載之於後，此正無風邪並無寒痰之方耳。</p>
<p>州判蔣大用，形體魁偉，中滿吐痰，勞則頭暈，指麻，所服皆清痰理氣。余曰：中滿者，脾氣虛也；痰盛者，脾虛不能運也；頭暈者，脾氣虛不能升也；指麻者，脾氣虛不能周也。遂以補中益氣加茯苓、半夏以補脾土，用八味丸以補土母而愈。後惑於《乾坤生意方》云：凡人手指麻軟，三年後有中風之疾，可服搜風、天麻二丸，以預防之。遂朝餌暮服。以致大便不禁，飲食不進而亡。愚謂預防之理，當養氣血節飲食，戒七情，遠幃幕可也。若服前丸，適所以招風取中。</p>
<p>疏曰：形體魁偉者，其中多虛；不任勞者，其氣多弱；何以復進清痰理氣以重傷之乎？夫中滿吐痰，頭暈諸症，未始不可治以清痰理氣也，而獨不問勞則云云乎。蓋勞則傷脾，亦復傷腎，此補中、八味所以並用也。至於八味之用，雖有虛則補母之法，然亦有可用不可用之分，土虛而水中無火者則可，土虛而水中有火者不可也。此案雖不見有無火症，而或有無火脈為據乎？若然則痰盛者，是謂水犯之痰；頭暈者，是謂無根之火也；若夫手指麻軟，當預防中風者，蓋風淫末疾之意，獨不知手指屬於脾，而麻軟屬於氣虛不能充乎。搜風、天麻，為北方風氣剛勁者設耳，大江以南，非所宜也，但能使中土元氣日生，不必防風，風自無從中矣。</p>
<p>一男子卒中，口眼喎斜，不能言語，遇風寒四肢拘急，脈浮而緊。此手足陽明經虛，風寒所乘，用秦艽升麻湯治之而稍愈，乃以補中益氣加山梔而痊。若舌喑不能言，足痿不能行，屬腎氣虛弱，名曰癢症，宜用地黃飲子治之。然此症皆由將息失宜，腎水不足，而心火暴盛，痰滯於胸也。輕者自蘇，重者或死。</p>
<p>疏曰：口眼喎斜，非即前王用之之症乎？不能言語，非即後舌喑不能言之症乎？而治法天淵，何以言之？要知察病之機，固在脈，又在兼見之症。所云浮而緊者，非風寒之脈乎？遇風寒四肢拘急者，非風寒之症乎？故先之以升麻秦艽湯發散之劑也，而後知前之口眼喎斜之屬真虛氣者，在昏憒而脈沉伏也；後之舌喑不能言之屬腎氣虛弱者，在足痿不能行也。而後知前之所云風邪者，假設之詞也。後之所云痱症者，推類之文也，亦復何疑哉！然而以此脈症而論，是屬足太陽也，不知口眼喎斜已屬之足陽明矣。且遇風寒，不曰拘急而曰四肢，豈非脾主之乎？四肢拘急，豈非脾氣虛為之乎？以是知此症之風寒，原從陽明經虛而入，故即繼以補中益氣加服，蓋經虛即臟腑之虛，補臟腑即所以補經也。</p>
<p>一男子體肥善飲，語言不清，舌本強硬，口眼喎斜，痰氣湧盛，肢體不遂。余以為脾虛濕熱，用六君子、煨葛根、山梔，神麯而痊。</p>
<p>疏曰：此案惟體肥善飲四字遂斷以脾虛濕熱治之，所用之藥初無一味及於舌本硬強等症，而諸症自愈。故知治病必求其本，為千古妙法。夫酒為濕熱之物，而濕熱每積於脾，脾與胃相表裡，脾病必及胃，胃屬陽明，陽明經處唇口左右，故亦有口眼喎斜之症。而其本則在濕熱，不在於風；在於胃，不在於經；故用葛根之類以去之，然必以用六君為主者，蓋脾不虛，濕熱之氣無從而積，積由脾虛，所以欲去邪必先扶正。</p>
<p>吾師僉憲高如齋，自大同回，告余曰：吾成風疾矣，兩腿逸則軟而無力，勞則痛如芒刺，脈洪數而有力。余曰：此肝腎陰虧而火盛，軟痿無力，真病之形；痛如芒刺，邪火之象。用壯水益腎之劑而愈。先生曰：向寓宦邸，皆以為風，一服風劑所誤豈淺！今乃吾之幸也，竊謂前症易錯認風疾，用發散而促其危者多矣。可不慎哉？</p>
<p>疏曰：自腰以下皆屬於陰。而此症則在兩腿，故知其屬於肝腎也，然其機在勞逸之分，蓋逸則火靜，故但見陰虛症，勞則火動，故又見火盛症。合而言之陰虛火盛也，明矣。至於脈之洪數有力，知其火非虛火，故曰火盛，曰邪火，觀其用藥，則曰壯水益腎。夫壯水乃即是益腎，而又曰益腎者，必有祛火之品，如所謂滋腎之知、柏同用者也。</p>
<p>大戶劉孟春，素有疾，兩臂作麻痛，兩目流淚，藥以祛風化痰，痰更甚，臂不能伸矣，手指俱攣。余曰：麻屬氣虛，因前藥而復傷肝，火盛而筋攣耳，當補脾肺滋腎水，不必祛風，風自息，痰自清，熱自退。遂用六味丸，後補中益氣，不三月而痊。</p>
<p>疏曰：臂麻目淚，未始不是風痰所為，特服祛風化痰藥而病反甚，故知其為虛耳。夫祛風化痰，大能傷精血耗津液，則火獨盛而成燥矣。火則痰易生，燥則精枯脈勁，有不至痰更甚而臂痛不伸，手指俱攣者乎？無論此症之非風即謂之風，亦屬肝火自動之風，然不生於潤澤之木，而生於枯槁之木。蓋枯槁之木，而後有火，火盛而後生風，治之者但能制之以水，則風自息，所以先用六味，後用補中益氣，有先後之序焉。</p>
<p>學士吳北川，過飲痰塞，舌本強硬，藥以降火化痰，痰氣益甚，肢體不遂，余作脾虛濕熱治而愈。</p>
<p>疏曰：夫酒多濕熱，而況過飲乎。以過飲而痰壅，非濕熱而何？但藥以降火化痰亦不甚相遠，何至痰氣更甚乎？肢體不遂乎？於是而見舌本強硬，雖曰痰壅之故，要非脾虛者不致此，蓋以脾之大絡，統於舌本故也。脾虛濕熱，治以何方？余見後一篇男子善飲，舌本強硬，語言不清一症，亦作脾虛濕熱治，用補中益氣加神麯、麥芽、葛根、澤瀉。比例而推，亦可用也，更有清燥湯一方，原治脾虛濕熱症，可採用焉。</p>
<p>一儒者素勤苦，惡風寒，鼻流清涕，寒禁嚏噴。余曰：此脾肺氣虛不能實腠理。彼不信，服祛風之藥，肢體麻倦，痰涎自出，殊類中風。余曰：此因風藥耗散元氣，陰火乘其土位，遂以補中益氣湯加麥冬，五味治之而愈。</p>
<p>疏曰：惡風寒等症，是經偶被風寒所感之症耳，何論其脾肺氣虛耶？即云素勤苦者，氣恆虛，然有邪。治邪，祛風之藥亦何至於肢體麻倦而痰涎自出耶？噫，吾知之矣。所云素者，不特是勤苦也，惡風寒、流清涕、寒禁嚏噴亦有素矣，不然何以即斷其脾肺氣虛耶？及服祛風之藥，而變現諸症，亦仍是脾肺之劇症。故雖有陰火乘其土位之說，而用藥原從脾肺氣虛立方耳，五味子之加實為關鍵。既可以收耗散之元氣，復可以降乘土之陰火，豈得以惡風寒為外感之邪而以酸斂二字妄議之乎。</p>
<p>外舅年六十餘，性好飲，兩臂作痛，恪服祛風治痿之藥，更加麻木發熱體軟，痰湧腿膝俱痛，口噤語澀，頭目暈重，口角流涎，身如蟲行，搔起白屑。謂余曰：將若何？余曰：臂麻體軟，脾無用也；痰涎自出，脾不能攝也；口斜語澀，脾氣傷也；頭目暈重，脾氣不能升也；癢起白屑，脾氣不能營也。遂用補中益氣湯加神麯、半夏、茯苓，三十餘劑諸症悉退，又用參朮煎膏治之而愈。</p>
<p>疏曰：此症之屬脾虛固矣，然未嘗不兼有濕熱，以素好飲故也。先生雖未嘗明言，而所加神麯、茯苓、半夏者，非此意乎？雖或因痰涎自出而設，然未始非藉此通彼之法，但歷指諸症，似皆屬於肝脾腎虛。如臂麻體軟，似脾腎陰虛也；痰涎自出，似腎虛水泛為痰也；口斜語澀，似少陰之絡繫於舌本也；頭目暈重，似諸風眩掉，皆屬於木也；癢起白屑，似諸痛瘡瘍，皆屬於火也。而況更有發熱與腿膝俱痛之症，是屬肝脾腎三陰虛也。無疑則四物六味之用是矣。然服祛風治痿之藥，而且日恪服者，其脾氣有不日剝月削乎？此先生察病之妙所以迥出庸流也。</p>
<p>秀才劉允功，形體魁偉，不慎酒色，因勞怒，頭暈仆地，痰氣上湧，手足麻軟，口乾引飲，六脈洪數而虛。余以為腎經大虧，不能納氣歸源而頭暈，不能攝水歸源而為痰。陽氣虛熱而麻痹；虛火上炎而作渴。用補中益氣合六味丸料治之而愈。其後或勞役，或入房，其病即發，服前藥隨愈。</p>
<p>疏曰：此案之屬腎虧，云云者，舉世皆知之矣。獨用六味丸是矣，而何以合補中益氣耶？蓋不能納氣歸源宜降以補陰也；不能攝水歸源宜降以補陰也；陽氣虛熱宜降以補陰也。虛火上炎，宜降以補陰也。種種而論，豈非宜降不宜升，宜補陰不宜補氣乎？要知病因於勞怒。則勞者，脾必受傷；怒則木必剋土。而況手足麻痹，畢竟屬脾氣虧損者為多，若只補腎而遺脾，脾氣因補腎而下陷，寧無變乎？然既不可獨降補其陰，而何可獨升補其氣　哉？故用補中益氣合六味以同進，則升降相輔，陰陽相依，此用藥之極於微妙，在今人反為雜亂無章噫，可慨也夫。</p>
<p>幕友顧斐齋，飲食起居失宜，左半身並手不遂，汗出神昏，痰涎上湧。王竹西用參耆大補三劑，汗止而神思漸清，頗能步履。後不守禁，左腿自膝至足腫脹甚大，重墜如石，痛不能忍，其痰甚多，肝脾腎脈洪大而數，重按則軟澀。余朝用補中益氣湯加黃柏、知母、麥冬、五味煎送地黃丸，晚用地黃丸料加黃柏、知母數劑，諸症悉退。但自弛禁，不能痊愈耳。</p>
<p>疏曰：夫足脛腫脹重墜者，因於脾氣下陷者有之，因於濕痰下流者有之。因於濕熱下陷者有之，此按肝脾腎脈洪大而數，熱也；重按軟澀，濕也；其為濕熱下陷於三陰經分明矣。又曰：痛不能忍，則不特為濕熱而且為濕火矣。濕火宜利便而清之。然因初症之飲食起居失宜，用參耆大補之劑未遠也，則脾氣固已，素虛濕火下而脾氣亦下陷矣，故用補中益氣加黃柏、知母等一升一降，一補一清。則脾氣自完，而濕火自清矣。至於晚服六味丸加黃柏、知母者，蓋以濕火在陰分，而陰原自虛，故又從補陰中以清之，亦一補一清之正法也。又云：濕火下陷，宜升不宜降，六味之用，降而不升矣，反使補中益氣力遜，故雖曰自弛禁，然不能痊愈者，未始不在此焉耶。世俗每以腿足腫痛者，必謂非筋骨經絡之病，即瘀血滯氣。腫毒之病，往往委於外科主治，孰知其大謬不然者乎。</p>
<p>庠生陳時用，素勤苦，因勞怒，口斜痰盛，脈滑曲而虛，此勞傷中氣，怒動肝火，用補中益氣加山梔、茯苓、半夏、桔梗數劑而愈。</p>
<p>疏云：素勤苦，中氣必虛，因勞怒，中氣必虧，口斜為陽明之脈絡同虛，痰盛為胃經之化源不運，此補中益氣之所以必用也。而況脈之虛者乎，加味之法，以其脈見滑曲而虛，唯虛也，故用補中。滑為痰，故加半夏；曲為火盛，故加山梔；又以桔梗開之，則痰自豁。而火自下行矣。若庸工遇此，必至於祛風痰，謬治豈在毫釐乎！然升補痰盛之中，非具雙眼者，不能要知，屬脾虛之痰，故敢用耳。</p>
<p>錦衣楊永奧，形體豐厚，筋骨軟痛，痰盛作渴，喜飲冷水，或用愈風湯、天麻丸等痰熱益甚，服牛黃清心丸，更加肢體麻痹，余以為脾腎俱虛，用補中益氣湯、加減八味丸，三月餘而痊。以後連生七子，壽逾七旬。《外科精要》云：凡人久服加減八味九，必肥健而多子。信哉。</p>
<p>疏曰：夫喜飲冷水者，陽明胃經實熱症也。若果實熱則筋骨軟痛者，當是陽明主筋骨。因實熱在陽明，不能約束筋骨，而利機關故也。痰盛口渴者，當是陽明主津液，因實熱在陽明，不生津液而多凝結故也者。然亦當用清陽明實熱之藥，而何須愈風、天麻、牛黃清心之類服之而痰熱益盛，風能耗血並耗其腎也。肢體痹，寒能損胃並損其脾也。無論非陽明之實熱，即果熱也。而耗損之下，能不脾腎俱虛乎？由此而論，即前之飲冷水，原屬脾腎兩虛症。脾虛則津液不生；腎虛則虛火上升。故口為之渴而喜飲冷水耳。要知喜飲者，特喜之耳究未嘗飲也，試使飲之，亦到口而不欲入腹，而反不安也。不然，易不曰渴飲冷水乎，況乎決無可用肉桂者，之能飲冷水也。至於所云久服加減八味丸，必肥健多子者，亦以其腎火素虛者言也。若胃火旺者，未可信也。</p>
<p>先母七十有五，遍身作痛，筋骨尤甚，不能伸屈，口乾目赤，頭暈痰壅，胸膈不利，小便短赤，夜間殊甚，滿身作癢如蟲行，以六味地黃丸加山梔、柴胡治之，諸症悉愈。</p>
<p>疏曰：此案以用藥而論，知為腎水不足而肝火有餘也。以現症而論，又屬肝血枯槁，而肝火鬱遏也。若然，當用加味逍遙散，而何以即用地黃丸乎？曰：有是說也。夫年逾七十有五，其腎陰之虛也，可知無論有餘之肝火不可徒清，即郁遏之肝火，亦不可徒散。是以不從加味逍遙散而從地黃六味也。然余又進而論之，前症之屬於肝火鬱固然，即屬於腎水不足，而肝火有餘亦然。是必有脈症可辨，若郁遏之火，脈必左手細數而沉澀，症必身發寒熱而口嘔酸苦，若有餘之火，必左手絃動而洪數，今雖不言脈之如何，而並無寒熱酸苦之症，明是腎水不足，肝火有餘也。故當以六味補腎水，柴梔清肝火。然即使腎水不足而肝火鬱遏者，此方亦未嘗不可用，是逍遙、六味同服、間服意。</p>
<p>一男子時瘡愈後，遍身作痛，服愈風丹，半身不遂，痰涎上湧，夜間痛甚。余作風寒淫氣，治以地黃丸而愈。</p>
<p>疏曰：瘡之為患，一生於濕熱，一主於燥火，濕熱必至於脾腎；氣虛燥火必至於肝脾。血少久而不愈，必傷其腎，故昔人謂瘡為腎疳，而以全料六味丸治之是良法也。此案云：時瘡愈後，遍身作痛者，雖未至於腎傷，亦以屬之肝脾血少矣，而何以服愈風丹之溫燥發散者耶？溫燥則動火，發散則耗血，故復為半身不遂，痰涎上湧，畢竟遍身之痛不除而反夜間痛甚。此時探本求源，即養血清火亦不見安寧，不當獨壯腎水乎？總不脫瘡為腎疳之意也。若夫風寒淫氣云者，即腎水虛不能生肝木，肝木虛而自生風也。以非臟腑所本有。故曰：寒已為氣血所傷。故曰：淫切不可作六淫外寒論也。</p>
<p>一老人兩臂不遂，語言謇澀，服祛風之藥，筋攣骨痛，此風藥虧損肝血，益增其病也。余用八珍湯補其氣血，地黃丸補其腎水，佐以愈風丹而愈。</p>
<p>疏曰：此案原屬經脈阻滯之患，愈風丹以血藥為主，風藥為臣，行氣之藥為佐，溫經之藥為使，非經脈阻滯者，此方適，當其可原，不可廢。奈何獨服祛風之藥，致筋攣骨痛，仍是經脈阻滯之劇。症因風藥能損肝血，則火燥，獨熾而燥，必傷肺金之氣，斯時不得，但以四物補肝血而必合，君以補氣亦理之必然也。但筋雖屬肝，骨則屬腎，故又兼之六味，案雖獨曰虧損肝血而用，不獨在乎肝血也。然經脈之阻滯仍然如故，故以愈風丹佐之耳，非獨任之也。前楊永奧及一男子，皆服愈風丹而病反增者，以俱屬三陰本虛，非經脈阻滯之故。且獨任之而然，豈愈風之罪哉。</p>
<p>一婦人因怒吐痰，胸滿作痛，服四物、二陳、芩、連、枳殼之類不應，更加祛風之藥，半身不遂，筋漸攣縮，四肢痿軟，日晡益甚，內熱口乾，形體倦怠。余以為鬱怒傷肝脾，氣血復損而然。遂用逍遙散、補中益氣湯、六味地黃丸調治。喜其謹疾，年餘悉愈，形體康健。</p>
<p>疏曰：婦人之怒多郁，鬱則傷肝，肝傷則亦克於脾。凡為鬱怒所傷者，往往而然。此案因怒而致吐痰，脾傷於郁之驗。胸滿作痛，肝傷於郁之驗，服四物之不應者，無升散之品故也。奈何更加祛風，何風可祛？徒以增病，病增則非特份其肝，脾抑且損其氣血。試觀筋漸攣縮，日晡益甚，內熱口渴等症，非損其肝之血乎？半身不遂，四肢痿軟，形體怠倦等症，非指其脾之氣乎。逍遙入肝補中，入脾皆所以升散，其鬱氣而各補其氣血也。然必以逍遙為先者，病犯肝也；補中為繼者，遺累於脾也，終於六味者，肝腎為子母，脾腎為化源，既升之後，半宜降也。</p>
<p>一婦人脾胃虛弱，飲食素少。忽痰湧氣喘，頭搖目札，手揚足擲，難以候脈。見其面色黃中帶青，此肝木乘脾土，用六君子加柴胡、升麻治之而蘇。更以補中益氣加半夏調理而痊。</p>
<p>疏曰：此案何以見脾胃虛弱耶！以飲食素少知之。忽患痰湧氣喘等症，面有黃中帶青之色，雖云肝木乘脾土，究亦皆脾胃之元氣，氣虛弱而自見勝已之象。初無木旺之症，故不見有鬱怒之文，而第云忽也，是以只用培補之方而不用抑肝之品。然必先之以六君加升、柴者，以歸、耆有滯於痰湧故耳。繼用補中益氣者，以補氣之後，又當和血，而乃加半夏者，尚不忘乎痰壅抑，且醒脾開胃，云甚矣。此症之不誤於治痰，治風者寡矣。</p>
<p>一婦人懷抱鬱結，筋攣骨痛，喉間似有一核。服烏藥順氣散等，口眼歪斜，臂難舉，痰涎愈甚，日晡內熱，食少體倦。余以為鬱火傷肝脾，血燥生風所致。用加味歸脾湯二十餘劑，形體漸健，飲食漸加，又服加味逍遙散十餘劑，痰熱少退，喉核稍利，更用升陽益胃湯數劑，諸症漸愈，但臂不能伸，此肝經血少，用地黃丸而愈。</p>
<p>疏曰：此案之變症雖多，總不越懷抱鬱結，而致三陰虧損之故。用藥之錯綜不一，總不越先補後散，即升復降之意。然其症變處，須尋其源，用藥處方須得其法。夫人懷抱鬱結，則肝脾之血必虛，而肝脾之火必遏，血虛故筋攣骨痛，火遏故喉間有核，此時輕則加味逍遙，重則加味歸脾，而後繼以六味收功足矣。奈何以烏藥順氣散進之？致肝脾之血益虛，而成燥，燥歸陽明而生風，斯口眼歪斜等症所由來也。且不特血燥，更加氣虛，故至食少體倦。是所以不先逍遙而先歸脾也。然歸脾之功，長於補氣血而短於散鬱火，故但能使形體漸健，飲食漸加而已。而肝脾之鬱火未散，故繼以加味逍遙使痰熱稍退，喉核稍利，豈非鬱火稍散乎？然筋攣骨痛，以及口眼歪斜，臂難伸舉等症，又屬陽明之氣不能充升之故，特更升陽益胃湯而諸症得以漸愈。蓋鬱結之深者，適合其宜也，但臂不能伸，即筋攣也。筋屬肝，之虛則補腎地黃丸，是所必需，況升散之後，又當以滋降為繼者乎。</p>
<p>一產婦，筋攣臂軟，肌肉掣動，此氣血俱虛而有熱。用十全大補湯而痊。其後因怒而復作，用加味逍遙散而愈。</p>
<p>疏曰：此案似屬風症，然產婦得此，豈非氣血兩虛乎？氣屬脾，脾主肌肉，脾氣虛故肌肉掣動。血屬肝，肝主筋脈，肝血虛故筋攣臂軟，十全大補湯宜用矣。獨不宜於有熱之症而。產婦而有熱，大抵皆虛熱也，虛熱須甘溫以治之。況病在筋臂肌肉之間，非藉肉桂、黃耆之溫以充升之不能愈也。然此婦必素有肝火之症，故因怒復作，症雖同，於用藥前後有天淵之異也。蓋肝火亦有是症何也？肝有火，或乘脾或陷於脾，勢所必然，則脾亦有火，而筋軟掣動，皆火之象，亦皆血虛之形，故以加味逍遙養血清火，治之而愈甚矣。以此而推，則知病症同而病情不同，故用藥亦當不同。切勿以病症之同，強謂病情亦同，而用藥必強使與之同也。</p>
<p>一產婦，兩手麻木。服愈風丹、天麻丸，遍身皆麻。神思倦怠，晡熱作渴，自汗盜汗。此氣血俱虛，用十全大補加炮姜，數劑諸症悉退卻。去炮姜，又數劑而愈，但有內熱，用加味逍遙數劑而痊。</p>
<p>疏曰：此案作氣血兩虛是矣。然症現晡熱作渴，自汗盜汗等。似與薑、桂不宜，究竟諸症悉退，獨有內熱未除，仍用加味逍遙之涼散而痊。則初服豈可不用薑、桂乎？雖然以遍身麻木，神思倦怠，其元氣之虛甚矣。非藉薑、桂之充升，不能及遍身；非得薑、桂之鼓舞，不能壯神思。此權也。而晡熱作渴，自汗、盜汗亦與之俱退者，氣血之卒旺故耳。及至內熱不除，然後轉用涼藥以愈，蓋氣血既旺而內熱始可除矣？豈如世俗之溫涼亂投、補散不一之妄為設施哉。</p>
<p>一男子善飲，舌本強硬，語言不清。余曰：此脾虛濕熱，當用補中益氣加神麯、麥芽、乾葛、澤瀉治之。</p>
<p>疏曰：以善飲而知其為濕熱。濕熱宜清利之，而何以用升補之劑主之乎？以舌本強硬，語言不清故也。夫脾之大絡，統於舌本，因脾虛而濕熱襲之，故現於舌本耳，然則直謂之脾虛濕熱，故用升補而兼清利之劑。至於語言不清，是因舌本強硬，升補其脾虛，清利其濕熱，則舌本自正。而語言自清，可謂得治本之法者矣。若以現症用藥，而以《局方》轉舌膏、清音膏之類治之，誤矣！脾虛濕熱之脈，脾部必見軟緩或數，大便不實或下黃糜水是也。</p>
<p>一婦人善怒，舌本強，手臂麻。余曰：舌本屬土，被木剋制故耳。當用六君加柴胡、芍藥治之。</p>
<p>疏曰：善怒舌本強，手臂麻皆脾氣之虛。因善怒而動其肝氣，以剋制脾土故耳。故以六君補土，加柴、芍以平木也。此案與前案皆患舌本強。一云濕熱，一云木克，皆無脈症可據，惟以善飲善怒上看來，故治病須得其機。木克之脈，脾部必弦而兼勁，胃氣漸少是也。</p>
<p>一男子，舌下牽強，手大指次指不仁，或大便秘結，或皮膚赤暈。余曰：大腸之脈散舌下，此大腸血虛風熱，當用逍遙加槐角、秦艽治之。</p>
<p>疏曰：舌下與舌本不同，牽強與強硬不同，舌下既為大腸之脈所至，而大指次指又為大腸之脈所起。故此症屬在大腸經也。無疑由是而大便秘結，皮膚赤暈，其為大腸之風熱亦無疑。若牽強即筋脈吊引之意，不仁即皮膚麻痹之意，故斷其為大腸風熱也。又無疑獨是逍遙散。本入肝經，何以用之？然未嘗非治血虛風熱之劑，況加槐角、秦艽直入大腸者乎？所謂右之左之，無不宜之要，顧其用之，何如耳？</p>
<p>一男子足痿軟，日晡熱。余曰：此足三陰虛，當用六味、滋腎二丸補之。</p>
<p>疏曰：足痿軟者多濕淫於下，日晡熱者，多腎水虧於內。故用六味直補其腎水，滋腎以祛其濕熱，誠對症之方也。然知柏固能祛濕熱，而肉桂寧不反助濕熱乎？不知濕熱，當以氣化。而出肉桂之溫行，是能氣化者也。不然則寒滯而不能祛。此法也機也，古人立方之妙旨也。但此方合用，當必察其果。系陰虛濕熱，兩尺脈必沉數闊大者是也。</p>
<p>一婦人，腿足無力，勞則倦怠。余曰：四肢者土也，此屬脾虛，當用補中益氣及還少丹主之。俱不從余言，各執搜風、天麻二丸並愈風丹而殞。</p>
<p>疏曰：此腿足無力，與前案足痿軟不甚相遠，何以前用六味丸之降，滋腎丸之寒治之，此用補中益氣之升補，還少丹之溫補治之。何升降寒熱之不同，如是乎，余察其所以不同處在日晡熱，與勞則倦怠二句上。蓋晡熱多屬水，虛而倦怠，多屬土虛也。土虛則陷，故當用升補，土虛補火，應當用溫熱，此法之一定也。若果系土虛衰，兩關脈必純弦，無胃氣或微弱無神者也。至於俱不從者，總前五案而言也。故皆云當用而未曾用者也。</p>
<p>知州韓廷議，先患風症，用疏風化痰養血之藥。其腿彎骨內發熱作痛，服十味固本丸、天麻丸益甚。兩尺脈數而無力。余以為腎水不能涵肝木，虛火內動而作，非風邪所致也。不信，服羌活愈風湯之類。四肢痿軟，遍身麻木，痰涎上湧，神思不清。余曰：皆脾氣虧損，不能榮養周身，脾弱不能攝涎歸源。先以六君加芎、歸、木香數劑，壯其脾氣，以攝涎歸源。又用八珍湯類數劑，以助五臟生化之氣，而榮養周身，諸症漸愈。乃朝服補中益氣湯，培養脾肺，夕用六味地黃丸，滋補肝腎，如此三月而安。</p>
<p>疏曰：此案脈症顯然易知其為腎經虛火。蓋腿膝骨屬腎經。發熱作痛，屬虛火。兩尺屬腎經，數而無力屬虛火，奈何不治其本，更以羌活愈風湯復傷脾氣，以致變生諸症，皆脾經氣血兩虛。而獨言脾氣者，因氣虛甚於血虛也。先以六君壯其脾氣也。脾氣壯，則自能攝涎歸源矣。初無攝涎之品也，加芎、歸者，不忘乎血虛也；加木香，鼓動其氣也；惟鼓動，故能攝也。繼之以八珍助五臟生化之氣也，助其生化，則自榮養周身矣。初無榮養之品也，八珍氣血兩補之方也，補氣血而云助五臟，五臟皆氣血所養故也。氣血得補，即為助生化之氣，而周身得以榮養也。末又一升一降之法，調補之。斯又所謂滋其生化之源也。且補中所以治羌活愈風湯以後之症，六味所以治羌活愈風湯以前之症也。</p>
<p>太守錢東墟，先患肩疽。屬足三陰虛火不歸源，用壯水之主以制陽光而愈。余曰：瘡疾雖愈，當屏去侍女，恐相火一動，其精暗流，金水復竭，必致變症。後果喘嗽痰出如湧，面目赤色，小便淋瀝。又誤認為外感風寒，用麻黃湯表散，汗出不止。迎余視之，其脈已脫，惟太衝未絕。余謂脾虛不能攝涎，腎虛不能生水，肺虛不能攝氣，水泛為痰，虛寒之症也。辭以難治，勉以益火之源以消陰翳而愈。繼後勞傷神思，外邪乘之，仍汗出亡陽以致不起。</p>
<p>疏曰：此案當患肩疽時業已，足三陰虛火不歸源之症，其命門真火已脫，根離窟矣。雖用壯水之主得愈。然其真火尚未生根入窟，危危欲發，一有所觸即風雷雨電，勃然而不可遏矣。其後之喘嗽痰湧，面目赤色，小便淋瀝，是其症也。而何以更用麻黃大發散之藥，致有汗出不止，脈已脫之。危乎！然以汗出不止，其脈已脫之症，即為亡陽矣。法當用參附湯或耆附湯以回之。何以只用益火之源耶？豈以從前原屬足三陰虛火不歸源而然耶？愚以為當其患肩疽時，當用引火歸源法，則能杜其咳嗽痰湧，面目赤色，小便淋瀝之症矣。當其汗出不止，其脈已脫之時，原當用固氣回陽法，則能杜其後之仍汗出亡陽之症矣。未知先生何意不出於此耶。</p>

<h2>飲食勞倦虧損元氣等症</h2>
<p>進士王汝和，因勞役失於調養，忽然昏憒，此元氣虛，火妄動，挾痰而作，急令灌童便，神思漸爽，更用參、耆各五錢，芎、歸各三錢，玄參、柴胡、山梔、炙草各一錢，服之稍定。察其形倦甚，又以十全大補湯加五味、麥冬治之而安。凡人元氣素弱，或因起居失宜或緣飲食勞倦，或因用心太過，致遺精、白濁、自汗、盜汗；或內熱、晡熱、潮熱、發熱；或口乾作渴，喉痛舌裂；或胸乳膨脹，脅肋作痛；或頭頸時痛，眩暈目花；或心神不寧，寤而不寐；或小便赤澀，莖中作痛；或便溺余滴，臍腹陰冷；或形體不充，肢體畏寒；或鼻氣急促；或更有一切熱症，皆是無根虛火，但服前湯，固其根本，諸症自息，若攻其風熱則誤矣。</p>
<p>疏曰：此因勞役失於調養，則脾胃之氣血皆虛。因而木邪挾火乘之。火性上冒，勢必挾痰。虛則無主，故一時昏憒，急令灌童便者，先清昏憒之火也。俟火稍下，即用參、耆以補氣，氣以肺為主，故用黃耆而不用白朮，芎、歸以補血，血以肝為主，故用芎、歸而不用地黃、白朮。地黃之性閉滯，非氣血錯亂之時，所宜用也。氣血既補，而肝木之邪火上冒，正熾於肺金，不得不清，故柴、梔入肝清火，玄參、甘草入肺清火，及火既清，而形倦甚，則惟元氣氣血兩虛而已，故復用十全大補以溫氣血。氣血非溫不能鼓舞充升，此方之肉桂與前方之柴、梔、玄參不得不相反也。然慮餘火未盡斂，而肺金無護，故加麥冬、五味，此為治氣血兩虛而邪火上冒之程法也。今之忽然昏憒，大都皆屬虛而火冒。世俗每稱中風中痰而用開關下痰之品誤矣。至於凡後諸症，皆因元氣虛而致者，方可但服前湯。不然用於他病者正多也，當細詳察之。</p>
<p>光祿高署丞，脾胃素虛，因飲食勞倦，腹痛胸痞，誤用大黃等藥下之，譫語煩躁，頭痛喘汗、吐瀉頻頻，時或昏憒，脈大而無倫次，用六君子加炮姜四劑而安，但倦怠少食口乾發熱，六脈浮數，欲用瀉火之藥。余曰：不時發熱是無火也，脈浮數，數是血虛也，此因胃虛，五臟虧損，虛症發，見服補胃劑，諸症悉退。</p>
<p>疏曰：此案與前案同是飲食勞倦，同是昏憒。然前以童便之涼及元參、山梔、柴胡之清而得愈。此以炮姜之溫而得痊。則前以氣血兩補治之得愈，此以獨補其氣得痊，何也？前不言大便瀉利，而此有吐瀉頻頻，則前之昏憒為虛而有火，此之昏憒為虛而無火，且脾胃之氣因吐瀉而獨且脫矣。何敢復用涼藥？並不敢同用血藥也。獨是此譫語、煩躁、喘汗、昏憒、脈大無倫次之症，而敢用炮薑、半夏燥熱之品，此有定見在敢用大黃等藥下後，所致之故，不特吐瀉頻頻已也。至於不時發熱為無火，當分氣虛血虛，陰虛陽虛之別。氣虛者，當用六君加炮姜，虛在胃也。血虛者，當用四物加薑、桂，如產後之生化湯，虛在肝也。陰虛者當用七味湯，陽虛者，當用八味湯。</p>
<p>大尹徐克明，因飲食失宜，日晡發熱，口乾體倦，小便赤澀，兩腿痠痛，頭眩目赤，耳鳴唇燥，寒熱痰湧，大便熱痛，小便赤澀。又用四物、芩、連、枳實之類，胸膈痞滿，飲食少思，汗出如水，再用二陳、芩、連、黃柏、知母、麥冬、五味，言語譫妄，兩手舉拂，屢治反甚，復求余治。用參、耆各五錢，歸、術各三錢，遠志、茯神、酸棗仁、炙草各一錢，服之熟睡良久，四劑稍安。又用八珍湯調補而愈。夫陰虛乃脾虛也，脾為至陰，因脾虛而致前症，蓋脾稟於胃，故用甘溫之劑以生髮胃中元氣，而除大熱。胡為反用苦寒，復傷脾血耶？若前症果屬腎經陰虛，亦因腎經陽虛不能生陰耳。經云：無陽則陰無以生，無陰則陽無以化。又云：虛則補其母，當用補中益氣、六味地黃以補其母；又不宜用苦寒之藥，世以脾虛誤為腎虛，輒用黃柏、知母之類，反傷胃中生氣，害人多矣。大凡足三陰虛，多因飲食勞役，以致腎不能生肝，肝不能生火，而害脾土不能滋化，但補脾土，則金旺水生，木得平而自相生矣。</p>
<p>疏曰：此案驟遇之未始，非血虛火盛，濕熱下流之症，而宜乎四物知、柏為治法之正。而先生即主補中益氣者，豈以飲食失宜而晡熱體倦互見耶？抑別有色脈可見耶。至於屢服養血清火之劑，而病益增，欲清而反熱，欲寬而反塞，而後見先生之見明矣！及至變現諸症，不特脾氣虛，而脾陰亦虛，脾陰虛者，不可升提，故從歸脾湯而培補其氣之品稍安。之後復氣血兩補，總之皆歸重於脾，而不以陰虛責之肝腎者，此先生千古獨見也。夫陰虛為脾虛，而脾復稟於胃，故當用甘溫之劑。此是創論，裨益無窮。要知陰虛不必皆屬色勞傷腎，其實因飲食勞倦所致者多，飲食勞役實傷脾胃。而脾胃為後天生化之源，人所藉以生者，蓋惟飲食日進，生此氣血。一日不食則飢，三日不食則餒，七日不食則死。非細故也。今之患陰虛者，每多食少倦怠，而醫者用藥不特寒涼，有損胃氣。即四物、六味亦泥滯，有礙於中宮，則食少而體更倦矣。食且不進，安望其病之愈乎？此歸脾湯補脾之法為治陰虛症之第一義也。脾稱太陰，又名至陰，豈非陰虛者之所當重哉？若果屬腎經陰虛，六味丸原不可廢然。且曰亦因腎經陽虛，不能生陰，當與補中益氣湯同進，是固陽生陰化之妙旨也。</p>
<p>一男子每遇勞役，食少，胸痞發熱，頭痛吐痰作渴，脈浮大。余曰：此脾胃血虛病也。脾屬土為至陰而生血，故曰陰虛。彼不信，服二陳、黃連、枳實、厚朴之類，諸症益甚，又服四物、黃柏、知母、麥冬，更腹痛作嘔，脈洪數而無倫。余先用六君加炮姜，痛嘔漸愈，又用補中益氣全痊。</p>
<p>疏曰：此案以脾胃血虛而論，亦當用歸脾治之。然因用寒涼損胃，而致腹痛作嘔，脈雖洪數無倫，實為寒涼所鼓激，與前高光祿誤服大黃以致吐瀉頻頻，脈大無倫，同是寒涼損胃，寒涼鼓激，故同用六君加炮姜治之也。蓋斯時以救胃為主，胃為生氣之源，為寒涼所困，非半夏不能醒之；為寒涼所凝，非炮姜不能溫之；此原救急之方，非常服之藥也。故即繼以補中益氣以升補脾胃之元氣，而血自生矣。常見元氣虛極而脈反見洪數，一投補劑，其脈頓斂如絲，此火與元氣不兩立之脈，投補之後，而脈斂如絲者，正元氣已復之驗，非脫脈也。蓋未有投補而脈反脫之理。若誤投攻伐而變為如絲者，是脫脈也。更有氣虛之症，脈見洪數，投以補劑而洪數更甚者，此為旺火食氣，是元氣本虛而邪火正盛之時，故可權以滋陰之品，清補之。故《秘法》云：極大之脈，醫能使之小；極小之脈，醫能使之大。此為退病徵驗也。</p>
<p>秀才劉貫卿，勞役失宜，飲食失節，肢體倦怠，發熱作渴，頭痛惡寒，誤用人參敗毒散，痰喘昏憒，揚手擲足，胸間發斑如蚊所吶。余用補中益氣加薑、桂、麥冬、五味而愈。</p>
<p>疏曰：此案因誤服發散之藥。以致痰喘昏憒，揚手擲足，其精神氣血渙散無餘，斯時宜大補氣血加以收斂精神為是，奈何用升、柴升散之劑？大都斯症初起，發熱頭痛惡寒，原有外感，但內傷重而外感輕耳，及至服敗毒散之後，不言汗出亡陽，則其外感之微邪尚未清也，所以不忌升、柴而復用薑、桂以溫之，麥冬、五味以斂之，雖升散亦不害矣，獨見痰喘昏憒時，其虛氣虛火已冒昧於上，復加薑、桂之熱於升補之中，未免難用，雖然胸前發斑如蚊所吶，已驗其胃氣之寒，不得不用。且加麥冬、五味以清斂之，兼收其渙散，此駕御之法也。據痰喘昏憒，理宜八味，然揚手擲足，則神氣已散，非參、耆不可，若復進八味，則元氣更陷脫矣。</p>
<p>黃武選飲食勞倦，發熱惡寒，或用解表之藥益甚。再劑昏憒，胸發黑斑，脈洪數而無力，余欲用補中益氣之劑，不從而歿。</p>
<p>疏曰：此案與前案相同，但斑色則彼紅此黑耳，若以黑斑為積熱，則紅斑未可言寒，蓋紅則熱之極致耳。若以紅斑為虛寒，則黑斑未可言熱。蓋黑則寒之劇甚耳。況脈之洪數無力，可知其內之虛寒而無積熱矣，欲治之法，即前方加附子何如？</p>
<p>一儒者，素勤苦，因飲食失節，大便下血或赤或黯。半載之後，非便血則盜汗，非惡寒則發熱，血汗二藥用之無效，六脈浮大，心脾則澀，此思傷心脾不能攝血歸源。然血即汗，汗即血，其色赤黯，便血盜汗皆火之升降微甚耳。惡寒發熱，血氣俱虛也，乃午前用補中益氣以補脾肺之源，舉下陷之氣；午後用歸脾加麥冬、五味以補心脾之血，收耗散之液，不兩月而諸症悉愈。</p>
<p>疏曰：此案既曰儒者，且曰素勤苦，又曰因飲食失節，則其心脾之虛可知，心主血，脾統血，虛則血不能固，因而大便下血，此宜直補心脾兼提下陷無疑也。而況脈之心脾則澀者乎？其中變現諸症，皆屬於虛。故凡病症之變現進出者皆虛，無主持之故，一從於補而已，無論其似寒似熱似實似虛也。</p>
<p>癸卯春人日，余在下堡顧氏會間有儒者許梅村云，令袒馬生者，發熱煩渴，時或頭痛，服發散藥反加喘急，腹痛，其汗如水，晝夜譫語。余意此勞傷元氣，誤汗所致，其腹必喜手按。許往詢之果然。遂即與十全大補加附子一錢服之，熟睡喚而不醒，舉家驚惶，及覺諸症頓退，再劑而痊。凡人飲食勞役，起居失宜，見一切火症，悉屬內真寒而外假熱。故肚腹喜暖，口畏冷物，此乃形氣病氣俱屬不足，法當純補元氣為善。</p>
<p>疏曰：此案與前劉秀才黃武選同病發熱之症，誤服發散之藥，而前用補中益氣，此用十全大補何也？蓋前案無汗，此案有汗故也。又與前余大尹同。其汗出如水，言語譫妄之症，而前歸脾去木香、龍眼，此用十全大補加附子者何也？益前是內虛而熱，此是內虛而寒故也。何以知之？前則曰小便赤澀，大便熱痛，目赤唇燥，此曰腹痛喜手按知之。或曰先生明言，凡人飲食勞役，起居失宜，見一切火症，悉屬內真寒而外假熱。則前症之諸熱似亦內真寒也，何忌乎附子耶？曰：子獨不見下文即接云，肚腹喜暖，口畏冷物二句，要知外現諸熱症而必內現喜暖畏冷症。然後斷其內真寒也。不然虛則同為虛矣，而內之寒熱不可不辨。特寒者，固當溫熱；而熱者，亦不可用寒也。客云此案之發熱頭痛，煩渴喘急，腹痛譫語等，似乎傷寒門汗下之症，何以用大補而獨效乎？曰：以發熱頭痛為汗症，而既汗出如水，抑可汗乎？以腹痛譫語為下症，而既然喜按畏冷，抑可下乎？雖變現是實，悉屬於虛，非先生之明眼，孰能辨虛實於似是之微乎？</p>
<p>一儒者，日晡兩目緊澀，不能瞻視，此元氣下陷，用補中益氣湯倍加參、耆數劑全愈。</p>
<p>疏曰：日晡緊澀不能瞻視，未嘗非腎水虛症，當用明目地黃丸，而況在日晡陰分乎？先生獨斷以元氣下陷，而用補中益氣倍加參、耆者，豈以九竅不利為腸胃所生之病。而日晡為元氣下陷於陰分之故而然乎？抑別有脈色可據而然乎？其必有左手空洪或虛弱之脈，面色皎白或萎黃之色，以及食少體倦之症故耳。不然是其飲食勞倦與素勤苦，脾腎素虛者也。</p>
<p>一男子，患症同前，服黃柏、知母之類，目疾益甚，更加便血，此脾氣虛不能統血，肝氣虛不能藏血，用補中益氣、六味地黃以補脾肝，生腎水，諸症漸愈。</p>
<p>疏曰：患症同前，屬於陰虛則有之矣。非腎經實火也。而何以服知、柏乎？寒涼進治時，目疾益甚，更加便血者，以傷肝脾之氣，氣虛而血流於下，故用補中益氣升補其元氣，而血自止，更用六味丸滋補其元陰，而血自生。元氣升，而元陰旺，則目疾自愈。又何論於眼科諸法乎？</p>
<p>一男子，飲食勞倦而發寒熱，右手麻木，或誤以為疔毒，敷服皆寒涼敗毒，腫脹重墜，面色萎黃，肢體倦怠，六脈浮大，按之如無，此脾胃之虛氣也。詢之果是銷銀匠。因熱手入水，黴銀寒凝隧道，前藥益傷元氣故耳。遂用補中益氣及溫和之藥煎服，湯漬手而愈。</p>
<p>疏曰：飲食勞倦而發寒熱，是不宜寒涼。右手麻木而無腫痛處，是不宜敗毒，此或者亦何所見，而以之敷服乎？至於六脈浮大，按之如無，左右手皆然矣。右手得此脈，脾胃之氣虛固然，而左手得此脈，則肝腎之陰亦虛然。當氣血兩補，先生獨補脾胃之氣，豈以現症皆在脾胃，而無肝腎故耶？</p>
<p>一儒者，修左足，傷其大指甲少許，不見血，不作痛，形體如故。後因飲食勞倦，足重墜微腫痛，或晝睡或夜寐，其足如故，誤服敗毒之劑，寒熱腫痛。蓋脾起於足大指，此是脾氣虛弱下陷，用十全大補湯而愈。</p>
<p>疏曰：此症論脾氣下陷，允宜用補中益氣以升提之。今用十全大補者，一則因敗毒之劑，氣血兩傷，必有寒涼之品，故以十全兩補之。而肉桂可敵寒涼，一則雖有足重墜微腫之症，究竟晝眠夜寐，其足如故，即誤服敗毒之後，亦惟見寒熱痛而已。別無他種下陷之症，則下陷之勢，原不甚劇，故只溫補其氣血，不必升提也。況足屬至陰之分，自宜與陰藥並用，而肉桂、川芎仍能領氣血升騰，湧而上周遍身耳。</p>
<p>余素性愛坐觀書，久則倦怠，必服補中益氣加麥冬、五味，酒炒黑黃柏少許，方覺精神清妥。否則夜間少寐，足內酸熱，若再良久不寐，腿內亦然，且兼腿內筋似有抽縮意，致兩腿左右頻移，輾轉不安，必至倦極方寐。此勞傷元氣，陰火乘虛下注。丁酉五十一歲，齒縫中有如物塞，作脹不安，甚則口苦如有瘡。然日晡益甚，若睡良久，或服前藥始安。至辛丑時五十有五，晝間齒縫中作脹，服補中益氣一劑，夜間得寐。至壬寅，有內艱之變，日間雖服，午後仍脹，觀此可知血氣日衰，治法不同。</p>
<p>疏曰：此案似屬脾腎兩虛症，理應補中與六味，朝晚各進。先生獨用補中不用六味，則陽旺而陰日虧，故後有齒縫作脹，口舌如瘡症。此皆腎水虛而陰火上炎之象，況午前稍健，午後仍脹者，非屬於陰分乎？先生已精此理，故曰血氣日衰，治法不同。云非與六味同進之法，無化法也。</p>

<h2>脾胃虧損心腹作痛等症</h2>
<p>唐儀部，胸內作痛，月餘腹亦痛，左關弦長，右關弦緊。此脾虛肝邪所乘，以補中益氣加半夏、木香二劑而愈。又用六君子湯二劑而安。此面色黃中見青。</p>
<p>疏曰：此案以色脈論，其為木邪乘土之虛症無疑。胸為肝之部分，腹為脾之部分，初痛自在肝經，月餘之後，則延及於脾矣。左關則為肝，脈右關則為脾脈，弦見左關是肝經自病，右關亦見弦，則乘克於脾矣。肝既乘脾，則土中有木，補中益氣，不特能升補土中之元氣，抑且能提散土中之木氣。否則終無散日而痛，何能愈？既提散之後，土尚未全，則當獨補其土，故先之以補中，繼之以六君也。半夏、木香之加，所以醒其脾而運其氣耳。但此症當察其有熱無熱，若無熱而便溏者，以補中為主；有熱而便秘者，以逍遙為主。此案必是無熱便溏者，故可加以半夏、木香也。且胸腹作痛諸症，每多木氣脹滿，宜用酸收養陰之劑，大忌香燥耗氣之品，反增痛脹也。</p>
<p>儀部李北川，常患腹痛，每治以補中益氣加山梔即愈。一日因怒，肚腹作痛，胸脅作脹，嘔吐不食，肝脈弦緊，此脾氣虛弱，肝火所乘。仍用前湯吞左金丸，一服而愈。此面色黃中見青兼赤。</p>
<p>疏曰：此案多見肝經症，而弦緊二脈又只在肝部，況面色雖黃中見青而兼赤者，豈非病重於肝，而輕於脾者乎？是當用加味逍遙散或茱、連治之，何以亦用補中益氣乎？凡肚腹諸痛，皆屬土木勝負所致，然須分在肝在脾及虛實寒熱之不同。如只在肝者，獨治其肝，從血分用藥；及於脾者，兼治其脾；只在脾者，獨治其脾，從氣分用藥。及於肝，兼治其肝。又中虛者補之，實者疏之，寒者溫之，熱者清之。總皆以肝脾之輕重為則也。而此案以肝重脾輕之症，治法獨重於脾者，何也？蓋治病當顧其常，所以北川常患腹痛，每治以補中益氣加山梔即愈。是以知脾氣虛弱，肝火所乘者，是其常也。一日因怒之後，則肝火烈熾，而脾氣更虛弱矣，故仍用前湯，不過加左金丸，以重清肝火而已。用前湯者，顧其常加左金丸者，治其劇也。</p>
<p>太守朱陽山，因怒腹痛作瀉，或兩脅作脹，或胸乳作痛，或寒熱往來，或小便不利，飲食不入，嘔吐痰涎，神思不清。此肝木乘脾土，用小柴胡加山梔、炮薑、茯苓、陳皮、制黃連一劑即愈。</p>
<p>疏曰：此案為肝木乘脾土是矣。但觀其現症，與前李北川更多脾氣虛弱之症。如腹痛而更多作瀉嘔吐，而更多痰涎兼之神思不清者，豈非脾氣虛弱之明驗乎？何以不用補中益氣為主，而用小柴胡加清火消痰，以疏肝氣為主乎？無他，病起於暴，而無黃中見青之色也。是肝火獨盛之症，故不必補中益氣而單用小柴胡也。故治病當顧其常，而更當察其神色為主也。</p>
<p>陽山之內，素善怒，胸膈不利，吐痰甚多，吞酸噯腐，飲食少思，手足發熱，十餘年矣。所服非芩、連、枳實，必檳、蘇、厚朴。左關弦洪，右關弦數，此屬肝火血燥，木乘土位，朝用六味地黃丸以滋養肝木，夕用六君加當歸、芍藥以調補脾土，不月而愈。癸卯年夏，患背疽症，屬虛寒，用大溫補之藥而愈。乙巳年夏，因大怒吞酸噯腐，胸腹脹滿，余以他往，旬日或用二陳、石膏治，吐涎如湧，外熱如的，將用滾痰丸下之。余到診之，脈洪大，按之如無。余曰：此脾胃虧損而發熱，脾弱而涎泛出也，余用六君加薑、桂一鍾，即睡。覺而諸症如失，又數劑而康。</p>
<p>疏曰：此十餘年之症，皆屬脾肝火鬱，法當用加味逍遙，甚則用加味歸脾之類治之奈何？所服皆寒涼之品，使脾氣日削，肝火日少，究竟火不能清，而木土受困，非肝同補何能得愈？然何以不用逍遙、歸脾之升發運行，而用六味、六君何也？蓋逍遙為肝經鬱火之方，歸脾為脾經鬱結之劑。而茲左關弦洪，非鬱火也，陰虛也；右關弦數，非鬱結也，脾虛也，故用六味以補陰虛，六君以補脾虛，然二方常用之，每朝用六君，夕用六味。而今則反，是蓋右關見數，則肝火已乘於脾，惟恐因六君，而脾經之火更熾，故用六味於朝，從氣分滋補其脾陰，使肝火所燥之血自潤。右關見弦，則脾土已受木克，惟恐用六味而脾經之氣下陷，故用六君於夕。從陰分托住其脾氣，使肝木所乘之土自全。然脾血已燥，不能當半夏、陳皮，故特加歸、芍以濡之。而所以必用半夏、陳皮者，以多服芩、連之寒凝，而脾氣已困，故以二陳醒豁之，況胸膈不利，吐痰甚多者之所宜也。後因大怒吞酸，噯腐等症，即前症也。奈何以二陳、石膏治之，致吐痰灼熱虛寒，可知六君、薑、桂是所必用。常見先生治此症此脈，要作雷龍暴發，水泛為痰，以六味為主。今則不然，蓋病起於大怒，脾胃已虧損，誤用二陳、石膏，脾胃更虧損矣。故從脾胃治，不從肝腎醫也。</p>
<p>儒者沈尼文，內停飲食，外感風寒，頭痛發熱，噁心腹痛，就治敝寓。余用人參養胃加芎、芷、曲、柏、香附、桔梗，一劑而愈。次日抵家，前病仍作、腹痛、請治。以手重按痛即止，此客寒乘虛而作也。乃以香砂六君加香附、炮姜服之，睡覺痛減六七，去二香再服，飲食稍進，又加黃耆、當歸，少佐升麻而愈。</p>
<p>疏曰：此案雖云內停飲食，外感風寒，而用人參養胃加味而愈者，其必外感輕而內停重也。其必人情怯弱，而脾胃虛也。其必六脈虛弱而不任消導也。是以抵家仍作腹痛喜按，豈非虛虧？未復重犯寒邪乎？六君是矣。而必用香砂、香附、炮姜者，亦以前飲食之內停，尚有餘滯耳。</p>
<p>一婦人懷抱鬱結，不時心腹作痛，年餘不愈，諸藥不應，余用歸脾加炒山梔而愈。</p>
<p>疏曰：懷抱鬱結而胸腹作痛，先生原主歸脾，即所謂心脾疼痛治法也。況年餘不愈，而諸藥不應者，其服香燥理氣之藥多矣。脾肝虧損不言，可知此歸脾所必用也。然痛久必有伏火，故加炒山梔以清之。其加歸脾者，以柴胡、山梔同用。是清散肝經之火。鬱結於心脾者，此柴胡一升，山梔一降，而肝火之鬱結，斯清散矣。茲案獨用山梔者，豈以獨在脾經而非肝經所來故耶。然余謂即用柴胡亦未始不可，蓋諸痛皆屬於肝，而懷抱鬱結者，其肝氣必與之同郁也。</p>
<p>府庠徐道夫母，胃脘當心痛劇，右寸關俱無，左雖有，微而似絕。手足厥冷，病勢危篤。察其色，眼胞上下青黯，此脾虛肝木所勝，用參、朮、茯苓、陳皮、甘草補其中氣，用木香和胃氣以行肝氣，用吳茱萸散脾胃之寒，止心腹之痛。急與一劑，俟滾先服，煎熱再進。諸病悉愈。向使泥其痛無補法，而用攻伐之藥，禍不旋踵。</p>
<p>疏曰：病勢劇時，其虛寒實熱，實難卒辨，即脈亦不足為憑，厥亦不足為據，獨是面色無逃其情，今眼胞上下青黯者，眼胞屬脾，青黯屬寒，而青又是肝經之色，故知其脾氣虛寒，而肝木所勝也甚矣。色之不可不辨也。其加吳茱萸者，雖屬散寒止痛之品，亦因吳茱萸能入厥陰肝經故也。痛雖在於胃脘當心，而青黯則厥陰虛寒之色，故不用薑、桂、附，而獨用茱萸也。痛症之虛實寒熱，辨之之法，先以手按。有形者，是實；無形者，是虛；以湯探之，喜熱者，是寒；喜冷者，是熱；便溏者，是虛；燥結者，是實；倦臥者，是寒；揚手者，是熱；脹悶惡食者，是實；得食稍安者，是虛。以此細察，庶可悉知也。</p>
<p>一婦人心疼腹痛，諸藥不應，余用黑山梔、桔梗治之而愈。</p>
<p>疏曰：此案必屬鬱火痛，故以黑山梔導其火，屈曲下行，而以桔梗載之，在心包絡之分也。此丹溪之法也，孰謂立齋不遵丹溪，而專用溫補耶！亦遇理勢之宜不宜耳。</p>

<h2>脾胃虛寒陽氣脫陷等症</h2>
<p>譚侍御，非頭痛即吐清水，不拘冬夏，吃薑便止，已三年矣。余作中氣虛寒，用六君加當歸、黃耆、木香、炮姜而瘥。</p>
<p>疏曰：頭痛原屬氣虛症，此案頭痛即吐清水者，屬胃氣虛寒固矣。不必因吃薑便止，而後知也。獨怪胃氣虛寒之症，而以三年之久耶。是其中必有痰飲之故，故特主六君子湯以補胃氣祛痰飲。加木香、炮姜，是因胃寒而設，固無疑矣。其當歸、黃耆，非有痰飲者所宜，何以加乎？豈亦病久而血亦虛乎？故用此補血耶。以虛火銷爍，其中而更燥乎？故用此以潤燥耶。以居高之氣難至，故用歸、耆充升其氣耶。詳而觀之，此即補中益氣去升麻、柴胡，加木香、炮薑、半夏也。夫頭痛者，當用補中益氣以升提之，因吐清水，升提非其所宜，去升、柴而加木香、炮姜以運行之，所以代升提也。而與寒更為切，當加半夏、茯苓，則因於吐清水耳。</p>
<p>一儒者，四時極喜熱飲食，或吞酸噯腐，或大便不實，足指縫濕癢，此脾氣虛寒下陷。用六君加薑桂治之而愈。此理稍為失宜，諸疾仍作，用前藥更加附子錢許，數劑不再發。</p>
<p>疏曰：此案未始非脾經濕熱鬱結而下流者，何以見其必屬虛寒而陷乎？特以四時極喜熱飲食為據耳。然有謹於調護者，多喜熱飲食；精神怯弱者，多喜熱飲食；即脾經有濕熱鬱結者，亦多喜熱飲食，未足以為據也。其或有色脈為可據乎？我觀先生字法，有可推詳者，曰極喜熱飲食，曰四時極喜熱飲食，要知非熱不食，不可稍有不熱之意也，此脾氣之虛寒無疑也。故有吞酸噯腐，不責之濕熱鬱結，而責之脾氣虛寒；大便不實，足指濕癢，不責之濕熱下流，而責之脾氣下陷，此六君、薑、桂之所必需也。然何不以補中益氣治之？曰：大便不實，歸、耆在所當禁耳。</p>
<p>一男子，形體倦怠，飲食適可，足指縫濕癢，行坐久則重墜，此脾胃氣虛而下陷，用補中益氣加茯苓、半夏而愈。</p>
<p>疏曰：此案與前案同患足指縫濕癢之症，同有元氣下陷之勢，而用藥一主於溫補而不升，一主於升補而不溫者何也？曰：前案以四時極喜熱飲食而知其虛寒，此案無也，故不必溫。此案以形體倦怠，行坐久則重墜而知其下陷。前案無有也，故不必升。前案以大便不實為腸胃滑潤，故不用歸、耆，此以足指濕癢，為同有濕氣，故亦加茯苓、半夏。要知氣虛雖同，而寒則異。下陷雖同，而症則異；故用藥亦當異也。故此案之用補中益氣與前案之用六君不同也。</p>
<p>一男子，食少胸滿，手足逆冷，飲食畏寒，發熱吐痰，時欲作嘔，自用清氣化痰及二陳、枳實之類，胸腹膨脹，嘔吐痰食，小便淋瀝；又用四物、芩、連、柏、知母、車前，小便不利，諸病益甚。余曰：此脾胃虛寒，無火之症，故食入不消，而反出。遂用八味丸補火以生土，用補中益氣加薑、桂，培養中宮，生髮陽氣尋愈。</p>
<p>疏曰：此案初症即屬脾胃虛寒，即當以補中益氣加乾薑以治之。或曰此初症似肝脾鬱火，當用加味逍遙為是。余曰不然，諸症皆相似而作嘔有辨。若鬱火作嘔，必多作酸苦，今不曰酸苦，則屬脾胃虛寒也明矣。蓋手足厥冷，飲食畏寒之症，非寒則熱，非熱即寒。寒者真病所現，熱者反見之化，今既不是反見之化，即是真病所現耳。至於服伐脾之藥而諸症變劇，理所宜然，以及小便淋瀝何也？蓋中氣不足，小便因而失常，是二陳、枳實之伐其脾故也。又服寒腎之藥，而諸症益甚，勢所必然。以便小便不利何也？蓋膀胱者，州都之官，氣化則能出焉，是四物、芩、連、知、柏、之寒其腎故也。是當曰此脾腎虛寒無火之症，何以云脾胃耶？蓋以食入不消，而反出，為脾胃虛寒無火也，明矣。然雖以食入不消而反出，為脾胃虛寒無火之驗，而用藥則先八味，以補腎火，豈非溫腎以及於膀胱，以氣化其小便而能使之出者乎？蓋此症以小便不利為急，故先八味以氣化為主，若第云補火以生土，曷不先用補中益氣加薑、桂以培養中宮之本臟不及，然後補本臟之母乎？此溫補脾胃虛寒之法也。今先八味而後補中者，允屬脾腎虛寒症。而先生只云脾胃者，蓋初症只是脾胃虛寒，因誤投寒腎之藥而復現腎經無火之症。故曰脾胃虛寒無火，無火重矣，故先八味。</p>
<p>一男子，每勞肢體時痛，或用清痰理氣之藥；不勞常痛，加以導濕，臂痛漫腫，形體倦怠，內熱盜汗，脈浮大，按之微細，此陽氣虛寒。用補中益氣加附子一錢，人參五錢，腫痛悉愈。又以十全大補百餘劑而康。彼計服過人參十三斤，薑、附各斤余。</p>
<p>疏曰：凡肢體疼痛，屬於血少者多，治法每以養血行氣為主，因肝腎陰虧所致，亦不過治以補腎疏肝之法，殊不知皆氣滯血凝之故。是以每用血藥無效，惟溫補其氣，充升於肢節之間，則滯者行，凝者散，而疼痛自愈矣。然亦有滋陰養血之藥而得效者，因腎主骨，肝主筋，肝腎陰血虧損，不能榮養筋骨以致疼痛，則當補腎養血為主，又非溫補元氣所得愈也。然必有火症可驗。如此案，內熱盜汗，似屬火症，當用滋陰養血者矣。何以獨稱陽氣虛寒。而只用溫補元氣之方耶？然曰脈浮大，按之微細者，則為陽氣虛寒也。無疑若陰虛血熱，其脈當洪數而絃動矣，此案畢竟氣血兩虛，故即繼以十全大補兩補之。蓋形體倦怠，氣虛也；內熱盜汗，血虛也，而痛又不分左右，從此可見矣，至於服過人參十三斤，薑、附各斤余者，此千百中僅有一二人也。</p>
<p>沈大雅母，患脾虛中滿，痰嗽發熱，又因濕面冷茶，吞酸嘔吐絕食。誤服芩、連、青皮等藥，益加寒熱口乾，流涎不收，且作渴。聞食則嘔數日矣。迎先生視之曰：脾主涎，此脾虛不能約制，故涎自出也。欲用人參安胃散，惑於眾論，以為胃經實火宿食治之，病日增劇。忽思冬瓜，食如指甲一塊，頓發嘔吐酸水不止。仍服前藥愈劇，復邀先生視之。則神脫脈絕瀕死矣。惟目睛尚動，先生曰：寒淫於內，治以辛熱，然藥不能下矣。急用鹽、艾、附子炒熱，熨臍腹以散寒回陽，又以口氣補接母口之氣，又以附子作餅，熱貼臍間。時許，神氣稍蘇，以參、朮、附子為末，仍以是藥加陳皮煎膏為丸如粟米大，入五七粒於口，隨津液嚥下即不嘔出。二日後加至十餘粒，諸病少退，其涎不止，五日後，漸服煎劑一二匙，胃氣稍復，乃思粥飲，後投以參、術等藥溫補脾胃五十餘劑而愈。大雅敢述病狀之奇，用藥之神，求附卷末，一以見感恩之意，一以示後之患者，當取法於此。云爾晚生沈大雅頓首拜書。</p>
<p>疏曰：大凡服對症之藥而病益增者，即屬虛症居多。如此案論之未始，非濕熱飲食之故，而進以芩、連、青皮等物，益增諸病，其為脾胃虛寒可知，所當急與溫補也。若但以流涎，屬脾虛不能約制，而必用溫補者，寧不知有脾熱甚而流涎之說乎？惟因服芩、連、青皮等之後見之，故直斷以虛寒也。至於神脫脈絕，惟目睛尚動之時，所以急救之法，與進藥之法，實挽回之妙術，所當常切思維者也。然余謂凡虛寒將脫之症，其挽回也易，枯涸將脫之症，其挽回也難。如腎水枯涸，濕火燔灼之症。而至於神脫脈絕，目睛尚動時，用補水生津之品，則緩而無濟，用回陽壯火之品，則更加焦爛矣。奈何？奈何？總之陽氣可挽，陰精難復也。可不重惜平日哉！</p>

<h2>命門火衰不能生土等症</h2>
<p>廷評張汝翰，胸膈作痞，飲食難化。服枳朮丸，久而形體消瘦，發熱口乾，脈浮大而微，用補中益氣加薑、桂諸症悉退。惟見脾胃虛寒，遂用八味丸補命門火，不月而飲食進，三月而形體充。此症若不用前丸，多變腹脹喘促，腿足浮腫，小便淋瀝等症，急用濟生加減腎氣丸，亦有得生者。</p>
<p>疏曰：枳朮丸飲食傷腸胃之藥也。蓋腸胃無羌，偶被飲食傷者設耳，若脾胃元氣先虛，不能運化飲食，自當峻補元氣，使飲食自然運化。何可更以枳實、白朮之推牆倒壁者，復傷之耶！雖有二倍之術，誠不足以償之也，久而形體消瘦，發熱口乾，我固知脾胃之氣虛也。而況脈之浮大而微者乎？夫血虛者，多近於熱；氣虛者，多近於寒；故用補中加薑、桂以直入脾胃而補之也。溫補脾胃而諸症悉退。宜乎不復見有脾胃虛寒之症矣。何以又云惟見脾胃虛寒耶？補中、薑、桂正溫補脾胃虛寒之藥，服之而脾胃之虛寒尚見。此非溫補所得愈者矣。於是用隔二之法，溫補脾胃之母，使母子相生，土從火化，則元元本本生化之機不息，故遂用八味丸以補命門火也。至於不用前丸之變症，是又火不能生土，土不能制水之症，濟生加減腎氣丸之所以有牛膝、車前以利水也。</p>
<p>一儒者，雖盛暑喜燃火，四肢常欲沸湯漬之，面赤吐痰，一似實火，吐甚宿食亦出，惟食椒、姜之物方快。余曰：食入反出乃脾胃虛寒，用八味丸及十全大補加炮姜漸愈，不月平復也。</p>
<p>疏曰：盛暑燃火，四肢漬沸，望而知其為脾胃虛寒，而況食椒、姜物方快乎。獨面赤吐痰，吐甚宿食亦出之症，此亦有陽明火亢者，亦有肝脾火鬱者，似難概以虛寒論，且前症亦有火極似水之假象，火鬱喜辛之暫開者乎，雖然必有可據者也。蓋陽明火亢者，所吐之物必臭穢，或聲厲，或發渴，脈必洪長而數。肝脾火鬱者，所吐之物，必酸苦，或胸悶，或吐後反快。脈必細數而澀。今此案大都所吐之物，不臭穢，不酸苦，其聲低而不渴，其氣怯而不快，其脈必浮大而微或遲細而虛，是可辨也。非獨以食入反出，即斷為脾胃虛寒耳。然即以脾胃虛寒論，似亦當先用補中益氣加薑、桂，而後或繼以八味丸。何以此案即用八味丸耶？蓋虛寒之症，而至面赤吐痰者，似有火衰戴陽之意，似有龍雷上竄之意，此皆不當升提而當用導引者也。故雖曰：脾胃虛寒而即用八味，然脾胃之虛寒，未能同愈，又用十全大補加炮姜雙補脾腎，非法之純，而無弊者乎。</p>
<p>一婦人飲食無過碗許，非大便不實，必吞酸噯腐。或用二陳、黃連，更加內熱作嘔。余謂東垣先生云：邪熱不殺穀，此脾胃虛弱，末傳寒中，以六君子加炮薑、木香數劑，胃氣漸復，飲食漸進，又以補中益氣加炮薑、木香、茯苓、半夏數劑全愈。後因怒，飲食頓少，元氣頓怯，更加發熱，誠似實火，脈洪大而虛，兩尺如無，用補中益氣，八味丸，兩月餘諸症悉愈。</p>
<p>疏曰：此案初症，原屬肝木乘脾土之鬱火症，斯時宜用茱、連、逍遙散為是，奈何用二陳、黃連之寒涼削伐，致使脾胃更虛，而有內熱作嘔之變？然內熱作嘔，亦未始非鬱火之驗，但從寒涼削伐中來，故直斷以末傳寒中，而非邪熱不殺穀之症乎？先六君而後補中者，蓋脾胃既以虛寒而作嘔，則元氣有斷脫之意，未敢驟升，故先溫中以生其根，又加薑、半為止寒嘔要藥，俟胃氣復，寒嘔止，然後又用補中益氣加味，以溫升其元氣，而元氣充足無下陷之虞。此進藥次序之妙也。至於後因怒而飲食頓少，元氣頓怯，更加發熱者，在症固宜於補中，然以兩尺如無之脈，此無根之脈也，最忌升提，正恐其有脫之患，何以仍用補中耶？我因知用補中湯以下八味丸耳。補中，所以治症；八味，所以治脈；合而進之，則元氣頓怯者，不因八味之沉降而更怯；兩尺如無者，不因補中之升提而更無。此進藥兼全之妙也。不然，何可先升後降耶？脈洪大而兩尺如無者，尚可兼用升提，若微細而兩尺如無者，升提並不可兼用，況敢獨用乎？</p>
<p>佐云向因失足，劃然有聲，坐立久則左足麻木，雖夏月，足寒如冰。嘉靖己亥夏月因醉，睡覺而飲水復睡，遂覺右腹痞結，以手摩之，腹間漉漉有聲，摩熱則氣泄而止。每每加劇。飲食稍多，則作痛瀉，求治於醫，今服枳朮丸，固守勿效。甲辰歲，求治於立齋先生，診之喟然嘆曰：此非脾胃病，乃命門火衰，不能生土，虛寒使之然也。若專主脾胃誤矣！可服八味丸則愈，余敬服果驗。蓋八味丸有附子，醫家罔敢輕用。夫附子斬關奪旗，回生起死，非良將莫能用，立齋先生今之武候也。家貧不能報德，姑序此以記治驗，杉墩介庵朱佐頓首拜書。</p>
<p>疏曰：左足麻木，夏月如冰，雖似命門火衰，然得之失足而起。而麻木又只在一足，未始非因失足而至，氣滯血凝，故為之寒如冰也。若必繫命門火衰，則當兩足皆然，何獨止於左足乎？至於飲水而右腹為之痞結，以及飲食稍多，則作痛瀉等症，皆作脾胃氣虛之故，即寒也。亦屬脾胃虛寒也，何以見其必屬命門火衰耶？要知麻木只在左足，而寒如冰，則兩足所同，故曰左足麻木，又曰足寒如冰，不然當曰其寒如冰矣。若夫飲水而右腹痞結，余曾謂肝火從左命門，火從右，故左半身有火症者，責之肝火居多；右半身有火症者，責之命門火居多。則右半身有火虛寒症者，以例而推，未始非命門火衰之故。今飲水而右腹痞結，是水傷其火，火衰而水不能運也。況飲食即睡，睡則氣歸於腎，腎並水亦引歸於腎，腎中之命門，火能不為水寒所傷，延及六年之久，而至於衰乎？合而觀之，用八味丸無疑。若果系脾胃病，則當洞瀉絕食，反不能歷六年之久矣。</p>
<p>光錄鄺子涇，面白神勞，食少難化，所服皆二陳、山梔、枳實之類，形體日瘦，飲食日減。余謂此脾土虛寒之症，法當補土之母，彼不信乃徑補土，以致不起。</p>
<p>疏曰：土虛者，補土；火虛者，補火；此一定之法。若土虛而必欲補火以生之，則補土之法，可以不設矣。要知土虛而脈見右關獨虛弱，只補其土，而若兼見右尺無根者，自當補土之母，竟補其土無益也。然土母有二，心與命門也，蓋胃土虛寒，當補心火以生之，歸脾湯是也。脾土虛寒，當補命門以生之，八味是也。不能食者為胃寒，不能化者為脾氣寒。故此案云食少難化，則脾胃皆虛寒，可用歸脾湯與八味丸間服。然命門火衰，不能生脾土，致食少難化，或大便溏泄者，用八味、七味不效，蓋熟地、山萸肉凝滯之品，與食少便泄，症多不合宜，所謂生柴濕炭，不能發火反使窒塞釜底，而釜中終不溫熱，水穀終不成熟，則火且不得燃，安望其有生土之功乎？故有十補丸、四神丸、二神丸、菟絲丸，近傳進上萃仙丸等方皆無熟地。若用煎劑，如補骨脂、枸杞、沙苑、蒺藜、菟絲、山藥、北五味、杜仲、續斷等皆溫補腎氣之藥，空松透發，如干柴燥炭，火必旺而土自生矣。且無礙於食少便泄也。</p>
<p>羅工部，仲夏腹惡寒而外惡熱，鼻吸氣而腹覺冷，體畏風而惡寒，脈大而虛微，每次進熱粥甌許，必兼食生薑甌許，若粥離火食，腹內即冷。余曰：熱之不熱是無火也。當用八味丸壯火之源，以消陰翳，彼反服四物、玄參之類而歿。</p>
<p>疏曰：此案症屬虛寒明甚。何反服四物、元參寒涼之劑耶？豈以仲夏而然乎？豈以外惡熱而然乎？脈之大而然乎？獨不顧寒症種種，不一而足。至於進粥不可離火，必兼食姜甌許，非虛寒所彰著者乎？然此虛寒也，明理人論治必用參、朮、薑、桂等溫補脾胃之氣而已，今用粥必兼食姜，每次必甌許，以此大辛熱之物，食之久且多，虛或未回，其寒必退而熱必至，何至略無少減耶？要知姜能入脾胃，脾胃既能受熱，而熱不至，即溫補之亦必無益，不得不轉而問諸火源。夫火之源不至脾胃，而在於腎水之中，所謂先天命門真火是也，凡寒症而用諸熱藥而不熱者，是無真火故耳。欲補其火，須向腎水中補之，此八味丸所以用六味補水之劑，加桂、附之品則後天之土直從，先天之火而生矣。</p>
<p>工部陳禪亭，發熱有痰，服二陳、黃連、枳殼之類，病益甚。甲辰季冬請治。其脈左尺微細，右關浮大，重按微弱。余曰：此命門火衰不能生土。而脾病當補火以生土或可愈也。不悟，仍服前藥，脾土愈弱，至乙巳閏正月，病已革，復邀治，右寸脈平脫，此土不能生金，生氣絕於內矣。辭不治。經云：虛則補其母，實則瀉其子。凡病在子，當補其母，況病在母而屬不足，反瀉其子，不死何俟？</p>
<p>疏曰：今人論脈，以右尺屬火，以左尺屬水。故右尺微細為火虛，則左尺微細當屬水虛矣。先生斷其命門火衰者，何也？要知兩尺同其水火，當以洪大微細分之，凡尺脈洪大者，不論左右，斷以水虛；尺脈微細者，不論左右，皆斷以火虛也；此秘傳也。而先生於此案，已先傳於不言之表，讀先生醫案，豈可草率耶？余嘗論古有隔二，隔三之法，隔二之法可用，隔三之法不可用。蓋隔二是補其所生，若隔三補其克也。此案前以火虛不能生土，當補火以生土可也，是為隔二之可用。後以因火虛不能生土，土復虛，不能生金，則補火之法何可用乎？是隔三不可用也。然病至於隔三矣，亦去生甚遠，故見右寸脈平脫即辭不治，概可知也。無已則惟建中湯可用，然此湯亦是補土生金為隔二之法，非補火生土，土復生金，隔三之法也。</p>
<p>辛丑年餘，在嘉興屠漸山第有林二守。不時昏憒，請余治之。譫語不絕，脈洪大按之如無，此陽虛之症也，當用參附湯治之。有原醫者，陽喜而迎曰：先得我心之同然，遂服之即靜睡覺，而進食，午後再劑，神思如故，其脈頓斂。余返後又詐云：用附子多矣！吾以黃連解之陰，仍用參附湯。竊觀仲景先生治傷寒云：桂枝下咽，陽盛乃斃，硝黃入胃，陰盛乃亡。不辨而自明矣，吾恐前言致誤患者，故表出之。</p>
<p>疏云：不時昏憒，似陽明胃火；譫語不絕，似陽明火亢；於此而欲斷其為陽虛，誠難定見。不知果屬陽明火者，必從發熱頭痛，傷寒症傳經變來。今不言發熱頭痛，則其為虛也明矣。況脈洪大而按之如無者乎。然以此症論虛，則虛矣。虛中未免有火，非火何為昏憒乎？非火何為譫語乎？不知虛而有火者，脈必帶數，今不言數則知其無火矣。再以此症論無火，則無火矣。似虛在於陰，不在於陽，陽虛何以昏憒乎？陽虛何以譫語乎？不知虛在陰分者，脈必強勁，今不言強勁則知其非陰虛矣。由是而知，不時昏憒者，氣欲脫也；譫語不絕者，神已飛揚也；神與氣屬陽，故曰陽虛。人參以復後天之陽，附子追先天之陽，所以用參附湯而不用八味也。八味獨補腎中先天之陽，虛在陰分者宜之，況先天之陽為真火而非元陽也。元陽者，鼓舞動盪，發育化生之本也。八味丸，體陰而性滯，何能追復此元陽於欲脫將畢之時，惟參附、耆附及加參之三生飲等方，庶可追復挽回其陽，皆此意也。</p>

<h2>腎虛火不歸經發熱等症</h2>
<p>大尹沈用之，不時發熱，日飲冰水數碗，寒藥二劑，熱渴益甚，形體日瘦，尺脈洪大而數，時或無力。王太僕曰：熱之不熱，責其無火；寒之不寒，責其無水。又曰：倏熱往來，是無火也，時作時止，是無水也。法當補腎，用加減八味丸，不月而愈。</p>
<p>疏曰：倏熱往來，是無時而作也。時作時止，是有時而作也。此案不時發熱，即倏熱往來也，正是無火之症當用八味丸益火之源以消陰翳者也。而日飲冰水二碗，寒藥二劑，熱渴益甚，此即寒之不寒，責其無水之症，當用六味丸壯水之主以制陽光者也。是一人之身，既屬無火，而又屬無水矣。而熟知其不然也。試觀先生用藥。不曰補火，不曰補水，而曰補腎。不曰用八味丸，不曰用六味丸，而曰用加減八味丸。是非無火無水之症，而實腎虛，火不歸經之症也。夫腎虛而火不歸經者，以言乎無火，則火但不歸經耳。未嘗是絕然無火之寒症。以言乎無水，則水但不能制其上越之熱，未嘗是絕然無水之熱症。故用加減八味丸以引火歸源而已。蓋龍雷之火飛越上升，時隱時現，故為之不時發熱也，銷爍肺胃，故為之日飲冰水也。尺脈洪大而數，火未嘗無也，時或無力，火未嘗有也，或有或無，正火之不歸經。處而後知先生察脈審症處方之妙，不越乎古人之模範，亦有不囿乎古人之模範者也。</p>
<p>顧大有父，年七十有九，歲仲冬，將出少妾入房，致頭痛發熱，眩暈喘急，痰涎壅盛，小便頻數，口乾引飲，遍舌生刺，囊縮斂如荔枝，下唇黑裂，面目俱赤，煩躁不寐，或時喉間如灶火上衝，急飲涼茶少解，已頻於死。脈洪大而無倫且有力，捫其身烙手。此腎經虛火遊行於外。投以十全大補加萸肉、澤瀉、丹皮、山藥、麥冬、北五味，又附子一鍾。熟寐良久，脈症各減三四，再與八味丸服之，諸症悉退，後畏冷物而痊。</p>
<p>疏曰：此案宛似傷寒傳裡實邪症。合其時考之，又傷寒也。以其脈考之，又傷寒也，而孰知其為腎經虛火遊行於外之症乎？故凡病勢忽然暴烈，脈氣異於尋常，即當求本而治。若果系傷寒傳裡，當必從太陽、陽明、少陽、諸表症盡而後傳變入來。今不言諸表症，而但云將出少妾入房所致。豈非病在腎經虛火遊行乎？然以腎經虛火遊行而論，當即以七味丸引火歸源之法，治之何以先用十全大補加味耶？獨不慮火未歸源，而參、耆、朮、甘補住上焦遊行之火，致痰涎壅在於肺，以成窒逆之患，而愈增喘急乎？不知年登七十九歲，氣已虛矣，入房即病，陽已脫矣。則陰陽氣血無不虛脫，故用此湯齊補之俟。脈症稍減三四，使陰陽氣血已定，後用八味丸以治其本源。其不用七味及加減八味者，以七十九之老人入房，即病暴脫，真火已衰，不特火不歸經而已。</p>
<p>下堡顧仁成，年六十有一，痢後入房，精滑自遺，二日方止。又房勞感寒，怒氣遂發寒熱，右脅痛連心胸，腹痞自汗、盜汗如雨，四肢厥冷，睡中驚悸，或覺上升如浮，或覺下陷如墜。遂致廢寢，或用補藥二劑益甚，脈浮大洪數，按之微細，此屬無火虛熱，急與十全大補加山藥、萸肉、丹皮、附子二劑，諸症頓愈而痊。此等元氣百無一二。</p>
<p>疏曰：此症屬虛，人皆知之。而何以用補藥益甚？蓋無火虛熱，必需桂、附。徒用補藥，適以助其虛熱。故益甚也。此症與前案相同，用藥亦不異，但無澤瀉、麥冬、五味三品。因此無燥症現，故不需上三味。而曾有精滑，故去澤瀉，或曰此症以感寒，寒熱似有外感怒氣，右脅痛連心胸，似有氣阻腹痞，似有食滯。雖其從入房而來，醫者必曰宜先疏之，散之，消之，而後補之。亦何處見其無火虛熱耶？豈因四肢厥冷而云然耶？曰不然。從脈之浮大洪數，按之微細而云然也。夫水火之源，皆在於下，今按之微細，則水火衰矣。而洪數獨在浮處，豈非虛熱乎？病至於此，非一劑所能愈。今曰一劑，諸症愈而痊。故以此等元氣百無一二，與前之顧大有案亦云然。</p>
<p>一儒者，口乾發熱，小便頻濁，大便秘結，盜汗夢遺，遂致廢寢。用當歸六黃湯二劑盜汗頓止，用六味地黃丸，二便調和，用十全大補湯及前丸兼月餘，諸症悉愈。</p>
<p>疏曰：此案純是陰虛火燥症，當歸六黃湯雖為盜汗而設，其於小便頻濁，大便秘結，未始不可。此不過曰盜汗頓止而已，餘症未止也。既以苦寒清火之後，而有所未愈，而後補陰之品，不可不進矣。六味丸難為二便而設，其於口乾發熱，夢遺廢寢，未始不可，此不過云二便調和而已。餘症未和也。既以純陰壯水之後，而有所未愈，而後氣血兩補之方，不可不進也。然氣血兩補，當用八珍，何以前用芩、連、黃柏，而後復用肉桂耶？蓋芩、連、黃柏既可止盜汗，則可並止口乾發熱矣，今口乾發熱仍在者，是火不歸經之故耳。此所以用十全，不用八珍也。至於兼服六味丸者，此症原屬水虛而非火虛，故當此涼藥雖未能全愈，然亦未嘗不應，故復兼壯水之方，所以固其本也。</p>
<p>州同韓用之，年四十六歲。時仲夏，色欲過度，煩熱作渴，飲水不絕，小便淋瀝，大便秘結。唾痰如湧，面目俱赤，滿舌生刺，兩唇燥裂，遍身發熱，或時如芒刺而無定處，兩足心如烙，以冰折之作痛。脈洪大而無倫，此腎陰虛，陽無所附而發於外，非火也。蓋大熱而甚寒之，不寒是無水也。當峻補其陰，遂以加減八味丸料一斤，內肉桂一兩，以水頓煎，六碗冰冷與飲，半餉已用大半，睡覺而食溫粥一碗已，睡至晚，乃以前藥溫飲一碗，復睡至曉，食熱粥二碗，諸症悉退。翌日畏寒，足冷至膝，諸症仍至，或以為傷寒。余曰：非也，大寒而甚，熱之不熱，是無火也，陽氣亦虛矣，急以八味丸一劑，服之稍緩，四劑諸症復退，大便至十三日不通，以豬膽導之，諸症復作，急用十全大補湯數劑方應。</p>
<p>疏曰：此症大概亦當用十全大補湯，如前顧大有者之加法與之，何以只用加減八味丸料耶？豈以大便秘結之故，不敢用補氣之品乎？然前曰腎經虛火遊行於外，此曰腎陰虛陽無所附而發於外，其症不甚相遠，而治法則前既用參、耆、術補氣之藥，復用附子補火之藥，而此既不用參、耆、術，復減去附子，大相徑庭，何也？曰前是火虛，此是水虛也。蓋前云口乾引飲，又曰急飲涼茶少解，是口雖干而所飲不多，且不曰飲水，而曰涼茶，豈非虛火之驗乎？此云作渴飲水不絕，是渴也。甚於干也，飲水也甚於涼茶也。不絕也，甚於少解也，以此而論，豈非水虛之驗乎？況大便秘結者，又屬水虛也無疑。水虛而陽無所附，只宜引火歸源而已，不必補火也。故用肉桂不用附子，只宜補腎壯水而已，不必補氣也。故用加減八味而不用十全大補。故知辨症之法，只在毫釐之間也，而壯水引火之後，翌日復現無火症。一人一病，何頃刻變易若是乎？要知無水與無火，截然兩途。而虛火遊行與陽無所附，其理原同一致。如無水者，內外皆熱症也，法當壯水；無火者，內外皆寒症也，法當益火。若虛火遊行與陽無所附者，皆是腎經水火兩虛，外熱內寒症也。法當引火歸源，非偏於補水，偏於補火者也。然外熱內寒症，即內外皆寒症，故引火之後，外熱雖除，內寒未後，所以諸症仍至，不得不用益火之劑。由是而知，引火之法，即益火之法，皆從八味加減而已。但有輕重之分，在用附子不用附子之間，初無異方也，至於大便十三日不通，可以通矣。今通之，只用外法，又在大補水火之後，似無他慮，其如一通之後，諸症復作，甚矣！大便之不可輕導也，大便通後而諸症復作者，是後天之氣血益虛矣，故不得不復用兩補氣血之劑，由是而知，水與火恆相倚，先後天恆相關也。而審症用藥，恆相顧也，此案凡三變然一則。曰諸症仍至，再則曰諸症復作，是病變而症不變也。用藥之法，初則壯水，因大便秘結，再則益水火，因足冷過膝也。終則氣血兩補，因大便強通也，然則水火間補之意，始終不變也。</p>
<p>舉人陳履賢，色欲過度，丁酉孟冬，發熱無時，飲水不絕，遺精不止，小便淋瀝，或用四物、芩、連之類，前症益甚。更加痰涎上湧，口舌生瘡，服二陳、黃柏、知母之類，胸膈不利，飲食少思，更加枳殼、香附，肚腹作脹，大便不實，脈浮大，按之微細，余朝用四君為主，佐以熟地黃、當歸；夕用加減八味丸，更加附子，唾津調搽湧泉穴，漸愈後，用十全大補湯。其大便不通，小腹作脹，此直腸乾澀，令豬膽導通之。形體殊倦，痰熱頓增，急用獨參湯而安，再用前藥而愈。但勞發熱無時，其脈浮洪，余謂其當慎起居，否則難治。以余言為迂，至乙巳夏復作，乃服四物、黃柏、知母而歿。</p>
<p>疏曰：此案與上案二顧大局相仿，亦當用十全大補合八味丸。藥則同所不同者，惟耆、附、芍、芎耳。余細察其症之異同處，二顧無胸膈不利、飲食少思及肚腹作脹、大便不實諸症。此當補脾氣為主，而補陰滋腎之品，所在禁忌。故雖因色欲過度而來，不得不兼用補陰而以四君為主，歸、地為佐，豈非重在補脾氣乎？然畢竟發熱無時，種種諸症，皆腎虛火不歸經所致，故夕仍用加減八味也。但欲如二顧合用之法，則於脾氣有窒塞滑潤之患，不若即此合用之方而分進之，則既不礙於脾氣，復不缺於補陰。然終不用耆、芎、芍及附子者，黃耆非脹滿所宜，附子非水虛可用，川芎不利於上炎，白芍有礙於食少故也。蓋色欲過度者，屬水虛；而入房即病者，多屬火虛；故前二顧，皆入房即病，是以即用附子，此案及韓用之，皆色欲過度，是以不用附子，從此可見也。更以附子唾津調搽湧泉穴者，亦引火歸源之意也。可謂善於權行者矣。</p>
<p>吳江晚生沈察頓首云，昔僕年二十有六，所稟虛弱，兼之勞心，癸巳春，發熱吐痰，甲午冬為甚。其熱時起於小腹，吐痰而無定時，治者謂脾經濕痰鬱火。用芩、連、枳實、二陳，或專主心火，用三黃丸之類。至乙未冬，其熱多起足心，亦無定時，吐痰不絕，或遍身如芒刺，然治又以為陰火生痰，用四物、二陳、黃柏、知母之類，俱無驗。丙申夏，痰熱愈甚，盜汗作渴，果屬痰耶？陰虛耶？乞高明裁示云云。余曰：此症乃腎經虧損，火不歸經，當壯水之主以鎮陽光，乃就診於余。果尺脈洪大，余卻虛浮。遂用補中益氣及六味地黃丸而愈。後不守禁，其脈復作，余謂火令可憂，當慎調攝，會試且緩。但彼忽略，至戊戌夏。果歿於京。</p>
<p>疏曰：此案實系腎經虧損，火不歸經之症。法當用引火歸經，如加減八味為是。而先生既明言之矣，何復又言當壯水之主以鎮陽光耶？蓋此二句是指腎水獨虛，相火偏旺，其火無升騰飛越之勢第，其煎熬銷爍於陰分者為然耳。若腎水既虛，而相火且升騰飛越。如此案之熱時起於小腹無定時，其熱多起於足心，亦無定時等症，是其症也。非肉桂引火歸源不伏，何以獨用六味地黃丸，只壯其水耶？且其火因下虛而既上炎矣！何可更用補中益氣以升提耶？蓋以服芩、連、枳實、及三黃、四物、二陳、知、柏之類，脾氣已傷，故必用之耶？豈憑於脈，不顧其症，而遂用之耶？蓋尺脈洪大，此固腎水虛而相火旺於本經之脈。是宜壯水之主以制陽光，只須六味丸治之也。余卻虛浮則脾氣亦虛浮矣。合之尺脈洪大，則虛而且下陷於腎中之脈，亦宜升提下陷，以補中益氣治之也。脾氣既已下陷，腎水雖虛，是宜先升後降，若先用六味，後用補中，則脾氣更陷，升之更難。故先補中益氣，後用六味地黃丸治之也。或憑脈法，固不可亂，而心固自當靈也。凡言有者，或一時同進，或早晚兼進，或既補中見功，而以六味收功也。</p>

<h2>脾胃虧損吞酸噯腐等症</h2>
<p>趙吏部文卿，患吐不止，吐出皆酸味，氣口脈大於人迎二三倍，速余投劑。余曰：此食鬱上焦宜吐，不需用藥。乃候其吐清水無酸，氣寸脈漸減，尺脈漸復，翌早吐止，至午脈俱平復，勿藥自安。後撫陝右過蘇顧訪傾，蓋清談厚過於昔，且念余在林下，頻以言慰之。</p>
<p>疏曰：所吐酸味，氣口脈大，自然食鬱無疑。然必脈見沉滑有力者為然也。不然烏知其不犯脾胃虛症乎？至於不需用藥者，亦必因其形氣不憊耳。觀翌日平復，勿藥自安之句，豈非形氣不憊者乎？或曰若然，何不止其吐而消其食也。曰：觀尺脈漸復之句，則知前已尺部無脈矣。古云：上部有脈，下部無脈，其人當吐，不吐者死，即不吐亦當使之得吐，是因宜吐，故亦不可止吐也。或曰若然，何不湧其吐而出其食也？曰：觀患吐不止之句，則知已自得吐矣。若不吐自當湧之使吐。今吐不止，故不可湧其吐也。既不可止，又不可湧，而消其食，出其食更無益幹事。且形氣不憊，所以不需用藥之為得也。</p>
<p>一儒者，面色萎黃，胸膈不利，吞酸噯腐，恪服理氣化痰之藥，大便不實，食少倦怠，此脾胃虛寒。用六君加炮姜，木香漸愈，更兼用四神丸而元氣復。此症若中氣虛弱者，用人參理中湯，或補中益氣加木香、乾薑；不應，送左金丸或越鞠丸。若中氣虛寒，必加附子或附子理中湯，無有不應。</p>
<p>疏曰：面色萎黃，虛者有之，未必至於寒也。至於大便不實，食少體倦，而虛寒始確矣。然而虛熱者亦若是。要當於脈氣形色參之也。《內經》曰：諸嘔吐酸皆屬於火，況酸為木火之味，故余每於吐酸吞酸，食後口酸諸症，皆作肝脾鬱火治之，而以加味逍遙散或合左金丸，以治肝經血虛火鬱之酸，又以補中益氣加丹皮、山梔或合左金丸以治脾經氣虛火鬱酸，若氣血不虛，只是火鬱而作酸症，但用越鞠丸或合左金丸治之。所謂脾胃虛寒而患此症者，十中之一也。故先生亦有補中益氣加木香、炮姜，不應，送左金丸或越鞠丸之說。此是虛熱之法，而非定主虛寒也。至於前云脾胃虛寒，用六君加炮姜木香後，雲中氣虛寒，用補中益氣必加附子者，前因大便不實而言，後不過疏論而已。蓋大便不實者，不利於黃耆、當歸之滑潤也。前雲中氣虛弱，用人參理中湯或補中益氣湯加乾薑、木香；後雲中氣虛寒，必加附子或附子理中湯者，前是不過虛弱而論，後則虛弱而兼寒也，蓋虛弱者，原不必附子之大溫大熱也。又前云脾胃虛寒，用六君加炮薑、木香，後雲中氣虛弱，補中益氣加木香、乾薑者，要知炮姜能溫脾胃之寒，乾薑不過止嘔行滯而已，其功用甚殊也。</p>
<p>一上舍飲食失宜，胸腹膨脹，噯氣吞酸，以自知醫，用二陳、枳實、黃連、蒼朮、黃柏之類，前症益甚。更加足指腫痛，指縫出水。余用補中益氣加茯苓、半夏治之而愈。若腿足浮腫，或焮腫寒熱嘔吐，亦用前藥。</p>
<p>疏曰：前症初起未嘗非脾胃濕熱所致，用藥亦不過如是。何至於益甚耶？要知其人必脾胃原素弱而更加以飲食失節者耳。自用二陳等類，復傷其脾胃之元氣，以致足指腫痛，指縫出水，此脾氣更虛而濕氣隨之下陷也。此補中益氣所以升補元氣，而茯苓、半夏所以燥滲其濕氣而即愈也。足以見脾胃素弱之人，即在初起，即有邪氣，亦不可純用寒涼克伐之品也。</p>
<p>一儒者胡濟之，場屋不利，胸膈膨悶，飲食無味，服枳朮丸不時作嘔，用二陳、黃連、枳實，痰湧氣促，加紫蘇、枳殼，喘嗽腹痛，悉屬虛寒。用六君加薑、桂，二劑不應，更加附子一錢，二劑稍退，數劑十愈六七，乃以八味丸全愈。</p>
<p>疏曰：場屋不利而患之症，似屬鬱結傷脾之意，歸脾湯是合症方也。舍而不用，徒用大傷脾氣之品，是以疊用而疊受，所變皆脾胃虛症，雖無寒症可見，並無熱症可憑。故從虛者，必溫之法治之；至於溫補脾胃之後，繼以溫補命門者，亦補母生子之常法耳。夫用薑、桂而曰不應，更加附子而已，不更方也。要知危症用藥不應，即是應處，不可更方，加重其劑，增其力耳。若一更方，便惑矣。倘日反甚，則宜更之。然亦有病重藥輕之假甚者，仍不可更，要認假甚之法，然症變而脈不變，脈變而重按不變也。如後大司馬王浚川之案是也。</p>
<p>一上舍嘔吐痰涎，發熱作渴，胸膈痞滿。或用清氣化痰降火，前症益甚，痰涎自出。余曰嘔吐痰涎，胃氣虛寒，發熱作渴，胃不生津，胸膈痞滿，脾氣虛弱，須用參、耆、歸、術之類溫補脾胃，生髮陽氣，諸病自退。彼不信，仍服前藥，虛症悉至，復請治。余曰：飲食不入，呃逆不絕，泄瀉腹痛，手足逆冷，是謂五虛；煩熱作渴，虛陽越於外也。脈洪而大，脈欲絕也，死期迫矣。或曰若然殞於朝乎？夜乎？余曰：脈洪大必殞於晝。果然。</p>
<p>疏曰：以此諸症，亦不見其為虛寒也。豈別有見於脈氣形色乎？惟痰涎自出是脾氣虛，不能攝涎，症虛則有之，未必寒也。然因降火之後見之，故以虛寒屬之。不然豈無脾熱甚而流涎者乎？先生雖言虛寒，而所論藥品，只是補之而已，未嘗有溫之者。而言溫補何也？蓋氣虛之症，多近於寒，故曰虛寒，而補氣之藥多屬於溫，故曰溫補。至於五虛，現症不治，但兼煩熱作渴，且脈見洪大者，庸醫處此，猶謂火未清楚，或謂元氣未脫，不知其有虛陽外越，脈欲絕之兆乎？故知死症既現，縱有可觀者，亦不足矣。若殞於朝，殞於夜之說，有一友云：凡人死期已至者，其脈洪勁無胃，純陽無陰，乃真陰竭絕，必殞於日；其脈洪細微弱，漸漸脫去，此為純陰無陽，乃真氣離散，必殞於夜。以此論之，是無陰者，殞日；無陽者，殞夜也。此案是無陽症，亦殞於日，若是則不足憑矣。然先生則曰脈洪大當殞於晝，似乎脈細微者，當殞於夜矣。初不以症之無陰無陽論也。則此友之說亦何嘗不是乎？</p>
<p>余母太宜人，年六十有五。乙未春二月，飲食後偶聞外言忤意，嘔吐酸水，內熱作渴，飲食不進，惟飲冷水。氣口脈大而無倫，面色青赤。此胃中濕熱鬱火。投以藥，入口即吐，第三日，吐酸物，第七日吐酸黃水，十一日吐苦水，脈益洪大，仍喜冷水，以黃連一味煎湯，冷飲少許，至二十日，加白朮、白茯苓，至二十五日，加陳皮，三十七日，加當歸、炙甘草，至六十日，始進清米飲半盞，漸進薄粥飲，調理得痊。</p>
<p>疏曰：此症系胃經濕熱鬱火，以氣口脈大而無倫故也。然亦未嘗不因肝火而發，故其面色青赤。余意此症何不即用茱、連濃煎，細細呷之使嘔吐止，繼以清濕熱，散鬱火之劑，數日可愈矣。何必延至十一日而後進一味黃連湯耶？豈以事關老母，為子者不敢輕易用藥而然乎？獨不慮吐傷元氣，則旦暮不保，何可延至十一日之久乎？要知所吐，皆酸水酸物，則濕熱鬱火亦得從吐而散去。且不言神氣困倦，故可緩緩而圖也。然不用茱、連，而用黃連者，豈以茱、連入肝，黃連入胃。此症雖因外言忤意而作，而病脈則現於氣口胃部，故以黃連入胃為當也。觀後所加之藥，皆在胃而不在肝，概可知矣。況只言忤意，而不言發怒，則於肝分似無涉也。</p>
<p>大司馬王浚川，嘔吐宿滯，臍腹痛甚，手足俱冷，脈微細，用附子理中丸一服益甚，脈浮大，按之而細，用參附湯一劑頓愈。</p>
<p>疏曰：此案手足俱冷，脈微細，固知其為中宮虛寒矣。然以嘔吐宿滯，臍腹痛甚之症，安知非食填太陰，氣鬱墜道，而現手足冷，脈微細乎？是必冷過肘膝，脈微細無神，兼之面青神慘，故能確知其為虛寒也。至於理中，進而益甚，脈變浮大。此處最易惑人，重以參附亦因其脈按之而細耳。豈非病重藥輕，反拔其勢而肆乎？然以附子理中與參附較之，亦不甚相遠，何至後拔其勢？曰：凡治重症，藥宜單刀直入，理中之白朮、甘草，未免牽掣耳，雖然脈按之而細，故敢如是。不然，安知其非壯火食氣之誤乎？</p>
<p>一婦人，吞酸噯腐，嘔吐痰涎，面色純白，或用二陳、黃連、枳實之類，加發熱作渴，肚腹脹滿。余曰：此脾胃虧損，末傳寒中。不信，仍作火治，肢體腫脹如蠱。余以六君加木香、附子治。胃氣漸醒，飲食漸進，虛火歸經。又以補中益氣加炮薑、木香、茯苓、半夏，兼服全愈。</p>
<p>疏曰：面色純白，必非火也。用黃連而反加發熱作渴，內真寒而外假熱也。用枳實而反加肚腹脹滿，氣虛而中滿也。既以從寒從克伐中來，何可仍作火治？其不至於腫脹如蠱。何可得耶？要知愈虛則愈脹，愈寒則愈腫，非溫補何以治之！但先之以溫補，後之以升補，則又有未可驟升之意，所當知也。蓋未傳寒中，而至於腫脹如蠱，則脾胃已成冷炭，此時升之，無可升矣。況又有虛火未曾歸經，故直溫之而已。至於胃氣漸醒，飲食漸進，虛火歸經之後，脾胃雖溫，元氣初復。然未能遂其充發之機，故以補中益氣助之，此次序之常法也。</p>
<p>一婦人，性沉靜多慮，胸膈不利，飲食少思，腹脹吞酸，面色青黃。用疏利之劑。余曰：此脾虛痞滿，當益胃氣。不信，仍用之。胸膈果滿，飲食愈少。余以調中益氣加香、砂、炮姜漸愈。後以六君、芎歸、貝母、桔梗、炮姜而愈。</p>
<p>疏曰：性沉靜多慮而生諸病，大概屬肝脾鬱火為多，當用加味逍遙散。先生獨云：脾虛痞滿，當益胃氣者，蓋因面色青黃，脾土已受肝木所克也，況無寒熱等肝經現症故也。然必有脈可據，若左手脈弦數而澀，當用逍遙散從肝經血分升散之；若右手脈虛洪而弦，當用補中從脾經氣分升散之。此症必左脈無羌，而右脈失和者也。然不用補中而用調中，何也？余觀調中有蒼朮、木香而無白朮、當歸，為治濕熱所傷云云。豈以此有濕熱而用之乎？夫腹脹吞酸，因多濕熱所致，然先生每治此症，未嘗作為濕熱。即如前之太宜人案，亦必明言胃中濕熱，所用之藥不忌白朮、當歸。故余知此方不因濕熱而用也。蓋此婦性沉靜而多慮，其氣必滯，滯則生濕，故不利白朮之閉氣，當歸之滋潤，故以三品加之。及漸愈後，滯行濕散，則脾胃元氣為重，故進六君加味，雖仍用白朮、當歸，而半夏、川芎、貝母、桔梗、炮姜之用，非復溫散行滯燥濕之品乎？若曰濕熱，炮姜何可用也？是一脾胃元虛氣滯，而有寒濕之症者也。</p>
<p>伷云家母，久患心腹疼痛，每作必胸滿嘔吐，厥逆面赤，唇麻咽乾舌燥，寒熱不時，而脈洪大。眾以痰火治之，屢止屢作，迨乙巳春，發熱頻甚，用藥反劇，有朱存默氏謂服寒涼藥所致，欲用參、術等劑。余疑痛無補法，乃請立齋先生以折衷焉。先生診而嘆曰：此寒涼損真之故，內真寒而外假熱也。且脈息弦洪而有怪狀，乃脾氣虧損，肝脈乘之而然。惟當溫補其胃，遂與補中益氣加半夏、茯苓、吳茱、木香，一服而效。家母病發月餘，旦夕不安，今熟寐徹曉，洪脈頓斂，怪脈頓除，諸症釋然。先生之見，蓋有本歟！家母余齡，皆先生所賜，杏林報德，沒齒不忘，謹述此乞附醫案。諒太史者，採入和倉公諸篇，以垂不朽，將使後者觀省焉。嘉靖乙巳春月吉日平湖晚生陸伷頓首謹書。</p>
<p>疏曰：此案脈症以大概而視未始，非痰火所為，但治之而數止屢作，其中必有本源虛症存焉。若非痰火所為，則治之即當更劇，何至屢止？若無本源虛症，則痰火亦易清消，何至屢止屢作？獨患之已久，治之亦屢，而惟痰火是治，是本源之虛，全然不顧，則本源益虛，而標症反劇，自然之熱也。夫清消痰火之藥，皆寒涼者也。寒涼之而發熱頻甚，豈非內寒外熱乎？寒涼之而洪脈加弦，豈非土虛木賊乎？此補中益氣所必用也。加以茯苓、半夏者，昔時之痰固消之而益甚，加以吳茱、木香者，昔日之火因清之而變寒，然熱藥頗多，必用吳茱者，以能入肝經治小腹寒痛故也。今痛雖非小腹，而脈見弦洪，非肝木乘脾之患乎？況諸痛皆屬於木乎。</p>
<p>一婦人年三十餘。忽不進飲食，日飲清茶三五碗，並少用水果三年餘矣，經行每次過期而少。余以為脾氣鬱結，用歸脾加吳茱，不數劑而飲食如常。若人脾腎虛而不飲食，當以四神丸治之。</p>
<p>疏曰：余曾見少年婦數人患此症。數年後，多不藥而愈。大抵皆脾氣鬱結之故。惟鬱結之氣，抑塞脾胃故不飢。無他症，故能延至數年之久而無羌。及遇得意時，則鬱結自開而愈矣。此案經行過期而少，則脾經之血已虧，不得不用歸脾補脾經之氣血而開其鬱結。然加吳茱之熱何也？蓋吳茱能溫散厥陰經之鬱結，今鬱結雖在於脾，而肝氣亦從之鬱結矣。況經水又屬肝經血海，今過期而少，血海亦滯，故用吳茱以溫行，實兩得之也。余聞鬱結者，必有火，故有加味歸脾湯之柴胡、山梔，以清散其火之法。此案雖未見有火，亦不見有寒，何可遽用此熱藥也？豈以經行不及期而多者為有火；過期而少者為有寒耶？然過期而少，正血虛之故，血虛則火必盛，亦何可遽用此熱藥耶？亦當必有寒色可驗，寒脈可徵，故特用耳。不然，未可浪投也。至於脾腎虛而不進飲食，當用四神丸者，亦因腎之元陽火虛而不能生脾土之症，則宜之然。余謂腎火虛，不能生脾土者，當飲食不進，亦不能延至數年之久，治者審之。</p>
<p>一婦人，年逾二十，不進飲食二年矣。日飲清茶果品之類，面部微黃浮腫，形體如常，仍能步履，但體倦怠，肝脾二脈弦浮，按之微而結滯，余用六君加木香、吳茱，下痰積甚多，飲食頓進，形體始瘦，臥床月餘，仍服六君之類而安。</p>
<p>疏曰：此案與前症相同，未始非脾氣鬱結之故，但以面部黃浮腫與體之倦怠，知其為脾胃虛耳。兼之兩關脈弦浮。豈非木乘土之象乎？及按之微而結滯，未始非肝脾鬱結之脈而能知其虛，中有痰積者。蓋鬱結而現木乘土之脈，土受木克之症矣。何至延至二年之久，而得形體如常，仍能步履者乎？惟其有痰積於中，脾胃亦藉此痰積滋養，故能久而如是也。試觀痰積既下，形體即瘦，而臥床不起矣。奈何今人必欲消盡其痰，而不顧其脾胃之元氣耶？乃先生明知其痰積，惟以六君補其元氣，使元氣運行而痰積自下，豈非治本之謂乎？</p>
<p>一男子，脾胃不和，服香燥行氣之藥，飲食少思，兩脅脹滿，又服行氣破血之劑，致飲食不入，右脅脹痛，喜手按之。余曰：肝木克脾土，而脾土不能生肺金也。用滋化源之藥，四劑諸症頓退。余曰：火今在邇，當再補土以養肺金。不信，後復吐膿而歿。</p>
<p>疏曰：此案不見有肺虛之候，而先生即云脾土不能生肺金。且預囑其火今在邇，當補土以養肺金，而後則果以吐膿而歿。此何見耶？豈以香燥行氣之藥，必傷於肺金乎？抑以右脅脹痛為右屬肺金乎？抑又以脾土虛者，自必不能生肺金乎？抑當時有現於脈而云然乎？總之，香燥行氣之藥，凡病所當忌。而世人之所謂脾胃土虛，不知者例必用之，可慨也夫。</p>

<h2>脾胃虧損停食泄瀉等症</h2>
<p>進士劉華甫，停食腹痛，瀉黃吐痰。服二陳、山梔、黃連、枳實之類，其症益甚。左關弦緊，右關弦長，乃肝木克脾土。用六君加木香治之而愈。若食已消，而泄未已，宜用異功散以補脾胃，如不應，用補中益氣升發陽氣。凡泄利黃色，脾土虧損，真氣下陷，必用前湯加木香、肉蔻溫補，如不應，當補其母，用八味丸。</p>
<p>疏曰：瀉黃一症，僅有屬脾熱及食積者，以此症而論，前方未為不是。然其人必有熱症可據、實脈可憑，今服前藥，而曰其症益甚，知非脾熱矣。且脈復右關弦長，自是木剋土症無疑，而此黃色為脾土之真色也明矣。六君內有半夏加木香，同是消伐之品，因食尚未去之，故若食已消而泄未已。宜用異功散云云。可見半夏、木香非常服之品，今人動云：半夏醒脾，木香運脾，要知非虛症所宜也。</p>
<p>光祿柴黼庵，善飲泄瀉，腹脹吐痰，作嘔口乾，此脾胃氣虛。先用六君加神麯，痰嘔已止，再用補中益氣加茯苓、半夏，瀉脹亦愈。此症若濕熱滯，當用葛花解酲湯分消其濕。濕既去，而瀉未已，須用六君加神麯實脾土，化酒積。然雖為酒而作，實因脾土虛弱，不可專主濕熱。</p>
<p>疏曰：濕熱之症，未有不因脾胃虛弱而成者。脾胃不虛，濕熱不積，但當分脾胃之虛與濕熱，孰輕孰重。如脾胃已虛，而濕熱不盛，則以補為主；若濕熱甚，而脾胃未虛，則以清濕熱為主；若脾胃既虛，而濕熱又甚，則補與清兼用之，又當分孰輕孰重。如濕重而熱輕，則祛濕為主，虛者兼補其氣；若熱重而濕輕則清熱為主，虛者兼養其陰。大概在氣分者，多成泄瀉；在血分者，多成痢疾；在經者，多生於筋脈；在腑者，多生於腸胃。在筋脈者，多屬厥陰；在腸胃者，多屬陽明。然腸胃固屬陽明，而筋脈未始不屬陽明也。故濕熱之症，多責於陽明。而凡病之屬陽明濕熱者，十居六七，不特酒積而已。</p>
<p>舊僚錢可久，素善飲，面赤痰盛，大便不實。此腸胃濕痰壅滯，用二陳、芩、連、山梔、枳實、乾薑、澤瀉、升麻一劑，吐痰甚多，大便始實。此後，日以黃連三錢，泡湯飲之而安。但如此稟厚者不多耳。</p>
<p>疏曰：此案亦屬陽明濕熱。其大便不實，固屬陽明；而面赤者，亦屬陽明。昔人云：陽明病則面赤是也。濕熱甚而生痰，此痰不滯於他處而壅滯於腸胃，非陽明乎？故以二陳及乾薑、升麻、枳實、澤瀉，祛陽明之濕。以芩、連、山梔祛陽明之熱，至吐痰大便實者，痰祛則濕熱化，而大便實矣。痰出於胃，而便實於大腸。豈非手足陽明之氣，一以貫之乎？若只是濕痰而已，則芩、連、山梔、何為用之哉？此後，日以黃連三錢，泡湯飲之而安，其熱必壯，其脈必實。故治法如此。莫謂立齋先生，但能治虛。觀此症，豈偏於溫補者乎？總在臨症察病用劑耳。</p>
<p>一儒者善飲。便滑溺澀，食減胸滿，腿足漸腫，症屬脾腎虛寒，用加減金匱腎氣丸，食進腫消，更用八味九，胃強脾健而愈。</p>
<p>疏曰：以善飲之人患此諸症，未始非濕熱所為，便滑溺澀，腿腫，濕熱下流者有之。何以知其為脾腎虛寒耶？意其人必脈微面慘，體倦神疲，足冷畏寒，食少倦臥者也。此善飲之濕熱，所以不化者，良由脾土之虛，而不能運也。脾土虛至於溺澀，腿腫，良由腎火之衰，而不能氣化也。斯時徒從脾經升補無益，故必用腎氣丸與八味丸以益火生土，則腎得氣化，而脾得運行，斯濕熱得去矣。夫腎氣丸治火虛水腫之方，八味丸治腎虛火衰之方，未嘗可治酒客濕熱症之方。不知治病，但論本源，初不可以善飲之故，而謂其不宜，於溫熱之藥也。</p>
<p>一男子侵晨或五更，吐痰或有酸味。此是脾氣虛弱，用六君送四神丸而愈。若脾氣鬱滯，用二陳加桔梗、山梔送香連丸；若鬱結傷脾，用歸脾湯送香連丸；若胸膈不舒，歸脾加柴胡、山梔送左金丸；若胃氣虛，津液不能運化，用補中益氣送左金丸。</p>
<p>疏曰：此案必有遺文，其侵晨或五更吐痰，不特吐痰而已。當必有泄瀉一症在內，何也？蓋此案既例在泄瀉門中，而四神丸、香連丸非治痰之藥，實治泄之方也。而四神丸又屬侵晨五更泄瀉之的方故耳。至於酸味，實為肝木之味，此皆肝木鬱土中之明驗，故下文詳及左金丸也。</p>
<p>有一羽士，停食泄瀉，自用四苓、黃連、枳實、曲、柏益甚。余曰：此脾腎泄也。當用六君加薑、桂送四神丸。不信，又用沉香化氣丸，一服臥床不食，咳則糞出，歲至危殆，終踐余言而愈。蓋化氣之劑，峻厲猛烈，無經不傷，無臟不損，豈宜輕服。</p>
<p>疏曰：停食作瀉，不過消食止瀉，及利小便而已，即用前藥益甚，亦不過健脾補氣，或用升提而已。何以即斷為脾腎瀉而即當溫補脾經，兼溫補腎經之劑耶？要知停食作瀉，宜用前藥，宜而用之不宜，即為脾腎瀉也。不必定五更侵晨，方為脾腎瀉也。然必有虛寒脈症可憑，未可臆度也。至於咳則糞出，余按《內經》有五臟之久咳，乃移於六腑之說。其曰：肺咳不已，則大腸受之，大腸咳狀，咳而遺矢，其曰腎咳，不已則膀胱受之，膀胱咳狀，咳而遺溺。而治法則肺咳用麻黃附子細辛湯，膀胱咳，用茯苓甘草湯云云。此皆仲景之方，從傷寒例用藥也。不然以肺臟之咳，當補肺氣，何敢用麻黃乎？腎臟之咳，當補腎陰，何敢用茯苓甘草湯乎？故余以為遺矢遺溺之咳，屬臟腑虛損者正多。要知咳而遺矢，雖云大腸受之，而肺與大腸為表裡，肺氣虛，則大腸之氣不固，故咳而遺矢也。法當大補肺氣為主。不必專問大腸。即如膀胱之咳，而遺溺，亦由腎氣大虛之故，法當峻補腎氣為主，又何問膀胱也？而余又以為腎主二便，咳而至於或遺溺或遺矢，皆屬腎氣虛所致。法當專主補腎，故先生既用六君，即兼送四神丸，其理自可見也。</p>
<p>嘉靖乙未，朱紹患肝木克脾，面赤生風，大腸燥結，炎火衝上，久之遂致臟毒下血，腸鳴溏泄，腹脹喘急，馴至絕谷，瀕於殆矣。諸醫方以枳實、黃連之劑投之，輾轉增劇，乃求治於立齋先生。先生曰：爾病脾腎兩虛，內真寒而外虛熱，法當溫補，遂以參、術為君，山藥、黃耆、肉果、薑、附為臣，茱萸、骨脂、五味、歸、苓為佐，治十劑。俾以次服之。諸醫皆曰：此火病也。以火濟火可乎？紹雅信先生不為其惑，服之浹旬，盡劑而血止，諸疾遄已。先是三年前，先生過紹謂曰：爾面部赤風，脾胃病也，不治將深。余心憂之而怠緩，以須病發又惑於眾論，幾至不救。微先生吾歸土矣。嗚呼！先生之術亦神矣哉。紹無以報德，敬述梗概求附案末，以為四方抱患者，告庶用垂惠於無穹。云長洲朱紹。</p>
<p>疏曰：此案雖曰脾腎兩虧，究竟脾虛為重。始曰肝木克脾，終曰面部赤風，脾胃病也。而所用之藥，又溫補脾胃為主。獨是以面赤生風，大便燥結，炎火行上，臟毒下血，腸鳴喘急等症。皆屬內熱無疑，而先生獨曰：內真寒而外虛熱也。是從何處而見耶！豈以脈象得之乎？抑以枳實、黃連反之乎？余細詳書法，在久之遂致四字。夫初病之面赤生風，是為肝經自動之風，風夾火上，故而為之赤，此症先生亦明言脾胃病矣。蓋肝火自生風，火勢必凌侮脾胃之土故也。未幾而大腸燥結，脾胃之陰已為風火所耗，未已而炎火衝上，陰已愈耗，而風火愈旺矣。斯時脾腎未至兩虛，亦未至內真寒，而外虛熱也。所用枳實、黃連，雖未的中，然無大害，但久之而枳實、黃連輩，服之既多，遂致實變為虛，熱化為寒。於是臟毒下血等症發，皆脾腎虛寒之故。是枳實、黃連投之已久，並投於遂致之後，故曰：輾轉增劇也。此先生遂定為脾腎兩虛，內真寒而外虛熱也。</p>
<p>僉憲高如齋，飲食難化，腹痛泄瀉，用六君子加砂仁、木香治之而痊。後復作完穀不化，腹痛頭疼，體重倦怠，余以為脾虛受濕，用芍藥防風湯而愈。</p>
<p>疏曰：此案但云飲食難化，則非停食，可知是屬脾虛泄瀉之症。其腹痛者，氣不和也，故可用六君以補脾，加香砂以和氣也。至於完穀不化，有屬脾腎虛寒者，有屬邪熱不殺穀者，而此案以體重倦怠，故知脾虛受濕之症，由是而腹痛頭疼，皆屬於濕之所致矣。</p>
<p>太僕楊舉先，為飲食停滯，小腹重墜，用六君子加升麻、柴胡愈。後飲食難化，大便不實，裡急後重，數至圊而不得便，用升陽除濕防風湯而痊。後心腹作痛，飲食不甘，用和中丸加益智仁尋愈。</p>
<p>疏曰：此案既云飲食停滯，何不於六君子中加消導之品，而直加升、柴者？以小腹重墜，知其脾氣已下陷也。下陷者，虛甚矣，故不可用消導而急為之升舉也。至於裡急後重，數至圊而不得便之症，大概皆以為脾經元氣下陷之劇症，所用者，但知有補中益氣湯而已，而不知元氣固以下陷之中，有濕氣纏滯而然者。則既當升其陽，復當兼除其濕。而補中益氣，但能升陽，非除濕之品，況歸、耆反能助濕，而升麻徒能提濕上行乎？升陽除濕防風湯內多風藥，風能勝濕並能升舉，是誠對症之方。與補中益氣意同而理實異也。若後之心腹作痛，飲食不甘，其因雖多，然從前而來，未始非脾胃不健不運之故，用和中丸和其中培，加益智者，脾胃喜溫，溫之則健運矣。</p>
<p>光祿楊立之，元氣素弱，飲食難化，泄瀉不已，小便短少，灑淅惡寒，體重節痛。余以為脾肺虛，用升陽益胃湯而痊。凡觀泄瀉，服分利調補之劑，不應者，此肝木鬱於脾土，必用升陽益胃之劑，庶可取效。</p>
<p>疏曰：此案灑淅惡寒，是肺經症。然亦有肝木抑鬱之象，故用升陽益胃湯，既以補肺為主，而兼有升木祛濕之品，在內為恰當也。及觀凡泄瀉之不應，方知升陽益胃之妙，蓋泄瀉症未有不是肝木鬱於脾土也。亦未有不是脾胃受濕也。</p>
<p>沈大尹，每五更泄瀉，余以為腎泄，用五味子散數劑而愈。後不慎起居，不節飲食，其瀉復作，日夜無度，畏寒，飲食且難消化，肥體日瘦，余曰：乃變火衰之症也。遂與八味丸瀉止食進。</p>
<p>疏曰：五更泄瀉，原屬腎火衰症，故當用二神、四神治之。雖然亦有屬腎水虛者，更有屬肝木乘脾土者，須以脈症參之，至後變火衰之症，用八味丸，瀉止食進是屬腎陰虛而火衰者宜之。若腎陽虛而火衰者，宜用二神、四神，若用八味，所謂生柴濕炭，不能發火，徒滋其濕也。而能辨之者，只在燥濕之分耳。</p>
<p>一儒者，季夏患泄瀉，腹中作痛，飲食無味，肢體倦怠。余用補中益氣湯、八味丸月餘而痊。後彼云：每秋時必患痢，今則無患何也？余曰：此閉藏之令，不遠房幃，妄泄真陽而然。前藥善能補真火，火能生脾土，氣旺而患免矣。</p>
<p>疏曰：夏季長夏也，正為土旺之時，當其旺時而患泄瀉之症，其土之虛也可知。土既虛，木必克之，斯腹中作痛之所由來也。故既用補中益氣以升提之，使必剋土者不克。復用八味丸以溫補之，使不生者必生。則土既去，其仇更得所助，無怪每秋患痢之症愈也。然余因有所悟焉，每秋患痢，世人皆謂有宿積於腸胃之隱僻處，故至其時而發。當用逐攻之藥，以蠟匱服之。不知原有出於閉藏之令不遠房幃，妄泄真陽而然耶。其所用藥，亦以補中、八味治之，豈必以攻逐去積為主治哉。</p>
<p>副憲屠九峰，先瀉而口渴，尺脈數而無力，恪用解酒毒，利小便之劑不愈。余曰：此腎陰虧損，虛火熾甚，宜急壯水主之，不然必發疽而不能收斂也。不信，服降火化痰之劑而歿。</p>
<p>疏曰：此瀉而口渴，屬胃虛者多。故有七味白朮散為治斯症之。要藥不知，久瀉傷腎，腎為五液之主，故瀉渴之屬腎者，多宜用壯水之法，不知久瀉傷陽，陽為命門真火，故瀉渴之屬命門火衰者，更多宜用益火之法。此案尺脈數而無力，不特水虛抑且火衰矣。故斷其發疽，蓋疽屬陰症也。或問先生，明言腎陰虧損，虛火熾甚，宜壯水之主，則似火盛矣。何以斷其發疽而屬陰耶？曰：雖云腎陰虧損，而其實虛火熾甚，虛火即是火衰，而況云尺脈數而無力，不言左右，則火亦衰可知。故所發不為癰而為疽也。夫癰屬陽明實火，若腎經虛火所發，即癰也，而實疽也。或問先生於何處知其必發疽耶？曰九峰必嗜酒之人也。嗜酒而且腎虛，即經所謂膏粱之變，足生大疔之意。故斷知其必發疽也。或又問此案中，不言嗜酒，何以知其嗜酒耶？曰：觀其恪用解酒毒，利小便之劑，非嗜酒之人乎？或又問嗜酒之人，陽明必有火，何以不患癰而發疽耶？曰：因腎經虛故也。因尺脈數而無力也。</p>
<p>一儒者，小腹急痛，溏泄清冷，大便欲去不去。余曰：此命門火衰，而脾土虛寒也。用八味丸月餘而愈。後聞飲食失宜，前症復作，小腹重墜，此脾氣下陷也。用補中益氣湯而痊。凡寒月溏泄，清冷腹痛，乃脾腎虛寒，宜用四神丸；若脾腎虛脫，用六君子加薑、桂，如不應，急補命門之火，以生脾土。</p>
<p>疏曰：大便欲去不去，大概皆以為氣滯，欲用調氣之品。明眼者，亦以為氣陷，欲用升補之劑，不知有命門火衰，不能氣化，故欲去而不去也。所以然者，因溏泄清冷也。若氣滯者，則下利垢滯矣。若氣陷者，則小腹重墜矣。故後聞前症復作，而小腹重墜，即云脾氣下陷，而用補中益氣矣。至於所謂脾腎虛寒，脾腎虛脫，寒與脫一字之異，而用藥有不同處，實堪會心。蓋寒則獨溫其腎，脫則專補其脾，如此治法，豈非毫釐之辨哉？如若不應者，總結上二症之詞也。蓋虛寒者，既當補命門之火，而虛脫者，不當補命門之火乎？要知脾腎為生化之源，至於虛寒而或虛脫矣，其補母以救子，何可緩耶？故言急也。</p>

<h2>脾胃虧損停食痢疾等症</h2>
<p>崔司空年逾六旬，患痢赤白裡急後重。此濕熱壅滯，用芍藥湯內加大黃二錢，一劑減半，又劑全愈。惟急重未止，此脾氣下陷。用補中益氣送下香連丸而愈。</p>
<p>疏曰：年逾六旬，元氣之虛，可知敢用大黃者，偶因濕熱獨盛故耳。嗣後急重未止，即易補中，豈非本來之虛即現乎？不然則急重之未止，未必非濕熱之餘氣也。余讀此書，而得治法之妙，蓋元氣雖虛，而邪正氣盛之時，不得不用推蕩之法，及邪氣已退，而元氣未復之時，不妨即用補益之法，攻補迭用，捷如轉丸，大黃之後，即繼參、耆，不特世眼有疑醫者亦多惑矣。</p>
<p>羅給事，小腹急痛，大便欲去不去，此脾腎氣虛而下陷也。用補中益氣送八味丸，二劑而愈。此等症多因痢藥致損元氣，肢體腫脹而死者，不可枚舉。</p>
<p>疏曰：大便欲去不去，大概以為氣滯大腸之故，必用破氣之藥，如木香、檳榔之類。況小腹急痛者乎？明眼者，知其為脾氣下陷，當用升補，而不知命門火衰，不能氣化，故欲去不去也。如此用藥之法，亦須以形脈參之，非必然之例，但此案原非痢疾可比。觀其序症，止日小腹急痛，大便欲去不去而已。初無患痢赤白之文，故又曰：此等症多因痢藥致傷云云。是似痢而實非痢者也。</p>
<p>少宗伯顧東江，停食患痢，腹痛下墜，或用疏導之劑，兩足腫脹，食少體倦，煩熱作渴，脈洪數，按之微細。余以六君加薑、桂各二錢，吳茱、五味各一錢，煎熱冷服之，即睡覺而諸症頓退。再劑全愈者，假熱而治以假寒也。</p>
<p>疏曰：此案以初症而論，固當用疏導之劑，及用之而兩足腫脹等症現。是亦脾虛元氣下陷症耳。況煩熱作渴，安知其非虛而發熱乎？以尋常而論，當用補中益氣加麥冬、五味治之，其如脈得洪數，按之微細，乃假熱之症何也？余然後知假熱之不可升提也。余然後知假熱之不可兼清潤也，蓋假熱外現，內必真寒。升提之，而假熱愈假；清潤之，而真寒更真矣。然余觀補中益氣治法，有口乾發熱及脈洪大無力之句。較之此症，似亦可用，殊不知口乾發熱也。非煩熱作渴也，洪大無力也，非洪數，按之微細也。夫口乾發熱與洪大無力，內外皆虛熱也。煩熱作渴，與洪數按之微細，實虛陽上泛矣。故不可從補中，而從六君也。不可從清補，而從溫補也。</p>
<p>太常邊華泉，嘔吐不食，腹痛後重，自用大黃等藥，一劑腹痛益甚，自汗發熱，昏憒脈大，余用參、術各一兩，炙甘草、炮姜各三錢，升麻一錢，一鍾而蘇。又用補中益氣加炮姜，兩劑而愈。</p>
<p>疏曰：夫嘔吐不食，食傷於胃也。腹痛後重，積滯於腸也。縱或不虛，亦宜消食導滯，緩緩而治，何必即用大黃等藥，用之而腹痛益甚。中寒虛寒可知，中氣虛寒而至，於自汗發熱昏憒，幾成亡陽之意。所幸者，脈但大而已，不致於脫也。猶可挽回，挽回之法，須溫補其陽氣，此陽不在於腎，此氣不在於肺。而實在於脾胃何也？蓋嘔吐不食，腹痛後重，業已病在脾胃。而況自用大黃之藥，正復傷其脾胃之陽氣，故有腹痛益甚等症之變。雖自汗發熱昏憒，要知皆從脾胃之陽氣虛寒所致，故不用耆、朮、參、附，而用理中。但重大其劑，即為挽回，而升麻之加，一則原有後重，一則大黃之後，氣更陷矣。獨是自汗昏憒之時，炮薑、升麻，似屬不可不知，治病須尋其源，既已尋見其脾胃虛寒而下陷，則雖變症，百出不顧也。況乎此處，自汗原非火泛，何以知之？以脈大知之，若自汗屬於肺絕，其脈當脫，昏憒屬於火泛，其脈當空，今不過曰大而已，故知其非本來之病，乃藥誤之故也。</p>
<p>廷評曲汝為，食後入房，翌午腹痛，去後似痢非痢，次日下皆膿血，煩熱作渴，神思昏倦，用四神丸一服頓減，又用八味丸料加五味、吳茱、骨脂、肉蔻二劑全愈。</p>
<p>疏曰：此案雖云入房之後即得。是症宜從陰寒治，以補真火為主，然盡有水虛火旺者，當補水制火，而況煩熱作渴，神思昏憒，未必非火旺之故。今即用四神、八味，治之而愈者，其必有色脈可據也。然余為入房之後，腎固虛矣。而膿血之積，其來必久，特因入房後動之而發耳。自當先去舊積，後補新虛，何以即用大補大熱之劑，全不顧積之有無？也殊不知虛而至於火衰微矣。何暇更問其積，若非火衰，自當詳審細察，而後用之豈可孟浪乎。</p>
<p>判官汪天錫，年六十餘，患痢腹痛後重，熱渴引冷飲。食不進，用芍藥湯內加大黃一兩，四劑稍應，仍用前藥，大黃減半，數劑而愈。此等元氣百無一二。</p>
<p>疏曰：治痢大法，疏導為先。經曰：無積不成痢。劉河間曰：暴主下迫皆屬於火。張子和曰：痢者溲而便膿血，知其氣行而血止也。通利為先，不可擅用補藥澀之。丹溪曰：養血則便膿自愈，調氣則後重自除。後重則宜下，下以大黃、檳榔；腹痛則宜和，和以芍藥、厚朴云云。此近世所以用芍藥湯為治痢之先劑。甚者每加大黃，然不過三四錢而已，未有若此案之加大黃一兩也。而且一劑不已，至於四劑，四劑而不過稍應，又復減半，至於數劑而後愈。噫亦奇矣！以六十歲之老人，且飲食不進者，何以用藥若是耶？豈以熱渴引冷為可據耶？是必有精神可憑，脈氣可證，非浪投也。讀此案及前曲汝為案而知。先生垂訓之法，隱然言外，治病當隨症用藥，其攻補寒熱，不可偏執，亦不可畏懼延緩。故以曲汝為之大補大熱之法案於前，即以汪天錫之大攻大寒之法案於後。學者宜深察之。</p>
<p>通府薛允頫下血，服犀角地黃湯等藥，其血愈多。形體消瘦，發熱少食，裡急後重，此脾氣下陷，余用補中益氣湯加炮姜一劑而愈。</p>
<p>疏曰：犀角地黃湯原為血症所需，然必腸胃有實火者宜之。非血症，必有火也。即有火，而未必皆實也。豈可動輒用之乎？此案但言下血，而不言熱症，即不宜此方之寒涼也明矣。服之而其血愈多，豈非寒涼損傷脾胃之氣乎？因之而形體消瘦等症現。得非脾氣下陷，而當用補中益氣之加炮姜者乎？然雖因寒涼所傷而設，亦有補中之能止血退熱故也。由是知一劑而愈，必非脾胃之氣素虛者也，特因前方偶虛耳。噫！偶虛者之尚有多變，而況素虛者乎其矣。藥之不可妄投也。</p>
<p>一上舍，患痢後重，自知醫用芍藥湯，後重益甚，飲食少思，腹痛肢冷。余以為脾胃虧損，用六君加木香、炮姜而愈。</p>
<p>疏曰：芍藥湯治痢之常法，服之而後重益甚。更加虛寒之症疊出。則望而知其為脾胃虧損且寒矣。六君，炮薑、木香，其可免乎？但肢冷似屬腎火虛症，不知脾主四肢，若腎火虛，則冷不至於肢矣。獨疑此案有後重，及後重益甚之文。似脾氣下陷矣。當亦用補中益氣加薑、桂治之，然細觀前後，全案有可得而解者，請言之。蓋痢者，積滯也。積滯正多之時，雖云元氣下陷，未可升提，故崔司空之用補中，在全愈後，惟急重未止時用之也。慮給事之用補中，在小腹急痛，大便欲去不去，不言患痢用之也。邊華泉之用升麻，亦不言患痢。薛允頫之補中，是下血而非患痢，及顧東江腹痛下墜，兩足腫脹，因患痢未愈，故不用補中。以是而論，其不用補中之意，從可見矣。推之於後，如一老婦明言屬脾氣下陷，亦因患痢未愈，故不用補中。其先母亦患痢腹痛，不言下陷，而用升麻者，以手按腹，痛稍緩，知其無大積滯故也。</p>
<p>一老人，素以酒乳同飲，去後似非痢，胸膈不寬，用痰痢等藥不效。余思本草云：酒不與乳同飲，為得酸則凝結，得苦則行散。遂以茶茗為丸，時用清茶送三五十九，不數服而瘥。</p>
<p>疏曰：此案治法之變者也，然亦精神健旺，色脈俱實者宜之。且此案與前曲汝為薛允頫二案，皆似痢非痢，當從別治。</p>
<p>一老婦，食後因怒患痢，裡急後重，屬脾氣下陷，與大劑六君加附子、肉蔻、煨木香各一錢，吳茱五分，骨脂、五味各一錢五分，二劑諸症悉退。惟小腹脹悶，此肝經氣滯於脾也。與調中益氣加附子、木香五分，四劑而愈。後口內覺咸，此腎虛水泛，與六味地黃丸二劑頓愈。</p>
<p>疏曰：此案既云脾氣下陷，則當用補中益氣以升提之，何故只用六君且加極熱之品？亦何所見而知其虛且寒也？其必有虛寒之色脈可據耶。不然食後因怒之症，往往皆是，豈必盡若是之法乎？夫既已知其為脾胃虛寒之症，而必加附子、骨脂、五味者，是腎亦虛寒矣。腎亦虛寒則根本已蹶，雖脾氣下陷不可升提，故直溫補之，溫補其氣，則氣自能上騰，不必升提也。其後肝氣鬱於脾中，不得不調達其肝氣。然不用補中而用調中者，以調中散氣之力勝也。加附子增木香者，仍不忘脾腎之寒也。至於口內覺咸，腎陰虛而然，胃陰虛者亦然，此其故，固前方皆補腎氣與腎火者也。氣於火屬陽，陽與陰互相為根，陽偏於旺，而陰自虛。是以腎中之水，被火直逼於上，與胃中之火相合，而口為之咸也。六味丸雖補腎水，未嘗不補腎陰，蓋腎水足，腎火自降，胃火亦清，而胃陰亦得其陰矣。然余又有推而進之之說，大概肝氣鬱於脾者，其脹悶在肚腹，不在小腹，以小腹屬肝不屬脾，若小腹脹悶是肝氣自陷於下，肝屬血當用逍遙散治之，不知肝有氣血之分，肝氣鬱於血分者，宜用逍遙從肝經血分調達之肝氣，鬱於氣分者，宜用調中從脾經氣分修達之。於是而知肝氣既郁，皆郁脾中，初不論肚腹與小腹，故逍遙散。雖從血分亦有白朮、茯苓，以顧其脾氣。又腎虛水泛者，當是腎經火衰之症，宜用八味丸治之。然前曾用附子、骨脂、五味等，皆能入腎壯火，則火已不衰，獨未曾補腎之陰，故腎陰虛而水為之上泛耳。此是腎火偏旺而腎水獨虛之故，故用六味丸主之。所謂六味治腎虛水泛者是也。若八味丸治腎虛火衰，水泛為痰之法，豈治口內咸哉。</p>
<p>先母年八十，仲夏患痢腹痛，作嘔不食，熱渴引湯，手按腹痛稍止，脈鼓指而有力。真氣虛而邪氣實也。急用人參五錢，白朮、茯苓各三錢，陳皮、升麻、製附子、炙甘草各一錢，服之睡覺索食。脈症頓退，再劑而安。此取症不取脈也，凡暴病毋論其脈，當從其症。時石閣老太夫人，其年歲脈症皆同，彼乃專治其痢，遂致不起。</p>
<p>疏曰：此案之能知其真氣虛者，年高八十一也，熱渴引湯二也，平按腹痛稍止三也。有此三者，其脈雖鼓指有力，是為枯動無神之脈，非有餘也。蓋鼓指有力之脈，而現諸虛症者，雖曰邪氣實，而所用之藥，獨補真氣，是可知也。余嘗謂脈之一道，貴乎有神。神者，和柔圓潤之象也。若所云鼓指有力，乃氣血虛而津液少，不能滋養筋脈。故現此枯動無神之象。正如無滋膏之木，挺直硬急之意耳。為虛之候，非實脈也，故不論現症之虛實，並不論脈症之大小，若見此枯動無神者，總作虛治。雖有邪氣，以補為主要，非取症不取脈，亦非暴病，毋論其脈，當從其症之說，所同論也。此是治時症六淫之法，若此案正取症而復取脈，從症從脈者矣。不然，何以服大溫補之藥而脈頓退，此脈若屬實而有餘，何以知其病能退耶？</p>
<p>橫金陳梓圓，年六十，面帶赤色，吐痰口乾，或時作瀉。癸卯春就診，謂余曰：僕之症或以為脾經濕熱痰火作瀉，率用二陳、黃連、枳實、神麯、麥芽、白朮、柴胡之類不應，何也？餘脈之左關弦緊，腎水不能生肝木也。右關弦大，肝木乘克脾土也。此乃脾腎虧損不能生剋制化，當滋化源。不信。余謂其甥朱太守陽山曰：令舅不久當殞於痢。至甲辰夏果患痢而歿。</p>
<p>疏曰：以此症論之未始，非脾經濕熱，及至服祛濕熱之藥而不應，則當改途易轍矣。乃診其脈而左關弦緊右關弦大，其為脾腎虧損，決無疑矣。昧者見左關弦緊，誤以為肝木有餘，殊不知肝木失養，正是其不足處也。見其右關弦大，誤以為脾土敦阜，殊不知脾土受侮，正是其卑監處也。非滋化源，何由而愈。蓋木之化源在水，而土之化源在火，水火同宮，此八味丸所以滋先天之化源也。又水之化源在金，而金之化源在土，土金一體，此補中益氣湯所以滋後天之化源也。然又有進一層者，不特生我者謂化源，即克我者亦謂之化源。如木得水生而剋土，土既虛則金失所生，而不能制木。致木寡於畏，益肆其剋土之勢，而木抑鬱困頓於土中，不能自遂其條達之性，是木土同斃也，強弱同盡也。故培土生金，金旺能制木，而土去其仇，金旺則能生水，而木得其養，是金一旺而木土皆安矣。五行以此類推，生克皆為化源，故曰不能生剋制化當滋化源也。夫五行之所以終天地而不墜者，惟此生剋制化之權耳。若有生而無克，何以制化耶？</p>
<p>司馬王荊山，患痢後重，服枳殼、檳榔之類，後重益甚，食少腹痛。余以為脾胃傷而虛寒也。用六君子加木香、炮姜而愈。</p>
<p>疏曰：痢而後重，在初起實症，原當用枳殼、檳榔之類以調之。此案云服之後重益甚，則為脾胃之虛也。何疑食少腹痛，在初起實症，原屬垢滯之物壅塞之。此案因服後益甚而見。則為脾胃之虛也。又何疑獨以為虛而寒也。則未見有現症可據，或亦如本條中一上舍患痢，自知醫而服芍藥湯，因後重益甚之案。內有腹寒肢冷四字，而後確知其為虛寒，所用亦是六君子加木香、炮姜得愈。而此案無此四字，何以亦用之耶？豈以虛者多寒之故，或有見於脈乎。</p>
<p>祠部李宜春，患血痢，胸腹膨脹，大便欲去而不去，肢體殊倦。余以為脾氣虛弱不能攝血歸源，用補中益氣加茯苓、半夏，治之漸愈。後因怒，前症復作，左關脈弦浮，按之微弱，此脾氣虛而不能藏血，用六味丸治之而愈。</p>
<p>疏曰：此案既云脾氣虛弱，不能攝血歸源，法當用歸脾湯。今用補中益氣者，豈以大便欲去而不去為元氣下陷之故耶？非也，因肢體殊倦而設也。蓋肢體殊倦，是脾氣虛弱。脾氣虛弱，非升補不愈，不必問其有無下陷也。故用補中益氣湯。若歸脾湯者，雖為補脾氣之方，然與補中之升補脾氣不同耳。至於肝氣虛不能藏血，而用六味丸者，一則乙癸同源，一則肝氣屬陰也。然而於此見先生察病用藥之妙，其理深微，而脈尤不可不知也。夫前症復作，未嘗異也。未嘗也雖因怒所致，寧不仍是脾氣虛弱之故乎？何以前用補中之升而偏於氣分，後即用六味之降而偏於陰分耶？天壤之隔，而在一人一病之間者，其要不在於因怒，而在左關脈弦浮，按之微弱耳。</p>

<h1>卷下</h1>

<h2>脾胃虧損瘧疾寒熱等症</h2>
<p>冬官朱省庵，停食感寒而患瘧，自用清脾、截瘧二藥，食後腹脹，時或作痛，服二陳、黃連、枳實之類，小腹重墜，腿足浮腫，加白朮、山楂，吐食未化，謂余曰何也？余曰：食後脹痛，乃脾虛不能克化也；小腹重墜，乃脾虛不能升舉也；腿足浮腫，乃脾虛不能運行也；吐食不消，乃脾胃虛寒無火也。治以補中益氣加吳茱、炮薑、木香、肉桂，一劑諸症頓退，飲食頓加，不數劑而痊。大凡停食之症，宜用六君、枳實、厚朴，若食已消而不愈，用六君子湯；若內傷外感，用藿香正氣散；若內傷多而外感少，用人參養胃湯；若勞傷元氣兼外感，用補中益氣加川芎；若勞傷元氣兼外感停食，補中益氣加神麯、陳皮；若氣惱兼食用六君加香附、山梔；若咽酸或食後口酸，當節飲食，病作時，大熱躁渴，以薑湯乘熱飲之。此截瘧之良法也。每見發時，飲啖生冷物者，病或少愈，多致脾虛胃損，往往不治，大抵內傷飲食者，必惡食；外感風寒者，不惡食；審系勞傷元氣，雖有百症，但用補中益氣，其病自愈。其屬外感者，主以補養，佐以解散其邪自退。若外邪既退，即補中益氣以實其表，若邪去而不實，其表或過用發表，虧損脾胃。皆致綿延難治。凡此不問陰陽，日夜所發，皆宜補中益氣，此不截之截也。夫人以脾胃為主，未有脾胃實而患瘧痢者。若專主發表攻裡、降火導痰，是治其末而忘其本，前所云乃治瘧之大略。如不應，當分六經表裡而治之，說見各方。</p>
<p>疏曰：此案因停食感寒而患瘧，則其病在脾胃也。可知因自用截瘧之藥而變症甚劇。則其病在脾胃之虛寒也。可知雖不言脈而症無疑。先生明疏病情，加惠後學多矣。至於大凡以下所論，皆以脾胃虛者言之，非所以概於諸瘧也。余謂瘧痢一症，雖本於脾胃虛者為多，蓋脾主信，而寒熱則屬肝膽，是以每多木乘土症。然本於腎虛者更多，腎主閉藏，不能閉藏則邪氣易入而深藏之，久而發為寒熱，是水不能生木固也。雖然瘧症必有外邪，如風、寒、暑、濕、熱之氣夾雜而生，故先宜分六經表裡而治之。雖曰六經表裡，大概多在少陽、陽明半表半裡之間，是以治法不離乎小柴胡湯加減和解之方，未應，然後從虛治，如脾胃虛者，以補中益氣加減為主；如腎虛者，以六味加減為主，虛而寒者，悉加溫熱之品。若先生所云，先以補虛為主，如不應，當分六經表裡而治之。未免倒置矣。</p>
<p>大尹曹時用，患瘧寒熱，用止截之劑，反發熱惡寒，飲食少思，神思甚倦，其脈或浮洪或微細。此陽氣虛寒，余用補中益氣，內參、耆、歸、術各三錢，炙甘草一錢五分，炮薑、附子各一錢，一劑而寒熱止，數劑而元氣復。</p>
<p>疏曰：此案用截止之劑，而變症百出，症既屬虛，脈更無主，宜以溫補見功。然亦有誤用止截而邪氣閉塞者，當仍用疏表清理，然必無如是症，如是脈也常見，脈之隱現不定，旦夕更象，時大時小，或強或弱者，初無定見，要知此皆陽氣虛寒，神無主宰之故，不論諸症，悉宜溫補而已。</p>
<p>一儒者，秋患寒熱，至春未愈，胸痞腹脹。余用人參二兩，生薑二兩煨，熱煎頓服。寒熱即止，更以調中益氣加半夏、茯苓、炮姜數劑，元氣頓復。後任縣尹，每飲食勞倦疾作，復前藥即愈。大凡久瘧乃屬元氣虛寒，蓋氣虛則寒，血虛則熱，胃虛則惡寒，脾虛則發熱。陰火下流則寒熱交作，或吐涎不食，泄瀉腹痛，手足厥冷，寒戰如慄。若誤投以清脾、截瘧二飲多致不起。</p>
<p>疏曰：人參、煨姜各二兩，此方原屬治胃家陽氣虛寒症，然非大虛而病久者，不可用其煨姜，多至二兩，頗能戟喉。若有是症，何不用補中益氣加煨姜數片，或六君加升麻、柴胡、煨姜，後以圓之，未始不可。此案能用之者，因其病自秋至春之久故耳，久而尚覺胸痞腹脹，自是脾胃氣虛不運之故，然久而不愈，未免有痰凝濕滯於中宮。古人云：無痰不成瘧。又曰：瘧久不愈，內必有根。痰濕者，非瘧之根乎？故不用補中益氣而用調中益氣且加半夏、茯苓、炮姜者，是有痰濕之根者宜之。至於大凡久瘧以下所論，則純以脾胃虛者言耳。是論久瘧，非論調中，若所謂陰火下流者，蓋陰火是脾火，屬太陰故也。下流者是下脫，惟下脫，故現諸虛寒症。是當用大溫大補之劑，或宜升或不宜升，須在相機而用，故不載。當用何方？只云不可誤投清脾、截瘧焉。</p>
<p>一上舍，每至夏秋，非停食作瀉，必瘧痢霍亂。遇勞吐痰，頭眩體倦，發熱惡寒，用四物、二陳、芩、連、枳實、山梔之類，患瘧服止截之藥，前症益甚，時或遍身如芒刺。然余以補中益氣加茯苓、半夏，內參、耆各用三錢，歸、術各二錢，十餘劑稍愈。若間斷其藥，諸病仍至，連服三十餘劑全愈。又服還少丹半載，形體充實。</p>
<p>疏曰：此案病在脾胃氣虛而有濕熱之積者也。大凡病之必至，是時而發者，皆屬脾經氣血虛而有積氣隱伏於內，蓋脾屬土而主信，故不爽其期。積氣隱伏於內，如草根之隱伏於土中，至春必發，若無根在內，則何發之。有故治應期而發之症，當隨其症而補之，兼消積氣之品，以潛消滅奪之。此案每至夏秋正長夏濕土司令之時，非停食作瀉，必瘧痢霍亂。是皆病在脾胃而有濕熱之積氣故也。至於遇勞吐痰，頭暈諸症者，則脾胃之氣虛為多，故宜於補氣，不宜於補血，宜於溫升，不宜於寒降。是以四物等類及止瘧之藥，而致前症益甚也。若所謂遍身如芒刺然者，此是肺氣大虛，不能外衛其皮毛之故。蓋土虛則金亦虛，內虛則外亦虛也。故以補中益氣，倍用補氣之品，以大補之。然以其應期而發，必有積氣，故其加茯苓、半夏以消之。如此大補，服至三十餘劑而後愈，其虛可知，則虛者當補母，故再用還少丹服半載，形充氣實，虧損之症復元，非易也。</p>
<p>一婦人，瘧久不愈，發後口乾倦甚，用七味白朮散加麥冬、五味作大劑，煎與恣飲，再發稍可，乃用補中益氣加茯苓、半夏十餘劑而愈。凡截瘧，余常以參、術各一兩，生薑四兩煨，熱煎服即止。以大劑補中益氣加煨姜尤效，生薑亦效。</p>
<p>疏曰：此案胃虛而津液不能上潮於肺之症也。夫口乾倦甚，瘧所必然。但在正發時，則有虛而或有實；若在發後，則未嘗有實也。何也？蓋正發時而然者，或有邪氣劫其津液而口乾，邪氣勝其元氣而倦甚，則補養之中當兼散邪。今以發後而然，則邪氣已退而獨元氣不敷矣。故惟補養而已，然發後暫時而然者，未必是虛，暴瘧之後勢所必然。若整日連夜而然者，必定是虛矣。若七味白朮散一方，原治瀉而口乾屬中氣虧損，津液短少之症。今移治瘧後口乾，足徵運用之妙。蓋瘧與瀉雖不同，而中氣虧損，津液短少則同也。加以麥冬、五味，又見加減之妙，蓋瀉自不可兼清潤，而瘧又不可獨行溫燥也。及再發稍可，乃用補中益氣加味者，瘧疾之根自當清散，而脾胃之氣自當升補。是知前劑所以治標，後劑所以治本耳。至於所云截瘧之法，亦當因症而施，未可必然之例。凡瘧之來，豈無寒暑之分，氣血陰陽之異乎？惟元氣虛而風邪伏者為宜。</p>
<p>東洞庭馬志卿，瘧後形體骨立發熱，惡寒食少，體倦，用補中益氣，內參、耆、歸、術各加三錢，甘草一錢五分，炮姜二錢，一劑而寒熱止。數劑而元氣復。</p>
<p>疏曰：此症之宜大補也，人皆知之，而況得之瘧後乎？然以形體骨立，是形與精皆不足也，形不足者，當補之以氣；而精不足者，當補之以味。味者是補陰也，而補中益氣獨能補脾胃之氣，而不能補肝腎之陰，先生何以獨用之乎？蓋飲食少、體倦故耳。凡病至食少體倦則脾胃之氣已虛，脾胃氣虛則陰藥不可驟用，以泥滯之性有礙於食少之人。故先生每於食少體倦，四字為補氣血之標準，宜知此敘症之意。</p>
<p>一婦人，久患寒熱，服清脾飲之類，胸膈飽脹，飲食減少，余用調中益氣加茯苓、半夏、炮姜各一錢，二劑而痊。</p>
<p>疏曰：此案久患寒熱，固非瘧疾可比。然何至服瘧之藥反得胸膈飽脹，飲食減少？是脾胃之氣為藥傷耳。久患寒熱，亦是婦人常病，其氣血未必大損，且有抑鬱停滯者，每多此症。故先生只用調中益氣湯二劑而愈。不然飲食減少之症，若屬於脾腎元氣虧損者，何能速愈至此耶？要知此飲食減少，在服清脾飲之後，不在患寒熱之前，則未服清脾飲前，其飲食不減少可知。故不用補中益氣湯也。</p>
<p>一婦人勞役，停食患瘧。或用消導止截，飲食少思，體瘦腹脹。余以補中益氣倍用參、耆、歸、朮、甘草，加茯苓、半夏各一錢五分，炮姜五錢，一劑頓安。又以前藥，炮姜用一錢，不數劑，元氣復而全愈。</p>
<p>疏曰：此案當以勞役二字為主；夫人既勞役，則其脾胃之氣已虛矣。停食患瘧，雖為邪氣有餘，然本實先撥。何可不顧其本。細詳此案與前案同是誤服藥餌，以致食少腹脹之症，用藥亦頗同。而此案溫補之勢更數倍於前案，要知亦以勞役二字為病之本，治病者豈可不審病人之勞逸乎？</p>
<p>一婦人飲食後，因怒患瘧，嘔吐。用藿香正氣散二劑而愈，後復怒，痰甚多，狂言熱熾，胸肋脹痛，手按稍止，脈洪大無倫，按之微細，此屬肝脾二經血虛，以加味逍遙散加熟地、川芎，二劑脈症頓退。再用十全大補而安。此症若用疏通之劑，是犯虛虛之戒矣。</p>
<p>疏曰：此案之用藿香正氣散以治瘧者，因於嘔吐也。然瘧而嘔吐，未始非少陽經症，小柴胡湯是對症之方，況因怒而患瘧，更為允當，何以不用耶？不知在飲食後，因怒而患，則雖肝氣當理而飲食更當消也。藿香正氣散既能理肝氣，復能消飲食，既能止嘔吐，復能散瘧邪。較之小柴胡湯，但能入少陽以治少陽瘧邪，止嘔吐理肝氣，而不能入陽明並消飲食也。至於後復怒，吐痰甚多，狂言熱熾而論，似乎陽明之實火旺也。仍前而來，豈非從陽明之經入陽明腑乎？然以胸肋脹痛，手按稍止而論，則確乎肝脾二臟之血俱虛也。故用加味逍遙散補正清邪入肝脾之劑，又加熟地、川芎合四物湯，重補其血耳。然以脈之洪大無倫，按之微細而論，則似乎脾肺之氣虛，或肝腎之陰虛也。所當用者，補中、六味也，而何以不用哉？豈以狂言熱熾之症，不屬於肺，不屬於腎，而必屬於肝脾乎？故不從補陰而必從補血乎。抑以狂言熱熾之症從瘧後來者，為其肝脾尚有餘邪未盡乎。故不用補中，不用六味，而必用逍遙乎，噫！微矣！此案有探其本而不顧其表，得其虛而不顧其實之妙。蓋前症之所當急治者，自然以因怒患瘧為主，其病在肝，而不知飲食後得之，則其病在胃，去其飲食，散其風寒，而諸病自已。是本在飲食，而標在瘧疾也。後症之所當急治者，自然以狂言熱熾為主，其病在胃，而不知後復怒得之，則其病仍在肝，散其怒氣，補其肝脾。肝氣和則胸肋脹痛自愈矣。至於脈洪大無倫，重按微細，雖屬血虛，然純補血則陽氣不充，所以用十全大補善其後也。</p>

<h2>脾肺虧損咳嗽痰喘等症</h2>
<p>一男子素吐痰，遇怒其痰益甚，胸膈痞滿，此肝木製脾土也。用六君加木香治之而痊。</p>
<p>疏曰：此案當用六君加升麻、柴胡治之。而何以不用耶？豈以遇怒則痰益甚？為肝氣亢逆於上，故不宜升提乎。大抵如前盧抑齋、楊樸庵二案。一曰木乘土，一曰木剋土，皆土受木邪，而木已陷於土中。故用升麻、柴胡，從土中升出木氣而上始安。茲案乃曰：木製土上者，受其節制而已，其木尚未陷入土中。故只補其脾，運其氣，則不受其制矣。不必升提也。</p>
<p>鴻臚蘇龍溪，咳嗽氣喘，鼻塞流涕，余用參蘇飲一劑，以散寒邪。更用補中益氣湯以實腠理而愈。後因勞怒仍作。用前飲益甚，加黃連、枳實，腹脹不食，小便短少，服二陳、四苓前症愈劇，小便不通。余曰：腹脹不食，脾胃虛也；小便短少，肺腎虛也。悉因攻伐所致，投以六君加黃耆、炮薑、五味二劑，諸症頓退。再用補中益氣加炮薑、五味，數劑全愈。</p>
<p>疏曰：此案以鼻塞流涕之故，知其有寒邪，特用參蘇飲以散之。然必預有脾胃肺氣之症，故繼以補中益氣而愈。後因勞則脾胃復傷，因怒則土受木克矣。何以不用補中益氣而反用參蘇？且更加黃連、枳實，寧不重傷脾肺乎？至於現症，雖有腎虛一說，然究不越脾胃土虛，不能生肺金，金虛不能生腎水，從源溯流，只補其土金，而水自得生。故惟用六君補中為主，加五味以生水而已。若庸工遇此，鮮不以金匱腎氣丸為對症之方，然不知腹脹不食之症，宜乎先用六君運之，並宜先用補中提之，而況腎氣丸泥滯窒塞之品乎？此醫道之精，其間不容絲毫之誤也。</p>
<p>地官李北川，每勞咳嗽。余用補中益氣湯即愈。一日復作，自用參蘇飲益甚。更服人參敗毒散，項強口噤，腰背反張，診其脈躁勁。余曰：此誤汗亡津液而變痓矣。仍以前湯加附子一錢，四劑而痊。感冒咳嗽，若誤行發汗過多，喘促呼吸不利，吐痰不止，必患肺癰矣。</p>
<p>疏曰：此案只每勞二字，以見其氣之虛矣。補中益氣治氣虛之方也。業已用之而得效奈何？復作而反用發散之藥，以致津液暴亡，脈躁勁成痙，自取之也。獨是補中加附子乃治誤汗亡陽，汗流不止之方。而此症是誤汗亡津液，津液陰類，法當滋養陰血，以潤其筋脈，何反用附子以燥益燥乎？豈以氣虛為本，而虛甚當補陽乎？抑以色脈之間，多現陽氣之虛，而不現陰血之虛而然乎？一友云：此即仲景真武湯法也。原法誤汗亡陽症。此案雖云誤汗亡津液，其實將亡陽矣。故用之。</p>
<p>侍御譚希曾，咳嗽吐痰，手足時冷，余以為脾肺虛寒，用補中益氣加炮姜而愈。</p>
<p>疏曰：此案必有虛寒之脈也可驗，不然手足時冷，不無有熱厥火鬱者乎？一友云：手足時冷，有寒熱之分，虛實之異，不可概作虛寒主治。如此案之用補中加炮姜者，大約右脈必虛數微數，故以補中補其虛，加炮姜退其脈之數耳。</p>
<p>職方王用之，喘嗽作渴，面赤鼻乾，余以為脾肺有熱。用二陳加芩、連、山梔、桔梗、麥冬而愈。</p>
<p>疏曰：此症必有實熱之形脈可驗。不然面赤口渴，不無有陰虛火旺者乎？不但面赤口渴，非必盡屬實火。即喘嗽一症，自有寒熱虛實之分，氣血陰陽之異，如此案之用二陳加清火之品者，大約屬痰火症耳。其脈必洪數有力者也。</p>
<p>僉憲阮君聘，咳嗽面白，鼻流清涕，此脾肺虛而兼外邪。用補中益氣加茯苓、半夏、五味，治之而愈。又用六君、芎、歸之類而安。</p>
<p>疏曰：一友曰此案明系外邪，而投補中益氣者。乃邪之所湊，其氣必虛，所謂養正則邪自退矣。脈必見虛微，故用之。猶恐邪氣乘虛又襲，故加五味子以斂其腠理，蓋盜出閉門之意耳。余謂此案面白者，氣虛也；鼻流清涕者，外邪也；補中益氣加味，允得其宜。然五味子雖為盜出閉門之意，而初服實未可用俟。二三劑後，外邪散去，然後用之則無閉門之虞。</p>
<p>司廳陳國華素陰虛，患咳嗽。以自知醫用發表化痰之劑不應，用清熱化痰等藥其症愈甚。余曰：此脾肺虛也。不信，用牛黃清心丸，更加胸腹作脹，飲食少思，足三陰虛症悉見。朝用六君、桔梗、升麻、麥冬、五味補脾土，以生肺金；夕用八味丸補命門火，以生脾土，諸症漸愈。經云：不能治其虛，安問其餘？此脾土虛不能生肺金，而金病復用前藥，而反瀉其火，吾不得而知也。</p>
<p>疏曰：素陰虛患咳嗽者，非腎陰虛而相火上爍肺金，即脾陰虛而燥土不能生肺金也。斯時宜養脾腎之陰，而肺得全其所養矣。奈何焭焭受侮，無恃之肺金，不急扶之培之，而反散之削之，寒涼之，不特肺更受侮，而肺之母亦受傷。肺母之家，無不受傷矣。斯時所以胸腹作脹，飲食少思，足三陰虛症悉見也。六君加味者，補肺之母也。八味丸者，補肺母之家也。即所謂隔二隔三之法也。甚矣！陰虛之人，不可發表化痰清熱，而世之陰虛者，皆是世之醫家發表化痰，清熱者亦皆是世之病。人甘受其發表化痰，清熱者，無不皆是悲夫。</p>
<p>一婦人素鬱結，胸膈不寬，吐痰如膠，用加味歸脾湯乃瘥。</p>
<p>疏曰：吐痰如膠，世皆為之火痰、老痰、頑痰，雖或有知其虛者，亦必先用清消之品而後補之。不知多成於素鬱結之人，為鬱火熏爍其津液所致也。夫鬱結者，其心脾之傷也。可知雖吐痰如膠，只補其心脾而已。清消之品，吾知其不勝任矣，故用歸脾湯以補之。然鬱結者，必有鬱火，況吐痰如膠，其火必盛，故用加味歸脾湯兼解其鬱結也。</p>
<p>大參李北泉，時唾痰涎，內熱作渴，肢體倦怠，勞而足熱，用清氣化痰益甚。余曰：此腎水泛而為痰，法當補腎。不信，另進滾痰丸一服，吐瀉不止，飲食不入，頭暈眼閉。始信余。用六君子湯數劑，胃氣漸復，即用六味丸月餘，諸症悉愈。</p>
<p>疏曰：此案以時唾痰涎，內熱作渴而言，似宜清氣化痰之劑。然以肢體倦怠言之，則已屬脾胃氣虛矣；勞而足熱言之，則已屬腎水不足矣。合之時唾涎痰，內熱作渴之症，豈非腎水少而為痰乎，乃進滾痰丸而氣虛之症悉具，斯時胃氣更急，故先六君以救胃氣，後用六味以治本來也。然腎水之所以泛而為痰者，由脾胃土虛不能制水故耳。是以既欲補腎，當先補脾胃，相制正所以相濟也。</p>
<p>武選汪用之，飲食起居失宜，咳嗽吐痰，用化痰發散之藥。時仲夏，脈洪數而無力，胸滿面赤，吐痰腥臭，汗出不止。余曰：水泛為痰之症，而用前藥，是謂重亡津液，得非肺癰乎？翌日果吐膿，脈數左尺右寸為甚，始信。用桔梗湯一劑脈數頓止，再劑全止，面色頓白，仍於憂惶。余曰：此症面白脈澀，不治自愈。又用前藥一劑，佐以六味丸治之而痊。</p>
<p>疏曰：此案吐痰腥臭，是胃經瘀積之痰火使之。然瘀積既久，濁氣熏蒸肺經，勢必成癰。是皆腎水虧損，致陽明津液不能流潤所致。法當補腎為主。然瘀積未去，補之反害，故先用桔梗以開提之，使瘀積去，而後以六味補之，斯為正治。雖然此症有本實先撥之虞，蓋緣中氣敗壞不運者有之，腎氣虧損欲絕者有之，不先補而徒事開提，往往不救也。</p>
<p>中書鮑希伏，素陰虛患咳嗽，服清氣化痰丸及二陳、芩、連之類，痰益甚。用四物、黃柏、知母、元參之類，腹脹咽啞，右關脈浮弦，左關脈洪大。余曰：脾土既不能生肺金，陰火又從而克之，當滋化源。朝用補中益氣加山萸、麥冬、五味，夕用六味地黃加五味子三月餘，喜其慎疾得愈。</p>
<p>疏曰：此案右關脈浮弦，土虛而木乘矣。左尺脈洪大，陰虛而火旺矣。朝用補中益氣，所以補土而平木也，加萸肉、麥冬、五味者，不特保肺，亦以斂降其陰火也；夕用六味所以補陰而制火也，加五味子者，不特斂火，亦以之滋養其水源耳。</p>
<p>錦衣李大用，素不慎起居，吐痰自汗，咳嗽發熱，服二陳、芩、連、枳殼、山梔之類，前症不減，飲食少思，用四物二陳、芩、連、黃柏、知母、元參之類，前症愈甚。更加胸腹不利，飲食益少，內熱晡熱，加桑皮、紫蘇、杏仁、紫苑、桔梗之類，胸膈痞滿，脅肋膨脹，小便不通。加茵陳、葶藶，喘促不臥，飲食不進。余診之六脈洪數，肺腎二部尤其。余曰：脾土既不能生肺金，而心火又乘之，此肺癰之作也。當滋化源，緩則不救。不信，後唾膿痰，復求治。余曰：胸膈痞滿，脾土敗也；喘促不臥，肺金敗也；小便不通，腎水敗也；脅肋膨脹，肝木敗也；飲食不化，心火敗也。此化源既絕，五臟已敗，豈藥餌所能生耶，已而果然。</p>
<p>疏曰：此案云素不慎起居，知其戕賊不少，而所以奉生之道，不能承順者多矣。及病至而不用對病之藥以治之，不惟以此藥而退此病，反因此藥而進此病，是其元氣無權化源無主矣。凡病若此，皆不可治，不特咳嗽而已。至於六脈洪數，則五臟皆有火而肺腎兩部尤甚，當云陰火上乘肺金，非心火也。凡病陰火上乘者為難治。蓋以清之不可，降之不能，而腎又為先天根本之地，補之又不易充足，故每多不救。若心火乘之，則清之可也，降之可也，補之亦易為力也。然陰火與心火乘克肺金，治之不得其法，多成肺癰，及肺癰成而元氣未憊者可治。今日化源已絕，五臟已敗，則何可治耶。故其死，不死於肺癰而死於素不慎起居，而用藥雜亂之故也。業醫者宜加察慎之。</p>
<p>絲客姚荃者，素鬱怒，年近六十脾胃不健，服香燥行氣，飲食少思，兩脅脹悶；服行氣破血，飲食不入，右脅脹痛，喜用手按。彼疑為膈氣痰飲內傷。余曰：乃肝木克脾土而脾土不能生肺金也。若內有瘀血，雖單衣亦不敢著肉，用滋化源之藥四劑，諸症頓退，彼以為愈。余曰：火今在邇，當補脾土以保肺金。彼不信，後復作。另用痰火之劑益甚。求治，左關右寸滑數，此肺內潰矣。仍不信，乃服前藥，果吐穢膿而殞。</p>
<p>疏曰：此案素鬱怒，則肝木不能條達，其勢必克脾土，此脾胃不健之所由來也。然肝木既郁，則木中之火亦郁，而肝脾皆陰臟，主血。血被鬱火銷爍，而肝脾同歸於燥，斯時宜疏肝補脾，養血潤爍為主。奈何反用香燥行氣之藥，又用行氣破血之品，以致脾胃不健者，變為飲食少思。再變為飲食不入，兩脅脹悶者，變為右脅脹痛，可為日深一日矣。而有疑於膈氣痰飲，亦惑之甚矣，且痛喜手按，其虛實立辨，不必以單衣不敢著肉而後明也。及滋化源，愈後復作，仍蹈前轍，用痰火之藥，以致肺潰而殞，誰之過歟？至於脈之左關右寸滑數，則明現肝火乘肺金之象甚矣。肺為嬌臟，五火皆能傷之，不可不慎。</p>
<p>上舍史瞻之，每至春咳嗽，用參蘇飲加芩、連、桑、杏乃愈。乙巳春患之，用前藥益甚，更加痰瘖就治。左尺洪數而無力。余曰：此是腎經陰火刑剋肺金，當滋化源，遂以六味丸料加麥冬、五味、炒梔及補中益氣湯而愈。</p>
<p>疏曰：此案每至春咳嗽，則知其為肝火上逆肺金也。肝經之所以生火者，皆腎水不足，不能生木，致木動而生火也。久之，則腎水益虛，則腎經亦有火矣。腎經之火，當壯水以主之。若仍用前方發散寒涼之品，則肺氣愈虛而陰火被遏。宜乎咳嗽益甚，而反加喉瘖也。是瘖也，不特水虛，亦且金破，故既用六味以壯水，更用補中以生金。然必先用六味，後繼補中者，蓋此案以水虛為本，金破為標也。況肺中既有陰火，不先壯水以制之，則參、朮、升、柴、適所以助之耳。此先後之序也。</p>
<p>儒者張克明，咳嗽用二陳、芩、連、枳殼，胸滿氣喘，侵晨吐痰，加蘇子、杏仁，自出痰涎，口乾作渴。余曰：侵晨吐痰，脾虛不能生肺金，涎沫自出。脾虛不能收攝，口乾作渴。脾虛不能生津液，遂用六君加炮薑、肉桂溫補脾胃，更用八味丸以補土母而愈。</p>
<p>疏曰：此案因服芩、連而症劇，其屬脾胃虛寒也固矣，此六君加炮薑、肉果之所以宜也。獨口乾作渴四字，雖曰脾虛不能生津液。然半夏、炮姜何敢用乎？抑以脾氣為寒涼所傷，不能薰蒸津液，以潮潤肺金。故溫之使其氣化乎。抑胃家之津液為寒涼所凝聚，而為痰涎不能遊益敷布以灌溉肺金，故燥之。適所用潤之乎，然用之不當，反增干嗽，痰不能出，兼之口乾咽燥者多矣。宜詳審而用之，未可以為必然也。一友云：此案用六君加炮薑、肉果，必有大便不實一症夾之，也或咳而遺矢者也。</p>
<p>一男子夏月吐痰或嗽，用胃火藥不應。余以為火乘肺金，用麥冬湯而愈。後因又勞復嗽，用補中益氣加桔梗、山梔、黃芩、麥冬、五味而愈，但口乾體倦、小便赤澀，日用生脈散而痊。若咳而屬胃火有痰，宜竹葉石膏湯。胃氣虛，宜補中益氣加貝母、桔梗。若陰火上衝，宜生脈散送地黃丸以保肺氣生腎水，此乃真臟之患。非滋化源，決不能愈。</p>
<p>疏曰：此案服胃火藥不應。不應者，病未去耳，無所加也，無所加，則火未嘗無獨不在胃耳，時當夏月，正肺金畏火之時，症見吐痰咳嗽，豈非火乘肺金乎。然金被火乘，肺氣必虛，故用麥冬湯以補肺氣兼散火鬱。後因勞復發，其氣之虛也，不獨在肺，而且在脾，故用補中益氣以補脾肺之氣，仍加山梔、片芩，以去素有之火，又加麥冬、五味合生脈散，正夏月保肺之要藥也。先生用藥可謂絲毫無漏者矣。</p>
<p>一婦人患咳嗽脅痛發熱，日晡益甚。用加味逍遙散、熟地治之而愈。年餘因怒氣勞役，前症仍作，又太陽痛或寒熱往來，或咳嗽遺尿，皆屬肝火血虛，陰挺痿痹，用前散及地黃丸月餘而瘥。</p>
<p>疏曰：此案屬肝腎陰虛而兼火鬱症也。加味逍遙治肝經鬱火方也。加熟地兼補腎水，補腎水所以滋肝木，散鬱火所以達肝木。一滋一達，所謂風以散之，雨以潤之，同時而進，木有不得其喬者乎？仿此可以知用方加減法，並可以知方之合用法，獨咳嗽遺尿一症，《內經》所謂腎咳不已，則膀胱受之；膀胱咳狀，咳而遺溺者是也。而治法用茯苓甘草湯。此亦邪氣相干而論，未見別法。不知尚有肝火血虛，陰挺痿痹之論，而用逍遙、六味之法。故知讀古人之書，不可不自定其眼目也。</p>
<p>表弟婦，咳嗽發熱，嘔吐痰涎，日夜約五六碗，喘嗽不寧，胸滿躁渴，飲食不進，崩血如湧。此命門火衰，脾土虛寒，用八味丸及附子理中湯加減治之而愈。</p>
<p>疏曰：此案無一症不似熱極，而先生獨斷為火衰土寒者，其必有色脈可憑耳。非臆度也。然以其中二症論之，其嘔吐痰涎，若屬熱症，其聲必亮；其味必苦，其形必濁，而其出也，必艱澀而不多。今曰日夜五六碗，非艱澀可知，固宜溫補以攝之者也。又崩血，若屬熱症，其小腹必痛，其色必紫黑，其來必有塊。而其出也，必淋漓而不斷。今曰如湧，非淋漓可知，當溫補之者也。故見如是症不必色脈為據，即應留意在虛寒一路，更何論咳嗽發熱，胸滿躁渴等症，疑為不可溫補也。</p>
<p>一婦人不得於姑，患胸膈不利，飲食無味，此脾肺俱傷，痰鬱於中，先用歸脾湯加山梔、撫芎、貝母、桔梗，諸症漸愈。後以六君加芎、歸、桔梗。間服全愈。</p>
<p>疏曰：此案云患咳者，乾咳而無痰也。丹溪云咳而無痰者，此係火鬱之症，乃痰鬱火邪在中，用桔梗以開之下，用補陰降火不已，則成勞。此為不得志者有之。今此案云：不得於姑，豈非不得志者乎？以丹溪法論，治當先用開提之品，繼用補陰降火之藥，參、耆、術等似未可用。而先生先用歸脾加味者，誠可見其脾肺俱傷也。夫歸脾治鬱結傷心脾之方，未嘗言及於肺。然鬱結既能傷心脾，何不能傷脾肺？歸脾既能治心脾，何不能治脾肺耶？且其所以加山梔、撫芎、貝母、桔梗者，山梔即寓降火之意，撫芎即寓散郁之意，貝母即寓清痰之意，桔梗即寓開提之意，標本兼治法也。後以六君加芎、歸，亦氣血兩補而兼消痰之劑，更加桔梗，仍不忘開提意耳。獨始終不用補陰之品，是先生之獨見也。予曾治一婦人，患乾咳嗽而兼泄瀉。先用異功散而泄瀉。繼用逍遙散而乾咳痊。一醫用滋陰之品，內熟地五錢，一劑而兩症俱劇，瀉劇則咳亦劇。余仍用前藥不應，乃以異功散內白朮三錢，陳皮易橘紅加蘇梗一錢，桔梗二錢，兩劑而愈。四劑而痊。是知此症多不利於補陰降火也。蓋不得志而至於鬱結者，其氣多陷，補陰降火則其氣更陷矣。宜增其劇也，然此是治脾肺氣虛所致者，然而若因陰虛火燥及血虛火鬱所致者，則補陰降火之法，仍不可廢。《原病式》曰：瘦者腠理疏通而多汗泄，血液衰少，而為燥熱。故多勞嗽之疾也。又《醫貫》曰：有一等乾咳嗽者，極難治，此係火鬱之症，乃痰鬱其火邪在中，用逍遙散以開之下，用補陰之劑，此陰血虛而火鬱治法也。</p>
<p>一婦人咳嗽，早間吐痰甚多，夜間喘急不寐，余謂早間多痰乃脾虛，飲食所化，夜間喘急，乃肺金陰火上衝，遂用補中益氣加麥冬、五味而愈。</p>
<p>疏曰：早間正脾胃空虛之時，故凡病發於此時，皆作氣分主治。不特咳嗽吐痰為然也。夜間正陰經行度之時，故凡病發於此時，皆作陰分主治。不特喘急不寐為然也。況痰屬飲食所化，非脾虛不化也。而早間又飲食正化之後，乘虛而動，能不吐痰乎？喘屬陰火上衝，非陰虛不沖也。而夜間又陰火正沖之候，乘虛而上，能不喘急乎？但補中益氣湯在咳嗽者，恆畏用之，而在喘急，又恆忌用之。不知脾肺虛者，非補中不愈，加麥冬、五味則升者，不致驟升，而無犯。於喘急之畏忌，且能斂降陰火，正合其宜也。或曰陰火上衝，何不兼用六味。曰此案咳嗽吐痰喘急，大概脾肺氣虛為重，不宜於六味之沉降也。</p>
<p>上舍陳道復長子，虧損腎經，久患咳嗽，午後益甚。余曰當補脾土滋化源。使金水自能相生，時孟春，不信，乃服黃柏、知母之類，至夏吐痰引飲，小便頻數，面目如緋。余以白朮、當歸、茯苓、陳皮、麥冬、五味、丹皮、澤瀉四劑，乃以參、耆、熟地、萸肉為丸，俾服之諸症頓退。復請視，余以為信，遂用前藥如常與之，彼仍不信，竟用別劑，卒致不起。</p>
<p>疏曰：此案既云虧損腎經，午後益甚，則知其為陰虛咳嗽也。無疑法當用六味丸治之。先生乃曰：當補脾土，誠以脾為至陰，又為金水二臟之本，故雖曰虧損腎經，以致久患咳嗽者，然必先補脾土，斯為治得其法。乃至服黃柏、知母而變症疊出，其脾土更虛矣。土虛則肺金同受其虧，故先用補養脾肺為重，而以茯苓、澤瀉滲其小便，並降其陰火。而補腎之藥，未之用也。及用丸藥以熟地、萸肉，補肝腎仍用參、耆之品，究不忘脾肺二經，可謂得其源者矣。奈何世人一見咳嗽，午後發熱益甚者，必先補腎滋陰，以致內熱益增，飲食益減，而不知補脾一法，在補腎補肺之先也乎？</p>

<h2>脾腎虧損頭眩痰氣等症</h2>
<p>閣老梁厚齋，氣短有痰，小便赤澀，足跟作痛，尺脈浮大，按之則澀，此腎虛而痰飲也。用四物送六味丸，不月而康。仲景先生雲氣虛有飲，用腎氣丸補而逐之，誠開後學之蒙瞶，濟無窮之夭枉，腎氣丸即六味也。</p>
<p>疏曰：此案脈症其為腎虛也固矣。腎虛而用六味也是矣。而何以兼進四物耶？四物屬血劑而非水劑，屬肝劑而非腎劑，而用之者，其必有肝血同虧之症耶。曰：然蓋脈之浮大，是腎水虛，按之而澀，是肝血虛也。雖只見於尺部而已，為肝腎同虧之症矣。此所以用四物、六味也。至於引仲景先生雲氣虛有飲，用腎氣丸補而逐之者，要知氣虛二字，非脾肺之陽氣虛，乃肝腎之陰氣虛也。若脾肺之陽氣虛者，必當用四君、補中之類，而何以用腎氣丸耶？蓋痰飲屬水，腎臟主之，腎水之所以成痰飲者，以腎氣不化之故也。故曰腎氣虛。今並不曰腎氣虛而曰氣虛者，以腎為氣之本，然必脈症見有腎虛者，宜然耳。</p>
<p>都憲孟有涯，氣短痰暈，服辛香之劑，痰盛遺尿，兩尺浮大，按之如無。余以為腎家不能納氣歸源，香燥致甚耳，用八味丸料三劑而愈。</p>
<p>疏曰：此案與前案相仿，但前無痰暈，此無足跟痛，前曰小便赤澀，此曰遺尿。前脈按之而澀，此曰按之如無，為不同也。然皆屬腎虛症。而前用六味以補腎水，此用八味以補腎火，不相同何也？蓋小便赤澀，足跟作痛，按之而澀之脈是腎水虛，痰暈遺尿，按之如無之脈，是腎火虛。辨症察脈，纖悉如是。一醫云：暈症非一，治法甚多。丹溪曰：無痰不作暈，是火動其痰而上也。劉河間曰：風氣甚而頭目眩暈，是肝風動而火上炎也。此二者世之所知也。而不知有氣虛而暈，有血虛而暈，有腎虛而暈。蓋氣虛者，陽氣衰乏，則清陽不能上升。經曰：上氣不足，頭為之苦眩是也。血虛者，吐衄崩漏，產後脫血則虛火易於上炎，而眼生黑花。經曰：肝虛則目䀮䀮，無所見是也。腎虛者，房勞過度，則腎氣不歸源而逆奔於上。經曰徇蒙招尤，上實下虛，過在足少陰巨陽。又云髓海不足，目為之眩是也。故知暈眩一症，不特風火痰為之也。亦不特腎氣虛為之也，虛實之間，所當細心分析加察，不可執一誤治為要。</p>
<p>孫都憲，形體豐厚，勞神善怒，面帶陽色，口渴吐痰，或頭目眩暈，或熱從腹起，左三脈洪而有力，右三脈洪而無力。余曰：足三陰虧損，用補中益氣加麥冬、五味及加減八味丸而愈。若人少有老態，不耐寒暑，不勝勞役，四時迭病，皆因少時氣血方長而勞，心虧損或精血未滿，而御女過傷，故其見症。難以悉狀，此精氣不足，但滋化源。其病自痊，又若飲食勞役，七情失宜，以致諸症。亦當治以前法，設或六淫所侵，而致諸症，亦因真氣內虛，而外邪乘襲。尤當固胃氣為主，蓋胃為五臟之根本，故黃柏、知母不宜輕用，恐復傷胃氣也。大凡雜症屬內，因形氣病氣俱不足，當補不當瀉，傷寒雖屬外因，亦宜分其表裡虛實，治當審之。</p>
<p>疏曰：此案大概觀之，鮮不為有餘之痰火也。即以左右三脈，亦鮮不以右之無力為虛，左之有力為實也。而不知脈之無力固為虛脈之有力，尤非實也，而無力之虛易見，而有力之虛難知。而況加之以洪，人孰知之？此先生獨得之玄機，故補中益氣因右手之無力而設，加減八味因左手之有力而設也。然未免有疑焉者。左手脈洪而有力，乃屬水虛，六味丸是其的方，何以用肉桂之補火乎？要知肉桂與附子同用，則為補火之品，若單用肉桂乃引火，而非補火也。今觀其症，皆水虛火越之象，非引火，何以治之？至余曰以後詳論，乃立齋先生生平肺腑之學，和盤托出，諄諄苦語，千古不磨之法也。</p>
<p>昌平守王天成，頭暈惡寒，形體倦怠，得食稍愈，勞而益甚，寸關脈浮大，此脾肺虛弱。用補中益氣加蔓荊子而愈。後因勞役，發熱惡寒，譫言不寐，得食稍安，用補中益氣而痊。</p>
<p>疏曰：此案一則曰得食稍愈，二則曰得食稍安，已知其中氣空虛矣。夫豈無胃中火盛者？得食壓住，則火炎之勢暫止而稍愈稍安者乎，然胃火盛者，必有面紅不倦，口渴穢氣等症。右寸關或洪勁，或洪數等脈可驗也。今云形體倦怠，勞則益甚，又云後因勞役則其為中氣虛弱也無疑矣。夫中氣者，非脾胃之氣也，非肺經之氣也，所謂膻中之氣，在脾肺之門耳。大概多言用力者則傷之，食少事煩者能傷之，忍飢行路者能傷之，過食勞頓者能傷之，所傷者，膻中之氣耳。非必主於脾肺也。若傷肺者，當必有咳嗽喘急之症，若傷脾者，當必有不食泄瀉之患，而此二者無之，豈非傷膻中之氣，而在脾肺之間者乎？雖然膻中之氣即脾肺之氣也，即胃中生髮之氣也。不得以無脾肺及胃之症，而謂非脾肺之元氣虛弱也。試思頭暈噁心，及發熱惡寒，譫語不寐等症。與脾肺之氣何干？與胃中生髮之氣何干？乃直以補中益氣之升補胃中生髮之氣之劑以治之者。誠有見於倦怠勞役，得食稍愈稍安之為脾肺虛弱，即胃中生髮之氣虛弱，故用之也。既以得其虛弱之本矣。更何以問其頭暈，惡寒及發熱，惡寒譫語不寐等症耶？所謂不知其虛，安問其餘是也。至於浮大之脈，原屬氣虛。但見於右寸關者是也。今曰寸關，非統言兩寸關歟？若然則氣血兩虛，何以只補其氣耶？蓋氣血兩虛而至於形體倦怠，得食稍愈，勞則愈甚。而且後因勞役復發，得食稍安之症。寧非氣虛重於血虛哉？而安得不以補氣為急哉。</p>
<p>大尹祝支山，因怒頭暈，拗內筋攣，時或寒熱，日晡熱甚。此肝火筋攣，氣虛頭暈，用八珍加柴胡、山梔、牡丹皮二十餘劑而愈。</p>
<p>疏曰：此案種種現症，皆屬肝火，如因怒肝火動也。拗內是肝經所屬，筋是肝經所主。肝火動拗內之筋為之攣也。寒熱是肝經現症，晡熱是肝經血分，肝火動，則寒熱晡熱之甚也。以是而論，則頭暈亦肝火所為。《內經》原謂：諸風眩掉，皆屬於肝。而何以知其為氣虛頭暈耶？其或有氣虛夾雜於其內，抑或有氣虛之脈現於其間耶。至於加減用藥之法，可謂觸處皆通矣。八珍氣血兩補之方也。而肝火未清散，故以加味清之散之。每見世人兩補氣血者，未嘗敢加清散之品，以其雜而不純也。以其補宜近於溫也。以其礙於補藥之力也。不知虛中有實者，自當攻補兼施，而況虛中有火，能不於補中兼清散乎？或曰虛中之火，虛火也。虛火宜補之，補虛而火自退，何必更加清火之品？曰虛中固多虛火，亦未嘗無實火，如因怒而動肝經之實火也。非清散不退，故雖氣血兩虛，當用八珍者，亦必加清火散火之品也。所加之品，曾見用於逍遙散以治此症，則嫌其太輕而少補氣者，又曾見加於歸脾湯以治此症，則嫌其太重。而少補血者，故以加於八珍則補氣補血，適持其平也。余於是而知加減之法，無往而不可爾。倘有脾肺氣虛而兼有肝經實火者，補中益氣可加也。倘有肝腎陰虛而兼有肝火暴發法者，六味丸可加也。推之而諸病兼肝火者，諸方無不可加也。</p>
<p>上舍顧桐石，會飲於周上舍第。問余曰：向孟有涯、陳東谷俱為無嗣，納寵已而得疾，皆頭暈吐痰，並用蘇合香丸，惟有涯得生，何也？余曰：二症因腎虛不能納氣而為頭暈，不能制水，而為痰涎。東谷專主攻痰行氣，有涯專主益火補氣故耳。後余應杭人之請，桐石房勞過度，亦患前症，或用清氣化痰愈甚，顧曰我，病是腎虛不能納氣歸源，治者不悟而歿。惜哉！</p>
<p>疏曰：此案云俱無嗣，納寵已而得疾，其為腎虛也為多矣。蘇合丸能開豁痰氣，治中風中氣之閉症。原非治頭暈吐痰之劑，而況腎虛者乎？加之以專主攻痰行氣，為東谷者焉得不死耶？至所云腎虛者，似宜補水為主，而茲云益火補氣者，蓋不能納氣即火不歸源也。不能制水，即此不歸源納氣之火泛其水也。故益火補氣之說，即此納氣歸源之法，而納氣歸源之法，仍不離乎補腎壯水之劑也。蓋益火即在壯水之中，補氣即在補腎之內也。</p>
<p>一男子，素厚味，胸滿痰盛。余曰：膏粱之人，內多積熱。與法制清氣化痰丸而愈。彼為有驗，修合饋送，脾胃虛者，無不受害。</p>
<p>疏曰：此案以素厚味而知其膏粱積熱，故用此藥見效。若脾胃虛者，何以堪之？嗟乎！素厚味者幾人乎！而可以修合饋送耶？一醫云驗方治病，不可盡信，用於外科庶或宜之，然亦有虛火實火之分，在陰在陽之別，宜攻宜補，或表或里，又有氣血之衰旺，時令之寒暄，運氣勝復，何可概以一方治之耶？況大方證治，變化無窮，微妙莫測者乎？王節齋清氣化痰丸，用於膏粱稟壯之人，酒客頑痰之症，原為神品，但不可概施耳。</p>
<p>先兄，體貌豐偉，唾痰甚多，脈洪有力，殊不耐勞。遇風頭暈欲僕，口舌破裂，或至赤爛，誤食姜蒜少許，口瘡益甚，服八味丸及補中益氣附子錢許即愈。停藥月餘，諸症仍作，此命門虛火不歸源也。</p>
<p>疏曰：此案用八味是矣。何以復進補中益氣乎？且症皆有上炎之勢，能不更助其上炎乎？豈以吐痰不耐勞，遇風頭暈等症，屬中氣虛弱，故必兼用之乎？余細觀之而知其法矣。先用八味，其口舌破裂赤爛，口瘡等症已愈。而吐痰不耐勞，遇風頭暈等症，不與之同愈。故改補中以升補其元氣，然猶恐命門無根，不任升提，故仍用附子以鎮之也。噫！醫至於此神矣！化矣！試思症，現口舌破裂，或至赤爛，誤食姜蒜少許，口瘡益甚，而脈又現洪有力者，敢用八味丸大溫大熱之劑乎？試思症，現體貌豐偉，吐痰甚多，遇風頭暈，而又以火勢上炎，脈又現洪有力者，其敢用補中益氣加附子，大升大補、大溫熱之劑乎？雖前言往行載於典籍者不乏其法，而敢用之者，代不過數人而已。至於今日醫道中絕聞之者未有不訝然失笑也。</p>
<p>儒者王録之，素痰甚，導吐之後，大便燥結，頭眩眼花，尺脈浮大，按之則澀，此腎氣虛而兼血虧也。用四物湯送六味丸四劑，諸症漸退，仍用前法月餘，喜其慎疾而康。</p>
<p>疏曰：導吐之法，須合宜而用，不可妄投也。如垢結腸胃，津液枯涸，阻塞隧道，脈反不出，導之則生；若神怯氣弱，形體難支，尺寸空虛，雖有阻滯，導之則死。如暴食滿胃，難出賁門，路狹難攻，不能達下，吐之則生；若久病致傷胃氣，運補猶不足，雖有暴食，吐之則死。故導吐之宜與不宜，死生反掌，立齋常言不可導。仲景所云不可吐者良有以也。蓋誤吐則傷胃氣，誤導則傷腎陰，此案既云導吐而變症，法當補陰兼補氣，而何以只用補陰耶？曰以症而論，則大便燥結、頭眩眼花者，陰虛也；以脈而論，則尺脈浮大，按之則澀者，陰虛也。故只補陰而已。然尺脈屬陰，何以更云兼血虛耶？曰尺脈浮大是陰虛，按之則澀是血虛，蓋澀脈原屬血虛。若云尺脈浮大，按之無力或按微細，則純乎陰虛，而不必兼四物湯矣。</p>
<p>僉憲高如齋，素唾痰，服下痰藥，痰祛甚多，大便秘結，小便頻數，頭眩眼花，尺脈浮大，按之如無。余謂腎家不能納氣歸源，前藥復耗金水而甚，用加減八味丸料，煎服而愈。</p>
<p>疏曰：此案與前案大略相同，而細微實異。前案云導吐之後，大便燥結，用六味丸。此案云下痰甚多，大便秘結，用加減八味丸。前案云尺脈浮大，按之則澀，用六味丸。此案云尺脈浮大，按之如無，用加減八味丸。蓋按之則澀，為陰虛，不可熱藥，按之如無，為陽虛，方可用熱藥也。然秘結較之燥結，其結更甚，且有小便頻數，而用桂似所不宜，不知尺脈按之如無，則其大便秘結，小便頻數，豈實火之所為哉？此膀胱不能氣化之故也。夫氣化則能出焉，雖指小便言，而大便之虛而不出者，獨不關於氣化者乎？</p>
<p>儒者楊文魁，素吐痰，諸藥不應，服牛黃清心丸，吐痰甚多，或頭眩，或熱從脅起，左脈洪大有力，右脈浮大無力。余曰此三陰虧損，火不歸源。用補中益氣加麥冬、五味及加減八味丸，滋其化源而愈。</p>
<p>疏曰：昔人謂熱從足底起，為腎經火，當用七味八味引之益之。若從腹起為脾經火，從脅起為肝火，當另作處治也。不知肝脾腎同為三陰，熱起處，皆屬陰火。脫根上炎而七味八味皆可主也。然余謂陰火既上炎，似不可用升提之品，今乃先用補中益氣，雖有麥冬、五味以制之要，亦右脈浮大無力，為可用耳。余又謂左脈洪大有力，似不可用溫熱之品，今乃繼用加減八味，雖有丹皮、澤瀉以清之，要亦右脈浮大無力為可用耳。蓋右脈浮大無力，統三部而言也。在於寸關則脾肺之氣已虛矣，故可用升提；在於尺中則命門之火已衰矣，故可用溫熱。夫先天之火，後天之氣，既已虛矣。則左脈之洪大有力，豈實火而然乎？正陰虛之故耳。</p>
<p>秋官張碧虛，面赤作渴，痰盛頭暈，此腎虛水泛為痰，用六味地黃丸而愈。</p>
<p>疏曰：面赤作渴，痰盛頭暈者，陽明火盛亦有之。然脈必洪實，若腎虛者，脈必洪空或枯勁也。余嘗謂水泛為痰之說，有水泛水沸二種。蓋水泛者，腎中之火虛，水無所附而泛於上耳，其痰多清淡如涎，滾滾不竭者是也。法當用八味丸以補之。水沸者，腎中之水，虛火熾於下而沸於上耳。其痰多稠濁如沫，口口相逐者是也。法當用六味丸以攝之。總之皆屬腎虛，但分有火無火為要。不可不詳察也。</p>
<p>儀制賀朝卿，吞酸胸滿，痰甚作渴，飲食少思。用清氣化痰丸藥，前症益甚，兩膝漸腫。寒熱往來，余謂脾胃虛，濕熱下注，用補中益氣倍參、術，加茯苓、半夏、炮姜而愈。</p>
<p>疏曰：大概吞酸，原屬濕熱蘊積於胃經，法當清散。胸滿痰盛，原屬痰飲壅塞於胃經，法當清化。然作渴而飲食少思，則胃氣已虛矣。況服清氣化痰等藥，而前症益甚，更足驗其胃氣虛也。胃氣虛則雖有濕熱痰飲，即不敢清散化氣，而況兩膝漸腫，寒熱往來，下陷之症疊出。安得不升提溫補乎？此時若疑濕熱不可升提，痰飲不可溫補，則下陷之元氣何由而軒舉耶！元氣既不能軒舉，則濕熱亦不能清散，痰飲亦不能清化，同歸於斃，勢所必然。而不知清升則濁自降，古人決不欺余也。雖然有濕熱痰飲，而脾胃之氣不虛不陷者，升提溫補原不必用，且作渴未必非濕熱痰飲在腸胃，而作渴食少，未必非濕熱痰飲在脾胃。而食少總以色脈形氣詳辨之，則無所誤。即此案亦因用清氣化痰等藥，而前症益甚，且有增變，故知其脾胃虛也無疑。</p>
<p>侍御譚希曾，喘咳吐痰，或手足時冷，此中氣虛寒，用補中益氣湯加炮姜而愈。</p>
<p>疏曰：此案以喘咳吐痰而得，手足時冷，此中氣虛寒確矣。然命門火衰者亦如之，虛火上泛者亦如之。是當用溫補之劑，非溫升所宜，況喘咳原當忌用溫升，用之不當為禍。豈淺鮮哉？未知從何處定見，以為中氣虛寒，而敢用溫升之品耶？是必於人情倦怠，飲食不甘，面色慘白，與夫脈之虛緩，或右手寸關獨空洪，以定其見乎。若曰脾主四肢，是其一端也。未可定耳。</p>
<p>職紡盧抑齋，飲食素少，或痰壅氣喘，頭搖目札，揚手擲足，難以候脈。視其面色黃中見青，此肝木乘脾土，如小兒慢驚之症，先用六君加柴胡、升麻而安，以補中益氣加半夏而痊。</p>
<p>疏曰：此案責其痰火者有之，責其為風火者有之，果爾面色當紅。今云黃中見青，其為木乘土也。無疑獨是用藥之先後有差者，只黃耆、當歸耳。何所取乎？要知先以痰氣正盛之時，其歸、耆之性滋滯，故未可驟進，安後則恐六君過燥，易以補中益氣，雖仍加半夏有歸、耆，則不至於燥矣。況補氣之後，自當兼和血也。</p>
<p>考功楊樸庵，嘔吐痰涎，胸腹膨脹，飲食少思，左關脈弦長，按之無力；右關脈弦長，按之微弱。此木剋土也。用六君子加柴胡、山梔、木香而愈。</p>
<p>疏曰：此案似當用六君加升、柴，今僅加柴胡而不加升麻者，以嘔吐不宜過升，加山梔者，所以止嘔吐；加木香者，所以運膨脹耳。此脾虛中有肝火抑鬱者也。</p>
<p>一儒者，體肥善飲，仲秋痰喘，用二陳、芩、連益甚，加桑皮、杏仁，盜汗氣促，加貝母、枳殼，不時發熱。余以為脾肺虛寒，用八味丸以補土母，補中益氣以補脾臟而愈。</p>
<p>疏曰：此案以痰喘盜汗氣促，不時發熱諸症論之，皆屬腎虛火不歸源，當用七味引火歸源。今用八味、補中者，豈因服寒涼後，變現而然乎？果爾，亦只溫補脾胃而已當矣。何必用八味丸耶？其必現真火衰之色脈也。要知痰喘之時，即未服二陳等。以前原屬腎經虛火不歸源，又因寒涼，復傷中氣並此虛炎之火，亦致撲滅矣。故先用八味丸以治其源，繼用補中益氣湯以治其傷也。</p>
<p>二尹陳子忠，飲食少思，吐痰口乾，常服二陳、枳實、黃連之類，脾胃受傷，乃問於余。余述東垣先生曰脾胃之症，實則枳實、黃連瀉之，虛則白朮陳、皮補之，遂以二味等分為丸，由是多食而不傷，過時而不飢。</p>
<p>疏曰：脾胃之氣多虛而少實，實則何病之有？惟虛也。故凡病之生，未有非食少不食者焉！即傷食停食其中，有物之病，亦因脾胃氣虛而不能運，不得已，而暫用消導。當即繼之以調補，且有不可消導？只調補而氣自能運，則傷者停者自去，或未能自去，亦當於調補之中，少加消導，此潔古老人制枳朮丸，以白朮為君，枳實為佐者，即此意也。此案云飲食少思，是脾胃之氣虛也。絕非傷食停食之症，補之猶恐不能復元，況敢用寒涼消導乎？即其吐痰也，因氣虛而津液凝結也。口乾也，因氣虛而津液不生也。補其氣，氣足則津液自生，而不凝結矣。此是純虛症，故不可用枳朮丸，而用白朮、陳皮純補之品以治之。或疑陳皮非補劑，不知脾胃之氣喜運，故以白朮大補之，而以陳皮從而運之，適合脾胃之性，惟其運也。故由是多食而不傷，過時而不飢，不觀夫六君、補中、養榮等方，陳皮無不與焉。</p>
<p>徽州江商，常服二陳、枳實、黃連、青皮、厚朴，胸腹快利，後患腹脹，請治。脈已脫。余曰至暮必歿。已而果然。《內經》千言萬語，只在人有胃氣則生。又曰四時皆以胃氣為本，凡脈促代，屋漏之類，或暴脫。余嘗急用參、附等多有得生者。</p>
<p>疏曰：凡寒涼克伐之品，如二陳、枳實、芩、連、青皮、厚朴等。初服者不論虛實，無不快利，故病者喜服而醫者喜用。不知未久，其病復劇，胃氣已敗。縱欲進補，末如之何矣？先生雖常云凡脈或暴脫者，急用參、附等藥，多有得生者，而此案則常服寒涼克伐，其胃氣所傷久矣，非暴也。故知用之亦無益，故不用也。</p>
<p>一武職，形體豐偉，冬不圍爐，不喜熱飲食，行則喘促。自謂氣實老痰，服碑記丸攻伐之，診其脈洪數，重按全無。余曰：命門火衰，脾肺虛寒。與八味丸一服，痰喘稍止。數服全愈。遂要親火喜熱飲食，蓋碑記丸出處西域，外方人所制者。經云西域水土剛強，其民不衣而薦，華色而脂肥。故邪不能傷其形體。其病於內，其治宜毒藥。由此觀之，恐不可概用也。</p>
<p>疏曰：凡病上盛者，下必虛；下盛者，上不足。真為妙論。此蓋言先後天本源之虛也。如下見脫滑等症，皆從上之脾肺虛。故只補上之脾肺，而下症自愈。上見喘促諸症，皆從下之水火虛，故只補下之水火，而上症自愈也。余謂先天之本元，皆在於腎。如水泛為痰，病屬下虛，是宜補腎；而失運之痰，病屬上虛，雖當補脾肺，然未始不當繼以補腎也。總之先天祖氣，人所當重，惟是先天祖氣之病，每多上下顛倒，真假難辨耳。由是而論，則外盛者，內必虛；內虛者，當補其脾肺，更當補其肝腎。補肝腎者，當補其火。何也？夫脾虛者，不能現外盛之症，惟腎虛者，多變幻莫測耳。水虛者，亦多不能現外盛之候，惟火虛者，更多變幻莫測耳。此案外盛而兼內盛，大都火虛者為多，況脈之洪數，重按全無，豈非火虛之明驗乎？故只用八味丸而愈。但余嘗疑虛火離根，下寒上熱之症，則外現假熱，而有假熱之脈，茲以命門火衰。且又曰脾肺虛寒，則內外皆冰矣，上下皆冰矣。何得復有假熱外現而復有假熱之脈乎？所謂寒極反見熱，化水極而反見化火者乎。</p>

<h2>肝脾腎虧損頭目耳鼻等症</h2>
<p>給事張禹功，目赤不明，服祛風散熱藥反畏明重聽，脈大而虛。此因勞心過度，飲食失節，以補中益氣加茯苓、棗仁、山藥、山萸、五味頓愈。又勞役復甚，用十全大補兼以前藥漸愈。即用補中益氣加前藥而痊。東垣云諸經脈絡，皆走於面而行空竅，其清氣散於目而為精，走於耳而為聽，若心煩事冗，飲食失節，脾胃虧損，心火太甚，百脈沸騰，邪害孔竅而失明矣。況脾為諸陰之首，目為血脈之宗，脾虛是五臟之精氣皆為失所，若不理脾胃，不養神血，乃治標而不治本也。</p>
<p>疏曰：目赤不明，而服祛風散熱之藥，似亦有所宜也。即繼以畏明重聽，亦肝腎之陰血虛而有火也，竟以補中益氣升補脾肺氣分之劑，而加以補心酸收之品於本症，似不相合，且勞復而遽，用十全大補於本症，又相去甚遠，投之而痊者，憑於脈耳。</p>
<p>少宰李蒲汀，耳如蟬鳴，服四物湯，耳鳴益甚。此元氣虧損之症，五更服六味地黃丸，食前服補中益氣湯頓愈。此症若血虛而有火，用八珍加山梔、柴胡。氣虛而有火，四君加山梔、柴胡。若因怒就聾或鳴實，用小柴胡加芎、歸、山梔。虛用補中益氣加山梔。午前甚用四物加白朮、茯苓。久須用補中益氣。午後甚用地黃丸。</p>
<p>疏曰：耳如蟬鳴，固屬腎之症。而四物之劑，以之補水，亦不甚相遠。何至服之而鳴益甚耶？足以見補水補血，大相徑庭，而不可混也。且人徒知耳鳴為腎陰不足，而不知其有元氣虧損者甚多也。經雲頭痛耳鳴，九竅不利，腸胃所主之病。蓋腸為肺之腑，胃為脾之腑，腑與臟同氣，而脾肺非元氣所主之地乎？經文炳炳，人自不讀耳。夫頭象天，耳口鼻之繫於頭者，猶日月星辰之繫於大也，而所以不輕不墜，運行普照者，一氣之充升也，人同乎天亦猶是也。此補中益氣所以治頭痛耳鳴，九竅不利之症者，充升其不升之氣耳。然不可忘情於腎，以腎為元氣之根，而耳實為腎竅。故此案於五更服六味地黃丸，所以壯腎於一陽，初動之時，且抑其虛火上炎之勢，於食前服補中益氣湯，所以補元氣於陽明，正旺之時，且助其升騰易上之勢，此欲升先降，補陽根陰之法也。若讀其諸法，而此症之靈變盡矣。</p>
<p>少司馬黎仰之南銀臺，時因怒耳鳴，吐痰作嘔不食，寒熱脅痛，用小柴胡合四物加山梔、陳皮、茯苓而瘥。</p>
<p>疏曰：以大概觀之肝經火也。然要知雖有怒傷肝之說，而其怒火之所發者，每從少陽膽經而來，少陽為相火故耳。古人所以治怒火，悉用小柴胡湯是也。然或有傷肝及臟之血者，故合四物補之，更乘所勝，而累及脾胃之氣者，故用茯苓、陳皮，同人參、甘草合四君補之。曰何以知其傷於肝也？以寒熱脅痛知之，何以知其累及脾胃也？以吐痰不食知之。何以不用白朮？白朮閉氣，非怒氣所宜也。何以更加山梔，清三焦肝火所宜也？</p>
<p>尚寶劉毅齋，怒則太陽作痛，用小柴胡加茯苓、山梔，以清肝火。更用六味丸以生腎水，後不再發。</p>
<p>疏曰：兩太陽肝膽所屬也。因怒作痛，非小柴胡不愈，怒則火上炎，故加茯苓、山梔以降之，然肝火有餘，肝陰必不足，六味滋水滋其所生也。而後知人之易怒，多怒者，肝經虛也；亦腎經虛也。不虛則母子之間相生相養，木遂其性矣。何易怒？多怒之有故。見易怒多怒之症，切勿以肝氣有餘而削之伐之，益虛其虛也。</p>
<p>一儒者兩目作痛，服降火祛風之藥，兩目如緋，熱倦殊甚。余用十全大補湯數劑諸症悉退。更服補中益氣兼六味丸而愈。復因勞役，午後目澀體倦，服十全大補而痊。</p>
<p>疏曰：此案何以用十全大補耶？蓋服降火祛風之藥，其脾肺元氣已傷，致兩目如緋，則肝腎之陰火復熾。故熱殊甚者，虛火之熾也。倦殊甚者，元氣之傷也。非十全大補兩補氣血以引火歸源，何能得效？且復用補中以補脾肺，六味以補肝腎而後愈。孰謂目赤小恙，惟風火為主耶？或曰既以十全大補而諸症悉退，何不即以此方而全愈？必欲易之者何也？曰十全大補雖能兩補氣血，引火歸源，而升降之法未備也，蓋火既歸源而尚倦殊甚者，脾氣原虛，不得不用補中升補脾氣，尚有熱殊甚者，腎陰素虧，不得不用六味降補腎陰。此又非十全所能？故究意復進之，以頂針對症之方也。然不用補中、六味於前者，以兩目如緋之時，虛火正熾，升提在所難投，虛火未歸，滋陰又屬無益，此前後所不可紊也。噫！微矣！可以知用藥之機矣。至於復因勞役之後，補中一定之方也。仍用十全大補者，蓋仍前而來。原屬脾肺肝腎各虛之候，而今之午後目澀，非仍前肝腎之陰原虛乎？午後體倦，非仍前脾肺之氣原虛乎？故仍用兩補，兩不單用升補也。雖然目澀而用肉桂，我知後人之不敢也，而況兩目如緋時乎？非降火祛風之後，我亦何敢也哉？</p>
<p>一男子房勞兼怒，風府脹悶，兩脅痛，余謂色欲損腎，怒氣傷肝，用六味地黃丸料，加柴胡、當歸一劑而安。</p>
<p>疏曰：左脅痛者，肝經受邪也。右脅痛者，肝邪入肺也。兩脅俱痛者，肝火實而木氣盛也。此案云兩脅脹痛，且因怒而致，似宜作肝氣有餘治之。雖風府屬在肺經，脹悶則亦肝邪入肺之意，似未可遽投補劑，然先雲房勞，次云兼怒，則腎水損於前，肝木傷於後，不得不用肝腎同補之法。趙養葵有六味加柴胡、白芍之方，今去芍而加當歸，蓋白芍因肝火之盛，當歸因肝血之虛，一味之出入，各有妙用，非細心者，不能處此。</p>
<p>一儒者，酒色過度，頭腦兩脅作痛，余以為腎虛而肝病，亦用前藥頓安。</p>
<p>疏曰：此案與前案俱屬肝腎病，用藥相同而序法甚妙，如前案房勞而兼怒，是腎與肝皆受病矣。故曰色欲損腎，怒氣傷肝，此案酒色過度，而無兼怒，則是腎病而無肝病矣。然現症兩脅作痛，肝實病矣。但因腎水虛，不能生肝木，而肝木亦病，其非自受病也。故曰腎虛而肝病，此序法之妙，不同於他書者也。其更妙者，如前之風府脹痛，及此案之頭腦痛兩脅作痛，除肝腎虛症外，其因甚多，立齋先生治法，人每以好補譏之，不知先生先標房勞及酒色過度兩句在前，何得妄譏之焉？此更見序法之妙也。</p>
<p>一男子面白鼻流清涕，不聞香穢三年矣。用補中益氣加麥冬、山梔而愈。</p>
<p>疏曰：經曰肺氣通於鼻，肺和則鼻能知香臭矣。是不聞香臭，皆屬於肺也。立齋案云，塞鼻之症，有因飢飽勞役所傷，脾胃發生之氣不能上升，邪害孔竅，故不利而不聞香臭者。宜養脾胃使陽氣上行，則鼻通矣。是不聞香臭，有屬脾胃者矣。經曰：肺熱甚，出濁涕。河間云：肺熱甚則涕。是鼻之出涕，皆屬肺熱也。而立齋述東垣云，膽熱移於腦，則辛頞鼻淵，治之以防風湯，大抵胃氣不和之所致者多矣。若此案之用補中益氣加麥冬、山梔者，乃脾胃氣虛而有肺經伏熱也。何以見之？蓋面白是脾胃氣虛，三年是肺經伏火也。</p>
<p>一男子年二十，素嗜酒色，兩目赤痛，或作或止，兩尺洪大，按之微弱。余謂少年得此，目當失明，翌早索途而行，不辨天日，眾皆驚異，余與六味地黃丸料加麥冬、五味一劑頓明。</p>
<p>疏曰：此案致病之由，既以素嗜酒色，而脈之象又見兩尺洪大，按之微弱，其為腎虛火泛也明矣。用金水相生之法，無待言矣。獨以脈論，可用引火歸源之法，而不用者，大都上無火症，下無寒症也。雖然即有虛火上炎，得酸收亦能斂而歸源矣。但翌早失明，何變之暴也？一劑頓明。何應之速也？因知病暴者，其效速。而病緩者，其效遲，若漸漸至於失明者，何能一劑而應耶？</p>
<p>一儒者，日晡兩目緊澀，不能瞻視，此元氣下陷，用補中益氣倍加參、耆數劑全愈。</p>
<p>疏曰：元氣下陷者，每劇於日晡。蓋天地之氣，子升午降，故在午前尚得天地之升氣而病愈，至午後則更隨天地之降氣而病劇也。此案兩目緊澀，不能瞻視，而不曰腫，而不曰痛，並不曰紅，則虛症可知。且曰日晡似屬陰血不能滋養之故。然在陰血不能滋養者，必有火症可據，如腫如痛赤之類是也。今既無之，則元氣不能上充也無疑。故直以補中益氣升其不上之元氣，加倍參、耆補其不充之元氣，而目疾斯愈。因知凡病午後劇者，雖屬陰分，當用滋養陰血者，固多而屬元氣下陷於陰分，當用升補元氣者，正不少也。</p>

<h2>脾肺腎虧損大便秘結等症</h2>
<p>一儒者，大便素結，服搜風順氣丸後，胸膈不利，飲食善消，面帶陽色，左關尺脈洪而虛。余曰：此足三陰虛也，彼恃知醫不信，乃服潤腸丸，大便不實，肢體倦怠，余與補中益氣六味地黃月餘而驗，年許而安。若脾肺虛者，用補中益氣湯，若脾經鬱結者，用加味歸脾湯；若氣血虛者，八珍湯再加肉蓯蓉；若脾經津液涸者，用六味丸；若發熱作渴飲冷者，用竹葉黃耆湯；若燥在直腸，用豬膽汁導之；若肝膽邪侮脾者，用小柴胡加山梔、郁李、枳殼；若膏粱厚味積熱者，用加味清胃散。亦有熱燥陽結陰結者，當審其因而治之，若復傷胃氣多成敗症。</p>
<p>疏曰：大便結者，法當潤之攻之。然須看病從何來，如從外邪傳裡作結，或從熱症乾燥作結，其中有物，固宜用潤攻之法。且有氣血虛，雖有物不任潤攻者，亦當於養氣血之中，加潤攻之品以出之。而此案云大便素結，不言病症所從來，則知非外邪傳裡所結，亦非熱症乾燥所結。而其所以素結者，豈非大便屬水，水虛而大便為之素結耶？搜風順氣之品，既燥且耗致脾土亦虛矣。既燥且耗，不特水土虛，而肝為血藏，血虧而木亦虛矣。況症見胸膈不利，肝虛之明驗；飲食不消，脾虛之明驗；面帶陽色，腎虛之明驗；而脈現左關尺洪而虛者，豈非足三陰虛症乎？三陰既虛，而復用潤腸丸，更傷脾氣，所以大便不實，肢體倦怠也。夫脾氣既衰，當先補氣。故先用補中兼用六味，然至月餘而驗，年許而安甚矣。大便之不可輕易潤也，而況攻乎？至所論陽結陰結，按仲景云脈有陽結陰結者，何以升之？曰其脈浮而數，能食不大便者，此為實，名曰陽結，期十七日當劇。其脈沉而遲，不能食，身體重，大便反硬，名曰陰結；期十四日當劇。東垣雲陽結者散之，陰結者熱之，所云虛秘冷秘即陰結也，所云實秘熱秘即陽結也。</p>
<p>一老儒素有風熱，飲食如常，大便十七日不通，肚腸不脹，兩尺脈洪大而虛，此陰火內爍津液，用六味丸二十餘劑，至三十二日始欲去，用豬膽潤而通利如常。</p>
<p>疏曰：凡大便不通者，須問小腹內急迫欲去否，欲去不能去之，不然雖半月一月不可去也。經云北方色黑入通於腎，開竅於二陰，故凡見年高色蒼黑之人，每多便難症。此是腎陰虛竭之故，惟大補腎陰，少佐辛潤之品，不厭頻服，任其自通，方無他變。余常見年老虛脫人，大便久秘，頗亦無害，若峻藥通之，未有不隨斃也。如此案儒而云老，其腎自虛，風熱素有，其水自涸，由是而大便不通，固已當知其不宜速去矣。而況飲食如常，無他症也。肚腹不脹，無急迫也，合之於脈，而兩尺洪大而虛，此又腎水虛涸之明驗，雖曰陰火，但補其水而火自退也。惟傷寒外邪傳裡作結，而大便秘者，宜速去，然亦當看其人氣血虛實，為變通也。</p>
<p>一婦人年七十有三，痰喘內熱，大便不通，兩月不寐，脈洪大，重按微細，此屬肝肺腎虧損，朝用六味丸，夕用逍遙散，各三十餘劑，所進飲食計百餘碗，腹始痞悶，乃以豬膽汁導之而通，用十全大補調理而安。若間前藥，飲食不進諸症復作。</p>
<p>疏曰：案既曰肝肺腎虧，何以用藥只顧肝腎而不顧肺也？且六味、逍遙朝夕並進之法，又似乎獨重肝者，何也？要知七十有三之老婦，其肝陰常不足，而肝氣多郁遏，則肺氣亦郁遏矣。肝陰常不足，則腎陰亦不足矣。六味丸補其肝陰，即所以補其腎陰也。逍遙散散其肝氣即所以散其肺氣也。故用藥雖獨重於肝，未嘗不顧及肺腎也。若以為肺虛必用補氣之品，然所謂計所進飲食百餘碗者，其氣之不虛也，可知氣雖不虛，而肝腎之陰實虛，故腹悶痞時，只用外導而不用內攻，一通之後，即投十全大補者，氣因通而泄也。於此見氣之不虛者，尚不宜攻其大便，而況氣之虛者乎？於是知氣之不虛者，大便既通，即當兼補其氣，恐氣泄而陰益虧也。</p>
<p>一男子年五十餘，因怒少食，大便不利，服潤腸丸大便更秘，胸脅作痛，欲兼服脾約丸，肝脾腎脈浮而澀。余曰：此足三陰精血虧損之症也。東垣云若人胃強脾弱，約束津液不得四布，但輸膀胱。小便多而大便難者，用脾約丸。若人陰血枯槁，內火燔灼肺金受邪，土受木傷，脾肺失傳，大便秘而小便多，忌用潤腸丸。今滋其化源，則大便自調矣。如治果驗。</p>
<p>疏曰：此案因怒少食，大便當泄瀉，今反云不利，服潤腸丸，大便當通利今反云大便結。乃觀其脈，曰肝脾腎浮而澀，先生不曰三陰虧損，而曰三陰精血虧損，蓋三陰之精血虧損也，故因怒少食，大便不泄瀉而反不利；三陰之精血虧損也，故服潤腸丸，大便不通而反秘結。夫精血非水也，非氣也，水與氣屬無形之源，精與血屬有形之物，雖同而實異也。故凡脈見浮洪，重按無力或洪勁，重按不足者，是皆水與氣之傷損，則先生直曰三陰虧損而已。浮而澀，因是血枯精竭之象也。然治法亦不過曰滋其化源。則又雖殊而實同也。蓋精固，氣之所化；血固，水之同源。無形而生有形，理固如此也。</p>
<p>一儒者懷抱鬱結，復因場屋不遂，發熱作渴，胸膈不利，飲食少思，服清熱化痰行氣等劑，前症更甚，肢體怠惰，心脾兩脈澀滯，此鬱結傷脾之變症也。遂以加味歸脾湯治之，飲食漸進，諸症漸退。但大便尚澀，兩顴赤色，此肝腎虛火內傷陰血。用八珍湯加肉蓯蓉、麥冬、五味至三十餘劑，大便自潤。</p>
<p>一男子所患同前，不從余言，服大黃等藥泄瀉便血，遍身黑黯，復來求治。余視之曰：此陽陰二脈俱傷也。經曰：陽脈傷則血外溢，陰脈傷則血內溢，不治。後果然。</p>
<p>疏曰：此案以如是之症，如是之脈，而論其為心脾鬱結，氣血兩傷之症，用加味歸脾治之無容疑矣。獨諸症漸退，後大便尚澀，兩顴赤色，誠屬肝腎虛火，似用六味丸為當，而又曰內傷陰血，投八珍湯者，豈以脈澀，終屬血少而非水虧乎？六味丸但能補水而不能補血乎？要當知澀脈之不可用泥滯之藥，血虛之宜兼用補氣之方也。至於後案陰陽二脈俱傷者，但見便血不見吐血，何以見血外溢乎？不知遍身黑黯，即是血之外溢，非必吐血便血，始謂陰陽俱傷也。</p>
<p>職方陳莪齊，年逾六旬，先因大便不通，服內疏等劑，後飲食少思，胸腹作脹，兩脅作痛，形體倦怠，兩尺浮大，左關短澀，右關弦澀，時夏五月請治。予意乃命門火衰，不能生脾土，而肺金又克肝木，憂其金旺之際不起，後果然。</p>
<p>疏曰：年老大便不通，非水虛即血少。內疏之劑，自能傷脾，以致飲食少思，胸腹兩脅脹痛，體倦脈變，皆傷脾之驗也。至於脈大弦澀，脾陰又虛也。四臟皆虛，何以得生？獨人生以脾土為重，此症不死於木旺之際，而死於金旺之時何也？蓋木已受傷，不能剋土，土反無仇，而木固不能自保矣。況四臟皆病，惟金無恙，以無恙之金，當權旺之今，其摧殘之木，何能堪此乎？木為東方生氣甚矣，生氣之不可不養也，或謂肝無補法，何其謬哉？</p>

<h2>脾肺腎虧損小便自遺淋澀等症</h2>
<p>大司徒許函谷，在南銀臺時，因勞發熱，小便自遺，或時不利，余作肝火陰挺，不能約制。午前用補中益氣、加山藥、黃柏、知母，午後服地黃丸。月餘諸症悉退。此症若服燥劑，而頻數或不利，用四物、麥冬、五味、甘草；若數而黃，用四物加山茱、黃柏、知母、五味、麥冬；若肺虛而短少，用補中益氣加山藥、麥冬；若陰挺痿痹而頻數，用地黃丸；若熱結膀胱而不利，用五苓散；若脾肺燥不能生化，用黃芩清肺飲；若膀胱陰虛，陽無以生而淋瀝，用滋腎丸；若膀胱陽虛，陰無以化而淋澀用六味丸；若轉筋小便不通，或喘急欲死，不問男女孕婦，急用八味丸，緩則不救；若老人陰痿思色，精不出而內敗，小便道澀痛如淋，用加減八味丸料加車前、牛膝；若老人精已短竭，而復耗之，大小便道牽痛，愈痛愈欲便，愈便則愈痛，亦治以前藥，不應，急加附子；若喘嗽吐痰，腿足冷腫，腰骨大痛，面目浮腫，太陽作痛，亦治以前藥；若愈痛而小便仍澀，宜用加減八味丸，以緩治之。</p>
<p>疏曰：陰挺失職，不能約制，致令小便自遺，或時不利，實肝經火盛之症。然此案因勞則脾氣虛矣。而先生仍曰肝火，其所用之藥，又是升提脾氣之方，而所加之品，又是清降腎火之劑，何也？蓋此症之本，本乎肝火也。今因勞而致者，多傷脾氣，多動腎火，脾氣傷則肝木自強，腎火動則肝火自熾，故仍曰肝火。而其因則因乎勞，故用藥如是，然必有脾虛脈症現，而後可用補中；腎火脈症現，而後可用知柏。不然肝火獨盛者，補中適所，以燎撥其原，知、柏未免誅伐無過矣。然余聞脾虛者，忌用寒涼，未見可用補中之症，而加知、柏者也。雖加山藥以防泄瀉，然不能勝知、柏之苦寒，豈有是病當用是藥，而無礙乎甚矣！加減之不可拘也。若此症而有肝火獨旺者，當用小柴胡清肝經氣分之火，逍遙清肝經血分之火，皆繼以六味丸，其補中益氣又非所宜。至於種種論治，可謂曲備諸法，然但有病原，而無脈症可據，後人未免有交臂失之之誤。如服燥劑而頻數云云者，可問而知，或未得其詳，須知必有口乾唇燥，舌粗咽痛，及大便燥結，午後夜間乾熱等症。脈見左手澀數，或兼見於右寸可驗。如肺虛而短小云云者，須知必有面白神怯，短氣力乏，或久嗽自汗，便溏食少等症。脈見右寸關虛軟或空洪無力可驗，如陰挺痿痹云云者，須知必有肝火旺，腎陰虛及莖痿而縮，或小便無度，或淋瀝不禁等症，脈見肝腎洪數或虛洪可驗；如熱結膀胱云云者，須知必有邪氣從太陽傳入太陰里症，及補益甚煩躁莖中熱痛等症，脈見左手浮洪或左手沉實可驗；如脾肺燥云云者，須知必有如前，服藥燥劑，諸症但前，是傷血分虛症，此是傷氣分實症，或加燥渴引飲而熱，在午前較午後稍愈等症。脈見右寸關洪動或澀數有力可驗；如膀胱陰虛云云者，須知必有腎經氣虛等症，脈見兩尺虛洪無力或只見左尺可驗；如轉筋小便不通云云者，此症每多暑濕所致，何可必用八味？須知必有手足厥逆，面青神慢，口鼻氣冷等症，脈見六部沉遲，或右尺不起可驗；如老人陰痿思色云云者，須知必有毛際腫痛，腰疼腿痠，及姬妾頗多，素所好色等症，脈見六部沉澀，或沉遲微弱，或只見兩尺可驗；如老人精已竭而復耗云云者，須知必有好色斫喪之驗，而後可決以上二症，不特老人有之，即少年好色者，亦有患之。至於咳嗽吐痰云云者，即前二老人症之劇處，非別一症也。故繼之曰若痛愈而小便仍澀云云，詳見褚氏遺書精血篇，但無治法耳。</p>
<p>司徒連華泉，小便頻數澀滯短赤，口乾唾痰，此腎經陽虛熱燥，陰無以化，用六味、滋腎二丸而愈。</p>
<p>疏曰：前案云若膀胱陰虛，陽無以生而淋瀝用六味丸，似乎陰虛陽虛大相徑庭，而此案云腎經陽虛熱燥，陰無以化，用六味、滋腎二丸，何陰陽之不分耶？何用藥合一耶？何既曰膀胱又曰腎經耶？何既曰陽虛又曰熱燥耶？足以見陽虛即是陰虛，膀胱即是腎經，總之此症原屬腎經陰虛不能氣化之故，非陽虛也。若果陽虛，當用八味丸、金匱腎氣丸主之，六味丸何能治之也？但腎火盛者，即是陰虛陽無以生，用滋腎丸。腎水虛者，即是陽虛陰無以化，用六味丸。此案是腎水既虛，而腎火復旺，故曰陽虛熱燥，陰無以化，合用六味、滋腎二丸也。</p>
<p>司馬李悟山，莖中作痛，小便如淋，口乾唾痰，此思色精降而內敗。用補中益氣、六味地黃丸而愈。</p>
<p>疏曰：此案思色，精降而內敗，必有毛際腫痛而迫急之症，或以人事察之，如老年而欲心未靜者，如少年而久曠，如姬妾多而力不勝者，如色欲過度而強制者，更當察其形體脈症之虛弱，然後二方可用，不然莖中作痛，小便如淋之屬於他症者正多，即精降內敗之屬於實症亦多也。</p>
<p>考功楊樸庵，口乾舌燥，小便頻數，此膀胱陽燥陰虛，選用滋腎丸以補陰而小便愈；再用補中益氣、六味地黃以補肺腎而安。若汗多而小便短少，或體不禁寒乃脾肺氣虛也。</p>
<p>疏曰：此案云膀胱陽燥陰虛，先用滋腎，再用六味，前邊華泉案云腎經陽虛熱燥，用六味丸、滋腎。一曰陰虛，一曰陽虛，皆用此二丸治之。一曰膀胱，一曰腎經，皆用二方治之，足見腑病即臟病，陽虛即陰虛也。但看火盛者用滋腎，水虧者用六味；火盛水虧者，合而用之而已。然余謂小便不利及頻數淋瀝等症，皆屬腎經陰虛，陽不能氣化之故。經曰：氣化乃能出焉。氣屬陽，欲化其氣，非肉桂不能，故陰虛而陽無化者，滋腎丸有肉桂以化之。而陽虛陰無以化者，六味丸亦當少加肉桂以化之。六味沉滯，何能化其陽氣耶？其兼用補中益氣者，以口舌乾燥為肺氣虛也，或更見肺脈空虛可據耳。若汗多雲云為脾肺氣虛，則並滋腎丸亦不可用，以其害也。故李梧山案只用補中、六味，而不用滋腎，若熱太甚者，並不可用補中，故邊華泉案只用六味、滋腎，而不用補中也。</p>
<p>司空何燕泉，小便赤短，體倦食少，缺盆作痛，此脾肺虛弱不能生腎水，當滋化源。用補中益氣，六味丸加五味子而全愈。</p>
<p>疏曰：缺盆屬肺，作痛未必是虛，體倦食少，而論其虛也無疑。先生認脾虛症，全在體倦食少上識之。經云：脾氣散精，上輸於肺，通調水道，下輸膀胱。此等症治正合此文。此天地之道也，升降之法也，氣化之機也。母子相生之理，先後天一元之體也。所以養生所以治病，無不全備於此。夫膀胱即水道，即金水相生之路，不獨論飲食及小便不通之症而已。故下文有水精四布，五經並行二句。所包者，寧不大哉。立齋滋化源之說，皆從此悟出。是以每用補中益氣、六味丸為滋化源之方也。</p>
<p>一當商素膏粱，小便赤數，口乾作渴，吐痰稠黏，右寸關數而有力，此脾肺積熱，遺於膀胱，用黃芩清肺飲，調理脾肺，用滋腎、六味二丸，滋補腎水而愈。</p>
<p>疏曰：此案素膏粱而右寸關數而有力，俱屬脾肺之積熱也何疑？然脾肺之所以積熱也，亦由腎水之不足，腎火之有餘故耳。況膏粱之人，何能還房幃之事哉？此滋腎、六味之所以善其後也。連列虛實二案，亦足以見立齋非好補者。</p>
<p>一儒者，發熱無時，飲水不絕，每登廁小便澀痛，大便牽痛，此精竭復耗所致。用六味丸加五味子及補中益氣，喜其謹守得愈。若肢體畏寒，喜熱飲食，用八味丸。</p>
<p>疏曰：此案法當用加減八味及附子以治之。要以桂、附故效。而此案不用者，以飲水不絕為有火也，有火則水獨虛，故只用六味加五味以壯水為主，仍用補中者，補水母也。所以滋化源也。因知察病宜變通，用藥宜活潑，讀書宜多而不可偏執。所見此症，若以前第一案論中言之，似乎非桂、附無他法矣。而不知即此一症，亦有寒熱之分，升降之異也。立齋恐後人致疑於前後文，故復序云若肢體畏寒，喜熱飲食，此正為後人立標準耳。若不讀此案，遇此症而必用桂、附，豈不誤哉！</p>
<p>大尹顧榮甫，尾閭作癢，小便赤澀，左尺脈洪數，屬腎經虛熱，法當滋補。彼不信，乃服黃柏、知母等藥，年許高骨腫痛，小便淋瀝，肺腎二脈洪數無倫。余曰：子母俱敗，無能為矣。果歿。</p>
<p>疏曰：此案尾閭屬腎而癢為虛。況左尺洪數，更足徵乎。洪數固屬火象，然火由水虧，補其水而火自平也。若寒涼日進，虛火愈熾，安得不炎爍肺金乎？金水並竭，化源絕矣。故曰子母俱敗。</p>
<p>余甲辰仲夏，在橫金陳白野第，會其外舅顧同厓，求余診脈。左尺澀結，右寸洪數，余曰：肺金不能生腎水，誠可慮也。果至季冬，莖道澀痛淋。愈痛則愈便，愈便則愈痛而歿。</p>
<p>疏曰：腎脈至於澀結，其水已涸矣，而況所生受傷，其源又絕乎。所現之症即前精竭復耗之症，雖有生脈散同六味、七味、八味治之之法，然不能救涸絕之氣矣。</p>
<p>劉大恭年逾六旬，形氣瘦弱，小便不禁或頻數，內熱口乾，或咳痰喘暈。余以為肺腎氣虛，用六味丸、益氣湯以滋化源。不信，反服補陰降火澀精之劑，陰竅作痛或小便不利，仍服前藥，不兩月而歿。</p>
<p>疏曰：此案小便不禁或頻數及咳痰喘是肺氣虛也。內熱口乾及暈是腎氣虧也。故曰肺腎氣虛。然肺病則脾必病矣，而獨不言脾者何也？蓋不言有飲食少進，大便泄瀉，肢體倦怠等症，故遺脾而獨曰肺腎也。然即脾病而所用藥亦不出此耳，余嘗論小便諸症治法，要以實者通之，虛者澀之，已不知病必有源，其源在於臟腑，舍腑臟之源而不求，乃籠統以通澀為事，未見其可也。夫小便為膀胱之所司，而膀胱屬寒水之腑，故小便諸症其虛其實，皆責於水道通塞。不知肺為水源，肺氣不降，則水道固自有病。而肺氣不升，則水道之為病更多也。腎為水，主腎氣。有邪則水道固自有病。而腎氣有虧，則水道之為病更多也。此腎氣丸、益氣湯所以為滋化源之品，而於小便諸症，更切於他症也。今觀夫服補陰降火，澀精之劑，而反陰竅作痛，小便不利者，是降之澀之，適所以增劇也。</p>
<p>儒者楊文魁，痢後兩足浮腫，胸腹脹滿，小便短少，用分利之劑，遍身腫兼氣喘。余曰：兩足浮腫，脾氣下陷也；胸腹脹滿，脾虛作痞也；小便短少，肺不能生腎也；身腫氣喘，脾不能生肺也。用補中益氣湯加附子而愈。半載後，因飲食勞倦，兩目浮腫，小便短少，仍服前藥頓愈。</p>
<p>疏曰：痢後脾肺之氣已虛矣。曰兩足浮腫，脾肺之氣已下陷矣。曰胸腹脹滿，脾肺之氣已不運矣。曰小便短少，脾肺氣虛而水源竭矣。斯時即當用補中益氣以升補之，而何以復用分利之劑益虛其虛，益陷其陷，以致身腫而氣喘，脾肺之氣幾乎欲絕耶？先生自疏甚明切矣。獨用補中而加附子者，蓋以脾肺元氣泊沒歿。盡非附子之雄悍不能鼓舞充升其元氣。而此時之參、耆獨行無力也。且此法之妙，尚又有說。一則元氣下陷，而又命門元陽無根，則不敢用升提，故加附子以生命門之根而升提之；一則元氣下陷之極，非從九地之下升起則不能升提，故加附子入於九地而升於九天，此法之玄妙，非玄機之士，不能知。</p>
<p>甲戌年七月餘，奉侍武廟，湯藥勞役過甚，飲食失節，復兼怒氣。次年春，莖中作痛，時出白津，時或痛甚，急以手緊捻才止，此肝脾之氣虛也。服地黃丸及補中益氣加黃柏、柴胡、山梔、茯苓、木通而愈。至丁酉九月又固勞役，小便淋漓，莖癢竅痛，仍服前湯加木通、茯苓、膽草、澤瀉及地黃丸而愈。</p>
<p>疏曰：此案勞役過甚，而兼飲食失節，脾虛矣。復兼怒氣肝虛矣。故所見之症，莫非肝脾兩虛，以地黃丸補肝，補中益氣補脾是矣。然虛中必有肝火及濕熱之氣，故加黃柏、山梔、茯苓、木通以利之，倍加柴胡者，一則引入肝經，一則恐升提之勢因清利而力輕也。後又因勞復發，所加膽草、澤瀉亦由肝火濕熱之故也。</p>

<h2>脾腎虧損小便不利肚腹膨脹等症</h2>
<p>大戶劉天錫，內有濕熱，大便滑利，小便澀濁，服淡滲之劑，愈加滴瀝，小腹腿膝皆腫，兩眼脹痛，此腎虛熱在下焦，淡滲導損陽氣，陰無以化，遂用地黃、滋腎二丸，小便如故，更以補中益氣加麥冬、五味兼服而愈。</p>
<p>疏曰：大便滑利，小便澀濁，而因於濕者，法當淡滲所宜也。而不知此案濕熱之由來已久，因腎陽之不能化，脾氣之不能運，淡滲之品愈趨愈下矣。先生雖不言脾氣之虛，而所受之症，皆脾氣不升，濕熱下流之驗。斯時以小便為急，化氣為要，故先以六味合滋腎丸，補其腎而化其氣，而小便如故矣。更以補中益氣合生脈散升其脾而滋其源，諸症自愈也。雖不治濕熱，而治濕熱之所來耳。</p>
<p>州守工用之，先因肝腹膨脹，飲食少思，服二陳、枳實之類，小便不利，大便不實，咳痰腹脹，用淡滲破氣之藥，手足俱冷。此足三陰虛寒之症也。投金匱腎氣丸，不月而康。</p>
<p>疏曰：此案先因肚腹膨脹，即繼云飲食少思，其為脾虛可知。服削伐之品，而致小便不利，大便不實，咳痰腹脹，則脾更損而腎亦虛矣。再加淡滲破氣之藥，則元陽有不導損乎？此手足俱冷之後，自屬三陰虛寒，可知如此之症，乃可用金匱腎氣丸。今人一見腫脹而小便短少者，不問虛實，不問寒熱，即以此方投之，自居為名家，治法可笑也夫。</p>
<p>州同劉禹功，素不慎起居七情，致飲食不甘，胸膈不利。用消導順氣，肚腹悶痞，吐痰氣逆；用化痰降氣，食少泄瀉，小腹作脹；用分利降火，小便澀滯，氣喘痰湧；服清氣化痰丸，小便更滯，大便愈瀉，肚腹脹大，肚臍突出，不能寢臥，六脈微細，左寸虛甚，右寸短促。此命門火衰，脾腎虛寒之危症也。先用金匱加減腎氣丸料，肉桂、附子各一錢五分，二劑下瘀積甚多，又以補中益氣送二神丸二劑，諸症悉退大半，又投前藥數劑，並附子之類貼腰臍，又及湧泉穴，寸脈漸復而安。後因怒腹悶，惑於人言，服沉香化氣丸，大便下血諸症盡復。余曰：此陰脈傷也。不治。</p>
<p>疏曰：凡病起於不慎起居七情，此虛之本也。加以飲食少進，大便泄瀉，此虛之成也。縱有他症，同歸於虛矣。況六脈微細乎，至論左寸虛甚，心火不足也。右寸短促，肺氣不足也。而先生乃曰命門火衰，脾腎虛寒者何也？豈以現症皆屬脾腎而非心肺乎？不知心火之不足由於腎水之寒，有所克也。肺氣之虛，由於脾虛不能生也，壯腎火以生心火，補脾土以生肺金，此先後天相生及母子相生之道也。至於服金匱腎氣丸而下瘀積甚多，此時治者，每致疑於不可補，不知瘀積從攻伐而下者，或謂實症；從溫補而下者，正是虛症也。前蓋因虛而不下耳，故不顧其瘀積，只補其元氣，元氣足，則瘀積有則自行，無則自止也。若大便下血，謂之陰絡傷者，在病久症虛及誤服克伐所致。然而非一見便血即陰絡傷，而辭以不治也。</p>
<p>一儒者，失於調養，飲食難化，胸膈不利，或用行氣消導藥，咳嗽喘促，服行氣化痰藥，肚腹漸脹，服行氣分利藥，眠臥不寧，兩足浮腫，小便不利，大便不實，脈浮大，按之微細，兩寸皆短，此脾腎虧損。朝用補中益氣加薑、附，夕用金匱腎氣加破故紙、肉果各數劑，諸症漸愈，更佐以八味丸，兩月乃能步履，恪服補中、八味，半載而康。</p>
<p>疏曰：此案失於調養而致飲食難化，胸膈不利，其脾肺之氣已虛矣。用行氣消導藥而所變之症，肺氣更虛也。服行氣化痰藥而所變之症，脾氣更虛也。服行氣分利而所變之症，脾肺氣下陷而不能運，因而命門之火衰弱，而不能化也。脈象已現上不足，下真寒也。故補中益氣之不足，又加乾薑、附子，金匱腎氣不足，又加故紙、肉果，皆因脈之微、細、短三字主見也。亦猶前劉禹功之脈，微細虛短，而用金匱重加桂、附，補中送二神丸之意也。雖服法稍殊，而大略則同。</p>
<p>一富商，飲食起居失宜，大便乾結，常服潤腸等丸，後胸腹不利，飲食不甘，口燥體倦，發熱吐痰，服二陳、黃連之類，前症益甚，小便滴瀝，大便濕瀉，腹脹少食，服五苓、瞿麥之類，小便不通，體腫喘嗽，用金匱腎氣丸、補中益氣湯而愈。</p>
<p>疏曰：此案飲食起居失宜，致大便乾結，其津血少為多，潤腸丸雖有養血之品，而克伐攻下者十居七八，宜乎？虛秘疊見，多屬脾腎也。大概腹脹而至大便濕瀉，小便不通，飲食減少者，法當不出二方為要。蓋腹脹原屬不能運化之象，而運化之機則在脾肺，生化之機，則在命門故也。然亦因虛立法如此，而腹脹之症，盡多實熱、燥熱、鬱熱等情，未可以此法為定例也。</p>
<p>一男子，素不慎調攝，吐痰口燥，飲食不甘。服化痰行氣之劑，胸滿腹脹，痰涎愈盛；服消，導理氣之劑，肚腹膨脹，二便不利；服分氣利水之劑，腹大脅痛，眠臥不得；服破血消導之劑，兩足皆腫，脈浮大不及於寸口，朝用金匱加減腎氣丸，夕用補中益氣湯煎送前丸，月餘諸症漸退，飲食漸進。再用八味丸，補中湯月餘，自能轉側，又兩月而能步履，恪服大補湯，還少丹半載而康。後稍失調理，其肚復脹，服前藥即痊。</p>
<p>疏曰：此與前案蹊徑大約相同，獨脈浮大不及於寸口者，寸口為肺，肺為百脈之宗，故百脈朝宗於寸口。今浮大脈而不及寸口，其元氣之虛可知。元氣雖在肺經，而其根在於脾，並不在脾，而在於腎。故脈之不及於寸口是脾腎之元氣虛而不能及於肺也。治法不重於肺而重於脾，不重於脾而重於腎，是以先朝用金匱腎氣丸以補其腎氣，即夕用補中益氣湯。亦必煎送前丸，誠知元氣之根在於脾，更重於腎也。試觀能步履之後，仍用大補湯、還少丹而康。是皆主於脾腎，必復其元氣為要也。</p>
<p>一男子患前症，余為壯火補土漸愈，彼欲速，服攻積之劑，下血甚多，余診之曰：陰絡傷，故血內溢，非所宜也。後果歿。</p>
<p>疏曰：用藥之法，其攻補寒熱，前後當不甚相遠，如前服溫補之劑而相安者，後斷不可驟改寒涼改伐之品，蓋相安即相投也，而況用之得漸愈者乎？惟前用平常無力量之品，其病雖覺相安，然久而不見其漸愈，此病情未得，自當改用。攻補寒熱之所宜大劑重量，以期必中。肯綮是為獨出手眼，以探病情之隱匿，未有如是案，既用壯火補土之大劑，已非平常無力量之品，不特相安，而且漸愈矣。何以遂改用攻積之劑，以至不可救，此自取速功，而求速死也。</p>
<p>大方世家，湖鄉離群索居，以妻趙氏，忽嬰痰熱，治者多以寒涼，偶得少愈，三四年餘屢進屢退，於是元氣消爍。庚子夏，遍身浮腫，手足麻冷，朝夕咳嗽，煩躁引飲，小水不利，大肉盡去，勢將危殆，幸遇先生診之。脈洪大無倫，按之若無，此虛熱無火，法當壯火之源以生脾土，與金匱腎氣丸料，服之頓覺小水潰決如泉，日服前丸以大補之藥二十餘劑而愈。三四年間，體康無恙，迄甲辰仲春，悲哀動中，前症復作，體如焚燎，口肉皆爛，胸腹脹滿，食不下咽者四日。夫婦相顧，束手待弊而已。又承先生視之，投以八味丸，二服神思漸清，服金匱腎氣丸料加參、耆、歸、術，未竟夕而胸次漸舒，嗷嗷思食，不三日而病去五六矣。嗣後日服前二丸，間用逾日而起。至秋初復患痢，又服金匱腎氣丸料加參、耆、歸、朮、黃連、吳茱萸、木香、五味，痢遂止。但覺後重，又投補中加木香、黃連、吳茱萸、五味，數劑而痊。大方自分寒素，命亦蹇剝山荊，抱病沉痼，本難調攝，苟非先生授救，填壑久矣。今不肖奔走衣食於外，而可無內顧之憂矣。</p>
<p>疏曰：此案知其虛矣，然未始非虛而有火也。至於脈之再象，則顯然無火症矣。壯火生土八味丸足以任之，因遍身浮腫，而小便不利，故用金匱腎氣丸。三四年之後，偶因悲哀動中，而前症復作，則更傷脾肺之氣血矣。似宜即參、朮、歸、耆，然如焚燎之熱正盛，寧不更助其熱，而火能降下乎？故服八味以歸降其焚燎之火，然後加車前、牛膝，以治腫滿，並加參、耆、歸、術，以補其脾肺，法無滲漏，次序循然可法也。更可法者，至秋患痢，既己時移病變矣，仍用前藥，其顧本之針線為何如哉？且能照管本病，加香、連、吳茱，味子等標本兼顧，法更可佳，因後重即易補中益氣，此又見轉換之靈妙為升降要法，加香、連、原於痢也，加參、耆等顧本也，讀此可用藥之法，拈來即是也。</p>

<h2>脾胃虧損暑濕所傷等症</h2>
<p>大司徒李公患黃疸，當投滲淡之劑，公尚無嗣，猶豫不決。余曰：有是病而用是藥。以茵陳五苓散加芩、連、山梔，二劑而愈。至辛卯得子，公執予手而喜曰：醫方猶公案也。設君避譭譽殘喘，安得享餘年而遂！付託之望哉。</p>
<p>疏曰：此案又見別集，向時濕熱泄瀉，因未生子，惑於人言，淡滲之劑能瀉腎，因服參、耆之藥，後變為黃疸，小便不利，胸腹滿脹云云。此是濕熱為患，固非滲淡之藥不治。若以脾虛所致，則應補氣為先。而此案本無虛象，故服參、耆而變黃疸也。先生直以淡滲之品除之，所謂有是病即是用藥，孰謂先生好補者哉！</p>
<p>應有王治中，遍身發黃，妄言如狂，又患胸痛，手不可近，此中焦蓄血為患，用桃仁承氣湯一劑，下瘀血而愈。</p>
<p>疏曰：遍身發黃，不必屬瘀血也。因妄言如狂，胸痛手不可近，故知為蓄血也。妄言如狂，不必屬蓄血也。因遍身發黃，故知為蓄血也。蓄血不必屬中焦也，因胸痛，故知為中焦蓄血也。</p>
<p>文選姚海山，中暑頭痛，發熱氣高而喘，肢體倦怠，兩手麻木，余謂熱傷元氣，用人參益氣湯頓安，又用補中益氣湯加麥門、五味而愈。</p>
<p>疏曰：世人見有頭痛發熱，不問冬夏，悉用表散，而不知中暑者多傷元氣，元氣既傷而復表散，能不亡陽乎？即知其為暑者，亦必用清暑之藥，如香薷飲之類。不知元氣既傷，只補其元氣而暑邪自退矣。人參益氣湯為熱傷元氣之的方，補中、生脈為夏月御暑之要藥也。或曰香薷飲是夏月暑症之表藥，而此案頭痛發熱，豈非得之避暑納涼於深室大廈為陰所遏，正當用香薷飲，以表之乎？曰：然不觀其肢體倦怠，兩手麻木，非熱傷元氣，而何故不用香薷飲之表藥，而必用清暑益氣之補劑也。</p>
<p>儀部李北川，仲夏患腹痛吐瀉，兩手拗之則熱，按之則冷，診其脈浮大，重按則微細。余曰：此陰寒之症也。急服附子理中湯不應，仍服至四劑而安。</p>
<p>疏曰：凡夏月患腹痛吐瀉，所謂霍亂也。未有不以平胃散清暑為至，當然每多內寒之症，而不能辨，得此辨法，真無遁情矣。至於服藥不應，即云應矣。故仍服至四劑而愈，不然服附子理中湯而不當，即變症迭出矣。何能不應，此陰重故也。</p>
<p>進士楊葉甫，夏月食生冷果品患腹痛，用附子理中湯一鍾頓安。</p>
<p>疏曰：此案必能灼知其食生所致，然後此湯可進。</p>
<p>大守朱陽山弟，下部蓄血發狂，投抵當湯而愈。</p>
<p>疏曰：發狂症屬陽明實熱為多，何以知其屬下部蓄血也？意必其小腹硬痛，大便黑亮，或溏膩如漆者為蓄血。若黑燥如煤者為燥結，非蓄血也。又蓄血症，舌苔有邊，白中黑而極薄潤，必無乾燥焦黃者，以血為陰，無大實熱故也。又云傷寒發黃熱勢已極，與蓄血相類，但小便自利而渴者，為蓄血。小便不利，大便實而渴者，為發黃。故凡有蓄血者，必小便自利，大便黑亮，其人如狂，蓋血病而氣不病，故小便多自利也。心主血，邪熱上干心，心君不寧，故煩躁譫語而如狂也。尚有身黃唇焦，嗽水不欲咽，腹脹起有青紫筋，諸症可驗。但當分三焦上中下部份，如曾吐血衄血，而胸膈痛兼現有以上諸症者，上焦蓄血也。須用犀角地黃。渴如患傷寒，邪入陽明，或患下痢膿血，而胸中痛兼現有以上諸症者，中焦蓄血也。當用桃仁承氣湯，輕者犀角地黃湯，或加大黃。如患傷寒邪熱，自太陽經不解，傳入膀胱之裡，與血相搏，或下血痢，產後惡露不盡，結在小腹，經水阻滯，而小腹痛兼現以上諸症者，下焦蓄血也。當用抵當湯，輕者桃仁承氣湯。要知血既瘀滯，脾胃雖虛不得不先下之也。</p>
<p>一儒者，每春夏口乾發熱，勞則頭痛，服清氣化痰藥，瀉喘煩躁；用香薷飲，神思昏憒，脈大而虛。此因閉藏之際，不遠房幃為患，名曰注夏。用補中益氣去升、柴，加五味、麥冬、炮姜一劑，脈益甚，仍服前藥加肉桂五分即蘇，更用六味丸而痊。</p>
<p>疏曰：注夏一症，近來比比皆是，有因冬不藏精而然者，有因脾氣抑遏而然者，故凡脾氣抑遏之注夏，每飲食畢倦怠嗜臥，以飯後而脾氣更抑遏也。用補中合生脈，不必去升、柴，若冬不藏精者，發熱面紅，午後為甚，口乾舌燥，則當去升、柴。如此案治法，蓋冬不藏精者，其根本已損，不任升提，此肉桂之加，所以為妙也。然注夏每多脾虛而兼濕熱，濕熱多痿軟屬陽明經。故注夏多是痿軟之症，以清燥湯治之，或即補中去升、柴，換乾葛加黃柏、麥冬亦妙。</p>
<p>一儒者，體肥善飲，仲秋痰喘，用二陳、芩、連益甚，加桑皮、杏仁，盜汗氣促，加貝母、枳殼，不時發熱，余以為脾肺虛寒，用八味以補土母，補中以接中氣愈。</p>
<p>疏曰：此案不宜載暑門中，豈以體肥善飲之故，中多濕熱也。即此諸症而論，亦非必屬虛寒，但以屢服寒涼之品，而如發熱，故斷以虛寒耳。然既曰脾肺虛寒，則當先用補中，然後用八味以補其母，今因痰喘氣促，不宜先用升提，故先用八味以納氣生根，然後以補中接其中氣，此治法有序。</p>
<p>一男子夏月入房，食水果腹痛。用附子理中而愈，有同患此者不信，別用二陳、芩、連之類而歿。</p>
<p>疏曰：此案必能灼知其食冷，中氣虛寒作痛，然後此湯可用也。大凡冒暑伏熱，引飲過多及恣食瓜果生冷，致脾胃更寒，而腹痛嘔吐，濕瀉水穀不分，脈來沉緊者，為內傷寒，當服大順散。若陽氣虛者，膏粱與水果同進，並恣欲房幃，致周身陽氣不得伸越，而脈沉細或弦遲，面垢如塵，無汗惡寒，四肢厥冷，拘急或霍亂嘔吐者，當用冷香飲子。此等症雖涉暑月，非暑傷人，皆因暑而致虛寒之症，故宜溫散不宜寒涼，此案正是。此法但前二方治寒而不虛者也。若寒而且虛，虛在脾胃者，當以此理中湯治之，兼腎經虛寒，故加附子。</p>
<p>一男子，盛暑發熱，胸背作痛，飲湯自汗，服發表之藥，昏憒譫語，大便不實，吐痰甚多。用十全大補，一劑頓退，又用補中加炮姜二劑，全愈。</p>
<p>疏曰：此案之用發表，為誤已可知矣。蓋盛暑不宜發表，飲湯自汗，亦不宜發表，今誤表而所變之症，皆脾肺大虛之候，雖無大汗而有亡陽之勢，故先用十全大補湯一劑頓退。此本非素脫，為表藥所傷，故一劑尚可追復其陽。即易補中者，以暑熱所傷，畢竟在脾肺元氣，而況變症又皆在脾肺元氣乎。</p>

<h2>脾肺腎虧損虛勞怯弱等症</h2>
<p>庶吉士黃柏磷，發熱吐痰，口乾體倦，自服補中不應，余謂此金水俱虛之症，兼服地黃丸而愈。後背患癤，煩痛寒熱，彼因前月曾偕往視郭主政背疽，郭不經意，余決其殞於金旺之際，果符余言。已而郭氏妻孥感其毒皆患惡瘡，柏麟所患與郭同，心甚恐。余曰：此小瘡也，憎寒發熱皆陰虛，舊症果是瘡毒亦當補氣血。余在第就以地黃丸料煎與服之，即睡良久，各症頓退。自後常有頭面耳目口舌作痛，或吐痰眩暈之類，服前藥即愈。後任都憲督臨，法道出於蘇，必乘顧焉。</p>
<p>疏曰：此案之服補中，宜矣。然發熱吐痰口乾，皆水虛之症，應當補腎。徒然升提，何益哉？至瘡癤外症，亦必補腎而安，甚矣。凡病不可不顧本也。若頭面口舌耳目不時作痛及吐痰眩暈等症，又顯然水虛火炎之無疑也。</p>
<p>少司空何瀟川，足熱口乾，吐痰頭暈，服四物、黃連、黃柏，飲食即減，熱益甚。用十全大補加麥冬、五味、山藥、山茱而痊。</p>
<p>疏曰：足熱定屬陰虛有火，定當壯水而火自平，奈何反進寒涼致傷脾氣，益生痰熱，信乎？脾虛則生痰，氣虛則發熱，其說為不誣也。十全大補既溫補其腎，兼溫補其脾。加麥冬、五味，脾兼乎肺也，加山茱、山藥，腎兼乎肝也，四物、知、柏，丹溪法也。然《丹溪心法》載一男子兩足常熱，冬月不加綿，自誇壯熱。丹溪曰：乃陰虛也，急宜養陰。不從，年四十患痿而死。要知足處三陰而反得熱，大非所宜，且三陰之脈皆起於足，故足熱為陰虛之候，非美事也。此時丹溪豈別無養陰之方而必用四物、知、柏乎？蓋丹溪立四物，原為養血之劑，用知柏、原為清腎之品，非為養陰而設也。後人誤以血字作陰字，腎字作血字解，是不善用丹溪者也。于丹溪何與哉？</p>
<p>一儒者，或兩足發熱，或足根作痛，用六味丸及四物加麥冬、五味、玄參治之而愈。後因勞役，發熱惡寒，作渴煩躁，用當歸補血湯而安。</p>
<p>疏曰：此案現症只是腎虛耳，用六味丸足矣。及四物加味者，豈知其肝肺亦虛而然乎！至於後因勞役而致發熱惡寒，作渴煩躁諸症，人以為少陽陽明外邪者有之，以為肺胃實火者有之，以為腎肝陰虛火旺者有之，而不意用當歸補血湯而安者，何也？觀此湯所治，則曰治氣血損傷，肌肉惡寒，面目出色，煩渴引飲，脈洪大而虛，重按似無，此脈虛血虛也。此病多有得於飢飽勞役者云云，是損傷肺胃之氣血矣。而此案所以必屬肺胃氣血損傷者，以明知其因勞役所致，而必更見脈之洪大而虛，重按似無者也。然此症此脈似用補中益氣之所宜，而必用當歸補血湯耶？曰：以其作渴煩躁也。作渴煩躁，既不可升提，而況其病之本，又從兩足發熱，腳作痛而來，是腎陰素虧，更不可升提也。</p>
<p>儒者劉允功，形體魁偉，冬日飲水，自喜壯實。余曰：此陰虛也，不信。一日口舌生瘡，或用寒涼之劑，肢體倦怠，發熱惡寒，余用六味、補中而愈。</p>
<p>疏曰：凡陰虛之人，不甚倦怠，火盛為之也。此時元氣不虛即補其陰足矣。若誤服寒涼，以致肢體倦怠，則元氣又虛矣。故既投六味又服補中，雖有子母相生之義，然以肢體倦怠而用之也。不然何不合生脈散乎？</p>
<p>一男子腿內作痛，服滲濕化痰藥，痛連臀肉，面赤吐痰，足跟發熱。余曰：乃腎虛陰火上炎，當滋化源。不從，服黃柏、知母而歿。</p>
<p>疏曰：凡人之下體，悉屬三陰。凡有痛處，雖有濕熱風寒之患，然未有不因三陰所致也。兼而治之，猶或可愈，若不顧本，未有不僨事者也。</p>
<p>余甥居宏，年十四而娶，至二十形體肥胖，發熱作渴，面赤作脹。或外為砭血，內用降火，肢體倦怠，痰涎愈多，脈洪數鼓指，用六味丸及大補湯加麥冬、五味而愈。</p>
<p>疏曰：此案年十四而娶，即所云年少精未滿而御也。精不足者，火必有餘，火有餘則外象盛滿壯麗，而內實不足，更以寒涼日進，脈象亦假。此洪數鼓指者，所謂寒涼鼓激是也。既以補陰為主，即及大補湯者，亦因誤服寒涼致傷元氣故也。然恐肉桂之熱有傷肺陰，故又加麥冬、五味以保之也。</p>
<p>余甥凌雲漢，年十六。庚子夏，作渴發熱，吐痰唇燥，遍身生疥，兩腿尤多，色黯作癢，日晡愈熾。仲夏腿患瘡，切脈洪數。余曰：疥，腎疳也；瘡，骨疽也；皆腎經虛症。針之膿出，其氣氤氳。余謂火旺之際，必患瘵症，遂用六味地黃丸、十全大補湯，不二旬諸症愈，而瘵症具，仍用前藥而愈。抵冬娶室，至春症復發，父母憂之，俾其外寢，幸其年少謹疾，亦服地黃丸數斤，前藥三百餘劑而愈。</p>
<p>疏曰：此案作渴發熱，吐痰唇燥，固已屬陰虛火旺矣。而遍身生疥，腿上生瘡，類多濕熱毒氣，例用熏浴塗抹之方，而不知有腎疳、骨疽之說也。唯其屬於陰虛，故兩腿尤多，日晡愈熾，而況又有切脈洪數之明驗乎？然用藥以六味是矣，而兼用十全大補，內有肉桂能不助火為患乎？要知腎水不足，虛火遊行於外，故作此瘡疥，借肉桂以收藏其火，不特今日之瘡疥可愈，而他日之瘵症亦無非腎水不足，虛火遊行之症，故亦以前藥而愈。</p>
<p>其弟雲霄，年十五。壬寅夏，見其面赤唇燥，形體消瘦，余曰：子病將進矣。癸卯冬，復見之，曰：病更深矣。至甲辰夏，胃經部分有青色，此木乘土也。始求治，先以六君加柴胡、白芍、山梔、蕪荑、炒黑黃連數劑，及四味肥兒丸，六味地黃丸及參、芩、白朮、歸、芍、麥冬、五味、炙草、山梔三十餘劑，肝火漸退，更加龍膽草、柴胡二十餘劑，乃去芍加肉桂三十餘劑，及加減八味丸，元氣漸復而愈。</p>
<p>疏曰：此案先見面赤唇燥，形體消瘦，腎虛也，故有六味丸之用。繼見胃經部分有青色，脾氣虛也，故有六君子湯之用，次及六味，脾急於腎也。其加柴胡、白芍、山梔、黃連、膽草等藥，皆為肝火而設，亦法之當也。獨用肥兒丸及蕪荑者，小兒疳積方也。何以用乎？不知凡十六歲以前有勞弱症者，悉作疳積，治之，此實千古秘法，而立齋先生已先得之矣。至前用寒涼，後用溫熱，此又識見所不能逮者也。</p>
<p>房庠王以道，元氣素怯，每應歲考用苦功，積勞致疾，至冬彌漸大熱，淚出遂凝，目赤面黯，揚手袒胸，氣息沉沉幾絕，脈洪大鼓指，按之如無，舌燥捫之如刺，此內真寒外假熱也。即先服十全大補湯。余曰：既飲此湯，其脈當斂為善。少頃熟睡，良久醒而惡寒增衣，脈頓斂，微細如絲，此真寒現也。余以人參一兩，熟附三錢，水煎頓服而安。夜間脈復脫，余以人參二兩，熟附五錢，脈仍復。後以大劑參、附、歸、朮、炙草等藥而安。</p>
<p>疏曰：此案似腎寒水泛之症，八味、七味為宜，然而云元氣素弱，又積勞致疾，又氣息沉沉幾絕，是元氣更急於腎陰矣。故以十全大補進之，至虛火一息，元氣復隨火而欲脫，此時非大進參、附，何以追復。即十全大補之氣血兩補無益矣！此從陰從陽，從氣從血，先後緩急之大關健也。或曰既知元氣欲脫，何不即進大劑參、耆以挽之，而必先進十全兩補之品，何也？曰：此案雖知其元氣欲脫，然在初時，陰氣亦欲絕矣。只有孤陽在外，若不獨補其陰，則陽無所附而孤陽更亢，欲復此孤陽，以陽根何可得耶。其後純現陽微症，則純補其陽而已，若雜用陰藥，則凝滯而不能驟充其陽氣，故不用也。觀夫愈後調補，亦只用參、附、朮、草補氣之品為主，即帶有血藥，不過當歸之辛潤者而已，不用地黃之沉滯，其意可見。</p>

<h2>脾肺腎虧損遺精白濁吐血便血等症</h2>
<p>一男子，年逾二十，斫喪太早，夢遺精滑，睡中盜汗，唾痰見血，足熱痿軟，服黃柏、知母之類，余曰：此陽虛而陰弱也，須滋其化源。不信，恪服之，前症益甚，頭漸大，囟門漸開，視物恍惚，吐痰叫喊，余以如法調理，諸症漸退，頭囟總漸斂而安。</p>
<p>按：仲景云小兒解顱或久不合者，因腎氣有虧，腦髓不足之故。立齋治一小兒年十四解顱，自覺頭大，視物昏花，畏日羞明，用六味丸加鹿茸及補中加山藥、萸肉，半載而愈。二載而囟合。既婚之後復作，足心如炙，日服前藥二劑，三載而愈。後入房兩腿痿軟，又服前丸而愈，此案云如法調理，當亦猶是方法也。</p>
<p>少宰汪涵齋，頭暈白濁，余用補中益氣加苓、半而愈。復患腰痛，用山茱、山藥、五味、萆薢、遠志頓愈。又因勞心，盜汗白濁，以歸脾湯加五味而愈。後不時眩暈，用八味丸全愈。</p>
<p>疏曰：白濁一症，其因甚多，若胃虛濕痰下陷者，補中加苓、半是所宜也。但人見有頭痛，必不敢用升柴，不知此案之白濁，所以敢用升、柴者，因頭暈故耳。蓋胃經清氣在下，不能上升充溢於頭目，故為之暈也。補中升提，清氣上行，於是頭暈自愈，白濁自止矣。至於愈而復患腰痛，似屬腎虛而宜用六味等劑，而所用乃澀精分清之品，豈病本白濁，故雖腰痛，而治不離本耶？蓋此案原屬胃虛，濕痰下陷，今甫得提起其清氣，而且濕痰餘氣未淨，若即用地黃等降滯之藥，寧不復助濕痰而清氣復陷乎？故以山藥等數味，原能補腎而不降滯者，兼以分清治之。至於又因勞心而患盜汗白濁，則以勞心為主，故用歸脾後不時眩暈，而無他症，自當從肝腎本病主治，故用八味丸。若以前症頭暈相同，而不用補中，何也？以無胃虛下陷之見症也。</p>
<p>司廳陳石鏡，久患白濁，發熱體倦，用補中加炮姜四劑濁止，再六味兼用諸症皆愈。</p>
<p>疏曰：此案補中是矣。何以加炮姜？經曰：甘溫除大熱。補中，甘而未溫，不足以除大熱也。然發熱而體倦者，方可用此法，蓋以其氣虛也，不然熱症甚多，豈必用甘溫乎？立齋有補中加炮姜及加桂、加附之法。加炮姜者，氣虛下陷而胃陽虛寒不能使氣充斥者也；加桂、附者，氣虛下陷，腎陽虛寒，不能使氣充斥者也。或問此案與前汪涵齋案，同患白濁，同用補中，而何以前加苓、半，此加炮姜？何以前有腰痛而不用六味，此無腰痛而即用六味？其意可揣乎？曰：前之加苓、半者，必以其有濕痰也；此之加炮姜者，必以其有發熱也。前何知其有濕痰？以其頭暈也。丹溪云：無痰不作暈是也。前之不用六味丸者，必以其有下陷之氣也；此之用六味者，必以其有腎水之虛也。此何以知其腎虛以其發熱也？丹溪云：陰虛則發熱是也。</p>
<p>光祿柴某，因勞患赤白濁，用濟生歸脾、十全大補二湯，間服愈。</p>
<p>疏曰：歸脾、十全非治赤白濁之劑，而用之者，因勞而患耳。勞則傷心脾，亦復傷脾腎，其人之勞心而兼勞力者也。故以二方間服，誰謂赤白濁為小恙，例用分清滲利之品哉。</p>
<p>司廳張某，陰囊腫痛，時發寒熱，小腹作痛，莖出白津，用小柴胡加山梔、膽草、茱萸、芎、歸而愈。</p>
<p>疏曰：陰囊腫痛，肝膽濕熱下流也。寒熱是肝膽現症，小腹是肝膽部分，玉莖是肝膽所主，小柴胡是入膽經，加山梔、膽草，直清肝膽之火，加茱萸、芎、歸入肝經，但無滲利濕熱之劑，然白津自出，滲利所忌，只清其火而濕自去矣。夫白津自出，淺者必以為虛而用補澀之劑，不知本在肝膽濕熱，清散之而白津自止，故治病必求本。</p>
<p>朱工部，勞則遺精，齒牙即痛，用補中加苓、半、芍藥，並六味丸漸愈，更以十全大補加麥冬、五味而痊。</p>
<p>疏曰：齒牙痛屬胃火上炎者多，即遺精亦屬脾濕下流者多，合而觀之，宜清降脾胃濕火，然勞則遺精者，悉屬脾胃氣虛矣，且精與齒牙又俱屬於腎，故並用六味丸。而勞則多氣血虛，故又終之以十全大補也。我意此症，其肺胃間必有虛火，故補中加白芍，十全大補加麥冬、五味也。夫察症須知一貫之法，如此症勞則遺精，其遺精必屬於虛，遺精而齒牙即痛，痛亦必屬於虛，更何有胃火上炎，脾濕下流之疑耶？</p>
<p>一男子白濁夢遺，口燥作渴，大便閉澀，午後熱甚。用補中加芍藥、玄參，並加減八味而愈。</p>
<p>疏曰：主病口乾作渴，大便閉澀，俱以為實火，即不然。亦以為燥火就使。午後屬陰虛發熱，然亦未有不以為陰虛火動，血虛燥結之症也。雖見有白濁遺精，獨無火燥所致者乎？而必用八味，何也？余細詳先生序法，可知其意者。蓋此案因白濁久而後至於夢遺，夢遺久而後至於口乾作渴等症，非先有口乾作渴而後兼有白濁夢遺。故先生先序白濁，次序夢遺，又次序口乾作渴等症，若然則白濁者，脾胃之氣已虛，夢遺者，腎臟之陰亦虛矣。脾腎既虛，則口乾作渴等症非實火也，明矣。是不得不用補中以補脾胃，八味以補腎臟也。然虛中原有火燥，故補中加白芍、元參以清火，八味去附加五味以潤燥也甚矣。先生筆法之妙也。</p>
<p>一男子莖中痛，出白津，小便閉，時作癢。用小柴胡加山梔、澤瀉、炒連、木通、膽草、茯苓，二劑頓愈，又兼六味丸而痊。</p>
<p>疏曰：此案少陽經濕火所致，故用小柴胡加清火滲濕之品治之。然察其所以，則火甚於濕，何也？蓋芩、桅、連、膽草，清少陽之藥，不遺餘味，而滲濕之藥，不過澤瀉、木通、茯苓，輕淺者而已，然數味亦只是火從小便出耳。初不論有濕無濕也，若果甚有濕，六味又不可兼用，今兼用之者，蓋因少陽火甚，則厥陰之陰必虛，故又兼六味以補之，況小便實為肝經所主者乎。夫小便有病，大概皆以膀胱為主，即白津出者，亦必以通利為先，若莖中痛，小便秘而論，更屬膀胱無疑。不知膀胱屬一定之腑，而所以致此腑之病不一，蓋相火多寄旺於肝經，少陽實主之莖中之病，相火為多白津，非相火所繫乎？痛癢非肝經所為乎？故曰肝主小便也。然相火當從腎經主治，而知、柏在所宜用，然而知、柏治腎經相火，而山梔、膽草實治肝經相火者也。而究不離乎腎，故又兼用六味丸也。</p>
<p>一男子發熱，便血精滑；一男子便血發熱；一男子發熱遺精，或小便不禁。俱屬腎經虧損，用地黃丸、益氣湯，以滋化源皆得愈。</p>
<p>疏曰：此三案自屬腎經無疑，其用地黃丸當矣。何必兼用益氣耶？蓋便血遺精及小便不禁諸症，其為元氣下陷者居多，雖曰陰虛火旺，總不宜專用補陰降火之劑，何也？補陰降火，則火迫於下，而遺滑等症更甚矣。故當兼用升補之品。此地黃丸、益氣湯所以兼用而並得愈也。雖然此亦虛症論耳，即此三案盡多少陽、陽明實火濕熱所致，又當以色脈及兼症細詳之。</p>
<p>一男子鰥居數年，素勤苦，勞則吐血發熱煩躁，服犀角地黃湯，氣高而喘，前症益甚，更遺精白濁，體倦食少，脈洪大，舉按有力，服十全大補加麥冬、五味、山萸、山藥而愈。</p>
<p>疏曰：此案脈洪大，舉按有力，宜作實火治。況鰥居數年者乎？不知其人素勤苦而病，又勞則發之，又服寒涼而增病，且體倦食少，則此脈自當作不足假象論，而非實火也，明矣。夫吐血以下諸症血虛也，氣高已下諸症氣虛也，實火也，明矣。故十全加麥冬、五味者，為氣高而喘也；加茱萸、山藥者，為遺精白濁也。</p>
<p>一儒者，素勤苦，吐血發痙，不知人事。余以為脾胃虛損，用十全及加減八味而痙愈，再用歸脾而血止。</p>
<p>疏曰：痙症多發於亡陽或吐血之症，或病後氣血兩虛者，要不外於肝木之象也。此案在勤苦吐血所致，則宜補血為先，而用十全、八味溫補脾腎之方者，必有大虛大寒脈症現耳。且既云脾胃虧損而治兼及腎者，蓋吐血屬脾胃土虛，寒不能統攝，而脾胃土之虛寒又屬命門火衰，不能生土故也。雖現肝木之象，土已傷損無暇，治肝木矣，至痙愈後而仍用歸脾，此是勤苦吐血之方也。論血症未止，而用桂、附，非灼見有虛寒者不可也。</p>
<p>一儒者，因飲食勞役及惱怒，眉發脫落。余謂勞傷精血，陰火上炎所致。用補中加麥冬、五味，及六味丸加五味，眉發頓生如故。</p>
<p>疏曰：眉發脫落，世皆不問所因，悉云風症而以表散風藥治之。稍知醫者，亦不過養血潤燥而已，不知乃精血之傷，陰火上升而然也。然陰火上升，而用升提之品，獨不慮陰火更致上升乎？蓋精血既傷，無以制養陰火，勢必上升，上升則乘脾克肺，而脾肺之氣必傷，傷則必陷，此時若降陰火，則脾肺之氣愈傷愈陷。往往有痰嗽便瀉之症生焉，然只升其氣，又恐助其陰火上炎之勢，而脾肺之症更劇，兩難之際，實云掣肘，先生乃用一升一降之法，使脾肺之氣得充，陰火之升得降，並行而兩不悖者也。至於加減之法，則在臨症者隨機應變耳。凡今勞弱之症，無非精血所傷，陰火上升之局，故詳論之，不特眉發脫落也。此案因飲食勞役，脾肺之氣已虛，及惱怒肝腎之陰亦虛矣，故用藥如是。然余謂精血屬陰，既勞傷其精血，只宜補陰而已，何以復用補中以補脾肺之元氣耶？不知有形藉無形而生，故精血必藉元氣而生，是以用六味補陰而先用補中助氣也。先生當用二方為滋化源也。</p>
<p>一男子年二十，巔發脫盡，用六味丸不數日，發生寸許，兩月復舊。吳江史榮湖云，有男女偶合，眉發脫落，無藥調治，至數月復生。</p>
<p>疏曰：鬚髮實精血之所榮，故年老之人精血必衰，鬚髮必白，而巔頂多脫。若病後發落是精血衰耗之故，可見腎氣為鬚髮之本，鬚髮為精血之華舍，是而求其愚甚矣。觀此二案，一用六味而鬚髮生，非補腎之精血而效乎？一偶合而鬚髮脫，非腎經之精血虧損而然乎？當信哉。</p>
<p>一童子年十四，發熱吐血。余謂宜補中益氣以滋化源。不從，用寒涼降火愈甚，始謂余曰：童子未室，何腎虛之有，參、耆補氣胡為用之？余述丹溪先生云，腎主閉藏，肝主疏泄，二臟俱有相火而其繫上屬於心，心為物所感，則易動，動則相火翕然而隨，雖不交會，精已暗耗矣。又精血篇云，男子精未滿而御女以通精，則五臟有不滿之處，異曰有難狀之疾。遂用補中及地黃丸而瘥。</p>
<p>疏曰：童子發熱吐血，或多有之，先生何即知其當用補中耶？至於寒涼降火亦不甚相遠，而服之益甚者，必有肝腎脾肺之虛症虛脈現乎。然近世童子虛症頗多，或先天不足，或斫喪太早，不特吐血發熱為然，即凡諸症，每每由此。</p>
<p>一男子咳嗽吐血，熱渴痰盛，盜汗遺精，用地黃丸料加麥冬、五味治之而愈。後因怒，忽吐紫血塊，先用花蕊石散，又用獨參湯漸愈。後勞則咳嗽吐血三口，脾肺腎三脈皆洪數，用補中、六味丸而愈。</p>
<p>立齋先生，凡遇此案之症，未嘗不以補中、六味或兼生脈以兼脾肺腎之法治之。而此案何以只用六味合生脈以補肺腎而獨遺脾也？是必陰分獨虛，而且燥熱者。然而何以知之？蓋無肢體勞倦，飲食少思等症故也。至勞怒後忽吐紫血塊，則脾氣已虛矣。然瘀血不可不消，故先用花蕊石散消之，而後繼以獨參湯補元氣。此因勞怒則元氣既傷，消瘀則元氣復傷，故進獨參湯直補元氣，若兼他藥，功不專一而且緩矣，及後勞則咳嗽吐血三口，而見脾肺腎三脈皆洪數，是肺腎既已素虧，而脾亦因勞怒後同虛矣。故即以補中、六味常法進之也。然洪數之脈，未嘗無火，獨見於腎，猶曰陰虛火旺也。尚可用六味滋陰而火自退，若兼見於脾肺，未有不曰氣分有火，若用參、耆，則肺熱還傷肺矣。不知從勞怒後吐血，脈見洪數，正是脾肺氣虛極處，土被火銷，金被火爍，非急補土金，元氣何以遲銷爍之火乎？</p>
<p>辛丑夏余，在嘉興屠內翰第遏星士張宋谷談命時，出中庭嘔血一二口，云久有此症，有勞即作，余意此勞傷肺氣，其血必散，視之果然，投補中益氣加麥冬、五味、山藥、熟地、茯神、遠志得愈。翌夙，請見曰：每服四物、黃連、山梔之類，血益多而倦益甚，余得公一匕吐血頓止，神思如故，何也？余曰：脾統血，肺主氣，此勞傷脾肺，致血妄行，故用前藥健脾肺之氣，而噓血歸源耳。後率其子以師余，余曰：管見已行於世，子宜覽之。</p>
<p>疏曰：此案云勞傷肺氣，補中合生脈足矣。而更加歸脾、六味之半，要知勞者未有不兼傷心脾與腎也。夫勞心者，傷心脾當用歸脾湯主之；勞力者，傷脾腎，當用十全、六味主之；勞煩者，傷脾肺，當用補中益氣主之。然未嘗不可合而治之。但要分心脾、脾腎、脾肺之傷，孰輕孰重，而主之也。大概多言者，傷肺；多思者，傷脾；此正是星士之所勞傷也。故以補中為主，然多言多思，未有不傷心者，故復加茯神、遠志，心與腎交，心傷則及腎，故並加山藥、熟地。</p>

<h2>肝腎虧損血燥結核等症</h2>
<p>儒者楊澤之，性躁嗜色，缺盆結一核，此肝火血燥筋攣，法當滋腎水生肝血。不信，乃內服降火化痰，外敷南星、商陸，轉大如碗。余用補中益氣，及六味地黃，間以蘆薈丸年餘，元氣復而腫消。</p>
<p>疏曰：惟性躁則肝火旺矣，嗜色則腎水虛矣。水虛火旺則肝經所主之筋能不躁縮攣結乎？六味滋腎水也，蘆薈丸清肝火也，初不須補中益氣而所以先用之者，以曾服降火化痰之品，有傷中氣故耳。此症非歲月之功，不能愈。治不得法，必成勞瘵。夫痰核與筋攣大相徑庭，痰核則不痛不硬，治以消痰結，軟堅可也。如筋攣則必硬，而且痛。唯當以滋陰調氣為主，若以毒藥施於筋攣，燥藥攻其痰核，未有不為大患，不但成勞瘵，必號痛潰爛而斃。</p>
<p>一男子素善怒，左項微腫，漸大如升，用清痰理氣而大熱作渴，小便頻濁，余謂腎水虧損，六味地黃、補中益氣而愈。亦有胸脅等處大如升斗，或破而如菌如榴。不間大小俱治以前法。</p>
<p>疏曰：善怒肝病也。左項肝部也，肝之失職，腎虛不能養也。然腫大如升，此何物乎？誰不曰痰也、氣也、血也，其如清痰理氣而反增大熱大渴，小便頻濁者，香燥復傷其脾肺也。故既用六味壯水以生木，復用補中補土以生金也。或曰乙癸同源，故壯水以生木，若補土生金於木何益？曰：肝木之陰虛則肝木之氣強，而況素怒者乎？其肝氣未有不強，強則勢必剋土，土無所生，而木寡於畏勢，終不得平，徒補水以生之無益焉。故六味後繼以補中，生之制之培之防之，而肝氣始得其平矣。雖不服清痰理氣以傷脾肺者，亦當如此培法。故又云亦有胸脅等處云云，但治以前法也。夫胸脅亦肝之部分，破之而如菌如榴，足以見其亦屬血燥火結，如前楊澤之症，所論初非有形之氣血痰所結也，但前案雖先補中，而六味又兼以蘆薈，此案先六味而後補中，不用蘆薈。其緩急輕重之間，是在用者權之耳。</p>
<p>一男子頸間結核，大潰年餘。一男子眉間一核，初如豆粒二年漸大如桃，悉用清肝火、養肝血、益元氣而愈。</p>
<p>疏曰：此案亦云清肝火，養肝血，益元氣。即前所用蘆薈、六味、補中也。余謂此症多肝經鬱火，須加味逍遙，重者用茱、連，更多肝脾結症，須加味歸脾而兼間用之以前方，此亦先生法也。結核一症，須辨血燥筋攣與結痰成塊二種，血燥筋攣名失營，結痰成塊名瘰癧，一滋補其陰，一疏利其結，治法迥乎不同，可不審諸。</p>
<p>舉人江節夫，頸臂脅肋各結一核，恪服祛痰降火軟堅之劑益甚。余曰此肝膽血少而火燥也。彼執前藥至六月，核皆潰，脈浮大而澀，余斷以秋金將旺，肝木被克必不起，果然。</p>
<p>疏曰：此案脈浮大而澀是肺旺脈也。金旺則剋木，而涉時令以助其旺木何能支？故斷以不起，今凡治肝病者，皆以瀉伐為事。蓋以肝受病，每多火旺氣盛故也。不知火氣有餘，正陰血之不足，故用六味滋水以養之。補中補金以平之也。試觀金旺而不起，非肝虛受伐之故乎哉？肝既虛矣，何更伐之？經曰肝病死於庚辛，或曰前案云，或破而如菌如榴，不問大小，俱治前法，則此案皆潰時，或亦可用六味、補中治焉。何以斷不起而棄之？曰：凡肝病，見肝脈者或可治，以肝自病故也。若見肺脈者不治，以木受金克也。受克者多死，受克而非其克之時，尚或可挽，受克而值其克之令，必難挽矣。</p>
<p>一婦人經不調，肝膽經部分結核如榛豆者不勝數，肉色不變，大按方痛，或投化痰消毒之藥，增痛作渴，發熱晡甚。余謂屬肝火症，藥以養血解鬱清肝，百餘劑而諸症退。惟項核未消，更以當歸蘆薈丸數服及四物加柴胡、山梔而愈。</p>
<p>疏曰：婦人經事不調，大概屬肝膽火鬱者為多，而況結核見於肝膽經部分，其為肝膽火鬱也無疑。至於發熱作渴，日晡益甚，雖誤投化痰消毒所致，未始非肝膽火鬱之劇症。夫肝為血海，火鬱則血枯矣。血枯則發熱作渴，至晡陰分而益甚，自然之勢也。治之以養血解鬱清肝之藥，唯加味逍遙為能盡之，而四物加柴、梔，亦逍遙意也。或曰何不用六味、補中？曰：此膽肝鬱火為主，故不宜六味之窒塞，並不宜補中之益氣也。</p>
<p>一婦人耳前後結核，耳後微腫，寒熱口苦，用小柴胡湯加山梔、桔梗、川芎，四劑而愈。後恚怒，耳後頭角俱痛，發熱憎寒，以小柴胡湯加羌活、川芎、桔梗而愈。</p>
<p>疏曰：此案亦當用逍遙治之，何以用小柴胡氣分之藥乎？是必少陽經火邪獨旺，而血未虛也。且後因恚怒，其症復發在少陽經部分，是怒之不傷於厥陰肝經而傷於少陽膽經也。故仍用小柴胡所加之味，與前相同，更加羌活者，以發熱憎寒，有太陽外感之邪兼之耳。蓋作寒作熱是少陽經症，發熱憎寒是太陽經症也。然余謂小柴胡湯一方，不特少陽經主方，即厥陰亦未嘗不入，故立齋當以之治怒動肝火，但入厥陰氣分，不入厥陰血分耳。故余謂耳前後又兩頭角雖是少陽經部分，未始非厥陰經部分也。</p>

<h2>肝脾腎虧損下部瘡腫等症</h2>
<p>通府黃廷用，飲食起居失宜，兩足發熱，口乾吐痰，自服二陳、四物益甚，兩尺數而無力，余曰此腎虛之症也。彼執服前藥，足跟熱癢，以為瘡毒，又服導濕之劑，赤腫大熱，外用敷藥，破而出水，久而不愈。又用追毒丹，瘡突如桃，始信余言，滋其化源，半年得瘥。</p>
<p>疏曰：此案以飲食起居失宜，足知其虛矣。所患兩足發熱，非腎水虧乎？口乾吐痰，非脾氣虛乎？即口乾吐痰非脾虛，兩足發熱屬腎虛也無疑。如之何用二陳、四物哉？四物不補腎，二陳復傷脾，寧不益甚乎？至於脈見兩尺數而無力，益見腎虛明驗。蓋不特水虛且火虛矣。奈何仍服前藥致腎益虧，而現足跟熱癢症耶。即足跟是腎經所主，熱癢是虛火之徵，不可謂非瘡毒即瘡毒也。而瘡毒豈無虛症乎？乃必用外科諸法，以致變幻究竟，導濕之後，熱癢不退而反赤腫大熱，敷藥之後，膿血全無，而反所出是水。及追毒之後仍無膿血而反瘡突如桃。是皆腎虛之故。非急滋化源不能簡也，為外科者，可不知焉耶？</p>
<p>儒者章立之，左股作痛，用清熱滲濕之藥，色赤腫脹，痛連腰脅，腿足無力，余以為足三陰症。用補中、六味兩月餘，元氣漸復，諸症漸退，喜其慎疾，年許而痊。</p>
<p>疏曰：凡痛在一處者，大概皆以經絡阻滯治之，或氣或血或痰飲或閃挫或濕熱或腫毒，未有不用消克通利之品，即曰股屬三陰部分，若虛則兩股皆痛，亦何限左右乎？今曰左股作痛，宜乎清熱滲濕之藥矣。及至色赤腫脹，未有不疑其濕熱之甚，腫毒之成也。即痛連腰脅，腿足無力，亦癰疽劇症之所恆有，雖或知其三陰虛也，而且消之散之解之攻之，俟其赤腫退而後補之，此常法也，孰敢即用補中、六味乎？甚矣，即用補中、六味而至兩月餘，然後元氣漸復，諸症漸退，且曰喜其慎疾，年許而痊。吾不意此案之虛而至此乎？然非醫者明眼，不能治，非病者篤信，不能愈也。夫以一路之法，而至兩月餘而後諸症漸退，醫者不更方，病者不易醫，其孰能焉哉？</p>
<p>府庠鍾之英，兩腿生瘡，色黯如錢，似癬者三四，癢痛相循，膿水淋漓，晡熱內熱，口乾面黧，此腎虛之症，用加味六味丸，數日而愈。此等症候，用祛風敗毒之劑，以致誤人多矣。</p>
<p>疏曰：兩腿雖陰分，而生瘡色黯，不過濕熱之氣下流而已，而況膿水淋漓者乎？不知果系濕熱，當不止於如錢似癬者三四而已，所謂瘡為腎疳，於面黧更足徵矣。雖然面黧不足徵之，凡屬腎虛者，其瘡必經年累月，塗抹而不除者，亦非定生於兩腿而已。</p>
<p>一男子素遺精，足跟作痛，口乾渴，大便燥，午後熱甚，用補中益氣加芍藥、玄參及六味丸而愈。</p>
<p>疏曰：此案似只宜補陰不宜補氣，蓋以大便燥結故也。不知大便之燥，雖屬腎水不足，亦由脾肺氣虛不能運行也。然未免有火，復加芍藥、玄參於補中益氣內以清之，及六味滋其腎水，則大便自潤，而諸症自愈。況遺精一症，原不宜獨用補陰之法，若專補陰則火降而精益下遺，固當先用升補元氣之劑。蓋遺滑諸症自屬元氣下陷者多，然清火必用芍藥、玄參者，以遺精必有相火，而相火在於肝腎，故加芍藥以清肝經相火，玄參以清腎經相火也。此案當與遺精白濁門中一男子遺精白濁夢遺，口乾作渴等症一案同參。</p>
