<header data-type="book">
<h1>類編傷寒活人書括指掌圖論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>李知先</data>著，<data>熊宗立</data>繪圖</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1508">公元1508年</data></dd></div>
<div><dt>底本</dt><dd>德新書堂重刊本（<a href="https://www.wdl.org/zh/item/4461/">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>
