<header data-type="book">
<h1>動功按摩秘訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>汪啟聖</data>，<data>汪啟賢</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1696">公元1696年</data></dd></div>
</dl>
</header>

<h1>癱瘓諸穴道</h1>
<p>設有中風不省人事者，於患人印堂穴並人中穴，用指先掐人中穴五、七十度，方用兩掌擦極熱，摩印堂穴五、七十度，按摩畢，方令患人如前行靜功調攝。</p>
<p>人中乃任脈之總脈也，其穴在鼻柱之下三分，用水含口內，微凸上是人中穴。印堂在眉心正中。二穴兼掐治小兒驚風。</p>
<p>設有中風口眼斜者，可於承漿穴掐五、七十度及摩五、七十度，兼用靜功。承漿穴乃任脈之在口唇下五分，正中間是也。</p>
<p>設中風口歪者，亦可於地倉穴掐五、七十度，搓五、七十度，兼行靜功。地倉穴乃足陽明胃經之穴，在口角尖去五分是也。</p>
<p>設有癲癇、怔忡、心性癡呆及痰迷心竅，可於神門穴掐五、七十度，搓五、七十度，兼行靜功調攝。神門穴乃手少陰心經，其穴在手掌腕後高骨間，轉手骨開縫中是穴也。</p>
<p>或有中風不省，於頰車穴、合谷穴，或有半身不遂，於肩髃、曲池、環跳、風市、居窌、丘墟八穴皆照前治之，諸穴後此不細載。</p>

<h1>按摩勞傷諸穴</h1>
<p>勞傷骨蒸者，可於膏肓穴掐五、七十度，搓五、七十度，兼靜功。</p>
<p>膏肓穴乃足太陽膀胱經，在背四椎骨下，五椎骨上，兩旁各開三寸，去飯匙骨可容側指，平身坐，手按兩膝頭，開肩骨陷穴自見也。此穴亦能治虛汗及吐血諸症。</p>
<p>設有虛熱盜汗、衄血、五勞七傷等症，可於百帶穴掐五、七十度，搓五、七十度，兼行靜功。百帶穴乃腎經脈，在背大椎骨上，平肩取之，穴自見也。</p>
<p>設有吐紅痰症，可於俞府穴掐五、七十度，搓五、七十度，兼行靜功。俞府穴乃足少陰腎經穴也，在旋璣兩旁各開一寸半，仰頭取之。旋璣在天突下一寸陷中，仰視得之。天突在結喉下二寸宛宛中，兩筋間是穴也。設俞府穴兼可治哮吼痰症。</p>
<p>設有下元虛者，可於氣海穴掐五、七十度，擦五、七十度，兼行靜功。氣海穴乃任脈經，從臍中量下一寸半是穴也。此穴兼治諸氣及小腸氣、諸疝氣並婦人帶下等證。</p>
<p>設有遺精疾症，可於關元穴掐五、七十度，擦五、七十度，兼行靜功。關元穴乃任脈經，在臍下三寸是穴也。按遺精、白濁或亦治命門、白環、腎俞，查穴參治之。</p>
<p>設有心虛、膽怯及遺精盜汗者，可於心俞穴掐五、七十度，擦五、七十度，兼行靜功。心俞穴乃足太陽膀胱經穴，在背五椎骨下，兩旁各開一半寸是也。兼治癲癇之疾。</p>
<p>設有虛火旺者，於三里穴掐五、七十度，擦五、七十度，兼行靜功。三里穴乃足陽明經胃之脈，在膝蓋下三寸，外臁大筋內間，舉大足指牽上肉動處是也。</p>
<p>設有童勞，於長強穴掐五、七十度，擦五、七十度，兼行靜功。長強穴乃腎脈，藏在尾骶骨尖上陷中是穴，伏地取之。此穴兼治痔漏、痔瘡、腸風下血。</p>

<h1>膨脹症</h1>
<p>設有膨脹、氣喘、腹痛者，可於建里穴掐五、七十度，擦五、七十度，兼行靜功。建里穴乃任脈徑，在中脘下一寸，臍上三寸是也。</p>
<p>設有水腫諸痰，可於水分穴掐五、七十度，擦五、七十度，兼靜功。水分穴乃任脈經，在下脘下一寸，臍上一寸是穴也。</p>
<p>小腹脹滿者，可於水分，水道、中脘、氣海等穴掐五、七十度，擦五、七十度，兼行靜功。</p>
<p>設有遍身腫脹，可於水分、三里、氣海諸穴掐五、七十度，擦五、七十度，兼行靜功。</p>

<h1>膈噎症</h1>
<p>設有翻胃吐食等證，可於脾俞穴掐五、七十度，擦五、七十度，兼行靜功。脾俞穴在足太陽膀胱經，在背第十一椎骨下，脊中兩旁各開一寸半是也。此穴兼治黃疸症，如前擦、掐，行靜功。</p>

<h1>眼目症</h1>
<p>設有眼目昏赤，可於攢竹穴掐五、七十度，兼行清靜功夫。攢竹穴乃足太陽膀胱經，在眉內尖角陷中是穴也。</p>
<p>設有眼昏，可於睛明穴用大指第一節於掌心內擦熱熨之，兼靜功。睛明穴乃足太陽膀胱經，在目眥內孔中是也。</p>
<p>設有血虛兩目昏花者，可於肝俞穴掐五、七十度，擦五、七十度，兼清靜功夫調攝。肝俞穴乃足太陽膀胱經，在脊第九椎骨下，兩旁邊各開一寸是穴也。</p>
<p>設有眼痛目昏者，可於青靈穴掐五、七十度，擦五、七十度，兼靜功。青靈穴在手少陰心經，在肘上三寸，伸肘之時，臂對眼與乳相平，赤白肉際青筋上是穴也。</p>
<p>或有目睛熱障治攢竹者；或有雙目冷淚治合谷、青靈者；又有眼久疾治清冷淵、合谷者，穴已載前。</p>

<h1>耳症</h1>
<p>設有耳閉者，可於翳風穴掐五、七十度，擦五、七十度，兼靜功。翳風穴乃手少陽三焦經，在於耳後尖角陷中，開口便得穴。兼治鼠瘡、瘰癧、項間痰咳、咽喉疼痛並皆治之。</p>
<p>設有耳疼痛者，可於頰車穴掐五、七十度，擦五、七十度，兼用靜功。頰車穴乃足陽明胃經，在耳墜珠下三分，頰陷中間口有孔是穴也。兼治諸般牙疼、口眼歪斜之症。</p>
<p>設有耳聾氣閉，可於聽會穴掐五、七十度，擦五、七十度，兼行靜功。聽會穴乃足少陽膽經，在耳珠前陷中，開口得穴。口中須含一物，方可如法。或兩耳虛鳴，可於聽會、合谷二穴通治。</p>

<h1>咽喉口齒症</h1>
<p>設有咽喉腫痛，單雙乳蛾等症，可於少商穴掐五、七十度，擦五、七十度。如不愈，用破磁片針此穴，出血即愈矣。少商穴乃手太陰肺經，在大指內側，去爪甲如韭菜者是也。</p>
<p>設有口臭者，可於大陵穴掐五、七十度，擦五、七十度，日行數次。大陵穴乃足厥陰心包絡經，在手掌橫紋正中間。兼治鵝掌風。</p>
<p>設有小兒乳蛾，可於合谷穴掐五、七十度，擦五、七十度，日行數次。合谷穴乃手陽明大腸經，在大指次節，歧骨肉尖上是也。</p>
<p>設有牙疼腫痛，可於呂細穴掐五、七十度，擦五、七十度，兼靜功。呂細穴乃足少陰腎經，在腳後跟內，踝骨尖後動脈陷中是穴也。兼治股內濕癢生疼及便毒。或牙疼掐頰車穴。</p>

<h1>肩背指症</h1>
<p>設有背強痛，可於至陽穴掐五、七十度，擦五、七十度，兼靜功。至陽穴乃腎脈經，在第七椎骨下，俯首取之，是其穴也。</p>
<p>設手腕無力反手，背臂腫痛，或因折傷不能握物，或肩背疼痛不能舉動者，皆於陽池穴掐五、七十度，擦五、七十度，兼靜功。陽池穴乃手少陽三焦經，在手背骨上陷中是穴也。</p>
<p>設有五指盡痛，不能握物舒暢者，可於外關穴掐五、七十度，擦五、七十度，兼靜功調攝。外關穴者，乃手少陽三焦經，在手腕骨上二寸，腕後陷中是穴也。</p>
<p>設有肩背手不能舉者，可於肩髃穴掐五、七十度，擦五、七十度，肩髃穴乃手陽明大腸經，在肩柱骨上，肩端兩骨間陷中，舉臂取之，有凹處乃是穴也。</p>
<p>設有手痛屈伸難甚者，可於曲池穴掐五、七十度，擦五、七十度，兼靜功。曲池穴乃手陽明大腸經，在肘後外橫紋尖上，屈手取之，此乃是穴也。</p>
<p>設有臂手牽痛者，可於曲澤穴掐五、七十度，擦五、七十度，兼行靜功。曲澤穴乃手厥陰心包絡經，在肘內臁正中間，屈肘取之。兼治九種心疼不可忍者。</p>
<p>設有手掌生瘡生疥者，可於勞宮穴掐五、七十度，擦五、七十度，日行數次。勞宮穴乃手少陰心經，在手掌中，由無名指點到處是其穴也。兼治心腹疼痛及胃氣疼。</p>
<p>設有肩背疼痛或陰痠疼，掐投肩髃、曲池，手指拘攣掐合谷。入風背膊高痛，俱看病勢不拘定。兼靜功行之。</p>

<h1>心脾氣症</h1>
<p>設有心胃脾病並諸氣脹痛者，可於上脘穴掐五、七十度，擦五、七十度，兼行靜功調攝。上脘穴乃任脈之經，在巨闕之下一寸五分，臍上五寸，是其穴也。</p>
<p>設有脾胃虛弱，飲食不進者及心脾痛，可於中脘穴掐五、七十度，擦五、七十度，兼行靜功。其中脘穴乃任脈之經，在臍上四寸，至鳩尾骨尖之下至臍中，用草心量，折中是其穴也。</p>
<p>設有胃氣不和及脾寒骨熱者，可於食倉穴掐五、七十度，擦五、七十度，兼行靜功調攝。其食倉穴乃足少陰腎經，在中脘之兩旁，各開去三寸是其穴也。</p>
<p>設有胃脘痛並諸痰，可於巨闕穴掐五、七十度，擦五、七十度，兼靜功。巨闕穴乃在任脈經，在鳩尾下一寸，臍上六寸半陷中是也。更有下脘，乃任脈經，在建里下一寸，臍上二寸，治同。</p>
<p>設有痞氣，可於章門穴掐五、七十度，擦五、七十度，兼靜功。章門穴乃足厥陰肝經，在大橫紋外直季脅肋，去臍上二寸，兩旁橫九寸，側臥，屈上足、手臂，屈中指放耳垂下，肘尖盡是也。</p>
<p>設有胃氣泄痢者，可於天樞穴掐五、七十度，擦五、七十度，兼靜功。天樞穴乃足陽明胃經，在臍旁，各開二寸是穴也。或有氣痛，掐、擦巨闕、膻中、中脘、氣海等穴，痞塊亦治。章門、中脘、命門者小腸氣，氣海、歸來、大敦者蟲痛，中脘、食倉者皆宜參用。</p>

<h1>腰腎足膝症</h1>
<p>設有腰脊痛不得俯首者，可於腰俞穴掐五、七十度，擦五、七十度，兼靜功。腰俞穴乃腎脈經，第二十椎骨下宛宛中，挺伏舒身，兩手相交支額，縱四體後取其穴。</p>
<p>設有脅痛者，可於支溝穴掐五、七十度，擦五、七十度，兼靜功。支溝穴乃手少陽三焦經，在手腕骨背上三寸，兩骨間陷中是穴。</p>
<p>設有腳瘴，可於行間穴掐五、七十度，擦五、七十度，兼靜功。行間穴乃足厥陰肝經，在足虎口中，大指次指歧骨間是。</p>
<p>設有腳背腫，可於內庭穴掐五、七十度，擦五、七十度，兼靜功。內庭穴乃足陽明胃經，在足大指次指外關是。</p>
<p>設有腳腫者，可於陷骨穴掐五、七十度，擦五、七十度，兼靜功。陷骨穴乃足陽明胃經，在足次指外，去內庭一寸是穴。兼治面目浮腫、陰痛、腸鳴腹痛及熱病汗不出者。</p>
<p>設有足麻痛者，可於解谿穴掐五、七十度，擦五、七十度。兼靜功。解谿穴乃足陽明胃經，在足腕上繫帶處，去陷谷四寸半，內庭上量至足背下寸陷中是其穴也。</p>
<p>設有足脛腫及無力，或兩足生瘡者，可於商丘穴掐五、七十度，擦五、七十度，兼靜功。商丘穴乃足太陰脾經，在內踝骨下，赤白肉際微前陷中，此乃是穴也。</p>
<p>設有腳脛踝骨痛，可於丘墟穴掐五、七十度，擦五、七十度，兼靜功。丘墟穴乃足少陽膽經，在足外踝微前近三分是其穴也。</p>
<p>設有跟骨痛者，可於崑崙穴掐五、七十度，擦五、七十度，兼靜功。崑崙穴乃足太陽膀胱經，在足外踝骨後，跟骨下陷中是也。</p>
<p>設有腿痛者，可於絕骨穴掐五、七十度，擦五、七十度，兼靜功。絕骨穴乃足少陽膽經，在足上踝三寸，動脈正中間是穴也。</p>
<p>設有寒、濕腳氣及兩腳滲裂生瘡並血衄不止者，俱於京骨穴掐五、七十度，兼用靜功。京骨穴乃足太陽膀胱經，在外足側大骨下，赤白肉際陷中，按而得穴。</p>
<p>設有轉筋腳氣，可於承山穴掐五、七十度，擦五、七十度，兼靜功。承山穴乃足太陽膀胱經，在腿肚肉尖上，分肉正中間陷是穴也。一法在承筋穴法治，承筋乃足太陽膀胱經，在腿肚正中間，脛後從腳跟上來七寸乃是穴也。</p>
<p>設有筋痛，可於陰陵泉穴掐五、七十度，擦五，七十度，兼靜功。陰陵泉穴乃足太陰脾經，在膝下內側，取陽陵泉為先，相對是穴也，陽陵泉穴乃足少陽膽經，在膝外高骨下各一指取之，微前陷中，此外即是穴也。</p>
<p>設有膝蓋紅腫痠痛，可於膝眼穴掐五、七十度，擦五、七十度，兼靜功。膝眼穴乃足陽明胃經，在膝蓋骨犢鼻穴外旁陷是穴也。又有膝關穴，乃足厥陰肝經，在膝蓋骨下，犢鼻穴內旁陷中是穴也。</p>
<p>設有膝痛冷痹不仁者，可於梁丘穴掐五、七十度，擦五、七十度，兼用靜功。梁丘穴乃足陽明胃經，在膝下二寸，兩筋間是穴也。</p>
<p>設有膝紅痛，可於寬骨穴掐五、七十度，擦五、七十度，兼用靜功。寬骨穴在膝蓋上，梁丘穴兩旁各開一寸是穴也。</p>
<p>設有膝難屈伸及腰痛者，可於委中穴掐五、七十度，擦五、七十度，兼用靜功。委中穴乃足太陽膀胱經，在膝腕正中間有紫筋者，此乃即是穴也。</p>
<p>設有膝蓋痛，可於陰市穴掐五、七十度，擦五、七十度，兼用靜功。陰市穴乃足陽明胃經，正在膝面上三寸是穴也。</p>
<p>設有腿痠疼痛，可於風市穴掐五、七十度，擦五、七十度，兼用靜功。風市穴乃足少陽膽經，在膝上腿外側兩筋間，令人直立垂手，中指盡處是穴也。</p>
<p>設有風濕腿疼不能動者，可於環跳穴掐五、七十度，擦五、七十度，兼行靜功。環跳穴乃足少陽膽經，在髀樞硯子骨間縫內，側臥，屈上足，伸下足，方得此處是穴也。</p>
<p>設有脹痛亦治脊俞，脅痛亦治章門者，後已載之，此不宣。</p>

<h1>傷寒症</h1>
<p>設有體本虛弱易感風寒者，可於風門穴掐五、七十度，擦五、七十度，兼靜功調攝。其風門穴乃足太陽膀胱經，在背脊第二椎骨兩旁邊各開去一寸五分是穴也。</p>
<p>設有瘧疾、傷寒感冒及寒熱往來結胃者，可於間使穴掐五、七十度，擦五、七十度，兼靜功。間使穴乃手厥陰心包絡，在手掌後橫紋上，去內關一寸，兩筋陷中是也。</p>
<p>設有傷寒譫語、結胸腹痛等證，可於期門穴掐五、七十度，擦五、七十度，兼清靜功夫。期門穴乃足厥陰肝經，在直乳下二寸第二筋端。兼治熱入血室。</p>
<p>設有久瘧，可於百勞、中脘、間使等穴如前治，穴法已不載宣。</p>

<h1>痰火哮喘症</h1>
<p>設有哮吼喘急，可於天突穴掐五、七十度，擦五、七十度，兼用靜功。天突穴，任脈經，在結喉下二寸宛宛中兩筋間是穴。</p>
<p>設有胸膈悶痛、痰涎擁盛，可於璇璣穴掐五、七十度，擦五、七十度，兼用靜功。璇璣穴乃任脈經，在天突下一寸陷中是穴。</p>
<p>設有哮喘等證，可於俞府、華蓋、乳根等穴掐五、七十度，擦五、七十度，兼用靜功。俞府穴已見癆症。華蓋穴乃任脈經，在璇璣穴下一寸陷中，仰頭取之是穴。乳根穴乃足陽明胃經，在乳下一寸六分陷中，仰面取之是穴也。</p>
<p>設有氣急痰盛及肺癰，可於肺俞穴掐五、七十度，擦五、七十度，兼用靜功。肺俞穴乃足太陽膀胱經，在背第三椎骨兩旁各開一寸半，此乃是穴也。</p>
<p>設有吼喘，可於脊中穴掐五、七十度，擦五、七十度，兼用靜功。脊中穴乃督脈經，在第十一椎骨下。統而取之，穴對前中上脘。令人平站，將繩自結喉上垂下。至上脘，又將此繩自大椎骨垂，繩盡處是穴也。</p>
<p>設有咳嗽寒疾之症，可於列缺掐五、七十度，擦五、七十度，兼用靜功。列缺穴乃手太陰肺經在手腕後上側寸半，兩手相叉，食指盡處，高骨縫間是穴也。間有哮喘用天突、靈臺、少衝、小指端，久嗽用三里，痰火用百勞、三里，痰火氣用巨厥、中脘，皆宜查明穴法參用。</p>

<h1>頭痛症</h1>
<p>設有頭痛諸疾，可於百會穴掐五、七十度，擦五、七十度，兼靜功。百會穴乃督脈經，在頭正中間，先鼻中直上，分路正直，用草心前眉間量至後髮際，除在耳尖量至右耳尖，當中折斷，手摩容豆許是穴也。兼治脫肛。</p>
<p>設有諸頸風疼及腦泄鼻衄，可於上星穴掐五、七十度，擦五、七十度，兼靜功。上星穴乃督脈經，在頭，男左女右。用草心自手掌後橫紋量至中指盡處，然後移至鼻尖上，牽至胸上盡處是穴。</p>
<p>設有頭痛，可於囟會穴掐五、七十度，擦五、七十度，兼靜功。囟會穴乃督脈，在上星穴一寸陷中，可容豆許是穴。</p>
<p>設有頭風筋攣、衄血等症，可於風府穴掐五、七十度，擦五、七十度，兼用靜功。其風府穴乃督脈之經，在項後兩骨正中間，入髮際內一寸，與風池相平是其穴也。</p>
<p>設有頭風，可於風池穴掐五、七十度，擦五、七十度，兼靜功。風池穴乃是足少陽膽經，在耳後大筋內，入髮際五分，風府兩旁各開二寸是穴也。或有偏正頭風，用太陽風池、合谷者，或有腦泄用上星者，皆宜查明穴法，如前參用，必細心按穴掐擦。</p>

<h1>偏疝及婦帶下症</h1>
<p>設有小腸疝氣等症，可於水道穴掐五、七十度，擦五、七十度，兼靜功。其水道穴乃是陽明胃經，正在天樞穴下三寸，又在關元穴兩旁各開二寸是其穴也。</p>
<p>設有疝氣偏墜，可於歸來穴掐五、七十度，擦五、七十度，兼靜功。歸來穴乃是陽明胃經，在臍心下四寸，兩旁各二寸，臥下舉頭，有鼠形肉上，此乃是其穴也。</p>
<p>設有疝氣，可於大敦穴掐五、七十度，擦五、七十度，兼靜功。大敦穴乃足厥陰肝經，在足大指甲後，爪如韭菜聚毛中是也。</p>
<p>設有男子疝氣並女子漏下，可於太衝穴掐五、七十度，擦五、七十度。太衝穴乃足厥陰肝經，在足大指第一縫間，相去一寸半，此處即是穴也。</p>
<p>設有婦人赤白帶下，治氣海、中脘、中極，宜皆查穴參用。</p>

<h1>癭癧痔漏症</h1>
<p>設有痔漏腸風，可於長強穴掐五、七十度，擦五、七十度，兼靜功。長強穴乃督脈經，在尾骶骨尖上陷中，伏地得穴。</p>
<p>設有疾痔，可於二白穴掐五、七十度，擦五、七十度，兼靜功。二白穴在掌後橫紋四寸，兩穴相對，一穴在筋內，一穴在筋外。</p>
<p>肩井穴乃足少陽膽經，在肩上陷中，缺盆骨盡處，以二指按取，當中指陷便是此穴也。兼治婦人產暈。</p>
<p>設有鼠癧，可於缺盆穴掐五、七十度，擦五、七十度，兼靜功。缺盆穴乃足陽明胃經，在頸下肩端橫骨上跡，頸者有青脈，脈牽頸陷中是穴。又於肘尖上治之。</p>
<p>設有脫肛，可於百會穴掐五、七十度，擦五、七十度，再用五倍明礬水洗淨，以木賊草燒灰存性，敷蕉葉托上愈。百會穴見前。或有痔漏，治腰膂手臂，二白三穴皆宜查明參用。</p>

<h1>男女諸雜症皆治</h1>
<p>設有下元諸痰，可於靈臺穴掐五、七十度，擦五、七十度，兼靜功。靈臺穴乃督脈經，在第六椎骨節下，俯首取之。</p>
<p>設有婦人帶下、月經不調；男子腰痛，腎寒遺精，俱於腎俞穴掐五、七十度，擦五、七十度，兼靜功。腎俞穴乃足太陽膀胱經，在第十四椎骨下，兩旁各開一寸半，此乃是穴也。</p>
<p>設有內熱火盛腹痛，可於內關穴五、七十度，擦五、七十度，兼靜功。內關穴乃手厥陰心包絡，在手掌後橫紋去大陵穴二寸兩筋間，正坐仰手取之，是其穴也。</p>
<p>設有男子諸風痛、女子血氣痛，可於申脈穴掐五、七十度，擦五、七十度，兼用靜功。申脈穴乃足太陽膀胱經，在足外踝下五分，赤白肉際是穴也。</p>
<p>設有淋漓白濁及婦人經水不調並陰蹺癇病夜發者，可於照海穴掐五、七十度，擦五、七十度，兼功。照海穴乃足少陰腎經，在足內踝赤白肉際，令對坐而取之。</p>
<p>設有婦人月水不調，可於三陰交穴掐五、七十度，擦五、七十度，兼靜功。三陰交穴乃足太陰脾經，在足內踝上三寸，骨筋陷中是穴也。</p>
<p>設有中風溺水、陽絕腸痛等症，可於神闕穴掐五、七十度，擦五、七十度，兼靜功調攝。仍以燒鹽填滿，上用火熨。如小便不通，用蔥槌碎填熨處。神闕穴乃任脈經，在臍中是也。</p>
<p>設有婦人無子及月經不調，可於陰交穴治。陰交穴乃任脈經，在臍下一寸。婦人血氣塊痛、調經種子，可於氣穴治，氣穴乃足少陰腎經，在陰戶兩旁各開一寸半，左名包門右名子戶。諸瘡，百蟲窠、三里、解谿俱如前掐擦，兼用靜功。</p>

<h1>頭疼症</h1>
<p>凡頭昏痛，當端坐，閉氣咬牙，雙手掩耳，擊天鼓三通（每通十二），叩齒三通（每通十二）。即行三通，次用兩手雙摩太陽七十度，每手摩崑崙一百二十度。如前再行三次，復叩齒而止（凡行此功，當於無風密室而行）。</p>
<p>凡混腦頭風，背坐以雙手抱兩耳，指尖在腦後相接，閉氣十二口，叩齒三通，拍項九下，日行三、五次。</p>
<p>凡頭風流冷淚，閉氣，用兩手抱額腦，將頭向前後搖五、七十次，待眼熱淚止為度。如氣急重閉，再行可也。</p>
<p>凡頭腦痛，盤膝端坐，用兩手大二指掐住兩耳門，閉住眼耳口鼻，送丹田七孔之氣上升頂門，日行數次，愈為度。</p>

<h1>眼目症</h1>
<p>凡三焦血熱眼昏，正坐，擦熱手摩臍輪，後按摩兩膝蓋，待暖再摩臍輪，再按摩膝蓋，俟氣定再行。日行三、五次為度。</p>
<p>凡眼腫痛，端坐叩齒一通，命童子摩左右湧泉穴並膝蓋各三千，自己以舌抵上齶，反目觀頂，口內漱津滿口咽之。如此者九漱九咽，咽後輕呵三口，如前叩齒止。日行三、五次效。</p>
<p>凡眼目昏花，正身平坐，以兩手反背叉地，伸左右腳，次屈右膝壓左腿上，行一度叩齒一度，叩齒一通咽津一口，即刻行五、六次。久久行持，夜視如晝，其效如神。又雞鳴時擦熱兩手，熨兩目一、二十度，光如童子。</p>
<p>凡三焦熱眼花虛弱，端坐，命童子摩湧泉、膝蓋一千二百，自叩齒一通，略仰面輕呵九口，一日行三次神效。</p>
<p>凡患青盲，端坐，內叉兩手在臍上，大指掐中指第一節紋，自看左右四十九遍，叩齒一通，調津咽一口，復叩齒一通，日行三、五次。輕者三七愈，重者七七愈，忌食蔥、蒜、韭、薤、魚、腥、麵食，氣惱。</p>
<p>凡患眼昏兼耳聾頭痛，兩手抱頭，將身前後左右扭轉三、二十遍，汗出為度，日行三次。</p>
<p>凡腎水竭，目生翳，端坐，焚線香一炷，雙手恭執，灰高二分輕吹去，又起又吹，香到指間放手重握固。叩齒一通，漱津滿口咽之，如此九口。叩齒九次，輕呵一、二口。日行三度神效。</p>
<p>凡心火起併火眼，以自己手摩左右湧泉穴並膝蓋，垂簾開口吸氣，怒目閉口呼出，一次三十六吸呼，正身端坐而行。</p>
<p>凡諸目疾，後以兩手抱住崑崙，以目珠周轉，吸清氣送至下丹田一百二十口，嗽咽三大口，叩齒而止。</p>

<h1>耳症</h1>
<p>凡兩耳起瘡流膿，兩手掩耳門，閉氣正身，前後點頭二十四，左右橫點十二，待耳熱響止，少停再行。</p>
<p>凡腦風耳鳴，立定閉氣，左手提耳，右手握拳下，右亦如是，各一、二十遍，鳴止為度。</p>
<p>凡耳驟聾，坐地掐鼻，閉氣咬牙，低頭怒目，鞠身使七孔之氣俱入耳門，九轉一止。</p>

<h1>鼻症</h1>
<p>凡鼻血不止，圓開兩眼，一氣連吸三、九口，意送下丹田即止。諸鼻症，早晨多摩鼻兩旁並鼻下為妙。</p>

<h1>牙症</h1>
<p>凡牙痛，雙手托住下巴骨，閉氣，口麻方止。日行數十次，三次一度。</p>
<p>凡乍腮及牙關緊，兩手中指掐太陽，兩大指掐兩腮旁，左右扭身二十四遍，日行數十次神效。</p>

<h1>胸膈氣症</h1>
<p>凡胸膈痞悶，八字立定，將手內相叉，胸前往下擦十二，閉氣一口，又擦十二，三、五轉。又以左右手上下伸十二次，雙拳叉拳，輕捶臂與肩各十數，調咽一口，輕呵一口，叩齒一通止。如痞塊，立地閉氣，用兩手從腳背上抹至胸前三十六度，日行七次，五、七日效。</p>
<p>痞悶，端坐，兩拳拄兩脅對心旁用力抵住，輕摩十二，叩齒一。如胸膈疼痛、面黃肌瘦、四肢無力，立八字仰面，手交背後，輕呵三口，叩齒一通，即行三、五轉，汗出為度，日行五、七次。</p>
<p>凡酒積，立地閉氣，一手前上伸，一手後下伸，轉項扭身兩次，各十七，覺腹內響、身暖止，未全愈再行三次。</p>
<p>凡胸膈氣痛，閉口叉手，低頭看臍，兩手自胸前微用力往下刮數十，循循推拂，日行三次效。</p>

<h1>心症</h1>
<p>凡心虛疼痛，端坐，擦熱兩手按膝，用意在中，右視左提、左視右提，各十二次，日行七次或九次。</p>
<p>前後心痛，八字立定，低頭對胸，叉定兩手抱腹上；提氣一口，嚥氣一口，叩齒一通。</p>
<p>凡一切心痛，用左右手，丁字立，揚左手以目視右手，揚右手以目視左手，叩齒一通，輕呵一口，即行三、五次。</p>
<p>婦人前後心痛，閉氣，以兩手中指抵住兩奶頭，左右扭身二十四轉或三十六轉，叩齒一通，行至汗出為止。</p>

<h1>腰背疼痛症</h1>
<p>凡腰膊疼痛，高坐，八字舒腳，擦熱手掌心按兩膝，扭身十三，摩腰膊各數十，重者數百至千數，日行三、五次為度。</p>
<p>凡腰曲頭搖，立定，低頭彎腰如拜下，閉氣，手與腳尖齊，起。待息定再行，連行五、七次止，日行三次。</p>
<p>凡冷痹腿腳疼痛，立定，左手舒指，右手捏肚，閉氣一口，左右如一。行三、五轉，坐定，令人摩腿數百止，日行三度。</p>
<p>凡頭面腳背一切瘡疾，端坐，叉手閉口，左右搖天柱二十四，擦臂掌交處橫紋二十四，連行三、五度，日行七次。</p>
<p>凡腿腳肚腹疼痛，立定，右手作扶牆勢，左手垂下，右腳向前虛蹬，閉氣一口。右手亦如是轉，行十六次。</p>
<p>凡腳腿痛疼，坐地舒兩足，弓腰，齊伸兩手扳兩腳，閉氣一口。曲拳彎腰，伸雙手過頂，口鼻微出氣三口。左腳前伸，坐住右腳；右腳前伸，坐住左腳，各叩齒三通而止。</p>
<p>凡腰背疼，反背手立定，拐頂腰，吸氣一口，分三咽，左右皆同。</p>
<p>凡腿痛疼，正身端坐，擦熱兩手摩後精門，待氣喘止，再咬牙關閉。次直舒兩腳，擦熱手按住大腿，叩齒一通而止。</p>
<p>凡遍身痛疼，端坐舒兩腳，握固，閉氣一口，拜身向前。次立齊兩足，低頭垂手扳兩腳尖，閉氣一口，叩齒一通。</p>
<p>凡遍身疼痛，立定，左手掐劍訣，以右手握金剛拳指地，左足提懸頭，目右視，閉氣一、二口，叩齒一通而止。</p>
<p>凡背脊疼痛，曲身伏地，雙膝跪，雙手按，閉氣一口，叩齒一通。</p>
<p>凡寒濕氣漏肩風，立地閉氣，雙手微用力，如解木板狀，左右各扯二十四，又轉，以汗出乃上，日行數次。</p>
<p>凡一切閃挫疼痛，不可護其疼，將身直立，雙手如托千斤，上升放下，亦如緩緩慢行，二十四次止。</p>
<p>凡腰疼痛難忍，高枕臥地，咬牙閉口，清心閤眼，直豎兩足，使氣逆回，然後舒足，叩齒一通。又行，連行十二次乃止。</p>

<h1>脾胃肚腹症</h1>
<p>凡久病黃腫，點坐，以兩手按膝蓋，用力摩擦存想，候氣行遍身，復運氣四十九口，則氣通融而病痊。</p>
<p>凡腹痛、乍寒乍熱，端坐，以兩手抱臍下，待丹田暖熱，運氣四十九口止。</p>
<p>凡肚腹虛飽，坐定，用兩手搬肩，以目左視，運氣十二口。再轉目右視，如前。</p>
<p>凡肚腹膨脹、雷鳴，遍身疼，立地，以兩手仰托，兩腳踏地緊坐，撮穀道。</p>
<p>凡脾胃虛弱，五穀不消，以身仰臥，右腳架左腳上，直舒兩手搬肩，肚腹來往運動。</p>
<p>凡肚腹虛腫，端坐，以兩手作托物狀，運氣導引，上提九口，下行九口。</p>
<p>凡赤白痢疾，以兩手前後如探馬狀，又前後左右進步行功。白痢向左，行氣九口；紅痢向右，運氣九口。</p>
<p>凡內積病米穀不化，立地閉氣，弱身，兩手扳腳尖，左右各十八口，汗出止，日行數次。</p>
<p>凡五臟滯氣，每於五更空心，以兩手著力拿兩膊，正身直立，兩腳尖著地，腳跟懸起，著實連樁二十四，以除五臟六腑滯氣，宿食不化兼渾身骨節疼痛並治。</p>
<p>凡下元虛損，放屁，於腹內氣動時努力上掙，緊撮穀道，吸氣一口，使清氣上升，濁氣外出，不臭不響矣。</p>

<h1>癆症</h1>
<p>凡元氣衰敗者，坐定，用兩手擦熱揉耳，後用手拄定兩脅下行氣，使氣上升。</p>
<p>凡色癆虛怯，側臥，左手枕頭，右手捏拳向腹，往來擦抹。右腳在下微拳，左腿壓上習睡，收氣三十二口。</p>
<p>凡夜夢遺精，側坐，用雙手扳兩腳心。先搬左腳心，擦熱，運氣行功九口。次拔右，同前行之。久則元氣自滋，歸精不走。</p>
<p>凡夜夢遺精，仰臥，右手枕頭，左手握固陽處行功，腿直舒，右腿拳曲存想。</p>
<p>凡欲收走精者，於精欲走時，將左手中指塞右鼻孔內，右手中指按尾閭穴把精，數二十四息。</p>
<p>凡氣血不和，將身曲下如打恭狀，手足俱要交叉伏地，右左行功，數二十四息。</p>
<p>凡灑癆色癆，用兩手扳腳尖，一腳左右各十遍。如身弱，用棉絮塞耳鼻行之，日行三次。</p>
<p>凡咳嗽吐血，坐墩幾，兩手搭頂上，蹲身閉息二十一口。如氣急難忍，輕輕放出，日行五次。</p>
<p>凡勞疾，正坐，清心瞑目，下視臍輪，緘鼻閉口。使心火下降，腎水上升，二氣交結為妙。</p>
<p>凡夢遺，以手高枕，側臥，一足伸，一足縮，將腎莖並二子抽空腿夾住，將上手伸直膝上。</p>

<h1>痰火</h1>
<p>凡患痰火，以舌抵上齶，取赤龍水吞下至丹田，以意送出大便去，連吞四、五口。心以死事作主，四大全放下，再以童便空心服之。</p>
<p>凡頑麻、透枕、痰積氣，端身正坐，以兩手相交，右手扳住左肩，左手扳住右肩，拱身用力，左右搖之不計數，以除渾身骨節疼痛，兩腳頑麻、風濕透枕、痰火皆止，肚中積氣皆消。</p>
<p>凡咳嗽、痰火，以兩手掐子紋作五雷決，用力豎起，躬身低頭，以兩手扳足尖三下。仍將拳用力豎，作前訣，弓身起仰，將口中津液吞下，三、五次乃止。</p>

<h1>傷寒傷風症</h1>
<p>凡時氣遍身疼痛，正身蹈定，左腳向前，以右腳向後，再以兩手握固，注肚腹上，數息二十四，左右行功。</p>
<p>凡四時不正傷寒，將身側臥，拳起兩腿，再將兩掌擦摩極熱，抱住陰囊，數息三十六，或二十四亦可。</p>
<p>凡感冒傷寒，正身盤坐，閉氣，反手以兩中指插入鼻孔內，搖頭數十回，以汗出為度。若未全愈，再行，以愈則止。</p>
<p>凡傷寒瘧疾，曲兩膝平坐，用手擦熱兩腎，緊靠膝，弓身前伏後仰，用力行持，將耳目口鼻努住，得汗乃止，必先為之。</p>
<p>凡傷寒、傷風感冒、鼻塞，正身平坐，用兩手中指於迎香穴不住擦摩，內外皆熱，不拘時候，鼻通為度。</p>
<p>凡一切瘧疾，以身朝東北方，正身端坐，以兩手掌心擦極熱，抱住陰囊運氣，八口乃止。餘症及寒症參行可也。</p>

<h1>痢症</h1>
<p>凡水瀉痢疾，以腳相交直立，兩手直垂，將穀道夾緊，用力上提，以至無數。又將小腹抹起，須閉目行之。餘症於脾胃相參。</p>

<h1>濕症</h1>
<p>凡男女肋脅濕氣，兩手如牽鑽一般，左右相隨。倦即止，不倦即行，數次而愈。</p>

<h1>瘡疽</h1>
<p>凡久生瘡癤，以端坐，左拳拄右脅，右手按膝，專心存想，運氣到患處，左右各六口。</p>
<p>凡患乳鵝，用左手托右膊，更換，收氣十一口，呵氣三十一口，左右二十遍。</p>
<p>凡患魚口及諸腫毒等瘡，才初起癢痛，一手往下，一手往上，更相轉項扭身四十九遍，通身汗出乃止，日行五、七次。</p>
<p>凡患大麻瘋及諸癬瘡癩，立地閉氣，以兩手用力如解木狀，左右各扯二十，正扯十二，以汗出為度，日行不拘數次。</p>
<p>凡諸般瘡疾，以兩手吊板梁上，左一肩，右一肩，上下往來，左右兩手換肩行之，久久則瘡毒除矣。</p>
<p>凡疔瘡發背初起，可於寬處厚鋪裀褥，打斤斗二十四個則消。</p>

<h1>腸氣症</h1>
<p>凡小腸氣冷痛，端坐，兩手相擦，務令極熱，覆向丹田，數息二十九口。再擦熱，覆向丹田上，又數息二十九口乃止。</p>
<p>凡患單腹脹、面黃不進飲食，閉氣，迴轉身紐，一拳上伸，一拳下伸，左右各二十一遍。如肚腹一消，轉頂四十九遍，滿腹響止。</p>
<p>凡患小腸疼痛，須閉氣，一腳踏地，一腳屈向後，一手往上虛托，一手往下扳其腳，以頭屈下。左右腳各十二，覺痛止為度。</p>

<h1>絞腸痧</h1>
<p>凡絞腸痧腹痛，側坐，以兩手抱膝齊胸，左右足各蹬扳九次，數息二十九口。</p>
<p>凡絞腸痧，以腹著地，腳手著力朝上，運氣十二口，手腳左右搖動，復坐定，行功十四。</p>

<h1>疝墜</h1>
<p>凡疝墜氣，以兩手捉兩足大拇指，挽五度，引腹中氣遍身體。又法：十指通行之。</p>
<p>凡患偏墜，一手扯龜，一手攥拳面前，閉氣四十九口。若不止痛，用川椒四兩為末，以飛麵糊丸如梧桐子大，每日空心，茶送下十五丸為妙。</p>

<h1>大小便</h1>
<p>凡男人大小便不通者，調息定，閉氣，兩手攥緊，左右扭肩各十三遍即通。如不驗。再如前行二三次，無不驗矣。此法亦能治下血。</p>
<p>凡有婦人大小便不通，閉氣，兩手背入頸斜著，左右各二十四遍，汗出為止。</p>

<h1>癱瘓</h1>
<p>凡癱瘓，立定，用右手指右，以目左視，運氣二十四口，左腳前指。左依此行。</p>
<p>凡年久癱瘓，端坐，右手作拳往右脅，左手按膝，舒拳存想，運氣於病處，左右各六口。</p>
<p>凡左邊氣脈不通，左手行功，引意在左；右邊氣脈不通，右手行功，引意在右。各運氣五口。</p>
<p>凡兩腳風寒暑濕，坐凳，以左腳踏右膝上，左手扳腳尖，右用右手托腿跟。右扳則左托，左扳則右托；扳左則頭向右，扳右則頭向左。用力扳之，以除兩腳、兩腿風寒暑濕、筋骨疼痛。不論年遠日久左癱右瘓皆愈。</p>
<p>凡年久癱瘓，周身作痛、骨節頑痹者，將其人用氈厚裹，眠地上用力，一人如氈狀，極力操其痛處，使血氣流於肢體，舒暢。</p>
<p>凡兩腳痿痹及生惡瘡不痊者，令其人危坐，閉氣，將腳搖動，以意貫想，送氣於腳上。如氣急，徐徐調順復行，日行數次而愈。</p>
<figure>
<img data-orig-src="urn:270:08399.jpg" alt="圖">
</figure>
<figure>
<img data-orig-src="urn:270:08400.jpg" alt="圖">
</figure>
<figure>
<img data-orig-src="urn:270:08401.jpg" alt="圖">
</figure>
<figure>
<img data-orig-src="urn:270:08402.jpg" alt="圖">
</figure>

<h1>辨小兒諸症</h1>
<p>辨小兒諸症，察識之法不一。或有視面部者，或有視指紋者，或有一指診脈者。若夫視面部之法：額紅者熱也，額青者風也。印堂青者驚也，紅者火也。山根青者屢驚也，赤者瀉也。年壽微黃者正色也，陷下者夭也，黑者痢疾也，深黃者霍亂吐瀉也。鼻準微黃、赤白者正色也，淡黃者火燥也，黑者死也。人中短縮者吐痢也。唇黑者蛔蟲厄也。口潤紅者正色也，乾燥者脾熱也，黑者食積也，白者失血也，青黑者驚風也、疝死症也。承漿青色者，當食時受驚，□□者吐逆與痢也，紅者煩躁也，夜啼也，青者吉色也。久病眉紅者死症也。兩白睛青色者肝風也，黃者積攻也。黑睛黃者傷寒也。風池與氣池黃，吐逆也，紅者煩躁、啼叫也。所賴赤者肺家客熱也。兩太陽青者驚也，紅者赤淋也，青色入兩耳者死症也。兩腮黃者痰也，色青者客驚也，紅者風熱也。兩頤青者吐蟲也，黃者積滯也。風門黑者疝也，青者驚也。金匱青者亦驚也。哭者病在肝也，汗者心虛也，笑者脾多痰也，啼者肺有風也，睡者腎有虧也。此上辨面部形色也。</p>
<p>夫三關者，以男左女右手食指定之。初節為風關，在寅位；二節為氣關，在卯位；三節為命關，在辰位。凡病紋在初關易治，過中關難治，直透三關者不治。色紅者風熱輕，赤者風熱盛。紫者驚，青者驚積。青赤相半，驚風、食積俱有。青而紫，主急驚風。青而淡紫，伸縮來去，主慢驚風。紫絲、青絲或黑絲隱隱相雜，似出不出，主慢脾風。若兩指三關青，是水驚；三關黑，必人驚；三關赤，必雷驚。色黃或青或紅，有紋如線一直者，是乳食傷脾及發熱驚也。左右一樣者，是驚風積發。有三又或散，是肺生風痰，或似齁䶎聲有青者，是傷寒及咳。有紅黑相兼，主痢，紅多白痢，黑多赤痢。虎口脈紋亂，乃氣不和。蓋脈紋見有五色，黃、紅、紫、青、黑。色常黃紅，有色無形者安寧也。一見形，即是病。由其病甚，色能變黃，黃盛則紅，紅盛則紫，紫盛則青，青盛則黑，至於純黑則難治也。又當辨其形，有如流珠者，主膈熱、三焦不和，飲食欲吐，泄瀉腸鳴，煩躁啼哭。如流珠差大，名曰「環珠」者，主脾虛停食，胸腹膨脹，煩渴發熱。也有如長珠，一頭大，一頭尖者，主腹傷飲食，積滯腹痛，寒熱不食。有如了來者，下頭粗大者，主脾胃濕熱，中脘不利，乾嘔不食。有如如去蛇，上頭粗大者，主脾虛冷積，吐瀉煩渴，氣短神困，多睡不食。有如弓，彎弓反相中主者，主寒熱邪氣，頭目昏重，心神驚怖、倦怠，四肢冷積，小便赤色，咳嗽吐涎。有如弓，彎弓反向大指者，主痰熱，心神恍惚，作熱來驚，夾風夾食。向內者吉，向外者凶。有如弓、槍形者，主風熱發痰疾作。有如帶魚骨形者，主驚風痰熱，少食，發熱痰盛，發搐，乃肝木克脾土也。有如「川、水」字形者，主驚悸，食積煩躁，痞悶少食，夜啼痰盛，口噤搐搦，此脾虛積滯，木剋土也。或曰「水」字是肺病也，謂驚風入肺。有如「丨」針形者，乃心熱極生風，驚悸煩悶，困倦不食，痰盛發搐。有透關射指者（透關向里為射指），主驚風，痰熱聚於胸膈，乃脾肺損傷，痰邪乘聚。有透關射甲者（透關向外為射甲），主驚風惡症，十死一生。了魚刺者，風關青色主驚，氣關主肝，命關主脾虛，難治。有如「乁、乙」字者，在初關主肝驚，二關急驚，三關慢驚、脾風。有如「弓」曲蟲者，肺病甚也。有如<img data-orig-src="urn:270:08403.jpg">字虯紋者，心蟲動也。有如「乙」者，腎有蟲也。如「乁」向右主風寒，如「丿」向左主傷風。如「⿱丶乙」者傷寒，「フ」者傷冷。青、白、紫筋上無名指三關難治，上中指三關易治也。</p>

<h1>手訣</h1>
<p>其手法不一，有於三關作法者。凡作法先掐心經，點勞宮。男推上三關，退寒加暖，屬熱。女反此推□□□□□於六作法者，凡作法先掐心經，點勞宮。男推□□□□熱加涼。女反此推上為涼也，有名「黃蜂出洞」者。</p>
<p>凡□□熱作此法。先掐心經，次掐勞宮，先開三關，後以左右二大指從陰陽處起，一撮一上，至關中離坎上，掐穴發用之，有名「水裡撈月」。</p>
<p>凡大寒作此法。先清天河水，後五指皆跪，中指向前，四指隨後，右運勞宮，以涼吹之，退熱可用。若先取天河水，至勞左運，呵暖氣發汗，有名「鳳凰單展翹」。</p>
<p>凡濕熱作此法。用右手大指掐總筋，四指翻大指下，大指又起，又翻。如此至關中，五指取六掐之，有名「打馬過河」。</p>
<p>凡濕寒作此法。右運勞宮畢，曲指向上彈內關陽池間使，天邊生涼，退熱用之，有名「飛經走氣」。</p>
<p>凡氣滯作此法。是運五經，後五指門張，一讓作關中，用手打拍，乃氣行也。又法：以一手推心經至橫紋住，以一手揉氣關，竅通也，有名「按弦擦磨」者。</p>
<p>凡化痰作此法。先運八卦，後開指擦病人手，關上一擦，關中一擦，關下一擦，拿病人手，輕輕慢慢而搖，有名「天門入虎口」。</p>
<p>凡清脾作此法。用右手大指掐兒虎口，中指掐位天門，食指掐住總會，以左五指聚住揉鬥肘，輕輕慢慢搖，生氣、順氣也。又法：自乾宮經坎。艮入虎口按之，有名「猿猴摘果」。</p>
<p>凡消食作此法。以兩手攝兒螺螄上皮摘之，有名「赤鳳搖頭」。</p>
<p>凡治驚作此法。以兩手捉兒頭搖之，其處在耳前少上，有名「二龍戲珠」。</p>
<p>凡驚吊眼作此法。以兩手攝兒兩耳輪戲之，如初受驚眼不弔，兩邊輕重如一；如眼上則下重，下則上重，有名「丹鳳搖頭」。</p>
<p>凡治作此法。以一手掐勞宮，一手掐心經搖之，有名「黃蜂入洞」。</p>
<p>凡去風寒作此法。曲小兒小指，揉小兒勞宮，有名「鳳凰鼓翹」。</p>
<p>凡黃腫，掐精靈二穴前後搖之，有名「燕遊飛」。</p>
<p>凡黃腫作此法。以大指自脾土外邊推去，經三關、六府、天門、勞宮邊，還上脾土，有名「運水入土」。</p>
<p>凡脾土虛弱作此法。以一手從腎經推去，經兌、乾、坎、艮至脾土按之，脾胃火旺，水火不能兼濟用此法，有名「運土入水」。</p>
<p>凡腎水頻數，照前法反回是也，亦可治小便赤澀，名「老漢扳繒」。</p>
<p>凡痞塊，無論新久、大小，以一手托兒𦙒肘運轉，男左轉，女右轉，再以一手捉手搖動，有名「運勞宮」是也。乃曲中指運兒勞宮也，右運涼，左運肝，有名「運八卦」。以大指運之，男左女右，開胸化痰，有名「運五經」。又以大指往來擦五經紋，能動五臟六腑之氣，有名「推四橫紋」。以大指往來推四橫紋，能治上下氣。氣喘腹痛可用，名「分陰陽」。曲兒拳，於手背上四指節，從中往兩下分之，分利氣血，有名「和陰陽」。從兩合之理氣血用，有名「天河水」。推之自上而下也，輕按住間使，退天河水也。</p>
<p>有掐手面者，一掐心經，二掐勞宮，推上為熱，諸臟有疾引孔間竅。又一掐肺經，二掐離宮，離上缺，乾上正中間輕，兩起上處重，治肺家嗽。又一掐大腸側，推到虎口，推上為補，小兒泄瀉退下主泄瀉也。又一掐腎經，二掐小橫紋、退六府，治小兒便赤澀滯。又一掐脾土，曲肘左轉為補，直指推之為瀉，治兒虛弱之症，乳食少進。又一掐腎水下節，二掐腎水大橫紋，退六府為涼，退潮。又一掐總筋，清天河水，退熱，又一掐小天心，治天吊驚風，又能生腎水。又一推𦙀門，治小兒氣促、氣攻。此掐手面九法也。</p>
<p>有掐手背者，一掐威靈穴，專治急驚風。又一掐扇門，兒已死掐此穴，如有聲尚可治，無聲難治。又一掐兩扇門，治小兒急驚、口眼歪斜。左向右重，右向左輕。又治熱不退，汗不來。又一掐精靈穴，治痰湧氣促、氣急不退。又一掐二人上馬穴，治小兒便赤澀，清熱補腎水。又一掐後谿穴，推上為清，推下為補，小便赤能清，腎精虧能補。又一掐外勞宮，治糞白不變、五穀不消、肚疼泄瀉。內外齊掐，止瘧疾。又一掐陽池穴，治風痰之症。又一掐一窩風，治小兒久病腹痛或慢驚。又一掐五指節，治小兒被嚇，掐之可蘇人事不省。又一掐龜尾穴並揉臍，治小兒水瀉、痢疾。又治烏沙脹臍風、盤腸急慢等驚之症。（揉臍法：以左手大指按小兒臍下丹田，以右手大指周迴擦摩之）。又一掐𦙒肘下曲筋池上總筋，治急驚風。此掐手背十二穴也。</p>
<p>又有止小兒吐瀉者，又於橫門刮至中指尖掐之，治吐瀉，主一節處掐。又法：在於𦙀門推上橫紋，橫紋推至中指尖止掐，又中指一節上推至橫紋，橫紋推至𦙀門掐，止吐。又法：提手背四指內頂橫紋，還上掐，止吐。又手背刮至中指一節處掐，主瀉。中指尖第一外節掐，止瀉。橫紋推向𦙀門，主止瀉。𦙀門推向橫紋，主止瀉。退外脾，瀉法；推外脾，補虛止瀉。如被水驚，𦙀門大冷；如被風驚，𦙀門大熱；如被驚嚇，又熱又跳，先探五指，要辨冷熱，如瀉黃尿熱，如瀉青尿冷。此行吐瀉、止吐瀉諸法也。</p>
<p>又有掐手六經者，皆從大指邊向里數也。第一赤筋，乃浮陽屬火，以應心與腸，主霍亂，外通舌；反則燥熱，卻向乾位掐之，則陽自然散也。又於橫門下本筋掐之，下五筋仿此。第二青筋，乃陽屬木，以應肝、膽，主濕和外通兩目；反則赤澀多汗，卻向坎掐之；兩目則自然明也。第三總筋，居中屬土，總五行以應脾胃，主溫暖，外通四大𦙀門；反則主腸鳴、霍亂吐瀉、痢症，卻向中界掐之，則四肢舒暢也。第四筋赤淡黃筋，居中，分界火土，兼修以應三焦，主半寒半熱，外通四大𦙀門，周流一身；反則主壅塞之症，卻向中宮掐之，則元氣周流，通壅塞之患也。第五白筋，乃濁陰屬金，以應肺與大腸，主微涼，外通兩鼻孔；反則膈胃脹滿、腦昏生痰，卻在界後掐之。第六黑筋，乃重濁純陰，以左腎與膀胱經，主冷氣，外通兩耳；反則尫羸、昏沉，卻於坎位掐之。此六筋掐法也。內熱外寒掐浮筋，作痛掐陽筋即出汗，諸驚風掐總筋，作寒掐心經筋即轉寒作熱，掐陰筋轉內熱，外寒掐腎經即止。此六筋掐法，修之於斯也。</p>
<p>又有掐足法：凡男左手右足，女右手左足。掐大敦穴，治小兒厲爪驚；本穴掐之，就揉解谿穴，治小兒內吊驚，往後仰；本穴掐之，就揉中臁穴，治小兒驚來；掐之就揉湧泉穴，以治小兒吐瀉。本穴掐左轉揉，吐即止；右轉揉，瀉即止。左轉不揉，瀉；右轉不揉，吐。男依此，女反此。僕參穴治小兒腳掣跳，口咬。本穴就揉左轉治吐，右轉治瀉。又驚又吐又瀉，掐此穴及足中指有效。豕山穴治小兒氣吼；本穴掐，就揉委中穴，兒望撲掐此。</p>

<h1>小兒諸驚推揉法</h1>
<p>應病諸法作用以成一手法。如因酒食無度、勞郁傷神，以至四肢作冷，口含母乳一噴一吐，肚上青筋氣急，此係心經有熱。推三關五十，推天河水二百，退六腑一百，運八卦一百，運五經、水裡撈月五十，用火胸前六醮，小便頭上掐一爪，用蛇脫回足纏之即好。如因暈，腥熱炙脾胃，頭亂舞，因風受熱。推三關一百，推肺經一百，運八卦五十，推脾土一百，運五經七十，推天河水二百，水底撈月、飛經走氣二十，天心穴掐之，二筋一掐，即用燈火手足、肩膊上一醮，喉上一醮，喉下三醮，臍下一醮。如因生冷過度，乳食所傷於五臟六腑，大寒吐嘔，身軟唇白，即是六腑寒，乳食傷食。三關三百，分陰陽二百，推脾土一百，推四大二百，黃蜂五十，撈月十六，二扇門，將手心揉臍及龜尾五十，男左女右，將燈火炙之夾車一醮，更推背心。如因失飢傷飽，飲食不納，脾胃虛弱，遍身熱，氣吼口渴，手足常掣，眼紅。推三關一十，推肺經二百，推脾土一百，運八卦、分陰陽一百，二扇門二十。若出汗後，再如退六府二十、水底撈月二十。如因生冷太過，或迎風食，血經變或痧行遍身，四肢黑，青筋過臉，肚腹膨脹，唇黑，五臟有寒，皆因好食涼物。推上三關二百，推脾土□百，二扇三十，運八卦一百，四橫紋五十，黃蜂二十，分陰陽三十，將手心擦臍五十，用燈火青筋縫上七醮，背亦斷青紋更妙。又將黃土一塊，碗研為末，七醋一盅，鍋內炒過，將手袱包，在頭上過，下推入腳，用針刺破，再用燈心火手腳四心斷之。如因吃食時受嚇，或吃冷物以傷榮衛，大叫一口，一死眼閉，一掣一跳，開口即是被嚇，心經有熱。推三關三十，清天河水一百，補脾土一百，清腎水五十，運八卦一百。天門入虎口，操𦙒肘，用大顛門，口角上下、肩膊、掌心、腳跟、眉心、心窩、鼻各一燋。或用老鴉蒜曬乾，燒為末，在心窩揉之。如因寒受驚，風痰結湧，乳氣不絕，口吐白沫，四肢擺，眼翻，即是因寒受嚇，肺經有病。推三關一百，推肺經一百，推天河五十，按弦擦摩運五經三十，掐五指節三十，囟心上用燈灸四燋，口角上下各一燋，心演、臍下各一燋。如因傷食於脾土，夜間飲食大過，胃中不能克化，氣吼，肚膨青筋，眼喎一百，運八卦五十，分陰陽五十，將手操臍五十，按弦法擦摩精靈穴一百，青筋經上用燈四燋。如瀉，豬尾骨上一燋。若吐，心窩上下四燋。腳軟，鬼眼一燋。手軟，曲池一燋，側拐又一燋。頭軟，天心一燋，臍上下各一燋。若不開口，心窩一燋。如因食甜辣之物，耗散榮衛，臨睡啼哭，心腋掣跳，哭不出，即是被嚇，心經有熱。一推三關一十，清天河二百，退六府一百，分陰陽五十，清腎水五十，水裡撈月五十。如到晚昏沉，不知人事，口眼歪斜，手足掣跳，寒熱不均，推三關五十，退六府五十，補脾土五十，掐手指五十，分陰陽十，按弦法擦摩十。如因食生冷積毒，以致傷胸肺，中有風痰裹心經、心絡之間，手掐拳，四肢掣跳，口眼歪斜是也，受嚇感風，推三關二十，推脾土二十，推肺經五十，運八卦，推四橫紋五十，運五經二十，猿猴摘果二十，掐節三次，後用燈心斷鼻梁、眉心、心演、總筋、足鞋帶，以生薑□□□□□□□□□□□。如因□□之間受其驚搐，脾經有痰，咬牙、嘴歪眼斜、四肢掣跳、喎間迷悶，即是脾腎虧敗，久瘧被嚇，非一日之疾。推三關一百，補脾土二百，推肺經二百，運八卦五十，掐五指節一十，天門入虎口，揉鬥肘一十，赤鳳搖頭二十，運五經三十。此驚難救，掐住眉心，良久便好。兩太陽、心窩用潮油推之，用火上下手足各四燋。如因臨產下，風入臍中，口吐白沫，四肢掣動，掐拳偏眼是也。推三關一十，推肺經一十，將燈火臍上七燋，大指節各四燋，囟門四燋，喉下、心間各一燋。如因飲食或冷或熱，傷於脾胃，失於調理，冷痰湧於肺經，四肢後仰，哭不出聲痰，向後伸是也。推三關一百、赤鳳二十，推四橫紋三十，推脾土二百，補腎一百，運八卦一百，分陰陽二十，腳膝上四燋，青筋縫上七燋，喉下三燋，將內關掐之。如因父母同處，與之□處，乳食所傷，風痰經於胃口，手足向後，即是肺經□□。推三關五十，推肺經一百，推脾土一百，補腎水五十，分陰陽一百，飛經走氣十，囟門用燈火四燋。</p>
