<header data-type="book">
<h1>谷蓀醫話</h1>
</header>

<h1>序</h1>
<p>余識戴谷蓀先生時，方任職故鄉。先生館族弟心齋家，為之作畫。余乞其寫孤桐館圖，圖成，報以長歌。後先生僑寓南通，余適再至，壬申歲寒，先生疾作，余自如皋師範休假回通聞訊，於癸酉正月初訪之。先生自然病在本原，又畏桂附，不敢輕服。余勸服小青龍湯加石膏，先生喜日：「非君子不能為余定此議也。」越二日，再訪之，示余方，已列復乙去。述病狀，表邪未解，唯動則氣高而喘，此補中益氣湯證也。然以用參耆為疑，余謂參可服，意似不為然。別後數日，凶問至矣。雖其根柢已空，藥難再造，然益氣存津，皆當時所宜顧及，乃瞻顧遲迴，至於不救。其神智已乖，中無樞宰耶？抑存亡呼吸，矜慎太過，而果決難也。蓋中醫雖喑合於科學，無解剖化驗以為佐證，行之而不能知之，見效而不能聞其所以效，日以倘恍迷離之談角訟，如蜂屯蟻聚，而無以折衷。學者窺研愈富，惑且滋深，閤中西溝通，有政府主持，必能日趨切實醫理、藥理，徵諸自效，必有確然可信，而不至於滋惑者，可預測也。自昔中醫臨證，缺乏病歷及統計，惟醫案醫話，尚存其略，可資參討，戴先生著有《谷蓀醫話》二卷，友朋將謀刊布，而囑序於余，因述廿年前之舊事，復於醫學昌明，寄無窮之望，不欲以疏庸垂老，學殖荒蕪，而謝不敏也。</p>
<p><u>公元一九五五年四月東臺蔡觀明</u></p>

<h1>戴君谷蓀生平</h1>
<p>戴君谷蓀，字毅孫，別號缺庵，休寧諸生，東原先生之族，僑居泰興，詩文奇肆，若君不可一世，嘗以鬼才自負。畫入四王之室，蒼秀研潤，書味盎然。故精醫術，所為醫話，融會古今，折衷一是，非是拾人唾餘，亦筆記小說之一種，可資談助。君貌寢，不逾中人，庸衣凡帽，閉戶攻苦，恥事幹渴。晚病聾，遊如皋，為沙健庵推重，沙歿，蓋侘傺，寓南通鬻畫數年，與余輩莫逆，鮮有知其能醫者。友人某秋病寒熱，嗣便結半月，更數醫不效，介君診視，斷為肝木犯胃，一藥而愈。病家有延之者，輒著奇效。以一九三三年癸酉正月十五日，客死，年五十六。妻洪，前卒。子一，名蓉生，稿多散佚，詩四卷，生前為友好刊行，醫話二卷，君生而奇窮，歿又不及中壽，予曾為聯哀輓之：</p>
<p>「東坡哭李臺卿嘗云：生前既莫識。已死復誰吊，如是，如是；山谷題貧樂齊有詠：鳥烏窺凍硯，星月入幽房，鳥乎，烏乎！」</p>
<p>為並錄之，以存永念。</p>
<p><u>南通　瞿鏡人書於海上</u></p>

<h1>谷蓀醫話（卷一）</h1>

<h2>壽命短長</h2>
<p>壽命短長，各有定分，然於職業亦有關係。某報述英國新志之說，謂人與壽命，最短者，客棧之茶房及大餐房之侍者，平均一年間，死亡之數為千分之二十三；其次賣酒者，為千分之十八；其次掃除修築煙囪者，屠牛者，為千分之十四弱；其次制鉛工匠，泥水匠，漆匠，為千分之十一；其次制面包者，為千分之十點零五；其次礦夫，為千分之九零九。最強壯長壽者，大概為屋外辦事之人，即以花匠、園丁為第一，其死亡之數，不過千分之五云。按此即《內經》生氣通天之理。天之空氣，即人之生原，壽夭視吸受之多寡而分，花匠、園丁吸受空氣最多，故壽命最長；茶房、餐房之侍者，所受空氣最不鮮潔，故壽命最短。觀此可悟衛生之術。又按張景岳京師水火說，謂燕京房屋，當開頂隔，以透空中所爇煤氣。余謂此論尚未完備，以其僅知煤氣之害人，不知空氣之養人也。至謂窗隙不如頂隔透氣之速，則尤不然。蓋熱氣漲則上升，他處冷空氣必自旁入，以填其空隙，故開頂隔以透碳氣，仍需窗隙以納空氣，方見二氣互換出入之妙。</p>

<h2>形色</h2>
<p>朱丹溪云：「凡人之形，長不及短，大不及小，肥不及瘦。蓋人生全賴陽氣。短小而瘦者，氣勝形；長大而肥者，形勝氣也。」又云：「人之色，白不及黑，嫩不盡蒼，薄不及厚，蓋色生於色油，色油即中醫所謂陰液，色黑蒼厚者，陰必旺，色白嫩薄者，陰必虛也。」然有形色相符者，有形色兩歧者，如短小瘦之人，又見黑蒼厚，則為陰陽兩旺；長大肥之人，又見白嫩薄，則為氣血兩虛，此形色相符者。如長大肥而見黑蒼厚，又為強健之徵；短小瘦而見白嫩薄，又為早衰之質，此形色兩歧，當舍形而從色者也。形以驗其陽，色以觀其陰，陰陽雖並重，而陰實為陽之根。陰旺陽亦旺，故黑蒼厚之人，不患其長大肥，如充盈之家，支用不妨干浩繁也。陰虛陽亦虛，故白嫩薄之人，無取乎短小瘦，如貧乏之家，雖節儉猶苦不足也。</p>

<h2>嗜欲不同</h2>
<p>孟子曰：「口之於味，有同嗜也。」然有不盡言者，如文王嗜菖□，武王嗜鮑魚，楚王嗜芹葅，屆至嗜芝，曾督嗜羊棗，劉邕嗜瘡痂之類，此豈可以概諸人人。又如我國人之嗜臭豆腐、臭鹹蛋，西人之嗜臭雉，波斯人之嗜阿魏，俄人之嗜醃菜、臭北墨，愛斯及母人之嗜魚油臭，爪哇人之嗜土，羅馬人之嗜昆蟲，皆不可以常理者。故《內經》曰：「嗜欲不同，各有所通。」西諺曰：「惟味與色，不可理釋。」此之謂也。夫臭味之與嗜好，且難強同，而況氣性之於體質，又安能強合耶？孔子，聖人也，動為世法。而王潛齋醫藥所載，竟有學孔子不撒姜食而致危者，孔子且不可學，況其他乎？《居易錄》云：「江南蕭某，食香蕈則死。又有王生者，飲茶則死，必二、三日始蘇。而潛齋又親見食鱉則醉，飲蔗則衄，啖海參必發熱者，食物且然，而況乎藥？」今之醫者，不明體質之陰陽，風土之強弱，以一時偶驗之方，視為定法，以個人賦稟之偏，視為通例，擔頭鬥火，篋里盤冰，欲圖十全，豈不難哉？</p>

<h2>養老</h2>
<p>人身百體，必有部分，而為之連絡於其間者，血管也。《靈蘭秘典論》曰：「使道閉塞不通，形乃大傷。」使道為何？即是血管，血管不啻，則百體失其功用，而知覺、運動於以廢止，故血管不啻交通之輪電也。而血球即其裝運之貨物也，貨物缺乏，則求接濟干飲食，飲食入胃，以其滋養分，輸入血管，化而為血，以循環於周身，除舊布新，以生以長者也。雖然血管之接濟，由於飲食，血管之壅塞，亦由於飲食，此事從未有知之者。英人愛凡司著《延年益壽論》發明土性鹽類，令人變老之質，其說最為明悉。謂人之變老，皆因飲食中含土性鹽類，日積月累，充塞血管之中，使之變硬，變細，變無，因此百骸皆失其用，而人以死。故人年愈老，血管愈細，必稀血，物如水果等，方易通入。而各酸又能滅身中熱度，以免養氣之侵削，自可延年而益壽，其意欲人單食水果，事雖不可行，而言不為無理。朱丹溪言：老人當茹淡，香辣甘膩皆能助火。夫香辣助火，人所知也，甘膩只是難化，何以亦能助火？豈非以血管變細，甘膩之物不能流通，故鬱而為火耶？蘇東坡曰：「人能淡食而徐飽者，當有大益。」李祠部曰：「食欲得少而數，不欲頓而多，此於養老為宜。」蓋淡食則無壅滯之患，少食則省消化之力，既易消化，又無壅滯之患，則百脈常通，生機不壅，縱不能長生久視，亦可以終其天年矣。</p>

<h2>精神治療</h2>
<p>莊子曰：「醉者之墜車，雖疾不死，骨節與人同，而犯害與人異，其神全也。」淮南子曰：「執獄牢者無病，罪當死者肥澤，刑者多壽，心無累故也。」神全而心無累，真攝生之妙訣，《芷園臆草》載沈君魚病，無他恙，只是畏死，令參禪而愈，即神全而心無累之效也。《福建通志》劉菽，邑諸生也，因善病學醫，醫多奇中，嘗自言負病時獨居一室，設木案置瓦瓶食器，雞飛其上，器輾轉欲墜地，不為動色，於是療者曰病可治。故其為醫也，亦以此法愈人，此亦神全而心無累之說也。催眠術家言，人之惡念，由別善惡筋而發，能阻天君筋之作用，用催眠術令別善惡筋不用事，則天君筋所發命令，全身奉為神明，故醫學家利用之，而成精神治療之法。昔耶蘇呼跛者起、癲者愈，即是此術，此與全神養心之說，其理自通。</p>

<h2>天然復元</h2>
<p>喻嘉言曰：「善調身者，身中自有大藥，非草木所能仿其萬一。」英人稻惟德曰：「退病復元，全賴自然之力，非獨以藥見功。毫期之年，功用皆失，雖有妙藥靈丹，亦不能延年而益壽。」可見人身自有調攝之機，足以驅除疾原，而醫藥猶其後焉者也。昔張隱菴患胃癰，用運氣法使毒從腸胃而出，是形質變壞，尚能自為修補，況氣化間病乎？尹端模《醫理略述》，謂人身有天然復元之法，自是至論。然則補法可盡廢乎？是又不然。人受天地之中以生，陰陽不可偏勝，有偏勝斯有不足，於是有補養之法，然必適可而止，不可太過，過則復為有餘，亦非中道也。據此則所謂補養者，不過救偏之一助，苟無所偏，何藉乎補。</p>

<h2>虛</h2>
<p>徐洄溪曰：「病去則虛者亦生，病留則實者亦死。」其言病之不宜妄補也。然病留而實者，固不宜補；病去而虛者，豈一概禁補乎？孫真人曰：「凡病服利湯得瘥者，此後慎不中服補湯也，若得補湯，病勢還覆成也，更重瀉之，則其人重受弊也。如初差氣力者，未甚平復者，但稍息之，須服藥者，當以平藥和之。夫極虛癆應服補湯者，不過三劑即止。」此即病去而虛者之補法。又云：「夫常患虛之人，不妨行走，氣力未衰欲得補益，冷熱隨宜，丸散者可先服利湯，瀉除胸腹中擁積痰實，然後可服補藥。」此又先去其實，後補其虛之法。與《石芝醫話》謂以自鳴鐘比人身氣血周流最為切肖，大鐘之停擺，機械附鏽也，磨擦運動，則鏽去而機自靈，人身亦然，但去其病，何慮其虛。故補齋云：「人有以虛為貴者誠見道之言。如腸胃不虛則不納，九竅不虛則不靈，經隧不虛則不通，病去則虛者亦生，孰知其生也，正以其虛乎。」張子和曰：「良工治病，先治其實，後治其虛，亦有不治其虛時。」又曰：「人知下之為瀉，而不知不補之為補。陳莝去而腸胃清，病瘕去而榮衛昌，不補之中有直補者存焉。」真名言也。</p>

<h2>貴賤異治</h2>
<p>《避暑錄話》云：「古方施之富貴人多驗，貧下人多不驗；俗方施之貧下人多驗，富貴人多不驗。」蓋富貴人平日自護持甚謹，其疾致之必有漸，發於中而見於外，非以古方術求之不能盡得。貧下人驟中於寒、暑、燥、濕、飢餓、勞逸之間者，未必皆真疾，不待深求其故，苟一物相對，皆可為也。而古方節度，或與之不相契，予按膏粱藜藿，本不同治，載於《內經》，然亦不過強弱之分，虛實之異。如同補藥，富貴人十劑有效者，貧下人一劑足矣；同一瀉藥，貧下人倍劑有效者，富貴人半劑足矣。必謂富貴人宜古方，貧下人宜俗方，則非也。蓋富貴人所延診者程度略高，稍有涉獵；貧下人所延診者知識庸淺，粗解藥性，人見其各著治驗，遂謂富貴人宜古方，貧下人宜俗方，過矣。且以吾所經驗者言之，古方則宜於貧下人，而不宜於富貴人，與彼所言適得其反。蓋一病有一病之兼症，病所同也，證所獨也。古人相病立方，其兼證之千頭萬緒，古人無以預測，而富貴人最多兼證，當其未病之先，已有種種虧虛之地，留隙召邪，實非古方所能兼顧；貧下人臟腑兼顧，一病但有一病之主方，病去而體自復。嘗見一種粗工，以《傷寒》成方混治鄉人四時雜感，有時亦收捷效，職是故耳。</p>

<h2>愈病非難</h2>
<p>《內經》云：「上工十全九，中工十全七，下工十全六。」可見醫無十全，而下工亦多詭遇也。又云：「妄治時愈，愚心自得。」又「雷公有不可治之證，粗工下砭石而愈。」帝曰：「譬以鴻飛亦衝於天。」可見愈病非難，知病為難，讀倉扁之傳，乃知所重在彼不在此，淮南子曰：「所以貴扁鵲者，非貴在隨病而調藥，貴在□息脈血，知病之所從生也。」不知病所從生，縱能治愈，皆是偶中。孫真人云：「一百一病，不治自愈；一百一病，須治而愈；一百一病，醫治難愈；一百一病，真死不治。」又曰：「凡病五臟未虛，六腑未竭，血脈未亂，精神未散，服藥必效。若病已成，可得半愈；病勢已過，命將難存。」夫病之未成者，雖下工為之而有餘，不必其方之果善也，但陰陽虛實大致不誤，以一二對證之藥投之，皆能獲效，即不效亦不致死，徐洄溪所以有誤藥不死之論也。如其病已成，非上工斷不能為，如病勢已過，雖上工亦無所施，而上工不常有，即有亦不易致，非已成已至之證，不即延治，故上工無赫赫之功，而反多求全之毀，洄溪所以有名醫不可為之論也。</p>

<h2>據理之與經歷</h2>
<p>有據理為治之醫，有經歷為治之醫。據理為治者，先明其所以然之理，以之施治，其效可以預卜，程子謂醫不讀書，縱成倉扁，終為技術之流者，以不讀書則處理不明故也。經歷為治者，如古今所傳，驗方秘訣但從經驗而來，不拘常制，而至理相感，雖聖人有所不能測，《禮記》謂醫不三世，不服其藥者，以非三世則經歷不多故也。考古方書，從經歷而得者居多，其效往往駕據理者之上，惟其方浩如煙海，有倉猝尋求按要難得之苦，更有證出希奇，人難習見，非平時博覽，何以應變於臨時。觀《吳醫匯講》中《醫宜博覽論》所載，如截腸（其症大腸頭忽出寸許，痛苦難忍，干則退落，又出又落）出於夏子益奇方（其法以臀坐浸於芝麻油內，再日飲麻子汁數盞，不數日即愈）。虜瘡（其症驟然周身發泡、流水，皮膚毫無空隙）載於彭用光《普濟良方》（雲系建武中南陽擊虜所得，與此症情悉合，須得蜜煎升麻拭摩，若不即療，數日必死），證皆不習見之證，書皆不習見之書，非博聞強記，孰能識別。至青腿牙疳一證，載在《醫宗金鑑》，而當日外科無人或識，眼前之書且不知閱，況其它乎？（道光中，江陰有吳士瑛者，字俯恬，予家有其所著《痧疹論》抄本頗佳，自述少時見一小兒患溫邪咳嗆漸止，喘促胸高，聲如曳據，久治不愈。吳不識為何病，有周某曰：「非馬脾風乎？」詢伊方治，則云：「忌之」。囑其檢書又未查出，越兩日，遂不起，後得大驚散，牛黃奪命散，四將軍散等法，因悟土鬱奪之，金鬱治之之理，始嘆醫貴博覽，悔不早知此方。筆之於書，引為恨事焉。扁鵲有言「人之所病病疾多，醫之所病病道少。」醫豈易為哉！</p>

<h2>調氣</h2>
<p>喻氏有人身元氣，專與人身為難之說。徐忠可注《金匱》諸毒，多是假毒以損元，謂一試之毒何能殺人，乃假些微毒氣滲入，元氣反為毒氣作使，至不可療，是元氣可以化病氣也。鄒潤安謂凡藥所以致生氣於病中，化病氣為生氣，所著《本經續疏》一本此旨，是病氣又可以化生氣也。有人但知補元氣，乃有元氣未復，而病氣加甚者；但知去病氣，乃有病氣未去，而生氣先漓者。誠知元氣可以化病氣，病氣可以化生氣，則於調氣之道，思過半矣。</p>

<h2>古聖賢識藥</h2>
<p>孔子：「某未達，不敢嘗。」則其所取嘗者，必其所以達者也。其素悉藥性可知，大抵古聖賢類能識藥。芣苡治難產，載在《毛詩》（吳茭山記一婦難產，用車前為君，冬葵子為臣，白芒、枳殼為佐使，已服午產，眾異之，吳曰：「本藥謂催生，以此為君，《毛詩》採芣苡以防難產。」）蠐螬治失明，載在《孟子》（陳氏經驗方云：《晉書》盛彥母氏失明，躬自侍養，母食，必自哺之。母既病久，至於婢使數見捶撻，婢忿恨，伺彥他出，取蠐螬炙進之，食以為美，然終疑是異物，密藏以示彥。彥見之，抱母慟哭，絕而復甦，母目豁然，從此遂愈。」孟子曰：「陳仲子豈不誠廉士哉！居於陵三日不食，耳無聞，目無見也。井上有李，螬食實者過半矣，匍匐往，將食之，三咽後耳有聞、目有見。」）《本草》云：「蠐螬汁滴目中，去翳障。」余在曲江有將軍以瞽離軍，因閱《晉書》見此，參以孟子之言，證以本草之說，呼其子俾羞事而供，勿令父知，旬日後，目明，趨庭申謝。因錄以濟眾，此等單方，不但經生不知，即專門醫學，亦鮮能採用。</p>

<h2>輕藥愈病</h2>
<p>徐洄溪《輕藥愈病論》謂病之不治自愈者，自以不服藥為中醫，如不治難愈，或竟不愈，固當服藥，乃不能知醫之高下，藥之當否，不敢以身嘗試，則莫如採平易輕減之方，以備酌用，小誤亦無窖，對病有奇功，此則不止於中醫矣，真閱歷有得之言，在洄溪原為病家說法，非為醫家立訓，予以為醫家亦不可不知。世稱繆仲淳治病，於本草擇用五六十種無過之藥，屢獲奇驗，無以多為，殆深知輕藥愈病之理者。蓋以輕代重，古人本有此法，《褚氏遺書》云：「用藥如用兵，用醫如用將。善用兵者，徒有車之功；善用藥者，姜有桂之效。」又云：「世無難治之病，有不善治之醫；藥無難代之品，有不善代之人。」丹溪云：「予每效仲景立方，效東垣用藥，蓋立方之妙，無逾仲景，而藥則東垣為平易也。」然如後世畏麻、桂之猛而用羌、獨，畏硝、黃之峻，而用曲、查，此則如騎劫之代樂毅，趙括之代廉頗矣。故輕藥愈病，並非苟為便易者所得藉口也。</p>

<h2>病因藥成又隨藥變</h2>
<p>藥以治病也，然不治者，病反因藥而成。趙養葵云：「咳嗽吐血，未及成瘵也，服四物、知柏之類不已，則瘵成矣。胸滿膨脹，悒悒不快，未必成脹也，服山查神麯之類不止，則脹成矣。面目浮腫，小便秘澀，未必成紅也，服滲利之藥不止，則水成矣。氣滯胸塞，未必成噎也，服青皮、枳殼寬快之藥不止，則噎成矣。」又有本非某病，妄作某病治者，病又隨藥而變。張石頑云：「嘗見一人患項腫發熱，延傷寒家視之，則曰：『大頭傷寒以表藥發之，頭亦脹，確乎大頭無疑矣。』易延雜症家視之，則曰：『濕熱痰火，以里藥攻之，頭與項前左半皆消，但項後右側偏腫，則確非大頭而為雜症矣。』更延癰疽家治之，則曰：『對口偏疽，以托裡敷外藥治之，則氣血阻遏，竟成潰瘍矣。』」古語不藥為中醫，殆有鑑於此歟。</p>

<h2>一者因得之</h2>
<p>曹仁伯《繼志堂醫案》遇病機叢雜，治此礙彼者，每合數方為一方，自謂周到，不知此正許胤宗所謂絡原野，術之最疏者也。《內經》曰：「一者因得之。」言病雖萬變，而推求至理，必歸於一，舉一可以賅萬，否則治絲而夢也。古人中如劉河間專主火，王中陽專主痰，朱丹溪專主氣血痰鬱，王清任專主瘀血。其用方也如易思蘭只一越鞠丸，趙養葵只六、八味，薛立齋只二味補中，魏玉璜只一集靈膏，此余皆非中道，然較救頭救腳之醫，則又勝於彼，但不可與淺人言耳。</p>

<h2>上下寒熱不同</h2>
<p>病有上寒下熱者，有上熱下寒者，不得不分頭醫治。求之名人，皆有妙法，嵩岩專主治上寒下熱，用炒瞿麥引上寒以下降；炙草、蔥姜推下熱以上行。陸養愚治一人素患腸風便燥，又因過食生冷致胃脘急而痛，溫之則腸紅如注，涼之則心痛如刺，此所謂胃中積冷、腸中熱也，治之以潤腸丸，沉香為衣，薑湯送下。血減便利，心口未舒，治之以臟連丸，亦用沉香為衣，薑湯送下，以清下熱而潤燥。又用附子理中料為散，飴糖拌吞，取其戀膈以溫中，此治上寒下熱之大法也。張銳治一虛後既患大泄，又患喉痹，兩症並見，治此礙彼，為用理中丸裹紫雪，喉痹非寒藥不可，泄瀉非理中不可，紫雪下咽則消釋無餘，得至腹中，則附子藥也。陳遠公用醋調附子，或面調茱萸，貼湧泉穴以引火歸元，然後以大劑六味地黃丸與之。治虛火上騰，誤用寒涼，喉閉而又腹瀉之證，此治上熱下寒之大法也。進觀《傷寒論》立瀉心湯、黃連湯、乾薑黃連黃芩人參湯，白通加豬膽汁湯，四逆加豬膽汁湯，其於上下寒熱不同之治，尤粲然大備，化而裁之，遊刃及餘地矣。</p>

<h2>藥味相反</h2>
<p>一人患砂淋，醫以昆布、海藻與甘草並用，其所親某以藥味相反為疑，醫引東坡說為證，已而病者服藥，竟大吐不受，轉方去甘草始安，某竊喜自負達藥，以告余，余曰：「予知其一，未知其二，余曾治一乳岩，以昆布、海藻與甘草並用，病家亦以為疑，然服之競效。大約要看病在何部耳，病在上、中二部，非與甘草並用不可，甘草緩中，能緩昆布、海藻，不令直過病所，俾得稽留以成功。東垣治結核用此法，正是此意，若病在下部，正須令其速達病所，乃以甘草緩之，反令未病之人，無辜受累，其不能容受而致傾吐，宜矣。」某乃歎服。</p>

<h2>藥味相合</h2>
<p>程子曰：「醫不論理，則處方論藥不盡其性，只知逐物施治，不知合和之後，其性又如何？假如訶子黃、白礬白，合之而成黑，黑見則黃、白皆亡。又如一、二合而為三，三見則一、二亡。離而為一、二，則三亡，既成三，又求一與二，既成黑又求黃與白，則是不知物性。」沈存中曰：「水銀得硫黃而赤如丹，得礬石而白如雪。酸無過於醋，益之以橙，二酸相濟，而反甘；巴豆善利，益之以大黃，則其利反折；蟹與柿嘗食之而無害也，二物相遇不旋踵而嘔，此色為易見，味為易知，而嘔利為大變，故人人知之，至於相合而至他臟、致他疾者，庸可知耶？」按此，即汽質、流質、定質，加熱減熱，三質遞變之法，與兩物交感化合之理。《內經》所謂制則生化也，若令二公潛心醫學，當必另有發明，豈各家本草，逐件分注者所能比擬！予按古說，大黃、甘草同用，能利小便；麻黃、熟地同用，但開腠理，而無滯膩發散之弊；茱萸、黃連同用，能消肝氣鬱痛；肉桂、黃連同用，能交心腎於頃刻；茯苓得白朮則補脾，得車前則利水，得澤瀉則滲濕；黃耆得防風其功愈大；青皮得芥子，治右脅痛；附子不遇乾薑，雖通經絡而不熱；肉桂不入腎，以澤瀉引之則入。絳雪園《得宜本草》，於此獨為詳備，不可不究心焉。</p>

<h2>以意用藥</h2>
<p>中藥辨氣味，西藥辨原質，比而觀之，西醫徵諸實，中醫遁於虛，然實者有時窒礙而難於行，虛者常若靈變而難測。嘗閱古方，竟有以意用藥，並氣與味亦不深辨者。三深叔云，醫藥治病或以意類取，如百合治病，似取其名，嘔血用胭脂、紅花，似取其色；淋瀝結滯，則以燈草、木通，似取其類，意類相假，變化感通，不可不知其旨也。東坡云：「歐陽文忠嘗言，有患疾者，醫問其得疾之由，曰乘船遇風，驚而得之。醫取多年舵牙、為舵工手汗所漬處，刮木雜丹砂、茯神之流，飲之而愈。《本草》注引《藥性論》云，止汗用麻黃根節及古竹扇為末服之。文忠因有醫以意用藥，多此比，初似兒戲，然或有驗，殆未易致潔也。予因謂公以筆墨燒灰飲，學者當治昏情耶，撫此而廣之，則飲伯夷之盥水，可以療貪；食比干之餕餘，可以已佞；舐樊噲之盾，可以治怯；嗅西子之珥，可以療惡矣。公遂大笑。」按顧曉瀾《吳門治驗錄》治痰迷心竅，所讀之書皆不記憶，用茯神、遠志、陳、半、菖蒲、膽星、珍珠母、甘草，而以惜字爐灰煎湯代水煎藥服之獲效。觀此則筆墨灰治昏惰亦或有之事歟？</p>

<h2>地黃</h2>
<p>熟地黃，中古以前鮮用，《神農本草經》只有乾地黃，且云生者尤良。至唐以後，始有熟地之制。地黃本是血藥，惟生用則性涼而滑利，熟則膩滯而不涼。血貴流行，故熟地未敢浪用。張景岳喜用熟地，當時有張熟地之稱，此醫之偏者也。近有人謂熟地內含鐵質最多，為補血要藥。予謂質本生成，不以生熟而異，若以氣味論，則生者獨優，不可漫無分別。至景岳所制左歸飲加減，一陰煎等方，皆重用熟地，無知妄作久為識者所譏，而或乃以治肺癆，真殺人之事也。肺癆皆緣傷風而起，《內經》謂勞風，法在肺下，諺云：「傷風不醒變成癆是也。」治法極為繁難，非粗工所能措手，若用熟地困住風邪，輕病必重，重病必死。在稍明醫理者，類能言之，而今之著書者乃全然不省，何歟？《千金》制熟地黃法，乃別采地黃搗汁，揀其肥者，蒸暴以汁盡為度。《傳信適用方》有《八味圓問難》，其制地黃法，乃取地黃生者，去土投水中，浮者為天黃；中者為人黃；沉者為地黃。先將地黃蒸良久，天黃、人黃搗汁，取蒸地黃，投其汁中，候冷，如此者三，曝乾，以酒浸一宿，蒸，曝乾。」此等製法，今無有知者矣。</p>

<h2>附子</h2>
<p>《傷寒論·太陽篇》證象桂枝，誤加附子而亡陽者，先用甘草乾薑湯回其陽，繼以芍藥甘草湯救其陰，後以承氣湯止其譫語。今人但知附子為回陽之品，孰知誤用反能亡陽乎！亡陽者以附子回陽；因誤服附子而反致亡陽者，又當以乾薑回陽。古人言附子行而不止，乾薑止而不行，改制附子之行，必用乾薑之守，此又用藥之權衡，救誤之妙法也。此節解者多誤，故論正之。</p>

<h2>當歸</h2>
<p>張景岳謂：「當歸，營虛而表不解者，佐之以柴胡、麻、桂等劑，大能散表。」《景岳發揮》譏之曰：「若講當歸發汗，此岐黃後出之語。」予按《醫存》載一僕人，冬月傷寒頭痛，午熱無汗，發之三日不解，六脈沉細，以當歸三兩煎服，自愈。又一行商傷寒，發汗不出，用當歸四兩得汗。《醫存》云：「當歸能溫血，血溫則汗出。」此與王海藏論精敞發汗，是調血而汗自出同理。《傷寒論》云：尺中遲，故不可發汗，以營氣不足，血少故也。夫血少不可發汗，而病又非汗不解，治術不幾窮乎？本論既主方治，而景岳大溫中飲，補血散寒，滋陰發汗，正可補仲景所未備，王孟英治婺人羅無奎陰虧傷寒，脈虛細已極，用景岳法，以熟地、當歸、白芍、炙草，桔皮、柴胡為劑，一劑而瘳，景岳固未可厚非也。</p>

<h2>川芎</h2>
<p>東垣曰：「頭痛須用川芎」，丹溪曰：「氣鬱須用川芎」，又曰：「血不歸元，久服藥而無效者，以川芎為君，則效。」予按川芎氣味辛溫，辛能散氣，溫能行血，氣血諸病之因於寒者，服之有效。東垣《本經》主治中風入腦頭痛、寒痹筋攣、緩急金瘡、婦人血閉無子。寒痹寒字可賅諸症言，蓋痹有寒熱二候，此專治寒痹，則知其餘主治諸症，亦皆屬寒，今不問證之寒熱，但見頭痛、氣鬱、血不歸元，概以辛溫從事，則痛者愈痛，郁者愈郁，溫者愈溫矣。沈括《夢溪筆談》言，久服川芎令人暴死，豈非以辛溫、香竄、耗散真元耶！西醫論頭痛有腦積血與腦欠血之不同，積血為實，欠血為虛，實者責其血之不降，虛者責其血之不升。川芎辛溫，血不升而虛者，借為引用，因自有效；血不降而實者，用之不致腦脈爆裂不止。《筆談》所載暴死證，雲系腦風，以予臆度，當是血不得降之實證，久服川芎，腦脈爆裂，故死必猝暴耳。</p>

<h2>石膏</h2>
<p>古之石膏產琅琊山，經雷雨後，土中爆出，如雞子大，辛涼之中寓升發之性。今之石膏非復漢唐時物，故功力較遜，且有以方解石當之者，觀《錢氏直訣》知宋時已然。近有人謂石膏毫無功用，不堪入藥，非所論於古之石膏也。丹溪云：石膏火煅，細研，醋調，封用爐，其固密甚於脂，苟非有膏，焉能多用，此兼質與能而得名者。又觀西醫用石膏塗抹布條，裹紮折骨等證，灑水變硬，使骨不移動，非有膏漿焉能灑水變硬，據此，則後世石膏，雖非漢唐時物，究非灰石一類可比，其止渴去火，解肌、出汗之力，自不可及。白虎證死生在反掌之間，苟非重用石膏，必無挽回之理，然證情善幻，有血虛象白虎證，有氣虛象白虎證，誤用石膏必死。血虛象白虎證，肌熱、燥熱、困渴引飲，其脈洪大，重按全無，此血虛發熱之證，東垣以當歸補血湯治之。氣虛象白虎者，如丹溪治鄭義門，秋間大熱口渴，妄言妄見，脈洪數而實，視其形肥，面赤帶白，卻喜露筋，脈本不實，涼藥所致，與黃耆附子湯飲之，三帖後，困倦鼾睡，口微汗而解，脈亦稍輕，繼以耆朮湯調治而安。按東垣所辨，在脈洪重按全無，是脈虛、血虛之驗，丹溪所辨，在形肥、面帶白色，是素稟陽虛之徵，且二證皆無汗，故知非白虎證。《傷寒論》云：「發熱無汗，其表不解者，不可與白虎湯。」徐洄溪云：「無汗二字，最為白虎所忌，用方不可不知。」陳士鐸云：石膏辛散之味，雖然去火，而勢過猛裂，實能爍盡真陰，大熱之際不得已而用之，過則真陰反耗，而火仍復沸騰。予觀《薛氏醫案》有誤服石膏，七竅流血者。《己任編》有誤服白虎湯，以致熱甚如燔，衝開三、五尺，人不能近者，豈果辛散之力使然耶？要而論之，不在辛散而在寒涼，蓋火邪驟為寒涼所郁，激之反動，是以致此，與中暍死者，不可得冷同理。《內經》寒因熱用，正慮此耳。余親見一醫治溫病，與石膏一兩，反見鼻衄，易醫以為藥輕，加至二兩，衄轉甚，繼以前方加附子乃愈。按《冷廬醫話》載顧松園治汪纘功陽明時感，用大劑白虎，熱證頓減而發嘔，諸醫咸詆白虎之誤，投參附而勢更危，復求顧診，仍用白虎大劑，二服始愈。遂著論以為溫熱病中宜用白虎，並不傷人，必解世俗之惑。予謂此等治法，實未盡善，其發呃也，安知非火為寒鬱、兩相沖突所致。諸醫但詆白虎傷陽，不知又為寒鬱之理，妄用參、附，宜反為顧笑，然卒以白虎而愈，則又安知非藉附子之力，預為之地，使火不郁，而後石膏始得奏功乎。白虎證者，口渴汗大出，脈洪大是也，白虎湯，石膏、知母、甘草、粳米是也。</p>

<h2>菟絲子</h2>
<p>黃山谷信服菟絲子，謂久服不令人老，服三、兩月其啖物如湯沃雪，半歲則大肥壯矣。而陸放翁《老學庵筆記》言，其族弟少服菟絲子數年，後發背疽。予謂菟絲子補腎，年少人腎氣太盛，邪火內動，類能發疽，不得委過於菟絲也。葛常之《韻語陽秋》云：「山谷在貶所，曾士衰有書勸黃勿服金色茶，山谷報云，「公袞痘根在旁，乃不可食？」庭堅服之，如暗云之在山谷，安得有霹靂火也」。觀此，講服食先宜養心，山谷提養生之四印，《檐曝偶談》山谷送張和詩云：「我提養生之四印，謂忍、默、平、直也。所謂百戰百勝，不如一忍；萬言萬當，不如一默；無可採擇眼界平；不藏秋毫心地直，故服金石而無害，況在氣味和平之菟絲乎！」嘗觀古人服食調補之方，類多溫藥，令人服之俱不利，蓋今人無古人之醇樸，內多欲而火易動故也。</p>

<h2>澤瀉</h2>
<p>《理虛元鑑》論澤瀉云，肺為氣化之源，伏火蒸灼，則水道不行而益病，且水停不流，則中土濡濕，而舉止無力。故予治癆嗽吐血之症，未有不以導水為先務，每稱澤瀉有神禹治水之功。究其命名之意，蓋澤瀉者，澤其不足之水；瀉者，瀉其有餘之火也。惟其澤也，故參、地、膠、芍得之，則補而不滯；其瀉也，故走濁道而不走清道，不若豬苓、木通、腹皮等味之消陰、破氣直走其道。要知澤瀉一味，肺、脾、腎三部咸宜，所謂功同神禹者是也。古方六味丸用之，功有四種，頤生《微生論》論之極詳，庸醫不審，視為消除損腎之品，置而不用，何其謬也！予按治虛勞以導水為務，識見高人一等，夫所謂導水者，即血中之廢質，肺、腎、膀胱、皮膚構造，皆主排泄此水者也，而腎則尤為重要。澤瀉入腎，所以助其排泄之力，令水去而血液清潔，百骸皆得其養，有何虛勞之足患！今人但知補腎，引錢氏有補無瀉之說，以為至論，然錢氏六味丸，何以用澤瀉乎？徐靈胎論八味丸，專利小便，驅邪水，其意以為功用不過如是，而小視之。抑知惟其如是，是即莫大之功用乎。</p>

<h2>牛膝</h2>
<p>王漢皋《醫存》力言牛膝之害，謂脾濕泄瀉及胞濕尿濁，用之則腿腫；下部有疾，用之則生瘤；中氣虛，用之則下陷於二便；小腸有濕寒，用之則為濁為濕；有濕熱，用之則為淋；腎有熱，用之則強中：孕婦服之則墜胎。皆因其性下行也。此說不可不知。予按葉氏《溫熱論》有重則如玉女煎之論，唐立三本刪去一如字，竟印定如玉女煎原方，不知身熱未退，原方中之熟地、牛膝安可投乎？王孟英謂原文玉女煎者，言如玉女煎之石膏、地黃同用，然是用其原方。楊素園稱其慧心明眼，絕世聰明。予閱《靜香樓醫案》治熱病邪火熾甚，案語云宜玉女煎，而方則生地、石膏、麥冬、知母、竹葉、甘草等味，尤氏、葉氏同時，可見當日吳醫所稱玉女煎，本非原方，殆亦傳派如此，然不如孟英直稱白虎加生地之為當也。</p>

<h2>方諸水</h2>
<p>薛一瓢《溫熱病篇》所用方諸水，即《本草綱目》之明水，《周禮》司烜氏，以火燧取明火於日，鑑取明水於月，以供祭祀，《淮南子》方諸見月，則津而為水，注者或以方諸為石，或以為大蚌，或以為五石煉成，或以為銅錫為之。予謂金石固無取水之理，觀陳藏器所云，明目止渴，則專指大蚌取得之水言，實亦有名而無其物，乃古書之讕言，不知薛氏何所見而用之，王孟英云：「方諸水難得，俗以蚌水代之，腥濁已甚，宜用竹瀝為妙。」予意薛氏所云，方諸殆即蚌水，特美其名曰方諸耳。蚌水即《綱目拾遺》中之蚌淚，色蒼入肝，有清熱、安胎、消痰、除濕之用，為真陰天一之精，似非竹瀝之所能代。薛氏不直曰蚌水而曰方諸，未免好奇之過。</p>

<h2>酒</h2>
<p>《內經》云：「酒入於胃，則絡脈滿而經脈虛，蓋酒性猛裂，能徑入循環之血內，使心跳加速，脈管漲大，其血一時升至表面，故表面之細絡反滿，而裡面之經脈反虛也。」凡人飲酒，面呈赤色，即絡脈滿之故；酒後有發寒者，即經脈虛之故。西醫驗得各種食物消化時，熱度皆升，獨飲酒則熱度漸降，正以精華外泄，內反虛寒也。此與冷水浴身之理，正得反比例，冷水浴身而身反熱者，熱迫於里，力能反感也。飲酒禦寒，而身反寒者，熱散於外，難以為繼也。以此類推，則知風寒化熱與冷浴身熱無殊；暑汗亡陽與飲酒身寒何別？又《內經》云，西北之氣散而寒之，東南之氣收而溫之，亦是此理。蓋西北地寒，用藥本宜溫熱，然或熱逼於裡，熱深厥甚，又以辛寒為宜；東南地溫，用藥本宜清涼，然或熱散於外，遂漏不止，又以辛溫為宜，所謂假者反之也。</p>
<p>酒能引藥上行。杜清碧病腦疽，自服防風通聖散，數四不愈。朱丹溪視之曰：「何不以酒製之。」清碧乃悟，不盡劑而愈。又凡用大黃治上部之邪，必須酒浸，方能引上至高之分，如物在高巔，必射而取之，此東垣法也。</p>
<p>《本草備要》云蘆稷（即蘆□），最能和中，昂嘗病腹中啾卿，經兩月，有友見招，飲以蘆稷燒酒，一醉而積疴暢然。又吾鄉程偉堂《王學瑣記》載一汪姓少年得怪病，耳中如聞人云，「齊桓公、晉文公皆霸諸侯也。」目中便見一霸字，初小後大，極於彌天匝地，人遂暈絕，逾日始蘇，每月常三、五次。諸醫莫明其症，有羅日亭者診之曰：「此怪痰為患，不須服藥，宜飲高粱酒百斤便愈。」已而果驗。此二條皆指燒酒。燒酒前古所無，至元時始創其法，今日家家能釀，豪飲者非此不歡。其性大熱、大毒，能消冷積、祛痰飲，《備要》所載得其消積之功；《瑣記》所載得其祛痰之力。同一酒也，而蘆稷、高粱，功用微異，推之朱麥所造，當亦各有專長，錄此以備留心食療者之隅反。</p>

<h2>茶</h2>
<p>古人冬日則飲湯，夏日則飲水，自秦人取蜀而後，始有茗飲，至唐風俗貴茶，遂有蒙頂、石花、黃芽、紫筍等名，逮及明季，西班牙、葡萄牙人貿易東來，視為佳品，攜歸國中，由是世界各國，幾無不嗜茶者。按茶苦、甘、微寒，能消食去痰、除煩、醒睡、清肺、涼肝、提神、行氣。化學家謂茶含淡氣頗多，蓋於清涼之中，而寓抒發之性者，《千金》治痰厥頭痛，用以引吐，正以含淡故也。茶之產地甚多，名色不一，大致分紅、綠二類，綠者為勝，紅經蒸盦失性，易致停飲，此王潛齋之言，不可不知。汪訒庵謂茶多飲寒胃，則恐未必，至云消脂則可信，然盧子由論茶首舉令人瘦、去人脂，為茶之功。考《內經》人有三形，有膏人、肉人、脂人。脂人血清氣滑，少不能大。按人之有脂，所以護體內之熱，且以濡潤肌骨，使其流利而易動，然脂多則反阻諸部之功用，故人身最靈之部，如頭及肺與眼胞，俱不含脂。脂人血清氣少，陰盛而陽虛也，其人必皆沉而困倦，喜逸而畏勞，故脂有惡其多必須減去者，盧氏殆有見於此也。然茶亦不過為飲食調劑之品，如醬、醋、椒、姜之例，性雖消削，若合一日中飲食計之些小之茶，僅足以消酒食油膩，無傷於脂也。章杏云謂茶有消元息，欲有他草木代之，泥矣。古人煎茶有候湯之法，大約以三沸、五沸為度，不及三沸為嫩，逾十沸為老，皆不能發茶香，故候湯非躬親其事不可。今人不用煎而用泡，既屬簡便，而湯用百沸，又可以殺水中微生物，而免其毒害。事有今勝於古者，此類是也。古人煎茶，有用姜鹽者，薛能詩云：「鹽損添常戒，姜宜暑更誇。」東坡詩云：「老妻稚子不知愛，一半已入姜鹽煎」是也。有用橄欖者，貢玩齋詩云：「溪雨茶煎橄欖香」是也。有用桂花露者，韓致堯詩云：「越甌犀液發茶香」是也。又按屠隆《考磐餘事》，有蓮花茶、橙皮茶，以及玫瑰、薔薇、木樨、蘭惠、桔紅、梔子、木香、梅花之屬，皆用以拌茶，有三停茶葉一停花之語。今用姜鹽者絕無，余則尚有沿用不廢者，不獨奪茶味，亦能變茶性，且香能耗氣，豈可常服之品耶！</p>

<h2>水</h2>
<p>人非水火不生活，而活字從水從舌，是舌離水則不得活，水固較火為尤重。上古之人，茹毛飲血，不用火食，反得長壽，又似生活專在水而不在火。西醫考得人身水質，居百分之七十五，少之則氣體不和，又胃中化食，腸中瀉物，均需流質，故西人於水漿等物，極為注意，愛凡司《延年益壽論》，謂人常多飲水可以長壽，《千金翼》有服水養生之法，《傷寒論》有飲水愈病之說，雖不必盡拘，然亦可悟水之功用矣。惟同是水也，而性質各有不同，張子和見漏水三周則滑而迅，因悟性從地變，質與物遷之理，說詳《儒門事親》。他若《本草綱目》《本草逢源》、《本草從新》、《隨息居飲食譜》等書，分別尤詳悉。故煎藥用水，各有攸宜，如所謂甘瀾水、新汲水、長流水，古人於方後，必為註明，蓋水亦藥也。今人不講久矣。愛氏謂水皆含異質，必以甑蒸取淨水，方能消除體內所聚土性鹽類，令人變老之質，並可免膀胱所致石淋、砂淋之證。何西池亦云：「更有輕靈汽化水，奇功千古少人知，善調充（燥）證少津液，滋水清金更益脾。」此水雖不易取，然亦不可不知。</p>

<h2>夏月湯飲</h2>
<p>陸麗京謂夏月尋常湯飲，須用砂糖、梅漿，以為能斂真氣，助元神。而謂六一散之甘草，中滿喘脹，及多積滯者不宜用；滑石利竅，表虛者服之，則衛氣不固；遺漏者服之，則精關不守。此論與王夢隱正相反，夢隱謂夏產後陰虛內熱，天令炎蒸，雖赤砂糖不可服，而謂六一散有祛暑行瘀之功，當酷暑之令，為產後第一妙方。按此兩說，一論尋常湯飲，一論產後湯飲，雖所論不同，何至相反若是，其實皆不免於偏見，予不取其所用者以為法，而獨取其不用者為戒，故類記之，以見習用之品，有利亦有弊，六一散不盡宜於夏日，赤砂糖不盡宜於產後，衛生者不可不知。</p>

<h2>雞納霜</h2>
<p>雞納霜為治瘧專品，清高宗服之獲效，由是盛行中國，幾於婦孺皆知。然予親見一郭姓患瘧服此後，狂熱無汗，醫進小柴胡，昏迷無知，痰喘如鋸，死後頭脹如斗，面目至不可認識。又親見一王姓患瘧，服此後，狂熱無汗，醫進小柴胡湯，即發狂而死，柴胡固誤，然非先服雞納霜，一逆再逆，其死不致如是迅速。據西醫云服雞納霜後，能使血行增速，皮膚增熱，消化增多，其未盡善者，即使人食管與口，並腸胃內皮所藏之液汁俱減少，腸胃欠通暢也，亦有反致泄瀉者。據此，實一種助熱傷津之劫劑。夏秋瘧疾，皆屬濕熱，此藥豈宜妄用！</p>

<h2>向日葵</h2>
<p>西報載俄國鄉人，以向日葵治瘧，令病者以葵葉，臥身下，上亦蓋之，其病若失。俄醫知之奇之，取以試驗，瀝其精置酒精中，或以花葉、瀝汁和燒酒製之，以治瘧證。嘗在病院治病瘧之兒，百人中六十一人，自一歲至十二歲，凡飲此酒者，瘧病皆愈。按《神農本經》冬葵子氣甘寒滑無毒，主治五臟六腑寒熱，羸瘦、五癃，利小便，故《聖惠方》治痎瘧邪熱，取冬葵子陰乾為末，酒沖服，俄人治瘧之法，與此暗合。又《別錄》稱葵苗甘寒滑，無毒，為百菜主，其心傷人。《必效方》稱其苗潤燥利竅，功與子同，可見除心以外，若苗、若葉、若子，其甘寒滑之性一也。《內經》云：「夏傷於暑，秋為痎瘧。」葉香岩云：「小兒瘧病，因暑而發者居多。」葵性甘寒，正是對證之藥。又暑必挾濕，瘧多屬痰，葵性滑利，尤能驅濕、豁痰，更借酒力以行之，宜其有效。</p>

<h2>中風</h2>
<p>喻嘉言論中風，創填竅之說，自謂本之《內經》，至竅在何處，於何補填，則茫無著落。但據《金匱》黑散方下注語，謂填竅是以藥末存積腹中，以為堵塞之計。夫藥石入胃，與飲食同，固無堵塞之理，且人身氣血，貴乎流通，亦斷無可堵塞之處。須知《內經》所謂空竅，是指無形之氣言，非謂肌體之內實有空洞之孔竅，必藉有形之物，以補直其罅漏也。觀氣學家言，冷熱二氣，相遇則生風，因知中風亦是身中之氣，熱而上升，則其下必有虛而淺薄之處，是為空竅，有空竅則不能抵抗外來之冷氣，即因其虛而襲之，冷氣相遇，鼓盪摩觸而風生焉。故《金匱》治中風，採用風引湯及侯氏黑散，皆寒熱互用，寒以降身中之熱氣，熱以散外來之冷氣，熱者降，冷者散，則清明在躬，身無餘隙以容邪，此即所謂填竅也。</p>

<h2>痿</h2>
<p>曾見一牛患腳弱，牛醫治之不愈，死後宰殺，則肺已腐爛，《內經》云：五臟因肺熱葉焦，發為痿躄，信然。《內經》治痿，獨取陽明者。徐洄溪謂指刺法言，陰藥則補腎為多，丹溪所謂瀉南方，則肺金清而東方不實，補北方則心火降，而西方不虛也。然肺熱必傳之胃，胃熱又復移肺，兩熱相搏，遠水或難救近火，故張景岳謂痿證是火邪伏於胃中，當治陽明之火邪，毋使干於氣血之中，則溫熱清而筋骨強，筋骨強而足痿以起，此雖非經文獨取陽明之正解，而理實有可通。且痿證有屬痰者，補腎不能無弊，清陽明則兼能理痰也，亦有陽明土虛，不能生金而成痿者，其證必不能食，其脈必弱甚，易思蘭立加減補中益氣湯，重用人參，為補土生金法，與景岳所論，正是一虛一實之對子。又陳修園極贊紫菀，有治痿之功，自矜得神農不傳之秘，按：紫菀清金寧嗽，乃是肺藥，治肺是痿之本也。</p>

<h2>飲食勞倦</h2>
<p>東垣謂飲食勞倦所傷，皆為不足。王安道謂飲食傷，又與勞倦傷不同。勞倦傷誠不足，飲食傷尤當於不足中分其有餘，蓋飢餓不飲食者，胃氣空虛，為不足，飲食自倍而停滯者，兼有餘，不足宜補益，有餘宜消導。故備息丸、煮黃丸、感應丸、爪蹄散等，潔古、東垣亦未嘗委而弗用，此辨精已。而李梴又推闡其義，於勞倦中分出勞力，純乎傷氣，宜補中益氣；勞心兼傷乎血，宜黃耆建中；心、力俱勞，則氣血俱傷，宜雙和散。更於飲食中分出飲為無形之氣，傷之則宜發汗、利小便；食為有形之物，傷之則損其谷，其次莫若消導。此辨尤精，然皆非東垣之旨也。王節齋云：補中益氣方論，卻謂人因傷飢失飽，致損脾胃，非有積滯者也，故只宜補藥。觀此，安道、李梴所述宜應別論。</p>

<h2>補中益氣湯</h2>
<p>張景岳曰：東垣補中益氣湯雖為助陽，非為發汗，然實有不散而散之意。故宜於勞倦感寒，或陽虛痎瘧，及脾氣下陷等證。若全無表邪寒熱，但見中氣虧甚，則升、柴大非所宜，誠哉斯言。乃尤在涇《醫學讀書記》云：古人制方用藥，一本升降浮沉之理，不拘寒熱補瀉之跡者，宋元以來，東垣一人而已。蓋四時之氣，春升、夏浮、秋降、冬沉，而人身之氣，莫不由之，然升降浮沉者，氣也；其中以升降浮沉者，人之中猶天之樞也。令人飢餓勞役，損傷中氣，於是當升者不升，當降者不降，而發熱困倦、喘促痞塞等證見矣。夫內傷之熱，非寒可清；氣陷之痞，非攻可去，惟陰陽一通而寒熱自己，上下一交，而痞隔都捐，此東垣之學，所以能為舉其大歟！據此，則東垣之方，原不當於寒熱補瀉中論之。張氏固未窺東垣之深也。然守張說，於以施治，不致大誤，守尤說而不善用，則不免有誤。</p>

<h2>虛勞</h2>
<p>虛勞成真，必無活理，而絕處求生，古人未便棄置。於是見陰陽之不可偏補也，則有調停兩可之法。龔雲林治馬氏虛勞，自言用藥如彈天平一般，不欲偏勝，以為偏於補陽藥多，則相火愈熾，偏於補陰藥多，則脾胃不運。嚴用和自言其所載方，藥性平補，柔而不僭，專而不雜，間有藥用群隊，必使剛柔相濟，佐使合宜，欲用一剛劑，專而易效，須用一柔劑，以制其剛，則庶幾剛柔相濟，不特取效之速，亦可使無後患，比較陰陽偏補者，高一籌矣。見脾腎之不可偏補也，則有雙方兼顧之法焉。戴元禮云：有素經血不足者，明知當補腎，其素減食，又恐不利於脾，方欲理脾氣，又恐愈耗腎水，全一舉兩得之功，莫若鹿茸桔皮丸為第一。又云：要知於滋腎之中，佐以砂仁、澄茄之類，於壯脾之中，參以五味、黃耆之屬。黃錦芳云：脾腎俱傷者，難以措手，兩者並衡，卒以健脾為急，以脾上交於心，下交於腎也，要和滋腎之中，扶以砂仁、沉香；壯脾之中，參以牛膝、菟絲、龜板，隨時活法以治之，庶幾有濟，比較脾腎偏補者，又高一籌矣。然此要皆對於無病者言，身本無病，但覺精神怯弱，不耐作勞，診其陰陽氣血，則一虛而無不虛，並無畸重畸輕，盛衰互乘之患。東坡所謂尪羸而壽考者，即指此種，原不必汲汲求治，倘欲服藥以冀小康，不得不用陰陽兩平、脾腎雙補之法，要之，皆不為治病設也。病之作也，皆必有所偏勝，藥以抹偏，斷非模稜兩可者，所能蕆事也。氣病當理痰，痰不去則氣機不暢；血病當逐瘀，瘀不去則血脈不通。四君子湯，補氣之主方也，而有苓、術以化痰；四物湯，補血之主方也，而有歸、芎以行瘀，古人蓋有以知此矣。然猶非其至者也，觀仲景虛勞篇，黃耆建中湯下注云：補氣加半夏三兩；又云：緩中補虛，大黃䗪蟲丸主之，此藥此方，有攻無補，而反以補稱之者，蓋一以理痰為補氣法，一以去瘀為補血法，不補之中有真補焉，此正仲景之妙也。越人云：虛而感寒則損其陽；虛而感熱則損其陰。生生子云：其體虛者，最易感於邪氣。醫者不知邪氣加於身而未除，便行補劑，邪氣得補，遂入經絡，至死不悟。如此誤者，何啻千萬。魏柳州云：凡素患虛損人，忽有外感，宜細審之。楊慄山云：一隅之虧，邪乘宿損。又云：邪行如水，惟注者受之。英國醫報謂人身氣血壯旺，不易感受風寒，其瘦弱之人，飲食不節，筋骨勞動，易為寒暑所侵，故虛體何處受寒，即何處發病，乃常見之事，無足異者。綜觀諸說，可見至理所在，不隔中西，乃《吳醫匯講》中，載有《虛勞論》一篇，開首便云虛勞之病，皆由內傷而外無邪，立言如此，其理不足觀矣。龔雲林云：荒年餓莩，飽食即死。王漢皋云：常見茹素之人，頓改茹葷，皆大病惡瘡死。蓋緣氣血失常，經隧受壅之故。即此可悟病後及久虛人，驟與大補，其害亦何以異是，書謂虛勞不受補者不治，其實非不受補，不能驟補耳。慎柔治損病，有煎去頭煎之法，正恐驟補壅氣，故取淡泊之味，非有他妙也。《內經》論病去而濟者，必養必和，待其來復，「待」字之義微矣。《醫碥》云：內傷以有咳嗽為重，如肝腎之火，其初止病下焦，未遽上干也。久而炎熾，乃及於脾，則病重矣。魏玉磺云：凡損證脈見右左厥厥然如豆，按之梗指，其病不起，以肺金敗也，按此似今之所謂肺癆病，考《醫門法律》治癆虛，取用燥、降、收之品，殊有合於肺癆之治法。</p>

<h2>咳嗽唾血</h2>
<p>咳嗽唾血，有得大吐而後愈者。張子和治一小兒，夏月病嗽，羸甚，欲湧之不可，一日，因飲酒，家人與之酒，飲多乃大嘔，吐定而嗽止。孫東宿述其侄婦唾血，因注船，大吐痰涎數碗，其證再不復萌，按此必有致咳致唾之根，附著肺胃，根不去，故一吐而皆豁然。惟吐法人不敢用，雖以景岳家傳吐法，猶為俞惺齋所譏，況在咳嗽唾血之人，而可漫為嘗試乎。</p>

<h2>勞傷咳嗽</h2>
<p>許學士云：予讀仲景書，明其法而不守其方，此真善學仲景者。今人則蹈襲其方，而實不明其法。柴胡、桂枝信乎浪用，而開此端者，厥為陳修園，以修園之書今頗盛行故也。修園之最可笑者，欲以小柴胡湯治勞傷咳嗽，自謂得仲景不傳之秘，其實仲景何曾有此。修園一生所心服者，惟隱菴張氏《傷寒淺注》，多宗其說，然張氏有云，人皆以柴胡為傷寒和解之劑，不知柴胡啟下焦之生陽，黃苓散太陽之表熱，生薑散陽明之胃氣。元是生氣發源在下根。氣虛者，誤用此湯，是猶堰苗助長，鮮有不敗！此真閱歷有得之言，而修園不知何也？夫猝病根氣虛者，尚不可用，況勞傷咳嗽，根氣久已不固者乎！</p>

<h2>失血</h2>
<p>《嘉定縣誌》，載史寶治一人，冬月鼻血不已，令服椒湯，其人以為戲也，固問其說，時方收豆，置數粒鬥中而蕩之，宛轉上下如意，稍緩遂躍出，乃謂曰：「此則君之病矣。人之榮衛調和，則氣血流通，君腦中受寒，故血行澀，澀則不能歸經，故溢出耳，非熱疾也。」竟服胡椒而愈。此案可為陽虛陰走及引血歸經二語之鐵證。然血證屬熱者多，熱則妄行故也。因寒而溢，百中不過一二。故治血證實火折以苦寒；虛火養以甘寒，自是通常不易之法。若用溫熱，其誰敢信？不知病有始傳末傳，由熱變寒，亦常有之事，黃玉揪云，心火之熱，即血中之溫氣所化，血去而血中之溫氣亡泄，是以大失血後，心寒慄而戰搖。據此是初失血屬熱，久而不止皆可變寒，不必走由外受之寒也。《金匱》立瀉心、柏葉湯兩方，一治始傳之鬱熱，一治不傳之中寒，是血證兩大法門。予曾親見有人用柏葉湯治大失血，屢收奇效。葛可久治吐血，有十灰散，用大小薊、茅根、棕皮、側柏、大黃、丹皮、荷葉、茜草、梔子等分，燒灰為末，童便酒水隨下。嚴用和治崩中下血不止，有十灰丸，用綿灰、黃絹灰、艾葉灰、馬尾灰、藕節灰、蓮蓬灰、油發灰、赤松皮灰、棕櫚灰、蒲黃灰，醋煮糯米糊丸，二方皆名十灰，皆取紅見黑即止之意，而用藥各臻其妙，為散為丸，亦各當其宜，名同而義不相襲。</p>

<h2>腎有瀉法</h2>
<p>錢仲陽謂腎有補而無瀉，後世以為名言。其實不合乎事實。《內經》論五臟皆苦欲補瀉，未嘗謂腎無瀉也。腎本人身之濾溺器，摧蕩廢液，此為大宗。《內經》謂腎為胃關，關門不利，則聚水而生病，是水邪之當瀉者。又謂腎氣熱為骨痿，是火邪之當瀉者。錢氏地黃丸之丹皮，正所以瀉腎火，澤瀉正所以瀉腎水，是錢氏固未嘗不用瀉法也。徐靈胎批《臨證指南·吐血門》，有云此等證，必有陰火收入腎中，終是病根，必另放出路為妙。如八味丸必有丹皮、澤瀉，此義可思。王安道曰：「八味丸用澤瀉，蓋取其瀉腎邪。」可知腎無瀉，非確論也，乃馮楚瞻創奇藏賤府之論，謂臟無瀉法，而腎更無瀉之法，真是瞽說。</p>

<h2>腎藏精</h2>
<p>《內經》謂腎藏精，證以近人生理學上之研究，則藏精者自是睪丸，而腎內無精，古說是不能成立。不知《內經》之所謂精，不在有形之質，而在無形之氣。有形生於無形，無形者生命之根，不可損失；有形者旋去旋生，源源不絕。徐洄溪比之於井泉，井道不可不革，故適度之交媾，不但不傷人，且於衛生有益，而強制則反能為害。故曾千里《說夢》謂好色未必夭壽，寡欲未必永年，自謂得之於目見。予觀古人記載，如孫逢年畜妓妾二百餘人，晚年衰憊，齒皆□齲，空虛如樓閣，而舊好不衰。見《長安箋記》。又吳中孫太卿，平生未嘗一夕脫於姬妾，飲酒百鐘不醉，年九十餘猶日行數十里。見《蘇談》。紀曉嵐、袁簡齋諸名流皆享青年，而好色不變，雖由稟賦之奇，然亦見此事之果不傷人。予謂此論於古人立言之旨，不無刺謬，而理之所存，不必掩飾也。</p>

<h2>肺痿肺痛</h2>
<p>肺痿、肺癰同出於熱，而肺癰為實，肺痿為虛，以虛治實，尚可苟延，從實治虛，亦見其敗。《沈氏尊生書》，於肺痿門內，有喘息面浮，宜葶藶湯之語，夫葶藶峻利，可以治肺癰之實，而斷不可以治肺痿之虛。且肺痿而至喘息，其虛已甚，與肺癰喘不得臥之屬實者，判若天淵。故肺癰之喘，有用葶藶法，尤在徑所謂乘其未集而擊之，喻氏所謂先通其壅是也，若肺痿之喘，豈可一概混施。今沈氏於肺癰門內，不載葶藶一方，而反載入肺痿門內，不知何意？又謂肺痿特變成癰，必兼理膿毒，宜紫菀散。夫痿者枯也，必不能復變為癰，即使由痿變癰，固已無復生理，又豈紫菀散所得治哉！</p>

<h2>郁</h2>
<p>天下不如意事十有八九，是以悲觀多，樂觀少，腦受其戕，而鬱病以起，例如寵妾滅妻、恃尊凌卑、蠢妻掘子、勢壓凶逼、功戈利奪、名色財騙、生離死別、冤沉思斷、鰥寡孤獨、僧尼閹嬪，以及生而殘廢、聾啞瞎瘸，男子雞精，女子陰實，又如嬰兒早開知識，或失志□玩，歡愛久別、期許永欠、畏憎常遭，此等郁證，多非為藥石所能醫，即感於邪，亦較平人為難愈，《醫存》言之綦詳。丹溪治病，不出氣、血、痰三者，三者之中，又多兼郁，故立越鞠丸法。而易思蘭則專以此加減變化，治人所不能治，可謂能知其要，然淺者可愈，深者當不專恃藥物。《聖濟總錄》云，《內經》閉戶塞牖，數問其情，《針經》臨病人問所便者，不治其形，治使其形者，以病之一、二言之，隔塞閉絕，氣之病也，原其本則得於暴憂，不治其氣，而釋其優可也。女子不月，血滯之病也，原其本則得於心氣之不足，使心氣內和，則精神莫得而動也。頸瘻者，風毒之病也，每得於愁優、思慮之不止，使志意和適，則氣血莫得而逆也。旨哉言乎！然此等病證，關乎環境之感觸，非私人所得自主，故黃帝之於斯民也，美其食，任其服，樂其俗，各從其欲，皆得所願，高下不相慕，智愚賢不肖，不懼於物，皞皞熙熙，同躋仁壽，故其時民皆守樸，而合乎道，年度百歲而動作不衰。高保衡序《內經》，謂黃帝以理身緒餘治天下，誠知言哉！</p>

<h2>不寐</h2>
<p>淮南子曰：「念慮者不得臥，止念慮則有為其所止矣。兩者俱忘，則至德純矣。」程子曰：「張天祺嘗言，自約數年，自上著床便不得思量事，不思量事後，須把他這心來制縛，亦須寄寓在一個形象。皆非自然。君實司馬溫公，自謂吾得術矣，只管念箇中字，此又為中所繫縛，且中亦何形象？朱子曰：天祺雖是拙，且把定一個物事在這裡，溫公只管念箇中字，又更生出頭緒多，他所以說終夜睡不得。《老老恆言》謂不寐有操縱二法，操者如貫想頭頂，默數鼻息，返觀丹田之類，便心有所著，乃不紛馳，庶可成寐；縱者任其心遊思於杳渺無朕之區，亦漸入朦朧之境。陸定圃云，二法中縱法尤妙，蓋操則心猶矜持，未經恬愉之趣，不若縱之遊行自在也。特恐稍涉妄想，即難奏效，尤當寓操於縱為佳。予謂操法即是止念慮，縱則不止而自忘，縱法固勝，宗儒知操而不知縱，正所謂止念慮則有為其所止者，是以無效。陸定圃恐縱法易涉妄想，謂常寓操於縱，亦似是而非，操是一念兩念交竟，愈擾不寧矣。如恐妄念易動，莫如預求一事之最足怡情而耐尋味者，為寄想之中心，則雖意象千端，終不涉於他念，如定圃所載一法云，每夜就枕後，即順斂此心，遊思於平素所歷山水佳處，任情一往，定而能靜，入而久之心漸即於杳漠之中，不期寐而自寐，此以山水為寄想之中心也。准此以推，不必用操而不致於放縱矣。</p>
<p>不寐證以病理言之，只屬心與腦念慮不得臥，正以念慮則心火動而血上流於腦也。吳鞠通謂《內經》衛氣行陽不得入陰之語，為一切不寐證之總綱。試問陽在何處？陰在何處？以何處為畔界？衛氣何以能入此不能入彼？則必茫茫無以以應也。予以意逆志，知所謂陽是指腦部言；所謂陰是指周身言，以部位上下分陰陽也。何以言之，考西醫謂人不寐皆是腦充血，斯塞耳氏以所蓄犬倒懸柱上，使腦呈充血現象，雖至死猶不睡，遂生睡眠不足證而死。該塞氏以器械刺擊動物，便之不睡，毫不間斷，至其死而後己，解剖之發見多量之血點於腦部。故行催眠術者，以輕壓迫頸動脈及顳動脈，為惟一之方法，所以輕減流入腦中血液之分量也。因知《內經》所謂衛氣行陽，即衛氣迫血上流入腦之意。西醫言人當醒時，其精神之活動皆緣腦部受血液之供給。及其疲勞，則血液循流漸增加於身體外周部，以自謀恢復身體之疲勞，其時腦中呈貧血現象，而人以睡眠。因知《內經》所謂入陰即氣不擾血，血液循流之意，由此言之，痞之與寐，只在血之入腦與循流而已。韓飛霞用黃連、肉桂治不寐者，以黃連苦降止入腦之血；肉桂辛溫，和循流之血，一寒一熱，一動一靜，有挹彼注茲收散逆從之妙用焉。仲景酸棗仁湯，用棗仁之收斂，即配川芎之行散，亦所以推蕩血液，不使上聚於腦也。許學士鱉甲丸，羌活與牛膝並用，亦得升降沉浮之理。又有挾痰不寐者，此證尤多，以痰能阻陰陽之道路，致充腦之血不能循流也，故半夏湯、溫膽湯，又為常用之劑焉。</p>
<p>仲景治心煩不得臥，主黃連阿膠湯；虛煩不得眠，主酸棗仁湯。同是不眠，而治法不同，鄒潤安曰：「寐者謐也，靜謐無聲也，眠猶瞑也，泯也，泯泯無知也，臥猶息也，僵也。不得眠是能安謐而不能熟寐無知，乃腎陰不能上濟心火，故治以滋陰。不得臥則常多憂亂，而不得靜謐，乃邪火燔盛，縱有腎陰相濟，不給其爍，故治以瀉火。」潤安此釋，詳人所略，錄之以見不臥與不眠，證情自別，不可混而施也。</p>

<h2>胃病治腎脾病治肝</h2>
<p>脾胃相連，治法大異，脾病宜升陽，胃病宜養陽，善治脾者，莫如東垣；善治胃者，莫如葉氏。細閱兩家之書，於脾胃之治，可以得其大概。然古人有又隔治法，如胃病治腎，脾病治肝，此又不可不知也。許叔微制二神丸，治胃弱不能食，謂是腎氣怯弱，真元衰劣，用此為釜底添薪法，使腎陽足則胃陽自旺，而能進食矣。又陳遠公謂多食善飢者，胃氣之有餘，本之腎水之不足，一遇風寒夏暑，非變消渴，必成痿擦，須用大劑六味地黃丸，自然氣餒而火息，而胃平、而熱除，是胃病治腎之說也。盧不遠治何介甫脾病，診其脈兩關軟弱，不透於寸，曰：右固脾虛，左則何謂？此脾不足而脾用不行也。蓋脾之用肝也，星家取克我者為用神，脾體無肝火為之用，則氣血便不條暢，運化遲鈍，而脾胃轉困矣。補助肝火之氣，使之揚溢，則脾土伸舒，精神油然外發，雖不治脾，實所以治脾，方用參、苓、歸、芍、陳皮、防風、甘草。」按此蓋從東垣脾胃諸方悟出，而與肝病實脾之語，互相發明，此脾病治肝之說也。</p>

<h2>吐酸</h2>
<p>劉宗厚渭吐酸一證，以病機言之，則屬於熱；以臟腑言之，則脾胃受病；以內邪言之，則痰飲宿食之所為。故治法，熱者寒之，寒者溫之，以苦燥之，有痰飲者清之，分利之，有宿食者消之，導之、驅逐之。此合河間、東垣、丹溪三家之說，穿成一線者也。予謂痰飲尤屬此證主腦，舉一可該余，蓋痰飲因熱而生，言痰飲則熱在其中，又因脾胃不足而成，言痰飲則脾胃在其中，更為飲食停滯所化，言痰飲則宿食在其中，善治痰飲，則一以貫之。《巢氏病源論》此證有上焦停痰四字，此真握要語也。</p>

<h2>怪病屬痰</h2>
<p>怪病屬痰，此語確有至理，王夢隱君以滾痰丸治一切怪病，真能於醫門獨樹一幟，夫怪病所以屬痰者，非痰之自能為怪誕，乃人身一切機關為痰所阻，運動反常，故謂怪耳。人身一切機關，本自奇妙不可思議，飢而食、渴而飲、倦而息、視聽言動隨感而生、喜怒悲哀遇境即發，亦靈怪極矣。而不以為怪者，人人如此，習以為常也。有物阻之，則反常而怪以見，或精神上之變動，或形質上之遷移，或發生局部，或變現於周身，或猝起於崇朝，或綿延於數歲，表裡陰陽，百病叢於一體，虛實寒熱，一身判若兩人。昧者見之，以為何物邪氣，奇幻乃爾；明者察之，只是一切機關為痰所阻，應行而反止，應散而反動，應上而反下，應降而反升，左右參差，前後錯亂，是以倘恍離奇，不可究詰。此等證除化痰外，別無著手處，痰去則一切機關自然復常而無病矣。乃張景岳謂怪病屬痰，是庸工不識病能藉以藏拙之語，證以予所經驗，知創此說者，實有高人之見，斷非庸工所能語此也。</p>

<h2>伏氣溫病</h2>
<p>冷水浴身，能使皮膚赤暖，精神煥發。又憶兒時為搏雪之戲，兩手反熱如火，乃悟熱為寒鬱而生反抗力之理。因得《內經》冬傷於寒、春必溫病之正比例，蓋冬傷寒邪，身中熱度驟為寒壓，不得放散，則血內汗穢，無從發泄，必就身中虛弱之部，釀成隱藏之疾，延至來春，寒氣既退，陽熱得令，郁之久而發之暑，則為溫病矣。此人身熱度縮漲之理，《內經》所謂有勝必有復也，王叔和謂伏氣溫病，是冬日寒毒藏於肌層，化而為溫，夫寒何嘗有毒，且寒已化溫，正如大地春回，陽和布施，何病之有？予直斷之曰伏氣溫病，是伏熱，非伏寒，寒無可伏，唯熱遇寒壓，則能伏耳。東垣稍悟伏寒之非，而未達伏熱之理，故謂冬傷於寒而成溫者，是冬行秋令，當寒而溫所致，是直以冬傷於寒為冬傷於溫矣，此種謬見，喻氏反和推許，何歟？王安道云：寒者冬之令也，冬感之，偶不即發，而至春，其身中之陽，始為寒邪所郁，不得順其漸升之性，然亦必欲應時而出，故發為溫病，此深知熱鬱反抗之理者，議論高出東垣萬萬矣。又按《內經》人傷於寒，即為病熱，亦即熱鬱反抗之理，後人誤解以為是寒久化熱，不知天下只有熱化為寒之病，斷無寒化為熱之病，熱化為寒者，陽氣散亡，陰氣獨在，如薪燼火滅，只剩寒灰，故《內經》有治受熱中，未傳寒中之文也。苦寒化為熱，是寒邪已與身中熱度合化，適成不寒不熱之溫度，不能為病矣，今方書所稱寒化為熱者，皆瞽說也。《傷寒》一書，千秋聚訟，其實亦不外熱鬱反抗之理，郁久發暴，是為溫病，隨郁隨發，是為傷寒，傷寒初起，即宜解散其鬱，故有麻桂等法。失治必致反抗，反抗必致內亂，以本身熱度為本身禍患，故有白虎、承氣等法。若外寒與內熱聲勢正等，兩不相下，則宜和解，故有柴胡等法。若郁之久而且深，則熱度日就衰微，漸致無力抵抗，而人身悉為寒所踞矣。故邪入三陰，則有理中、四逆等法，助熱抗邪，此《傷寒》全書之大旨也。</p>

<h2>夏月伏陰在內</h2>
<p>夏月常有附桂證，故古人有伏陰在內之語，然此乃熱度放散太過，身中反見虛寒，非先有陰邪預伏在內也，伏陰不守，既幹事理不合，且殊足以誤人。丹溪乃強為之解曰：此陰字有虛之義，不得作陰看，妄投溫熱，語意殊欠明瞭，且又不知夏月實有陰證。景岳起而駁之，解伏陰是虛寒內伏，此雖是正解，多未免為古人遂非，丹溪遷就為解，又似為古人文過，此正梅聖愈所云，聞氣爭古先也，予亦別有一解，取以質諸有道。蓋陰者人身之元陰也，人身非此元陰，無以維身中之元陽，無以敵外來之邪陽，夏月六陽之氣，發越於外，大汗淋漓，不致亡陽者，恃此元陰以維繫之也，如煎水然，薪燃於下，氣騰於上，水不竭則氣不盡，氣，陽也，水，陰也，氣根於水，陽根於陰也。此陰能維陽之理也。炎暑懊蒸，流金爍石，而人得以安生者，恃此元陰以抵敵之也。如草木然，雨露以溉之，水泉以滋之，苟根發不絕，在烈日中，愈見發榮，而斷不致於枯槁，此陰能敵陽之理也。然則元陰內伏，正是人身立命之根，治暑熱症，步步照顧伏陰，何嘗不是據要之道，不知此解，與古人原意，尚能遷就否？</p>

<h2>暑</h2>
<p>古人稱暑、暍、熱一也。沈堯封論之最詳，潔古妄分中暑為陰，中熱為陽，創動得靜得之說。東垣以大順散治靜而得之中暑，以蒼朮白虎湯治動而得之中熱，此等謬見，《溯洄集》辨之已詳。王孟英曰，動靜惟人，豈能使暑氣隨人而判別，此又矯枉過正之論。予謂動得靜得，亦非全無判別，惟判別動靜則可，以動靜判別陰陽，則不可。蓋同是熱邪，動得者，熱發於外面易見；靜得者，熱鬱於中而難明，至治法則一以辛涼為主，海藏《此事難知》謂動而傷暑者火勝，用白虎加人參湯；靜而傷暑者濕勝，用白虎加蒼朮湯，二證同主白虎，雖主動靜立說，絕無暑陰熱陽之謬見，似為智過其師。陸粲《說聽》載洞庭葉翁，冬月遭疾幾殆，群醫咸以痰火治之，王時勉後至，獨雲中暑也，眾掩口，時勉曰：諸君莫嗤，定是初寒服夏藏曬衣，偶觸其熱氣耳。問翁果然，投以香薷飲而愈，按此當名伏暑，不當名中暑，與夏藏曬衣無涉，立論故作矜奇，難以傳信後世，然據細菌學家之言，凡衣服、飲食，無一不可為其潛伏之巢穴，則三伏曬衣，冬時觸之而病，或亦事之所有乎。</p>

<h2>汗</h2>
<p>張景岳言，汗有六要，用辛散取汗，特其一端耳，俗醫溫時證，陰液已傷而又非汗不解者，愈發散則愈不得汗，蓋汗之源已涸，不落其源，汗何自而來，故用辛散不得汗者，改投甘涼、甘寒，則反能得汗，甚至用冷水，亦能得汗。景岳曰：冷水稟天一之性，甘而不苦，大能清熱解煩，滋陰壯水，凡火盛水涸，大渴便結，榮衛熱閉不能作汗者，最宜用之。此說未免太過，然出自此老之口，實為難得，亦可以見至理之不可昧也。丹溪云：「在內為血，在外為汗。」景岳駁之曰：「汗為人身之津液，津液蒸發再為汗，當云在內為氣，在外為汗，可以氣言，不可以血類。」斯言初若近理，然證以生理學家之說，汗乃從血液中排出，丹溪之言，原自不謬，但謂汗從血出則可，謂汗即是血，則不可耳。</p>

<h2>亡陰</h2>
<p>陽加於陰則為汗，故汗多是亡陰證，陰亡不止，然後陽乃隨之，如薪燼則火熄，油干則燈滅，其理一也。今人不知汗多是亡陰，又不知亡陽是陽隨陰亡，往往誤治。故徐洄溪有亡陰、亡陽之論，並申明辨證之法，云亡陽脈微汗冷如膏，手足厥逆，而舌潤；亡陰脈洪汗不黏，手足溫和而舌乾，其救治之法，則云亡陽之藥，宜熱，亡陰之藥宜涼。數語寥寥，明白簡捷，真有功後世之言。然亡陰之用涼藥，是正治法，無容躊躇者也；亡陽之用熱藥，乃權宜救急之法不可過劑，過劑則前功盡棄，蓋陽不自亡，以陰先亡而陽無依耳，故亡陰是本病，陽既回而陰不復，則方回者亦必復去，如浪子思家，而已無家可歸矣。故洄溪治蘆墟迮耕石暑熱壞證，先用參附回陽，陽既回，即以西瓜啖之，更飲以清暑養胃之劑而愈。非深契造化之微者，不能知也，然此法亦本之仲景，按傷寒論證象陽旦，誤用附子而亡陽者，更飲甘草乾薑湯回其陽，重與芍藥甘草湯養其陰，後與承氣湯止其譫語，此中奧旨，未易窺測。喻嘉言陰病論云，陽既安堵，即宜休養其陰。正從此等悟出，若洄溪則又神而明之者也，亡陽有兩證，有陰竭陽厥，有陰盛格陽，右所論者是陰竭陽厥，故治法如是。若陰盛格陽，則又不在此例。</p>

<h2>痙</h2>
<p>吳鞠通痙瘛辨，謂痙病為寒，瘛為熱。以《金匱》治痙之法，不合今人之用，故強分二證，謂仲景只言痙病，未嘗議及瘛病，夫瘛者收引之謂，《金匱·痙病門》內，明明有身蜷足蜷之證，不得謂非瘛病，是《金匱》之痙，本兼瘛言，其方則不適於今用者，蓋古方今病，本難盡通，此不必為仲景諱也。吳氏之辨，徒覺詞費，喻氏於痙病內，分出陰陽二證，謂三陰三陽皆有痙病，引《靈樞》陽病不能俯，陰病不能仰之說，以為陰陽二痙之辨。謂仲景所云，項強、脊強，即不能俯之陽痙；身蜷、足蜷，即不能仰之陰痙。謂王海藏所云：「低頭視下，肘膝相構者，亦正不能仰之謂，不得誤認為陽明。」此說似為近理，蓋人身筋脈，熱則伸張，寒則收縮，陽痙之不能俯，熱則伸張之象。此說與吳氏正相反，吳氏之所謂痙，正是不能俯之陽痙，所謂瘛，正是不能仰之陰痙，循吳氏之說，於陽痙用剛劑，陰痙用柔劑，豈不大誤！</p>

<h2>惡寒</h2>
<p>《傷寒論》有熱深厥亦深之說，此熱鬱於裡，不得外達故也。大凡熱鬱於裡者，其外必呈大寒之象，不特傷寒為然，雜症亦無不然。徐嗣伯治房伯玉服五石劑患夏月常復衣，以為是伏熱，於冰雪大盛時，以冷水從頭澆之，盡百餘斤，俄而起坐，曰熱不可忍，乞冷飲，以水與之，一飲一升。病愈後，冬月猶單衣，體更肥壯。丹溪治周進士惡寒，雖暑亦必以綿蒙首服附子增劇，脈滑而數，斷為熱甚反寒，乃以辛涼之劑，吐其痰，繼以防風通聖散飲之愈。戴元禮治朱文仲長夏畏寒，身常挾重纊，食飲必熱如火方下咽，微溫則嘔，診其脈數而大，且不弱，斷為火極似水。先以大承氣下之，復以黃連導痰湯益竹瀝飲之，竟瘳。張子和治一婦，身冷惡寒，六月重裘猶覺寒，澀澀不已，脈如橫繩有力，與以涼布熨心，以新汲水淋之，其人呼叫殺人猶不止，連灌三、四十桶，大戰汗出，昏困一、二日，而所苦皆除。《原病式》曰：「病熱而反覺自冷，實非寒也，古人遇戰慄之證，有以大承氣下燥糞而愈者，明是熱證耳。」丹溪曰：「痼冷之病，豈非身惡寒而口喜熱之病耶？殊不知溫痰積中，抑遏陽氣不得外泄，身必惡寒。」又曰：「惡寒非寒，明是熱證。」觀此則惡寒屬熱，毫無疑義，若《葉天士醫驗錄》所載，卻有真寒之證，然真者反不多見耳。</p>

<h2>瘧</h2>
<p>《內經》論瘧，大旨論得之於暑熱。暑熱之邪先伏於營分，令人汗空疏腠理開，猝遇秋涼與淒倫水寒閉郁衛分，暑熱之邪不能隨汗而出；則瘧病以成，據此是瘧邪本有兩路，分據營衛，在衛者水寒之邪，衛分之邪入與營爭則寒，營分之邪出與衛爭則熱，兩邪交爭，以人身為戰場，以營衛為根據，而主客之勢，又自不同。暑熱先據營分，於勢為主；水寒後據衛分，於勢為客，故水寒之邪，其來雖暴，猶易解散；暑熱之邪，盤踞已深，常虞瀰漫，治瘧者當分頭剿撫，而尤以暑熱一路為重要。古之醫者，以小柴胡湯治瘧，柴胡退寒，黃苓退熱，是雙方和解之法，然往往不效，且增煩躁發狂等證者，蓋寒邪易去，柴胡已足奏功，暑邪之深，黃苓尚難勝任也，況中有甘藥，更為暑病所忌，南醫摒去此方不用。其治瘧也，一以清暑為主，而於水寒之一方面，又似拋荒，故收效每多遲滯，蓋於《內經》衛有水寒，營有暑熱之理，未嘗深考，自來注《內經》者，亦未能標出，曩現王孟英《溫熱經緯》謂傷寒有五，瘧亦有五，溫暑時瘧，不可作傷寒正瘧治。予初以為名論，繼而思之亦影響語耳，安有所謂正瘧時瘧？時瘧有豈全無寒邪耶？至闢柴胡不宜用，亦不盡然，且柴胡固是傷寒藥，然王氏醫案每用白虎加桂枝，桂枝獨非傷寒藥乎！可見此證本是寒暑夾雜，治宜雙方並進，桂枝在所不廢，柴胡豈宜摒絕，但問於暑熱一路，所配之藥力量如何？黃芩配柴胡，固遠遜白虎配桂枝也。</p>

<h2>痢</h2>
<p>潔古治痢芍藥湯，其妙用不外河間所云，「行血則膿血自愈，調氣則後重自除」兩語，誠痢門佳方也。深師有七物升麻湯，用升麻、歸、芍、連、柏、桂心、甘草，與此大致相同。惟此加大黃，而以黃芩換黃柏、檳榔，木香換升麻，分兩則芍藥倍於他藥，故以芍藥名湯，其注重全在芍藥。深師方七味皆半兩，而以升麻名湯，其注重全在升麻。芍藥升麻，皆痢門要藥，芍藥湯人多知之，七物升麻湯則罕有知者。按鄭胄師《耳新》載朱郁儀母患滯下，公方同病骨立，猶強起乞以巳年增母算，夜夢天神來告曰：久痢氣陷，當於香連丸加升麻少許，因如其言，一服而愈，則升麻固久痢氣陷者所必需矣。繆仲淳治痢，每用綠升麻稱神效云。</p>

<h2>瀉</h2>
<p>瀉為寒，言其常也，然當辨其色，秦皇士云「大便於結，知其熱矣。然大便滑泄，黃色為熱，人多忽之，又當辨其痛否？」戴元禮云「凡瀉水腹不痛者，是濕也；飲食入胃不住，或完穀不化者，是氣虛也；腹痛瀉水腹鳴，痛一陣瀉一陣者，是火也；或時瀉或不瀉，或多或少，是痰也；腹痛甚而瀉，瀉後痛減者，是食積也。」據此二說，則瀉不皆為寒可知，且二說尚有未盡也。《原病式》云「泄症完穀肉消化，不論色及他症，便斷為熱。蓋寒泄穀肉消化者未之有也。然又有穀肉不化而仍非寒者。」錢氏吐瀉爭功一案，米穀不化，治以石膏，又即《原病式》所謂火性急速，傳化失常之故也。更有肝風傳脾，下利完穀者，呂滄州用小續命之案可法也。又書云「暴泄非陰，久瀉非陽。」久瀉固屬寒矣。然易思蘭治瑞昌王妃數年不愈，斷為火鬱，而用黃連。《蘇沈良方》治久患脾泄，有生薑黃連一方，《冷廬醫話》載有三十年不愈之瀉，用滾痰丸三服頓愈，然則「久瀉非陽」，又不可盡拘也。</p>

<h2>食厥</h2>
<p>《葉天士醫驗錄》，載食厥證甚多，有時而暈倒，口眼歪斜，手不能提，似中風者；有猛然昏倒，口內必叫一二聲，似羊癇者；有僵臥不醒，似邪祟者；有臨臥忽爾語言混亂，揚手擲足，目睛上竄，牙關緊閉，手足俱冷，妄言見鬼者，有每夜至半更時輒死去，胸前有塊拱起作痛，夜熱晝退，手心更熱者，凡此種種，非有真知的見，鮮不為病所惑，天士獨以氣口脈盛，或有關之前獨搏，或寸口弦滑為斷，其用藥總不外厚朴、山楂、麥芽、神麯、枳殼、木香、陳皮、半夏、炮薑、砂仁之屬，甚者加大黃下之，全書議論並不甚高，惟於此證殊為詳備，亦獨得之秘也，故表而出之。</p>

<h2>馬脾風</h2>
<p>小兒暴喘，俗名馬脾風。初虞世曰「馬脾風者，暴喘而兼脹滿也，大小便秘，宜急下之，用牛黃奪命散，後用白虎湯平之，患在百日內者不治。（牛黃奪命散：白醜、黑醜各一兩，半生半炒。川大黃、檳榔各一兩。共為末。三歲兒每服二錢，冷漿水調下。涎多加膩粉少許。）吳緩曰「馬脾風宜用辰砂二錢半，甘遂一錢半，輕粉五分，共為末，每取一字，以溫漿水少許，上滴香油一點，挑藥在油花上，待沉下，卻去漿水灌之，即名馬脾風散。此方甚妙也。」《醫宗金鑑》用五虎湯及一捻金下之。清道光間，江陰吳俯恬，名士瑛，著《痧疹論》。自述少時見一小兒，患溫邪咳嗆，漸至喘促胸高，聲如曳鋸，初不識為何病，有周某云「莫非馬脾風乎？」詢伊方治，則云忘之，囑其查閱方書，竟未查出。越兩日，症遂告敗。吳由是勤求古訓，久之乃得大驚散、牛黃奪命散、四將軍散等方，筆之於書，然效否？吳初未識也。近來此症甚多，為小兒科第一惡症，多由溫邪而起，其症外視初不凶惡，如《金鑑》所云「兩脅煽動陷下作坑，及神氣悶亂等症。」初俱不見，但喘促鼻煽，痰聲淥淥而已。醫者不曉，視為尋常之症，漫然與方，竟有不及終劑，猝然告斃者。知者或遵用《金鑑》五虎湯，以為平穩可法，然多不效。予曾用雄黃解毒丸救治兩小兒，其餘能自作瀉者，止用洋參、石膏、射干等劑，多能立效，以肺熱移於大腸，故症勢稍緩也。按此症在西醫書中，即是氣管支炎，為普通流行病，大人亦有，不獨小兒。小兒多危險者，以其氣力薄弱，不能鼓痰外出，必將氣管閉塞而死，故其死最速，誠知此症由於氣管支炎，其死由於弱不能湧痰，則於治法思過半矣。</p>

<h2>霍亂</h2>
<p>王孟英《霍亂論》專主寒涼，力言姜附為必不可用，今世多宗其說，以視昔之執傷寒法，用五苓散、理中湯者，相去甚遠。然近有一種癟螺瘟，吐瀉轉筋，四肢冷過肘膝，十指螺紋深陷，用孟英法無一應者，惟白通加人尿豬膽汁湯及益元散可救，二方皆用姜附，而以苦寒為佐，蓋非姜附不能回陽，而非苦寒則又格拒不入也。見此症之年，每與熱霍亂並見，其症亦口渴喜冷飲，寒熱真假，彼此極易混淆，宗孟英法者，治熱霍亂輒效，而於癟螺必無效。執傷寒法者，治癟螺或得半效，而與熱霍亂無不失手。然熱霍亂不似癟螺之險惡，即刮刺榻洗，取嚏飲冷諸法，皆能取效，不必讀《霍亂論》者，始能救治也。若癟螺症，當孟英著論時，尚未有此，故《霍亂論》在今日，非完備之書也。按癟螺與霍亂，實非兩症，但有陰陽之分，輕重有別。霍亂症在陽經，其勢為輕；癟螺症在少陰、厥陰，其勢為重。霍亂之吐利厥逆，乃由陽經傳入厥少，與傷寒傳經熱邪同例，癟螺竟是陰寒直中，中於少陰，白通加人尿豬膽汁為主，中於厥陰，當歸四逆湯為主。昔山陰田雪帆著《時行霍亂指迷》，謂霍亂轉筋是寒中厥陰，宜用當歸四逆加吳茱萸生薑湯，及艾灸關元穴，是真先得我心，《冷廬醫話》詳載其說，而孟英譏其紙上談兵過矣。至謂果系寒犯厥陰，當用吳茱萸湯，不當用當歸四逆通血脈以舒肌表，則是此君於厥陰病機及治法，並未究心。予嘗謂傷寒厥陰病，是靜脈中病，少陰病是動脈中病。少陰病篇白通湯、通脈四逆湯是溫通動脈血而調整其循環。厥陰病篇之當歸四逆湯是溫通靜脈血則調整其循環。霍亂之在厥陰，手足青紫，遍身青筋，正是靜脈（血）停留之象，正宜歸、芍、桂心、木通等溫通血脈，血脈一通，危象自退，此豈吳榮萸湯所能比擬。近時西醫治此，用鹽水注射，正以鹽能助血流通也。古書治霍亂亦用鹽滷淋洗摩擦，及炒鹽包熨心腹，但知有此法而未明其理，孟英妄解以為鹽能散風火、化濕熱，真不值一笑也。</p>
<p>分元1883年，即清光緒九年，德國特派醫士告格赴埃及、印度，查究霍亂之症，始知係一種狀如螺旋之微菌，據於病者之腸內蘊毒而成者。</p>

<h2>口糜泄瀉</h2>
<p>《金鑑》載口糜泄瀉一症，為古書所無，其症上發口糜，下瀉即止，泄瀉方止，口糜即生，謂是心脾移熱所致。口糜發時，晚用瀉心導赤散，滾湯淬服。下泄瀉時，早晚用參苓白朮散，糯米湯服。若小便甚少，下利不止，則用茯苓、車前子二味等分，煎湯代飲。若服寒涼藥，口瘡不效，則為虛火上泛，用理中湯加肉桂，大倍茯苓，降陽利水，降陽而口糜自消，水利泄瀉自止，可並愈也。予見一人患症與此同，醫多不識，其人年五十餘，性急多怒，予斷為肝陽所致，肝陽上逆，則生心火而口糜，肝陽下郁，則犯脾土而泄瀉，見症在心脾，而上下相移之故，則全在肝，治肝則心脾皆在治中，似較《金鑑》為得要領，為用黃連、麥冬、燈心草、防風根，小劑煎湯代茶服之良已。後又因怒舉發，有吳醫某以技自薦，其人信之，當糜時，姿與寒涼，口糜止而瀉不已，改用溫補止澀，調治兩月，如《金鑑》理中加桂之法。彼雖未見，而用藥當與暗合，且與附子並進，卒至瀉止而惡寒特甚，時在冬月，醫疑挾感，用豆豉發汗，而汗不出，繼用麻黃一劑，竟遂漏亡陽而逝。咎醫用麻黃之誤，而不知其誤，早在附桂，附桂熱藥，服之而反寒，此正仲景所謂熱深厥深之理。病本在肝，肝為厥陰，故見症如是，此時熱伏己深，用發散之劑，煽動其焰，遂一發而不能制，理固然也。</p>

<h2>瘧疾日輕日重</h2>
<p>門人治一瘧疾，一日輕一日重，來問於予，予曰「此《寓意草》所有，蓋因時日乾支之衰旺，與人身相關，甲丙戊庚壬為陽，乙丁已辛癸為陰。喻氏所治之症，值陽日助正，而邪不能勝則輕；值陰日助邪，而正不能勝則重，固以理中湯運轉胃陽而愈。」此他書所未道及，正可仿之施治。因詢此人瘧疾，乃陽日重而陰日輕，又詢其發之遲早，則重者發於午後，輕者發於日哺，予曰：此與喻氏所治，適得其反，喻氏所治，得之飢飽勞佚，傷其陽會，故症治如是。此人當是陰分素虧，陽邪傷陰，故陽日助邪而重，陰日助正而輕。詢之系吸鴉片者，陰虧可知，陽日重而瘧作反早，陰日輕而瘧作反晏者，蓋濕熱合邪，陽日則濕隨熱化，有宣通之機，故發之早；陰日熱為濕伏，有閉遏之象，故發之晏，實則重非真重，輕非真輕也。門人悅服，因詢治法，予曰：「此非一方可了。憶《醫醇𪒟義》治瘧法，初發寒邪，用辛溫解散；次發熱邪，用辛涼解散。此法令未有行之者，而此症正宜仿此用藥。當發重之日，預服甘寒之劑以清暑，使重者轉輕；發輕之日，預服苦燥之劑以化濕，使晏者轉早。如此可以必效。」門人依法治之，果應手愈。逾十餘日，又匆促來問，言此人愈後，飲食已增，能出外遊行矣。今不知何故，忽身汗昏督，不能自支，勢甚可危。予曰「此症愈後，本少竹葉石膏湯一劑，故有此變。可急用此湯加浮小麥與服」。後果一劑而平。</p>

<h1>附錄</h1>

<h2>西瓜灰治腎臟水臌奇效方</h2>
<p>（錄《聶氏家言選刊》）</p>
<p>有大黑皮西瓜於蒂部切去一蓋，大如五寸碟，挖去瓜瓤，留皮約四分厚，每瓜內加入大蒜頭（去梗連皮切片）十二兩，陽春砂仁（去殼搗碎）四兩，仍將切下之蓋，用蔑簽扦上，外塗酒罈泥約寸許厚，再敷以礱糠，用木柴青灰炙存性（約十小時許），研極細末，裝入瓶中密藏，不令泄氣，每服一錢，清晨或臨睡時用開水送下。輕者數服即愈，重者十餘服。切忌葷腥、鹽及麵食，並須永不再食西瓜，倘食之復發，則不可治矣。（此藥新制可用，愈陳愈佳。）</p>

<h1>谷蘇醫話（卷二）</h1>

<h2>膨脹</h2>
<p>《金匱·水氣篇》有「五水」之名，而無膨脹一門，後世方書分水腫與膨脹為兩證，而無石水、正水之目，不知正水即水腫，石水即膨脹，正水自喘，病涉於肺；石水腹滿不喘，病涉於肝。《內經》謂腎肝並沉為石水病源，謂石水引兩脅脹痛上至肺、胃脘則死。喻氏據《內經》病源之說，謂石水即脹病，其言至為有理。今人列脹病於水病外，不知脹病必有水，不如競稱石水之為當也。西醫《內科全書》謂凡水膨，按病源而分輕重，且多緩起，若因肝體縮實而起者，有數月之久，須先考其肝病之源與病勢，方能定其愈期。若因某臟腑略失功用而起者，則一、兩個禮拜之期，自可成膨狀，其愈期無因肝而起者之久，約數個禮拜，自可全愈，或因心、或因肺，因肝有患而起者，則病期不能預料，屬肝部尤為特險云。今中醫所稱之膨脹病，即因肝有患而起之水膨，《金匱》所稱為石水是也。石水《金匱》無方，後世如《三因》禹餘糧丸、《丹溪》小溫中丸，《直指》人參芎歸湯、《寶鑑》見蜆丸等方，多肝經藥，足補《金匱》所未備，但亦未必皆效耳。</p>

<h2>蠱脹</h2>
<p>張介賓謂膨脹中空無物（亦必有水，非真無物），多屬於氣；蠱脹中實有物，非蟲即血。血蠱證，徐靈胎以唐人法用肉桂、黃連、人參、大黃、五靈脂為劑，當是此病正方。又治血必先順氣，有氣結血聚，六脈弦滑而數者，先用蘇合香丸，俟腰作痛，乃以硝、黃逐之，此項彥章法也。又有大腹消後，左脅露出病根一條，如小枕狀，當以法湧其瘀血，更從大便泄之，其根始去，此喻江西法也。蟲蠱之最駭聞者，如《赤水玄珠》所載，天生堂嫂，病膨三載，死後火葬，腹忽響如炮，見蟲從腹中爆出，高二、三丈許，燒所之天為之昏，俄而墜地，細視皆蛔也，不下千萬數，大者長尺余，蟲腹中復生小蟲，多則十五、六條，或十數條，或五、六條，其蕃息若此。又治王氏子腹脹大，脈滑數，唇紅腹痛，又多嗜肥甘，因思諸凡腹痛者，唇色淡，不嗜飲食，今若此得非蟲乎，授以阿魏積塊丸，下蟲數十，三下而愈。</p>

<h2>水腫</h2>
<p>《冷廬醫話》載湖州胡氏子患水腫，有教以黑魚一尾，入綠礬腹中，燒灰服之，服後腹大痛遽死，按此本是古方，而難信如此。曾親見一人水腫，諸治不效，或教服雞屎醛驟愈，而兩目至夜不能視物，此證俗名雞矇眼，故疑為服雞屎之故，不知然否。按高鼓峰云，有一種食臌，初起必先雀目起翳，醫家不識，只治眼目，不知乃是臌之根也。據此，則知其證當是食，雞屎醴原非正治，故病去而根不去耳。後聞其證復發，而且反愈，始信鼓峰之說不誤，此事殆從經驗而得，未易以學理解釋也。</p>

<h2>疸</h2>
<p>徐洄溪言疸之重者，有囊在腹中，包裹黃水，藥不能入，非決破其囊，或提其黃水出淨，必不除根，此等病當求屢試屢驗，和平輕淡之單味藥治之。專持古方，竟有全然不應者，按治疸單方，《東醫寶鑑》羅列最多，徐忠可治黃疸，見其偏於上者，令服鮮射干一味，斤許而愈；見其偏於陰者，令服鮮益母草一味，數斤而愈。又凡有黃疸初起，非系谷疸、酒疸、女勞疸，輒令將車前根葉子合搗取汁，酒服數碗而愈。此殆所謂和平輕淡之單方也。予按人身惟膽汁色黃，黃疸必關涉膽經，而方書多未提及，何與至洄溪囊裹黃水之說，予不敢信，當質諸解剖家。</p>

<h2>飲一溲二</h2>
<p>《內經》有飲一溲二之肺消證，不過言其溲便之多耳，且證屬移寒，其人必不多飲，飲不多，故入飲一，溲倍出，故曰溲二，此一尋常症候不足奇也。自後人將此條列入消渴，一若大飲大溲，較之《金匱》所稱飲一斗、小便亦一斗之消渴證尤重，殊為可笑，不知善食形瘦日消，善飲口燥口渴，《內經》只云肺消，不云消渴，何得混入消渴一門？何西池《醫碥》固已辨之矣。繼得王潛齋說，尤覺爽然，潛齋云：「飲多溲多，其常也，不可謂病。必其肌漸瘦削，始為消渴。」雄自幼至今，非酷暑不飲茶湯，唯浸晨必以淖糜為早膳，而晝夜小溲五、六行，既清且長，較一日之所飲，奚止倍出。體氣虛寒者固然，設泥移寒之說，何以至今無恙乎？</p>

<h2>嚏</h2>
<p>嚏非病也，而能去病，蓋嚏中有發散意，與吐略同。仲景所謂客氣內入，嚏而出之是也。劉河間謂外風欲入內，火推拒格，故發為嚏，有嚏則風邪隨氣而散，不能傷於經，是以傷風有嚏為輕。高士宗謂，時病將痊則嚏，嚏則經脈流通，病邪自散，又厥證得蘇則嚏，嚏則從陰出陽，逆而復順。中風搐則經鼻取嚏，亦是開通經脈之意。按《素問·遺篇刺法論》黃帝問五疫之至，如何可得不相移易，岐伯曰：「不相染者，正氣存內，邪不可干，避其毒氣，天牝從來，復得其往，氣出於腦，即不邪干」。天牝者鼻也，邪自鼻來，復從鼻往，即搐鼻取嚏之意。今人患霍亂，倉猝不可得藥，用開關散，吹鼻取嚏，往往有效，正與天牧從來，復得其往之意合。惟世雖有此法，不知實本《內經》耳。又有久病陽不宣布，不能得嚏者，當搏一嚏以取快，法用人參、乾薑、五味、菖蒲、薤白、半夏、橘皮、紫菀、桔梗、甘草煎服，立效。此王孟英驗案。又有中寒家清涕善嚏，數年不愈，當以藥止之法，用鍾乳溫肺，人參溫中，黃耆實衛，鹿茸固髓，黃牛腦和丸，空腹服之即愈，此張璐玉驗案。《內經》、《金匱》雖言嚏欠元因，而無治法，錄此二案，以備法程。</p>

<h2>憂疾之疾</h2>
<p>昔桓虞有疾，在腠理而不知，遂至於大而不可救，此越人所駭嘆，而為諱疾忌醫者之同戒也。然或矜持太過，疾未至而憂其將成，已至而優其將深，且愈而憂其復作，則天君一亂，正氣先餒，不病於病，反病於憂。富貴人偶有微疾，百計矜持，而神氣不能驟復者，憂疾故也；貧下人不以微疾介懷，疾亦不能為患者，忘及故也。李瞻治一人，目腫火炎，而性最卞，愈躁而疾愈熾，非藥可下，瞻謂曰：「子目易愈，此客火將流毒於股，不十日必暴發。」其人習聞瞻名，遂日以股為憂，至三日，以一藥而愈，股亦無恙。或問其故，瞻曰：「性暴人患疾，每欲急愈，火上攻目，移其意以憂下，即易療。」今之患瘧疾者，謂有瘧鬼，每於未發之前，避匿他處。如高力士至功臣閣逃瘧，真愚妄可嗤，然竟有因逃得愈者，蓋多其憂疾，忘以憂鬼，而反與疾相忘也。又截瘧用符咒及諸造作，亦能有效，蓋其證本輕，而又冀有神護，正氣驟旺，積憂頓損也。巫醫亦能醫疾者，蓋假神護之說有以釋其憂也。醫之名高難致者，往往聆馨頦頓喜，而疾遂衰其半，亦有恃無優之效也。又有病至危篤，知憂之無益，甘心待死者，其病恆不死，慼慼然惟恐其死者，則恆不免於死。《淮南子》曰：「執獄牢者無罪，當死者肥澤，刑者多壽，心無累故也。」然則為醫亦多術矣。陳藏器曰：「以和養心，以禳去災，以言笑暢情懷，以無為驅滯著，豈專於藥石針灸之閒哉。」</p>

<h2>疑疾之疾</h2>
<p>疾有真者、有幻者，幻者由心造，杯弓蛇影，往往弄假成真，《北夢瑣言》載唐時京城醫者，治一婦從夫南中，曾誤食一蟲，常疑之，由是成疾，頻療不損，醫者知其所患，乃請主人姨奶中謹密者一人，預戒之曰，今以藥吐瀉，但以盤盂盛之，當吐之時，但言有一小蝦蟆走出，然切不可令疾者知其誑給也，其奶僕遵之，此疾永除。《萊蕪縣誌》載朱包蒙治馮某迂腐善疑，患瘋痛，自謂瘡毒，積憂成疾。公曰然投藥發泡十餘，其疾頓痊，或詢之曰：「是本非瘡，既疑是瘡，不令實見瘡形，疑不釋也。」《儒門事親》云：昔聞山東楊先生，治府主洞泄不已，楊初未對病人，與眾人談日月星辰纏度，及風雷雲雨之變，自辰至未，而病者聽之忘其圊。楊嘗曰，治洞泄不已之人，先問其所好事，好弈者與之棋，好樂者與之笙笛，勿輟。蓋疑疾而疾至，忘疾而疾亦旋已，豈惟洞泄然也。《莊子》：齊桓公田於澤，見鬼而反，誤治為病，數日不出，齊士有皇子臺敖者，以為是名委蛇，見之者霸，桓公輾然而笑，不終日而不知病之去也。王子《近思錄》，有人眼病，常見獅子，伊川先生教他見獅子則捉來，其人一面去捉，捉來捉去，捉不著，遂不見獅子。有人自畏尖物，明道先生教以室中率置尖物，使之見熟，而知尖不刺人也。則知畏者妄，而不復畏矣。此與張子和治驚，同一妙用。夫病變萬端，生於疑而成於憂者何限，醫者、病者不知以理勝之，而徒恃湯藥，抑未矣。</p>

<h2>經水</h2>
<p>經水先期主熱，後期主寒，常理也。而趙養葵云：「有不及期而無火者，有過期而有火者，不拘於一定。」予按不及期而無火者，氣虛不能攝血。趙氏謂宜補中湯者是也。過期而有火者，因熱耗血，血少故行遲，蔣仲芳治姚氏婦之證是也。經來紫黑屬熱，淡白屬寒，亦常理也，而趙養葵謂色黑亦有虛寒，葉天士謂血黑亦有風寒外乘者。沈堯封謂嘗見元和一婦，經水過期而色淡，服肉桂藥而致死，王夢隱謂色淡竟有屬熱者。</p>

<h2>經閉</h2>
<p>陳修園治朱紫坊黃姓女，經閉泄瀉，便後帶血，主《金匱》黃土湯，以赤石脂易黃土，乾薑易附子，每服加生鹿茸五錢，連服八劑，瀉如故而經通，又五劑，瀉血俱止，以六君子湯加乾薑收功。因引喻氏治楊季登女經閉用龍薈丸一案，為一虛一實之對子，備載所著《女科要旨》中。予按血枯經閉，無血可行者，方為真虛。修園及喻氏所治兩證，只有寒熱之分，並無虛實之別。喻氏所治是血熱，心氣不得下通，東垣所謂陰為陽搏，潔古所謂當瀉心火者，即是此證。觀其汗出如蒸，與倒經正同一例，蓋汗從血液中排出，血虧焉能作汗，血熱是以汗多，故喻氏謂此證可療處全在有汗，折以苦寒，應手輒愈。亦即東垣主用涼血，潔古先治心火之意。修園所治是血寒凝澀，澀則不能循經，而從他道錯出，與置豆鬥中勤蕩宛轉，稍緩即出同理，（詳見二卷失血門）。觀其無血行經，便復有血，其非真虛可知。遇喻氏必曰，此證可療處全在便血，修園不知，故用藥則是，議病似遜。夫同一經閉，一則血熱而從汗泄，一則血寒而從便泄，此即西醫所謂代償性月經也。故病皆可起，設真虛而無血可行，非大補其真陰不可，若修園所用之藥，又豈虛證所宜。又按婦人有經閉不行，而不為害者（暗經不在此例），有雖按月勉強一行，而不為吉者，此事惟王潛齋知之，他書罕能道及。</p>

<h2>卵珠</h2>
<p>女子受精成胎，全在卵珠。卵珠生於卵巢，而外有胞，每月熟一個為常度，亦有成熟兩個者。月經之行，即為卵珠成熟之徵候，月經將終，則為卵珠裂胞而出，入輸卵管，將卵中所藏胚珠為裂脫出，預留一隙，則以為精蟲攝入之路，然後前進而達於子宮，造成一種巢狀，約留六日乃至十日，在此期內一遇精蟲闖入，即吸收而營養之，是為妊娠。若期內不遇媾合，則卵珠由子宮口部脫出而下膣腔，不能成孕矣。中醫不知卵珠之說，故論收胎多主男精女血，不知血是養胎者也。今竟說成精血混合而成胎，豈非謬誤。又如褚氏以精裹血、血裹精分男女，東垣以精勝血，血勝精分男女，此等尤為無稽。卵珠成熟而受精，則為妊娠。故婦人無子，不得不注意於卵珠之營養與分泌。卵珠位於卵巢，而藏於濾泡，其營養一以濾泡內所含之白液為主，白液吸盡則卵珠成熟，濾泡外壁，通過多數微絲血管，血管充溢而破裂，則胞乃緊滿而突出於巢之表面，卒乃破其被膜，乃巢之表層而分泌卵珠，其分泌正為月經潮來，子宮黏膜剝脫之候，而卵珠即由輸卵管以達子宮，與黏膜之新創面相附著，以受精蟲之攝入。由此觀之，卵珠之營養在白液，卵珠之分泌在血液。以中醫學理解釋之，則白液者水也，血液者火也，水為體而火為用，壯水益火，治各有宜。古方治無子多主虛寒而用溫熱，其方之最佳者為秦桂丸，蔭丹溪力言其誤，予謂此方用桂、附，薑、辛等味，力能鼓盪血液而助分泌之用，以治血寒凝結，卵珠不能裂胞而出者，可以取效。若血熱，則非所宜。又況白液不足，卵珠失其營養者，更何以概施！</p>

<h2>妊娠</h2>
<p>婦人受妊，有難以常理測者，經不通不能受妊，此常理也。然汪石山治婦產後年餘，經水不通，首夏忽病嘔吐，手指麻痹，聲啞而噦，醫皆視為風病，汪診其脈細而近滑，尺按不絕，便斷為妊娠惡阻，治之果愈。又有一生不至孕，晴經者，是經不通，亦受妊也。妊後經即不行，亦常理也。然薛立齋治一婦，妊娠三月，其經月三、五次，兒大方止。張景岳治一婦，妊娠，經三月方止。王孟英治黃嶺吉室人，妊後四月經始停，娠始顯，娩如期。又有月月行經產子者，書名「胎盛」，俗名「垢胎」，是妊娠亦能行經也。能受妊者必無病，亦常理也。然江篁南治遊讓溪夫人，病新愈月餘，即受妊。汪石山治二婦病鼓脹，大如箕垂如囊，無藥可救，後皆因產而亡。王孟英治金碗香媳平產後營分不攝，季夏漸愈，仲秋診其脈，已有孕矣。治石誦義室，脘痛甫愈，適汛逾期，亦斷為孕，已而果然，果病體虛體亦能受孕也。凡若此等，理則反常，在事則恆有，當其胎孕未顯，求診於醫，苟非指下了了，安能見有於無。此外，更有血欲凝而暴竭證，初非有脈可驗，醫不知此妄投湯藥，此犯景岳暗產之戒，又《女科輯要》載錢鵠云之室得厥症，治愈後生一子，計其得病之時，乃受胎之初月。錢彬安之室，得咳嗆涎痰，脈細數之症，吳門葉氏謂是百日勞，不治，浦書亭取六味丸料與服，病愈而胎始顯。汪石山診一婦，孕五月，右脈大於左脈，謂是女孕，彼則喜曰：「我男胎矣，往歲有妊，尊甫先生診云，亦謂右脈浮大，當是女子，孕後生男，今妊又得是脈，可知為男矣。」後果生男。王孟英診周光遠妻，右寸關忽見強大滑疾，上溢魚際，詢知汛愆半月，曰：「妊也，並可必其為男。」聞者疑之，王曰：「肺象乎天，今右寸脈強滑上溢，豈非本乎天者親上耶。後果舉一子，脈書之不可泥如此。</p>

<h2>過用不產</h2>
<p>《病源論》妊娠過年不產，由挾寒冷，宿血在胞而有胎，冷血相搏，令胎不長，產不以時，予觀書傳所載，古之偉人，如符堅則十二月生，劉朔則十三月生，帝堯及昭帝則皆十四月生，劉聰則十五月生，又《產育寶慶集》云：婦人懷胎，有七月、八月、九月而產者，亦有經一年至二年、三年、五年而後產者，蓋人之生，陰注陽定，自有時日，不可改移，今必拘以十月，似為未盡，據此，則《病源》云云，未為通論。證諸生理學家之說，胎兒至第四個月男女已別，爪發始生。至第七個月，頭毛密生，睪丸漸下，瞳膜漸消，此時產出之兒，已能續其生命，故七月生子，固不為異。至遲產延至十數月者，證以西說，亦所恆有，惟遲至三年、五年實屬駭聞，然造化之奇，每有不可以常理測者，蕭慎齋目為不經則過矣。又按潘溫叟治一孕婦，孕五歲，一婦孕十有四月，皆未育，公視曰：「疾也。」作大劑飲之，孕五歲者，墮肉塊首余枚，有眉目狀。孕十四月者，墮一大蛇，而皆愈。許裕卿治一婦孕十七月不產，問諸情況，果孕非病，但云孕五月以後不動，為主丹參一味令服，兩旬余，胎下已死而枯，張石頑治馬雲生婦，孕十三月不產，脈來微結，為處十全大補湯，服至二十劑而下，胎枯色白，據此，則過期不產，有怪胎、枯胎，臨證又不可不審也。</p>

<h2>產後奇證</h2>
<p>丹溪、立齋醫案，有產後產下一物，如手帕者，有下一物如合缽者，有二歧者，有出肉線一條者，有子宮損落一片者，其在人身，果系何物，丹溪，立齋均無確見，然究其致此之由，則氣虛血脫四字，足以賅之，故立方處治，不過參、耆、歸、地，加以升提收澀之品。所謂知其要者一言而終也。丹溪有產後當大補氣血，雖有餘證，以未治之之論，殆為此等而發，當時得心應手之餘，不覺有此滿意語耳。又竇夢麟治一婦，因骨梗嘔吐，吐見一物，脫出口外二尺余，形如小腸，闊五分，內有未化食物，或云即是小腸，而腸不能出於口，竇氏謂是肺系，而肺系內不能容食，雖經治愈，理終不明。</p>

<h2>生化湯</h2>
<p>會稽錢氏生化湯，自景岳而傳，陳修園謂不拘半年、正產，雖平安無事，俱宜服。近世所傳《傅氏女科》偽書，於產後門專以此方加減，至於鄉僻之區，不及延醫，往往照方撮劑，以之行瘀，亦自有效。獨王夢隱起而闢之，立言未免過激，然亦不可以少此一說。考原方本有熟地，即四物湯去芍藥，加桃仁、乾薑、甘草，其去芍藥者，蓋泥於酸寒伐生氣之說，然熟地陰膩，弊更甚於芍藥，其乾薑一味，在制方者，蓋取陽生陰長之義，正是得意之筆，然當亡陰血虛，孤陽獨盛之時，原無取乎乾薑之生陽，而正不可少芍藥之益陰，用方者不可不知。</p>

<h2>產後鬱冒</h2>
<p>《金匱·產後篇》首列小柴胡湯，陳修園《醫學三字經》竟云「小柴胡，首特筆。」居然以小柴胡為產後第一正方，錯解古書，誤人不淺，茲備錄《金匱》原文，而解釋如下：</p>
<p>原文云「產後鬱冒，其脈微弱，嘔不能食，大便反堅，但頭汗出，所以然者，血虛而厥，厥而必冒，冒家欲解，必大汗出，以血虛下厥，孤陽上出，故頭汗出，所以產婦喜汗出者，止陰血虛，陽氣獨盛，故當汗出，陰陽乃復。大便堅，嘔不能食，小柴胡湯主之。病解能食，七八日更發熱者，此為胃實，大承氣湯主之。」</p>
<p>按原文當分兩段解，自產婦鬱冒至陰陽乃復句為一段，是論產後鬱冒之正文。大便堅以下為一段，是以鬱冒症之大便堅，嘔不能食，另詳外感證治，蓋謂鬱冒證之大便堅、嘔不能食，自宜損陽益陰，不必拘拘治嘔及通大便，若由外感風寒而得之大便堅、嘔不能食，當以傷風治法，先以小柴胡湯止嘔，嘔止而大便仍不行，再與大承氣下之，即《傷寒論》先與小柴胡湯以解外，後以柴胡加芒硝湯主之，同一用藥之例。且病能解食，七八日更發熱云云，玩一更字，可見此證先必發熱無汗，病解是得柴胡發汗而解，其為外感風寒無疑，與鬱冒證之自然汗出不發熱者不同，惟嘔與不便與鬱冒相似，故類及之，以見實證從實治，不必因產後而顧慮也。然則鬱冒無治乎？馮夢瞻雲頭汗過多，謂諸症亡陽，若產後陰氣太虛，正喜其亡陽與陰齊等，此薛氏之謂可勿藥而愈也，薛氏此言似有病語，實則本諸《金匱》產婦喜汗出一語，此喜字，即勿藥有喜之意，間有不得不服藥者，不過養血滋陰，其方自可意會，仲景不言者，無庸言也，孰意不言，後人意遂不知，至吳鞠通氏始稍有發明，亦可見古書之難讀矣。</p>

<h2>旋覆花湯</h2>
<p>《金匱》旋覆花湯，治婦人半產漏下。自來注者皆不曉其義，或遂疑為錯簡，以方中無溫補藥也，惟尤在徑云「肝病不宜溫補。解其鬱聚，即所以補；行其血氣，即所以溫。」王晉三注云「旋覆花湯，通劑也，治半產漏下，及通因通用法」。二注頗悟立方之旨，蓋方為氣實血熱者立，其治半產漏下，未必果能勝任，以之調理氣血，實無出其方右者，旋覆旋轉大氣，全蔥通調營氣，新絳引氣藥於血脈中以奏功，絕不用歸地等陰膩之品，而實為女科第一妙方。惟葉天士頗知採用，蓋深悟氣為血帥之理也。晉三自謂嘗於此方採用新絳、青蔥，加理氣血之品，移治鬱結傷中，胸脅疼痛等證。予謂此方之妙在旋覆、青蔥，不在新絳，新絳不妨代其他血藥，若旋覆旋轉大氣，則非他氣藥所能代，晉三採用此方，既加理氣之品，何以反去旋覆，既加理血之品，何必又用新絳，未免輕重倒置矣。</p>

<h2>女疝</h2>
<p>張子和云「女子血瘤，月事不行，行後小腹有塊，或時動移，前陰突出，後陰痔核，此女子之疝也。但女子不謂之疝而謂之瘕。」予按《金匱》婦人門有繞氣寒疝之語，是女子稱疝古書有之，子和未深考耳。王肯堂《醫鏡》云「婦人小腹近陰處，並結脹痛，或皮肉頂起如雞子頭者，乃寒氣聚於厥陰所致，是為陰疝，宜以官桂為主治，佐以木香、檳榔、青皮、大腹皮、大小茴香、香附、烏藥之類煎之，磨沉香五分，空心服。」又王漢皋《醫存》云「婦人兩胯忽生軟核如雞子大，兼之臍旁引痛者，乃女疝也，非魚口便毒，用四物加疝藥。」。</p>

<h2>二便俱從前陰出</h2>
<p>喻氏治姜宜人奇證，二便俱從前陰出，病起脫血之後，斷為血脫氣亂，然後水穀舍故趨新，舍寬趨隘，又謂幽門以滲血之故，釀為穀道，闢為坦徑云云。此說殊涉含糊，以愚度之，必是脫血之後，有離經未盡之血阻塞直腸，使糞穢不得從其故道，勢必另闢一門穿漏而出，非由氣亂而然，亦與幽門無涉。又按張石頑治一婦產後驚駭，五六日惡露不行，腹脹喘滿，大便從前陰出，以芎歸湯加莪朮、肉桂、焦楂，一服惡露通，而二便如常。又治一女方四歲，新秋患血痢而稀糞出於前陰，作冷熱不調食積治，與五苓散，服香連丸，二劑而愈。觀此兩案，亦是瘀阻直腸之症，一系腸垢所瘀，一系惡露連累，但俱屬暴病，與姜氏之得於久病者虛實不同，故皆治愈。雖然治愈，而所以然之故，石頑亦未知也。又有大腸生癰，以致糞穢從前陰漏出者，王仲言《揮塵餘話》載李生治一婦，腸中痛不可忍，大便從小便出，切脈時覺芤脈見於腸部，作腸癰治以雲母膏為丸，黃耆湯下，下膿血數升而愈。此與瘀阻症同，蓋癰腫亦能致直腸阻塞也，若無阻塞，則糞穢斷無舍故趨新、舍寬趨隘之理。姜氏之證，若用補血通瘀，或者亦有生理，恨不起喻氏而質之。近有一女子生而無糞門，大便從前陰出，年已十八九矣，此正喻氏所謂舍故趨新、舍寬趨隘者，然竟習以為常，至今無恙，亦一奇也。按方書云「小兒初生無糞門者死。一云必假物以開之。」曾親見一小兒，初生無糞門，大便不得出，腹脹如臌，青筋隆起，已垂斃矣。檢《醫宗金鑑》有銀針挑撥之法，一時無善手術者，乃延東醫某君，以刀開之，糞出而愈。</p>

<h2>陰吹</h2>
<p>《金匱》云「胃氣下泄，陰吹而正喧，此穀氣之實也，膏發煎主之。」吳鞠通云「飲家陰吹，橘半桂苓枳薑湯主之。」按西書載有會陰破證，有辯護士某，其妻久患此症，常於陰際發出一種微音如穀道中之通氣者，經醫診斷，始知系會陰破裂，其局部常有空氣通入其中，故動作起居，不免時發微音耳。古人所謂陰吹，不知是否即會陰破證，乃從胃氣論治，玄乎玄乎！</p>

<h2>目</h2>
<p>目有水火之分，氣血之異，景岳云「凡目病，非火有餘，即水不足。」吳昆云「眼者肝之竅，得水則榮，失水則枯。」古方如益陰腎氣丸，療本滋腎丸，治腎虛目暗，此補水法也。劉河間云「目病屬火。」張子和云「目不因火則不病。」治火之法，在藥則鹹寒吐下，在針則神庭、上星、囟會、前頂、百會五穴，此瀉火法也。《內經》云「氣脫者，目不明。」丹溪治目暴盲，主用參膏。陳遠公治目痛，用小柴胡湯加參苓，氣足則邪易去汗易發。古方補陽湯，治青白目翳，首重參耆苓朮甘溫益氣，此補氣法也。《內經》云「目得血而能視。」河間云「眼之為病在臟，則為里，當養血安神定志丸，婦人干熟地黃丸。」戴復庵治目赤腫痛，用四物湯加酒蒸大黃、赤茯苓、薄荷葉，此活血法也。然補水而肝腎有痹氣，又宜兼通其痹，如真人明目丸，川椒與二地並用是也。瀉火而火鬱內攻，又宜兼散其鬱，《醫統》謂散熱為治目之要，苦寒劑中宜加辛溫是也。補氣而氣為痰阻，又宜先理其痰。河間謂目昏澀者，由胸中氣濁上行。子和治目，有用瓜蒂散頻頻湧吐之法是也。活血而血為瘀停，又宜先通其瘀。孫兆治衛十人眼疼，通其經而疾愈。海藏治妻侄女目疾用溫目丸，下黑血塊，目愈而翳消是也。古人治目，法亦備矣。乃黃玉楸自因目疾為庸工所誤，遂歸咎古人，其實古人何嘗喜以寒涼立論，而桂附熱藥又何嘗不用耶。</p>

<h2>口瘡</h2>
<p>王肯堂治許久薇口糜，謂非乾薑不愈，卒如其言。又從子懋銛亦患此等極危急，熱甚欲飲冷水，與人參、白朮、乾薑各二錢，茯苓、甘草各一錢，煎成冷服，數服乃已。尤在涇謂此事是脾胃虛衰之火，被迫上炎，作為口瘡。其說蓋本諸丹溪，丹溪謂口瘡服涼藥不愈者，此中氣不足，虛火泛上無制，用理中湯，甚則加附子。予以為此非虛火，乃鬱火耳。觀丹溪先言服涼藥不愈，若是虛火，不但不愈，必增他變，此乃僅僅不愈，明系火為涼藥所逼，無有出路，必以熱藥發之，始得宣泄而愈。此與《瘟疫論》所云「疫證誤服涼藥，繼則四肢厥逆，更醫投附子而愈。」非為治病，實以治藥，同一機宜。王肯堂所治兩證，其先亦必過服涼藥，因其不愈，故藉乾薑以治藥耳。尤氏不悟，謂是虛火，又謂此證必飲食少思，大便不實、手足逆冷、肚腹作痛，全是想當然語，實則肯堂所治，未必如此，觀其從子懋銛一證，既云熱甚欲飲冷，則斷非飲食少思、大便不實可知。</p>

<h2>古今病證不同</h2>
<p>病之號以萬，不特中西不同，既就中言中，亦有古今之異，有古有今無者，如陰毒、陽毒是。有古無今有者，如痘瘡及種種新流行病是。有古人視為重要而今不恆見者，如真中風、真傷寒是，有古人混為一證，而今宜分別者，如《金匱》下利門，混泄瀉、滯下為一類，《傷寒論》混五種傷寒為一類是。夫古有今無，不必泥古；古無今有，理直從今；古人視為重要，而今不恆見，不必牽合以附會；古人混為一證，而今宜分別，自當竟委以窮源。乃有拘泥之徒，不知氣運有推遷，簡冊有錯亂，是古非今，自欺欺人，及施諸實驗，在在抵悟，則又有人起而駁之，由是空言愈多，實益愈少。明清以來，充棟醫經，大半皆是此類，支離穿鑿，令閱者徒費目力，此亦中醫之厄運也。又有名證不符者，如小兒痙病，名曰驚風；夏月中風，名曰陰暑，以之論治，焉能不誤。又如食不得入，名曰膈氣，其實只是胃病，與膈無涉也。二便易位，乃名交腸，其實只是大腸、膀胱間事，與小腸無涉也。名不正則言不順，中醫際此未運，欲撥寒灰揚新火，當自正名始矣。</p>

<h2>古方分兩</h2>
<p>古方分兩之重，較之今日，奚啻數倍，說者謂古今權量不同，而考據最精者，推《吳醫匯講》中所載王樸莊之說，謂古方一兩准今之七分六釐，一升准今之六勺七抄，似可據為定論。然何以解於不用分兩，而以枚數計者，如《傷寒》方中，每用大棗十二枚，杏仁七粒，梔子十四枚，枳實五枚之類，此等物類，豈亦古小於今耶？要知古方分量本重，蓋體質既殊，藥味又少，且寓多備少服之意，故分兩不得不重，盧不遠云「《千金方》用藥，動則數斤習見，吾儕不過兩許，令人不敢動手，薛立齋案又進一步，蓋病重劑亦重，杯水車薪，將如竇材所云「養殺人」者矣。</p>

<h2>脈</h2>
<p>《難經》為言脈之祖，然觀《扁鵲傳》自言其為方也，不待切脈、望色、聽聲、寫形。言病之所在，聞病之陽，論得其陰；聞病之陰，論得其陽。病因見於大表，不出千里，決者至眾，不可曲止也。《傳》中傳載數案，於貌太子則聞而知之，於桓侯則望而知之，均未嘗切脈，蓋陰陽之理明，則借脈可以合病，舍脈亦能辨證，此神而明之之事也。西醫不重診脈，大旨不過以指之壓力，試心力之強弱而已，然有一理，則無間於中西者，如舒高第云「無病者之脈，合度而不過滿，能壓住之，在指下緩緩抬起，夫緩緩抬起，即中醫所云「有胃氣也」，有胃氣故為無病，即有病亦易療。《內經》診脈以胃氣故為無病，即有病亦易療。《內經》診脈以胃氣為本，此所謂一言而終也。脈之至數，中醫候以呼吸，呼吸一次脈四至者為平人；西醫候以時計，謂平人每分時脈應七十二至，此中西醫診法不同也。然用中醫呼吸法，每分時所得平脈，亦在七八十至之間，蓋人之呼吸每分時之平均數約十八次至二十次，十八次以四乘之，恰得七十二，二十次以四乘之，恰得八十也。西醫驗得老年之脈，恆達於八十，至女子比男子恆多七八至，是七十二至乃至八十至皆為無病之脈，分脈於十八次、二十次之呼吸間，止合四至為平之說，此中西診法不同而同者也。又中醫有閏以太息之法，誠以呼吸有短長，則至數有參差，故仿歷家歸餘於閏之例，得四至者為平，得五至者亦為平，此又定法中活法也。</p>
<p>西醫言脈之至數，於年齡、男女、身容、作息有相關之故，大抵自幼至壯，脈漸減少，及其向衰，脈漸加多。形長較形短者減少，女子較男子加多；偃臥時較坐時減少，立時較坐時加多；朝時減少，夕時加多；飲冷者減少，食熱者加多；偃息時減少，運動時加多；優時減少，怒時加多；寒氣減少，暑氣加多，此皆法外案也，醫先察此，方不為所淆惑。且由此說反之，應加多而不加多，雖得平脈，而實近於遲；就減少而不減少，雖得平脈，而實近於數，此又法外法也。《內經》言人一呼脈一動，一吸脈一動，曰少氣，此種脈若在一分時內計之，呼吸得二十次，脈僅得四十至矣。然觀西醫書，言法王拿破崙，英將究材登，為當時代名人，其脈每分時不外五十至，間有每分時脈僅四十至乃至三十至者，亦無甚病。西醫言身無病時之脈，間亦有亂，或有歇止，在病時反能合度，病愈後又有歇止。明王文恪公《震澤長語》云「徐文定公為詹事時至蘇城，聞王時勉名醫也，令診之。時勉既診，以公脈有歇，至不敢言。公曰，吾脈素有異。時勉曰，如是無妨。」是脈固有生而歇至者，竊憶家鑑湖伯，素無病，一日戲以脈索診，令覘體之虛實，診得脈四五至一止，或七八至一止，於緩中見之，脈書謂緩止曰結，乃陰凝之象，謂必痰濕為患。伊初不信，逾年秋末，自江西寄一函，言夏間大發濕氣，頭腫目突，面部時流黃水，三晝夜不止，易數醫方能獲愈。愈後旋又病瘧，頗為所困，病後至今，尚未復原云。」據此，則隔歲之診，固已預兆病機，但當時不覺耳，可見無病而得歇至脈，必有隱藏之疾，待時而動，非真無病也。至西醫謂歇至脈在病時反能合度者，蓋病邪外發，本脈自顯也。愈後又有歇至者，病有遺留餘邪仍結也，豈可概視為生成固有之事而忽之。脈有反關者，有一手有脈，一手無脈者，尋按列缺穴分亦不應，叩其夫，知有孕時醫診亦言無脈，汪曰此由稟賦本來脈不應也，無足怪，可見天下事變出無窮，果難一一以常理測也。王漢皋云：「醫人三指頭內亦有動脈，須心有分別，勿誤作病人之脈。」此事未經人道。</p>

<h2>太素脈</h2>
<p>《太素脈訣》，專言人之窮通貴賤，所作歌括多俚語，全無理趣，然古之善太素脈者，能察父脈而知子貴，察夫脈而知妻亡，其應如神，雖以王荊公之學識，猶為所惑。予觀景岳《矯世惑脈辨》，力闢其妄，且引巢氏之說曰：太素者，善於相法，持假太素以神其術耳。</p>

<h2>色診</h2>
<p>《內經》色診，大抵忌滯晦，而喜光澤，然有無故面色忽呈光澤者，非吉兆也。《溫公詩話》云「梅聖俞之卒也，宋之才曰，比見聖俞面光澤特甚，意為充盛，不知乃不祥也。時韓欽聖面亦光澤，沈文通指之曰，次及欽聖矣。眾皆尤其暴諺，不數日欽聖抱疾而卒。」</p>

<h2>辨舌</h2>
<p>偶閱《大陸報》有覘舌斷病法，大指謂舊時理想，以舌之生苔，為消化器不良之一種徵驗，近時科學發明，知古之生苔，不盡由此，如積勞失眠，過傷目力，及神經瞀亂憂鬱過度之人，往往生濃之舌苔，因舌苔乃頭蓋骨底盤破碎後所生故也。予按消化不良與神經病，皆能生濃厚之舌苔，以吾所得於經驗者言之，則同一濃厚之苔，而在消化不良者見之，可斷其為宿食，在患神經病者見之，可斷其為積痰，痰與食皆能令舌苔增厚，且色之黃白，質之燥潤，尤當細辨，以為虛實寒熱之徵驗。中醫古書，皆詳於切脈，而略於覘舌，及敖氏《傷寒金鏡錄》出，始於外感門中開覘舌一法，只以舌證，不能脈辨，為千載不偶之秘書，至葉天士著《溫熱病論》驗舌之法，尤覺淺而易知，簡而易守，雖未由以今日學理解釋其所以言之故，然既切於應用，固百世不能廢也。又高士宗《醫學真傳》亦有辨舌一篇，大致以舌紅為正色，以黃苔為虛寒，其說與諸家相反，蓋經驗不多而又好為高論以欺人耳，其說不可從。</p>

<h2>寒熱表</h2>
<p>用寒熱表者，驗得身熱，有左右高低之不同，便知其系半身不遂，即癱瘓與腦部等之病證，據此可見中風是冷熱二氣左右相引，亦猶空氣因冷熱不均而生風，故仲景論中風，以正氣引邪，或左或右為言，而藥則寒熱並用也。驗得熱證，如感冒、傷風、發熱等，自始至終，皆有一定之準則。及其朝夕加減之輕重，絕無忽然變遷驟加速減者，據此可見六淫為病，營衛氣血有淺深，表裡上下有次第，用藥不可混亂也。驗得熱證，於急愈後其熱度往往退至常人之下，數日復原。據此，可見熱證愈後，不可過用寒涼，致令陽氣衰微，精神難復。驗得小兒身熱常在頃刻之間而加高，不可遽認為必發大熱證之先兆，此乃暫時之熱，不久便退，據此可見小兒陰弱，熱度易升，每多痙厥，又可以見稚陽未充，雖有大熱，不可恣用寒涼，而伐生生之氣也，他如飢飲勞扶，忿怒思慮，皆於熱度有相關之事，切脈之工，須參識此意。</p>

<h2>經脈</h2>
<p>《靈樞》五十榮云「人經脈上下左右前後二十八脈，周身十六丈二尺，呼吸定息，氣行六寸、二百七十息，氣行一十六丈二尺，一周於身一萬三千五百息，氣行五十榮於身。」《脈度》云「手之六陽，從手走頭，長五尺，五六三丈。手之六陰，從手至胸中三尺五寸，三六一丈八尺，五六三尺，合二丈一尺。足之六陽，從足上至頭，八尺，六八四丈八尺，足之六陰，從足至腦中，六尺五寸，六六三丈六尺，五六三尺，合三丈九尺。蹻脈從足至目，七尺五寸，二七一丈四尺，二五一尺，合一丈五尺。督脈任脈各四尺五寸，二四八尺，二五一尺，合九尺。凡都合一十六丈二尺。據此則是二十八脈，一十六丈二尺，周而復始，陰陽相貫，如環無端明矣。而《難經》本榮氣篇之文，謂榮氣之行，始從中焦注手太陰、陽明，陽明注足陽明、太陰，太陰注手少陰、太陽，太陽注足太陽、少陰，少陰注手心主、少陽，少陽注足少陽、厥陰，厥陰復還注手太陰。考《靈樞·經脈篇》十二經經脈之行次亦同，是十二經自為循環，何得又有任督蹻四脈以間之，然無任督蹻四脈，則不合於周身一十六丈二尺之數，即不合於一萬三千五百息，氣行五十榮於身之數，兩說互異如此。且據五十榮及脈度之說是分十二經為二十四脈，先後相續而行，據《脈經》及《難經》之說，是合二十四脈，為十二經脈，左右相併而行，十二經脈之行次始於手太陰，終於足厥陰，二十八脈之行次，則又何始何終乎？此古書所以不可盡信也。</p>

<h2>絡脈</h2>
<p>《靈樞》謂絡有十五，十二經各有一絡，加任之尾翳，督之長強，脾之大包，是為十五絡。越人翻《靈樞》舊案，易任督二絡為二蹻絡，其說固不足憑，然《素問》有胃之大絡，名曰虛里一節，《靈樞》不言，是《靈樞》有遺文也。李東垣謂當增胃絡為十六絡。喻嘉言謂十五當並八奇經，合為一絡，再增胃之一絡，合於十二經絡及脾絡，仍得十五絡之數。予謂東垣固屬武斷，嘉言亦甚牽強，《靈樞》明分任督為二，令並八奇經，為一何所據而云，然如謂胃之一絡，無處安置，必如是配合，方有著落，然脾胃相連，脾絡既名大包，安知不並胃絡而亦包之，合八奇經為一，如何合脾胃為一之為得也，要之經絡之說，古人當別有據，後世無從查考，閱近世人體解剖圖，動靜脈管，縱橫交錯，如網之絡，若以十二經十五絡之說，為之支分派別，不啻治絲而紛，則古書似不可信，然針科所傳銅人圖，按穴療病卻有奇效，則古人又自不妄，予意經絡云者，是指無形之氣道，不在有形之血管，雖精於解剖者，無從測其底蘊也。</p>

<h2>甜肉經</h2>
<p>美車柯為良氏譏吾國醫書無甜肉經，夫甜肉經即東醫所謂□臟，□臟即吾國醫書之所謂脾也，其汁甜，故書曰其味甘，甘先入脾，其汁入胃化食，故曰脾傷則不磨，其位置橫貼於胃後，故曰脾與胃以膜相連，其體質極柔軟，故曰陰中之至陰。然則吾國之所謂脾，即是□臟，即是甜肉經。李東垣以善治脾胃著稱，後人翕然宗之，是吾國之視甜肉經，與胃並重也，至胃之左側，有一大腺，色深紫，西醫謂之脾者，此乃《醫林改錯》所謂總提，不名為脾也，柯氏誤以吾國所謂脾者，是指此物，遂疑吾國醫書無甜肉經，抑知吾國所謂脾，乃在彼不在此乎。</p>

<h2>膻中</h2>
<p>李士材曰「膻中者，包絡之別名。」此語大誤。《內經》所謂膻中，是指橫膈膜，腹中呼吸，全以膻中為主，吸時則收縮而扁平，呼時則復舊而隆起，腹腔之容積，因之而伸縮，故《內經》稱為氣海，為人身重要部分。包絡是心外衣，與此絕然不同，何得為膻中是包絡之別名？然《內經》有時又云「膻中者，臣使之官。膻中者，心主之宮城。」此則是指包絡，蓋膻中、包絡，《內經》往往混稱，宜士材有此誤會也。</p>

<h2>三焦</h2>
<p>三焦或云有形或云無形，紛紛者久無定論，然按《靈樞》云「密理厚皮者三焦厚，粗理薄皮者三焦薄。」又云「勇士者三焦理橫，怯士者三焦理縱。」又云「上焦出於胃上口，並咽以上，貫膈而布胸中。中焦亦並胃中，出上焦之後，泌糟粕，蒸津液，化精微而為血。下焦者別迴腸，注膀胱而滲入焉。水穀者居於胃中，成糟粕，下大腸，而成下焦，滲而俱下，濟泌別汁，循下焦而滲入膀胱焉。」夫既有厚薄縱橫，又各有其部位，則有名無形之說，固不足據。陳無擇謂三焦有形如脂膜。袁淳甫以人身著內一層為三焦。李瀕湖謂核桃之形有似三焦。已隱隱將三焦形狀指出。他如東垣、景岳輩，既不敢從《難經》、《脈訣》之說，謂其無形，又不敢憑想象之見，信為有形，遂發三焦有幾之疑問，真乃扣盤捫燭之談。王清任曾親見臟腑，當知三焦之所在，無如見其形不知其名，譬如訪一素未謀面之人，遂乃失之交臂也。蜀天彭唐容川著《中西匯通》醫書，雖多牽合附會，識見單簡，惟解三焦即是連網，與陳無擇等說頗合，而尤為詳盡，當可據為定論。然尚有一間未達者，則以三焦為利水之具，不知水入於胃，由吸管攝入回管，過肝入心，運行周身，出於肺為氣，旁溢皮膚為汗，下入內腎為溺，皆必有管以束之，如水行大地，必有堤岸，若云三焦利水，絕無堤防，則懷山襄陵，不幾成一洪水滔天之世界乎。</p>

<h2>氣管閉蓋</h2>
<p>飲食入口，咀嚼下咽時，其舌根必上抵，則氣管閉而飲食專自食道下矣。食管通鼻處，有軟口蓋，下咽時防護之，使飲食不致嗆入於鼻，此說在中醫書中，惟王清任知之，其論痘瘡飲水即嗆，是瘟毒燒煉，會厭血凝，不能蓋嚴氣門，故飲水滲入即嗆，化開會厭瘀血，其嗆立止，此說誠然。按《論語》「食不語。」楊氏注云「肺為氣主，而聲出焉。飲食則氣窒不通，語言恐傷之也。」此以生理解經，固自可喜，惜乎詞不達意。予謂飲食則氣窒不通，當改作飲食則氣門閉，蓋語言恐傷，當改作語言則氣門復開，飲食嗆入，恐嗆之也，如此則詞達矣。</p>

<h2>醫林改錯</h2>
<p>泰西當吾國西漢時，埃及亞歷山大學寮中，始行人體解剖學，嗣以迷信宗教，故其學因中斷，馴至十四紀以還，乃再興此學，十八世紀之末，發現顯微鏡之用，其學遂日臻隆盛。按《靈樞》言，人死可解剖而視之，是吾國解剖學發明最早，特以跡近殘忍，故其學不興。《漢書·王莽傳》有使太醫尚方，與巧屠誇剝刑人之屍，量度五臟，其脈之事，然不聞有所發明。崇寧水能浮舟，亦能覆舟，原不專指賊風言也。</p>

<h2>月</h2>
<p>月隨地行，如針磁之相引，月既與地有關係，人居地上，亦不能與月無關係，故《靈樞》曰「人與天地相參也，與日月相應也，治病不知日月，不得謂良工矣。」惟日與人之關係，尚有知者，月之關係，經雖言之，而知者絕少，惟《春秋》傳有晦淫之說，《金匱》論瘧有十五月盡之說，《千金》《病源》有小兒月蝕瘡，隨月生死之說，成無己注《傷寒·太陽篇》「血弱氣盡」句，謂當在月郭空時云云，馮氏《錦囊》陰陽論中，有朔望分陰陽一條，此外方書罕有言月者。近有法人焦奴士威爾氏者，著《環遊月球》小說云，月球與人之疾病大有關係，紀1690年，傳染病大作，罹此病而死者，月蝕時最多，他如發狂等證，亦多在月新、月滿之時，蓋月蝕則光熱缺，故病邪內陷而死。月初則光熱驟加，月滿則光熱愈大，故病邪外越而狂，此理所必然，而可證《內經》之說者也。至女子經水，方書亦稱月信，其因應月一行，如潮之有信，故取譬而名，試問月信所以應之理，則必懵然，須知在地為水，在人為血，故胞宮以血海名，海之有潮，以月之吸力也，月吸海水而成潮信，亦能吸血海而成月信，《靈樞》曰「月滿則海水西盛，人血既積，月郭空則海水東盛，人氣血虛，可見血海之被吸，亦與海水無異。西人驗得海水置在脊骨活體內，一如血然，能與脊骨物體生物上，放去若干血而以海水補代，使該話體毫無痛害，可見海水與血其性質有相似相同之處，故皆與月有關係。惟血海有盈虧，必盈科而後進，故月信只每月一次，海水無盈虧，故大小潮每月四次，此又同中之異也，知此則知月信之命名，固有確不可易之理，且不特月信與月有關係，凡男女經絡之血，無不隨月為盈虛，《素問》云「月胎生則血氣始精，月郭滿則血氣實，月郭空則經絡虛，月生而瀉，是謂臟虛，月滿而補，血氣揚溢，絡有留血，命日重實，月郭空而治，是謂亂經」。此則無分男女而皆與月有關係者也。</p>

<h2>云</h2>
<p>云在天空，與人身氣血亦有相關之故，然古惟針灸科曾一及之，用方藥者鮮能救此，惟《杭州府志》載錢塘葛林治楊公子一案。假雲氣以濟方藥之窮，殊有妙理。少師楊公子，當暑眩已絕，且移之木矣，林趨入曰「無傷也，亟出之。」公曰：「兒已噤矣，奈何劑也？」林曰：「予無劑也，所恃者天上云耳。云生而悽悽欲雨，陰氣舒而陽郁消，吾以清利物煮水而蒸其下，其可瘳乎！」如其法而疾愈。迨暮而兒戲於庭矣。內證亦無不可移。臟病可移於腑，如魏玉璜治一少年一老人，勞嗽失音，為用集靈膏，皆下生痔而愈是也。重病移之使輕，如錢仲陽患周痹，恐其入臟，自用藥移之，使病在末，故左手足雖不用，而能享天年是也。內部移之外出，如張子和治川德源洞泄，治之漸愈，而足上患一癤，謂是里邪外出，病痊之候是也。又王海藏云「少陽病用柴胡移其時，早移於晏，晏移於早，氣移於血，血移於氣，使邪無可容之地，是內證亦有移治之法也。」大抵病之不能痊愈、不能速愈者，皆須用移法，此可補《石室秘錄》一百二十八法所未備。</p>

<h2>以意讀書</h2>
<p>醫者意也，以意用藥，亦可以意讀書，如《內經》驚者平之，此平字有鎮定之意，而張子和解為平常之平，以為平常見之，則不驚也，曾治一婦大驚後，聞有聲響，則驚倒不省，乃故擊幾以驚之，擊四五次，然後徐徐驚定，是夜擊門窗，自昏達曙，熟臥不聞，此以意讀書之一驗也。《金匱·婦人妊娠篇》有絕之之語，此絕字明是斷絕之絕，觀原文謂妊娠惡阻於法六十日當有此證，設有醫治逆者，卻一月加吐下者則絕之，明言誤治，則斷絕其胎孕也。樓全善解絕之為禁，絕其醫藥，曾治一婦惡阻病，前醫愈治愈吐，遂借禁絕之旨，以炒糯米代茶，止藥月餘漸安，此又以意讀書之一驗也，非圓機之士，未易語此。</p>

<h2>《內經》以前有醫經</h2>
<p>《內經》鬼叟區曰「臣斯十世。」岐伯曰「先師傳之，往聞其旨。」黃帝謂雷公曰「夫子所通書受事眾多矣。」是醫固不始於岐黃，其著《內經》，亦必有所本，茲觀《內經》所引書目，曰上經，曰下經，曰刺法，曰奇恆陰陽，曰陰陽十二官相使，曰金匱，曰太始天元冊，曰脈法，曰大要，曰陰陽傳，曰脈經上下篇，曰從容，曰玉版論，亦云搏矣，而今不傳，並不詳何人所作，意者此真岐黃之書，而今世所傳《內經》乃戰國人之偽話歟。</p>

<h2>福醫</h2>
<p>有患三陰瘧者，百治不愈，已近三年，聞有時醫某，初出懸壺，證事甚盛，即往求治，醫索閱前所服方，曰：「諸藥已嘗過，予豈有妙法，無已，其惟雞納霜乎？」其人曰：「亦已服過數次矣。」醫沉思良久曰：「試再服之，藥同而付藥之人不同，今藥付於我手，即是我之藥也，或者其有驗乎？」其信之，果一服而愈。蓋此醫明知技窮，所能自信者時也，運也。諺曰「乘我一年運，有病早來醫。」《玉堂閒話》有福醫之說，殆此醫之謂乎！《撫州府志》：「李生、王生忘其名，並撫人，醫道並行，王亞於李，崇仁有大室，邀李治病，約愈謝五百婚，李療之旬日不差，諭以更用王醫，乃留數藥而別。道遇王醫告之故，王曰吾技出兄下，今往無益，不如俱歸。李曰不然，吾得脈甚精，處藥甚偃，其不愈者，不當得謝耳，故辭。公往以吾藥治之必愈。王如其言，悉用李藥，微易湯使進，越三日疾瘳，富室如原約酬王。王歸，一半遺李，曰公治疾，吾何功？李必不可，曰：「此公之福命也。」按此即某時醫所云，藥同而付藥之人不同也。然觀羅謙甫《福醫說》是福醫之殺人，其禍尤烈。謙甫曰：「醫之福，福於渠者也。渠之福，安能消病者之患？」然則世之信任福醫者，可以憬然矣。</p>

<h2>疑醫</h2>
<p>偶見一貧醫為人治疾，其人眼藥未竟，即覺不安，格格欲吐，而又不得吐，懊憹殊甚，所親有知醫者，謂方甚平穩，並無作吐藥，不必過慮，其人遂安。逾時，其病亦失。予按《千金翼》云「疑師不治病，疑藥不服之，服之既不得力，決意不疑者，必大驗。」一切藥有從人意，即神疑人必失。此人疑醫之貧，而懼其術之必謬，疑懼交併，故胃不安而欲吐耳。嘗閱近人筆記，述清初鹽商某有微恙，延醫診治，醫謂書方既罷，鄭重言此方無足奇，須得羊脂玉瓶一，值千金者碎之，以其片入藥煎和，則疾可速愈也。某果出所藏古王瓶碎之，一劑而疾愈，以為神醫，立贈千金。人或問醫，玉瓶煎藥有味乎？醫笑曰此術耳。藥數文錢可購，縱足愈病，得毋為富翁所輕視乎？故碎其寶器以足之，且亦使心理注重，則病自易愈也，此雖不足為法，其言則深為有理。</p>

<h2>巫醫</h2>
<p>《論語》人而無恆，不可以作巫醫。以巫為醫也。南人惑於神鬼，信巫不信醫，有病不重方藥，惟事祈攘，故醫事以巫代之，遂有巫醫之名，邢《疏》岐而為二，《集註》仍之，未免欠考，徐春甫《古今醫統》謂巫醫即巫覡之徒，擊鼓舞趨，祈禳疾病，不知醫藥之理者，故南人謂之巫醫者此也。今世謂之端公、太保，又稱夜行卜士，北方名之師婆，雖是一切虛誕之輩，而亦不可無恆也。予按《通志·許楊傳》王莽纂位，楊變姓名為巫醫，是巫醫之名，漢時尚存，而亦大有人在，未可一例輕視。考上古穴居巢處，民智未開，皆以疾病為鬼神所祟，惟尚祈禱。至神農嘗百草，始知有藥，黃帝作《內經》始知有醫，是醫實濫觴於巫，而巫遂以兼醫，醫巫之最著者，曰巫彭，曰苗父，曰巫咸，曰俞附，皆古之巫醫也。《稽神錄》陳寨泉州晉江巫也，善禁咒之術，為人治疾多愈。《神仙傳》沈羲學道於蜀中，能消災治病，救濟百姓。又王遙能治病，但以八尺布趴敷於地不飲不食，須臾病愈，便起去，又壺公者有召軍術，召鬼神治病，《玉府符》凡二十餘卷。</p>

<h2>醫不自醫</h2>
<p>《淮南子》謂醫不能自治其病者為悖，然古名醫，如錢仲陽患攣痹，龐安常患聾聵，許紳患驚悸，張養正患瞽，皆不能自治。劉河間病傷寒而救於張潔古；盛啟東中毒藥，而療於草澤醫人；盧不遠患血證，自治幾危，而挽救於其子子繇；然子繇患瞽，則又不能自治。蓋一則病根沉錮，藥石無功，一則痛切肌膚，方寸先亂故也。</p>

<h2>梁武帝</h2>
<p>《梁書·世祖本紀》，世租諱繹，高祖（即武帝）第七子也，初生患眼，高租自下意治之，遂盲一目。《周書·姚僧垣傳》，梁武帝嘗因發熱，欲服大黃，僧垣曰「大黃乃是快藥，然至尊年高，不宜輕用。」帝弗從，遂至危篤。梁簡文帝《勸醫論》云「比之術者未嘗嵇合，曾無討論，多以少壯之時，涉獵方書，略知甘草為甜，桂心為辣，便是宴馭自足，經方混棄，及其愛深親屬，情切支肌，患起膏育，疴興府俞，雖欲盡其治功，思無所出，何以致然？本不素習，卒難改變故也。」此殆鑑於武帝之事，不覺言之痛切歟。</p>

<h2>死生有命</h2>
<p>死生有命，命不應死，有病不藥亦愈。應死者，縱使病愈，終亦必亡。《酉陽雜俎》載柳芳子登疾重，名醫張萬福視之，遙見登頂曰：有此頂，子何憂也？因診脈五六息，復曰不錯，壽且逾八十，乃留方數十字，謂登曰「不服此，亦得。」登後為庶子，年九十而卒。《北齊書》邢邵子大寶患傷寒，馬嗣明為之診，候脈退，告楊愔云「邢公子傷寒，不治自差。然脈候不出一年便死。覺之晚，不可治。」後果未期而卒。</p>

<h2>數學</h2>
<p>古之醫道，多兼數學，《史記·倉公傳》公孫光屬意於慶子男殷曰：「意好數，公必謹遇之。」《後漢書·方術傳》：華佗兼通數經，曉養性之術。又郭在師事程高，學方診六徵之技，陰陽不測之術。《北齊·徐之才本傳》：「之才少解天文兼通圖讖之學。千里為陰陽祿命，諸家相法及灼龜五兆，周易六壬，並須精熟，方為太醫，若不爾者，如無月夜遊，動致顛殞。」《明外史》葛乾孫兼通陰陽、律歷、星命。黃梨洲作《景岳傳》，稱其於象數、星緯、堪輿、律呂，皆能究其精蘊，遼陽之敗亡，中原之擾亂，皆預決於數年之前。王胥山跋《醫家心法》云「鼓峰醫術，自是高手，四明人傳其起痼扶衰，懸決生死日時多奇驗，及觀其自述醫案中所載浯溪呂氏婦產後驚悸，診脈而知其幼時有齒病，致大驚之事，詢之果然。人問何以知此，答曰脈法當如是耳，不精幹象數鈐法之學不能也，我儀其人必旁通象數，而參用其術，要之不盡自醫經中來。</p>

<h2>五行</h2>
<p>《內經》以金木水火土為五行，分配人身臟腑，此不過借有形之物，為研究虛理之對象，非謂人身確有所謂金木水火土也。近有德國某醫云「人重一百餘斤者，身中鐵質可造大釘七枚，油可造洋燭十斤，燐質可作自來火（火柴）十二萬根，鹽得二十小茶匙，糖得五十塊，每塊約半寸立方，水得四十升。」醫士之言如此。是人身確有金水火，糖味甘，在五行中又可以土例之，然則但少木耳，而《內經》言在夭為風，在地為木，木與風一而二者也，風與氣二而一者也。人身有養（氧）氣、輕（氫）氣、炭（碳）氣，此氣也，又可以木例之，然則五行之說，不僅虛理皆有實質可尋，但散在人身，各部若何以臟分配之處，則難以學理說明之。</p>

<h2>男子有乳腺</h2>
<p>進化論大家達爾文，言男子初本有乳腺，皆因不用而廢。予按後漢李善為李元蒼頭，元家疫相繼死，惟有孤兒續始生，諸奴婢欲殺續分財，善潛負續逃，親自哺養，乳為生潼。唐元德秀兄子襁褓喪親，無資得乳溫，乃自乳之，數日潼流，能食乃止。此兩事雖由至誠，難以常理揣測，然亦可證男子有乳腺之說也。</p>

<h2>口涎試賊</h2>
<p>印度人失物，疑同伴所竊，令各嚼飯一口吐之，見飯最乾者，即系竊物之人，蓋因驚恐則涎水不生也，而其所以然之故，惟《內經》詳之，經云「廉泉、玉英者，津液之道也。」又云「腎在液為唾，腎脈上挾舌本。」而廉泉玉英二穴在舌下，腎氣上行至舌，則涎唾從二穴而出。驚恐則涎唾不生者，經云「腎在志為恐，恐傷腎。」又云「恐則氣下。」腎傷氣下，則津液不能騰布於舌矣。然經又云「思勝恐。」假令竊物者預思瞞蔽之術，則臨時不致張皇，而口涎試賊之法，恐不驗矣。</p>

<h2>地方</h2>
<p>《素問·五運行大論》帝曰：「地之為下否乎？」岐伯云：「地為人之下，太虛之中者也。」帝曰「馮乎？」岐伯曰「大氣舉之也。」是明知地為圓體矣。乃《靈樞》又有「頭圓象天，足方象地」之說，何也？蓋在天中，雖為大氣所包舉，然究竟是否渾圓，古今中外之地學家，皆不能斷。若就吾人所見而論，地球水多幹陸，原是渾圓無缺之體，則必不能圓，地之缺處多作尖角形，則究合乎方，以足比之，最為相宜。今亦有人言，地球全圓必至歸直角立體之形者，可見地方之說，不盡無據也。</p>

<h2>煎藥宜慎</h2>
<p>《續醫說》言一人病蠱，腹膨脹，所謂蜘蛛病者，或進清暑益氣，當煎藥時，偶墜蜘蛛腐熟其中，童子懼責，潛去蜘蛛，尋以藥進，病者啜腹中作聲，反復不能安枕，既而瘦溺鬥許，腹脹如削，健康若平日。裴兆期言，有病陽症似陰者，醫投桂附，一婢煎之，適傾潑，茫無以應，借黃連香薷飲一杯代之，竟一飲而瘥。此兩人者，蓋有天幸，冥中若假手童婢以救之也，然由此反思，則此童此婢亦狡且險矣。沈存中曰「古方之飲藥者，煮煉有節，飲啜有宜，水泉有美惡，操藥之人有勤情，此服藥之難也。」東垣曰「病人煎藥，必擇人煎藥，能識煎熬製度，須令親信恭誠至意者，為人煎藥，銚器除油垢腥穢，必用新淨甜水為上，量水大小，斟酌以慢火煎熬分數，用紗濾去渣，取清汁服之，無不效。」其慎重如此，豈可漫付童婢手耶？幼時聞某老醫治一小恙，藥進而其人中夜暴亡，病家問罪於醫，醫自辨曰「予方甚平和，即不中病，何致殺人？」此似中毒而死，必藥鋪誤發毒藥，取渣驗之，藥並不誤，醫愈惶惑，乃取渣嘗之，則鹼極不可入口。醫曰「我藥不鹼，今此極鹼如滷，何也？因詢煎藥人，乃龍鍾老嫗，夜裡倉猝，誤取滷水煎藥，故中滷毒死耳。」於是醫之冤始白。</p>
<p>我謂煎藥失宜與藥肆作偽，均足誤人，近聞有人慾將習用藥品，信照西人煉成藥水，不特功力專精，亦且施用便利，此事若成，豈不甚善。余笑曰「此乃東坡所云，終日說龍肉也，徒悅聽聞，不可得食。且吾國方藥，其妙用要在煎法得宜，悉煅煉必多失性，仲景為立方之祖，觀其用藥，有先煮者，有煮成納入者，有去渣再煮者，有淋沸湯漬之者，有為末拌吞者，有宜丸者，有宜散者，古人豈徒為是紛紛哉，蓋必有妙用存焉耳。</p>

<h2>雜療</h2>
<p>土狗治水腫，治上用頭，治中用腹，治下用尾，治左用左，治右用右。</p>
<p>蜣螂治便閉，大便閉用上截，小便閉用下截。</p>
<p>蟬蛻治小兒夜啼用下半截，或者不信，用上半截，則啼復如初，此中奧□，雖經於化學者，恐亦無從查驗也。</p>
<p>《延壽書》云「有人好食豆腐中毒，醫不能治。作腐家言，萊菔入湯則腐不成，遂以萊菔湯下藥而愈。」</p>
<p>《閱微草堂筆記》飲滷汁者，狐傳一方云「取磨豆漿灌之，滷得豆漿則凝漿為腐，而不凝血。一則欲其不成腐，一則欲其凝漿為腐，計以人身作造腐廠，亦一奇也。」</p>
<p>張景岳治小兒誤吞鐵釘，用磁石、朴硝研末熬豬油加蜜調服，遂裹鐵釘從大便而出。按此即《千金方》之加味者耳。《千金》治小兒誤吞針方，取磁石如棗核大吞之，及含之其針自出。余謂以棗核大之磁石吞之，固無此理，含之未必有功，景岳變通其用，加朴硝油蜜，使著者著，逐者逐，潤者潤，四物同功合力，裹之而下，具見巧思。</p>
<p>白木耳能補內部損傷，《冷廬醫話》載汪生患腸紅兩月餘，日漸消瘦，有人傳方白木耳水煮淡食，日一錢，未及一月全愈。按此係腸部損傷出血，故用之有效。若傷在中上二部者，當研末酒沖服，曾有人試過云甚驗。</p>
<p>《槎庵小乘》載晉魏詠之生而兔缺，得名醫割而補之，百日而瘥。</p>
<p>《全唐詩話》載崔嘏舊失一目，以珠代之，不知古之醫人，何處得有此術。</p>
<p>梅聖俞河豚詩云「春州生獲芽，春岸飛楊花，河豚當此時，貴不數魚蝦。」歐陽公謂河豚出於春暮，食絮而肥，南人與獲芽為羹，云最美，故知詩者，謂破題兩句，已道盡河豚好處。而石林詩云「河豚至柳絮時，人已不食，謂之斑子，或言腹中生蟲，故惡之。而江西人始得食，公吉州人，故所知者，江西事也。余謂獲芽為羹，亦非取其味美，實欲藉以解毒。歐公未言，即作詩者，亦未必知也。東坡詩云「蔞蒿滿地蘆芽短，正是河豚欲上時。」蔞蒿、蘆芽俱解河豚毒，東坡知醫者，隨意寫景，不知含有此意否？</p>
<p>《類編》載楊吉老診一士人，謂三年後當以背疽死。茅山道士，令日日吃梨，遂獲安痊。</p>
<p>《耆舊續聞》一士人過泅州，有解太素脈者，謂來年有官，然有病也，問何病？曰病疽病。士子到京，來年登第，求診於醫，醫令啖梨二百許，既而遍身患瘡，以藥調和其內，尋愈。出京見向診脈者，問以何藥得療，乃以梨事對，脈者呼其子設香案，望京師而拜曰「不可謂世間無人。」</p>
<p>余曾治一人患腋癰，因食豬頭證勢大作，胸臂皆發赤斑，亢熱無汗，服藥皆吐，思食梨，遂教食之，食才過半，即大汗解，赤斑亦退。後竟不服藥，而癰亦消，真出意料也。</p>
<p>陶南村《輟耕錄》載有木乃伊云「天方國有人年七八十歲，願捨身濟眾，絕不飲食，惟澡身食蜜，死屍殮以石棺，仍滿用蜜浸之，百年後啟封，則成蜜劑，遇人折傷肢體，服少許立愈。」《本草綱目》採之，實荒誕不經。按西書有云「埃及古代，凡人死後爬剔腦髓，截開腹壁，洗以香水，填以香料，謂其人之靈魂，必再歸此肉體，名之曰木乃伊」。不知與陶氏所說，是一是二。</p>
<p>《蘇沈良方》云「目赤不可浴，浴湯驅體中熱，並及頭目，目必甚。李瞻治一人目，以氣虛，暗如行霧中，瞻先令以沸水浴洗兩足，三日後以一藥而瘳，或間其故？瞻曰氣虛人榮衛不和，湧泉穴位足底，熱之則上，可達於泥丸，必血活而藥始效。一是實證故忌浴，一是虛證故宜浴足。以用藥而論，前證自宜清涼，後證非補氣活血不可。</p>
<p>酒能亂性，酒氣遺傳，生子必多愚魯，雍端年十二，不識六與七，以其父固酒徒也。李白斗酒詩百篇，而其二女，不聞有詠絮才，然欲得佳兒，宜先戒酒矣。又乘醉成胎，令子骨軟。《秋燈叢話》載南陽某太守子，生而骨軟若癱瘓者，十餘歲猶溲溺需人，醫藥罔效。有布商葉某者，言能療此疾不須藥餌，惟取美酒數十斤，布列兒左右煮之歷三晝夜，兒起立運動如常人，守厚酬之。潔其故，商曰「我祖良醫也」，嘗謂乘酒成胎者，產子多骨軟，須用酒氣重達四肢以堅其骨。聞公素喜飲，必犯此症，故依方療焉。更有乳母嗜飲，能令兒醉，《醫學入門》載呂復治一女孩病嗜臥，面頗赤而身不熱，醫以慢驚風治之，兼旬不愈，復診其脈，有關獨滑而數，他部大小等而和，曰此女無病，關滑為有食積，意乳母嗜酒，酒後輒乳，故令女醉，非風也，及詰之，果然，遂以枳殼、葛花。日二三服而愈。</p>

<h2>醫須異授</h2>
<p>許知可夢白衣人勸其學醫，助其智慧，果得盧扁之妙。張潔古夢有人用大斧長鑿，鑿心開竅，納書數卷，自是洞澈醫術。劉河間遇異人，以酒飲之大醉，寤後洞澈醫術。事之有無不可知，或亦假託神鬼以信其術於人耳。然書傳所載，名醫皆得異授，此則確有可信，非盡虛誕者也。不得異授，專恃方書，雖讀破萬卷，多岐反惑。許胤宗曰「醫者意也」，吾意所解，口莫能宣也。又曰「脈之妙處不可言傳。」虛著方書，終無人能悟，故胤宗不肯著書，然則書者，古人之糟粕也。龐安常曰「所謂《難經》者，扁鵲寓術於其書，而言之不詳，豈惟《難經》，一切方書皆當作如是觀。」</p>

<h2>養生</h2>
<p>知覺運動，人生酸化之作用也，有作用即有消耗，人身蛋白質、脂肪及水灰分，所以供酸化之消耗，而因以成其作用者也，消耗既盡，則作用廢，而人以死火消膏以成其光，人見有光之用，而不知其膏之暗耗也，《千金》引老子之言曰「人生大限百年，節護者可至於歲。」如膏用小炷之與大炷。旨哉言乎！信如是，則渾渾噩噩，無慮無思，七情俱亡，六窗皆閉，似可以免消耗，而得久視長生之術，然物競爭，存天演公例，使人守寂滅，勢固萬萬不能，亦覆成何世界？蓋天地不仁，以萬物為芻狗，一切含生負氣者，皆顛倒於其中而不能免，故作用之消耗，非吾人之諱言，而養生家之說，必難普及於人群。美國醫師北阿篤氏言，新世界以商工業之競爭，處此繁劇之社會，有不得不多用其腦力者，故其國患腦病者最多，遂名為美利堅病，一若以有此病為其國之光榮者，然觀吾國人此等病未嘗見少，惟有一言，不得不為吾人正告者，即對於作用之消耗，當辨其有益與否也，若以有用之身，供無益之消耗，則失計算甚矣。</p>

<h1>跋</h1>
<p>休寧戴君谷蓀，故多才藝，負博雅名。晚歲客南通，沒世時，以所為詩文醫話付友，今已二十餘年，友將刊其醫話，期踐夙諾，持以示余，其中關於辨證論治方面，不乏獨得之見，是以對症投藥，恆收驚人之效，此種創造性經驗，頗多足取。中醫理論，自成體系，醫籍浩如煙海，學說又多派別，而經典著作異常奧妙，戴君對此窺涉甚深，能融會諸家之說，以經典為依歸，並聯系實際，折衷一是，於臨床診療，往往手到春回，蓋非偶然，當亦符於理論與實際相結合之旨。祖國醫學遺產蘊藏甚富，亟待整理，取精去粗，以發揚光大，更好地為人民健康服務，而交流臨床經驗，提高醫療效率，誠屬當前急務，戴君醫話，可作醫藥實踐中參考之資，惟寫用舊式，論斷多於敘述，以今世觀點衡之，尚屬遺憾。戴君詩文喜釣奇，醫學造詣，亦至難能，徒以素性質鈉，不工媚悅，萍蓬飄泊於舊社會，郁不一施，奇窮至死，此固往昔所同慨，安能以其醫名不彰，而忽識之耶。</p>
<p><u>一九五七年七月瞿立衡跋於南京</u></p>

<h1>觸庵醫話序言</h1>
<p>友人戴谷蓀下世之六年，日本稱兵來犯，抗戰已十有八月，而南通淪陷亦十一月，余舉室避亂來申，流離顛沛，無以為計，因思谷蓀病亟時，嚐出所著醫話，為身後之託，今且未知其子蓉生流徙何所，能免飢寒否也？《醫話》雖幸攜客笥，人事不可知，設舉其平生精力所萃，謂可信今而傳後者，而亦付之冷風空波，即於淪沒，其疚負為何如耶？君故休寧諸生，流寓泰興季家市，庸衣凡帽，沙健庵太史於儕眾中獨驚為才士，酬唱往還不倦。嘗讀其詩，頗似趙甌北，畫則入四王之室。意其為魁捂丈夫，及得相見，則貌寢而聲不揚，且病聾，特秀溢眉字耳。君論詩揚（孟）郊而抑（賈）島，而窮乃過之。又謂文須讀韓，詩須讀杜，如修道人用逆行法，造詣乃高。以庚午鬻畫來通，莫知其能醫也。一日，同舍有病暑者，初若不過劇，君聞呻，詫曰，是將不起，庸醫不知疏解，火鬱於中，必無辜矣。兒子嘗病尪，君令以神砂、黑礬，參糖、棗為丸，余購於滬肆不得，歸質諸君，曰：「此賤藥，以有毒不輕售，豈知將必武健，且砂、礬得糖、棗之制，其毒已殺，奚害？」陳君亦奇病寒熱，便結半月，更數醫不效，介君診治，斷為肝木犯胃，不上不下，投藥一劑，而愈。於是朋輩展轉相傳，病者始爭延之，凡經其診治者，輒著奇效，君立方不循常軌，亦無尋常醫士習態。友有為謀鬻《醫話》於書賈者，君聞，與書曰：「余稿成於四十許時，融會古今百家醫集，折衷一是，雖無關於市井懸壺之用，而茶餘酒後，可資談助，亦筆記之一種，自謂頗有心得，但世多以耳為目，荒江腐儒，素不為人所知，人必笑為妄作，如何能賣錢？」君既窮甚，晚年又喪其妻，有傭婦曰王媽者，君以二奶奶呼之。嘗笑謂余：「王壬秋能呼周媽，而弟不能，可見學前人，一端尚不能及，況其他乎！」其風趣如此。顧行若□弛，而忠實無他腸，與余友，人久而益親，初名其豐，諱谷孫，一字觖庵，居南通四年而卒，年五十有六。卒之前一年，劉君振纓輩為醵資刊其詩，遺文存亦奇所。今南通已為虎狼窟宅，回首舊遊，殆如隔世，而余飄泊海上，鬚髮亦種種矣，深懼付託之雅，適同學友袁亦奇之哲嗣正剛，從事中國醫藥雜誌，姑檢付之，以稍完我先友之志，併為敘其大凡。嗚呼！是果能使君傳耶？</p>
<p><u>中華民國二十八年南通鏡人瞿竟成拜序。</u></p>
