<header data-type="book">
<h1>簡明中西匯參醫學圖說</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王有忠</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1906">公元1906年</data></dd></div>
<div><dt>底本</dt><dd>北京大學圖書館掃描本：<a href="https://archive.org/details/02093758.cn">一</a>、<a href="https://archive.org/details/02093759.cn">二</a></dd></div>
</dl>
</header>
