<header data-type="book">
<h1>傷寒治例</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉純</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1396">公元1396年</data></dd></div>
<div><dt>底本</dt><dd>江戶抄本（<a href="https://www.digital.archives.go.jp/file/1079150">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>傷寒治例引</h1>
<p>傷寒治例者，名醫劉翁之所著也。翁名純，字宗厚。其先淮南人，以事移關中，遂家焉。予晚生不及識翁，因企慕而訪求翁後，見其譜牒乃簪組裔也。翁為人博極群書，尤精醫道。厥考橘泉先生，受業丹溪之門，及翁繼之，醫道大行，家聲大著。遂以所學於父師者，為此書，蓋有以溯《素問》之源，撮仲景之旨。治傷寒者，循此而行，如射而中，獵而獲。足以起死回生，易危為安，無夭橫之危，皆躋仁壽之域矣。予得而刻之，蓋有以廣傳翁之德惠。不特此爾，翁之所著又有《醫經小學》、《玉機微義》傳於世云。</p>
<p><u>成化己亥歲陽月吉旦易庵居士蕭謙書</u></p>

<h1>傷寒治例</h1>

<h2>發熱</h2>
<p>屬表者，即風寒客於皮膚，陽氣怫鬱所致。翕翕發熱，若翕所覆，邪在外。若小便黃，非在外也。屬裡者，陽氣下陷入陰分，蒸蒸發熱，若熏蒸，邪在內。若小便清，非在內也。邪在三陽，太陽證多。邪在三陰，少陰證多。與潮熱若同而異，此屬半表，與煩躁相類而非，此屬半里。</p>
<p><u>解表</u>　有發汗、解肌之別。</p>
<p><u>發汗</u>　脈浮緊，為表實無汗，寒傷榮，宜麻黃湯。</p>
<p><u>解肌</u>　脈浮緩，為表虛自汗，風傷衛，宜桂枝湯。脈浮緩反無汗，脈浮緊反煩躁，宜桂枝麻黃各半湯。</p>
<p><u>和榮衛</u>　風兼寒脈，寒兼風脈，榮衛兩傷俱實，脈浮緊無汗，宜大青龍湯。</p>
<p><u>解肌表裡</u>　發熱，脈浮大，小便赤，煩渴，此表裡證俱見。或汗後脈浮，小便澀，並宜五苓散。</p>
<p>已上二條屬兩解例。</p>
<p><u>隨經治例</u>　太陽：麻黃湯。太陽陽明：六物麻黃湯。陽明：葛根湯。太陽少陽：七物柴胡湯。</p>
<p><u>六經表</u>　少陽：小柴胡湯。太陰：桂枝湯。少陰：麻黃附子細辛湯。厥陰：當歸四逆湯。</p>
<p><u>合病表</u>　陽明少陽：葛根柴胡湯。太陰少陰：真武湯。太陰厥陰：當歸四逆湯。少陰厥陰：四逆湯。</p>
<p><u>助陽</u>　發熱，脈沉無力，或少陰病始得之反熱者，亦屬表。所以一經表有一經表藥也。</p>
<p><u>溫經</u>　發熱為邪在表，當汗。脈沉細屬裡，而當溫散。凡熱而脈沉，為陽虛、經虛。</p>
<p><u>隨病治例</u>　汗後不解，脈浮大而遲，或緊澀，或尺不應，宜小建中加歸、耆，俟脈盛再汗。</p>
<p><u>下</u>　或身熱汗出濈濈然，脈實者，調胃承氣。或汗後不惡寒，但熱者實也，並陽明發熱汗多者，急下之，大承氣湯。太陽病三五日，發汗不解，蒸蒸發熱，屬胃也，調胃承氣。內實身熱，汗不出，反惡熱，或發熱汗出不解，心下痞，嘔吐而利，並大柴胡湯。非痞滿不可下。非潮熱、渴不可下。非脈沉數不可下。非譫語不可下。</p>
<p><u>隨病變例</u>　太陽病八九日，如瘧狀，發熱惡寒，熱多寒少，或熱而脈微，惡寒者，並宜桂枝麻黃各半湯。如大下後，身熱不去，心中結痛，用梔子豉湯。因以丸藥下後，身熱不去，微煩者，梔子乾薑湯。陽明脈浮，發熱，渴欲飲水，小便不利者，豬苓湯主之。汗多者不可與。陽明脈浮而緊，咽燥口苦，腹滿而喘，發熱汗出，不惡寒反惡熱，身重。若發汗則煩躁，反譫語。若加燒針，則必怵惕，煩而不得眠。若下之則胃虛，客氣動，心中懊憹，舌上苔者，梔子豉湯主之。全在隨證臨病加減擇法。</p>
<p><u>六經里</u>　太陽：五苓散。陽明：調胃承氣湯。少陽：黃芩湯。太陰：桂枝加大黃湯。少陰：黃連阿膠湯。厥陰：桃仁承氣湯。</p>
<p><u>合病里</u>　三陽合病：白虎湯。太陽陽明：小承氣湯。正陽陽明：大承氣湯。合三陰即是兩感證也。</p>
<p><u>隨時治例</u>　傷寒本為卒病，故用已上一表一里治例。如夏至後用麻黃知母石膏湯、或以防風通聖散加減用者，是從其時令，或地理方宜，故不可執一也。有近代諸方如正氣、五積之類。</p>
<p><u>禁例</u>　太陽病禁居多，陽明二禁，少陽三禁。舉其略則知其餘證用藥皆有禁例也，如藥禁。</p>
<p><u>針例</u>　汗不出，悽悽惡寒，取玉枕、大杼、肝俞、膈俞、陶道。身熱惡寒：後谿。身熱汗出、手足厥冷，取大都。身熱頭痛，食不下：三焦俞。汗不出取合谷、後谿、陽池、厲兌、解谿、風池。身熱而喘，取三間。餘熱不盡，取曲池。煩滿，汗不出，取風池、命門。汗出寒熱，取五處、攢竹、上脘。煩心好嘔，取巨闕、商丘。身熱，頭痛，汗不出，取曲泉。身熱進退，頭痛，取神道、關元、懸顱。</p>
<p>已上出《針經》。</p>
<p><u>雙解</u>　里證已急，或脈浮，或頭疼，風寒表證仍在者，過經不解是也，大柴胡主之。此解表功里法，又非前兩解之比。</p>
<p><u>漬形為汗</u>　熱而脈弦細，非往來寒熱不可和，非脅肋痛不可和，非胸滿而嘔不可和，非脈緩不可和。或表證未罷，邪氣傳裡，里未實，是為半表半裡。或自皮膚漸傳入里。或自內熱達於表。《直指方》曰：凡當汗下，如有他證相妨，切須和解，俟其他證已退，卻依汗下法。小柴胡湯，《活人書》去半夏名黃龍湯，陳孔碩名沖和湯，海藏名三禁湯，孫兆名黃胡湯，與四物對名調經湯，守真加減名三元湯。</p>
<p><u>散熱生津益氣</u>　身熱，目痛，鼻乾，惡熱自汗，脈尺寸浮長，白虎湯。《片玉》云：得汗脈靜，身熱不退，是發汗太過，胃中亡津液故也。處以生津液，益氣血，養胃氣之藥，參、朮、茯苓、麥門冬、升麻、陳皮、甘草、桂、耆、歸、芍、半夏、飴糖，三服而愈。或只用補中益氣湯。</p>
<p><u>出血</u>　《曾氏家學》治傷寒七八日不解，自胸上至頭目，黑紫壅腫，寸脈浮大而數，是欲作衄而不能出也，用干慄干任兩鼻，彈刺之，出血五六升而安，蒻葉亦可。西北方人或於兩尺澤中出血如射即安，諒亦此意。</p>
<p><u>復脈</u>　龐氏云：有不因大汗下，而兩手忽無脈，謂之雙伏。徊一手無，謂之單伏。或下過如此，必有正汗，急四逆輩溫之，晬時有汗便安。脈汗不出者死。脈結用炙甘草湯。</p>
<p><u>越婢</u>　太陽病，發熱惡寒，熱多寒少，脈微弱，不可表散，宜桂枝二越婢一湯，以解表邪而益衛滋津液。</p>
<p><u>外迎</u>　熏蒸在外，取汗是也。但病脈微弱遲細，動氣，瘡淋，亡血，虛煩，皆不可用此。</p>
<p><u>灸</u>　六脈沉細，一息二三至，取氣海、關元。少陰發熱，取太谿。</p>
<p><u>劫</u>　有汗下後，陰陽之氣下陷，熱不退，其人昏倦，不渴不食者，用來復丹、靈砂之類。</p>
<p><u>吐</u>　病如桂枝證，頭不痛，項不強，脈浮，胸中痞硬，氣上逆，胸有寒也，宜瓜蒂散吐之。或心中結痛而煩，宜梔子豉湯之類。</p>
<p><u>四證似傷寒</u>　寒痰、腳氣、食。勞煩，皆從病別治。</p>

<h2>發熱反欲得衣</h2>
<p>熱在肌表，寒在骨髓。</p>
<p><u>溫</u>　脈沉，手足微厥，下利，發熱，四逆湯。《活人書》云：表熱裡寒，先與陰旦湯。寒已，次用小柴胡加桂溫表。</p>
<p><u>反治</u></p>

<h2>身寒反不欲近衣</h2>
<p>熱在骨髓，寒在肌表。</p>
<p><u>從治</u>　先用白虎加人參湯，次用麻桂各半湯。</p>
<p><u>下</u>　脈滑而厥，口燥舌乾，所以少陰惡寒而蜷，時時自煩，不欲厚衣，大柴胡下之。</p>

<h2>惡寒</h2>
<p>有熱惡寒者，發於陽，有汗表虛，無汗表實。無熱惡寒者，發於陰。陰寒為病，口中和。陽氣內陷，口乾而渴。</p>

<h2>一身盡寒</h2>
<p>由陰氣上入陽中，或陽微陰虛相搏之所致。有脈沉實，為陽盛格陰。</p>

<h2>背惡寒</h2>
<p>背為陽，陽氣不足，陰寒盛故耳。或三陽合病，額有汗，口燥不仁，清熱用白虎湯。</p>
<p><u>發汗</u>　表實無汗，不惡風：麻黃湯或各半湯。脈緊，寒傷榮，麻黃湯。脈浮升麻湯。</p>
<p><u>解肌</u>　表虛自汗，惡風：桂枝湯。《保命集》曰：表未解，葛根湯。李氏用桂枝湯。嚴仁庵曰：風傷衛，桂枝湯。</p>
<p><u>溫</u>　發汗後不解，反惡寒者，虛也，陽微也，與芍藥甘草附子湯，以補榮衛。在陰者，四肢冷，大小便滑，溫中湯、四逆湯。或脈沉緊且細，內自煩躁，不飲水者，此為陰盛格陽。身冷，宜四逆湯、霹靂散。尺脈遲，小建中湯。《易簡方》加附子名附子建中湯。身寒拘急，泄，下重腹痛，皆少陰也，宜溫中益陰。</p>
<p><u>和解</u>　兼潮熱，柴胡加桂湯。汗已，寒而心下痞，附子瀉心湯。</p>
<p><u>下</u>　寒而潮熱，腹滿，與小承氣湯。</p>
<p><u>灸</u>　背惡寒，口中和，須灸之，關元穴。</p>
<p><u>熨</u></p>

<h2>惡風</h2>
<p>悉屬於陽。有汗而惡風為中風，衛病也，桂枝加葛。無汗而惡風為傷寒，榮病也，葛根湯。</p>
<p><u>解肌</u>　設反無汗，雖服桂枝反煩不解，無里證。</p>
<p><u>刺</u>　先刺風池、風府，卻與桂枝葛根湯。</p>
<p><u>發表</u>　無汗而惡風。</p>
<p><u>溫經</u>　發汗多，漏不止則亡陽，外不固，是以惡風，以桂附溫其經而固衛。</p>
<p><u>散濕</u>　風濕相搏，骨節疼，濕勝自汗，而皮腠不密，是以惡風，必以甘草附子湯，散濕而實其衛。</p>
<p><u>利痰</u>　憎寒發熱，惡風自汗，胸膈滿，氣上衝不得息，而頭不疼，項不強，為有痰，隨其虛實散利。與陽爭，則氣鬱不發於外，而為熱。</p>

<h2>寒熱</h2>
<p>身之陽虛，則邪客於表，與陽爭則為寒。身之陰虛，則邪客於裡，與陰爭則為熱。與陰爭則憤然而熱，故寒已而熱作焉。</p>
<p><u>表裡</u>　邪在表，多寒多。邪在裡，多熱多。半在表，半在裡，則寒熱相半。</p>
<p><u>和解</u>　半表裡，往來寒熱，小柴胡主之。熱多，白虎加桂湯。寒多，柴胡加桂湯。先寒後熱，陽不足也，小柴胡加桂湯。先熱後寒，陰不足也，小柴胡加芍藥湯主之。《難知》曰：若用柴胡而移其時於早晚，氣移於血，血移於氣，是邪無所容之地，知可解也。</p>
<p><u>下</u>　病日多而結熱在裡，復往來寒熱，大柴胡湯主之。惡熱者，胃實也，調胃承氣湯下之。</p>
<p><u>兩解</u></p>

<h2>熱多寒少</h2>
<p>脈浮，各半湯。微弱，桂枝二越婢一湯。脈遲，小建中加黃耆或溫中。</p>

<h2>寒多熱少</h2>
<p>不煩躁，手足厥逆，為傷寒。脈反浮緩，為中風，大青龍主之，或各半湯。仲景一書只有熱多寒少之條，無寒多熱少之證。</p>

<h2>潮熱</h2>
<p>發於寅卯巳午時者，邪未入胃。日晡所發者，乃入於胃也。有兼證：結胸脈不浮，陷胸湯。腹滿，身黃，梔子柏皮湯。</p>
<p><u>和解</u>　小柴胡湯。脈浮兼寒加桂。</p>
<p><u>攻下</u>　邪入胃，腹滿，脈實，大便硬，脈滑。脈浮，仍和解。</p>
<p><u>解肌</u>　脈虛自汗，桂枝湯。</p>

<h2>自汗</h2>
<p>多主衛，此衛氣不和，兼熱邪所幹也。太陽中暍，汗出惡寒，身熱而渴。汗出而濡，風濕自甚，皆邪干於衛氣，氣不能固於外，皮膚為之疏，而津液妄泄濈濈潤潤然出也。表虛汗後惡寒。表未解，惡風微惡寒。里未和，汗出不惡寒，熱越，陽明發熱。</p>
<p><u>解肌</u>　桂枝湯。</p>
<p><u>滲泄</u>　渴者，五苓散。</p>
<p><u>補</u>　自汗而小便數者，不可與桂枝，宜芍藥、甘草二物，或小建中諸方加耆，名黃耆建中湯。</p>
<p><u>和解</u>　柴胡加桂湯。</p>
<p><u>溫經</u>　發汗多，遂漏不止，曰漏風亡陽，桂枝附子湯。表虛未解，桂枝湯。四逆厥有汗，四逆湯。</p>
<p><u>疏風</u>　太陽病熱，脈沉細，搖頭口噤，背反汗出，不惡寒，名柔痓，中風也，宜小續命湯。汗多亡陽，惡風煩躁，先與防風白朮牡蠣湯。汗止，次服小建中湯。</p>
<p><u>下</u>　里未和，熱越，故下之。才覺汗多，未至津液干，速下之，則為捷徑，免致用蜜導也。</p>
<p><u>從治</u>　吐利止後，汗而厥，脈微欲絕，通脈四逆。</p>
<p><u>清暑</u>　暑邪干衛，非傷寒比。</p>
<p><u>流濕潤燥</u>　多汗而濡，此其風濕甚，濕邪干於衛也。</p>
<p><u>撲法</u></p>
<p><u>蜜導</u>　陽明自汗，小便利，為津液內竭，雖硬不可攻。</p>

<h2>盜汗</h2>
<p>睡而汗出，覺而則止方是，非若雜證，邪在半表裡使然也。</p>
<p><u>解肌</u>　出而微惡寒，小柴胡加桂湯。</p>
<p><u>和解</u></p>
<p><u>下</u>　素有積，或熱在內，脈實。</p>
<p><u>撲法</u>　白朮　白芷　藁本　川芎（各一兩）　米粉（一兩半）　為末，周身撲之。</p>

<h2>頭汗</h2>
<p>邪搏諸陽，津液上湊，則汗見於頭也。瘀熱在裡，身必發黃，小便不利，引水。熱入血室。陽明被火。水結胸中。寒濕相搏。邪在半表裡。</p>
<p><u>和解</u>　頭汗惡寒，小柴胡加桂。汗不止者，難治。若汗下後，胸滿微結，如往來寒熱，手足冷，心下滿，脈細，惡寒，小便不利，此皆頭汗之逆者。小便不利而成關格，陽脫也。喘者亦然。</p>
<p><u>下</u>　瘀熱在裡。</p>

<h2>手足汗</h2>
<p>熱聚於胃，是津液傍達也。有陽明中寒，不能食，小便不利，手足濈濈然汗出，此欲作痼瘕，即是中寒病。</p>
<p><u>下</u>　胃熱可下。</p>
<p><u>溫</u>　寒聚於胃，為不可下，當溫之。</p>

<h2>無汗</h2>
<p>寒邪傷人，獨不汗出，寒傷榮，而不傷衛，衛無邪氣所幹，則皮腠得以密，津液得以固，是以汗不出也。及其傳變里為熱，則亦使自汗，蓋熱則榮衛通。服三劑無汗，熱病，脈躁盛而不得汗，經謂陽脈之極也，主死。</p>
<p><u>助陽</u>　熟附配麻黃，發中有補，出趙氏《釋疑》。乾薑配生附，補中有發。無汗而解者，屬少陽也。戰而汗解者，太陽也。不戰汗解者，陽明也。</p>

<h2>頭痛</h2>
<p>太陽證居多。三陽經受風寒伏留而不去，則名厥頭痛。痛甚而手足寒者，為黃病。頭頂痛屬太陽經。頭角痛屬少陽。額痛及鼻屬陽明。</p>
<p><u>發汗</u>　傷寒無汗，發熱惡寒，不惡風，麻黃湯。不大便六七日，頭痛有熱，小便清者，知不在裡，仍在表也，當汗解。痛甚者必衄，葛根蔥白湯、荊防散、川芎石膏湯。</p>
<p><u>解肌</u>　傷風汗出，發熱惡風，不惡寒，桂枝湯。輕者，柴胡桂枝湯。</p>
<p><u>溫經</u>　厥陰、少陰證，嘔而吐沫，吳茱萸湯。夏月頭痛，身冷自汗，此中暑濕，朮附湯。</p>
<p><u>清上</u>　大頭傷寒，須用酒炒黃芩、荷葉、羌活輩。</p>
<p><u>攻下</u>　表邪入里，不大便，有熱，脈沉而滑，尺寸俱長，皆可下之。有熱，不惡寒，反惡熱，或不大便，小便赤者，胃實也，宜調胃主之。</p>
<p><u>和解</u>　邪在半表裡，少陽往來寒熱，脈弦細，宜小柴胡。發熱頭痛似瘧，欲愈，麻桂各半湯。</p>
<p><u>分利</u>　夏月頭痛，惡寒，心下煩躁不快，五苓散。</p>
<p><u>清鎮</u>　自汗頭痛，及風暑雜病，俱宜白虎，少加芎、荊芥尤妙，或竹葉石膏湯。</p>
<p><u>吐</u>　頭痛，及發寒熱，脈緊寸大，即是痰飲，宜瓜蒂散吐之。</p>
<p><u>敷痟</u>　汗後不解，用芷、辛、烏輩，同蔥白搗膏貼於額角。</p>
<p><u>吹搐</u>　汗後不解，用不臥散末吹之鼻內。</p>
<p><u>針刺</u></p>

<h2>項強</h2>
<p><u>發汗</u>　表實。</p>
<p><u>解肌</u>　汗出惡風。</p>
<p><u>和解</u>　身熱惡風，頭項強，腹中滿，手足溫而渴，小柴胡主之。</p>
<p><u>下</u>　結胸病亦項強，如柔痓狀，大陷胸主之。</p>
<p><u>針</u></p>

<h2>頭眩</h2>
<p>少陽與太陽並病，故眩者，責其虛也。眩冒者，皆發汗下後所致，是知其陽虛也。《針經》云：上則眩，下虛則厥，與風家眩暈同。</p>
<p><u>和解</u>　半表裡，邪漸行於里，表中易虛，故時時目眩也。中風家，多頭眩，宜解肌，傷寒亦然。</p>
<p><u>溫經</u>　頭眩，身瞤動，或虛弱汗多，宜真武湯。</p>
<p><u>吹鼻</u>　眩暈，鼻塞而煩，此頭中寒濕，宜瓜蒂散吹鼻中，取下濕水。</p>

<h2>胸脅滿</h2>
<p>胸滿多帶表證，多夾半表半裡證。邪氣自表傷里必先自胸脅，已次經心腹入胃。</p>
<p><u>發汗</u>　太陽陽明合病。</p>
<p><u>調中</u>　寒中太陰，誤下之愈不快，䐜脹，或吐或利，理中湯，枳實、陳皮輩。</p>
<p><u>和解</u>　半表裡，脅下痞硬，沖和去棗加牡蠣。或已汗下，胸脅滿微結，小便不利，渴而不嘔，但頭汗出，或往來寒熱，柴胡薑桂湯。</p>
<p><u>吐</u>　邪氣留於胸中，聚而為實者，非上吐不可。如四日在胸，吐之則已。</p>
<p><u>刺</u>　兼譫語，刺期門。</p>
<p><u>下</u>　陽明少陽合病，下利身熱，脅痛，大柴胡湯主之。汗後頭疼，心下痞，脅滿疼，短氣，十棗湯。</p>

<h2>心下滿</h2>
<p>是不經下後而滿，有吐下之殊。若下後滿者，又有結痞之別。虛邪留滯，則但滿而不硬痛也。脈雙弦而遲者，必心下硬，實則心下滿，虛則心下悸。</p>
<p><u>和解</u>　滿而不痛，半夏瀉心湯。</p>
<p><u>分消</u>　飲水多，心下脹滿，用牡蠣澤瀉湯利小水。《傷寒論》云：心下滿，心下悸，皆邪在胸，水停也。</p>
<p><u>吐</u>　邪在胸中，病則滿而煩，飢不能食者。</p>
<p><u>下</u>　心下滿而硬痛，近乎結胸，大陷胸湯主之。心下痞，按之濡，脈關上浮者，大黃黃連瀉心湯。</p>
<p><u>諸瀉心例</u>　心下痞而復惡寒汗出者，附子瀉心湯。汗後胃不和，心下痞硬，乾噫食臭，脅下有水氣，腹中雷鳴下利者，生薑瀉心湯。多痞而乾嘔，心煩不得安，下之痞益甚，此非熱，但胃中虛，客氣上逆故硬也，甘草瀉心湯。</p>

<h2>結胸</h2>
<p>有下之早而成者。脈浮緊，心下硬痛，未可下之。按則痛，為小結。不按而痛，為大結。《直指方》曰：臟氣閉結而不復流布也。結胸證悉具，而加之煩躁者，為不治。藥之所以能勝邪者，必待胃氣施布，藥力始能溫汗吐下，以逐其邪氣。邪氣勝，胃氣絕者，安可為之。</p>
<p><u>理中</u>　邪在上，胸膈痞結，或未辨虛實，先與理中，加枳實尤妙，先理其氣，枳朮理中丸、桔梗枳殼湯。韓祗和用七物調中丸。看寒熱兼證隨治。按不按皆痛者，乃熱結在心下也。</p>
<p><u>攻下</u>　大小陷胸及大陷胸丸選用。韓祗和用茯苓陷胸湯。《究源方》用鶴頂丹治陰陽二結如神。</p>
<p><u>水漬法</u>　《仁存方》治結胸煩亂欲死，凝雪湯漬布薄胸上，熱除為度。當溫暖四肢，防厥逆也。</p>
<p><u>泄熱</u>　如汗後未全解，誤下之，誤而之為小結胸，煩渴脈實，宜三黃瀉心湯。表全未解亦不可用。輕者小結，正在心下，按之痛，脈浮滑，小陷胸湯。無熱證者，小陷胸、三物白散亦可，此寒實也。重者，熱實，脈沉緊，心下痛，大陷胸湯。有兼項強，如柔痓狀，或從心下至臍上不可近者，大陷胸湯。</p>
<p><u>逐寒</u>　無熱證，此寒實結也，枳實理中丸，或三物白散。龐氏用檳榔散。《良方》用海蛤散。</p>
<p><u>刺</u>　期門。嚴仁庵刺肺俞。婦人因血結胸，亦熱入血室，刺期門。</p>
<p><u>和解</u>　結胸有熱，或煩渴，宜先用沖和加枳實，次下本藥。《活人書》治水結，沖和去棗加茯苓牡蠣湯。《此事難知》用五苓合枳朮湯。飲水不散而結，小半夏茯苓湯。</p>
<p><u>與水</u>　《直指方》云：結胸，喘促狂亂，極熱大躁，用地龍水，一服未效，再服，自然汗出則愈。又用太乙牛黃丸、竹葉湯調下，以手揉其心膈即下。二藥兼治上一證。</p>
<p><u>灸</u>　以黃連、巴豆七粒，作餅子，置臍中，以火灸之，得利為度。</p>

<h2>痞</h2>
<p>不痛為痞，寸脈浮，關脈沉，心下滿而不硬，按之不痛，名曰痞。不滿不硬，但妨悶者，非痞也，謂之支飲。有下之太早而致。凡痞而硬為水停，濡者為氣聚。《保命集》云：脾不能行氣於四臟，結而不散則為痞。</p>
<p><u>瀉痞例</u>　滿而不痛，半夏瀉心湯，泄熱而緩脾。色黃，手足溫，心下痞，按之濡，其脈關上浮者，黃連瀉心湯，泄虛熱。痞而惡寒，方見前，兼溫通陽。乾嘔食臭，脅下有水氣者，生薑瀉心湯，兼止嘔逆。下痢腹鳴例，見瀉心，用甘草瀉心湯，兼調胃。韓祗和用厚朴瀉心湯，《宣明論》治痞，檳榔散。</p>
<p><u>雙解</u>　胸滿硬，按之不痛，脈沉緊，大柴胡湯。</p>
<p><u>解表</u>　當先解未解之表，宜桂枝湯。甚者兼治。</p>
<p><u>分利</u>　痞而小便不利，五苓散。</p>
<p><u>散濕</u>　痞而下痢，《直指方》用朮附湯。</p>
<p><u>和解</u>　不滿不硬，心下妨悶，謂之支結，小柴胡加桂湯。胸滿而濡者，半夏瀉心湯、旋覆代赭石湯。輕者通用桔梗枳實湯主之。《直指方》加茯苓、甘草。《補亡》云：常氏用茯苓甘草白朮生薑湯。成痿可用振痿湯。</p>
<p><u>下</u>　心下痞硬滿，引脅下痛，乾嘔短氣，汗出不惡寒，十棗湯主之。</p>

<h2>咳逆</h2>
<p>《保命集》云：胸中氣不交也。少陰經至胸中交於厥陰，水火相搏而有聲，故噫氣也。</p>
<p><u>溫</u>　胃寒先服理中湯，次服旋覆代赭石湯。水寒相搏，小青龍去麻加附。脈微細，宜重溫燥之。</p>
<p><u>導氣</u>　《保命集》云：如聖加枳實湯。汗下後，喘而噫氣，如聖加人參藿香杏仁湯，世俗或用橘皮半夏湯。</p>
<p><u>下</u>　有因失下所致脈散者死。便軟，用瀉心湯。便硬，用大承氣湯。《活人書》一名噦。《傷寒》又謂陰陽氣欲作汗，升之不上，降之不下，而咳逆，此胃氣上逆所致也。</p>
<p><u>劫</u>　《總錄》治嘔吐逆，通正散、柿蒂散。</p>
<p><u>平胃</u>　《索矩》云：食谷者噦，香橘散主之。</p>
<p><u>和解</u>　潮熱，時時噦，與小柴胡。</p>
<p><u>瀉心</u>　便軟者，宜用之。如脈浮洪，或有熱而咳逆者，乃火熱逆上，肺不納也，甘草瀉心湯。</p>
<p><u>清利</u>　少陰下利，咳而嘔渴，心煩不眠，豬苓湯主之。</p>
<p><u>灸</u>　期門</p>
<p><u>嗅法</u>　藥無效，以硫黃、乳香為末，酒煎嗅之。</p>

<h2>腹脹滿</h2>
<p>傷寒一日在皮、膚、肌、肉、胸。六日入胃，是在腹也，太陰證居多。經謂非太陰，腹中無虛滿。</p>
<p><u>和解</u>　腹中滿痛，小柴胡去芩加芍。</p>
<p><u>攻下</u>　腹滿痛者，急下之。脹而不大便者，急下之。大實痛，桂枝大黃。譫妄，脈沉數，煩渴不拘日，調胃承氣湯。</p>
<p><u>溫</u>　太陽病反下之，因而腹滿時痛，桂枝芍藥湯主之。腹滿時減者，為虛也。</p>
<p><u>吐</u>　下後心煩，腹䐜滿，臥起不安，此妄下，邪氣乘虛入郁胸中，為虛煩，上下不得通利，故宜吐也。要識邪氣日漸起，所在虛實之的，則溫補針艾適當。</p>
<p><u>和中氣</u>　汗後脹滿者，厚朴姜草半夏參湯。此脾胃津液不足，氣塞不通，壅而滿。無求子用桔梗半夏湯。</p>

<h2>少腹滿</h2>
<p>必有物聚而為之滿。在上而滿者，氣也。在下而滿者，物也。物者溺與血也。少腹硬，小便自利，其人如狂者，血證諦也。當出不出，積而為滿。</p>
<p><u>下</u>　少腹急結者，可攻之，桃仁承氣湯。輕者，犀角地黃湯。</p>
<p><u>滲利</u>　少腹硬，小便不利，為無血也，當滲利之。</p>
<p><u>刺括</u>　有中瘀，腹虛脹，或腹中急痛，刺括委中，或奪命穴等處。</p>

<h2>煩熱</h2>
<p>為煩而熱，無時而歇是也。有陰，有陽，有真陽內郁，陰中伏陽之證。虛、實。</p>
<p><u>發汗</u>　邪氣在表而煩。</p>
<p><u>分利</u>　汗後煩熱而渴，辰砂五苓散主之。</p>
<p><u>下</u>　汗多煩熱，脈實，宜下之。陽明病，不吐不下，心煩者，煩之實也，宜調胃承氣。</p>
<p><u>和解</u>　心煩喜嘔，或胸中煩而不嘔，經吐而心煩不眠，酸棗仁湯。</p>
<p><u>吐</u>　汗後煩熱，心胸煩悶，宜人參散吐之。反復顛倒，心中懊憹，但藥有輕重之不同耳。</p>
<p>實煩而胸中窒者，梔子豉湯。脈浮，上部填塞胸心而滿者，用瓜蒂散。</p>
<p><u>可水</u>　汗後胃干，煩不得眠，欲飲水者，少少與之。</p>
<p><u>和中</u>　傷寒二三日，心中悸而煩者，是煩之虛也。小建中補之。</p>
<p><u>和表裡生津液</u>　有寒者，附子湯。熱者，白虎湯。脈浮，表未解也。渴者，熱未實，上焦燥也，宜五苓生津和表。陰虛而邪盛，熱煩嗅內，心中煩，不得眠者，黃連阿膠湯，以扶陰散熱。陰虛，客熱下利，咽痛，胸滿心煩，與豬膚湯，以調陰散熱。</p>

<h2>煩躁</h2>
<p>煩為擾，擾而煩。躁為憤躁之躁，邪氣在裡。煩為內不安，躁為外不安。有因火劫，有陽虛，有陰盛兼結胸者死。無求子曰：脈洪實或滑，小便赤者，陽躁也。脈微，手足逆冷，大小便利者，陰躁也。</p>
<p><u>兩解</u>　散榮衛風寒。太陽中風，脈浮而緊，不汗出而煩躁，大青龍湯主之。惡寒而倦，時時自煩，欲去衣服，大柴胡主之。</p>
<p><u>解肌</u>　煩躁消渴，辰砂五苓散。</p>
<p><u>與水</u>　汗後煩躁不得眠，欲水者，少少與之。</p>
<p><u>和</u>　下利咽痛，胸滿而煩，豬膚湯。自汗心煩，小便多者，芍藥甘草湯。</p>
<p><u>下</u>　不大便六七日，繞臍痛，煩躁，發作有時，此有燥屎也，小承氣下之。</p>
<p><u>溫</u>　陰盛而煩躁，少陰病，吐利，手足厥冷，煩躁欲死者，吳茱萸湯主之。《證治》云：八石散，治煩躁佳。《活人書》云：身冷，脈沉疾，煩躁不飲水，名陰盛隔陽，霹靂散、火熘丹。《外臺》云：陰躁欲坐井水，宜熱溫之。</p>
<p><u>退陰復陽</u>　汗下後，晝日煩躁不得眠，夜而安靜，不渴不嘔，無表證，脈沉微者，乾薑附子湯。陰盛發躁名陰躁，四逆湯。陰盛隔陽，身冷，脈細，煩躁，霹靂散。</p>
<p><u>補陽益陰</u>　發汗下後，病仍不解，煩躁者，茯苓四逆湯。無求子云：昔人患傷寒，身冷脈微，手足厥而躁甚，醫以艾湯調硫黃末四錢與之，即時安臥，良久出汗而愈。</p>
<p><u>灸</u>　傷寒六七日，脈微，手足厥冷，煩躁，宜灸厥陰穴。</p>
<p><u>扶陰泄熱</u>　少陰躁不得眠，黃連雞子湯。《總錄》云：雞清散治煩躁悶亂。絳雪治狂躁發熱。大安丸、凝水石丸，治狂躁悶亂。韓氏云：不甚實，丹砂丸。輕者，硃砂安神丸。</p>
<p><u>熨</u>　陰毒用火熨。</p>

<h2>懊憹</h2>
<p>比之煩悶，不甚者也。有表未解，下早所致。有虛有實。</p>
<p><u>下</u>　陽明無汗，小便不利，心中懊憹者，必發黃。二者為邪熱結於胸中，當攻下。陽明病下之，心下懊憹，微煩，胃中有燥屎。</p>
<p><u>吐</u>　邪熱鬱於胸中，宜梔子豉湯吐之。汗吐下後，虛煩不得眠，若劇者，必反復顛倒，心中懊憹，亦用之。</p>

<h2>舌上苔</h2>
<p>舌上有膜，白滑如胎，或燥或澀，或黃或黑，皆熱之淺深也。有邪氣傷里，或在半表裡，或邪氣客於胸中丹田有熱，胸上有寒，邪初傳入里者也。</p>
<p><u>和解</u>　陽明病，脅下硬滿，不大便而嘔，舌上白苔者，與小柴胡主之。</p>
<p><u>吐</u>　陽明脈浮緊，咽燥，腹滿而喘，心中懊憹，舌上苔者，梔子豉湯主之。</p>
<p><u>下</u>　舌黃未下者，下之。黑滑皆然。</p>
<p><u>清熱生津</u>　七八日不解，熱結在裡，表裡俱熱，時時惡風，大渴，舌上燥，白虎加人參湯。</p>

<h2>衄</h2>
<p>傷寒衄者，積熱在表，或出口鼻，是謂下厥上竭。</p>
<p><u>發汗</u>　傷寒，脈浮緊，不發汗，因致衄者，麻黃湯。脈證諦當，方可用是發散經中邪氣爾。衄家不可發汗，蓋慎之也。</p>
<p><u>解肌</u>　脈浮，自汗，桂枝湯。</p>
<p><u>溫</u>　許氏治少陰誤汗，衄血及臍中出，用姜附湯治本。</p>
<p><u>下</u>　不大便六七日，頭痛有熱而衄者，與小承氣下之。或涼膈加生地黃。</p>
<p><u>分利</u>　衄而渴，心煩，飲則吐者，先五苓散，次竹葉湯。</p>
<p><u>涼血</u>　脈微為血虛。凡傷寒及溫病應發汗而失之，熱蘊為血衄及吐者，犀角地黃湯，黃芩、芍藥。不止者，茆花湯。</p>
<p><u>水貼</u>　汗後熱遏，血不止，用新井水濕草紙於鼻上貼之，及頭頂項上皆貼，時時易之。墨汁，倍灰必用。</p>

<h2>畜血</h2>
<p>熱毒流於下而瘀血者，謂之畜血。附下血例。亦有年高人，小便不利者。韓祗和用嚏法通之。</p>
<p><u>溫經</u>　陰證，下如豚肝，當溫之，芎歸朮附湯。</p>
<p><u>涼血</u>　陽證，溢出鮮血，當清之，芩、連、生熟地黃、地骨、柴胡、芍藥、甘草之類。</p>

<h2>下血</h2>
<p>太陽病六七日，表證仍在，脈微而沉，反不結胸，其人如狂，以熱在下焦，少腹當硬，小便自利者，下血乃愈，抵當湯主之。太陽隨經瘀在裡也。傷寒有熱，少腹滿硬，小便自利，為有血也，抵當丸主之。輕者，犀角地黃湯、芍藥地黃加大黃黃芩湯。孫用和用破棺丹。無求子云：陽毒入胃，下血，用消蘊湯，韓祗和用地黃湯。</p>
<p><u>解肌</u>　太陽病不解，熱結膀胱，發狂，血自下者愈。不愈者，用桂枝湯。</p>
<p><u>補中散寒鬱</u>　少陰下利膿血者桃花湯，以固脫散寒補正。</p>
<p><u>補虛消熱</u>　許氏治協熱下膿血，梅煎散。《難知》云：傷寒熱毒入胃，下膿血，阿膠散。小便出血，《總錄》用竹茹湯。</p>
<p><u>針</u>　少陰證，下利，便膿血者，可刺。陽明病，下血而譫語者，必熱入血室，頭汗出者，當刺期門。下血兼看雜病例。</p>

<h2>吐血</h2>
<p>當汗不汗，熱毒蘊結而成吐血。</p>
<p><u>涼血</u>　犀角地黃湯、升麻湯、黃芩湯、芍藥地黃湯、三黃丸、倍灰必用。</p>
<p><u>下</u>　三黃瀉心湯、抵當湯、大黃散。</p>
<p><u>溫</u></p>
<p>《略例》上焦血用黃耆桂枝湯。中焦血，用當歸建中湯、增損胃風湯。下焦血，用芎歸朮附湯、桂附六合湯。陰證三焦出血，色紫不鮮，此重沓寒濕化毒，凝泣浸漬而成，《治要》用黑錫丹，見《直指方》。</p>

<h2>咳嗽</h2>
<p>有肺寒而咳，有停飲而咳，或邪在半表裡。</p>
<p><u>發汗</u>　表不解，心下有水氣，乾嘔，發熱而咳，小青龍主之。</p>
<p><u>溫經</u>　少陰病，腹痛，小便不利，四肢沉重疼痛，自下利者，此為有水氣。其人或咳者，真武湯加五味、細辛、乾薑主之。</p>
<p><u>和解</u>　小柴胡湯證悉具而咳者，本方去參、棗、生薑，加乾薑、五味主之。此陽邪傳表也。少陰病，四逆，其人或咳者，四逆散加乾薑、五味主之。此為陰邪傳裡也。</p>
<p><u>清利</u>　見「咳逆」例中</p>
<p><u>導痰</u>　其人素有痰證，看熱濕風火，宜兼治之。</p>

<h2>喘</h2>
<p>有邪氣在表不利，有水氣射肺，形寒飲冷傷肺，故其氣逆上為喘。有腎氣乘心。</p>
<p><u>發汗</u>　邪氣外感壅遏，使氣不利為病。雖汗而喘不已，邪在表也。雖經汗下，亦可發之，麻黃杏仁甘草石膏湯。龐氏用麻黃甘草湯。</p>
<p><u>解肌</u>　用桂枝湯加厚朴、杏仁，汗出而喘者主之。</p>
<p><u>兩解</u>　心下有水氣，乾嘔，熱而咳或喘，小青龍去麻黃加杏仁主之，是散水寒也。《活人書》加茯苓。脈盛自汗大柴胡主之。《傷寒例》用茯苓湯，即敗毒散去枳殼加陳皮倍柴胡，此兼清痰飲也。</p>
<p><u>溫</u>　《直指方》曰：陰證，喘則必促，脈伏而厥，宜返陰丹。《證治》曰宜理中、四逆輩。陰毒喘促用來蘇丹。</p>
<p><u>潤肺養氣</u>　喘促脈浮而厥者，或陰陽未和，並用五味子湯。</p>
<p><u>下</u>　或腹滿而喘，或潮熱，並大柴胡湯，或小承氣湯微解之。兼結胸者，看輕重用陷胸。</p>
<p><u>分利</u>　水停心下，腎氣乘心，為悸為喘，五苓散。</p>
<p><u>清熱</u>　內蘊熱邪，有汗喘者，葛根黃芩黃連湯。</p>
<p><u>灸</u>　寒邪陷下者，灸肺俞，咳多者主之。</p>

<h2>嘔吐</h2>
<p>大抵表邪傳裡，裡氣上逆，則為嘔也。有積為熱，有積為寒，有停飲，有胃脘有膿，癰膿不必治。吐家多是胃虛冷，先嘔後渴，此為欲解。先渴後嘔，此為水停心下。龐氏云：病傳陰，必吐利。</p>
<p><u>發汗</u>　太陽與陽明合病，氣下而不上，但下利不嘔。裡氣上逆不下者，但嘔而不利，與葛根加半夏湯。《傷寒例》云：兩經俱病，邪氣壅盛於表，正氣怫鬱於裡，邪正分爭，爭於下則為利，爭於上則為嘔，與半夏以下逆氣。</p>
<p><u>兩解</u>　嘔而發熱，柴胡證俱。心下急，鬱郁微煩，大柴胡主之。</p>
<p><u>溫經</u>　膈上有寒及寒飲，或嘔不渴，乾薑附子湯。乾嘔吐沫，頭痛者，吳茱萸湯主之。</p>
<p><u>清熱</u>　有虛熱少氣，氣逆欲吐，竹葉石膏湯。《活人書》治差後嘔，竹葉湯加生薑。嘔而思水者，急與豬苓湯。</p>
<p><u>分利</u>　中風發熱，六七日不解而煩渴，飲水則吐，名曰水逆，五苓散。</p>
<p><u>和解</u>　半表裡證，多嘔，與小柴胡和之。胸中有熱，胃中有邪氣，陰陽不交，腹中痛欲嘔吐者，黃連湯主之，或黃芩加半夏生薑湯，以升降陰陽。</p>
<p><u>溫胃</u>　嘔吐，手足冷，小橘皮湯、理中湯、生薑汁、半夏湯、半夏加橘皮湯、溫中丸。薑汁為要藥，散其逆氣。</p>
<p><u>下</u>　乾嘔短氣，汗出不惡寒者，表解里未和，十棗湯。</p>
<p>《曾氏家學》治吐逆，大小便不通，厥逆無脈，大承氣下之愈。</p>
<p><u>灸</u>　口中和，脈微澀弱，皆灸厥陰。《脈經》及《千金翼》林氏本曰：一云灸厥陰五十壯。</p>
<p><u>收臟氣之真</u>　《治例》云：若熱嘔，不可無烏梅。</p>

<h2>悸</h2>
<p>氣虛停飲，陽氣內弱，心下空虛，正氣內動而為悸也。胃不和則煩而悸。悸證有八九皆屬三陽。</p>
<p><u>補中</u>　虛則心下悸，脈結代，心動悸，炙甘草湯。傷寒二三日，心下悸，小建中湯。發汗過多，其人胸中陽氣不足，手冒，心下悸，欲得按者，與桂枝甘草湯。</p>
<p><u>溫</u>　汗出不解，其人仍發熱，心下悸，頭眩，身瞤動，振振欲擗地，真武湯。少陰病四逆，其人或悸者，四逆散加桂主之。或汗後臍下悸，欲作奔豚，茯苓桂甘大棗湯主之。</p>
<p><u>鎮固原氣</u>　脈浮，因火迫劫之，驚臥不安者，桂枝去芍藥加蜀漆牡蠣龍骨救逆湯，以固陽收脫，鎮定其浮氣也。</p>
<p><u>和</u>　飲水多，必心下悸，雖有他邪，亦先治悸，恐水溢為喘為腫，為咳為噦，為利也，茯苓甘草湯。往來寒熱，心下悸，小便不利，心煩喜嘔，小柴胡主之。</p>

<h2>驚惕</h2>
<p>或因汗下，或因溫針，或因火劫。</p>
<p><u>鎮定浮氣</u>　見前「悸」下。</p>
<p><u>和解</u>　傷寒八九日，因下之胸滿煩驚，小便不利，澹語，一身盡重，不可轉側，滿而煩者，陽熱客於胸中也。驚者，心惡熱，而神不守也。小便不利，津液不行，裡虛也。譫語者，胃熱也。一身盡重，不能轉側者，陽氣內行於里，不榮於表也，與柴胡加龍骨牡蠣湯，以解錯雜之邪。</p>
<p><u>涼心</u>　硃砂安神丸東垣方。</p>

<h2>渴</h2>
<p>邪氣初傳入里，熱氣散漫未收斂，成熱熏蒸焦膈，搏耗津液，遂成渴也。六經渴，有陰證，有陽證。</p>
<p><u>解肌生津</u>　在太陽脈浮，必用桂枝。脈浮，熱，渴欲飲水，小便不利，豬苓湯。</p>
<p><u>清熱生津</u>　潤燥白虎加人參，吐汗下之後渴者用之。陽明脈長，有汗發熱而渴，白虎之類。夏至左右，煩渴發熱，不惡寒，虛煩，竹葉石膏湯。</p>
<p><u>和解</u>　太陽脈弦而嘔，邪在半表裡，小柴胡加瓜蔞根之類。《證治》云：厥陰病，消渴，氣上衝心，心中疼熱，茯苓白朮甘草桂四物湯。汗下後，胸脅滿微結，小便不利，渴而不嘔，但頭汗出，往來寒熱，心煩者，柴胡桂枝幹薑湯。</p>
<p><u>溫中</u>　少陰自利而渴，小便清白，下焦虛寒也，甘草乾薑湯。心煩但欲寐，或自利而渴，屬少陰，理中湯。《活人書》云：自利而渴，屬少陰，白通湯加豬膽汁，通脈四逆、真武湯選用之。</p>
<p><u>分利</u>　小便不利而渴，必發黃，茵陳五苓散。汗後脈浮，煩渴者，五苓散主之。</p>
<p><u>與水</u>　厥陰脈微引飲，宜少少與之，但渴與水，常令不足，勿極意也。</p>
<p><u>清鎮</u>　天水或辰砂。</p>
<p><u>解肌表</u>　表邪不解，或有或為之證，小青龍去半夏，加瓜蔞根主之。</p>
<p><u>下</u>　陽明脈長而實，有汗而渴者，調胃承氣主之。脈沉滑，熱實煩躁而渴，大陷胸。陽毒燥盛大渴，黑奴丸。厥陰證，《此事難知》云煩懣囊縮，大小便不通，發熱引飲，尺寸俱微緩。《直指方》云，厥陰屬肝，心之母也，裡熱已極，子氣乘母，挾心火以為煩，煩則消渴矣。</p>

<h2>振</h2>
<p>近乎戰也。傷寒振者，皆積其虛寒也。下後復發汗，必振寒者，表裡俱虛也。亡血家發汗，則寒慄而振者，血氣俱虛也。有身為振振搖者，皆為發汗過多，亡陽經虛，不能自主持，故身為振搖也。</p>
<p><u>溫經</u>　太陽病，發汗後不解，其人仍發熱，心下悸，頭眩，身瞤動，振振欲擗地，真武湯主之。</p>
<p><u>和經益陽</u>　吐下后里虛，氣上逆，陽不足，起則頭眩，脈沉緊，發汗則動經，身為振振搖者，茯苓桂枝白朮甘草湯，或小建中湯主之。</p>

<h2>戰慄</h2>
<p>為病欲解也。戰為正與邪爭，爭則為鼓慄而戰。振但虛而不至爭，故止從行動而振也。慄為心戰，戰外為慄內，皆陰陽之爭也。戰者，正氣勝。慄者，邪氣勝也。</p>
<p><u>助陽</u>　具前。</p>
<p><u>溫經散寒</u>　具前桂枝白朮甘草。</p>
<p><u>救逆</u>　韓氏治汗下後戰，與救逆湯。微減與羊肉湯，再投而戰解。</p>
<p><u>灸</u>　陰氣內盛，正氣太虛，心慄而鼓頷，身不戰者，已而遂成寒逆者，宜灸之。</p>

<h2>搖頭</h2>
<p>陽脈不治，則頭為之搖，直里痛所致。卒口噤，背反張，獨搖頭者，痙病，風主動使然也。直視搖頭者，為心絕。缺治例</p>

<h2>四逆</h2>
<p>四肢臂逆而不溫者是也。積涼成寒，積溫成熱，非一朝一夕之故。六腑氣絕於外者，四肢手足寒冷。足脛寒逆，少陰也。四肢厥冷，身寒者，厥陰也。</p>
<p><u>溫</u>　若始得之，手足便厥而不溫者，是陰經受邪，陽氣不足，可用四逆湯輩溫之。</p>
<p><u>散熱收陰</u>　若手足自熱而至溫，從四逆而至厥者，傳經之邪也，與四逆散，甘草枳殼、柴胡、芍藥以散傳經之熱，而收陰氣，此非虛寒之證也。</p>
<p><u>熱之</u>　《活人書》有玉女散、霹靂散。許學士用黑錫丹。近世用三建湯。陰病下利清穀，裡寒外熱，手足厥逆，脈微欲絕者，身反不惡寒，其人面赤色，或腹痛，或乾嘔，或咽痛，或利止脈不出者，此陰盛於內，不相通也，與通脈四逆湯。以成氏謂厥證甚於四逆，詳仲景治例，則四肢通冷，其病為重。</p>
<p><u>灸</u></p>
<p><u>蔥熨</u></p>

<h2>厥</h2>
<p>有陰陽不相順接便為厥。厥者，手足逆冷是也。陽氣內陷，熱氣逆伏，而手足冷也。先熱而後厥者，熱伏於內也。先厥而後熱者，陰退而陽氣得復也。始得便厥者，是陽氣不足，而陰氣勝也。大抵厥逆為陰所主，寒者多矣。發熱七八日，身冷，此名臟厥，難治。有冷厥、熱厥。《證治》引孫兆云：若證未辨陰陽，且與四順丸試之。《直指方》云：未辨疑似，且以理中丸試之，陽厥則有熱，陰厥則無熱。</p>
<p><u>溫</u>　冷厥，才病便厥。高保衡云：寒厥，外多靜而了了，脈雖伏，按之遲弱，陰氣勝，陽不得復，厥多熱少，當溫之，理中湯。龐氏曰：寒熱而厥，面色不澤，昏昧者，當用綿衣包手足，溫暖，必大汗而解也。少陰病，吐利，手足厥冷，煩躁欲絕者，吳茱萸湯。厥日多，熱日少，為陽氣退，病進也，謂其脈浮遲，或微，或細，或沉，皆屬裡有寒也。</p>
<p><u>正陽回陰</u>　無熱證而厥，當歸四逆加茱萸生薑湯、白通湯、白通加豬膽汁湯選用之。虛者，宜附子湯。</p>
<p><u>補原氣　</u></p>
<p>《證治》曰：有熱者，黃耆人參建中湯。熱厥必四五日才發，半日之間熱復來也，發熱日多，厥日少，病自愈。外證多昏憒，脈雖伏，按之數而有力，兼「下」、「兩解」下例法中約之。</p>
<p><u>下</u>　其脈沉伏而滑，頭面有汗，指爪溫，皆陽實伏熱在內也。小便赤，大便秘，脈沉滑，四肢逆冷，熱深也，皆宜急下之，大小承氣湯。《片玉》云：熱深厥深，調胃承氣湯。</p>
<p><u>吐</u>　諸陽受氣於胸中，邪氣留客，則陽氣不得敷布，而手足為之厥，脈乍緊，心中滿而煩，飢不能食，病在胸中，當吐之。</p>
<p><u>解表</u>　寒熱而厥，面色不澤，冒昧，兩手忽無脈，或一手無脈，必是有汗也，與麻黃桂枝各半湯。厥而心下悸，先治其水，茯苓甘草湯。</p>
<p><u>兩解</u>　初得之身熱頭痛，以後大便秘，小便赤，或渴，有譫語而厥，大柴胡湯。</p>
<p><u>清熱漬形</u>　厥而渴者，白虎湯。</p>
<p><u>刺</u>　具「不仁」例中。</p>
<p><u>灸</u>　龐氏曰：脈促而厥者，灸之。</p>

<h2>鄭聲</h2>
<p>汗後人及久病人，聲轉者是也，為重語也。鄭為聲轉也。若聲重而轉本音者，亦是也。止為正氣虛而不全，故使轉聲而不正也。如大小便利，手足冷，脈細微弱者是。</p>
<p><u>補</u>　助陽扶正也。</p>
<p><u>和解</u>　見「譫語」例下。</p>

<h2>譫語</h2>
<p>脈短者死，沉細不過一二日死。實則譫語，氣收斂在內而實者，本病也。或氣上逆而喘，或下利，皆為逆也，不治。又作譫謂妄有所見而言也。真氣昏亂，神識不清所致。有被火劫，有汗出，有下利，有下血，有燥屎在胃，有三陽合病，有過經，有亡陽譫語。</p>
<p><u>下</u>　下之緩，微熱，病人真氣昏，神氣不清所致。脈虛而長，微弦滑者，宜大承氣或柴胡飲子。或腹滿身重，難以轉側，口不仁，面垢，譫語，遺尿，是三陽合病也。汗出譫語，此為風也，須下之，過經方可，早則言必亂。如下利譫語者，下之，急有燥屎也，小承氣主之。有潮熱，反不能食者，胃中必有燥屎五六枚也。大熱入胃，水竭躁煩，必發譫語。又腹滿微喘，口乾咽燥，或不大便，久則譫語，是因火劫所致也，宜調胃承氣。</p>
<p><u>刺</u>　下血譫語者，此為熱入血室，當刺期門，隨其實而瀉之。脅下滿，如結胸狀而譫語者，是及經水適來，皆熱入血室也。</p>
<p><u>解錯雜之邪</u>　傷寒八九日下之，胸滿煩驚，小便不利，譫語，一身盡重，不可轉側者，柴胡加龍骨牡蠣湯兼斂鎮神氣。</p>
<p><u>和解</u>　發汗多，亡陽，反身和譫語者，不可下，與柴胡桂枝湯，和其榮衛。</p>
<p><u>溫</u>　亦有陽虛陰盛而譫妄，脈沉細弱者，當溫經助陽。</p>
<p><u>逐瘀血</u>　晝夜譫語，喜忘，小便自利，小腹痛，為瘀血，抵當湯。</p>
<p><u>清熱</u>　譫語，不惡寒，反惡熱，白虎湯。煩不得眠，白虎加梔子湯。</p>

<h2>短氣</h2>
<p>氣短而不能相續者，是呼吸難如，而不能相續，似喘而不搖肩，似呻吟而無痛者，短氣也。</p>
<p><u>發汗</u>　短氣但坐，以汗出不徹故也，更發汗則愈矣。</p>
<p><u>下</u>　乾嘔短氣，汗出，里未和，十棗湯。短氣煩躁，心中懊憹，陽氣內陷，心中困硬，則為結胸，大陷胸湯。有短氣，腹滿而喘，有潮熱者，大柴胡主之，此短氣之實者也。</p>
<p><u>溫經</u>　腹濡滿而短氣者，邪在表而為虛也。趺陽脈微而緊，緊則為寒，微則為虛，微虛相搏，則為短氣，此短氣之虛者也。</p>

<h2>瘈瘲</h2>
<p>瘈者，筋脈急也。瘲者，筋脈緩也。或搐急，或舒緩而不止，名曰瘈瘲也，俗謂之搐是也，邪熱氣極也。熱盛則風搏並經絡，風主動，致四肢瘈瘲而不寧也，病勢已過矣。</p>
<p><u>兩解</u>　疏風滌熱，防風通聖散之類。</p>
<p><u>汗</u>　或汗不流，是汗出時蓋發不同，故腰背手足搐搦，用牛蒡根散。</p>

<h2>筋惕肉瞤</h2>
<p>此汗多亡陽之所致也。久而成痿，逆之甚也。《內經》曰：陽氣者，精則養神，柔則養筋。發汗及下後亡津液，陽虛，筋肉失所養，故惕然而跳瞤，虛甚也。</p>
<p><u>溫經益陽</u>　具前「振、溫經」下</p>
<p><u>疏風濕</u>　防風白朮牡蠣湯。</p>
<p><u>和經益陽</u>　具前「振」下。</p>

<h2>鬱冒</h2>
<p>鬱結為氣不舒，冒為昏，神不清也。世俗謂之昏迷是也。多虛極乘寒所致，或因吐下使然。</p>
<p><u>漬形為汗</u>　太陽病，誤先下之而不愈，因復發汗，以此表裡俱虛，其人因致冒。冒家汗出自愈，所以然者，汗出表和也。</p>
<p><u>溫中</u>　吐下後極虛，復極汗者，復與之水，因得噦。</p>
<p><u>下</u>　有熱而怫鬱，或不得臥，有燥屎故也。</p>
<p><u>刺</u>　太陽少陽並病，頭痛，或冒悶如結胸狀，當刺大椎第一間及肺肝二俞，慎不可汗。</p>

<h2>動氣</h2>
<p>奔豚者，動氣也，築築然動於腹中者是矣。臟氣不治，隨臟所主，發泄於臍之四旁，動跳築築然，謂之動氣。《難經》所謂臍左右有動氣，是臟氣不治，真氣虛，雖有表裡攻發之證，即不可汗下。</p>
<p><u>行氣逐熱</u>　汗下後，臍四旁有動氣，方見《保命集》中。</p>
<p><u>溫衛</u>　汗下後，臍下有動氣，茯苓散。</p>
<p><u>補養氣血</u>　行氣養血，枳殼散。行氣清熱，防葵散。</p>

<h2>自利</h2>
<p>謂不經攻下為自溏泄。自利不渴屬太陰也，以其臟寒也。下利，欲飲水者，以有熱也。身熱，脈大為逆。五臟氣絕於內者，則下利不禁。</p>
<p><u>發汗</u>　太陽陽明合病，必自下利，葛根湯以發之。嘔者，加半夏。</p>
<p><u>下</u>　陽明與少陽合病，必自下利，大承氣主之。發熱後重，泄色黃赤，此為有熱。下利，脈遲而滑者，內實也。脈滑而數者，皆有宿食也。</p>
<p><u>和解</u>　太陽與少陽合病，下利，黃芩湯。三陽病，身必熱。</p>
<p><u>灸</u>　下利脈微澀，嘔而汗出，必更衣，反少者，當溫其上，灸之以消陰。少陰吐利，手足不冷，反發熱，不至，灸少陰太谿穴。</p>
<p><u>分利</u>　五苓、豬苓等湯。</p>
<p><u>溫</u>　挾太陽脈證，便不可溫。脈微，自利清穀，此為寒。少陰必瀉，腎虛也，可溫，理中、白通、諸四逆湯主之。鴨溏者，寒也。脅寒而利，臍下必寒，四逆湯輩。少陰吐利。手足必冷，煩躁欲死，吳茱萸湯主之。</p>
<p><u>劫</u>　少陰病，下利便膿血者，下焦不約，而裡寒也，宜用桃花湯，以固澀之。關腸洞泄，便溺遺失，用赤石禹餘糧湯。薛汝明《家傳》名朱雀湯。</p>
<p><u>刺</u>　少陰下利，便膿血者，可刺之，宣通血氣。</p>
<p><u>清熱</u>　自利而渴屬少陰，白虎湯，或黃連阿膠散。脈浮大而長，《千金翼》用葛根黃芩黃連湯。協熱利，白頭翁湯。下血，類要柏皮湯。邪自陽傷入少陰，腎虛客熱下利，咽痛，胸滿心煩者，豬膚湯主之。腸垢者，熱也。協熱而利，必臍下熱，赤石脂丸、白頭翁湯。</p>
<p><u>解錯雜之邪</u>　邪傷里，下後脈沉遲，手足冷，或吐膿血，下利不止，為難治，麻黃升麻湯，以潤肺除熱助陽。</p>

<h2>熱入血室</h2>
<p>男子由陽明而傷，女人則隨經而入。男子則下血譫語，婦人則月水適來，邪得乘虛而入，血自下則愈。</p>
<p><u>和解</u>　婦人傷寒，經水適來，得之七八日，晝則明瞭，暮則譫語，如見鬼狀，此熱入血室也。寒熱如瘧，宜小柴胡湯以和血也。許氏小柴胡加生地，《保命集》加牡丹皮。《元戎》曰：先服小柴胡去其熱，次以四物湯和之。</p>
<p><u>下</u>　大實滿者，桃仁承氣。《活人書》云少腹滿，小便利，屬抵當湯。</p>
<p><u>刺</u>　七八日熱除而脈遲，胸脅滿，如結胸狀，譫語者，此熱入血室，刺期門。《保命集》用甘草芍藥湯，不已，刺隱白。</p>
<p><u>溫經</u>　《保命集》云：表虛自汗，身涼拘急，脈沉而遲，桂枝加附子紅花湯。《活人書》曰：發熱惡寒，經水凝滯，桂枝加紅花湯。《索矩》云：其血必結，宜育腸湯。</p>
<p><u>不須治</u>　熱入血室，無犯胃氣及上二焦必自愈。是不須治也，謂針藥皆不可。以里無留邪，但不妄犯，熱隨血散必自愈。</p>

<h2>發黃</h2>
<p>瘀熱在裡，身必發黃。有濕熱，有畜血，濕熱而實，風濕熱而虛，寒濕，痞氣。</p>
<p><u>發汗</u>　瘀熱身黃，麻黃連翹赤小豆湯。脈浮而緊，不可下，宜各半湯。</p>
<p><u>下熱</u>　陽明身熱，頭汗出，小便不利，渴引水，此瘀熱在裡，身黃，茵陳蒿湯主之。</p>
<p><u>逐血</u>　身黃，脈沉結，少腹硬而小便自利，其人如狂者，又為畜血在下焦使之黃也，抵當、桃仁承氣主之。</p>
<p><u>散熱</u>　傷寒，身黃髮熱，為熱未實，與梔子柏皮湯。若大便自利而黃者，茵陳梔子黃連三物湯。</p>
<p><u>溫經散濕</u>　發熱，身黃，一身盡痛，或小便自利，與朮附湯。韓祗和云：病人三五日，脈微，下藥太過虛甚，脾胃津竭，渴飲水自傷，此陰濕傷脾變黃，宜溫之，茵陳茯苓湯，及茯苓橘皮湯、小茵陳湯、茵陳四逆湯、茵陳附子湯、茵陳吳茱萸湯，皆治陰黃證。《略例》云：病後飲食，勞動中州，變黃之病而生黃，非壞之而得，只用建中、理中、大建中等藥足矣。</p>
<p><u>和解</u>　有潮熱嗜臥，心脅疼，鼻乾，身及目黃，小便難，小柴胡主之。</p>
<p><u>分利</u>　發熱，頭汗，渴引水，小便利，大便反快，五苓加茵陳。《補亡》云：茵陳蒿汁調五苓散。</p>
<p><u>搐鼻</u>　初覺黃，以瓜蒂散吹鼻內，出黃水。</p>
<p><u>外治</u>　春夏時身黃而熱悶，按韭菜向胸間擦之。</p>
<p><u>內消</u>　傷寒後，因飲食致黃者，用枳朮內消丸。</p>

<h2>發狂</h2>
<p>有陽毒多嘔，煩躁面赤，脈實是也。畜血發狂，多脈沉微，但欲嗽水不咽入。</p>
<p><u>吐</u>　升麻梔子湯。龐氏云：溫病無熱，但狂言，煩不安，宜以豬苓散方寸匕服之，隨以水一升服，以吐之。</p>
<p><u>發散</u>　《證治》用升麻鱉甲散。</p>
<p><u>水漬</u>　用新汲水濕布搭於胸上。</p>
<p><u>溫散</u></p>
<p><u>雙解</u>　黑奴丸</p>
<p><u>下</u>　畜血者，其人如狂，以熱在下焦，小腹當硬，小便自利，下血乃愈，抵當湯。脈弦而長，調胃承氣湯。脈沉實，有表證，大柴胡湯。小腹結急者，用桃仁承氣湯。</p>
<p><u>清鎮</u>　吐下後及虛人未解者，宜與人參白虎、辰砂之類，清其浮火也。《直指方》用寒水石、黃連末各一錢，調冷水送下。又龍膽草一物湯，治陽狂。</p>
<p><u>救逆</u>　有因火劫，亡陽驚狂，臥起不安，屬桂枝去芍藥加蜀漆龍骨救逆湯。</p>
<p><u>逐熱</u>　三陽熱極，脈大身熱，渴而狂者，黃連解毒湯。不已，用承氣湯。</p>
<p><u>逐血</u>　血上逆則喜忘，血下畜則內爭，其人如狂，用抵當湯。輕者，犀角地黃湯。《活人書》，承氣湯。喜忘如狂，身黃屎黑，血證諦也，抵當湯。無求子曰：胸滿唇痿，舌青口燥，但嗽水不咽，無熱，為有瘀血，必發狂也。下血，用犀角地黃芍藥湯。</p>
<p><u>疏風</u>　龐氏曰：人患時氣六七日，因發狂，目瞪口噤，手攣膕曲，或張口，不知人事，口鼻氣絕，但心頭溫，面色和，六脈皆動，一如屍厥，不知人，五六日，因作成敗計，救之用風引湯加附子灌下，兩服遂省。</p>
<p><u>壯陰</u>　陽氣獨盛，陰氣暴絕，必發狂走，妄言面赤，咽痛發斑，或下利赤黃，脈洪實，或滑促，宜酸苦之藥，收陰抑陽，苦酒葶藶生艾湯主之。</p>
<p><u>抑陽</u>　陽毒，狂躁發斑，甚者逾垣上屋，輕者桔梗大黃湯、升麻湯、梔子仁湯。</p>

<h2>霍亂</h2>
<p>上吐而下利，揮霍而撩亂也。邪在中焦，胃氣不治，為邪所傷，使陰陽乖隔，遂上吐而下利，躁擾煩亂，乃謂之霍亂。但稱吐利者，是有以異也。</p>
<p><u>溫中</u>　寒多不渴者，理中丸主之。無求子曰：用扁豆湯、治中湯、四順附子湯、小麥湯。吐利，手足冷，腹痛甚，加吳茱萸。《百證歌》云：吐利轉筋，入腹者，雞矢白湯主之。脈微緩，四肢冷，建中加附子當歸湯。沉細，四君子加芍藥良薑湯。</p>
<p><u>分利</u>　吐利，頭痛而熱，熱多欲飲水，五苓散主之。</p>
<p><u>散表</u>　通用藿香正氣散加桂。風寒暑濕邪自外入，正氣散，降濕湯。轉筋白朮湯。</p>
<p><u>平胃</u>　脈弦，木剋土，平胃散加木瓜。</p>
<p><u>刺</u>　乾霍亂，或腹中急痛絞刺，宜刺委中及絞刮奪命穴。</p>
<p><u>兩解</u>　發熱脈弦，汗出不解，心下痞而吐利，大柴胡主之。一法具「自利」下。</p>
<p><u>解肌</u>　汗後霍亂，身體重者，桂枝湯。</p>
<p><u>消暑</u>　吐利，大渴煩躁，冷汗出，轉筋，脈遲沉，宜清暑益氣湯、白虎湯、香薷飲。</p>
<p><u>和解</u>　嘔而潮熱，小柴胡。乾霍亂，鹽湯、紫蘇丸主之。</p>
<p><u>散陰通陽</u>　吐利止，汗出而厥，不欲水，四肢拘急，脈微欲絕，通脈四逆加豬膽汁湯。</p>

<h2>勞復</h2>
<p>有差後勞役復，有食復，有女勞復。</p>
<p><u>和解</u>　勞役復，發熱，沖和湯。</p>
<p><u>解表</u>　脈浮，以汗解之。</p>
<p><u>清熱</u>　竹葉石膏湯、麥門冬湯。</p>
<p><u>下</u>　脈沉實，勞復，至腹滿譫語，枳實大黃湯。</p>
<p><u>吐</u>　宿食而熱復，枳實梔子豉湯吐之。</p>
<p><u>補</u>　補中益氣湯。</p>
<p><u>升陽益胃</u></p>
<p><u>養榮</u></p>

<h2>陰陽易</h2>
<p>其人身體重，少氣，少腹裡急，或引陰中拘攣，熱上衝胸，頭重不舉，眼中生花。</p>
<p><u>導陰氣</u>　燒裩散、豭鼠橘皮湯。</p>

<h2>大便不利</h2>
<p>脈數為熱，陽邪偏結於內，陰氣不能相雜，故其證能食，不大便，名陽結。脈沉遲為寒，陰邪偏結於內，陽氣不能相雜，故其證不能食，身重，大便閉，為陰結。</p>
<p><u>汗</u>　小便難，為有津液，可作汗，小便數，不可誤汗。證似煩，臥不著席，服梔子湯，或五苓散，得汗而解。</p>
<p><u>下</u>　潮熱大便硬，陽盛陰虛，下證已具。陽結證，趙氏用調胃承氣。《難知》用七宣丸。《醫鏡》用五柔丸、枳實湯、備急丸。許氏用大柴胡。</p>
<p><u>吐</u>　三下不通，不可下攻，便當上吐提之。</p>
<p><u>導</u>　蜜導，豬膽汁導。</p>
<p><u>滋陰</u>　陽藏陰虛者，頻進兔肉。</p>
<p><u>溫</u>　陰結，《活人書》用金液丹，《索矩》用審慎丸，《難知》用厚朴湯，《醫鏡》用半硫丸。龐氏云：臟厥，四逆輩極冷服之。</p>
<p><u>和解</u>　陽結能食不大便，或頭汗出，惡寒，手足冷，或心滿不食，大便硬，不可下，與沖和湯。</p>
<p><u>潤腸</u>　大便堅，小便數，不可下，趺陽脈浮澀，麻仁丸、枳實丸。</p>
<p><u>浴</u>　用棕櫚皮燒湯，坐盆內浴之，亦謂之外迎。</p>
<p><u>熏</u>　虛者，用皂角煙燻，大便即通。</p>
<p><u>熨</u>　服藥不通，即以鹽炒熱，熨臍下，須臾即通。若臍下冷結不通，不可便熨，冷散攻心必死。須先服溫藥，久乃可熨。</p>

<h2>脅痛</h2>
<p>少陽證，表解里未和，素有痞積在臍傍，痛引小腹入陰筋者，名臟結，主死。</p>
<p><u>下</u>　心下堅滿，引脅痛，十棗湯。</p>
<p><u>和解</u>　往來寒熱，胸脅滿痛，柴胡牡蠣湯。</p>
<p><u>針</u></p>

<h2>腹痛</h2>
<p>有實，有虛，寒、熱邪，燥屎，舊積。按之不痛為虛，痛者為實。</p>
<p><u>建中</u>　陽脈澀，陰脈弦，並泄利，建中湯、桂枝芍藥湯、小建中薛汝明名芍藥湯。</p>
<p><u>和血</u>　厥陰證，小腹痛，當歸四逆湯。</p>
<p><u>下</u>　關脈實，大便秘硬，腹滿為實，繞臍腹痛，煩躁，發作有時，有燥屎也，大小承氣。腹滿時痛，桂枝加大黃。</p>
<p><u>溫中</u>　兼泄利下重，脈沉微，四逆湯。兼小便不利，真武湯，隨證選用。</p>
<p><u>逐熱</u>　胸中有熱，胃中有邪氣，腹中痛，欲嘔吐者，黃連湯。</p>
<p><u>外接法</u>　略例云。</p>
<p><u>熨</u>　用灰包熨之。</p>
<p><u>灸</u>　龐氏云：合灸不灸，令病人冷結，久而彌困，氣衝心而死。</p>
<p><u>刺括</u>　欲吐利而煩躁者，多有痧毒，世俗以刺括委中穴。</p>

<h2>咽痛</h2>
<p>陽毒，少陰證，伏氣。</p>
<p><u>清熱</u>　少陰腹痛，脈沉細，猶有咽痛者，黃連龍骨湯。</p>
<p><u>溫中</u>　脈微弱，有伏氣，必先痛，次下利，當溫之。手足冷，或加吐利，少陰證也。下利不止，手足冷，咽痛，無熱證，四順丸。少陰中風，胸滿心煩，咽痛自汗，腰痛連䯒，頭痛吐沫，脈弦，《三因》用桂枝附子。</p>
<p><u>散結下痰</u>　脈數而滑，甘桔半夏湯。</p>
<p><u>針</u></p>
<p><u>吹點</u></p>
<p><u>敷</u>　咽痛有瘡，黃柏細辛末敷之。</p>
<p><u>解毒</u>　陽毒，脈浮數而大，唾膿血，《千金》、《外臺》烏扇膏治之。</p>

<h2>蛔厥</h2>
<p><u>溫胃</u>　烏梅丸，理中丸。</p>
<p><u>利</u>　消渴，吐蛔，但用理中加大黃，入蜜以利之。</p>

<h2>陽證陽毒</h2>
<p>三陽病不治，陽獨盛，陰欲暴絕，變為陽毒，必發狂，內外熱結，舌又卷，鼻內煤煙，脈洪實滑促。</p>
<p><u>吐</u>　升麻梔子湯。</p>
<p><u>下</u></p>

<h2>陰證陰毒</h2>
<p>陰病盛則微陽消於上，故其候沉重，四肢逆冷，臍腹築痛，厥逆或冷，六脈沉細，時來疾，尺脈小短而微，寸口盛，時大者，皆其候也。</p>
<p><u>溫經</u>　真武湯、四逆湯。</p>
<p><u>正陽回陰</u>　霹靂散。</p>
<p><u>灸</u>　關元、氣海。</p>
<p><u>劫</u>　金液丹。</p>
<p><u>熨</u>　腹中急痛，灰包熨之。</p>
<p><u>熏</u>　逆冷囊縮者，以炒豆投熱醋中，如法熏之。</p>

<h2>太陽陽明合病</h2>
<p>自利。</p>
<p><u>發汗</u>　喘而胸滿者，麻黃湯。</p>
<p><u>和解</u>　不下利，但嘔者，葛根加半夏湯。</p>
<p><u>兩解</u>　止利發表，葛根湯。</p>

<h2>太陽少陽合病</h2>
<p><u>和解</u>　黃芩湯止利。利者為邪在半表半裡，非汗下所宜。</p>
<p><u>止嘔清熱</u>　嘔者，胃氣逆也，黃芩加半夏生薑湯。</p>

<h2>三陽合病</h2>
<p>腹滿身重，難以轉側，口中不仁，譫語遺尿者，不可汗下。</p>
<p><u>清熱和表裡</u>　白虎湯。</p>

<h2>太陽少陽並病</h2>
<p>頭痛眩冒，如結胸，心下痞硬，或譫語。</p>
<p><u>刺</u>　肺俞、肝俞。如頭項強，刺大椎。</p>

<h2>陰證似陽</h2>
<p>煩躁面赤，身熱，脈反沉微。韓氏《微旨》曰：面色雖見陽證，蓋是陽在上焦，其下二焦陰色已盛，若調理得下焦有陽，則上焦陽氣必下降也，上焦雖見陽證，其勢淺於下焦也。</p>
<p><u>溫</u>　見前「發熱。溫經」例下。《直指方》云：理中湯，四逆甘草乾薑湯，隨證輕重用。</p>

<h2>陽證似陰</h2>
<p>大便秘，小便赤，其脈沉滑，四肢逆冷，以其伏熱深也。</p>
<p><u>下</u>　治法見前「厥」證例下。</p>

<h2>陰盛隔陽</h2>
<p><u>溫</u>　《傷寒例》云：面少赤，陰盛於內，隔陽在外，其病必重，用通脈四逆湯，正合仲景法。</p>

<h2>陽盛拒陰</h2>
<p><u>下</u></p>

<h2>癍</h2>
<p>汗下後發者，熱毒不散所致。有溫毒熱病，有表證脈浮數，有表虛里實，熱毒不散，所以不可發汗，不可輕易下。有時氣所致。</p>
<p><u>消散</u>　白虎加參名化斑湯、升麻玄參湯。表證多，防風通聖去硝黃。</p>
<p><u>調胃溫中</u>　陰證發癍。</p>
<p><u>補</u>　汗下後，胃虛極而發者，此火遊行於外所致，宜補以降之，白虎加參朮。</p>
<p><u>下</u>　身無大熱，煩渴便實，有癍，調胃承氣。</p>
<p><u>泄熱</u>　豬膽雞子湯。兼咽痛，紫雪、大青。</p>
<p><u>涼血</u>　溫毒發癍，嘔逆，黑膏、化毒丹。</p>

<h2>晝夜偏劇</h2>
<p>熱入血室，陰虛，亡陽。</p>
<p><u>溫經</u>　汗下後，身無熱，不渴，晝則煩躁，夜而安靜，脈沉，宜乾薑附子湯。</p>
<p><u>和解</u>　婦人熱入血室，夜則譫語，小柴胡加牡丹皮。</p>
<p><u>針</u></p>

<h2>口燥咽乾</h2>
<p>慎不可發汗。</p>
<p><u>清熱涼胃</u>　口乾，少津液，脈浮緊微數，白虎加人參湯。</p>
<p><u>和解</u>　口苦，脈浮緊，咽乾舌燥，宜小柴胡。</p>
<p><u>下</u>　少陰病，得之三二日，口燥咽乾，急下之。</p>

<h2>百合病</h2>
<p>百脈一宗，悉致其病，無經絡之狀，欲食不食，欲臥不臥，有寒非寒，有熱非熱，默默不知所苦，服藥即吐，如有鬼神。</p>
<p><u>清熱涼血</u>　百合湯。</p>

<h2>狐惑</h2>
<p>其候齒燥，惡飲食，面目乍赤乍白，舌黑，舌上白，唇黑有瘡，四肢沉重，喜眠。蟲食其喉為惑，其聲嗄。蟲食下部為狐，其咽乾，甚者蟲食臟而死。</p>
<p><u>殺蟲</u>　雄黃銳散膏，納穀道中。</p>
<p><u>涼血</u>　唇瘡聲嗄，桃仁湯</p>
<p><u>清熱安蟲</u>　黃連犀角湯。</p>

<h2>漱水不欲咽</h2>
<p>熱在經也。</p>
<p><u>涼血</u>　陽明身熱頭疼，漱水不咽，必發衄，犀角地黃湯主之。</p>

<h2>水氣</h2>
<p><u>兩解</u>　表不解，心下有水氣，乾嘔發熱，喘咳，渴或利，小青龍主之。</p>
<p><u>下</u>　結胸有水氣，但頭汗出，大陷胸湯。</p>
<p><u>溫</u>　少陰腹痛，小便不利，四肢疼痛，下利，此有水，真武湯。厥而心下悸，宜先治水，茯苓甘草湯。</p>
<p><u>分利</u>　煩渴飲水，水入即吐，名水逆，五苓散主之。</p>
<p><u>軟堅清熱</u>　病在陽，當汗解，反以水噀之，其熱被卻不得去，彌更益堅，肉上粟起，反不渴，文蛤散。</p>

<h2>小便不利</h2>
<p>邪畜於內，津液不下行。</p>
<p><u>分利</u>　汗後脈浮，煩渴，五苓散。</p>
<p><u>和解</u>　汗後脅滿，寒熱，不利，心煩，桂枝幹薑湯。</p>
<p><u>下</u>　小便不利，大便乍難乍易，大小承氣湯選用。</p>
<p><u>溫</u>　自汗身寒，小便不利，甘草附子湯。</p>
<p><u>坐藥</u>　婦女用之，男子用豬膽套定。</p>
<p><u>固下散寒</u>　少陰病四五日，腹滿痛，小便不利，下利膿血，桃花湯。</p>
<p><u>灸</u>　陰寒甚，下閉者，灸之。陰證，小便不利，必陰囊縮入小腹，痛欲死者，灸石門穴。仍與返魂丹、當歸四逆湯。世有醫人見小水不通，炒鹽及熱藥臍下熨之，以致陰氣俱熱，熱無處出，即上衝心，往往有死者。</p>
<p><u>泄濕熱</u>　頭汗出，小便不利，渴引水漿，瘀熱在內，必發黃，茵陳湯。</p>
<p><u>解錯雜之邪</u>　傷寒八九日下之，胸滿煩驚，小便不利，譫語，一身盡重，不可轉側者，柴胡龍骨牡蠣湯主之。</p>
<p><u>散傳陰之熱閉</u>　少陰陰病四逆，其人或咳或悸，或小便不利，或腹中痛，或吐利下重者，四逆散主之。</p>
<p><u>溫經散濕</u>　少陰二三日不已，至四五日腹痛，小便不利，四肢沉重，疼痛，自利者，真武湯。</p>

<h2>陽痓</h2>
<p>本作痓，仰目是陽痓。《直指方》云：無汗先譫語者，發剛痓。</p>
<p><u>發汗</u>　《證治》曰：太陽無汗，小便少，氣上衝胸，口噤欲作剛痓，麻黃加葛根湯。云岐子用麻黃加獨活防風湯。</p>
<p><u>下</u>　胸滿口噤，臥不著席，腳攣急，其人必咬牙，大承氣湯。許氏次用小續命湯調之。</p>

<h2>陰痓</h2>
<p>眼合是陰痓。有汗先厥逆，發柔痓。</p>
<p><u>發汗</u>　龐朱二氏用桂枝葛根湯（朱肱）。</p>
<p><u>溫</u>　陰痓厥逆，筋脈俱急，汗出不止，桂心白朮散。項強頭搖，口噤，附子散。閉目合面，附子防風散。</p>
<p><u>分利</u>　頭項強，小腹滿，小便難，已成痓，五苓散。</p>
<p><u>疏風養血</u>　防風當歸散。</p>

<h2>不仁</h2>
<p>謂不柔和，則癢痛寒熱皆不知也。正氣為邪氣閉伏，鬱而不散，榮衛血氣虛少，不能通行，故斯然也。經曰：少陰脈不至，腎氣微，精血少，奔氣促迫，上入胸膈，宗氣反復，血結心下，陽氣退下，熱歸陰股，與陰相動，令身不仁，此為屍厥。其乘寒之厥，鬱冒不仁可知矣。</p>
<p><u>溫</u>　《直指方》用甘草乾薑湯、桂枝芍藥湯加乾薑、各半湯，以意度用。</p>
<p><u>針</u>　若越人入虢，太子病屍厥，以鬱冒不仁為可治，刺之而痊濟者，神醫之診也。設脈浮洪，身汗如油，喘不休，體不仁，雖越人其能起之哉？</p>

<h2>直視</h2>
<p>心腎臟氣絕也。《針經》云：骨之精為瞳子，筋之精為黑，血之精為絡，氣之精為白，五臟血氣調和，榮於目則明矣。今邪氣壅盛，正氣已絕，故衄家不可發汗，汗則額上陷脈急緊，直視不能眴也。</p>
<p><u>下</u>　其或有目中不了了，睛不和，無表裡證，大便難，身微熱者，非直視，此內實也，可於大承氣、大柴胡選用之。</p>

<h2>遺尿</h2>
<p>風溫證被下，必失溲。三陽合病。下焦氣絕不歸其部，濁邪中下。</p>
<p><u>溫</u>　下焦脫陰陽虛，用附子湯。</p>
<p><u>清熱</u>　自汗而熱，白虎湯主之。</p>
<p><u>灸</u></p>

<h2>循衣摸床</h2>
<p>兼微喘直視，小便利，脈弦實者，可治。</p>
<p><u>下</u>　大小承氣選用。</p>

<h2>溫病</h2>
<p>春月病發熱惡寒，頭疼，脈來浮數。瘟病，當分治之。</p>
<p><u>解肌</u>　升麻解肌湯。</p>
<p><u>和解</u>　小柴胡、竹葉湯。</p>

<h2>溫瘧</h2>
<p>重感於寒，變成溫瘧，脈尺寸俱盛，兼弦數。</p>
<p><u>和解</u>　先熱後寒，小柴胡或白虎加桂枝。</p>
<p><u>清熱</u>　但熱不寒，止用白虎。</p>

<h2>風溫</h2>
<p><u>發汗</u>　敗毒、獨活湯。許氏用續命湯減麻黃、附。</p>
<p><u>解肌</u>　柴胡桂枝湯，或白朮湯加減用。</p>
<p><u>清熱</u>　汗後惡熱，無下證，知母石膏湯。</p>
<p><u>疏風</u>　頭目昏眩，四肢煩疼，荊芥散、金匱風引湯。</p>

<h2>溫疫</h2>

<h2>溫毒</h2>
<p>陰脈實大，陽脈洪數，發熱，發癍、癮疹，咳兼心悶。</p>
<p><u>清熱</u>　玄參升麻湯。</p>

<h2>濕溫</h2>
<p>發熱頭疼，胸間多汗，兩脛逆冷，妄言，脈陽濡而弱，陰小而急。</p>

<h2>暑證</h2>
<p>中暑，病熱，自汗，脈虛細弱。</p>
<p><u>清神益氣</u>　東垣清暑益氣湯。</p>
<p><u>清熱</u>　白虎湯。</p>
<p><u>解肌</u>　五苓散。</p>
<p><u>降痰逆</u>　消暑丸、橘皮湯。</p>
<p><u>溫</u>　冷香飲子。</p>

<h2>暍證</h2>
<p>中暑暍，脈洪緊盛，身熱惡寒，頭痛心煩，躁渴乃是。</p>
<p><u>分利</u>　五苓散、益元散。</p>
<p><u>降火</u>　黃連解毒湯加香薷</p>
<p><u>消暑</u>　香薷飲</p>
