<header data-type="book">
<h1>喉科金鑰全書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>袁仁賢</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1911">公元1911年</data></dd></div>
</dl>
</header>

<h1>序一</h1>
<p>聞諸古聖人治天下，藥開其端，次以政刑，民無夭札，皞皞如也。夫宰相燮理陰陽，調贊元化，胥是道矣。故陸敬與筆錄醫方濟人，範希文以良醫自任，豈後世輕談醫學者可同年語哉？辛亥夏，余自都門旋里，偕舊遊攬勝清涼山墅，門人龔生曉嵐出其友人袁潤齊先生手著《喉科金鑰》全書請序。余忝揆席，有慚於陸、範，罔識岐黃，比事屬辭，恐無當序例。乃深惟厥旨，實恆常共曉之文，而為喉門之特出者，在剖析群疑，汰除庸腐，羽翼聖經，蒐羅典籍，分門別類，言簡意賅，博約之功，具見於此。如先生其人者，蓋神遊於農、黃之世，而獨造於扁、倉之門者也。於戲微已！</p>
<p><u>宣統三年辛亥仲夏月朔元和陸潤庠鳳石氏撰序</u></p>

<h1>序二</h1>
<p>古人有言，世變道不變。運會開文明以啟，器用日出日新，心思愈用愈靈，機緘不可遏，世變所為岌岌乎？至若人之秉彝，本乎天性，五官百骸，藏府經絡，造於吾身者，為秉彝所僑寓之鄉，絲毫不能變易，苟云變也，必海枯石爛而後巳耳。神農、軒轅各以醫道濟天下。《內經》者，涿鹿戰事以起，我欲生之，彼將殺之，是賊風邪氣之流行非正道，無以弭其變也。故醫學家曰：「用藥如用兵。」政治家曰：「治國如治病。」知醫學與兵學，殊途而理原一貫爾。余曩與瀏陽李君春煦交，數道其同里有袁潤齊先生以醫學名家，不獲一見。辛亥夏，奉簡學政江南，袁先生以手著《喉科金鑰》一書問敘，余以醫藥之事未之學。時中西醫院主席者為瞿公海，如咨請校閱，極贊其美。因三複是書，知其學術深邃，辭旨明達，上下古今，蒐羅富有，而以兵略簡練調度諸法貫串於其中，非粗知醫書者所以望其肩背也。惟先生以普通醫學自命，而所出僅喉科一門，其意何居？今夫在朝有宰執出納王命者，王之喉舌也；在天有極星運動，天元者，天之喉舌也；在地有地中海，各國交通之門戶，全球之喉舌也；在中國，北有津沽，為黃河咽喉；南有淞陰，為長江咽喉。是故咽喉之地，字危爭於呼吸，在天成象，在地成形，而在乎人之一身者，可不慎歟？世變道不變，吾將有感於斯文，是為序。</p>
<p><u>宣統三年辛亥仲夏月江蘇提學使勞乃宣序</u></p>

<h1>自序</h1>
<p>是書曷為而出也？醫書中特舉喉科以見意爾。一喉科曷為而稱全書也？喉科書世無全本爾。曷言乎無全本也？世所傳喉科書多主白喉，多主熱證，而遺寒證，雖舊有《喉門七十二證》之書，白喉闕焉未備，故無全書爾。全書云何曰實火、曰虛火，喉痹同，虛實不同爾。曰熱疫、曰寒疫，白喉同，寒熱不同爾。故凡醫科，古聖心傳總不外虛實寒熱四字，挈領提綱，全權在握，而治理之千萬法門可從心而化爾。醫家古無科目之分，《周禮·天官》始有醫師、疾醫、瘍醫、食醫，凡四等。自張長沙發明《靈》、《素》三百九十七法，無所不包，學者誠悉心體會。何至以十三科條目各擅專門，一本萬殊？萬殊原歸一本爾。仁家先哲諱翯公，以醫道負盛名。乾隆朝江淮大疫，翯至活人無算，上賜「神醫」二字扁額。有《醫學一貫》藏稿薪傳於茲五世已，拾其緒餘，所投輒效，於是受業。同里劉師薪岑得卒諸業，乃以軍事遊嶺南，與西醫接洽，盡闢其謬，歸與吾友歐陽藹臣討論喉門證治益精。己酉冬就養金陵，聞諸旅寧鄉先生，金稱東南地氣卑濕，有四大證較難於他端，曰痢、曰瘧、曰驚、曰喉，爰舉喉科以見意，可以例其餘矣。仁愧學識粗疏，罔合時宜，無補於世，發筴搜尋遺稿，喉科書有曰《金鑰》者，採其菁華，分為四類，仍其名曰《金鑰全書》，亦述而不作之意云爾。質之方家，幸垂教正。</p>
<p><u>宣統三年辛亥仲夏悟真山人自記於金陵旅次</u></p>

<h1>凡例</h1>
<p>一是書分四門，曰實火門，主風火喉痹、雙單喉蛾、喉癰、丹毒等類。曰虛火門，主陰虛喉痹、癆傷、天空等類。曰熱疫門，主白喉熱痹、爛喉痧等類。曰寒疫門，主白喉寒痹、真陽虧竭等類。</p>
<p>一是書分兩卷，上卷列病證現相脈表，致病原因，辨論藥性調度表，針灸穴法表，咽喉說諦問答，辨證詳明，然後用藥。下卷列實火、虛火、熱疫、寒疫四門。入首敘病證，每門分為兩隊者，內用服藥隊，外用吹藥隊，有奇必有偶，為主治方略。</p>
<p>一主治方略，有遵先師成憲者，方下標明姓氏，有采取時師經驗方者，則標明時師字樣，有出自家藏秘本，由仁考究訂定，不見於他書，則標明悟真字樣，遵古而不戾於今，實事求是，識者諒之。</p>
<p>一《白喉忌表抉微》一書，為耐修子遵奉洞主仙師而行於世者。蓋北方名醫隱其名，不欲以小道自顯，所治僅「白喉熱證」一門可為模楷，他無及焉，節取其長，仍名其舊爾。</p>
<p>一喉科書有並不忌表，顯與《忌表抉微》反對者，眾訟紛紛，莫衷一是。謹按：《傷寒論·太陽篇》誤汗條下原文「咽喉乾者不可發汗」。陳修圓注：「咽喉為三陰，所循之處無太陽表證，循行之脈，三陰精血虛少，不能上滋而乾燥者，不可發汗，或誤發之，命將不全，不必再論變證也。」觀此可為喉科忌表之鐵證，故太陽經表劑，書中不錄。</p>
<p>一喉科有偶從表散而獲效者，不可不詳求其理，如風火喉證，因感外邪而發，其證尚輕。經曰：火鬱發之。可酌用陽明少陽引經藥，略從表解，如升、葛、柴、前之類是也。爛喉痧至通身見疹，可知陽明主肌，少陽主血，則用地、芍、柴、葛之類解肌化毒，列方備用，如仲聖桔梗湯，有開提氣血，表散寒邪之義爾。</p>
<p>一內外藥隊當用藥料，無論貴賤，總期易於購取。真藥方能奏功，若難取辦、難修合者均不錄。</p>
<p>一幼科白喉變證，前後分為兩節，前一節用理中獲效，本是正治。後一節下寒上熱，扞格中焦，醫藥雜投，鮮有不敗，另立論說，為權宜辨法也。</p>
<p>一調度藥品，由《神農本草經》精選而出，為有本原，蓋戰國時人有能為神農之言者，朱子稱為醫卜之流，醫道最古，良信。</p>
<p>一喉科經脈，按照《內經·靈·素》詳查而出，本無太陽經脈，時醫統言不忌表，誤人不少，因於針灸條下引證詳明，瞭如指掌。</p>
<p>一祝由科神符，仿自軒轅帝祖，並非後人偽造，蓋祝其病之所由起也，存之以備一格，為臨時救險，匡針灸之不逮云。</p>

<h1>上卷</h1>

<h2>喉病經脈循行考</h2>
<p>十二經脈惟足太陽脈主表，別下項，余皆內循於喉，足太陰脾脈挾咽，足少陰腎脈上通於心，循喉朧，系舌本；足厥陰肝脈循喉嚨之後，足陽陰胃為水穀之海，其氣直透咽喉而上蒸於肺，肺與大腸相表裡？是手足陽明之濁氣皆足以犯肺。肺之總系即喉管也。手少陽三焦相火挾厥陰心包，風木相煽，君火亦因之而動，上焦之火，皆喉病之原因。惟陰火上攻，由於腎有虛有實，不得概從，斷如其人真陰虧損，龍雷飛越，火無所歸，非壯水不可；真陽虛竭，火不化氣，非溫補命門不可。此經文所以有上病下取之說。</p>

<h2>喉病下寒上熱考</h2>
<p>坎中之陽，水中之火也。此火上生胃土，腐化水穀，水穀之精華散布諸經，生養氣血，富貴人日饜甘脆肥濃，膏粱醉飽，貧賤人日啖生冷腐臭、塵飯塗羹，皆足以傷胃氣。土為火之子，子能令母衰，母子俱敗，則下焦必有履霜堅冰之漸，寒與濕並，積久而為蒸，六淫之邪，無時不有，無處不有，隨風入隙，乘人之虛，邪從口鼻兩道而入，先犯腦頂，次踞咽喉，用其壓力挾藏府風火之氣，直犯陽明，加以胃府濕熱熏蒸，肺臟之焦灼異常概可想見，此喉病之所由起也。人第知肺之灼，而不知由於胃之蒸，人即知胃之蒸，而不知由於下焦之寒，下焦寒凝，胃氣升降不靈，終日熏蒸於肺，靡有紀極，誤表則上焦愈熾，誤下則下焦愈危，獨有養陰保肺，引火下行一法極為穩妥，由上焦引至中焦，由中焦引至下焦，使邪火從腸胃膀胱化出，斯萬全之策也。風火蛾喉與實火白喉一律參看虛寒喉痹，不在此例。</p>

<h2>喉病在氣在血考</h2>
<p>喉病作痛有在氣在血之分者，言邪乘人之虛而入也，其人氣虛則邪先傷氣，其人血虛則邪先傷血，此理易明，顧何以知痛在氣分乎，曰上午痛下午減，痛在氣分，熱為虛熱，寒為虛寒，治主補中益氣。又何以知痛在血分乎，曰下午痛子時減，痛在血分，虛熱養陰補血，虛寒溫腎壯陽，雜證仿此。</p>

<h2>白喉熱證現相表</h2>
<p>喉內微腫，懸雍下垂，初起惡寒，同時發熱。</p>
<p>力倦神疲，頭昏背脹，渾身骨節，疼痛異常。</p>
<p>或二三日，白點始見，一點數點，不拘兩邊。</p>
<p>小舌兩旁，自外而內，一經見白，怪狀可畏。</p>
<p>或是白條，或是白塊，漸至極危，滿白不解。</p>
<p>口渴舌燥，水思飲冷，耳痛唇紅，目赤頸腫。</p>
<p>白點乾澀，全無津液，飲水即嗆，口出臭氣。</p>
<p>初或不痛，極痛在後，或是微痛，痛亦不休。</p>
<p>咽喉腐敗，曰爛喉痧，頭痛身熱，赤斑如麻。</p>

<h2>白喉寒證現相表</h2>
<p>一派純寒，並不發熱，見風怕風，怕冷尤迫。</p>
<p>初起見點，白在內關，由內達外，由稀漸繁。</p>
<p>初起不痛，痛亦來緩，痛甚兼風，甚至白滿。</p>
<p>白點明潤，或點或塊，白如凝脂，寒極莫解。</p>
<p>不忌滿白，並不忌腫，失音動痰，是為危證。</p>

<h2>白喉危證現相表（專指熱證）</h2>
<p>白如粉皮，白塊自落，白如凝脂，白星滿廓。</p>
<p>滿喉布白，七朝不退，喉干無涎，頷腫數潰。</p>
<p>鼻孔出血，鼻塞不通，兩目直視，肢脹神昏。</p>
<p>天庭黑暗，面唇諸青，汗出如漿，角弓反張。</p>
<p>大便秘結，小便自利，服藥連瀉，藥不能下。</p>
<p>痰壅氣喘，音啞無聲，口出臭氣，神志不清。</p>
<p>口張氣絕，手撤脾絕，此等危機，仙丹無覓。</p>

<h2>白喉邪退現相表</h2>
<p>白收緊　白稀疏　白微小　白轉黃</p>

<h2>白喉與爛喉痧辨</h2>
<p>《內經》詳喉部於諸經，寓治法於針砭，醫喉之劑，略見於《傷寒論》中，無白喉名稱，況爛喉痧乎，有之，自葉天士始。按白喉有熱有寒，爛喉痧雖爛而無白，純是風火，身見赤斑，病在血分，宜滋陰養血，解肌瀉火，與風火門白喉熱疫門參看。</p>

<h2>爛喉瘀與陰火辨</h2>
<p>爛喉痧初起，有緩痛，有急痛，頭痛身熱，與風火證同。二三日即爛，身見斑點，病在血分，治宜解肌瀉火。按：陰火喉爛乃陰虛水涸，不能藏陽，龍雷飛越之象，其熱緩，有延至數月之久而始爛者，治宜滋陰養陽，引龍歸窟，彼此誤治者不救。</p>

<h2>甘平藥調度表</h2>
<p>生地活血養陰，麥冬保肺生津，銀花清金解毒，元參滋陰降火。</p>
<p>石斛清脾滋腎，甘草和中解毒，中黃除瘟解毒，牛黃破毒祛瘟。</p>
<p>牛膝引火下行，杭菊升清除熱，尖貝解鬱開痰，穀芽化食消邪。</p>
<p>柿霜濟肺清金，殭蠶入肺祛風，通草化白通關，綠豆能解藥毒。</p>
<p>荸薺化白摧堅，童便引火下行，石膏清金降火，青果生津去惡。</p>
<p>藕汁化瘀清火，羚羊清肺解肝，龜膠補陰益精，梨汁養胃和脾。</p>

<h2>苦平藥調度表</h2>
<p>洋參生津保肺，白芍平肝和脾，粉葛清胃解肌，花粉生津解毒。</p>
<p>丹皮清腫瀉火，連翹宜通經絡，栝蔞滌痰降火，膽草瀉肝退火。</p>
<p>梔仁引火下行，竹葉去熱消邪，木通引火下行，黃柏引火下行。</p>
<p>澤瀉引邪下泄，車前引邪下泄，桔梗開提氣血，知母清胃瀉火。</p>
<p>蓮心能瀉心火，鬱金除惡化瘀，豆根解毒開關，藍根破毒退火。</p>
<p>蒼耳破毒祛瘟，青黛化毒消瘟，大黃釜底抽薪。</p>

<h2>甘溫藥調度表</h2>
<p>黃耆補氣生血，於朮養胃益脾，野參大補元氣，玉竹潤肺益胃。</p>
<p>枸杞益肝補腎，當歸補肝生血，山茱補肝益腎，杜仲補肝養筋。</p>
<p>琥珀定魄安魂，鹿膠補益真精，阿膠養陰補血，龍骨鎮虛定志。</p>

<h2>辛溫藥調度表</h2>
<p>肉桂引火歸元，砂仁溫胃暖中，法夏開脾醒胃，附子溫暖命門。</p>
<p>白蔻溫暖三焦，陳皮寬中降氣，炮姜回陽暖臟，乳沒化瘀止痛。</p>
<p>血竭化瘀活血，薄荷逐惡除邪，公丁舒暢三焦，白椒壯火回陽。</p>
<p>表中四營調度合七十二將，以控扼咽喉，不患將才之寡，特患選將不精，誠能按部就班，不為龐言所惑，有是病服是藥，藥到病除，無往不利，徒以某方能治某病，不求調度之精，直如按圖練兵，至對壘交鋒，便改形換面，此不諳調度者，鮮有不敗也。茲條陳方略於後，兵隊已極整齊，爰求調度於前，臨機不難，應變運用之妙，存乎一心爾。</p>

<h2>喉科針灸穴法表</h2>
<p>少商穴，大指內甲角，屬手太陰肺經。</p>
<p>商陽穴，次指內甲角，屬手陽明大腸。</p>
<p>中衝穴，三指內甲角，屬手厥陰心包。</p>
<p>關衝穴，四指內甲角，屬手少陽三焦。</p>
<p>少衝穴，五指內甲角，屬手少陰心經。</p>
<p>曲池穴，手腕彎縫中，屬手太陰肺經。</p>
<p>委中穴，膝底彎縫中，屬足少陰腎經。</p>
<p>百會穴，腦頂中心，前後髮際，兩耳尖折中處。</p>
<p>太谿穴，足內踝五分，跟骨上動脈陷中。</p>
<p>湧泉穴，兩足中心，貼回陽膏，見寒疫門。</p>
<p>經渠穴，合谷穴直上掌後橫紋陷中微窩處。</p>

<h2>喉科禁忌等藥表</h2>
<p>麻黃誤服音啞，細辛耗散腎氣，皂角耗散真氣，蒼朮辛烈傷氣。</p>
<p>桂枝不宜辛散，羌活辛烈傷氣，川芎辛烈傷氣，生薑辛散助火。</p>

<h2>喉科誤表解藥表</h2>
<p>春用蠶食過大桑葉孔多者三片，夏用荷花蒂連須者七個。</p>
<p>秋用荸薺苗梢黃者九支各寸許，冬用生青果核磨汁三枚。</p>
<p>各隨時取生汁大杯，先吃稀粥一碗，後吃藥解去誤表藥性，隨進醫喉良藥；一法用生綠豆研末，冷水調服半碗。</p>

<h2>咽喉說諦問答</h2>
<p>一、問咽喉二字孰為咽，孰為喉？曰：中間食管為咽，兩旁氣管為喉。舊說前為咽，後為喉者，非也。</p>
<p>二、人言喉嚨何也？曰：喉管似龍，故稱喉嚨。</p>
<p>三、醫書或稱嗌，或稱咽，曷辨？曰：《靈樞》經云：天氣歸鼻，地氣歸嗌，嗌者，口內總機關，統咽喉言也。</p>
<p>四、飲食下咽，何以與喉無窒礙？曰：食下咽，兩旁喉管有遮護，旋開旋闔，當食而言笑，則上氣衝激，令人噴飯，故聖人食不語。</p>
<p>五、人之聲音因何而發？曰：舌本有物如錢，名會厭，上面小舌名懸雍，針鋒相對，所以發聲。</p>
<p>六、氣息因何而出？曰：呼吸出自氣海，名丹田，咽通呼吸，則葉納遂，喉通呼吸則升降靈。</p>
<p>七、口中津液從何而生？曰：從天河下濟，精氣上騰腦頂，化為清津，由上齶二小孔滲下。</p>
<p>八、腦有七竅，與咽喉貫通，如何？曰：「咽喉直接腦頂，懸雍後空洞中有一物像觀音坐蓮，最高處為清虛之府，即百會穴。真神在焉，神之出入由元關，道家稱為元牝之門，即佛祖定禪之地，俗醫不悟也。</p>
<p>九、喉病而咽亦病何也？曰：食管氣管雖分三條，而筋脈聯貫，其受病則一，不過有中左右之別。</p>
<p>以上論咽喉部之機關。</p>
<p>十、醫聖仲景著《傷寒》、《金匱》未著喉科，喉證不明於世。近時喉病極多，主何宗旨？曰：仲聖甘桔湯、生甘草湯用治喉痹。痹者，閉也，治主開提瀉火，並不在汗、吐、下三法之列。從此可悟《忌表抉微》之旨，至喉門兼證雜證總不離六經定法。</p>
<p>十一、喉證寒熱虛實，主治通乎三才，願聞其旨。曰：相天時，度地氣，審人事。大致夏秋多熱，春冬多寒，平陽多熱，深山多寒，體強者多熱，體弱者多寒，酒客多熱，色徒多寒，少壯多熱，年老多寒。如是等類，不過借作佐證，宜臨證詳審，對證下藥。</p>
<p>十二、醫家遇喉證多以忌表為言，願聞其旨。曰：實熱證風火煽動，不宜升散，誤表則邪滋蔓周經。虛寒證元陽無根，升散則脫，亦有偶從表解而獲效者。為有陽明少陽表證取火鬱發之之義，病不在太陽也，然誤表者居多。</p>
<p>十三、實熱證誤服表藥如何？曰：誤服辛涼解表，不至壞事，誤服辛燥，難治也。</p>
<p>十四、虛寒證誤服表藥與誤服下藥者如何？曰：誤服表藥，散失元陽，難治；服下藥者急死。</p>
<p>十五、喉病而果現表證者，主治若何？曰：少陽半表半裡，往來潮熱，普濟消毒飲有升柴，可用；病在少陽屬虛者，補中益氣湯有升柴，可用；陽明則熱在肌肉，不在皮毛，熱不退者，則葛根、連翹、石膏、知母皆可用。</p>
<p>十六、喉病用藥獲效遲速若何？曰：有服藥一二劑而愈者，有服藥半月至一月而愈者，病有深淺不同，若圖急效更醫，謬妄如此，不治，主之罪也；藥不對證，醫之罪也。</p>
<p>十七、然則，不更，後醫何以知前醫，終保無害乎？曰：但看用藥對證不對證，病雖未痊，卻不加重，因有小效不見敗象，故知為吉，要看其平日學問如何，勿以眾人爭趨者為好手也。</p>
<p>十八、凡喉證服藥與吹藥孰效？曰：清內患不可不服藥，惟斬關奪險，吹藥最捷，二者並行不悖。</p>
<p>十九、喉病失音動痰尚有救乎？曰失音動痰有三，一由腎絕水泛為痰，不治；一由真寒誤服涼藥，使肺胃閉塞，治主溫中；一由風火煽動於上，治主養陰豁痰開胃，然多凶少吉。</p>
<p>二十、寒證喉病初起疑是熱證，何以辨之？曰：試以生薑湯，果熱病則畏辛，不肯服，果寒，則藥受也。</p>
<p>二十一、寒證尚輕，過用辛熱而見燥證，主治若何？曰：以地漿、綠豆、甘草，隨用一味，足以解之，然後進藥。</p>
<p>二十二、熱證尚輕，過用苦寒而病加者，主治若何？曰：重用參耆以助胃氣，兼理餘邪，他病仿此。</p>
<p>二十三、熱邪既盛，真陽復虛，脈見浮緊，重按則濡，下之不能，不下不可，主治若何？曰：附子瀉心湯寒熱並進，斯為有制之兵。</p>
<p>二十四、虛寒喉證，誤服承氣湯，舌黃帶黑，唇焦，與實火相似，但口潤而不渴，主治若何？曰：桂附理中，桂附地黃等湯，相機酌用。</p>
<p>二十五、喉病腫與不腫，虛實曷辨？曰：腫者多實，病在血分，不腫者多虛，病在氣分，血為陰，氣為陽。</p>
<p>二十六、窮鄉僻壤，急無醫藥，有簡便法可立治乎？曰：實火喉痹用地漿湯，見實火門；虛火喉痹用仙鶴卵，見虛火門；白喉熱疫用蒼耳飲，見熱疫門；臨時取辦救急丹，見實火門吹藥隊中。</p>
<p>二十七、入病家防時疫傳染有法乎？曰：默乾元亨利貞五字，飲雄黃酒一口，或食如意油一顆珠，則群邪辟易矣。</p>
<p>二十八、今人喜用西醫，獨喉病不用西醫何也？曰：咽喉要害，生死直爭呼吸，不肯平白喪於人手，苟推此心，自重其生命，則修齊治平之事，不煩而解矣。</p>
<p>以上皆議喉病之治法。</p>
<p>二十九、腦頂百會穴貫通百脈，喉病灸之如何？曰：凡是陰證皆可灸，風火喉、熱疫、白喉斷不可灸。</p>
<p>三十、喉病灸太谿穴，引火下行如何？曰：凡下部虛寒證皆可灸，余病則否。</p>
<p>三十一、喉病初起用針如何？曰：蛾喉用針最為上策，針破出血則消，即應服藥消風清火。</p>
<p>三十二、蛾不用針，毒可潰乎？曰：吹藥用破蛾丹。</p>
<p>三十三、風火喉可針刺乎？曰：非蛾子不可用針。</p>
<p>三十四、針少商穴如何？曰：喉病初起，針少商穴，出紫黑血，痛自減，若病重，須按各穴針之為妙。</p>
<p>三十五、蒜泥法可代針乎？曰：寒證初起，病輕頗驗，重證虛證則否，詳見寒疫門。</p>
<p>以上言針灸之治法。</p>
<p>三十六、喉病名蛾子曷故？曰：風火相煽，上衝氣管，突起一泡，其形似蛾，因名蛾子。</p>
<p>三十七、喉病有單蛾、雙蛾曷故？曰：左氣管受邪患左蛾，右氣管受邪患右蛾，左右受邪患雙蛾。</p>
<p>三十八、雙蛾腫脹，病在危急，奈何？曰：有吹藥取除惡涎，開關則能進食，方見實火門。</p>
<p>三十九、風火喉與蛾喉治法同異若何？曰：均是風火相煽，但蛾喉腫脹急於閉塞，風火喉稍緩耳。蛾喉初起在氣管，風火喉初起在食管，治法略同。</p>
<p>四十、喉病有以風火名，曷故？曰：厥陰風木與少陽相火相煽，脈證相參，實是風火，故名之。</p>
<p>四十一、風火喉見證若何？曰：風火隨胃氣上升，熏蒸肺管，初起痛甚，腫者多，不腫者亦有，不能食，咽津猶可，懸雍下垂，肉色瘀紫，緩則潰爛，急則閉喉而死。</p>
<p>四十二、治風火喉證奈何？曰：養陰清燥而風自息，誤用辛溫則死，誤用苦寒傷胃者難治。</p>
<p>四十三、風火與陰火易辨？曰：陰火者，腎火也。其人下部虛，陽亢陰衰，海涸龍騰，病在少陰。少陽之脈循喉，其來也緩，初起不甚痛，但懸雍下垂，咽津則痛劇，硬飯猶可，久則喉內腐敗，血瘀紫黑，腐久則成天空，鼻孔塌陷。治宜養陰引火歸元，誤用苦寒則死。</p>
<p>四十四、世稱纏喉急痹，其證速死，曷故？曰：纏喉者，即風火實熱蛾喉、白喉之通稱。陡起腫痛異常，醫治失宜，兩邊氣管閉塞，詎不速死，惟有一種真纏喉，腫達於頸外如蛇纏，痛極且麻且癢，此與腫頸瘟、大頭瘟無異，急用敷藥、吹藥、吃藥、三方齊到，治見實火門元烏膏條下。</p>
<p>四十五、癆火喉病如何？曰：少年酒色起居不節，婦人憂思鬱結，皆足以致之。痰火虛癆，咳損肺金，而喉痛者，乃水竭於下，火浮於上，治主滋陰潤燥，不得用苦寒傷胃。</p>
<p>四十六、毒火喉病如何？曰：楊梅結毒，妄投丹藥，傷人藏府，藥毒上攻咽喉，腐敗年久月深，患成天空，鼻孔塌陷，治主養陰解毒。</p>
<p>四十七、人言喉病不宜近火，何也？曰：恐外火引動內火，病必加重，燈火、柴火、煤火均勿近，寒證不忌。</p>
<p>四十八、熱證喉病，坐臥宜如何？曰：宜扶掖於寬敝堂室，行動以暢氣機，臥則氣逆而增重耳。</p>
<p>以上言實火虛火各證分別論治</p>
<p>四十九、世稱白喉為瘟疫何也？曰：瘟者，溫也；邪從溫化為溫疫者，役也，邪中人如役使之狀，瘟氣入於肺管，肺管即咽喉也。</p>
<p>五十、溫與熱曷辨？曰：溫者，如水氣浸淫，如皿盛湯者也；熱氣，則火在下，而執於上耳。</p>
<p>五十一、白喉有傳染，何也？曰：凡瘟疫證皆有傳染疫者，更番役使之象，乘虛入隙，賤風邪氣流行耳。</p>
<p>五十二、白喉知為瘟疫，主治大致相同，而有救有不救者，曷故？曰：人第知白喉為熱，不知白喉亦有寒，蓋熱證多，而寒證少也，治固有別，貴臨證詳審。</p>
<p>五十三、白喉熱證多寒證少曷故？曰：熱主流通，寒主閉塞，春溫、夏暑、秋燥，時多熱疫，其人如體氣虛寒，適為寒邪所觸，邪寒化，故病寒疫。</p>
<p>五十四、白喉有熱疫，有寒疫，主治若何？曰：熱疫養陰清肺，引火下行，寒疫益火之源，以消陰翳。</p>
<p>五十五、白喉不拘寒熱，其色皆白，何也？曰：火爍肺金，金從火化，故白，寒凝如冰，冰金相併，亦為白，但寒者，白色較淺耳。</p>
<p>五十六、白喉病初起，白猶未見，酷似傷寒，真偽曷辨？曰：真傷寒初無喉痛，真喉證懸雍必垂，立辨。</p>
<p>五十七、白喉熱疫初起，惡寒發熱，雖誤服表藥，誤作傷寒，而寒熱遂除者，曷故？曰：似傷寒者，毒邪初作於內也，二三日喉內見白，白而寒熱自除耳。誤表助邪，反為有功，害不旋踵。</p>
<p>五十八、白喉病初起，有用參蘇飲，敗毒散而獲效者何也？曰：此非真白喉熱證，亦非風火太甚，偶觸寒邪，病尚淺，故易愈，若以為訓，貽害實多。</p>
<p>五十九、熱疫白喉忌表，則辛溫尤忌可知也，然則，硝黃芩連何如？曰：喉病在上焦氣分，硝黃伐及無辜，芩連太傷胃氣，不可不慎，中焦如有積熱，又當酌用。</p>
<p>六十、白喉證何以知中焦有積熱乎？曰：胃脈實大，便秘，口渴飲冷，火毒上攻，釜底抽薪乃為對證。</p>
<p>六十一、然則，喉病火毒內結，乃可攻乎？曰：舌苔黃黑，喉干唇焦，小便短赤，大便瀉利帶黑，主調胃承氣養陰，降火敗毒。</p>
<p>六十二、白喉熱疫證象畢現，倘兼雜證，或發宿疾，主治若何？曰：雜證越經也。宿疾看在何經，以醫喉法為主，分經用藥，因應不窮。</p>
<p>六十三、喉病或雜病轉為白喉者，主治若何？曰：雙單蛾、風火喉病之變證，及春溫夏暑秋燥之變證，方瘥而轉為白喉者，邪乘虛而入也，主輔正祛邪，病原稍異，主治略同。</p>
<p>六十四、白塊如脂，刮去以出毒，如何？曰：刮破則毒氣渙散，更甚於表藥之誤，不可刮。</p>
<p>六十五、癆病陰虛火燥，酷似白喉。痛極不能進食，漸至腐敗形容枯槁，但非惡寒發熱，頭疼身痛，故與白喉熱疫有別，主治若何？曰：陰陽兩補，使元氣充足，喉病自愈，誤認白喉則死。</p>
<p>六十六、喉病初起，不惡寒發熱，喉內起白皮，旋落旋長，寒熱易辨？曰：不惡寒發熱，而有白喉，現相確是真寒，非桂附溫補不可，即誤用消風敗毒，亦無大害，誤認白喉熱疫治之者，不救。</p>
<p>六十七、世稱北方多白喉，南方多爛喉痧，何以異？曰：病白喉無分南北，主治異同，爛喉痧者創稱於葉天士，而未見有成書，以其腐敗極速，而身見斑疹，故名爛喉痧，其實風火挾濕而成喉證之現相也，病在血分。</p>
<p>六十八、爛喉痧與治白喉有以異乎？曰：見白而喉即腐敗者，從白喉熱疫論治，詳見白喉熱疫門；喉不見白，而即腐敗者，從實火門。</p>
<p>以上論白喉等證分別治法。</p>

<h2>一陰一陽結謂之喉痹論</h2>
<p>一陰一陽結謂之喉痹者，蓋舉少陰少陽君相二火以提其綱耳。至喉證之變態靡常。非兩經所能盡而要，惟兩經受病為最多，請詳言其旨。十二經脈惟足太陽主表，別下項，所以喉病忌表者，舍太陽經病而言也。太陰為咽喉內地，厥陰實咽喉奧區，姑不具論。陽明為倉廩之官，水穀之氣直透咽喉，故陽明濕熱熏蒸，咽喉當其要害，適足以病之。苟非君相二火煽動，不難以一劑清涼作九霄甘露，立奏膚功。所最難者，少陰之脈循喉嚨，系舌本，少陽之脈通三焦，行氣管，二火煽動外邪，挾其氣焰，不循順輒勢甚披猖，為痛為腫，腫痛劇而為痹，痹者，閉也，結者，塞也，不獨不能進食，甚至閉塞氣管而死，此陰陽結而為喉痹之現象，必審其受病之原因。其要有三：少陰君火，龍火也。少陽相火，雷火也，其人如興居不節，房勞醉飽，晨昏顛倒，皆足憧擾乎陰陽，陰不足以濟陽，陽無所附麗，一旦龍雷飛空直上，不能招回故宅，加以陽明濕熱熏蒸助其氣，此虛火喉痹之所由起也。若其人陰虛陽亢，三焦膽氣素強，偶然觸犯風邪，或遭惡濁，春溫夏暑，時疫流行，乘虛入隙，從口鼻先犯腦竅，次踞咽喉，內訌與外侮交攻，此實火喉痹之所由起也。然則，治虛火之術奈何？曰：坎象者，內陽而外陰也。壯水之主，以制陽光，海底龍潛，雷霆頓息矣。然則，治實火之術奈何？曰：離象者，內陰而外陽也，養陰清燥，引浮游火下行，內本既清，外邪斯退矣。顧此第就君相二火相煽而言之，若夫內則真陽素虧，外則真寒交戰，履霜堅冰，咽喉痹痛，治之失當，竟至捐生，今時喉科能辨者蓋寡，此則專屬少陰君火衰微，陽光不振，治主益火之源以消陰翳，非溫補命門不可。夫君主達聰明目，端拱無為，相臣燮理陰陽，咸有一德，斯百度為貞也。</p>

<h2>幼科天干地漏變為白喉證論冶</h2>
<p>空氣中有多數之惡濁隨風飄蕩，中人口鼻，人殊不覺，由氣管入肺，入膜原，以次入胃。小兒胃質柔脆，不任受邪，水乳穀食隨毒腐化，毒水並移小腸包，小腸者，為氣府，蒸熬毒水歸大腸，頻頻瀉下，並無腹痛、裡急後重之現相，瀉下黃色者，毒尚淺；瀉黑色而臭者，其毒重；瀉綠水或綠屎者，其毒最深，蓋毒氣旁侵肝膽，膽氣發泄，胃質色變青黑無疑。其有小便黃赤者，毒氣分移水道而出，用利水藥亦足殺其熱。其有小便清白，是毒氣專趨大腸，穀道關口洞開，愈瀉愈滑，是為地漏。至毒氣愈積愈橫，氣焰復上蒸於上中二焦，勢若燎原，津液不上騰，甘露不下降，是為天干。金遭火克，肺液隨毒氣飛昇，上犯滿腦，毒氣凝結咽喉，此天干地漏轉為白喉之現相始出矣。初見白點或白皮，旋則化開一片，上齶布滿如星，竟至滿口皆白，如黃雞油狀舌苔，或面白里黃，或黃白黑併成泥色，或舌上起點起泡起刺，嘴唇焦裂出血；或白無血色，囪門塌陷，兩眼不合無神，磨牙咬齒，是腦氣筋損壞，正氣衰息也。氣管血管皆不通暢，則有四肢逆冷，正氣不達於外也。腹中發燒，毒氣閉錮於中也。胸中氣抽，喉中痰鳴，毒化津液為涎，壅塞氣管，此證自胃以下純是虛寒，自胃以上，純是熱毒。救下元當用溫藥，虞其扦格不入，邪反得勢，救上中二焦當用涼藥，杯水車薪，奚濟於事，苦寒傷胃，虛虛之戒昭然，欲救此危機，當有神妙不測之奇，乃能背城一戰。悟真搜檢遺編，得反正降魔之法，使邪從二道移出，再議補益調理，用人參接續下元以固脫，合麥冬保肺生津止渴，尖貝、天竺黃除熱痰，羚羊清肺肝邪火，熊膽、牛黃、硃砂破毒，氣力沈雄，出奇制勝，人中黃大隊煎水去渣，以其水煎藥，但使上焦稍為熄焰，即當陰陽兩補，庶無後患。</p>

<h2>產婦氣滯血凝患陰火喉證論治</h2>
<p>產婦三日，內服藥宜消瘀去惡，行血活血，俾經氣暢行，再用補血湯，重用黃耆，輕用當歸調理，則所食水穀化乳汁，為無病之產婦也。然而產婦無論初胎至三四胎，無論少婦壯婦，一經胎產，其氣血俱虛，已可概見，其脈息或濡或細，或大而無力，皆氣血俱虛之象。故醫書有產後不憑脈之說，總宜顧住元氣，不可妄恣攻伐，致蹈虛虛之害，醫者可不慎歟？然而喉病因何而致乎？蓋產後氣血大虛，惡露不能自淨，以致惡血凝結，經氣不通。主血者，肝藏也，氣滯血凝，則肝藏鬱而不舒，郁久則風木挾火而動，土遭木克，金受火焚，而肺管受病矣。肺管即喉管也。醫者不察病之所由起，或用苦寒瀉火，或用辛溫潤燥，皆伐及無辜，令元氣愈憊，法當陰陽藥並進，加入活血散瘀等藥，與喉證虛火門參看。</p>

<h1>下卷</h1>

<h2>實火門</h2>
<p>風火喉痹腫痛，或雙單喉蛾，或喉癰，或真纏喉風，或頭面腮頸腫大瘟證，自初起以至危急，或因誤治危險，及楊梅丹毒上攻咽喉，主治方略。</p>

<h3>內用服藥驅邪隊</h3>
<p><u>生甘草湯</u>（張長沙）　治少陰病二三日咽痛　大甘土之正位，用治越上之火，凡實火喉病初起，與虛火喉病初起，但覺微痛者，此湯主之。</p>
<p>生甘草（一兩）　童便（一碗燉湯）　一日數服，時時嚥下。</p>
<p><u>甘桔湯</u>（張長沙）　治少陰病二三日咽痛　喉病初起，微痛不腫，微有寒熱，主開提瀉火，與甘草湯不瘥者與桔梗湯，蓋主甘而佐以辛苦開散之品，觀此可悟，不輕於用表。</p>
<p>生甘草（一兩）　桔梗（五錢）　濃煎取汁，一日數服。</p>
<p><u>半夏散及湯</u>（張長沙）　治少陰病咽中痛，消風除涎，虛實通用之劑。《本草》半夏治咽喉腫痛，桂木治喉痹，為咽喉主藥。</p>
<p>半夏（漂洗存性）　桂枝（去皮）　甘草（炙用，助半夏除痰熱，毒盛者宜生用）　三味（等分各研、各篩，合治之）。白飲調服方寸匕，日數服，若不能服散，以水一升煎七沸，納藥二方寸匕，更煎三沸，下火令小冷，少少咽之，治上之藥宜小其劑。或問：半夏桂枝，後人以為喉科禁藥，曷故？曰：禁半夏，忌燥，禁桂枝，忌表，此中精義令人莫測。要知咽喉無痰不病，而痰生於濕熱，取半夏滌除涎痰也。五苓散用桂枝，以太陽通於少陰，取桂枝利小便，故喉證用桂枝去皮，免其辛燥，引火下行，治在少陰。</p>
<p><u>竹葉石膏湯</u>（張長沙）　清胃火，解鬱熱。</p>
<p>竹葉（一兩）　石膏（五錢）　元參　麥冬　甘草（各三錢）　川貝（一錢）　糯米（一杯）　井花水煎。</p>
<p><u>普濟消毒飲</u>（李東垣）　咽喉痛，頭面頸項俱腫者，名大頭瘟，主祛瘟，化毒。</p>
<p>元參（伍錢）　連翹　桔梗　甘草（各三錢）　殭蠶　薄荷　牛蒡子　黃芩　黃連　藍根　陳皮　升麻　柴胡　馬勃（各錢半）　原方節去升、麻、連、勃，重加生地，急流水煎，引用野菊花苗根，生大青葉，隨取一藥，搗汁兌服，不拘劑。凡急重證，只煎頭水，渣不再煎。按：本方升麻、柴胡為兼有陽明少陽表證，不專為喉科而設，真有此兼證，則升柴不在忌表之例，葛根亦然。毒重者，黃連可用，馬勃須甘草水制，否則有毒。</p>
<p><u>三一承氣湯</u>（劉河間）　調胃氣，除積熱，釜底抽薪，中病為度。合三承氣湯為一湯，故名三一，並治外科雜證。</p>
<p>生大黃（三錢）　元明粉　生甘草（各二錢）　枳實　厚朴（各一錢）</p>
<p><u>生牛膝飲</u>（李瀕湖）　引火下行，喉科要藥。</p>
<p>生牛膝葉多取之搗爛絞汁，時時嚥下。吐涎則患自減，或和糯米煎汁飲之，大便結加大黃少許，小兒和乳汁與之。</p>
<p><u>會厭逐瘀湯</u>（王清任）　痘後嗆水，氣管有瘀，會厭腫壅者主之，三劑即平。</p>
<p>生地　桃仁　紅花　桔梗　甘草（各三錢）　元參　歸尾　赤芍（各二錢）　枳殼　柴胡（各一錢）</p>
<p><u>翠霞丹</u>（葉天士）　消腫退火，初起簡便法。</p>
<p>鮮扁柏嫩葉冷水浸透搗汁，和生白蜜，時時咽之。</p>
<p><u>椿梨蜜乳汞</u>（葉天士）　喉病失音，主開音發竅。</p>
<p>生椿芽汁（乾者研末亦可）　甜梨汁　白蜜　人乳和勻，蒸食。</p>
<p><u>羚羊丹</u>（悟真）　平肺肝邪火。凡喉蛾、喉癰、纏喉急痹、熱結腫痛危險之證，奏捷如神。</p>
<p>羚羊角尖（磨汁二錢）　生地（四錢）　人中黃　花粉（各三錢）　赤芍　鬱金　青黛　丹皮（各二錢）　石乳香（產瀏陽者真，一錢，炒去油、研）　按：羚羊角能碎金剛石，為摧堅破銳神品，功能平風息火，時醫輒用犀角治時瘟，為遵古法，不知神犀寶貴，世所罕有，今藥肆所售者，一野牛角，一水牛角，物賤而價昂，作藥無靈，徒耗財增病，不如重用羚羊，藥真而效捷，識者諒之。</p>
<p><u>玉液丹</u>（悟真）　風火煽動，內熱熏蒸，咽喉腫痛，一切風火喉蛾、實熱時溫等證，悉主之。</p>
<p>生地　玄參（各四錢）　花粉　麥冬（各三錢）　丹皮　赤芍　豆根　連翹　尖貝　乳香　兒茶　人中黃（各二錢）　急流水煎，引藥開後：生牛膝根、萬年青葉根、洗手香蘭葉根、路邊荊葉根、隨取一葉，不求其備，搗汁兌服，一日三服，令火息風平，腫消痛止，如有餘邪，不妨再服。</p>
<p><u>黑虎湯</u>（悟真）　清陽明火，解三焦熱，仿白虎湯。</p>
<p>元參　知母　甘草　石膏（各四錢）　土牛膝（一兩）　糯米（一杯）　煎。</p>
<p><u>五色祥雲液</u>（悟真）　消腫止痛，化毒除蒸。</p>
<p>人中黃　人中白　元參　赤芍　藍根（各等分）　煎汁，安低處，候冷飲之，或時時嚥下。</p>
<p><u>靈芝膏</u>（悟真）　專解楊梅瘡久毒，咽喉腐敗。</p>
<p>古桑樹靈芝（或古楓樹，或古塘，或石洞中者，一支）　生綿黃耆（北口產者，八兩）　金銀花　土茯苓　生首烏　生甘草（各四兩）　花粉　北連翹　元參　赤芍　生地　浙貝　當歸（各三兩）　忍冬藤（連根一斤）　冬蟲夏草（一兩）　早黑豆（半升）　長流水瓦鍋熬取濃汁，濾去渣，歸併銅鍋，加阿膠、白蜜各四兩收膏，每早晚，空心開水沖服一碗，一月全愈。</p>
<p><u>地漿湯</u>（時師傅）　喉痛單熱不寒者，主清涼解毒。</p>
<p>金銀花　生甘草（各一兩）　黑豆（一杯）　地漿（三尺深黃土水攪成漿汁，澄清，取水，二碗）　煎藥冷飲。</p>
<p><u>地龍飲</u>（時師傅）　消咽喉紅腫，以防蛾患。</p>
<p>白頸蚯蚓（七條）　用滾水泡澄，候冷去泥，和荸薺汁飲之。</p>
<p><u>清涼飲</u>（時師傅）　熱氣尚淺者主清涼下濟。</p>
<p>甜梨汁頻頻飲之，或甜梨削去皮，浸泉水中，頻頻飲之。或甜羅卜汁加玄明粉徐徐飲之。凡實火喉證與熱疫白喉，宜用蠟樹皮煎水洗口，又用灶心土，陳茶葉煎水時時咽之，皆清涼飲之類也。</p>

<h3>外用吹藥斬關隊</h3>
<p><u>真熊羆丸</u>（孫真人）　取涎破毒，消腫止痛。</p>
<p>真熊膽（二分）　山豆根（一錢）　曬乾研末過篩，同熊膽合擂極細，白蠟溶作小丸，另用白雞公肫皮，陰乾研末為衣，每取一丸，放舌上徐徐嚥下。</p>
<p><u>雄牛丹</u>（孫真人）　證治同前。</p>
<p>雄黃精　硼砂（各三分）　牛黃　梅片（各二分）　同擂極細，吹患處。</p>
<p><u>破蛾金丹</u>（孫真人）　拔毒化瘀，消腫止痛，專治喉蛾。</p>
<p>壁上長足大喜蛛（一隻）　白礬（一錢）　銅鍋內溶化，將蛛入礬內，候枯取蛛，加冰片一分，同擂吹患處，蛾破則止，更用熊羆丸或清涼散收功。</p>
<p><u>蚰蜒丹</u>（孫真人）　取惡涎，開關消腫，止痛化毒。</p>
<p>生梅子（百枚）　蚰蜒（百條）　同入瓦罐內，蚰蜒化為水，浸透梅子，每取梅子曬而又浸，浸而又曬，以汁干為度，喉患則取梅子一枚噙咽，吐涎多，病自減。</p>
<p>一法、取蚰、梅瓦上焙乾、研末聽用。</p>
<p>一法、取生蛐蜒入瓶內，以烏梅壓汁，滴患處。</p>
<p>一法、以蚰蜒包入烏梅肉內，瓦焙枯為末，聽用。</p>
<p>一法、取生蚰蜒包入烏梅肉內扎定，含口中，其水流喉間，效捷。</p>
<p>另方，古銅錢（一枚）　加蚰蜒於錢上，化水消瘰癘核。</p>
<p><u>斬關丸</u>（朱丹溪）　即解毒丸，寒熱互結，腫達於頸外，急痛且麻且癢，是真纏喉，不論有蛾無蛾，一切腫壅閉結險證主之。</p>
<p>巴豆（生三熟四，去殼去油）　雄精（五分）　鬱金（一粒）　合末，醋面和丸如小豆大，每取一丸，含咽開關，或為末吹之。</p>
<p>一法、生巴豆（半粒）　尖貝（一粒）　合研，燈芯煎湯送下。</p>
<p>一法、不用鬱金用薑黃，修合如前。</p>
<p><u>外拔神針</u>（華佗師）　喉患初起，針少商穴，出紫赤血，病自減，病重者針各穴（詳針灸表），患蛾者針蛾頭，血出毒消，吹藥除淨頑涎則愈。</p>
<p><u>燒邪雷火</u>（呂祖師）　有種喉蛾看不見，名落井蛾，當灸之。灸少商穴與經渠穴，燈芯醮清油各灸三壯，邪從火散，同氣相求之義也。</p>
<p><u>選鋒破蛾丹</u>（歐陽子）　專破喉蛾，消腫止痛。</p>
<p>硼砂（五分）　冰片（二分）　人指甲（刮灰）　急性子（即鳳仙花子，各少許）　合末吹入蛾頭，不可誤傷懸雍，喉管，以蛾破為度，再以他藥取去惡涎，服藥清解而愈。</p>
<p><u>錫類散</u>（張瑞符）　不論實火虛火、喉爛、牙疳、口舌俱腐、丹毒等證，悉主之。</p>
<p>象牙屑（五分，用玻璃片刮，再擂）　珍珠　西牛黃　上梅片（各二分）　青黛（五分）　壁錢（廿只，瓦上微烘研細）　修合密封，聽用。</p>
<p><u>金鎖匙</u>（悟真）　實火喉證不論有蛾無蛾，悉主之。</p>
<p>人中黃　人中白　西瓜霜　百草霜　乳香　沒藥　丹皮　青黛　尖貝　鬱金　硼砂　明雄　硃砂　燈芯灰（各一錢）　上冰片　熊膽（各三分）　薄荷　玉麝香（各一分）　如蛾不破者加指甲灰或急性子少許則破。</p>
<p><u>羚羊丹</u>（悟真）　統治喉痹，不論虛實邪火，楊梅丹毒。</p>
<p>羚羊角尖（銼屑）　滴乳香（去油）　尖貝　硃砂　兒茶　百草霜（五分）　冰片　麝香（各一分）　修合聽用。</p>
<p><u>元烏膏</u>（悟真）　真纏喉風，火證，寒熱互結，腫患於頸外，痛極，且麻且癢，其纏如蛇，主消腫止痛。</p>
<p>燕窠泥　鴨蛋清　稀調作糊，加人中黃　乳香　沒藥　真明雄黃　元明粉　合末再調作餅，令病者平正臥椅，上敷患處，干則數次易之。</p>
<p><u>借箸掃癰</u>（時師傅）　喉腫似蛾而更硬大者為喉癰。</p>
<p>射干（取完大者一支），以醋磨汁，綢裹箸頭，醮汁洗掃癰上，膠痰吐出自消。</p>
<p><u>玉壺冰</u>（時師傅）　喉風急痛，引火下行。年久夜壺垢刮下，瓦上炙枯，擂末吹患處。</p>
<p><u>常備丹</u>（時師傅）　風火喉痛，微腫色赤，舌胎微黃，口苦咽乾，脈細數者主之，一名元朱冰硼散，世俗通用之藥。</p>
<p><u>備急丹</u>（時師傅）　喉證取涎去火之通方。</p>
<p>臘月八日取雄豬膽一個，裝入白礬末陰乾，次年臘八再取雄豬膽入前膽末，合三次備用。此方法簡而效良，濟人者惠而不費也。</p>
<p><u>救急丹</u>（時師傅）　開關消腫，為救急通用之方。大糞缸邊糞皮瓦上焙枯為末，吹之。</p>
<p><u>單騎散</u>（時師傅）　熱結喉痹，取涎消腫。</p>
<p>苦參（一兩為末）　醋調為丸，每取一丸口含，津嚥下。</p>
<p><u>菖蒲劍</u>（時師傅）　實火挾寒喉痹，並寒熱白喉主之。</p>
<p>菖蒲（老燕節多長大者良），端陽日取此藥浸老便壺內，九日取起曬乾，曬而又浸，浸至九九期滿取起，曬乾研末聽用。</p>
<p><u>蒼耳汁</u>（時師傅）　風火蛾喉，並熱疫白喉主之。</p>
<p>生蒼耳子或嫩葉，泉水搗汁，時時嚥下。</p>
<p><u>清涼散</u>（時師傅）　主風熱喉痛。金陵黃武靖府備此濟人。</p>
<p>硼砂（三錢）　西洋參（二錢）　云連山慈菇　人中黃（各一錢）　薄荷　元明粉　西洋參葉（各七分）　梅片　兒茶　青黛（各五分）　修合備用。</p>

<h2>虛火門</h2>
<p>陰虛火浮喉痛，龍雷不安，或腫，或不腫，或甚痛，不甚痛，非蛾非風，似火非火，似疫非疫主治方略。</p>

<h3>內用服藥潛龍隊</h3>
<p><u>甘芍湯</u>（張長沙）　肝脾虛火浮燥，口苦喉干，預防蛾患。</p>
<p>生甘草（一兩），白芍（五錢），燉湯連服數劑。</p>
<p><u>豬膚湯</u>（張長沙）　少陰病下利咽痛，胸滿心煩，中焦氣虛，陰火上炎，治以甘平。</p>
<p>豬膚（一斤）　以水一斗煮取五升，去渣，加入白蜜（一升），白粉（五合，即白米粉）　熬令相得，溫分六服。</p>
<p><u>苦酒湯</u>（張長沙）　少陰病咽中傷，生瘡，疑即火癬喉之類，其熱緩，不能言語，聲不出者，苦酒湯主之。喉科以為不治之證。</p>
<p>半夏（十四枚）　雞子（一枚，去黃）　內半夏著苦酒中，以雞子殼置刀環上，微火烘，三沸去渣，少少含咽之，不瘥更作三劑。</p>
<p><u>阿膠湯</u>（張長沙）　少陰下利咽痛，治主養陰。</p>
<p>黃連（一錢）　白芍　黃芩　栝蔞霜　天花粉（各三錢）　急水煎，真阿膠（五錢）　雞子清（一個）　同調，滾藥水沖服。</p>
<p><u>風引湯</u>（張長沙）　上焦結熱，中焦濕積，下焦寒泄，故虛火生風喉痛。取金氣鎮壓清虛府，陽氣溫暖命門，虎嘯風從，龍藏云斂，如竹里彈琴，清風入座，故名風引。</p>
<p>紫石英　白石英　赤石脂　寒水石　化滑石　生石膏　生大黃　生牡蠣　生龍骨（各三錢）　乾薑　肉桂（各一錢）　諸藥同研，水煎去渣，肉桂另研，滾藥沖服，中病為度。</p>
<p><u>潛龍湯</u>（隆宣公）　虛火上炎，咽喉微痛，懸雍下垂不腫，略可硬飯，咽津則痛，失此不治，致成天空。</p>
<p>熟地（五錢）　麥冬　澤瀉　淮牛膝　附片　甘草（各三錢）　炮姜　肉桂（各一錢）　百沸湯煎，中病為度。</p>
<p><u>鎮陰煎</u>（張景岳）　陰虛於下，火炎於上，引龍歸窟，此為正兵，即潛龍湯去麥冬　炮姜主治略同。</p>
<p>熟地（五錢）　附片　澤瀉　牛膝　甘草（各三錢）　肉桂（一錢）　水煎。</p>
<p><u>地黃湯</u>（錢仲陽）　火旺陰虛，此為常備。</p>
<p>熟地　淮藥（各四錢）　丹皮　澤瀉　茯苓（各二錢）　山茱萸（一錢）</p>
<p><u>生脈散</u>（孫真人）　夏傷暑熱，舌燥喉干，主生津潤燥，斂氣消煩。</p>
<p>洋參（一錢）　麥冬（三錢）　北味（九粒）　當茶飲。</p>
<p><u>和熊丸</u>　柳公權子仲郢夜讀傷神，喉干舌苦，為天河水不下濟。郢母和熊為丸，主生津益氣。</p>
<p>人參　熊膽　麥冬　五味　琥珀　珠砂（等分）　白蠟和丸如小豆，噙咽良。</p>
<p><u>珍珠米</u>（馬伏波）　行役虛勞，喉燥，主補肺益脾，養心腎，降虛火。</p>
<p>薏苡仁　蓮子肉（各一兩）　清水煮食或加冰糖亦佳。</p>
<p><u>太極汞</u>（周濂溪）　虛火痰癆，咳嗽喀血，潮熱往來，肌肉瘦消，喉乾舌燥，久則咽痛不能食。治主補先天不足，並補養後天，俾六藏六腑精氣充盈，龍雷歸宅，然後真神坐鎮，返本回元。周子參透玄機圖太極陰陽消息之理，採草木生物之菁華，東而為汞，誠起死回生之靈藥也。煉法如左。</p>
<p>擇靜室立八卦爐一座，忌婦女窺探，雞犬汙穢。</p>
<p>真野參　北玄參　北沙參（各二兩）　生黃耆（一斤）　於朮（半斤）　生地黃　熟地黃　玉竹　枸杞　天門冬　麥門冬（各四兩）　生百合　生淮藥（各三兩）　山茱萸（一兩）。</p>
<p>共十四藥用真泉水大瓦器桑柴火熬汁去渣，另用瓦器盛之。春採新桑，夏採新荷，秋採菊花，冬採梅花，隨時採取，絞汁摻入前熬藥汁內，入銅鍋再熬，以濃為度，預備四股寶粉：雲母粉　硃砂粉　琥珀粉　珊瑚粉（各一兩）　四粉精良，另置一處，魚鰾膠　關角膠　黑驢膠　龜板膠（各四兩）　白蜜汁（半斤）　將四膠及蜜入銅鍋藥汁內溶化，即將四般寶粉入銅鍋藥汁內撓勻，收膏勿令泄氣，急收入磁瓶待用，每早晚開水沖服一大杯，精神漸長，三個月全愈。按汞藥廿四味，象廿四節氣，自取藥汁時，花汁入膠入寶粉作四樣煉法以象廿四時，用嫩桑木一尺二寸，大一寸，隨煉隨撓，合汁撓百廿杵入膠，撓百廿杵入粉，撓百廿杵，收膏時默唸乾元亨利貞，撓五杆會三百六十五度周天，收畢，撤爐焚香默禱而退。</p>
<p><u>仙鶴卵</u>（時師傅）　陰虛寒火喉痛。青殼鴨蛋煮白胡椒食之。</p>
<p><u>雙鳳卵</u>（時師傅）　脾肺虛火，咽津微痛，治主土潤金清。</p>
<p>烏雞蛋（二元）　白蠟　黃蠟（各五錢）　煮熟並食之。</p>

<h3>外用吹藥降龍隊</h3>
<p><u>熊羆丸</u>（孫真人）　詳見上實火門。</p>
<p><u>錫類散</u>（張瑞符）　詳見上實火門。</p>
<p><u>羚羊丹</u>（悟真）　詳見上實火門。</p>
<p><u>百藥煎</u>（李瀕湖）　陰火上浮咽痛，治主降火生津，並醫口舌糜爛，齒䘌牙疳。</p>
<p>五倍子（四兩）　陳茶葉（二兩）　均研末，膠酒糟四兩，同擂勻，磁器盛之，置糠缸中窨之，待發起如面狀，研作小餅曬乾，每取一顆，噙咽或清茶下。</p>
<p><u>龍珠丸</u>（悟真）　陰虛浮火，懸雍下垂，咽喉久痛，肉色瘀紫腐敗，其氣腥臭，或患成天空，鼻孔塌陷。治主生津化毒，降火安神，補先後天諸虛聖藥。龍齒火煅　雲母粉　硃砂　珊瑚粉　琥珀粉　白芨（各三錢）　象牙屑　羚羊屑　熊膽（各五分）　百草霜（一錢）　上梅片（三分）　同擂勻，黃蠟溶化為丸，每取一丸噙咽，清津勿吐，嚥下，有涎吐之。</p>
<p><u>玉鑰丹</u>（悟真）　陰火上浮，咽喉痹痛，無論久暫，主降火化瘀，安神定志。</p>
<p>牛黃　阿魏　珍珠　硃砂　乳香　珊瑚　琥珀　象牙　羚羊　熊膽（等分）　同修合，密封聽用。</p>
<p><u>兒茶膠</u>（悟真）　證治同前，稍輕者用之。主生津降火。</p>
<p>方兒茶一顆噙咽，有涎則吐之，清津降下。</p>
<p><u>雙仙果</u>（悟真）　初起虛火喉痛，主生津降火。</p>
<p>鹽青果　甘青果（各一顆）　先後噙咽，有涎吐之。</p>

<h2>熱疫門（專主白喉）</h2>
<p>白喉熱疫，初起白未見，寒熱交作，頭疼身痛似傷寒，咽喉痛有緩有急，有甚痛，有不甚痛，白既見，或由內達外，或自外入內，或一邊，或兩邊，或點，或塊，或腫，或不腫，病有輕重之殊，治有前後之異，證詳現相列表，主治方略。</p>

<h3>內用服藥肅清隊</h3>
<p><u>化毒湯</u>（洞主師）　熱疫喉病初起，微覺咽喉腫痛，懸雍下垂，尚未見白，不能辨認是否白喉，又不能竟作傷寒施治。此方專化毒祛邪。如系傷寒，亦從毒化而散。蓋賊風為病，即毒邪也。</p>
<p>粉葛　生地　銀花　貝母（各三錢）　木通　竹葉　薄荷　甘草（各二錢）　生桑葉（五皮）　急流水煎，胸前脹悶加枳殼　麥芽（各二錢）　大便秘結加栝蔞霜　郁李仁（各二錢）　小便短赤加車前（三錢）。</p>
<p><u>清金湯</u>（洞主師）　熱疫白喉證現相明白，或點或塊，或緩或急，或痛甚，或不痛甚，或腫或不腫，治主養陰保肺，清金化毒。</p>
<p>生地（一兩）　元參（八錢）　麥冬（六錢）　白芍　丹皮（各四錢）　尖貝　薄荷　甘草（各二錢）　服藥後發斑，知毒從斑化，多服而愈。胸膈脹悶加神麯　焦楂（各二錢）　小便短赤加木通　知母　澤瀉（各二錢）　大便燥急加大黃　玄明粉（各二錢）　口舌燥渴者加天門冬　馬蔸鈴（各三錢）　面赤身熱，舌胎黃者加金銀花（四錢）　連翹（三錢）　脾虛下利加茯苓　黨參（各四錢）　未服藥大便泄，本方減去半劑，加麥牙（三錢）　藿香　砂仁（各一錢）　既服藥泄不止者，本方減去半劑加黨參　茯苓（各四錢）　砂仁麥冬（各二錢）。</p>
<p><u>活命湯</u>（洞主師）　熱疫白喉重證，初起腫痛異常，白點立見，口出臭氣，眼紅聲嘶，飲水即嗆，或因延誤，勢已危急，或誤服表藥，現出敗象，非輕劑所能挽回者，此時仗龍馬威靈，降九霄甘露，潤澤焦枯，五色祥雲扶持正氣，並用悟真碧雪，立刻清涼，尤賴病家始終信從，獲吉。</p>
<p>龍膽草　馬蔸鈴　板藍根　杭白芍　栝蔞霜　生石膏（各三錢）　生地　玄參（各八錢）　梔仁　黃柏　甘草（各二錢）　日數服，渣不再煎。舌胎芒刺　譫語神昏加羚羊角磨水（二錢）　兌連翹（二錢）煎，大便秘結，胸前滿悶加川樸　枳殼（各二錢）　大便秘甚加生萊菔子　研生大黃（各二錢）　小便短赤加知母　澤瀉　車前（各二錢）</p>
<p><u>養正湯</u>（洞主師）　善後扶元，養陰淨毒。</p>
<p>生地　熟地　臺黨　淮藥　當歸　茯苓　麥冬（各三錢）　天花粉　金銀花　杭菊花　粉甘草（各二錢）　水煎，全愈為度。</p>
<p><u>兩寶四君湯</u>（洞主師）　善後扶脾、益胃氣、淨毒。</p>
<p>臺黨（五錢）　於朮　淮藥（各四錢）　金銀花　炙甘草（各二錢）　水煎</p>
<p><u>七液丹</u>（葉天士）　時瘟火毒上攻，咽喉痛、頭痛、渾身壯熱、微惡寒，二三日咽喉即爛，色紫瘀者為爛喉痧。時醫解表而熱稍退，身見斑疹，或再表而喉痛愈劇，或清降而喉痛愈劇，或清降而喉痛稍平者，猶以為表散有功，不知毒渙散攻於皮毛之間，氣分既傷，營分又病。論病源與風火喉痛蛾喉等證無異，治法異同。論現相則令人驚駭，醫藥雜投，遂至不救，緣其喉間不見白，故不名白喉而曰爛喉。目之為痧者，瘟疫之種類也。七液丹主之，列於熱疫一門，當與白喉證參治。並列於實火一門，當與風火喉參治也。</p>
<p>上滑石（十二斤，研細去腳稱准）　用粉甘草（三十兩泡湯浸漂飛淨）　以甘草湯盡為度，攤曬瓦盆內，七液不分先後，作七次傾入調勻令乾，惟柏葉須浸生藕汁中同搗乃得汁出，鮮佩蘭葉汁　鮮蘿蔔汁　鮮荷葉汁　鮮側柏嫩葉汁　鮮藿香葉汁　鮮蘇葉汁　鮮藕汁（各三十兩）　瓦器各盛之。生錦紋大黃（三十兩）　曬乾研細末，用好陳酒（二斤）　拌入候乾，然後合入製成滑石料內，磁瓶收入聽用，每服四錢，病重者不防服至六錢，或作丸如龍眼大，每服二丸，重五錢，小兒減半，孕婦不忌。修合須四五月間，遲則難於取汁。本方醫治各證及服法如左。</p>
<p>爛喉痧兼雜證，白滾湯化服，白喉現白喉未爛者，滾湯化服。</p>
<p>風火喉輕者一服，重者二服，雙單喉蛾已破未破，滾湯化服。</p>
<p>發斑發痧大熱不退，日數服，時疫熱甚，陽霍亂等證均重服。</p>
<p>紅痢用黑山梔煎濃湯化服，白痢用老生薑三片煎湯化服。</p>
<p>咽喉腫脹，稠涎閉塞，滾湯泡取濃汁，頻頻嚥下。</p>
<p>夏秋發熱，頭痛頭昏，無論因寒因暑因食，重服。</p>
<p>瘧疾單熱不寒者，用生薑，半夏等分煎湯化服。</p>
<p>目疾紅腫痛甚，羞明，眼眵膠結，杭菊花煎湯服。</p>
<p>無名腫毒外科等證，用生薑汁、老蔥汁同搗敷。</p>
<p><u>保險湯</u>（悟真）　熱疫白喉重證與活命湯條下證治相同，但藥劑苦寒，恐老幼婦女孱弱之人難受，因選用精良寶貴之品，補真陰益元氣，群邪攝服，立可回生。</p>
<p>西洋參　天竺黃　川尖貝　牡丹皮（各二錢）　羚羊汁（一錢）　真熊膽　西牛黃　飛硃砂（各二分）　灶心土（二兩，椎碎）　另煎水澄清煎藥，日數服，以病減為度，外多吹碧雪丹，此喉門第一靈藥。</p>
<p><u>保元化毒湯</u>（悟真）　稚子夏月患天干地漏，治以理中，稍愈變為白喉，白點自內達外，散布如星，舌胎芒刺，上焦實熱，下焦純寒，治主重鎮扶元。</p>
<p>洋參　天竺黃　尖貝　丹皮（各二錢）　人中黃　生地　麥冬　龍骨（各三錢）　琥珀　青黛（各一錢）　硃砂（五分）　灶心土澄清，入金銀器煎。</p>
<p><u>蒼耳湯</u>（時師傅）　白喉熱疫，鄉僻無藥者易取。</p>
<p>生蒼耳子（一升）　嫩葉亦良，煎濃湯飲之。</p>
<p><u>逐疫丹</u>（時師傅）　熱疫傳染，頭痛如劈，登時昏憒如迷，眼珠赤，吐血數口，朝發夕死，西醫稱為鼠疫，因有咽喉乾燥證，故錄之。</p>
<p>生石膏（一兩）　元參　野菊花　金銀花　連翹　丹皮（各一錢）　水煎服。預防傳染，用金銀花野菊花　粉甘草　薄荷隨時煎服。</p>

<h3>外用吹藥燙平隊</h3>
<p><u>鳳衣散</u>（洞主師）　消邪脫白，化毒除涎。</p>
<p>鳳凰衣（雛雞出殼，殼內白膜，微烘研細）　青果（瓦上焙枯存性）　川尖貝　黃柏　兒茶（各一錢）　薄荷玉（一分）　上片（二分）　修合。</p>
<p><u>瓜霜散</u>（洞主師）　證治功效同前。</p>
<p>西瓜霜（二錢）　明雄　硃砂（各五分）　人中黃　上梅片（各二分）</p>
<p>取西瓜霜法：老西瓜一個，蒂上挖一孔，裝入元明粉八兩，仰原蒂封口，用竹絡之，絡下以瓦缽承其下，懸掛屋內當風處，候瓜上霜滿，刷下，倘瓜爛水流，有瓦缽承收，取曬乾，亦良。</p>
<p><u>膽礬丹</u>（李瀕湖）　除涎開痹，降火清金。</p>
<p>鴨嘴膽礬醋調和丸，嚥下。真膽礬有效。</p>
<p><u>錫類散</u>（張瑞符）　詳見實火門。</p>
<p><u>碧雪丹</u>（悟真）　祛瘟化毒，脫白消邪，白喉聖藥。</p>
<p>人中黃（熬汁曬乾，四錢）　人中白（火煅，研末水飛，二錢）　青黛（水飛極淨曬乾，二錢）　豆硃砂（研細水飛淨，二錢）　馬勃（取灰去殼，甘草水泡透，飛淨，紙上曬乾，二錢）　金銀花（冷水泡透取汁曬乾，四錢）　元明粉（水飛，二錢）　珍珠（用豆腐煮軟，研，五分）　羚羊角（尖銼細研，二錢）　申阿魏（微火烘乾，研細，一錢）　硼砂　兒茶（研末，各一錢）　西牛黃　雄黃精　薄荷玉　上梅片（各三錢）　好麝香（二分）　依法修合，古瓷瓶密封備用。</p>
<p><u>牛黃散</u>（悟真）　化毒除涎，功效與鳳衣散同。</p>
<p>西牛黃（二分）　青黛（八分）　西瓜霜（六分）　冰片（三分）　修合。</p>
<p><u>脫白一丹</u>（時師傅）　偷油婆燒灰存性，加冰片同擂細末吹之。</p>
<p><u>脫白二丹</u>（時師傅）　白雄雞肫皮不沾水陰乾，加冰片擂，吹之。</p>

<h2>寒疫門（通治陰寒喉痹）</h2>
<p>白喉寒證初起，惡寒不發熱，或不惡寒，無頭痛身疼等證，但昏倦異常，咽喉微微作痛，懸雍下垂，可硬飯不可咽津，至喉間見白痛則增，或微腫或不腫無定也。專用扶陽消陰，辛溫逐疫，主治方略。按：此證隱備於傷寒六經法門，特喉科無人抉出，誤認為實火，十少一生。此喻氏嘉言所由立法律而正醫門之罪也。再此，喉科寒證不專為白喉立法，特因時醫談白喉證者，竟抹煞寒證，罔覺罔聞，不知陰寒喉證，無論有無白點白塊白膜之現相，但看舌胎必然灰白，肉色必然淡白，即為寒疫。而白喉寒疫之重證更瞭如指掌。或問：熱疫白喉，本時疫流行之熱毒，致成喉病，稱為疫，宜也，何以陰寒證亦稱為疫耶？曰：其人元陽虛竭，陰盛於下，客邪觸發，疫從寒化，故亦稱為疫。現相純是陰寒，治主益火之源，以消陰翳，然則治法不純用辛溫逐疫，而兼用甘溫，何也？曰：亢龍則悔，陰陽有對待之機，用陽藥而兼用陰藥者，以陰從陽，水中之火是為真火。</p>

<h3>內用服藥扶陽隊</h3>
<p><u>真武湯</u>（張長沙）　元陽內虛，寒邪外觸，白喉現相，列表可查。真武坐鎮北方，陰邪不敢內犯，俾陽長陰消，治主扶陽逐水。</p>
<p>附片（四錢）　白朮　白芍　茯苓（各三錢）　炮姜（一錢）　中病為度，原方用生薑，獨喉病改用炮姜，蓋炮姜收外越浮之火也。</p>
<p><u>附桂地黃湯</u>（張長沙）　證治同前。但此用肉桂者，助附子回陽，用熟地從附子引陰，使陰陽相抱而不相離，圖成一先天太極，元陽復而陰自順也。</p>
<p>附片（四錢）　肉桂（一錢）　熟地　淮山藥　茯苓（各三錢）　丹皮　澤瀉　山茱萸（各錢半）　中病為度。</p>
<p><u>附桂理中湯</u>（張長沙）　證治同前。但此因命門火衰不能生土，故補火兼重補中。俾母子俱能生旺而客邪自消矣。</p>
<p>附片　白朮（各三錢）　肉桂（八分）　野參　炮姜　炙甘草（各一錢）　煎。</p>
<p><u>桔梗四逆湯</u>（張長沙）　證治同前。此因寒邪遏抑，必重用姜附助陽，加桔梗開提，使邪從來路而出，此攘外安內之道也。</p>
<p>附片　桔梗（各四錢）　炮姜　炙甘草（各二錢）　中病為度。</p>
<p><u>姜附六君湯</u>（張長沙）　證治同前。此因痰嗽欲嘔，當用二陳，寒邪逐而邪自化。</p>
<p>附片　白朮　黨參　法夏　茯苓（各三錢）　陳廣皮　炙甘草　黑炮姜（各一錢）　以不欲嘔為度。</p>
<p><u>姜附四物湯</u>（張長沙）　證治同前。此因血虛患喉證，潮熱往來，日輕夜重。蓋陰寒凝結於下，而虛火上浮耳。日午發熱者同。</p>
<p>附片　生地　當歸　白芍（各三錢）　川芎　炮姜（各一錢）　加法列後：氣鬱加香附　鬱金（各一錢五分）　舌燥加知母　黃柏（各一錢）　日午發熱加丹皮　柴胡（各一錢）。</p>
<p><u>附子瀉心湯</u>（張長沙）　寒疫白喉現相畢具，下寒上熱，熱格中焦，如用辛溫，扦格不入，法主三黃瀉上焦之火，附子乘勢斬關而入，此為奇兵。</p>
<p>生大黃　黑附片（各三錢）　黃芩　黃連（各一錢）　中病即止。用八珍湯善其後。</p>
<p><u>八珍湯</u>（伊尹師）　氣血兩虛，咽喉時痛時緩，偶感客邪，只宜調和氣血，不宜過用辛散辛溫，致傷正氣。正氣內足則客邪自消。</p>
<p>野參（二錢）　於朮　茯苓　熟地　當歸　白芍　炙草（各三錢）　川芎（一錢）</p>
<p><u>補中益氣湯</u>（李東垣）　證治同前。此因中氣虛偶患喉病，懸雍下垂，舌胎及肉色灰白而薄，治主補中氣。氣盛則邪去矣。</p>
<p>黃耆（四錢）　於生術　白當歸（各三錢）　白芍　炙甘草（各二錢）　野參　陳皮　升麻　柴胡（各錢半）　日一劑，全愈為度。</p>
<p><u>理陰煎</u>（張景岳）　證治同前，此則陰陽並進一小隊。</p>
<p>熟地　當歸（各三錢）　炮姜　肉桂　甘草（各一錢）</p>
<p><u>鎮陰煎</u>（張景岳）　詳見虛火門。</p>
<p><u>乾坤再造丸</u>（悟真）　氣血大虛，由命門火衰，不能上生脾土，腎水竭不能養肝，肝虛生風以陵土，土弱積濕，風濕為患，清陽不升，濁陰不降，穀食不化氣而化痰，因痰而咳，損肺金，金破音嘶，此喉病之所由起。治主大補真精，重扶元氣，名為再造，力可迴天也。</p>
<p>黃耆（八兩）　生於術　黨參（各四兩）　枸杞　肉蓯蓉　麥冬　熟地　附片　關鹿膠（各二兩）　乾薑　故紙（各一兩）　肉桂　五味（各二錢）　諸藥合末，鹿膠用甜酒蒸化，併入白蜜和丸，每早晚開水吞三錢，服一料則元陽真精大復，再服一料精神倍長，多服延年，此方為少年房勞過度傷精，士人苦志傷神，婦女憂思傷氣，精氣神三寶受傷致病者准此。</p>

<h3>外用吹藥消陰隊</h3>
<p><u>斬關丸</u>（朱丹溪）　詳見實火門。寒熱互結者借用之。</p>
<p><u>陽和丹</u>（悟真）　消陰化毒。</p>
<p>上桂　硼砂　殭蠶　冰片　硃砂（等分）</p>
<p><u>九龍丹</u>（悟真）　真龍下降、陽長陰消、化毒生津靈室。</p>
<p>上桂　乳香　沒藥　白蔻　硼砂　冰片　麝香　建菖蒲　薄荷玉　修合備用。</p>
<p><u>仙鶴卵</u>（時師傅）　詳見虛火門。</p>
<p><u>單騎丹</u>（時師傅）　解陰凝最捷，芯芨一支，口含津嚥下。</p>
<p><u>回陽膏</u>（時師傅）　寒凝肢厥，用膏貼湧泉穴，見穴表。</p>
<p>吳萸　川椒　生附子合搗為膏，乘熱敷，冷則再換。</p>
<p><u>蒜泥法</u>（時師傅）　寒結喉痛，蒜頭搗如泥，敷經渠穴，詳穴表。</p>
<p><u>如意油</u>（經驗方）　化涎痰、逐穢惡、消寒結，滴入開水內飲之。</p>
<p><u>薄荷玉</u>（經驗方）　時時嗅之，能逐惡邪，或滴入開水內飲之。如意油、薄荷玉由粵東制者良，勿誤作西藥。</p>
<p><u>安期棗</u>（經驗方）　化痰逐惡，止咳嗽，利咽喉。</p>
<p>生薑自然汁和白蜜熬煉，滴水成珠，捻作棗形，口含溶嚥下。</p>

<h3>祝由科治喉神符式</h3>
<p>通治喉痹危險。</p>
<p>黃表紙長九寸，寬五寸，硃筆一枝，焚香祝曰：天圓地方，律令九章，捻筆在手，萬病除殃，吾奉軒轅帝祖急急如律令敕，祝三遍畢，香薰紙筆，書：⿱⿳⿻北丨冖廿⿰飠己</p>
<p>燒灰，薄荷煎湯吞下。</p>
<p>咽喉腫痛雙單蛾符式。</p>
<p>朱書祝詞如前儀。</p>
<p>和燈芯燒灰，開水沖服。</p>
<p>軒轅將印，進食神符最尊重衛生綱領，祝書如前儀。燒灰入稀粥進食。</p>
<p>蓋聞天地好生，建中和以錫極，帝王出治，贊化育以調元。心法創自中天，啟精一危微之蘊。方書傳於上世，發《靈樞》素問之奇。救困扶衰，壽身即能壽世，致知格物，盡己而後盡人，是故治劇理煩，為醫等於為國。通權達變，用藥猶乎用兵。元首明則股肱耳目各效其官，天君泰，斯心腹腎腸同歸於治。所以功參造化，溫平寒熱，運用存乎一心。學究天人，浮數遲沉經常准諸六脈，豈非燮陰陽之妙理。直與良相齊名，操攻伐之微權，不愧元戎司命也哉！今夫萬物各以類從，同氣相求，有五行即有五味，蒸民原於天賦，秉彝攸好，有七政即有七情，體象成形，河出馬，洛出龜，圖書既分八卦，流濕就燥。云從龍，風從虎，水火併列，三才魚躍鳶飛。呼吸直通於上下，天精地血生成，實運以樞機。然而混沌初分，元黃或虞乎野戰，綱蘊既散，營衛或至於陵遲。而且寒暑遞遷，主氣相乘，客氣居諸迭運，小年不及大年，志欲老安少懷，功惟補偏救弊，原夫神農嘗草三百六十五種，度法周天。仲景明經一百一十三方，春回大地。君臣佐使，大功亮而庶績咸熙。酸鹹苦辛，地利興而洪疇衍福，雖勿藥有喜。秉珪植壁，風雷感壇墠之誠而厥疾弗瘳，固圍攻堅，草木備干城之選，州都順則無慮乎恫瘝，倉廩充斯不勞於轉運，而況行謀專閫，將軍昭果斷之才，布化宣猷，傳導著和平之政。有不四支交暢，六府孔修者乎？是以汗吐下和，通後甲先庚之數，晦明風雨，探陽升陰降之原。自不至叢脞生憂，豈惟是歡虞小補，既操仁術，悉暢天機，為庶匯善，陶成太和，翔洽乎宇宙，為扶與除疾癘，元氣鼓盪乎寰區。法面蘖之經綸，乘時佐理，調鹽梅之鼎鼐，思日贊襄。伏惟健體乾行，美符坤順，情殷赤子，保天下於熙和，澤潤蒼生，登斯民於仁壽，葛籠春暖，杏花發泗水之祥，社天長芝草，獻商山之瑞，豈不懿歟！</p>

<h3>附鼠疫辨正論異</h3>
<p>庚戍之歲，自冬祖春，關東鼠疫流行，駸駸乎有南下之勢與，有地方之責者，莫不痌癏急切，急謀補救之方，第事勢既落於日俄權力之場，不得不出重金聘請東西洋醫為主，雖選有中醫，一聽其指揮，不得於鼠疫之外別贊一詞，此鼠疫之說所由遍於寰中也。至其藉端訛索，禁絕交通，阻抑公文，增兵保護，種種情形，固有知機之士早燭其奸者，勿俟鄙人贅述，竊以此種災殃，要以醫藥救療為上策，糞除惡濁為中策，檢察預防為下策，禁絕交通為無策，請申其說，言鼠疫者大都謂此毒由腐鼠而生似也。乃歡百斯篤三字譯音，或曰為黑死證，或曰傳漿之法可以減輕。夫黑死證者，據中醫即黑痧烏痧等證是也，漿減輕者，即天花之痘苗也。是就百斯篤譯音而論，不專指鼠毒言也。明矣。按：疫字從殳者，役也。有負重役使之義焉，指病之傳染言也。古人凡字加人旁者，各肖其病狀也。是故諸疫者厲氣之變端，厲氣者，諸疫之總稱爾。其要有七：一曰中惡，猝然昏倒，不省人事也。二曰烏痧，遍身黑暗，四肢厥冷也。三曰霍亂，吐瀉交作，身熱汗出也。四曰血痢，肚腹脹痛，大便膿血也。五曰白喉，纏喉急痹，毒邪上壅也。六曰自行天花，痘漿不起，毒邪內潰也。七曰楊梅結毒，或因花柳為殃，或因腐鼠失察也。原厲氣所由起，則凡深山大澤、名城巨鎮，毒蛇惡畜之遺屍，殺狗屠牛之慘劇，一遇陰風亢旱，皆足化而為厲，自空氣中隨風飄蕩，若有若無，魚在水中不見水，人在塵中不見塵以是知諸惡厲氣致病，不止腐鼠一端。是即西醫考驗黴菌之理由歟。顧種種惡毒，猶有百倍於鳥獸蟲魚者，果何因而至乎？曰：殺伐之氣愈釀而愈厚，愈積而愈深耳。或數年，或數十年而一發，遲速不同，輕重亦異，治療有難易，傳染有淺深，與鳥魯蟲魚之腐敗而合勘之，鳴呼，慘巳。朔自毒霧漫天，黃帝之《針經》而始著牧宮造戰，伊尹之湯液所由傳，姜太公作白虎青龍，軍中治疫，武鄉侯合丹砂、赤箭，瘴地驅瘟。夫三代明良不得已救民伐暴而血流漂杵，遂釀成惡氣沖天，「盡信書不如無書」，孟子此言止殺也。蓋戰國七雄倡亂，動輒以數十萬眾交鋒，死亡不可勝計。逮項羽坑秦降卒，屠戮咸陽，至垓下喪師，遍野屍橫，不下百萬。況夫赤壁之火，攻五胡之烽煙，黃巢之血刃，殺人如麻，大兵之後必有凶年。夫凶年者，不專指水旱，凡瘟疫夭札皆是。故兵災過後，疫即隨之，古語可徵也。宋寶割地求和而韓岳恢復中原，北軍頭風而靡，似乎兵災較省，然元祖征服西歐，又一大戰，軍人染疫，身死磨盤，歐亞之瘟疫流行，則自東而西自西而東，豈有疆域之限哉？明末闖獻之亂，屍積如山，屠戮之慘，無過於斯，惡臭之氣上通於天，而無出路迄康熙平滇藩，吳三桂兵敗衡州，身死於疫，流行數省。乾隆中，漢淮又大疫。同治三年，曾忠襄克復金陵之後，連後瘟疫，田廬荒蕪，十餘年乃定。光緒乙未，湘省旱疫大災，巡撫吳公方以勤王兵自牛莊敗還，召仁賢修合丹丸，活人無算，近日聯軍構禍，日俄爭鋒，殺氣飛騰，猶然在目。顧自環海交通，輪舟鐵軌，電掣風馳，磷火煤煙，干霄蔽日，又況黃霾赤霧，加以血雨腥風，主氣陵夷，客邪暴勝，固造化陰陽之自作，亦天時人事之交推，立為方藥，挽救來茲，當議上策；糞除惡濁，家喻戶曉，當議中策；檢察預防，慎重交涉，當議下策。若夫禁絕交通，弱肉強食之謂也，弭兵息戰，歌舞升不之世也。愚以謂醫道至精至微至大，農黃以下，世有扁、倉、仲、聖門牆，代生明哲，中國內外醫書，西人蓋未嘗夢見，今反謂中醫不如西藥者，無考究醫科之主司，而中醫之淺陋荒唐日甚一日，使西醫得以售其技倆耳。至此不悟，將西醫充塞，性命泥沙，中學變遷，消沉海底，豈不痛哉？伏查本年辛亥歲氣，風木煽動，東南燥金潛移西北，當有兵災，惟主理陰陽有良相，調和血氣有良醫，尤賴當軸選拔良材，培持國脈，誠萬年有道之隆也。</p>
<p>江南巡警總監評曰：摺冊均悉，該醫學所論各節，具見平日博覽群書，融會諸說，非略識醫學門徑者所能道及，且用意皆以中醫為根本，以西藥為補助，尤微卓識，至所呈各條，請頒發研究，所評議定斷之處，候開會時再行酌辨。</p>
