<header data-type="book">
<h1>漢藥良劣鑑別法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>一色直太郎</data></dd></div>
<div><dt>底本</dt><dd>收錄於《<a href="../../help/reference.html#other">皇漢醫學叢書</a>》第十四冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年。</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>近時和漢藥之研究熱大盛。上之最高學府之諸大教授。下至一介業藥之夫。莫不孳孳焉從事於此。而對於餘十餘年前所著之和漢藥良否鑑別法及調製法一書。再四促余再刊。因利用寸晷之暇。從事增訂。本年四月。漸次成稿。較諸前版。增加品目百七十。紙數百三十五。雖尚未脫小冊子之領域。而易於領會其要領。不無較龐大之書籍為優。此則大堪注意之事。即如其他三品、五味、相畏、相惡、相反、十劑等難解事項。亦一見便明。自信有裨於斯業者不鮮少云。</p>
<p><u>昭和四年六月一色直太郎志</u></p>

<h1>凡例</h1>
<p>一本書供日常業務繁劇者之瀏覽。使其對於藥物。一見即能鑑別其良否真贗。而得舉其特徵。且明瞭其調製之法。非所以供高雅明達者之參考。故語言不避卑俗。行文不忌口語。</p>
<p>二本書大別為總論各論二編。總論述鑑別調製等必要事項之心得。各論為鑑別法　憑作者平日之實驗外。並引用許多書籍。參酌適宜而排比之。且注意適宜於現代之藥業界。至於調製方法。則除略略參酌成書外。以編者之實驗為多。</p>
<p>三品目之排列。依日本字音排列之。</p>
<p>四藥品以現今市場一般通用之名稱為限。</p>
<p>五卷未詳述和漢藥之調合法及三品、君臣、佐使、五味、六陳、八新、禁忌、七情、十劑等皇漢藥學研究上必要之事項。以資參考。</p>
<p>六本書初版中。曾列記指正諸公之臺銜。為小泉榮次郎氏。並和藥嘉兵衛氏。世良田龜次郎氏。中井德藏氏。前川武義氏。西村小兵衛氏。阪田嘉兵衛氏諸先生之芳名。茲再舉諸氏姓名。以示深深感謝之意。</p>
<p>七本書初版中所有遺漏及錯誤之處。今悉已改正。惟仍難保其不無錯誤遺漏。當於改版時再行訂正。</p>
<p>八本書不能附加處方式例。殊為遺憾。然目下美歐藥報社因應時代之需要。連日登載漢洋比較處方。將每一次之服量、藥劑之作用、記述甚詳。讀者可以隨時參考。無唐本書之贅述矣。</p>
<p>（陳存仁按。原書尚有日本藥如又度。萬貞鹿。山歸來等藥品。今因無關中國醫藥家之應用。故概行刪去。）</p>

<h1>緒言</h1>
<p>鑑別漢藥之良否。甚屬困難。非精通關於生藥上之智識後。不能正確區別其良劣。鑑定其真偽。判斷其新陳。確定其價值昂廉。本書備日常從事於繁劇業務之人。得有具體之智識。僅就形狀、色澤、香氣等次。俾一經過目。即能區別其藥品之良與不良。而記述之大旨。亦祗以用如何之方法細銼。如何之形狀。系如何之調製。服用之後。對於患者生如何之快感為度。至於化學的鑑別法　則應讓諸專門書籍。悉從省略也。</p>
<p>漢藥良否之鑑別。昔陶弘景於本草序例中曾言之矣。其大意謂。</p>
<p>眾醫都不識藥。惟聽市人。市人又不辨究。皆委諸採送之家。採送之家傳習造作。真偽好惡。並皆莫測。所以細辛水漬使直。黃蓍蜜蒸為甜。當歸酒灑取潤。螵蛸膠著於桑枝。皆非所宜。俗用既久。轉以成法。非復可改。末如之何。又泡製切片。儘量剝除。如遠志牡丹。僅取其半。地黃門冬。三分耗一。凡去皮除心之屬。分量皆不復相應。病家惟依此用。不知更秤取足。誠有慨乎言之也。</p>
<p>至言鑑別之要點。則有四端。曰形狀、色澤、香味、乾溼度是也。</p>
<p>一、形狀　凡物各依其種類而具特有之形狀。吾人一見其特徵如何。即可判為何物。且同一物也。因其肥瘠、大小。長短、及有無蟲蝕、形態之完全與不完全等。亦即能評定其品位之差等焉。總之觀察形狀。此為鑑別漢藥良否之第一條件。</p>
<p>二、色澤　色澤之良否。有關於新陳之時效。成熟之程度。採集及貯藏方法之當與不當。此中有大相懸殊之點。不可忽視。</p>
<p>三、香味　香味之有無與夫香味之良與不良。亦可以斷定新陳之程度及貯藏方法之當不當。而為確定其品位必要之事項。</p>
<p>四、乾溼度　乾燥不足。則減其貯藏之時效。因含有濕氣。則易生黴。或曾黴過者也。此層亦宜注意。</p>

<h1>威靈仙</h1>
<p>鑑別法　有草本威靈仙與鐵腳威靈仙二種。在宋時採草本威靈仙為藥用。元明以後。則採鐵腳威靈仙為藥用矣。鐵腳威靈仙之生者。呈帶黃黑色。干則呈深黑色。其根細而長。色相黑而不帶土氣者為佳。王藎臣群芳譜云。有稜葉。似柳葉。作層。每層有七葉如車輪。有三層至七層者。</p>
<p>調製法　水中洗過。入於籠中。放置一小時許。使得水氣而軟。就木板切之。</p>

<h1>伊豆縮砂</h1>
<p>鑑別法　外面灰白色。內部呈白色。香氣強者為新貨。佳。</p>
<p>調製法　不必成粉。兩次切之。</p>

<h1>硫黃</h1>
<p>鑑別法　硫黃有鷹眼（石硫黃、）鸕鷀（石硫赤、）火口（石硫青）三種。鷹眼者呈鮮黃色。鸕鷀呈黃色。微帶紅。均系藥用上品。有光澤者為佳。火口用以引點燭火。系屬下品。亦有青口與黃口二種。青口之價稍昂。</p>
<p>調製法　藥用者。以鷹眼硫黃研細。以水調之。</p>

<h1>萎蕤</h1>
<p>鑑別法　如竹節人參之形狀。淡黃色半透映之角質狀。味甘而潤者為新貨。大者為佳。如地黃狀之黃精。帶暗黑色或蟲蝕者不可用。</p>
<p>調製法　在火上熏軟。就木板切之。</p>

<h1>蝟皮</h1>
<p>鑑別法　表面呈褐色。裡面呈白色之毛皮。從前偽品甚多。宜就毛端之分歧而選定之。</p>
<p>調製法　炒黑。就藥研中研為粉末。</p>

<h1>茵陳</h1>
<p>鑑別法　葉極細如絲。故名綿茵陳。陰乾後。呈青色者為貴。市中所賣之品。往往有結微小之子實或穗者。次貨也。</p>
<p>調製法　注意除去藁屑等之混入物。始可為藥用。</p>

<h1>淫羊霍</h1>
<p>鑑別法　色青新。有葉者為上。</p>
<p>調製法　用水儘量浸之。待其軟。就木板切之。</p>

<h1>露蜂房</h1>
<p>鑑別法　野蜂之窠。其形甚大。表面呈黃與黑色。有紋。多受雨露者為佳。</p>
<p>調製法　碎後用之。或用兩手捋碎之。</p>

<h1>鹿角</h1>
<p>鑑別法　淡褐色而小者為佳。</p>
<p>調製法　儘量銼為細末。或用火燒後。濾為粉。使用之。</p>

<h1>鹿角膠</h1>
<p>鑑別法　無色透映或半透映之薄片。表面現籠眼狀。而不帶不快之臭味者為上。</p>
<p>調製法　與調製之法同。</p>

<h1>鹿胎子</h1>
<p>鑑別法　每匹約價十五六元。偽貨甚多。真正之物。腳長。蹄如牛蹄。細視便知。普通之偽物。大抵捕剝鼠皮。就日光中乾燥後。長貯於少蟲之處。或以豚。制偽物。惟其腳短。又有用山羊製為偽物者。惟前腳短。骨粗大。亦易於看破。</p>
<p>調製法　燒為黑灰用之。</p>

<h1>鹿茸</h1>
<p>鑑別法　小而輕。且松疏者為良品。</p>
<p>調製法　燃火燒之。去其毛茸。就木板切之。棄其根元之堅者為上。</p>

<h1>爐甘石</h1>
<p>鑑別法　色白而軟。且身分輕者為上。如微有色素。或帶破碎。內部見紅色者。下品也。呈泡狀者。貨品最佳。此物有如浮石。色白而軟。故又稱為羊腦爐甘。其次者如茶碗狀。稍稍堅硬。微白而帶紅。狀扁平若片。稱為片子爐甘。劣品則如石狀。質極堅硬。色相呈淡白色。形狀亦不一。</p>
<p>調製法　將爐甘石燒之使赤。浸於童便中。再取出就火燒之使赤。再浸於童便中。如此反覆數次。就乳缽中用水溶之。最後盛於平底之器內。上覆以紙。就日光中曬乾之。</p>

<h1>綠礬</h1>
<p>鑑別法　未經酸化而呈青綠色。形如紺者為上品。呈黃綠色或黃赤色。如罐頭物品者下品也。入袋宜當心。紙袋易腐蝕。</p>
<p>以綠礬燒之使赤。便成絳礬。</p>
<p>調製法　不用醋。爆於日光中。曬乾後。入土製之器物中。火燒之。使赤。有頃取出。研粉用之。</p>

<h1>綠青</h1>
<p>鑑別法　藥用之綠青。系產自天然之石綠青。含有鹽基性炭酸銅。故單呼為綠青。色淡而不碎。呈黑綠色。塊狀者為佳。其中粗末為最上。較細之末次之。極細微者又次之。又有人工之奈良綠青。一名銅綠。此係無鹽基性醋酸銅混用之物。</p>
<p>調製法　用乳缽研細。水溶之。</p>

<h1>蘆薈</h1>
<p>鑑別法　色黑而有光澤。肌細質堅。澀而苦者。上品也。赤而重如鐵渣。成大塊者無用。</p>
<p>調製法　蘆薈之燒法。以碎蘆薈入於與蘆薈同樣大之炮烙二枚之中。不使氣泄。接合處。塗以薄土。干後。於炭火之上。敷以厚米糠。中埋炮烙。火從糠上徐徐燒之。待其米糠燒盡。取出冷之。揭開炮烙。取出蘆薈。碎而使用之。燒蘆薈之燃料。如不用米糠。必帶不快之臭味。此層須要注意。</p>

<h1>蘆根</h1>
<p>鑑別法　不甚大之蘆葦。取其土中白色之根。以不陳久者為上。</p>
<p>調製法　以水潤之。就木板切之。</p>

<h1>貝母</h1>
<p>鑑別法　形似貝。外面色白。裡面呈黃褐色。小者為上。如形大而帶膩臭。及身輕者。無用。</p>
<p>調製法　浸於水中。使軟。用小刀切為小三角塊。或就木板切之。</p>

<h1>巴戟天</h1>
<p>鑑別法　有肉巴戟天與括巴戟天二種。肉巴戟天。打碎去其木心。取出之。肉厚而味甘。且帶潤者為良。括巴戟天連絡如數珠。味澀。皮部厚而色黑者為良。倘形狀如棒。而無連珠形態者。味雖澀。亦屬下品。</p>
<p>調製法　浸於酒中一夜。軟後去其木心。就木板切之。</p>

<h1>馬鞭草</h1>
<p>鑑別法　採於舊曆六月左右。就日光中曬乾之。有葉與穗而帶新之色澤者為良。</p>
<p>調製法　儘量壓榨切之。</p>

<h1>巴豆</h1>
<p>鑑別法　有辛烈之味。油分多而身重。有新之色澤者為上品。投入水中。毫不浮起。</p>
<p>調製法　除去殼（子殼）膜（子衣）心（芽胎。）包以兩三層之白紙。用棒搗之。使油分吸入於紙。更換以新紙。再搗之。使油分已少。入於炮烙中炒之。研為粉末使用。</p>

<h1>破故紙</h1>
<p>鑑別法　色黑而香氣高者上品也。</p>
<p>調製法　浸於酒中一夜。就日光中乾燥後。炒用之。</p>

<h1>防己</h1>
<p>鑑別法　根之形狀似木通。皮粗。外部呈黑灰色。橫切面有菊花狀之紋理。內部呈黃褐色者。真品也。莖曰木防己。外皮呈灰色。內部呈淡黃色。此為其區別之點。惟其橫切面亦有菊花紋理。故欲辨識莖根。僅色素上之區別耳。</p>
<p>調製法　切斷用之。</p>

<h1>防風</h1>
<p>鑑別法　種類甚多。外面呈淡黃色。內部完善。根大如指。長一尺六七寸。味甘潤者。良品也。日本江戶防風。或稱真防風。其根少有屈曲之致。長約六七寸。呈黃褐色。稍帶苦味。此因產於砂石土地之故。又有名伊吹防風者。形如鼠尾。長五六寸。又因其類似廢筆。坊間亦有稱為筆防風者。此外尚五鳥防風。肥胖如獨活。皮粗可削。故稱削防風。又有濱防風者。形狀類似普通防風。呈淡褐色。味淡。從前常用之。</p>
<p>調製法　浸於水中十五分鐘。取出入籠。暫時放置。切之。厚約二分。就日光乾燥之。水浸十五分鐘。待軟化後。再切之。</p>

<h1>茅根</h1>
<p>鑑別法　色白而長直者良品也。帶黃色者不良。</p>
<p>調製法　切之要不失其光澤。普通投入水中。立即取出。滴去水分。暫時放置後。切成二三分長之物。欲其不黴。宜就日光中充分曬乾之。</p>

<h1>白扁豆</h1>
<p>鑑別法　色白而實大且重者為良。</p>
<p>調製法　浸於水中。去皮。干於日中。少少炒而用之。</p>

<h1>白頭翁</h1>
<p>鑑別法　形狀似桔梗。在褐色之蘆頭上多白毛者為上。惟內部腐朽者無用。</p>
<p>調製法　水中洗過。放置一小時。達切之機會時。就木板或椹上切為小角塊。又在未浸水以前。亦可以用火熏之。</p>

<h1>白花蛇</h1>
<p>鑑別法　脊部有白四角形之方勝紋。腹面有圖形之念珠紋。紋理鮮明。首尾俱完備者上品也。除其內臟。頭卷在中心圓座。成一圓卷而乾者。稱之曰平樣。不除內臟。亦不圓者曰圓樣。</p>
<p>調製法　酒浸二三日。軟後取出。去骨。陰乾之。</p>

<h1>薄荷葉</h1>
<p>鑑別法　葉色青青。香氣甚佳。大而多者為佳。</p>
<p>調製法　在綺麗之席上。將薄荷葉一束一束敷置之。以噴霧器如露輕輕沾之。待其濕潤後。以木板切之。其中應慎防藁屑之混入。</p>

<h1>麥芽</h1>
<p>鑑別法　色澤新鮮。有微香者為上。色古而覺有臭味。且有蟲蝕者無用。</p>
<p>調製法　炒後。芽粉碎者篩除之。而余其不斷者。入於淺之袋中。飛散其皮膜而使用之。</p>

<h1>蛤貝</h1>
<p>鑑別法　蛤貝昔稱文蛤。大一二寸。外側面有斑紋者為上。我漢法醫好用為文蛤湯。倘斑紋不顯明或全無斑紋者。效力極劣。然用於藥用者亦不少焉。</p>
<p>調製法　石臼搗碎。供配伍之用。</p>
<p>蛤貝有大有小。大者一米袋中。適容貝數一千。名曰千貝。小者一袋可容二千。稱二千貝。又有五錢貝者。即每一蛤貝。重量約計五錢之謂。此可以為膏藥煉藥之用。</p>

<h1>馬錢子</h1>
<p>（番木鱉）</p>
<p>鑑別法　淡灰黃色之光澤。圓板狀之大粒者為上。</p>
<p>調製法　埋於熱灰中。以粗皮研細為粉。</p>

<h1>斑蝥</h1>
<p>（斑貓）</p>
<p>鑑別法　中國產者。形大。長一寸。闊三分。全身之黑翅鞘上。有茶褐色與黑色之斑點。原系毒物。日本產者形小似螢。長七八分。雌者大而雄者小。翅鞘有黃色與紅色之斑點。擇其大而新。且不碎者為上。</p>
<p>調製法　研粉用之。</p>

<h1>半夏</h1>
<p>鑑別法　粒大而圓。色白。皮純淨者。佳品也。質硬。皮呈褐色者下品也。其帶赤色或黑色者。大抵系腐過者。</p>
<p>調製法　浸於水內。夏令三小時。冬令一夜。待其水氣已入內部。取出之。置於籠中。俟其外面已干。以右手執小刀。左手持半夏。以拇指之指尖爪為加減。切為薄薄之圓板狀。就日光中曬乾之。半夏系「六陳」之一。以用陳品為上。昔人非經三年。決不使用。半夏曲是用生半夏洗淨土氣。更在熱湯中洗滌六七次。去其黏滑之物。入於臼中。加生薑十分之一。以去其土氣。搗合為扁板狀。經過一二晝夜。然後就日光中曬乾貯之。</p>
<p>處方之藥味中尚有一種「半夏薑湯泡」者。即以半夏入薑湯中泡之是也。</p>

<h1>乳香</h1>
<p>鑑別法　淡黃色透明體。圓之粒狀。似玉似乳頭者良品也。色褐而形如不整之塊狀者下品也。</p>
<p>調製法　用藥研細碎用之。</p>
<p>煎藥可用其碎者。練藥。散藥。丸藥等。可用其粉末。稍稍炒用之。</p>

<h1>肉豆蔻</h1>
<p>鑑別法　外面淡褐色。呈卵圓形。若橫斷之。其中可見大理石狀之褐色紋理。其實質白而大。且重。未經蟲食者為上。又長形之物亦好。</p>
<p>調製法　火後切之。昔時調製之法。是用紙包裹。一度浸入水中。榨去其水氣。埋於熱灰中。炮碎用之。亦有用小麥粉和醋塗於肉豆蔻外面。入於炭火中煨之。頃之。取出。去其所塗之小麥粉。乘溫碎粉用者。（亦有冷後碎之者。）</p>

<h1>肉桂</h1>
<p>鑑別法　皮厚重。里多紫赤色之油分。味辛甘。稍稍有香氣者。佳品也。裡面帶黑味。或帶朽狀。無辛味者無用。皮雖薄而色相甚佳。辛味強者。亦可用。</p>
<p>調製法　以火炙之。吹出其油分。然後就木板切之。</p>

<h1>肉蓯蓉</h1>
<p>鑑別法　肥大而軟者為上。舶來之物。曾用鹽漬。如系白色或呈紅黃色者。上品也。黑色者。下品也。</p>

<h1>忍冬</h1>
<p>鑑別法　其色青青。而有新氣者為上。其主以用莖為正當。葉則亦可使用。然在今日。則大抵將葉與莖並用一處焉。</p>
<p>調製法　就原產地切碎用之。</p>

<h1>人中白</h1>
<p>鑑別法　小便所滴瀝而成之白塊。曬過二三年者為上。</p>
<p>調製法　就瓦上燒煏為灰。成粉。</p>

<h1>人中黃</h1>
<p>製法　將竹筒除去其皮。入甘草末於其中。塞其兩頭之口。冬令投入糞缸。立春取出。清水洗其外表。懸掛於通風日蔭之處。待其干後。取出甘草末。曝於日光中。干之。</p>

<h1>人參</h1>
<p>鑑別法　黃色而呈潤澤。形如紡錘。身份甚重者。上等品也。細而硬。或色白如新物者。劣品也。參鬚系參之鬚根。集於一處者。以嵩高而無粉屑者為上。斷人參系小參之碎斷品。集於一處者。此宜視其大小而定其高下。又有高麗參者。分淡黃白色之白參與半透映飴褐色之紅參二種。其形如一株直立之桔梗。亦有紡錘形者。亦有中部肥胖者。其品質分上品、中品、下品、普通品四種。（日本人分為元品、特天、甲乙、並甲乙四種）每一品中。更分為上下二品。合為八品。分兩重者價值昂。分量輕者價值廉。其分類法白參每六兩中。量重者二十枚。順次而下為三十枚、四十枚、五十枚、六十枚、八十枚、一百枚、百二十枚、最細者百四十枚。計共十種。紅參每六兩中最重者二十枚。順次而下為三十枚、四十枚、五十枚、六十枚。白參之原料。比紅參為良。故若價廉之白參。必系變態物。廣東人參有芍藥狀、人形狀、圓狀三種。現今之參。大抵如芍藥狀。外部呈灰褐色。中部大。兩端細而長。日本御種人參。如桔梗狀者。分宇記、宙記、天記、鳳記、仁記、義記、禮記、智記、信記、順記十種。肥胖者分春記、夏記、秋記、冬記四種。均所以區別其品之高下。示其價之廉昂也。</p>
<p>善處人參者。必貯以錫罐。密封其口。則色相好而不失其潤。其貯於袋中者。往往因接觸大氣。變為硬質。枯而不潤。且易為蟲蝕。故貯袋之參。為防蟲蝕計。不得不加樟腦。</p>
<p>調製法　火炙就木板切之。</p>
<p>本草綱目啟蒙圖譜云。</p>
<p>人參　分朝鮮、漢、和三品、而以朝鮮為上。其形不拘大小。色如飴。肉透徹潤。實味甘。微帶苦。嘗後餘味甚真。參之分類為</p>
<p>孩兒參　有雌雄之形態。面目俱備。</p>
<p>單參　形圓。中無碎小之根。細長可插入蘆頭。</p>
<p>單參鬚</p>
<p>掗扒　根之末端。</p>
<p>白梢　皮白。肉潔白如粉。味甚甘。</p>
<p>掗扒　尾部不屈之物。</p>
<p>肉段</p>
<p>頭段</p>
<p>梢段　斷參之末尾。下品人參也。</p>
<p>廣東人參　即芍藥狀或人形狀。根圓。</p>
<p>竹節人參　橫根如竹鞭。</p>
<p>圓根人參　白色有臊氣。味至苦。</p>
<p>竹節人參鬚</p>
<p>直根人參</p>
<p>御種人參</p>

<h1>蒲黃</h1>
<p>鑑別法　微有特異之臭。全質一體呈深黃色者。為最佳。物若惡物則色相甚淡。或濃淡不均。令人望之而生嫌。</p>
<p>調製法　使用生者。宜篩去其塵垢。補血止血用者宜炒。</p>

<h1>牡丹皮</h1>
<p>鑑別法　從秋至冬之根。除其木心而干之。外面呈赤褐色。內部呈淡紅色。香氣強。大而長者為上。</p>
<p>調製法　水浸二三小時。取出後。切為一二分厚。鋪於席上就日光中曬乾之。</p>

<h1>牡蠣</h1>
<p>鑑別法　粗大之殼碎之。其呈灰褐色者名鼠牡蠣。白色者名白牡蠣。以新者為上。</p>
<p>調製法　再在石臼中搗之。使粗大之物粉碎。篩去其粉末。再除去其大塊。而用其直徑約二三分之不整形之碎片。用其粉末者。則可儘量搗舂。或用火燒後以水注之。</p>

<h1>硼砂</h1>
<p>鑑別法　白色透明之大結晶品。上品也。此白硼砂與透明硼砂。自昔本系藥用。今則藥局方面。大體不用。而用帶暗青色呈蠟狀之物。此種硼砂。實系劣品。祗可用為接合金屬。於藥無效也。</p>

<h1>芒硝</h1>
<p>鑑別法　其名稱依形狀及精粗而異。其未精練者。混有塵埃及土質。呈黃白色之粗樸塊。曰朴硝。一稱灰芒硝。朴硝一斤。加清水一升。煮後再行結晶。此係精品。大者如稜柱狀。名曰馬牙硝。或稱英硝。其細如芒針。而結晶者。曰芒硝。其凝結於器底之結晶塊謂之盆硝。置於風之流通所在。風化後而成白粉者曰風化硝。朴硝者芒硝馬牙硝之總稱也。</p>
<p>調製法　結晶之物。可以配劑。</p>
<p>煎劑之處方中所用之芒硝。其初須先將他藥煎煮。就其濾液中再加芒硝。更行煎煮。沸騰後。服用之。</p>

<h1>萹蓄</h1>
<p>鑑別法　葉與莖而無土氣與根。且色澤新者為佳。</p>
<p>調製法　就木板切之。</p>

<h1>土鱉甲</h1>
<p>鑑別法　大須有四寸許。甲黑而有光澤。內面白色。處處現有乾血之汙點而色澤新者為上。有種下等之品。甲面往往塗以黑墨。更塗以他種動物之血。此係無用之品。宜十分注意。</p>
<p>調製法　火炙角制之。</p>

<h1>杜仲</h1>
<p>鑑別法　外面呈淡褐色。內面呈紫褐色。從大木之上剝其木皮。厚而扁平。脂氣多而潤。橫折之。兩手拉出去。見有無數銀色之絲。有如綿狀者。佳品也。其採自嫩木者。皮薄而絲少。故劣。</p>
<p>調製法　縱五分橫切之。</p>

<h1>童便</h1>
<p>採取法　十二歲以下。健康之兒童。排泄之尿。棄去其始初與終了之部分。取其中間放出之品。為上。</p>

<h1>冬蟲</h1>
<p>鑑別法　干後形態尚大。且形態完全。有新之色澤者為上。形態碎亂或已經蟲蝕者無用。</p>
<p>調製法　儘量煎之。練藥用者用火干之。研為藥粉。</p>

<h1>冬瓜子</h1>
<p>鑑別法　邊緣肥厚。色白。有新氣者為上。小而帶暗色。色相惡者無用。</p>
<p>調製法　依配劑之情形制之。</p>

<h1>冬瓜皮</h1>
<p>鑑別法　剝冬瓜之皮。干之。冬瓜宜大。色宜帶青。且宜新鮮。若已變黃色或帶暗色者無用。</p>
<p>調製法　碎用之。或稍稍以水潤之。切為二分左右之碎片亦可。</p>

<h1>冬葵子</h1>
<p>鑑別法　冬葵之實。有灰黑色之光澤。而微帶甘味。無藁屑等雜入其間。身份重者為佳。此亦有偽造之品。系用大之錢葵子製成。</p>
<p>調製法　稍稍炒用之。</p>

<h1>螳螂</h1>
<p>鑑別法　淡褐色之大蟲而帶新氣者為上。蟲已碎斷者無用。</p>
<p>調製法　去其頭與腳。火炙成粉用之。</p>

<h1>燈心草</h1>
<p>鑑別法　有生草熟草二種。藥用者宜生草。待其生干之時。去心用之。若蒸過之後而去其心者謂之熟草。此宜用於燈火。不能為藥用矣。</p>
<p>調製法　燒為灰用之。</p>

<h1>橙皮</h1>
<p>鑑別法　將已熟之橙。四剖之。剝離其皮。其皮外面帶褐黃色。內白。且形甚大。有新氣象。而無蟲蝕傷者為佳。外皮帶暗黑色。或已切為細片者。往往無用。</p>
<p>調製法　火後切之。其調製時。浸於水中十五分鐘。取出後。待水分滴去。而皮質覺軟。即用薄刃除去其內面之海綿組織。須細細挑括。干後使用之。</p>

<h1>獨活</h1>
<p>鑑別法　本品與羌活同。近來中國產者甚少。大抵系日本產。形似鳩杖。其質輕虛。外皮呈暗褐色。密布線狀之橫紋。橫斷面之直徑有七分至一寸者。謂馬皮羌活。其下部分歧之根。亦有橫紋。且成皺溝。</p>

<h1>菟絲子</h1>
<p>鑑別法　呈黃色。無軸。有新意者為上。經過年月後。往往變為褐色。此係無用品。</p>
<p>調製法　今已隨便使用。從前用法。必須酒浸三日。取出炒後方用。</p>

<h1>地龍</h1>
<p>鑑別法　陰乾後。長而未折。無土氣。形態嵩高者為上。</p>
<p>調製法　就木板切之。</p>

<h1>地黃</h1>
<p>鑑別法　地黃有三種。生地黃形如小指。呈黃赤色。肥而多潤且長者為上。瘠而小且乾燥者無用。此宜貯於日蔭之處。埋置於細砂地上。不宜注水。</p>
<p>乾地黃採集於冬期。就日光中曬乾之。一般人認此為生地黃者誤也。其外皮呈灰色。內部為紫褐色。味甘而稍苦。肥大者為上。熟地黃系蒸乾之品。色如漆品。有光澤。味甘。大者為良品。</p>
<p>刀地黃集合許多幹地黃所切下之短而斷之品。系屬下等品。</p>

<h1>地膚子</h1>
<p>鑑別法　青白色而有新之色澤者為上。</p>
<p>調製法　日光中乾燥後。稍稍炒用之。</p>
<p>處方之藥則用酒浸。</p>
<p>疝氣者研粉服用之。</p>

<h1>地骨皮</h1>
<p>鑑別法　黃褐色之大者。其根皮如卷狀者為佳。</p>
<p>調製法　水浸一夜。就木板切之。</p>

<h1>地榆</h1>
<p>鑑別法　外皮暗褐色。內部呈白色。表面有皺溝。中部肥厚。兩端細長。根直而有新氣者為上。形不整而多鬚根者無用。</p>
<p>調製法　火熏之減去其有效分。就木板切之。</p>

<h1>豬苓</h1>
<p>鑑別法　皮黑而有光澤。內部白者為上。瘠而小。或內面帶淡紅色或淡黑色、或淡赭色者下品也。</p>
<p>調製法　水浸約四小時。切成五分左右之圓板狀。縱約橫薄之二成。切就後。就日光乾燥之。</p>

<h1>竹葉</h1>
<p>鑑別法　用淡竹或干竹所生之葉為上。</p>
<p>調製法　將生葉之尖即葉尖與葉腳。用剪刀剪為五分長。就木板切後加入煎藥中。</p>

<h1>竹瀝</h1>
<p>鑑別法　味淡甘者為上品。味苦而辛者。必採自苦竹。下品也。不宜用。</p>
<p>採取之法。將活之淡竹。去其節。縱四分之一。就火上熏之。其液汁從兩端滴出。以器物受貯之。</p>
<p>調製法　煎藥服用者。以少加為是。</p>

<h1>竹茹</h1>
<p>鑑別法　活之淡竹。除去其節。削去其青之外皮。然後用小刀薄薄括其內青皮。</p>
<p>調製法　不妨多用。　又處方中往往有「上劑以生薑三片竹茹一團水煎服」云云。所謂一團。自古並無一定。惟大約在兩錢左右。</p>

<h1>丁香</h1>
<p>鑑別法　色赤褐。肥厚。富油分。身分重。投水即沉下者。上品也。瘦而細。身分輕虛者無用。</p>
<p>調製法　水浸切之。</p>

<h1>知母</h1>
<p>鑑別法　似石菖蒲根。有黃色之毛。馬大潤澤。味覺苦甘者稱為真知母。良品也。</p>
<p>調製法　用水洗後。暫時放置。用小刀切為二分左右之三角塊。或火炙切之。</p>

<h1>沉香</h1>
<p>鑑別法　色黑而潤。富脂肪。味辛。質硬而重。火熏之。有香氣者為上。夾新之木。或輕虛之物。或無香氣者。或味不甘者。或味酸者。或色白而全無香氣者。均無用之物也。從箱中輸來之品。有種種之區別。從沉香之中心。選出其佳良之部分。此種物品。稱為中木。上品也。其次為節木。即木之有節者。香氣較薄。又有細長如竹葉者。更有扁平者。甚且有極細如爪者。市場中有削沉香者。此係削之於無花果樹。更有包裝就之舶來品。外標太泥或院尼者。香氣甚薄。非上品也。其色黑而有光澤者。尚可。</p>
<p>暹邏有名茶木者。木地與色相。如普通之木。而香氣極充足。制線香用之。</p>
<p>奇南香脂氣油氣均甚多。且黑而有光澤。比之普通沉香。勝萬萬云。</p>
<p>調製法　用火炙溫。在未冷時。切之。其兩方用手掌摩揉一二次。以去其微塵為是。</p>

<h1>椿根皮</h1>
<p>鑑別法　選其淡褐色之厚而大皮片。內面有布眼。無土氣者為佳。</p>
<p>調製法　火灸後切之。</p>

<h1>陳倉米</h1>
<p>鑑別法　選其色澤已失。未經蟲蝕。未曾黴臭者為佳。</p>
<p>調製法　稍稍炒用之。從前處方有「陳倉米（黃土炒）」者。即用赤土炒之之謂。</p>

<h1>陳皮</h1>
<p>鑑別法　古稱陳橘皮。現今大體用蜜柑之皮。其外皮呈赤褐色。裡面白色。肌細而美者為上。若系青黑者。系未熟之柑皮。暗黑色者。系腐爛之皮。均屬無用之物。考陳皮之原意。非古舊之謂。乃指成熟而言。此應注意。</p>
<p>調製法　選天晴之日。浸於水中一小時。使水分浸透。取出後。乘軟用兩手扯碎之。即以大眼篩篩去其大者。再用細眼篩篩去其砂。就日光曬乾之。雨天則宜蒸。使不生黴。若一經生黴。則色相變黑矣。若加香薷散將陳皮用水洗過。以防其黴白亦佳。</p>

<h1>藜蘆</h1>
<p>鑑別法　我國古有蔥管藜蘆。其莖根形同蔥株。外部有黑棕櫚之毛被之。下端叢生多數之細長根。此係上品。其後祗有蒜藜蘆。其根如葫蘆大之圓塊。而缺被覆之棕櫚毛。</p>
<p>調製法　去其鬚根。用米泔汁煮軟之。切薄搗碎。不可加水。將其白濁之液靜置之。待其沉澱物沉於器底。取出曝露於日光中。俟其干後用之。</p>

<h1>綠豆</h1>
<p>鑑別法　粒大如眼。身分重而無砂氣者為上。</p>
<p>調製法　用篩除去砂分。不去皮。兩手碎之。去皮則塞氣也。</p>

<h1>良薑</h1>
<p>鑑別法　有赤褐色之色相而肥者良品也。其兩端之斷面。切口肥厚者為上。色帶黑或形細者下品也。</p>
<p>調製法　用火炙薄薄切之。從前之法。切薄後。將筷箸尖醮胡麻油炒之。</p>

<h1>龍眼肉</h1>
<p>鑑別法　皮殼褐色。形如圓球。粒大。皮殼不破。內部之果肉多潤者。如玉龍眼肉。上品也。倘果肉乾固。或有黴生而酸。或粒小者。無用也。又有肉龍眼肉。系無殼之果肉。其表面滑澤。有縱之條紋。此又另一種物矣。</p>
<p>調製法　將玉龍眼肉破其殼。取其果肉。加於煎藥中。或丸藥中。</p>

<h1>龍膽</h1>
<p>鑑別法　呈淡褐黃色。有無數長之鬚根者為上。倘系暗褐色或鬚根少者。無用。</p>
<p>調製法　以水洗之。暫時放置。然後切之。</p>

<h1>龍腦</h1>

<h1>龍骨</h1>
<p>鑑別法　棲息於前世紀動物之骨骼。朽化如化石。其形狀與枯骨無甚差異。內部髓質走失。松疏而有多數之細孔。或者往往於空洞之內。包藏結晶。稱之曰龍骨。其他尚有如齒形者。名曰龍齒。藥用以色白質軟。以舌舐之。即黏著者為佳。黃色或暗黑色者無用。</p>
<p>調製法　現今大抵細碎用之。往昔則將龍骨與鹽同入土器中。炒後除鹽用之。又有用炭火燒後。暫時放置地上。冷後研碎用之者。</p>

<h1>遠志</h1>
<p>鑑別法　大遠志如鬼腕。肥而長大者為上。細而帶暗色。且朽者無用。肉遠志系拔自木心之肉質部。粗大者為上。其他概系劣品。</p>
<p>調製法　細者切為一分半長。大者切為一分長。</p>

<h1>黃柏</h1>
<p>鑑別法　皮厚。色深黃。味苦者為良品。皮薄。或色淡黃。或形如老木。或皮脆者無用。粉末注以水。捏之。有黏性者良品也。少黏者稱二號黃柏末。無用。</p>
<p>調製法　火炙壓為五分長之細線。</p>

<h1>黃連</h1>
<p>鑑別法　形狀似殭蠶。皮部呈淡綠色。內部呈深黃色。味極苦者上等品也。此稱為殭蠶黃連。或稱加賀黃連。又有名丹波黃連者。形狀色相。均與前同。惟瘠而小耳。其質堅實。內部呈黃色。苦味極多者。亦為上品。又有制黃連者。其細根上。混以黃粉與糊。更有毛黃連者。系黃連之細須。劣品也。</p>
<p>調製法　用水浸軟。壓薄切之。</p>

<h1>黃芩</h1>
<p>鑑別法　形狀大如柴胡。肉重。外皮茶褐色。其內部有黃綠色之朽。中不空而丸軸苦者為上。形極肥大。而內部有黑朽。俗云餡氣。或成片者。下等品也。肥大之老根。及朽而中空虛者謂之枯芩。又名片芩。其有粗皮附著者。名附皮黃芩。去其粗皮。而留其內部鮮黃色之部分。謂之磨黃芩。</p>
<p>調製法　浸於水中。夏令一日。冬令二日。取出切為二分長。成為大片。再切為縱二三條之斷片。（水浸後色帶青味）</p>

<h1>黃蓍</h1>
<p>鑑別法　大如棒而柔。外部呈淡褐色或黃褐色。內部呈黃白色。味甘而有香氣者名綿黃蓍。上品也。內部之色淡。而質甚緻密者亦屬良品。質極硬。或分兩歧。或過柔者劣品也。</p>
<p>調製法　水浸後。用小刀切為骰子大小之塊。火炙後壓之。</p>

<h1>黃精</h1>
<p>鑑別法　根莖似白芨。似老薑。節高肉肥大。不分歧者為上。</p>
<p>調製法　火炙軟切之。</p>

<h1>王不留行</h1>
<p>鑑別法　黑色。已成熟。身分重者為上。</p>
<p>調製法　浸於水中三四小時。取出蒸之。其次用火焙乾之。</p>

<h1>海金沙</h1>
<p>鑑別法　用指頭捻之。覺砂砂有聲而不黏於指者為上。黏著者偽品也。</p>
<p>調製法　忌火。</p>

<h1>艾葉</h1>
<p>鑑別法　無藁埃土氣。陳者為上。</p>
<p>調製法　取其葉揉之。火炙之。或研粉。</p>

<h1>海人草</h1>
<p>鑑別法　色青青而軟。有毛茸附著。蔓長。無砂石及貝殼者為上。蔓短而砂氣多。毛茸粗。帶淡灰色。或帶黑色。或帶褐色者無用。故上等品有青柳印等圖章焉。</p>
<p>調製法　現今大多用火暖干之。手揉而落其附著之砂氣。切二三分長。</p>
<p>海人草逢雨天則濕。故宜密貯於木箱內。</p>

<h1>葛根</h1>
<p>鑑別法　就原產地割為片。日光中曬乾之。謂之生干。或稱板葛根。其成小角塊者曰方銼。總之以色白而新者為上。</p>
<p>調製法　小角者已可用。板葛根應在釜中蒸過。切為四五條片。蒸之釜與水。宜避鐵器。</p>

<h1>厚朴</h1>
<p>鑑別法　外部呈紫黑色。內部有縱紋。皮極厚。質甚緻密。爪之不易。氣味強。微覺苦。有新意者為上。陳久者。皮薄者。呈淡褐色者。均無用。</p>
<p>調製法　浸於水中。夏令一日。冬令三日。取出後。成二三分之小角塊。皮之厚者以平角塊為主。薑製者削去粗皮。切為細塊。每厚朴一斗。入生薑汁一升浸之。然後日乾或火干之。炒黑之。</p>

<h1>藁本</h1>
<p>鑑別法　我中國產者。有無數之細根。香氣甚高。此為真品。鬚根似前胡。放川芎之香氣者。系川芎冒沖。無用。</p>
<p>調製法　火後切之。</p>

<h1>合歡皮</h1>
<p>鑑別法　大之皮片為上。</p>
<p>調製法　削去粗皮。火後切之。</p>

<h1>香附子</h1>
<p>鑑別法　兩端尖而中央部肥厚。長五六分之塊根。去其赤褐色之皮。內部白。成大粒之物者為上。然通例無純白色。必略帶微紅色。成粒者名粒香附子。碎者名砂利香附子。又香附子之內部。本系白色。掘取後。就日光中干之。其呈紅色者。系充分干之徵。</p>
<p>調製法　浸於水中。夏令一夜。冬令二三日。壓薄縱平切之。用兩手碎之亦佳。</p>

<h1>香薷</h1>
<p>鑑別法　十月霜後。採其長刀形者陳貯之。</p>
<p>調製法　穗用兩手碎之。</p>

<h1>蛤粉</h1>
<p>鑑別法　陳久者為上。</p>
<p>調製法　在炭火上燒為粉。此物不可為煎藥用。</p>

<h1>夏枯草</h1>
<p>鑑別法　褐色之花。入袋覺嵩高者為上。若系暗褐色或碎散者無用。</p>
<p>調製法　花用兩手扯碎之。</p>

<h1>訶子</h1>
<p>鑑別法　有六七條之稜線。似四君子。皮殼黑。內部之實多。味澀者為上。</p>
<p>調製法　與四君子同。</p>

<h1>何首烏</h1>
<p>鑑別法　中國產。成連珠狀之根。剖切之。其橫斷面有淡紅色之花紋。表面有縱五條之深溝。大者為上。非連珠狀者系日本產。無用。又其色相為淡紅色者稱雄何首烏。灰白色者稱雌何首烏。</p>
<p>調製法　水浸一夜。軟後。削為小角塊。或切方之。</p>

<h1>莪蒁</h1>
<p>鑑別法　略同蓬莪蒁。大而肥。內部佳良。有新意者為良。小而瘠且陳久者無用。</p>
<p>調製法　火炙乘暖用小刀切為小角塊。水浸而切者。須浸一星期。</p>

<h1>橄欖</h1>
<p>鑑別法　坊間之品。大抵用鹽汁過。其表面呈肝褐色。處處有皺溝。以橢圓形之大者為上。</p>
<p>調製法　切去其兩端之尖。切片用之。有時亦可炒用。</p>

<h1>甘草</h1>
<p>鑑別法　其大如鞭。其皮薄。帶赤味。其破折面有鮮黃色。質堅而長。正直。而味甘者為良。俗稱南京甘草。根肥大。皮部粗。內部呈淡黃色者。為福州甘草。應選其根無大小。味甘。內部黑而不朽。或茶褐色不變者。色相雖佳。而過細者無用。其直徑有一寸左右。形態緊札。橫斷面有鮮明之紋理者。李時珍稱為粉草。以甘草一束。用左手握其株處。撳於臺上。右手持刀向下將株斜切為若干段。每段大約一尺六寸。自大至小。選分為五六種。色相佳而大者。或內部之短者。或色相惡者。各自束為一卷。兩端用紅絲扎之。下端包入紙袋。</p>
<p>調製法　火炙後。切為三四分厚。或用小刀斜薄切之。煎藥之加味者以兩手碎之為上。水浸者不甚穩妥。</p>

<h1>甘松</h1>
<p>鑑別法　蝦甘松恰如小蝦之形。頭多如葉之須。主藥用。其次名葉甘松。多香氣。故線香之香料。大抵用之。如蘆頭之苗者最劣。名土甘松。因附著無數之土屑故名。又葉甘松者即系集蝦甘松落下之葉者也。</p>
<p>調製法　浸於水中。兩手細剖之。然後就日光中曬乾之。</p>

<h1>甘遂</h1>
<p>鑑別法　似麥門冬而稍長。如指頭大。外面有赤斑。內部白色。緊接如連珠狀者為佳。外面白色。或者黑色。或者有須者。無用。</p>
<p>調製法　火後壓而切之。</p>

<h1>乾薑</h1>
<p>鑑別法　肥而大。外面呈灰白色。極有辛味。火炙後。切斷之。則內部呈飴色。色相如鱉甲者為上。</p>
<p>調製法　用火炙軟後。切之。</p>

<h1>乾漆</h1>
<p>鑑別法　漆在桶中。自然乾枯。成為深褐色之物。燒之有漆氣者為佳。</p>
<p>調製法　打碎後。用無煙之火炒之。</p>

<h1>薏苡仁</h1>
<p>鑑別法　形似玉蜀黍而稍小。去其褐衣。現出白質。色白而粒大者上品也。無褐衣者。殼薄仁多。亦屬良品。</p>
<p>調製法　去砂使用之。</p>

<h1>大黃</h1>
<p>鑑別法　厚一二寸。如圓板狀或馬蹄狀。肥大而帶深黃色者。名紫地錦文。其質輕。以鋸割之。內面呈黃色者曰頭大黃。細長而瘠形如芋者。名小天大黃。次品也。色黑而極硬重者。最惡之品也。</p>
<p>我國自昔之大黃。必經長年月日。待其充分乾枯。稍帶澀氣。服用後。不起腹痛。此係珍品。其色相為黃色。看去實質甚輕。大抵經過蟲蝕者也。又有新山大黃者。外觀極似土耳其大黃。極下等之品也。新制劑記中雲。（大黃有二種。木片大黃。有斜線筋紋。而乾者。佳性也。一種純如連珠之相系。色惡而輕虛不潤者。最下品也。日本品不將莖與葉合。與中國貨有同樣香氣者最良。壯人用之。以其藥性強故也。亦可合為外貼膏藥。此外有羊蹄大黃、土大黃二種。羊蹄大黃多生於河原田野。葉莖花俱青。子如蕎麥而輕。又名野大黃。土大黃莖味酸。莖葉花實根皆似赤色。又名山大黃。</p>
<p>調製法　火炙後。切為一分厚。又有浸水三四十分鐘而後切者。不穩妥。</p>

<h1>大豆黃卷</h1>
<p>鑑別法　黑豆浸於水中一夜。取出後。覆以草蓆。放置三四日。發芽四五分。取出曝於日光中。干後有新氣者為上。</p>
<p>調製法　用火將豆加減炒之。棄皮與芽用之。亦有僅用豆者。亦有單用芽者。</p>

<h1>大茴香</h1>
<p>鑑別法　呈淡褐色。形肥大。成整然之八角形。各房之腹縫少破裂。內部有淡褐色之種子。富油分。香氣高者為上。倘系黑褐色。或各房片片離解。或腹縫不閉。小而瘠者。普通品也。</p>
<p>調製法　指尖將八角形之覆果一一剝離之。</p>

<h1>大楓子</h1>
<p>鑑別法　褐色而有光澤。圓而粒大者為上。帶暗色或粒小者無用。</p>
<p>調製法　去皮殼。而用其實之白之部分。</p>

<h1>大戟</h1>
<p>鑑別法　有綿大戟與紫大戟（一名紅芽大戟）二種。綿大戟質甚柔軟。以手觸之。無異於綿。外皮紫黑色。內部呈茶褐也。最大者。味極苦。良品也。紫大戟長七八寸。較之綿大戟為小。外皮紫赤色。少苦味辛味。為一般應用之物。</p>
<p>調製法　水中浸軟。去其木心、蘆頭、根端等。壓切之。</p>

<h1>大棗</h1>
<p>鑑別法</p>
<p>外面呈赤色。皺紋少。內部有黃白色之小核。果肉多。試以指壓之。覺有彈力。粒大者。上品也。多堅硬之皺。果肉少者無用。其形狀有圖形長形之分。而以圖形者為佳。</p>
<p>調製法　壓而不去其核。橫切為二。或用兩手碎之亦佳。</p>

<h1>代赭石</h1>
<p>鑑別法　有光澤之紫赤色。質硬。外面有大瘤。破之。成片片之大塊者。上品也。稱丁頭代赭。形小而軟。易碎而如土塊者下品也。</p>
<p>調製法　火燒赤。浸於醋中。　又燒過三次。反復冷後。粉用之。</p>

<h1>桃仁</h1>
<p>鑑別法　褐色之皮膜。成橢圓形。肥而大。仁尖白者上品也。外面呈暗褐色。或形瘠者無用。此又有桃仁、梅仁、杏仁等之區別。桃仁扁平而長。有皺。梅仁圓而尖。杏仁較梅仁為大。圓而微皺。古昔用之。</p>
<p>調製法　普通用小刀橫切為二。桃仁有皮。宜注以熱湯。暫時放置。將指尖除其褐衣。乾用之。</p>

<h1>當藥</h1>
<p>鑑別法　開無數之花。附著全草。經久不落。葉多。經過二年之品。一望而見其為褐色而長大者為良。短而如矮腳雞式者亦佳。長而色相黑者次品也。新貨帶青味。其值廉。故往往有投入沸湯。日光中干之。製為色相古雅之偽品者。然苦味已脫而味甚薄。以手觸之。硬軟之度判然。大者三枚為一袋。形高嵩者為上。</p>
<p>調製法　民間藥應用者極少。去其莖。採取其花與葉。藥研粉細之。為賣藥之原料用。</p>

<h1>當歸</h1>
<p>鑑別法　冬令掘其根。永貯於無蟲之所在。半乾後。入熱湯中。經少許時。取出就日光中干之。此宜選其肥而大。鬚根叢生如馬尾。外皮褐色。內部黃白色。味始稍甘。後稍辛。香與潤者為佳。所謂馬尾當歸是也。又野生之品。因培養品缺乏。故瘦而小。其味始辛後甘。辛味甚強。故效能甚多。從前專用此物。現在坊間所售者。有大深當歸與天上當歸二種。大深當歸產自大深。（屬日本紀州）鬚根直而多。當歸之上等者也。天上當歸。產於日本中部。鬚根彎曲不正。其附著亦極疏。質硬。此下等品也。又古醫書中有所謂歸尾者。即馬尾當歸之尾。所謂鬚根是也。</p>
<p>調製法　火炙軟。去其蘆頭。縱間施以二三條之截痕。從根元至尾。薄薄切之。或切為小角塊。本品極易蟲蝕。故宜常添樟腦。入木箱中密閉之。</p>

<h1>澤蘭</h1>
<p>鑑別法　小澤蘭莖為方形。節之距離短。葉有毛茸而新者為上。</p>
<p>調製法　莖與葉切之。</p>

<h1>澤瀉</h1>
<p>鑑別法　球圓形之肥而大。身分重。外部黃白色。內部白色。新而無蟲穴者為上。內部淡黃色者無用。</p>
<p>調製法　壓後用小刀割之。其割裂面宜上向。將稍強之火熱炙。即乘其時切之。</p>

<h1>膽礬</h1>
<p>鑑別法　有生礬熟礬二種。藥用者稱生礬。用其天然產物。火燒而不出汁。成不整之塊。大者如拳。小者如桃慄。有圓錐狀之結晶塊者為佳。火燒後。汁已出。呈深藍色者名熟礬。俗呼煮膽礬。供外用。</p>
<p>調製法　用乳缽研為極細之末。目的如用為吐劑。則內服者須與酒同下。在萬病回春之中風條中有「用膽礬一分。為末。溫黃酒調下」云云。黃酒者。米釀之酒也。</p>

<h1>羚羊角</h1>
<p>鑑別法　羚羊角之大。恰如竹之根節。其尖端一二寸之所在為最上等。其次則為節處外屑之部分。內部髓質之處。色相以飴色者為上。</p>
<p>調製法　用鮫皮磨為粉。或用研磨細之。貯藏之法。應在不透風之處。用幾層紙包包裹之。或用瓷罐。或用桐箱密閉保存之。</p>

<h1>連翹</h1>
<p>鑑別法　兩片不離。新而大。粒呈褐色者為佳。小者。暗色者。無用。入袋時。有無數種子混入者不效。</p>
<p>調製法　置於平之板上。兩手用刃除去其子。或在石上輕敲。使種子離去。</p>

<h1>蓮房</h1>
<p>鑑別法　新而無蟲者為上。</p>
<p>調製法　火後切之。或兩手碎之。</p>

<h1>蓮實</h1>
<p>鑑別法　熟後如石之硬。黑色而大者為良。</p>
<p>調製法　以鐵槌破其皮谷。採其仁。為配劑用。</p>
<p>蓮肉與蓮之調製法同。</p>

<h1>蓮葉</h1>
<p>鑑別法　淡褐色而有新氣者為佳。暗褐色或破碎者無用。</p>
<p>調製法　兩手碎之。</p>

<h1>蓮蕊</h1>
<p>鑑別法　蓮花之蕊陰乾者。以新者為上。</p>
<p>調製法　切為二三分長。</p>

<h1>蘇方木</h1>
<p>鑑別法　外皮白色。內部之木心呈深紅色者為上。呈黃赤色者嫩木也。無用。</p>
<p>調製法　除去粗皮。不用火。就木板切之。</p>

<h1>蘇合香</h1>
<p>鑑別法　呈灰褐色。以棒搗之。有黏氣而無澤者為上。</p>
<p>調製法　重湯煎熱。加香附子末攪拌之。加以煉蜜。成為適當之稠度。貯藏之。又以蘇合香、沉香、白檀等及揮發性之物。配合為丸藥。附以蠟殼。其調製法　大約四格蘭姆之大丸一粒。外包紙包。投入熔烊之蠟殼內。使用時。將蠟殼剝開。同時剝開包紙。其丸藥加入煎藥中服用之。蘇合香丸用法云。「每丸重一錢。用蠟包裹。每用大人一丸。小兒半丸。去蠟皮」云云。</p>

<h1>象牙</h1>
<p>鑑別法　印度象之門齒。形長大。色淡黃灰白。</p>
<p>調製法　磨粉。不用水調。</p>
<p>象牙為拔除鐵屑或竹木刺之特效藥。故昔時無內服者。</p>

<h1>側柏葉</h1>
<p>鑑別法　味苦而香氣高。色青青有新氣者為上。失香氣者。已經陳久者也。無用。</p>
<p>調製法　取其軸之葉。兩手碎之。</p>

<h1>側柏子</h1>
<p>鑑別法　較胡麻稍大之淡黃色之種子。味苦而放微香者為上。</p>
<p>調製法　稍稍炒用之。</p>

<h1>續斷</h1>
<p>鑑別法　真者細而味甘。見心中有粉塵飛散者為上。近來市場中所售之續斷。皆系南續斷。即大薊之根。味苦而有長大之分歧根。其大而堅之宿根。尚可用。新根而軟者無用。</p>
<p>調製法　暫浸於水。取出放置二十分鐘。軟後。切之。</p>

<h1>續隨子</h1>
<p>鑑別法　粒大而無藁屑。身分重者為上。</p>
<p>調製法　鋪於板上。壓而磨之。去皮。得白之實。與巴豆同法用紙包去油用之。</p>

<h1>獺肝</h1>
<p>鑑別法</p>
<p>新者帶藍黑色。分裂為七葉。干後。變為暗黑色。其分裂數亦不分明。惟分裂數必須認明。若系八葉。必系肺臟。故宜選其七葉者。</p>
<p>調製法　炮烙炒黑。成粉用之。</p>

<h1>雷丸</h1>
<p>鑑別法　外皮黑褐色或慄褐色。處處有凹窩。成顆粒狀之塊。枯後肌細而硬者為上。又內部呈白色者名白雷丸。極上品也。內部黑色或質軟者無用。</p>
<p>調製法　除皮火後切之。</p>

<h1>絡石</h1>
<p>鑑別法　採其纏於石上蔓生之莖與葉。日光中曬乾之。根白者為上。</p>
<p>調製法　火後切之。</p>

<h1>蘿蔔子</h1>
<p>鑑別法　實重者為上。</p>
<p>調製法　稍稍炒用之。</p>

<h1>無患皮</h1>
<p>鑑別法　黃褐色。大而新者為上。暗褐色或形小者無用。本品為庭園中驅除蚯蚓之劑。若散布其煎液。則蚯蚓一一現出地面。可一一捕取而除之。</p>

<h1>無名異</h1>
<p>鑑別法　有光澤。色黑褐而形圓者為上。形如粟粒或砂之小物無用。</p>
<p>調製法　細細搗碎。調水用之。</p>

<h1>烏梅</h1>
<p>鑑別法　極深黑色。味酸者為上。燻黑之物無用。</p>
<p>調製法　去其內部之核。取其肉質之部分。火炙後。壓而薄切之。</p>

<h1>烏頭</h1>
<p>鑑別法　形如薤白之大。皮黑而內部白者上品也。此品產自川蜀。故又稱川烏頭。產自日本者。形如榧實之大。蘿蔔狀。下部漸次細小。色白如角質狀。此係次品。</p>
<p>調製法　浸於水中二三小時。然後以小刀切為小角塊。又如火炙後切之亦佳。</p>

<h1>烏藥</h1>
<p>鑑別法　兩端尖。中部膨隆。外部呈赤揭色。內部呈白色者為上等品。因其恰如八月中之芋奶。故又名芋烏藥。其他暗褐色。或形大者。或如棒之細長者。均屬劣品。</p>
<p>調製法　浸於水中。夏令一晝夜。冬令四五日。取出去其水氣。以稍強之火炙之。然後壓而薄切之。</p>

<h1>烏蛇</h1>
<p>鑑別法　頭圓。體漆色而放光澤。背面有三稜。尾端甚細而長。此為真品。頭在中心圓座。成一圖形者。亦屬上等品。雖未碎而形如木枝。或如串形者次品也。暗色而碎。或無鱗者無用。</p>
<p>調製法　與白蛇同。</p>

<h1>禹餘糧</h1>
<p>鑑別法　禹餘糧繫帶黃黑褐色之卵形。或橢圓形之圓塊。內部空洞。其中殘留之粉塊。呈白色或青色者。系藥用良品。黃色或褐色者。名太一餘糧。其外殼有石片及砂礫膠著。內部有灰白色或黃褐色之粉塊。此亦可以為藥用代用品。此外尚有卵白黃者。為灰白色之卵形。質軟。碎其外殼。則內部包藏紫色之土塊。此下品也。</p>
<p>調製法　細碎後調水用之。</p>

<h1>雲母</h1>
<p>鑑別法　白如銀色。質潤者為佳。淡黃色或無光澤者無用。</p>
<p>調製法　水濕後。日光中曬乾之。用火炒至變色用之。</p>

<h1>瞿麥子</h1>
<p>鑑別法　色黑而有光澤。實重者為佳。入袋後。覺不嵩而低者亦佳。</p>
<p>調製法　除其藁屑土砂。然後使用。</p>

<h1>瓜呂仁</h1>
<p>鑑別法　皮殼褐色。成橢圓形而扁大者為佳。此名附皮瓜呂仁。其除去皮殼者。名瓜呂實。價值稍高。</p>
<p>調製法　壓於臺之邊緣。以左手之食指與拇指挾住附皮瓜呂仁。右手以木製之小槌。輕輕在瓜呂仁長徑之側邊。敲打之。敲打適當。則皮殼脫去。扁圓形之仁現出矣。此即可以為配劑之用。大抵附皮瓜呂仁一斤。僅可得瓜呂實七兩。（即十六分之七）</p>

<h1>瓜呂根</h1>
<p>鑑別法　形狀及大如香砂芋。剝皮後。肉面少凹凸。重而滑。色白。中心有花紋者為真品。其色不白。且瘠而小。亦不滑澤。筋多。中空者無用。</p>
<p>調製法　削去粗皮。水浸四日。壓切為小角塊。或切為四分平方形之薄塊。</p>

<h1>瓜蒂</h1>
<p>鑑別法　採於未熟之時。苦味多而新者為佳。其熟後採者。苦味少者。經年而失氣味者。均無用。瓜蒂在昔盛用為吐劑。內服之。可嘔吐。如服後無嘔吐之象時。飲冷水或冷粥少許。</p>
<p>調製法　應用於瓜蒂散者。研為粉末用之。</p>

<h1>滑石</h1>
<p>鑑別法　色白而有真珠之光澤。微甘。滑而軟者為上。帶土臭之味。無光澤。呈硬而淡紅色或淡綠色者無用。</p>
<p>調製法　其初用石臼舂碎。其次用乳缽磨研為細粉。再加入水。充分干後用之。</p>

<h1>蝸牛</h1>
<p>鑑別法　小者效力微弱。故宜選其大者。</p>
<p>調製法　煏為灰用之。</p>

<h1>藿香</h1>
<p>鑑別法　根元有力。莖大。其附生之葉大而帶青者為上。此有一番二番之別。一番者刈取新莖之葉也。葉莖均柔而不縮。上品也。二番者。從一番之株上所發之新芽之莖。刈取之。葉扁大而硬。莖不大者。次品也。又有不採自莖。而僅集其落葉者。苟其葉帶青色。不沾泥。香氣佳者。亦佳。</p>
<p>調製法　入於籠中。其上加如露之水。暫時放置。軟化後。切為三分長。</p>
<p>又嘔吐時服用者。往往即用其枝。保中湯之君藥。即以藿香梗為主者也。若無梗。即用其枝或葉亦佳。因其藥性相同故也。</p>

<h1>鶴蝨</h1>
<p>鑑別法　此係乎形科之植物。以其形狀如蝨故名。色黑而大者為良。然無驅除寄生蟲之效。日本市場所售之物。屬於菊科。十月間採其子實。名和鶴蝨。以黑褐色者為上。</p>
<p>調製法　除蒂稍炒用之。</p>

<h1>款冬花</h1>
<p>鑑別法　半開之花蕾。無土氣而新者為上。</p>
<p>調製法　兩手扯碎之。</p>

<h1>款冬根</h1>
<p>鑑別法　呈紫黑色。長而大者。上品也。</p>
<p>調製法　水洗後。暫放置。壓而切之。</p>

<h1>苦楝皮</h1>
<p>鑑別法　從前根皮不供藥用。現今則市場上皆用樹皮矣。以少褐色之外皮。而有黃色之內皮。平而大者為上。</p>
<p>調製法　火後壓之。縱斷之。約五分長。</p>

<h1>苦辛</h1>
<p>鑑別法　外皮黃褐色。內部黃白色。有強苦味。節不長者為上。肥大或過細。或色相濃者無用。</p>
<p>調製法　火後壓之。切之。</p>

<h1>射干</h1>
<p>鑑別法　外部黃褐色。內部白色。上面有無數之葉痕。新而大者為良。</p>
<p>調製法　火後切之。</p>

<h1>陽起石</h1>
<p>鑑別法　有光澤。色白而軟。有束緘狀之紋理者為上。淡綠色或質硬者無用。</p>
<p>調製法　火燒後。浸於酒醋中。反復七次。細碎為粉。水調之。</p>

<h1>益智</h1>
<p>鑑別法　實大而粒色新。香氣高者為上。色帶黑。或香氣少。或帶稠。或粒小者無用。</p>
<p>調製法　兩手碎之。從前調製之法。去殼入於布袋中。以手揉碎之。棄其隔層之物。稍稍炒用之。</p>

<h1>益母草</h1>
<p>鑑別法　益母草屬唇形科植物。採其全草陰乾之。帶青味而新者為上。</p>
<p>調製法　莖、葉、花、根、有同一效能。一起用手握壓於臺上。用刀切之。</p>

<h1>夜明砂</h1>
<p>鑑別法　比鼠糞稍小。兩端尖。色黑褐者為上。多土氣者無用。</p>
<p>調製法　就水中淘去其砂與蚊眼之物。日光中曬乾後。炒用之。</p>

<h1>玫瑰花</h1>
<p>鑑別法　色新而帶淡黃褐色者為上。已變為濃褐色或有蟲蝕氣象者無用。</p>
<p>調製法　去其蔓切之。</p>

<h1>麻黃</h1>
<p>鑑別法　淡綠色。味澀。就口中咀嚼之。舌上覺麻痹。色澤青青而新者為上。此名立麻黃。其切為長約五分左右之物者。名切麻黃。其色已變黃。或香氣已失。或貯入袋中。袋底有砂粒氣象者無用。</p>
<p>調製法　現今往往用兩手拍去微塵用之。</p>

<h1>蔓荊子</h1>
<p>鑑別法　粗大而新者為上。</p>
<p>調製法　用手剝落其上之白皮。稍稍炒用之。</p>

<h1>荊芥</h1>
<p>鑑別法　用花穗而不帶莖者為上。</p>
<p>調製法　稍炒就藥研粉碎用之。</p>

<h1>雞冠石</h1>
<p>鑑別法　有光澤。呈赤色。不帶臭氣。硬而重。成大塊者為上。色黃赤。臭氣甚者。次品也。青黑色者。屬劣等。</p>
<p>調製法　天然之物。不含毒性。供內用者。宜撮去其夾雜之石。研細一度水調用之。</p>
<p>從前調製之法。將粗碎之物。絞為汁。加酥煮後。干之。研細。調水用之。</p>

<h1>輕粉</h1>
<p>鑑別法　色白而有真珠狀之光澤。結晶粗而身輕者為上。</p>
<p>調製法　水調用之。</p>

<h1>桂枝</h1>
<p>鑑別法　皮薄而有三四分之廣者。或皮嫩者。祗須色相為紫黑色。辛而甘。香氣高者。均屬良品。</p>
<p>調製法　暫浸水中。取出後。待其水分滲入。以左手握之。切為三分長之物。</p>

<h1>決明子</h1>
<p>鑑別法　有光澤。大而色黑者為佳。此為民間消毒之妙藥。可以為外用。</p>
<p>近來有以蔞蒿稱決明子者。蔞蒿者青葙子之異名也。故稱草決明。而決明之決明子。當以稱馬蹄決明為當。二者有甚大之區別焉。李時珍本草綱目解釋云。</p>
<p>此馬蹄決明也。以明目之功而名。又有草決明石決明。皆同功者。草決明即青葙子。陶氏所謂蔞蒿是也。</p>
<p>調製法　兩手碎之。</p>

<h1>卷柏</h1>
<p>鑑別法　帶青味而新者為良。</p>
<p>調製法　水洗去其土氣。火後切之。</p>

<h1>芫花</h1>
<p>鑑別法　從開花前之蕾。直至開花。花形不亂。苦味強。香氣高者為佳。普通有用鼠麴草以亂真者。因其無香氣。故極易分別。宜十分注意。</p>
<p>調製法　有劇烈之毒。一度醋煮後。浸入水中一夜。以減其毒力。然後就日光中曬乾用之。</p>

<h1>芫菁</h1>
<p>鑑別法　系荷蘭人運來之物。較之斑貓狹而且小。大抵長六七分。闊一分余。似螢。而頭不赤。全體及翅鞘皆呈綠色而放金光。日本產者名青斑貓。較小。呈紺青色。亦放光輝。</p>
<p>此物以臭氣強而新者為佳。</p>
<p>調製法　去頭與腳。粉用之。</p>

<h1>牽牛子</h1>
<p>鑑別法　本品有白與黑二種。白色價高。而效能則黑色為峻速。粒大而干。有新氣。入水即沉者為上。</p>
<p>調製法　兩手拍去其微塵。篩除其粉用之。</p>

<h1>玄參</h1>
<p>鑑別法　外皮淡褐色。內部黑色。潤而肥大者為上。根短而集為塊狀或形小者無用。</p>
<p>調製法　火軟後。割為二縱片。更橫切之。</p>

<h1>浮萍</h1>
<p>鑑別法　葉大而裡面呈紫色者為上。此物採於舊曆七月左右。入籠干之。</p>
<p>調製法　隨取用之。</p>

<h1>浮石</h1>
<p>鑑別法　色淡而輕者為上。</p>
<p>調製法　搗碎為粉。調水用之。</p>

<h1>伏龍肝</h1>
<p>鑑別法　採自灶底中央之燒土。以陳舊者為貴。此物可治妊娠之嘔吐。與半夏並用之有效。屢用屢驗。</p>
<p>調製法　打碎用之。前人用水化之。</p>

<h1>茯苓</h1>
<p>鑑別法　皮黑色。內部白色。質緻密。硬而重者。良品也。內部帶暗色。或過於脆軟。或過於硬者無用。</p>
<p>調製法　角制之物。普通稱山制。採時乘軟切為骰子形。調劑時用之。山出有皮之茯苓。待其充分乾燥後。剝去其粗皮。在其實質緻密之部。用小刀削之。此名削茯苓。削成之物。如過粗雜。再行切之。</p>

<h1>附子</h1>
<p>鑑別法　國產附子。大者如雞卵。小者類薤白。而以大者為貴。十六枚一斤者最上等。其肥而無角者稱天雄。小者苟內部色白者亦佳。日本產者稱白川附子。其形狀與國產同。但氣味峻烈。內部之白。稍帶暗色。</p>
<p>調製法　生用者甚少。大抵用紙包包後。埋於熱灰中。煨後去其皮。切之。又有先四剖之。水浸一日。取出後。待其稍干。然後火熏而切之者。</p>
<p>附子入熱水、童便、火熱等。能減毒性。昔者往往大量用之。</p>

<h1>胡蘆巴</h1>
<p>鑑別法　色相紫色而重者為上。</p>
<p>調製法　稍稍炒用之。</p>

<h1>琥珀</h1>
<p>鑑別法　深紅色透明之物。曰血透。或曰金珀。良品也。</p>
<p>其次曰銀珀。色稍淡。下品者曰蠟珀。色淡黃。最下等者呈黑色焉。</p>
<p>調製法　粉碎用之。</p>

<h1>胡黃連</h1>
<p>鑑別法　似楊之枯枝。心黑。外部為黃色。試折之。則見有如煙之粉飛出者為佳。</p>
<p>調製法　銼之。或火後切之。</p>

<h1>胡桃仁</h1>
<p>鑑別法　有光澤。且有褐色之子皮。內部之仁。色白而肥厚。且有新意者為佳。瘦瘠者。或呈暗黑者。以及破碎者劣品也。已經蟲蝕者無用。</p>
<p>調製法　本品為染白髮使黑之用。火上焦後。成炭用之。</p>

<h1>胡麻油</h1>
<p>鑑別法　本品有麻油、清油兩種。而其白鬍麻之油稱白麻油。黑胡麻之油。稱烏麻油。</p>
<p>不熬而生榨之。色相極淡成金黃色。有香氣者名生油。熬後榨之香油。色呈褐黃。放香味。無二膏等之藥膏。即用此香油者也。</p>

<h1>胡椒</h1>
<p>鑑別法　粒大而辛味強。有新氣者為上。</p>
<p>調製法　暫浸於水後。取出滴去其水分。兩手切之。</p>

<h1>牛蒡子</h1>
<p>鑑別法　採牛蒡之種子。為治咽喉痛之效藥。本品以成熟而新者為佳。越年者無用。</p>
<p>調製法　水洗後。暫時放置水中。待充分濕後。從兩手碎之。</p>

<h1>牛黃</h1>
<p>鑑別法　牛黃色如薑黃。呈深黃色。破之。內部亦為深黃色。有小白點。從外部至內部。有重疊之片。將少許入口中碎之。唾液潤軟後嚥下。覺催嘔之力甚強者為上。又其重量輕者良品也。重者下品也。奧國牛黃。色甚濃。價值最高。其次為玉牛黃。形圓。或純三角。色稍帶赤。其次為天竺牛黃。比較的形大。而成碎片之物。極劣者俗稱四六牛黃。細而碎。十分中有六分混入贗品。日本牛黃。名真牛黃。成暗色之球形。</p>
<p>調製法　在乳缽中研用之。</p>

<h1>虎骨</h1>
<p>鑑別法　有頭骨、頸骨、脛骨等之稱。以色黃者為上。</p>
<p>調製法　細細打碎。除其內部之髓質。酒或醋浸之。火炙之。研粉用。</p>

<h1>虎杖根</h1>
<p>鑑別法　似褐色之柳根而輕者為上。</p>
<p>調製法　火後切之。</p>

<h1>牛膝</h1>
<p>鑑別法　淡黃色。長大而肥。實質軟者為上。帶暗色之物。或短而堅者無用。</p>
<p>調製法　先去莖。次火其根元。壓後。切為長二分之物。浸於水中者。色相惡。</p>

<h1>紅花</h1>
<p>鑑別法　本品古名紅藍花。藥用以鮮紅色極新之物為佳。越年貨而變為暗紅色者無用。</p>
<p>調製法　兩手扯碎用之。</p>

<h1>五倍子</h1>
<p>鑑別法　帶黃褐色之光澤。形大者為佳。小者碎者無用。</p>
<p>調製法　打碎後。除去其中蟲糞。研粉用之。</p>

<h1>五靈脂</h1>
<p>鑑別法　五靈脂有二種。良品者狀如糞。呈漆黑色。長二寸。成粒似鼠糞。有光澤。兩端尖而圓者也。下品者如鐵糞。成鐵黑色之黏塊。</p>
<p>調製法　研粉用之。</p>

<h1>五味子</h1>
<p>鑑別法　表面有皺紋。呈紫黑色之大粒。有甘味者。良品也。又有朝鮮五味子者。表面呈紅色。以濕與白之粉。一吹之。即見白色。市中稱為白五味子。然蒸後其紅故故云。</p>
<p>調製法　兩手細銼。皮核均堪應用。</p>

<h1>穀精草</h1>
<p>鑑別法　常生於水溜之處。及山麓始終有水之場所。以青而有新氣者為佳。</p>
<p>調製法　棄根。切之。</p>

<h1>蜈蚣</h1>
<p>鑑別法　足肥而足數少者良品也。日本產者。足細而數多。劣品也。</p>
<p>調製法　去頭足銼之。</p>

<h1>巨勝子</h1>
<p>鑑別法　黑胡麻之實。有光澤而重者為佳。</p>
<p>調製法　水洗。干後。稍加小豆炒之。小豆可以加減。頓飯時。從火取下。去小豆貯之。</p>

<h1>古文錢</h1>
<p>鑑別法　經過有年之古者為佳。</p>
<p>調製法　先浸於醋中。次在炭火上燒後。碎用之。</p>

<h1>吳茱萸</h1>
<p>鑑別法　粒小呈黑色。有辛味苦味者為佳。經年而辛味已脫者無用。日本產者。粒大倍於華產。氣味烈。經年者為佳。稱為真吳茱萸。</p>
<p>調製法　從前水洗後。就日光中干後用之。或用兩手扯碎之亦可。</p>

<h1>鉛丹</h1>
<p>鑑別法　鉛丹俗稱也。真正之丹。即辰砂與粉也。丹之帶黃色者稱黃丹。其品類有乘久丹、長吉丹、光明丹、勝吉丹、市兵衛丹等。以其製造方法與製造人而異其名稱。其中以乘久丹為最上。用於膏藥。黏性強而色相良。雖長年貯之。亦不變脆。貴真膏萬金膏等均用此物。若放置一日。乾燥後。其膏藥面折合時。決不固附。引離時。亦特備離之特性。以嵩高度少而身分重者為佳。</p>
<p>調製法　從昔用水調用。今則隨便用之。然煮膏藥者。必預將黃丹曝於日光中。干後用之。</p>

<h1>延胡索</h1>
<p>鑑別法　其形類似半夏。粒圓而大。色黃者為佳。粒小而身分輕虛。色相不良。或帶白味者無用。而對蟲蝕之物。亦不可不檢去。</p>
<p>調製法　浸於水中五六小時。取出待其表面水分已干。用小刀削為小塊。或以兩手碎之。</p>

<h1>鳶尾根</h1>
<p>鑑別法　外部為黃褐色。肥而新者為上。陳而變暗色者。有青芽者。均無用。</p>
<p>調製法　火後切之。</p>

<h1>葶藶子</h1>
<p>鑑別法　有苦葶藶甜葶藶二種。苦葶藶苦而辛辣。其種已絕。目下祗有甜葶藶。形小而呈黃赤色。</p>
<p>調製法　入焙爐焙之。從前則隔紙炒之。</p>

<h1>鐵粉</h1>
<p>鑑別法　放金屬狀之光輝。為灰白色之粉。細者研為粉末。若大如指頭。或呈黑灰色者無用。又如已經酸化。帶有褐色而現古意者亦佳。</p>

<h1>鉤藤鉤</h1>
<p>鑑別法　攀繞植物之鉤刺。其藤細而帶紫色。多嫩鉤者為上。用其鉤者。效力加倍。</p>
<p>調製法　用剪刀剪為二三分長。或以兩手細切之。此時最宜注意者。即鉤之蔓生者務須除去。尖頭亦須除去。</p>

<h1>天竹黃</h1>
<p>鑑別法　如象牙色或淺黃白色之細之物。粉狀如灰塊之形狀。又半透映如白蠟者為上。呈黑色或黑褐色而不透映者無用。</p>
<p>調製法　用其粉。</p>

<h1>天南星</h1>
<p>鑑別法　圓而肥。內部白者為上。</p>
<p>調製法　浸於水中二三日。壓之切為小角。其切法始初切為三分厚之圓板狀。其次縱橫切為小角或平角。</p>
<p>牛膽南星即系用天南星之粉。以牛膽包裹干之。使用之際。除皮炒之。</p>

<h1>天瓜粉</h1>
<p>鑑別法　天瓜粉系從瓜呂根上採取之澱粉。滑澤而微細。純白色者為上。將匙插入。見其黏著者無用。本品市場中假者極多。大抵用浮粉或片慄制之。</p>

<h1>天麻</h1>
<p>鑑別法　大者如瓜如足。黃白色透明而如瓜者良品也。似羊角而不透映者無用。藥用須知書云。其根干。色黃白者曰羊角天麻。以其色如羊角故名。非形如羊角也。</p>
<p>調製法　火炙暖後見柔。二片縱斷之。或薄切之。</p>

<h1>阿剌伯橡皮</h1>
<p>鑑別法　白色透明之粒狀者為良品。呈淡黃色者為次品。褐色之塊片及碎片者劣品也。</p>
<p>調製法　以應用粉末為主。其調製之法。選晴天在日光下充分乾燥之。使用水車或發動機之動力。在石臼中粉碎。而成有光澤純白色之粉末。如日光不充分乾燥。則其粉末必微帶赤色。</p>

<h1>罌粟殼</h1>
<p>鑑別法　淡褐色而未破者為良。</p>
<p>調製法　去其蘆頭與其內部之白之部分及隔壁。蜜制者。浸於蜜與水之等分液中。亦有以火焙之者。</p>

<h1>亞麻仁</h1>
<p>鑑別法　有光澤。色褐形大者為佳。呈暗色者。或有土氣者。或有藁屑混入者。均無用。</p>

<h1>阿魏</h1>
<p>鑑別法　淡黃而色褐者為上。暗色或帶黑味者無用。</p>
<p>調製法　入丸藥者。以藥研研為粉。浸置於酒中。軟後取出乘濕與他藥煉合為丸藥。</p>

<h1>阿膠</h1>
<p>鑑別法　牛皮或驢皮所制之膠。長三寸余。闊一寸余。厚一分左右。透明者為佳品。呈黃黑色。長三寸。至五分之棒狀者為次品。總之凡黃色琥珀色者。透明者。暗赤色而透明者。夏不軟化者。均屬良品。黑而無光澤者無用。</p>
<p>調製法　切小入炮烙。用極弱之緩火炒之而用其粉。惟其數宜少。多則相互固結焉。</p>

<h1>阿仙藥</h1>
<p>鑑別法　市場所賣者。以骰子形者為多。色呈淡褐。質輕而脆。少澀味。有甘味者為佳。呈暗紫褐色。質軟而重。澀味強者。不良品也。有形長如棒者。有薄而呈圓板之狀者。</p>
<p>阿仙藥有古舊狀態。枯而輕。色相淡。少有澀味者為良。澀味強而帶紫黑者。或為不整形之塊片者。系屬極下等品。多用作染料。不能作藥用。</p>

<h1>安息香</h1>
<p>鑑別法　松脂者呈褐黃色者良品也。褐色中帶黑。或白而有光澤者。系次品。色黑如茶者下品也。</p>
<p>調製法　在暖酒中入安息香。經二三次之煮沸。沉於底。取出之。入水中。見其堅且脆者為合。取出干後。若仍有黏氣者。再續煮之。</p>

<h1>犀角</h1>
<p>鑑別法　黑而有光澤。微見彎曲。長七八寸乃至一尺余之角。株扁大。基底之直徑。有五六寸。周邊灰白色。中心及上部呈黑色者。稱烏犀角。尖端良好而基底白者劣品也。劈之其縱筋粗。在手中覺滑者真品也。高二三寸。如黑之盆山者。亦佳。長一尺五六寸。株之直徑三四寸。縱之筋緻密者名水犀角。可以為烏犀角之代用品。</p>
<p>銼後有犀角之氣。切為薄片向日光中照之。其透明之點狀粗大者。有光澤而色黑者烏犀角也。透明之點狀細。無光澤而色暗者水犀角也。</p>
<p>調製法　將犀角倒豎。從其基底十字切之。其時將其一片。置於金網之火焰所奔出之劇烈炭火上。此時急以小刀（新之小刀無用）就熱之根元切之。火弱者或熱之時間過長。必損其光澤。但如烈火後急切銼之。其色相與光澤亦不能良。從前犀角在配伍處方時。預先將鮫皮磨為粉。於服煎藥時吞下之。本草序例云。</p>
<p>凡湯中用麝香、犀角、羚羊角、牛黃、蒲黃、丹砂、須熟末如粉。臨服內湯中。攪令調和服之。</p>

<h1>西瓜皮</h1>
<p>鑑別法　薄剝之皮。有光澤。不碎而帶青味者為佳。暗色之物。或蟲蝕者無用。</p>
<p>調製法　兩手切之。</p>

<h1>西國米</h1>
<p>鑑別法　白色無砂。有新意者為上。</p>
<p>調製法　隨意用之。</p>

<h1>柴胡</h1>
<p>鑑別法　形狀如鼠尾。有細長之根。皮為赭褐色。內部呈淡褐色。味苦而微有良之香氣者為佳。其他直根而不分歧者。內部之色不朽而淡者。大者不選為是。有油者。瘠而小者。無用。</p>
<p>調製法　浸於水中。用石壓之。經三四小時。取出切之。</p>

<h1>細辛</h1>
<p>鑑別法　根極細。長四五寸。外部淡褐色。內部白色。辛味恰如山椒。氣味烈而新者為佳。經年後。辛味已失者無用。又有名土細辛者。杜衡也。</p>
<p>調製法　浸於水中。取出後。切為一分長之物。</p>

<h1>蔥白</h1>
<p>鑑別法　白根多而肥者為佳。</p>
<p>調製法　洗去其土氣。切而棄其青之部分。著根之處。切為一寸長。生入煎藥中。</p>

<h1>桑白皮</h1>
<p>鑑別法　楮之皮。外皮呈黃赤色。內面呈白色。有柔韌之薄皮者為上。此名附皮桑白。以其白曬過者。名曬桑白。以色白者價昂。堪為藥用。近來常有用柳之皮曬粉為白者。宜注意。</p>
<p>調製法　火炙軟。壓之切為二分長。或用手銼去微塵亦佳。</p>

<h1>桑寄生</h1>
<p>鑑別法　莖圓而有分歧之叉枝。葉二枚。採其所生於叉狀上者。有黃色之葉而似長。質厚而堅者為真品。</p>
<p>調製法　切之。</p>

<h1>桑螵蛸</h1>
<p>鑑別法　黃褐色之舟狀松疏之物者為上。黃褐色而不似舟狀者及小者皆無用。</p>
<p>調製法　火後切之。</p>

<h1>皂角刺</h1>
<p>鑑別法　採之已久。貯藏法良。色青青而新者為有效。</p>
<p>調製法　切去尖端。火後細切之。</p>

<h1>皂角子</h1>
<p>鑑別法　扁平而呈褐色。其邊緣有破眼。形大者為佳。無破眼者。色青者。大而不扁平者。非良物也。</p>
<p>調製法　碎後炒為粉用之。</p>

<h1>皂莢</h1>
<p>鑑別法　有豬牙皂角與肥皂莢二種。豬牙皂角長二三寸。闊三分左右。向一旁彎曲。肥皂莢長四五寸。闊五分左右。子實黑。約計三四粒。以實少者為上品。日本皂莢呈赤褐色。長一尺余。闊一寸左右。少彎曲。莢中多厚肉而有黏性者為上。</p>
<p>調製法　棄其外面之黑皮。而以內面之白皮火焙之。用藥研之為粉。</p>
<p>又萬病回春中風條中。有通關散者。其藥味中有「牙皂去皮弦」云云。此即指除去皂莢上之黑皮與筋而言。</p>

<h1>草果</h1>
<p>鑑別法　鈍三稜之果殼。形大。內部之實亦大。而帶茶褐色。香氣強。味辛烈者為上。小而呈汙黑色者無用。又草果有草豆蔻、肉豆蔻、白豆蔻之區別。用藥須知書云。</p>
<p>草果皮大仁大。草豆蔻之仁。比草果之仁為小。藥之下品也。肉豆蔻之仁如檳榔子。香氣佳。味苦。白豆蔻者。去草豆蔻之皮之物也。此四種。葉皆似良薑。故不易辨云。</p>
<p>調製法　去皮將實火後兩手碎之。</p>

<h1>草豆蔻</h1>
<p>鑑別法　大抵除其果殼。色淡而有光澤。形大者為佳。暗褐色者。破碎者。不良之物也。</p>
<p>調製法　破子殼為二。棄其殼。而取其中之仁。入於布袋。用手強揉去其皮膜。稍稍炒後。兩手碎之。</p>

<h1>蒼耳草</h1>
<p>鑑別法　陰乾其莖與葉。色青青而新者為佳。</p>
<p>調製法　刀切之。或兩手碎之。</p>

<h1>蒼朮</h1>
<p>鑑別法　外皮呈茶褐色。橫斷面呈黃白色。處處有赤褐色之油點。氣味苦辛芳烈。肥而重。多膏者名曰古蒼。上品也。無膏者名新蒼。又名新山蒼朮。下品也。切後放置。有白衣者無用。</p>
<p>調製法　火炙後切之。新蒼又名焚蒼。梅雨之時。燃火薰之。可除室內濕氣。</p>

<h1>相思子</h1>
<p>鑑別法　形狀似赤小豆。質堅。色一半黑。一半赤。黑赤判然。有光澤而鮮明者為上。黑赤不能判然分明者。或變為鮮紅色者紅紫色者劣品也。</p>

<h1>三稜</h1>
<p>鑑別法　色帶淡灰。質重。下端有鉛筆之削口。其稜全體恰如鮒者。形小者為佳。色呈暗色者無用。本品生於隨處水澤中。其名稱因草莖起三稜故。</p>
<p>調製法　浸於水中。夏令五日。冬令七日。壓而切之。</p>

<h1>山奈</h1>
<p>鑑別法　色白肥厚而新者為良。</p>
<p>調製法　水浸三四小時。取出入籠。滴其水分。兩手碎之。</p>

<h1>山藥</h1>
<p>鑑別法　除其粗皮。色白而滑。質重而形大者為上。帶青黑色者。或蟲蝕者無用。</p>
<p>調製法　火後壓切為小角。或研為粉末。供配伍散藥用。</p>

<h1>山楂子</h1>
<p>鑑別法　粒大而呈赤色者為上。暗黑色者。碎而小者無用。</p>
<p>調製法　浸於水中數小時。取出置籠中。滴下其水分後。以兩手碎之。在急要之時間。不浸水中。即用兩手碎之亦可。</p>

<h1>山椒</h1>
<p>鑑別法　成熟之果。破其殼為兩片。呈赤褐色。形大。味辛。香氣高而新者為上。經過年月。變為暗紫黑色。而氣味已脫者。果殼之閉者。品之種子多者無用。</p>
<p>調製法　以前之法。除其果梗及黑皮。用其分為二片之果殼。今則用兩手碎之。</p>

<h1>山茱萸</h1>
<p>鑑別法　色相為紫黑色。有酸味與澀味。色澤潤者為上。陳久者。肉少者無用。</p>
<p>調製法　從前除核用之。今則兩手碎之。</p>

<h1>山梔子</h1>
<p>鑑別法　皮薄。有七條乃至九條之稜線。圓而呈赤黃色者上品也。此名圓梔子。其較大者。形細長。呈黃色者。名黃梔子。次品也。其採取於久雨連綿之際。色黑或腐朽者。或陳久者均無用。</p>
<p>調製法　兩手碎之。或水浸後切之。</p>

<h1>酸棗仁</h1>
<p>鑑別法　扁圓形而赤色之仁。粒大者為上。陳久者。已變暗赤色者劣品也。又其初色相甚佳。因沾吸濕氣。日光中曬乾後。亦要變為暗赤色。宜十分注意。</p>
<p>調製法　兩手剔去其微塵用之。</p>

<h1>蠶沙</h1>
<p>鑑別法　蒼黑色呈顆粒狀之乾燥蠶屎。表面有六條之深縱溝。其聲砂砂者為上。</p>
<p>調製法　即用或研粉用之。</p>

<h1>龜甲</h1>
<p>鑑別法　以活龜之甲背為上。死後所取者無用。又有腹甲者。俗稱龜板云。</p>
<p>調製法　火後切之。從前用酒醋塗後。就焙乾。再塗以酒醋。再行焙乾。如此五六回。然後研粉用之。</p>

<h1>杏仁</h1>
<p>鑑別法　上端尖。尾端圓。如心臟形。扁平而肥厚。仁白粒大者為上。</p>
<p>調製法　與桃仁同法用小刀橫切為二。</p>

<h1>薑黃</h1>
<p>鑑別法　肥而圓。內面帶黃赤色者為良。細長者薄而如竹刀者非良品也。</p>
<p>調製法　火炙暖。壓而薄切之。</p>

<h1>羌活</h1>
<p>鑑別法　自古以來。羌活即系獨活之論。為數甚多。就今日考之。未可即為定論。近頃市場之羌活。色帶光澤。外皮呈紫黑色。縱有皺紋。彎曲如蛇形狀。隔一二寸有節。橫斷面之中心。有白色之木心。其周圍皮部呈暗褐色。此其一種也。又有並無光澤。呈黑褐色。外皮處處有點狀之隆起物。無節。橫斷面之皮部。白色上有褐色之油腺者。此又一種也。要之種類雖繁。總以有光澤而外皮呈紫黑色有節者為上。近來出數甚少。日本產者。外部微帶青色。內部呈白色。大者如小指。形如棒。此為最上等。其大者苟質地緻密。亦佳。</p>
<p>調製法　火暖後。大者從縱間切斷之為二條或四條。再以小刀切為二分長。製劑用者。以兩手剔去其微塵。</p>

<h1>菊花</h1>
<p>鑑別法　秋間開花之際。採集甘菊之花而陰乾之。以黃色多瓣色極新。嵩高者為上。野菊花或苦薏等苦味之花。或陳久之花。均不佳。</p>
<p>調製法　去萼離瓣用之。</p>

<h1>桔梗</h1>
<p>鑑別法　形狀似沙參。少分歧之枝根。外皮褐色。內部白色。有滋味。大而一棵直立者為上。此名帶皮桔梗。其曬後呈純白色者稱曬桔梗。</p>
<p>調製法　浸於水中十五六分時間。壓而切之。或火炙後切之。</p>

<h1>枳殼</h1>
<p>鑑別法　形不過大。呈黑青色者為上。</p>
<p>調製法　水洗入籠。滴去其水分。乘其質軟時切之。</p>

<h1>枳實</h1>
<p>鑑別法　大如新式棋子。肉外泛。皮部厚。帶青黑色。有苦味辛味。火炙切後。其切口呈淡小豆色。有鱉甲狀之光澤者為上。如切口呈暗黑色。或呈青色。或呈黃色。形小如無患子者。次品也。價值以陳者為昂。極新之品。切口現青色。稍稍經過月日者。切口呈黃色。價亦不昂。若經過年月而切口呈暗黑色者劣品也。</p>
<p>調製法　皮面向上。肉質面向下。火炙之。在其香氣出時。試切之。切時覺甚便當者。即全部一一薄切之。</p>

<h1>橘皮</h1>
<p>鑑別法　黃橘之皮。呈黃色。肌細。有苦味。形狀良者。上品也。陳久者劣品也。</p>
<p>調製法　以兩手剔其微塵用之。</p>

<h1>金銀花</h1>
<p>鑑別法　花瓣之上端呈黃褐色。基部呈赤褐色。乾者為上。成粉者。有藁屑者無用。</p>
<p>調製法　隨意用之。</p>

<h1>榆白皮</h1>
<p>鑑別法　去粗糙之外皮。而用其內皮為佳。</p>
<p>調製法　遇濕氣則損品質。宜火後切之。</p>

<h1>熊膽</h1>
<p>鑑別法　選色黑而有光澤。有焦臭性。感濃苦味。試以白色之茶碗。盛清水一杯。以半粒胡麻大之熊膽。置入碗中。見其浮於水面。旋轉迅速而不休止。在迴旋之際。漸漸溶小。終於忽然消失者。真品也。旋轉之時。迴旋遲緩。或暫時停止。或雖旋轉迅速而不悉溶。或浮於水面而不旋轉。或浮在水面時。水底下有一道之黃線者。均劣品也。因除熊膽外。其他之獸膽。亦能旋轉。但不及真正熊膽之旋轉之速耳。又可以清水盛於他器中。在其水面上撒以微塵。而以米粒大之熊膽滴下。見微塵在其左右如絲如線下於水底。其線不散者。亦真品也。</p>
<p>其味純苦而無雜味者。良品也。初入口甘而後覺苦。或初不苦而後苦。或苦而淡者。或帶甘味者。或其味覺不快者皆系劣品。惟初甘後苦之物。雖屬劣品。但無良品可選時。亦可以用。現今市場中價格之高下。即視味之良否而定。</p>
<p>其色系漆黑色。而放光澤者為佳品。否則劣品也。</p>
<p>其氣味有焦臭氣者良品也。有血腥之氣味或帶腐敗之臭氣者下等品也。</p>
<p>又坊間有琥珀狀熊膽者。呈透明之黃赤色。有光澤。極苦而無雜味。在水面上迴轉迅速。入口即溶而不黏。此亦良品也。</p>
<p>熊膽之真偽。凡富於經驗之人。雖置無數之物品於前。一見即能辨明。總之贗物之外皮。必帶煤色之黑色。內面黑色。枯而無光。其質堅硬。或味雖苦而覺淡。或帶不快之味。此以黃連黃柏當藥等煉成之者也。又有雖苦而其中雜有細小之碎片者亦贗品也。</p>
<p>調製法　水溶解。溫湯煎服之。丸藥以水溶化。去其皮與滓用之。不能入煎劑中煎服。</p>

<h1>密陀僧</h1>
<p>鑑別法　以淡黃色之銀密陀僧為良品。帶赤黃色之金密陀僧為下品。均可供藥用。鉛色銅色之密陀僧無用。</p>
<p>調製法　紙包以鐵槌細碎後。入鍋注水煮之。然後就日光中曬乾貯之。</p>

<h1>密蒙花</h1>
<p>鑑別法　淡褐黃色。花序不碎。味甘者為良。</p>
<p>調製法　兩手碎之。</p>

<h1>明礬</h1>
<p>鑑別法　不帶白色之粉霜。成透明而大之結晶者為上。此名透明明礬。其重疊如塔狀者。名塔狀明礬。礬石即燒明礬之物。結晶後。除其水。而成枯礬、巴石、燒明礬等名稱者也。取其色白而嵩高。分量輕者為上。帶暗色者。或碎而已吸引濕氣者無用。</p>

<h1>雌黃</h1>
<p>鑑別法　石雌黃有如金之黃色。有光而軟者為上。帶黑色者無用。</p>
<p>調製法　臼中搗粉用之。</p>

<h1>蒺藜子</h1>
<p>鑑別法　黃褐色之菱形。質重者為上。</p>
<p>調製法　刺之焦者。炒後。在藥研邊緣研去其刺頭。壓切之。如藥用之目的。為恢復盲者視力。則宜研粉用之。（食後服用一方寸）</p>

<h1>鐘乳石</h1>
<p>鑑別法　形狀如指。色相如飴。稍帶赤味。中央有孔通者為上等。過長者。或質粗者。或內部無孔者無用。又其物恰如烏之羽莖。透明而中空虛。質輕者。稱鵝毛管石。亦上品也。</p>
<p>調製法　現今用石臼搗碎。使用於煎劑中。從前據本草序例云。</p>
<p>凡用鐘乳石等諸石。以玉槌水研。三日三夜漂練。務令極細。</p>

<h1>常山</h1>
<p>鑑別法　小者採小木之根。呈黃色者為上。其葉稱蜀漆。又名土常山。另有一種。其葉稱甘茶。可為甘味之劑。從前往往附加於醬油中。凡呈暗黑色之收縮干葉。而無屑片。味甘而多新氣者為上。</p>
<p>調製法　火後切之。</p>

<h1>紫菀</h1>
<p>鑑別法　外部紫色。內部白色。有無數之細長根附著。軟而能彎曲者為上。</p>
<p>調製法　火後切之。</p>

<h1>紫根</h1>
<p>鑑別法　外部紫黑色。內部有白色之肉。即皮部厚者為良。皮部薄者。僅可作染料之用。</p>

<h1>紫蘇葉</h1>
<p>鑑別法　俗稱縮緬紫蘇。或稱花紫蘇者。其表裡均呈紫色。在未開花前。採集其葉之大者陰乾之。以香氣高。軸大或無屑片混合者為良。陳久者。採集時。片面青而他面紫者。兩面均青者。無用。</p>
<p>調製法　水洗入籠。滴去水分。軟化後。壓而切為二三分長。</p>

<h1>紫石英</h1>
<p>鑑別法　呈紫色。成透映之結晶形。形正而大者為良。</p>
<p>調製法　火燒赤。取出浸於醋中。水溶之。</p>

<h1>使君子</h1>
<p>鑑別法　兩端尖。有五條稜線。色黑褐。形大。內部呈白色。有油氣而色新者為上。</p>
<p>調製法　壓為二三分之厚切之。</p>

<h1>麝香</h1>
<p>鑑別法　全形者稱臍麝香。其直徑大約一寸。亦有稍長而大者。其外面有多多之毛之皮包之。色帶淡褐。此上等也。毛白者下品也。形正圓者扁平者。壓其外面。覺內容充實。不硬不軟。有抵抗力。取出其內容。覺有乾燥之細末。香氣強烈。比之普通麝香。香氣之刺戟強者為良。麝香以香氣之強弱為證。香氣少者。不良品也。內容軟而潤者不良品也。取出其內容有皮者。名皮麝香。</p>
<p>調製法　切開其皮。取出內容。乳缽細研後。入小瓶中儲之。</p>

<h1>商陸</h1>
<p>鑑別法　山牛蒡之根。切二三寸長。薄如板狀。乾燥之。以灰白色而幅廣大者為佳。帶暗色者無用。</p>
<p>調製法　火炙縱切其幅為五分。如浸於水中而切之者。其色大變。變為不良。</p>

<h1>松蘿</h1>
<p>鑑別法　生時色青白。干後成白色。形長者為佳。</p>
<p>調製法　切之。</p>

<h1>松脂</h1>
<p>鑑別法　黃色或淡黃褐色。塊大者為上。成粉而帶暗色者無用。</p>
<p>調製法　研粉用之。</p>

<h1>升麻</h1>
<p>鑑別法　外皮紫黑色。內部有淡褐色之羅紋。肥大者為上。從此根所生之莖。其附著之葉如秋海棠而有鋸齒。一如鬼臉者名鬼臉升麻。形瘠而小。外皮呈黑色。內部為青白色者名雞骨升麻。次品也。</p>
<p>調製法　水浸一日半。待其充分軟後。壓而薄切之。其大者先縱切為二條或四條。更橫切之。</p>

<h1>菖蒲根</h1>
<p>鑑別法　從前用石菖蒲之根。現今市場中悉用端午日白菖蒲之根。形大。外皮青色。內部白色。香氣強而新者為上。</p>
<p>調製法　壓而薄切之。</p>

<h1>生薑</h1>
<p>鑑別法　發育肥大。內部有白味。味辛而香氣好。色新之母姜為上。帶暗色者。細而瘠者。根者。均無用。</p>
<p>調製法　火炙暖。壓而用小刀平平薄切之。或兩手碎之。</p>
<p>在處方之終。往往有生薑幾片云云。每片以若干重若干大。古來均無一定。從奇效醫術載一片之重。為二分五釐以來。世間亦未有人提出異議者。</p>

<h1>青皮</h1>
<p>鑑別法　表面呈暗青色。青色強。裡面海綿組織之部分呈白色者。氣味新者為上。</p>
<p>調製法　浸於水中。取出入籠。暫時放置後。切為一二分。</p>

<h1>芍藥</h1>
<p>鑑別法　冬令掘其根。不去其皮。就日光中乾燥之者名生干。所謂赤芍者。即其大如指。肥而硬。外皮帶淡紅色。內部呈白色之物也。以形長如棒。味苦而澀者為良。形細者。短折者。內部變褐色者。蟲蝕者均無用。所謂白芍者。在冬令採掘其根時。即除去其粗皮。投入沸湯中煮沸之。其湯呈黑色。取出後曬乾之物也。其效力比之赤芍較弱。</p>
<p>調製法　置在鐵網之上。下用火暖之。軟後壓切為一分左右之薄。</p>

<h1>赤小豆</h1>
<p>鑑別法　藥用者須貨品極新。粒小。呈暗黑色。有光澤者為上。陳久者。蟲蝕者。無去腫病之水氣之力者也。</p>
<p>調製法　盡煎用之。不能銼入。</p>

<h1>赤石脂</h1>
<p>鑑別法　有角性之不整塊。易碎。以爪磨之。能放光澤。以舌砥之。無土臭之味。內部呈淡紅色者為良。外部淡紅色。內部白色者無用。白石脂則宜色白者為是。</p>
<p>調製法　現今細碎水溶之。從前碎後浸於醋中。火燒後水溶之。</p>

<h1>蛇退皮</h1>
<p>鑑別法　銀白色之光澤。有圓筒狀菲薄之皮膜。曝於雨露者為上。</p>
<p>調製法　炒為粉。或煏為灰用之。</p>

<h1>蛇骨</h1>
<p>鑑別法　所謂蛇骨者。系古代之大樹。埋沒於地中。木心殘剩為化石者也。形狀如大蛇。叩之發礦音者為上。</p>
<p>調製法　研為粉。用為撒布於損傷之部。</p>

<h1>車前葉</h1>
<p>鑑別法　帶青味之大葉。嵩高者為上。</p>
<p>調製法　輕輕注以如露之水。軟後除其葉柄。疊而切之。</p>

<h1>草前子</h1>
<p>鑑別法　黑褐色而有光澤之長橢圓形之種子。質重而能沉於水中者為上。帶褐色而無光澤者無用。</p>
<p>調製法　稍稍炒。粉用之。</p>

<h1>蛇床子</h1>
<p>鑑別法　似小茴而較短小。味辛類荊芥。有香氣者名真蛇床子。良品也。然一般之蛇床子。形如米粒。有毛茸。此竊衣子也。</p>
<p>調製法　真蛇床子。稍稍炒用之。有毛茸者。日光中乾燥後。置臼中搗去其毛。炒後用之。</p>

<h1>沙參</h1>
<p>鑑別法　長圓錐形。外部淡黃色。內部呈白色。上部肥大之部分。直徑有六七分者為上。帶暗色之老朽根。或形細者無用。</p>
<p>調製法　水洗後。取出置籠中。軟後切之。</p>

<h1>戎鹽</h1>
<p>鑑別法　從前在青州產。談青色骰子形之青鹽。堪供藥用。其後以荷蘭人輸入無色透映之光明鹽代之。亦有用夾雜酸化鐵之淡紅色之桃花者。</p>
<p>調製法　隨意用之。</p>

<h1>縮砂</h1>
<p>鑑別法　除其果殼。呈暗褐色。形橢圓而大者為上。色暗黑而易碎者次品也。現今市場中之物品。大部分無色相。表面往往塗以白粉者。又有附皮縮砂者。以形大內部有果實之集團者為良。</p>
<p>調製法　兩手細剖之。</p>

<h1>辰砂</h1>
<p>鑑別法　形大質重。鮮硃色者。名大辰砂。上品也。細者劣品也。</p>
<p>調製法　研磨磨為粉末。水溶之。</p>
<p>辰砂不加入煎劑中。俟他藥煎煮後。將漉濾濾其液。衝入煎藥汁中服用之。</p>

<h1>辛夷</h1>
<p>鑑別法　正月間開花前之花蕾。內部充實。形大者為良。</p>
<p>調製法　除其外部之苞及毛茸用之。</p>

<h1>秦艽</h1>
<p>鑑別法　有羅紋交相糾繞。狀如細絲。色黑味苦者為良。日本產者系另一種之植物。羅紋直上。並不交糾。大而長者為良。</p>
<p>調製法　洗淨後。浸於水中十分鐘。切為小角塊。</p>

<h1>真珠</h1>
<p>鑑別法　藥鋪中販賣者有下列諸種。（惟日本人能辨之）</p>
<p>伊勢真珠　藥用亦可為裝飾用。形正圓而粒大。發銀色之光輝者為上。金色者次之。</p>
<p>水戶真珠　藥用者屬於上等之部。形極圓。白如銀色。有光澤者為上。</p>
<p>志摩真珠　供普通藥用。色白粒小。以極圓者為上。粒大而色帶黑味者。不正圓者價廉。</p>
<p>此外尚有小芥子、琉球、北海湖水等名稱云。</p>
<p>調製法　絹包入豆腐之中。煮後搗碎為粉。</p>

<h1>萆茇</h1>
<p>鑑別法　黑褐色粒狀之果實。集團無數。有一寸左右長之複果。香氣與辛味均烈。色新者為良。細小者無用。</p>
<p>調製法　湯中充分洗過。切後陰乾之。</p>

<h1>萆薢</h1>
<p>鑑別法　質軟者為上。又原植物之莖無刺者。則其根軟。刺之根色白而硬者無用。</p>
<p>調製法　去皮火後切之。</p>

<h1>枇杷葉</h1>
<p>鑑別法　採取枇杷樹上極大之葉。陰乾後。以帶色青而新者為上。</p>
<p>調製法　生葉切為直二分左右。如葉已乾燥者。宜注以如露如霧之水。暫時放置。然後切之。在盛夏暑氣時用之。</p>

<h1>蓽澄茄</h1>
<p>鑑別法　暗黑色形大而新者為良。</p>
<p>調製法　浸於酒中。蒸後用之。</p>

<h1>白豆蔻</h1>
<p>鑑別法　此有除殼與不除殼二種。市場所售。大抵為帶殼者。以圓而肥。色淡者為良。帶暗色之果殼殼已破者無用。</p>
<p>調製法　去果殼與粉。稍稍炒用之。</p>

<h1>白檀</h1>
<p>鑑別法　白檀有三種。頂上者名老山檀。木大而直。兩端之切面。以黑紙貼之。表面有塗以朱者。質脆而香氣強者。為老山之特徵。最劣者名新記。亦稱普通白檀香氣弱而感甘味。質有黏氣。與老山之香氣。完全不同。又有一種不屬新記。亦非老山。品位介於兩者之中者。名地門。亦名間山。</p>
<p>又有印白檀者。谷稱和檀。系日本人取茂木而假造之者也。</p>
<p>調製法　用刀劈之。</p>
<p>白檀劈出後。凡黃褐色而多油氣。香氣強者為上品。淡黃色而油氣少者。易碎而香氣弱者。且容易燒過者劣品也。</p>

<h1>白蘞</h1>
<p>鑑別法　如烏梅而圓。大如雞卵。外皮紫黑色。內部白色。味苦者為良。</p>
<p>調製法　火後切之。</p>

<h1>白芨</h1>
<p>鑑別法　肥而色白者為良。</p>
<p>調製法　水洗後。壓而切之。</p>

<h1>白殭蠶</h1>
<p>鑑別法　色白而形直。質硬者為良。</p>
<p>調製法　水洗後。暫置之。待軟。將其腹內之絲狀物。就口尾抽出之。又有水洗後即炒而用之者。</p>

<h1>白芷</h1>
<p>鑑別法　有細長之枝。富芳烈之氣味。呈純白色而新者為良。過大者有蟲穴者無用。</p>
<p>調製法　暫浸於水。將細者壓切之。大者視其程度。斷切為縱二段或四段。再行薄切之。其極大者。橫為三四分長。再從縱間薄切之。急要之時。火後切之。</p>
<p>本品非常易遭蟲蝕。在梅雨季節前即宜用箱密閉儲藏。即入樟腦。直至秋令為度。</p>

<h1>白朮</h1>
<p>鑑別法　根白而柔者。稱三好白朮。良品也。筋多而堅者。名嫩根白朮。下品也。總之以新者為上。凡有蟲穴者。陳久而變褐色者均無用。又古昔有云頭朮、雞腿朮、狗頭術諸名稱。視其形態而異其命名者也。</p>
<p>調製法　水洗後。取出入籠。滴去其水分。火炙之。稍壓而切之。又其始即火炙而切之者亦佳。處方中有「雪白朮」者。此並非經雪之謂。乃甚言其雪白之意也。</p>

<h1>蓖麻子</h1>
<p>鑑別法　有銀白色之斑點。呈黑褐色橢圓形之種子。富有油分。質重者為佳。</p>
<p>調製法　去殼稍稍炒用之。</p>

<h1>檳榔子</h1>
<p>鑑別法　形如扁平球。有澀味。質堅硬者。名大腹檳榔子。上品也。稍長如卵圓之形。頭尖者。名山高檳榔子。次品也。總之要外部呈淡褐色。內部有白之紋理。未經蟲蝕。腳部無凹凸之穴者為上。</p>
<p>調製法　火熏暖。切之。又或削為纏卷。若用浸於水中之方法。則其色相必損。</p>

<h1>沒藥</h1>
<p>鑑別法　沒藥有二種。供藥用之煉沒藥。大抵無琥珀之色。現今多用似乳香之黃黑色或汙褐色之不整塊物。微放香氣。味苦。無砂石木片等夾雜者為上。花沒藥無香氣。破折面呈顆粒狀。成脆而半管狀之堅塊。新鮮者呈淡赤色或赤褐色。經過月日。從暗褐色變為黑色。以新而不碎者為上。</p>
<p>調製法　與乳香同。</p>

<h1>木香</h1>
<p>鑑別法　形態如久曝於雨露之枯骨。外面淡褐色。內部灰白色。硬如角質。實質中味苦者為上。若內部黑而朽。且空虛者。多砂利與片者無用。</p>
<p>調製法　浸於水中。夏令五六小時。冬令一夜。取出滴去其水分。細細薄切之。大者從縱間切為二條或四條。更橫切之。然後就日光中充分乾燥之。</p>
<p>用為賣藥之製劑原料者。先粗雜切之。然後兩手碎之。</p>

<h1>木鱉子</h1>
<p>鑑別法　扁平鈍三角形或橢圓形之種子。邊椽呈小半圓形之深深之缺刻。形似鱉。帶綠色。其中仁大者為上。</p>
<p>調製法　除殼稍稍炒後。去其油分用之。</p>

<h1>木賊</h1>
<p>鑑別法　淡黃色大而長之物。成一束者為上。經月陳久。或置於日光。直射之處。變為帶赤色者。均不適用。</p>
<p>調製法　切其節火後切為二分長短。</p>

<h1>木通</h1>
<p>鑑別法　皮厚。外部黃褐色。似黃蓍形棒狀之物。橫折面黃白色上。有直徑三四分乃至一寸左右車軸狀之紋理。縱間有細孔。一端吹之。他端出氣。味苦者為上。日本產者形如防己。外部有灰色之皮。內部有褐色菊花狀之紋理。此名帶皮木通。去其皮而全有其白者。名曬木通。已切者名丸木通。粗雜之物。再以兩手碎之者名押木通。大抵直徑有六七分者為佳。</p>
<p>調製法　切後盡配劑用。</p>

<h1>木瓜</h1>
<p>鑑別法　外面赤褐色。內面淡褐色。形大而無蟲穴者為良。暗黑色者無用。</p>
<p>調製法　浸於水中。冬令一晝夜半。夏令一夜。取出放置籠中。俟其水分滴去。火熏之。縱斷為二片。更薄切之。</p>

<h1>青黛</h1>
<p>鑑別法　身分輕。色呈紫黑者良品也。身重而呈黑色者。有土砂者無用。</p>
<p>調製法　碎後水溶之。去其渣與土砂而後用之。</p>

<h1>青礞石</h1>
<p>鑑別法　礞石有二種。色呈青黑。打破之。其中有白色之銀點。火燒之。則其中之白點變黃者曰銀礞石。此為供藥用之良品。色黑而有金星者名金礞石。下品也。</p>
<p>調製法　細碎之物。加同量之硝石。入於炮烙之鍋中。且以其他同樣大之鍋覆之。其接合處塗以土。火燒後。放置於冷處。冷後以乳缽研粉水溶之。</p>

<h1>椒目</h1>
<p>鑑別法　色黑而身分重者為良。</p>
<p>調製法　炒為粉用之。</p>

<h1>小豆蔻</h1>
<p>鑑別法　長圓形。色純白。肥厚。皮殼之表面。有淺之縱筋。香氣高者為上。尖端與下端純稜線之部分。縱筋尤多。又呈暗黃色者。皮殼表面之縱筋極深。香氣與前大異者劣品也。</p>

<h1>小茴香</h1>
<p>鑑別法　粒大而呈黃褐色。有香氣者為是。帶暗色之陳久物者無用。日本信州產者。粒較小而帶青味。香氣亦強。較諸國產勝矣。</p>

<h1>石膏</h1>
<p>鑑別法　有蠟狀之光澤。有白色透明之層之塊片。一節之間約二三寸。縱間有束針狀之紋理。質軟者為上。硬者無用</p>
<p>調製法　石臼中搗碎。在篩中篩除其粗大者用之。從前調製之法。以同樣大之炮烙鍋二隻。相合之。中入石膏。置於火上。上置炭火。約一時候。（今二小時）除火。冷後。敷於紙上。在土上放置一夜。全冷後供藥用。</p>

<h1>全蠍</h1>
<p>鑑別法　小而緊。形態完全者為上。足已脫離者。形亂者下品也。乾燥品呈藍青色。鹽浸者變淡灰色。全蠍以蟲之身體全部完全而名。而效力多集於尾部。名蠍梢。</p>
<p>調製法　鹽浸之物。宜用水充分洗去其鹽分。乾燥後火炙剖之。</p>

<h1>硝石</h1>
<p>鑑別法　色白結晶。大而不濕者為上。帶暗色者。細者無用。</p>
<p>調製法　盛於土器中火上熱而溶融之。冷後凝結。碎用之。</p>

<h1>石葦</h1>
<p>鑑別法　人跡斷絕之山中生於岩石上者為上。</p>
<p>調製法　去其葉背之毛。火後切之。</p>

<h1>石決明</h1>
<p>鑑別法　有九穴者名九孔。上等品也。非九孔者不能供藥用。</p>
<p>調製法　與米泔汁同煮。約二小時。除去貝外黑之部分。碎用之。又以水小麥粉捏石決明於其中。埋於熱灰中。煨後除去小麥粉與外部之黑者。粉用之。</p>

<h1>石斛</h1>
<p>鑑別法　用其生於石上之莖。質硬根白者為上。根黑者。生於木上者無用。</p>
<p>調製法　去根火後切之。</p>

<h1>川芎</h1>
<p>鑑別法　球形或長圓形之塊狀根。外皮黑褐色。內部黃白色。形大。氣味辛烈者為上。</p>
<p>調製法　火炙軟。試切之。內部呈黃色。如鱉甲之狀半透明者。合度矣。其大者縱二切或十字切。更細切之。</p>

<h1>穿山甲</h1>
<p>鑑別法　褐黑色而有光澤。無蟲蝕者為上。以剪刀剪開者。祗須形大。亦可。</p>
<p>市中有剝甲後長埋地中。使皮部腐朽。而鱗不變化。後日掘出。洗去其土氣。干曬之。其土帶為淡灰色者。</p>
<p>調製法　火炙暖而軟之。細切之。用藥研充分研為細粉。以一小匙衝於開水中服之。可以促乳之分泌。</p>

<h1>蟬退</h1>
<p>鑑別法　蟬之脫殼。故又稱蟬蛻。民間之中耳炎者服用之。集其附著於上者。色呈茶褐。有光澤。具備全形者為良品。帶土氣者下品也。</p>
<p>調製法　浸於湯中洗去其土氣。去其頭、足、翅等。火後粉用之。</p>

<h1>旋覆花</h1>
<p>鑑別法　黃褐色而有新意者為良。</p>
<p>調製法　用其花瓣。</p>

<h1>前胡</h1>
<p>鑑別法　外部黑色。內部黃白色。緊札而身長者良品也。極肥大者。過細者無用。</p>
<p>調製法　洗去土氣。壓而切之。</p>
