<header data-type="book">
<h1>乘桴醫影</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王士雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1862">公元1862年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>余於乙卯冬，載硯歸籍，嘗輯《歸硯錄》以見志。友人時招余遊滬，輒為事阻，未得果行。庚申秋，渟溪被難，後諸相知招遊甬、越、武林。余謂：必爭之地，完善之區，繁富之鄉，我能往，寇亦能往，何必多此跋涉耶？悉卻之，意欲乘桴海上，法聖人之居九夷，而季傑、性癡、若蕖相繼病危。蓋季傑神氣素怯，驚嚇感邪，病未解而正氣散漫，不能自持，余以攘外安內治之。性癡善憂多郁，氣機澀，伏邪遂得依山傍險而負固不解，余但舒其鬱結，消其憂懣，徐為疏瀹，邪亦潛消。若渠弱而好俠，嫉官兵之無用，憤寇氛之日張，怒木直升，發沖眥裂，柔金失降，胃閉津枯，一息懨懨，舌尖焦硬，飲難下咽，聞藥即嘔，肌消音微，涎流腥赤，自知不起，無藥可投。余以毫無氣味、性極平淡之西洋參、枇杷葉、石斛、蘆根、竹茹、鮮稻頭煎而頻灌，始漸轉機，迨二病痊可，又為次女嫁事所羈。既而彤彤徂暑，畏於登程，且挈眷以行，談何容易，孑身而往，誰託事孥？展轉思維，殊無善策。承呂君慎庵招遊濮院，遂乘舟前往，寄廡於董君枯匏家，閉戶忍飢，草《飲食譜》、《雞鳴錄》二書，以擄憂悃。甫脫稿，而渟溪復遭焚掠，季傑挈眷徒於窮鄉，山妻攜四女來濮。嗣杭垣復陷，洲城亦潰，天崩地裂，無路可行，急將三、四二女，擇攸遣嫁。而四女所歸姚氏，世居嘉興之僻鄉，慎庵已挈眷避此，故為我謀此退步也。四月十三日，賊過梅涇，闔鎮皆逃，余遂送山妻及五、六二女於姚氏，而陳君半樵適以信來，招遊滬瀆。有桐廬王文介者，病危於屠甸，神昏遺矢，醫皆卻走。宗侄紹武飛函丐余往視，乃溫邪誤表也，幸體堅邪有下行之路，與大劑涼解而瘥。紹武亦慫恿遊滬，因於二十四日，托妻孥於姚、呂諸君而行，五月初三日抵滬。此地曾遭兵燹，不但滄海漸變桑田，中原宛如外國。二十年來，開闢日甚，商舶鱗集，而江浙之倖免於難者，率避於此。帆檣林立，踵接肩摩，彈丸小邑，居然成一大都會矣。余以性情疏懶，相識者多，既無泛應之才，又恐不知者疑為有求而來也。故不謁一客，暫寓東門外周君採山「德泰紙號」內，以半樵、紹武皆在此佐會計。而周氏昆仲，向以青眼視我，雖市廛紛沓，藉省旅資，惟採山四令弟履慶，去年患病，盼余甚切，至彌留時，猶道余不置口，余為酷熱，不能行，不料其英一病而不起也，神交數載，竟無一面之緣，清夜捫心，徒呼負負。居數日，乞診者紛紛，聊記一二，用質宗工，題曰「醫影」，而序其「乘桴」之由如下。</p>
<p><u>同治元年夏五月海昌睡鄉散人題於申江寓次</u></p>
<p>陳君春泉之令愛，甫三齡。患寒熱脹瀉，醫治多日，頸軟肢搐，涕淚全無。以為延成慢驚，試以溫補，神識漸至不清。又疑邪氣逆傳，灌以犀角等藥，病日劇，遂束手。速余勘之，乃飲食不節，脾胃不調耳。春泉始悟前因失恃無乳，常啖龍眼、棗脯等物以滋補也。余以雞內金、五穀蟲、鱉甲、川樸、黃連、竹茹、冬瓜皮、防風、米仁、蘆根等為方，一劑知，數劑愈。</p>
<p>童少塘之子，五歲。患瀉，身熱，醫與溫中健脾藥，熱壯無溺，苔黑齒焦，口渴無眠，漸至嘔吐。余用芩、連、茹、滑、銀花、石斛、綠豆衣、冬瓜皮、蘆根等味，數劑霍然。</p>
<p>沈寅甫令正，患少腹聚氣，痛無定所，甚至渾身筋骨痠痛，寒熱如瘧。醫謂外感，治之日劇，眠食皆廢。余按脈微數而弦，重取極細，乃八脈大虧之證。經予一貫煎加減，投之旬余而瘳。</p>
<p>倪笠坪患感旬余，屢醫不效，邀余往勘，乃濕溫證也，投藥十劑而痊。乃弟筱坪亦病此，服藥數劑，已有小效，更醫用柴葛三帖，勢漸劇。復請視，囑曰：此名重暍，氣液二傷矣。授輕養清化法，甫得轉機。又易醫，驟進生地、龜板等味，而痰濕膩絡，呃汗陡作，乃浼王小鐵孝廉邀診，已不能措手矣。嗣有黃上水孝廉來申，患濕溫，醫與柴葛二帖，足冷麵紅，胸痞多汗。延診授清化法二帖，足溫面赤退矣，惟胸悶未得全舒，疑為有疹不達，更醫迎合，二進辛透，遂痰塞欲厥而亡。</p>
<p>錢儀華體弱患感，醫治多日，目瞪神呆，不眠不食，不便不言，肢痙流涎，牙關咬緊，危象畢呈矣。余察脈弦長而滑，不甚鼓指，苔色黃膩，良由醫者不辨病之在氣在血。初起則升透，繼因譫語，即用生地等血分之品，以滋塞其邪，遂成負固不解之勢，雖便秘多日，而邪尚在上，不可下也。授小陷胸加茹、薤、菖、樸、芩、翹、竹瀝為方，數服便行而愈。嗣有倪某，亦因誤治如前，而咳逆葉沫，間或帶血，予小陷胸合葦莖，去米仁，加王不留行、蒲公英、雪羹，數帖，下其燥矢，咳逆平而愈。</p>
<p>丁曉山室，久患頭痛，臥榻不起，耳鳴睛赤，食減無眠，頻年培補，證日以加。乃兄黃純安請往視之，脈弦滑而數，口苦苔黃，乃風自火出，搏液成痰，溫補誤投，遂成錮疾也。予芩、連、膽、柏、茹、夏、羚、菊、梔、蒺、地丁、石斛、決明、海䖳等，十餘劑，勢大減，苔退加餐。加入二至、生地、大冬以滋水，漸安眠食，而能起坐矣。</p>
<p>洞庭吳某，患四肢痠痛，形瘦便艱，口渴不飢，睛紅溺赤，醫投滋養，即形脘悶，稍進辛通，煩渴益甚。就余診脈，弦滑而軟，是木熱流脂，肝陽爍液也。以元參、白薇、王不留行、地丁、蔞仁、鮮斛、昆布、紫菀、知母、竹瀝，服旬余而痊。</p>
<p>錢塘吳菊譚茂才令弟竹溪，在德泰權賬事，始患泄瀉。余知其蘊濕內盛，邪尋出路也，囑其節食忌口。渠持體堅，飲啖如故。已而身熱頭重，脘悶不飢，與清宣法，病即解，遂啖飯碗半。余謂：必復也。次日果不能食，熱壯麵紅，口渴苔黃，溺色帶黑，是邪得食助，悉從火化，所謂谷入於陰，長氣於陽也。遂予大劑清化，加枳、桔數劑漸瘥。而呃忒連朝，人皆危之。余謂：無恐也，府氣未通，上焦更有痰阻氣機耳。但用輕清展化，果痰吐便行以愈。</p>
<p>補擬清化方：淡豆豉、焦山梔皮、杏仁、桔梗、枳實、花粉、佩蘭葉、連翹、通草、瓜蔞、焦山楂、炒萊菔子。</p>
<p>補擬輕清展化方：旋覆花、紫菀、白前、橘皮、竹茹、柿蒂、黃鬱金、川貝、蔞皮、枳殼、鮮枇杷葉。</p>
<p>周君採山令妹，年二十三歲，體豐而患腿痠胸悶，上身壯熱多汗，頭痛畏風，腰下無汗，二腿不溫，苔色膩黃，渴須熱飲，脈來滑數，徹夜無眠，或疑其虛。余謂：痰阻氣鬱，吸受溫邪，兼挾濕滯，格拒不通，法當開降，既不可補，亦忌溫升。予芩、連、茹、夏、紫菀、蔞仁、蛤粉、滑石、川樸、蘆根等藥，數劑，渾身發斑，又數劑，冷痰始吐。再加石膏，痰由大便而下，垢苔始退，二足漸溫。適汛至，去芩、連、蔞仁，加枇杷葉，又三劑熱退，脈和，胸中舒暢，知飢能寐，授潛陽鎮補而痊。</p>
<p>肆安陳半樵，年三十五歲。患身熱，便瀉，口乾，仍強起任事，察其脈虛大而弦，是憂勞過甚，元氣大虧之證，幸而能食，亟與參、耆、苓、草、防、芍、木瓜、陳皮、石斛，旬日霍然，即旋里省親，逾月來申，患暑濕類瘧，予清化藥四帖而愈，但覺疲憊，仍以參、耆、柏、草等，培其本元。</p>
<p>仁和周鶴庭室，年逾四旬，陰虛有素，而多產育，竄難來申。懷胎五月，暑熱外侵，飢不能餐，飲亦欲噎，身熱時作，胎沖欲墜，苦渴苔黃，肢面時麻，便溏不暢，齦癰溺清，形削麵黧，標實中虛。以西洋參、銀花各三錢，連翹、西瓜翠衣各四錢，蒲公英、鮮斛各八錢，桑葉二錢，蘇梗、竹茹各錢半，絲瓜絡、白薇、石菖蒲各一錢，服三帖，得汗熱退，癰潰胎安，能食溺通而愈。</p>
<p>姚歐亭夫人，年五十九歲。素傷謀慮，首如戴帽，杳不知飢，夜來非酒不眠，苔色一塊白滯，時或腹痛，手心如烙，脈左弦數，右軟滑。乃木熱流脂，痰阻氣機，胃受肝乘，有升無降也。予連、夏、茹、苓、蛤殼、延胡、楝等，雪羹二帖，便瀉稍帶血塊，而腹痛減，首帽除，苔亦鬆泛，納食略增，惟晨起苦渴，改授參、蛤殼、橘、半、苓、茹、苡、斛、絲瓜絡、海藻，囑其常服，以通胃舒肝、滌痰清絡為善後法，服旬日右脈起矣。</p>
<p>歐亭二令愛，年二十八歲。幼年患四肢不舒，誤服靈砂等藥，遂成錮疾。今晡熱嗽痰，苔白而渴，齦腫而痛，頰癢便溏，是伏熱生風，兼挾暑感。予石膏、滑石、羚羊、桑葉、橘、半、茹、斛、功勞、絲瓜絡、西瓜翠等，不旬皆愈。</p>
<p>歐亭令孫，年十九。患膽怯善驚，精滑不固，鼻赤形瘦，舌絳口乾。以元參、丹參、生地、天冬、竹茹、連、柏、生草、砂仁、蓮子心、歸身等，數帖而安。</p>
<p>姚嶅庵比部，年五十八歲，患痰喘自汗，便溏不暢，或以為下元大衰，議用大劑附、桂，予診脈滑而長，乃上焦痰火為患，以杏、樸、滑、菀、射干、竹茹、蛤殼、鵝管石、蘆根等而愈。</p>
<p>堂按：方內有鵝管石一味，是上焦雖有痰火，下原亦衰矣。</p>
<p>嶅庵令寵，患痰嗽巔疼，口乾脅躍，不飢而渴，時或吐酸，舌赤脈弦。以一貫煎增損，投匕即安。一貫煎：沙參、麥冬、地黃、杞子、歸身、川楝子，口苦燥者加川連。</p>
<p>此方魏玉橫所撰治脅痛胃痛，吞酸吐酸。嘉善顧應如茂才，年逾六旬，每日吸洋菸五錢，久患痰嗽，口乾耳鳴，頭響，小溲梗澀，大便艱難，多藥罕效，予一貫煎而愈。</p>
<p>姚晉軒令媳，體素弱，邇來時患氣墜，墜後上升，杳不知飢，腿涼麵赤，口熱如火，左脅如疼，心下如盤，屢服滋養人乳，病日以劇。余勘其脈，弦細以滑，乃肝熱而停飲也，柔膩惡可投乎？予紫菀、白前、茹、半、旋、菖、絲瓜絡、蛤粉、雪羹、川連、蘇葉，旬日而安。</p>
<p>姚歐亭七令愛，自庚申患痢後，便瀉不已，時或腹脹，形瘦，少餐，苔白不渴，投以補脾之藥，脹甚發熱，脈急而弦，改予參、樸、橘、半、冬瓜皮、白薇、楝、芍、茹、苡等而愈。</p>
<p>歐亭天資穎異，天文地理，詩畫琴書，無不精妙，而又深究醫理，且賦體素堅。自云道光間在河間患感，因便秘汗多，脈浮勢欲脫，誤服人參，神漸昏憒，幸遇董某，用生脈散，生薑搗爛，遍塗其身，灌以大黃六兩，芒硝三錢，連下十餘次，始得生機，從此不敢言醫。噫！其聰明不如歐亭者，亦何必強談醫耶？（歐亭云：蟑螂花擦頭面瘡皰、面刺，應手即消，煎湯洗瘡疥、腳氣，有奇效。）</p>
<p>周採山素善飲，久患心下堅硬如柈，納穀甚少，常時便暢則氣機較舒，今忽大瀉不飢，汗多形瘦，勘脈微而滑。予參、朮、橘、半、苡、樸、茹、連、桂、苓十味以補氣滌痰，通陽化濕，投匕即效，數服而瘳。即此加減，俾其常服。</p>
<p>周採山令弟啟東，體豐善啖，喜於作勞，陡患脘痛當心，隨左右臥而較甚，身熱自汗，肢冷便溏，苔色黃膩，溺短而渴，脈至右寸關模糊不應，是痰濕熱夾食為患也，以枳、橘、半、滑、樸、茹、連、菔子、蘆根為劑，三帖即止。</p>
<p>湖州趙君敬泉，邀看周君嵐仙證，年二十九歲。平昔好義，家遭離亂，猶孳孳為善，惟曰不足以致心煩慮亂，若無把握，惟恐顛墜，神不自持，脈來細數，食少事繁，是真陰素虧，心陽過擾也。予一貫煎加牡蠣、坎版、石英，合甘麥大棗、生歸身，服之甚安。</p>
<p>秀水某，春間病幾危，余為治愈，既而余避難來申，病者亦於秋間徒滬。將交秋分，復招診視，尚不能起榻，而胸滿腹大，溺清便艱，氣塞火升，咽頰作響，食後出語，氣即上衝，腿軟腰疼，目干少寐。腹中時痛，泄氣稍舒，欲噫不宣，苔色滿布，此但知其久病元虛，率投守補，窒其升降之機，而不調其情志也。以北沙參、絲瓜絡、枇杷葉、蒲公英、留行子、竹茹、蛤粉、菖蒲、蔞仁、半夏、蘇葉、黃連為劑，服之漸效。</p>
<p>若蕖稚息，途次遇盜受驚，汛行發熱，勉強支持，迨余知之，即予菖、茹、翹、枳、薇、菀、芩、蔞、梔、蘆，以開鬱豁痰，宣氣清熱，火雖下行，而足溫然，舌絳神瞀，讝語撮空，自言魂不在身，脈甚滑數，是痰熱膠結，營津受爍，竟不更衣，急需濡導，改用元參、海䖳、辰冬、菖蒲、蔞仁、鮮斛、鮮生地、竹瀝、梨，服六帖，而大便行，熱退舌潤，神清，渴喜熱飲，韌痰頻吐，杳不思食，小溲艱澀，且易嘔惡，以橘、半、菖、茹、薇、菀、枇杷葉而飲食漸進。又逾旬，大解復行，痰嗽，肢汗出，悲傷欲哭，得噫始舒，以一貫煎加菖蒲、旋覆，去歸身，服之愈。</p>
<p>錢君少谷，滯下久延，所下腸垢似魚腦，少腹尚堅硬不舒，小溲短澀，腰痛，舌無液，脈弦數而梗，是陰液為肝熱所迫而不守，陽氣為肝鬱所滯而不通。予白頭翁合封髓丹，服數帖，腹柔痢減，脈和能食，改三奇散合封髓而愈。</p>
<p>南潯朱浦香，年五十六歲，忽患呃忒暮熱，陳某進滋降藥，勢益甚。陸定圃囑余診，脈甚弦滑且數，胸次痞悶。乃痰阻樞機也，與橘、枳、芩、連、茹、射、兜、菀、枇杷葉等藥。渠嫌芩、連苦寒，刪去不用，加入柴胡四分，服後呃雖減，而肝風動，大汗遍身，指震氣促，少腹躍躍而動，亟以蛤殼、旋覆、白前以降之，得暢解數次而愈。</p>
