<header data-type="book">
<h1>六氣感證要義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周岩</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1898">公元1898年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第七冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521057">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>泰西之學，苦思力索，不極其元不止，每一藝出，令人駴絕。獨中國醫經，以陰陽五行之理，合之人身，確乎不易。而西醫偏不之信，遺氣化而究形質，夫大撓作甲子，於何始，於何終，近乎妄矣。而正月幾日得辛，則農家亦知其不爽也。任吾剖視，莫雞豚若，而其化飲食之火何在，未有能指者也。以此理語西醫，西醫未必強辯。況西人之智慧，何遜華人？居中土，治中學，後必有通中醫。而元之又元，上啟黃帝九籥者，吾華人當有以贊之，不當先自貶以誤之。嗟乎。醫學至今日，誠無解於西人之垢矣，針法之真傳已失，即《素問》《靈樞》《本草經》《傷寒論》《金匱要略》等於四書五經，而讀之者牛毛，解之者麟角。其有著述行世，而或文辭朗鬯，中多紕繆，或稗敗剽竊，復為大言。以此斯人，人不能辨，更有偏於溫熱，偏於寒涼，後人奉之為師承者，此醫學所以日敝，而疵癘夭札之無術以救也。大抵論病可以辭飾，而方解不能虛構，方解之切究其所以然，無毫髮疏舛者，方書中不多見。國朝大醫，無過葉天士、徐洄溪、尤在涇三家。而葉注《本事方》，多羼以入某經某經無當之言；徐輯《傷寒類方》《蘭臺軌範》，有碎錦而無全璧；尤注《傷寒論》《金匱要略》，於方解多簡而渾。余欲補前人之關，撰為一書，而以衰齡事冗，因循不果，會孫倩程生仲來，問醫業於余，恆以為請。余曰：奢願恐不可償矣。雖然，聞一知幾，視人之悟若何耳，多言何為。爰舉六氣感證，與古方之切合者，竭數月之功，輯為要義一編以授之。且曰：區區此數，不足為檢方治病之用，毋示外人，供覆瓿也。生曰：集中注拙似者百餘十條，悉注家屐齒所未經，發余蘊，訂躗言，不特津逮來者，抑且有功前哲，即西醫見之，亦必謂中國格致之別有機悟也，蓋付之剞氏以公同好乎。余曰：諾哉。</p>
<p><u>光緒戊戌正月鹿起山人周岩自書于越城穆聯巷寓齋時年六十有七</u></p>

<h1>凡例</h1>
<p>醫不明傷寒，不可以治百病。以百病不離乎六經，而六經之證，惟傷寒傳變出入，最易混淆，最宜詳審，能洞徹於傷寒，尚有何證之不易知。然南陽《傷寒論》，淵微精奧，必得將全書熟讀深求，方有悟入，遇病不至迷惑。若撮其大略，聊備一類，不徒贅如懸瘤，抑且誤人祈向。故本集不列傷寒一門，欲學者以全書究傷寒，誠重之也。</p>
<p>外感之證，不出風寒暑濕燥火六氣。曰傷寒者，對雜證而言之。若對內傷而言，則傷寒亦同為外感。傷寒之方，多可施於六氣，六氣之病，亦可統於傷寒。（《難經》傷寒有五。）是故欲明傷寒，當先詳六氣。六氣者，傷寒之先河也。</p>
<p>傷寒一經訣治，變狀遂多，且有合病並病與兩感諸下同之證。外感雖一至如是，然病隨藥變，感以時增，或爽有內傷，或勾起風疾，無始終不易之情，無一法可該之理。本集但為學者喤引，故止就六氣之初感者辨論之。余則概不暇及。</p>
<p>六氣而止感一氣，則有一氣之病，為風，為寒，為暑，為濕，為燥，為火。復以兩氣，則有兩氣之病，為風溫，為風濕，為濕溫，此即以六氣之名為病名者。其他雖感六氣，而別有病名，不純屬外感，如痙，如痹，如疸，如痿躄，如霍亂，如痎瘧，如咳嗽瀉痢之類。若一律編入，反致六氣之本病亦滋眩惑，則非愚著是集之意矣。茲故從略。</p>
<p>中風中寒，中字非病因，而稱名特重，故別列之。不以隸風寒兩門，庶學者知其為大證而謗之於心也。</p>
<p>暑火二氣之病最夥，然後世稱名取雜，其中不過稍分微甚，或竟名異而實不異。本集於外感伏氣之溫熱病，詳列暑火兩門外。其寒疫冬溫，與燥熱濕熱之疫癘，但熱無寒之溫瘧，病因各異，並附見於暑火濕溫三門。學者但就此數證，潛心參究，渠矱已具，隅反不難。故如溫毒溫疫時行大頭諸名目，概棄之以省枝節，非掛漏也。</p>
<p>凡集中義理，有愚所創護，用以質海內名賢者，皆末注拙似二字。若無關切要，雖拙似不注。</p>
<p>凡說解出自前賢者，醫所共知，概不加註。其或於文內提明某氏云者，以義有所擊，勢不得略也。</p>
<p>凡集中有敘入《黃帝內經》《神農本經》《名醫別錄》《傷寒論》《金匱要略》，及前人醫集等語，而不曰某書云者，亦以醫家習見，且冀免於繁蕪，絕非有臆造也。</p>
<p>藥名不用本字，而以他字代者，或取省筆，或取易識，相衍已久，今亦從欲，不復改正。</p>

<h1>風</h1>

<h2>集說</h2>
<p>本集不列傷寒一門，已詳凡例。此所謂風，專主傷風之風甚於寒者。風所來之方不同，亦隨時令為寒溫。惟經云：邪之所湊，其氣必虛。又云：風從外入，令人振寒。即使但感於風，亦必腠理開而灑然寒，其兼挾寒者無論矣。考古以辛溫發散為治，理自莫易。若已傳陽明化熱，與所感為溫熱之風，則不在此例。拙擬</p>
<p>《傷寒論》之中風，猶今之謂傷風，不過有輕重之分。故桂枝湯於四時傷風，亦有宜者。昔賢固言之矣，然必汗自出而脈浮弱，始為切合。</p>
<p>傷風又稱感冒，凡偶感風寒，頭痛發熱，咳嗽涕出即是。《內經》云：至下之地，春菊常在，故東南卑濕之區，傷風最多。徐洄溪有《傷風難治論》，尤在涇則引《內經》勞風法在肺下一段，以證傷風不解便成勞之諺，足見傷風難治，自古已然。</p>
<p>惡風固必惡寒，惟傷風之惡風惡寒只在皮膚之表，非若傷寒之惡寒，近烈火而不減，惡風處密室而亦畏也。傷風傷寒，同為太陽表證，（太陽證必頭痛不痛非是。）傷寒治之得宜，六七日間可愈，傷風而誤治，為害亦甚鉅，直作平等觀可矣。</p>
<p>傷寒偏死下虛人，是固然矣。傷風而下虛，亦每有數日而斃者。誤入麻黃湯，即與傷寒戴陽證相似，前人醫案具在，可取而按也。</p>
<p>有一種似傷風而實非傷風，乃下元久虧，腎水氾濫以為痰，浮陽沖激而成嗽也。</p>

<h2>方解</h2>
<p><u>桂枝湯</u>　治風傷太陽，脈浮緩，頭痛發熱，嗇嗇惡寒，淅淅惡風，汗自出。</p>
<p>桂枝（三兩）　芍藥（三兩）　甘草（二兩，炙）　生薑（三兩）　大棗（十二枚，擘）</p>
<p>上五味㕮咀，以水七升，微火煮取三升，去滓，適寒溫服。服已，須臾，飲熱稀粥，以助藥力，溫覆令一時許，遍身漐漐微似有汗者佳，不可令如水流漓，病必不除。禁生冷黏滑肉面五辛酒酪及臭惡等物。</p>
<p>用桂枝發散邪氣，即以芍藥攝養津氣，炙甘草合桂枝之辛，足以攘外。合芍藥之酸，足以安內。生薑、大棗，甘辛相合，補益營衛，亦所以助正氣去邪氣也。飲熱稀粥，與溫覆取微汗，切不可忽。</p>
<p>桂枝湯之驅風，能辨脈證，識《本草》，得仲景法者，用之無不神妙，粗工畏而避之。今日幾成廣陵散矣，學者何可不於此問津。</p>
<p><u>九味羌活湯</u>　治四時感冒發散之通劑。</p>
<p>羌活　防風　川芎　生芷　細辛　蒼朮　黃芩　甘草　生地（此方分兩當因病之輕重加減，故不為一定之數）</p>
<p>上加生薑三片，蔥白三莖，水煎服。</p>
<p>張元素立此方以代麻黃諸湯，統治四時感冒不正之氣，後人多韙之。陶節庵謂有表證，不分有汗無汗，皆可用，並有加減法。按方內除生地、黃芩，俱辛溫發散之藥，雖各經咸到，而於風寒濕之在太陽，必須汗解者，用之最得。方有風藥無熱藥，今取以為治傷風之劑。拙擬</p>
<p>方無深義，惟黃芩為少陽藥，而於太陽亦多有用者。人身上升之氣，由少陽而出，風寒鬱之，即成壯火。退壯火，自須佐以黃芩，然非板法，遇毗陰之體，審無熱象，即可不加。至生地系純陰血藥，頗掣發散之肘。徐洄溪云：不若易當歸為佳。當歸，治風寒自勝，於挾濕挾熱者，亦非所宜。拙擬</p>
<p><u>參蘇飲</u>　治感冒風寒，頭痛發熱，憎寒咳嗽，涕唾稠黏，胸膈滿悶，脈弱無汗。</p>
<p>人參　蘇葉　乾葛　前胡　橘紅　枳殼　茯苓　半夏（各八兩）　桔梗　木香　甘草（各五兩）　生薑（五片）　大棗（一枚）</p>
<p>上十三味，水煎，熱服取汗。</p>
<p>風寒由皮毛而入，發熱憎寒，頭痛咳嗽，遂相因而至。蘇葛前胡，所以解肌，涕唾稠黏，胸膈滿悶。由飲盛而氣逆，二陳所以化飲，更為寬中開肺以策應之，則有枳殼、桔梗，益氣強志，調營衛以整頓之，則有人參、木香、薑、棗。如是而禦侮之術周，脈自強，汗自出矣。拙擬</p>
<p>人參能固表止汗，何以無汗反用之。此則可與仲景桂枝湯，並參其理焉。桂枝湯名為表劑，而藥非表藥，桂枝、白芍，且足以閉汗。飲粥溫覆，遂能微汗而愈者，蓋病本惡風自汗，自汗則衛氣外泄，不與營和。若更發其汗，風必熾而不熄，欲風之熄，非化自汗而微汗不可。桂枝湯，所以調營衛而驅風，而芍藥一味，又能攝外泄之衛氣，轉而就營，營衛何能不諧。自汗之邪，何能不去，而正復之汗，何能不生。人參亦非發汗之藥，故仲景發汗方中，絕不一用。然脈沉遲則用之，脈不出則用之。桂枝湯證為自汗，故施以桂芍，此證為無汗，故宜於蘇葛，因脈弱而測知其中虛，汗為心液，人參補心液而生脈，非加人參，則汗亦不出。此用止汗之藥以發汗，與桂枝湯隱有同揆。然而桂枝湯，尤微妙不可思議矣。拙擬</p>
<p>以上三方，皆《內經》所謂風司於地，清反勝之。治以酸溫，佐以苦甘，以辛平之者。柯韻伯以桂枝湯證，為中鼓動之陽風，吳鞠通駮之甚是。然以辛溫為治風之變法，不知辛溫與辛涼，皆本《內經》，用各有當。汪訒庵又誤以桂枝湯為辛涼，皆由不曉《內經》邪氣反勝之義。（說詳後燥門。）蓋感風而惡寒者，挾太陽寒水之氣而來，所謂清反勝之也。（金為次寒，而肺與膀胱皆主身之外，衛病每相因，故清勝亦即寒勝。）偏主寒涼家，盍即《內經》與古方之去取，反覆思之。拙擬</p>

<h1>中風</h1>

<h2>集說</h2>
<p>風之傷人，其病各異，其名不同，而要以傷風、中風二者最為安危所繫。傷風輕而勢緩，誤治則為害亦鉅。中風重而勢急，治得其宜則轉機亦易，此仲景所以分列於《傷寒論》《金匱》兩書也。拙擬</p>
<p>中風何以得之？蓋風自虛鄉來為虛風，亦謂虛邪風，適與人身之虛，兩虛相感，於是中絡、中經、中腑、中臟，而有猝暴之疾。若風非虛邪，人非甚虛，但為傷風而已。</p>
<p>陰虛、陽虛之內風，亦為虛風，與自虛鄉來之虛風不同，宜分辨。</p>
<p>虛風之來，每挾身中素有之邪，或火或氣或痰，相因為患。河間主火，東垣主氣，丹溪主痰，皆不免於偏。然合而觀之，則於中風一證，思過半矣。</p>
<p>《金匱》風之為病二段，語語金針，必宜熟玩。河間謂中腑多著四肢，中臟多滯九竅。即於理有未足，喻西昌之論中風可按也。</p>
<p>喻氏謂侯氏黑散，於驅風之中，兼填空竅。俞東扶譏其好奇，而喻氏實從《內經》、《金匱》，細意探討，發出精義，不足為喻氏病也。</p>
<p>喻氏論偏枯猝倒，皆由陽氣虛餒所致，亦從《內經》、《金匱》，反覆闡明。有功醫學，且非偏重溫補，而置祛風清火消痰宣竅諸法於不講，其書具在，非愚之阿所好也。</p>
<p>北人多屬寒，南人多屬火，此徐洄溪之言，著一多字甚妙。前人南醫好用陽藥者，不可勝舉。劉河間北醫，而以善用清涼名家，可見北人非無屬火，南人非無屬寒，預存成見，偏重一面者，不可與言至道。拙擬</p>
<p>《金匱》侯氏黑散風引湯兩方，非學識超卓，未可輕用。然其方一治寒，一治熱，屹然對峙，實為後世偏熱偏寒之醫治中風者，下一針砭。拙擬</p>
<p>《資生經》云：中風由心腹中先有大熱而後作，後人驗之良信。竊謂此亦類中，非真中。乃若多欲勞損之人，一旦真陽發越，亦有心腹中有大熱者，急與回陽大劑，間有得生。與類中之熱，相似而實不同，粗工不知細辨，往往致誤。拙擬</p>
<p>張石頑云：中風猝倒，必手足搐引，喉間痰涎壅盛，甚則聲如拽鋸，斯為中風之真候。</p>
<p>南方多類中，宜用河間地黃飲子者頗多，不因外感，不闌入。</p>
<p>徐洄溪云：凡古聖定病之名，必指其實，名曰中風，其為屬風可知。既為風病，則治病之方，必以治風為本。故唐以前之方，皆多用風藥，而因證增減。蓋以風入經絡，則內風與外風相煽，以致痰火一時湧逆，惟宜先驅其風，繼清痰火，然後調其氣血，則經絡可以漸通。按此為治中風扼要之論，學者所當切記，至於此證，部分易淆，出入至大，非取前賢名論佳案與良方，悉心研究，得其三昧，不能於臨證製劑，確有裁斷。本集只略示門徑，非所以備治法也。</p>

<h2>方解</h2>
<p><u>千金小續命湯</u>　治卒中風欲死，身體緩急，口目不正，舌強不能言，奄奄忽忽，神情悶亂，諸風服之皆驗。</p>
<p>麻黃　防己　人參　黃芩　桂心　芍藥　甘草　川芎　杏仁（各一兩）　防風（一兩半）　附子（一枚）　生薑（五兩）</p>
<p>上十二味㕮咀，以水一斗二升，先煮麻黃三沸，去沫，內諸藥，煮取三升，分三服。不瘥，更合三四隨劑。人風輕重虛實，腳弱服之亦瘥。恍惚者，加茯神、遠志。骨節疼煩有熱者，去附子倍芍藥。《外臺》加白朮一兩，石膏、當歸各二兩，無防己。</p>
<p>風之傷人者，皆帶嚴寒肅殺之氣而來。中風有似傷寒，而甚於傷寒。以本元早虧，邪風直犯無禁，又與內壅之痰涎，表裡糾結，其勢甚劇。故加人參於麻黃、桂枝兩方中，以發越在表之邪。以附子直入少陰，搜逐在裡之邪，戡定禍亂，其要在此。余如川芎、黃芩、防風、防己，不過為麻黃之佐使，以祛標熱，轉氣機耳。</p>
<p>徐洄溪謂千金小續命湯，為中風之主方，因證加減，變化由人。而總不能捨此以立法，按此方，治有六經之形證，他書附有易老加減法。然總須審辨虛實寒熱，宜與不宜，斟酌加減，未可以原方漫試也。</p>
<p><u>三生飲</u>　治中風猝倒，痰氣上壅，昏不知人，並口眼喎斜，半身不遂。</p>
<p>生南星（一兩）　生川烏（去皮）　生附子（去皮，各五錢）　木香（五錢）</p>
<p>每服一兩，加人參一兩煎。</p>
<p>風為陽邪，風中無寒，不甚傷人，惟風中挾寒，害始劇矣。寒輕而在表者，宜發汗以逐邪，寒重而入里者，非溫中補虛，終不可救。南星、烏附，大辛大熱，而又不炮不制，則其剛銳之氣，足以摧堅陷陣，又恐驟入而邪或拒，佐木香以導之。正虛而倒戈可慮，益人參以駕之，斯寒去而陽回，陽回而風熄。今之畏事者，用烏附數分，必制熟而後改用，又以芩、連監製之。安能換回如此危證哉。</p>
<p><u>祛風至寶膏</u>　治諸風熱。</p>
<p>防風（二兩）　白朮（一兩半）　芍藥（二兩半）　芒硝（五錢）　石膏（一兩）　滑石（三兩）　當歸（二兩半）　黃芩（一兩）　甘草（二兩）　大黃（五錢）　連翹（五錢）　川芎（三兩半）　麻黃（五錢）　天麻（一兩）　山梔子（五錢）　荊芥（五錢）　黃柏（五錢）　桔梗（一兩）　薄荷（五錢）　熟地黃（一兩）　羌活（一兩）　人參（一兩）　全蠍（五錢）　細辛（五錢）　黃連（五錢）　獨活（一兩）</p>
<p>上為細末，煉蜜丸彈子大，每服一丸，細嚼，茶酒任下，臨臥服。</p>
<p>此即防風通聖散，加以熟地黃益血，人參益氣，黃柏、黃連除熱，羌活、獨活、天麻、全蠍、細辛去風。按通聖散可治多病，本河間斟量之妙，此更致廣大而盡精微，洵如喻氏所謂中風門中，不可移易之專方也。</p>
<p>陳修園、陸九芝，皆極重此方。修園與風引湯互服，九芝適與其體相宜，皆不可為訓，不知至實膏主風熱，三生飲主風寒，兩方正相反照，用昏有當能以意為愛憎。又張石頑以三生飲為中風破的之方，與續命湯為犄角。愚則謂三生治臟，續命治經治絡，至寶治經治府，三生熱而至寶寒，續命則寒熱兼有。錄此三方，中風大意已見。拙擬</p>
<p>本集分部極嚴，此風有寒熱，而隸於一門者，以病名中風，雖有寒熱，一風字概之。不能隱綱而揚目，非自亂其例也。余類此者仿此。</p>

<h1>寒</h1>

<h2>集說</h2>
<p>此所謂寒，專主傷風之寒甚於風者。傷風本一證，而區為兩門，猶仲景於傷寒而分標中風傷寒兩名也。徐洄溪云：惡風未有不惡寒者。鄒潤安云：寒非風，何以能及人之身，風非寒，何以能中人之衛，風與寒一而二二而一者也。觀此兩說，可知寒之不離乎風，別有中寒門列下，故以此為傷風之寒云。拙擬</p>
<p>傷寒非不兼風，以寒重而名傷寒，傷風非不兼寒，以風重而名傷風，二病正相對待。桂枝可療傷寒之風，麻黃即可療傷風之寒，雖傷風之寒，不如傷寒之重，而寒甚於風則有之。其寒同，則其宜麻黃亦同，所慮病輕藥重，轉蒙其害耳。愚每以麻黃湯加減，麻黃用二三分輒效，古方固不在墨守也。拙擬</p>
<p>傷風咳嗽，若邪伏肺系者，竟非麻黃不解。喻氏云：風寒外束，宜華蓋散。但華蓋散內有桑皮，仲景謂風寒勿取，（《金匱》王不留行散方。）誠能引邪深入，永無愈期，喻氏殆未察耳。拙擬</p>
<p>用桂枝而不能驅風，用麻黃而反以增熱，甚至變不可言，豈仲景之過歟？果能研求而得其妙理，更無古方足以困我，故為學者導先路，必當以此二方冠首。</p>
<p>春夏秋三時，天有非時暑寒感冒之者，謂之寒疫，實非疫也。其證頭痛發熱，惡寒無汗，治宜辛溫解表，與傷寒略同。</p>

<h2>方解</h2>
<p><u>麻黃湯</u>　治寒傷太陽，脈浮緊，頭身腰骨節俱痛，發熱無汗，惡風而喘。</p>
<p>麻黃（三兩，去節）　桂枝（二兩）　甘草（一兩，炙）　杏仁（七十個，去皮尖）</p>
<p>上四味，以水九升，先煮麻黃減二升，去上沫，內諸藥，煮取二升半，去滓，溫服八合，覆取微似汗，不須飲粥，余如桂枝法將息。</p>
<p>足太陽之脈，上際巔頂而下達腰足。而寒之為氣，足以外閉衛陽而內郁營血。故其為病，有頭痛發熱腰痛骨節痛，惡風無汗而喘之證。然惟骨痛脈緊無汗，為麻黃的證，其餘則太陽中風亦得有之。學者不以骨痛脈緊無汗為據，而但拘頭痛發熱等證，必致發非所當發矣。人之傷於寒也，陽氣鬱而成熱，皮膚閉而成實。麻黃輕以去實，辛以散寒，溫以行陽。杏仁佐麻黃，達肺氣，泄皮毛，止喘急，王好古謂其治衛實是也。然泄而不收，升而不降，桂枝甘草，雖曰佐之，實以監之耳。</p>
<p>葉天士云：太陽傷寒，治之未有無汗而愈者。余見南濠蔣姓女，年可二十，病在第九日，六脈浮緊有力，起自頭痛，太陽無疑。但經水適來，狂言不止。余曰：此名熱入血室，前醫不發汗之故，如已發汗，過第七日愈矣。今亦無妨，服余藥數劑，交過二十一日必愈，後果然。然愈則愈矣，此女精神大損，元氣大虧，不用麻黃一盞，誤人若此。觀此，則南方非絕無麻黃證可知，云一盞，則不在多用又可知矣。</p>
<p>桂麻二湯，仲景於可與不可與，辨之至精，誨之至詳。又兩方皆有監製，皆令微汗，其慎重何如，學者念諸。</p>
<p><u>三拗湯</u>　治寒邪傷肺，咳嗽喘急。</p>
<p>麻黃（不去節）　杏仁（不去皮尖）　甘草（生）</p>
<p>上各等分，水煎服，麻黃留節，發中有收，杏仁留尖，取其發，留皮取其澀，甘草生用，補中有散也。</p>
<p>此以麻黃湯去桂枝，而三味與仲景法相拗，故名。表如不實，只須解散肺中寒邪，變峻劑為平劑，思亦巧矣。太陽主一身之外衛，而皮毛為肺之合，故二經之病，往往互見，勿執此為肺家專藥也。拙擬</p>
<p><u>再造散</u>　治寒傷太陽，頭痛項強，發熱惡寒，汗之而汗不出，陽虛故也，此散主之。</p>
<p>人參　黃耆　桂枝　甘草　附子（炮）　細辛　羌活　防風　川芎　生薑（煨）　大棗（擘）</p>
<p>加炒芍藥一撮，煎，夏加黃芩、石膏。</p>
<p>汗後表已不實，不必再泄其表，無汗由於陽虛，不宜第逐其邪。用參耆甘棗，補中益氣，而轉以姜辛附子散寒，羌活、防風驅風，又桂枝和營衛，川芎通陰陽，故能陽勝而汗作，汗作而病已，加芍藥者，發中有收，又約陽藥使入里也。夏加黃芩、石膏，則《活人書》用麻黃湯之法。拙擬</p>
<p>陶節庵名此為無陽證，因醫多誤治，遂立此方，法亦本於前人。錄之以為用羌防等藥，汗之而不汗，不知其為陽虛，更以麻黃繼之者進一解。拙擬</p>

<h1>中寒</h1>

<h2>集說</h2>
<p>中寒與傷寒，猶中風與傷風，有輕重緩急之分。魏玉璜謂中寒者，直中三陰。喻氏以外寒直入少陰腎臟為中寒。愚按直中寒邪，手足必厥逆。《傷寒論》太陰無厥逆。魏說未允，喻氏專屬之少陰，則其義有可思者。厥陰篇專詳厥逆，是厥逆為肝病矣。而通脈四逆湯，治手足厥逆，脈微欲絕。吳茱萸湯，治手足厥冷，煩躁欲死。則皆以為少陰病。其故何也？蓋少陰水臟，在天為寒，在地為水，故寒至而腎即應之。腎病者肝亦病，肝病故厥逆，以乙癸同源，母子同氣也。是故治中寒之道，當審陰陽，權標本，有宜治肝，有不宜治肝。拙擬</p>
<p>厥病甚多，厥名不一，不特三陰有厥，即三陽亦有厥。然《傷寒論》之厥，與靈素之言諸厥，有同有異。中寒之厥，即《傷寒論》之寒厥。中寒而厥者，病發之勢暑，寒為陰邪，少陰內寓君火，中之為逆，故發之暴，且連肝而手足逆冷。太陰濕土，純陰之臟，中之為順，但能腹痛下利而已。故寒邪直中之卒病，肝腎有之，太陰所必無也。拙擬</p>
<p>少陰中寒而厥，必兼厥陰，而藥之治腎治肝，則有專屬。按吳茱萸一物，後人以為肝藥，仲景亦非不謂肝藥。少陰病多陰盛格陽，陽格則以回陽為要，惟薑、附克任。厥陰病多陰盛郁陽，陽鬱則以伸陽為急，非吳茱萸莫屬，二者之不侔如是，用吳茱萸而曰少陰病者，以厥陰之為兼證也。拙擬</p>
<p>治少陰病之吳茱萸，固肝藥，治乾嘔吐涎沫頭痛之隸於厥陰，則更為肝藥，乃又以治陽明之食谷欲嘔，則又為胃藥歟？夫吳茱萸之用，為疏土以伸木，施力在土，愈病在肝，故陽明厥陰兩經，皆得奏績。然則吳茱萸為肝藥，為胃藥，何少陰病而亦以胃藥治歟？不知中寒者少陰，相率而為病者，為肝與胃，經之論寒厥也。曰：前陰者，宗筋之所聚，太陰陽明之所合。觀於此，而少陰病有肝胃之兼證，與仲景以治胃病治肝病之吳茱萸，並治少陰，皆可以無惑。拙擬</p>
<p>吳茱萸為肝胃之藥，故治陽明則標陽明，治厥陰則隸厥陰，治厥陰而為少陰兼證者，則標少陰，不標厥陰，然則少陰之可據者何在？吐利手足逆冷，與煩躁欲死，皆不得便謂之少陰，惟吐利手足逆冷，寒象已大著矣。且無表邪，無火劫，何所激而煩躁欲死。其所以煩躁欲死者，腎中真陽，寒邪直入而逼之。受之不甘，拒之不可，舍少陰無此象也。仲景標病名之不苟也如是。拙擬</p>
<p>少陰病至吐利手足逆冷，煩躁欲死，不可謂非寒邪直中，而吳茱萸湯之治，與四逆湯絕異，其故何歟？按四逆湯證，絕無煩躁，治不四逆而煩躁，則為茯苓四逆湯。茯苓是伐腎邪之物，乃為煩躁而設，如非陰陽相爭，何事伐腎以降逆，非腎尚有權，何敢再伐其腎。今煩躁欲死，則爭尤甚。爭尤甚，則當先平其爭。然彼為太陽病汗下之後，此為少陰病吐利而兼手足逆冷，腑與臟，虛與實，皆甚相懸，又烏可以茯苓平爭，然則治之奈何？晝日煩躁，夜而安靜者，主以姜附，有煩無躁者，主以膽汁，以姜附同躁固當，以膽汁治煩，則此不止一煩，且有下利無干嘔。（吐為陰，嘔為陽，吐屬虛，嘔屬實。）膽汁下咽，潰散可立而待，其餘傷寒諸煩躁，更非其比，然則此證之空要可知矣。邪若不上攻，則雖煩躁，不至吐利逆冷。邪上攻，而不因吐利大虛，則不至煩躁欲死。是故治煩躁，當先治吐利，治吐利，當先治上攻之邪。吳茱萸、生薑，所以平中之邪，人參、大棗，所以安中之正。中既治，而陰陽之上下紛擾者，亦將罔有所據。而就我範圍，此扶危定傾之第一策，與白通加膽汁救垂絕之命者，先後為對照，豈可以四逆例哉。拙擬</p>
<p>喻氏謂脈微者陽之微，脈細者陽之細。中寒之脈，必不至細，此即脈微欲絕，脈細欲絕之別，而其中之微旨，則不可以不究焉。厥逆篇列六方，而用當歸者四，皆以治厥。吳茱萸湯治手足逆冷，而獨無當歸，寧能無故？凡煩躁無細脈，此不言脈，脈必不細，脈不細，則病不在血而在氣，可無藉於當歸，然則肝藏血，吳茱萸入肝，顧不入血耶，當歸辛中有甘，治血之寒而不足，少陰病煩躁欲死，非血之本寒也，特外寒之搏血耳。吳茱萸大熱性烈，能入肝逐搏血之寒而伸其陽。蓋純乎以氣致力於血焉，病發於腎而流及於肝，藥則治在肝而效見於腎。其思之精，法之巧為何如，且病非脈細血不足，吳茱萸亦不以溫肝藏之血，不謂之少陰病而誰謂。信乎。仲景方之毫髮無遺憾也。拙擬</p>
<p>吳茱萸為肝藥，厥陰為肝病，而四逆湯治厥，轉無吳茱萸者曷故？蓋四逆湯，是純乎陽微之證，陽一復而肝病自愈。若吳茱萸湯之治，則不徒陽微之謂已。拙擬</p>
<p>當歸四逆湯證，是寒邪不止厄腎，而肝罹其殃，只通經溫血，手足自和。此真厥陰病，而於少陰無與者，自非中寒卒病之比。故脈微脈細，必當審諦。拙擬</p>
<p>萬密齋治一婦，病由冒雪遠行而得，萬謂昏睡不醒者，寒中少陰腎也。頭苦痛，手足冷，身僵直，喉中痰響者，寒中厥陰肝也。與以十全大補湯，去地芍，加細辛、半夏、乾薑，三劑而愈，其不用吳茱萸湯四逆湯何也？病非吐利自汗，裡寒外熱，且不煩躁，於吳茱萸四逆何與？而勞役虛甚，邪斯湊之。肝腎之氣，即挾寒邪逆上變生諸證，不宜專治其下，施以溫經散寒補虛降痰諸法，正與病合，何能不效？夫雨氣通於腎，又有但欲寐之的據，律以仲景法，亦少陰病耳，然而如萬氏者，亦無愧良醫矣。拙擬</p>
<p>喻氏論中寒，但主少陰，但主脈微，洵有卓識。惟其疑厥陰之無卒病，而陰病論中，不敢及厥陰一語。甚至於論類仲景各案，將吳茱萸湯一法，亦為汰去，不知吳茱萸湯之治。仲景明云少陰，亦非脈細，其危候與四逆諸湯正同，安得非卒。夫直中雲者，不由他經傳變，不因優遊漸漬，直中即是卒中。若必待仲景指出，則治霍亂之脈微欲絕，用四逆湯，並不云雜病，亦得謂霍亂非卒病乎？此實喻氏千慮之一失，愚故於吳茱萸之為厥陰藥，吳茱萸湯之治厥陰而實為少陰病。於少陰病用吳茱萸湯之所以然，並引萬氏治案一則，具詳其說於前，以補喻氏之關云。拙擬</p>
<p>喻氏以腎藏真陽，為生身立命之根，所著《陰病論》，詞旨之雄奇，義理之精審，古所未有，實足為偏重寒涼家，當頭棒喝。顧謂仲景《卒病論》六卷亡佚，則是臆造之辭。觀隋書經籍志自見，仲景論直中陰病，實即在《傷寒論》中。中寒而至脈微欲絕，厥逆無脈，煩躁欲死，何一非卒遽阽危之象，尚有何方不備？喻氏所立諸方，亦何嘗不在其中。愚故仍就仲景方反覆研求，得其微旨，為學者隅反之助焉。拙擬</p>
<p>《靈樞》：足厥陰氣絕則唇青。《金匱》：唇口青身冷，為入臟即死。夫氣絕即氣不至之謂，未必真絕。唇口青身冷為入臟，則唇口青而身不冷，為將入臟而未入臟，故唇口青之證，亦間有生者。如馬元儀治陸濟臣中寒一案，不言身冷，其不冷可知且用桂附理中湯，夜間連進二劑，才得脈起汗收，然則進藥稍緩，亦必身冷而斃矣。拙擬</p>
<p>張石頑云：中寒有卒然仆倒。如中風者，乃盛寒之氣，猝犯少陰，遂厥逆無脈，口鼻氣冷而無痰聲，由其人真陽素虛，不勝陰寒厲氣，雖盛暑亦有之。太陽衛身之背，陽明衛身之前，少陽衛身之兩側，而少陰在裡在下。若非腠理疏豁，肺脾失職，寒邪雖厲，何能奪門而入？但其魁柄授人，則尤在腎臟真陽，式微不振，真陽一去，則萬事瓦裂，此汲汲救陽，不遑他顧，所以為第一義也。拙擬</p>
<p>汪訒庵謂傷寒發熱，中寒不發熱，立言未免太渾，當云少陰中寒，有裡寒外熱者，陰盛格陽非真熱也。拙擬</p>

<h2>方解</h2>
<p><u>四逆湯</u>　少陰病脈沉者，急溫之。宜此湯，按四逆湯，為少陰中寒之主方，而《傷寒論》治少陰病有兩條，彼條非純屬中寒，故錄此條。云脈沉，則非脈微無脈之比，而已當急溫，可見是中寒雜病不言證者。尤在涇云：當從全書會通，不可拘於一文一字之間，苟無厥逆惡寒下利不渴等證，未必急與溫之。極是。拙擬</p>
<p>甘草（二兩，炙）　乾薑（一兩半）　附子（一枚，生用去皮破八片）</p>
<p>上三味，以水三升，煮取一升二合，去滓，分溫再服。強人可大附子一枚，乾薑三兩。</p>
<p><u>通脈四逆湯</u>　治少陰病下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒。其人面色赤，或腹痛，或乾嘔，或咽痛，或利止脈不出。</p>
<p>甘草（二兩，炙）　乾薑（三兩強人四兩）　附子（大者一枚，生用去皮，破八片）</p>
<p>上三味，以水三升，煮取一升二合，去滓，分溫再服，其脈即出者愈。面色赤者，加蔥九莖。腹中痛者，去蔥加芍藥二兩。嘔者，加生薑二兩。咽痛者，去芍藥加桔梗一兩。利止脈不出者，去桔梗加人參二兩。</p>
<p><u>通脈四逆加豬膽汁湯</u>　治霍亂病，吐已下斷，汗出而厥，四肢拘急不解，脈微欲絕。按此方與證，雖載於霍亂病篇，而通脈四逆湯，本治少陰中寒，故彼此之證，無甚出入。且與白通湯之加膽汁又同，以加膽汁之義，必得兩方並疏，故錄入之。拙擬</p>
<p>通脈四逆湯原方，加豬膽汁半合，煎如前法，去滓，內豬膽汁溫服，其脈即出。</p>
<p><u>白通湯</u>　治少陰病下利。</p>
<p>蔥白（四莖）　乾薑（一兩）　附子（一枚生用，去皮破八片）</p>
<p>上三味，以水三升，煮取一升，去滓，分溫再服。</p>
<p><u>白通加豬膽汁湯</u>　治少陰下利脈微者，與白通湯。利不止，厥逆無脈，乾嘔煩者，服此湯，脈暴出者死，微續者生。</p>
<p>白通湯原方，加豬膽汁一合，人尿五合，煎如前法，去滓，內膽汁人尿，和令相得，分溫再服，無膽汁，亦可。</p>
<p>上五方，治少陰中寒，重在溫下回陽，故姜附無不用，而乾薑與餘味，或多用，或少用，或用或不用，靡不有精思奧義，寓乎其中。學者苟默會於心，真可以觸長無窮，今匯參而精研之，以補諸注家之不足焉。姜附之並用何也？諸證皆由腎臟陽虛，寒邪得以直中，附子補腎驅寒，諸無能匹，生用又能散外入之邪。其必輔以乾薑者，少陰寒甚，必上侮及脾，故用附子以斬將搴旗，猶當佐乾薑以儲糧堅壁，附子氣輕而乾薑以堅之，又相得而效並彰。通脈四逆之乾薑倍用何也？下利清穀，厥逆腹痛，其中之寒已甚矣，而外熱面赤，乾嘔咽痛，陽覆被逼而不返，非大繕中宮以招之。有望而卻走耳，倍用乾薑，所謂土溫則火斂也。其用蔥白何也？面赤由陽越，陽越則情難驟抑，非有性味介乎陰陽，而與人身之陰陽，兩不至違戾者，以導之掖之。則姜附從何施力，少陰下利用之。猶桃花湯之有石脂粳米，彼為固之。此為挽之。蔥之為物，鄒潤安所謂於死陰中得一線生機，即可栽培扶植。回於黍谷者，其功能固獨擅也。其不用何也？下利用蔥，所以醒陰中之陽，若兼有汗出等證，則陽已外散，蔥復助之。得無亡陽之虞，腹中痛亦去之者，腹痛為陰結，陰結則當以芍藥之酸，攻而開之。不能以蔥白之辛，撓而去之也。其用甘草何也？寒甚則虛，辛以溫之，即當甘以補之。且辛與甘合，則有調劑之長，而陰乃化陽，其不用何也？少陰下利，於太陰無與，去甘草，則溫下之勢捷，至乾嘔而煩，以膽汁導陽之不暇，豈宜以甘草再緩其隆？利止脈不出之用參何也？利既止，則營氣不至下泄，得以鼓動其脈，乃猶不能出，則其故不由於寒，而由中焦不能受氣化赤，非加補五臟通血脈之人參，曷能有濟，其不用何也？甘草專補中，人參則補中而兼固表，固表於汗出正宜，何亦不用。《金匱》下利用通脈四逆湯兼有汗出證。蓋以外熱者，陽浮於表，嘔煩者，氣逆於上，用參則堅其外羈，阻其下歸。於下利亦不宜者，人參為陰中之陽之藥，能入陰生津，生津則益陰，益陰則分扶陽之力。而利將不止，按四逆湯若有參，則名四逆加人參湯。亦可見此數方之無參，柯韻伯疑方有脫落，蓋未之深考。通脈四逆之加豬膽汁何也？按：霍亂用四逆湯有兩條，未嘗無汗出而厥，四肢拘急，皆不加豬膽汁，而此獨加者，正以其吐已下斷，而拘急不解耳。吐已下斷，陽若可回矣。而厥如故，拘急如故，以白通加豬膽汁之例推之。必已服通脈四逆而不應，其所以不應者，陰火為之拒也。夫少陰當寒邪盛犯之時，其陰中伏火，不甘於澌滅，必躍然以動，動則拒陽藥而不納。是故腎氣丸佐以丹皮，黑錫丹佐以楝實，三黃湯治手足拘急，則佐以黃芩，黃芩與膽汁皆少陽藥也。夫膽藏於肝葉，互相為用，大抵火屬之膽，風屬之肝，陽升者，膽之用多，下泄者，肝之用多，加膽汁而不加丹楝，則以清膽，非以平肝，又較黃芩為異類有情。蓋拘急而有風，則必掣痛，必瘛瘲，非陰爭於下，陽浮於上，亦不汗出而厥，知其為火而非風者以此。然則白通加豬膽汁之治嘔煩，可不待言而自明矣。拙擬</p>
<p>論甫脫稿，客有見者，嫌猶未鬯厥旨。然愚為明於醫理者言也，必不護已，試更疏之。乾薑倍用之義，注家多忽之。不知利止脈不出用人參者，加減法也。倍用乾薑而即名之曰通脈，乾薑實通脈之所繫，其故安在，壅遏營氣，令無所避，是謂脈，營出中焦，中焦既大為寒累，而利不止，營氣下泄，脈何從出，溫中不較溫下為急乎？乾薑無他，所以逐累脈之寒而脈自通也。蔥白所以通陽，自成無已後，多主是說，理非不是，而語實籠侗，或云入營通脈，或云入陽明止利，執是以譽蔥白，而與姜附何異？或云通上焦之陽，下交於腎，或云入陰迎陽而復其脈，此較親切矣。但謂通上焦之陽，而上越之陽，胡可再通，謂其復脈，而加蔥之故，則因面赤，終不免於齟齬。或云通下焦之陰氣以達於上焦，此語固好，而又以自利而渴之文扭合一處，遂成謬解。或云蔥白但能通陽，必加膽汁，乃能入陰，則並通陽之故而昧之。凡此難以悉數。夫蔥者，葉青而辛溫，莖白而辛涼，葉空中而銳末，莖含汁而緊裹，惟含汁緊裹，性涼味辛，陰中有陽，陽中有陰，恰似少陰中寓有真陽，莖之上即空中而銳末。故其功能在上升而散，非下納而斂。面赤是陰格陽，非陽格陰，陰既格之，必當使陰仍向之。蔥白入陰升陰，俾不格而知向，陰向陽而陽自下返，面即不赤，然則白通湯證，無面赤，何為亦升其陰。夫陽在上宜降，陰在下宜升，今少陰下利一往不返，失地道上行之德，非用蔥白入陰而升之。徒有驅寒之姜附何益？升之則與陽通，故以蔥白冠首，而名之曰白通，通非通脈之謂也。膽汁用佐姜附，是為從治，王太僕云：甚大寒熱，必能與違性者爭雄，異氣者相格，此訓反佐之義至精。但太僕兼寒熱而言，考之古方，寒熱並用，以治證兼寒熱者有之。若治大熱之證，而用大熱藥為反佐者實未之見。愚蓋仍即太僕之言思之，而得其故焉。曰爭曰格，必敢於爭敢於格。非有火何能若是，而甚大之熱，其陰中之火，已與熱為一家，陰惟失其所恃，大為熱侮，那得有火敢與爭格。治宜救陰，緩則生變，無反以熱藥竭陰之理，然則寒證而加膽汁，固所以清爭格之火。愚前論為不虛矣，抑又思之。《別錄》膽汁主傷寒熱渴，而仲景用於少陰寒證，非明於陰陽消息之微者，不能有此卓識。然證不至告危，未肯輕加，以人尿灌之，亦寧無膽汁。蓋以苦寒傷正，慎之至也。喻氏於開手用之，已失仲景心法。而張隱菴陳修園輩，轉謂膽汁能起腎臟之精汁，上資心主之血，視以為通脈之要藥。果爾，仲景何故用於最後，而必以乾薑人參先之。醫不研求實理，務為穿鑿，將任舉一物，悉可牽合，誤人有甚於此者乎？附子、甘草、人參三味，前論已無餘蘊，不續贅云。拙擬</p>
<p><u>吳茱萸湯</u>　治少陰病吐利，手足逆冷，煩躁欲死。</p>
<p>吳茱萸（一升，洗）　人參（三兩）　生薑（六兩）　大棗（十二枚）</p>
<p>上四味，以水七升，煮取二升，去滓，溫服七合，日三服。</p>
<p><u>當歸四逆湯</u>　治厥陰病手足厥寒，脈細欲絕。</p>
<p>當歸　桂枝　芍藥　細辛（各三兩）　甘草　通草（各二兩）　大棗（二十五枚）</p>
<p>上七味，以水八升，煮取三升，溫服一升，日三服。</p>
<p>吳茱萸湯，已詳前說。至當歸四逆湯，非中寒雜病，何以亦錄之。蓋少陰中寒，非合加豬膽汁兩方參之。則不知少陰病之出入，少陰有厥陰之兼證，非合厥陰本病之當歸四逆一方參之。則不知有兼證無兼證之異，且吳茱萸當歸，皆為厥陰之要藥。熟玩兩方，則於少陰病之宜與不宜，亦可知所去取矣。拙擬</p>
<p>陽極虛而中寒極重之病，則當專一溫下，不得以血藥旁撓之。萬密齋所治之婦，蓋非少陰真陽虛甚者。拙擬</p>
<p>脈微者陽虛，脈細者血虛。血虛而寒中之，則手足厥寒，非因中寒而後血虛，特加脈細欲絕耳。當歸溫血，故以為君。桂枝湯內四物協通草，皆取其溫經散寒通脈，非以解表，細辛則因脈細欲絕，邪已及腎，用之以祛腎寒，猶少陰病之用肝藥也。此非少陰中寒，故不用姜附，非太陽中寒，故不頭痛發熱，內有久寒，而加吳茱萸、生薑，亦以寒在肝不在腎也。拙擬</p>

<h1>暑</h1>

<h2>集說</h2>
<p>《說文》：暍，傷暑也。《傷寒論》：太陽中熱者暍是也。故中熱即中暍，中暍即中暑，暑熱暍三字，並無二義。張潔古以動而得之為中熱，靜而得之為中暑。喻氏駁之云：道途中暍之人，豈可云靜得。動靜二字，止可分外感內傷，動而得之，是外感天日之暑熱，靜而得之，是避暑熱而反受陰濕風露瓜果生冷之傷。觀此可知暑無動靜之分，而別有動得靜得之所以然矣。</p>
<p>喻氏云：六氣，春主厥陰風木，秋主陽明燥金，冬主太陽寒水，各行其政。惟春分後秋分前，少陰君火，太陰濕土，少陽相火，三氣合行其事。天本熱也，而益以日之暑，日本烈也，而載以地之濕，三氣交動，時分時合。其分也，以風動於中，勝濕解蒸，不覺其若，其合也，天之熱氣下，地之濕氣上，人在氣交之中，受其炎蒸，無隙可避。多有體倦神昏，肌膚痱起，胸肩痤出，頭面癤生者矣，甚則消渴癰疽吐瀉瘧痢，又無所不病矣。其不能澹泊滋味，屏逐聲色者，且以濕熱預傷金水二臟，為秋冬發病之根，故病之繁且苛者，莫如夏月為最。此種名論，醫家病家，皆不可不知。至於暑濕名義，則暑自暑，濕自濕，不得謂暑為濕熱合一之病，觀仲景於中暍一證，分白虎加人參湯治熱，一物瓜蒂湯治濕，不並為一方，意可知矣。</p>
<p>中暑固即中熱，而與溫熱病之熱，則有不同。《內經》：氣虛身熱，得之傷暑。凡暑脈必虛，故治暑必兼顧其虛，白虎湯若不加人參，則不可以治暑。或問有據乎？曰：有。白虎加人參湯，仲景屢用於傷寒，無人參之白虎湯，則不一施於中暍，猶不可知暑之所以為暑乎。拙擬</p>
<p>夏月人身之陽，以汗而外泄，人身之陰，以熱而內耗，陰陽兩有不足，過用甘溫，易竭其陰，過用苦寒，易亡其陽。故仲景於暍病，但用一甘一寒，陰陽平治之劑，此治暑之正病也。拙擬</p>
<p>受暑而濕甚於熱者，去濕即所以去暑，寒涼遏其陽氣而病者，無汗亦須透表，吐利者，急宜和解，甚則加以溫藥，此治暑之兼病也。治病須先識病名，故綴此說以示區別。</p>
<p>夏月陰氣在內，以陽氣發散於外也。陰氣非寒氣，不得率用熱藥，若脾胃自傷寒涼，則不在此例。</p>
<p>仲景白虎加人參湯，喻氏謂是甘寒平治，後人得其旨而推廣之，厥功偉矣。獨其徒徐忠可，猶信東垣主蒼朮、白虎之說，悖師傳而改聖方，不知中暍而渴。急宜解熱生津，蒼朮、人參，一燥一潤，顯然違反，豈東垣知暑中有濕，而仲景反不知耶，亦謬甚矣。拙擬</p>
<p>病有得之一日，不發熱而惡寒。注家或以為太陽傳經之寒邪，或以為陽明自受之寒邪，愚謂是陽明自受之熱邪耳，上云不惡寒者，以身熱汗自出也。此云病有得之一日，不發熱而惡寒者，陽明自受之一日，熱鬱於經，故不汗出，不發熱。然不需時，即熱發汗出，故一日惡寒將自罷，二日無不止矣。不曰寒將自罷，而曰惡寒將自罷，義自可見，即病有二字，亦非間文。蓋謂汗出不惡寒者其常，汗不出而惡寒者，熱病亦有之耳。且太陽中熱之惡寒，亦豈有寒邪。彼汗出者，由熱傷其衛，熱之甚而氣虛，虛氣則惡寒，故治以白虎加人參湯。此不汗出者，由熱鬱於經，熱方來而氣阻，氣阻則惡寒，故不待服藥，汗即出而寒已。雖愚創論，然太陽陽明感受熱邪，確有此兩種不同之候，俱載於仲景書，在人之精心尋繹耳。拙擬</p>
<p>《內經》論火熱淫勝之邪，必肺先受。金為土子，肺熱則胃亦熱，故肺胃之病，往往並見。其或肺甚胃微，胃甚肺微，則人之氣體感受有不同耳。拙擬</p>
<p>肺胃固相通矣，而肺主皮毛，太陽亦為腠理毫毛之應，故肺與太陽又通。仲景以中暍為太陽病，而治則在肺與陽明，其義蓋原於《內經》也。拙擬</p>
<p>張石頑云：中暑有猝然暈倒如中風者。乃酷暑之氣，鼓運其痰，壅塞心包，故喘乏而無痰聲，由其人腎水素虧，不勝時燔灼也。</p>
<p>暑火二氣，難分畛域。本集以暑病入暑門，暑即熱也。凡外感之病，類於暑者附之，溫熱病入火門，所謂伏氣之病也。凡伏氣之病，類於溫熱者附之。說詳後火門。</p>
<p>風溫濕溫，雖為外感溫病，以俱有專門，故不入於此。</p>
<p>冬溫者，冬感非節之暖而成，非伏氣也。其證心煩嘔逆，身熱頭痛，或咳嗽自汗，或咽痛下利，羅謙甫云，宜陽旦湯加桔梗萎蕤。</p>
<p>疫癘有濕熱燥熱之分，燥熱之疫，當與此參觀，再詳玩《溫熱經緯》余師愚疫病篇。</p>
<p>有傷於勞役，以致肌熱面赤，煩渴引飲，脈大而虛，按之無力，此血虛發熱所謂類中暑也。東垣以當歸補血湯治之。若誤服白虎湯必斃。</p>

<h2>方解</h2>
<p><u>白虎加人參湯</u>　治太陽中熱，汗出惡寒，身熱而渴。</p>
<p>知母（六兩）　石膏（一斤，碎，綿裹）　甘草（二兩，炙）　粳米（六合）　人參（三兩）</p>
<p>上五味，以水一斗煮，米熟湯成，去滓，溫服一升，日三服。</p>
<p>惡寒者，熱氣入則腠理開，開則灑然寒，與傷寒惡寒不同，發熱汗出而渴。是表裡之熱俱熾，與以石膏、知母辛寒重滑之品，俾表裡兼到，足變炎歊為清涼。而粳米、甘草，最與胃氣相得，覆載以緩之。此於陽明經中之熱，已搤其吭而拊其背矣。而暑傷其氣，至於脈虛津傷，則白虎一法，尚未能養津而舒困，此所以必加人參之大力，乃克建消暑之懋績也。拙擬</p>
<p><u>一物瓜蒂湯</u>　治太陽中暍，身熱疼重脈微弱，由夏月傷冷水，水行皮中所致。</p>
<p>瓜蒂（二十個）</p>
<p>上銼，以水一升，煮取五合，去滓頓服。</p>
<p>尤在涇以白虎加人參湯，為治中暑無濕，一物瓜蒂湯，為治中暑兼濕，較喻氏一專治熱，一專治濕之說，尤為允當。瓜蒂苦寒，能吐能下，去身面四肢水氣，不治其暑者，水去而暑無所依，即自解也。</p>
<p>此與下消暑丸、香薷飲，皆非本門應入之方，但欲知治法之所以攸異，則非連及之，不足以醒目。自《金匱》兩方並峙，而孫真人、和劑局，又各有一方以應之。本此意以擴學者之識，良為有裨。至香薷飲，則正俗所謂暑者，錄之亦以辨病名也。</p>
<p><u>生脈散</u>　治熱傷元氣，體惓懶言，汗出脈虛，或微喘而渴。</p>
<p>人參　麥門冬　五味子（各等分）</p>
<p>上三味，水煎服。</p>
<p>此孫真人仿白虎加人參湯之方也。熱散肺氣此能補之收之。熱鑠胃陰，此能滋之生之。然必得如方柄無他證者，服之始善，否則收斂邪氣入內，不可不慎。他如東垣之清暑益氣湯，藥味龐雜，依違兩可，則不足取矣。拙擬</p>
<p><u>消暑丸</u>　治伏暑引飲，發熱頭痛，脾胃不和，小便不利。</p>
<p>半夏（一斤，醋五斤，煮乾）　甘草（半斤，生）　茯苓（半斤）</p>
<p>上為末，薑汁和丸，勿見生水，如桐子大，每服五十丸，熱湯送下，中暑為患，昏懶不醒者，研末灌之立蘇。</p>
<p>此和劑局仿一物瓜蒂湯之方也。彼為濕淫於表，故以瓜蒂去身面四肢之水，濕去而疼重失。此為濕盛於裡，故以半夏苓草拯脾胃之失職，濕去而上下安。用醋煮者，醋能散水而兼泄熱，亦猶瓜蒂湯寓宣發於苦寒，皆功有並擅也。拙擬</p>
<p><u>天水散</u>（俗名六一散）　治傷暑表裡俱熱，煩渴引飲，小便不通，及霍亂吐瀉。</p>
<p>膩白滑石（六兩，水飛）　甘草（一兩）</p>
<p>上為細末，每服三錢，溫水或新汲水調下，加辰砂少許，名益元散，加薄荷少許，名雞蘇散，加青黛少許，名碧玉散。</p>
<p>滑石味淡性利，色白入肺，復以甘草，使留連在上，肺得行清肅之令，故暑濕之邪傷上焦者，為效甚速。其下清水道，蕩熱滲濕之功，亦非他藥可及，然無濕而津液少者勿服。</p>
<p><u>香薷飲</u>　治避暑乘涼飲冷，陽氣為陰邪所遏，發熱惡寒，頭痛煩渴，腹痛吐瀉。</p>
<p>香薷（一斤）　厚朴（薑汁炒）　白扁豆（炒，各半斤）</p>
<p>每服五錢，水盞半，煎八分，浸冷服。</p>
<p>香薷辛溫，厚朴苦溫，扁豆守中，皆與暑熱之旨相戾。若非如方柄所列，對證施之，遺誤非輕。香薷為陰邪閉汗夏月解表不可少之藥，古方頗多。但香薷外，餘味可不拘，要在斟酌病情，以為去取焉耳。拙擬</p>
<p><u>澄火散</u>（即地榆散）　治中暑昏迷，不省人事欲死。</p>
<p>地榆　赤芍藥　黃連　青皮（去白，各等分）</p>
<p>上杵為散，每用漿水，調服三錢，若血痢，水煎服。</p>
<p>夏月猝倒無知，由於心火暴甚，暑熱乘之，名曰暑風。是熱生之風，非外來之風也。暑邪深入心臟，以致昏迷不省人事，證亦險矣。知其煎熬陰血，而以地榆、赤芍、黃連直清其心，涼其血，血熱者必鑠其肝，又加青皮銳入之氣，引領三物，入肝而解之。藥不旁驚，故效亦至捷，錄此以示治暑風之一則。拙擬</p>
<p><u>陽旦湯加桔梗萎蕤</u>　證見前說。</p>
<p>桂枝湯加黃芩一分為陽旦湯，桂枝湯方見前風門。</p>
<p>冬月當寒而反溫，溫則氣泄，少陰失閉藏之職。故昔人謂冬感溫邪在腎，心煩嘔逆，咽痛下利，與傷寒之邪傳少陰無異，何以不用少陰之藥？蓋傷寒由太陽入里，已無表證，此則溫邪挾少陰之氣擾及心肺肌表，又當寒水司令，兼有身熱頭痛咳嗽自汗之太陽證，自宜散之於外，與以陽旦湯，正為的對，桔梗透肺熱，萎蕤化陽邪，加此二味，又以佐黃芩之不逮也。考《活人書》冬溫用萎蕤湯，葉天士謂可用補中益氣帶表藥，冬溫為病非一，故治療亦無定法。愚以羅氏所言，方與證極合，故錄入而詳釋之。拙擬</p>

<h1>風溫</h1>

<h2>集說</h2>
<p>風溫一證，眾說紛歧，莫衷一是。《傷寒論》若發汗已，身灼熱者，名曰風溫一條，注家或與上條發熱而渴，不惡寒者為溫病連講，或本條自為講，竊謂玩若發汗已四字語氣，自是從上文說下，否則無根，即千金萎蕤湯，為此條補治法。其先若非伏氣發溫，亦必不如是用藥，當以此條與上條連講為是，此一說也。《傷寒序例》，謂陽脈浮滑，陰脈濡弱者，更遇於風，變為風溫。尤在涇以前風未絕，後風繼之，以陽遇陽，相得益熾釋之。與仲景之言異此二說也。陶節庵輩，以素傷於風，復傷於熱，風熱相搏，即為風溫。此三說也，近人以冬溫春溫，吸受風溫，先犯手太陰者為風溫，此四說也。竊嘗綜而論之。第一說，是誤汗後病變之名，未可遂據為風溫之本病。第二說，何謂更遇，並未指明，尤氏之釋，亦頗齟齬不安，若云誤汗後更遇於風，則仲景又何嘗有此文，故序例可置不議。第三說，風熱相搏極是，而必謂先傷後傷，學者若不知活看，難免刻舟求劍之弊。第四說，以吸受溫風為風溫，風與溫不分先後，雖似稍戾於古，然治法實無二致，此葉天士、陳平伯輩論風溫皆是，可取以為則也。拙擬</p>
<p>風為百病之長而無定體，如天時寒冷，則風從寒化而成傷寒，溫暖，則風從熱化而為風溫，風一也。而寒熱迥異，若以治傷寒之法治風溫，則大謬矣。</p>
<p>風溫與濕溫，同為外感之溫病，《難經》亦謂之傷寒。夫溫病而冠之以風與濕，此即與溫熱病有異處。而風溫與濕溫，又復不同，皆宜審辨。拙擬</p>
<p>風溫病，春月與冬季居多，其證或惡風，或不惡風，必身熱咳嗽煩渴。</p>
<p>風溫為燥熱之邪，燥則傷陰，熱則傷津，泄熱和陰，是一定之治法。</p>
<p>陶節庵與喻氏敘風溫證，俱有頭痛字，葉天士云：風溫有頭痛，畢竟如此，但使看者愈難矣。</p>
<p>《外臺》有風熱而無風溫，其引《巢氏病源》云：風熱者，風熱之氣，先從皮毛入於肺也。葉天士亦謂溫邪上受，首先犯肺，蓋風溫即風熱，非二病也。拙擬</p>
<p>千金萎蕤湯，超超元著，今人未敢效用，張石頑於《千金方衍義》暨《醫通》，兩釋是方，長言不已，而於孫真人所以立方之本旨，似未能盡得。夫今人治風溫主辛涼，而古人必參以辛溫者，豈今智而古愚哉？殆以古人體質堅緻，遇伏氣發溫，必尚有餘邪，欲化不化，伏於肌腠經脈。麻杏芎獨，所以搜餘邪而絕根株。萎蕤、白薇，為中風暴熱之專藥，協石膏以涼而散之。木香闢毒疫溫鬼，甘草和諸藥，皆不可少，故以為使，又恐麻杏芎獨，藥性過溫，故用石膏獨多，此湯又能治冬溫者。冬溫雖為非節之暖，值太陽寒水司令，不免挾有陰邪，不宜專用清法。合而觀之，立方之旨尤顯，惜張氏未經發出，又喻氏以風溫為少陰厥陰病，擬亦指伏氣發溫，更遇於風。乃其所謂少陰厥陰者，則以素傷於風，復傷於熱，素傷於風，豈亦猶伏氣之發於少陰，寧能無誤乎？總之萎蕤湯，是治伏邪未盡之風溫。伏邪未盡之風溫，今不概見，而古人精心之所在，何可使終於封蔀，而方則不錄，恐學者不知審辨而漫施也。拙擬</p>
<p>《溫熱經緯》，載風溫治法甚備，宜詳玩之。</p>

<h2>方解</h2>
<p><u>萎蕤湯</u>　治風熱項強急痛，四肢煩熱。</p>
<p>萎蕤（三兩）　羚羊角（屑）　人參（各二兩）　蔥白（切一升）　豉（一升，綿裹）</p>
<p>上五味，水煎，去滓，內豉再煮，去豉，分溫三服，取微汗。</p>
<p>風溫犯肺，葉氏陳氏，皆先以辛涼解表，此用蔥豉，意亦相同。但其項強急痛，四肢骨肉煩熱，風熱相搏之勢甚劇，豈輕解表邪所能了，又何可援發表不遠熱之文。萎蕤息風除熱，功足並擅，最為風溫妙藥。羚羊角能療溫風注毒，伏在骨間，亦非他寒藥可比。諸物為劑，當無患病之不去矣，而又加以人參者何？按傷寒四五日，身熱惡風頸項強者，小柴胡湯主之。項強原不忌參，要非邪正已離，或虛多邪少，亦不輕用。故桂枝湯加人參，必著其脈曰沉遲，此不言脈，則以風溫證，非陰液素虧，溫邪不至直犯，陰液素虧，辛溫藥所以切禁。人參益陰生津，正治其受病之原，又與萎蕤、羚羊角為伍，能扶正以驅邪，不至助邪以化熱。藥止五味，而選之至精，施之至當，有如是。至項強為太陽證，而非不幹肺，肺與膀胱原有相通之理。（說詳暑門）亦足見風溫證，雖屬太陽，而神葛根麻黃之治，則相去懸絕矣。錄此一方，蓋以補葉氏陳氏之闕云。拙擬</p>

<h1>濕</h1>

<h2>集說</h2>
<p>濕為陰邪，遇陽虛之體，縱感受日久，不至化熱，故仲景於寒濕無專方，以濕本毗於寒也。若兼熱，則為熱濕，不得第以濕名。拙擬</p>
<p>葉天士云：寒不能生濕，因濕而為寒者有之。又云：但有濕而不蒸熱，當於治濕藥中加熱藥，以宣散利導之。可謂得仲景真諦矣。</p>
<p>濕分內得外得，霧雨水濕，或傷或中，得之於外，酒餚生冷，恣啖無節，得之於內，外屬太陽，內屬太陰，或少陰，治之不早，鬱而成熱，則變狀多矣。</p>
<p>中濕者脈沉，若風濕則脈浮，有風無風，以此別之。</p>
<p>濕在上在外者，宜微汗以散之。在下在內者，宜燥之。或利小便，此大法也。傷於濕者，下先受之。上受之濕，偶有之耳，下受之濕，則坐臥踐履，有難避而易受者。蓋雨氣通於腎，腎感濕即應。若腎之陽又虛，則更不得而拒之。所以先受，久則漸及於上，金匱腎著湯，即治下濕之一證。拙擬</p>
<p>濕上甚而熱，喻氏以《金匱》痙病脈如蛇，與鼻塞內藥鼻中兩條當之。按下一條，確是濕上甚之證。上一條，則仲景明云痙病，且著其風強險惡之狀，不當指為上甚之濕，治上甚之濕，以局方羌活勝濕湯為佳。然並不治痙即足寒亦當更詳其因，未可以此漫施也。拙擬</p>
<p>霧傷皮腠，濕流關節，夫濕流必有所止，關節其止所也。仲景於關節疼痛，小便不利，大便反快者，便利其小便，則小便利者，舍微汗亦無治法。鄒潤安云：關節之大者無如膝，而又最近於腹，濕既痹於此，勢不能下，又不能升，與其逐而下之。仍無出路，莫若就近使上於腹，或從小便，或從汗出而解。大豆黃卷，能使濕升而治筋攣膝痛，據此，則豆卷為濕流關節之要藥，愚意秦艽、薏苡、牛膝、松節、萆薢、獨活、海桐皮皆可酌加。拙擬</p>

<h2>方解</h2>
<p><u>瓜蒂散</u>　證見下解。</p>
<p>瓜蒂（一分，熬黃）　赤小豆（一分，煮）</p>
<p>上二味，杵為散，以香豉七合，煮取汁，和散一錢匕，溫服之。不吐者，少加之。以快吐為度而止，按《金匱》濕家病內藥鼻中則愈一條，內鼻之藥未載，後賢謂是瓜蒂散之屬。瓜蒂散，若以散嗅，則水從鼻出，或單用瓜蒂燒灰存性，以少許吸鼻中，亦極驗。</p>
<p>寒濕在上，則清陽被郁，身疼頭痛鼻塞者，濕上甚也。發熱面黃煩喘者，陽上郁也。脈大則非沉細之比，復和無病，則非小便不利大便反快之比，是其病不在腹中而在頭。療之者，宜但治其頭，而毋犯其腹。以瓜蒂散內鼻中，使黃水出而寒濕去則愈，不必服藥，以傷其和也。</p>
<p><u>腎著湯</u>（即甘姜苓朮湯）　治身重，腰以下冷痛，腹重，病屬下焦，由身勞汗出，衣里冷濕，久久得之。</p>
<p>甘草　白朮（各二兩）　乾薑　茯苓（各四兩）</p>
<p>上四味，以水五升，煮取三升，分溫三服，腰中即溫。</p>
<p>腎受冷濕，著而不去，則有腎著，身重腰以下冷痛腹重，皆冷濕著腎，陽氣不化之徵。由身勞汗出，衣里冷濕，久久得之。所謂清濕襲虛，病起於下也。《靈樞》百病始生篇。然濕由外入，只在腎之外府，故其治法，不在溫腎以散寒，而在燠土以勝水。甘姜苓朮，辛溫甘淡，本非腎藥，名腎著者，原其病也。</p>
<p><u>除濕湯</u>　治寒濕所傷，身體著重，腰腳痠疼，小便澀少，大便溏泄。</p>
<p>半夏　厚朴（薑汁製）　蒼朮（米泔制，各二兩）　藿香葉　陳皮（去白）　白朮（土炒）　白茯苓（各一兩）　甘草（七錢，炙）</p>
<p>上㕮咀，每服四錢，水一盞，姜三片，棗七枚，煎七分，食前溫服。</p>
<p>寒濕自下入而傷其脾，延及腰體，治以術甘培土，蒼樸化滯，苓夏導濕，藿陳悅脾以和表裡，薑棗運液以調營衛，可謂頭頭是道。喻氏云：當加清熱利水藥，利水可加，清熱似未然。拙擬</p>
<p>寒濕不必兼受有寒，云寒濕者，別於熱濕也。</p>
<p><u>白朮酒</u>　治中濕骨節疼痛。</p>
<p>白朮一兩，酒煎，不拘時頓服，不能飲者，以水代之。</p>
<p>仲景治骨節疼痛等方，多以白朮協諸辛溫之品。蓋本經術主濕痹死肌，有健脾開痹之能。脾治，則骨節之痛亦除。今止用一味，而以酒煎之。酒行藥勢，通血脈之壅，且其性辛溫，即謂之代姜附亦可。拙擬</p>
<p><u>羌活勝濕湯</u>　治濕上衝，頭痛瘠痛，項似拔，腰似折。</p>
<p>羌活　獨活（各一錢）　藁本　防風（各一錢半）　蔓荊子　川芎　甘草（各四分，炙）</p>
<p>水煎熱服，覆取似汗。</p>
<p>此下受之濕，襲入太陽，而太陽經氣不行，故有頭痛等證，與太陽受風無異。然非治風，而風藥獨多者何也？風能勝濕，濕既上衝，非風不散。故重用羌獨藁防，又加川芎以升之，蔓荊以涼之，甘草以和之，而風藥乃無過不及之弊。拙擬</p>
<p>按：頭痛瘠痛，項似拔，腰似折，皆《內經》經脈篇，膀胱是動之證。而至真要論：太陰在泉之病，亦與之同。蓋濕氣淫勝，則克太陽，故陰受濕氣，從足上行至頭，歷太陽經即傷太陽之氣，亦太陽病也。拙擬</p>

<h1>風濕</h1>

<h2>集說</h2>
<p>濕為陰邪，固矣。風為陽邪，似可與以寒藥。不知風從外入，令人振寒，發散本宜辛溫，況風為濕錮，更失其善變之性，故病名風濕，即寓寒於內，不得疑風濕之或有寒或有熱。若風為熱風，濕為熱濕，則是風濕之兼挾有熱。熱從風化，熱從濕化，則是風濕之變體非本體，皆不得謂之風濕。風濕者，非陽虛之人，不能有此疾也。拙擬</p>
<p>喻氏著《風濕論》，於仲景治風濕在扶陽之意，發揮至透。但以其濕為夏月之熱濕，方為治夏月之陽虛，未免合濕暍為一例矣。夫痙濕暍三者，雖有互見之因，非無各判之證，若云濕不離暍，豈夏月有濕病，而春秋冬無濕病乎？且治夏月之陽虛，可用桂附，治春秋冬三時之陽虛，反不得用桂附乎？喻氏知患風濕之有陽虛，不知惟陽虛而後患風濕，遂致於仲景書，窒而鮮通，其蔽在此。拙擬</p>
<p>痙渴暍篇，病者一身盡疼發熱。日晡所劇者，名曰風濕一條，喻氏以當風取冷，為在夏月，實勝舊解。乃其謂桂枝附子、白朮附子、甘草附子，三湯之治，悉在夏月，則又大誤。夫陽氣素虛之人，至夏月益虛者勢必別有重證，不止風濕一端。蓋風濕為夏月之風濕，喻氏不既云在夏為熱濕為熱風乎？苟非陽虛至極之人，難禁其毫不挾熱，此時以桂附從事鮮不滋患，然則喻氏謂三方悉用於夏月者，愚則謂三方獨不用於夏月也。世有知者當不河漢斯言。拙擬</p>
<p>濕家身煩疼，可與麻黃加朮湯一條，注家或單言濕，或言濕熱兩停，或言濕與寒合而成熱生煩，或言濕兼寒而在表。愚謂但云濕家身煩疼者省文耳，按用麻黃湯加朮，則必與麻黃湯證有相似之處。濕家不言風而風在內，亦猶傷寒不言風而非無風，濕與風鬱於表而不解，與麻黃湯證之無汗發熱身疼正同。所不同者身煩耳，身煩非心煩比，心煩由於熱擾，身煩則因表實。風濕相搏則痛，故以身煩疼連稱。言濕家者，著其證非傷寒，不言風濕相搏，身體疼煩者，錯見於桂枝附子湯甘草附子湯兩證，而身煩疼，尤為款要所在，則不得不特標之也。愚以其方隸本門而不入濕門者以此。拙擬</p>
<p>觀白朮附子湯方下，所繫數語，而陽虛之狀，宛然如繪。一服覺身痹者，藥力雖動其濕，而陽氣未行，仍難轉側，三服都盡，陽氣宜可振矣。而蜷縮如蝟，尚困而不振也。且人身惟藉有陽氣，手持足行，始輕矯無前，乃至濕痹不能轉側，陽氣果安在乎？況不嘔不渴，脈虛浮而澀，其為陽虛益無疑矣。此愚點竄喻氏之論，他風濕不必盡有此候，而大率由於陽虛，可即此以推之。</p>
<p>風無形而濕有形，風氣迅而濕氣滯，值雨淫濕勝之時，自風易卻而濕難驅。若驟汗之，過汗之，則風去濕存，病仍不愈。但使陽氣內蒸而不遽泄，肌肉關節之間，充滿流行，則濕邪必無可容之地，此《金匱》諸方取微汗之旨也。</p>
<p>發汗固宜微矣，即利小便，亦所當慎。仲景於小便利者，必於方中去桂，以桂枝能入膀胱通小便，不獨走表驅風也。拙擬</p>
<p>凡春夏之交，病人汗自出，肢體重痛，轉側難，小便不利，即屬風濕。由陰雨濕蒸，或引飲過多所致，切勿誤認為傷寒。治之宜五苓散加羌活。昔羅謙甫以五苓散治此疫，救活甚多，加羌活則張石頑之法也。</p>

<h2>方解</h2>
<p><u>麻黃加朮湯</u>　證見前說。</p>
<p>麻黃（三兩，去節）　桂枝（二兩）　甘草（一兩，炙）　白朮（四兩）　杏仁（七十個，去皮尖）</p>
<p>上五味，以水九升，先煮麻黃減二升，去上沫，內諸藥，煮取二升半，去滓，溫服八合，覆取微似汗。</p>
<p>此與麻黃湯所以不同處，在有濕無濕，彼無濕，用術則有劫液之虞，此有濕，則當以除濕為主，故用術獨多。喻氏云：麻黃得術，則雖發汗不止多汗，則術得麻黃，並可以行表裡之濕，二物同用之妙有如此，至證與麻黃類者，治亦無二致也。拙擬</p>
<p><u>麻黃杏仁薏苡甘草湯</u>　治汗出當風，或久傷取冷，一身盡疼發熱，日晡所劇，名曰風濕。</p>
<p>麻黃（五錢，去節）　杏仁（十個，去皮尖）　薏苡（五錢）　甘草（一兩，炙）</p>
<p>上銼麻豆大，每服四錢匕，水一盞半，煎八分，去滓溫服，有微汗，避風當風取冷，非夏不爾。方用麻黃，其汗必閉。故知喻氏夏月當風，取涼過久而閉其汗之說，為確不可易。日晡所尷者，即在陽明也。陽明與太陰為表裡，外合肌肉，汗閉則肌肉痹矣，身疼發熱，皆所必至。麻黃湯去桂枝，意蓋獨重開痹，無事調其營衛，製劑本輕，亦無藉於監製。易以薏苡者，痹久則濕將化熱，薏苡除久風濕痹，而又能入陽明清熱。此豈桂枝克勝厥任者，用甘草獨多，不特緩麻黃之散，且以汗出身熱而氣必虛，非補中不可，又其在夏月之一證也。拙擬</p>
<p><u>防己黃耆湯</u>　治風濕脈浮身重，汗出惡風。</p>
<p>防己（一兩）　甘草（半兩，炙）　白朮（七錢半）　黃耆（一兩二錢半）</p>
<p>上銼麻豆大，每抄七錢匕，生薑四片，大棗一枚，水盞半，煎八分，去滓溫服。喘者加麻黃半兩，胃中不和者加芍藥三分，氣上衝者加桂枝三分，下有陳寒者加細辛三分，服後當如蟲行皮中，從腰下如冰，後坐被上，又以一被繞腰下，溫令微汗瘥。</p>
<p>桂枝湯治汗出惡風，與此同。而彼為有風無濕，此則濕重於風，彼為營衛不和，此則衛虛絡痹。衛虛故風隨汗行，而不煩不疼，絡痹故脈雖浮而身則重，術甘培脾土，所以清風濕之原，黃耆助衛陽，所以化風濕之氣。然濕即獨重，自非防己宣通經絡，大逐其邪，濕何由去。不以汗解者，衛已虛也。服後如蟲行，腰以下如冰，是濕已不行，即防己利大小便之驗也。拙擬</p>
<p><u>桂枝附子湯</u>　治風濕相搏，身體疼煩，不能自轉側，不嘔不渴，脈虛浮而澀，若大便艱小便自利者，於本方去桂枝加白朮。</p>
<p>桂枝（四兩）　附子（三枚，炮，去皮，破八片）　生薑（三兩，切）　甘草（二兩，炙）　大棗（十二枚，擘）</p>
<p>上五味，以水六升，煮取二升，去滓，分溫三服。</p>
<p><u>白朮附子湯</u></p>
<p>白朮（二兩）　附子（一枚半，炮，去皮）　甘草（一兩，炙）　生薑（一兩半，切）　大棗（六枚，擘）</p>
<p>上五味，以水三升，煮取一升，去滓，分溫三服。一服覺身痹，半日許，再服，三服都盡。其人如蝟狀，勿怪，即是朮附並走皮中，逐水氣未得除故耳。此二方不外以桂枝湯出入加減，證為風濕外持而衛陽不振，芍藥之酸收不可用矣。故必以辛溫具大力之附子，協桂枝大驅陰邪，生薑甘棗，補中和營，而後陽回而風息，濕則由小便而去，以桂枝既走表而並使達下，故加至四兩，不得不重之也。若大便艱小便自利，桂枝又不可用矣。鄒潤安云：濕流於表，則大便不濡。白朮健脾制水，能使水在外者，還入胃中而大便反濡。揆以仲景此方，去桂加朮之旨，正相吻合。或疑去桂枝，則表邪仍在，則朮附並走皮中逐水氣者何謂，曾是仲景而專顧一面者歟。拙擬</p>
<p><u>甘草附子湯</u>　治風濕相搏，骨節疼煩掣痛，不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，或身微腫。</p>
<p>甘草（二兩，炙）　附子（二枚，炮去皮）　白朮（二兩）　桂枝（四兩）</p>
<p>上四味，以水六升，煮取三升，去滓，溫服一升，日三服。初服得微汗則解，能食汗出復煩者，服五合。恐一升多者，服六七合為妙。</p>
<p>骨節疼煩掣痛，不得屈伸，是為風濕相搏，近之則痛劇。惡風不欲去衣者，風勝也。汗出短氣，或身微腫者，濕勝也。風濕搏之於表，勢已到劇，故陽不下濟，而膀胱之氣不化，小便不利。後人治之，必大開鬼門，潔淨府矣。乃仲景藥止四味，不專資以開潔，而開潔獨神，斯何故歟？附子驅風於肌腠骨節而大伸其陽，白朮外御濕侮，亦內固中氣。仲景所謂二物並走皮中者，斯即有似乎開，桂枝宣太陽之經氣，而重用之則又利小便，斯即有似乎潔，其不用麻杏何也？病本陽虛邪入，而復汗出身腫，表之，不實何疑。施以麻杏，必立致亡陽，而濕之不去，無論矣。此三物之長，所以他無與匹，亦惟仲景為善用之。加甘草者，補中以緩外，不欲以過汗，桂枝多則甘草亦多，並不欲其過利，譬諸韶樂，可謂盡美盡善者矣。拙擬</p>
<p><u>五苓散</u>　證見前說。</p>
<p>豬苓　茯苓　白朮（各十八銖）　桂枝（半兩）　澤瀉（一兩六銖）</p>
<p>上五味為末，以白飲和服方寸匕，日三服，多飲暖水，汗出愈。</p>
<p>《傷寒》《金匱》兩書，數載此方，大旨不外太陽膀胱之表裡證，以治風濕。雖非仲景之言，卻得仲景之意，然必小便不利，方可與之。若無故竭其津液，患滋大矣。拙擬</p>
<p>治痰飲用苓桂朮甘湯，非不利小便而去濕。然彼為脾胃之陽不足，只須溫中導飲，此則邪兼表裡，必得外達內泄。甘草太守，故去之。桂能溫經通脈，術能逐皮間風水，二物原有化表邪之長，而恃以驅里濕，則力尚不足，故於茯苓外又加豬苓、澤瀉。茯苓屬陽，治停蓄之水，豬苓屬陰，治鼓盪之水，澤瀉則於消水之中，兼能通痹，又以暖水出汗，助術桂外達之勢，斯竊踞之陰寒，悉化為溫照之陽氣，尚何發熱身痛之有遺患哉。拙擬</p>
<p>按：張石頑於此方加羌活，云治濕盛身疼，小便不利，體重發渴，遇表邪較重之證，自奏效尤速，不得以廣絡疑之。</p>

<h1>濕溫</h1>

<h2>集說</h2>
<p>《難經》：濕溫之脈，陽濡而弱，陰小而急。《活人書》：其人兩脛逆冷，腹滿，胸多汗，頭目痛苦，妄言，脈陽濡而弱，陰小而急。治在太陰，不可發汗，汗出必不能言。耳聾，不知痛所在，身青面色變，名曰重暍。如此死者，醫殺之耳，白虎加蒼朮湯主之。王宇泰云：凡陰病厥冷，兩臂皆冷，脛冷臂不冷，則知非下厥上行，不當以陽微寒厥論治。張石頑云：暑傷氣，故陽脈濡弱，濕傷血，故陰脈小急，觀此數說，而濕溫之證瞭然矣。</p>
<p>《活人書》：以濕溫為先傷濕，後中暑。《本事方》：謂先受暑，後受濕。而兩書所用之方則同，可知先受後受，並不關病之出入。拙擬</p>
<p>王孟英謂濕熱即濕溫，張石頑分濕熱濕溫為二，而不言其所以然。竊思濕熱濕溫，固不能無別。濕溫者，濕與熱比，多由內郁。濕溫者，暑濕相搏，多由外感。內郁者徐，外感者暴，然此在初發之時則然，迨其變化，往往彼此互見，故孟英之言，亦未為盡失也。拙擬</p>
<p>濕熱病，屬陽明太陰居多。中氣實則病在陽明，中氣虛則病在太陰，而大便之溏硬即因之。</p>
<p>脾惡濕，夏月濕熱相蒸，多有發黃之候。然與傷寒瘀熱發黃，卻有不同，彼屬熱多，其色明亮，此屬濕多，其色黯晦。</p>
<p>仲景論濕與風濕，皆屬毗於寒之證。故發熱身色如薰黃，並不以茵陳蒿湯主之。與茵陳蒿湯之治濕熱發黃，絕不相混，即其明證。王孟英創為仲景濕溫篇，而以仲景濕風濕之論入之，方則不錄，豈仲景之誤治耶。亦未識濕風濕與濕溫之大不侔矣。拙擬</p>
<p>羅謙甫謂仲景瀉心湯諸方，取治濕熱最當。愚則曾遇是證，其人素多痰濕，又中暑邪，遂胸滿氣逆，勢極險惡，用生薑瀉心湯，去乾薑，加薑汁、竹瀝，立見奇效。洵謙甫之善用仲景方也。拙擬</p>
<p>濕溫證，當以《活人書》為準。濕熱證，可熟玩《溫熱輕緯》葉氏、薛氏諸篇，本集不分列兩門者，以二證原不相徑庭也。</p>
<p>濕溫一證，即藏疫癘在內。一人受之，則為濕溫，一方受之，則為疫癘。若燥熱之疫，則與此大異。</p>

<h2>方解</h2>
<p><u>白虎加蒼朮湯</u>　治濕溫多汗，余詳前說。</p>
<p>知母（六兩）　石膏（一斤）　甘草（二兩，炙）　蒼朮　白粳米（各三兩）</p>
<p>上藥，銼如麻豆大，每服四大錢，水一盞半，前至八分，去滓，取六分清汁溫服。</p>
<p>暑濕相搏為患，而陽則上衛，陰則下沉。故腹為之滿，頭為之痛，脛為之冷，昏其神則妄言，泄於肌則多汗。以知母、石膏之苦辛寒清暑，蒼朮之辛溫雄烈燥濕，甘草、粳米之甘平補中，藥止五味，效如桴鼓之應，洵治濕溫之第一神方也。拙擬</p>
<p><u>茵陳蒿湯</u>　治瘀熱在裡，頭汗出，身無汗，腹滿，小便不利，渴欲飲水。</p>
<p>茵陳蒿（六兩）　梔子（十四枚）　大黃（二兩）</p>
<p>上三味，以水一斗，先煮茵陳減六升，內二味，煮取三升，去滓，分溫三服。小便當利，尿如皂角汁狀，色正赤，一宿腹減，病從小便去也。</p>
<p>《傷寒論》治陽黃用茵陳蒿湯，與濕熱發黃之證無二。三物皆所以泄熱祛濕，而茵陳清芬四溢，尤足以解鬱蒸之氣，故以為君。大黃力猛，與梔子少用而後煮，則濕熱專從小便而去矣。拙擬</p>
<p><u>生薑瀉心湯</u>　證見前說。</p>
<p>生薑（四兩）　甘草（炙）　人參　黃芩（各三兩）　半夏（半斤）　黃連　乾薑（各一兩）　大棗（十二枚）</p>
<p>上八味，以水一斗，煮取六升，去滓再煎，取三升，溫服一升，日三服。</p>
<p>諸瀉心湯，以生薑瀉心一法，為於前說最合。痰濕蔽其清陽，內已駸駸化熱，而外暑復煽之，交結為虐，勢焉得不劇。非姜夏之辛散，不足以辟易陰霾，非芩連之苦降，不足以驅除痞逆。乾薑於溫暑非宜，以性熱而主收斂，無生薑橫散之力也。至人參一味，表實與心煩皆忌之，發熱而渴者不忌，汗吐下後之心痞亦不忌，下利忌之，下利而兼嘔者不忌，少陽之嘔亦不忌。凡少陽證宜和解，人參為陰中之陽之藥，具燮理陰陽之能，於少陽證最合。故生薑瀉心湯，雖利而不嘔，以兼脅下有水氣而不去。甘草瀉心湯，以心煩而去之。其他於證有非宜而亦用者，則必其中有陰陽不和之故。又瀉心湯，以生薑冠首者，重在乾噫食臭也。甘草冠首者，重在胃中虛也。半夏冠首者，重在嘔與痞也。前人論人參與三瀉心湯，全不切當，致仲景書微義，塵封數千百年矣，聊附於此以發之。</p>
<p><u>人中黃丸</u>　大解濕熱疫癘諸毒。</p>
<p>大黃（三兩，酒浸）　人中黃　蒼朮（去皮，麻油炒）　桔梗　滑石（各二兩）　人參　黃連（酒洗）　黃芩（酒洗，各一兩）　防風（五錢）　香附（薑汁拌，勿炒，一兩五錢）</p>
<p>上為末，神麯糊丸，清熱解毒湯送下二三錢。附錄清熱解毒湯方：黃連、黃芩、白芍、生地、人參各三錢，石膏、羌活、知母各二錢，甘草錢半，升麻、葛根各一錢，生薑二兩。</p>
<p>此方之妙，全在人中黃一味，以穢惡之物，解穢惡之毒，三黃清熱，蒼防驅濕，又准對病因，而加以香附宣郁，桔梗開肺，神麯達表，俾藥力無處不到。更有人參領正氣以駕馭之，於是撥亂而反之正矣。送以湯劑者，恐病急而丸緩，勢不相當也。然若泥定清熱解毒湯一方，則於病或有未宜，可別製劑以易之。拙擬</p>
<p><u>甘露消毒丹</u>　治發熱倦怠，胸悶腹脹，肢酸咽疼，斑疹身黃，項腫口渴，溺赤吐瀉等證。但看病人舌苔淡白，或厚膩，或淡黃，是暑濕疫癘之邪，尚在氣分，此丹悉主之。</p>
<p>飛滑石（十五兩）　綿茵陳（十一兩）　淡黃芩（十兩）　石菖蒲（六兩）　川貝母　木通（各五兩）　藿香　射干　連翹　薄荷　白豆蔻（各五兩）</p>
<p>上藥，曬燥生研細末，勿見火，每服三錢，開水送，日二次。或以神麯糊丸如彈子大，開水化服亦可。</p>
<p>滑石、茵陳，為蕩熱除濕之要藥，故用為一君一臣。佐以芩、連、通、射、翹、荷，則橫解直泄，各效其用。菖蒲所以利竅，藿香所以闢穢，白蔻所以疏滯，此三味，在熱為從治，在濕則正治，方之超妙在此。此葉天士治濕熱疫癘之劑當日活人之功甚大，勿輕視也。拙擬</p>

<h1>燥</h1>

<h2>集說</h2>
<p>燥為六氣之一，《內經》言燥淫之病之治，不一而足。自非燥不為病，乃生氣通天論，與陰陽應象論，兩言秋傷於濕而不及燥。喻氏謂有脫誤，當是長夏傷於濕，秋傷於燥。按：肺家熱燥之證，核諸逆秋氣則太陰不收，肺氣焦滿，肺病者喘嗽逆氣，肺熱葉焦則生痿躄之文，則上逆而嗽，發為痿厥，及冬生咳嗽，謂之秋傷於燥，未為不合。且土王四季，經言脾主長夏，斷乎不易。王太僕因不明地理應六節氣候之義，誤以三之氣為少陽，四之氣為太陰。實乃三之氣太陰，四之氣少陽。高士宗正之，（《素問直解》。）與六氣主歲主時，三陰三陽之次，及脾主長夏，無不符合，自當從高。夫脾主長夏，而云足太陰陽明主治，是濕土王時，已伏燥氣，而少陽相火，又即繼之。此易所以言土燥萬物。秋燥二字，所以從火，安得猶傷於濕。殆長夏傷於濕，秋傷於燥，本句名連屬，後世佚去一句，而誤燥為濕，未可知耳。拙擬</p>
<p>由前之說，陽明介相火寒水之間。秋分以前，自毗於熱，秋分以後，自毗於寒。毗於熱，則有伏氣之病，火剋金也。毗於寒，則有勝氣之病，金剋木也。熱燥者陽，故感而即發，寒燥者陰，故久而積堅。熱燥之治，古無其方，喻氏制清燥救肺湯，實大開後人智慧。寒燥如脅痛㿗疝之類，《巢氏病源》以下諸書，皆不以為燥，而獨責之寒。此在《內經》，亦若為分別部居者。清者溫之，治寒燥也，燥者潤之，治熱燥也。不然，清與燥一也，而治則分之，寧無故哉。拙擬</p>
<p>熱燥寒燥，隨乎時令之寒熱，言其常耳。若時應熱而反寒，時應寒而反熱，則變熱燥為寒燥，變寒燥為熱燥，固有之矣。在乎臨證詳審，又不得以時拘也。拙擬</p>
<p>《內經》之言六氣勝復，看似瞭然，而以勝復合之於病，則解悟轉難。故挽近醫家言勝復之病，多涉影響。夫所謂勝者，我勝彼而彼受制也。復者，彼受制而鬱怒思復也。當我之勝，彼尚未復，迨彼之復，我已先勝。所以陽明司歲，或陽明司時，而有肝病，則為燥金勝氣。若肺金自善，則不值少陰少陽司歲司時，未嘗受制，烏得有復。肺病而有復氣，必當在肺金受制之後。清燥救肺湯，則其治為感燥即病。又陽明之復，治以辛溫，清燥救肺湯，則其中無溫藥，此其不可誣者也。然則謂喻氏遵經乎悖經乎？邪氣反勝，王注不能淫勝於他氣，反為不勝之氣，為邪以勝之。蓋司歲司時之本氣，應勝而不能以勝，則發不司時之他氣，反以不應勝而勝之。邪氣者，不應勝而勝之謂也。不言病者，他章詳之也。下文治以辛寒，佐以苦甘，正喻氏之所本，參之氣交變論，歲金不及，亦復無異。但彼言五運，此言六氣，五運之正化為太過無復，不及為對化有復。復則子為母復，六氣無勝則無復，有勝必有復，復則受制而怒復，皆不容不辨耳。拙擬</p>
<p>熱氣大來，火之勝也。金燥受邪，肺病生焉。此其熱燥雖有輕重之分，而肺必先傷，則同燥氣初感無遽及胃與大腸者。拙擬</p>
<p>沈目南、吳鞠通、陸九芝三家，皆好訾議喻氏，而已實憒憒。沈、吳但知燥為次寒，而不知燥亦有熱，知燥有勝氣復氣，而不知燥有邪氣反勝之病。沈以諸氣憤郁，諸疾喘嘔，盡屬內傷。吳不知復氣之非感而即發，並復有二義，又以杏蘇散桂枝湯治風寒之方，改名之曰治燥，皆堪一噱。陸則泥於病機十九條之不言燥，遂謂燥必由他病轉屬，將經言燥淫之病，一概抹煞，又不知燥氣之不先傷陽明，可謂憒憒之甚者矣。拙擬</p>
<p>喻氏方固至妙，而於燥有寒熱之分，似不甚究。燥為火氣之餘，原自夏來，乃謂秋不遽燥。如其說，必天降繁霜，地凝白滷而始燥矣。正當有寒燥之病，伺以制方則治熱燥。於是欲圓其說，而引脈要之言，並以十月之溫，為金位之下，火氣承之。不知金亢既有火制，何待又治金病，新秋而得數脈，豈非即熱燥之根源？其方治諸氣憤郁，諸痿喘嘔，憤郁者，肺家怒復之情。痿喘者，肺家被克所致，皆極合經旨。惟嘔究屬胃病，雖於胃熱之嘔，非不可治，而改屬上為屬肺，其如嘔之非肺病何，凡此皆喻氏之微疵，不能為諱者也。拙擬</p>
<p>寒燥既當求之於寒矣。熱燥而熱重，如可用承氣湯、白虎湯者，亦不以燥證名。惟不至於寒而亦非大熱，隨感而發者，始為燥病，始宜施以喻氏之方。然則所治實輕病耳。醫家多贊之何也？曰：正以輕病而古多忽之。有關秋燥之一氣，喻氏發之，其翼經覺後之功大矣。拙擬</p>
<p>勝氣之燥病，見於肝者，當治其肝。或清肺以除燥本，邪氣反勝之燥病，則但病救肺，不必旁涉。</p>
<p>燥之為病，如皮膚皴揭，精血枯涸，痿痹消渴之類，不勝枚舉，多由內傷所致，應歸別論。</p>

<h2>方解</h2>
<p><u>清燥救肺湯</u>　治諸氣憤郁，諸痿喘嘔。</p>
<p>桑葉（經霜者，得金氣而柔潤不凋，取之為君，去枝，醒淨葉，三錢）　石膏（煅，稟清肅之氣，極清肺熱，二錢五分）　甘草（和胃生金，一錢）　人參（生胃之津，養肝之氣，七分）　胡麻仁（炒研，一錢）　真阿膠（八分）　麥門冬（去心，一錢二分）　杏仁（泡，去尖皮，炒黃，七分）　枇杷葉（一片，刷去毛密塗，炙黃）</p>
<p>水一碗，煎六分，頻頻二三次滾熱服。痰多加貝母、栝蔞，血枯加生地黃，熱甚加犀角、羚羊角，或加牛黃。</p>
<p>喻氏云：諸氣膹郁之屬於肺者，屬於肺之燥也。而古今治氣鬱之方，用辛香引氣，絕無一方治肺之燥者。諸痿喘嘔之屬於上者，亦屬於肺之燥也。而古今治法，以痿嘔屬陽明，以喘屬肺，是則嘔與痿，屬之中下，而惟喘屬之上矣。所以千百方中，亦無一方及於肺之燥也。即喘之屬於肺者，非表即下，非行氣即瀉氣，間有一二用潤劑者，又不得其肯綮。總之，《內經》脫誤秋傷於燥一氣，指長夏之濕為秋之燥，後人不能更端其說。置此一氣於不理，即或明知理燥，而用藥夾雜，茫無定法。今擬此方，命名清燥救肺湯，以胃氣為主，土為金之母也。天門冬雖能保肺，而味苦氣滯，恐反傷胃阻痰，故不用。知母能滋腎水，清肺金，亦以苦而不用，至如苦寒降火正治之藥，尤在所忌。蓋肺金自至於燥，所存陰氣，不過一線，償更以苦寒下其氣，傷其胃，其人尚有生理乎。誠仿此增損，以救肺燥變生諸證，如沃焦救焚，不厭其頻，庶克有濟耳。</p>
<p>此治肺家熱燥之憤郁與喘與咳，最為中肯。痿則肺痿之熱者可治，肺冷之痿則否。嘔雖非肺病，而以治熱嘔亦得。喻氏欲補病機之關，而不改其文。故即以此兩言為方柄，切勿認諸為統詞，而誤施於他證。愚增之以咳者，病機不言咳，而經固有之。且正合此方也。拙擬</p>
<p>土為金母，肺主降，降即入胃。故肺熱者胃亦熱，桑葉、石膏、枇杷葉，能清肺胃之熱而解之於上。燥必傷陰，人參、胡麻、麥冬、阿膠，益陰而潤液。佐以杏仁通肺絡，甘草和胃氣，清燥之源善燥之後。而鬱者達，逆者順，枯者滋矣。拙擬</p>
<p><u>加減桑菊飲</u>　治秋燥令行，餘熱轉盛，喘逆咳嗽，口乾微渴。</p>
<p>杏仁（錢半，去皮尖，研）　霜桑葉（錢半）　薄荷葉（四分）　連翹（一錢）　黃菊花（錢半）　生甘草（五分）　生石膏（二錢）　焦山梔（一錢）　甜水梨肉（三錢）</p>
<p>水二杯，煮取一杯，日二服。</p>
<p>此吳鞠通仿喻氏之方，以辛涼輕劑，治外感秋燥之喘咳。秋燥輕病，何煩複出。惟喻氏選用仲景復脈湯中五物，泄邪而即重補其陰，意在急救。此則但取清燥，燥除而肺自和，蓋其病尤輕也。拙擬</p>
<p>原方用杏桑荷翹，理肺家之淺邪極合。至苦梗，則氣已上逆，不宜再提，咳嗽亦忌。葦根止渴，是啟水精上滋，此證不必乞援於水，二味於泄邪潤液，均無所取，愚故刪之。而加以石膏、梨肉、山梔，石膏解飢而尤除胃熱。梨肉協菊花、甘草，清而帶補，亦略有麥冬阿膠之益。山梔，則搜餘邪而驅之於下也。拙擬</p>

<h1>火</h1>

<h2>集說</h2>
<p>火分君相，君火少陰，相火少陽。少陰者，足少陰也，而手少陰寓焉。地二生火，火生必於陰，故手少陰雖為君主之官，而其火則根於腎，與腎中之火相感應。傷寒少陰病，所以必心煩，以心為君火者。不知其靜而坐鎮。有南面之德者，腎也，非心也。少陽者，足少陽也，而手少陽寓焉。膽脈循頸至肩，出入三焦之路，故膽火動，而三焦之火亦無不動。以君心不主運，而少陽行君之令，佐以木火，故名相火。以相火為天火者，只見其勃發之跡，而不知膽藏於肝，肝固同源於腎也。拙擬</p>
<p>歲火太過，上臨少陰少陽，少陰少陽之為火無異。少陰少陽司天，皆病本於肺，其淫勝之病無異。又《內經》論生化，每舉寒暑燥濕風，五氣而不及火，是知暑與火，雖二而一者也。雞峰《普濟方》，論外感諸疾而不分暑火，其亦有見於此矣。拙擬</p>
<p>少陰為二之氣，故少陰所至為暄，少陽為四之氣，故少陽所至為炎暑。暄者溫也。暑者熱也。然溫亦可謂熱，熱亦可謂溫，如病溫虛甚死，溫該乎熱也。人之傷於寒為病熱，熱該乎溫也。暑以氣言，則猶之溫熱。若以病言，則但可謂暑，而不可謂之溫熱，如汗出喘喝，氣虛身熱，必明著其暑狀，示不與溫熱同也。所以然者，溫熱病是伏氣所發，有發於陰，有發於陽，難以的指。暑氣隨感而發，必先傷手太陰，此皆經之鑿鑿可證者。仲景所以別出暍病篇，不與溫病同論。今分暑與溫熱為兩門，暑入暑門，已見於上，溫熱則屬之火，而以備火之一氣云。拙擬</p>
<p>火原不僅有溫熱病，但非感證，例不收入。感證之暑，已隸於暑門。又有何者可隸於火，溫熱非火之甚者乎？雖非感而即發，要必溫發於溫候，熱發於熱候，與傳經之先有他病者不同，以此與暑門區分畛域，庶幾指歸各定。</p>
<p>伏氣之說，發於仲景，實與《內經》符合。喻氏以春溫為伏氣，夏暑非伏氣，《金鑑》亦以後夏至日之病暑，為隨時而病，不知上文病傷寒而成溫，已明示伏氣矣。病暑即謂病熱，非指身熱氣虛之暑病也。喻氏論不藏精之義極精，即以其言春夏之病，皆起於冬核之，豈非熱病亦由冬不藏精所致。至吳鞠通著《溫病條辨》，而全不及伏氣之病，竟似古有伏氣而今無伏氣，其師法葉氏。而於葉氏所謂春溫以黃芩湯為主方者，亦悖之不顧，真可怪異。拙擬</p>
<p>伏邪發於春為溫病，發於夏為熱病，言其常也。然春時亦有熱病，夏日亦有溫病，溫者熱之輕，熱者溫之重，故古人往往互稱。</p>
<p>傷寒之邪，自太陽遞入三陰，伏氣溫熱，自三陰傳出三陽。</p>
<p>太陽病發熱而渴，不惡寒者為溫病。夫不惡寒而渴，非太陽病而云太陽病者，以冬月伏藏之邪，感春令少陽之氣，由內而發。其始固太陽也，寒閉成熱，熱鑠其液，故發而即渴。表無邪郁，表裡俱熱，故不惡寒。延至三五日，或腹滿，或下利，黃芩湯是正治之方。若因外邪先受，引動在裡伏熱，則宜先以辛涼解其新邪，繼進苦寒以清裡熱。</p>
<p>黃芩湯治太陽少陽合病，或謂傷寒合病，或謂溫病合病，周禹載更謂是伏氣而非合病。按：黃芩一物，治少陽伏氣，固為恰合，但下利可不藉甘棗。嘔亦不宜姜夏，（詳見後解。）仲景斷不如是之疏。竊謂其方於傷寒合病為切，然治溫病，豈可不主黃芩，即熱病亦不能捨此一物，加減隨宜，而不執其方斯可矣。拙擬</p>
<p>白虎湯之治，或以為府病，或以為經病。按表裡俱熱四字，是用白虎湯之把鼻，石膏一味，善解肺胃之熱，兼走表裡，謂之經府俱病亦可。拙擬</p>
<p>《傷寒論》主白虎湯有二條：一傷寒脈浮滑，一傷寒脈滑而厥。主白虎加人參湯有三條：一傷寒無大熱，一傷寒脈浮發熱，一傷寒若吐下後。沈堯封、王孟英以為中暍，他家則主伏氣，然則溫熱之伏氣與外感，非絕不可通，亦可見矣。</p>
<p>溫熱病，用辛溫發汗，多致不救。然有宜辛涼解散者，蓋伏邪自內達外。熱鬱腠理之時，若不得外泄，必還入里而成可攻之證。益元散加蔥豉、薄荷，即發汗之妙劑，或酌加神麯、浮萍、川貝母亦佳。</p>
<p>王孟英云：伏氣溫病自里出表，先從血分而後及於氣分。故起病之初，往往舌潤無苔。其伏邪重者，初起即舌絳咽乾，甚有肢冷脈伏之假象，亟宜大清陰分，繼必厚膩黃濁之苔漸生。更有伏邪深沉，不能一齊出外者，雖治之得法，而苔退舌淡之後，逾一二日，舌復干絳，苔復黃燥，正如剝蕉抽繭，層出不窮，不比外感溫邪，由衛及氣，自營而血也。秋月伏暑證，輕淺者邪伏膜原，深沉者亦多如此。此理不發自孟英，而孟英言之綦詳，故備錄之。雖與辛涼散解之旨頗異，然伏氣之發，原無定處，難拘一轍。《難經》云：溫病之脈，行在諸經，不知何經之動，各隨其經所在而取之。此可為治溫熱病之法矣。拙擬</p>
<p>溫熱病，其脈洪大有力，此陽證見陽脈也，可治。若脈來沉細微小，此陽證見陰脈也，必死。</p>
<p>凡溫熱病，若發於三陰，脈微足冷者。多難治。</p>
<p>但熱無寒之溫瘧，是伏氣為病，宜與溫熱同論，其餘雖亦伏氣，而其始受之因不一，例不收入。</p>
<p>長夏受暑，過夏而發者，名伏暑。霜未降者輕，霜既降者重，冬日尤重。不入暑門者，以與伏氣為類也。</p>

<h2>方解</h2>
<p><u>蔥豉湯</u>　治病初起，頭痛身熱脈洪。</p>
<p>蔥白（一握）　香豉（三合）</p>
<p>上二味，水煎，入童子小便一合，日三服。</p>
<p>葛稚川云：凡初覺頭痛身熱脈洪，一二日，便以蔥豉湯治之。按此可知其為熱邪非寒邪，在陽明不在太陽，何則寒邪因惡風惡寒，此但言身熱？寒邪當脈數脈緊，此則以脈洪，證以仲景所謂傷寒三日，陽明脈大，若合符節，凡虛人風熱及伏氣發溫，初起時猝難辨識者，與以此湯最宜。</p>
<p>蔥白辛涼，啟陽氣外達，淡豉苦寒，散陰氣上逆，邪正不使相干，而陰陽兩無所傷，斯為溫熱病發汗至穩之方。拙擬</p>
<p>溫邪之發，陰必先傷，設有當行解救者。必兼滋陰之品於其中。昔人於蔥豉湯加童便，梔豉湯加地黃麥冬，皆此意也。</p>
<p><u>黃芩湯</u>　證見前說。</p>
<p>黃芩（三兩）　甘草（炙）　芍藥（各二兩）　大棗（十二枚，擘）</p>
<p>上四味，以水一斗，煮取三升，去滓，溫服一升，日再後一服。</p>
<p>傷寒合病，其寒水之氣，與陽明合者，尚宜桂枝、麻黃，與少陽合者，豈其純用苦寒？甘棗姜夏，為太陽而設，非為少陽。仲景之方，無間可覓。而鄒潤安謂嘔而脈數口渴者，為火氣犯胃，不宜加姜夏。王孟英謂宜用運茹，皆忘乎此方之為治傷寒太少合病也。若以治溫病，則鄒、王之說正合。然溫病下利，止清熱而利自已，不必以甘棗培土，轉使邪滯，亦不可不知。拙擬</p>
<p>《傷寒》厥陰篇云：傷寒脈遲，與黃芩湯除其熱，腹中則冷不能食。可知黃芩湯證之脈必數，所治之熱，必自里達外。不治但在表分之熱，佐之以芍藥者，蓋欲清氣分而又泄迫血之熱，非二藥並用不為功也。此亦鄒說，與治溫合，故節錄之。</p>
<p><u>白虎湯</u>　治陽明病脈浮滑，表裡俱熱，自汗出，煩渴引飲，或加人參三兩，方見暑門白虎加人參湯。</p>
<p>石膏解肌熱，泄胃火，兩擅內外之能，故用為君。知母瀉火滋燥，故用為臣。佐以甘草、粳米，調和中宮。更設煎法，使苦辛寒之劑，得逗留陽明，而奏清肅之功。自熱無不除，渴無不解矣。若日久氣虛，必須以人參養正生津者，人參又不可少。</p>
<p>白虎、承氣，同為陽明府病之方，承氣苦寒逐熱，為熱而且實者設，白虎甘寒生津，為熱而不實者設。</p>
<p><u>豬苓湯</u>　治陽明病脈浮發熱，渴欲飲水，小便不利。</p>
<p>豬苓（去皮）　茯苓　澤瀉　滑石　阿膠（各一兩）</p>
<p>上五味，以水四升，先煮四味，取二升，去滓，內阿膠烊消，溫服七合，日三服。</p>
<p>證與白虎相似，而主以豬苓湯者，所謂小大不利治其標也。利小便，何以不用五苓？蓋彼由陰壅而脾虛，故以桂枝通膀胱之陽，即佐以白朮崇土。此由陽盛而液傷，故以滑石入胃除熱，又必以阿膠潤液養陰。此四物於兩方正為反對，詎可互施。至二苓澤瀉，則均需以導水，不妨從同。然非恃有各當之主藥，亦不能有益無弊也。拙擬</p>
<p>治胃熱何以不用石膏，以渴飲而小便不利，則有水蓄於中，非滑石能於濕中蕩熱不可也。拙擬</p>
<p>詳陽明病脈浮脈熱七字，所發之熱，在分肉肌膚間，不能於衛氣無涉。衛為熱鬱，所以膀胱有阻，而病則在陽明。渴是胃熱，滑石正蕩胃熱，可為陽明病之據。前人多有謂邪熱在下者，豈以脈浮發熱，為即太陽病歟？抑內發之邪，尚未達於中歟殆不能無誤解也。拙擬</p>
<p>汗出多而渴者，不可與豬苓湯，是汗少亦尚可歟？然豬苓湯本以利水，若無水而口乾舌燥，即使無汗，亦不可與。此皆仲景言外之意，可體會而得者也。拙擬</p>
<p>以上三方，仲景治溫熱之發於陽者。</p>
<p><u>甘草湯</u>　治少陰病二三日咽痛，若不瘥，與桔梗湯。</p>
<p>甘草（二兩）</p>
<p>上一味，以水三升，煮取一升五合，去滓，溫服七合，日二服。</p>
<p><u>桔梗湯</u></p>
<p>桔梗（一兩）　甘草（二兩）</p>
<p>上二味，以水三升，煮取一升，去滓，分溫再服。</p>
<p>喉嚨少陰直脈所循，少陰病二三日即咽痛，明其伏邪內發急疾之至。甘草大甘，為土之正味，能制腎水越上之火，故獨用以緩之，生用以清之。設不差，是肺竅不利，氣不宣泄也。以桔梗開之，熱自透達。但在二三日內，邪熱未盛，可以甘草瀉火而愈。若五六日，則少陰之下利嘔逆諸證皆起，此法非所宜矣。</p>
<p>甘草一味，徐忠可以治肺痿，鄒潤安以解藥毒，皆極驗，正未可忽視。加桔梗，即後人所稱之甘桔湯，如用之中病自效，但勿視為咽痛通治之方。拙擬</p>
<p><u>豬膚湯</u>　治少陰病下利咽痛，胸滿心煩。</p>
<p>豬膚（一斤，王孟英云以豬皮去其肉肥，刮如紙薄，杭人能造名曰肉鮮，可以充饌）</p>
<p>上一味，以水一斗，煮取五升，去滓，加白蜜一升，白粉五合，（即米粉。）熬香，和令相得，溫分六服。</p>
<p>下利咽痛心煩，皆少陰病，惟胸滿則疑於少陽。不知少陰脈之支別，從肺出絡心，注胸中。下利既泄其腎陰，其虛陽之上乘者，亦必因中土無權，紛擾於咽喉心胸經氣所到之處，以其虛而非實。故胸滿不至於痛，不必用攻陷之劑，此時伏邪初發，尚未由血及氣，亦無事於苦寒傷正。豬、水畜而膚甘寒輕浮，自能從上引下而邪熱以平。然下利非濕也，非加白蜜，不足以潤燥益陰。患見於上下，則宜建中，非加白粉熬香，不足以悅脾振困。諸家聚訟紛如，似皆非允當，敢為此論之質之。拙擬</p>
<p><u>黃連阿膠湯</u>　治少陰病得之二三日以上，心中煩，不得臥。</p>
<p>黃連（四兩）　黃芩（一兩）　芍藥（二兩）　阿膠（三兩）　雞子黃（二枚）</p>
<p>上五味，以水五升，煮三物取二升，去滓，內膠烊盡，小冷，內雞子黃，攪令相得，溫服七合，日三服。</p>
<p>心煩不得臥，熱證也。至二三日以上心煩不得臥，則非初即屬熱矣。初即屬熱者為陰虛，今至二三日以上始見，則為少陰伏邪寒變之熱，熱耗其液也。尤在涇云：陽經之寒變為熱，則歸於氣，或歸於血，陰經之寒變為熱，則歸於血，必不歸於氣。黃連、黃芩之苦，合阿膠、雞子黃之甘，所以生陰液而除邪熱，芍藥則約而納之於血也。由是推之。少陰口燥咽乾，不用調胃承氣、小承氣，而獨用大承氣，仲景之意，亦可見矣。</p>
<p><u>豬苓湯</u>　治少陰病下利六七日，咳而嘔渴，心煩不得眠。</p>
<p>方見前。</p>
<p>伏邪發於少陰，致心煩不得眠，而復下利，至六七日咳而嘔渴，陰液之傷已甚矣。此時以阿膠鹹寒入陰而滋之，自是要策。然愈利愈渴，愈渴愈利，阿膠一味，詎為足恃。其所以然者，熱為之也，亦飲為之也。夫邪氣自下而上者，仍須從下引而出之。豬、茯、澤、滑，蕩熱而兼利濕，配以阿膠之滋陰，則損其有餘，即補其不足，一舉而收全效，此足見仲景製劑之妙也。拙擬</p>
<p>詳少陰病用豬苓湯，則知陽明病之用豬苓，寧謂非伏邪由少陰而發，此尚在血分，彼則已及陽明。治陽明而亦兼滋其陰者，陰先傷也。彼此互參，其義益見，即證不同而治同，亦可於此得其旨矣。拙擬</p>
<p><u>大承氣湯</u>　治少陰病得之二三日，口燥咽乾者，急下之，宜此湯。</p>
<p>大黃（四兩，酒洗）　厚朴（半斤，炙，去皮）　枳實（五枚，炙）　芒硝（三合）</p>
<p>上四味，以水一斗，先煮厚朴、枳實取五升，內大黃，煎取二升，去滓，內硝，更上微火一兩沸，分溫再服，得下余勿服。</p>
<p>《傷寒論》此條，或謂是傷寒傳經之證，但少陰不由陽明傳入，無傳入少陰而有陽明承氣證之理。或謂是寒中少陰，則咽痛有之。何至二三日即口燥咽乾，且以大承氣下之。尤在涇云：陽明居中土，為萬物所歸，故三陽三陰之邪，皆得還入於胃而成可下之證。蓋得之二三日，口燥咽乾者，少陰久伏之邪，發之勢暴，腎將涸也。腎將涸，則入胃而並燥其土，土燥則實，不得不下。大承氣湯內有芒硝，攻胃而即能救腎，所以為的對之方也。拙擬</p>
<p>古人文辭簡質，仲景云：宜大承氣湯。即隱寓大承氣證在內，其非大承氣所有之證，則為特著之。或難之曰：彼條腹脹不大便，固宜以大承氣與之矣，又何以贅為？曰：無少陰別證可據，以陽明病之證，系之於少陰，明其非陽明病云爾。拙擬</p>
<p>三承氣湯，無不有大黃，故承氣之名，當屬之大黃。承氣者為血，大黃固血分藥也。夫血隨氣行，亦血隨氣滯，氣滯而血不隨之滯者，是氣之不足，非氣之有餘。惟氣滯並波及於血，於是氣以血為窟宅，血以氣為禦侮。遂連衡宿食，蒸逼津液，悉化為火，此時惟大黃能搗其巢穴，蕩熱除穢。氣之結於血者散，則枳樸遂能效其通氣之職。此大黃所以為承氣也，其加芒硝何也？腎為胃關，胃熱足以鑠腎，腎熱亦耗其胃，不以芒硝直入下焦，軟堅潤燥，關門如何能利，燥屎亦安得下？故小承氣無芒硝，只為和胃之劑，大承氣有芒硝，即少陰溫病亦可與，在得其意而善用焉耳。</p>
<p>以上六方，仲景治溫熱之發於陰者。</p>
<p><u>涼膈散</u>　治心火上盛，中焦燥實，煩躁口渴，目赤頭眩，口瘡唇裂，吐血衄血，大小便秘，諸風瘛瘲，發斑發狂，及小兒驚風，痘瘡黑陷。</p>
<p>連翹（一兩）　大黃（酒浸，二兩）　芒硝（一兩）　甘草（六錢）　黃芩（酒炒，一兩）　薄荷（七錢）　梔子（八錢）</p>
<p>上為末，每服四五錢，加竹葉、生蜜煎。</p>
<p>硝黃得枳樸之重著，則下熱因之而奪，得苓梔翹荷之輕揚，則上熱因之而散，此承氣涼膈之所攸分也。用甘草者，即調胃承氣之義。張潔古去大黃、芒硝加桔梗，以手足少陽相火，俱下胸膈，遊行一身之表，桔梗載諸藥而上之，以去胸腹六經之熱，名桔梗湯。余師愚又於桔梗湯加生石膏，以治疫疹初起。</p>
<p><u>甘露飲</u>　治丈夫小兒，胃中客熱，牙宣齒爛，目垂欲閉，飢不欲食，及目赤腫痛，口瘡咽腫，瘡疹已發未發，又療脾胃濕熱，黃疸腹滿，或時身熱，並宜服之。</p>
<p>枇杷葉　熟地　生地　天冬　枳殼　茵陳　麥冬　石斛　甘草　黃芩（各等分）</p>
<p>上為末，每服二錢，水一盞，煎七分，去滓，食後臨臥溫服。本事方加犀角，名加減甘露飲。（此乃以散作飲者。）</p>
<p>煩熱多由陰虛，腎主五液，胃為燥金，皆喜潤而惡燥。燥則火升，熱亦生濕，以二地、二冬、石斛、甘草滋而補之。枇杷葉、枳殼清而降之。更以茵陳、黃芩折熱而去濕，諸證無慮不平矣。若渴飲尿秘，則又以河間桂苓甘露飲為當。方附錄：滑石四兩，石膏、寒水石各二兩，茯苓、澤瀉各一兩，白朮、豬苓、肉桂各五錢，為末，每服三錢，生薑湯或新水調下。拙擬</p>
<p><u>犀角地黃湯</u>　治溫熱病邪入心包絡，舌絳津虧。</p>
<p>黑犀角（磨汁）　連翹（各三錢）　生地（五錢）　生甘草（五分）</p>
<p>上四味，以水二鍾，武火煎三物之八分，去滓入犀角汁和服。</p>
<p>熱傳心包，舌絳津虧，八九日不解，醫反治經，寒之、散之、攻之，熱勢益熾。得此湯立效者，蓋犀角靈異之物，能於內外皆熱之毒，悉舉上行而散。連翹解客熱，生地滋陰液，甘草和營血，專從事於心包而鉅患始平。固非芩連膏知輩，所能越俎而代也。</p>
<p>《局方》此湯有丹皮、赤芍，無連翹、甘草，此為王晉三所改。丹芍雖除血熱，而性主攻逐下行，連翹輕揚，甘草甘平，則適如其分而不過。且以佐犀角，更為調劑有情，較原方自勝爾。拙擬</p>
<p><u>萬氏牛黃清心丸</u>　治溫熱病熱阻關竅。</p>
<p>犀牛黃（二分五釐）　鏡面硃砂（一錢五分）　生黃連（五錢）　黃芩　山梔（各三錢）　鬱金（二錢）</p>
<p>上研末，蒸餅為糊，丸如黍米大，每服七八丸。</p>
<p>王晉三云：此丸古有數方，其義各別。若治溫邪內陷，包絡神昏者，惟萬氏此方為妙。蓋溫熱入於心包，邪在裡矣。草木之香，僅能達表，不能透里，必藉牛黃幽香有情之物，乃能透包絡而合神明，然尤在佐使之品，配合成宜。萬氏以芩連山梔瀉心火，鬱金通心氣，辰砂鎮心神，正與牛黃式好無尤，是以得建奇功。若調入湯劑，則犀角、羚羊角、金汁、甘草、人中黃、連翹、薄荷，可隨宜酌用。</p>
<p><u>至寶丹</u>　治中惡氣絕，中風不語，熱疫煩躁，氣喘吐逆，邪氣攻心，神昏頭眩，口乾不眠，及傷寒狂語。</p>
<p>生烏犀屑　生玳瑁屑　琥珀（研）　硃砂（研，水飛）　雄黃（研，水飛，各一兩）　牛黃（研，五兩）　安息香（一兩半，為末，酒研飛淨，一兩熬膏，用水安息尤妙）　龍腦（研）　麝香（研，各一兩）　銀箔　金箔（各十五片，研細為衣）</p>
<p>上將烏犀、玳瑁為細末，入余藥，研勻，將安息香膏重湯煮，凝成後，入諸藥中，和搜成劑，丸如桐子大，蠟護，臨服剖，用人參湯化下，三丸至五丸。王晉三云：此治心臟神昏，從表透里之方也。犀角、牛黃、玳瑁、琥珀以有靈之物，內通心竅，硃砂、雄黃二箔，以重墜之品安鎮心神，佐以龍腦、麝香、安息，搜剔幽隱諸竅。故熱入心包絡，舌絳神昏者，以此丹入寒涼湯藥中用之，能祛陰起陽，立展神明，有非他藥所可及。若病因頭痛，而即神昏不語者，此肝虛魂升於頂，當用牡蠣救逆以降之，又非此丹所宜輕試。</p>
<p><u>大黃湯</u>　療天行五六日不解，頭痛壯熱，四肢煩疼，不得飲食。</p>
<p>大黃（胃）　黃連（心肝）　黃柏（腎）　梔子（肺，各半兩，擘）</p>
<p>上四味，以水八升，煮六七沸，內豉一升，蔥白七莖，煮取三升，去滓分三服，忌豬肉冷水。</p>
<p>此三黃湯之變，除六經之熱。</p>
<p>以上六方，凡溫熱證，無論外感伏氣，但與方合，皆可施用。</p>
<p><u>白虎加桂枝湯</u>　治溫瘧，脈如平，身無寒，但熱骨節煩疼，時嘔。</p>
<p>知母（六兩）　石膏（一斤）　甘草（二兩，炙）　粳米（二合）　桂枝（三兩）</p>
<p>上銼，每五錢，水一盞半，煎至八分，去滓，溫服，汗出愈。</p>
<p>溫瘧者，邪氣內臟腎中，至春夏而始發，為伏氣外出之證。寒蓄久而變熱，故亦不作寒也。脈如平者，病非乍感，故脈如其平時也。骨節煩疼時嘔者，熱從腎出，外舍於其合，而上並於陽明也。白虎甘寒除熱，桂枝則因其熱而達之耳。</p>
