<header data-type="book">
<h1>女科要旨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳念祖</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1841">公元1841年</data></dd></div>
<div><dt>底本</dt><dd>《陳修園醫書五十種·女科要旨》，清光緖乙巳31年商務印書館（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-615171">香港中文大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>敘言</h1>
<p>醫者，意也。《靈》、《素》具在，非神而明之，則拘守成方，將為斯世厲。顧醫難，而醫婦人女子尤難。昔人以小兒為啞科，竊意女科亦然。蓋小兒不能言，而婦女則言不能盡，惟得之指下，洞見乎脈與證之相符，庶不致於差謬矣。</p>
<p>吳航陳修園先生，儒也。幼讀岐黃，語即精其理，一切時醫之論，能力窮其非，引而歸於至正。旋由科舉出為邑宰，以四診法佐撫字，至今燕南趙北人猶頌之。先生不欲秘活人方，既手刊各種書，又遺屬盡刻所著，令嗣遵之，次第行於世，為世利賴。今令孫心典一兄，又以醫學成先志。檢先生所選女科要旨，將付梓人，以年與君家世有往來之誼，命作弁言。余既心好先生書，復嘉其後人之能善承家學，存心濟人，功誠偉焉。不揣固陋，因為之序，候官林鴻年拜手。</p>
<p>（心典）少隨任北直，獲睹先大父公餘之暇，命先伯父擬注《傷寒論淺注》為前集，命先君擬注《金匱要略淺注》為後集，剖晰詳明，以示來者。更遺《女科要旨》一書，命先君韻擬之，未及付梓。回憶當年，（典）與弟（心蘭）伏讀之餘，不勝霜露之感，忽忽幾數十春秋矣。是書也，吾祖所殫精瘁慮，以期有裨於世者，不能梓而行之，則吾之責也。謹校之以付攻木氏。</p>
<p><u>辛丑荔月長孫（心典）謹識</u></p>

<h1>卷一</h1>

<h2>調經</h2>
<p>門人問曰：婦人以血為主，醫者輒云血海，可以實指其所在乎？</p>
<p>陳修園曰：人身之血海，胞也。居膀胱之外，而為膀胱之室。《經》云：衝脈任脈皆起於胞中，是男女皆有此血海。但男則運而行之，女則停而止之。運行者無積而不滿，故陽氣應日而一舉；停止者有積而始滿，故陰血應月而一下；此男女天癸之總根也。而婦人一科，專以月事為主。《經》云：「任脈通，太衝脈盛，月事以時下，故能有子。」蓋時者，滿三旬之期而一下，以象月盈則虧，下之不失其期，故名月信。</p>
<p>門人高子問曰：女科中好手甚少，不可不大為之振作。因執女科書數十種，屬余擇而授之。余遍閱大有悟曰：古人以月經名為月信，不止命名確切，而月事之有無、多少、遲速，及一切治療之原委，無不包括於「信」字之中。夫五行之土，猶五常之信也。脾為陰土，胃為陽土，而皆屬信；信則以時而下，不愆其期。雖曰心生血，肝藏血，衝任督三脈俱為血海，為月信之原，而其統主則惟脾胃，脾胃和則血自生，謂血生於水穀之精氣也。若精血之來，前後、多少、有無不一，謂之不調，不調則為失信矣。《經》云：土太過則敦阜。阜者，高也；敦者，厚也；既高而又厚，則令除去，宜用平胃散加大黃、白芍藥、枳實、桃仁之類。《經》又云：土不及則卑監。卑者，下也；監者，陷也，坑也。既下而又陷坑，則令培補，宜六君子湯加芎、歸、柴、芍及歸脾湯之類，此言經水不調以虛實分之也。</p>
<p>又有以陰陽偏勝分之者。許叔微云：婦人病多是月經乍多、乍少，或前、或後，時發疼痛，醫者一例呼為經病，不辨陰勝陽，陽勝陰，所以服藥少效。蓋陰氣勝陽氣，則胞寒氣冷，血不運行，《經》所謂天寒地凍，水凝成冰，故令乍少，而在月後；（或斷絕不行。）若陽氣勝陰，則血氣散溢，《經》所謂夏暑地熱，經水沸騰，故令乍多，而在月前。（或一月數下，或崩漏不止。）當「別其陰陽，調其氣血，使不相乖，以平為期」。此叔微統論陰陽之道也。而余則以「陰陽」　二字，專指脾胃而言。蓋脾者，太陰之濕土也，不得陽明燥氣以調之，則寒濕盛；而陰獨勝，陰道常虛，即《內經》「卑監」之旨也。胃者，陽明之燥土也，不得太陰之濕氣以調之，則燥熱盛；而陽獨勝，陽道常實，即《內經》「敦阜」之旨也。至於用方，以四物湯加香附、茯神、炙草為主，陰勝加乾薑、桂、附、吳萸及桃仁、紅花之類，陽勝加知、柏、芩、連、門冬之類，平平淺淺中，亦不可廢。若求其所以然之妙，《金匱》溫經湯一方，無論陰陽、虛實、閉塞、崩漏、老少，善用之無不應手取效。此不特今之習女科者聞之吐舌，即數百年來注《金匱》之家，或識見不到而不能言，或珍為枕秘而不肯言。今修園老矣！不得不擇人而傳之，但既傳之而又囑之曰：《靈樞經》載黃帝謂雷公曰：此先師之所禁，割臂歃血之盟也。凡思議不可及之方，若輕以示人，則氣泄而不神，必擇大學問之人，知其居心長厚者，而後授之。</p>
<p>門人問曰：女人之經，一月一行，其常也；或先或後，或通或塞，其病也；間或有不關於病者，願聞其說。</p>
<p>曰：天下事有常而即有變。婦人當月事之期，其血不下，只見吐血、衄血、或眼耳出血者，是謂倒經逆行；有三月一行者，是謂居經；有一年一行者，是謂避年；有一生不行而受胎者，是謂暗經；有受胎之後，月月行經而產子者，是謂胎盛，俗名垢胎；有受胎數月，血忽大下而胎不墜者，是謂漏胎；此雖異常，而數患之竟不害事也。彼皆以妄為常，而中土失其主信之道，如人無信行，全賴狡詐以成家，君子不為也。大抵婦人患此者，性情亦必乖張。</p>
<p>門人問曰：經候不調既得聞命矣，今願聞調經之法。</p>
<p>曰：諸家調經之說，是非參半。而蕭慎齋以調經莫先於去病，錄李氏之論一條，以分因詳證治法；錄方氏之論一條，又參以統論二氏之說，深合鄙意，今全錄於後。</p>
<p>李氏云：婦人月水循環，纖疴不作而有子。若兼潮熱、腹痛，重則咳嗽、汗、嘔，或瀉，有潮熱則血愈消耗，有汗、咳、嘔則氣往上行，瀉則津偏於後，痛則積結於中，是以必先去病，而後可以滋血調經。就中潮熱疼痛，尤為婦人常病。蓋血滯積入骨髓，便為骨蒸；血滯積瘀，與日生新血相搏，則為疼痛；血枯不能滋養百骸，則蒸熱於內；血枯胞絡火盛，或挾痰氣、食積、寒冷，則為疼痛；凡此諸病，皆阻經候不調，必先去其病，而後可以調經也。</p>
<p>方氏曰：婦人經病，有月候不調者，有月候不通者；然不調不通中，有兼疼痛者，有兼發熱者，此分而為四也。細詳之，不調中，有趨前者，有退後者，趨前為熱，退後為虛。不通中，有血枯者，有血滯者；血滯宜破血，枯宜補也。疼痛中，有時常作痛者，有經前經後作痛者；常時與經前為血積，以經後為血虛也。發熱中，有常時發熱者，有經行發熱者；常時為血虛有積，經行為血虛而有熱也；是四者之中，又分為八矣。人之氣血周流，忽有憂思忿怒，則鬱結不行；經前產後，忽遇飲冷形寒，則惡露不盡；此經候不調，不通作痛，發熱所由作也。大抵氣行血行，氣止血止；故治血病以行氣為先，香附之類是也。熱則流通，寒則凝塞；故治血病以熱藥為佐，肉桂之類是也。</p>
<p>蕭慎齋曰：按婦人有先病而後致經不調者，有因經不調而後生諸病者。如先因病而後經不調，當先治病，病去經自調；若因經不行而後生病，當先調經，則經調病自除。李氏一論，可謂調經之要，然偏而不全，余故補其未盡之旨。若方氏分因詳症，誠得統論調經大法。</p>
<p>門人問曰：夫子以月事為月信專主脾胃，不摭《內經》之字句，而獨得其精華，究竟從何節得來乎？</p>
<p>曰：《詩》以「思無邪」蔽之，《禮》以「毋不敬」該之，余此論從「二陽之病發心脾」一節領會出來。今錄其原文，又採集各家之注，願學者熟讀而有得之。《內經》云：「二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，其傳為息賁者，死不治」。馬元臺注云：二陽，足陽明胃脈也。為倉廩之官，主納水穀，乃不能納受者何也？此由心脾所發耳。正以女子有不得隱曲之事，郁之於心，故心不能生血，血不能養脾，始焉胃有所受，脾不能化，而繼則漸不能納受，故胃病發於心脾也。由是水穀衰少，無以化精微之氣，而血脈遂枯，月事不能時下矣。余擬用歸脾湯，重加鹿茸、麥門冬，服二十餘劑可愈。武叔卿注云：此節當從「隱曲」推解。人有隱情曲意，難以舒其衷，則氣鬱而不暢；不暢則心氣不開，脾氣不化，水穀日少，不能變化氣血，以入二陽之血海；血海無餘，所以不月；余擬用歸脾湯，加芍藥、柴胡。傳為風消者，（風之名，火之化也。消，消瘦也。）發熱消瘦，胃主肌肉也；余擬用歸脾湯，加丹皮、梔子、地骨皮、芍藥。傳為息賁者，喘息上奔，胃氣上逆也；余用《金匱》麥門冬湯。人無胃氣則死，故云「死不治」。此一節為經血本原之論也。</p>
<p>門人問曰：婦人經閉，或因家務煩惱，或因胎產、乳子受傷，其不調也有自室女。何以亦有不調之病乎？</p>
<p>余曰：室女患此，甚於婦人，所以多死。室女乃渾全之人，氣血正旺，不應阻塞，竟患經閉不行，若非血海乾枯，則為經脈逆轉。血海乾枯者，宜用當歸補血湯加麥冬、白芍各五錢，炙甘草二錢；虛極者加附子一錢以助之。倘或失治，則內熱咳嗽、肌肉甲錯、毫髮焦落，而成怯症矣。經脈逆者，宜用《金匱》麥門冬湯、芍藥甘草湯，加牛膝、茜草之類，兼服四烏鰂骨一蘆茹丸以調之。倘或失治，則為吐血、衄血、咳嗽、骨蒸，而成瘵病矣。若肝火熾盛，左脅刺痛，頸生瘰癧，佐以逍遙散，加栝蔞、川貝母、生牡蠣、青皮之類。若肝木弦，上寸口魚際，非藥所能治，即與壻配則愈，或與加味逍遙散。若體常怯寒，食少腹脹，佐以六君子湯，加乾薑之類；歸脾湯、八珍湯可以出入互用。然余又有深一層治法。憶余乾隆辛丑歲，朱紫坊黃姓之女，年方二十二歲，始因經閉，服行經之藥不效，後泄瀉不止、食少、骨瘦如柴，服四神、八味之類，瀉益甚，而五更至天明數次，便後帶血，余主用《金匱》黃土湯，以赤石脂易黃土，以乾薑易附子，每服加生鹿茸五錢，意以先止其泄瀉便紅，然後再調其經水，連服八劑，泄瀉如故，而經水通矣。又服五劑，瀉血俱止。後服六君子湯加乾薑收功。可知鹿茸入衝任督三脈，大能補血，非無情之草木所可比也。又閱喻嘉言《寓意草》，載楊季登之女，經閉年餘，發熱食少，肌削多汗，而成勞怯。醫見多汗，誤謂虛也，投參朮，其血愈涸。余診時，見汗出如蒸籠氣水，謂曰：此症可療處，全在有汗。蓋經血內閉止，有從皮毛間透出一路，以汗亦血也；設無汗而血不流，則皮毛乾槁而死矣。宜用極苦之藥以斂其血，入內而下通於衝脈，則熱退經行而血自止，非補藥所能效也。於是以龍薈丸日進三次。月餘，忽覺經血略至，汗熱稍輕。姑減前丸，隻日進一次。又一月，經血大至，淋漓五日，而諸病全瘳矣。附此二案，為一虛一實之對，學者當一隅而三反之。</p>
<p>門人問曰：女科書一病一方，且一病而有數方，其方倍於男子。此書於調經一書，止取一十九方，毋乃太簡乎？</p>
<p>曰：《內經》只有十二方，《傷寒論》止有一百一十三方，《金匱》止有二百四十三方，可以謂之方；唐以後合法者甚少，其餘不過彙集藥品，不可以名方。而女科所傳之方，更為淺陋，大失《神農本經》之旨與伊聖制方之法。淺陋之方，姑任淺陋之醫輩用之，淺陋之病家服之，服之不愈，亦無怨言，或日久而病氣衰亦自愈，余姑置弗論也。今諸同學皆好學深思士也。儒者以濟人為心，以我之獨知俯視一切，未免驚俗。恐濟人不廣，禮貴從俗，醫道何獨不然！今取習用之方而精選之，即如四物湯，本淺近而無深義也，余則加入香附、茯神各二錢為佐，是取鐵翁道人之交感丸，參贊其內（交感者，以氣之化於無形也）；又加炙甘草四錢為君，是取仲景先生之復脈湯，主持其際（復脈者，以血之運而不息也）；變淺近為神奇。惟熟讀《內經》、《本經》、仲景書者，方信余言之不謬。又有加減套法：經血先期而至，加芩、連、知、柏；後期而至，加薑、桂、艾葉。實者加陳皮、枳實；虛者加人參、白朮；大實而閉者，加大黃、枳實、桃仁、牛膝，更佐以抵當湯、桃仁承氣湯；大虛而枯者，加參、朮、鹿茸、牛膝外，更加以人參養榮湯。經行而腹痛拒按者，加延胡索、木香；經已行而腹痛者，加人參、白朮、乾薑。經水不通、逆行而為吐血、衄血者，加牛膝、澤蘭、韭汁、童便。若腹中素有痞，飲食滿悶者，除地黃加枳實、半夏。色紫者，風也，加荊、防、白芷；黑者，熱甚也，加芩、連、丹皮、地骨皮；淡白者，虛也，有挾痰停水以混之，加參、耆、陳、半；色如煙塵、水如屋漏水者，合二陳湯，再加防風、秦艽、蒼朮；如豆汁者，加芩、連；或帶黃渾濁者，濕痰也；或成塊作片，血不變者，氣滯也；加元胡、枳實、陳皮。色變紫黑者，屬熱者多，屬寒者亦有之，宜察脈審症。此外，若惡寒、發熱、頭痛，有汗加桂枝、薑、棗，無汗加麻黃、細辛之類，詳於海藏六合湯不贅。其餘歸脾、逍遙各方，雖不可與《內經》四烏鰂骨一蘆茹丸等方並論，而視益母勝金丹、巽順丸之類，則夐乎遠矣！</p>

<h3>古今方十九首</h3>
<p><u>平胃散</u>　治土氣太過，經血不調。《達生篇》：加芒硝能下死胎。</p>
<p><u>六君子湯</u>　方中參、朮、苓、草，脾藥也；陳皮、半夏，胃藥也；經血生於脾胃，故加歸、芍之類，便是調經之的方。</p>
<p><u>四物湯</u>　婦科總方，時人習用之，方中妙在川芎一味。</p>
<p><u>新定加味四物湯</u>（方論見上。）</p>
<p><u>十全大補湯</u>　八珍湯　二方氣血雙補，其用藥品雖雲板實，卻亦平穩可從。</p>
<p><u>人參養榮湯</u>　五臟兼補，視八珍、十全等高一格，以藥品之輕重得法也。</p>
<p>生白芍（一錢五分）　人參　當歸　陳皮　桂心（徐靈胎《蘭臺軌範》云：是小桂枝去皮，非肉桂心。）　黃耆　茯苓　白朮　炙草（各一錢）　遠志（去骨，五分）　五味（十四粒）　熟地（七錢半）</p>
<p>加生薑三片，紅棗二枚，水煎溫服。</p>
<p><u>四烏鰂魚骨一蘆茹丸</u>（《內經》）　調經種子，亦治男子陽痿。</p>
<p>烏鰂魚骨（四兩，去甲）　蘆茹（一兩）</p>
<p>（長男蔚）按：以雀卵丸，如小豆大，食前以鮑魚汁送下五丸，今酌增為二錢。後人用白毛黑骨雄雞一隻，去毛腸，不見水擦乾，用當歸二兩，川芎一兩，入前藥於雞腹內，加酒二碗，童便一碗，蒸到汁干，將雞取淨肉，和藥曬為末；或加香附四兩，炒茯神、人參各一兩，為末，煉蜜為丸，如梧桐子大，酒送下，或米湯送下。</p>
<p><u>抵當湯</u>　通瘀猛劑。（見《傷寒論》）。</p>
<p><u>桃仁承氣湯</u>　通瘀緩劑。（見《傷寒論》）。</p>
<p><u>蠶砂酒</u>　治月經久閉。按：此方較上二方更為平穩。</p>
<p>蠶砂（四兩，炒半黃色）　無灰酒（一壺）。</p>
<p>上重湯煮熟，去砂，溫飲一盞即通。</p>
<p><u>歸脾湯</u>（《內經》）　二陽之病發心脾一節，此方頗合《經》旨。</p>
<p>當歸　茯神　人參　炙耆　白朮　棗仁　龍眼肉（各二錢）　木香　炙草（各一錢）水煎服。</p>
<p>高鼓峰云：男婦怯弱，不論何症，止以此方去木香，加芍藥、麥冬、五味子，服至月餘必愈。雖有他方，吾不知也。按方中全賴木香一味，若去之何以成歸脾湯乎？若有寒熱往來，可加柴胡、芍藥；若潮熱骨蒸，加丹皮、地骨皮、梔子；若起於怫鬱，加貝母、黃連；若腹痛經閉，加桃仁、紅花、元胡索之類。</p>
<p><u>逍遙散</u>　女子善懷，每多憂鬱，此方解肝鬱也，而諸郁無不兼治。趙養葵謂：五郁皆屬於肝也。方從小柴胡湯套出。</p>
<p><u>越鞠丸（《丹溪》）解鬱總方。《易思蘭醫案》治寒熱虛實一切雜病，皆從此方變化，屢用屢驗。</u></p>
<p>香附（童便制）　山梔　撫芎　蒼朮　六神麯</p>
<p>以蒸餅為丸，每服三錢，陳米湯送下。</p>
<p><u>溫經湯</u>　治經閉或經行過多，或崩漏不止，或久不受胎，統名帶下。</p>
<p>吳萸（三兩）　當歸　川芎　芍藥　人參　桂枝　阿膠　丹皮　甘草（各二兩）　生薑（三兩，一本二兩）　半夏（半升，一本一升）　麥冬（一升）</p>
<p>上十二味，以水一斗，煮取三升，分溫三服。</p>
<p>亦主婦人少腹寒，久久不受胎，及過期不來。歌曰：口乾腹滿掌心燒，卅六疴該（謂十二瘕、九痛、七害、五傷、三痼，共三十六種，詳於《金匱淺注》中，不贅）帶下條，歸芍膠芎權各二，權（稱鍾也。稱其數各二兩）。桂參丹草數相侔，（八物同用二兩也。）整升重用（麥門）冬勝任，減半一升減其半，止用半升也。相需（半）夏速求，更佐（吳茱）萸（生）姜各三兩，閉（至期不來。）崩（來而過多）不育（少腹寒，久不受胎者。）各探幽。</p>
<p>（次男元犀按）：當歸、芎藭、芍藥、阿膠，肝藥也；丹皮、桂枝，即心藥也；吳茱萸，肝藥、亦胃藥也；半夏，胃藥亦沖藥也；麥門冬、甘草，即胃藥也；人參補五臟；生薑利諸氣也。病在經血，以血生於心藏於肝也；沖為血海也，胃屬陽明，厥陰衝脈麗之也。然細繹方意，以陽明為主，吳茱萸用至二兩，驅陽明中土之寒；即以麥門冬用至一升，滋陽明中土之燥；一寒一熱，不使偏隅，所以謂之溫也。半夏用至半升、生薑用至三兩者，以姜能去穢而胃氣安，夏能去逆而胃氣順也。其餘皆相輔而成其溫之之用，絕無逐瘀之品，故過期不來者能通之，月來過多者能止之，少腹寒不受胎者並能治之，其神妙不可言矣！</p>
<p><u>六味丸</u>　「壯水之主，以制陽光。」</p>
<p><u>桂附八味丸</u>　「益火之源，以消陰翳。」二方治婦人經病。無子加香附（童便浸）、川貝母、當歸各三兩，艾葉（醋炒）二兩，多效。</p>
<p><u>當歸補血湯</u>　治血虛發熱，症類白虎，但脈不洪長以別之。</p>
<p>黃耆（一兩）　當歸（三錢）</p>
<p>上水煎服。尤在涇《金匱翼》有生地五錢，甘草二錢，余未知其所本。</p>
<p><u>麥門冬湯</u>　治火逆上氣，咽喉不利，止逆下氣。</p>
<p>（長孫男心典稟）按：可借治婦人返經、上逆、吐衄等症。蓋以此方專入陽明。陽明之脈，以下行為順，上行為逆；衝任之脈，麗於陽明；三經主血，故以此方為正治之法。若去粳米，加蜂蜜八錢，取百花之菁華，以補既亡之胃陰，更為周到。然陽明因虛火而逆者固宜此湯，陽明因虛寒而逆者，舍吳茱萸之溫降，將何道以鎮納之乎？噫嘻！吐血、衄血之症，違眾說而專主此湯，恐漢、唐以下，至今日而始聞是語也。</p>
<p>麥門冬（四錢，不去心）　煮半夏（二錢）　大棗（二枚）　炙甘草（一錢）　粳米（三錢半）　人參（一錢）</p>
<p>上諸味，清水煎服。</p>
<p>修園與諸生，講學於嵩山之井上草堂，座中有謂某醫，自誇為女科名手，執其常用之方來詢，余不覺大發一嘆，曰：女科本無純粹可觀之書，而世上醫輩更不必深求之也。然而相傳習用之藥，不自知其為害人之品者，則有四：一曰丹參。謂丹參不寒不燥，不補不攻，一味功兼四物，且能去瘀血生新血。李士材謂其去瘀之功，多於生血，為婦人之要藥。豈知《本草經》云：「丹參味苦微寒，主心腹邪氣，腸鳴幽幽如走水，寒熱積聚，破症除瘕，止煩滿，益氣。一名卻蟬，生山谷」。通共三十八字。其云主「心腹邪氣」，「邪氣」二字，即下文寒熱之氣也。邪在心即煩，邪在腹即滿，腸居腹內，邪氣走於腸中，故幽幽鳴如走水。積聚亦病於腹，積而不散、推之不移為症，症者徵也，以其有形可徵也；或聚或散、推之則移為瘕，瘕者假也，言其假借而成也。其云益氣者，通章以心腹邪氣為提綱，邪氣既除，則正氣自然受益，非丹參能補益之也。詳《經》文之旨，專主驅邪，且驅心腹之裡邪，與四物湯之功用，冰炭相反，若以平時調理胎前、產後之常藥而輒用之，攻伐無過，臟氣大傷，即孟夫子所謂安其危而利其災，樂其所亡是也。此女科習用丹參之害人一也。二曰益母，謂益母能通血脈，調經水，去瘀生新，為婦人之良藥。豈知《本草經》云：「茺蔚子味辛微溫，主明目益精，除水氣，久服輕身。莖主癮疹癢，可作浴湯。一名益母，一名益明，一名大札，生池澤。」通共四十一字，無一字言及婦人經產之症。其云「微溫」者，得春木之氣也；味辛者，得秋金之味也。木有制則其性和，性和則有輕身之效，《經》所謂風能生物是也。其云「明目」者，以肝開竅於目也。其云益精者，以精生於飲食之精華，先散於肝而後藏之於腎也。莖主癮疹癢者，以洗浴能去肌表之風也。若產後膚表微微發熱，是外感微風，與此物甚為對症，若重症則不足恃矣。況症重藥輕，則病勢日甚一日，終至敗壞而莫挽。若輩東請西延，別有殺人不見血之技，修園惡之，此女科習用益母草之害人二也。三曰何首烏。時醫以熟地黃大補陰血，恐其膩膈減食，竟以何首烏代之。豈知何首烏《本草經》不載，而《開寶》有之，極贊其功，但為後人新增之品，或逞其臆見，或得之傳聞，不足尚也。余惟於久瘧偶用之，取其味澀之能截瘧也；久痢偶用之，取其味苦之能堅腸也。若謂其能滋陰補腎，如《開寶》所誇之效，吾不信也。蓋藥之能滋潤者，必其脂液之足也；藥之能補養者，必其氣味之和也。試問滯澀如首烏，何以能滋？苦劣如首烏，何以能補？正與地黃相反，何以謂其功用相同而相代乎？此女科習用何首烏之害人三也。四曰鬱金。謂婦人之病，多起於郁，鬱金能解諸郁，為婦人之良藥。而不知此物，《神農本草經》不載，而《唐本》有之，《唐本》云：「鬱金味苦寒，主血積，下氣生肌，下血破惡血，血淋、尿血、金瘡。」原文只此二十三字。其雲氣味苦寒者，謂氣寒而善降，味苦而善泄也。其云血積者，血不行則為積，積不去則為惡血。血逆於上，從口鼻而出，則為衄血、吐血；血走於下，從便溺而出，有痛為血淋，無痛為尿血；金瘡之瘀血不去，則血水不斷，不能生肌；此物所以統主之者，以其病原皆由於積血，特取其大有破惡血之功也。蓋血以氣為主，又標之曰：下氣者以苦寒大泄其氣，即所以大破其血，視他藥更進一步。「解鬱」二字，不見經傳，切不可惑此邪說。若經水不調因實而閉者，不妨以此決之。若因虛而閉者，是其寇仇。且病起於郁者，即《內經》所謂「二陽之病發心脾」，大有深旨。若錯認此藥為解鬱而頻用之，十不救一。至於懷孕，最忌攻破，此藥更不可以沾唇。即在產後，非熱結停瘀者，亦不可輕用。若外邪未淨者，以此擅攻其內，則邪氣乘虛而內陷。若氣血兩虛者，以此重虛其虛，則氣血無根而暴脫。此女科習用鬱金之害人四也。聖經灼然可據，雜書雜說居然魚目混珠，甚為不解。昔人謂不讀人間非聖書，吾深有味乎斯言也！嘗考神農作赭鞭鉤𨨪，從六陰陽與太乙，外五嶽四瀆，土地所生，草石骨肉心灰毛羽干類，皆鞭問之。得其所能治主，當其五味，一日七十毒，是《神農本草經》為辨藥之祖。何以後人食唐、宋以後之唾餘，或取雜書附會鋪張之說，及各氏臆斷邪說，竟與聖經為難？斯人也，侮聖人之言，吾有四字勘語曰：「庸惡陋劣」，不可以為醫。《人鏡經》謂當碎其碑，汙其面，正非過激之談。</p>

<h2>種子</h2>
<p>門人問曰：婦人何以無子？</p>
<p>曰：婦人無子，皆由經水不調。經水所以不調者，皆由內有七情之傷、外有六淫之感，或氣血偏盛、陰陽相乘所致。種子之法，即在於調經之中，前論已詳矣。若經水既調，身無他病，而亦不孕者，一則身體過於肥盛，脂滿子宮而不納精也，前人有啟宮丸一方頗超然。修園最厭女科書，排列許多方名，徒亂人意，究竟是二陳湯加蒼朮、川芎、六神麯、香附之類，不如直說出來更妙。一則身體過於羸瘦，子宮無血而精不聚也，景岳有育麟珠極效，然亦是八珍湯加菟絲子、鹿茸霜、川椒、杜仲四味，似亦不必另立名色也。其有生女不生男者，系以男人督脈不足，陽不勝陰；令其男人以鹿茸四具，人參一斤，遠志四兩，菟絲子半斤，醇酒為丸服之。所謂得其要者一言而盡，他書皆繁而無當也。</p>
<p><u>啟宮丸</u>　時方。</p>
<p>半夏（制）　蒼朮　香附（各四兩，童便浸炒）　六神麯（炒）　茯苓（生研）　陳皮（各二兩，鹽水炒）　川芎（三兩）</p>
<p>蒸餅丸，酒下三錢服。（蒼朮，又一本作白朮。）</p>
<p><u>育麟珠</u>　時方。</p>
<p><u>鹿角霜</u>　川芎　白芍　生白朮　茯苓（各二兩）　川椒（一兩）　人參（二兩）　當歸（四兩）　杜仲　甘草（各一兩）　菟絲　地黃（各四兩）</p>
<p>上為末，煉蜜為丸，如梧桐子大，米湯無灰酒送下。</p>
<p>門人問曰：婦人不能得孕，或易於得孕，可以診脈而預知之否乎？</p>
<p>曰：陳楚良云：人身血氣，各有虛實寒熱之異，惟察脈可以知，舍脈而獨言藥者，妄也。脈不宜太過而數，數則為熱；不宜不及而遲，遲則為寒；不宜太有力而實，實者正氣虛，火邪乘之以實也。治法當散郁，以伐其邪，邪去而後正可補。不宜太無力而虛，虛乃血氣虛也；治法當補其氣血。又有女子氣多血少，寒熱不調，月水違期，皆當診脈，而以活法治之。務使夫婦之脈，和平有力，交合有期，不妄用藥，乃能生子也。</p>
<p>門人問曰：東垣言：婦人經水甫靜，三日前交者成男，以精勝於血也；三日後交者成女，以血勝於精也。七日子宮既閉，雖交而亦不孕。褚氏言：血先至裹精以生男，精先至裹血則生女。《道藏》言：月水淨後，一、三、五成男，二、四、六成女。聖經言：因氣而左動，陽資之則成男；因氣而右動，陰資之則成女。程鳴謙言：精之百脈齊到勝乎血則成男；血之百脈齊到勝乎精則成女。此皆一偏之言，不足以語乾坤、陰陽之道也。老子云：「天法道，道法自然，亦惟順之而已」。然天命雖聽其自然，而人事亦不可不盡。敢問求嗣果有其法否乎？曰：袁了凡云：天地生物，必有絪縕之時；萬物化生，必有樂育之候。貓犬至微，將受娠也，其雌必狂呼而奔跳，以絪縕樂育之氣觸之不能自止耳，此天然之節候，生化之真機也。凡婦人一月經行一度，必有一日絪縕之候，於一時辰間，氣蒸而熱，昏而悶，有欲交接不可忍之狀，此的候也。此時逆而取之則成丹，順而施之則成胎矣。</p>
<p>門人問曰：婦科論種子繁雜無所適從，而至當不易之法，當宗誰氏？</p>
<p>曰：宋·駱龍吉有《內經拾遺》一書，明人增補之，內附種子論一首，方三首，卓然不凡。論曰：男女媾精，萬物化生，則偏陰不生，偏陽不長，理有必然者也。然夫婦交媾而不適其會，亦偏陰偏陽之謂也，則以無子而諉於天命，豈不泥乎！間有資藥餌以養精血，候月經以種孕育，多峻補以求詭遇，又求嗣未得，而害己隨之，深可痛可惜也！茲幸拜名師，於百年中而得有秘授焉：一曰擇地，二曰養種，三曰乘時，四曰投虛。地則母之血也，種則父之精也，時則精血交感之會也，虛則去舊生新之初也。余聞之師曰：母不受胎者，氣盛血衰之故也。衰由傷於寒氣，感於七情，氣凝血滯，榮衛不和，以致經水前後多少，謂之陰失其道，何以能受？父不種子，氣虛精弱故也。弱由過於色欲，傷乎五臟，臟皆有精而藏於腎，腎精既弱，闢之射者力微，矢枉不能中的，謂之陽失其道，何以能種？故腴地也不發瘠種，而大粒亦不長磽地，調經養精之道所宜講也。誠精血盛矣，又必待時而動，乘虛而入，如月經一來即記其時，算至三十時辰，則穢氣滌淨，新血初萌，虛之時也，乘而投之。如恐情竇不開，陰陽背馳，則有奇砭，納之戶內，以動其欲。庶子宮開、兩情美、真元媾合、如魚得水，雖素不孕者亦孕矣！此法歷試歷驗，百發百中者也，豈謬言哉！及其既孕，欲審男女，先以父生年一爻在下，母生年一爻在上，後以受胎之月居中；或遇乾、坎、艮、震、陽象也，則生男；或遇巽、離、坤、兌，陰象也，則生女；有可預知者焉。嗚呼！始而無子者，非天也，人自戕其天也。已而有子者，亦非天也，人定可以勝天也。</p>

<h3>時方三首</h3>
<p><u>廠嗣丸</u>（此方乃論中所謂奇砭納之戶內者也。）</p>
<p>沉香　丁香　吳萸　官桂　白芨（各一錢）　蛇床子　木鱉子　杏仁　砂仁　細辛（各二錢）</p>
<p>上十味，煉蜜為丸，如綠豆大。</p>
<p><u>固精丸</u>（以下二方，乃論中所謂養精調經之平和藥也。）</p>
<p>附子（一枚，重八錢，臍心作竅如皂角子大，入硃砂三錢，濕紙包煨，用一半）　牡蠣（一枚漳泉二府所出者，童便遍塗，厚紙裹，米醋浸透，鹽泥固濟候乾，以炭三斤煨之）　桂心（去皮）　龍齒　當歸（酒焙洗）　石菖蒲（燒去毛）　山茱（去枝梗）　烏藥（天台者）　益智（去枝梗）　杜仲（酒洗去絲）　牛膝（浸酒）　秦艽　細辛　桔梗　半夏（鹽湯泡七次）　防風　川椒（去子併合口者）　茯神　白芍（各三錢）　乾薑（一兩半，炒半生）　遼參（一兩）</p>
<p>上二十一味，研，糯米為丸，取附子肉、硃砂為衣，如桐子大，每服三十丸，加至七十丸，空心淡醋湯或鹽湯任下。</p>
<p><u>增損地黃丸</u>　治月經不調，久而無子。</p>
<p>當歸（二兩，全用）　熟地黃（半斤，懷慶者佳）　黃連（一兩，淨）</p>
<p>上三味，酒浸一宿，焙乾為末，煉蜜為丸，桐子大，每服五十丸至一百丸。如經少，溫酒下；經多，米湯下。</p>

<h3>外備方三首</h3>
<p><u>五子衍宗丸</u>　治男人精虛無子，陽事不舉。</p>
<p>菟絲子（八兩）　枸杞子　覆盆子（各四兩）　五味子　車前子（各三兩）</p>
<p>煉蜜為丸，如梧桐子大，每早米湯送下三錢。時法以左尺虛，為天一之水衰，宜合六味地黃丸；右尺虛，為地二之火衰，宜合桂附地黃丸；兩尺俱虛，為水火俱衰，宜合十補丸。余每用加人參、鹿茸、魚鰾各四兩，或以黃耆一斤，熬膏和蜜煉為丸，為效較速。</p>
<p>（長孫男心典）按：凡物之多子者，久服之亦令人多子。且菟絲子、車前煮汁，膠膩極似人精，故能益精而聚精；況又得枸杞、覆盆，皆滋潤之品以助之乎！尤妙在五味子收澀，與車前子之通利並用，大具天然開闔之妙，亦時方之頗有意義者。</p>
<p>修園於女科擇用數方之後，必短注數語，諸子讀之，咸謂語短味長。起而問曰：脾胃之藥以米湯送下，正法也。而治肝之劑亦用之者，聚震坤合德之義也。治肺之劑亦用之者，取火歸土旺之義也。惟腎處最下，用藥宜速其下行，若雜以脾胃之藥，恐逗留其下行之性，濡滯於中而作脹。前者時行之某醫，治一老婦，評於方後云：老年陰虛，當以六味地黃丸為主，而脾胃又須兼顧，加入粳米八錢，為脾胃雙補立法。夫子聞之而噴飯。茲何以補腎諸丸，而以米湯送下乎？</p>
<p>曰：《內經》云：「精不足者補之以味。」味者，五穀之正味也。扁鵲云：「損其腎者益其精。」精者，五穀之精華也。《洪範》論味，而曰稼穡作甘。甘者，正味也。世間物惟五穀得味之正，但能淡食穀味，最能養精。袁了凡云：煮粥飯中，有厚汁滾作一團者，此米之精液所聚，食之最能補精。余於補腎各丸，必以米湯送下者，此物此志也。若時醫以熟地黃與白朮、粳米同用者，則有毫釐千里之差耳！</p>
<p><u>十補丸</u>　治血氣兩虛，先天之水火俱衰，少年而有老態者。</p>
<p>鹿茸　澤瀉　附子　肉桂　山茱　薯蕷　茯神　人參　當歸　白朮（各等分）</p>
<p>煉蜜為丸，如梧桐子大，米湯送下三錢。此方與十全大補同意。但十全大補湯從氣血之流行處著眼，氣血者，後天有形之用也；此方從水火之根本處著眼，水火者，此是先天無形之體也；二方之分別在此。</p>
<p><u>新定加味交感丸</u>　治婦人不育。</p>
<p>香附（去毛，水浸一晝夜，炒老黃色，半斤）　菟絲子（一斤，制）　當歸（童便浸，曬乾）　茯神（各四兩，生研）</p>
<p>（次孫男心蘭稟）按：水與土相調，則草木生；脾與腎相和，則胎息成。菟絲子一物而備水土之氣，故取之為君；當歸能滋子宮之乾燥，故取之為使；至於香附、茯神，鐵甕翁名交感丸，其效詳載於《內經拾遺》中，不待贅論。</p>
<p>門人問曰：轉女為男，果有此法否乎？</p>
<p>曰：於傳有之。有令孕婦佩極大之雄黃者；有令著本夫之衣冠，環水井而左旋三周，面覷井中之形，不令人見者；又於床下暗存刀斧，刀背向上，刀口向下者；密存雄雞毛羽於席下者。吾亦姑藏其說而弗論之。大抵厚積陰功廣行善事，而不沒人善，更為第一善事，不必持齋祈禱，定叫熊羆之占。</p>

<h1>卷二</h1>

<h2>胎前</h2>
<p>門人問曰：《金匱》妊娠一門，夫子之注甚詳，恐難為淺學道也。此外，還有簡易之法，賢愚可共曉否？</p>
<p>曰：夫道一而已矣，淺者自見其淺，深者自見其深也。《金匱》本於《靈》、《素》，後之高明者，得《金匱》之一知半解，敷衍成篇。如今之舉業家，取五經四書題目，作臭腐時文，文無定體，惟不失立言之語氣，而合時文之法度，斯得矣！茲且從俗而言時法。王海藏云：胎前氣血和平，則百病不生。若氣旺而熱，熱則耗氣血而胎不安，當清熱養血為主。若起居飲食調攝得宜，絕嗜欲，安養胎氣，雖感別症，總以安胎為主。又云：安胎之法有二：如母病以致動胎者，但療母則胎自安；或胎氣不固，或有觸動以致母病者，宜安胎則母自愈。汪石山云：凡胎前總以養血健脾、清熱疏氣為主，吾鄉稱為女科之最上者，父子相傳，不外此說。而更深一步者，趙養葵云：胎莖之繫於脾，猶鍾之繫於梁也。若棟柱不固，棟梁亦撓；必使腎中和暖，然後胎有生氣，日長而無隕墜之虞；何必定以黃芩、白朮哉！乃此四節，平易近人，行道人不可不俯而相就，毋取驚俗為也。</p>
<p>門人問曰：夫子引王海藏云：熱則耗氣血而胎不安。而朱丹溪謂胎前當清熱養血為主，以白朮、黃芩為安胎之聖藥。立論相同，而《金匱》治妊娠，開章即以桂枝湯為首方，且有大熱之附子湯，溫補之膠艾湯，不啻南轅北轍之異！究竟從仲景乎？從海藏、丹溪乎？</p>
<p>曰：海藏、丹溪之論，原從《金匱》常服之當歸散得來。《金匱》之附子湯、膠艾湯，又與其本篇養胎之白朮散同義，須審婦人平日之體氣偏陰偏陽，豐厚羸瘦；致病之因寒因熱；病形之多寒多熱；病情之喜寒喜熱；又合之於脈而治之，不可執一也。</p>
<p>門人問曰：《金匱》論妊娠，開章以桂枝湯居其首，其原文云：「婦人得平脈，陰脈小弱，其人渴，不能食，無寒熱，名妊娠，桂枝湯主之」。「於法六十日當有此症，設有醫治逆者，卻一月加吐下者，則絕之」。各家所注，非失之淺則失之鑿，請一一明之，以為一隅之舉。</p>
<p>曰：《金匱》云「婦人得平脈」者，言經水不行，不可為無病之人，而平脈乃為無病之脈，診見此脈有喜出望外之意，故曰「得」也。其云「陰脈小弱」者，以陰脈屬下焦尺部，視上、中二部之脈，不過小弱；小弱則非等於澀，為血滯之病脈，此即《內經》所謂婦人有孕，身有病而無邪脈之旨也。其云「渴，不能食」者，以婦人所食穀味，化為血氣，下為月水；今月水乍聚而欲成胎，則中焦之氣壅塞。中焦者胃也，胃病則懶於納穀，故不能食；胃病則燥氣偏勝，故口乾而渴也。其云「無寒熱」者，症自內起，不關外邪，安有惡寒發熱之象哉？！故以「渴，不能食，無寒熱」七字，為妊娠之確切真語也。且云「於法六十日當有此症」者，特為「陰脈小弱」一句，自明其師古而不泥古之意。《內經》云：陰搏陽別，謂之有子。言陰尺脈旺與陽寸迥別。《難經》云：按之不絕者，有孕也。亦言按陰尺而不絕也。今云陰脈小弱，何以與前聖後賢相反至此？而不知妊娠之初，月水乍聚，一月為腜，二月為胚，三月為胎。今在六十日之內，其胎尚在將成未成之間，下焦之血運於中焦，而護腜胚，則下焦轉虛，所以見小弱之脈；過此胎成，則漸見陰搏與按之不絕之脈矣。其云「醫治逆者」四句。言妊娠只有六十日，以三月成胎之數計之，卻少了一個月，其形不過為一團結聚之血，豈容藥之稍誤？若誤藥而加吐下，則禍不旋踵矣！「絕之」者，明告其故，更以《周易》勿藥之說導之也。其用桂枝湯奈何？蓋以身有病而脈無故，又非寒熱邪氣。凡一切溫涼補瀉之劑，皆未盡善；惟有桂枝湯一方，調和陰陽之為得也。</p>
<p>門人問曰：巢元方謂妊娠一月名始形，足厥陰脈養之。二月名始膏，足少陽脈養之。三月始胎，手心主脈以養之；當此時，血不流行，形象始化。四月始受水精以成血脈，手少陽脈養之。五月始受火精以成氣，足太陰脈養之。六月始受金精以成筋，足陽明脈養之。七月始受木精以成骨，手太陰脈養之。八月始受土精以成膚革，手陽明脈養之。九月始受石精以成毛髮，足少陰脈養之。十月五臟六腑，關節人形皆備。陳良甫宗其說，以五行分配四時。徐之才以十月分配某月見某症則用某藥。各家之說，當從否乎？</p>
<p>曰：十月分經養胎之說，創自隋之巢氏，張子和既斥其謬矣。須知婦人自受胎以後，十二經氣血俱翕聚以養胎元，豈有某經養某月胎之理？又豈有限於某月必見某症、必用某方施治之理？齊東野人之語，吾輩切勿述之以汙口。</p>
<p>門人問曰：時醫相傳口訣，謂胎前無寒，吾鄉女科俱宗此說，然其說與丹溪輩吻合者多，而求之《金匱》則大不然矣。《金匱》云：婦人懷孕六七月，脈弦發熱，其胎愈脹，腹痛惡寒者，少腹如扇，所以然者，子臟開故也。當以附子湯溫其臟。仲景安胎用附子湯，大有取義。今人置而勿用，豈古法不堪為今用歟？</p>
<p>曰：醫之所貴者，力學之外，得明師益友。日舉其所治之症與聖經之異同，合而講論，始知其妙。其云婦人懷孕六七月，其六七月之前，身無大病可知也。今診其脈弦，弦為陰象；其身發熱，熱為陽浮；其胎愈脹，脹為虛寒。何以謂之曰「愈」？「愈」者，「更加」之意也。吾於此一字，而知此婦人本臟素屬虛寒者，常有微脹，今因病而增脹，故曰「愈」也。且可因此一字而定其脈。弦為陰盛於內，發熱為陽格於外也。且人之一身，以背與腹分其陰陽也。背為陽，而頭項該括其中；腹為陰，而大小腹該括其中。今痛而惡寒，不在陽部之背與頭項，而在陰部之腹大腹，在臍上之中脘、下脘，乃太陰坤土、陽明中土所屬也。小腹在於臍下，乃少陰水臟、膀胱水腑之所屬也。小腹兩旁名為少腹，乃厥陰肝臟、胞中血海之所居也。今云小腹如扇者，實指子臟虛寒，不能司閉藏之令，故陰中寒氣，習習如扇也。附子湯方，《金匱》闕之，其為《傷寒論·少陰篇》之附子湯無疑。《張氏醫通》云：世人皆以附子為墮胎百藥長，仲景獨以為安胎之聖藥，若非神而明之，莫敢輕試也。</p>
<p>門人問曰：妊娠二三月，心煩、惡食、嘔吐等症，醫名「惡阻」；得胎後，腹常痛，醫名「胞阻」。但「惡阻」症《金匱》無其名，而「胞阻」則有之。但「阻」者，阻隔之義，隔者宜通，保胎豈得用通之法乎？不然何以謂之「阻」乎？</p>
<p>曰：《金匱》雖無惡阻之名，而第一節云「其人渴，不能食，無寒熱，名妊娠，桂枝湯主之」。一本「渴」字作「嘔」字，注家謂為「惡阻」，《產寶》謂為「子病」是也。嘔吐不止者，《金匱》用半夏人參丸，主胃有寒飲。若胃熱上行而嘔吐，《千金》於此方，以生薑易乾薑，加茯苓、麥冬，重加鮮竹茹，作湯甚效。方中取半夏味辛降逆，辛則性烈，以直通其阻隔。樓全善、薛立齋皆謂為治惡阻之良方。高鼓峰謂與參、術同用，不獨於胎無礙，而且大有健脾、安胎之功。余每用六君子湯輒效。至於胞阻，《金匱》則與漏下、（俗名漱經。）半產、（四五月墮胎，謂之半產。）半產後下血不絕、（傷其血海。）妊娠因症而下血（《金匱》用桂枝茯苓丸下其症而安其胎。）合而並論。蓋以胞阻與各症，皆為衝任二脈之所司，病異而源同也。且夫妊娠之胎氣，原由陽精內成與陰血外養之者也。今陰血之自結，與胎阻隔而不相和，陰結陰位，所以腹中作痛。書云：「通則不痛」。通之即所以安之，惟膠艾湯絲絲入扣。且胞阻所云與漏下等症，皆陰陽失於抱負、坤土失於隄防所致。《金匱》制此方以統治各病，微乎！微乎！方中芎、歸宜通其陽血，芍、地宜通其陰血，又得阿膠血肉之品，同類相從以養之，皆令陰陽之抱負也。甘草緩中解急，又得艾葉溫暖子宮，補火而生土者以助之，皆令坤土之隄防也。故為調經、止漏、安胎、養血之良方。</p>
<p>又問：《金匱》云：婦人「腹中㽲痛，當歸芍藥散主之」，亦是胞阻與否？</p>
<p>曰：㽲痛者，微痛而綿綿也。乃脾虛反受水凌，郁欲求伸而不得，故綿綿作痛，宜當歸芍藥散兼滲其濕，與胞阻之治不同。</p>
<p>門人問曰：《金匱》云：婦人妊娠，宜當歸散主之，此以涼補為安胎法也。又云：「妊娠養胎，白朮散主之」，此以溫補為安胎法也。今皆宗丹溪「黃芩、白朮為安胎之聖藥」之說，是白朮散用蜀椒之法可以永廢矣。夫子以為何如？</p>
<p>曰：二方皆主白朮，謂白朮為安胎之聖藥則可；又合黃芩以並言，則未免為一偏之言耳。凡瘦人多火，火盛則耗血而傷胎，宜用當歸散。肥白人外盛內虛，虛則生寒，而胎不長，宜用白朮散。余內子每得胎三月必墜，遵丹溪法，用藥連墜五次。後余赴省應試，內子胎適三個月，漏紅欲墜，先慈延族伯字延義，以四物湯加鹿角膠、補骨脂、杜仲、續斷各二錢，一服而安。令每旬一次。余歸已六個月矣，閱其方大為一駭！嘆曰：補骨脂《本草》載其墜胎，又合鹿角膠、杜仲之溫，芎藭之行以助之，竟能如此之效！設余在家，勢必力爭，又以黃芩、白朮墜之矣！此後凡遇胎漏欲墜之症，不敢專主涼血；而半產應期而墜者，專主大衰論治。扁鵲謂：命門為男子藏精、女子系胞之所，胎孕繫於命門，命門之火，即是元氣，以此養胎，故有日長之勢。譬如果實，生於春而結於夏；若春夏忽作非時之寒氣涼風，則果實亦因之以黃隕矣。惟用大補大溫之劑，令子宮常得暖氣，則胎自日長而有成。若非慣患半產，不必小題大做。凡得胎後，預服扶胎之藥，以防漏墜，只用平補之法，余新定所以載丸，最驗。</p>
<p>門人問曰：夫子前刻《三字經》，引徐忠可謂：《金匱》妊娠篇凡十方，而丸散居七，湯居三，蓋以湯者蕩也，妊娠當以安胎為主，則攻補皆宜緩，不宜峻故也。但十方間有未錄音，未知其故？</p>
<p>曰：古人識見百倍於今人，凡未悉其所以然之妙者，恐針鋒不能相對，貽誤後人，故姑闕之。且當歸散、白朮散二方，余亦罕用也。</p>
<p>門人問曰：海藏以四物等分，隨所患之症，加入二味，名六合湯，驅病而無損於胎，且亦簡便可從，夫子何不全錄之以為法乎？</p>
<p>曰：四物湯為婦科之總方，海藏取之以護胎，胎得所護，則寒、熱、攻、補之峻劑，俱在胎外，以除病而胎元則晏然，不知此法甚巧而可從。但傷寒宜按六經而加之，雜病宜取按各病之主藥而加之，難以預定為何藥。且海藏表實方加麻黃、細辛，尚無大誤；而表虛方加防風、蒼朮，則失之遠矣！何不云一合麻黃湯，一合桂枝湯之為得乎！吾更推其意而論正之：子滿者，孕婦忽見通身腫滿，是胎中挾水，水與血相搏，前方加白朮、陳皮、茯苓、澤瀉。子氣者，病在氣而不在水，氣滯而足面腫、喘悶煩食，甚則腳指出黃水，前方去地黃，加香附、紫蘇、陳皮、天仙藤、炙甘草，《金匱》葵子茯苓散慎勿輕用。子懸者，何柏齋謂為濁氣舉胎上湊也；胎熱氣逆、心胃脹滿，前方去地黃，加紫蘇、陳皮、大腹皮、人參、甘草、生薑。子煩者，心中懊憹、口燥心煩，前方加麥冬、知母、竹葉、人參、甘草。子淋者，孕婦小便澀少，乃肺燥而天氣不降，前方加天門冬以清之；腎燥而地氣不升，前方加細辛以潤之；佐木通、茯苓以通其便，人參、甘草以補其虛，即《本草》安榮散之義。而《金匱》云：妊娠，小便難，飲食如故，以當歸貝母苦參丸主之。大意以肺之治節，行於膀胱，則熱邪之氣除，而淋瀝自止。而轉胞症，又與子淋便難二症分別，或因稟受弱者，或因憂鬱傷脾者，或因性急傷肝者，或因忍小便所致者。大抵胎下而壓胞，胞系了戾不通，其狀小腹急痛、不得小便、甚者至死，必令胎能舉起，懸在中央，胞系得疏，水道自行。前方加參、朮、陳、半、升麻、生薑，空心服之，或服藥後以手探吐，吐後又服之。又《金匱》云：「但利小便則愈，宜腎氣丸主之」。意者，胞之所以正者。胞之前後左右，皆大氣充滿，扶之使正，此方大補腎中之氣，所以神效。子嗽者，懷孕咳嗽，由於火盛剋金，前方加桑白皮、天門冬、紫苑、竹茹、甘草。子癇者，懷孕卒倒無知、目吊口噤、角弓反張，系肝風內動，火勢乘風而迅發，前方加羚羊角、鉤藤、竹瀝、貝母、殭蠶；甚者間服風引湯，繼以竹葉石膏湯、雞子黃連湯以急救之。子鳴者，妊娠腹內兒有哭聲，乃臍下疙瘩，兒含口中，因孕婦登高舉臂，脫出兒口，以作此聲，前方加茯苓、白朮，仍散錢於地，令其由腰拾之，一二刻間疙瘩入兒口，其鳴即止。子喑者，妊娠八九月間，忽然不語。蓋胎繫於腎，腎脈榮舌本，今因胎氣壅閉，腎脈阻塞，應靜候其分娩後，則自愈；或用前方加茯苓、遠志，一二服亦可。凡此之類，言之不盡，學者以意通之可也。</p>
<p>門人問曰：婦人妊娠之脈何如？</p>
<p>曰：《內經》及後賢論脈皆繁而難學，惟普明子簡便可從。普明子云：《經》云：婦人有孕者，身有病而無邪脈也。有病，謂經閉；無邪脈，謂脈息如常，不斷絕也。《經》又云：「手少陰脈動甚者，孕子也」。少陰心也，心主血脈，心脈旺則血旺，而為孕子之兆。《經》又云：「陰搏陽別，謂之有子」。言二尺脈旺，與兩寸迥別，亦為有孕。以上三者，但得其一，即為孕脈。分而占之，合而推之，而孕脈無遁情矣。或為流利雀啄，亦為孕脈，何也？</p>
<p>答曰：流利者，血正旺；雀啄者，經脈閉塞不行。故脈疾而歇，至此數月之胎也。不知者斷為病脈，則令人恥笑。</p>
<p>或為孕有男女，何以脈而知之乎？</p>
<p>答曰：左寸為太陽，脈浮大知為男也；右寸為太陰，脈沉實知為女也；若兩寸皆浮大，主生二男；兩尺皆沉實，主生二女。凡胎孕弦、緊、滑、利為順，沉、細、微、弱為逆也。</p>
<p>門人問曰：妊娠有食忌、藥忌，當以誰氏為主？</p>
<p>曰：此一定之板法。《達生篇》及《婦人良方》、《女科大成》、《濟陰綱目》等書，皆互相沿習，今以普明子所定為主。普明子云：「有孕之後，凡忌食之物，切宜戒食。」</p>
<p>一食雞子糯米，令子生寸白蟲；一食羊肝，令子多疾；一食鯉魚，令子成疳；一食犬肉，令子無聲；一食兔肉，令子缺唇；一食鱉肉，令子項短；一食鴨子，令子心寒；一食螃蟹，多致橫生；一食雀肉，令子多淫；一食豆醬，令子發哮；一食野獸肉，令子多怪疾；一食生薑，令子多指；一食水雞、鱔魚，令子生癩；一食騾、馬肉，延月難生。如此之類，無不驗者，所當深戒。</p>
<p>又云：娠孕藥忌歌，凡數十種，推之尚不止此。然藥中如斑蝥、水蛭、蛇蛻、蜈蚣、水銀、信砒等藥，皆非恆用之品，姑不論。茲特選其易犯者約纂數語，俾醫者舉筆存神，免致差誤。其他怪異、峻險之品，有在孕時，自應避忌，不待言也。</p>
<p>歌曰：烏頭附子與天雄，牛黃巴豆並桃仁；芒硝大黃牡丹桂，牛膝藜蘆茅茜根；槐角紅花與皂角，三稜莪朮薏苡仁；乾漆䕡茹瞿麥穗，半夏南星通草同；乾薑大蒜馬刀豆，延胡常山麝莫聞。此係婦人胎前忌，常須記念在心胸。</p>
<p>（長孫心典）按：上藥忌犯似矣。然安胎止嘔有用半夏者，娠孕熱病有用大黃者，娠孕中寒有用乾薑、桂、附者，是何說也？昔黃帝問於岐伯曰：「婦人重身，毒之何如？」岐伯對曰：「有故無殞，亦無殞也。大積大聚，其可犯也，衰其大半而止。」有故者，謂有病；無殞者，無殞乎胎也；亦無殞者，於產母亦無殞也。蓋有病則病當之，故毒藥無損乎胎氣。然大積大聚，病勢堅強，乃可以投之；又須得半而止，不宜過劑，則慎之又慎矣！用藥者，可不按岐黃之大法耶？</p>
<p>門人問曰：臨產將護及救治之法何如？</p>
<p>曰：《達生篇》一書，發揮詳盡，一字一珠，不必再贅。凡男人遇本婦懷孕，宜執此書，日與講論三、四頁，不過半月也，可令全書熟記。較日夜與之博弈，或閒談消遣，孰得孰失？請一再思之。余又於《達生篇》所未及者補之：凡驗產法，腰痛腹不痛者未產；腹痛腰不痛者未產；必腰腹齊痛甚緊時，此真欲產也。如遇遲滯，以藥投之則得矣。蓋天之生人，原造化自然之妙，不用人力之造作，但順其性之自然而已。</p>
<p>（次男元犀）按：凡新產之婦，其臟氣堅固，胞胎緊實，產前宜服保生無憂散二、三劑，撐開道路，則易生。此方於漿水未行時服之，若漿水既行，遲滯不產，勞倦神疲，宜十全大補湯以助其力。且恐漿水太過，血傷而胎不靈活，急宜當歸補血湯，或加肉桂，或加附子隨宜。此高鼓峰之心法，余屢用屢效。或交骨不開，或陰門不閉、子宮不收，三者皆元氣不足。交骨不開者，前人傳有加味歸芎湯，張石頑立論詆之。謂每見服此，惡血凝滯，反成不救。惟大劑人參、童便入芎、歸劑中，助其氣血，立效。陰門不閉者，十全大補湯倍參、桂，補而斂之。子宮不收者，補中益氣湯加酒芍一錢、肉桂五分，補而舉之。其實張石頑之論，亦未免矯枉過正。即如加味芎歸湯，謂為力量不大則可，謂為留血增病則不可。至於前人所傳試驗之丸，催生有華佗順生丹、如神散，胞衣不下有失笑散、花蕊石散，業是道者不可不備。又難產，灸產婦右足小趾尖，艾炷如小豆大，三五炷立產，不可不預講其法。</p>

<h3>金匱方八首　時方九首</h3>
<p><u>桂枝湯</u>（《金匱》）　妊娠胎前第一方。尤在涇云：「脈無故而身有病，而又無寒熱邪氣，則無可施治，惟有桂枝湯調和陰陽而已矣。」徐忠可云：桂枝湯，外症得之為解肌和榮，內症得之為化氣調陰陽也。今妊娠初得，上下本無病，因子宮有凝氣溢上下故，但以芍藥一味，固其陰氣，使不得上溢；以桂甘薑棗，扶上焦之陽，而和其胃氣；但令上焦之陽氣充，能御相侵之陰氣，足矣！未嘗治病，正所以治病也。否則，以渴為邪熱以解之，以不能食為脾不健而燥之，豈不謬哉！</p>
<p><u>桂枝茯苓丸</u>　治婦人宿有症病，成胎後三月而得漏下，又三月應期而下，而無前後參差，且動在臍上，不在臍下，可以定其為胎。有胎而仍漏下者，以舊血未去，則新血不能入胞養胎，而下走不止。此方先下其症，即是安胎法。</p>
<p>桂枝　茯苓　丹皮　桃仁（去皮尖）　芍藥（各等分）</p>
<p>上五味研末，煉蜜糊丸，如兔屎大，每日食前服一丸，不瘥，加至三丸。</p>
<p>歌曰：症痼未除恐害胎，（胎動手臍下，為欲落；動於臍上，是每月湊集之血；症痼之氣妨害之，而下漏也。）胎安症去悟新栽，桂苓丹芍桃同等，氣血陰陽本末該。</p>
<p>（次孫心蘭稟）按：桂枝、芍藥，一陽一陰；茯苓、丹皮，一氣一血；合之桃仁，逐舊而不傷新；為丸緩服，所以為佳。</p>
<p><u>附子湯</u>（方見《傷寒論》。）</p>
<p><u>膠艾湯</u>　《金匱》云：婦人有漏下者，有半產後因續下血不絕者，有妊娠下血者，假令妊娠腹中痛，為胞阻，膠艾湯主之。</p>
<p>乾地黃（六兩）　川芎　阿膠　甘草（各二兩）　艾葉　當歸（各三兩）　芍藥（四兩）</p>
<p>上七味，以水五升、清酒三升合煮；取三升，去滓，內膠令消盡，溫服一升，日三服，不瘥更作。</p>
<p>歌曰：妊娠腹痛阻胎胞，（名曰胞阻，以胞中之氣血虛寒，而阻其化育也。）二兩芎藭草與膠，歸艾各三芍四兩，地黃六兩去枝梢。</p>
<p>（次男元犀）按：芎、歸、芍、地，補血之藥也。然血不自生，生於陽明之水穀，故以甘草補之；阿膠滋血海，為胎產百病之要藥；艾葉暖子宮，為調經安胎之專品；合之為厥陰、少陰、陽明及沖、任兼治之神劑也。後人去甘草、阿膠、艾葉，名為四物湯，則板實而不靈矣。此解與本論中所解互異，學者當與所以異處而悟其所以同，則知聖方如神龍變化，不可方物也。</p>
<p><u>當歸芍藥散</u></p>
<p>當歸　川芍（各三兩）　芍藥（一斤）　茯苓　白朮（各四兩）　澤瀉（半斤）</p>
<p>上六味，杵為散，取方寸匕，酒和，日三服。</p>
<p>歌曰：妊娠㽲痛勢綿綿，（不若寒熱之絞痛，血氣之刺痛之。）三兩芎歸潤且宣，芍藥一斤澤減半，術苓四兩妙盤旋。</p>
<p>（次男元犀）按：懷妊腹痛，多屬血虛，而血生於中氣，中者，土也，土燥不生物，故以歸、芎、芍滋之；土濕亦不生物，故以苓、朮、澤瀉滲之；燥濕得宜，則中氣治而血自生，其痛自止。</p>
<p><u>當歸貝母苦參丸</u></p>
<p>當歸　貝母　苦參（各四兩）</p>
<p>上三味，末之，煉蜜為丸，如小豆大，飲服三丸，加至十丸。</p>
<p>歌曰：飲食如常小水難，妊娠鬱熱液因干，苦參四兩同歸貝，飲服三丸至十丸。（男子加滑石五錢。）</p>
<p>（次男元犀）按：苦參、當歸，補心血而清心火；貝母開肺鬱而瀉肺火。然心火不降，則小便短澀；肺氣不行於膀胱，則水道不通；此方為下病上取之法也。況貝母主淋漓邪氣，《神農本草》有明文哉！</p>
<p><u>當歸散</u></p>
<p>當歸　黃芩　芍藥　川芎（各一斤）　白朮（半斤）</p>
<p>上五味，杵為散，酒服方寸匕，日再服。妊娠常服即易產，胎無疾苦，產後百病悉主之。</p>
<p>歌曰：萬物原來自土生，（妊娠常服之劑，當以補脾陰為主。）土中涵濕遂生生，不窮。一斤芎芍歸滋血，（血為濕化，胎尤賴之。）八兩術一斤芩（術本脾藥，今作血藥而入脾土，則土得濕氣而生物，又有黃芩之苦寒，清脾以主之，肺氣利則血不滯，所以生物不息。）大化成。</p>
<p><u>白朮散</u></p>
<p>白朮　川芎　蜀椒（三分，去汗）　牡蠣</p>
<p>上四味，杵為散，酒服三錢匕，日三服，夜一服。</p>
<p>但苦痛，加芍藥。心下毒痛，倍加芎藭。心煩、吐、痛、不能飲食，加細辛一兩，半夏大者二十枚，服之後，更以醋漿水服之；若嘔，以醋漿水服之；復不解者，小麥汁服之已；後渴者，大麥粥服之；病雖愈，服之勿置。</p>
<p>歌曰：胎由土載木之功，血養相資妙有窮，（土以載之，血以養之。）陰氣上凌椒攝下，（胎忌陰氣上逆，蜀椒具純陽之性，陽以陰為家，故能使上焦之熱而下降。）蠣潛龍性得真銓。（牡蠣水氣所結，味鹹性寒，寒以制熱燎原，咸以導龍入海。）此方舊本三物各三分，牡蠣闕之。徐靈胎云：「原本無分兩。」</p>
<p>加減歌曰：苦痛芍藥加最美；心下毒痛倚芎是；吐痛不食心又煩，加夏廿枚一細使，醋漿水須服後吞，若還不嘔藥可止；不解（者以）小麥煮汁嘗，以後渴者大麥（粥）喜；既愈常服勿輕拋，壺中陰陽大爕理。</p>
<p>程云來云：以大麥粥能調中補脾，故服之勿置，非指上藥可常服也。此解亦超。方義已詳歌中，不再釋。</p>
<p><u>新定所以載丸</u>　治胎氣不安不長，婦人半產，或三月或五月按期不移者，必終身不能大產，惟此丸可以治之。</p>
<p>白朮（一斤，去皮，放糯米上蒸半炷香久，勿泄氣，曬乾研為末）　人參（八兩，焙為末）　桑寄生（六兩，以自收者為真，不見銅鐵，為末）　雲茯苓（六兩，生研為末）　川杜仲（八兩，炒去絲，為末）</p>
<p>以大棗一斤擘開，以長流水熬汁迭丸，如梧桐子大，曬乾退火氣，密貯勿令泄氣。每早晚各三錢，以米湯送下。</p>
<p>按：白朮為補土之正藥，土為萬物之母而載萬物，故本方取之為君。茯苓感蒼松之氣而生，苗不出土，獨得土氣之全而暗長；桑寄生感桑精之氣而生，根不入土，自具土性之足而敷榮。一者伏於土中，儼若子居母腹；一者寄於枝上，居然胎系母胞；二物奪天地造化之神功，故能資養氣血於無形之處，而取效倍於他藥也。杜仲補先天之水火，而其多絲尤能系維而不墜。人參具（三才）之位育，而其多液尤能涵養以成功。今年甲子，四百一十四甲子矣。此方從讀書頗多、臨症頗熟悟出。蓋自唐宋以後，著女科書之前輩，不下數百人，未聞有一人道及於此，今特為補論，大為快事。</p>
<p><u>神驗保生無憂散</u>　婦人臨產先服一、二劑，自然易生。或遇橫生倒產，甚至連日不生，速服一、二劑，應手取效，可救孕婦產難之災，常保母子安全之吉。</p>
<p>當歸（酒洗，一錢五分）　川貝母（一錢）　黃耆　荊芥穗（各八分）　厚朴（薑汁炒）　艾葉（各七分）　菟絲子（一錢四分）　川芎（一錢三分）　羌活（五分）　枳殼（麩炒，六分）　甘草（六分）　白芍（酒洗，炒，一錢二分，冬月用一錢。）</p>
<p>水二鍾，姜三片，煎至八分，空腹溫服。</p>
<p>普明子曰：此方流傳海內，用者無不響應，而制方之妙，人皆不得其解，是故疑信相半。余因解之，新孕婦人，胎氣完固，腹皮緊窄，氣血裹其胞胎，最難轉動。此方用撐法焉。當歸、川芎、白芍、養血活血也；厚朴，去瘀血者也，用之撐開血脈，俾惡露不致填塞；羌活、荊芥，疏通太陽，將背後一撐，太陽經脈最長，太陽治而諸經皆治；枳殼疏里結氣，將面前一撐，俾胎氣血抑而無阻滯之虞；艾穗撐動子宮，則胞胎靈動；川貝、菟絲，最能運胎順產，將胎氣全體一撐，大具天然活潑之趣矣！加黃耆者，所以撐扶元氣，元氣旺則轉動有力也；生薑通神明去穢惡，散寒止嘔，所以撐扶正氣而安胃氣；甘草協和諸藥，俾其左宜右有，而全其撐法之神者也。此真無上良方，而今人不知所用，即用之而不知制方之妙，則亦惘惘然矣！余故備言之以醒學者。</p>
<p><u>華佗顧生丹</u></p>
<p>硃砂（五錢，研細，水飛）　明乳香（一兩，箬上炙乾。）</p>
<p>上為末，端午日，豬心血為丸，如芡實大，每服一丸。用當歸三錢、川芎二錢，煎湯送下（不經女人手）。</p>
<p><u>催生如神丹</u>　治逆產橫生，其功甚大。</p>
<p>百草霜　白芷（不見火，為末，各等分。）</p>
<p>上每服三錢，以童便、米醋和如膏，加沸湯調之；或用酒煎，加入童便少許，熱服。書云：「血見黑則止」。此藥不但順生，大能固血，又免血枯之妙。</p>
<p><u>加味芎歸湯</u></p>
<p>當歸（五錢）　自敗龜板（童便炙酥）　川芎（各三錢）　婦人頭髮（一握，燒灰存性）</p>
<p>水煎服。約人行五里許即生，設是死胎亦下。灼過龜板亦可用。</p>
<p>（次男元犀）按：陰虛而交骨不開用此；陽虛而交骨不閉，用當歸補血湯加桂、附，又以熱童便一半調之；此一陰一陽之對子也。何張石頑過詆之？</p>
<p><u>當歸補血湯</u></p>
<p>當歸（二錢）　黃耆（一兩）</p>
<p>（長孫心典稟）按：胎猶舟也，血猶水也；水漲則舟浮，血乾則胎滯，其彰明較著也。若漿水既行，行之過多而不產，恐十全、八珍之功緩而不及，惟此湯黃耆五倍於當歸，借氣藥以生其血，氣行迅速而血即相隨，而胎遂得血而順下矣。然猶恐素體虛弱，必加附子之走而不守，以助藥力，勿疑附子之過於辛熱而少用也。高鼓峰謂：「一切難產症，於補血大劑之中，再加肉桂二、三錢，堪云神驗。」</p>
<p><u>失笑散</u>　治瘀血脹胞，並治兒枕痛，神效。</p>
<p>蒲黃（炒）　五靈脂（去土，炒，各等分）</p>
<p>共為末，醋糊丸，如桐子大，每服二、三錢，淡醋水下。</p>
<p><u>花蕊石散</u>　治產後敗血不盡，血迷血暈，胎衣不下，脹急不省人事，但心頭溫者。急用一服灌下，瘀血化水而出，其人即蘇，效驗如神，醫家不可缺此。</p>
<p>花蕊石（一斤）　土色硫黃（四兩）</p>
<p>上為末，和勻，先用紙泥封固瓦罐一個，入二藥；仍用紙泥封口，曬乾，用炭煅二炷香；次日取出研細，每服一錢，童便和熱酒調下，甚者用二、三錢。</p>
<p><u>牛膝散</u>　治胎衣不下，腹中脹急，以此藥腐化而下，緩則不救。</p>
<p>牛膝　川芎　蒲黃（炒）　丹皮（各二兩）　桂心（四錢）　當歸（一兩五錢）</p>
<p>共為末，每服五錢，水煎服。</p>
<p>又婦人服藥，勿犯三大忌：一曰麥蘖，一曰牛膝，一曰木耳，又頭蠶子亦然。余於胎前諄諄囑其勿犯，業醫者當知所戒矣。</p>

<h1>卷三</h1>

<h2>產後</h2>
<p>門人問曰：產後症諸家議論不一，治法互異。而吾閩歷久相傳，俱宗朱丹溪所云：產後有病，先固氣血。故產後以大補氣血為主，雖有雜病，以末治之。薛立齋、汪石山極贊其妙，而陳良甫、單養賢諸論皆不出其範圍，虞天民、葉以潛又以去瘀血為主，二說互參，可以得攻、補兩大法，究竟當從與否？</p>
<p>曰：此皆庸俗之見，亦且一偏之言，不足聽也。今節錄《內經》二條、《金匱·產後》全冊以注之。各家之說一概置之弗言，所謂群言淆亂衷於聖是也。</p>
<p>《內經》云：乳子（之時）而（患傷寒）病熱，脈（止宜）懸小，（不宜實大，以產後新虛故也。）手足溫則生，（若脈雖懸小，而見手足俱）寒（是脾氣衰絕，陰氣暴起）則死。</p>
<p>又云：乳子中風，（而身為大）熱、（以至）喘、鳴息粗者。（為風熱逆於陽位也。故其脈必不能懸小而實大，但須）實大（之中，而見往來）而（和）緩（是脾胃之氣，尚榮於脈）則生，（設見疾）急則（脾胃已絕，必）死。此二節以脾胃為主，可知《內經》所獨重，彼諸家互相辨駁，終不足言也。昔人云：「片語會心非是少」，即讀書得間之謂也。</p>
<p>門人問曰：《金匱》較《傷寒論》更為難讀，夫子於產後獨主之，曷故？</p>
<p>曰：醫，儒者事也。先其事之所難，東魯明訓。而因陋就簡，直市醫耳。且隨症條分各目，臚列方治，不得其頭緒，如治絲而棼之也。今舉《金匱》為主，若得其一知半解，便足活人，故全錄於下。</p>
<p>嘗論歷代未立考試醫生之制，其失業之輩混充之，以為餬口之術，所以日流日下，而女科其尤甚者。若明理之人，遇醫輩先詢之曰：岐黃後，若仲景可稱上醫否？不知者曰：我不知其為何人也。其知者曰：漢代之醫聖，相去久遠而難從耳。夫時有古今之異，豈天之五運六氣、入之五臟六腑亦有顛倒變遷之異乎？知與不知，不過以五十步笑百步耳。設有明理者，楷錄此冊第一節、第二節原文，今時行之醫，每句淺淺講得下，則是上好名醫；即一時講不下，肯執所錄原文，攜回查對各本舊注，略能敷衍講得去，便知渠家亦藏有正書，必不至有大支離處，亦是好醫；或攜其原文，轉向心腹之醫友處，東摸西捉，約略於皮毛土說得來，便知渠門尚有一二讀書好友，亦不至有大荒唐處，亦是好醫。余欲求其數種人，不能旦暮遇之，實為憾事。且可聞其自文曰：彼是仲景派，我是劉、張、朱、李前四大家派，我是王肯堂、薛立齋、張景岳、喻嘉言後四大家派。且時行《臨症指南》，其藥慣用生薑滓、泡淡附子、地黃炭、泡淡吳萸、漂淡白朮，及一切藥炭，海中各種干殼，皆無氣無味之類。其治法，開口便云五行三合，雙山顛倒，化合之妙，皆渺茫無據之說。虛病則云以人補人，多仗紫河車熬膏（此物大穢、大毒、大動火，每見百服百死。病人宜存好心行好事，切勿聽此忍心害理之言）。久病則云入絡，以老絲瓜、鮮竹茹、當歸鬚、忍冬藤、刺蒺藜之類為秘藥；又以西瓜翠皮、鮮荷梗、淡菜肉、海參之類為新奇；不能於《指南》中，擇其善而從之，而惟集其所短。天士有知，當必斥之、譴之。而必張大其說曰：我是葉天士一派。斯言也，彼妄言之，我妄聽之，其為斯道何哉？所望行道諸君子，速迸去相沿之病，從事於聖經賢訓，亦不失為善改過之君子矣！</p>
<p>《金匱》云：問曰：新產婦人有三病，一曰病痙，二曰病鬱冒，三曰大便難，何謂也？師曰：新產（之婦，畏其無汗。若其無汗，則榮衛不相和，而為發熱無汗等症，似乎傷寒之表病，但舌頭無白苔，及無頭痛項強之可辨也。然而雖欲有汗，又恐其）血虛，（氣熱，熱則腠理開，而）多汗出，（汗出則腠理愈開，而）喜中風，（血不養筋，而風又動火，）故令病痙。（新產之婦，畏血不行，若不行，則血瘀於內，而為發熱、腹痛等症，似乎傷寒之裡病，但舌無黃苔，及無大煩燥、大狂渴之可辨也。然雖欲血下，又恐過多）而亡血，（血亡，其氣無耦而外泄，則）復汗，（血氣兩耗，則寒自內生而）寒多，（血為陰，陰亡失守；氣為陽，陽虛上厥；）故令（頭眩目瞀，或不省人事而）鬱冒。（新產之婦，雖欲其汗出血行，又恐汗與血過多，以致）亡津液，胃（干，腸）燥，故大便難。（三者不同，其為亡血、傷津則一也。）此為產後提出三病以為綱，非謂產後止此三病也。</p>
<p>（上言新產之病，其提綱有三，然痙病有竹葉湯之治法，另詳於後。試先言鬱冒與大便難相兼之症。）產婦鬱冒，（與大便難二病，皆因亡血、傷津所致，故）其脈（俱見）微弱，（惟）嘔（而）不能食，大便反堅，（是為大便難綱中之兼症。一身無汗）但頭（上）汗出。（為鬱冒綱中之專症。）所以然者，血虛（則陰竭於下，）而（為下）厥，（下）厥（則孤陽上越，）而必冒。（推而言之，凡素患鬱冒之人，名曰冒家。吾觀其之）冒家欲解，必（令）大汗出。（而始解。）以血虛（為）下厥，（下厥則）孤陽（無依，而）上出，故頭汗出。（此頭汗出，為鬱冒病綱中之大眼目也。）所以產婦（頭汗既出。又）喜（其通身）汗出者，（以）亡陰血虛，陽氣獨盛，故當（損陽，令其）汗出，（損陽就陰，則）陰陽乃（平而）復。（蓋陰陽之樞，操自少陽，非小柴胡湯不能轉其樞而使之平。至於產後）大便（難之綱中，其症俱便燥而且）堅，（由於血行過多，則陽明之血海乾枯，而血不濡於下：不濡於下，則反逆於上而為）嘔（失和於中，而為）不能食，（陽明屬胃，為血海，血不自生，生於所納之水穀。人但知消導為平胃轉胃，降逆順氣為安胃，甘寒柔潤為補胃，而不知小柴胡湯為和胃深一層治法。與《傷寒》小柴胡湯方後云：上焦得通、津液得下、胃氣因和三句，移來此一節，堪為此症之鐵板註腳也。故以上二症，而統以）小柴胡湯主之。此為鬱冒與大便難之相兼者，詳其病因而出其方治也。</p>
<p>（鬱冒之）病（既）解（而）能食，（至）七八日更發熱者，（然發熱而不惡寒，便知其不在表而在裡矣。因能食而更發熱，便知其非虛病而為食復症矣。）此為胃實，大承氣湯主之。此言大虛之後有實症，即當以實治之也。若畏承氣之峻而不敢用，恐因循致虛，病變百出。甚矣哉！庸庸者不足以共事也。若畏承氣之峻，而用穀芽、麥芽、山楂、神麯之類，消耗胃氣，亦為害事。</p>
<p>產後（屬虛，客寒阻滯血氣，則）腹中㽲痛，（以）當歸生薑羊肉湯主之；並治腹中寒疝，虛勞不足。</p>
<p>參各家說：㽲痛者，緩緩痛也。概屬客寒相阻，故以當歸通血分之滯，生薑行氣分之寒。然胎前責實，故當歸白朮散內加茯苓、澤瀉，瀉其水濕。此屬產後，大概責虛，故以當歸養血而行血滯；生薑散寒而行氣滯；又主以羊肉味厚，溫補氣而生血；俾氣血得溫。則邪自散而痛止矣。此方攻補兼施，故並治寒疝虛損。或疑羊肉太補，而不知孫真人謂：羊肉止痛，利產婦。古訓鑿鑿可據，又奚疑哉？</p>
<p>（然痛亦有不屬於虛者，不可不知，）產後腹痛，（若不煩不滿，為中虛而寒動也。今則火上逆而）煩（氣壅滯而）滿（胃不和而）不得臥，（此熱下鬱而礙上也。以）枳實芍藥散主之。此為腹痛而煩滿不得臥者，出其方治也。方意是調和氣血之滯，所謂「通則不痛」之輕劑也。下以大麥粥者，並和其肝氣，而養其心脾，故癰膿亦主之。</p>
<p>師曰：產婦腹痛，法當以枳實芍藥散，假令不愈者，此為（熱灼血），腹中有乾血，其痛著於臍下，（非枳實等藥所能治也，）宜下瘀血湯主之；亦主經水不利。此為痛著臍下，出其方治也。意者病去則虛自回，不必疑其過峻。</p>
<p>（然亦有不可專下其瘀血者，不可不知。）產後七八日，無（頭痛、發熱、惡寒之）太陽症，少腹堅痛，此惡露不盡；（治者不過下其瘀血而已，然其）不大便，煩躁發熱，切脈微實，（是胃家之實也。陽明旺於申酉戌，日晡是陽明向旺之時也。而其）再倍發熱，（至）日晡時煩躁者，（又胃熱之）驗也。（食入於胃，長氣於陽，若）不食，（則已，而）食入則（助胃之熱為）譫語，（又胃熱之驗也。然又有最確之辨，晝陽也，夜陰也，若病果在陰，宜晝輕而夜重，今）至夜（間，應陽明氣衰之時，而）即（稍）愈，（其為胃家之實熱，更無疑也。）大承氣湯主之。（蓋此湯熱與結兼祛，以陽明之）熱在裡，（少腹之）結在膀胱也。此言血雖結於少腹，若胃有實熱，當以大承氣湯主之。若但治其血而遺其胃，則血雖去而熱不除，即血亦未必能去也。</p>
<p>此條「至夜則愈」四字，為辨症大眼目。蓋晝為陽而主氣，暮為陰而主血。觀上節「婦人傷寒發熱，經水適來，晝日明瞭，暮則譫語，如見鬼狀者，此為熱入血室。」以此數語，而對面尋繹之便知，至夜則愈，知其病不專在血也。</p>
<p>產後（中）風，續續數十日不解，（似不應在桂枝症之例矣。然）頭微痛惡寒，時時有熱，（皆桂枝本症中。惟有）心下悶，（一症，邪入胸膈為太陽之裡症。其餘）乾嘔汗出，（俱為桂枝症例中本有之症，是桂枝症更進一層，即為陽旦症。桂枝湯稍為增加，即為陽旦湯。其病）雖久，（而）陽旦症續在者，可與陽旦湯。</p>
<p>張石頑云：舉此與上文承氣湯，為一表一里之對子，不以日數之多而疑其表症也。</p>
<p>（男元犀）按：此言產後陽旦症未罷，病雖久而仍用其方也。《傷寒論·太陽篇》有因加附子參其間、增桂令汗出之句。言因者，承上文病症象桂枝，因取桂枝之原方也；言增桂者，即於桂枝湯原方外，更增桂枝二兩，合共五兩是也。孫真人於此數句未能體認，反以桂枝湯加黃芩為陽旦湯，後人因之，至今相沿不解。甚矣讀書之難也！然此方《傷寒論》特筆用「令汗出」三字，大是眼目，其與桂枝加附子之治遂漏者，為同中之異，而亦異中之同。蓋止汗漏者，匡正之功；令汗出者，驅邪之力；泛應曲當，方之所以入神也。上節裡熱成實，雖產後七八日，與大承氣湯而不傷於峻；此節表邪不解，雖數十日之久，與陽旦湯而不虛其數；此中之奧妙，難與淺人道也。丹溪謂產後惟大補氣血為主，其餘以末治之。又云：芍藥伐生生之氣。此授庸醫藏拙之術以誤人，不得不直斥之。</p>
<p>（長孫心典稟）按：頭疼惡寒，時時有熱，自汗乾嘔，俱是桂枝症。而不用桂枝湯者，以心下悶，當用桂枝去芍藥湯之法。今因產後亡血，不可徑去芍藥，須當增桂以宣其陽，汗出至數十日之久，雖與發汗遂漏者迥別，亦當借桂枝加附子湯主法，固少陰之根以止汗，且止汗即在發汗之中，此所以陽旦湯為絲絲入扣也。</p>
<p>（前以痙病為產後三大綱之一，然痙病本起於中風，今以中風將變痙病而言之。）產後中風，發熱，面正赤，喘而頭痛，（此病在太陽，連及陽明。而產後正氣太虛，又不能以勝邪氣，誠恐變為痙病，）以竹葉湯主之。此為產後中風，正虛邪盛者，而出其補正散邪之方也。方中以竹葉為君者，以風為陽邪，不解即變為熱，熱盛則灼筋而成痙，故以溫散藥中，先君以竹葉而折其勢，即杜漸防微之道也。（太陽之脈，上行至頭；陽明脈過膈上，循於面；二經合病多加葛根。）</p>
<p>婦人乳中虛，煩亂，嘔逆，安中益氣，竹皮大丸主之。</p>
<p>徐忠可云：乳者，乳子之婦也。言乳汁去多，則陰血不足而胃中亦虛。《內經》云：陰者，中之守也。陰虛不能勝陽，而火上壅則煩，氣上越則嘔。煩而亂則煩之甚也，嘔而逆則嘔之甚也。病本全由中虛，然而藥止用竹茹、桂、甘、石膏、白薇者，蓋中虛而至為嘔為煩，則膽腑受邪，煩嘔為主病，故以竹茹之除煩止嘔者為君；胸中陽氣不用，故以桂、甘扶陽而化其逆氣者為臣；以石膏涼上焦氣分之虛熱為佐；以白薇去表間之浮熱為使。要知煩亂嘔逆而無腸痛下痢等證，雖虛無寒可知也。妙在加桂於涼劑中，尤妙在生甘草獨多，意謂散蘊蓄之邪，復清陽之氣，中即自安，氣即自益，故無一補劑。而又注其立湯之本意，曰安中益氣，竹皮大丸神哉！喘加柏實，柏每西向，得西方之氣最深，故能益金氣、潤肝木而養心，則肺不受爍，喘自平也。有熱倍白薇，蓋白薇能去浮熱。故《小品》桂枝加龍骨牡蠣湯云：汗多熱浮者，去桂加白薇、附子各三分，名曰二加龍骨湯，則白薇之能去浮熱可知矣。</p>
<p>（凡下痢病多由濕熱，白頭翁之苦以勝濕，寒以除熱，固其宣也。而）產後下痢虛極，（似不可不商及補劑；但參、術則恐其壅滯，苓、澤則恐其傷液，惟以）白頭翁加甘草阿膠湯主之。（誠為對症。方中甘草之甘涼清中，即所以補中；阿膠之滋潤去風，即所以和血；以此治利，即以此為大補。彼治利而好用參、術者，當知所返矣。）此為產後下痢虛極者，而出其方治也。</p>
<p>《金匱》附方云：《千金》三物黃芩湯，治婦人（未離產所，尚）在於草蓐，自發（去衣被，）露（其身體，而）得（微）風，（亡血之後，陽邪客入，則）四肢苦煩熱。（然此症，當其頭痛之與不痛。若）頭痛者，（是風未全變為熱，）與小柴胡湯；（以解之。若）頭不痛但煩者，（則已全變為熱，熱盛則蟲生，勢所必至，以）此湯主之。</p>
<p>（長孫心典稟）按：附方者《金匱》本書闕載，而《千金》、《外臺》等書載之，其云出自《金匱》，後人別之曰附方。</p>
<p>附方：《千金》內補當歸建中湯，治婦人產後虛羸不足，腹中刺痛不止，吸吸少氣；或苦少腹中急，摩痛引腰背，不能食飲。產後一月，日得服四、五劑為善，令人強壯宜。</p>
<p>徐忠可云：產後虛羸不足，先因陰虛，後並陽虛。補陰則寒凝，補陽則氣壅。蓋後天以中氣為主，故治法亦出於建中，但加當歸即偏於內，故曰內補當歸建中湯。謂腹中刺痛不止，血少也；吸吸少氣，陽弱也；故將桂枝、生薑、當歸之辛溫，以行其榮衛之氣；甘草、白芍，以養其脾陰之血；而以飴糖、大棗峻補中氣，則元氣自復，而羸者豐，痛者止也。然桂枝於陰陽內外，無所不通，猶恃當歸善入陰分治帶下之病，故又主少腹急，摩痛引腰背，不能飲食者。蓋帶下病去，而中氣自強也。曰產後一月，日得服四五劑為善；謂宜急於此調之，庶無後時之嘆！然藥味和平，可以治疾，可以調補，故又曰：令人強壯宜。其云大虛加飴糖，以虛極無可支撐，惟大甘專於補脾，脾為五臟六腑之母，止此一條，可以得其生路也。其去血過多，崩傷內衄，方加乾地黃、阿膠，以其所傷原偏於陰，故特多加陰藥，非產後必宜用地黃、阿膠也。</p>

<h3>金匱方論一十一首</h3>
<p><u>小柴胡湯</u>　<u>大承氣湯</u>（俱見《傷寒論》）</p>
<p><u>當歸生薑羊肉湯</u></p>
<p>當歸（三兩）　生薑（五兩）　羊肉（一斤）</p>
<p>上三味，以水八升，煮取三升，溫服七合，日三服。</p>
<p>若寒多，加生薑成一斤；痛多而嘔者，加橘皮二兩、白朮一兩；加生薑者，亦如水五升，煮取三升二合服之。</p>
<p>歌曰：腹痛脅疼（腹脅皆寒氣作主，無復界限，里）急不堪，（是內之榮血不足，致陰氣不能相榮而急。）羊斤姜五蜀歸三，於今豆蔻香砂法，可笑醫盲授指南。</p>
<p>（次男元犀）按：方中當歸行血分之滯而定痛，生薑宣氣分之滯而定痛，亦人所易曉也。妙在羊肉之多，羊肉為氣血有情之物，氣味腥羶濃厚，入咽之後，即與濁陰混為一家，旋而得當歸之活血，而血中之滯通；生薑之利氣，而氣中之滯通；通則不痛，而寒氣無有潛藏之地，所謂發透之，而後攻之者也。苟病家以羊肉太補而疑之，是為流俗之說所囿，其中蓋有命焉，知幾者即當婉辭而去。</p>
<p><u>枳實芍藥散</u></p>
<p>枳實（炒令黑，勿太過）　芍藥（等分）</p>
<p>上二味，杵為散，服方寸匕，日三服。並主癰膿，大麥粥下之。</p>
<p>歌曰：滿煩不臥腹疼頻，枳實微燒芍等平；羊肉湯方應反看，（彼治不煩不滿之虛痛，此治煩滿之實痛。）散調大麥（粥）穩而新。</p>
<p>（長男蔚）按：枳實通氣滯，芍藥通血滯，通則不痛，人所共知也。妙在枳實燒黑，得火化而善攻停積；下以大麥粥，和肝氣而兼養心脾；是行滯中而寓補養之意，故癰膿亦主之。</p>
<p><u>下瘀血湯</u></p>
<p>大黃（三兩）　桃仁（二十個）　䗪蟲（二十枚，去足，熬）</p>
<p>上三味末之，煉蜜和為四丸，以酒一斤，煮一丸，取八合頓服之，瘀血下如豚肝。（各本略異。）</p>
<p>歌曰：臍中著痛瘀為殃，廿粒桃仁三兩黃，更有䗪蟲二十個，酒煎大下亦何傷？</p>
<p>（次男元犀）按：產婦腹痛，服枳實、芍藥而不愈者，為熱灼血乾，而為停瘀，其痛著於臍下，宜用此湯。方中大黃、桃仁之推陳下瘀，䗪蟲之善攻乾血，人盡知之。妙在桃仁一味，平平中大有功力。蓋血已敗而成瘀，非得生氣不能流通，桃得三月春和之氣，而花最鮮明似血，而其生氣皆在於仁，而味苦又能開泄，故直入血中而和之散之，逐其舊而不傷其新也。</p>
<p><u>陽旦湯</u>　即桂枝湯倍桂增附。坊本謂加黃芩者，未知《傷寒論·太陽篇》中已明其方也。孫真人及各傢俱誤。（桂枝湯見《傷寒論》。）</p>
<p><u>竹葉湯</u></p>
<p>竹葉（一把）　葛根（三兩）　防風　桔梗　桂枝　人參　甘草（各一兩）　附子（一枚，炮）　生薑（五兩）　大棗（十五枚，劈）</p>
<p>上十味，以水一斗，煎服二升半，分溫三服，溫復取微汗。頭項強，用大附子一枚，破之如豆大，煎藥，揚去沫；嘔者，加半夏半升洗。</p>
<p>歌曰：喘熱頭疼面正紅，（勢欲成痙。一兩）防桔桂草人參同；（同用一兩。）葛根（三兩）、生薑（五兩）、附枚一；棗十五枚竹葉（一把）充。</p>
<p>加減歌曰：頭項強者大附抵，以大易小不同體；若為氣逆更議加，半夏半升七次洗。</p>
<p>程云來云：症中未至背反張，而發熱、面赤、頭痛，亦風痙之漸。故用竹葉主風痙，防風治內痙，葛根療剛痙，桂枝治柔痙，生薑散風邪，桔梗除風痹，辛以散之之劑也。又佐人參生液以養筋，附子補火以致水，合之甘草以和諸藥，大棗以助十二經；同諸風濟，則發中有補，為產後中風之大劑也。</p>
<p><u>竹皮大丸</u></p>
<p>生竹茹　石膏（各二分）　桂枝（一分）　白薇（一分）　甘草（七分）</p>
<p>上五味，末之，棗肉和丸，彈子大，飲服一丸，日三夜二服。有熱倍白薇，煩喘者加柏實一分。</p>
<p>歌曰：嘔而煩亂乳中虛，（謂乳子之時，氣虛火勝，內亂而上逆也。）二分石膏與竹茹，薇桂一分加草七，（分）棗丸飲服效徐徐。</p>
<p>加減歌曰：白薇退熱絕神異，有熱倍加君須記。柏得金氣厚且深，葉葉西向歸本位；實中之仁又鎮心，煩喘可加一分餌。（解見本論）</p>
<p><u>白頭翁加甘草阿膠湯</u>（湯見《傷寒論》。再加甘草、阿膠各二兩是也。）師云：產後下利虛極者，此主之。</p>
<p>歌曰：白頭湯已見前歌，二兩阿膠甘草和；產後利虛成極症，滋（阿膠救其陰，）而且緩（甘草緩其急，）莫輕過。</p>
<p>（次男元犀）按：凡產後去血過多，又兼下利亡其津液，且為陰虛無疑。茲云虛極，理宜大補，然歸、芎、芍、地則益其滑而下脫，參、朮、桂、耆則動其陽而上逆，皆為禁劑。須知此虛字，指陰虛而言，與少陰症陰氣欲絕同義。少陰症與大承氣湯急下以救陰，與此症與白頭翁湯大苦以救陰同義。此法非薛立齋、張景岳、李士材輩以甘溫為主、苦寒為戒者所可窺測。尤妙在加甘草之甘，合四味之苦，為苦甘化陰法；且久痢膏脂盡脫，脈絡空虛，得阿膠之滋潤，合四味之苦以堅之，則源流俱清而痢自止。</p>
<p><u>千金三黃散</u></p>
<p>黃芩（一兩）　苦參（二兩）　乾地黃（四兩）</p>
<p>上三味，以水六升，煮取二升，溫服一升。多利下蟲。</p>
<p><u>千金內補當歸建中湯</u></p>
<p>當歸（四兩）　桂枝　生薑（各三兩）　芍藥（六兩）　甘草（二兩）　大棗（十二枚）</p>
<p>上六味，以水一斗，煮取三升，分溫三服，一日令盡。若大虛，加飴糖六兩，湯成納之於火上，暖令飴消；若去血過多，崩傷內衄不止，加地黃六兩、阿膠二兩，合八味，湯成納阿膠。若無當歸，以川芎代之；若無生薑，以乾薑代之。</p>
<p>門人問曰：《金匱》外尚有可行之法否？</p>
<p>曰：若能熟讀而得其精微，任產後之病變百出，無難一舉而安之。若逐症而分治之，即千百方尚有遺漏，如《嵩崖尊生》、《東醫寶鑑》，臚列可謂詳矣，試問能愈一症否乎？然而鍾期老矣，古調獨彈奚為乎？不得已而從俗尚，遂於坊刻各種，擇出二十三種，雖云淺率，卻不離經，亦姑錄之於下。</p>
<p>王叔和曰：產後脈，寸口洪疾不調者死，沉微附骨不絕者生。又曰：沉小滑者生，實大堅弦急者死。朱丹溪曰：胎前脈當洪數，既產而脈仍洪數者死。又曰：胎前脈細小，產後脈洪大者多死。《濟生產經》曰：胎前之病，其脈貴實；產後之病，其脈貴虛；胎前則順氣安胎，產後則扶虛消瘀，此其要也。《脈要》曰：欲產之脈，必見離經，或沉細而滑，夜半覺痛，來朝日中必娩。新產之脈，緩滑為吉；若實大、弦急，近乎無胃凶危之候；或寸口澀疾不調，惡症立見；惟宜沉細附骨不絕，雖劇無恙。《大全》曰：產後飲熱童便一盞，不得便臥，宜閉目而坐須臾，上床宜仰臥，不宜側坐，宜豎膝，不宜伸足，高倚床頭，厚鋪被褥，遮圍四壁，使無孔隙，免致賊風；以醋熏鼻，或用醋炭，更燒漆器，頻以手從心擀至臍下以防血暈、血逆。如此三日，不問腹痛不痛，以童便和酒服五七次。酒雖行血，亦不可多，恐引血入四肢，能令血暈。宜頻食白粥，漸食羊肉、豬蹄少許，仍慎言語、七情、寒暑、梳頭、洗足，以百日為度。若氣血素弱者，不計月日，否則患手、足、腰、腿痠痛等症，名曰褥勞，最難治療。初產時，不可問是男是女，恐因言語而泄氣，或以愛憎而動氣，皆能致病。不可獨宿，恐致虛驚；不可刮舌，恐傷心氣；不可刷齒，恐致血逆；須氣血平復，方可治事。犯時微若秋毫，成病重如山嶽，可不戒哉？！《產寶新書》曰：產後血氣暴虛，理當大補，但惡露未盡，用補恐致滯血，惟生化湯行中有補，能生又能化，其方因藥性功用而立名也。產後血塊當消，而又必隨生其新血，若專用消，則新血受削；專用生，則舊血反留。考諸藥性，芎、歸、桃仁三味，善攻舊血，驟生新血；佐以黑薑、炙草，引三味入於肺肝，生血利氣；五味共方，行中有補，實產後聖藥也。</p>
<p>（長孫男心典稟）按：產婦胞衣一破，速煎一貼，候兒頭下地即服，不拘半產、正產，雖平安少壯婦無恙者，俱服一二劑，以消血塊而生新血，自無血暈之患。若胎前素弱，至產後見危症，不厭頻服，病退即止；若照常日服一劑，可扶將絕之氣血也。如血塊痛，加肉桂三分，紅花三分，益母草五錢。如產後勞甚血崩，形色虛脫，加人參三、四錢。如汗出氣促，人參倍加。</p>
<p>《大全》曰：產後血暈者，由敗血流入肝經，眼生黑花，頭目旋暈，不能起坐，昏悶不省人事，謂之血暈。此血熱乘虛，逆上凌心，故昏迷不省，氣閉欲絕也，服童便最好。陳良甫曰：產後瘀血崩心，因分娩後不食童便，以致虛火炎上也。用鹿角燒灰，童便調下即醒，此物行血極效。又用五靈脂半生、半熟，名獨行散；又用返魂丹，即益母丸也。崔氏曰：產婦分娩訖，將秤錘或黃石子入炭中，燒令通赤，置器中，於床前以醋沃之，可除血暈，時作為佳。或先取釀醋以塗口鼻，仍置醋於旁，淬火炭使聞其氣。又一法，燒乾漆，令煙燻產母之面，即醒；如無干漆，舊漆器燒煙亦炒。單養賢曰：產後寒氣上攻則心痛，下攻則腹痛。並血塊者，宜服生化湯加桂末，止加吳茱萸、姜三片助血；若獨用諸熱藥攻寒，其痛難止，其血未免來多，以傷產母也。《產寶百問》曰：產後四肢浮腫，由敗血乘虛停積，循經流入四肢，留淫日深，腐壞如水，故令面黃，四肢浮腫。醫人不識此症，作水氣治之，凡治水多用導水藥，極虛人產後既虛，又以藥虛之，是謂重虛，多致大狂，服小調經散，行血腫消則愈。朱丹溪曰：產後腫，必用大補氣血為主，少佐蒼朮、茯苓，使水自利。薛立齋曰：前症若寒水侮土，宜養脾肺；若氣虛浮腫，宜益脾胃；若水氣浮腫，宜補中氣。又曰：產後浮腫或兼喘咳，脈沉細無力，此命門火衰，脾土虛寒，八味丸主之。吳蒙齋曰：新產後傷寒，不可輕易發汗。或產時有傷力發熱；去血過多發熱；有惡露不去發熱；有三日蒸乳發熱；有因勞動、飲食停滯發熱，狀類傷食；要在仔細詳辨，切不可發汗。大抵產後大血空虛，汗之則變，筋惕肉瞤，或鬱冒昏迷，或搐搦，或便秘，其害非輕。凡有發熱，宜與四物為君，加柴胡、人參、炮姜最效。蓋乾薑辛熱，能引血藥入血分，氣藥入氣分，且能去惡生新，有陽生陰長之道，以熱治熱，深合《內經》之旨。朱丹溪曰：產後發熱，此熱非有餘之熱，乃陰虛生內熱耳，以補陰藥大劑服之。必用乾薑者何也？曰：乾薑能入肺利氣，入肝經引血藥生血；然不可獨用，與補陰藥同用，此造化自然之妙。王節齋曰：婦人產後陰虛，陽無所依，浮散於外，故熱；以四物湯補血，以炙乾姜之苦溫從治，收其浮散之陽以歸於陰也。趙養葵曰：產後大失血，陰血暴亡，必大發熱，名陰虛發熱。此陰字正謂氣血之陰，若以涼藥正治必斃，正所謂症象白虎，誤服白虎必死。此時偏不用四物，有形之血不能驟生，幾希之氣須當急護，宜用獨參湯或當歸補血湯，使無形生出有形來，陽生陰長之妙，不可不知也。武叔卿曰：產後陰虛、血弱發熱，四物加茯苓，熱甚加炮姜。此方全不用氣藥，是血虛氣不虛也。加茯苓者，使天氣降而陰自生，陰生則熱自退。熱甚加炒乾姜者，取從陽引陰，亦可從陰引陽。微乎！微乎！郭稽中曰：產後乍寒乍熱者何？曰：陰陽不和與敗血不散，皆令乍寒乍熱也。二者何以別之？曰：時有剌痛者，敗血也；但寒熱無他症者，陰陽不和也。薛立齋曰：人所主者心，心所主者血，心血一虛，神氣不守，驚悸所由來也，當補血氣為主。《產寶百問》曰：產後虛羸，漸成蓐勞，皆由產下虧損血氣所致。須慎起居，節飲食，調養百日，庶保無疾。若中年反難產者，勿論日期，必須調養平復，方可動作；否則，氣血復傷，虛羸之症作矣。薛立齋曰：蓐勞，當扶養正氣為主。多因脾胃虛弱，飲食減少，致諸經疲憊，當補脾胃；飲食一進，精氣生化，諸臟有所賴，其病自愈。《產乳集》曰：產後小便不通，腹脹如鼓，悶亂不醒，蓋由未產前內積冷氣，遂致產後尿胞受病。用鹽於臍中填平，用蔥白搗一指厚，安鹽上，以艾炷蔥餅上灸之，覺熱氣入腹內，即時便通神驗。朱丹溪曰：有收生不謹，損破產婦尿脬，致病淋漓，用豬羊胞煎湯入藥，參、耆為君，歸、地為佐，桃仁、陳皮、茯苓為使，於極飢時飲之；令氣血驟長，其胞自完，稍緩亦難成功也。《醫暇巵言》曰：女子產育，哺養以乳，乳之體，居經絡、氣血之間也。蓋自寅時始於手太陰肺經，出於雲門穴（穴在乳上）；陰陽繼續以行，周十二經，至丑時歸於足厥陰肝經，入於期門穴（穴在乳下）；出於上，入於下，肺領氣，肝藏血，乳正居於其間也。蕭慎齋曰：婦人以血用事，上為乳汁，下為月水；而血之所化，則本於脾胃，飲食之精微運行，而為乳、為經。產後脾胃之氣旺，則血旺而乳多，脾胃之氣衰，則血減而乳少，此立齋通乳汁以壯脾胃滋化源為要也。若不顧脾胃以補氣血，徒從事於通乳之劑，是猶求千金於乞丐而不可得矣。《達生篇》曰：通乳用黃耆一兩，當歸五錢，白芷、木通各三錢，以豬蹄湯煎服。薛立齋曰：凡婦人氣血方盛，乳房作脹，或無兒飲，痛脹寒熱，用麥芽二三兩炒熟，水煎服之立消。其耗散血氣如此，何脾胃虛弱、飲食不消方中多用之？一云麥芽最消腎。若氣血虛而乳汁自出者，宜十全大補湯。</p>

<h1>卷四</h1>

<h2>雜病</h2>
<p>門人問曰：此書調經、種子、胎前三篇，引經外又參以時法，或附以新論，可謂宜古宜今，賢愚皆可共曉。而產後一篇，　雜病一篇，全錄《金匱》原文，襯以小注而串講之，諸家雜說，姑附於後，不加一字論斷。一書體例，如出兩手，何歟？</p>
<p>曰：群言淆亂衷於聖。仲景後無書可讀，而婦人產後，各家各逞臆說，互相議論。余所以止錄《金匱》全文，如日月一出，爝火無光。至於雜病，原與男子無異，而各家竟與男子各病外，強分出病名，轉覺多事。然亦有與男子必須分別者，《金匱》第二十二篇中，已具大要；而第八節更為綱舉目張，無復剩義。其文深奧難讀，余逐節襯以小注，一目瞭然，則難讀而易讀矣。其不以新論新案贅之者，恐添蛇足也。且夫學問之道無止境也，前此不過為語下之計，今既讀過三篇，從此日新而月異，可以語上，微夫人吾誰與歸？</p>
<p>《金匱》云：婦人中風，七八日（業已熱退而身涼，而復）續來寒熱，發作有（一定之）時，（因其病而問其）經水（已來而）適斷（者，蓋以經水斷於內，而寒熱發於外，雖與經適來者不同，而）此症（亦名）為熱入血窒，其血（為邪所阻而）必結，（結於沖、任、厥陰之經脈，內未入臟，外不在表，而在表裡之間，乃屬少陽。）故使（寒熱往來）如瘧狀，發作有（定）時，（以）小柴胡湯主之。（達經脈之結，仍借少陽之樞以轉之，俾氣行而血亦不結矣。）</p>
<p>此為中風熱入血室經水適斷者，出其方治也。蓋以邪既流連於血室，而亦浸淫於經絡，若但攻其血，血雖去而邪必不盡，且恐血去，邪反得乘虛而入也。故以小柴胡湯解其熱邪，而乍結之血自行矣。</p>
<p>（熱入血室，不獨中風有之，而傷寒亦然。）婦人傷寒（寒鬱而）發熱，（當其時）經水適來，（過多不止，血室空虛，則熱邪遂乘虛而入之也。晝為陽而主氣，暮為陰而主血。今主氣之陽無病，晝日明瞭，主血之陰受邪，故）暮則譫語，（譫語皆非習見之事，）如見鬼狀者，（醫者可於其經之適來，而定其症。曰：）此為熱入血室，（非陽明胃實所致也，既非陽明胃實，則）治之（者）無（以下藥）犯（其）胃氣（以）及上二焦，（一曰胃脘之陽，不可以吐傷之；一曰胃中之汁，不可以汗傷之；惟俟其經水盡，則血室之血，復生於胃腑水穀之精。）必自愈。此為傷寒熱入血室、經水適來者，詳其症治也。師不出方，蓋以熱雖入而血未結，其邪必將自解，汗之不可，下之不可，無方治之，深於治也。郭白雲謂其仍與小柴胡湯，或謂宜刺期門，猶是淺一層議論。</p>
<p>婦人中風，發熱惡寒，（當表邪方盛之際，）經水適來，（蓋經水乃衝任厥陰之所主，而衝任厥陰之血，又皆取資於陽明。今）得（病）之（期過）七（日，而至）八日，（正值陽明主氣之期。病邪乘虛而入，邪入於裡，則外）熱除，（其）脈遲，身涼和，（已離表症。惟衝任厥陰俱循胸脅之間，故）胸脅滿，（但滿不痛，與大結胸之不按自痛，小結胸之按而始痛分別。究其滿甚亦）如結胸（之）狀，（而且熱與血搏，神明內亂，而作）譫語者，此為熱入血室也，（治者握要而圖，）當刺（肝募之）期門，隨其實而取之。（何以謂之實邪？盛則實也。）此承本篇第一節，而言中風熱入血室之症治也。但第一節言寒熱已除而續來，此言寒熱方盛而併發；前言經水已來而適斷，此言方病經水之適來；前言血結而如瘧，此言胸脅滿如結胸；前無譫語，而此有譫語；以此為別。</p>
<p>（然亦有不在經水適來，與肝膜而為熱入血室者，不可不知。）陽明病下血譫語者，此為熱入血室，（其症通身無汗。）但頭上汗出，當刺期門，隨其實而瀉之，（令通身）濈然汗出者愈。此言陽明病，亦有熱入血室者，不必拘經水之來與斷也。但其症下血、頭汗出之獨異也。蓋陽明之熱，從氣而入血，襲入胞宮，即下血而譫語，不必乘經水之來，而後熱邪得以入之。彼為血去，而熱乘其虛而後入；此為熱入，而血有所迫而自下也。然既入血室，則不以陽明為主，而以衝任厥陰之氣不通，故一身無汗；鬱而求通，遂於其腑之少陽而達之，故頭上汗出。治法亦當刺期門，以瀉其實，刺已周身濈然汗出，則陰之閉者亦通，故愈。</p>
<p>婦人咽中（帖帖然）如有炙臠，（吐之不出，吞之不下，俗謂之梅核病。多得於七情鬱氣，痰凝氣阻。以）半夏厚朴湯主之。此為痰氣阻塞咽中者，出其方治也。徐忠可云：余治任小乙，咽中每噎塞，咳嗽不出，余以半夏厚朴湯投之即愈。後每復發。細問之，云：夜中燈下，每見暈如團五色，背脊內間酸。其人又壯盛。知其初因受寒，陰氣不足，而肝反鬱熱，甚則結寒微動，挾腎氣上衝。咽喉塞噎也。即於此方加大劑枸杞、菊花、丹皮、肉桂，暈乃漸除，而咽中亦愈。故曰：男子間有之，信不誣也。</p>
<p>婦人臟燥，（臟屬陰，陰虛而火乘之則為燥，不必拘於何臟，而既已成燥，則病症皆同。但見其）悲傷欲哭，象如神靈所作，（現出心病。又見其）數欠（善）伸，（現出腎病，所以然者，五志生火，動必關心，陰臟既傷，窮必及腎是也。以）甘麥大棗湯主之。此為婦人臟燥而出其方治也。麥者，肝之谷也。其色赤，得火色而入心；其氣寒，乘水氣而入腎；其味甘，具土味而歸脾胃；又合之甘草、大棗之甘，妙能聯上、下、水、火之氣，而交會於中土也。</p>
<p>婦人吐涎沫，上焦有寒飲也。醫（者不與溫散，而）反下之，（則寒內入，而）心下即痞，當先治其吐涎沫，（以）小青龍湯主之；（俾外寒內飲除，而）涎沫（可）止，（涎沫止後，）乃治（其）痞，（亦如傷寒表解，乃可攻裡之例也。）瀉心湯主之。此為吐涎沫與痞兼見，而出先後之方治也。</p>
<p>婦人之病，（所以異於男子者，以其有月經也。其因月經而致病者，則有三大綱：曰）因虛，（曰）積冷，（曰）結氣。（三者，或單病，或兼症，或互病，或相因而為病，或偏勝而為病。病則）為諸經水斷絕，（此婦人之病根也。其曰「諸」者奈何？以經水有多少遲速，及逢期則病，與大崩漏難產之後不來等症，皆可以此例之。無論病之初發，以）至（病）有歷年，（大抵氣不足則生寒，氣寒則）血（亦）寒（由是冷浸不去，而為）積（氣，著而為不行）結，胞門（為）寒（所）傷，由外而入內，由內而達外。漸至）經絡凝堅。（經水之源頭受傷，則病變無窮矣。然又有上中下之分。其病）在上（肺胃受之。若客寒而傷近於胃口，則為）嘔吐涎唾，（或寒）久（變熱，熱盛傷肺，則）成肺癰，（其）形體（之受）損（則一，而為寒為熱，儼若兩人之）分。（病若）在中（肝脾受之，邪氣從中）盤結，（或為）繞臍寒疝；或（為）兩脅疼痛，與（胞宮之）臟相連；（此寒之為病也。）或（邪氣鬱）結（為）熱中，（熱鬱與本寒相持），痛在關元，脈（現出）數（熱，而身）無（潰爛與疼癢等）瘡，（其）肌（膚乾燥，狀）若魚鱗，（遇逢交合）時著男子，非止女身。（此熱之為病也。所以然者，何義？蓋以中者，陰陽之交也。雖胞門為寒傷則一，而中氣素寒者，以寒召寒，所謂邪從寒化是也，中氣素熱者，寒旋變熱，所謂邪從熱化是也，病若）在下（腎臟受之也。）窮（而歸腎，症卻）未多，經候不勻，令陰（中）掣痛，少腹惡寒；或上引腰脊，下根氣衝，氣衝急痛，膝脛疼煩。（蓋以腎脈為陰之部，而衝脈與少陰之大絡，並起於腎故也。甚則）奄忽眩冒，狀如厥癲；（所謂陰病者，下行極而上也。）或有憂慘，悲傷多嗔：（所謂病在陰，則多怒及悲愁不樂也。總而言之曰：）此皆帶下，非有鬼神。（言病在帶脈之下為陰，非後人以不可見之鬼神為陰也。）久則（肌肉削而）羸瘦，（氣不足而）脈虛多寒；（統計十二症、九痛、七害、五傷、三痼之）三十六病，千變萬端；審脈陰陽，虛實緊弦；行其針藥，治危得安；其病雖同，脈各異源；（導其所異之處，即為探源。）子當辨記，勿謂不然。</p>
<p>此言婦人諸病，所以異於男子者，全從經起也。病變不一，因人稟有陰陽、體有強弱、時有久暫而分。起處以三大綱總冒；通節中又分出上、中、下，以盡病變；後以「此皆帶下」四字，總結本節之意。至於言脈，百病皆不外陰、陽、虛、實四個字。而又以弦緊為言者，蓋經阻之始，大概屬寒，即有熱症，亦由寒之所變。氣急則為弦，寒甚則為緊，示人以二脈為主，而參之兼脈則得耳。</p>
<p>徐靈胎云：古人名婦科謂之帶下醫，以其病總屬於帶下也。凡治婦人，必先明衝任之脈。衝脈起於氣街，（在毛際兩旁。）並少陰之脈，挾擠上行至胸中而散。任脈起於中極之下，（臍下四寸。）以上毛際，循腹裡，上關元。又云：衝任脈皆起於胞中，上循背裡，為經脈之海，此皆血之所從生，而胎之所由系，而帶脈為之總束也。學者能明乎帶脈之病，則本源洞悉；雖所主之病，千條萬緒，可以知其所從起；更合參古人所用之方，而神明變化之，自不至於浮泛不切之弊矣。</p>
<p>問曰：婦人年五十所，（七七之期已過，天癸當竭，地道不通。今）病（前陰血，）下利數十日不止，暮即發熱，少腹裡急，腹滿，手掌煩熱，唇口乾燥，何也？師曰：（前言婦人三十六病，皆病在帶脈之下。）此病屬帶下。何以故？曾經半產，瘀血在少腹不去。何以知之？（蓋以瘀血不去，則新血不生，津液不布。）其證唇口乾燥，故知之。（況暮熱、掌心熱俱屬陰，任主胞胎，沖為血海，二脈皆起於胞宮，而出於會陰，正當少腹部分，衝脈挾臍上行，衝任脈虛，則少腹裡急。有乾血亦令腹滿，其為宿瘀之症無疑。）當以溫經湯主之。此承上節，言歷年血寒積結胞門之重症，而出其方治也。尤在涇曰：婦人年五十所，天癸已斷，而病下利，似非因經所致矣。不知少腹舊有積血，欲行而未得遞行，欲止而不能竟止，於是下利窘急，至數十日不止。暮即發熱者，血結在陰，陽氣至暮不得入於陰，而反浮於外也。少腹裡急腹滿者，血積不行，亦陰寒在下也。手掌發熱，病在陰，掌心亦陰也。唇口乾燥，血內瘀者不外榮也。此為瘀血作利，不必治利，但治其瘀而利自止矣。吳萸、桂枝、丹皮，入血散寒而行其瘀；芎、歸、芍藥、麥冬、阿膠以生新血；人參、甘草、薑、夏以正脾氣。蓋瘀久者，榮必衰；下多者，脾必傷也。</p>
<p>（婦人因經致病，凡三十六種，皆謂之）帶下，經水（因寒而瘀）不（能如期而）利，（以致）小腹滿痛，（然既瘀而不行，則前經未暢，所行不及，待後月之正期而先至，故其）經一月再見者，以土瓜根散主之。此為帶下而經候不勻、一月再見者，出其方治也。按：土瓜即王瓜也，主驅熱行瘀，佐以䗪蟲蠕動逐血，桂、芍之調和陰陽，為有制之節。</p>
<p>寸口脈（輕按）弦而（重按）大，弦則為（陽微而遞）減，大則為（外盛而中）芤；減則（陽不自振，）為（諸）寒，芤則（陰不守中，）為（中）虛；寒虛相搏，此名曰革。（革脈不易明，以弦減芤虛形容之，則不易明者明矣。凡）婦人（妊娠及行經，必陰陽相維，而後為無病。今見此脈，）則（不能安胎而）半產（不能調經而）漏下，（以）旋覆花湯主之。此為虛寒而半產漏下者，出其方治也。但此方與虛寒之旨不合，或者病源在肝，肝以陰臟，而舍少陽之氣，以生化為事，以流行為用；是以虛不可補，解其鬱聚即所以補；寒不可溫，行其氣血即所以溫歟！錢氏謂必是錯簡，半產、漏下，氣已下陷，焉有用旋覆花以下氣之理？二說俱存候商。</p>
<p>婦人陷經，（其血）漏下（不止，其血色）黑（亦）不解，（是瘀血不去，新血不生，榮氣腐敗。然氣喜溫而惡寒，以）膠薑湯主之。此為陷經而色黑者，出其方治也。方未見。林億云：想是膠艾湯。《千金》膠艾湯有乾薑，似可取用。丹溪謂：經淡為水，紫為熱，黑為熱極，彼言其變，此言其常也。</p>
<p>婦人少腹滿如敦狀，（蓋少腹，胞之室也。胞為血海，有滿大之象，是血蓄也。若）小便微難而不渴，（可知其水亦蓄也。若病作於）生（產之）後者，此為水與血俱結在血室也，（宜用水血並攻之法以治，）大黃甘遂湯主之。此為水血並結在血室，而為少腹滿、大小便難、口不渴者，出其方治也。</p>
<p>婦人經水（久閉不至者，有虛實寒熱之可□也。又有行而不暢者，如一月再見之可徵也。若少腹結痛，大便黑，小便利，明知血欲行而）不（肯）利下，（不得以尋常行血導氣、調和營衛、補養衝任之法，迂闊不效，徑以）抵當湯主之。此為經水不利之屬實者，出其方治也。</p>
<p>婦人經水閉（而）不利，（其子）臟（固有凝滯而成）堅癖，（又因濕熱腐變而為下）不止，（其凝滯維何？以子臟）中有乾血，（其下不止維何？即濕熱腐變。所）下（之）白物，（時俗所謂白帶是也。宜用外消法，以）礬石丸主之。此為經水閉，由於子臟有乾血，得濕熱而變成白物者，出其方治也。</p>
<p>婦人六十二種風，腹中血氣刺痛，紅蘭花酒主之。此為婦人凡有挾風腹中血氣刺痛者，出其方治也。言血氣者，所以別乎寒疝也。六十二種未詳。張隱菴云：紅花色赤多汁，生血行血之品也。陶隱居主治胎產血暈，惡血不盡絞痛，胎死腹中。《金匱》紅蘭花酒治婦人六十二種風，又能主治痎瘧。臨川先生曰：治風先治血，血行風自滅。蓋風乃陽邪，血為陰液，此對待之治也。紅花捄莖葉且多毛刺，具堅金之象，故能制勝風木。夫男女血氣相同，仲祖單治婦人六十二種風者，良有以也。蓋婦人有餘於氣，不足於血；所不足者，乃衝任之脈，散於皮膚肌腠之間，充膚、熱肉、生毫毛；男子上唇口而生髭鬚，女人月事以時下，故多未足也。花性上行，花開散蔓，主生皮膚間散血，能資婦人之不足，故主治婦人之風。蓋血虛則皮血之腠理不密，而易於生風也。此血主衝任，故專治胎產惡血。《靈樞經》云：飲酒者，衛氣先行皮膚，故用酒煎，以助藥性；症邪亦伏於膜原之腠理間，故能引其外出。夫血有行於經絡中者，有散於皮膚外者，而所主之藥亦各不同，如當歸、地黃、茜草之類，主養脈內之血者也；紅蘭花主生脈外之血者也；川芎、芍藥、丹皮、紅曲之類，又內外之兼劑也。學者能體認先聖用藥之深心，思過半矣。</p>
<p>「婦人腹中諸疾痛，當歸芍藥散主之」。此為婦人腹中諸疾痛而出其方治也。寒、熱、虛、實、氣、食等邪，皆令腹痛，謂可以就此方為加減，非真以此方而統治之也。尤在涇云：婦人以血為主，而血以中氣為主。中氣者，土氣也，土燥不能生物，土濕亦不能生物，芎藭、芍藥滋其血，苓、朮、澤瀉治其濕，燥濕得宜，而土能生物，疾痛並蠲矣。</p>
<p>「婦人腹中痛，小建中湯主之。」此為婦人虛寒裡急腹中痛者，出其方治也。</p>
<p>（長孫心典）按：《傷寒論》云：陽脈澀，陰脈弦，法當腹中急痛，宜小建中湯主之。不瘥，更與小柴胡湯。</p>
<p>問曰：婦人病，飲食如故，煩熱不得臥，而反倚息者，何也？師曰：（飲食如故者，病不在胃也；煩熱者，陽氣不化也；倚息不得臥者，水不下行也。）此名轉胞，不得溺也，以胞系（不順而）了戾，故致此病，（但無並症。）但（當）利其小便，（則胞中之氣，使之下行氣道，斯胞系不了戾而）愈，以腎氣丸主之。此為轉胞症胞系了戾而不得溺者，出其方治也。了戾與繚戾同，言胞系繚戾而不順，而胞為之轉，胞轉則不得溺也。治以此方，補腎則氣化，氣化則水行而愈矣。　然轉胞之病，亦不盡此，或中焦脾虛，不能散精歸於胞；及上焦肺虛，不能下輸布於胞；或胎重壓其胞；或忍溺入房；皆能致此，當求其所因而治之也。</p>
<p>婦人陰（中）寒，（宜）溫（其）陰中（不用內服，止以藥納入，謂之）坐藥，蛇床子散主之。此遙承上節令陰掣痛少腹惡寒症，而出其方治也。但寒從陰戶所受，不從表出，宜溫其受邪之處則愈。蛇床子溫以去寒，合白粉燥以除濕，以寒則生濕也。少陰（腎）脈滑而數者，（滑主濕，數主熱，濕熱相合，而結於陰分，故令前）陰中即生瘡，陰中蝕瘡爛者，（乃經熱之盛而生䘌也。以）狼牙湯洗之。此為濕熱下流於前陰、陰中生瘡蝕爛者，出其方治也。狼牙草味酸苦，除邪熱氣，疥瘙惡瘡，去白蟲，故取治之。若無狼牙草，以狼毒代之。胃氣下泄，（不從大便為失氣，而從前）陰吹（出）而正喧，（謂其連續不絕，喧然有聲。）此穀氣之實（大便不通故）也，（以）豬膏發煎主之。（取其滋潤以通大便，則氣從大便而出，此通而彼塞也。）</p>

<h3>金匱方一十九首</h3>
<p><u>小柴胡湯</u>（方見《傷寒論》。）</p>
<p><u>半夏厚朴湯</u></p>
<p>半夏（一斤）　厚朴（三兩）　茯苓（四兩）　生薑（五兩）　蘇葉（二兩）</p>
<p>上五味，以水一斗，煮取四升，分溫四服，日三服，夜一服。</p>
<p>歌曰：狀如炙臠貼咽中，卻是痰凝氣不通，半夏一升苓四兩，五（兩）姜三（兩厚）樸二（兩）蘇（葉）攻。</p>
<p>（次男元犀）按：方中半夏之降逆，厚朴之順氣，茯苓之化氣，人所盡知也。妙在重用生薑之辛，以開其結；佐以蘇葉之香，以散其鬱；故能治咽中如有炙臠之症。後人變其分兩，治胸腹滿悶嘔逆等症，名為七氣湯，以治七情之病。</p>
<p><u>甘麥大棗湯</u></p>
<p>甘草（三兩）　小麥（一斤）　大棗（十枚）</p>
<p>上三味，以水六升，煮取三升，分溫三服。亦補脾氣。</p>
<p>歌曰：婦人臟燥欲悲傷，如有神靈太息長，（嘆，欠伸。）小麥一升三兩草，十枚大棗力相當。</p>
<p>魏云：世醫競言滋陰養血，抑知陰盛而津愈枯，陽衰而陰愈燥，此方治燥之大法也。</p>
<p><u>小青龍湯</u>（歌見《傷寒論》。）</p>
<p><u>瀉心湯</u>（歌見《傷寒論》。）</p>
<p><u>溫經湯</u></p>
<p><u>土瓜根散</u></p>
<p>土瓜根　芍藥　桂枝　䗪蟲（各三分）</p>
<p>上四味，杵為散，酒服方寸匕，日三服。</p>
<p>歌曰：帶下端由瘀血停，（不能如期而至，以致少腹滿痛。）月間再見（既瘀而不行，則前經未暢所行，不及待後月正期而至，故一月再見。）不循經，（經，常也，言不循常期也。）䗪瓜桂芍均相等，調協陰陽守典型。</p>
<p>（次男元犀）按：方中桂枝通陽，芍藥行陰，陰陽和則經之本正矣；土瓜根驅熱行瘀，䗪蟲蠕動逐血，治其本而不遺其末；無一而非先聖之典型。</p>
<p><u>旋覆花湯</u></p>
<p>旋覆花（三兩）　蔥（十四莖）　新絳（少許）</p>
<p>上三味，以水三升，煎取一升，頓服之。</p>
<p>（長孫心典稟）按：旋覆花鹹溫下氣，新絳和血，蔥葉通陽。此方原治肝氣著滯之病，於此症只示其意，不可泥其方，故前賢疑此方之錯簡。</p>
<p>膠薑湯（方未見，或云即是乾薑、阿膠二味煎服，《千金》膠艾湯中有乾薑，亦可取用。）</p>
<p><u>大黃甘遂湯</u></p>
<p>大黃（四兩）　甘遂　阿膠（各二兩）</p>
<p>上三味，以水三升，煎取二升，頓服，其血當下。</p>
<p>歌曰：少腹敦形（敦，音對。古器也。《周禮》：「磬以乘血，敦以乘食。」少腹高起之狀相似也。少腹，胞之室也。胞為血海，其滿大為蓄血也。）小水難，（小水難而不渴，亦蓄血也。）水同瘀血兩瀰漫，（結在血室，）大黃四兩遂膠二，頓服瘀行病自安。</p>
<p>（次男元犀）按：方中大黃攻血蓄，甘遂攻水蓄。妙得阿膠，本清濟之水，伏行地中，歷千里而發於古東阿縣之井，此方取其以水行水之義也。《內經》謂：濟水內合於心，用黑驢皮煎造成膠，以黑屬於腎，水能濟火，火熄而血自生。此方取其以補為通之義也，然而甘遂似當減半用之。</p>
<p><u>抵當湯</u>（歌見《傷寒論》。）師云：婦人經水不利下，此主脈症並實者；否則，當養其衝任之源，不可攻下。</p>
<p><u>礬石丸</u></p>
<p>礬石（三分，燒）　杏仁（一分去皮尖）</p>
<p>上二味，末之，煉蜜為丸，如棗核大，內臟中，劇者再內之。</p>
<p>歌曰：經凝成癖閉而堅，白物時流豈偶然？（蓄泄不時，胞宮生濕，濕反生熱，所積之血，轉為溫熱所腐，而白物時時自下。）礬石（用）三分杏一分，納時病去不遷延。</p>
<p>燒礬，驅濕熱，且澀能固脫；佐以杏仁之苦潤，去其乾血；一外納之方，亦兼顧不遺，可知古法之密。</p>
<p><u>紅蘭花酒</u></p>
<p>紅蘭花（一兩）</p>
<p>上一味，酒一大升，煮減半，頓服一半，未止再服。</p>
<p>歌曰：六十二風義未詳，腹中刺痛勢徬徨；治風先要行其血，一兩（紅）蘭花酒煮嘗。</p>
<p>張隱菴註解甚詳，不再釋。</p>
<p><u>當歸芍藥散</u>（方見《胎前》。）</p>
<p><u>小建中湯</u>（歌見《傷寒論》。方意在扶脾以生血，不全恃四物之類也。）</p>
<p><u>腎氣丸</u></p>
<p>乾地黃（八兩）　山藥　山茱萸（各四兩）</p>
<p>茯苓　丹皮　澤瀉（各三兩）　桂枝　附子（泡，各一兩）</p>
<p>上（八）味，末之，煉蜜和丸，梧子大，酒下十五丸，加至二十丸，日再服。</p>
<p>歌曰：小水不通病轉胞，胞由氣主一言包；（胞之內外空虛，有氣充塞、方不遊移，其系自正；氣虛則胞無所主，其系或致反戾，其溺必難矣。）萸薯四兩桂附（一兩），丹澤苓三地八（兩）教。</p>
<p>此方妙在大補腎氣，腎氣足則胞正，胞正則系正，系正則小便不利而利矣。</p>
<p><u>蛇床子散</u></p>
<p>蛇床子一味，末之，以白粉少許和合相得，如棗大，綿裹納之，自然溫。</p>
<p><u>狼牙湯</u></p>
<p>狼牙（三兩）</p>
<p>以水四升，煮取半升，以綿纏箸如繭，浸湯瀝陰中，日四遍。</p>
<p>歌曰：胞寒外候見陰（中）寒，納入蛇床佐粉安，（此溫胞益陽外治之善法，為腎氣丸之佐也。）更有陰（中）瘡䘌爛者，（乃溫熱不潔，而生䘌也。）狼牙三兩洗何難？（除濕熱，殺蟲。如無狼牙草，以狼毒代之。）</p>
<p><u>膏發煎</u></p>
<p>豬膏（半斤）　亂髮（如雞子大，三枚）</p>
<p>上二味，和膏中煎之，發消藥成，分再服，病從小便出。（《千金》云：太醫校尉史脫家婢，黃病服此，胃中燥糞下，便瘥，神效。）</p>
<p>歌曰：陰吹症起大便堅，古有豬膏八兩傳，亂髮三丸雞子大，發消藥熟始停煎。</p>
<p>門人問曰：婦人雜病繁多，非筆楮所能盡，《傷寒論》、《金匱要略》二書，何一而非婦科之法治乎？然而業此者絕少，通儒未免以集隘未全為議，請於《金匱》外而續補之，何如？</p>
<p>曰：不能續也，不必續也。爾欲續，吾且狥爾續之。各家近道之言可錄者少，今擇數條於下。究竟仁者見之謂之仁，知者見之謂之知，善讀書者自知之，而修園不贅也。</p>
<p>陳良甫曰：婦人衝任二脈，為經脈之海，外循經絡，內榮臟腑。若陰陽和平，則經下依時；如勞傷不能約制，忽然暴下，甚則昏悶。若寸脈微遲，為寒在上焦，則吐血、衄血；尺脈微遲，為寒在下焦，則崩血、便血；法當調補脾胃為主。修園按：理中湯為要藥。李東垣曰：聖人治病，必本四時升降浮沉之理。經漏不止，是前陰之氣血已下脫；水瀉不止，是後陰之氣血又下陷。後陰者，主有形之物；前陰者，精氣之門戶；前後二陰俱下，是病人周身之氣常行。秋冬之令，主肅殺收藏，人身中陽氣上浮，殺氣上行，則陽生陰長，春夏是也。既病則周身氣血皆不生長，殺氣不升，前雖屬熱，下焦久脫，已化為寒，久沉久降，寒濕大勝，當急救之。瀉寒以熱，除濕以燥，大升大舉，以助生長，補養氣血，不致偏枯。聖人立治法云：濕氣大勝，以所勝平之，當調和胃氣而滋元氣；如不止，用風藥以勝濕，此是謂也。陳良甫曰：婦人血崩心痛，名曰殺血心痛，由心脾血虛也。若小產去血過多而心痛者，亦虛也。用烏鰂魚骨炒為末，醋湯調下失笑散亦效。武叔卿曰：鹿茸丸治經血過多，其色瘀黑，甚者崩下，呼吸少氣，臍腹冷極，則汗如雨，兩尺脈微細，由衝任虛衰，為風冷客胞中，氣不能固，可灸關元百壯。夫丹溪以紫黑色為熱，此言瘀黑者，乃下焦氣寒，血凝而黑，各有治法。然女子氣海在上，血海在下，故下焦溫而後氣升血行。如鹿茸以血成形，由氣而長，血隨氣上而成角，故入血分以生升。又以附子、艾葉佐而溫之，以赤石脂、禹餘糧鎮而固之，柏葉清之，歸、地、續斷補之，誠下元虛寒之全方也。不加人參豈無意焉？而灸關元之意可想矣。武叔卿曰：血虛須兼補氣，譬之血猶水也，氣猶堤也；堤堅則水不橫決，氣固則血不妄行，自然之理也。武叔卿曰。五靈脂散，治血崩不止，不拘多少，炒令煙盡，研末，以當歸酒或童便調下三錢。一名抽刀散，治產後惡血，心腹痛不可忍，其效如神，真急救之良方也。人家不可不備。並治蛇、蠍、蜈蚣咬，塗傷處立愈。張子和曰：婦人帶下，《聖惠方》與巢氏二家之說皆非也。夫治病當先識經絡，人身大經有十二，奇經有八脈，十二經與八脈，通身往來。經絡共二十道，上下流走環周，晝夜不息。然此十二經，上下周流者，止十九道耳。惟帶脈起少腹季脅之端，乃章門穴也，環周一身，絡腰而過，如束帶之於身。《難經》云：「帶之為病，溶溶如坐井中」。衝任者，是經脈之海也，循腹脅，夾腦旁，傳流於氣衝，屬於帶脈，絡於督脈。督脈者，起於關元穴。任脈者，女子養胎孕之所。督乃是督領婦人經脈之海也。沖、任、督三脈，同起而異行，一源而三岐，皆絡於帶脈。沖、任、督三脈，皆統於篡戶，循陰器，行庭孔、溺孔上端。沖、任、督三脈，以帶脈束之，因余經上下往來，遺熱於帶脈之間，客熱抑鬱。熱者血也，血積多日不流，從金之化而為白，乘少腹冤熱，白物滿溢，隨溲而下，綿綿不絕，是為白帶。多不痛，或有痛者，因壅礙而成也。《經》曰：少腹寒熱，溲出白液冤者，屈滯也。病非本經，為他經冤鬱而成，此疾皆從濕熱治之。遺熱於小腸，從金代而為白，與治痢同法。赤白痢乃邪熱入於大腸，赤白帶是邪熱傳於小腸，故治二症，不可驟用峻熱藥燥之。燥之則內水涸，內水涸則必煩渴，煩渴則小便不利，小便不利則足腫面浮，漸至不起。治法先以導水禹功瀉之，次以淡劑降心火、益腎水、下小溲、利水道則愈矣。張子和曰：赤白痢者，是邪熱入於大腸，下廣腸，出赤白也。帶下者，傳於小腸，入脬經，下赤白也。據此二症，皆可同以治濕之法治之。方約之曰：帶脈總束諸脈，使不妄行，如人束帶而前垂也。婦人多鬱怒傷肝，肝屬木，脾屬土，肝邪乘脾，則土受傷而有濕；濕生熱，熱則流通，故滑濁之物滲入膀胱，從小便而出。古人作濕寒，用辛溫藥則非矣！丹溪作濕熱，用苦溫藥為是；不知用苦寒正治也，用辛溫從治也。如濕熱拂鬱於內，腹痛帶下，非辛溫從治，能開散之乎？若少腹不痛，上下赤白帶者，雖有濕熱，而氣不鬱結，用苦寒治之為當也。吳梅坡治赤白帶下，用自制十六味保元湯，骨碎補、貫眾（去毛）三錢，杜仲、小茴香（鹽水炒）各一錢五分，人參、巴戟各二錢，黃耆、當歸、山藥、獨活、蓮蕊須各一錢，石斛、升麻、茯苓各七分，甘草六分，黃柏八分，桂圓肉二枚。又方用六龍固本丸，山藥、巴戟肉、山茱肉各四兩，川楝子、補骨脂、（青鹽三錢，湯泡。）人參、蓮肉、黃耆各二兩，小茴香，川芎、木瓜各一兩。張潞玉曰：沖為血海，即是血室。衝脈得熱則迫血下行，男子亦有是症，不獨婦人也。《金匱要略·水氣篇》云：問病有血分水分，何也？師曰：經水前斷，後病水，名曰血水，此病為難治；先病水，後斷經水，名曰水分，此病易治。何以故？去水，其經自下也。汪石山曰：凡經先斷而後病水，少陰脈沉而滑，沉則在裡，滑則為實，沉滑相搏，血結胞門，為血分難治。若先病水，而後病經斷，少陽脈牢，少陰脈細，男子小便不利，婦人經水不通；經通則為血，不利則為水，名水分易治。此因脾肺虛冷，不能通調水道，下輸膀胱，滲泄之令不行，生化之氣不轉。東垣云：水飲留積，若土在雨中則為泥，得和氣暖日，水濕去而萬物自生長；用加減腎氣丸，歸脾湯，六君子加木香、炮薑、肉桂。</p>

<h2>外科</h2>
<p>外科書向無善本，無怪業此者只講內消、內托、內補、艾灸、神照、針砭、圍藥熏洗、開口、收口諸小技，儒者薄之而不言，所以愈趨而愈下也。余少年遇險逆之症，凡外科咸束手而無策者，必尋出一條大生路，為之調理，十中可愈六七。非有他術，蓋從《傷寒論》中體認十二經之經氣標本，而神明乎三百九十七法，一百一十三方之中也。今於女科雜病後，又附外科四症，以示其概。</p>

<h3>眼目</h3>
<p>眼科書分為七十二症，類皆不切之陳言，各家從而敷衍之，陳陳相因，曷其有極乎？所以有目不醫不盲之誚也。而婦人眼病，與男子頗殊，當以補養腎水，以濟沖、任、胞門、血海之血，以目得血而能視也。又肝開竅於目，女子善懷，每多憂鬱；五郁皆屬於肝，又當以疏肝解鬱之藥佐之；余「新定」二方，面面周到。</p>
<p><u>新定開瞽神方</u></p>
<p>茺蔚子（隔紙烘）　元參（酒浸，各八兩）　香附（為末，以人乳拌五次）　柴胡（酒拌烘，各四兩）　澤瀉（酒拌，烘）　防風（黃耆汁拌）　白菊花（各三兩）</p>
<p>上為末，煉蜜為丸，如梧桐子大，每服三錢，菊花湯送下。</p>
<p>又附方：枸杞子一斤（去蒂，並乾燥者不用），取羊膽十個（瀉汁；用冬蜜十兩、山泉水一斤攪勻，將枸杞浸一宿，蒸半炷香），曬乾，又浸又蒸，以汁干為度。收藏密貯，勿泄氣。每早晚各吞三錢，以桑葉湯送下。</p>

<h3>瘰癧</h3>
<p>瘰癧者，頸上項側結聚成核，累累相連。或生於胸脅之間，重者形如馬刀，更重者聚成一片，堅硬如鐵，俗名鐵板癧，必死。凡癧，多起於耳之前後，乃少陰之部位也。女子善懷，每多憂鬱，宜逍遙散加貝母、夏枯草、牡蠣、栝蔞子、青皮之類常服；虛者加味歸脾湯最妙。必須灸肩髃二穴、曲池二穴、命門一穴、氣海一穴、足三里二穴，方能除根。又取大蝦蟆一個，去腸洗淨，復於癧上，以艾如大豆樣，灸蝦蟆皮上，至熱氣透癧，再灸別處；如蝦蟆皮焦，移易灸之。三五日灸一次，熏者三次可愈。服消癧湯：栝蔞一個（搗）甘草汁三錢，皂角一片（去弦子），大黃三錢，五味子一歲一粒，水煎服；下穢物愈，未下再服。常服丸方：元參（蒸）、牡蠣（醋煮）、川貝母各半斤，為末，以夏枯草二斤，長流水（熬膏）半碗，入熟蜜為丸，如梧桐子大，每服三錢，一日兩服，開水送下。此症忌刀針及敷潰爛之藥。有丹方用羚羊角（以磁片刮下為末，或用舊明角琉璃刮下為末尤良），每斤入貝母四兩，全蠍三兩，蜜丸，空腹服三錢。外用皂角入鯽魚腹中，煅灰存性，蜜和醋調塗，無不應效。</p>

<h3>乳癰　乳岩（附）　乳縮　乳卸</h3>
<p>《經》云：乳頭屬足厥陰肝經，乳房屬足陽明胃經。若乳房忽然腫痛，數日之外，焮腫而潰，稠膿湧出，膿盡而愈，此屬肝胃熱毒、血氣壅滯所致，名曰乳癰，猶為易治。若乳岩者，初起內結小核如棋子，不赤不痛，積久漸大崩潰，形如熟榴，內潰深洞，膿水淋漓，有巉巖之勢，故名曰乳岩；此屬脾肺鬱結，血氣虧損，最為難治。乳癰初起，若服人參敗毒散，栝蔞散加忍冬藤、白芷、青橘皮、生耆、當歸、紅花之類，敷以香附餅，即見消散；如已成膿，則以神仙太乙膏貼之，吸盡膿水自愈矣。乳岩初起，若用加味逍遙散、加味歸脾湯二方間服，亦可內消。及其病勢已成，雖有盧扁，亦難為力。但當確服前方，補養氣血，縱未脫體，亦可延生。周季芝云：乳癰、乳岩結硬未潰，以活鯽魚同天生山藥搗爛入麝香少許，塗塊上，覺癢勿搔動，隔衣輕輕揉之，以七日一塗，旋塗旋消；若用行血破氣之劑，是速其危也。更有乳縮症，乳頭縮收肉內，此肝經受寒，氣斂不舒，宜當歸補血湯加乾薑、肉桂、白芷、防風、木通之類主之。又有乳卸症，乳頭拖下，長一二尺，此肝經風熱發泄也，用小柴胡湯加羌活、防風主之；外用羌活、防風、白蘞火燒熏之；仍以蓖麻子四十九粒、麝香一分，研極爛塗頂心，俟至乳收上，急洗去。此係屬怪症，婦人盛怒者多得之，不可不識。</p>
<p><u>栝蔞散</u></p>
<p>栝蔞（一個）　明乳香（二錢）　酒煎服。</p>
<p><u>香附餅</u>　敷乳癰，即時消散；一切癰腫，皆可敷。</p>
<p>香附（細未，淨一兩）　麝香（二分）</p>
<p>上二味研，以蒲公英二兩，煎酒去渣，以酒調藥，燉熱敷患處。</p>
<p><u>神仙太乙膏</u>　治一切癰疽，不問膿之成否，並宜貼之。</p>
<p>元參　白芷　當歸　肉桂　生地　赤芍　大黃（各一兩）　黃丹（十二兩，炒篩）</p>
<p>上藥用麻油二斤，內諸藥煎黑，濾去滓；復將油入鍋，熬至滴水成珠，入黃丹十二兩再熬，滴水中，看其硬軟得中，即成膏矣。如軟，再加黃丹數錢。</p>
<p><u>加味逍遙散</u>　治肝經鬱火，頸生瘰癧，並胸脅脹痛；或作寒熱，甚至肝木生風，眩暈振搖；或咬牙發痙諸症。《經》云：木鬱則達之，是也。</p>
<p>北柴胡　茯苓　當歸　天生術　甘草　白芍　牡丹皮　山梔（炒黑，各一錢）　薄荷（五分）　老生薑（一片）　清水煎。</p>

<h3>附：婦人陰挺論</h3>
<p>陰挺證，坊刻《外科》論之頗詳，大抵不外濕熱下注為病。薛立齋以補中益氣湯、加味逍遙散、六味地黃丸、知柏八味丸為主，以當歸蘆薈丸、龍膽瀉肝湯之類為輔，可謂高人一著，而治之無一效，何也？蓋為前人濕熱二字誤之也。余在籍時，醫道頗許可於人，治療三十七載，閱歷不為不多，而陰挺症久未一見，意者古人用心周到，不過所聞而備其病名乎？迨至辛酉，以縣令髮直候補。公餘之頃，時亦兼理斯道，方知直隸婦女，十中患此病者約有三、四。甚者突出一二寸及三四寸，大如指，或大如拳，其形如蛇、如瓜、如香菌、如蝦蟆不一；或出血水不斷，或乾枯不潤，或痛癢，或頑麻者，以致經水漸閉、面黃少食、羸瘦、咳嗽、吐血而寒熱往來、自汗盜汗，病成勞傷而死。輕者但覺陰中滯礙，而無其形，或有形亦不甚顯，無甚痛害。若經水勻適，尚能生育，時醫名之曰𤺏，又名吃血勞。所用之藥，均無一效；或用刀割，一時稍愈，旋且更甚。余常按前人之法而治之，亦未見效。未知何故？余讀《內經》、《金匱》、《千金》等書，及各家秘藏等本，尋其言外之旨，而參以所見所聞，頗有所悟。因知此症，南人不患，即偶有之，治亦易愈；北人亦常患，治皆罔效，自有其故。蓋以南人之陰挺，由於病變，書有其方，按法多效；北人之陰挺，由於氣習，病象雖同，而病源則異，所以弗效。其云：氣習奈何？北俗日坐濕地，夜臥土坑，寒濕漸積，固不待言。男子勞動而散泄，婦人則靜而常佚，至春夏以及長夏，濕得暑氣之蒸上騰，有如蒸飯、婦人值經水之適來，血海空虛，虛則善受，且終日坐於濕地，而勤女紅，土得人氣而漸干，濕隨入氣而內入，即《金匱》胞門傷寒之義。更有甚者，長夏乾土，得雨之後，則土中之蟲無不蠕動，一聞血腥之氣，蟲頭上仰，噓吸其氣。蟲為陰類，血為陰汁，以陰從陰，毒氣並之，即為陰挺之病根。推而言之，即不坐濕地，凡婦人不用便桶，蹲於廁中而便溺，廁中為汙穢幽隱之處，更多濕蟲之潛伏，其毒氣皆能隨其腥血之氣而上乘之也。余家山中，每見小兒坐於濕地，多患陰莖腫脹，或作痛癢，俗謂蚯蚓吹也。治者揭開鴨嘴含之，以鴨喜食蚓也。或以花椒白礬湯洗之，以椒能勝寒，礬能除濕也。知此而陰挺之病根，更瞭如指掌矣。醫者不察其由，止按成方以施治，無怪病日增劇。更有一種漁利之徒，以下水消腫攻毒之峻藥，為丸內服；又以蟾酥、硼砂、芒硝、麝香、雄黃、冰片、阿魏、白砒之類外敷，為害更烈，余所以不忍默然而坐視也。余於此治之，初患者以五苓散料，加蜀椒、黃柏、小茴、附子、沙參、川芎、紅花之類，蜜丸，每服四錢，一日兩服；外以花椒、苦參、蒼朮，槐花煎湯，入芒硝熏洗；又以飛礬六兩，銅綠四錢，五味子、雄黃各五錢，桃仁一兩，共為細末，煉蜜為丸，每重四錢，雄黃為衣，納入陰中，奇效。或久而成勞，經水不利，以溫經湯、腎氣丸主之。而龜板、鱉甲、蒺藜之類，隨症出入加減，亦有愈者，筆楮難盡。惟於《金匱·婦人雜病》，及全部中屬詞此事，得其一言一字，以啟悟機，斷無不治之證矣。</p>

<h1>續記</h1>
<p>傅廉該觀察清河時，其弟南安，寄來慎修（修園又號慎修）醫書兩卷、《東皋四書》文八卷，披閱不倦。題句云：「東皋制藝慎修醫書，萬頃汪洋孰望涯？」辛酉，余到直候補，叨識於牡牝元黃之外，此一時之盛事也，亦彼時之僅事也。日者奉委赴熱河，稟辭甫出，又傳入署。曰：雅著數種，俱經抄錄，詳加評點，但集中闕婦人陰挺一症，此症北方最多，亦最除逆而難治，必不可闕。若到熱河辦公，公餘當續補之。余答以近日醫過兩人獲效之故，差次繁冗之中，尚恐立論弗詳，不如即於寓中，走筆書之。書成呈閱，一閱一擊節。又問曰：聞二十年前患此者少，自此地種產甘薯，婦人食之，多生此瘡，蓋以瘡形與甘薯相仿也。余曰：此一想當然語，其實不然。甘薯始自閩省，俗名地瓜，性同山藥，而甘味過之。閩自福清以南及漳、泉二府濱海外，以此作飯，終身不生他病。《本草從新》謂其：「補脾胃，驅濕熱，養氣血，長肌肉」。海濱人多壽，皆食此物之故。《金薯譜》極贊其功。閩人治下痢，以白蜜同煎，食之甚效；婦人患赤白帶，用此法亦效；可知其利濕熱之功尤巨也。鄙意以甘薯堪為陰挺證之專藥。蓋以陰挺之本，不離於濕，而此為探本之治；陰挺之形突出如瓜，而此為象形之治。患此者，令其如法服藥敷藥之外，又以此物代飯，其效當必更速。觀察曰：善！請附於前著之後，以補千古之闕，並折一時之疑，洵大方便之一事。</p>
