<header>
<h1>品質標示</h1>
</header>

<p>本站收錄的電子文本品質不一，可能影響參考價值。本站將各電子文本的品質狀態以0~100%的數字標示，標示原則大致如下：</p>

<ul>
<li>25%：文章未收全或缺漏甚多，章節段落混亂，內文缺乏校對。</li>
<li>50%：文章已大約完整收錄，章節段落已分明，內文大致可讀。</li>
<li>75%：章節段落清楚，內文已經過相當校對，語法標記已大致做到。</li>
<li>100%：內文已參考可靠紙本詳細校對，標記非常完整。</li>
</ul>

<p>品質未標示者一律視為-1%。</p>

<p>您可在典籍檢索器指定品質範圍作為檢索條件，以便過濾品質符合需求的典籍。</p>
