<header>
<h1>參考資源</h1>
</header>

<p>除中醫笈成以外，一些常見的中醫數位文本如下：</p>
<ol>
<li><b>中醫藥委員會文本</b>：早年由行政院衛生署中醫藥委員會專案製作的中醫文本，約80餘部。笈成已全數收錄。</li>
<li><b>漢典</b>：早年由蓮花海軟體工作坊製作的《漢典》檢索程式附帶了數十部中醫古籍資料。皆為純文字文本，為供程式檢索，皆整理為條文化格式。笈成已全數收錄。</li>
<li><b><a href="https://www.facebook.com/groups/211137369028525/">永諸的靈蘭秘典</a></b>：陳永諸醫師精校的中醫電子書，約數十部，多為DOC(X)或PDF格式。由於陳永諸醫師允許他人自由利用，笈成將持續收錄相關文本以供檢索。</li>
<li><b><a href="https://acupun.site">再探針灸大成</a></b>：陳擎文博士建置之網站，主要提供數位化的針灸相關資料，也提供一些中醫古籍數位文本。</li>
<li><b>中華醫典</b>（簡體）：由中國中醫藥學會、湖南電子音像出版社、嘉鴻科技開發有限公司合作整理的中醫古籍數位文本，最新版本（第5版）收錄1156部典籍，為商業軟體，有大量保護機制（USB鎖、網路鎖、限制複製次數等），且文本為簡化字及GB 2312編碼，在繁體中文系統使用須處理亂碼問題。笈成已收錄其中所有典籍的相應數位文本。</li>
<li><b><a href="https://www.zysj.com.cn">中醫世家</a></b>（簡體）</li>
</ol>

<p>除此之外，許多圖書館或機構亦提供古籍掃描本可供參照：</p>
<ol>
<li><b><a href="https://archive.org/">網際網路檔案館（Internet Archive）</a></b>：1996年成立的非營利性數位圖書館組織，與多家圖書館合作收錄許多典籍掃描本，除可線上瀏覽，亦可下載全書影像檔。</li>
<li><b><a href="https://www.kanripo.org/">漢リポ</a></b>：提供四部叢刊、四庫全書等典籍之數位化文本供線上檢索，部分典籍並提供掃描本之圖文對照。全文以CC BY-SA授權釋出，並提供原始檔之Git版本庫。</li>
<li><b><a href="https://rbk-doc.npm.edu.tw">國立故宮博物院－圖書文獻數位典藏資料庫</a></b>：故宮典藏逾21萬冊善本古籍，醫家類典籍約有800餘部，已建置數位影像者約100餘部。</li>
<li><b><a href="https://rbook.ncl.edu.tw">國家圖書館－古籍與特藏文獻資源</a></b>：可線上查閱國家圖書館藏善本之影像檔。點擊左上三條槓的下拉選單有進階檢索功能。</li>
<li><b><a href="https://taiwanebook.ncl.edu.tw">臺灣華文電子書庫</a></b>：國家圖書館與全國各文獻典藏單位的合作計畫，提供1911年至1949年出版品之數位影像瀏覽。</li>
<li><b><a href="https://ctext.org/searchbooks.pl?if=gb">中國哲學書電子化計劃</a></b>：收錄大量中文古籍，其中中醫典籍多為掃描圖檔，僅少數有數位文本。站內瀏覽掃描檔會時常要求輸入驗證碼，建議盡量至資料來源處瀏覽或下載。</li>
<li><b><a href="https://zh.wikisource.org">維基文庫</a></b>：收錄大量公有領域古籍文本，唯大部分中醫相關典籍校對品質仍待改善。也提供部分典籍的掃描圖像及數位化文本，如<a href="https://zh.wikisource.org/wiki/Page:Gujin_Tushu_Jicheng,_Volume_541_(1700-1725).djvu/6">《古今圖書集成》</a>。</li>
<li><b><a href="https://repository.lib.cuhk.edu.hk/tc/">香港中文大學數碼典藏</a></b></li>
<li><b><a href="https://books.ancientbooks.cn">中华善本古籍数据库</a></b>：可檢索館藏資料。近期似乎只開放中國用戶閱覽。</li>
<li><b><a href="https://www.wdl.org/zh/">世界數位圖書館（World Digital Library）</a></b>：由聯合國教科文組織和世界多個公共團體合作建立的創用CC計劃，提供全世界許多文化素材的線上瀏覽或下載。</li>
<li><b><a href="https://www.digital.archives.go.jp">國立公文書館</a></b>：日本的國家檔案館，典籍掃描本可線上瀏覽或下載全書PDF檔。</li>
<li><b><a href="https://www.wul.waseda.ac.jp/kotenseki/index.html">早稻田大學圖書館古籍綜合資料庫</a></b>：典籍掃描本可線上瀏覽或下載全書PDF檔。</li>
<li><b><a href="https://rmda.kulib.kyoto-u.ac.jp">京都大學貴重資料數位檔案館</a></b></li>
<li><b><a href="https://dl.ndl.go.jp/">國立國會圖書館數位館藏</a></b></li>
<li><b><a href="http://shanben.ioc.u-tokyo.ac.jp/list.php">東京大學東洋文化研究所所藏漢籍善本全文影像資料庫</a></b></li>
<li><b><a href="https://www.loc.gov">美國國會圖書館</a></b></li>
<li><b><a href="https://library.harvard.edu/digital-collections">哈佛大學圖書館數位館藏</a></b>：典籍掃描本可線上瀏覽或下載全書PDF檔。</li>
<li><b><a href="https://digital.library.mcgill.ca/chinesemedicine/chinese/introduction.htm">麥基爾大學中醫婦科名著選</a></b></li>
<li><b><a href="http://yoksa.aks.ac.kr/jsp/aa/BookList.jsp?fcs=f&fcsd=&cf=a&cd=ac16&gb=1">韓國資訊文化振興院子部醫家類善本</a></b></li>
</ol>

<p>笈成多以可公開取得之掃描本為底本，以利公開協作。底本及相關連結均會在各典籍中附上。</p>

<p id="other">部分書籍雖有可使用的底本，但仍受著作權保護且未公開。如有意願參與數位文本校訂，可聯絡我們協助調借。</p>
