<header data-type="book">
<h1>東垣試効方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李杲</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1266">公元1266年</data></dd></div>
<div><dt>底本</dt><dd>多紀元昕手校本（<a href="https://www.digital.archives.go.jp/item/4222450.html">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序一</h1>
<p>東垣先生，受學於易上老人張元素，其積力久，自得於心，其法大概有四，曰：明經、別脈、識證、處方而已。謂不明經，則無以知天地造化之蘊；不別脈，則無以察病邪之所在，氣血之虛實；不識證，則不能必其病之主名以療之；不處方，則何以剋其必效。故先生每治人之疾，先診其脈，既別脈矣，則必斷之曰此某證也，則又歷誦其《難》《素》諸經之旨，以明其證之無差，然後執筆處方，以命其藥味，君臣佐使之制，加減炮製之宜，或丸、或散，俾病者餌之，以取其效，一洗世醫膠柱鼓瑟、刻舟覓劍之弊，所以為一代名工者以此也。今太醫羅君謙父，師先生有年，得盡傳其平生之學，亦為當世聞人，今將此方釐為九卷，鋟梓以傳，不獨使其師之術業表見於世，抑亦惠天下後學之士，俾獲安全之利也。其用心之忠厚，誠可嘉尚，故樂為序其端。噫！先生此方，特立法之大綱耳，不知變者，欲以治疾，或有不效，則尤之曰，此制方之不精也，則誤矣。孟子曰：梓匠輪輿，能與人規矩，不能使人巧。又曰：大匠不為拙工改廢繩墨，羿不為拙射變其彀率，引而不發，躍如也，中道而立，能者從之。吾於此書亦云。先生姓李氏，諱杲，字明之，東垣其自號云。至元十七年，歲次庚辰清明後二日通議大夫燕南河北道提刑按察使東魯王博文序。</p>

<h1>序二</h1>
<p>醫之用藥，猶將之用兵。兵有法，良將不拘於法；藥有方，良醫不拘於方。非曰盡廢其舊也，昔人因病制方，邪之微甚、人之虛實，莫不詳辨而參酌之，然後隨其六氣所侵，臟腑所受，劑品小大，平毒多寡，適與病等，絲髮不舛，故投之無不如意。後人不揣其本，而執其方，但曰此方治此病，幸而中者時有之，不幸而誤者固多矣。諺云：看方三年，無病不治；醫病三年，無方可治。斯言雖鄙，切中世醫之病。東垣老人李君明之，可謂用藥不拘於方者也。凡求治者，以脈證別之，以語言審之，以《內經》斷之，論證設方，其應如響，間有不合者，略增損輒效。蓋病之變無常，君之方與之無窮，所以萬舉萬全也。羅謙父受學其門，君嘗令以療病所制方錄之甚悉，月增歲益，浸以成編。凡有聞於君者，又輯而為論，將板行於世以廣君之道。抑予聞李君教人，講釋經書之暇，每令熟讀本草，川陸所產，治療所主，氣味之厚薄，補瀉之輕重，根莖異用，華葉異宜，一一精究。初不以方示之，意蓋有在矣。謙父不私所有，推以及人，善則善矣。李君教人之本意，殆不然也。君所著《醫學發明》《脾胃論》《內外傷辨》《藥象論》等書，皆平日究心，將以惠天下後世者，必須合數書而觀之，庶知君制方之旨，免泥而不通之患。若持此編，謂君之能盡在，是非李君所望於後人也。至元三年立春後五日，邙城硯堅序。</p>

<h1>卷一</h1>

<h2>藥象門</h2>

<h3>標本陰陽論</h3>
<p>天，陽，無，圓，氣，上，外，升，生，浮，晝，動，輕，燥，六腑。</p>
<p>地，陰，有，方，血，下，內，降，殺，沉，夜，靜，重，濕，五臟。</p>
<p>夫治病者，當知標本。以身論之，則外為標，內為本；陽為標，陰為本。故六腑屬陽為標，五臟屬陰為本，此臟腑之標本也。又五臟六腑在內為本，各臟腑之經絡在外為標，此臟腑經絡之標本也。更人身之臟腑、陰陽、氣血、經絡，各有標本也。以病論之，先受病為本，後傳流病為標。凡治病者，必先治其本，後治其標。若先治其標，後治其本，邪氣滋甚，其病益畜；若先治其本，後治其標，雖病有十數證皆去矣。謂如先生輕病，後滋生重病，亦先治輕病，後治重病，如是則邪氣乃伏，蓋先治本故也。若有中滿，無問標本，先治中滿，謂其急也。若中滿後，有大小便不利，亦無問標本，先利大小便，次治中滿，謂尤急也。除大小便不利及中滿三者之外，皆治其本，不可不慎也。</p>
<p>從前來者為實邪，從後來者為虛邪，此子能令母實，母能令子虛是也。治法云，虛則補其母，實則瀉其子。假令肝受心火之邪，是從前來者，為實邪，當瀉其子火也。然非直瀉其火，十二經中各有金、水、木、火、土，當木之分，瀉其火也。故《標本論》云：本而標之，先治其本，後治其標。即肝受火邪，先於肝經五穴中瀉滎心行間穴是也；後治其標者，於心經五穴內，瀉滎火少府穴是也。以藥論之，入肝經藥為之引，用瀉心火藥為君，是治實邪之病也。假令肝受腎邪，是從後來者，為虛邪，虛則補其母。故《標本論》云：標而本之，先治其標，後治其本。即肝受水邪，當先於腎經湧泉穴中補木，是先治其標；後於肝經曲泉穴中瀉水，是後治其本。此先治其標者，推其至理，亦是先治其本也。以藥論之，入腎經藥為引，用補肝經藥為君是也。</p>

<h3>用藥法象</h3>
<p>天有陰陽，風寒暑濕燥火，三陰三陽上奉之。溫涼寒熱，四氣是也。溫熱者，天之陽也；涼寒者，天之陰也，此乃天之陰陽也。</p>
<p>地有陰陽，金水木火土，生長化收藏下應之。辛甘淡酸苦醎五味是也，皆象於地。辛甘淡者，地之陽也；酸苦醎者，地之陰也，此乃地之陰陽也。</p>
<p>味之薄者為陰中之陽，味薄則通，酸苦醎平是也；味之厚者為陰中之陰，味厚則泄，酸苦醎寒是也。氣之厚者為陽中之陽，氣厚則發熱，辛甘溫熱是也；氣之薄者為陽中之陰，氣薄則發泄，辛甘淡平寒涼是也。</p>
<p>輕清成象（味薄者茶之類），本乎天者親上；重濁成形（味厚者大黃之類），本乎地者親下。氣味辛甘發散為陽，酸苦湧泄為陰。清陽發腠理，清之清者也；清陽實四肢，清之濁者也。濁陰歸六腑，濁之濁者也；濁陰走五臟，濁之清者也。</p>

<h3>藥性要旨</h3>
<p>苦藥平升，微寒平亦升。甘辛藥平降，甘寒瀉火。苦寒瀉濕熱，苦甘寒瀉血熱。</p>

<h3>藥象圖說</h3>
<figure>
  <table>
    <tr>
      <td style="inline-size: 1em;">
        藥象陰陽補瀉之圖
      </td>
      <td>
        <div><img src="_files/001.png" alt="藥象陰陽補瀉之圖（右半）"></div>
        <div><img src="_files/002.png" alt="藥象陰陽補瀉之圖（左半）"></div>
      </td>
    </tr>
  </table>
</figure>

<h3>用藥升降浮沉補瀉法</h3>
<p>肝膽：味，辛補酸瀉；氣，溫補涼瀉肝膽之經，前後寒熱不同，逆順互換，入求責法。</p>
<p>心小腸：味，醎補甘瀉；氣，熱補寒瀉（三焦、命門補瀉同）。</p>
<p>脾胃：味，甘補苦瀉；氣，溫涼寒熱，補瀉各從其宜（逆從互換，入求責法）。</p>
<p>肺大腸；味，酸補辛瀉；氣，涼補溫瀉。</p>
<p>腎膀胱：味，苦補醎瀉；氣，寒補熱瀉。</p>
<p>五臟更相平也，一臟不平，所勝平之，此之謂也。故云：安穀則昌，絕穀則亡。水去則榮散，穀消則衛亡，榮散衛亡，神無所居。又仲景云：水入於經，其血乃成；穀入於胃，脈道乃行。故血不可不養，衛不可不溫。血溫衛和，榮衛將行，常有天命矣。</p>

<h3>五方之正氣味（制方用藥附）</h3>
<p>東方甲風乙木，其氣溫，其味甘，在人以膽、肝應之。</p>
<p>南方丙熱丁火，其氣熱，其味辛，在人以心、小腸、三焦、包絡應之。</p>
<p>中央戊濕，其本氣平，其兼氣溫涼寒熱，在人以胃應之；己土，其本味醎，其兼味辛甘酸苦，在人以脾應之。</p>
<p>西方庚燥辛金，其氣涼，其味酸，在人以大腸、肺應之。</p>
<p>北方壬寒癸水，其氣寒，其味苦，在人以膀胱、腎應之。</p>
<p>人乃萬物中一也，獨陽不生，獨陰不長，須稟兩儀之氣而生化也。聖人垂世立教，不能渾說，必當分析。以至理而言，則陰陽相符不相離，其實一也，呼則因陽出，吸則隨陰入，天以陽生陰長，地以陽殺陰藏。此上說止明補瀉用藥。君之一也，故曰主病者為君。用藥之機會，要明輕清成象，重濁成形；本乎天者親上，本乎地者親下，則各從其類也。清中清者，清肺以助其天真；清中濁者，榮華腠理。濁中清者，榮養於神；濁中濁者，堅強骨髓。故《至真要大論》云：五味陰陽之用，辛甘發散為陽，酸苦湧泄為陰，淡味滲泄為陽，醎味湧泄為陰。六者或收、或散、或緩、或急、或燥、或潤、或軟、或堅，各以所利而行之，調其氣使之平也。帝曰：非調氣而得者，治之奈何？有毒無毒，何先何後，願聞其道。曰：有毒無毒，所治為主，適大小為制也云云。君一臣二制之小也，君一臣三佐五制之中也，君一臣三佐九制之大也。寒者熱之，熱者寒之，微者逆之，甚者從之，堅者削之，客者除之，勞者溫之，結者散之，留者行之，燥者潤之，急者緩之，散者收之，損者溫之，逸者行之，驚者平之，上之下之，摩之浴之，薄者劫之，開之發之，適事為故。各安其氣，必清必靜，則病氣衰去，歸其所宗，此治之本體也。帝曰：反治何謂？岐伯曰：熱因熱用，寒因寒用，塞用塞用，通因通用，必伏其所主，而先其所因，其始則同，其終則異，可使破積。可之今人目盲。</p>

<h3>藥象氣味主治法度</h3>
<p>豬苓（甘平），除濕，此諸淡滲藥大燥亡津液，無濕證勿服。</p>
<p>燈草、通草（甘平），通陰竅澀不利，利小水，除水腫癃閉，與琥珀同。</p>
<p>滑石（甘寒滑），治前陰竅澀不利，性沉重，能泄氣，上令下行，故曰滑則利竅，不可同淡滲諸藥用同。</p>
<p>葵菜（甘寒滑），能利大便、小便，目病人不可服，諸熱病後，服之令人目盲。</p>
<p>蒼朮（甘溫），主治與白朮同，若除上濕、發汗，功最大；若補中焦除濕，力小於白朮。</p>
<p>白芍藥（酸微寒），補中焦之藥，得炙甘草為輔，治腹中疼之聖藥也。如夏中熱腹疼，少加黃芩，其病立止。若病人春夏秋三時腹疼，亦少加黃芩。若惡寒腹疼，只少加肉桂一錢、白芍藥三錢、炙甘草一錢半，此三味為治寒腹疼，此仲景神品藥也。如深秋腹疼，更加桂二錢。如冬月大寒腹中冷痛，加桂作二錢半，水二盞煎服。</p>
<p>肉桂（大辛熱），補下焦熱火不足，治沉寒之病及自汗，春夏二時為禁藥也。</p>
<p>當歸（辛甘溫），能和血補血，用尾破血，身和血。先使溫水洗去土，酒製過，或焙或曬乾，方可用入藥，血病須用。</p>
<p>熟地黃（苦寒），酒灑久蒸如烏金，假酒力則微溫大補，血衰之人須用之藥，善黑鬂髮，大忌食蘿蔔。</p>
<p>生地黃（苦寒），涼血補血，補腎水真陰不足，此藥大寒，宜斟酌用之，多服恐損人胃氣。</p>
<p>川芎（辛溫），補血，治血虛頭痛之聖藥也。如妊娠婦人，胎動數月，加當歸，二味各一錢半或二錢，水煎服之，神驗。</p>
<p>橘皮（微苦溫），能益氣，加青皮減半，去氣滯，推陳致新。若補脾胃，不去白；若理胸中，補肺氣，去白用紅。</p>
<p>厚朴（辛溫，紫色厚者佳），能除腹脹，若元氣虛弱，雖腹脹宜斟酌用之。如寒服不可用多，是大熱藥中兼用，結者散之神藥，誤服脫元氣，切禁。</p>
<p>柴胡（微苦平），除虛勞寒熱，解肌熱，去早晨潮熱，此少陽、厥陰行經之藥也。婦人產前、產後，須用之藥。善除本經頭痛。若本經病，非他藥能止也。治心下痞、胸脅疼神藥也。</p>
<p>升麻（苦平微寒），此足陽明胃、足太陰脾行經藥也。若補其脾，非此藥為引用，行其本經，不能補此二經。并得蔥白、香白芷之類，亦能走手陽明、太陰，非此四經不可用也。能解肌肉間熱，此手、足陽明經傷風之的藥也。</p>
<p>葛根（甘平），治脾胃虛弱而渴，除胃熱，善解酒毒，通行足陽明經之藥。</p>
<p>枳殼（甘寒），治脾胃痞塞，泄肺氣。</p>
<p>檳榔（辛溫），治後重如神，性如鐵石之沉重，能墜諸藥至於下極。</p>
<p>槐實（微苦寒），利胸中氣，消膈上疾。</p>
<p>半夏（辛苦熱），治寒痰及形寒飲冷傷肺而咳，大和胃氣，除胃寒進食，治太陰經痰厥頭疼，非此藥不能除也。</p>
<p>天南星（苦平），治形寒飲冷傷肺，風寒痰嗽。</p>
<p>佛耳草（酸熱），治寒嗽及痰涎，除肺中寒，大升肺氣，少用款冬花為之使，過食損目。</p>
<p>草豆蔻（大辛熱），治風寒客於胃口，善去脾寒及客寒心疼、胃疼，如神。</p>
<p>益智仁（大辛熱），治脾胃中寒邪，和中益氣，治多唾，當於補中藥內兼用之，不可多服。</p>
<p>吳茱萸（辛苦大熱），治寒在咽嗌，噎塞胸膈不利。《經》言：膈咽不能，食不下，令人口開目瞪，寒邪所隔，氣不得上下。此病不已，令人寒中，腹滿䐜脹。下泄寒氣如神，諸藥不能代也。</p>
<p>牡丹皮（甘寒），治腸胃積血及衄血、吐血，必用之藥味也。</p>
<p>羌活（苦甘平微溫），治肢節疼痛為君，通利諸節如神，手、足太陽風藥也。加川芎治足太陽、少陰頭痛藥也。</p>
<p>獨活（苦甘平微溫），足少陰腎經行經藥也，若與細辛同用，治少陰經疼如神。一名獨搖草，得風不搖，無風自搖動。</p>
<p>防風（辛溫），療風通用，瀉肺實如神，散頭目中滯氣，除上焦風邪之仙藥也。誤服瀉人上焦元氣。</p>
<p>藁本（大辛溫），氣力雄壯，此太陽經風藥也，治寒邪結欎於本經，治頭疼腦痛，大寒犯腦痛，齒亦痛之藥。亦治風通用，氣力雄壯也。</p>
<p>細辛（大辛溫），治少陰頭疼如神，當少用之，獨活為使，為主用藥也。</p>
<p>蔓荊子（辛溫），大輕清，治太陽經頭疼、頭昏悶，除目暗，散風邪之藥也。若胃氣虛之人，不可服，恐生痰疾。</p>
<p>石膏（大寒甘辛），治足陽明經中熱，發熱、惡熱、燥熱、日晡潮熱，自汗，小便澀赤，大渴引飲，身體肌肉壯熱，苦頭痛之藥，白虎湯是也。善治本經頭痛。若無以上證，勿多服。多有脾胃虛勞形體病證，初得之時，與此有餘證同，醫者不識而誤與之，不可勝救也。</p>
<p>香白芷（大辛溫），治手陽明經頭疼，中風寒熱，解利之藥也。以四味升麻湯加之，通行手、足陽明經也。</p>
<p>黃蘗（大苦寒，又辛寒），治腎水膀胱不足，諸痿厥腳膝無力。於黃耆湯中少加用之，使兩足膝中氣力如湧出，痿即去矣。蜜炒為細末，治口瘡如神。癱瘓必用之藥也。</p>
<p>知母（大辛寒，又苦寒），瀉足陽明經火熱聖藥也，大寒益腎水膀胱，用之如神。</p>
<p>桃仁（辛甘潤），治大便血結、血秘、血燥，通潤大便。七宣丸中用專治血結，破血。</p>
<p>郁李仁（甘潤），治大便氣結燥澀滯不通。七聖丸中用專治氣燥。</p>
<p>大麻子仁（辛甘潤），治風燥大便不通。</p>
<p>皂角子仁（辛燥潤），其性得濕則滑，亦治風在腸中，為燥結不通。</p>
<p>杏仁（甘潤、辛潤），除肺中燥，治氣燥在胸膈。</p>
<p>白豆蔻仁（大辛溫），蕩散肺中滯氣。</p>
<p>縮砂仁（辛溫），治脾胃氣結滯不散。</p>
<p>木香（辛苦溫），除肺中滯氣，若療中下焦氣結滯，須用檳榔為使。</p>
<p>麥門冬（微苦寒），治肺中伏火，脈氣欲絕，加五味子、人參，三味同煎服，為之生脈散，補肺中元氣不足須用之藥。</p>
<p>黑附子（大辛熱），其性走而不守，亦能除胃中寒甚。以白朮為佐，謂之朮附湯，除寒濕之聖藥也。溫藥中少加之，通行諸經，引用藥也。治經閉。</p>
<p>川烏（大辛熱），療風痹、血痹、寒痹，半身不遂，行經藥也。</p>
<p>玄參（微苦寒），治足少陰腎經之君藥也，治本經須用。</p>
<p>山梔子（微苦寒），治心煩懊憹，欲眠而不得眠，心神顛倒欲絕，血滯小便不利。</p>
<p>威靈仙（苦溫），主諸風濕冷，宣通五臟，去腹內瘕滯，腰膝冷痛。</p>
<p>天麻（甘平），治風痰眩運頭痛。</p>
<p>薄荷葉（辛苦），療賊風、傷寒，發汗，主清利頭目，破血利關節，治中風失音，小兒風痰，新病差人不可服之，令虛汗不止。</p>
<p>秦艽（苦辛微溫），療風濕痹，寒熱邪氣，下利小水，治五種黃病，解酒毒。</p>
<p>黍粘子（辛平），主明目，補中除風，出癰疽瘡頭，治咽膈不利。</p>
<p>桔梗（辛苦微溫），治咽喉痛，利肺氣。</p>
<p>麻黃（苦微溫），若去節，發太陽、少陰經汗；不去節，止太陽、少陰經汗。</p>
<p>荊芥穗（辛溫），清利頭目。</p>
<p>乾薑（大辛熱），治沉寒痼冷，腎中無陽，脈氣欲絕，黑附子為使，多用水同煎二物，薑附湯是也。亦治中焦有寒。</p>
<p>蜀椒（辛溫大熱），主咳逆上氣，散風邪，溫中，明目，下乳汁。</p>
<p>茴香（辛平），主諸瘻，霍亂，治腳氣，補命門不足，并腎勞疝氣，止膀胱及陰痛，開胃下食，助陽道，理小腸氣。</p>
<p>丁香（辛溫），溫脾胃，止霍亂，消痃癖氣脹、反胃、腹內冷痛。</p>
<p>紅花（辛溫），主產後血運口噤，腹內惡血。</p>
<p>藿香（甘微溫），助脾胃，治嘔吐，療風水毒腫，去惡氣，霍亂心痛。</p>
<p>乾生薑（辛大溫），主傷寒頭痛，鼻塞上氣，止嘔吐，治痰嗽，與生者并相同。與半夏等分，主治心下急痛。</p>
<p>良薑（辛大熱），主暴冷，胃中冷逆，霍亂腹痛，解酒毒。</p>
<p>玄胡索（辛溫），主破血，止少腹痛，產後諸疾，婦人月事不調。</p>
<p>青皮（辛溫），主胸膈氣滯，下食破積。</p>
<p>蓬莪荗（苦辛溫），除積聚。</p>
<p>當歸（甘辛溫），主癥癖，破惡血，婦人產後惡物上衝，去諸瘡瘍，療金瘡惡血，溫中潤燥止痛。</p>
<p>阿膠（甘平微溫），主心腹痛，內崩，補虛安胎，堅筋骨，和血脈，益氣止痢。</p>
<p>訶黎勒（苦溫），主心腹脹滿，不下飲食，消痰下氣，通利津液，破胸膈結氣，治久痢，療腸風瀉血。</p>
<p>生甘草（甘微寒），補脾胃不足，能大瀉心火，須用之。</p>
<p>烏梅（酸溫），主下氣，除熱煩滿，安心調中，治痢止渴，以鹽為白梅，亦入除痰藥中用。</p>
<p>桑白皮（甘寒），主傷中，五勞六極，羸瘦，補虛益氣。</p>
<p>枳實（苦微寒），除寒熱，破結實，消痰癖，治心下痞，逆氣脅痛。</p>
<p>犀角（苦酸微寒），主傷寒溫病頭病，解大熱，散風毒，安心神，止煩悶，鎮肝消痰明目，治中風失音，小兒麩豆，風熱驚癇。</p>
<p>京三稜（苦平），主老癖痛，癥瘕結塊，婦人血脈不調，心腹刺痛，破瘀血，消氣脹。</p>
<p>木通（甘平），主小便不利，導小腸中熱。</p>
<p>茵陳蒿（苦平微寒），治風濕熱邪結於內。</p>
<p>地榆（苦甘酸微寒），治月經不止。小兒疳痢，療諸瘡，止膿血。《衍義》云性沉寒，入下焦，治血熱痢疾。</p>
<p>香豉（苦寒），主傷寒頭痛、寒熱，脾氣煩躁滿悶。</p>
<p>連翹（苦寒），治寒熱、鼠瘻、瘰癧、癰疽，諸惡瘡腫瘤，結熱蟲毒，去白蟲，主通利五淋，除心臟客熱，排膿止痛。</p>
<p>地骨皮（苦寒），根大寒，子微寒，治表有風熱實邪，自汗。</p>
<p>牡蠣（酸平微寒），主傷寒寒熱，溫瘧，女子帶下赤白，止汗，止心痛氣結，澀大小腸，治心脅痞。</p>

<h3>七方（大、小、緩、急、奇、偶、複）</h3>
<p>大，君一臣三佐九制之大也。又云：遠而奇偶，制其大服也，大則數少，少則二之（腎肝位遠，服湯散，不厭頻而多）。</p>
<p>小，君一臣二制之小也。又云：近而奇偶，制其小服也，小則數多，多則九之（心肺位近，服湯散，不惡頻而多）。</p>
<p>緩，補上治上，制以緩，緩則氣味薄。又云：治主以緩，緩則治其本。</p>
<p>急，補下治下，制以急，急則氣味厚。又云：治客以急，急則治其標。</p>
<p>奇，君一臣二奇之制也。又云：君二臣三奇之制也，陽數奇。</p>
<p>偶，君二臣四偶之制也。又云：君二臣六偶之制也，陰數偶。</p>
<p>複，奇之不去則偶之，是為重方也。</p>
<p>七方乃互為體用。</p>

<h3>十劑（宣、通、補、泄、輕、重、滑、澀、燥、濕）</h3>
<p>宣，可以去壅，薑、橘之屬是也。通，可以去滯，木通、防己之屬是也。補，可以去弱，人參、羊肉之屬是也。泄，可以去閉，葶藶、大黃之屬是也。輕，可以去實，麻黃、葛根之屬是也。重，可以去怯，磁石、鐵漿之屬是也。滑，可以去著，冬葵子、榆白皮之屬是也。澀，可以去脫，牡蠣、龍骨之屬是也。燥，可以去濕，桑白皮、赤小豆之屬是也。濕，可以去枯，白石英、紫石英之屬是也。</p>
<p>只如此體皆有所屬，所用藥者，審而詳之，則靡所失矣。陶隱居云：藥有宣、通、補、泄、輕、重、滑、澀、燥、濕。此十種詳之，惟寒、熱二種何獨見遺，如：寒，可以去熱，大黃、朴硝之屬是也。熱，可以去寒，附子、官桂之屬是也。今特補此二種，以盡厥旨。</p>

<h3>察病輕重</h3>
<p>凡欲療病，先察其源，先候病機。五臟本虛，六腑未竭，血脈未亂，精神未散，服藥必活；若病已成，可得半愈；病勢已過，命將難全。自非明醫，聽聲察色，至於診脈，孰能知未病之病乎！</p>

<h2>飲食勞倦門</h2>

<h3>飲食所傷論</h3>
<p>《陰陽應象論》云：水穀之寒熱，感則害人六腑。《痹論》云：陰氣者，靜則神藏，躁則消亡，飲食自倍，腸胃乃傷。此乃混言之也。分之為二，飲也、食也。飲者水也，無形之氣也。因而大飲則氣逆，形寒飲冷則傷肺，病則為喘咳、為腫滿、為水瀉，輕則當發汗、利小便，使上下分消其濕，解酲湯、五苓散，生薑、半夏、枳實、白朮之類是也；如重而蓄積為滿者，芫花、大戟、甘遂、牽牛之屬利下之，此其治也。食者物也，有形之血也，如《生氣通天論》云：因飽而食，筋脈橫解，腸澼為痔，或嘔吐，或痞滿，或下利腸澼，當分寒熱輕重而治之。輕則內消，重則除下。如傷寒物者，半夏、神麹、乾薑、三稜、廣朮、巴豆之類主之；如傷熱物者，枳實、白朮、青皮、陳皮、麥蘗、黃連、大黃之類主之。亦有宜吐者，《陰陽應象論》云，在上者，因而越之，瓜蒂散主之。然而不可過劑，過劑則反傷腸胃。蓋先因飲食自傷，又加之以藥過，故腸胃復傷，而氣不能化，食愈難消矣。漸至羸困，故《五常政大論》云：大毒治病十去其六，小毒治病十去其七，凡毒治病不可過之，此聖人之深戒也。</p>

<h3>勞倦所傷論</h3>
<p>《調經篇》云：陰虛生內熱。岐伯云：有所勞倦，形氣衰少，穀氣不盛，上焦不行，下脘不通，而胃氣熱，熱氣熏胸中，故內熱。《舉痛論》云：勞則氣耗。勞則喘且汗出，內外皆越，故氣耗矣。夫喜怒不節，起居不時，有所勞倦，皆損其氣，氣衰則火旺，火旺則乘其脾土；脾主四肢，故困倦無氣以動，懶於語言，動作喘乏，表熱自汗，心煩不安。當病之時，宜安心靜坐，以養其氣；以甘寒瀉其火熱，以酸味收其散氣，以甘溫補其中氣。《經》言勞者溫之，損者溫之者是也。《金匱要略》云，平人脈大為勞，脈極虛亦為勞者矣。夫勞之為病，其脈浮大，手足煩熱，春夏劇，秋冬差（脈大者熱邪也，極虛者氣損也。春夏劇者，時助邪也；秋冬差者，時勝邪也）。以黃耆建中湯治之，此亦溫之之意也。夫上古聖人，飲食有節，起居有常，不妄作勞，形與神倶，百歲乃去，此謂治未病也。今時之人，去聖人久遠，則不然，飲食失節，起居失宜，妄作勞役，形氣俱傷，故病而後藥之，是治其已病也。推其百病之源，皆因飲食勞倦，而胃氣、元氣散解，不能滋榮百脈，灌溉臟腑，衛護周身之所致也。故蒼天之氣貴清靜，陽氣惡煩勞。噫，飲食喜怒之間，寒暑起居之時，可不慎歟！</p>
<p>調中益氣湯　治因飢飽勞役，損傷脾胃，元氣不足，其脈弦或洪緩而沉，按之無力，中之下時得一澀，其證身體沉重，四肢倦懶，百節煩疼，胸滿短氣，膈咽不通，心煩不安，耳鳴耳聾，目有瘀肉，熱壅如火，視物昏花，口中沃沫，飲食失味，怠惰嗜臥，忽肥忽瘦，溺色變或清利而數，或上飲下便，或夏月飧泄，腹中虛痛，不思飲食。</p>
<p>黃耆（一錢）　人參（去蘆，半錢）　炙甘草（半錢）　陳皮（二分）　五味子（七個）　芍藥（三分）　白朮（三分）　當歸（五分）　升麻（二分）　柴胡（二分）</p>
<p>《內經》云，勞則氣耗，熱則傷氣，以黃耆、甘草之甘瀉其熱邪為主，以白芍藥、五味子之酸能收耗散之氣；又《經》云，勞者溫之，損者溫之，以人參甘溫補氣不足，當歸辛溫補血不足為臣；以白朮、陳皮苦甘溫除胃中客熱，以養胃氣為佐；升麻、柴胡苦平，味之薄者，陰中之陽，為脾胃之氣下溜，上氣不足，故從陰引陽以補之，又行陽明、少陽二經為使也。</p>
<p>上件㕮咀，作一服，水二盞，煎至一盞，去滓，溫，食前服，所謂病在四肢血脈，空腹而在旦者也。如時顯躁熱，是下元陰火蒸蒸然發也，加生地黃二分；如無變證勿加，下皆仿此。</p>
<p>如大便虛坐不得，或大便了而不了，腹中常逼迫，皆血虛、血澀也。</p>
<p>如咳嗽，加五味子一十粒；腹中氣不轉運者，更加陳皮三分、木香二分；身體沉重，雖小便數多，加茯苓二錢、蒼朮一錢、澤瀉半錢、黃蘗三分，是從權而去濕也，不可常用。兼足太陰已病，其脈亦終於心中，故濕熱相合而生煩亂也。</p>
<p>如胃氣不和，加湯洗薑製半夏五分。痰厥頭疼，非半夏不能除，亦宜加之。此足太陰脾經之邪所作也。</p>
<p>如夏月，須加白芍藥三分，以補肺氣不足。</p>
<p>如春、夏腹疼，尤宜加芍藥；惡熱燥渴而腹疼者，更加白芍藥半錢、生黃芩二分；惡寒腹疼，加中桂二錢，去黃芩，謂之桂枝芍藥湯。</p>
<p>如冬月腹疼，不可用芍藥，以太寒故也；只加乾薑二分，或加半夏四分（薑製）。</p>
<p>如秋、冬胃脈四道，為衝脈所逆，并脅下少陽脈二道而反上行，病名曰厥逆，其證氣上行而喘促，息有音而不得臥，用吳茱萸半錢或一錢，湯洗去苦，觀厥氣多少而用之。此病隨四時為寒溫涼熱。如夏月有此證，為大熱也，宜以下三味為丸治之：</p>
<p>黃連（酒拌濕，焙乾）　黃蘗（酒製）　知母（酒製）</p>
<p>上件為細末，熟水為丸，如梧子大，每服一百丸，空心，多飲熱湯送下，不令胃中停蓄，恐犯胃氣。服畢少時，便以美膳壓之，使速至下元，以瀉衝脈之邪也。</p>
<p>大體治飲食勞倦所得之病，乃七損證也，宜以溫平甘多辛少之藥治之。《內經》云，勞者溫之，損者溫之，是其常治也。如四時見寒熱病，或酒過多，或食辛熱之物而作病，或居大寒大熱處而益其病，或食冰水大寒物而作病，皆當臨時制宜，加大寒、大熱之藥，以權治之，不可以為得效而常用之。蓋為形氣不足，隨其助而便發也。故《黃帝針經》有云：從下上者引而去之，上氣不足推而揚之。（上氣者，心肺也，上焦元氣也。陽病有陰，宜從陰引陽也。）故以入腎肝下焦之藥，引入甘多辛少之味，升發陽氣而得上行，以補心肺上焦元氣，使飲食入胃，脾精之氣自然上行陽道，輸精於皮毛、經絡。欲使真氣上行，先實其心肺，又從而去邪於腠理、皮毛。故《經》云；視前痛者，常先取之，以繆刺瀉營氣之壅；其經絡而痛者為血凝而不流，故先去之，而後治其他病也。</p>
<p>寬中進食丸</p>
<p>草豆蔻仁（五錢）　縮砂仁（一錢半）　半夏麹（七錢）　麥蘗麹（炒黃，一兩）　枳實（四錢，麩炒）　神麹（炒黃，五錢）　炙甘草（一錢半）　乾生薑（一錢）　陳皮（三錢）　木香（半錢）　白朮（二錢）　白茯苓（二錢）　豬苓（去黑皮，一錢）　澤瀉（二錢）　人參（一錢）　青皮（一錢）</p>
<p>上件為末，湯浸蒸餅為丸，如梧桐子大，每服三十丸，溫水送下，食前。</p>
<p>和中丸　補胃進食。</p>
<p>乾薑（三錢）　乾生木瓜（三錢）　炙甘草（二錢）　陳皮（四錢）　人參（二錢）　白朮（三錢）　益智仁（二錢）</p>
<p>上件為末，用湯浸蒸餅，丸如梧桐子大，每服三五十丸，溫水食前下。</p>

<h3>論酒客病（并治法）</h3>
<p>論酒大熱有毒，氣味俱陽，乃無形之物也。若傷之，則止當發散，汗出即愈矣，此最妙法也。其次莫如利小便。二者乃上下分消其濕，何酒病之有？今之酒病者，往往服酒癥丸大熱之藥下之，又用牽牛、大黃下之，是無形元氣受病，反下有形陰血，乖誤甚矣。酒性大熱，已傷元氣，而復重瀉之，況亦損腎水真陰，及有形陰血俱為不足。如此則陰血愈虛，真水愈弱，陽毒之熱大旺，反增其陰火，是謂元氣消亡，其神何依，折人長命；雖不然，則虛損之病成矣。《金匱要略》云，酒疸下之，久久為黑疸，慎不可犯此，誠不若令上下分消其濕，當以葛花解酲湯主之。</p>
<p>葛花解酲湯</p>
<p>白豆蔻（半兩）　砂仁（半兩）　乾生薑（二錢）　葛花（半兩）　白茯苓（一錢半）木香（半錢）　陳皮（去白，一錢半）　青皮（去白，三錢）　豬苓（去黑皮，一錢半）　人參（去蘆，一錢半）　白朮（二錢）　澤瀉（二錢）　神麹（炒黃，二錢）</p>
<p>上為極細末，秤，和勻，每服二錢匕，白湯調下，但得微汗，酒病去矣。此蓋不得已而用，豈可恃賴，日月飲酒。此方氣味辛辣，偶因酒病服之，則不能損元氣，何者？敵酒病故也。勿頻服之，損人天年。</p>
<p>半夏枳朮丸　治傷冷物，心腹痞滿，嘔噦不止。</p>
<p>半夏（一兩，湯洗七次）　枳實（麩炒，一兩）　乾生薑（一兩）　白朮（二兩）</p>
<p>上件為末，荷葉燒飯為丸，如梧桐子大，每服五十丸，溫水下，食後。</p>
<p>木香枳朮丸　破寒滯氣，消寒飲食，開胃進食。</p>
<p>木香（一兩半）　枳實（一兩）　白朮（二兩）　乾薑（三錢）　陳皮（一兩）　炒麹（一錢）　人參（三錢）</p>
<p>上為末，荷葉燒飯為丸，如梧子大，每服五十丸，溫水送下，食前。</p>
<p>三稜消積丸　治傷生冷硬物，不能消化，心腹滿悶不快。</p>
<p>京三稜（炮）　廣荗（炮，各七錢）　青皮（五錢）　陳皮（五錢）　丁皮　益智（各三錢）　炒麹（七錢）　巴豆（和皮，米炒黑焦，去米，三錢）</p>
<p>上件為末，醋糊丸，每服十五至二十丸，溫薑湯食前下，量虛實加減。如大便利，止後服。《內外傷辨》用茴香五錢。</p>
<p>橘皮枳朮丸　治老幼元氣虛弱，飲食不消，臟腑不調，心下痞滿不快。</p>
<p>陳皮（二兩）　枳實（麩炒，一兩）　白朮（一兩）</p>
<p>上件為末，荷葉燒飯為丸，每服五十丸，食後溫水下。</p>
<p>木香檳榔丸　消食破滯氣。</p>
<p>木香　檳榔（各三錢）　青皮　陳皮（各五錢）　麥蘗𬹃　枳實（各七錢）　白朮（五錢）　厚朴（五錢）</p>
<p>上件為末，湯浸蒸餅為丸，如梧子大，每服五七十丸，溫水食後下。</p>
<p>枳實導滯丸　治傷濕熱之物，不得施化，而作痞病，悶亂不安。</p>
<p>枳實（炒，去穰，五錢）　黃芩　黃連（去須，各五錢）　茯苓（去皮）　澤瀉（各二錢）　白朮　炒麹（各五錢）　大黃（一兩）</p>
<p>上件為末，湯浸蒸餅為丸，如梧子大，每服五十丸至七八十丸，食遠，溫水送下，量虛實加減，更衣止後服。</p>
<p>若有宿食而煩者，仲景以梔子大黃湯主之。氣口三盛，則食傷太陰，填塞悶亂，極則心胃大疼，兀兀欲吐，得吐則已，俗呼食迷風是也。《經》云，上部有脈，下部無脈，其人當吐，不吐者死，宜瓜蒂散之類吐之。《經》云，其髙者，因而越之，此之謂也。</p>
<p>苽蒂散</p>
<p>苽蒂（三錢）　赤小豆（三錢）</p>
<p>上為末，每服一錢匕，溫水半小盞調下，以吐為度。如食傷之太重者，備急丸主之，皆急劑也。《經》云，其下者，引而竭之，此之謂也，一名獨行丸。</p>
<p>東垣老人解云：盛食填塞於胸中，為之窒塞，兩寸脈當主事，反兩尺脈不見，其理安在？胸中有食，故以吐出之。食者物之形，物者坤土也，是足太陰之號也。胸中者肺也，為物所填。肺者，手太陰金也。金主殺伐也，與坤土俱在於上，而王於天。金能尅木，故肝木生發之氣伏於地下，此謂之木欎也。吐去上焦陰土之物，木得舒暢，則欎結去矣。食塞於上，脈絕於下，若不明天地之道，無由達此至理。水火者，陰陽之徵兆，天地之別名也。故曰獨陽不生，獨陰不長。天地之用在於地下，則萬物生長矣；地之用在於天，則萬物收藏矣。此乃天地交而萬物通也。此天地相根之道也，故陽火之根本於地下，陰水之源本於天上。故曰水出髙源。故人五臟主有形之物，物者陰也，陰水也。右三部脈主之，偏見於寸口，食塞其上，是絕五臟之源，源絕則水不流，兩尺竭絕，此其理也。</p>
<p>交泰丸　升陽氣，瀉陰火，調榮氣，進飲食，助精神，寬腹中，除怠惰嗜臥，四肢不收，沉困懶倦。</p>
<p>知母（四錢，半炒、半酒製，春夏用，秋冬去之）　黃連（去須，七錢，秋冬減一錢半）厚朴（去皮，炒，三錢，秋冬加七錢）　小椒（炒去汗，并閉目、子、枝，一錢半）　川烏頭（炒，去皮，四錢半）　吳茱萸（湯洗七次，五錢）　巴豆霜（五分）　苦楝（酒煮，三錢）　人參（去蘆，一錢）　砂仁（三錢）　柴胡（一錢半）　肉桂（去皮，一錢）　白茯苓（去皮，三錢）　皂角（水洗，煨去皮弦子，六錢）　紫菀（去苗，六錢）　乾薑（炮製，三分）　白朮（一錢半）</p>
<p>上件，除巴豆霜另研，餘藥同為細末，煉蜜為丸，如梧桐子大，每服三五十丸，溫水送下，食前。</p>

<h3>內傷宜禁</h3>
<p>內傷者，戊火已衰，不能制物，寒藥太多固非所宜，加以溫劑似為當矣。然有熱物傷者，當從權以寒藥治之，隨時之宜，不可不知也。凡小兒內傷，尤不用快利食藥及牽牛瀉水之藥。蓋內中多有出癍疹者，癍疹者火之屬，大禁利小便損津液。津液損則血不生，瘡家亦然，戒之，戒之。</p>

<h2>煩躁發熱門</h2>

<h3>煩躁發熱論</h3>
<p>《黃帝針經·五亂篇》云：氣亂於心則煩，心密嘿俯首靜伏云云。氣在於心者，取手少陰心主之。咳嗽煩冤者，是腎氣之逆也。煩冤者，取足少陰。又云：煩冤者，取足太陰。仲景分之為二：煩也，躁也。蓋火入於肺為煩，入於腎為躁。躁煩俱在於上。腎子通於肺母，大抵煩躁者，皆心火為之。心者，君火也。火旺則金鑠水虧，惟火獨存，故肺腎合而為煩躁焉。又脾經絡於心中，心經起於脾中，二經相接，由熱生煩。夫煩者，擾擾心亂，兀兀欲吐，怔忡不安；躁者，無時而熱，冷汗自出，少時則止。《經》言陰躁者是也。仲景以梔子色赤而味苦入心，而治煩；以鹽豉色黑而味醎，入腎而治躁，名梔子鹽豉湯，乃神品之藥也。若有宿食而煩者，梔子大黃湯主之。又有虛熱、實熱、火欎而熱者，如不能食而熱，自汗氣短者虛也，以甘寒之劑瀉熱補氣。《經》言治熱以寒，溫而行之也。如能食而熱，口舌乾燥，大便難者，以辛苦大寒之劑下之，瀉熱補水。《經》云，陽盛陰虛，下之則愈。如陰覆其陽，火熱不得伸，宜汗之。《經》云，體若燔炭，汗出而散者是也。凡治熱者，當細分之，不可概論。</p>
<p>朱砂安神丸　治心中煩亂，怔忡，兀兀欲吐，胸中氣亂而熱，有如懊憹之狀，皆膈上血中伏火蒸蒸而不安，宜用權衡法，以鎮陰火之浮行，以養上焦元氣。</p>
<p>朱砂（五錢，另研，水飛，陰乾，秤）　黃連（去須，揀淨，酒製，秤，六錢）　炙甘草（五錢五分）　生地黃（二錢五分）　當歸（去蘆，二錢五分）</p>
<p>《內經》云，熱淫所勝，治以甘寒，以苦瀉之，以黃連之苦寒，去心煩，除濕熱為君；以甘草、生地黃之甘寒，瀉火補氣，滋生陰血為臣；以當歸補血不足，朱砂納浮溜之火而安神明也。</p>
<p>上四味為細末，另研朱砂，水飛如塵，陰乾為衣，湯浸蒸餅為丸，如黍米大，每服十五丸，津唾嚥下，食後。</p>
<p>黃連安神丸　治心煩懊憹，反覆心亂，怔忡，上熱，胸中氣亂，心下痞悶，食入反出。</p>
<p>朱砂（四錢）　黃連（五錢）　生甘草（二錢半）</p>
<p>上為細末，湯浸蒸餅丸如黍米大，每服一十丸，食後，時時津唾嚥下。《內經》云：心肺位近，故近而奇偶，制其小服，此緩治之理也。</p>
<p>當歸補血湯　治肌熱，躁熱，目赤面紅，煩渴引飲，晝夜不息，其脈浮大而虛，重按全無，《通評虛實論》云：脈虛血虛，脈實血實。又云：血虛發熱，證象白虎，唯脈不長實為辨也。若誤服白虎湯必死。此病得之飢困勞役。</p>
<p>黃耆（一兩）　當歸（二錢，酒製）</p>
<p>上㕮咀，都作一服，水二盞，煎至一盞，去滓，稍熱服之，空心食前。</p>
<p>柴胡升麻湯　治男子、婦人四肢發困熱，筋骨熱，表熱，如火燎於肌膚，捫之烙人手。夫四肢者，屬脾；脾者，土也。熱伏地中，此病多因血虛而得之也。又有胃虛過食冷物，欎遏陽氣於脾土之中，并宜服之。</p>
<p>羌活　升麻　葛根　白芍藥　人參　獨活（以上各五錢）　柴胡（三錢）　甘草（炙，三錢）　防風（二錢半）　生甘草（二錢）</p>
<p>上件㕮咀，如麻豆大，每服五錢，水三盞，煎至一盞，去滓，溫服，忌寒冷之物。</p>
<p>火欎湯　治五心煩熱，是火欎於地中。四肢者，脾土也。心火下陷於土之中，欎而不得伸。故《經》云：欎則發之。</p>
<p>升麻　柴胡　葛根　白芍藥（以上各一兩）　防風　甘草（以上各五錢）</p>
<p>上㕮咀，每服五錢，水二大盞，入連須蔥白三寸，煎至一盞，去滓，稍熱，不拘時服。</p>

<h1>卷二</h1>

<h2>心下痞門</h2>

<h3>心下痞論</h3>
<p>《五常政大論》云，土平曰備化，備化之紀，其養肉，其病痞，陰所至為積飲痞隔。夫痞者，心下滿而不痛者是也。太陰者，濕土也。主壅塞，乃土來心下為痞滿也。傷寒下之太早亦為痞，乃因寒傷其榮。榮者，血也。心主血，邪入於本故為心下痞。仲景立瀉心湯數方，皆用黃連以瀉心下之土邪，其效如響應桴。故《活人書》云：審知是痞，先用桔梗枳殼湯，非用此專治痞也。蓋因見錯下必成痞證，是邪氣將陷，而欲過胸中，故先用以截散其邪氣，使不至於痞。先之一字，預用之意也。若已成痞而用之，則失之晚矣。不惟不能消痞，而反傷胸中至髙之正氣，則當以仲景痞藥治之。《經》云：察其邪氣所在而調之，正謂此也，非止傷寒如此。至於酒積雜病下之太過，亦作痞滿。蓋下多則亡陰，亡陰者，謂脾胃水穀之陰亡也。故胸中之氣，因虛而下陷於心之分野，故致心下痞。宜升胃氣，以血藥治之。若全用氣藥導之，則其痞益甚，甚而復下，氣愈下降，必變為中滿、鼓脹，皆非其治也。又有虛實之殊，如實痞，大便秘，厚朴、枳實主之；虛痞，大便利者，芍藥、陳皮治之。如飲食所傷而為痞滿者，常內消導。其胸中窒塞上逆，兀兀欲吐者，則宜吐之，所謂在上者，因而越之也。凡治痞者，宜詳審焉。</p>
<p>大消痞丸　治一切心下痞悶及積，年久不愈者。</p>
<p>黃連（去須，炒，六錢）　黃芩（六錢）　薑黃　白朮（各一兩）　人參（二錢）　炙甘草（一錢）　縮砂仁（一錢）　枳實（麩炒黃色，五錢）　半夏（湯泡，四錢）　乾生薑（一錢）　橘皮（二錢）　炒麹（一錢）　一方澤瀉（二錢）　厚朴（三錢）　豬苓（一錢半）</p>
<p>上件為細末，湯浸蒸餅為丸，如桐子大，每服五十丸至七十丸，白湯食後下。</p>
<p>枳實消痞丸　治心下虛痞，惡食懶倦，開胃進食。</p>
<p>枳實　黃連（各五錢）　乾生薑（一錢）　半夏麹（三錢）　厚朴（炙，四錢）　人參（三錢）　炙甘草（二錢）　白朮（二錢）　白茯苓（二錢）　麥蘗𬹃（二錢）</p>
<p>上件為細末，湯浸蒸餅為丸，如桐子大，每服三十丸，溫水送下，不拘時候，量虛實加減。</p>
<p>黃連消痞丸　治心下痞滿，壅滯不散，煩熱喘促不安。</p>
<p>黃連（去須炒，一兩）　枳實（炒，七錢）　橘皮（五錢）　乾生薑（二錢）　半夏（九錢）　黃芩（炒黃色，二兩）　茯苓（三錢）　白朮（三錢）　炙甘草（三錢）　薑黃（一錢）　澤瀉（一錢）　豬苓（去皮，半兩）</p>
<p>上件為細末，湯浸蒸餅為丸，如桐子大，每服五十丸，溫水送下，食遠。</p>
<p>木香化滯湯　治因憂氣結中脘，腹皮裏徹痛，心下痞滿，不思飲食，食之不散，常常痞氣。</p>
<p>柴胡（四錢）　橘皮（三錢）　甘草（炙，三錢）　半夏（一兩）　生薑（二錢）　當歸尾（二錢）　草豆蔻仁（五錢）　益智（三錢）　紅花（半錢）　枳實（麩皮炒，二錢）</p>
<p>上件㕮咀，如麻豆大，每服五錢，水二盞煎至一盞，去滓，大溫服，食遠，忌酒濕𬹃。</p>
<p>人參順氣飲子　治心下痞，胸中不利。</p>
<p>苦葶藶（酒浸炒）　人參（各三錢）　甘草（炙）　羌活　柴胡　獨活（各三錢）　黃芩（三錢，半炒，半酒製）　縮砂仁　白豆蔻仁　茵陳（酒製炒，各一錢）　乾葛（一錢）　青皮　石膏　厚朴（炒）　半夏（洗，各半錢）　當歸（七分）</p>
<p>上件同為細末，湯浸蒸餅為丸，和勻，篩子內擦如米大，每服一二錢，臨臥少用白湯送下。</p>
<p>小黃丸　化痰止涎，除濕和胃，治胸中不利。</p>
<p>黃芩（一兩）　乾薑（一錢半）　白朮（五錢）　半夏（五錢，湯洗，薑製）　澤瀉（二錢）　黃耆（三錢）　陳皮（去白，三錢）　青皮（三錢，去白）</p>
<p>上為細末，湯浸蒸餅為丸，如綠豆大，每服三十至五十丸，溫水送下，食遠。</p>
<p>黃芩利膈丸　除胸中熱，利膈上痰。</p>
<p>生黃芩　炒黃芩（各一兩）　南星（三錢）　半夏（半兩）　黃連（五錢）　枳殼（三錢）　白朮（二錢）　陳皮（三錢）　澤瀉（五錢）　白礬（半錢）</p>
<p>上件為細末，湯浸蒸餅為丸，如桐子大，每服三十丸至五十丸，溫水送下，食遠，忌酒濕𬹃。</p>
<p>通氣防風湯　清利頭目，寬快胸膈。夫胸中若不利者，悉出於表。</p>
<p>黃耆（三錢）　甘草（炙，四錢）　人參（五錢）　葛根（一錢半）　防風（一錢）　蔓荊子（半錢）</p>
<p>上件㕮咀，如麻豆大，分作二服，每服水一盞半，煎至一盞，去滓，臨臥溫服，以夾衣服覆面目，勿語，須臾汗出為效，必至服藥三四日少語，如服藥畢，亦少語言一日，極效。</p>

<h2>中滿腹脹門</h2>

<h3>中滿腹脹論</h3>
<p>《六元正紀大論》云，太陰所至為中滿云云，太陰所至為蓄滿云云，諸濕腫滿皆屬脾土。論云脾乃陰中之太陰，同濕土之化，脾濕有餘，腹滿食不化。天為陽、為熱，主運化也；地為陰、為濕，主長養也。無陽則陰不能生化，故云臟寒生滿病。《調經篇》云，因飲食勞倦，損傷脾胃，始受熱中，末傳寒中，皆由脾胃之氣虛弱，不能運化精微，而致水穀聚而不散，而成脹滿。《經》云，腹滿䐜脹，支膈胠脅，下厥上冒，過在太陰、陽明，乃寒濕欎遏也。《脈經》所謂胃中寒則脹滿者是也。《針經》三卷雜病第八。腹滿，大便不利，上走胸溢咽，息喝喝然，取足少陰。又云：脹取三陽。三陽者，足太陽寒水為脹，與《通評虛實論》說，腹暴滿，按之不下，取太陽經絡胃之募也正同。取者，瀉也。《經》云，經滿者，瀉之於內者是也。宜以辛熱散之，以苦瀉之，淡滲利之，使上下分消其濕。正如開鬼門、潔淨府，溫衣繆刺其處，是先瀉其血絡，後調其真經，氣血平，陽布神清，此治之正也。或曰：諸腹脹大，皆屬於熱者，何也？此乃病機總辭，假令外傷風寒有餘之邪，自表傳裏，寒變為熱，而作胃實腹滿，仲景以大承氣湯治之；亦有膏粱之人，濕熱欎於內而成脹滿者，此熱脹之謂也。大抵寒脹多而熱脹少，治之者宜詳辨治。</p>
<p>中滿分消丸　治中滿熱脹，鼓脹氣脹。</p>
<p>黃芩（刮黃色，銼炒，半兩或一兩，一方夏用一兩）　黃連（去須，揀淨，銼炒，一兩）薑黃　白朮　人參　甘草　豬苓（去皮，各一兩）　茯苓（去皮）　縮砂仁（各三錢）　枳實（炒黃色，五錢）　半夏（洗七次，五錢）　厚朴（薑製，一兩）　乾生薑　知母（銼炒，各四錢）　澤瀉（三錢）　陳皮（三錢）</p>
<p>上件，除茯苓、澤瀉、生薑各另為末外，共為細末，調和，白湯浸蒸餅為丸，如桐子大，每服一百丸，焙熱，以熟白湯下，食遠服，量病大小加減。</p>
<p>中滿分消湯　治中滿寒脹，寒疝大小便不通，陰躁足不收，四肢厥逆，食入反出，下虛中滿，腹中寒，心下痞，下焦躁寒，沉厥，奔豚不收。</p>
<p>黃耆（五分）　黃蘗（二分）　草豆蔻　吳茱萸　厚朴（各五分）　木香（二分）　益智（三分）　半夏（三分）　人參　柴胡（各二分）　茯苓（三分）　澤瀉　黃連（各二分）麻黃（不去節，二分）　蓽澄茄（二分）　川烏頭　當歸（各二分）　青皮（二分）　生薑（二錢）　乾薑（二分）　升麻（三分）</p>
<p>上件銼，如麻豆大，旋秤，都作一服，水二盞，煎至一盞，去滓，稍熱服，食前，大忌房勞飲酒，濕𬹃冷物。</p>
<p>廣荗潰堅湯　治中滿腹脹，內有積塊，堅硬如石，其形如杯大，令人坐臥不能，大小便澀滯，止喘氣促，面色痿黃，通身虛腫。</p>
<p>厚朴（薑製）　當歸尾　草豆蔻仁（煨）　黃芩（去皮）　益智仁（各半錢）　黃連　生甘草　廣荗（煨）　柴胡（去蘆）　麹（炒）　澤瀉（各三分）　升麻　吳茱萸（湯泡）　青皮（去穰）　陳皮（各二分）　紅花（一分）　半夏（七分。如虛渴，加葛根二分。）</p>
<p>上件㕮咀，如麻豆大，都作一服，水二盞，先浸藥少時，煎至一盞，去滓，稍熱服，忌酒濕𬹃，二服之後，中滿減半，止有積塊未潰，再服半夏厚朴湯。</p>
<p>半夏厚朴湯</p>
<p>厚朴（八分）　半夏（一錢）　吳茱萸（一分）　肉桂（三分）　桃仁（七個）　紅花（半分）　蘇木（半分）　京三稜（四分）　草豆蔻　蒼朮　白茯（各三分）　澤瀉（三分）　豬苓（四分）　乾生薑（一分）　升麻（四分）　柴胡（三分）　木香（二分）　青皮（二分）　橘皮（三分）　生黃芩（三分）　黃連（一分）　生甘草（三分）　昆布（少許）　炒麹（六分）　當歸尾（四分）　如渴，加葛根三分。</p>
<p>上件銼，如麻豆大，旋秤，都作一服，水先拌藥，次用水三盞，煎至一盞，去渣，稍熱服之，忌如前。服此藥二服之後，前證又減一半，卻於前藥中加減服之。</p>
<p>木香化滯散　破滯氣，治心腹滿悶。</p>
<p>白豆蔻　橘皮　桔梗　大腹子　白茯苓（去皮，各半錢）　縮砂仁　人參　青皮　檳榔　木香　薑黃（各二錢）　白朮（二錢）　炙甘草（四分）　白檀（五分）　藿香（五分）</p>
<p>上件為細末，每服三錢，水一盞半，煎至一盞，稍熱服，沸湯點服亦得，食前，忌生冷硬物。</p>

<h2>五積門</h2>

<h3>五積論</h3>
<p>《黃帝針經•百病始生第二》云，其成積者，蓋厥氣生足悗，悗生脛寒，脛寒則血脈凝澀，凝澀則寒氣上入於腸胃，入於腸胃則䐜脹，䐜脹則腸外之汁沫迫聚不得散，日以成積。卒然多飲食，則腸滿，起居不節，用力過度，則脈絡傷，陽絡傷則血外溢，血外溢則衄血；陰絡傷則血內溢，血內溢則後血；腸胃之絡傷，則血溢於腸外，有寒汁沫與血相搏，則并和凝聚不得散而成積矣。或外中於寒，內傷於憂怒，則氣上逆，氣上逆則六輸不通，溫氣不行，凝血蘊裹不散，津液凝澀，著而不去，而成積矣。又曰，生於陰者，蓋憂思傷心；重寒傷肺；忿怒傷肝；醉以入房，汗出當風傷脾；用力過度，若入房汗出浴，則傷腎。此內外三部之所生病者也。故《難經》中說，五積各有其名，如肝之積名曰肥氣，在左脅下，如覆杯，臍左有動氣，按之牢，若痛者是也，無者非也。餘積皆然。治之當察其所痛，以知其應，有餘不足，可補則補，可瀉則瀉，無逆天時，詳臟腑之髙下，如寒者熱之，結者散之，客者除之，留者行之，堅者削之，消之、按之、摩之，醎以軟之，苦以瀉之，全其氣藥補之，隨其所利而行之，節飲食，慎起居，和其中外，可使畢已。不然遽以大毒之劑攻之，積不能除，反傷正氣，終難治也。醫者不可不慎。</p>
<p>肝之積肥氣丸　治積在左脅下，如覆杯，有頭足，久不愈，令人發咳逆痎瘧，連歲不已。</p>
<p>厚朴（半兩）　黃連（七錢）　柴胡（二兩）　椒（炒出汗，四錢）　巴豆霜（五分）　川烏頭（切，去皮，一錢二分）　乾薑（炮，半錢）　皂角（去皮弦子，煨，一錢半）　白茯苓（去皮，一錢半）　廣荗（炮，二錢半）　人參（去蘆，二錢半）　甘草（炙，三錢）　昆布（二錢半）</p>
<p>上件，除茯苓、皂角、巴豆霜外，為極細末，另碾茯苓、皂角為細末，和勻，另碾巴豆霜，旋旋入末，和勻，煉蜜為丸，如桐子大，初服二丸，一日加一丸，二日加二丸，漸漸加至大便微溏，再從兩丸加服，周而復始，積減大半勿服。</p>
<p>在後積藥，依此法服。此春夏藥，秋冬另有加減法，在各條下。秋冬加厚朴半兩，通草一兩，減黃連一錢半。若治風癇，於一料中加人參、茯神、菖蒲各三錢，黃連只依春夏用七錢，雖秋冬不減，淡醋湯送下，空心。</p>
<p>心之積伏梁丸　起臍上，大如臂，上至心下，久不愈，令人煩心。</p>
<p>黃連（去須，一兩半）　厚朴（去皮，薑製，半兩）　人參（去蘆，五分）　黃芩（刮黃色，三錢）　桂（去皮，一錢）　乾薑（炮，半錢）　巴豆霜（五分）　川烏頭（炮，製去皮，半錢）　紅豆（二分）　菖蒲（半錢）　茯神（去皮木，一錢）　丹參（炒，一錢）</p>
<p>上件，除巴豆霜外，為細末，另研巴豆霜，旋旋入末，煉蜜為丸，如桐子大，初服二丸，一日加一丸，二日加二丸，漸加至大便溏，再從兩丸加服，淡黃連湯送下，食遠，周而復始，積減大半勿服，秋冬加厚朴半兩，通前秤一兩，減黃連半兩，即用一兩，黃芩全不用。</p>
<p>脾之積痞氣丸　在胃脘，覆大如盤，久不愈，令人四肢不收，發黃疸，飲食不為肌膚。</p>
<p>厚朴（去皮，四錢半）　黃連（去須，八錢）　吳茱萸（洗，三錢）　黃芩（二錢）　白茯苓（去皮，一錢，另為末）　澤瀉（一錢，另為末）　川烏頭（炮，製去皮，半錢）　人參（去蘆，一錢）　茵陳（酒製，炒，一錢半）　巴豆霜（四分）　乾薑（炮，一錢半）　白朮（二錢）　縮砂仁（去皮，一錢半）　桂（去皮，四分）　川椒（炒，半錢）</p>
<p>上件，除巴豆霜另研，茯苓另為末旋入外，同為細末，煉蜜為丸，如桐子大，初服二丸，一日加一丸，二日加二丸，漸加至大便溏，再從二丸加服，淡甘草湯送下，食前，周而復始，積減大半勿服，秋冬加厚朴五錢半，通草一兩，減黃連一錢，減黃芩一錢，黃疸并積大能退，一料中加巴豆霜一分、附子炮一錢、砒石少許。</p>
<p>肺之積息賁丸　治右脅下覆大如杯，久不已，令人灑淅寒熱，喘咳發肺壅。</p>
<p>厚朴（薑制，八錢）　黃連（去頭炒，一兩三錢）　乾薑（炮，一錢半）　桂（去皮，一錢）　巴豆霜（四分）　白茯苓（去皮，一錢半，另末）　川烏頭（炮，製去皮，一錢）人參（去蘆，二錢）　川椒（炒去汗，一錢半）　桔梗（一錢）　紫菀（去苗，一錢半）　白豆蔻（一錢）　陳皮（一錢）　青皮（半錢）　京三稜（炮，一錢）　天門冬（一錢）</p>
<p>上件，除茯苓、巴豆霜為末旋入外，為末，煉蜜為丸，如桐子大，初服二丸，一日加一丸，二日加二丸，漸加至大便溏，再從二丸加服。煎淡生薑湯下，食遠，周而復始，積減大半止服，秋冬加厚朴半兩，通前秤一兩三錢，減黃連七錢，只用六錢。</p>
<p>腎之積賁豚丸　發於小腹，上至心下，若豚狀，或下或上無時，久不已，令人喘逆，骨痿少氣，又治男子內結七疝，女人瘕聚帶下。</p>
<p>厚朴（薑製，七錢）　黃連（去須炒，五錢）　白茯苓（去皮，二錢，另末）　川烏頭（炮，半錢）　澤瀉（二錢）　苦楝（酒煮，三錢）　玄胡（一錢半）　全蝎（一錢）　附子（去皮，一錢）　巴豆霜（四分）　菖蒲（二錢）　獨活（一錢）　丁香（半錢）　肉桂（去皮，二分）</p>
<p>上除巴豆霜、茯苓另為末旋入外，為細末，煉蜜為丸，如桐子丸，初服二丸，一日加一丸，二日加二丸，漸加至大便溏，再從二丸加服，淡鹽湯送下，食前，周而復始，病減大半勿服，秋冬加厚朴半兩，通用一兩二錢，如積勢堅大，先服前藥不減，於一料中加燒存性牡蠣三錢，㿗疝、帶下病勿加。</p>
<p>加減痞氣丸　孟秋合，治脾之積。</p>
<p>黃芩（酒製，三分）　黃連（酒製，三分）　厚朴（一錢）　半夏（半錢）　益智（三分）　吳茱萸（二分）　紅花（半分）　青皮（二分）　當歸尾（二分）　茯苓（二分）　澤瀉（二分）　麹（炒，二分）　廣荗（二分）　昆布（二分）　橘皮（去白，二分）　熟地黃（二分）　人參（二分）　附子（二分）　葛根（二分）　甘草（炙，二分）　巴豆霜（二分）</p>
<p>上件，為細末，蒸餅為丸，如桐子大，初服二丸，一日加一丸，二日加二丸，漸加至大便溏，再從二丸加服，煎淡甘草湯送下，食前。</p>
<p>加減息賁丸　仲夏合。其積為病，寒熱喘咳，氣上奔，脈澀，失精亡血，氣滯則短氣，血凝泣則寒熱，則氣分寒血分熱，治法宜益元氣泄陰火，破滯氣削其堅也。</p>
<p>川烏頭（一錢）　乾薑（一錢半）　人參（二錢）　厚朴（八分）　黃連（一兩三錢）　紫菀（一錢）　巴豆霜（四分）　桂枝（三錢）　陳皮（一錢半）　青皮（七分）　川椒（炒去汗，一錢半）　紅花（少許）　茯苓（一錢半）　桔梗（一錢）　白豆蔻（一錢）　京三稜（一錢半）　天門冬（去心，一錢半）</p>
<p>上件為細末，湯浸蒸餅為丸，如桐子大，初服二丸，一日加一丸，二日加二丸，加至大便微溏利為度，再從二丸加服，煎生薑湯送下，食前，忌酒濕𬹃、五辛大料物之類及生冷硬物。</p>

<h3>治積要法</h3>
<p>許學士云：大抵治積，或以所惡者攻之，以所善者誘之，則易愈。如硇砂、水銀治肉積，神麹、麥蘗治酒積，水蛭、虻蟲治血積，木香、檳榔治氣積，牽牛、甘遂治水積，雄黃、膩粉治涎積，礞石、巴豆治食積，各從其類也。若用群隊之藥分其勢，則難取效。究是認得分明是何積，更兼見何證，然後增加佐使之藥，不爾反有所損，要在臨時通變也。</p>

<h2>心胃及腹中諸痛門</h2>

<h3>心胃及腹中諸痛論</h3>
<p>《黃帝針經•經脈第一》云：胃病者，腹䐜脹，胃脘當心而痛，上支兩脅，膈咽不通，飲食不下，取三里也。又云：足太陰脾之脈，其支者，復從胃別上膈，注心中。是動則病舌本強，食則嘔，胃脘痛，腹脹善噫，心下急痛。《舉痛論》云：五臟卒痛，何氣使然？曰：經脈流行不止，環周不休，寒氣入經稽遲，泣而不行，客於脈外則血少，客於脈中則氣不通，故卒然而痛，得炅則痛立止。因重感於寒，則痛久矣。夫心胃痛及腹中諸痛，皆因勞役過甚，飲食失節，中氣不足，寒邪乘虛而入客之，故卒然而作大痛。《經》言得炅則止，炅者熱也，以熱治寒，治之正也。然腹痛有部分，臟位有髙下，治之者亦宜分之，如厥心痛者，乃寒邪客於心包絡也，前人以良薑、菖蒲大辛熱之味末之，酒醋調服，其痛立止，此折之耳；真心痛者，寒邪傷其君也，手足清至節，甚則旦發夕死；脘痛者，太陰也，理中、建中、草豆蔻丸之類主之；腹臍痛者，少陰也，四逆湯、薑附禦寒湯之類主之；少腹痛者，厥陰也，正陽散、回陽丹、當歸四逆之類主之；雜證而痛者，苦楝湯、酒煮當歸丸、丁香楝實丸之類主之，是隨高下治也。更循各臟部分穴腧，而灸刺之。如厥心痛者，痛如錐針刺其心，甚者脾心痛也，取之然谷、太谿，餘臟皆然。如腹中不和而痛者，以甘草芍藥湯主之；如傷寒誤下傳太陰，腹滿時痛者，桂枝加芍藥湯主之，痛甚者桂枝加大黃主之；夏月肌熱惡熱，脈洪實而痛者，黃芩芍藥湯主之。又有諸蟲痛者，如心腹痛，作痛腫聚，往來上下行，痛有休止，腹熱善渴，涎出，面色乍青、乍白、乍赤，嘔吐清水者，蛟蛕也，以手緊按而堅持之，無令得移，以針刺之，久持之蟲不動，乃出針也。或《局方》中化蟲丸及諸取蟲之藥，量虛實用，不可一例而治。</p>
<p>草豆蔻丸　治勞役致脾胃虛弱，而心火乘之，不能滋榮心肺，上焦元氣衰敗，因遇冬天腎與膀胱寒水大旺，子能令母實，助肺金大旺，相輔而來尅心乘脾，故胃脘當心而痛，此復其仇也。故《經》云，大勝必大復，理之常也。故皮毛血脈分肉之間，元氣已絕於外，又以大寒大燥二氣并乘之，其人苦惡風寒，耳鳴，及腰背相引胸中而痛，鼻息不通，不聞香臭，額寒腦痛，目時眩，為寒水反乘脾土，痰唾沃沫，飲食反出，腹中常痛，心胃作痛，脅下縮急，有時而痛，腹不能努，大便多瀉而少秘，下氣不絕，或腹中鳴，胸中氣亂，心煩不安，而成霍亂之意，膈咽不通，極則有聲，鼻中氣短，遇寒滋甚，或居曖處方過，口吸風寒則復作，四肢厥逆，身體沉重，不能轉側，頭不可以回顧，小便數而欠，此脾虛之至極也。</p>
<p>草豆蔻（一錢四分，𬹃煨燒熟，去皮秤用）　益智（八分）　吳茱萸（八分，湯洗去苦，焙乾秤）　陳皮（八分）　殭蠶（八分）　熟甘草（三分）　生甘草（三分）　桃仁（去皮尖，七分）　青皮（六分）　澤瀉（一分）　黃耆（八分）　半夏（湯洗七次，一錢）　大麥蘗（炒黃，一錢半）　麹末（四分）　薑黃（四分）　當歸身（六分）　人參（四分）　柴胡（去苗，四分或二分，詳脅下痛多少加之）</p>
<p>上十八味，除桃仁另研如泥外，為極細末，同研，湯浸蒸餅為丸，如桐子大，每服二十丸，熱白湯送下，旋斟酌多少服之。</p>
<p>薑附禦寒湯　治中氣不足，遇冬天寒氣客於脾胃之間，相引兩脅，縮急而痛，善嚏，鼻中流濁涕不止，不聞香臭，咳嗽腦痛，上熱如火，下寒如冰，頭時作陣痛或暴痛，兩目中流火，視物䀮䀮然，或耳鳴耳聾，客晴明，惡陰寒，夜不得安臥，胸中痰涎，膈咽不通，飲食失味，口中沃沫，牙齒動搖不能嚼物，腰臍間及尻腎膝足胻冷，陰汗自出，行步失力，風痹麻木，小便數，氣短喘喝，少氣不足以息，卒遺失無度，婦人白帶，陰戶中大痛，上牽心而痛，黧黑失色，男子控睪而痛，牽心腹隱隱而痛，面如赭色，食少，大小便不調，煩心霍亂，逆氣裏急，而腹皮白或黑，下氣腹中腸鳴，膝下筋急及腰背肩胛大痛，此陰盛陽虛之證也。</p>
<p>乾薑（炮，一錢二分）　半夏（湯洗，五分）　柴胡（去苗，一錢）　防風（去蘆，半錢）　羌活（一錢）　藁本（去土，八分）　人參（去蘆，半錢）　白葵花（五朵，去心萼）甘草（炙，八分）　升麻（七分）　郁李仁（湯浸，去皮尖，半錢）　當歸身（六分，酒製）桃仁（湯浸，去皮尖，半錢，與郁李仁研如泥入正藥）　黑附子（炮，去皮臍，四錢）</p>
<p>上件㕮咀，都作一服，水五大盞，煎至三盞，入黃耆一錢，橘皮五分，草豆蔻一錢，再煎至二盞，再入酒製黃蘗三分，酒製黃連三分，枳殼三分，酒地黃二分，此四味銼碎，預一日先用新水多半盞浸一宿，煎至一盞半，又華陰細辛一分，貫芎二分，蔓荊子二分，亦預先一日用新水各另浸，將前正藥去滓，入此三味，再上火同煎至一盞，去渣，空心熱服之。待少時，以美膳壓之，忌肉湯，宜食肉，不助經絡中火邪也。又能治齧唇，舌根強硬，其效如神。如無以上證，但有白帶下，臍下寒，男子二丸冷痛，相引心腹背痛，手心或寒，兩尺脈弦細，按之不鼓，小便遺失或數而欠，大便多燥澀不通，或大便軟，溺色變，或短氣不足以息，額寒，鼻不聞香臭，鼻端紅腫，善嚏，多悲愁不樂，健忘多怒，寢汗憎風，小便滑數，後滴瀝，臍下冷疼，風寒汗出，腰背強，腰痛，或裏急，或腹皮白，或腹黑色，或鼻流清涕及目中淚下不止，精神不足，亦宜服之，及腎與膀胱經中寒，肺氣寒，元氣不足者，皆宜服之。於月生、月滿時，隔三五日吃一服，如病急，不拘時候。</p>
<p>麻黃豆蔻丸　治客寒犯胃，心胃大痛不可忍。（季秋合）</p>
<p>麻黃（不去節，三錢）　草豆蔻（五錢）　益智仁（八分）　炒麹（二錢）　升麻（半錢）　半夏（半錢，湯洗）　麥蘗𬹃（半錢）　縮砂仁（半錢）　黃耆（半錢）　白朮（半錢）　橘皮　柴胡　炙甘草　吳茱萸　當歸身（各五分）　青皮（二分）　木香（二分）　厚朴（二分）　蓽澄茄（四分）　紅花（三分）　蘇木（三分）</p>
<p>上為細末，湯浸蒸餅為丸，如桐子大，每服五十丸，細嚼，溫水送下；如寒腹痛，不嚼，白湯送下。</p>
<p>益智和中丸　治心胃腹中大痛，煩躁，冷汗自出。</p>
<p>草豆蔻（四錢）　益智仁（二錢二分）　縮砂仁（七分）　甘草（炙，二錢半）　黃耆　人參　當歸身　乾生薑　麥門冬　神麹末　橘皮（各半錢）　桂枝（一錢半）　桂花（一錢）　麥蘗𬹃（炒，三錢）　黃連（二分）　生地黃（二分）　薑黃（五分）　木香（二分）</p>
<p>上件同為細末，湯浸蒸餅為丸，如桐子大，每服三十丸，溫水送下，細嚼亦得。</p>
<p>益智調中湯　治因服寒藥過多，致脾胃虛弱，胃脘痛。</p>
<p>白豆蔻（三分）　益智仁（三分）　縮砂仁　甘草（各二分）　薑黃（三分）　厚朴（三分）　陳皮（五分）　澤瀉（三分）　黃耆（七分）　乾薑（三分）　人參（二分）</p>
<p>上件為粗末，都作一服，水一盞半，煎至一盞，去滓，溫服，食前。</p>
<p>如胃脘當心而痛，氣欲絕者，胃中虛之至極，俗呼為心痛，服草豆蔻丸二三十丸；若痛頻作，胃中元氣虛甚，則將理二三日，不得食熱，當食溫爛，細嚼細嚥，痛必不作，一二日自和矣；若食熱稠粥，其痛必幾死，言畢不得食，食後不得言，欲食時口鼻不得當風，食罷亦然，忌生冷硬物、果木之類及麩粉麹食，須忌長遠，免致後患。</p>

<h1>卷三</h1>

<h2>嘔吐噦門</h2>

<h3>嘔吐噦論</h3>
<p>《黃帝針經》第二經脈第一：足太陰脾之脈，復從胃別上膈，注心中，是動則病舌本強，食則嘔。《脈解篇》云：所謂食則嘔者，物盛滿而上溢故也。《舉痛論》云：寒氣客於腸胃，厥逆上出，故痛而嘔。厥陰之病，少腹堅滿，厥心痛，嘔吐飲食不入，入而復出，筋骨掉眩，清厥，甚則入脾，食痹而吐。《靈樞經》云：人之噦，蓋榖入於胃，胃氣上注於肺，因有故寒氣，與新穀氣俱還入於胃，新故相亂，真邪相攻，氣并相逆，復出於胃，故為噦。補手太陰，瀉足少陰。又云：胃為氣逆，為噦。夫嘔吐噦者，俱屬於胃。胃者總司也，以其氣血多少為異耳。如嘔者，陽明也。陽明多血多氣，故有聲有物，血氣俱病也。仲景云：嘔多，雖有陽明證，慎不可下。孫真人云：嘔家多服生薑，為嘔家之聖藥也。氣逆者，必散之，故以生薑為主。吐者，太陽也。太陽多血少氣，故有物無聲，為血病也。有入食則吐，以橘皮去白主之。噦者，少陽也。少陽多氣少血，故有聲無物，乃氣病也，以薑製半夏為主。故朱奉議治嘔吐噦，以生薑、橘皮、半夏者是也。究其三者之源，皆因脾胃虛弱，或因寒氣客胃，加之飲食所傷而致之也。宜以丁香、藿香、半夏、茯苓、陳皮、生薑之類主之。若但有內傷而有此病，宜察其虛實，使內消之。痰飲者，必下之。治之當分其經，對證用藥，而不可亂。</p>
<p>丁香安胃湯　治嘔吐噦，胃虛寒所致。</p>
<p>丁香（半錢）　吳茱萸（一錢）　草豆蔻　黃耆（各二錢）　人參（一錢）　炙甘草（半錢）　柴胡（半錢）　升麻（七分）　當歸身（一錢五分）　橘皮（半錢）　黃蘗（三分）　蒼朮（一錢）</p>
<p>上件銼，如麻豆大，每服半兩，水二大盞，煎至一盞，去渣，稍熱服，食前。</p>
<p>茯苓半夏湯　治胃氣虛弱，身重有痰，惡心欲吐，是風邪羈絆於脾胃之間，當先實其脾胃。</p>
<p>白朮　茯苓　半夏　大麥𬹃（各半兩）　炒麹（二錢）　陳皮（三錢）　天麻（三錢）</p>
<p>上件㕮咀，每服半錢，水二大盞，生薑五片，煎至一盞，去滓，稍熱服，食前。</p>
<p>柴胡半夏湯　治舊有風證，不敢見風，眼澀頭痛，有痰眼黑，惡心兀兀欲吐，風來覺皮肉緊，手足重難舉，居暖處有微汗便減，再見風其病即便復。（一名補肝湯。）</p>
<p>半夏（二錢）　炒麹（一錢）　生薑（十片）　柴胡（半錢）　升麻（五分）　蒼朮（一錢）　藁本（半錢）　白茯苓（七分）</p>
<p>上件㕮咀，麻豆大，都作一服，水三盞，煎至一盞，去渣，稍熱服。</p>
<p>木香利膈丸　治寒在膈上，噎塞咽膈不通。</p>
<p>吳茱萸（一錢二分）　草豆蔻（一錢二分）　益智（八分）　橘皮（八分）　白殭蠶（四分）　人參（八分）　黃耆（八分）　升麻（八分）　麥蘗（一錢半）　當歸（六分）　炙甘草（六分）　半夏（一錢）　木香（二分）　澤瀉（四分）　薑黃（四分）　柴胡（四分）青皮（二分）</p>
<p>上件為細末，湯浸蒸餅為丸，如綠豆大，每服二十丸，溫水少許送下，勿多飲湯，恐速走下，細嚼亦得。</p>

<h2>衄吐嘔唾血門</h2>

<h3>衄吐嘔唾血論</h3>
<p>《別論》云：陽明厥逆，喘咳身熱，善驚，衄吐血。又云：足陽明胃之脈，起於鼻。又云；溫淫，汗出鼽衄。又云：陽氣者，大怒則形氣絕而菀於上，使人薄厥。又云：怒則氣逆，甚則嘔血，故氣上矣。（《黃帝針經》三卷，寒熱病第三：）暴癉內逆，肝肺相搏，血溢鼻口，取天府穴。天府乃手太陰也。又足少陰腎之脈，從腎上貫肝，入肺中，循喉嚨，其病則飢不欲食，面黑如地色，咳唾則有血。夫氣者陽也，血者陰也。氣者煦之，血者濡之。今血妄行，上出於鼻口者，皆氣逆也。故《經》言，陽明厥逆，怒則氣逆，暴癉內逆者是也。分之則各有所屬，治之則各有所主。若浮緊者麻黃湯，浮緩者桂枝湯。脈已微者，二藥俱不可用，宜黃芩芍藥湯主之。雜病謂見血者，多責其熱也。如衄血出於肺，以犀角、升麻、梔子、黃芩、芍藥、生地黃、紫參、丹參、阿膠之類主之。咯唾血者，出於腎，以天門冬、麥門冬、貝母、知母、桔梗、百部、黃蘗、遠志、熟地黃之類主之。如有寒者，乾薑、肉桂之類。痰涎血者，出於脾，葛根、黃耆、黃連、芍藥、當歸、甘草、沉香之類主之。嘔血者，出於胃也。實者，犀角地黃湯主之；虛者，小建中湯加黃連主之。血證上行，或唾、或嘔、或吐，皆逆也；若變而下行於惡痢者，順也。血上行為逆，其治難；下行為順，其治易。故仲景云：蓄血證，下血者，當自愈也，與此意同。若無病之人，忽然下血，其病進也。今病血證上行，而復下行惡痢者，其邪欲去，是知吉也。《經》云，諸見血，身熱脈大者難治，是火邪勝也；身涼脈靜者易治，是正氣復也。故叔和云鼻衄吐血沉細宜，忽然浮大即傾危，此之謂也。</p>
<p>三黃補血湯　治六脈俱大，按之空虛，必面赤善驚，上熱，乃手少陰心之脈也。此氣盛多而亡血，以甘寒鎮墜之劑，大瀉其氣以墜氣浮，以甘辛溫微苦，峻補其血。</p>
<p>熟地黃（二錢）　生地黃（三錢）　當歸（一錢半）　柴胡（二錢半）　升麻（一錢）　白芍藥（半兩）　牡丹皮（一錢）　川芎（三錢）　黃耆（一錢）</p>
<p>上㕮咀，如麻豆大，每服半兩，水二大盞，煎至一盞，去滓，稍熱服，食前。補之太過，以防血溢上竭。</p>
<p>如兩寸脈芤，兩頭則有，中間全無而虛曰芤，血在上焦，或衄、或嘔，與犀角地黃湯則愈。</p>
<p>黃耆芍藥湯　治衄血多歲，面黃，眼澀多眵，手麻木。</p>
<p>黃耆（三兩）　炙甘草（二兩）　升麻（一兩）　葛根（半兩）　羌活（半兩）　芍藥（一兩）</p>
<p>上件㕮咀，每服三錢，水二盞，煎至一盞，去渣，溫服之，十五服而愈。</p>
<p>六脈弦細而澀，按之空虛，其色必白而夭不澤者，脫血也。此大寒證，以辛溫補血、益血，以甘溫、甘熱、滑潤之劑以佐之則愈，此亡血亦傷精氣。</p>
<p>人參飲子　治脾胃虛弱，氣促氣弱，精神短少，衄血、吐血。</p>
<p>人參（去蘆，三分）　黃耆（一錢）　五味子（五個）　白芍藥（一錢）　甘草（一錢）　當歸身（三分）　麥門冬（二分）</p>
<p>上件為粗散，分作二服，每服水一盞八分，煎至一盞，去滓，稍熱服。</p>
<p>一貧者，有前證，以前藥投之愈，繼而時在冬天，居大室中，臥大熱炕，而吐血數次，再來求治，料此病久虛弱，附臍有形，而有火熱在內，上氣不足，陽氣外虛，當補表之陽氣，瀉其裏之虛熱，是其法也。冬天居大室，衣蓋單薄，是重虛其陽；表有大寒，壅遏裏熱，火邪不得舒伸，故血出於口。仲景《傷寒論》中一證，太陽傷寒，當以麻黃湯發汗而不愈，遂成衄，卻與麻黃湯立愈，此法相同，遂用麻黃桂枝湯。</p>
<p>麻黃桂枝湯</p>
<p>麻黃（一錢，去其外寒）　黃耆（一錢，實表益衛）　桂枝（半錢，補表虛）　白芍藥（一錢，益脾）　甘草（一錢，補其脾胃之虛）　人參（二分，益上焦氣而實表）　麥門冬（三分，保脾氣）　五味子（五個，安肺氣）　當歸身（半錢，和血養血）</p>
<p>上件都作一服，水二盞，先煎麻黃，令沸去沫，至二盞，入餘藥，同煎至一盞，去滓，稍熱臨睡一服而愈，更不再作。</p>
<p>人參救肺散　治咳血、吐血。</p>
<p>升麻（一錢）　柴胡（一錢）　當歸尾（二錢）　熟地黃（二錢）　白芍藥（一錢）　蘇木（半錢）　黃耆（二錢）　人參（二錢）　甘草（半錢）　蒼朮（一錢）　陳皮（半錢）</p>
<p>上件都作一服，水二盞，煎至一盞，去渣，溫服，食前。</p>
<p>麥門冬飲子　治吐血久不愈。</p>
<p>五味子（十個）　麥門冬（去心，半錢）　當歸身　人參（各半錢）　黃耆（一錢）　生地黃（五分）</p>
<p>上件為粗末，都作一服，水二盞，煎至一盞，去渣，稍熱服，不拘時候（以三稜針於氣衝出血，立愈）。</p>

<h3>治鼻衄不止法</h3>
<p>鼻衄不止，或素有熱而暴作，諸藥無驗，以白紙一張，作八牒或十牒，於極冷水內，濕紙置頂中，熱熨斗熨至一重或二重紙乾，立止。</p>

<h2>消渴門</h2>

<h3>消渴論</h3>
<p>《陰陽別論》云：二陽結謂之消。《脈要精微論》云：癉成消中。夫二陽者，陽明也。手陽明大腸主津，病消則目黃口乾，是津不足也；足陽明胃主血，熱則消穀善飢，血中伏火，乃血不足也。結者，津液不足，結而不潤，皆燥熱為病也。此因數食甘美而多肥，故其氣上溢，轉為消渴，治之以蘭，除陳氣也。不可服膏粱、芳草、石藥，其氣慓悍，能助燥熱也。越人云：邪在六腑則陽脈不和，陽脈不和則氣留之，氣留之則陽脈盛矣。陽脈大盛則陰氣不得營也，故皮膚肌肉消削是也。《經》云：凡治消癉，仆擊偏枯、痿厥氣滿，發逆肥貴人，則膏粱之疾也。岐伯曰：脈實病久可治，脈弦小病久不可治。後分為三消，膈消者，舌上赤裂，大渴引飲。《逆調論》云，心移熱於肺，傳為膈消者是也。以白虎加人參湯治之。中消者，善飲而瘦，自汗，大便硬，小便數。叔和云，口乾飲水，多食亦飢，虛癉成消中者是也，以調胃承氣、三黃丸治之。下消者，煩躁引飲，耳輪焦乾，小便如膏。叔和云，焦煩水易虧，此腎消也，以六味地黃丸治之。《總錄》所謂末傳能食者，必發腦疽、背瘡；不能食者，必得中滿、鼓脹，皆為不治之證。潔古老人分而治之，能食而渴者，白虎加人參湯；不能食而渴者，錢氏方白朮散倍加葛根治之。上中既平，不復傳下消矣。前人用藥，厥有旨哉！或曰末傳瘡疽者何也？此火邪勝也，其瘡痛甚而不潰，或赤水者是也。《經》云：有形而不痛，陽之類也，急攻其陽，勿攻其陰，治在下焦元氣，得強者生，失強者死。末傳中滿者何也？以寒治熱，雖方士不能廢其繩墨而更其道也。然臟腑有遠近，心肺位近，宜制小其服；腎肝位遠，宜制大其服，皆適其至所為。故如過與不及，皆誅伐無過之地也。如膈消、中消，制之太急，速過病所，久而成中滿之病。正謂上熱未除，中寒復生者也。非藥之罪，失其緩急之制也。處方之制，宜加意焉。</p>
<p>生津甘露飲子　治膈消，大渴飲水無度，舌上赤澀，上下齒皆麻，舌根強硬腫痛，食不下，腹時脹痛，渾身色黃，目白睛黃甚，四肢痿弱無力，面塵脫色，脅下急痛，善嚏，善怒，健忘，臀腰背寒，兩丸冷甚。</p>
<p>石膏（一錢二分）　人參（二錢）　生甘草（一錢）　炙甘草（二錢）　山梔子（一錢）　蓽澄茄（一錢）　白豆蔻（一錢）　白葵花（五分）　黃蘗（酒拌炒，一錢半）　香白芷（一錢）　連翹（一錢）　杏仁（去皮，一錢半）　麥門冬（五分）　黃連（三分）　木香（三分）　桔梗（三錢）　升麻（二錢）　薑黃（一錢）　知母（二錢，酒製）　當歸身（五分）　全蝎（二個）　藿香（二分）　柴胡（三分）　蘭香（五分）</p>
<p>消之為病，燥熱之氣勝也。《內經》曰：熱淫所勝，佐以甘苦，以甘瀉之。熱則傷氣，氣傷則無潤。折熱補氣，非甘寒之氣不能除，故以石膏、甘草之甘寒為主；啓玄子云：滋水之源以鎮陽也，故以黃連、黃蘗、梔子、知母之苦寒瀉熱補水為臣；以當歸、杏仁、麥門冬、全蝎、連翹、白芷、白葵、蘭香、甘草甘寒和血潤燥為佐；以升麻、柴胡苦平行陽明、少陽二經，白豆蔻、木香、藿香反佐以取之，又為因用。桔梗為舟楫，使浮而不下也。</p>
<p>上件為細末，如法湯浸蒸餅和勻成劑，捻作餅子，曬半乾，杵碎，篩如黃米大，食後每服二錢，抄於掌中，以舌舐之，隨津唾下，或送以白湯少許亦可。此制之緩也，不惟不成中滿，亦不傳下消矣。戊申正月七日，葉律千戶服之大效。</p>
<p>蘭香飲子　治渴飲水極甚，善飲而瘦，自汗，大便結燥，小便頻數。</p>
<p>石膏（三錢）　酒知母（一錢）　生甘草（一錢）　炙甘草（半錢）　人參（半錢）　防風（一錢）　半夏（二分，湯洗）　蘭香（半錢）　白豆蔻仁　連翹　桔梗　升麻（各半錢）</p>
<p>上同為細末，湯浸蒸餅和勻成劑，捻作薄片子，日中曬半乾，碎如米，每服二錢，食後，淡生薑湯送下。</p>
<p>地黃飲子　治口乾舌乾，小便數，舌上赤脈。此藥生津液，長肌肉。</p>
<p>杏仁（六個）　生甘草（三分）　石膏（一錢）　黃連（酒製，八分）　桃仁（六個）生地黃（酒製，七分）　黃蘗（酒製，二錢）　當歸（酒製，四分）　柴胡（三分）　炙甘草（三分）　升麻（一錢）　紅花（少許）　知母（酒製，五分）　麻黃根（三分）　漢防己（酒製，五分）　羌活（五分）</p>
<p>上件銼，如麻豆大，都作一服，水二盞，煎至一盞，去渣，溫服，食後。忌濕𬹃、房事、鹽、血。戊申仲冬，張安撫服此大效。</p>
<p>當歸潤燥湯　治消渴，舌上白乾燥，唇乾，口乾，眼澀，黑處見浮雲，大便秘澀，乾燥結硬，喜溫飲，陰頭短縮。</p>
<p>升麻（一錢半）　柴胡（七分）　甘草（六分，半生半熟）　細辛（一分）　黃蘗（一錢）　知母（一錢）　石膏（一錢）　杏仁（六個）　桃仁泥子（一錢）　麻仁泥子（一錢）當歸身（一錢）　紅花（少許）　防風（一錢）　荊芥穗（一錢）　熟地黃（三分）　小椒（三個）</p>
<p>上件㕮咀，都作一服，水二碗，煎至一盞，去渣，食後溫服，忌辛熱物。</p>
<p>清涼飲子　治消中，能食而瘦，口乾舌乾，自汗，大便結燥，小便頻數。</p>
<p>羌活（一錢）　柴胡（一錢）　升麻（四分）　防風（五分）　當歸身（六分）　生甘草（半錢）　炙甘草（一錢）　石膏（一錢半）　酒知母（一錢）　漢防己（半錢）　草龍膽（酒製，一錢半）　黃蘗（一錢半）　紅花（少許）　桃仁（五個）　杏仁（十個）　生地黃（酒製，半錢）　黃耆（一錢）　黃芩（酒製，一錢）</p>
<p>上件㕮咀，麻豆大，都作一服，水二盞、酒一匙，煎至一盞，去渣，稍熱服，食後。</p>
<p>清神補氣湯　前消渴證皆愈，只有口乾，腹不能努起。</p>
<p>升麻（一錢半）　柴胡（七分）　生甘草（五分）　黃蘗（酒製，半錢）　黃連（酒製，半錢）　知母（酒製，半錢）　石膏（四分）　杏仁（六個）　桃仁（一錢）　當歸身（一錢）　紅花（少許）　防風（一錢）　荊芥穗（一錢）　熟地黃（三分）　小椒（二個）　細辛（一分）　生地黃（一分）</p>
<p>上件銼，如麻豆大，都作一服，水二盞，煎至一盞，去渣，稍熱食後服。</p>
<p>甘草石膏湯　消病全愈，再添舌白滑微腫，咽喉嚥唾覺痛，嗌腫，時有渴，口中白沫如膠，飲冷則稍緩。</p>
<p>升麻（一錢半）　柴胡（七分）　甘草（五分）　黃蘗（一錢）　知母（一錢）　石膏（六分）　杏仁（六個）　桃仁（一錢）　當歸身（一錢）　熟地黃（二分）　小椒（一個）　細辛（一分）　黃連（三分）　紅花（少許）　防風（一錢）　荊芥穗（一錢）　生地黃（一分）</p>
<p>上件銼，如麻豆大，都作一服，水二盞，煎至一盞，去渣，稍熱，食後服。</p>

<h3>辨六經渴（并治）</h3>
<p>太陽渴，脈浮無汗者，五苓散、滑石之類。陽明渴，脈長有汗者，白虎湯、涼膈散之類。少陽渴，脈弦而嘔者，小柴胡加瓜蔞湯主之。太陰渴，脈細不欲飲，縱飲思湯不思水。少陰渴，脈沉自利者，豬苓湯、三黃湯之類。厥陰渴，脈微引飲者，少少與之。滑石治渴，本為竅不利而用之，以其燥而能亡津液也；天令濕氣太過者當用之，無濕用之是為犯禁。假小便不利，或渴或不渴，知內有濕也；小便自利而渴者，知內有燥也。濕宜滲瀉之，燥以潤之則可矣。雜證汗而渴者，以辛潤之；無汗而渴者，以苦堅之。傷寒食少而渴，當以和胃之藥，不可用涼藥止之，恐復損胃氣，愈不能食也，白朮、茯苓是也。太陽無汗而渴，不宜白虎湯；若汗後脈洪大而渴者，宜與之。陽明有汗而渴，不宜五苓散；若小便不利，汗少脈浮而渴者，宜與之。病者心肺熱而不渴者，知不在太陰、少陰之本，而只在標也。在標則不渴矣，渴者是在本也。</p>

<h2>瘡瘍門</h2>

<h3>明瘡瘍之本末</h3>
<p>《生氣通天論》云：營氣不從，逆於肉理，乃生癰腫。又云：膏粱之變，足生大疔，受如持虛。《陰陽應象論》云：地之濕氣，感則害人皮肉筋脈，是言濕氣外傷，則營氣不行。榮衛者，皆營氣之所經營也；營氣者，胃氣也；運氣也，營氣為本；本逆不行，為濕氣所壞，而為瘡瘍也。膏粱之變，亦是言厚滋味過度，而使營氣逆行，凝於經絡為瘡瘍也。此邪不在表，亦不在裏，惟在其經中，道病也。以上《內經》所說，俱言因營氣逆而作也。遍看諸瘡瘍論中，多言濕熱相搏，熱化為膿者；有只言熱化為膿者；又言濕氣生瘡，寒化為熱而為膿者，此皆瘡瘍之源也。宜於所見部分，用引經藥，并兼見證藥，中分陰證陽證也。瀉營氣是其本，本逆助火，濕熱相合。敗壞肌肉而為膿血者，此治法也。宜遠取諸物以比之，一歲之中，大熱無過四五月之間，當是時諸物皆不壞爛；壞爛者，六七月之間，濕令大行之際也。近取諸身熱病，在身只顯熱，而不敗壞肌肉，此理明矣。標本不得，邪氣不服，言一而知百者，可以為上工矣。</p>
<p>營氣不從，逆於肉理，乃生瘡癰。且營氣者，胃氣也。飲食入於胃，先輸於脾，而朝於肺，肺朝百脈；次及皮毛，先行陽道，下歸五臟六腑，而氣口成寸矣。今富貴之人，不知其節，以飲食肥醲之類，雜以厚味，日久太過，其氣味俱厚之物，乃陽中之陽，不能走空竅先行陽道，反行陰道，逆於肉理，則濕氣大勝；則子能令母實，火乃大旺，熱濕即盛，必來尅腎；若雜以不順，又損其真水，腎即受邪，積久水乏，水乏則從濕熱之化而上行，其瘡多出背、出腦，此為大疔之最重者也。若毒氣行於肺，或脾胃之部分，毒之次也。若出於他經，又其次也。濕熱之毒所止處，無不潰爛，故《經》言膏粱之變，足生大疔，受如持虛。如持虛器以受物，物無不受。治大疔之法，必當瀉其營氣。以標本言之，先受病為本，非苦寒之劑為主、為君不能除。其苦是疼痛也，諸瘡瘍有痛，往往多以乳香、沒藥雜以芳香之藥止之，必無少減之理。若使經絡流通，臟腑中去其壅滯，必無痛矣。苦寒之劑，除其疼痛，藥下於咽，則痛立止，此神品藥也。</p>
<p>瘡瘍食肉乃自棄也。瘡瘍者，乃榮氣而作也，今反補之，而自棄何異？雖用藥施治，而不能愈。地之濕氣自外而入內者，瘡癤當先服藥，而後用針。如瘡癤小，不欲飲藥，或嬰兒之瘡，先當溫衣覆蓋，令其凝泣壅滯血脈溫和，則出血立已者。不如此，血脈凝滯便針，則邪毒不瀉，反傷良肉，又益其瘡勢也。瘡瘍及諸病，面赤雖伏大熱，禁不得攻裏，為陽氣怫欎，邪氣在經，宜發表以去之。故曰火欎則發之。雖大便數日不見，宜多攻其表以發散陽氣，少加潤燥之藥以潤之。如見風脈、風證，只可用發表風藥，便可以通利得大便行也。若只乾燥秘澀，尤宜潤之，慎不可下也。諸九竅不利者，慎不可下也。瘡瘍欎冒，俗呼昏迷是也，宜汗之則愈。驗瘡各色治之，當從《素問》《針經》《聖濟總錄》、易老瘡論及諸家治瘡用藥法度，此為緊要，臨病之際，宜詳審焉。</p>

<h3>瘡瘍治驗</h3>
<p>戊申歲，以飲酒太過，脈候沉數，九月十七日，至真定，腦之下項之上，出小瘡，不痛不癢，謂是曰瘡，漫不加省，是夜宿睡善甫家，二日後覺微痛，見國醫李公明之，不知問，凡三見之，終不為以為言。又二日，腦項麻不腫，勢外散，熱毒焮發，且聞此府劉帥者，近以腦疽物故，便疑之。三日間，痛大作，夜不復得寐。二十二日，諸鎮之瘍醫，遂處五香連翹。明日再往，又請同門一醫共視之，云此疽也。然而不可速療，十八日得膿，俟膿出用藥，或砭刺，三月乃可平，四月如故。予記醫經，凡瘡見膿，九死一生，果如二子言，則當有束手待斃之悔矣。乃詣姨兄韓參謀彥俊家，請明之診視。明之見瘡，談笑如平時，且謂予言，瘡固惡，子當恃我，無憂恐爾。高粱之變，不當投五香，五番已無及，且疽已八日，當先用火攻之策，然後用藥。午後以大艾炷如棗核許者攻之，至百壯，乃痛覺，次為處方。云是足太陽膀胱之經，其病逆當反治。脈中得弦緊，按之洪大而數，又且有力，必當伏其所主，而先其所因，以其始則同，其終則異，可使破積，可使潰堅，可使氣和，可使必已，必先歲氣，勿伐天和。以時言之，可收不可汗，經與病禁下，法當結者散之，醎以軟之，然寒受邪而禁醎。諸苦寒為君、為用，甘寒為佐，酒熱為引，用為使，以辛溫和血，大辛以解結為臣，三辛三甘，益元氣而和血脈，淡滲以導酒濕，扶持秋冬以益氣瀉火，以入本經之藥和血，且為引用。既以通經以為主用，君以黃芩、黃連、黃蘗、生地黃、知母酒製之，本經羌活、獨活、防風、藁本、防己、當歸、連翹以解結；黃耆、人參、甘草配諸苦寒者三之一，多則滋營氣補土也。生甘草瀉腎之火，補下焦元氣；人參、橘皮以補胃氣；蘇木、當歸尾去惡血；生地黃、當歸身補血；酒製漢防己除膀胱留熱；澤瀉助秋去酒之濕熱；凡此諸藥，必得桔梗為舟楫乃不下沉。投劑之後，疽當不痛不拆，精氣大旺，飲啖進，形體健。予如言服之，藥後投床大鼾，日出乃寤，以手捫瘡腫減七八。予疑瘡透喉，遽邀明之視之。明之驚喜曰：瘡平矣。屈指記日，不五七日，作痂子，可出門矣。如是三日，忽有霄寐之變，予懼其為死候，甚憂之，而無可告語之者，適明之入門，戲謂予曰：子服藥後有三驗，而不以相告，何也？乃歷數云：子三二日來，健啖否乎？曰：然。又問：子腳膝舊弱，今行步有力否乎？曰：然。又問：子昨宵夢有霄寐之變，何不自言？予為之一笑，終不以此變告之也。二十九日，瘡痛全失，去灸瘢，膿出尋作痂。初，鎮人見劉帥病疽之苦，言及者皆為悲慘。聞予復病此瘡，親舊相念者，皆舉手加額，以早安為禱。十月十七日，明之邀往其家，乘馬過市，人見之，有為之失喜者。蓋始於投劑，至瘡痂斂，卻十四日而已。予往在聊城見明之治梁縣楊飛卿脅癰，及郭文之父腦疽、楊叔能背疽，不十數日皆平復。皆不若治予瘡之神也。醫無不難，療腦背瘡尤難。世醫用技豈無取效者，至於治效之外，乃能歷數體中不言之秘，平生所見，惟明之一人而已。乙未秋，予自濟南迴，傷冷太過，氣絕欲死，明之投劑，應手而愈，起予之死。并此為二矣。他日效劉斯立傳錢乙，當補述之，同年秋七月二十有五日河東元好問記。</p>
<p>黃連消毒飲</p>
<p>黃連（一錢）　黃芩（五分）　黃蘗（五分）　生地黃（四分）　知母（四分）　羌活（一錢）　獨活（四分）　防風（四分）　藁本（五分）　當歸尾（四分）　桔梗（五分）　黃耆（二分）　人參（三分）　甘草（三分）　連翹（四分）　蘇木（二分）　防己（五分）　澤瀉（二分）　橘皮（二分）</p>
<p>上件銼，如麻豆大，都作一服，水三盞，煎至一盞半，去渣，溫服，食後。</p>
<p>一方加山梔子二分、五味子一分、麥門冬二分、枳殼二分、豬苓二分，名消毒潰堅湯，治八發癰腫、瘰癧、奶病，隨患人虛實，藥劑輕重用之，無不作效。</p>
<p>丁未季春二十二日，蒲度主老年七十，因寒濕地氣，得附骨癰，於左腿外側，足少陽膽經之分，微侵足陽明分，闊六七寸，長一小尺，堅硬浸腫，不變肉色，皮澤深，但行步作痛，以指按至骨大痛，與藥一服，立止，再日堅硬而腫消。</p>
<p>內托黃耆酒煎湯</p>
<p>柴胡（一錢半）　連翹（一錢）　肉桂（一錢）　黍粘子（炒，一錢）　黃耆（二錢）　當歸尾（二錢）　黃蘗（半錢）　升麻（七分）　甘草（炙，半錢）</p>
<p>上件㕮咀，好糯米酒一盞半，水一大盞半，同煎至一大盞，去滓，大溫服，空心宿食消盡服之，待少時，以早膳壓之，使不令大熱上攻中上二焦也。</p>
<p>尹老家寒，己酉歲十月初，有仲冬之寒，形志皆苦，於手陽明大腸經分出癰，第四日稠膿，幼小有㿗疝，其臂外皆腫痛甚，先腫在陽明，左右寸皆短，中得之倶弦，按之洪緩有力。此癰得自八風之變，以脈斷之，邪氣在表。其證大小便如故，飲食如常，腹中和，口知味，知不在裏也。不惡風寒，只熱躁，脈不浮，知不在表也。表裏既和，邪氣在經脈之中也。故云凝於經絡為瘡癰。其癰出身半以上，故風從上受之。故知是八風之變為瘡，只經脈之中也。治其寒邪，調和經中血氣，使無凝滯則已矣。</p>
<p>白芷升麻湯</p>
<p>白芷（七分）　升麻（半錢）　甘草（一分）　黃芩（二錢，酒製）　生黃芩（一錢半）　黃耆（二錢）　桔梗（半錢）　紅花（少許）</p>
<p>上㕮咀，作一服，水酒各一大盞半，同煎至一盞，去滓，大溫服，臨臥，一服而愈。</p>
<p>賈德茂，男，年十歲，丁未四月十一日，於左大腿近膝股出附骨癰，不變肉色，漫腫皮澤，木硬，瘡勢甚大。其左腳乃肝之髀上也，更在足厥陰肝經之分，少侵足太陰脾經之分。其脈左三部細而弦，按之洪緩微有力。</p>
<p>內托黃耆柴胡湯</p>
<p>黃耆（二錢）　柴胡（一錢）　羌活（半錢）　連翹（一錢三分）　肉桂（三分）　土瓜根（一錢，酒製）　生地黃（一分）　黃蘗（二分）　當歸尾（七分半）</p>
<p>上件㕮咀，作一服，水三盞、酒一盞，同煎至一盞，去滓，熱服，宿食消盡服，一服而愈。</p>
<p>內托羌活湯　治足太陽經中，左右尺脈俱緊，按之無力，尻臀生癰，堅硬腫痛大作。</p>
<p>羌活（二錢）　防風（一錢）　藁本（一錢）　肉桂（三分）　黃蘗（二錢，酒製）　連翹（半錢）　甘草（炙，半錢）　當歸尾（一錢）　黃耆（一錢半）　蒼朮（半錢）　橘皮（半錢）</p>
<p>上件㕮咀，都作一服，水二大盞，酒一盞，煎至一盞半，去滓，熱服，空心，以夾衣蓋覆其癰，使藥力行罷去衣，一服則愈。</p>
<p>內托升麻湯　治婦人兩乳間出黑頭瘡，瘡頂陷下作黑眼子，其脈弦洪，按之細小。</p>
<p>升麻（一錢半）　葛根（一錢半）　連翹（一錢半）　肉桂（三分）　黃耆（一錢）　當歸身（一錢）　黍粘子（半錢）　黃蘗（一分）　甘草（炙，一錢）</p>
<p>上件㕮咀，都作一服，水二盞，酒半盞，同煎至一盞，去滓，食後溫服。</p>
<p>救苦化堅湯　治瘰癧、馬刀、挾癭，從耳下或耳後下頸至肩上，或入缺盆中，乃手、足少陽之經分，其瘰癧在於頦下或至頰車，乃足陽明之分受心脾之邪而作也，今將二證合而治之。</p>
<p>升麻（一錢）　葛根（半錢）　真漏蘆（一錢）　此三味，俱足陽明本經藥也。</p>
<p>連翹（一錢）　此一味，十二經瘡藥中不可無，乃結者散之，能散諸血結氣聚，此瘡之神藥也，此半溫涼之氣味中聖藥也。</p>
<p>牡丹皮（三分，出腸胃中留血、滯血）　當歸身（三分）　熟地黃（三分）</p>
<p>此三味，諸經中和血、生血、涼血藥也。</p>
<p>黃耆（一錢）　護皮毛，閉腠理虛及活血脈生血，亦瘡家聖藥，又能補表之元氣消少而弱也。</p>
<p>白芍藥（三分）　如夏日倍之，其味酸，其氣寒，能補中，益肺氣之氣弱，治腹中痛必用之。如冬寒證不可用之，為寒氣故也。又治腹中不和，此乃散而不收，故用芍藥味酸以收散氣。</p>
<p>肉桂（二分，大辛熱）　能散結積，陰證瘡瘍須當少用之，以寒因熱用，又為寒氣侵其瘡，以大辛熱以消浮凍之氣，如有煩躁者去之，陰證瘡必須用。</p>
<p>柴胡（八分，功同連翹，如瘡不在少陽經則去之）　黍粘子（三分，無腫不用）</p>
<p>羌活（一錢）　獨活（半錢）　防風（半錢）　此三味，必關手、足太陽證，脊痛項強，不可回顧，腰似折，項似拔者是也。其防風一味辛溫，若瘡在膈以上，雖無手、足太陽經證，亦當用之，為能散結去上部風。病人身拘急者，風也。諸痛見此證亦須用。</p>
<p>昆布（二分）　其味大醎，若瘡堅硬者所宜用，為醎軟堅。</p>
<p>廣荗（三分，煨）　京三稜（二分一，煨）　若瘡堅硬甚者用，不甚堅硬勿用之，為堅者削之。</p>
<p>人參（三分）　補肺氣之藥也，如氣短、氣不調及喘者可加之。</p>
<p>益智仁（二分）　如唾多者，胃不和也，或病人吐沫、吐食，胃土寒者加之，無則去之。</p>
<p>厚朴（薑製，一錢二分）　如腹時見脹者加用之，無則勿用。</p>
<p>麥蘗麹（一錢）　治腹中縮急，兼能消食補胃。</p>
<p>麹末（炒黃，二分）　為食不能消化故也。</p>
<p>甘草（炙，半錢）　能調中和諸藥，瀉火益胃，亦能去瘡邪。</p>
<p>黃連（去須，二分）　以治煩悶。</p>
<p>黃蘗（炒，三分）　如有熱，或腿腳無力者加之，如有躁煩欲去衣者，腎中伏火也，更宜加之，無此證勿用。</p>
<p>上件同為細末，湯浸蒸餅和，捻作餅子，日乾，搗如米粒，每服秤二錢或三錢，白湯送下，量病人虛實，臨時斟酌，勿令藥多妨其飲食，此治之大法也。</p>
<p>如只在陽明分，為瘰癧者，去柴胡、黍粘子二味，餘皆用之；如在少陽分，為馬刀、挾癭者，去獨活、漏蘆、升麻、葛根，更加瞿麥穗三分；若氣不順，加橘皮，甚者加木香少許。</p>
<p>若本人素氣弱，現患之病，其病勢來時氣盛而不短促者，不可考其平素，宜作氣盛，而從病變之權也，更宜加黃芩、黃連、黃蘗、知母、防己之類，視邪氣在上、中、下三焦。假令在於上焦，加黃芩，一半酒製、一半生用；在中焦者，加黃連，一半酒製、一半生用；在下焦，則加酒製知母、酒製黃蘗、酒製防己之類，選而用之。</p>
<p>若病不大便，為大便不通而滋其邪盛也，急加酒製大黃以利之；如血燥而大便乾燥者，加桃仁、酒製大黃二味；如風結燥不行者，加麻子仁、大黃；如風澀而大便不行，加煨皂角仁、大黃、秦艽以利之；如脈澀，覺身有氣澀，而大便不通者，加郁李仁、大黃以除氣燥也。</p>
<p>如陰寒之病，為寒結閉而不大便，以《局方》中半硫丸或加煎附子、乾薑，冰冷與之。大抵用藥之法，不惟瘡瘍一說，諸疾病，量人素氣弱者，當去苦寒之藥，多加人參、黃耆、甘草之類，瀉火而先補元氣，餘皆仿此。</p>
<p>散腫潰堅湯　治馬刀瘡，結硬塊子，堅如石者，在耳下至缺盆中，或至肩上，或入脅下，皆手、足少陽經中，及瘰癧遍於頦或至頰車，堅硬如石，在足陽明經中所出，或二證瘡已破，流膿水，并皆治之。</p>
<p>柴胡（四錢）　升麻（三分）　草龍膽（半兩，酒製炒，各四遍）　黃芩（八錢，酒製一半，生用一半）　炙甘草（二錢）　桔梗（半兩）　連翹（三錢）　瓜蔞根（半兩，切碎，酒製）　當歸尾（二錢）　白芍藥（二錢）　黃蘗（酒製，去皮，半兩）　酒知母（先銼，酒製，半兩）　葛根（二錢）　黃連（一錢）　京三稜（三錢，酒製微炒）　廣荗（三錢，銼碎，酒製，微炒）　昆布（去土，半兩）</p>
<p>上件㕮咀，每服秤六錢或七錢，水二盞八分，先浸多半日，煎至一盞，去渣，熱服，於臥處身腳在髙處，頭低垂，每噙一口作十次咽，服畢依常安臥，取藥在膈上停蓄故也。另攢半料作極細末，煉蜜為丸，如綠豆大，每服一百丸或一百五十丸，用此湯一口送下，食後服之，藥多少量病人虛實，應服藥皆效此例。</p>
<p>升麻調經湯　治頦下或至頰瘰癧，此證出足陽明胃之經中來也。若瘡深遠，隱曲肉底，是足少陰腎中來也，乃戊胃傳癸腎，是夫傳與妻，倶作塊子堅硬，大小不等，并皆治之，或作丸服亦得。</p>
<p>升麻（八錢）　葛根（五錢）　草龍膽（酒製炒，半兩）　黃芩（削去皮，酒製，半兩）　當歸尾（三錢）　桔梗（半錢）　連翹（半兩）　芍藥（三錢）　黃蘗（去皮，酒炒，二錢）知母（酒炒，一兩）　黃連（去須，五錢）　廣荗（酒炒，五錢）　京三稜（五錢，碎切，酒炒炙）　甘草（半兩）　生黃芩（四錢）</p>
<p>上件另秤一半作末，蜜為丸，如綠豆大，每服百丸或一百五十丸；一半多作㕮咀，每服秤半兩，若能食便硬，可旋加之至七八錢止，水二盞，先浸多半日，煎至一盞，去渣，臨臥熱服，腳髙頭下而臥，噙一口，作十次咽，留一口在後，送下丸子藥，服藥畢，臥如常，此制之緩也。</p>
<p>連翹散堅散　治耳下至缺盆或至肩上生瘡，堅硬如石，動之無根，名曰馬刀，從手、足少陽經中來也，或生兩脅，或已流膿作瘡，未破皆治之。</p>
<p>柴胡（一兩二錢）　連翹（半兩）　當歸尾（半兩，酒製）　芍藥（三錢）　土瓜根（一兩，酒炒）　炙甘草（三錢）　草龍膽（酒製四次，一兩）　生黃芩（半兩）　蒼朮（二錢）黃芩（酒炒二次，七兩）　黃連（二錢，酒炒二次）　廣荗（半兩）　京三稜（細銼，半兩，同廣荗酒製一次，微炒乾）</p>
<p>上件秤一半為細末，煉蜜為丸，如綠豆大，每服一百丸或一百五十丸，另一半㕮咀，每服半兩，水一盞八分，浸多半日，煎至一盞，去渣，臥時熱服，頭下腳髙，去枕而臥，每口作十次咽，留一口送下丸子藥，服畢，臥如常，亦緩治之。</p>
<p>項上瘰癧、馬刀，將先出一瘡用四稜鐵環按定不令走，後作口子，以油藥紙捻紝之，勿令合了，以絕其瘡之源，其效甚速。如瘡不破，或本人不肯，更以龍泉散塗。</p>
<p>龍泉散方　瓦粉　龍泉粉（各半兩，炒，半潤濕，另研）　昆布（去土，三錢或五錢）　廣荗　京三稜（各半兩，酒製，銼碎炒）</p>
<p>上件同為細末，煎熟水調塗之，用此去疾尤速，一二日一易之。</p>
<p>柴胡連翹湯　治男子、婦人馬刀瘡。</p>
<p>柴胡（半兩）　黍粘子（二錢）　中桂（三分）　連翹（五錢）　瞿麥穗（六錢）　甘草（炙，三錢）　生地黃（三錢）　當歸尾（一錢半）　黃蘗（三錢，酒製）　知母（半兩，酒製）　炒黃芩（半兩）</p>
<p>上件㕮咀，如麻豆大，每服秤五錢或二錢，水二大盞，煎至一盞，去渣，稍熱服，食後時時服之。</p>
<p>黍粘子湯　治耳痛生瘡。</p>
<p>桔梗（半兩）　柴胡（三分）　連翹（二分）　黍粘子（二分）　當歸尾（二分）　黃芩（二分）　生地黃（二分）　黃耆（三分）　炙甘草（二分）　黃連（二分）　草龍膽（一分）　昆布（一分）　蒲黃（一分）　蘇木（一分）　桃仁（三個）　紅花（少許）　生甘草（一分）</p>
<p>上件㕮咀，如麻豆大，都作一服，水二盞，煎至一盞，去渣，稍熱服，食後，忌寒藥利大便。</p>
<p>連翹防風湯　治皮癢，腋下瘡，背上瘡，耳聾、耳鳴。</p>
<p>麻黃（一錢）　桂枝（二分）　草豆蔻（一錢）　當歸尾（七分）　紅花（少許）　羌活（一錢）　防風（一錢）　柴胡（一錢）　升麻（半錢）　連翹（半錢）　桔梗（半錢）　甘草（半錢）　生地黃（半錢）　酒黃芩（一錢）　蒼朮（一錢）</p>
<p>上件銼，如麻豆大，都作一服，水二大盞，煎至一盞，去滓，稍熱服之。</p>
<p>消腫湯　治馬刀瘡。</p>
<p>柴胡（二錢）　連翹（三錢）　當歸尾（一錢）　紅花（少許）　甘草（一錢）　生黃芩（二錢）　黃連（半錢）　瓜蔞根（一錢半）　黍粘子（半錢，炒）　黃耆（一錢半）</p>
<p>上件，每服秤半兩，水二大盞，煎至一盞，去滓，稍熱服，食後，忌酒濕𬹃。</p>
<p>柴胡通經湯　治小兒項側有瘡，堅而不潰，名曰馬刀。</p>
<p>柴胡（二分）　連翹（二分）　當歸尾（二分）　紅花（少許）　黃連（五分）　黃芩（二分）　生甘草（二分）　黍粘子（二分）　桔梗（二分）　京三稜（二分）</p>
<p>上件㕮咀，麻豆大，都作一服，水二大盞，煎至一盞，去滓，稍熱服，食後，忌苦藥泄大便。</p>
<p>保生救苦散　治火燒，熱油所損，或至脫肌肉，及一切犬咬傷損，并刀斧所傷，及諸瘡血不止，如神。上此藥時，瘡口變黑色勿怪，待藥力盡，卻變紅和也。</p>
<p>生寒水石　大黃（火煨）　黃蘗（油炒，以上各等分）</p>
<p>上為細末，小油調塗之，若乾上亦得，其痛立止，與無瘡同，不作膿，無分毫苦楚，日近完復，久無破傷風證。</p>
<p>聖愈湯　治諸瘡，血出多而心煩不安，不得眠睡，此亡血故也。</p>
<p>熟地黃（三分）　生地黃（三分）　當歸身（半錢）　川芎（三分）　黃耆（半錢）　人參（三分）</p>
<p>上件㕮咀，都作一服，水一大盞半，煎至一盞，去滓，稍熱服，不計時候。</p>
<p>一上散　治諸般疥癬必效。</p>
<p>雄黃（通明，手可碎，五錢）　熟硫黃（半兩）　斑蝥（三個，去翅足，研碎）　黑狗脊（五錢）　寒水石（五錢）　蛇床子（半兩，炒）</p>
<p>上另研雄黃、硫黃、寒水石如粉，次入斑蝥和勻，蛇床子、黑狗脊另為細末，同研勻。凡疥癬令湯透去痂，油調手中擦熱，鼻中嗅三兩次，擦上，可一上即愈也。如痛甚腫滿髙起者，加寒水石一倍；如不苦癢，只加狗脊；如微癢，只加蛇床子；如瘡孔中有蟲，加雄黃；如喜火炙湯燙者，加硫黃，即臭不止，亦可愈也。</p>
<p>柳枝當歸膏　貼一切熱瘡。</p>
<p>當歸尾（尖細，稍水浸，一兩）　杏仁（浸去皮尖，一百個）　黃丹（細研，水飛，六兩）　肥嫩柳枝（三兩半，切如一寸，水洗淨，令乾）　肥嫩桃枝（一兩半，洗淨，令乾）芝麻油（一斤）</p>
<p>上件，先令油熱，下桃柳枝熬令半焦，以綿裹當歸、杏仁，同熬至桃柳枝黑焦為度，去藥渣，濾油，澄淨，抹去銚子中滓穢，令淨，再上火令沸，旋旋入黃丹熬，滴水中不散為度，或只於紙上攤，令不透紙為度。</p>
<p>桃枝當歸膏　貼一切惡瘡。</p>
<p>當歸身（去細梢，洗去土，乾，一兩）　杏仁（湯浸，去皮尖，一百個）　肥嫩柳枝（三兩半，切寸許，水洗，乾）　肥嫩桃枝（一兩半，切寸許，水洗，乾）　黃丹（水飛，六兩）　芝麻油（一斤）</p>
<p>上件，先令油熱，下桃枝、柳枝，令半焦，以綿裹當歸、杏仁，同熬至桃枝、柳枝黑焦為度，去藥滓，濾油，澄淨，抹出銚子中滓穢令淨，再上火令沸，旋旋入黃丹，熬成滴水中不散為度，或只攤紙上，不透為度。</p>
<p>奪命膏　專治疔瘡石硬，始終皆大寒證。</p>
<p>當歸尾（一兩）　木鱉子（去皮，五個）　巴豆（去殼，肥者，二十三枚）　桃枝（寸許，一百一十莖）　沒藥（三錢）　黃丹（五兩）　蓖麻子（去殼，二十個）　粉霜（半兩）　白及（三錢半）　乳香（三錢）　藁本（半兩）　杏仁（七十個）　柳枝（寸許，六十莖）　芝麻油（一斤）</p>
<p>上件一處，先將桃、柳枝下在油內，煮焦，取出不用，次下餘藥物，熬至焦黑，濾去滓，卻將油澄清，上火令沸，旋旋入黃丹，熬成膏藥，緋絹上攤之，立有神效。如寒證去，其瘡不任此藥作痛，換柳枝膏貼。大抵膏藥，只可護衛皮膚，行瘡口上氣血而已，使氣血周流而無凝滯，乃上法也。既經絡行，必無疼痛，易為痊瘳矣。</p>

<h3>治瘡脈訣</h3>
<p>身重脈緩，濕勝，除濕；身熱脈大，心躁時腫，乍來乍去，熱；諸痛，眩運動搖，脈弦，去風；氣澀、氣滯乾燥，口少津液，脈澀，瀉氣補血。寒勝則浮，食不入，便溺濁多，惡寒，脈緊細，瀉寒水。</p>
<p>破毒散　治便毒、橫痃已成、未成，隨即消散，應效如神。</p>
<p>滑石末（三錢）　斑蝥（炒，去頭、足、翅，三個，為末）</p>
<p>上二件和勻，分作三服，空心食前，一日服畢，少用茶湯調下，毒氣俱從小便中出。如小便疼痛，濃煎車前子、木通、燈心、澤瀉湯，頓服即已。</p>

<h1>卷四</h1>

<h2>婦人門</h2>

<h3>經閉不行有三</h3>
<p>《陰陽別論》云：二陽之病發心脾，有不得隱曲，女子不月，其傳為風消、為息賁者，死不治。婦人脾胃久虛，或形羸氣血俱衰，而致經水斷絕不行，或病中消，胃熱，善食漸瘦，津液不生。夫經者，血脈津液所化，津液既絕，為熱所爍，肌肉消瘦，時見渴燥，血液枯竭，病名曰血枯經絕，宜瀉胃之燥熱，補益氣血，經自行矣。此證或經適行而有子，子不安為胎病者有矣；或心包脈洪數，躁作時見，大便秘澀，小便雖清不利，而經水閉絕不行，此乃血海乾枯，宜調血脈、除包絡中火邪，而經自行矣。《內經》所謂小腸移熱於大腸，為癥瘕、為沉。脈澀不利，則月事沉滯而不利。故云為癥瘕、為沉也。或因勞心，心火上行，月事不來，安心補血瀉火，經自行矣。故《內經》云：月事不來者，胞脈閉也。胞脈者，屬心而絡於胞中，今氣上迫肺心，氣不得下，故月事不來也。</p>

<h3>經閉治驗</h3>
<p>裴澤之之夫人，病寒熱而月事不至者數年矣，已加喘嗽，醫者率以蛤蚧、桂、附等投之。曰：不然。夫人病，陰為陽所搏，溫劑太過，故無益而反害，投以涼血和血之藥，則經行矣，已而果然。</p>

<h3>經漏不止有三</h3>
<p>《陰陽別論》云：陰虛陽搏謂之崩。婦人脾胃虛損，致命門脈沉細而數疾，或沉弦而洪大有力，寸關脈亦然，皆由脾胃有虧，下陷於腎，與相火相合，濕熱下迫，經漏不止，其色紫黑，如夏月腐肉之臭。中有白帶者，脈必弦細，寒熱作於中；中有赤帶者，其脈洪數疾，熱明矣，必腰痛或臍下痛，臨經欲行，先見寒熱往來，兩脅縮急，兼脾胃證出現，或四肢困熱，心煩不得眠臥，心下急，宜大補脾胃而升舉血氣，可一服而愈。或人故貴脫勢，人事疏少；或先富後貧，心氣不足，其火大熾，旺於血脈之中，又致脾胃飲食失節，火乘其中，形質、肌肉、容顏似不病者，此心病不行於診，故脾胃飲食不調，其證顯矣。而經水不時而下，或適來適斷，暴下不止，當先說惡死之言，勸諭令拒死而心不動，以大補氣血之藥，舉養脾胃，微加鎮墜心火之藥治其心，補陰瀉陽，經自止矣。《痿論》云：悲哀太甚則胞絡絕，胞絡絕則陽氣內動，發則心下崩，數溲血也。故本病曰大經空虛，發則肌痹，傳為脈痿，此之謂也。</p>

<h3>崩漏治驗</h3>
<p>宣德侯經歷之家人，病崩漏，醫莫能效，切脈。且以紙疏其證，至四十餘種，為藥療之，明日而二十四證減，前後五六日，良愈。侯厚謝而去。凡治設施，皆此類也。</p>
<p>調經升陽除濕湯　治女子漏下惡血，月事不調，或暴崩不止，多下水漿之物，皆由飲食失節，或勞傷形體，或素有心氣不足。因飲食勞倦，致令心火乘脾，其人必怠惰嗜臥，四肢不收，困倦乏力，無氣以動，氣短上氣，逆急上衝，其脈緩而弦，急按之洪大，皆中指下得之，脾土受邪也。脾主滋榮周身者也；心主血、血主脈，二者受邪，病皆在脈。脈者，血之府也。脈者，人之神也。心不主令，包絡代之，故曰心之脈主屬心系。心系者，包絡、命門之脈。至月事因脾胃虛而心包乘之，故漏下月水不調也。況脾胃為血氣、陰陽根蒂，當除濕去熱，益風氣上伸以勝其濕。又云，火欎則發之。</p>
<p>柴胡　羌活（各半錢）　防風（一錢）　蔓荊子（七分）　獨活（半錢）　蒼朮（一錢半）　甘草（炙，一錢）　升麻（一錢）　藁本（一錢）　當歸（酒製，半錢）　黃耆（一錢半）</p>
<p>上㕮咀，如麻豆大，勿令作末，都作一服，以潔淨新汲水五大盞，煎至一盞，去滓，空心腹中無宿食，熱服之，待少時，以早飯壓之，可一服而已。如灸足太陰脾經中血海穴二七或三七壯，立已。此藥乃從權之法，用風勝濕，為胃下陷而氣迫於下，以救其血之暴崩也；并血惡之物住後，必須黃耆、人參、當歸之類數服以補之，於補氣升陽湯中加以和血藥便是也。若經血惡物下之不絕，尤宜究其根源，治其本經，只益脾胃，退心火之亢，乃治其根蒂也。若遇夏月白帶下，脫漏不止，宜用此湯，一服立止。</p>
<p>涼血地黃湯　治婦人血崩，是腎水陰虛，不能鎮守包絡相火，故血走而崩也。</p>
<p>生地黃（半錢）　黃連（三分）　黃蘗（二分）　黃芩（一分）　知母（二分）　羌活（三分）　柴胡（三分）　升麻（二分）　防風（三分）　藁本（二分）　當歸（半錢）　甘草（一錢）　細辛（二分）　荊芥穗（一分）　川芎（二分）　蔓荊子（一分）　紅花（少許）</p>
<p>上㕮咀，都作一服，水三大盞，煎至一盞，去渣，稍熱服，空心食前。足太陰脾之經中血海二穴，在膝髕上內廉白肉際二寸中，治女子漏下惡血，月事不調，逆氣腹脹，其脈緩是也，灸三壯。足少陰腎之經中陰谷二穴，在膝內輔骨後大筋下，小筋上，按之應手，屈膝取之，治膝如錐，不得屈伸，舌縱涎下，煩逆溺難，小腹急引陰痛，股內廉痛，婦人漏血不止，腹脹滿不得息，小便黃，如蠱，女子如妊娠，可灸二壯。</p>
<p>丁香膠艾湯　治崩漏不止。蓋心氣不足，勞役及飲食不節所得。經隔少時，其脈二尺倶弦緊時洪，按之無力，其證自覺臍下如冰，求厚衣覆以禦其寒，白帶白滑之物多，間有屋漏水下，時有鮮血，右尺脈時洪微也。屋漏水暴多下者，是急弦脈，寒多；如洪脈時見，乃熱少。合而明之，急弦者，北方寒水多也；洪脈時出者，是命門、包絡之火少也。黑物多，赤物少，合成屋漏水之狀也。</p>
<p>當歸身（一錢二分）　川芎（四分）　阿膠（六分，炮）　熟地黃（三分）　生艾葉（一錢）　白芍藥（三分）　丁香（四分）</p>
<p>上件，川芎為末，當歸酒洗銼，熟地黃亦銼，丁香為細末，艾銼，都作一服，用水五大盞，先煎五味作一大盞二分，去滓，入膠、艾再上火煎至一大盞，空心食前，帶熱服之。</p>
<p>丁未仲冬，郭大方說，其妻經水暴崩不止，先曾損身失血，自後一次經縮十日而來，今次不止，其人心窄，性急多驚，以予料之，必因心氣不足，飲食失節得之。大方曰：無。到彼診得掌中寒，脈沉細而緩，間而沉數，九竅微不利，四肢無力，上喘氣短促，口鼻氣皆不調，果有心氣不足，脾胃虛損之證，胃脘當心而痛及左脅下縮急有積，當臍有動氣，腹中鳴下氣，大便難，諸虛證極多，不能盡錄。擬先治其本，餘證可以皆去，與安心定志，鎮墜其驚，調和脾胃，益元氣，補血脈，養其神，以大熱之劑去其冬寒，寒凝在皮膚內，少加生地黃去命門相火，不令四肢痿弱。黃耆當歸人參湯主之。</p>
<p>黃耆當歸人參湯</p>
<p>黃耆（一錢）　當歸身（一錢半）　人參（一錢）　草豆蔻仁（六分）　炒麹（半錢）　黃連（一分）　生地黃（三分）　陳皮（半錢）　麻黃（不去節，一錢）　杏仁（五個，研）桂枝（半錢）</p>
<p>上㕮咀，分作二服，每服水二大盞半，煎麻黃令沸，去沫，煎至二盞，入諸藥，同煎至一大盞，於已午時之間，食消盡服之，一服立止。其胃脘痛乃胃土有客寒，與大熱藥草豆蔻丸十五丸，白湯送下，再與肝之積藥，除其積之根則愈。</p>
<p>當歸芍藥湯　治婦人經脈漏下不止，其色鮮紅，時值七月處暑之間，先因勞役脾胃虛損，氣短氣逆，自汗不止，身熱悶亂，惡見飲食，非惟不入亦不思飲食，沉困懶倦，四肢無力，大便時泄，後再因心氣不足，經脈再下不止，微覺氣下脫，其元氣逆上全無，惟覺心腹中氣下行，氣短少不能言，是無力以言，非懶語也，此藥主之。</p>
<p>黃耆（一錢半）　白朮　蒼朮　當歸身　白芍藥（各一錢）　熟地黃（半錢）　炙甘草　生地黃（各三分）　橘皮（五分）　柴胡（二分）</p>
<p>上十味㕮咀，如麻豆大，分作二服，每服水二盞半，煎至一盞，去滓，稍熱服，空心。一服之後，漸減，次日全住，諸證悉去，頓喜飲食。蓋天氣通，而聞飲食香，得平康故也。</p>
<p>柴胡調經湯　治經水不止鮮紅，項筋急，腦痛，脊骨強痛，不思飲食。</p>
<p>羌活（一錢）　獨活（半錢）　藁本（半錢）　蒼朮（一錢）　柴胡（七分）　升麻（半錢）　葛根（三分）　當歸身（三分）　炙甘草（三分）　紅花（少許）</p>
<p>上銼，如麻豆大，都作一服，水四大盞，煎至一盞，去滓，空心，稍熱服，取微汗立止。</p>
<p>一婦人，經候黑血凝結成塊，左廂有血瘕，水泄不止，榖有時不化，有時化，後血塊暴下，并水俱作，是前後二陰有形之血脫竭於下，既久，經候猶不調，水泄日見三兩行，食罷煩心不快，飲食減少，甚至瘦弱。求治，乃審而細思之曰：夫聖人治病，必本四時升降浮沉之理，權變之宜，必先歲氣，勿伐天和，無盛盛，無虛虛，遺人夭殃，無致邪，無失正，絕人長命。故仲景云：陽盛陰虛，下之則愈，汗之則死；陰盛陽虛，汗之即愈，下之即死。大抵聖人立法，且如升陽或發散之劑，是助春夏之陽氣，令其上升，乃瀉秋冬收藏殞殺寒涼之氣。此病是也，當用此法治之。升降浮沉之至理也，天地之氣以升降浮沉乃從四時，如治病不可逆之。故《經》云，順天者昌，逆天者亡，可不畏哉！夫人之身亦有四時天地之氣，不可只認在外，人亦體同天地也。今漏經不止，是前陰之氣血已脫下矣；水泄又數年，是後陰之氣血下陷已脫矣。後陰者，主有形之物也；前陰者，精氣之戶。下竭，是病人周身之氣血，常行秋冬之令，陰主殺，此等收藏之病是也。陽生陰長，春夏是也。在人之身，令氣升浮者，穀氣上行是也。既病，人周身氣血皆不生長，穀氣又不升，其肌肉消少，是兩儀之氣俱將絕。即下元二陰俱脫，血氣消竭。假令當是熱證，今下焦久脫，化為寒矣。此病久沉久降，寒濕大勝，當急救之。瀉寒以熱，除濕以燥，大升、大舉以助生長，補養氣血不致偏竭。聖人立治之法，既濕氣大勝，以所勝治之，助甲風木上升是也。故《經》云，風勝濕，是以所勝平之也。當先調和胃氣，次用白朮之類以燥其濕而滋元氣。如其不止，後用風藥以勝濕，此便是大舉、大升以助春夏二濕之久陷下之治也。</p>
<p>益胃升陽湯　血脫益氣，古聖人之法也。先補胃氣以助生發之氣，故曰陽生陰長，諸甘藥為之先務。舉世皆以為補氣，殊不知甘能生血，此陽生陰長之理也。故先理胃氣，人之身內榖為寶。</p>
<p>黃耆（二錢）　人參（一錢半，有嗽去之）　炙甘草（一錢）　升麻（半錢）　柴胡（半錢）　白朮（三錢）　當歸身（一錢，酒浸）　炒麹（一錢半）　陳皮（一錢）　生黃芩（瀉盛暑之伏，庚金肺逆，每服加少許，秋涼去之）</p>
<p>上件㕮咀，每服秤一錢或二錢，視食加減之，如食少，已定二錢內更減之，不可令勝食，每服水二大盞，煎至一盞，去滓，稍熱服。如腹中痛，每服加芍藥三分、去皮中桂少許；如渴或口乾，加乾葛二分，不計時候。</p>
<p>升陽舉經湯　治經水不止，如右尺脈按之空虛，是氣血俱脫，大寒之證；輕手其脈數疾，舉指弦緊或澀，皆陽脫之證，陰火亦亡，見熱證於口鼻眼，或渴，此皆陰躁陽欲先去也，當溫之、舉之、升之、浮之、燥之。此法當大升浮血氣，且補命門下脫也。</p>
<p>柴胡（二錢）　藁本（去土，二錢）　白朮（三錢）　黃耆（味甘者佳）　當歸身（各三錢）　紅花（少許）　肉桂（去皮，盛暑勿用，秋冬半錢）　桃仁（湯浸，去皮尖，十個，細研）　川芎（一錢）　細辛（六分）　地黃　人參（各一錢）　白芍藥（半錢）　羌活（二錢）　黑附子（炮去皮臍，五分）　獨活（一錢半）　防風（二錢）　甘草（一錢半）</p>
<p>上件㕮咀，每服秤三錢，若病勢順當，漸漸加之，至半兩止服，水三盞，煎至一盞，去滓，空心，稍熱服之。</p>

<h3>每日水泄三兩行米穀有時不化論</h3>
<p>凡泄痢，米穀不化謂飧泄，是清氣在下，胃氣不上升。古之聖人，以升浮扶持胃氣，一服而愈，知病在中焦脾胃也。又濕多成五泄。濕者，胃之別名也。病本在胃，故真氣弱。真氣者，穀氣也。不能尅化飲食，乃濕勝也。以此論之，只是脾胃弱所得也。初病之時，奪食或絕不食一二日，胃氣日勝，泄不作矣。今已成大泄。又云：治濕不利小便，非其治也。又云：下焦如瀆。又云：在下者，引而竭之。二陰有所積蓄，利於便，利去之也。唯此二證，不宜以此論之。其病得之於胃氣下流，清氣不升，陽道不行，宜升、宜舉，不宜利小便。頭有疾，取之足，為陽病在陰；足有疾，取之上，為陰病在陽也。《經》言陽病在陰，陰病在陽，此之謂也。中有疾，傍取之。傍者，少陽甲膽是也；中者，脾胃也。脾胃有疾，取之於足少陽。甲膽者，甲風是也，東方風也。胃中之穀氣者，便是風化也。一體休作兩認，故曰胃中濕勝而成泄瀉。助甲膽風勝以尅之，又是升陽助清氣上行者也。泄不止有五，經漏亦然。此皆清氣不升而作也，只合益胃助清氣上行為法。又一說，中焦元氣不足，溲便謂之變，腸為之苦鳴；亦緣春氣不升，故治甲風上升。又云風勝濕者是也。大抵此證，胃氣弱不能食，奪食則一二日可止也。奪食之理，為胃不能尅化，食下則為泄，如食不下何以作泄？當為藥滋養胃氣，令和，候泄止，漸與食，胃氣勝則安矣。若食不化者，升陽風藥內加炒麹同煎。兼食入頃心下痞，心下者，胃之口也，必口沃沫，或食入反出，皆胃上停寒，其左手關脈中弦，按之緩，是風濕相合，穀氣不行，清氣不升，為弦脈之寒所隔，故不下也。麹之大熱，亦能去之。若反胃者，更加半夏、生薑入於風藥內同煎。奪食、少食，欲使胃氣強盛也。若藥劑大，胃不能勝藥，泄亦不止，當漸與之。今病既久，已至瘦弱，當以常治法治之，不可多服藥餌，切囑之。人之肉如地土，豈可無之！消瘦人有必死者八般，《素問》中有七，《靈樞經》中有一。若病肌肉去盡，勿治，天命已矣。如肌肉不至消瘦盡，當急療之，先當食而益胃氣與升陽，先助其氣，次用風藥以助升騰之氣，可以已矣。餘皆勿論，此治之上也。</p>

<h3>半產妄用寒涼藥有誤論</h3>
<p>婦人分娩及半產漏下，昏冒不省，瞑目不知覺，蓋因血暴亡。有形血去，則心神無所養。心與包絡者，君火與相火也。得血則安，亡血則危，火之上熾故令昏冒，火乘其肺瞑目不省人事，是陰血暴去不能鎮撫也。血已虧損，往往用滑石、甘草、石膏之類，乃辛甘大寒之藥，能瀉氣中之熱，是血虧瀉氣，乃陰虧瀉陽，使二者倶傷，反為不足。虛勞之病，昏迷不省者，上焦心肺之熱也。此無形之熱，用涼寒之藥驅令下行，豈不知上焦之病，悉屬於表，乃陰證也，汗之則愈；今反下之，幸而不死，暴虧氣血，生命豈能久活。又不知《內經》有說，病氣不足，宜補不宜瀉。但瞑目之病，悉屬於陰，宜汗不宜下。又知傷寒欎冒，得汗則愈，是禁用寒涼藥也。分娩、半產，本氣不病，是暴去其血，亡血補血又何疑焉？補其血則神昌，常時血下降亡，今當補而升舉之，心得血而安神不昏矣。血若不下，是秋冬之令大旺，今舉而升之，以助其陽，則目開神不昏迷矣。今立一方，補血養血，生血益陽，以補手、足厥陰之不足，名曰全生活血湯。</p>
<p>全生活血湯</p>
<p>柴胡（二錢）　當歸身（酒製，二錢）　生地黃（一錢，夏月加之）　熟地黃（一錢）　川芎（一錢半）　防風（二錢）</p>
<p>諸陽既陷何以知之？血下脫也。</p>
<p>細辛　蔓荊子（各五分）　藁本（一錢半）　羌活　獨活（各二錢）　升麻（三錢）　葛根（二錢）　白芍藥（三錢）　炙甘草（二錢）　紅花（三分）</p>
<p>上件，㕮咀，如麻豆大，每服五錢，水二盞，煎至一盞，去滓，稍熱服，食前。</p>

<h3>㿗疝帶下論</h3>
<p>《脈解論》云，厥陰所謂㿗疝，婦人少婦腫者是也。厥陰者，辰也。三月陽中之陰，邪在中故曰㿗疝，小腹腫也。所謂腰脊痛不可以俯仰者，三月一振榮華，乃物一俯而不仰也。所謂㿗癃疝腹脹者，陰亦盛而脈脹不通，故云㿗癃疝也。所謂甚則嗌乾熱中者，陰陽相薄則熱，故嗌乾也。《骨空論》云：任脈者，起於中極之下，以上毛際，循腹裏，上關元，至咽喉，上頤循面入目。任脈為病，男子內結七疝，女子帶下瘕聚。又督脈者，起於少腹以下骨中央，女子繫廷孔，其孔，溺孔之端也，其絡循陰器合纂間，繞纂後，別繞臀，至少陰，與巨陽中絡者，合少陰上股內後廉，貫脊屬腎，與太陽起於目內眥，上額交巔上，入絡腦，還出別下項，循肩膊內，挾脊抵腰中，入循膂絡腎；其男子循莖下至纂，與女子等，其少腹直上者，貫臍中央，上貫心入喉，上頤環唇，上繫兩目之下中央。此生病，從少腹上衝心而痛，不得前後，為衝疝。其女子不孕，癃痔遺溺嗌乾。督脈生病治督脈，治在骨上，甚者在臍下營。（《黃帝針經》六卷五色第四：）痛下為卵痛，腎乘心，心先病，腎為應色皆如是。男子色在於面王，為小腹痛，下為卵痛，其環直為莖痛，髙為本，下為首，狐疝㿉陰之屬也；女子色在於面王，為膀胱、子處之病，散為痛，搏為聚，方圓左右，各如其形色。其隨而下至胝為淫，有潤如膏狀，為暴食不潔。左為左，右為右，其色有邪，聚空不端，面色所指者也。色者，青黑赤白黃，皆端滿有別鄉。別鄉赤者，其色赤，大如榆英，在面王為不月。其色上銳，首空上向，下銳下向，在左右如法。以五色命臟，青為肝，赤為心，白為肺，黃為脾，黑為腎。肝合筋，心合脈，肺合皮，脾合肉，腎合骨也。夫手、足厥陰者，生化之源也。足厥陰主肝木，肝藏血；手厥陰命門、包絡相火，男子藏精施化，婦人繫胞有孕。生化雖異，受病則同。女子二七而天癸至，任脈通，太衝脈盛，月事以時下，故有子，皆主生化。如病則㿗疝帶下之病作矣。叔和云，尺脈第三同斷病者是也。</p>
<p>酒煮當歸丸　治㿗疝、白帶下注、腳氣、腰以下如在冰雪中，以火焙乾重重厚綿衣蓋其上，猶寒冷，不任寒之極也。面白如枯魚之像，肌肉如刀刮削，瘦峻之速也。小便不止，與白帶常流而不禁固，自不知覺，面白，目青藍如菜色，目䀮䀮無所見，身重如山行，步欹側不能安地，腿膝枯細，大便難，閉口不能言，無力之極，食不下，心下痞，煩心懊憹，不任其苦，面停垢，背惡寒，此上、中、下三陽真氣俱虛欲竭，噦嘔不止。胃虛之極也。其脈沉厥緊而澀，按之空虛。若脈洪大而澀，按之無力，猶為中寒之證，況按之空虛者乎！按之不鼓是謂陰寒，其空虛乃血氣俱虛之極也。</p>
<p>當歸（一兩）　茴香（半兩）　良薑（七錢）　黑附子（七錢）</p>
<p>上四味銼，如麻豆大，以上等好酒一升半，同煎至酒盡，焙乾。</p>
<p>炒黃鹽（三錢）　丁香（半兩）　全蝎（三錢）　柴胡（二錢）　升麻　木香（各一錢）　苦楝（生用）　炙甘草（各半兩）　玄胡（四錢）</p>
<p>上與前四味藥同為細末，酒煮白𬹃糊為丸，如梧桐子大，每服五七十丸，空心，宿食消盡，淡醋湯送下，忌酒濕𬹃、油膩物。</p>
<p>固真丸　治白帶久下不止，臍腹冷痛，陰中亦然，目中溜火壅其上，視物䀮䀮然無所見，牙齒惡熱飲，痛須得黃連細末擦之乃止，唯喜乾食，大惡湯飲。此病皆寒濕乘其胞內，故喜乾而惡濕。肝經陰火上溢，走於標故上壅，而目中溜火。腎水浸肝而上溢，致目䀮䀮而無所見。齒惡熱飲者，是少陽、陽明經伏火也。</p>
<p>白石脂（一錢，以火燒赤，水飛，研細，日乾）　乾薑（炮，四錢）　黃蘗（酒製）　白芍藥（各半錢）　白龍骨（二錢）　柴胡（一錢）　當歸身（酒製，二錢）</p>
<p>前證乃寒濕為之也，治法當大瀉寒濕，以丸子藥治之。故曰寒在下焦，治主病宜緩以制大，忌湯劑。以白石脂、白龍骨以枯其濕，以炮乾薑大辛熱瀉寒水，以黃蘗之大寒為因用，又為嚮導。故云，古者雖有重罪，不絕人之後，亦為之伏其所主，先其所因之意。又瀉齒中惡熱飲也，以柴胡為本經之使，以芍藥半錢導之，恐辛熱之藥大甚，損其肝經，故微瀉之，以當歸身辛溫，大和其血脈，此用藥之法完備矣。</p>
<p>上件，除石脂、龍骨水飛研外，同為極細末，水煮稀𬹃糊為丸，如雞頭仁大，日乾，空心，候宿食消盡，煎百沸湯，令大溫，多用送下，無令胃中停滯，待少時以早膳壓之，是不令熱藥犯胃也。忌生冷硬物、酒與濕𬹃。</p>
<p>白文舉正室，白帶常漏久矣，諸藥不效，診得心包尺脈微，其白帶下流不止。叔和云：崩中日久為白帶，滑下多時骨木枯。言崩中者，始病血崩，久則血少復亡其陽，故白滑之物下流不止，是本經血海將枯，津液復亡，枯乾不能滋養筋骨。以本部行經藥為引用、為使，以大辛甘油膩之藥潤其枯燥而滋津液；以大辛熱之氣味藥補其陽道，生其血脈；以苦寒之藥泄其肺而救上；熱傷氣，以人參補之；以微苦溫之藥為佐而益元氣，名之曰補經固真湯。</p>
<p>補經固真湯</p>
<p>柴胡　炙甘草（各一錢）　乾薑（細末，二錢）　橘皮（半錢）　人參（二錢）　郁李仁（一錢，研如泥）　白葵花（去萼，四分）　生黃芩（一錢，另入）</p>
<p>上件，除黃芩外，以水三盞，煎至一盞七分，再入生黃芩同煎至一盞，去滓，空心，無宿食滯，熱服，少時，以早膳壓之。</p>
<p>升麻燥濕湯　治白帶下，陰戶痛，控心急痛，身黃皮緩，身如山重，陰中如冰。</p>
<p>防風（一錢）　柴胡（一錢三分）　良薑　乾薑（各一錢）　橘皮（半錢）　白葵花（七朵）　生黃芩（半錢）　郁李仁　甘草（各一錢）</p>
<p>上件銼，如麻豆大，分作二服，每服水二盞，煎至一盞，去滓，稍熱服，食前，少時，以美膳壓之。</p>
<p>當歸附子湯　治臍下冷痛，赤白帶下。</p>
<p>良薑　乾薑　附子（以上各一錢）　柴胡（七分）　升麻（半錢）　炙甘草（六分）　當歸（二分）　蝎梢（半錢）　炒鹽（三分）　黃蘗（少許為引用）</p>
<p>上為粗末，每服五錢，水五盞，煎至一盞，去滓，稍熱服；或為細末，酒糊作丸亦得。</p>
<p>調經固真湯　冬後一月，微有地泥冰泮，其白帶再來，陰戶中寒，立此方一服而愈。</p>
<p>麻黃（不去節，五分）　杏仁（二個）　桂枝（少許）　炙甘草（五分）　黃耆（七分）　人參　當歸身（各五分）　高良薑（一錢）　白朮（五分）　蒼朮（二分）　澤瀉　羌活（各一錢）　防風（二分）　柴胡（四分）　獨活　藁本（各二分）　生黃芩（五分）　乾薑（炮，二分）　白葵花（七朵，去萼）</p>
<p>上件㕮咀，如麻豆大，除黃芩、麻黃各另外，都作一服，先以水三大盞半，煎麻黃一味，令沸，掠去沫，入餘藥同煎至一盞七分，再入生黃芩，煎至一盞，去滓，空心，宿食消盡，日高時熱服之，待一時許可食早飯。</p>
<p>桂附湯　治白帶腥臭，多悲不樂，大寒。</p>
<p>肉桂（一錢）　附子（三錢）　黃蘗（半錢，為引用）　知母（半錢）</p>
<p>上件㕮咀，都作一服，水二盞，煎至一盞，去滓，稍熱服，食遠。如不思飲食，加五味子二十個，如煩惱，面上麻如蟲行，乃胃中元氣極虛，加黃耆一錢半、人參七分、炙甘草半錢、升麻半錢。</p>
<p>戊甲春，一婦人，六十歲，病振寒戰慄（太陽寒水客也），呵欠嚏噴（足少陽溢也），口亡津液（足陽明不足也），心下急痛而痞（手少陰受寒也，故急痛，足太陰血滯為痞），身熱近火（熱在皮表，寒在骨髄，亦有振寒戰慄也），臍下惡寒（丹田有寒也），渾身黃而白睛黃（寒濕也，以餘證之，知其寒也），溺黃赤而黑、頻數（寒濕勝也），自病來，身重如山，便著床枕（至陰濕盛也），其脈診得左右關并尺命門中得弦而急，極細，雜之以洪而極緩（弦急為寒，加之以細，細者北方寒水，雜以緩甚者，濕勝出黃色也，又洪大者，心火受制也），左尺控之至骨，舉指來實者（壬癸俱旺也），六脈按之俱空虛（下焦無陽也）。先以輕劑去其中焦寒濕，兼退其洪大脈，理中湯加茯苓是也。</p>
<p>理中茯苓湯</p>
<p>白朮　乾薑　炙甘草　人參　茯苓（除寒濕，各三錢）</p>
<p>上件為細末，每服秤二錢，水一盞半，煎至一盞，冰之令寒服之，謂之熱因寒用，其寒以對足太陽之假熱也。以乾薑之辛熱以瀉其真寒也。故曰真對真、假對假。若不愈，當以朮附湯冰之令寒，以補下焦元氣也。</p>
<p>玄胡苦楝湯　治臍下冷，撮痛，陰冷大寒，帶下。</p>
<p>肉桂　附子（各三分）　熟地黃（一錢）　炙甘草（半錢）　苦楝子　玄胡（各二分）　黃蘗（一錢，為引用）</p>
<p>上都作一服，水四盞，煎至一盞，稍熱服，食前。</p>
<p>黃耆白朮湯　治婦人四肢沉重，自汗上至頭，劑頸而還，惡風，頭痛躁熱。</p>
<p>黃耆（一兩）　白朮（半兩）　黃蘗（酒製，二錢）　細辛（三分）　川芎（半錢）　吳茱萸（半錢）　羌活（二錢）　五味子（三錢）　人參（半兩）　炙甘草（二錢）　當歸身（一錢半）　柴胡　升麻（各一錢）</p>
<p>上件㕮咀，每服半兩，水二大盞，入生薑五片，煎至一盞，去滓，稍熱服，食前。如腹中不快，加炙甘草一錢；汗出不止，加黃蘗一錢。</p>
<p>增損四物湯　治婦人血積。</p>
<p>當歸　川芎　芍藥　熟地黃　廣荗　京三稜　肉桂　乾漆（炒煙盡，以上各等分）</p>
<p>上件為粗末，每服三錢，水二大盞，煎至一盞，去滓，稍熱服，食前。</p>
<p>柴胡丁香湯　一婦人，年三十歲，臨經預先腰臍痛，甚則腹中亦痛，經縮兩三日。</p>
<p>柴胡（一錢半）　羌活（一錢）　丁香（四分）　全蝎（一個）　防風　當歸身（各一錢）　生地黃（二分）</p>
<p>都作一服，水四盞，煎至一盞，去滓，稍熱服，食前。</p>
<p>坐藥龍鹽膏</p>
<p>丁香（一錢半）　全蝎（五個）　木香（一錢半）　良薑（一錢）　川烏頭（一錢半，炮）　枯礬（半錢）　龍骨（二錢）　茴香（三分）　當歸尾（一錢）　玄胡（五錢）　炒鹽（二錢）　漢防己（酒製，一錢）　厚朴（三錢）　紅豆　肉桂（各二錢）　木通（一錢）</p>
<p>上件為細末，煉蜜為丸，如彈子大，綿裹留絲在外，納丸藥陰戶內。</p>
<p>勝陰丹　為上藥力小，再取三錢，內加行性熱藥，下項：</p>
<p>三柰子　川烏頭　大椒（各半錢）　柴胡　羌活（各二分）　全蝎（三個）　蒜（七分）　甘松（二分）　破故紙（與蒜同煮，焙乾，八分）　升麻　枯白礬（各二分）　麝香（少許）</p>
<p>上為細末，煉蜜為丸，如彈子大，依前用度。</p>
<p>又方坐藥回陽丹</p>
<p>草烏頭（三分）　水蛭（三個，炒）　虻蟲（三個，去足翅，炒）　川烏頭（七分）　大椒（半錢）　柴胡（七分）　羌活　全蝎　升麻（各二分）　蒜　破故紙（各一錢）　三柰子　蓽撥（各半錢）　甘松（二分）　枯礬（半錢）　炒黃鹽（一錢，必用之藥）</p>
<p>上為極細末，煉蜜丸如指尖大，用綿裹定，留係，內陰戶中，覺臍下暖為度。</p>

<h3>孕婦有病毒之無損</h3>
<p>一婦人，重身五六月，冬至日，因祭祀而哭慟，口吸風寒，忽病心痛而不可忍，渾身冷，氣欲絕，求治於師。料之曰：此乃客寒犯胃，故胃脘當心而痛，急與麻黃、草豆蔻、半夏、乾生薑、炙甘草、益智仁之類治之。或曰：半夏有小毒，重身婦人服之可乎？師曰：可。或曰：不可，而用之何如？師曰：乃有故而用也。故麻黃、半夏、生薑之辛熱，以散風寒尚不能收全功，何暇損胎乎！《內經》云：婦人重身，毒之何如？岐伯曰：有故無損，故無損也。大積大聚，其可犯也，衰其大半而止，過則死矣。投之，病良愈，而胎亦無損。</p>

<h2>小兒門</h2>

<h3>癍疹論</h3>
<p>夫癍疹，始出之證，必先見面燥腮赤，目胞亦赤，呵欠煩悶，乍涼乍熱，咳嗽嚏噴，足稍冷，多睡睡驚，並瘡疹之證，或生膿胞，或生小紅癍，或生癮疹。此三等不同，何故俱顯上證而後乃出？蓋以上諸證，皆太陽寒水，起於右腎之下，煎熬左腎，足太陽膀胱寒水，夾脊逆流，上頭下額，逆手太陽丙火不得傳導，逆於面上，故顯是證。蓋（壬癸）寒水，剋丙丁熱火故也。諸癍證，皆從寒水逆流而作也。醫者當知此理，乃敢用藥。夫胞者，一名赤宮、一名丹田、一名命門，主男子藏精施化，婦人繫胞有孕，俱為生化之源，非五行也，非水亦非火，此天地之異名也；象坤土之生萬物也。夫人之始生，血海始淨，一日、二日精勝其血，則為男子；三日、四日、五日血脈已旺，精不勝血，則為女子。二物相搏，長先身生謂之神，又謂之精。道釋二門，言之本來面目是也。其子在腹中，十月之間，隨母呼吸，母呼亦呼，母吸亦吸。呼吸者，陽氣也，而生動作，滋益精氣神。飢則食母血，渴則飲母血。兒隨日長，皮肉、筋骨、血脈、形氣俱足。十月降生，口中尚有惡血，啼聲一發隨吸而下，此惡血復歸命門胞中，僻于一隅，伏而不發，直至因內傷乳食，濕熱之氣下溜，合於腎中，二火交攻，營氣不從，逆於肉理，惡血乃發。諸癍疹皆出於膀胱壬水，其瘍後壞肉理，歸於陽明，故三番癍始顯之證，皆足太陽壬膀胱尅丙小腸。其始出皆見面，終歸於陽明肉理，熱化為膿者也。二火熾盛，反勝寒水，遍身俱出，此皆從足太陽傳變中來也。當外發寒邪，使令消散；內瀉二火，不令交攻其中，令濕氣上歸，復其本位，可一二服立已，乃令小兒以後再無二番癍出之患。此《內經》之法，覽者詳之。</p>
<p>消毒救苦湯　治癍證悉具，消化便令不出，如已稀者，再不生癍。仲冬立此方，隨四時加減。通造化，明藥性者能此。</p>
<p>麻黃（不去根節）　羌活　防風（各五分）　川芎（二分）　細辛（一分）　藁本　柴胡（各二分）　升麻（五分）　葛根（一分）　黃芩（二分，酒製）　生地黃（二分）　生黃芩（一分）　黃連（三分）　酒黃蘗（五分）　紅花（半分）　蘇木（一分）　當歸（三分）　吳茱萸（半分）　白朮（一分）　蒼朮（二分）　生甘草（一分）　橘皮（一分）　連翹（半錢）</p>
<p>上銼，如麻豆大，每服五錢，水二盞，煎至一盞，去滓，稍熱服，空心，食前。夫癍疹出者，皆因內傷飲食，致令營氣逆故也。大禁牽牛、巴豆食藥，宜以半夏、枳、朮、大黃、益智仁之類，去其泄瀉、止其吐。若耳尖冷，呵欠，睡中驚，嚏噴，眼澀，知必出癍也。諸大膿胞、小紅癍、癮疹，三者皆營氣逆而寒覆其表，宜以四味升麻湯加當歸身、連翹，此定法也。如肺成膿癍，先顯喘嗽，或氣髙而喘促，加人參而補元氣，少加黃芩以瀉伏火；如心出小紅癍，必先見嗌乾，驚悸身熱，肌肉腫，脈弦洪，少加黃連；如命門出癮疹，必先骨痛身熱，其疼不敢動搖，少加生地黃、黃蘗。諸癍疹皆為陰證瘡，須因內傷乳食，脾胃不足，營氣逆行，雖火勢內熾，陰覆其外。故錢仲陽製四物升麻湯發之，如有傳變證，依加減法服之。</p>
<p>桔梗湯　如癍已出，只時時與之，快咽喉，寬利胸膈。</p>
<p>桔梗（二錢）　生甘草（一錢）</p>
<p>上㕮咀，作一服，水二盞，煎至一盞，不拘時，時時服之。</p>
<p>黍粘子湯　如癍子已出，稠密，身表熱，急與此藥服之，防後青乾黑陷。</p>
<p>黍粘子（炒香）　地骨皮（各二錢）　柴胡（一錢半）　炙甘草（一錢半）　連翹（二錢半）　當歸身（酒洗）　黃耆（各一錢）　黃芩（一錢半）</p>
<p>上㕮咀，每服三錢，水一盞半，煎至一盞，去渣，溫服。</p>

<h3>治驚各有所因用藥不同論</h3>
<p>錢仲陽治急驚，以涼瀉之。肝風木也，主驚；心熱火也，主動。火來木中，子能令母實，實則瀉其子，故立瀉青丸、導赤散之類，瀉其肝實，驚自愈矣。《內經》曰：風淫所勝，平以辛涼者是也。夫慢驚者，皆因妄用快利食藥，損其脾胃，久瀉不止；或因乳食不調而成吐瀉，亦令脾胃虛損。《內經》云：不足而往，有餘隨之。又云：不及則乘其所不勝。故風木來乘土位，慢驚之病作矣。治當詳其溫涼寒熱，先實其脾胃，後散風邪則愈矣。又如外物驚者，宜鎮心，以黃連安神丸。若氣動所驚者，宜寒水石安神丸，不可便以辛熱之藥散之，防風丸之類是也。因驚而瀉青色者，先鎮肝以朱砂之類，治以風邪下陷也，不可便用苦寒之劑瀉其土也。</p>

<h3>益黃散辨</h3>
<p>閻孝忠編集錢氏方，以益黃散補土。又言風旺必尅脾土，當先實其脾。昧者不審脾中寒熱，一例作補脾藥用之；又不審藥中有丁香、青橘皮辛熱，大瀉肺金，豈可脾虛之證反瀉其子。蓋為寒水反來侮土，中寒嘔吐腹痛，瀉痢青白，口鼻中氣冷，益黃散神治之藥也。如因熱藥巴豆之類，過劑損其脾胃，或因暑天傷熱，乳食損其脾胃，而成吐瀉，口鼻中氣熱，而成慢驚者，不可服之。今立一方，治胃中風熱，人參安胃散。</p>
<p>人參安胃散</p>
<p>人參（一錢）　黃耆（二錢）　生甘草　炙甘草（各五分）　白芍藥（七分）　白茯苓（四分）　陳皮（三分）　黃連（二分）</p>
<p>《內經》云：熱淫於內，治以甘寒，以甘瀉之，以酸收之。甘草、人參、黃耆之甘溫，能補元氣，甘能瀉火補土；白茯苓甘平，白芍藥酸寒，補肺金之不足；陳皮、黃連之苦寒為佐，以退火邪，土金得平，風證無由作矣。</p>
<p>上件為細末，每服二錢，水一盞半，煎至一盞，去滓，大溫服，食前。夫益黃散、理中丸、養脾丸之類，治脾胃中寒濕大勝，神品藥也。若服熱藥巴豆之類，虛其胃氣，脾胃中伏熱火，及大人勞役不足之證，或吐瀉不止，不宜用之。故陶隱居云：醫者，意也。古之所謂良醫，蓋以其意量而得其節也。治病必察其本，不可執方療之。或病髣髴，合方未對其證，不察病機所宜，大同小異，致令乖舛，以取危亡，可悲也夫。</p>
<p>梔子茯苓湯　治黃疳土色（為熱為濕），當小便不利（今反利，知黃色為燥，胃經中大熱），髮黃脫落（知膀胱與腎俱受其邪，乃大濕熱之證）；鼻下端作瘡者（土逆行，營氣伏火也），能乳者（胃中有熱也，寒則食不入），喜食土者（胃不足也），面色黑者（為寒為痹），大便青（寒）褐色，血黑色（熱蓄血中），間黃色（腸胃熱），治法當滋營潤燥，除寒熱，致津液。</p>
<p>山梔子（三分）　黃蘗　炙甘草（各二分）　大蕪荑（半錢）　黃連（一分）　麻黃（不去根節）　羌活（各二分）　柴胡（三分）　防風（一分）　白朮（半錢）　茯苓（三分）　當歸（四分）</p>
<p>上件銼，如麻豆大，都作一服，水一盞半，煎至一盞，去滓，稍熱服，食前。</p>
<p>茯苓滲濕湯　治小兒面色萎黃，腹䐜脹，食不下。</p>
<p>麻黃　桂枝（各二分）　杏仁（二個）　草豆蔻　厚朴　麹末（各二分）　柴胡（半分）羌活（二分）　白朮（半分）　吳茱萸（二分）　升麻（一分）　蒼朮　澤瀉　茯苓　豬苓橘紅（各二分）　青皮　黃連（各半錢）　黃蘗（二分）</p>
<p>上都作一服，水一大盞，煎至七分，去滓，大溫服，食前。</p>
<p>升陽益血湯　時仲春，一小兒，未滿百日，病腹脹，二日大便一度，瘦弱，遍身黃色，宜升陽氣，滋血和血，補潤腸胃乾燥也。</p>
<p>蝎梢（二分）　麹末（三分）　厚朴　當歸（各一錢）　桃仁（十個）　升麻（三分）</p>
<p>都作一服，水一盞，煎至半盞，去滓，稍熱服，食前。</p>
<p>厚朴丸　治小兒失乳，以食飼之，未有食，腸不能剋化，或生腹脹，四肢瘦弱，或痢色無常。</p>
<p>橘皮（三分）　大麥𬹃（半錢）　半夏（三分）　枳實（半錢）　蒼朮（三分）　青皮（二分）　人參（三分）　厚朴（二分）　麹末（半錢）</p>
<p>上為細末，煮𬹃糊為丸，如麻子大，每服二十丸，溫水送下，食前，忌飽食。</p>
<p>補陽湯　時初冬，一小兒二歲，大寒證，明堂青脈，額上青黑，腦後青絡髙起，舌上白滑，喉鳴而喘，大便微清，耳尖冷，眼澀，常常淚出，仍多眵，胸中不利，臥而多驚，無搐即寒。</p>
<p>柴胡　升麻（各二分）　麻黃（三分）　吳茱萸（半錢）　地龍（半錢）　蝎梢（一分）生地黃（半錢）　當歸身（三分）　炙甘草（一分）　黃耆（二分）　黃蘗　橘皮　葛根　連翹（各一分）</p>
<p>上件㕮咀，都作一服，水一大盞半，煎至一盞，去滓，乳食後熱服之。服藥之後，添喜笑精神，出氣和順，乳食進。</p>
<p>中滿分消丸</p>
<p>黃連　枳實（麩炒）　厚朴（薑製，各半錢）　生薑　薑黃　豬苓（各一錢）　橘皮　白朮　甘草（各一錢半）　砂仁　澤瀉　茯苓（各三錢）　半夏（四錢）　黃芩（一兩二錢）</p>
<p>上件為細末，湯浸蒸餅為丸，如黍米大，每服三五十丸，溫水送下，食前。</p>
<p>消痞丸</p>
<p>黃連（半兩）　枳實（二錢）　黃芩（二錢）　甘草（三分）　人參（四分）　厚朴（七分）　生薑（四分）　橘皮（一分）　薑黃（半錢）</p>
<p>上為細末，蒸餅為丸，如黍米大，每服二三十丸，隨乳下。</p>
<p>麻黃升麻湯　治小兒寒欎而喘，喉鳴，腹中鳴，腹滿，鼻流清涕，脈沉急而數。</p>
<p>麻黃　草豆蔻仁（各一錢半）　益智仁（一分半）　厚朴（三分）　甘草（一分）　當歸尾　升麻　麹末（各半分）　吳茱萸（二分）　柴胡（一分）　蘇木（半分）　紅花（少許）　生黃芩（一分）　全蝎（二個）</p>
<p>上件㕮咀，如麻豆大，分作二服，每服水一大盞，煎至七分，去渣，稍熱服，食遠。忌風寒，微有汗乃效。</p>

<h1>卷五</h1>

<h2>頭痛門</h2>

<h3>頭痛論</h3>
<p>《金匱真言論》云：東風生於春，病在肝，俞在頸項。故春風者，病在頭。又諸陽會於頭面，如足太陽膀胱之脈，起於目內眥，上額交巔上，入絡腦，還出，別下項，病衝頭痛。又足少陽膽之脈，起於目銳眥，上抵頭角，病則頭角額痛。夫風從上受之，風寒傷上，邪從外入，客於經絡，令人振寒頭痛，身重惡寒，治在風池、風府，調其陰陽，不足則補，有餘則瀉，汗之則愈，此傷寒頭痛也。頭痛耳鳴，九竅不利者，腸胃之所生，乃氣虛頭痛也。心煩頭痛者，病在膈中，過在手巨陽、少陰，乃濕熱頭痛也。如氣上不下，頭痛癲疾者，下虛上實也，過在足少陰、巨陽，甚則入腎，寒濕頭痛也。如頭半邊痛者，先取手少陽、陽明，後取足少陽、陽明，此偏頭痛也。有真頭痛者，甚則腦盡痛，手足寒至節，死不治。有厥逆頭痛者，所犯大寒，內至骨髓。髓者，以腦為主，腦逆故令頭痛，齒亦痛。凡頭痛，皆以風藥治之者，總其大體而言之也。髙巔之上，惟風可到，故味之薄者，陰中之陽，乃自地升天者也。然亦有三陰三陽之異。故太陽頭痛，惡風脈浮緊，川芎、羌活、獨活、麻黃之類為主；少陽經頭痛，脈弦細，往來寒熱，柴胡為主；陽明頭痛，自汗，發熱惡寒，脈浮緩長實者，升麻、葛根、石膏、白芷為主；太陰頭痛，必有痰，體重，或腹痛，為痰癖，其脈沉緩，蒼朮、半夏、南星為主；少陰經頭痛，三陰、三陽經不流行，而足寒氣逆，為寒厥，其脈沉細，麻黃、附子、細辛為主；厥陰頭痛，項痛，或痰吐涎沫，厥冷，其脈浮緩，吳茱萸湯主之。諸血虛頭痛，當歸、川芎為主；諸氣虛頭痛，人參、黃耆為主。為主者，主治也。兼見何證，以佐使藥治之。此立方之大法也。氣血俱虛頭痛者，於調中益氣湯中少加川芎、蔓荊子、細辛，其效如神。半夏白朮天麻湯，治痰厥頭痛藥也；清空膏乃風濕熱頭痛藥也；羌活附子湯厥逆頭痛藥也。如濕氣在頭者，以苦吐之，不可執方而治。先師壯歲，病頭痛，每發時兩頰青黃，暈眩目不欲開，懶於語言，身體沉重，兀兀欲吐食，數日方過。潔古老曰：此厥陰、太陰合而為病，名曰風痰，以《局方》內玉壺丸治之，少風濕藥二味，可加雄黃、白朮，以治風濕，更名水煮金花丸（方在《潔古家珍》），更灸俠谿二穴各二七壯，不旬日良愈。是知方者，體也；法者，用也。徒執體而不知用者弊，體用不失可謂上工，信矣。</p>
<p>夫丁未十月中，范天騋之內，素有脾胃之證，時顯煩躁，胸中不利，大便不通，因乘寒出外晚歸，又為寒氣怫欎，悶亂大作，火不能伸故也。疑其有熱，服疏風丸，大便行，其病不減。恐其藥少，再服七八丸，大便復見兩三行，原證不瘳，增添吐逆，食不能停，痰唾稠粘，湧出不止，眼澀頭旋，惡心煩悶，氣短促上喘，無力以言，心神顛倒，兀兀不止，目不敢開，如在風雲中，頭苦痛如裂，身重如山，四肢厥冷，不得安臥。先師料前證是胃氣已損，復下兩次重虛脾胃，病名曰痰厥頭痛，與半夏白朮天麻湯。</p>
<p>半夏白朮天麻湯</p>
<p>天麻（半錢）　半夏（一錢半）　黃耆（半錢）　人參（半錢）　白朮（一錢）　蒼朮　橘皮　澤瀉　茯苓（各半錢）　炒麹（一錢）　麥蘗𬹃（二錢）　乾薑（二分）　黃蘗（二分）</p>
<p>此頭痛苦甚，為足太陰痰厥頭痛，非半夏不能療；眼黑頭旋，風虛內作，非天麻不能除，其苗謂之定風草，獨不為風所動也，亦治內風之神藥也，內風者虛風是也；黃耆甘溫，瀉火補元氣，實表虛止自汗；人參甘溫，益氣瀉火補中；二術俱苦甘溫，除濕補中益氣；澤瀉、茯苓利小便導濕；橘皮苦溫，益氣調中升陽；麹消食，蕩胃中滯氣；大麥蘗寬中助胃氣；乾薑辛溫，以滌中寒；黃蘗苦寒酒製，以療冬天少火在泉發躁也。</p>
<p>上件㕮咀，每服半兩，水二大盞，煎至一盞，去滓，帶熱服之，再服而愈。</p>
<p>清空膏　治偏頭痛，年深不愈者，及療風濕熱頭痛，上壅損目，及腦痛不止。</p>
<p>羌活（一兩）　防風（去蘆，一兩）　柴胡（七錢）　川芎（五錢）　甘草（炙，一兩半）　黃連（去須，炒，一兩）　細挺子黃芩（三兩，一半酒製，一半炒）</p>
<p>上件同為細末，每服二錢匕，熱盞內入茶少許，湯調如膏，抄在口內，少用白湯送下，臨臥。如苦頭痛，每服中加細辛二分；如太陰脈緩有痰，名曰痰厥頭痛，內減羌活、防風、川芎、甘草，加半夏一兩半；如偏正頭痛，服之不愈，減羌活、防風、川芎一半，加柴胡一倍；如發熱惡熱而渴，此陽明頭痛，只白虎湯加白芷。</p>
<p>徹清膏</p>
<p>川芎（三分）　蔓荊子（一分）　細辛（一分）　藁本（一錢）　生甘草（半錢）　熟甘草（半錢）　薄荷葉（三分）</p>
<p>上件為細末，每服二錢，茶清調下，食後。</p>
<p>川芎散　治頭目不清利。</p>
<p>川芎（三分）　羌活　防風（各一錢）　柴胡（半分）　升麻　藁本（各一錢）　炒黃芩（四錢半）　生甘草（一錢）　熟甘草（二錢）　黃芩（四錢半，酒製）　黃連（四錢半，酒製）　生地（二錢）</p>
<p>上件為細末，每一錢或二三錢，食後，溫茶清調下。忌酒濕𬹃。</p>
<p>細辛散　治偏正頭痛。</p>
<p>細辛（二分）　川芎（七分）　柴胡（二錢）　黃芩（一錢，炒）　黃芩（一錢，酒製）　生黃芩（半錢）　瓦粉（二分）　炙甘草（一錢半）　黃連（七分）　芍藥（半錢）</p>
<p>上㕮咀，每服三錢，水一大盞半，煎至一盞，去滓取清，食後服之。</p>
<p>羌活湯　治風熱壅盛上攻，頭目昏眩。</p>
<p>羌活　防風　細黃芩（酒製）　黃連（酒製，各一兩）　黃蘗（半兩，酒製）　柴胡（七錢）　瓜蔞根（半兩，酒製）　炙甘草（七分）　白茯苓（五分）　澤瀉（三錢）</p>
<p>上件為粗末，每服五錢，水二大盞，煎至一盞，取清，食後或臨臥，通口熱服，日進二服。</p>
<p>安神湯　治頭旋眼黑，頭痛。</p>
<p>羌活（一兩）　防風（二錢半）　柴胡　升麻（各半兩）　黃蘗（酒製，一兩）　知母（酒製，半兩）　生地黃（半兩）　黃耆（二兩）　炙甘草　生甘草（各二錢）</p>
<p>上件，每服秤半兩，水二盞，煎至一盞半，加蔓荊子半錢　川芎三分，再煎至一盞，去滓，臨臥熱服。</p>
<p>養神湯　治精神短，不得睡，項筋腫急難伸。禁甘溫，宜苦味。</p>
<p>黃耆（一錢）　人參（三分）　甘草（七分）　蒼朮（半錢）　白朮（三分）　柴胡（一分）　升麻（四分）　當歸身（半錢）　麥蘗𬹃（半錢）　木香（一分）　川芎（三分）　橘皮（一分）　黃芩（酒製，二分）　黃連（半錢）　黃蘗（三分）　半夏（七分）</p>
<p>上㕮咀，如麻豆大，每服五錢，水二大盞，煎至一盞，去滓，稍熱服，食後。</p>
<p>選奇湯　治眉骨痛，不可忍。</p>
<p>羌活　防風（各三錢）　甘草（三錢，冬多用）　黃芩（酒製，一錢，冬月不用，如能食熱痛，加黃芩）</p>
<p>上㕮咀，每服三錢，水二盞，煎至一盞，去滓，稍熱，食後，時時服之。</p>
<p>嗅藥欎金散　治風熱頭痛。</p>
<p>石膏（二錢）　薄荷葉（三錢）　芒硝（三錢）　欎金（一錢）　香白芷（二錢）</p>
<p>上為極細末，口噙水，鼻內嗅之。</p>
<p>麻黃吳茱萸湯　治頭痛，胸中痛，食減少，咽嗌不利，右寸脈弦急。</p>
<p>麻黃（半錢）　吳茱萸（三分）　黃耆（二分）　川芎（一分）　羌活（五分）　蔓荊子（一分）　細辛（一分）　藁本（二分）　柴胡（一分）　黃芩（三分）　蒼朮（一錢）　黃連（一分）　半夏（一分）　黃蘗（二分）　升麻（三分）　紅花（少許）　當歸（二分）</p>
<p>上件㕮咀，都作一服，水二盞，煎至一盞，去滓，稍熱，食後服。</p>
<p>太陽經嚏藥</p>
<p>防風（二分）　紅豆（二個）</p>
<p>上為細末，鼻內嗅之。</p>
<p>紅豆散　治頭重如山，此濕氣在頭也。</p>
<p>麻黃根（炒，五錢）　苦丁香（半錢）　紅豆（十個）　羌活根（炒）　連翹（各三分）</p>
<p>上五味為細末，鼻內嗅之，神效。</p>
<p>羌活附子湯　治冬月大寒犯腦，令人腦痛，齒亦痛，名曰腦風（《奇經論》中）。</p>
<p>麻黃（三分，不去根節）　黑附子（三分）　羌活（半兩）　蒼朮（半錢）　防風（二分）　黃耆（一錢）　甘草　升麻（各二分）　白芷　白殭蠶　黃蘗（各三分）　有寒嗽加佛耳草（三分）</p>
<p>上件都作一服，水二盞，煎至一盞，去滓，溫服，食後。</p>

<h2>眼門</h2>

<h3>諸脈者皆屬於目論</h3>
<p>《陰陽應象大論》云：諸脈者，皆屬於目。目得血而能視。（《黃帝針經》九卷大惑論第八：）五臟六腑精氣，皆上注於目而為之精。精之窠為眼，骨之精為瞳子，筋之精為黑眼，血之精為絡，其窠氣之精為白眼，肌肉之精則為約束，裹擷筋骨血氣之精而與脈并為系，上屬於腦，後出於項中。故邪中於項，因逢其身之虛，其入深，則即隨眼系入於腦，則腦轉；腦轉則引目系急；目系急則目眩以轉矣。邪中其精，其精所中，不相比也則精散；精散則視歧，故見兩物。目者，五臟六腑之精、營衛魂魄之氣常營也，神氣之所生也。故神勞則魂魄散，志意亂，是故瞳子黑眼法於陰，白眼赤脈法於陽，故陰陽合傳而為精明也。目者，心之使也；心者，神之舍也，故神散亂而不轉，卒然見非常之處，精神魂魄散不相得，故曰惑也。夫十二經脈，三百六十五絡，其血氣皆上走於面而走空竅，其精陽氣上散於目而為精，其氣走於耳而為聽。因心事煩冗，飲食失節，勞役過度，致脾胃虛弱，心火大盛，則百脈沸騰，血脈逆行，邪害空竅，天明則日月不明矣。夫五臟六腑之精氣，皆秉受於脾，上貫於目。脾者，諸陰之首也。目者，血脈之宗也。故脾虛則五臟之精氣皆失，所司不能歸明於目矣。心者君火也，主人之神，宜靜而安，相火代行其令。相火者包絡也，主百脈皆榮於目。既勞役運動，勢乃妄行，又因邪氣所并而損血脈，故諸病生焉。凡醫者不理脾胃及養血安神，治標不治本，是不明正理也。</p>
<p>戊申六月，徐總管患眼疾，於上眼皮下出黑白翳二個，隱澀難開，兩目緊縮，無疼痛，兩手寸脈細緊，按之洪大無力。知足太陽膀胱為命門相火煎熬逆行，作寒水翳及寒膜遮睛證，呵欠善悲，健忘，嚏噴眵淚，時作淚下，面赤而白，能食不大便，小便數而欠，氣上而喘，以撥雲湯治之。</p>
<p>撥雲湯方</p>
<p>黃耆（一分）　細辛葉（半錢）　柴胡（七分）　生薑（五分）　荊芥穗（一錢）　羌活（一錢半）　防風（一錢半）　藁本（一錢）　生甘草（一錢）　升麻（一錢）　葛根（五分）　川芎（半錢）　知母（一錢）　黃蘗（一錢半）　當歸身（一錢）</p>
<p>上㕮咀，都作一服，水二大盞，煎至一盞，去滓，稍熱服，食後。</p>
<p>沖和陽胃湯　治內障眼，得之脾胃元氣衰弱，心火與三焦俱盛，飲食失節，形體勞役，心不得休息，故上為此疾，服之神效。</p>
<p>柴胡（七錢）　羌活（一兩半）　防風（半兩）　炙甘草（一兩半）　當歸（酒製）　白朮　升麻（各一兩）　白芍藥（六錢）　乾薑（一錢）　五味子（二錢）　人參　葛根（各一兩）　黃耆（一兩半）　白茯苓（三錢）</p>
<p>上㕮咀，每服五六錢，水三大盞，煎至二盞，入黃芩、黃連二錢，同煎至一盞，去滓，稍熱服，食後。</p>
<p>瀉熱黃連湯</p>
<p>黃芩（酒製，炒）　黃連（酒製，炒）　草龍膽（酒製）　生地黃（酒製，各一兩）　升麻（五分）　柴胡（一兩）</p>
<p>上件㕮咀，每服二錢，將先煎藥水內，入瀉熱黃連湯，再煎至一盞，去滓，於日午飯間熱服之，午後服之則陽道不行，臨臥休服，反助陰故也。</p>
<p>助陽活血湯　治眼發之後，猶有上熱，白睛紅，隱澀難開，睡多眵淚。</p>
<p>防風　黃耆　炙甘草（各半錢）　蔓荊子（二分）　當歸身（酒製，半錢）　白芷（三分）　升麻（七分）　柴胡（五分）</p>
<p>上㕮咀，都作一服，水一盞半，煎至一盞，去滓，稍熱服，臨臥。</p>
<p>明目細辛湯　治兩目發赤微痛，羞明畏日，怯風寒怕火，眼睫成紐，眵糊多，隱澀難開，眉攢腫悶，鼻塞，涕唾稠粘，大便微硬。</p>
<p>麻黃　羌活（各三錢）　防風（二錢）　藁本（一錢）　川芎（半錢）　細辛（少許）　白茯苓（一錢）　蔓荊子（六分）　荊芥穗（一錢二分）　當歸尾（一錢）　生地黃（六分，酒製）　椒（八個）　桃仁（一十個）　紅花（少許）</p>
<p>上㕮咀，分作四服，每服水二盞，煎至一盞，去滓，稍熱服，臨臥。</p>
<p>神效明目湯　治眼稜緊急，致倒睫拳毛損目，及上下瞼皆赤爛，睛赤疼痛昏暗，晝則冷淚常流，夜則眼澀難開，而眵淚滿眼。</p>
<p>葛根（一錢半）　甘草（炙，二錢）　防風（一錢）　蔓荊子（半錢）　細辛（二分）　一法加黃耆（一錢）</p>
<p>上㕮咀，作二服，每服水二盞，煎至一盞，去滓，稍熱服，臨臥。</p>
<p>神效黃耆湯　治渾身麻木不仁，或右或左身麻木，或頭面或隻手臂或只腿腳麻木不仁，並皆治之。如兩目緊急縮小及羞明畏日，或隱澀難開，或視物無力，睛痛手不得近，或目少睛光，或目中如火。</p>
<p>黃耆（二兩）　人參（八錢）　炙甘草（一兩）　蔓荊子（一錢）　白芍藥（一兩）　橘皮（半兩）</p>
<p>上同㕮咀，每服五錢，水一大盞八分，煎至一盞，去滓，稍熱服，臨臥。如小便淋澀，每服中加澤瀉半錢；如有大熱證，加黃蘗三分，酒製，炒；如麻木不仁，雖有熱，不用黃蘗，更加上黃耆一兩，通三兩也。</p>
<p>益氣聰明湯　治飲食不節，勞役形體，脾胃不足，得內障耳鳴，或多年目昏暗，視物不能，此藥能令目廣大，久服無內外障、耳鳴耳聾之患，又令精神過倍，元氣自益，身輕體健，耳目聰明。</p>
<p>黃耆　甘草（各半兩）　人參（半兩）　升麻　葛根（各三錢）　蔓荊子（一錢半）　芍藥（一錢）　黃蘗（一錢，酒製，銼，炒黃）</p>
<p>上㕮咀，每服秤三錢，水二盞，煎至一盞，去滓，熱服，臨臥，近五更再煎服之，得睡更妙。如煩悶或有熱，漸加黃蘗，春夏加之，盛暑夏月倍之。若此一味多，則不效。如脾胃虛去之，有熱者少用之。如舊有熱，麻木，或熱上壅頭目，三兩服之後，其熱皆除。治老人腰以下沉重疼痛如神。此藥久服，令人上重，乃有精神，兩足輕浮，不知高下。若如此，空心服之，或少加黃蘗，輕浮自減。若治倒睫，去黃蘗、芍藥及忌煙火酸物。</p>
<p>補陽湯　治陽不勝其陰，乃陰盛陽虛，則九竅不通，今青白翳見於大眥，及足太陽、少陰藥中欎遏，足厥陰肝經氣不得上通於目，故青白翳內阻也。當於太陽、少陰經中九泉之下，以益肝中陽氣，衝天上行。此乃先補其陽，後於足太陽、少陰標中（標者，頭也）瀉足厥陰肝經火，下伏於陽中，乃次治也。《內經》云，陰盛陽虛，當先補其陽，後瀉其陰，此治法是也。每日清晨，以腹中無宿食，服補陽湯；臨臥服益陰丸。若天色變，大寒大風，并勞役，預日飲食不調，精神不足或氣弱，俱不得服。候時氣和平，天氣如常服之。乃先補其陽，使陽氣上升，通於肝經之末，利空竅於目矣。</p>
<p>羌活　獨活　甘草　人參　熟地黃　黃耆　白朮（各一兩）　澤瀉（研為末）　陳皮（各半兩）　生地黃（炒）　白茯苓（去皮）　知母（炒，各三錢）　柴胡（去苗，三兩）　防風（半兩）　白芍藥（半兩）　肉桂（去皮，一錢）　當歸身（去蘆，酒製，三錢）</p>
<p>上同為粗末，每服半兩，水三盞，煎至一盞，去滓，空心，宿食消盡服之。</p>
<p>連蘗益陰丸</p>
<p>羌活　獨活　甘草　當歸尾（依前製）　防風（去蘆）　五味子（各五錢）　石決明（燒存性，三錢）　草決明　細黃芩　黃蘗　知母　黃連（酒內先製，或酒拌潤炒，以上各一兩）</p>
<p>上件為細末，煉蜜為丸，如綠豆大，每服五十丸，漸加至百丸止，茶清送下，常多服補陽湯，少服此藥，為不可勝補陽湯，恐妨飲食。</p>
<p>升陽柴胡湯</p>
<p>羌活　獨活　甘草根　當歸身　熟地黃（各一兩）　人參　黃耆　白朮（各半兩）　澤瀉（三錢）　白芍藥（一兩）　陳皮　白茯苓　防風（各三錢）　生地黃（五錢，酒炒）　肉桂（半錢）　柴胡（去苗，一錢半）　楮實（半兩，酒拌）　知母（三錢，酒製，夏月加五錢）</p>
<p>上㕮咀，每服五錢，水二盞，煎至一盞，去滓，稍熱服，食後。另一料煉蜜為丸，如桐子大，食遠，茶清送下五十丸，每日與前藥各一服，如天氣熱甚，加五味子三錢或半兩、天門冬去心半兩，更加芍藥半兩、楮實半兩。</p>
<p>芎辛湯　治兩目晝夜隱澀難開，羞明畏日，目赤視物昏暗，神效。</p>
<p>芎藭　蔓荊子（各半錢）　細辛（二分）　防風（一錢半）　甘草　香白芷（各一錢）</p>
<p>㕮咀，都作一服，水一盞八分，煎至一盞，去滓，稍熱服，臨臥。</p>
<p>人參補胃湯　治勞役所傷，飲食不節，內障昏暗。</p>
<p>黃耆　人參（各一兩）　炙甘草（八分）　蔓荊子（一錢）　白芍藥（三錢）　黃蘗（酒拌濕四遍，一錢）</p>
<p>上㕮咀，每服三四錢，水二盞，煎至一盞，去滓，稍熱服，臨臥。三五服後，兩目廣大，視物如童時，惟覺兩腳踏地不知髙下，蓋冬天多服升陽藥故也。病減住服，候五七日再服。此藥春間服，乃時藥也。</p>
<p>連翹飲子　治目中溜火，惡日與火，隱澀難開，小角緊，久視昏花，迎風有淚。</p>
<p>蔓荊子　生甘草　連翹（各三分）　柴胡（二分）　黃芩（酒製，半錢）　生地黃　當歸　紅葵花　人參（各三分）　黃耆（半錢）　升麻（一錢）　防風　羌活（各半錢）</p>
<p>上件，每服五錢，水二盞，煎至一盞，去滓，稍熱服，食後。</p>

<h3>論瞳子散大（并方）</h3>
<p>戊戌初冬，李叔和至西京，朋友待之以豬肉煎餅，同蒜醋食之，後復飲酒，大醉，臥於暖炕。翌日病眼，兩瞳子散大於黃睛，視物無的，以小為大，以短為長，卒然見非常之處，行步踏空，多求醫療而莫之愈。至己亥春，求治於先師。曰：《內經》有云，五臟六腑之精氣皆上注於目而為之精，精之窠為眼，骨之精為瞳子。又云，筋骨氣血之精而為脈，并為系，上屬於腦。又瞳子黑眼法於陰，今瞳子散大者，由食辛熱物太甚故也。所謂辛主散，熱則助火，上乘於腦中，其精故散，精散則視物亦散大也。夫精明者，所以視萬物者也。今視物不真，則精衰矣。蓋火之與氣，勢不兩立。故《經》曰，壯火食氣，壯火散氣。手少陰、足厥陰所主風熱，連目系，邪之中人，各從其類，故循此道而來攻，頭目腫悶而瞳子散大，皆血虛陰弱故也。當除風熱，涼血益血，以收耗散之氣，則愈矣。</p>
<p>滋陰地黃丸</p>
<p>熟地黃（一兩）　生地黃（一兩半，酒製，焙乾）　柴胡（八錢）　天門冬（去心，焙）　炙甘草　枳殼（各三錢）　人參（二錢）　黃連（三錢）　地骨皮（二錢）　五味子（三錢）　黃芩（半兩）　當歸身（五錢，水洗淨，酒拌焙）</p>
<p>《內經》云，熱淫所勝，平以醎寒，佐以苦甘，以酸收之，以黃連、黃芩大苦寒，除邪氣之盛為君。當歸身辛溫，生熟地黃苦甘寒，養血涼血為臣。五味子酸寒，體輕浮，上收瞳子之散大；人參、甘草、地骨皮、天門冬、枳殼苦甘寒，瀉熱補氣為佐。柴胡引用為使也。</p>
<p>上件為細末，煉蜜為丸，如綠豆大，每服百丸，溫茶清送下，食後，日進三服，制之緩也。大忌食辛辣物而助火邪，及食寒冷物損胃氣，藥不能上行也。</p>
<p>益陰腎氣丸　此壯水之主，以鎮陽光。</p>
<p>熟地黃（三兩）　牡丹皮（五錢）　生地黃（四兩，酒製，炒）　澤瀉（二錢半）　當歸尾（生，去土，酒製）　山茱萸（各半兩）　茯苓（二錢半）　柴胡　五味子　乾山藥（各五錢）</p>
<p>上件為細末，煉蜜為丸，如桐子大，朱砂為衣，每服五七十丸，鹽湯送下，空心。</p>
<p>羌活退翳丸　治內障，右眼小眥青白翳，大眥微顯白翳，腦痛，瞳子散大，上熱惡熱，大便澀時難，小便如常，遇天熱暖處，頭痛睛脹，能食，日沒後天陰則昏暗，此證亦可服滋陰地黃丸。</p>
<p>熟地黃（八錢）　生地黃（酒製）　當歸身（酒製，焙）　黃蘗（各半兩，酒製）　川芎（三錢）　芍藥（一兩三錢）　防己（二錢，酒製）　知母（三錢，酒製）　丹參（半兩）　茺蔚子（半兩）　牡丹皮（三錢）　寒水石（一錢，生用）　柴胡（半兩）　羌活（三兩）　黑附子（一錢，炮）</p>
<p>上為細末，煉蜜為丸，如小豆大，空心，每服五七十丸，白湯送下，如消食未盡，候飢時服之，忌語言，隨後以食壓之。</p>
<p>圓明膏　治內障生翳及瞳子散大，皆勞心過度，因飲食失節之所致也。</p>
<p>柴胡（五錢）　麻黃（微搗，五錢，去節）　當歸身（三錢）　生地黃（半兩）　黃連（五錢）　甘草（二錢）　訶子皮（二錢，濕紙裹煨）</p>
<p>上七味，先以水二碗，熬麻黃至一碗，掠去沫，外六味各㕮咀，如麻豆大，篩去末，秤畢入在內同熬，滴入水中不散，入去沫蜜少許，再熬，勤如常點之。</p>
<p>百點膏　張濟明，眼病翳六年，以至遮瞳人，視物不明，如覺雲氣遮障，時值暑熱大作，點此藥五七日，翳退去一半。</p>
<p>黃連（揀淨，二錢，銼麻豆大）　以水一大碗，熬至半碗，入下項藥：</p>
<p>當歸身　甘草（以上各六分）　防風（八分）　蕤仁（去皮尖，三分）</p>
<p>上件各銼，如麻豆大，蕤仁另研如泥，同熬，滴水中不散，入去沫蜜少許，再熬少時為度，令病人心靜點之，至目微痛為度，日點五七次，臨臥，尤疾效，名之曰百點膏，但欲多點，使藥力相繼也。</p>
<p>吹雲膏　治視物睛困無力，隱澀難開，睡覺多眵，目中淚下及迎風寒泣下，羞明畏日，常欲閉目，喜在暗室塞其戶牖，翳膜歲久遮睛，此藥多點神效。</p>
<p>黃連（三錢）　生地黃（一錢半）　生甘草（六分）　青皮（四分）　柴胡（五分）　升麻（三分）　荊芥穗（一錢，微取濃汁）　當歸身（六分）　蕤仁（三分）　連翹（四分）細辛葉（一分）　防風（四分）</p>
<p>以上藥銼，如麻豆大，陳連翹外，用澄淨水二碗，先熬餘藥去半碗，入連翹，同熬至一大盞許，去滓，入銀盞內，以文武火熬至入水滴成珠不散，入煉去沫熟蜜少許，熬勻點之。</p>
<p>復明膏　治足太陽寒水膜子遮睛，白翳在上，視物不明。</p>
<p>椒樹西北根、東南根（各二分）　正麻黃（去根節，三分）　羌活（七分）　黃連（三分）　當歸身（六分）　防風（三分）　生甘草（四分）　柴胡　升麻　生地黃（各三分）蕤仁（六個）　藁本　漢防己（各二分）</p>
<p>上用淨水一大碗，先煎漢防己、黃連、生甘草、當歸、生地黃，煎至一半下餘藥外，再煎至一盞，去滓，入銀盞內，再熬之，有力為度。</p>
<p>廣大重明湯　治兩目瞼赤腫，楞生瘡，目多眵淚，隱澀難開，及熱腫痛并稍赤，及眼瞼癢極，抓之至破爛、赤腫，痛不可忍。</p>
<p>草龍膽　防風　生甘草　細辛（各一錢）</p>
<p>上件㕮咀，如麻豆大，內甘草不銼，只作一錠，先以水一碗半煎草龍膽一味至一半，再入餘三味，煎至少半碗，濾去滓，用清帶熱洗，以重湯坐令熱，日用五七次，但洗畢少合眼，須臾許開，努肉泛長及癢亦驗。</p>
<p>防風飲子　治倒睫拳毛。</p>
<p>黃耆　炙甘草　人參（各一錢）　葛根（半錢）　防風（半錢）　當歸身（七分半）　細辛葉　蔓荊子（各三分）</p>
<p>上件銼，如麻豆大，都作一服，水二盞，煎至一盞，去滓，溫服，食後避風寒服之。</p>
<p>夫眼生倒睫拳毛者，兩目緊急皮縮之所至也。蓋內復熱致陰氣外行，當去其內熱并火邪。眼皮緩則眼毛立出，翳膜亦退，用手法攀出內瞼向外，速以三稜針出血，以左手爪甲迎其針鋒，立愈。</p>
<p>治目眶歲久赤爛，俗呼為赤瞎是也。當以三稜針刺目框外，以瀉濕熱立愈。</p>
<p>龍膽飲子　治疳眼流膿，生疳翳，濕熱為病神效，不治寒濕為病。</p>
<p>炒黃芩（三錢）　蛇退皮（半錢）　麻黃（一錢半）　青蛤粉　羌活　草龍膽（各三錢）　穀精草（半錢）　升麻（二錢）　川欎金　炙甘草（各半錢）</p>
<p>上為細末，每服二錢，食後，茶調服。</p>
<p>碧天丸　治目疾累服寒涼藥不愈，兩眼蒸熱有如火熏，赤而不痛，紅絲滿目，血脈貫睛，瞀悶昏暗，羞明畏日，或上下瞼赤爛，或冒風沙而內外眥皆破，洗之大有神效。</p>
<p>瓦粉（炒，一兩）　銅綠（七分，為末）　枯礬（二分）</p>
<p>上先研白礬、銅綠令細，旋旋入粉，同研勻，熱水和之，共為百丸，每用一丸，熱湯半盞浸一兩時辰，洗至覺微澀為度，合半時許，洗畢，瞑目便睡。又名一井珠丸，一丸可服十日，如再用，湯內坐令熱。此藥治其標，為裏熱已去矣。若裏實者，此藥不宜。</p>
<p>嗅藥碧雲散</p>
<p>青黛（一錢半）　蔓荊子　川芎（各一錢二分）　欎金（一錢）　石膏（一錢三分）　細辛（一錢）　薄荷葉（二錢）　芒硝（一錢）　紅豆（一個）</p>
<p>上為細末，口噙水，鼻內嗅之。</p>
<p>能遠視不能近視者，陽氣不足陰氣有餘也，乃氣虛而血盛也。血盛者，陰火有餘；氣虛者，氣弱也。此老人桑榆之象也。</p>
<p>能近視不能遠視者，陽氣有餘陰氣不足也，乃血虛氣盛。血虛氣盛者，皆火有餘，元氣不足；火者，元氣、穀氣、真氣之賊也。元氣來也徐而和，細細如線；邪氣來也緊而強，如巨川之水不可遏。</p>
<p>地芝丸　治目不能遠視能近視，或亦妨近視，及大厲風成癩，悉皆治之。</p>
<p>生地黃（四兩，焙乾秤）　天門冬（四兩，去心秤）　枳殼（二兩，麩炒，去穰秤）　甘菊花（二兩，去枝秤）</p>
<p>同為細末，煉蜜為丸，如桐子大，荼清送下百丸，溫酒亦可，食後。</p>
<p>定志丸　治眼不能近視反能遠視者，方見《和劑局方》中。</p>

<h3>綠翳瞳腫治驗</h3>
<p>王峰學士魏邦彥夫人目翳暴生，從下而起，其色綠，腫痛不可忍。先師曰：翳從下而上，病從陽明來也。綠非五色之正色，殆肺腎合而為病耶，乃就畫家以墨調膩粉合成色諦視之，曰與翳色同矣。肺腎為病者無疑矣。乃瀉肺腎之邪，而以入陽明之藥為之使，既效，而他日復病作者三，其所從來之經與翳色各異，乃以意消息之，曰諸脈者，皆屬於目，脈病則目從之，此必經絡不調，目病未已也。問之果然，因如所論者治之，疾遂不作。</p>

<h2>鼻門</h2>

<h3>鼻不聞香臭論</h3>
<p>《金匱真言論》云：西方白色，入通於肺，開竅於鼻，藏精於肺。夫十二經脈，三百六十五絡，其氣血皆上走於面而走空竅，其精陽之氣上走於目而為精，其彆氣走於耳而為聽，其宗氣上出於鼻而為臭。《難經》云，肺氣通於鼻，則能知香臭矣。夫陽氣、宗氣者，皆胃中生發之氣也。其名雖異，其理則一。若因飢飽勞役損傷，脾胃生發之氣即弱，其營運之氣不能上升，邪害空竅，故不利而不聞香臭也。宜養胃氣，使營運陽氣、宗氣上升，鼻則通矣。又一說，《難經》言心主五臭，肺主諸氣。鼻者肺之竅，反聞香臭何也？蓋以竅言之，肺也；以用言之，心也。因胃氣失守，寒邪客於面，鼻亦受之，心不能為用，而不聞臭。故《經》曰，心肺有病，鼻為之不利。潔古老人云，視聽明而清涼，香臭辨而溫暖者是也。治法宜先散寒邪，後補衛氣，使心肺之氣交通，則鼻利而聞香臭矣。</p>
<p>麗澤通氣湯　治鼻不聞香臭。</p>
<p>羌活　獨活　防風　升麻　葛根（各三錢）　麻黃（不去節，一錢，冬月加之）　川椒（一錢）　蒼朮（三錢）　炙甘草（二錢）　黃耆（四錢）　香白芷（一錢）</p>
<p>上件㕮咀，每服五錢，水二大盞，生薑三片、棗二枚、蔥白三寸，同煎至一盞，去滓，稍熱服，食遠。忌一切冷物及風寒涼處坐臥行立。</p>
<p>溫肺湯　治鼻不聞香臭，眼有眵淚。</p>
<p>升麻（二錢）　葛根（一錢）　黃耆（二錢）　炙甘草（一錢）　麻黃（四錢）　丁香（二分）　羌活　防風（各一錢）</p>
<p>上件為粗末，分作二服，水二盞、蔥白二握，同煎一盞，去滓，稍熱，食後服。</p>
<p>溫衛湯　治鼻不聞香臭，目中溜火，氣寒血熱，冷淚多，臍下陰汗，足痿弱。</p>
<p>黃耆（一錢）　人參　炙甘草（各半錢）　陳皮　青皮（各三分）　木香（三分）　蒼朮　升麻（各一錢）　白芷　防風（各半錢）　知母（一錢）　黃連（三分）　黃蘗　澤瀉（各半錢）　柴胡　羌活（各一錢）　當歸身（一錢半）</p>
<p>上㕮咀，都作一服，水二盞，煎至一盞，去滓，溫服，食前，日晴明服之。</p>
<p>禦寒湯　治寒邪傷於皮毛，令人鼻塞，咳嗽上喘。</p>
<p>黃蘗（二分）　黃耆（一錢）　人參（半錢）　炙甘草　款冬花（各三分）　羌活　黃連（各二分）　白芷　防風（各三分）　陳皮（五分）　佛耳草（三分）　升麻（半錢）　蒼朮（七分）</p>
<p>上㕮咀，如麻豆大，都作一服，水二大盞，煎至一盞，去滓，稍熱服。</p>
<p>溫衛補血湯　治耳鳴，鼻不聞香臭，口不知穀味，氣不快，四肢困倦，行步不正，髮脫落，食不下，膝冷，陰汗，帶下，喉中吤吤，不得臥，口舌嗌乾，太息，頭不可以回顧，項筋緊，脊強痛，頭旋眼黑，頭痛，呵欠嚏噴。</p>
<p>升麻（四分）　柴胡（三分）　生地黃（一分）　蒼朮（二分）　白朮（一分）　當歸身（二分半）　生甘草（半錢）　炙甘草（三分）　王瓜根　牡丹皮　橘皮　吳茱萸（各三分）　人參（三分）　丁香（一個）　藿香（一分）　黃耆（一錢二分）　地骨皮（三分）黃蘗（一分）</p>
<p>上㕮咀，都作一服，水二大盞，煎至一盞半，去滓，稍熱服，食前。一方桃仁三個、葵花七朵。</p>

<h1>卷六</h1>

<h2>牙齒門</h2>

<h3>牙齒論</h3>
<p>論曰：夫齒者，腎之標；口者，脾之竅。諸經多有會於口者，其牙齒是也。手、足陽明之所過，上齦隸於坤土，乃足陽明胃之脈貫絡也，止而不動；下齦，嚼物動而不休，手陽明大腸之脈所貫絡也。手陽明惡寒飲而喜熱，足陽明喜寒飲而惡熱，其病不一。牙者，腎之際，亦喜寒，寒者堅牢。為病不同，熱甚則齒動齦斷，袒脫作痛不已，故所治療不同也。有惡寒而作痛者；有惡熱而作痛者；有惡寒又惡熱而作痛者；有惡寒飲少熱飲多而作痛者；有惡熱飲少寒飲多而作痛者；有牙齒動搖而作痛者；有齒袒脫而為痛者；有齒齦為疳所蝕缺少，血出為痛者；有齒齦腫起而為痛者；有脾胃中有風邪，但覺風而作痛者；又有牙上多為蟲所蝕，其齒缺少而色變，為蟲牙痛者；有胃中氣少，不能於寒，袒露其齒作痛者；有牙齒疼痛，而穢臭之氣不可近者。痛既不一，豈可一藥而盡之哉。</p>
<p>羌活散　治客寒犯腦，風寒濕腦痛，項筋急，牙齒動搖，肉齦袒脫，疼痛苦楚。</p>
<p>麻黃（去節根，三兩）　羌活（一錢半）　防風（三分半）　藁本（三分）　細辛（少許）　升麻（半錢）　柴胡（半兩）　當歸身（六分）　蒼朮（半錢）　白芷（三分）　桂枝（三分）　骨灰（二錢，即羊脛骨也）　草豆蔻（一錢）</p>
<p>上為細末，先用溫水漱口淨，擦之，其痛立止。</p>
<p>草豆蔻散　治寒多熱少牙疼痛。</p>
<p>草豆蔻（一錢二分，不去皮）　黃連（一錢半）　升麻（二錢半）　細辛葉（二分）　骨灰（半錢）　當歸（六分）　防風（二分）　熟地黃（半錢）</p>
<p>上為細末，擦之同前。</p>
<p>麻黃散　治冬時風寒濕頭痛，項筋急，牙齒動搖疼痛。</p>
<p>麻黃（不去節，二錢）　羌活（一錢半）　防風　藁本　骨灰（各三分）　細辛（少許）升麻　黃連　草豆蔻（各一錢）　當歸（六分）　熟地黃（六分）　生地黃（二錢）　草龍膽（二錢，酒製）</p>
<p>上為細末，依前擦之。</p>
<p>麝香散　治熱多寒少，牙露根，肉齦脫血出，齒動欲落，大作疼痛，妨食，忤涼少，忤熱多。</p>
<p>麻黃根（一分）　草豆蔻（一錢半，不去皮）　益智（二分半）　當歸（三分）　升麻（一錢）　熟地黃（二分）　生地黃（三分）　黃連（一錢半）　人參（三分）　麝香（少許）　漢防己（三分，酒製）　骨灰（二錢）</p>
<p>上為細末，依前擦之。</p>
<p>白芷散　治大寒犯腦，牙齒疼痛。</p>
<p>麻黃　草豆蔻（各一錢半，不去皮）　黃耆（一錢）　吳茱萸（四分）　藁本（三分）當歸（半錢）　羌活（八分）　熟地黃（半錢）　白芷（四分）　升麻（一錢）　桂枝（二錢半）</p>
<p>上為細末，先用溫水漱淨，以藥擦之。</p>
<p>治蟲散　治大寒犯腦，牙齒疼痛及風寒作痛，蟲腫作疼。</p>
<p>麻黃（一錢半，不去節）　草豆蔻（一錢）　吳茱萸（八分）　黃連（四分）　藁本（三分）　黃耆（一錢）　羌活（五分）　白芷（三分）　當歸（四分）　骨灰（二錢）　熟地黃（二分）　升麻（一錢）　桂枝（一分）　益智（四分）</p>
<p>上為細末，先用溫水漱口淨，以藥擦之。</p>
<p>益智木律散　治寒熱牙疼。</p>
<p>草豆蔻（二錢二分）　木律（二分）　益智（半錢）　升麻（一錢半）　骨灰（半錢）　黃連（四分）　當歸（四分）　熟地黃（半錢）</p>
<p>上為末用，依前，如寒多痛，不用木律。</p>
<p>蝎梢散　治大寒犯腦牙疼。</p>
<p>麻黃（一錢半，去節）　桂枝　升麻（各三分）　羌活（半錢）　防風　藁本（各三分）　柴胡　當歸　白芷（各二分）　黃耆（三分）　骨灰（二錢半）　蝎梢（少許）　草豆蔻（一錢）</p>
<p>上為末，依前擦之，神效。</p>
<p>白牙散</p>
<p>升麻（一錢）　骨灰（二錢）　白芷（七分）　石膏（一錢半）　麝香（少許）</p>
<p>上為末，先以溫水漱淨，擦之尤妙。</p>
<p>當歸龍膽散　治寒熱停牙痛。</p>
<p>麻黃（一錢）　升麻（一錢）　白芷（半錢）　骨灰（半錢）　生地黃（五分）　黃連（一錢）　當歸尾（半錢）　草龍膽（一錢）　草豆蔻（一錢）</p>
<p>上件為末，擦之如神。</p>
<p>牢牙地黃散　治腦寒痛及牙疼。</p>
<p>麻黃　黃連　骨灰（各一錢）　升麻（一錢半）　草豆蔻（一錢二分）　吳茱萸（八分）　益智（四分）　當歸（四分）　藁本（二分）　黃耆（半錢）　熟地黃（三分）　人參（三分）　羌活（三分）　白芷（半錢）　防己（三分）　生地黃（三分）</p>
<p>上件為末，擦之神效。</p>
<p>細辛散　治寒邪、風邪犯腦疼、牙痛。</p>
<p>麻黃（三分）　桂枝（二分半）　升麻（二分）　羌活（一錢半）　柴胡（二分）　防風（二分）　藁本（三分）　白芷（二分）　當歸（四分）　蒼朮（三分）　細辛（少許）　骨灰（一錢半）　草豆蔻（半錢）</p>
<p>上為末，先漱後擦之，神妙。</p>
<p>立效散　治牙齒疼不可忍，痛及頭腦項背，微惡寒飲，大惡熱飲，其脈上、中、下三部陽虛陰盛，是五臟內盛，而六腑陽道微小，小便滑數。</p>
<p>防風（一錢）　升麻（七分）　炙甘草（三分）　細辛葉（二分）　草龍膽（四分，酒製）</p>
<p>上㕮咀，如麻豆大，都作一服，水一盞，煎至五分，去滓，以匙抄在口中，煠痛處，待少時立止。如多惡熱飲，更加草龍膽一錢。此法不定，隨寒熱多少，臨時加減。若更惡風作痛，加草豆蔻半錢、黃連半錢，卻勿加草龍膽。</p>
<p>牢牙散　治牙齦肉綻有根，牙疳腫疼，牙動搖欲落，牙齒不長，牙黃口臭。</p>
<p>升麻（四分）　羌活（一兩）　草龍膽（一兩半，酒製）　羊脛骨灰（一兩）</p>
<p>上為末，先以溫水漱口，每用少許擦之。</p>

<h3>風熱牙疼治驗</h3>
<p>劉經歷之內，年三十餘，病齒痛不可忍，須騎馬外行，口吸涼風則痛止，至家則其痛復作。家人以為祟神，禱於巫師而不能愈，遂求治於先師。師聞其故，曰：此病乃濕熱為邪也。足陽明貫於上齒，手陽明貫於下齒，況足陽明多血多氣，加以膏粱之味助其濕熱，故為此痛。今立一方，不須騎馬，常令風寒之氣生於牙齒間，以黃連、胡桐淚之苦寒，新薄荷葉、荊芥穗之辛涼，四味相合而作風寒之氣，治其風熱為主；以新升麻之苦平，行陽明經為使；牙齒骨之餘，以羊脛骨灰補之為佐；麝香少許，入肉為引，用為細末擦之，痛乃減半，又以調胃承氣湯去芒硝加黃連，以治其本，服之下三兩行，其痛良愈，遂不復作。</p>
<p>清胃散　治因服補胃熱藥，致使上下牙疼痛不可忍，牽引頭腦滿面熱發大痛。足陽明之別絡於腦（在《針經》十五絡中），喜寒惡熱，乃手陽明經中熱盛而作也。其齒喜冷水惡熱湯。</p>
<p>生地黃（三分，酒製，真者）　升麻（一錢）　牡丹皮（半錢）　當歸（三分）　淨黃連（三分，如連不好，更加二分，夏月倍之，無定法）</p>
<p>上為末，作一服，水盞半，煎至一半，去滓，帶冷服，立已。</p>
<p>神功丸　治多食肉人，口臭不可近，牙齒疳蝕，牙齦肉將脫，齒落血不止。</p>
<p>黃連（淨，半兩，酒製）　縮砂（半兩）　甘草（三錢）　藿香葉（一錢）　生地黃（三錢，酒製）　木香（一錢）　升麻（二錢）　當歸身（一錢）　蘭香葉（一錢，如無，藿香代之）</p>
<p>上為末，湯浸蒸餅丸如綠豆大，每服百丸至二百丸，白湯下，食遠。兼治血痢及血崩，血下不止，血下褐色或紫黑色，及腸澼下血，空心服。</p>

<h2>腰痛門</h2>

<h3>腰痛論</h3>
<p>《六元正紀大論》曰：太陽所至為腰痛。又云：巨陽（即太陽也）虛則腰背頭項痛。足太陽膀胱之脈所過，還出別下項，循肩膊內，挾脊抵腰中，故為病者，項如拔，挾脊痛，腰似折，髀不可以曲，是經氣虛則邪客之，痛病生矣。夫邪者，是風熱寒濕燥皆能為病。大抵寒濕多而風熱少。然有房室勞傷，腎虛腰痛者，是陽氣虛弱不能運動故也。《經》言：腰者腎之府，轉搖不能，腎將敗矣。宜腎氣丸、鹿茸茴香丸類，以補陽之不足也。如膏粱之人，久服陽藥，醉以入房，損其真陰，腎氣熱；腎氣熱則腰脊痛而不能舉，久則髄減骨枯，骨枯發為骨痿，宜六味地黃丸、溫腎丸、封髄丹之類，以補陰之不足也。（《黃帝針經》卷第三雜病第八：）腰痛上寒，取足太陽、陽明；腰痛上熱，取足厥陰。足之三陰，從足走入腹，所經過處，皆能為痛。治之，當審其何經所過分野，循其空穴而刺之；審其寒熱而藥之。假令足太陽令人腰痛引項脊尻背如重狀，刺其郄中太陽二經出血，餘皆仿此。彼執一方，治諸腰痛者，固不通矣。</p>
<p>丁未冬，曹通甫自河南來，有役夫小翟，露居，臥寒濕地，腰痛不能轉側，兩脅抽急作痛，已經月餘不愈矣。《腰痛論》中說，皆為足太陽、足少陰血絡中有凝血作痛，間有一二證，屬少陽膽經外絡脈病，皆去血絡之凝乃愈。其《內經》有云，冬三月禁，不得用針，只宜服藥，通其經絡，破其血絡中敗血，以川芎肉桂湯主之。</p>
<p>川芎肉桂湯</p>
<p>羌活（一錢半）　獨活（半錢）　柴胡　肉桂　桃仁（去皮尖，研）　當歸尾　蒼朮　炙甘草（各一錢）　炒麹（半錢）　防風（三分）　漢防己（酒製，三分）　川芎（一錢）</p>
<p>上㕮咀，作一服，好酒三盞，煎至一盞，去滓，溫服，早飯後、午飯前，數服食愈。宜溫暖處服之。</p>
<p>獨活湯　治因勞役，腰痛如折，重沉如山。</p>
<p>羌活　防風　獨活（各三錢）　炙甘草（二錢）　肉桂（三錢）　當歸（半兩）　桃仁（三十個）　連翹（半兩）　防己（一兩，酒製）　黃蘗（一兩，酒製）　澤瀉（三錢）　煨大黃（三錢）</p>
<p>上㕮咀，每服半兩，酒半盞、水一盞半，煎至一盞，去滓，熱服立愈。</p>
<p>麻黃復煎散　治陰室中汗出，懶語，四肢困倦無力，走注疼痛者，乃下焦伏火而不得伸浮，為之躁熱汗出也；困倦疼痛者，風濕相搏，一身盡痛也。當去風濕，脈中邪，以升陽發汗，漸漸發之；火欎乃濕在經者，亦宜發汗。況正值季春之月，脈緩而遲，尤宜發汗，令風濕去而陽升，以此困倦即退，氣血俱得生旺也。</p>
<p>麻黃（二錢，去節微搗，水五大盞，先煎令沸，去沫，至三盞入下項，再煎）　柴胡（半錢）　防風（半錢）　杏仁（三個）　黃耆（二錢）　黃蘗（一錢）　生地黃（半錢）</p>
<p>上件銼，如麻豆大，都作一服，入麻黃湯內煎至一盞，臨臥服之，勿令食飽，取漸次有汗則效。</p>
<p>蒼朮復煎散　治寒濕相合，腦戶痛，惡寒，項筋脊骨強，肩背胛眼痛，膝髕痛，無力行步，身沉重。</p>
<p>蒼朮（四兩，水二碗，煎至二大盞，去滓，再入下項藥）　羌活（一錢）　升麻　柴胡　藁本　澤瀉　白朮（各半錢）　黃皮（三分）　紅花（少許）</p>
<p>上件銼，如麻豆大，先煎蒼朮湯二盞，復煎下項藥至一大盞，去滓，熱服，空心服之，取微汗為效，忌酒與濕𬹃類。</p>
<p>蒼朮湯　治濕熱腰腿疼痛。</p>
<p>蒼朮（三錢，去濕止痛）　柴胡（二錢，行經）　黃蘗（一錢，始得之時寒也，久不愈寒化為熱，除濕止痛）　防風（一錢，風能勝濕）</p>
<p>上件作一服，水二盞，煎至一盞，去滓，稍熱服，空心食前。</p>
<p>羌活湯　治兩目如火腫痛，兩足及伏兔筋骨疼痛，膝胻少力，身重腰疼，夜惡寒，痰嗽，項筋背急，目外眵，目系急，食不下。</p>
<p>羌活（三分）　麻黃（三分）　炙甘草（二分）　生甘草（二分）　升麻　黃皮（酒製）　草豆蔻　當歸　黃芩（各三分）　柴胡（二分）　生地黃（三分）　藁本（三分）　蘇木（三分）　蒼朮（半錢）　熟地黃（一分）　獨活（二分）　紅花（二分）</p>
<p>上件㕮咀，如麻豆大，都作一服，水二大盞，煎至一蓋，去滓，稍熱服，食遠。</p>
<p>破血散疼湯　治乘馬損傷，跌其脊骨，惡血流於脅下，其痛苦楚不能轉側，妨其飲食。</p>
<p>羌活　防風（各一錢）　柴胡　連翹　當歸（各二錢）　中桂（一錢）　麝香（少許，別研）　水蛭（炒煙盡，三錢，研）</p>
<p>上件分作二服，酒二大盞、水一盞，除水蛭、麝香外，另研如泥，煎餘藥作一大盞，去滓，上火令稍熱，調二味，飢服之。</p>
<p>地龍散　治腰脊痛，或打撲傷損，從髙墜下，惡血在太陽經中，令人腰脊或脛腨臀股中痛不可忍，鼻壅塞不通。</p>
<p>中桂（四分）　桃仁（六個）　羌活（二錢）　獨活（一錢）　黃蘗（一錢）　麻黃（半錢）　當歸尾（一分）　地龍（四分）　甘草（一錢）　蘇木（六分）</p>
<p>上件㕮咀，每服五錢，水二盞，煎至一盞，去滓，溫服。</p>
<p>羌活蒼朮湯　治腳膝無力沉重。</p>
<p>羌活（三分）　防風（一錢半）　柴胡（七分半）　升麻（一錢）　獨活（一錢）　葛根（半錢）　炙甘草（半錢）　黃耆（二錢）　蒼朮（一錢）　橘皮（六分）　砂仁（一錢）黃皮（半錢）　知母（二錢半）　生甘草（半錢）　草豆蔻（半錢）</p>
<p>上件分作二服，每服水三盞，煎至一盞，去滓，熱服。</p>
<p>健步丸　治膝中無力，伸而不得屈，屈而不得伸，腰背腿腳沉重，行步艱難。</p>
<p>羌活（半兩）　柴胡（半兩）　防風（三錢）　川烏頭（一錢）　炒滑石（半兩）　炙甘草（半兩）　防己（一兩）　苦參（一錢，酒製）　肉桂（半錢）　瓜蔞根（半兩，酒製）澤瀉（三錢）</p>
<p>上為末，酒糊丸，如桐子大，每服七十丸，煎愈風湯送下，空心。愈風湯出潔古老人方論風門中。</p>
<p>趁痛丸　治打撲閃損，腰痛不可忍。</p>
<p>白萵苣子（炒黃）　白粟米（炒黃）　乳香　沒藥（各一錢）　烏梅（一個）</p>
<p>上為末，蒸餅為丸，如彈子大，每服一丸，細嚼，溫酒下，空心，食前。</p>
<p>麻黃蒼朮湯　治寒濕所客，身體沉重，腰痛，面色萎黃不澤。</p>
<p>麻黃（一錢）　桂枝（半錢）　杏仁（十個）　草豆蔻（半錢）　半夏（半錢）　炒麹（一錢）　蒼朮（二錢）　橘皮（一錢）　澤瀉（一錢）　白茯苓（一錢）　豬苓（半錢）　黃耆（二分）　炙甘草（二分）</p>
<p>上件㕮咀，如麻豆大，作一服，水二盞，煎至一盞，去滓，稍熱服，食前。</p>
<p>補益腎肝丸　治目中溜火，視物昏花，耳聾耳鳴，困倦乏力，寢汗憎風，行步不正，兩足欹側，臥而多驚，腳膝無力，腰以下消瘦。</p>
<p>柴胡　羌活　生地黃（炒）　苦參（炒）　防己（炒，各半錢）　附子（炮，一錢）　肉桂（一錢）　當歸（二錢）</p>
<p>上件為末，熟水丸如雞頭仁大，每服五十丸，溫水送下，食前。</p>

<h1>卷七</h1>

<h2>大便結燥門</h2>

<h3>大便結燥論</h3>
<p>《金匱真言論》云：北方黑色，入通腎，開竅於二陰，藏精於腎。又云：腎主大便，大便難者，取足少陰。夫腎主五液，津液潤則大便如常。若飢飽勞役，損傷胃氣，及食辛熱味厚之物，而助火邪，伏於血中，耗散真陰，津液虧少，故大便結燥。然結燥之病不一，有熱燥、有風燥。有陽結、有陰結，又有年老氣虛津液不足而結者。治法云：腎惡燥，急食辛以潤之。結者散之。如少陰不得大便，以辛潤之；太陰不得大便，以苦瀉之。陽結者散之，陰結者溫之。仲景云，小便利，大便硬，不可攻下，以脾約丸潤之。食傷太陰，腹滿食不化，腹響然，不能大便者，以藥瀉之。大抵津液耗少而燥者，以辛潤之；有物而結者，當下之。若不究其源，一概用巴豆、牽牛之類下之，損其津液，燥結愈甚；有復下復結，極則以至引導於下而不能通者，遂成不救之證，可不慎哉？</p>
<p>潤腸丸　治脾胃中伏火，大便秘澀或乾燥秘塞不通，全不思食，乃風結秘、血結秘，皆令閉塞也。以潤燥和血疏風，自然通。</p>
<p>麻子仁　桃仁（去皮尖，各一兩）　羌活（半兩）　當歸尾　煨大黃（各半兩）</p>
<p>上件，除麻仁、桃仁別研如泥外，搗羅為末，五上火煉蜜，丸如桐子大，每服三五十丸，空心，白湯送下。</p>
<p>如病人不大便，為大便不通而滋其邪盛者，急加酒製大黃以利之；如血燥而大便燥乾者，加桃仁、酒製大黃；如風結燥大便不行者，加麻子仁、大黃；如風澀而大便不行者，加皂角仁、大黃、秦艽以利之；如脈澀覺身有氣澀，而大便不通者，加郁李仁、大黃以除之氣燥；如寒陰之病，為寒結閉而大便不通者，以《局方》中半硫丸或加煎附子乾薑湯，冰冷與之。其病雖陰寒之證，常當服陽藥補之，若大便不通者，亦當十服中與一服藥微通其大便，不令閉結，乃治之大法。</p>
<p>若病人雖是陰證，或是陰寒之證，其病顯燥，脈實堅，亦於陽藥中加少苦寒之藥，以去熱燥，燥止勿加。如陰燥欲坐井中者，其二腎脈必按之虛，或沉細而遲，此易為辨耳。知有客邪之病，亦從權加藥以去之。</p>
<p>當歸潤燥湯</p>
<p>升麻（二錢）　當歸（一錢）　熟地黃（一錢）　生地黃（二錢）　甘草　大黃　桃仁麻仁（各一錢）　紅花（少許）</p>
<p>上件，除桃仁、麻仁另研如泥外，銼如麻豆大，作一服，水二大盞，入桃仁、麻仁煎至一盞，去滓，空心，宿食消盡，熱服之。</p>
<p>導滯通幽湯　治大便難，幽門不通上衝，吸門不開噎塞不便，燥閉氣不得下，治在幽門，以辛潤之。</p>
<p>當歸　升麻　桃仁泥（各一錢）　生地黃（五分）　紅花（一分）　熟地黃（五分）　炙甘草（一分）</p>
<p>上件作一服，水二盞，煎至一盞，去滓，調檳榔細末半錢，稍熱服。</p>
<p>活血潤燥丸　治大便風秘不通，常燥結。</p>
<p>當歸（一錢）　防風（三錢）　羌活（一兩）　大黃（一兩，濕紙裹煨）　桃仁（二兩，湯泡，去皮尖）　麻仁（二兩半，二味另研入藥）　皂角仁（燒存性，去皮，一兩半，其性得濕則滑，濕滑則燥結自除，用之勿誤）</p>
<p>上除麻仁、桃仁另研外，為細末，卻同拌勻，煉蜜去沫為丸，如梧子大，每服五十丸，三兩服後，大便日久不能結燥也。以瓷器內盛，紙封之，無令見風。</p>
<p>升陽瀉濕湯　治膈咽不通，逆氣裏急，大便不行。</p>
<p>青皮（二分）　甘草（四分）　槐子（二分）　黃耆（一錢）　黃蘗（三分）　升麻（七分）　生地黃（三分）　熟地黃（三分）　當歸（四分）　桃仁（二錢）　蒼朮（半錢）</p>
<p>上件㕮咀，如麻豆大，作一服，另研桃仁泥子，一處同煎，水二大盞，煎至一盞，去滓，稍熱服，食前。</p>
<p>麻黃白朮散　治大便不通，三日一遍，小便黃赤，渾身腫，面上及腹尤甚，其色黃，麻木身重如山，沉困無力，四肢痿軟不能舉動，喘促唾清水，吐噦痰唾，白沫如膠，時躁熱，發欲去衣，須臾而過，振寒，項額有時如冰，額寒尤甚，頭旋眼黑，目中溜火，冷淚，鼻不聞香臭，少腹急痛，當臍有動氣，按之堅硬而痛。</p>
<p>麻黃（不去節，半兩）　桂枝（三分）　杏仁（四個）　吳茱萸　草豆蔻（各半錢）　厚朴（三分）　炒麹（半錢）　升麻（二分）　柴胡（三分）　白朮（三分）　蒼朮（三分）　生甘草（一錢）　澤瀉（四分）　茯苓（四分）　橘紅（二分）　青皮（一分）　黃連（一分，酒製）　黃皮（二分，酒製）　黃耆（三分）　人參（三分）　炙甘草（一分）　豬苓（三分）</p>
<p>上㕮咀，分作兩服，水二大盞半，先煎麻黃令沸去沫，再入諸藥，同煎至一盞，去滓，稍熱服，食遠。</p>
<p>此證宿有風濕熱伏於榮血之中，其木火乘於陽道，為上盛元氣短少，上喘為陰火傷其氣，四肢痿。在腎水之間，乃所勝之病。今正遇冬寒，得時乘其肝木，又實其母肺金，尅火凌木，是大勝必大復。其證善恐欠多嚏，鼻中如有物，不聞香臭，目視䀮䀮，多悲健忘，小腹急痛，通身黃，腹大脹，面目腫尤甚，食不下，痰唾涕有血，目眥瘍，大便不通，只兩服皆已。</p>

<h2>痔漏門</h2>

<h3>痔漏論</h3>
<p>《生氣通天論》云：因於飽食，筋脈橫解，腸澼為痔。夫大腸者，庚也。主津，本性燥清，肅殺之氣；本位主收，其所司行津，以從足陽明，旺則生化萬物者也。足陽明為中州之土，若陽衰亦殞殺萬物，故曰萬物生於土，而歸於土者是也，以手陽明大腸司其化焉。既在西方本位，為之害蜚，司殺之府，因飽食、行房忍泄，前陰之氣歸於大腸，木乘火勢，而侮燥金，故火就燥也。大便必秘，其疾甚者，當以苦寒瀉火，以辛溫和血潤燥，疏風止痛，是其治也。</p>
<p>秦艽白朮丸　治痔疾，并痔漏有膿血，大便燥硬而作疼痛不可忍。</p>
<p>秦艽（一兩，去蘆）　當歸尾（半兩，酒製）　桃仁（一兩，湯浸，去尖，另研細）　地榆（三錢）　枳實（麩炒，半兩）　皂角仁（一兩，燒存性，去皮）　澤瀉（半兩）　白朮（半兩）</p>
<p>痔漏之病，乃風熱濕燥為之也，以秦艽、當歸尾辛溫，和血潤燥，疏風止痛，桃仁潤血；以皂角仁除風燥；以地榆破血；以枳實之苦寒，補腎以下泄胃實；以澤瀉之淡滲，使氣歸於前陰，以補清燥受胃之濕邪也；白朮之苦甘，以苦補燥氣之不足，其甘味瀉火而益元氣也。故曰甘寒瀉火，乃假枳實之寒也。古人用藥為下焦如瀆，又曰在下者引而竭之，多為大便秘澀，以大黃推去之；其津血益不足，以當歸和血及油潤之劑，則大便自然軟利矣。宜作銼湯以與之，是下焦有熱，以急治之之法也。以地榆惡人而壞胃，故宿食消盡，空心，作丸服之。</p>
<p>上同為細末，和桃仁泥子研勻，煎熱湯，白𬹃糊為丸，如雞頭仁大，令藥光滑焙乾，每服百丸，白湯送下，空心，宿食消盡服之，待少時以美膳壓之。忌生冷硬物、冷水菜之類，并濕𬹃酒及五辣辛熱、大料物之類，犯之則藥無驗矣。數服而愈。</p>
<p>腸風痔漏者，總辭也。分之則異，若破者為之痔漏，大便大澀必作大痛，此由風熱乘食飽不通，氣逼大腸而作也。受病者，燥氣也。為病者，胃熱也。胃刑大腸，則化燥火，以乘燥熱之實，勝風附熱而來，是濕、熱、風、燥四氣而合，故大腸頭成塊者濕也，作大痛者風也，作大便燥結者，主病兼受火邪也。去此四者，其西方肺主諸氣，其體收下，亦助病邪，須當破氣藥兼之，治法全矣。以銼湯與之，其效如神速，秦艽蒼朮湯主之。</p>
<p>秦艽蒼朮湯</p>
<p>秦艽（一錢，去苗）　澤瀉（三分）　蒼朮（七分）　防風（三分）　大黃（少許，雖大便過澀，亦不可多用）　桃仁（湯浸，去皮尖，一錢，另研細）　皂角仁（燒存性，去皮，一錢，另研細，調下）　當歸尾（三分，酒製）　黃蘗（去皮，酒製，五分，若大腸頭沉重者，濕勝也，更加之；若天氣火熱盛，病人燥熱者，喜冷，以急加之）　檳榔（梭身一分，細末調服之）</p>
<p>上件，除檳榔、桃仁、皂角仁三味外，㕮咀，如麻豆大，慎勿作末，都作一服，水五盞，煎至一盞二分，去滓，入檳榔等三味，再上火煎至一盞，空心，候宿食消盡，熱服之，待少時，以美膳壓之，不犯胃氣也。服藥日，忌生冷硬物、冷菜之類及酒濕𬹃、大料物、乾薑之類。犯之其藥無效。如有白膿，加白葵花五朵、去萼，青皮半錢、不去白，入正藥中同煎，又用木香三分，為細末，同檳榔等三味再上火同煎，依上法服餌。古人治此疾，多以歲月除之，此藥一服而愈，若病大者，再服而愈。</p>
<p>七聖丸　治大腸疼痛不可忍。叔和云：積氣生於脾臟旁，大腸疼痛陣難當，漸交稍瀉三焦是，莫謾多方立紀綱。</p>
<p>羌活（一兩）　檳榔　木香　川芎　桂（去皮，以上各半兩）　大黃（八錢，煨）　郁李仁（湯浸，去皮，另研，一兩半）</p>
<p>上件，除郁李仁另入外，為極細末，煉蜜為丸，如桐子大，量病人虛實，臨時斟酌丸數，白湯送下，取大便微利，一服而愈。切忌多利大便，大便大行，其痛滋甚。</p>
<p>秦艽防風湯　治痔漏，每日大便時發疼痛，如無疼痛，非痔漏也，此藥主之。</p>
<p>秦艽　防風　當歸身　白朮（以上各一錢半）　黃蘗（五分）　橘皮（三分）　炙甘草（六分）　紅花（少許）　桃仁（三十個）　煨大黃（三分）　升麻（二分）　柴胡（二分）　澤瀉（六分）</p>
<p>上件，銼如麻豆大，都作一服，水三大盞，煎至一盞，去滓，稍熱，空心服之，避風寒，忌房事、酒濕𬹃、大辛熱物，及當風寒處大便。</p>
<p>當歸郁李仁湯　治痔漏，大便硬努，大腸下垂多血，苦痛不能任。</p>
<p>皂角仁（一錢，另為細末，煎成調服）　郁李仁（一錢）　麻子仁（一錢半）　秦艽（一錢半）　蒼朮（半錢）　當歸尾（半錢）　澤瀉（三分）　煨大黃（三分）　生地黃（半錢）　枳實（七分）</p>
<p>上件㕮咀，水三大盞，煎至一盞，去滓，空心，宿食消盡服之，忌風寒處大小便。</p>
<p>秦艽羌活湯　治痔漏成塊，下垂疙瘩，不任其癢。</p>
<p>升麻（半錢）　柴胡（半錢）　黃耆（一錢）　炙甘草（半錢）　防風（七分）　藁本（二分）　細辛（少許）　紅花（少許）　羌活（一錢二分）　秦艽（一錢）　麻黃（半錢）</p>
<p>上件銼，如麻豆大，都作一服，水二盞，煎至一盞，去滓，空心服之，忌禁如前。</p>
<p>紅花桃仁湯　治痔疾經年，因飽食筋橫解，腸澼為壽，當去其筋脈橫解，破血絡是也。治法當補北方瀉中央。</p>
<p>生地黃（一錢）　當歸尾（半錢）　桃仁（十個）　紅花（半分）　漢防己（半錢）　黃蘗（一錢半）　豬苓（半錢）　澤瀉（八分）　防風（半錢）　麻黃（不去根，二分）　蒼朮（六分）</p>
<p>上件銼，如麻豆大，都作一服，水三大盞，煎至一盞，去滓，食前，熱服之，忌禁如前。</p>
<p>秦艽當歸湯　治痔漏，大便燥結疼痛。</p>
<p>秦艽（一錢）　當歸尾（半錢）　桃仁（二十個）　紅花（少許）　枳實（一錢）　煨大黃（四錢）　澤瀉（半錢）　白朮（半錢）　皂角仁（半錢）</p>
<p>上件銼，如麻豆大，都作一服，水三大盞，煎至一盞，去滓，稍熱服，食前。</p>

<h2>瀉痢腸澼門</h2>

<h3>瀉痢腸澼論</h3>
<p>《太陰陽明論》云：飲食不節，起居不時，陰受之，陰受之則入五臟，入五臟則䐜滿閉塞，下為飧泄，久為腸澼也。又云：春傷於風，夏生飧泄。又云：濕勝則濡瀉。夫脾胃者，同濕土之化，主腐熟水穀，胃氣和平，飲食入胃，精氣則輸於脾，上歸於肺，行於百脈而成榮衛也。若飲食一傷，起居不時，損其胃氣，而上升精華之氣即下降，是為飧泄，久則太陰傳少陰而為腸澼。假令傷寒飲食，䐜滿而傳飧泄者，宜溫熱之劑以消導之；傷濕熱之物而成膿血者，宜苦寒之劑以疏之。風邪下陷者，升舉之；濕氣內勝者，分利之；裏急者下之；後重者調之；腹痛者和之；洞瀉、腸鳴，無力不及拈衣，其脈弦細而弱者，溫之、收之；膿血稠粘，數至圊而不能便，其脈洪大而有力者，寒之、下之。大抵治病，救其所因，細察何氣所勝，取相尅之藥平之，隨其所利而利之，以平為期，此治之大法也。如泄而脈大，腸澼下血脈弦絕澀者，皆難治；滑大柔和者易治。故叔和云，下痢微小得延生，脈大洪浮無差日，正謂此也。</p>
<p>癸卯歲冬十月，小雪薄冰，天冷應時，白樞判家一老僕，面塵脫色，神氣特弱，病脫肛日久，服藥未驗，近日復下赤白，膿痢作，裏急後重，白多赤少，不任其苦。先師料曰：此非肉食膏粱，必多蔬食，或飲食不節，天氣應時，衣蓋猶薄，寒侵形體，乃寒滑氣泄不固，故形下脫也。當以澀去其脫而除其滑；微酸之質固氣上收，去其下脫；以大熱之劑除寒補陽；以補氣之藥升陽益氣，是的對其證。</p>
<p>訶子皮散　治腸胃虛寒泄瀉，水穀不化，腸鳴腹痛，脫肛，或作膿血，日夜無度。</p>
<p>粟殼（去蒂蓋，蜜炒半錢）　訶子（去核，七分，煨）　乾薑（炮，六分）　橘皮（半錢）</p>
<p>《本草》十劑云，澀可去脫，以粟殼之酸微澀，上收固氣去脫，主用為君也；以訶子皮之微酸，上收固血，治其形脫；橘皮微苦溫，益真氣升陽為之使；以乾薑大辛熱之劑，除寒為臣。</p>
<p>上件為細末，分作二服，每服水二盞，煎至一盞，和滓熱服，空心，再服全愈。</p>
<p>除濕熱和血湯　治腸澼下血，另作一派，其血唧出有力，而遠射四散如篩。仲春中旬，下二行，腹中大作痛，乃陽明氣衝熱毒所作，當升陽去濕熱和血脈，是其治也。</p>
<p>生地黃（半錢）　牡丹皮（半錢）　白芍藥（一錢半）　生甘草（半錢）　熟甘草（半錢）　黃耆（一錢）　升麻（七分）　當歸身（三分）　蒼朮　秦艽　橘皮　肉桂　熟地黃（各三分）</p>
<p>上件㕮咀，都作一服，水四盞，煎至一盞，去滓，空心，宿食消盡服之，稍熱，立效。</p>
<p>升麻補胃湯　治宿有陽明血證，五月間大熱，因吃杏，腸澼下血，唧遠去，四下散漫如篩，腰沉沉然，腹中不痛，血色紫黑，病名曰濕毒腸澼，是陽明、少陽經血證也。</p>
<p>升麻　羌活（各一錢）　獨活　防風（各一錢）　柴胡（半錢）　葛根（三分）　肉桂（少許）　牡丹皮　熟地黃　生地黃（各半錢）　白芍藥（一錢半）　當歸身（三分）　黃耆（一錢）　炙甘草（半錢）</p>
<p>上件㕮咀，如麻豆大，分作二服，水二大盞，煎至一盞，去滓，稍熱服，食前。</p>
<p>槐花散　治腸澼下血、濕毒下血。</p>
<p>槐花（六分）　青皮（六分）　當歸身（一錢）　荊芥穗（六分）　升麻（一錢）　熟地黃（六分）　川芎（四分）　白朮（六分）</p>
<p>上件為細末，每服二錢或三錢，米飲清調下，食前，忌酒濕𬹃、生冷物。</p>
<p>益智和中湯　治腸澼下血，或色深者紫黑，腹中痛，腹皮惡寒，右三部脈中指下得俱弦，按之無力，關脈弦甚緊，肌表陽明分涼，腹皮熱而喜熱物熨之，內寒明矣。</p>
<p>升麻（一錢）　葛根（半錢）　白芍藥（一錢半）　炙甘草（一錢）　桂枝（四分）　益智仁（半錢）　當歸身（一錢）　黃耆（一錢）　牡丹皮（半錢）　柴胡（半錢）　半夏（半錢）　乾薑（少許）　肉桂（一分）</p>
<p>上件為粗末，都作一服，水三大盞，煎至一盞，去滓，溫服，一服，食前。</p>
<p>和中益胃湯　治太陰、陽明腹痛，大便常泄，若不泄卻秘而難見，在後傳作濕熱毒，下鮮紅血，腹中微痛，脅下急縮，脈緩而洪弦，中之乍得，按之空虛。</p>
<p>熟地黃（三分）　當歸身（酒製，三分）　升麻（半錢）　蘇木（一分）　藁本（二分）　炙甘草（三分）　柴胡（半錢）　益智（二分）</p>
<p>上件都作一服，水三盞，煎至一盞，去滓，空心，溫服，一服而愈。</p>
<p>茯苓湯　治因傷冷飯水泄，一夜約走十行，變作白痢。次日，其痢赤白，腹中㽲痛減食，熱躁，四肢困倦無力以動。</p>
<p>茯苓（六分）　澤瀉（一錢）　當歸身（四分）　蒼朮（二分）　生薑（二錢）　肉桂（五分）　豬苓（六分）　炙甘草（半錢）　升麻（二錢）　芍藥（一錢半）　黃芩（三分，生用）　柴胡（二分）</p>
<p>上件㕮咀，分作二服，每服水二大盞，煎至一盞，去滓，稍熱服，食前。</p>
<p>黃耆補胃湯　治一日大便三四次，溏而不多，有時作泄，腹中鳴，小便黃。</p>
<p>黃耆（三分）　炙甘草（二錢）　升麻（六分）　橘皮（三分）　當歸身（三分）　益智仁（三分）　柴胡（三分）　紅花（少許）</p>
<p>上件㕮咀，分作二服，水二大盞，煎至一盞，去滓，稍熱服，食前。</p>
<p>升麻除濕湯　自上而下者，引而去之。</p>
<p>升麻（半錢）　柴胡（半錢）　羌活（半錢）　蒼朮（一錢）　炙甘草（三分）　神麹（半錢）　豬苓（半錢）　陳皮（三分）　大麥蘗𬹃（三分）　防風（半錢）　澤瀉（半錢）</p>
<p>上件都作一服，水二盞，煎至一盞，早飯後，稍熱服。如胃寒腸鳴，加益智仁半錢、半夏半錢，生薑、棗同煎，非腸鳴不得用。</p>
<p>人參益胃湯　治頭悶，勞動則微痛，不喜飲食，四肢怠墮，躁熱短氣，口不知味，腸鳴，大便微溏黃色，身體昏悶覺渴，不喜冷物。</p>
<p>黃耆（二分）　甘草（二分）　黃芩（三分）　陳皮（半錢）　柴胡（三分）　紅花（少許）　當歸尾（二分）　升麻（半錢）　白朮（三分）　半夏（三分）　人參（三分）　益智（二分）　蒼朮（一錢半）</p>
<p>上都作一服，水二盞，煎至一盞，去滓，稍熱服，食前。</p>
<p>升麻補胃湯　治因內傷，服牽牛、大黃，食藥致瀉痢五七行，腹中大痛。</p>
<p>升麻（半錢）　柴胡（半錢）　當歸身（一分）　半夏（三分）　乾薑（二分）　甘草（七分）　黃耆（半錢）　草豆蔻（半錢）　紅花（少許）</p>
<p>上件都作一服，水二盞，煎至一盞，去滓，早飯後，稍熱服。</p>
<p>扶脾丸　治脾胃虛寒，腹中痛，溏瀉無度，飲食不化。</p>
<p>白朮（二錢）　茯苓（二錢）　橘皮（一錢）　大麥蘗（四錢半）　炙甘草（二錢）　肉桂（半錢）　半夏（二錢）　乾生薑（半錢）　訶子皮（二錢）　紅豆（一錢）　乾薑（一錢）　炒麹（四錢）　藿香（一錢）　烏梅（二錢）</p>
<p>上件為細末，荷葉燒飯為丸，如桐子大，每服五十丸，食前，溫水送下。</p>
<p>烏梅肉丸　治腸風下血，別無餘證，但登廁便見，亦非內痔，服之立效。</p>
<p>真殭蠶（一兩）　烏梅肉（燒乾，一兩）</p>
<p>上為末，薄糊丸，如雞頭肉大，每服百丸，食前，多用白湯送下，日三服。</p>

<h1>卷八</h1>

<h2>小便淋閉門</h2>

<h3>小便淋閉論</h3>
<p>《三難》云：病有關有格，關則不得小便。又云：關無出之由，皆邪熱為病也。分在氣、在血而治之，以渴與不渴而辨之。如渴而小便不利者，是熱在上焦肺之分，故渴而小便不利也。夫小便者，是足太陽膀胱經所主也，長生於申，申者西方金也。肺合生水，若肺中有熱，不能生水，是絕其水之源。《經》云，虛則補其母，宜清肺而滋其化源也，故當從肺之分，助其秋令，水自生焉。又如雨、如露、如霜，皆從天而降下也，乃陽中之陰，秋氣自天而降下也。且藥有氣之薄者，乃陽中之陰，是感秋清肅殺之氣而生，可以補肺之不足，淡味滲泄之藥是也。茯苓、澤瀉、琥珀、燈心、通草、車前子、木通、瞿麥、萹蓄之類，以清肺之氣，泄其火，資水之上源也。如不渴而小便不通者，熱在下焦血分，故不渴而大燥，小便不通也。熱閉於下焦者，腎也、膀胱也，乃陰中之陰，陰受熱邪，閉塞其流。易上老云：寒在胃中遏絕不入，熱在下焦填塞不便。須用感北方寒水之化，氣味俱陰之藥，可除其熱，泄其閉塞。《內經》云：無陽則陰無以生，無陰則陽無以化。若服淡滲之藥，其性乃陽中之陰，非純陽之劑，陽無以化，何能補重陰之不足也？須用感地之水運，而生大辛之味；感天之寒藥，而生大寒之氣。此氣味俱陰，乃陰中之陰也。大寒之氣，人稟之生膀胱，寒水之運，人感之生腎。此藥能補腎與膀胱。受陽中之陽，熱火之邪而閉塞其下焦，使小便不通也。</p>

<h3>熱在下焦小便不通治驗</h3>
<p>北京人，王善甫，為京兆酒官。病小便不利，目睛突出，腹脹如鼓，膝以上堅硬，皮膚欲裂，飲食不下，甘淡滲瀉之藥皆不效。先師曰：疾急矣，而非精思不能處，我歸而思之。夜參半，忽攬衣而起，曰：吾得之矣。《內經》有云，膀胱者，津液之府，又氣化而能出焉。渠輩已用滲泄之藥，而病益甚，是氣不化也。啓玄子云：無陽則陰無以生，無陰則陽無以化。甘淡氣薄皆陽藥，獨陽無陰欲化得乎！明日以群陰之劑投之，不再服而愈。</p>
<p>滋腎丸　治不渴而小便閉，熱在下焦血分也。</p>
<p>知母（去皮，銼，酒製）　黃蘗（銼，酒製，焙乾，各二兩）　肉桂（一錢）</p>
<p>《內經》云：熱者寒之。遂用知母、黃蘗大苦寒為主治，肉桂辛熱與熱同體，乃寒因熱用也。</p>
<p>上件為細末，煎熟水為丸，如雞頭大，每服百餘丸至二百丸，煎百沸湯送下，空心，宿食消盡服之。頓兩足，令藥易下行故也。如小便利，前陰中如刀刺痛，有惡物下，為效驗。</p>
<p>清肺飲子　治渴而小便不利，邪熱在上焦氣分也。</p>
<p>茯苓（去皮，二錢）　豬苓（去皮，三錢）　澤瀉（五分）　琥珀（半錢）　燈心（一分）　木通（七分）　通草（二分）　車前子（二錢，炒）　瞿麥（五分）　萹蓄（七分）</p>
<p>上為細末，每服五錢，水一盞半，煎至一盞，稍熱服，或《局方》八正散，仲景五苓散亦得用之。</p>
<p>導氣除燥湯　治小便閉塞不通，乃血澀，致氣不通而竅澀也。</p>
<p>知母（細銼，酒製，三錢）　黃蘗（酒製，四分）　滑石（炒黃色，為末，二錢）　澤瀉（為末，三錢）　茯苓（去皮，二錢）</p>
<p>上件和勻，每服秤半兩，水三大盞，煎至一盞，去滓，稍熱服，空心。如急閉，不計時候。</p>
<p>腎疸湯　治腎疸目黃，甚至渾身黃，小便赤澀。</p>
<p>升麻（半錢）　羌活　防風　藁本　獨活　柴胡（以上各半錢）</p>
<p>以上治腎疸目黃，渾身黃。</p>
<p>白朮（半錢）　蒼朮（一錢）　豬苓（四分）　澤瀉（三分）　茯苓（二分）</p>
<p>以上治小便赤澀。</p>
<p>葛根（半錢）　甘草（三分）　黃蘗（二分）　人參（三分）　麹（六分）</p>
<p>上件銼，如麻豆大，分作二服，每服水三盞，煎至一盞，去滓，稍熱服，食前。</p>

<h2>陰痿陰汗及臊臭門</h2>

<h3>陰痿陰汗及臊臭論</h3>
<p>一富者，前陰臊臭，又因連日飲酒，腹中不和，求先師治之。曰：前陰者，足厥陰肝之脈，絡陰器，出其挺末。夫臭者，心之所主，散入五方為五臭，入肝為臊臭，此其一也。當於肝經中瀉行間，是治其本；後於心經中瀉少衝，乃治其標。如惡針，當用藥除之。夫酒者，氣味倶厚，能生裏之濕熱，是風濕熱合於下焦為邪，故《經》云下焦如瀆，又云在下者引而竭之。酒是濕熱之水，亦宜決前陰以去之，是合下焦二法之治。</p>
<p>龍膽瀉肝湯　治陰部時復濕癢及臊臭。</p>
<p>柴胡　澤瀉（各一錢）　車前子　木通（各半錢）　生地黃　當歸尾　草龍膽（各三分）</p>
<p>柴胡入肝為引用；澤瀉、車前子、木通淡滲之味利小便以降臊臭，是名在下者引而竭之；生地黃、草龍膽苦寒瀉酒濕熱，更兼車前子之類，以撤肝中邪氣；肝生血，以當歸尾滋肝中血不足。</p>
<p>上件㕮咀，如麻豆大，都作一服，水三大盞，煎至一盞，去滓，稍熱，空心，宿食消盡服之，更以美膳壓之。</p>
<p>清震湯　治溺黃臊臭淋漓，兩丸如冰，陰汗浸及兩股，陰頭亦冷，正值十二月天寒凜冽，霜雪交集，寒之極矣。</p>
<p>升麻（半錢）　甘草（炙，二分）　柴胡（五分）　酒黃蘗（一錢）　蒼朮（半錢）　藁本（二分）　防風（三分）　當歸身（二分）　紅花（一分）　豬苓（三分）　羌活（一錢）麻黃根（三分）　黃芩（半錢）　澤瀉（四分）</p>
<p>上件㕮咀，如麻豆大，都作一服，水二大盞，煎至一盞，去滓，臨臥服，大忌酒濕𬹃。</p>
<p>正元湯　治兩丸冷，前陰痿弱，陰汗如水，小便後有餘滴，尻臀并前陰冷，惡寒而喜熱，膝亦冷。</p>
<p>升麻（一錢）　羌活（一錢）　柴胡（一錢）　炙甘草（一錢半）　草龍膽（二錢）　黃蘗（二錢）　澤瀉（一錢半）　知母（二錢）</p>
<p>上件銼，如麻豆大，都作一服，水三盞，煎至一盞，去滓，稍熱服，空心服之，以早飯壓之。</p>
<p>柴胡勝濕湯　治兩外腎冷，兩髀樞陰汗，前陰痿，陰囊濕癢臊氣。</p>
<p>生甘草（二錢）　柴胡（一錢）　酒黃蘗（二錢）　當歸尾（一錢）　紅花（少許）　草龍膽　麻黃根　羌活　漢防己（各一錢）　五味子（三個）　升麻（一錢半）　澤瀉（一錢半）　茯苓（一錢）</p>
<p>上件銼，如麻豆大，都作一服，水三大盞，煎至一盞，去渣，溫服，食前，忌酒濕𬹃、房事。</p>
<p>椒粉丸　治前陰兩丸濕癢痛，秋冬甚，夏月減。</p>
<p>麻黃（一錢）　黑狗脊（半錢）　斑蝥（二個）　肉桂（二分）　當歸身（三分）　輕粉（少許）　小椒（三分）　蛇床子（半錢）　豬苓（三分）　紅花（少許）</p>
<p>上件為細末，乾摻上，避風寒、濕冷處坐臥。</p>
<p>補肝湯　治前陰如冰冷并陰汗，兩腳痿軟無力。</p>
<p>黃耆（七分）　人參（三分）　葛根（三分）　升麻（四分）　柴胡　羌活　當歸身　連翹　炒黃蘗　澤瀉　蒼朮　麹末　知母　防風（各二分）　炙甘草（半錢）　陳皮（二分）　白茯苓（三分）　豬苓（四分）</p>
<p>上件銼，如麻豆大，都作一服，水二盞，煎至一盞，去滓，稍熱，空心，食前，忌酒濕𬹃。</p>
<p>溫腎湯　治面色萎黃，腳萎弱無力，陰汗，陰莖有夭色。</p>
<p>麻黃（六分）　防風（一錢半）　白朮（一錢）　澤瀉（二錢）　豬苓（一錢）　白茯苓（一錢）　升麻（一錢）　柴胡（六分）　酒黃蘗（一錢）　蒼朮（一錢半）</p>
<p>上件分作二服，水二大盞，煎至一盞，去滓，稍熱服，食前，天晴明服之，候一時辰方食。</p>
<p>丁香疝氣丸　治臍下撮急疼痛，并臍以下周身皆急痛，小便頻清，其五脈急，獨腎按之不急，皆虛無力，名曰腎疝。</p>
<p>當歸　茴香（各一錢）　甘草　木香（各半錢）　全蝎（三十個）　羌活（三錢）　防己（三分）　麻黃根節　玄胡（各一錢）　丁香（半錢）　肉桂（一錢）　川烏頭（半錢）</p>
<p>上件為細末，酒煮𬹃糊為丸，如雞頭仁大，每服五十丸，溫酒送下，淡鹽湯亦得，空心。</p>

<h1>卷九</h1>

<h2>雜方門</h2>

<h3>時毒治驗</h3>
<p>泰和二年，先師以進納監濟源稅，時四月，民多疫癘，初覺憎寒體重，次傳頭面腫盛，目不能開，上喘，咽喉不利，舌乾口燥，俗云大頭天行，親戚不相訪問，如染之，多不救。張縣承侄亦得此病，至五六日，醫以承氣加藍根下之，稍緩。翌日，其病如故，下之又緩，終莫能愈，漸至危篤。或曰李明之存心於醫，可請治之。遂命診視，具說其由。先師曰：夫身半以上，天之氣也，身半以下，地之氣也。此邪熱客於心肺之間，上攻頭目而為腫盛，以承氣下之，瀉胃中之實熱，是誅罰無過，殊不知適其所至為故。遂處方，用黃芩、黃連苦寒，瀉心肺間熱以為君；橘紅苦平，玄參苦寒，生甘草甘寒，瀉火補氣以為臣；連翹、黍粘子、薄荷葉苦辛平，板藍根味苦寒，馬勃、白殭蠶味苦平，散腫消毒、定喘以為佐；新升麻、柴胡苦平，行少陽、陽明二經不得伸；桔梗味辛溫為舟楫，不令下行。共為細末，半用湯調，時時服之；半蜜為丸，噙化之，服盡良愈。因嘆曰：往者不可追，來者猶可及。凡他所有病者，皆書方以貼之，全活甚眾，時人皆曰，此方天下所制，遂刊於石，以傳永久。</p>
<p>普濟消毒飲子</p>
<p>黃芩（君）　黃連（各半兩，君）　人參（三錢）　橘紅（去白，臣）　玄參（臣）　生甘草（各二錢，臣）　連翹　黍粘子　板藍根　馬勃（各一錢）　白殭蠶（炒，七分）　升麻（七分）　柴胡（二錢）　桔梗（二錢）</p>
<p>上件為細末，服餌如前法，或加防風、薄荷、川芎、當歸身，㕮咀，如麻豆大，每服秤五錢，水二盞，煎至一盞，去滓，稍熱，時時服之。食後如大便硬，加酒煨大黃一錢或二錢以利之，腫勢甚者，宜砭刺之。</p>

<h3>燃香病熱</h3>
<p>戊申春，節使趙君，年幾七旬，病身體熱麻，股膝無力，飲食有汗，妄喜笑，善飢，痰涎不利，舌強難言，聲嘎不鳴，求治於先師。診得左寸脈洪大而有力，是邪熱客於經絡之中也。兩臂外有數瘢，遂問其故，對以燃香所致。先師曰：君之病皆由此也。夫人之十二經，灌溉通身，終而復始。蓋手之三陽，從手表上行於頭，加之以火邪，陽併於陽，勢甚熾焉。故邪熱妄行，流散於周身，而為熱麻。（《黃帝針經》四卷口問第一：）胃熱則蟲動，蟲動則廉泉開，故涎下。熱傷元氣，而為沉重無力；飲食入胃，慓悍之氣不循常度，故多汗；心火盛，則妄喜笑；脾胃熱，則消穀善飢；肺金衰，則聲嘎不鳴。仲景云，微數之脈，慎不可灸，焦骨傷筋，血難復也。君奉養以膏粱之味，無故而加之以火焫之毒，熱傷經絡而為此病明矣。《內經》云：熱淫所勝，治以苦寒，佐以苦甘，以甘瀉之，以酸收之。當以黃蘗、知母之苦寒為君，以瀉火邪，壯筋骨，乃腎欲堅，急食苦以堅之；黃耆、生甘草之甘寒，瀉熱實表；五味子酸止汗，補肺氣之不足以為臣；炙甘草、當歸之甘辛，和血潤燥；升麻、柴胡之苦平，行少陽、陽明二經，自地升天，以苦發之者也，以為臣佐。㕮咀，同煎，取清汁服之，更繆刺四肢，以瀉諸陽之本，使十二經相接而瀉火邪，不旬日良愈。遂名其方清神補氣湯。</p>
<p>清神補氣湯</p>
<p>蒼朮（四錢）　藁本（二錢）　升麻（六錢）　柴胡（三錢）　五味子（一錢半）　黃蘗（三錢）　酒知母（二錢）　陳皮（一錢半）　黃耆（三錢）　生甘草（二錢）　當歸（二錢）</p>
<p>上件銼，如麻豆大，每服秤五錢，水五盞，煎至一盞，去滓，空心，候大小便，覺飢時服之，待少食，以美膳壓之。</p>

<h3>人之汗以天地之雨名之</h3>
<p>《陰陽應象論》曰，人之汗，以天地之雨名之。又云，濕盛則霖霪驟注。蓋以真氣已虧，胃中火熱，汗出不休，胃中真氣已竭；若陰火亦衰，無汗皮燥，乃陰中之陽、陽中之陽俱衰。四時無汗，其形不久，濕衰燥旺，理之常也。其形不久者，秋氣主殺。生氣者，胃之穀氣也，乃春少陽生化之氣也。張耘夫，己酉閏二月盡，天寒陰雨，寒濕相雜，因官事飲食失節，勞役所傷，病解之後，汗出不止，沾濡數日，惡寒重，添厚衣，心胸間時煩熱，頭目昏憒上壅，食少減。此乃胃中陰火熾盛，與外天雨之濕氣、峻熱兩氣相合，令濕熱大作，汗出不休，兼見風邪以助東方甲乙。風藥去其濕，以甘寒瀉其熱，羌活勝濕湯主之。</p>
<p>羌活勝濕湯</p>
<p>炙甘草（三分）　黃耆（七分）　生甘草（五分）　生黃芩　酒黃芩（各三分）　人參　羌活　防風　藁本　獨活　細辛　蔓荊子　川芎（各三分）　升麻　柴胡（各半錢）　薄荷（一分）</p>
<p>上件都作一服，水二大盞，煎一盞半，細辛以下入輕清四味，再上火，煎至一盞，去滓，熱服之，一服而止，諸證悉去。</p>

<h3>偏枯二指</h3>
<p>陝帥郭巨濟，病偏枯二指，著足底不能伸，迎先師於京治之。至，則以長針刺委中，深至骨而不知痛，出血一二升，其色如墨，又且繆刺之。如是者六七次，服藥三月，病良愈。</p>

<h3>陰盛格陽</h3>
<p>馮內翰叔獻之侄擽童，年十六，病傷寒，目赤而煩渴，脈七八至。醫以承氣湯下，已煮藥，而先師適從外來，馮告之，當用承氣。先師切脈，大駭曰：幾殺此兒，彼以諸數為熱，諸遲為寒，今脈七八至是熱極也，殊不知《至真要大論》云：病有脈從而病反者何也？岐伯曰：脈至而從按之不鼓，諸陽皆然。此陰盛格陽於外，非熱也。速持薑附來，吾以熱因寒用之法處治。藥味就，而病者爪甲變青，頓服八兩，汗尋出而愈，朝賢多為作詩紀之，澤人王子正云：</p>
<p>天地生萬物，惟人最為貴。</p>
<p>攝養忽有虧，能無觸邪氣？</p>
<p>盧扁不出世，夭枉跡相繼。</p>
<p>世道交相喪，適於此凋敝。</p>
<p>醫學不師授，迷津罔攸濟。</p>
<p>《難》《素》何等物，縱有徒充笥。</p>
<p>字畫尚未知，矧肯究其義。</p>
<p>頃年客京華，知醫僅一二。</p>
<p>鎮陽隴西公，翹然出其類。</p>
<p>折節易水張，提耳發其秘。</p>
<p>竊嘗侍談塵，窮理到幽遂。</p>
<p>吾友叔獻兄，有侄破苽戌。</p>
<p>頭痛肌復熱，呻吟聲震地。</p>
<p>目赤苦煩渴，脈息八九至。</p>
<p>眾以為可下，公獨以為未。</p>
<p>眾皆以為難，公獨以為易。</p>
<p>薑附投半斤，駭汗夾人背。</p>
<p>須臾煩渴止，百骸泰其否。</p>
<p>健羨活人手，所見一何異。</p>
<p>脈理造精微，起死特遊戲。</p>
<p>公難惡其名，名焉豈能避。</p>
<p>喜為知者言，善誘不求利。</p>
<p>我願趨几筵，執經請從事。</p>
<p>齊沐作此詩，聊以伸鄙意。</p>

<h3>誤服白虎湯變證</h3>
<p>西臺掾肖君瑞，二月中，病傷寒發熱，以白虎投之，病者面黑如墨，本證遂不復見，脈沉細，小便不禁。先師初不知也。及診之曰：此立夏以前，誤服白虎，白虎大寒，非行經之藥，止能寒臟腑，不善用之，則傷寒。本病隱曲於經絡之間，或更投以大熱之藥，求以去陰邪，則他證必起，非所以救白虎也。可用溫藥之升陽行經者。難者云，白虎大寒，非大熱何以救，君之治奈何？先師曰：病隱於經絡間，陽不升則經不行，經行而本證見矣。本證見又何難焉？果如其言。</p>

<h3>脈風成厲</h3>
<p>戊申歲正月，段庫，病厲風，滿面連須極癢，眉毛已脫落，須用熱水沃之稍緩，每晝夜須數次，或砭刺亦緩。先師曰：《風論》中，夫厲者，榮衛熱附，其氣不清，故使其鼻柱壞而色敗，皮膚瘍潰。風寒客於脈而不去，名曰厲風。治之者，當刺其腫上，已刺以銳針，刺其處按出其惡氣，腫盡乃止。常食如常食，勿食他食。如以藥治之，當破血去熱，升陽去癢瀉榮逆，辛溫散之，甘溫升之，行陽明經，瀉心火，補肺氣，乃治之正也。</p>
<p>補氣瀉榮湯</p>
<p>升麻（六分）　連翹（六分）　蘇木（三分）　當歸　全蝎　黃連　地黃　黃耆（以上各三分）　生黃芩（四分）　甘草（一錢半）　人參（二分）　生地黃（四分）　桃仁（三個）　桔梗（半錢）　麝香（少許）　梧桐淚（一分）　虻蟲（去翅足，微炒，二個）　水蛭（炒令煙盡，兩個）</p>
<p>上件銼，如麻豆大，除連翹另銼，梧桐淚研、白豆蔻二分為細末，二味另放，麝香、虻蟲、水蛭三味為細末另放外，都作一服，水二大盞、酒一匙，入連翹，煎至一盞六分，再入白豆蔻二味并麝香等三味，再上火煎一二沸，去渣，稍熱，早飯後、午飯前服，忌酒濕𬹃、生冷硬物。</p>

<h3>生子不病胎瘤</h3>
<p>李和叔一日問先師曰：中年以來，得一子，至一歲之後，身生紅繫瘤不救，後三四子，至一二歲，皆病瘤而死，何緣至此疾？師曰：予試思之。翌日，見和叔曰：吾得之，汝乃腎中伏火，精氣中多有紅繫，以氣相傳生子，子故有此疾，遇觸而動，發於肌肉之間，俗名胎瘤者是也。汝試觀之，果如其言。遂以滋腎丸數服，以瀉腎中火邪，補真陰之不足，忌酒辛熱之物。其妻與六味地黃丸，以養陰血，受胎五月之後，以黃芩、白朮二味作散，啖五七服，後生子，至三歲，前證不復作矣。李心中誠服曰：先生乃神醫也。遂從而學之。其子今已年壯。</p>

<h3>風寒傷形</h3>
<p>靈壽縣董臨軍，癸卯年冬十二月間，大雪初霽，因事至真定。忽覺有風氣暴至，又二日，腦項麻，候六脈俱弦甚，按之洪實有力，其證手攣急，大便秘澀，面赤熱，此風寒始至加於身也。四肢者脾也，風寒之邪傷之，則搐急而攣痹，乃風淫末疾，而寒在外也。《內經》曰，寒則攣急，謂此也。本人素飲酒，內有實熱，乘於腸胃之間，故大便秘澀而面赤熱，內則手陽明經受邪，外則足太陰脾經又受風寒之邪，用桂枝、甘草炙以卻其寒邪而緩其急搐；用黃蘗之苦寒滑以瀉實而潤燥，急救腎水；用升麻、葛根以升陽氣，行手足陽明之經，不令遏絕；更以桂枝辛熱入手陽明之經為引用潤燥；復以芍藥、甘草專補脾氣，退木邪，專益肺氣也；加人參以補元氣為之輔，名活血通經湯。</p>
<p>活血通經湯</p>
<p>升麻　葛根（各一錢）　桂枝（二錢）　當歸身（一錢）　人參（一錢）　芍藥（半錢）　炙甘草（一錢）　黃蘗（酒製，二錢）</p>
<p>上件㕮咀，都作一服，水二大盞，煎至一盞，去滓，稍熱服，令暖房中近火摩搓其手，一服而愈。</p>

<h3>暑熱傷氣</h3>
<p>商人杜彥達，五月間，兩手指麻木，四肢困倦，怠惰嗜臥，乃熱傷元氣也，以人參益氣湯主之。</p>
<p>人參益氣湯</p>
<p>黃耆（八錢）　生甘草（半錢）　甘草（炙，二錢）　人參（半兩）　升麻（二錢）　白芍藥（三錢）　五味子（一百四十個）　柴胡（二錢半）</p>
<p>上件㕮咀，分作四服，每服水二盞，煎至一盞，去滓，稍熱服，食遠，神效。</p>
<p>芍藥補氣湯　治皮膚間麻木，此肺氣不行也（潔古老人立此方神效）。</p>
<p>黃耆（一兩）　白芍藥（一兩半）　橘皮（不去白，一兩）　澤瀉（半兩）　甘草（炙，一兩）</p>
<p>上件㕮咀，每服秤半兩，水二盞，煎至一盞，去滓，溫服。如肌肉麻木，必待瀉營而愈；如濕熱相合，肢體沉重，當瀉濕熱。</p>
<p>導氣湯　治兩腿麻木沉重。</p>
<p>黃耆（八錢）　甘草（六錢）　五味子（一百二十個）　升麻（二錢）　柴胡（二錢）　當歸尾　澤瀉（各二錢）　紅花（半錢）　陳皮（一錢）　青皮（四錢）</p>
<p>上件㕮咀，分作四服，每服水三大盞，煎至一盞，去滓、熱服，食前。</p>
<p>茯苓燥濕湯　治六七月間，濕令大行，濕令行，子能令母實，熱旺也。濕熱大勝，必刑庚大腸，以天令言之，則清燥之氣絕矣。古人之法，夏月熱以救熱，傷天真元氣，燥金若受濕熱之邪，是絕寒水生化之源，源絕則腎虧，痿厥之病大作，腰以下痿軟，癱瘓不能動矣，何止行步不正，兩足欹側，更宿有濕熱之證，當急救之。</p>
<p>黃耆（一錢半）　蒼朮（一錢）　白朮（半錢）　橘皮（半錢）　人參（三分）　五味子（九個）　麥門冬　當歸身　生地黃　麹末（各二分）　澤瀉（半錢）　白茯苓（三分）　豬苓（二分）　酒黃蘗（二分）　柴胡（一分）　升麻（三分）　黃連（一分）　炙甘草（一分）</p>
<p>上件㕮咀，每服半兩，水二盞半，煎至一盞，去滓，空心服。</p>

<h3>陽盛拒陰</h3>
<p>中書粘舍公，年三十三歲，病腳膝痿弱，臍下、尻臀皆冷，陰汗臊臭，精滑不固，省醫黃道寧主以鹿茸丸，十旬不減，至戊申春具錄前證，始求於先師。先師遂診其脈，沉數而有力，乃曰：公飲醇酒以膏粱，滋火於內，逼陰於外，醫見其證，蓋不知陽強陰不能密，以致膚革冷而溢泄，以為內實有寒，投以熱劑，欲瀉其陰而補真陽，真所謂實實虛虛也。其不增劇者為幸矣，復何獲效歟？即處以滋腎丸，大苦寒之劑制之以急。寒因熱用，引入下焦，適其病所，瀉命門相火之勝，再服而愈。公以厚禮，更求前藥，先師固辭，竟以不受。或問曰，物不受義也，藥既大驗不復與何也？曰：夫大寒、大熱之藥，非久服者，唯從權可也。今公之疾，相火熾盛以乘陰位，故用此大寒之劑，以瀉相火而助真陰，陰既復其位，皮表之寒自消矣。《內經》云：陰平陽秘，精神乃治。如過用之，則故病未已，新病復起矣，此予之意也。</p>

<h3>身體麻木</h3>
<p>丁未年九月間，李正臣夫人病，診得六脈俱中得弦洪緩相合，按之無力。弦在其上是風熱下陷入陰中，陽道不行。是證合目則渾身麻木，晝減而夜甚；開目則麻木漸退，久則絕止，常開其目此證不作。懼其麻木，不敢合眼，致不得眠，身體皆重，有時痰嗽，覺胸中常似有痰而不利，時有躁作，氣短促而時喘，肌膚充盛，飲食、大小便如常。唯畏其麻木不敢合眼為最苦。觀其色脈，形病相應而不逆。（《黃帝針經》寒熱病第三：）陽盛䐜目而動輕，陰盛閉目而靜重。又云：諸脈皆屬於目。《針經》又云：開目，則陽道行，陽氣遍布周身；閉目，則陽道閉而不行，如晝夜之分，知陽衰而陰旺也。且麻木為風，三尺之童皆以為然。細校之有區別耳。久坐而起亦有麻木，謂如繩縛之人，釋之覺麻木而不敢動，良久則自已。以此驗之，非有風邪，乃氣不行也。何可治風，惟補其肺中之氣，則麻自去矣。知經脈中陰火乘其陽分，火動於中為麻木也，當兼去其陰火。時痰嗽者，秋涼在外，在上而作也，當以溫劑實其皮毛。身重脈緩者，濕氣伏匿而作也，時見躁作，當升陽助氣益血，微瀉陰火與濕，通行經脈，調其陰陽則已矣。非五臟六腑之本有邪也。補氣升陽和中湯主之。</p>
<p>補氣升陽和中湯</p>
<p>黃耆（五錢）　人參（三錢）　炙甘草（四錢）　陳皮　白朮（各二錢）　白芍藥（三錢）　生甘草（一錢，去腎熱）　草豆蔻（一錢半，益陽道，退外寒）　升麻（一錢）　酒製黃蘗（一錢，瀉火除濕）　佛耳草（四錢）　當歸身（二錢）　白茯苓　澤瀉　柴胡（各一錢）　蒼朮（一錢半）</p>
<p>上件㕮咀，每服秤三錢，水二大盞，煎至一大盞，熱服，早飯後、午飯前分服而愈。</p>
<p>十月二十日，嚴霜作時，有一婦人，病四肢無力痿厥，濕熱在下焦也；醋心者，濁氣不降，欲為滿也；合目麻木作者，陽道不行也；惡風寒者，上焦之分，皮膚中氣不行也；開目不麻者，助陽道行，故陰寒之氣少退也；頭目眩運，風氣下陷於血分，不得伸越而作也，近火則有之。</p>
<p>沖和補氣湯</p>
<p>羌活（七分）　獨活（三分）　柴胡（二分）　人參（一錢）　甘草（炙，半錢）　白芍藥（三錢）　黃耆（二錢）　白朮（一錢）　蒼朮（二錢）　橘皮（二錢）　黃蘗（三分）黃連（一分）　澤瀉（一錢）　豬苓（一錢）　麹（二分）　木香　草豆蔻（各二分）　麻黃（不去節，二分）　升麻（半錢）　當歸身（三分）</p>
<p>上件分作二服，每服水二盞，煎至一盞，去滓，稍熱服，食遠，神效。</p>

<h3>暴攣癇眩</h3>
<p>《黃帝針經》三卷寒熱第三云：暴攣癇眩，足不任身，取天柱穴（天柱穴足太陽也）。又云：癲癇瘈瘲，不知所苦，兩蹻之下，男陽女陰。潔古老云，晝發灸陽蹻，夜發灸陰蹻各二七壯。陽蹻起於跟中，循外踝上行，入風池（申脈穴是也）；陰蹻亦起於跟中，循內踝上行，至咽喉，交貫衝脈（照海穴是也）。</p>
<p>升陽湯　治陽蹻癇疾，足太陽寒，恐則氣下行，宜升陽氣。</p>
<p>羌活（一兩半）　防風（八錢）　炙甘草（半兩）　麻黃（不去根節，八錢）</p>
<p>上件銼，如麻豆大，每服秤三錢，水五盞，煎至一盞，空心，熱服。</p>

<h3>疝瘕同法治驗</h3>
<p>丁香楝實丸　治男子七疝，痛不可忍，婦人瘕聚帶下，皆任脈所主，陰經也，乃肝腎受病，治法同歸於一。</p>
<p>當歸（去蘆，銼碎）　附子（炮裂，去皮臍，銼碎）　川楝子（銼）　茴香（炒）</p>
<p>上件四味各一兩，銼碎，以好酒三升同煎，酒盡為度，焙乾作細末，每秤藥末一兩，再入下項藥：</p>
<p>丁香（五分）　木香（五分）　全蝎（十三個）　玄胡（五錢）</p>
<p>上四味同為細末，入在前項，當歸等藥末秤，和勻，酒糊為丸，如桐子大，每服三十丸至百丸，溫湯送下，空心。</p>
<p>凡疝氣帶下，皆屬於風，全蝎治風之聖藥；茴香、川楝子皆入小腸經；當歸、玄胡和血止血痛；疝氣、帶下，皆積寒於小腸之間，故以附子佐之，以丁香、木香引導也。韓提控病疝氣，每發痛甚不可忍，則於榻兩末分置其枕，往來伏之以受，如是者三年不已，服此藥三劑，良愈。</p>
