<header data-type="book">
<h1>沈氏女科輯要箋疏</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>沈又彭</data>原輯，<data>張壽頤</data>箋疏</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>杭州三三醫社版（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-9910015364">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>小引</h2>
<p>女科之有專書自陳良甫大全良方而以後王氏準繩最為羞富武之望叔卿氏又依據準繩別為濟陰綱目門分類別非不粲然可觀而讀之輒覺陳陳相因腐氣滿紙者以袁集古人空泛議論絕少切要發明則通套之詞未免隔膜而搔不著癢處如是而求臨證之時必收捷效蓋亦僅矣竊謂宋金元明諸家醫籍皆未能脫此痼習固不必專以為女科書之病惟堯封沈氏女科輯要寥寥數十葉精當處勘透隱微切中肯繁多發前人所未發實驗彰彰始覺軒爽豁目頤早歲習醫治婦女病即從是書入手臨證以來獲益不少而盂英按語更能刻進一層洞見癥結皆是此道之金針雖僅小小兩冊大有取之無盡用之不竭之妙近來舊刻極不易得滬上新有石印本在潛齋醫藥叢書十四種內繕寫不精錯落處至不可讀爰議重綠一過少少引申其餘義以徵經驗適本校授課有以分科之說進者乃即用是編以示女科之涯略附以二十餘年閱厯所得作為箋註姑以自識心得是耶非耶請讀者於臨狀治療時自證之何加壬戌仲春張壽頤記時寓浙蘭江之中醫專校</p>

<h2>經水</h2>
<p>（素問）　女子七歲腎氣盛齒更髮長二七而天癸至任脈通太衝脈盛月事以時下</p>
<p>沈曰天癸是女精由任脈而來月事是經血由太衝而來經言二十而天癸至緣任脈通斯時大沖脈盛月事亦以時下一順言之一逆言之耳故月事不來不調及崩是血病咎在衝脈衝脈隸陽明帶下是精病咎在任脈任脈隸少陰蓋身前中央一條是任脈背後脊裡一條是督脈皆起於前後兩陰之交會陰穴難經明晰靈素傳誤帶脈起於季脅似束帶狀人精藏於腎腎繫於腰背精欲下泄必由帶脈而前然後從任脈而下故經言任脈為病女子帶下</p>
<p>孟英曰俞東扶云經言男子二八而腎氣盛天癸至精氣溢瀉若天癸即月水丈夫有之乎蓋男女皆有精易謂男女構精可據燃指天癸為糖亦不妥天癸為精不當又云精氣溢瀉矣後賢誹受孕之道有陽精陰血先至後沖等說亦謬夫男女交接會見女人有血出耶交接出血是病豈能募精及為精所里哉大約兩情酣暢百脈齊到天癸與男女之精偕至斯入任脈而成胎耳男胎女胎則由夫婦之天癸有強弱盈虛之不同也吾友徐亞枝曰如沈氏說一若天癸即精者加俞氏說一若血與精之外別有一物所謂天癸者竊謂天癸者指腎水本體而言癸者水也腎為水藏天一生水故謂腎水為天癸至謂至極也猶言足也女子二七男子二八腎氣始盛而腎水乃足蓋人生五藏惟腎生最先腎氣之充足最遲而衰獨早故孩提能悲能喜能怒能思而絕無欲念其有情竇早開者亦在腎氣將盛天癸將至之年可見臂氣未盛癸水未足則不生欲念也迨腎氣衰癸水絕則欲念自泯矣解此段經文者當云女子必二七而腎水之本體充足任脈乃通太衝之脈始盛月事因而時下矣夫前陰二竅溺之由水竅者無論矣其由精竅者皆原於天癸者也月水雖從衝脈下謂為天癸之常可也泄精成孕是任脈施受謂為天癸之能可也帶下乃任脈之失其擔任謂為天癸之病可也然則稱月水為天癸亦無不可前賢解此皆重讀上二字而略下一字惟將至字當作來字看遂至議論紛紜耳</p>
<p>（箋疏）吾國醫學之十二經絡及奇經八脈原是西學解剖家所無治新學者恆誚舊籍為鑿空然以人身內外各部分之病狀而言某處是某經所過若發現某症即是某藏某府之虛實寒熱為病則固確然可信投藥得當而效如影響證據章章不可誣也蓋經脈之循行即西學之所謂血管而血管之周流莫不與藏府息息相通則某藏某府自必各有一定血管循行之道路吾國醫學發源最早古之神聖倡此學說自必神而明之洞矚其互相感應之理固不繫乎血管之實在形跡若必刻舟求劍剖而視之以驗其形相如何吾知古之人必無以巽於今之人手足肌肉之間必無此十二條直行血管可尋是亦今之所敢斷言者此中自有神化功用彼專以解剖為實驗雖曰器具精良物理細密竊恐尚不足以語此而猶以耳目器械之推測囂囂然笑吾舊學之荒誕殆無巽於夏蟲之語冰惟奇經八脈諸條則甲乙經經脈篇之所示詳雖內難中時一見之不可謂非上古發明之舊無如一鱗一爪語焉不詳巳覺難於徵實即以經脈二字言之既同是血管而古今人之言督脈者輒以脊骨之髓當之則獨具此顯然之形與十二經及其他之奇經不類豈非生理學中之絕大疑竇且督任之經最直何以前後之形又大相歧巽若此又十二經皆有動脈可按而督任亦有俞穴則皆不動且踽維沖帶則所過之穴即交會於其他諸經又似蔦羅附松不能自成一險者疑是疑非果何從而證實之徐亞枝謂天癸是腎水本體最合真理所以經文明言男子亦是天癸又謂腎生最先腎足最遲腎衰最早從孩提成年及老憊之實境徵之洵是濰鑿不移而從來未經道破之語須知癸水是腎藏真陰不能如女子之月事時下亦不能即以陽施陰受者當之堯封謂天癸由任脈而來月事由太衝而來又謂沖隸陽明任隸少陰精欲下泄由帶脈而前然後從任脈而下云云看似頭頭是道言之有物其實全由想像得來隨意指揮惟吾所命假使藏府能語吾知其必曰否否不然豈不知督任沖帶既是經脈從未聞任脈與陰竅相通而可謂女子月事男子施糖竟由太衝帶任諸脈而下那不令人駭絕試以西學生理求之此身結構自有隧道方悟吾國女科書中談及懷妊情狀備極千奇萬怪噴飯者不一而足正不獨陽精陰血先至後沖彼包此裹幾條之可哂東扶謂入任脈而成胎亦與堯封之言精泄出精泄出於任脈同一奇悟要之任稱為脈亦是血管之一枝安有精可泄而胎可受請細讀西學生殖一門然後知吾國醫界名賢固終其身未由悟到也</p>
<p>王冰曰男以氣運故陽氣應日而一舉女以血滿故陰血從月而一下</p>
<p>（箋疏）男以氣言女以血言就陰陽二字本義彷彿想像似不可以為不是然吾人之身氣血兩者果可以分道而行不相聯屬否即此一端已覺其立言之不妥況更謂陽氣應日而一舉真不知其從何處悟人有此奇語且月事時下亦不得謂為血滿此說極謬堯封氏何所取而錄之</p>

<h2>月事不調</h2>
<p>素問天地溫和則經水安靜天寒地凍則經水凝泣天暑地熱則經水沸溢卒風暴起則經水波湧而隴起</p>
<p>（箋疏）泣讀為澀素問此節本以脈象而言人之脈道譬於地之水道人在氣交之中脈道流行本與天地之氣默相感應故天地之氣和調則脈亦應之而安靜寒則澀滯熱則沸騰皆理之所必然者而猝然風起雲湧斯脈亦為之洶湧泛溢此言脈隨氣化為變遷則疾病作而脈狀應之亦事之所必至而理之所宜然者然此節經水並不指婦女月事經文彰彰可據堯封竟以經水二輯入月事條中頗似誤會惟月事為病其理本亦如是斷章取義固無不可耳</p>
<p>楮澄曰女子天癸既至逾十年無男子合則不調未逾十年思男子合亦不調不調則舊血不出新血誤行或漬而入骨或變而為腫或雖合而難子合多則瀝枯虛人產乳眾則血枯殺人</p>
<p>盂英曰此不盡然惟產乳眾而枯至死者頗多然吾鄉吳醞香大令夫人半產三次不計外凡生十男四女並已長成而夫人年逾五旬精力不衰猶能操家政而撫馭群下也</p>
<p>（箋疏）楮氏遺書原是贗本四庫全書提要已詳紀文達所論洵不誣也就中論婦女體質雖未嘗無精當語然皆以理想推測言之不盡可信此節十年二句尤為臆斷至謂不調為舊血不出措詞更欠圓相須知不調二字所賅者廣有血於者有血枯者亦有固攝無權而崩漏者安得以不比二字概括之若謂新血誤行者皆因於舊血之不出豈漬而入骨變而為腫皆於血為患乎且漬而入骨一句更是故為奇僻駭人聽聞絕非病理所應有惟謂合多則瀝枯產乳眾則血枯二句確是不刊之論但以瀝枯興血枯相對言之詞近於鄙殊非高尚文字即此可為唐以後人偽託之證且產乳二字古人必不並稱乳即是產說文謂人及鳥生子曰乳獸曰產廣雅釋詁乳生也屍子胎生曰乳月令季冬雉沁雞乳注卵也皆非以乳汁飼兒之謂而此節產乳則必以乳汁飼兒言之惟其飼乳太多故血易枯尤為唐後文字之確證蓋嘗見有力之家生育極多惟不自乳則為之母者年逾大衍而形</p>
<p>色不衰孟英所稱吳大令室人必非自乳其子可知方約之曰婦人不得自專每多忿怒氣結則血亦枯孟英曰此至言也氣為血帥故調經必先理氣然理氣不可徒以香燥也鬱怒為情志之火頻服香燥則營陰愈耗矣</p>
<p>（箋疏）婦女見聞不廣故性多卡急其始也以心褊而生鬱怒迨基繼則愈郁愈怒而性愈偏此非藥餌所能療者豈獨不得自專者為然恆有得向專而更以長其偏心者總之吾國婦女多不學所識者小斯為氣結之真源耳孟英謂調經必先理氣洵是名言然理氣之方亦必不能屏除香燥高豉峰之滋水清肝飲魏柳洲之一貫煎皆為情志之火而設亦當參加氣藥並轡而馳始有捷效否則滋膩適以增壅利未見而害隨之惟不可止以香燥為兔園冊子耳</p>
<p>趙養葵曰經水不及期而來者有火也宜六味丸滋水如不及期而來多者加白芍柴胡海螵蛸如半月或十日而來且綿延不止者屬氣虛宜補中湯如過期而來者火衰也六味加艾葉如脈遲而色淡者加桂此其大略也其間有不及期而無火者有過期而有火者不可拘於一定當察脈視稟滋水為主隨證加減</p>
<p>盂英曰婦人之病雖以調經為先第人稟不同亦如其面有終身月泛不齊而善於生育者有經期極准而竟不受孕者雄於女科閱歷多年見聞不少始知古人之論不可盡泥無妄之藥不可妄投也</p>
<p>（箋疏）先期有火後期火衰是固有之然特其一端耳如虛不能攝則雖無火亦必先期或血液漸枯則雖有火亦必後期六味之丹芩澤瀉滲泄傷陰豈滋養之正將不及期而經多肝氣疏泄無度固攝猶虞不及再以柴胡疏肝為害奚若至於綿延不絕更必大封大補而乃欲用東垣之補中湯則是肝腎陰虛於下而升提以拔其根株尤為可怪過期縱是火衰六味之丹澤何用溫經之藥又豈可獨特一艾葉脈遲色淡亦豈專恃一肉桂總之養葵所論無一句不庸陋膚淺開口便錯語病百出朱不足道孟英謂所稟不同實從閱歷經驗而來無妄藥之不可妄投二句足為呆讀古書者痛用針砭趙氏所論不過耳食之學</p>

<h2>辨色及痛</h2>
<p>趙養葵曰衝任藏經系胞又恃一點命門之火為之主宰火旺則紅火太旺則紫火太衰則白所以滋水更當養火甚有乾枯不通者雖曰火盛之極亦不宜以苦寒藥降火只宜大補其水從天一之源以養之使滿又曰紫與黑者多屬火旺亦有虛寒而黑色者不可不察若淡白則無火矣</p>
<p>（箋疏）衝任是脈道脈中血旺則月事時下脈中血虛則月事不正非即經血之竅道何可竟以為經水所藏之所藏經一說豈非杜撰滋水養火雲云意中只有六味八味二方也</p>
<p>沈曰王宇泰以寒則凝既行而紫黑定非寒症然投熱藥取效十中嘗見一二色白無火亦屬近理然間有不宜補火者嘗見元利一婦經水過期十日方至色淡穩婆據此投肉桂藥數劑經水來多遍身發黃不能飲食身熟脈數竟成危候此是丹溪所謂經水淡白屬氣虛一證要之臨證時段細察脈象復參旁證方識虛實寒熱倘疑似中有兩證兼見者先用其輕劑如色淡一證先用補氣法不效再投補火庶幾無誤錄葉氏之說於後葉氏曰血黑屬熱此其常也亦有風寒外束者十中嘗見一二蓋寒主收引小腹必常冷痛經行時或手足厥冷唇青面白尺脈遲而虛或大而無力熟則尺脈洪數或實而有力參之脈證為確</p>
<p>孟英曰色淡竟有屬熱者古人從未道及須以脈證互勘自得但不可作實熱論而瀉以苦寒也更有奇者方氏婦產後經色漸淡數年後竟無赤色且亦結塊平常亦無帶下人日以嬴餘診之脈突數口苦時有寒熱與青蒿白薇黃柏歸柴龜鱉芍藥烏惻杞子地骨等出入百劑而痊此僅見之證矣</p>
<p>（箋疏）經淡古人多謂虛寒蓋氣血交虧所以其色不能化赤是虛字為重寒字為輕但宜益陰養血而少少加溫和之藥以流通之化育之斯得治療之正奈何耳食之徒但知其寒而忘其為虛剛燥溫辛益耗其血則其虛愈甚變爻自在意中趙謂淡白無火豈非只知其一不知其二沈案王案皆是虛證一以肉桂而難作一以清養而即安則彼之齦齦於黑屬熱淡屬寒者其亦可以憬然悟矣滑伯仁曰經前臍腹絞痛寒熱交作不如黑豆汗兩尺脈澀餘皆弦急此寒濕搏於衝任寒濕主濁下如豆汁與血交爭故痛宜辛散苦溫血藥</p>
<p>徐曰辛散血藥是川穹之類苦溫血藥是艾葉之類</p>
<p>（箋疏）經前腹痛無非肝家氣滯絡脈不疏治以疏肝行氣為主但須選用血中氣藥如香附烏藥玄胡之類不可專恃辛溫香燥耳伯仁謂兩尺脫澀即是絡中氣滯之徵況復弦急肝氣抑塞又其明證惟為寒為熱更當以其他兼症參之必不能僅據絞痛一症指為寒濕溉與苦溫蓋肝絡為病鬱熱極多寒症絕少滑氏此節殊嫌武斷</p>
<p>李氏曰經水帶黃混濁者濕痰也</p>
<p>（箋疏）經水色黃已是濕熱之徵況復混濁濕熱尤甚是宜清理不得以色</p>
<p>淡並論概與滋補且舌苔脈症亦必有可據更宜參證</p>
<p>丹溪曰經將行而痛者氣之滯也香附青皮桃仁黃連或用抑氣散四物加玄胡丹皮條芩　又曰經將來腹中陣痛乍作乍止者血熱氣實也四物加小川</p>
<p>連丹皮</p>
<p>徐曰抑氣散出嚴氏香附（四兩）　陳皮（一兩）　茯神炙草各（一兩半）　為末每服二錢治婦人氣盛於血變生諸證頭暈膈滿取內經高者抑之之義汪認庵謂和平可用若補血以平陽火亦正治也</p>
<p>（箋疏）痛在經前誠是氣滯正惟氣滯而血亦滯故以香附青皮與桃仁並用而能行血中之滯清肝木之橫則玄胡金鈐尤為捷驗又以陣痛乍作乍止定俏為熱氣實則殊不然是當以脈證互參方有寒熱虛實可辨但據陣痛乍作乍止則虛寒者亦何必不然連芩丹皮安可為訓蓋丹溪遣著本非自定之本此後人附會為之致有此弊不可遞以丹溪病也　嚴氏抑氣者仍是行氣之滯謂治氣盛於血大有語病究竟此非氣之有餘　認庵謂其和平可用所見尤陋藥以去病為主唯在對症安問其和平不和平若以其和平而後可用是以嘗試敷衍為手遐更何有醫學之價值可言</p>
<p>又曰經後作痛者氣血俱虛也又曰成塊者氣之凝也</p>
<p>沈曰經後腹痛必有所滯氣滯脈必沈寒滯脈必緊兼寒兼熱當參旁證至若風邪由下部而入於脈中亦能作痛其脈乍大乍小有時隴起葉氏用防風荊芥桔梗甘草虛者加入參各（一錢）　培黑取其入血分研末酒送神效</p>
<p>又曰經前後俱痛病多由肝經而其中更有不同脈弦細者是木氣之郁宜逍遙散及川楝小茴香橘核之類脈大者是肝風內動體發紅塊者是肝陽外越俱宜溫潤　戴禮亭室人向患經前後腹痛連及右足體發紅塊脈大右關尺甚已卯秋予作肝風內動治用生地四兩炒枸杞（一錢）　細石斛（二錢）杜仲（二錢）　干淡蓯蓉麥冬牛膝各（一錢）　歸身（一錢五分）　炒白芍（一錢）　服之痛止後於經前後服數劑經來甚適不服即痛因作丸服此方屢用有驗</p>
<p>（箋疏）腹痛蓮足是肝腎之陰虛肝絡不能條達而虛陽外越故脈為之大右關尺尤甚是肝腎相火不藏之明證方以養陰涵陽為主不用香燥氣藥治本不治標最是良法與魏玉璜一貫煎同意但病是肝陽未嘗有內動之風藥中亦無息風之味則案語肝風內動尚未貼切宜易之曰肝陰不足肝陽不藏庶於脈大及體發紅塊俱能切合</p>
<p>沈又曰經來聲啞症苟氏女嫁斜塘倪姓早寡體氣虛弱每逢月事聲音必啞予用天冬地黃蓯蓉歸身等藥喑益甚張口指畫無一字可聞即於此方加細辛少許以通少陰之絡藥才入口其聲即出十餘劑後桂附八昧丸調理遂不復發</p>
<p>（箋疏）此證此方亦是治肝腎陰虛之法所以音喑者所謂少陰之絡系舌本也腎氣不榮於舌本而音為之喑此非舌本強而無聲可知細辛少許以通少陰之陽氣大有巧思可法也</p>
<p>（撮耍）經後圍暗屬血虛</p>
<p>（箋疏）此是肝腎陰虛不能上榮於目治法亦當仿上二條若用魏氏一貫煎治之亦必有效</p>
<p>汪石山曰經行泄瀉脾虛多濕宜參芩白朮散</p>
<p>盂英曰亦有肝木侮土者</p>
<p>（箋疏）脾陽不振最多此候宜加乾葛少許以升清氣王所謂肝木侮土者則左脈弦而右脈弱宜扶土而柔肝亦有左關反而而右關反勁者所謂木乘土位肝尤橫而土德益衰矣</p>
<p>繆氏曰經行白帶屬陽虛下陷用參朮助陽氣</p>
<p>盂英曰亦有鬱火內盛者</p>
<p>（淺疏）帶下多濕熱及相火不藏為病惟臨經帶下則下元不能固攝可知此奧平素帶下不同仲醇陽虛下陷之論是也宜固攝肝腎而升舉清陽故止言參朮不用溫燥陽藥若盂英所謂鬱火當亦指肝腎龍相之火而言陰火不藏以致疏泄無度宜苦以堅之</p>

<h2>月事不來</h2>
<p>（素問）二陽之病發心脾有不得隱曲女子不月其傳為風消其傳為息奔者死不治</p>
<p>沈曰二陽指陽明經言不指藏府言二陽之病發心脾者陽明為多血之經血乃水穀之精氣藉心火煆煉而成憂愁思虛慮心因及其子不嗜飲食血無以資生陽明病矣經云前陰總宗筋之所會會於氣衝而陽明為之長故陽明病則陽事衰而不得隱曲也太衝為血海並陽明之經而行故陽明病則衝脈衰而女子不月也</p>
<p>（箋疏）經言不得隱曲節指所思不遂謀慮拂逆而言則心脾之陰螢暗耗而不月之病成矣堯封之解不得隱曲作為男子陽衰不能人道太覺奇特然亦不可謂之無理</p>
<p>孟英曰經水固以月行為當然陰虛者多火經每先期陰愈虛行愈速甚至旬日半月而一行更有血已無多而猶每月竭蹶一行者其涸也可立而待也若血雖虛而火不甚熾汛必愆期此含蓄有權雖停止一二年或竟斷絕不行但其脈不甚數者正合坤主吝嗇之道皆可無慮味者不知此理而但憑月事以分病之輕重聞其不行輒欲通之竭澤而漁不仁甚矣</p>
<p>（箋疏）陰血虛而月事不至但無少腹脹痛等證必不可妄投攻破希圖速效誤攻則崩漏之禍作矣且即有腹脹腹痛之證亦是血少而肝絡不疏宜滋養肝腎真陰兼之宣絡以疏達氣滯方是正本清源之治亦未必果是於滯而脹痛也盂英謂陰虛汛停皆可無慮所見極是頤治此症惟以養陰和肝稍參行氣宜絡俾胃納蘇而色澤轉自有水到渠成之妙淺者不知此理每用通經豈徒竭澤而漁孤注一擲抑柳且礱糠打油亦必無效甚至激動血管之血橫決暴崩不知崩中大下之血皆絡脈之血失其故道走入衝任而直注非月事之血誅伐無辜那不擾動氣營演成慘劇</p>
<p>金匱云婦人病血虛積冷結氣經水斷絕</p>
<p>張景岳曰經閉有血隔血枯之不同隔者病發於暫通之則愈枯者其來也漸補養乃充</p>
<p>沈曰金匱三證積冷結氣有血不行他景岳謂之血隔積冷宜用肉桂大辛熱之藥導血下行後用養榮之法調之　結氣宜宣如逍遙散或鳥藥香附行氣之品宣之　虛者無血可行也景岳謂之血枯宜補趙養葵補水補火補中氣三法最為扼要</p>
<p>王孟英曰補水勿泥於六味補火勿泥於八味補中氣勿泥於歸脾（箋疏）金匱言婦人經水不來之證分三大綱積冷結氣二者皆血滯不行於法宜通冷者溫經行血金匱歸芎膠艾湯即治此症之鼻祖而千金婦入門中方藥最多皆會溫辛逐於之法亦皆為此症而設堯封只言肉桂一味尚嫌未備惟又言瘀通之後必以養榮調之善後良圖至不可少若氣結者自須先疏氣分之滯逍遙所以疏肝絡香附烏藥等皆宣通氣分而不失於燥固是疋宗又玄胡索一物血中氣藥流通活潑威而不猛亦是良藥獨用重用頗有奇功而俗子僅知其破血不敢頻用則未明其實在力量也亦有血本少而氣乃滯者則合之養榮法乃為萬全無弊僅事行氣尚失之偏至於虛而無血可行以致不月則非補何以蘇涸轍之鮒而回槁木之春趙氏補水補火補中氣七字確是挈領提綱最為要訣然試問養葵心目中當用何等方法則止有六味八味歸脾耳一經孟英喝破只恐俗醫聞之便失所恃將不知更用何藥而後可頤請為之申一義曰補水必以魏柳洲之一頁煎為骨而廣筆記之集靈膏董思翁之延壽丹陸九芝之坎離丸等可參也補火則河間之地黃飲子陰陽調劑不偏溫燥最堪則效補中則歸脾湯本是正宗但人之體質各有不同用古方者止可師其意而斟酌損益方能合轍不可如養葵之輩之渾侖吞棗耳</p>
<p>寇宗奭曰童年情竇早開積想在心月水先閉蓋憂愁思慮則傷心心傷則血耗竭故經水閉孤火既受病不能榮養其子故不嗜食脾既虛則金氣虧故發嗽嗽既作則水氣竭故四肢干木氣不充故多怒髮鬢焦筋痿五藏以次傳遍故猝不死而終死也比於諸勞最為難治</p>
<p>沈曰此條亦從金匱虛孛內分出實有是證但此證所願不得相火必熾非補水無以制之六味地黃湯補陰瀉陽固是妙法然脾虛食減倘嫌地黃膩膈炒鬆可也不然以女貞易之顧名思義並瀉相火</p>
<p>盂英曰此證最難治六味礙脾歸脾助火惟薛一瓢滋營養液膏加小麥大棗遠志庶幾合法一瓢又有心脾雙補丸亦可酌用</p>
<p>（箋疏）寇氏所述此症即素問所謂不得隱曲女子不月者也意淫紛擾神志蕩矣相火燔灼血安得不耗經安得不閉其食減而脾不司運化者血耗不行脾無所統安得不承其弊況病由情志而來所思既專忘餐廢寢水穀所供早已置之度外胃之減納初由若人之忘其所以繼而習慣自然穀神能無困乎經文特提心脾二真是犀燃牛渚洞燭隱微此不得隱曲四字節以所恩不遂而言特忠厚待人措辭尤為蘊籍耳其作嗽者即相火之上衝多怒者即肝陽之外越發焦筋痿無一非壯火灼爍津液一言以蔽之火炎水竭而已寇氏必以五行生勉附會五藏遞傳未免陳腐氣坌集滿紙令人對之欲嘔如此談醫實是魔道必不足徵沈謂六味補陰瀉陽亦嫌膚淺病到此關峻補肝腎真陰猶嫌不及尚何有瀉之可言丹澤茯芩豈能制此亢極之火熟地炒鬆更有何用未能免俗聊復爾爾竊為堯封不取惟謂女貞顧名思義云云可作則格言讀須知此是心病非於受病之源自知懺悔痛下針砭無論方藥如何終無逃出鬼門關之望世恆有及並之齡得勞層症已諸虛接踵醫家望之卻步而於歸之後竟弗藥有喜漸以康復者即以此症也</p>
<p>婁全善閉有汙血凝胞門一證羅謙甫血極膏一味大黃為末醋熬成膏服之利一二行經血自下是婦科仙藥</p>
<p>沈曰金匱論經閉有冷無熱非闕文也蓋天暑地熱則經水沸騰豈反有凝泣不來之理潔古東坦降心火瀉三蕉之說不可盡信即骨蒸肉熱亦屬陰虧非同實火之可寒而愈也</p>
<p>孟英曰王子亨全生指迷方地黃煎以生地汁八兩熬耗一半內大黃末一兩同熬候可丸丸如梧子大熟水下五粒未效加至十粒治女子氣竭傷肝月事不來病名血枯蓋瘀血不去則新血日枯也即內經烏鯽蘆茹丸仲景大黃庶蟲丸之義後人但知彼血枯為血虛而不知血得熱則瘀反用溫補豈能愈此血枯之病堯封亦為此諭毋乃欠考</p>
<p>（箋疏）得熱則血行過寒而血瘀乃理之常堯封之說自是正論然近世之人陰虛火旺者最多先以血本少也而生內熱繼則血更少而熱更熾乃火益壯而血益枯遂並其殘餘之血液而灼鑠煎熬盡為瘀垢羅謙甫之血極膏王子亨之地黃煎誠為此症而設然頤則謂來源已竭而尚欲從事於疏通亦是竭澤而漁少用之則緩不濟急多與之則正不能支必以大劑滋養之煎方相輔而行庶幾標本兩顧堯封竟謂熱則血無凝泣不來之理是未悟到此層誠為筆下失檢致貽盂英之譏然降心火瀉三焦之二說竟欲以寒藥治血閉則亦是虛家鴆毒斷不可行堯封固明知骨蒸內熱原屬陰虧者既浪狼用寒涼之理亦必不致專用溫補以治血熱血瘀者也</p>

<h2>淋漓不斷　一名經漏</h2>
<p>陳良甫曰或因氣虛不能攝血或經行而合陰陽外邪客於胞內</p>
<p>盂英曰亦有因血熱而不循其常度者</p>
<p>（箋疏）經事延長淋漓不斷下元無固攝之權虛象顯然良甫謂經行交合一層亦是擾動衝任有關無闔皆宜封鎖滋填氣血並補此症總是屬虛何有外邪陳謂陰陽外邪殊不可解王謂有因血熱而不循其常亦是肝經疏泄無度必當替藏龍相封固滋填非僅清血熱所能有濟須知淋漓之延久即是崩陷之光機古人恆以崩漏二牢相提並論良有以也</p>

<h2>月事異常</h2>
<p>經云七七而天癸竭有年過五旬經行不止者許叔微主血有餘不可止宜當歸散產寶主勞傷過度喜怒不時李時珍作敗血論三說不同常參脈證</p>
<p>（箋疏）二七經行七七經止言其常也然賦稟不齊行止皆無一定之候柔弱者年未不惑而先絕壯實者年逾大衍而尚行此隨其人才體質而有異</p>
<p>故五十經行未必是病學士謂之有餘固可無庸藥餌然亦本無止血之法產寶所言則肝絡之泄疏太過是為病之一端當從崩例主治獨瀕湖以為敗血頗不可解總之當止而不止有餘者少不固者多崩漏根萌不可不慎似無認作敗壞之血而逕投攻破之理</p>
<p>李時珍曰月事一月一行其常也或先或後或通或塞其病也有行期只吐血衄血或眼耳出血是謂倒經有三月一行是謂居經有一年一行是謂避年有一生不行而受胎者是謂暗經有受胎後月月行經而產子者是謂胎盛俗名胎垢有受胎數月經忽大下而胎不隕者是謂漏胎此雖以氣血有餘不足言而亦異常矣</p>
<p>盂英曰有未及二七之年而經水已行者有年窬花甲而月事不絕者有無病而偶停數月者有壯年而泛即斷者有帶下過甚而經不行者有數月而</p>
<p>一行者有產後自乳而仍接月行經者有一產而停經一二年者秉賦不齊不可以常理論也（箋疏）經行日期應月而輔亦言其常故或先或後參差數天苟無腰痠腹脹疼痛及經色或紫或淡或有瘀塊諸症皆因稟賦不齊不可謂病妄投藥餌即有經行腹痛頭痛目暈腰痠脊楚胸協脹滿乳房乳頭脹痛及經色不正諸症治療之藥亦止應中和柔順調養肝脾運行氣分為主不可偏熱偏寒大攻大補反致欲速不達故病未已新病復起倒經一症亦曰逆經乃有升無降倒行逆施多由陰虛於下陽反上浮非重劑折降無以復其下行為順之常蓋氣火之上揚為病最急不可認作無病諉為不必用藥且此是偶然之事必無一生常常倒行者若其倒逆頻仍則其後將諸症蜂起即生大變矣居經避年固有因於秉賦者然總緣體弱血少之故若其先本不愆期而忽致間月乃行亦是不足之病惟間隔之期殊無一定有偶間一二月者亦有常三五月者居經避年等稱亦是隨意定名無甚義理可據至於暗經之人能孕者少不育者多其為虛症尤可想見若妊後月月行經又不礙胎惟旺盛者偶有之然雖如期而來亦必不如平時之多方為有餘而溢之徵如其按月能行且亦如未孕之狀則終恐固攝無權半產可慮苦胎前血忽大下則墮者其常不墮者其偶且恐有暴崩之變瀕湖溉以為稟賦之奇並不為病殊難盡信即盂英所述各種雖不為病者固亦有之惟以理法推測皆屬反常縱令一時尚無病狀發見迨積之日久必有變幻亦可斷言頤常見一瘦弱女子及並而嫁不及三年孕育兩次即月事淨絕而居恆無病者十餘年其後僅病感冒不三日即至不起其年才逾三旬此可徵壯年泛斷之必非壽徵矣</p>
<p>血崩　血大至曰崩此是急病</p>
<p>素問陰虛陽搏謂之崩許叔微曰經雲天暑地熱經水沸溢陰虛者尺脈虛浮陽搏者寸脈弦急是為陰血不足陽邪有餘故為失固內崩宜奇效四物湯或四物湯加黃連</p>
<p>奇效四物湯</p>
<p>當歸酒洗　川芎　白芍炒　熟地黃　阿膠　艾葉黃芩炒各（一錢）</p>
<p>（箋疏）素問此節俱以脈言陰脈獨虛則其人真陰不能自固而陽脈偏搏擊有力則陽氣陷入陰中陰為陽迫能無崩中妄下之變乎頤竊謂即以病情言之亦即此理惟陰氣既虛則無自主之權而孤陽乘之搏擊肆擾所以失其常軌而暴崩直注且肝氣善於疏泄陰虛者水不涵木肝陽不藏疏泄太過此崩中一證所以多是虛陽妄動也奇效四物湯即金匱之歸芎膠艾</p>
<p>湯去甘草而加黃芩以地芍阿膠固護陰營而川穹以升舉下陷之清陽治此證乃為恰好惟固攝無權非大封大固而清理血分之熱亦無以制其陽焰則龍齒牡蠣早蓮女貞紫草地榆之屬必須相輔而行始有捷效附錄近陳君室人年逾三旬庚申十月來校就診崩漏不絕已將兩月易醫屢矣脈細軟神疲色奪頤授參朮耆地歸芍龍牡地榆紫草艾炭川芎阿膠萸肉烏藥骨桑螵蛸二至川柏杜仲川斷香附香砂陳皮青皮烏藥等出入為方三劑知十餘劑而胃納加餐脈起色輕漸以即安</p>
<p>叔微又曰女人因氣不先理然後血脈不順生崩帶等證香附是婦人仙藥醋炒為末久服為佳每服（二錢）　清米飲調下徐朝奉內人褊藥不效服此獲安</p>
<p>徐曰叔微埋氣二字專主怒氣鬱氣傷肝故用香附埋氣以和肝慎不可用破氣藥</p>
<p>（箋疏）氣為血帥氣調則血不妄行凡血為病氣固無不先病者血之妄升妄降何一非氣病為之厲階況婦女所見者偏多郁多怒乎敘微雖止稱香附一味然陳皮青皮烏藥香砂之類皆當隨宜佐使必不可缺徐謂不可破氣誠是但香燥之藥重用之即是破耗輕用之所以吹噓是在臨證時斟酌分量不如畏如鴆毒又如玄胡一物血中氣藥能通滯氣而亦和平不燥實治此症理氣之良藥而世俗但知破瘀必不敢用實未嘗於臨證時細心體驗之耳</p>
<p>薜立齋曰肝經風熱或怒動肝火俱宜加味逍遙散</p>
<p>加味逍遙散</p>
<p>當歸　白芍　柴胡　甘草　茯芩　白朮　丹皮　黑山梔　加簿荷姜　棗煎</p>
<p>（箋疏）肝經風熱而為血崩仍是肝家火擾內熱生風震動血絡疏紲太過是宜滋水清肝以潛息其風火若怒動肝火而為崩中尤宜柔潤以平其火加味逍遙之柴胡薄荷俱是疏泄夫豈所宜立齋之議終是顢頇節曰崩中是降之太過升舉似無不可究竟肝腎陰虛升提之法皆在禁例益氣逍遙斷非崩中者所可妄試立翁慣伎最不可訓</p>
<p>李太素曰崩宜埋氣降火升提</p>
<p>（箋疏）崩症多因氣火橫逆下擾衝任以致關闡不守漏泄無恆理氣洵是要圖其有火者誠宜清而固之然已是火擾於下又安有降火之可言惟氣火之所以動者原於肝腎陰虛不能涵陽況復脫血下虛益則亦不能再與升提搖其本根以速大禍昔賢論束垣升柴之法謂利於脾胃陽虛不宜於肝腎陰虛最是精切彼但為陰液暗耗者言已恐有拔動根株之變則崩漏之大失其血者又當何如雖是症之因於脾家清陽下陷者間亦有之然亦止可補脾氣而兼事固攝決無升舉之理是亦須於脈症參考於病情上求其源委必不能舉一病名而謂可有通治之大法即以本條六字言之降火升提兩層正是自相背謬而乃可以連類書之不亦怪哉</p>
<p>金匱云寸口脈微而緩微者衙氣疏疏則其膚空緩者胃弱不實則谷消而水化谷入於胃脈道乃行水入於經其血乃成營盛則其膚必疏三焦絕經名曰血崩</p>
<p>（箋疏）金匱雖亦仲景舊本燃今之所謂金匱要略者則宋人王冰於秘閣蠹簡中得之陳振孫書錄解題言之鑿鑿豈獨脫爛殘缺調舛訛誤所不能免竊恐改竄點綴亦必不少是以此書之不可解者最多此條謂三焦絕經名曰血崩已不可知其命意何若叉謂衙疏則膚空營盛則膚疏云云似導以皮毛言之果與血崩一證何涉且既謂胃弱不實而又謂谷消水化此二句如何連貫得下究竟胃弱胃強真是莫名其妙堯封何以來此得母徒亂人意</p>
<p>趙養葵曰氣為陽主升血為陰主降陽有餘則升者勝血出上竅陽不足則降者勝血出下竅氣虛者面色必白尺脈虛大</p>
<p>（箋疏）湯升太過血出上竅其說是也若血出下竅是陰血之不守多有陽氣下入於陰中而疏泄無度者亦是陽之太過豈可概謂之陽不足即偶有陽虛不能攝血之症亦止有固攝真陰而不宜擾動陽焰此養葵陽不足一層之大不可訓者其意固指脾胃清陽下陷者言故曰氣虛者面色必白然補脾欲以統血亦非補陽之不足尺脈虛大養葵固自言之脈症如是豈非下元陰虛此必不可認定降者勝三字而妄行東垣補中益氣之法者然養</p>
<p>葵意中隱隱有當用升清一層在後之學者切弗用此言外之意東垣曰下血證須用四君子補氣藥收功</p>
<p>（箋疏）下血原是脾氣無權失其統血之職此指便血而言尚非專論崩漏然崩漏固亦有脾陰不守一症止曰四君補氣不說到升舉清陽一層以為便血崩血善後良圖最為允當</p>
<p>又曰人傷飲食醫多妄下清氣下陷濁氣不降乃生腹脹所以胃脘之陽不能升舉其氣陷下致崩宜補中湯</p>
<p>（箋疏）血既大下謂為清氣下陷固無不可然陰脫於下誤用升舉是猶樹木根抵巳空而復拔之無不立厥喘汗厥脫之變可以翹足而待東坦生平升舉脾胃清陽是其獨得之玄奧而未悟到不可移治肝腎一層此條所謂傷食妄下清氣下陷仍是為脾胃言崩中病因豈專在此未免狃於所長濫</p>
<p>用板方之弊補中升陽諸法均以升柴為運用之靈機藥病相當效固立見而相反者害亦隨之夫以明之手定之方尚猶未知其蔽又何怪立齋養葵輩活侖吞吐誤盡天下後世哉</p>
<p>丹溪曰有涎郁胸中清氣不升故經脈壅遏而降下非開涎不足以行氣非氣升則血不能歸隧道其證或腹滿如孕或臍腹㽲痛或血結成片或血出則怏止則悶或臍上動治宜開結痰行滯氣消汙血</p>
<p>沈曰沖為血海並陽明之經而行故東垣丹溪皆主胃脘之陽不升顧其病源各異率曰妄下朱曰痰鬱有腹滿如孕血出反怏止反悶等症可認妄下則無有也非問不得</p>
<p>（箋疏）痰涎積於經隧則絡中之血行必滯鬱結成壅理有固然積而愈積非下脫何以自尋去路故有腹滿㽲痛結成片塊之症所謂宜開痰行氣消瘀是治瘀血成崩之不二法門然所謂涎郁胸中則清氣不升經脈壅遏降下云云殊非此病真相痰血互結不可附會到清氣下陷一層且自謂宜開結痰竹滯氣消汙血此三者皆導淤攻破之法更與清氣不升無涉此節語氣明明兩面不相照顧決非丹溪之言考丹溪論東垣升陽之法嘗謂西北之人陽氣易於降東南之人陰火易於升（見戴九靈丹溪翁傳）故立知柏降火以救東垣之偏此條以瘀血立論既曰開痰行滯何致雜以升氣二字反與自己立法矛盾此蓋後有淺者為之附益讀丹溪書者不可為其所愚堯封墮其術中遂有衝脈並陽明而行之附會甚至說到胃脘之陽不升須知瘀血在下胃脘在上既欲破瘀明是下行為順尚何得以升舉清陽一層叢雜並論堯封亦未之思耳</p>
<p>戴元禮曰血大至曰崩或清或濁或純下紫血勢不可止有崩甚腹痛人多疑惡血未盡又見血色紫黑愈信為惡血不敢止截凡血之為患欲出未出之際停在腹中即成紫血以紫血為不可留又安知紫血之不為虛寒乎瘀而腹痛血行則痛止崩而腹痛血止則痛止芎歸湯加姜附止其血而痛自止</p>
<p>（箋疏）大崩而後腹痛血既脫而氣愈亂固不比乍崩腹痛血色紫瘀成塊成片者當用行滯消瘀之法至於離經之血一時未即下脫即成紫色其說甚是亦不可執定紫為淤血必投攻破蓋所失既多斷無不以固攝為急之理若復見痛即破見紫即攻虛材益虛落阱下石為禍益烈但紫血之虛寒症竟不多芎歸加姜附決非必能止崩之法是當以脈症參之不可執一而論惟脫血既多者必以補脾養胃峻滋肝腎真陰而合封固攝納為治庶可無投不利腹痛者固當運氣和肝如香附烏藥川棟玄胡之屬必不可少即無痛者參朮耆阿膠杞地等氣血雙補方中亦必加香砂青陳一二昧以吹噓而運化之始能活潑靈通補而不滯否則失之呆笨非徒無效且有中滿礙化之弊矣</p>
<p>薛立齋曰有婦患崩過服寒藥脾胃久虛中病未已寒病復起煩渴引飲粒米不進昏憤時作脈洪大接之微弱此無根之火內虛寒而外假熱也十全大補加附子崩減日服八味丸而愈又有久崩服四物湯涼血劑或作或止有主降火加腹痛手足厥冷此脾胃虛寒所致先用附子理中湯次用濟生歸脾補中益氣二湯崩頓止若泥痛無補註誤矣</p>
<p>沈曰崩證熱多寒少若血大至色赤者是熱非寒若色紫黑者出絡而凝其中有陽虛一症經雲陽氣者衛外而為固也營行脈中衛行脈外脈外之陽虛失於術護則脈中之螢血漏泄既出絡脈凝而不流漸漸變紫變黑然必須少腹惡寒方可投溫</p>
<p>（箋疏）崩中一症因火者多因寒者少然則使屬熱亦是虛火非實熱可比縱當清熱止有地榆紫草柏葉柏皮梔子丹皮之類擇用一二宜於芩連者已不多見本無純用寒涼之理況失血之後陽氣亦餒更無頻服寒涼之法薜案十全八昧一症明言過服寒涼則溫補所以治藥誤非其本病之果宜於溫但虛熱煩渴不當引飲薛曰引飲恐是筆下之失檢處其第二條先服四物涼血或已過當再主降火以致腹痛支厥亦是為藥所誤此頤所以謂縱使有火已是陽陷入陰安得有降之一字可言者也沈論陽虛一症謂必少腹惡寒方可投溫固是認證耍訣然須知其餘見證發竟可參脈狀舌苔亦必有據惟血去既多氣隨血耗真陽往往無權多有宜於溫煦者（溫煦之藥乃溫和之溫非辛燥大熱一類）昔人謂暴崩宜清可知久崩者不可恣用涼藥否則執呆方以治活病正以招立齋之譏矣</p>
<p>崩證極驗方　地榆　生牡蠣各（一錢）　生地（四錢）　生白芍（三錢）黃芩丹皮各（一錢）　半川連（五分）　甘草（八分）炒　蓮鬚　黑梔各（一錢）　水煎服</p>
<p>沈曰一婦日服人參阿膠血不止投此即效因帶多偶以苦參易芩血復至用芩即止去連血又至加連即止　頤按苦參太嫌苦寒芩連必因症而投不可拘泥</p>
<p>又曰一婦患崩月餘余診時大崩髮量幾脫是方加人參（一錢）　服之即安十劑而愈頤按大崩發暈本非人參不可</p>
<p>又曰一婦患此年逾五旬投入參阿膠不效一日加黃連（五分）　甚不相安醫工是氣病用炒香附婦芍丹皮黃芩牡蠣棗仁黑荊芥各（二錢）　鬱金（一錢）（五分）　橘皮（一錢）　上沈香磨沖（三分）　柴胡（五分）　棕櫚皮（八分）　煎服一劑崩止除</p>
<p>柴胡荊芥棕皮數劑食進復加白朮為散服之作脹減去即安　頤案用藥必隨症加減乃能活潑靈動觀是案加連不安可見前方本非呆板必驗之藥人參阿膠皆有應有不應視佐使之相稱否耳白朮亦非必脹者惟阿膠非胃納尚佳不宜早用</p>
<p>又曰一崩證少腹惡寒用桂附八味丸收全效</p>
<p>（箋疏）右方清而不補微加固檣斂陰為陰分有火者立法未嘗不輕清靈活然惟氣體尚強陰火偏熾之症為宜若血去已多恐嫌太寒且固護亦嫌不及頤治此症必以介類潛陽收攝橫逆龍相之火如龍牡決明玳瑁之屬俗子每謂一味兜澀蠻封蠻鎖甚且望而生畏不知血之所以妄行全是雷龍相火疏泄無度惟介類有情能納肝腎氾濫之陽安其窟宅正本清源不治血而血自止非強為填塞之法視蓮鬚苦澀者不同故收效捷而無流弊且沈重質豎納入煎劑氣味俱薄非重用不能有功而無識者見用一雨人錢分量又復舌撟不下傳為談柄耳食者不辨真理一至於此真是令人絕倒頤終謂是方牡蠣僅止二錢難生效力</p>
<p>孟英曰經漏崩淋並由精竅出惟溺血從溺竅而下婦女雖自知然赧於細述醫者不知分辨往往誤治更有因病汛愆而衝脈之血改從大腸而下者人亦但知為便血也監證均須細審</p>
<p>（箋疏）由精竅出者時時自下其人不能為主從溺竅出者小溲可以自主故溺血一症必隨小溲而見不小溲則無有也醫者能以此辨症則閨中人雖不能自述亦可一問其溲便而知之王又謂汛愆改從大腸而下其治案中確有此一則然幹人之一不可恆有之症也</p>
<p>帶下與男子遺濁同治</p>
<p>素問任脈為病男子內結七疝女子帶下瘕聚</p>
<p>（箋疏）一任脈以擔任身前得名仕脈病則失擔任之職斯氣結者成疝血結者成瘕或不能固撮則帶下作矣此症有濕熱膠結清濁混淆而淫溢者有相火亢甚疏泄太過而滲漏者其肝腎陰虛不自固攝之症止是帶下之一而任脈為病一句實兼此三者而包涵其中故一見帶下即指為衝任不固帶脈無權之虛症而輒投補澀者絕少見效堯封謂與男子遺濁同治誠然治遺濁者固不可僅以兜檣為能事也</p>
<p>又曰脾傳之腎名曰疝瘕小腸冤結而痛出白名曰蠱</p>
<p>（箋疏）一此脾濕下流由腎而傳之膀胱者蓋即輸尿管之清濁不分故小腹為之冤結作痛而白液自下是即男濁女帶之因於濕熱膠結者也　冤讀菀實即鬱塞之郁</p>
<p>又曰少腹冤熱溲出白液</p>
<p>（箋疏）此亦男子之白濁與女子之白帶少腹鬱熱是即相火亢甚之所致也</p>
<p>又曰思想無窮所願不得意淫於外入房太甚發為白淫</p>
<p>（箋疏）所思不遂龍相之火因而外越是即亢火疏泄太過之帶下入房太甚則衝任不守是為虛脫之帶下合觀素問數即則男子遺濁女子帶下之病因總不外濕火相火及陰虛不守三途而已沈堯對曰帶下有主風冷入於脖絡者巢元方孫思邈嚴用和楊仁齋樓全善諸人是也有主濕熟者劉河間張潔古張戴人羅周彥諸人是也有主脾虛氣虛趙養葵薛立齊諸人是也有主濕痰者朱丹溪是也有主脾腎虛者張景岳薛新甫是也又有主木鬱地中方細之繆仲淳是也其所下之物嚴主血不化赤而成張主血積日久而成劉主熱極則津液溢出其治法有用大辛熱者有用大苦寒者有用大攻伐者有用大填補者雖立論制方各有意義然其所下之物究竟不知為何物惟丹溪云云婦人帶下與男子蘿遺同顯然指著女精言千古疑竇一言道破但精滑一證所因不同惜其所指之方囿於痰火二字中耳由是言之白帶即同白濁赤帶即同赤濁此皆滑膩如精者至若狀如米坩或臭水不黏者此乃脾家之物氣虛下陷使然高年亦有患此非精氣之病不可混治</p>
<p>（箋疏）古病多屬虛寒故巢氏病源孫氏千金皆以辛熱治帶下此今時所絕無僅有之候可以存而弗論若濕熱則今病最多而亦最易治艾所了者必穢濁腥臭甚者且皮膚濕癢淫溢欲腐若夫脾虛氣虛之證固亦有之節東垣之所謂清陽下陷果屬氣陷溫煦脾土而少少升清亦尚易治但立齊養葵所言則几几萬病盡然斷不足據丹溪以濕痰立論實即濕熱之病不足為異景岳以脾腎兩虛為言則帶出精竅言腎較為切近視專論脾胃清氣不升者頗覺言之有物新甫即立齊而堯封幾認作二人未免失檢若繆仲淳以為木鬱地中實即相火鬱窒橫行而疏池太過耳古人治法惟戴人大攻斷不可法此外則大溫大寒大補各有封藥之症因症立方具有至理不可偏廢丹溪謂帶下同於夢遺頤愚謂遺之與濁雖同是精竅為病但遺則一泄而即止濁則自下而無時其證不同帶下是時時頻下非遺症之發作有時者可比當以濁症論不當以夢遺為擬雖用藥無甚分別但病狀確是不同不可混合為一丹溪專以痰火主治亦以是症之屬於濕熱者最多耳若大腥穢不黏之帶下則是溺竅為病由腎之輸尿管來不比於輸精之管脾胃濕濁下流腎中輸溺管不能泌別清濁所致高年童稚皆有此症在濕盛熱甚之人當以實火論未必皆氣虛之下陷是當淡滲以通理水道堯封固亦知其非精氣病也</p>
<p>沈堯封曰戴元禮論赤濁雲精者血之所化有濁去太多精化不及赤未變白故成赤濁此虛之甚也何以知之有人天癸未至強力好色所泄半精半血若溺不赤無他熱症縱見赤濁不可以赤為熱只宜以治白濁法治之觀此則以赤帶為熟者謬矣</p>
<p>（箋疏）赤濁赤帶本因相火太亢熱毒擾其血分使然其人小溲必少熱如沸湯一問可知此非大劑清火泄導何能有效戴氏所論確有是症然止其一端非凡是赤濁皆如此也無論何症各有真源本木不可僅擾症狀以斷寒熱虛實發竟各有其他之脈症可擾不可一概論也</p>
<p>孟英曰帶下女子生而即有津津常潤本非病也故扁鵲自稱帶下醫即今所謂女科是矣金匱亦以三十六病隸之帶下但過多即為病濕熱下注者為實精液不守者為虛苟體強氣旺之人雖多亦不為害惟乾燥則病甚蓋營津枯涸即是虛勞凡汛愆而帶盛者內熱逼血而不及化赤也並帶而枯燥全無者則為乾血勞之候矣窠而觀之精也液也痰也濕也血也皆可由任脈下行而為帶然有虛寒有虛熱有實熱三者之分治遺精亦然而虛寒較少故天士治帶必以黃薜為佐也</p>
<p>（箋疏）盂英謂女子生而帶下不足為病即其所謂津津常潤者本屬無多亦不機惡俗有十女九帶之諺誠不必藥且閨中隱曲原不告人亦未有以此求治者如其太多或五色稠雜或五臭間作斯為病候虛寒虛熱實熱三層已足包涵一切濁帶詣症果能明辨及此治法巳無餘蘊至謂枯燥全無者即是虛勞之候此即褚氏遺書之所謂枯則殺人者苟非真陰之告匱皆</p>
<p>其斷囊太過合多而津干液耗者也盂英體驗及此確是古人未道之語妙香散治脈小食少或大便不實者</p>
<p>能骨益智仁人參各（一兩）　白茯芩遠志去心茯神去木各（五錢）　硃砂（二錢五分）　炙甘草錢半為末每服酌用數錢（箋疏）此王荊公方為虛證之遺濁帶下設法於固澀之中仍以利水化痰輔之補而不滯頗為靈動</p>
<p>地黃飲子去桂附腎陰不足肝陽內風鼓動而滑精其脈弦大者宜之葉雲天地溫和風濤自息又云坎中陽微下焦失納又云肝為剛藏不宜剛藥只宜溫柔養之</p>
<p>水制熟地（八錢）　川石斛麥冬茯芩各（一錢五分）　石菖蒲遠志肉巴戟肉乾淡蓯蓉各（一錢）　五味于山萸肉沈曰末二味</p>

<h2>酸藥可去</h2>
<p>（箋疏）河間地黃飲子治猝然音喑支廢不用是為腎藏氣衰陰陽兩脫於下而濁陰泛溢於上氣血沖激擾亂神經者立法其證必四逆支清或冷汗白出其脈必沈微欲絕其舌必滑潤淡白故以麥冬熟地峻補真陰桂附戟蓉溫養元氣五味萸肉酸以收之所以招納渙散返其故宅理法極密本不可以治肝陽上衝之腦神經病今去桂附借用以治陰虛陽擾之道濁崩帶填攝真陰本欲以靜制動以陰固陽則方中昌遠開泄尚非所宜而巴戟蓯蓉更嫌其溫煦之性反以助陽尚宜斟酌損益而堯封反謂萸肉五味酸收可去似失之制方之意蓋本為虛而不固者立法正是利用其酸收既無濕熱實邪尚復何嫌何忌又引葉氏說天地溫和風濤自息則為陰霾肆逆之病而言可論地黃飲之全方既去桂附而治肝風鼓動葉說已全不相涉而坎中陽微下焦失納二句更是盲人捫燭無此情埋須知坎中陽微而不能固者有之何所謂納若曰肝為剛藏不宜投剛燥之藥則滋養肝陰惟以甘潤為主亦宜柔而不宜溫要之腎家陰虛相火鼓動而為遺濁崩帶之病本是最多脈弦且大龍雷方張是方與繆氏廣筆記之集靈膏柳洲續名醫類案之一貫煎皆滋養真陰攝納浮陽之上乘禪也</p>
<p>補腎陰清肝陽方　王宇泰曰腎為陰主藏精肝為陽主疏泄故腎之陰虛則精不藏肝之臘強則氣不固沈堯封曰此方以清芬之品清肝不以苦</p>
<p>寒之藥傷氣</p>
<p>藕節　青松葉　側柏葉　各（一斤）　生地　玉竹　天冬各（八兩）　女貞子　旱蓮草　各（四兩）熬膏服</p>
<p>（箋疏）此治肝腎相火亢而疏泄無度之遺濁崩帶火之偏旺實由於陰之不涵故清火不在苦寒而在甘潤又選用清香芬芳之品以疏絡中鬱熱之氣尤為心靈智巧</p>
<p>八味丸　戴元禮曰有赤白濁人服玄兔丹不效服附子八味丸節愈者不</p>
<p>可不知　沈堯封曰此即坎中陽微下焦失納之意屢用有效</p>
<p>王孟英曰陰虛而兼濕火者宜六味丸甚者加黃蘖尤妙</p>
<p>（箋疏）濁帶之因於下元陽虛不能固攝者其症甚少如不見有確切之脈症不可輕率引用是方仍以養陰為主稍加桂附燠下元而仍頓丹澤秩芩通泄水道本非專為補陽之藥用於是症方與崔氏腎氣丸之主旨符合與立齊養葵竟認作溫補元陽主劑者識見不同胡可以道里計孟英謂陰虛而兼有濕火宜六味加黃柏惟其有濕火在下六味全方始為合轍則彼之竟謂六味補水者其謬何如</p>
<p>松硫丸　此是方外之方治赤白濁赤白帶日久不愈無熱證者其效如神</p>
<p>松香　硫黃　鐵銚溶化將醋頻頻灑上俟藥如飴稱銚置冷處用冷水濡手丸如豆大必須入眾方可否則凝硬難丸每服（一錢）</p>
<p>孟英曰此方究宜慎用</p>
<p>（箋疏）此必下焦無火而虛不能固之濁帶方是對症然此症極少如其有之則硫能溫養腎火而性滑利非蠻鈍封鎖之比所以神效固精丸　選注云陽虛則無氣以制其精故寐則陽陷而精道不禁隨觸隨泄不必蘿而遺也必須提陽固氣乃克有濟</p>
<p>鹿茸一具　鹿角霜　分兩同茸　韭子　淡干蓯蓉　各（一兩）　五味子　茯苓　熟附子　巴截肉　龍骨　赤石脂　各（五錢）　酒糊丸　（箋疏）此方專為腎家無陽關閘不守者立選謂寐則陽陷正以陰分</p>
<p>本弱寐則氣靜而陽陷入陰故以茸角通督脈之陽而舉其陷制方確有精義然須知陽陷之陽與相火不藏之陽大有區別不可混治</p>
<p>溫柔檣　法葉氏治白淫</p>
<p>白龍骨　桑螵蛸　湖蓮　芡實　茯芩　茯神　金櫻子　覆盆子　遠志肉蜜丸</p>
<p>（箋疏）此方一派收滴必純屬虛不能固者可用然未免呆笨難收實效且蓮子芡實終是食物混入藥劑用非所用殊覺無謂自天士老人筆頭弄巧以開其端而吳子音為撰三家醫案隨其流而揚其波於是海參淡菜魚膠之屬悉入煎方頤戲謂之廚子開單惜乎不調酸鹹而雜入草木隊中物苟有知亦當叫屈</p>
<p>赤水玄珠端本丸　治脈大體肥大便晨泄不爽濕熱遺精極驗　葉云濕</p>
<p>熱之病面色赤亮可證</p>
<p>苦參　川檗各（二兩）　特蠣　蛤粉　葛根　青蒿　白螺獅殼煆各一兩　神粬和丸</p>
<p>（箋疏）苦能勝濕兼以固澀而葛根能升胃氣以治濕熱遺濁亦能分清泄水選藥自有巧思但白螺蜥殼有處極多而無處難見究屬非主任之藥不如特蠣取淨粉用之攝納固下而亦清利濕熱頗有實效</p>
<p>本事方清心丸　戴元禮曰有經絡熱而滑精者此方最妙　大智禪師云腰脊熟而遺者皆熟遺也</p>
<p>黃檗　冰片　鹽湯為丸</p>
<p>徐曰亦有陰虧之極致腿足腰脊肝腎部位作熱而遺者又宜填陰固澀以斂虛陽非可妄投清火宜詳辨脈證</p>
<p>（箋疏）冰片大寒非熱症不可用且分兩不可過多許白沙方為相火不藏者立法是實證徐氏則言虛甚而火反外浮者病情天淵然脈症必有不同盂英所謂凡勘一症有正面必有反面治醫者胡可以心粗氣浮</p>
<p>導赤散　李瀕湖曰一壯年男子夢遺白濁少腹有氣上衝每日腰熱卯作酉涼腰熟則手足冷前陰無氣腰熱退則前陰氣動手足溫又旦多下氣暮多噫氣時振逾旬必遺脈弦滑而大偶投澀藥則一夜二遺遂用此方大劑煎服遺濁皆止</p>
<p>生地　木通　甘草梢</p>
<p>（箋疏）東璧所述正在壯年明是相火太亢鬱極而泄少腹氣衝是腎火之上奔正與傷寒論之奔豚症為腎中寒水上溢者一水一火兩相對時而其屬於腎氣上奔則一又是盂英之所謂同症而一正一反者腰熱卯作酉涼</p>
<p>又是實熱見症故盛於日中陽氣正旺之時其手足冷者熱聚於裡而四末反寒亦即熟深厥深之義而前陰氣定則其熱別有所注也腰熱退而手足溫前陰氣動亦是此往彼來但氣運作用未易說明其實在理由耳且腰是腎之部此部獨熱非賢熱而何脈弦滑大情狀昭著澀之則鬱反盛腎肝愈鬱則疏泄之力愈甚所以一夜二遺木通苦泄宣通以洽火亢鬱熱恰合分寸大劑灌沃尤為力專任重是方是症大有心思此條見症頗與上條所主之病相近然上方較呆此方靈活在木通一味以通為用故也</p>
<p>王盂英曰任脈虛而帶下不攝者往往滋補雖投而不能愈余以海螵蛸一味為粉廣魚鰾煮爛杵丸綠豆大淡菜湯下久服無不收效真妙法也（箋疏）虛不能固滋填收澀最無近功良以奇經滑泄草木無情故未易奏全績盂英此法血肉有情竹破竹補別有會心雖奇而不離於正妙在丸以</p>
<p>緩治方能漸入下焦視葉派竟以海味作湯藥之腥膩難嚥者自有涇渭之別頤嘗以海金砂真者合川檗末兩味用鮮生豬脊髓打和丸治陰虛有火之濁帶多效亦引清理之藥直入督任者也小</p>
<p>求子</p>
<p>素問女量二七而天癸至任脈通太衝脈盛月事以時下故有子七七而任脈虛大沖脈衰少天癸竭地道不通故形壞而無子</p>
<p>沈堯封曰求子全賴氣血充足虛衰即無子故薛立齊曰至要處在審男女尺脈若右尺脈細或空大無力用八味丸左尺洪大按之無力用六味丸兩尺俱微或浮大用十補丸此遵內經而察脈用方可謂善矣然此特言其本體虛而不受胎者也若本體不虛而不受胎者必有他病繆仲淳主風冷乘襲子宮朱丹溪主衝任伏熱張子和主胞中實痰丹溪於肥盛婦人主脂</p>
<p>膜塞胞陳良甫謂二三十年全不產育者胞中必有積血主湯胞湯諸賢所論不同要皆理之所有宜察脈辨症施治湯胞湯在千金為婦人求子第一方孫真人鄭重之</p>
<p>（箋疏）生育之機純由天賦本非人力之所能勝天更何論乎藥物惟能遂其天機而不以人慾亂性斷無不能生育之理世之艱於孕育者大率皆斫喪過度自損其天真者欲求孕育惟有節欲二字善乎袁簡齋之引某理學家答其門人問求子者謂汝能學鳥獸則有子矣乍聆此論豈不可駭須知鳥獸之合純是天機不妄作為用時而動所以無有不生而亦無有不長者簡齋更為之申一說曰行乎其所不得不行止乎其所不得不止節生乎其所不得不生是豈草木根荄所能代天宣化者素上古天真論謂任脈通太衝脈盛則有子任脈虛太衝脈衰少則無子雖為女子言之亦豈僅為女子言之衝脈任脈陽施陰受胥由此道堯封氣血充足四字固巳包舉一切則反是以思行乎其所不當行天癸那不早竭地道不通形壞無子又豈必俟乎七七八八之齡耶立齋審察尺脈一言其埋不可謂不切而八味六味十全三方豈是確當之藥若沈所謂本體不虛而不受胎則不虛即實子宮必有所蔽故不能感諸賢持論未當不極其理想之能事然生理之真亦未必果與諸家所論盡能符合所以如法用藥縱使脈症近似亦必不能一索而得而千金方之主破瘀張戴人之主湯滌尤恐不顧其後利未可得而弊即隨之學者必不可孟浪從事</p>
<p>湯胞湯</p>
<p>朴硝　丹皮　當歸　大黃　桃仁生用各三銖　厚朴　桔梗　人參茯芩　桂心　甘草　牛膝　橘皮各二銖　附子六銖　蟲蟲　水蛭各</p>
<p>十枚</p>
<p>右十七味哎咀以清酒五升煮取三升分四服日三夜一每服相去三時更服如前覆被取微汗天寒汗不出著火籠之必下膿血務須斟酌下盡二三服即止如大悶不堪可食酢飯冷漿一口即止然恐去惡不盡忍之尤妙盂英曰子不可以強求也求子之心愈切而得之愈難天地無心而成化乃不期然而然之事非可以智力為者惟有病而礙於孕宥之人始可用藥以治病凡無病之人切勿妄藥以求子弄巧反拙豈徒無益而已耶縱使有效而藥性皆偏其子稟之非天札即頑悖余歷驗不爽</p>
<p>（箋疏）孕育之事無所為而為豈有人力可以矯揉造作之理所謂夫婦之愚可以能知能行而聖人有所不知不能者如謂金石草木可以強無為有是直以人慾勝天理使造物退處於無權吾知雖有高賢斷不敢作此無端之夢想而俗子偏能為此說者止以逢迎富貴為衣食計當亦智者所共諒不意孫氏高明千金方以婦人居首而求嗣又為婦科之開宗明義第一章一若藥石無情果有挽回造化之能力蓋亦未脫方士習氣孟英謂非可以智力為頂門一針吾知求方者與方者聞此不啻冷水澆背默爾而息快人快事揭盡俗子醜熊那不曲踴三百又謂有病而礙於孕育者始可用藥以治病須知所以不得不用藥者止是為冶病計實非作藍田種玉想然後知千金方求嗣一門絕非醫家分內之事頤恆見艱於子嗣者不悟其喪失之多日以求方求藥為當務之急而醫家工於獻媚藥為處方抵掌高談莫不自謂果有奇術令人一索可得究竟羅列溫補興陽數十味欲以蒐括老人垂竭之脂膏妄冀背城借一縱令如願以償而先天既薄又以燥烈之藥石助之生兒必多胎毒奇病百出長育極難頤已屢見之而苦不敢為乃翁說明原始以重傷垂暮之心孟英更說到頑悖一層正是陽藥剛烈之餘焰有以成其稟賦此理之常無足怪者彼癡心夢想之流讀此當亦可以廢然返矣孟英又曰湯胞湯雖存深意其藥太峻未可輕用惟保胎神佑丸善舒氣鬱緩消積血不但為保胎之良藥亦調經易孕之仙丹每日七丸頻服甚效余歷用有驗最為穩妙（方見下卷）</p>
<p>（箋疏）湯胞湯以湯滌胞中惡淤取義其意蓋謂婦人無不生育之理其所以不孕者由淤毒積於胞中故耳頤謂此是理想已不足據而許多湯滌走竄之物足以擾亂之而有餘果用是方必犯盂英所謂豈徒無益之弊雖是古方斷不可信惟盂英所稱之保胎神佑丸亦極平常且每服止桐子大之七丸何能有效乃孟英頗推重之謂有殊功極不可解豈聊以徇求方種子者之意姑以和平淡泊萬全無弊者應之耶此亦仁人之用心惟恐俗子謬服毒藥反以為禍耳若曰果為調經之仙丹願敢斷其必無是事惟謂其善舒氣鬱應幾近之</p>
<p>孟英又曰世有愚夫愚婦一無所知而敏於生育者此方靈皋所謂此事但宜有人慾而不可有天埋也觀於此則一切求子之法皆不足憑況體氣不齊豈容概論有終身不受孕者有畢世僅一產者有一產之後逾十餘年而再妊者有按年而妊者有娩甫彌月而即妊者有每妊必駢胎者且有一產三胎或四胎者駢胎之胞有合有分其產也有接踵而下者有逾日而下者甚有逾一旬半月而下者諺云十個孩兒十樣生是以古人有寧醫十男子莫醫一婦人之說因婦人有胎產之千態萬狀不可以常理測也世之習婦科者不可不究心焉</p>
<p>（箋疏）孕育純是天然即胎前狀態亦復萬有不齊莫名其妙脈不足憑證不可據閱歷愈多而所見愈奇盂英謂於態萬狀不可以常理測真是從見聞廣博得來非淺學者所能道隻字</p>
<p>孟英又曰古人五種不男曰螺紋鼓角脈而人多誤解余謂螺乃騾字之偽騾形之人交骨如環不能開坼如受孕必以產厄亡紋則陰竅屈曲如螺紋之盤旋礙於交合俗謂之石女是也後人不知騾形之異而改為螺遂以紋之似螺者有混於豉豉者陰戶有皮鞔如豉僅有小竅通溺而巳設幼時以鉛作鋌逐日紅之久則自關尚可以人力為也角則陰中有物興至亦有能舉者名曰二陰人俗云雌雄人是也脈則終身不行經者理難孕育然暗經亦可受胎錢國賓云蘭溪孫篾匠之妻自來無經而生四子一女故五種之中惟三者非人力所能治而紋角二種並不可交也特考定之以正相傳之偽（騾形之女初生時穩婆技精者捫之即知其可男可女之身名人亦角顛也）</p>
<p>（疏繞）此所謂不男者言婦女不能與男子相接者也王謂螺當騾是騾不生育惟以交骨不能關圻之故婦人稟此則受孕而必不能產頤所知者有一人嘗兩次受孕其先則由接生婆用鋒刃將小兒孿割而下其後又妊身彌月則到滬上醫院中經西醫剖腹取兒僅保殘喘然後知天地之大果有此傀異之事至所謂角者並有時而可男正史五行志中吒為人妖實亦稟賦之自然但不恆有故世以為怪耳</p>

<h2>受胎總論</h2>
<p>李東璧曰易云男女構稻構精萬物化生幹道成男坤道成女褚洽澄言血先至里精則生男精先至里血則生女陰陽均至非男非女之身精血散分駢胎品胎之兆道藏言月水亡後一三五日成男二四六日成女東垣言血海始淨一二日成男三四五日成女聖濟言因氣而左動陽資之則成男因氣而右動陰資之則成女丹溪乃罪褚氏而是東垣主聖濟左右之說立論歸於子宮左右之系可謂悉矣竊謂褚氏未可非東垣亦未盡是也蓋褚氏以氣血之先後言道藏以日數之奇偶言東垣以女血之盈虧言聖濟丹溪以子宮之左右言各執一見會而通之理自得矣蓋獨男獨女可以日數論駢胎品胎亦可以日數論乎史載一產三子四子有半男牛女或男多女少或男少女多則一三五日為男二四六日為女之說豈其然哉褚氏聖濟丹溪主精血子宮左右之論為有見而道苦惱垣日數之論為可疑矣叔和脈經以脈之左右浮沈辨所生之男女高陽脈訣以脈之縱橫逆順別駢品之胎形恐臆度之見而非確論也</p>
<p>王盂英曰閱微草堂筆記云夫胎者兩精相搏翕合而成者也媾合之際其情既洽其精乃至陽精至而陰精不至陰精至而陽精不至皆不能成皆至矣時有先後則先至者氣散不攝亦不能成不先不後而精並至陽先沖而陰包之則成男陰先沖而陽包之則成女此化生自然之妙非人力所能為故有一合即成者有千百合而終不成者愚夫婦所知能聖人有所不知能此之謂矣端恪後人沈君辛甫云胎脈辨別處誠醫者所當知若受妊之始曷以得男何緣得女生化之際初無一定諸家議論雖奇無關損益置之可也</p>
<p>（箋疏）孕育之理天然生化既非人力所能作為又豈理想可以推測瀕湖所引諸說無非憑空結撰雖竭盡理想之能事終是捫燭扣般殊可不論紀文達天資聰穎理想尤精閱微草堂筆記一節托之神怪本是小說家體裁所論較之從前諸家確是高出一層究竟亦是筆上生花粲蓮妙舌何可認</p>
<p>作實事沈辛甫一律置之不問真是快刀斬亂絲之無上妙法</p>
<p>辨胎</p>
<p>素問婦人足少陰脈動甚者妊子也</p>
<p>沈堯封曰足少陰腎脈也動者如豆厥厥動搖也王太僕作手少陰手少陰脈應在掌後銳骨之後陷者中直對小指非太淵脈也必有所據全元起作足少陰候尺中經云尺裡以候腹中胎在腹中當應在尺此為近理</p>
<p>（箋疏）氣血結滯脈象應之而不條達故其形如豆如珠一粒突起指下厥厥動搖因謂之動所以大痛之病於脈為動以痛則氣血交結脈亦總而不舒也妊娠之初胎元乍結正是陰陽凝合之時其應在脈於是亦呈凝聚之態素問脈動主妊一條其理極精而注家似未有能申明其真義者但必在結胎數曰之間乃有此象若曰久則胎孕已有明徵生機洋溢何致更有結塞之態形之脈上此所以脈滑亦主妊身即是生氣盎然之朕兆故滑脈必於一月後始可見之蓋動之興滑一為蘊蓄不行一為活潑爽利形勢態度適得其反而以論妊子固是各有至理必不可誣惟足少陰當從全元起本為是胎結下元自宜應之於尺啟玄本誤足為手必不可通</p>
<p>又曰陰搏陽別謂之有子</p>
<p>沈曰王注陰尺中也搏謂搏觸於手也尺脈搏擊與寸迥別則有孕之兆也（箋疏）搏是應指迫迫有力而形勢分明與動甚妊子之意相臺但是於陰分之尺部與陽分寸部顯然有別正其陰陽團結之初富有是象啟玄注此亦知以尺中立論則動甚妊子一節作手少陰者豈非訛誤</p>
<p>叉曰何以知懷子之且生也曰身有病而無邪脈也</p>
<p>（箋疏）一身有病者謂婦人不月豈非病狀且多有食減嘔啞之證亦是病徵但以脈察之則調而有序不見其病是為懷子無疑凡惡阻之甚者食減神疲病狀昭著然而必無恙臨證以來確乎可據始知經說之精</p>
<p>難經曰女子以腎系胞三部脈浮沈正等按之不絕者有妊也</p>
<p>（箋疏）三部脈浮沈正等按之不絕是節活潑流利之滑脈故知有妊沈堯封曰婦人三部脈浮沉正等以手按之不絕者孕子也妊脈初時寸微呼吸五至三月而尺數也脈滑疾重以手按之散者胎已三月也脈重手按之不散但疾不滑者五月也此即陰搏陽別之義言尺脈滑數寸脈微小尺與寸脈別者孕子也</p>
<p>（箋疏）三月尺數三月滑疾而散云云不確</p>
<p>辨男女胎</p>
<p>王叔和曰妊娠四月其脈左疾為男右疾為女俱疾為生二子</p>
<p>（箋疏）疾即滑利之意左脈滑應男胎右脈滑主女胎自有確徵又曰左尺偏大為男右尺偏大為女左右俱大產二子大者如實狀即陰搏之</p>
<p>意尺脈實大興寸迥別但分男在女右也又曰左脈沈實為男右脈浮大為女</p>
<p>（箋疏）沈實亦即陰搏之義亦當於尺徵之右脈浮大為女則不知其意何在然理不可通不足信也</p>
<p>婁全善曰按丹溪云男受胎在左子宮女受胎在右子宮推之於脈其義亦然如胎在左則氣血護胎必盛於左故脈左疾為男左大為男也胎在右則氣血護胎必盛於右故脈右疾為女右大為女也亦猶經文陰搏陽別謂之有子言胎必在身半之下氣血護胎必盛於下故陰尺豉搏與陽寸迥別也</p>
<p>（箋疏）天地之氣左升而右降升屬陽而降屬陰故左為陽而右為陰且南面而立左在東而右在西東主升而右主故東為陽而右為陰男女胎之分主於左右脈即是陰陽升降之氣為之確有徵驗而亦自有至理丹溪以左右子宮受胎為分別卻非生理之實讀西學家言子管子核確有左右兩處而子宮則有一無二此是實在形骸不可信筆寫來惟吾所欲者也（卷末附英醫合信氏全體新論可徵）</p>
<p>千金云令妊婦面南行從背後呼之左迴首者是男右迴首者是女又女腹如箕以女胎背母足膝抵腹下大上小故如箕男腹如釜男胎向母背脊抵腹其形正圓故如釜也</p>
<p>沈堯封曰內經妊娠數條惟陰搏陽別尤為妙諦素問診法上以候上下以候下氣血聚於上則寸脈盛氣血聚於下則尺脈盛其勢然也試之瘡瘍無不驗者況胎在腹中氣血大聚豈反無徵驗之理胎繫於腎在身半以下故見於尺部但人脈體不同有本大者有本小者節懷妊時有見動脈者然尺中或疾或數總奧寸脈迥然有別細審自得節左右男女亦然受胎時偏左成男氣血聚於左則左重故呼之則左顧便脈必形於左尺受胎時偏右成女氣血聚於右則右重呼之則右顧便脈必形於右尺此一定之理也至若丹溪受胎於左於宮女受胎於右子宮此是語病猶言偏於子宮之左偏於子宜之右耳原非有二子宮也惟左男右女指醫人之左右手言恐未必然</p>
<p>（箋疏）左顧右顧之說殊屬不確堯封偏左偏右亦是空話子宮惟一教他偏到何處去此非禮記月令之九宮可以左個右個擇居其一者也王孟英曰諸家之論皆有至理而皆有驗有不驗余自髻年即專究於此三十年來見聞多矣有甫受孕而脈即顯呈於指下者有半月一月月後而見於脈者有二三月而見於脈者有始見孕脈而五六月之後反不見孕脈者有始終不見於脈者有受孕後反見弦澀細數之象者甚有兩脈反沈伏難尋者古人所論原是各杼心得奈死法不可以限生人紙上談兵未嘗閱歷者何足以語此惟今春與楊素園大令談之極蒙折服殆深嘗此中甘苦也憶辛丑秋診周光遠令正之脈右寸關忽見弦大滑疾上溢魚際之象平昔之脈未嘗見此頗為駥然及詢起居諸無所苦惟汛愆半月耳餘曰妊也並可必其為男繼而其父孫際初聞之診乃女脈曰妊則或然恐為女孕余曰肺象乎天今右寸脈最弦滑且見上溢之象豈非本乎天者親上耶孫曰此雖君之創解然極有理究不知後隘何似耳迨壬寅夏果舉一男聊附一端以為鑿鑿談脈者鑑</p>
<p>（箋疏）孟英有驗有不驗之說以闊歷得之最宜真諦古人所論或憑理想或偶然符合而自以為確究竟稟賦木齊各如其面豈可執板法以談天然之生化故孕脈最難憑頤亦留心二十餘年而始敢為此說若門外人聞之必嗤為脈理之不精矣知凡百學問必親自體驗潛心默察而後能於板法中參活法彼篤信好古常在故紙堆中求生活者何足以語此然亦止可為知者道不足為俗人言也王論周氏夫人一證弦滑上溢而斷為妊且斷為必男必無真切理由可說本乎天者親上一句空空洞洞何可為訓然竟協徵蘭之兆此正頤之所謂們燃符合而自以為確者請教後人更從何處學步然即此更可徵孕脈之變幻無窮萬不能刻舟求劍按圖索驥矣</p>
<p>妊婦似風盂英曰即子癇證</p>
<p>沈堯封曰妊婦病源有三大綱一曰陰虧人身精血有限聚以養胎陰分必虧二曰氣滯腹中增一障礙則升降之氣必滯三日痰飲人身臟腑接壤腹中遽增一物臟腑之機括為之不靈津液聚為痰飲知此三者庶不為邪說所惑妊發卒倒不語或口眼歪斜或手足瘛瘀皆名中風或腰背反張時昏時醒名為痙又名子癇古來皆作風治不知卒倒不語病名為厥陰虛失納孤陽逆上之謂口眼歪斜手足瘛瘀瘲或因痰滯經絡或因陰虧不吸肝陽內風暴動至若腰背反張一證臨危必見戴眼其故何歟蓋足膀胱從太陽之脈起於目內皆上額交巔循肩膊內夾脊抵腰中足太陽主津液虛則經脈時縮脈縮故腰背反張經云童子高者太陽不足謂太陽之津液不足也脈縮急則童子高甚則戴眼治此常用地黃麥冬等藥滋養津液為主胎前病陽虛者絕少慎勿用小續命湯</p>
<p>王孟英曰陰虛氣滯二者昔人會已言之痰飲一端可謂發前人之未發因而悟及產後譫妄等症誠沈氏獨得之秘反覆申明有裨後學之功不已多乎</p>
<p>（箋疏）妊身陰虛以精血凝聚下元無暇旁及致令全身陰分偏於不足至理名言必不可易頤因此而悟及子癇發痙即從此陰虛二字而夾蓋癇症痙厥猝然而作亦可倏然而安近人腦經病之真理早已發明已是萬無疑義顧腦神經之所以為病者無非陰不涵陽孤陽上逆沖激震湯擾其神經以致知覺運動頓失常度若產後得此明是陰奪於下陽浮於上其理易明獨妊脈之時真陰團結必說不到陰虛二字何以而陽亦上浮至於此極今得堯封精血有限聚以養胎陰分必虧三句為之曲曲繪出原理乃知陽之所以升浮者正惟其陰聚於下有時不得上承遂令陽為之越發生是證燃究屬陰陽偶爾乖離非真陰大虛者可比則陽氣暴越能升亦自能降所以子癇病自動亦即自安不為大患亦與其他之癲癇發作有時恆為終身痼疾者不同堯封陰虛失納孤陽逆上及陰虧不吸肝陽內風暴動四句說明癇痙根源早已窺透此中癥結惜乎當時腦神經之病情尚未傳播遂以卒倒不語口眼歪斜手足瘛等症僅能以痰滯經絡解說尚是未達一間而論腰背反張臨危戴眼亦不得不從足太陽經起於內皆上額交巔說入引作確證豈知反張戴眼亦是腦經變動必與足太陽經無涉經謂童子高者太陽不足乃指平時無病而言不能援為猝然戴眼之證而足太陽主津液一說則經言膀胱者津液之府本屬可疑亦復可笑（膀胱儲尿原是應當排泄之廢材何得謂之津液）抑且治反張戴眼猝然為變者必以潛降為主攝納浮陽決非地黃麥冬滋養津液所能有效況堯封既以歪斜瘛瘲反張等症作為痰滯經絡則地黃麥冬寧不與痰飲一說自相矛盾總之氣火既浮上衝激腦者必挾胸中痰濁隨氣而升所以癇病發作之時無不口湧冷涎者滋膩養陰之藥必不可投何以沈氏附會津液不足而謂常用地黃麥冬等耶末調弗用小續命湯則所見最真凡吾同道不可不書諸紳無論昏憒歪余不仁不遂痙厥瘛瘲癲癇譫妄敬投續命必為催命之符此則頤之所敢斷言者孟英謂痰飲一端沈氏獨得之秘洵是確論子癇痙厥產後昏冒類多由此其實皆虛陽挾痰上逆所以沈氏蠲飲六神一方最多奇效然則地黃麥冬更不可不謂智者之一失矣</p>
<p>沈堯封曰錢鵠云正室飲食起居無恙一夜連厥數十次發則目上竄形如屍次日叉厥數十次至晚一厥不醒以火炭投醋中近鼻熏之不覺切其脈三部俱應不數不遲並無怪象診畢伊父倪福增曰可治否余曰可用青鉛（一斤）　化烊傾盆水內撈起再烊再傾三次取水煎生地（一兩）　天冬（二錢）　細石斛（三錢）　甘草（一錢）　石昌蒲（一錢）　服倪留余就寢書室晨起見倪復治藥云昨</p>
<p>夜服藥後至今止厥六次厥亦甚輕故照前方再煎與服服後厥遂不發後生一子計其時乃受胎初月也移治中年非受胎者亦屢效</p>
<p>（箋疏）猝厥一症總是陽氣上浮沖激腦經所以頃刻之間能失知覺運動其脈有變有不變有伏有不伏其支體亦有冷有不冷病情與癇症大同但猝厥者無涎沫癇必有涎沫故治癇必兼滌痰冶厥可投滋膩養陰兼顧其本而必賴潛陽鎮墜之品始克有濟則是症必無二治其脈之不皆伏亦以腦經為病本與血管無涉大抵脈不伏而支溫者其症尚輕脈伏絕而支冷者其症為劇是其神經之激動尤甚更進一步即素問之所謂氣不返者死矣堯封此案雖不能識破腦神經病而以青鉛水煎湯正合鎮定氣火使不升騰之意所以覆杯得效如鼓應桴此症之發於初結胎時者固以真陰凝聚於下不暇他顧致令孤陽無宅俄傾飛揚既得青鉛攝引而復峻養真陰標本雙顧所以定厥而井無礙胎之慮宜為子癇猝厥之無上神丹自謂屢效必非虛語</p>
<p>吳門葉氏治一反張發時如跳蟲雕席數寸發過節如平人用白芍甘草紫石英炒小麥南棗煎服而愈捷徑方載一毒藥攻胎藥毒衝上外證牙開緊急口不能言兩手強直握拳自汗身有微熱與中風相似但脈浮而軟十死一生醫多不識若作中風治必死用白扁豆二兩生去皮為末新汲水調下即效</p>
<p>（箋疏）葉氏此案石英鎮納臺甘麥棗芍柔潤卷液與上條堯封用藥異曲同工真是雙璧雙珠無獨有偶讀此可悟善學古人者止當師其意而不必拘其方若必依樣葫蘆描寫一遍則抄書胥矣至捷徑方所述亦即此症生扁豆末例以必效恐是蜇言吾斯未信</p>
<p>沈堯封曰痰滯經絡宜二陳加膽星竹瀝薑汁</p>
<p>（箋疏）癇雖皆有痰然特其顯而易見者耳其實病在腦經氣升為本痰為標堯對此條是未知腦經為病尚覺隔膜</p>

<h2>初娠似勞</h2>
<p>沈堯封曰錢彬安室人內熱咳嗆涎痰夜不能臥脈細且數呼吸七至繳余診視問及經事答言向來不準今過期不至余因鄰近素知伊稟怯弱不敢用藥就診吳門葉氏云此百日勞不治歸延本邑浦書亭療投逍遙散不應更萎蕤湯亦不應曰病本無藥可治但不藥必駭病者可與六味湯聊復爾爾困取六味丸料二十分之一煎服一劑咳減二劑熱退四劑霍然惟覺腹中有塊日大一日彌月生一女母女俱安越二十餘年女嫁母故後以此法治懷妊咳嗆涎痰或內熱或不內熱或脈數或脈不數五月以內者俱效五月以外者有效有不效</p>
<p>（箋疏）素稟本弱而入結胎則陰不上承虛火燔灼致為咳嗆涎痰內熱諸症六味本可以養陰而亦攝納清熱投之極輕不嫌呆笨正是恰如地位王孟英曰亦有勞損似娠者蓋凡事皆有兩面也</p>

<h2>喘</h2>
<p>丹溪曰因火動胎逆上作喘急者用條芩香附為末水調服</p>
<p>（箋疏）此節以胎前言之喘是氣逆而上奔尋常治法皆宜開泄抑降然在有娠則重墜之藥皆有墮胎之慮不可不防故丹溪止以條芩香附治胎火則反是以思如有寒飲泛溢之喘逆自常舉一反三不能僅以黃芩為定喘之主藥亦自可悟但喘逆甚者開肺肅降亦不必忌正以有病則病當之適可而止未必開泄皆致墮胎觀上文堯封用青鉛一條胎元乍結之時尚不為害其故可思但不可大劑金石只止鎮壓耳</p>
<p>呂滄洲曰有婦胎死腹中病喘不得臥醫以風藥治肺診其脈氣口盛人迎一倍左關絃動而疾兩尺俱短而離經因曰病蓋得之毒藥動血以致胎死不下奔迫而上衝非外感也人劑芎歸湯加催生藥服之下死胎其夫曰病妾有懷室人見嫉效藥去之眾所不知也</p>
<p>（箋疏）此胎死而氣迫土沖非下死胎必不可救然亦有子懸重症母命危在旦夕苟再顧護胎元勢且母子莫保則急用大劑鎮逆不遑保胎亦是兩害相權處其輕者而已下文子懸條有旋覆代赭湯胎墮得生一節正合此旨頤十年前荊人兩度子腫寒水土溢喘急危極皆投真式湯合旋覆代赭俱胎墮而後即安實迫於事勢之無可奈何如其為他人處方似不常為此背城借一之計即使幸而得安容或有以胎墮為口實者設或元氣不支俱傷兩敗則悠悠之口更當如何然為醫家事實上思之但求吾心之所安以敗聽之天命則當危急存亡之秋亦不妨用此法蓋舍此必無可以兩全之策無寧放膽圖之尚有一線生機惟必以此中理由先為病家說明聽其自主可耳</p>
<p>沈堯封曰外感作喘仍照男子治故不錄他病仿此王海藏醫壘元戎曰胎前病唯常順氣若外感四氣內傷七情以成他病治法與男子同當於各證類中求之惟動胎之藥切不可犯</p>

<h2>惡陰</h2>
<p>金匱曰婦人得平脈陰脈小弱其人渴不能食無寒熱名妊娠於法六十日常有此證設有醫者治逆卻一月加吐下者則絕之沈堯封曰婁全善云惡阻謂嘔吐噁心頭眩惡食擇食是也絕之者謂絕止餘自安</p>
<p>（箋疏）惡阻是胎元乍結真陰凝聚不得上承而虛陽上越故為嘔吐噁心頭眩惡食等證但陰結於下陰脈當沈實而不當小弱素問謂少陰動甚亦是有力搏擊之狀即證以閱歷所得必尺部有神而後敢信為妊兆如其兩尺微弱即未必是妊而金匱乃謂陰脈小弱者為妊娠殊不可嘵即謂六十日當有此證亦覺太泥凡惡皿早者珠胎乍結才十餘日而即有見症其遲者亦有發見於兩三月後者亦有連舉數胎而不知不覺者大率強壯之體皆無此症其惡食擇食嘔吐泛亞者皆柔脆者也而治之應否又各各不同其應手者三五劑即有大效其不應者雖竭盡智能變盡方法而嘔不可止則又本乎其人之性質非藥石所能為力醫有必不能自恃寸力可操勝算停藥一說雖似有理其實停藥而不能自安者亦正不少</p>
<p>朱丹溪曰有妊二月嘔吐眩暈脈之左弦而弱此惡阻因怒氣所激肝氣傷又挾胎氣上逆以茯芩半夏湯下抑青丸</p>
<p>（箋疏）一嘔吐皆肝氣之上逆縱無怒氣激動其病亦本於肝是方主治所以多效</p>
<p>千金半夏茯芩湯治妊娠阻病心中憒悶空煩吐逆惡聞食氣頭眩體重四肢百節疼煩沉重臥臥少起惡寒汗出疲極黃瘦</p>
<p>半夏　生薑各三十銖　乾地黃　茯芩各十八銖　橘皮　旋覆花　細辛　人參　芍藥　芎躬　桔梗　甘草各十二銖</p>
<p>右十二味哎咀以水一斗煮取三升分三服若病陰積月日不得治及服藥冷熱失候病變客熱煩渴口生瘡者去橘皮細辛加前胡知母各十二銖若變冷下痢者去幹地黃入桂心十二銖若食少胃中虛生熱大便閉塞小　</p>
<p>赤少者宜加大黃十八銖去地黃加黃芩六銖餘依方服一劑得下後消息看氣力冷熱增損方更服一劑湯便急使茯芩丸命能食便弦健也忌生冷酷滑油膩</p>
<p>（箋疏）一是方開泄降氣化痰定逆而以旋覆干旋干運參地固護真陰又加細辛以通中州陽氣則脾之消化健而痰濁自退嘔吐可定但芎藭太升甘草太膩是可減之或謂細辛氣味俱雄古人謂其直透巔頂是升騰之勢較之川芎殆將倍荇蓰謂眩暈嘔吐不宜於升似當先除細辛而後再藏芎藭頤則謂細辛質堅而細氣雖升而質則降用以開中州郁窒而化痰濁尚無不可惟川芎形質氣味無一不升嘔惡必非所宜是有至理非臆說也千金茯芩圓服前湯兩劑後服此即效</p>
<p>茯芩　人參　桂心（熬）　乾薑　半夏　橘皮各一兩　白朮　葛根　甘草　枳實各（二兩）</p>
<p>右十味蜜丸梧子大飲服二十丸漸加至三十丸日三次</p>
<p>徐曰肘後不用幹姜半夏橘皮白朮葛根只用五物又云妊娠忌桂故熬</p>
<p>王孟英曰雄按胎前產後非確有虛寒脈證者皆勿妄投熱劑暑月尤宜慎之</p>
<p>又方</p>
<p>青竹茹　橘皮各（十八）銖　茯芩生薑各（一兩）　半夏（三十）銖上五味水六升煮取二升半分三服</p>
<p>千金橘皮湯治妊娠嘔吐不下食</p>
<p>橘皮　竹茹　人參　白朮各（十八銖）　生薑（一兩）　厚朴（十二）　銖上六味水七升煮取二升牛分三服</p>
<p>沈堯封曰費姓婦懷妊三月嘔吐飲食服橘皮竹茹黃芩等藥不效松郡車謂津用二陳湯加旋覆花姜皮水煎沖生地汁一杯一劑吐止四劑全愈一醫笑曰古方生地半夏同用甚少不知此方即千金半夏茯芩湯除去細辛桔梗芎窮白芍四味又曰嘔吐不外肝胃兩經病人身臟腑本是接壞懷妊則腹中增了一物臟腑機括為之不靈水穀之精微不能上蒸為氣血凝聚而為痰飲窒塞胃口所以食入作嘔此是胃病又婦人既娠則精血養胎無以攝納肝陽則肝陽易升肝之經脈夾胃肝陽過升則飲食自不能下胃此是肝病千金半夏茯芩湯用二陳化痰以通胃也用旋覆高者抑之他用地黃補陰以吸陽也用人參生津以養胃也其法可謂詳且盡矣至若細辛亦能散痰桔梗亦能理上焦之氣芎窮亦能宣血中人滯未免升提白芍雖能平肝斂陰仲景法胸滿者去之故車氏皆不用斟酌盡善四劑狄安有以也</p>
<p>王盂英曰發明盡致精義入神</p>
<p>沈堯封曰蔡姓婦惡阻水藥俱吐松郡醫用抑青丸立效黃連一昧為末粥糊丸麻子大每服二三十丸</p>
<p>又曰肝陽上升補陰吸陽原屬治本正理至肝陽亢甚滴水吐出即有滋陰湯藥亦無所用不得不用黃連之苦寒先折其太甚得水飲通然後以滋陰藥調之以收全效</p>
<p>王盂英曰左金丸亦妙</p>
<p>沈堯封曰沈姓婦惡陰水漿下咽即吐醫藥雜投不用身體骨立精神困倦自料必死醫亦束乎一老婦云急停藥八十日當愈後杲如其言停藥者即金匱絕之之義也至八十日當愈一語豈金匱六十日當有此證之誤耶不然何此言之驗也</p>
<p>（箋疏）惡阻甚者每每百藥不效有至八九月而漸安者亦有直侍分娩而始平者停藥者打之亦未必皆安老婦所謂八十日常愈者想亦屢驗而始有此說魷終是偶爾巧合不必一概皆然也</p>
<p>沈堯封曰朱宗承正室甲戌秋體倦吐食診之略見動脈詢得停經兩月惡阻證也述前治法有效有不效如或不效即當停藥錄半夏茯苓湯方與之不效連更數醫越二句復邀余診前之動脈不見但覺細軟嘔惡日夜不止且吐蛔兩條余曰惡阻無礙吐蛔是重症姑其蛔以觀動靜用鳥梅丸早晚各二十丸四日蛔止嘔亦不作此治惡陰之變局也故志之</p>
<p>（箋疏）嘔之甚者即不吐蛔用烏梅丸亦佳以酸收合苦辛發中有合干旋樞機最有妙理嘔字從區正是樞關之失於運用乃有此症頤治嘔吐習用川椒紅烏梅炭或少加細辛效者不少功在左金丸之上椒紅至多不過十粒烏梅細辛各三四分皆不可多少則神應重則辛烈太過大耗津液不可不知</p>

<h2>子煩妊婦煩名子煩</h2>
<p>丹溪曰因胎元壅鬱熱氣所致</p>
<p>沈堯封曰子煩病因曰痰曰火曰陰虧因痰者胸中必滿仲景云心中滿而煩宜瓜蒂散此是吐痰法妊婦禁吐宜二陳湯加黃芩竹茹旋覆花陰虧火甚者仲景黃連阿膠湯最妙</p>
<p>（箋疏）煩是內熱心煩悶悶不樂亦以陰聚於下不得上承總是陰虛火擾但挾痰者十恆七八黃連溫膽湯觸飲六神湯皆佳瓜蒂吐法不獨妊身不宜即常人亦不可用以其本是痰熱卜壅更與激越適以引動其氣是助虐矣</p>
<p>醫方集解汪認庵有竹葉湯一方治妊娠心驚膽怯終日煩悶名子煩因受胎四五月相火用事或盛夏君火大行俱能乘肺以致煩躁胎動不安亦有停痰積飲滯於胸膈以致煩躁者</p>
<p>麥冬（錢半）　茯芩　黃芩（一錢）　人參（五分）　淡竹葉十片竹葉清煩黃芩消熱麥冬涼肺心火乘肺故煩出於肺茯芩安心人參補虛妊娠心煩固多虛也如相火盛者單知母丸君火盔者單黃連丸神不安者硃砂安神丸切不可作虛煩用梔豉等藥治之一方茯芩為末無人參有防風一方有防風知母無人參有痰者加竹瀝</p>
<p>（箋疏）妊身心煩果是虛火無痰是方極合然挾痰者十之七八參麥胡可妄投認庵方下謂亦有停痰積欲滯於胸膈是渠亦未嘗不知有此一症而乃並列於本方之下一似此方並可治停痰積飲者豈非大謬方後且謂人參捕虛妊娠心煩固多虛症云云又與停痰積飲一層兩不照顧汪氏書之敝預模糊最易引初學人重霧中皆此等騎牆兩可之說誤人實是不淺又謂不可作虛煩用梔豉等藥頤謂梔子清心而不大苦大寒心家有火胡不可用且香豉質松本治心中煩熱之藥惟今之江浙市肆中以麻黃湯制過用為發汁之藥則非心煩者所宜耳方後既曰心煩多虛而又曰切不可作虛煩出爾更是可笑</p>

<h2>子懸</h2>
<p>嚴氏紫鰥散　許叔微曰治懷胎近上脹滿疼育謂之子懸　陳良甫曰妊至四五月君相二火養胎熱氣逆上胎腠心胸腹滿痞悶名曰子懸用此加黃芩山梔之類一方無用芎名七寶散許叔微云六七月子懸者用之數數有驗不十服便近下</p>
<p>紫蘇（一兩）　腹皮　人參　川芎　橘皮　白芍　當歸（三分）　甘草（一分）銼分三服水一盞生薑四片蔥白煎去渣服</p>
<p>徐藹輝曰去川芎因避升提之故汪認庵曰治胎氣不和湊上胸腹腹滿頭疼心腹腰脅皆痛名子懸因下焦氣實相火旺盛舉胎而上上通心胸也每服止用蘇葉一錢當歸七分腹皮以下皆五分甘草二分無蔥白心腹痛者加木香延胡陳來章曰芎歸芍葉以和其血蘇橘大腹以順其氣氣順血和則胎安矣即利其氣復以人參甘草養其氣者順則順其邪逆之氣養則養其沖和之氣也</p>
<p>徐藹輝曰延胡動血恐未可用</p>
<p>（箋疏）子懸是胎元之上迫良由妊婦下焦氣分不疏腹壁逼窄所以胎漸居上而脹滿疼痛乃作濟生紫蘇飲用蘇葉腹皮橘皮芎歸疏通下焦之氣再加薑蔥亦是通陽作用不可認作發散通套程鍾齡醫學心悟解釋保生無憂散一方謂全用撐法故使易產頤謂嚴氏此方亦是摟法令其腹壁開展而胎自安於故宅惟其分兩甚輕故疏展而無擾動之慮陳氏不用川芎徐藹輝謂其嫌於升提洵是確論但本方止用三分開展氣機亦無不可若不知此理而重用之則大謬矣認庵所謂相火旺盛認症未切須知方中並無清火之藥並不為火旺而設總之汪氏書中議綸不少總覺膚浮甚則溢出題外所以徒授俗子簡陋惡習而此道乃愈趨愈下又謂心腹痛加本香延胡則運行氣滯尚是正著徐雖謂延胡動血惟恐礙胎然止是行血中之氣俗雖謂其破血其實氣體旺者尚可無妨惟柔脆者忌之陳來竟說解亦極浮泛是汪認庵之流亞非能闡發醫理之實用者</p>
<p>趙養葵有命門虛寒胎下湊心就暖一說</p>
<p>沈堯封曰此是百中僅一非實是虛寒脈證熱藥不可嘗試</p>
<p>（箋疏）養葵此條純是謬想心雖屬火而位居膈上豈胎能湊得其暖氣者且腹中豈無熱度命門虛者將全腹寒止有其心獨暖耶向壁虛構而不顧其理有難安養葵之謬一至於此堯封採之得毋失榆</p>
<p>沈又曰郁姓婦懷妊九月偶因勞動遂覺腹痛胎漸升至胸中氣塞不通忽然狂叫咬人數人扶持不住病名子上撞心即子懸之最重者用旋覆花代赭湯去參棗連灌兩劑胎墮得生又一婦證亦如之服前藥胎墮而死</p>
<p>（箋疏）此誠是子懸之重症上逼太甚竟致神志為蒙此非重劑鎮墜復有何藥可以救急胎之墮否本已不暇兼顧即使墮胎而母命難全亦止有盡人力以聽氣數而已頤謂代赭石入煎劑尚非末子沖服可比亦未必皆墮</p>
<p>胎果有急症不妨借用此時母命極危更不當疲藥塞責井此一線可生之機而絕之也　案中升至胸中四字終是言之太甚胎在腹部必不能撞破膈膜直犯心主此是古人下筆之不慎讀者不可誤認</p>
<p>沈又曰陸檢修正室子上撞心江穩婆教磨代赭汁服遂產兩子一子在上橫於心下一子撞著上子故經一晝夜不至撞心得不死產下遂安</p>
<p>（箋疏）此條一子在土橫於心下一子撞著上子三句亦是理想而云然誰能入其母懷認得清楚如是</p>
<p>蔥白湯　治胎上逼心煩悶又治逼動困篤本草云蔥白通陰安胎婁全善曰此方神效脈浮滑者宜之蔥白二七莖濃煮汁飲之胎未死即安已死即出未效再服</p>
<p>（箋疏）蔥白是根莖故能達下焦而通陽氣此亦頤之所謂摟法其陽氣宣</p>
<p>通腹壁不窄則胎自安矣</p>
<p>陳良甫曰治一婦孕七個月遠歸忽然胎上衝作痛坐臥不安兩醫治之無效遂云胎已死矣用蓖麻子研爛和射香貼臍中下之命在呼吸召余診視兩尺脈絕他脈和平余問二醫作何證以治之答云死胎余問何以知之曰兩尺沈絕以此知之餘曰此說出何書二醫無答余曰此子懸也若是死胎欲有辨處面赤舌青子死母活面青舌赤吐沫母死幹活唇舌俱青子母俱死今面不赤舌不青其子未死是胎上逼心宜以紫蘇飲連進上十服而胎近下矣</p>
<p>（箋疏）子死而舌青者以胎死則陰寒之氣上乘故舌無華採而現青黯之色</p>
<p>李氏曰子懸證火盛極一時心氣悶絕而死紫蘇飲連准可救若兩尺脈絕者有誤服動胎藥子死腹中則增寒手指唇爪俱青全以舌為證念芎歸湯救之</p>
<p>（箋疏）子懸本非火盛之證所以蘇葉蔥白皆能桴應　李氏此言真是臆說</p>
<p>王孟英曰戊申秋荊人妊八月而患咳嗽礙眠鼻衄如射面浮指腫諸藥不應諦思其故素屬陰虛內火自盛胎因火動上湊心胸肺受其沖咳逆乃作是不必治其嗽仍當以子懸治之因以七寶散去參芍生薑為其胸滿而內熱也加生石膏以清陽明之火熟地黃以攝根蒂之陰投匕即安今年冬仲亦以八月之娠而悲哀勞瘁之餘胎氣衝逆眩暈嗽痰脘脹便溏苔黃口渴予觸飲六神湯去膽星茯芩加枳實蘇葉大腹皮以理氣開鬱黃芩卮子竹茹以清熱安胎一劑知二劑已凡子懸因於痰滯者余每用此法無不應如桴鼓</p>
<p>（箋疏）此症是陰虛有素氣火上升為咳為衄為面浮膚腫尚非胎元之上逼然凡胎之能逆上者亦無非氣升使然病狀雖殊其理則一故治法皆同且凡所謂子懸者本是氣升為多亦不必其胎之果能上升也七寶六神只是順氣化痰所以不致礙胎若使投以大劑重墜之藥亦將有傷胎之變</p>

<h2>妊娠腫脹</h2>
<p>沈堯封曰妊婦腹過脹滿或一身及手足面目俱浮病名子腫或名子氣或名琉璃胎但兩腳腫者或名皺腳或名肥腳名色雖多不外有形之水病與無形之氣病而已何則胎礙藏府機括不靈腎者胃之關也或關門不利因而聚水或脾不能散精行肺或肺不能水精四布此有形之水病也又腹中增一物則大氣升降之道窒塞此無形之氣病也病在有形之水其證必皮薄色白而亮病在無形之氣其證必皮厚色不變說見內經脹論細玩自明更有痰滯一證痰雖水類然凝聚質厚不能遍及皮膚惟壅滯氣道使氣不宣通亦能作腫其皮色亦不變故用理氣藥不應加化痰之品自然獲效</p>
<p>（箋疏）妊身發腫良由真陰凝聚以養胎元而腎氣不能敷布則腎中之輸尿管無權遂致水道不通泛溢莫制治當展布腎氣庶幾水行故道小溲利而腫脹可消此惟仲景腎氣丸最為正治但附子最是礙胎苟非症勢危急慎弗輕率援用以貽口實其頭而腫者則肺氣不降上源不清而水道亦不利則當關宣肺氣復基肅降之常而即不浮</p>
<p>徐藹輝曰靈樞水脹論曰水始起目窠上微腫如新臥起之狀其頸脈動時咳陰股間寒足脛腫腹乃大基水已成矣以手按基腹隨手而起如裹水之狀此其候也膚脹者寒氣客於皮膚之間鑿鑿然不堅腹大身盡腫皮厚按其腹窅而不起腹色不變此其候也愚按於膚脹言皮厚色不變則水脹之皮簿色變可知矣存參</p>
<p>千金鯉魚湯治妊娠腹脹脹滿或渾身浮腫小便赤澀沈按此治有形之水也以腹脹滿為主身腫溺澀上加一或字乃或有或無之詞不必悉具</p>
<p>陳良甫曰胎孕至五六個月腹大異常此由胞中畜水名曰胎水不早治恐胎死或生子手足軟短宜干金鯉魚湯蓋鯉魚歸腎又是活動之藥臣以芩術姜橘直達胞中去水又恐水去胎虛佐以歸芍使胎得養真神方也</p>
<p>當歸　白芍各（一錢）　茯芩（一錢五分）　白朮（二錢）　橘紅（五分）　鯉魚一尾去鱗腸作一服白水煮熟去魚用汁一盞半入生薑三片煎一盞空心服胎水即下如腹悶未盡除再合一服</p>
<p>金匱葵子茯芩湯　治妊娠有水氣身重小便不利灑淅惡寒起即頭眩按</p>
<p>此滑利之劑亦治有形之水</p>
<p>葵子（一斤）　茯芩（三錢）　為散飲服方寸匕日三服小便利則愈</p>
<p>（箋疏）葵子滑而下行近入有傷胎之說雖是古方必須慎用天仙藤散　治妊娠自三月成胎之後兩足自腳面漸腫至腿膝行步艱難喘悶妨食狀似水氣甚至足指間出黃水者謂之子氣此元豐中淮南名醫陳景初制也本名香附散後李伯時更名天仙藤散按此理氣方也腳面漸腫至腿膝並足指間黃水出是水與氣同有之證不得即謂之氣病必皮厚色不變方是氣病用此方為對證</p>
<p>天仙藤即青木香藤洗略焙　香附炒　陳皮甘　草烏藥　木香等分銼末每服五錢加生薑三片紫蘇五葉水煎日三服腫消止藥</p>
<p>（箋疏）是方專從氣分著想意謂氣得通調而腫可自愈然方下則謂三月</p>
<p>成胎之後腳腫至膝甚至喘悶妨食足指間出水則水之氾濫甚矣豈僅理其氣所能有效沈堯封謂必皮厚色不變方是氣病用此為對症乃是認症要決</p>
<p>齊仲甫曰妊娠八九月見腳腫不必治當易產因胎中水血不多不致燥胎故也若初妊即腫者是水氣過多兒未成體恐胎傷壞</p>
<p>（箋疏）妊至八九月而始有腳腫尚是常事其症本輕既不上升大腫則娩後自消固不必治非若妊身三四月而即腫者可比也</p>
<p>腳腫主男胎宋少主微行徐文伯從見一妊婦不能行少主脈之曰此女形也文伯診之曰此男胎也在左則胎色黑少主怒欲破之文伯惻然曰臣請針之補合谷瀉三陰交應手而下男形而色黑</p>
<p>（箋疏）此節出於正史似乎必有此事然言其然而不能言其所以然雖針</p>
<p>刺家書言之鑿鑿曲為附會咸推徐氏仁心妙手頤竊謂文士言醫不諳此中真理每每侈詡新奇而實無理可喻二十四史力伎術中十九難信更何論諸家文籍及郡縣誌乘而此外之小說家言益可知矣江氏魏氏名醫類案不知芟薙以多為貴可笑者不知凡幾又圖書集成醫部之末數卷搜輯醫術名流列傳專採省縣誌書奇奇怪怪復疊重累依樣描摹者甚至前後十餘條如比一手文人之筆鄙俚一至於此頤戲為之集成一編名之曰古今怪案可為醫界中一部笑史文伯此條亦其一耳必不可信</p>
<p>薛立齋案云一妊婦腹脹小便不利吐逆諸醫雜進溫胃寬氣等藥服之反吐轉加脹滿湊心驗之胎死已久服下死胎藥不能通因得鯉魚湯其論曰妊婦通身腫滿或心胸急脹名曰胎水遂看妊婦胸肚不分急以鯉魚湯三五服大小便皆下惡水腫消脹去方得分娩死胎此證蓋因懷妊腹大不以為怪竟至傷胎可不慎哉</p>
<p>（箋疏）水既洋溢胎浸其中安有不壞之理必二便暢行而死胎始下亦是至理</p>

<h2>妊娠經來</h2>
<p>王叔和曰婦人月經下但少師脈之反言有娠其後審然其脈何類曰寸口脈陰陽俱平營衛高和（沈注寸口脈陰陽俱平自然營衛調和也）按之則滑浮之則輕（沈注重按之以候陰分則滑是有餘之象浮取之以候陽分則輕是不足之象竊謂此即陰搏陽別之義）陽明少陰各如經法（沈注沖隸陽明主血任隸少陰主精各如經法精血無損是有娠而下墮之象）身反灑浙不欲食頭痛心亂嘔吐（沈注諸症經所謂身有病而無邪脈妊子也）呼之則微吸之不驚陽多氣溢陰滑氣盛滑則多實六經養成所以月見（沈注呼出之氣微數吸入之氣舒徐不驚是陽氣多溢於外今陽氣不足於內陰脈滑則陰血內盛所以月見經來六經養成句無解尚須查詳）陰見陽精汁凝胞散散者損胎（沈注若陰分虛而陽精乘之胞中必散方是胎墮然胞中若散脈必散而不滑今脈滑無虞也）設復陽盛雙妊二胎今陽不足故令激經也（沈注設陰陽俱盛必雙胎今氣不足而血有餘非雙胎乃激經也）</p>
<p>（箋疏）此節出脈經第九卷考脈經一書單行佳本極不易得金山錢氐守</p>
<p>山關叢書有之光緒十七年皖南周澄之亦刻入醫學叢書中則據嘉定黃氐道光間校刻本頗與錢本微有出入茲據周本校沈氐所引此節錄其同異於下以備考竅但本節文義亦頗有不甚明瞭者吾國極古醫書多有此可疑之處本不能勉強註釋強求真解亦不容自吾作古妄詡聰明姑付闕如以俟賢者</p>
<p>（考異）月經下周本作經月下但少作但為微少娠作軀　何類周本下有何以別之四字　按之則滑周無則字　不欲食周本下有飲字　嘔吐周本作嘔噦欲吐　呼之則微周作呼作微數　吸之不驚周作吸則不驚</p>
<p>散者損胎周作散者損墮</p>
<p>產乳集曰妊婦月信不絕而胎不損問產科熊宗立答云此婦血盛衰其人必肥既妊後月信常來而胎不動若便以漏胎治之則胎必墮若不作漏胎治則胎未必墮宗立之言誠為有見然亦未必因血盛者榮經有風則經血喜動以風勝故也則所下者非養胎之血若作漏胎治投以滋補是實實也胎豈有不墮若知是風瑞以一味風藥投之經信可止即不服藥胎亦無恙然亦有胎本不固因房室不節先漏而後墮胎者須作漏胎治又不可不審也</p>
<p>沈堯對曰妊娠經來與漏胎不同經來是按期而至來亦必少其人血盛氣衰體必肥壯漏胎或因邪風所迫或因房室不節血來未必按期體亦不必肥壯且漏胎因不盡風邪房室更有血熱肝火諸證不可不察脈辨證風人脈中其脈乍大乍小有時隴起所云一味治風藥是舉卿古拜散（沈注即華陀愈風散荊芥略炒為末每服三錢黑豆淬調服）血熱證必五心煩熱治以黃芩阿膠涼血之藥肝火內動脈必弦數並見氣脹腹痛治以加味逍遙散房勞證脈必虛宜人參或虛而帶數宜六味湯</p>
<p>（箋疏）產乳集今未見此書考四庫書目提要產肯寶慶方二卷系從永樂大典錄出重編嘗引產乳備要似即此書乃宋人舊本頤謂榮經有風一層殊不可信荊芥一味非可浪投堯封所謂血熱肝火二者其症最多可師可法房室不節擾動衝任尤為墮胎半產之根萌則必有腰痠等證亦不僅脈虛二字足以概之並非人參所能有效六味太泛亦非必需之藥</p>
<p>虞天民曰或問妊婦有按月行經而胎自長者有三五個月閒其血大下而胎不墜者或及期而分娩或逾月而始生其理何歟曰按月行經而胎自長者名曰盛胎其婦氣血充盛養胎之外其血有餘故也有數月之胎而血大下調之漏胎因事觸胎動其衝脈故血下而不傷子官也然孕中失血胎雖不墮氣血亦虧多致逾月不產會見十二三月十七八月或二十四五月生者往往有之俱是氣血不足胚胎難長故耳凡十月之後未產者當大補氣血以培養之庶無分娩之患也</p>
<p>（箋疏）花溪老人此論分別有餘不足甚是明析謂逾月不產因於不足宜用培養一層洵是要訣縱使其人本未漏胎而既以逾期不生母氣不旺亦復河疑</p>
<p>李氐曰胎漏自人門下血尿血自尿門下血</p>
<p>（箋疏）此胎漏與溲血之辨別處一由精竅一由溺竅此惟患者有能知之非善問不可然閨中人赧於啟齒節問之亦不易得其詳則下條蕭氏一說尤握其要</p>
<p>蕭賡六云胎漏下血頻出無時尿血溺時方下不溺則不下</p>
<p>沈堯對曰尿血小薊飲子妙</p>
<p>（箋疏）溺血多膀胱蘊熱清熱利水是也然在妊身則傷胎之藥宜避</p>
<p>王盂英曰懷孕屢漏之後氣血耗傷有遲至三四十月而生者若妊娠帶下多主生女亦大不然也吳醞香大令五令媳素患帶婚後帶益盛繼漸泛愆醫皆以為帶所致也久投溫澀無效余診之脈甚滑數以懷麟斷清其胎火而愈及期果誕一子</p>
<p>（箋疏）帶下屬熱者多是必有脈症可憑俗子輒認為虛本極可笑　終</p>

<h1>沈氏女科輯要箋硫卷中</h1>

<h2>子淋　轉胞</h2>
<p>徐藹輝曰此淋字與俗所云赤淋淋字不同彼指赤帶言系女精此係指小水言也</p>
<p>（箋疏）小便頻數短檣熱痛乃謂之淋妊婦得此是陰虛熱熾津液耗傷者為多不比尋常淋痛皆由膀胱濕熱鬱結也故前人治此多於毓陰之中參以清池非一味苦寒勝濕淡滲利水之比轉胞之症亦是小溲頻數不能暢達但不必熱不必痛則胎長而壓塞膀胱之旁附氣不得自如故宜歸芎之升羅竊謂此症與子懸正是兩兩對峙彼為胎元之太升此是胎元之太降則子淋與轉胞似不可認作同顯但就病狀言之約略相似耳徐謂赤淋赤帶則確與子淋不同彼出精竅即不小溲而亦時時自下此則惟小溲時作痛不溲亦必不痛</p>
<p>妊婦淋曰子淋小便不出曰轉胞子淋小便頻數點滴而痛轉胞頻數比少不痛淋屬肝經陰虧火熾轉胞因膀胱被胎壓住膀胱止有一口未溺時其口向上口端橫一管上半營即名下焦下半管即溺孔未溺時膀胱之底下垂如瓶狀其口在上與下焦直對溺從下焦滲入效曰下焦者別迴腸而滲入膀胱焉欲溺時大氣舉膀胱之底如傾瓶狀其口向下從溺孔注比故曰氣化則能出矣轉胞一證因胞大壓住膀胱或因氣虛不能舉膀胱之底氣虛者補氣胎壓者托胎若浪投通利無益於病反傷正氣</p>
<p>徐藹汪認庵又謂胞系轉戾臍下急痛為轉胞溲或數或閉二說小異</p>
<p>（箋疏）淋則痛轉胞則不痛辨症甚是胎大壓住膀胱氣虛不舉亦是確論浪投通利無益於病至理名言有如皎日若謂膀膠止有一口不溺則其口在上云云以轉胞二字造出許多怪語那不令人笑死須知近人繹泰西生理家言膀胱明有上源豈有頻預倒轉之理此即古人轉胞之名有以誤之此等臆說扣槃捫燭實是中醫之絕大汙點何可不正汪認庵胞系轉戾四字亦是盲人談天最為得意之筆</p>
<p>子淋方</p>
<p>生地　阿膠　黃芩　黑山梔　木通　甘草　水煎服</p>
<p>丹溪治一妊婦小便人通令一婦用香油塗手自產門入托起其胎溺出如注即用人參黃耆升麻大劑煮服又治一婦轉胞用參歸煎服探吐得愈</p>
<p>沈堯封曰良庵載其方名參朮飲蓋當歸熟地黃穹窮芍藥人參白朮留白陳皮半夏炙甘草加姜煎空心服丹溪論曰窘胞之病婦之稟受弱者憂悶多者性躁急者食味厚者多有之古方用滑藥鮮效因思胞不自轉為胎被壓胎若舉胞必自疏水道自通矣近吳宅寵人患此脈似澀重則弦予曰此得之憂患澀為血少氣多弦為有飲血少則胎弱不能舉氣多有飲中焦不清而溢則胎避而就下乃以上藥與飲隨以指探喉中吐出藥汁候氣定叉與之而安此恐偶中後治數人皆效</p>
<p>（箋疏）清陽之氣不舉以致胎壓膀胱小溲不暢其理可信故宜川芎黃耆升麻等藥丹溪書中竟謂令人手入產門托起其胎豈不知產婦不到臨盆交骨不開安有可以伸入人手之理此荒謬極端之妄想全不知從實際上稍稍體會可駭亦最可殺而乃出出堂堂正正丹溪之書則人皆信以為真</p>
<p>竟不為之思索一番一盲君盲大為可怪堯封胞不自轉一句說得尚是模糊蓋古人命名用一轉字本是大誤須知膀胱之府位在腹中決非能自翻覆之物惟被壓於胎一層斷為至當不易之理堯封所謂胎若舉則胞必自疏水道自利之說最是明白曉暢撥重霧而見青天矣吳宅寵人案中澀為血少氣多一句亦踵古人之誤要知氣為血帥血隨氣行兩者並轡而馳本無須臾可離之理乃古者竟能創為滑脈血多氣少澀脈血少氣多兩言必以氣血二字判分畛域寧非琢句之失檢而讀者偏能不假思索奉若南針抑亦過矣</p>
<p>丹溪又謂中氣不清而溢措詞亦未妥</p>
<p>仲景云婦人本胎盛今反羸瘦胞系了戾但利小便則愈宜服腎氣丸以中有茯芩故也地黃為君功在補胞又法將孕婦倒豎胞轉而小便自通矣</p>
<p>（箋疏）金匱轉胞不得溺一條謂為胞系了戾主以腎氣丸病情藥理不甚明白止可存而木論尤氏心典以繚亂乖戾為了戾二字註解訓話可謂積切然細審病情胞即膀胱假令其系果致繚亂豈腎氣丸之功用可以整齊之且所亂者在系而不在胞何故遂致小便不利此中真相殊不可知況金匱婦人篇本條原屬不甚可解而沈引此條本于丹溪又典金匱不符者耶又謂將妊婦倒豎使胞轉而小便自通雖似言之有理實亦事不可行竊謂似此談醫皆是魔道不必存也</p>
<p>沈堯封曰注昂採本事安榮散治子淋心煩悶亂雲子淋膀胱小腸虛熱也虛則不能制水熱則不能通利故淋心與小腸相表裡故煩悶方用人參甘帥之甘以補虛木通燈草之滲滑石之滑以通淋悶肺燥則天氣不降而麥冬能清之腎燥則地氣不升而細辛能潤之血燥則溝瀆不濡而當歸能滋</p>
<p>之也亦有因房勞內傷胞門衝任虛者宜八珍湯或腎氣丸　（箋蔬）小溲淋閉而兼心煩悶亂是熱盛於上水源枯涸非僅胞中之病方用參麥滋潤肺金探河源於星宿之海其旨可見治認庵只知心與小腸相為表裡所見甚淺實是模糊之語須知小便之變自有肺燥失其清肅之職右降不及一層斷非從小腸而來喻西昌羽族之證所謂無肺者無溺有肺者有溺最為精切此非汪氏所知又按安榮散方出自準繩非許白沙本事方中所有汪氏醫方集解不知何所據而云然此知認庵之言殊不可信</p>
<p>房勞內傷宜用八珍或腎氣丸云云亦是汪氏舊說頤謂真液耗傷之病藥用八珍雖曰滋補尚嫌呆笨不靈且津液枯矣自常滋養腎氣中之桂附亦非必需之藥而芩澤丹皮淡滲利水夫豈所宜此皆浮泛之語貌似相合實則多所膈膜毫釐千里之謬極是籟預狼用古人成方必宥貌合神離之弊初學最宜猛省一涉此境終身必無清醒之日頤竊謂認庵之書恆蹈此弊學者胡可渾侖吞棗</p>
<p>本草綱目妊娠下利用雞卵一個烏骨者尤妙開孔去白留黃入漂鉛丹（五錢）　攪勻泥里煨透研末每服二錢米飲下一服效是男兩服效是女沈曰會試過有效有不效然利即不止而腹痛必緩</p>
<p>（箋疏）此下利是滯下非泄瀉沈舉腹痛一症可知綱目此條乃單方凡滯下總是腸中淤積所以下不爽而痛頻扔雞子黃燒灰可以盪滌穢垢故能去滯止痛又是血肉之品不嫌峻利則無害於妊身然又謂一服效是男兩服效是女則其理安在恐不足徵沈謂腹痛必緩此灰能滌滯之明徵也</p>
<p>薛立齋云一妊婦久利用消導帶理氣之劑腹內重墜胎氣不安又用阿膠艾葉之顯不應用補中益氣湯而安繼用六君子全愈</p>
<p>（箋疏）此條明言久利過用消導理氣以致胎氣重墜不安則積滯已輕而氣墜為急故東垣補中升清之法可效非謂凡是妊身滯下不問有滯無滯皆投是藥也</p>
<p>又云妊身利下黃水是脾土虧損其氣下陷也宜補中湯</p>
<p>王孟英曰此下利乃泄瀉自利之證若滯下赤白之痢證仍當別治</p>
<p>（箋疏）利下黃水則無黏滯穢垢矣故曰脾虧然仍當憑脈症治之王謂此是泄瀉自利誠然又謂滯下赤白仍當別治則以滯下終是濕熱淤積不可誤補養癰貽害即在休息久痢正氣已傷者亦必餘垢未淨雖曰宜補尚須參用疏通導滯以消息之益氣補中均非正治不以妊身而獨異也</p>

<h2>妊身腹痛</h2>
<p>金匱曰婦人懷妊腹中癘痛者富歸巧藥敬主之</p>
<p>當歸（三兩）　芍藥（一斤）　茯芩（四兩）　白朮（四兩）　澤瀉（半斤）　芎窮（三兩）　右六味為散取方寸七酒和日三服</p>
<p>又曰妊脈腹中痛為胞阻膠艾湯主之</p>
<p>芎窮　阿膠　甘草　各（二量）　艾葉　當歸各（三兩）　芍藥（四兩）　乾地黃（六兩）</p>
<p>右七味水五升清酒三升合煮取三升去渣內膠令消盡溫服一升日三次</p>
<p>徐藹輝曰嚴氏用治胎動漏下經漏腰痛腹滿搶心短氣加黃耆認庵亦謂妊娠下血腹痛為胞陰主此湯又曰又方阿膠（一斤）　蛤粉炒艾葉數莖亦名膠艾湯治胎動不安腰腹疼痛或胎上搶心去血腹痛</p>
<p>（箋疏）金匱膠艾湯為真陽不足虛寒氣滯之神丹補陰和血行氣溫經選藥精當不僅專治妊娠之腹痛凡氣血不足滯而作痛者無往不宜尤在涇</p>
<p>金匱心典謂婦人經水淋瀝及胎產前後下血不止者皆衝任脈虛而陰不能守也是惟膠艾湯為能補而固之有芎歸能於血中行氣艾葉利陰氣止痛安胎故亦治妊娠胞阻胞阻者胞脈阻滯血少其氣不行也頤按血液虛寒而氣行不利故有淋瀝腹痛等病是方溫和流動補而不滯蓋人所知而腹之所以痛者亦由陰氣耗散所致在涇陰不能守四字大有可味芍藥純陰能收攝潰散耗亂之陰氣故治淋瀝下血非僅為血虛家定痛之良劑宋人周方四物湯世咸知為女科通用要藥豈非即從此方脫化而來頤則謂芎窮升發之性甚烈古用阿膠恐其太滯故以芎之靈通疏散者相輔而行頗有妙用若四物湯既去阿膠則芎性太走最宜斟酌而世俗不知裁度甚至芎歸地芍呆用等分則徒讀父書弊多利少真是笨伯徐氏所引後人之膠艾湯獨用阿膠艾葉亦是太笨不足法也</p>
<p>又曰懷妊六七月脈弦發熱其胎愈脹腹痛惡寒者少腹如扇所以然者子藏開放也當以附子湯溫其藏附子人參白朮巧藥荻苓</p>
<p>（箋疏）此妊身內藏受寒腹痛之症治然附子墮胎為百藥長必不可輕試即當溫養中下亦自有善治之法此古書之不可拘泥者今本金匱本未出方說者調即傷寒論少陰篇之附子湯堯封所錄即傷寒論方　本條病情尤氏心典註文極為明白並錄　之脈弦發熱有似表邪而乃身不痛而腹反痛背不惡寒而腹反惡寒甚至少腹陣陣作冷若或扇之者然所以然者子藏開不能合而風冷之氣乘之也夫藏開風入其陰內勝則其脈弦為為氣而發熱且為格陽矣胎脹者胎熱則消寒則脹也附子湯方未見然溫里大全云妊娠四五月後每常胸腹間氣刺滿痛或腸嗚以致嘔逆減食此由忿怒憂思過度飲食失節所致蔡元度寵人有子夫人怒欲逐之遂成此病醫官王師復處以木香散莪朮木香甘草丁香鹽湯下三服而愈</p>
<p>（箋疏）此憂鬱氣滯肝絡郁窒而為腹痛之症治方是行氣溫中之法其嘔逆必於中寒故用丁香若肝鬱有火炎上作嘔者不可妄用</p>
<p>沈堯封曰夏墓蕩一婦豐前喬章氏女也已卯夏章氏來請云懷孕七個月患三瘧利疾及診病者止云小便不通腹痛欲死小腹時有物壟起至若利疾晝夜數十起所下無多仍是糞水瘧亦寒熱甚微予思俱是肝病蓋肝脈環陰器抵小腹肝氣作脹故小腹痛溺不利脹甚則數欲大便肝病似瘧故寒熱予議泄肝法許其先止腹痛後利小便彼云但得服此即沼不必顧胎予用川楝子橘核白通草白芍茯芩甘草煎服一劑腹痛止小便利四劑瘧利盡除胎亦不墮以後竟不服藥彌月而產</p>
<p>（箋疏）此亦肝家鬱滯之腹痛症然屬陰虛內熱故宜清肝與上二條症絕不相同堯封選藥醇正可法善學古人者參此數則舉一反三無難治之病矣</p>
<p>王孟英曰徐悔堂云秣陵馮學園之內久患痞痛每發自臍閒策策動未幾遍行腹中疼不可忍頻年醫給不一其入而持論各異外貼膏藥內服湯丸攻補溫涼備當不效病已瀕危謝絕醫藥迨半月後病勢稍減兩月後飲食加常而向之策策動者日覺其長馴至滿腹又疑其豉也復為醫治亦不能愈如是者又三年忽一日腹痛幾死旋產一男母子無恙而腹痞消計自初病至產蓋已九年餘矣此等異證雖不恆見然為醫者不可不知也</p>
<p>（箋疏）此人當初痞痛腹中遍動之時原是病不是胎頻年醫治必是不得其法故百不一效迨至謝絕醫藥病漸減飲食如常之後策策動者日覺其長頤調此時方是有身惟終以抱病有年氣營未足所以胎元不旺不能加期長成竟至三年乃產若謂乍病腹動即是懷胎積至九年之久而始達生殆不其然</p>

<h2>妊娠腰痛</h2>
<p>大全云婦人腎以系胞腰痛甚則胎墮故最為緊耍若閃挫氣不行者通氣散腎虛者青娥不老丸總以固胎為主</p>
<p>通氣散方破故紙瓦上炒香為末先嚼胡桃一個爛後以溫酒調服故紙末（三錢）　空心服治妊婦腰痛不可忍此藥最神</p>
<p>王盂英曰故紙性熱妨胎惟閃挫可以暫用或但服胡桃較妥</p>
<p>（箋疏）腰痛多腎虛症故最易墮胎凡肝腎陰分素虧及房室不慎者頗多此症胎最難保善養身者宜知此理非醫藥之所能治若閃挫傷氣之痛尚是輕症凡妊娠腹痛漏紅胎元墜滯勢將半產者腰不痠痛胎尚可安一有腰痛腰痠則未有不墜者矣</p>
<p>薛立齋云腰痛因肝火動者小柴胡湯加白朮枳亮山梔</p>
<p>沈堯封曰腰之近脊處屬腎兩旁近季脅者屬肝</p>
<p>（箋疏）肝火既動理宜柔肝清火而以小柴胡升提之豈非肋桀為虐立齋慣伎最是欺人濫用古方誤盡後世學者依樣葫蘆不效而反以增劇則且歸咎於古方相戒不敢復用井可使古人制方精義淹沒失傳那不可嘆</p>

<h2>妊娠腹內鐘鳴</h2>
<p>大全用鼠窟前後上為細末研麝香酒調下立愈</p>
<p>（箋疏）一是症是方據準繩系出產寶方云治小兒在腹中哭及孕婦腹內鐘鳴用空房鼠穴中土令孕婦噙之即止或為末麝香少許酒調（二錢）　李瀕湖綱目土部鼢鼠壤土條中亦有此症治則據陳藏器說謂是田中尖嘴小鼠陰穿地中之鼠穴則較空房之鼠穴為潔然妊婦腹中何故鐘鳴其鳴聲究竟何若及是土之何能治驗實是百思而不得其理但據產寶與小兒在腹中哭併為一條則仍是腹內之兒鳴或鳴聲之較大者耳病情藥性俱不足徵存而不論可也</p>

<h2>腹內兒哭</h2>
<p>產寶云腹中臍帶上疙瘩兒含口中因妊婦登高舉臂脫出兒口以此作聲令妊婦曲腰就地如拾物狀仍入兒口即止又云用空房中鼠穴土同川黃連煎汁飲亦效</p>
<p>沈堯封曰相傳復內鍾嗚即是兒哭今人治此撒豆一把在地令妊婦細細拾完即愈此是妙法</p>
<p>王盂英曰此誓言也王清任曰初結胎無口時又以何物吮血養生既不明白何不歸而謀諸婦訪問的確再下筆庶不貽笑後人此說甚精余嘗謂身中之事而身外揣測雖聖人亦不免有未必盡然之處故拙案論證但以氣血寒熱言之固屬陋實不敢以已所未信者欺人也今春與楊素園大令言及從來藏府之論殊多可疑楊侯嘆曰君可謂讀書得閒不受古人之欺者矣因出玉田王清任醫林改錯見贈披閱之下竟將軒岐以來四千餘年之案一旦全反毋乃馴聞然此公徵諸目擊非托空言且楊侯遍驗諸獸無不吻合然則昔之鑿鑿言藏府之形者豈不皆成笑柄哉然泰西人身圖說一書流入中國已二百餘年所載藏府與王說略同而前理初未見改錯過信古書於癸已類稿內沿襲舊偽謂中外藏府迥殊且云外洋人睪丸有四枚尤屬杜撰欺人</p>
<p>（箋疏）兒在母腹雖已成形然在未離胎盤之時當無自能發聲之理孟英所謂衛言洵然惟妊婦腹有啼聲確是時或遇之撒豆於地令妊者俯身拾取其聲可止頤雖未親見然亦嘗聞之鑿鑿則在王清任又何以解此頗似產寶兒含疙瘩一說庶幾近似孟英謂身中之事不能身外揣測洵是至理名名言惟王清任之改錯欲鋸暴露屍骸之獸食殘餘及刑場劊子抓在手中之剖出藏府以論生前之若何部位若何運化則仍是揣測而已陸九芝謂教人於義塚地上及殺入場上學醫其言已極堪發唬若古書中所言之形態誠不免以訛傳訛然終是展轉傳抄魯為魚而帝為虎決非上古之不是清任之說不過拾得西人緒餘而諱言所自借異說以欺人盂英反謂西學與王說略同是已墮清任術中而不悟頤竊謂能鋸解剖之真以正從古相承之謬則可欲據清任之言廢道傳之舊必大不可昔人有詠鸚鵡句曰齒牙餘慧才偷得便倚聰明學罵人清任之學是其類耳</p>

<h2>養胎</h2>
<p>徐藹輝曰金匱云懷身七月大陰當養以此見十月養胎之說其來久矣徐之才曰妊娠一月名始胚足厥陰肝脈養之二月名始膏足少陽膽脈養之三月名始胞手少陰心主胞絡脈養之四月始受水精以成血脈手少陽三焦脈養之五月始受火精以成氣足大陰脾脈養之六月始受金精之氣以成筋足陽明胃脈養之七月始受木精之氣以成骨手大陰肺脈養之八月始受土精之氣以成膚革手陽明大腸脈養之九月始受石精之氣以成毛髮足小陰腎脈養之十月五藏六府皆具侯時而生</p>
<p>徐藹輝曰人鏡經惟手太陽小腸典手少陰心脈二經不養者以其上為乳汁下主月水也</p>
<p>王盂英曰此亦道其常耳有每妊不足月而產者有必逾期而產者有先後不等者亦不為病也惟產不足月而形有未備或產雖足月而兒極委小者皆母氣不足為病再有身時須豫為調補自然充備余鄰家畜一母雞連下數卵殼皆軟鄰以為不祥欲殺之餘謂此下卵過多母氣虛也令以糯米蛇床子飼之數日後下卵如常推之於人理無二致</p>
<p>（箋疏）徐之才逐月養胎之說千金方婦人門載之甚詳巢氏病源尤為繁瑣蓋六朝時相承之舊未必果為徐氏所發明試尋繹四五六七八等月受五村之精以成血脈筋骨等說均是架空立言想當然之事於實在生理無從證實而九月始受石精之氣以成毛髮（巢源作成皮毛）獨於五行之外添設一個石字尤非醫理之常益可證為憑空結撰必不足徵則所詔某月某經脈養胎云云者不過隨意分配佛氏所謂一切幻境皆由心造庶幾近之而隋唐以後視若聖經賢傳無不依樣葫蘆借撐門面靜言恩之殊堪發噱頤明知此等舊說相沿悠久習醫者方且資為談助以詡博聞一旦陡燃駁斥嗜古者必嗤為師心自用蔑視前人究竟問其如何分經而養之理則據病源謂肝主血一月之時血流澀始不出故足厥陰養之尚似言之成理然血發於心而附會肝經已是牽強又謂二月之時兒精成於胞里故足少陽養之則不知胎孕於子宮之中何以與足少陽膽發生關係抑且兒精成於胞里一句似是實非胎結子宮豈可與旁光之胞並作一物（中醫本無子官之名實是生理學中一大缺典）至三月則謂手心主者脈中精神內屬於心能混神放手心主養之云云直是不成文理尤其可笑四月則謂手少陽三焦之脈內屬於府四月之時兒六府順成故手少陽養之五月則謂足太陰脾之脈主四季五月之時兒原支皆成故足太陰養之六月則謂足陽明胃之脈主其口目六月之時兒口目皆成效足陽明養之七月則謂手大陰肺脈主皮毛七月之時兒皮毛已成故手太陰養之八月則謂手陽明大腸脈主九竅八月之時兒九竅皆成故手陽明養之九月則謂足少陰腎脈主續縷九月之峙兒脈續縷皆成故足少陰養之云云可笑者不一而足明是淺入附會假託之才以售其妄竊謂徐氏累世名醫斷不荒謬至於此極徐藹輝所引人經之說亦為古書所蒙殊不可信王孟英略而不道固亦有見於此盂英所論母氣不足一節至理名言洞見癥結巢元方曰妊娠受胎七日一變墮胎在三五七月者多在二四六月者少三月屬心五月屬脾七月屬肺皆屬臟臟為陰陰常不足故多墮耳如在三月墮者後孕至三月仍墮以心脈受傷也先須調心五月七月墮者亦然惟一月墮者人不知也一月屬肝怒則多墮洗下體竅開亦墮一次既墮肝脈受傷下次仍墮今之無子者大半是一月墮者非盡不受胎也故凡初交後最宜將息勿復交接以擾子宮勿令勞怒勿舉重勿洗浴又多服養肝平氣藥則胎固矣</p>
<p>（箋硫）巢氏此說不見於今本病源並不見於千金外臺未詳堯封出於何本七日一變四字最不可解謂三五七月屬藏陰多不足故多墮尚是泛辭不能徵實惟墮胎者固多在三五七月之時實在何由殊不可推測其真相又謂如在三月五月墮胎則其後懷身仍有屆時復墮之下又確乎有之則子宮中之作用必有其真但謂三月屬心五月屬脾補心補脾必無桴應又謂一月墮者最多尤為至理名立蓋子宮初感凝結未固房事洗滌俱易震動而此時兒尚無形墮亦不覺觀合信氏全體新論兩精交會由子管而入子宮且在數日之內尚非頃刻間事則宜乎乍結之易於暗墮而本人且亳不能知矣此節最宜將息一層夫婦之愚皆當銘之肺腑而古人一月肝脈養胎之臆說亦可不辨自明頤恆謂吾國醫學發源於五帝以前而失傳已在周秦之際下逮魏晉六朝頗多憑空結撰決不能與上古之學一線師承觀於此類議論節可得其真諦而更以西學說之得於解剖者一一佐證其實在則孰是孰非明白曉暢固已撥雲霧而見青天彼泥古之儒尚欲據二千年內相承之偽以為篤信好古之護符亦只見其識力之未到耳丹溪曰陽施陰化胎孕成血氣虛損不足以榮養其胎則自墮譬如枝枯則果落藤萎則花墮或勞怒傷情內火便動亦能動胎正如風撼其樹人折其枝也火能消物造化自然病源乃謂風冷傷子臟而墮未得病情者也有孕婦至三四月必墮其脈左手大而無力重取則澀知血少也止補中氣使血自榮以白朮濃煎下黃芩末數十劑而安因思胎墮於內熱而虛者為多曰熱曰虛當分輕重蓋孕至三月上屬相火所以易墮不然黃芩熟艾阿膠何謂安胎妙藥耶</p>
<p>（箋疏）六朝以前談醫之士極少江南人物論病多寒證正以中原之地高曠多寒不比大江以南多溫暖而少冷冽也巢源謂胎墮為風冷傷砰藏本是時固有之症丹溪南人未之思耳然人體不同各如其面黃芩亦未必是千人必用之藥丹溪亦自謂熟艾是安胎妙藥則艾豈寒涼可見丹溪亦恆用之矣</p>
<p>方約之曰婦人有娠則礙脾運化遲而生濕濕生熱丹溪用黃芩白朮為安胎聖要藥盍白朮健脾燥濕黃芩清熱故也但妊娠賴血養胎方內四物去川芎佐之為尤備耳</p>
<p>（箋疏）因濕生熱正為吾儕地土言之若至黃河以北此說必不可通張飛曰古人用條芩安胎惟形瘦血熱營行過疾胎常上逼者相宜若形盛氣衰胎常下墜者非人參舉之不安形實氣盛胎常不運者非香砂耗之不安血虛火旺腹常急痛者非歸芍養之不安體肥痰盛嘔逆眩暈者非二陳豁之不安此皆治母氣之偏勝也若有外邪仍宜表散伏邪時氣尤宜急下惟忌芒硝切不可犯</p>
<p>（箋疏）相體裁衣本是醫家真諦亦豈僅為妊身而言祭何一孔之見意以黃芩白朮安胎聖藥八字作為自始至終一成不變之局亦只見其不知量耳　伏邪時氣尤宜急下兩言含潭不清弊亦不小</p>
<p>王盂英曰條芩但宜於血熱之體若血虛有火者余以竹茹柔葉絲瓜絡為君隨證而輔以他藥極有效蓋三物皆養血清熱而息內風也物之堅強莫如竹皮禮云如竹箭之有筠是也皮肉之緊貼亦莫如竹故竹雖篩而皮肉不相離實為諸血證之耍藥觀塞舟不漏可知矣柔葉蠶食之以成絲絲瓜絡質韌子堅具包羅維繫之形且皆色青人肝肝虛而胎系不牢者勝於四物阿膠多矣惜未有發明之者</p>
<p>（箋疏）苓治血熱其理固顯而易知然王所謂血虛有火者貌視之似與血熱無甚區別然彼是實火自當苦寒此是虛火亦非黃芩白朮可以籠統療</p>
<p>治孟英所謂養血清熱泛言之亦仍是血熱治法然此中情實同異若何苟非孟英恐未易有此批郄導竅明析之筆雖自謂未有發明然經此一番剖解其發明不已多耶</p>
<p>王海藏曰安胎之法有二如母病以致動胎者但療母則胎自安若胎有觸動以致母病者安胎則母自愈</p>
<p>（箋疏）治病必求其本固是至理名言</p>
<p>丹溪云有婦經住或成形未具其胎必墮察性急多怒色黑氣實此相火太盛不能生氣化胎及食氣傷精故也</p>
<p>（箋疏）此是火旺確宜黃芩然觖宜參王孟英竹茹一條治法方能恰合分寸</p>
<p>又曰有婦經佳三月後尺脈或澀或微弱其婦卻無病知是子宮真氣不全故陽不施陰不化精血雖凝終不成形或產血塊或產血泡也惟脈洪盛者不墮</p>
<p>（箋疏）此經雖阻而非妊之脈症為病為胎必以尺脈之流利不利有神無神辨之不在乎脈形之大小及有力無力間也</p>

<h2>胎動不安</h2>
<p>血虛火盛其婦必形瘦色黑其胎常上逼者宜倏芩阿膠</p>
<p>徐藹輝曰前張飛疇說謂形瘦血熱宜條芩血虛火旺宜婦芍此似將上二條併為一治想須在胎上逼與腹急痛上分別未知是否存參</p>
<p>王孟英曰審屬氣虛欲墮者補中益氣法甚妙</p>
<p>（箋疏）肥白之人未有不形盛氣衰者斷不可與蒼黑偉碩之體同日而語胎常下墜即是大氣不能包舉之明徵色蒼體偉者必無是慮此證補之必有效若用升舉又恐惹流弊惟人參滋補而不濁膩自能固氣而無升之害堯封持論必不可易盂英謂可用補中益氣在清陽下陷者誠是相如以體偉氣弱致胎滯墜而非脾胃清氣下陷者浪投升柴亦有動胎上逼之慮形氣盛胎常不運者宜香砂</p>
<p>（箋疏）此氣滯不能流利故宜行氣香附烏藥流動氣機而不失於燥亦是疏達之良劑</p>
<p>痰氣陰滯體肥嘔逆眩暈者宜二陳</p>
<p>（箋疏）肥人多痰二陳溫膽最是要藥半夏雖曰礙胎而今之市品俱已制過可不避忌但膽星宜輕左金丸亦佳稍加川椒烏梅止嘔尤捷怒氣傷肝加味逍遙散</p>
<p>（箋疏）逍遙治肝為木不條達鬱滯窒塞者而言故以柴胡春升之氣助其條暢非能馴養肝氣之橫逆者既曰因怒傷肝則必以清養肝陰為上逍遙</p>
<p>反以擾動其氣流弊不小此薛立齋之故智斷不可師毒藥動胎白扁豆二兩生去皮為末新汲水下　見厥逆門須合參以辨其證</p>
<p>（箋疏）此是單方白扁豆雖能安胃然生末水調服不如煎湯稍涼飲之為佳惟所謂毒藥者種種不同一味單方殊不足恃</p>
<p>交接動胎其證多嘔產寶百問載綱目方飲竹瀝一升有驗人參尤妙</p>
<p>（箋疏）此動胎之最厲者百脈弛張為害極巨豈一味單方所能補救此方</p>
<p>見李氏本草綱目慈竹瀝下但曰困絕不言多嘔註明出產寶此條補出多嘔二字蓋陰泄於下而氣逆於上竹瀝下氣止嘔築磕著胎惡露已下疼痛不止口噤欲絕用神妙佛手散探之若不損則痛</p>
<p>止子母俱安若損胎立便遂下即芎窮湯治傷胎多神效</p>
<p>（箋疏）婦芎溫和流動而俱有升舉之力故胎元受傷震動欲墜者得其升舉而亦能安若已大損則活血行血脈絡疏通而已壞之胎自不能留效如</p>
<p>仙佛手到成功此佛手之所以命名也</p>
<p>胎動下血不絕欲死本草綱目用蜜蜂蠟如雞子大煎三五沸投美酒半升服立瘥馮云神效蠟淡而性澀入陽明故也</p>
<p>王盂英曰懷妊臨月並無傷動驟然血下不止腹無痛苦者名海底漏亟投大劑參耆十不能救其一二此由元氣大虛沖脈不攝而營脫於下也</p>
<p>（箋疏）蜂蠟雖澀然和以美酒即是行血有餘既已下血不絕似不可用此亦單方之神險者具有不可恩議之妙而藥理則在可知不可知之間若非親自經念未可輕信每有姑妄試之而適以速禍者頤亦屢聞之矣吾輩事醫藥當以病理藥性兩相符合始為正直蕩平之路眩異矜奇所不敢取王盂英所謂胎元不傷而驟然大下且腹無痛苦者則是脫症誠非獨用參耆能救此當以暴崩例之急投大補大固如參朮阿膠龍牡之類庶或有濟王叔和曰胎病不動欲知生死令人摸之如覆盆者男如肘頸參差起者女也冷者為死溫者為生</p>
<p>（箋疏）此以腹之冷暖辨胎之生死太嫌呆相至謂腹如覆盆者為男胎如肘頸參差者為女胎以男胎向後女胎向前故也此是中醫舊說蓋見男兒胎在腹亦必仰面四言脈訣謂男腹如箕女腹如釜亦即此意然合信氏全體新論已言其不確彼中剖解極多所見必不妄知吾國理想舊說未必可恃</p>
<p>聖濟總錄云胞衣不下急於胎之未生子死腹中危於胎之未下蓋胎兒未下子與母氣通其呼吸若子死腹中胞藏氣寒胎血凝冱氣不升降古方多以行血順氣藥及硝石水銀硇砂之類然胎巳死軀形已冷血凝氣聚復以至寒之藥下之不惟無益而害母命也多矣古人用藥深於用意子死之理有二端用藥寒溫各從其宜如娠婦胎漏血儘子死者有墜墮顛撲內傷子死者有久病胎萎子死者以附子湯進三服使胞藏溫暖凝血流動蓋以附子能破寒氣墜胎故也若困傷寒熱證溫瘧之類胎受熱毒而死留於胞中不下者古人慮其胎受熱毒勢必脹大難出故用朴硝水銀硇砂之類不惟使胎不脹且能使胎化爛副以行血順氣之藥使胎節下也</p>
<p>（箋疏）朴硝玄明粉可下死胎諸書多載之而莫有言其理者惟此節借子下胎之理為之兩兩對勘一寒一溫適得其反而各有真諦益人智慧不少蓋無論何症必有塞熱虛實之不同自當先辨此四字而後用藥始有門徑固未有呆執一物而曰此是治某症必用之藥者然古今之方書能為之而一孔之醫生能用之醫藥真理那不掃地淨絕近世有最普遍之驗方新編一書窮鄉僻壤不風行但言其功不詳其理殺人尤不可勝數而有力好事之家樂為印送輒囂囂然自號於眾曰吾以此廣行方便積莫大之陰功也庸詎知為禍之烈乃至於此豈真豈動運為之耶　硇砂水銀可下死胎古雖有此說然必不可試</p>
<p>熱病胎死腹中新汲水濃煮紅花汁和童便熱飲立效（本草經疏）</p>
<p>妊病去胎大麥芽一升蜜一升服之即下（千金）</p>
<p>齊仲甫曰墜胎後血出不止一則因熱而行一則氣虛不能斂瀉血多者必煩悶而死或因風冷墮胎血結不出搶土攻心煩悶而死當溫經逐寒其血自行若血淋漓不止是衝任氣虛不能約制故也宜膠艾湯加伏龍肝散</p>
<p>王孟英曰有無故墮胎而惡露全無者此血虛不能榮養如果之未熟而落血既素虧不可拘常例而再妄行其於也</p>
<p>（箋疏）半產後之治汪本與正產後無異懷胎之後月事不行留此以為胎元涵養之資積之日多在子宮中半成於濁故初產之時即宜隨胎而去古人名以惡露者正以於濁積穢故宜露而不宜藏惟所失太多則不僅淤濁之穢惡而並經脈中固有之血不自收攝隨波逐流而去豈是細故齊氏所述血熱妄行及氣虛不固兩端已握其要熱者宜清而固之虛者非大封大固而助以大補之參耆必不濟事昔賢所謂產後宜大稱氣血為主者蓋為此症而設而近今世俗方且謂新產後必不可用人參正不知何所見而云然如其惡露全無則苟為瘀結不行必有脹痛可證自當宣化泄導如無淤滯脈症則盂英所說自有此理亦非可妄投攻破者而俗醫又以生化湯為必需之品則皆耳食之學知其一不知其二者亦何往而不僨事耶</p>
<p>問何以知胎死曰面赤舌青母活子死麵青舌赤幹活母死麵舌俱青子母俱死死胎墜脹瘀痛亦與常產不同</p>
<p>（箋疏）胎死舌青確乎有據然必胎壞日久而後現於舌蓋陰霾之氣上乘而苔為變色是宜溫通活血以下之者非朴硝玄明粉所可妄試也</p>
<p>王盂英曰吳鞠通云死胎不下不可拘執成方而悉用通法催生亦然常求其不下之故參以臨時所現之脈證若何補偏救弊而胎自下也余謂諸病</p>
<p>皆爾不特下死胎也</p>
<p>又曰寓意草有用瀉白散加芩桔以下死胎之案可見人無一定之病病非一法可治藥無一定之川隨機應變貴乎用得其當以</p>
<p>（箋疏）凡百症治皆無一定板法雖曰見症治症然症固同而其因萬有不同必求其故四字真是無等等咒然環顧古今能求其故者亦必不可多得矣</p>
<p>盂英又曰許裕鄉診邵涵貞室娠十七月不產不敢執意憑脈問諸情況果孕非病但云孕五月以後不動心竅訝之為主丹參一味令日服七錢兩旬餘胎下已死而枯其胎之死料在五月不動時經年在腹不腐而枯如果實在樹敗者必腐亦有不腐者則枯胎之理可推也余謂此由結胎之後生氣不旺未能長養萎於胞中又名僵胎亦有不足月而自下者並有不能破胞而自落者余見過數人矣若胎已長成豈能死於腹中而不為大患至年餘而始下哉惜許君言之未詳也丹參長於行血專用能下死胎凡胎前皆宜慎用世人謂其功兼四物以之安胎因而反速其墮而人不知之餘見亦多矣</p>
<p>（箋疏）枯胎一說雖似奇談而實有至理頤嘗見有孕已九月而腹不膨燃者為之調和氣血而胎即墮長僅二寸餘而不腐朽此婦白皙而癯瘠亦枯胎也</p>
<p>孟英又曰凡大毒大熱及破血開竅重墜利水之藥皆為妊婦所忌便產須知歌曰蛔（青即青娘子）盤（蝥）水蛭與蟲蟲烏頭附子及天雄野葛水銀暨巴豆牛膝薏苡並蜈蚣（三）莪教（述）赭石芫花麝（香）大戟蛇蛻黃雌雄砒石（火芒芽）硝（大）黃牡丹桂槐花（子同此藥涼血止血何以孕婦禁服蓋能子宮精濁也）牽牛皂角同半夏（制透者不忌）南星（膽制陳久者不忌）兼通草瞿麥乾薑桃（仁）木通鋼砂乾漆蟹爪甲地膽茅根與庶蟲本草綱目續曰烏喙側子羊躑躅藜蘆HF茜（根厚）樸及薇銜樘根藺茹葵花子赤箭兩草刺蝟皮鬼箭紅花蘇方木麥蘖常山蒺藜蟬錫粉硇砂紅娘子（即葛上亭長）硫黃石蠶並蜘蛛螻蛄衣魚兼蜥蜴桑蠹飛生暨樗雞牛黃犬兔驢馬肉鯛鮮蝦蟆鱉共龜余又補之曰甘遂沒藥破故紙延胡商陸五靈脂薑黃葶藶穿山甲婦尾靈仙樟（腦）續隨王不留行龜鱉甲麻黃（川）椒（神）曲伏龍肝珍珠犀角車前子赤芍丹參（母）射於澤瀉澤蘭紫草郁（金）土瓜（根）滑石（自犀角至此雖非傷胎之藥然系行血通竅之品皆能滑胎凡胎元不足及月分尚少者究宜審用余性謹慎故用藥如是設有故無殞不在此例）及紫箴（節凌霄花）又外科全生集云娠婦患瘡瘍雖膏藥不宜擅貼恐內有毒藥能墮胎也夫外治尚宜避忌況內服乎故婦人善飲火酒者每無生育以酒性熱烈能消胎也附及之以為種玉者告</p>
<p>（箋疏）妊娠藥忌自有至理習醫者固不可不知所避否則易滋口實然病當吃緊關頭不急急於對病發藥則母命必不可保遑論胎元豈有母先亡而胎元可保之理如陽明熱實則硝黃必不可缺容有大府通調而胎不礙者即使墮胎亦是兩害取輕當為達人所共許惟俗子不知此中緩急則必明告之而聽其從達而已若不明言於先而欲權術以冀得一當則必有竊議於其後者且亦有胎先墮而母命隨之者更必授讒慝者以口矣此守經行權各有其分尤行道者之所必不可忽者也</p>
<p>附英醫合信氏全體新論諸說</p>
<p>女子尻骨盤內前為膀胱中為子宮後為直腸膀胱溺管長約一寸其下為陰道即產門也產門肉理橫生可寬可窄其底銜接子宮上口陰水生焉</p>
<p>子宮狀若番茄倒掛骨盆之內長二寸底闊一寸三分內空為三角房一角在口兩角在底分左右底角有小孔底之外有二箸帶懸之此帶無力即有子宮下墜之憂子宮於受胎之後積月漸大妊娠三月漸長四寸妊娠五月底圓如瓢妊身七月脹至臍上漸長六寸妊身九月直至胸下長尺有另重四十兩圓如西瓜娩後復縮小</p>
<p>子宮之底左右各出子管一支與小孔通長二寸半垂於子核之側不即不離子核者在子宮左右離一寸向內有蒂與子宮相速向外有筋帶與子管相緊形如雀卵內有精珠十五粒至十八粒不等內貯清液是為陰精女子入月之年精珠始生至月信絕其珠化為烏有</p>
<p>男精入子宮透子管子管罩子核子核感動精珠迸裂陰陽交會自子管而人在管內漸結薄衣為胚珠是為成孕由是子管漸大胚珠漸行數日之內行至於宮又生膠粒以塞子宮之口是謂受胎</p>
<p>王盂英曰有子宮不受男精者事後必溢出終身不孕殆即核無精珠故耶子核之內裂一珠成一孕裂雙珠即孿生若子宮受病子核有恙子管閉塞核無精珠者皆不受孕</p>
<p>受孕而胚珠生十二日生毛內涵清水有兩小物浮其中一圓一長長者人也積日彌大圓者養胚之物也積日彌小胎盤生此物即無矣二十日胚形如大蟻三十日如牛蠅長四分身骨可辨且有眼模三十五日臍帶生四十二日胚有口四十五日初見四肢六十日手足全骨點始生上有耳鼻下有肛門是為受形之始長一寸六十五日始生藏府九十日見全形男女可辨長二寸胎盤成至四月內外皆備長四寸五月胎動六月長六寸發甲生七月長八寸骨節粗成八月長尺一寸睪丸由腹落至腎囊九月目始開長十二寸十月胎足嬰兒在胎肺小肝大不須呼吸地氣故血之運行與出世不同妊胎二十日心已成模初見一管漸分兩房漸成四房土兩房有戶相通（此出世後不通）胎兒之血來自胎盤由臍帶入一半入肝肝運入心一半入迴血總管上達心右上房即過左上房（此出世後不通）而落左下房入血脈總管先上兩手頭腦之內由迴管返心右下房即自入肺管透血脈總管之棋（此出民後不通）然後落下身兩足兒必上大下小以上身先受赤血也於是復出臍帶而達胎盤飲換赤血輪流不息蓋以胎盤為肺用也出世後呱呱以啼肺即開張呼吸而心左右兩通之戶即閉若不閉紫血典赤血並兒即死而身青矣</p>
<p>王盂英曰人身圖說云胎居子宮以臍帶吸取母血以卷之有如樹木以根吸取土濕</p>
<p>胎盤俗名胞衣乃肧珠外之毛黏連子宮內膜而生其毛漸變為血管三月成盤形圓徑五寸厚一寸其體半為孕婦血管半為胎兒血管孕婦脈管甚大沖接胎兒血管滲泄精液以養之臍帶一頭連胎盤一頭連兒臍中空成管外有兩脈管繞之兒生之後母子血管截然分張或有胎盤未離血管半斷則血暴下乳者赤血所生乳頭有管淅入漸分如樹分枝行至乳核即與血脈管相接乳汁由是化成月水乃子宮所生之液以備胎孕之需非血也</p>
<p>王曰所言非血者言非灌輸脈絡榮養百骸之常血故無孕之時可以按月而行然亦藉氣血以生化故氣血衰則月水少若月水過多則氣血亦耗也</p>
<p>禽不雄而卵伏而不孵蛙蛤之屬當雌出卵雄出其精以護之身負而行精不入腹蚯蚓雌雄相交兩皆成孕草木以中心為雌花須為雄風吹須粉散落於花心膠液接之乃能含仁結子若去其須即不實</p>
<p>王曰滕蛇聽而有孕白鷺視而有胎造化之理無窮總不外乎氣相感而成形也中外之人貌有不同而藏府氣血無不同者且說理最精並非虛揣空談爰錄如右以稽參考惟產育有不止十八胎者其精珠之數似數似未可泥</p>
<p>（箋疏）西學以解剖為專職顯微有鏡所見最真而習之既久遂並其運行化育之途亦能漸漸明白其說固自不妄合信氏之書成於咸豐之初猶為彼學中之古本彼中之學重在知新不在溫故每注意於新發明而薄古書為無用然近今譯書漸多取而讀之名辭繁頤未嘗不粲然具備然只見其復沓重累而期期艾艾不甚可解有恆居其半蓋譯筆不能條達恐非彼中真本果皆如此而合信之舊頗覺直捷丁當明白如話知此君兼擅中文尤為可貴是篇所錄證以元本尚在裁節移綴者數處但於文義不致矛盾姑仍舊貫以存是書之真惟亦有刪節數字而辭旨彼此懸絕者則殊非合信氏之真旨爰照元本改正以復廬山之面目若此中生理則尚有不易詳析者此必不可以空言懸解自謂得之姑附闕疑以俟能者</p>

<h2>產脈</h2>

<h2>變耳</h2>
<p>楊子建十產論一曰正產二曰傷產未滿月而痛如欲產非果產也名為試月遽爾用力是謂傷產三曰催產正產之際悉見而難產用藥催之是謂催產四曰凍產冬產血凝不生五曰熱產過熱血拂令人昏暈六曰橫產兒身半轉遽爾用力致先露手令穩婆徐推兒手使自攀耳七曰倒產兒身全未得轉即為用力致先露足令穩婆推足入腹八曰偏產兒未正而用力所致九曰礙產兒身已順不能生下或因臍帶絆肩令穩婆撥之十曰坐產急於高處緊一手巾令母攀之輕輕屈足坐身可產十一曰盤腸產臨產母腸先出然後兒生產後若腸不收用醋半盞新汲水七分和勻噀產母面每噀一縮三噀盡收</p>
<p>（箋疏）是論原文頗長此其刪節者節之太簡頗有不甚明瞭者其坐產一條原謂兒將欲生其母疲倦久坐椅褥抵其生路急於高處擊一手巾令產母以手攀之輕輕屈足坐身令兒生下非坐在物上也云云蓋謂坐草已久產母力疲故以巾帶助其援力今以此節言不達意須從原本為佳（濟陰綱目有全文）頤按凡是難產多由心慌意亂急遽臨盆所致苟能忍痛靜臥耐之又耐瓜熟蒂落安有危險鄉曲穩婆不耐靜守言多龐雜催促臨盆最多誤事達生編一書所錄各方未必可恃而論忍耐之法至理名言無出其右甚且謂私生者無難產惟其畏而能忍也尤其勘透入微所謂六字訣者確是產婦房中第一箴言</p>
<p>孕婦止腹痛未必產連腰痛者將產胞擊於腎故也腹痛試捏產母手中指中節或本節跳動方臨盆即產王孟英曰中指跳動亦有不節產者更有腰腹不甚痛但覺酸墜而即產者</p>
<p>（箋疏）中指節末本有動脈但平人脈動甚微幾於不覺產婦臨盆此指尖脈形分明頃刻分娩確是多數孟英謂亦有未必即產者則偶然耳亦有腹竟不痛但覺腰痠異常而即產者此其達生之極易者最不可遇而亦嘗屢聞之皆孟英之所謂十個孩兒十樣生也兒未生時頭本在上欲生時轉身向下故腹痛難忍此時婦當正身寬帶仰臥待兒頭到了產戶方可用力催下若用力太早或束肚倚著兒不得轉身即有橫生逆生手足先出之患</p>
<p>許叔微曰有產累曰不下服藥不驗此必坐草太早心懼而氣結不行也經云恐則氣下恐則精怯怯則上焦閉閉則氣逆逆則下焦脹氣乃不行得紫蘇飲一服便產（方見子懸門）</p>
<p>（箋疏）學士亦以坐草太早為戒可見達生編六字訣之必不可少心懼而氣結不行亦是不能忍耐之咎恐則氣下脹而不行自有至理紫蘇飲只為疏達氣立法川芎能升似不相宜然果是恐則氣下則又不可少且分量甚輕可以無慮其臨盆累日胞漿瀝淨致令氣血枯澀者非大劑養血不救王孟英曰難產自古有之莊公寤生見於左傅故先生如達不圻不副詩人以為異徵但先生難而後生易理之常也晚嫁者尤可必焉然亦有雖晚嫁而初產不難者非晚嫁而初產雖易繼產反難者或頻產皆易閒有一次甚難祈有一生所產皆易有一生所產皆難者此或由稟賦之不齊或由人事之所召未可以一例論也諺云十個孩兒十樣生至哉言乎若得兒身順下縱稽時日不必驚惶安心靜俟可耳會稽施圃生茂才誕時其母產十三日而始下母子皆安世俗不知此理稍覺不易先自慌張近有凶惡穩婆故為恫吃妄施毒手要取重價臠而出之索謝去後產母隨以告殞者有之奈貿貿者尚誇其手假之高忍心害理慘莫慘於此矣設果胎不能下自有因證調治諸法即胎死腹中亦有可下之方自古方書未聞有臠割之刑加諸投生之嬰兒者附識於此冀世人之憬然悟而勿為凶人牟利之妖言所惑也但有一種騾形者交骨如環不能開圻名鎖子骨能受孕而不能產如懷娠必以娩難死此乃異稟萬中不得其一如交骨可開者斷無不能娩者也方書五種不孕之所謂螺者即騾字之偽也蓋驢馬交而生騾純牝無牡其交骨如環無端不交不孕稟乎純陰性極馴良而善走勝於驢馬然亦馬之屬也易曰坤為馬行地無疆利牝馬之貞皆取象於此之謂也人賦此形而不能安其貞則厄於娩矣</p>
<p>催產神方　治胎漿已出胎不得下或延至兩三日者一服即產屢有神效</p>
<p>當歸（四錢）　人參（一錢）　牛膝（二錢）　川芎（一錢）　龜板（三錢）　赭石（三錢）研　肉桂（一錢）　去皮　益母（二錢）　水煎服王盂英曰此方極宜慎用夏月尤忌必審其確係虛寒者始可服之通津玉靈湯最妙余用豬肉一味煎清湯服亦甚效（箋疏）胎漿已破遲久不產胞門有枯燥之虞非滋養津液何以救涸轍之鮒參歸補血活血牛膝龜板赭石引以下行立法亦不謬實即佛手散之加味芎雖能升然程鍾齡之所謂撐法亦自有理（程解保生無憂散謂催生妙藥純是摟法解得極奇而亦極是蓋即疏通氣機流動血液耳說見醫學心悟保生無憂散方下）且合以牛膝龜板赭石亦不慮其升舉方固可用惟肉桂實不可解豈其溫以行之耶若無寒症何可概施孟英之評必不可少通津一方果佳見下卷末頁今吾鄉恆以龍眼肉拌人參或別直參西洋參久久飯上蒸透作臨產必須之助即此方之意但吾鄉俗見謂非兒頭已見不可早服則大謬之說如果瀝漿不可不用（胞槳先破而久不產者）</p>
<p>吾鄉謂之瀝漿生亦曰瀝胞生皆俗語也）豬肉清湯吹去面上浮油確是妙品但宜淡服如胃氣不旺似不妨輕川清鹽此是孟英心得弗以平易而忽之</p>
<p>如神散　路上草鞋一雙名千里馬取鼻粱上繩洗淨燒灰童便和酒調下</p>
<p>三錢神　驗武叔鄉濟陰綱目云於理固難通於用實靈念按千里馬得人</p>
<p>最下之氣佐以童便之趨下酒性之行血故用之良驗此藥不寒不熱最是穩劑</p>
<p>王盂英曰催生藥不宜輕用必胎近產門而不能即下始可用之又須量其虛實或助補其氣血或展拓其機關寒者溫行熱者清降逆者鎮墜未可拘守成方而概施也</p>
<p>（箋疏）前方單方也以理言之未必皆驗盂英謂不可拘守成方豈獨為催生一法言之耶</p>
<p>婦人良方曰加味芎婦湯入龜板治交骨不開　酷油調滑石塗入產門為滑胎之聖藥　花蕊石散治血人胞衣脹大不能下或惡露上攻　萆麻子治胎衣不下　佛手散治血虛危證清魂散治血暈諸證失笑散治惡露腹痛不省人事平胃散加朴硝為腐死胎之藥</p>
<p>徐藹輝曰佛手散亦下死胎胎死宜服此不傷氣血服此不下次用平胃樸</p>
<p>硝可也</p>
<p>（箋疏）良方諸條固皆熟在人口者但萆麻子治胎衣不下豈用以內服耶僅能滑腸且緩不濟急必不足恃下有頭髮塞口取惡即下一條極便極驗朴硝下死胎則上卷聖濟總錄一條已言之矣非恆法也凍產治驗　劉復真治府判女產死將殮取紅花濃煎扶女於橙上以綿吊蘸湯貪之隨以澆帛上以器盛之叉緩叉淋久而甦醒遂產一男蓋遇嚴冬血凝不行得溫故便產也</p>
<p>（箋疏）此妄語也人已死矣且至將暖其時間必相去稍久安有復生之理</p>
<p>古人志乘傳記中所載醫家奇念甚有稱見棺中血出而知洋婦未死者齊諧志怪皆好事之人不明醫理者為之無一非癡人說夢耳逆產足先出用鹽塗兒足底橫產手先出塗兒手心徐藹輝曰鹽螫手足痛便縮入俗乃謂之討鹽生也</p>
<p>（箋疏）此亦臨盆太早強力迫之使然若守達生編六字要訣必少此患</p>

<h2>胞衣不下</h2>
<p>急以物牢扎臍帶墜住使不上升然後將臍帶剪斷使血不入胞萎縮易下若未系先斷胞升湊心必死</p>
<p>徐曰保生錄覺胎衣不下產婦用自己頭髮塞口中打一噁心即下切須放心不可驚恐不可聽穩婆妄用手取多致傷生又以草紙燒煙燻鼻即下芒硝三錢童便沖服立效俞邃良先生目觀</p>
<p>松郡一老穩婆包醫是證自帶白末藥一包買牛膝二兩同煎去渣沖童便半杯服立下白末藥定是元明粉元明粉即制朴硝也</p>
<p>（箋疏）芒硝太鹹寒必非通用之品童便牛膝可法</p>

<h2>產後喜笑不休</h2>
<p>一老嫗云產後被侍者挾落腰子使然用烏梅肉二個煎湯服立效　嘉郡錢鄰哉目睹</p>
<p>（箋疏）腰子是內腎豈有墜落而可救之理此陰脫於下而氣火沖激於上使然即西人所謂血沖腦經病也烏梅酸收則氣不上衝而神經之知覺復</p>
<p>矣頤謂童便亟服亦可否則即用潛陽鎮逆之法當無不應</p>
<p>惡露過多不止</p>
<p>伏龍肝二兩煎湯澄清烊入阿膠一兩服如不應加入參</p>
<p>（箋疏）新產惡露過多而鮮紅無瘀者是肝之疏泄無度腎之閉藏無權衝任不能約束關閘盡廢暴脫之變大是可虞伏龍肝溫而兼澀土能堤水真阿膠激濁揚清本是血崩無上聖藥重用濁用其力最專其功最捷尚在大劑獨參湯之上必無不應之理如果不應則更可危再加人參亦非重用不可而能牡救逆亦所必需</p>

<h2>惡露不來</h2>

<h2>九竅出血</h2>
<p>裴補云九竅出血死證恆多惟產後瘀血妄行九竅出血有用逐瘀之藥而得生者不可遽斷其必死此是閱歷後之言不可忽略雖無方藥其法已具</p>
<p>（箋疏）此是虛陽上冒氣逆血湧其勢最熾平人得此尚難急救況在產後然急急泄降鐵逆亦自有可生之理</p>

<h2>黑氣鼻衄</h2>
<p>郭稽中雲產後口鼻黑氣起及鼻衄者不治蓋陽明為經脈之海口鼻乃陽明所見之部黑氣鼻衄是營衛散亂營氣先絕故不治薛立齋云急用二味參蘇飲加附子亦有得生者</p>
<p>（箋疏）此亦氣逆上冒之候口鼻黑則肺胃之氣已絕法固不治然急與開泄降逆亦或可治薛立齋謂用參蘇已覺不切籠統方藥何能救此危急萬狀之疲又用附子則鼻黑唇黑豈皆屬於陰寒者此公庸愚而偏喜著書立說巍然者一大部竟是各科咸備而實絕少心得昔人謂如折襪線如僧剃髮無有寸長頤於此公亦云而俗子無知奚辨良窳喜其筒而易記卑而易行可以造成無數庸俗市醫而殺人乃不可限量真一大劫哉</p>

<h2>眩暈昏冒</h2>

<h2>喘</h2>
<p>沈堯封曰喘有閉脫二症下血過多者是脫症喉中氣促命在須臾方書雖有參蘇飲一方恐不及待惡露不快者是閉證投奪命丹可定如不應當作痰洽此皆急證更有一種緩者婁全善所云產後喘者多死有產二月洗浴即氣喘坐不得臥者五月惡風得暖稍緩用丹皮桃仁桂枝茯芩乾薑枳實厚朴桑皮紫蘇五味瓜蔞煎服即臥其疾如失作汙血感寒治也按此亦是痰證所以能持久痰滯陽經所以惡寒方中著力在瓜蔞厚朴枳實桂枝茯芩乾薑五味數味餘皆多贅</p>
<p>（箋疏）喘疲木分二候實者是肺氣之壅塞痰飲蟠結則宜開宣肺氣泄化其上虛者乃腎氣之上奔真元無根則宜攝鎮專治其下亦惟黑錫丹尚能救急此非大劑不能及喻嘉言謂宜吞百丸者是也產後暴喘有虛無實參蘇和緩誠不及待</p>

<h2>發熱</h2>
<p>沈堯封曰產後發熱所因不同當與脈證參看感冒者鼻塞亦不可過汗經有奪血無汗之禁只宜苒婦湯</p>
<p>停宜者噯腐飽悶宜平劑消食　血虛發熱無別證者脈人而芤宜歸耆　陰虛者煩渴脈細宜生地阿膠更有一種表熱裡寒下利清穀煩渴惡熱脈微細者此少陰危證宜四逆湯</p>
<p>王盂英曰暴感發熱可以鼻塞驗之苟胎前伏邪娩後陡發者何嘗有頭疼鼻塞之形證乎雖脈亦有不即露者惟舌苔頗有可徵或厚白而膩或黃膩黃燥或有黑點或微苔舌赤或口苦或口渴或胸悶或溲熱此皆溫濕暑熱之邪內蘊世人不察再飲以糖酒生化湯之類則輕者重而重者危不遇明眼人亦但知其產亡而不知艾死於何病誤於何藥也我見實多每為太息其後條之乍寒乍熱亦當如是諦察庶免遺人天殃也</p>
<p>（箋疏）新產發熱血虛而陽浮於外者居多亦有頭痛此是虛陽之升騰不可誤謂冒寒妄投發散以煽箕焰此惟潛陽攝納則氣火平而熱自已如其淤露未盡稍參宣通亦即泄降之意初不必過與參耆反增其壅感冒者必有表證可辨然亦不當妄事疏散諸亡血虛家不可發汗先賢儀型早已諄諄告誡則惟和其營衛慎其起居而感邪亦能自解蓋腠理空疏之時最易感冒實是微邪本非重恙自不可小題大做一誤再誤又有本非感冒新產一二日閒蒸釀乳汁亦發身熱則活血通乳亦極易治沈謂宜用膠地者則虛甚之外熱必舌光無苔其宜用四逆者則陰盛之格陽必唇舌淡白或顴赤之戴陽雖皆不常有之症而在血脫之後變幻最多固非心粗氣浮率爾操觚者所能措置裕如矣王謂胎前伏邪娩後陡發之症實是其人木有蘊熱痰濕分娩而正氣驟衰病狀乃著辨之於舌最是秘訣則惟治其濕熱痰滯抉去病根切弗效明人治熱只知表散產後誤事必較之平人尤其捷見盂英長於溫熱最惡生化一方為暑熱濕熱令中剴切動戒誠是至理名言砂糖酒尤其肇禍此因江浙間之惡習不可不改者若在寒天生化砂糖少用之亦不為大害惟酒則不可不戒耳</p>

<h2>乍寒乍熱</h2>
<p>武叔卿曰血閉於陽經榮衛行之不通則寒血閉於陰經榮衛動之不通則熱必瘀通而後寒熱自己</p>
<p>仲景曰病磊淅惡寒而復發熱者陽脈不足陰往乘之陰脈不足陽往乘之</p>
<p>沈堯封曰前條是瘀血後條是陰陽相乘甚則俱有戰僳者治瘀血宜奪命丹調補陰陽輕則歸耆建中重則桂附人昧　（箋疏）乍寒乍熱亦當如上條發熱各症一例論洽不必另為一門反滋眩惑武氏血關於陰陽之經一說只是故為深丈實覺無謂至引仲景一條亦不過正氣之不充耳</p>

<h2>頭汗</h2>
<p>王海藏雲頭汗出至頸而還額上偏多蓋額為六陽之會由虛熱薰蒸而比也沈堯封曰汗出不止屬氣血兩虛黃耆五錢炒白芍（三錢）　酒炒歸身（二錢）　棗</p>
<p>仁（二錢）　炒甘草（一錢）　炒小麥（三錢）　炒南棗肉（三錢）　煎服神效與眩暈內呂姓婦一按參證</p>
<p>（箋疏）自汗已是虛陽之外浮但頭汗出尤為陽越之明證堯封固表涵陰立法誠是頤謂尚宜加潛斂則龍牡萸肉皆不可少人參亦佳滋陰即以涵陽勿調參是甘溫也</p>
<p>泄瀉</p>
<p>沈堯封曰乙亥初夏傅木作婦產時去血過多隨寒戰汗出便瀉不止余用大劑真武乾薑易生薑兩劑戰少定而汗瀉如故又服兩日寒戰復作余用補中湯無人參加附子兩劑病者云我肚裡大熱口渴喜飲然汗出下利寒戰仍不減正凝神思慮間其母曰彼大孔如洞不能收閉諒無活理余改用黃耆五錢炒北五味四錢搗白芍二錢炒歸身一錢五分炒甘草一錢五件炒茯芩二錢大棗三個一劑病減匹劑而愈</p>
<p>王孟英曰觀此案則可見氣虛不能收攝者宜甘溫以補之酸澀以收之不可用辛熱走泄以助火而食氣也</p>
<p>（箋疏）寒戰利下加以自汗重武湯元是針對乃反裡熱渴飲而汗利寒戰俱不應此中玄理未易尋思改授甘溫轉變靈通至不可少孟英辛熱走泄</p>
<p>四字剖解入微參透三昧醫學中危微精一心傳豈易領悟此最上乘禪也學者皆當熔金祀之</p>
<p>堯封又曰鄒氏婦產後便泄余用參附溫補藥未效新城吳敬一診云虛寒而兼下陷用補中益氣加熟地茯芩桂附應手取效以是知方論內言下虛不可升提不盡然也</p>
<p>（箋疏）產後下虛不可升提以拔動腎根木是至理名言必不可易然泄瀉滑利明是氣虛下陷東垣成法正為是症而設言譏一端各有所當況升柴本是極輕藉以扶肋參耆振作元氣自當應手成功此非浪投柴葛者所可</p>
<p>籍日也</p>
<p>堯封又曰陸姓婦產後三日發疹細而成粒不稀不密用荊芥蟬蛻黏子等藥一劑頭而俱透越一日淅有回意忽大便溏泄數次覺神氣不蜜問其所苦曰熱曰渴語言皆如抖出脈虛細數有七至我師金大文診之曰此陽脫證也屬少陰用生附子（三錢）　水洗咯浸切片熯如炒米色炮乾薑（八分）　炒甘草（一錢）　炒白芍（一錢五分）　水煎衝入尿一調羹青魚膽汁四小茶匙服畢即睡覺來熱渴俱除續用黃耆建中湯加丹參蘇木二劑而安</p>
<p>（箋疏）疹屬肺有風熱之邪法應半涼輕散荊芥牛蒡等本是正宗惟在產後正氣必虛牛蒡輕散皮毛雖非猛劑然最易滑泄大便以子能下行肺氣既疏而表裡相戾大陽亦為之不固故凡大便不堅實者本宜避之連得溏泄而語言振虛脫之狀固已昭著加以脈之虛細則熱也渴也俱非真象附於理中當為必用之劑此其外有凜寒及唇舌之色應有虛脫確證可察而乃用膽汁之法意者尚有格陽戴陽真寒假熱之證在否則附理中直捷爽快何必多此一層惟頤竊謂仲師內通加膽一法尚是古人思想之不靈活處蓋白通欲其通陽而以苦寒和之終是混冰炭於一爐之中豈不縛賁育之手病者之熱甚假膽汁之寒不是假於實用上必難祥應何如後人熱藥冷服之為的當乎</p>
<p>堯封又曰產婦惡露不行餘血滲入大腸洞泄不禁或下青黑物的寄散極驗荊芥大者四五穗於蓋內然火燒成灰不得犯油火入麝香少許研勻拂湯一兩呷調下此藥雖微能愈大病慎弗忽視</p>
<p>（箋疏）洞泄不禁不可謂是血證且惡露非腸中之瘀何以而滲入大腸以生理學言之殊難符合此蓋是古人理想之辭不無誤會荊芥炭本可治便血所謂大便青黑者實即是大腸之血病耳</p>
<p>千金膠蠟湯治產後利黃蠟二藩子大阿膠（二錢）　當歸（二錢）　半黃連（三錢）　黃檗（一錢）　陳米半升煎湯煎藥服</p>
<p>（箋疏）此是濕熱淤積之滯下非泄利之利故用黃連黃檗以在產後故月當歸阿膠黃蠟收澀防其虛陷然產後滯下為虛為實種種不同仍當辨症用藥必不可膠執成方反多流弊</p>

<h2>便秘</h2>

<h2>頭痛</h2>
<p>沈堯封曰陰虛於下則陽易升上致頭痛者童便最妙褚侍中雲童便降火甚速降血甚神故為療厥逆頭疼之聖藥若血虛受風宜一奇散即芎歸湯也不可不辨</p>
<p>（箋疏）陰虛而氣火升浮法宜潛陽涵陰為主童便本是新產神丹不僅可已頭痛且無誤用之弊果有風寒外侵歸芎未嘗不了然一降一升正相對照辨症胡可不慎</p>
<p>薛立齋案一產婦頭痛曰用補中益氣已三年稍勞則惡寒內熱擬作陽虛治加附子（一錢）　於前湯中數刻不發</p>
<p>（箋疏）頭痛安有可日用益氣至三年之理更何論乎產後縱使果是清陽下陷之病亦必升之又升迸出泥丸宮去惡寒雖可謂是陽虛然內熱獨非虛乎明是偽造之案而敢欺人如是夫已氏之荒謬已臻極步且以誤盡初學實屬罪不容銖堯封採此受其愚矣</p>

<h2>胃脘痛腹痛少腹痛</h2>
<p>沈堯對曰有血淤血虛停食感寒肝氣之異手按痛減者血虛也接之痛增者非停食即瘀血停食則右關脈獨實且有噯哺氣瘀血則所下惡露必少得熱即減者感寒也至若厥陰肝脈抵小腹挾胃又為藤血之臟血去肝虛其氣易動一關氣惱陡然脘腹大痛治法血虛宜歸耆建中消食惟查肉最妙兼和血也消瘀宜奪命散感寒者輕則炮姜艾葉重則桂附茱萸肝氣作痛養血藥中加川楝橘核苦以泄之重則為梅辛散酸收苦池並用</p>
<p>（箋疏）產後胃脘痛古有敗血搶心一說然子宮中之淤垢何以直攻到心此是理想之談誤人不小縱使惡淤不多而為胃痛不過降少升多肝膽氣滯耳用破瘀之法而病亦相應者正以泄降則氣自不升其理亦淺而易見非徑以破上焦之血然終宜和肝行氣為允破瘀必非呆板之法腹痛少腹痛初產之時甚少俗謂之兒枕痛此多淤虛猶存或臨蓐時未免稍受寒涼苟非盛夏炎天生化湯最宜正治炮姜桃仁本是無瘀不能為害又如澤蘭艾葉茺蔚皆所必需但川芎主升不可妄用查肉極妙非僅消食亦能和血砂糖未始不可服但不必大多而最不宜於炎天耳盂英書中深惡於生化砂糖蓋有為而言然亦不必因噎廢食如在既產數日之後則苟非痰食多屬血虛而氣為之滯堯封養血二字最佳川棟烏梅橘核無一非柔肝必需之品</p>
<p>俟藹輝曰一婦產後腹痛令其夫以手接之小腹痛尤甚下惡露而痛仍不減知其非瘀乃燥糞也予藥一劑大便潤下而愈姜用川治驗炮姜五分丹皮（二錢）　歸身（三錢）　川芎（一錢五分）　山查（二錢）　炒枳殼（一錢五分）　炒麻仁（二錢）杵爛桃仁泥（二錢）　生地（二錢）　炙甘草（四分）　加研爛松子仁（五粒）</p>
<p>（箋疏）大便不通固亦腹痛中之一症產後津傷尤多便秘此必問而知之而辨症辨脈尚在其次</p>
<p>蕭賡六曰下血過多肝經血少腹痛其脈弦者以熟地萸肉為君加白芍木瓜蒺藜一劑可止有難產久坐風入胞門致腹痛欲絕其脈浮而弦續斷一兩防風五錢服之立愈</p>
<p>（箋疏）血虛而用熟地萸肉是也其風入胞門一說殊不可信產後中氣必處脈浮固所當有何得認作風之確證且腹痛病是在裡脈又必不應浮防風大劑豈新產時所可妄試</p>

<h2>腹中虛痛胸項結核</h2>
<p>薛立齊案一產婦腹中有物作痛投破氣行血藥尤甚肢節胸項各結小核隱於肉裡此肝血虛也蓋肝為藏血之臟而主筋血虛則筋急而孿見於枝節胸項者以諸筋皆屬於節而胸項又肝之部分也用八珍逍遙歸脾加減治驗</p>
<p>（箋疏）血虛筋急關節間結成小粒不癢不疼是宜養血以舒筋者薛主逍遙蓋謂疏肝即所以舒筋然新產陰傷浪投柴胡必有流弊八珍歸脾俱是呆板立翁慣伎終少靈通無甚可取</p>

<h2>小腹痛淤血成膿</h2>
<p>薛立齋案一產後小腹作痛行氣破血不應脈洪數此瘀血成膿也用瓜子仁湯二劑痛止更以太乙膏下膿而愈產後多有此證雖非癰用之神效脈洪數已有膿脈但數微有膿脈遲緊但有瘀血尚未成膿下血即愈若腹脹大轉側作水聲或膿從臍比或從大便出宜用蠟礬丸太乙膏及托裡散凡瘀血宜急治緩則化為膿難治若流注關節則患骨疽失治多為壞證</p>
<p>（箋疏）此陽癰也必有形塊痛不可按產後瘀滯不行留於經隧固有此症然治法止有行氣導淤未成可消已成可下如在皮裡膜外則成膿亦必外潰不能皆從大腸而下其內服之藥除行氣行淤外尚復有何妙用凡腸癰少腹癰之治法皆是如此況在產於淤血尤其顯著乃薛調行氣破血不應必用瓜子仁湯而痛止太乙膏而膿下抑知瓜子仁湯方惟萎仁桃仁薏仁丹皮四味（薛氏之外科發揮有此方）功力尚不能行氣行瘀乃謂可使痛止已是欺人之談金匱大黃牡丹皮湯謂治腸癰當下膿血力在硝黃乃去此二味而加薏苡豈有膿成而可止痛之理此誤會古書而大失其神隨著太乙膏本為外科薄貼之通用古人雖亦有作丸內服之說則是宋金以降內外分科治內科者全不知外科理法謬謂既可外貼即可內治不知黏膩之極既作丸子則堅凝不化直入胃腸仍從大便囫圇解比何能有效且謂雖非癰亦可用此則太乙膏豈可為產後腹痛之通用品既不能知腸癰之實在治法而又不能治腹痛拾古人無謂之唾餘以售其欺妄可鄙孰甚又調膿從臍出則惟小腸癰之成膿者有之俗謂是盤臍腸癰最為難治十不全一然產後縱有血瘀僅在下部當不至此蠟礬丸本非有用之方黃蠟之黏白礬之澀能令血失流行之常有害無益而謬謂可以護心護膜使瘍毒不致內攻實是制方者之臆造而瘍科書中無不依樣葫蘆照抄一遍吾國瘍醫之陋久已不可復問薛又謂宜用托裡散則膿已出矣而尚可托豈嫌其成膿不多而欲令泄盡血肉此皆瘍醫家之亂道語而掇拾寫來自矜妙用無一非薛氏之不學無術不值一哂而堯封採之蓋堯封亦苦不知治瘍不能識破其剿說之完全無用此實內外分部之一大弊也王盂英曰古今醫按載一婦產後惱怒左少腹結一塊每發時小腹脹痛從下攻上膈間乳上皆痛飲食人胃即吐遍治不效葉香岩用炒黑小茴（一錢）　桂酒炒當歸二錢自制鹿角霜菟絲子各一錢五分生查肉三錢川芎八分水煎送阿魏丸七分八劑而愈次用烏雞煎丸原方半料永不復發</p>
<p>又云消積之方如桃仁煎用大黃蟲芒硝東垣五積丸俱用川烏巴霜局方聖散子三稜煎丸俱用硇砂乾漆此皆峻厲之劑用而中病固有神效若妄試輕嚐鮮不敗事試閱葉案積聚門並無古方狠如千金硝石丸人參硝黃並用丹溪猶以為猛劑學者但將丹溪治積聚諾案細繹自有悟處而黑神丸生熟漆並用尤勿輕試每見服之誤事因思漆身為癩之言則飛補之說其可惑乎</p>
<p>（箋疏）葉氏是案確已將為腸癰然因惱怒而起仍是肝絡鬱結為患但必有寒症故可用桂酒及小茴至（一錢）　之多非兒是小腹結塊脹痛皆當投以此方讀者必不可誤認前謂峻劑不可妄投確是見道之言平人皆應謹慎亦不僅為產後言之生漆最毒聞其氣者尚能發腫甚且皮膚腐爛豈可以入胃腸不解本草經乾漆何以列入上品且謂生者久服輕身耐老云云殊覺可駭豈古之漆非今之漆耶讀古書者胡可為趙奢之子</p>

<h2>腰痛</h2>
<p>大全云產後惡露方行忽然斷絕腰中重痛下注兩股痛如錐刺入骨此由血滯經絡不即通之必作癰疽宜桃仁湯五香連翹湯</p>
<p>沈堯封曰前方不穩不若用桃仁紅花地龍肉桂沒藥當歸為妥如神湯治瘀血腰痛延胡當歸肉桂等分水煎服</p>
<p>沈堯封曰腰痛不見前證者多屬肝腎虛宜當歸杜仲補骨脂之類</p>
<p>（箋疏）產後腰痛虛症最多宜滋肝腎真陰前人多以瘀血立論專就一面著想耳即大全所謂兩股痛如錐刺者亦未必無虛證臨症時皆當合四診參之自有確據不可徒於故紙堆中搜尋方法</p>
<p>遍身疼痛薛云以手接之痛甚者血滯也按之痛緩者血虛也</p>
<p>（箋疏）遍身疼痛痛在絡脈皆無一定處所病人自己且無從摸索如何可以尋按薛立齋乃如此說法真是按圖索驥此公庸愚說來無不發噱　此證多血虛宜滋養或有風寒濕三氣雜至之痹則養血為主稍參宣絡不可峻投風藥</p>

<h2>浮腫</h2>
<p>沈堯封曰產後浮腫先要分水病氣病水病皮薄色白而亮如里水之狀氣病皮厚色不變經云腎者胃之關也關門不利聚水生病蓋產後腎氣必損胃底陽微不能蒸布津液通調水道此聚水之由也宜腎氣湯丸是證皮簿色白可證人身營衛之氣通則平滯則脹頑痰瘀血皆能阻滯氣道作腫是證皮厚色不變以脈弦者為痰脈細而或芤者為血分證分別論治用藥更有一種血虛而致氣滯者其腫不甚色帶淡黃宜歸身為主佐以白朮陳皮茯芩之類　（箋疏）凡腫均宜如是辨證亦不僅為產後而言有肺氣不肅面目浮腫者則宜輕疏開肺一二劑即效</p>

<h2>咳嗽</h2>
<p>沈堯對曰一婦妊七八個月痰嗽不止有時嘔厚痰數碗投二陳旋覆不應用清肺滋陰愈甚遂不服藥彌月而產痰嗽如故日夜不寐三朝後二陳加膽星竹瀝吐出厚痰數碗嗽仍不止更用二陳加旋覆當歸少減稍可吃飯因嗽不減痰漸變薄加入生地（四錢）　食頓減嗽轉甚通身汗出脈象微弦用歸身（三錢）　茯芩（二錢）　炒甘草（一錢）　紫石英（三錢）　因汗欲用黃耆因嗽又止推敲半響仍用炒黃耆（三錢）　一服汗止而嗽亦大減十劑而安</p>
<p>（箋疏）咳嗽是雜病中之一大門產後胎前本亦無甚大別皆隨症治之明辨其寒熱虛實四字而已惟有痰而舌膩者終不可輕用清肺滋陰之藥徐</p>
<p>靈胎批指南早已言之諄諄堯封此條兩度轉甚可為殷鑑惟間亦有腎虛水泛而為痰浮陽沖激而作嗽者則屬下虛法宜攝納滋填涵斂其上浮之沖氣嗽自減痰自少產後陰傷更多是症蓐勞怯損即此根萌但知清肺化痰皆是製造虛勞之無上秘訣</p>

<h2>口眼喎斜</h2>
<p>丹溪云必須大補氣血然後治痰當以左右手脈分氣血多少治之切不可作中風治用小續命湯治風之藥</p>
<p>（箋疏）但有口眼喎斜尚是類中風之輕症如在初產則深閨閉藏之時試問何致外風猝襲小續命湯古法本當為殺人之利器頤終不悟古人何以有此奇病奇治今則氣血沖腦四字久己熟在人口則陰虛於下陽越於上氣升火升激動腦之神經失其功用實是淺而易知顯而共見產後有此亦固其所丹溪大補氣血一語蓋亦見於陰虛陽越之至理然必以左右分別氣血兩門頤終嫌其說得太呆幾以此身氣血兩者劃分界限一如從前官僚站班文束武西必不可越雷池一步者人身中那得有此寄局丹溪何至不通如此然即使大補氣血參以治痰亦尚是統籠說法未必有效如能潛鎮浮陽以泄降上升之虛火是症甚輕呈效必捷此古人之疏遠不逮近人之密而局外人猶謂中醫之學千百年毫無進步真是夢話</p>

<h2>腰背反張</h2>
<p>薛立齋云產後腰背反張肢體袖搐因亡血過多筋無所養使煞大補氣血多保無虞若發表驅風百不全一武叔卿雲寒主收引背項強直寒在太陽經也諸家皆主續命湯此古法也郭氏不問產後虛實邪之有無概用續命似覺偏一至薛氏專主亡血過多非十全大補不可是或一見乃夷堅志按以大豆紫湯獨活湯而愈亦主於風矣是續命固不為妄也但本方有麻黃附子氣血兩虛人不可輕用而郭氏論又囑人速灌取汗而解偏不以麻黃為忌何也二說俱不可廢臨診時詳之</p>
<p>沈堯封曰仲景論腰背反張為痙無汗者為剛痙主以葛根湯有汗者名柔痙主以桂枝加葛根湯桂枝湯乃治中主方故有汗之痙屬風葛根湯中用麻黃麻黃乃散寒主藥故無汗之痙屬寒仲景治少陰傷寒未見吐利之裡證者用麻黃附子細辛湯麻黃附子甘草湯微發汗蓋寒邪乘少陰之虛而欲入急以附子保坎中之陽而以麻黃散外感之寒真神方也小績命湯雖非仲景之制方中用此二味正見攻守相須之妙而叔卿反云麻附二味氣血兩虛者不可輕用假使除卻麻黃何以散客寒除卻附子何以保真陽特不可用於有汗之柔痙耳有汗柔痙更有兩種一則因虛而受外來之風一則血虛則筋急並無外感之風有風者雖汗出必然惡風主以華元化愈風散祗血虛而無風者必不惡風純宜補血</p>
<p>又曰人身氣血之外更有真陽真陰藏在坎中亦立命之根基胎繫於腎腎司二陰產兒之時下焦洞闢坎中陰陽有不大損者乎況背後夾脊兩行俱太陽經脈太陽之裡即是少陰脊裡一條是督脈亦款少陰此脈急縮與少陰大有關會此用麻兼用附之深意也使置此不講徒執氣虛血虛以治產後百病業醫亦覺太易矣</p>
<p>（箋疏）痙直強急甚則腰背反張其形如弓俗書遂謂之角弓反張小兒急驚風病多有之而產後亦間有之類中風症及時病熱甚傷陰者亦時有痙直強硬腰餚不可動之症但不致如幼孩產婦彎曲之甚竟如弓狀是證在仲景書中傷寒論金匱要略皆有痙之專篇大同小異但金匱有方藥而本</p>
<p>論無之專以太陽病立論固謂太陽行身之背其經脈兩行直下寒入太陽則經縮而短急因為反張說理亦甚精當所以主治之藥金匱則括蔞桂枝湯葛根湯而六朝以降則皆主績命即在產後亦復如是或則大豆紫湯獨活湯豆淋酒或則荊芥一味之愈風散無一不從表散寒風立法頤不敢謂古時必無此對藥之病惟以所見之症言之則多是陰虛陽越氣火上升之腦神病如小兒之急驚風純屬內熱盡人能知而時病中之抽搐痙直又皆在熱久傷陰津液耗竭之時所以肝風陡動變生諸幻產後陰脫於下陽焰上浮氣火上升攻激犯腦亦固其所竊恐古人續命紫湯等法對此病情未免南轅北轍且痙直者必更有手足牽制諸症更迭而來謂背屬太陽猶之可也然手足並非太陽則一例掣動者又將何以說之古來治小兒急驚未聞有主綴命義散者何以產後之痙悉屬寒風而熱病中之痙直瘛瘲者又</p>
<p>將何治之薛立齋專主大補蓋亦有見於此惟十全一湯呆笨有餘鎮攝不足且歸芎耆桂亦溫亦升治此氣血上衝仍是有害無益則立齋用藥因慣於渾侖吞吐不辨滋味者亦當存而不論堯封前於發狂譫語一條能知是熱痰上冒而不知此之痙直仍是氣血上奔止以腦神經之說古所未聞遂不能觸類旁通悟此原理而徒以太陽少陰高譚玄妙見解雖高終非此症真諦</p>
<p>小續命湯　治產後中風身體緩急或頑痹不仁或口眼喎斜牙關緊急角弓反張防風（一錢）　麻黃去節黃芩白芍人參川芎防已肉桂各（七分）　附子咆杏仁各（五分）　甘草（四分）　炙加生薑水煎服</p>
<p>（箋疏）中風之身體緩急口眼喎斜牙關緊急角弓反張皆是內動風陽氣</p>
<p>血沖腦擾亂神經之症即素問調經論之所謂血之與氣井走於上則為大厥厥則暴死氣復反則生不反則死生氣通天論之所謂血菀於上使人薄厥金元以降已明知其為火為氣為痰病本內因故謂之為類中風所以別於漢唐人專用辛溫升散之真中風然猶無一人不教人用小續命湯實是大惑不解而產後血虛仍可用此防風麻黃豈不知仲景有亡血虛家不可發汗之禁耶惟此誤已久遍國醫書靡不依樣葫蘆描摹一過非數十百言所能說明者頤別有中風詮一書專論之茲姑從略惟堯封於上文產後之發狂譫語及下文金姓之口眼歪斜手足不舉能知是痰阻經絡而獨於此條仍踵古人之誤認作外風豈不自矛自盾</p>
<p>華跎愈風散治產後中風口噤牙關緊閉手足瘛瘲如角弓狀亦治產後血暈不省人事四肢強直心眼倒築吐瀉欲死此藥清神氣通血脈如神</p>
<p>荊芥　略炒為末每服（三錢）　黑豆淬酒調服童便亦可口噤擀開灌之或吹鼻中</p>
<p>李瀕湖曰此方諸書盛稱其妙姚僧垣治驗方以酒服名如聖散藥下可立應效陳氏方名舉卿古拜散蕭存敬方用古老錢煎湯服名一捻金許叔微本事方云此藥委有奇效神聖之功一產後睡久及醒則昏昏如醉不省人事醫用此藥及交加散云服後當睡必以左手搔頭用之果然昝殷產寶方云此病多因怒氣傷肝或憂氣內郁或坐草受風而成宜服此藥戴氏證治要訣名獨行散頁似道悅生隨抄呼為再生丹</p>
<p>（箋疏）此亦治外風之法惟荊芥炒黑亦能下瘀故尚可用但酒必不可服蕭氏用古錢煎湯者是重墜之義以鎮氣火之上衝耳昝殷既知怒氣傷肝憂氣內鬱則病屬內因明矣何以又謂之受風吾國醫學家言每每若明若味乍是又非最令人昏昏欲死此習醫之所愈覺其難也</p>
<p>沈堯封曰丁丑三月練塘金虞旬第四媳產後變證伊郎夾請先述病狀云上年十月生產甚健至十二月初旬面上浮腫驅風不應加麻黃三帖通身脹腫小便不利更用五皮雜治反加臍凸更用肉桂五芩小便略通脹亦稍減續用桂附八味其腫漸消惟右手足不減忽一日口眼歪斜右手足不舉舌不能言因作血虛治變為俯不得仰數日後吐黑血盈孟吐後俯仰自如旬餘復不能仰又吐黑血而定投以消瘀忽然口閉目開如脫狀伊母一夜煎人參（三錢）　灌之得醒醒來索飯吃一小杯近日又厥灌人參不醒已三晝夜矣余遂往診右手無脈因腫極不以為快左脈浮取亦無重按則如循刀</p>
<p>刃余曰此是實證停參可醫遂用膽星半夏石菖蒲橘皮天蟲地龍紫草水煎入竹瀝薑汁一劑知四劑手足能舉不換方十二劑能出外房診脈諸病悉退惟舌音未清仍用前方而愈金問奇病之源余曰人身臟腑接壞受胎後腹中遂增一物臟腑之機括為之不靈五液聚為痰飲故胎前病痰滯居半千金半夏茯芩湯斫以神也至臨產時痰涎與惡血齊出方得無病若止血下而痰飲不下諸病叢生故產後理血不應六神湯為要藥此證初起不過痰飲阻滯氣道作腫血本無病用五芩腎氣腫減者痰滯氣道得熱暫開故也久投不已血分過熱致吐血兩次至若半身不遂口眼歪斜舌絡不靈俱是痰滯經絡見證即厥亦是痰迷所致並非虛脫故消痰通絡病自漸愈何奇之有</p>
<p>王盂英曰此等卓識皆從閱歷而來朱生甫令郎仲和之室娩後患此醫治不能除根再產亦然延已數年繼復懷妊病發益頻余用大劑滌痰藥服月餘產後安然病根竟刈</p>
<p>（箋疏）口眼歪斜手足不舉舌不能言甚至昏厥豈非素問之所謂血菀於上使人薄厥腦神經病灼然無疑重用豁痰降逆則氣不上升所以有效則上節猶盛稱麻黃附子何耶</p>
<p>沈堯封曰震澤一婦產十餘日延我師金大文診視余從據述新產時證以虛脫服溫補藥數削近日變一怪證左邊冷右邊熱一身四肢盡然前後中分冷則如冰熱則如炭鼻亦如之舌色左白右黑師問曰此是何病用何方治余曰書未會載目未會睹不知應用何方師曰奇證當於無方之書求之經不云乎左右者陰陽之道路也陰陽者水火之徵兆也敗血阻住陰陽升降道路不能旋轉陽盛處自熱陰盛處自寒所以偏熱偏寒用澤蘭查肉劉寄奴蘇木桃仁琥珀等藥兩劑病熱減半繼服不應遂更醫雜治以至不起由今思之此證不但血阻必兼痰滯我師見及阻住陰陽升降道路病源已經識出特跳不出產後消瘀圈子耳倘通瘀不應即兼化痰或者如前案金婦得起未可知也此時彭尚初學我師見識過人特未悟徹痰滯一證惜哉</p>
<p>（箋疏）此是奇症誠不能勘破其真相升降阻塞於理甚是破瘀豁痰洵可以備一說然必曰能收全績亦正難言</p>
<p>薛立齋案郭茂恂嫂金華君產十日不食始言頭痛頭痛已又心痛作既而目睛痛如割如刺更作更止相去無瞬息間每頭痛欲取大石壓良久漸定心痛作則以十指抓臂血流滿掌痛定目復痛復以兩手自剜目如是十日不已眾醫無計進黑龍丹半粒疾少間中夜再服乃瞑目寢如平時至清晨下一行約三升許如蝗蟲子病減半已刻叉行如前痛盡除</p>
<p>黑龍丹治產難及胞衣不下血迷血暈不省會事一切危急惡候垂死者但灌藥得下無不全活當歸五靈脂川芎良薑熟地各（二兩）　銼砰入砂鍋內紙筋鹽泥固清火SH煆過百草霜（一兩）　硫黃乳香各（二錢）　琥珀花蕊石各（一錢）　為細末醋糊丸如彈子大每用一二丸炭火SH煆紅投入生薑自然汁中浸碎以童便合酒調灌下</p>
<p>（箋疏）此藥人火SH煆紅則止有花蕊石硫黃尚存餘質此外盡為灰燼復有何用而謂大有神靈於理難信薛案仍是瘀血耳謂為下如蟲子蓋亦言之太過</p>

<h2>小便不通</h2>
<p>產乳集用鹽填臍中命平蔥白搗鋪一指厚安鹽土以艾炷餅上灸之覺熱氣入腹內即通最靈</p>
<p>沈堯封曰此法不效必是氣虛不能升舉黃耆補氣之中已寓上升之性用以為君（五錢）　麥冬能清上源用以為臣（一錢五分）　白通草利水達下用以為佐八分水煎服一劑可效</p>
<p>（箋疏）沈所謂之氣虛不升是中州清陽之氣下陷反致膀胱窒塞不通即所謂州都之氣化不行者黃耆補氣能升舉清氣而不致如升麻之輕迅即在產後亦可無弊重用固宜謂麥冬能清上源者肺氣不宣則小水閉塞麥冬潤肺是滋其源然尤宜先通肺氣紫苑兜鈴桑白皮路路通等俱為通泄小水極驗之藥而桂枝能遍太陽之陽氣下元陽虛者宜之頤編醫案平議太陽府證中有張洛鈞治案一條頗可法也又通關係滋腎丸亦佳</p>

<h2>尿血</h2>
<p>大全云產婦尿血面黃脅脹少食此肝木乘脾土也用加味逍遙散補中湯</p>
<p>（箋疏）此症雖在產後必有虛實之殊虛者中州之氣陷逍遙補中洵可以備一法實者則膀胱蘊熱亦必清理非蠻補可愈而升清又在禁例亦當與平人一例論治不以產後而有異</p>

<h2>尿胞被傷小便淋瀝</h2>

<h1>沈氏女科輯要箋硫卷下</h1>

<h2>產後玉門不閉薛立齋雲氣血虛弱十全大補湯主之</h2>
<p>（箋疏）新產而產門不能收合下焦無固攝之權誠是虛症然所以治之者仍當隨其他兼見之證而最為滋補尤必以收攝下元為主十全蠻方何足以盡活潑靈通之變化且其中有肉桂惟有寒症有為宜若在炎天或其人多火即為鴆毒立齋呆漢只為呆用成方只知方名十全大補當然無一不全無一不補何其陋耶此症虛弱之人時有之初胎者尤宜留意故新產後必正臥而緊並其兩足防此患也有家者皆宜知之</p>

<h2>玉門腫脹焮痛</h2>
<p>薛云是肝經虛熱加味逍遙散主之</p>
<p>坐草遇早產戶傷壤紅腫潰爛痛不可忍用蒸包子籠內荷葉煎湯洗日三次兩日可愈繆德仁治驗</p>
<p>（箋疏）此證難產者多有之初胎亦必有痛甚者外用瘍科腫痛之敷藥治之若內服藥則仍隨其他之兼症而定加味逍遙是不知足而為屢之說但知其不為蕢耳立齋只能為此籠統話庸醫之尤四字確是此公鐵板說法</p>

<h2>陰脫</h2>
<p>陳無擇云產後陰脫加脫肛狀及陰下挺出逼迫腫痛舉動房勞即發清水續續小便淋瀝硫黃烏賊骨各（二兩）　五味子（二錢半）　為未糝之日三次</p>
<p>（箋疏）此即於宮之下墜治宜補益固攝若使立齋治此則必曰十全大補加味逍遙矣　外治法固亦可備一說但硫黃非通用之藥</p>

<h2>子宮下墜</h2>
<p>丹溪云一產子後陰戶下一物如合缽狀有二岐其夫來求治予思之此子宮也必氣血弱而下墜遂用升麻當歸黃耆幾帖與之半日後其夫復來云服二次後覺響一聲視之巳收但因經宿干著皮上破一片如掌心大在皮某妻在家哭泣恐傷破不復能生予思此非腸胃乃脂膏也肌肉破尚可復完若氣血充盛必可生滿遂用四物湯加人參與百帖三年後復有子</p>
<p>治子宮下黃耆（一錢半）　人參（一錢）　當歸（七分）　甘草（二分）　作一帖水煎食前服外用五棓子末泡湯洗又用末傅之如此數次宜多服藥永不下</p>
<p>（箋硫）此確是子宮所謂兩岐者正合西學家說所謂子宮之底外有二筋帶懸之此帶無力即有下墜之憂者是也此症虛弱者時有之產後任勞亦有之正是下元無力所致歸耆參朮稍加升舉洵為正鵠至其黏著皮上而脫一片丹溪斷為脂膜亦是至理補養可腹完說亦可信但四物百帖未免太呆則丹溪之書本是淺者為之所以筆下謝陋如此五棓子固澀洗敷自佳</p>

<h2>產戶下物</h2>
<p>丹婆云一婦年三十歲生女二日後產戶下一物如手帕下有帕尖約重一斤予思之此因胎前勞乏傷風或肝痿所致卻喜血不甚虛耳其時歲暮天寒恐冷干壞了急與炙黃耆（二錢）　人參（一錢）　白朮（五分）　當歸（一錢半）　升麻（五分）　三帖連服之即收上得汗通身方安但下翳沾度處乾者落一片約（五六兩）　兩重蓋脂膜也食進得眠診其脈皆澀左略弦視其形卻實與白朮白芍各（半錢）　陳皮（一錢）　生薑（一片）　煎二三帖以養之</p>
<p>（箋疏）此與上條本是一事方亦與上條一轍但傅之稍異遂使字句少有不同堯封兩收之未免失檢術芍陳皮一方不如參朮歸耆升麻遠甚凡古醫籍中似此泛而不切者皆當刪除淨盡否則苗莠同疇徒亂人意</p>

<h2>水道下肉線</h2>

<h2>乳汁不通</h2>
<p>湧泉散山甲炮研末酒服方寸匕日二服外以油梳乳即通　見經疏陳自明婦人良方曰予婦食素產後七日乳汁不行赤小豆一升煮粥食之當夜即行一婦乳汁不行煎當歸（八錢）　服即通王不留行白通草穿山甲是要藥</p>
<p>（箋疏）產而無乳氣血虛也甲片通草留行等走竄固佳然不揣其木而齊其末若在瘦弱之人終是礱糠打油手假非徒無益惟壯實氣滯者可用耳當歸活血猶彼善於此吾鄉通用木通豬蹄煮湯飲之通乳固捷然以此二物並作一氣大覺不倫亦是可笑須知鮮豬蹄湯滋液助血確是佳品只此一味淡煮清湯啜之已是有餘何必更以木通苦之是為惡作劇凡乳婦尋常飯膳多飲豬肉鮮湯助乳極佳但宜淡味不宜鹹鹹則耗血又必忌辛辣忌五暈皆足以耗血且令乳汁有暈臭亦非愛子之道也</p>

<h2>回乳</h2>
<p>無子吃乳乳不消令人發熱惡寒用大麥芽（二兩）　炒為末每服（五錢）　白湯下</p>
<p>（箋疏）丹溪此法固佳凡消食之藥無一不靈查肉神麯等皆是治乳婦病者亦當留意此一層也</p>

<h2>乳頭碎裂</h2>
<p>丹溪老黃茄子燒灰傳之　綱目丁香末傳之</p>
<p>（箋疏）此有因發癢而搔碎者稍有滋水是肝胃濕熱宜清肝而少參化濕有乾製作痛者甚至血溢是肝燥有火宜養液而並滋肝腎乳房屬足陽明</p>
<p>經乳頭實肝經主之故凡是乳病無不繫於肝者脹痛皆然而外瘍其尤著也外治法當依瘍科例擇藥燥者宜潤挾濕者宜清涼收濕丁香溫燥大非所宜單方之不可呆用如此</p>

<h2>吹乳</h2>
<p>繆仲淳云妒乳內外吹乳乳岩乳癰不外陽明厥陰二經之病橘葉最妙　又用生半夏一個研末生蔥頭一段研里左右互塞鼻神驗又于山中掘野芥菜（去葉用）根洗淨搗爛無灰酒煎數滾飲一二次即以渣遏患處凡乳癰未成或腫或硬或脹痛者無不立消屢治經驗野芥菜一名天芥菜又名鸚哥草似芥菜而略矮小其根數出如蘭根用以治乳想其形似乳囊也故用有驗春圃附載</p>
<p>（箋疏）未產前生乳癰名內吹風乳子時生乳癰名曰外吹風皆由理想而得其名謂小兒吮乳口鼻之風吹之猶可說也乃兒在胎中而亦能吹風何其可笑一至於此吾國外科之學鄙陋己極外瘍一切病名可鄙可嗤十而八九醫學空疏真是慚愧欲死宜乎當此開明之世後生小子乍得一知半解者亦得竊笑於其側空穴來風固有自取之道殊不足為若輩責也妒乳之名亦是可笑不如經稱乳癰豈不正大光明名正言順仲淳不外陽明厥陰二經之病洵是至當不易橘葉固佳但乳岩根深蒂固萬不可與乳癰同論總之胎前患此多是肝火止宜清肝少參消散產後患此多是積乳先當消乳早投煎藥可退十之六七惟胎前得之其火必盛產後得之乳積更多加以畏痛不敢使兒吮乳則愈積愈腫所以成潰皆是極易不比其他外瘍之易於消退二三日間無不成膿若新產旬日之間陰虛未復狂焰陡然腫大且堅如瓢如甕者其勢甚急非羚羊角不能稍殺其毒俗名乳發其害猶熾其較輕者則川棟蒲公英地丁銀花丹皮梔子黃芩連翹山查神麯麥芽等足以了之不能顧及回乳一層蓋非此不能釜底抽薪俗子不知猶用歸芎通草之類自謂活血行乳則助之腐也生半夏有毒塞鼻不妥野芥菜不知何物然有芥之名必有辛散作用此症必有心火亦外治用蒲公英地丁馬齒莧木芙蓉葉忍冬藤等搗敷皆可然此類皆清涼有餘火盛勢熾紅腫蔓延者宜之輕症嫌其太涼遏抑氣血反致堅硬難化瘍科書中有如意金黃散清熱而兼有辛散以治尋常之陽發癰腫正合但選藥尚未盡純粹頤習用之桃花丹敷此有效其不甚大者形塊如桃如慄則千槌膏消腫最驗二方見拙編瘍科綱要皆非古之成方</p>

<h2>乳癰紅腫方發</h2>
<p>活小鯽魚一尾剖去腸同生山藥寸許搗爛塗之少頃發屢驗無山藥即芋艿亦可</p>
<p>（箋疏）此單方也鮮山藥鮮芋頭生搗多漿汁沾人肌肉其癢異常洵能通利血脈故可消毒散腫然惟小症可用若形塊較巨者少敷則不足以減其勢多敷則皮膚極癢發泡且腐而肌肉之堅腫如故反多一層皮膚病未盡美善不如頤所恆用之桃花丹千槌膏遠甚</p>

<h2>乳癰已成</h2>
<p>胡桃膈上培燥研末每服（三錢）　紅糖調勻溫酒送下三服無不全愈</p>
<p>又方用玫瑰花五七朵乾者亦可醇酒煎服燙酒極熱沖服亦可即以花瓣摘散鋪貼患處三兩次可愈節己成硬塊者亦可消散　會經治驗數人陳載安附識</p>
<p>（箋疏）既曰已成則內有膿矣非針之使潰尚何有退消之法此條二方仍是單方耳輕症初起成能小效必曰可退斷不足恃且更有一大弊在乳癰皆是陽症成潰最迅酒之通經活血能使外瘍消腫軟堅止可治以陰發堅硬木腫之症若陽發飲酒是為厲階以治乳癰尤其抱薪救火吾鄉俗傳治此症尚有一單方用生鹿角研末熱陳酒沖服或謂鹿角霜皆是溫散治法萬無可消陽發之埋而傳者皆言其神妙用之者乃無一成無一不潰而亦無一不大痛三四日所兒所聞不可僂指當與是條二方鼎足成三彼此輝映實則此等方法乃治乳核乳癖堅硬木腫者彼是凝痰結滯其來以漸核小而堅初起不知不覺實即乳岩之小症而亦乳岩之初基故宜用溫和行血之品此三方皆出一派惟無乳汁者有此症而內外吹兩者形似相同情實相反萬不可一例綸治而傳者不悟總因內外分科治內科者遂絕不知有外瘍理法最是內科諸書一大缺陷且彼之結核雖似陰發而病在厥陰之絡內含木火溫經太過亦必助其發揚恐有不可收拾之慮蓋乳房生瘍惟內外吹易潰而易愈癖核雖小潰則甚難收口雖與乳岩絕症稍有輕重之分然潰彼糾經延成癆怯者頤見之已屢且結核漸巨即是成岩異病同源胡可膜視王鴻緒外科全生集大誇基陽和一方妄謂是乳岩瘰癧必用良藥頤授經師李牟云先生次女本患結核誤於陽和陽十六帖兩月而乳岩面又三月而潰腐盈尺滲遭非命即是殷鑑　又吾嘉素驥云制一末藥施送說治乳癰乳癬乳岩一服必減三服必痊用石首魚背上鰭生剝撕下貼壁上陰乾積久炒研末每一兩封以小青皮末一兩每服（三錢）　熱陳酒調服實不過宣通經絡殊不足以療大症而亦不可以治乳癰陽發適以使其宣達成膿單方之不可靠如是又廿年以前吾鄉有人患疝氣痛聞傳說大茴香末酒服有驗乃購大茴香二十文研末溫酒一次服完半夜七孔流血而絕則又單方之最可駭者也</p>

<h2>乳岩</h2>
<p>坎氣洗淨切薄焙燥研末日吃一條酒下約二十條效　繆德仁治驗半年以內者效</p>
<p>又狗糞東丹獨囊蒜三味搗勻攤布上勿用膏藥令黏貼上微痛數日可愈沈堯封曰乳岩初起堅硬不作膿其成也肌肉疊起形似山岩病起抑鬱不治之證方書云桃花開時死出鮮血者死余見一婦患此已四年診時出鮮血盈盂以為必死日服人參錢許竟不死明年春桃花大放仍無恙直至秋分節候方斃此婦抑鬱不得志誠是肝病然不死於春而死於秋何哉豈肝病有二其太過者死於旺時其不及者死於衰時耶此證本屬肝病繆以坎氣補腎而愈亦理之不可解者外有方附後瘍科方選中</p>
<p>（箋疏）乳民初起止是一個堅核不脹不腫雖重按之亦不覺痛但塊堅如石興其他瘍症不同故不能消散苟能養血調肝開懷解鬱止可保其不大不脹經數十年終身不為患者所見已多若多勞多鬱則變化亦易迨漸大而知作脹已難治療若時作一抽之痛則調經更是棗手雖能養陰亦多無益斷不可誤投破氣消勉及軟堅走竄之藥當見誤服甲片皂剌應手焮發速其脹裂最是催命靈符其潰也浮面發腐其中仍如勉石嵌空而堅止有血水並不流膿且易溢血必無帶病延齡之望坎氣亦是單方恐未必果有效力蒜頭塗法必令發癢如其浮皮一破即是弄假成真必不可試總之此症無論柯藥斷無能令必愈之理沈謂外有方附後今亦未見豈傳抄有脫佚耶然使縱有方亦無效果闕之可耳</p>
<p>王孟英曰吳鞠通云常歸芎窮為產後要藥然惟血虛而熱者斷不可用蓋富歸香竄異常甚於麻辛急走善行不能靜守止能運血裒多益寡如亡血液虧孤陽上冒等證而欲望其補血不亦愚哉芎窮有車輪紋其性更急於當歸蓋物性之偏長於通者必不長於守也世人不敢用芍藥而恣用歸何其顛倒哉余謂今人血虛而熱者為多產後血液大耗孤陽易浮吳氏此言深中時弊又論達生篇所用方藥未可盡信皆先得我心之同然者詳見解產難醫者宜究心焉</p>
<p>（箋疏）當歸善行川芎善升血虛火動者當為禁藥而俗子誤以為補血之專品者只緣四物湯方泛稱補血遂不辨菽麥而浪用之耳鞠通此說確不可易</p>

<h2>熱入血室</h2>
<p>仲景傷寒論云婦人傷寒發熱經水適來書日明瞭暮則譫語如見鬼狀者此為熱入血室無犯胃氣及上二焦必自愈</p>
<p>又婦人中風發熱惡寒經水適來得之七八日熱除而脈遲身涼胸脅下滿如結胸狀譫語者此為熱入血室也當刺期門隨其實而瀉之又婦人中風七八日續得寒熱發作有時經水適斷者此為熱入血室其血必結故使如瘧狀發作有時小柴胡湯主之</p>
<p>沈堯封曰論言勿犯胃氣及上二焦者謂不可攻下並不可吐汗也然有似是實非之證不可不辨</p>
<p>（箋疏）發熱而經水適來有適逢信期者亦有不及信期而熱逼經行者書日明瞭暮則謂語以熱入陰分故日暮陰氣用事而神憒也法當破瘀其應甚捷仲景謂無犯胃氣及上二焦以此之譫語非陽明症恐人誤認陽明妄投承氣故為叮嚀又謂無犯上二焦則必治下焦可知陸九芝解此最是明白胸脅下滿是血滯而肝絡不疏故宜瀉期門則推之藥理亦必瀉去血滯可知其小柴胡湯一條明言經水適斷此為經淨自斷者而言以經行既盡則血氬空疏而邪熱乘之陷入下焦乃是虛證故以柴胡提其下陷之氣而參甘大棗方為對病非凡是熱入血室皆用是方亦有經行未淨熱盛瘀結因而適斷者更富破瘀通經尤非小柴胡之升舉補中所可妄試揆之藥理蓋亦可知則本論小柴胡湯條中其血必結四字願疑是上二條之脫說非然者血已瘀結而更可投柴之升提參棗之補仲景安有此理然古今之為本論作注者竟謂小柴胡一方為通治熱入血室寧非大誤徐洄溪傷寒類方於暮則譫語如見鬼狀條下尚謂用小柴胡湯亦是誤認堯封謂有似是實非之症亦指小柴胡一方不可妄用下文醫案三條皆用是方而增劇蓋本是熱病不問由而輒以柴胡升之參甘大棗補之謬妄尚何待言讀古人書豈可如此呆板</p>
<p>陳良甫曰脈遲身涼而胸脅下滿如結胸狀譫語者當刺期門穴下針病人五吸停針良久徐出針凡針期門穴必瀉勿補肥人二寸半</p>
<p>（箋疏）期門穴在兩乳直下右當肝藏部位何可刺入才半及二寸古書皆云可刺四分而陳良甫獨為是說必有訛誤不可不正許學士治一婦病傷寒發寒熱遇夜則如見鬼狀經六七日忽然昏塞涎響如引鋸牙開緊急瞑目不知人病勢危困許視之曰得病之初會值月向來否其家云經水方來病作而經遂止後三日發寒熱畫雖靜而夜則見鬼昨日不省人事許曰此是熱入血室證醫者不曉以剛劑與之故致此當先化痰後治其熱乃急以一呷散投之兩時許涎下得睡即省人事次投以小柴胡湯加生地三服而熱遂除不汗而自解</p>
<p>（箋疏）此見本事方夜則譫語確見熱入血室然至昏瞀痰鳴牙開緊閉已是氣升火升血沖腦經之症許謂醫以剛劑與之當指溫升辛散諸藥故為此病許先化痰誠是泄降正治一呷散方未見必是滌痰法次謂小柴胡加生地許書中有是方謂治婦人室女傷寒發熱或發寒熱經水適來或適斷畫則明瞭夜則譫語如見鬼狀亦治產後惡露方來忽爾斷絕云云雖是仲景本論固有之法其加生地者古稱地黃能破瘀也然以適來適斷併為一談已非仲師真旨且謂可治產後惡露方來忽爾斷絕則凡是血瘀皆主柴胡已覺不可為訓而此病直是氣血上衝腦經受病而柴胡升揚參甘生地皆是膩補姑不論古人入不知腦神經病或有誤認然痰涎壅塞之後又豈此藥可愈恐是臆說不敢信也</p>
<p>又一熱入血室證醫用補血調氣藥治之數日遂成血結胸或勸用前藥許以小柴胡已遲不可行矣刺期門則可請善針者治之如言而愈或問何為而成結胸許曰邪氣乘虛入於血塞血為邪所迫上入肝經則譫語見鬼復入膻中則血結於胸中矣故鯛之則痛非藥可及當用刺法</p>
<p>（箋疏）此亦見本事方謂血結膻中似亦未可深信沈堯封曰一婦熱多寒少譫語夜甚經水來三日病發而止本家亦知熱入血室醫用小柴胡數帖病增舌色黃燥上下齒俱是乾血余用生地丹皮麥冬等藥不應藥入則乾嘔脈象弱而不大因恩弱脈多火胃液乾燥所以作嘔遂用白虎湯加生地麥冬二劑熱退神清唯二十餘日不大便為苦與麻仁丸三服得便而安一室女發熱經來醫用表散藥增劇譫語夜甚投小柴胡湯不應夜起如狂或疑蓄血投涼血消瘀藥亦不應左關脈弦硬搏指詢知病從怒起因用膽草黃芩山梔丹皮羚羊角蘆薈甘草歸身等藥煎服一劑知四劑愈</p>
<p>（箋疏）兩症皆是熱入血室而皆用小柴胡增劇妄升妄補無一非熱病鴆毒呆讀古者此其殷鑑惟胃火脈當滑大而反弱者津干液耗脈反無力耳沈謂弱脈多火大有語病此兩條沈皆憑證用藥非熱入血室之通治法若執此兩條以通治經來譫語又是呆漢矣</p>
<p>沈又曰張儀表令愛發熱經來昏夜譫語如見鬼狀投小柴胡增劇詢其病情云醒時下體惡寒即憒時亦嘗牽被斂衣因悟此證平素必患帶下且完姻未久隱曲之事未免過當復值經來過多精血兩虧陰陽並竭其惡寒發熱由陰陽相乘所致非外感熱邪深入也誤投發散清熱證同亡陽傷寒論云亡陽則譫語內經云脫陽者見鬼是也因用腎氣丸早晚各二錢神氣即清隨以蓯蓉易附桂數劑全愈　此則前所云似是實非之證不可不瓣者</p>

<h2>也堯封自記</h2>
<p>（箋疏）血虛而浪投柴胡乃至不醒人事升提虛陽為禍固是甚捷但此是陰虛陽浮之候法當滋填鎮攝者而用腎氣甚不可解或傳為者失其真耶</p>

<h2>咽哽</h2>
<p>金匱婦人咽中有炙臠半夏厚朴湯主之千金所云咽中帖帖如有炙肉吐之不出吞之不下是也</p>
<p>半夏（一升）　厚朴（三兩）　茯芩（四兩）　生薑（五兩）　蘇葉（二兩）　水煎分四服日三夜一</p>
<p>（箋疏）此痰氣互陰之症尤在涇謂凝痰結氣陰塞咽嗌者是也</p>

<h2>臟燥</h2>
<p>婦人臟燥悲傷欲哭象如神靈所作數欠伸甘麥大棗湯主之</p>
<p>甘草（三兩）　小麥（一升）　大棗（十枚）　水煎分三服</p>
<p>（箋疏）此血少而心氣不安神虛氣餒故多悲傷此方極驗近人醫案有之頤已錄入醫案平議神志門尤氏金匱心典解此甚明白今錄於後尤在涇曰此症沈氏所謂子宮血虛受風化熱者是也血虛藏燥則內火擾而神不髯悲傷欲哭有如神靈而實為虛病前五藏風寒積聚篇所謂邪哭使魂魄不安者血氣少而屬於心也數欠伸者經云腎為欠為嚏又腎病者善數欠顏黑蓋五志生火動必關心藏陰既傷勢必及腎也小麥為肝之谷而善養心氣甘草大棗甘潤生陰所以滋藏氣而止其燥也</p>

<h2>陰寒</h2>
<p>金匱凡陰寒溫陰中坐藥蛇床之散主之蛇床子末以白紛少許和合相得如棗大錦里納之自溫</p>
<p>（箋疏）此外治法然亦不必呆守蛇床一味著學古人者亦可自知變化</p>

<h2>陰吹</h2>
<p>金匱胃氣下泄陰吹而正喧此穀氣之實也豬膏發煎導之</p>
<p>豬膏（半斤）　亂髮如雞子大三枚膏中和煎之發消藥成分再服</p>
<p>王孟英曰陰吹亦婦人恆有之事別無所苦者亦不為病況屬隱微之候故醫亦不知耳俗傅產後未彌月而啖蔥者必患此惟吹之太喧而大便艱燥乃稱為病然仲聖但潤其陽明之燥則府氣自通仍不必治其吹也</p>
<p>（箋疏）此是隱曲之微恙不足為病觀仲景汪通陽明而兼有導淤性質蓋國有瘀滯經隧不利故為此患則用藥之理可想而知亦不必拘拘於古人之成方也</p>

<h2>陰癢</h2>
<p>善邑西門外三里有婦人陰中極癢難忍因寡居無人轉述醫者莫知病情治皆不效至蘇就葉天士診微露其意葉用蛇床子煎湯洗內服龜鹿二仙膠四日而愈陰蝕有用豬肝煮熟削如梃鑽孔數十納陰中良久取出必有蟲在肝孔內另易一梃納之蟲儘自愈亦良法也</p>
<p>（箋疏）此濕熱下注葉氏此法蛇床子湯外洗尚是盡人所能其內服二仙膠者必其人真陰素虛清氣下陷而稍挾濕熱故用藥如此若濕火偏盛則必非龜鹿溫補所宜藥豈一端各有所當弗謂葉老此方為專療是症之唯一秘訣　陰蝕成瘡濕熱生蟲坐藥亦其一端然必須洗法而兼服導濕清熱以疏利之</p>
<p>王孟英曰尚有陰梃一證用飛磯（六兩）　桃仁（一兩五）　味子雄黃各（五錢）　銅綠（四錢）　末之煉蜜丸每重（四錢）　即以方內雄黃為衣坐入玉門重者二次必愈　（箋疏）此亦濕熱為患此閒極少是症聞南方閩廣及北地燕齊多有之南方則地溫而上濕北方則席地而坐夜臥火坑皆濕與熱交互為患盂英此方固是燥濕殺蟲導淤澀斂法極完善當能有效但病由漸起甚者經年累月必謂兩次可愈重症似亦未免言之太易</p>
<p>王宇泰女科證治準繩序云婦人有專治方舊矣史稱扁鵲過邯鄲聞貴婦人即為帶下醫語兼長也然帶下直婦人一病耳調經雜證懷子免身患苦百出療治萬方一帶寧遽盡之乎世所傳張長沙雜病方論三卷婦人居一焉其方用之奇驗奈弗廣何孫真人著千金方特以婦人為首蓋易基幹坤詩首關睢之義其說曰特須教子女學習此三卷婦人方令其精曉即於倉卒之秋何憂畏也而精於醫者未之深許也唐大中初白敏中守成都其家有因免乳死者訪問名醫得昝殷務集驗方三百七十八首以就是為產寶宋時濮陽李師聖得產論二十一篇有說無方醫學教授郭嵇中以方附焉而陳無擇於三因方評其得失詳矣婺醫杜荍又附益之是為產育寶慶集臨川陳自明良甫以為諸書綱領散漫而無統節目簡略而未備醫者局於簡易不能深求遍覽有總進一方不效輒束手者有無方可據揣摩臆度者乃採摭諸家之善附以家傳驗方編葺成篇凡八門門數十餘體總三百六十餘論論後列方綱領節目燦然可觀是為大全良方良方出而閨閣之調將大備矣然其論多采巢氏病源什九歸諸風冷藥偏獷熱未有條分縷晰其宜否者近代薛氏新埔始取良方增注其論酌寒熱之中大抵依於養脾胃補氣血不以去病為事可謂救時之良醫也已第陳氏所葺多上古專科禁方具有源流本末不可沒也而薛氏一切以已意芟除變亂使古方自此湮沒余重惜之故於是編附存陳氏之舊而刪其偏駁者然亦存十之六七而已至薛氏之說則盡收之取其以養正為主且簡易易守惟女子學習無難也若易水瀔水師弟則後長沙而精於醫者一方一論具掇是中乃他書所無有挾是而過邯鄲庶無道少之患哉其積德求子與夫安產藏衣吉凶方位皆非醫家事故削不戰雲</p>
<p>（箋疏）黃肯堂此序歷敘女科書源委甚詳可謂是科乏紀事本末肯堂之女科準繩固即本此數家而掇拾為之未嘗不羅羅清疏獨薛新甫治案專用成方絕少裁翦於病情曲折往往不能精切而授學者以因陋就簡之法自薛氏之書盛行而習醫乃極為易事然粗枝大葉似是實非醫學之疏乃益不可問肯堂反喜其簡而易守毋乃不思之甚清干隆時有武叔卿之濟陰綱目亦從準繩撮其大要方論皆穩妥可學有志於婦女專科者循此諸家法守而融會貫通之亦自足以名世矣</p>
<p>王盂英曰帶下直婦人一病耳未必人人病此何以扁鵲聞貴婦人即為帶下醫緣帶下本女子生而即有之事原非病也後人以帶脈不主約束一言遂以女人之遺濁稱為帶下之證然則扁鵲為之帶下醫猶今之幼科自稱痘醫也痘雖幼科之一證而亦人人必有之事且世俗無不貴小兒者所以人多樂為痘醫耳</p>
<p>（箋疏）孟英解帶下為婦女科之通稱言雖奇而理實確否則白淫僅百病中之一種而扁鵲遂以之自號最不可解此蓋古時自有此名稱然不可以行之於今者也</p>
<p>集方論中所列各方有彼此互見者集錄於此以便簡閱其專治者不復贅門類及分兩炮製半參汪認庵醫方集解所錄</p>

<h2>補養</h2>
<p>六味丸　錢仲陽　治肝腎不足真陰虧揖精血枯竭</p>
<p>地黃砂仁酒拌九蒸九曬八兩山茱肉酒潤四兩山藥四兩茯芩乳拌丹皮澤瀉各三兩蜜丸空心鹽湯下冬酒下</p>
<p>六味地黃湯　治同上</p>

<h2>前方煎服</h2>
<p>八味丸　崔氏</p>
<p>前方加肉桂附子各一兩名桂附八味丸治相火不足尺脈弱者宜之　亦治婦人轉胞</p>
<p>前方加黃柏知母各二兩名知柏八味丸治陰虛火盛尺脈旺者宜之</p>
<p>（箋疏）自薛立齋張景岳趙養葵輩濫用六味地黃而世之醫者無不視六味為滋陰補腎必需之品須知六味之方本於八味腎氣崔氏立方之旨原為腎氣不充不能鼓舞真陽而小便不利者設法故以少少桂附溫養腎氣萸肉固攝肝腎而重用地黃峻滋陰液即以丹皮泄導下焦濕熱茯芩澤瀉淡滲泄水通利小便其用薯蕷者實脾以堤水他觀仲景凡用是方多有小便不利一句則是方真諦全從利水著想顯而易知方名腎氣所重者在乎氣字明非填補腎陰腎陽之意惟金匱消渴門飲一斗小便亦一斗主以此丸似乎渴而且消沃非遍利之意然此亦為腎陽無權不能氣升於上所以上焦反渴乃消症中之不多有者原與肺胃燥火之消渴皎然不同其所以渴者乃因陽虛不能蒸氣化液所以不得不飲然飲一斗而小溲亦是一斗溲不加多又明與下焦有火之飲一溲二大異則小水雖未必不利然尚不加多故茯芩丹澤不嫌滲泄而桂附萸肉溫養肝腎乃為適合至錢仲陽於臂氣丸中減去桂附止用六味以治小兒腎虛為之說者輒曰小兒純陽不需溫腎然中之丹皮芩瀉豈填補腎陰之藥頤謂仲陽制此六味丸方蓋謂病後輕描淡寫作用可助真陰可泄餘熱必無甚病症著乃可用之亦未必遽以為大補之品奈後人不學一見仲陽補腎二字遂謂大補滋填竟是無出此方之右絕不知細心體會一思丹皮澤芩究竟功用奚若此立齊養葵之簡陋本屬醫界之最不可問者而景岳只知推崇熟地遂亦隨聲附和不辨真味至近今之浪用六八味者則皆中薛趙景岳之毒者耳最可笑者汪認庵醫方集解竟列六味於補養方中首屈一指俗學見之那不寶若無價之珍而方下謂治肝腎不足真陰虧損精血枯竭等凡七十餘字叢雜繁蕪可鄙已極汪氏書中大都如此毫無辨駁價值頤亦不屑為之妄費筆墨可惜堯封於此乃亦截取其肝腎不足之十二字作為六味主治則果是精血枯竭而可以丹皮澤苓清涼滲泄毋乃不思之甚耶</p>
<p>腎氣丸　金匱</p>
<p>桂附八味丸加車前牛膝劑用地黃（四兩）　山藥以下皆（一兩）　茯苓（三兩）　附子（五錢）　制</p>
<p>徐藹輝曰金匱要略用桂枝無車前牛膝治婦人轉胞此名加味腎氣丸系治水腫</p>
<p>（箋疏）此嚴用和濟生方也為導水計故於八味方中加以車前牛膝嚴氏本以附子為君而減少地黃治水腫腎陽衰者以地太膩而減其半亦自有理薛立齋又改用茯芩為君汪氏醫方集解錄之於利濕門中名曰加味腎氣丸猶可說也而於六味除了叉曰桂附八味丸加車前牛膝名腎氣丸而注之以金匱二字一似金匱此方本有車前牛膝者何以謬戾至此然汪氏之書世皆喜其卑而易行遂人人心目中皆知金匱腎氣丸方節此十味而市肆中亦皆以十味者稱之為金匱腎氣丸一盲君盲醫藥之學每況愈下</p>
<p>皆汪氏始作之務何堯封亦復沿訛襲謬如此真不可解</p>
<p>青娥不老丸　集解祗名青娥丸未知是一是二治腎虛腰痛</p>
<p>破故紙十兩酒蒸為末胡桃肉十二兩去皮研爛杜仲一斤炒去絲生薑炒蒜各四兩蜜調為丸</p>
<p>又丹溪青娥丸止用故紙四兩杜仲四兩炒生薑二兩牛炒胡桃肉三十個蜜丸桐子大每服四五十丸鹽酒下</p>
<p>（箋疏）青娥丸出和劑局方專入腎家溫潤固澀頗有意味腰痛多是腎虛經謂腰者腎之府轉搖不能腎將憊矣此方溫養滋填且能封固泃有奇功但是服食之法必久久不懈方能有效</p>
<p>黑錫丹　治陰陽不升佯上盛下虛頭目眩運黑鉛二兩硫黃二兩將鉛熔化漸入硫黃候結成片傾地上出火毒研之無聲為度</p>
<p>（箋疏）是方治腎氣不攝君陰用事寒水上凌幾欲汨沒微陽者其證則水泛為痰喘促氣急不能安寐故以黑鉛之重合硫磺純陽之精直入腎家收攝元氣泃虛寒喘嗽之要藥但軍用二味猶嫌獷悍不醇未盡美善不如局方為佳面本事方不用陽起石尤為馴良然是方專為陰氣上乘陽虛欲絕而設局方為之升降陰陽己是大有語病而汪認庵之集解竟謂治陰陽不升降究屬是陰是陽是升是降語氣渾侖最不可曉又謂上盛下虛頭目眩運則一似肝膽火升陽浮於上者正與此症之陰寒上逆者一陰一陽適得其反汪氏憒憒本不足道而堯封乃亦依樣葫蘆不為糾正何其疏耶</p>
<p>參芩白朮散　治脾胃虛弱飲食不消或吐或瀉人參白朮土炒茯芩甘草炙山藥炒扁豆炒薏仁炒蓮子肉去心炒陳皮砂仁枯梗為末每三錢棗湯或米飲調服</p>
<p>＊</p>
<p>（箋疏）此亦和劑局方乃平補脾肯之主藥不偏溫燥最為馴良凡能食而不易消化及飢不思食或納穀無味者宜之</p>
<p>八珍湯　治心肺虛氣血兩虛心主血肺主氣四君補氣四物補血人參白朮士炒荻苓甘草常婦們洗生地芍藥芍翁</p>
<p>（箋疏）四君四物合為八珍按之藥理功能可謂四君氣藥能助脾陽四物血藥能養脾陰一屬氣一屬血只可專主脾胃構決不能泛泛然謂四君補氣四物補血然汪認庵何知藥物真理但認得一個氣字即曰肺主氣而遂謂四君即是補肺藥又認得一個血字即曰心主血而遂謂四物即是補血藥其醫方集解之八珍湯下竟曰治心肺虛損氣血兩虛而又恐他人不能知其何以可治心肺則又注之曰心主血肺主氣云云於是八珍湯之專補心肺乃為確切不移此則汪氏獨有之藥物學而其他方書之不謂然者究竟此八物之實在功用奚若何一味可以補心補肺分而審之宜悟物理之真合而參之當識調劑之鈔</p>
<p>認庵盲瞽安可與語且其他方書言之亦詳何以堯封獨取汪氏豈所謂卑之無甚高論耶然其謬甚矣</p>

<h2>全大補湯</h2>
<p>八珍再加黃萇以助陽固表加肉桂以引人歸元金匱虛者十輛勿瀉之是也</p>
<p>（箋疏）八珍以外加之耆桂蓋為脾腎陽袞者設法東垣制此即從保元湯得來本是溫養之意惟中氣虛寒及陽虛於下者宜之諸書有謂升陽滋陰</p>
<p>已是大謬而汪認庵且能謂肉桂是引火歸元幾欲以治虛陽上浮之症則陽已露矣而更以歸芎升之耆桂溫之其禍乃可翹足而待</p>
<p>補中益氣湯東垣治一切清陽下陷中氣不足之證</p>
<p>黃耆蜜炙（一錢半）　人參甘草（一錢）　炙白朮土炒陳皮（錢半）　當歸（五分）　升麻柴胡三分姜三片棗二枚煎</p>
<p>（箋疏）此惟脾胃氣虛清氣陷於陰中而肢體無力面目萎黃飲食無味脈弱不起者為宜所謂陽虛下陷者是矣若陰虛於下根本不堅者得此害如鴆毒昔賢謂脾胃之虛利於升舉肝腎之虛必不可升學者當須識得清楚</p>
<p>歸脾湯　濟生治心脾受傷不能攝血致血妄行及婦人帶下</p>
<p>人參白朮土炒茯神棗仁炒龍眼肉（二錢）　黃耆（一錢）　半炙當歸酒洗遠志（一錢）　木香甘草（五分）　炙薑棗煎</p>
<p>四物湯治一切血虛及婦人經病</p>
<p>當歸酒洗生地黃芍藥各（二錢）　炒芎窮（一錢半）</p>
<p>（箋疏）四物出於和劑局方實從金匱膠艾湯來即以原方去阿膠艾葉甘草三味方以地黃養五臟之陰而以芍藥收攝耗散之氣是為補血正義特微嫌其偏於陰分無陽和之氣以懊煦之則滯而不行不能流動乃以當歸之辛溫潤澤者吹噓而助其運行又以川穹升舉之使不專於下趨而後心脾肝腎交得基益四物之所以專為補血者其旨如是若夫臨證之時隨宜進退病偏於陽者宜減歸芎病偏於隧著宜減地芍化裁之妙本非教人拘守此四物一成不變則王海藏之許多六合湯支支節節而為之終未免尚</p>
<p>有掛漏矣</p>
<p>奇效四物湯治失血內崩</p>
<p>當歸酒洗熟地黃芍藥炒川穹阿膠艾葉黃芩炒各（一錢）</p>
<p>（箋疏）失血成崩虛實寒熱病非一致奇效四物本於準繩以膠地補血芍藥攝陰並用歸芎升舉陷下而以艾葉調氣滯黃芩理血熱本為偏於陽盛者立法則歸芎艾葉宜輕而膩補之膠地必當隨其虛實而量為增損元方七物並用（一錢）　已屬降非然元方下明言治肝經虛熱血沸騰而久不止則藥理頗能精切何堯封於此僅以失血內崩渾淪言之非制方者之本意矣芎歸湯　治產後血虛頭痛胎動下血服此即安子死腹中服此即下催生神效亦名常歸湯若腹疼加桂若腹痛自汗頭眩少氣加羊肉</p>
<p>婁歸（三五錢）　川芎（二錢）　若為末名佛手散又名一奇散又名君臣散</p>
<p>（箋疏）芎歸二物有陽無陰有走無守抑且川芎疏紲之力極迅惟氣血交滯不利遄行者可暫用之以助運動赦可以試胎（古書謂經陰三月莫測）是娠是病者以芎歸試之是胎則服湯能動非胎則不動則此方流動之力何等迅疾頤謂胎本安也而無端擾動之弊亦不小如體質柔脆者且恐有墮落之虞究竟是胎是病必有見證堪憑何必冒險妄探或以貽禍此蓋淺者為之高明之士必無取乎此）可以止痛（脘痛腹痛之氣滯血凝者輕症此方亦效而重亦非二物能盡其妙）可開交骨可下胞衣可催生胎可下死胎力量何若而是方之下竟謂以治產後血虛頭痛則血既虛矣孤陽上潛而為頭痛又何可以升舉之歸芎助其激越此抱薪救火之謬說孰謂堯封能為之耶</p>
<p>加味芎歸湯</p>
<p>川芎當歸各（一兩）　自死龜板一具酥炙生過男女婦人頭髮一握燒存性治分娩交骨不開或五七日不下垂死者每用一兩水煎服良久自下</p>
<p>（箋疏）此治首胎交骨不開之良法歸芎本有關泄之力而以炙酥龜版之下行自解者助之又合以血餘炭之攻破故其效頗捷</p>
<p>當歸芍藥散金匱治懷妊腹中㽲痛</p>
<p>當歸（三兩）　芍藥（一斤）　茯芩（四兩）　白朮（四兩）　澤瀉（半斤）　芎窮（三兩）　上六味取方寸匕酒和日三服</p>
<p>．</p>
<p>（箋疏）此脾土卑監而寒水泛溢為病故以白朮培土芍藥斂陰而當歸和血芎窮舉陷更以芩瀉滲泄水道非能給氣滯不行之痛趙注金匱竟為芍藥獨多所以瀉肝似非立方本旨</p>
<p>膠艾湯　金匱治婦人衛任虛損經水淋瀝及血虛下痢並妊娠腹痛為胞阻各症</p>
<p>常歸（三兩）　芍藥（四兩）　乾地黃（六兩）　熟芎窮（二兩）　艾葉（三兩）　阿膠甘草各（二兩）</p>
<p>上七味以水五升清酒三升合煮取三升去渣納膠令消盡溫服一升日三次</p>
<p>（箋疏）此血少而陽氣亦衰不能流利運行致為經事淋瀝不斷或下痢腹痛等疲故以是方補血溫養固攝下焦非能治血熱妄行之淋瀝及濕熱積滯之下痢</p>
<p>方下所謂血虛下痢則本非尋常之腸僻可知</p>
<p>黃連阿膠湯仲景治傷寒少陰病得之二三日以上心煩不得臥黃連（四兩）　黃芩（一兩）　芍藥（二兩）　阿膠（三兩）　雞子黃二枚生有徐藹輝曰此陰氣為陽熱所灼也用此以收攝其欲亡之微陰故沈謂子煩陰虛火甚者宜服此</p>
<p>（箋疏）此心血既虛而陽邪於之因煩熱而臥寐不安仲景此條之少陰病</p>
<p>似以手少陰心立淪非足少陰腎家虛火故以阿膠養心液雞子黃寧心神而芩連瀉其實熱芍藥收攝陰氣惟腎陰虛而相火擾之亦足以使其心煩不臥則此固兩少陰熱熾之主方阿膠雞子黃益陰即所以制陽亢堯封謂子煩為陰虛火甚者亦未始非兩少陰同有之病也</p>

<h2>祛動</h2>
<p>大建中湯　金匱　治心胸中大寒痛嘔不能飲食腹中寒氣上衝高皮起出見有頭足上下痛而不可近者</p>
<p>徐藹輝曰心為陽寒為陰寒乘於心陰陽相激故痛寒乘於脾脾冷不消水穀心脾為子母之藏為邪所乘故痛而嘔復不能飲食也</p>
<p>蜀椒二合乾薑（四兩）　人參（二兩）　煎去渣入飴糖一升微煎溫服</p>
<p>徐藹輝曰陽受氣於胸中陽虛則陰邪得以中之陰寒之氣逆而上衝橫格</p>
<p>於中焦故見高起痛嘔不可觸近之症蜀椒辛熱入肺散寒入脾暖腎入腎門補火乾薑辛熱通心助陽遂冷散逆人參甘溫大補脾肺之氣飴糖甘能補土緩可和中所以大祛下焦之陰而復上焦之陽也</p>
<p>（箋疏）此中氣大虛而寒邪氾濫之症陰霾之氣上乘清空汨沒微陽幾於滅絕此非大辛大熱之椒姜何以折服君陰而復離照然非得人參之大力者扶持正氣亦恐小人道長君子道消不易立極奠鰲陽光復闢故三物鼎時顛撲不撓而更以飴糖甘溫緩微大辛之燥烈此建立中州陽氣之大有力者固非彼桂技芍藥之小小建設者所可同日語也</p>
<p>小建中湯仲景治傷寒陽脈澀陰脈弦腹中急痛　傷寒二三日心悸而</p>
<p>煩　通治虛勞悸衄裡急腹痛蘿遺精</p>
<p>徐藹輝曰三陰下痢而腹痛者裡寒也宜溫也四逆湯附子理中湯腸鳴泄</p>
<p>瀉而痛者裡虛有寒也宜小建中散中散寒悸者陽氣虛也煩者陰血虛也與此湯先建其里倍芍藥者酸以斂陰陰收則陽歸附矣　喻嘉言曰虛勞病至於亡血失精精血枯槁難為力矣急宜建其中藏使飲食進而陰血旺故但用稼澀作甘之味生其精血而酸辛鹹苦絕所不用舍是無良法也桂枝生薑（三兩）　甘草（一兩）　炙大棗十二枚芍藥（六兩）　入飴糖一升微火解服此即桂枝加芍藥湯但桂有厚薄耳其不名桂枝加芍藥而名建中以飴糖為君也今入用建中者不用飴糖失仲景遺意矣不去薑桂所以散邪吳鶴皋曰桂枝味薄用以解表桂味厚用以建里</p>
<p>（箋疏）仲景此方為中陽虛餒陰氣散漫無制而設陽脈澀則陽綱不振可知陰脈弦則君陰用事將有汨沒陽光之慮古人以弦為陰脈者其旨如是此與肝膽陽強弦數有力之弦脈不同惟其陰盛故腹中急痛方即桂枝湯而倍芍藥則陰藥為主能引桂枝入陰故一變其御外寒和榮衛之作用而以建立中州之陽氣且芍藥能收攝散漫之陰氣則桂枝既能溫中而又得芍藥以收拾陰霾故治腹痛況又有甘棗飴糖甘溫以和緩之乎其又治心悸而煩者則煩非熱煩悸而挾有水氣是中陽虛而腎水上衝故心悸而煩仲景書中凡言悸者多挾寒水之邪皆以桂伐腎水如發汗過多其人叉手自冒心心下悸欲得按者桂枝甘草湯主之發汗後其人臍下悸者欲作奔豚茯芩桂枝甘草大棗湯主之以及欲作奔豚氣從少腹上衝心者與桂枝加桂湯皆以桂枝治悸其義可知則小建中之治心悸可以類推其虛癆而悸者亦中氣虛寒水邪上泛也蓋古之虛為多屬虛寒乃陽虛之症皆是陰虛火炎者絕端對峙故兼有裡急腹痛其為中陽無權又可知則衄亦虛寒而陰不能守所致其淫夢失精皆屬陽虛皆與今人相火不藏之虛勞相反</p>
<p>若陰虛陽越為衄為遺則涵斂養陰攝納浮火猶虞不及何可再以桂枝辛溫擾動之此臨症時所當辨別病情而萬不可效顰西家謬謂吾能學古者也喻嘉言論虛勞亡血失精僅甘能生血尚是渾淪吞棗胡可為訓黃耆建中湯金匱治虛勞諸不足準繩血不足而用耆耆味甘大能生血此仲景之妙法蓋稼澀作甘甘能補胃冒為氣血之海氣血所從生也即</p>
<p>補血湯耆五倍於當歸之義</p>
<p>即前方加黃耆（兩半）　黃耆易當歸名當歸建中湯　治產後虛羸不足腹中痛引腰背小腹急若崩傷不止加地黃阿膠</p>
<p>（箋疏）此治虛勞皆虛寒也若今人虛火而妄用之即是抱薪救火當歸建中之產後虛羸者亦然而今之產後又多陰虛陽亢得此無殊鴆毒</p>
<p>理中湯　仲景　治傷寒太陰病自利不渴寒多而嘔腹痛糞溏脈沈無力或厥冷拘急或結胸吐寒蛔及感寒霍亂</p>
<p>白朮陳壁上炒（二兩）　人參乾薑炮甘艸（一兩）　炙每服（四錢）　本方等分蜜丸名理中丸</p>
<p>附子理中湯治中寒腹痛身痛四肢拘急即前方（三兩）　加附子一枚補中湯治泄瀉瀉不已者加附子</p>
<p>理中湯加陳皮茯芩　改加青皮陳皮名治中湯治大陰傷寒腹滿痞悶兼食積者</p>
<p>（箋疏）此三方皆中氣虛寒之正鵠其理中治塞之吐瀉輕症而近年多直中三陰之真寒霍亂非大劑四逆湯不能挽回什一則必非古法所能療亦讀古書者之不可知　王盂英陸九芝兩家在同治初元治霍亂時疫皆言是熱霍亂九芝且謂屬熱者十之九屬寒者十之一然頤三十來所見是症幾無一不屬於真寒者此可知時連遷移僅三十餘年而症情實已大異頤不敢謂九芝所見之偏若在近今之霍亂豈盂英論中之蠶矢湯駕輕湯等數方可能勝任耶東垣別有補中湯乃升麻柴胡當歸蒼朮麥芽澤瀉黃耆甘艸五味子神麯紅花與此大異</p>
<p>四逆湯仲景治三陰傷寒身痛腹痛下痢清穀惡寒不汗四肢厥冷或反不惡寒面赤煩躁裡寒外熱或乾嘔或咽痛脈沈微細欲絕</p>
<p>附子一枚生用乾薑（一兩）　甘草（二兩）　炙冷服面赤者格陽於上也加蔥九莖以通陽腹痛者真陰不足也加芍藥二兩以斂陰咽痛陰氣上結也加桔梗（一兩）　以利咽止痛脈不出加入麥（二兩）　以助陽補氣血嘔吐加生萋（二兩）　以散逆氣　上皆通脈四逆湯加減之法</p>
<p>（箋疏）此三陰之真寒腹痛下痢四肢逆冷之主方附子生用欲其力大而專故不炮製以縛賁育之手足其用甘草者本以調和其燥烈之氣焰但陰霾太盛汨沒微陽者即宜獨任姜附而除甘緩庶可犁庭掃穴直搗中堅而嘔吐者甘藥尤為大禁方中注以冷服二字本非仲景所固有蓋以為上有假熱者立法如下利足冷而反有咽痛齒痛面熱頭紅諸症者是若無假熱即當溫服其面赤者是為戴陽乃陰陽之氣格拒不入故亦稱格陽加蔥莖之辛散者以通達氣機則姜附之善守者亦藉其氣而周流不滯腹痛是陰氣散漫故加芍藥以涵斂之此藏陰之耗散故以陰藥同類相求恢復真氣非以芍藥治中下之塞若謂腹痛是陰寒之邪則何得反投陰藥可以止痛此藥理精微之最易誤會者不可不察咽痛亦是格陽於上陰陽二氣不相融洽桔梗苦泄宣過藉以調和陰陽杆格乃開泄府藏之格拒以溝通陰陽於裡者正典蔥莖疏達脈絡之格拒以溝通陰陽之表者各盡其妙故面赤咽痛同是格陽而一表一里病情不同則引導之藥亦復大異古人選藥如是其至精至當實非後人所能探索而說者僅以桔醒利咽止痛尚覺渾侖吞棗未知真味若如潔古張氏竟謂仲景甘桔治咽而謂枯梗是升浮之藥且曰譬如舟枳載藥上浮諸藥中有此一物則藥力即專治其上不能下沉云云試以通脈四逆加桔梗之理思之咽痛已是格陽在上若果桔梗能載姜附上浮豈不助桀為虐本經具在奚有此說潔古之言寧非大誤頤所以調金元諸大家議論多有未可恃者無如俗人寡陋喜其卑而易行簡而易記反以此等無稽之言作為鴻寶甚且無一人不深印腦經永為法守宜乎此學之日以頹敗矣　利止而脈仍不出是大泄之後陰液耗竭府藏乾枯故脈絡空虛不能自起此非人參之大力能補五臟真陰者不能充血液麵復脈非以其陽猶未回而以人參作回陽用且方中本以姜附為主已是回陽上將古方精義其旨可尋而此條方後竟曰加參補陽是踵明人之陋陳修園謂仲景諸方凡用人參皆在既汗既下之後惟其陰液已傷故用參以滋津液參是陰藥並非陽藥云云是深得古人真旨者細繹邃古用藥之理確乎不易奈何自明以來君謂參能回陽氣於無何有之鄉果爾則古人四逆正方何以反無人參耶嘔吐是寒氣上逆四逆湯之姜附能守不能走溫中有餘降逆不足生薑散寒而降逆上之氣自與姜附不同仲景治嘔無不加此一味然惟寒邪為患及挾寒飲者宜之若今之嘔吐則多胃熱氣湧之症不可不審如謂仲師聖法可以通用則趙括之亞矣</p>
<p>真武湯仲景治少陰傷寒腹痛小便不利四肢重疼痛自下利者此為有水氣或咳或嘔或小便利及太陽病發汗汗出不解仍發熱心悸頭眩筋惕肉瞤振振欲擗地氣寒惡寒此亦腎中陽虛見症仍屬少陰方名真武蓋取</p>

<h2>固臂之義</h2>
<p>附子　一枚炮　白朮（二兩）　炒　茯芩（三兩）　芍藥（三兩）　炒　生薑（三兩）水寒相搏咳者加五味子細辛乾薑小便利去茯芩下利去芍藥加乾薑嘔去附子加生薑一倍</p>
<p>（箋疏）真武乃水神之名少陰病而腹痛下利小便不利四肢沉重疼痛是寒水不安其位泛溢上凌幾有匝地滔天壞山襄陵之勢此非得水家神將坐鎮北方何以砥柱中流奠安巨浪附子辛溫剛烈斷推鎮攝陰霾之上將直入腎藏固護兀陽即以白朮實脾堤水而又重任芍藥作陰分之嚮導以收攝其散漫之陰氣乃佐以茯芩滲泄下趨導之去路則水歸其壑而腎陽復辟錫玄圭以告厥成功是亦神禹鎖縶巫支祁之絕大作用也</p>
<p>太陽病發汗過多傷其心液引動腎中寒水氾濫上僭水氣凌心故為心悸陰居陽位故為頭眩君陰川事心陽無依故為筋惕肉瞤振動不息此其病狀與上條各各不同而其父寒水之邪則一故亦主以是方於此可知治病之法但當於病理中求其真詮則披大郄導大窽無不迎刃而解彼徒於見證上支支節節而為之者又何足以知此</p>
<p>附十湯　伸景　治少陰病身軀痛手足寒骨節痛脈沈者及少陰病得之二三日口中和背惡寒者前方去生薑加人參（二兩）</p>
<p>（箋疏）此證又皆少陰寒水之邪故治法仍與真武湯方無甚出入烏梅丸　仲景　治傷寒厥陰證寒厥吐蛔　傷寒藏厥打死藏厥脈微而厥至七八日膚冷發躁無暫安時也蛔厥者蛔上入膈則煩須臾復止得食則嘔而又煩蛔聞食臭復出也此為藏寒當與此丸溫藏安蛔　亦治胃府發咳咳而嘔嘔甚則長蟲出亦主久利烏梅　三百個細辛　桂枝　人參附子（炮）黃檗（六兩）　黃連（一斤）　乾薑（十兩）　川椒去汗　當歸（四兩）　苦酒（醋也）浸烏梅一宿去核蒸熟和藥蜜丸</p>
<p>（箋疏）厥陰為三陰之盡本是陰分自多寒證而陰之盡即是陽之初陰陽遞嬗之交即生生不息之機寓焉且風木之藏涵有相火故厥陰之動又多陽病烏梅丸專治厥陰寒劂自必以姜辛桂附川椒之辛溫剛燥為主而即佐之以連柏苦寒互用溫涼最是別開生面此中機栝如可思又以將軍之官性情剛暴辛燥之藥恐助橫決則更以烏梅苦酒之酸收者柔馴之一劑之中而剛柔寒熱參錯其間治厥陰病者均可以此化而栽之量為增損無餘蘊矣蛔亦感風木之氣化而生故為厥陰之病大辛大苦均是殺蟲利器而古人必謂之安蛔不肯說出一個殺字者皆誤認蛔蟲是吾身必有之物似乎不當聚而殲之者究竟此非應有之物所謂蝨生於吾而吾非蝨父母蝨非吾之子孫者何有不可殲滅之理此方治蛔本以殺蟲安於何有其亦治嘔甚及久利者嘔固厥陰之氣上逆久利亦厥陰之疏泄無度辛溫攝納而苦以堅之中樞有權庶不上泛下泄惟病家體質虛實寒熱各有不同則亦不必呆守成方是在臨證時消息而量度之古人固未嘗不許吾斟酌而損益之也</p>

<h2>祛風</h2>
<p>小續命湯千金治中風不省人事神氣潰亂半身不遂筋急拘攣口眼喎斜語言蹇澀風濕腰痛痰火併多六經中風及剛柔二痙亦治產後中風論見前</p>
<p>麻黃去節　杏仁去皮尖炒研　桂枝　白芍酒炒　甘草炙　人參　川芎　黃芩　防已各（一兩）　防風（兩半）　附子（半兩）　炮去皮膚　每服（三錢）　或（四五錢）　加薑棗煎溫服取微汗</p>
<p>筋急語遲脈弦者倍人參去芩芍以避中寒服後稍輕再加當歸　煩躁不大便去桂附倍芍藥加竹瀝熱去附子入白附子亦可　如不大便日久胸中不快加大黃枳殼如藏寒下利去黃芩防已倍附子加朮　嘔逆加半夏語言蹇澀手足戰掉加菖蒲竹瀝身痛發搐加羌活　口渴加麥冬花粉煩渴多驚加犀角羚羊角汗多去麻杏加白朮舌燥去桂附加石膏　參丹溪心法</p>
<p>（箋疏）中風一症自金匱以後無不以外風立論且無不以為肅殺之寒風故千金外臺兩書續命湯方多以百計無一不麻桂羌防姜辛烏附者然既用大辛大溫為主而又多合以清涼之藥甚至犀羚石膏恆與桂附烏雄雜然並列已是莫明其妙而金元以來說到西北有真寒東南多濕熱痰一層乃有真中類中之分始稍稍判一界限然所言治法仍惟以續命等方推為前列藥不對症將誰適從所以二千餘年凡論是症莫不撲朔迷離無可究結終未兒一明白瞭解可以起而能行行而有效者直至近今西學家有血沖腦經之說始知素問所謂血菀於上使人薄厥又謂血之與氣並走於上則為大厥諸條早已露其端倪而張伯龍雪雅堂醫案惟以潛降鎮攝為治者始有捷效則病本內因且是風火而自古迄今恆以外風外寒論者寧非大謬古人治案尚稱投以續命而獲效者更是何說頤未當久居西北領略彼方風上雖不敢謂伊涼燕趙之域必無此大寒大風為患而以二十餘年所見之症參之則固無一非內因病也已專輯中風斠詮一編備論源委而如是方之下所述諸症潰亂不省半身不遂筋急拘孿喎斜謇又澀無一非氣血沖腦擾犯神經失其知覺運動之病而謂疏表溫中可以得效其何敢信且藥則麻防附桂而曰可治痰火併多更不知為此說者持何理由豈以方中自有芩芍遂可不問桂附所以景岳已謂水火冰炭道本不同縱有神功必不心服尚覺稍分涇湄至古今各家皆謂此方通治六經中風雲云則自金匱有在經在絡入腑入臟之區別而後之說者莫不以中經絡中腑中臟分為三綱見續命方中有麻桂芍芩有似於傷寒之太陽陽明條理遂謂是方可治在經之風而潔古老人且有六經加減一似聖經賢傳確不可易究之昏亂不省不遂不仁口眼喎斜言語譽澀諸症柯者有合於六經之一而續命湯中諸藥又何者可治不省不遂謇澀喎斜之病一為說破當必瞠目而莫明所以抑且三因百病固不能跳出六經範圍而惟此則病在腦經卻不可拘於六經恆例易老逐經加減冀求弋獲實是無此病情添足畫蛇未免辜負他一番苦心孤詣而彼此夢夢依樣葫蘆譬猶群冒談天手舞足蹈那不令人笑倒至若剛柔二痙亦皆腦經震動為病必不能強以太陽之經妄為比附古人麻桂葛根之法萬萬不能適用在產後得之則陰虛陽越又節素問之所調上實下虛為厥巔痰者亦豈麻附防風之所堪妄試者耶</p>
<p>獨活湯　丹溪　治風虛瘛瘲昏憒不覺或為寒熱</p>
<p>獨活　羌活　防風　細辛　桂心　白薇　當歸　川芎　半夏　人參茯神　遠志　菖蒲各（五錢）　甘草（二錢半）　炙每服一兩加薑棗煎</p>
<p>（箋疏）此亦古人誤會之成方苟非真有寒風此法皆不可妄試然方下卻謂風虛云云則又似因虛而風動者是即陰虛於下而陽越生風似此溫燥半升何一非虛家鴆毒</p>
<p>愈風散　華佗　治產後中風口噤角弓反張亦治血暈不省人事四肢強直見產後角弓類名如聖散</p>
<p>（箋疏）荊芥治風固亦為外風言之然既炒成炭復有何用古人雖皆曰神奇而按之藥理病情斷不能特則又何敢輕信</p>

<h2>化痰</h2>
<p>二陳湯　局方　治一切痰飲為病咳嗽脹滿嘔吐惡阻頭弦心悸半夏薑製（二錢）　陳皮去白　茯芩（一錢）　甘草（五分）　加姜煎半夏陳皮貴其陳久則無燥散之患故名二陳</p>
<p>（箋疏）此為治痰通用之成方二陳化痰人盡知之茯芩本為疏滌痰飲之主藥唯市肆中物皆是培植而生故鮮實效加生薑者亦滌飲也惟甘草甜膩正是相反此當去之半夏茯芩湯　干金　治妊娠惡阻煩悶吐逆惡食頭弦體重惡寒汗出等症半夏　生薑　各（三十銖）　乾地黃　赤茯芩　各（十八銑）　橘皮　旋覆花細辛　人參　芍藥　芎窮　桔梗　甘草各（十二銖）車氏祗用八味去細辛川芎桔梗之升提芍藥之酸斂尤為盡善右十二味㕮咀以水一斗煎取三升分三服若病阻積月日不得治及服藥冷熱失候病變客熱煩渴口生瘡者去橘皮細辛加前胡知母各十二銖若變冷下利者去地黃入桂心十二銖若食少胃中虛生熱大便閉塞小便赤少者宜加大黃（十八銖）　去地黃加黃芩（六銖）　餘依方服一劑得下後消息看氣力冷熱增損方更服一劑湯便急使茯芩丸令能食便強健也忌生冷醋滑油膩　方論見惡阻門</p>
<p>（箋疏）惡阻皆氣逆挾痰甘地膩滯必不可投細辛升陽惟胃寒者宜之痰熱不用</p>
<p>茯芩圓　千金</p>
<p>茯芩　人參　桂心熬　乾薑　半夏　橘皮各（一兩）　白朮　葛根甘草　枳實　各二兩</p>
<p>右十味蜜丸梧子大飲服二十丸漸加三十丸日三次　肘後不用幹姜半夏橘皮各（一兩）　白朮葛根止用五物又云妊娠忌桂故熬</p>
<p>（箋疏）古人多寒症故方中有薑桂非今人所宜葛根升舉胃氣亦與嘔家相反善學古者必不可渾侖吞棗</p>
<p>又方　此在景岳全書名竹茹湯治孕婦嘔吐不止噁心少食服此止嘔清痰</p>
<p>青竹茹　橘皮各（十八銖）　茯芩　生薑各（一兩）　半夏（三十銖）</p>
<p>右五味水六升煮取二升半分三服</p>
<p>（箋疏）此乃熱痰互阻泛溢啞嘔之專劑橘皮湯千金治妊娠嘔呸不下食</p>
<p>竹茹　橘皮　人參　白朮各（十八銖）　生薑（一兩）　厚朴（十二銖）制</p>
<p>右六味水七升煮取二升半分三服　附參</p>
<p>金匱軍用橘皮湯又橘皮三升竹茹二升人參（一兩）　寸草（五兩）　炙生薑（半斤）　大棗（三十枚）　名橘皮竹茹湯均治噦述後人又因金匱加半夏赤芩枇杷葉亦名橘皮竹茹湯治虛人嘔逆</p>
<p>（箋疏）此即上方之所自出胃虛有熱而上逆者宜之</p>
<p>六神湯　治產後痰迷神昏膽語惡露不斷者甚或半身不遂口眼歪斜　方</p>
<p>論見前產後案中</p>
<p>杜刮橘紅　石菖蒲　半夏粬（半夏亦可）膽星　茯神　旋覆花各（一錢）　水煎　清服</p>
<p>（箋疏）此方專於化痰降逆而能治產後神昏譫語甚至不遂喎斜者竟能捷於影響豈非降其逆上之氣火而神經自安觀此前之錄小續命者益可知是古人舊注必不適用</p>

<h2>理氣</h2>
<p>紫蘇飲　嚴氏　治胎氣不和湊上心胸腹滿痛悶名為子懸懷胎至四五月君相二火養胎熱氣逆上之故</p>
<p>紫蘇（一兩）　腹皮　人參　川芎　橘皮　白芍　當歸（三分）　甘草（一分）　銼分三服　水（一蓋）　生薑（四片）　蔥白煎去渣服一方無川芎名七寶散汪認庵醫方集解載此蘇葉止（一錢）　當歸（七分）　甘草（二分）　餘皆（五分）</p>
<p>（箋疏）此古今治子懸之主方論已見前</p>
<p>天仙藤散　陳景初制本名香附散治子氣腫脹</p>
<p>天仙藤　即青木香藤洗略焙　香附　炒陳皮　甘草　烏藥　木香等分銼末每服（五錢）　加生薑（三片）　紫蘇（五葉）　水煎日三服腫消止藥汪本無木香有木瓜（三片）</p>
<p>（箋疏）此治氣脹而無水者然腫脹必挾積水以絡中無水亦不大脹則必以開肺氣通小水為主專用氣藥究竟鮮效木香散　王師復　治妊娠四五月後胸腹間氣刺滿痛或腸嗚嘔逆減食</p>
<p>此由忿怒憂思飲食失節所致</p>
<p>莪朮　木香　丁香　甘草　鹽陽下</p>
<p>（箋疏）此治中氣虛寒之法故有丁香非脹痛者必以此為主藥</p>
<p>抑氣散　丹溪　治婦人經將行而痛氣之滯也</p>
<p>四物加胡索牡丹皮條芩</p>
<p>（箋疏）痛在經前必不可膩補此方非良法</p>
<p>又柳氣散　嚴氏　治婦人氣盛於血變生諸證頭暈脘滿</p>
<p>香附（四兩）　陳皮（一兩）　茯神　甘草　研為末每服（二錢）</p>
<p>（箋疏）所謂氣盛氣之滯也故用藥如是</p>
<p>抑青丸　大瀉肝火治左脅作痛　婦人怒氣傷肝胎氣上逆致嘔逆水飲不能入黃連一味吳萸湯浸一宿為丸</p>
<p>（箋疏）此惟肝膽火熾者宜之方名抑青所主在是然非有宣導氣分者佐之亦嫌遏郁不能靈遍</p>
<p>代赭旋覆湯　仲景　治傷寒發汗若吐若下解後心下痞鞭噫氣不除慮邪</p>
<p>雖解胃弱不和虛氣上逆故也</p>
<p>又周楊後曰余每備以治反胃噎食氣逆不降者神效活入云有代赭旋覆證氣虛者先服四逆湯胃寒者先服理中湯後服此方為良</p>
<p>旋覆花（三兩）　代赭石（一兩）　人參（二兩）　甘草（三兩）　半夏（半升）　生薑（五兩）　大棗（十二枚）</p>
<p>（箋疏）此斡旋中州氣滯而鎮攝其上壅之逆最能桴應仲景本治汗吐下後之噫氣故有參甘大棗若在虛人雜病中參固宜也惟有痰窒則須去甘棗耳</p>
<p>旋覆花湯　金匱</p>
<p>旋覆花　蔥　新絳</p>
<p>（箋疏）此疏達肝家結滯通絡和血之方尤在涇謂旋覆花治結氣去五藏</p>
<p>間寒熱通血脈蔥主寒熱除肝邪絳帛入肝理血者也</p>
<p>逍遙散　局方　治血虛肝燥骨蒸潮熱口乾便澀月經不調</p>
<p>柴胡　當歸酒拌　白芍酒炒　白朮土炒　茯苓各（一錢）　甘草炙（五分）加煨姜　薄荷煎本方加丹皮梔子名加味逍遙散</p>
<p>（箋疏）此為肝絡鬱結窒塞不宣變生諸症故以柴胡疏泄鬱氣經所謂木鬱達之者故名逍遙肝木既滯窒而不通則必鬱而化火故加味丹皮梔子若肝膽氣火橫逆勢已猖狂而復用此則教猱升木為害尤烈</p>
<p>小柴胡湯　仲景　治傷寒中風少陽證往來寒熱胸脅痞滿默默不欲食心煩喜嘔或腹中痛或脅下痛或渴或咳或利或悸小便不利口苦耳聾脈弦或汗後餘熱不解及春時嗽發瘧寒熱婦人傷寒熱入血室小紫胡在經主氣在藏主血故更能入血室</p>
<p>柴胡（八兩）　半夏（半升）　人參　甘草　黃芩　生薑（三兩）　大棗（十二枚）</p>
<p>（箋疏）仲景以此為傷寒少陽經之主方本為寒邪外柬少陽之氣鬱遏不宣故為寒熱往來其寒之不已者正其表邪未解之明徵則雖已傳少陽而仍當升散解表柴胡稟少陽春升之氣宣達木鬱見其專職其症則口苦耳聾目眩胸脅痞滿默默不欲食心煩喜嘔或脅下硬滿而痛或腹痛無一非肝膽之氣為寒邪所郁故以此升而達之斯少陽之氣得宣而諸證可解若至溫病熱病則本非寒邪而為此諸症又皆少陽相火有餘橫決肆虐此則清紲宣通猶虞不及而謂可以柴胡升散助其發揚吾知仲景處此必不若是此古今病情之絕不相同者雖見症亦復無異而病理適得其反奈何宋金以逮元明恆以柴葛等方通治溫熱之少陽經病則功不補患為禍且有不可勝言者讀近人治案為利為弊鑿鑿可據是亦讀古書之必不可不變通者況乎今之胸脅滿痛默默欲嘔者更無一非痰熱交肆其虐而復以柴胡升之參甘大棗膩之其害更捷於眉睫而篤信好古者不悟也不亦怪哉又按瘧之為病挾痰挾積者十而八九惟開泄化痰最為捷效然嗜古者亦必曰小柴胡乃治瘧聖法弊又不可勝言惟虛人發瘧其發日晏而汗多無痰舌苔清楚者則為陽陷入陰非柴胡升舉之不可此則東垣補中益氣成方重加首烏投之即應而舌膩胸滿者又是相反此豈可一例論者而近今作家或如徐靈胎輩則曰非柴胡不可治瘧而宗葉天士者又謂必不當用柴胡是兩失之矣婦人傷寒熱入血室其可用小柴胡者尤其百不得一然徐洄溪猶未知此理更何論乎自槍以下堯封是書前錄數案皆以小柴胡而變劇者豈非殷鑑而於此尚復糊糊塗塗直抄仲景元文是何可食而不知其味者後有好古之土尚其慎思而明辨之</p>

<h2>理血</h2>
<p>小薊飲子　治男婦下焦熱結尿血淋漓溺痛者為血淋不痛者為溺血　論見妊娠經來類</p>
<p>小薊　蒲黃炒　藕節　滑石　木通　生地　梔子炒　淡葉當歸　甘草各（五分）</p>
<p>（箋疏）此血淋溺血通治之方清血熱通水道雖無甚深意以治濕熱蘊結頗有捷效</p>
<p>導赤散　錢氏　治小腸有火便赤淋痛　論見帶下類</p>
<p>生地黃　木通　甘草　淡竹葉等分煎</p>
<p>（箋疏）小水熱赤本是膀胱蘊熱與小陽無異此方木通竹葉只以清導膀胱之熱而方名導赤者制方者意中非以導去小便之黃赤蓋謂小腸屬火而清導之古人無不誤認小便從小腸而來故方下徑曰治小腸有火實是大誤不可不正</p>
<p>血極膏　羅謙甫　治婦人汙血凝滯胞門致成經閉　論見經閉類大黃一味為末酷熬成膏服之利一二行經血自下</p>
<p>（箋疏）大黃本是逐淤破血之猛將一味獨用其力尤足將軍固專閒材也</p>
<p>蕩胞湯　千金　治二三十年不產育胞中必有積血　論見求子門林硝　丹皮　當歸　大黃　桃仁　生用各（三銖）　厚朴　桔梗　人參赤芍　茯芩　桂心　甘草　牛膝　橘皮各（二銖）　附子（六銖）　虻蟲水蛭各（十枚）</p>
<p>右十七味㕮咀以清酒五升水五升臺煮取三升分四服日三夜一每服相去三時覆被取微汗天寒汗不出著火籠之必下膿血務須斟酌下盡二三服即止如大悶不堪可食酢飯冷漿一口即止然恐去惡不盡忍之猶妙</p>
<p>（箋疏）千金求嗣門調經諸方治婦入多年不育每用攻血破淤之品以為不孕之故必有積淤停滯胞門若有非去其垢不可者然在豐年壯實之體固有停痰積淤一症對病用藥本無不可若在柔脆瘦弱之人本以坤道不厚不能載物亦胡可一概而論是在臨證時消息求之雖不能孟浪從事要亦不必因噎廢食也</p>
<p>奪命散　治產後惡露不行眩暈昏冒　論見產後眩暈門及惡露不來沒藥　去油（二錢）　血竭（一錢）　共研末分兩服糖調酒下</p>
<p>（箋疏）產後惡淤窒而不行以致地道不通氣火上冒而為眩暈昏憒自宜攻破下行庶可奠定其上升之逆方用沒藥血竭二味尚是和平中正之藥惟引用砂糖雖能活血導淤尚嫌膩滯所當審慎如在炎天更為禁品王盂英當再三言之亦產母房中不可不知之訣而酒能上升更非所宜制方之人僅欲其通經迅速而不悟眩暈氣升者得之為害將不可設想按產後淤血名為惡露由來舊矣初不知何以而得此命名蓋露乃取發見於外之義此是淤垢可去而不可留則不宜藏而宜於露故新產用藥必參用攻破導淤之品其所去無多而本無澀滯者終是少數此等方即非昏眩亦尚可投惟亦有去血已多而陰虛陽越之昏冒則必以潛陽鎮攝為治大虛者且非補不可亦非此二味之可以無往不宜者也</p>
<p>奪命丹　良方　治淤血入胞脹滿難下急服此節消胞衣自下</p>
<p>徐藹輝曰似與前論惡閉致喘證未對姑列此以俟再考</p>
<p>附子炮（半兩）　乾漆碎之炒煙盡　牡丹皮各（一兩）右為細末另用大黃末（一兩）　以好酷一斗同熬成膏和前藥丸桐子大溫酒吞五七丸一方有當歸（一兩）</p>
<p>（箋疏）是方惟以逐淤為主然乾漆終嫌有毒以治胞衣不下非穩妥之法徐謂奧前論淤阻作喘一證不對確是兩不相符但破淤之意亦尚不通</p>
<p>花蕊石散　治血入胞衣脹大不能下或惡露上攻或寒凝惡露不行花蕊石（四兩）　硫黃（一兩）　研細泥對煆赤服（一錢）　童便下又葛可久花蕊石散　治略同上</p>
<p>花蕊石煆存性研如粉以童便一盞男人入酒少許女人入醋少許煎溫食後調服（三錢）　甚者（五錢）　能使淤血化為黃水後用獨參湯補之非寒凝者不宜此</p>
<p>（箋疏）花蕊石專於破淤和劑局方已有成例乃溫遍之峻劑也無極丸　治惡露不行發狂譫語血淤之重者</p>
<p>錦紋大黃（一斤）　分作（四份）　一份用童便兩碗食鹽（二錢）　浸一日切曬一份用醇酒（一碗）浸一日切曬再以巴豆仁（三十五粒）　同炒豆黃去豆不用　一份以杜紅花（四兩）　泡水一碗浸一日切曬一份用當歸四兩人淡醋一腕同浸一日去歸切曬為末錬蜜丸梧子大每服五十丸空心溫酒下取下惡物為驗未下再服</p>
<p>（箋疏）是方出李瀕湖本草綱目引醫林集要云此武當高士孫碧雲方也治婦人經血不通赤白帶下崩漏不止腸風下血五淋產後積血症瘕腹痛男子五勞七傷小兒骨蒸潮熱等症云云本是專為通經逐瘀而設其帶下崩漏腸風下血等症亦必有惡瘀積滯者始可用之非以概治盧不能攝之帶下崩漏便血可知若五勞七傷骨蒸潮熱則雖是虛勞而經絡之血已為</p>
<p>熱勢灼爍盡成淤滯古人多用宣通破瘀之法正以瘀不去則新不生除舊乃所以布新固非畏虛養癰者所可同日而語然亦必其人正氣未泯足以勝任方可背城一戰若不量體質而貿然投之則適以速其絕矣堯封以治產後淤滯發狂正以淤結甚熾氣火極盛非此猛將急投不能去病或有陰</p>
<p>虛陽越並血困淤阻者亦當審之　失笑散　局方　治惡露不行心包絡痛或死血腹痛不省人事蒲黃　五靈脂淨者　等分炒為末煎膏醋調服或用二三錢酒煎熱服</p>
<p>（箋疏）此方治瘀血心腹痛甚有捷效而產後作痛尤為合宜</p>
<p>如神湯　治瘀血腰痛下注兩股如錐刺</p>
<p>延胡　當歸　肉桂等分水煎服</p>
<p>（箋疏）此溫通行瘀之法與無極丸血極膏之苦寒治證各別惟在善用者</p>

<h2>臨證擇之</h2>
<p>二味參蘇飲</p>
<p>人參　蘇木</p>
<p>此亦新產行瘀之一法正氣已衰而瘀滯未去者宜之</p>
<p>清魂散　嚴氏　治產後惡露已盡忽昏暈不知人產後氣虛血弱又惑風邪也</p>
<p>澤蘭葉　人參各（二錢半）　荊芥（一兩）　川芎（五錢）　甘草（二錢）</p>
<p>右為末用溫酒熱湯各半蓋調灌（一二錢）　能下咽即眼開更宜燒漆氣淬醋炭於床前使聞其氣</p>
<p>（箋疏）惡露已盡而忽昏冒此真陰大耗而孤陽上越沖激腦經也故方用人參然此是陰虛之內風陡動非可誤作外風荊已非所宜而乃妄用辛升之川芎酒以助其浮越最是古人誤認內風為邪風之通病於嚴用和何尤然在今日腦神經病之原由昭然共曉則古方中似此之類不可不一律</p>
<p>劃除淨盡</p>
<p>伏龍肝散　治大小產血去過多不止</p>
<p>伏能肝</p>
<p>（箋疏）產後血去過多不止此非大補真陰而大封大固不可救急者此方一味雖亦可以溫中固澀然力量甚薄安得有恃無恐病重藥輕而令病人不起亦何嘗非醫者殺之能肩大任之人當不以此言為河漢</p>
<p>黑龍丹亦名琥珀黑龍丹治產難及胞衣不下血迷血暈不省人事一切卮急惡候垂死者但灌藥得下無不全活亦治產後疑難雜證案見奇證中</p>
<p>當歸</p>
<p>五靈脂淨者　川芎　良薑　熟地各（二兩）　銼碎人砂鍋內紙筋鹽泥固濟火煆過百草霜（一兩）　硫黃　乳香生（二錢）　琥珀花蕊石各（一錢）　為細末酷糊丸如彈子大每用一二丸炭火煆紅投入生薑自然汁中浸碎以童便合酒調灌下</p>
<p>（箋疏）此又溫通逐瘀之一法瘀積而不宜苦寒者用之</p>

<h2>外科</h2>
<p>托裡散治一切惡瘡發背疔疽便毒始發脈弦洪實數腫甚欲作膿者亦治產後瘀血將成膿　論見前</p>
<p>金銀花　當歸（二兩）　大黃　朴硝　花粉　連翹　牡蠣　皂角刺　三稜黃芩赤芍（二錢）　每五錢半酒半水煎</p>
<p>（箋疏）此方在瘍科書中每以為消毒退腫適用之方其實瘍患之屬寒屬熱萬有不齊安有預定一方可以通治百病之理且人體虛實又復各別是方清熱為主可以治實熱之重疲然用酒煎又為熱瘍之大害惟方下所謂治疔毒而脈弦洪實數欲作膿者數言庶可近似乃又雜之以發背一症則須知始發一粒如黍粒而漸以堅腫屑背板滯者方是背疽萬無可用涼藥之理方中諸味直同鳩毒而又雜之以亦治產後瘀血將成膿一句則產虛敗瘀入絡誠有堅腫為瘍之一候治之之法只有通經行瘀而參之以溫和燠煦則可消散誤授清涼適以助其凝結況乎硝黃翹芩一派大苦大寒而可以妄試乎且產後瘀血成癰亦不應有弦洪實數之脈如有之則為壞症堯封於瘍科初無經驗故有此枘鑿不入之門外語然豈不知產後之脈靜者為吉躁者為凶耶是何可以不正</p>
<p>蠟礬丸　治一切瘡癰惡毒先服此丸護膜托裡使毒木攻心或為毒蟲蛇犬所傷並宜服之</p>
<p>黃獵兩白礬（一兩）　先將蠟熔化候少冷入礬和勻為丸酒下每服十丸二十丸漸加至百丸則有力瘡愈後服之亦佳</p>
<p>（箋疏）此丸亦向來瘍科所謂護膜解毒之良方謂毒邪甚盛恐其內陷攻心及膿成皮裡膜外恐其潰深穿膜者此丸皆可以保之礬取其澀蠟取其滯看似未嘗無理實則蠟最礙化礬燥且澀大傷胃氣而毒果甚者反以助其堅凝又安有清解之可說且膿成膜外藥走胃腸又何緣而能護膜乃謂可服至百丸之多其謬已極而瘍科書中皆盛稱三似必不可無之耍藥則多是理想之謬要之蠟礬黏澀非能如縫者之補綴垮者之畫像可以直黏心膜而保護之斯真耳食之見矣</p>
<p>太乙膏　丹溪　治癧子瘡神效</p>
<p>腦子（一錢）研　輕粉乳香各（二錢）研　麝查三錢研　沒藥（四錢）研　黃丹（五兩）</p>
<p>右用清油（一斤）　先下黃丹熬用柳枝欖又用憨兒蔥七枝先下一枝熬焦再下一枝蔥盡為度下火不住不攬覷冷熟得所入腦子等藥攬勻磁器盛之用時旋攤</p>
<p>（箋疏）此即今治瘍家通用之薄貼潰也未者可另加退消藥物為消毒用已潰則另加藥物為提毒去腐用至毒盡新生膿水已淨時則即不另加藥亦可生肌收口蓋丹粉乳沒俱有點級之力本能生新惟腦麝太多亦甚無謂而不能貧富共之即減去十之七八亦無不可但此是治外之法而古書中竟有用作丸服以治腸胃生癰者能泄導膿淤極有奇效則黏膩之質適與攻淤相反且非腸胃本性之相習必不可信瘍醫家言常常有此怪不可識之議論多與病理自相矛盾者此頤所以恆謂通行之瘍科各書無一善本也</p>
<p>潤下</p>
<p>麻仁丸　仲景　治便難脾約</p>
<p>大黃（四兩）　蒸厚朴　枳實　即大承氣無芒硝也　麻仁（一兩一錢）　杏（二兩二錢）　去皮麩妙芍藥蜜丸梧子大每服三五十丸溫水下丹溪書名仁脾約丸</p>
<p>麻仁丸　丹溪　治同上兼治風秘</p>
<p>郁李仁麻子仁各（六兩）　另研大黃（一兩半）　以（一半）　炒山藥　防風松殼（七錢）　半炒　檳榔　羌活　木香各（五錢半）　蜜丸格子大服七十丸白湯下</p>
<p>（箋疏）兩方潤燥滑腸功力相近至邇時則多用前明吳興陸氏之所謂潤字丸其藥味效用亦約略相似方見陸氏三世醫驗近紹興新出之廣溫熱論亦有之但醫驗所載之治案文字淺陋於病理亦時時矛盾且最多剿襲雷同之弊本非佳作則其方亦不甚可信故廣筆記已言傳之不真或陸氏當時自制此方而秘不肯傳亦可見富時醫界所見之小矣</p>
<p>平胃散　局方　治脾有停濕痰飲痞膈宿食不消滿悶溏瀉加朴硝善腐死胎　論見產類</p>
<p>蒼朮泔浸（五斤）　厚朴薑製　炒陳皮去白各（三斤）　甘草（三十兩）　炒</p>
<p>右之末每服五錢加姜三片棗一個煎入鹽一捻沸湯點服亦得　見丹溪書</p>
<p>（疏箋）此本燥濕之佳方以胃有濕痰則運化疲而不思納蒼朮厚朴善於除濕而醒胃氣名曰平胃所以振動其消化之作用也乃女科家每謂以是方加朴硝能使死胎腐化而下則服藥以盪滌腸胃豈能腐到腸胃以外之胎其說己不近情用胎之所以死者具有種種原因豈一味朴硝所可概治前卷引聖濟論子死腹中一條已明言其故矣</p>

<h2>胎產</h2>
<p>安胎方　黃耆蜜炙　杜仲薑汁炒茯芩各（一錢）　黃芩（一錢五分）　白朮生用（五分）　阿膠珠（一錢）　甘草（三分）續斷八分胸中脹滿加紫蘇陳皮各八分下紅加艾葉地榆各二錢並加多阿膠引用糯米百粒酒二杯煎服腹痛用急火煎</p>
<p>（箋疏）胎動不安多由於內熱擾之而土德不健失其坤厚載物之職亦其一因故丹溪有言黃芩白朮安胎聖藥是方即本此意而以黃耆阿膠養血</p>
<p>而舉其氣杜仲續斷黏韌以固其基制方之義簡而能賅確是安胎之善法但臨用時亦當相其人體質之寒熱虛實而增損之尚非可以一概而施方後謂胸中脹滿加紫蘇陳皮即治子懸之法則方中之耆必非所宜下紅加艾葉地榆甚是惟引用糯米嫌其膩滯且失之柔又用酒煎則更非穩妥之道矣</p>
<p>保胎神佑丸　此方屢驗一有孕節合起每日服之凡易滑胎者自無事且易產</p>
<p>白茯芩（二兩）於朮（一兩）米泔浸一日黃土炒香條芩（一兩）酒拌炒香附（一兩）童便浸炒延胡（一兩）米醋炒紅花（一兩）隔紙烘乾　益母草淨葉去梗（一兩）真沒藥（三錢）瓦上烙干去油</p>
<p>右為末蜜丸桐子大每服七丸白滾水下若胎動一日可服三五次切不可參服一丸至囑</p>
<p>徐藹輝曰胎滑自是血熱動胎之故方中紅花行血延胡走而不守恐非保胎所宜況已有香附行氣氣行血自不滯何取動血之品宜去之為穩</p>
<p>王盂英曰每服七丸故有奇效而無小損也毋庸裁減</p>
<p>又曰神佑丸兼能調經種子大有殊功</p>
<p>（箋疏）方用芩術仍是丹溪成法內熱者宜之而肥白氣虛者亦不必泥延胡雖曰能走然運動血中之氣亦與香附相近世皆以為破血行血猛藥殊覺言過其實尚可無慮惟紅花未免無謂蓋富貴之家一覺成孕即萬分謹慎毫不動作而懷胎十月妊婦惟有安坐高臥一身氣血遲滯何如故其中香附不已又是延胡紅花蓋即為若輩不運動者設法要素之家井白親操者固亦無須於此服法亦奇僅僅七丸其力不失之峻固無妨於常服若盂英所謂奇效恐未必然又謂能調經種於則即其通調氣血之功用耳保胎磐石丸</p>
<p>懷山藥（四兩）微炒　杜仲去粗皮淨（三兩）鹽水炒斷絲　川斷續（二雨）酒炒共為末糯米糊為丸如綠豆大每（三錢）米湯送下方雖平常屢用屢驗乃異人所授也凡胎欲墮者一服即保住慣小產者宜常服之或每月服數次至慣半產之月即服之無不保全</p>
<p>（箋疏）杜仲續斷皆有補傷絕續之功是保胎之無上妙品而君之以薯蕷培土為主又是坤厚載物之微旨立方純正最穩而驗尚在前二方之上但糯米糊丸似嫌太膩不如水法丸之靈動此可多服必無流弊</p>
<p>銀薴酒　治妊娠胎動欲墮腹痛不可忍及胎漏下血</p>
<p>薴酒（二兩）紋銀（五兩）酒（一碗）如無薴之處用茅草根（五兩）加水煎之</p>
<p>（箋疏）本草言薴麻性滑而根又下行且銀能重墜按之物理頗與胎元有礙然世多用之而未言其害此藥理之不可知者且用酒煎尤嫌其動而不守豈以酒能上行耶升舉之義耶惟茅根代薴則清涼滑潤又是下行妊家皆以為禁品而此方用之則不矛信耳</p>
<p>紫酒　治妊娠腰痛如折</p>
<p>黑料豆二合炒熟焦白酒一大碗煎至（七分）空心服</p>
<p>（箋疏）腰痛本是腎虛黑豆補腎酒能引之是可法也</p>
<p>回急保生丹　仙傳　此方得之神感效驗異常</p>
<p>大紅鳳仙子九十粒白鳳仙子（四十九粒）自死龜板（一兩）麻油塗炙通梢　懷牛膝（三錢）桃仁（一錢五分）川芎（五錢）白歸身（五錢）鳳仙子研末包好臨產時將餘藥稱明分兩為末配入臨盆時米飲調服（二錢）遲則再服（一錢）交骨不開者即開難產者不過三服　臨盆一月內本方去鳳子人益母膏（二兩）每日早米飲調服（二錢）則臨盆迅速（胎元不足者勿服）產後瘀血不淨變生病者或兒枕痛於本方內加炒紅曲（三錢）酒炒馬料豆二合共為末用童便半杯陳酒半杯訓服（二三錢）即愈惟鳳仙子臨盆時用</p>
<p>（箋疏）此為催生之法鳳仙子本名急件下行極速惟見抵產門而離產時間或可用治交骨不開者亦佳若謂彌月之時已可預服則龜板牛膝桃仁皆嫌太早欲速不達胡可妄試所謂天下本無難事而庸人自擾之為害必有不可言言者若在產後則芎歸殊雖通用吳鞠通已備言之矣近傳催生方以保生無憂仿為佳貌視之方極雜亂而程氏醫學心悟解之極妙用之者亦恆應驗但非臨盆時必不可早投而達生編中竟以為安胎之用適得其反誤用之無不墮者頤見之屢矣然達生一編無家不有害人真是不小無憂散在達生編中名保胎神效方真是大謬</p>
<p>通津救命玉靈丹　仙傳　治裂胞生及難產數日血水己乾產戶枯澀命在垂危者</p>
<p>龍眼肉去核（六兩）生牛膝梢（一兩）黃酒浸搗爛將龍眼肉煎濃汁衝入牛膝酒內服之停半日即產親救數人無不奇驗</p>
<p>孟奐曰龍眼甘溫極能袖血大益胎產力勝參耆宜先期剝去淨肉貯磁碗內每肉（一兩）加入白沙糖（一錢）素體多火者並加西洋參片如糖之數冪以絲綿一層日日放飯鍋內蒸之蒸至百次者良謂之代參膏較生煎者功百倍矣娩時開水淪之其汁盡出如過難產即並牛膝酒共淪更覺簡便凡氣血不足別無痰滯便滑之病者不論男婦皆可蒸服殊騰他劑也</p>
<p>（箋疏）裂胞生者吾鄉相傳作瀝胞謂胞光破而連日不生胞水瀝枯門產乾澀致於難產此非峻補真陰養其津液情殊可慮龍眼肉甘溫多液洵為補血上品名為通津救液允無愧色合以牛膝長稍直達下焦制方之意大有作用且是萬無流弊之良法然何以託名仙傳反蹈小家伎倆孟英以糖霜洋參蒸制可務急用亦是妙諦今吾鄉常用此法預先蒸透以待臨時應用即非難產亦可服之以助津液但鄉間俗傳謂不可早服反致補住氣血不易達生必俟兒到產門方可飲之又謂產後亦不宜服頤愚則謂新產真液太傷正宜倍養苟有外感及痰食實邪亦何不可補之有此等俗說必不可信為洋參則價重而無甚功力今多用別直參同蒸頤謂可用遼參鬚取其下行為順催生乃產後亦是無往不宜</p>
