<header data-type="book">
<h1>外科十法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>程國彭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1733">公元1733年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>《外科十法》者，予歸宗普陀時所作也。余自普陀生長天都，五十有三載，業醫者凡三十年。爰著《醫學心悟》一書，詳言內證，梓行於世，而外科有未及。壬子冬，還歸普陀修行。適逢聖祖仁皇帝廣發帑金，修葺我菩薩行宮。前後寺僧及工作人等，不下數千人。其中病患不一，予為調治悉痊。復有患背疽者，有患廣瘡疥癬者，投以膏散，不半月而收功。因思予在天都時，僅著內科，而未及外科，亦一時之闕略也。乃復聚精會神，參悟外科旨要，約以十法，而施治之道，似無餘蘊。言簡而賅，方約而效，以之問世，庶幾其有小補乎。將見《十法》一書，與《醫學心悟》並行於天壤間也。</p>
<p><u>天都普明子程國彭鍾齡著</u></p>

<h1>外科十法</h1>

<h2>內消法一</h2>
<p>內消者，腫毒初起，隨用藥消散也。凡病癰疽、發背、對口、疔毒，其初起憎寒壯熱，有似傷寒，而痛偏一處，飲食如常者，蓄積有膿也。當初起時，膿尚未成，不過氣血乖違，逆於肉理耳。外敷以遠志膏，或貼普救萬全膏。內服銀花甘草湯，即時消散。若系疔瘡，急宜刺破。或艾灸腫處，塗上蟾蜍餅，貼以萬全膏，內服菊花甘草湯，隨即平伏。菊花連根帶葉，皆治疔瘡之聖藥也。其中亦有挾風寒而發者，宜先用芎芷香蘇散以散之，隨服菊花、銀花等藥，即可內消。須及早下手，不可遲滯。</p>

<h2>艾灸法二</h2>
<p>隔蒜灸法，勝用刀針。書云，不痛灸至痛，痛灸不痛時。凡治癰疽疔腫流注及一切無名腫毒，以大蒜切片，安瘡頂上，用陳艾炷安蒜上，香點灸之。其艾炷大小，看瘡毒大小為取裁。若癰疽之大者，以蒜搗餅，敷上灸之。不痛者灸至痛而止，痛者灸至不痛而止。若內已有膿，即將烏金膏塗灸處，外用普救萬全膏貼之。爛開大口，卸卻瘀膿，易收功也。若口不收，或腐肉不脫，洗用防風湯，敷以海浮散，外貼萬全膏，腐自去，新自生，計日可愈，真神藥也。</p>

<h2>神火照法三</h2>
<p>凡腫在頭面以上者，不宜艾灸，恐引火氣上攻，宜用火照法，神乎其神。法用火照散，安紙捻中，以麻油浸點。每用火三枝，離毒半寸許照之。自外而內，俾氣透入。皮色紫滯者，立轉紅活。若瘡熱平塌者，立轉高聳。仍須不時照之，則毒氣頃解，轉陰為陽，以收全功。且此法不止施於頭上，即如發背等毒，亦宜用之。其頭面患毒，亦有用艾灸而愈者。因其毒純陰，平塌頑麻，非艾灸無功。但艾炷宜小，如黍粒樣式。二法乃瘡疽門之寶筏，宜互用參考，以神其用。</p>

<h2>刀針砭石法四</h2>
<p>凡毒有脹痛緊急，膿已成熟，無暇待灼艾火照者，即宜用刀法開之。但刀法，須在的確膿熟之時，又須要深淺合度。以左手按腫處，先看膿之成否。如按下軟而不痛，腫隨手起者，膿已成也。按下硬而痛，或凹陷不起者，膿未成也。已成膿者可刺，未成膿者宜姑待之。若脾氣虛弱者，宜托補之。又須看其膿之深淺，以手指按下，軟肉深者，其膿必深；軟肉淺者，其膿亦淺。若膿淺刀深，恐傷好肉。膿深刀淺，恐膿不出而肉敗，最宜斟酌。更有伏骨之疽，膿腐於肉，皮色不變者，宜以刀刺入深處，放出瘀膿。或灸開大口放出之。不得姑息因循，俾毒氣越爛越深也。其小刀須利刃，勿令病者見，恐驚彼耳。砭法施於頭面及耳前後。因其漫腫無頭，急用此法以瀉其毒。取上細瓷鋒，用竹箸夾住緊扎，放鋒出半分，對患處，另以箸敲之，遍刺腫處，俾紫血多出為善。刺畢，以精肉切片貼，再用雞子清調乳香末潤之。此地不宜成膿，頭肉中空，耳前後更多曲折，提膿拔毒，恆多未便，故砭法斷宜早施。</p>

<h2>圍藥法五</h2>
<p>書云，用膏貼頂上，敷藥四邊圍。凡腫毒之大者，將以成膿，用烏金膏貼瘡頭上，然後用萬全膏貼之，四旁用芙蓉膏敷之。貼膏處取其出膿，敷藥處取其消散。並能箍住根腳，不令展開。其作三層敷圍法。第一層用烏金膏貼瘡頭。若漫腫無頭，以濕紙貼上，先干處是瘡頭也。第二層萬全膏貼之。第三層芙蓉膏圍之。然予嘗用萬全膏遍覆腫處，連根腳一齊箍住，其中消處自消，潰處自潰，竟收全功。可見膏藥之妙矣。</p>

<h2>開口除膿法六</h2>
<p>凡治癰疽，口小膿多則膿不出，或出而不盡，或薄膿可出，硬膿難出，以致瘀不去而新不生，延綿難愈。法當爛開大口，俾瘀膿盡出為善。其爛藥，烏金散最佳。祛瘀肉不傷新肉，且不甚焮痛，為至妙也。若有膿管，以棉紙捻裹藥納入，頻換數條，即化去耳。亦有頑硬之極，非烏金散所能去者，則用化腐紫霞膏搽之。然終不若烏金散為至穩。</p>

<h2>收口法七</h2>
<p>凡治癰疽最難收口者，由瘀肉夾雜，瘀膿不盡所致。庸工不識，妄用補澀之劑，勉強收口，恐他日內毒復發，更甚於日前。惟予所用海浮散堪稱至寶。以此敷上，瘀肉自脫，不必用刀。新肉自生，又不藏毒，萬舉萬當也。大法先用防風湯洗之，再上末藥。洗時須避風為主。書云頻將湯洗，切忌風吹是已。更有體虛不能收口者，須內服補藥以助之。</p>

<h2>總論服藥法八</h2>
<p>凡癰疽服藥，宜照顧脾胃為主，不得已而用清涼；但期中病，切勿過劑。大法初起時，設有挾風寒者，宜先用芎芷香蘇散一劑以散之。散後而腫未消，隨用銀花甘草以和解之。若腫勢焮痛，大便閉結，內熱極盛者，則用衛生湯加大黃以疏利之。若病勢雖盛而元氣漸虛者，則清藥中須兼托補之劑，透膿散主之。若膿水已潰，必須托補元氣為主，參耆內托散主之。如或元氣虛寒，則補托藥中須用辛熱以佐之。脾虛者，理中湯、參苓白朮散。氣虛下陷者，補中益氣湯。胃經受寒，飲食停滯者，藿香正氣散。氣血兩虛者，十全大補湯加附子、鹿茸輩。間亦有虛而挾熱者，即於前方中去附子、薑、桂，加麥冬、銀花、丹皮等藥以收功。是又不可不知也。大抵有陽毒，有陰毒，有半陰半陽，宜細辨之。陽毒者，瘡勢紅腫，瘡頂尖聳，根腳不散，飲食如常，口渴便結，五心煩熱，脈洪數。陰毒者，瘡勢灰白，平塌頑麻，少痛，根腳走散，食少便溏，手足厥冷，口鼻氣冷，脈沉遲。半陰半陽者，瘡腫雖紅，不甚尖聳，飲食差減，大便不結，寒熱往來，微渴喜熱，脈虛軟。此三者必須細辨，俾用藥寒溫得宜，方為合法。治陽者，清涼解毒。治陰者，溫中回陽。半陰半陽之治，清不傷胃，溫不助邪，如斯而已矣。</p>

<h2>詳論五善七惡救援法九</h2>
<p>或問，癰疽五善七惡，何謂也。答曰：五善者，飲食知味，一也；便溺調勻，二也；膿潰腫消，膿水不臭，三也；神氣清爽，動息自寧，四也；脈息有神，不違時令，五也。七惡者，大渴發熱，泄瀉淋閉，一也；膿潰尤腫，膿稀臭穢，二也；目睛無神，語聲不亮，三也；食少不化，服藥作嘔，四也；恍惚嗜臥，氣短乏力，腰背沉重，五也；唇青鼻黑，面目浮腫，六也；脈息無神，或躁動不和，七也。古語云：五善得三則吉，七惡得四則凶。余謂七惡之凶，不待四矣。然而急救之方，正不容以不講。大抵熱渴淋閉，喘急內熱，皆真陰受傷，宜六味湯加麥冬、五味。如不應，用八珍湯加麥冬、五味。更不應，用十全大補湯，兼服六味地黃丸。此乃補陰生陽之說也。若氣短倦怠，昏憒乏力，飲食不化，乃陽虛之候，宜用補中益氣湯。若臥睡不寧，宜用歸脾湯。若飲食減少，面目浮腫，宜用香砂六君子湯。若兼脾胃虛寒，更用理中湯。腎氣虛寒須用桂附八味丸，兼用十全大補湯加附子，此溫補回陽之法。若癰疽潰後，膿血去多，變為角弓反張，手足搐搦，肢體振搖而發痙者，並用參耆歸術並附子等藥以救之。如不應，用十全大補湯，間有可生者。當此時勢，性命急如懸縷，司命者宜叮嚀反復，熟思而審處之。</p>

<h2>將息法十</h2>
<p>凡病中設有挾風寒者，即宜斷去葷腥油膩，微服散藥。俟外邪祛盡，另用滋味調補。大抵將息癰腫，不可缺少滋味，以血肉能生血肉也。然又不宜過多，使肉氣勝穀氣。更忌生冷滯氣之物，恐反傷脾胃耳。並宜避風邪，戒嗔怒，寡思慮，少言語，兢兢保養為貴。至於病後將息，毒大者，三年內宜遠帷幕。毒小者，期年內宜遠帷幕。犯之則成虛損，或成偏枯，或陰減天年，不可不慎也。其他戒怒慎風，亦須常作有病時想。</p>
<p>以上十法，乃治癰疽發背之大綱。大者可為，小者可知已。餘生平善治外證，其心法全在於此。約而能賅，確而可守也。至於周身上下所患之病名，備載於後，以資參考。</p>

<h1>外科症治方藥</h1>

<h2>發背</h2>
<p>（對心發　腎俞發　搭肩　手發　足發）</p>
<p>生於背，名曰發背。肺經火毒也。生於背下，與心相對，名曰對心發。心經火毒也。生於腰，名曰腎俞發。腎經相火之毒。若生於肩脊，名曰搭肩。右為肺火，左為肝火也。生於手背，名曰手發。生於足背，名曰足發。脾經濕熱之毒也。有如蓮子形者，頭多突起。有如蜂窠形者，孔多內陷。外結螺靨，此二種，須防毒陷。大率此症皆由膏粱厚味，或六淫外客，七情內郁所致。積聚不散，以致榮氣不從，逆於肉理耳。初覺腫痛，即宜用藥消散之。散而不去，則用艾灸提膿等法。癰疽之症，始為熱中，末為寒中，不可不察也。</p>

<h3>遠志膏</h3>
<p>凡一切癰疽腫毒初起之時，隨用遠志肉二三兩，去心，清酒煮爛，搗為泥，敷患處，用油紙隔布扎定。越一宿，其毒立消，屢試屢驗，其效如神。</p>

<h3>銀花甘草湯</h3>
<p>治腫毒初起時，皆可立消。內服此藥，外敷遠志膏，一切惡毒無不消散。但宜早服為妙。倘瘡已成膿，無從消散也，必須外潰。</p>
<p>金銀花（二兩）　甘草（二錢）</p>
<p>水煎，清酒沖服。若毒在下焦，加牛膝（二錢）</p>

<h3>陳艾丸</h3>
<p>每歲端午日，蓄蘄艾一二斤，愈久愈良。用時取葉為炷，或加麝香、木香、雄黃末，搓成團，安蒜上灸之，名陳艾丸。</p>

<h3>蟾酥餅</h3>
<p>治疔毒腦疽、乳癰、附骨疽，臀癰。一切患症，或不痛而大痛，或麻木，用此敷貼瘡頭。</p>
<p>蟾蜍（一錢，酒化）　輕粉（五分）　乳香　沒藥　雄黃　巴豆（各二錢）　麝香（三分）　硃砂（一錢）　朝腦（一錢）</p>
<p>以上各為細末，於五月五日午時，在淨室中用蟾蜍酒和藥丸如綠豆大，每用一丸。口涎調塗，貼疔瘡上以膏蓋之。</p>

<h3>菊花甘草湯</h3>
<p>治疔之仙藥也。</p>
<p>白菊花（四兩）　甘草（四兩）</p>
<p>水煎頓服，渣隨即再煎。重者不過二劑即消，至穩至效，一切消疔之劑皆不及此。</p>

<h3>芎芷香蘇散</h3>
<p>凡毒多有挾風寒而發者，宜先用此散之。如毒不消，隨服銀花甘草等藥。</p>
<p>川芎　白芷　紫蘇　赤芍　陳皮　甘草（各一錢）　荊芥　香附　秦艽（各一錢五分）　連須蔥白（二寸）</p>
<p>水煎服。若兼傷食加山楂、麥芽、葡子。若內熱極盛加連翹、蒡子。</p>

<h3>烏金膏</h3>
<p>去腐肉不傷新肉最為平善。巴豆去殼，新瓦上炒黑，研細聽用。多寡看瘡勢酌量。</p>

<h3>防風湯</h3>
<p>防風　白芷　甘草　赤芍　川芎　歸尾（各二錢）　雄豬蹄（一節）</p>
<p>加連須蔥白五根，用三大碗水煎。以絹片蘸水洗之，拭乾，然後上藥。其深曲處以羊筆洗之。</p>

<h3>海浮散</h3>
<p>敷此，腐肉自化，新肉自生。此外科回生保命之靈丹也。</p>
<p>乳香　沒藥（等分）</p>
<p>上二味，安箬皮上炙乾，為極細末，敷患處，再貼膏藥。此散毒淨則收口，毒不淨則提膿外出。其神妙難以言喻。</p>

<h3>火照散</h3>
<p>硃砂　血竭　沒藥　明雄黃（各三錢）　麝香（五分）</p>
<p>上五味為細末，用綿紙條長尺許，每條裹藥三分，真麻油浸點，自外而內周圍照之。瘡毒隨藥氣解散，自不內侵臟腑。初用三條，漸加至五七條。瘡勢漸平，又漸減之。薰罷隨上烏金膏，貼以萬全膏。若腫勢漫延，周圍用芙蓉膏敷之。如再薰，須洗去末藥。其貼膏藥處，藥油可不必洗。</p>

<h3>芙蓉膏</h3>
<p>用赤小豆（四兩）、芙蓉葉（四兩）、香附（四兩）、菊花葉（四兩）、白芨（四兩），為細末。每末一兩加麝香一分，米醋調，塗住根腳，雞子清調亦可。</p>

<h3>化腐紫霞膏</h3>
<p>治癰疽發背，瘀肉不腐，及不作膿者。又治惡瘡，內有膿而外肉不穿潰者。</p>
<p>輕粉　蓖麻仁（研各三錢）　巴豆（研白仁五錢）　白結（二錢）　樟腦　螺獅肉（各一錢）　金頂砒（煅五分）</p>
<p>為末，瓷罐收貯。臨用時麻油調塗頑硬肉上，以萬全膏貼之。至頑者，不過二次即軟。其力大於烏金散。</p>

<h3>衛生湯</h3>
<p>解毒消癰，清熱活血止痛，初起相宜。</p>
<p>白芷　連翹　花粉（各八分）　荊芥　甘草節　蒡子（各一錢）　防風　乳香　沒藥（各五分）　銀花（二錢）　貝母　歸尾（各一錢五分）</p>
<p>水煎服。若大便閉結，熱勢極盛者，加酒炒大黃二三錢。</p>

<h3>透膿散</h3>
<p>凡癰毒內已成膿，不穿破者服即破。</p>
<p>黃耆（四錢）　皂刺　白芷　川芎　牛蒡子　穿山甲（炒研各一錢）　金銀花　當歸（各五分）</p>
<p>酒水各半煎服。</p>

<h3>參耆內托散</h3>
<p>丹溪云：癰疽未潰，以疏托解毒為主。癰疽既潰，以托補元氣為主。二語可為外科樞要。</p>
<p>人參（一錢，虛甚者倍用）　黃耆（三錢，酒炒）　當歸（二錢）　川芎（酒炒，五分）　炙草（一錢五分）　陳皮（五分）　金銀花（五錢）　丹皮（一錢）　遠志（去心，甘草水泡，炒一錢五分）　大棗（五枚）</p>
<p>水煎服。</p>

<h3>理中湯</h3>
<p>溫補中氣，挽回元陽。</p>
<p>人參（二錢）　黑姜（一錢五分）　甘草（炙二錢）　白朮（三錢，陳土炒）　附子（薑汁甘草水制一錢）　大棗</p>
<p>水煎服。</p>

<h3>參苓白朮散</h3>
<p>健脾養胃。</p>
<p>人參（一兩）　茯苓（二兩蒸）　山藥（炒）　苡仁（炒）　扁豆（炒）　蓮肉（去心炒，各二錢）砂仁（一兩）　神麯（炒黑）　甘草（炒，各五分）　白朮（四兩，陳土炒）　陳皮（一兩，微炒）</p>
<p>共為細末，每用三錢開水下。</p>

<h3>補中益氣湯</h3>
<p>中氣下陷者舉之，巔頂有病需此。</p>
<p>人參　炙甘草　當歸（各一錢）　升麻　柴胡（各三分）　陳皮（五分）　黃耆（二錢）　白朮（一錢五分）　大棗（二枚）　生薑（三片）</p>
<p>水煎服。</p>

<h3>藿香正氣散</h3>
<p>散風寒，消飲食，止嘔吐瀉利。</p>
<p>藿香　砂仁　厚朴　茯苓　紫蘇葉　陳皮（各一錢）　白朮（陳土炒）　半夏　桔梗　白芷（各七分）　甘草（炙五分）　生薑（三片）</p>
<p>水煎服。</p>

<h3>十全大補湯</h3>
<p>峻補氣血，乃扶危定傾之大藥，為收功保命之神丹。</p>
<p>人參　白朮（陳土炒，各三錢）　黃耆（蜜炙五錢）　茯苓（一錢）　當歸（一錢五分）　大熟地（一錢九蒸九曬）　白芍（酒炒，一錢五分）　甘草（炙，八分）　川芎　肉桂（去皮，各五分）大棗（五枚）　姜（三片）</p>
<p>水煎服，虛甚者，更加附子、鹿茸。</p>

<h3>六味湯</h3>
<p>壯水之主以鎮陽光。凡腎經真水不足，虛火上炎，脈數有熱者宜此。</p>
<p>大熟地（四錢）　山萸　山藥（各二錢）　丹皮　茯苓（各一錢五分）　澤瀉（一錢）</p>
<p>水煎服。</p>

<h3>八珍湯</h3>
<p>即大補湯去黃耆、肉桂。</p>

<h3>歸脾湯</h3>
<p>治思慮傷脾，榮血不足，睡臥不寧。</p>
<p>人參　白朮　當歸　棗仁（炒）　白芍（各一錢）　黃耆（一錢五分）　遠志（去心，甘草水泡炒）　甘草（炒各七分）　木香（五分）　龍眼肉（五枚）</p>
<p>水煎服。</p>

<h3>香砂六君子湯</h3>
<p>理脾化痰，溫胃進食。</p>
<p>人參　白朮　茯苓　炙甘草　陳皮　半夏（各一錢）　砂仁　藿香（各八分）　姜（二片）　棗（三枚）</p>
<p>水煎服。</p>

<h3>桂附八味湯</h3>
<p>益火之原以消陰翳。凡腎精真陽不足，火衰不能生土，脈虛大無力者宜此。</p>
<p>大熟地（八兩）　山萸肉　山藥（各四兩）　丹皮　茯苓　澤瀉（各三兩）　附子　肉桂（各一兩）</p>
<p>用煉蜜丸，每服四錢，淡鹽水下。</p>

<h2>腦疽</h2>
<p>（對口　偏對口）</p>
<p>生於腦，名曰腦疽。生於頸後，名曰對口。生於頸旁，名曰偏對口。正對口易治，偏對口難治。因其軟肉與喉相近也。多因膏粱醇酒，風寒壅遏所致。宜用神火照法，次用烏金膏搽之。外貼萬全膏，取其易潰。腐後則用防風湯洗之，摻以海浮散，仍貼萬全膏，頻換數次。即愈矣。</p>

<h2>鬢疽</h2>
<p>（發頤　時毒　大頭天行）</p>
<p>生於耳前後，名曰鬢疽。生於兩頤，名曰發頤。初起宜用銀花甘草湯加柴胡、荊芥、薄荷、蒡子以清散之。若腫勢甚極，須用砭法。若已成膿而未潰者，以烏金膏塗瘡頭，貼以萬全膏，自然腐潰。潰後則用海浮散，並貼萬全膏，自應尋愈。顏下漫腫無頭，名曰時毒，俗名蛤蟆瘟是也。頭面盡腫，名曰大頭天行，俗名大頭瘟是也。此皆風火鬱熱所致。初起宜用加味甘桔湯以消散之。散而不去，則用普濟消毒飲以清之。若腫勢極盛，兼用砭法。</p>

<h3>加味甘桔湯</h3>
<p>甘草　桔梗（各三錢）　蒡子（炒二錢）　荊芥（三錢）　薄荷（五分）　貝母（一錢五分）</p>
<p>水煎服。若兩頤腫盛者，加柴胡一錢五分，丹皮三錢。</p>

<h3>普濟消毒散</h3>
<p>甘草　桔梗　黃芩（酒炒）　黃連（酒炒各一錢）　玄參　橘紅　柴胡（各五分）　薄荷（六分）　升麻（二分）　連翹　牛蒡子（炒各一錢五分）</p>
<p>水煎服，便閉甚者加大黃酒炒一錢，體虛加人參五分。</p>

<h2>井口疽</h2>
<p>（脅癰　肚癰　魚口　臀癰）</p>
<p>生於心，名曰井口疽。生於脅，名曰脅癰。生於腹，名曰肚癰。生於手足腕，名曰穿骨疽。生於腿岔，名曰魚口。生於臀，名曰臀癰。施治並如前法。</p>

<h3>護心散</h3>
<p>患井口疽者，宜多用。它症亦宜用此。</p>
<p>遠志肉（一兩五錢去心，甘草水泡炒）　綠豆粉（二兩）　甘草（五錢炒）　明乳香（二兩土炒）　辰砂（二錢，研細水飛）</p>
<p>共為細末，每服三錢，開水下。</p>

<h3>九龍丹</h3>
<p>治魚口便毒、騎馬癰、橫痃，初起未成膿者宜此。</p>
<p>兒茶　血竭　乳香　沒藥　青木香　穿山甲（炒，各一錢）</p>
<p>上各等分為末，歸尾三兩，紅花二兩。酒煎膏，丸如桐子大，每服二錢。空心熱酒送下，敷服自消。</p>

<h3>胡桃散</h3>
<p>以大胡桃剖開口，將全蠍二枚納入，燒灰存性，研末，熱酒沖服。</p>

<h2>疔瘡</h2>
<p>疔瘡初起如芥，形如粉刺，或小泡堅硬如疔，故名曰疔。大抵肉色紅腫，根腳不散者吉。若平塌浸腫，四圍灰白者凶。其狀不一，其色不同。有紅紫黃白黑之五種，以應五臟。若生兩足，多有紅絲至臍。生兩手，多有紅絲至心。生面唇，多有紅絲入喉。俱難治。速宜針紅絲出血，多有生者。若患於肢末之處，毒愈凝滯，藥難到達。艾灸之功為大。內服菊花甘草湯至效。如妄用疏利之劑，損耗真氣，不惟無以去毒，而害反隨之矣。其治法。即見前十法中。</p>

<h2>喉痹</h2>
<p>喉間腫痛，名曰喉痹。古人通用甘桔湯主之。然有虛火實火之分，緊喉慢喉之別，不可不審。虛火者，色淡微腫，溺清便利，脈虛細，飲食減少。此因神思過度，脾氣不能中護，虛火易至上炎，乃內傷之火，名曰慢喉風，虛證也。午前痛甚者，屬陽虛。四君子湯加桔梗、麥冬、五味、當歸。午後痛甚者，屬陰虛。四物湯加桔梗、元參。如不效，必加桂、附以為引導之用。加減八味湯加牛膝主之。若脈數有熱，六味湯主之。更有中寒咽痛，治用半夏桂甘湯，不可誤投涼藥。實火者，醇酒膏粱，風火積熱，火動生痰，腫痛暴發。甚則風痰壅塞，湯水不入，聲音不出，此外至之火，名曰緊喉風，實證也。宜用燈窩油和漿水灌之，導去痰涎。或用土牛膝搗爛和醋酸灌之。或針刺紅腫之處，發泄毒血。或用金鎖匙吹之，俾喉漸鬆開，飲食可入，聲音得出，乃止。宜用加味甘桔湯。熱甚者，兼用三黃解毒湯。諺云，走馬看喉痹是也。凡喉腫不刺血，喉風不吐痰，喉癰不放膿，乳蛾不針破，此皆非法。又有勞嗽日久，咽傷聲損者，無法可療。</p>

<h2>纏喉風</h2>
<p>纏喉風症，咽喉腫痛，脹塞，紅絲纏繞，故名纏喉風。甚則腫達於外，頸如蛇纏。探吐悉如前法。</p>

<h2>纏舌喉風</h2>
<p>纏舌喉風，硬舌根而爛兩旁。以羊毛筆蘸甘草水洗之，吹以柳花散。</p>

<h2>乳蛾</h2>
<p>乳蛾生喉間，狀如乳頭。一邊生者，名單乳蛾，兩邊生者，名雙乳蛾。以小刀點乳頭出血，立瘥。吹以柳花散，再服甘桔湯。凡針乳蛾，宜針頭尾，不可針中間。鮮血者易治，血黑而少者難治。凡用刀針，血不止者，用廣三七為細末，吹刀口上即止。凡使刀針，不可傷蒂下及舌下根。切記。</p>

<h2>舌衄</h2>
<p>舌衄出血不止，用六味湯加生地、麥冬、牛膝、玄參主之，並吹柳花散。</p>

<h2>懸癰</h2>
<p>懸癰生於上齶，形如紫李。宜針破癰頭，用甘草湯攪盡瘀血，吹服柳花散。</p>

<h2>腮癰</h2>
<p>腮癰生腮下，繞喉壅腫。先用薺汁調玄明粉攪去其痰，再看其紫黑處，針去瘀血。其吹服如前法。</p>

<h2>喉瘡</h2>
<p>喉瘡，命門相火也。瘡勢灌膿，以銀針挑破之，隨用荊芥、甘草煎湯洗之。其吹服如前法。</p>

<h2>走馬牙疳</h2>
<p>（牙癰　牙宣　牙痛）</p>
<p>走馬牙疳，牙齦紅腫，漸變紫黑臭穢，胃熱也。牙癰，牙邊腫痛，灌膿也。牙宣，牙根盡腫，宣露於外也。吹以柳花散，兼服清胃散。牙痛，療牙止痛散，兼服葛根湯。</p>

<h2>喉瘤</h2>
<p>喉瘤，生於喉旁，形如圓眼，血絲相裹。不可用刀針，宜吹麝香散，並服加味甘桔湯。</p>

<h2>繭唇</h2>
<p>繭唇，唇上起泡如繭，初起即用小小艾炷灸之，貼以萬金膏。</p>

<h2>肺絕喉痹</h2>
<p>肺絕喉痹，凡喉痹日久，頻服清降之藥，以致痰湧聲喑，或痰聲如曳鋸，此肺氣將絕之候也。法在難治，宜用獨參湯，或兼進八味湯，或兼用十全大補湯。早服者，可救十中之一二。</p>

<h3>四君子湯</h3>
<p>人參　白朮　茯苓　甘草（炙，各一錢）　大棗（二枚）　生薑（一片）</p>
<p>水煎服。</p>

<h3>四物湯</h3>
<p>川芎（五分）　大熟地　當歸　白芍（各一錢五分）</p>
<p>水煎服。加丹皮、麥冬、玉竹、山藥、茯苓，退虛熱至效。</p>

<h3>加減八味湯</h3>
<p>大熟地（四錢）　山萸（去核）　山藥（各二錢）　丹皮　茯苓　澤瀉（各一錢五分）　肉桂　五味（各五分）</p>
<p>水煎服。本方去五味加附子，名八味腎氣湯。</p>

<h3>金鑰匙</h3>
<p>治喉閉、纏喉風、痰涎壅塞、口噤不開，湯水難下。</p>
<p>焰硝（一兩五錢）　硼砂（五錢）　片腦（二分五釐）　雄黃（二錢）　白殭蠶（一錢）</p>
<p>各另研為末，和勻。以竹筒吹患處，痰涎即出。如痰雖出，腫痛仍不消，急針患處，去惡血，服前藥。</p>

<h3>三黃解毒湯</h3>
<p>黃連（一錢）　黃芩　黃柏　黑山梔（各一錢五分）</p>
<p>水煎服。</p>

<h3>柳花散</h3>
<p>治喉瘡並口舌生瘡、走馬牙疳、咽喉腫痛諸症。</p>
<p>真青黛　蒲黃（炒）　人中白（各一兩）　冰片（五分）　硼砂（五錢）</p>
<p>共為細末，吹喉極效。</p>

<h3>清胃散</h3>
<p>升麻（一錢）　生地（二錢）　黃連　連翹　丹皮（各一錢）</p>
<p>水煎服。</p>

<h3>療牙止痛散</h3>
<p>止牙痛神效</p>
<p>牙硝（三錢）　硼砂（三錢）　雄黃（二錢）　冰片（一分五釐）　麝香（五釐）</p>
<p>共為末，每用少許擦牙。</p>

<h3>葛根湯</h3>
<p>葛根（一錢）　升麻（一錢）　甘草（五分）　赤芍（一錢五分）</p>
<p>水煎服。風勝，加荊芥、防風、薄荷；火勝，加連翹、丹皮、生地、蒡子。</p>

<h3>麝香散</h3>
<p>真麝香（二錢）　冰片（三分）　黃連（一錢）</p>
<p>共為末，一日夜吹五六次。</p>

<h2>瘰癧</h2>
<p>瘰癧，頸上痰瘰癧串也。此肝火鬱結而成。宜用消瘰丸，兼服加味逍遙散。</p>

<h3>消瘰丸</h3>
<p>此方奇效，治愈者不可勝計。予曾刻方普送矣。</p>
<p>元參（蒸）　牡蠣（煅，銼碎）　貝母（去心蒸，各四兩）</p>
<p>共為末，煉蜜為丸。每服三錢，開水下，日二服。</p>

<h3>加味逍遙散</h3>
<p>治肝經鬱火，頸生瘰癧，並胸脅脹痛，或作寒熱。甚至肝木生風，眩暈振搖，或咬牙發痙諸症。經云，木鬱達之是也。</p>
<p>柴胡　茯苓　當歸　白朮　甘草　白芍　丹皮　黑山梔（各一錢）　薄荷（五分）</p>
<p>水煎服。</p>

<h2>鼻痔</h2>
<p>（鼻淵）</p>
<p>鼻痔，鼻生息肉也。起於濕熱，可吹硇砂散。鼻淵，鼻流濁涕不止也。起於風熱，可用古拜散。</p>

<h3>硇砂散</h3>
<p>硇砂（五分）　白礬（煅枯五錢）</p>
<p>共為細末，每用少許，點鼻痔上即消。</p>

<h3>古拜散</h3>
<p>荊芥穗</p>
<p>上為細末，每服三錢，生薑湯調下，有火者陳茶調下。</p>

<h2>聤耳</h2>
<p>（百蟲入耳）</p>
<p>聤豆抵耳，耳內生疔也。乃肝經鬱火所結，可用紅棉散，兼服加味逍遙散加菊花。百蟲入耳，以貓尿滴入，奇效。</p>

<h3>紅棉散</h3>
<p>白礬（二錢）　胭脂（一錢，煉火存性）</p>
<p>上研勻。先用棉杖子攪去膿水，更用棉杖子攪藥摻入於耳底即干。若聤耳抵耳加麝香五釐。</p>

<h2>眼丹</h2>
<p>（眼珠忽突）</p>
<p>眼丹，眼旁生泡，潰而流水也。屬風熱。加味逍遙散主之。又眼珠忽然腫脹突出，屬祟症，平祟散主之。</p>

<h3>平祟散</h3>
<p>黃連（二分）　甘草　冰片（各一分）　硼砂（三分）</p>
<p>人乳調點兩眼角立消。</p>

<h2>白禿瘡</h2>
<p>（落髮不生）</p>
<p>白禿瘡，此火旺血虛而生蟲也。麥餞散主之。發落不生，骨碎補為末，麻油調塗之。</p>

<h3>麥餞散</h3>
<p>用小麥一升，炒枯黃色，乘熱入缽內為末，和硫黃末四兩，白砒末五錢，攪勻，待冷取起，加煙膠半斤，川椒末二兩，生枯礬二兩，共碾極細。臨用蔥湯洗淨，末藥二三錢，麻油調搽，油紙蓋扎。三日一換，換三次愈。</p>

<h2>粉刺雀斑</h2>
<p>粉刺雀斑，風熱也，改容丸主之。</p>

<h3>改容丸</h3>
<p>大貝母（去心）　白附子　防風　白芷　菊花葉　滑石（各五錢）</p>
<p>上為細末，用大肥皂蒸熟去筋膜，搗和藥為丸，早晚洗面。</p>

<h2>破傷風</h2>
<p>破傷風，因跌打傷頭腦，而客邪乘之，以致手足搐搦，人事昏憒。天麻散主之。</p>

<h3>天麻散</h3>
<p>天麻　生南星（泡去稀）　防風（各一兩）　荊芥（三兩）</p>
<p>上為細末，每用五錢。連須蔥白煎湯調下。</p>

<h2>跌打損傷</h2>
<p>跌打損傷之後，凡大小便通利者，可用廣三七二三錢，酒煎飲之。或服澤蘭湯。若二便不通，必加大黃。其破損處，可用血竭為極細末摻之。韭葉散亦良。余用天下第一金瘡藥最佳，可保無虞。</p>

<h3>澤蘭湯</h3>
<p>通二便，除腸中瘀血，乃活命之靈丹也。</p>
<p>澤蘭　當歸（各五錢）　紅花（一錢）　丹皮（三錢）　青木香（一錢五分）　桃仁（去皮尖，研，十粒）　赤芍（一錢五分）</p>
<p>水煎，熱酒沖服。如大便不通，加大黃二三錢酒炒。</p>

<h3>韭葉散</h3>
<p>止血如神。石灰同韭菜葉搗餅，貼壁候乾，細研，篩下聽用。</p>

<h3>天下第一金瘡藥</h3>
<p>凡刀斧損傷，跌僕打碎，敷上即時止痛止血，更不作膿，勝於它藥多矣。其傷處不可見水。余制此藥普送，因路遠者，一時難取，故刻方廣傳之。今並筆書之，則此方傳益廣矣。各鄉有力之家，修合以濟急也。</p>
<p>雄豬油（一斤四兩）　松香（六兩）　麵粉（四兩，炒，篩）　麝香（六分）　黃蠟（六兩）　樟腦（三兩，極細）　冰片（六分）　血竭（一兩）　兒茶（一兩）　乳香（一兩，箬皮上烘去油）　沒藥（一兩，同上制）</p>
<p>以上藥研極細，先將豬油、松香、黃蠟三味熬化，濾去渣。待將冷再入藥末攪勻，瓷器收貯，不可泄氣。</p>

<h2>乳癰</h2>
<p>（乳岩）</p>
<p>乳癰者，乳房焮痛作膿，膿盡則愈。其初起宜服栝蔞散，敷以香附餅，即時消散。若已成膿，則用太乙膏貼之。若潰爛，則用海浮散摻之，外貼膏藥，吸盡膿而愈。乳岩者，初起內結小核如棋子，積久漸大崩潰，有巉巖之勢，故名乳岩。宜服逍遙散、歸脾湯等藥，雖不能愈，亦可延生。若妄行攻伐，是速其危也。</p>

<h3>栝蔞散</h3>
<p>栝蔞（一個）　明乳香（二錢）</p>
<p>酒煎服。</p>

<h3>香附餅</h3>
<p>敷乳岩，即時消散。一切癰腫皆可敷。</p>
<p>香附（細末一兩）　麝香（二分）</p>
<p>上二味研勻，以蒲公英二兩，煎酒去渣，以酒調藥，熱敷患處。</p>

<h3>太乙膏</h3>
<p>治一切癰疽腫毒，用之提膿極效。</p>
<p>肉桂（一錢五分）　白芷　當歸　玄參　赤芍　生地　大黃　土木鱉（各五錢）　乳香末（二錢）　沒藥末（二錢）　阿魏（一錢）　輕粉（一錢五分）　血餘（一團）　黃丹（六兩五錢）</p>
<p>以上各藥，用真麻油一斤，浸入，春五夏三，秋七冬十日。傾入鍋內，文武火熬至藥枯浮起為度。住火片時，用布袋濾淨藥渣，將鍋展淨，入油，下血餘再熬，以柳枝挑看。俟血餘熬枯浮起，方算熬熟。每淨油一斤，將炒過黃丹六兩五錢，徐徐投入，不住手攪。候鍋內先發青煙，後至白煙疊疊旋起，其膏已成。將膏滴入水中，試軟得中，端下鍋來，方下阿魏，散膏面上，候化盡。次下乳香、沒藥、輕粉，攪勻傾入水內，以柳木攪成一塊。</p>

<h2>附骨疽</h2>
<p>（伏兔疽）</p>
<p>附骨疽，肉裡浮腫，而皮色不變也。宜用艾炷灸之。俾其轉陰為陽乃吉。若生於膝上三寸，名曰伏兔疽，法在不治。</p>

<h2>蛇頭毒</h2>
<p>蛇頭毒，手足指腫，大如蛇頭也。宜用艾炷隔蒜灸之。以雄黃、白芷等分為末，同大蒜搗爛灸之。或嚼生慄敷之亦效。</p>

<h2>脫疽</h2>
<p>脫疽，生於手足指，腫大如蛇頭也。腫腐潰爛。摻以海浮散，貼以萬全膏。</p>

<h2>臁瘡</h2>
<p>臁瘡，生於足之內外臁。宜服生熟地黃丸，並敷海浮散，貼以萬全膏。若濕熱甚，而潰爛不收口者，於海浮散內加入黃柏散同敷，立效。</p>

<h2>腸癰</h2>
<p>腸癰，有生於腸內者，腹內脹急，大小便牽痛如淋，轉側搖之作水聲，潰後則膿從大便出。有生於腸外者，當臍腫痛，腹皮脹急，潰後則膿自臍出。甚則穿潰大腸，食蟲亦自臍去，勢難為矣。初起宜用千金牡丹皮散以消之。既潰，則用參耆內托之劑。</p>

<h3>千金牡丹皮散</h3>
<p>丹皮（五錢）　苡仁（一兩）　栝蔞仁（去油二錢）　桃仁（去皮尖二十枚研）</p>
<p>水煎服。</p>

<h2>懸癰</h2>
<p>（臟毒　內痔外痔　脫肛）</p>
<p>懸癰，生於腎囊之後，肛門之前，又名海底漏。最難收功。臟毒生於肛門之兩旁，初時腫痛，繼則潰膿。總由濕熱相火，內灼庚金而然者。宜服國老散、加減地黃丸，並敷海浮散，貼膏藥，此一定之治法也。內痔外痔，亦並可服前藥。洗以忍冬藤、菖蒲草，兼用田螺水搽之，可以立消。脫肛屬氣虛，補中益氣湯。亦有血虛火旺者，四物湯加升麻。</p>

<h3>國老散</h3>
<p>甘草（七段），用急流水一碗浸之。炙乾，又浸又炙，以水盡為度。研細末，每日空心開水調下二錢。忌煎炒菸酒炙爆辛辣發氣等物。</p>

<h3>生熟地黃丸</h3>
<p>大熟地（九蒸曬）　大生地（酒洗，各三兩）　山藥（乳拌蒸）　茯苓（乳拌蒸）　丹皮（酒蒸，各一兩半）　澤瀉（鹽水蒸一兩）　當歸（酒蒸）　白芍（酒炒）　柏子（去殼隔紙炒）　丹參（酒蒸各二兩）　遠志（去心，甘草水泡蒸四兩）　自敗龜板（浸淨童便炙炒研為極細末四兩）</p>
<p>共為末，用金石斛四兩，金銀花十二兩，熬膏，和煉蜜杵為丸，每早淡鹽湯下四錢。</p>

<h3>田螺水</h3>
<p>法用大田螺一個，以冰片摻靨中，仰放盞內，少頃水流出。取搽痔瘡上，其腫立消。</p>

<h2>下疳</h2>
<p>下疳，生瘡濕癢，或陰莖腫爛，或如菌如蛇。此濕熱之甚也。宜服九味蘆薈丸，並用加味逍遙散。氣虛者，佐以加味歸脾湯。</p>

<h3>九味蘆薈丸</h3>
<p>蘆薈（五錢）　胡黃連　當歸　芍藥　川芎　蕪荑（各一兩）　木香　甘草（各三錢）　膽草（七錢酒浸炒焦）</p>
<p>上為末，米粥糊丸麻子仁大，每服一錢或一錢五分，開水下。</p>

<h2>楊梅結毒</h2>
<p>楊梅結毒，不可搽輕粉，恐毒氣入內。宜服忍冬湯，貼以萬全膏，並用金蟬脫甲酒。</p>

<h3>忍冬湯</h3>
<p>金銀花（一兩）　甘草（二錢）　黑料豆（二兩）　土茯苓（四兩）</p>
<p>水煎，每日一劑，須盡飲。</p>

<h3>金蟬脫甲酒</h3>
<p>治楊梅瘡，不拘新久，輕重皆效。好酒五斤，用大蛤蟆一個，浸酒封口。煮香二枝取起。待次日，隨量之大小，總以醉為度。冬夏蓋暖出汗為效。存酒次日只服量之一半，酒盡瘡愈。又治楊梅結毒，筋骨疼痛，諸藥不效者更妙。服酒後七日，不許見風為要。忌口及房事百日，絕根矣。</p>

<h2>大麻風</h2>
<p>（赤白遊風　鵝掌風　爛腳風）</p>
<p>大麻風，皮膚腫起，搔癢頑麻，如樹皮吐汁之狀。此濕毒生蟲，甚則眉毛剝落，鼻柱崩壞，事不可為也。宜服蘄蛇酒，搽以當歸膏。赤白遊風，肌膚搔癢起皮也。鵝掌風，手足心頑厚起皮也。爛腳風，腳下濕爛也。並可搽當歸膏，內服逍遙散，兼用生熟地黃丸。</p>

<h3>蘄蛇酒</h3>
<p>（烏梢蛇亦可用）</p>
<p>蘄蛇（去頭尾，一具）　生地（二兩）　黃柏　苦參　丹參　菊花　銀花　丹皮　赤芍　當歸　枸杞子　蔓荊子　赤茯苓　萆薢　百部（各一兩）　秦艽　獨活　靈仙（各五錢）　桑枝（一兩五錢）</p>
<p>上煮好生酒五六斤，退火，七日飲。</p>

<h3>當歸膏</h3>
<p>治癘風，並可搽去遊丹鵝掌風。</p>
<p>當歸　生地（各一兩）　紫草　麻草　木鱉子（去殼）　大楓子（去殼）　防風　黃柏　玄參（各五錢）　麻油（八兩）　黃蠟（二兩）</p>
<p>先將前九味入油熬枯，濾去渣，再將油復入鍋內，熬至滴水成珠，再下黃蠟，試水中不散為度。候稍冷，傾入蓋碗內，坐水中出火毒。三日聽用。</p>

<h2>湯泡火燒</h2>
<p>湯泡火燒，不宜見冷水。宜用白芝麻殼燒灰存性，研細末敷之。若患處乾燥，則用麻油調搽。或用柏子樹皮為末，麻油調敷亦善。</p>

<h2>疥瘡</h2>
<p>（天泡瘡）</p>
<p>疥瘡，有細小不足膿者，多屬風熱。有肥大灌膿者，多屬濕熱。俱用麻黃膏搽之，十日可愈，而不隱瘡。仍多服金銀花為妙。更有天泡瘡，腫起白泡，小者如綠豆大，大者如蠶豆大，連片而生。或生頭頂，或生耳前後，宜用黃柏散敷之立瘥。</p>

<h3>麻黃膏</h3>
<p>雄豬油（四兩）　斑蝥（三個）　麻黃（五錢）　蓖麻子（一百粒去殼研爛）　大楓子（一百粒去殼研爛）</p>
<p>先將豬油化開，下斑蝥煎數沸，隨去斑蝥，再下麻黃，煎枯濾去渣。將大楓、蓖麻肉和勻聽搽。</p>

<h3>黃柏散</h3>
<p>黃柏一大塊，以豬脂塗搽，炙為末，麻油調搽。</p>

<h2>頑癬</h2>
<p>頑癬，乃濕熱凝聚，蟲行皮中。有頑厚堅硬者，俗稱牛皮癬，是宜用百部膏搽之。</p>

<h3>百部膏</h3>
<p>百部　白蘚皮　蓖麻子（去殼）　鶴蝨　黃柏　當歸　生地（各一兩）　黃蠟（二兩）　明雄黃末（五錢）　麻油（八兩）</p>
<p>先將百部等七味入油熬枯，濾去渣，復將油熬至滴水成珠。再用黃蠟試水中不散為度。端起鍋來，將雄黃末和入，候稍冷，便入瓷盆中收貯。退火聽用。</p>

<h2>自刎</h2>
<p>救自刎法，凡自刎喉管未斷者，不可見水。急用麻線縫之，外以血竭細末搽之，隨用天下第一金瘡藥厚塗之，綿紙蓋定。然後用挾布裹腳纏住，線扎之。間日加敷藥，頭不可動搖，十日愈。</p>

<h2>竹木刺入肉</h2>
<p>竹木刺入肉，拔不出者，用象牙磨水滴之，良久自出。或用螻蛄搗爛敷之亦出。若日久血凝腫脹者，以花蕊散，用象牙水調敷，瘀血散而刺並出矣。</p>

<h3>花蕊散</h3>
<p>花蕊石為末八兩，硫黃末四兩，和勻，瓦罐盛之，封口，鹽泥固，須曬乾，安風爐中。上下著火，煉二炷香。候冷打開，研篩為極細末，收貯。此散瘀血之神藥也。</p>

<h2>瘋犬咬</h2>
<p>（毒蛇蜈蚣咬）</p>
<p>瘋犬咬，用明雄黃末五錢，杏仁去皮尖一百粒炒研。每服二錢，虎骨煎酒送下，服盡必愈。外並用此敷患處。毒蛇、蜈蚣咬，用明雄黃細末，用蒜搗爛敷之。內服白芷護心散。</p>

<h3>白芷護心散</h3>
<p>白芷（一兩）　乳香（三錢）　雄黃（五錢）　甘草（五錢）</p>
<p>共為細末，每服四錢，清酒調下。</p>

<h2>誤服砒毒</h2>
<p>（野菌毒）</p>
<p>誤服砒毒，小薊根搗汁灌之。或用金汁灌之。或用明礬、大黃為末，新汲水調灌之，得吐利為效。野菌毒亦用金汁解之，紫金丹亦佳。</p>

<h2>自縊</h2>
<p>救自縊，抱下除解繩索，用好肉桂三錢，煎湯灌之。</p>

<h2>落水</h2>
<p>救落水，以其人橫伏水牛背上，瀝出腹中之水。如無牛，以凳代之。隨用通天搐鼻散吹鼻孔中，得嚏則活。獨用半夏末吹之亦佳。</p>

<h2>魘夢不醒</h2>
<p>魘夢不醒，吹以通天散，更用蔥白生薑煎湯灌之。</p>

<h3>搐鼻通天散</h3>
<p>豬牙皂角（去皮弦一兩）　細辛（去葉）　半夏（各五錢）</p>
<p>共為極細末，每用一二分，吹鼻中，得嚏則蘇。</p>
