<header data-type="book">
<h1>養生食忌</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>胡文煥</data>編</dd></div>
<div><dt>年份</dt><dd><data value="1592">公元1592年</data></dd></div>
</dl>
</header>

<h1>五穀食忌</h1>
<p>晚米合蒼耳食，令人卒心痛，或成走注。合馬肉，發痼疾。陳倉米和馬肉食，發痼疾。和蒼耳食，卒心痛。</p>
<p>粟米合杏仁食，令人吐瀉。蕎麥合豬肉食，患熱風。大黑豆合豬肉食，令人悶。青豆忌與鯉魚同食。赤小豆合魚鮓食，令人消渴。</p>

<h1>五味食忌</h1>
<p>醋忌與蛤肉同食。餕糖忌與菖蒲根同食，菖蒲根忌與羊肉同食。蔗糖同鯽魚食，成疳蟲；同葵菜食，生流癖；同筍食，不消，成癥。荊芥忌與黃顙魚食。蒔蘿忌與阿魏食。小麥醬同鯽魚食，咽喉生瘡。</p>

<h1>五果食忌</h1>
<p>芡實合蜜食，生蟲。橘同螃蟹食，患軟癰。橙同檳榔食，發頭風，噁心。桃同鱉肉食，心氣痛。椑柿同蟹食，令人腹痛，大瀉。芋頭同鯉魚、鯽魚食，令人虛勞無力。李同蜜食，損五臟；同雀肉食，發痰瘧。榧同鵝肉食，生叚節風。棗同生蔥、蜜食，五臟不和；同白魚食，患腰痛。枇杷和炙肉、熱麵食，患熱毒，發黃。</p>
<p>西瓜同油餅食，損胃。稍瓜忌與牛乳酪、煎鮓同食。</p>

<h1>五菜食忌</h1>
<p>芥菜同兔肉食，生積；同鯽魚食，水腫。蔥忌與菘菜及蜜同食，服常山藥人忌食。韭忌與蜜食。薤合牛肉食，成瘕疾。苦蕒，蠶婦忌食。莧菜忌與鱉肉食，令生鱉瘕。白苣合酪乳、蜜食，令人生蟲，產婦食之小腹痛。薺菜合面食，令人背悶。紫蘇合青魚鮓食，令人腸內生瘡，成疝氣。菠菱合蛆魚食，發霍亂。菰根忌同蜜食，服巴豆藥人忌食。苦筍同羊肝食，患青盲。青蒿同葫荽食，氣臭。</p>

<h1>六畜食忌</h1>
<p>黃牛肉合豬肉桑柴炙食，生寸白蟲。羚羊肉合鮓食，傷人心；合蕎麥麵食，患大瘋，疫病、瘧病後食之，發熱致死。羊肝與生椒同食，傷五臟；同苦筍食，患青盲。馬肉與蒼耳、生薑同食，令人氣嗽；與陳倉米同食，必得卒患。豚肉合生葫荽食，爛人臍；合葵菜食，令人少氣；合生姜食，令人患瘋。羊肝、黃豆同食，令人心悶。豬肝合魚鮓食，發癰疽；同鯉魚子食，傷人神。</p>
<p>豬肺忌與白花菜合食。犬肉炙食，恐成消渴；同菱米食，令人生瘑癩。鹿肉合蒲作羹發瘡，令人患發背，忌與雉肉同食。驢肉同荸薺食，患筋急。兔肉合白雞食，令人發黃；合獺肉食，病遁屍；同乾薑食，成霍亂；同胡桃食，患背瘡；合芥菜食，成積。麋肉合雉肉、生菜、梅李之屬食，發病。</p>

<h1>諸禽食忌</h1>
<p>丹雄雞合葫荽、蒜、薤食，氣滯；合牛肉汁食，患心瘕瘧；病後忌食。白雄雞合獺肉食，作鬼疰，不能治。雞卵同蔥蒜食，令人氣促生瘡；同鱉食，患異病；韭子同食，患叚節瘋。鴨卵合鱉肉食，令人短氣。野雞、木耳、胡桃、豆豉不可同食。鷓鴣與竹筍食，令人小腹脹。雉雞與胡桃、菌蕈、木耳同食，發痔下血；和蕎麥食，生寸白蟲；同家雞子食，成遁屍。山雞同蕎麥麵食，生肥蟲。雀肉忌與李子同食。鶉同豬肉食，令人生黑子；和菌蕈食，令人發痔。</p>

<h1>蟲魚食忌</h1>
<p>蜂蜜同生蔥食，殺人；青赤酸者食，心煩。魚鮓忌與小豆藿食。鮧魚、鱯魚同野豬肉食，令人吐瀉。鮠魚同野豬、雞食，令人患癩，動痼疾。鱔魚、魷魚忌與白犬血食。鯽魚合芥菜食，令人水腫。魚子忌合豬、猴等肉食。鰻鱺合銀杏食，患軟風。鱸魚合乳酪食，發痃癬瘡腫。鯖魚忌與蒜、葫荽、生葵、麥醬同食。</p>
<p>白魚合棗子食，患腰痛。黃魚合蕎麥食，令人失音。鱘魚忌合干筍食。蚌螺同芥菜食，令人心氣痛。車螯同榲桲食，患大疝。鱉肉合莧菜、蕨食，令人生鱉瘕，同馬肉食，令人心氣痛；同芥菜食，生惡瘕。</p>
<p>蟹合紅柿食，令人吐血，後生膈氣病。鯉魚鮓同青豆藿食，令人消渴。蜜瓶盛鮓，殺人。鮓內有蝦，不可食。鯖魚鮓忌與葫荽、葵、麥醬食，又恐同羊肉食，傷心。</p>

<h1>孕婦食忌</h1>
<p>食羊肝令子多厄。食兔肉令子缺唇。食雀腦令子雀目。食茨菰能消胎氣。食山羊肉子多病。食蛙令子壽夭。食麋脂及梅李令子青盲。食子姜令子多指，生瘡。食乾魚令子多疾。食雀肉，飲酒令子無恥多淫。食犬肉令子無聲，懷娠亦不良。</p>
<p>食蝦蟆、鰍、鱔令子聲啞。食鶩鴨及螃蟹令子橫生。食漿水粥令子骨疲不成人。食漿水絕產。食驢、螺、馬肉過月難產。食鱉令子項短及損胎。豆醬合藿同食墮胎。食醬面多黑點。食鱔魚合田雞令子瘖啞。食暴鴨令子患諸蟲。糯米與雜肉同食，令子生寸白蟲。菌有大毒，食之令子成瘋。</p>
<p>鱗魚與蒜食，毒胎。雀肉合豆醬食，令子面生點點黑子。雞、魚與粳米同食，令子生寸白蟲。鯉魚與雞子同食，令子成疳，多瘡。鴨子與桑椹同食，令子倒生。</p>

<h1>乳母食忌</h1>
<p>食寒涼發病之物，子有積熱、驚風、瘍。食濕熱動風之物，子有疥癬瘡病。食魚、蝦、雞、馬肉，子有癬疳瘦疾。</p>

<h1>小兒食忌</h1>
<p>雞、鴨卵，魚子之類，兒食長而多忘。食雞肉生蟲。</p>
<p>栗子飼之，齒生遲，腎氣弱。食王瓜生疳蟲。黍米飯並蕨食之，腳無力。食蕎麥主今發落。蕺菜食之，三歲不行。就瓢並瓶飲水，語言多吶。羊肝同椒食，損五臟。食鱘魚結癥瘕及咳嗽。幼女食魚魨則拙。</p>

<h1>逐月食忌（附永當戒食）</h1>
<p>正月戒食虎、豹、貍肉，令人傷神。勿食生蓼，令人傷腎。</p>
<p>二月戒食兔，傷神，且孕婦食之，主子唇缺。戒食雞子，忌心。初九日勿食魚，仙家大忌。</p>
<p>三月勿食鳥獸五臟，百草，仙家大忌。庚寅日食魚大凶。</p>
<p>四月勿食雉，令人氣逆。勿食鱔魚，勿食蒜，傷氣傷神。</p>
<p>五月勿食桑濃，勿食煮餅。凡君子，此月當齋戒、節嗜欲、薄滋味為緊要，慎之。</p>
<p>六月勿食生葵，宿疾尤忌。澤水令人病鱉癥。</p>
<p>七月勿食蓴，是月蠟蟲著上，人不見。勿食蜜，令人霍亂。</p>
<p>八月勿食姜蒜，令人損壽減智。勿食雞子，令人傷神。</p>
<p>九月蟹腹有真稻芒，長寸，向冬輸與東海神。若未輸芒，便不可食。</p>
<p>十月勿食豬肉，令人發宿疾。勿食椒，令人損神。</p>
<p>十一月勿食龜鱉，令人水病。勿食陳脯，令人噁心。戒食鴛鴦，不致噁心。</p>
<p>十二月勿食生葵，發痼疾。勿食薤，則傷人。勿食鱔，勿食鱉，必致害人。</p>
<p>永當戒食病豬、死禽不正之物。若不禁之，為害則大。</p>
<p>又永戒食牛肉，此太牢之牲，不食可也。若患楊梅惡瘡，食之則發。若痔漏，服藥痊瘥，一食牛肉、驢馬肉、燒酒、芥辣、縮砂、官桂、生蘿蔔，發之，復難治。</p>

<h1>諸果有毒</h1>
<p>桃杏仁雙者。五月食未成核果，令人發癰癤及寒熱。秋冬果落地，食之令人患漏症。</p>

<h1>諸獸有毒</h1>
<p>自死、疫死者，犬馬懸蹄肉，肉落水浮者，諸獸足赤者，皆不可食。</p>

<h1>諸禽有毒</h1>
<p>白色玄首者，玄色白首者，卵有八字者，自死無傷者，鴨目色白者，禽有大爪者，死不伸足者，死不閉目者，皆不可食。</p>

<h1>諸魚有毒</h1>
<p>目能開合者，腦白連珠者，逆鱗逆鰓者，二目不同者，腹下丹字者，有角白背者，目鱗須赤者，皆有毒，殺人。無鰓白鬣者，連鱗黑點者，無膽全鰓者，皆不可食。</p>

<h1>飲食害人</h1>
<p>銀魚不可與麥門冬同食，殺人。盛蜜瓶作鮓，食之殺人。凡肉炙不動，暴不幹，食並殺人。菌下無紋者，食之殺人。肉納在蜜器，氣大泄者，皆殺人。新菌有毛者，食之殺人。檐滴水生菜有毒，食之殺人。</p>
<p>禽獸肝青者，食之殺人。凡鳥獸自死，口不閉者，食之殺人。蟹目相向者，食之殺人。頭髮不可在魚鮓內，食之殺人。祭酒自耗者，食之殺人。魚頭有白連背上者，食之殺人。河豚眼赤者，食之殺人。</p>
<p>祭神肉無故自動者，食之殺人。羊肝有竅者，食之害人。生果停久有損處者，食之害人。瓜有兩蒂兩鼻者，食之害人。鱟魚小者，謂之鬼鱟，食之害人。曝肉脯不幹者，食之害人。飲酒後不得食羊豕腦，食之大害人。食黃鱔後食荊芥者，則殺人。</p>

<h1>飲食相反</h1>
<p>螃蟹與灰酒相食，令久吐血。食粟米勿食杏仁，令人吐瀉。薤菜與牛肉同食，令人生瘣。食兔肉勿食姜干，令人霍亂。兔肉與白雞同食，令人發黃。</p>
<p>食死馬勿食倉米，發人百病。𩶾魚與芥菜同食，令人黃腫。食豬肉勿食生薑，令人大風。雞肉與胡蒜同食，令人氣滯。糖蜜與小蝦同食，令人暴下。</p>
<p>食羊肝勿使生椒，傷人五臟。棗、李與蜂蜜同食，五臟不和。飲酒後勿食芥辣，緩人筋骨。兔肉與鴨肉同食，血氣不行。飲酒後勿食胡桃，令人嘔血。</p>
<p>豬肉與鵪鶉同食，面生黑點。食粥後勿食白湯，令人成淋。牛肉與白酒同食，生寸白蟲。諸禽獸魚油點燈炬，令人盲眼。</p>

<h1>附　急救良方</h1>
<p><u>急救六畜中毒</u></p>
<p>以水服壁上黃土，或地漿解之。</p>
<p><u>食牛肉中毒</u></p>
<p>以豬牙燒灰為末，水調服二錢，即愈。</p>
<p><u>食馬肉中毒</u></p>
<p>飲好酒微醉，即愈。</p>
<p><u>食狗肉中毒</u></p>
<p>用杏仁二兩，和皮研細，以熱湯三盞拌勻，分三服，其狗肉皆全片瀉出，即愈。</p>
<p><u>食豬肉中毒</u></p>
<p>以燒豬糞為末，水調服二、三錢，不過三服，即瘥。</p>
<p><u>急救食諸魚毒</u></p>
<p>用橘皮汁、大豆汁、馬鞭草汁、紫蘇汁，俱可解之。</p>
<p><u>急救食諸蕈毒</u></p>
<p>掘地坑汲井水在內，攪之，連飲泥水數碗，取吐，即瘥。</p>
<p><u>急救中巴豆毒</u></p>
<p>其症口渴，臉赤，五心煩熱，利不止。搗芭蕉根葉汁，飲之，即瘥。</p>
<p><u>急救天行熱病</u></p>
<p>鬼臼（一錢真者）　鬼箭羽（一錢）　硃砂（一錢）　雄黃（一錢）　石菖蒲（五分）　上煉蜜丸如大豆大，每日米飲下二丸。若與病人同床共衣，將二丸塞鼻，不染。</p>
<p><u>急救夏途熱死</u></p>
<p>切不可以冷水灌及以冷物逼心，急移陰涼處，取路上熱土於死人臍上作窩，令人尿其中，又取路上熱土並蒜同研，水調去渣，灌下，即活。</p>
<p><u>急救冬途凍死及落水凍死</u></p>
<p>微有氣者，急脫去濕衣，解生人熱衣包之。用炒灰令熱，以囊熨之心上，冷即換之，令暖氣通里。以熱酒或薑湯灌之，即活。</p>
<p><u>急救中砒霜毒</u></p>
<p>用好白蠟三、五錢擂細，冷水灌下，解之。</p>
<p><u>急救男婦縊死</u></p>
<p>口閉捏拳者可救，口開手散者不救。頭莫放倒，刺雞冠血滴入口中，即活。男用雌，女用雄，仍塗喉下，更效。</p>
<p><u>急救木石壓死</u></p>
<p>並跌磕傷。從高墜下跌死，氣絕不能言者，服藥不便，急擘開口，以熱小便灌之，立效。</p>
<p>又方，用松節炒出煙，入好生酒攙內，儘量飲，極佳。</p>
