<header data-type="book">
<h1>瀉疫新論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>高島久貫</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015279">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序一</h1>
<p>甚矣厲氣之為毒也。散則彌於六合。聚則藏於物。不得以跡求。不得以數測。其來也識所由而至。其去也難究所循而行。人一觸此毒。近則沿門闔戶。遠則城市鄉陬。無克免禍。譬如火。取之而不見其竭。滅之而不見熄。造造而化化。有有而無無。是以醫莫能窮其理而得其術矣。近歲此症屢行。往往有劇者。比屋積屍。酸楚痛悼。不可得而遏焉。醫皆錯愕失置。蓋其症也。鬥火盤冰。寒熱互投。而逡巡之際終無救。是無他。坐不識厲氣之為變如何而已。往年安政中此症大行。余曰夜精慮。初知其為熱厥。於是用石膏黃連頗多得奏效。適僚友高島君子通。乃與大黃芒硝起死亦甚多。予見子通相與嘆所見之不爽也。蓋子通謙虛沉默。其貌柔順。余則骯髒率直。動忤人受誚。其性素相反。而其術乃相似如此者何也。以其立志一也。或疑余與子通所用不同。而皆能效於疾。餘日譬之用兵。奇正無常。操縱不一。而運用之妙存乎其人。若徒見奇正操縱之跡。而無見於所以制勝。非知兵者也。子通當時有瀉疫新論之著。今也嗣子祐啟修將梓以問於世。余因辨以斯言。子通名欠貫。號停雪。慶應三年秋七月與赴阪城。擢班幕府待醫。敘法眼　淺田惟常識此撰</p>

<h1>序二</h1>
<p>余曾讀延陵吳氏之書。竊以為是醫林之權書也。其書往往翻案古經。新立非常之論。而其立論多出權變。然而殊切事實者何也。亦其人有取捨之權耳。庸師或不諳其理。徒效其顰者。其害豈淺鮮哉。高島恆齋君。先考停雪君。嘗著瀉疫新論。大抵本之吳氏。能取其長。而舍其短。學殖有淵。議論有源。彼非執一無權者之比也。況恆齋君能張紹述之業。其論斷亦無餘蘊矣。停雪君歿後。瀉疫之病。累歲比比而有之。庸師皆以為古來未曾有之病。徒焦思於無何有之鄉。乏治方活潑之機。新論之所見豈在於斯歟。吳氏以降。唱和疫說者。多以吳氏領袖矣。余則每讀其書。未能無疑於吳氏。稱之醫林之權書也。吳氏之後。清人有奇恆痢之說。曰奇恆者。異於恆常也。高島氏之立論。亦與此說相符。抑識者之見有殊域合轍者歟。其閣古經。而求之權書。新出非常之見。亦家傳心法。所以新論之為新論耳。讀此書者善探著作之意而善用之。活潑之機。其必有存於其中者也。</p>
<p><u>明治十二年九月岡田元矩柔克撰</u></p>

<h1>凡例</h1>
<p>一此篇所錄。盡系予之先考停雪先生親驗歷試之說。無一涉虛構者。然世治此故者。概非溫劑。則阿片固澀之屬耳。適有用芩連石膏者。斷莫及硝黃者。故必有以此編為妄論異說者。故又採諸家所發明一二。從類增附並加愚按以備參考。</p>
<p>一所錄方藥。皆系歷試有效者。故僅僅爾。本非為此數方盡之也。此外千金外臺以下。至後世方書。必有可用者。子孫繼我志。亦以其各經效者補焉。是予先考所屬望也。</p>
<p>一篇中所載方藥。專治里症之藥。而不及發表之方者。瘟疫之邪先從口鼻入容於里。不如傷寒從表及里。其適見表症者有之。從里達於表者也。故瘟疫一切禁發表。況此症入於裡之勢。尤急而達於表者甚稀乎。是以清解逐穢為主矣。覽者勿以傷寒先表后里之例拘焉。</p>
<p>一此篇盡清解逐穢之劑。而不及溫補諸湯者。瘟疫本火熱之邪。古人禁溫補。況如此疾火熱之尤甚者。故雖四損之人。不宜溫補。若犯之。則徒速其斃耳。故於溫補諸湯。一切不錄焉。覽者勿怪其不便。</p>
<p>一預防並薰藥。雖非醫家上乘。古人既有其方。俗間亦往往苦微之。故舉一二以備其採擇耳。</p>
<p>一凡論瘟疫者。以吳又可為古今獨步。爾後如劉松峰。戴麟郊。周拘元。周禹載。楊慄山。汪期蓮。孔敏禮。吳鞠通。諸家咸學步者。今此編。亦以吳氏為歸宿。</p>
<p>一文辭西土之事。而固非我邦所長也。故借彼文字。以記我事。取達意而足。覽者莫咎其支離鴂舌。則幸矣。高島久也祐啟識。</p>

<h1>卷上</h1>

<h2>異域傳染</h2>
<p>瀉疫也者。吳氏所謂雜氣之類。而傳自羌戎。（久也案。吳氏曰雜氣者雖曰天地之氣。實由方土之氣也。蓋其氣從地而起。有是氣則有是病。譬如所言天地生萬物。然亦由方土之產也。）而匪我豐葦原中國所固有也。猶麻疹之傳於百齊。（事詳見日本紀敏達帝十四年）痘瘡之傳於新羅。（事詳續日本紀𮅟宣抄。聖武帝天平七年。並續古事談等）非特我也。痘瘡之傳於西域（事詳見外臺。）黴毒之來於嶺南（按。陳九韶曰。黴痘一症。古未言及明季起嶺南之地。至使蔓延通國。又按俞辨醫說云弘治末年民間患惡瘡。自廣東始。吳人不識。呼為廣瘡。據此則傳於廣東。）番沙之起於漠北（案張路玉醫通曰。番者。感惡毒異氣而驟發黑沙。此病起漠北。流入中原。故以番沙目之。）在支那亦然。是亦不足徵焉乎哉。比歲互市相開。米利干。魯細亞。佛蘭之屬。陸續來往。而與邦人雜居。以故傳此惡毒之氣也。日熾月增耳。其實不昉於今也。或云。此疾起於鎮西。正德年間小兒感冒最多。漸次流傳及於尾陽之地。大人亦適有感焉。人呼曰早手。比之颶風之猝然至也。爾後築之前後。年年有之。（案說見於今時醫談。又築人鷹取遜庵有小兒暴利新考。）又云文政壬午秋。此疫行浪華。其初亦起於鎮西（案詳見於時還讀我書）或云初傳於肥前長崎。時有米夷舟中患此者。多滯留崎港。死者枕籍。爾後蔓延四方。以是觀之。為異域傳染之惡疾。豈不足徵焉乎。或云。子之說博且辨矣。然吾有未信焉。</p>
<p>夫古先哲王之有事於高麗也。百濟新羅任那之客。來往留滯。厥後又有遣唐之使。留學之生。北條氏之時。蒙古大舉入寇。至如近世。諸蕃之信使常在焉。然而未曾聞輒帶惡疾異瘡來也。若彼痘麻。氣運所為。適生其時。而世俗遂誤認為異域傳染之疾耳。夫疾病之起。本五氣之錯。攝養之差。然則變症奇恙。何事不有。何必歸咎於彼。余答曰。子知其一而未知其二。凡凶戾惡暴之氣。不起於中土而起於偏土。夷狄如嶺南瘴煙之起。如墨北風沙搏成瘡。況羌戎偏之又偏者耶。若我日本。亦雖偏於東乎。然帝出乎震。精華沖粹之氣所鍾。男女之肌肉秀麗。迥非漢蕃之所及。故古者異邦指我為蓬瀛神州。為東方君子國。有以也夫。況忠義者。其所性焉。振古奉一姓之皇統。無篡奪革命之事。其所生禽獸蟲魚草木金石皆良淳。而毒於人者至少矣。縱令陰陽不和。寒暑錯行。無凶戾暴惡之邪氣以厲於人也。如羌戎君臣父子之禮異。唯利是務。其所產禽獸蟲魚。草木金石。酷毒者多。是蓋陰陽偏勝之氣使之然也。故其地氣發而作邪也。必凶戾惡暴矣。中土之人適感此氣。則以人傳人。延蔓不絕。</p>
<p>古先哲王有見於此。故有蕃客朝京師。必秡祭道路。以除不祥。有若延喜式所云者。（案延喜神祗式。臨時祭。有唐客入京。路次神祭又有蕃客送堺神祭云。右蕃客入朝。迎畿內堺。祭卻送神。其客徒等比至京城。給祓麻令除。乃入又有障神祭云。右客等入京前二日。京城四隅。為障神祭。）蓋恐異氣厲氛或傳染於邦人以貽患也。今也華戎雜居。往來如市。宜其有是也。第其一經傳染。其氣潛匿。伏藏閭巷山林之間。遇歲運之偏勝。寒暑之失節。輒復發作。或漸與土氣和。與人身諳。則其邪氣漸薄。永作我土常有之疾。世人見其如此。認為我家之賊。而不知他家之賊來害我也。豈不謬。而子亦何然也。</p>

<h2>大疫之歲宜清解逐穢</h2>
<p>吳氏之說疫。專論三陽。不及三陰。治法專舉清解逐穢。遺溫熱補氣。是以後世劉松峰以下數家。僉譏其偏於一而不備也。予謂吳氏之於疫。偏則偏矣。然原繫於實驗之言。松峰以下之言。備則備矣。但屬紙上之摸索。何則。傷寒有陽症有陰症。故治方亦有清解有溫補焉。尤宜然也。若夫瘟疫概屬陽症。陰症百中之一二耳。故治法亦以清解逐穢為主。況於大疫之歲乎。夫大疫之熾而毒也。如火之燎於原。炎炎張天。而寸草靡遺。如水之決堤防而衝突潰裂。萬室蕩盡。如流賊之鈔略殺戮。屠創及嬰孩雞犬。蓋天地殺氣之所為焉。而與平素尋常之疫。迥然異矣。故人之感之也。無論老稚強弱。滿腔子盡化為熱。雖四損之人。一焉而已。是以清解逐穢之益多。而溫熱補氣之害多。若平素之疫邪。氣緩且薄。故隨其老稚強弱寒熱異症。間或有驗之三陰而可溫補者矣。如吳氏身逢崇禎辛巳之大疫。乃以平日所歷驗方法。著溫疫論。而後人反欲以平素之疫律之。是大不然也。若去歲以來盛行瀉疫。雖吳氏之所遭異症乎。而其為熱毒則同也。此余以主張清解逐穢。不用溫劑也。楊慄山著寒濕條辨。專以大運論其理。雖與予說若有異。而趣則一也。今立寒溫異時之辨。以載之於後條。</p>

<h2>寒熱因時或熱症</h2>
<p>余前論大疫流行也。亡論耄倪與天資強弱。舉屬熱症。然而未及運氣也。運氣之說昉於楊慄山。余未知其是非。然亦不可謂無此理矣。疫勢之衰弱。瀉疫之傳染。歲久漸與中土及人身之氣習慣。則凶焰稍薄於此乎。或有屬寒症者。第余之謂寒熱因時異症則圓活。而彼之因時異症則畫定。姑揭之於下矣。</p>
<p>楊慄山曰。嘗稽東垣李氏。一以補中為主。丹溪朱氏。一以滋陰為重。載人張氏。一以盪滌為先。皆能表表於世。總得挈領提綱。故合一本萬殊之妙。不則當年豈無歲氣。而必各取其一耶。再以痘疹言之。有扼要於保元。有獨取於辛溫。有得意於清瀉。是亦治痘之名乎。何不見有逐年之分別耶。要知天運之使然。非三氏之偏僻也。如曰偏僻。則當年各操其一以應世。何以得各擅其勝乎。後學不明其故。各效其一而不通變。亦有畏其偏僻。而第據症按時。侈談歲氣。以示高卓。皆不知循環之大運者也。餘留心此道。年近四旬。鄉闈已經。匙困肇於乾隆九年甲子。猶及謝事。寒水天運。證多陰寒。洽多溫補。縱有毒火之症。亦屬強弩之末。自茲已後而陽火之症。漸漸多矣。尚濕補宜重者。變而從輕。清瀉宜輕者。變而從重。殆及甲戌乙亥。所宜重瀉者。雖極清極解。而亦弗驗矣。勢必盪滌。而元梟之勢始殺。至甲申乙酉。盪滌之法。向施初病者。多有首尾而難免者矣。歷年以來。居然成一定局。間有溫補者。十一千百而已。是大運轉於相火矣。凡時行之如正傷寒與冬溫。暑溫、風溫、濕溫、秋溫、飧瀉、痎瘧、燥咳、吐痢、霍亂、並男婦小兒、一切諸症、及痘疹、民病火病十八九。何況溫病從無陰症。得天地疵癘旱潦之氣。其流毒更甚於六淫。又豈寒水司火運者之所可同年語哉。自古運氣靡常。純駁無定。病故變態靡常。補瀉無定。今之非昔。可知後之非今。先聖後聖。其揆一也。易地則皆然矣。任胸臆者。漸漸不能彷彿。余於當事時懷冰競。惟恐偏僻致誤。庶幾屢經屢驗。差可自信。亦有莫挽者。明知其逆不必治。不過熱腸所迫耳。（寒溫條辨）</p>

<h2>戒發表</h2>
<p>瘟疫與傷寒不同。何也。瘟疫不客於表。而直入於裡。縱有表症。不可發表。發表必有害。是前輩既有定論。非我私言也。況瀉疫。瘟疫之一種。凶猛者。往往舌上發苔之未及。而上吐下瀉。忽然長夜。其凶焰若斯者邪。但其間偶有緩慢之症。見一二表症者。其淵源斷不在表也。世醫往往引太陽陽明合病之說。投葛根湯者有之。又為協熱下利。而投葛根芩連等者有之。夫葛根湯原系治太陽表症之方。而今茲症初無表症焉。況方中有桂枝之辛溫。此症之所忌者乎。又若協熱利。又未睹若斯之凶暴也。故誤用此等方劑者。是所謂助桀為暴之類也。且比之用溫補固澀之劑者。其害雖差輕。要之五十步百步之異耳。俱非適當之治也。今又舉楊慄山之說。以告世之汲汲於發表者。</p>
<p>楊慄山曰。傷寒。風寒外入。但有一毫表症。自當發汗解肌消散而愈。其用藥不過麻黃桂枝葛根柴胡之類。在溫病邪熱內攻。凡見表症。皆里症鬱結浮越於外也。雖有表症。實無表邪。斷無正發之理。故傷寒以發表為先。溫病以清裡為主。此一著最為緊要關隘。今人一遇溫病。便以為傷寒。遂引以論。先解其表乃攻其里之說。此大謬也。總因古今醫家。俱將濕病與傷寒看成一症。不分兩治。加王宇泰張景岳。曠代名手也。其論傷寒症治。妙矣至矣。蔑以加矣。至說到溫病。猶是老生常談。他何足道。人每以大劑麻黃葛根等湯。強發其汗。此邪原不在經。汗之徒損經氣。熱亦不減。轉見狂燥。蓋發汗之理。由中以達外。今裡熱結滯。陽氣不能敷布於外。即四肢未免厥逆。又安能氣液蒸蒸以透表。如縛足之鳥。焉能飛昇。又如水注之器。閉其後竅。前竅焉能涓滴。惟用升降雙解。裡熱一清。表氣自透。不待發散。多有自能汗解者。此中玄妙。王劉二公其先覺乎。（寒溫條辨）</p>
<p>久也案。湯滌一投。隨發疹者。此理也學者宜體認焉。</p>
<p>劉松峰曰。每見治溫熱病。誤攻其里。尚無大害。誤發其表。變不可言。</p>
<p>衛遜亭曰。此足見瘟病斷無發散之理。至云攻裡尚無大害。當重看大字。（說疫）</p>

<h2>論下法</h2>
<p>夫傷寒之邪。自皮膚入客於表。瘟疫之邪。自鼻口入著於裡。故傷寒在初要發表。瘟疫初起便宜攻下。先輩論之詳矣。況此疾瘟疫中最至厲至暴之邪者耶。故一咸之。則直走於腸胃。而驅逐一身之津液。從大腸而逆出流離。藏府轉輸之機。遏絕不行。若不速施下奪之法。則毒邪內蘊。恣其梟惡。復上奔為吐。眼陷頰削。津液枯涸而弊。只恐攻下之不速矣。予去秋以來。所歷試單明。全在於此。而人往往咎悖於傷寒之治法。因今舉先輩論攻下之說一二條。以證予治之有所本矣。</p>
<p>戴麟郊曰。時疫下法。與傷寒不同。傷寒下不嫌遲。時疫下不厭早。傷寒在下其燥結。時疫在下其鬱熱。傷寒里症當下。必待表症全罷。時疫不論表邪罷與不罷。但兼里症即下。傷寒上焦有邪不可下。必待結在中下二焦方可下。時疫上焦有邪亦可下。若必待結至中下二焦始下。則有下之不通而死者。傷寒一下即已。仲景承氣諸方。多不過三劑。時疫用下藥。至少三劑。多則有一二十劑者。（廣溫疫論）</p>
<p>周枸元曰。考內經云。瘟病刺五十九穴以瀉熱。明乎瘟病當以瀉熱為急。後人因之而立下奪之法。本即內經之意而變通之。蓋瘟熱內蘊。津液受傷。雖在初起之時。急宜攻下。萬勿泥傷寒先表后里之說。昔賢謂瘟病下不厭早。誠至言也。下之者。使邪即出。無停留之意。故瘟病服攻利之後。必有水沫。隨大解澼澼出。邪輕者色黃。重者色赤。劇者色黑。此即無形之熱邪下瀉。原不拘於結糞之有無。若必待痞滿實痛而始行攻逐。不亦晚乎。（瘟症指歸）</p>
<p>又曰。瘟邪下法。原為瀉熱而設。本不拘於結胸之有無。故下不厭早。亦不拘於表症之解與未解。即便當下。蓋瘟邪由里達表。必裡氣通而表汗始得。每有下至一二次。或五六次。甚至十數次者。惟以邪淨而後已。（同）</p>
<p>又曰。瘟病之邪。伏而後發。不以風寒外感。可一汗而已。是以瘟病投涼下之劑。多有病勢猖獗。昧者詫為錯治。每每更醫換藥致誤。不知伏邪猶之伏匿之火。揚之則焰起。非大下疊下。焉能勝此燎原之勢。常有石膏用至數斤。大黃用至數兩。首尾不徹。始獲全功者。大抵瘟邪傳變不一。非一下即能淨盡。古人原有如剝蕉心之喻。其邪勢輕者。一二劑即愈。重者非疊下不效。若畏藥峻猛。怯不透下。欲不至腐腸爛胃者幾希矣。醫者惟見真守定方。無妄治之虞。孫真人曰。膽欲大而心欲細。其斯之謂歟。（同）</p>
<p>吳又可曰。大凡客邪貴乎早逐。乘人氣血未亂。肌肉未消。津液未耗。病人不至危殆。投劑不至掣肘。愈後亦易平復。欲為萬全之功策者。不過知邪之所在。早拔病根為要耳。（瘟疫論）</p>

<h2>暴解之後忌溫劑</h2>
<p>夫瘟疫。原熱病。故首尾忌溫熱之藥。況此疾熱毒之極。故雖有厥冷脈伏等症。不可妄用溫熱之藥。治法中既論之詳。如其瀉斷後亦不可犯之。則必俄頃變出不測。或終一瞑長夜。不可不慎矣。</p>
<p>吳又可曰。夫疫乃熱病也。邪氣內郁。陽氣不得宣布。積陽為火。陰血每為熱搏。暴解之後。余焰尚在。陰血未復。大忌參耆白朮。得之反助其壅鬱。餘邪留伏。不惟目下淹纏。日後變生異症。或周身痛痹。或四肢攣急。或流火結痰。或遍身瘡瘍。或兩腿鑽痛。或勞嗽湧淡。或氣毒流注。或痰核穿漏。皆驟補之為害也。凡有陰枯血燥者。宜清燥養榮湯。若素多痰。及少年平時肥盛者投之恐有泥膈之弊。亦宜斟酌。大抵時疫愈後。調理之劑投之不當。莫如靜養節飲食為第一。（瘟病論）</p>
<p>楊慄山曰。按瘟病乃天地雜氣之一也。有邪不除。淹纏日久。必至虛羸。庸工望之。不問虛實久暫可否。輒用人參。殊不知無邪不病。邪去而正氣自通。何慮虛之不復也。今妄投補劑。邪氣益固。正氣益郁。轉瘦轉瘦。轉補轉補。轉郁循環不已。乃至骨立而斃。猶言服參幾許。補之不及。奈何。余於乾隆甲戌乙亥丙子三年中。眼見親友患溫病服參受害者。不可枚舉。病家止誤一人醫家終身不悟。不知殺人無算。特書之以為濫用人參之戒。（寒溫條辨）</p>
<p>又曰。按仲景傷寒論。用參薑桂附者。八十有奇。而溫病非所論也。伏邪內郁。陽氣不得宣布。積陽為火。陰血每為熱搏。未解之前。麻黃桂枝不可沾唇。暴解之後。余焰尚在。陰血未復。最忌參薑桂附。得之反助壅鬱。餘邪伏留。不惟目下淹纏。日後必生異症。（同）</p>
<p>又曰。乾隆甲戌乙亥。吾邑連間數年。溫毒盛行。眼見親友病。多陽病似陰。用附子理中湯而死者。若而人用八味丸料及六味丸。合生脈散而死者。又若而人醫家病家皆以為死症。難以挽回。卒未有知其所以誤者。余深閔焉。古人格陰以陰。體厥脈厥之說。精心研究。頗悟此理。溫病無陰症。傷寒陰症百中一二。庸工好用熱藥。且多誤補其虛。故患陰症似陽者。少壞事。亦不若陽症似陰者之多也。每參酌古訓。又兼屢經閱歷實驗。得陽症似陰。乃火極似水。陽邪閉脈。非仲景所謂陽症陰脈也。輒用升陰涼膈加味六一解毒承氣之屬。隨症治之。無不獲效。不必疑也。特書之以為誤認陽症陰脈之戒。（同）</p>
<p>張石頑曰。夏秋之交。傷暑霍亂。大抵忌朮附薑桂種種燥熱之藥。誤服必死。凡夏秋霍亂有一毫口渴。即是伏熱。不可用溫理脾胃藥。如燥渴小便不利。五苓散為末。本方中肉桂亦宜酌用。（張氏醫通）</p>

<h2>疾有主客</h2>
<p>予去歲以來。治病羸或老少之徒感此疾者。概以清解逐穢為主。莫不隨手而愈。世醫遇此等症。往往以洞泄為脾氣之下陷。與參附以促死者甚多矣。亦有適知感厲氣者。顧慮其舊病尤羸。縮手不敢投硝黃焉。非從事於芩連梔柏。即參附炙炳莫所不到。不啻不能拔其本根。有反助其邪炎。熱勢加劇。以至於死者。則謂養虎貽患者矣。故如此之際。雖彼四損之人。或有所不顧。唯宜見邪熱。勿見舊病尤羸。噫拔本塞源。尚恐其不及也。奚本病之是顧耶。故大柴胡湯三承氣湯之類。隨見症選用之。吳氏之說尤繫於實驗。故抄出於此。</p>
<p>吳又可曰。凡人向有他病尤羸。或久瘧。或內傷瘀血。或吐血便血咳血。男子遺精白濁。精氣枯涸。女人崩漏帶下。血枯經閉之類。以致肌肉消爍邪火獨存。故脈近於數也。此際稍感疫氣。醫家病家。見其穀食暴絕。更加胸膈痞悶身疼發熱。徹夜不寐。指為原病加重。誤以絕谷為脾虛。以身痛為血虛。以不寐為神虛。遂投參朮歸地茯神棗仁之類。愈進愈危。知者稍以疫法治之。發熱減半。不時得睡。食稍進。（溫疫論）</p>

<h2>病症</h2>
<p>此疾有數症。方其初發也。有無寒熱無頭痛腹痛身痛手足厥冷等。飲食起居如平生。而猝然水泄如傾盆。而卻覺心膈寬快者。故人往往忽略不為意。一二時或半日之間。吐瀉頻並。始疲睏著床者。其常也。或有吐瀉數行而飲食起居不甚變者。或有吐瀉初起舌上生厚白胎者。或吐瀉數行始生胎者。或始終無胎者。或有瀉數行後生渴飲冷水數升者。或吐瀉一二行。已發渴者。雖渴好熱物者。或有適因飲食而發者。或吐或瀉一二日後。吐瀉並劇。始覺疲睏者。或有忽然吐瀉並作。暫時眼陷肉削。直視聲啞。手足厥冷轉筋。六脈如系。或沉伏。全舞者。其症雖輕重種種。要之皆為熱症。第因其人之胃氣厚薄。與邪之緊慢有不同耳。若其好飲熱湯。雖或似虛寒。此猶滯下亦有熱實之極。及好沸湯者。不足為異。故參附炙炳。一切為禁用。雖桂枝幹姜。亦非所宜。且桂枝本解肌之藥。此疾初無表邪。若誤犯之。則徒益嘔益瀉。不如無用之愈也。每見世醫誤認其外症。投熱劑或炙炳者。吐瀉益劇。無厥者遂致厥。甚則至冷過肘膝。膈熱反如燎。額上冷汗。眼陷頰削。直視上插。聲嘶只欲飲冷水數升。與之熱藥則愈吐不納。邪氣益熾。元氣益衰。終不可救者有之。譬如陷人於井中。隨下之石。何生之望。而猶言服參附數劑。補之無及。歸之於命。病家亦唯唯不為非。豈其然哉。殺人無算。遂以無覺悟。其實醫殺之也。實可痛悼焉。蓋此疾系毒熱之邪。亦一種之厲氣。而吳氏所謂雜氣之一也。惟邪勢凶暴尤甚。故其中人也。先從鼻口入。直著於腸胃。而驅逐津液。奔迸難制。轉輸之職絕。而傳導之官廢。故偏滲於大腸。作洞泄之症。是亦熱結旁流之類也。與傷寒之邪先從表。以次傳者不同。故初無表症矣。其所下之物。悉所飲食之水漿。與一身之津液也。故全然無糞。亦無臭氣。其色白濁如敗醬。或如米泔。若不早拔去其梟猛之邪。則上吐下瀉。其勢不能禁。遂現前所云劇症。甚至唇舌冰冷。肌膚血凝。青紫成片。是皆陽氣鬱遏。不能達於外之所致。決非陰寒之症。仲景所謂熱深者厥亦深者是也。然而世醫不惟投熱劑。兼灸天樞氣海神闕等。以為適當之治。是猶添薪止沸。艾火雖微。內攻有力。況此極熱之症。兩陽相搏乎。仲景有火逆之戒。況如此熱極之症乎。又有一種粗工。恐洞泄之劇。欲驟止之。內以阿片類固澀之。外燒酒熨之。芥子泥塗之。是猶不逐賊而豫閉門戶。家人必受害。拙之尤極者也。然如輕症。其瀉間有斷者。但多變為壞症。有時時蒸熱發揭衣被。纏綿引日者。有變為滯下者。為瘧狀者。為休息痢者。有為骨蒸狀者。如小兒有變驚風者。變疳者。變馬痹風者。如是之類。皆醫之誤治所致也矣。予去秋以來。治壞症數人。然本屬輕症。故得救療。若劇症不暇為壞症。必一日或半日而死。可勝嘆乎哉。或問曰。此症與尋常霍亂泄瀉所殊。子何以辨之。曰此症洞泄一行。全無糞更無臭氣。又無腹痛等。瀉數行後。肩背胸肋間。蠕蠕水鳴。既而腹中雷鳴。瀉出如尿。但肛門濕癢。恰如溫湯。瀉出甚則糜爛。皆屬此症矣。兼之煩渴引飲。小便赤澀。或涓滴作痛。則已非尋常霍亂泄瀉。是知此痰之最吃緊者。若夫脈與舌苔。則非知此疾之所要也。而其病源所以與傷寒等不同也。</p>
<p>此疾邪勢猛烈。傳變甚速。故用藥不得不緊急矣。設不緊急。或服緩劑。則症加劇。而死不出一二日。或數刻。不見八尺健兒肩擔千斤而斃於道路乎。</p>
<p>此邪概三伏至中秋節為盛行之時。其夏至前後。霜降節以前。雖有之其症頗緩。故有多動血塊疝瘕等宿疾而腹腰等痛者。不可誤為瀉疝滯食之類治之。必殺人。如小兒多動蛔蟲者有之。亦類吐乳者有之。不可不知也。</p>
<p>按此疾。八月尤盛。其如四五月。雖適有之甚稀。且邪勢未劇。有一二人患之者。人多以霍亂泄瀉治之。而幸愈者間有焉。蓋邪氣猶嫩。譬火之初炎。其勢雖猛。易撲滅也。其九月以後患之者。症稍緩。且多挾宿疾。但其外症緩。因與輕劑。則變劇症者有焉。然死者亦少矣。蓋邪勢漸老。猶火之將滅。炎焰雖猛。勢頗緩。亦易撲滅也。如七八月。闔門比戶患之之時。猶燎之方揚煽。假令受邪輕且淺者。其勢頗烈。是以治法一誤。則死生立判。是最不可不知矣。</p>
<p>再按。先如己末歲立冬後。流傳猶不止。但頗異於前日。必多現於表症。輕者吐瀉一二日。或二三日後。自止者亦有之。或瀉止後為滯下者有之。如小兒先吐乳一二日而後瀉。瀉如乳汁。無糞色。世醫盡以中寒治之。然至感之重者。非硝黃其瀉不斷。是所以與中寒不同也。蓋夏秋人身陽氣在外。中守不堅。邪亦凶暴。是以一入里。猖獗難制。傳變尤速。如冬日陽氣在裡。中守尤固。邪亦屬強弩之末。是以不得縱其凶暴。故多達表。而現表症。雖里症亦緩而無死者。故比之夏秋消黃之奏功。不甚速。此亦中守堅固之故也。是以多服而始得效焉。</p>
<p>素常畜飲家感於此邪則瀉熱滂沛。多於常人。其瀉之斷。又後於常人。</p>

<h2>脈</h2>
<p>凡溫疫與傷寒。病源不同。至脈亦難以傷寒脈律之。昔人云。傷寒以脈為主。溫病以症為主。吳氏以下論瘟疫者。詳於症而略於脈者。亦以此也。況如此疾。不可以脈審定乎。何以洞泄數行。有脈猶與平日不異者。或有沉遲者。有沉微者。一用大柴胡湯之類。裡熱達於表。則脈亦變弦數。此疾之常也。間初起乃弦數者浮數者。種種不一。而至治法。非盪滌逐穢。不可救。此其所以脈不可拘也。然脈者氣之波瀾。生死之所判。故全發則不可。拘泥亦不可。今舉楊氏之說數條者以此也。楊氏曰。或該從症。或該從脈。切勿造次。此言最有理。</p>
<p>戴麟郊曰。瘟疫之脈。傳變後與風寒頗同。初起時與風寒迥異。風寒從皮毛而入。一二日脈多浮。或兼緊。兼緩。兼澀。而皆浮。迨傳入里。始不見浮脈。其至數亦清楚而不模糊。瘟疫從中道而變。自里出表。脈始不沉。乃不浮不沉而數。或兼弦兼大。而皆不浮。其至數模糊而不清楚。其初起脈沉遲。勿作陰寒斷。沉者邪在裡也。遲者邪在陰分也。脈象同於陰寒。而氣色舌苔神情。依前諸法辨之。自不同於陰寒。或數而無力。亦勿作虛視。緣熱蒸氣散。脈不能鼓指。但當解熱。不宜補氣。受病之因有不同。故同脈而異斷也。（廣溫疫論）</p>
<p>楊慄山曰。凡瘟病脈。怫熱在中。多見於肌肉之分。而不甚浮。若熱鬱少陰。剔脈沉伏欲絕。非陰脈也。陽邪閉脈也。（寒溫條辨）</p>
<p>又曰。凡溫病。內外有熱。其脈沉伏。不洪不數。但指下沉澀而小急。斷不可誤為虛寒。若以辛溫之藥治之。反益其熱也。所以傷寒多從脈。溫病多從症。蓋傷寒風寒外入循經傳。溫病悌熱內熾。溢於經也。（同）</p>
<p>又曰。凡傷寒性本太陽。發熱頭痛。而脈反沉者。雖曰太陽。實見少陰之脈。故用四逆湯溫之。若溫病始發。未嘗不發熱頭痛。而見脈沉澀而小急。此伏熱之邪滯於少陰。不能發出陽分。所以身大熱四肢不熱者。此名厥。正雜氣怫鬱。火邪閉脈而伏也。急以鹹寒大苦之味。大清大瀉之。斷不可誤為傷寒太陽始病。反見少陰脈沉而用四逆湯溫之。溫之則壞事矣。又不可誤為傷寒陽厥。慎不可下。而用四逆散和之。和之則病甚矣。蓋熱鬱元閉。陽氣能交接於四肢。故脈沉而澀。甚至六脈俱絕。此脈厥也。手足逆冷。甚至通身冰涼。此體厥也。即仲景所謂陽厥。厥淺熱亦淺。厥深熱亦深是也。下之斷不可遲。非見真守定通權達變者。不足以語此。（同）</p>
<p>又曰。凡溫病脈中。診洪長滑數者輕。重則脈沉。甚則閉絕。此辨溫病與傷寒脈浮脈沉異治之要訣也。（同）</p>
<p>又曰。凡溫病脈洪長滑數兼緩者易治。兼弦者難治。（同）</p>
<p>又曰。凡溫病脈沉澀小急。四肢厥逆。通身如冰者逆。（同）</p>
<p>又曰。凡溫病脈兩手閉絕。或一手閉絕者危。（同）</p>
<p>又曰。凡瘟病脈沉澀而微。狀若屋漏者死。（同）</p>
<p>又曰。凡瘟病脈浮大而散。狀若釜沸者死。（同）</p>

<h2>舌苔　舌冰冷</h2>
<p>夫舌者胃之外候。胃中一有留邪。則莫不見於舌苔。猶影之隨形。桴之應鼓。故傷寒與溫疫。無一不據舌苔。而斷淺深輕重。獨此疾不然者。邪氣暴烈。感之則胃中擾亂。奔迸下泄。不遑鬱而為舌胎也。是以不可以舌苔之有無拘。故不必詳論焉。然間有見於舌苔者。今舉其概略。以備採擇耳。凡初起有苔者甚稀。或有之必白胎而極薄。且滋潤。須盪滌一日或半日。瀉稍減。則始變厚白胎。是其常候。又間有初起生厚白胎者。稍緩症也。然必滋潤。其黃胎者又稀。故不可拘無胎不可下並白胎滋潤不可下等之說。遲延猶豫。則必殺人。亦有終始無胎者。要之非硝黃不可治焉。其瀉多者。二三日後舌必變緋薄。是瀉多亡津液之所致。宜緩緩滋養。人參飲子去人參。或柴胡清燥湯。柴胡養榮湯之類宜之。若下症猶在。不必拘舌胎。嘔渴不止者。竹葉石膏湯宜之。蓋此疾以尋常傷寒溫疫之法律之。則緩者或可及。急者不可及。是所以為不可拘於舌胎之有無也。亦有吐瀉數行舌變冰冷者。不可驚誤為虛寒之極。用參附之類。是陽郁之極也。故手足亦多厥冷。未必死症。是速當峻下。厥回則舌亦暖。是亦不可不知矣。</p>

<h2>治法</h2>
<p>凡初起洞泄三四行。嘔吐或吐瀉並作。或瀉斷而吐猶不止。或一二日瀉自止而吐作者。此邪在中焦胃中。而連於胃口。宜大柴胡湯主之。間有吐逆不納藥者。不可誤為水逆與五苓散之類。此症世醫往往用吳茱萸湯小半夏加茯苓湯等者。俱非其治所宜。前方或加黃連山梔子伏龍肝水煎。緩緩冷服之。若猶吐不止者。本方加辰砂或鐵粉之類。或加鐵鏽水煎亦可也。若心下硬滿者。前方加厚朴。或大小承氣湯。但痞而不硬者。三黃瀉心湯。嘔者加辰砂。但瀉而不嘔吐者。是邪在中焦。三承氣湯。而兼吐者猶連上焦。大柴胡湯加芒硝。兼腹痛者。涼膈散。心中煩悶欲吐不吐者。枳實梔子豉湯。或更加大黃。瀉斷後脈浮而數煩渴引飲者。白虎湯。或小柴胡合白虎湯。吐瀉俱斷。嘔渴猶不止者。人參飲子去人參。或竹葉石膏湯。但嘔者本事竹茹湯。凡此疾驗盪滌盡未盡有法。大便稍稠。糞色生。小便快利。舌苔去。則是邪勢盡也。否則未盡也。未盡則用硝黃。徹上徹下不可間斷。否則餘燼復熾。戒之慎之。吐瀉全正。舌苔減半。猶微微渴者。柴胡清燥湯。或更加葛根。人參飲子去人參半夏加瓜蔞根亦佳。舌上緋薄如豬肪者。津液虛耗也。亦宜前方。或柴胡養榮湯。婦人室女經水適來者。多在吐瀉斷後。此為熱入血室。宜小柴胡加鮮地黃。或犀角亦佳。余見各門。</p>
<p>按醫治此症。有知宜清涼。猶畏大黃之盪滌者。徒從事芩連梔柏之類。其輕者適有愈。至感之重。邪之劇者。既無盪滌之能。反招閉塞之害。邪氣無由而泄。津液愈耗。是猶葉公之好龍。遂不能入其室。與彼用參附誤人者。不過五十步百步之相距也。如何則此疾邪氣一蟠踞於胃中。非大黃之盪滌不可拔。且大黃之治瘟疫。實為必用之藥。古今神人之所同然。昔耶律楚材下靈武。諸將爭掠女子玉帛。耶律楚材獨取書數部。大黃兩駝而已。既而軍中大疫。惟得大黃可愈。所活幾萬人。又陳宜中夢神人語曰。天災流行。人多死於疫癘。唯服大黃得生。因遍以示人。時果疫。因大黃得生者甚多。可見大黃之於疫。固不可闕之品矣。蓋大黃之治疫。專為逐邪而用焉。本不論大便之利不利。胃中有結邪。非大黃不能去。矧此症之瀉。為邪熱而瀉。若欲俟其燥結而下之。遂無可下之時。而病者已斃矣。是醫之咎也。故巴豆之峻亦有所不畏。且夫仲景治傷寒嘔吐而下利者。用大柴胡湯。亦少陰病下利清水色純青者。用大承氣湯。自餘下利之症。用大黃者。在經文歷歷可徵矣。今此疾所下非清水。則必如敗醬。無一下利清穀者。故下劑一投。輕者即斷。重者不至劇者。以胃中蟠踞之邪散也。是皆大黃之功。安患洞泄乎。</p>
<p>吳又可曰。邪傳胃。煩渴口燥。舌乾胎刺。氣噴如火。心腹痞滿。午後潮熱。此應下之症。若用大劑芩連梔柏。務清熱。竟不知熱不罷自成其熱。皆由邪在胃家。阻礙正氣。鬱而不通。火亦留止。積火成熱。但知火與熱。不知因邪而為火熱。智者必投承氣。逐去其邪氣。行火泄而熱自已。若概用寒涼。何異揚湯止沸。每見今醫好用黃連解毒湯。黃連瀉心湯。蓋本素、問、熱淫、所勝。治以寒涼。以為聖人之言必不我欺。況熱病用寒藥。最是捷徑。又何疑乎。每遇熱甚。反指大黃能泄而損元氣。黃連清熱且不傷元氣。更無下泄之患。且得病家無有疑慮。守此以為良法。由是遇熱症。大劑與之。二三錢不已。增至四五錢。熱又不已。晝夜連進。其病轉劇。至此技窮力竭。及謂事理當然。又見有等日久腹皮貼背。乃調胃承氣症也。況無痞滿。益不敢議承氣。唯類聚寒涼專務清熱。又思寒之最者。莫如黃連。因而再倍之。日近危篤。有邪不除。耽誤至死。猶言黃連至幾兩。熱不能清。非藥之不到。或言不治之症。或言病者之數也。他日凡遇此症。每每如是。雖父母妻子。不過以此法毒之。蓋不知黃連苦而性滯。寒而氣燥。與大黃均為寒藥。大黃走而不守。黃連守而不走。一燥、一潤、一通、一塞、相去甚遠。且疫邪首尾以通行為治。若用黃連。反招閉塞之害。邪毒何由以泄。病根何由以拔。既不知病源。焉能愈疾哉。（溫疫論）</p>
<p>案。吳氏此論。實宜為畏大黃之盪滌。而徒從事於芩連者之頂門一針矣。</p>

<h2>嘔吐</h2>
<p>夫邪之入胃。上走則嘔吐。下迫則泄利。上下並走則吐瀉俱起。故斯疾吐瀉並作者。此常候也。間有吐瀉偏者。吐瀉多少偏者。蓋雖系其人胃氣之厚薄。亦因邢之上走與下迫而異也。俱宜下奪。以挫其上走之勢。邪熱一去。則吐自止。瀉又尋止矣。世醫遇如此之症。欲強止其吐。往往以小半夏加茯苓湯。吳茱萸湯或生薑瀉心湯。黃芩加半夏生薑湯。旋覆代赭石湯之類。亦有為水逆與五苓散。亦有以半夏藿香丁香縮砂之類投之者。雖俱系治嘔吐之藥。非治本之法。邪之至輕者。幸有治焉。若邪之劇者。藥下咽徒使病者益苦悶耳。如此不如與一杯之冷水。予治此症。大抵以大柴胡湯。放冷與之。初服雖或吐之。二三服之後。必止。若猶吐不納者。加辰砂末少許。或鐵粉亦可用。或以伏龍肝水煎之。或湯成少加鐵鏽水。莫不納。三黃湯加辰砂。亦宜隨症而服之。若大邪既去而猶咂吐不止者。本事竹茹湯。或竹葉石膏湯之類。放冷服之。又有一症嘔吐之劇。一滴藥汁入口則乍吐出。甚者聞藥臭亦嘔。與冷水則不吐。至於此。醫家病家往往束手。余每遇此症。先斷藥湯。以新汲水。服紫雪大豆許。日三五度後竹茹湯。竹葉石膏之類。隨症與之則不吐。此亦不可不知。凡此疾。嘔吐皆屬熱。故與熱藥則必吐而不納。其無吐者亦生吐。雖吐之劇者。與冷水則不吐。是其證也。故粥漿以至湯藥。盡禁熱服。必當放冷服之。是予所歷試之真訣也。張石頑曰。凡溫病熱疾。嘔吐者。火性上炎也。無問表裡。通用涼膈散。嘔吐煩渴者。白虎湯。（張氏醫通）</p>
<p>又曰。溫病。熱病。時疫。乾嘔煩悶者。黃連解毒湯。（同）</p>
<p>楊慄山曰。溫病嘔吐者。胃中伏火。鬱而攻發也。增損三黃石膏湯。加味涼膈散加石膏。清利之自止。（寒溫條辨）</p>
<p>又曰。凡胃熱甚。服藥嘔吐不納者。愈吐愈服。三服後火性漸消。然後徐徐用藥。即不吐。（同）</p>

<h2>渴</h2>
<p>凡熱邪犯胃則渴。渴之極必引冷水。此疾邪火先入胃。故多渴。但有好冷。有好熱。俱為熱症。其或好熱。誤認為寒。與參附熱藥。則轉輕為重。不可不謹。若欲冷水者。少少與之不妨。其他梨漿西瓜之類。病人慾之宜與之。至治法。若吐瀉不止而渴者。三黃加石膏湯。或大柴胡湯加石膏。吐瀉止而渴不止者。小白湯。大湯引飲者。白虎湯。邪大半解。而嘔渴不止者。竹葉石膏湯。並宜生於津液之品。葛根栝樓根麥門冬之類。於對症方中加之。亦佳矣。予治此症。不論渴之冷熱。一切湯藥至白湯粥清。盡放冷與之。不然則助嘔而納。間有不嘔者。必益瀉。或為腹痛。是最治此疾之緊關。故不厭煩而屢告焉。</p>
<p>吳有性曰。如大渴思飲冰水及冷飲。無論四時。皆可量與。蓋內熱之極。得冷飲相救甚宜。能飲一升。止與半升。寧使少傾再飲。至於梨汁藕汁蔗漿西瓜。皆可備不時之需。如不欲飲冷。當易白滾湯與之。乃至不思飲。則知胃和矣。（溫疫論）</p>
<p>楊慄山曰。溫病本未身冷不渴。小便不赤。脈不洪數者。未之有也。輕則白虎湯。加白姜蠶蟬蛻天花粉。重則增損三黃石膏湯。加大黃。凡病忽欲飲水者。為欲愈。蓋腸胃燥則不能散邪。得水則和其胃氣。汗出而解。若不與水。則乾燥無由作汗。遂至悶亂也。（寒溫條辨）</p>
<p>案此說甚妙。瀉疫渴飲水數升。始有蒸然為汗者焉。</p>

<h2>厥冷</h2>
<p>夫厥冷者。陰寒之極。故諸病見之者。咸為陽氣衰絕之候。但傷寒與瘟疫。純熱之極而亦見之。謂之陽厥。古法率以盪滌為主矣。今此疾亦瘟疫之一種。純熱之邪也。故往往見厥冷之症。而查其所從來。凡有三。其一吐瀉數行。不及服藥而厥冷脈伏。是尤劇症。其一邪勢原輕。醫者與緩劑。藥方不與病敵。半日或一日後。邪熱稍劇。遂至於厥冷脈伏。是其次也。其一服參附之類。或阿片等。或大艾焚灼。使邪炎鬱塞。遂至厥冷脈伏者是也。三症中不及服藥而厥冷者。雖邪勢劇。畢竟不過內結壅閉。陽氣逆於內。不能達於四末。故與大柴胡湯大承氣湯之類。邪炎一衰。陽氣一通。則厥愈脈出。甚者走馬湯。備急丸。杏仁丸。硃砂丸之類。亦可選用。其服緩劑。邪勢加劇。而厥冷者。比前症稍難。然猶有可救者。治法同上法。如其參附炙炳阿片等之誤治。助長之弊。邪勢加劇。必耗正氣。或動宿疾。其變至不可測。有發膈痛者。有轉筋者。有吐瀉俱斷而膈熱如燒。煩躁不安者。有瀉斷而吐益劇者。有吐下蛔蟲者。種種不一。至厥之甚。通身冰冷。肌膚血凝。青紫成斑。唇口指甲並四掌。變青紫。直視上插。舌冷如冰。煩渴欲冷水。與水則納。與熱則吐。神雖昏。不近衣服。是梟猛之邪內郁。而陽氣不能四布之候。俱系醫之失治。而猶不察。卒至於此。又況燒酒熨之。芥子泥塗之。助桀為暴之徒乎。實可痛憫矣。當此時非斬關奪旗之兵。恐不能得救拔。治法亦宜前數方。其他涼膈散。白虎湯。竹葉石膏湯。六一順氣湯。解毒承氣湯之類。隨其症而選用之。或可回死於無何有之鄉矣。</p>
<p>李挺曰。熱極忽然伏於內。故身寒四肢厥逆。狀若陰症。但身雖冷。而不欲近衣。神雖昏而氣色光潤。脈沉滑而有力。此陽極似陰也。宜大柴胡湯下之。或白虎湯竹葉石膏湯。（醫學入門）</p>
<p>吳綬曰。厥應下而不可發汗。汗之則口傷爛赤也。（傷寒蘊要）</p>
<p>又曰。陽厥者。必先因熱甚不解。而後發厥也。經言厥深熱亦深。厥微熱亦微。此之謂也。切其脈雖沉。按之則滑。四肢雖冷。手足心或溫也。或時煩躁。畏熱喜冷。與之冷水則咽也。此乃陽厥之候。（同）</p>
<p>張石頑曰。溫病熱病時疫。熱極而厥者。涼膈合解毒。或合承氣下之。熱不退者。再下之。（張氏醫通）</p>
<p>又曰。手足厥逆少氣。唇面爪甲背青。六脈俱伏。而嘔出酸穢。瀉下臭惡。便溺黃赤者。此火伏於厥陰也。為熱極似陰之候。急作地漿煎竹葉石膏湯。誤作寒治必死。（同）</p>
<p>吳有性曰。凡陽厥。手足皆冷。或冷過肘膝。甚至手足指甲皆青黑。劇則遍身冷冰如石。血凝青紫成片。或六脈無力。或脈欲絕。以上脈症悉見純陰。猶以為陽症何也。蓋審內症。氣噴如火。齦爛口臭。煩渴譫語。口燥舌乾。舌胎黃黑。或生芒刺。心腹痞滿。小腹疼痛。小便赤澀。涓滴作痛。非大便燥結。即大腸膠閉。非協熱下利。即熱結旁流。以上內三焦悉見陽證。所以為陽厥也。粗工不察內多下症。但見里症脈體純陰。誤投溫補劑。禍不旋踵。（溫疫論）</p>
<p>又曰。凡陽症似陰者。外寒而內必熱。故小便血赤。凡陰症似陽者。格陽之症也。上熱下寒。故小便清白。但以小便赤白為據。以此推之萬不失一。（同）</p>
<p>楊慄山曰。大抵陽症似陰。乃假陰也。實則內熱而外寒。在傷寒以大承氣湯下之。有潮熱者六一順氣湯。熱甚合黃連解毒湯。在溫病。雙解涼膈加味六一解毒承氣之類。斟酌輕重。消息治之。以助其陰而清其火。使內熱既徐。則外寒自伏。易所謂水流濕者即此義也。此與陽勝格陰例同。王太僕所謂病人身寒厥冷。其脈滑數按之鼓指者。非寒也。余謂火閉而伏。多見脈沉欲絕不盡。滑數鼓指也。要在詳症辨之。（寒溫條辨）</p>
<p>又曰。溫病厥逆無陰厥。雜氣伏郁。陽熱內迫。格陰於處。氣閉不能達於四肢。甚有通身冰冷。其脈多沉滑。或沉伏。或沉細欲絕。或六脈俱閉。所云體厥脈厥是也。症多怪異不測之狀。輕則升降散。增損雙解散。加味涼膈散。重則加味六一順氣湯。解毒承氣湯。斟酌下之。豈可與傷寒陽厥並論哉。若數下後。厥不回熱不退者死。亦有利下數十行厥方回熱方退而得生者。正所云急症急攻。下之或可活。不下必死無疑矣。此則溫病厥逆治法也。（同）</p>

<h2>唇甲青紫</h2>
<p>凡邪熱梟猛之症不速盪滌。則必致手足厥冷。厥冷之極。必至唇口青紫。此蓋鬱熱熾盛。血脈凝滯之所致。亦有輕症用熱劑。鼓激邪火而至於此者。不知者往往誤認為陰寒之症。益用溫熱之劑。愈用而愈甚。豈知青中有紫。原非陰寒之症哉。盪滌少遲。則必就鬼錄矣。治法詳於厥冷門中。其辨色之法。張石頑論之最詳。宜參看焉。</p>
<p>張石頑曰。色之青者為寒。赤者為熱。以寒中於里。則血脈凝滯不能榮行於外。所以唇爪青黑也。若熱毒流入於裡。而為熱厥。則唇甲亦青中必滯深紫。與陰寒之青黑不同。試觀產婦以舌青驗子死。唇青驗母死。則知青黑為陽氣竭絕。不得與青紫渾稱也。（張氏醫通）</p>

<h2>轉筋</h2>
<p>轉筋之一症。多在誤藥致厥者。間有不經誤治。吐瀉數行忽轉筋者。俱是津液耗渴。邪火迫於筋脈之所致。亦有腰腿間肌肉降起作痛者。是亦邪鬱血凝之所致。俱宜大柴胡湯大承氣湯之類。或加行血之藥一二味最佳。罨法刺絡之類。亦輔治之一策。隨症或宜用之。蓋此症去秋尤多。今秋甚稀。豈邪氣稍與人身諳而然歟。龔西園曰。轉筋屬熱血。四物湯加酒芩紅花蒼朮南星煎服。（醫學源流肯綮大成）</p>
<p>按。此等法宜大邪既去。而轉筋猶不止者。若其邪炎猶熾而轉筋者。恐非此等之法所能治。學者思焉。又委中穴也血。或十指頭出血。皆是良法。然刺絡之法。宜未至厥冷者。若厥冷之極。轉筋者用之。則只出紫黑血點數滴耳。遂不能救。故行之當在早矣。</p>

<h2>目眩　直視　目反　露睛</h2>
<p>夫目五臟精華之所聚。故五臟方有病。其候往往見於目。況此症熱毒之極。一感之。則或上攻頭目。或下迫腸胃者乎。故初起有目眩者。或目系急痛。卒倒而不省人事者。俱為邪熱元閉上攻頭目之所致。宜走馬湯。備急丸。大承氣之類。若其手足厥冷。必直視目反。不可驚為死症也。厥回則復常。治法詳於厥冷門。亦有手足厥冷而目半開半合睡中露睛者。輕者厥回後。三五日猶不止。不可誤為中氣虛極而與溫補之藥。必致不救。仍宜確守前法。邪退精氣復則止矣。</p>
<p>楊慄山曰。溫病頭目眩。及頭脹頭痛汗。並目赤。目黃。目不明。目直視。目反折。與傷寒治法不同。俱系雜氣伏郁中焦。邪熱元閉。上攻頭目。乃胃家實也。通宜升降散。加味涼膈散清利之。頭眩疼量加大黃。目眩赤等症量加龍膽草酒炒。（寒溫條辨）</p>

<h2>呃逆</h2>
<p>呃逆之症。熱邪鬱於胃之所致也。故用熱藥而致其冷者。多發之。不可誤為胃寒。與丁香附子等之熱劑。不獨呃逆不止。必致諸症增劇。但宜大柴胡湯三承氣湯之類下之則自止。下症既去。渴而呃逆者。宜白虎湯。若其初起。用盪滌法。吐瀉全止而呃逆者。餘熱猶伏於胃中也。宜竹葉石膏湯。橘皮竹茹湯。本事竹茹湯之類。若邪全去。而猶呃逆數日不止者。屬胃寒。宜丁香柿蒂湯之類。然屬寒者。誠百中之一二也。宜詳內外。果屬寒則用前法。</p>
<p>病源論曰。伏熱在胃。令人胸滿氣逆。氣逆則噦。</p>
<p>程國彭曰。當下失下。胃火上衝。而呃者。其症燥渴內熱。大便閉結。大柴胡湯下之。（醫學心悟）</p>
<p>吳有性曰。胃氣逆。則為呃逆。吳中稱為冷呃。以冷為名。遂指為胃寒。不知寒熱皆令呃逆。且不以本症相參。專執俗語為寒。遂投丁茱薑桂。誤人不少。吾願執辭害義者。臨症猛省。（溫疫論）</p>
<p>又曰治法。各從其本症而消息之。如見白虎症。則投白虎。見承氣症。則投承氣。膈間痰閉。則宜導痰。如果胃寒。丁香柿蒂散宜之。然不若四逆湯功效殊捷。要之但治本症。呃自止。其他可以類推矣。（同）</p>

<h2>發斑</h2>
<p>凡發斑。為熱邪外解之候。故此疾發斑。多在用下藥吐瀉已斷之後二三日。又有初時誤服熱劑。迫陰血。裡氣壅閉。不得外泄。至成厥冷。忽峻下一投。裡氣忽通。邪熱外泄而發斑者。又初時雖服熱劑。邪氣固微。不到激昂。正氣一旺。又發斑者。俱與溫疫發斑。治法一同。今舉吳楊二氏之說。宜參看焉。又有先發斑而一二日後吐瀉始發者。此屬一種之變局。治法俱同前矣。</p>
<p>吳有性曰。邪留血分。裡氣壅閉。非下不能發斑。斑出發毒邪外解下後斑漸出。更不可大下。設有下症。少與承氣湯。緩緩下之。若復大下。中氣不振。斑毒內陷則危。宜托裡舉斑湯。（溫疫論）</p>
<p>楊慄山曰。夫疹與斑等乃溫病中之重症也。治同溫病傷寒。百不出一。總緣雜氣之毒鬱於胃中。無所施泄。發於皮膚而為疹。增損雙解散主之。加紫背浮萍五七錢。或重加石膏大黃芒硝。清散得宜。未有不出者。如身出而頭面不出。此毒氣內歸危候也。急以大蟾蜍一個。搗和新汲水。去渣痛飲之自出。屢驗。（寒溫條辨）</p>

<h2>結胸</h2>
<p>傷寒結胸。多在用下劑甚早。邪氣陷入。此癥結胸。多系鬱熱上炎與水飲相結。故素常蓄飲人。患之最多。輕者小陷胸湯加大黃。或大茈胡合小陷胸湯。或更加芒硝。千金陷胸湯亦可用。甚者大陷胸湯。大承氣湯加甘遂。在上者宜吐之。三物白散之類。量症之輕重。而選用之。旁用罨法亦可矣。亦有初起用熱劑。下利忽止。邪熱無出路。於是郁邪上攻。迫於心膈以為結胸者。治法俱同於上。其兼發斑或呃逆。脈沉微。手足厥冷等。在傷寒為難治。此疾未必然。</p>
<p>楊慄山曰。溫病鬱熱內攻。火性上炎。一發即心胸結痞。脈洪滑數。或伏沉。自是熱實結胸痞氣。特患下之不早耳。非大小陷胸。或陷胸承氣。加味涼膈等方下之。</p>

<h2>腹痛</h2>
<p>此疾兼腹痛者甚稀。但夏至前後。邪勢尚嫩。秋秒後邪勢已老之時。患之者必兼腹痛。又者兼蛔蟲。挾滯食。動疝瘕者。六七月盛行之時。感之者必無腹痛。又初起無吐瀉。但腹痛如刺。頗類攪腸痧者有之。邪勢尤劇。非走馬湯備急丸杏仁丸之類則不能治之。少少腹痛不必拘。但宜大柴胡湯涼膈散三承氣湯之類。宜量其輕重而與之。若果繫於兼蛔兼滯食。則於對症藥中。加殺蟲消導之一二味亦可矣。若其邪全去。而痛猶綿綿不止者。多是動宿疾也。宜詳其因而治之。</p>

<h2>蛔蟲</h2>
<p>平素多蛔之人。一感此疾。蛔不堪其溫熱。煩擾動痛。或從口出。或從肛門出。亦有無痛而忽然吐出者。此皆因邪火犯胃。蛔不安其居已。故以逐邪火為要。不必治蛔。若誤為胃寒。與溫熱之劑。則邢勢愈加。至不可救。但硝黃盪滌。邪炎自熄。則蛔亦安居。若不得已而治之。則宜兼服清中安蛔湯。其吐蛔愈多。而時時腹痛。不能飲食者。是胃敗也。多屬不治。</p>
<p>吳有性曰。疫邪傳裡。胃熱如沸。蛔動不安。下既不通。必反於上。蛔因嘔出。此常事也。但治其胃。蛔厥自愈。每見醫家妄引經論以藏寒。蛔上入膈。其人當吐蛔。又云胃中冷必吐蛔之句。便用烏梅丸。或理中安蛔湯。方中乃細辛附子乾薑桂枝川椒皆辛熱之品。投之如火上添油。殊知疫症表裡上下皆熱。始終從無寒症者。不思現前事理。徒記紙上文辭。以為依經傍注。坦然用之無疑。因大誤人甚眾。（溫疫論）</p>
<p>馬印麟曰。蛔厥有熱渴者。黃連解毒湯。有下症者。承氣湯。（溫疫類編）</p>

<h2>口中糜爛</h2>
<p>吐瀉已止。飲食稍進。後二三日或四五日。忽然口舌糜爛者間有焉。余炎薰蒸之所致也。宜涼膈散。兼點柳花散。或以黃連解毒湯之類嗽之亦可矣。清胃散瀉火湯之類。亦宜服用。</p>

<h2>解後大小便不利</h2>
<p>邪結不散。則陽氣內結。小便不利。甚者二三日不通者有之。是此疾之常事。服硝黃之類。邪火一消。大便生渣滓則通。不必強利小便。不知者利其小便。此大誤也。亦有下利斷後小便猶不快利者。此下後津亡之所為。勿以豬澤之屬利之。飲食進。津液生。則自通矣。吐瀉後大便數日不行者。此亦常事。別無他證。不可攻之。吐下後津涸陽亡。胃中虛燥所致也。飲食日加。津液自通。則大便出矣。若病人覺脹悶。則宜調胃承氣。養胃承氣。麻子仁丸之類。</p>

<h2>痧復</h2>
<p>凡此疾。初起用下劑。而吐利止。飲食漸進。氣力全復。近者半日。或四五日。遠者十日。或半月餘。已而忽然前症再發。疲睏十倍於前日。比比有焉。是蓋非再感。乃余炎未歇。再縱其梟惡也。其故何也。前日退消黃甚早。余炎不全去。其他或輕症服溫劑而愈。或緩藥治之幸而愈。以邪勢之不劇。雖一旦得效。余炎再集。則前日不用盪滌之咎也。勿以其氣力未復與補藥以養其梟。宜速與硝黃之類。以拔其邪藪。縱藥緊於前日。勿緩於前日。倘誤為胃虛。投參附薑桂蓍術之類。則禍不旋踵。再感亦同焉。</p>
<p>劉松峰曰。凡治傷寒溫疫。醫者最重初次得疾。至於痧腹謂死者蓋寡。每視為至輕而謾不經意焉。蓋謂痧復之病。人身之經絡藏府。皆前次溫邪。所曾經傳遍之所。則此番不過由熟路而行。故邪氣易出也。右人原有此論。豈知此第語其常也。獨瘟疫盛行之時則不然。蓋是時疫氣所積者厚即無氣食勞損之因。尚有重感厲氣而復者。更有前疇餘邪稍有未淨。再醞釀滋蔓而猝然自復者。是天氣之邪。與人之氣血。膠固充塞。鬱勃糾紛。故復至三四次。尚有損命者矣。慎毋以其復也。而忽之。（松峰說疫）</p>

<h2>妊娠</h2>
<p>妊娠感此疾。服藥尤不可遲緩。宜速投盪滌之劑。慎勿惑硝黃墮胎之說。以用補藥或緩劑。如此則邪火愈熾。熱毒迫子宮。胎必墮。若早與下劑以清肅之。則火毒消滅。元氣泰然。復何墮胎之有也。古人所謂有故無損者是也。亦間服藥數日。吐瀉已竭。飲食稍進。忽然再復者。因憶受胎則腹中與平人自異。邪熱必伏匿。固結於子宮間。豈一下之所能了乎。是以余炎再聚。則再呈梟惡。亦不可知也。後學者宜詳焉。</p>
<p>吳又可曰。孕婦時設。疫應用三承氣湯。須隨症施治。慎勿惑於參朮安胎之說。病家見用承氣。先自驚疑。或更左右嘈雜。必致醫家掣肘。為子母大不詳。若應下之症。反用補劑。邪火壅鬱。熱毒愈熾。胎愈不安。耗氣搏血。胞胎何賴。是以古人有懸鐘之喻。粱腐而鍾未有不落者。唯用承氣逐去其邪。火毒消散。炎熇頓為清涼。氣回而胎自固。當此證候。反見大黃為安胎之聖藥。歷當子母俱安。若腹痛如錐。腰痛如折。此將墮胎欲墮之候。腹藥亦無及矣。雖投承氣。但可愈疾而全母。昧者以為墮胎。必反咎於醫也。（溫疫論）</p>
<p>又曰。或詰余曰。孕婦而投承氣。設邪未逐。先損其胎。當如之何。余曰。結糞瘀熱腸胃間事也。胎附於脊。腸胃之外子宮內事也。藥先到胃。瘀熱才通。胎氣便得舒養。是以興利除害於傾刻之間。何慮之有。但投藥之際。病衰七八。餘邪自愈。慎勿過劑耳。（同）</p>
<p>楊慄山曰。妊娠溫病。內蘊邪熱。里證居多。不可發汗。急用護胎之法。井底泥塗臍至闕元。干再易之。或以青黛伏龍肝為末。水調塗之。若大黃。乾嘔錯語呻吟。增損三黃石膏湯。清化湯。若熱甚。燥急胎動不安。必須下之。慎勿惑於參朮安胎之說。奪其裡熱。庶免胎墮。蓋邪火壅鬱。胎自不安。轉氣傳血。胎胞何賴。酌用升降散雙解散。加味涼膈散。或去芒硝以逐去其邪。則焰熇頓為清涼。氣回而胎自固。（寒溫條辨）</p>

<h2>發狂</h2>
<p>予去秋見一壯婦患瀉疫。吐瀉數行。煩渴引冷水。醫者與參附之劑。證益加劇。於是替醫。後醫亦復與參附數劑。吐利益甚。遂發狂而死。余意此證。邪勢梟猛。如經參附熱劑。故鼓動邪勢。迫於陰血而發狂爾也。若初與承氣諸湯。則必不至於此。然既至於此。亦仍用承氣諸湯。或可收功也。果繫於蓄血。則桃核承氣湯。或大承氣湯。加桃仁紅花當歸。抵當湯丸之類。尚或可救焉。而此之不顧。飽用參附。而令狂死。實可痛悼矣。</p>
<p>吳有可曰。有喜笑如狂者。此胃熱波及於血分。血乃心之屬。血中留火。延蔓心家。宜其有是證矣。仍從胃治。（溫疫論）</p>
<p>楊慄山曰。傷寒瘟病。雖根源不同。至於發狂。皆邪熱之極。使非峻逐火邪。則不能已。故但察其大便硬結或腹滿而堅。或濕滯膠閉。或協熱下利。或熱結旁流。有可攻之證。酌用大小承氣涼膈六一解毒承氣之類下之。如無脹滿結實等症。而惟胃火使然者。但以白虎解毒三黃石膏大小清涼之屬。清其火邪。其病自愈。（寒溫條辨）</p>

<h2>下血</h2>
<p>下血之症。亦往往在初發。是皆用熱藥。迫於血分之所致也。不必具小腹硬滿急脹小便自利等之候。間有喜忘如狂者。亦有昏聵不清楚者。若大便中有血色者。熱犯血分無疑。桃核承氣湯抵當湯之類。亦可用之。又有初起小便出血者。是熱犯小腸之所為。今秋治小兒患之者。一人而已。不多見。詳見於治驗中。</p>
<p>吳有可曰。胃實失下。至夜發熱。留血分更加失下。必致瘀血。初則晝夜發熱。日晡益甚。既投承氣。晝日熱減。至夜獨熱者。瘀血未行也。宜桃仁承氣湯。服湯後熱除為愈。或熱時前後縮短再服。再短畜血盡而熱亦盡。大勢已去。亡血過多。余焰尚存者。宜犀角地黃湯調之。（溫疫論）</p>
<p>又曰。胃移熱於下焦氣分。小便不利。熱結膀胱也。移熱於下焦血分。膀胱畜血也。</p>
<p>又曰小便不利。亦有畜血者。非小便自利便為畜血。（同）</p>

<h2>變證</h2>
<p>卒然惡寒振慄。肌膚粟起。半時或一時許。而吐瀉並作者。或吐瀉一二行而振慄者。是邪遊溢太陽經也。從吳氏之法。與達原飲加羌活。輕者自解。重者非下劑不愈。又有無惡寒振慄。但頭痛如破。脈弦數而吐瀉者。前方加葛根。或大柴胡加葛根。又有憎寒而下血者。小便出血者。是邪逼下焦之症。宜桃核承氣湯。或承氣湯加桃仁紅花當歸之類。尿血者外臺崔氏療卒傷熱尿血方。或當歸承氣湯。溫疫論桃仁湯宜之。吐血者聖惠茜根散。三黃瀉心湯。聖惠苦參湯宜之。又有卒然頭眩昏倒。舉體麻痹。續轉筋。而不吐瀉者。或手足厥冷脈伏。是陽氣鬱遏不伸之候。宜走馬湯。備急丸。亦有宜白虎湯者。此他變證猶多。不必一一具論焉。聊舉其一二耳。臨機通變。自存於其人。</p>

<h2>死症</h2>
<p>洞泄一日。或二三日後。毒臭沖鼻。傳旁人衣服而不消者。並厥回脈出。而大便遺失不覺。猶發揭衣被。煩渴欲飲水者。水瀉一二行。起居未衰。乍聲啞者。水瀉止後。大便滑通無度者。或發狂不省人事者。又劇症服藥得厥回。脈出吐瀉全斷。飲食稍進。而吐蛔不止者。予去秋來。治此疾數百人。其如此者。僅不過五六人。而二三日後必死。終不能救也。噫是實屬死症。不可挽回歟。抑猶有一線生路。而余術未至。末由救拔歟。後之值此等症者。研精殫思。有能發明補余罅漏。死而瞑目矣。又如老人虛人。雖原匪死症。並弗誤治。榮衛衰弱。或宿疾發動。有不可枝梧者。然十人中不過一二人耳。此所謂天覆傾者。非醫人之罪也</p>

<h2>禁忌</h2>
<p>人參　附子　罌粟殼　胡椒　阿片　訶子　燒石　熨藥　燒酒　清酒　鹽熨　炙　蕃椒　肉豆蔻　熱湯　熱弱</p>
<p>以上諸品。正須禁絕之。但巴豆極熱之性。而不在禁中者。如備急丸走馬湯紫丸白散杏仁丸之類。足以助硝黃之所不及。其他一切湯藥飲食。宜冷而不宜熱。否則嘔吐不納受。</p>

<h2>預防</h2>
<p>凡正邪不兩立。正氣實則邪無由入。故欲預防感觸。宜先禁飽食大醉。一切油膩。並堅硬難化之物。常粗食。勞筋骨勿過。時時炙背腹。勿有間斷。勿不時飲食。勿數入房。勿冒雨露。勿深夜行道路入山林。如此則筋脈舒暢。精氣充實。邪氣何由入焉。此為預防第一之策。古人有闢溫等之方。予未之信。倘病家強乞藥。不得已而與之。平胃散六君子之類。蓋脾為諸陽之本。脾胃健則津液四布。氣血充盛。庶幾無邪氣乘虛而入。</p>
<p>劉松峰曰。溫疫乃天地之邪氣。人身正氣固。神氣守。則邪不能幹。故避之在節欲節勞。仍毋忍飢以受其氣。至於卻邪之法。如經所云。天牝從來。復得其往。氣出於腦。即不幹邪是也。蓋天牝者鼻也。鼻受天之氣。故曰天牝。溫邪之氣。自空虛來。亦欲其由空虛而去。即下句氣出於腦之謂也。蓋邪氣自鼻通腦。則流布諸經。令人病溫。氣出於腦。謂嚏之或張鼻以泄之。或受氣於空。速泄於外。而大吸清氣以易之。則卻從鼻出。而毒氣自散。祛邪於外之外也。又如想心如日等法。蓋膽屬少陽。中正之官。其氣壯則藏氣賴以俱壯而不能入。此強中御外之法也。凡探病疹疾。知此諸法。雖入穢地。可保無虞。男病邪氣出於口。女病邪氣出於前陰。其對坐之間。須知其向背。行動從容。察位而入方妙。（說疫）</p>

<h2>或問</h2>
<p>瀉疫新論稿成。有人問曰。子以此疾為瘟疫之一種。而無一屬虛寒者。既得聞命。雖然人有老少強弱。病有寒熱虛實。今如子說不論老少強弱。一切與清熱滌穢之劑。以為至當之治。強壯者幸可保無虞。至老幼羸弱者。恐有為子死非命者。夫人疾病。因其人稟賦強弱寒熱虛實異其症。故仲景撰傷寒雜病論。舉三陽三陰以示寒熱虛實之法。而今子不據其法。果何所本。豈為世服參附而斃者多。無非懲羹吹齏之類乎。恐招刻舟求劍守株待兔之譏矣。曰如子則誠知其常。不知其變者也。何則。人有老少強弱。病有寒熱虛實。軒岐長沙之所以諄諄教於人。而固不待子曰而知也。特至於溫疫之邪。有不然者。是聖所未明言。而後世吳又可以降所發明也。既知瘟疫之盡屬陽症。而陰症百中之一。則奚獨怪斯疾之陽症而無陰症乎。何則。此疾亦瘟疫之一種也。且予聞此疾之起在印度。夫印度之地。在赤道切近極熱之地。元陽之氣發而為此。純熱梟猛之邪。以傳染於四方。一觸之則從鼻口入。直客於胃中。傳血脈。上下奔突。卻一身之津液。上吐下泄。故無老少強弱之別。一受其邪。則胃中如熱釜。只恐清解逐穢之力不足矣。譬之如火之燒屋。屋有大廈小屋。然救火非水。則不能也。抑如子說。大廈用水小屋用湯乎。必無此理也。今此邪之容於人身。亦猶火之燒屋。要在滅之耳。奚暇論老少強弱乎。火滅則屋存。邪去則人全。又不知乎。人服巴豆則暴瀉如注。是以烈熱之毒入胃中。忽卒不和故也。若欲止其瀉者。令之飲冷水。即腹中快和。瀉頓止。是皆世人所知。非可怪而救之。何量老少與強弱而為與水哉。凡熱邪猛烈。直侵腸胃。則發瀉利。此理甚明白。且古人不言乎。有故無損。當此硝黃雖劇。亦何恐之有。若顧慮老壯強弱。而逡巡失治。則噬臍不可及。何則。邪勢急於燒眉也。世有知此疾之不宜溫劑。而猶恐硝黃之盪滌者。徒事芩連梔柏之類。徒養疴斃人者。猶欲防勁敵而不遣勁兵。委之文吏。豈唯其不濟事。一敗塗地也明矣。子疑未冰釋。則諸具舉其非虛寒之徵矣。夫此疾卒然洞泄一二行。飲食起居無變。虛寒者能如此乎。此非寒一也。其所下之糞色。純白如淅米汁。或如敗醬毫無色。亦完穀下出也。肛門熱癢如溫湯瀉出。小便赤濁短少。虛寒而有如此症乎。是非寒二也。煩渴欲飲冷水。舌上白胎甚者。舌強不語。虛寒而有如此症乎。是非寒三也。雖手足冰冷。膈熱如燒。或無熱猶發揭衣被。虛寒有如此者乎。是非寒四也。與熱藥則吐而不納。下利益甚。轉加煩悶。與涼藥若冷水。則不吐。是等皆虛寒之所無。而熱證獨有之。是非寒五也。子猶以為不然耶。曰非散悉以為非也。然世有治此疾專投參附薑桂之徒。乃未悉殺人。往往有為之救脫者。則不能無疑於子之言也。曰是何足深怪。彼服參附而得生。世固有焉。如此之症。其人正氣素勝。所受之邪亦輕。不藥自愈之症耳。其實非為藥愈也。何則。邪氣輕。正氣勝。假令服熱藥。一時鼓動邪勢。至手足厥冷。正氣遂奮然而起也。正邪不兩立。正氣一勝則邪氣去。必然之理也。不啻服參附而得生。至一等輕症。雖服阿片固澀之劑亦愈。與發表藥亦愈。與芩連亦愈。實非藥之效也。世更有吐瀉數行。至手足厥冷。而不服一貼之藥而愈者。如若而人。天資強堅壯實。一則雖誤治不為藥見害。一則疾不付醫。得中醫之類已。子乃思欲以一救萬。以溫熱之劑。試人性命。不亦謬戾之甚乎哉。苟非強堅壯實之人。則死不旋踵。雖或幸愈荏苒引日。或明年再發。有變為休息痢者。有為滯下者。余去秋以來。目擊如斯之輩。凡數十人不啻也。以是觀之。與溫熱之劑而愈者。非藥也。乃自愈也。客首肯而去。明治十三年重陽前三日高島久也祐啟謹補訂</p>

<h1>卷下</h1>

<h2>藥法</h2>
<p>藥方（凡卷中諸方宜冷服。不宜溫服。若犯之。則益吐益下。或發腹痛。當戒焉。今舉於此。不復一一注各方下。）</p>
<p>大柴胡湯（傷寒論）　嘔不止。心下急。鬱郁微煩○心下痞硬。嘔吐而下利者。</p>
<p>茈胡（半斤）　黃芩（三兩）　芍藥（三兩）　半夏（半斤洗）　大黃（二兩）　生薑（五兩切）　枳實（四枚）　大棗（十二枚擘）</p>
<p>上八味以水一斗二升。煮取六升去滓。再煎溫服一升。日三服。</p>
<p>案。此方吐瀉並作者。並吐多瀉少者宜之。吐而不納藥者。以伏龍肝水煮之。或加辰砂少許更妙。</p>
<p>大茈胡加芒硝湯（會解）　胸脅滿而嘔。日晡所發潮熱已而微利。</p>
<p>即前方中加芒硝</p>
<p>案。此方前方症而下利數行不止者宜之。</p>
<p>大茈胡湯加黃連山梔子（同）　前證嘔吐心煩者宜之。</p>
<p>六一順氣湯（寒溫條辨）　少陰厥陰病。口燥咽乾。煩熱消渴。譫語神昏。大便燥實。胸腹滿硬。或熱結旁流。繞臍疼痛。厥逆脈沉伏者主之。</p>
<p>大黃（四錢）　芒硝（二錢五分）　厚朴（錢半）　枳實（一錢）　柴胡（一錢）　黃芩　白芍　甘草（生各一錢）</p>
<p>水煎去渣。入鐵鏽水三匙。冷服加姜蠶（三錢）蟬退（十個）黃連（一錢）名加味六一順氣湯溫病主方治同前證。</p>
<p>竹葉湯（千金）　治小兒夏月患腹中伏熱。溫壯來往。或患下利。色或白或黃。</p>
<p>三焦不利方</p>
<p>竹葉　小麥　柴胡　麥門　人參　甘草　茯苓　黃芩</p>
<p>上八味㕮咀以水四升。煮竹葉小麥。取三升。去竹葉小麥。下諸藥。煮取一升半。分三服。若小兒夏月忽壯熱。燒人手。洞下黃溏。氣力惙然。脈極洪數。用此方加大黃二兩。再服得下即瘥。</p>
<p>案。此方下利而無嘔吐者。去人參加大黃用之。若嘔者。更加半夏。</p>
<p>瀉心湯　心下痞。按之濡者。</p>
<p>大黃（一兩）　黃連　黃芩（各一兩）</p>
<p>上三味以水三升。煮取一升頓服之。</p>
<p>案此方心煩嘔吐而下利。心下痞者宜之。嘔甚者加辰砂更妙。</p>
<p>大承氣湯　自利清水色純青。心下必痛。口乾燥者急下之。○陽明少陽合病必下利。三部脈平。按之心下硬者。急下之。○下利脈遲而滑者。內實也。利未欲止當下之。○下利脈反滑。當有所去。下之乃愈。○下利差後至其年月日。復發者。以病不盡故也。當下之。</p>
<p>大黃（四兩）　厚朴（半斤）　枳實（五枚）　芒硝（三合）</p>
<p>上四味。以水一斗。先煮厚朴枳實。取五升去滓。內大黃。煮取二升去滓。內硝更上火一兩沸。分溫再服。</p>
<p>案此方無嘔吐而瀉不止。或日數十行者。最宜此方。</p>
<p>調胃承氣湯　自下利者。脈當微厥。今反和者知為內也。○心下溫溫欲吐。而胸中痛。大便反溏。腹微滿。鬱郁微煩。先其時自極吐下者。</p>
<p>大黃　甘草　芒硝</p>
<p>上三味。以水三升。先煮大黃甘草。取一升去滓。內芒硝。更上火微煮。令沸。少少溫服之。</p>
<p>案此方下利久不止。虛羸頗甚。腹皮貼背。無痞滿等證者。或瀉止後經數日。飲邪再聚。發前症。但疲睏殊甚者。宜此方。或加當歸芍藥也。醫每遇此等症。見其疲睏。恐大黃損元氣。疑慮失錯。往往與參附之劑。誤人者多。不可不戒矣。</p>
<p>解毒承氣湯（寒溫條辨）　瘟病三焦大熱。痞滿燥實。譫語狂亂不識人。熱結旁流。循衣摸床。舌卷囊縮。及瓜瓤疙瘩瘟。上為癰膿下血如㹠肝等症。厥逆脈。沉伏者。此方主之。</p>
<p>白姜蠶（三錢）　蟬退（全十個）　黃連（一錢）　黃芩（一錢）　黃柏（一錢）　梔子（一錢）　枳實（二錢五分）　厚朴（五錢）　大黃（五錢）　芒硝（三錢別入）</p>
<p>甚至痞滿燥實。堅結非常。大黃加至兩餘。芒硝加至五七錢。治動嘔者。又當知之。加栝蔞一個。半夏二錢。名陷胸承氣湯。治胸滿兼有上症者。案此方熱鬱胸膈。作胸滿胸痛等種種症者。隨後加味用之。頗有效。</p>
<p>涼膈散（張氏醫通）　煩擾腹痛。脈來數疾。</p>
<p>大黃　朴硝　甘草（各二十兩）　山梔子　薄荷　黃芩（各十兩）　連翹</p>
<p>上為末。水一盞。入竹葉七片。蜜少許煎服。</p>
<p>加味涼膈散（寒溫條辨）　溫病主方○楊慄山曰。余治溫病。雙解涼膈愈者。不計其數。若病大頭瓜瓤等瘟。危在旦夕。數年來以二方救活者。屈指以算百十餘人。真神方也。其共珍之。</p>
<p>即於涼膈散方中。加白姜蠶（三錢）蟬退（二錢）薑黃（七分）黃連（二錢）胸中熱加麥門冬。心下痞。加枳實。嘔渴加石膏。小便赤數加滑石。滿加枳實厚朴。案。以上二方。煩躁多渴。兼胸腹痛者。並手足厥冷。心膈有熱者。俱宜選用。</p>
<p>梔子豉湯（傷寒論）　發汗吐下後。虛煩不得眠。若劇者必反覆顛倒。心中懊憹。○陽明病下之。其外有熱。手足溫。不結胸。心中懊憹。飢不能食。但頭汗出。○下利後更煩。按之心下濡者。為虛煩也。</p>
<p>梔子（十四個擘）　香豉（四合綿裹）</p>
<p>上二味。以水四升。先煮梔子得二升半。內豉煮取一升半。去滓分為二服。溫進一服。</p>
<p>案。此方吐下止後。余炎犯膈。心煩不得眠。懊憹苦悶者宜之。若腹滿者。加厚朴枳實。若心下堅者。加枳實大黃。</p>
<p>白虎湯（傷寒論）　手足逆冷。若自汗出。○脈滑而厥者。里有熱。</p>
<p>知母（六兩）　石膏（一斤碎綿裹）　甘草（炙二兩）　粳米（六合）</p>
<p>上四味。以水一升。煮米熟湯成。去滓。溫服一升。日三服。（按此方吐瀉止後。四肢厥冷。嘔渴引飲者。或不厥。但渴欲飲水者。並宜此方。）</p>
<p>竹葉石膏湯（同）　虛羸少氣逆欲吐者。</p>
<p>竹葉（二把）　石膏（一斤）　半夏（半斤洗）　麥門（一升）　人參（二兩）　甘草（二兩炙）　粳米（半升）</p>
<p>上七味。以水一斗。煮取六升去滓。內粳米煮米熟湯成去米溫服一升。日三服。</p>
<p>案。此方瀉止後。余炎犯胃嘔渴不止。或呃逆者。宜此方。方中人參宜更竹節。</p>
<p>小白湯（赤水醫案）　治挾熱下利。六脈洪大。口唇乾燥。</p>
<p>小柴胡湯合白虎湯</p>
<p>案此方前症而猶有柴胡證者宜之。若心煩者加黃連。</p>
<p>人參飲子（聖惠）　治陽毒傷寒。四肢壯熱。心煩嘔吐不止。</p>
<p>小柴胡湯去大棗加麥門冬竹葉</p>
<p>案此方邪猶盛。嘔渴不止者宜之。方中人參宜去之。</p>
<p>蘊要心煩者。更加黃連。</p>
<p>小柴胡合黃連解毒湯（正傳）　治少陽陽明合。病脅痛嘔。逆自利脈弦長而沉實。</p>
<p>案此方前症而膈熱猶盛者宜之。</p>
<p>本事竹茹湯　治胃熱嘔吐。</p>
<p>葛根（三兩）　甘草　半夏（各三分）</p>
<p>上姜三片。竹茹一彈丸。棗一個。水煎。</p>
<p>案。此方火邪既去。嘔吐不止者宜之。</p>
<p>柴胡清燥湯（溫疫論）　下後間服緩劑。</p>
<p>柴胡　黃芩　知母　陳皮　甘草　花粉</p>
<p>上薑棗水煎。</p>
<p>九味清脾湯（濟生）　治癉瘧。但熱不寒。或熱多寒少。</p>
<p>青皮　厚朴　白朮　草果　甘草　柴胡　茯苓　半夏　黃芩（各等分）</p>
<p>上姜水煎</p>
<p>建原飲（溫疫論）　治溫疫初起。憎寒發熱。其脈不浮不沉。頭疼身痛。邪在挾脊之前腸胃之後者。</p>
<p>檳榔（二錢）　厚朴　知母　芍藥　黃芩（各一錢）　草果　甘草（各五分）</p>
<p>上水煎。邪熱溢於少陽經。加柴胡一錢。溢於陽明經。加葛根一錢○又加大黃葛根羌活薑棗水煎。名三消飲。治毒邪表裡分傳。</p>
<p>案以上三方。吐利止後。隨症而選用之。但達原飲一方。初起無吐瀉憎寒發熱。或頭痛者。隨後加減方用之。</p>
<p>竹茹溫膽湯（壽世）　治傷寒日數過多。其證不退。夢寐不寧。心驚恍惚。煩躁多痰。</p>
<p>竹茹　半夏　枳實　陳皮　人參　生薑　甘草　茯苓　香附　柴胡　麥門　桔梗　黃連</p>
<p>上薑棗水煎。</p>
<p>案。此方吐利止。火邪既去而余炎猶不盡。荏苒引日。或煩躁多痰者宜之。柴胡養榮湯（溫疫論）　表有餘熱血燥者。</p>
<p>柴胡　黃芩　陳皮　甘草　當歸　白芍　生地　知母　天花粉</p>
<p>上薑棗水煎。</p>
<p>案。此方吐瀉數日後。津液虛耗。羸瘦疲睏。舌上緋薄。如豬肪者。或大病後並亡血家。老人患此症。津液虛耗者。下後調理宜此方。</p>
<p>杏蘇散（易簡）　治四時溫疫傷寒。</p>
<p>香附子　紫蘇葉（各四兩）　陳橘皮（二兩）　甘草（一兩）</p>
<p>上水煎○管見加川芎白芷薑棗水煎名芎芷香蘇散。</p>
<p>案。此方瀉疫輕症。吐瀉既斷無餘症。但氣宇不了了者。加荊芥薄荷。或更加防風亦佳。</p>
<p>小柴胡加地黃湯（本事）　治婦女室女。傷寒發熱。或發寒熱。經水適來或適斷。晝則明瞭。夜則譫語。如見鬼狀。亦治產後惡露方來。忽爾斷絕。</p>
<p>小柴胡湯加生地黃</p>
<p>案。此方婦女患此疾。經水適來。或適斷者宜之。下利未止者加大黃。小承氣湯（傷寒論）　大便不通。噦數譫語。○下利譫語者。有燥屎也。</p>
<p>大黃（四兩）　厚朴（二兩炙去皮）　枳實（二枚大者炙）</p>
<p>上三味以水四升。煮取一升二合去滓。分溫二服。</p>
<p>黃連解毒湯（回春）　治傷寒熱症。醫者誤用薑桂等藥。助起火邪。痰火相搏而嘔逆。</p>
<p>黃連（三兩）　黃芩　黃柏（各二兩）　梔子（十四枚）</p>
<p>上水煎。</p>
<p>白虎湯（同）　治症同前。</p>
<p>方見前。</p>
<p>桃仁承氣湯（準繩）　治實熱發呃。</p>
<p>桃仁（五十個去皮尖）　大黃（四兩）　桂枝（二兩去皮）　甘草（二兩炙）　芒硝（二兩）</p>
<p>上五味。以水七升。煮取二升半去滓。內芒硝。更上火微沸。下火先食溫服五合。</p>
<p>調胃承氣湯（同）　治症同前。</p>
<p>方見前。</p>
<p>三黃瀉心湯（同）　治症同前。</p>
<p>方見前。</p>
<p>小陷胸湯（回春）　治傷寒發渴而飲水太過。或結胸而發嘔者。</p>
<p>黃連（一兩）　半夏（半升洗）　栝蔞實（大者一枚）</p>
<p>上三味以水六升。先煮栝蔞實。取三升去滓。內諸藥煮取二升去滓分溫三服。</p>
<p>以上七方隨症選用之。</p>
<p>升麻葛根湯（局方）　治大人小兒時氣溫疫。頭痛發熱。肢體煩疼瘡疢已發及疑似。</p>
<p>升麻　葛根　芍藥　甘草</p>
<p>上水煎。或加犀角玄參更妙。</p>
<p>敗毒散（同）　治傷寒時氣。及寒壅咳嗽。鼻塞聲重。</p>
<p>人參　茯苓　甘草　前胡　川芎　羌活　獨活　桔梗　柴胡　枳殼（各三十兩）</p>
<p>上生薑薄荷水煎○或加黃芩石膏（方中人參今去之）</p>
<p>陽毒升麻湯（活人）　治傷寒陽毒。面赤斑斑如錦紋。咽喉痛。下膿血。</p>
<p>升麻（二分）　犀角屑　射干　黃芩　人參　甘草（各一分）</p>
<p>上水煎○準繩加玄參名犀角玄參湯。治發斑毒盛○今去人參加玄參。</p>
<p>玄參升麻湯（同）　治傷寒發汗吐下後。毒氣不散。表虛里實。熱發於外。故身斑如錦紋。甚則煩躁譫語。兼治閉腫痛。</p>
<p>玄參　升麻　甘草（各半兩）　上水煎。</p>
<p>托裡舉斑湯（溫疫論）　中氣不振。斑毒內陷者。</p>
<p>當歸　芍藥　升麻　白芷　柴胡　川山甲</p>
<p>上姜水煎。</p>
<p>以上五方。隨症撰用之。</p>
<p>柴胡枳桔湯（蘊要）　治小結胸脈弦數。口苦心下硬痛。或胸中滿硬。或脅下滿硬發熱。或日晡潮熱。或往來寒熱。耳聾目眩。</p>
<p>小柴胡湯去人參薑棗。加瓜蔞實枳殼桔梗。心下滿硬加枳實黃連生薑。</p>
<p>小陷胸湯（傷寒論）　小結胸病。正在心下。按之則痛。脈浮滑。</p>
<p>方見前。</p>
<p>陷胸湯（千金）　治胸心下結聚。飲食不消。</p>
<p>大黃　栝蔞實　黃連（各二兩）　甘遂（一兩）</p>
<p>上水煎。</p>
<p>大陷胸湯（傷寒論）　膈內拒痛。胃中空虛。客氣動膈。短氣煩躁。心中懊憹。陽氣內陷。心下因硬。則為結胸。○傷寒結胸熱實。脈沉而緊。心下痛。按之石硬。</p>
<p>大黃（六兩）　芒硝（一升）　甘遂（一錢匕）</p>
<p>上三味。以水六升。先煮大黃取二升去滓。內芒硝煮一兩沸內甘遂末。溫服一升。得快利止後服。</p>
<p>白散（同）　寒實結胸無熱症。</p>
<p>桔梗（三分）　巴豆（一分去皮心熬黑研如脂）　貝母（三分）</p>
<p>上三味為散。內巴豆更於臼中杵之。以白飲和服。強人半錢匕。羸者減之。病在膈上必吐。在膈下必利。不利進熱粥一杯。利過不止。進冷粥一杯。</p>
<p>罨法（寒溫條辨）　結胸不同寒熱虛實。遲早便用。</p>
<p>生薑　蔥白（等分）　生蘿蔔（加倍如無以子代之）</p>
<p>三味共搗一處。炒熱白布包作餅。罨胸前結痛處。此法須分二包。冷則轉換。無不即時開通。但不宜大熱。恐炮烙難受也。更以溫手順下揉之。自無不愈。並治一切痞滿脹痛。真妙法也。</p>
<p>以上七方隨症選用之。</p>
<p>清中安蛔湯（傷寒辨法）　治胃實熱。嘔吐長蟲。</p>
<p>黃連（薑汁炒三錢）　黃柏（酒炒減半）　枳實（麥炒二錢）　烏梅（三個）　川椒（炒三十粒）　</p>
<p>上姜水煎。</p>
<p>案此方吐下蛔蟲者。兼用亦佳。</p>
<p>清胃瀉火湯（回春）　治上焦實熱。口舌生瘡。腫痛者。並咽喉牙齒。耳面腫痛皆效。</p>
<p>連翹　桔梗　黃連　黃芩　梔子　玄參　升麻　生地　薄荷　甘草　乾葛</p>
<p>上水煎服。</p>
<p>加減涼膈散（同）　治三焦火盛。口舌生瘡。</p>
<p>連翹　黃芩　梔子　桔梗　黃連　薄荷　當歸　枳殼　芍藥　生地　甘草（各等分）</p>
<p>水煎食遠服。</p>
<p>柳花散（外科十法）　治喉瘡。並口舌生瘡。</p>
<p>青黛　蒲黃　黃柏　人中白（各一兩）　冰片（五分）　硼砂（五錢）　共為細末。吹喉極效。</p>
<p>以上口舌糜爛者宜之。</p>
<p>承氣養榮湯（溫疫論）　治裡熱未盡血燥。</p>
<p>小承氣湯合四物湯去川芎加知母。</p>
<p>麻子仁丸（傷寒論）　趺陽脈浮而澀。浮則胃氣強。澀則小便數。浮澀相搏。大便則硬。其脾為約。</p>
<p>麻子仁（二升）　芍藥（半斤）　枳實（半斤炙）　大黃（一斤去皮）　厚朴（一尺去皮）　杏仁（一升去皮尖熬別作脂）</p>
<p>上六味。蜜和丸如梧子大。飲服十丸。日三服。漸加以知為度。以上二方下利止後數日大便不通者宜之。</p>
<p>抵當湯（同）　太陽病六七日。表症仍在。脈微而沉。反不結胸。其人發狂者。以熱在下焦。少腹當硬滿。小便自利者。下血乃愈。所以然者。以太陽隨經。瘀熱在裡故也。○小便自利。其人如狂者。血證諦也。○陽明症。其人喜忘者。必有畜血。所以然者。本有久瘀血。故令喜忘。屎雖硬大便反易。其色必黑。</p>
<p>水蛭（熬）　虻蟲（各三十個去翅足熬）　桃仁（二十個去皮尖）　大黃（三兩酒洗）</p>
<p>上四味以水五升。煮取三升。去滓溫服一升。不下更服。</p>
<p>抵當丸（同）　傷寒有熱少腹滿。應小便不利。今反利者。為有血也。當下之。不可余藥。</p>
<p>水蛭（二十個熬）　虻蟲（二十個去翅足熬）　桃仁（二十五個去皮尖）　大黃（三兩）</p>
<p>上四味搗分四丸。以水一升。煮一丸。取七合服之。脺時當下血。若不下者更服。</p>
<p>桃核承氣湯（同）　太陽病不解。熱結膀胱。其人如狂。血自下。下者愈。其外不解者。尚未可攻。當先解其外。外解已。但少腹急結者。乃可攻之。</p>
<p>方見前。</p>
<p>小品芍藥地黃湯（外臺）　療傷寒溫病。應發汗而不發之。內瘀畜血鼻衄吐血。面黃大便黑。</p>
<p>芍藥（三分）　地黃（半斤）　牡丹皮（二兩）　犀角（一兩屑）</p>
<p>上水煎○即千金犀角地黃湯。喜忘如狂者。加大黃黃芩。</p>
<p>崔氏療卒傷熱行來尿血（外臺）</p>
<p>大黃（末）　芒硝（末各半匙）</p>
<p>上冷水和頓服之立止。</p>
<p>當歸承氣湯（丹溪附余）　治尿血實者。</p>
<p>大承氣湯加當歸</p>
<p>桃仁湯（溫疫論）　治邪干下焦血分。溺血畜血。</p>
<p>桃仁（三錢）　阿膠（二錢）　丹皮　當歸　赤芍　滑石（各一錢）</p>
<p>上水煎服。如少腹痛。按之硬痛。小便自調。有畜血也。加大黃三錢。</p>
<p>大柴胡湯（直指）　男女諸熱。出血血熱蘊隆。</p>
<p>柴胡（半斤）　黃芩（三兩）　人參（三兩）　半夏（半斤洗）　甘草（炙）　生薑（各三兩切）　大棗（十二枚擘）</p>
<p>上七味以水一斗二升。煮取六升去滓。再煎取三升。溫服一升。日三服。</p>
<p>茜根散（聖惠）　治小兒吐血。心躁煩悶。</p>
<p>茜根（半兩）　犀角屑　升麻　大黃　黃芩　甘草（各一分）</p>
<p>上黑豆三十粒。淡竹茹半分水煎。</p>
<p>瀉心湯（金匱）　治主心氣不足。吐血衄血。</p>
<p>方見前○云歧子脈訣加生地黃。名犀角地黃湯。治血積胸中熱甚。</p>
<p>苦參湯（聖濟）　治大衄。口耳皆血出不止。</p>
<p>苦參　黃連　大黃（各一兩）　梔子（七枚）</p>
<p>上水一盞。入生地黃汁一合。煎至七分去滓。溫服。以上數方。熱入血分發狂。並諸出血者。隨症選用之。</p>
<p>救急諸方增補。</p>
<p>走馬湯（金匱附方）　療中惡心痛。腹脹大便不通。</p>
<p>杏仁（二枚）　巴豆（二枚）</p>
<p>上二味以綿纏槌令碎。熱湯二合。捻取白汁飲之。當下老少量之。通治飛屍鬼擊○雞峰普濟方。本方面糊為丸。名杏仁丸。治瀉兼吐。又楊氏家藏方。硃砂圓治大人小兒暴下水瀉。及積利。即本方棗肉為丸。如芥子大。硃砂為衣。每服一丸。倒流水下。</p>
<p>三物備急丸（同）　主心腹卒暴。百病若中惡客忤。心腹脹滿。卒痛如錐刺。氣急口噤。停屍卒死。</p>
<p>大黃（一兩）　乾薑（一兩）　巴豆（一兩去皮心熬研如脂）</p>
<p>上藥各須精新。先搗大黃乾薑為末。研巴豆內中合。治一千杵。用為散。蜜和丸亦佳。密器中貯之。莫令泄氣。</p>
<p>紫丸（千金）</p>
<p>赤石脂　代赭石（各一兩）　巴豆（三十粒）　杏仁（五十粒）</p>
<p>上為末。巴豆杏仁別研為膏。相和更搗二千杵。入少蜜同搗之。密器中收。</p>
<p>紫雪（外臺）　治發斑咽痛。及暑中三陽。腳氣煩躁。</p>
<p>升麻（六錢）　黃金（十兩）　寒水石　石膏（各四兩八錢）　犀角　羚羊角（各一兩）　玄參（一兩六錢）　沉香　木香（各五錢）　甘草（八錢）　丁香（五錢）</p>
<p>水五盞。先煮黃金至三盞。入諸藥再煎。至一盞去滓。入芒硝三兩二錢。慢火煎。以柳木攪。不停手。候欲凝。入磁盆中。更下硃砂麝香末各三分。急攪令勻。候冷凝結成雪。每一錢細細嚥之。</p>
<p>地漿　陶弘景曰。此掘黃土地作坎深三尺。以新汲水沃入攪濁少頃取清用之。</p>
<p>羅謙甫曰。中暑霍亂。乃暑熱內傷。七神迷亂所致。陰氣靜則神藏。躁則消亡。非至陰之氣不愈。坤為地。地屬陰土曰靜順。地漿作於牆陰坎中。為陰中之陰。能瀉陽中之陽也。（衛生寶鑑）</p>
<p>金銀煮汁　新汲水（卻邪調中下熱氣並宜飲之嘉佑本草）</p>
<p>以上諸方。窮鄉僻居。並道途無藥之地。隨便用之。以救一時之急輕者可愈。重者亦不死。其如地漿金銀煮汁用之煮藥尤佳。</p>

<h2>刺法</h2>
<p>按刺絡宜要其早。若羈遲則難及。其或手或足覓其青筋怒張者刺之。靈樞經脈篇曰。諸刺絡脈者。必刺其結上甚血者。雖無結急取之。以瀉其邪而出其血。此軒歧之古法也。宜用此法。又後世方書有刺少商委中十指尖等之法。亦宜參用焉。予觀去秋來。世醫行刺絡。往往於委中穴宜施之。既遲多在厥冷脈伏之後。故雖刺之。血不多出。其適出者。僅見紫黑血點一二滴。厥冷不復而人既斃者。往往有焉。又有挑法刮法等。詳見於說疫。今不錄焉。</p>
<p>以手蘸溫水於病人膝腕。用力拍打。有紫黑所以針刺去惡血。（滋德堂堂方）</p>
<p>委中穴出血。或十指頭出血。皆是良法。（醫學源流肯綮大成）</p>
<p>體厥脈厥等症。則刺少商穴。並十指上薄肉當中刺之血出。如血不出。可攝出之皆效。（說疫）</p>

<h2>除穢薰法</h2>
<p>凡瘟疫盛行之地。邪穢氣滿於空中。亡論房室。故雖平素節養得宜。數經歷其地。或訪病看病。則穢氣從鼻口入。終感其邪者間有焉。況晝夜扶持養護。與之同床同廁者乎。防之之法。宜於病者之旁。常焚除穢之藥。莫令其氣少絕。庶幾免穢氣。入口鼻矣。是所以除穢熏法之不可無也。今錄簡便者數方。</p>
<p>蒼降反魂香（說疫）　除穢祛疫。</p>
<p>蒼朮　降真香（各等分）</p>
<p>共末揉入芥葉內。綿紙捲筒燒之。</p>
<p>避瘟丹（同）　燒避瘟法邪。</p>
<p>乳香　蒼朮　細辛　生草　川芎　降真　白檀</p>
<p>棗肉丸焚燒</p>
<p>避瘟丹（同）　燒之能避一切穢惡邪氣。</p>
<p>蒼朮　乳香　細辛　甘松　芸香　降真（各等分）</p>
<p>糊為丸。豆大每用一丸焚之。良久又焚一丸。略有香氣即妙。</p>
<p>一方（同）　天行時疫。宅舍怪異。並燒降真香有驗。</p>
<p>又云房中不可燒諸香。只宜焚降真諸香。</p>

<h2>治驗</h2>
<p>（系正症者二條系變局者十二條）</p>
<p>安部某室年三旬余。六月末患帶下。至七月漸愈。氣力猶未復。八月初。忽然洞泄數行。延醫多和田某療之。三四日瀉益甚。晝夜凡二十餘行。加之以吐。藥水不入口。某告術盡。於是請予診之。脈頗數。舌上無胎。渾作緋帛色。腹皮貼背。稍渴引冷水。予喻之曰。是瀉疫矣。恐前藥得無犯熱劑乎。主人曰。前醫初用附子。下利益甚。昨夜以來。加參數兩。爾後加以吐。予笑曰。果然若服予藥。不出三日瀉必止。因與大柴胡湯五貼。冷服。次早報曰。昨日來。下利僅六行。吐亦減。吃粥數口。再與前方。三日瀉全止。但時時嘔渴。因與竹葉石膏湯。二日嘔渴止。飲食加進。氣力大復。四五日後吐瀉再發。疲睏如前。飲食全廢。主人驚以延予診之。脈復變數。予告曰。勿驚。伏邪再發。無他以前日服熱藥邪伏匿於腸胃間。今正氣稍復。伏邪再呈其梟也。因與大柴胡湯冷服。二三日吐瀉全止。飲食稍進。氣力亦加。調理數日。飲食益進。五六日忽然下利數行。疲睏倍於初。但無吐耳。飲食亦廢。只吃水數口耳。主人以為必死。迎予。予曰。甚哉熱藥之為害。幸不至厥冷。必無虞。予猶有術與調胃承氣湯三貼。去。次日報曰。瀉頗減。但氣力愈減。猶與前方三日。瀉止飲食漸進。於是與柴胡養榮湯。數日。氣力稍稍復。前後一月餘全愈。</p>
<p>荊妻年三十餘。八月下旬夜半。時時腹痛。及曉暴瀉一行。下如白醬者五六升。且溫溫欲吐。診之脈弦數。舌上無胎。至辰牌凡瀉三四行。乍發大渴。頻欲熱湯。因與冷水一杯。續冷服大柴胡湯加芒硝三貼。服後發壯熱。發汗如流。嘔渴減。但下利猶數行。仍連服前方。至晚瀉凡二十餘行。舌上生白胎頗厚。此夜與大承氣五貼。至曉瀉七行。疲睏頗加。飲食不入。但昏睡而已。臥起待人扶持。按其腹。猶漉漉有聲。次日再與前方。巳時小水始通。水瀉差。有滓。然晝夜猶十餘行。確守前方三日。瀉漸止。小便壯利。飲食漸進。舌胎猶少存。因轉與人參飲子去參。前後七日。飲啖如常。氣力全復。</p>
<p>久保玄貞年卅八。月中患洞泄。飲食起居不變。常自服葛根黃芩黃連湯。二三日瀉猶不止。請予治診之。脈息如平。唇舌清潔。予曰。此瀉疫。但邪勢頗緩。然非芩連之所能治。因與大柴胡湯三貼。次日報曰。疇昔以來。瀉減數行。溺亦快利。於是用小柴胡湯加黃連。次日晡時。馳價日晚來。吐瀉並至。疲睏殊極。請來診。予適不在家。男代往焉。六脈如絲。下部稍冷。氣力惙然。見其舌白胎稍厚。問之家人曰。晡時登圊。洞泄如傾盆下白漿六七升。續吐水三五升。聲聞廁外。爾後疲睏如許。男以為此伏邪再呈梟炎。蓋前日盪滌之力未足爾。再投大柴胡湯三貼。此夜吐泄猶十行。及曉再投前方。更加芒硝二貼而歸。次日予往診之。舌胎減半。吐瀉亦減。第疲睏益加。六脈如絕。重按僅應。眼陷頰削。不能起床。問其飲食。則前夜以來。僅吃粥清數口耳。若強與之。則吐出不收。家人以為必死。予曰無恐。邪勢頗減。再投前方五貼。次日復往診之。舌胎全去。色如緋帛。手足稍溫。問其大便猶十餘行。時時乾嘔。但昨夜以來。大便少生渣滓。小便亦二行。予喜曰益佳矣。猶確守前方。三日吐瀉全止。稍吃稀粥葛湯等。於是轉換柴胡清燥湯調理。數日飲食漸加。氣力全復。</p>
<p>一瞽某年二十餘。身體肥盛。一日洞泄三四行。自以為太陽陽明合病。服葛根湯二日。瀉猶不止。延醫程田某治之。醫曰病屬少陰。非附子不能治。與真武湯三貼去。服後瀉益劇。加以吐逆。半日許。吐瀉凡二十餘次。所瀉皆如敗醬。煩渴引飲。心中懊憹。煩悶不安床。加之胸膈作痛。頰肉如屑。聲乍啞。疲睏頓加。因請診於予。脈伏如絲。四心青黑。足踝以下微冷。小腹虛濡。舌上白胎。以指摩之。冷如冰。強硬不能言。每一言語。必嗽冷冰而後始言。自以為必死。適金田生來診之曰。病既危。然今認煩渴一症。與白虎湯加人參。或萬中有一生。予從傍詰之曰。今以煩渴一症。擬白虎加人參。非不是。然白虎湯特在清肅膈間散漫之熱耳。恐藥力猶慢。未足抵當邪勢。其與白虎湯寧與冷水。況人參非此症之所宜乎。生怫然作色曰。然則無治法。頃刻必死。予哂曰否。今此症雖六脈沉伏。四肢稍冷。其實乃熱實之極。非下劑不能救。何為必無治法。子以此等為死證。則世間無可治之瀉疫。何則。此症邪勢本緩。故初服葛根湯。瀉雖不止。猶不加劇。今乃非硝黃斷不可也。而子以真武湯與之。是猶滅火添油。抱薪救火。徒助邪炎以至此極也。而猶未悟。今又欲以白虎湯換之。抑子以此症為寒乎。為熱乎。奚其治之矛盾也。若使治之。其死可立而待耳。夫認瀉為寒。認渴為熱。此不知醫者之見也。古人不言乎。見熱無治熱。見寒無治寒。予不復與子言。子宜速去而刮目以視予成功。生益怒日。諾。請待之。遂大蹈步而去。予告家人曰。病人素常必有寒飲。故邪並於飲以結膈間。仲景所謂寒實結胸症也。而以姜附治之。誤治之所致。實可憫也。今欲救之。非大陷胸則不可。治若少遲則死。家人唯唯。因與大陷胸湯三貼。下利頓止。時嘔吐涎沫。痛猶未減。次日再與前方。兼投三物白散。下咽須臾。昏悶半時許。舉體振慄。四支不收。家人倉黃扶持之。數刻苦悶煩亂。不忍見之。忽一聲大叫。徹於四鄰。家人驚走視之。吐出白水二三升。恰如敗漿。振慄頓止。膈痛失半。予喜曰。藥力得當。於疾最佳。微不可驚。再與前方而歸。此夜大便一行。熟睡徹曉。鼾聲不異常。但時時振慄。嘔渴猶在。至翌日痛減七八分。因與大柴胡合小陷胸湯數服。痛全去。但嘔渴反加劇。聞藥氣亦嘔。加之以呃逆。家人再驚。予喻之曰。是胃中餓虛。餘熱不去之所致。不足患。仍轉與竹葉石膏湯。半日許而小溲快利。此夕呃亦息。始食粥一碗。猶與前方數日全愈。</p>
<p>松田某妻年三旬余。一日舉體發斑。次日吐瀉交至。予診之。脈沉緊。手足熱。與大柴胡湯五貼。吐瀉漸斷。忽發胸膈痛。呻吟不安床。驚以請再診。診之心下頗硬。按之則痛益甚。以為邪結宿飲。與大陷胸湯二貼。痛頓去。飲食稍進。而斑猶出沒。再與大柴胡湯加葛根。二三日而全愈。</p>
<p>一兒二歲。忽然尿血二行。面色青慘。乳哺不進。啼聲不出。舉身振顫。恐惶請治診之。六脈沉伏。唇舌清潔。更無熱候。以為此亦瀉疫之變局。蓋邪氣伏於裡。陽氣鬱壅不伸。熱逼下焦血分之所致。與外臺崔氏療卒傷熱往來尿血方。服後振顫頓止。啼聲漸出。半時許。小溲清利。氣宇稍加。乳哺嬉戲全復。常因憶去夏五月一兒七歲。雨後入渠中弄水。忽發腹痛。因請一醫曰。胃中虛寒之候。與藥數貼。服後痛益劇。且數登圊。家人視之。所下盡鮮血倉黃。請治。予診之。通身冰冷。脈沉如絲。口渴好冷。唇舌潔淨無胎。按其腹則痛滋益甚。展轉不安床。予亦不解為何等症。意是邪犯血分之症也。因與桃仁承氣湯數貼。痛稍減。翌日遂死。如此兒疑亦與彼兒同。因若不經前醫之誤治。則或可以得救療焉。不堪遺憾。因並以記。</p>
<p>曲坊薪商某老母年八十。吐瀉數行。自炙天樞氣海而吐瀉漸斷。次日夜半卒發振慄。欲言則呃逆。其狀幾危殆。延予請治。四肢不厥。脈亦平。但舌上白胎頗厚。因憶此人下焦素實。邪亦緩。故雖一時為炙炳。吐瀉斷反助邪炎以逼於陽氣鬱塞及於此也。先與大柴胡湯加芒硝二服。而大便快利。至次日舌胎去全愈。</p>
<p>同坊某妻年四十餘。卒然頭眩昏倒。舉體轉筋。兼麻痹。延予治之。六脈沉伏。以為邪氣鬱於陽明。陽氣壅閉不伸之候。與白虎湯二服。而壯熱如燒。忽發狂欲逾牆走。口出不倫之言。家人恐惶。予喻之曰。勿驚。是熱犯下焦血分耳。因轉與桃核承氣湯二服。大便猶不通。胸腹發痛。更與備急丸數十粒。須更快吐一二升。爾後熱睡。此夜快下臭便一行。次日豁然愈。</p>
<p>同坊一槍匠某。年五十餘。黃昏醉而寢。半夜卒然發振慄。肉上粟起。四肢拘急不伸。續吐瀉頻並至。家人恐怖不知所措。急雇鄰人以迎予。診之六脈俱伏。厥冷致額。舌上白胎。但胸腹微溫耳。時時引衣自覆。家人慾大艾炎天樞。予止之曰不可。此症雖似寒。其實純熱。蓋邪氣鬱於表裡。陽氣被束不得伸也。厥振何足患。與大柴胡湯加葛根二貼而去。次日遣門生某診之。及報曰。昨夜服藥後發汗流離。吐瀉隨而止。今朝食粥數碗。但猶少存舌胎耳。再與前方三貼愈。</p>
<p>揖斐某室。年二十八。一日洞泄一行。飲食起居無異。措而不治。越一日低然發腹痛。痛從小腹上衝心。發則令人坐腹上以膝壓之。僅堪其痛耳。延醫伴野某治之。謂為血積。與藥服之數貼。更無寸驗。於是使瞽者針刺。一晝夜凡針至二百餘刺。每一刺針曲如鉤。而痛猶不減。瞽者驚曰。此非針刺之所能治。於是延予請治。診之兩手脈沉緊。胸腹硬滿如墩狀。每痛發按之如有頭足者蠢動。舌上白胎。乾燥而不渴。但時時煩熱耳。問其大便曰。四日前洞泄一行。爾後不通。小便赤濁短少。予曰是非血積。瀉疫之變局也。蓋無吐瀉故邪毒內郁爾。非峻下不治。先與備急圓數十粒。續作大承氣五貼而去。次日往訪之曰。昨夜服所賜藥二貼。大便一行。痛減六七。又服三貼。夜半至曉大便凡三行。皆水瀉。痛全止。食粥二碗。診之脈稍緩。舌胎生津。腹滿減半。但胸下兩筋怒張。按之則猶少痛。因轉與大柴胡加芒硝湯。倍加芍藥三貼而全愈。</p>
<p>鍜匠某年四旬余。下利數行。臭穢沖鼻。請一醫治之。不知與何等藥。下利忽止。半日許四肢轉筋。腰腳痠疼。晝夜苦悶。既而小腹急痛。四肢逆冷。諸藥不效。易醫數人。皆投溫熱藥。病彌增劇。於是請予治診之。其脈沉伏。煩渴欲水。舌胎乾裂。小便赤濁。飲食不進。殆屬危險。因想此症前醫誤治強止其利。熱邪鬱於下焦。血為之瘀滯。筋脈失養以致轉筋。宜用清熱散瘀之藥。而反投熱劑。陽氣愈郁。邪氣愈張。今以舌裂小便赤濁驗之。熱邪逼下焦無可疑。因與桃核承氣湯三貼。此夜黑便滑通。轉筋腰疼如忘。厥亦復。次日往診之。脈稍出。舌上生津。午時始吃粥一小盅。但小便猶赤濁短少。因與豬苓湯三貼。小便快利。飲食加進。調理四五日全差。</p>
<p>侍醫佐田玉安年五旬余。七月來患齦疸。舌下爛蝕。飲食漸減。疲羸日加。百治無效。請數醫皆以為不治。至十月中。請予治。予以為結毒上郁。與歸靈湯兼服結毒紫金丹。十旬余。一日蝕處俄然迸出鮮血一二升。乃子驚惶。迎予。以予不在家。男往診之。手足厥冷。六脈沉伏。精神昏憒。按其腹水分動築如奔馬。因作獨參湯加犀角數分與之。須臾厥回脈出。因與回春犀角地黃湯。此夜脈全復。精神亦漸加。次日與十全大補湯。以鮮地黃代熟地黃。猶兼與紫金丹。乃子又質之一口科。曰齦疽出血。是虛火上炎之所為。不足深怪。第如嚴君之症。病勢極虛劇。疲羸殊甚。若及再三恐至不可。請予熟慮。請勿易視之。然而飲食稍進。氣力稍益。動作又減。子竊以為未必然也。轉與本朝經驗革解湯。四五日後兩腿筋縮。有時痛如刺嚬蹙叫其苦。且心膈溫溫。時時欲吐。予不解其何故。想是毒氣逼心之症。試使服犀角數分。及晚全止。此夜大便一行硬通。續水瀉二行。次早亦水瀉一行。動作復加。乃子驚以為脾胃虛衰之候。或歸咎於鮮地黃犀角。一醫來診曰。脾胃既虛衰。假令不服鮮地黃犀角。亦必至於此。喻家人曰。死不出於十旬外。謝而去。此日予亦往診之。舌上少有白胎。乾燥。小便則濁短少。予以為決非虛衰之候。然脈息無變。亦無寒熱之候。心疑之。或是瀉疫。猶與前方而歸。次早乃子來曰。夜中亦水瀉二行。及曉復一行。飲食漸減。疲羸又加。予翻然悟曰。予過矣。予過矣。是感瀉疫無疑也。因憶前日之出血也。動築也。筋縮也。噁心也。皆是邪氣逼血分之候。然今時令向寒。邪熱頗慢。故不至劇。作調胃承氣湯一貼。與之曰。予當往診之。宜先服之。午後往之且問曰。前藥服盡否耶。乃子曰前藥有硝黃。此疲羸之極。恐不堪其峻。且病者亦不肯服。故欲待子來決之。予因診之。舌胎雖薄稍乾燥。水分動頗高。因姑謂病者曰。前藥以有硝黃不肯服。今宜與他藥。然有邪氣非柴胡不可。予當作小柴胡湯。敢服耶否。病者頷之。因竊喻乃子曰。嚴君症果是新感瀉疫也。其實非硝黃斷弗能治也。若顧其尩羸而不服之。則必斃。然予但恐子納先人之言。不敢進之。若從予言。今作劑。不然則已。別無治法。乃子懇請曰。謹奉教。於是與大柴胡加芒硝湯二貼而去。次日往問之曰。昨夜服所賜之藥以來。水瀉全息。今朝下白膿數滴耳。余笑曰。果如予言。再與前方三貼。次日其次子來謝曰。昨夜大便一行滑通。其色如膠。爾後腰腿攣痛全止。夜半後熟睡。達曉水分動築亦減。今朝食粥數口。氣力亦加。仍與千金竹葉湯三貼。晡後使男往診之。舌胎全去。膿稍和。大便前夜以來不通。小便色稍薄。飲食漸加。精神頗益。次日復與前方。凡四日而新病全解。因再與治本病藥。</p>
<p>佐野某老母年七十八。來客於古山氏。一日晚餐後。吐瀉六七行。四肢冰冷。驚惶請治。診之脈沉緊。舌上白胎。寒慄鼓頷。屢引被自覆。予曰。是外雖寒內則熱。宜先表裡雙解。必發一陣熱而解。作大柴胡加葛根一服。厥回須臾壯熱如燒。濈然汗出。予曰益佳。再與前方二貼而去。次早往診之。諸症頓解。但胎猶存耳。因與人參飲子去參。二日而差。</p>
<p>安藤某老母年七十五。四月中患疫。至六月再復。爾後猶在褥中。秋前一日。卒然吐瀉數次。請治於岡田氏。使門人往診而與藥服之。吐出不納。疲睏殊益。因又延一醫診之曰。年高虛羸之餘。受此症無術之可施。大劑參附。或可救萬之一。與藥三貼而去。服之吐益甚。此夜盡三服。下部冰冷。目視不了。口流清水。不能言語。瀉漸斷。但煩悶耳。家人驚惶請治於予。時既昏黑。使男往診之。脈伏如絕。重按僅得。舌上胎滑。足冷過膝。小腹虛濡。因先與梔子豉湯加枳實二貼。初服吐出。再服下咽。食頃煩悶漸止。大便二行。水瀉。猶時時煩悶。因作前方二貼。兼與當歸承氣湯三貼而去。次日予往診之。厥回脈出。大便亦調。但時時猶吐清水。見舌上苔減半。因與竹葉石膏湯。飲食漸進。小便始利。新病頓解。但病羸之餘。氣力未復常耳。</p>
<p>鈴木某兒年周歲。一朝吐乳再三。後昏憒不省人事。乳哺不進。啼聲不出。時時微搐。因上竄。一醫作漫驚。與沉香天麻湯。症益加劇。因請予診治之。其脈殆絕。口唇乾燥。小腹虛軟。心下反急。按之則微喘。予哂曰。此非慢驚瀉疫也。蓋前醫之藥有參附之熱藥引邪逼胸也。搐止始熟睡。次日與千金竹葉湯。三日而嬉戲復常。</p>
<p>工師某兒二歲。一日吐瀉數行。氣力惙然。時時微搐。延一醫治之。醫戒曰。是脾胃虛極。慢驚之漸。與藥而去。膽藥二三日。吐乳益劇。瀉亦倍前日。且所瀉盡乳色。全無糞色。加之喉中涎鳴有時。目向上插。驚以請治。予診之。脈沉數如絲。眼慢氣怯。舌上清潔。但唇口乾燥。心腹無熱。且虛軟。問其乳哺。曰。能乳。問其小便。曰赤濁短少。予曰是非脾胃虛極。瀉疫內郁之症。前藥得無熱劑耶。檢之果附子理中湯加姜蠶。予曰此症服此藥猶火上添油。宜哉證加劇。因與大柴胡合小陷胸湯。次早掖兒來謝曰。昨服藥一服盡吐出。再與一貼不吐。爾後吐止。便色變黃。昨夜始熟睡。無復微搐。痰涎亦止。再與前方三日而瀉止氣力復。</p>
<p>豐藤某兒三歲。感冒延兒科小達某治之。服藥二日。吐乳不止。又經一日水瀉數行。驚以請治。予診之脈弦數。舌上無胎。腹部無熱。但虛理動築應衣。問其小便。曰赤濁短少。問乳哺。曰不進。因先與大柴胡湯。二日吐止瀉猶不減。時腹痛且加身熱。予以為此燥結猶存。故瀉未欲止。前方加芒硝與之。服後大便一行。如臍糞狀。爾後止。乳哺進。嬉戲如常。但微熱仍存。因與九味清脾湯二日而差。</p>

<h1>跋一</h1>
<p>安政戊午暴瀉病盛行。東京中死者以萬數。醫人往往束手。得其肯綮者甚鮮。友人高島祐啟父祐庵翁潛思沉研。用硝黃活人者甚夥。於是著瀉疫新論。其說率據吳有性。蓋能得吳氏之精髓。而脫胎換骨者矣。余嘗謂此病千篇一律。無大異同。則必有明眼如炬之士。能得其巢窟者。今讀此編。始知攻下之有大益於此病。然劉張得之於瀉。李朱得之於補。各有所長。猶減灶增灶而不失良將之名。則知其際必有得於補者。但世好補者多。而好瀉者少。則此編當為好補者之頂門一針矣。因跋。明治十二年九月山田業廣。</p>

<h1>跋二</h1>
<p>瀉疫新論二卷。祖考停雪先生。日試月驗之所得也。距今蓋二十有一年矣。當時未暇梓以問世。而祖考易簀。書亦委在筐底。近歲此症屢行。與家君東馳西走。得實驗不少焉。近日有司憐民之罹斯病者多。為設避病院。施預防法。苟有病者。必令醫吏檢其真疑。抑亦可謂仁之至德之治者哉。且使醫遇斯病。速以書報官。勿得移時。或誤診視。若移時不報者。納金贖罪。法亦極嚴。於是人不啻恐罹斯病。乃醫亦窮蹙無容。蓋以疾之險惡而難於施治也。余家常以此書為治疫之標準。從遊者逐次謄寫。原稿且斷爛。今也天下之醫。悉奉載聖旨之厚。不可不盡其術之秋。則將授剞厥。於是家君更為增訂。皆所以紹述祖考之意。而庶幾有補於國家衛生之萬一云。明治十二稔九月高島久敬軌謹識。</p>
