<header data-type="book">
<h1>胎產新書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>雪巖禪師</data>纂輯，<data>靜光輪應禪師</data>考定</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521058">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>
