<header data-type="book">
<h1>傅氏雜方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>傅山</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>

<h1>正文</h1>

<h2>小兒吐乳方</h2>
<p>白豆蔻（七粒）　砂仁（七粒）　生炙甘草（各二錢）　共研細末，頻擦口中，任其嚥下，奇效。</p>

<h2>臍汁不於方</h2>
<p>治臍汁不幹方：用車前子炒焦為細末，敷之即干。</p>

<h2>小兒肚臍突出方</h2>
<p>小兒肚臍突出半寸許，此氣旺不收也，若不急按之，往往變為弓角反張。方用：</p>
<p>茯苓（一錢）　車前子（一錢）　甘草（三分）　陳皮（三分）　通草（三分，無通草用燈心一撮）　煎湯飲之，一劑即愈，神方也。</p>

<h2>治方白蟲方</h2>
<p>百部根（五錢）　檳榔（五錢）　水煎（服），一劑蟲全下。</p>
<p><u>又方</u></p>
<p>飛羅白麵製半夏　生白礬（各三錢）　共為細末，水滴成丸，分三日服，開水服，蟲化為水。大人照方十倍合服。</p>

<h1>胎毒方</h1>

<h2>小兒洗胎毒方</h2>
<p>荊芥（五錢）　蒲公英（五錢）　甘草（五錢）　槐條（二十寸）　蔥須（一撮）　花椒（三錢）　艾葉（一撮）　水一沙鍋煎洗</p>

<h2>胎毒肥瘡方</h2>
<p>花椒（三錢）　白芷（三錢）　黃柏（三錢）　鉛粉（三錢）　枯礬（三錢）　共為細末，麻油調敷，甚效。</p>

<h1>口瘡方</h1>

<h2>小兒紅白口瘡外治方</h2>
<p>蕊仁（五分，去油）　硃砂（五分）　冰片（一分）　共為末，熟棗三枚（去核），和一處，攤烏青布上，貼腳心對時。去藥〔時〕若干者，用無根水排藥。此方效，愈兒多矣。</p>
<p><u>又方</u></p>
<p>烏棓子（一錢）　冰片少許，共研細末，吹之，速效。</p>
<p><u>又方</u></p>
<p>人中白（煅）　研細末，吹之，神效。</p>

<h1>夜啼方</h1>

<h2>小兒夜啼不止，狀如鬼祟方</h2>
<p>蟬脫（後半，四個為末）</p>
<p>硃砂（二分，水飛）　薄荷（四分）　（水）煎，酒數滴調服，立止。</p>
<p><u>又方</u></p>
<p>烏棓子焙研，唾津和立餅，填臍內，立止，甚效。</p>

<h1>尿血方</h1>

<h1>周歲小兒尿血方</h1>
<p>大甘草（一兩二錢）　水（六煎二碗）　服完即愈。</p>

<h1>寒積食積方</h1>

<h1>治腹痛寒積食積方</h1>
<p>生薑（一兩）　柿蒂（七個）　砂仁（五粒）　山楂（五錢）　干蘿蔔（一撮）　紅糖（一兩）　大棗（二枚）　（水）煎服，分兩次服。</p>

<h2>陽症吐血方</h2>
<p>凡人吐血，人以為火也。用涼藥以瀉火，乃火逾退而血愈多；或用止血之品仍不效，此乃血不歸經也，當用補血之藥，而佐以歸經之味，不必止〔血〕而自止矣。方用：</p>
<p>人參（五錢）　當歸（一兩）　荊芥（三錢，炒黑）　丹皮（二錢，炒黑）　水煎服。</p>
<p>〔服〕一劑而血無不止者。〔此〕方妙在不專補血，而反去補氣以補血；尤妙在不去止血，而去行血以止血。蓋血逢寒則凝結而不行，逢散即歸經而不逆，救死於呼吸之際，實大有奇功。</p>

<h2>氣喘方</h2>
<p>腎火之逆，扶肝氣而上衝之喘也，病甚有吐紅粉痰者，此腎火炎上以燒肺金，肺熱不能克肝，而龍雷之火升騰矣。龍雷火，相火也。方用：</p>
<p>地骨皮（一兩）　沙參（一兩）　麥冬（五錢）　白芍（五錢）　桔梗（五分）　白芥子（二錢）　丹皮（三錢）　甘草（三分）　水煎服。</p>
<p>此方妙在地骨皮清骨髓中之火，沙參、丹皮以養陰，白芍平肝，麥冬清肺，甘草、桔梗引入肺經，則痰喘除，而氣喘可定矣。</p>

<h2>貞元飲</h2>
<p>治喘而脈微澀者。</p>
<p>熟地（三兩）　當歸（七錢）　甘草（一錢）　水煎服。</p>
<p>婦人多有此症。</p>

<h2>久嗽方</h2>
<p>秋傷於濕，若用烏梅、米殼，斷乎不效，方用：</p>
<p>陳皮　當歸　白朮　枳殼　桔梗　甘草（等分）　水煎服。</p>
<p>三劑帖然矣。冬嗽皆秋傷於濕也，豈可拘於受寒乎？</p>

<h2>腎水成痰引火下降方</h2>
<p>腎中之水，有火則安，無火則泛。倘人過於入房，則水去而火亦去，久之則水虛而火亦虛；水無可藏之地，則必泛上而為痰後，用六味地黃湯，補腎以滋肝木；肝得養，則血有可藏之經，而不外泄矣。</p>

<h2>肺睥雙治湯</h2>
<p>如人咳嗽不已、吐瀉不已，此肺脾之傷。人以為：咳嗽宜治肺，吐瀉宜治脾。殊不知，咳嗽由於脾氣之衰，斡旋之令不行，則上為咳嗽矣；吐瀉由於肺氣之弱，清肅之令不行，始上吐而下瀉〔矣〕。方用：</p>
<p>人參（一錢）　麥冬（二錢）　茯苓（二錢）　柴胡（一錢）　車前子（一錢）　神麯（五分）　薏仁（一錢）　甘草（五分）　水煎服。</p>
<p>此治肺治脾之藥，合而用之，咳嗽之病、吐瀉之症各愈，所謂一方而兩用之也。</p>

<h2>腎肝同補湯</h2>
<p>腎水〔虧〕不能滋肝木，則肝木抑鬱而不舒，必有兩脅飽悶之症。肝木不能生腎中之火，則腎水日寒，必有腰背難於俯仰之症。肝腎必須同補。方用：</p>
<p>熟地（一兩）　山萸（五錢）　白芍（五錢）　當歸（五錢）　柴胡（二錢）　肉桂（一錢）　水煎服。</p>
<p>此方熟地、山萸補腎之藥，而〔當〕歸、白〔芍〕、柴〔胡〕、〔肉〕桂補肝之品。既去〔云〕平肝補腎，似乎〔用〕藥不該〔有〕輕重，今補肝之品多於補腎者何〔也〕？〔蓋〕腎為肝之母，肝又為命門之母也，豈有肝木旺而不生命門之火〔者〕哉？</p>

<h2>心腎同源湯</h2>
<p>腎，水藏（臟）也。心，火藏（臟）也。是心腎二經為仇敵〔矣〕，似不宜牽連而一（合）治之。不知心腎相剋而實相須：無心之火則成死灰，無腎之水則成冰炭；心必得腎水以滋養，腎必得心火而溫暖。如人驚惕不安，夢遺精泄，豈非心腎不交乎？人以驚惕不安為心之病，我以為腎之病；人以夢遺精泄為腎之病，我以為心之病；非顛倒也，實有至理焉矣。方用：</p>
<p>熟地（五兩）　山萸（三兩）　山藥（三錢）　白朮（五兩）　人參（三兩）　芡實（五錢）　茯神（三兩）　菖蒲（一兩）　炒棗仁（三兩）　遠志（一兩）　五味子（一兩）　麥冬（三兩）　柏子仁（三兩）</p>
<p>蜜丸每早晚溫水送下五錢。</p>
<p>此方之妙，治腎之藥少於治心之味，蓋心君寧靜，腎氣自安，何至心動，此治腎正所以治心，治心即所以治腎也，所謂心腎相依。</p>

<h2>氣血雙補方</h2>
<p>飲食不迸，形容枯槁，補其氣而血益燥，補其血而氣益餒；助胃氣而盜汗難止，補血脈而胸膈阻滯。法當氣血同治，方用：</p>
<p>熟地（三錢）　人參（一錢）　白朮（一錢）　當歸（二錢）　川芎（一錢）　白芍（三錢）　茯苓（三錢）　麥冬（五錢）　穀芽（一錢）　甘草（八分）　陳皮（五分）　神麯（五分）　水煎服。</p>
<p>此方氣血雙補，與八珍湯同功，而勝於八珍湯也（者），妙在補中有調和之法耳。</p>

<h2>扶正散邪湯</h2>
<p>此專治正氣虛而邪氣入之者，如頭疼發熱；凡脈右寸口大於左（寸）口者，急以此方投之，效。方用：</p>
<p>人參（一錢）　白朮（三錢）　茯苓（三錢）　半夏（一錢）　柴胡（三錢）　甘草（一錢）　水煎服。</p>

<h2>內傷猝倒方</h2>
<p>凡人猝然昏倒，迷而不悟，喉〔中〕有痰，人以為風也，誰知是氣虛〔乎〕？若作風治，未有不死者。蓋因平日不慎女色，精虧以致氣虛；又加起居不慎，而有似乎風之吹倒者。方宜用：</p>
<p>人參（一兩）　黃耆（一兩）　白朮（一兩）　茯苓（五錢）　白芥子（三錢）　菖蒲（二錢）　附子（一錢）　半夏（二錢）　水煎服。</p>
<p>此方補氣而不治風，消痰而不耗氣；一劑神定，二劑痰清，三劑可痊愈。</p>

<h2>便血矣而又尿血方</h2>
<p>血分前後：便出於後陰，尿出於前陰——最難調治。然總之出血於下也。方用：</p>
<p>生地黃（一兩）　地榆（五錢）　水煎服。</p>
<p>二症自愈。</p>
<p>蓋大、小便各有經路，而其源同，因膀胱之熱而來也。生地、地榆俱能清膀胱之熱，一方而兩用之，於分之中有合也。</p>

<h2>中氣矣而又中痰方</h2>
<p>中氣、中痰，雖若中之異，而實皆中於氣之虛也。氣虛自然多痰，痰多必然耗氣，雖分而實合耳。方用：</p>
<p>人參（一兩）　半夏（三錢）　南星（三錢）　茯苓（三錢）　附子（一錢）　甘草（一錢）　水煎服。</p>
<p>蓋人參原是氣分之神劑，而亦消痰之妙藥；半夏、南星雖是逐痰之神品，而亦可扶氣之正藥；附子、甘草，一仁一勇，相濟而成。</p>

<h2>瘧疾方用遇仙丹</h2>
<p>生大黃（六兩）　檳榔（三兩）　三稜（三兩）　莪朮（三兩）　黑醜（三兩）　白醜（三兩）　木香（二兩）　甘草（一兩）　共為細末，水丸，櫻桃大。</p>
<p>如遇發日，清晨溫水化下三四丸。〔藥〕行後以溫米飯補之。忌腥冷、蕎麵等物。孕婦勿服。</p>

<h2>治痢疾腹不痛方</h2>
<p>〔凡痢〕腹不痛者，寒也。方用：</p>
<p>白芍（三錢）　當歸（三錢）　卜子（一錢）　枳殼（一錢）　檳榔（一錢）　甘草（一錢）　水煎服。</p>
<p>前方治壯實之人，火邪挾濕乃爾也〔此方治寒痢腹不痛者〕。更有內傷勞倦與中氣虛寒之人，脾不攝血而成血痢，當用理中湯加木香、肉桂。或〔用〕補中益氣湯加熟地、炒黑乾薑，治之而愈〔也〕。</p>

<h2>風、寒、濕合病治方</h2>
<p>風、寒、濕三氣，合而成疾，客於皮膚肌肉之間，或疼或麻木。</p>
<p>牛皮膠（二兩）　天南星（五錢，研）　生薑汁（共熬膏，攤貼。）　後用熱鞋底子熨之。</p>
<p>再用羌活、乳香、沒藥末，更妙。</p>

<h2>腹痛方</h2>
<p>治冷氣心腹疼痛，此方名火龍丹。方用：</p>
<p>硫磺（一兩，醋製）　胡椒（一錢）　白礬（四錢）　醋打蕎麵為丸，桐子大，每日服二十五丸，米湯送下。</p>

<h2>大滿方</h2>
<p>此邪在上焦壅塞而不得散也。方用：</p>
<p>枳殼（三錢）　梔子（三錢）　瓜蔞（一個，搗碎）　陳皮（三錢）　天花粉（三錢）　厚朴（錢五分）　半夏（一錢）　甘草（一錢）　水煎服。</p>
<p>此方之妙，全在瓜蔞能祛胸膈之食，而消上焦之痰；況又佐以枳殼、花粉，同是消中之聖藥；又有厚朴、半夏，以消胃口之痰；尤妙在甘草，使群藥留中而不速下，則邪氣不能久存，自然散矣。</p>

<h2>舒筋方</h2>
<p>人一身筋脈，不可有病，病則筋縮而身痛，脈澀而身重矣。然筋之舒，在於血和；而脈之平，在於氣足。故治筋必須治血，而治脈必須補氣。人若筋急攣縮，傴僂而不能立，俯仰而不能直者，皆筋病也。方用：</p>
<p>當歸（一兩）　白芍（五錢）　薏仁（五錢）　生地（五錢）　元參（五錢）　柴胡（一錢）　水煎服。</p>
<p>此方奇在用柴胡一味，入於補血藥中，蓋血虧則筋病，用補藥以治筋宜矣。何以又用柴胡以散之，不知肝為筋之主，筋乃肝之餘，肝氣不順，筋自縮急，今用柴胡以舒散之，鬱氣既除，而又濟之大劑補血之品，則筋自得其養矣。</p>

<h2>斂汗方</h2>
<p>出汗過，恐其亡陽，不可不用藥以斂之也。方用：</p>
<p>人參（一兩）　黃耆（一兩）　當歸（一兩）　北五味（一錢）　桑葉（五片）　棗仁（一錢）　麥冬（三錢）　水煎服。</p>
<p><u>又方</u></p>
<p>手汗洗法用：</p>
<p>黃耆（一兩）　乾葛（一兩）　荊芥（三錢）　防風（三錢）　水煎一盆，熱熏而溫洗三次，即無汗。</p>

<h2>黃水瘡方</h2>
<p>雄黃（五錢）　防風（五錢）　煎湯洗之即愈。</p>

<h2>初飲砒毒方</h2>
<p>用生甘草三兩，加羊血半碗，和勻飲之，立吐而愈，若飲之不吐，速用：</p>
<p>大黃（二兩）　甘草（五錢）　白礬（一兩）　當歸（三兩）　水煎湯數碗飲之，立時大瀉即生。</p>

<h2>大健牌丸方</h2>
<p>焦白朮（三兩）　人參（一兩，乳炙）　扁豆（一兩，炒）　蓮子（一兩半，去心）　雲苓（一兩半）　山藥（一兩，炒）　芡實（二兩半，炒）　陳皮（二兩）　神麯（二兩，炒）　山楂（二兩）　薏苡仁（三兩，炒）　麥芽（一兩半，炒）　黃連（三兩半，酒炒）　澤瀉（三錢半）　藿香（五錢）　桔梗（五錢）　炙甘草（五錢）　白蔻（三錢半）　煉蜜為丸，米湯飲下。</p>

<h2>瘡毒</h2>
<p>如神湯：</p>
<p>銀花（一兩）　當歸（一兩）　蒲公英（一兩）　荊芥（一錢）　連翹（一錢）　甘草（三錢）　水煎服。</p>

<h2>治頭面上瘡</h2>
<p>銀花（二兩）　當歸（一兩）　川芎（五錢）　桔梗（三錢）　蒲公英（三錢）　黃芩（一錢）　甘草（五錢）　水煎服。</p>
<p>二劑全消，治頭面上瘡，不可用升提之藥，最宜用降火之藥，切記之。</p>

<h2>治身上手足之瘡疽</h2>
<p>銀花（三錢）　當歸（一兩）　蒲公英（三錢）　花粉（五錢）　甘草（三錢）　牛蒡子（二錢）　芙蓉葉（七片，如無葉用根三錢）　水煎服。</p>

<h2>統治諸瘡</h2>
<p>天花粉　生甘草　金銀花　蒲公英　水煎服。</p>
<p>二劑痊愈。此方消毒，大有奇功，諸癰諸疽，不論部位，皆可統治之也。</p>

<h2>治疥方</h2>
<p>大楓子（三錢）　核桃仁（三錢）　人言（一錢）　水銀（一錢）</p>
<p>研末為六丸，晚間於心窩上用一丸，以手旋轉之，一夜一丸，病輕者用三四丸即愈，重者或再配一料可〔愈〕。</p>

<h2>產後治法</h2>
<p>以補氣血為主，方用：</p>
<p>人參（三錢）　當歸（一兩）　川芎（五錢）　益母草（一錢）　荊芥（一錢，炒黑）　水煎服。</p>
<p>有風加柴胡五分；有寒加肉桂五分；血不淨加山楂十粒；血暈加炮姜五分；衄血加麥冬二錢；夜熱加地骨皮五分；有食加穀芽、山楂；有痰少加白芥子。余則不必胡加。</p>

<h2>橫生倒養</h2>
<p>氣血之虧也，氣血既虧，子亦無力，不能轉身而出，遂先出手足，必以針刺之，疼而縮入，急用：</p>
<p>人參（一兩）　當歸（三兩）　川芎（二兩）　紅花（三錢）　煎湯灌之。</p>

<h2>治婦人下□</h2>
<p>豬懸蹄丸：</p>
<p>蛇床子（一兩，微炒）　豬懸蹄（一個，炒）　皂礬（五錢）　枯礬（五錢）　燒砂（三錢，炒）　南烏□（一兩）　樺皮（二錢）　食鹽（一錢（炒）</p>
<p>棗泥為丸，核桃大，雄黃為衣，甘草米泔水洗淨入藥，三日內，服龍膽瀉肝湯，忌食胡椒、蕎麵、魚、北瓜、房事百日。</p>

<h2>又補錄定胎方</h2>
<p>歸身　陳皮　川芎　白芍　熟地　香附　吳茱萸（炮去黑水去蒂梗酒炒，各二分）　茯苓（八分）　丹皮（七分）</p>
<p>經行過期色淡者，加官桂、炮薑、艾葉醋炒五分，姜一片，水一碗，煎八分，空心服，渣再煎臨臥服。經行時服起，連用四劑。</p>

<h2>滑胎煎</h2>
<p>胎氣臨月，宜常服數劑，以便易生。</p>
<p>當歸（三五錢）　川芎（五七錢）　杜仲（二錢）　熟地（三錢）　枳殼（七分）　山藥（二錢）　水（二樽）　煎八九分，食遠溫服。</p>
<p>如氣體虛弱者，加人參、白朮隨宜用之，便實多滯者，加牛膝三分。</p>

<h2>大資生丸方</h2>
<p>老人用：</p>
<p>人參（五錢）　茯苓（二兩）　云術（三兩）　山藥（一兩，炒）　薏米（一兩五錢）　健（建）蓮（二錢，去心）　芡實（一兩五錢）　麥芽（一兩，炒）　神麯（八錢，炒）　白芥子（八錢，炒）　陳皮（一兩）　白蔻（八錢）　扁豆（一兩五錢）　炮姜（八錢）　當歸（一兩，酒炒）　棗仁（一兩五錢，炒）　遠志（七錢）　炙草（八分，酒洗）</p>
<p>共為細末，煉蜜為丸，如彈子大，每服三丸。或以逍遙散，或以歸脾湯送下亦可。</p>

<h2>健脾丸</h2>
<p>白朮（二兩五錢，土炒）　蓮子（二兩五錢，去心）　山藥（二兩五錢，炒）　山楂（二兩五錢）　芡實（一兩）　茯苓（一兩）</p>
<p>以上六味，俱飯上蒸曬兩次，加神麯五錢，白芍五錢，白色大米蟲五錢，陳皮二錢，澤瀉二錢。</p>
<p>如瘦極成疳，加蘆薈三錢，杜仲二錢。如泄瀉，加肉果煨三錢。如內熱、口乾、大便結，加黃連二錢姜炒；潮熱，加柴胡三錢；骨蒸加地骨皮五錢；有蟲加使君子三錢；肚腹脹大、大便閉塞、腸鳴作聲加檳榔五分、木香一錢，煉蜜為丸，如彈子大，空心米飲送下二三錢，宜常服。</p>

<h2>治脾泄方</h2>
<p>上黨參（四錢，去蘆）　焦於白朮（二錢）　雲苓塊（二錢）　炒白扁豆（二錢）　炒薏苡仁（三錢）　炒穀芽（三錢）　炒甘草（六分）　砂仁（五分）　陳皮（八分）　加建蓮肉（七個，去心炒）　水煎服。</p>

<h2>又治脾泄丸（散）方</h2>
<p>於白朮（米泔浸透切片，米湯拌，蒸曬五次）　陳土（炒焦，四兩）　雲苓塊（米湯拌蒸曬，三兩）　白扁豆（炒去皮）　薏苡仁（四兩，炒）　穀芽（三兩，炒）　陳皮（一兩，湯米拌炒）　甘草（一兩，炒）　砂仁（七錢，略炒）　建蓮肉（四兩，去心炒）</p>
<p>共為細末，每早服四錢，米湯或開水下，每一錢，加人參末半分和勻。如不用參，則原方加上黨參，去蘆切片焙，四兩。</p>

<h2>治肝氣方</h2>
<p>當歸（二錢）　白芍（一錢二分，酒炒）　焦於白朮錢（五分）　雲苓塊（錢五分）　柴胡（八分，醋炒）　生甘草（五分）　丹皮（一錢）　黑山梔（一錢）　炮姜（三分）　水煎服。</p>

<h2>大滋陰補水丸方</h2>
<p>懷大熟地（六兩，烘燥）　山藥（三兩，炒）　北沙參（三兩）　抱木茯神（三兩，去本人乳拌蒸曬）　棗仁（三兩，炒）　沙苑蒺藜（三兩，揀淨炒）　大麥冬（三兩，去心焙）　蓮鬚（二兩）　阿膠（三兩，蛤粉炒）　左牡蠣（四兩，煅）　丹參（二兩，炒）　敗龜板（四兩，炙）　菟絲子（二兩，淘淨酒煮爛搗餅乾）　遠志肉（一兩二錢，去心）　桂元肉（一百二十個，烘炒）　甘草（六錢，煎湯泡炒）</p>
<p>右共為末，煉熟蜜為丸，梧子大。</p>
<p><u>又方</u></p>
<p>魚膘（一兩煎碎蛤粉炒）　沙苑蒺藜（酒洗炒）　全當歸（各四兩酒洗）　牛膝（三兩酒洗）　枸杞子（三兩揀淨）　蜜為丸黃酒迭下</p>

<h2>神仙附益丸</h2>
<p>婦人常服卻病方：</p>
<p>香附一斤童便浸透，水洗淨，露一宿，曬乾，再如此三次用，益母草十二兩洗烘為末。再用香附四兩，艾葉一兩，煮汁，加醋大半，共為末，糊丸梧子大，每日百丸，空心下。</p>
<p>此方能治婦人百病，生育之功如神。胎前產後俱服，神妙無比。藥雖不貴，而功效倍常，仙方也。</p>

<h2>尿方</h2>
<p>為風、寒、濕氣傷者，用此方：</p>
<p>小茴香二兩，用上好真酒一大甬（碗？），豬尿泡一個，將茴香微炒真酒裝入泡內，將口控好，沙鍋內用水上火煮，以酒盡為度，取出曬乾研末，每服二錢，紅糖水沖服。</p>
<p><u>又方</u></p>
<p>因人事過多傷者，用此方：</p>
<p>川軍三錢〔研末〕，用雞子一個，包入泥內，上火燒之，以熟為度，去皮黃，研末，將川軍末與雞白共為一處和丸，梧子大，每服三錢，真酒送下，連造三次，服完可痊愈矣。</p>
<p><u>又方</u></p>
<p>川軍（三錢）　牡蠣（三錢）　芡實（三錢）</p>
<p>共為細末，用雞清和丸梧子大，每服三錢，開水送下，分三日用，服完即愈。</p>
<p>又用八味丸原方，加白果仁七個，三五服即愈。</p>

<h2>木耳丸</h2>
<p>治腰腿痛：</p>
<p>萵苣子（四兩，白色）　枸杞子（四兩）　白木耳（半斤）　煉蜜為丸</p>

<h2>治乳疼方</h2>
<p>生半夏（一個研末）　蔥白（一寸）</p>
<p>搗為泥，用絹包之，左乳疼，塞入右鼻孔，右乳疼，塞入左鼻孔內。</p>

<h2>歷風腿疼方</h2>
<p>蒜辮　荊芥　防風　紅花　地骨皮　川烏　草烏　乳香　沒藥（各三錢）　透骨草（錢半）</p>
<p>煎湯洗畢，火干，覆被見汗即愈。如未效，再洗二三次。</p>

<h2>治腿上濕瘡方</h2>
<p>榆條　椿條　柳條　桑條　槐條（各一兩）　荊芥　當歸　蔥胡　蒜辮　川椒（各一撮）</p>
<p>水十碗，煎五碗洗，洗後敷以銀杏散：</p>
<p>銀珠（一兩）　杏仁（五錢）　京粉（五錢）　研細末</p>

<h2>治心口痛方</h2>
<p>大棗（一個去皮核）　胡椒（七個）</p>
<p>共搗爛和勻，湯送下即愈。</p>
<p><u>又方</u></p>
<p>一個烏梅兩個棗，七個杏仁一處搗，男酒女醋送下去，不害心疼直到老。</p>

<h2>人馬平安散</h2>
<p>明雄黃（一錢）　硃砂（一錢）　冰片（一分三釐）　麝香（一分五釐）　共為細末，瓷瓶收貯。</p>
<p>治男女大小，心口臌悶，水瀉痢疾，心腹疼痛等症。用骨管，男先點左眼，女先點右眼，點之即愈。兼治牛馬豬羊等畜。</p>

<h2>治夏日中暑氣紅白痢疾方</h2>
<p>焦山楂（五錢）　紅糖（五錢）　白糖（五錢）　蘿蔔（一個）　藿香（錢五分）</p>
<p>若白痢用紅（糖一兩）　若紅痢用白糖（一兩）　水煎服。</p>
<p>後附其他經驗神方：</p>

<h2>五子衍宗丸</h2>
<p>男服此藥，添精補髓，疏利腎氣，不問下焦虛實寒熱，服之自能和平，舊稱古今第一種於方。有能世世服此藥，子孫蕃衍。</p>
<p>甘州枸杞子（八兩）　菟絲子（八兩，酒蒸搗餅）　遼五味子（二兩，研碎）　車前子（二兩，搗淨）　覆盆子（四兩，酒洗去目）</p>
<p>上各藥俱擇地道精新者，焙曬乾，共為細末，煉蜜丸梧子大，每空心服九十丸，上床時五十丸，白沸泳或鹽湯送下；冬月用溫服（酒）送下。修合春取丙丁已午，夏取戊己辰戌，秋取壬癸亥子，冬取甲乙寅卯，忌尼師鰥寡之人見之，及雞犬畜見之。</p>

<h2>百子附歸丸</h2>
<p>女服此藥，調經養血，安胎順氣。不問胎前產後、經事參差、有餘不足諸證，悉皆治之，殊益胎嗣。此太僕吏鮑壁，台州人，其妻年三十不生育，忽經事不至者十月，腹鼓大無病，皆謂妊娠，一日忽產惡物盈桶，視之皆敗痰積血。後復此丸，不期年生一子。張云，彼嘗以此二方與人，服無不應者。</p>
<p>真阿膠（蛤粉炒成珠）　蘄艾葉（去筋梗醋蒸乾）　當歸（擇肥酒洗去蘆）　川芎（去蘆）　熟地黃（去腦取沉水者要懷慶佳者）　香附（赤心者去毛）　白芍藥（肥長者以上各二兩）　杵成米，水醋各淹一宿，曬焙乾十二兩</p>
<p>右為細末，用大陳石榴一枚，連皮搗碎，東流水三升，熬去滓，麵糊為丸，梧子大，每服百丸，空心陳醋點湯下。</p>

<h2>洗眼仙方</h2>
<p>防風（五分）　硼砂（一釐）　膽礬（二釐半）　同煎水洗之立愈。</p>

<h2>明目補腎方</h2>
<p>小紅棗（十二枚，冷水洗淨，去核）　甘枸杞子（三錢）　馬料豆（四錢）　水二碗，煎一碗，早晨空心連湯共食之。</p>

<h2>洗眼奇方</h2>
<p>方出道藏，不論瞽目、犯土、雲霧、風眼、火眼、昏花，久洗自明，用：</p>
<p>皮硝（六錢）　桑白皮（一兩）　水煎</p>
<p>每遇日期，熱洗數十次。正月初五、二月初二、三月初三、四月初九、五月初五、六月初四、七月初三、八月初十、九月十二、十月十二、十一月初四、十二月初四。</p>
<p>以上吉星日子，乃通光明也。其方千金不易，屢用屢驗。</p>

<h2>肚血敘急方</h2>
<p>吐血不止，用青柏葉一把，乾薑三片，阿膠一挺炙。共三味，以水二碗，煎一碗服。</p>
<p>又，就用吐出血塊，炒黑為末，每服三分，以麥冬湯調服。</p>
<p>又，以古金墨磨汁，同蘿蔔汁，飲之。</p>
<p>痰帶血絲，童便、竹瀝止之。</p>
<p>又，茜根末二三錢，童便煎服。吐血不止，藕汁加童便良。</p>
<p>又，大蘇葉根，搗汁溫服。</p>
<p>鼻血欲死，亂髮燒灰，水服，方寸匕，吹之。</p>
<p>又，刀刮指甲末，吹之，即止。</p>

<h2>一人少患血症，用露漿方</h2>
<p>中秋前後，用無五棓子，新青布一二疋，扯作十餘段，每段四五尺，五更時，於百草頭上，荷葉稻苗上尤佳，先用細竹一根，掠去草上蛛網，乃用青布，系長竹上，如旗樣，展取草露水，絞在桶中，展濕即絞，視青布色淡，則另換新布，陽光一見即不展。所取露水，用磁（瓷）罐洗淨盛貯，澄數日自清，晚間用男（人）乳一酒杯，約一兩半，白蜂蜜一酒盞，人參湯一酒杯，多少同乳，人參鬚上等四五分不拘，總人一宮碗內，將露水一飯碗，攙入宮碗，共得七八分，和勻，以綿紙封口，用碟蓋好。次日五更，燒開水兩大碗，將宮碗內露，隔湯整熱，睡醒時，緩緩溫服之。蘭所以殺蟲，露去諸經之火，參補氣，乳補血，蜜潤肺，治一切虛損勞症，奇效。</p>
<p>辛稼軒初自北方還朝，官建康，忽得㿗疝之疾，重墜大如杯，有道人教以取葉珠，即薏苡仁，用東方壁土，炒黃色，然後水煮爛，入砂盆內，研成膏，用無灰酒調下二錢，即消。沙隨先生，晚年亦得此疾，稼軒親授此方，服之亦消。然城郭人患不能得葉珠，只於生藥鋪買薏苡仁，亦佳。</p>

<h2>治腎虛腰痛方</h2>
<p>用杜仲酒浸透炙乾，無灰酒調下。</p>

<h2>又記治食生冷心脾痛方</h2>
<p>用陳茱萸五六十粒，水一大盞，煎取汁去滓，入平胃散三錢，再煎熱服。</p>

<h2>又沙隨嘗患淋</h2>
<p>日食白東瓜三大甌，而愈。</p>

<h2>治喉閉方</h2>
<p>用梧桐子一二十粒，研細，少加醋，服下痰去自愈。</p>
<p>又用帳帶散，惟白礬一味，或不盡驗。南浦有老醫，教以用鴨嘴、膽礬，研細，以配醋調灌。有鈴下一老兵妻，患此垂殆，如法用之，藥甫下咽，即大吐，去膠痰數升，立差。</p>
<p>又治眼障，用熊膽少許，以淨水略調，盡去筋膜塵土，用冰腦一二片，癢則加生薑粉些少，時以銀筋點之，奇驗。赤眼亦可用。</p>

<h2>急治時行瘟症方</h2>
<p>藿香（二錢）　紫蘇（錢五分）　蒼朮錢（二分）　赤苓（三錢）　白芷（一錢）　陳皮錢（五分）　川樸（一錢，薑製）　烏梅（四個，打碎）　檳榔（一錢）　半夏（錢五分，薑製）　桔梗（一錢）　引加生薑（三片）　大棗（三枚）　水三杯，煎成一杯，溫服。</p>

<h2>痰火神丸方</h2>
<p>大黃（五兩，酒蒸極黑）　陳皮（一兩，去盡白）　白朮（二兩，土炒）　前胡（二兩）　枳實（二兩，麩炒）　山楂（二兩）　生甘草（四錢）　大半夏（二兩）　花粉（二兩，土炒）</p>
<p>製半夏法：生薑自然汁泡之，三次用姜三兩，取汁，滾水半碗入半夏內，一次泡七天，取出焙乾，共為細末，老米煮粥搗爛為丸。</p>

<h1>附錄</h1>

<h2>《石室秘錄》卷五岐天師兒科治法</h2>
<p>天師曰，兒科得其要，無難治。今傳一法門，使萬世小兒，盡登仁壽，法在先看氣色，後看脈。小兒有痰，其顏色必鮮豔，以鼻之上、眼之中間、中正精明穴上辨之：色紅者，心熱也；紅筋橫、直現於山根〔者〕，皆（亦）心熱也。色紫者，心熱之甚，而肺亦熱也。色青者，肝有風也；青筋〔橫現〕、直現者，乃（皆）肝熱也；直者風上行，橫者風下行也。色黑者，風甚而腎中有寒。色白者，肺中有痰。色黃者，脾胃虛而作瀉。黃筋現於山根，不論橫直，總皆脾胃之症，止有此數色，無他顏色，故一覽而知小兒之病矣（按：《方論》原文為「觀其色，而病可知矣」）。</p>
<p>大人看脈於寸、關、尺，小兒何獨不然（按：《方論》為「小兒不然」），但小兒不必看至數，止看其數與不數耳（按：《方論》僅一句「但看其數與不數而已」），數甚則熱，不數則寒也。數之中浮者，風也；沉者，寒也；緩者，濕也；澀者，邪也；滑者，痰也〔有止歇者，痛也〕，如此而已（《方論》下為「余不必談」），七表八里，俱不必去看，自知吾訣，則《脈經》亦不必讀也。有止歇者，乃痛也，余亦不必再談。</p>
<p>小兒症大約吐瀉厥逆，風寒暑熱而已，其餘痘疹瘖，余無他病。或心腹痛，或有痞塊，或有瘡疔，可一覽而知也。然而小兒之病，虛者十之九，實者十之一，故藥宜補為先，今立三方通治小兒諸症。第一方：</p>
<p>人參（三分）　白朮（五分）　茯苓（一錢）　甘草（一分）　陳皮（二分）　神麯（三分）　半夏（一分）</p>
<p>此六君子加減也，通治小兒脾胃弱病，神效。如傷肉食者，加山楂五粒；傷米食者，加麥芽五分；傷麵食者，加萊菔子三分；吐者加白豆蔻一粒，去甘草加生薑三片；瀉者加乾薑三分、豬苓五分（按：此方在《方論》中為治黃筋現於山根者，脾胃衰弱之症，原方中無半夏，有麥芽二分、淡竹葉七片，在用藥加減變化上，陳士鐸亦有修改，但在原則精神上均相同）。</p>
<p>第二方治外感也，或傷風傷寒，或咳嗽，或發熱，或不發熱，或頭痛，或鼻塞，或痰多，或驚悸，或角弓反張，皆以此方通治之，無不神效，方用：</p>
<p>柴胡（七分）　甘草（三分）　桔梗（五分）　半夏（三分）　黃芩（三分）　白芍（二錢）　當歸（五分）　茯苓（五分）　水煎服</p>
<p>頭痛〔者〕，加蔓荊子三分。心痛手不可按者，乃實火也，加梔子一錢；按之不痛者，乃虛火也，加甘草八分、管仲五分、廣木香三分、乳香一分。脅痛者，加白芍三錢。腹痛者，以手按之而疼甚者，乃食也，加大黃一錢；按之而不痛者，乃寒也，非食也，加肉桂三分、乾薑三分。汗出不止者，加桑葉一片。眼痛而紅腫者，乃火也，加黃連三分、白蒺藜一分。喉痛者，加山豆根二分（按：此方在《方論》中為治感冒風寒方，原方中無黃芩、桔梗，而有半夏三分，在用藥加減變化上，陳士鐸亦有修改，在原則精神上均相同）。</p>
<p>第三方治虛寒之症，夜熱出汗，夜啼不寐，怔忡，久嗽不已，行遲語遲，龜背狗肚，將成癆瘵等症，方用：</p>
<p>熟地（三錢）　山萸（二錢）　麥冬（二錢）　化五味（五分）　元參（二錢）　白朮（二錢）　茯苓（一錢）　薏仁（三錢）　丹皮（一錢）　沙參（二錢）　地骨皮（二錢）　水煎服</p>
<p>倘兼有外感，加柴胡五分、白芍三錢、白芥子一錢，余無可加減矣（按：《方論》及傳世本《兒科》中無此方，非傅山之經驗方，為陳士鐸所增補，因與傅山小兒諸症，處方用藥精神不相符）。</p>

<h2>岐天師傳《兒科》秘法</h2>
<p>山根之上，有青筋直現者，乃肝熱也，方用：</p>
<p>柴胡（三分）　白芍（一錢）　當歸（五分）　半夏（三分）　白朮（五分）　茯苓（一錢）　山楂（三粒）　甘草（一分）　水煎服</p>
<p>有青筋橫直者，亦肝熱也。但直者風上行，橫者風下行，亦用前方，多加柴胡二分（按：《方論》為「加柴胡五分」）、麥芽一錢、乾薑一分。</p>
<p>有紅筋直現者，乃心熱也，亦用前方加黃連一分，麥芽五分，去半夏加桑白皮三分、天花粉二分。</p>
<p>有紅筋斜現者，亦心熱也，亦用前方加黃連二分。蓋熱極（積）於胸中也（者），不可用半夏，〔用〕桑白皮、天花粉〔可也〕。</p>
<p>〔又〕有黃筋現於山根者，不必論橫直，總是脾胃之症，或水瀉，或上吐，或下瀉（按：《方論》為「或吐瀉」），或腹痛，或不思食，（《方論》下為「方用」），余定一方，皆能服，服之無不神效。如皮黃，即黃筋也。方用：</p>
<p>白朮（五分）　茯苓（五分）　陳皮（二分）　人參（二分）　神麯（一分）　麥芽（二分）　甘草（一分）　水煎服加淡竹葉（七片）</p>
<p>有痰加半夏一分〔或〕白芥子二分，或天花粉二分（按：《方論》無天花粉）；有熱如口渴者（按：《方論》作：「如口渴有熱者」），加麥冬三分、黃芩一分；有寒者加乾薑一分；吐者加白豆蔻一粒；瀉者加豬苓五分；腹痛者，如小兒自家捧腹，是須用手按之，大叫呼者，乃食積也（按：《方論》作「腹痛按之大叫者，食也」），加大黃三分、枳實一分；如按之〔不痛〕不呼號者，乃寒也，加乾薑二分。如身熱者，不可用此方。余另立一方，萬全湯（按：《方論》無此二句）。</p>
<p>凡小兒發熱者，無論夜熱、早熱、晚熱，用之無不神效，方用：</p>
<p>柴胡（五分）　白芍（一錢）　當歸（五分）　白朮（三分）　茯苓（二分）　甘草（一分）　山楂（三粒）　黃芩（二分）　蘇葉（一分）　麥冬（一分）　神麯（三分）　水煎服</p>
<p>冬天加麻黃一分，夏天加石膏三分，春天加青蒿三分，秋天加桔梗三分（按：《方論》中無天字）。有食加枳殼三分；有痰加白芥子三分；瀉者加豬苓一錢；吐者加白豆蔻一粒。小兒諸症，不過如此，萬不可作驚風治之（按：《方論》無萬字）。有驚〔風〕者，有疳者，用脾胃方，加蒲黃三分、黃芩三分可也。</p>
<p>治小兒痢疾神方（按：《方論》無神字）：</p>
<p>當歸（一錢）　黃連（二分）　白芍（一錢五分）　枳殼（五分）　檳榔（五分）　甘草（三分）</p>
<p>紅痢加黃連一倍（按：《方論》作「紅痢倍黃連」），白痢加澤瀉三分。腹痛倍加甘草，多加白芍；小便赤加木通三分；下如豆汁加白朮一錢；傷食加山楂、麥芽各三分；氣虛加人參三分。此方通治小兒痢疾，加減之無不神效。</p>
<p>治小兒瘧疾方</p>
<p>柴胡（六分）　白朮（一錢）　茯苓（一錢）　當歸（一錢）　白芍（一錢五分）　枳殼（五分）　檳榔（五分）　厚朴（五分）　水煎，露一宿，再溫與之服。</p>
<p>熱多者加人參、黃耆各五分；寒多者加乾薑三分；痰多者加白芥子一錢；夜發熱者加何首烏、熟地〔各〕二錢；日間發〔熱〕者，不用加；腹痛者加檳榔三分（按：《方論》中此方有青皮、半夏，而無檳榔、枳殼；而陳士鐸在此方中以檳榔、枳殼易青皮、半夏；陳之改方，較傅山原方為佳，二方合用亦可。因治成人瘧疾，用檳榔、枳殼、厚朴有奇效，人所不知）。</p>
<p>治小兒咳嗽神效方（按：《方論》原為「小兒咳嗽方」）：</p>
<p>蘇葉（五分）　桔梗（一錢）　甘草（一錢）　水煎熱服</p>
<p>有痰加白芥子（五分）</p>
<p>治小兒口疳流水口爛神方</p>
<p>黃柏（二錢）　人參（一錢）　為末，敷口內（一日三次），二日即愈。一匙一次，一日不過用三次而已。小兒之疳，皆虛熱也，用黃柏以去火，人參以健脾土也。大人亦可用，神效（按：《方論》作「大人用之亦最效」）。</p>
<p>治小兒便蟲神方，諸蟲皆可治（按：《方論》作「小兒便蟲方」）：</p>
<p>榧子去殼五個，甘草三分，為末，米飯為丸，服完蟲盡化為水矣。大人亦用去蟲，蓋榧子最能殺蟲，又不耗氣也，食多則傷脾。</p>
<p>治小兒蟲積方</p>
<p>使君子十個去殼炒香，檳榔一錢，榧子十個（去殼），甘草三分，為末，米飯為丸，如梧桐子大，與小兒十丸服之（每服十丸），二日即便蟲，五日痊愈，神方也（按：《方論》無此句）。</p>

<h2>兒科（驚、府、吐、瀉、生下不肯食乳、臍下不幹、肚臍突出）</h2>
<p>小兒病驚、疳、吐、瀉盡之矣，然而驚、疳、吐、瀉不可不分別言之也。</p>
<p>世人動曰驚風，誰知小兒驚則有之，而風則無。小兒純陽之體，不當有風，而狀若有風者，蓋小兒陽旺內熱，熱極則生風，是非外來之風，乃內出之風也。內風何可作外風治之，故治風則死矣。法當內清其火，而外治其驚，不可用風藥以表散之也。吾今特傳奇方，名為清火散驚湯，方用：</p>
<p>白朮（三分）　茯苓（三錢）　陳皮（一分）　梔子（三分）　白芍（一錢）　半夏（一分）　柴胡（三分）　甘草（一分）　水煎服</p>
<p>此方健脾平肝之聖藥，肝平則火散，健脾則驚上。又加去火消痰之品，自然藥下咽而驚風定也。</p>
<p>按：《方論》及傳世本《兒科》尚有用「壓風湯」治驚風氣虛者，《石室秘錄》的《兒科》中無。此外，《方論》中尚治驚風抽制經驗方，在傳世本及《石室秘錄》兒科中均無。</p>
<p>傳世本《兒科》中有「急慢風三六九日一切風俱治」方，而在《方論》及《石室秘錄》中則均無。</p>
<p>膽南星　雄黃　硃砂　人參　茯苓　天竺黃　鉤藤　牛黃　麝香　鬱金　柴胡　青皮　甘草　為細末，煎膏為丸，如綠豆大，真金一張為衣，陰乾，勿泄氣，薄荷湯磨服。</p>
<p>疳症乃脾熱也，然亦因心熱而脾火旺極，遂至口中流涎，若不平其心火，則脾火更旺，而濕熱上蒸，口涎正不能遽止。治法不能徒清脾火，而當先散心火，方用止肝散：</p>
<p>蘆薈（一錢）　黃連（三分）　薄荷（三分）　茯苓（二錢）　甘草（一分）　桑白皮（一錢）　半夏（三分）　水煎服</p>
<p>此方心脾兩清之聖藥，不專清脾，引火下行，則濕自去。濕熱去，則疳病自愈矣。</p>
<p>按：《方論》中尚有治疳症的「又方」，傳世本及《石室秘錄》兒科中均無。《方論》及《兒科》中的「口疳流水口爛神方」，陳士鐸移前：「疳症瀉痢眼障神效方」，則被陳士鐸刪去。</p>
<p>吐症雖胃氣之弱，亦脾氣之虛。蓋小兒恣意飽餐，遂至食而不化，久而停積於脾中，又久之而上衝於胃中，又久之而大吐矣。故治吐必先治胃，治胃必先治脾。吾有奇方，止吐速效，方名定吐湯：</p>
<p>人參（一錢）　砂仁（一粒）　白朮（五分）　茯苓（二錢）　陳皮（二分）　半夏（一分）　乾薑（二分）</p>
<p>〔水煎服〕，無不愈者。此方即六君子之變方，乃治脾胃之聖藥，脾胃安而化導速，自然下行，不至上吐。況方中加減得宜，消積有法，有不奏功如神者乎？</p>
<p>按：《方論》及《兒科》此方尚有麥芽五分、山楂三粒。《方論》為水煎服。夏加黃連三分，冬加乾薑三分，止小兒吐無不愈，此方六君子之變方。</p>
<p>瀉症則專責之脾矣。論理亦用湯可以取效，然而瀉有不同，有火瀉，有寒瀉，不可不分。火瀉者，小兒必然身如火熱，口渴舌燥，喜冷飲而不喜飲熱湯，若亦以前方投之，則益苦矣。予另有奇方，名為瀉火止瀉湯，方用：</p>
<p>車前子（二錢）　茯苓（一錢）　白芍（一錢）　黃連（三分）　澤瀉（五分）　豬苓（三分）　麥芽（一錢）　枳殼（二分）　水煎服</p>
<p>一劑即止瀉，車前、茯苓、澤瀉、豬苓皆止瀉分水之聖藥；白芍以平肝，使不平克脾；黃連清心火，不來助脾之熱；用麥芽、枳殼消滯氣以通水道，不必止瀉，瀉自止矣。</p>
<p>寒瀉者腹痛而喜手按摩，口不幹而舌滑，喜熱飲而不喜冷飲，又不可用瀉火之湯，五苓散可也，然而五苓散尚欠補也。蓋小兒致（至）於寒瀉，未有不大傷脾氣者。脾氣即傷，非人參不能救，五苓散無人參，僅能止瀉，元氣未能頓復。我今傳一奇方，名為散寒止瀉湯，方用：</p>
<p>人參（一錢）　白朮（二錢）　茯苓（二錢）　肉桂（二分）　甘草（一分）　乾薑（二分）　砂仁（一粒）　神麯（五分）　水煎服</p>
<p>此方參苓、白朮乃健脾補氣之神品，分濕利水之聖藥也。又加肉桂、乾薑以祛寒，砂仁、甘草、神麯以調和之，則寒氣自然越出，而泄瀉自止矣。</p>
<p>小兒生下不肯食乳者，乃心熱也。蔥煎乳汁，令小兒服之亦妙，不若用黃連三分，煎湯一分，灌小兒數匙，即食乳矣，神效。</p>
<p>小兒初生，臍汁不幹，用車前子炒焦為細末，敷之即干。</p>
<p>小兒肚臍突出半寸許，此氣旺不收也，若不急安之，往往變為角弓反張，方用：</p>
<p>茯苓（一錢）　車前子（一錢）　甘草（二分）　陳皮（三分）　通草（三分）</p>
<p>如無通草，〔用〕燈心一團，共煎湯，灌之，一劑即安，神方也。</p>

<h2>岐天師傳治回毒方</h2>
<p>回毒即消丹</p>
<p>金銀花（五錢）　甘草（一錢）　人參（二錢）　元參（三錢）　水煎服，一劑即消大半，二劑痊愈，不須三劑也。畫符一道，焚在藥中，煎湯神效。凡服藥不效者，焚符於藥中煎藥，與小兒飲之，十人十生。（符樣刪去）咒曰：小兒有病，病魔作祟，吾今施符，治無不愈。吾奏天師歧真君律令敕。書符前後念一遍，焚於藥內又念一遍，此秘訣也。</p>
<p>按：世傳本《兒科》中名痘症回毒或疔毒方：</p>
<p>銀花（五錢）　甘草（一錢）　人參（二錢）　元參（一錢）　水煎服。</p>
<p>此外，《兒科》中尚有「痘瘡壞證已黑者，人將棄之，藥下咽即活」，《方論》及《石室秘錄》均無：</p>
<p>人參（三錢）　陳皮（一錢）　蟬蛻（五分）　元參（二錢）　當歸（二錢）　荊芥（一錢）　水煎服</p>
<p>此乃元氣虛而火不能發也，故用人參以補元氣，元參去浮游之火，陳皮去痰開胃，則三無礙而相得益彰。荊芥以發之，又能引火歸經；當歸生新去舊消瘀血，蟬蛻解毒除風，世人何知妙法。初起時不可服，必壞症乃可服。</p>
<p>岐天師又傳治回毒歲久不愈方：</p>
<p>金銀花（一兩）　當歸（一兩）　白朮（一兩）　黃耆（二兩）　薏仁（三兩）　甘草（二錢）　白芥子（三錢）　柴胡（五分）　肉桂（五分）　水煎服，四服痊愈。</p>
<p>其服藥之時，更須用藥洗之：金銀花一兩、生甘草三錢、生蔥三條，煎二碗。</p>
<p>又傳疹方，治夏日發疹者神效：</p>
<p>蘇葉（一錢）　麥冬（二錢）　桔梗（一錢）　甘草（一錢）　升麻（五分）　生地（二錢）　元參（三錢）　青蒿（三錢）　水煎服</p>
<p>岐真人曰：張真人〔方〕治四時之疹，余方治夏時熱疹也，切記此二方，何患疹病之難治哉。</p>
<p>附張真人傳治四時疹方：</p>
<p>元參（三錢）　麥冬（二錢）　蘇葉（一錢）　升麻（八分）　天花粉（一錢）　金銀花（三錢）　陳皮（三分）　甘草（一錢）　生地（三錢）　黃芩（八分）　桂枝（二錢）</p>
<p>水煎熱服，無不神效，惟夏天加青蒿三錢可也。小兒初數月，〔分量〕減半，一周〔歲〕外，照此分量，不必再傳方也。服吾方一劑即愈，何至三撰。</p>
<p>又傳治水痘方，亦治熱症而有水氣也：</p>
<p>柴胡（一錢）　茯苓（二錢）　桔梗（一錢）　甘草（五分）　黃芩（五分）　竹葉（十片）　燈心（一撮）　水煎服</p>
<p>有痰者加天花粉三分；有食加山楂三粒、麥芽三分；有火加黃連一分；余可不必。有此一方，水痘無難治矣。</p>

<h2>痘治法</h2>
<p>天師曰：今人看痘為難治，不知得其法則無難也。初起之時，不論身弱身強，先以補氣補血之藥為君，加一發散之藥，則重則必輕，而輕者必少。無如世人以寒涼之品為主，又助以劫散之味，此所以輕變重、重變死也！吾今傳五方，朝夕服之，至七日無不結壓。再無回毒之症，十人十活，不殺一小兒也。</p>
<p><u>第一日方</u></p>
<p>小兒身熱，眼如醉眼者，此出痘兆也。若不是醉眼，則非出痘，不可用此方，用治外感方治之。若見眼醉，急投此方，則痘點即見，不必待三日而自出也。方用：</p>
<p>黃耆（三錢）　白朮（一錢）　甘草（一錢）　當歸（二錢）　川芎（二錢）　茯苓（三錢）　柴胡（一錢）　升麻（五分）　麥冬（二錢）　元參（三錢）　陳皮（五分）　荊芥（一錢）　金銀花（三錢）　水煎服</p>
<p>此方五歲以上者，俱照此分量。五歲以下者減半，周歲內者又遽減之。服此藥自然神思清爽，服後見點，再用第二方。</p>
<p><u>第二日方</u></p>
<p>白朮（二錢）　麥冬（三錢）　甘草（一錢）　桔梗（二錢）　當歸（五錢）　生地（五錢）　元參（二錢）　柴胡（一錢）　升麻（三分）　荊芥（一錢）　茯苓（二錢）　白芍（三錢）　白芥子（二錢）　金銀花（三錢）</p>
<p>服此藥後，一身盡見點矣。其色必紅，而無色白、色黑之虞矣。</p>
<p><u>第三日方</u></p>
<p>人參（五分）　白芍（三錢）　白朮（二錢）　茯苓（二錢）　元參（二錢）　神麯（三分）　丹皮（一錢）　水煎服</p>
<p>服此方後，盡皆灌漿，無不氣血之足，永無退症之虞矣。</p>
<p><u>第四日方</u></p>
<p>人參（一錢）　當歸（二錢）　熟地（五錢）　茯苓（二錢）　金銀花（三錢）　陳皮（五分）　甘草（一錢）　元參（三錢）　白朮（三錢）　白芍（二錢）　神麯（五分）　水煎服</p>
<p>服此方後，小兒必然口（脾）健，要吃食不已。不妨少少頻與，亦不可食多也，第五方不必再用矣。然更傳之者，恐小兒多食，更生他病。</p>
<p><u>第五日方</u></p>
<p>人參（一錢）　茯苓（三錢）　白朮（二錢）　甘草（一錢）　水煎服</p>
<p>有食加麥芽五分、山楂五粒，若不傷食，不必加（也），止加金銀花三錢。</p>
<p>能服此五方，期七日前而回春也。以上本兒年歲，小者俱照第一方減之。如小兒已身熱〔見點〕，日用第三方，〔至第〕四日，則用第四方。如壞症，另用壞症方（按：回毒方、回毒歲久不愈方，應在此條後）。</p>
<p>此外，在《方論》及《兒科》中有「治火丹方」二方，《石室秘錄》中則無。</p>
<p>《方論》中尚有「洗胎毒方」、「口瘡方」、「夜啼方」、「尿血方」、「寒積食積方」，《兒科》及《石室秘錄》則均無。</p>

<h1>附：潘昌遠堂選方</h1>

<h2>（此部方從傅山男女科中摘錄）</h2>

<h2>急救時症仙方</h2>
<p>此方淨疴，淨嘔，淨肚痛俱合。</p>
<p>蒼朮二錢，泡，柴胡、羌活、藿香各二錢，六曲三錢，炒，澤瀉、木通各一錢，清遠茶三錢，老蔥二條，連根為引。</p>

<h2>抽筋正方</h2>
<p>用豬糠，灑炒熱透，乘熱用布包住，熨患處。如熨冷，再炒熱，再熨即愈。</p>

<h2>單、雙鵝喉或喉痹等症妙方</h2>
<p>應效多人。</p>
<p>土細辛（又名金茶匙）：用新鮮生的搗爛，取汁，開些少酒，灌入口內。將鵝毛攪汁，入至喉中。不久，其痰吐出，即愈。</p>

<h2>發癲發狂良方</h2>
<p>此症由熱盛所致，應效如神。假矮瓜其葉背有筋便是，將此樹身並根堡水，堡至一日之久，交發狂者飲之便愈。</p>

<h2>應效馬嘴疔方</h2>
<p>鮮生水仙子洗淨，煅灰，放在地，去火氣，用燈盞底油開搽。</p>
<p>此方傳自羅浮，有友得之已久，而未嘗目睹其驗。適於舊歲，有友偶患此症，用治即愈，亦信其神妙。</p>

<h2>治毛疔方</h2>
<p>此症初起，登時或肚痛看肚，或前心、後心痛看前心，後心，或頭痛如刀刺一樣看頭額角，必有起影映如蚊口一樣。即將針嘴拔到，必停針，即是毛疔，可用針嘴挑破，刮去血，便見安然，後服解毒湯。</p>
<p>銀花五錢，天葵、蒲公英、甘谷各二錢，地丁三錢，淨水煎服。</p>

<h2>急救傷署夾邑、夾食妙方（不可輕視）</h2>
<p>青蒟七塊，綠豆、黃皮核各一方，尖檳三文，白欖七個，五靈脂二個，硃砂五十文，六一散二文，淨水煎服。</p>

<h2>立止牙痛方（當面見功）</h2>
<p>生硼砂、牙硝、冰片、元明粉各等分，為細末，搽患處。</p>

<h2>滾油、滾粥、滾湯、滾水所傷方（此係應效多人）</h2>
<p>生豬脊肥肉，生扁柏葉、生蔥，三味各等分，用刀琢爛敷患處。</p>

<h2>疴痢症妙方</h2>
<p>鐵門閂系井欄邊之假芫葵，骨如鐵線，葉如雞腳（趾）指樣，搗爛取汁，堡燒酒，沖生蜜糖服。</p>

<h2>鐵打吊瘀藥醋方</h2>
<p>紅花、蘇木、三稜、莪朮、梔子、三奈、羌活、牛膝、加皮、乳香、沒藥、續斷，每味各一錢五分，為粗末，用黑醋煮透，乘熱熨患處。</p>

<h2>生無名腫毒或運甲或石硬等方</h2>
<p>有破損不合用。</p>
<p>斑蝥、獨活、白灰、視水、米醋，將斑蝥、獨活研粗末，同白灰、梘水、米醋煮透，乘熱浸洗之。</p>

<h2>毒蛇咬傷良方</h2>
<p>五靈脂、靈仙、白芒、川貝、雄黃精各二錢，用酒堡服。倘服藥不下，其頭上必有小泡，即將此泡挑破，其藥立下，應效如神。</p>

<h2>生蛇頭纏指妙方</h2>
<p>甕菜遠搗爛，加片糖，擀勻敷患處。</p>

<h2>生臭田螺妙方</h2>
<p>柿餅一個切片，用生薑汁潤，搗爛入兒茶末和勻，敷患處。</p>

<h2>癲狗咬傷良方</h2>
<p>牆腳青苔、臭草、片糖，搗爛，敷患處。</p>

<h2>炮火鐵砂所傷方</h2>
<p>番石榴葉搗爛，敷患處，其鐵砂自出。</p>

<h2>誤食神仙大睡（一名山未滿）方</h2>
<p>用甕菜擂爛，渣汁灌飲，即吐而愈。若牙關緊閉，從鼻灌入，亦吐而愈。</p>

<h2>誤食鴉片姻膏方</h2>
<p>山膽礬二錢，為末，沖生水灌飲，即吐而愈。</p>

<h2>發熱症出周身芽菜方（此經驗）</h2>
<p>此症熱盛所致，周身出一條條白色，如芽菜一樣，凡染此症，坐臥起立俱痛。可用新鮮生穀芽，擦之便條條斷落。若無新生穀芽，即用新谷發濕，搗爛，擦之亦斷落。</p>

<h1>附：經驗堂選方</h1>

<h2>治外痔方</h2>
<p>凡人勞思過度，傷皮滯血，此痔所由成也。初起於出恭前面後，略有微血。若不知節慮養脾，又不得良方調治，遂至血耗病深，而黃倦郁，氣滯濕凝，結瘡於腸頭，而出恭之苦，不勝言矣。予曾患此，備嘗艱苦，幸神賜良方，往患頓平，如釋重債，特刊公世。且藥和和平詢，稱奇異云。</p>

<h2>搽方</h2>
<p>黑棗三枚，去核，入以銅綠，合回。用紅土包好，全性，去了紅土，取出黑棗、銅綠，研細末。</p>
<p>另加藥散：</p>
<p>雄黃精、白芷、滑石、甘草節、防風、荊芥穗、角刺、花粉各二錢，共為細末，入上存性二味，用真麻油開搽患處。</p>

<h2>洗方</h2>
<p>川萆薢、蟬蛻、蒼朮、白芷、角刺、花椒、堡水，日洗數次。</p>

<h2>食方</h2>
<p>川萆薢、防風，堡豬精肉湯飲之。</p>
<p>每食飯，用好酒三五杯，灌飯同食，以暖脾滯氣。</p>

<h2>治跌打傷內筋骨腫痛吊瘀方</h2>
<p>不見血合用。</p>
<p>凡跌傷、打傷，其內必有瘀血凝滯，必消其瘀乃平，而切近莫如即患處治之，尤捷收功，方用：</p>
<p>桃仁、歸尾、桂枝、蘇木、草烏、白芷、防風、川烏、大黃、沒藥、荊芥、紅花、乳香、續斷各二錢，細辛四錢。</p>
<p>共為粗末，每用四錢，加酒半斤，加生蔥半斤，瓦缽煮滾，乘熱洗熨患處，日洗數次，見功甚速。忌用水煮，因必借酒力、蔥力，方能直透皮毛，而入內也。是以再熨必再加酒並蔥，實以酒、蔥為使焉。</p>

<h1>附：葉天士先生真傳眼科方</h1>
<p>此書乃蘇郡名醫葉天士先生所傳眼科奇方，存留濟世，屢試屢驗，試應患目之金針，有瞽復明之妙，不啻迴天再造之功。</p>
<p>瞳仁屬腎，黑珠屬肝，白珠屬肺，內外眼角屬心，上下胞屬脾。</p>
<p>茲特手錄，切宜珍寶。忽視為泛泛，則幸甚。方開於後。</p>

<h2>荊齊湯</h2>
<p>荊芥、防風、川芎、蔓荊子、赤芍、蟬蛻、青葙子、菊花、生地、車前子各一錢，甘草四分，生薑一片引。</p>
<p>凡白眼珠有紅絲，微痛者，宜用荊芥湯治之。</p>
<p>如大眼角紅腫，仍用荊芥湯加酒炒黃芩；</p>
<p>四分者，心火也，木通少許，引用淡竹葉八片，生薑一片。</p>

<h2>涼血散火湯</h2>
<p>生地二錢，赤芍、蟬蛻、黃芩、丹皮、荊芥、歸尾、防風、柴胡各八分，車前子一錢，生薑一片引。</p>
<p>凡白眼珠盡紅腫痛，失眸流淚者，火盛也，宜用此湯治之。</p>
<p>如頭痛惡風，或發熱，加羌活八分；眼痛不可忍，口渴，加酒炒黃連八分；腫不消，紅不退，加紅花四錢。</p>
<p>此乃百發百中，慎勿輕視。</p>

<h1>附：刺疔捷法</h1>

<h2>治疔要言</h2>
<p>凡疔症發於頭面手臂者多，發於腹背下部者少。初起時一小瘰，或麻或癢而不痛，漸即長大，急須戒口，一切魚肉葷腥煎炒發食務要忌淨。治法先看疔之發於何處，翻閱歌訣，用小鐮刀或三三稜針按穴輕刺，略為出血，隨以麻油和食鹽點穴上，以透泄其毒，切勿將疔頭刺破為要，即以疔膏藥隔水溫軟捏扁貼於患處，初起二三日立見消化，無須服藥矣。如疔頭焮腫者，膏藥外用鮮菊葉搗爛塗之，即能消腫，再用菊葉搗汁服之神效。菊花種類甚多，惟深秋開花者方可入藥。若遲誤至六七日，未食發物尚可見效，若疔頭破爛，或食發物者須防毒陷，難治。更或寒熱交加，務須延醫審脈定方，外內兼治矣。毒甚者先服蠟礬丸以護心包，庶免內陷之慮。大凡病症用藥以清涼解毒為主，勿用散藥及羚羊角之屬。舊本雖有成方，未免雜出。刪之不錄（原書有十二經循行圖，今略）。</p>

<h2>治疔歌</h2>
<p>鶴頂疔生督脈經，宜刺百勞與天庭，</p>
<p>印堂人中與尾骶，委中兩穴保安寧。用癟桃炙炭清油調敷</p>
<p>天庭疔從尾骶刺，肩井面岩百勞治，</p>
<p>插花頰車與地合，中衡一穴須刺至。</p>
<p>天門疔刺尾骶穴，肩井地倉又龍舌，</p>
<p>地合面岩與插花，百勞一二至三節。</p>
<p>太陽生疔關衝刺，百勞七切須挑至，</p>
<p>地合肩井與印堂，大敦竅陰穴當記。</p>
<p>前髮際疔尾閭訣，環跳竅陰是要穴，</p>
<p>地合百勞與曲池，燕利兩穴又龍舌。</p>
<p>插花疔屬肝膽經，髮際印堂刺甚靈，</p>
<p>百勞七節與地合，竅陰大敦保安寧。</p>
<p>大頭疔發頭腫大，急刺尾骶可安泰，</p>
<p>天庭地合與百勞，中衝一訣可無害。此疔起於印堂上寸許，毒重則頭腫大</p>
<p>印堂疔刺尾骶穴，關衝百勞人中決，</p>
<p>更刺兩顴並面岩，心肺火毒可療滅。</p>
<p>山根疔刺尾骶穴，百勞挑至第四節，</p>
<p>人中地合與印堂，兩顴骨上亦須訣。</p>
<p>眉中生疔肝脾熱，須刺隱白大敦穴，</p>
<p>地合兩旁食指尖（即商陽穴），百勞七節與龍舌。</p>
<p>眉燕眉梢兩處疔，牙咬龍舌曲池經，</p>
<p>百勞大敦與隱白，肩井一訣保安寧。</p>
<p>上下眼胞若生疔，隱白厲兌與天庭，</p>
<p>更尋曲池並龍舌，中衝穴與委中靈。用鮮天南星，米醋摩塗患處</p>
<p>鼻節疔向印堂訣，百勞關衝尾閭穴，</p>
<p>天庭地合與承漿，兩口角旁是要訣。</p>
<p>鼻環疔向尾骶訣，百勞一節至四節，</p>
<p>地合印堂兩頰車，關衝穴與外龍舌。</p>
<p>穿鼻疔須刺關衝，地合天庭地倉逢，</p>
<p>面岩印堂與厲兌，尾閭一訣最能松。</p>
<p>迎香疔刺商陽穴，合谷曲池尾骶決，</p>
<p>地合百勞與天庭，陽明熱毒即除滅。</p>
<p>散笑穴疔刺尾骶，唇內齒根（即斷交穴）證可除，</p>
<p>百勞關衝與地合，天庭印堂刺即舒。</p>
<p>鼻尖疔向人中訣，地合印堂兩龍舌。</p>
<p>顴骨疔刺厲兌穴，小指外側少澤訣，</p>
<p>內外龍舌與大敦，髮際左右看分別。生左決左，生右決右</p>
<p>面岩疔刺厲兌穴，天庭百勞與龍舌。</p>
<p>大敦地合與印堂，髮際關衝頰車決。</p>
<p>頤疔宜從肩井刺，商陽合谷曲池至。</p>
<p>顴髎疔又名對齒，小指外側少澤使，</p>
<p>合谷一穴左右分（生左決左，生右決右），中衝一穴刺乃至。</p>
<p>牙咬疔刺合谷穴，手三里與曲池決，</p>
<p>疔旁上下左右刺，地閤中沖兩顴泄。</p>
<p>頰車疔刺合谷穴，地倉少商肩井決。</p>
<p>上反唇疔中衝決，委中面岩是要穴，</p>
<p>唇內齒根名斷交，印堂關衝與龍舌</p>
<p>下反唇疔加地合，其餘俱照上反唇，照上反唇各穴刺之，再刺地合。</p>
<p>人中疔刺尾閭穴，斷交委中是要訣，</p>
<p>天堂地合與印堂，百勞刺至第三節。</p>
<p>吊角疔刺承漿穴，十指尖與地倉決，</p>
<p>委中隱白與耳湧，肩井巨骨是要訣。此疔又名鎖井</p>
<p>鎖口疔刺地合穴，天庭印堂與龍舌，</p>
<p>耳湧耳垂與委中，面岩中衝是宜泄。</p>
<p>地合疔向髕骨決，承漿兩顴天庭穴，</p>
<p>中指尖根各一針，男左女右有分別。中指尖即中衝穴，指根在中指第三節近掌處</p>
<p>耳下項疔合谷治，插花肩井面岩使，</p>
<p>再兼環跳與竅陰，百勞印堂俱宜刺。</p>
<p>耳門疔屬三焦火，肩井合谷刺甚妥，</p>
<p>脘後外關與關衝，中衝穴內刺亦可。</p>
<p>耳湧疔刺合谷穴，更兼肩井又龍舌。</p>
<p>中指尖根各一針，百勞七節亦須決。</p>
<p>耳後生疔屬膀胱，肩井至陰面岩當，</p>
<p>中指尖根各一刺，百勞委中與印堂。</p>
<p>後髮際疔刺至陰，尾骶骨上二節尋，</p>
<p>肩井百勞委中決，數處挑泄患無侵。</p>
<p>正對口疔屬督脈，須刺尾骶是上策，</p>
<p>天庭地合與印堂，百勞委中可解厄。</p>
<p>偏對口疔刺至陰，印堂尾閭委中針，</p>
<p>地合百勞二節刺，膀胱毒解患無侵。用九頭蘭花根、射干二味同搗，入鹽少許，貼於患處</p>
<p>舌尖生疔心火熾，中指尖頭（即中衝穴）須一刺，</p>
<p>百勞承漿與印堂，少衝少府為之使。川連五分、蓮心五粒煎汁，敷患處效</p>
<p>喉內患證鎖喉癰，兩少商穴刺即松。用鮮牛膝一兩、鮮馬蘭根一兩同搗，再用金果蘭淨末一錢，毛茨茹（疑為毛茨菇之誤）淨末一錢，四味共搗和絞汁，用鵝毛蘸汁刷入喉內，吐出風痰立愈，屢見神效。</p>
<p>喉傍生證發痘後，可刺少商合谷口。</p>
<p>肩井生疔刺龍舌，後谿竅陰是要穴，</p>
<p>地合缺盆與曲池，髮際印堂尾閭決。</p>
<p>腋下生疔名挾癰，肩井巨骨與少衝。</p>
<p>臥胸疔又名井疽，中脘關元氣海居，</p>
<p>百勞三節又七節，初起即刺可消除。</p>
<p>手掌疔生勞官穴，脘骨內關中衝決，</p>
<p>髕骨曲澤與印堂，六處刺之毒自泄。</p>
<p>紅絲疔從脈門起，先斷絲頭刺可止，</p>
<p>寸寸挑至近疔頭，中衝穴與龍舌使。紅絲疔亦有從合谷發者，再刺商陽穴，亦有從腳土（疑為上字之誤）發者，挑法俱先從紅絲延處，當頭先刺，寸寸挑至近根，若有白泡，先挑破之。</p>
<p>手槽疔生威靈穴，可刺肩井與龍舌，</p>
<p>更加時骨與曲池，四處記取是要訣。</p>
<p>螺紋疔生大指頭，雲門尺澤有來由。</p>
<p>食指生疔刺合谷，曲池龍舌不須憂。</p>
<p>中指生疔刺曲澤，內關龍舌細推求。</p>
<p>無名指生關衝刺，肩髎外關可參謀。</p>
<p>小指生疔刺脘骨，後谿前谷穴須搜，</p>
<p>初起俱將豬膽套，指根一決證可瘳。</p>
<p>凡手指生疔，不論何指，初起速將豬苦膽連汁套於手指上即能消腫；或用黃連、蜈蚣研末，雞子清調敷患處。</p>
<p>指根者患疔之指根第三節近掌處，如患大指即刺大指根；如患食指即刺食指根，余仿此。</p>
<p>手背疔屬手少陰，脘谷外關龍舌針，</p>
<p>四圍微微細針刺，雄黃敷解患無侵。</p>
<p>背脊疔屬督脈經，尾骶委中百勞靈。</p>
<p>髕骨生疔刺厲兌，膝眼委中刺無害。</p>
<p>湧泉穴中百勞刺，陰谷太谿為之使，</p>
<p>腳虎口中須一針，前後隱珠俱可治。</p>
<p>肉龜疔生腳背上，其形似龜痛難量，</p>
<p>急用銀針刺四圍，艾灸疔頭可無恙。</p>

<h2>神效疔膏方</h2>
<p>松香二十兩。用桑柴灰煎汁澄清，入松香煮爛取出，納冷水中，少時再入桑柴灰水中煮以白如玉為度。</p>
<p>百草霜五兩。取百草霜法，先須刮淨鍋底，要專燒茅柴百草，取煙煤刮下篩淨研極細無聲為度，樹柴煙煤無用。</p>
<p>去油乳香（三兩，研極細）　白蠟（二兩，切為粗末）　去油沒藥（三兩研極細）　黃蠟（十兩刮取片）　麻油（六兩）　銅綠（五兩研細過絹篩，研無聲）</p>
<p>選吉日淨室，焚香齋戒修合，忌婦女雞犬及孝服人見。用桑柴火先將麻油入鍋煎滾，次下松香，候稍滾再下白蠟，候稍滾再下黃蠟，候稍滾再下乳香，候稍滾再下沒藥，候稍滾再下銅綠，候稍滾再下百草霜。滾過數次，於鍋內冷透，搓成條子，丸如桂圓核大，收藏磁（瓷）器內。臨用取一丸呵軟捏扁，切勿見火，貼於患處，頃刻止痛，次日消腫即愈。已破爛者，貼之亦可霍然，神效之速，百發百中，疔瘡藥之至寶也。此方活人甚多而需費無幾，務望諸善士或合藥，或刻方廣為施送，費甚小而功甚大也。</p>
<p>忌食葷、腥、煎、炒、辛辣沸湯、大熱、生冷麵食、豆腐、茄子、王瓜、酒、肉等物。</p>

<h1>考正穴法</h1>

<h2>頭部</h2>
<p>鶴頂　當頭頂從鼻直上入髮際三寸半</p>
<p>天庭　當頭從鼻直上入髮際五分</p>
<p>天門　即日月兩額角</p>
<p>插花　額兩旁上髮際一寸半</p>
<p>太陽　眉後陷中，紫脈上是穴，忌刺</p>
<p>前髮際　太陽穴上三寸</p>
<p>印堂　兩眉間陷中</p>
<p>眉燕　眉頭</p>
<p>穿鼻　鼻梁兩旁</p>
<p>鼻環　鼻兩環笑縫中</p>
<p>顴骨　即面頄骨</p>
<p>面岩　顴骨下</p>
<p>耳湧　耳尖上卷耳取尖即是穴</p>
<p>耳垂　即貫耳處</p>
<p>耳門　耳前起肉當耳缺陷中，忌刺</p>
<p>迎香　鼻下孔旁開五分</p>
<p>散笑　離迎香穴開三分</p>
<p>顴髎　面頄骨下廉銳骨端陷中</p>
<p>牙咬　顴髎下，頰車上</p>
<p>頤髎　腮骨前</p>
<p>地倉　口吻旁四分外，近下有脈微動</p>
<p>頰車　耳下八分曲頰端近前陷中，側臥開口有空取之吊角下口兩角</p>
<p>承漿　唇稜下陷中，開口取之</p>
<p>地合　頷稜正中</p>
<p>人中　又名水溝穴，鼻柱下近孔陷中</p>
<p>斷交　上唇門牙正中齒根</p>
<p>後髮際　枕骨下兩旁</p>
<p>正對口　頸骨上與口相對</p>
<p>偏對口　正對口部位兩旁</p>
<p>耳後旁光　耳後高骨處</p>

<h2>膺腹部</h2>
<p>肩井　肩上陷中缺盆上大骨前一寸半，以三指按取，當中指下陷中</p>
<p>巨骨　肩尖端上行兩叉骨隙間陷中</p>
<p>肩髎　肩端臑上陷中，斜舉臂取之</p>
<p>缺盆　肩下橫骨陷中</p>
<p>中脘　臍上四寸</p>
<p>雲門　巨骨下缺盆外旁陷中動脈應手，舉臂取之，去胸中行各六寸</p>
<p>膻中　兩乳間折中有陷仰取之</p>
<p>氣海　臍下一寸正分</p>
<p>關元　臍下三寸</p>

<h2>背部</h2>
<p>百勞　又名大椎，脊骨第一椎上陷中與肩齊</p>
<p>燕利　脊骨第五椎兩旁</p>
<p>尾骶　脊骨二十一椎下</p>
<p>環跳　脾樞中，側臥伸下足屈上足，以右手摸穴，左搖撼得之</p>

<h2>手足部</h2>
<p>龍舌　尺澤穴直上大肉上俗名老鼠肉</p>
<p>外龍舌　肘骨直上，與內龍骨（骨當為舌之誤）相對</p>
<p>十指尖　十指尖頭正中名十宣穴</p>
<p>肘骨　手肘骨尖上，屈肘得之</p>
<p>威靈　手背高骨處</p>
<p>髕骨　即膝蓋骨</p>
<p>膝眼　髕骨兩旁，禁深刺</p>
<p>少商　手大指內側去爪甲角韭葉許</p>
<p>尺澤　手肘中約紋上兩筋問</p>
<p>少衡　手小指內側去爪甲角韭葉許</p>
<p>少府　手小指本節後骨縫陷中</p>
<p>少海　手肘內廉節後大骨外去肘端五分，屈肘向頭取之</p>
<p>中衝　手中指端去爪甲如韭葉</p>
<p>勞宮　手掌中央，禁刺</p>
<p>內關　手掌後去脘二寸兩筋間</p>
<p>曲澤　手肘內廉大筋　內橫紋中屈肘向頭取之</p>
<p>少澤　手小指外側，去爪甲角下一分陷中</p>
<p>前谷　手小指外側，本節前陷中</p>
<p>後谿　手小指外側，本節後陷中，握拳取之</p>
<p>腕骨　手外側腕前，起骨下陷中</p>
<p>關衝　手無名指外側，去爪甲角如韭葉</p>
<p>外關　手腕後二寸，兩骨間與內關相對</p>
<p>商陽　手食指內側，去爪甲角如韭葉</p>
<p>合谷　手大指次指歧骨間陷中</p>
<p>手三里　曲池穴下二寸</p>
<p>曲池　手肘後輔骨屈肘橫紋頭陷中，以手拱胸取之</p>
<p>隱白　足大指端內側去爪甲角韭葉許</p>
<p>陰谷　膝下輔骨後，大筋下小筋上，按之應手，屈膝乃得之</p>
<p>太谿　足內踝後五分，跟骨上動脈陷中</p>
<p>湧泉　足心陷中，屈足卷趾宛宛中白肉際跪取之</p>
<p>前後隱珠　湧泉穴前後</p>
<p>大敦　足大指端去爪甲韭葉許</p>
<p>委中　膕中央約紋動脈陷中令人面挺伏地臥取之</p>
<p>至陰　足小指外側，去爪甲角韭葉許</p>
<p>竅陰　足小指次指外側，去爪甲角韭葉許</p>
<p>厲兌　足大指次指之去爪甲韭葉許</p>

<h1>考穴取寸法</h1>

<h2>頭部</h2>
<p>直寸，用前髮際至後髮際折作十二節為一尺二寸；前髮際不明者，取眉心直上行三寸，後髮際不明者，取大椎上行三寸；前後俱不明者，折作一尺八寸，並依此法取之。橫寸，用眼內眥角至外眥角為一寸，並依此法取之。</p>

<h2>膺腹部</h2>
<p>直寸，取中行心蔽骨下至臍其折八寸，人無蔽骨者取歧骨下至臍心其折九寸依此取之。橫寸，用兩乳間橫折作八寸悉依此取之。</p>

<h2>背部</h2>
<p>大椎穴至尾骶骨穴共計二十一椎通作三尺，上七椎每椎一寸四分一釐，共九寸八分七釐。中七椎每椎一寸六分一釐，共一尺一寸二分七釐。下七椎每椎一寸二分六釐，共八寸八分二釐，直寸悉依此取之。取橫寸法與手足部同。</p>

<h2>手足部</h2>
<p>取寸用男左女右手中指第二節內庭兩橫紋頭相去為一寸。取稻稈心量或用薄蔑量皆易折而不伸縮為準，如用繩量，則伸縮不準。此謂同身取寸法。</p>

<h1>附：治取折針簡易法</h1>
<p>磨指甲屑塗針口，針頭即出，如神。</p>

<h2>一、古今重量換算</h2>
<p>（一）古稱以黍、銖、兩、斤計量而無分名</p>
<p>漢、晉：l斤＝16兩，l兩＝4分，1分＝6銑，l銖＝10黍。</p>
<p>宋代：1斤＝16兩，1兩＝10錢，1錢＝10分，1分＝10釐，l釐＝10毫。</p>
<p>元，明、清沿用宋制，很少變動。</p>

<h2>古代藥物質量與市制、法定計量換算表解</h2>
<p>時代　古代用量　摺合市制　法定計量</p>
<p>秦代　一兩　0.5165市兩　16.14克</p>
<p>西漢　一兩　0.5165市兩　6.14克</p>
<p>東漢　一兩　0.4455市兩　13.92克</p>
<p>魏晉　一兩　0.4455市兩　13.92克</p>
<p>北周　一兩　0.5011市兩　15.66克</p>
<p>隋唐　一兩　0.0075市兩　31.48克</p>
<p>宋代　一兩　1.1936市兩　37.3克</p>
<p>明代　一兩　1.1936市兩　37.3克</p>
<p>清代　一兩　1.194市兩　37.31克</p>
<p>（二）市制（十六進制）重量與法定計量的換算</p>
<p>1斤（16市兩）=0.5千克=500克</p>
<p>1市兩＝31.25克</p>
<p>1市錢=3.125克</p>
<p>1市分=0.3125克</p>
<p>1市釐=0.03125克</p>
<p>（三）其他與重量有關的名詞及非法定計量</p>
<p>古方中「等分」的意思是指各藥量的數量多少全相等，大多用於丸、散劑中，在湯劑、酒劑中很少使用。其中，1市擔=100市斤＝50千克，1公擔=2擔=100千克。</p>

<h2>二、古今容量換算</h2>
<p>（一）古代容量與市制的換算。</p>
<p>古代容量與市制、法定計量換算表解</p>
<p>時代　古代用量　摺合市制　法定計量</p>
<p>秦代　一升　0.34市升　0.34升</p>
<p>西漢　一升　0.34市升　0.34升</p>
<p>東漢　一升　0.20市升　0.20升</p>
<p>魏晉　一升　0.21市升　0.21升</p>
<p>北周　一升　0.21市升　0.21升</p>
<p>隋唐　一升　0.58市升　0.58升</p>
<p>宋代　一升　0.66市升　0.66升</p>
<p>明代　一升　1.07市升　1.07升</p>
<p>清代　一升　1.O355市升　1.O355升</p>
<p>（二）市制容量單位與法定計量單位的換算</p>
<p>市制容量與法定計量單位的換算表解</p>
<p>市制　市撮　市勺　市合　市升　市鬥　市石</p>
<p>換算　10市撮　10市勺　10市合　10市升　10市鬥</p>
<p>法定計量　1毫升　1釐升　1分升　1升　10升　100升</p>
<p>（三）其他與容量有關的非法定計量，如刀圭、錢匕、方寸匕、一字等。刀圭、錢匕、方寸匕、一字等名稱主要用於散劑。方寸匕，作匕正方一寸，以抄散不落為度；錢匕是以漢五銖錢抄取藥末，以不落為度；半錢匕則為抄取一半；一字即以四字銅錢作為工具，藥末遮住銅錢上的一個字的量；刀圭即十分之一方寸匕。</p>
<p>1方寸匕≈2克（礦物藥末）≈1克（動植物藥末）≈2.5毫升（藥液）</p>
<p>1刀圭≈1／10方寸匕</p>
<p>l錢匕≈3／5方寸匕</p>
