<header data-type="book">
<h1>幼科發揮</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>萬全</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1549">公元1549年</data></dd></div>
<div><dt>底本</dt><dd>《新刊萬氏家傳幼科發揮》（<a href="https://ctext.org/library.pl?if=gb&res=2922">北京大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>敘萬氏幼科源流</h1>
<p>粵自先祖杏城翁。豫章人。以幼科鳴。第一世。蚤卒。先考菊軒翁孤。繼其志而述之。成化庚子客於羅，娶先妣陳氏。生不肖。乃家焉。其術大行。遠近聞而誦之萬氏小兒科云。為貳世。羅有鉅儒張玉泉、胡柳溪。講明律歷史綱之學。翁知全可教。命從遊於夫子之門而學焉。頗得其傳。翁卒矣。顧其幼科之不明不行也。前無作者。雖美弗彰。後無述者。雖盛弗傳。不肖之責也。故予暇日。自求家世相傳之緒。散失者集之。缺略者補之。繁蕪者刪之。錯誤者訂之。書成。名育嬰家秘。以遺子孫。為三世。惜乎有子十人。未有能而行之者。其書已流傳於荊、襄、閩、洛、吳、越之間。莫不曰此萬氏家傳小兒科也。餘切念之。治病者法也。主治者意也。擇法而不精。徒法也。語意而不詳。徒意也。法愈煩而意無補於世。不如無書。又著幼科發揮以明之者。發明育嬰家秘之遺意也。吾不明。後世君子必有明之者。不與諸子。恐其不能明。不能行。萬氏之澤。未及肆世而斬矣。與門人者。苟能如尹公他得庾公之斯而教之。則授受得人。夫子之道不墜。若陳相雖周孔之道。亦失其傳也。諸賢勖之哉。</p>

<h1>序</h1>
<p>造化大慈也。有所授之。於焉有晰於其微。而身皆傳之者。是帝之力臣。而軒岐氏嗣響也。慈父母塗阱陷設夏威。顧乃於意實嗜好而犢之。有形無形之別也。無形而汨天和。即慈父母之懷。猶然災疹之區。矧乎寒熱燥濕之微茫。而又以的為招乎。或者謂彭殤有主。方書之奇也。鮓龍之代甘脆也。則參、朮、芎、芩當不與山青並爛。其半為造物所蠹者。天與人不並至也。而不見夫蓬蓬者乎。塞向有方。指而勝之。䠓而勝之。南北海而蹢躅猶有及也。而不見乎豫章之木乎。鄧林之腴。青陽之德。然必七年。而後可覺。方芽而斫削是尋。其盡也斯須。柰何養赤子者。愛於一指一䠓。斧斫而還自賊也。其忽錙銖。其讎什伯。蚤覺者反是。操寸帙而攻萬瘥。代冥冥力。故耳目遞貴於方輿之內。所謂朝宓軒而參元宰者。萬氏於此道至焉哉。廣嗣者弓襡皇皇焉。而幾得之。已痘者昣治皇皇焉。而幾得之。其危而不可必者。屢屢也。斯書成人之命。所必欲得者。無不得之於萬氏。則非鮓龍之詭。而甘脆之可遞嘗也。手授其徒。命曰家秘。不佞奄有赤子之邦。不以廣而傳之。是蔽造化之大慈。而不能得之於萬氏者。無以得之於天矣。不佞又不以歸萬氏。而歸之冥冥有神授之者也。庶幾附於如保之意。</p>

<h1>卷之一</h1>

<h2>形氣發微論</h2>
<p>大哉醫乎。其來遠矣。粵自混沌既判。洪荒始分。太陽之輕清者。以氣而上浮者為天。太陰之重濁者。以形而下凝者為地。天確然而位乎上。地煥然而位乎下。於是陽之精者為日。東昇而西墜。陰之精者為月。夜見而晝陰。兩儀立矣。二曜行焉。於是玄氣凝空。水始生也。赤氣炫空。火始生也。蒼氣浮空。木始生也。素氣橫空。金始生也。黃氣際空。土始生也。五行備。萬物生。三才之道著矣。是以人之生也。稟天地之陰陽。假父母之精血。交感凝結。以為胞胎也。乾道成男。坤道成女。始自襁褓。以至齠齡。迨其成童。與夫壯年。豈易然哉。故一月之原。有白露之稱。三月之胚。有干桃花之譬。及其三月。則先生右腎而為男。陰包陽也。先生左腎而為女。陽包陰也。其次腎生脾。脾生肝。肝生肺。肺生心。以生其勝己者。腎屬水。故五臟由是為陰。其次心生小腸。小腸生大腸。大腸生膽。膽生胃。胃生膀胱。膀胱生三焦。以生其己勝也。小腸屬火。六腑由是為陽。其次三焦生八脈。八脈生十二經。十二經生十二絡。十二絡生一百八十絲絡。一百八十絲絡生一百八十纏絡。一百八十纏絡生三萬四千經絡。三萬四千經絡生三百六十五骨節。生三百六十五大穴。三百六十五大穴。生八萬四千毛竅。則耳目口鼻四肢百骸之身皆備矣。所謂四月形像具。五月筋骨成。六月毛髮生。七月則遊其魂兒能動其左手。八月遊其魄。兒能動其右手。九月三轉身。十月滿足母子分。其中有延月生者。必生貴子。不足日月生者。必生貧賤之人。誕生之後，有變蒸之熱。長其精神。壯其筋骨。生其意志。變蒸已畢。一歲期焉。齒生髮長。神志有異於前也。故曰。齒者腎之餘也。爪者筋之餘也。神者氣之餘也。籲。人身之難得也如此哉。方其幼也。有如水面之泡。草頭之露。氣血未定。易寒易熱。腸胃軟脆，易飢易飽。為母者調攝不得其宜。必不免吐瀉驚疳之病矣。及其長也。嗜欲既開。不能修養。是以六氣逆侵於其外。七情交戰於其中。百憂累其心。萬事勞其神。一融之氣，安能無病焉。小兒之瘡疹。大人之傷寒。尤其甚也。是故聖人不治已病治未病。不治已亂治未亂。大病已成而後藥之。亂已成而後治之。亦猶渴而穿井。鬥而鑄兵。不亦晚乎。</p>

<h2>原病論</h2>
<p>夫小兒者。幼科也。初生曰嬰兒。三歲曰小兒。十歲曰童子。兒有大小之不同。病有淺深之各異。觀形察色之殊。望聞問切之間。若能詳究於斯。可竭神聖工巧者矣。蓋望者鑑貌辨其色也。假如面部左腮屬肝。右腮屬肺。額屬心。鼻屬脾。顴屬腎。肝病則面青。肺病則面白。心病則面赤。脾病則面黃。腎病則面黑。是乃望而知之也。聞者聽聲知其證也。假如肝病則聲悲。肺病則聲促。心病則聲雄。脾病則聲緩。腎病則聲沉。此屬於臟。又大腸病則聲長。小腸病則聲短。胃病則聲速。膽病則聲清。膀胱病則聲微。此屬於腑。是乃聞而知之也。問者問病究其原也。假如好食酸則肝病。好食辛則肺病。好食苦則心病。好食甘則脾病。好食鹹則腎病。好食熱則內寒。好食冷則內熱。是乃問而知之也。切者切脈察其病也。假如小兒三歲以下。有病。須看男左女右手虎口三關。從第二指側。第一節名風關。二節名氣關。三節名命關。辨其紋色。紫者屬熱。紅者屬寒。青者屬風。白者疳病。黑者中惡。黃者脾之困也。色見紅者可治。色黑則危矣。若見於風關為輕。氣關為重。過於命關。則難治矣。至三歲以上。乃以一指按寸關尺三部。常以沉實七至為率。添則為熱，減則為寒。浮洪風盛。數則多驚。沉遲為虛。沉實為積。是乃切而知之也。大抵小兒之病。大半胎毒。而小半於傷食也。其外感風寒之疾十一而已。蓋小兒之在胎也。母飢亦飢。母飽亦飽。辛辣適口。胎氣隨熱。情欲無節。或喜怒不常。皆能令其子受患。其為母者，胎前既不能謹節。產後尤不能調護。是以唯務姑息。不能防微杜漸。或未滿百晬。而遂與酸鹹之味。或未及周歲。而輒與肥甘之物。百病由是而生焉。且小兒脾胃。本自嬌嫩。易於傷積。乳食傷胃。則為嘔吐。乳食傷脾。則為泄瀉。吐瀉既久。則變緩驚。或為肝病。食乳停積。則生濕痰。痰則生火。痰火變作。則為急驚。或成喉痹。痰火結滯。或成痛吊。或為喘嗽。又如胎寒者，稟受有病也。臍風撮口者。胎元有病也。鵝口口瘡者。胃中有濕熱也。重舌木舌者。脾經有實火也。走馬牙疳者。氣虛實熱也。愛吃泥土者。脾臟生疳也。胎驚夜啼者。邪熱乘心也。變蒸發熱者。胎毒將散也。丹毒者。火行於外也。蘊熱者。火積於中也。中惡者。外邪乘也。睡驚者。內火動也。喉痹者。熱毒也。眼痛者。火盛也。膿耳者。腎氣上衝也。鼻寒者。風邪在胃也。頭痛者。熱毒攻也。臍痛者。風濕中也。尾骨痛者。陰虛痰也。諸蟲痛者。胃氣腐也。陰腫疝氣者。寒所郁也。盤腸氣者。冷所搏也。脫肛者。大腸虛滑也。遺溺者。膀胱冷弱也。尿濁者。濕滯脾胃也。便血者。熱傳心肺也。下淋者。膀胱鬱熱也。吐血者。榮衛氣逆也。小便不通者。有陰有陽也。大便閉結者。有虛有實也。解顱鶴膝者。胎元不全也。行遲發逆者。氣血不充也。龜胸者。肺熱脹滿也。龜背者。邪風入脊也。語遲者。邪乘心也。齒遲者。腎不足也。瘧者。膈上痰結也。痢者。腹中食積也。咳嗽者。肺傷風也。喘急者。痰氣盛也。心痛者。蟲所齧也。腹痛者。食所傷也。內傷發熱。則口苦舌乾也。外感發熱。則鼻塞聲重也。腹脹者。脾胃虛弱也。水腫者。土虛火旺也。黃疸者。脾胃濕熱也。斑疹者。陰陽毒氣也。自汗者。氣虛也。積者有常所。有形之血也。聚者無定位。無形之氣也。胃者主納受。脾者主運化。脾胃壯實。四肢安寧。脾胃虛弱。百病蜂起。故調理脾胃者。醫中之王道也。節戒飲食者。卻病之良方也。驚疳積熱者。小兒之常病也。望聞問切。醫家之大法也。若夫療病用藥。如箭中鵠心。則又可以心悟。而不可以言傳也。孟子曰。梓匠輪輿。能與人規矩。不能使人巧。斯言得之矣。</p>

<h2>入門審候歌</h2>
<p>觀形察色辨因由。陰弱陽強法硬柔。若是傷寒雙足冷。要知有熱肚皮求。鼻冷便知是瘡疹。耳冷應知風熱證。渾身全熱是風寒。上熱下冷傷食病。</p>

<h3>觀面部五臟形歌</h3>
<p>心經有冷目無光。面赤須知熱病當。赤在山根驚四足。積看虛空起陰陽。肝經有冷麵微青。有熱肩胞赤亦臨。髮際白言驚風入。食倉黃是積果深。脾冷應知面色黃。三陽有白熱為殃。青居髮際生驚候。唇口皆黃是積傷。肺經面白冷為由。熱赤人中及嘴頭。青在山根驚四足。熱居髮際積為仇。面黑應知腎腸寒。食倉紅是熱須看，風門黃可言風入。面目微沉於兩顴。</p>

<h3>觀面部五色歌</h3>
<p>面赤為風熱。面青驚可詳。心肝形見此。脈症辨溫涼。脾怯黃疳積。虛寒㿠白光。若逢生黑氣。腎敗命虛亡。</p>

<h3>三關脈紋變見歌</h3>
<p>魚刺驚風證莫疑。氣關疳病熱相隨。命關見此為難治。此是肝家傳到脾。初節懸針生瀉利。氣關脈熱更堪疑。三關直透黃泉近。此症須知是慢脾。水字生驚肺受風。氣關鳴嗽積痰攻。醫人仔細辨虛實。出命驚疳火症凶。乙字驚風肝肺隨。氣關形見發無時。此形若直命關上。不久相將作慢脾。　曲蟲為候主生疳。若見氣關積穢肝。直到命關為不治。須知心臟已傳肝。雙環肝臟受疳深。入胃氣關吐逆臨。若是命關為死候。枉教醫人免（苦）勞（費）心。流珠形見死來侵。面上如斯亦不深。縱有神丹不可救。醫人仔細更叮嚀。</p>

<h2>小兒正訣指南賦</h2>
<p>小兒方術。號曰啞科。口不能言。脈無所視。唯形色以為憑。竭心思而施治。故善養子者。似養龍以調護。不善養子者。如舐犢之愛惜。愛之愈深。害之愈切。乍頭溫而足冷。忽多啼而亂叫。差之毫釐。失之千里。此無脈之風門。以補造化之不及。腸胃脆薄兮。飲食易傷。筋骨柔弱兮。風寒易襲。父母何知。看承太重。重綿厚褥。反助陽以耗陰。流歠放飯。總敗脾而損胃。聞異聲。見異物。失以提防。深其居。簡其出。固於周密。未期而行立兮。喜其長成。無事而喜笑兮。謂其聰明。一旦病生。而人心戚。不信醫而信巫。不求藥而求鬼。此人事之不修。謂天命之如此。欲觀氣色。先分部位。左頰青龍屬肝。右頰白虎屬肺。天庭高而離陽心火。地閣低而坎陰腎水。鼻在中而脾土為通氣。觀乎色之所見。知乎病之所起。又況脾應乎唇。肺通於鼻。舌乃心苗。淚為肝液。胃流注於雙頤。腎開竅於兩耳。爪則筋之餘。而脾為之運。發則血之餘。而腎為之主。脾司手足。腎運齒牙。苟五臟之或衰。即所屬之先斃。凡觀乎外。必知其內。紅氣現而熱蒸。青色露而驚悸。如煤之黑兮。中惡之因。似橘之黃兮。脾虛之謂。白乃疳勞。紫為熱極。青遮口角難醫。黑掩太陽不治。年壽赤光。多生膿血。山根青黑。頻見災危。雖察色以知烏。豈按圖而索驥。朱雀貫於雙瞳。火入水鄉。青龍達於四白。肝乘肺位。瀉痢而帶傷須防。咳嗽而拖藍可忌。疼痛方殷。常面青而唇撮。驚風欲發。先顏赤而目直。火光焰焰。外感風寒。金氣浮浮。中藏癖積。乍黃乍白兮。疳熱連綿。又赤又青兮。風邪緊急。察之若精。治之得理。鴉聲魚口。枉費精神。肉折皮乾。空勞心力。氣色改移。形容變易。氣乏兮囟門成坑。血衰兮頭毛作穗。眼生眵淚兮肝風眛目。口流痰涎兮。脾冷滯積。面目虛浮。定腹脹而氣喘。眉毛頻蹙。則肚痛以多啼。蛔出兮脾胃將敗。䘌瘡兮肛藏先虧。苟瞑眩而弗瘳。縱神仙而何益。手如數物。肝風將發。面若塗朱。心火以熾。坐臥欲冷兮。煩熱之攻。伸縮就暖兮。風寒之畏。肚大腳細。脾欲困而成疳。眼瞪口張。熱已危而必斃。弄舌脾熱。解顱腎憊。重舌木舌。虛熱積於心脾。哽氣喘氣。實火浮於脾肺。齦宣臭露。必是牙疳，哺露丁奚。多緣食積。唇乾作渴。腸鳴自利。夜啼分為四症。變蒸周於一年。心熱欲言而不能。脾虛無時而好睡。病後失音腎怯。咳嗽失音肺病。肚痛而清水流出者蟲。腹痛而大便酸穢者積。口頻欠而肝虛。舌長伸而火熾。龜背兮腎風入於骨髓。龜胸兮肺火脹於胸膈。鼻乾黑燥。火盛金衰。肚大青筋。木強土壞。丹瘤瘡疥。皆胎毒之流連。吐瀉瘧痢。乃食積之沾滯。不能吮乳者。熱在心脾。常欲俯臥者。熱蒸腸胃。喜視燈火。煩熱在心。愛吃泥土。疳熱在脾。腹痛寒侵。口瘡熱積。臍風忌一臘。火丹畏一周。驚自熱來。癇因痰至。吐瀉而精神耗散則危。瘧痢而飲食減少心瘁。驚本心生。風因肝致。搐分左右。症有順逆。藥分補瀉。病有虛實。急驚者。由於積熱之深。涼瀉便宜。慢驚者。得於大病之後。溫補為貴。頭搖目竄而氣喘兮。上工莫醫。口噤鼻張而足涼兮。靈丹何濟。閉目兮無魂。狂叫兮多祟。不知吞吐者死。反加悶亂者危。既明症候。須知調理。胎毒兮甘草黃連。食積兮白朮枳殼。急掠搐掣。以導赤瀉青。慢驚瘛瘲。以補中益氣。集聖治疳。備急去積。抱龍丸化痰鎮驚。胃苓丸補中開胃。夜啼兮退熱涼心。晡熱兮養血升提。理中主瀉。香連止痢。積熱不除。涼驚丸大有神功。沉寒難瘳。養脾丸最為秘密。痰火攻兮三黃丸。水穀下兮一粒金。柴芩治瘧。月蟬消痞。潮熱金花。咳嗽玉液。瘡疥胡麻。丹瘤涼膈。吐瀉而渴兮。白朮可投。煩熱而渴兮。益元為最。丹疹兮消毒。腹痛兮脾積。鼻衄咳血茅花。木舌重舌針刺。口瘡不愈者洗心。腹脹不食者平胃。五拗治啼。四苓利水。退黃消腫。胃苓加減以堪行。破積安蟲。集聖從容而可治。大抵小兒易為虛實。調理但取其平。補瀉無過其劑。尤忌巴牛。勿多金石。辛熱走氣以耗陰。苦寒敗陽而損胃。如逢食積。解之不可或遲。若過虛羸。補之尤為至急。才少俄延。便成勞斃。</p>

<h2>胎疾</h2>
<p>小兒自初生至周歲有疾者。皆為胎疾。</p>
<p>氣。陽也。血。陰也。人之有生。受氣於父。陽之變也。成形於母。陰之合也。陰陽變合。而成其身。身之中形藏四。頭面一也。耳目口鼻二也。手足三也。皮肉筋骨四也。神藏五。心藏神。肝藏魂。脾藏意。肺藏魄。腎藏志是也。凡九藏者。皆父母一體而分者也。形拘於一偏。而不能相通者。陰之靜也。神隨感而動者。陽之動也。兒之初生。只是一塊血肉耳。雖有形而無所用。雖有五臟。而無其神。猶空藏也。至於變蒸之後。皮肉筋骨。以漸而堅。聲色臭味。以漸而加。志意智慧。以漸而發。知覺運動。而始成童。此天地生物之心。至誠不息也。有因父母稟受所生者。胎弱胎毒是也。胎弱者。稟受於氣之不足也。子於父母。一體而分。如受肺之氣為毛皮。肺氣不足。則皮脆薄怯寒。毛髮不生。受心之氣為血脈。心氣不足。則血不華色，面無光彩。受脾之氣為肉。脾氣不足。則肌肉不生。手足如削。受肝之氣為筋。肝氣不足。則筋不束骨。機關不利。受腎之氣為骨。腎氣不足。則骨軟。此胎稟之病。當隨其藏氣求之。肝腎心氣不足。宜六味地黃丸主之。脾肺不足者。宜參苓白朮丸主之。子之羸弱。皆父母精血之弱也。所謂父強母弱。生女必羸。父弱母強。生男必弱者是也。故兒有頭破。顱解。神慢。氣少。項軟。頭傾。手足痿弱。齒生不齊。發生不黑。行走坐立。要人扶掖。皆胎稟不足也。並宜六味地黃丸主之。</p>
<p>胎毒者。精血中之火毒。即命門相火之毒。命門者。男子以藏精。女子以系胞也。觀東垣紅瘤之論。丹溪胎毒之論。治法可見矣。古方有解毒之方。如黃連甘草法。又有育嬰解毒延齡丹。皆良方也。予新立一方。用丹溪三補丸方。苓連蘖半生用半酒炒。甘草半生半炙各等分為末。雪水丸麻子大。硃砂雄黃為衣。名曰生熟解毒丸。小兒日與食之佳。</p>
<p>有胎毒所生者。如蟲疥流丹。浸淫濕瘡。癰癤結核。重舌木舌。鵝口口瘡。與夫胎熱胎寒胎黃胎驚之類。兒之初生。有病多屬胎毒。如一臘之臍風。百晬之痰嗽。難治。恰半歲而真搐者凶。未一歲而流丹者死。是也。況初生之兒。腸胃薄小。血氣未充。藥石則難進也。榮衛微弱。筋脈未實。針灸則難用也。業幼科者。慎毋忽諸。</p>
<p>一小兒丹發於臉。眼中紅腫。手不可近。三日死。</p>
<p>一小兒生下一月後。遍身蟲疥浸淫濕爛。其皮如脫。日夜啼。忽一日。其瘡盡隱。發搐而死。</p>
<p>或問。胎稟不足之證。得於父母有生之初。如何醫得。予曰。諸器破損者。尚可補之。豈謂胎弱者。不可補之乎。貴得其要也。夫男女之生。受氣於父。成形於母。故父母強者。生子亦強。父母弱者。生子亦弱。所以肥瘦長短。大小妍媸。皆肖父母也。兒受父母之精血以生。凡五臟不足者。古人用地黃丸主之。或曰。五臟不足。而專補腎何也。曰。太極初分。天一生水。精血妙合。先生兩腎。腎者五臟之根本。經曰。植木者必培其根。此之謂也。</p>
<p>或問胎毒之說。予曰。先賢論之詳矣。蓋人生而靜。天之性也。感物而動。胎之欲也。欲者火也。故思慮之妄。火生於心。恚怒之發。火生於肝。悲哀之過。火生於肺。酒肉之饜。火生於脾。淫佚之縱。火起於腎。五欲之火。隱於母血之中。即是毒也。男女交媾。精氣凝結。毒亦附焉。此胎毒之原也。如謂兒在母腹。飢則食母之血。渴則飲母之血。及其破胎而出。口有餘血。拭之不淨。嚥下腹中。是謂胎毒。斯言也。一人倡之。百人和之。未有辯之者。此書之不可盡信也。胚胎資始。父精所生。身體資生。母血所養。是水珠露花。男女漸分，毫髮筋骨。形象斯具。誕彌厥月。氣足形全。乃破胎而生矣。初在母腹之時。如鳥之雛。伏於卵殼之中。何所飲食也。口內之血。乃母臨產。惡露漬入口中。未必是母腹中所銜之血也。既云嚥下腹中。則入於大腸界。從大便出矣。安得留在命門。待時而發耶。詳見痘疹心要。</p>
<p>一兒頸細。其父嘗問於予。可養何如。予曰。頸者頭之莖也。頸細則不能任元。在父母調養之。八歲後再議。至五歲死。</p>
<p>一兒解顱。未一歲認字唸書。父母甚愛之。予曰。此兒胎稟不足。腎虛顱解。真陽弱矣。聰慧早發。真陽泄矣。恐遺父母憂。未一歲而發搐死。</p>
<p>一兒周歲後多笑。予曰。此兒難養。父問其故。予曰。腎為水。心為火。水陰火陽。陰常不足。陽常有餘。笑者火之聲也。水不勝火。故知難養。父曰。諸兒笑者。皆不可養乎。予曰。待人引之而笑者。此有情也。見人自笑者。此無情也。後以痘瘡而死。</p>
<p>一兒頭縫四破。皮光而急。兩眼甚小。予曰。腦者髓之海也。腎主骨髓。中有伏火。故髓熱而頭破。額顱大而眼楞小也。宜服地黃丸。父母不信。至十四歲而死。</p>
<p>一兒發搐。五日不醒。藥石難入。予針其三里合谷人中而醒。父母喜曰。吾兒未出痘疹。願結拜為父。乞調養之。予曰。曩用針時。針下無氣。此稟賦不足也。如調理數年。後出痘疹。可保無事。若在近年不敢許。次年果以痘疹死。</p>
<p>一兒四歲。出痘時頸軟頭傾。不能自舉。予謂其父曰。此兒胎稟不足。瘡毒正發。壯火食氣。亟補元氣。使痘易發易壓。幸而保全。再補其陰。不然恐難出二八數也。乃大作調元湯。連服之獲安。</p>
<p>有三因所生者。衣太厚則熱。太薄則冷。冷熱之傷。此外因也。乳多則飽。乳少則飢。飢飽之傷。此內因也。客忤中惡。墜僕折傷。此不內不外因也。若順乎天時。適其寒溫。則不傷冷傷熱矣。慎擇乳母。節其飲食。則不傷飢飽。調護之久。愛惜之深，必無縱弛之失也。慎勿使庸醫。妄投湯藥。誤兒性命。</p>

<h2>臍風</h2>
<p>治未病。臍在兩腎之間。任沖督脈之所繫也。兒之初生。斷臍護臍。不可不慎。故斷臍之時。隔衣咬斷者。上也。以火燎而斷之。次也。以剪斷之。以火烙之。又其次也。護臍之法。臍既斷矣。用軟布纏裹。待乾自落。勿使犯去也。三朝洗兒。當護其臍。勿使水漬入也。臍落之後。當換抱裙。勿使尿濕浸及臍中也。如此調護。則無臍風之病。所謂上工治未病。十得十全也。</p>
<p>治初病。兒生旬日之後。臍風為惡病也。凡覺小兒噴嚏多啼。此臍風欲發之候。急抱小兒嚮明皛處。審視口中上齶。有泡如珠如米。或聚或散。此病根也。其色白者初起也。黃者久也。可用銀挖耳。輕手刮出。煎甘草薄荷湯拭洗之。預取桑白皮汁塗之。自此日日視之。有則去之。不可因循。以貽後禍。所謂中工治初病。十全六七也。</p>
<p>治已病。不知保護於未病之先。不知調護於初病之日。其泡子落入腹中。變為三證。一曰撮口。二曰噤風。三曰鎖肚。證雖不同。皆臍風也。撮口證兒多啼。口頻撮者。此臍腹痛也。可用雄黃解毒丸。加乳香沒藥各五分。丸如黍米大。每服五丸。竹瀝生薑自然汁送下。利去惡涎良。外用蘄艾炒熟杵爛。護其臍。頻換。使暖溫之氣不絕也。不乳者不治。</p>
<p>噤風證。牙關緊急。不能吮乳。啼聲不出發搐者。不治。　鎖肚證。臍突青腫。肚腹脹大。青筋浮露。大便澀不通者。不治。　或問臍風三證。古人有方。何謂不治。予曰。一臘之內。謂初生八日。草木方萌。稍有觸犯。即便折傷。經曰根於中者。命曰神機。神去則機息。故噤風者。乳食不得入。則機廢於上矣。鎖肚者。便溺不得通。則機廢於下矣。所謂出入廢則神機化滅者。是也。神出機息。雖有神丹。不可為也。豈蜈蚣蠶蠍諸毒藥之可治耶。</p>
<p>一小兒生後三日。啼哭不乳。予視其證非臍風。乃臍腹痛也。取蘄艾杵爛。火上烘熱。掩其臍上。以帛勒之。須臾吮乳而不啼矣。</p>
<p>一小兒生八日。噴嚏多啼。請予視。予曰。此臍風也。視其上齶果有泡。色變黃矣。乃取銀挖耳刮去之。其父慘然。愛惜之心見於形色。故去之未盡也。有老嫗聞之。急使婢女告其父。當急去之。其言迫切。父益懼。自取銀挖耳刮之不惜也。遣人告予。予回書曰。旬日後當發驚風。後果病。迎予治之。許厚報。且泣曰。予三十六歲得此一子也。予曰。無傷。投以至聖保命丹而愈。</p>

<h2>變蒸</h2>
<p>變蒸非病也。乃兒長生之次第也。兒生之後。凡三十二日一變。變則發熱。昏睡不乳。似病非病也。恐人不知。誤疑為熱而汗下之。誅罰無過。名曰大惑。或誤以變蒸得於胎病中者。或曰。兒之生也。初無變蒸。既生之後。當以三十二日一變。至於三百八十四日之後。又無變者。何也。曰。初無變蒸者藏諸用。陰之闔也。中有變者顯諸仁。陽之鬥也。終無變者。陰陽闔闢之機成。故不復蒸也。故兒之初生。語其皮肉。則未實也。語其筋骨。則未堅也。語其腸胃。則穀氣未充也。語其神智。則未發開也。只是一塊血肉耳。至於三百八十四日。然後臟腑氣足。經絡脈滿。穀肉果菜。以漸而食。方成人也。</p>
<p>或曰。變蒸之日。必以三十二日者。何也。曰。易傳云。甡之為易。易者。變易也。不變不易。不足以見天地生物之心。人有五臟六腑。以配手足十二經絡。腑屬陽以配陽卦三十二。臟屬陰以配陰卦三十二。取其一臟一腑。各以三十二日一小變。六十四日一大變。陽卦之爻。一百九十二。合歲並閏月。凡三百八十四爻。所以變蒸一期之日。三百八十四。以應六十四卦爻之數也。或曰。三十二日一小變。六十四日一大變。所生者何物也。所生之物。亦有說歟。曰。形既生矣。復何生也。所生者。五臟之知覺運動也。故初生三十二日一變。生足少陰腎癸水。腎之精也。六十四日二變。生足太陽膀胱壬水。而腎與膀胱一臟一腑之氣成矣。此天一生水也。水之精為瞳子。此後始能認人矣。九十六日三變。生手少陰心丁火。一百二十八日四變。生手太陽小腸丙火。而心與小腸一臟一腑之氣足矣。此地二生火也。火之精為神。此後能嬉笑矣。一百六十日五變。生足厥陰肝乙木。一百九十二日六變。生足少陽膽甲木。而肝與膽一臟一腑。受氣足而神合矣。此天三生木也。木之精為筋。此後能坐矣。二百二十四日七變。生手太陰肺辛金。二百五十六日八變。生手陽明大腸庚金。而肺與太陽一臟一腑之氣足矣。此地四生金也。金之精為聲。此後始能習人語矣。二百八十八日九變。生足太陰脾己土。三百二十日十變。生足陽明胃戊土。乃脾胃一臟一腑之氣足矣。此天五生土也。土之精為肉。脾胃主四肢。此後能匍匐矣。三百五十二日十一變。生手厥陰心包絡。三百八十四日十二變。生手少陽三焦配腎。腎主骨髓。自此能坐能立能行矣。變蒸已足。形神俱全矣。正如蠶之眠。不如是不足成人矣。凡一變之過。則筋骨手足以漸而堅。知覺運動以漸而發。日異而月不同。曰變者。變易也。曰蒸者。發熱也。祖訓云。變蒸雖是胎病。非胎熱胎毒可比矣。此少陰生長之氣。發育萬物者。兒之強者。雖有是病不覺。氣弱者始見。如變後形體漸長。知識漸增。反為無病兒也。故無治也。古方黑子散。姑置之可也。其間或有未及期而發熱者。或有變過熱留而不除者。抑有他故。須詳察之。如昏睡不乳。則不須治。待其自退。</p>

<h2>變蒸兼證</h2>
<p>變蒸之時。有外感風寒者。宜發散。惺惺散主之。按摩法亦可用也。有內傷乳食者。宜須消導。胃苓丸生之。輕則節之可也。有被驚嚇及客忤者。安神丸至聖保命丹。如變蒸而後發病。以治病為主。慎勿犯其胃氣。咳嗽。甘草桔梗湯加阿膠。吐瀉。理中湯加藿香葉。驚風。琥珀抱龍丸。瀉青丸。導赤散。如受病後而變蒸。以養正補脾為主。錢氏異功散加對病之藥。惺惺散。四君子湯加蘇葉。加防風。</p>
<p>湖廣按察司憲長。有子九月發熱。恐是痘疹。差人來取予。往視之。非痘。是變蒸也。公曰。何以辨之。予曰。以日計之。有當變蒸之期。以證察之。亦無痘疹之症。公問。痘何證也。予曰。痘者五臟之液毒也。故五臟各見一證。呵欠驚悸心也。項急頓悶肝也。咳嗽噴嚏肺也。吐瀉昏睡脾也。身體皆涼腎也。今公子無之。知非痘。乃變蒸將退也。次日果安。公喜曰。汝術甚精。贈以白金五兩。應付而歸。</p>
<p>本縣胡正瞿。有子二月。發熱不乳。予見之。雖似變蒸非變蒸。時乳母皆肥健。必因傷乳發熱也。令損之。次日熱退而安矣。</p>

<h2>幼疾</h2>
<p>（兒生一歲後。至七歲後。變蒸已足。脈雖難診。口則能言。病多傷食之證。八歲以後。有脈可診。證與大人同。但用劑小耳。）</p>
<p>有因氣動而病生於內者。如盤腸內吊蛔蟲癖塊之類。有因氣動而病生於外者。重舌木舌。鵝口口瘡。癰疽瘡癬之類。有不因氣動而病生內者。如傷飲食生冷之類。有不因氣動而病生於外者。如四時感冒。金刃湯火傷之類。</p>
<p>上四因之病。治見各證之下。</p>
<p>一小兒周歲。因初食雞肉太早。自此成積。日漸羸瘦。不思乳食。其父以詳告予。予取藥治之。養脾消積丸先服。三日後服丁香脾積丸。雞肉湯下。取下雞肉一片。猶未化也。再進養脾丸而愈。</p>
<p><u>家傳養脾消積丸</u>　消宿食。去陳積。神效。</p>
<p>白朮（一兩）　陳皮（七錢五分）　蒼朮（五錢）　厚朴（薑汁炒五錢）　枳殼（麵炒五錢）　半夏（五錢）　青皮（五錢）　神麯（五錢）　麥芽（五錢）　山楂（五錢）　炙甘草（三錢）　上為細末。蒸餅為丸黍米大。每服二三十丸。米飲送下。</p>
<p><u>育嬰延齡解毒丸</u>　能解胎毒。初生小兒宜服。</p>
<p>兒斷臍帶連胞。不拘長短。剪取新瓦上焙乾。每一錢加生甘草末二錢。黃連末一錢。硃砂飛半錢。共和勻。生白砂糖調和。瓷罐收貯。每服一豆許。納兒口中。以乳送下。一日一次。藥盡而止。</p>

<h2>五臟諸證</h2>
<p>此因五臟氣動所生之病。乃病生於內者也。</p>

<h2>五臟主病</h2>

<h2>肝經主病</h2>
<p>肝主風　實則目直視。呵欠大叫哭。項急頓悶。虛則咬牙呵欠。氣溫則內生。氣熱則外生也。氣謂口中氣也。</p>
<p>實則瀉青丸。當歸龍薈丸瀉之。虛則地黃丸補之。</p>
<p><u>瀉青丸</u>　治急驚搐搦。主肝熱。</p>
<p>羌活　防風　當歸　川芎　山梔仁　龍膽草　大黃（酒浸紙煨各等分）　上為末。蜜丸芡實大。每服半丸至一丸。煎竹葉湯砂糖化下。</p>
<p><u>當歸龍薈丸</u>　治腎肝陰虛。風熱蘊結。發驚悸。搐搦躁擾。</p>
<p>當歸（一兩）　龍膽草（一兩）　黃連（五錢）　黃柏（一兩）　大黃（五錢）　山梔子（一兩）　蘆薈（五錢）　青黛（五錢）　木香（一錢）　麝香（五分）　黃芩（一兩）　上為細末。蜜丸麻子大。每服五丸至十五丸。竹葉湯下。</p>
<p><u>地黃丸</u>　治小兒胎稟不足。腎怯不言。解顱。兒大不能行。又治肝疳。白膜遮睛。溲血失音。身瘦瘡疥。</p>
<p>熟地黃（八兩焙取末）　山茱萸（焙四兩）　山藥（四兩）　白茯苓（三兩）　牡丹皮（二兩）　澤瀉（二兩）　上為末。蜜丸芡實大。一歲兒服一丸。二歲以上。加至三丸。空心溫水下。</p>

<h2>肝經兼證</h2>
<p>（諸風搐搦。牽引喎斜。皆肝之病也。宜瀉青丸主之。）</p>
<p>一小兒七月。發搐無時。昏睡不醒。不哭不乳。掐之扎之不痛。㗜之鼻不嚏。灌藥不入。予曰。此真搐也。不可治矣。</p>
<p>兼見心證。則發熱而搐。予曰。肝有風。則目連札不搐。得心熱則搐。肝有熱。則目直視不搐。得心熱則搐。瀉肝瀉青丸。瀉心導赤散。　方見肝心下。</p>
<p>兼見脾證。輕則昏睡。不嗜飲食。當視其大便何如。大便秘者。宜蜜導法。慎勿下之。恐下後脾虛。反為篤疾。大便潤者。宜琥珀抱龍丸主之。</p>
<p>兼見肺證。喘急悶亂。痰涎壅塞。須從大小便以利之。如喘息有聲。肩聳胸高。喉中痰響者。不治。宜清寧散主之。</p>
<p><u>清寧散</u>　驚熱出於心肺。須從小便利之。</p>
<p>桑白皮（蜜水炒）　赤茯苓　車前子　甜葶藶（炒）　山梔仁（各等分）　炙甘草（減半）　上為末。每服半錢。薑棗水煎服。肝熱則大小便難。加煨大黃下。</p>
<p>一小兒痰壅而發搐。氣促而喘。予用礞石滾痰丸。桑白皮煎湯。研碎調服之。喘定痰下。搐亦止矣。</p>
<p>兼見腎證。暴喑失音。手足強直。此從風治。輕者地黃丸主之。重則為廢疾而不可治矣。</p>

<h2>肝所生病</h2>
<p>諸風掉眩。皆屬肝木。脈訣云。熱則風生是也。</p>

<h2>急慢驚風</h2>
<p>急驚風者。肝風甚而心火從之。木生火。從前來為實邪。實則瀉之。宜用瀉青丸以瀉肝之風。導赤散以瀉心之火。</p>
<p>慢驚風。錢氏云。脾虛則土瀉生風。此脾土敗而肝木乘之。肝屬木而脾屬土。從所不勝來者為賊邪。故慢驚為難也。脾虛生風。虛則補之，東垣用調元湯加白芍藥主之。此以黃耆人參補脾之虛。白芍藥甘草以瀉肝之實。誠千古不傳之秘法也。予加桂在內。乃黃耆建中湯。木得桂而枯。古方治慢驚者。如醒脾散。觀音散。皆良法也。可用之。</p>
<p><u>醒脾散</u></p>
<p>人參　陳皮　甘草　白朮　白茯苓　全蠍　半夏曲　木香（各三錢五分）　白附子（四個炒）　南星（一個薑湯泡）　陳倉米（一百粒）　上為末。每服一錢。棗三枚。姜三片。水煎。</p>
<p><u>觀音散</u></p>
<p>全蠍（十個去毒炒）　天麻（煨）　防風　白芷　黃耆　甘草　白茯苓（各二錢五分）　人參（二錢）　扁豆（一錢五分薑汁炒）　上為末棗湯下。</p>
<p>或問曰。上工治未病。急慢驚風。何以預治之。曰。方其熱甚之時。腮赤面黑。兩目如怒直視不轉者。此急驚風之候也。宜服河間當歸龍薈丸。以瀉肝膽之火。則不成急驚風也。當吐瀉不止之時。見其手足冷。睡露睛。口鼻氣冷者。此慢驚欲成之候也。急用參苓白朮散以補脾。琥珀抱龍丸。去枳殼枳實。加黃耆以平肝。則慢驚風不能成矣。此吾家傳秘法。</p>
<p><u>參苓白朮散</u></p>
<p>人參　白朮　白茯苓　山藥　扁豆（去殼薑汁浸炒各一兩五錢）　甘草　桔梗　薏苡仁　蓮肉（各一兩）　上為細末。棗湯送下。</p>
<p><u>琥珀抱龍丸</u>　治小兒諸驚。四時感冒。寒溫風暑。瘟疫邪熱。躁煩不寧。痰嗽氣急。及瘡疹欲出發搐。並宜服之。此予家傳常用之方。</p>
<p>真琥珀（一兩五錢）　天竺黃（一兩五錢）　白檀香（一兩五錢）　人參（一兩五錢）　硃砂（五錢）白茯苓（一兩五錢）　粉草（去筋三兩）　南枳實（一兩）　枳殼（麩炒一兩）　牛膽南星（一兩）　淮山藥（一兩）　金箔（大者一百片為衣。）　上各製取末和勻。用臘雪溶水。如無雪。取新汲或長流水。杵為丸。如芡實大。約重五分。陰乾。每服一丸。煎薄荷湯下。　此方內有補益之藥。人皆喜而用之。但有枳殼枳實能散滯氣。無滯氣者。損胸中至高之氣。如慢驚風及元氣弱者。減此二味。用當歸川芎各二兩代之。</p>
<p><u>至聖保命丹</u>　一名紫金錠子。</p>
<p>膽星（一錢）　殭蠶（一錢）　白附子（一錢）　全蠍（十四枚）　天麻（一錢）　防風（一錢）　辰砂（一錢半水飛）　麝香（一分）　珍珠（五分）　琥珀（三分）　金箔（二十片）　上碾為末。粟米和為丸。分為二十錠。金箔為衣。每一錠薄荷葉煎湯磨服。</p>
<p><u>礞石滾痰丸</u>　降火墜痰之要藥。方見大方脈科。</p>
<p><u>涼驚丸</u>　諸熱通用。此吾家傳之方。又名金花丸。</p>
<p>黃柏　黃連　黃芩　山梔仁（各等分）　硃砂（水飛減半）　一本有龍膽草等分。上為細末。臘雪水為丸麻子大。薄菏湯送下。</p>
<p><u>三黃瀉心丸</u>　一名三黃五色丸。利諸驚熱如神。</p>
<p>黃連　黃芩　大黃（各等分）　上為末。雪水為丸。麻子大。溫水送下。均分作五分用衣。一分硃砂衣。一分青黛衣。一分雄黃衣。一分輕粉衣。一分蘆薈衣。</p>
<p><u>木通散</u>　能瀉肝風。降心火。最利驚熱。</p>
<p>山梔仁　大黃（煨）　赤茯苓　羌活　木通　甘草（以上各等分）</p>
<p>上為末。每服一字。紫蘇葉煎湯送下。</p>
<p>豬膽汁導方</p>
<p><u>定志丸</u>　治驚久成癇。</p>
<p>人參　白茯神　遠志　石菖蒲（炒）　酸棗仁（炒）　柏子仁（各一錢半）　琥珀　珍珠　膽星　鐵花粉（各一錢）　硃砂（飛）　麝香（各一字）　上為末。水煮山藥粉為丸。黍米大。每服十五丸。燈心煎湯下。更煎豬心與兒食之。以助藥力。</p>
<p>急驚風屬陽。病在六腑易治。宜用涼瀉。</p>
<p>慢驚風屬陰。病在五臟難治。宜用溫補。</p>
<p>或問。病有急慢陰陽者。何也。曰。肝主風。木也。飄驟急疾。莫甚於風。心主驚。火也。暴烈飛揚。莫甚於火。木火陽也。故病在於心肝者。謂之急而屬陽。脾胃者土也。沉重遲滯。莫甚於土。脾土者至陰之屬也。故病在於脾者。謂之慢而屬陰。肝常有餘。有餘則瀉而損之。脾常不足。不足則補而益之。至於心主驚。肝主風。似宜前論。然火資風勢。風資火威。風火相扇而發搐。故不可別論也。驚風之病。有兼證者。有類證者。不可不辨也。</p>

<h2>急驚風有三因</h2>
<p>有外因者。如感冒風寒溫濕之氣而發熱者。宜即發散之和解之。以除其熱可也。苟失而不治。熱甚發搐。此外因之病也。宜導赤散瀉青丸主之。</p>
<p>有內因者。如傷飲食發熱者。即宜消導之下之。如保和丸三黃枳朮丸之類。以除其熱可也。苟失而不治。熱甚發搐。此內因之病也。當視大小便如何。如大便不通。先去其宿食。宜木香檳榔丸及膽導法。大便潤。以辰砂五苓散琥珀抱龍丸主之。</p>
<p>有不內外因者。如有驚恐。或客忤中惡得之。蓋心藏神。驚有傷神。腎藏志與精。恐有傷腎。經云。隨神往來謂之魂。並精出入謂之魄。故神傷則魂離。精傷則魄散。小兒神志怯弱。猝有驚恐。所以精神潰亂。魂魄飛揚。氣逆痰聚。乃發搐也。客忤中惡。出其不意。大人且驚。況小兒乎。宜先去其痰。辰砂膏主之。後安其神。琥珀抱龍丸主之。有熱者。東垣安神丸。下痰之藥慎勿用輕粉巴豆之類。恐傷元氣。損脾胃。誤殺小兒。</p>
<p><u>錢氏抱龍丸</u>　治小兒風痰。熱甚昏睡。急驚。</p>
<p>雄黃（飛四錢）　天竺黃（四錢）　膽星（八錢）　硃砂（水飛淨四錢）　麝香（三分）　上為末。煮甘草膏為丸。芡實大。薄荷湯化下。</p>
<p><u>辰砂膏</u>　以通心氣。</p>
<p>硃砂（飛一錢）　牙硝（二錢五分）　雄黃（飛二錢五分）　麝香（二字）　金箔（十五片）　銀箔（十五片）　白附子（三錢）　枳殼（炒三錢）　川芎（四錢）　白茯苓（四錢）　人參（二錢）　黃連（二錢）　遠志（二錢）　除前六味另碾。後七味共為末和勻。蜜丸芡實大。每服一丸。麥門冬煎湯化下。此硃砂膏加減。</p>
<p>或問。熱甚則生痰。痰甚則發搐。錢氏有利驚丸以下其痰。陳氏有芎蠍散以吐其痰。皆可用否。予曰。藥不執方。合宜而可用也。兒壯實者。吐之下之病則止。兒弱怯者。不可孟浪。反傷元氣。大抵痰在咽喉之中。壅塞沾滯。藥食不能入者。則宜吐而去之。此在上者越而治之法也。宜用殭蠶牙皂炙焦等分研末。每服少許。以土牛膝根自然汁灌之即吐。吐後卻進下痰藥。如五色三黃丸。礞石滾痰丸。辰砂膏。皆可用之。</p>
<p><u>辰砂膏</u>　下痰甚妙。</p>
<p>飛辰砂（三錢）　硼砂（一錢半）　馬牙硝（一錢半）　玄明粉（二錢）　全蠍（去毒一錢）　珍珠（一錢）　麝香（一字）　上為末和勻。用好油單紙包起。自然成膏。每用一粒許。治諸驚薄荷湯下。治胎驚乳汁調棗湯下。</p>
<p>予初習醫。治一兒二歲發搐而死。請予至。舉家痛哭。乃阻之。告其父曰。此兒面色未脫。手足未冷。乃氣結痰壅而悶絕。非真死也。取艾作小炷。灸兩手中衝穴。火方及肉而醒。大哭。父母皆喜。遂用家傳治驚方。以雄黃解毒丸十五丸利其痰。涼驚丸二十五丸去其熱。合之薄荷煎湯送下。須臾利下黃涎。搐止矣。予歸。父問用何藥。如是速效。全具以告父。父語母曰。吾有子矣。</p>
<p>一兒發搐痰壅。有醫用白餅子下之。不退。凡三下。病益深。合目昏睡。不哭不乳。喉中氣鳴。上氣喘促。大便時下。予曰。五臟氣絕。病不可治。轉下之過也。彼醫曰。白餅子錢氏下痰神方也。予曰。盡信書則不如無書。錢氏小兒。皆出於門人附會之說也。蓋人之有痰。猶木之有津。時令大熱。草木流津。痰自熱生。此明驗也。痰猶水也。附氣自行。過顙在山。豈水之性哉。乃搏激使之也。今痰隨火上。不知降火。而反下之。損其胃氣。胃氣既敗。五臟俱損。故目不開者。肝絕也。昏睡不乳者。脾絕也。啼聲不出者。心絕也。喘促痰響者。肺絕也。便溺遺失者。腎絕也。果不可治而死。</p>
<p>邑中有儒醫。治病有奇方。唯性太執。不知通變。時有小兒發搐。予謂急驚。當用涼瀉。導赤散瀉青丸是也。彼謂驚風者。肝火鬱遏而成也。火鬱則發之。小續命湯是也。人不能決。兩從之。予所治者一日而安。彼治者死。悔不信吾言。無及矣。</p>
<p>一兒發搐。先取善推法推之止。向後發病益危甚。予曰。推法者。乃針灸摩按之遺意也。經曰。無刺大虛人。推搐之法。壯實者可用之。如怯弱者其氣不行。推則有汗。反傷元氣也。其家不信予言。予曰。不死必成癇疾。半月後果死。</p>
<p>一兒發搐。因用推法暫退。一月後如期復發。又推之。或一月一發。或一月再發。予曰。病成癇矣。推法者乃發表之意。痰聚在心。不得出也。幸初成癇者尚可治。若久則為終身痼疾。不可治也。因立方用四色斷癇丸。</p>
<p>黃連（五錢）　飛硃砂（二錢五分）　膽星（一錢）　白甘遂（三分）　為末。粟米糊丸。兼獖豬心血杵勻丸。芡實大。每服一丸。燈草煎湯化下。夜服三次。日服一次。遂安。</p>
<p>癸亥二月。英山縣大尹前縣吳公。一子發搐。彼醫以二陳湯薑汁竹瀝治之。不退。公初來任過羅。與全有識。承差人請之。全往視。其外候三關青氣。兩頰赤色。目常直視。指如捻物。曰。此得之外感。未與發散。熱入於裡。錢氏曰。肝有熱。則目直視。得心熱則發搐。又曰。兩頰赤而目直視。必作驚風。小兒肝常有餘。又乘木旺之時。當與瀉肝。若二陳湯陳皮半夏生薑之辛。皆助肝之物。經曰。以辛補之。所以無效。乃用瀉青丸。以瀉肝之有餘。導赤散以瀉心之火。一服而搐即止。公喜謂其下曰。所見不同。用藥即效。真良醫也。彼到時吾心有主。今果無憂矣。全見其胎稟素怯。脾胃自弱。恐後作搐。便成癇矣。又作琥珀丸與之常服而安。</p>
<p>蘄水沙阪徐淑道。一子患驚風。先求醫張姓者治之。數日不效。請予往。痰喘正急。驚搐頻發。予先治其痰。次治其搐。以次而定。唯身熱猶熾。張姓者欲用解毒湯竹葉湯小柴胡湯。予皆不可。謂之曰。小兒肝嘗有餘。脾嘗不足。病發於肝。風木太旺。脾土受傷。此乃虛熱。勿用寒涼。致損中氣也。乃用四君子湯加炙黃耆炒黑乾薑。一服而安。</p>
<p>一小兒年五歲。夢中驚哭。抱其母叫怕。此因被驚嚇得之。予制一方。用人參麥門冬白茯神黃連酸棗仁柏子仁炙甘草硃砂各等分。一半水煎。一半入地黃加炙甘草為末。山藥粉糊丸黍米大。每服二十五丸。燈草煎湯下。未盡劑而安。</p>
<p>一小兒周歲。發熱而搐。以瀉青丸投之不效。乃問其發搐之狀。其母曰。搐過後則好睡。以乳與之則飲。不與乳則不思乳。醒時則戲作貓兒聲。見人則笑。不發搐便是好了。予曰。醫要識證。藥要對證。怪底前藥之不效也。以導赤散服之。一劑而安。其父問是何故。予曰。心臟屬火。其聲為笑。火生於寅屬虎。貓者虎之類也。貓聲而笑。知非肝病。乃心病也。故以導赤散瀉其心火而安。聞者歎服。</p>

<h1>卷之二</h1>

<h2>急驚風證</h2>
<p>臍風發搐者難治。</p>
<p>初生月內。非臍風證。發搐者。此胎驚也。宜至聖保命丹。金銀磨水送下。</p>
<p>或用全蠍一枚。薄荷葉包。炙為末。硃砂末三分和勻。豬乳調服。</p>
<p>常發者。名胎癇。不可治也。如變蒸發熱甚。發搐者。只用導赤散瀉青丸主之。效。</p>
<p>瘡疹未出發搐者。此吉兆也。宜用導赤散煎調硃砂服之。效。或將靨發搐者。凶兆也。此毒氣攻心。宜急解救之。用真牛黃腦子各一分硃砂末五分和勻。豬尾尖血和丸小粟粒大。每一丸。燈草煎湯化下。</p>
<p>丹瘤發搐。視其先後何如。先發丹後發搐者不治。此胎毒自外入里也。先發搐後發丹。此名驚丹可治。此胎毒自內而外也。宜用大連翹飲主之。</p>
<p>連翹（一錢）　瞿麥（一錢）　滑石（一錢）　車前子（一錢）　大力子（一錢炒）　赤芍（一錢）　木通（五分）　梔子（三分）　當歸（五分）　防風（五分）　黃芩（一錢五）　柴胡（二錢）　甘草（炙二錢）　荊芥穗（一錢）　蟬蛻（一錢）　上為細末。再加大黃。燈心水煎。</p>
<p>蟲疥浸淫瘡入腹。發搐。難治。急用雄黃解毒丸。升麻煎湯下。瘡再發。兒搐止者吉。咳嗽發搐。視其病之新久。如初咳嗽時。痰盛氣促。連聲不止。而不能治。發搐者。宜葶藶丸。蘇葉煎湯下。利去其痰。咳止搐亦止矣。如久嗽不止者難治。宜用小阿膠散。服五分至一錢。煎去渣灌下。如發搐後變嗽者。此風邪入肺也。宜人參荊芥散再發之。</p>
<p>陳皮（去白）　荊芥穗　桔梗　半夏　桂枝　細辛　木通　甘草（炙）　杏仁（去皮尖）　上各等分。水煎姜引。</p>
<p>泄痢發搐。如先吐瀉。或痢疾久不止。以致脾胃虛弱者。此慢驚風也。難治。如先發搐。後發泄痢者。此因發搐之時。多用利驚下痰之藥。或多用寒涼之藥。傷其胃氣。泄痢不止。宜補澀之。錢氏異功散。加木香砂仁肉豆蔻訶子肉為末。山藥粉糊丸。米飲水調之。</p>
<p>瘧疾發搐。瘧作熱時發搐者。此宜截去其瘧。瘧止搐亦止矣。小柴胡湯加常山檳榔烏梅。發日服。以截其瘧。發過服辰砂五苓散。以定其搐。神效。如發搐後變瘧者。此脾風之證也。宜平瘧養脾丸主之。</p>
<p>蘄水李中庵。吾婿也。一兒未周歲。因傷食發瘧。間一日一發。在子丑時。瘧發搐亦發也。發時咬牙呻喚。大便黃綠。努黃而出。用口吮母口。得乳即止。瘧後汗出心下跳。腹中鳴。退後頂上有小熱。其父母愛惜之心。瘧退搐退。則喜而稱愈。瘧搐俱發。則憂懼不勝。其母又不禁口。病未十日成疳矣。面色㿠白。囟陷發疏。兒漸羸瘦，請予治之。予曰。此兒先受暑濕。暑則為瘧。濕則為痰。又傷飲食。助其暑濕之邪。暑則傷心。濕則傷脾。暑生熱。濕生痰。脾土一衰。肝木隨旺。瘧曰食瘧。疳曰食疳。當從虛治。且大哭手撤。皆肝膽之病。子時屬膽。咬牙者心肝俱熱也。肝木心火。子母病也。大叫哭者。肝病也。呻喚者。腎病也。腎水肝木。母以子病也。肝者厥陰風木也。心跳者。少陰君火也。水火相搏。則內作搐。故大便努黃而出。用口吮母之口。此內熱作渴也。兒口不能言。得乳自解。汗出者。初發之時。邪氣拂鬱。及其退而有汗。此真氣外泄也。故治瘧之法。無汗要有汗。散邪為主。有汗要無汗。養正為主。此兒汗泄於外。便泄於內。心下跳。腹中鳴。皆火盛證也。肝膽從火治。此其法也。退後頂熱。兒頂出顛。亦厥陰肝經之脈也。予制一方兩治之。於平疳止搐方中加治疳之藥。於補脾消瘧方中。加止搐之藥。調理五日。瘧搐俱止。兒亦漸肥。而疳瘦除矣。附其方於下。其平疳止搐加減於當歸龍薈丸。用歸身人參炙甘草柴胡川芎各一錢。青皮蘆薈木香各七分。膽草酒洗梔仁各五分。半夏大者三個。一本有黃芩陳皮神麯糊丸黍米大。每服二十五丸。寅卯時竹葉煎湯下。治瘧補脾。加味參苓白朮散。人參黃耆蜜炙歸身九肋鱉甲使君子白芍藥酒炒各一錢。炙甘草青皮去白各八分。厚桂澤瀉木香夜明砂柴胡各五分。陳皮七分。一本有乾蟾蓮肉共碾末。山藥糊丸粟米大。每服三十丸。巳戌二時服。炒米湯下。乳母服加味四物湯。當歸川芎赤芍藥生地黃柴胡升麻麥門冬木通黃芩酒炒桔梗各五分。薄荷葉七分。燈草水煎服。</p>

<h2>急驚風變證</h2>
<p>急驚風變成癇者。此心病也。心主驚。驚久成癇。蓋由驚風既平之後。父母翫忽。不以為慮。使急痰停聚。迷其心竅。或一月一發。或半年一發。或一年一發。發過如常。近年可治。久則不可治矣。宜服如神斷癇丸治之。</p>
<p>黃連（五錢）　白茯苓（三錢）　石菖蒲（三錢）　膽星（一錢）　珍珠（一錢）　鐵花粉（一錢）　硃砂（飛三錢）　甘遂（五分）　上為細末。粟米粉煮糊。入獖豬心血三枚同杵勻。為丸如彈子大。每一丸。取獖心一枚。切開兩片。入藥在內。線扎定。水煮熟。分三服。本湯送下。</p>
<p>一兒三歲。病驚風后。未服豁痰安神之藥。自後成癇。每發之時。面色青黑。兩目連札。口如嚼物。涎出於口。昏眩仆地。當欲發之狀。即以手探其口中。以吐其涎。如此調理。至七歲不作矣。</p>
<p>一兒四歲。病驚已絕。予用針刺其湧泉一穴而醒。自此驚已不發。予謂其父曰。此驚雖未發。未服豁痰之藥。若不早治。恐發癇也。父母不信。未及半年。兒似痰迷。飲食便溺。皆不知也。時復昏倒。果然成癇病。其父來訴曰。不信先生之言。誠有今日之病。願乞醫治。不敢忘報。予乃問其子。爾病發時。能自知乎。子曰。欲昏則發。乃作錢氏安神丸加膽草服之。教其父曰。爾子病將發時。急掐兩手合谷穴。如此調治。一月而安。</p>
<p>急驚風成癱者。肝主風。風淫末疾。故驚風之後。有手足癱瘓而不能舉者。此血虛不能養筋故也。宜地黃丸加當歸牛膝川獨活肉桂為丸服之。</p>
<p>一女子十四歲。病驚風后。右手大指次指。屈而不能伸。醫用羌活防風天麻全蠍殭蠶蟬蛻。諸風藥治之。病益甚。予嘆曰。彼庸醫也。不知手足不隨。血虛也。伸而不能屈者。筋弛長也。屈而不能伸者。筋短縮也。皆血虛不能養筋之證也。手大指者。太陰肺經之所主。手次指者。陽明大腸之所主。肺與大腸皆屬燥金。此血燥之象也。一切風藥助風生燥。故血轉虛而病轉盛。口授一方。用黃耆人參天麥門冬生熟地黃當歸各等分。官桂減半為引經。橫行手指之端。共為末。煉蜜丸芡實大。每一丸。食後湯化下。</p>
<p>一小兒驚風后。右手僵硬。五指拳曲。不能舉物。兼口角流涎。語言謇澀。予曰。此脾有濕痰。脾不足而肝木乘之。不可治也。</p>

<h2>急驚風類證</h2>

<h3>天釣似癇</h3>
<p>天釣者。壯熱驚悸。眼目翻騰。手足指掣。或啼或笑。喜怒不常。甚者爪甲皆青。如祟之狀。故宜和解風熱。　鉤藤散　主之。</p>
<p>鉤藤（一兩五錢）　白茯苓（一兩五錢）　防風（二錢）　硃砂（飛二錢）　大黃（酒濕紙煨二錢五分）　蟬蛻（二錢）　羌活（二錢）　獨活（二錢）　青皮（二錢）　炙甘草（二錢）　上為末。薑棗煎服。此瀉青丸變化加減也。</p>

<h3>痓病似天釣</h3>
<p>痓病項背強直。腰身反張。搖頭掣瘲。噤口不語。發熱腹痛。鎮日不醒。其狀可畏。但受病與天釣不同。中風自汗。不可再汗。汗多則發痓。中濕宜微汗。不可大汗。大汗過則發痓。有剛柔二痓。無汗曰剛痓。宜麻黃葛根湯。有汗曰柔痓。宜桂枝葛根湯。二痓並宜人參敗毒散加防風主之。</p>
<p><u>麻黃葛根湯</u></p>
<p>麻黃（去節一兩五錢）　赤芍藥（一兩五錢）　葛根（一兩半）　蔥白（二莖）　豉（半合）　上銼散。每服二字煎服。</p>
<p><u>桂枝葛根湯</u></p>
<p>桂枝　白芍藥　甘草（各二錢七分半）　葛根（一兩半）　生薑（一兩）　大棗（四枚）　上銼散。每服三字。煎服。</p>

<h3>內釣似癇</h3>
<p>內釣腹痛多啼。唇黑囊腫。傴僂反張。眼內有紅筋斑血者是也。此寒氣壅結。只宜溫散。木香丸主之。</p>
<p>沒藥　木香　沉香　舶上茴香（炒）　鉤藤（各等分）　乳香　全蠍（減半）　上為末。取大蒜研爛和丸。梧桐子大。每服二丸。鉤藤湯化下。</p>

<h3>盤腸似內釣</h3>
<p>盤腸氣痛乾啼。額上有汗。是小腸為冷氣所搏也。宜金鈴子散主之。</p>
<p>金鈴子（二錢）　舶上茴香（鹽拌炒）　木香（各一錢）　上為末。每服五分至一錢。調酒服。</p>
<p><u>當歸散</u>　治寒邪入腎經。小腹急痛。面青手足冷者。</p>
<p>歸身　木香　肉桂　人參　炙甘草　加破故紙（炒）　小茴香（炒）　上各等分為末。薑棗湯調服。棗為丸亦可。</p>
<p>或問。天釣內釣。病痓盤腸。屬何臟。何以辨之。曰。經云身半以上。天氣主之。身半以下。地氣主之。故天釣在上。生於風熱。宜發之。內釣在下。生於寒。宜溫之。二釣者。皆足厥陰肝病也。足厥陰之脈。外則與督脈同行。循脊而上。入於顛之頂。所以病則目上翻。背後仰。如角弓之反張也。內則循陰器。而入於小腹。所以病則小腹切痛。為囊腫也。諸風掉眩。皆屬肝木。故二釣皆有搐掣似驚。但天釣或哭或笑。內釣則多啼為異耳。痓病屬足太陽膀胱經。上起兩目。上頭循項而下。行於背。循腰而下。於是與厥陰之脈下行者同。所以角弓反張之證。亦相似也。但天釣有搐掣。而痓病無搐掣也。盤腸痛屬手太陽小腸經。內行於小腹。與厥陰之脈內行者不同。所以小腹忽痛也。但內釣有瘛瘲。而盤腸痛無瘛瘲。可辨也。</p>

<h3>客忤似癇</h3>
<p>客忤者。口中吐青黃白沫。水穀鮮雜。面色變異。喘息腹痛。反側瘛瘲。狀似驚癇。但眼不上竄耳。治法宜辟邪正氣。散驚安神。蘇合丸至聖保命丹主之。</p>
<p>客忤者。謂客氣忤犯主氣之病也。如五氣之邪。自鼻而入。則忤其心肝。五味之邪。自口而入。則忤其脾胃。有所驚恐。則忤其神。有所拂逆。則忤其意。當博求之。故曰。心誠求之。雖不中不遠矣。詳見育嬰家秘。</p>
<p>一兒半歲。忽日慘然不樂。昏睡不乳。予曰。形色無病。將謂外感風寒。則無外感之證。將謂內傷乳食。則無內傷乳食之證。此兒莫非有所思。思則傷脾。乃昏睡不乳也。其父母悟云。有一小廝相伴者。吾使他往。今三日矣。乳母亦云。自小廝去後。便不欣喜。不吃乳。父急命呼之歸。兒見其童嘻笑。父曰。非翁之妙術。不能知也。</p>
<p>一兒一歲。啼哭不止。予審察之。非病也。其父母曰。無病何以啼哭異常。予問其乳母。此兒平日戲玩者何物。乳母曰。馬鞭子。即以取至。兒見大笑。擊人而哭止。</p>
<p>一兒九月。吐乳便黃。身有微熱。予曰。此傷熱乳也。吐作腥氣。今已成積。母曰。未食熱物。予密語其父曰。必傷交奶得之。父問何謂交奶。予曰。父母交感之後。以乳哺兒。此淫火之邪。忤脾胃正氣也。不治之必成癖矣。何以致。曰。淫火者。肝火也。病則發搐。癖者脾病也。積不消則為癖。父問何以治之。曰瀉肝補脾。乃以瀉火胃苓丸服之。</p>

<h3>中惡似癇</h3>
<p>中惡小兒之危惡也。其病有二。如中惡毒之氣者。病自外至。其證眩僕。四肢厥冷。兩手握拳。不能喘息。先用　霹靂散。</p>
<p>躑躅花（一分半）　雄黃（三分）　麝香（少許）　上為末。用燈心三寸長。蘸藥少許。插入鼻孔。得嚏即醒。蘇合丸灌之。或攝生飲。</p>
<p>南星（煨一錢半）　半夏（洗一錢半）　木香（一錢半）　生蒼朮（一錢）　生甘草（一錢）　石菖蒲（一錢）　上銼入生薑。用水煎服。盡一劑以平為期。</p>
<p>如內生中惡毒之物。病自內生。其證心腹刺痛。腹皮青黑。悶亂欲死。宜急攻之。雄黃解毒丸主之。</p>

<h3>白虎證似癇</h3>
<p>白虎證乃流年白虎歲前九位之神。兒觸犯之。則不精爽。而目視不轉。手如數物。宜服至聖保命丹。取太陽真土。伏龍肝杵碎。煎湯送下。取龍虎相制之義。</p>
<p>或問。客忤中惡白虎三證。何氣使然。曰。皆客氣也。客氣不正之氣也。兒之所稟。謂之主氣。為之忤者。謂之客氣。經云。邪之所湊。其氣必虛。故兒之主氣強者。雖有客氣。不能忤也。主氣弱者。稍有所忤。則成病矣。客忤者病之總名也。中惡則客忤之重者。白虎則客忤之輕者。治法皆以辟邪養正。安神和胃為主。蘇合香丸治三病之聖藥也。</p>

<h3>蟲病似癇</h3>
<p>蟲病乃蛔蟲攻其心痛也。發則目直視。口噤不言。或大叫哭。口中流沫涎水。面色或青或白。手足強直。宜急攻之。雄黃解毒丸。苦楝根皮煎湯下。</p>

<h3>馬脾風似癇</h3>
<p>馬脾風者。肺脹也。上氣喘急。兩脅扇動。鼻張悶亂。喘喝聲嗄。痰涎壅塞。其證危惡。宜急攻之。牛黃散主之。</p>
<p>黑白牽牛頭末（一兩）　大黃（二兩）　檳榔（五錢）　木香（三錢）　輕粉（少許）　上為末和勻。每服用冷水。或漿水調服。</p>
<p>或問何以謂之馬脾風。曰。午屬馬。為少陰君火。心主熱。脾主虛。心火乘肺。脾之痰升。故肺脹而喘。謂之馬脾風也。</p>
<p>一兒四歲。忽作喘。氣逆痰壅。鼻孔開張。予曰。此馬脾風也。如胸高肩聳。汗出發潤。則不可治。須急治之。以葶藶丸。去防己。加大黃。除肺之熱。合小陷胸湯。除肺之痰。碾為細末。竹瀝調服而愈。</p>

<h2>慢驚有三因</h2>
<p>因病後或吐瀉。脾胃虛損。遍身冷。口鼻亦冷。手足時瘛瘲。昏睡露睛。此無陽也。宜待其未發而治之。調元湯合小建中湯主之。如見上證。雖有神丹。不可治也。或問。吐瀉何以生風。而不可治者何也。曰。五行之理。氣有餘則乘其所勝。不足則所勝乘之。吐瀉損脾。脾者土也。風者肝木所生也。脾土不足。則肝木乘之。木勝土也。其病不可治。人身之中。以谷為本。吐多則水穀不入。瀉多則水穀不藏。吐則傷氣。泄則傷血。水穀已絕。血氣又敗。如之何不死也。</p>
<p>或問風從風治。何以所立之方。不用風藥。何也。曰。內經云。肝苦急。以甘緩之。以酸泄之。以辛散之。又云。脾欲緩。急食甘以緩之。調元湯。參耆甘草之甘。甘可以緩肝之急。為治風之聖藥也。而又可以補脾。芍藥桂枝。苦辛為從。可以建中。二方合而用之治慢驚風者。此東垣老人之秘傳也。</p>
<p>因得驚風。醫用利驚之藥太多。致傷脾胃。元氣益虛。變為慢驚者。此外風未退。中虛又生。風虛相搏。正去邪存。大命隨傾。此慢驚風證。尤慎於始也。</p>
<p>一兒五歲。病痢。醫用藥治之。痢轉甚。其脾胃中氣下陷也。予用參苓白朮散調之。十日痢止。予辭歸。有惑者謂其父曰。無積不成痢。富家之子。多有肉積。吾有阿魏。嘗用治痢有效。父惑而聽之。乃以阿魏作丸。如小豆大。連服三丸。其子昏睡。適予又至。以服阿魏丸告。予驚曰。阿魏雖去肉積。大損元氣。令郎脾胃已弱。豈可服之。父曰。病安而喜睡未醒也。予謂乳母叫之。則目露睛。氣已絕矣。</p>
<p>有兒脾胃素弱。一日病瀉。以理中丸服之。瀉未止。口內生瘡。謂兒前藥性熱助火。復以冷藥投之。身微熱。睡則揚睛。予見之曰。此兒發慢驚風。脾胃本虛。瀉則益虛。口中生瘡者。脾虛熱也。誤服冷藥。則中氣益損。昏睡不乳。虛損之極也。當急作調元湯。加倍人參服之。調理半月而愈。</p>
<p>一女子五個月內發搐。予以瀉青丸投之。三四服。搐不止轉甚。予思痰壅氣鬱。乃發搐也。丸散頗粗。與痰黏滯於咽喉之間。致氣不通。而搐愈甚也。用竹葉煎作湯。取綿紙濾去其渣滓。澄清服之。搐止。其父嘆曰。醫之貴於變通也如是夫。</p>
<p>一小兒得真搐。予曰不治。彼家請一推拿法者掐之。其兒護痛。目瞪口動。一家盡喜。再觀兒斜視。彼曰看娘。兒口開張。彼曰尋娘乳吃。予嘆曰。誤矣。睹子轉睛。謂之看娘。急口開張。謂之尋乳。皆死證也。其夜兒果死。</p>
<p>肝主風。急驚風。搐搦振掉。肝之本經氣動所生也。當急治之。得心熱則發。宜瀉青丸。用導赤散煎湯送下而愈。初發搐昏睡不醒。或掐人中。或掐大陵。或灸中衝。待其醒而藥之。</p>
<p>或用白殭蠶豬牙皂角細辛川芎藜蘆等分為末。吹鼻中。嚏者可治。不嚏者不可治。</p>
<p>如頑涎壅塞者。用殭蠶末吐之。或礞石滾痰丸吐之。家傳三黃五色丸下之。</p>
<p>小兒發搐。如法治之。搐止者吉也。如時發時止。昏睡不醒。不乳者死。</p>
<p>兒一歲發搐不止。口鼻氣出溫者。此真搐也。不可治。搐後易醒。口鼻氣出熱者。此假搐也。可治。錢氏云。氣溫則內生。謂肝之真臟病見者。故曰真。氣熱者。病自外生者也。故曰假。</p>
<p>先翁治一兒。滿月後發搐。以至聖保命丹治之。安。</p>
<p>祖訓治急驚風。只用瀉青丸導赤散。</p>
<p>舊縣張月山長子。病急驚風。十七日不醒。待請予到。舌色黑矣。予嘗見父念玉函經。傷寒舌黑洗不紅。藥洗分明見吉凶。全問曰。用何藥洗之。父曰。薄荷湯。乃依法急取薄荷湯洗之。舌變紅色。予曰。可治也。用瀉青丸二錢。煎湯服之。一飲而盡。口燥渴已止矣。其夜搐止熱退而安。此子不遇予幾死。</p>
<p>汪元津幼子。七月間因傷食病瘧。七日發搐。予見之。肝風雖甚。脾未至困。當瀉其肝。後補其脾可也。乃以瀉肝散。三服而搐止。後用調元湯。以補其脾。琥珀抱龍丸。以平其肝。喜睡。二目不能開。予思喜睡者。非脾困也。乃神昏欠惺惺也。目屬肝。而胞屬脾。合目不開者。非亡魂也。乃神倦也。今兒目欲開欲合可知也。只用前方。又二日。令其家中平日相與嬉戲者。取其小鼓小鈸之物。在房中床前。唱舞以娛之。未半日。目開而平復也。凡十日而安。</p>
<p>胡鳳崖有子痘瘡後傷食疳。飢瘦發穗。有醫童一冊見之曰。不是疳證。乃血虛也。其家惑之。始效。則生一病。如癇非癇。晝則安靜。夜則夢寐。抱其乳母叫云。我怕我怕。如人捕之狀。詢其病原。此兒性不食藥。一冊來喂藥。必將針火以恐嚇之。而得斯疾也。蓋胃為戊土。腎為癸水。合而化為火。腎主恐。恐則傷腎。此因脾胃虛弱。不能生肺。腎無化原。亦從而虛也。腎藏志。腎虛則神志不寧。而生驚恐也。寤則神棲於心。寐則神棲於腎。脾志往來出入之門戶也。必以補脾為主。安神次之。補脾肥兒丸。安神錢氏安神丸。調理半年而安。</p>
<p>天釣內釣。足厥陰肝經之脈起足大指。而上環陰器。左交右。右交左。上入小腹。下會督脈。循脊膂過而上至於顛。如風傷肝則發天釣。其狀眼上翻。頭頂向後。仰身反折。渾如角弓之狀。錢氏云。肝有風甚。則角弓反張者是也。天釣屬木宜發散。瀉青丸中去大黃加天麻全蠍殭蠶鉤藤。</p>
<p>內釣者。肝受寒。則小腹痛。大叫哭。目直視。但不搐耳。宜急溫其內。當歸茱萸湯。及木香丸。</p>
<p><u>當歸茱萸湯</u></p>
<p>當歸　吳茱萸（炮焙乾）　小茴香（炒）　甘草　木香</p>
<p><u>木香丸</u>　方見驚風類證。</p>
<p>小兒腸痛。亦在小腹腰屈。空啼無淚。此名盤腸痛。證似內釣。但不直視也。金錠子散。見類證主之。</p>
<p>㿗疝此厥陰肝經痛也。與腎無干。皆寒所致。有腫而不痛者名㿗。痛而不腫者名疝。有腫又痛。名㿗疝。茱萸內消丸主之。</p>
<p>本縣大尹梁公子病疝。右邊睪丸。腫大如雞卵。長約五寸。上絡臍傍。下抵陰囊。直直硬痛。大小便不通。急召全。全立方。用當歸川芎木香青皮去瓤山梔仁山楂子小茴香川楝子澤瀉。二劑而安。</p>
<p>卵腫。小兒性急多哭者有之。予曾治小兒。立方用香附子川芎木香青皮山梔子麥芽等分。作丸服之。</p>
<p>又小兒腸痛。予用諸證辨疑內一方。五苓散加川楝子小茴香。入鹽一捻煎。神效。</p>
<p>肝之竅在目。目赤痛者。肝熱也。宜瀉青丸加黃連。作丸服之。</p>
<p>目中白膜遮睛者。肝虛也。宜瀉青丸。去大黃梔子。加干菊花木賊蟬蛻。作丸服之。</p>
<p>經曰。肝有熱者。則小便先赤。導赤散加梔子條芩膽草甘草梢主之。</p>
<p>本府三守小姐。溺出如青水。著肉處潰爛成瘡。夫人憂之。守問全云。莫非女之臟腑壞也。答云。膀胱受五臟之液以藏之。是為溺也。各隨本藏之色。青者。肝之色也。著處成瘡。肝火盛也。火之所灼則潰爛矣。全獨治之以前治小便赤方。更加黃柏為丸。調理五日而安。夫人大喜。命小姐出而拜之。</p>
<p><u>治陰臭神效方</u></p>
<p>當歸　膽草　山梔子　木通　車前子　澤瀉　甘草梢　條芩　水煎服。</p>
<p>肝有病。則大便難。瀉青丸木通散主之。</p>
<p>錢氏云肝熱者。手循衣領及亂捻物。或咬牙。</p>
<p>一小兒五十日。晝夜啼哭不止。予用瀉青丸五釐。竹葉煎湯。入砂糖少許調服。立止。</p>
<p>咳嗽不止。作搐者。此肺衰而肝木侮之也。當先補肺。阿膠散。後瀉肝。瀉青丸。搐止者可治。不止者不治。水寡乎畏也。錢氏所謂三補肺而咳嗽不除。三瀉肝而肝搐不止者是也。</p>
<p>蘄水舉人蔡沙江。有子病咳久不止。請予治。予往。見其連聲不止。咳時面青。右手常自擺動。謂沙江曰。令郎不可治也。沙江問何故。曰。嗽者肺病也。肺屬金。面青者。肝之色也。肝屬木。手擺者。肝風欲發之狀也。木來侮金。寡乎畏也。維今十月。金病木生之時。四時之序。將來者進。成功者退。木生而進。金病而退。發搐不可治也。甲乙日劇。果甲乙日搐而死。</p>
<p>黃州府甘秀才女。驚後右手大指。屈而不能伸。醫用全蠍殭蠶治之不效。問予求治法。肝主筋。筋賴血養。故曰掌得血而能屈也。血燥則筋枯。屈而不能伸也。手大指。手太陰之脈所出也。金本性燥。復用風藥以治之。燥益甚矣。劉宗厚云。休治風。休治燥。治得火時風燥了。乃授一方。用人參固本丸加黃芩黃柏知母。作丸服之。</p>
<p>百日內兒搐最惡。謂之胎驚。錢氏論詳。</p>

<h2>驚風后餘證</h2>
<p>搐後成癱瘓者。左氏謂風淫末疾是也。肝主筋。肝熱則筋弛而長。長則軟弱。手足伸而不能屈矣。肝寒則筋縮而短。短則拘攣。手足屈而不能伸矣。並宜六味地黃丸主之。拘攣者。加附子肉桂。軟弱者。加黃柏知母當歸牛膝續斷蜜丸服之。</p>
<p>驚風后喑不能言。宜六味地黃丸。加巴戟遠志石菖蒲。</p>
<p>本縣一尹吳。子生四個月。病驚風。搐過則昏迷不醒。發搐則醒。眼邪視。右手搐搦。請予。予曰。此真搐不可治。乃辭退。</p>

<h2>心經主病</h2>
<p>心主驚。實則叫哭發熱飲食而搐。虛則困臥。悸動不安。</p>
<p>實則導赤散瀉心湯。虛則二安神丸服之。</p>
<p><u>導赤散</u>　治心熱。及小便赤夜啼。</p>
<p>生地黃　木通　甘草梢（炙）　各等分銼。加竹葉。水煎。食前服。加黃芩名火府散。</p>
<p><u>瀉心湯</u>　治驚熱神效。</p>
<p>黃連（去須一錢）　為細末。每服一字至五分。臨臥溫水調服。</p>
<p><u>錢氏安神丸</u>　治邪熱驚啼。心疳面黃。頰赤壯熱。</p>
<p>麥門冬　馬牙硝　白茯苓　山藥　寒水石（煅飛）　甘草（各五錢）　硃砂（一兩飛）　腦子（一字）　上為末。蜜丸芡實大。每半丸。砂糖水化下。無時。</p>
<p>東垣安神丸　經云。熱淫所勝。治以甘寒。以苦瀉之。以黃連之苦寒去心煩除濕熱為君。以甘草生地黃之甘寒瀉火補氣滋生陰血為臣。以當歸身補其血之不足。硃砂約浮游之火。以安其神也。</p>
<p>甘草（五錢半）　黃連（六錢酒炒）　當歸身（二錢半）　生地黃（一錢半）　硃砂（五錢水飛為末）　上為末。蒸餅丸。黍米大。硃砂為衣。每服十丸至三十丸。溫水送下。</p>

<h2>心經兼證</h2>
<p>諸熱驚悸不安多啼。此心臟本病也。宜導赤散加硃砂主之。甚者涼驚丸。三黃瀉心丸。</p>
<p>兼見肝證。則發熱而搐。宜木通散主之。</p>
<p>兼見脾證。則嗜臥夢中咬牙多驚。宜錢氏安神丸主之。</p>
<p>兼見肺證。則發熱作搐而喘。宜清寧散主之。</p>
<p>兼見腎證為驚癇。發則忽然臥僕。咬牙搐搦。手足逆冷。發過即醒。精神恍惚。</p>
<p>蓋心藏神。驚則傷神。腎藏志。恐則傷志。小兒神志怯弱。有所驚恐。則神志失守。而成癇矣。如書傳所謂請僧寄名。僧為摩頂誦咒。兒被嚇而成癇。後見穿皂衣人即發是也。亦有驚久成癇者。初起即可治。定志丸主之。父母怠忽。久而不治。遂成終身之患。</p>
<p>一小兒驚後成癇。予制一方。天水散一料。研為細末。分作三劑。二兩三錢。入真青黛五錢碾勻。名清魂散。寅卯時煎竹葉湯調服一錢。以平肝火。一劑二兩三錢。入硃砂末水飛五錢。名安神散。巳午時煎燈草湯調服。以鎮其神。一劑二兩三錢。入真輕粉二錢研勻。名定魂散。申酉時煎淡薑湯服。以去其痰。旬日而安。</p>
<p>一小兒十歲。久得癇疾。予視兩目渾白。無有睛光。語言謇澀。舉動癡迷。乃語其父曰。不可治矣。後請醫治之。竟無功。</p>
<p>驚久成癇。乃痰迷心竅之病。最為難治。或分五癇。以牛馬狗豬羊名之者。未見其方。不必拘也。錢氏五癇丸。祖訓未用。予亦不敢輕用也。兒有者。當先觀其狀貌。而後治之可也。如伶俐聰明者可治之。若成癡呆。言語錯亂。不必治之。如強治之。終無成功。間有聰明伶俐。治之無效。非真癇也。此宜琥珀抱龍丸主之。或辛香者。不如抱龍丸猶穩。</p>
<p>蘄水周維峰。有子病癇。予見神氣昏滯。語言含糊。狀類癡呆。告其父曰。不能治也。辭歸。</p>
<p>黃州府萬魯庵。有子病癇。予見容貌俊偉。性格聰明。告其父曰。可治。乃與琥珀抱龍丸方。使自制服之。</p>
<p>本縣汪前川兒驚病。一月之間。嘗發二三次。予曰。不治必成癇也。求治於予。乃立一方。用枳實黃連半夏白茯苓各等分。折半。硃砂飛又折半。同前碾末。神麯糊丸。芡實大。硃砂衣。每服一丸。用獖豬心一個。劈開入藥在內。線扎定。放瓦罐中煮熟。取出豬心。和藥食之。以湯送下。後竟不發。名曰斷癇丸。</p>

<h2>心所生病</h2>
<p>經曰。諸痛癢瘡疾。皆屬心火。</p>

<h3>諸瘡</h3>
<p>發揮云。心火者。君火也。君務德而不為毒。為癢痛瘡瘍者。乃命門相火之所為也。小兒諸瘡。皆胎毒也。命門者。右腎也。雖云男子以藏精。女子以系胞。父母命門之中。原有伏火。胚胎之始。兒則受之。既生之後。其火必發為癰疽丹疹癬一切惡瘡。名曰胎毒者。是也。古人立法。於兒初生之時。有拭口法。有黃連甘草朱密法。無非以解毒而設也。後人因之。合上三法。取臍帶合藥。名曰育嬰延齡解毒丹。方備載在前幼疾條內。</p>
<p>東垣之治紅絲瘤。丹溪之治小便淋。皆有解毒之法。見格致餘論。請博求。</p>
<p>予立一方。以丹溪三補丸半生用半酒炒。甘草半生半炙。各等分為末。雪水丸。麻子大。硃砂雄黃各二分之一。水飛為衣。淡豆豉湯送下。初生二臘內服之良。天行痘疹之歲。尤宜服之。</p>
<p>小兒初生。有育嬰延齡解毒丹。服之能解其胎毒。其有發瘡瘍者。有溯源解毒湯。乳母服之。</p>
<p>丹瘤。此胎毒之最酷者。即紅絲瘤也。名龍纏火帶也。乃小兒之惡疾。二歲以上兒可治。半周歲者難治。百無一二也。發處腫硬一塊。其色甚赤。手不可近。如火炙流銅。往下遶走。自頭上起至心即死。自足下起至腎即死。古方治法。無可取者。唯家傳蜞針法砭法。出其惡氣。以泄其火毒。十治六七。誠良法也。經云血食者決之是也。切不可用寒冷之藥敷之。使火毒鬱而不得泄。入腹為腹脹。為腹痛。為喘。為驚狂。為搐搦者。必死。宜用通聖散全料。銼細入酒中浸濕曬乾炒。碾為極細末。蜜水調服。外以通聖散加金銀花藤葉煎湯浴之。此水漬法。亦火鬱則發之也。先發驚後發丹者。可治。通聖散主之。或用導赤散加連翹玄參防風荊芥穗瀉青丸。先發丹後發驚者不治。</p>
<p>疥癬。乾者可治。胡麻丸主之。若浸淫潰爛。內無完膚。日夜啼哭者。不可治。切不可用砒硫粉汞為藥搽之。使毒氣乘虛入腹。發搐發喘者皆死。</p>
<p><u>胡麻丸</u></p>
<p>胡麻仁（炒）　苦參　甘菊花　大力子（炒）　石菖蒲　何首烏　威靈仙　蔓荊子　烏梢蛇（酒浸去皮骨取肉焙乾各等分）　一本有蒺藜（炒）　黃連（炒）　無蛇　上為末。酒為丸。麻子大。竹葉湯下。此祖傳十三方也。</p>
<p>治小兒瘡疥。宜調乳母。溯源解毒湯主之。</p>
<p>人參　歸身　赤芍藥　川芎　黃連（酒炒）　連翹　木通　生地黃　陳皮　甘草　水煎服。以少許喂兒佳。一本有竹瀝。</p>
<p>小兒生下。遍身蟲疥干癢。喜人摩拍。予制一方。用烏蛇酒浸焙乾取肉一錢。苦參酒浸焙乾二錢。胡麻仁（炒）　白蒺藜（炒去刺）　各一錢五分共為末。用浸蛇與苦參酒糊為丸。甘草湯下愈。</p>
<p>一兒五歲。每至春時。則遍身生膿胞瘡。此胎毒也。予戒用搽藥。恐粉砒硫之毒。乘虛入腹。以胡麻服之而愈。更灸風池血海曲池三里。自此再不發矣。</p>
<p>兒瘡入腹。腹脹。大小便不通。或喘或作搐者。先用雄黃解毒丸治之。</p>
<p>雞冠雄黃（飛二錢）　真鬱金　莊大黃（各二錢）　巴豆霜（一錢）　一本無大黃　上共碾勻。水糊丸。小豆大。每服一二丸。茶清下。　此祖傳十三方也。</p>
<p>黃州李四守。生子五個月。遍身濕疥。一旦盡干。召全問之。全曰。瘡出驚止無憂也。連更數醫不能治。</p>
<p>小兒生癰毒者。不可輕針。恐傷筋骨。慎之。</p>
<p>一子滿月後。血盆中發一癰。請外科胡長官針之。斷其骨。竟不可救。</p>
<p>小兒頸下或耳前後有結核者。此熱也。切不可作瘰癧治之。內服蟹螯。外施針灸及爛藥。必殺兒也。戒之。予家傳消結神應丸。乃新立。真神方也。</p>
<p>黃芩（酒炒）　黃連（炒）　山梔仁　生貝母　海昆布（酒炒）　海藻（洗）　桔梗　麥糵（炒各一錢五分）　紫背天葵　玄參　連翹　瞿麥（各二錢）　薄荷葉（一錢五分）　上共為末。酒煮稀糊丸。芡實大。每服一丸。酒下。</p>
<p>蘄水朱震三子。結喉上生一核如李。問予求治。予謂病原式云。結核者。熱也。又考本草消結喉之藥。立一方與之。遂買藥製成。碾末。溫湯調服。效。病此者服之。無不應驗。乃名之曰神應丹。</p>
<p>團風帥碧泉。致仕在家。唯一公子。項下生一結核。惑於醫作癧治。用藥破爛。轉加腫大。此任脈所過之路。元氣受傷。致成疳證。醫無識其證者。及請予往。勢不可為矣。</p>
<p>王思泉一女四歲。耳後側有結核。問予。予曰。非癧瘡。乃痰核也。不必治。亦不為害。為他醫所惑作癧治之。用斑蝥內消之藥過多。脾胃受傷。致成疳癆而死。哀哉。馬刀多生於耳前後。腫硬赤痛。俗名痄腮。用散毒散敷之。神效。</p>
<p>主方用生綠豆。碾為細末。釅醋調如膏。敷之再換。神效。</p>
<p>又方。治結核用五倍子研為細末。醋調服之皆效。此皆家傳之方也。</p>
<p>肥瘡膿血堆積久不愈。用熟皮灶上煙膠松香共研。清油調搽。如蟲多不絕。用水銀鉛製入鍾內。指揉唾調搽上。蟲盡斃矣。</p>
<p>軟癤不愈。只用紫金丹水磨搽之。膿盡干而自效也。又苦參研末敷之。</p>
<p>耳前後。或鼻下。或眉間。生瘡赤爛。用爐甘石海螵蛸研末。入輕粉三分之一。和勻敷之。</p>
<p>腳背上生瘡。癢痛不常。久不愈。俗呼牛頸癬。用雞子黃熬油搽之。</p>
<p>舌上生瘡。此心脾二經有熱也。用柏連散搽之。</p>
<p>生黃柏　生黃連　生地黃（各等分）　白檳榔（減半）　研細末搽之。</p>
<p>滿口舌生瘡。乳食不得者。宜洗心散服之。</p>
<p>大黃　麻黃　白朮　當歸　芍藥　荊芥穗　甘草　薄荷葉（各等分）　上銼水煎服。更用柏連散搽之。</p>
<p>滿口生白雪瘡。又名鵝口瘡。先翁用硃砂白礬。研末塗口舌效。又用鵝公一隻。以糯米於口中餵食盡。取水洗之。</p>
<p>一兒患口舌生瘡。醫用藥服之搽之者。皆芩連知柏類無效。予曰。心熱所為。苦入心而反助其熱。宜無效。乃作洗心散與之。一服而安。</p>
<p>予外甥。李中庵子也。滿口生瘡。咽喉唇舌皆是。令人取藥。予制一方。用柏連一錢。硃砂白礬五分。鼠婦焙乾三分。共研細。敷之立效。乃奇方也。</p>
<p>兒有重舌重齦者。宜用三稜針。刺去血。內服東垣涼膈散。凡口內諸病。唯針最捷。</p>
<p>舒舌者。心熱也。導赤散。弄舌者。脾熱也。瀉黃散主之。</p>
<p>錢氏云。心主驚。心藏神。兒心氣怯弱。或聞大聲。見異物異人。未有不動其神也。謂之客忤。</p>
<p>驚後其氣不散。鬱而生痰。痰生熱。熱生風。如此而發搐者。錢氏所謂氣逆而作搐而發驚者是也。此驚風二字。所以不同。</p>
<p>凡因驚而發搐者。此心火旺而肝木乘之。宜先止其搐。導赤散作湯吞下河間當歸龍薈丸。後安其神。錢氏安神丸主之。有痰涎壅塞者。先降其痰。辰砂膏主之。次止其搐。後安其神。</p>
<p>辰砂膏。下痰甚妙。</p>
<p>辰砂（飛三錢）　硼砂　馬牙硝（各錢半）　玄明粉（二錢）　全蠍（去毒）　珍珠（各一錢）　麝香（一字）　上另為末和均。用好油單紙包起。自然成膏。每用一粒許。治諸驚。薄荷湯調下。治胎驚。乳汁和棗湯下。</p>
<p>先翁治驚風至聖保命丹　方見肝部。此但加蟬蛻（一錢）　使君子（一錢五分）</p>
<p>英山縣大尹吳清溪子病驚風。諸醫作風治之不效。急差人請予。予往見尹曰。非風也。乃因驚得之。風從肝治。驚從心治。不識病原。如何有效。乃取至聖保命丹治之。搐止。次日邑中僚屬士夫皆來問之。尹曰。名不虛傳。果良醫也。彼一見自有主意。不似他人費力。留住數日。厚待而歸。</p>
<p>心屬火惡熱。心熱則煩。多夜啼。宜導赤散主之。或日夜啼。皆宜服之。</p>
<p>本縣大尹張鼎石公子。生四月無乳。取一名壯婦人乳之。一夜大啼。取醫甘大用治之。初所治者。呼為腹痛。用理中湯不效。又呼為傷食。用益黃散。又不效。夜更啼哭。急請予視之。甘語其故。意欲我扶同其言也。心本惡熱。藥中又犯乾薑丁香。如何不助火而增益其病也。乃請公子看之。尹曰。夜啼四日矣。全曰。夜啼有四。心煩一也。尹曰。傷食乎。腹痛乎。余曰。腹痛則面多青。傷食則面多晄白。今面多赤。心煩證的也。大用趨出。予用導赤散加麥冬燈心進一服。次早往問。大用自內出雲。昨夜到天明不止。予嘆之。彼喜其藥不中病也。不知病退矣。余入問。尹曰。昨夜哭猶甚也。予告之曰。公子病安矣。公子貴體違和。四日夜未乳。昨夜病退思乳。乳母在外。故知往夜之哭。病哭也。昨夜之哭。飢哭也。尹喜曰。怪哉乳母來後。再不復啼矣。病果退矣。</p>
<p>心熱。有喜面合臥者。有喜仰臥者。宜導赤散。三黃瀉心丸主之。</p>
<p>兒性執拗。凡平日親愛之人。玩弄之物。不可失也。失則心思。思則傷脾。昏睡不食。求人不得則怒。怒則傷肝。啼哭不止。此忤其心也。謂客忤成病也。平日未親愛之人。未見之物。不可使之見。見則驚。驚則傷心。凡未見之人。不可使之近。迫近則恐。恐則傷腎。令兒成癇。此皆客忤病也。今之為父母者。則稱所畏者以止之。如長老止夜啼之故事。為醫者因兒不服藥。則持針摶灸以迫之。令兒生病。</p>
<p>楚府典儀胡西序渤。三溪翁之伯子也。幼多疾。托予調養。至丁酉七月七夕周歲。三溪設酒。請予作乞巧會。日沒後。哭不止。予視之無疾。復即席。初更哭猶甚。母促再視。果無疾。曰。無疾何以黃昏哭。一更不止。予思外候無證。但見兒左右顧盼其當值之人。如有所失者。口不能言。但啼哭。此拗哭也。猛詢問。其當值曰。此兒今日所戲者。是玉印子也。已收拾矣。急命取與之。兒笑而哭止。三溪曰。如保赤子。心誠求之。善哉。添酒歡醉而歸。</p>

<h3>諸汗</h3>
<p>汗者心之液也。唯頭汗不必治。小兒純陽之體。頭者諸陽之會。心屬火。頭汗者。炎上之象也。故頭汗者。乃清陽發越之象。不必治也。</p>
<p>自汗者。晝夜出不止。此血氣俱熱。榮衛虛也。宜當歸六黃湯主之。其方用黃耆以補其衛。當歸生地黃以補其榮。芩連柏以瀉其血氣之火。用浮小麥為引。入肺以瀉其皮毛之熱。此治諸汗之神方也。</p>
<p>盜汗者。夢中自出。醒則干也。其病在腎。宜當歸六黃湯加止汗散主之。</p>
<p>錢氏止汗散　敗蒲扇。燒存性。研末。入煎藥內。假物象形之理也。</p>
<p>本縣江蘭峰。其子七歲。頭面出汗如流。用人參當歸二味。同獖豬心煮湯服之安。</p>

<h3>諸熱</h3>
<p>小兒病則有熱。熱則生風。不可不調理也。</p>
<p>肝熱者。目中青。手尋衣領。及亂捻物。瀉青丸。當歸龍薈丸主之。</p>
<p>有身熱。口中氣熱。濕風溫證者。謂之風熱。亦肝熱也。宜生犀散脫甲散主之。</p>
<p>心熱者。目中赤。視其睡。口中氣溫。合面睡。或仰睡。上竄咬牙。宜導赤散黃連安神丸主之。</p>
<p>有一向熱不已。亦心熱也。甚則發驚癇。宜黃連安神丸主之。</p>
<p>如目中熱。心虛也。宜錢氏安神丸主之。</p>
<p>脾熱者。目中黃。弄舌。瀉黃散茵陳五苓散主之。</p>
<p>有但溫而不熱。亦謂之溫熱。亦脾熱也。宜人參白虎湯主之。</p>
<p>肺熱者。目中混白。手掐眉目面鼻。甘桔湯木通散主之。</p>
<p>有時間發熱。過後卻退。次日依時發熱。謂之潮熱。此亦肺熱。宜地骨皮散主之。</p>
<p>腎熱者。目無精光。畏明。脊骨重。目中白睛多。其顱即解。地黃丸主之。</p>

<h3>熱有表裡</h3>
<p>表熱者。多因傷風寒之故。喜人懷抱。畏縮惡風寒。不欲露頭面。面有慘色。不渴。清便自調者。此熱在表也。宜發散。惺惺散。敗毒散。升陽散。火湯。十神湯。選而用之。</p>
<p>裡熱者。喜露頂面而臥。揚手擲足。揭去衣被。渴飲冷水。兒小不能言。吮乳不休者是也。小便赤。大便秘。此熱在裡也。宜解利之。涼驚丸。三黃丸。四順清涼飲。涼膈散。錢氏抱龍丸。牛黃涼膈丸。黃芩湯。選而用之。</p>
<p>有表裡俱熱者。宜通聖散。柴芩湯。人參白虎湯。選用。</p>

<h3>熱有虛實</h3>
<p>虛熱者。多在大病之後。或溫熱。兼潮熱。或渴或不渴。大小便如常。宜調之。竹葉湯調元湯地骨皮散主之。</p>
<p>實熱者。面赤腮燥。鼻乾焦。喜就冷。或合面臥。或仰臥。露出手足。掀去衣被。大渴飲水。大小便秘。宜瀉之。神芎丸。大金花丸。大便不通者。用膽導法。</p>
<p>或問治熱以寒。治寒以熱。良工不能廢其繩墨也。今治虛熱。乃用溫藥者。亦有說乎。予曰。說見內經。實熱者。邪火也。可以水制。可以實折。故以寒治熱者。逆治法也。虛熱者。真火也。水不能制。寒不能折。唯甘溫之劑。可以勝之。故以溫治虛熱者。從治法也。逆之從之。不離乎正。</p>
<p>按錢氏書中。有潮熱發搐似驚者。附會之說也。蓋熱則生風。諸熱不退。皆能發搐。不特潮熱也。其以十二時分五臟者固是。愚竊有疑焉。人身之氣。晝則行陽二十五度。故晝則發熱。夜則明瞭者。此熱在氣分。宜小柴胡湯白虎湯主之。夜則行陰二十五度。故夜則發熱。晝則明瞭者。此熱在血分。宜四物合桂枝湯主之。如晝夜發熱者。此氣血俱虛也。宜如前法。分表裡虛實治之。如日晡潮熱。乃胃中有宿食也。宜下之。小承氣湯。三黃枳朮丸主之。</p>
<p>如傷風發熱。傷飲食發熱。變蒸瘡疹發熱。胎熱疳熱。各隨其類治之。</p>
<p><u>生犀散</u>　治風熱。</p>
<p>地骨皮　赤芍藥　北柴胡　乾薑（各一兩）　甘草（半兩）　生犀角（二錢）　上為細末。每服一二錢。水一盞。煎七分溫服。</p>
<p><u>脫甲散</u>　治夾驚傷寒。煩躁口渴。</p>
<p>柴胡　當歸　龍膽草　甘草炙　知母（各三錢）　白茯苓（二錢五分）　人參　川芎（各二錢）　麻黃（連根節二錢）　熱甚。加升麻葛根。上為細末。每服一錢。入連須蔥白煎服。</p>
<p><u>黃連安神丸</u>　治心熱。</p>
<p>硃砂（飛四錢）　黃連（五錢）　甘草（五分）　上為末。餅丸。黍米大。每服一二十丸。燈草湯下。</p>
<p><u>木通散</u>　治心肺熱。</p>
<p>生地黃　木通　荊芥　地骨皮　桑白皮（炒）　炙甘草　桔梗（各等分）　上銼細。入生薑水煎服。</p>
<p><u>地骨皮散</u>　治夜熱及潮熱虛熱。病後餘熱。</p>
<p>知母　柴胡　甘草（炙）　人參　地骨皮（初採者）　半夏　赤茯苓（各等分）　上為末。量人大小加減。入生薑水煎。</p>
<p><u>升陽散火湯</u>　治諸熱在表者。宜發散之。乃火鬱則發之也。</p>
<p>升麻　葛根　獨活　羌活　人參　白芍藥（各五分）　防風（二錢五分）　柴胡（八分）　甘草（炙二分）　甘草（生二分）　上用水煎。</p>
<p><u>牛黃涼膈丸</u>　治上焦壅熱。口乾咽痛。燥煩涎潮。</p>
<p>馬牙硝　寒水石　石膏（各二兩）　甘草（微炙一兩）　膽星（三錢）　紫石英（五錢飛）　牛黃　腦子　麝香　上為末。煉蜜丸。每一兩分二十四丸。每一丸薄荷湯化下。</p>
<p><u>神芎丸</u>　治一切諸熱。實者服之。虛者禁用。</p>
<p>大黃　黃芩（各二兩）　牽牛頭末　滑石（各四兩）　黃連　薄荷葉　川芎（各半兩）　上為末。水丸。隨大小加減。溫水下。</p>
<p><u>黃芩湯</u>　治心肺蘊熱。口瘡痛。淋濁不利。</p>
<p>澤泄　梔子仁　黃芩　麥門冬　木通　生地黃　甘草　黃連（各等分）　上銼入生薑一片水煎。</p>
<p>竹葉湯治虛熱。</p>
<p>竹葉　石膏　半夏　麥門冬　人參　甘草（炙）　粳米　上銼。除粳米外。先煎眾藥成。去渣入米再煎。米熟去米服。</p>
<p><u>柴苓湯</u>　小柴胡合五苓散　通聖散　大金花丸　敗毒散　涼膈散　河間涼膈散。用硝磺</p>
<p><u>。東垣涼膈散。去硝磺。加桔梗。</u>　四順清涼飲十神湯　茵陳五苓散（五苓散加茵陳）</p>
<p>一兒生下。便有目赤口瘡之症。自是頭常熱。山根青筋橫截。幼疾甚多。予曰。此胎熱也。其治在肝。小兒者純陽之體。頭者諸陽之會。肝為乙木旺於春。乃少陽發生之氣。經云。春氣者病在頭。故頭常熱也。肝之色青。故青筋浮露也。肝常有餘。不治。恐發驚風。乃用瀉青丸去大黃加黃芩為末。煉蜜為丸服之。自此頭涼。青筋泯沒。亦少病矣。</p>
<p>一兒發熱。至日晡尤甚。其醫作瘧治。不效。又作潮熱治。亦不效。予曰。此胃虛有宿食也。謂瘧疾則寒熱有發有止。謂潮熱則發有時。如水之潮過即退。次日依時復發。此兒身常溫熱。至申酉時則甚。故知是宿食發熱也。彼曰。有所據乎。曰。出仲景傷寒正理論陽明病證云。潮熱者。實也。宜下之。以三化丸下之愈。</p>
<p>一兒驚風后熱不退。群醫有議用小柴胡者。有欲用竹葉湯者。有欲用涼驚丸者。予曰。大驚之後。脾胃已虛。宜溫補之。三藥寒涼。不可服也。乃作理中湯用炒乾姜。一劑熱除。</p>
<p>已未冬十月。本府三守張公子。於初三日發熱。初五日熱益甚。目上直視。口多妄言。眾醫作風治。無效。時代巡在府。所屬州縣官各舉其醫。皆莫治。吾縣大尹云閣朱公以全薦。張公亟召之。全往。此二十七日也。診其外證。稟曰。公子病勢將退。但肺熱未除耳。公曰。何如。全曰。三關黃潤。兩目精明。此病當愈。惟正面載陽。喘氣上息。此肺虛熱也。公喜曰。予正憂其氣喘。汝謂無妨。當用何藥。全曰。小阿膠散。眾醫嗾而阻之。公不聽。竟服一劑。其夕喘止熱退。始求微食。二十八日早。公謂眾醫曰。汝等作風治誤矣。昨聽汝等之言。則無此效。早請汝來。此兒不受苦也。眾慚而退。二十九日。賜金馳驛而歸。</p>

<h1>卷之三</h1>

<h2>脾經主病</h2>
<p>脾主困。實則日晡身熱飲水。虛則吐瀉生風。</p>
<p>實則瀉黃散三黃丸瀉之。虛則益黃散異功散小建中湯調元湯肥兒丸補之。</p>
<p><u>瀉黃散</u>　治脾熱弄舌。</p>
<p>藿香葉（七錢）　山梔仁（二兩）　石膏（五錢）　防風（四兩）　上銼。蜜酒炒微香。碾為末。水煎溫服。</p>
<p><u>益黃散</u>　治脾胃虛冷。</p>
<p>陳皮（一兩）　青皮　訶子　炙甘草　丁香（各二錢）　上為末。水煎服。量大小加減。</p>
<p>治脾胃寒濕太甚。神品之藥也。以補脾胃之虛誤矣。病非嘔吐瀉痢清白。不可服也。東垣云。丁香辛熱助火。火旺土愈虛矣。青橘皮瀉肝。丁香大瀉肺與大腸。脾胃實當瀉子。今脾胃虛。更瀉子而助火。重虛其土。殺人無疑。故以異攻散代之。</p>
<p><u>錢氏異功散</u>　溫中和氣。治吐瀉不思食。及脾胃虛冷痛。</p>
<p>人參　白茯苓　白朮　甘草（炙）　陳皮（各等分）　上為末。每服一錢半至二錢。水煎服。即四君子加陳皮。</p>
<p><u>調元湯</u>　補脾胃。扶元氣之聖方。益脾土。瀉火邪。補元氣之要藥。</p>
<p>黃耆（蜜炙）　人參（各等分）　炙甘草（減半）　上水煎。不拘時服。</p>
<p><u>小建中湯</u>　治脾胃中氣虛損。加黃耆名黃耆建中湯。</p>
<p>白芍藥（酒炒）　炙甘草（各等分）　肉桂（減半）　上銼末。水煎成劑。去渣滓入白餳一匙。再煎一沸溫服。</p>
<p><u>肥兒丸</u>　小兒脾胃素弱。食少而瘦。或氣強壯。偶因傷食。或因大病後瘦。此家傳秘方。</p>
<p>人參　白朮　白茯苓　山藥（蒸）　蓮肉　當歸（酒洗各五錢）　陳皮（二錢）　青皮　木香砂仁　使君子　神麯（各三錢）　炙甘草　桔梗　麥糵（各二錢）　上為末。荷葉浸水煮粳米粉糊丸。麻子大。每服十五丸。二十五丸。三十五丸。四十五丸。至五十丸。米飲送下。</p>

<h2>脾經兼證</h2>
<p>諸困睡。不嗜食。吐瀉。皆脾臟之本病也。昏睡身熱。宜胃苓丸琥珀抱龍丸主之。吐瀉有冷有熱。冷者不渴。理中丸主之。熱者渴飲冷水。五苓散合天水散主之。</p>
<p>兼見肝證。初傷風吐瀉。惡風發熱。煩急頓悶。此宜發散。惺惺散主之。如先吐瀉。後變慢驚風者不治。</p>
<p><u>五苓散</u>　能分陰陽。止吐瀉。利小便。定驚悸。</p>
<p>豬苓　澤瀉　白朮　赤茯苓（各等分）　桂（減半）　上銼或為末。水煎。加硃砂名硃砂五苓散。加茵陳名茵陳五苓散。</p>
<p>天水散一名六一散。除熱止渴。化涎痰。利小便。</p>
<p>滑石（飛過六兩）　甘草炙（一兩）　上末碾勻。水調服。</p>
<p><u>惺惺散</u>　治傷寒時氣風熱。痰涎咳嗽。</p>
<p>四君子加桔梗　細辛　栝蔞根　防風（各等分）　上為末。小者每服一錢。大者二錢。入薄荷葉五片。水煎至七分。溫服。銼亦可。</p>
<p>兼見心證。發熱昏睡。夢中驚悸。宜東垣安神丸主之。渴飲水。辰砂五苓散。</p>
<p>兼見肺證。發熱昏睡。氣促而喘者。宜葶藶丸主之。</p>
<p><u>葶藶丸</u>　治傷食沖脾。傷風喘嗽。痰涎喘促者。</p>
<p>甜葶藶（去皮隔紙炒）　黑牽牛（炒取頭末）　防己　杏仁（去皮尖研為膏各等分）　上研和勻。取膠棗肉去皮杵爛。入藥再杵。丸麻子大。每服五丸至七丸。淡薑湯食後臨臥送下。量兒強弱加減。予今家傳去黑牽牛加蘿蔔子真蘇子炒入尤妙。</p>
<p>兼見腎證。羸瘦痿弱。嗜臥不能起者。宜脾腎兼補。補腎宜地黃丸。補脾宜養脾丸。如瀉久便膿血者死。</p>
<p><u>補腎丸</u>　此家傳補脾之聖方。小兒脾常不足。宜此補之。</p>
<p>人參　白朮　茯苓（炙）　粉草　白芍（酒炒）　黃耆（蜜炒）　陳皮　當歸身　山藥　蓮肉（各一兩）　神麯（五錢）　肉桂（二錢五分）　上為末。荷葉水煮粳米糊丸。麻子大。用米飲下。</p>
<p>一女嗜臥。發熱項軟。頭傾倒不能舉。諸醫作風治。而遲疑不決。予至見之。謂諸醫曰。此陽虛病也。蓋頭者諸陽之首。胃者諸陽之會。此女必乳食傷胃。胃氣不足。故清陽不升。而項軟不能任元也。可服調元湯。一劑而安。人皆歎服。</p>

<h2>脾所生病</h2>
<p>經云。諸濕腫滿。皆屬脾土。</p>

<h3>腫病</h3>
<p>腫有二。經云。面腫曰風。足腫曰水。凡腫自上起者。皆因於風。治在肺。宜發散之。所謂開鬼門者是也。鬼門。汗孔也。參蘇飲合五皮湯主之。</p>
<p>腫自下起者。因於腎虛。宜滲利之。所謂潔淨府。是利其小便也。故仲景云。治濕不利小便。非其治也。宜五苓散加防己檳榔主之。</p>
<p>有一身盡腫者。宜胃苓五皮湯主之。經鬱則折之。謂上下分消。以去其濕。發汗利小便。此方是小兒者。胃苓丸煎五皮湯送下。</p>
<p><u>胃苓丸</u>　此家傳十三方也。</p>
<p>蒼朮（泔浸）　厚朴　陳皮　豬苓　澤瀉　白朮　茯苓（各一兩）　甘草　官桂　草果仁（各三錢）　上為末。水面丸麻子大。米飲下。此小兒常用之藥。隨病換引。</p>
<p>先翁治小兒腫。只用胃苓丸正方。順收長流水。入燈心煎湯送下。每日午時。用五加皮煎湯。抱兒於房內無風處浴之。浴罷上床，令睡一覺。以薄被蓋之。得微汗佳。如是腫消而止。未有不效者。</p>
<p><u>五皮湯</u></p>
<p>桑白皮　陳皮　生薑皮　茯苓皮　大腹皮　水煎。</p>
<p>經紀萬邦瑞女。二十七歲。病腫甚異。寅後午前。上半身腫。午後醜前。下半身腫。上下盡消。惟牝戶腫。小便難。諸醫不能治。請予治之。予曰。經云身半以上。天之陽也。宜發其汗。使清陽出上竅也。身半以下。地之陰也。宜利小便。使濁陰出下竅也。正上下分消。以去其濕之法。唯半夜陰戶腫。不得小便。此又當從肝經求之。蓋厥陰肝經之脈。丑時起於足上。環陰器。又肝病者。則大小便難。用胃苓五皮湯。發汗利小便也。內有茯苓。所以伐腎肝之邪。木得桂而枯。又以辛散其肝經之水。以溫腎之真寒濕也。連服十一劑。而腫盡消去矣。</p>
<p>予奉先翁之教。凡腫微者。只用胃苓丸本方治之。如面腫甚者。胃苓丸本方內。加紫蘇葉二錢。苦葶藶一錢隔紙炒。以去肺經之風。足腫甚者。本方內加漢防己二錢。牽牛炒取頭末一錢。共為丸。燈心煎湯下。吾有一二門人。不守先訓。專用葶藶牽牛為治腫之藥。隨消隨腫。殺兒甚多。累吾之德。雖禁之不能阻也。</p>
<p>湖廣右布政使孫。隆慶丁卯。入場監試。為書經禮記總裁。有小姐病。留全司中調理。小姐誤食菱角傷脾。面腫而喘。夫人憂之。命余進藥。余立一方。用錢氏異功散。加藿香葉以去脾經之濕。紫蘇葉以去肺經之風。一劑而安。場罷後公出。見其方。謂全曰。此方甚好。取筆札令舍人孫環書記之。</p>
<p>小兒病嗽病瘧病瘡後腫者。皆虛腫也。</p>
<p>如受風雨水濕之氣而腫者。實腫也。通用胃苓丸主之。此家傳之法也。</p>
<p>小兒諸腫。不問虛實。並用胃苓丸五皮湯主之。此家傳也。</p>
<p>如因喘嗽面目浮腫者。宜消腫。葶藶丸主之。</p>
<p>如瘧後遍身浮腫者。此因瘧發之後。外中風邪。內傷冷水得之。宜胃苓丸。用長流水順取。入燈心煎湯送下。更於日午浴之。法如前。</p>
<p>如無他病浮腫者。視其腫起之處治之。如自面起。上半身先腫者。此風腫也。宜五皮湯加紫蘇葉防風主之。如從足起。下半身先腫者。此濕腫也。宜五苓散加防己木通主之。</p>
<p>如腫久不消。氣實能食者。宜利其水。商陸胃苓丸主之。腎者水之根。濕則傷腎。小兒久坐濕地者多此疾。</p>
<p>如氣弱食少者。只以補脾為主。脾屬土。土能勝水。脾強則水去。而腫消矣。宜參苓平胃散。加藿香葉紫蘇葉木香砂仁為丸服之。</p>
<p>有腎虛者。安腎丸服之。</p>
<p>有面目俱黃。遍身俱黃且腫者。此黃腫也。宜胃苓丸加茵陳服之。</p>
<p>如黃而不腫者。此疸證也。觀其色之明黯。如黃而色鮮明。小便色黃且澀者。此熱也。宜三黃金花丸主之。如黃色昏黯。小便不利者。此濕也。宜茵陳五苓散主之。</p>
<p><u>安腎丸</u>　大腫不消。腎虛不納也。</p>
<p>川烏（炮去皮尖）　桂心（各一兩）　白茯苓　白朮　石斛（酒炒）　白蒺藜（炒去刺）　巴戟天　蓯蓉（酒洗焙）　故紙（炒）　桃仁（微炒去皮尖）　萆薢（各三兩）　上為末。煉蜜為丸芡實大。每一丸鹽湯下。</p>
<p><u>胃苓五皮湯</u>　治腫要藥。平胃　五苓（方見前）　上銼。取長流水。燈心煎服。</p>
<p>商陸胃苓丸　病腫氣壯能食者。宜此治之。謂去菀陳莝潔淨府也。上共為末。水煮麵丸。麻子大。每服三十丸。至五十丸止。大便後快。又服。衰其半而止。</p>
<p>一兒瘧後腫。用胃苓丸。長流水煎燈心湯下。又用浴法。調理二十日而安。</p>
<p>一兒病腫。有庸醫假專門之名。不守家傳之法。嘗稱得異人之術。用牽牛葶藶為治腫方之神藥。作散服之。元氣下陷。肚大坐不得臥。陰囊腫大。莖長而卷。予見之嘆曰。脾土已敗。肝木獨旺。乃賊邪也。不可治矣。果死。</p>
<p>一兒病腫。腹大。彼有庸醫妄談。五日消一分。乃取繩子圍其腹量之。投以牽牛葶藶服之。利下數行。腫減十分之三。父母甚喜。約至五日再消三分。未三日又大腫。較大於前。庸醫聞之走去。病勢益甚而死。</p>
<p>一義子十五歲病疸。面目俱黃。予問之。對曰。傷食起。腹中大熱又痛。乃立一方。用黃柏梔子等分。大黃減半。以退其熱。豬苓澤瀉茯苓蒼朮等分。以去其濕。枳實厚朴神麯以去其食積。茵陳蒿倍用以去其黃。共為細末。酒糊丸。車前子煎湯下。三日後吐去黃水一碗許。胃中不熱。又二日泄三行。腹中不痛。十日以後。小便漸清。黃亦減矣。（此一段在疸門）</p>

<h3>脹病</h3>
<p>脹病有二。屬虛者多。實者少。東垣錢氏等從虛治。內經云。太陰從濕。謂寒濕也。作熱治者誤矣。當以脈證辨之。實脹者。或因食積。或因癖塊。先有物在胃腸中。而後脹形於外也。按之則堅。宜消導以去之。不可攻之。攻之愈虛。不可治矣。宜胃苓丸主之。</p>
<p>虛脹者。或因吐瀉瘧痢之後。脾胃久傷而病。此虛氣在於膜肓之外。其外雖脹。其中無物。按之則濡。扣之有聲。不可用攻。攻之即死。宜用溫補。錢氏加減異功散。作丸服之。</p>
<p>人參　白朮　甘草（炙各一錢）　陳皮　青皮　枳實（炒）　厚朴（炒）　半夏曲　黃連（薑汁炒錢五分）　木香　丁香　藿香葉　上共為末。神麯糊丸。麻子大。炒陳米湯下。因於熱者必口乾飲水。神識不清。無時譫妄。宜三黃丸。河間涼膈散。仍作膽導法。</p>
<p><u>河間涼膈散</u></p>
<p>連翹（一錢）　黃芩（二分五釐）　薄荷葉（二分）　梔子仁（三分）　甘草　大黃　朴硝（各五分）　上用水一鍾。竹葉五片。煎臨熟入蜜一匙。去渣溫服。</p>
<p>因於宿食者。必惡食吞酸。腹中時痛。宜三黃枳朮丸。方見後。木香檳榔丸主之。</p>
<p>因於積者。腹中陣痛。丁香脾積丸主之。</p>
<p>小兒腹脹。與大人不同。多因傷食得之。宜胃苓丸合丹溪保和丸主之。</p>
<p>如果傷食。腹脹或痛。吞酸惡食。大便不利者。宜木香承氣丸主之。</p>
<p><u>木香承氣丸</u></p>
<p>枳實（炒）　厚朴（薑汁炒）　檳榔（酒浸各等分）　木香（減半）　大黃（酒浸分兩同上三味）上為末。酒糊丸麻子大。白湯下。</p>
<p><u>木香檳榔丸</u>　治傷一切熱積。兼治痢疾腹痛。</p>
<p>木香　檳榔　青皮（去白）　陳皮（去白）　莪朮（煨）　黃連　黃柏　香附子　枳殼（麩炒各一兩）　大黃（炒）　黑醜（各加二倍）　婦人加當歸（兩半）　一方有黃芩三稜（分兩不同）　上為末。水杵為丸。麻子大。薑湯下。</p>
<p><u>加減塌氣湯</u>　治腹脹。</p>
<p>蓽茇　砂仁　青皮　陳皮　丁香　全蠍（炒）　萊菔子（炒各等分）　上為末。神麯糊丸。麻子大。厚朴湯送下。</p>
<p>予外甥女。有食積脾虛病。出痘後又傷食。腹脹不喜食。予用胃苓丸方。加枳實炒神麯麥糵青皮作丸服之。</p>
<p>予孫。邦子也。先病瘧。傷食成疳。又傷食。甚瘦。腹脹大而堅。見人則哭。予立一方。用人參白朮白茯苓甘草半夏曲枳實炒厚朴黃連木香莪朮砂仁使君子神麯麥芽鱉甲夜明砂當歸川芎等藥。</p>
<p>一小兒瀉後腹脹。予用加減塌氣丸服之愈。</p>
<p>一小兒瘧久不退。腹大而堅。予用化癖丸服之愈。</p>
<p>一小兒五歲。腹大善食。予見之。謂其父母曰。乳多必損胃。食壅即傷脾。令郎腹大如是。又不知節。縱其口腹。吾恐腸胃受傷，不成腸癖。必成疳也。後果成疳。肚大青筋。請予治。以集聖丸調理而愈。</p>
<p>一兒善食腹大。予用保和丸胃苓丸二方。相間調理而愈。</p>
<p>一兒因傷食腹痛脹。醫用藥下之愈。又傷食腹脹。醫再下之。予聞之曰。非其治也。誤殺此兒。果半年而死。或問。何料之神也。曰。有食飽傷胃而脹。法宜消導之。不可攻下也。有脾虛不能消食。食飽則脹者。此宜補脾。以助其傳化可也。豈可下乎。此兒初脹。食飽傷脾也。不行消導。乃下之。誤矣。後又腹脹。則脾虛之病也。再三下之。不大誤乎。屢下屢脹。故令腹大無紋。臍突背平而死。雖醫之誤。不聽吾言。父母之過也。</p>
<p>腹中有癖。瘧後多有之。兒有癖者。常作寒熱似瘧。不可作瘧治也。癖去則寒熱自止。家傳消癖丸甚效。</p>
<p>人參　陳皮　三稜　莪朮　木香　黃連　砂仁　鱉甲　枳實　夜明砂　使君子　乾蟾　半夏曲　麥芽　海昆布　上為末。酒糊丸。麻子大。米飲下。</p>
<p>先翁治癖只用香蟾丸。此家傳十三方也。</p>
<p>木香　人參　黃耆　當歸　桔梗　三稜　莪朮　鱉甲　綠礬　枳實　使君子　楝根皮　訶子　乾蟾（七錢五分）　黃連（一兩）　上為末。丸如綠豆大。每服三四十丸。米飲下。</p>

<h3>腹痛</h3>
<p>（有蟲有積）</p>
<p>蟲痛發作無時。隨痛隨止。發則面色㿠白。口吐涎沫。腹中痛作疙瘩。脈洪大。目直視似癇。宜下之。用木香檳榔丸。苦楝根白皮煎湯送下。先翁用雄黃解毒丸下之。小兒體弱者。不可下也。用安蟲丸以漸去之。</p>
<p>莪朮（醋煨）　木香　黃連　青皮　檳榔　使君子　白蕪荑仁　白雷丸　苦楝根皮（白者可用。赤者有毒。各等分。）　上為末。醋面丸。麻子大。白湯下。</p>
<p>家訓云。凡欲取蟲。須於每月上弦前取之。蟲頭向上。若望後頭向下。不可取也。</p>
<p>王小亭子善食。嘗苦蟲痛。予用安神丸服之。三日後取下一蟲甚異。約長一尺。身赤色。大如鱔令人手持其兩頭牽之。長二三尺。形如小線。放下依舊短縮。此蟲母也。</p>
<p>胡泮西弟蚤卒。遺子。乃泮西夫人養之。嘗苦腹中蟲痛。請先翁治之。再三不效。復請予治之。予問先翁。曾用何藥。翁曰。雄黃解毒丸。予問翁。再有別方否。翁曰。只此一方。用之屢效。予告翁云。此蟲有靈。當設法取之。擇定除破日。在每月初旬取之。勿令兒知也。隔夜煎下苦楝根湯。次日五更與其伯母議。用清油煎雞子餅一個。先食之。後服藥。故不與食。兒聞其香味。急欲食之。腹中如有物湧上心口。取藥與服之。少頃心口之物墜下。以蛋食之不食也。巳時腹中大鳴而瀉。下一蟲甚異。約小指長。有頭有手足。狀如嬰兒。予見之驚曰。此云傳癆蟲也。泮西云。彼父癆死。母亦癆死。今此兒。正三傳也。幸去之矣。令一婢用鐵鉗夾之河中。以火焚之。有煙撲入婢口中。其婢亦病癆死。此男無恙。至今誦之。翁曰。汝用何藥。如此神效。余曰。雄黃解毒丸。恐人知之。故秘之也。</p>
<p>本縣戶房吏閻姓者。麻城人也。子有蟲痛。黃瘦。腹中時痛。口饞。如有肉食則痛不發。一日無肉。則痛發也。請先翁治之。翁命予往。見其子甚弱。不敢下。乃思一計。只用苦楝根皮。放肉汁中煮食之。單服三日。下蟲如蝌蚪者一盆。色黃黑。後以養脾丸調理而安。閻厚謝。先翁謂先母曰。吾有子矣。往吾教他讀書。醫出於儒。先母聞之喜。</p>
<p>一兒七歲善食肉。嘗病腹痛。其父問曰。積痛蟲痛何如。予曰。積痛發有常處。手不可按。惡食而口乾。蟲痛無常處。喜手按摩。口饞而吐清水。此兒乃蟲痛也。以藥取之。下蟲大者十餘條而痛止。未一月又痛。予曰。不可再取矣。如不去其蟲。則痛不除。積不除。則蟲又生。苟再取之。恐傷胃氣不可也。乃立一方。用黃連木香檳榔去積為主。陳皮青皮三稜莪朮枳實山楂。專去其積。使君子白蕪荑川楝子苦楝根皮。專去其蟲。等分為末。神麯糊丸。麻子大。米飲下。常服之。時下小蟲。及下大蟲如指大。約長一尺。乃蟲母也。自後痛漸減。</p>
<p>或問。人腹中皆有蛔蟲。何兒之蟲獨多也。予曰。小兒食傷成積。積化為蟲。嘗觀草腐而化螢。木腐而生蠹。人脾虛而蟲集。其理一也。或又問。蟲之狀有不同者。何也。曰。各從其臟變化也。如心屬火化為羽蟲。肝屬木化為毛蟲。肺屬金化為介蟲。腎屬水化為鱗蟲。脾屬土化為倮蟲。故蛔蟲倮蟲出於脾。為土化也。</p>

<h3>積痛</h3>
<p>小兒腹痛。屬食積者多。食積之痛。屬寒者多。蓋天地之化。熱則發散而流通。寒則翕聚而壅塞。飲食下咽之後。腸胃之陽。不能行其變化轉輸之令。使穀肉果菜之物。留戀腸胃之中。故隨其所在之處。而作痛也。</p>
<p>如在胃中猶是完物。在當心而痛。宜吐之。所謂高者越之也。瓜蒂散主之。</p>
<p>其在小腸中。雖變化猶是糟粕。其痛在心之下臍之上。宜辛溫之藥利下之。宜丁香脾積丸主之。</p>
<p>一兒周歲。食肉太早。自此成積，日漸羸瘦。不思乳食。其父沙溪告予。請醫治之。予取養脾去積丸。先服三日。後用脾積丸。雞肉湯下。取下雞肉一片。猶未化也。再服養脾丸調理而愈。</p>
<p>其在大腸者。水穀已分。傳送廣腸為疾也。其痛在臍之上。宜苦寒之藥下之。木香檳榔丸主之。</p>
<p>如可吐者。不如鹽湯探吐之法尤妙。如飲食之後更有胃口痛者。此宜吐之。如因舊日之積作痛者。不可吐之。恐傷胃氣。宜小陷胸丸主之。</p>
<p>枳實（麩炒二錢）　半夏　黃連（薑汁炒各二錢）　草豆蔻（炒五分）　上為末。神麯糊丸。麻子大。薑湯下。</p>
<p>王小亭一日胃腕當心而痛。請予治之。七日不止。予以手摸其胸腹。問在何處。惟心之下。手不可近。予曰。吾差矣。何怪其藥之不效也。凡腹痛手可按者。虛痛也。手不可按者。實痛也。實痛。非積則痰。故不可按也。乃立一方。於枳實導滯丸控涎丹二方內。擇取枳實黃連半夏各二錢。木香黑牽牛頭末白芥子炒甘草等分。搗羅為末。用生薑自然汁和神麯作丸。麻子大。以沉香木香檳榔磨水下。或薑湯亦可。初服二十一丸。少頃痛移下中脘。又服七丸。至臍下。又服五丸。利下清水而止。乃知是脾痛也。復作枳朮丸加青皮陳皮木香砂仁神麯麥芽山楂。調理而安。治痛者。其可忽諸。</p>
<p>凡腹中積痛者。只在腸胃之中。蓋腸胃為市。物之聚也。脾主腐化。而無所受故也。非客所犯必不為痛。如有脾痛者。宜祖傳　三聖散　主之。</p>
<p>蒼朮（鹽炒）　香附子（鹽炒）　良薑（清油炒）　上為細末。熱酒調下。</p>

<h3>吐瀉</h3>
<p>吐出上焦。瀉出下焦。乃腸胃之病也。脾在中焦。管攝乎上下之間。吐瀉互作者。乃脾之病也。</p>
<p>夫人身之中。足陽明胃脈之氣。自上而下。足太陰脾脈之氣。自下而上。上下循環。陰陽交接。謂之順而無病也。故胃氣逆而為上。則為嘔吐。脾氣逆而為下。則為泄瀉。吐瀉之病。脾胃為之總司也。</p>
<p>發揮云。胃在上焦主內而不出。嘔吐則不納矣。腸在下焦。主出而不入。有積泄瀉。出則無積矣。觀李知先活人書括云。胃家有熱難留食。胃冷無緣納水漿。則吐瀉之出於上焦也明矣。又張長沙傷寒論云。下利服理中不止。理中者。理中焦也。治泄不利小便。非其治也。五苓散主之。不止者在下焦。赤石脂禹餘糧湯主之。則泄瀉出於下焦也明矣。</p>
<p>赤石脂（一斤）　禹餘糧（一斤）　上水六升。煮取二升。去渣。分三服。</p>
<p>又按治泄利者。有四法焉。有用理中湯。以治其中氣者。有用五苓散。以利其小便者。有用真武湯。以溫其腎者。有用赤石脂禹餘糧。以固澀其大腸者。不可不知其要也。蓋腎開竅於二陰。主蟄藏者也。如門戶然。泄瀉不止。門戶不固也。故用姜附以溫之。閉其門戶也。腸胃者。容受水穀之氣。猶倉廩然。脾司出納。乃倉廩之官也。吐瀉不止。乃倉廩之不藏。官之失其職也。故用參朮以補之。封其倉廩也。下焦者。水穀注下之路。如溝瀆然。小便不利者。溝瀆之不能別也。故用豬苓澤瀉以利之。疏通其水瀆也。大便不禁。溝瀆之不能瀦也。故用赤石脂禹餘糧以澀之。塞其決也。</p>
<p><u>真武湯</u></p>
<p>茯苓　芍藥　生薑（各一兩）　附子（一枚炮破八片）　白朮（二兩）　上用水八升。煮取三升。溫服七合。日三。</p>
<p>祖訓治吐瀉者。只用胃苓丸。吐以煨生薑湯。泄以一粒丹和之。炒米湯下。</p>
<p>一粒丹（亦名白玉丹）　此家傳十三方也。</p>
<p>寒水石（煅二兩）　白礬（枯一兩）　上為末。水糊丸。小豆大。每一丸米湯下。</p>
<p>錢氏曰。脾主困。謂疲憊也。非嗜臥也。吐瀉久則生風。飲食傷則成疳。易至疲憊也。此與腎主虛同。</p>
<p>論腎者。元氣之主。腎虛則為稟賦不足之病。脾者穀氣之主。脾虛則為津液不足之病。故小兒五臟之病。脾腎最多。肝心次之。肺又次之。</p>
<p>小兒吐瀉。多因傷乳食得之。</p>
<p>如吐瀉時不啼哭。不喜飲食。此傷乳食也。初得之不可遽止。宿食未盡去也。宜換乳食。勿令重傷。吐瀉益甚。非醫之咎也。益黃散主之。</p>
<p>有熱者胃苓丸。用東向陳壁土。和生薑少許炒焦。入水煎湯。澄清吞下。瀉不止。以胃苓丸一粒丹合而服之。煎湯下效。</p>
<p>如吐瀉時不惡風寒。喜人懷抱。此傷風吐瀉也。宜發散。惺惺散。</p>
<p>如吐瀉時啼哭。其身俯仰不安者。必腹中有痛。此藿亂也。內傷乳食。外感風寒得之。先治其里。宜理中湯加藿香。後治其表。桂枝湯。表裡通治。藿香正氣散。</p>
<p>一兒周歲。吐瀉並作。時天大寒。醫用理中胃苓丸。服之不效。予曰。此表裡有寒邪。未得發散也。取益黃散與之。其夜得大汗而止。</p>
<p>一女歲半。與前兒同症。吐瀉。此傷食也。前有外感風邪。故用益黃散。溫其表裡之寒。此只是傷食。用胃苓丸一粒丹陳壁土湯下。調其脾胃。消其食積。而吐瀉俱止。</p>
<p>一兒暴吐瀉。上下所出皆乳不化。用理中丸服之效。</p>
<p>一兒暴吐瀉。上下所出皆黃水。中有乳片不化者。用二陳湯。加黃連薑汁炒煎服效。</p>
<p>或問。二病同。而治之異者。何也。曰。所出之乳不化者。胃有寒也。故以理中丸急溫之。所出乳片不化者。胃有熱邪。熱不殺穀。宜半夏黃連以解之。此同病異治法也。</p>

<h3>嘔吐</h3>
<p>小兒嘔吐。多因乳食之傷得之。非若大人有寒有熱也。然因於寒者亦有之。</p>
<p>嘔乳。溢乳。哯乳。當分作三證治之。</p>
<p>嘔乳者。初生小兒。胃小而脆。容乳不多。為乳母者。量飢而與之。勿令其太飽可也。子之胃小而脆。母之乳多而急。子縱飲之則胃不能容。大嘔而出。嘔有聲。而乳多出。如瓶注水。滿而溢也。</p>
<p>溢乳者。小兒初生筋骨弱。左傾右側。前俯後仰。在人懷抱扶持之也。乳後太飽。兒身不正。必溢出二三口也。如瓶注水。傾而出也。</p>
<p>哯乳者。小兒無時乳常流出。口角唇邊常見。如瓶之漏。而水滲出也。即哺露。</p>
<p>嘔乳者。節之可也。溢乳者。正抱其身可也。皆不必治。哯乳者。胃病虛也。宜補之。理中湯丸。加藿香木瓜主之。</p>
<p>先翁治小兒嘔吐。只用胃苓丸研碎。以生薑煨熱煎湯調下。即止。</p>
<p>理中湯治嘔吐。或有不止者。嘔家不喜甘故也。必去甘草加藿香之辛。木瓜之酸。用之效。</p>
<p>傷冷乳者。所出清冷。面㿠白者是也。宜益黃散。煨生薑煎湯調服。</p>
<p>傷熱乳者。物出熱。面赤唇燥者是也。宜六一散。煨生薑煎湯調服。</p>
<p>傷乳食。物出作餿酸氣者是也。宜胃苓丸。煨生薑煎湯研碎調服。</p>
<p>本縣儒學教官陶。有一子生八月病吐。諸醫治之不止。湯丸入口即吐。諸醫云。食入即吐。是有火也。欲作火治。用瀉火藥又不效。眾醫不能治。其吐益劇。即請予至議治。予曰。理中湯。師曰。服此方不得入也。予曰。用法不同。時有生員蔡一山。素與吾不睦。在傍笑云。不必多言。且看汝法何如也。予曰。汝亦不必多言。明早來問。始見吾之能也。此非試宏詞博學科。何相忌耶。作理中湯劑。用獖豬膽汁童便各半。拌之炒焦。以水煎服。藥入立止。次早蔡生來問。師曰。果效。問是何方。曰理中湯。蔡子又問何法。予曰。此在傷寒論中豬膽人溺白通湯方下。兄歸讀之。自理會出來。師又問予曰。吾聞蔡子常妒汝。今信之。請言其法。予曰。吐本寒邪。當用理中湯熱藥以止之。內寒已甚。格拒其陽。故熱藥入喉。被寒所拒。不得入也。今膽汁之苦寒。童便之鹹寒。下喉之後。兩寒相得。故不復出。須臾之間。陰氣漸消。陽氣乃發。此熱藥須冷服。以主治格拒之寒。以止嘔噦者是也。宋理宗嘔吐不止。召醫楊吉老治之。問用何方。曰辛熱藥也。帝曰。服之不效。吉老奏曰。熱藥冷服。藥成放井中良久。澄冷進服。一啜而吐止。即此法也。師聞而喜之。後以六君子湯作丸調之。</p>
<p>王少峰次子。三個月病吐。請醫治之。藥乳不納。予見其兒在乳母懷中。以身伸弩。上竄。呃呃作聲。有發驚之意。乃取理中湯丸末子一分。用豬膽汁童便各半匙。調分三服。初一次少停。略以乳喂一二口即止。又進一次。又乳之。其兒睡一覺。醒則嘔止。不伸弩。不呃呃作聲矣。予以是法教諸子止吐。活人甚多。乃良法也。</p>
<p>英山鄭孔韶一女。辛丑三月患嘔吐。請予往。視其證。乃傷食吐乳也。家人云無。乃用理中湯。去甘草加丁香藿香不效。又作膽汁童便法。亦不效。四日後吐出飯半碗。予謂家人曰。此女數日不食。何以有此完飯也。吾言傷食。汝固曰無。勞吾心力。不得見效。遂取脾積丸投之。取下惡糞如靛。詢之。果五日前外翁王宅歸。所吐出之飯。即所食之飯也。壅塞腸胃。格拒飲食。所以作吐。下之即愈。</p>
<p>予思小兒嘔噦不止。多是肝膽二經之病。故仲景豬膽人溺白通。方在厥陰病中。</p>
<p>新制一方。治嘔吐不止之病。</p>
<p>吳茱萸　黃連（各等分銼）　上用向東壁土一塊。杵碎。用藥放在銚中炒焦。入水煎一二沸。澄清服之。</p>
<p>凡治小兒嘔吐。止後不可便與乳。其吐復作。非醫之咎也。吐後多渴。禁與湯水。須使忍一時。渴自止也。若與湯水。轉渴轉吐不可止也。大人同。</p>
<p>有吐蛔者。胃寒甚也。宜理中丸。用烏梅與椒煎湯。調服神效。</p>
<p>寒水石（煅飛二兩）　半夏（泡七次七錢五分）　白枯礬（五錢）　上為末。水糊為丸。麻子大。薑湯下。此家傳十三方也。</p>
<p>因於寒者。食久則吐。其乳不化。宜理中湯加藿香砂仁主之。</p>
<p>因於熱者。食入則吐。其乳成片。宜理中湯加黃連竹茹主之。</p>
<p>因於食積者。吐出餿酸氣味。惡食。宜養脾消積丸。甚者丁香脾積丸主之。吐止後。胃苓丸主之。</p>
<p>因於蟲者。吐多清水。腹痛多啼。宜理中湯加木香檳榔丸主之。</p>
<p>嘔吐藥食不得入者。此胃中有寒。陰盛格陽也。宜理中湯入童便豬膽汁主之。</p>
<p>一兒初生即吐。醫欲用錢氏木瓜丸。予阻之曰。不可。小兒初生。胃氣甚微。初飲乳或有乳多過飽而吐者。當令乳母緩緩與之。或因浴時客寒犯胃而吐者。當取其乳汁一杯。用薑蔥同煎。少與服之。或因惡露涉水。停在腹中而吐者。宜以炙甘草煎湯而吐去之。如何敢用木瓜丸。以鐵粉檳榔之劑。重犯其胃中初生中和之氣耶。故常語人曰。錢氏小兒方。非先生親筆。乃門人附會說也。</p>
<p>一兒自滿月後常吐乳。父母憂之。諸醫不能止。一日問予。予曰。嘔吐者。非常有之病也。今常吐乳。非病也。然孩兒賴乳以生。頻吐乳者。非所宜也。恐傷氣。不可不求其故。有母氣壯乳多者。唯恐兒飢。縱兒飽足。飽則傷胃。所食之乳湧而出。此名嘔乳。如瓶之注水。滿而溢也。宜損節之。更服肥兒丸。兒之初生。筋骨軟弱。為乳母者。常懷抱護持可也。不然則左右傾側。其乳流出。此名溢乳。如瓶之側。其水流出也。能緊護持。則不吐也。有胃弱者。不能受乳而變化之。無時吐出。所吐不多。此名哺露。如瓶之漏。不能容受也。當補其脾胃。助其變化可也。亦以肥兒丸主治。</p>

<h3>泄瀉</h3>
<p>泄瀉有三。寒熱積也。</p>
<p>寒瀉者不渴。宜理中丸主之。</p>
<p>熱瀉者有渴。宜五苓散合六一散主之。</p>
<p>積瀉者面黃。所下酸臭食也。宜丁香脾積丸下之。積不去。瀉不止也。</p>
<p>三稜（煨）　莪朮（煨）　良薑（醋煮）　青皮（去白醋煮各五分）　丁香（去蒂三錢五分）　木香牙皂　百草霜（各三錢）　巴豆霜（二錢五分）　上為末。醋麵糊丸。麻子大。隨人加減。</p>
<p>胡三溪子病瀉不止。三溪自與甘大用同醫。皆吾所傳也。不效。其兄元溪云。今有璞玉於此。雖萬鎰必使玉人雕琢之。今子病。何不請密齋。爾與甘子能治之乎。時吾在英山。此子原結拜我。吾聞之即歸。問其所用之方。皆不對證。觀其外候。面色黃。所下酸臭。此積瀉。宜下之。積去瀉斯止矣。乃取丁香脾積丸。一服而安。其父問云。吾聞濕多成五瀉。未聞所謂積瀉也。予曰。難經有所謂大瘕瀉者是也。濕成五瀉者。有內因者。有外因者。有不內外因者。如因於風者。水穀不分。謂之飧泄。因於熱者。水穀暴泄。謂之洞泄。因於寒者。水穀不化。謂之溏瀉。因於濕者。水穀稠黏。謂之濡瀉。此四瀉者。外因之病。濕自外生者也。因於積者。膿血交雜。腸鳴腹痛。所下腥臭。謂之瘕瀉。瘕者。宿食積滯之名。乃食症也。此內因之病。濕自內生者也。有不內外因者。乃誤下之病。有挾熱挾寒之分。所謂腸垢鶩溏者是也。又問。脾積丸乃取下之劑。何以能止瀉也。曰。胃者。水穀之海。腸者。水穀流行之道路也。泄瀉者。腸胃之病也。腸胃無邪。則水穀變化。便溺流行。是為無病兒矣。今有宿食不化。陳腐之物。菀積於腸胃之中。變為泄痢。如源泉之水。停積於中。流出於外。苟不溯其源而出之。則泄痢終不止也。故以脾積丸去其陳腐。此拔本塞源之法。按本草云。巴豆未泄能令人泄。已泄能令人止。脾積丸之治積泄。祖訓當遵守也。余教諸子治泄瀉。始終三法。</p>
<p>初用理中丸一服。不止。次用五苓散。一二服分利。不止。三用白朮散服之良。又不止。用參苓白朮散調理。未有不效。再不止。用參苓白朮散二分。豆蔻一分。</p>
<p>發揮云。難經五瀉之論甚詳。予論大腸瀉。小腸瀉。大瘕瀉。則易明。予論脾瀉腎瀉。則難分曉也。且腑者。府也。謂水穀所藏之府。有所受則有所出。臟者。藏也。乃魂魄神志意所藏之舍。無有所受。豈有所出哉。其脾瀉者。即胃瀉也。謂脾不能約束其胃。胃不能藏而瀉也。故瀉有屬脾者。有屬腎者。但自胃來者。水穀注下而多。自脾來者。則成黃糜。瀉無度而少也。觀仲景傷寒論中。大便不通者。用脾約丸。其意明矣。腎亦臟也。謂之腎瀉者。腎開竅於二陰。為閉藏之主。腎虛則不能主閉藏。而水穀自下。且下焦如瀆。有所受則有所出也。但瀉不同。難經云。其瀉下重者。即腎瀉也。觀東垣先生脾胃論。補中益氣湯方。凡大便弩責者。加當歸身紅花。弩責者即下重。當歸紅花以潤血。蓋腎惡燥。故用二物以潤之。腎瀉亦與大瘕瀉同。瀉者痢也。乃積滯之物。故痢曰滯下。況痢則腹痛。有腸鳴。有裡急。有赤白。若腎瀉。則便時略難。卻無裡急後重之證。故云。痢則下重也。古人立方治腎瀉。有用破故紙者。補其腎也。有用吳茱萸者。補其肝也。皆苦以堅之辛以潤之之法。今吾立方治脾瀉者。只用參苓白朮丸。治腎瀉者。只用六味地黃丸加破故紙。甚效。</p>
<p>胃瀉。大腸泄。小腸泄。三者不同。蓋自胃來者。水穀注下而不分。所下者皆完穀也。此寒。治宜理中丸主之。自小腸來者。亦水穀注下而不分。則成糟粕而非完穀。且小腸為受氣之府。水穀到此。已變化而未盡變化也。治宜分別水穀。以五苓散主之。使水穀分利。則瀉止矣。自大腸來者。則變化盡而成屎。但不結聚。而所下皆酸臭也。宜用傷寒論中禹餘糧湯。陳文中痘疹方中肉豆蔻丸主之。此澀可以去滑之法也。</p>
<p>叔和云。濕多五瀉。此本內經濕勝則濡瀉之論。所謂五瀉。則與難經之論不同。素問以臟腑分五瀉。叔和以風寒濕熱食分五瀉。</p>
<p>如泄時有發熱惡寒。水穀不分者。此風濕證也。謂飧泄。經云。春傷於風。夏生飧泄者是也。宜小建中湯加防風主之。若兼膿血者。胃風湯主之。</p>
<p>如瀉時有腹痛。或吐或不吐。所瀉者多完穀未化。此寒濕證也。宜理中湯主之。</p>
<p>如瀉時有腹痛。或痛或不痛。所下亦有完穀而未盡化者。此邪熱不殺穀也。有成糟粕者。皆屬熱濕。以傷寒論中豬苓湯主之。寒濕熱濕宜詳辨之。屬寒者不渴。屬熱者渴也。</p>
<p>如瀉時水穀混下。小便少而大便多者。此濕瀉也。有溏瀉無度者。此久濕也。並宜五苓散主之。</p>
<p>如瀉時有腹痛腹鳴之證。惡食。所下酸臭之物。此因宿食停滯於中而成濕。此食化為濕也。宜下之。積去泄自止也。丁香脾積丸主之。</p>
<p>泄瀉二字。亦當辨之。泄者。謂水穀之物泄出也。瀉者。謂腸胃之氣下陷也。</p>
<p><u>豬苓湯</u></p>
<p>豬苓　澤瀉　阿膠　滑石　茯苓（各一錢）　水煎。</p>
<p>春月得之名傷風。其證發熱而渴。小便短少。宜先清熱後補脾。清熱薷苓湯。補脾白朮散。</p>
<p>夏至後得之瀉者。有寒有熱。渴欲飲水者。熱瀉也。先服玉露散以清暑止渴。後服白朮散以補脾。</p>
<p>如不渴者。寒瀉也。先服理中丸以溫中補脾。後服五苓散。以清暑。此祖傳之妙也。</p>
<p>夏月水瀉。其詳在因五邪之氣所生病條內有案。</p>
<p>秋月得之。傷濕瀉也。其證體重。所下溏糞。謂之濡瀉。宜滲濕補脾利小便。胃苓湯主之。或升麻除濕湯。</p>
<p>冬月得之。傷寒瀉也。其證腹痛。所下清水。宜溫。理中丸或理中湯加熟附子少許主之。不止宜豆蔻丸。</p>
<p>四時之中。有積瀉者。面黃善腫。腹中時痛。所下酸臭者是也。宜先去積。後調脾胃。去積丁香脾積丸。調理脾胃胃苓丸。</p>
<p>治瀉大法。不問寒熱。先服理中丸。理中者。理中氣也。治泄不利小便。非其治也。五苓散主之。更不止。胃氣下陷也。補中益氣湯。清氣上升則不瀉矣。又不止者。此滑瀉也。宜澀之。豆蔻丸主之。此祖傅之秘法也。</p>
<p>小兒泄瀉。依法治之不效者。脾胃已衰。不能轉運藥性以施變化。只以補脾為主。脾胃既健。藥自效也。白朮散主之。常與無間。此予先父之秘授也。</p>
<p>久瀉不止。津液消耗。脾胃倒敗。下之谷亡。必成慢驚。所謂脾虛則吐瀉生風者是也。故應補脾胃於將衰之先。宜用白朮散補之。補之不效。宜用調元湯加建中湯急救。否則慢風已成。雖使仲陽復生。不可為也。（詳見慢驚內。）小兒泄瀉。大渴不止者。勿與湯水飲之。水入則愈加渴而病益甚。宜生脾胃之津液。白朮散主之。</p>
<p>久瀉不止。發熱者。此津液不足。乃虛熱也。勿投以涼藥。反耗津液。宜白朮散主之。如熱更甚。黃連丸主之。</p>
<p><u>白朮散</u>　治小兒泄瀉煩渴者。</p>
<p>四君子加木香　藿香（各等分）　葛根（加一倍）　上作大劑。水煎常服。以代湯水。</p>
<p><u>黃連丸</u>　治久瀉發熱。此虛熱也。</p>
<p>黃連　乾蟾（炙各二錢）　木香（一錢）　使君子（一錢）　蘆薈　夜明砂（各七分）　上為末。山藥研粉。水糊丸。麻子大。米水下。</p>
<p><u>升麻除濕湯</u>　治風濕作瀉。自下而上者。引而竭之。如脾胃甚弱。不思飲食。腸鳴腹痛。泄瀉無度。小便赤澀。四肢困倦。</p>
<p>升麻　柴胡　防風　神麯　澤瀉　豬苓（各五分）　蒼朮（一錢）　陳皮　甘草（炙）　麥糵（各三分）　為末。水煎熱服。</p>
<p><u>玉露散</u>　治傷熱瀉黃。（方見前）　與五苓散合勻。名桂苓甘露飲。治熱瀉。此予心得之妙。</p>
<p>一兒有病。一日夜三五行。或瀉或止。連年不愈。此脾瀉也。胃苓丸加人參主之。</p>
<p>一兒無病。時值盛夏。醫以天水散與之。謂其能解暑毒也。服後暴瀉。醫悔。用作理中湯。連進三劑。瀉變痢疾。日夜無度。膿血相雜。兒益困頓。皮燥無汗。發聚成穗。請予治之。予曰。挾熱而痢者。其腸必垢。瀉久不止。則成疳瀉。此兒初瀉。本時行之病。非干天水散也。醫當用天水散調五苓散服之可也。反以理中湯熱劑投之。遂成挾熱腸垢之病。皮燥發穗者。表有熱甚也。下痢窘迫者。里有熱甚也。表裡俱熱。津液亦衰。事急矣。因制一方。用黃連　乾蟾（炙各一錢）　木香　青皮　白茯苓　當歸身　訶子肉（各一錢五分）</p>
<p>共為末。粟米粉作糊為丸。每服三十丸。炒陳米湯下。十日後滿頭出小癤。身上發痱如粟。熱平痢止而愈。噫。此子非吾無生矣。</p>
<p>一兒病瀉。大渴不止。醫以五苓散玉露散皆不效。病益困。腮妍唇紅。予見之曰。不可治也。泄瀉大渴者。水去谷少。津液不足故也。法當用白朮散。補其津液可也。乃服五苓散玉露散滲利之劑。重亡津液。脾胃轉虛。訣云。大渴不止。止而又渴者死。泄瀉不止。精神好者死。父母不信。三日後。發搐而死。</p>
<p>壬子經魁萬賓蘭。石泉翁之伯子也。翁得子晚。始生賓蘭。愛如珠玉。周歲得水瀉。一日夜十餘行。翁善醫。自作理中湯加訶子肉豆蔻與之。不效。乃急請予至。敘其用藥不效。予曰。正理論云。理中者。理中氣也。治泄不利小便。非其治也。遂用五苓散去桂加甘草。一服瀉止。三日後遍身發出赤斑。石泉懼。予曰。無妨。活人書云。傷寒病下之太早。熱氣乘虛入胃發斑。今夏月熱盛之時。瀉久裡虛。熱氣乘虛而入。且多服理中辛甘之劑。熱留胃中。今發赤斑。熱自里而出於表也。宜作化斑湯必易愈。翁曰。石膏性寒。非瀉所宜。曰。有是病則投是藥。在夏月白虎猶宜用也。一服而斑沒熱退。</p>
<p>本縣大尹朱云閣。公子病泄。十日不止。眾醫或用理中五苓益元白朮散等。皆不效。瀉渴益甚。公亟召余至。視其外侯。啟曰。渴太甚當先止渴。公曰當先止瀉。余曰。病本濕熱。水穀不分。更飲水多。則濕傷脾胃。水積腸胃。所瀉之水。乃所飲之水也。故當先止其渴。渴止瀉亦止矣。公曰。當用何方。曰。白朮散。尹曰。已服過多。余曰。用之不同也。尹曰。用之更有別法乎。余曰。本方在常與服之。此常字便是法也。蓋白朮散。乃治瀉作渴之神方。此方有二法。人參白朮茯苓甘草藿香木香六味各一錢。葛根倍二錢者。泄瀉久不止。胃中津液下陷也。故葛根倍用之。以升胃中之津液。此一法也。今人不知倍用之法。與六味等分同。故效少也。兒病渴者。湯水不離。今人不知常服之法。以藥常代湯飲之也。故所用之方雖是。所用之法不同。藥劑少而湯水猶多。藥少湯多。猶以一杯之水。救一車薪之火。水不勝火。如何有效。當作大劑煎湯以代湯水飲之。渴只飲本方。一切湯水禁之勿與。則胃氣上升。津液自生。渴瀉止矣。尹聞而是之。果一劑治矣。不問泄瀉痢疾。並宜服此。多多益善。不唯泄瀉可止。亦不至脾虛生風也。真神妙方也。謹詳述之。公子脾胃素弱。常傷食。一醫枳朮丸。保和丸。其意常用枳朮丸補脾。至傷食則服保和丸。不效。公以問予。予曰。此法固好。但專用枳朮丸。則無消導之藥。初不能制其飲食之傷。專服保和丸。則脾胃之虛。不能勝其消導。而反損中和之氣。當立一方。七分補養。三分消導。則脾胃自強。不能再傷矣。公曰。甚善。汝作一方來看。余乃制用人參白朮青皮陳皮甘草木香縮砂仁山藥蓮肉使君子神麯麥芽為末。荷葉煨飯搗爛為丸。米飲送下。名之曰養脾消食肥兒丸。服後精采頓異。飲食無傷。公益喜。錄其方常久用之。親書儒醫二字。作匾賜之。</p>
<p>庠生胡逸泉。東郊翁之伯子也。周歲時得水泄。先請醫甘大用。治之不效。復請予至。視之則肌肉消削。面色㿠白。時盛夏。凝汗不潤。皮膚乾燥。發豎。所下頻並。略帶後重。此氣血俱虛也。按治法之。補中氣。利小便。升舉其陽。固澀其滑。次第調之。略無寸效。或曰。何如。予曰。術將窮矣。唯有一法未用耳。乃作疳瀉治之。用人參白朮白茯苓甘草陳皮山藥當歸蓮肉砂仁訶子肉豆蔻黃連木香乾蟾為末。神麯糊丸。煎四君子湯下。服未二日。膚潤有微汗。再一日頭上見出紅瘡。小便漸多。五日而瀉止。後更以參苓白朮散作丸服之。調理而安。</p>
<p>汪望峰長子城南。生一子。寄姊夫南河胡家養。南河嘗語人曰。萬老先生好小兒科。今子全作聰明。兒有病。可請張祖兄醫之。乃先生親傳。予亦與人會藥。不執方合宜而用。吾之活人多矣。試舉其一二驗者實之。城南一子病瀉。十餘日不止。一向是張用藥。以胃苓丸一粒丹服之。皆無效。請予治之。望峰知其故。恐予不肯用心。取白金二兩作利市。予嘆曰。不在利市。只在信我也。我之治病。敢作聰明。皆先人之舊方。顧用之不同耳。蓋治大病以重劑。治小病以輕劑。彼胃苓丸一粒丹。豈治此重病哉。乃取豆蔻丸五十。胃苓丸五十。陳倉米煎湯下。語南河云。只此一劑而止。不再下也。南河初不聽。泄止大悟曰。良工不示人以樸信乎。</p>
<p>湖廣右布政孫小姐。五月病瀉。至七月猶未止。諸醫治之皆不效。差人召余。余至見其大渴。乃知津液不足也。不止其渴。瀉亦不止。熱亦不除也。公問余曰。數日可安。曰。三日止渴。五日止瀉。十日熱退。計十八日可安。公曰。病久矣。一月而安幸也。乃進白朮散作大劑以代湯。須臾飲盡。予見其渴甚。再加制過天花粉二劑。其夜渴止。瀉亦微止。次日又進一劑。渴瀉俱止。三日熱亦漸退。四日公又問余曰。小姐病未安柰何。余告曰。初來時曾許三日止渴。五日止瀉。十日退熱。今日來五日渴瀉俱止。熱亦漸退。耕當問農。織當問女。小姐貴體。余以身任之。唯足下寬量數日可也。公稱謝。再用白朮散減乾葛加陳皮。調治半月而效。公大喜。給札付冠帶儒醫匾。白金一十兩。此萬曆元年九月初四日也。本縣大尹唐百峰行之。</p>

<h3>痢疾</h3>
<p>痢不問赤白。皆從積治。濕熱者。食積之所生也。痢初得之。其法宜下。積不去。痢不止也。如吐泄後痢者。其積已下。不可再下。復傷胃氣。可下者。木香導滯丸主之。不可下。宜去積。保和丸主之。</p>
<p>陳皮（五錢）　枳殼（炒三錢）　黃連（薑汁炒五錢）　神麯　山楂肉　麥糵（各三錢）　萊服子（炒三錢）　檳榔（三錢）　上為末。水糊丸。麻子大。白湯下。</p>
<p><u>木香導滯丸</u></p>
<p>枳實（炒）　厚朴（薑汁炒）　檳榔（各五錢）　黃連　黃芩　黃柏　大黃（各七錢半）　木香（二錢五分）　黑牽牛（半生半炒取頭末二錢半）　上為末。酒糊丸。小豆大。白湯下。</p>
<p>祖訓只用　香連丸。</p>
<p>黃連（一兩。淨銼，用吳茱萸半兩。水拌濕同炒。去萸不用。）　木香（五錢）　石蓮肉（一錢）　上為末。酒糊丸。麻子大。陳倉米煎湯下。此家傳十三方也。</p>
<p>予教諸子。治痢只用保和丸香連丸同服。萬無一失。</p>
<p>鄖陽撫臺都御史孫小姐。自五月病痢。至七月未愈。差荊襄承差取鄖陽醫官治之不效。遣承差王加宜取予。予往。病亟矣。用人參白茯苓甘草當歸白芍黃苓車前子陳皮各等分。炒乾姜少許。煎服略差。五日大安。公晚飲間。問予云。諸醫皆用木香黃連。今汝不用。所用皆非治痢之藥。而效者何也。余曰。此乃河間黃芩芍藥湯方也。所謂調其氣則後重除。養其血而痢止之法也。臺云。小女前年在湖廣病泄。今年在此病痢。皆五六月間。幸遇汝之良醫而安。然小女之遇汝。爾之遇我。非偶然。余叩首謝。</p>
<p>本縣祝道士長子。七歲病痢。半年不愈。求予治之。予與一方。用人參白朮茯苓甘草陳皮山藥黃耆桔梗木香黃連訶子肉豆蔻車前子乾薑炒澤瀉神麯當歸麥芽白芍為末。水面丸。米飲下。一月安。名和中丸。</p>
<p>一女十歲患痢。久不止。脈洪數。或曰。下痢脈宜小。今脈洪數恐難治。予曰無妨。玉函經曰。欲識童男並童女。決在寸關並尺裡。自然緊數甚分明。都緣未散精華氣。此童女脈宜如是。胃氣當強。不久自愈。果數日痢漸止。</p>
<p>本縣張大尹。有公子半歲。病赤白痢甚苦。用黃連一錢。木香五分。石蓮肉五分。陳皮七分。乾薑炒二分。為末。神麯丸。黍米大。陳米飲下。</p>
<p>痢疾渴者。七味白朮散去乾葛。加炒乾薑黃連阿膠烏梅主之。</p>
<p>痢苦噤口者。宜參苓白朮散加石菖蒲為末。陳倉米湯下。</p>
<p>痢疾脫肛者。只止其痢。痢止肛自不下矣。</p>
<p>瀉後變痢後重者。胃氣之下陷也。赤白者。腸垢之下溜也。水穀盡而腸胃敗。故死。</p>
<p>痢後變瀉。後重止者。濕熱之氣去也。赤白止者。陳腐之物盡也。腸胃通而水穀行。故生也。</p>
<p>凡下痢鮮血者。黑如屋漏水者。氣促者。大孔如竹筒者。嘔噦不食者。足趺腫者。身熱脈大者。渴欲飲水者。只大渴者。面嬌面青者。皆死證也。</p>
<p>初病痢者。腹中急痛。大便窘迫。小便赤澀。身熱飲水。宜急下之。輕者三黃枳朮丸。重者木香檳榔丸。去其陳垢其痢自止。此時邪氣未動。正氣未傷。故宜下之。若喜補惡攻。使邪氣日強。正氣日弱。不下之則積熱不除。下之則脾胃俱弱。釀成大病。醫之過也。</p>
<p>初病泄瀉。漸變痢者。此時宿垢已去。不可再下。如有腹痛裡急後重之證。乃未盡之餘邪也。宜去積止痢。去積保和去滯丸。止痢香連丸。</p>
<p>痢久不止者。名休息痢。家傳和中丸。</p>
<p>或問。赤痢為熱。白痢為寒何如。曰。原病式論之詳矣。痢下赤白。皆濕熱也。赤者自小腸來。小腸者心之腑。心屬火故其色赤。白者自大腸來。大腸者肺之腑也。肺屬金故其色白。赤者屬熱。白者屬濕。濕亦熱也。經云。濕盛而熱也。若初痢下鮮血者。非赤也。此風熱之毒。宜剪紅丸主之。如痢下瘀血。或如豆汁者。此濕氣下血也。宜胃風湯主之。</p>
<p>或問。河間云。行氣則後重除。養血則痢止。此千古不易之法也。今幼科治痢之方。不用其法何也。曰。痢者。素云腸澼。難云大瘕泄。古云滯下。腸澼者。因於飽食也。大瘕泄者。食症也。滯下者。積滯之物下出也。故云無積不成痢。治法以攻積為先務也。積不去則氣不行。去積所以行其氣。而不裡急後重也。熱則傷血。痢久則傷血。去熱止泄。所以養其血也。法雖不同。意則合也。</p>
<p>或問。丹溪云。先瀉後變痢者脾傳腎也難治。先痢後變瀉者腎傳脾也易治。何以言之。曰。脾主濕。濕勝則濡瀉。瀉者脾之病也。瀉久不止。又變成痢。痢下後重腎病也。如痢非真痢也。故後重者。胃氣之下陷也。膿血者。腸垢之下溜也。真氣敗而穀氣絕。是謂難治。腎惡濕。小兒久坐濕地則傷腎。裡急後重。便膿血者。腎之病也。痢久不止。忽變成瀉。濕去而脾病在也。故里不急痛者。濕熱之毒除也。便無膿血者。陳莝之穢盡也。腸胃通而水穀行。故易治。</p>
<p>或問。痢疾身涼脈靜者生。身熱脈躁者死。其然乎。曰。初病時。邪氣方盛。身熱脈躁者多。不可呼為死證也。邪氣盛則實。可急下之。邪去脈自衰身自涼也。痢久而身熱脈躁。則不可治也。脈靜身涼。久痢之後。真氣已虛之脈也。身宜溫。不可太涼。脈宜靜不可太弱。經云。瀉痢五虛者死。脈細一也。皮寒二也。少氣三也。泄痢不止四也。飲食不入五也。此脈靜身涼之言。不可執著也。</p>
<p>痢久不能食。或有食入即吐者名噤口痢。即經所謂五虛者死。古方雖多。無甚效者。大抵瀉痢日久。津液已竭。脾胃虛弱。不能食也。宜以補脾為主。白朮散去乾葛加炒乾姜主之。能食者生矣。不能食者死。</p>
<p>痢久脫肛者。氣血虛也。素云下陷者虛也。難云出者為虛。古方多用澀劑。如蝟皮木賊之類。此治其標也。當用河間行氣養血之法。痢止後重除。肛腸自不脫出矣。加減八珍丸主之。</p>
<p>有痢下赤白青黑者。名野雞痢。用阿膠梅連丸主之。</p>
<p>有痢兩膝腫大者。名曰鶴膝風。加味地黃丸主之。</p>
<p><u>保和去滯丸</u>　治痢疾。有積胃弱。不可重下。</p>
<p>陳皮（五錢）　半夏曲　白茯苓　枳實（麩炒）　厚朴（薑汁炒）　檳榔（各五錢）　萊菔子（炒二錢半）　木香　上為末。神麯糊丸。麻子大。陳米湯下。</p>
<p><u>三黃枳樸丸</u>　治濕熱成痢。並有食積者。</p>
<p>黃連　黃芩　黃柏（皆酒炒各三錢）　大黃（酒煨五錢）　枳實（麩炒）　厚朴（薑汁炒）　檳榔（各二錢）　上為末。酒糊丸。麻子大。薑湯下。</p>
<p><u>胃風湯</u>　八珍湯去地黃甘草。加桂等分。入粟米同煎。本方去桂。加連等分。吳茱萸減半。同炒為末。酒糊丸。可治遠近血痢。</p>
<p><u>阿膠梅連丸</u>　治痢無分久新。赤白青黑疼痛證。</p>
<p>阿膠（草灰炒成珠）　赤茯苓　烏梅（去核炒）　赤芍　黃柏（炒）　黃連（炒）　乾薑（炒）　當歸（各等分）　上為末。入阿膠和勻水丸。麻子大。陳米飲下。</p>
<p><u>家傳和中丸</u>　專治休息痢。</p>
<p>人參　甘草　當歸身　川芎　車前子（略炒）　豬苓　澤瀉　神麯　黃連（炒各三錢）　麥糵面訶子　石蓮子　乾薑（炮）　肉豆蔻（麵煨）　木香（各三錢）　白茯苓　白朮　白芍　陳皮（三錢）　上為末。酒糊丸。麻子大。陳米飲下。</p>
<p><u>加味地黃丸</u>　治痢後鶴膝風。</p>
<p>地黃丸加牛膝。虎脛骨酥炙。白茯苓。共為末。蜜丸服。</p>
<p><u>加味八珍丸</u>　治久痢脫肛。</p>
<p>八珍湯去川芎白朮加黃連（炒）　阿膠（上炒各三分）　木香（三分之二減半）　上共為末。水丸麻子大。炒米湯下。多服佳。</p>
<p><u>剪紅丸</u>　治痢血神效。</p>
<p>當歸身　黃連（炒）　槐角子（炒）　側柏葉（炒）　荊芥穗　枳殼（炒各等分）　上為末。酒煮麵糊丸。麻子大。陳米湯下。</p>

<h1>卷之四</h1>

<h2>瘧</h2>
<p>瘧疾不問新舊。並宜服平瘧養脾丸。此家傳秘方。</p>
<p>治有三方　初截　中和　末補</p>
<p>初治法　初起有外因者。不問風寒暑濕之邪。並宜香蘇散加紫蘇香附陳皮甘草。外加常山檳榔烏梅。於發日五更時服。得吐為善。蓋吐中即有發散之義。不復作矣。有內因飲食不化。積而成痰。痰變為瘧。宜平胃散加常山烏梅檳榔。臨發日五更服。或吐或下。痰積悉除。不復作矣。有不內外因者。客忤中惡。夢寐顛倒成瘧者。此邪瘧也。宜四聖丸加家傳斬鬼丹主之。人身榮衛之氣。晝則行陽二十五度。夜則行陰二十五度。故瘧之晝發者。邪在陽分易治。宜用前法截之。夜發者不可截也。宜桂枝湯加當歸生地黃桃仁發出血中之邪自已。不已者必須提至陽分。然後截也。升提宜柴胡四物湯加升麻葛根。截宜柴胡湯加常山檳榔烏梅主之。</p>
<p>中治法　邪氣漸強。正氣漸衰。宜以養正去邪和解為主。柴苓湯主之。此和解之聖方也。服三劑後。加常山烏梅以去其邪。二補一攻。常與調理。以瘥為度。</p>
<p>如有熱多寒少。宜用柴胡白虎湯。寒多熱少者。柴胡桂枝湯主之。二劑之後。間截藥一劑。熱多者。用常山知母草果檳榔各一錢。寒多者。用常山錢半。丁香五分。烏梅一個為劑。各用酒一盞浸一夕。發日五更服。如神。</p>
<p>末治法　瘧久不退。謂之痎瘧。（老瘧也。）邪氣未盡。正氣已衰。專以養正為主。使正氣復。邪氣自盡也。十全大補湯加陳皮半夏柴胡主之。食少者。去地黃加神麯。有瘧母者。本方加青皮神麯九肋鱉甲醋服。</p>
<p>小兒瘧久不退。腹中或左或右有塊者。此名瘧母。即癖也。瘧後有此。經年不愈。常為潮熱。其狀似瘧。面黃腹大。乃其候也。宜消去之。祖方。用月蟾丸。今予立消癖丸。</p>
<p>小兒久瘧成疳勞者。集聖丸主之。</p>
<p>瘧後浮腫者。胃苓丸主之。</p>
<p>瘧後與泄痢並作者。宜柴苓加檳榔烏梅主之。蓋小柴胡湯治瘧。五苓散治瀉痢。檳榔烏梅痢瘧必用之藥也。</p>
<p>平瘧養脾丸。　此吾家傳治瘧之神方也。</p>
<p>人參　白朮　白茯苓　甘草（炙）　當歸　川芎　陳皮　半夏曲　蒼朮（米泔浸炒）　厚朴（薑汁炒）　柴胡　黃芩　豬苓　澤瀉　草果　常山　青皮　辣桂　九肋鱉甲（酥炙各等分）　上一十九味。共研末。於五月五日。及三元八節天月德。要安普護福生除開破日修合。酒煮曲糊丸。麻子大。陳米湯下。</p>
<p><u>消癖丸</u>　專治瘧母食症痰癖。五飲成癖並治。</p>
<p>三稜（即魚形者）　莪朮（各醋浸炒）　陳皮　枳殼（麩炒）　厚朴（薑汁炒）　山茱萸　使君子　夜明砂　黃連（炒）　木香　乾薑（炒各二兩）　海藻（洗淨半兩）　神麯　麥糵　半夏曲（二錢）乾蟾（炙）　九肋鱉甲（醋炒各三錢）　上為末。酒煮麵糊丸。麻子大。米飲下。</p>
<p><u>家傳斬鬼丹</u>　截瘧神效。</p>
<p>黃丹（研）　獨頭大蒜（研爛如泥）　上於五月五日午時。至誠修合。用蒜泥和丹同杵。眾手為丸。隨人大小。發日五更取長流水面東下。</p>
<p><u>四聖丸</u>　治瘧有效。</p>
<p>穿山甲（去筋膜兩半灰炒拌）　雞骨常山　烏梅（去核焙）　檳榔（各一兩）　上為末。糯米糊丸。隨人大小。黃丹為衣。每服二十五丸至三十丸。臨發日五更面東溫酒送下。</p>
<p><u>柴胡桂枝湯</u>　治瘧疾寒多熱少者。</p>
<p>用小柴胡湯　柴胡（二錢五分）　黃芩　半夏（各一錢）　人參（錢半）　甘草（五分）　合桂枝湯。桂枝芍藥。加栝蔞根牡蠣乾薑（炮）薑棗同煎。</p>
<p><u>柴胡白虎湯</u>　治熱多寒少者。</p>
<p>用小柴胡湯合白虎湯。　石膏（五錢）　知母（二錢）　甘草（一錢）　入粳米生薑同煎。</p>
<p>一兒歲半病瘧。二日一發。久不愈。其兒黃瘦面浮腹脹。予用平瘧養脾丸治之。愈。</p>
<p>一兒病瘧。醫以柴苓湯投之。調理二三日。不效。予用平瘧養脾丸治之。效。</p>
<p>一兒病瘧。醫用截藥。內有砒丹。三截之。遂成疳瘧。其父懊恨前藥之誤也。予用平瘧養脾丸治瘧。集聖丸治疳。調理一月而愈。</p>
<p>一女先驚後瘧。瘧久成疳。予用集聖丸調理。一月而安。</p>
<p>一兒先瘧後驚。予用調元湯。琥珀抱龍丸治之。安。</p>
<p>一兒病瘧。一日一發。予用家傳斬鬼丹截之。止三日。後又發。再截之。凡三截俱三四日又發。其父怪問之。時六七月棗熟。予疑其必啖生棗。故止而復發也。問之果然。乃禁之。先用胃苓丸。調理三日。更以斬鬼丹截之。遂愈。</p>
<p>汪南汀季子七歲。病瘧三年。諸醫治之無效。乃請予治之。予視其外候。面色黃白。山根帶青。腹大而堅。曰。此久瘧成癖。癖在潮熱。當與補脾消癖。瘧熱自除。恨無九肋鱉甲耳。南汀求得之。因制一方。用人參白朮陳皮青皮三稜莪朮木香砂仁當歸川芎黃連柴胡鱉甲為末。神麯糊丸。炒米煎水。日三服。調理五十餘日安。</p>
<p>陸陳巷李宅一女七歲。戊戌秋先患外感。後變瘧。因用截藥。變作痢。至冬痢雖止。瘧益甚。請予往。視其外侯。大骨高起。大肉陷下。發稀目陷。面黃鼻燥。不思飲食。唯啖蓮肉。乃內傷脾虛疳癆證也。時有江西醫人萬鼎在彼。謂不可治。予曰無慮。吾能治之。至春必愈。用集聖丸一料。次年二月果安。</p>
<p>一兒病瘧。間日一發。予依祖訓。當用胃苓丸補之。發日以斬鬼丹截之。調理半月已漸平復。適有麻城丁醫至。見兒未大好。謂其父曰。我秘方只一劑而愈。其父惑之。不知其所用者何方也。初進一劑。瘧即大作矣。更甚於前。予笑其醫云。只用秘方。令吾前功盡廢。又勞調理也。其父悔。且怨醫。辭去之。予調理一月愈。</p>
<p>一兒久瘧成癖。因癖生熱。或三五日一發。發則十餘日不止。常在申酉時。但不寒顫。又微惡寒即發熱。熱亦不甚。發過不渴。不頭痛。予用消癖丸平瘧養脾丸相間服之。半年而愈。</p>
<p>一兒瘧後腹脹。用加減塌氣丸服之愈。</p>

<h2>疳</h2>
<p>疳證。此小兒科之極病也。雖有五臟之不同。其實皆脾胃之病也。幼科書論諸疳。頭緒太多。法無經驗。無可取者。唯錢氏分肥瘦冷熱四者。庶為近理。而以初病者為肥熱疳。久病者為瘦冷疳。似有虛實之分。不知疳為虛證。曾有實者乎。至於治瘦冷疳。方上有續隨子。未免虛實之失。故予嘗曰。錢氏方論。非先生之親筆。乃門人附會之說也。今乃推先生之意以補之。曰兒太飽則傷胃。太飢則傷脾。肥熱疳。其食多太飽之病乎。瘦冷疳。其食少太飢之病乎。如審其食少者肥兒丸。食多者集聖丸主之。</p>
<p>小兒乳少者。父母常以他物飼之。兒之性只求一飽。或食太多。或食太少。所以脾胃受傷。生此疳病也。</p>
<p>蘄水陸陳巷李廣之妻。程希南之女也。新寡。止有一女。初病瘧又病痢。瘦。發熱少食。日啖蓮肉五六枚。請予往治之。予與集聖丸。時有江西一醫萬鼎在彼。曰難治。鼎嘗問予運氣之說。予詳教之。彼本不知。唯唯耳。予謂鼎曰。明年二三月。來看此女之長大也。次年三月半。其母在程氏宅。請予謝之。命其女拜。云。小女服後。一日改變一日。非昔日比也。</p>
<p>庠生王閒一子周歲。因食豬肉受傷。肢體瘦削。使人求藥。予問其詳。乃食積疳。似有餘。取脾積丸五粒與之。教以豬肉湯吞下。果下一塊如小指頭大。涎沫夾裹。其子頓安。</p>
<p><u>集聖丸</u>　治疳通用。丹溪心法。黃連乾蟾三錢。餘味皆二錢。</p>
<p>黃連　乾蟾（炙存性）　青皮　陳皮　莪朮　使君子　砂仁（各一錢八分）　蘆薈　夜明砂五靈脂（各二錢三分）　歸身（疳癆加）　川芎（各三錢）　木香（一錢八分）</p>
<p>又集聖丸方。使君子　乾蟾　黃連　前胡　莪薈　木香　青皮　靈脂　夜明砂　縮砂仁（各二錢）　當歸（錢半）　川芎（一錢二分）　增膽汁　粟米糊丸。米飲吞。脾弱加肥兒丸併為末。粟米粉作糊丸。入豬膽汁。丸如粟米大。米飲下。</p>
<p>王三峰長子患疳瘦。請予治之。見之曰。此乳少病也。父曰。乳極多。予即辭退。歸謂其友胡三溪云。王子病疳。乃乳少也。彼云乳多。不聽吾言。今成疳矣。時胡會川在座。聞言而退。後三溪云。病者會川之婿。聞兄之言。不悅而歸。予曰。非也。必往邀三峰兄同來也。少頃果同至。三峰自訴云。我南監坐監時。一子病疳死。今此子病。我心甚慮。今特來登問。此兒討個乳母養。有乳無乳。實不知也。今夜歸家看子細。明日來報。果無乳也。日則嚼飯喂。夜則一壺冷米湯灌之。柰何。予曰。不易乳母。治之無功。易之則兒戀其乳母之愛。母依其兒衣食之計。請權擇乳母佐之。晝則抱之。夜則乳之。自然日久情熟。事兩全矣。乃作肥兒丸一料服之。兩月而安。</p>
<p><u>肥兒丸</u></p>
<p>人參　白朮　白茯苓　炙甘草　陳皮　青皮　山藥　蓮肉　當歸　川芎　使君子　為末。神麯糊丸。米飲下。</p>
<p>胡鳳崖子病疳。但多食則腹痛。請予治之。予曰。人以谷為本。谷入作痛。豈新谷作痛乎。必有舊谷為積。未能消去。故與新谷相持也。豈有絕穀食之理。乃作養脾消積丸服之。安。</p>
<p><u>養脾消積丸</u></p>
<p>錢氏異功散（即四君子湯加陳皮）　加木香　青皮　砂仁　使君子　枳實（炒）　黃連（炒）　上共為末。神麯糊丸。米飲下。</p>

<h2>疸</h2>
<p>疸有二證　有因天地濕熱之氣而發之者。有因水穀之濕熱而發之者。</p>
<p>小兒之病。多因濕熱食積。與大人不同。宜茵陳胃苓丸主之。</p>
<p>胃苓丸（末一兩）　茵陳（末五錢）　碾勻。神麯糊丸。燈心煎湯下。</p>
<p>一兒十四歲病疸。面目俱黃。用：</p>
<p>黃連　黃柏　梔子仁　茵陳　豬苓　澤瀉　枳實　厚朴（各二錢）　大黃（一錢）　上為末。神麯糊丸。陳米湯下。初服二日。吐宿冷黃水二三碗。又二日利三行。五日退。</p>

<h2>調理脾胃</h2>
<p>人以脾胃為本。所當調理。小兒脾常不足。尤不可不調理也。調理之法。不專在醫。唯調乳母。節飲食。慎醫藥。使脾胃無傷。則根本常固矣。</p>
<p>脾喜溫而惡寒。胃喜清而惡熱。故用藥者。偏寒則傷脾。偏熱則傷胃也。制方之法。宜五味相濟。四氣俱備可也。故積溫則成熱。積涼則成寒。偏熱偏寒。食也。食多則飽。飽傷胃。食少則飢。飢傷脾。故調脾胃。宜節飲食。適寒溫也。今之調脾胃者。不知中和之道。偏之為害。喜補而惡攻。害於攻者大。害於補者豈小小哉。</p>
<p>兒有少食而易飽者。此胃之不受脾之不能消也。宜益胃之陽。養脾之陰。宜錢氏異功散合小建中湯主之。</p>
<p>人參　白朮　茯苓　炙甘草　陳皮　白芍　當歸　桂皮（各等分）　木香　砂仁（各減半）上為末。神麯糊丸。麻子大。米飲下。</p>
<p>兒有多食而易飢者。此脾胃之邪熱甚也。宜瀉脾胃之火。三黃枳實丸主之。</p>
<p>枳實　白朮　黃連　黃芩　大黃（煨各等分）　上共為末。神麯糊丸。麻子大。白湯下。</p>
<p>本縣大尹朱云閣公子。常有脾胃病。向是韓醫生調治。平時服養脾丸。傷食服保和丸。未有寧日。一旦問余云。聞汝小兒甚精。小官人脾胃久虛。汝可治之。余曰。當攻補兼用。不可偏補偏攻。韓醫云。密齋非所長也。如專補脾胃。則飲食難化。如專消導。則中氣易耗。尹不聽曰。汝進一方來。乃進養脾肥兒丸。用：</p>
<p>人參　白朮　甘草　陳皮　枳實　木香　茯苓　砂仁　山藥　蓮肉　麥芽　神麯　山楂青皮　共為末。荷葉浸水煮粳米飯丸。麻子大。米飲下。修合服之。大效。再無脾胃之病。尹乃相信賜匾。</p>
<p>乳母者。兒之所依為命者也。如母壯則乳多而子肥。母弱則乳少而子瘠。母安則子安。母病則子病。其干係匪輕。蓋乳者血所化也。血者水穀之精氣所生也。飲食入胃。氣通於乳。母食熱則乳亦熱。母食冷則乳亦冷。故兒傷熱乳者則瀉黃色。黃芩芍藥湯加黃連主之。傷冷乳則瀉青色。理中丸主之。乳多者則絕之。不爾令兒吐乳也。乳少者。宜調其乳母。使乳常足。不可令兒飢。以他物飼之。為害甚大。調乳母宜加減四物湯。豬蹄湯主之。乳母忌酒面生冷。次及一切辛熱之物。常作豬蹄湯與之甚良。乳母經閉經漏。宜請醫治之。恐乳少也。</p>
<p>一小兒食肉早。得脾胃病。或泄痢。腹大而堅。肌肉消瘦。已成疳矣。其母日憂兒病益深。予見憫之。乃制一方。人參黃耆蜜炙。白茯苓白朮粉草當歸川芎以補脾胃養氣血。陳皮青皮半夏曲木香砂仁枳實厚朴神麯麥糵面以消積。三稜莪朮煨九肋鱉甲醋煮以消癖。黃乾蟾燒灰存性使君子夜明砂以除疳熱。共二十三味碾末。粟米糊丸麻子大。每服二十五丸。炒米湯下。調理而安。</p>
<p>乳食。兒之賴以養命者也。養子歌云。乳多終損胃。食壅即傷脾。甚矣乳食之不可不節也。難經云。損其脾者。調其飲食。適其寒溫。誠調理脾胃之大法也。蓋飽則傷胃。飢則傷脾。熱則傷胃。寒則傷脾。今之養子者。穀肉菜果。順其自欲。唯恐兒之飢也。兒不知節。必至飽方足。富貴之兒。脾胃之病。多傷飲食也。貧賤之子無所嗜。而脾胃中和之氣不損也。傷之輕者。損谷自愈。傷之重者。則消導之。宜胃苓保和丸養脾消積丸主之。傷之甚者。則推去之。審其所傷之物。如傷熱食者。宜三化丸三黃枳朮丸木香檳榔丸。傷冷物。宜三稜消積丸丁香脾積丸主之。如脾胃素弱食少。但過食則傷者。補脾進食。肥兒丸要藥也。</p>
<p>一富家生子甚弱。結義予為家公。予重其義。朝夕戒其乳母。乳食不可太飽。或煮以爛粥嚼而哺之。其一切肉果餅粑甘肥生冷之物皆禁之。或有小疾。專以補脾胃為主。其子自幼至長。亦無大疾。今氣實力壯。飲食多而不傷。寒暑不能侵。南北奔走不為勞。嘗語人曰。生我者父母也。養我者萬家公也。</p>
<p>一兒生二月。忽昏睡不乳。予以日計之。非變蒸也。視有二乳母。皆年少氣壯者。其乳必多。更代與之。必傷乳也。戒以今且損之。令飢一日自愈。後宜絕之。只用一乳母可也。次日果安。父母如其教。亦無傷食之病。</p>
<p>醫藥者。兒之所以保命者也。無病之時。不可服藥。一旦有病。必請專門之良。老誠忠厚者。浮誕之粗工。勿信也。如有外感風寒。則發散之。不可過汗亡其陽也。內傷飲食。則消導之。不可過下亡其陰也。小兒易虛易實。虛則補之。實則瀉之。藥必對證中病。勿過劑也。病有可攻者急攻之。不可喜補惡攻。以夭兒命。雖有可攻者。猶不可犯其胃氣也。小兒用藥。貴用和平。偏熱偏寒之劑。不可多服。如輕粉之去痰。硇砂之消積。硫黃之回陽。有毒之藥。皆宜遠之。故發散者宜惺惺散。消導者宜保和丸。虛實補瀉。按錢氏五臟補瀉之方加減用之。誤服熱藥者。宜大豆卷散主之。誤服寒藥者。宜益胃散主之。汗下太過者。宜黃耆建中湯主之。</p>
<p>小兒久病。只以補脾胃為主。補其正氣。則病自愈。宜養脾丸。加所病之藥一二味在內服之。</p>
<p>或問脾胃補瀉之味。予曰。天食人以五氣。地食人以五味。五氣者。寒熱溫涼平也。五味者。酸苦辛甘鹹也。氣為陽。陽不足者補之以氣。味為陰。陰不足者補之以味。故肝屬木。味以辛補酸瀉。氣以溫補涼瀉。心屬火。味以咸補苦瀉。氣以熱補寒瀉。肺屬金。味以酸補辛瀉。氣以涼補溫瀉。腎屬水。味以苦補咸瀉。氣以寒補熱瀉。是四臟者。各屬一季。味則逆之。氣則從之。以補以瀉也。至於脾胃屬土。寄於四季。無定位。無從逆也。故於五味相濟。四季均平。以中和為主。補瀉亦無偏勝也。況脾喜溫而惡寒。胃喜清而惡熱。偏寒偏熱之氣。固不可以專用。而積溫成熱。積涼成寒。雖溫平涼平之藥。亦不可以群聚久服也。經云。治熱以寒。溫而行之。治寒以熱。涼而行之。斯為善矣。</p>
<p>一人自知醫。生一男。謂小兒脾不足。作補丸服之。至於有疾。不肯請醫。亦自治之。予曰。小兒無病。不可服藥。古人所謂無病服藥。如壁中安柱。此言何謂也。五行之理。偏勝則害。病必請醫。如耕當問農。織當問女之意也。醫不三世。不服其藥。自非專門之術。而病之虛實。藥之良毒。吾恐必誤也。</p>
<p>一兒八歲。形氣甚弱。其父責令讀書。予見之。謂其父曰。令郎形氣弱當懷保之。不可一於嚴也。乃留養脾丸肥兒丸與之。調理半年。後病成疳矣。先請一老醫。不知幼科。謂之傷食。用一粒金丹服之。病乃劇。請予。予曰。前與養脾丸肥兒丸服盡乎。曰。未服也。又問曰。今服者何方也。曰一粒金丹。予辭曰。不可治矣。一粒金丹內有草烏巴豆大毒之藥。豈可常服者乎。此兒脾胃素弱怯。食少而瘦。故以肥兒丸調理。應服而不服。一粒金丹大傷犯胃氣。此不應服而服。傷之重傷。謂之虛。死在旦夕。後果死。</p>
<p>一庸醫狂悖。借父祖專門之名。自稱得異人之傳。妄立方法。變亂繩墨。嘗語人曰。吾能知人之臟腑。有病而去之。知其所傷之物。而取下之。知其疾之順逆而預解之。言大而誕。人皆信之。時有富家楊姓者。生二子。聞其名而交結之。禮意懇至。蓋為其子之未出痘也。後一子出痘。因熱以湯蒸汗而死。小子因服附子毒發癰。亦死於醫之手。惜哉。</p>
<p>監生胡篤庵咳久不止。汗之不可。下之不可。因於表裡之邪俱甚也。自制一方。用蘇葉薄荷葉桑白皮末杏霜栝蔞霜桔梗末甘草末各等分。虛者加阿膠。蜜丸。白湯下。或口中噙。五日而安。後以此方治人屢效。</p>
<p><u>黃芩芍藥湯</u>　治傷熱乳而瀉黃。</p>
<p>條芩　白芍藥（各等分）　甘草（減半）　加黃連（等分）　上水煎服。</p>
<p><u>加減四物湯</u>　治婦人乳少。</p>
<p>當歸身　川芎　生地　麥門冬　桔梗　人參　生甘草（各等分）　上銼水煎服。更用獖豬蹄新汲水煮爛。和汁食之。</p>
<p><u>三化丸</u>　去胸中宿食菀莝之熱。</p>
<p>枳實（麩炒）　厚朴（薑汁炒）　大黃（各等分）　上為末。神麯糊丸。麻子大。每服量大小虛實。溫水下。</p>
<p><u>家傳保和丸</u>　補脾胃。進飲食。治一切食積。</p>
<p>白朮　陳皮　半夏曲　白茯苓　神麯（各三錢）　枳實（炒）　厚朴（薑汁炒）　香附子（酒浸）　山楂　麥糵曲（各二錢半）　黃連（薑汁炒）　連翹（去子）　萊菔子（各二錢）　上為末。荷葉浸水煮粳米糊丸。麻子大。薑湯下。</p>
<p><u>三黃枳朮丸</u>　治傷肉食麵餅。並辛辣肥厚一切熱物。</p>
<p>黃芩　黃連（酒炒）　大黃（酒煨）　神麯　陳皮　白朮（各一兩）　枳實（五錢）　上為末。荷葉浸水煮粳米糊丸。麻子大。白湯下。</p>
<p><u>三稜消積丸</u>　治傷生冷一切硬物冷積。</p>
<p>三稜（炮）　莪朮（炮）　神麯（各一錢）　青皮　陳皮　小茴香　巴豆（和米炒焦黑去米各五錢）　益智仁　丁香（各三錢）　上醋麵糊為丸。麻子大。量人加減。生薑湯下。</p>
<p><u>益胃散</u>　治誤服寒藥過多傷其脾胃者。</p>
<p>陳皮　黃耆（蜜炙各七錢）　益智仁　白豆蔻　澤瀉　乾薑（炒）　砂仁　甘草（炙）　藿香葉　厚朴（制）　人參（各三錢）　一方有薑黃（三錢）　上為細末。每服五分至一錢。薑棗煎湯下。</p>
<p><u>大豆黃卷散</u>　治誤服熱藥。此解之。</p>
<p>貫眾　板藍根　甘草　大豆卷（以無根水浸生卷是也日乾各等分）　上為細末。每服五分。井泉水煎飲。</p>

<h2>肺臟主病</h2>
<p>肺主喘　實則悶亂喘促。好飲水。有不飲水者。虛則哽氣長出氣。</p>
<p>實則瀉白散。葶藶丸瀉之。虛則阿膠散。生脈散合甘桔湯補之。</p>
<p><u>瀉白散</u>　治咳嗽而微喘。面腫身熱。</p>
<p>桑白皮（蜜炒）　地骨皮（各等分）　甘草（減半）　入粳米。水煎服。</p>
<p><u>阿膠散</u>　治久嗽肺無津液。</p>
<p>阿膠（兩半粉炒）　大力子（二錢五分）　馬兜鈴（半兩）　甘草（錢半）　杏仁（七個去皮尖）粳米　上為末。每服量加減。水煎服。</p>
<p><u>生脈散合甘桔湯</u>　久嗽肺虛。</p>
<p>人參（一錢）　麥門冬（二錢）　五味子（十粒）　苦梗（一錢）　上銼分五劑。每劑入阿膠五分。水煎。</p>

<h2>肺臟兼證</h2>
<p>諸氣喘促。上氣咳嗽。面腫。皆肺臟之本病也。加味瀉白散主之。桔梗防風各二錢。甘草一錢。地骨皮一錢二分。</p>
<p>兼見肝證。由中風得之。鼻流清涕。惡風喘嗽。宜發散。加減參蘇飲主之。</p>
<p>如久咳嗽變風疾不治。如錢氏所謂三瀉肝而肝病不退。三補肺而肺證尤虛。是也。</p>
<p>一小兒二歲久病嗽。時十月初。請予治之。予曰。不可治矣。父問其故。予曰。嗽者。肺病也。四時之病。將來者進。成功者退。十月建亥。金氣已衰。木氣始生。吾觀令郎面色晄白。肺之衰也。頭搖手擺。肝之風也。肺衰風生。作搐而死。果不治。</p>
<p>兼見心證。發熱飲水。喘嗽悶亂。此心火勝也。宜涼膈散加知母石膏主之。</p>
<p>久嗽不止。黃連阿膠丸　黃連赤茯苓能抑心火。肝得其清。</p>
<p>兼見脾證。咳則吐。此傷乳食。而喘嗽不安。宜葶藶丸。小陷胸加大黃主之。</p>
<p>一兒泄瀉後。病咳而喘。上氣急。予用芎蠍散。效。</p>
<p>一女子脾胃素弱。一日啖生棗。病腹脹而喘。其母憂甚。恐夫知食以生冷也。予曰勿憂。乃作錢氏異功散加藿香葉以去脾經之濕。紫蘇葉以去肺經之風。一大劑而脹消喘止。</p>
<p>一女子素有喘病。發則多痰。予用補腎地黃丸服之。或怪而問曰。喘者肺腑也。今補腎何也。予曰。肺生氣。腎則納而藏之。痰涎者。腎之津液所生也。哮喘吐涎。乃氣不歸元。津液無所受也。果服此丸而安。</p>
<p><u>加味瀉白散</u></p>
<p>古瀉白散。加蘇葉桔梗是也。</p>
<p><u>參蘇飲</u>　治傷風咳嗽。</p>
<p>古參蘇飲紫蘇葉陳皮前胡枳殼桔梗半夏茯苓乾葛甘草人參木香眾藥皆等分。甘草減半。是也。</p>
<p><u>東垣涼膈散</u>　治心肺熱。</p>
<p>甘草　梔子　薄荷　桔梗　連翹。乃河間涼膈散去硝黃加桔梗是也。</p>
<p><u>黃連阿膠丸</u>　治肺熱或咯唾血。</p>
<p>黃連（三錢）　赤茯苓（二錢）　阿膠（炒一錢）　上以蓮肉為末。水調膠和。眾手丸。麻子大。米飲下。</p>
<p><u>小陷胸加大黃湯</u>　治痰壅喘促。以代葶藶丸。</p>
<p>黃連　半夏　枳實　栝蔞（和皮用）　甜葶藶　大黃（各等分）　上銼。先以水煎栝蔞一沸。入藥煎七分。食後服。</p>
<p><u>芎蠍散</u>　治脾虛上氣喘促急。嘔吐痰涎。足脛冷者。</p>
<p>川芎　蓽茇（各一錢）　蠍梢（去毒三分）　半夏（酒浸一宿水洗七次焙乾）　細辛（各二分）上為極細末。熱湯調。稍熱服。</p>

<h2>肺所生病</h2>
<p>諸氣上逆喘逆。皆屬於肺。</p>
<p>咳嗽有二　風寒外感者。痰飲者。</p>
<p>如因感冒得之者。必洒洒惡寒。鼻流清涕。或鼻塞。宜發散。加減五拗湯主之。</p>
<p>麻黃（連根節）　杏仁（留皮尖）　紫蘇葉　苦梗　甘草（各等分）　上銼。水煎。姜引。服得微汗止。</p>
<p>如發散不退。渴欲飲水者。宜瀉白散主之。</p>
<p>如不熱不渴。甘桔湯主之。</p>
<p>桔梗　甘草（各等分）　紫蘇葉（減半）　烏梅肉（少許）　上用水煎去渣。入阿膠化服。</p>
<p>因於痰者。或母乳多湧出。兒小吞嚥不及。嗆出而成痰嗽者。或因兒啼聲未息。氣未平。強以乳哺。氣逆而嗽者。此乳夾痰而嗽也。宜玉液丸主之。</p>
<p>有痰甚氣弱不可下。宜潤下丸主之。</p>
<p>陳皮（去白淡鹽水浸泡括銼炒）　枳殼（炒）　桔梗　大半夏（薑湯泡七次）　甘草　蘇子（炒）　萊菔子（炒）　白茯苓（各一錢）　上為末。神麯糊丸，黍米大。白湯下。</p>
<p>發揮云。經曰。秋傷於濕。冬生咳嗽。乃太陰濕土之病也。凡咳嗽有痰有氣。痰出於脾。氣出於肝。皆飲食之所化。脾總司之也。飲食入胃。脾為傳化。水穀之精氣為榮悍氣為衛。周流一身。晝夜不息。虛則不能運化精悍之氣以成榮衛。其糟粕之清者為飲。濁者為痰。留於胸中。滯於咽嗌。其氣相搏。浮澀作癢。介作聲。而發為咳嗽也。故治痰咳。先化其痰。欲化其痰者。先理其氣。陳皮枳殼以理肺中之氣。半夏茯苓以理脾中之痰。此治咳之大略也。若夫虛則補之阿膠散。實則瀉之葶藶丸。祖傳玉液丸。</p>
<p><u>小阿膠散</u></p>
<p>阿膠（粉炒錢半）　蘇葉（一錢）　烏梅（少許）　每服四字。水煎服。</p>
<p>監生胡篤庵滋。元溪翁之子也。辛丑方四歲。二月間患咳嗽。因與吾不合。請醫張鵬素。所用者。以葶藶治之。隨止隨作。四月間咳甚。又請醫甘大用。治以五拗湯。暫止復作。更迭用藥。咳不得止。秋益甚。咳百十聲。痰血並來。至九月加重。事急矣。不得已。欲請予治。乃筮之。得蹇之漸。其辭曰。大蹇朋來。遂請予往。予以活人為心。不記宿怨。視其外候。兩頰微赤。山根青。準頭紅。視其內證。果咳聲連至百十。氣促面赤。痰先出而血隨之。痰血既來。其咳方定。問其所起之時。曰自二月有之。問其所服之藥。曰某用葶藶丸。某用五拗湯。予細思之。此病起於春初。春多上升之氣。木旺金衰。法當抑肝補脾。以資肺之化源。以葶藶瀉肺。此一逆也。夏多火熱。火旺金敗。法當清心養肺。治以寒涼。反用五拗湯甘熱之藥。犯用熱遠熱之戒。此再逆也。今秋氣宜降矣。而上氣急者。春升之令未退也。氣宜斂矣。而痰血並出者。夏火之氣未退也。必與清金降火潤肺涼血。非三五十劑不效也。乃告之曰。令郎之病肺有虛火。幸過秋深。金旺可治。吾能愈之。假以一月成功。元溪曰。何太遲也。曰。病經八月無效。公不曰遲。而以一月為遲何哉。又思予雖用心。彼終不安。乃語元溪云。請置一簿。自初服藥日起。某日服某藥。某日加減某藥。彼聞之喜。終有疑心。因制一方。天麥門冬知貝母桔梗生甘草陳皮去白枳殼阿膠片芩蘇葉水煎。（一本無枳殼蘇葉。有瓜霜花粉前胡）取茆根自然汁和飲之。五劑後。咳減十分之七。口鼻之血止矣。元溪終不釋疑。又請醫萬紹治之。或謂予曰。他不要爾。爾可去矣。予曰。彼只一子。非吾不能治也。吾去彼再不復請也。誤了此兒。非吾殺之。亦吾過也。雖然且看萬紹用何方。用之有理吾去之。如又誤。必力阻之。阻之不得。去未遲也。乃語元溪云。令郎之病。吾今治之。將好一半矣。如何又請他人。彼云。有病眾人醫。恐一人之見有限也。予曰。然。紹立一方。以防風百部杏仁桑白皮之類。予謂紹曰。王好古湯液本草。風升生例。防風居先。此兒肺升不降。肺散不收。防風百部。豈可並用耶。紹云。防風百部。治咳嗽之神藥也。元溪從旁和之云。他是秘方。予曰。吾為此子憂。非相妒也。故撫其子之頭曰。且少吃些。可憐疾之復作奈何。囑畢不辭而退。元溪略不介意。是日服紹藥。才一小杯。咳復作氣復促血復來如初。其子泣曰。吾吃萬先生藥好些。爺請這人來。要毒殺我。其妻且怒且罵。元溪始悔。親至大用之家。予被酒困。坐待夜半方醒。元溪拜謝。祈請之心甚切。予嘆曰。早聽吾言。不有此悔。要我調治。必去嫌疑之心。專付託之任。以一月為期。至家。鄧夫人取白金五兩。權作利市。小兒好時。再補五兩。不敢少。望先生用心。予曰。只要專信我用我。使我治好了。不在謝之多少也。至此專心聽信。依舊照日立方。血止後。去芩梔。加冬花五味。咳止後。以參芩白朮散調之。凡十七日而安如舊。謝歸。因名其方曰。潤肺降火茆根湯。今吾子等用之皆效。</p>
<p>黃州府省祭許成仁。有子病咳血。醫用吾茆根湯治之。不效。吾見之。與其醫云。病不同也。彼乃肺中有火。氣逆而嗽。此則肺虛嗽血矣。乃立方與之。用阿膠珠天門冬麥門冬桑白皮蜜炒桔梗甘草蘇葉烏梅柿霜煎服。五日效。</p>
<p>麻城曾芸塘喻長州之妹婿也。病咳。半夜甚。其子年九歲。乃胎稟之不足。腎虛嗽也。用人參固本丸加阿膠桑白皮蜜丸服。盡劑而安。</p>
<p>本縣汪元津。一子病腎虛嗽。與上證同。請予治。用人參固本丸加白茯苓知母貝母山藥各等分為末蜜丸。服之。安。</p>
<p>凡小兒百日內嗽不止者。名百晬嗽難治。宜甘桔湯加阿膠主之。</p>
<p>小兒素有哮喘。遇天雨則發者。蘇陳九寶湯主之。如吐痰多者。六味地黃丸主之。</p>
<p>發揮云。腎者水臟也。受五臟六腑之津液而藏之。入心為汗。入肺為涕。入脾為涎。入腎為精。入肝為淚。凡咳嗽之多吐痰。乃腎之精液不歸元也。宜補腎。地黃丸主之。加巴戟杜仲鹽水炒。肉蓯蓉酒洗去甲。小茴香炒。破故紙炒。研末蜜丸。煎麥門冬湯下。</p>
<p>本縣胡三溪長女。素有喘痰。發則多吐痰涎。用上補腎地黃丸。人初不知。有笑之者。後喘止痰止乃信之。</p>
<p>凡小兒久嗽不止。面目浮腫者。此肺氣逆也。宜五皮湯加蘇葉最妙。</p>
<p>一富室小兒瀉泄後病喘急。予思此脾虛也。寒濕之氣上升也。用陳氏芎蠍散。一服而止。</p>
<p>一兒三歲病嗽血。醫用茆根湯主治。予阻之。彼有後言。予笑曰。此吾家方也。不信。以夫子之道。反議夫子乎。因制一方。用阿膠珠桑白皮蜜炒杏仁桔梗甘草紫蘇葉各等分為末。蜜丸芡實大。每一丸陳皮湯下。五日而安。</p>

<h3>喘嗽</h3>
<p>肺主喘嗽。喘有順逆。嗽有新舊。須辨明之。</p>
<p>喘順者。或因風寒而發。不然則無是病也。此屬外感。宜發散。五虎湯主之。</p>
<p>或有喘病。遇寒冷而發。發則連綿不已。發過如常。有時復發。此為宿疾。不可除也。初發之時。且勿治之。待其少衰。宜蘇陳九寶湯主之。慎勿用砒霜輕粉諸毒藥攻之。與其巧而無益。不若拙而行其所無事也。</p>
<p>逆者。大病與諸危篤病。但氣喘急。痰涎有音。皆惡候也。不治。惟腫脹之病。常有喘者。宜蘇子降氣湯主之。</p>
<p>嗽新者。因風寒中於皮毛。皮毛者。肺之合也。肺受風寒之邪。則發為咳嗽。其證或鼻流清涕。或鼻塞者是也。宜發散。華蓋散作丸服之。即三拗湯加減法也。</p>
<p>或因乳得之。凡兒啼哭未定。不可以乳強入口。乳氣相搏而逆。必嗆出也。胃氣既逆。肺氣不和。發為痰嗽。咳則吐乳是也。宜順氣和胃。加減大安丸主之。</p>
<p>初傷乳者。未得順氣化痰。以致脾胃俱虛。乃成虛嗽。宜健脾補肺消乳化痰。三奇湯主之。</p>
<p>久嗽者。初得病時。因於風者。未得發散。以漸而入於裡。肺氣益虛。遂成虛嗽。宜潤肺兼發散。人參潤肺散主之。</p>
<p>久嗽不已。服上諸藥不效者。宜神應散主之。氣弱者。必用之劑也。如氣實者不可服。宜家傳葶藶丸主之。</p>
<p>久嗽不已。嗽而有血者。此肺損也。宜茆花湯主之。</p>
<p>久嗽不已。胸高起如龜殼。此名龜胸。難治。宜家傳葶藶丸主之。咳止者吉。不止者發搐必死。</p>
<p>久嗽不已。日漸羸弱。又發搐者。此慢驚風不治。如不發搐。但羸瘦者。此名疳瘦。宜人參款花膏合阿膠丸。主之。</p>
<p>久嗽不已而浮腫者。五皮湯加紫蘇葉主之。</p>
<p>久嗽咯唾膿血者。此肺癰也。宜桔梗湯主之。復嗽不止發搐者死。</p>
<p>小兒初生至百日內嗽者。謂之百晬內嗽。痰多者。宜玉液丸。肺虛者阿膠散主之。此名胎嗽。最為難治。如喘嗽氣逆。連聲不止。以致發搐必死。</p>
<p><u>華蓋散</u>　治肺感風寒。痰壅咳嗽。</p>
<p>麻黃（去節）　杏仁（去皮尖）　蘇子（炒）　橘紅（去白）　桑白皮（蜜炒）　茯苓（各等分）　甘草（減半）　上為末。蜜丸彈子大。每一丸。薑棗煎水服。</p>
<p><u>人參款花膏</u>　治久咳肺虛。</p>
<p>款冬花　百合　桑白皮（蜜炙）　五味子　人參（各等分）　上為末。蜜丸芡實大。每一丸。紫蘇葉煎湯下。</p>
<p><u>加減三奇湯</u>　治傷乳嗽。痰湧吐乳。</p>
<p>桔梗　陳皮（去白）　白茯苓　青皮　蘇子（炒）　人參　桑白皮（炒各五錢）　半夏（麵炒七錢）枳實（炒）　甘草（炙各三錢）　杏仁（十枚）　上為末。薑汁煮神麯糊丸。黍米大。滾白水下。</p>
<p><u>九寶湯</u></p>
<p>陳皮　麻黃　薄荷（各一錢）　桂枝　蘇葉　杏仁　大腹皮　桑白皮　甘草（各二錢）　烏梅（一枚）　生薑（三片）　上用水煎。一本有桔梗入童便。</p>
<p><u>五虎湯</u>　治肺喘。</p>
<p>麻黃（七分）　杏仁（一錢）　甘草（四分）　臘茶葉（八分）　石膏（一錢五分）　上作一服水煎。本方去茶石膏。加紫蘇葉桑皮等分。名家傳五拗湯。</p>
<p><u>家傳葶藶丸</u></p>
<p>葶藶丸去防己牽牛。加蘇子炒。陳皮去白等分。棗肉丸是也。</p>
<p><u>加減大安丸</u>　治傷乳喘嗽。此保和丸加減法也。</p>
<p>陳皮（去白）　半夏　白茯苓　白朮　枳實（炒）　桔梗（各等分）　蘇子（炒）　甘草（炙）　萊菔子（炒各減半）　上為末。薑汁煮神麯糊丸。麻子大。淡薑湯下。</p>
<p><u>桔梗湯</u>　治肺癰。</p>
<p>桔梗　生貝母　當歸　栝蔞仁　枳殼（炒）　薏苡仁（炒）　桑白皮　防己（各二分）　黃耆（分半）　甘草節（生用）　杏仁（去皮尖）　百合（各一分）　上銼。生薑水煎。</p>
<p><u>神應散</u>　治一切虛嗽。</p>
<p>粟殼（去筋蒂酒炒）　杏仁（去皮尖炒）　白膠香　人參　阿膠　麻黃（去根節）　烏梅（去核各二兩）　桑白皮（炒）　款冬花（各一兩）　甘草（炙兩半）　上為末。量人加減。薑棗煎服。</p>
<p>一女子四歲。嗽久不止。胸高起狀如龜殼。嗽則其骨扇動。母之父知醫。治之不效。問予何如。予曰。此肺熱而脹。成龜胸也。嘗聞諸父教云。龜胸龜背。書皆有之。無治法也。後嗽不止。發搐而死。</p>

<h2>腎臟主病</h2>
<p>腎主虛無實。地黃丸主之。</p>
<p>唯瘡疹腎實則黑陷。此非錢氏之語。乃記者之誤焉而不詳者也。以啟後人之疑。有瀉腎之方。如百祥丸之類。有補腎瀉腎之論。令兒夭折。盡信書則不如無書也。蓋人之一身。肺主皮毛。心主血脈。脾主肌肉。肝主筋。腎主骨髓。五臟之有腎。猶四時之有冬也。瘡疹之毒。乃自骨髓出現於筋肉血脈皮膚之外。如品物之翕聚於冬者。發散而為春之生。夏之長。秋之收也。變黑歸腎則不能發散於外。而反陷於內。此腎中真氣之虛。邪氣之實。所以立百祥丸牛李膏以瀉腎中之邪氣。非瀉腎之真氣也。況腎中之水。潤澤光壯。由津液之充滿也。瘡疹黑陷者。正腎主虛。水不勝火。津液乾枯。故變為黑。倒陷入里。所謂瀉之者。瀉火救水之良法。詳見痘疹心要。</p>

<h2>腎臟兼證</h2>
<p>諸虛不足。胎稟怯弱者。皆腎之本臟病也。</p>
<p>五臟病後成腎虛者。各用地黃丸加減隨證。惟瘡疹歸腎有補有瀉。變黑倒陷者。宜百祥丸牛李膏瀉之。泄瀉灰白癢塌者。宜陳氏異功散補之。（詳見痘疹心要。）</p>
<p>兼見肝證。驚風及手足癰者。宜地黃丸加牛膝當歸續斷各二兩肉桂一兩為末蜜丸服。</p>
<p>兼見心證。驚風及失音不語者。宜地黃丸加石菖蒲柏子仁遠志各二兩為末蜜丸服。</p>
<p>兼見脾證。吐瀉及變痢疾者。宜地黃丸加黃連黃柏各酒炒二兩乾薑炒車前子肉豆蔻麵煨各一兩為末蜜丸服。</p>
<p>兼見肺證。咳嗽痰中有血。宜地黃丸。加天門冬麥門冬焙知母黃柏蜜水炒阿膠炒各二兩蜜丸服。</p>
<p><u>陳氏異功散</u></p>
<p>木香　人參　當歸　陳皮　肉豆蔻（煨）　丁香　厚朴（各錢半）　肉桂　茯苓　白朮（各二錢）　半夏　附子（炮各一錢）　上銼。姜二片。棗二枚。煎服。</p>

<h2>腎所生病</h2>
<p>錢氏曰。腎主虛。即胎稟不足之病也。</p>
<p>按經云。腎主骨。骨會大杼。大杼以上喉骨也。項者頭之莖。莖弱則頭傾矣。大杼以下脊骨也。脊者身之柱。脊弱則身曲矣。脊之下尻骨也。尻骨不成。則兒坐遲矣。尻骨之下。則胯骨也。胯骨弱。則不能立矣。胯之下膝骨也。膝骨弱。則不能行矣。齒者骨之餘。骨氣不足。則齒生遲矣。發者血之餘。腎之主血。血不足則發不生矣。皆胎稟不足之病也。謂之五軟。此兒難養。並宜六味丸加當歸杜仲牛膝川續斷主之。</p>
<p>腎肝在下。母子也。腎主骨。肝主筋。骨屬於筋。筋束乎骨。二者相為依附也。肝虛筋弱者。亦宜地黃丸主之。乃虛則補其母也。</p>
<p>腎主骨髓。脊者髓之路。腦者髓之海也。肝之脈與腎脈內行於脊骨之中。上會於腦。故頭破解顱脊疳之病。乃肝腎之風熱。子傳於母之病也。</p>
<p>解顱者有二。或生下之後。頭縫四破。頭皮光急。日漸長大。眼楞緊小。此髓熱也。</p>
<p>又有生下五六個月後。囟門已合而復開者。此等小兒。大數難養。腎肝風熱之病。宜加味瀉青丸主之。所謂實則瀉其子也。蘆薈瀉青丸加黃柏黃芩黃連等分碾末蜜丸服。</p>
<p>肝疳者。小兒生後。生瘡成餅。狀如覆盤。此風熱也。宜加味瀉青丸加蔓荊子白蒺藜炒。</p>
<p>脊疳者小兒疳瘦。脊如鋸齒。肋骨高起。拍之有聲。宜集聖丸加龍膽草梔子仁黃柏同為丸服。</p>
<p>齒根黑爛。臭息出血者。名走馬疳。橡斗散主之。</p>
<p>櫟橡子殼。不拘多少。入鹽填滿。二斗相合。放火中燒過。研末搽牙。</p>
<p>予有一族孫無父。周歲生走馬疳。予用尿桶底白垽刮下。瓦上焙乾。五分。五倍子內蟲灰三分。鼠婦焙乾三分。枯白礬一錢。共研末。先用臘茶葉浸。米泔水洗淨。以藥付之神效。名曰不二散。</p>
<p>兒有大病。暴喑失聲者。此腎怯也。宜地黃丸加石菖蒲主之。</p>
<p>痘後小兒。有平時大便常難者。後重者。此腎虛血不足病也。難經云。利如下重是也。不可聽信庸醫。妄用下劑。宜地黃丸加當歸二兩火麻仁二兩主之。</p>

<h2>五臟虛實補瀉之法</h2>
<p>按五臟虛實補瀉之法。引經解之。經云。邪氣盛則實。真氣奪則虛。所謂實則瀉之者。瀉其邪氣也。虛則補之者。補其真氣也。如真氣實則為無病兒矣。豈有瀉之者乎。云肝常有餘。脾常不足者。此卻是本臟之氣也。蓋肝乃少陽之氣。兒之初生。如木方萌。乃少陽生長之氣。以漸而壯。故有餘也。腸胃脆薄。穀氣未充。此脾所以不足也。</p>
<p>小兒五色修明。聲音清響。此心肺之氣足也。乳食能進。大小便調。此腸胃之氣足也。手足和暖。筋骨剛健。此皆腎肝之氣足也。是謂無病易養。不宜妄投藥餌。誅罰無過也。</p>
<p>如面色晄白。聲音微小。此心肺不足也。乳食減少。吐痢頻並。此腸胃不足也。顱解項軟。手足痿弱。此肝腎不足也。是兒多病難養。此以形體之虛實。辨五臟之強弱也。有病者。各宜隨五臟之虛實。按方治之。</p>
<p>小兒熱證有七　面腮紅　大便秘　小便黃　渴不止　上氣急　脈弦急　足脛熱（以上不宜服熱藥）</p>
<p>小兒冷證有七　面晄白　糞青色　腹虛脹　眼珠青　嘔奶乳　脈微沉　足脛冷（以上不宜服寒藥）</p>
<p>此熱證者。邪氣實也。宜用寒涼瀉之。如服熱藥謂之實實。寒證者。真氣虛也。宜用溫熱補之。如服寒藥。謂之虛虛。經云。毋實實。毋虛虛。毋夭人長命。此之謂也。</p>

<h2>因五邪之氣所生病</h2>
<p>經云。春傷於風。夏生飧泄。飧泄者。謂飧食不化也。</p>
<p>發揮云。難經有五瀉之辨。脈訣云。濕多成五瀉。又有胃風湯證。雖大小不同。間亦有之。不可不知也。</p>
<p>如傷風吐瀉者。風屬木。脾胃屬土。土虛故木乘之。水穀不化。謂之完穀也。此從胃中來故不化。若自小腸來。則半腐化。出來成糟粕矣。自大腸來水穀已別。谷多水少矣。故傷風飧瀉。有惡風表證者。宜發散之。桂枝湯加羌活黃芩防風。或瀉青丸去大黃。加炙甘草。或加減敗毒散。無表證者神朮散。風瘧柴苓湯。</p>
<p>加減敗毒散去獨活枳殼加當歸。（各等分。薑棗引。）神朮散治春傷於風。夏生飧泄。</p>
<p>蒼朮（一錢半）　藁本　川芎（各六分）　羌活（四分）　甘草（炙六分）　細辛（二分）　上為末。分二服。姜水煎。</p>
<p>如下鮮血者。此風熱也。胃風湯主之。</p>
<p>傷風咳嗽。此風入肺也。宜發散。人參荊芥散主之。（見驚風條內。）</p>
<p>夏月傷暑作吐瀉者。宜加味五苓散主之。</p>
<p>豬苓　澤瀉　白朮　白茯苓　桂枝　藿香葉　砂仁（各等分）　為末。白湯化下。</p>
<p>夏月泄瀉。小兒極多。治有三法。清暑一也。利小便二也。溫中三也。以涼藥止之。治壞病也。</p>
<p>發揮云。初瀉有發熱口渴者。此宜以清暑氣為先。不可便用理中湯丸。恐內有熱。乾薑犯時禁。加減香薷飲主之。</p>
<p>香薷　黃連　炙甘草（各等分）　上煎湯熱服。</p>
<p>或理中湯冷服之。或六一散。生薑湯調服。</p>
<p>如初水瀉無熱無渴者。不可服玉露散太多。恐犯胃氣也。宜理中湯加藿香煎成湯。澄冷服。或理中丸用冷水化開服之。</p>
<p><u>玉露散</u></p>
<p>寒水石（煅三兩）　滑石（三兩）　甘草（末一兩）　共研勻。冷水調服。</p>
<p>如上法不止者。宜利小便。有熱有渴者。六一散同服。無熱無渴者。入理中丸化開服之。此吾家傳治夏月瀉泄之良方也。從吾法者有發有降。違吾教者得少失多。詳見前。</p>
<p>予甘妾初生男未周歲。六月病瀉。妾兄甘大用吾所傳者。治之不效。反加大熱大渴。予歸問。曰所服者理中丸。吾蓋料其不知用熱遠熱之戒。犯時禁也。乃制玉露散以解時令之熱。冷水調服。一劑而安。玉露散自此收入小兒方也。</p>
<p>本縣一屠家徐姓者。有兒十二歲。六月病瀉。請大用。用因前失。以玉露散服之。不知中病即止恐犯胃氣之戒。又失之。此兒初服藥後瀉渴俱止。再服之瀉益甚。又服之大熱大渴。面赤如火。張口喘呼。用見事急。自邀我同看。予問所服者何藥也。云前所制玉露散也。又問服幾次。其父母應云。初服一次效。後連服三日。越服越不好。望相公救之。予教用理中湯加熟附子一片服之。又教云。服藥後若安靜即止。藥後若煩躁。再與一劑。用受教往治。果加煩躁。連進二服而安。用獲厚謝。特至吾家。拜曰。以報日前之教。因問予。二子病證相同。治法各別何也。予曰。夏至後瀉者。七分熱。三分寒。治此瀉者。當七分寒藥。三分熱藥。前證因汝多服理中湯。犯用熱遠熱之戒。故用玉露散。以解火令之熱。後證因汝過服玉露散。傷其中氣。故用理中湯加附子以救里也。用曰。何以安靜者不治。煩躁者反可治也。曰。夏至後垢卦用事。伏陰在內。六月建未。其位在坤。坤為腹而生土。土愛暖而惡寒。玉露性寒。傷其脾土。陰盛於內。陽脫於外。故用理中附子之辛熱。所以收斂欲脫之陽。勝其方長之陰。服藥安靜者。脾氣敗絕。投藥不知。故不可治。如煩躁者。寒熱相搏。脾有生意。故再投藥。使勝其寒也。用曰。如此神妙。予初何以知之。下次治此熱瀉。當如之何。予曰。看其病證何如。瀉多熱渴少者。急以溫中為主。先進理中湯。後以玉露散微解之。不渴者不可用也。先大熱大渴瀉少者。此裡熱甚也。急解其暑毒。以玉露散解之。熱渴略止後。用理中湯補其中氣。泄止不可再服也。如渴不止。只用白朮散治之。理中玉露皆不可服也。切記吾言。再勿誤也。白朮散治瀉渴不止要藥也。如服白朮散渴瀉不止者。此水壅以犯腎。腎得水而反燥。故轉渴瀉。宜白朮散去乾葛加炒乾姜等分服之。辛以潤燥。致津液。用自此後醫術漸通。家道頗昌。</p>
<p>暑瘧者。柴胡白虎湯。即小柴胡合白虎湯。</p>
<p>暑咳者。甘桔湯合黃連阿膠丸。</p>
<p>經云。夏傷於暑。秋髮痎瘧。予謂瘧之為病。不唯中暑有之。凡風寒暑濕飲食勞倦。皆能為病也。大抵民病瘧痢者多。蓋四時之氣。太陰濕土之令。手太陰肺經。受風寒暑濕之氣。病瘧多。足太陰脾經。受飲食水穀之邪。則病痢多。二經俱受邪則瘧又病痢也。病瘧者。平瘧養脾丸主之。病痢者。和中丸主之。此家傳不易之秘法也。寶之重之。勿輕示人也。難云。形寒飲冷則傷肺。肺主皮毛。秋冬病宜攻者多。因傷寒得之。鼻塞聲重。宜發散。麻黃湯主之。</p>
<p>麻黃（連根水泡去沫）　杏仁（去皮尖炒）　生甘草（各等分）　上用水煎服。熱甚者加生石膏末。臘茶葉。名五虎湯神效。</p>
<p>濕傷腎。利而下重。秋月病痢者。皆腎病也。宜地黃丸去丹皮。加黃柏酒炒。破故紙炒。小茴香炒。各二兩。乾薑炒黑五錢。研末丸服。</p>
<p>經云。冬傷於寒。春必病溫。溫熱之病也。況冬月暄熱令行。則陽氣暴泄。不能閉藏。為寒所折。至春則發為熱病也。小兒得之。則發瘡疹病者。亦溫熱之類也。如有此氣。宜預服代天宣化解毒丸。甚有良驗。</p>

<h2>附：湯方</h2>
<p>一、天保采薇湯</p>
<p>羌活　前胡　半夏　陳皮　柴胡　赤芍　白茯苓　川芎　枳殼　厚朴　桔梗　蒼朮　升麻　葛根　藿香　獨活　甘草</p>
<p>二、犀角解毒湯（治胎熱丹毒）</p>
<p>犀角　赤芍　生地黃　白芷　甘草　連翹　荊芥　防風　牡丹皮　木通</p>
<p>三、導赤散（治夜啼）</p>
<p>木通　生地　甘草　竹葉　黃芩</p>
<p>四、大連翹飲（治胎熱等症）</p>
<p>連翹　赤芍　歸尾　木通　甘草　防風　荊芥</p>
<p>五、理中湯（治胎寒等症）</p>
<p>乾薑　白朮　甘草　人參（若加附子名附子理中湯）</p>
<p>六、鉤藤膏（治內釣吐痛）</p>
<p>乳香　沒藥　木香　殭蠶（共為丸鉤藤湯下）</p>
<p>七、地黃茵陳湯（治疸黃）</p>
<p>生地　歸尾　豬苓　天花粉　赤芍　赤苓　茵陳　澤瀉　甘草</p>
<p>八、芍藥湯（治夜啼泄瀉）</p>
<p>白芍　澤瀉　甘草　大茴　薄荷　木香　茱萸　生薑</p>
<p>九、六君子湯（治脾胃虛寒等症）</p>
<p>陳皮　半夏　人參　白朮　甘草　白茯　生薑大棗引。</p>
<p>十、固真湯（治慢驚四肢冷不省人事）</p>
<p>附子　甘草　人參　山藥　黃耆　肉桂　白朮　白茯薑棗引。</p>
<p>十一、保元湯（治汗多變慢驚）</p>
<p>黃耆　人參　甘草　生薑（三片）　大棗（一枚）　水煎服。</p>
<p>十二、姜半散（治吐不止將成慢驚）</p>
<p>半夏　生薑　肉桂</p>
<p>十三、調脾湯（治脾疳）</p>
<p>陳皮　白朮　丁香　人參　訶子　青皮　甘草</p>
<p>十四、六味地黃丸（治骨疳）</p>
<p>牡丹皮　熟地黃　白茯苓　山萸肉（酒蒸去核）　白澤瀉　懷山藥　上為細末。煉蜜丸如桐子大。空心滾水送下。</p>
<p>十五、蘆薈丸（治丁奚哺露）</p>
<p>蘆薈　人參　白朮　白茯　山藥　木香　陳皮　青皮　麥芽　神麯　當歸（各三錢）　檳榔（兩個）　麝香（少許）　上為細末。豬膽打麵糊為丸。如麻子大。清水湯送下。</p>
<p>十六、小異功散（治先瀉後吐脾胃虛冷）</p>
<p>人參　白朮　橘皮　白茯　薑棗為引。煎服。</p>
<p>十七、黃連芍藥湯（治先吐後瀉）</p>
<p>黃連　芍藥　豬苓　澤瀉　白茯　白朮　甘草</p>
<p>十八、五苓散（治吐瀉）</p>
<p>豬苓　白朮　白茯　澤瀉　肉桂</p>
<p>十九、消導二陳湯（導痰消食健脾）</p>
<p>陳皮　半夏　白茯　白朮　蒼朮　神麯　香附　砂仁　甘草</p>
<p>二十、六和湯（治暑瀉）</p>
<p>陳皮　半夏　白茯　甘草　黃連　厚朴　藿香　香茹　加扁豆　木瓜</p>
<p>二十一、胃苓湯（治長夏暑）</p>
<p>澤瀉　陳皮　白茯　豬苓　厚朴　白朮　蒼朮　甘草</p>
<p>二十二、助胃膏（治胃氣虛寒嘔吐）</p>
<p>人參　白朮　白茯　甘草　山藥　木香　丁香　藿香　砂仁</p>
<p>二十三、訶附丸（治飧泄）</p>
<p>訶子肉　灶心土　黑附子　為末。米糊丸如粟米大。用米湯下。</p>
<p>二十四、十六味肥兒丸（治脾胃虛弱）</p>
<p>人參　白朮　白茯　山藥　薏仁米　芡實　蓮肉　甘草　陳皮　山楂　麥芽　砂仁　黃連　澤瀉　芍藥　連翹　上為末。蜜丸如彈子大。米湯下。</p>
<p>二十五、承氣湯（治裡急後重腹痛痢疾）</p>
<p>朴硝　大黃　枳實　厚朴</p>
<p>二十六、木香檳榔丸（治食積）</p>
<p>黑醜　檳榔　木香　神麯　大黃　上為末。生薑汁糊丸。如粟大。米湯下。</p>
<p>二十七、補中益氣湯</p>
<p>黃耆　人參　甘草　陳皮　白朮　升麻　柴胡　當歸</p>
<p>二十八、四順清涼飲（治中焦熱）</p>
<p>白芍　當歸　生地　甘草　柴胡</p>
<p>二十九、人參敗毒散（治積毒嘔惡）</p>
<p>柴胡　前胡　川芎　羌活　獨活　白茯苓　枳殼　桔梗　甘草　人參　生薑引。</p>
<p>三十、四君子湯（治脾胃不調等證）</p>
<p>人參　白朮　白茯　甘草　薑棗引。</p>
<p>三十一、薑茶飲（治赤白痢）</p>
<p>陳茶　生薑　黃蠟　鹽　車前葉</p>
<p>三十二、四獸飲（治虛瘧）</p>
<p>白朮　人參　白茯　草果　半夏　甘草　陳皮　烏梅　薑棗引。</p>
<p>三十三、人參養胃湯（治瘧寒多熱少）</p>
<p>陳皮　半夏　茯苓　人參　蒼朮　厚朴　草果　藿香　姜引。</p>
<p>三十四、清瘧飲</p>
<p>柴胡　枳殼　青皮　半夏　白朮　黃芩　厚朴　豬苓　白茯苓　澤瀉　陳皮　甘草　貝母　知母　前胡</p>
<p>三十五、隨用截方（加常山草果檳榔姜引系加在前方煎服）</p>
<p>三十六、參蘇飲</p>
<p>人參　蘇梗　桔梗　前胡　半夏　乾葛　陳皮　枳殼　杏仁　木香　甘草　茯苓　用姜引。</p>
<p>三十七、五子五皮飲（治腫脹）</p>
<p>蘇子　山楂子　萊菔子　葶藶子　香附子　桑皮　橘皮　大腹皮　茯苓皮　生薑皮</p>
<p>三十八、瀉黃散（治濕熱腫脹）</p>
<p>赤茯　黃連　黃柏　黃芩　山梔　澤瀉　茵陳</p>
<p>三十九、瀉白散（治肺熱）</p>
<p>甘草　桔梗　陳皮　桑皮　地骨皮</p>
<p>四十、四物湯（調益榮衛）</p>
<p>川芎　當歸　熟地　白芍</p>
<p>四十一、麥門冬飲（治吐血久不止）</p>
<p>麥冬　黃耆　當歸　人參　生地　五味子</p>
<p>四十二、清胃湯（治糞後見血）</p>
<p>山梔子　生地　牡丹皮　黃連　當歸</p>
<p>四十三、茵陳湯（治黃疸）</p>
<p>茵陳　梔子　黃柏</p>
<p>四十四、祛風散（治天柱骨倒）</p>
<p>防風　甘草　羌活　細辛　黃芩　白芷　薄荷　當歸　川芎</p>
<p>四十五、滋陰降火湯（治陰虛痰結）</p>
<p>當歸　地黃　白芍　黃連　白茯苓　知母　天花粉　蓮子　黑玄參　甘草　麥冬（燈心引）</p>
<p>四十六、五淋散（治血淋）</p>
<p>赤苓　赤芍　山梔仁　條黃芩　當歸　甘草　燈心一團引。</p>
<p>四十七、清脾飲（治熱瘧或熱多寒少）</p>
<p>青皮　半夏　黃芩　甘草　白朮　白茯苓　柴胡　陳皮　草果　厚朴　薑棗引。</p>
<p>四十八、人參安神湯（治心血不足驚悸不眠）</p>
<p>麥冬　人參　當歸　黃連　棗仁　生地　茯神</p>
<p>四十九、安神湯（治心血不足驚悸）</p>
<p>人參　半夏　棗仁　茯神　當歸　橘紅　赤芍　五味子　甘草　姜引。</p>
<p>五十、寧心丸</p>
<p>麥冬（五錢去心）　寒水石（一兩）　白茯苓　甘草　牙硝　山藥（各五錢）　硃砂（一兩）　龍腦（一字）　上為細末。煉蜜為丸。如芡實大。每服半丸。砂糖水磨下。如慢症用人參白朮煎濃汁化下。</p>
<p>五十一、肝疳丸</p>
<p>五靈脂　夜明砂　龍膽草　天麻　乾蟾頭　全蠍（二個）　蟬蛻　川芎　蘆薈　黃連　青黛　防風　上為細末。豬膽汁浸為丸。麻子大。每十丸。薄荷湯下。</p>
<p>五十二、化䘌丸（治肝疳）</p>
<p>蕪荑　青黛　蘆薈　川芎　白芷　胡連　川連　蝦蟆灰各等分為末。豬膽汁浸糊為丸。麻子大。每服二個。臨臥杏仁湯送下。</p>
<p>五十三、褐丸子（治疳脹）</p>
<p>蘿蔔子（一兩）　青皮　陳皮　檳榔　赤茯苓　黑牽牛　莪朮　五靈脂（各五錢）　木香（減半）　上為末。麵糊如綠豆大。每五十丸。桑皮紫蘇煎湯。或蘿蔔湯下。</p>
<p>五十四、加味二陳湯（治夾暑傷寒吐瀉）</p>
<p>陳皮　半夏　白茯苓　甘草　厚朴　香茹　黃連　山楂　麥芽　神麯　木通　澤瀉</p>
<p>五十五、香茹飲（治暑熱）</p>
<p>香茹　厚朴　扁豆　黃連</p>
<p>五十六、清心蓮子飲（治溺血）</p>
<p>麥冬　地骨皮　黃芩　甘草　白茯苓　黃耆　柴胡　人參　石蓮肉</p>
<p>五十七、瀉青湯（治囟填）</p>
<p>羌活　川芎　梔仁　龍膽草　當歸　防風（各等分）　大黃（減半）　竹葉引。</p>
<p>五十八、清金飲（治傷風嗽吐）</p>
<p>前胡　杏仁　桔梗　桑皮　半夏　甘草　旋覆花　薄荷　陳皮　水煎。</p>
<p>五十九、小續命湯（治剛柔痙病）</p>
<p>麻黃　人參　黃芩　川芎　芍藥　甘草　杏仁　防風　防己　肉桂　附子（水煎）</p>
<p>六十、芎蘇飲</p>
<p>川芎　蘇葉　陳皮　半夏　前胡　桔梗　枳殼　乾葛　白茯苓　甘草</p>
<p>六十一、瀉肝湯</p>
<p>車前　木通　生地　歸尾　山梔　黃芩　龍膽草　甘草（各等分）</p>
<p>六十二、松蕊丹（治龜背）</p>
<p>松花　枳殼　防風　獨活（各一兩）　麻黃　前胡　大黃　桂心（各五錢）　為末。蜜丸。黍米大。每服三十丸。粥飲下。</p>
<p>六十三、寬氣化痰丸（治龜胸）</p>
<p>大黃（三分）　杏仁　百合　木通　桑皮　甜葶藶　天門冬　石膏（各五錢）　為末。煉蜜丸。綠豆大。食後臨臥。白熱水化下。</p>
<p>六十四、柴胡梔子飲</p>
<p>柴胡　山梔　白茯苓　川芎　白芍　當歸　丹皮　牛蒡　甘草　等分水煎。子母並服。</p>
<p>六十五、固腸飲（治久痢不止）</p>
<p>木香　黃連　當歸　白芍　人參　白朮　白茯苓　甘草　訶子肉　水煎。</p>
<p>六十六、屈膝散（治鶴膝）</p>
<p>防風　薏苡仁　牛膝　苦參（女便浸曬）　何首烏（男便浸曬各一兩）　殭蠶　天花粉　荊芥穗（各五錢）　肥皂核肉（一兩）　鹿茸（五錢）　共為粗末。每用三錢。同冷飯糰四兩。牯豬油六錢。黏米綠豆各一撮。水四碗。煎至二碗。分作二次。溫服。</p>
<p>六十七、豬乳膏（治胎風胎驚）</p>
<p>牛黃　硃砂（各少許）　取豬乳調。抹兒口中。</p>
<p>六十八</p>
<p>黃耆　升麻　人參　白朮　陳皮　神麯　澤瀉　黃柏　當歸　青皮　乾葛　五味　甘草水煎服。</p>
<p>六十九、八珍湯</p>
<p>人參　白朮　茯苓　甘草　川芎　當歸　熟地　白芍　薑棗引。</p>
<p>七十、藿香正氣散（治傷脾胃外感寒邪）</p>
<p>藿香　紫蘇　大腹皮　陳皮　桔梗　甘草　茯苓　半夏　神麯　厚朴　白芷　薑棗引。</p>
<p>七十一、疏風順氣湯（治風寒發喘）</p>
<p>紫蘇　乾葛　桑皮　前胡　麻黃　杏仁　甘草　水煎服。</p>
<p>七十二、清肺湯</p>
<p>白朮　茯苓　陳皮　薄荷　南星　桑皮　細辛　甘草　桔梗</p>
<p>七十三、備急方（治夜啼內吊）</p>
<p>煎蔥湯淋洗其腹。又用艾絨烘熱。包圍其腹。十數次其痛漸止。</p>
<p>七十四、蓮花飲</p>
<p>甘草　知母　蓮花須　川蓮仁　栝蔞根　五味　人參　乾葛　白茯苓　生地　竹葉</p>
<p>七十五、參竹湯</p>
<p>麥冬　人參　竹葉　甘草　半夏　小麥　粳米　陳皮　生薑</p>
