<header data-type="book">
<h1>醫宗金鑑·刪補名醫方論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>底本</dt><dd>《御纂醫宗金鑑》，光緒十八年（1892）上海五彩書局石印本（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-996773">香港中文大學圖書館掃描本</a>），卷二十六至卷三十三；《欽定四庫全書·子部五·醫家類·御纂醫宗金鑑》卷二十六至卷三十三（<a href="https://www.kanripo.org/ed/KR3e0090/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>刪補名醫方論（一）</h2>
<p>古醫方得人乃傳，非人勿言。故扁鵲。倉公皆稱禁方，不輕授人，誠重之也。後漢張機著《傷寒雜病論》，始立眾方，公之天下。故建安以前，苦於無方；元豐而後，雖有《局方》，漫無指歸，不可為法。今博集《金匾》、《千金》、《外臺》諸書及王好古、李杲、劉完素、朱震亨、張從政、薛己諸方之佳者，採錄成編。然方論始於成無己，近代則有吳琨、李中梓、柯琴、汪昂諸家，於醫方雖各有發明，但其問或有擇焉未精、語焉未詳者。復推其立方之意，綜其簡要，刪繁補缺，歸於明顯，名之曰：刪補名醫方論，以昭示來茲云。</p>
<p><u>獨參湯</u>　治元氣大虛，昏厥，脈微欲絕，及婦人崩產，脫血，血暈。</p>
<p>人參（分兩隨人、隨證）</p>
<p>須上揀者，濃煎頓服，待元氣漸回，隨證加減。</p>
<p>【集註】柯琴曰：一人而系一世之安危者，必重其權而專任之；一物而系一人之死生者，當大其服而獨用之。故先哲於氣幾息、血將脫之證，獨用人參二兩，濃煎頓服，能挽回性命於瞬息之間，非他物所可代也。世之用者，恐或補住邪氣，姑少少以試之，或加消耗之味以監製之，其權不重、力不專，人何賴以得生乎？如古方霹靂散、大補丸，皆用一物之長而取效最捷，於獨參湯何疑耶！</p>
<p>【按】若病兼別因，則又當隨機應變，於獨參湯中或加熟附補陽而回厥逆；或加生地涼陰而止吐衄；或加黃耆固表之汗；或加當歸救血之脫；或加薑汁以除嘔吐；或加童便以止陰煩；或加茯苓令水化津生，治消渴泄瀉；或加黃連折火逆衝上，治啉口毒痢。是乃相得相須以有成，亦何害其為獨哉？如薛己治中風，加人參兩許於三生飲中，以駕馭其邪，此真善用獨參者矣。</p>
<p><u>參附湯</u>　治陰陽氣血暴脫等證。</p>
<p>人參　附子（制）</p>
<p>水煎服。</p>
<p>【注】先身而生，謂之先天；後身而生，謂之後天。先天之氣在腎，是父母之所賦；後天之氣在脾，是水穀之所化。先天之氣為氣之體，體主靜，故子在胞中，賴母息以養生氣，則神藏而機靜；後天之氣為氣之用，用主動，故育形之後，資水穀以奉生身，則神發而運動。天人合德，二氣互用，故後天之氣得先天之氣，則生生而不息；先天之氣得後天之氣，始化化而不窮也。若夫起居不慎則傷腎，腎傷則先天氣虛矣。飲食不節則傷脾，脾傷則後天氣虛矣。補後天之氣無如人參，補先天之氣無如附子，此參附湯之所由立也。二臟虛之微甚，參附量為君主。二藥相須，用之得當，則能瞬息化氣於烏有之鄉，頃刻生陽於命門之內，方之最神捷者也。若表虛自汗，以附子易黃耆，名人參黃耆湯，補氣兼止汗。失血陰亡，以附子易生地，名人參生地黃湯，固氣兼救陰。寒濕厥汗，以人參易白朮，名朮附湯，除濕兼溫里，陽虛厥汗，以人參易黃耆，名耆附湯，補陽兼固表。此皆參附湯之轉換變化法也，醫者擴而充之，不能盡述其妙。</p>
<p><u>生脈飲</u>　治熱傷元氣，氣短倦怠，口渴出汗。</p>
<p>人參　麥門冬　五味子</p>
<p>水煎服</p>
<p>【注】經云：大氣積於胸中，則肺主之。夫暑熱傷肺，肺傷則氣亦傷矣。故氣短、倦怠而喘咳也。肺主皮毛，肺傷則失其衛護，故汗出也。熱傷元氣，氣傷則不能生津，故口渴也。是方君人參以補氣，即所以補肺。臣麥冬以清氣，即所以清肺。佐五味以斂氣，即所以斂肺。吳琨云：一補、一清、一斂，養氣之道備矣。名曰生脈，以脈得氣則充，失氣則弱。李杲謂：夏月服生脈飲，加黃耆、甘草，名生脈保元湯，令人氣力湧出；更加當歸、白芍，名人參飲子，治氣虛喘咳，吐血衄血，亦虛火可補之例也。</p>
<p><u>保元湯</u>　治男婦氣虛之總方也。嬰兒驚怯，痘家虛者，最宜。</p>
<p>黃耆（三錢）　人參（二錢）　甘草（一錢）　肉桂（春夏二三分，秋冬六七分）</p>
<p>上四味，水煎服。</p>
<p>【集註】柯琴曰：昔東垣以此三味能瀉火、補金、培土，為除煩熱之聖藥，鎮小兒之驚，效如桴鼓。魏桂岩得之，以治痘家陽虛頂陷，血虛漿清，皮薄發癢，難灌難斂者，始終用之。以為血脫須補氣，陽生則陰長，有起死回生之功，故名之為保元也。又少佐肉桂，分四時之氣而增損之，謂桂能治血以推動其毒，扶陽益氣以充達周身，血內位，引之出表，則氣從內托；血外散，引之歸根，則氣從外護。參、耆非桂引導，不能獨樹其功。桂不得甘草和平氣血，亦不能緒其條理，要非寡聞淺見者能窺其萬一也。四君中不用白朮，避其燥；不用茯苓，恐其滲也。用桂而不用四物者，以芎之辛散，歸之濕潤，芍之酸寒，地黃之泥滯故耳。如宜升則加升、柴，宜燥加苓、術，宜潤加當歸，宜利氣加陳皮，宜收加芍，宜散加芎。又表實去耆，裡實去參，中滿忌甘，內熱除桂，斯又當理會矣。</p>
<p>【按】元氣者，太虛之氣也。人得之則藏乎腎，為先天之氣，即所謂生氣之原，腎間動氣者是也。生化於脾，為後天之氣，即所謂水穀入胃，其精氣行於脈中之營氣，其悍氣行於脈外之衛氣者是也。若夫合先後而言，即大氣之積於胸中，司呼吸、通內外，周流一身，頃刻無間之宗氣者是也。總之，諸氣隨所在而得名，實一元氣也。保元者，保守此元氣之謂。是方用黃耆保在外一切之氣，甘草保在中一切之氣，人參保上、中、下、內、外一切之氣，諸氣治而元氣足矣。然此湯補後天水穀之氣則有餘，生先天命門之氣則不足，加肉桂以鼓腎間動氣，斯為備耳。</p>
<p><u>四君子湯</u>　治面色痿白，言語輕微，四肢無力，脈來虛弱者。若內傷虛熱，或飲食</p>
<p><u>難化作酸，須加炮姜。</u></p>
<p>人參　白朮　茯苓　甘草（各二錢）</p>
<p>加薑、棗、水煎服。加木香、藿香、葛根，為七味白朮散。加陳皮，為五味異功散。加陳皮、半夏，為六君子湯。加蕾香、砂仁，為香砂六君子湯。</p>
<p>【集註】張璐曰：氣虛者，補之以甘，參、朮、苓、草，甘溫益胃，有健運之功，具沖和之德，故為君子。蓋人之一生，以胃氣為本，胃氣旺則五臟受蔭，胃氣傷則百病叢生。故凡病久虛不愈，諸藥不效者，惟有益胃、補腎兩途。故用四君子，隨證加減，無論寒熱補瀉，先培中土，使藥氣四達，則周身之機運流通，水穀之精微敷布，何患其藥之不效哉！是知四君子為司命之本也。</p>
<p>吳琨曰：夫面色痿白，則望之而知其氣虛矣。言語輕微，則聞之而知其氣虛矣。四肢無力，則問之而知其氣虛矣。脈來虛弱，則切之而知其氣虛矣，如是則宜補氣。是方也，四藥皆甘溫，甘得中之味，溫得中之氣，猶之不偏不倚之人，故名君子。本方加木香、藿香、葛根名七味白朮散，治小兒脾虛肌熱，泄瀉作渴。以木藿之芳香、佐四君入脾，其功更捷；以葛根甘寒，直走陽明，解肌熱而除渴也。</p>
<p>【按】本方加陳皮，名五味異功散，治氣虛而兼氣滯者；再加半夏，名六君子湯，治氣虛而兼痰飲者；再加砂仁、藿香，名香砂六君子湯，治氣虛而兼嘔吐者。此皆補中有消導之意也。</p>
<p><u>香砂六君子湯</u>　治氣虛痰飲，嘔吐痞悶，脾胃不和，變生諸證者。</p>
<p>人參（一錢）　白朮（二錢）　茯苓（二錢）　甘草（七分）　陳皮（八分）　半夏（一錢）　砂仁（八分）　木香（七分）</p>
<p>上生薑二錢，水煎服。</p>
<p>【集註】柯琴曰：經曰：壯者氣行則愈，怯者著而為病。蓋人在氣交之中，因氣而生，而生氣總以胃氣為本，若脾胃一有不和，則氣便著滯，或痞悶噦嘔，或生痰留飲，因而不思飲食，肌肉消瘦，諸證蜂起，而形消氣息矣。四君子氣分之總方也，人參致沖和之氣，白朮培中宮，茯苓清治節，甘草調五臟，胃氣既治，病安從來。然撥亂反正，又不能無為而治，必舉大行氣之品以輔之，則補者不至泥而不行。故加陳皮以利肺金之逆氣，半夏以疏脾上之濕氣，而痰飲可除也；加木香以行三焦之滯氣，縮砂以通脾腎之元氣，而膹郁可開也。君得四輔，則功力倍宣，四輔奉君，則元氣大振，相得而益彰矣。</p>
<p><u>當歸補血湯</u>　治男婦血虛似白虎證，肌熱面赤，煩渴引飲，脈來洪大而虛，重按則微。</p>
<p>當歸（二錢）　黃耆（一兩）</p>
<p>水煎服。</p>
<p>【集註】吳琨曰：血實則身涼，血虛則身熱，或以飢困勞役虛其陰血，則陽獨治，故諸證生焉。此證純象白虎，但脈大而虛，非大而實為辨耳。《內經》所謂脈虛、血虛是也。五味之中，惟甘能補，當歸味甘而厚，味厚則補血；黃耆味甘而薄，味薄則補氣，今黃耆多數倍，而云補血者，以有形之血不能自生，生於無形之氣故也。經言：陽生陰長，是之謂耳。</p>
<p><u>佛手散</u>　治妊娠胎動下血，或因傷動，子死腹中，下血疼痛，口噤欲死。服此探之，不</p>
<p><u>損則痛止，已損則立下。及橫生倒生，交骨不開，產後血暈昏亂，崩中金瘡，去血過多等證。</u></p>
<p>當歸（二兩或三兩）　川芎（一兩）</p>
<p>上銼粗末合均，每服五錢，水一盞，酒半盞，煎八分，熱服。未效再服。</p>
<p>加敗龜版一具，梳髮一團，名開骨散。</p>
<p>【注】命名不曰歸芎，而曰佛手者，謂此方治婦人胎前、產後諸疾，如佛手之神妙也。當歸，川芎為血分之主藥，性溫而味甘辛，以溫能和血，甘能補血，辛能散血也。古人俱必以當歸君川芎，或一倍或再倍者，蓋以川芎辛竄，捷於升散，過則傷氣，故寇宗奭曰：不可單服、久服，亦此義也。然施之於氣鬱血凝，無不奏效，故用以佐當歸而收血病之功，使瘀去新生，血各有所歸也。血既有所歸，則血安其部，而諸血病愈矣。至妊娠胎動，胎傷下血，非血壅胎傷，即血亂妄下。服此以探之，血亂胎未動者，血順則痛止，血壅胎未損者，血行痛止，則胎因之而安也；已動已損者，血得順行，則胎亦因之而順下也。橫生倒生，因用力太早，或誤服催生之藥，致氣逆血亂，亦用此以調之。產後崩中金瘡，亡血昏冒，亦用此以補之。子死腹中，腹痛欲死，亦用此以逐之。以上諸病，皆血病而氣不虛者也。若夫氣虛難產，產後血脫，唇面黃白，少氣煩亂，動則昏冒，若誤與此，反致立敗，則必倍加人參，速固無形之氣，以救有形之血也。至於交骨難開，加龜版、梳髮，下輸陰道；寒加薑、桂，熱加黃耆，汗加桂枝，搐加荊穗，又當以意消息、加減可也。</p>
<p><u>四物湯</u>　治一切血虛、血熱、血燥諸證。</p>
<p>當歸　熟地（各三錢）　川芎（一錢五分）　白芍（酒炒，二錢）</p>
<p>上四味，水煎服。</p>
<p>【集註】張璐曰：四物為陰血受病之專劑，非調補真陰之的方。方書咸謂四物補陰，遂以治陰虛發熱，火炎失血等證，蒙害至今。又專事女科者，咸以此湯隨證漫加風、食、痰、氣等藥，紛然雜出；其最可恨者，不辨熱之虛實，率加知母。黃柏，令人久服，而庸工利其有劫病之能，咸樂用之。殊不知四君子氣藥，治上下失血過多，一切血藥置而不用，獨推獨參湯，童便以固其脫者，以有形之血，不能速生，無形之氣，所當急固也。昔人有言，見血休治血，必先調其氣。又云：四物湯不得補氣藥，不能成陽生陰長之功。誠哉言也！然此湯傷寒火邪解後，餘熱留於血分，至夜微熱不除，或合柴胡，或加桂枝，靡不應手輒效，不可沒其功也。</p>
<p>柯琴曰：經云：心生血，肝藏血。故凡生血者，則究之於心；調血者，當求之於肝也。是方乃肝經調血之專劑，非心經生血之主方也。當歸甘溫和血，川芎辛溫活血，芍藥酸寒斂血，地黃甘平補血。四物具生長收藏之用，故能使營氣安行經隧也。若血虛加參耆，血結加桃仁、紅花，血閉加大黃、芒硝，血寒加桂、附，血熱加芩、連；欲行血去芍，欲止血去芎，隨所利而行之，則又不必拘拘於四矣。若婦人數脫其血，故用以調經種子。如遇血崩、血暈等證，四物不能驟補，而反助其滑脫，則又當補氣生血，助陽生陰長之理。蓋此方能補有形之血於平時，不能生無形之血於倉卒，能調陰中之血，而不能培真陰之本，為血分立法，不專為女科套劑也。王好古治婦女，不論內傷，外感、胎前、產後，隨證加二味於四物中，名曰六合，未免任意牽強。</p>
<p><u>聖愈湯</u>　治一切失血過多，陰虧氣弱，煩熱作渴，睡臥不寧等證。</p>
<p>四物湯加人參、黃耆（一方去芍藥）。</p>
<p>上水煎服。</p>
<p>【集註】柯琴曰：經云：陰在內，陽之守也；陽在外，陰之使也。故陽中無陰，謂之孤陽；陰中無陽，謂之死陰。朱震亨曰：四物皆陰，行天地閉塞之令，非長養萬物者也。故四物加知柏，久服便能絕孕，謂嫌於無陽耳。此方取參、耆配四物，以治陰虛血脫等證。蓋陰陽互為其根，陰虛則陽無所附，所以煩熱燥渴；氣血相為表裡，血脫則氣無所歸，所以睡臥不寧。然陰虛元驟補之法，計在培陰以藏陽，血脫有生血之機，必先補氣，此陽生陰長，血隨氣行之理也。故曰：陰虛則無氣，無氣則死矣。此方得仲景白虎加人參之義而擴充者乎。前輩治陰虛，用八珍、十全，卒不獲效者，因甘草之甘，不達下焦，白朮之燥，不利腎陰，茯苓滲泄，礙乎生升，肉桂辛熱，動其虛火。此六味皆醇厚和平而滋潤，服之則氣血疏通，內外調和，合於聖度矣。</p>
<p><u>地骨皮飲</u>　治陰虛火旺，骨蒸發熱，日靜夜劇者；婦人熱入血室，胎前發熱者。</p>
<p>四物湯加地骨皮、牡丹皮（各三錢）。</p>
<p>水煎服。</p>
<p>【集註】柯琴曰：陰虛者陽往乘之，發熱也。當分三陰而治之。陽邪乘入太陰脾部，當補中益氣以升舉之，清陽復位而火自熄也。若乘入少陰腎部，當六味地黃丸以對待之，壯水之主而火自平也。乘入厥陰肝部，當地骨皮飲以涼補之，血有所藏而火自安也。四物湯為肝家滋陰調血之劑，加地骨皮清志中之火以安腎，補其母也；加牡丹皮清神中之火以涼心，瀉其子也。二皮涼而不潤，但清肝火不傷脾胃，與四物加知柏之濕潤而苦寒者不同也。故逍遙散治肝火之鬱於本臟者也，木鬱達之，順其性也；地骨皮飲，治陽邪之乘於肝臟者也，客者除之，勿縱寇以遺患也。二方皆肝家得力之劑。</p>
<p><u>犀角地黃湯</u>　治熱傷吐衄、便血，婦人血崩、赤淋。</p>
<p>生犀角　生地黃　白芍　牡丹皮</p>
<p>上四味，先用三物水煎，去滓，入生犀汁，熱服。</p>
<p>【注】吐血之因有三：曰勞傷，曰努傷，曰熱傷。勞傷以理損為主，努傷以去瘀為主，熱傷以清熱為主。熱傷陽絡則吐衄，熱傷陰絡則下血。是湯治熱傷也，故用犀角清心去火之本，生地涼血以生新血，白芍斂血止血妄行，丹皮破血以逐其瘀。此方雖曰清火，而實滋陰；雖曰止血，而實去瘀。瘀去新生，陰滋火熄，可為探本窮源之法也。若心火獨盛，則加黃芩、黃連以瀉熱，血瘀胸痛，則加大黃、桃仁以逐瘀也。</p>
<p><u>四生丸</u>　治陽盛陰虛，血熱妄行，或吐或衄者。</p>
<p>生地黃　生柏葉　生荷葉　生艾葉（各等分）</p>
<p>上四味，搗爛為丸，如雞子大，每服一丸，滾湯化服。</p>
<p>【集註】柯琴曰：陰虛而陽無所附，則火炎上焦；陽盛則陽絡傷，故血上溢於口鼻也。凡草木之性，生者涼，而熟之則溫；熟者補，而生者瀉。四味皆清寒之品，盡取其生者，而搗爛為丸，所以全其水氣，不經火煮，更遠於火令矣。生地多膏，清心腎而通血脈之源。柏葉西指，清肺金而調營衛之氣。艾葉芳香，入脾胃而擅去瘀生新之權。荷葉法震，入肝家而和藏血攝血之用。五志之火既清，五臟之陰安堵，則陰平陽秘，而血歸經矣。是方也，可暫用以遏妄行之熱血，如多用則反傷營。蓋血得寒，則瘀血不散，而新血不生也。設但知清火涼血，而不用歸脾、養榮等劑以善其後，鮮有不綿連歲月而斃者。非立法之不善，妄用者之過耳。</p>
<p><u>當歸六黃湯</u>　治陰虛有火，令人盜汗者。</p>
<p>當歸　生地　熟地　黃耆　黃芩　黃連　黃柏</p>
<p>上水煎服。</p>
<p>【注】寤而汗出曰自汗，寐而汗出曰盜汗。陰盛則陽虛不能外固，故自汗。陽盛則陰虛不能中守，故盜汗。若陰陽平和之人，衛氣晝則行陽而寐，夜則行陰而寐，陰陽既濟，病安從來？惟陰虛有火之人，寐則衛氣行陰，陰虛不能濟陽，陽火因盛而爭於陰，故陰液失守外走而汗出，寤則衛氣復行出於表，陰得以靜，故汗止矣。用當歸以養液，二地以滋陰，令陰液得其養也。用黃芩瀉上焦火，黃連瀉中焦火，黃柏瀉下焦火，令三火得其平也，又於諸寒藥中加黃耆，庸者不知，以為贅品，且謂陽盛者不宜，抑知其妙義正在於斯耶！蓋陽爭於陰，汗出營虛，則衛亦隨之而虛。故倍加黃耆者，一以完已虛之表，一以固未定之陰。經曰：陰平陽秘，精神乃治。此之謂歟！</p>
<p>【集註】吳琨曰：雜證盜汗，與傷寒盜汗不同。傷寒是半表半裡之邪未盡，雜證則陰虛有火而已。彼以和表為主，此以救陰為急。故以補陰之品，佐瀉火之藥，明者辨之。</p>
<p><u>黃耆建中湯</u>　治虛勞裡急，悸、衄、腹中痛，夜夢失精，四肢痠痛，手足煩熱，咽</p>
<p><u>干口燥，諸不足諸證。</u></p>
<p>黃耆　膠飴　白芍　甘草　桂枝　生薑　大棗</p>
<p>上七味，水煎服。</p>
<p>【集註】喻昌曰：虛勞而至於亡血、失精，津液枯槁，難為力矣！《內經》於針砭所莫治者，調以甘藥，《金匱》遵之而立黃耆建中湯，急建其中氣，俾飲食增而津液旺，以至充血生精，而復其真陰之不足。但用稼穡作甘之本味，而酸辛鹹苦在所不用，蓋舍此別無良法也。然用法貴立於元過之地，不獨嘔家不可用建中之甘，即微覺氣滯，更當慮甘藥大過，令人中滿也。至大建中則大建其中之陽，小建中則小小建立之義，理中則燮理之義，治中則分治之義，補中、溫中，何莫非先中州之義。緣傷寒外邪逼入於內，法難盡用，仲景但於方首以「小」之一字，微示其意，至《金匱》始盡建中之義。後人引伸觸類，制樂令建中湯、十四味建中湯，曲暢建中之旨。學者心手之間，所當會其大義也。</p>
<p><u>雙和飲</u>　治大病之後，虛勞氣乏。補血益氣，不熱不冷，溫而調之。</p>
<p>白芍（二錢）　黃耆（炙，一錢半）　甘草（炙，七分）　中桂（七分）　當歸（一錢）　熟地黃（一錢）　川芎（七分）</p>
<p>生薑三片，大棗二枚，水二盞，煎一盞，溫服。</p>
<p>【注】此湯乃李杲以黃耆建中湯減飴糖合四物之方也。黃耆建中，治虛勞不足，是從脾胃中化生血氣。此則直補陰血，兼之溫養陽氣，所以減飴糖之甘，加純陰之品，名曰雙和也。地骨皮飲，其意在涼血熱，故佐二皮以清之。聖愈湯，其意在救血脫，故佐參、耆以補之。雙和飲，其意在溫養血氣，故佐耆、桂、炙草以溫之。經曰：形不足者，溫之以氣。是也。</p>
<p><u>人參養榮湯</u>　治脾肺俱虛，發熱惡寒，肢體瘦倦，食少作瀉等證。若氣血虛而變見諸</p>
<p><u>證，弗論其病其脈，但用此湯，諸證悉退。</u></p>
<p>人參　白朮　茯苓　甘草　黃耆　陳皮　當歸　熟地　白芍　桂心　遠志　五味子</p>
<p>上十二味，加姜三片，棗二枚，水煎服。</p>
<p>【集註】柯琴曰：古人治氣虛以四君子，治血虛以四物，氣血俱虛者以八珍，更加黃耆、肉桂，名十全大補，宜乎萬舉萬當也。而用之有不獲效者，蓋補氣而不用行氣之品，則氣虛之甚者，幾無氣以運動。補血而仍用行血之物，則血虛之甚者，更無血以流行。故加陳皮以行氣，而補氣者悉得效其用。去川芎行血之味，而補血者因以奏其功。此善治者，只一加一減，便能轉旋造化之機也。然氣可召而至，血易虧而難成，苟不有以求其血脈之主而養之，則營氣終歸不足。故倍人參為君，而佐以遠志之苦，先入心以安神定志，使甘溫之品，始得化而為血，以奉生身。又心苦緩，必得五味子之酸，以收斂神明，使營行脈中而流於四臟，名之曰養榮，不必仍十全之名，而收效有如此者。</p>
<p><u>歸脾湯</u>　治思慮傷脾，或健忘怔忡，驚悸盜汗，寤而不寐，或心脾作痛，嗜臥少食，</p>
<p><u>及婦女月經不調。</u></p>
<p>人參　龍眼肉　黃耆　甘草　白朮　茯苓　木香　當歸　酸棗仁　遠志</p>
<p>姜三片，水煎服。</p>
<p>【集註】羅謙甫曰：方中龍眼、棗仁、當歸，所以補心也；參、耆、朮、苓、草，所以補脾也。薛己加入遠志，又以腎藥之通乎心者補之，是兩經兼腎合治矣。而特名歸脾何也？夫心藏神，其用為思；脾藏智，其出為意，見神智思意火土合德者也。心以經營之久而傷，脾以意慮之鬱而傷，則母病必傳之子，子又能令母虛，所必然也。其病則健忘怔忡，怵惕不安之徵見於心也；飲食倦怠不能運輸，手足無力，耳目昏眊既之證見於脾也。故脾陽苟不運，心腎必不交，彼黃婆者，若不為之媒合，則已不能攝腎氣歸心，而心陰何所賴以養？此取坎填離者，所以必歸之脾也。其藥一滋心陰，一養脾陽，取乎健者，以壯子益母。然恐脾郁之久，思意不通，故少取木香之辛且散者，以暢氣醒脾，使能速通脾氣，以上行心陰。脾之所歸，正在斯耳。</p>
<p>張璐曰：補中益氣與歸脾同出保元，並加歸、術，而有升舉胃氣，滋補脾陰之不同。此方滋養心脾，鼓動少火，妙佐以木香少許，調順諸氣，暢和心脾。世醫不諳此理，反以木香性燥不用，服之多致痞悶減食者，以其補藥多滯，不能輸化故耳。</p>
<p><u>妙香散</u>　治夢遺失精，驚悸鬱結。</p>
<p>山藥（二兩）　人參　黃耆　遠志（制）　茯苓　茯神（一兩）　桔梗（三錢）　甘草　辰砂（另研，一錢）　麝香（一錢）　木香（二錢五分）</p>
<p>為末，每服二錢，酒下。</p>
<p>【集註】汪昂曰：心，君火也。君火一動，相火隨之。相火寄於肝膽，腎之陰虛則精不藏，肝之陽強則氣不固，故精脫而成夢矣。山藥益陰，兼能澀精，故以為君。人參、黃耆用以固氣，遠志、二茯用以寧神。神寧氣固，則精自守其位矣。丹砂鎮心安魂，二香開鬱通竅，桔梗載諸心藥久留膈上，甘草調和諸藥，交和於中。是方不以瀉火固澀立法，但安神固氣，使精與神氣相依，而夢少精秘矣。</p>
<p>【按】朱震亨云：主秘藏者腎也，司疏泄者肝也。二臟有相火，而其繫上屬於心。心，君火也。為物所感則易於動，心動則相火翕然隨之，雖不交會，精亦暗流而滲漏矣。所以聖人只是教人收心養性，其旨深矣。震亨此論至當，其平生精力在補陰以制相火，深得《內經》天以陽生陰長，地以陽殺陰藏之旨。近世醫者惟知陽生，不知陰亦能生；惟知陰殺，不知陽亦能殺。經雖每每指出陽脫、陰脫，陽絕、陰絕皆令人死，奈志迷偏見者不回也。即此一證，老年之人，心有所動，而相火衰不能翕然隨之，雖有所夢而無所遺，由此可知震亨用黃柏一味，少佐冰片，名清心丸，獨瀉相火，而治中年相火盛，夢遺心悸者，屢用屢效也。</p>
<p><u>天王補心丹</u>　治心血不足，神志不寧，津液枯竭，健忘怔忡，大便不利，口舌生瘡等證。</p>
<p>人參　酸棗仁　當歸　生地黃　麥冬　天冬　柏子仁　遠志　五味子　丹參　元參　白茯苓　桔梗</p>
<p>上為末，煉蜜丸如椒目大，白湯下。</p>
<p>【集註】柯琴曰：心者主火，而所以主之者神也，火盛則神困。心藏神，補神者必補其心；補心者必清其火，而神始安。補心丹故用生地黃為君，取其下足少陰以滋水，主水盛可以伏火，此非補心之陽，乃補心之神耳。凡果核之有仁，猶心之有神也，清氣無如柏子仁，補血無如酸棗仁，以其神存耳。參、苓之甘，以補心氣；五味之酸，以收心氣；二冬之寒，以清氣分之火，心氣和而神自歸矣。當歸之甘，以補心血；丹參之寒，以生心血；元參之咸，以清血中之火，血足而神自藏矣。更加桔梗為舟楫，遠志為嚮導，和諸藥，入心而安神明。以此養生，則百體從令，何有健忘怔忡、津液乾涸、舌上生瘡、大便不利之虞哉？</p>
<p><u>酸棗仁湯</u>　治虛勞，虛煩不得眠。</p>
<p>酸棗仁（二升）　甘草（一兩）　知母（二兩）　白茯苓（二兩）　川芎（二兩）</p>
<p>上五味，以水八升，煮棗仁得六升，內藥煮取三升，分溫三服。</p>
<p>【集註】羅謙甫曰：經云，肝藏魂，人臥則血歸於肝。又曰：肝者，罷極之本。又曰：陽氣者，煩勞則張。罷極必傷肝，煩勞則精絕。肝傷精絕，則虛勞虛煩不得臥明矣。棗仁酸平，應少陽木化而治肝，極者宜收宜補，用酸棗仁至二升，以生心血、養肝血，所謂以酸收之，以酸補之是也。顧肝鬱欲散，散以川芎之辛散，使輔棗仁通肝調榮，又所謂以辛補之也。肝急欲緩，緩以甘草之甘緩，使防川芎疏泄過急，此所謂以土葆之也。然終恐勞極則火發，傷陰陽旺，陽分不行於陰，而仍不得眠，故佐知母崇陰水以制火，茯苓利陽水以平陰，將水壯而魂自寧，火清而神且靜矣。此治虛勞肝極之神方也。</p>
<p><u>硃砂安神丸</u>　治心神昏亂，驚悸怔忡，寤寐不安。</p>
<p>硃砂（另研）　黃連（各半兩）　當歸（二錢）　生地黃（三錢）　甘草（三錢）</p>
<p>上為細末，酒泡蒸餅，丸如麻子大，硃砂為衣。每服三十九，臥時津液下。</p>
<p>【集註】葉仲堅曰：經云：神氣舍心，精神畢具。又曰：心者生之本，神之舍也。且心為君主之官，主不明，則精氣亂；神太勞，則魂魄散，所以寤寐不安，淫邪發夢。輕則驚悸怔忡，重則癡妄癲狂也。硃砂具光明之體，色赤通心，重能鎮怯，寒能勝熱，甘以生津，抑陰火之浮游，以養上焦之元氣，為安神之第一品。心若熱，配黃連之苦寒，瀉心熱也，更佐甘草之甘以瀉之。心主血，用當歸之甘溫，歸心血也，更佐地黃之寒以補之。心血足則肝得所藏，而魂自安，心熱解則肺得其職，而魄自寧也。</p>

<h1>卷二</h1>

<h2>刪補名醫方論（二）</h2>
<p><u>補中益氣湯</u>　治陰虛內熱，頭痛口渴，表熱自汗，不任風寒，脈洪大，心煩不安，四</p>
<p><u>肢困倦，懶於言語，無氣以動，動則氣高而喘。</u></p>
<p>黃耆　人參　云術　炙甘草　陳皮　當歸　升麻　柴胡</p>
<p>上八味，加生薑三片，大棗二枚，水煎，溫服。</p>
<p>【集註】柯琴曰：仲景有建中、理中二法。風木內干中氣，用甘草、飴、棗，培土以御木；薑、桂、芍藥，平木而驅風，故名曰建中。寒水內凝於中氣，用參、朮、甘草，補土以制水，佐乾薑而生土以禦寒，故名曰理中。至若勞倦形衰，氣少陰虛而生內熱者，表證頗同外感，惟李杲知其為勞倦傷脾，穀氣不勝陽氣，下陷陰中而發熱，制補中益氣之法，謂風寒外傷其形，為有餘；脾胃內傷其氣，為不足。遵《內經》「勞者溫之，損者益之」之義，大忌苦寒之藥，選用甘溫之品升其陽，以達陽春升生之令。凡脾胃一虛，肺氣先絕，故用黃耆護皮毛而閉腠理，不令自汗。元氣不足，懶言、氣喘，人參以補之。炙甘草之甘，以瀉心火而除煩，補脾胃而生氣。此三味，除煩熱之聖藥也，佐白朮以健脾，當歸以和血。氣亂於胸，清濁相干，用陳皮以理之，且以散諸甘藥之滯。胃中清氣下陷，用升麻、柴胡氣之輕而味之薄者，引胃氣以上騰，復其本位，便能升浮，以行生長之令矣。補中之劑，得發表之品而中自安；益氣之劑，賴清氣之品而氣益培，此用藥有相須之妙。是方也，用以補脾，使地道卑而上行，亦可以補心、肺，損其肺者，益其氣，損其心者，調其營衛也。亦可以補肝木，鬱則達之也。惟不宜於腎，陰虛於下者不宜升，陽虛於下者更不宜升也。凡李杲治脾胃方，俱是益氣，去當歸、白朮，加蒼朮、木香便是調中，加麥冬、五味輩，便是清暑。此正是醫不執方，亦是醫必有方。</p>
<p>趙獻可曰：後天脾土，非得先天之氣不行，此氣因勞而下陷於太陰，清氣不升，濁氣不降，故用升、柴以佐參、耆，是方所以補益後天中之先天也。凡脾胃不足，喜甘而惡苦，喜補而惡攻，喜溫而惡寒，喜通而惡滯，喜升而惡降，喜燥而惡濕，此方得之矣。</p>
<p>陸麗京曰：此為清陽下陷者言之，非為下虛而清陽不升者言之也。倘人之兩尺虛微者，或是腎中水竭，或是命門火衰，若再一升提，則如大木將搖而撥其本也。</p>
<p><u>升陽益胃湯</u>　治脾胃虛，怠惰嗜臥，四肢不收。時值秋燥令行，濕熱方退，體重節</p>
<p><u>痛，口乾舌燥，飲食無味，大便不調，小便頻數，食不消，兼見肺病，灑淅惡寒，慘慘不樂，面色不和。</u></p>
<p>羌活　獨活　防風　柴胡　人參　白朮　茯苓　甘草　黃耆　白芍　半夏　黃連　澤瀉　陳皮</p>
<p>水煎服。</p>
<p>【集註】吳琨曰：脾土虛弱不能制濕，故體重節痛；不能運化精微，故口乾無味；中氣既弱，傳化失宜，故大便不調，小便頻數也。灑淅惡寒，肺弱表虛也。面色不樂，陽氣不伸也。是方半夏、白朮能燥濕，茯苓、澤瀉滲之，二活，防風、柴胡能升舉清陽之氣，黃連療濕熱，陳皮平胃氣，參、耆、甘草以益胃，白芍酸收用以和營，而協羌活、柴胡辛散之性，蓋古人用辛散必用酸收，所以防其竣厲，猶兵家之節制也。</p>
<p>【按】人參屬補，不知君於枳、樸中，即為補中瀉也。羌、防輩為散，不知佐於參、耆中，即為補中升也。近世之醫，一見羌、防輩，即曰：發散不可輕用。亦不審佐於何藥之中，皆因讀書未明，不知造化別有妙理耳。</p>
<p><u>升陽散火湯</u>　治脾陰血虛，胃陽氣弱，春寒不去，及過食冷物，抑遏少陽清氣，鬱於</p>
<p><u>脾土之中，四肢發睏熱、肌熱，筋骨間熱、表熱如火燎於肌膚，捫之烙手，並宜服之。</u></p>
<p>升麻　葛根　獨活　羌活　白芍　人參（以上各五錢）　甘草（炙，三錢）　柴胡（三錢）　防風（二錢）　甘草（生，二錢）</p>
<p>上㕮咀，如麻豆大。每服秤五錢，水二盞，煎一盞，去滓，大溫服，無時，忌寒涼之物。</p>
<p>【集註】吳琨曰：經云：少火生氣。大非此火不能生物，人非此火不能有生，揚之則光，遏之則滅。今為春寒不去，遏郁陽氣，飲食冷物，填塞至陰，以致升生之氣幾於息矣。故用升麻、柴胡、羌活、獨活、葛根，皆辛溫風藥，以鼓動少陽生氣。清陽既出上竅，則濁陰自歸下竅，而食物傳化，自無抑遏之患。芍藥　味酸，能瀉土中之木。人參味甘，能補中州之氣。生甘草能瀉鬱火於脾，從而炙之，則健脾胃而和中矣。李杲聖於脾胃者，其治之也，必主於升陽。俗醫知降而不知升，是撲其少火也，安望其衛生耶！若氣不虛，本方除人參、獨活加蔥白，名火鬱湯，治同。</p>
<p><u>補脾胃瀉陰火升陽湯</u>　治飲食傷胃，勞倦傷脾，脾胃一虛，陽氣下陷，陰火乘之，時</p>
<p><u>值夏令，當從此治。</u></p>
<p>黃耆　蒼朮（泔浸，炒）　甘草（炙）　羌活（一兩）　升麻（八錢）　柴胡（兩半）　黃連（酒炒，五錢）　黃芩（炒）　人參（七錢）　石膏（少許，長夏微用，過時去之）</p>
<p>每服五錢，薑、棗煎服。</p>
<p>【集註】汪昂曰：李杲云：脾胃一傷，陽氣日損，脾胃之清氣下陷，濁陰之火得以上乘，是有秋冬而無春夏也。惟以氣味薄之風藥，升發陽氣，佐以苦寒之品，瀉陰中火，則陰不病陽氣伸矣。是方參、耆、朮、草，以補脾胃也。佐羌活、升、柴，以助陽升；佐石膏、芩、連，以瀉陰火。假令不能食而瘦，乃本病也。右關脈緩弱，乃本脈也。或本脈兼見弦脈，本證兼見四肢滿、閉、淋、溲便難、轉筋一二證，此肝之脾胃病也，當加風藥以瀉肝木。脈兼見洪大，證兼見肌熱、煩熱、面赤一二證，此心之脾胃病也，當加瀉心火之藥。脈兼見浮澀，證兼見短氣、氣上喘咳、痰盛、皮澀一二證，此肺之脾胃病也，當加瀉肺及補氣之藥。脈兼見沉細，證兼見善欠、善恐一二證，此腎之脾胃病也，當加瀉腎水及瀉陰火之藥。所以言此者，欲人知百病皆從脾胃而生，處方者當從此法加時令藥也。</p>
<p><u>清暑益氣湯</u>　長夏濕熱蒸炎，四肢困倦，精神減少，身熱氣高，煩心便黃，渴而自汗，</p>
<p><u>脈虛者，此方主之。</u></p>
<p>人參　黃耆　甘草　白朮　神麯　五味子　青皮　升麻　乾葛　麥冬　黃柏　澤瀉　廣橘皮　蒼朮（錢半）　當歸</p>
<p>姜三片，棗二枚，去核，水煎服。</p>
<p>【集註】吳琨曰：暑令行於夏至，長夏則兼濕令矣。此方兼而治之。炎暑則表氣易泄，兼濕則中氣不固。黃耆所以實表，白朮、神麯、甘草所以調中，酷暑橫流，肺金受病，人參、五味、麥冬，所以補肺、斂肺、清肺，經所謂扶其所不勝也，火盛則水衰，故以黃柏、澤瀉，滋其化源。津液亡則口渴，故以當歸、乾葛，生其胃液。清氣不升，升麻可升；濁氣不降，二皮可理。蒼朮之用，為兼長夏之濕也。</p>
<p>程應旄曰：人知清暑，我兼益氣，以暑傷氣也。益氣不獨金能敵火，凡氣之上騰而為津、為液者，回下即為腎中之水。水氣足，火淫自卻也。</p>
<p><u>清燥湯</u>　治痿厥之病，腰以下痿軟不能動，行走不正，兩足欹側。</p>
<p>黃連　黃柏（酒炒）　柴胡（以上各一分）　麥冬　當歸身　生地　豬苓　炙甘草　神麯（以上各二分）　人參　白茯苓　升麻（以上各三分）　橘皮　白朮　澤瀉（以上各五分）　蒼朮（一錢）　黃耆（一錢五分）　五味子（九枚）</p>
<p>上㕮咀，如麻豆大，水二盞半，煎一盞，去滓，空心溫服。</p>
<p>【注】清暑益氣湯與此方均治濕暑之劑。清暑益氣湯，治暑盛於濕，暑傷氣，所以四肢困倦，精神減少，煩渴身熱，自汗脈虛，故以補氣為主，清暑為兼，少佐去濕之品，從令氣也。此方治濕盛於暑，濕傷形，所以李杲曰：六、七月之間，濕令大行，子能令母實，濕助熱旺而刑燥金，絕其寒水生化之源，源絕則腎虧，痿厥之病作矣。故以清暑變為清燥，佐瀉熱利濕之藥，從邪氣也。是方即清暑益氣湯去葛根者，以無暑外侵之肌熱也。加二苓者，專去濕也。加黃連、生地，專瀉熱也。二苓佐二術，利水燥濕之力倍。連、地佐黃柏，救金生水之功多。中氣益，則陰火熄而肺清矣。濕熱除，則燥金肅而水生矣。肺清水生，則濕熱痿厥之病，未有不愈者也。但此方藥味，性偏滲瀉，若施之於冬春，水竭髓枯骨痿，或非濕熱為病者，反劫津液，其病愈甚，則為謬治矣。</p>
<p><u>白朮附子湯</u>　治寒中腹脹滿，作涎作清涕；或多尿足下痛，不能任身履地，骨乏無</p>
<p><u>力，喜睡，兩丸多冷，時作陰陰而痛，或妄見鬼狀，夢亡人，腰背、腫眼、腰脊皆痛。</u></p>
<p>白朮　附子（炮，去皮臍）　蒼朮　陳皮　厚朴（薑製）　半夏（湯洗）　茯苓　豬苓（去皮，半兩）　澤瀉　肉桂（四錢）</p>
<p>上銼如麻豆大，每服半兩，水三盞，姜三片，同煎至一盞，去滓，食前溫服。量虛實加減多少。</p>
<p>【注】李果云：脾胃之證，有熱中，有寒中。熱中者，是火乘土位之病，則當上舉清陽，下消陰火，故用補中益氣，瀉陰火升陽等湯。寒中者，水反侮土之病，則當下伐水邪，中燥脾濕，故用二苓、朮、澤、蒼、陳、樸、復，更用桂、附，壯陽勝寒，流通血脈，寒中之病自可愈也。</p>
<p>【按】李杲制此方，施之於脾胃寒濕內盛，脹滿多尿，涎涕外盛，足軟，腰脊丸痛，而氣不虛者宜矣。若其人中氣已虛，內外寒濕又盛，水來侮土者，總不若理中湯加附子、蒼朮，茯苓為愈也。</p>
<p><u>葛花解醒湯</u>　治酒客病。</p>
<p>蓮花青皮（去穰，三分）　木香（五分）　橘皮（去白白）　茯苓　人參　豬苓（以上各錢五分）　神麯（炒）　澤瀉　乾薑　白朮（以上各二錢）　白豆蔻仁　葛花　砂仁（以上各五錢）</p>
<p>上為細末，和均，每服三錢，白湯調下。但得微汗，酒病去矣。不可恃此過飲，頻服取汗，損人天年。</p>
<p>【注】酒為水穀精液所化，體濕性熱，少飲則能調和氣血，流暢陰陽，內助中氣，捍禦外邪。若過飲無度，輕則傷人脾胃，重則損人神氣。所以酒困之人，昏暈煩亂，乾嘔噁心，飲食即吐，百體痠軟，身熱頭疼，嘈雜吞酸，胸隔痞塞，口燥舌乾，手足顫搖，心神恍惚，不思飲食，小便渾濁，大便溏瀉，此皆濕熱傷形與氣也。</p>
<p>【按】李杲曰：酒病者，往往以大熱、大寒下之者，是無形元氣受病，反下有形陰血，乖誤甚矣。大熱則傷陰，大寒則傷胃，元氣消亡，七神無依，折人壽命，不然則虛損之病成矣。故制此方，君葛花，佐以辛香之品；用神麯，佐以快氣之品；用苓澤，佐以甘溫之品。服後取汗，是謂外解肌肉，內清陽明令上下、內外，分消其患，使胃中穢為芳變濁為清化，泰然和矣。</p>
<p><u>平胃散</u>　治濕淫於內，脾胃不能剋制，有積飲、痞膈、中滿者。</p>
<p>蒼朮（米泔浸七日，五斤）　陳皮（去白）　厚朴（薑汁炒，各三斤）　甘草（炙，三十兩）</p>
<p>上為末，每服二錢，薑湯下，日三服。或水煎，每服五錢。</p>
<p>【集註】柯琴曰：《內經》以土運太過曰敦阜，其病腹滿；不及曰卑監，其病留滿痞塞。張仲景制三承氣湯，調胃土之敦阜。李杲制平胃散，平胃上之卑監。培其卑者，而使之平，非削平之謂。猶溫膽湯用涼劑，溫緩而使之和，非用溫之謂，後之注《本草》者曰：敦阜之土，宜蒼朮以平之；卑監之土，宜白朮以培之。若以濕土為敦阜，將以燥土為卑監耶？不審敦阜屬燥，卑監屬濕之義，因不知平胃之理矣。二術苦甘，皆燥濕健脾之用，脾燥則不滯，所以能健運而得其平。第二術白者柔而緩，蒼者猛而悍，此取其長於發汗，迅於除濕，故以蒼朮為君耳。不得以白補、赤瀉之說，為二術拘也。厚朴色赤苦溫，能助少火以生氣，故以為佐。濕因於氣之不行，氣行則愈，故更以陳皮佐之。甘先入脾，脾得補而健運，故以炙甘草為使。名曰平胃，實調脾承氣之劑，與張潔古取《金匱》之枳朮湯以為丸，枳實之峻重於厚朴，且無甘草以和之，雖倍白朮，而消伐過於此方，昧者以術為補而久服之，不思枳實峻削而不宜多服也。</p>
<p><u>枳朮丸</u>　治胃虛濕熱，飲食壅滯，心下痞悶。</p>
<p>白朮（土蒸，二兩）　枳實（麩炒，一兩）</p>
<p>上為細末，荷葉煨陳米飯為丸，如椒目大，白湯下。</p>
<p>【集註】李杲曰：白朮苦甘溫，其苦味除胃中之濕熱，其甘溫補脾家之元氣。多於枳實一倍。枳實味苦溫，泄心下痞悶，消胃中所傷。此藥下胃所傷不能即去，須一二時許，食乃消化。先補虛，而後化所傷，則不峻厲矣。荷葉狀如仰盂，於卦為震，正少陽甲膽之氣，飲食入胃，營氣上行，即此氣也，取之以生胃氣。更以煨飯和藥，與術協力，滋養穀氣而補脾胃，其利大矣。若用峻厲之藥下之，傳變諸證，不可勝數。</p>
<p><u>資生丸</u>　治婦人妊娠三月，脾虛嘔吐，或胎滑不固。兼丈夫調中養胃，飢能使飽，飽</p>
<p><u>能使飢，神妙難述。</u></p>
<p>人參（三兩）　茯苓（二兩）　云術（二兩）　山藥（二兩）　薏苡仁（兩半）　蓮肉（二兩）　芡實（兩半）　甘草（一兩）　陳皮（二兩）　麥糵（二兩）　神麯（二兩）　白豆蔻（八錢）　桔梗（一兩）　藿香（一兩）　川黃連（四錢）　砂仁（兩半）　白扁豆（兩半）　山楂（兩半）</p>
<p>上十八味，為細末，煉蜜丸，彈子大，每服二丸，米飲下。</p>
<p>【集註】羅謙甫曰：此方始於繆仲醇，以治妊娠脾虛及胎滑。蓋胎資始於足少陰，資生於足陽明。故陽明為胎生之本，一有不足，則元氣不足以養胎，又不足以自養，故當三月正陽明養胎之候，而見嘔逆。又其甚者，或三月、或五月而墮，此皆陽明氣虛不能固耳。古方安胎，類用芎、歸，不知此正不免於滑。是方以參、朮、茯、草、蓮、芡、山藥、扁豆、薏苡之甘平，以補脾元；陳皮、曲、柏、砂、藿、桔之香辛，以調胃氣，其有濕熱，以黃連清之、燥之。既無參苓白朮散之補滯，又無香砂枳朮丸之燥消，能補能運，臻於至和。於以固胎，永無滑墮。丈夫服之，調中養胃。名之資生，信不虛矣。</p>
<p><u>六味地黃丸</u>　治腎精不足，虛火炎上，腰膝痿軟，骨熱痠痛，足跟痛，小便淋秘或不</p>
<p><u>禁，遺精夢泄，水泛為痰，自汗、盜汗，亡血消渴，頭目眩運，耳聾齒搖，尺脈虛大者。</u></p>
<p>熟地黃（八兩）　山茱萸（四兩）　白茯苓（三兩）　乾山藥（四兩）　牡丹皮（三兩）　澤瀉（三兩）</p>
<p>上為末，煉蜜丸，如桐子大，空心淡鹽湯下。</p>
<p>【集註】柯琴曰：腎虛不能藏精，坎宮之火無所附而妄行，下無以奉肝木升生之令，上絕其肺金生化之源。地黃稟甘寒之性，制熟則味厚，是精不足者補之以味也，用以大滋腎陰，填精補髓，壯水之主。以澤瀉為使，世或惡其瀉腎而去之，不知一陰一陽者，天地之道；一開一闔者，動靜之機。精者屬癸，陰水也，靜而不走，為腎之體；尿者屬壬，陽水也，動而不居，為腎之用。是以腎主五液，若陰水不守，則真水不足，陽水不流，則邪水泛行。故君地黃以密封蟄之本，即佐澤瀉以疏水道之滯也。然腎虛不補其母，不導其上源，亦無以固封蟄之用。山藥涼補，以培癸水之上源，茯苓淡滲，以導壬水之上源。加以茱萸之酸溫，藉以收少陽之火，以滋厥陰之液。丹皮辛寒，以清少陰之火，還以奉少陽之氣也，滋化源，奉生氣，天癸居其所矣。壯水制火，特其一端耳。</p>
<p>【按】五行皆一，惟火有二，君火、相火也。君火為心經之火，君主一身之火也。相火為腎中之火，宣布一身之火也。使君火無相火，則不能宣布諸火，以奉生身之本，相火無君火，則不能君主諸火，以制其妄行之災，故李杲立「內傷勞倦，火乘土位」之論，以心火有餘，用升陽氣、瀉陰火硃砂安神等藥，而未及心火之不足者，以前人已有歸脾、養心等方也。震亨立陽常有餘，陰常不足之論，以腎火有餘，用補陰、補天等藥，而未及腎火之不足者，以前人己有腎氣、桂附地黃湯丸也，依本方加附子、肉桂，名桂附地黃丸，治兩尺脈弱，相火不足，虛羸少氣，王冰所謂「益火之原，以消陰翳」者是也。加黃柏、知母，名知柏地黃丸，治兩尺脈旺，陰虛火動，午熱骨痿，王冰所謂「壯水之主，以制陽光」者是也。經云：陰平陽秘，精神乃治。若陰陽偏勝，則疾病叢生。夫腎取象乎坎，陽藏於陰之藏也。不獨陰盛陽衰，陽畏其陰而不敢附，即陰衰陽盛，陰難藏陽亦無可依，雖同為火不歸原，而其為病則異也。故於腎藥中加桂、附，壯陽勝陰，使陽無所畏，而自歸原矣。加知柏補陰秘陽，使陽有所貯，而自歸藏矣。世人但知以桂、附引火歸原，不知以知、柏平陰秘陽，舉世皆蒙其誤，故震亨特立補陰之論，以闢以火濟火之非。而未達其旨者，從而誹之，良可嘆也。</p>
<p><u>八味地黃丸</u>　治命門火衰，不能生土，以致脾胃虛寒，飲食少思，大便不實，或下元</p>
<p><u>衰憊，臍腹疼痛，夜多漩尿等證。</u></p>
<p>熟地黃（九蒸為度，搗膏，八兩）　乾山藥（四兩）　山萸肉（四兩）　白茯苓　丹皮　澤瀉（各三兩）　肉桂　附子（各一兩）</p>
<p>上八味為末，煉蜜丸如桐子大，酒下十五丸，日再服。</p>
<p>【集註】趙獻可曰：君子觀象於坎，而知腎中具水火之用。今人入房而陽易舉者，陰虛火動也；陽事先痿者，命門火衰也。真水竭則隆冬不寒，真火熄則盛夏不熱。是方也，熟地、山藥、澤瀉、丹皮、茯苓、山萸皆濡潤之品，所以能壯水之主；肉桂、附子辛潤之物，能於水中補火，所以能益火之原。水火得其養，則腎氣復矣。</p>
<p>喻昌曰：《金匱》用八味丸，治腳氣上入少腹不仁者。腳氣即陰氣，少腹不仁即攻心之漸，故用之以驅逐陰邪也。其虛勞腰痛，少腹拘急，小便不利，則因過勞其腎，陰氣逆於少腹，阻遏膀胱之氣化，小便不能通利，故用之溫養下焦，以收腎氣也。其短氣有微飲者，飲，亦陰類，陰其胸中之陽，自致短氣，故用之引飲下出，以安胸中也。消渴病，飲水一斗，小便亦一斗，此腎氣不能攝水，小便恣出，源泉有立竭之勢，故急用以逆折其水也。夫腎水下趨之消證，腎氣不上升之渴證，非用是以蟄護封藏，蒸動水氣，舍此曷從治哉！後人謂八味丸為治消渴之聖藥，得其旨矣。</p>
<p>柯琴曰：命門之火，乃水中之陽。夫水體本靜，而川流不息者，氣之動、火之用也，非指有形者言也，然火少則生氣，火壯則食氣，故火不可亢，亦不可衰。所云火生土者，即腎家之少火遊行其問，以息相吹耳。若命門火衰，少火幾於熄矣。欲暖脾胃之陽，必先溫命門之火，此腎氣丸納桂、附於滋陰劑中十倍之一，意不在補火，而在微微生火，即生腎氣也。故不曰溫腎，而名腎氣，斯知腎以氣為主，腎得氣而土自生也。且形不足者，溫之以氣，則脾胃因虛寒而致病者固痊，即虛火不歸其原者，亦納之而歸封蟄之本矣。崔氏加減八味丸，以五味之酸收，易附子之辛熱，腎虛而不寒者宜之也。《千金方》於八味外，更加元參之鹹寒，以助熟地而滋腎；加芍藥之酸寒，助丹皮以滋肝。總之為桂附加鎖鑰耳。以之壯水則有餘，以之益火恐不足也。《濟生方》加牛膝、車前以治水腫，倍茯苓以輔地黃、山藥、茱萸，與澤、丹、車、牛等列，隨證加減，允為得法。益陰腎氣丸於六味外加當歸、五味、柴胡，以治目暗不見，化裁愈妙矣。</p>
<p><u>資生腎氣丸</u>　治腎虛脾弱，腰重腳腫，小便不利，腹脹喘急。痰盛，已成鼓證，其效如神。</p>
<p>熟地黃（四兩）　白茯苓（三兩）　牡丹皮（一兩）　澤瀉（一兩）　乾山藥（一兩）　車前子（一兩）　山茱萸（一兩）　牛膝（一兩）　肉桂（一兩）　附子（五錢）</p>
<p>上十味，蜜和丸，每服八十九，空心米飲下。</p>
<p>【集註】李中梓曰：經云：諸濕腫滿，皆屬於脾。又云：其本在腎，其末在肺，皆聚水也。又曰：腎者主水，胃之關也，關門不利，故聚水而從其類也。腫脹之病，諸經雖有，無不由於脾、肺、腎者，蓋脾主運行，肺主氣化，腎主五液。凡五氣所化之液，悉屬於腎；五液所行之氣，悉屬於肺；轉輸二臟，以制水生金者，悉屬於脾。故腫脹不外此三經也。然其治法，有內、外、上、下、虛、實，不可不辨也。在外則腫，越婢湯、小青龍湯證也。在內則脹，十棗丸、神祐丸證也。在上則喘，葶藶大棗湯、防己椒目葶藶大黃丸證也。在下則小便閉，沉香琥珀丸、疏鑿飲子證也。此皆治實之法，若夫虛者，實脾飲此方證也。</p>
<p>張介賓曰：地黃、山藥、丹皮，以養陰中之真水。山萸、桂、附，以化陰中之真氣。茯苓、澤瀉、車前、牛膝，以利陰中之滯。能使氣化於精，即所以治肺也；補火生土，即所以治脾也；壯水利竅，即所以治腎也。補而不滯，利而不伐，治虛水方，更無有出其右者。然當因此擴充，隨證加減。若其人因大病之後，脾氣大虛而病水脹者，服此雖無所礙，終不見效，每熟計之，脾氣大傷，誠非腎藥之所能治。專用理中湯一兩，加茯苓一兩。命火衰者，加附子；兩足冷者，加肉桂；腹脹甚者，加厚朴。三大劑而足脛漸消，十餘劑而腹脹退。凡治中年之後脾腎虛寒者，悉用此法。蓋氣虛者，不可復行氣，腎虛者，不可專利水。溫補即所以化氣，塞因塞用之妙，顧在用之者何如耳。古法治腫，不用補劑，而用去水等藥，微則分利，甚則推逐。如五苓散、五淋散、五皮散、導水茯苓湯之類，皆所以利水也，如舟車神祐丸、浚川散、禹攻散、十棗湯之類，皆所以逐水也。但察其果系實邪，則此等治法，仍不可廢也。</p>
<p><u>大補陰丸</u>　治陰虧火旺，肺痿咳血，骨蒸盜汗，虛勞之證。</p>
<p>黃柏（鹽酒炒）　知母（鹽水炒，各四兩）　熟地（酒蒸）　敗龜版（酥炙，各六兩）</p>
<p>豬脊髓和煉蜜為小丸，日乾。每服三錢，淡鹽湯下。</p>
<p>【注】朱震亨云：陰常不足，陽常有餘，宜常養其陰，陰與陽齊，則水能制火，斯無病矣。今時之人，過欲者多，精血既虧，相火必旺，真陰愈竭，孤陽妄行，而勞瘵、潮熱、盜汗、骨蒸、咳嗽、咯血、吐血等證悉作。所以世人火旺致此病者，十居八九，火衰成此疾者，百無二三。震亨發明先聖千載未發之旨，其功偉哉！是方能驟補真陰，承製相火，較之六味功效尤捷。蓋因此時以六味補水，水不能遽生；以生脈保金，金不免猶燥，惟急以黃柏之苦以堅腎，則能制龍家之火；繼以知母之清以涼肺，則能全破傷之金。若不顧其本，即使病去猶恐復來，故又以熟地、龜版大補其陰，是謂培其本、清其源矣。雖有是證，若食少便清，則為胃虛，不可輕用。</p>
<p><u>封髓丹</u>　治夢遺、失精及與鬼交。</p>
<p>黃柏　砂仁　甘草</p>
<p>上蜜為丸，每服三錢。</p>
<p>【集註】趙羽皇曰：經云：腎者主水，受五臟六腑之精而藏之。又曰：腎者，主蟄，封藏之本，精之處也。蓋腎為堅臟，多虛少實，因肝木為子，偏喜疏泄母氣，厥陰之火一動，精即隨之外溢。況肝又藏魂，神魂不攝，宜其夜臥鬼交精泄之證作矣。封髓丹為固精之要藥，方用黃柏為君，以其味性苦寒，又能堅腎。腎職得堅，則陰水不虞其泛溢；寒能清肅，則龍火不至於奮揚。水火交攝，精有不安其位者乎？佐以甘草，以甘能緩急，瀉諸火與肝火之內擾，且能使水土合為一家，以妙封藏之固。若縮砂者，以其味辛性溫，善能入腎，腎之所惡在燥，而潤之者惟辛，縮砂通三焦達津液，能內五臟六腑之精而歸於腎，腎家之氣內，腎中之髓自藏矣。此有取於封髓之意也。</p>
<p>汪昂曰：此方加天冬、地黃、人參，名三才封髓丹。用天冬補肺以生水，地黃補腎以益精，用人參補脾，從飲食中化生水精也。以藥有天、地、人之名，而補亦在上、下、中之分，使天地位育參贊居中，故曰三才也。喻昌曰：加黃柏以入腎滋陰，砂仁以入脾行滯，甘草以少變天冬、黃柏之苦，俾合人參建立中氣，以伸參兩之權，殊非好為增益成方之比也。</p>
<p><u>虎潛丸</u>　治腎陰不足，筋骨痿軟，不能步履。</p>
<p>龜版　黃柏（各四兩）　知母　熟地（各二兩）　牛膝（三兩五錢）　芍藥（一兩五錢）　鎖陽（一兩）　虎骨（一兩）　當歸（一兩）　陳皮（七錢五分）</p>
<p>上為末，煮羯羊肉，搗為丸，桐子大，淡鹽湯下。</p>
<p>【集註】王又原曰：腎為作強之官，有精血以為之強也。若腎虛精枯，而血必隨之，精血交敗，濕熱風毒遂乘而襲焉。此不能步履、腰痠筋縮之證作矣。且腎兼水火，火勝爍陰，濕熱相搏，筋骨不用宜也。方用黃柏清陰中之火，燥骨間之濕，且苦能堅腎，為治痿要藥，故以為君。虎骨去風毒。健筋骨為臣。因高源之水不下，母虛而子亦虛，肝藏之血不歸，子病而母愈病，故用知母清肺原，歸芍養肝血，使歸於腎。龜稟天地之陰獨厚，茹而不吐，使之坐鎮北方。更以熟地、牛膝、鎖陽、羊肉群隊補水之品，使精血交補。若陳皮者，疏血行氣。茲又有氣化血行之妙，其為筋骨壯盛，有力如虎也必矣。《道經》云：虎向水中生，以斯為潛之義焉夫！是以名之曰：虎潛丸</p>
<p>葉仲堅曰：痿原雖分五臟，然其本在腎，其標在肺。《內經》云：五臟因肺熱葉焦，發為痿躄。又曰：陽氣內伐，水不勝火，則骨痿髓虛，故足不任身。骨痿者生於大熱也，若視為虛寒而投以桂、附，多致不救。是方以虎名者，虎於獸中稟金氣之至剛，風生一嘯，特為肺金取象焉。其潛之云者，金從水養，母隱子胎，故生金者必麗水，意在納氣歸腎也。龜應北方之象，稟陰最厚，首常向腹，善通任脈，能大補真陰，深得夫潛之意者。黃柏味厚，為陰中之陰，專補腎膀之陰不足，能使足膝中氣力湧出，故痿家必用二者為君，一以固本，一以治標，恐奇之不去，則偶之也。熟地填少陰之精，用以佐龜版、知母清太陰之氣；用以佐黃柏、牛膝入肝舒筋。歸、芍佐之，肝血有歸；陳皮疏之，氣血以流，骨正筋柔矣。又慮熱則生風，逗留關節，用虎骨所以驅之；純陰無陽不能發生，佐鎖陽以溫之。羊肉為丸，補之以味。淡鹽湯下，急於入腎。斯皆潛之為義。</p>
<p><u>滋腎丸</u>（又名通關丸）　治熱在下焦，小便癃閉，而口不渴者。</p>
<p>黃柏（酒炒，二兩）　知母（酒浸，炒，二兩）　肉桂（一錢）</p>
<p>上為細末，熟水丸，桐子大，每服五十丸，空心下。</p>
<p>【集註】李杲曰：小便者，足太陽膀胱所主，生於肺金。肺中伏熱，水不能生，是絕小便之源也；渴而小便不通者，肺氣不得降是也。故用清燥金之正化氣薄淡滲之藥，瀉火而清肺，滋水之化源也。若熱在下焦而不渴，是絕其流而尿不泄也。須用氣味俱厚，陰中之陰藥治之。《素問》云：無陽則陰無以生，無陰則陽無以化。又云：膀骯者，州都之官，津液藏焉，氣化則能出矣。無液癃秘，是無陰則陽元以化也。須用知、柏大苦寒之劑，桂一錢為引，服之須臾，前陰若刀刺火燒，尿如湧泉而愈。此證一在上焦氣分而渴，一在下焦血分而不渴。兩者之殊，至易辨耳。</p>
<p>柯琴曰：水為腎之體，火為腎之用。人知腎中有水，始能制火，不知腎中有火，始能致水耳。蓋天一生水，一者，陽氣也，即火也，氣為水母，陽為陰根，必火有所歸，斯水有所主。故反佐以桂之甘溫，引知、柏入腎而奏其效。此相須之殷，亦相制之理也。</p>
<p><u>瓊玉青</u>　治虛勞乾咳。</p>
<p>生地黃（四斤）　白茯苓（十三兩）　白蜜（二斤）　人參（六兩）</p>
<p>上以地黃汁同蜜熬沸，用絹濾過，將參、茯為細末，入前汁和勻，以瓷瓶用綿紙十數層，加箬葉封瓶口，入砂鍋內，以長流水沒瓶頸，桑柴火煮，三晝夜取出，換紙紮口，以蠟封固，懸井中，一日取起，仍煮半日，湯調服。</p>
<p>【集註】李中梓曰：乾咳者，有聲無痰，火來乘金，金極而鳴也。此本元之病，非漸漬難以成功；若誤用苦寒，只傷脾土，金反無母。故丹溪以地黃為君，令水盛則火自息。又損其肺者益其氣，故用人參以鼓生髮之元。虛則補其母，故用茯苓以培萬物之本。白蜜為百花之精，味甘歸脾，性潤悅肺，且緩燥急之火。四者皆溫良和厚之品，誠堪寶重。郭機曰：起吾沉瘵，珍賽瓊瑤。故有瓊玉之名。</p>
<p><u>龜鹿二仙膠</u>　大補精髓，益氣養神。</p>
<p>鹿角（血者，十斤）　龜版（自敗者，五斤）　枸杞子（甘州者，三十兩）　人參（十五兩）</p>
<p>上用鉛壇，如法熬膠，初服酒化一錢五分，漸加至三錢，空心下。</p>
<p>【集註】李中梓曰：人有三奇，精、氣、神，生生之本也。精傷無以生氣，氣傷無以生神。精不足者，補之以味，鹿得天地之陽氣最全，善通督脈，足於精者，故能多淫而壽；龜得天地之陰氣最具，善通任脈，足於氣者，故能伏息而壽。二物氣血之屬，味最純厚，又得造化之無微，異類有情，竹破竹補之法也。人參益氣，枸杞生精，佐龜、鹿補陰補陽，無偏勝之憂；入氣入血，有和平之美。由是精生而氣旺，氣旺而神昌，庶幾龜、鹿之年矣。故曰二仙。</p>
<p><u>四神丸</u>　治脾腎雙虛，子後作瀉，不思食，不化食。</p>
<p>肉果（二兩）　補骨脂（炒，四兩）　五味子（二兩）　吳茱萸（炮，二兩）</p>
<p>上為末，紅棗四十九枚，生薑四兩、切，水煮，棗熟去姜，取棗肉搗，和藥丸，桐子大。空心鹽湯下。</p>
<p><u>二神丸</u>　去茱萸、五味。</p>
<p><u>五味子散</u>　去肉果、補骨脂。</p>
<p>【集註】柯琴曰：瀉利為腹疾，而腹為三陰之都會，一臟不調，便能瀉利。故三陰下利，仲景各為立方以主之：太陰有理中、四逆，厥陰有烏梅、白頭翁，少陰有桃花、真武、豬苓、豬膚、四逆湯散、白通、通脈等劑，可謂曲盡病情，諸法備矣。然只為一臟立法，若三藏相關，久留不痊，如子後作瀉一證，猶未之及也。夫雞鳴至平旦，天之陰，陰中之陽也。因陽氣當至而不至，虛邪得以留而不去，故作瀉於黎明。其由有四：一為脾虛不能制水，一為腎虛不能行水，故二神丸君補骨脂之辛燥，補腎以行水，佐肉果之辛溫，補脾以制水，丸以薑、棗，又辛甘發生諸陽也；一為命門火衰不能生土，一為少陽氣虛無以發陳，故五味子散君五味子之酸溫，以收坎宮耗散之火，使少火生氣以培土也，佐吳茱萸之辛溫，以順肝木欲散之勢，為水氣開滋生之路，以奉春生也。此四者，病因雖異，而見證則同，皆水亢為害。二神丸是承製之劑，五味子散是化生之劑也。二方理不同而用則同，故可互用以助效，亦可合用以建功。合為四神丸是制生之劑也，制則生化，久泄自瘳矣。稱曰四神，比理中、八味二丸較速歟！</p>
<p>【按】命門無火，不能為中宮腐熟水穀之用，腎氣不固，誰復司其閉藏之職。故木氣才萌，不疏泄而亦疏泄矣。雖是木邪乾土，亦實腎之侮脾也。此際當脾腎雙補，固澀平肝。故以補骨脂溫腎，肉果補脾，五味子收澀，吳茱萸瀉肝。腎暖而氣蒸，肝平而脾旺，關門閉而水穀腐矣。</p>

<h1>卷三</h1>

<h2>刪補名醫方論（三）</h2>
<p><u>續命湯</u>　治中風痱，身體不能自收，口不能言，冒昧不知痛處，或拘急不得轉側。</p>
<p>麻黃　桂枝　石膏　乾薑　杏仁（四十枚）　川芎　當歸　人參　甘草（各三兩）</p>
<p>上九味，以水一斗，煮取四升，溫服一升，當小汗。薄覆脊，憑几坐，汗出自愈。不汗更服。無所禁，勿當風。並治脈伏不得臥，咳逆上氣，面目浮腫。</p>
<p>【集註】趙良曰：痱病者，營衛氣血，不養於內外，故身體不用，機關不利，精神不治。然是證有虛、有實。虛者自飲食房勞七情感之，如《內經》所謂內奪而厥，則為喑痱之類是也。實者自風寒暑濕感之。虛者不可以實治，治之則愈散其氣血。今此方明言中風痱，是屬營衛之實邪也，故用續命。續命乃麻黃湯之變者，加乾薑以開血受寒邪，石膏以解肌受風邪，當歸和血，人參益氣，川芎行血散風也。其並治咳逆上氣，面浮者，亦以為風寒所致也。</p>
<p><u>三生飲</u>　治卒中，昏不知人，口眼歪斜，半身不遂，並痰厥、氣厥。</p>
<p>南星（生用，一兩）　川烏（去皮，生用，五錢）　附子（去皮，生用，五錢）　木香（二錢）</p>
<p>上每服五錢，姜水煎；加人參一兩。</p>
<p>【集註】柯琴曰：風為陽邪，風中無寒，不甚傷人，惟風中挾寒，害始劇矣。寒輕而在表者，宜發汗以逐邪；寒重而入里者，非溫中補虛終不可救。此取三物之大辛、大熱者，且不炮不制，更佐以木香，乘其至剛、至銳之氣而用之，非專以治風，兼以治寒也。然邪之所湊，其氣必虛，但知勇於攻邪，若正氣虛而不支，能無倒戈之患乎？必用人參兩許以駕馭其邪，此薛己真知確見，立於不敗之地而收萬全之效者也。若在庸手，必謂補住邪氣而不敢用，此謹熟陰陽，毋與眾謀，岐伯所以叮嚀致告耳。觀其每服五錢，必四服而邪始出。今之畏事者，用烏、附分數，必制熟而後敢用，更以芩連監製之，烏能挽回如是之危證哉？古今人不相及，信然。本方去烏、附即星香散，治痰厥、氣厥足矣。</p>
<p><u>稀涎千緡湯</u>　治風痰不下，喉中聲如牽鋸，或中濕腫滿。</p>
<p>半夏（大者，十四枚）　豬牙皂角（炙，一挺）　甘草（一錢）　白礬（二錢）</p>
<p>上四味為末，用生薑自然汁少許，沖溫水一盞，調末一錢，灌之，得吐痰涎，即醒。</p>
<p>【集註】柯琴曰：攻邪有汗、吐、下三法，仲景於吐劑立梔子鼓、瓜蒂二方，所以導熱邪之上出，逐寒邪而外散也。其有不因外感，因醇酒厚味漸積，凝結變為頑痰，一旦乘虛上塞咽喉，氣不得通，忽然昏僕，目反直視，喉中聲如牽鋸，此為痰厥。先輩所云：怪證多屬於痰者，此也。非用峻藥以攻之，頑痰不能遽退，故用生薑、半夏之辛以散之，甘草之甘以湧之，白礬之澀以斂之，牙皂之勇以開之。此斬關奪門之勢，惟稟氣素實而暫虛者可用，壅塞稍疏，續進他藥，不可多用以傷元氣。如平素虛弱者，又當攻補兼施，六君子湯中加牙皂、白礬末以吐之，則庶幾矣。若誤作中風治之，去生便遠。</p>
<p><u>秦艽升麻湯</u>　治風寒客胃，口眼喎斜，惡</p>
<p><u>見風寒，四肢拘急，脈浮而緊。</u></p>
<p>升麻　葛根　秦艽　白芷　防風　桂枝　甘草　人參　芍藥　蔥白</p>
<p>上十味，水煎服。</p>
<p>【集註】李中梓曰：至哉坤元！為五臟之主。木勝風淫，則倉廩之官受制，脾主四肢，故痿痹也。口為土之外候，眼為木之為外候，故俱病也。升麻、白芷皆陽明本藥，故用為直入之兵。桂枝、芍藥和其營衛，防風、秦艽驅散風邪，蔥根佐風藥發汗，則無微不達，又借人參、甘草補而和之，則大氣周流，而邪氣有不散者乎！</p>
<p><u>防風黃耆湯</u>　治中風不能言，脈遲而弱者。</p>
<p>防風　黃耆（等分）</p>
<p>水煎服。</p>
<p>【集註】柯琴曰：夫風者，百病之長也。邪風之至，急如風雨，善治者治皮毛，故用防風以驅逐表邪。邪之所湊，其氣必虛，故用黃耆以鼓舞正氣。黃耆得防風，其功愈大者，一攻一補，相須相得之義也。唐柳太后中風不言，許蔭宗造防風黃耆湯數十斤，置床下蒸之，身在氣中居，次日便能語，是以外氣通內氣，令氣行而愈也。經曰：五氣入鼻，藏於心肺，上使耳目修明，聲音能彰。制此方者，其知此義矣。夫熏蒸之力，尚能去病，況服之乎！今人治風，惟以發散為足法，而禁用參、耆，豈知目盲不能視，口噤不能言，皆元氣不足使然耳。誰知補氣可以御風，正勝而邪卻之理耶！神而明之，存乎其人。信哉！</p>
<p><u>玉屏風散</u>　治風邪久留而不散者，自汗不止者亦宜。</p>
<p>防風　黃耆　白朮（等分）</p>
<p>上為細末，酒調服。</p>
<p>【集註】柯琴曰：邪之所湊，其氣必虛，故治風者，不患無以驅之，而患無以御之；不畏風之不去，而畏風之復來。何則？發散太過，元府不閉故也。昧者不知托裡固表之法，遍試風藥以驅之，去者自去，來者自來，邪氣留連，終無解期矣。防風遍行周身，稱治風之仙藥，上清頭面七竅，內除骨節疼痹，外解四肢攣急，為風藥中之潤劑，治風獨取此味，任重功專矣，然衛氣者，所以溫分肉而充皮膚，肥腠理而司開闔，惟黃耆能補三焦而實衛，為元府御風之關健，且元汗能發，有汗能止，功同桂枝，故又能除頭目風熱，大風癲疾，腸風下血，婦人子臟風，是補劑中之風藥也。所以防風得黃耆，其功愈大耳。白朮健脾胃，溫分肉，培土即以寧風也。夫以防風之善驅風，得黃耆以固表，則外有所衛；得白朮以固里，則內有所據。風邪去而不復來。此欲散風邪者，當依如屏，珍如玉也。其自汗不止者，亦以微邪在表，皮毛肌肉之不固耳。</p>
<p><u>黃耆五物湯</u>　治風靡身無痛，半身不遂，手足無力，不能動履者。久久服之，自見其功。</p>
<p>黃耆（蜜炙，六錢）　白芍藥（酒炒，三錢）　桂枝（嫩枝連皮，三錢）　生薑（外皮，三錢）　大棗（去核，四枚）</p>
<p>水煎服。</p>
<p>【注】經曰：虛邪偏客於身半，其入深者，內居營衛，營衛衰則真氣去，邪氣獨留，發為偏枯；其邪氣淺者，脈偏痛。此謂虛邪賊風之中人也。營衛虛則其人深，久留髮為偏枯、半身不遂也。營衛實則其人淺，即作經脈偏痛、風痹病也。八風、五痹之病，營衛實者，則以續命湯、換骨丹發其營衛之邪。風靡。偏枯之病，是營衛虛，則當以此湯補其營衛之虛也。故君黃耆以補衛，臣桂、芍以補營，佐薑、棗補而兼通，以和營衛也。此方乃小建中湯之變制，加黃耆減甘草、飴糖者，是其意在補外，而不在補中也。若左半身不遂，則加當歸以補血；右半身不遂，則倍黃耆以補氣；手軟倍桂枝；足軟加牛膝；筋軟加木瓜；骨軟加虎骨；元氣虛加人參；陽氣虛加附子；在臨證者消息之。久久服之，無不應也。如外風邪盛，則又當從事乎羌活愈風湯，補而散之可也。</p>
<p><u>羌活愈風湯</u>　治年近四旬，營衛不足，肝腎虛弱，風中經絡。精神恍惚，語言不清，半</p>
<p><u>身不遂，手足麻木，筋骨無力；或手足枯瘦浮腫，或手足筋攣不收。一切風病稍愈之後，調理俱宜此方。及初覺大指次指麻木不用，手足少力，或肌肉微掣，口眼跳動，若不預防調治，三年之內，風病必生，亦宜服之。</u></p>
<p>羌活　甘草（炙）　防風　黃耆　蔓荊子　地骨皮　川芎　細辛　枳殼　人參　麻黃　知母　甘菊花　薄荷　枸杞　當歸　獨活　白芷　杜仲　秦艽　柴胡　半夏（制）　厚朴（薑製）　熟地黃　防己（以上各二兩）　芍藥　黃芩　白茯苓（各三兩）　石膏　生地　蒼朮（各四兩）　官桂（一兩）　前胡（二兩）</p>
<p>上每服一兩，水二盞，煎一盞，去滓，空心溫服。如遇天陰，加生薑三片，臨臥再煎，滓俱要，食遠空心服。</p>
<p><u>清熱化痰湯</u>　治中風痰熱，神氣不清，舌強難言。</p>
<p>人參　白朮　茯苓　甘草（炙）　橘紅　半夏　麥冬　石菖蒲　枳實　木香　竹茹　黃芩　黃連　南星</p>
<p>水煎，加竹瀝。薑汁服。</p>
<p>【注】中風有內生、外中二因。內生則因胃濁生痰，志極動火；外中則因形氣不固，感召風邪。所以內生者，病必痰迷不語，火發神昏。外中者，病必筋骨不用，口眼歪斜。單發者易治，同發者難愈。然此病之來，必有先兆。如大指次指麻木不仁或手足無力，或肌肉微掣，此營衛受邪，外中之先兆也。如上盛下虛，頭眩腳軟，神短忽忽，言語失常，此痰火將發，內生之先兆也。醫方中預防外中、內生之劑甚多，皆不若羌活愈風，清熱化痰二方均以補正為主，除邪次之。故羌活愈風，以十全大補湯為君劑；清熱化痰，以六君子湯為君劑也。羌活愈風湯，用人參、苓、草以補氣，歸、地、芍藥以補血，黃耆、桂枝以扶衛，麻黃、芎藭以調營。濕盛則筋骨痿軟，故佐蒼、半，防己以除之。風盛則筋骨拘勁，故佐枸、杜、地黃以滋之。病久氣必滯，故佐枳殼、厚朴以行之。風多從燥化，故佐知、膏、黃芩以清之。更佐諸羌、獨輩發散之品，以驅六經之風，是風非汗不除也。久病風邪之人，若一旬無汗，須加麻黃微汗以和其表。若數日大便不利，更加大黃微利以和其里。春倍柴胡、半夏，夏倍知、膏、黃芩，季夏倍防己、朮、苓，秋倍厚朴加桂、藿，冬倍歸、桂加附子，此皆通塞從時，活變法也。一氣一候亦然，假如今日風氣大來，是風淫也，則倍防風；熱氣大來，是火淫也，則借黃芩；濕氣大來，是濕淫也，則倍蒼朮；清氣大來，是燥淫也，則倍桂枝皮；寒氣大來，是寒淫也，則加炮附子。此又隨氣候加藥法也。清熱化痰湯，用參、苓、朮、草以補氣，木香、枳實以利氣，橘、半、南星以化痰，黃芩、黃連以瀉熱，菖蒲通心，麥、竹清心，薑汁、竹瀝通神明去胃濁，則內生諸病自漸愈矣。氣實減人參、白朮者，恐助熱也。氣虛減木香枳實者，恐傷氣也。痰熱甚盛，大便秘實者，此方攻病力緩，又當與礞石滾痰丸相兼服之，大便利，止再服，恐過則傷正也。若利後數日，仍秘實者，仍服之，是又恐痰熱盛而助邪也。其變通加減施治，總在臨證者消息之，難以盡述。</p>
<p><u>防風通聖散</u>　風熱壅盛，表裡三焦皆實者，此方主之。</p>
<p>防風　川芎　當歸　芍藥　大黃　薄荷　麻黃　連翹　芒硝（各半兩）　石膏　黃芩　桔梗（各一兩）　滑石（三兩）　甘草（三兩）　荊芥　白朮　梔子（各二錢半）　生薑（三片）</p>
<p>每服三錢。</p>
<p>【集註】吳琨曰：防風、麻黃解表藥也，風熱之在皮膚者，得之由汗而泄。荊芥、薄荷清上藥也，風熱之在顛頂者，得之由鼻而泄。大黃、芒硝通利藥也，風熱之在腸胃者，得之由後而泄。滑石、梔子水道藥也，風熱之在決瀆者，得之由尿而泄。風淫於肺，肺胃受邪，石膏、桔梗清肺胃也。而連翹、黃芩，又所以祛諸經之遊火。風之為患，肝木主之，川芎、歸、芍，和肝血也。而甘草、白朮，所以和胃氣而健脾。劉守真長於治火，此方之旨詳且悉哉！亦治失下發斑，三焦火實。全方除硝、黃名雙解散，解表有防風、麻黃、薄荷、荊芥、川芎，解里有石膏、滑石、黃芩、梔子、連翹，復有當歸、芍藥以和血，桔梗、白朮、甘草以調氣，營衛皆和，表裡俱暢，故曰雙解。本方名曰通聖，極言其用之妙耳。</p>
<p><u>九味羌活湯</u>（一名沖和湯）　四時發散之通劑。</p>
<p>羌活　防風　川芎　白芷　細辛　蒼朮　黃芩　甘草　生地</p>
<p>加生薑三片，蔥白三莖，水煎服。</p>
<p><u>活人敗毒散</u>　治傷寒溫疫，風濕風眩，拘蜷風痰，頭痛目眩，四肢痛，憎寒壯熱，項</p>
<p><u>強睛疼。老人小兒皆可服。</u></p>
<p>羌活　獨活　前胡　柴胡　川芎　枳殼　白茯苓　桔梗　人參（各一兩）　甘草（五錢）</p>
<p>上為細末，每服二錢，水一盞，入生薑三片，煎七分，溫服，或沸湯點服。</p>
<p>煩熱口乾，加黃芩。</p>
<p>【集註】趙羽皇曰：東南地土卑濕，凡患感冒，輒以傷寒二字混稱。不知傷者，正氣傷於中，寒者，寒氣客於外，未有外感而內不傷者也。仲景醫門之聖，立法高出千古，其言冬時嚴寒，萬類深藏，君子固密，不傷於寒。觸冒之者，乃名傷寒，以失於固密而然。可見人之傷寒，悉由元氣不固，膚腠之不密也。昔人常言傷寒為汗病，則汗法其首重矣。然汗之發也，其出自陽，其源自陰，故陽氣虛，則營衛不和而汗不能作；陰氣弱，則津液枯涸而汗不能滋。但攻其外，不顧其內可乎？表汗無如敗毒散、羌活湯。其藥如二活、二胡、芎、蒼、辛、芷群隊辛溫，非不發散，若無人參、生地之大力者居乎其中，則形氣素虛者，必至亡陽；血虛挾熱者，必至亡陰，而成痼疾矣。是敗毒散之人參，與沖和湯之生地，人謂其補益之法，我知其托裡之法。蓋補中兼發，邪氣不致於流連；發中帶補，真元不致於耗散，施之於東南地卑氣暖之鄉，最為相宜，此古人制方之義。然形氣俱實，或內熱熾盛，則更當以河間法為是也。</p>
<p>胡天錫曰：非其時而有其氣，惟氣血兩虛之人受之。寒客營而風客衛，不可用峻劑，故稍從其輕者，此羌活湯、敗毒散所由立也。九味湯主寒邪傷營，故於發表中加芎、地，引而入血，即藉以調榮。用蔥姜為引，使通體汗出，庶三陽血分之邪，直達而無所滯矣。敗毒散主風邪傷衛，故於發表中加參、苓、枳、桔，引而達衛，固托以宣通。用生薑為使，使留連肺部，則上焦氣分之邪不能幹矣。是方亦可用黃芩者，以諸藥氣味辛溫，恐其僭亢，一以潤之，一以清之也。</p>
<p><u>柴葛解肌湯</u>　治三陽合病，頭痛發熱，心煩不眠，嗑干耳聾，惡寒無汗，三陽證同見者。</p>
<p>石膏　柴胡　羌活　白芷　黃芩　芍藥　桔梗　甘草　葛根</p>
<p>加薑棗，水煎服。</p>
<p>【注】陶華制此以代葛根湯。不知葛根湯，只是太陽、陽明藥，而此方君柴胡，則是又治少陽也；用之於太陽、陽明合病，不合也。若用之以治三陽合病，表裡邪輕者，無不效也。仲景於三陽合病，用白虎湯主之者，因熱甚也，曰汗之則譫語遺尿，下之則額汗厥逆，正示人惟宜以和解立法，不可輕於汗下也。此方得之葛根、白芷，解陽明正病之邪，羌活解太陽不盡之邪，柴胡解少陽初入之邪。佐膏、芩治諸經熱，而專意在清陽明，佐芍藥斂諸散藥而不令過汗，桔梗載諸藥上行三陽，甘草和諸藥通調表里。施於病在三陽，以意增減，未有不愈者也。若渴引飲者，倍石膏加栝蔞根，以清熱而生津也。若惡寒甚無汗，減石膏、黃芩加麻黃，春夏重加之，以發太陽之寒。若有汗者，加桂枝以解太陽之風，無不可也。</p>
<p><u>升麻葛根湯</u>　治陽明表熱下利，兼治痘疹初發。</p>
<p>升麻　葛根　芍藥　甘草（炙）</p>
<p>上四味，水煎服。</p>
<p>【集註】柯琴曰：此為陽明初病，解表和里之劑，可用以散表熱，亦可用以治裡虛，一方而兩擅其長也。夫身熱汗自出，不惡寒反惡熱。是陽明之本證。仲景未嘗立治表之方，見陽明初起，汗出多而惡寒者，便用桂枝湯；及無汗而惡寒者，則用葛根湯。證同太陽而稱陽明者，是陽明之表病自太陽傳來，故治仍同太陽也。此方治陽明自病，不用麻桂者，恐汗太過而亡津液，反致胃燥也。用升麻、葛根發胃脘之陽，以散肌肉之表熱；芍藥、甘草瀉脾經之火，以解胃府之裡熱。有汗則發，無汗則止，功同桂枝，而已遠乾薑、桂，且不須啜稀粥以助陽也。胃實為陽明之裡證，仲景用承氣三方。然陽明初病，往往有移熱於脾而下利者，《內經》所謂暴注下迫，皆屬於熱也。下利，正是胃熱之兆，故太陽陽明合病，必自下利，仲景用葛根湯以發兩陽之表熱，即所以治裡熱也。此方即仿其義，去薑、桂之辛熱，以升麻代麻黃，便是陽明表劑，而非太陽表劑矣。葛根稟性甘涼，可以散表實，協升麻以上升，則使清陽達上而濁陰下降。可知芍藥收斂脾陰，甘草緩急和里，則下利自止。可知治里仍用表藥者，以表實下利、而非裡實故也。痘疹自里達表，出於少陰而發於太陽，初起則內外皆熱，故亦宜於涼散耳。若無汗加麻黃，有汗加桂枝，渴熱加石膏，咽痛加桔梗，頭痛合芎芷散，頭面腫合消毒飲，有少陽證加柴，芩，火盛加芩、連，凡邪在三陽，以此出入，無不利也。</p>
<p><u>參蘇飲</u>　治感冒風寒，頭痛發熱，憎寒咳嗽，涕唾稠黏，胸膈滿悶，脈弱無汗。</p>
<p>人參（八分）　蘇葉（八分）　乾葛（八分）　前胡（八分）　陳皮（八分）　枳殼（八分）　茯苓（八分）　半夏（八分）　桔梗（五分）　木香（五分）　甘草（五分）　生薑（五片）　大棗（一枚）</p>
<p>上水煎，熱服取汗。</p>
<p>【注】風寒感冒太陽則傳經，以太陽主表，故用麻、桂二方，發營衛之汗也。若感太陰則不傳經，以太陰主肺，故用此湯外散皮毛，內宣肺氣也。蓋邪之所湊，其氣必虛，故君人參以補之。皮毛者，肺之合也，肺受風寒，皮毛先病，故有頭痛無汗，發熱憎寒之表，以蘇葉、葛根、前胡為臣以散之。肺一受邪，胸中化濁，故用枳、桔、二陳以清之，則咳嗽、涕唾稠黏、胸膈滿悶之證除矣。加木香以宣諸裡氣，加薑、棗以調諸表氣，斯則表裡之氣和，和則解也。以本方去人參加川芎，以前胡易柴胡，名芎蘇飲。治氣實有火者，頭痛甚亦加之。喘嗽者，加杏仁以降氣，桑皮以瀉肺。合四物名茯苓補心湯，治氣血兩虛，及新產之後虛損吐血，感冒傷風咳嗽，最相宜也。</p>
<p><u>藿香正氣散</u>　治外受四時不正之氣，內停飲食，頭痛寒熱，或霍亂吐泄，或作瘧疾。</p>
<p>藿香　桔梗　紫蘇　白芷　厚朴　大腹皮　半夏　茯苓　陳皮　甘草</p>
<p>上十味，加薑棗，水煎，熱服。</p>
<p>【集註】吳琨曰：四時不正之氣，由鼻而入，不在表而在裡，故不用大汗以解表，但用芬香利氣之品以正里。蘇、芷、陳、腹、樸、梗，皆氣勝者也，故能正不正之氣；茯、半、甘草則甘平之品，所以培養中氣者也。若病在太陽，與此湯全無干涉，傷寒脈沉發熱，與元氣本虛之人，並夾陰發熱者宜戒。又金不換正氣散，即平胃散加半夏、藿香，凡受山嵐瘴氣及出遠方不服水土、吐瀉下利者主之。蓋平胃散，可以平濕土而消瘴，半夏之燥以醒脾，藿香之芬以開胃，名曰正氣，謂能正不正之氣也。</p>
<p><u>神術湯</u>　主治三時外感寒邪、內傷生冷而發熱及脾瀉腸風。</p>
<p>白朮（三錢）　防風（二錢）　甘草（一錢）</p>
<p>上三味，無汗用蒼朮加蔥白、生薑，有汗用白朮、生薑。</p>
<p>【集註】柯琴曰：此王好古得意之方，仿仲景麻、桂二方之義，而製為輕劑也。然此是太陰之劑，可以理脾胃之風濕，而不可治太陽之風寒，亦不可以治陽明之表證與少陽之半表裡也。《內經》所謂春傷於風，邪氣留連而洞泄，至夏而飧泄、腸澼者宜之。若冬傷於寒，至春而溫病者，又非所宜也。今人不知仲景立方之旨，只恐麻黃、桂枝之傷人也，得此平和之劑恃為穩當。不知營衛不和，非調和脾胃者所可代。胃家之實者，非補虛之品所能投。肝膽之相火往來，少陰之水火相射者，不得以燥劑該攝也。失明藥之理，始得方之用，能知方，始可用方而不執方。若病在太陽，先發陽明之汗，是引賊破家，張潔古豈獨為葛根道哉！</p>
<p><u>麻黃加朮湯</u>　治濕家身煩疼。</p>
<p>麻黃（三兩）　桂枝（二兩）　甘草（炙，二兩）　杏仁（七十個）　白朮（炒，四兩）</p>
<p>上五味，以水九升，煮麻黃，減二升，去沫，內諸藥，煮取二升半，去滓，溫服八合，覆取微似汗。</p>
<p>【集註】程知曰：此湯為濕家表散法也。身疼為濕，身煩為熱。加白朮於麻黃湯中，一以助其去濕，一以恐其過散，此治濕之正法也。發散方中加白朮，又為張潔古、王好古二人開法門。</p>
<p><u>桂枝附子湯</u>　主冶傷寒八九日，風濕相搏，身體煩疼，不能轉側，不嘔不渴，脈浮虛而澀者。</p>
<p>桂枝（四兩）　附子（炮，三枚）　甘（一兩）　生薑（三兩）　大棗（十二枚）</p>
<p>上五味，以水六升，煮取二升，去滓，分溫三服。</p>
<p>【集註】程知曰：濕與風相搏，流入關節，身疼極重，而無頭痛、嘔、渴等證，脈浮虛者風也，澀者寒濕也。風在表者，散以桂、甘之辛甘。濕在經者，逐以附子之辛熱。薑、棗辛甘，行營衛通津液以和表。蓋陽虛則濕不行，溫經助陽散濕，多藉附子之大力也。</p>
<p><u>栝蔞桂枝湯</u>　治太陽證備，身體強𠘧𠘧然，脈反沉遲，此為痙，此湯主之。</p>
<p>栝蔞根（二兩）　桂枝（三兩）　芍藥（三兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚）</p>
<p>上六味，以水九升，煮取三升，分溫三服，取微汁，汗不出，食頃須啜熱粥發之。</p>
<p>【集註】喻昌曰：傷寒方中，治項背𠘧𠘧，用桂枝加葛根湯矣。彼之汗出惡風，其邪在表，而此之太陽證，罔不具備，其邪之亦在於表可知也。但以脈之沉遲，知其在表之邪為津液內竭所召，不當從風寒之表法起見，故不用葛根之發表解肌，改用栝蔞根之味苦入陰，擅生津液之長者為君，加之桂枝和營衛、養筋脈而治其痙，乃變表法為和法也。然既君以栝蔞根當增之，桂枝為臣當減之。</p>
<p><u>水解散</u>　治天行時氣初起，頭痛，壯熱等疫。</p>
<p>大黃（四兩）　白芍（二兩）　黃芩　甘草（炙）　桂心　麻黃（各三兩）</p>
<p>上為粗末，每撮一兩，水煎服。汗下不再服。</p>
<p><u>二聖救苦丹</u></p>
<p>川大黃（生，一斤）　皂角（豬牙者，去皮弦，微炒，四兩）</p>
<p>上為末，和勻，水泛為丸，每服三錢，無根水下。弱者減服。</p>
<p>【注】天行時氣，即四時不正之氣，感而為病者，初不名疫也。因病氣互相傳染，老幼相似，沿門闔境而共病之，故曰：天行時氣也。然此疫氣從鼻而入，一受其邪，臟腑皆病，若不急逐病出，則多速死。急逐之法，非汗即下，故古人治疫之方，以下為主，以汗次之，是為病尋出路也。此二方，一以治冬疫，一以治春疫。冬疫多寒，春疫多熱。多寒者宜水解散，方中用麻、桂、芍，草發營衛之汗，大黃，黃芩瀉疫毒之邪。多熱者宜救苦丹，方中用皂角開竅而發表，大黃瀉火而攻裡，使毒亦從汗下而出也，二方審而用之，治疫之大法可類推矣。</p>
<p><u>天水散</u>（一名益無散一名六一散）　治夏時中暑，熱傷元氣，內外俱熱，無氣以動，煩渴</p>
<p><u>欲飲，腸胃枯涸者。又能催生下乳，積聚水蓄，裡急後重，暴注下迫者宜之。</u></p>
<p>桂府滑石（水飛，六兩）　甘草（一兩）　辰砂（三錢）</p>
<p>上為細末，新汲水一碗，調服三錢。</p>
<p>【集註】柯琴曰：元氣虛而不支者死，邪氣盛而無制者亦死。今熱傷元氣，無氣以動，斯時用參、耆以補氣，則邪愈甚；用芩、連以清熱，則氣更傷。惟善攻熱者，不使敗人元氣；善補虛者，不使助人邪氣，必得氣味純粹之品以主之。滑石稟土中衝和之氣，行西方清肅之令，秉秋金堅重之形，寒能勝熱，甘不傷脾，含天乙之精而具流走之性，異於石膏之凝滯，能上清水原，下通水道，盪滌六腑之邪熱從小便而泄。炙甘草稟草中衝和之性，調和內外，止渴生津；用以為佐，保元氣而瀉虛火，則五臟自和矣。然心為五贓主，暑熱擾中，神明不安，必得硃砂以鎮之，則神氣可以虛遽復；涼水以滋之，則邪熱可以急除，此清心之陽熱可通行也。至於熱利初起，裡急後重者宜之，以滑可去著也。催生下乳，積聚蓄水等證，同乎此義，故兼治之。是方也，益氣而不助邪，逐邪而不傷氣，不負益元之名，宜與白虎、生脈三方鼎足也。</p>
<p><u>香蒂飲</u>　治暑熱乘涼飲冷、陽氣為陰邪所遏、頭痛發熱、惡寒煩躁、口渴腹滿、吐瀉者。</p>
<p>香薷　厚朴（薑汁炒）　白扁豆（炒）</p>
<p>水煎浸，冷服。</p>
<p>【集註】葉仲堅曰：飲與湯稍有別，服有定數者名湯，時時不拘者名飲。飲因渴而設，用之於溫暑則最宜者也。然胃惡燥，脾惡濕，多飲傷脾，反致下利。治之之法，心下有水氣者發汗，腹中有水氣者利小便。然與其有水患而治之，曷若先選其能汗、能利者用之。香薷芳香辛溫，能發越陽氣，有徹上徹下之功，故治暑者君之，以解表利小便。佐厚朴以除濕，扁豆以和中，合而用之為飲。飲入於胃，熱去而濕不留，內外之暑悉除矣，若心煩口渴者，去扁豆加黃連，名黃連香薷飲。加茯苓、甘草，名五物。加木瓜、參、耆、橘、術，名十味。隨證加減，盡香薷之用也。然勞倦內傷，必用清暑益氣，內熱大渴，必用人參白虎，若用香薷，是重虛其表而反濟其內熱矣。香薷乃夏月解表之藥，如冬月之麻黃，氣虛者尤不可服。今人不知暑傷元氣，概用以代茶，是開門揖盜也。</p>

<h1>卷四</h1>

<h2>刪補名醫方論（四）</h2>
<p><u>黃連解毒湯</u>　治一切陽熱火盛，面赤口乾，狂燥心煩，錯語不眠，大熱乾嘔，吐血</p>
<p><u>衄皿，及下後而便不實，熱仍不已者。</u></p>
<p>黃連　梔子（各等分）　黃柏　黃芩</p>
<p>水煎服。</p>
<p>【集註】汪昂曰：寒極曰陰毒，熱極曰陽毒。是方名曰黃連解毒，是君以黃連直解心經火毒也。黃芩瀉肺經火毒，黃瀉腎經火毒，梔子通瀉三焦火毒，使諸火毒從膀肌出。若大便實者加大黃，名梔子金花湯，利大便，是使火毒從大、小二便而出也。蓋陽盛則陰衰，火盛則水衰，故用大苦大寒之藥，抑陽而扶陰，瀉其亢甚之火，而救其欲絕之水也。然非實熱不可輕投。</p>
<p>【按】黃連解毒湯、白虎湯、三黃石膏湯、大青龍湯，皆治表裡俱熱證。然大青龍湯治表實壯熱，裡熱之淺在肌；三黃石膏湯治表實壯熱，裡熱之深在胃。故一以石膏佐麻、桂，一以石膏佐麻、豉，均發太陽之表，解陽明之裡也。大青龍湯，則更以杏、草、薑、棗、佐麻黃，其意專發熱郁之在肌也。三黃石膏湯，則更以芩、連，梔、柏佐石膏，其意專瀉熱深之在胃也。白虎湯治表熱在肌，裡熱在胃，所以不用麻、桂以發太陽，專主石膏而清陽明也，解毒湯治表熱在三陽，裡熱在三焦，所以亦不以麻、桂發太陽表，亦不以石膏清陽明裡，而專以三黃瀉上下內外之實火也。此皆太陽之邪，侵及陽明，而未入腑成實者也。若已入腑成實，則又當從事乎三承氣湯，以下其熱也。</p>
<p><u>三黃湯</u>　治三焦實熱，一切有餘火證，大便秘結者。</p>
<p>黃芩　大黃（各等分）　黃連</p>
<p>水煎服。</p>
<p><u>二黃湯</u>　治上焦火旺，頭面大腫，目赤腫痛，心胸。咽喉。口舌、耳鼻熱盛及生瘡毒者。</p>
<p>黃芩　黃連　甘草（各等分）</p>
<p>水煎，食後服。</p>
<p>【按】三黃湯用黃芩瀉上焦火，黃連瀉中焦火，大黃瀉下焦火，三焦實火大便實者，誠為允當。若大便不實者，黃連解毒湯證也。以大黃易黃柏者，因其下焦熱結未實也。加梔子者，使其熱不從大便出而從小便出也。上、中二焦實火，用涼膈散。若夫上焦實火，則以此湯之大黃易甘草，名二黃湯，使芩、連之性，緩緩而下，留連膈上。張潔古以涼膈散減硝、黃加桔梗，亦此義也。雖同一瀉火之劑，而其中上下、緩急、輕重之不同，此皆加減轉換法也，不可不知。</p>
<p><u>三黃石青湯</u>　治傷寒陽證，表裡大熱而不得汗，或已經汗、下，過經不解，六脈洪</p>
<p><u>數，面赤鼻乾，舌燥大渴，煩躁不眠，譫語鼻衄，發黃、發疹、發斑。以上諸證，凡表實無汗，而未入里成實者，均宜主之。</u></p>
<p>石膏（兩半）　黃芩　黃連　黃柏　麻黃（以上各七錢）　淡豆豉（二合）　梔子（三十個）</p>
<p>每服一兩，加蔥三根，水煎，熱服。氣實者倍服。</p>
<p>【注】仲景於表裡大熱，立兩解之法。如大青龍湯治表裡大熱，表實無汗，故發汗，汗出而兩得解也；白虎湯治表裡大熱，因表有汗，不主麻、桂，因里未實，不主硝黃，惟以膏、知、甘草，外解陽明之肌熱，內清陽明之腑熱，表裡清而兩得解也。若夫表實無汗，熱鬱營衛，里未成實，熱盛三焦，表裡大熱之證。若以大青龍湯兩解之，則功不及於三焦。若以白虎湯兩解之，則效不及於營衛。故陶華制此湯，以三黃瀉三焦之火盛，佐梔子屈曲下行，使其在裡諸熱從下而出。以麻黃開營衛之熱鬱，佐豉蔥直走皮毛，使其在表之邪從外而散。石膏倍用重任之者，以石膏外合麻、豉、取法乎青龍，是知解諸表之熱，不能外乎青龍也。內合三黃，取法乎白虎，是知解諸里之熱，不能外乎白虎也。且麻、豉得石膏、三黃，大發表熱，而不動裡熱；三黃得石膏、麻、豉，大清內熱，而不礙外邪。是此方擅表裡俱熱之長，亦得仲景之心法者也。若表有微汗，麻黃減半，桂枝倍加，以防外疏；里有微溏，則減去石膏，倍加葛根，以避中虛也。</p>
<p><u>涼膈散</u>　治心火上盛，中焦燥實，煩躁口渴，目赤頭眩，口瘡唇裂，吐血衄血，大</p>
<p><u>小便秘，諸風瘛瘲，胃熱發斑發狂，及小兒驚急，痘瘡黑陷。</u></p>
<p>連翹（四兩）　大黃（酒浸）　黃芩（酒炒）　薄荷（一兩）　甘草（二兩）　梔子（炒）　芒硝</p>
<p>上為末，每服三錢，加竹葉，生蜜煎。</p>
<p>【集註】汪昂曰：此上、中二焦，瀉實火藥也。熱淫於內，治以鹹寒，佐以苦甘。故以連翹、黃芩、竹葉、薄荷散火於上，而以大黃、芒硝之猛利，蕩熱於中，使上升下行，而膈自清矣。用甘草、生蜜者，病在膈，甘以緩之也。古方用涼膈散居多。本方加菖蒲、遠志，名轉舌膏，治心經蘊熱。加青黛、藍根，名活命金丹，治肝經風熱。張潔古減去硝、黃，加桔梗為之舟楫，浮而上行，治上焦諸熱，便不實者宜之，不可以此方過瀉而輕訾之也。</p>
<p><u>竹葉黃耆湯</u>　治消渴，氣血虛，胃火盛而作渴。</p>
<p>淡竹葉　生地黃（各二錢）　黃耆　麥冬　當歸　川芎　黃芩　甘草　芍藥　人參　半夏　石膏（各一錢）</p>
<p>上水煎服。</p>
<p>【集註】柯琴曰：氣血皆虛，胃火獨盛，善治者補瀉兼施；寒之而不至損陽，溫之而至助火，扶正而邪卻矣。四君子氣藥也，加黃耆而去苓、術者，恐火就燥也。四物湯血藥也，倍地黃而用生者，正取其寒也。人參、黃耆、甘草，治煩熱之聖藥，是補中有瀉矣。且地黃之甘寒，瀉心腎之火，竹葉助芍藥清肝膽之火，石膏佐芍藥清脾胃之火，麥冬同黃芩清肺腸之火，則胃火不得獨盛，而氣血之得補可知。惟半夏一味溫中辛散，用之大寒劑中，欲其通陰陽之路也。岐伯治陰虛而目不瞑者，飲以半夏湯，覆杯則臥，今人以為燥而渴者禁用，是不明陰陽之理耳。</p>
<p>【按】是方即竹葉石膏湯加生地、當歸、白芍、川芎、黃耆、黃芩也。彼則治傷寒解後煩渴少氣，氣逆欲吐。此則治消渴，氣血虛、胃火盛。因其氣虛，故加黃耆佐人參、甘草以補氣；因其血虛，故加歸、芎、芍、地以補血；因其胃火盛，故加黃芩佐石膏以清胃火。其煩渴則一，故余藥皆同也。於此二方推之，用半夏之意，自可知矣，故脾者為胃行其津液也。脾濕胃燥，津液不行，得火則化痰，得寒則成飲。胃火清，脾濕燥，其痰飲自除矣。半夏消痰破飲，使未化痰之津液回清，而已成痰之濁液自化，非他藥所可比倫也，故二方於胃火盛燥渴中同用之。</p>
<p><u>清胃散</u>　治胃經濕熱，齒齦腫痛，或牽引頭腦，或面發熱。</p>
<p>升麻　甘草　生地黃　川黃連　牡丹皮　當歸</p>
<p>水煎服。</p>
<p>【集註】羅謙甫曰：陽明胃多氣多血，又兩陽合明為熱盛，是以邪入而為病常實。若大渴、舌苔、煩躁，此傷氣分，熱聚胃府，燥其津液，白虎湯主之。若醇飲肥厚炙爆過用，以致濕熱壅於胃府，逆於經絡，而為是病，此傷血分，治宜清胃。方中以生地益陰涼血為君，佐之以丹皮，去蒸而疏其滯。以黃連清熱燥濕為臣，佐之以當歸，入血而循其經。仍用升麻之辛涼，為本經捷使引諸藥直達血所，則咽喉不清，齒齦腫痛等證，廓然俱清矣。</p>
<p><u>導赤散</u>　治心熱，口糜舌瘡，小便黃赤，莖中作痛，熱淋不利。</p>
<p>生地　木通　甘草梢</p>
<p>上三味，水煎服。</p>
<p>【注】赤色屬心，導赤者，導心經之熱從小腸而出，以心與小腸為表裡也。然所見口糜舌瘡、小便黃赤、莖中作痛、熱淋不利等證，皆心熱移於小腸之證。故不用黃連直瀉其心，而用生地滋腎涼心，木通通利小腸，佐以甘草梢，取易瀉最下之熱，莖中之痛可除，心經之熱可導也。此則水虛火不實者宜之，以利水而不傷陰，瀉火而不伐胃也。若心經實熱，須加黃連、竹葉，甚者更加大黃、亦釜底抽薪之法也。</p>
<p><u>五淋散</u>　治膀胱結熱，水道不通，淋澀熱痛，或尿如豆汁，或成砂石，或如膏膿，或小便血。</p>
<p>赤苓（一錢五分）　赤芍（一錢）　梔仁（一錢）　當歸　甘草（各錢二分）</p>
<p>上五味，加燈心，水煎服。</p>
<p><u>八正散</u></p>
<p>瞿麥　梔子　扁蓄　大黃　木通　滑石　車前子　甘草（各一錢）</p>
<p>加燈心一錢，煎服（朱震亨方：加木香一錢〕。</p>
<p>【注】通調水道，下輸膀胱，三焦之職也。受藏津液，氣化能出，膀胱之職也。若水道不輸，則內蓄喘脹，外泛膚腫，三焦之病也。若受藏不化，則諸淋澀痛，癃閉不通，膀胱之病也。經曰：陰無陽元以生，陽無陰無以化。故陰陽偏盛，皆不生化也。陽盛陰虛，而膀胱之氣不化為病者，通關丸證也。陰盛陽虛，而膀胱之氣不化為病者，腎氣丸證也。此關乎氣化陰陽之為病也。經曰：下虛則遺尿。又曰：膀胱不約為遺尿。經曰：胞移熱於膀胱則癃。又曰：膀胱不利為癃。故虛而寒者，藏而不能約；實而熱者，約而不能出也。膀胱氣虛，無氣以固，則藏而不約不禁，遺失之病生，補中固真湯證也。膀胱氣熱，壅結不行，則約而不出，淋澀癃閉之病生，八正五淋散證也。此不全關乎氣化，而又關乎虛寒、實熱之為病也。八正、五淋皆治淋澀癃閉之藥，而不無輕重之別。輕者，有熱未結，雖見淋澀尿赤、豆汁，砂石、膏血、癃閉之證，但其痛則輕，其病不急，宜用五淋散單清水道故以梔、苓清熱而輸水，歸、芍益陰而化陽，復佐以甘草調其陰陽，而用梢者，意在前陰也。重者，熱已結實，不但痛甚勢急，而且大便亦不通矣，宜用八正散兼瀉二陰，故於群走前陰藥中，加大黃直攻後竅也，丹溪方加木香者，其意亦以氣化者歟！</p>
<p><u>逍遙散</u>　治肝家血虛火旺，頭痛目眩煩赤，口苦倦怠煩渴，抑鬱不樂，兩脅作痛，寒</p>
<p><u>熱，小腹重墜，婦人經水不調，脈弦大而虛。</u></p>
<p>芍藥（酒炒）　當歸　白朮（炒）　茯苓　甘草（炙）　柴胡（各二錢）</p>
<p>引用煨姜三片，薄菏少許，煎服。</p>
<p>加味逍遙散，即此方加丹皮、山梔（炒）各五分。</p>
<p>【集註】趙羽皇曰：五臟苦欲補瀉，云肝苦急，急食甘以緩之。蓋肝性急善怒，其氣上行則順，下行則鬱，鬱則火動而諸病生矣。故發於上，則頭眩、耳鳴而或為目赤。發於中，則胸滿、脅痛而或作吞酸。發於下，則少腹疼疝而或溲尿不利。發於外，則寒熱往來，似瘧非瘧。凡此諸證，何莫非肝鬱之象乎？而肝木之所以郁，其說有二：一為土虛不能升木也，一為血少不能養肝也。蓋肝為木氣，全賴土以滋培，水以灌溉。若中土虛，則木不升而鬱。陰血少，則肝不滋而枯。方用白朮、茯苓者，助土德以升木也。當歸、芍藥者，益榮血以養肝也。薄荷解熱，甘草和中。獨柴胡一味，一以為厥陰之報使，一以升發諸陽。經云：木鬱則達之。遂其曲直之性，故名曰逍遙。若內熱、外熱盛者，加丹皮解肌熱，炒梔清內熱，此加味逍遙散之義也。</p>
<p><u>龍膽瀉肝湯</u>　治脅痛口苦，耳聾耳腫，筋痿陰濕，熱癢陰腫，白濁溲血。</p>
<p>龍膽草（酒炒）　黃芩（炒）　梔子（酒炒）　澤瀉　木通　車前子　當歸（酒洗）　柴胡　甘草　生地（酒炒）</p>
<p>水煎服。</p>
<p>【注】脅痛口苦，耳聾耳腫，乃膽經之為病也，筋痿陰濕，熱癢陰腫，白濁溲血，乃肝經之為病也。故用龍膽草瀉肝膽之火，以柴胡為肝使，以甘草緩肝急，佐以芩、梔、通、澤、車前輩大利前陰，使諸濕熱有所從出也。然皆瀉肝之品，若使病盡去，恐肝亦傷矣，故又加當歸、生地補血以養肝。蓋肝為藏血之臟，補血即所以補肝也。而妙在瀉肝之劑，反作補肝之藥，寓有戰勝撫綏之義矣。</p>
<p><u>左金丸</u>　治肝臟火實，左脅作痛。</p>
<p>黃連（炒，六兩）　吳茱萸（湯泡，一兩）</p>
<p>上為末，作丸。</p>
<p>【集註】胡天錫曰：此瀉肝火之正劑。肝之治有數種：水衰而木無以生，地黃丸，乙癸同源是也；土衰而木無以植，參苓甘草劑，緩肝培土是也；本經血虛有火，用逍遙散清火；血虛無水，用四物湯養陰。至於補火之法，亦下同乎腎；而瀉火之治，則上類乎心。左金丸獨用黃連為君，從實則瀉子之法，以直折其上炎之勢；吳茱萸從類相求，引熱下行，並以辛燥開其肝鬱，懲其捍格，故以為佐。然必本氣實而土不虛者，庶可相宜。左金者，木從左而制從金也。</p>
<p><u>瀉青丸</u>　治肝火風熱，不能安臥，多驚多怒，目赤腫痛，及小兒急驚抽搐。</p>
<p>龍膽草　山梔　大黃（酒蒸）　川芎　當歸　羌活　防風</p>
<p>等分，蜜丸，竹葉湯下。</p>
<p>【注】龍膽草直入肝經，以瀉其火，佐梔子、大黃，使其所瀉之火，從大、小二便而出，是治火之標也。肝主風，風能生火，治肝不治風，非其治也。故用羌活、防風散肝之風，即所以散肝之火，是治火之本也。肝之情欲散，故用川芎之辛以散之。肝之質喜滋，故用當歸之濡以潤之。是於瀉肝之中，寓有養肝之意。瀉肝者，瀉肝之病也；養肝者，悅肝之神也。蓋肝木主春，乃陽升發動之始，萬物生化之源，不可傷也。</p>
<p><u>當歸龍薈丸</u>　治肝經實火，頭運目眩，耳聾耳鳴，驚悸搐溺，躁擾狂越，大便秘結，</p>
<p><u>小便澀滯，或胸脅作痛，陰囊腫脹，凡屬肝經實火，皆宜服之。</u></p>
<p>當歸（一兩）　黃連（一兩）　黃芩（一兩）　龍膽草（一兩）　梔子仁（一兩）　大黃（五錢）　蘆薈（五錢）　青黛（五錢）　木香（二錢五分）　黃柏（一兩）　麝香（另研，五錢）</p>
<p>上為末，炒神麯，糊丸。每服二十丸，薑湯下。</p>
<p>【集註】汪昂曰：肝木為生火之本，肝火盛則諸經之火相因而起，為病不止一端矣。故以當歸、蘆薈、龍膽草、青黛直入本經氣血兩途，先平其甚者，而諸經之火，無不漸平矣，佐以黃芩瀉肺火，黃連瀉心火，黃柏瀉腎火，大黃瀉腸胃火，梔子瀉三焦火，備舉大苦大寒而直折之，使上、中、下三焦之火，悉從大、小二便利出。少加木香、麝香者，取其調氣開竅靈通周至也。然非實火不可輕投。</p>
<p><u>越婢加半夏湯</u>　治咳而上氣；此為肺脹，其人喘，目如脫狀，脈浮大者。</p>
<p>麻黃（六兩）　石膏（半斤）　生薑（三兩）　甘草（二兩）　半夏（半升）　大棗（十五枚）</p>
<p>上六味，以水六升，先煮麻黃，去沫，內藥，取三升，分溫三服。</p>
<p><u>小青龍加石青湯</u>　治肺脹，咳而上氣，煩躁而喘，脈浮者，心下有水氣。</p>
<p>麻黃（三兩）　桂枝（三兩）　細辛（三兩）　芍藥（三兩）　半夏（半升）　石膏（三兩）　乾薑（三兩）　五味子（半升）　甘草（三兩）</p>
<p>上九味，以水一斗，煮麻黃，去沫，內諸藥，取三升。強人服一升，羸者減之，日三服。小兒服四合。</p>
<p>【集註】喻昌曰：前一方，麻黃湯中以桂、杏易石膏，以脈大有熱而加薑、棗，則發散之力微而且緩也。後一方，小青龍湯中加入石膏，以證兼煩躁，雖宜汗散寒飲，猶防助熱傷津也。越婢方中有石膏、半夏二物，協力建功。石膏清熱，藉辛熱亦能豁痰，半夏豁痰，借辛涼亦能清熱。前麥冬湯方中下氣止逆，全藉半夏入生津藥中。此二方又藉半夏入清溫劑中，仲景加減成方，無非化裁後學矣。</p>
<p><u>清燥救肺湯</u>　治諸氣膹郁，諸痿喘嘔。</p>
<p>桑葉（經霜者，三錢）　石膏（炒，二錢五分）　甘草（一錢）　胡麻仁（炒、研，一錢）　真阿膠（八分）　人參（七分）　麥冬（一錢二分）　杏仁（去皮尖、炒黃，七分）　枇杷葉（去毛，蜜炙，一片）</p>
<p>上九味，以水一碗，煎六分，頻頻二三次，滾熱服。</p>
<p>痰多加貝母、栝蔞。血枯加生地。熱甚加犀角、羚羊角，或加牛黃。</p>
<p>【集註】喻昌曰：按諸氣膹郁之屬於肺者，屬於肺之燥也，而古今治氣鬱之方，用辛香行氣，絕無一方治肺之燥者。諸痿喘嘔之屬於上者，亦屬於肺之燥也。而古今治法，以痿、嘔屬陽明，以喘屬肺，是則嘔與痿屬之中、下，而惟喘屬上矣，所以亦無一方及於肺之燥也。即喘之屬於肺者，非表即下，非行氣即泄氣，間有一二用潤劑者，又不得其肯綮。今擬此方名清燥救肺，大約以胃為主，胃土為肺金之母也。其天冬。知母能清金滋水，以苦寒而不用，至如苦寒降火之藥，尤在所忌。蓋肺金自至於燥，所存陰氣不過一線耳。倘更以苦寒下其氣，傷其胃，其人尚有生理乎？誠仿此增減以救肺燥變生諸證，庶克有濟。</p>
<p>柯琴曰：古方用香燥之品以治氣鬱，不獲奏效者，以火就燥也。惟繆仲醇知之，故用甘涼滋潤之品，以清金保肺立法。喻昌宗其旨，集諸潤劑，而制清燥救肺湯，用意深，取藥當，無遺蘊矣。</p>
<p>【按】經云：損其肺者益其氣。肺主諸氣故也。然火與元氣不兩立，故用人參、甘草甘溫而補氣，氣壯火自消，是用少火生氣之法也。若夫火燥膹鬱於肺，非佐甘寒多液之品，不足以滋肺燥，而肺氣反為壯火所食，益助其燥矣。故佐以石膏、麥冬、桑葉、阿膠、胡麻仁輩，使清肅令行，而壯火亦從氣化也。經曰：肺苦氣上逆，急食苦以降之。故又佐以杏仁、枇杷葉之苦以降氣。氣降火亦降，而制節有權；氣行則不郁，諸痿喘嘔自除矣。要知諸膹郁，則肺氣必大虛，若泥於肺熱傷肺之說而不用人參，郁必不開而火愈熾，皮聚毛落，喘咳不休而死矣。此名之救肺，涼而能補之謂也。若謂實火可瀉，而久服芩、連，苦從火化，亡可立待耳。</p>
<p><u>麥門冬湯</u>　火逆上氣，咽喉不利，止逆下氣者主之。</p>
<p>麥門冬（七升）　半夏（一升）　人參（三兩）　甘草（二兩）　粳米（三合）　大棗（十二枚）</p>
<p>上六味，以水一斗二升，煮取六升，溫服一升；日三服，夜一服。</p>
<p>【集註】喻昌曰：此方治胃中津液乾枯，虛火上炎，治本之良法也。夫用降火之藥而火反升，用寒涼之藥而熱轉熾者，徒知與火熱相爭，弗知補正氣以生津液，不惟無益而反害之矣。凡肺病有胃氣則生，無胃氣則死。胃氣者，肺之母氣也。《本草》有知母之名，謂肺藉其清涼，知清涼為肺之母也。又有貝母之名，謂肺藉其豁痰，豁痰為肺之母也。然屢施於火逆上氣，咽喉不利之證，而屢不應者，名不稱矣。孰知仲景妙法，於麥冬、人參、甘草、大棗、粳米大補中氣以生津液隊中，又增入半夏辛溫之味，以開胃行津而潤肺，豈特用其利嚥下氣哉！顧其利嚥下氣，非半夏之功，實善用半夏之功也。</p>
<p><u>人參清肺湯</u>　治肺胃虛寒，咳嗽喘急，坐臥不安。並治久年勞嗽，吐血腥臭。</p>
<p>人參　阿膠　骨皮　知　母　烏梅　粟殼　炙草　杏　仁　桑皮（各等分）</p>
<p>加棗子，煎服。</p>
<p><u>人參定喘湯</u></p>
<p>人參　麻黃　阿膠　五味　粟殼　甘草　半夏曲（各一錢）　桑皮（二錢）</p>
<p>生薑三片，水煎服。</p>
<p><u>人參瀉肺湯</u>　治肺經積熱上喘，胸隔脹滿痰多，大便澀。</p>
<p>人參　黃芩　梔子　枳殼　薄荷　甘草　連翹　杏仁　桑皮　大　黃　桔梗</p>
<p>水煎服。</p>
<p>【集註】王又原曰：經云：邪之所湊，其氣必虛。又肺為嬌臟，其不堪破耗也明矣。自肺熱傷肺之說行，曰保肺補肺，眾共譁之。曰清肺瀉肺，藥與和之。豈知古人清肺、瀉肺等湯，而必皆以人參立名，夫亦可曉然於肺氣之不可耗，而人參之在所必用也。肺體清而法天，下濟而司降令，一切渾濁不得上乾者，皆胸中之氣健運行而不息也。若肺氣少弛，則降下失令，渾濁之氣遂逆上行，此為咳嗽為喘急，肺葉脹舉，胸膈緊痛，移熱大腸，大便艱澀，種種顯有餘之象，實種種為不足之徵。故不問內傷外感，為熱為寒，要以人參保定肺氣為主。或佐骨皮、知母、阿膠滋之，烏梅、五味、罌粟殼斂之，半夏曲、生薑降之，杏仁，桑皮、枳殼、桔梗利之，梔子、黃芩、連翹涼之，麻黃、薄荷發之，大黃下之，總恃人參之大力，握樞而運，已入之邪易出，而將來之邪無從入也。肺邪得諸藥以俱出，而肺氣不隨諸藥以俱出也。然則人參亦何嘗傷肺，乃畏而不敢用耶？又謂風寒咳嗽，忌用五味子；嗽用粟殼，止嗽如神，切肺如刀。然此無本之言，不知始自何出，皆因不讀《本草》，不知藥之性味功能，以訛傳訛也。近世之醫，亦不能辨，惟識者察之。</p>
<p><u>瀉白散</u>　治肺氣鬱熱，咳嗽而喘，面腫身熱。</p>
<p>桑白皮　地骨皮　甘草</p>
<p>水煎服。</p>
<p>【集註】季楚重曰：經云：肺苦氣上逆。上逆則上焦鬱熱，氣鬱生涎，火鬱生熱，因而制節不行，壅甚為喘滿腫嗽。白者肺之色，瀉白瀉肺氣之有餘也。君以桑白皮，質液而味辛，液以潤燥，辛以瀉肺。臣以地骨皮，質輕而性寒，輕以去實，寒以勝熱。甘草生用瀉火，佐桑皮、地骨皮瀉諸肺實，使金清氣肅而喘嗽可平，較之黃芩、知母苦寒傷胃者遠矣。夫火熱傷氣，救肺之治有三：實熱傷肺，用白虎湯以治其標；虛火刑金，用生脈散以治其本；若夫正氣不傷，鬱火又甚，則瀉白散之清肺調中，標本兼治，又補二方之不及也。</p>
<p><u>阿膠散</u>　治肺虛有火，嗽無津液，咳而硬氣者。</p>
<p>真阿膠（一兩）　牛蒡子（炒，二錢半）　馬兜鈴（炒，五錢）　杏仁（七錢）　炙甘草（五錢）　糯米）一合）</p>
<p>每服兩許，水煎服。</p>
<p>【集註】程應旄曰：痰帶紅線，嗽有血點，日漸成痿，緣肺處臟之最高，葉間布有細竅，氣從此出入，呼吸成液，灌溉周身，所謂水出高源也，一受火炎，吸時徒引火升，呼時並無液出，久則肺竅俱閉，喉間或癢或瘡，六葉遂日焦枯矣。今用阿膠為君者，消竅瘀也。用杏仁，大力子，宣竅道也。馬兜鈴者，清竅熱也。糯米以補脾，母氣到則肺自輕清無礙矣。</p>
<p><u>二陳湯</u>　治肥盛之人，濕痰為患，喘嗽脹滿。</p>
<p>半夏（制，三錢）　茯苓（三錢）　陳皮（去白，二錢）　甘草（一錢）</p>
<p>上四味，加姜三片，水煎服。</p>
<p>【集註】李中梓曰：肥人多濕，濕挾熱而生痰，火載氣而逆上，半夏之辛，利二便而去濕。陳皮之辛，通三焦而理氣。茯苓佐半夏，共成燥濕之功。甘草佐陳皮，同致調和之力。成無己曰：半夏行水氣而潤腎燥。經曰：辛以潤之是也。行水則土自燥，非半夏之性燥也。或曰：有痰而渴，宜去半夏代以貝母。吳琨曰：渴而喜飲，小便利者易之。不能飲水，小便不利，雖渴宜半夏也，此濕為本，熱為標，所謂濕極而兼勝已之化，非真象也。又東南之人，濕熱生痰，故朱震亨主之加枳實、砂仁，名枳實二陳湯，其性較急也，先哲云：二陳為治痰之妙劑，其於上下、左右無所不宜，然只能治實痰之標，不能治虛痰之本。虛痰之本在脾胃，治者詳之。</p>
<p><u>溫膽湯</u>　治熱嘔吐苦，虛煩，驚悸不眠，痰氣上逆。</p>
<p>竹茹　枳實　半夏　甘草　陳皮　茯苓　生薑</p>
<p>上七味，水煎服。</p>
<p>【集註】羅謙甫曰：膽為中正之官，清靜之府，喜寧謐，惡煩擾，喜柔和，惡壅鬱。蓋東方木德，少陽溫和之氣也。若病後，或久病而宿有痰飲未消，胸膈之餘熱未盡，必致傷少陽之和氣，以故虛煩驚悸者，中正之官，以熇蒸而不寧也。熱嘔吐苦者，清靜之府，以郁炙而不謐也。痰氣上逆者，木家挾熱而上升也。方以二陳治一切痰飲，加竹茹以清熱，加生薑以止嘔，加枳實以破逆，相濟相須，雖不治膽而膽自和，蓋所謂膽之痰熱去故也。命名溫者，乃謂溫和之溫，非謂溫涼之溫也。若謂膽家真畏寒而怯而溫之，不但方中無溫膽之品，且更有涼胃之藥也。</p>
<p><u>小半夏湯</u>　嘔家本渴，渴為欲解，今反不渴，心下有支飲故也。</p>
<p>半夏（一升）　生薑（半斤）</p>
<p>以水七升，煮取一升半，分溫再服。</p>
<p><u>小半夏加茯苓湯</u>　治卒嘔吐，心下痞，膈間有水，眩悸者。</p>
<p>半夏（一升）　生薑（半斤）　茯苓（三兩）</p>
<p>煎服如前。</p>
<p><u>《外臺》茯苓飲</u>　治心胸中有痰飲宿水，自吐出水，復心胸間虛氣滿不能食，消痰氣令能食。</p>
<p>茯苓（三兩）　人參（三兩）　白朮（三兩）　枳實（二兩）　橘皮（二兩半）　生薑（四兩）</p>
<p>上六味，水六升，煮取一升八合，分三服。如人行八九里，再進之。</p>
<p>【集註】趙良曰：嘔為痰飲動中，湧而出之。嘔盡本當渴，渴則可徵支飲之全去。今反不渴，是其飲尚留，去之未盡也。用半夏之辛溫，生薑之辛散，散其欲出之飲，則所留之邪自盡矣。半夏、生薑皆味辛，可治膈上痰，心下堅，嘔逆目眩。然悸必心受水凌，故加茯苓以去水，伐腎邪安心神也。後方加人參、枳實、橘皮，此由上、中二焦氣弱，水飲入胃，脾不能輸歸於肺，肺不能通調水道，以致停積為痰、為宿水。吐之則下氣因而上逆，虛與氣結，滿不能食，當補益中氣。以人參、白朮為君，茯苓逐宿水，枳實破諸氣為臣。開脾胃，宣揚上焦，發散凝滯，則陳皮、生薑為使也。其積飲既去，而虛氣塞滿其中，不能進食，此證最多。</p>

<h1>卷五</h1>

<h2>刪補名醫方論（五）</h2>
<p><u>礞石滾痰丸</u>　治實熱老痰之峻劑，虛寒者不宜用。</p>
<p>黃芩（八兩）　大黃（酒蒸，八兩）　沉香（忌火，五錢）　礞石（焰消煅過，埋地內七日用，一兩）</p>
<p>上四味為細末，水丸，川椒大，量人大小用之。用溫水一口，送過咽即仰臥，令藥徐徐而下，半日不可飲食，勿起身行動言語，待藥氣自胃口漸下二腸，然後動作飲食。服後喉間稠黏壅滯不快，此藥力相攻，故痰氣泛上也。少頃藥力至，而漸逐惡物人腹下腸，效如響應。</p>
<p><u>指迷茯苓丸</u>　治中焦停痰伏飲。</p>
<p>半夏（制，二兩）　茯苓（一兩）　枳殼（五錢）　風化硝（二錢半）</p>
<p>上四味，薑汁糊為丸。</p>
<p>【注】經曰：飲入於胃，遊溢精氣，上輸於脾。遊者，運行也；溢者，滲溢也；輸者，輸布也；精氣者，水化之精氣也。言入於胃運行水化之精氣，滲溢於腸胃之外，而上輸布於脾也。又曰：脾氣散精，上歸於肺。言水之清者上升，猶天之雨露也。又曰：通調水道，下輸膀胱。言水之濁者下降，猶地之江河也。此皆言水自濁化清，由腑輸臟；自清分濁，由臟輸腑，水之運行循環也。又曰：水精四布，五經並行。言水發源於脾，周布四臟，並行五經也。此皆言水內養臟腑，外滋百骸，水之變化精微也。如是者，何痰之有？若飲食失度不和於中，水精不滲溢於外，直下走大、小腸而為泄瀉矣。若三焦失運，氣不蒸化，水之清者不升，水之濁者不降，精化為水，則內停作脹，外泛作腫，上攻喘呼，下蓄淋閟矣。若上焦氣不清肅，不能輸布，留於胸中，水之精者悉變為濁，陽盛煎灼成痰，陰盛凝蓄為飲也。故治痰者，以清火為主，實者利之，虛者化之。治飲者，以燥濕為主，實者逐之，虛者溫之。所以古人治飲有溫補之法，而治痰則無之也。王隱君制礞石滾痰丸，治老痰一方，用黃芩清胸中無形諸熱，大黃瀉腸胃有質實火，此治痰必須清火也。以礞石之燥悍，此治痰必須除濕也。以沉香之速降，此治痰必須利氣也。二黃得礞石、沉香，則能迅掃直攻老痰巢穴，濁膩之垢而不少留，滾痰之所由名也。若陽氣不盛，痰飲兼作，又非此方所宜，當以指迷茯苓丸合而治之，用半夏燥濕，茯苓滲濕，風硝軟堅，枳殼利氣。別於二陳之甘緩，遠於大黃、礞石之峻悍，殆攻中之平劑歟！</p>
<p><u>金匱枳朮湯</u>　治心下硬如大盤，邊旋如杯，水飲所作。</p>
<p>枳實（七枚）　白朮（二兩）</p>
<p>上二味，以水五升，煮取三升，分溫三服，腹中軟即散。</p>
<p>【注】心下，胃之上脘也。上脘結硬如盤，邊旋如杯，謂時大時小，水氣所作，非有形食滯也。用枳實以破結氣，白朮以除水濕，溫服三服，則腹軟結開而硬消矣。李杲法仲景以此方倍白朮，是以補為主也，此方君枳實，是以瀉為主也。然一緩一急，一補一瀉，其用不同，只此多寡轉換之間耳。</p>
<p><u>桂苓甘術湯</u>　治心下有痰飲，胸脅支滿目眩。又曰：短氣有微飲，當從小便去之，桂</p>
<p><u>苓甘術湯主之；腎氣丸亦主之。</u></p>
<p>茯苓（四兩）　桂枝（三兩）　白朮（三兩）　甘草（三兩）</p>
<p>上四味，以水六升，煮取三升，分溫三服，小便則利。</p>
<p>【集註】趙良曰：《靈樞》謂心胞絡之脈動則病胸脅支滿者，謂痰飲積於心胞，其病則必若是也。目眩者，痰飲阻其胸中之陽，不能布精於上也。茯苓淡滲，遂飲出下竅，因利而去，故用以為君。桂枝通陽輸水走皮毛，從汗而解，故以為臣。白朮燥濕，佐茯苓消痰以除支滿。甘草補中，佐桂枝建土以制水邪也。夫短氣有微飲，此水飲停蓄，呼吸不利而然也。《金匱》並出二方，妙義益彰。呼氣之短，用苓桂朮甘湯之輕清以通其陽，陽化氣則小便能出矣。吸氣之短，用腎氣丸之重降以通其陰，腎氣通則關門自利矣。</p>
<p>【按】風水，陽水也；石水，陰水也。陽水多實，陰水多虛。陽水在上，故多喘，陰水在下，故多滿。所以治陽水用散用攻，治陰水用溫用補。然陰中必有陽，此方治陰水在陽而上者也，腎氣丸治陰水之在陰而下者也。於此推之，陽中亦必有陰，故有小青龍湯、五苓散之治法也。今舉世不分陰陽虛實，皆以金匱腎氣湯治之，服之不效，終不改轍，每至吐血而死，良可嘆也。</p>
<p><u>疏鑿飲子</u>　治遍身水腫，喘呼口渴，大小便秘。</p>
<p>羌活　秦艽　檳榔　大腹皮　商陸　茯苓皮　椒目　木通　澤瀉　赤小豆（等分）</p>
<p>加姜皮，水煎服。</p>
<p>【注】經曰：三焦者，決瀆之官，水道出焉。若水飲阻於內，風寒束於外，則三焦之氣化不行，上焦之如霧，中焦之如漚，同為下焦之如瀆也。以致水氣外泛，皮膚作腫，內停腹裡作脹，上攻喘咳嘔逆，下蓄小便不利，種種諸證，而治法總不外乎表裡也。小青龍湯、真武湯、越婢湯、五苓散、疏鑿飲子五方，皆治有水氣兼表裡證之藥也。小青龍湯治表裡寒實，中有水氣。真武湯治里有虛寒，中兼水氣。二證俱內不作脹，外不作腫，故一以麻、桂輩散寒以行水；一以薑、附輩溫寒以制水也。越婢湯治表裡實熱，中有水氣，五苓散治表裡虛熱，中有水氣。故一以麻黃、石膏，散膚之水，清肌之熱，以消腫也；一以桂、苓、朮、澤，解肌表熱，利所停水，以止吐也。疏鑿飲子治表裡俱實，不偏寒熱而水濕過盛，遍身水腫喘脹便秘者。故以商陸為君，專行諸水。佐羌活、秦艽、腹皮、苓皮、姜皮，行在表之水，從皮膚而散；佐檳榔、赤豆、椒目、澤瀉、木通，行在裡之水，從二便而出。上下、內外，分消其勢，亦猶神禹疏鑿江河之意也。至於越婢湯加半夏者，因喘氣上逆，用之降逆也，加附子者，因汗出惡風，散表固陽也。小青龍湯加石膏者，因喘而煩躁，用之兼清胃熱也。五苓散以朮、桂易滑石、阿膠，名豬苓湯，專清陰兼治水也。真武湯，去生薑加人參，名附子湯，專溫陽不治水也。由此可知仲景用方，於群溫劑中，加以大寒之品；大寒劑中，加以辛熱之品。去桂枝加滑石，則不走外；去生薑加人參，則不治水。其轉換變化，神妙如此，拘拘之士，不足語也。</p>
<p><u>葶藶大棗瀉肺湯</u>　治肺癰喘不得臥及水飲攻肺喘急者。</p>
<p>葶藶（苦，一兩）　大棗（十枚）</p>
<p>以水五盅，先煮棗三盅，去棗內葶藶，煮取一盅半，頓服，弱者減服。戒鹽醬。</p>
<p><u>蘇葶定喘丸</u>　治飲停上焦，攻肺喘滿不得臥，面身水腫，小便不利者。</p>
<p>苦葶藶子（研泥）　南蘇子（研泥）</p>
<p>各等分，合均，用棗肉為小丸，陰乾，瓷罐盛之，恐滲去油性，減去藥力。每服三錢，於夜三更時白湯下，以利四五次為度，利多則減服之，利少則加服之。次日身軟，則隔一日、或隔二日服之。形氣弱者，先減半服之，俟可漸加。戒鹽醬，服之即奏奇功，如不嚴戒一切咸物，即對證用藥，萬元一生。</p>
<p><u>舟車神祐丸</u>（又名淨府丸）　治水腫水脹，形氣俱實。</p>
<p>黑牽牛（炒，四兩）　大黃（酒浸，二兩）　甘遂（麵裹煨，一兩）　大戟（麵裹煨，一兩）　芫花（醋炒，一兩）　青皮（炒，一兩）　橘紅（一兩）　木香（五錢）　檳榔（五錢）　輕粉（一錢）</p>
<p>上為末，水丸，每服五分，五更白滾水下，大便利三次為度。若一二次不通利，次日仍服。或六分七分，漸加至一錢，若服後大便利四五次，或形氣不支，則減其服，三分二分俱可，或隔一、二、三日服一次，以愈為度。甚者忌鹽醬百日。</p>
<p>【注】草藶大棗湯、蘇葶定喘丸、舟車神祐丸，三方皆治腫脹之劑。然葶藶大棗湯，治水停胸中，肺滿喘急不得臥，皮膚浮腫，中滿不急者，故獨用葶藶之苦，先瀉肺中之水氣，佐大棗恐苦甚傷胃也。蘇葶定喘丸，即前方加蘇子以降氣，氣降則水降，氣降則輸水之上源，水降則開水之下流也。舟車神祐丸，治水停諸里，上攻喘咳難臥，下蓄小便不利，外薄作腫，中停脹急者，故備舉甘遂、大戟，芫花、牽牛、大黃，直攻水之巢穴，使從大、小二便而出，佐青皮、陳皮、木香以行氣，使氣行則水行，腫脹兩消，其尤峻厲之處，又在少加輕粉，使諸攻水行氣之藥，迅烈莫當，無微不入，無窮不達。用之若當，功效神奇，百發百中。然非形實或邪盛者，不可輕試，苟徒利其有劫病之能，消而旋腫，用者慎之！</p>
<p><u>實脾飲</u>　治身重懶食，肢體浮腫，口中不渴，二便不實。</p>
<p>白朮（土炒）　茯苓　甘草（炙）　厚朴（姜炒）　大腹子　草果仁　木香　木瓜　附子　乾薑</p>
<p>加薑棗煎服。氣虛者加人參。</p>
<p>【注】脾胃虛，則土不能制水，水妄行肌表，故身重浮腫。用白朮、甘草、生薑、大棗，以實脾胃之虛也。脾胃寒，則中寒不能化水，水停腸胃，故懶食不渴，二便不實。用薑、附、草果，以溫脾胃之寒。更佐大腹、茯苓、厚朴、木香、木瓜者，以導水利氣。蓋氣者水之母也，土得水之防也，氣行則水行，土實則水治，故名曰實脾也。然此方導水利氣之力有餘，陰水寒勝而氣不虛者，固所宜也，若氣少聲微，則必以理中湯加附子，數倍茯苓以君之，溫補元氣以行水，為萬當也。</p>
<p>【按】苓桂朮甘湯、實脾飲、腎氣丸，皆治陽虛水氣之證。苓桂朮甘湯，治上焦陽虛不能輸布，水留於上，心下逆滿，氣上衝胸故用苓、桂、朮、甘之品，扶陽通氣輸水道也。實脾飲，治中焦陽虛不能蒸化，水漬於中，外泛作腫，二便通利，故用薑、附、苓、術之劑，培土溫中，勝寒濕也。腎氣丸，治下焦陽虛，不能行水，小便不利，肢體浮腫。喘急腹脹，故用桂、附、地、苓之輩，溫而補之，以行水也。</p>
<p><u>清脾飲</u>　治痰積成瘧，無表裡證者。</p>
<p>青皮　厚朴　草果　半夏　柴胡　白朮　甘草　茯苓　黃芩</p>
<p>水煎服。</p>
<p>【注】瘧為少陽病兼太陽表者，麻桂各半湯汗之；兼陽明裡者，大柴胡湯下之；若不兼表裡，或已汗、下而仍作者，當從少陽和解法也。是方以小柴胡、四君二湯合劑，清少陽而顧及於脾，故名曰清脾也。減人參者，以氣不虛也，加草果、厚朴氣味俱厚之品，取以輸胃之積。加青皮、佐茯苓、半夏，用以破痰之原。先哲云：無痰不成瘧，無積不成瘧，此湯是也。若夫氣虛者仍加人參，氣實者更加檳榔，熱多者加石膏，汗多者加桂枝，自當臨病斟酌也。</p>
<p><u>芍藥湯</u>　治滯下赤白，便膿血，後重窘痛。</p>
<p>芍藥（二兩）　當歸（五錢）　黃連（五錢）　黃芩（五錢）　檳榔（三錢）　木香（三錢）　甘草（三錢）</p>
<p>每服半兩，水煎服。痢不減，加大黃。</p>
<p>【注】滯下起於夏秋，非外因濕暑，即內因生冷，濕蒸熱鬱釀成。初起腑病，久則傳臟，腑病易治，臟病難治。腑者何？病在大腸則從金化，故其色白；病在小腸則從火化，故其色赤。所以赤痢多噤口，以小腸近胃，穢氣易於上攻，而為嘔逆不食也。臟者何？傳心則熱不休，下利血水；傳腎則利不止，如屋漏水；傳脾則水漿不入，吵逆不食。此湯治初病在腑之方也，用當歸、白芍以調血，木得、檳榔以調氣，血和則膿血可除，氣調則後重自止，芩、連燥濕而清熱，甘草調中而和藥。若窘迫痛甚，或服後痢不減者加大黃，通因通用也。</p>
<p><u>溫脾湯</u>　主治錮冷在腸胃間，泄瀉腹痛，宜先取去，然後調治，不可謂虛以養病也。</p>
<p>厚朴（二兩）　乾薑（二兩）　甘草（二兩）　桂心（二兩）　附子（二兩）　大黃（四錢）</p>
<p>上㕮咀，取一兩，水二盅，煎六分，頓服。</p>
<p>【集註】喻昌曰：許叔微制此方，深合仲景以溫藥下之之法，其大黃止用四錢，更為有見。夫錮冷在腸胃而泄瀉矣，即溫藥中寧敢用大黃之猛重困之乎？減五之一，乃知許叔微之得於仲景深也。仲景云：病人舊微溏者，梔子湯不可與服。又云：太陰病，脈弱便利，設當行大黃、芍藥者，宜減之，以其人胃氣弱易動故也，即是觀之，腸胃錮冷之泄瀉，而可恣用大黃耶？不用則溫藥恐不能制，而洞下之勢或至轉增。裁酌用之，真足法矣。</p>
<p><u>大黃附子湯</u>　主治脅下偏痛發熱，其脈緊弦，此寒也，以溫藥下之。</p>
<p>大黃（二兩）　附子（炮，二枚）　細辛（二兩）</p>
<p>上三味，以水五升，煮取二升，分溫三服。若強人取二升半，分三服，服後如人行四、五里，再進。</p>
<p>【集註】喻昌曰：仲景治傷寒熱邪痞聚心下，而挾陽虛陰盛之證，用附子瀉心湯之法矣。其雜證脅下偏痛發熱為陽，其脈弦緊為陰；是則知陽中陰邪上逆也，復立此溫藥下之一法。然仲景諄諄傳心，後世領略者鮮。《金匱》又別出一條云：其脈數而緊，乃弦狀如弓弦，按之不移，數脈弦者，當下其寒；脈緊而遲者，必心下堅；脈大而緊者，陽中有陰，可下之。讀者罔識其旨，詎知皆以溫藥下之之法耶！其曰當下其寒，謂陽中有陰實之邪可下，其金針不躍躍乎？</p>
<p>張璐曰：三承氣湯，為寒下之柔劑；白散、備急丸，為熱下之剛劑；附子瀉心湯、大黃附子湯，為寒熱互結，剛柔並濟之和劑。近世但知寒下一途，絕不知有溫下一法。蓋暴感之熱結可以寒下，久積之寒結亦可寒下乎？是以備急等法所由設也。然此僅可治寒實之結，設其人稟質素虛，雖有實邪固結，敢用剛猛峻劑攻擊之乎？故仲景又立附子瀉心湯，用芩、連佐大黃以法膈上之熱痞，即兼附子之溫以散之；大黃附子湯用細辛佐附子，以攻脅下寒結，即兼大黃之寒以導之。寒熱合用，溫攻並施，此聖法昭然，不可思議者也。</p>
<p><u>越鞠湯丸</u>　治一切濕痰食火，氣血諸郁。</p>
<p>香附　蒼朮　撫芎　神麯　山梔仁</p>
<p>水煎服，或作丸。</p>
<p>【注】夫人以氣為本，氣和則上下不失其度，運行不停其機，病從何生？若飲食不節，寒溫不適，喜怒無常，憂思元度，使沖和之氣升降失常，以致胃郁不思飲食，脾郁不消水穀，氣鬱胸腹脹滿，血鬱胸膈刺痛，濕鬱痰飲，火鬱為熱，及嘔吐噁心，吞酸吐酸，嘈雜噯氣，百病叢生。故用香附以開氣鬱，蒼朮以除濕鬱，撫芎以行血鬱，山梔以清火鬱，神麯以消食鬱。此朱震亨因五郁之法，而變通者也。五藥相須，共收五郁之效。然當問何郁病甚，便當以何藥為主？至若氣虛加人參，氣痛加木香，郁甚加鬱金，懶食加谷糵，脹加厚朴，痞加枳實，嘔痰加薑、夏，火盛加萸、連，則又存乎臨證者之詳審也。</p>
<p><u>四磨飲</u>　治七情感傷，上氣喘急，胸膈不快，妨悶不食。</p>
<p>人參　檳榔　沉香　天台烏藥</p>
<p>上四味，各濃磨水取七分，煎三五沸，放溫，空心服。</p>
<p>【集註】王又原曰：經云：聖人嗇氣如持至寶，庸人役物而反傷太和，此七情隨所感皆能為病。然壯者氣行而愈，弱者氣著為病。愚者不察，一遇上氣喘急，滿悶不食，謂是實者宜瀉，輒投破耗等藥，得藥非不暫快，初投之而應，投之久而不應矣。夫呼出為陽，吸入為陰，肺陽清肅，則氣下行；腎陰寧謐，則氣歸攝，不復散而上逆矣。若正氣既衰，即欲削堅破滯，則邪氣難伏，法當用人參先補正氣，沉香納之於腎，而後以檳榔、烏藥從而導之，所謂實必顧虛，瀉必先補也。四品氣味俱厚，磨則取其氣味俱足，煎則取其氣味純和，氣味齊到，效如桴鼓矣。</p>
<p><u>備急丸</u>　治寒氣冷食稽留胃中，心腹滿痛，大便不通者。</p>
<p>大黃（二兩）　乾薑（二兩）　巴豆（去皮，研如脂，一兩）</p>
<p>先搗大黃、乾薑為末，內巴豆合搗千杵，和蜜丸，如豆大，藏密器中，勿泄氣，候用。每服三四丸，暖水或酒下。</p>
<p>《金匱》主中惡心腹脹滿，卒痛如錐刺，氣急口噤如卒死者，捧頭起，灌令下咽，須臾當差，不差更與三丸，當腹中鳴，即吐利便差。若口噤者，須化開，從鼻孔用葦管吹入，自下於咽。</p>
<p>【集註】柯琴曰：大便不通，當分陽結陰結。陽結有承氣、更衣之劑，陰結又製備急、白散之方。《金匱》用此治中惡，當知寒邪卒中者宜之。若用於溫暑熱邪，速其死矣。是方允為陰結者立，乾薑散中焦寒邪，巴豆逐腸胃冷積，大黃通地道，又能解巴豆毒，是有制之師也。然白散治寒結在胸，故用桔梗佐巴豆，用吐下兩解法。此則治寒結腸胃，故用大黃佐薑、巴，以直攻其寒。世徒知有溫補之法，而不知有溫下之法，所以但講寒虛，不議及寒實也。</p>
<p>【按】世人之情，惟知畏貧，不知畏禍，因其貧遺其禍。病人之情亦多如是，惟知畏虛，不知畏病，因其虛忘其病。殊不知虛猶貧也，病猶禍也。虛而有病，猶夫貧者有禍也，去其禍而但貧，猶可安也。實而有病，猶夫富者有禍也，不去其禍，而其富未可保也。最可笑者，近世之醫臨診病家，外飭小心，中存不決。且諉言虛不可攻，縱使病去，正氣難復。病人畏懼，自然樂從，受病淺者幸而自愈，設不愈者，另延醫至。詎病者先意難入，攻病之藥尚未入口，眾議咻咻，致明通之士，拂袖而去，坐而待斃，終不悟為庸工之所誤也。醫者久擅其術，初心原為自全，恬不知恥，久之亦競以為養病為能，攻病為拙，而舉世之病者，皆昧昧於治病也。嘗考孫思邈以仲景麻黃、桂、杏、甘草之還魂湯，治卒中昏冒，口噤握固；李杲以仲景巴豆、大黃、乾薑之備急丸，治卒中暴死，腹痛滿閉，下咽立效。豈二人不知虛實耶？蓋上工之醫，未診病時，並不先存意見，亦不生心自全，有是病但用是藥耳。柯琴曰：備急丸治寒結腸胃，白散治寒結在胸。於此又可知還魂湯治寒結在胸之表，以散無形之邪氣也；白散治寒結在胸之裡，以攻有形之痰飲也；備急丸治寒結在腸胃，以攻不化之糟粕也。</p>
<p><u>磁朱丸</u>　治神水寬大漸散，昏如霧露中行，漸睹空中有黑花，睹物成二體，及內障，</p>
<p><u>神水淡綠色、淡白色。又治耳鳴及聾。</u></p>
<p>磁石（二兩）　辰砂（一兩）　神麯（生，三兩）</p>
<p>更以一兩水和作餅，煮浮，入前藥，煉蜜為丸。每服十丸，加至三十丸，空心米湯下。</p>
<p>【集註】王又原曰：五臟六腑之精，皆上注於目，則目之能視者氣也，目之所以能視者精也。腎為藏精，故神水發於腎。心為離照，故神光發於心。光發陽而外映，有陰精以為守，則不散而常明。水發陰而凝靜，有陽氣以為布，則洞悉而不窮。惟心腎有虧，致神水乾涸，神光短少，昏眊內障諸證所由作也。磁石直入腎經，收散失之神，性能引鐵，吸肺金之氣歸藏腎水。硃砂體陽而性陰，能納浮游之火而安神明。水能鑑，火能燭，水火相濟，而光華不四射歟！然目受臟腑之精，精神於谷，神麯能消化五穀，則精易成矣。蓋神水散大，緩則不收，賴鎮墜之品，疾收而吸引之，故為救急之劑也。其治耳鳴、耳聾等證，亦以鎮墜之功能治虛陽之奔耳。</p>
<p>柯琴曰：此丸治癲癰之聖劑。蓋狂癡是心、腎、脾三臟之病，心藏神，脾藏意與智，腎藏精與志。心者神明之主也，主不明則十二官危，使道閉塞而不通，形乃大傷，即此謂也。然主何以不明也？心法離而屬火，真水藏其中，若天一之真水不足，地二之虛火妄行，所謂天氣者蔽塞，地氣者冒明，日月明，邪害空竅，故目多妄見而作此奇疾也。作金石之重劑以鎮之，狂必不止。硃砂稟南方之赤色，入通於心，能降無根之火而安神明。磁石稟北方之黑色，入通於腎，吸肺金之氣以生精，墜炎上之火以定志。二石體重而主降，性寒而涼陰，志同道合，奏功可立俟矣。神麯推陳至新，上交心神，下達腎志、以生意智。且食入於陰，長氣於陽，奪其食則已，此《內經》治狂法也。食消則意智明而精神治，是用神麯之旨乎？煉蜜和丸，又甘以緩之矣。</p>
<p><u>石斛夜光丸</u>　治神水寬大漸散，昏如霧露，空中有黑花，及睹物成二，神水淡綠、淡白色者。</p>
<p>天門冬（二兩）　菟絲子（七錢）　人參（二兩）　茯苓（二兩）　甘菊花（七錢）　乾山藥（七錢）　麥冬（一兩）　熟地（一兩）　肉蓯蓉（五錢）　青葙子（五錢）　生地（一兩）　枸杞（七錢）　羚羊角（鎊，五錢）　草決明（八錢）　石斛（七錢）　杏仁（七錢）　蒺藜（五錢）　川芎（五錢）　甘草（炙，五錢）　黃連（五錢）　防風（五錢）　枳殼（五錢）　烏犀（鎊，五錢）　牛膝（七錢五分）</p>
<p>上為細末，煉蜜丸，桐子大，每服三五十丸，溫酒鹽湯下。</p>
<p>【集註】羅謙甫曰：此方為陽衰陰弱，不能升精於目而設，故目科與《千金》磁朱丸並重，治證亦同。然磁朱為鎮墜藥，此為羨補藥。《針經》曰：五臟六腑精氣，皆上於目而為之精。故夫目之精明者，陰陽合傳而為精明者也。若腎肝虛，則陰弱不能斂精以升養神水於內。脾肺虛，則陽衰不能攝陰而浮散神光於外。以致神水寬大，睹物成二。此其治法，其營在肝，其主在腎，其合在脾，能合腎脾之陰而使肝達之，則必能歸精於兩眸，而繼明如晝夜矣。是方先補腎肝，以二冬、二地、菟絲、枸杞、五味、牛膝、蓯蓉群隊滋陰之品，以之強陰填精，斂氣安神養血，此壯水之主，亦所以生水也。復以人參、炙草、茯苓、山藥培補中宮，使調合陰陽也。佐之以蒺藜、甘菊、川芎、枳殼、防風行肝達氣，青葙、決明子解結散滯，黃連、烏犀、羚角清火瀉熱。然必取石斛之妙合脾腎者清而行之，要使升精歸明之用，臟腑合德專精緻一耳。其以為丸者，補上治下，利以緩，利以久，不利以速也。</p>
<p><u>洗刀散</u>　治風熱上攻，火眼赤痛，驟生雲翳，外障遮睛。</p>
<p>防風（一錢）　石膏（一錢）　滑石（一錢）　歸尾（一錢）　赤芍（八分）　羌活（八分）　荊芥（五分）　黃芩（五分）　連翹（五分）　川芎（五分）　桔梗（五分）　麻黃（五分）　白朮（五分）　大黃（五分）　芒硝（五分）　獨活（五分）　元參（五分）　木賊（五分）　菊花（五分）　白蒺藜（五分）蟬蛻（五分）　草決明（五分）　薄荷（四分）　梔子（四分）　蔓荊子（四分）　細辛（三分）　甘草（三分）　</p>
<p>加清茶葉五分，水煎服。</p>
<p>【注】目之病內障者，昏暗不明而不腫痛，得之於內，七情動中，勞傷心腎也。外障者，赤腫而痛，睛不昏暗，得之於六淫所襲，熱蘊經絡也。故內障多虛，外障多實。子和曰：眼無火不病，非止內障，正指外障而立言也。外障赤腫而痛者，或散外邪，或瀉內熱，或並解之，可立愈也。其有風火上攻，留而不散，凝結雲翳，掩其光明者，又非或散、或下所能即愈也。洗刀散方既可以攻風熱，又可以去雲翳，是一方而兼擅其長也。方中用防風通聖散全劑，是主以去風熱也。倍歸尾、赤芍，是治風先治血，血行風自滅也。加羌、獨活，蔓荊子，倍防風，是祛風而專在太陽表也。太陽之裡少陰也，故又加細辛直走少陰，加元參下安腎火，是治表而顧及其里也。其加木賊、蟬蛻、草決明、白蒺藜、菊花者，是佐諸祛風清熱之群藥，以消風熱驟壅之雲翳也。</p>
<p><u>失笑散</u>　治產後心腹絞痛欲死，或血迷心竅，不省人事。</p>
<p>五靈脂　蒲黃（等分）</p>
<p>每服三錢，酒煎服。</p>
<p><u>獨聖散</u></p>
<p>南山楂肉（炒，一兩）　</p>
<p>水煎，用童便沙糖和服。</p>
<p>【集註】吳於宣曰：經云：心主血，脾統血，肝藏血。故產後瘀血停滯，三經皆受其病，以致心腹瘀痛，惡寒發熱，神迷眩運，胞膈滿悶。凡茲者，由寒凝不消散，氣滯不流行，惡露停留，小腹結痛，迷悶欲絕，非純用甘溫破血行血之劑，不能攻逐蕩平也。是方用靈脂之甘溫走肝，生用則行血；蒲黃辛平入肝，生用則破血。佐酒煎以行其力，庶可直抉厥陰之滯，而有推陳致新之功。甘不傷脾，辛能散瘀，不覺諸證悉除，直可以一笑而置之矣。至獨聖散用山楂一味濃煎，與沙糖童便同服者何也？山楂不惟消食健脾，功能破瘀止兒枕痛；更益以沙糖之甘，逐惡而不傷脾，童便之咸，人胞而不涼下。相得相須，功力甚偉，名之曰獨聖，誠不虛也。</p>
<p><u>大黃䗪蟲丸</u>　治五勞七傷，內有乾血，肌膚甲錯，兩目黯黑。</p>
<p>大黃（酒蒸，十兩）　桃仁（去皮尖，炒，四兩）　杏仁（去皮尖，炒，四兩）　黃芩（炒，二兩）　甘草（三兩）　芍藥（炒，四兩）　地黃（十兩）　乾漆（炒，一兩）　虻蟲（去翅足，炒，一兩五錢）　水蛭（炙黃，百枚）　蠐螬（炒，一兩五錢）　䗪蟲（去頭足，炒，一兩）　</p>
<p>上十二味為末，蜜丸如小豆大。酒服五丸，日三服。</p>
<p>【集註】李中梓曰：勞傷之證，肌膚甲錯，兩目黯黑，此內有瘀血者也。瘀之日久，則必發熱，熱涸其液，則血乾於經隧之間，愈干愈熱，愈熱愈干，而新血皆損。人之充養百骸，光華潤澤者，止藉此血，血傷則無以沃其膚，故甲錯也。目得血而能視，血枯則無以榮，其目故黯黑也。仲景洞見此證，補之不可，涼之無益，而立此方。經曰：血主濡之，故以地黃為君。堅者削之，故以大黃為臣。統血者脾也，脾欲緩急，食甘以緩之。又酸苦湧泄為陰，故以甘、芍、桃仁為佐。咸走血，苦勝血，故以乾漆之苦，四蟲之咸為使。夫濁陰不降，則清陽不升，瘀血不去，則新血不生。今人遇一勞證，便用滋陰之藥，服而不效，坐以待斃，術豈止此耶！</p>
<p><u>仙方活命飲</u>（附：薛己治瘍通方）　治一切瘡瘍，未成膿者內消，已成膿者即潰，又止痛、</p>
<p><u>消毒之聖藥也。</u></p>
<p>穿山甲　白芷　防風　皂角制　乳香　沒藥　當歸尾　赤芍　花粉　貝母　陳皮　金銀花　甘草</p>
<p>上十三味。用酒一碗。煎數沸服。</p>
<p>【集註】羅謙甫曰：此瘍門開手攻毒之第一方也。經云：營氣不從，逆於肉理。故癰疽之發，未有不從營氣之鬱滯，因而血結痰滯蘊崇熱毒為患。治之之法，妙在通經之結，行血之滯，佐之以豁痰理氣解毒。是方穿山甲以攻堅，皂刺以達毒所，白芷、防風、陳皮通經理氣而疏其滯，乳香定痛和血，沒藥破血散結，赤芍、歸尾以驅血熱而行之，以破其結。佐以貝母、金銀花、甘草，一以豁痰解鬱，一以散毒和血，其為潰堅止痛宜矣。然是方為營衛尚強，中氣不虧者設。若脾胃素弱，營衛不調，則有托裡消毒散之法，必須斟酌而用。此薛己所論千古不易之治也。因附治瘍用方之法於後，使學者服膺云。</p>
<p>薛己曰：治瘍之法，若腫高焮痛者，先用仙方活命飲解之，後用托裡敗毒散。漫腫微痛者，用托裡散，如不應，加薑、桂。若膿出而反痛，氣血虛也，八珍散。不作膿不腐潰，陽氣虛也，四君加歸、耆、肉桂。不生肌、不收斂，脾氣虛也，四君加芍藥、木香。惡寒僧寒，陽氣虛也，十全大補加薑、桂。晡熱內熱，陰血虛也，四物加參、耆。欲嘔作嘔，胃氣虛也，六君加炮姜。自汗、盜汗，五臟虛也，六味九料加五味子。食少體倦，脾氣虛也，補中益氣加茯苓、半夏。喘促咳嗽，脾肺虛也，前湯加麥冬、五味。欲嘔少食，脾胃虛也，人參理中湯。腹痛泄瀉，脾胃虛寒也，附子理中湯，熱渴淋秘，腎虛陰火也，加減八味丸。大凡怯弱之人，不必分其腫潰，惟當先補胃氣。蓋瘡瘍之作，緣陰陽虧損，其膿既泄，氣血愈虛，豈有不宜補者哉！或疑參、耆滿中，間有用者，又加發散敗毒，所補不償所損。又或以有疾不服補劑，因而致誤者多矣。可勝惜哉！</p>
<p><u>托裡消毒散</u></p>
<p>人參　黃耆　白朮　茯苓　當歸　川芎　白芍　金銀花　白芷　甘草　連翹</p>
<p>水煎服。</p>
<p>【注】參、耆、朮、苓、草以益氣分，歸、芎、芍以滋血分，銀花、白芷、連翹以解毒。</p>

<h1>卷六</h1>

<h2>刪補名醫方論（六）</h2>
<p><u>桂枝湯</u>　治風寒在表，脈浮弱，自汗出，頭痛發熱，惡風惡寒，鼻鳴乾嘔等證，及雜</p>
<p><u>證自汗、盜汗、虛損、虛瘧亦可用。若脈浮緊，汗不出者，酒客病風寒而汗出者，禁用。</u></p>
<p>桂枝（三兩）　芍藥（三兩）　生薑（三兩）　甘草（炙，二兩）　大棗（十二枚）</p>
<p>上五味，以水七升，煮取三升，服一升，覆令微汗，不可令如水流漓，病必不除。若服一升，汗出病痊，不必盡劑。服已，更啜稀粥一盞，以助藥力。</p>
<p>【注】凡風寒在表，脈浮弱自汗出者，皆屬表虛，宜桂枝湯主之。名曰桂枝湯者，君以桂枝也。桂枝辛溫，辛能散邪，溫從陽而扶衛。芍藥酸寒，酸能斂汗，寒走陰而益營。桂枝君芍藥，是於發散中寓斂汗之意；芍藥臣桂枝，是於固表中有微汗之道焉。生薑之辛，佐桂枝以解肌表；大棗之甘，佐芍藥以和營里。甘草甘平，有安內攘外之能，用以調和中氣，即以調和表裡，且以調和諸藥矣。以桂、芍之相須，薑、棗之相得，借甘草之調和陽表陰里，氣衛血營，並行而不悖，是剛柔相濟以為和也，而精義在服後須臾啜熱稀粥以助藥力，蓋穀氣內充，不但易為釀汗，更使已人之邪不能少留，將來之邪不得復入也。又妙在溫服令一時許，漐漐微似有汗，是授人以微汗之法。不可令如水流漓，病必不除，禁人以不可過汗之意也。此方為仲景群方之冠，乃解肌、發汗、調和營衛之第一方也。凡中風、傷寒，脈浮弱汗自出而表不解者，皆得而主之。其他但見一、二證即是，不必悉具。故麻、葛、青龍發汗諸劑，咸用之也。若汗不出麻黃證也，脈浮緊者麻黃脈也，固不可與桂枝湯，然初起無汗，當用麻黃髮汗，如汗解後復煩，脈浮數者，與下後脈仍浮、氣上衝者，及下後下利止而身痛不休者，皆用此以解外。何也？蓋此時表雖不解，腠理已疏，邪不在皮毛而在肌肉，且經汗下，津液已傷，故脈證雖同麻黃，而主治當屬桂枝矣。粗工妄謂桂枝湯專治中風，不治傷寒，使人疑而不用；又謂專發肌表不治他病。不知此湯倍芍藥、生薑加人參，名桂枝新加湯，用以治營表虛寒，肢體疼痛；倍芍藥加飴糖，名小建中湯，用以治裡虛心悸，腹中急痛；再加黃耆，名黃耆建中湯，用以治虛損虛熱，自汗盜汗。因知仲景之方，可通治百病也。</p>
<p><u>麻黃湯</u>　治太陽風寒在表，頭項強痛發熱，身疼，腰痛，骨節痛，惡風寒無汗，胸</p>
<p><u>滿面喘，其脈浮緊或浮數者，用此發汗，雖有是證，若脈浮而弱，汗自出，或尺中脈微與遲者，俱不可用。風、寒、濕成痹，肺經壅塞，昏亂不語，冷風哮吼最宜。</u></p>
<p>麻黃（去節，三兩）　桂枝（二兩）　甘草（炙，一兩）　杏仁（去皮尖，六十枚）</p>
<p>上四味，以水九升，先煮麻黃，減二升，去上沫，內諸藥，煮取二升半，去滓，溫服八合。溫覆取微汗，不須啜粥。一服汗出，停後服。汗出多者，溫粉撲之。</p>
<p>【注】凡風寒在表，脈浮緊數無汗者，皆表實也，宜麻黃湯主之。名曰麻黃湯者，君以麻黃也。麻黃性溫，味辛而苦，其用在迅升，桂枝性溫，味辛而甘，其能在固表。證屬有餘，故主以麻黃必勝之算也。監以桂枝制節之妙也。杏仁之苦溫佐麻黃逐邪而降逆；甘草之甘平，佐桂枝和內而拒外。飲入於胃，行氣於元府，輸精於皮毛，斯毛脈合精，溱溱汗出，在表之邪必盡去而不留，痛止喘平，寒熱頓解。不須啜粥而藉汗於谷也。其不用薑、棗者，以生薑之性橫散於肌，礙麻黃之迅升，大棗之性泥滯於膈，礙杏仁之速降，此欲急於直達，稍緩則不迅，橫散則不升矣。然則為純陽之劑，過於發散，如單刀直入之將，用之若當，一戰成功，不當則不戢而召禍。故可一而不可再，如汗後不解，便當以桂枝代之。此方為仲景開表逐邪發汗第一峻藥也。庸工不知其制在溫覆取汗，若不溫覆取汗，則不峻也。世謂麻黃專能發表，不治他病。不知此湯合桂枝湯，名麻桂各半湯，用以和太陽留連未盡之寒熱。去杏仁加石膏合桂枝湯，名桂枝二越婢一湯，用以解太陽熱多寒少之寒熱。若陽盛於內而無汗者，又有麻黃杏仁甘草石膏湯，以散太陰肺之邪。若陰盛於內而無汗者，又有麻黃附子細辛甘草湯，以溫散少陰腎家之寒。《金匱要略》以此方去桂枝，《千金方》以此方桂枝易桂，皆名還魂湯，用以治邪在太陰，卒中暴厥，口噤氣絕，下咽奏效，而皆不溫覆取汗。是知麻黃湯之峻與不峻，而溫覆與不溫覆。此仲景用方之心法，豈常人所能得而窺耶！</p>
<p><u>大青龍湯</u>　治太陽風寒兩傷，營衛同病。傷寒之脈而見中風之證，中風之脈而見傷寒</p>
<p><u>之證，二證俱不出汗而煩躁者，用此兩解發汗。雖有是證，若脈微弱，自汗出者，不可服之，服必亡陽。</u></p>
<p>麻黃（去節，六兩）　桂枝（二兩）　杏仁（去皮尖，四十個）　甘草（炙，二兩）　生薑（切，三兩）　大棗（擘，十二枚）　石膏（碎，綿囊，如雞子大）</p>
<p>上七味，以水九升，先煮麻黃，減二升，去上沫，內諸藥，煮取三升，去滓，溫服一升，取微汗。汗出多者，溫粉撲之。一服汗者，停後服。汗多亡陽，遂虛，惡風煩躁不得眠也。</p>
<p>【注】何以知風寒兩傷、營衛同病、以傷寒之脈而見中風之證，中風之脈而見傷寒之證也。名大青龍湯者，取龍興雲雨之義也。治風不外乎桂枝，治寒不外乎麻黃，合桂枝麻黃二湯以成劑，故為兼風寒中傷者主之也。二證俱無汗，故減芍藥、不欲其收也。二證俱煩躁，故加石膏以解其熱也。設無煩躁，則又當從事於麻黃桂枝各半湯也。仲景於表劑中加大寒辛甘之品，則知麻黃證之發熱，熱全在表；大青龍證之煩躁，兼肌里矣。初病太陽即用石膏者，以其辛能解肌熱，寒能清胃火，甘能生津液，是預保陽存津液之先著也。粗工疑而畏之，當用不用，必致熱結陽明，斑黃狂冒，紛然變出矣。觀此則可知石膏乃中風傷寒之要藥，得麻、桂而有青龍之名，得知草而有白虎之號也。服後取微汗，汗出多者，溫粉撲之。一服得汗，停其後服，蓋戒人即當汗之證，亦不可過汗也。所以仲景桂枝湯中不用麻黃者，是欲其不大發汗也；麻黃湯中用桂枝者，恐其過汗無制也。若不慎守其法，汗多亡陽，變生諸逆，表遂空虛而不任風，陰盛格陽而更煩躁不得眠也。</p>
<p><u>小青龍湯</u>　治傷寒表不解，心下有水氣，乾嘔發熱而咳。或渴、或利、或噎，或小便</p>
<p><u>不利，少腹滿，或喘者。及雜病膚脹、水腫證，用此發汗而利水。</u></p>
<p>麻黃（去節，三兩）　芍藥（三兩）　五味子（半升）　甘草（炙，三兩）　乾薑（二兩）　半夏（洗，半升）　桂枝（三兩）　細辛（三兩）</p>
<p>上八味，以水一斗，先煮麻黃，減二升，去上沫，內諸藥，煮取三升，去滓，溫服一升。</p>
<p>若渴者，去半夏加括姜根三兩，若噎者，去麻黃加附子（炮）一枚。若小便不利少腹滿者，去麻黃加茯苓四兩。若喘者，去麻黃加杏仁（去皮尖）半升。若微利者，去麻黃加蕘花如雞子（熬令赤色）。</p>
<p>【按】「加蕘花如雞子，熬令赤色」，此必傳寫之訛。蓋《本草》蕪花即芫花類也，用之攻水，其力甚峻，五分可令人卞行數十次，豈有治停飲之微利，而用雞子大之蕘花者乎？當改加茯苓四兩。</p>
<p>【注】太陽停飲有二：一中風，表虛有汗，五苓散證也；一傷寒，表實無汗，小青龍湯證也。表實無汗，故合麻桂二方以解外。去大棗者，以其性泥也。去杏仁者，以其無喘也，有喘者加之。去生薑者，以有乾薑也，若嘔者仍用。佐乾薑、細辛，極溫極散，使寒與水俱從汗而解。佐半夏逐痰飲，以清不盡之飲。佐五味收肺氣，以斂耗傷之氣，若渴者，去半夏加花粉，避燥以生津也。若微利與噎，小便不利，少腹滿，俱去麻黃，遠表以就里也。加附子以去噎散寒，則噎可止。加茯苓以利水，則微利少腹滿可除矣。此方與越婢湯同治水飲溢於表，而為膚脹、水腫，宜發汗外解者，元不隨手而消。越婢治有熱者，故方中君以石膏以散陽水也。小青龍治有寒者，故方中佐以薑、桂以消陰水也。</p>
<p><u>葛根湯</u>　治太陽、陽明兩經合病，頭項強痛，背亦牽強，脈浮元汗惡風者，及表不</p>
<p><u>解，下利而嘔者，並宜服此發汗。</u></p>
<p>葛根（四兩）　麻黃（去節，三兩）　桂枝（二兩）　芍藥（二兩）　甘草（炙，二兩）　生薑（切，二兩）　大棗（擘，十二枚）</p>
<p>上七味，以水一斗，先煮麻黃、葛根，減二升，去沫，內諸藥，煮取三升，溫服一升。覆取微似汗，不須啜粥。余如桂枝法將息及禁忌。</p>
<p>【注】是方也，即桂枝湯加麻黃、葛根。麻黃佐桂枝發太陽營衛之汗，葛根君桂枝解陽明肌表之邪。不曰桂枝湯加麻黃、葛根，而以葛根命名者，其意重在陽明，以嘔利屬陽明多也。二陽表急，非溫服覆而取汗，其表未易解也。或嘔或利，里已失和，雖啜粥而胃亦不能輸精於皮毛，故不須啜粥也。柯琴曰：此證身不疼、腰不疼、骨節不疼、不惡寒，是骨不受寒矣。頭項強痛，下連於背，牽動不寧，是筋傷於風矣。不喘不煩躁，不幹嘔，是里不病，元汗惡風，病只在表。若表病而兼下利，則是表實裡虛矣。比麻黃、青龍二證較輕，然項強連背拘強，更甚於項強無汗，不失為表。但脈浮不緊，故不從乎麻黃，而於桂枝方加麻黃倍葛根以去實，小變麻桂之法也。蓋葛根為陽明主藥，凡太陽有陽明者，則佐入太陽藥中；凡少陽有陽明者，則佐入少陽藥中，無不可也。李杲定為陽明經藥。張潔古云：未入陽明者、不可便服。豈二人未讀仲景書乎？要知葛根、桂枝，俱是解肌和里之藥，故有汗、無汗，下利、不下利，俱可用，與麻黃之專於發表者不同也。</p>
<p>《金匱》治太陽病無汗，小便反少，氣上衝胸，口噤不得語，欲作剛痙。</p>
<p>【集註】喻昌曰：傷寒項背𠘧𠘧，無汗惡風者，用葛根湯。此證亦用之者，以其邪在太陽、陽明兩經之界。兩經之熱並於胸中，必傷肺金清肅之氣，故水道不行，小便少，津液不布而無汗。陽明之筋內結胃口，外行胸中，過人迎環口，熱並陽明，斯筋脈牽引，口噤不得語。然剛痙無汗，必從汗解，況濕邪內郁，必以汗出如故而止。故用此湯合解兩經之濕熱，與風寒之表，法無害其同也。</p>
<p><u>桂枝麻黃各半湯</u>　太陽病，得之八九日，如瘧狀，發熱惡寒，熱多寒少，其人不嘔，清</p>
<p><u>便欲自可，一日二三度發，脈微緩者，為欲愈也。脈微而惡寒者，此陰陽俱虛，不可更發汗更下更吐也。面色反有熱色者，未欲解也，以其不能得小汗出，身必癢，宜桂枝麻黃各半湯。</u></p>
<p>桂枝（一兩六銖）　芍藥（一兩）　麻黃（去節，一兩）　生薑（一兩）　甘草（炙，一兩）　大棗（擘，四枚）　杏仁（去皮尖，二十四個）</p>
<p>上七味，以水五升，先煮麻黃一二沸，去上沫，內諸藥，煮取一升八合，去滓，溫服六。</p>
<p>【注】太陽病，得之八九日，有如瘧狀之寒熱。熱多寒少者，其人不嘔，小便清白，此里和不受邪，雖為欲自愈；然必審其如瘧狀寒熱，一日二、三度，輕輕而發，診其脈微而且緩，則知邪衰正復，表裡將和，始為欲愈也。若脈微不緩，正未復也，更惡寒者，邪未衰也，雖不能自愈，但已為前之汗、吐、下虛其表裡，故不可更發汗、更吐、更下也。脈微惡寒，表裡俱虛，面色當白，今色反赤，是猶有表邪怫鬱，不能得小汗出宣發陽氣，故面赤身癢，未欲解也，宜桂枝麻黃各半湯，小小汗之以和營衛，自可愈也。</p>
<p><u>桂枝二麻黃一湯</u>　服桂枝湯，大汗出，脈洪大者，與桂枝湯如前法。若形如瘧，日再</p>
<p><u>發者，汗出必解，宜桂枝二麻黃一湯。</u></p>
<p>桂枝（一兩十六銖）　芍藥（一兩六銖）　麻黃（去節，十六銖）　甘草（一兩二銖）　杏仁（去皮尖，十六個）　生薑（一兩六銖）　大棗（擘，五枚）</p>
<p>上七味，以水五升，先煮麻黃一二沸，去上沫，內諸藥，煮取二升，去滓，溫服一升，日再服。</p>
<p>【注】服桂枝湯大汗出，脈洪大不解，若煩渴者，則表邪已入陽明，白虎湯證也。今脈雖洪大而不煩渴，則為表邪無在太陽，故與桂枝湯如前法也。若脈不洪大，壯熱亦減，惟寒熱如瘧，日再發者，雖屬輕邪，然終為微寒所持，非汗出必不解也，宜桂枝二麻黃一湯，小發營衛之汗。不用麻黃桂枝各半湯者，蓋因已大汗出，不欲其發營衛汗，欲其和營衛汗也。</p>
<p><u>桂枝二越婢一湯太陽病，發熱惡寒，熱多寒少。脈微弱者，此無陽也，不可更汗。宜</u></p>
<p><u>桂枝二越婢一湯。</u></p>
<p>桂枝（一兩六銖）　芍藥（一兩）　甘草（炙，一兩三銖）　石膏（二十四銖）　麻黃（十六銖）　大棗（擘，五枚）　生薑（切，一兩六銖）</p>
<p>上七味，以水五升，煮麻黃一二沸，去上沫，內諸藥，煮取二升，去滓，溫服一升，日再服。本方當裁為越婢湯、桂枝湯，各飲一升，今合為一方，桂枝二越婢一湯。</p>
<p>【注】桂枝二越婢一湯，即大青龍以杏仁易芍藥也，名雖越婢輔桂枝，實則大青龍之變制也。去杏仁惡其從陽而辛散，用芍藥以其走陰而酸收。以此易彼，裁而用之，則主治不同也。以桂枝二主之，則不發汗，可知越婢一者，乃麻黃石膏二物，不過取其辛涼之性，佐桂枝二，中和表而清熱，則是寓微汗於不發之中，亦可識也。非若大青龍以石膏佐麻黃而為發汗驅熱之重劑也。桂枝二麻黃一湯，治若形如瘧，日再發者，汗出必解，而無熱多寒少，故不用石膏之涼也。桂枝麻黃各半湯，治如瘧狀，熱多寒少，而不用石膏更倍麻黃者，以其面有怫鬱熱色，身有皮膚作癢，是知熱不向里而向表，令得小汗以順其勢，故亦不用石膏之涼里也。桂枝二越婢一湯，治發熱惡寒，熱多寒少，而用石膏者，以其表邪寒少，肌裡熱多，故用石膏之涼，佐麻桂以和營衛，非發營衛也。今人一見麻桂，不問輕重，亦不問溫覆不溫覆，取汗不取汗，總不敢用。皆因未究仲景之旨，麻桂只是營衛之藥。若重劑溫覆取汗，則為發營衛之藥；輕劑不溫覆取汗，則為和營衛之藥也。</p>
<p><u>越婢湯</u>　治風水惡風，一身悉腫，脈浮不渴，續自汗出，無大熱者。又治里水，一</p>
<p><u>身面目黃腫，其脈沉小便不利，故令病水。假令小便自利，此亡津液，故令渴也。越婢加朮湯主之。</u></p>
<p>麻黃（六兩）　石膏（半斤）　生薑（切，三兩）　大棗（擘，十五枚）　甘草（一兩）　</p>
<p>惡風加附子（炮）一枚。</p>
<p>上五味，以水六升，煮麻黃，去沫，內諸藥，煮取三升，分三服。</p>
<p>【集註】喻昌曰：越婢湯者，示微發表於不發之方也，大率取其通調營衛。麻黃、石膏二物，一甘熱，一甘寒，合而用之。脾偏於陰則和以甘熱，胃偏於陽則和以甘寒。乃至風熱之陽，水寒之陰，凡不和於中土者，悉得用之何也？中土不和，則水穀不化其精悍之氣，以實營衛。營衛虛，則或寒、或熱之氣，皆得壅塞其隧道，而不通於表裡。所以在表之風水用之，而在裡之水兼渴，而小便自利者，咸必用之，無非欲其不害中土耳。不害中土，自足消患於方萌矣。</p>
<p>趙良曰：五臟各一其陰陽，獨脾胃居中而兩屬之。故土不獨成四氣，土亦從四維而後成，不惟火生而已。於是四方有水寒之陰，即應於脾，風熱之陽，即應於胃，飲食五味之寒熱，凡入於脾胃者亦然。一有相干，則脾氣不和，胃氣不清，而水穀不化其精微，以行營衛，以實陰陽也。甘者，土之本味，所以脾氣不和，和以甘熱，胃氣不清，清以甘寒。麻黃之甘熱，走手足大陰經，連於皮膚，行氣於三陰，以祛陰寒之邪；石膏之甘寒，走手足陽明經，達於肌肉，行氣於三陽，以祛風熱之邪。既用其味甘以入土，用其寒熱以和陰陽，用其性善走以發越脾氣，更以甘草和中緩急，二藥相協而成功。大棗之甘，補脾中之血；生薑之辛，益胃中之氣。惡風者陽虛，故加附子以益陽。風水者，則加朮以散皮膚間風水，氣發穀精以宣營衛，與麻黃、石膏偽使，引其入土也。越婢之名，不亦宜乎！</p>
<p>【按】喻昌所論明析，趙良之說，能細剖其理，開悟後學，故兩錄之。</p>
<p><u>麻黃杏仁甘草石膏湯</u>　治溫熱內發，表裡俱熱，頭痛身疼，不惡寒反惡熱，元汗而</p>
<p><u>喘，大煩大渴，脈陰陽俱浮者，用此發汗而清火。若脈浮弱沉緊，沉細惡寒，自汗出而不渴者，禁用。</u></p>
<p>麻黃（去節，四兩）　杏仁（去皮尖，五十枚）　甘草（炙，二兩）　石膏（碎，綿裹，半斤）</p>
<p>上四味，以水七升，先煮麻黃，減二升，去上沫，內諸藥，煮取二升，去滓，溫服一升。</p>
<p>【集註】柯琴曰：石膏為清火之重劑，青龍、白虎皆賴以建功，然用之不當，適足以召禍。故青龍以元汗煩躁，得薑、桂以宣衛外之陽也；白虎以有汗煩渴，須粳米以存胃中之液也。此但熱無寒，故不用薑、桂，喘不在胃而在肺，故不須粳米。其意重在存陰，不必慮其亡陽也，故於麻黃湯去桂枝之監製，取麻黃之專開，杏仁之降，甘草之和，倍石膏之大寒，除內外之實熱，斯溱溱汗出，而內外之煩熱與喘悉除矣。</p>
<p><u>麻黃附子細辛湯</u>　治少陰病始得之，反發熱脈沉，二三日無里證者。</p>
<p>麻黃（一兩）　附子（炮，一枚）　細辛（二兩）　</p>
<p>熱微者，以甘草易細辛微發汗。</p>
<p>上三味，以水一斗，先煮麻黃，減二升，去沫，內藥，煮取三升，去滓，溫服一升，日三服。</p>
<p>【集註】柯琴曰：少陰主裡，應無表證；病發於陰，應有表寒。今少陰始受寒邪而反發熱，是有少陰之裡，而兼有太陽之表也。太陽之表脈應不沉，今脈沉者，是有太陽之證，而見少陰之脈也。故身雖熱而脈則沉也。所以太陽病而脈反沉，便用四逆以急救其里；此少陰病而表反熱，便於表劑中加附子以預固其里。夫發熱無汗，太陽之表不得不開，沉為在裡，少陰之樞又不得不固。設用麻黃開腠理，細辛散浮熱，而無附子以固元陽，則少陰之津液越出，太陽之微陽外亡，去生便遠。惟附子與麻黃並用，則寒邪雖散，而陽不亡；此里病及表，脈沉而當發汗者，與病在表脈浮而發汗者徑庭也。若表微熱，則受寒亦輕，故以甘草易細辛而微發其汗，甘以緩之，與辛以散之者，又少間矣。</p>
<p><u>桂枝加附子湯</u>　太陽病發汗，遂漏不止，其人惡風，小便難，四肢微急，難以屈伸者，</p>
<p><u>此方主之。</u></p>
<p>桂枝湯加附子一枚，（炮去皮，破八片。）</p>
<p>煎服法同，不須啜粥。</p>
<p>【集註】柯琴曰：發汗太過，陽無所止息，而汗出不止矣。汗多亡陽，元府不閉，風乘虛入，故復惡風；津液外泄，不能潤下，故小便難。四肢者，諸陽之本；陽氣者，柔則養筋，開闔不得，風寒從之，故筋急而屈伸不利也。是方以附於加入桂枝湯中，大補表陽也；表陽密，則漏汗自止，惡風自罷矣。汗止津回，則小便自利四肢自柔矣。汗漏不止，與大汗出同，而從化變病則異。服桂枝、麻黃後，大汗出而大煩渴，是陽陷於裡，急當救陰，故用白虎加人參湯。服桂枝、麻黃湯，大汗出遂漏不止，是陽亡於外，急當救陽，故用桂枝加附子湯。要知發汗之劑，用桂枝不當，則陽陷於裡者多；用麻黃不當，則陽亡於外者多。因桂枝湯有芍藥而無麻黃，故雖汗大出，而元府尚能自閉，多不致亡陽於外耳。</p>
<p><u>芍藥甘草附子湯</u>　發汗病解，反惡寒者，虛故也，此方主之。</p>
<p>芍藥（三兩）　甘草（炙，二兩）　附子（炮去皮，破八片，一枚）</p>
<p>上三味，以水五升，煮取一升五合，去滓，分溫服。</p>
<p>【集註】柯琴曰：發汗病解而反惡寒，比未汗時更甚，其陽虛可知矣。夫太陽、少陰為表裡，太陽之病，本由少陰之虛，不能藏精而為陽之守也。今惡寒反見於發汗病解後，是寒邪已從汗解，太陽陽虛不能衛外而為陰之使也，則陽亡之兆已見於此。若無以桂枝湯攻表，非以扶陽反以亡陽也。故以芍藥收少陰之精氣，甘草緩陰邪之上行，附子補坎宮之少火，但使腎中元陽得位，在表之虛陽惡寒自解耳。</p>
<p><u>桂枝甘草湯</u>　治發汗過多，其人叉手自冒心，心下悸，欲得按者。</p>
<p>桂枝（四兩）　甘草（炙，二兩）　</p>
<p>上二味，水三升，煮取一升，頓服。</p>
<p>【集註】柯琴曰：汗出多，則心液虛，中氣餒，故悸。叉手自冒，則外有所衛，得按則內有所依，如此不堪之狀，望之而知其虛矣。桂枝本營分藥，得麻黃，則令營氣外發而為汗，從辛也；得芍藥，則收斂營氣而止汗，從酸也；得甘草，則補中氣而養血，從甘也。故此方以桂枝為君，獨任甘草為佐，以補陽氣生心液。甘溫相得，斯氣血和而悸自平。不須附子者，以汗雖多而未至於陽亡。不須芍藥者，以汗已止而嫌其陰斂也。</p>
<p><u>桂枝加芍藥加大黃湯</u>　本太陽病，醫反下之，因而腹滿時痛者，屬太陰也，桂枝加</p>
<p><u>芍藥湯主之。大實痛者，桂枝加大黃湯主之。</u></p>
<p><u>桂枝加芍藥湯方</u></p>
<p>於桂枝湯方內，更加芍藥三兩，隨前共六兩，余依桂枝湯法。</p>
<p><u>桂枝加大黃湯方</u></p>
<p>即桂枝加芍藥湯方內，更加大黃一兩。</p>
<p>【集註】柯琴曰：腹滿為大陰、陽明俱有之證，然位同而職異。太陰主出，太陰病則腐穢之出不利，故滿而時痛；陽明主內，陽明病則腐穢燥而不行，故大實而痛。大實痛是陽明病，不是太陰病。仲景因表證未解，陽邪已陷入於太陰，故倍芍藥以益脾調中，而除腹滿時痛，此用陰和陽法也。若表邪未解，而陽邪陷入於陽明，則加大黃以潤胃通結，而除其大實痛，此雙解表裡法也。凡妄下必傷胃氣，胃氣虛則陽邪襲陰，故轉屬太陰；胃液涸則兩陽相搏，故轉屬陽明。屬大陰則腹滿時痛而下實，陰道虛也；屬陽明則腹滿大實而痛，陽道實也。滿而時痛，是下利之兆，大實而痛，是燥屎之徵。故倍加芍藥，小變建中之劑，少加大黃，微示調胃之方。</p>
<p><u>小建中湯</u>　治傷寒表未解，或心悸而煩，</p>
<p><u>或腹中急痛，而脈陽澀陰弦者。</u></p>
<p>桂枝（三兩）　芍藥（六兩）　生薑（切，三兩）　甘草（二兩）　膠飴（一斤）　大棗（擘，十二枚）</p>
<p>上六味，以水七升，煮取三升，去滓，內膠飴，更上火消解，日三服，嘔家不可用建中湯，以甜故也。</p>
<p>【注】是方也，即桂枝湯倍芍藥加膠飴。名曰小建中，謂小小建立中氣，以中雖已虛，表尚未和，不敢大補也。故以桂葶湯仍和營衛，倍芍藥加膠飴調建中州，而不啜稀粥溫服令汗，蓋其意重在中虛，而不在傷寒之表也。中虛建立，營衛自和，津液可生，汗出乃解，煩悸可除矣。傷寒浮得脈澀，營衛不足也，沉得脈弦，木入土中也。營衛不足則表虛，木入士中則裡急，表虛里急，故亦以此湯主治也。嘔家不可用，謂凡病嘔者不可用，恐甜助嘔也。</p>
<p><u>炙甘草湯</u>　治傷寒脈結代，心動悸者。又治肺痿，咳吐多，心中溫溫液液者。</p>
<p>甘草（炙，四兩）　生薑（切，三兩）　桂枝（三兩）　麥門冬（半升）　麻子仁（半升）　大棗（擘，十二枚）　人參（一兩）　阿膠（二兩）　生地黃（一斤）</p>
<p>上九味，以清酒七升，水八升，先煮八味，取三升，去滓，內膠，烊消盡，服一升，日三服。</p>
<p>【集註】柯琴曰：仲景於脈弱陰弱者，用芍藥以益陰，陽虛者，用桂枝以通陽，甚則加人參以生脈，未有用地黃、麥冬者。豈以傷寒之法義重扶陽乎？抑陰無驟補之法歟？此以心虛脈結代，用生地黃為君，麥冬為臣，峻補真陰，開後學滋陰之路也。地黃、麥冬，味雖甘而氣則寒，非發陳、蕃莠之品，必得人參、桂枝以通陽脈，生薑、大棗以和衛營，阿膠補血，酸棗安神，甘草之緩，不使速下，清酒之猛，捷於上行，內外調和，悸可寧而脈可復矣。酒七升水八升，只取三升者，久煎之則氣不峻，此虛家用酒之法。且知地黃、麥冬得酒最良。此證當用酸棗仁，肺痿用麻子仁可也。如無真阿膠，以龜版膠代之。</p>
<p>桂枝人參、葛根黃芩黃連二湯合論：太陽外證未解，而數下之，遂協熱而利，利下不止，表裡不解，脈微弱，心不痞硬者，桂枝人參湯主之。桂枝證，醫反下之，利遂不止，其脈促喘而汗出者，葛根黃連黃芩湯主之。</p>
<p><u>枝枝人參湯</u></p>
<p>桂枝（四兩）　甘草（四兩）　人參（三兩）　白朮（三兩）　乾薑（三兩）　</p>
<p>水九升，先煮四味，取五升，內桂更煮三升，日再服，夜一服。</p>
<p><u>葛根黃芩黃連湯</u></p>
<p>葛根（半斤）　黃連（三兩）　黃芩（三兩）　甘草（炙，二兩）　</p>
<p>水八升，先煮葛根，減二升；內諸藥，煮二升，分溫再服。</p>
<p>【集註】柯琴曰：外熱不除，是表不解，下利不止，是里不解，病因則同。一以微弱之脈而心下痞硬，是脈不足而證有餘；一以脈促而喘，反汗自出，是脈有餘而證不足，表裡虛實，當從脈而辨證矣。弱脈見於數下後，則痞硬為虛。故用理中之辛甘溫補，止利消痞硬，又加桂枝以解表。先煮四味後內桂枝，和中之力饒，而解肌之氣銳，是於兩解中寓權宜法也。桂枝證脈本緩，誤下後而反促，陽氣重，可知邪束於表，陽擾於內。故喘而汗出，利遂不止者，是暴注下迫，屬於熱也。故君氣清質輕之葛根，以解肌而止利；佐苦寒清肅之芩連，以止汗而除喘；又加甘草以和中。先煮葛根後內諸藥，解肌之力緩，而清中之氣銳，又與補中逐邪者殊法矣。又曰：上條脈證是陽虛，雖協熱於外，而里則虛寒；下條脈證是陽盛，雖下利不止，而表裡俱實。同一協熱利，同是表裡不解，而寒熱虛實攻補不同。前方理中加桂枝，而冠桂枝於人參之上；後方瀉心加葛根，而冠葛根於芩連之首。不名理中瀉心者，總為表未解故耳。補中亦能解表，涼中亦能散表，補中亦能散痞，涼中亦能止利。仲景制兩解方，神化如此。</p>
<p><u>白虎湯</u>　治陽明證，汗出渴欲飲水，脈洪大浮滑，不惡寒反惡熱。</p>
<p>石膏（碎，綿裹，一斤）　知母（六兩）　甘草（二兩）　粳米（六合）</p>
<p>上四味，以水一斗，煮米熟湯成，去滓，溫服一升，日三服。</p>
<p>【集註】柯琴曰：陽明邪從熱化，故不惡寒而惡熱；熱蒸外越，故熱汗自出；熱爍胃中，故渴欲飲水：邪盛而實，故脈滑，然猶在經，故兼浮也。蓋陽明屬胃，外主肌肉，雖有大熱而未成實，終非苦寒之味所能治也。石膏辛寒，辛能解肌熱，寒能勝胃火，寒性沉降，辛能走外，兩擅內外之能，故以為君。知母苦潤，苦以瀉火，潤以滋燥，故以為臣。用甘草、粳米調和於中宮，且能土中瀉火，作甘稼穡，寒劑得之緩其寒，苦藥得之平其苦，使沉降之性，皆得留連於味也。得二味為佐，庶大寒之品無傷損脾胃之慮也。煮湯入胃，輸脾歸肺，水精四布，大煩大渴可除矣。白虎為西方金神，取以名湯，秋金得令而炎暑自解矣。更加人參以補中益氣而生津，協和甘草、粳米之補，承製石膏，知母之寒，瀉火而土不傷，乃操萬全之術者。</p>
<p><u>白虎加人參湯</u>　治太陽中熱，汗出惡寒，身熱而渴者，暍是也。</p>
<p>石膏（一斤）　知母（六兩）　甘草（二兩）　粳米（六合）　人參（三兩）　</p>
<p>上五味，以水如前煮服法。</p>
<p>【集註】趙良曰：汗出惡寒，身熱而不渴者，中風也。汗出惡寒，身熱而渴者，中暍也。其證相似，獨以渴不渴為辨。然傷寒、中風，皆有背微惡寒與時時惡風而渴者，亦以白虎人參湯治之。蓋為火爍肺金，肺主氣者也。肺傷則衛氣虛，衛虛則表不足，由是汗出身熱惡寒。《內經》曰：斛移熱於肺，傳為膈消。膈消則渴，皆相火傷肺所致，可知其要在救肺也。石膏能治三焦火熱，功多於清肺，退肺中之火，故用為君。知母亦就肺中瀉心火，滋水之源，人參生津益所傷之氣而為臣。粳米、甘草補土以資金為佐也。</p>
<p><u>豬苓湯</u>　治陽明病，脈浮發熱，渴欲飲水；少陰病下利六七日，咳而嘔渴，心煩不</p>
<p><u>得眠者。</u></p>
<p>豬苓（去皮）　茯苓　阿膠　滑石　澤瀉（各一兩）　</p>
<p>上五味，以水四升，先煮四味，取二升，去滓；內下阿膠，烊消，溫服七合，日三服。</p>
<p>【集註】趙羽皇曰：仲景制豬苓一湯，以行陽明、少陰二經水熱。然其旨全在益陰，不專利水。蓋傷寒表虛最忌亡陽，而裡熱又患亡陰。亡陰者，亡腎中之陰與胃家之津液也。故陰虛之人，不但大便不可輕動，即小水亦忌下通。蓋陰虛過於滲利，則津液反致耗竭。方中阿膠質膏養陰而滋燥，滑石性滑去熱而利水，佐以二苓之滲瀉，既疏濁熱而不留其瘀壅，亦潤真陰而不苦其枯燥，是利水而不傷陰之善劑也。故太陽利水用五苓者，以太陽職司寒水，故加桂以溫之，是暖腎以行水也。陽明、少陰之用豬苓，以二經兩關津液，特用阿膠、滑石以潤之，是滋養無形以行有形也。利水雖同，寒溫迥別，惟明者知之。</p>
<p><u>五苓散</u>（附：茵陳五苓散）　治脈浮小便不利，熱微消渴者。發汗已，脈浮數煩渴者。中風</p>
<p><u>發熱，六七日不解，而煩，有表裡證，渴欲飲水，水入則吐者。</u></p>
<p>茯苓（十八銖）　豬苓（十八銖）　白朮（十八株）　澤瀉（一兩）　桂（半兩）　</p>
<p>上五味為散，以白飲和服方寸匕，日三服，多服暖水，汗出愈。</p>
<p>【注】是方也，乃太陽邪熱入腑，水氣不化，膀胱表裡藥也。一治水逆，水入則吐；一治消渴，水入則消。夫膀胱者，津液之府，氣化則能出矣。邪熱入之，若水盛則水壅不化而水蓄於上，膀胱之氣化不行，致小便不利也。若熱盛則水為熱耗，而水消於上，膀胱之津液告竭，致小便不利也。水入吐者，是水盛於熱也；水入消者，是熱盛於水也。二證皆小便不利，故均得而主之。然小便利者不可用，恐重傷津液也。由此可知五苓散非治水熱之專劑，乃治水熱小便不利之主方也。君澤瀉之鹹寒，咸走水府，寒勝熱邪。佐二苓之淡滲，通調水道，下輸膀胱，並瀉水熱也。用白朮之燥濕，健脾助土，為之堤防以制水也。用桂之辛溫，宣通陽氣，蒸化三焦以行水也。澤瀉得二苓下降，利水之功倍，小便利而水不蓄矣。白朮須桂上升，通陽之效捷，氣騰津化渴自止也。若發熱表不解，以桂易桂枝，服後多服暖水，令汗出愈。是此方不止治停水小便不利之裡，而猶解停水發熱之表也。加人參名春澤湯，其意專在助氣化以生津。加茵陳名茵陳五苓散，治濕熱發黃，表裡不實，小便不利者，無不克也。</p>
<p><u>桂枝湯去芍藥加茯苓白朮湯</u>　治服桂枝湯或下之，無頭項強痛，翕翕發熱，無汗，心</p>
<p><u>下滿微痛，小便不利者，桂枝去芍藥加茯苓白朮湯主之。</u></p>
<p><u>桂枝去芍藥加茯苓白朮湯方</u></p>
<p>於桂枝湯方內，去芍藥加茯苓、白朮各三兩，余依桂枝湯法煎服。小便利則愈。</p>
<p>【注】服桂枝湯已汗也，或下之已下也，今無有頭項強痛，翕翕發熱無汗之表；心下滿微痛，小便不利停飲之裡；無汗表不解，心下有水氣，當用小青龍汗之。今無汗表不解，有水氣，心下滿微痛，小便不利，而不用小青龍者，以其已經汗下，表裡俱虛也。故仍用桂枝湯以解表，去芍藥之酸收，避無汗心下之滿；加茯苓之燥滲，因水停小便不利也。余依桂枝湯法煎服，謂依桂枝湯法取汗也。小便利則愈，謂飲病輸水道則愈也。此方即桂苓甘術湯而有生薑、大棗。其意專在解肌，利水次之，故用生薑、大棗佐桂枝，以通津液取汗也。桂苓甘術湯不用生薑、大棗而加茯苓，其意專在利水，扶陽次之，故倍加茯苓君桂枝，於利水中扶陽也。故方後不曰依服桂枝湯方也。</p>
<p><u>十棗湯</u>　治太陽中風表解，漐漐汗出而不惡寒，里有水氣，小便不利，嘔逆短氣，心</p>
<p><u>下至脅痞滿硬痛者。此治水之急方也。</u></p>
<p>大棗（擘，十枚）　甘遂　大戟　芫花（熬，各等分）　</p>
<p>上三味，各別搗為散，以水一升半，先煮大棗肥者十枚，取八合，去滓，內藥末，強人一錢，羸人服半錢，平旦溫服。若下少病不除者，明日再服，加半錢。得快下後，糜粥自養。</p>
<p>【集註】柯琴曰：仲景治水之方，種種不同，此其最峻者也。凡水氣為患，或喘或咳，或悸或噎，或吐或利，病在一處而止。此則水邪留結於中，心腹脅下痞滿硬痛，三焦升降之氣阻隔難通。此時表邪已罷，非汗散之法所宜，里飲實盛，又非淡滲之品所能勝，非選逐水至峻之品以折之，則中氣不支，束手待斃矣。甘遂、芫花、大戟三味，皆辛苦氣寒而稟性最毒，並舉而用之，氣味相濟相須，故可夾攻水邪之巢穴，決其瀆而大下之，一舉而患可平也。然邪之所湊，其氣必虛；以毒藥香邪，必傷及脾胃，使元沖和甘緩之品為主宰，則邪氣盡而大命亦隨之矣。然此藥最毒，參朮所不能君，甘草又與之相反，故選十棗之大而肥者以君之，一以顧其脾胃，一以緩其峻毒。得快利後，糜粥自養，一以使穀氣內充，一以使邪不復作。此仲景用毒攻病之法，盡美又盡善也。昧者惑於甘能中滿之說，而不敢用，豈知承製之理乎？</p>

<h1>卷七</h1>

<h2>刪補名醫方論（七）</h2>
<p><u>大承氣湯</u>　治陽明病，潮熱，手足濈然汗出，諺語汗出多，胃燥獨語，如見鬼狀，喘</p>
<p><u>冒不能臥，腹滿痛，脈滑實。又目中不了了，睛不和。又少陰病初得之，口燥咽乾者。自利清水，色純青，心下痛，口燥舌乾者。六七日，腹脹不大便者。</u></p>
<p>大黃（酒洗，四兩）　厚朴（半斤）　枳實（炙，五枚）　芒硝（三合）</p>
<p>上四味，以水一斗，先煮二物，取五升，內大黃，煮取二升，去滓；內芒硝，再上火微煮一二沸，分溫再服。得下即停後服。</p>
<p><u>小承氣湯</u></p>
<p>大黃（四兩）　厚朴（炙，去皮，二兩）　枳實（三枚）</p>
<p>上三味，以水四升，煮取一升二合，去滓，分溫三服。初服湯當大便，不爾再服，以利為度。得便即止服。</p>
<p>【集註】柯琴曰：諸病皆因於氣，穢物之不去，由於氣之不順也。故攻積之劑，必用氣分之藥，因以承氣名湯。方分大、小者，有二義焉：厚朴倍大黃，是氣藥為君，名大承氣；大黃倍厚朴，是氣藥為臣，名小承氣。味多性猛，制大其服，欲令大泄下也，因名曰大，味寡性緩，制小其服，欲微和胃氣也，因名曰小。且煎法更有妙義，大承氣用水一斗，煮積樸，取五升，去滓，內大黃，再煮取二升，內芒硝，何哉？蓋生者氣銳而先行，熟者氣純而和緩，仲景欲使芒硝先化燥屎，大黃繼通地道，而後積、樸除其痞滿。若小承氣以三味同煎，不分次第，同一大黃，而煎法不同，此可見仲景微和之意也。</p>
<p>喻昌曰：《金匱》治痙為病，胸滿口噤，臥不著席，腳攣急必齡齒，可與大承氣湯，乃死中求生之法也。《靈樞》謂熱而痙者死，腰折、瘛瘲、齒齡也。茲所云臥不著席，即腰折之變文。腳攣急，即瘛瘲之變文。且斷齒加以胸滿口禁，上、中、下三焦熱邪充斥，死不旋踵矣。在傷寒證腹滿可下，胸滿則不可下，然投是湯者，須知所謂胸滿，謂其邪尚在表，故不可下。此證入里之熱，極深極重，匪可比倫，況陽熱深極，陰血立至消亡，即小小下之，尚不足以勝其陽救其陰。故取此湯以承領其一線之陰氣，陰氣不盡為陽熱所劫，因而得生者多矣。「可與」二字甚活，臨證酌而用之，初非定法也。既有下之重傷其陰之大戒，復有下之急救其陰之活法，學者欲為深造，端在此矣。</p>
<p><u>謂胃承氣湯</u>　治表解有汗，裡熱不除，胃因不和，而不作解者。</p>
<p>大黃（酒洗，四兩）　甘草（炙，二兩）　芒硝（半斤）</p>
<p>上三味，以水三升，先煮二味，取一升，去滓，內芒硝，微煮令沸，少少溫服之。</p>
<p>【注】三承氣湯之立名，而曰大者，制大其服，欲急下其邪也；小者，制小其服，欲緩下其邪也。曰調胃者，則有調和承順胃氣之義，非若大、小專攻下也。經曰：熱淫於內，治以鹹寒；火淫於內，治以苦寒。君大黃之苦寒，臣芒硝之鹹寒，二味並舉，攻熱瀉火之力備矣。更佐甘草之緩，調停於大黃、芒硝之間，又少少溫服之，使其力不峻，則不能速下而和也。</p>
<p><u>更衣丸</u>　治津液不足，腸胃乾燥，大便不通。</p>
<p>硃砂（研如飛面，五錢）　蘆薈（研細，生用，七錢）　</p>
<p>滴好酒少許，和丸。每服一錢二分，好酒下。</p>
<p>【集註】柯琴曰：胃為後天之本，不及固病，太過亦病。然太過復有陽盛陰虛之別焉。兩陽合明而胃家實，仲景制三承氣湯以下之；三陽燥結而津液亡，前賢又制更衣丸以潤之。古人入廁必更衣，故以此命名也。硃砂以汞為體，性寒重墜下達；蘆薈以液為質，味苦膏潤下滋。兼以大寒大苦之性味，能潤燥結，從上導下而胃關開矣。合以為丸，兩者相須，得效最宏，奏功甚捷，誠匪夷所思矣。</p>
<p><u>麻仁丸</u>（又名脾約丸）　治腸胃燥熱，大便秘結，小便數多。</p>
<p>麻子（二升）　芍藥（半斤）　枳實（半斤）　大黃（去皮，一斤）　厚朴（去皮，一斤）　杏仁（去皮煎熬，碾脂，一升）</p>
<p>上六味為末，煉蜜為丸，桐子大，飲服十丸，日三服；漸加，以利為度。</p>
<p>【集註】成無己曰：約者，約結之約，又約束也。經曰：飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。今胃強脾弱，約束津液，不得四布，但輸膀胱，小便數而大便硬，故曰脾約。麻仁甘平而潤，杏仁甘溫而潤。經曰：脾欲緩，急食甘以緩之。本草曰：潤可去燥。是以麻仁為君，杏仁為臣。枳實破結，厚朴瀉滿，故以為佐。芍藥調中，大黃通下，故以為使。</p>
<p>朱震亨曰：既云脾約，血枯火燔津竭，理宜滋陰降火，津液自生，何秘之有？此方惟熱甚而稟實者可用，熱微而虛者，愈致燥涸之苦矣。</p>
<p><u>桃仁承氣湯</u>　治血結胸中，手不可近，或中焦蓄血，寒熱胸滿，漱水不欲咽，善忘，昏</p>
<p><u>迷如狂者。此方治敗血留經，通月事。</u></p>
<p>桃仁（去皮尖，五十個）　桂枝（三兩）　大黃（四兩）　芒硝（二兩）　甘草（二兩）　</p>
<p>上五味，以水七升，煮取二升半，去滓；內芒硝，更上火微沸；下火先食，溫服五合；日三服，當微利。</p>
<p><u>抵當湯並丸</u>　治傷寒蓄血，並治癥瘕，追蟲攻毒甚佳。</p>
<p>水蛭（熬，三十個）　虻蟲（熬，去頭足，三十個）　大黃（三兩）　桃仁（去皮尖，三十個）</p>
<p>上四味為散，以水五升，煮三升，去滓，溫服一升。不下再服，利為度。</p>
<p>水蛭（熬，二十個）　虻蟲（熬，去翅，二十五個）　桃仁（去皮尖，二十個）　大黃（三兩）　</p>
<p>上四味杵，分為四丸，以水一升，煮一九，取七合服。　晬時當下血，若不下更服。</p>
<p>【集註】柯琴曰：膀胱為水府，血本無所容蓄者也。少腹者，膀胱之室也，熱結硬滿，當小便不利，而反利者，是病不在膀胱內而在少腹內也。可知其隨經之營血，因瘀熱而結於少腹之裡，而非膀胱之裡也。故小便雖利，而硬滿急結，蓄血仍瘀於少腹也。熱淫於內，神魂不安，故發狂。血瘀不行，則營不運，故脈微而沉，營不運，則氣不宣，故沉而結也。營氣不周於身，則身黃。消穀善飢者，胃火熾盛也。大便反易者，血之濡也，色黑者，蓄血滲入也。善忘者，血不榮、智不明也。此皆瘀血之徵兆，非至峻之劑，不足以抵其巢穴而當此重任，故立抵當湯。蛭，蟲之善飲血者，而利於水。虻，蟲之善吮血者、而猛於陸。並取水陸之善取血者以攻之，同氣相求，更佐桃仁之苦甘，推陳致新，大黃之苦寒，盪滌邪熱，故名抵當也。若熱雖盛而未狂，少腹滿而未硬，宜小其制，為丸以緩治之。若外證已解，少腹急結，其人如狂，是轉屬陽明，用調胃承氣加桃仁、桂枝之行血者於其中，以微利之，胃和則愈矣。此桃仁承氣為治之緩也。</p>
<p><u>梔子豉湯</u>（附：加減諸湯）　治陽明病，脈浮而</p>
<p><u>緊，咽燥口苦，腹滿而喘，發熱汗出，不惡寒、反惡熱，身重煩躁，心中憒憒，怵惕懊憹，目疼鼻乾，不得臥。</u></p>
<p>梔子（擘，十四枚）　香豉（綿裹，四合）</p>
<p>上二味，以水四升，先煮梔子，得二升半；內豉，煮取一升半，去滓，分二服。溫進一服，得吐止後服。</p>
<p>若少氣者，加甘草二兩。若嘔者，加生薑三兩。若下後心煩腹滿、起臥不安者，去香豉加厚朴四兩、枳實四枚。若醫以丸藥下之，身熱不去，心中結痛，去香豉加乾薑二兩。若身熱發黃者，去香豉加甘草一兩、黃柏二兩。</p>
<p>【集註】柯琴曰：太陽以心腹為里，陽明以心腹為表。蓋陽明之裡是胃實，不特發熱惡熱、目痛鼻乾、汗出身重謂之表。一切虛煩虛熱，咽燥口苦舌苔，腹滿煩躁不得臥，消渴而小便不利，凡在胃之外者，悉是陽明之表也。仲景制汗劑，是開太陽表邪之出路，制吐劑是引陽明表邪之出路。所以太陽之表宜汗不宜吐，陽明之表當吐不當汗。太陽當汗而反吐之，便見自汗出不惡寒，飢不能食，朝食暮吐，欲食冷食，不欲近衣等證，此太陽轉屬陽明之表法，當梔子豉湯吐之。陽明當吐而不吐，反行汗下，溫針等法，以致心中憒憒，怵惕懊憹，煩躁舌苔等證，然仍在陽明之表，仍當梔子豉湯主之。梔子苦能湧泄，寒能勝熱，其形象心，又赤色通心，故主治心中上、下一切證。豆形象腎，又黑色入腎，制而為豉，輕浮上行，能使心腹之濁邪上出於口，一吐而心腹得舒，表裡之煩熱悉解矣。所以然者，急除胃外之熱，不致胃家之實，即此梔豉湯為陽明解表之聖劑矣。熱傷氣者少氣，加甘草以益氣。虛熱相摶者多嘔，加生薑以散邪。若下後而心腹滿，起臥不安，是熱已入胃，便不當吐，故去香豉。屎未燥硬，不宜復下，故只用梔子以除煩，佐枳樸以泄滿，此兩解心腹之妙，又小承氣之輕劑也。若以丸藥下之，身熱不去，知表未解也，心中結痛，知寒留於中也。表熱裡寒，故任梔子之苦以除熱，倍乾薑之辛以逐寒，而表熱自解，裡寒自除。然非吐不能達表，故用此以探吐之。此又寒熱並用，為和中解表之劑矣。內外熱熾，肌肉發黃，必須苦甘之劑以調之，柏皮、甘草色黃而潤，助梔子以除內煩而解外熱。形色之病，無假形色以通之。此皆用梔豉加減以御陽明表證之變幻也。夫梔子之性，能屈曲下行，不是上湧之劑，惟豉之腐氣上蒸心肺，能令人吐耳。觀瓜蒂散必用豉汁和服，是吐在豉而不在梔也。梔子乾薑湯去豉用姜，是取其橫開。梔子厚朴湯，以積樸易豉，是取其下泄。似皆不欲上越之義，雖苦亦能作湧，然非探吐不能吐也。病人舊微溏者不可與，則梔子之性自明矣。</p>
<p><u>瓜蒂散</u>　治胸中痞硬痰飲，一切實邪，及氣衝咽不得息者，用此吐之。</p>
<p>瓜蒂（熬黃，一分）　赤小豆（一分）　</p>
<p>上二味，各別搗篩，為散已，合治之。取一錢匕，以香豉一合，熱湯七合，煮作稀糜，去滓，取汁和散，溫，頓服之。不吐者，少少加服，得快吐乃止。</p>
<p>【注】胸中者，清陽之府，諸邪入胸，皆阻陽氣不得宣達，以致胸滿痞硬，熱氣上衝，燥渴心煩，溫溫欲吐，脈數促者，熱鬱結也。胸滿痞硬，氣上衝咽喉不得息，手足寒冷，欲吐不能吐，脈遲緊者，寒鬱結也。凡胸中寒熱與氣與飲鬱結為病，諒非汗下之法所能治，必得酸苦湧瀉之品，因而越之，上焦得通，陽氣得復，痞硬可消，胸中可和也。瓜蒂極苦，赤豆味酸，相須相益，能除胸胃中實邪，為吐劑中第一品也。而佐香豉粥汁合服者，藉穀氣以保胃氣也。服之不吐，少少加服，得快吐而即止者，恐傷胃中元氣也。此方奏功之捷，勝於汗下。所以三法鼎立，今人不知岐伯、仲景之精義，置之不用，可勝惜哉！</p>
<p><u>小陷胸湯</u>　治心下痞，按之則痛，脈浮</p>
<p><u>滑者。</u></p>
<p>黃連（一兩）　半夏（半升）　栝蔞實（大者，一個）</p>
<p>上三味，以水六升，先煮栝蔞實，取三升，去滓，內諸藥，煮取二升，分溫三服。</p>
<p>【集註】程知曰：此熱結未深者，在心下，不似大結胸之高在心上。按之痛，比手不可近為輕。脈之浮滑又緩於沉緊，但痰飲素盛，挾熱邪而內結，所以脈見浮滑也。以半夏之辛散之，黃連之苦瀉之，栝蔞之苦潤滌之，皆所以除熱散結於胸中也。先煮栝蔞，分溫三服，皆以緩治上之法。</p>
<p>程應旄曰：黃連滌熱，半夏導飲，栝蔞潤燥，合之以開結氣，亦名曰陷胸者，攻雖不峻，而一皆直瀉，其胸裡之實邪，亦從此奪矣。</p>
<p><u>大陷胸湯丸</u>　主治傷寒發熱，不發汗而反下之，表熱乘虛入於胸中，與不得為汗之</p>
<p><u>水氣結而不散，令心下至少腹硬滿而痛不可近，其人身無大熱，但頭汗出，或潮熱燥渴，脈沉緊者。如水腫、腸澼，初起形氣俱實者，亦可用。</u></p>
<p>大黃（六兩）　芒硝　苦葶藶子　杏仁（去皮，各半升）　甘遂（為末，一錢）　</p>
<p>上五味，以水先煮大黃、杏、藶，去滓，內芒硝，煮一二沸，內甘遂末，溫服，得快利止後服。如未劇者，加白蜜二合，作丸如彈子大，水煮一丸，服過宿乃下，如不下更服。</p>
<p>【集註】柯琴曰：胸中者，宗氣之所出，故名氣海。氣為陽，故屬太陽之部。氣為水母，氣清則水精四布，氣熱則水濁而壅結矣。水結於胸，則津液不下，無以潤腸胃，故大便必燥，不下輸膀胱，故水道不通。大黃、芒硝善滌腸胃之熱實，此病在胸中而亦用以為君者，熱淫於內，當治以苦寒，且以潤陽明之燥，是實則瀉子之法，補膀胱之寒，亦制之以其所畏也。任甘遂之苦辛，所以直攻其水結。然水結因於氣結，必佐杏仁之苦溫，以開其水中之氣，氣行而水自利矣。水結又因於氣熱，必佐葶藶之大寒，以清其氣分之熱，源清而流自潔矣。若胸中水結而未及中焦者，當小其制，而復以白蜜之甘以緩之，使留戀於胸中，過宿乃下，但解胸心之結滯，而保腸胃之無傷，是又以香劑為和劑也。是方為利水攻積之劑，故治水腫、痢疾之初起者甚捷，然必視其人壯實，可以一戰成功，如平昔素虛弱與病久而不任攻伐者，當念虛虛之戒矣。</p>
<p><u>三物白散方</u>　治傷寒，寒實結胸無熱證者，及胸膈寒實痰水內結等證。</p>
<p>桔梗（三分）　貝母（三分）　巴豆（去皮，熬黑，研如泥，一分）</p>
<p>上杵二味為末，內巴豆於臼中杵之，以白飲合服。強人一錢，羸者減之。病在膈上必吐，在膈下必利，不利進熱粥一杯，利過不止，進冷粥一杯。</p>
<p>【注】是方治寒實痰水結胸，極峻之藥也。君以巴豆極辛極烈，攻寒逐水，斬關奪門，所到之處無不破也。佐以貝母開胸之結，使以桔梗為之舟楫，載巴豆搜逐胸邪。膈上者必吐，膈下者必利，使其邪悉盡無餘矣。然惟知任毒以攻邪，不量強羸，鮮能善其後也，故羸者減之，不利進熱粥，利過進冷粥，蓋巴豆性熱，得熱則行，得冷則止。不用水而用粥者，藉穀氣以保胃也。</p>
<p><u>大黃黃連瀉心湯</u>　治傷寒表解，心下痞，按之不軟，其脈關上浮者。</p>
<p>大黃（二兩）　黃連（一兩）　</p>
<p>上二味，以麻沸湯二升漬之，須臾絞去滓，分溫再服。</p>
<p>【注】痞硬虛邪而用大黃、黃連，能不起後人之疑耶？仲景使人疑處，正是妙處。蓋因後人未嘗細玩，不得其法，皆煎而服之，大悖其旨矣。觀乎用氣薄之麻沸湯漬大黃、黃連，須臾去滓，僅得其無形之氣，不重其有形之味，是取其氣味俱薄，不大瀉下。雖曰攻痞，而攻之之妙義無窮也。</p>
<p><u>附子瀉心湯</u>　治傷寒表解，心下痞，惡寒汗出者。</p>
<p>大黃（二兩）　黃連（一兩）　黃芩（一兩）　附子（炮去皮，別煮汁，一枚）</p>
<p>上四味，切三味，以麻沸湯二升漬之，須臾絞去滓，內附子汁，分溫再服。</p>
<p>【注】心下硬痛，結胸也；硬而不痛，心下痞也。惡寒而復汗出，非表不解，乃表陽虛也。故以大黃、黃連、黃芩瀉痞之熱，附子溫表之陽，合內外而治之。其妙在以麻沸湯漬三黃，須臾絞去滓，內別煮附子汁，義在瀉痞之意輕，扶陽之意重也。</p>
<p><u>甘草瀉心湯</u>　治傷寒中風，醫反下之，其人下利，日數十行，穀不化，腹中雷鳴，心</p>
<p><u>下痞硬而滿，乾嘔心煩不得安。醫見心下痞，謂病不盡，復下之，其痞益甚，此非結熱，但以胃中虛客氣上逆，故使硬也。</u></p>
<p>甘草（四兩）　黃芩（三兩）　黃連（一兩）　乾薑（三兩）　半夏（洗，半升）　大棗（擘，十二枚）</p>
<p>上六味，以水一斗，煮取六升，去滓再煎，取三升，溫服一升，日三服。</p>
<p>【注】毋論傷寒、中風，表未解，總不可下，醫反下之，因而成痞。其人下利日數十行，水穀不化，腹中雷鳴者，誤下胃中空虛也。心下痞硬而滿，乾嘔心煩不得安者，乘虛客邪上逆也。醫見心下痞硬，謂下之不盡，又復下之，其痞益甚。但此非結熱之痞，亦非寒結之痞，乃乘胃空虛，客氣上逆，陽陷陰凝之痞也。方以甘草命名者，取和緩之意。用甘草、大棗之甘溫，補中緩急，治痞之益甚。半夏之辛，破客逆之上從。芩、連瀉陽陷之痞熱，乾薑散陰凝之痞寒。緩急破逆，瀉痞寒熱，備乎其治矣。</p>
<p><u>生薑瀉心湯</u>　治傷寒汗出解後，胃中不和，心下痞硬，乾噫食臭，脅下有水氣，腹</p>
<p><u>中雷鳴下利者。</u></p>
<p>甘草（炙，二兩）　人參（三兩）　乾薑（一兩）　半夏（洗，半升）　黃芩（三兩）　黃連（一兩）　生薑（切，四兩）　大棗（擘，十二枚）</p>
<p>上八味，以水一斗，煮取六升，去滓再煎，取三升，溫服一升，日三服。</p>
<p>【注】傷寒汗出之後，餘邪轉屬陽明，心下痞滿硬痛不大便者，此其人胃素燥熱，因而成實，攻之可也。今其人平素胃虛，兼脅下有水氣，即不誤下，餘熱乘虛入里，結成痞硬不痛，胃虛不能消化水穀，則乾噫食臭也。胃中寒熱不和，則腹中雷鳴下利也。名生薑瀉心湯者，其義重在散水氣之痞也。生薑、半夏散脅下之水氣，人參、大棗補中州之土虛，乾薑、甘草以溫裡寒，黃芩、黃連以瀉痞熱。備乎虛水寒熱之治，胃中不和下利之痞，未有不愈者也。</p>
<p><u>半夏瀉心湯</u>　治傷寒五六日，嘔而發熱，柴胡證具，而以他藥下之，但滿不痛，心下</p>
<p><u>痞者。</u></p>
<p>半夏（洗，半升）　黃芩（三兩）　乾薑（三兩）　人參（三兩）　黃連（一兩）　甘草（炙，三兩）　大棗（擘，十二枚）</p>
<p>上七味，以水一斗，煮取六升，去滓再煎，取三升，溫服一升，日三服。</p>
<p>【集註】王又原曰：傷寒五六日，柴胡證具，而以他藥下之成痞。即用小柴胡湯，以乾薑易生薑，以黃連易柴胡。彼以和表裡，此以徹上下。而必推半夏為君者，痞從嘔得來，半夏之辛以破結而止嘔也。</p>
<p><u>旋覆代赭石湯</u>　治汗、吐、下解之後，心下痞硬，噫氣不除。</p>
<p>旋覆花（三兩）　人參（二兩）　代赭石（一兩）　半夏（洗，半升）　生薑（切，五兩）　甘草（炙，三兩）　大棗（擘，十二枚）</p>
<p>上七味，以水一斗，煮取六升，去滓再煎，取三升，溫服一升，日三服。</p>
<p>【集註】羅謙甫曰：汗、吐、下解後，邪雖去而胃氣已虧矣。胃氣既虧，三焦因之失職，清無所歸而不升，濁無所納而不降，是以邪氣留滯，伏飲為逆，故心下痞硬，噫氣不除。方中以人參、甘草養正補虛，薑、棗和脾養胃，所以安定中州者至矣。更以代赭石之重，使之斂浮鎮逆，旋覆花之辛，用以宣氣滌飲，佐人參以歸氣於下，佐半夏以蠲飲於上。濁降痞硬可消，清升噫氣自除，觀仲景治少陰水氣上凌，用真武湯鎮之；治下焦滑脫不守，用赤石脂禹餘糧固之。此胃虛氣失升降，復用此法理之，則胸中轉否為泰，其為歸元固下之法，各極其妙如此。</p>
<p><u>麻黃連軺赤小豆湯</u>　治傷寒表不解，瘀熱在裡發黃者。</p>
<p>麻黃（二兩）　赤小豆（一升）　杏仁（去皮尖，四十枚）　生薑（切，一兩）　大棗（擘，十二枚）　甘草（炙，一兩）　生梓白皮（一升）　連軺（二兩）　</p>
<p>以上八味，以潦水一斗，先煮麻黃，再沸，去上沫，內諸藥，煮取三升，分溫三服，半日則盡。</p>
<p>【注】濕熱發黃無表裡證，熱盛者清之，小便不利者利之，裡實者下之，表實者汗之，皆無非為病求去路也。用麻黃湯以開其表，使黃從外而散。去桂枝者避其濕熱也，佐薑棗者和其營衛也，加連軺、梓皮以瀉其熱，赤小豆以利其濕，同成表實發黃之效也。連軺即連翹根，無梓皮以茵陳代之，成無己曰：煎以潦水者，取其味薄不助濕熱也。</p>
<p><u>梔子柏皮湯</u>　治傷寒身黃髮熱，無表裡證者。</p>
<p>梔子（擘，十五枚）　甘草（一兩）　黃柏（一兩）　</p>
<p>上三味，以水四升，煮取一升半，去滓，分溫再服。</p>
<p>【注】傷寒身黃髮熱者，若有無汗之表，以麻黃連軺赤小豆湯汗之；若有成實之裡，以茵陳蒿湯下之。今外無可汗表證，內無可下里證，惟有黃熱，宜以梔子柏皮湯清之可也。此方之甘草當是茵陳，傳寫之誤也。</p>
<p><u>茵陳蒿湯</u>　陽明病發熱，但頭汗出，身無汗，小便不利，渴飲水漿，此為瘀熱在裡，</p>
<p><u>身必發黃，腹微滿者，本方主之。</u></p>
<p>茵陳蒿（六兩）　梔子（擘，十四枚）　大黃（二兩）</p>
<p>上三味，以水二斗，先煮茵陳，減六升，內二味，煮取三升，去滓，分溫三服。小便當利，如皂角汁狀，色正赤，一宿腹減，黃從小便去也。</p>
<p>【集註】柯琴曰：太陽、陽明俱有發黃證，但頭汗出而身無汗，則熱不外越。小便不利，則熱不下泄，故瘀熱在裡。然里有不同，肌肉是太陽之裡，當汗而發之，故用麻黃連翹赤小豆湯為涼散法。心胸是太陽陽明之裡，當寒以勝之，用梔子柏皮湯，乃清火法。腸胃是陽明之裡，當瀉之於內，故立本方，是逐穢法。茵陳稟北方之氣，經冬不調，傲霜凌雪，偏受大寒之氣，故能除熱邪留結，率梔子以通水源，大黃以調胃實，令一身內外瘀熱，悉從小便而出，腹滿自減，腸胃無傷，乃合引而竭之之法，此陽明利水之聖劑也。又曰：仲景治陽明渴飲有四法：本太陽轉屬者，五苓散微發汗以散水氣：大煩燥渴小便自利者，白虎加參清火而生津；脈浮發熱小便不利者，豬苓湯滋陰而利水；小便不利腹滿者，茵陳蒿湯以泄滿，令黃從小便出，病情治法，胸有成竹矣。每思仲景利小便必用氣化之品，通大便必用承氣之品。故小便不利者，必加茯苓，甚者兼用豬苓，因二苓為氣化之品，而小便由於氣化也。茲小便不利，不用二苓者何？本論云：陽明病，汗出多而渴者，不可與豬苓湯，以汗多胃中燥，豬苓湯複利小便故也。斯知陽明病汗出多而渴者，不可用，則汗不出而渴者，津液先虛，更不可用明矣。此以推陳致新之茵陳，佐以屈曲下行之梔子，不用枳、樸以承氣，與芒硝之峻利，則大黃但可以潤胃燥，而大便之不遽行可知。故必一宿而腹始減，黃從小便去而不由大腸去，仲景立法神奇，匪夷所思耳。</p>

<h1>卷八</h1>

<h2>刪補名醫方論（八）</h2>
<p><u>小柴胡湯</u>　治傷寒五六日，寒熱往來，胸脅苦滿，嘿嘿不欲飲食，心煩喜嘔，口苦耳</p>
<p><u>聾，脈弦數者，此是少陽經半表半裡之證，宜此湯以和解之。</u></p>
<p>柴胡（半斤　黃芩（三兩）　人參（三兩）　半夏（半升）　甘草（炙，三兩）　生薑（切，三兩）　大棗（擘，十二枚）</p>
<p>上七味，以水一斗二升，煮取六升，去滓再煎，取三升，溫服一升，日三服。</p>
<p>若胸中煩而不嘔，去半夏、人參，加栝蔞實。若渴者，去半夏加人參、栝蔞根。若腹中痛，去黃芩加芍藥。若脅下痞硬，去大棗加牡蠣。若心下悸、小便不利者，去黃芩加茯苓。若不渴外有微熱者，去人參加桂枝，溫覆取微似汗愈。若咳者，去人參、大棗、生薑，加五味子、乾薑。</p>
<p>【集註】程應旄曰：方以小柴胡名者，取配乎少陽之義也。至於制方之旨及加減法，則所云上焦得通，津液得下，胃氣因和盡之矣。何則？少陽脈循脅肋，在腹陽背陰兩岐間，在表之邪欲入里，為裡氣所拒，故寒往而熱來。表裡相拒而留於岐分，故胸脅苦滿。神識以拒而昏困，故嘿嘿。木受邪則妨土，故不欲食。膽為陽木而居清道，為邪所郁，火無從泄，逼炎心分，故心煩。清氣鬱而濁，則成痰滯，故喜嘔。嘔則木火兩舒，故喜之也。此則少陽定有之證，其餘或之云者，以少陽在人身為遊部，凡表裡經絡之罅，皆能隨其虛而見之，不定之邪也。據證俱是太陽經中所有者，特以五六日上見，故屬之少陽，半表半裡兼而有之，方是小柴胡證。方中以柴胡疏木，使半表之邪得從外宣，黃芩清火，使半里之邪得從內徹。半夏豁痰飲，降裡氣之逆。人參補久虛，助生髮之氣。甘草佐柴、芩調和內外。薑、棗佐參、夏通達營衛，相須相濟，使邪無內向而外解也。至若煩而不嘔者，火成燥實而逼胸，故去人參、半夏加栝蔞實也。渴者，燥已耗液而逼肺，故去半夏加栝蔞根也。腹中痛，木氣散入土中，胃陽受困，故去黃芩以安土，加白芍以戢木也。脅下痞硬者，邪既留則木氣實，故去大棗之甘而泥，加牡蠣之咸而軟也。心下悸、小便不利者，水邪侵乎心矣，故去黃芩之苦而伐，加茯苓之淡而滲也。不渴身有微熱者，半表之寒尚滯於肌，故去人參加桂枝以解之也。咳者，半表之寒湊入於肺，故去參、棗加五味子，易生薑為乾薑以溫之，雖肺寒不減黃芩，恐乾薑助熱也。總之，邪在少陽，是表寒裡熱，兩郁不得升之，故小柴胡之治，所謂升降浮沉則順之也。</p>
<p><u>大柴胡湯</u>　治熱結在內，心下急嘔不止，鬱郁微煩，柴胡證仍在者，與大柴胡湯下之。</p>
<p>柴胡（半斤）　黃芩（三兩）　半夏（半升）　芍藥（三兩）　枳實（四枚）　大黃（二兩）　生薑（五兩）　大棗（擘，十二枚）</p>
<p>上八味，以水一斗二升，煮取六升，去滓再煎，溫服一升，日三服。</p>
<p>【注】柴胡證在，又復有里，故立少陽兩解法也。以小柴胡湯加枳實、芍藥者，仍解其外以和其內也。去參、草者，以里不虛。少加大黃，以瀉結熱。倍生薑者，因嘔不止也。斯方也，柴胡得生薑之倍，解半表之功捷，枳、芍得大黃之少，攻半里之效徐，雖云下之，亦下中之和劑也。</p>
<p><u>柴胡桂枝湯</u>　傷寒六七日，發熱微惡寒，肢節煩疼微嘔，心下支結，此太陽少陽並病</p>
<p><u>也，柴胡桂枝湯主之。</u></p>
<p>柴胡（四兩）　桂枝（一兩半）　人參（一兩半）　甘草（一兩）　半夏（洗，二合半）　黃芩（一兩半）　芍藥（一兩半）　大棗（擘，六枚）　生薑（切，一兩半）　</p>
<p>上九味，以水七升，煮取三升，去滓，分溫服。</p>
<p>【集註】柯琴曰：仲景書中最重柴、桂二方。以桂枝解太陽肌表，又可以調諸經之肌表；小柴胡解少陽半表，亦可以和三陽之半表。故於六經病外，獨有桂枝證、柴胡證之稱，見二方之任重不拘於經也。如陽浮陰弱條是仲景自為桂枝證之註釋；血弱氣虛條亦仲景自為柴胡證之註釋。桂枝有壞病，柴胡亦有壞病，桂枝有疑似證，柴胡亦有疑似證。病如桂枝證而實非，若腳攣急與胸中痞硬者是已。病如柴胡證而實非，本渴而飲水嘔食谷嘔，與但欲嘔胸中痛微溏者是已。此條為傷寒六七日，正寒熱當退之時，反見發熱惡寒諸表證，更見心下支結諸里證，表裡不解，法當表裡雙解之。然惡寒微，發熱亦微，可知肢節煩疼，則一身骨節不疼；可知微嘔，心下亦微結，故謂之支結。表證雖不去而已輕，里證雖已見而未甚。故取桂枝之半，以散太陽未盡之邪；取柴胡之半，以解少陽微結之證。口不渴、身有微熱者，法當去人參；以六七日來，邪雖未解，而正已虛，故仍用之。外證雖在，而病機已見於里，故方以柴胡冠桂枝之上，為雙解兩陽之輕劑也。</p>
<p><u>黃芩湯</u>　治太陽、少陽合病，自下利者。若嘔者，加半夏、生薑。</p>
<p>黃芩　甘草　芍藥（各三兩）　大棗（擘，十二枚）</p>
<p>上四味，以水一斗，煮取三升；去滓，溫服一升，日再服，夜一服。</p>
<p>嘔者，加半夏半升，生薑三兩。</p>
<p>【集註】程應旄曰：此之合病者，頭痛，胸滿口苦，咽乾，目眩，或往來寒熱，或脈大而弦，半表之邪、不待太陽傳遞而即合。少陽裡氣失守，所以下利，陽熱漸盛，所以上嘔。故用黃芩湯清熱益陰，半里清而半表自解矣。</p>
<p>柯琴曰：太陽、少陽合病，是熱邪已入少陽之裡。膽火下攻於脾，故自下利，上逆於胃，故兼嘔也。與黃芩湯，酸苦相濟，調中以存陰也。熱不在半表，故不用柴胡，今熱已入半里，故黃芩主之。雖非胃實，亦非胃虛，故不須人參以補中。兼嘔者，故仍加半夏、生薑，以降逆也。</p>
<p><u>黃連湯</u>　治傷寒胸中有熱，胃中有邪氣，腹中痛欲嘔吐者。</p>
<p>黃連（三兩）　乾薑（三兩）　甘草（三兩）　人參（二兩）　桂枝（三兩）　半夏（半升）　大棗（十二枚）</p>
<p>上七味，以水一斗，煮取六升；去滓，溫服一升，日三服，夜二服。</p>
<p>【集註】程應旄曰：熱在胸中，有煩躁鬱悶之證可知。胃中反有邪氣，以寒邪被格在下故也。此證寒熱俱有，較之大青龍之寒熱，已向近里一層，故其證不見之表裡際，而只見之上下際。腹中痛者，陰邪在胃而寒乃獨治於下也。欲嘔吐者，陽邪在胸、而熱乃獨治於上也。此為上下相格治法，亦寒熱並施，而辛寒易以苦寒，辛熱加以苦熱，更以人參、半夏以補宣中氣，升降陰陽。自此條而互及瀉心諸湯，皆其法也。</p>
<p>成無己曰：濕家下後，舌上如苔者，以丹田有熱，胸中有寒，是邪氣入里而為下熱上寒也。此傷寒傳裡而為下寒上熱也。</p>
<p>喻昌曰：陰陽悖逆，皆當和解法。</p>
<p><u>黃連阿膠湯</u>　治少陰病，得之二三日以上，心中煩不得臥。</p>
<p>黃連（四兩）　黃芩（一兩）　芍藥（二兩）　雞子黃（二枚）　阿膠（三兩）　</p>
<p>上五味，以水五升，先煮三物，取二升，去滓，內膠烊盡，小冷，內雞子黃，攪令相得，溫服七合，日三服。</p>
<p>【集註】柯琴曰：此少陰病之瀉心湯也。凡瀉心必藉連、芩，而導引有陰陽之別。病在三陽，胃中不和，而心下痞硬者，虛則加參。甘補之，實則加大黃下之。病在少陰，而心中煩不得臥者，既不得用參、甘以助陽，亦不得用大黃以傷胃矣。用芩、連以直折心火，用阿膠以補腎陰，雞子黃佐芩、連於瀉心中補心血，芍藥佐阿膠於補陰中斂陰氣，斯則心腎交合，水升火降。是以扶陰瀉陽之方，變而為滋陰和陽之劑也。是則少陰之火，各歸其部，心中之煩不得臥可除矣。經曰：陰平陽秘，精神乃治。斯方之謂歟！</p>
<p><u>理中湯丸</u>　治中氣不運，腹中不實，口失滋味，病久不食，臟腑不調，與傷寒直中</p>
<p><u>太陰，自利不渴，寒多而嘔等證。</u></p>
<p>人參（三兩）　白朮（三兩）　甘草（三兩）　乾薑（三兩）　</p>
<p>上四味，搗篩為末，蜜丸如雞子黃大，以沸湯數合和一丸，研碎，溫服之。日三四枚，夜二枚；腹中未熱，益至三四丸。然不及湯，湯法以四物依兩數切，用水八升，煮取三升，去滓，溫服一升，日三服。</p>
<p>若臍上築者，腎氣動也，去朮加桂四兩。多吐者，去朮加生薑三兩。下多者，還用術。悸者，加茯苓二兩。渴欲得水者，加朮，足前成四兩半。腹中痛者，加人參，足前成四兩半。寒者，加乾薑，足前成四兩半。腹滿者，去朮加附子一枚。服湯後如食頃，飲熱粥一升許，微自溫勿發衣被。</p>
<p>【集註】程應旄曰：陽之動始於溫，溫氣得而穀精運，穀氣升而中氣贍，故名曰理中，實以燮理之功，予中焦之陽也。若胃陽虛，則中氣失宰，膻中無發宣之用，六腑無灑陳之功，猶如釜薪失焰，故下致清穀，上失滋味，五臟凌奪，諸證所由來也。參、朮、炙草，所以守中州，乾薑辛以溫中，必假之以焰釜薪而騰陽氣，是以谷入於陰，長氣於陽，上輸華蓋，下攝州都，五臟六腑，皆以受氣，此理中之旨也。若水寒互勝，即當脾腎雙溫，加以附子，則命門益土母溫矣。白朮補脾，得人參則壅氣，故臍下動氣；吐多腹滿者，去朮也。加桂以伐腎邪，加生薑以止嘔也。加附子以消陰也。下多者濕勝也，還用術燥濕也。渴欲飲水飲渴也，加朮使飲化津生也。心下悸停水也，加茯苓導水也。腹中痛倍人參，虛痛也。寒者加乾薑，寒甚也。</p>
<p><u>乾薑附子湯</u>　下後復發汗，晝日煩躁不得眠，夜而安靜，不嘔不渴，無表證，脈沉</p>
<p><u>微，身無大熱者，乾薑附子湯主之。</u></p>
<p>乾薑（一兩）　附子（去皮，生用，破八片，一枚）</p>
<p>上二味，以水三升，煮取一升，去滓，頓服。</p>
<p><u>茯苓四逆湯</u>　傷寒厥而心下悸，發汗，若下之，病仍不解，煩躁者，茯苓四逆湯主之。</p>
<p>茯苓（六兩）　人參（一兩）　甘草（炙，一兩）　乾薑（一兩）　附子（生用，破八片，一枚）</p>
<p>上五味，以水五升，煮取三升，去滓，溫服七合，日三服。</p>
<p>【注】凡太陽病治不如法，汗後復下，或下後復汗，誤而又誤，變成壞病。若其人陽盛而從熱化，則轉屬三陽，陽衰而從寒化，則系在三陰。此二湯所治之煩躁，皆壞病也。煩躁雖六經俱有，而多見於太陽、少陰者，太陽為真陰之標，少陰為真陽之本也。未經汗下而煩躁，多屬陽，其脈實大，其證渴熱，是煩為陽盛，躁為陰虛。已經汗下而煩躁，多屬陰，其脈沉微，其證汗厥，是煩為陽虛，躁為陰極也。夫先下後汗，於法為逆，外無大熱，內不渴嘔，似乎陰陽自和，而實妄汗亡陽，所以虛陽擾亂於陽分，故晝日煩躁不得眠，盛陰偏安於陰分，故夜而安靜。脈沉微，是真陽將脫而煩躁也。用乾薑、附子壯陽以配陰。薑、附者，陽中陽也，生用則力更銳，不加甘草則勢更猛，是方比四逆為峻，救其相離，故當急也。先汗後下，於法雖順，若病不解，厥悸仍然，驟增晝夜煩躁，似乎陰盛格陽，而實腎上凌心，皆因水不安其位，挾陰邪而上乘，是陽虛有水氣之煩躁也。用茯苓君四逆，抑陰以伐水。人參佐四逆，生氣而益陽。參、苓君子也，兼調以甘草，比四逆為緩，陰陽不急，故當緩也。一去甘草，一加參、苓，而緩急自別，仲景用方之妙如此。</p>
<p><u>附子湯</u>　治少陰病，身痛手足寒，骨節痛，口中和，背惡寒，脈沉者。</p>
<p>附子（生用，去皮，破八片，二枚）　茯苓（三兩）　人參（二兩）　白朮（四兩）　芍藥（三兩）　</p>
<p>上五味，以水八升，煮取三升，去滓，溫服一升，日三服。</p>
<p>【注】少陰為寒水之臟，故傷寒之重者多入少陰，所以少陰一經最多死證。方中君附子二枚者，取其力之銳，且以重其任也。生用者，一以壯少火之陽，一以散中外之寒，則惡寒自止，身痛自除，手足自溫矣；所以固生氣之原，令五臟六腑有本，十二經脈有根，脈自不沉，骨節可和矣。更佐白朮以培土，芍藥以平木，茯苓以伐水。水伐火自旺，旺則陰翳消，木平土益安，安則水有制，制則生化。此萬全之術，其畏而不敢用，束手待斃者，曷可勝計耶！</p>
<p><u>四逆湯</u>　治脈沉厥逆等證。</p>
<p>甘草（炙，二兩）　乾薑（一兩半）　附子（生用，去皮，破八片，一枚）</p>
<p>上三味，以水三升，煮取一升二合，去滓，分溫再服。</p>
<p>強人可大附子一枚，乾薑三兩。</p>
<p>【注】方名四逆者，主治少陰中外皆寒，四肢厥逆也。君以炙草之甘溫，溫養陽氣。臣以薑、附之辛溫，助陽勝寒。甘草得薑、附，鼓腎陽溫中寒，有水中暖土之功；姜附得甘草，通關節走四肢，有逐陰回陽之力。腎陽鼓寒，陰消則陽氣外達而脈升手足溫矣。</p>
<p><u>通脈四逆湯</u>　治少陰下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其</p>
<p><u>人面赤色，或腹痛，或乾嘔，或咽痛，或利止脈不出者。厥陰下利清穀，裡寒外熱，汗出而厥者主之。</u></p>
<p>乾薑（三兩，強人可四兩）　甘草（炙，二兩）　附子（生用，去皮，大者一枚）</p>
<p>上三味，以水三升，煮取一升二合，去滓，分溫再服，其脈即出者愈。</p>
<p>面色赤者，加蔥九莖。腹中痛者，去蔥加芍藥二兩。嘔者，加生薑二兩。咽痛，去芍藥，加桔梗一兩。利止脈不出者，加人參二兩。</p>
<p>【注】論中扶陽抑陰之劑，中寒陽微不能外達，主以四逆。中外俱寒，陽氣虛甚，主以附子。陰盛於下，格陽於上，主以白通。陰盛於內，格陽於外，主以通脈。是則可知四逆運行陽氣者也，附子溫補陽氣者也，白通宣通上下之陽氣者也，通脈通達內外之陽氣者也。今脈微欲絕，裡寒外熱，是腎中陰盛，格陽於外，故主之也。倍乾薑加甘草佐附子，易名通脈四逆湯者，以其能大壯元陽，主持中外，共招外熱反之於內。蓋此時生氣已離，亡在俄頃，若以柔緩之甘草為君，豈能疾呼外陽耶？故易以乾薑。然必加甘草與乾薑等分者，恐渙漫之餘，薑、附之猛不能安養元氣，所謂有制之師也。若面赤者，加蔥以通格上之陽。腹痛者，加芍藥以和在裡之陰。嘔逆者，加生薑以止嘔。咽痛者，加桔梗以利咽。利止脈不出氣少者，俱倍人參，以生元氣而復脈也。</p>
<p><u>白通湯</u>　治少陰病，下利脈微者，與白通湯。利不止，厥逆元脈，乾嘔煩者，白通</p>
<p><u>加豬膽汁湯主之。服湯脈暴出者死，脈微續者生。</u></p>
<p>蔥白（四莖）　乾薑（一兩）　附子（生用，去皮，破八片，一枚）</p>
<p>上三味，以水三升，煮取一升，去滓，分溫再服。</p>
<p><u>白通加豬膽汁湯</u></p>
<p>蔥白（四莖）　乾薑（一兩）　附子（生用，去皮，破八片，一枚）　人尿（五合）　豬膽汁（一合）</p>
<p>以上三味，以水三升，煮取一升，去滓，內豬膽汁、人尿，和令相得，分溫再服。若無膽汁亦可。</p>
<p>【注】是方也，即四逆湯減甘草加蔥白也，而名之曰白通者，以蔥白能通陽氣也。減甘草者，因其緩也；加尿膽者，從其類也。下咽之後，冷體既消，熱性便發，情且不違而致大益，則二氣之拒格可調，上下之陰陽可通矣。</p>
<p><u>真武湯</u>　治少陰水氣為患，腹痛下利，四肢沉重疼痛，小便不利，其人或咳或嘔，或</p>
<p><u>小便利而下利者，用此加減。</u></p>
<p>白朮（二兩）　茯苓（二兩）　白芍（二兩）　大附子（炮，一枚）　生薑（切，三兩）　</p>
<p>上五味，以水八升，煮取三升，去滓，溫服七合，日三服。</p>
<p>若咳者，加五味子半升，細辛、乾薑各一兩。若小便利者，去茯苓。若下利，去芍藥加乾薑二兩。若嘔，去附子加生薑，足成半斤。</p>
<p>【注】小青龍湯治表不解有水氣，中外皆寒實之病也。真武湯治表已解有水氣，中外皆寒虛之病也。真武者，北方司水之神也，以之名湯者，藉以鎮水之義也。夫人一身制水者脾也，主水者腎也，腎為胃關，聚水而從其類，倘腎中無陽，則脾之樞機雖運，而腎之關門不開，水即欲行，以無主制，故泛溢妄行而有是證也。用附子之辛熱，壯腎之元陽，則水有所主矣。白朮之苦燥建立中土，則水有所制矣。生薑之辛散，佐附子以補陽，於主水中寓散水之意。茯苓之淡滲，佐白朮以健土，於制水中寓利水之道焉。而尤妙在芍藥之酸收，仲景之旨微矣。蓋人之身陽根於陰，若徒以辛熱補陽，不少佐以酸收之品，恐真陽飛越矣。用芍藥者，是亟收陽氣歸根於陰也。於此推之，則可知誤服青龍致發汗亡陽者，所以於補陽藥中之必需芍藥也。然下利減芍藥者，以其陽不外散也；加乾薑者，以其溫中勝寒也。水寒傷肺則咳，加細辛、乾薑者，散水寒也；加五味子者，收肺氣也。小便利者，去茯苓，以其雖寒而水不能停也。嘔者，去附子倍生薑，以其病非下焦，水停於胃也。所以不須溫腎以行水，只當溫胃以散水，且生薑功能止嘔也。</p>
<p><u>當歸四逆湯</u>　手足厥冷，脈細欲絕者，主之。若其人內有久寒，加吳茱萸、生薑。</p>
<p>當歸（三兩）　桂枝（三兩）　芍藥（三兩）　細辛（二兩）　通草（二兩）　甘草（炙，二兩）　大棗（擘，二十五枚）</p>
<p>上七味，以水八升，煮取三升，去滓，溫服一升，日三服。</p>
<p><u>當歸四逆加吳茱萸生薑湯</u></p>
<p>於前湯內加吳茱萸半斤，生薑三兩。</p>
<p>上九味，以水六升，清酒六升和煮，取五升，去滓，分溫五服。</p>
<p>【注】凡厥陰病則脈微而厥，以厥陰為三陰之盡，陰盡陽生，若受其邪，則陰陽之氣不相順接，故脈微而厥也，然厥陰之臟，相火遊行其間，經雖受寒，而臟不即寒，故先厥者後必發熱。所以傷寒初起，見其手足厥冷，脈細欲絕者，不得遽認為虛寒而用薑、附也。此方取桂枝湯，君以當歸者，厥陰主肝為血室也。佐細辛味極辛，能達三陰，外溫經而內溫臟。通草其性極通，善開關節，內通竅而外通營。倍加大棗，即建中加飴用甘之法。減去生薑，恐辛過甚而迅散也。肝之志苦急，肝之神欲散，甘辛並舉，則志遂而神悅，未有厥陰神志遂悅，而脈微不出，手足不溫者也。不須參、苓之補，不用薑、附之峻，此厥陰厥逆與太少不同治也。若其人內有久寒，非辛溫之品所能兼治，則加吳茱萸、生薑之辛熱，更用酒煎，佐細辛直通厥陰之臟，迅散內外之寒，是又救厥陰內外兩傷於寒之法也。</p>
<p><u>吳茱萸湯</u>　治厥陰病乾嘔吐涎沫、頭痛者，少陰證吐利手足厥冷、煩躁欲死者，陽</p>
<p><u>明食谷欲嘔者。</u></p>
<p>吳茱萸（一升）　人參（三兩）　生薑（六兩）　大棗（擘，十二枚）</p>
<p>上四味，以水七升，煮取二升，溫服七合，日三服。</p>
<p>【集註】羅謙甫曰：仲景救陽諸法，於少陰四逆湯必用姜附；通脈四逆湯倍加乾薑，其附子生用；附子湯又加生附至二枚。所以然者，或壯微陽使之外達，或招飛陽使之內返，此皆少陰真陽失所，故以回陽為亟也。至其治厥陰，則易以吳茱萸，而並去前湯諸藥，獨用人參、薑、棗者，蓋人身厥陰肝木雖為兩陰交盡，而一陽之真氣實起其中，此之生氣一虛，則三陰濁氣直逼中上，不惟本經諸證悉具，將陽明之健運失職，以至少陰之真陽浮露而吐利，厥逆煩躁欲死，食谷欲嘔，種種叢生矣。吳茱萸得東方震氣，辛苦大熱，能達木鬱，直入厥陰，降其盛陰之濁氣，使陰翳全消，用以為君。人參秉沖和之氣，甘溫大補，能接天真，挽回性命，升其垂絕之生氣，令陽光普照，用以為臣。佐薑、棗和胃而行四末。斯則震坤合德，木土不害，一陽之妙用成，而三焦之間無非生生之氣矣。諸證有不退者乎？蓋仲景之法，於少陰則重固元陽，於厥陰則重護生氣。學者當深思而得之矣。</p>
<p><u>烏梅丸</u>　治厥陰病消渴，氣上撞心，心中疼熱，飢而不欲食，食即吐蛔。又主久痢。</p>
<p>烏梅（三百個）　細辛（六兩）　乾薑（十兩）　黃連（一斤）　當歸（四兩）　附子（六兩）　蜀椒（去汗，四兩）　桂枝（六兩）　人參（六兩）　黃柏（六兩）　</p>
<p>上十味，異搗篩，合治之。以苦酒浸烏梅一宿，去核蒸之五升米下，飯熟搗成泥，和藥令相得，內臼中，與蜜杵二千下，九如梧桐子大。先食飲服十丸，日三，稍加至二十丸，禁生冷滑物臭食等。</p>
<p>【集註】柯琴曰：六陰惟厥陰為難治。其本陰，其標熱，其體木，其用火，必伏其所主而先其所因，或收、或散、或逆、或從，隨所利而行之，調其中氣使之和平，是治厥陰法也。厥陰當兩陰交盡，又名陰之絕陽，宜無熱矣。第其具合晦朔之理，陰之初盡即陽之初生，所以厥陰病熱，是少陽使然也。火王則水虧，故消渴氣上撞心，心中疼熱；氣有餘便是火也。木勝則剋土，故飢不欲食。蟲為風化，飢則胃中空虛，蛔聞食臭出，故吐蛔也。仲景立方，皆以甘辛苦味為君，不用酸收之品，而此用之者，以厥陰主肝木耳。《洪範》曰：木曰曲直作酸。《內經》曰：木生酸，酸入肝。君烏梅之大酸，是伏其所主也。配黃連瀉心而除疼，佐黃柏滋腎以除渴，先其所因也。連、柏治厥陰陽邪則有餘，不足以治陰邪也。椒、附、辛、姜大辛之品並舉，不但治厥陰陰邪，且肝欲散，以辛散之也。又加桂枝、當歸，是肝藏血，求其所屬也。寒熱雜用，則氣味不和，佐以人參，調其中氣。以苦酒浸烏梅，同氣相求，蒸之米下，資其穀氣。加蜜為丸，少與而漸加之，緩則治其本也。蛔，昆蟲也，生冷之物與濕熱之氣相成，故藥亦寒熱互用，且胸中煩而吐蛔，則連、柏是寒因熱用也。蛔得酸則靜，得辛則伏，得苦則下，信為治蟲佳劑。久痢則虛，調其寒熱，酸以收之，下痢自止。</p>
<p><u>赤石脂禹餘糧湯</u>　治久利不止，大腸虛脫，服理中丸而利益甚者。</p>
<p>赤石脂（搗碎，一斤）　禹餘糧（搗碎，一斤）</p>
<p>上二味，以水六升，煮取二升，去滓，分溫三服。</p>
<p>【集註】柯琴曰：甘、薑、參、術可以補中宮元氣之虛，而不足以固下焦脂膏之脫。此利在下焦，故不得以理中之劑收功矣。然大腸之不固，無責在胃，關門之不閉，無責在脾，二石皆土之精氣所結，實胃而澀腸，急以治下焦之標者，實以培中宮之本也。要知此證土虛而火不虛，故不宜於薑、附。若濕甚而虛不甚，複利不止者，故又當利小便也。</p>
<p><u>白頭翁湯</u>　治厥陰熱利，下重，脈沉弦，渴欲飲水者。</p>
<p>白頭翁（三兩）　黃連（三兩）　黃柏（三兩）　秦皮（三兩）　</p>
<p>上四味，以水七升，煮取三升，去滓，溫服一升。不愈更服一升。</p>
<p>【注】三陰俱有下利證，自利不渴者，屬太陰也；自利而渴者，屬少陰也。惟厥陰下利屬於寒者，厥而不渴，下利清穀；屬於熱者，消渴下重，下利膿血。此熱利下重，乃火鬱濕蒸，穢氣奔迫廣腸魄門，重滯而難出。《內經》云暴注下迫者是矣。君以白頭翁寒而苦辛，臣以秦皮寒而苦澀。寒能勝熱，苦能燥濕，辛以散火之郁，澀以收下重之利也。佐黃連清上焦之火，則渴可止。使黃柏瀉下焦之熱，則利自除也。治厥陰熱利有二，初利用此方，以苦燥之，以辛散之，以澀固之，是謂以寒治熱之法；久利則用烏梅丸之酸以收火，佐以苦寒，雜以溫補，是謂逆之從之，隨所利而行之，調其氣使之平也。</p>
