<header data-type="book">
<h1>白喉辨證</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王裕慶</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1887">公元1887年</data></dd></div>
</dl>
</header>

<h1>江省重刊白喉辨證序</h1>
<p>白喉，方書世傳不一，大半宗張善吾之說，專主於熱，重用寒涼，間有偶經應驗，則矜為奇方。轉相授受，幾於無省蔑有，不論寒熱虛實，往往拘守五六方，示以一二日服，何劑三四日服，何劑甚至日服三四劑，且謂即白加病重，仍須始終堅守而不移，此最足誤人者也。夫病有萬變，方法無窮，藥無中立之理，況陡進寒涼，豈有服下全無效者乎？服下無效，而仍執守者乎？固執不通，何至於是！其服至一二十劑或二三十劑，幸獲全愈者，大抵皆命不當死之人。試觀所立，除溫化毒丹、神功避邪散、神仙活命丹、龍虎二仙湯、清心滌肺湯、養陰清肺湯，一派陰寒，定為主方，忌表忌溫，諄諄教誡，語語印定，後人眼目，可痛可恨。迨至不救，則以為本屬不治矣，是何言與？所列無治諸條，必真無治者也。大抵皆一味寒涼，堅執不移所誤耳。如末列「服藥後，大便瀉與白塊自落，七日白滿不退，皆無治」。抑知浮火上升，龍雷飛越，下真寒上假熱，常有服附桂八味而痊者。如所補蔣仲芳諸案可悟矣。白塊自落，白滿不退，皆寒痰凝結。如所採舒馳遠兩案可徵矣。曩年初，閱張氏方，即頗疑之。後復見王祉庭先生書，辨證詳明，治不一法，不覺大為欽佩，乃知張氏確為邪說也。余攻岐黃術幾三十餘載，靡書不讀，竊見喉科專門，列症雖多，而用藥則一，不足為法。而白喉一門，尤為可哂可鄙，求如王君所論，實不多觀，惟力闢白喉非疫，未免矯枉過正。凡有傳染者，皆屬疫受病雖同，而或由本體而化，或由誤藥而化，治法卻非一端，原未可以一疫字橫梗胸中也。近聞白喉盛行，漸傳江省，爰亟付剞劂，以救群迷，竊願仁人君子廣刷廣傳，更祈行醫諸君加意揣摩，反覆尋玩，庶胸中先有把握，下筆不至模糊，補偏救弊，起死回生，救人疾苦，不亦一大快事哉！</p>
<p><u>壬寅暮春南昌方內散人謹識於省垣客寓</u></p>

<h1>凡例</h1>
<p>一、是書專為不知醫者設法，故語多俚鄙，並欲便刷印，故引證亦簡。</p>
<p>二、方書長篇累幅，每令不知醫者目眩，故縷析條陳，俾閱者開卷瞭然，易於記憶。</p>
<p>三、是書宜分看、合看，庶臨症時不顧此失彼。</p>
<p>四、白喉用單紙刊方，傳者雖屬善舉，究誤大事，何也？其人或曾患熱症，服涼劑而愈，則所傳者必涼劑也。倘寒症信之，鮮能救矣。其人或曾患寒症，服溫劑而愈，有上病療下之說也。曰：何死之速也？曰：生與死亦只從脈而別之。白喉非死證也。若熱症投以熱藥，寒症投以寒藥，或表症而過於攻下，或虛症而過於表散，如人之無辜受戮，雖欲不死，焉得而不死？且每聞白喉之死者，無死於附桂，多死於大黃。大抵人知有熱症而不知有寒症，即知有寒症而不知有虛寒之症，皆誤於疫之一字也。然則，予之辨之也其容已乎！但見淺學寡，不無疏漏，高明之士倘能匡予以不逮，則幸甚。</p>

<h1>辨證法</h1>
<p>一、熱證必腫，寒症不腫，喉內反大而空（亦有虛腫者）。</p>
<p>二、熱證必痛，痛無止息（略痛者輕，痛甚者重）；寒證不甚痛，或時痛時止。</p>
<p>三、熱證吃水不甚痛，吃飯則痛；寒證吃水痛，吃飯不甚痛（以虛能受物也），善於體認（王鶴識）。</p>
<p>四、熱證必渴，喜吃水（喜溫者輕，喜冷者重；少吃者輕，多吃者重）；寒證不渴，雖渴不多吃水（喜溫者輕，喜極熱者重）。</p>
<p>五、熱證不思食，亦不能食（一由腫痛，一由不知味）；寒證能食而不甚思食（一由脾虛，一由脾絕，一由過服寒劑）。</p>
<p>六、熱證有風涎（風涎少者輕，風涎多者重，均宜表散）；寒證則斷無風涎（若系風寒亦有風涎，宜表散）。</p>
<p>七、熱證白點必乾澀，或一邊一點，或一邊數點，大小不一；寒症白點必明潤，或成點，或成塊，甚者滿喉俱白，狀如凝膏（字字皆辨症秘決）。</p>
<p>八、熱證滿喉皆紅色，或紅絲（紅絲者輕）；寒證滿喉皆白色，或淡紅色（淡紅色者輕）。</p>
<p>九、熱證舌苔或黃或黑，宜察其潤燥，燥者是實熱，宜下之；潤者是假熱，宜溫補。否則不可求藥；寒證舌苔白，或間有黑黃色，亦宜察其潤燥。潤者寒重，燥者寒輕，表散之而已。鼻孔口唇俱宜察其潤燥，但有火爍肺而鼻燥者，有肺氣絕而鼻燥者，有脾火伏而唇燥者，有胃氣不升而唇燥者，有脾氣絕而唇燥者，有傷食而唇燥者，俱宜詳察。目則察其畏風與否，畏火與否而已。</p>
<p>十、熱證小便必赤，赤而熱者是實熱；赤而不熱且長而多者是假熱。宜補而兼瀉。其清長則是寒證矣。</p>
<p>十一、熱證忌滿喉白、滿喉腫，滿喉者必閉死；寒證不忌腫，並不忌滿喉盡白，只忌失音動痰。若失音動痰不能救矣（失音動痰，一由腎絕水泛為痰，一由過服涼劑，使肺胃之氣閉塞不通，切不可用表散及桑白皮之屬。宜大溫補，如溫胃湯等劑）。又方：用活魚一隻，將魚嘴扳開，入病者口中，使涎流入喉內，無涎再用數只，即時開音，屢試屢驗。</p>
<p>十二、治喉必分氣血，上午痛者屬氣分；下午痛者屬血分。凡證類然，不獨白喉也。</p>
<p>十三、氣分實熱或風熱風寒等證，俱痛無止息。虛寒證上午痛必至下午方減（治者或薑桂六君子湯、補中益氣湯之屬）。血分不拘寒熱，下午痛，必至交子方減（治者如熱證用元參湯、知柏四物湯之屬；虛寒證用真武湯、四逆湯、附桂理陰煎之屬。）</p>
<p>十四、熱證必先升散，服升陽散火湯。再察其熱之輕重投藥。輕者服連翹飲，重者服通咽利膈湯。。</p>
<p>十五、寒證如風寒，宜解表，服敗毒散及參蘇飲之屬；虛寒不必解表，先察其寒之輕重投藥。輕者服五積散；重者服附桂理中湯及溫胃湯之類（風寒必有表熱，虛寒無熱，亦有虛熱者）。</p>
<p>十六、邪熱既盛而真陽復虛之症，其脈浮緊而濡，欲下之而恐亡陽，欲不下而邪熱復熾，此中秘竅人多莫識其法，宜附子瀉心湯寒熱並用，斯為有制之兵。</p>
<p>十七、是證無論寒熱，總宜宣肺，桔梗、麻黃是要藥（風熱、風寒宜桔梗、虛寒宜麻黃。）</p>
<p>十八、熱證尚輕，過服大黃、黃連而病愈加者，宜轉服荊防敗毒散加升麻（恐邪陷下而不得出也，或因藥傷胃則必用附術）。寒證尚輕，過服姜附而現燥症者，不必用涼劑解，只用三尺深黃土定清水煎服數盅，再審何證，斟酌用方。若是虛寒而誤用大黃芒硝者（其症與實火無異，舌或黃黑，唇或乾而燥，但潤而不渴耳）非生煨附子莫治（其法：以生附子一枚，用黃土包裹，以火內煨至土乾而止）。無生附子重用熟附片，或二兩或四兩亦可。觀此一段，具見婆心。</p>
<p>十九、治白喉可以薑湯試，畏熱畏辣者屬熱證，不畏熱、不畏辣者屬寒證。如貧戶無錢服藥，熱證用三尺深黃土定清，水煎路邊荊服；寒證用生薑數兩加紫蘇葉煎服亦可全愈。</p>
<p>二十、達原飲乃疫症用此以達其膜原，全不與白喉相干。今治白喉者，好用此方，殊不可解，亦幸而獲愈者。恰是熱證，適逢其會耳。虛寒者服此，雖有扁鵲莫能挽矣（達原飲有白苔滿布，形如積粉，乃濕熱之邪蘊於募原，對症者自當見效。）</p>
<p>二十一、忌治白喉者，各有忌藥：有忌升麻者，忌細辛者，忌麻黃者，忌白朮者，忌地黃者，並全忌表藥者。種種惡習深可慨嘆夫！症有必用，雖砒孀皆要藥；症不可用，雖參茸皆毒藥，若舍證而言藥，何藥不忌？</p>
<p>二十二、熱證過服表劑者，雖不愈，尚不死；誤服補劑者必死。虛寒證過服表劑者（升散太過，大傷元氣），誤服下藥者，不過五日必死。</p>
<p>二十三、表藥不過宣發內邪，使無遏抑，原不能取急效，治者不可因其無效而過服，或涼或溫，急宜轉方。</p>
<p>二十四、白喉惟地黃最難用。果系血虛、血熱、真陰虧損，非地黃莫治，否則不可輕投。大約近今少年，半多虛弱，亦半多剝喪，以致真元虧損而寒氣乘虛而入，直中少陰，迨入之深，外面雖不見症，而五內之受傷多矣。外甚者，肺管內俱白，非姜附何以攻出，但必用參朮歸地始能搗其巢穴，否則全不著痛癢，雖獲痊，可不免遲延時日耳。</p>
<p>而通之，神而明之，古方具在，不能備述。</p>
<p>辨證宜相天時，度地勢，審人事。大約夏秋多熱；春冬多寒。住平洋者多熱；住深山冷浸之地者多寒。體強者多熱，體弱者多寒。論虛實，不論肥瘦，好酒者多熱；好色者多寒。少壯者多熱；年老多寒。雖不盡然，此其大較也。</p>

<h1>辨脈法</h1>
<p>脈理至微，言難筆罄，只此數言，亦可辨證。</p>
<p>熱證脈主浮。浮細而數為風熱，其熱輕，宜清散（如升陽散火湯之屬）；浮洪而數，按之有力為實火，其熱重，宜下之（如清咽利膈湯之屬）；按之無力乃是假熱，宜補（補中益氣湯隨加）；若浮數而弦長則胃氣絕矣，不治（熱脈無沉，沉而牢實，亦為實火，宜下之）。</p>
<p>寒證脈主緊。浮數而緊為風寒，其寒輕，宜表散（荊防敗毒散）；沉細而遲緊，重按不見為虛寒。其寒重，宜溫補（如附桂理中湯之屬）；遲緩而緊按之有神，其寒在表裡之際，宜溫散。</p>
<p><u>鼠黏子解毒湯</u>　治肝肺火盛風寒相搏。</p>
<p>鼠黏子　桔梗　青皮　升麻　黃芩　花粉　甘草　黑元參　梔子　黃連　葛根　防風　生地　漂白朮</p>
<p><u>玄參湯</u>　治少陰邪熱。</p>
<p>玄參　桔梗　生地　赤芍　連翹　升麻　甘草　治同上。</p>
<p><u>滋陰降火湯</u>　治同上。</p>
<p>生地　當歸　知母　酒芍　川芎　麥冬　五味　黃柏</p>
<p><u>清胃散</u>　治胃火咽痛。</p>
<p>生地　丹皮　升麻　當歸　黃連　石膏</p>

<h1>匯方備用</h1>

<h2>熱證重劑</h2>
<p><u>清咽利膈湯</u></p>
<p>荊芥　防風　連翹　牛子　桔梗　薄荷　甘草　銀花　大黃　芒硝　黃芩　梔子　黃連　竹葉</p>
<p><u>普濟消毒飲</u>　治咽痛及頸項頭面俱腫者，名大頭天行，俗名蝦蟆瘟。</p>
<p>桔梗　連翹　升麻　柴胡　薄荷　僵蟲　陳皮　鼠黏子</p>
<p>一方無薄荷，有人參。便秘加大黃。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　黃芩　黃柏　梔子（等分）</p>
<p><u>大承氣湯</u></p>
<p>大黃（酒炒）　芒硝　厚朴　枳實</p>
<p><u>附子瀉心湯</u></p>
<p>大黃　黃連　黃芩　附子</p>

<h2>寒證輕劑</h2>
<p><u>荊防敗毒散</u>（見上）</p>
<p><u>五積散</u></p>
<p>麻黃　桔梗　川芎　白芷　桂枝　陳皮　半夏　茯苓　甘草　當歸　白芍　乾薑　蔥引　有濕加蒼朮　厚朴；有表症加羌活　防風　甚加附子。</p>
<p><u>參蘇飲</u></p>
<p>人參　紫蘇　葛根　前胡　半夏　茯苓　陳皮　桔梗　枳殼　甘草　木香　薑棗引煎。外感重者去棗加蔥白；無熱者去葛根或加麻黃、桂枝。</p>
<p><u>麻黃湯</u></p>
<p>麻黃　桂枝　杏仁　甘草（水炙）　或加附子　加人參。</p>
<p><u>麻黃附子細辛湯</u></p>
<p>麻黃　細辛　附子</p>

<h2>寒證重劑</h2>
<p><u>理中湯</u></p>
<p>人參　白朮（漂，米炒）　乾薑　甘草（水炙）　或加附子　肉桂</p>
<p><u>溫胃湯</u></p>
<p>人參　白朮　附子　乾薑　當歸　白芍　椒衣　厚朴　半夏　陳皮　甘草</p>
<p><u>四逆湯</u></p>
<p>附子　乾薑　甘草（水炙）　加桔梗</p>
<p><u>真武湯</u></p>
<p>附子　白朮　白芍　茯苓　生薑</p>

<h2>氣虛之劑</h2>
<p><u>補中益氣湯</u></p>
<p>黃耆　人參　白朮　當歸　白芍　陳皮　升麻　甘草（水炙）　柴胡　薑棗煎，如氣虛有熱，不能服涼劑者，加丹皮，梔子，麥冬；有濕者，加豬苓，澤瀉：有寒者加乾薑最妙。</p>

<h2>血虛之劑</h2>
<p><u>四物湯</u>　白喉證用四物湯者最少，但喉科實有此症，故存之。</p>
<p>地黃　當歸　川芎　酒芍　虛甚加乾薑（焙枯）或附子，郁加香附，火加知母、黃柏。日午發熱加丹皮、柴胡、梔子。</p>
<p><u>六味地黃湯</u></p>
<p>熟地　丹皮　山藥　澤瀉　棗皮　茯苓</p>
<p><u>八味丸</u></p>
<p>前方加附子肉桂。</p>
<p><u>理陰煎</u>　凡陰虛受寒，此為上品。</p>
<p>熟地　當歸　乾薑　肉桂　甘草（水炙）　寒甚加附子及麻黃，細辛之屬。短氣加人參。</p>
<p><u>鎮陰煎</u>　凡陰虛於下，火浮於上，此為降火神方。</p>
<p>熟地　附子　肉桂　甘草（水炙）　牛膝　澤瀉</p>

<h2>氣血兩虛之劑</h2>
<p><u>八寶丹</u></p>
<p>黃耆（酒炒，一兩）　人參（二兩）　白朮（一兩）　附子（一兩）　肉桂（二錢）　當歸（三錢）　熟地（三錢）　乾薑（四錢）</p>
<p><u>再造丹</u></p>
<p>人參（伍錢，如紋黨宜用八兩）　白朮（漂淨油，用米炒黃，一二兩）　熟地（用生薑炒仁煮，二兩）　附子（四兩，宜用童便或鹽水炒）　麥冬（去心蜜炙，五錢）　五味子（酒蒸，二錢）　鹿茸（兌服膠亦可，一錢或三錢）　乾薑（五錢）　破故紙（鹽水炒，八錢）　枸杞（一兩）　肉蓯蓉（制，一兩）　肉桂（去皮研泡，二錢）</p>
<p>此方如藥真制精，亦可望起死回生（有陳姓服此，即日開音）。</p>

<h1>吹噙法</h1>
<p>吹噙之法，亦有分別。如風痰壅勝，積熱腫痛，則用輕清寒涼之品。咽痛惡寒，忌膽礬收澀，使邪郁不舒，宜薑汁以漱之。如氣血兩虛，臟寒喉痛，或久病咽痛者，忌用冰片以卒竄，反致昏憒也，特集數方於左。</p>
<p><u>消風散</u>　治風熱</p>
<p>白芷（一錢）　桔梗（一錢）　薄荷（五分）　僵蟲（一錢）　牛子（一錢）　連翹（一錢）　川貝（八分）　冰片（三分）　人中黃（一錢）</p>
<p><u>清涼散</u>　治實熱</p>
<p>硼砂（三錢）　人中黃（二錢）　黃連（一錢）　薄荷（一錢）　青黛（四分）　冰片（五分）</p>
<p>又方治陰虛火盛。</p>
<p>黃柏（二錢）　乾薑（八分）　焙成灰</p>
<p>又方　治虛寒咽痛（或研末吹，或煎水噙嗽，不拘）　川椒衣（五分）　川烏（一錢）　細辛（三錢）　良薑（四分）　芥穗（一錢）</p>
<p>又方　治寒痛</p>
<p>肉桂（五分）　蛇床子（五分）　硼砂（五分）　姜（五分）</p>

<h1>治驗略述</h1>
<p>一人患白喉，小舌旁一邊一點，脈浮數而細。予用敗毒散，轉用連翹飲，未服，而予以他故往，其家恐藥之太輕也，別請醫，與涼膈散而病愈劇，繼又轉服荊防敗毒散加升麻而愈。此證輕而用重劑之一戒也。</p>
<p>一婦孕數月，病月餘矣。雜症多端，尚不知為白喉也（不因其痛，故也）一日偶言喉痛，視之，內關盡白。予曰：幸而未服涼劑也，急與溫胃湯，數日而愈。夫附子、半夏，孕忌藥也，竟無恙，後產一女。此虛寒用溫補之一法也（內關盡白的屬虛，寒因濕痰凝結也，誤服治白喉涼藥套方，必死無疑，慎之）。</p>
<p>一貨翁年五十餘，得一子，護惜倍至。凡食物之稍寒者，必禁勿與。忽患白喉症，痛不可當。予知其有積熱也，用清咽利膈湯，翁不與服予，辭去後，醫迎其意，以附術，未三日而死。此實熱必用涼寒之法也（如此方無偏見）。</p>
<p>一周姓有子三，長與季俱患白喉而死，人薦予往視之，白將滿矣，服理中湯而愈。後其家傳染者三人，一五積散，一連翹飲，一理中湯而愈。此傳染者所以不可拘方也。</p>

<h1>補錄良方</h1>
<p><u>秘傳吹喉錫類散</u></p>
<p>真象屑（焙）　真珍珠（各六分）　飛淨青黛（一錢二分）　上梅片（六釐）　壁錢（四十個，俗名喜兒窠，須用土磚上者，木板上者勿用，燈上燒焦）　真犀牛黃　人甲（各一分，燈上燒枯存性，男病用女，女病用男，合送濟人，須分別配之）。共研極細粉，塞緊勿泄氣。用時，取少許吹患處，流出惡涎即愈。此專治爛喉痧之神方也。乳蛾牙疳，口舌腐爛，凡屬外淫為患，諸藥不效者吹入患處，瀕死可活。昔張瑞符傳此方而得子，故名之曰錫類散。功效甚著，不能殫述。有力之家、預製救人、功德無量。</p>
<p><u>青龍白虎湯</u></p>
<p>橄欖（即青果，若未有新鮮者，鹽青果漂去鹽亦可）　白蘆菔　冷水煎服。橄欖色青，清足厥陰內寄之火風，而靖其上騰之炎。蘆菔色白，化手太陰外來之燥熱，而肅其下行之氣，合而為劑，消經絡留滯之痰，解膏粱魚面之毒，用以代茶，則龍馴虎伏，臟腑清和。豈但喉病之可免耶？即有在旁感受其氣而喉痛者，食此方亦可解，屢試屢驗。見功實多，且二味處處皆有，人人可服，物易功優，實能弭未形之患，勿以平淡而忽諸。</p>
<p><u>鳳衣吹蛾散</u></p>
<p>白喉熱證、雙單蛾、爛喉均可吹之，孕婦忌麝，去麝亦可。</p>
<p>青果炭（二錢）　黃柏（一錢）　川貝母（一錢五分）　大梅片（五分）　兒茶（一錢）　薄荷葉（一錢）　鳳凰衣（五分，即初生小雞蛋殼內衣）　飛硃砂（三分）　飛青黛（五分）　人指甲（五分）　上麝（一分）　孕婦忌之。</p>
<p><u>救急異功散</u>（此藥只可外敷，不可入口）</p>
<p>真血竭（六分）　制乳香（六分，去淨油）　斑蝥（四分）　全蠍（六分）　上梅片（三分）　制沒藥（六分，去油）　大元參（六分）　上麝（三分）　斑蝥（去頭、翅、足，糯米拌炒，以米色微黃為度，去糯米）　除血竭外，合諸藥共碾極細末，另碾血竭拌勻，瓷瓶收貯。按：血竭用少許磨指甲上，以紅透指甲者為真。若以諸藥同碾，則血竭飛去，市肆多以海母血作為，有腥氣。凡遇白喉、單雙蛾、纏喉風，關內外浸腫並頸項發腫，咽喉將閉及爛喉痧症，不拘何膏藥，開攤小張，將此散用黃豆大置膏藥上，距耳垂下半寸許軟處貼之。左腫貼左，右腫皆貼右，左右發腫，皆貼。閱五六時貼處即起水泡，用銀針或用熟針刺破，揩淨毒水。能消腫止痛，誠救急良方也。此方切忌入口，孕婦亦忌。</p>
<p><u>又：燕泥消腫法</u></p>
<p>燕窩泥（一塊）　土雄黃（三錢）　上梅片（三分）　共研極細末，燒酒調敷頜下腫處，干則透濕再敷。</p>
<p><u>回生萬應丹</u>　治白喉，單雙蛾、喉痹、喉癰、纏喉風、爛喉痧，陰虛喉痛等症，神效無比。如牛黃、珍珠、血竭不真則不效。</p>
<p>真牛黃（一錢）　川鬱金（四錢）　黃連（四錢）　兒茶（五錢）　白芷（二錢）　真珍珠（一錢）　滴乳石（五錢）　青黛（三錢）　薄荷（七錢）　硼砂（三錢）　真血竭（三錢）　川黃柏（三錢）　甘草（三錢）</p>
<p>牛黃用少許磨指甲上，以黃染透甲者為真。市肆多以駱駝黃混充。真珍珠不論圓扁，以通身有五彩光芒者為真，人乳浸二日，晾乾，研細，如堅結不能成粉，用豆腐煎兩晝夜即摧剛為柔，再合諸藥同碾極細，拌勻，瓷瓶收貯。早年京都傳染喉症，俗呼狼搗脖，傷人甚多，各方罔效，後得此方，救人最眾，此亦喉症第一神方也。</p>
<p><u>咽瘡方</u>　從舒氏傷寒集註錄出。</p>
<p>用雞蛋一個，打一小孔，濾去蛋清，將黃攪碎以水洗淨，燈心築滿蛋內，紙封孔，外包黃泥，曬乾，火煅紅透，候冷取出，研末二錢，壁錢長針穿，燈上燒枯，膽礬（瓦炕，研末）　鴨嘴（炕，研末）　雞內金（炕，研末）　真降香（研末）　黃丹（水飛炒研）　各一錢共研勻。鵝毛管吹。虛寒咽痛用燈芯灰（一錢，生附子漂去鹽，曬乾，研末，三錢）　共研勻，鵝毛管吹。</p>
<p>虛寒，實火，何以別之？凡虛寒者，不赤不腫，略可硬飯，而飲水咽津則甚痛。實火痛者，赤熱而腫，飲水咽津不甚痛，而飯則摻粒不能下。</p>

<h1>補錄名案數則</h1>
<p>蔣仲芳治一友，始而牙痛，既而咽腫，醫投涼藥，痛轉甚，診其脈沉細，大便一日二三次，浮火上升也，其足必冷，察之果然，以金匱腎氣丸料（即附桂八味加牛膝、車前）　作湯與之，服完即睡，覺來病如失。</p>
<p>裴兆期治一人，咽喉痛不能飲食，時作時止者半歲，吹喉科清痰降火藥，咸罔效。裴診之兩寸洪大而虛，足部虛而無力，兩足喜暖畏寒，口喜冷飲（乃假象）甫下咽，旋越去（內寒不受，真虛在此），此下真寒，上假熱也。治當從其性而伏之。用八味丸料加炒黑乾薑水煎，入青鹽少許為嚮導，冷而與之（服藥有法）三劑而愈。</p>
<p>吳孚先治柯子寧患咽喉齒痛，脈沉細，足冷，大便泄瀉，此腎虛龍火飛騰，欲用金匱腎氣。彼疑火症，恐附桂不合，或以石膏、黃連、連翹、苦寒進之，病益甚，復求治，用前方一劑減，二劑痊。</p>
<p>舒馳遠曰：胎如積粉，布滿無隙者，寒疫亦有此症（此處一錯，認生死如反掌）其人身重嗜臥，少氣懶言，法當驅陰回陽。若為熱疫，則必心煩口臭，身輕惡熱。曾醫堂嬸中寒喉痹，陰火上蒸，津垢結而成塊，堅白如骨，橫於喉間，痹痛異常。其症惡寒嗜臥，二便不利，白苔滑而冷，不渴，懶言，以上諸症雖囑虛寒，何以二便不利？蓋為陰寒上逆，喉間清涎成流而出，津液逆而不降，用生附子（驅陰散寒）　熟附子（助陽溫經）　桔梗（苦以發之）　甘草（甘以緩之）　半夏（辛以開之）　阿膠（以潤咽膈）　服一劑，喉間白骨即成腐敗而脫其半，痹痛稍緩，略可糜粥，小便漸長，三四劑而大便行，糞多且溏，如是十二劑而全愈矣。由今觀之，彼時識力尚欠，阿膠，桔梗可以不用，當用黃耆以助胸中之陽，白朮以助脾中之陽。接引真陽上達，更為合法（茯苓、白朮、半夏、白蔻亦決不可不用，蓋滿白腐塊，皆中焦寒濕，痰飲結成也）。又醫徒侄患中寒，人事倦臥，乳食少進，滿口布白，牙齦，上齶以及喉間皆無空隙，驗其症：舌上滑而冷（三字著眼），手足厥而小便清白，證與喉間白骨無異，方用附子理中（人參、白朮、附子、乾薑、甘草）加半夏、茯苓、固脂、白蔻大劑涉進，更濃煎生附汁，絹蘸頻攪口舌，如是者二三劑，溫醒胸中冷痰，吐出碗許，人事稍康。前藥投，冷痰漸熱，布白漸退。十二日乃得全愈。</p>
<p>是書因白喉症凶，醫多棘手，故專名白喉。辨證究竟，咽喉唇舌諸症，症不同而理則一，依此法治之，百無一失。</p>

<h1>白喉辨證</h1>
<p>湖南王裕慶祉庭氏著</p>
<p>白喉證，書所未載，而時醫目為疫症。謬矣！凡治病必先尋經絡，次察寒熱，次審虛實。虛實既定，雖雜病百出，可一以貫之。如白喉一症，亦寒暑之不時，血氣之不調所至。非人身之外別有一病也。焉有不審寒熱虛實而概指為疫乎。經云：赤屬熱，白屬寒。果如所言，則白喉只有寒而無熱。其曰：熱者亦從症而別之耳。若概指為疫，則只有熱而無寒矣。於理安在？此其弊皆由不辨脈，不辨症，徒聽時醫之說，以人之性命委諸無形之斧，及予甚恨之。詩酒之暇。因將白喉一症條分縷析，一寒一熱，頗費推敲。而寒熱之中又分輕重，庶用藥無毫釐千里之謬。書既成，或有疑之者曰：「既非疫，焉有傳染？」曰：「氣之相感，理之常然，如傷風、瘡毒之類，防身者每不與共寢食，若以傳染為疫，則傷風瘡毒不亦可云疫乎？」曰：「有傳染不傳染何也？」曰：「物必先朽也，而後蟲生之乎，其傳染者，其人內有寒熱而未發現也。故有同一室而傳與不傳各異，傳者之寒與熱亦各異」曰：「其色白，何也？」曰：「白屬肺，凡風寒暑熱之中人，未有不由肺入而傷肺者，喉為氣之門戶，故宜宣發。而時醫忌表藥，非也。」曰：「寒熱之為病多矣，而獨發於喉何也？」曰：「十二經惟足太陽主表，別下項，余皆內循於喉，盡得而病之也。蓋陽明為水穀之海，而胃氣直透咽喉，故喉疾惟陽明之火為最盛，少陽、厥陰為木火之臟，亦多熱證，少陰之脈絡於舌本，凡陰火沖逆，多生喉疾。但其中有虛有實，不得概從火斷，而少陰尤不可概從火斷。如酒色過度，真陰虧損，火無所歸，非壯水不可，否則，非溫補命門不可。此褚氏遺書所以□□□。」</p>
