<header data-type="book">
<h1>徐渡漁先生醫案</h1>
</header>

<h1>溫</h1>
<p>溫邪身熱熱不揚一候矣脈數無力舌苔白不厚老年正虛乏力送邪外達急解之以防內走</p>
<p>大豆卷　真川貝　淨連喬　枇杷葉　廣陳皮　竹茹　白杏仁　霜桑葉　雲茯苓</p>
<p>溫邪挾濕胸悶脈數表熱咳嗽邪戀肺胃也清解之</p>
<p>川桂枝　仙半夏　淨連翹　大豆卷　廣陳皮　雲茯苓　廣藿香　江枳殼　生甘草</p>
<p>濕溫發熱四日有汗不解脈濡舌不生苔邪深戀也</p>
<p>大豆卷　江枳殼　淨連喬　杜藿梗　仙半夏　竹茹　枇杷葉　廣陳皮　雲茯苓　大麥芽</p>
<p>濕溫病一候之前惟宜解達</p>
<p>大豆卷　仙半夏　雲茯苓　杜藿梗　廣陳皮　川通草　江枳殼　白蔻仁</p>
<p>濕溫五日陽明表裡兼阻三焦不通上下失貫陡致呃忒脈細且伏一候不得大汗慮其神昏變幻</p>
<p>枇杷葉　淨連喬　雲茯苓　玉桔梗　廣橘紅　柿蒂　白杏仁　竹茹　刀豆子　白茅根</p>
<p>濕溫解後復病灼熱無汗頭蒙膺悶表里兩阻煩勞之體兼發勞倦病甫兩日溫邪挾滯周體作痛表熱脈數解達之</p>
<p>大豆卷　仙半夏　淨連喬　霜桑葉　廣陳皮　竹茹　白杏仁　枇杷葉　雲茯苓　川通草</p>
<p>邪正張揚非輕淺者</p>
<p>梔子　枳實　淨連喬　淡豆豉　仙半夏　竹茹　制香附　廣陳皮　大麥芽</p>
<p>濕溫內蒸一旬餘而不解仍戀陽明濕乃黏著之邪是以□纏和之清之</p>
<p>大豆卷　江枳殼　竹茹　仙半夏　大腹皮　雲茯苓　廣陳皮　淨連喬　川通草　大麥芽</p>
<p>濕溫化火內蒸兩候餘矣脈細弦數舌紅苔剝渴飲初起似瘧灼傷陰液連熱不已陽明之邪多於少陽甘涼辛涼玎濟之</p>
<p>羚羊角　霜桑葉　淨連喬　鮮生地　白杏仁　天花粉　枇杷葉　川貝母　竹茹</p>
<p>濕溫病邪迫臟腑而致便泄表熱仍蒸脈細數耎舌乾苔黃詢是濕熱內蒸陽明表裡俱病當從手足二經治之</p>
<p>杜藿梗　雲茯苓　生甘草　淡黃芩　山查炭　大麥芽　陳廣皮　建神麯　青荷梗</p>
<p>溫邪退而復蒸蒸而復退胸膈稍舒脈數未和將在化火又恐復熱常以清解</p>
<p>羚羊角　川貝母　雲茯苓　大豆卷　淨連喬　廣橘白　枇杷葉　天花粉　白茆根　青荷梗</p>
<p>濕熱蒸於內暑氣侵於外蒸灼三候有餘舌絳無苔嗌乾渴飲　脈細弦數陽明熱深且熾矣宜乎甘寒化解</p>
<p>大生地　肥知母　淡竹葉　大麥冬　川貝母　粳米　生石膏　淨連喬　藕汁　枇杷葉　蔗漿</p>
<p>陽明濕邪甫一候汗出未遍猶是蒸熱尚在氣分幸未侵營仍從陽明氣分清達滋熄</p>
<p>羚羊角　白杏仁　玉枯梗　淡豆豉　川旦母　淨連喬　大生地　天花粉　橘紅　枇杷葉</p>
<p>暴暑侵感身熱往來脈數渴飲達之</p>
<p>香青蒿　江枳殼　竹茹　大豆卷　淨連翹　雲茯苓　川貝母　廣橘白　青荷梗</p>
<p>暑氣熏蒸挾滯阻腑脘腹痛而便秘芳香宣通之</p>
<p>杜藿梗　火麻仁　廣桔白　制香附　大砂仁　云伏苓　瓜蔞仁　江枳殼　大麥芽</p>
<p>暑濕熱混蒸發熱嘔惡舌垢便利脈濡數三焦不通先以解達兼和之</p>
<p>真川連　仙半夏　竹茹　杜藿梗　廣陳皮　雲茯苓　大豆卷　江枳殼　川通草　大麥芽</p>
<p>病一候酷暑助邪鬱蒸於陽明表不達汗脈細數不顯舌紅苔垢邪伏也非輕淺者</p>
<p>黃連溫膽湯　加羚羊角　枇杷葉</p>
<p>病九日酷暑日逼更易化火舌絳液涸脈極數急清之</p>
<p>烏犀角　川貝母　江枳殼　羚羊角　天花粉　淨連喬　大生地　霍石斛　淡竹葉</p>
<p>暑傷氣營舌絳脈數辛寒甘寒清解之</p>
<p>烏犀角　生石膏　淨連喬　大生地　川貝母　枇杷葉　大麥冬　肥知母　淡竹葉</p>
<p>暑暍薰蒸發熱朝緩夕劇頭蒙脈濡舌垢邪深戀伏一候解達為串</p>
<p>杜藿梗　廣橘白　飛滑石　淡豆豉　江枳殼　雲茯苓　仙半夏　淨連翹　白蔻仁　川通草</p>
<p>暑熱薰灼晨退午蒸陽明病也一候之前只宜解達</p>
<p>社藿梗　仙半夏　淨連翹　淡豆豉　廣橘白　雲茯苓　江枳殼　竹茹　六一散</p>
<p>表解而里未和也清之和之</p>
<p>溫膽湯　加鮮石斛　蓮子　穀芽</p>
<p>病一候暑濕深伏陽明嘔惡舌垢脈數不歇邪戀不解且與苦泄</p>
<p>黃連溫膽湯　加廣藿香　淨連翹　飛滑石</p>
<p>暑濕內蒸身熱作咳舌垢脈數一候矣仍當解達</p>
<p>黃連溫膽湯去草　加枇杷葉　白杏仁　飛滑石　川通草　香薷</p>
<p>傷暑發熱旬日愈而復蒸神蒙脈數舌有苔渴症非淺者</p>
<p>羚羊角　仙半夏　淨連翹　大豆卷　廣橘白　竹茹　杜藿梗　江枳完　雲茯苓</p>
<p>素有血症陰分內熱近感暑熱日午潮熱脈細小數陰虛內熱宜乎清化</p>
<p>羚羊角　川貝母　淨連翹　大生地　天花粉　香青蒿　霍石斛　廣橘白　雲茯苓</p>
<p>煩勞傷中藉感暑邪表發熱頻呃□手振脈數而虛氣虛邪戀非輕淺者扶氣達邪投之再處</p>
<p>人參鬚　江枳殼　公丁香　旋覆花　竹茹　柿蒂　枇杷葉　刀豆子　白茅根</p>
<p>暑傷氣氣虛呃□清暑必主扶氣</p>
<p>人參鬚　仙半夏　刀豆子　旎復花　廣橘紅　柿蒂　代赭石　竹茹　生甘草　枇杷葉</p>
<p>暑風閉腠發熱頭蒙胸悶嘔惡脈濡數汗不遍身舌無苔邪深戀也解達之</p>
<p>香薷　仙半夏　杜藿梗　川連　廣陳皮　雲茯苓　大麥芽</p>
<p>汗出熱不退邪深戀也病已一候清達為宜</p>
<p>羚羊角　枇杷葉　淨連翹　大豆卷　竹茹　廣陳皮　白杏仁　江枳殼　生甘草</p>
<p>風熱內蒸暑風外侵三候餘而表熱未解化火傷陰劫津脈極滑數深戀陽明勢將走入陰經非輕淺清解達泄辛涼甘涼兼施之</p>
<p>烏犀角　川具母　枇杷葉　羚羊角　肥知母　白茅根　鮮生地　淨連翹　竹瀝　金石斛　冬瓜子</p>
<p>陽明熱熾劫津生痰深戀肺胃咳不爽脈濡數與西昌法</p>
<p>烏犀角　霜桑葉　淨連翹　鮮生地　白杏仁　枇耙葉　生石膏　川貝母　生甘草　竹瀝</p>
<p>暑風發熱襲於肺中咯吐腥痰脈極數舌絳乾涸陽明熱熾戕陰也滋清之</p>
<p>羚羊角　真川貝　白杏仁　鮮生地　肥知母　淨連翹　大豆卷　天花粉　冬瓜子　白茅根</p>
<p>現發疝氣厥陰疾也又襲暑風音嘶發熱舌白膩脈浮數陽明病也先去客邪而後治疝從陽明表分立方</p>
<p>杜藿梗　仙半夏　淨連翹　大豆卷　廣陳皮　雲茯苓　玉桔梗　江枳殼　川通草　青荷梗</p>
<p>表熱里泄脘悶腹痛脈弦數舌經苔黃暑濕兼滯病在少陽陽明之間宜乎表裡兩解</p>
<p>柴胡　淡黃芩　福澤瀉　粉葛根　山查炭　廣橘白　廣本香　建神麯　雲茯苓　大砂仁</p>
<p>里泄雖止表熱未清穀入腹痛仍應溫中</p>
<p>真川連　建神麯　廣陳皮　粉葛根　山查炭　雲茯苓　淡黃芩　生米仁　大麥芽　飛滑石　生甘草</p>
<p>傷暑發熱□纏匝月發熱不壯當可納穀是以未走營分仍在氣分尚當清達</p>
<p>香青蒿　霜桑葉　竹茹　淡黃芩　江枳殼　冬瓜子　白杏仁　川貝母　雲茯苓　玉桔梗　淨連翹</p>
<p>暴暑薰蒸偶爾感受嘔妨谷脘悶蒙脈濡且數三焦不宣先當清暑主用芳香</p>
<p>廣藿香　仙半夏　江枳殼　干佩蘭　廣陳皮　雲茯苓　飛滑石　淨連翹　大麥仁　青荷梗</p>
<p>始而作咳繼而咽塞妨谷脘悶腹膨脈濡澀且便溏匯三焦不宣不貫吸受暑邪致此芳香宣達以通三焦</p>
<p>杜藿梗　江枳殼　雲茯苓　玉桔梗　建神麯　川通草　大腹皮　廣陳皮　鮮荷葉</p>
<p>失血之後陰虛內蒸又感暑邪發熱二候脈細數宜乎從陰化邪</p>
<p>鮮生地淡豆豉同打　淨連翹　淡竹葉　天花粉　枇杷葉　羚羊角　川貝母　青荷梗</p>
<p>傷暑旬日表里俱阻氣逆嘔吐脈濡數伏不慎起居病將增劇焉可就診傷暑而又被暑侵也如之何則可</p>
<p>真川連　江枳殼　雲茯苓　仙半夏　建神麯　鮮稻葉　廣陳皮　竹茹　鮮荷葉</p>
<p>晝暑夜涼感於陽明兼走少陽脈弦數舌黃苔垢妨穀粒陽明邪多於少陽清化之</p>
<p>羚羊角　霜桑葉　淨連翹　鮮生地　仙半夏　冬瓜子　大豆卷　江枳殼　蘆根　枇杷葉　白杏仁</p>
<p>伏暑似瘧挾濕內蒸表熱甫退脈滑數舌紅苔黃而垢膩邪未淨也清化之</p>
<p>香青蒿　天花粉　淨連翹　鮮石斛　川貝母　竹茹　枇杷葉　肥知母　廣橘紅　鮮稻葉</p>
<p>秋暑蒸灼但熱不寒有似癉瘧脈細數弦滑起於午蒸於晡劇於夜甫於一候仍應解達</p>
<p>大豆卷　江枳殼　雲茯苓　老蘇梗　天花粉　川通草　淨連翹　廣陳皮</p>
<p>伏暑發熱甫四日邪戀陽明之表先當解達</p>
<p>杜藿梗　江枳殼　淨連翹　淡豆豉　廣陳皮　雲茯苓　枇杷葉　白蔻仁　大麥仁　川通草</p>
<p>日哺不寒而熱脈濡數滑舌紅苔黃暑邪內伏欲化火辛涼清之</p>
<p>香青蒿　粉丹皮　淨連翹　白杏仁　川貝母　廣橘紅　枇杷葉　肥知母　雲茯苓　大麥仁</p>
<p>伏暑發熱退而復蒸舌紅苔黃垢膩脈弦滑數秋令行□與西昌法</p>
<p>羚羊角　生石膏　淨連翹　霍斛　霜桑葉　廣陳皮　鮮生地　白杏仁　生甘草　枇杷葉</p>
<p>伏暑挾濕內蒸似瘧不準脈細弦數舌苔滑膩納穀腹膨表熱不振邪戀陽明老年氣虛而不能振達也</p>
<p>杜藿梗　廣陳皮　淨連翹　大腹皮　生薑皮　雲茯苓　桑白皮　江枳殼</p>
<p>新涼束暑屢欲發熱不定日期脈弦細舌灰苔干陰分漸虛暑濕猶戀當清少陽之熱</p>
<p>香青蒿　川貝母　江枳殼　大生地　地骨皮　廣橘紅　霍斛　淨連翹　雲茯苓　竹茹</p>
<p>陽明伏暑經府交病表熱里泄脈弦細數五日矣與柴葛解肌法</p>
<p>柴胡　仙半夏　建神麯　粉葛根　廣陳皮　生甘草　淡黃芩　江枳殼　雲茯苓　竹茹</p>
<p>伏暑兩候邪火深熾劫奪陽明津液勢將內陷生風形神色脈一派火象急投辛寒甘寒已嫌遲也</p>
<p>烏犀角　霍斛　淨連翹　鮮生地　川貝母　陳膽星　大麥冬　肥知母　人中黃　竹瀝</p>
<p>伏暑甫熱微蒸不寒而熱脈細弦高年矣輕味清化之</p>
<p>香青蒿　肥知母　廣橘紅　大生地　地骨皮　雲茯苓　霍斛　淨連翹　稻穀</p>
<p>秋暑化燥燥邪入肺咽痛咳嗆入夜微熱舌紅苔黃脈細數少陽之陽明兼症清達之</p>
<p>黃連溫膽湯　加霜桑葉　枇杷葉　白杏仁　玉桔梗</p>
<p>涼風束暑暑熱內蒸不達於表頭痛脈弦膺悶□纏多日由陽明而走少陽仍應清化</p>
<p>羚羊角　地骨皮　廣橘白　大生地　女貞子　雲茯苓　白蒺莉　淨連翹</p>
<p>秋暑灼肺咳嗆發熱頭痛脈細數衰年矣慮其不勝灼熱內走之虞</p>
<p>羚羊角　霜桑葉　淨連翹　大豆卷　川貝母　青荷梗　玉桔梗　江枳殼</p>
<p>伏暑逾一候依然薰熱舌紅不起苔唇燥皮赤者邪化火而不達復增寒熱咳嗽邪兼於肺幸也宜從陽明立方</p>
<p>羚羊角　白杏仁　淨漣翹　大豆卷　川貝母　枳實　枇杷葉　天花粉　廣橘紅　竹茹</p>
<p>秋金燥邪灼肺咳嗆晡熱脈浮數舌紅苔黃嗌乾宜清之</p>
<p>大豆卷　霜桑葉　淨連翹　玉桔梗　白杏仁　蛤谷　枇杷葉　川貝母　廣橘紅</p>
<p>伏暑內熱□纏兩旬似瘧不準退而復熱熱而復退舌白脈濡膺悶未經汗解邪猶深戀少陽陽明兼症辛涼甘涼相濟而施一定之理也</p>
<p>羚羊角　仙半夏　淨連翹　白杏仁　廣陳皮　大麥仁　枇杷葉　枳實　雲茯苓　竹茹</p>
<p>伏邪發熱秋杪燥令尚甚熱戀陽明化火內熾唇燥齒乾脈數身熱劇於夜分清達宜主辛涼</p>
<p>烏犀角　川貝母　淨連翹　金石斛　肥知母　枇杷葉　大生地　天花粉　人中黃</p>
<p>伏暑發於秋末先寒後熱已交初冬似瘧不準從未服劑伏邪深戀清解少陽陽明一定之理也</p>
<p>茯苓　霜桑葉　仙半夏　天花粉　淡黃芩　廣陳皮　竹茹　香青蒿　江枳殼　枇杷葉</p>
<p>伏暑至秋牛而發不寒而熱熱作於夜脈細弦舌苔膩口甜作渴妨飲陽明濕熱暗助少陽之暑邪也本質之濕熱浮於秋令之暑熱</p>
<p>桂枝白虎合二陳湯二法兼施加稻穀</p>
<p>伏邪發於初冬不達於外內蒸轉劇發熱咳嗽脈極數而細軟□纏之邪未達而陰驟虛舌絳黃苔灰垢邪猶內燔正氣不支邪正兩脫不可不慮也</p>
<p>金石斛　生石膏　石決明　生地　川貝母　茯神　大麥冬　肥知母　枇杷葉</p>
<p>陽明熱熾邪已化火灼陰涸液肝風欲動仍在險途也</p>
<p>鮮生地　肥知母　雲茯苓　生石膏　石決明　淡竹瀝　大麥冬　枇杷葉</p>
<p>陽明邪火內熾連進甘寒似有出表之機且與西昌法</p>
<p>烏犀角　霜桑葉　川貝母　鮮生地　白杏仁　生甘草　大麥冬　生石膏　枇杷葉</p>
<p>陽明熱熾暗灼真陰滋陰滌熱必然矣</p>
<p>烏犀角　生石膏　茯神　鮮生地　川貝母　枇杷葉　大麥冬　肥知母　淡竹油　石決明　淨連翹</p>
<p>感冒新寒營衛失和諸絡痠楚脈濡澀細當歸桂枝湯加味治之</p>
<p>白當歸　炮姜　廣陳皮　川桂枝　上白朮　雲茯苓　大白芍　大麥冬　生甘草　枸杞子</p>
<p>新寒里食身熱而脘痛且和之疏泄之</p>
<p>紫蘇梗　仙半夏　淨連翹　白杏仁　廣陳皮　雲茯苓　大麥冬　江枳殼　大腹皮　南查炭</p>
<p>親寒襲衛惡風發熱頭痛脈浮數解達之</p>
<p>大豆卷　仙半夏　白茯苓　白杏仁　廣陳皮　川通草　霜桑葉　江枳殼　枇杷葉　淨連翹</p>
<p>營陰衛陽不和營不守衛不護當歸桂枝湯加橘半宜之</p>
<p>風傷衛頭痛脈浮惡風翕翕發熱太陽病也疏解之桂枝湯加減治之</p>
<p>風傷衛惡寒惡風脈浮緩熱芒於夜表邪猶在仍作太陽治之用桂枝湯加減</p>
<p>冬溫一候頭蒙發熱脈浮數舌紅嗌乾風化火也清泄之</p>
<p>羚羊角　霜桑葉　淨連翹　大豆卷　白杏仁　大麥仁　枇杷葉　江枳殼</p>
<p>冬溫發熱咳嗽脈浮數清解之</p>
<p>大豆卷　霜桑葉　淨連翹　玉桔梗　川貝母　鮮藕節　白杏仁　廣橘紅</p>
<p>冬溫六日邪戀肺胃入暮熱之極囈語咳嗽氣急舌紅口渴脈未達者已化火也先從陽明解達得汗乃妥</p>
<p>羚羊角　霜桑葉　雲茯苓　大豆卷　白杏仁　淨連翹　玉桔梗　川貝母　白蘆根　枇杷葉　江枳殼</p>
<p>風溫病陽明兼走少陽表熱乍蒸乍退脈數咳嗽一候矣從少陽陽明清之</p>
<p>香青蒿　霜桑葉　淨連翹　大豆卷　白杏仁　枇杷葉　玉桔梗　川貝母　鮮霍斛　地骨皮</p>
<p>冬濕一候化火內蒸表熱不揚舌紅苔黃脈浮數邪戀陽明猶蒙表分解達兼清以宣化氣機之蒙遏也</p>
<p>羚羊角　霜桑葉　枇杷葉　大豆卷　肥玉竹　白茆根　玉桔梗　江枳殼　白杏仁　淨連翹</p>
<p>冬溫化熱陽明少陽兼症朝涼暮熱脈弦數舌絳苔黃仍以清化</p>
<p>羚羊角　香青蒿　枇杷葉　鮮生地　川貝母　廣橘紅　大麥冬　肥知母　生甘草　生石膏　淨連翹</p>

<h1>瘧疾</h1>
<p>暑風為瘧化熱蒸灼脈眩數嗌乾渴飲陽明瘧也和解兼清之</p>
<p>銀柴胡　江枳殼　雲茯苓　括蔞　廣陳皮　大麥芽　淡黃芩　淡竹茹　青荷梗</p>
<p>寒輕熱重脈數而眩舌苔不布胸脘瞀悶陽明邪多於少陽也仍與柴胡加括蔞湯</p>
<p>柴胡加括蔞根　川通草　火麻仁　大麥仁</p>
<p>暑風為瘧瘧日作作於夜脈弦而數寒熱俱甚解達之</p>
<p>柴胡溫膽湯　加枇杷葉　大麥仁</p>
<p>暑濕為瘧瘧雖輕短餘邪留戀脈濡極數居素中虛濕戀不清也和之乃穩</p>
<p>六君子湯去參　加生薑　大棗　大腹皮</p>
<p>老年元虛不克瘧擾殊深變症扶正達邪</p>
<p>小柴胡湯合當歸桂枝湯治之</p>
<p>暑風化火為瘧必須甘寒化解與仲聖法</p>
<p>竹葉石膏湯去芩治之</p>
<p>暑風濕熱溷蒸為瘧瘧作間日寒輕熱重舌白苔黃脈弦數頭痛胸悶暑濕深重也當與提達兼和之</p>
<p>銀柴胡　仙半夏　雲茯苓　淡黃芩　廣陳皮　川通草　括蔞仁　江枳殼　鮮蘆根　大麥仁　淡竹茹</p>
<p>濕溫瘧間日作佗時嘔惡頭脹少陽陽明瘧也和解兼清之</p>
<p>香青蒿　大腹皮　雲茯苓　肥知母　廣陳皮　淡竹茹　江枳殼　生薑皮　生甘草</p>
<p>濕溫化瘧瘧久傷陰脈細弦少陽陽明兩不和諧也滋清化之</p>
<p>大生地　肥知母　天花粉　鱉甲　仙半夏　淡竹茹　香青蒿　廣陳皮　雲茯苓</p>
<p>三陰瘧將及一載猶是蒸灼脈細數而弦獨在少陽一經只宜和解</p>
<p>銀柴胡　白歸身　仙半夏　鱉甲　大白芍　廣陳皮　何首烏　粉甘草　雲茯苓</p>
<p>瘧轉三陰由陽入陰也勢所□纏</p>
<p>鱉血拌銀柴胡　仙半夏　雲茯苓　鱉甲　廣陳皮　大麥芽　淡黃芩　淡竹茹　江枳殼　炙甘草</p>
<p>瘧作三陰經年矣雖能納穀脈細猶弦三陽腑病而為三陰臟病宜其拖延歲月達邪宜顧陰宜益氣氣能生陰則不能傷氣氣充而瘧可退也</p>
<p>銀柴胡　何首烏　煨草果　芋術　仙半夏　白歸身　黃耆　廣陳皮　大白芍　鱉甲　淡黃芩　雲茯苓　粉甘草</p>
<p>瘧後脈和司消導失權營衛尚不和諧惟恐寒熱復作</p>
<p>何首烏　仙半夏　白歸身　肥知母　廣陳皮　大白芍　煨草果　粉甘草　雲茯苓　鮮稻須</p>
<p>瘧復作猶間日脈猶弦當和解不宜補</p>
<p>銀柴胡　江枳殼　雲茯苓　肥知母　仙半夏　粉甘草　煨草果　廣陳皮　大麥仁　白歸身</p>
<p>瘧作寒重熱輕秋涼束暑也</p>
<p>括蔞桂枝湯合二陳以治</p>
<p>秋氣已肅瘧猶未止必須兩和營衛</p>
<p>銀柴胡　仙半夏　白歸身　川桂枝　廣陳皮　大白芍　煨草果　雲茯苓　炙甘草</p>
<p>伏暑瘧間日作而轉為三日一作邪兼厥大少是以設之三陰瘧也久則耗氣傷陰治宜和補截之未善也</p>
<p>何首烏　仙半夏　白歸身　左牡蠣　廣陳皮　大白芍　絲瓜絡　雲茯苓　粉甘草　鉤藤勾</p>
<p>伏暑瘧轉為三陰瘧寒頗重脈反強細邪深伏也截之尚早宜乎兩調營衛</p>
<p>銀柴胡　仙半夏　白歸身　川桂枝　廣陳皮　大白芍　淡黃芩　雲茯苓　生薑　竹茹　粉甘草　大棗</p>
<p>瘧邪深伏募原暑濕熱三氣頗重節交秋令瘧邪當令和解瘧邪必兼達原</p>
<p>銀柴胡　仙半夏　檳榔　真川連　廣陳皮　雲茯苓　括蔞　枳實　粉甘草</p>
<p>茯邪鬱蒸癉熱不寒日晡而作癉瘧也陽明邪兼少陽咳嗽脈浮且數宜從少陽陽明清之</p>
<p>羚羊角　川貝母　淨連翹　香青蒿　江枳殼　枇杷葉　霜桑葉　淡竹茹　白杏仁　廣橘紅</p>
<p>伏暑瘧已在深秋秋涼氣肅反助鬱蒸望七之年氣營兩衰必當扶正而後達邪宜和解</p>
<p>小柴胡湯治之</p>
<p>新寒引動伏邪瘧髮間日寒頗重而熱輕短脈細小而遲衛氣不與營和也</p>
<p>當歸桂枝湯治之</p>
<p>瘧復作中虛不化也濕重</p>
<p>白朮　仙半夏　大白芍　江枳殼　廣陳皮　雲茯苓　秫米</p>
<p>胎瘧本易反復因循失治邪戀募原三月矣元不能復營衛失調則陰陽不和納少便溏脈微宜平中宮</p>
<p>芋術　仙半夏　炙甘草　大白芍　廣陳皮　秫米　炮姜　雲茯苓</p>
<p>瘧後餘熱未盡內蒸由秋未至春初不瘥黃昏猶是潮熱脈細極數面目虛浮元氣不振餘邪未淨也邪雖留戀不可從表只宜扶肋正元元氣充復則餘邪自退矣</p>
<p>制首烏　芋術　地骨皮　大鱉甲　仙半夏　廣橘紅　大生地　女貞子　雲茯苓　大麥冬　香青蒿　炙甘草　料豆衣</p>
<p>似瘧非瘧□纏二月餘咳嗽形消色奪脈芤數會失血青年得此大非所宜怯之一途不免矣</p>
<p>制首烏　川貝母　廣橘紅　大鱉甲　女貞子　炙甘草　料豆衣　地骨皮　香青蒿　大白芍</p>

<h1>痢疾</h1>
<p>便泄腹痛脈濡妨谷脾胃失司且與清暑和脾</p>
<p>廣藿香　仙半夏　建神麯　扁豆衣　廣陳皮　雲茯苓　宣木瓜　南查炭　炙甘草　鮮荷葉</p>
<p>暑濕夾滯混蒸發熱熱退便泄腹痛舌苔猶膩脈濡數三焦夫貫清之和之</p>
<p>廣霍香　江枳殼　春砂仁　大豆卷　建神麯　雲茯苓　飛滑石　廣陳皮　川通草　淨連翹　大麥仁</p>
<p>表邪里出化而為痢痢下後重脈細數暑濕夾滯也當升清導滯</p>
<p>粉葛根　建神麯　飛滑石　真川連　南查炭　粉甘草　淡黃芩　小青皮</p>
<p>失血陰虧之體又感暑邪迫腸而致便池和兼清之</p>
<p>廣藿梗　建神麯　建軍子　扃豆衣　廣陳皮　青荷梗　淮山藥　雲茯苓　宣木瓜　粉甘草</p>
<p>暑傷氣濕阻氣表熱里泄脈微呃□高年中虛邪戀必當溫陽達邪</p>
<p>升麻　公丁香　雲茯苓　芋術　柿蒂　粉甘草　廣陳皮　刀豆子　白茅根</p>
<p>老年中虛濕熱內阻阻閉三焦氣機上呃下腹痛脈微便溲短通貫三焦必兼溫陽逐邪</p>
<p>芋術　公丁香　大白芍　乾薑　柿蒂　炙甘草　仙半夏　刀豆子　枇杷葉　廣陳皮　雲茯苓</p>
<p>高年中虛氣逆呃喊</p>
<p>野於朮　刀豆子　炙甘草　代赭石　乾薑　枇杷葉　仙半夏　廣橘紅　火麻仁　大白芍</p>
<p>始初霍亂而為痢痢下無度腹痛後重脈濡澀數邪滯深結中宮必當推蕩使下</p>
<p>升麻　廣木香　小青皮　粉葛根　建神麯　飛滑石　野於朮　南查炭　粉甘草　川稚連　枳實（方中葛升二昧似不甚合宜）嘯山注</p>
<p>暑邪夾滯混蒸為痢紅滯居多後重脈濡陽明氣隅先宜升清泄濁</p>
<p>升麻　川黃柏　小青皮　粉葛根　福澤瀉　廣陳皮　野於朮　建神麯　粉甘草　白歸身　南查炭　鮮荷蒂</p>
<p>便泄三日當不後重脈濡數暑濕食滯留戀陽明急當升清降濁</p>
<p>粉葛根　建神麯　炙甘草　上白朮　南查炭　鮮荷邊　廣木香　上廣皮　淡黃芩　赤茯苓（此方頗佳）嘯山注</p>
<p>伏暑釀痢冬令而發由冬及春至夏半載餘矣脈細數舌光紅痢傷陰也擬仲聖法</p>
<p>黃連阿膠湯加建神麯　南查炭　廣橘白</p>
<p>久痢傷陰惟宜鹹苦當復前法</p>
<p>黃連阿膠湯加上冬朮　上廣皮　雲茯苓</p>
<p>久痢半載餘矣脈數舌光大傷真陰惟宜滋降</p>
<p>生地　白芍　黃連　阿膠　甘草　陳皮　山藥　建神麯　雞子黃　雲茯苓</p>
<p>痢後休息半載餘矣兩傷臟陰是以□纏固攝足三陰一定之道</p>
<p>真川連　補骨脂　肉果　大熟地　菟絲子　大白芍　上冬朮　五昧子　粉甘草　清阿膠　廣陳皮　雞子黃（妙方）嘯山注</p>
<p>休息痢將成一載且有夢泄足三陰臟真極虛也固攝之</p>
<p>野於朮　五味子　云茯神　大熟地　肉果　粉甘草　補骨脂　白歸身　炮姜　菟絲子　大白芍　淮小麥</p>
<p>痢成休息固屬□纏培補足三陰一定之理</p>
<p>野於朮　菟絲子　廣陳皮　大熟地　五味子　大白芍　淡吳萸　枸杞子　粉甘草　補骨脂　肉果　炮姜</p>
<p>痢延半載餘成休息矣猶有下重脈細弦邪深藥淺是以□纏李東垣清暑益氣主之</p>
<p>益氣湯（去參耆麥冬五味棗）加大白芍　廣木香　治之</p>
<p>痢成休息濁邪下阻清陽不升猶欲後重仍當升清泄濁</p>
<p>升麻　建神麯　大白芍　粉葛根　南查炭　廣陳皮　野於朮　福澤瀉　小青皮　茅朮　川黃柏　粉甘草　廣木香　白歸身</p>
<p>休息久痢臟真極虛脈細無力溫攝脾腎先調奇經</p>
<p>鹿角霜　枸杞子　廣陳皮　野於朮　肉果　雲茯苓　大熟地　白歸身　粉甘草　菟絲子　大白芍　炮姜</p>
<p>老年脾腎兩虛下痢而腰痛脈微細必當溫補脾腎庶可止之</p>
<p>大熟地　菟絲子　廣陳皮　厚杜仲　五味子　炙甘草　補骨脂　肉果　炮姜</p>
<p>痢已止胃納不醒宜培中土以資生化</p>
<p>野於朮　建神麯　大白芍　菟絲子　上廣皮　粉甘草　益智仁　雲茯苓</p>
<p>痢下紅滯猶欲後重脈細極數初秋而起秋末未止氣陰兩虧濕滯留戀興仲聖法</p>
<p>真川連　淡黃芩　大白芍　清阿膠　白頭翁　粉甘草　廣木香　北秦皮　雞子黃</p>
<p>濕熱下痢百餘日矣州都亦不氣化以致濕熱壅阻是以久延不瘥先應導滯滋干與金匱豬苓湯原方</p>
<p>豬苓　雲茯苓　飛滑石　清阿膠　福澤瀉</p>
<p>久痢漸止溲又赤濕熱未淨也</p>
<p>豬苓湯加野於朮上廣皮治之</p>
<p>休息痢厯秋冬而延及春夏依然未瘥本土不和久矣術菟理中四神主之</p>
<p>野於朮　粉甘草　五味子　菟絲子　淡吳萸　肉果　淡乾薑　補骨脂　大白芍</p>

<h1>雜症</h1>
<p>心神兩虛宜交坎離</p>
<p>人參　左牡蠣　酸棗仁　大熟地　淮山藥　云茯神　大天冬　山萸肉　清阿膠　花龍骨</p>
<p>青年血氣初定而有道泄卻無夢境脈細尺數坎離失交皆已之心猿意馬也</p>
<p>急宜畢姻以和陰陽不藥可愈雖如是然必須靜心勿屢動凡念以保天真尤為要旨</p>
<p>治宜八仙長壽合救逆兩方中（去丹皮澤瀉桂枝蜀漆茯苓）加云茯神素體怯弱無他病惟不任煩勞下真不足也自保之</p>
<p>大生地　北沙參　女貞子　大麥冬　淮山藥　穭豆衣　金石斛　南欠實　云茯神</p>
<p>三陽頭痛陰不制陽陽升太過也即水火未濟之義須保下真真水充盈庶幾虛陽以涵陰而後可以止痛主治之法壯水以制陽光一定不易之道也</p>
<p>大熟地　淮山藥　女貞子　天門冬　山萸肉　穭豆衣　明天麻　石決明　大白芍</p>
<p>不得情志則有所思思則偏於心神為之失藏失守似癇非癇如呆而木脈促而亂大凡七情之感心肝脾不得其藏者而起也心藏神肝藏魂脾藏意一有不藏且不可況此全失其藏者乎填攝鎮三者兼施醫功草木調其偏勝然必自仗慧劍割斷心猿意馬之情庶可</p>
<p>大生地　淮山藥　天竺黃　大麥冬　遠志肉　陳膽星　左牡蠣　酸棗仁　釣藤勾　蒼龍齒　云茯神</p>
<p>天癸初至之年血氣未定情志漸動動則相火勝於君火即有遺泄淋濁之症</p>
<p>陰氣過泄內熱自生日晡潮熱脈極細數虛火從此內煽有諾內形之外則生外瘍至虛之處便是客邪海底穴痛而腫者少陰腎經之隙處也瘍發於斯非所宜也總之不保下真而有斯疾必得自生慧劍割斷情魔庶幾守先夭以保後天不致相火勝於君火生化自有源流即可以保正命也勿以予言為迂腐</p>
<p>大熟地　山萸肉　化橘紅　大夭冬　五味子　雲茯苓　左牡蠣　金櫻子　湘蓮子</p>
<p>心不藏神肝不藏魂肺不藏魄是以惕宕悸恐久為情志之病夫喜怒哀樂人之常情不可偏勝偏勝則有此種疾耳攝陰降陽鎮怯寧神一定之理也</p>
<p>人參　淮山藥　炙甘草　大熟地　酸棗仁　淮小麥　大麥冬　五味子　左牡蠣　云茯神</p>
<p>男子十六天癸至至已三年血氣生勃勃則安無欲念之動動則安無暗傷真陰體肢不健不任煩勞脈又細數而耎胃納不旺面不華澤者為此故也急早畢姻所謂陰陽利萬物生矣</p>
<p>北沙參　淮山藥　南芡實　大熟地　山萸肉　云茯神　大夭冬　五味子　炙甘草　左牡蠣　酸棗仁</p>
<p>腎陰不足全乎相火用事以淋濁陰不制陽也</p>
<p>知柏六味湯加大麥冬　主之</p>
<p>心腎兩虛不寐遺泄手足少陰交虧也逼近立春春陽暗動惟宜柔劑固二炁</p>
<p>人參　花龍骨　酸棗仁　大熟地　淮山藥　云茯神　大麥冬　南芡實　湘蓮子　左牡蠣　五味子</p>
<p>日有所思夜有所夢日有所見夜有所夢寧心屏意之</p>
<p>六味（去丹皮福澤瀉）加金櫻子　南芡實　治之</p>
<p>童稚甫交四齡體質柔脆血氣尚微生化遲呆而不長養責在先天之氣式微後天長助之氣乏權悠悠忽忽恐延童損</p>
<p>北沙參　淮山藥　福澤瀉　大熟地　山萸肉　五味子　大麥冬　粉丹皮</p>
<p>水不涵木木火上升旋擾清真以致諸陽失降兼之誦讀勞心陽勝於陰陰不內守動靜偏勝靜以生陰動以生陽陽勝於陰久年矣必須填攝水藏以合天一生水之義</p>
<p>六味（去丹皮福澤瀉）加北沙參大麥冬在牡蠣　花龍骨　女貞子　穭豆衣　南芡實　湘蓮子</p>
<p>雖云青血氣未充肝風內動口眼歪斜總屬腎水不涵肝木木火旋擾所致內不足之病也何其誤投瘋科瘋藥戕元□纏如怯是誰之咎命也如何填攝真元涵水息風一定之理無他取圖求醫服劑不外草木草木功微安能速挽元氣於無何有之鄉耶全在已知命苟能知命庶可以立命也</p>
<p>人參固本加明天麻　五味子　白蒺藜　清阿膠　石決明　京元參　海參</p>
<p>先天少陰水虧不涵後天肝木木火上升旋擾常欲頭痛起在童時今當天癸初至之年尚未充發所以病後不復元真惟與填補先天真水以涵後天肝木古人錢仲陽專以六昧湯調治幼科此病虛先天非開情竇而斫喪者當從錢氏法治之（中虛濕固）</p>
<p>五皮合五苓散治之</p>
<p>濕熱內蒸蒸熱發黃脈澀數老年氣不勝濕濕戀於陽明平昔不嗜酒非酒濕也乃運谷遲呆水穀之濕所積當培中陽以化溫熱</p>
<p>茵陳五苓散加川通草　大麥仁　廣陳皮　主之</p>
<p>肺氣不降脾氣不升升降失司咽塞胸悶脘痞三焦失貫妨納不便呼吸欲喘大凡上焦如霧中焦如漚下焦如瀆全失貫通之機寬與五子五皮飲</p>
<p>風水積為皮水肢腫□纏久矣藜藿之軀資生淡薄即所謂淡泊生腫脹也五皮四苓合進</p>
<p>肺熱則失血脾實則腹脹血止而痮劇腫如鼓筋絡突見已成痼疾脾腎兩衰欲籍草本而奏功恐難挽天機也</p>
<p>濟生腎氣丸朝夕開水送下三錢</p>
<p>童子而傷水穀之濕濕熱內淫面腫脈細數小溲不利此謂濕腫野人所謂河白病也修之即愈無妨</p>
<p>四苓散　細木通　生米仁　五茄皮　小青皮　生草梢</p>
<p>水腫面浮腹滿肢腫濕熱壅滯脾氣不運也且傷中陽</p>
<p>甜冬朮　福澤瀉　大白芍　淡乾薑　廣陳皮　粉甘草　大腹皮　雲茯苓　陳冬米</p>
<p>居素便溏脾陽久虛乘虛木侮腹脘痛脹脈細虛弦土衰木旺也木得桂而枯</p>
<p>理中加川桂枝　肉果　雲茯苓　陳冬米</p>
<p>命門大衰火不生土以致脾泄雙培脾腎一定之理</p>
<p>野於朮　五味子　粉甘草　大熟地　肉果　炮姜　補骨脂　廣陳皮　菟絲子　大白芍</p>
<p>足三陰二氣交虛虛則不化濕熱再以剛陽藥味助之濕熱漸這浸潤以致穀道生蟲平補二氣以化濕熱雖一定之法然化濕熱之法莫如鹹苦之方</p>
<p>黃連阿膠湯為最加地榆　廣陳皮　雲茯苓　治之</p>
<p>始衰之年操勞太過易傳中宮胃納不旺常欲量眩脈細無力陰不內守陽亦衰也所以不制虛陽體豐者往往有之宜培二氣</p>
<p>綿黃耆　甘杞子　粉甘草　大熟地　酸棗仁　淮小麥　野於朮　雲茯苓　龍眼肉　方牡蠣　大白芍</p>
<p>胃主司納脾主消導不納不運脈數不鼓指脾胃樞機不利也先理中焦</p>
<p>野於朮　化橘紅　大白芍　廣木香　柏子仁　粉甘草　大腹皮　縮砂仁　仙半夏　雲茯苓</p>
<p>友升太過右降不及肝胃之氣久已不和升太過者肝陽也擾心神而榮智慧降不及者胃氣也得穀粒而常反胃脈遲細而饃糊神志清而失慧養肝和胃以助資生</p>
<p>大熟地　酸棗仁　天竺黃　左牡蠣　白歸身　陳膽星　花龍骨　大白芍　雲茯苓　遠志肉　炙甘草　鉤藤勾</p>
<p>肝脾腎多虧關於上中下三焦也肺陰不充脾陽不運腎氣不固上宜滋中宜培下宜攝兼顧為是</p>
<p>人參　厚杜仲　化橘紅　大麥冬　淮山藥　炙甘草　大熟地　菟絲子　野於朮　五味子</p>
<p>天地之氣陽在上陰在下身身陽亦升於上至寒水之令頭面不溫而惡寒者陽氣不升於上縱然陽虛也茲在秋燥之際不宜辛溫惟恐劫液只宜扶氣氣即陽也嚴冬再論扶陽</p>
<p>上黃耆　菟絲子　雲茯苓　野於朮　大白芍　炮姜　甘杞子　炙甘草　大棗</p>
<p>脾胃多虛右脈衰微左尺更耎中下兩陽無以生土所以常自便泄兼夜數次必當溫培中下之陽以實脾土</p>
<p>附子理中合四神　淡吳萸　易菟絲子加廣陳皮</p>
<p>脾陽久虛無以運濕阻遏消導氣機以致中下兩陽式微脘痮復痮兩脈細澀幾成中滿溫陽泄濕且與真武湯</p>
<p>姜用乾者</p>
<p>腸風便泄久年矣本乘土也宜培中以紲本</p>
<p>野於朮　上廣皮　雲茯苓　廣木香　大白芍　炮姜　菟絲子　炙甘草</p>
<p>便後下血遠血也宜培中下</p>
<p>黑歸脾湯（去遠志肉）加伏龍肝</p>
<p>老年真水下虧小溲不清濁陰不化水也現在脈不鼓指斷不可再瀉膀胱膀胱賢之府也瀉膀胱即瀉腎也年巳七旬癸水久絕填之不暇安可瀉乎雖有濕熱腎氣充足濕熱自化矣</p>
<p>大熟地　淮山藥　清阿膠　大天冬　肥知母　厚杜仲　左牡蠣　山萸肉　雲茯苓　懷牛膝　甘杞子　南芡實</p>
<p>水虧少陰火盛陽明上實下虛陽升咯血目眩與張會稽法</p>
<p>玉女煎加白茅根藕節童便</p>
<p>咽痛百餘日矣少陰之脈循喉嚨挾舌本是少陰水虧不制處陽以錢仲陽補肺阿膠湯更添入鹹苦</p>
<p>二更宜加元參玉桔梗</p>
<p>陽明一經多氣血血熱妄行咯吐未止因失血生熱氣血兼清可也</p>
<p>玉女前加川貝母　地骨皮　白茅根　藕節</p>
<p>齒痛將兩月而不瘥齒乃骨之餘亦陽明所屬少陰本也陽明標他攝少陰清陽明宜張會稽法</p>
<p>玉女煎加白茅根　人中黃</p>
<p>牙衄陽明胃熱也清降之</p>
<p>霍石斛　石決明　白茅根　大生地　女貞子　鮮湖藕　大麥冬　穭豆衣</p>
<p>久嗽肺腎兩虛金不生水水不制火火灼柔金是以□纏甘昧滋養久服自愈三仙粥加燕窠</p>
<p>交冬來天氣溫暖冬不藏陽人之陽氣亦不潛伏逼近冬至陽生陡然咯血脈細弦數猶恐血溢末止滋陰降陽自然之理</p>
<p>川石斛　北沙參　海參　大生地　淮山藥　鮮藕節　大麥冬　海蛤殼　糯米</p>
<p>瘍科中火症多也火多必有毒居素陰虛者不無受大累瘁火性主動上升下降隨其所至所云臁瘡咽作痛者皆火毒之所發也陰氣充足自能制火化毒余非瘍科也所論悉元之於本夫人陰虧居多滋真陰和升降緩制火毒庶幾不失於正治也</p>
<p>霍石斛　土貝母　人中白　大生地　肥知母　象牙屑　大麥冬　石決明　元參　女貞子</p>
<p>久嗽幾半載由夏秋來伏熱戀肺肺熱陰傷近吐穢痰肺癰之基也在秋末極燥之令當與西昌法</p>
<p>清燥救肺湯去人參加川貝母</p>
<p>風入腦鼻垂腥涕稠厚成塊脈數舌黃風化為火留戀肺胃鼻淵之機也</p>
<p>羚羊角　白蒺藜　白茅根　金石斛　辛夷　枇杷葉　玉桔梗　粉甘草</p>
<p>肺胃熱熾生痰作嗽嗽久傷陰陰虛陽亢咳少嗆多脈細芤數痰見血點虛在少陰熱戀陽明初起無非風溫襲肺誤閉其邪邪郁化火灼肺肺為嬌柔柔藏不勝火灼致成勞嗽柔陰保金生水主用甘鹹</p>
<p>大生地　天花粉　糯稻根　大麥冬　海蛤殼　鮮湖藕　肥知母　燕窠　冰糖　百合　雞白</p>
<p>陽明失血脈細目晡膚熱血去過多傷及真陰陰虧陽亢治法無非攝陰潛陽草木之功究竟式微自保下真尤為耍著</p>
<p>霍石斛　淮山藥　百合　北沙參　地骨皮　南芡實　大生地　石決明　鮮湖藕　大麥冬　海參</p>
<p>陰火灼肺作嗽滋水降火正所以保金也</p>
<p>北沙參　川貝母　湘蓮子　大生地　百合　糯米　大麥冬　燕窩</p>
<p>年老咳嗽嗽劇傷中中陽失運運谷呆遲司納消導脾胃所主脾胃中土也土虛無以勝濕從來脾戀濕化濕熱必專裁培中土土實可以勝濕也</p>
<p>野於朮　菟絲子　雲茯苓　仙半夏　大白芍　炮姜　廣陳皮　粉甘草</p>
<p>衰年中虛痰飲上泛</p>
<p>野於朮　雲茯苓　乾薑　仙半夏　粉甘草　大麥芽　化橘紅　淡竹歷</p>
<p>高年肺腎兩虛肺主出氣且主降腎主納氣且主藏肺不降腎不納則呼吸急促即謂喘也必宜填主然胃有濕痰不耐滋補從輕可也</p>
<p>北沙參　甜杏仁　酸棗仁　大生地　肥玉竹　百合　大麥冬　五味子　燕窩　清阿膠　海蛤殼　糯米</p>
<p>哮喘久年痰泛作咳咳劇輒喘臥不著枕作於子醜二時哮乃肺病久則虛涉於腎肺主出氣腎主納氣雖然感風輒發發則氣根不立須自保下真現在平善保肺攝腎以固氣根庶可御外邪之侵</p>
<p>大熟地　淮山樂　化橘紅　大麥冬　海參　云茯神　白杏仁　海蛤殼</p>
<p>痰飲病肺氣不降所以仍嗽清降為主</p>
<p>桑白皮　肥玉竹　海浮石　玉桔梗　仙半夏　化橘紅　白杏仁　廣陳皮　枇杷葉</p>
<p>高年肺陰內虛肺氣不降而致失音一載餘矣雖云肺虛實因肺襲風邪而起拖延已久風入肺俞肺屬金金空則鳴金實則無聲徒然補肺無益也與錢仲陽補肺阿膠湯治之</p>
<p>酒鬲將成而竟戒酒可謂改過知命者尚可為金匱麥門冬湯加松子漿　治之</p>
<p>胃中虛客氣上逆而多噫曖納穀運遲脈濡細數中氣久虛真陰亦虧</p>
<p>旋覆代赭湯（去　參　姜）加淮小麥　大白芍　廣橘白　治之</p>
<p>木火擾中納穀輒吐脈細無力鬲症也衰年矣雖治調之</p>
<p>淡吳萸　仙半夏　大白芍　大麥冬　廣橘白　粉甘草　川椒　柏子仁　粳米</p>
<p>煩勞傷中中陽失運納穀不化中脘作痛兩關脈軟斯中鬲也且培之</p>
<p>歸脾湯（去人參遠志肉）加甘杞子　廣橘白</p>
<p>肝脾腎三陰素虧生化原流日薄納穀頗少資生失侍從來血生於穀谷無生血陰虧可知脈極耎細數中心嘈雜抑且不寐女子十四天癸至逾此二七之年正是壯盛之時而有斯疾責在先天真陰不充非關後天而然也仲聖復脈湯縣幾近之</p>
<p>原方加湘蓮子　左牡蠣　廣橘白　料豆衣</p>
<p>中虛噎鬲務農之人鮮有者幸在青年猶可圖之金圖麥冬湯人參易海參加松子漿　治之</p>
<p>鬱怒傷肝肝矢條氣逆犯胃情志之病也苦辛酸甘兩和之</p>
<p>淡吳萸　白歸身　仙半夏　川楝子　大白芍　粉甘草（桂湯炒）　廣橘皮　小茴香　烏梅</p>
<p>胸痹胸痛引背背痛徹心</p>
<p>括蔞桂枝湯加薤白（通陽）　鉤藤勾（宜絡）　廣橘皮（和胃）</p>
<p>脘脅作痛按摩則緩脈弦細是為肝著著者肝絡之氣著而不移宜投金匱旋覆花湯治之</p>
<p>肝木乘胃中脘作痛氣逆嘔惡泄木安土苦辛酸甘主之</p>
<p>吳萸　白芍　半夏　川連　甘草　乾薑　橘絡　柏子仁</p>
<p>復診</p>
<p>甘麥大棗湯</p>
<p>脊痛而骨突三足年矣痛引腰膂虛損症也病屬奇經八脈之督帶是以疾因種種不可枚舉按婦科論二七天癸至五七天癸衰衰年損病難以復元補劑調理頤養天年以令正命</p>
<p>熟地　甘草　菟絲子　歸身　杜仲　山藥　牡蠣　阿膠　芡實　川斷　杞子　桑葚　鹿角霜</p>
<p>厥陰經肝經女科之先天老年肝血內枯肝陽失涵鼓動莫制眩暈耳鳴氣怯唇麻種種病機皆陰不涵陽之症也攝補肝陰</p>
<p>生地　阿膠　茯神　料豆衣　女貞子　白芍　沙參　牡蠣　甘草　棗仁</p>
<p>高年水不涵木木火上升蒙竅目起內障夫肝開竅於目必須養肝養肝必先補腎</p>
<p>熟地　吳萸　棗仁　山藥　杞子　料豆衣　蒺藜　茯神　望月沙</p>
<p>谷餌資生任其胃氣大長齋不勝淡迫愚哉有何所而從其胃喜耶因此妨胃詬之醫工云羅適口之羹醒胃胃得喜而胃氣復矣</p>
<p>沙參　佛手　扁豆　麥冬　山藥　茯苓　半夏　芡實　石斛　稻葉</p>
<p>病因多眵多淚淚為肝液眵屬肝熱養陰泄熱宜之</p>
<p>生地　胡麻　石決明　女貞子　料豆衣　白芍　蒺藜　山藥　橘白</p>
<p>女子先天在於肝肝鬱而兼濕熱致前陰結瘍小溲窒塞前方加味逍遙散條達肝鬱茲用金匱原方豬苓湯以清濕火</p>
<p>肝經有熱發為腳氣劇則衝心必先制肝吳茱萸湯主之本方加牛膝　陳皮　茯苓　白芍　山藥</p>
<p>心生血心惕易汗汗乃心液血從心化也補心必補血補血先涵氣氣能生血也</p>
<p>人參　熟地　白芍　白朮　龍骨　棗仁　阿膠　甘草　陳皮　牡蠣　茯神　杞子　五味子　南棗</p>
<p>血海空虛肝血乏貯每每天癸定期二三月之久脈細如絲面浮肢腫厥少真陰枯耗是以結縭五載從未孕育</p>
<p>熟地　白芍　丹皮　杜仲　杞子　山藥　歸身　川斷　橘白　香附　炙草</p>
<p>奇經失調而致經漏久延則崩厥少太三陰皆空也宜堅聖法</p>
<p>艾　歸身　川斷　阿膠　白芍　社仲　熟地　炙草　白朮　烏賊</p>
<p>血崩之後腹痛未止兩月矣經又至淋漓不斷又為經漏暴崩宜阿膠艾湯主之</p>
<p>膠艾四物湯加山藥　杞子　甘草　陳皮</p>
<p>任脈為病帶下瘕聚</p>
<p>熟地　杞子　白芍　紫石英　山藥　杜仲　菟絲子　芡實　川斷</p>
<p>停經之脈細澀而不暢妊娠之脈滑搏而流利斯脈舉之若無按之濡耎是血虛之脈也夫虛藏於肝出於衝脈沖為血海故女子先天寄於斯所以古人云女以血為本補血攝衝任一定之理也</p>
<p>膠艾四物湯加香附　陳皮　主之</p>
<p>經阻三月脈數滑搏嘔吐妨谷妊象也當安之</p>
<p>生地　砂仁　子芩　歸身　陳皮　白芍　白朮　半夏曲　甘草　白苧</p>
<p>經阻四月餘脈雖小而滑數納穀輒吐形色華澤微有寒熱此非停經乃有惡阻之甚者也和之安之</p>
<p>香砂六君子丸去參加歸身　子芩　竹茹　白芍　白苧　治之</p>
<p>妊娠七月手太陰胎之際脈浮滑數胎元自在長養雖有汗不寬舒者火不胎靜也無妨</p>
<p>熟地　白芍　子芩　阿膠　甘草　砂仁　歸身　橘白　白苧</p>
<p>妊娠先血咳嗽而失音乃屬子嗽子瘖胎前不能愈分娩後自可紫苑湯去五昧子阿膠加歸身白芍麥冬治之</p>
<p>產後將及兩月猶血不歸經脈弦細顯見不藏不統也與仲聖法</p>
<p>生地　牡蠣　川斷　杜仲　白芍　烏賊　阿膠　炙草　山藥　艾　料豆衣　女貞子</p>
<p>厥陰肝氣貫鬲走脅痛脹縻定從經走絡也辛鹹通降之</p>
<p>旋茯花湯加柏子仁　桃仁　歸鬚　橘絡　治之</p>
<p>心生血肝藏血脾統血血從氣生氣不生血則生內熱心惕神疲脈微癸水愆期涼血一定之理</p>
<p>生地　炙草　歸身　麥冬　白芍　茯神　杞子　棗仁　橘白　牡蠣</p>
<p>鬱怒傷肝肝失條達暗乘中土木旺而肝氣氣流於絡右遍季脅作痛雖平善有斯疾不能保其不發也作時宜通宜泄平善宜滋宜降</p>
<p>首烏　白芍　茯神　杞子　炙草　柏子仁　牡蠣　橘白　料豆衣</p>
