<header data-type="book">
<h1>醫宗金鑑·眼科心法要訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>底本</dt><dd>《御纂醫宗金鑑》，光緒十八年（1892）上海五彩書局石印本（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-997709">香港中文大學圖書館掃描本</a>），卷六十一至卷六十二；《欽定四庫全書·子部五·醫家類·御纂醫宗金鑑》卷七十七至卷七十八（<a href="https://www.kanripo.org/ed/KR3e0090/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>目睛原始歌</h2>
<p>天有日月陰陽精，人有二目臟腑精，眾精之窠為之眼，肉精上下兩胞名，血精兩眥氣精白，筋精為黑骨精瞳，約束裹擷系屬腦，目睛原始要詳明。</p>
<p>【注】天有日月，猶人之有二目也。天之日月，乃天之陰陽之精而為之也；人之二目，亦人之五臟六腑之精上注於目而為之也。故眾精之窠為之眼也，肉之精為上下胞也，血之精為兩眥也，氣之精為白眼也，筋之精為黑眼也，骨之精為瞳仁也，約束裹擷氣血筋骨之精，其繫上屬於腦，不可不明。此目睛之原始也。</p>

<h2>五輪所屬部位歌</h2>
<p>五輪肉血氣風水，肉輪兩胞血輪眥，氣輪白睛風輪黑，水輪瞳子自當知。</p>
<p>【注】五輪者，肉輪、血輪、氣輪、風輪、水輪也。謂之輪者，目睛運動如輪之意也。上、下兩胞為肉輪，內、外兩眥為血輪，白睛為氣輪，黑睛為風輪，瞳仁為水輪，此明五輪之部位，分屬五臟也。</p>
<figure>
<img data-orig-src="urn:270:05365.jpg" alt="五輪之圖">
</figure>
<p><u>肉輪——屬脾，主肉。</u></p>
<p><u>血輪——屬心，主血。</u></p>
<p><u>氣輪——屬肺，主氣。</u></p>
<p><u>風輪——屬肝，主筋。</u></p>
<p><u>水輪——屬腎，主骨。</u></p>

<h2>五輪主五臟病歌</h2>
<p>胞為脾病眥主心，肺白肝黑腎瞳仁，五輪為病主五臟，寒熱虛實隨證分。</p>
<p>【注】胞為肉輪，主脾病也。內、外二眥為血輪，主心病也。白睛為氣輪，主肺病也。黑睛為風輪，主肝病也。瞳仁為水輪，主腎病也。五輪之病，五臟主之。其寒、熱、虛、實，當隨所現之證而分之也。</p>

<h2>八廓部位歌</h2>
<p>瞳仁水廓黑睛風，天廓白睛部位同，內眥火雷外山澤，上下胞屬地廓宮。</p>
<p>【注】八廓者，水廓、風廓、天廓、火廓、雷廓、山廓、澤廓、地廓也。謂之廓者，猶城郭衛御之義也。瞳仁，屬坎水廓也。黑睛，屬巽風廓也。白睛，屬乾天廓也。內眥，大眥也，屬離火，震雷之廓也。外眥，小眥也，屬艮山，兌澤之廓也。兩胞屬坤，地廓也。此明八廓以八卦立名，示人六腑命門包絡之部位也。</p>
<figure>
<img data-orig-src="urn:270:05366.jpg" alt="八廓之圖">
</figure>
<p><u>水廓——屬膀胱，又名津液廓。</u></p>
<p><u>風廓——屬膽，又名養化廓。</u></p>
<p><u>天廓——屬大腸，又名傳導廓。</u></p>
<p><u>地廓——屬胃，又名水穀廓。</u></p>
<p><u>火廓——屬小腸，又名抱陽廓。</u></p>
<p><u>雷廓——屬命門，又名關泉廓。</u></p>
<p><u>澤廓——屬三焦，又名清淨廓。</u></p>
<p><u>山廓——屬包絡，又名會陰廓。</u></p>

<h2>八廓所屬歌</h2>
<p>津液水廓屬膀胱，養化風廓是膽方，傳導天廓大腸是，水穀地廓胃家鄉，關泉雷廓命門主，抱陽內眥火小腸，外眥三焦清淨澤，會陰山廓包絡疆。</p>
<p>【注】內眥火小腸，謂內眥火廓，屬小腸也。外眥三焦清淨澤，謂外眥屬三焦，清淨澤廓也。津液廓即水廓，水廓屬腎，腎與膀胱為表裡，膀胱為津液之府，故又名焉。養化廓即風廓，風廓屬肝，肝與膽為表裡，膽為少陽，主長養化育，故又名焉。傳導廓即天廓，天廓屬肺，肺與大腸為表裡，大腸為傳導之官，故又名焉。水穀廓即地廓，地廓屬脾，脾與胃為表裡，胃納水穀，故又名焉。抱陽廓即火廓，火廓屬心，心與小腸為表裡，依附於陽，故又名焉。關泉廓即雷廓，命門者龍雷之火，故名關泉，附於火廓也。清淨廓即澤廓，三焦者，陽相火也，蒸化水穀，為決瀆之官，故名清淨，附於火廓也。會陰廓即山廓，包絡者，陰相火也，依附於心為臣使之官，故名會陰，附於火廓也。</p>

<h2>八廓主六腑命門包絡病歌</h2>
<p>風廓屬膽水膀胱，大腸天廓地胃鄉，火廓小腸雷廓命，山澤三焦包絡方。</p>
<p>【注】此明八廓所屬也。風廓即風輪也，風輪屬肝，肝與膽為表裡，故輪主臟為肝病，廓主腑為膽病。水廓即水輪也，水輪屬腎，腎與膀胱為表裡，故輪主臟為腎病，廓主腑為膀胱病。天廓即氣輪也，氣輪屬肺，肺與大腸為表裡，故輪主臟為肺病，廓主腑為大腸病。地廓即肉輪也，肉輪屬脾，脾與胃為表裡，故輪主臟為脾病，廓主腑為胃病。火廓、雷廓、澤廓、山廓，即血輪之部位也，血輪屬心，心與小腸為表裡，故輪主臟為心病，廓主腑為小腸病。其雷廓命門、澤廓三焦、山廓包絡，皆附於血輪者，以命門、三焦、包絡，俱屬相火，當稟命於君火，故當附焉。</p>
<p>【按】眼科皆以五輪屬臟，配五行；八廓屬臟腑，配八卦，遂使臟腑混淆，無所適從。夫五輪既屬臟，八廓自應屬腑。今改訂之，俾學者按輪廓之部位視之，而病之在臟、在腑，自能瞭然矣。</p>

<h2>內因為病歌</h2>
<p>內障皆因傷七情，喜怒憂思悲恐驚，臟腑內損精不注，初為內障久成風。</p>
<p>【注】此明內障受病之因也。障，遮蔽也；內障者，從內而蔽也。內障之病，皆因七情過傷，過喜傷心，過怒傷肝，過憂傷肺，過思傷脾，過悲傷心，過恐傷腎，過驚傷膽。臟腑內損，精氣不上注於目。故初病內障，久成五風（烏風、綠風、黑風、黃風、青風）之患。其證不紅不腫，瞳仁色變，而其光失明也。</p>

<h2>外因為病歌</h2>
<p>外障皆因六氣生，暑寒燥濕火與風，內熱召邪乘隙入，隨經循繫上頭中。</p>
<p>【注】此明外障受病之因也。外障者，從外而遮也。風、寒、暑、濕、燥、火，六氣也。外障之病，皆因六淫所感，然必因其人內熱外蒸，腠理不密，相召外邪，乘虛而入。入項屬太陽，入面屬陽明，入頰屬少陽，各隨其經之系，上頭入腦中，而為患於目焉。其證：赤、痛、腫、澀、眵、淚、翳膜遮睛也。</p>

<h2>不內外因為病歌</h2>
<p>病由不內外因者，飲食起居擊刺成，邪無定體內外障，細察其因無遁情。</p>
<p>【注】此明不內外因受病之因也。既非外感六氣，又非內傷七情，但因飲食不節，傷飽失飢，起居不慎，勞役過度，或遭擊振，或被刺損。以其邪無定體，故或成內障，或成外障之病。當細察其所因，則病無遁情矣。</p>

<h2>內障總名歌</h2>
<p>內障初患變五風，黃綠黑烏青圓冰，滑澀浮沉橫散偃，黃心黑水棗花形，雷頭驚振及瞳缺，雀目高風胎患名，二十四證為內障，須當一一辨分明。</p>
<p>【注】內障初患，尚未失明之證也，久而變成五風之證。瞳變黃色者，名曰黃風。變綠白色者，名曰綠風。變黑色者，名曰黑風。變烏紅色者，名曰烏風。變青色者，名曰青風。圓者，圓翳也。冰者，冰翳也。滑者，滑翳也。澀者，澀翳也。浮者，浮翳也。沉者，沉翳也，又名深翳。橫者，橫翳也，又名劍脊翳，散者，散翳也。偃者，偃月翳也。黃心者，白翳黃心翳也。黑水者，黑水凝翳，亦名黑花翳。棗花者，棗花翳也。雷頭者，雷頭風變內障也。驚振者，因驚振而成內障也。胎患者，胎患內障也。此內障二十四證之總名也，須當一一分辨明白，以施治也。</p>

<h2>內障初患久變五風歌</h2>
<p>內障初患如好眼，生花視物霧煙中，隱隱似翳瞳失彩，久變黃綠黑烏青，黃風雀目久金色，綠風時見花白紅，頭旋額鼻目牽痛，黑風見黑綠風同，烏風亦與綠不異，但痛不旋乃烏風，頭旋不痛青風證，瞳黃黃風發脾經，淺綠如白肺經發，黑色黑風腎經名，烏帶渾紅心經病，青是青風屬肝經。外因頭風痛引目，腦脂熱注忽失明；內因精傷不上注，左右相傳漸漸盲。或兼外因皆赤痛，內因不足補其精。</p>
<p>【注】內障初患，如同好眼，但視物常見五色花飛，昏而不明，如在霧煙之中。瞳中隱隱似翳，漸無精彩射人。其瞳色或變黃、白、綠、青、烏、黑，渾紅無定，久則成五風內障之證也。黃風者，初病雀目，日久瞳變黃色，甚而如金，難治之證也。綠風者，初病眼前時見白花、紅花，頭旋，兩額俠鼻痛牽兩目，日久瞳變淺綠如白之色。黑風者，初病與綠風相同，但時見黑花，日久瞳變昏黑之色。烏風者，初病亦與綠風之證不異，但頭痛而不旋暈，眼前常見烏花，日久瞳變烏帶渾紅之色。青風者，初病亦與烏風相同，頭雖旋暈而不痛，眼前常見青花，日久瞳變青色。其五風發病之源：黃風則發於脾經，綠風則發於肺經，黑風則發於腎經，烏風則發於心經，青風則發於肝經。然風雖有五，其致病之由則有二：一曰外因，必因頭風，其痛引目，上攻於腦，腦脂與熱合邪，下注於目，而致兩目忽然失明也；一曰內因，必因內傷臟腑，精氣不上注於目，或先病左目，後及於右目，或先病右目，後及於左目，左右相傳，兩目俱損也。外因證屬有餘，多兼赤痛，當以除風散熱為主；內因證屬不足，多不赤痛，當以補精益氣為主。</p>

<h2>五風初患有餘歌</h2>
<p>五風初患有餘證，除風湯內主羚羊，黑苓蠍尾車前子，黃芩白芍共硝黃。</p>
<p><u>除風湯方</u></p>
<p>羚羊角（二錢）　黑參（二錢）　茯苓（二錢）　蠍尾（三分）　車前子（二錢）　黃芩（一錢）　白芍藥（一錢）　芒硝（一錢）　大黃（一錢）</p>
<p>上為粗末，令勻，以水二盞，煎至一盞，食後去滓溫服。</p>

<h2>五風初患不足歌</h2>
<p>五風初患不足證，通明補腎決明參，生地桔車茺芍細，引經竄散少加軍。</p>
<p><u>通明補腎丸方</u></p>
<p>石決明（一兩）　人參（二兩）　生地黃（二兩）　桔梗（一兩）　車前子（一兩）　茺蔚子（二兩）　白芍藥（一兩）　細辛（半兩）　大黃（三錢）</p>
<p>上為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。</p>

<h2>黃風有餘歌</h2>
<p>已成黃風有餘證，須用通脾瀉胃湯，知母軍芩茺蔚子，石膏梔子黑參防。</p>
<p><u>通脾瀉胃湯方</u></p>
<p>知母（一錢）　大黃（一錢）　黃芩（一錢五分）　茺蔚子（一錢）　石膏（二錢）　梔子（一錢）　黑參（一錢）　防風（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>黃風不足歌</h2>
<p>已成黃風不足證，補益脾經山藥丸，人參山藥茯苓地，澤瀉防風同作丸。</p>
<p><u>山藥丸方</u></p>
<p>人參　山藥　茯苓　生地黃　澤瀉　防風（各一兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。</p>

<h2>綠風有餘歌</h2>
<p>已成綠風有餘證，羚羊角飲黑參防，茯苓知母黃芩細，桔梗羚羊車大黃。</p>
<p><u>綠風羚羊飲</u></p>
<p>黑參（二錢）　防風（二錢）　茯苓（二錢）　知母（二錢）　黃芩（一錢）　細辛（一錢）　桔梗（二錢）　羚羊角（一錢）　車前子（一錢）　大黃（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>綠風不足歌</h2>
<p>已成綠風不足證，還睛丸草術參苓，羌防菊地蒺蓉薯，牛膝葙蒙菟賊芎。</p>
<p><u>綠風還睛丸方</u></p>
<p>甘草　白朮　人參　茯苓　羌活　防風　菊花　生地黃　蒺藜　肉蓯蓉　山藥　牛膝　青葙子　密蒙花　菟絲子　木賊　川芎（各一兩）</p>
<p>上為細末，煉蜜為丸，桐子大，空心茶清送三錢。</p>

<h2>黑風有餘歌</h2>
<p>已成黑風有餘證，羚羊角飲黑羚羌，車前桔梗黃芩共，柴胡茺蔚細辛防。</p>
<p><u>黑風羚羊飲</u></p>
<p>黑參（一錢）　羚羊角（一錢）　羌活（一錢）　車前子（一錢半）　桔梗（一錢）　黃芩（一錢）　柴胡（一錢）　茺蔚子（一錢半）　細辛（五分）　防風（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>黑風不足歌</h2>
<p>已成黑風不足證，補腎丸中熟地黃，澤瀉茺蔚五味子，細辛山藥菟絲良。</p>
<p><u>補腎丸方</u></p>
<p>熟地黃（一兩）　澤瀉（一兩）　茺蔚子（一兩）　五味子（三錢）　細辛（三錢）　山藥（一兩）　菟絲子（一兩）</p>
<p>上為細末，煉蜜為丸，桐子大，每服二錢，空心鹽湯下。</p>

<h2>烏風有餘歌</h2>
<p>已成烏風有餘證，決明丸內決明辛，桔梗防風茺蔚子，車茯山藥共元參。</p>
<p><u>烏風決明丸方</u></p>
<p>石決明（二兩）　細辛（五錢）　桔梗　防風　茺蔚子　車前子　茯苓　山藥　元參（各二兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，食前茶清送下三錢。</p>

<h2>烏風不足歌</h2>
<p>已成烏風不足證，補肝散內用川芎，熟地當歸蒺藜芍，木賊夏枯草防風。</p>
<p><u>烏風補肝散方</u></p>
<p>川芎　熟地黃　當歸　蒺藜　白芍藥　木賊　夏枯草　防風（各一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食前去渣溫服。</p>

<h2>青風有餘歌</h2>
<p>已成青風有餘證，羚羊湯內用羚羊，元參地骨車前子，川芎羌活細辛良。</p>
<p><u>青風羚羊湯方</u></p>
<p>羚羊角（一錢）　元參（一錢）　地骨皮（一錢）　車前子（一錢五分）　川芎（一錢）　羌活（一錢）　細辛（五分）</p>
<p>上為粗末，以水二盞，煎至一盞，食遠溫服。</p>

<h2>青風不足歌</h2>
<p>已成青風不足證，還睛散內用苓參，防風地骨車前子，羌活川芎共細辛。</p>
<p><u>青風還睛散方</u></p>
<p>茯苓　人參　防風　地骨皮　車前子　羌活　川芎　細辛（各等分）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>圓翳歌</h2>
<p>圓翳青白一點圓，宛如油點水中間，肝風沖腦脂下注，明視翳小暗看寬。虛熱羚羊飲車細，參芩防知一同煎，實用防風芩桔梗，硝黃茺黑細知前。</p>
<p>【注】圓翳內障初起之時，黑睛上一點青白，宛如油點浮於水面。暗處視之，其翳青白而大；明處看之，其形差小。緣肝風上衝，腦脂下注所致，宜審其虛實而調之。虛者用羚羊角飲子，清其虛熱；實者宜防風散，泄其熱邪也。</p>
<p><u>圓翳羚羊飲</u></p>
<p>羚羊角（一錢）　車前子（一錢）　細辛（五分）　人參（一錢）　黃芩（一錢）　防風（二錢）　知母（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，夜食後去渣溫服。</p>
<p><u>圓翳防風散方</u></p>
<p>防風（二錢）　黃芩（一錢）　桔梗（二錢）　芒硝（一錢）　大黃（一錢）　茺蔚子（一錢）　黑參（一錢）　細辛（五分）　知母（二錢）　車前子（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>冰翳歌</h2>
<p>冰翳瞳色亮如冰，陰看陽看無二形，睛中隱隱白透外，肺風肝熱合邪攻，對證雖當針督脈，出血若多反傷睛。還睛參味防知細，芩桔車前元地茺。</p>
<p>【注】冰翳內障，瞳色堅實，白亮如冰之狀。無論陰處及日中視之，皆一般無二，非若圓翳之明暗有別也，其睛內有白色隱隱透出於外，此證乃肝熱肺風合邪，上攻入目為患。宜按穴刺之，出血則愈。但督脈不宜出血過多，若出血過多，恐加昏暗也。內服之藥，宜還睛丸清而補之（穴名上星，在鼻直上入髮際一寸陷中）。</p>
<p><u>冰翳還睛丸方</u></p>
<p>人參（一兩）　五味子（半兩）　防風（二兩）　知母（二兩）　細辛（半兩）　黃芩（一兩）　桔梗（一兩）　車前子（二兩）　黑參（一兩）　地黃（二兩）　茺蔚子（二兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。</p>

<h2>滑翳歌</h2>
<p>滑翳水銀珠子樣，微含黃色遮瞳神，肝風沖腦脂下注，不癢不疼漸漸昏。須用補肝苓桔蔚，芩防芎母黑歸參，有餘決明車味細，軍苓知蔚黑防芩。</p>
<p>【注】滑翳內障，瞳心內一點如水銀珠子之狀，微含黃色，不癢不疼，無淚而遮蔽瞳神，漸漸失明，後則左右相牽俱損，此乃肝風衝上，腦脂流下所致。宜用補肝湯清散虛熱，若有餘用決明丸下行實熱也。</p>
<p><u>滑翳補肝湯方</u></p>
<p>茯苓（一錢）　桔梗（一錢）　茺蔚子（二錢）　黃芩（一錢）　防風（二錢）　川芎（一錢）　知母（一錢）　黑參（一錢）　當歸身（二錢）　人參（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>
<p><u>滑翳決明丸方</u></p>
<p>石決明（一兩）　車前子（一兩）　五味子（半兩）　細辛（半兩）　大黃（一兩）　茯苓（一兩）　知母（一兩）　茺蔚子（一兩）　黑參（一兩）　防風（一兩）　黃芩（一兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，食前茶清送下三錢。</p>

<h2>澀翳歌</h2>
<p>澀翳微赤凝脂色，瞳仁端正漸失明，時時隱澀疼無淚，或聚或開無定形。還睛散內車防桔，元味知芩茶葉茺，亦用七寶丸珠珀，決腦茺參熊膽同。</p>
<p>【注】澀翳證，瞳神內微赤如凝脂之色，瞳神端正，漸漸昏朦，時復澀痛而無淚出，其翳無定，或聚或開。宜先用還睛散，後用七寶丸內消其翳也。</p>
<p><u>澀翳還睛散方</u></p>
<p>車前子（一錢半）　防風（一錢）　桔梗（一錢）　元參（一錢）　五味子（五分）　知母（二錢）　黃芩（一錢）　細茶（二錢半）　茺蔚子（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>
<p><u>澀翳七寶丸方</u></p>
<p>珍珠（五錢）　琥珀（二兩）　石決明（二兩）　龍腦（一分）　茺蔚子（一兩）　人參（一兩）　熊膽（一兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，食前茶清送下一錢。</p>

<h2>浮翳歌</h2>
<p>浮翳色白瞳內映，明看細小暗看寬，不癢不疼無血色，腦風衝入腦脂愆。決明石決人參茯，車細防軍茺桔添，墜翳石決知辛味，生地參防及兔肝。</p>
<p>【注】浮翳內障之證，初患之時，不癢不疼，從瞳神內映出白色。暗處看則其翳寬大，明處看其翳略小，全無血色相混。緣腦風衝入於眼，腦脂流下，致成內障。宜服決明散墜翳丸。</p>
<p><u>石決明散方</u></p>
<p>石決胡（一錢）　人參（一錢）　茯苓（一錢）　車前子（一錢）　細辛（五分）　防風（二錢）　大黃（一錢）　茺蔚子（二錢）　桔梗（一錢半）</p>
<p>上為細末，令勻，食後米飲湯調下二錢。</p>
<p><u>浮翳墜翳丸方</u></p>
<p>石決明（一兩）　知母（一兩）　細辛（五錢）　五味子（半兩）　生地黃（二兩）　人參（二兩半）　防風（一兩）　兔肝（一具）</p>
<p>上為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。</p>

<h2>沉翳歌</h2>
<p>沉翳白隱黑睛內，肝勞腦熱下攻瞳，向日細看方見翳，日輕夜重黑睛疼。羚羊角飲車前子，羚角軍防芩黑茺，皂莢丸用蛇蟬術，龍膽元精歸菊芎，參苓木賊連翹芍，豬爪蝟皮甲穀精。</p>
<p>【注】沉翳內障，白藏在黑睛之內，向日細看，方見其白，疼痛則晝輕夜重。緣肝經勞熱，腦中熱氣流下。宜服羚羊角飲子及皂莢丸以治之。</p>
<p><u>沉翳羚羊飲</u></p>
<p>車前子（一錢）　羚羊角（二錢）　大黃（一錢）　防風（二錢）　黃芩（一錢）　黑參（一錢）　茺蔚子（二錢）</p>
<p>上為粗末，水二盞，煎至一盞，食後去渣溫服。</p>
<p><u>皂莢丸方</u></p>
<p>蛇蛻（七條）　蟬蛻　白朮　龍膽草　元精石　當歸　白菊花（各兩半）　川芎（半兩）　人參（一兩）　茯苓（一兩半）　木賊（一兩半）　連翹（一兩半）　赤芍藥（一兩半）　豬爪（二十枚）　刺蝟皮　穿山甲　穀精草（各一兩半）</p>
<p>共為細末，一半入牙皂十二梃，燒存性，和勻，煉白蜜丸桐子大，每服一錢五分，空心杏仁湯下；一半入仙靈脾一兩，每服三錢，用豬肝三片，批開夾藥煮熟，臨臥細嚼，用原汁送下。</p>

<h2>橫翳歌</h2>
<p>橫翳橫格在瞳心，形如劍脊白如銀，內虛風熱攻衝腦，胃熱肝邪致目昏。還睛決明車前地，芩防辛味黑人參，七寶車前連炙草，丹砂石決犀羚均。</p>
<p>【注】橫翳又名劍脊翳，自瞳仁中映出於外如劍脊，中高邊薄，橫格於瞳仁中心，色白如銀。緣內虛肝邪胃熱，上衝於腦，腦脂下流入眼，致成內障。宜服還睛丸、七寶散。</p>
<p><u>橫翳還睛丸方</u></p>
<p>石決明（一兩）　車前子（一兩）　生地黃（二兩）　黃芩（一兩）　防風（二兩）　細辛（五錢）　五味子（半兩）　黑參（一兩）　人參（一兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。</p>
<p><u>七寶散方</u></p>
<p>車前子　胡黃連　丹砂　石決明　甘草（各五分）　犀角（一錢）　羚羊角（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>散翳歌</h2>
<p>散翳形散如鱗點，乍青乍白映瞳中，胞內粟生兼爛痛，金針一撥目光通。還睛散用人參味，桔梗車前苓細風，後用補肝歸木賊，防風熟地芍川芎。</p>
<p>【注】散翳，翳從瞳仁內透出，散如鱗點之狀，乍青乍白，胞內起粟而爛，瞳仁痛楚。宜用金針撥其內翳之後，先服還睛散清補，後用補肝散收功。</p>
<p><u>散翳還睛散方</u></p>
<p>人參（一錢）　五味子（五分）　桔梗（一錢）　車前子（二錢）　茯苓（一錢）　細辛（五分）　防風（二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，夜食後去渣溫服。</p>
<p><u>散翳補肝散方</u></p>
<p>當歸（二錢）　木賊（一錢）　防風（一錢）　熟地黃（二錢）　白芍藥（一錢）　川芎（五分）</p>
<p>上為粗末，以水二盞，煎至一盞，空心去渣溫服。</p>

<h2>偃月翳歌</h2>
<p>偃月瞳含偃月形，一灣白氣向下生，腦風積熱下注眼，肝腎俱虧致損明。通明散內防芩入，人參白茯細辛茺，墜翳丸用石決麝，青鯉青羊牛膽熊。</p>
<p>【注】偃月內障，瞳神內上半邊有白氣一灣，隱隱似新月之狀，覆垂向下。緣腦風積熱注入眼中，致成內障，為肝腎俱勞之證。宜服通明散墜翳丸。</p>
<p><u>偃月通明散方</u></p>
<p>防風　黃芩　人參　茯苓（各一錢）　細辛（五分）　茺蔚子（二錢）</p>
<p>上為粗末，水二盞，煎至一盞，夜食後去渣溫服。</p>
<p><u>五膽偃月墜翳丸方</u></p>
<p>石決明（一兩）　麝香（少許）　青魚膽　鯉魚膽　青羊膽（各七個）　牛膽（五錢）　熊膽（一分）</p>
<p>上為細末麵糊為丸，如桐子大，空心茶清送下五分。</p>

<h2>白翳黃心歌</h2>
<p>白翳黃心內障證，四圍白色內中黃。大小眥中微帶赤，翳隱黑珠障內光。肺肝風熱衝於目，澀痛羞明淚似湯。墜翳決明茺蔚子，人參甘菊共車防。</p>
<p>【注】白翳黃心內障，四邊皆白，中心一點微黃色，隱在黑珠內，映出珠外，大小眥頭微帶赤色。乃肺肝風熱，流入於眼，頻頻下淚澀痛，致成此證。宜服墜翳散。</p>
<p><u>墜翳散方</u></p>
<p>石決明（二錢）　茺蔚子（二錢）　人參（三錢）　甘菊花（三錢）　車前子（三錢）　防風（二錢）</p>
<p>上為細末，令勻，食後米飲湯調下一錢。</p>

<h2>黑水凝翳歌</h2>
<p>黑水凝翳瞳微大，內含青白障瞳仁，生花眥痛頻頻淚，膽熱為邪損目神。蘆薈丸中細辛草，牛膽羚羊柏子參，通明防蔚參苓黑，桔梗車前柏子仁。</p>
<p>【注】黑水凝翳內障，又名黑花翳。瞳仁微大，瞳內微現青白色，大小眥頭澀痛，眼中見花，黃黑不定，頻頻下淚。緣膽熱為邪，致成內障。宜服蘆薈丸通明散。</p>
<p><u>蘆薈丸方</u></p>
<p>蘆薈（一兩）　細辛（半兩）　甘草（五錢）　牛膽（半兩）　羚羊角（一兩）　柏子仁（一兩）　人參（半兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。</p>
<p><u>凝翳通明散方</u></p>
<p>防風（一錢半）　茺蔚子（一錢）　人參（一錢）　茯苓（一錢）　黑參（二錢）　桔梗（一錢）　車前子（二錢）　柏子仁（二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>棗花翳歌</h2>
<p>風輪傍邊白睛內，白如鋸齒棗花同。怒傷肝膽邪沖眼，還睛散用車知茺。人參防黑黃芩茯，墜翳丸服可收功。</p>
<p>【注】棗花內障者，風輪傍邊，白睛之內，映出白翳，如棗花鋸齒之狀。緣怒傷肝膽，令腦邪熱衝入目中，致成此障，久則變為瞳神細小。宜服還睛散，再服墜翳丸。</p>
<p><u>棗花翳還睛散方</u></p>
<p>車前子　知母　茺蔚子　人參　防風　黑參（各二錢）　黃芩（一錢半）　茯苓（二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，去渣溫服。</p>
<p><u>墜翳丸</u>（方見偃月內障下）</p>

<h2>雷頭風歌</h2>
<p>頭響如雷又似風，雷頭風熱毒沖瞳，腦汁下注瞳色變，瞳仁大小目昏蒙。瀉肝芩梗硝黃黑，羌活車歸知母龍，虛者磁石丸姜附，味黑丹皮磁石同。</p>
<p>【注】雷頭風內障，初患之時，頭面多受冷熱，毒氣衝入頭中，致頭內響聲如風如雷，頭旋發熱，日久衝入眼內，腦汁下注，瞳仁變色，瞳或大小不定。實者宜服瀉肝散；虛者宜服磁石丸。</p>
<p><u>瀉肝散方</u></p>
<p>黃芩　桔梗　芒硝　大黃　黑參　羌活　車前子　當歸　知母（各一錢）　龍膽草（五分）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>
<p><u>磁石丸方</u></p>
<p>乾薑（一兩）　附子（炮，五錢）　五味子（半兩）　黑參（一兩）　牡丹皮（一兩）　磁石（燒紅，醋淬三次，一兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，食前茶清送下一錢。</p>

<h2>驚振內障歌</h2>
<p>驚振內障緣擊振，腦脂惡血下傷睛，睛變漸昏成內障，左右相傳俱損明。鎮肝石決茺山藥，車柏辛防參茯苓，還睛散用人參桔，防細車前茺蔚芎。</p>
<p>【注】驚振內障，或因擊振誤著頭腦，致腦中腦脂惡血流入睛內，日久變成內障，左右相傳，兩目俱損。宜服鎮肝丸、還睛散。</p>
<p><u>驚振鎮肝丸方</u></p>
<p>石決明（一兩）　茺蔚子（一兩）　山藥（一兩）　車前子（一兩）　柏子仁（一兩）　細辛（五錢）　防風（一兩五錢）　人參（一兩）　茯苓（一兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，食後茶清送下三錢。</p>
<p><u>驚振還睛散方</u></p>
<p>人參（一錢）　桔梗（一錢）　防風（一錢半）　細辛（五分）　車前子（一錢）　茺蔚子（一錢）　芎（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食前去渣溫服。</p>

<h2>瞳仁幹缺歌</h2>
<p>瞳仁幹缺瞳形缺，左右上下不成圓，色白腦脂流下患，色黑肝膽熱虛愆。色白瀉肝芩地骨，麥知芍蔚黑參添；色黑鎮肝山藥味，參苓石決細車前。</p>
<p>【注】瞳仁幹缺內障，初患之時，忽因疼痛難忍，細看瞳仁現出缺形，或左或右，或上或下，缺而不圓，瞳仁之色，黑白不定。色白乃腦脂流下為患，宜服瀉肝湯；色黑則膽熱肝虛，宜服鎮肝丸。</p>
<p><u>瞳缺瀉肝湯方</u></p>
<p>黃芩（一錢）　地骨皮（一錢）　麥門冬（一錢）　知母（一錢）　赤芍藥（一錢半）　茺蔚子（一錢半）　黑參（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>
<p><u>瞳缺鎮肝丸方</u></p>
<p>乾山藥（二兩）　五味子（五錢）　人參　茯苓　石決明（各一兩半）　細辛（五錢）　車前子（一兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，空心米湯送下二錢。</p>

<h2>雀目內障歌</h2>
<p>雀目內障多癢澀，暮暗朝明與雀同，黃昏視下難見上，肝風邪火障雙瞳。洗肝散用車前子，柴胡芩細黑參茺，瀉肝湯里硝黃芍，桔梗黃芩與防風。</p>
<p>【注】雀目內障，患時暮暗朝明，多癢多澀，發作不常，或明或暗，夜中惟能視直下之物，而不能視上。乃肝風邪火上衝於目，致成內障。宜服洗肝散先清虛熱，後服瀉肝湯，以瀉其實邪也。</p>
<p><u>洗肝散方</u></p>
<p>車前子（一錢）　柴胡（一錢五分）　黃芩（一錢）　細辛（五分）　黑參（一錢）　茺蔚子（二錢）</p>
<p>上為粗末，以水二盞，黑豆三七粒，煎至一盞，去黑豆，空心溫服。</p>
<p><u>雀目瀉肝湯方</u></p>
<p>芒硝　大黃　白芍藥　桔梗（各一錢）　黃芩　防風（各二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食前去渣溫服。</p>

<h2>高風內障歌</h2>
<p>高風內障號雞盲，天晚不明天曉光，夜能上視難見下，損虧肝血腎精傷。補肝羚細羌苓楮，參黑車斛枯草防，還睛石決人參細，茺蔚知苓芎木香。</p>
<p>【注】高風內障之證，兩眼至天晚不明，天曉復明。緣肝有積熱，腎經虛損，乃陽微陰盛也。天晚陰長，則天時之陰，助人身之陰，能視頂上之物，不能下視諸物，至天曉陽長，則天時之陽，助人身之陽，而眼復明矣。宜用補肝散、還睛丸。</p>
<p><u>高風補肝散方</u></p>
<p>羚羊角　細辛　羌活　茯苓　楮實子　人參　元參　車前子　石斛　夏枯草　防風（各一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，去渣溫服。</p>
<p><u>高風還睛丸方</u></p>
<p>石決明（二兩）　人參（一兩）　細辛（五錢）　茺蔚子（二兩）　知母（一兩）　茯苓（一兩）　芎（一兩）　木香（五錢）</p>
<p>上為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。</p>

<h2>胎患內障歌</h2>
<p>胎患小兒未出胎，熱沖兒腦目生災。護睛木香芩細射，川大黃與黑參偕。</p>
<p>【注】胎患內障，兒在母腹之時，緣食辛辣過多，致熱氣內沖兒腦，及至生後，眼成內障。宜用護睛丸。</p>
<p><u>護睛丸方</u></p>
<p>木香（五錢）　黃芩（五錢）　細辛（三錢）　射干（五錢）　大黃（五錢）　黑參（一兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，空心茶清服十丸。</p>

<h1>卷二</h1>

<h2>外障總名歌</h2>
<p>外障暴赤血灌瞳，硬睛赤垂與黃沖，蟹睛旋螺並胬肉，雞冠蜆肉祟疼同。突睛漏睛連鶻眼，拳毛倒睫胞凝逢，眥赤花陷及黑釘，喎僻冰瑕黏睛並。玉翳水輪逆順障，瞼出風粟又混睛，撞破撞刺及針刺，眼癢淚出瘡痍生。客熱傷寒並肝熱，因他痰核天水行，青盲赤爛癍瘡病，轉關生贅疳眼名。小兒通睛恙雖小，還有眯目證為輕，此為外障四十八，熟讀方知各證情。</p>
<p>【注】外障者，或因內熱，或因外邪，或內外合邪，致生目赤腫痛翳膜等證也。暴者，暴赤生翳也。血灌瞳者，血灌瞳仁也。硬睛者，瞼硬睛疼也。赤垂者，赤膜下垂也。黃沖者，黃膜上衝也。蟹睛者，形如蟹睛而疼痛也。旋螺者，形如旋螺尖起也。胬肉者，胬肉攀睛也，喎疼者，神喎疼痛也。突睛者，突起睛高也。漏睛者，漏睛膿出也。鶻眼者，鶻眼凝睛也。胞凝者，胞肉膠凝也。眥赤者，兩眥赤脈也。花陷者，花翳白陷也。黑者，黑翳如珠也。釘者，釘翳根深也。喎僻者，風牽喎僻也。冰瑕者，冰瑕翳深也。黏睛者，兩瞼黏睛也。玉翳者，玉翳浮滿也。水輪者，膜入水輪也。逆順者，逆順生翳也。撞破者，被物撞破也。撞刺者，撞刺生翳也。針刺者，痛如針刺也。淚出者，衝風淚出也。瘡痍者，風赤瘡痍也。客熱者，暴風客熱也。傷寒者，傷寒熱病後患目也。肝熱者，肝虛積熱也。因他者，因他病後生翳也。痰核者，睥生痰核也。天水者，天水行後赤眼也。赤爛者，胎風赤爛也。癍瘡者，癍瘡入眼也。轉關者，轆轤轉關也，生贅者，瞼中生贅也。此外障四十八證之總名，讀者誠能熟習翫味，自因病而各得其情矣。</p>

<h2>暴赤生翳歌</h2>
<p>暴赤生翳心肝病，風熱上壅痛難當，赤腫熱淚羞明癢，最宜劆洗出血良。初起先用蘆根飲，黑連硝黃芩與防，去翳鎮肝藁石決，辛薯參苓車味羌。</p>
<p>【注】暴赤生翳，其證赤腫生翳，癢痛難當，時流熱淚羞明，乃心、肝二經風熱，上壅攻目所致。宜劆洗出血，服蘆根飲子，清其內熱，後服鎮肝丸。劆音廉。劆者，或以針鋒微刺之，或以燈心草微刮之也。</p>
<p><u>蘆根飲子</u></p>
<p>蘆根（一錢）　黑參（一錢五分）　黃連（一錢）　芒硝（一錢）　大黃（一錢）　黃芩（一錢五分）　防風（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後，去渣溫服。</p>
<p><u>鎮肝丸方</u></p>
<p>藁本（一兩五錢）　石決明（煅，二兩）　細辛（三錢）　山藥（炒）　人參　茯苓　車前子（各一兩）　五味子（三錢）　羌活（一兩）</p>
<p>上羅為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。</p>

<h2>血灌瞳仁歌</h2>
<p>血灌瞳仁目睛痛，猶如血灌色相同，膽汁肝血因熱耗，血為火迫灌睛瞳。急用止痛沒藥散，硝黃血竭引茶清，痛止大黃當歸散，賊芩梔子菊蘇紅。</p>
<p>【注】血灌瞳仁，目睛疼痛，瞳仁如血灌紅色。緣肝血熱耗，膽汁皆虧，血因火迫，灌入瞳中。宜服止痛沒藥散，止疼後，服大黃當歸散。</p>
<p><u>止痛沒藥散方</u></p>
<p>沒藥（二兩）　芒硝（一兩半）　大黃（一兩半）　血竭（一兩）</p>
<p>上搗篩為細末，食後熱茶清調下一錢。</p>
<p><u>大黃當歸散方</u></p>
<p>大黃（一兩）　當歸（二錢）　木賊（一兩）　黃芩（一兩）　梔子（五錢）　菊花（三錢）　蘇木（五錢）　紅花（八錢）</p>
<p>上為細末令勻，每服二錢，食遠茶清調下。</p>

<h2>瞼硬睛疼歌</h2>
<p>瞼硬睛疼胞腫硬，瘀血翳膜目睛疼，膈中積熱肝風盛，外塗焮腫劆瘀紅，涼膈硝黃車前黑，黃芩知母梔仁茺。</p>
<p>【注】瞼硬睛疼，初患之時，時覺疼脹，久則瞼胞腫硬，睛珠疼痛。此緣膈中積熱，肝經風毒，上衝於目。宜劆洗去瘀，外塗焮腫膏，內服涼膈散。</p>
<p><u>焮腫膏</u>（方見卷末）</p>
<p><u>涼膈散方</u></p>
<p>芒硝　大黃　車前子（各一錢）　黑參（一錢半）　黃芩　知母　梔子（炒）　茺蔚子（各一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後溫服。</p>

<h2>赤膜下垂歌</h2>
<p>赤膜下垂覆睛瞳，赤膜從氣下垂風，此屬肝肺熱沖眼，淚流痛癢如硃紅，羚羊知母黃芩黑，桔梗柴胡梔子茺。</p>
<p>【注】赤膜下垂，初患之時，氣輪上邊起赤膜一片，垂至風輪，下覆瞳仁。緣肝、肺之熱，衝於眼內，致生赤膜，淚流痛癢。宜服羚羊飲。</p>
<p><u>羚羊飲</u></p>
<p>羚羊角（鎊，一錢五分）　知母　黃芩　黑參　桔梗　柴胡　梔子（炒，各一錢）　茺蔚子（二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>黃膜上衝歌</h2>
<p>黃膜一片氣輪起，上衝風輪覆蓋瞳，赤澀淚眵疼痛極，此因脾胃熱風攻。通脾瀉胃黃芩黑，防軍知母梔膏茺，立應白芷羊躑躅，鵝不食草麝歸雄。</p>
<p>【注】黃膜上衝，自氣輪而起，一片黃膜，從下直衝風輪，上掩瞳仁。乃脾胃風熱，上衝於眼，致生黃膜，淚流赤澀，疼痛極甚。宜通脾瀉胃湯，外㗜立應散。</p>
<p><u>通脾瀉胃湯方</u></p>
<p>黃芩（一錢五分）　黑參　防風　大黃　知母（炒）　梔子（炒，各一錢）　石膏（煅，二錢）　茺蔚子（二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食遠去渣溫服。</p>
<p><u>立應散方</u></p>
<p>白芷　羊躑躅花（減半）　鵝不食草（洗淨曬乾）　麝香（少許）　當歸　雄黃（另研後入，各等分）</p>
<p>上為細末，每用少許，含水㗜鼻內，去盡濁涕淚出為度。</p>

<h2>蟹睛疼痛歌</h2>
<p>蟹睛努出蟹睛形，烏珠極痛澀羞明，肝膽積熱腎虛熱，虛軟不疼實硬疼。實者瀉肝車地骨，硝黃知母黑柴茺，虛宜鎮腎味知地，山藥菟辛石決靈。</p>
<p>【注】蟹睛之證，烏睛努出如豆如珠，形似蟹睛，疼痛極甚，澀淚羞明。初起為實，硬而極痛；久則為虛，軟而不疼。總因肝、膽積熱沖睛，腎中虛熱注目所致。實者宜瀉肝湯；虛者用鎮腎決明丸。</p>
<p><u>瀉肝湯方</u></p>
<p>車前子　地骨皮　芒硝（各一錢）　大黃　知母（各一錢半）　黑參（一錢）　柴胡（二錢）　茺蔚子（二錢）</p>
<p>上為粗末，以水二盞，煎至八分，去渣，空心溫服。</p>
<p><u>鎮腎決明丸方</u></p>
<p>五味子（半兩）　知母（炒）　生地黃　山藥（炒，各一兩半）　菟絲子（一兩）　細辛（半兩）　石決明（煅，一兩）</p>
<p>上為細末，煉蜜為丸，桐子大，空心茶清送三錢。</p>

<h2>旋螺尖起歌</h2>
<p>旋螺尖起如螺殼，烏睛色變極痛疼，殼形尖起色青黑，肝經積熱血瘀凝。輕宜瀉腦防辛梗，赤芍天冬五味茺；重者瀉肝硝黃桔，柴芩知母細車行。</p>
<p>【注】旋螺外障，氣輪之內烏珠色變青白，如螺獅之殼，其色初青久黑，其形尖圓，乃肝經積熱亢極，瘀血凝滯所致。輕者宜瀉腦湯；重者用瀉肝飲子。</p>
<p><u>瀉腦湯方</u></p>
<p>防風（二錢）　細辛（五分）　桔梗（一錢）　赤芍藥（一錢）　天門冬（去心，一錢）　五味子（五分）　茺蔚子（二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>
<p><u>瀉肝飲子</u></p>
<p>芒硝　大黃　桔梗　柴胡　黃芩　知母（炒）　細辛　車前子（各一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>胬肉攀睛歌</h2>
<p>胬肉攀睛大眥起，初侵風輪久掩瞳，或癢或疼漸積厚，赤爛多年肺熱壅。初起紫金膏點效，久宜鉤割熨烙攻，內服除風湯蔚桔，細辛連味大黃風。</p>
<p>【注】胬肉攀睛之證，起於大眥，初則漸侵風輪，久則掩過瞳仁，或癢或痛，漸漸積厚。此證多因赤爛年久，或肺經風熱壅盛所致。初起可點紫金膏，胬瘀自退；久則堅韌難消，必須鉤割熨烙後，服除風湯。</p>
<p><u>除風湯方</u></p>
<p>茺蔚子（一錢）　桔梗（一錢）　細辛（五分）　黃連（一錢）　五味子（五分）　大黃（一錢）　防風（一錢）</p>
<p>上為末，以水二盞，煎至一盞，食後去渣溫服。</p>
<p><u>紫金膏</u>（方見卷末）</p>

<h2>雞冠蜆肉歌</h2>
<p>雞冠蜆肉內眥生，胃心積熱共肝風，或青或赤如雞蜆，輕侵風輪重掩瞳。鉤割後服抽風桔，硝黃車黑細芩風，茺蔚丸芩石決黑，軍苓山藥地黃茺。</p>
<p>【注】雞冠蜆肉之證，起於睥眥之內，或青或赤，如雞冠蜆肉之形，漸漸而長，從大眥侵及風輪，久則掩及全目。此乃脾胃積熱，肝風上衝所致。先宜用手法鉤割後，服抽風湯或茺蔚丸。</p>
<p><u>抽風湯方</u></p>
<p>桔梗（一錢）　芒硝（一錢五分）　大黃（一錢）　車前子（一錢）　黑參（一錢五分）　細辛（一錢）　黃芩（一錢五分）　防風（二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>
<p><u>茺蔚丸方</u></p>
<p>黃芩（一兩）　石決明（煅，一兩）　黑參（一兩）　大黃（一兩）　茯苓（一兩）　山藥（炒，二兩）　生地黃（一兩五錢）　茺蔚子（二兩）</p>
<p>上為細末，煉蜜為丸，桐子大，空心茶清下三錢。</p>

<h2>神祟疼痛歌</h2>
<p>神祟疼痛忽然發，胞熱睛疼緣肺肝，洗肝散用硝黃桔，梔子黃芩知母添，黑參熱甚加歸地，外點還宜石燕丹。</p>
<p>【注】神祟疼痛之證，平素無病，忽然發動，瞼皮火熱，睛珠如刺，極痛難當。此肺肝風熱，上攻於眼，不可劆洗。宜服酒調洗肝散，外點石燕丹。</p>
<p><u>酒調洗肝散方</u></p>
<p>朴硝　大黃　桔梗　梔子　黃芩　知母（炒）　黑參（各等分）</p>
<p>熱甚者，加生地黃、當歸尾。</p>
<p>上為末，每服二三錢，溫酒調下，日服二次。</p>
<p><u>石燕丹</u>（方見卷末）</p>

<h2>突起睛高歌</h2>
<p>突起睛高珠腫疼，風熱毒火上衝睛，針後退熱桔梗飲，硝黃茺芍黑芩風，還睛五味參苓細，山藥車前防遠茺。</p>
<p>【注】突起睛高之證，緣風熱火毒，上衝於眼，疼痛難忍，睛珠突高脹起。宜先用針出其清涎毒水，後服退熱桔梗飲子，用還睛丸調理可愈。</p>
<p><u>退熱桔梗飲子</u></p>
<p>桔梗　芒硝　大黃　茺蔚子　白芍藥（炒）　黑參　黃芩　防風（各一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>
<p><u>還睛丸方</u></p>
<p>五味子（半兩）　人參（二兩）　茯苓（一兩）　細辛（半兩）　山藥（一兩）　車前子　防風　遠志　茺蔚子（各二兩）</p>
<p>上為細末，煉蜜丸，桐子大，空心茶清送下三錢。</p>

<h2>漏睛膿出歌</h2>
<p>漏睛膿出瞼眥間，或流膿汁或清涎，目無翳障不疼痛，風熱攻衝心火炎。竹葉瀉經湯柴瀉，升麻竹葉草車前，黃芩草決川羌活，苓芍將軍梔子連。</p>
<p>【注】漏睛膿出之證，生於瞼眥，或流膿水，或淌清涎，目無翳障，不疼不痛。乃風熱攻衝，心火上炎。宜用竹葉瀉經湯主之。</p>
<p><u>竹葉瀉經湯方</u></p>
<p>柴胡（五分）　澤瀉（四分）　升麻（五分）　青竹葉（十片）　甘草（炙，五分）　車前子（四分）　黃芩（六分）　草決明（四分）　川羌活（五分）　白茯苓（四分）　赤芍藥（四分）　大黃（六分）　梔子仁（炒，五分）　川黃連（五分）</p>
<p>上為粗末，以水二盞，煎至一盞，食後溫服。</p>

<h2>鶻眼凝晴歌</h2>
<p>鶻眼凝睛睛突定，目珠脹硬痛難當，積熱上衝腦熱注，外用摩風針血良，內服瀉肝湯桔蔚，柴防芩黑共硝黃。</p>
<p>【注】鶻眼凝睛之證，睛突於外，不能動轉，堅硬高努如鶻眼，脹滿疼痛難忍。此積熱上衝，腦中風熱，壅注於目所致。宜先用金針出血瀉毒，外敷摩風膏，內服瀉肝湯。</p>
<p><u>摩風膏</u>（方見卷末）</p>
<p><u>瀉肝湯方</u></p>
<p>桔梗　茺蔚子　柴胡　防風　黃芩　黑參　芒硝　大黃（各等分）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>倒睫拳毛歌</h2>
<p>倒睫拳毛內刺睛，皮鬆弦緊癢兼疼，磣澀難開胞瞼爛，肝風脾熱兩相壅，細辛湯用知茺黑，軍細防風桔梗羚。</p>
<p>【注】倒睫拳毛之證，由皮鬆弦緊，故拳毛倒入，內刺睛珠，磣澀難開，眼胞赤爛，癢而兼疼。此乃脾熱肝風，合邪上壅所致。宜用細辛湯，內清邪熱，外散風邪也。</p>
<p><u>細辛湯方</u></p>
<p>知母（二錢）　茺蔚子（二錢）　黑參（一錢）　大黃（一錢）　細辛（一錢）　防風（二錢）　桔梗（一錢）　羚羊角（鎊，一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>胞肉膠凝歌</h2>
<p>胞肉膠凝胞肉腫，初小漸大摩隱瞳，胃脾風熱上攻目，通脾瀉胃熱風清。</p>
<p>【注】胞肉膠凝之證，睥中蠹肉壅起，初小漸大，摩隱瞳仁，眼胞濕爛，眵淚膠黏。此乃脾胃中邪風積熱，上壅於目所致。宜用通脾瀉胃湯，散風清熱，兩解其邪。</p>
<p><u>通脾瀉胃湯</u>（方見黃膜上衝下）</p>

<h2>兩眥赤脈歌</h2>
<p>眥赤病屬心經火，大眥多實小眥虛，實者洗心散歸芍，麻黃連芥大黃梔，虛者九仙芩芥芍，菊芎歸草芷通宜。</p>
<p>【注】眥赤之證，赤脈起於大眥者，心經之實火也；赤脈起於小眥者，心經之虛熱也。實者用洗心散，兩解其實邪；虛者宜九仙散，清降其虛熱也。</p>
<p><u>七寶洗心散方</u></p>
<p>當歸（一錢）　赤芍藥（一錢）　麻黃（八分）　黃連（一錢）　荊芥（八分）　大黃（一錢）　梔子（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>
<p><u>九仙散方</u></p>
<p>黃芩　荊芥　赤芍藥　菊花　川芎　當歸　甘草　白芷　木通（各一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後服。</p>

<h2>花翳白陷歌</h2>
<p>花翳白陷在烏睛，四圍漸起漫神瞳，狀如棗花魚鱗翳，肺肝風熱腦中衝，知母飲子防風桔，知母硝黃芩細茺。</p>
<p>【注】花翳白陷者，乃黑睛生翳，風輪四圍漸起，中間低陷，其翳狀如棗花魚鱗之形，烏睛或白或帶微黃。此因肺肝積熱，風邪上衝於腦所致。宜用知母飲子。</p>
<p><u>知母飲子</u></p>
<p>防風（一錢五分）　桔梗（一錢五分）　知母（一錢）　芒硝（一錢）　大黃（一錢五分）　茯苓（一錢）　細辛（一錢）　茺蔚子（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>黑翳如珠歌</h2>
<p>黑翳如珠黑睛上，形如珠子黑而圓，淚出羞澀疼痛甚。大人肝腎虛風愆，通明補腎丸可服；小兒患此名眼疳，羚羊角飲硝黃細，知母羚防一併煎。</p>
<p>【注】黑翳如珠之證，黑睛上有黑翳，圓如珠子之形，淚出羞澀難開，疼痛極甚。若大人患此證，為肝腎虛熱風邪，宜用通明補腎丸；小兒患此證，為實熱眼疳，宜服羚羊角飲子，泄其實熱也。</p>
<p><u>通明補腎丸</u>（方見五風初患不足下）</p>
<p><u>羚羊角飲子</u></p>
<p>芒硝（一錢）　大黃（一錢）　細辛（五分）　知母（一錢）　羚羊角（鎊，一錢）　防風（二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食遠溫服。</p>

<h2>釘翳根深歌</h2>
<p>釘翳根深睛內生，硬似釘頭極痛疼，赤澀羞明時淚出，肝心毒熱上衝瞳，除熱飲子知母桔，硝黃茺蔚黑芩風。</p>
<p>【注】釘翳根深者，睛中翳黑，硬如釘子之形，其證疼痛赤澀，淚出羞明。此乃肝、心毒熱，上攻睛瞳。宜服除熱飲子，清瀉其毒熱也。</p>
<p><u>除熱飲子</u></p>
<p>知母（二錢）　桔梗（二錢）　芒硝（一錢）　大黃（一錢）　茺蔚子（一錢）　黑參（二錢）　黃芩（二錢）　防風（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>風牽喎僻歌</h2>
<p>風牽喎僻瞼癢赤，陽明風熱刺睛明，內服排風蠍味蛇，天麻白芍桔防風。</p>
<p>【注】風牽喎僻之證，瞼皮癢赤，時時口眼相牽而動，此乃陽明風熱上壅所致。宜先用針刺睛明穴，外泄其邪，後服排風散，內疏其風。</p>
<p><u>排風散方</u></p>
<p>乾蠍　五味子　烏蛇（各一錢）　天麻（二錢）　細辛　白芍藥（炒）　桔梗（各一錢）　防風（二錢）</p>
<p>上為細末，令勻，食後，米飲調下三錢。</p>

<h2>冰瑕翳深歌</h2>
<p>冰瑕翳深色微青，橫貫烏睛珠癢疼，淚眵赤脈緣肝熱，石燕丹宜外點靈，內服茺蔚硝黃細，元芍知母殼防風。</p>
<p>【注】冰瑕翳深之證，翳色青白如冰，橫貫烏睛，其證或癢或疼，發歇無時，眵黏淚出，白睛赤脈，此乃肝經之熱。宜外點石燕丹，內服茺蔚散。</p>
<p><u>石燕丹</u>（方見卷末）</p>
<p><u>茺蔚散方</u></p>
<p>茺蔚子（二錢）　芒硝（一錢）　大黃（一錢）　細辛（五分）　黑參（一錢）　赤芍藥（一錢五分）　知母（一錢）　枳殼（一錢）　防風（二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食遠溫服。</p>

<h2>兩瞼黏睛歌</h2>
<p>兩瞼黏睛眵癢疼，脾胃風濕熱甚成，菊花通聖硝黃桔，芍草荊歸膏薄芎，麻芩梔滑翹防術，外加羌細菊蔓荊。</p>
<p>【注】兩瞼黏睛之證，瞼內生瘡，眵淚癢痛，胞瞼黏合難開，此乃脾胃中風濕熱盛，合邪上攻。宜用防風通聖散加羌活、菊花、細辛、蔓荊子，外散風邪，內清邪熱。</p>
<p><u>菊花通聖散方</u></p>
<p>芒硝（五分）　大黃（酒蒸，五分）　桔梗（一錢）　白芍藥（炒，五分）　甘草（生，一錢五分）　荊芥穗（五分）　當歸（五分）　石膏（一錢）　薄荷（五分）　川芎（五分）　麻黃（五分）　黃芩（一錢）　梔子（炒黑，一錢）　滑石（二錢）　連翹（五分）　防風（五分）　白朮（炒，五分）</p>
<p>外加羌活、細辛、菊花、蔓荊子各五分。</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>玉翳浮滿歌</h2>
<p>玉翳浮滿時或疼，風熱沖腦蓋瞳睛，洗刀通聖羌獨細，蒺元賊決蛻蔓青。</p>
<p>【注】玉翳浮滿之證，初起時，或疼痛，黑睛上翳如玉色，遮蓋瞳仁，皆緣肝經熱極，風熱沖腦所致。宜用洗刀散，除風熱而消翳膜也。</p>
<p><u>洗刀散方</u></p>
<p>即防風通聖散加羌活、獨活、細辛、蒺藜、元參、木賊、草決明、蟬蛻、蔓荊子、青葙子各一錢。</p>

<h2>膜入水輪歌</h2>
<p>膜入水輪睛瘡後，瘡愈坐翳侵水輪。肺肝虛熱大腸燥，日久失治傷瞳神。退熱飲軍茺蔚黑，辛防五味桔黃芩。</p>
<p>【注】膜入水輪者，因黑白睛上生瘡而起，愈後瘡痕不沒，漸生翳膜，侵入水輪，此乃肝經積熱，大腸燥滯，邪熱上逆所致。宜用退熱飲子，清降其熱。</p>
<p><u>退熱飲子</u></p>
<p>大黃（一錢）　茺蔚子（二錢）　黑參（一錢）　細辛（一錢）　防風（二錢）　五味子（五分）　桔梗（二錢）　黃芩（二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>逆順生翳歌</h2>
<p>逆順生翳上下生，順則下垂逆上衝，鉤割後用知母飲，知味軍芩車桔茺。</p>
<p>【注】逆順生翳之證，從上垂下，侵入黑睛為順，從下衝上，侵入黑睛為逆。順則易安，逆則難治。並宜手法鉤割去其翳膜，後服知母飲子，清其內熱。</p>
<p><u>知母飲子</u></p>
<p>知母（炒，二錢）　五味子（五分）　大黃（一錢）　黃芩（一錢）　車前子（二錢）　桔梗（一錢）　茺蔚子（二錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>風牽瞼出歌</h2>
<p>風牽瞼出瞼皮翻，胞瞼俱紅眵淚漣。胃經積熱肝風盛，劆洗去瘀病可痊。後服黃耆湯蔚骨，防芩苓草大黃煎。</p>
<p>【注】風牽瞼出之證，乃瞼皮翻出向外，上下胞瞼俱赤，眵淚淋漓，皆緣胃經積熱，肝有風邪。宜先用劆洗去瘀，後服黃耆湯，清熱散邪也。</p>
<p><u>黃耆湯方</u></p>
<p>黃耆（一錢）　茺蔚子（二錢）　地骨皮（一錢）　防風（一錢五分）　黃芩（一錢）　茯苓（一錢）　甘草（五分）　大黃（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>瞼生風粟椒瘡歌</h2>
<p>椒瘡風粟瞼胞生，多淚難睜摩澀疼，脾經風熱粟黃軟，脾經濕熱椒硬紅。劆洗後用清脾飲，知母翹軍生地風，黃芩元粉黃連桔，陳皮荊芥黑參靈。</p>
<p>【注】椒瘡風粟之證，或起於瞼邊，或生於胞內，皆淚多難睜，沙澀摩睛疼痛。粟瘡如粟，其形黃軟，屬脾經風熱而成；椒瘡如椒，其形紅硬，屬脾經濕熱而成。並宜劆洗出血，服除風清脾飲，椒瘡倍芩連生地，風粟倍荊芥防風。</p>
<p><u>除風清脾飲</u></p>
<p>知母　連翹　大黃　生地黃　防風　黃芩　元明粉　黃連　桔梗　陳皮　荊芥穗　黑參（各等分）</p>
<p>上為粗末，以水二盞，煎至一盞，去渣食遠溫服。</p>

<h2>混睛歌</h2>
<p>混睛初起白睛混，漸生赤脈遮瞳睛，或混白膜漫珠上，白忌苔光赤散紅，先癢後疼隱澀淚，肝臟毒風劆洗清，後服地黃生熟地，蒺藜當歸甘草通，黃連木賊烏犀角，羌活元參軍穀精。</p>
<p>【注】混睛之證，初起白睛混赤，漸生赤脈，遮漫烏睛，或白或赤漫珠一色，白忌光滑如苔，赤忌赤脈外散，其證初起則先癢後痛，漸致磣澀淚出，羞明隱痛，視物昏朦，此乃肝臟毒風與瘀血上凝所致。先宜劆洗去瘀，後服地黃散，外點摩障靈光膏。</p>
<p><u>地黃散方</u></p>
<p>生地黃（七錢）　熟地黃（焙乾，七錢）　白蒺藜（炒，四錢）　當歸（七錢）　甘草（炙，五錢）　木通（五錢）　黃連（酒炒，五錢）　木賊（五錢）　烏犀角（鎊，五錢）　羌活（五錢）　元參（五錢）　大黃（七錢）　穀精草（五錢）</p>
<p>上為細末，令勻，每服三錢，煮羊肝汁，食遠調服。</p>
<p><u>摩障靈光膏</u>（方見卷末）</p>

<h2>被物撞破歌</h2>
<p>被物撞破珠脹痛，腫閉胞青劆洗良，外塗生地地黃散，芎地羚軍芍殼香。</p>
<p>【注】被物撞破者，或因打撲，或因撞損，睛珠脹痛，眼胞青紫，腫閉難開。先宜劆洗散瘀，外敷搗爛生地黃膏，內服生地黃散。</p>
<p><u>生地黃散方</u></p>
<p>川芎　生地黃　羚羊角　大黃　赤芍藥　枳殼　木香（各一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>撞刺生翳歌</h2>
<p>撞刺生翳遺刺痕，日久血瘀障翳生，赤脈澀疼經效散，柴軍歸芍草犀同。</p>
<p>【注】撞刺生翳之證，或被竹木簽刺成瘡，因治療不淨，留痕日久，瘀血凝積，遂生翳膜，赤脈滿目，澀痛淚出。宜用經效散，清熱散瘀也。</p>
<p><u>經效散方</u></p>
<p>柴胡（二錢）　大黃（一錢）　當歸尾（一錢）　赤芍藥（一錢）　甘草梢（五分）　犀角（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>痛如針刺歌</h2>
<p>痛如針刺心火熾，睛珠如同針刺疼，頭疼目眩眼系急，針後八正草梔燈，桑車萹蓄滑生地，竹葉生軍瞿麥通。</p>
<p>【注】痛如針刺，乃心經毒火上熾，睛珠忽然極痛，猶如針刺，微帶頭疼目眩，眼繫緊急。先宜火針刺太陽穴，外散其邪；後服加味八正散，內泄其熱也。</p>
<p><u>加味八正散方</u></p>
<p>甘草　梔子　燈心草　桑白皮　車前子　萹蓄　滑石　生地黃　苦竹葉　大黃　瞿麥　木通（各等分）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>眼癢歌</h2>
<p>眼癢皆因肝膽風，癢生眥瞼黑白睛。外用廣大重明洗，內服荊防羌烏芎。</p>
<p>【注】眼癢之證，皆因肝、膽二經風邪沖發所致。或在瞼邊眥內，甚則癢連睛珠，癢極難忍。外以廣大重明湯熏洗，內服驅風一字散，疏散風邪。</p>
<p><u>廣大重明湯</u>（方見卷末）</p>
<p><u>驅風一字散方</u></p>
<p>荊芥穗（五錢）　防風（二兩五錢）　羌活（二兩五錢）　川烏（炮，五錢）　川芎（五錢）</p>
<p>上為細末，令勻，每服二錢，食後薄荷湯調下。</p>

<h2>衝風淚出歌</h2>
<p>風淚初起冬月甚，久則冬夏淚濛濛。肝虛冷淚不疼赤，實則熱淚腫紅疼。虛用補肝歸白芍，蒺芎熟地木賊風；實用茶調荊薄草，賊防羌決菊膏芎。</p>
<p>【注】衝風淚出之證，見風淚出，初起則冬月甚，夏月輕，久則冬夏皆然，此乃肝臟虛風邪熱所致。若淚冷不赤不痛為虛，宜用補肝湯；淚熱腫赤疼痛為實，宜用川芎茶調散。</p>
<p><u>止淚補肝散方</u></p>
<p>當歸（二錢）　白芍藥（炒，一錢）　蒺藜（一錢）　川芎（五分）　熟地黃（二錢）　木賊（一錢）　防風（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食遠去渣溫服。</p>
<p><u>川芎茶調散方</u></p>
<p>荊芥　薄荷　甘草（炙）　木賊　防風　羌活　石決明（煅）　菊花　石膏　川芎（各一兩）</p>
<p>上為細末，令勻，每服三錢，食後茶清調下。</p>

<h2>風赤瘡痍歌</h2>
<p>風赤瘡痍眥瞼生，黑睛端好瞼爛紅，脾經風熱宜急治，久生翳膜遮瞳睛。加減四物湯生地，苦參牛蒡薄荷風，當歸赤芍天花粉，連翹荊芥穗川芎。</p>
<p>【注】風赤瘡痍者，起於兩眥，其黑睛則端然無恙，惟瞼邊爛而紅赤。此乃脾經風熱上攻所致，宜急治之，久則恐生翳膜，遮蓋睛瞳。用加減四物湯。</p>
<p><u>加減四物湯方</u></p>
<p>生地黃　苦參　牛蒡子　薄荷　防風　當歸　赤芍藥　天花粉　連翹　荊芥穗　川芎（各一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>暴風客熱歌</h2>
<p>暴風客熱胞腫疼，淚多癢赤脹白睛。原於肺熱召風鬱，菊花通聖可收功。</p>
<p>【注】暴風客熱者，胞腫疼痛，淚多癢赤，白睛脹起。此證原於肺客邪熱，外召風邪。先宜劆洗，後用菊花通聖散，內清邪熱，外散風邪也。</p>
<p><u>菊花通聖散</u>（方見兩瞼黏睛下）</p>

<h2>傷寒熱病後患目歌</h2>
<p>傷寒餘熱過食辛，瞳散黑花澀淚頻，紅腫痛用生犀飲，羚防芩桔知苓參。</p>
<p>【注】傷寒熱病後患目者，因餘熱未清，過食辛熱，兩熱合邪，以致瞳仁散大，時見黑花，隱澀淚多，紅腫疼痛。宜用生犀飲，清解其熱也。</p>
<p><u>生犀飲</u></p>
<p>生犀角（二錢）　羚羊角（一錢）　防風（一錢）　黃芩（一錢）　桔梗（一錢五分）　知母（一錢）　茯苓（一錢）　人參（一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>肝虛積熱歌</h2>
<p>肝虛積熱頻發歇，起初紅腫痛羞明，年深生翳漸昏暗，青葙丸用菟絲茺，生地青葙防五味，黑柴澤瀉細車苓。</p>
<p>【注】肝虛積熱之證，時發時歇，初則紅腫疼痛，澀淚難開；久則漸重，遂生翳膜，視物昏暗。宜用青葙子丸治之。</p>
<p><u>青葙丸方</u></p>
<p>菟絲子（一兩）　茺蔚子（一兩）　生地黃（二兩）　青葙子（二兩）　防風（一兩）　五味子（三錢）　黑參（一兩）　柴胡（一兩）　澤瀉（一兩）　細辛（三錢）　車前子（一兩）　茯苓（一兩）</p>
<p>上為細末，煉蜜為丸，桐子大，空心茶清送下三錢。</p>

<h2>因他患後生翳歌</h2>
<p>因患病後生雲翳，赤爛日久翳遮瞳，心無黃赤猶能見，羊肝丸蒺菊川芎，決地楮槐連五味，荊歸甘草蕤仁風。</p>
<p>【注】因患他病後生翳者，為患後生翳也。初則赤爛，日久漸生雲翳，遮蔽瞳仁，視無所見。醫者當細看翳心，若不黃赤，猶能通三光者，可治。宜常服羊肝丸可愈。</p>
<p><u>羊肝丸方</u></p>
<p>雄羊肝（一具）　白蒺藜（炒去刺，一兩）　菊花（去梗葉，一兩）　川芎（三錢）　石決明（一兩）　生地黃（一兩）　楮實子（五錢）　槐角（炒，五錢）　黃連（五錢）　五味子（五錢）　荊芥穗（二錢五分）　當歸尾（五錢）　甘草（五錢）　蕤仁（去殼油，七錢）　防風（二錢）</p>
<p>上為細末，雄羊肝一具，滾水沸過，和前藥，搗為丸，如桐子大。每服五六十丸，空心薄荷湯下。</p>

<h2>睥生痰核歌</h2>
<p>睥生痰核痰火結，核形如豆堅不疼，失治成癭流膿血，防風散結芷芩風，黑桔前胡陳赤芍，浙貝蒼朮花粉同。</p>
<p>【注】睥生痰核之證，因痰火結聚而成，生於胞外，皮內核形如豆，堅硬不疼，宜用防風散結湯，化痰散熱。若久而不治，漸長為癭，破則成漏，為難治矣。</p>
<p><u>防風散結湯方</u></p>
<p>白芷　黃芩　防風　黑參　桔梗　前胡　陳皮　赤芍藥　浙貝母　蒼朮　天花粉（各八分）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>天行赤眼歌</h2>
<p>天行赤眼四時生，傳染熱淚腫赤疼，受邪淺深隨人化。驅風散熱飲防風，牛蒡將軍羌赤芍，連翹梔薄草歸芎。</p>
<p>【注】天行赤眼者，四時流行風熱之毒，傳染而成，老幼相傳，沿門逐戶，赤腫澀淚，羞明疼痛，受邪淺深，視人強弱，強者先愈，弱者遲愈。宜用驅風散熱飲，風盛倍羌防，熱盛倍大黃。</p>
<p><u>驅風散熱飲</u></p>
<p>防風　牛蒡子（炒研）　大黃（酒浸）　羌活　赤芍藥　連翹　梔子（炒）　薄荷（各一錢）　甘草（五分）　當歸尾　川芎（各一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>小兒青盲歌</h2>
<p>小兒青盲胎受風，瞳子端然視物蒙。明目羊肝桂柏味，細菊羌連白朮同。</p>
<p>【注】小兒青盲者，因胎受風邪，生後瞳仁端好，黑白分明，惟視物不見，有時夜臥多驚，嘔吐痰涎黃汁。宜用鎮肝明目羊肝丸，久服可愈。</p>
<p><u>鎮肝明目羊肝丸方</u></p>
<p>羯羊肝（用新瓦盆焙乾，如大隻用一半，竹刃切片，一具）　官桂　柏子仁　五味子　細辛　菊花　羌活（各五錢）　黃連（炒，七錢）　白朮（五錢）</p>
<p>上為細末，煉蜜為丸，如桐子大，沸湯研調，空心服一錢。</p>

<h2>胎風赤爛歌</h2>
<p>胎風赤爛緣胎熱，目赤眵黏眥爛紅。小防風湯羌梔草，歸尾將軍赤芍風。</p>
<p>【注】胎風赤爛之證，因在母腹其母過食辛熱，或生後，乳母過食辛熱，致令小兒雙目盡赤，眵淚膠黏，四眥濕爛。宜用小防風湯治之。</p>
<p><u>小防風湯方</u></p>
<p>羌活　梔子　甘草　當歸尾　大黃　赤芍藥　防風（各五分）</p>
<p>上為粗末，以水一盞半，煎至五分，空心溫服。</p>

<h2>癍瘡入眼歌</h2>
<p>小兒癍瘡入眼中，赤腫難開澀淚疼，久生雲翳如銀色，肝經餘熱上衝睛，紅花散用草歸地，赤芍軍翹紫草紅。</p>
<p>【注】小兒癍瘡之證，因患痘時瘡生眼中，赤腫難開，澀淚羞明疼痛，久則生翳如銀色。此乃痘後，肝經餘熱上攻睛瞳所致。宜用紅花散，清熱散瘀，其證自愈。</p>
<p><u>紅花散方</u></p>
<p>甘草　當歸尾　生地黃　赤芍藥　大黃　連翹　紫草　紅花（各五分）</p>
<p>上為粗末，燈心草十莖，竹葉十片為引，以水一盞半，煎至五分，食遠去渣溫服。</p>

<h2>轆轤轉關歌</h2>
<p>轆轤轉關肝風盛，旋轉睛珠轆轤同，輕則瞳斜重反背，初起鉤藤飲蠍芎，參防二麻殭蠶草，後服天冬飲赤苓，羌活天冬五味子，人參知母蔚防風。</p>
<p>【注】轆轤轉關之證，因肝經風邪壅盛，以致二目睛珠旋轉不定，與轆轤相同，輕則瞳仁偏斜，重則瞳仁反背。初起宜用鉤藤飲，疏散風邪；定後用天門冬飲，調理即愈。</p>
<p><u>鉤藤飲</u></p>
<p>鉤藤（五分）　全蠍（炒去毒，一錢）　川芎　人參　防風（各七分）　麻黃（三分）　天麻（七分）　殭蠶（炒，一錢二分）　甘草（炙，三分）</p>
<p>上為粗末，以水二盞，煎至一盞，去渣，不拘時服。</p>
<p><u>天門冬飲</u></p>
<p>赤茯苓（七分）　羌活（七分）　天門冬（一錢）　五味子（五分）　人參（七分）　知母（一錢）　茺蔚子（一錢）　防風（五分）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>小兒生贅歌</h2>
<p>小兒生贅生瞼內，初小漸大隱摩瞳，赤澀淚多脾胃熱，鉤割劆洗去瘀紅，清胃散用車前子，膏軍柴桔黑芩風。</p>
<p>【注】小兒生贅之證，生於眼胞之內，初起如麻子，久則漸長如豆，隱摩瞳仁，赤澀淚出。此乃脾胃積熱上壅所致。先用手法或鉤割或劆洗，散去外瘀；後用清胃散，清其內熱。</p>
<p><u>清胃散方</u></p>
<p>車前子　石膏　大黃　柴胡　桔梗　黑參　黃芩　防風（各一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>小兒疳眼歌</h2>
<p>小兒疳眼肝脾病，腫疼澀淚翳遮瞳，咬甲揉鼻合面臥，肥兒神麥荑連同。</p>
<p>【注】小兒疳眼者，初因飲食傷脾，久則肝熱上衝，腫痛難開，隱澀淚多，漸生白膜，雲翳遮睛，外則撏眉咬甲揉鼻，喜合面而臥，不喜抬頭。宜用四味肥兒丸，久服即效。</p>
<p><u>四味肥兒丸方</u></p>
<p>神麯（炒）　麥芽（炒）　蕪荑　黃連（炒，各等分）</p>
<p>上為細末，令勻，水糊為丸，桐子大，每服一錢，空心白湯送下。</p>

<h2>小兒通睛歌</h2>
<p>小兒通睛因驚振，看東反西視斜偏，牛黃珠麝竺金黛，地龍蘇附珀油蠶。</p>
<p>【注】小兒通睛之證，或因驚恐，或緣擊振，致雙目睛通，瞻視偏斜，看東反西，視左反右。急用牛黃丸，疏風鎮驚，久則即成難治之證。</p>
<p><u>牛黃丸方</u></p>
<p>牛黃（三錢）　珍珠（三錢）　麝香（少許）　天竺黃（三錢）　金鉑（為衣，量加）　青黛（三錢）　地龍（三錢）　蘇合油（五錢）　白附子（炮，三錢）　琥珀（三錢）　香油（五錢）　殭蠶（三錢）</p>
<p>以上九味，各另研極細，共為一處，用細甘草梢一兩煎汁，次入蘇合油香油兌均，和藥為丸，黃豆大，金鉑為衣，薄荷湯化下一丸。忌一切酒面、辛熱、生痰等物。</p>

<h2>眯目飛塵飛絲歌</h2>
<p>眯目塵絲入目中，淚澀難開睛痛疼，初宜外治久生翳，酒調散用草歸茺，螵蛸赤芍蒼菊桔，翹麻羌活大黃同。</p>
<p>【注】眯目者，或飛塵飛絲風吹入目也。其證淚多隱澀難開，睛珠疼痛，初得時，宜翻轉眼睥，用綿裹釵腳撥出眯物；若日久生雲翳者，宜用酒調散治之。</p>
<p><u>酒調散方</u></p>
<p>甘草　當歸　茺蔚子　桑螵蛸　赤芍藥　蒼朮　菊花　桔梗　連翹　麻黃　羌活　大黃（各一兩）</p>
<p>上為細末，每服三錢，酒調下，不拘時服。</p>

<h1>補遺</h1>

<h2>能遠怯近歌</h2>
<p>近視昏蒙遠視明，陽光有餘損陰精，須用地芝丸枳殼，菊花生地共天冬。</p>
<p>【注】能遠怯近者，謂視物遠則能見，近則昏蒙也。蓋由其人陽氣有餘，陰精不足，故光華散亂，不能收斂於近也。宜用地芝丸養陰，久服則目自愈。</p>
<p><u>地芝丸方</u></p>
<p>枳殼（去穰）　菊花（各三兩）　生地黃（焙乾）　天門冬（去心，各四兩）</p>
<p>上為細末，煉蜜為丸，桐子大，每服百丸，食後茶清送下。</p>

<h2>能近怯遠歌</h2>
<p>近視清明遠視昏，陽光不足被陰侵，定志丸用菖蒲遠，硃砂人參白茯神。</p>
<p>【注】能近怯遠者，非生成近視，謂平昔無此證，忽視物近則明瞭，遠則昏暗也，由其人陰氣偏盛，陽氣不足，陽被陰侵，是以光華不能發越於遠也。宜定志丸補心壯神，神足則自能遠視矣。</p>
<p><u>定志丸方</u></p>
<p>菖蒲（二兩）　遠志（去心，二兩）　硃砂（研細另用，三錢）　人參（一兩）　白茯神（一兩）</p>
<p>上為細末，煉蜜為丸，桐子大，以硃砂為衣，每服五十丸，食後米飲湯送下。</p>

<h2>瞳神散大歌</h2>
<p>瞳神散大風輪窄，邪熱蒸之風氣攻，或因思怒痰寒瘧，地黃丸內芍歸芎，防己丹柴知二地，丹參獨柏味寒茺。</p>
<p>【注】瞳神散大者，謂瞳神散大，風輪反為窄窄一周，甚則一周如線。乃邪熱內蒸，風氣上攻所致，亦有因憂思氣怒，痰火傷寒，瘧疾經產敗血等證而成。宜用地黃丸。</p>
<p><u>地黃丸方</u>（一名：羌活退翳丸）</p>
<p>白芍藥（酒炒，一兩三錢）　當歸身（酒炒，五錢）　川芎（酒洗，三錢）　防己（酒製，二錢）　牡丹皮（酒洗，三錢）　柴胡（三錢）　知母（鹽水炒，三錢）　熟地黃（焙，八錢）　生地黃（八錢）　丹參（五錢）　獨活（三錢）　黃柏（酒製，五錢）　五味子（三錢）　寒水石（三錢）　茺蔚子（五錢）</p>
<p>上為細末，煉蜜為丸，桐子大，每服三錢，空心白滾湯送下。</p>

<h2>瞳神縮小歌</h2>
<p>瞳神縮小如針簪，勞傷精血損腎肝，視不甚昏微隱澀，清腎抑陽黃柏連，草決苓歸生地芍，獨活知母枸杞寒。</p>
<p>【注】瞳神縮小者，謂瞳神漸漸縮小如簪腳，甚則如針。乃淫欲勞傷精血，虧損腎肝二經所致。其證視物不甚昏，惟覺羞明隱澀。宜用清腎抑陽丸，壯水以制陽也。</p>
<p><u>清腎抑陽丸方</u></p>
<p>黃柏（鹽水制，二兩）　黃連（酒炒，二兩）　草決明（炒，一兩）　白茯苓（二兩）　當歸（酒洗，炒，一兩）　生地黃（二兩）　白芍藥（酒炒，一兩）　獨活（八錢）　知母（鹽水制，二兩）　枸杞子（二兩）　寒水石（另研，二兩）</p>
<p>上為細末，煉蜜為丸，如桐子大，每服三錢，空心白滾湯送下。</p>

<h2>乾澀昏花歌</h2>
<p>乾澀昏花肝腎病，酒色勞瞻思慮傷，四物五子車前子，覆盆枸杞菟絲當，熟地川芎芍地膚，五膽膏宜外點良。</p>
<p>【注】乾澀昏花者，謂目覺乾澀不爽，視物昏花也。此乃肝腎俱傷之候。或因嗜酒恣欲，或勞瞻竭視，或思慮太過，皆成此證。宜用四物五子丸，滋陰養水，略帶抑火，以培其本也。</p>
<p><u>四物五子丸方</u></p>
<p>車前子（酒蒸）　覆盆子　枸杞子　菟絲子（酒煮爛）　當歸（酒洗）　熟地黃　川芎　白芍藥　地膚子（各等分）</p>
<p>上為細末，煉蜜為丸，桐子大，每服二錢，不拘時鹽湯送下。</p>
<p><u>五膽膏</u>（方見卷末）</p>

<h2>白眼痛歌</h2>
<p>白眼痛病不紅腫，紅絲赤脈沙澀疼，肺脾濕熱兼伏火，須辨赤脈三陽經。桑皮湯澤元芩桔，菊草旋苓桑麥冬。</p>
<p>【注】白眼痛者，俗呼為害白眼。其證不紅、不腫，沙澀疼痛，多生紅絲赤脈。乃脾肺絡傷濕熱，兼氣分伏火上衝所致。須看赤脈紅絲，以辨三陽：從上而下者太陽也，羌活為使；從下而上者陽明也，升麻為使；從外至內者少陽也，柴胡為使。宜桑白皮湯主之。</p>
<p><u>桑白皮湯方</u></p>
<p>澤瀉（八分）　元參（八分）　黃芩（一錢）　桔梗（七分）　菊花（五分）　甘草（二分半）　旋覆花（一錢）　茯苓（七分）　桑白皮（七分）　麥門冬（去心，一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，去渣溫服。</p>

<h2>女子逆經歌</h2>
<p>女子逆經血灌瞳，滿眼如朱胬肉生，總因血熱經阻逆，通經蘇木大黃紅，芩連羌薄梔香附，生地歸芍賊草芎。</p>
<p>【注】女子逆經之證，乃血逆上行，沖灌瞳仁，以致滿眼赤澀，或生胬肉，總由血熱經阻不行，因而上逆也，宜用通經散，破血通經，其血翳自退。</p>
<p><u>通經散方</u></p>
<p>蘇木（一兩）　大黃（五錢）　紅花（一兩）　黃芩（二兩）　黃連　羌活　薄荷　黑梔子　香附　生地黃　當歸　赤芍藥　木賊　甘草　川芎（各一兩）</p>
<p>上為粗末，令勻，每服五錢，以水一盞半，煎至七分，食後去渣溫服。</p>

<h2>行經目痛歌</h2>
<p>女子行經目澀疼，眩暈頭疼雲翳生，去血過多肝臟損，當歸補血薄羌茺，柴胡蒺藜菊防草，生地當歸白芍芎。</p>
<p>【注】行經目痛者，女子遇經行之際，眼目澀痛，頭疼眩暈，腫澀難開，生翳於黑睛上，或如粟米，或花翳白陷。此因經行去血過多，肝經虛損故也。宜用當歸補血湯治之。</p>
<p><u>當歸補血湯方</u></p>
<p>薄荷（五分）　羌活（五分）　茺蔚子（一錢）　柴胡（八分）　蒺藜（一錢）　菊花（八分）　防風（八分）　甘草（四分）　生地黃（二錢）　當歸（一錢五分）　白芍藥（一錢）　川芎（八分）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>

<h2>妊娠目病歌</h2>
<p>妊娠目病有餘證，須辨氣分血分醫，氣分旋螺瞳散大，天冬飲用茯苓知，羌活防風參五味，血分瘀血並凝脂，保胎芩芥歸芍草，連翹芎地縮陳皮。</p>
<p>【注】妊娠目病者，為有餘之證，有氣分、血分之別。屬氣分者，多見旋螺瞳仁散大，乃氣分之熱，宜天門冬飲；屬血分者，多生瘀血，凝脂翳障，乃血分之熱，宜用保胎清火湯以治之。</p>
<p><u>天門冬飲</u></p>
<p>天門冬（一錢五分）　茯苓（一錢）　知母（一錢五分）　羌活（五分）　防風（五分）　人參（五分）　五味子（五分）</p>
<p>上為粗末，以水二盞，煎至一盞，食後去渣溫服。</p>
<p><u>保胎清火湯方</u></p>
<p>黃芩（一錢二分）　荊芥穗　當歸身　白芍藥（各一錢）　甘草（炙，三分）　連翹（一錢）　川芎（八分）　生地黃　縮砂仁　陳皮（各一錢）</p>
<p>上為粗末，以水二盞，煎至一盞，食遠去渣溫服。</p>

<h2>產後病目歌</h2>
<p>產後患目血不足，病有三因治可通，思哭勞瞻多內障，嗜辛厚味外障成。外因頭風風爛濕，四物補肝香附芎，夏枯熟地歸芍草，隨人加減可收功。</p>
<p>【注】產後患目，乃去血過多不足之證，病雖有三因之別，而治法可以加減變通。內因者，多緣思慮哭泣，或竭視勞瞻，致成內障，須四物補肝湯，倍熟地芎歸；外因者，因嗜辛辣厚味，或因頭風，致成風赤濕爛。宜本方倍香附、川芎、夏枯草，隨證加減以治之。</p>
<p><u>四物補肝湯方</u></p>
<p>香附（酒製，一錢五分）　川芎（一錢）　夏枯草（二錢）　熟地黃（焙乾，四錢）　當歸身（酒洗，二錢）　白芍藥（酒洗，一錢五分）　甘草（炙，五分）</p>
<p>上為粗末，以水二盞，煎至一盞，食遠去渣溫服。</p>

<h1>附外治方</h1>
<p><u>焮腫膏方</u></p>
<p>膩粉（少許）　黃蠟　代赭石（研，各五錢）　細磁末　黃柏（細末）　麻油（各一兩）</p>
<p>上為極細末，入銅杓內，入油蠟同煎為膏，塗患處。</p>
<p><u>紫金膏方</u></p>
<p>爐甘石（爐甘石入大銀罐內，鹽泥封固，用炭火煅一炷香，以罐通紅為度，取起為末，用黃連水飛過，再入黃芩黃連黃柏湯內，將湯煮乾，以甘石如松花色，四兩）　黃丹（入鍋內，炒黑色，用草試之，草灼提起，如此三次，研極細末，水飛，四兩）　硼砂（研細飛過，三錢）　硃砂（研細飛過，三錢）　輕粉（五分）　青鹽（水洗去泥，五分）　珍珠（三錢）　白丁香（乳汁化開，去渣，五分）　沒藥（五分）　乳香（五分）　海螵蛸（去皮研細，二錢）　枯礬（五分）　硇砂（五分）　當歸（研細，五分）　川芎（研細，五分）　黃連（研細，五分）　甘草（研細，五分）　麝香（五分）　冰片（五分）</p>
<p>如法炮製，各研極細無聲，用好白蜜十五兩，入鍋內，熬去沫，只用白蜜十兩，先下爐甘石攪勻，次下黃丹攪勻，再下諸藥，不住手攪勻，如紫金色，不黏手為度。</p>
<p><u>石燕丹方</u></p>
<p>爐甘石（爐甘石入大銀罐內，鹽泥封固，用炭火煅一炷香，以罐通紅為度，取起為末，用黃連水飛過，再入黃芩黃連黃柏湯內，將湯煮乾，以甘石如松花色，四兩）　硼砂（銅杓內同水煮乾）　石燕　琥珀　硃砂（水飛，各取淨末一錢五分）　鷹屎白（如無，白丁香代之，一錢）　冰片　麝香（各分半）</p>
<p>上為極細末，研至無聲，每用少許，水蘸點眼大眥。</p>
<p>枯澀無淚，加熊膽、白蜜。血翳，加真阿魏。黃翳，加雞內金。風熱翳，加蕤仁。熱翳，加珍珠、牛黃。冷翳，加附子尖雄黃。老翳，倍硼砂，加豬胰子。</p>
<p><u>摩風膏方</u></p>
<p>黃連　細辛　當歸　杏仁（去皮尖，為霜）　防風　松脂（各五錢）　白芷　黃蠟（各一兩）　麻油（四兩）</p>
<p>先將蠟油熔化，前藥共研為細末，慢火熬膏，貼太陽穴。</p>
<p><u>摩障靈光膏方</u></p>
<p>黃連（銼如豆大一兩，童便浸一宿，曬乾為末）　黃丹（水飛，三兩）　當歸（酒洗，二錢）　麝香（五分）　乳香（五分）　輕粉（一錢）　硇砂（一錢）　白丁香（一錢）　龍腦（一錢）　海螵蛸（俱另研細末，一錢）　爐甘石（以黃連一兩，煎水淬七次，研細，六兩）</p>
<p>先用好白蜜十兩，熬五七沸，以淨紙搭去蠟面，除黃丹外，下余藥，用柳木攪勻；次下黃丹再攪，慢火徐徐攪至紫色，卻將乳香、麝香、輕粉、硇砂和勻，入上藥內，以不黏手為度。</p>
<p><u>廣大重明湯方</u></p>
<p>防風　菊花　龍膽草　甘草　細辛（各等分）</p>
<p>上為粗末，水一盞，煎半盞，去渣帶熱熏洗。</p>
<p><u>五膽膏方</u></p>
<p>豬膽汁　黃牛膽汁　羊膽汁　鯉魚膽汁（各二錢五分）　白蜜（二兩）　胡黃連（研末）　青皮（研末）　川黃連（研末）　熊膽（各二錢五分）</p>
<p>上將諸藥末與蜜並膽汁和勻，入瓷瓶內，以細紙封頭牢系，坐飯甑中蒸，待飯熟為度。</p>
