<header data-type="book">
<h1>神農本草經讀</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳念祖</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1803">公元1803年</data></dd></div>
<div><dt>底本</dt><dd>《陳修園醫書五十種·神農本草經讀》，清光緖乙巳31年商務印書館（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-614602">香港中文大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>神農本草經讀序</h1>
<p>陳修園老友，精於岐黃之術，自負長沙後身，世醫環而姍笑之。及遇危證，韁斷桅橫，萬手齊束。修園往，脫冠几上，探手舉脈，目霍霍上聳，良久乾笑曰：「候本不奇，治之者擾之耳。」主人曰：「某名醫。」曰：「誤矣。」曰：「法本朱、張、王、李。」曰：「更誤矣。天下豈有朱、張、王、李而能愈疾者乎！」口吃吃然罵，手仡仡然書，方具則又自批自贊自解，自起調刀圭火齊，促服之。服之如其言。</p>
<p>嘗以李時珍《綱目》為譾陋者，有《神農本草經注》六卷，其言簡，其旨賅，其義奇而不骩於正。其鉤深索隱也，元之又元，如李將軍之畫，不肯使一直筆。其扃闢奧啟也，仍復明白坦易，如白香山詩句，雖灶下老嫗，亦可與知，觿解不可解而後解，及其解之了，不異人也。可謂金心在中，銀手如斷矣。</p>
<p>出山後，斂抑才華。每診一病，必半日許，才出一方，有難之者，其言訥訥然如不能出。</p>
<p>壬戌冬回籍讀禮，閉門謝客。復取舊著六卷，中遴其切用者，一百餘種，附以《別錄》，分為四卷，俱從所以然處發揮，與舊著頗異，名曰《本草經讀》。蓋欲讀經者，讀於無字處也。修園為余言，所著尚有《傷寒論注》四卷，重訂《柯注傷寒論》八卷，重訂《活人百問》八卷，《金匱淺注》十六卷，《醫醫偶錄》二卷，《醫學從眾錄》八卷，《真方歌括》二卷，《景岳新方砭》四卷，《傷寒論讀》四卷，《金匱讀》四卷，《醫約》二卷，《醫訣》三卷。雖依類立言，義各有取要。其闡抉古經之旨，多與此書相發明。暇日時予將遍讀焉。</p>
<p><u>嘉慶八年歲次昭陽大淵獻皋月既望，侯官愚弟蔣慶齡小榕氏序。</u></p>

<h1>後敘</h1>
<p>上古之聖人，仰觀天之六氣，俯察地之五行，論草木、金石、禽獸之性，而合於人之五臟、六腑、十二經脈，著有《本草經》，詞古義深，難於窺測。漢季張長沙《傷寒論》、《金匱要略》，多采中古遺方，用藥之義，悉遵《本經》，應驗如響。自李唐而後，《千金》、《外臺》等書，有驗有不驗者；蓋與《本經》之旨，有合有不合也。沿及宋、元諸家，而師心自用，藥品日增，經義日晦，只云某藥治某病，某病宜某藥，因陋就簡，愈趨愈下。而流毒之最甚者，莫如宋之雷斆，竊古聖之名，著為《炮製》，顛倒是非，不知《本經》為何物。潔古、日華、東垣輩因之，而東垣純盜虛名，無稽臆說流傳至今，無有非之者。李瀕湖《綱目》卷帙浩繁，徒雜採世俗之說，以多為貴，不無喧客奪主之嫌。汪訒庵照《綱目》而約為《備要》，逐末忘本，不足道也。余友孝廉陳修園精通醫學，起死回生指不勝屈。前著有《本草經注》六卷，字櫛句解，不遺剩義；繕本出，紙貴一時。茲復著《本草經讀》四卷，視前著又高一格，俱從所以然處發揮，且以《內經》之旨，《金匱》、《傷寒》之法融貫於中，一書堪為醫林之金書，洵神農之功臣也。</p>
<p>余自髫年，以慈闈多病，矢志於醫。因本草向無繕本，集張隱菴、葉天士、陳修園三家之說，而附以管見，名為《本草經三注》，而集中唯修園之說最多。今得修園之《本草經讀》，則余《三注》之刻，可以俟之異日矣。喜其書之成而為之序。</p>

<h1>凡例</h1>
<p>一、明藥性者，始自神農，而伊尹配合而為湯液。仲景《傷寒》、《金匱》之方，即其遺書也。闡陰陽之秘，泄天地之藏，所以效如桴鼓。今人不敢用者，緣唐、宋以後，諸家之臆說盛行，全違聖訓，查對與經方所用之藥不合，始疑之，終且毀之也。</p>
<p>二、《神農本草》藥止三百六十品，字字精確，遵法用之，其效如神。自陶弘景以後，藥味日多，而聖經日晦矣。張潔古、李東垣輩，分經專派。徐之才相須、相使、相惡、相反等法，皆小家伎倆，不足言也。是刻只錄一百餘種，其餘不常用與不可得之品闕之。其註解俱遵原文，逐字疏發，經中不遺一字，經外不溢一詞。</p>
<p>三、是刻只錄時用之藥，其品弟及字樣，不盡遵舊本。考陶隱居本草，有朱書墨書之別：朱書為《神農本經》，墨書為《名醫別錄》。開寶間重定印本，易朱書為白字，茲因其近古而遵之。</p>
<p>是刻遵古分上中下三品，《別錄》等本，採附於後。</p>
<p>四、藥性始於神農。用藥者不讀《本草經》，如士子進場作制藝，不知題目出於四子書也。渠輩亦云藥性，大抵系《珍珠囊藥性賦》、《本草備要》及李時珍《本草綱目》之類，雜收眾說，經旨反為其所掩，尚可云本草耶？</p>
<p>五、近傳《本草崇原》，越之張隱菴著也。《本草經解》，吳之葉天士著也；二書超出諸群書之上。然隱菴專言運氣，其立論多失於蹈虛；天士囿於時好，其立論多失於膚淺；而隱菴間有精實處，天士間有超脫處，則修園謝不敏矣，故茲刻多附二家之注。</p>
<p>六、上古以司歲備物，謂得天地之專精。如君相二火司歲，則收取薑、桂、附子之熱類；如太陽寒水司歲，則收取黃芩、大黃之寒類；如太陰土氣司歲，則收取耆、朮、參、苓、山藥、黃精之土類；如厥陰風木司歲，則收取羌活、防風、天麻、鉤陳之風類；如陽明燥金司歲，則收取蒼朮、桑皮、半夏之燥類。蓋得主歲之氣以助之，則物之功力倍厚。中古之世，不能司歲備物，故用炮製以代天地之氣，如製附子曰炮，助其熱也；製蒼朮曰炒，助其燥也；制黃連以水浸，助其寒也。今人識見不及，每用相反之藥，而反制之，何異束縛手足而使之戰鬥哉？侶山堂之說最精，故節錄之。</p>
<p>按製藥始於雷公炮製，荒謬難以悉舉。要知此人名斆，宋時人，非黃帝時之雷公也。</p>
<p>七、熟地黃、枸杞，取其潤也；市醫炒鬆則上浮，燒灰則枯燥矣。附子、乾薑，取其烈也；市醫泡淡則力薄，炮黑則氣浮矣。以及竹瀝鹽、咸枳實之類，皆庸醫兩可之見，不足責也。至於棗仁生則令人不眠，熟則令人熟睡；黃耆生用則托裡發汗，炒熟則補中止汗；麥門冬不去心，令人煩燥；桑白皮不炒，大瀉肺氣之類，數百年相沿之陋，不得不急正之。</p>
<p>八、本經每藥主治，不過三、四證及六、七證而止。古聖人洞悉所以然之妙，而得其專長，非若後世諸書之泛泛也。最陋是李時珍《綱目》，泛引雜說而無當；李士材、汪訒庵，每味必摘其所短，俱是臆說，反啟時輩聚訟紛紛。修園為活人計，不得不痛斥之。</p>
<p>九、神農嘗草而作《本草經》，實無可考，其為開天明道之聖人所傳無疑也。張仲景、華元化起而述之，陶隱居之說不誣也。漢時去古未遠，二公為醫中之傑，遵所聞而記之，謂非神農所著可也，謂為神農所著亦可也。</p>
<p>十、每藥註解，必透發出所以然之妙，求與《內經》、《難經》、仲景等書，字字吻合而後快。古云群言淆亂衷於聖，願同志者取法乎上。</p>

<h1>卷之一</h1>

<h2>上品</h2>

<h3>人參</h3>
<p>氣味甘、微寒，無毒。主補五臟，安精神，定魂魄，止驚悸，除邪氣，明目開心益智。久服輕身延年。</p>
<p>陳修園曰：本經止此三十七字。其提綱云：主補五臟，以五臟屬陰也。精神不安、魂魄不定、驚悸不止、目不明、心智不足，皆陰虛為陽亢所擾也。今五臟得甘寒之助，則為定之、安之、止之、明之、開之、益之之效矣。曰邪氣者，非指外邪而言，乃陰虛而壯火食氣，火即邪氣也。今五臟得甘寒之助，則邪氣除矣。余細味經文，無一字言及溫補回陽。故仲景於汗、吐、下陰傷之證，用之以救津液。而一切回陽方中，絕不加此陰柔之品，反緩薑、附之功。故四逆湯、通脈四逆湯為回陽第一方，皆不用人參。而四逆加人參湯，以其利止亡血而加之也；茯苓四逆湯用之者，以其在汗、下之後也。今人輒云：以人參回陽。此說倡自宋、元以後，而大盛於薛立齋、張景岳、李士材輩，而李時珍《本草綱目》尤為雜沓。學者必於此等書焚去，方可與言醫道。</p>
<p>仲景一百一十三方中，用人參者只有一十七方：新加湯、小柴胡湯、柴胡桂枝湯、半夏瀉心湯、黃連湯、生薑瀉心湯、旋覆代赭石湯、乾薑黃芩黃連人參湯、厚朴生薑半夏人參湯、桂枝人參湯、四逆加人參湯、茯苓四逆湯、吳茱萸湯、理中湯、白虎加人參湯、竹葉石膏湯、炙甘草湯，皆是因汗、吐、下之後，亡其陰津，取其救陰。如理中、吳茱萸湯以剛燥劑中陽藥太過，取人參甘寒之性，養陰配陽，以臻於中和之妙也。</p>
<p>又曰：自時珍之《綱目》盛行，而神農之《本草經》遂廢。即如人參，《本經》明說微寒，時珍說生則寒，熟則溫，附會之甚。蓋藥有一定之性，除是生搗取汁冷服，與蒸曬八、九次，色味俱變者，頗有生熟之辨。若入煎劑，則生者亦熟矣。況寒熱本屬冰炭，豈一物蒸熟不蒸熟間，遂如許分別乎？嘗考古聖用參之旨，原為扶生氣安五臟起見。而為五臟之長，百脈之宗，司清濁之運化，為一身之橐龠者，肺也。人參惟微寒清肺，肺清則氣旺，氣旺則陰長而五臟安。古人所謂補陽者，即指其甘寒之用不助壯火以食氣而言，非謂其性溫補火也。</p>
<p>陶弘景謂：功用同甘草。凡一切寒溫補瀉之劑，皆可共濟成功。然甘草功兼陰陽，故《本經》云：「主五臟六腑」。人參功專補陰，故《本經》云：「主五臟」。仲景於咳嗽病去之者，亦以形寒飲冷之傷，非此陰寒之品所宜也。</p>

<h3>黃耆</h3>
<p>氣味甘、微溫，無毒。主癰疽，久敗瘡，排膿止痛，大風癩疾，五痔鼠瘻，補虛，小兒百病。生用、鹽水炒、酒炒、醋炒、蜜炙、白水炒。</p>
<p>陳修園曰：黃耆氣微溫，稟少陽之氣入膽與三焦；味甘無毒，稟太陰之味入肺與脾。其主癰疽者，甘能解毒也。久敗之瘡，肌肉皮毛潰爛，必膿多而痛甚，黃耆入脾而主肌肉，入肺而主皮毛也。大風者，殺人之邪風也。黃耆入膽而助中正之氣，俾神明不為風邪亂；入三焦而助決瀆之用，俾竅道不為風所壅；入脾而救受克之傷；入肺而制風木之動，所以主之。癩疾，又名大麻風，即風毒之甚也。五痔者，五種之痔瘡，乃少陽與太陰之火陷於下，而此能舉其陷。鼠瘻者，瘰癧之別名，乃膽經與三焦之火鬱於上，而此能散其鬱也。其曰補虛者，是總結上文諸證，久而致虛，此能補之。非泛言補益之品也。葉天士云：小兒稚陽也。稚陽為少陽，少陽生氣條達則不病，所以概主小兒百疾也。余細味經文，俱主表症而言，如六黃湯之寒以除熱，熱除則汗止；耆附湯之溫以回陽，陽回則汗止；玉屏風散之散以驅風，風平則汗止。諸方皆借黃耆走表之力，領諸藥而速達於表而止汗，非黃耆自能止汗也。諸家固表及生用發汗、炒用止汗等說，貽誤千古，茲特正之。</p>

<h3>白朮</h3>
<p>氣味甘、溫，無毒。主風寒濕痹，死肌、痙、疸，止汗，除熱，消食。作煎餌，久服輕身延年不飢。（仲景有赤朮，即蒼朮也。功用略同，偏長於消導。汗多者大忌之。）</p>
<p>陳修園曰：此為脾之正藥。其曰：風寒濕痹者，以風寒濕三氣合而為痹也。三氣雜至，以濕氣為主。死肌者，濕浸肌肉也；痙者，濕流關節也；疸者，濕鬱而為熱，熱則發黃也；濕與熱交蒸，則自汗而發熱也；脾受濕則失其健運之常，斯食不能消也；白朮功在除濕，所以主之。「作藥餌」三字另提。先聖大費苦心，以白朮之功用在燥，而所以妙處，在於多脂。（張隱菴云：土有濕氣，始能灌溉四旁，如地得雨露，始能發生萬物。）</p>
<p>今以生術削去皮，急火炙令熟，則味甘溫而質滋潤，久服有延年不飢之效。可見今人炒燥、炒黑、土蒸、水漂等制，大失經旨。</p>

<h3>甘草</h3>
<p>氣味甘平，無毒。主五臟六腑寒熱邪氣，堅筋骨，長肌肉，倍氣力，金瘡尰，解毒。久服輕身延年。（生用清火，炙用補中。）</p>
<p>陳修園曰：物之味甘者，至甘草為極。甘主脾，脾為後天之本，五臟六腑皆受氣焉。臟腑之本氣，則為正氣；外來寒熱之氣，則為邪氣；正氣旺則邪氣自退也。筋者，肝所主也；骨者，腎所主也；肌肉者，脾所主也；氣者，肺所主也；力者，心所主也；但使脾氣一盛，則五臟皆循環受益，而皆得其堅之、長之、倍之之效矣。金瘡者，為刀斧所傷而成瘡，瘡甚而腫。脾得補而肉自滿也。能解毒者，如毒物入土，則毒化也。土為萬物之母，土健則輕身延年也。</p>

<h3>薯蕷</h3>
<p>氣味甘、平，無毒。主傷中，補虛羸，除寒熱邪氣，補中，益氣力，長肌肉，強陰。久服耳目聰明，輕身，不飢，延年。</p>
<p>陳修園曰：此藥因唐代宗名蕷，避諱改為山藥。山藥氣平入肺，味甘無毒入脾。脾為中州而統血，血者陰也，中之守也；唯能益血，故主傷中。傷中愈，則肌肉豐，故補虛羸。肺主氣，氣虛則寒邪生；脾統血，血虛則熱邪生；血氣充而寒熱邪氣除矣。脾主四肢，脾血足則四肢健；肺主氣，肺氣充則氣力倍也。且此物生搗，最多津液而稠黏，又能補腎而填精，精足則強陰。目明、耳聰、不飢，是脾血之旺；輕身是肺氣之充；延年是誇其補益之效也。</p>
<p>凡上品，俱是尋常服食之物，非治病之藥，故神農另提出「久服」二字。可見今人每服上品之藥，如此物及人參、熟地、葳蕤、阿膠、菟絲子、沙苑蒺藜之類，合為一方，以治大病，誤人無算。蓋病不速去，元氣日傷，傷及則死。凡上品之藥，法宜久服，多則終身，少則數年，與五穀之養人相佐，以臻壽考。若大病而需用此藥，如五穀為養脾第一品。脾虛之人，強令食谷，即可畢補脾之能事，有是理乎？然操此技者，未有不得盛名。薛立齋、張景岳、馮楚瞻輩，倡之於前。而近日之東延西請、日診百人者，無非是術，誠可慨也！</p>

<h3>肉蓯蓉</h3>
<p>氣味甘、微溫，無毒。主五勞七傷，補中，除莖中寒熱痛，養五臟，強陰，益精氣，多子，婦人癥瘕。久服輕身。</p>
<p>陳修園曰：肉蓯蓉是馬精落地所生，取治精虛者，同氣相求之義也。凡五勞七傷，久而不愈，未有不傷其陰者。蓯蓉補五臟之精，精足則陰足矣。莖中者，精之道路，精虛則寒熱而痛，精足則痛已矣。（又滑以去著）。精生於五臟，而藏之於腎，精足則陽舉，精堅令人多子矣。婦人癥瘕，皆由血淤，精足則氣充，氣充則淤行也。葉天士注：癥瘕之謂其咸以耎堅，滑以去著，溫以散結，猶淺之乎測蓯蓉也。</p>
<p>張隱菴曰：馬為火畜，精屬水陰。蓯蓉感馬精而生，其形似肉，氣味甘溫，蓋稟少陰水火之氣，而歸於太陰坤土之藥也。土性柔和，故有蓯蓉之名。</p>

<h3>地黃</h3>
<p>氣味甘、寒，無毒。主折跌絕筋，傷中，逐血痹，填骨髓，長肌肉。作湯除寒熱積聚，除痹。生者尤良。久服輕身不老。</p>
<p>（參葉天士）　地黃氣寒，入足少陰腎經。味甘無毒，入足太陰脾經。氣味重濁，陰也；陰者，中之守也；傷中者，守中真陰傷也。地黃甘寒，補中焦之精汁，所以主之。血痹者，血虛閉而不運也。地黃味甘以滋脾血，氣寒以益腎氣，氣血行而閉者開矣。腎主骨，益腎則水足而骨髓充；脾主肌肉，潤脾則土滋而肌肉豐也。作湯除寒熱積聚者，湯者蕩也，或寒或熱之積聚，湯能蕩之也。蓋味甘可以緩急，性滑可以去著也。又曰：除痹者，言不但逐血痹，更除皮肌筋骨之痹也。除皮肉筋骨之痹，則折跌絕筋亦可療矣。久服輕身不老，以先後二天交換，元氣與穀氣俱納也。生者尤良，謂其本性俱在也。</p>
<p>陳修園曰：地黃，《本經》名地髓，《爾雅》名芐，又名芑。唐以後幾蒸幾曬為熟地黃，苦味盡除，入於溫補腎經丸劑，頗為相宜；若入湯劑及養血涼血等方，甚屬不合。蓋地黃專取其性涼而滑利流通，熟則膩滯不涼，全失其本性矣。徐靈胎辨之甚詳，無如若輩竟執迷不悟也。</p>
<p>又曰：百病之極，窮必及腎。及腎，危證也。有大承氣湯之急下法，有桃花湯之溫固法，有四逆湯、白通湯之回陽法，有豬苓湯、黃連雞子黃湯之救陰法，有真武湯之行水法，有附子湯之溫補法，皆所以救其危也。張景岳自創邪說，以百病之生，俱從腎治。誤以《神農本經》上品服食之地黃，認為治病之藥。（《內經》云：五穀為養，五果為助，五菜為充，毒藥攻邪。神農所列上品，多服食之品，即五穀、五果、五菜之類也，玩「久服」二字可見。聖人藥到病瘳，何以云久服？凡攻邪以去病，多取毒藥。）滋潤膠黏，反引邪氣斂存於少陰而無出路，以後雖服薑、附不熱，服芩、連不寒，服參、術不補，服硝、黃不下，其故何哉？蓋以熟地黃之膠黏善著。女人有孕服四物湯為主，隨證加入攻破之藥而不傷，以四物湯中之熟地黃能護胎也。知其護胎之功，便可悟其護邪之害。膠黏之性最善著物，如油入面，一著遂不能去也。凡遇有邪而誤用此藥者，百藥不效。病家不咎其用熟地黃之害，反以為曾用熟地黃而猶不效者，定為敗症，豈非景岳之造其孽哉？</p>

<h3>天門冬</h3>
<p>氣味苦、平，無毒。主諸暴風濕偏痹，強骨髓，殺三蟲，去伏屍。久服輕身、益氣、延年、不飢。</p>
<p>【參】　天門冬稟寒水之氣，而上通於天，故有天冬之名。主治諸暴風濕偏痹者，言風濕之邪暴中於人身，而成半身不遂之偏痹。天冬稟水天之氣，環轉運行，故可治也。強骨髓者，得寒水之精也。三蟲伏屍皆濕熱所化，天冬味苦可以祛濕，氣平可以清熱，濕熱下逐，三尸伏蟲皆去也。太陽為諸陽主氣，故久服輕身，益氣。天氣通貫於地中，故延年不飢。</p>
<p>張隱菴曰：天、麥門冬，皆稟少陰水精之氣。麥門冬，稟水精而上通於陽明；天門冬，稟水精而上通於太陽。夫冬主閉藏，門主開轉，咸名門冬者，咸能開轉閉藏而上達也。後人有天門冬補中有瀉，麥門冬瀉中有補之說，不知何處引來，良可嘆也。</p>

<h3>麥門冬</h3>
<p>氣味甘、平，無毒。主心腹結氣，傷中傷飢，胃脈絕，羸瘦短氣。久服輕身不老，不飢。</p>
<p>張隱菴曰：麥冬，本橫生，根顆連絡。有十二枚者，有十四枚者，有十五、六枚者，蓋合於人身十二絡。加任之屏翳，督之長強，為十四絡；又加脾之大絡名大包，共十五絡；又加胃之大絡名虛里，共十六絡。唯聖人能體察之，用之以通脈絡，並無「去心」二字。後人不詳經義，不窮物理，相沿去心久矣，今特表正之。《經》云：主心腹結氣，傷中傷飢，胃絡脈絕者，以麥冬根顆連絡不斷，能通達上下四旁，令結者解，傷者復，絕者續，皆借中心之貫通也。又主羸瘦短氣者，補胃自能生肌，補腎自能納氣也。久服輕身不老、不飢者，先天與後天俱足，斯體健而耐飢矣。（《崇原》曰：「麥冬氣味甘平，質性柔潤，凌冬青翠，蓋稟少陰冬水之精，與陽明胃土相合。）」又曰：凡物之涼者，其心必熱，熱者陰中之陽也。人但知去熱，而不知用陽，得其陽而後能通陰中之氣。</p>

<h3>細辛</h3>
<p>氣味辛、溫，無毒。主咳逆上氣，頭痛腦動，百節拘攣，風濕痹痛，死肌。久服明目，利九竅，輕身長年。</p>
<p>張隱菴曰：細辛氣味辛溫，一莖直上，其色赤黑，稟少陰泉下之水陰，而上交於太陽之藥也。少陰為水臟，太陽為水腑，水氣相通行於皮毛，內合於肺；若循行失職，則病咳逆上氣，而細辛能治之。太陽之脈，起於目內眥，從巔絡腦；若循行失職，則病頭痛腦動，而細辛亦能治之。太陽之氣主皮毛，少陰之氣主骨髓，少陰之氣不合太陽，則風濕相侵。痹於筋骨，則百節拘攣；痹於腠理，則為死肌；而細辛皆能治之。其所以能治之者，以氣勝之也。久服明目利九竅者，水精之氣濡於空竅也；九竅利，則輕身而延年矣。</p>
<p>又曰：宋元佑·陳承謂細辛單用末，不可過一錢，多則氣閉不通而死。近醫多以此語忌用，而不知辛香之藥豈能閉氣？上品無毒之藥何不可多用？方書之言，類此者不少。學者不詳察而遵信之，伊黃之門，終身不能入矣！</p>

<h3>柴胡</h3>
<p>氣味苦、平，無毒。主心腹腸胃中結氣，飲食積聚，寒熱邪氣，推陳致新。久服輕身、明目、益精。（按：經文不言發汗，仲聖用至八兩之多，可知性純，不妨多服，功緩必須重用也。）</p>
<p>葉天士曰：柴胡氣平，稟天中正之氣。味苦無毒，得地炎上之火味。膽者，中正之官，相火之府；所以獨入足少陽膽經，氣味輕升，陰中之陽，乃少陽也。其主心腹腸胃中結氣者，心腹腸胃，五臟六腑也。臟腑共十二經，凡十一臟，皆取決於膽。柴胡輕清，升達膽氣，膽氣條達，則十一臟從之宣化，故心腹腸胃中凡有結氣皆能散之也。其主飲食積聚者，蓋飲食入胃散精於肝，肝之疏散又借少陽膽為生髮之主也。柴胡升達膽氣，則肝能散精，而飲食積聚自下矣。少陽經行半表半裡，少陽受邪，邪並於陰則寒；邪並於陽則熱。柴胡和解少陽，故主寒熱之邪氣也。春氣一至，萬物俱新。柴胡得天地春升之性，入少陽以生氣血，故主推陳致新也。久服清氣上行，則陽氣日強，所以輕身。五臟六腑之精華上奉，所以明目。清氣上行，則陰氣下降，所以益精。精者，陰氣之英華也。</p>

<h3>黃連</h3>
<p>氣味苦、寒，無毒。主熱氣目痛、眥傷淚出，明目，腸澼腹痛下痢，婦人陰中腫痛。久服令人不忘。</p>
<p>陳修園曰：黃連氣寒，稟天冬寒水之氣，入足少陰腎；味苦無毒，得地南方之火味，入手少陰心。氣水而味火，一物同具，故能除水火相亂，而為濕熱之病。其云主熱氣者，除一切氣分之熱也。目痛、眥傷、淚出、不明，皆濕熱在上之病；腸澼腹痛下痢，皆濕熱在中之病；婦人陰中腫痛，為濕熱在下之病；黃連除濕熱，所以主之。久服令人不忘者，苦入心即能補心也。然苦為火之本味，以其味之苦而補之；而寒能勝火，即以其氣之寒而瀉之。千古唯仲景得《本經》之秘。《金匱》治心氣不足而吐血者，取之以補心；《傷寒》寒熱互結心下而痞滿者，取之以瀉心；厥陰之熱氣撞心者，合以烏梅；下利後重者，合以白頭翁等法。真信而好古之聖人也。</p>

<h3>防風</h3>
<p>氣味甘、溫，無毒。主大風，頭眩痛，惡風，風邪目盲無所見，風行周身，骨節疼痛、身重。久服輕身。</p>
<p>陳修園曰：防風氣溫，稟天春術之氣而入肝；味甘無毒，得地中土之味而入脾。主大風三字提綱，詳於巴戟天注，不贅。風傷陽位，則目盲無所見。風行周身者，經絡之風也；骨節疼痛者，關節之風也；身重者，病風而不能蹻捷也。防風之甘溫發散，可以統主之。然溫屬春和之氣，入肝而治風；尤妙在甘以入脾，培土以和水氣，其用獨神。此理證之易象，於剝復二卦而可悟焉。兩土同崩則剝，故大敗必顧脾胃；土木無忤則復，故病轉必和肝脾。防風驅風之中，大有回生之力；李東垣竟目為卒伍卑賤之品，真門外漢也。</p>

<h3>續斷</h3>
<p>氣味苦、微溫，無毒。主傷寒，補不足，金瘡癰瘍折跌，續筋骨，婦人乳難。久服益氣力。</p>
<p>【參】　此以形為治。續斷有肉有筋，如人筋在肉中之象；而色帶紫、帶黑，為肝腎之象。氣味苦溫，為少陰、陽明火土之氣化；故寒傷於經絡而能散之，癰瘍絡於經絡而能療之，折跌筋骨有傷，而能補不足、續其斷絕；以及婦人乳難，而能通其滯而為乳。益氣力者，亦能強筋骨之功也。</p>

<h3>牛膝</h3>
<p>氣味苦酸、平，無毒。主寒濕痿痹，四肢拘攣，膝痛不可屈伸，逐血氣，傷熱火爛，墮胎。久服輕身耐老。</p>
<p>陳修園曰：牛膝氣平，稟金氣而入肺；味苦，得火味而入心包；味酸，得木味而入肝。唯其入肺，則能通調水道而寒濕行，胃熱清而痿愈矣。唯其入肝，肝藏血而養筋，則拘攣可愈，膝亦不痛而能屈伸矣。唯其入心包，苦能泄實，則血因氣凝之病可逐也。苦能瀉火，則熱湯之傷與火傷之爛可完也。苦味本伐生生之氣，而又合以酸味，而遂大申其湧泄之權，則胎無不墮矣。久服輕身耐老者，又統言其流通血脈之功也。</p>

<h3>巴戟天</h3>
<p>氣味甘、微溫，無毒。主大風邪氣，陰痿不起，強筋骨，安五臟，補中增志益氣。（酒焙。）</p>
<p>陳修園曰：巴戟天氣微溫，稟天春升之木氣而入足厥陰肝；味辛甘無毒，得地金土二味入足陽明燥金胃。雖氣味有木土之分，而其用則統歸於溫肝之內。《佛經》以風輪主持大地，即是此義。《本經》以「主大風」三字提綱兩見：一見於巴戟天，一見於防風。陰陽造化之機，一言逗出。《金匱》云：「風能生萬物，亦能害萬物。」防風主除風之害，巴戟天主得風之益，不得滑口讀去。蓋人居大塊之中，乘氣以行，鼻息呼吸不能頃刻去風。風即是氣，風氣通於肝，和風生人，疾風殺人。其主大風者，謂其能化疾風為和風也。邪氣者，五行正氣不得風而失其和。木無風則無以遂其條達之情，火無風則無以遂炎上之性，金無風則無以成其堅勁之體，水無風則潮不上，土無風則植不蕃。一得巴戟天之用，則到處皆春而邪氣去矣。邪氣去而五臟安，自不待言也。況肝之為言敢也，肝陽之氣，行於宗筋而陰痿起；行於腎臟，腎存志而志增，腎主骨而骨強；行於脾臟，則震坤合德，土木不害而中可補。益氣二字，又總結通章之義。氣即風也，逐而散之；風散則為氣散，生而亦死；益而和之，氣和即為風和，死可回生。非明於生殺消長之道者，不可以語此也。</p>
<p>葉天士云：淫羊藿治陰虛陰痿，巴戟天治陽虛陰痿。</p>

<h3>石斛</h3>
<p>氣味甘、平，無毒。主傷中，除痹，下氣，補五臟虛勞羸瘦，強陰益精。久服厚腸胃。</p>
<p>葉天士曰：石斛氣平入肺，味甘無毒入脾。甘平為金土之氣味，入足陽明胃、手陽明大腸。陰者，中之守也；陰虛則傷中，甘平益陰，故主傷中。痹者，脾病也；風、寒、濕三氣而脾先受之，石斛甘能補脾，故能除痹。上氣，肺病也；火氣上逆則為氣喘，石斛平能清肺，故能下氣。五臟皆屬於陰，而脾名至陰，為五臟之主。石斛補脾而蔭及五臟，則五臟之虛勞自復，而肌肉之消瘦自生矣。陰者宗筋也；精足則陰自強。精者，陰氣之精華也；納穀多而精自儲。腸者，手陽明大腸也；胃者，足陽明胃也；陽明屬燥金，久服甘平清潤，則陽明不燥，而腸胃厚矣。（《新訂》。）</p>
<p>張隱菴曰：石斛生於石上，得水長生，是稟水面之專精而補腎。味甘色黃，不假土力，是奪中土之氣化而補脾。斛乃量名，主出主入，能運行中土之氣而愈諸病也。</p>

<h3>澤瀉</h3>
<p>氣味甘、寒，無毒。主風寒濕痹，乳難，養五臟，益氣力，肥健，消水。久服耳目聰明，不飢，延年，輕身，面生光，能行水上。</p>
<p>陳修園曰：澤瀉氣寒，水之氣也；味甘無毒，土之味也。生於水而上升，能啟水陰之氣上滋中土也。其主風、寒、濕痹者，三氣以濕為主，此能啟水氣上行而復下，其痹即從水氣而化矣。其主乳難者，能滋水精於中土而為汁也。其主「養五臟，益氣力，肥健」等句，以五臟主藏陰，而脾為五臟之原，一得水精之氣則能灌溉四旁，俾五臟循環而受益，不特肥健消水不飢，見本臟之功；而肺得水精之氣而氣益，腎得水精之氣而耳聰，且形得水精之氣而全體輕，色得水精之氣而面生光輝，一生得水精之氣而延年，所以然者，久服之功。能行在下之水而使之上也，此物形園，一莖直上，無下行之性，故其功效如此。今人以鹽水拌炒，則反掣其肘矣。</p>

<h3>五味子</h3>
<p>氣味酸，溫，無毒。主益氣，咳逆上氣，勞傷羸瘦，補不足，強陰，益男子精。</p>
<p>陳修園曰：五味子氣溫味酸，得東方生長之氣而主風。人在風中而不見風，猶魚在水中而不見水。人之鼻息出入，頃刻離風則死，可知人之所以生者，風也。風氣通於肝，即人身之木氣。莊子云：「野馬也，塵埃也，生物之息以相吹也。」「息」字有二義：一曰「生息」，二曰「休息」。五味子溫以遂木氣之發榮，酸以斂木氣之歸根。生息休息，皆所以益其生生不窮之氣。倘其氣不治，（治，安也。）咳逆上氣者，風木挾火氣而乘金也。為勞傷、為羸瘦、為陰痿、為精虛者，則《金匱》所謂虛勞諸不足，風氣百疾是也。風氣通於肝，先聖提出虛勞大眼目，惜後人不能申明其義。五味子益氣中，大具開闔升降之妙，所以概主之唐、宋以也。下，諸家有謂其具五味而兼治五臟者；有謂其酸以斂肺，色黑入腎，核似腎而補腎者。想當然之說，究非定論也。然肝治五臟，得其生氣而安，為《本經》言外之正旨。仲景佐以乾薑，助其溫氣，俾氣與味相得而益彰是，補天手段。</p>

<h3>薏苡仁</h3>
<p>氣味甘、微寒，無毒。主筋急拘攣，不可屈伸，久風濕痹，下氣。久服輕身益氣。</p>
<p>陳修園曰：薏苡仁夏長秋成，味甘色白，稟陽明金土之精。金能制風，土能勝濕，故治以上諸證。久服輕身益氣者，以濕行則脾健而身輕，金清則肺治而氣益也。</p>

<h1>卷之二</h1>

<h2>上品</h2>

<h3>菟絲子</h3>
<p>氣味辛、平，無毒。主續絕傷，益氣力，補不足，肥健人，汁去面䵟。久服明目，輕身，延年。</p>
<p>陳修園曰：菟絲氣平稟金氣，味辛得金味，肺藥也。然其用在腎而不在肺。子中脂膏最足，絕類人精，金生水也。主續絕傷者，子中脂膏，如絲不斷，善於補續也。補不足者，取其最足之脂膏，以填補其不足之精血也。精血足，則氣力自長，肥健自增矣。汁去面䵟者，言不獨內服得其填補之功，即外用亦得其滑澤之效也。久服，腎水足則目明，腎氣壯則身輕。華元化云，腎者，性命之根也。腎得補則延年。</p>

<h3>葳蕤</h3>
<p>氣味甘、平，無毒。主中風暴熱，不能動搖，跌筋結肉，諸不足。久服去面䵟黑，好顏色，潤澤，輕身不老。</p>
<p>張隱菴曰：葳蕤氣味甘平，質多津液，稟太陰濕土之精以資中焦之汁。主中風暴熱不能搖動者，以津液為邪熱所灼也。跌筋者，筋不柔和也。結肉者，肉無膏澤也。諸不足者，申明以上諸證皆屬津液不足也。久服則津液充滿，故去面上之黑䵟，好顏色而肌膚潤澤，且輕身不老也。</p>
<p>又曰：陰柔之藥，豈堪重用？古人除治風熱以外，絕不敢用。自李時珍有不寒不燥，用代參耆之說，時醫信為補劑，虛證服此，百無一生，咎其誰職耶？</p>

<h3>沙參</h3>
<p>氣味苦、微寒，無毒。主血結，驚氣，除寒熱，補中，益肺氣。</p>
<p>（參葉天士）　沙參氣微寒，稟水氣而入腎；味苦無毒，得火味而入心。謂其得水氣，以瀉心火之有餘也。心火亢，則所主之血不行而為結，而味之苦可以攻之；心火亢，則所藏之神不寧而生驚，而氣之寒可以平之。心火稟炎上之性，火鬱則寒，火發則熱，而苦寒能清心火，故能除寒熱也。陰者，所以守中者也，苦寒益陰，所以補中；補中則金得土生，又無火克，所以益肺氣也。</p>

<h3>遠志</h3>
<p>氣味苦、溫，無毒。主逆咳傷中，補不足，除邪氣，利九竅，益智慧，耳目聰明，不忘，強志，倍力。久服輕身不老。</p>
<p>按：遠志氣溫，稟厥陰風木之氣，入手厥陰心包；味苦，得少陰君火之味，入手少陰心。然心包為相火，而主之者，心也。火不刑金則咳逆之病愈；火歸土中，則傷中之病愈。主明則下安，安則不外興利除弊兩大事，即「補不足，除邪氣」之說也。心為一身之主宰，凡九竅利，智慧益，耳聰目明，善記不忘，志強力壯，所謂天君泰，百體從令者此也。又云：「久服輕身不老者」，即《內經》所謂：「主明則下安」，以此養生則壽之說也。夫曰養生，曰久服，言其為服食之品，不可以之治病，故經方中絕無此味。今人喜用藥丸為補養，久則增氣而成病。唯以補心之藥為主，又以四藏之藥為佐。如四方諸侯，皆出所有以貢天子，即乾綱克振，天下皆寧之道也。諸藥皆偏，唯專於補心，則不痛。抱朴子謂：陵陽子仲，服遠志二十七年，有子三十七人。開書所視，記而不忘，著其久服之效也。若以之治病，則大失經旨矣。</p>

<h3>菖蒲</h3>
<p>氣味辛、溫，無毒。主風寒濕痹，咳逆上氣，開心竅，補五臟，通九竅，明耳目，出聲音；主耳聾，癰瘡，溫腸胃，止小便利。久服輕身，不忘，不迷惑，延年，益心智，高志不老。</p>
<p>陳修園曰：菖蒲性用略同遠志，但彼苦而此辛，且生於水石之中，受太陽寒水之氣。其味辛合於肺金而主表。其氣溫合於心包絡之經，通於君火而主神。其主風寒濕痹、咳逆上氣者，從肺驅邪以解表也。開心竅至末句，皆言補心之效，其功同於遠志。聲音不出，此能寧之。心火下濟而光明，故能溫腸胃而止小便利也。但菖蒲稟水精之氣，外通九竅，內濡五臟，其性自下以行於上，與遠志自上以行於下者有別。</p>

<h3>赤箭</h3>
<p>氣味辛、溫，無毒。主殺鬼精物，蠱毒惡風。久服益氣力，長陰肥健。輕身增年。</p>
<p>張隱菴曰：赤箭氣味辛溫，其根名天麻者，氣味甘平。蓋赤箭辛溫屬金，金能制風，而有弧矢之威，故主殺鬼精物。天麻甘平屬土，土能勝濕，而居五運之中，故能治蠱毒惡風。天麻形如芋魁，有遊子十二枚周環之，以仿十二辰十二子，在外應六氣之司天。天麻如皇極之居中，得氣運之全，故功同五芝，力倍五參，為仙家服食上品，是以久服益氣力，長陰肥健。</p>
<p>李時珍曰：補益上藥，天麻第一，世人止用之治風，良可惜也！</p>

<h3>車前子</h3>
<p>氣味甘、寒，無毒。主氣癃止痛，利水道，通小便，除濕痹。久服輕身耐老。</p>
<p>張隱菴曰：車前草，《本經》名當道，《毛詩》名芣苡。乾坤有動靜，夫坤其靜也翕，其動也闢。車前好生道旁，雖牛馬踐踏不死，蓋得土氣之用，動而不靜者也。氣癃，膀胱之氣閉也；閉則痛，痛則水道不利；車前得土氣之用，土氣行則水道亦行而不癃，不癃則不痛，而小便長矣。土氣行則濕邪散，濕邪散則濕痹自除矣。久服土氣升而水氣布，故能輕身耐老。</p>
<p>《神仙服食經》云：「車前，雷之精也；震為雷為長男。」《詩》言：「采采芣苡」，亦欲妊娠而生男也。</p>

<h3>羌活</h3>
<p>氣味苦、甘、辛，無毒。主風寒所擊，金瘡止痛，奔豚，止癇痙，女子疝瘕。久服輕身耐老。（一名獨活。）</p>
<p>陳修園曰：羌活氣平，稟金氣而入肺；味苦甘無毒，得火味而入心，得土味而入脾。其主風寒所擊者，入肺以御皮毛之風寒，入脾以御肌肉之風寒，入心助太陽之氣以御營衛之風寒也。其主金瘡止痛者，亦和營衛長肌肉完皮毛之功也。奔豚乃水氣上凌心火，此能入肺以降其逆，補土以制其水，入心以扶心火之衰，所以主之。癇痙者，木動則生風，風動則挾木勢而害土，土病則聚液而成痰，痰迸於心則為痙、為癇；此物稟金氣以制風，得土味而補脾，得火味以寧心，所以主之。女子疝瘕，多經行後血假風濕而成，此能入肝以平風，入脾以勝濕，入心而主宰血脈之流行，所以主之。久服輕身耐老者，著其扶陽之效也。</p>
<p>張隱菴曰：此物生苗，一莖直上，有風不動，無風自動，故名獨活。後人以獨活而出於西羌者，名羌活。出於中國處處有者，名獨活。今觀肆中所市，竟是二種。有云羌活主上，獨活主下，是不可解也。</p>

<h3>升麻</h3>
<p>氣味甘、平、苦、微寒，無毒。主解百毒，殺百精老物殃鬼，闢瘟疫瘴氣邪氣，蠱毒入口皆吐出，中惡腹痛，時氣毒癘，頭痛寒熱，風腫諸毒，喉痛口瘡。久服不夭，輕身長年。</p>
<p>張隱菴曰：升麻氣味甘、苦、平，甘者土也，苦者火也，主從中土而達太陽之氣，太陽標陽本寒，故微寒。蓋太陽稟寒水之氣而行於膚表，如天氣之下連於水也。太陽在上，則天日當空，光明清湛；清湛故主解百毒，光明故殺百精老物殃鬼。太陽之氣行於膚表，故闢瘟疫瘴氣邪氣。太陽之氣行於地中，故蠱毒入口皆吐出；治蠱毒，則中惡腹痛自除；闢瘟疫瘴氣邪氣，則時氣毒癘、頭痛寒熱自散。寒水之氣滋於外而濟於上，故治風腫諸毒、喉痛口瘡。久服，則陰精上滋，故不夭；陽氣盛故輕身；陰陽充足則長年矣。</p>
<p>嘗考：凡物紋如車輻者，皆有升轉循環之用。防風、秦艽、烏藥、防己、木通、升麻，皆紋如車輻，而升麻更覺空通，所以升轉甚捷也。</p>

<h3>茵陳蒿</h3>
<p>氣味苦、平、微寒，無毒。主風（濕寒）熱邪氣，熱結黃疸。久服輕身，益氣，耐老，面白悅，長年。白兔食成仙。</p>
<p>張隱菴曰：《經》云：春三月，此為發陳。茵陳因舊苗而春生，蓋因冬令寒水之氣，而具陽春生髮之機。主治風濕寒熱邪氣，得生陽之氣，則外邪自散也。結熱黃疸，得水寒之氣，則內熱自除也。久服則生陽上升，故輕身益氣耐老。因陳而生新，故面白悅、長年。兔乃純陰之物，喜食陽春之氣，故白兔食之成仙。</p>

<h3>甘菊花</h3>
<p>氣味苦、平，無毒。主諸風頭眩腫痛，目欲脫，淚出，皮膚死肌，惡風濕痹。久服利血氣，輕身耐老延年。</p>
<p>徐靈胎曰：凡芳香之物，皆能治頭目肌表之疾。但香則無不辛燥者，惟菊得天地秋金清肅之氣，而不甚燥烈，故於頭目風火之疾尤宜焉。</p>

<h3>龍膽</h3>
<p>氣味苦、澀、大寒，無毒。主骨間寒熱，驚癇邪氣，續絕傷，定五臟，殺蠱毒。</p>
<p>張隱菴曰：龍乃東方之神，膽主少陽甲木，苦走骨，故主骨間寒熱。澀類酸，故除驚癇邪氣。膽主骨，肝主筋，故續絕傷。五臟六腑，皆取決於膽，故定五臟。山下有風曰蠱，風氣升而蠱毒殺矣。</p>

<h3>紫蘇</h3>
<p>氣味辛、微溫，無毒。主下氣，殺穀除飲食，闢口臭，去邪毒，辟惡氣。久服通神明，輕身耐老。</p>
<p>【述】紫蘇氣微溫，稟天之春氣而入肝。味辛，得地之金味而入肺。主下氣者，肺行其治節之令也。殺穀除飲食者，氣溫達肝，肝疏暢而脾亦健運也。闢口臭、去邪毒、辟惡氣者，辛中帶香，香為天地之正氣，香能勝臭，即能解毒，又能勝邪也。久服則氣爽神清，故通神明，輕身耐老。其子下氣尤速；其梗下氣寬脹，治噎膈反胃，止心痛；旁小枝通十二經關竅脈絡。</p>

<h3>藕實莖</h3>
<p>氣味甘、平。主補中養神，益氣力，除百疾。久服輕身耐老，不飢延年。</p>

<h3>雞頭實</h3>
<p>氣味甘、平。主濕痹，腰脊膝痛，補中，除暴疾，益精氣，強志，令耳目聰明。久服輕身不飢，耐老神仙。</p>

<h3>黑脂麻</h3>
<p>氣味甘、平，無毒。主傷中虛羸，補中五內，益氣力，生長肌肉，填髓腦。久服輕身不老。色黑者良。</p>

<h3>益母草子</h3>
<p>氣味辛，甘、微溫，無毒。主明目益精，除水氣。久服輕身延年。（今人奉為女科專藥，往往誤事，且其獨具之長反掩。）</p>

<h3>茜草</h3>
<p>氣味苦、寒，無毒。主寒濕風痹，黃疸，補中。</p>
<p>陳修園曰：氣味苦寒者，得少陰之氣化也。風寒濕三氣合而為痹，而此能入足少陰，俾上下交通而旋轉，則痹自愈矣。上下交通則中土自和，斯有補中之效矣。中土和則濕熱之氣自化，而黃疸愈矣。又《素問》以蘆茹一兩，烏鰂魚骨四兩，丸以雀卵，飲以鮑魚汁，治氣竭肝傷、脫血、血枯，婦人血枯經閉，丈夫陰痿精傷，名曰四烏鰂骨一蘆茹丸。蘆茹即茜草也，亦取其入少陰以生血，補中宮以統血。汁可染絳，似血而能行血歟。（後人以此三味入烏骨白絲毛雞腹內，以陳酒、童便、煮爛，烘乾為丸。以百勞水下五七十丸，治婦人倒經血溢於上、男子咳嗽吐血、左手關脈弦，背上畏寒有淤血者。）</p>

<h3>茯苓</h3>
<p>氣味甘、平，無毒。主胸脅逆氣，憂恚驚邪恐悸，心下結痛，寒熱煩滿咳逆，口焦舌乾，利小便。久服安魂養神，不飢延年。</p>
<p>陳修園曰：茯苓氣平入肺，味甘入脾。肺能通調，脾能轉輸，其功在於利小便一語。胸為肺之部位，脅為肝之部位，其氣上逆則憂恚驚邪恐悸，七情之用因而弗調。心下為太陽之部位，水邪停留則結痛；水氣不化則煩滿；凌於太陰則咳逆；客於營衛則發熱惡寒；內有宿飲則津液不升，為口焦舌乾，唯得小便一利，則水行而氣化諸疾俱愈矣。久服安魂養神、不飢延年者，以肺金為天，脾土為地，位一身之天地，而明其上下交和之效也。</p>

<h3>豬苓</h3>
<p>氣味甘、平，無毒。主痎瘧，解毒，蠱疰不祥，利水道。久服輕身耐老。</p>
<p>陳修園曰：豬苓氣平，稟金氣而入肺。味甘無毒，得土味而入脾。肺主治節，脾主轉輸，所以能利水道。又考此物，出土時帶甘，久則淡然無味，無味則歸於膀胱。膀胱為太陽，其說有二：一曰經絡之太陽，一日六氣之太陽。何謂經絡之太陽？其腑在下而主水，得上焦肺氣之化，中焦脾氣之運，則下焦愈治。所謂上焦如霧，中焦如漚，下焦如瀆；俾決瀆之用行於州都，則州都中自有云行雨施之景象，利水如神，有由來也，且不獨利水道也。六氣之太陽名曰巨陽，應天道居高而衛外，乃君心之藩籬也。凡風寒初感，無非先入太陽之界，治不得法，則留於膜原而為瘧，久則為痎〔即傷寒雜病似瘧非瘧者，皆在此例〕。但得豬苓之通利水道，水行氣化，水精四布，溱溱汗出，則營衛和而諸邪俱解。仲景五苓散、桂枝去桂加茯苓白朮湯非於此得其悟機乎？若陽明之渴欲飲水，小便不利，少陰之咳嘔而渴，心煩不眠，熱瘧多兼此症，總於利水道中，布達太陽之氣，使天水循環，滋其枯燥，即仲景豬苓湯之義也。且太陽為天，光明清湛，清湛則諸毒可解，光明則蠱疰不驅自除。又云：久服輕身耐老者，溺得陽氣之化而始長，溺出不能遠射，陽氣衰於下也；溺出及溺已時頭搖者，頭為諸陽之會，從下以驗其上之衰也；此皆老態，得豬苓助太陽之氣而可耐之。然此特聖人開太陽之治法，非謂豬苓平淡之可賴也。</p>

<h3>牡桂</h3>
<p>氣味辛、溫，無毒。主上氣咳逆結氣，喉痹吐吸，利關節，補中益氣。久服通神，輕身不老。</p>
<p>牡，陽也。牡桂者，即今之桂枝、桂皮也、菌根也。菌桂即今之肉桂、厚桂也。然生髮之機在枝幹，故仲景方中所用俱是桂枝，即牡桂也。時醫以桂枝發表，禁不敢用，而所用肉桂，又必刻意求備，皆是為施治不愈，卸罪巧法。</p>
<p>張隱菴曰：桂本凌冬不凋，氣味辛溫，其色紫赤，水中所生之木火也。肺腎不交，則為上氣咳逆之證；桂啟水中之生陽，上交於肺，則上氣平而咳逆除矣。結氣喉痹者，三焦之氣不行於肌腠，則結氣而為喉痹；桂稟少陽之木氣，通利三焦，則結氣通而喉痹可治矣。吐吸者，吸不歸根即吐出也；桂能引下氣與上氣相接，則吸之氣直至丹田而後入，故治吐吸也。關節者，兩肘、兩腋、兩髀、兩膕皆機關之室，周身三百六十五節，皆神氣之周行；桂助君火之氣，使心主之神氣出入於機關，遊行於骨節，故利關節也。補中益氣者，補中焦而益上下之氣也。久服則陽氣盛而光明，故通神明。三焦通會元真於肌腠，故輕身不老。</p>
<p>徐忠可曰：近來腎氣丸、十全大補湯俱用肉桂，蓋雜溫暖於滋陰藥中，故無礙。至桂枝湯，因作傷寒首方，又因有春夏禁用桂枝之說，後人除有汗發熱惡寒一證，他證即不用，甚至春夏則更守禁藥不敢用矣。不知古人用桂枝，取其宣通血氣，為諸藥嚮導，即腎氣丸古亦用桂枝，其意不止於溫下也。他如《金匱》論虛損十方，而七方用桂枝：孕妊用桂枝湯安胎；又桂苓丸去症；產後中風面赤，桂枝、附子、竹葉並用；產後乳子煩亂、嘔逆，用竹皮大丸內加桂枝治熱煩。又附方，於建中加當歸內補。然則，桂枝豈非通用之藥？若肉桂則性熱下達，非下焦虛寒者不可用，而人反以為通用，宜其用之而多誤矣。余自究心《金匱》以後，其用桂枝取效，變幻出奇，不可方物，聊一拈出以破時人之惑。</p>
<p>陳修園曰：《金匱》謂氣短有微飲，宜從小便出之，桂苓甘術湯主之，腎氣丸亦主之。喻嘉言注：呼氣短，宜用桂苓甘術湯以化太陽之氣；吸氣短，宜用腎氣丸以納少陰之氣；二方俱借桂枝之力，市醫不曉也。第桂枝為上品之藥，此時卻蹇於遇，而善用桂枝之人，亦與之同病。癸亥歲，司馬公之媳，孀居數載，性好靜，長日閉戶獨坐，得咳嗽病，服生地、麥冬、百合之類，一年餘不效。延余診之，脈細小而弦緊，純是陰霾四布，水氣滔天之象，斷為水飲咳嗽，此時若不急治，半月後水腫一作，盧扁莫何！言之未免過激，診一次後，即不復與商。嗣腫病大作，醫者用檳榔、牽牛、葶藶子、厚朴、大腹皮、蘿蔔子為主，加焦白朮、熟地炭、肉桂、附子、茯苓、車前子、牛膝、當歸、芍藥、海金砂、澤瀉、木通、赤小豆、商陸、豬苓、枳殼之類，出入加減。計服二個月，其腫全消，人瘦如柴，下午氣陷腳腫，次早亦消，見食則嘔，冷汗時出，子午二時煩躁不寧，咳嗽輒暈。醫家以腫退為效，而病人時覺氣散不能自支。又數日，大汗、嘔逆、氣喘欲絕。又延余診之，脈如吹毛，指甲黯，四肢厥冷。余驚問其少君曰：前「此直言獲咎，以致今日病不可為，余實不能辭其責也。但尊大人於庚申夏間將入都，沾恙一月，余進藥三劑全愈，迄今三載，尚守服舊方，精神逾健，豈遂忘耶？茲兩次遵命而來，未准一見，此症已束手無策，未知有何面諭？」渠少君云：「但求氣喘略平。」所以然者，非人力也。余不得已，以《金匱》桂苓甘術湯小劑應之（茯苓二錢、白朮、桂枝、炙甘草各一錢。）次日又延，余知術拙不能為力，固辭之別延醫治。後一曰歿。旋聞醫輩私議，桂苓甘術湯為發表之劑，於前證不宜。夫桂苓甘術湯豈發表劑哉！只緣湯中之桂枝一味，由來被謗。余用桂枝，宜其招謗也。噫！桂枝之屈於不知己，將何時得以大申其用哉！</p>
<p>桂枝性用，自唐宋以後，罕有明其旨者。叔父引張隱菴注，字字精確。又引徐忠可之論，透發無遺。附錄近日治案，幾於痛哭垂涕而道之。其活人無己之心，溢於筆墨之外。吾知桂枝之功用，從此大彰矣！又按：仲景書桂枝條下，有「去皮」二字；葉天士《醫林指南》方中，每用桂枝末，甚覺可笑。蓋仲景所用之桂枝，只取梢尖嫩枝，內外如一，若有皮骨者去之，非去枝上之皮也。諸書多未言及，特補之。（受業侄鳳騰、鳴岐注。）</p>

<h3>菌桂</h3>
<p>氣味辛、溫、無毒。主百病，養精神，和顏色，為諸藥先通聘使。久服輕身不老，面生光華，媚好常如童子。</p>
<p>陳修園曰：性用同牡桂。養精神者，內能通達臟腑也。和顏色者，外能通利血脈也。為諸藥先通聘使者，辛香能分達於經絡，故主百病也。與牡桂有輕重之分，上下之別，凡陰邪盛與藥相拒者，非此不能入。</p>

<h3>橘皮</h3>
<p>氣味苦辛、溫，無毒。主胸中瘕熱逆氣，利水穀。久服去臭，下氣通神。</p>
<p>陳修園曰：橘皮氣溫，稟春氣而入肝；味苦入心；味辛入肺。胸中為肺之部位，唯其入肺，所以主胸中之瘕熱逆氣；疏泄為肝之專長，唯其入肝，所以能利水穀；心為君主之官，唯其入心，則君火明而濁陰之臭氣自去。又推其所以得效之神者，皆其下氣之功也。總結上三句，古人多誤解。</p>
<p>又曰：橘皮筋膜似脈絡，皮形似肌肉，宗眼似毛孔。人之傷風咳嗽，不外肺經；肺主皮毛，風之傷人，先於皮毛，次入經絡而漸深；治以橘皮之苦以降氣，辛以發散；俾從脾胃之大絡，而外轉於肌肉毛孔之外，微微從汗而解也。若削去筋膜，只留外皮，名曰橘紅，意欲解肌止嗽，不知汗本由內而外，豈能離肌肉經絡而直走於外？雷斆去白留白之分，東垣因之，何不通之甚也！至於以橘皮製造為醬，更屬無知妄作。查其製法：橘皮用水煮三次極爛，嚼之無辛苦味，曬乾，外用甘草、麥冬、青鹽、烏梅、元明粉、硼砂，熬濃汁浸曬多次，以汁干為度。又以人參、貝母研末拌勻，收貯數月後用之。據云能化痰療嗽，順氣止渴生津。而不知全失橘皮之功用。橘皮治嗽，妙在辛以散之，今以烏梅之酸收亂之；橘皮順氣，妙在苦以降之，今以麥冬、人參、甘草之甘壅亂之；橘皮妙在溫燥，故能去痰寬脹，今以麥冬、貝母、元明、硼砂、青鹽之鹹寒亂之；試問橘皮之本色何在乎？余嘗究俗人喜服之由，總由入口之時得甘酸之味，則滿口生津；得鹹寒之性，則堅痰暫化；一時有驗，彼此相傳，而陰被其害者不少也。法制半夏，亦用此藥浸造，罨發黃衣收貯，貽害則一。</p>

<h3>枸杞</h3>
<p>氣味苦、寒，無毒。主五內邪氣，熱中消渴，周麻風濕。久服堅筋骨，輕身不老，耐寒暑。</p>
<p>陳修園曰：枸杞氣寒，稟水氣而入腎；味苦無毒，得火味而入心。五內，即五臟。五臟為藏陰之地，熱氣傷陰即為邪氣，邪氣伏於中則為熱中，熱中則津液不足，內不能滋潤臟腑而為消渴，外不能灌溉經絡而為周痹。熱甚則生風，熱鬱則成濕，種種相因，唯枸杞之苦寒清熱可以統主之。「久服堅筋骨，輕身不老，耐寒暑」三句，則又申言其心腎交補之功，以腎字從堅，補之即所以堅之也。堅則身健而輕，自忘老態；況腎水足可以耐暑，心火寧可以耐寒，洵為飲食之上劑。然苦寒二字，《本經》概根、苗、花、子而言。若單論其子，嚴冬霜雪之中，紅潤可愛，是稟少陰水精之氣兼少陰君火之化，為補養心腎之良藥；但性緩不可以治大病、急病耳。</p>

<h3>木香</h3>
<p>氣味辛、溫，無毒。主邪氣，闢毒疫瘟鬼，強志，主淋露。久服不夢寤魘寐。</p>
<p>張隱菴曰：木香其數五，氣味辛溫，上徹九天，稟手足太陰天地之氣化，主交感天地之氣，上下相通。治邪氣者，地氣四散也。闢毒疫瘟鬼者，天氣光明也。強志者，天生水，水生則腎志強。主淋露者，地氣上騰，氣騰則淋露降。天地交感，則陰陽和、開闔利，故久服不夢寤魘寐。夢寤者，夢中之夢；魘寐者，寐中之魘也。</p>

<h3>杜仲</h3>
<p>氣味辛、平，無毒。主腰膝痛，補中益精氣，堅筋骨，強志，除陰下癢濕，小便餘瀝。久服輕身耐老。</p>
<p>（參張隱菴）杜仲氣味辛平，得金之氣味；而其皮黑色而屬水，是稟陽明、少陰金水之精氣而為用也。腰為腎府，少陰主之；膝屬大筋，陽明主之；杜仲稟少陰、陽明之氣，故腰膝之痛可治也。補中者，補陽明之中土也；益陰者，益少陰之精氣也；堅筋骨者，堅陽明所屬之筋，少陰所主之骨也；強志者，腎藏志，腎氣得補而壯，氣壯而志自強也。陽明燥氣下行，故除陰下濕癢，小便餘瀝也。久服則水金相生，精氣充足，故輕身耐老也。</p>

<h3>桑根白皮</h3>
<p>氣味甘、寒，無毒。主傷中，五勞六極，羸瘦，崩中絕脈，補虛益氣。（舊本列為中品，今從《崇原》。）</p>
<p>葉天士曰：桑皮氣寒，稟水氣而入腎；味甘無毒，得土味而入脾。中者，中州脾也。脾為陰氣之原，熱則中傷，桑皮甘寒，故主傷中。五勞者，五臟勞傷真氣也。六極者，六腑之氣虛極也。臟腑俱虛，所以肌肉削而羸瘦也。其主之者，桑皮甘以固脾氣而補不足，寒以清內熱而退火邪，邪氣退而脾陰充，脾主肌肉，自然肌肉豐而勞極愈矣。崩中者，血脫也；脈者，血之府；血脫故脈絕不來也。脾統血而為陰氣之原，甘能益脾，所以主崩中絕脈也。火與元氣勢不兩立，氣寒清火，味甘益氣，氣充火退，虛得補而氣受益也。</p>
<p>陳修園曰：今人以補養之藥，誤認為清肺利水之品，故用多不效。且謂生用大瀉肺氣，宜塗蜜炙之。然此藥忌火，不可不知。</p>
<p>張隱菴曰：桑割而復茂，生長之氣最盛，故補續之功如此。</p>

<h3>桑上寄生</h3>
<p>氣味苦、平，無毒。主腰痛，小兒背強，癰腫。充肌膚，堅發齒，長鬚眉，安胎。</p>
<p>張隱菴曰：寄生感桑氣而寄生枝節間，生長無時，不假土力，奪天地造化之神效，故能資養血脈於空虛之地，而取效倍於他藥也。主治腰痛者，腰乃腎之外候，男子以藏精，女子以系胞；寄生得桑精之氣，虛系而生，故治腰痛。小兒腎形未足，似無腰痛之證，應有背強癰腫之疾，寄生治腰痛，則小兒背強癰腫亦能治之。充肌膚，精氣外達也；堅發齒，精氣內足也。精氣外達而充肌膚，則鬚眉亦長；精氣內足而堅發齒，則胎亦安。蓋肌膚者，皮肉之餘；齒者，骨之餘；發與鬚眉者，血之餘；胎者，身之餘；以餘氣寄生之物，而治餘氣之病，同類相感如此。</p>

<h3>槐實</h3>
<p>氣味苦、寒。主五內邪氣熱，止涎唾，補絕傷，五痔，火瘡。婦人乳瘕，子藏急痛。</p>

<h3>柏實</h3>
<p>氣味甘、平。主驚悸平，（清心經之遊火），安五臟，（滋潤之功）。益氣，（壯火食氣火寧，則氣益也）。除風濕痹，（得秋金之令，能燥濕平肝也）。久服令人潤澤美色，耳目聰明，（滋潤皮膚之諸竅）。不飢不老，輕身延年。（柏之性不假灌溉而能壽也。）</p>
<p>徐靈胎曰：柏得天地堅剛之性以生，不與物變遷，經冬彌翠，故能寧心神，斂心氣，而不為邪風遊火所侵克也。人之生理謂之仁，仁藏於心。物之生機在於實，故實亦謂之仁。凡草木之仁，皆能養心氣，以類相應也。</p>

<h3>大棗</h3>
<p>氣味甘、平，無毒。主心腹邪氣，安中，養脾氣，平胃氣，通九竅，助十二經，補少氣、少津液，身中不足，大驚，四肢重，和百藥。久服輕身延年。</p>
<p>陳修園曰：大棗氣平入肺，味甘入脾。肺主一身之氣，脾主一身之血，氣血調和，故有以上諸效。</p>

<h3>朴硝</h3>
<p>氣味苦、寒，無毒。主治百病，除寒熱邪氣，逐五臟六腑積聚，固結留瘕。能化七十種石。煉餌服之，輕身神仙。</p>
<p>張隱菴曰：雪花六出，元精石六稜，六數為陰，乃水之成數也。朴硝、硝石，面上生牙，如圭角，作六稜，乃感地水之氣結成，而稟寒水之氣化，是以形類相同。但硝石遇火能焰，兼得水中之天氣；朴硝止稟地水之精，不得天氣，故遇火不焰也，所以不同者如此。</p>

<h3>丹砂</h3>
<p>氣味甘、微寒，無毒。主身體五臟百病，養精神，安魂魄，益氣明目，殺精魅邪惡鬼。久服通神明不老。</p>
<p>陳修園曰：丹砂氣微寒入腎，味甘無毒入脾，色赤入心。主身體五臟百病者，言和平之藥，凡身體五臟百病，皆可用而無顧忌也。心者，身之本，神之居也；腎者，氣之源，精之處也；心腎交，則精神交養。隨神往來者謂之魂，並精出入者謂之魄，精神交養則魂魄自安。氣者得之先天，全賴後天之穀氣而昌，丹砂味甘補脾所以益氣。明目者，以石藥凝金之氣，金能鑑物，赤色得火之象，火能燭物也。殺精魅邪惡鬼者，具天地純陽之正色，陽能勝陰，正能勝邪也。久服通神明不老者，明其水升火降之效也。</p>

<h3>滑石</h3>
<p>氣味甘、寒，無毒。主身熱泄澼，女子乳難，癃閉；利小便，蕩胃中積聚寒熱，益精氣。久服輕身，耐飢長年。</p>
<p>按：滑石氣寒，得寒水之氣入手足太陽；味甘入足太陰；且其色白兼入手太陰。所主諸病，皆清熱利水之功也。益精延年，言其性之循不比他種石藥偏之為害也。讀者勿泥。</p>

<h3>紫石英</h3>
<p>氣味甘、溫，無毒。主心腹咳逆邪氣，補不足，女子風寒在子宮，絕孕十年無子。久服溫中，輕身延年。</p>
<p>陳修園曰：紫石英氣溫，稟木氣而入肝；味甘無毒，得土味而入脾。咳逆邪氣者，以心腹為脾之部位，人之呼吸，出心肺而入肝腎，脾居中而轉運，何咳逆之有？惟脾虛受肝邪之侮，不能下轉而上衝，故為是病；其主之者，溫能散邪，甘能和中，而其質又重而能降也。補不足者，氣溫味甘，補肝脾之不足也。風寒入於子宮，則肝血不藏，脾血亦不統，往往不能生育，脾土之成數十，所以十年無子也；紫石英氣溫可以散子宮之風寒，味甘可以補肝脾之血也。久服溫中輕身，延年者，誇其補血納氣之力也。</p>
<p>按：白石英治略同，但紫色屬陰，主治衝脈血海，多在下功。白為金色，主治消渴，兼理上焦之燥。</p>

<h3>赤石脂</h3>
<p>氣味甘、平，無毒。主黃疸，泄痢，腸澼膿血，陰濁下血赤白，邪氣癰腫，疽痔惡瘡，頭瘍疥瘙。久服補髓益氣，肥健不飢，輕身延年。五色石脂，各隨五色補五臟。</p>
<p>陳修園曰：赤石脂氣平稟金氣，味甘得土味，手足太陰藥也。太陰濕勝，在皮膚則為黃疸，在腸胃則為泄痢，甚則為腸澼膿血；下注於前陰，則為陰蝕並見赤白帶下；下注於後陰，則為下血；皆濕邪之氣為害也。石脂具濕土之質，而有燥金之用，所以主之。癰腫、疽痔惡瘡、頭瘍疥瘙等證，皆濕氣鬱而為熱，熱盛生毒之患；石脂能燥濕化熱，所以主之。久服補髓益氣、肥健不飢、延年者，濕去則津生，自能補髓益氣，補髓助精也、益氣助神也；精神交會於中土，故有肥健不飢，輕身延年之效也。</p>

<h3>禹餘糧</h3>
<p>氣味甘寒，無毒。主咳逆，（補中降氣不使以逆。）寒熱（除脾胃濕滯之寒熱，非謂可以通治寒熱。）煩滿，（性寒除熱，即可上止煩；質重降逆，即可以泄滿。）下利赤白。（除濕熱之功。）血閉，癥瘕。（消濕熱所滯之淤積。）大熱。（熱在陽明者，熱必甚，此能除之。）煉餌，服之不飢，（其質類穀粉而補脾土，所以謂之糧而能充飢也。）輕身延年。（補養後天之效。）</p>
<p>按李時珍曰：生池澤者，為禹餘糧；生山谷者，為太一餘糧。《本經》雖分兩種，而治體則同。</p>

<h3>發髲</h3>
<p>氣味苦、溫，無毒。主五癃關格不通，利小便水道，療小兒驚、大人痓，仍自還神化。（以皂莢水洗淨，復用甘草水洗、鹽水洗，曬乾入瓶內，以鹽土固濟，煅存性，謂之血餘灰，研極細用。）</p>
<p>陳修園曰：心主血，發者血之餘也，屬手少陰心。《經》云：腎之合骨也，其榮發也，屬足少陰腎。又云：皮毛者，肺之合也。發亦毛類，屬手太陰肺，肺為水源，小腸為心府，故主五癃關格不通、水道不利等症。調肺氣，寧心神，除心肺之痰，故主小兒癇、大人痓等證。其曰：仍自還神化者，謂發為血餘，乃水精奉心化血所生；今取以煉服，仍能入至陰之藏，助水精而上奉心臟之神，以化其血也。後人感於以人補人之說，每用紫河車增熱為害，十服十死，不如用此藥之驗。</p>

<h3>龍骨</h3>
<p>氣味甘、平，無毒。主心腹鬼疰精物老魅，咳逆，泄痢膿血，女子漏下，癥瘕堅結，小兒熱氣驚癇。</p>
<p>陳修園曰：龍得天地純陽之氣，凡心腹鬼疰精物，皆屬陰氣作祟，陽能制陰也。肝屬木而得東方之氣，肝火乘於上則為咳逆，奔於下則為泄痢膿血。女子漏下，龍骨能斂戢肝火，故皆治之。且其用變化莫測，雖癥瘕堅結難療，亦能穿入而攻破之。至於驚癇顛痙，皆肝氣上逆，挾痰而歸迸入心；龍骨能斂火安神，逐痰降逆，故為驚癇顛痙之聖藥。仲景風引湯，必是熟讀《本經》，從此一味悟出全方，而神妙變化，亦如龍之莫測。余今詳註此品，復為點睛欲飛矣。</p>
<p>痰，水也，隨火而升。龍屬陽而潛於海，能引逆上之火與氾濫之水，而歸其宅。若與牡蠣同用，為治痰之神品。今人只知其性澀以止脫，何其淺也？</p>

<h3>阿膠</h3>
<p>氣味甘、平，無毒。主心腹內崩，勞極洒洒如瘧狀。腰腹痛，四肢痠疼，女子下血，安胎。久服輕身益氣。</p>
<p>陳修園曰：阿膠以阿井之水，入黑驢皮煎煉成膠也。《內經》云：手少陰外合於濟水，內合於心，故能入心。又曰：皮毛者，肺之合也；以皮煎膠，故能入肺，味甘無毒，得地中正之土氣，故能入脾。凡心包之血，不能散行經脈，下入於腹，則為崩墮，阿膠入心補血，故能治之。勞極氣虛，皮毛洒洒如瘧狀之先寒；阿膠入肺補氣，故能治之。脾為後天生血之本，脾虛則陰血內枯，腰腹空痛，四肢痠疼；阿膠補養脾陰，故能治之。且血得脾以統，所以有治女子下血之效。胎以血為養，所以有安胎之效。血足氣亦充，所以有輕身益氣之效也。</p>
<p>東阿井，在山東兗州府陽穀縣，東北六十里，即古之東阿縣也。此清濟之水，伏行地中，歷千里而發於此井，其水較其旁諸水，重十之一、二不等。人之血脈，宜伏而不宜見，宜沉而不宜浮；以之制膠，正與血脈相宜也。必用黑皮者，以濟水合於心，黑色屬於腎，取水火相濟之義也。所以妙者，驢亦馬類，屬火而動風；肝為風臟而藏血，今借驢皮動風之藥，引入肝經；又取阿水沉靜之性，靜以制動；俾風火熄而陰血生，逆痰降。此《本經》性與天道之言，得聞文章之後，猶難語此，況其下乎？</p>

<h3>白膠</h3>
<p>氣味甘、平，無毒。主傷中勞絕，腰痛羸瘦，補中益氣，婦人血閉無子，止痛安胎。久服輕身延年。</p>
<p>陳修園曰：白膠即鹿角煎熬成膠，何以《本經》白膠列為上品、鹿茸列為中品乎？蓋鹿茸溫補過峻，不如白膠之甘平足貴也。功用略同，不必再釋。其主婦人血閉、止痛安胎者，皆補衝脈血海之功也。輕身延年者，精足血滿之效也。</p>

<h3>牛黃</h3>
<p>氣味苦、平。主驚癇寒熱，熱盛狂痓，除邪逐鬼。</p>

<h3>麝香</h3>
<p>氣味辛、溫，無毒。主辟惡氣、殺鬼精物，去諸蟲蟲毒，溫瘧驚癇。久服除邪，不夢寤魘寐。</p>
<p>【參】　麝食柏葉、香草及蛇蟲，其香在臍，為諸香之冠。香者，天地之正氣也，故能辟惡而殺毒。香能通達經絡，故能逐心竅凝痰，而治驚癇；驅募原邪氣，以治溫瘧。而魘寐之症，當熟寐之頃，心氣閉塞而成。麝香之香氣最盛，令閉者不閉，塞者不塞，則無此患矣。孕婦忌之。</p>

<h3>石蜜</h3>
<p>氣味甘、平，無毒。主心腹邪氣，諸驚癇痓，安五臟諸不足，益氣補中，止痛解毒，除眾病，和百藥。久服強志輕身，不飢不老。</p>
<p>陳修園曰：石蜜氣平，稟金氣而入肺；味甘無毒，得土味而入脾。心腹者，自心下以及大小腹與脅肋而言也；邪氣者，六淫之氣自外來，七情之氣自內起，非固有之氣，即邪氣也，其主之者甘平之用也。諸驚癇痓者，厥陰風木之為病也；其主之者，養胃和中，所謂厥陰不治，取之陽明是也。脾為五臟之本，脾得補而安，則五臟俱安，而無不足之患矣。真氣者，得於天而充於谷，味甘益脾，即所以益氣而補中也。止痛者，味甘能緩諸急。解毒者，氣平能勝諸邪也。諸花之精華，採取不遺，所以能除眾病；諸花之氣味，醞釀合一，所以能和百藥也。久服強志輕身、不飢不老者，皆調和氣血，補養精神之驗也。</p>

<h3>龜板</h3>
<p>氣味甘、平，無毒。主漏下赤白，破癥瘕痎瘧，五痔陰蝕，濕痹四肢重弱，小兒囟不合。久服輕身不飢。</p>
<p>陳修園曰：龜甲諸傢俱說大補真水，為滋陰第一神品，而自余視之，亦不盡然。大抵介蟲屬陰，皆能除熱；生於水中，皆能利濕。其甲屬金，皆能攻堅，此外亦無他長。《本經》云：主治漏下赤白者，以濕熱為病；熱勝於濕則漏下赤色，濕勝於熱則漏下白色，龜甲專除濕熱故能治之。破癥瘕者，其甲屬金，金能攻堅也。痎瘧，老瘧也，瘧久不愈，濕熱之邪痼結陰分，唯龜甲能入陰分而攻之也。火結大腸則生五痔，濕濁下注則患陰蝕，肺合大腸，腎主陰產，龜甲性寒以除其熱，氣平以消其濕也。脾主四肢，因濕成痹以致重弱，龜居水中，性能勝濕，甲屬甲冑，質主堅強，故能健其四肢也。小兒囟骨不合，腎虛之病；龜甲主骨，故能合之也。久服輕身不飢者，言陰精充足之效也。</p>

<h3>牡蠣</h3>
<p>氣味鹹、平、微寒，無毒。主傷寒寒熱，溫瘧洒洒，驚恚怒氣，除拘緩，鼠瘻，女子帶下赤白，久服強骨節，殺邪鬼，延年。（按：補陰則生搗用，若煅過則成灰，不能補陰矣。方書注云：煅用者皆取粉，外治之法。荒經者誤收，遂相沿不改矣。）</p>
<p>陳修園曰：牡蠣氣平者，金氣也，入手太陰肺經；微寒者，寒水之氣也，入膀胱經；味鹹者，真水之味也，入足少陰腎經。此物得金水之性。凡病起於太陽，皆名曰傷寒；傳入少陽之經，則為寒熱往來；其主之者，借其得秋金之氣，以平木火之遊行也。溫瘧者，但熱不寒之瘧疾，為陽明經之熱病；洒洒者，即陽明白虎證中背微寒惡寒之義，火欲發而不能徑達也；主以牡蠣者，取其得金之氣，以解炎暑之苛；白虎湯命名，亦同此意也。驚恚怒氣，其主在心，其發在肝；牡蠣氣平，得金之用以制木。味鹹，得水之用以濟火也。拘者筋急，緩者筋緩為肝之病。鼠瘻即瘰癧之別名，為三焦膽經火鬱之病，牡蠣之平以制風，寒以勝火，咸以耎堅，所以咸主之。止帶下赤白與強骨節二句，其義互見於龜板注中，不贅。殺鬼邪者，補肺而申其清肅之威。能延年者，補腎而得其益精之效也。</p>

<h3>桑螵蛸</h3>
<p>氣味鹹、平。主傷中，疝瘕，陰痿，益精生子，女子血閉腰痛，通五淋，利小便水道。</p>
<p>陳修園曰：螵蛸，螳螂之子也。氣平屬金，味鹹屬水。螳螂於諸蟲中，其性最剛；以其具金性，能使肺之治節申其權，故主疝瘕，女子血閉、通五淋、利水道也。又具水性，能使腎之作強得其用，故主陰痿、益精生子、腰痛也。其主傷中者，以其生於桑上，得桑氣而能續傷也。今人專取其縮小便，雖曰能開而亦能闔，然要其本性，在此而不在彼。</p>

<h1>卷之三</h1>

<h2>中品</h2>

<h3>乾薑</h3>
<p>氣味辛、溫，無毒。主胸滿咳逆上氣，溫中止血，出汗，逐風濕痹，腸澼下痢。生者尤良。</p>
<p>陳修園曰：乾薑氣溫，稟厥陰風木之氣，若溫而不烈，則得沖和之氣而屬土也；味辛，得陽明燥金之味，若辛而不偏，則金能生水而轉潤矣，故乾薑為臟寒之要藥也。胸中者，肺之分也，肺寒則金失下降之性，氣壅於胸中而滿也，滿則氣上，所以咳逆上氣之症生焉，其主之者，辛散溫行也。中者，土也，土虛則寒，而此能溫之。止血者，以陽虛陰必走，得暖則血自歸經也。出汗者，辛溫能發散也。逐風濕痹者，治寒邪之留於筋骨也。治腸澼下痢者，除寒邪之陷於腸胃也。以上諸治皆取其雄烈之用，如孟子所謂剛大浩然之氣，塞於天地之間也。生則辛味渾全，故又申言曰：生者尤良。即《金匱》治肺痿用甘草乾薑湯自注炮用，以肺虛不能驟受過辛之味，炮之使辛味稍減，亦一時之權宜；非若後世炮黑、炮灰，全失姜之本性也。葉天士亦謂炮黑入腎，何其陋歟？</p>

<h3>生薑</h3>
<p>氣味辛、微溫，無毒。久服去臭氣，通神明。</p>
<p>陳修園曰：凡藥氣溫屬厥陰風木；大溫為熱，屬少陰君火；微溫稟春初之木氣，則專入足少陽膽經也。味辛屬陽明燥金，大辛屬手太陰肺、手陽明大腸，微辛為土中之金則專入足陽明胃經也。仲景桂枝湯等，生薑與大棗同用者，取其辛以和肺衛，得棗之甘以養心營，合之能兼調營衛也。真武湯、茯苓桂枝湯用之者，以辛能利肺氣，氣行則水利汗止，肺為水之上源也。大小柴胡湯用之者，以其為少陽本經之藥也。吳茱萸湯用之者，以其安陽明之氣，陽明之氣以下行為順，而嘔自止矣。少陰之氣，上交於陽明中土，而利亦止矣。凡此之類，《本經》雖未明言，而仲景於氣味中獨悟其神妙也。久服去臭氣通神明者，以臭氣為濁陰之氣，神明為陽氣之靈，言其有扶陽抑陰之效也。今人只知其散邪發汗，而不知其有匡正止汗之功，每於真武湯，近效白朮湯，輒疑生薑而妄去之，皆讀書死於句下過也。又病家每遇方中有生薑，則曰素有血疾，或曰曾患眼赤及喉痹等症，不敢輕服。是亦自置死地也，又何怨哉？</p>

<h3>蔥白</h3>
<p>氣味辛、平，無毒。作湯，治傷寒寒熱，中風面目浮腫，能出汗。</p>
<p>陳修園曰：蔥白辛平發汗。太陽為寒水之經，寒傷於表則發熱惡寒，得蔥白之發汗而解矣。風為陽邪，多傷於上；風勝則面目浮腫，得蔥白之發汗而消矣；此猶人所易知也。至於仲景通脈四逆湯，面赤者加蔥，非取其引陽氣以歸根乎？白通湯以之命名者，非取其葉下之白，領薑、附以入腎宮，急救自利無脈，命在頃刻乎？二方皆回陽之神劑，回陽先在固脫。仲師豈反用發汗之品？學者不參透此理，總屬誤人之庸醫。</p>

<h3>當歸</h3>
<p>氣味苦、溫，無毒。主咳逆上氣，溫瘧，寒熱洗洗在皮膚中，婦人漏中絕子，諸惡瘡瘍，金瘡。煮汁飲之。</p>
<p>（參各家說）　當歸氣溫，稟木氣而入肝；味苦無毒，得火味而入心。其主咳逆上氣者，心主血、肝存血，血枯則肝木挾心火而刑金；當歸入肝養血，入心清火，所以主之也。肝為風，心為火，風火為陽，陽盛則為但熱不寒之溫瘧；而肺受風火之邪，肺氣怯不能為皮毛之主，故寒熱洗洗在皮膚之中；當歸能令肝血足而風定，心血足而火息，則皮膚中之寒熱可除也。肝主藏血，補肝所以止漏也。手少陰脈動甚，則為有子，補心即所以種子也。瘡瘍俱屬心火，血足則心火息矣。金瘡無不失血，血長則金瘡瘳矣。「煮汁飲之」四字，則言先聖大費苦心，謂「中焦受氣，取汁變化而赤是謂血」，當歸煮汁，滋中焦之汁，與地黃作湯同義。可知時傳炒燥土炒，反涸其自然之汁，大失經旨。</p>

<h3>芎藭</h3>
<p>氣味辛、溫，無毒。主中風入腦，頭痛，寒痹，筋攣緩急，金瘡，婦人血閉無子。</p>
<p>陳修園曰：芎藭氣溫，稟春氣而入肝；味辛無毒，得金味而入肺。風為陽邪，而傷於上，風氣通肝，肝經與督脈會於顛頂而為病，芎藭辛溫而散邪，所以主之。血少不能熱膚，故生寒而為痹；血少不能養筋，故筋結而為攣，筋縱而為緩，筋縮而為急；芎藭辛溫而活血，所以主之。治金瘡者，以金瘡從皮膚以傷肌肉。芎藭稟陽明金氣，能從肌肉而達皮膚也。婦人以血為主，血閉不通，則不生育；芎藭辛溫，通經而又能補血，所以治血閉無子也。</p>

<h3>淫羊藿</h3>
<p>氣味辛、寒，無毒。主陰痿絕傷，莖中痛，利小便，益氣力，強志。（羊脂拌炒。）</p>
<p>陳修園曰：淫羊藿氣寒，稟天冬水之氣而入腎；味辛無毒，得地之金味而入肺；金水二臟之藥，細味經文，俱以補水臟為主。陰者，宗筋也；宗筋屬於肝木，木遇烈日而痿；一得氣寒之羊藿，即如得甘露而挺矣。絕傷者，絡脈絕而不續也。《金匱》有云：絡脈者，陰精陽氣所往來也。羊藿氣寒味辛，具水天之氣環轉運行而能續之也。莖主莖也，火鬱於中則痛，熱者清之以寒，郁者散之以辛，所以主莖中痛也。小便主於膀胱，必假三焦之氣化而出，三焦之火盛則孤陽不化而為溺短。溺閉之證，一得羊藿之氣寒味辛，金水相函，陰陽濡布，陽得陰而化，則小便利矣。肺主氣，腎藏志。孟夫子云：「夫志，氣之帥也」。潤肺之功歸於補腎，其益氣力強志之訓，即可於孟夫子善養剛大之訓悟之也。第此理難與時醫道耳！</p>
<p>葉天士云：淫羊藿浸酒治偏風不遂，水涸腰痛。</p>

<h3>荊芥</h3>
<p>氣味辛、溫，無毒。主寒熱，鼠瘻瘰癧，生瘡，破結聚氣，下淤血，除濕疸。</p>
<p>【參】　荊芥氣溫，稟木氣而入肝膽。味辛無毒，得金味而入肺。氣勝於味，以氣為主，故所主皆少陽相火、厥陰風木之症。寒熱往來，鼠瘻瘰癧、生瘡等症，乃少陽之為病也；荊芥辛溫以發相火之郁，則病愈矣。飲食入胃，散精於肝，肝不散精，則氣滯而為積聚；肝藏主血，血隨氣而運行；肝氣一滯，則血亦滯而為淤，乃厥陰之為病也。荊芥辛溫以達肝木之氣，則病愈矣。其除濕疸者，以疸成於濕；荊芥溫而兼辛，辛入肺而調水道，水道通則濕疸除矣。今人炒黑，則變為燥氣而不能達，失其辛味而不能發，且謂為產後常用之品，昧甚！</p>

<h3>麻黃</h3>
<p>氣味苦、溫，無毒。主中風傷寒頭痛，溫瘧，發表出汗，去邪熱氣，止咳逆上氣，除寒熱，破症堅積聚。（去節根。）</p>
<p>陳修園曰：麻黃氣溫，稟春氣而入肝；味苦無毒，得火味而入心。心主汗，肝主疏泄，故為發汗上藥。其所主皆系無汗之症。太陽證中風傷寒頭痛、發熱、惡寒、無汗而喘系宜麻黃以發汗。但熱不寒，名曰溫瘧，熱甚無汗、頭痛，亦宜麻黃以發汗。咳逆上氣，為手太陰之寒證；發熱惡寒，為足太陽之表證；亦宜麻黃以發汗。即症堅積聚為內病，亦系陰寒之氣，凝聚於陰分之中，日積月累而漸成；得麻黃之發汗，從陰出陽，則症堅積聚自散。凡此皆發汗之功也。</p>
<p>根節古云止汗，是引止汗之藥，以達於表而速效，非麻黃根節自能止汗，舊解多誤。</p>

<h3>葛根</h3>
<p>氣味甘、辛、平，無毒。主消渴，身大熱，嘔吐，諸痹，起陰氣，解諸毒。</p>

<h3>葛谷</h3>
<p>氣味甘、平，無毒。主下痢十歲以上。</p>
<p>葉天士曰：葛根氣平，稟天秋平之金氣，入手太陰肺經；味甘辛無毒，得地金土之味，入足陽明燥金胃。其主消渴者，辛甘以升騰胃氣，氣上則津液生也。其主身大熱者，氣平為秋氣，秋氣能解大熱也。脾有濕熱，則壅而嘔吐，葛根味甘，升發胃陽，胃陽鼓動，則濕熱下行而嘔吐止矣。諸痹皆起於氣血不流通，葛根辛甘和散，氣血活諸痹自愈也。陰者從陽者也，人身陰氣，脾為之原，脾與胃合；辛甘入胃，鼓動胃陽，陽健則脾陰亦起也。甘者，土之沖味；平者，金之和氣；所以解諸毒也。</p>
<p>張隱菴曰：元人張元素謂：「葛根為陽明仙藥，若太陽初病用之，反引邪入陽明等論，皆臆說也。余讀仲祖《傷寒論》方，有葛根湯治太陽病項背几几；又治太陽與陽明合病。」若陽明本病，只有白虎承氣諸湯，並無葛根湯證，況葛根主宣通經脈之正氣以散邪，豈反引邪內入耶！前人學不明經，屢為異說，李時珍一概收錄，不加辨正，學者看本草發明，當合經論參究，庶不為前人所誤。</p>

<h3>黃芩</h3>
<p>氣味苦、寒、無毒。主諸熱，黃疸，腸澼泄痢，逐水，下血閉，惡瘡，疽蝕，火瘍。</p>
<p>陳修園曰：黃芩與黃連、黃柏皆氣寒味苦而色黃，主治大略相似。大抵氣寒皆能除熱，味苦皆能燥濕，色黃者皆屬於土，黃而明亮者則屬於金，金借土之色以為色，故五金以黃金為貴也。但黃芩中空似腸胃，腸為手陽明，胃為足陽明。其主諸熱者，指腸胃諸熱病而言也。黃疸為大腸經中之鬱熱；腸澼泄痢者，為大腸腑中之鬱熱。逐水者，逐腸中之水。下血閉者，攻腸中之蓄血。惡瘡疽蝕火瘍者，為肌肉之熱毒；陽明主肌肉，瀉陽明之火即所以解毒也。《本經》之言主治如此，仲景於少陽經用之：於心下悸易茯苓，於腹痛易芍藥，又於《本經》言外別有會悟也。</p>

<h3>元參</h3>
<p>氣味苦、微寒，無毒。主腹中寒熱積聚，女子產乳余疾，補腎氣，令人明目。</p>
<p>陳修園曰：元參所以治腹中諸疾者，以其啟腎氣上交於肺，得水天一氣，上下環轉之妙用也。</p>
<p>張隱菴註解甚妙，詳于丹參注中。其云主產乳余疾者，以產後脫血則陰衰，而火無所制。治之以寒涼既恐傷中，加之以峻補又恐拒隔，惟元參清而帶微補，故為產後要藥。令人目明者，黑水神光屬腎，自能明目也。</p>

<h3>丹參</h3>
<p>氣味苦、微寒，無毒。主心腹邪氣，腸鳴幽幽如走水，寒熱積聚，破症除瘕，止煩滿，益氣。</p>
<p>張隱菴曰：丹參、元參皆氣味苦寒，而得少陰之氣化。但元參色黑，稟少陰寒水之精而上通於天；丹參色赤，稟少陰君火之氣而下交於地；上下相交，則中土自和。故元參下交於上，而治腹中寒熱積聚；丹參上交於下，而治心腹寒熱積聚。君火之氣下交，則土溫而水不泛溢，故治腸鳴幽幽如走水。破症除瘕者，治寒熱之積聚也；止煩滿益氣者，治心腹之邪氣也。夫止煩而治心邪，止滿而治腹邪，益正氣，所以治邪氣也。</p>
<p>陳修園曰：今人謂一味丹參，功兼四物湯，共認為補血行血之品，為女科之專藥，而丹參之真功用掩矣。</p>

<h3>丹皮</h3>
<p>氣味辛、寒，無毒。主寒熱，中風瘛瘲，驚癇邪氣，除症堅淤血留舍腸胃，安五臟，療癰瘡。</p>
<p>陳修園曰：丹皮氣寒，稟水氣而入腎；味辛無毒，得金味而入肺。心火具炎上之性，火鬱則寒，火發則熱；丹參稟水氣而制火，所以主之。肝為風臟，中風而害其筋則為瘛瘲，中風而亂其魂則為驚癇，丹皮得金味以平肝，所以主之。邪氣者，風火之邪也，邪氣動血，留舍腸胃，淤積症堅；丹皮之寒能清熱，辛能散結，可以除之。肺為五臟之長，肺安而五臟俱可安。癰瘡皆屬心火，心火降而癰瘡可療。</p>

<h3>防己</h3>
<p>氣味辛、平，無毒。主風寒溫瘧，熱氣諸癇，除邪，利大小便。</p>
<p>【述】　防己氣平，稟金之氣；味辛無毒，得金之味入手太陰肺經。風寒溫瘧者，感風寒而患，但熱不寒之瘧也。熱氣諸癇者，心有熱而患牛、馬、豬、羊、雞、諸癇也。溫熱皆為陽邪，癇瘧皆屬風木，防己可以統治之。除邪者，又申言可除以上之邪氣也。然肺為水之上源，又與大腸相為表裡，防己之辛平調肺氣，則二便利矣。</p>
<p>張隱菴曰：《經》云：水道不行則形消氣索，是水有隨氣而運行於膚表者，有水火上下之相濟者，如氣滯而水不行則為水病、痰病矣。防己生於漢中者，破之紋如車輻，莖藤空通，主通氣行水，以防己土之制，故有防己之名。《金匱》方治水病有防己黃耆湯、防己茯苓湯；治痰病有木防己湯、防己加茯苓芒硝湯；《千金方》治遺尿、小便澀，有三物木防己湯；蓋氣運於上，而水能就下也。而李東垣有云：防己乃下焦血分之藥，病在上焦氣分者禁用。又云：如險健之人，幸災樂禍首為亂階，若善用之亦可敵凶突險。此瞑眩之藥，故聖人存而不廢。噫！如此議論，不知從何處參出？夫氣化而後水行，防己乃行氣利水之品，反云上焦氣分不可用，何不通之甚乎？防己能運行去病，是運中有補。《本經》列於中品之前，奚為存而不廢？緣其富而貪名，無格物實學，每為臆說，使後人遵之如格言，畏之若毒藥，非古人之罪乎？李時珍乃謂千古而下，惟東垣一人誤矣。嗟嗟！安得伊歧重出世，更將經旨復重宣也。</p>

<h3>狗脊</h3>
<p>氣味苦、平。主腰背強，關機緩急，風痹寒濕膝痛，頗利老人。</p>

<h3>秦艽</h3>
<p>氣味苦、平，無毒。主寒熱邪氣，寒濕風痹，肢節痛，下水，利小便。</p>
<p>張隱菴曰：秦艽氣味苦平，色如黃土，羅紋交糾，左右旋轉，稟天地陰陽交感之氣。蓋天氣左旋右轉，地氣右旋左轉，左右者，陰陽之道路。主治寒熱邪氣者，地氣從內以出外，陰氣外交於陽，而寒熱邪氣自散矣。治寒濕風痹肢節痛者，天氣從外以入內，陽氣內交於陰，則寒濕風三邪合而成痹以致肢節痛者，可愈也。地氣運行則水下，天氣運行則小便利。</p>

<h3>紫菀</h3>
<p>氣味苦、溫，無毒。主咳逆上氣，胸中寒熱結氣，去蠱毒，痿躄，安五臟。</p>
<p>張隱菴曰：紫者，黑赤之間色也；黑赤，水火之色也。紫菀氣味苦溫，稟火氣也；其質陰柔，稟水氣也。主治咳逆上氣者，啟太陽寒水之氣從皮毛而合肺也。治胸中寒熱結氣者，助少陰火熱之氣，通利三焦而上達也。蠱毒在腹屬土，火能生土，故去蠱毒。痿躄在筋屬水，水能生木，故去痿躄。水火者，陰陽之徵兆也，水火交則陰陽合，故安五臟。</p>

<h3>知母</h3>
<p>氣味苦、寒，無毒。主消渴熱中，除邪氣，肢體浮腫，下水，補不足，益氣。</p>
<p>葉天士曰：知母氣寒，稟水氣而入腎；味苦無毒，得火味而入心。腎屬水，心屬火，水不制火，火爍津液，則病消渴；火熏五內，則病熱中；其主之者，苦清心火，寒滋腎水也。除邪氣者，苦寒之氣味能除燥火之邪氣也。熱勝則浮，火勝則腫；苦者清火，寒能退熱，故主肢體浮腫也。腫者水臟，其性惡燥，燥則開合不利而水反蓄矣。知母寒滑，滑利關門而水自下也。補不足者，苦寒補寒水之不足也。益氣者，苦寒益五臟之陰氣也。</p>
<p>愚按：《金匱》有桂枝芍藥知母湯，治肢節疼痛、身體尪羸、腳腫如脫，可知長沙諸方，皆從《本經》來也。</p>

<h3>貝母</h3>
<p>氣味辛、平，無毒。主傷寒煩熱，淋瀝邪氣，疝瘕，喉痹，乳難，金瘡，風痙。</p>
<p>陳修園曰：貝母氣平味辛，氣味俱屬於金，為手太陰、手陽明藥也。其主傷寒煩熱者，取西方之金氣以除酷暑；《傷寒論》以白虎湯命名，亦此意也。其主淋瀝邪氣者，肺之治節行於膀胱，則邪熱之氣除，而淋瀝愈矣。疝瘕為肝木受病，此則金平木也。喉痹為肺竅內閉，此能宣通肺氣也。乳少為陽明之汁不通，金瘡為陽明之經脈受傷，風痙為陽明之宗筋不利，貝母清潤而除熱，所以統治之。今人以主治痰嗽，大失經旨。</p>
<p>且李士材謂：貝母主燥痰，半夏主濕痰，二物如水炭之反，皆臆說也。</p>

<h3>栝蔞根</h3>
<p>氣味苦、寒，無毒。主消渴身熱，煩滿大熱，補虛安中，續絕傷。</p>
<p>陳修園曰：栝蔞根氣寒，稟天冬寒之水氣而入腎與膀胱；味苦無毒，得地南方之火味而入心。火盛爍液則消渴，火浮於表則身熱，火盛於裡則煩滿，大熱火盛則陰虛，陰虛則中失守而不安，栝蔞根之苦寒清火，可以統主之。其主續絕傷者，以其蔓延能通陰絡而續其絕也。實名栝蔞，《金匱》取治胸痹，《傷寒論》取治結胸，蓋以能開胸前之結也。</p>
<p>張隱菴曰：半夜起陰氣於脈外，上與陽明相合而成火土之燥。花粉起陰津於脈中，天癸相合而能滋其燥金。《傷寒》、《金匱》諸方，用半夏以助陽明之氣，渴者燥熱太過，即去半夏易花粉以滋之。聖賢立加減之方，必推物理所以然。</p>

<h3>芍藥</h3>
<p>氣味苦、平，無毒。主邪氣腹痛，除血痹，破堅積，寒熱疝瘕，止痛，利小便，益氣。</p>
<p>陳修園曰：芍藥氣平，是夏花而燥金之氣；味苦，是得少陰君火之味。氣平下降，味苦下泄而走血，為攻下之品，非補養之物也。邪氣腹痛、小便不利及一切諸痛，皆氣滯之病，其主之者，以苦平而泄其氣也。血痹者，血閉而不行，甚則為寒熱不調。堅積者，積久而堅實，甚則為疝瘕、滿痛者，皆血滯之病；其主之者，以苦平而行其血也。又云：益氣者，謂邪氣得攻而淨，則元氣自然受益，非謂芍藥能補氣也。今人妄改聖經，以酸寒二字易苦平，誤認為斂陰之品，殺人無算。試取芍藥而嚼之，酸味何在乎？</p>
<p>張隱菴曰：赤芍，白芍花異而根無異，今肆中一種赤芍藥，不知何物之根，為害殊甚。</p>

<h3>木通</h3>
<p>氣味辛、平，無毒。主除脾胃寒熱，通利九竅，血脈，關節，令人不忘，去惡蟲。（木通，《本經》名通草。陳士良撰《食性本草》，改為木通。今復有所謂通草，即古之通脫木也，與此不同。）</p>
<p>張隱菴曰：木通藤蔓空通，其色黃白，氣味辛平，稟土金相生之氣化，而為通關利竅之藥也。稟土氣，故除脾胃之寒熱。藤蔓空通，故通利九竅、血脈、關節。血脈通而關竅利，則令人不忘。稟金氣，故去惡蟲。</p>
<p>防己、木通，皆屬空通蔓草。防己取用在下之根，則其性自下而上，從內而外；木通取用在上之莖，則其性自上而下，自外而內；此根升梢降，一定不易之理。後人用之主利小便，須知小便之利，亦必上而後下，外而後內也。</p>

<h3>白芷</h3>
<p>氣味辛、溫。主女人漏下赤白，血閉陰腫，寒熱，風侵頭目淚出，長肌膚，潤澤，可作面脂。</p>

<h3>苦參</h3>
<p>氣味苦、寒。主心腹結氣，癥瘕積聚，黃疸，溺有餘瀝。逐水，除癰腫，補中，明目止淚。</p>
<p>徐靈胎曰：此以味為治也。苦入心，寒除火，故苦參專治心經之火，與黃連功用相近。但黃連似去心臟之火為多，苦參似去心府小腸之火為多；則以黃連之氣味清，而苦參之氣味濁也。（按：「補中」二字，亦取其苦以燥脾之義也）。</p>

<h3>水萍</h3>
<p>氣味辛、寒。主暴熱，（得水之氣，故能除熱）。身癢，（濕熱在皮膚）。下水氣（萍入水不濡，故能滌水）。勝酒，（水氣勝則酒氣散矣）。長鬚發，（益皮毛之血氣）。主消渴。（得水氣之助）。久服輕身。（亦如萍之輕也）</p>
<p>徐靈胎曰：水萍生於水中，而能出水上，且其葉入水不濡，是其性能敵水者也。故凡水濕之病皆能治之。其根不著土而上浮水面，故又能主皮毛之疾。</p>

<h3>款冬花</h3>
<p>氣味辛、溫，無毒。主咳逆上氣善喘，喉痹，諸驚癇，寒熱邪氣。</p>
<p>張隱菴曰：款冬生於水中，花開紅白，氣味辛溫，從陰出陽，蓋稟水中之生陽，而上通肺金之藥也。太陽寒水之氣，不從皮毛外交於肺，則咳逆上氣而善喘；款冬稟水氣而通肺，故可治也。厥陰、少陽木火之氣結於喉中，則如喉痹；款冬得金水之氣，金能平木，水能制火，故可治也。驚癇寒熱邪氣，為病不止一端，故曰諸驚癇寒熱邪氣；款冬稟太陽寒水之氣，而上行外達，則陰陽水火之氣自相交會，故可治也。</p>

<h3>厚朴</h3>
<p>氣味苦、溫，無毒。主中風，傷寒，頭痛，寒熱，驚悸，氣血痹，死肌，去三蟲。（生用則解肌而達表，炙香則運土而助脾。）</p>
<p>陳修園曰：厚朴氣溫，稟木氣而入肝；味苦無毒，得火味而入心。然氣味厚而主降，降則溫而專於散，苦而專於泄，故所主皆為實症。中風有便溺阻隔症，傷寒有下之微喘症，有發汗後腹脹滿症、大便硬症，頭痛有濁氣上衝症，俱宜主以厚朴也。至於溫能散寒，苦能泄熱，能散能泄，則可以解氣逆之驚悸。能散則氣行，能泄則血行，故可以治氣血痹及死肌也。三蟲本濕氣所化，厚朴能散而泄之，則三蟲可去也。寬脹下氣，經無明文，仲景因其氣味苦溫而取用之，得《本經》言外之旨也。</p>

<h3>梔子</h3>
<p>氣味苦寒，無毒。主五內邪氣，胃中熱氣，面赤，酒疱齄鼻，白癩，赤癩，瘡瘍。</p>
<p>陳修園曰：梔子氣寒，稟水氣而入腎；味苦，得火味而入心。五內邪氣，五臟受熱邪之氣也。胃中熱氣，胃經熱煩懊憹不眠也。心之華在面，赤則心火盛也。鼻屬肺，酒疱齄鼻，金受火克而色赤也。白癩為濕，赤癩為熱，瘡瘍為心火。梔子下稟寒水之精，上結君火之實，能起水陰之氣上滋，復導火熱之氣下行，故統主之。以上諸症，唯生用之，氣味尚存，若炒黑則為死灰，無用之物矣。仲景梔子豉湯用之者，取其交媾水火、調和心腎之功；加香豉以引其吐，非梔子能湧吐也。俗本謂翻子生用則吐，炒黑則不吐，何其陋歟？</p>
<p>按：仲景云：舊有微溏者，勿用。</p>

<h3>枳實</h3>
<p>氣味苦、寒，無毒。主大風在皮膚中，如麻豆苦癢，除寒熱結，止痢，長肌肉，利五臟，益氣。</p>
<p>張隱菴曰：枳殼氣味苦寒，冬不落葉，稟少陰標本之氣化。臭香形園，花白多刺，瓤肉黃白，又得陽明金土之氣化。主治大風在皮膚中，如麻豆苦癢者，得陽明金氣而制風，稟少陰水氣而清熱也。除寒熱結者，稟少陰本熱之氣而除寒，標陰之氣而除熱也。止痢、長肌肉者，得陽明中土之氣也。五臟發原於先天之少陰，生長於後天之陽明，故主利五臟。得少陰之陰故益氣，得陽明之氣故輕身。仲祖本論，有大承氣湯，用炙厚朴、炙枳實；小承氣湯，用生厚朴、生枳實；生熟之間，有意存焉，學者不可不參。</p>
<p>按《本經》有枳實，無枳殼，唐《開寶》始分之。然枳殼即枳實之大者，性宣發而氣散，不如枳實之完結，然既是一種，亦不必過分。</p>

<h3>黃柏</h3>
<p>氣味苦寒，無毒。主五臟腸胃中結熱，黃疸，腸痔，止泄痢，女子漏下赤白，陰傷蝕瘡。</p>
<p>陳修園曰：黃柏氣寒，稟天冬寒之水氣。味苦無毒，得地南方之火味；皮厚色黃，得太陰中土之化。五臟為陰，凡經言主五臟者，皆主陰之藥也。治腸胃中熱結者，寒能清熱也。治黃疸、腸痔者，苦能勝濕也。止泄利者，濕熱泄痢，唯苦寒能除之，而且能堅之也。女子胎漏下血，因血熱妄行；赤白帶下，及陰戶傷蝕成瘡，皆因濕熱下注；黃柏寒能清熱，苦可燥濕，所以主之。然皆正氣未傷，熱毒內盛，有餘之病，可以暫用，否則不可姑試也。</p>
<p>凡藥之燥者，未有不熱；而寒者，未有不濕；黃柏於清熱之中，而兼燥濕之效。</p>

<h3>山茱萸</h3>
<p>氣味酸、平，無毒。主心下邪氣，寒熱，溫中，逐寒濕痹，去三蟲，久服輕身。（去核）。</p>
<p>陳修園曰：山茱萸色紫赤而味酸平，稟厥陰、少陽木火之氣化。手厥陰心包、足厥陰肝，皆屬於風木也；手少陽三焦、足少陽膽，皆屬於相火也。心下巨闕穴，乃手闕陰心包之募，又心下為脾之分。曰邪氣者，脾之邪實為肝木之邪也。足厥陰肝木，血少氣亢則克脾土，並於陽則熱，並於陰則寒也。又寒熱往來，為少陽之病，山萸稟木火之氣化，故咸主之。山萸味酸收斂，斂火歸於下焦，火在下謂之少火，少火生氣，所以溫中。山萸味酸入肝，肝主藏血，血能充膚熱肉，所以逐周身寒濕之痹。三蟲者，厥陰風木之化也；仲景烏梅丸之酸，能治蛔厥，即此物悟出。肝者，敢也，生氣生血之臟也。孫真人生脈散中，有五味之酸，能治倦怠而輕身，亦從此物悟出。</p>
<p>張隱菴曰：仲祖八味丸，用山茱萸，後人去附、桂改為六味丸，以山茱萸為固精補腎水之藥，此外並無他用，皆因安於苟簡，不深討故也。今詳觀《本經》，山茱萸之功能如此，學者能於《本經》之內會悟而廣其用，庶無拘隘之弊。</p>

<h3>吳茱萸</h3>
<p>氣味辛、溫，有小毒。主溫中，下氣，止痛，又除濕血痹，逐風邪，開腠理，咳逆，寒熱。（泡一次用）</p>
<p>陳修園曰：吳萸氣溫，稟春氣而入肝。味辛有小毒，得金味而入肺。氣溫能祛寒，而大辛之味，又能俾肺令之獨行而無所旁掣；故中寒可溫，氣逆可下，胸腹諸痛可止；皆肺令下行，坐鎮而無餘事。仲景取治陽明食谷欲嘔症，及乾嘔吐涎沫症，從《本經》而會悟於言外之旨也。肺喜溫而惡寒，一得吳萸之大溫大辛，則水道通調而濕去。肝藏血，血寒則滯而成痹，一得吳萸之大辛大溫，則血活而痹除。風邪傷人，則腠理閉，而為寒熱咳逆諸症，吳萸大辛大溫，開而逐之，則咳逆寒熱諸證俱平矣。然猶有疑者，仲景用藥悉遵《本經》，而「少陰病吐利，手足逆冷，煩燥欲死者，吳茱萸湯主之」二十字，與《本經》不符。而不知少陰之臟，皆本陽明水穀以資生，而復交於中土。若陰陽之氣不歸中土，則上吐而不利；水火之氣不歸中土，則下燥而上煩；中土之氣內絕，則四肢逆冷而過肘膝，法在不治。仲景取吳茱萸大辛大溫之威烈，佐人參之沖和，以安中氣，薑、棗之和胃，以行四末；專求陽明，是得絕處逢生之妙。張隱菴、葉天士之解俱淺。</p>

<h3>杏仁</h3>
<p>氣味甘、苦、溫，冷利，有小毒。主咳逆上氣，雷鳴喉痹，下氣產乳，金瘡，寒心奔豚。（湯泡去皮。雙仁者，大毒勿用）</p>
<p>陳修園曰：杏仁氣味甘苦，其實苦重於甘，其性帶濕，其質冷利（冷利者，滋潤之意也）。下氣二字，亦足以盡其功。肺實而脹，則為咳逆上氣。雷鳴喉痹者，火結於喉為痹痛，痰聲之響如雷鳴也；杏仁下氣，所以主之。氣有餘便是火，氣下即火下，故乳汁可通，瘡口可合也。心陽虛，則寒水之邪，自下上奔，犯於心位；杏仁有下氣之功，伐寒水於下，即所以保心陽於上也。凡此皆治有餘之症，若勞傷咳嗽之人，服之必死。時醫謂產於叭噠者，味純甘可用，而不知純甘非杏仁之正味。既無苦降之功，徒存其濕以生痰，甘以壅氣，陰受其害，至死不悟，惜哉！</p>

<h3>烏梅</h3>
<p>氣味酸、溫、平、澀，無毒。主下氣，除熱，煩滿，安心，止肢體痛，偏枯不仁，死肌，去青黑痣，蝕惡肉。</p>
<p>陳修園曰：烏梅氣平，稟金氣而入肺；氣溫，稟木氣而入肝；味酸無毒，得木味而入肝；味澀即酸之變味也。味勝於氣，以味為主。梅得東方之味，花放於冬，成熟於夏，是稟冬令之水精，而得春生之氣而上達也。主下氣者，生氣上達，則逆氣自下矣。熱煩滿、心不安，《傷寒論》厥陰症，以氣上撞心，心疼熱等字概之，能下其氣，而諸病皆愈矣。脾主四肢，木氣剋土，則肢體痛；肝主藏血，血不灌溉，則偏枯不仁，而為死肌；烏梅能和肝氣，養肝血，所以主之。去青黑痣及蝕惡肉者，酸收之味，外治能消痣與肉也。</p>
<p>張隱菴云：後人不體經義，不窮物理，但以烏梅為酸斂收澀之藥，而春生上達之性未之講也。惜哉！</p>

<h3>犀角</h3>
<p>氣味苦、酸、咸、寒，無毒。主百毒蠱疰、邪鬼瘴氣，解鉤吻、鴆羽、蛇毒，除邪，不迷惑魘寐。久服輕身。</p>
<p>陳修園曰：犀角氣寒，稟水之氣也；味苦酸鹹無毒，得木火水之味也。主百毒蠱疰、邪鬼瘴氣者，以犀為靈異之獸，借其靈氣以辟邪也。解鉤吻、鴆羽、蛇毒者，以牛屬土而犀居水，得水土之精，毒物投水土中而俱化也。不迷惑魘寐、輕身者，言水火既濟之效也。今人取治血症，與經旨不合。</p>

<h3>羚羊角</h3>
<p>氣味鹹、寒，無毒。主明目，益氣，起陰，去惡血，注下。闢蠱毒，惡鬼不祥，常不魘寐。（俗稱羚羊）</p>
<p>【參】羚羊角氣寒味鹹無毒，入腎與膀胱二經。主明目者，鹹寒以補水，水足則目明也。益氣者，水能化氣也。起陰者，陰器為宗筋而屬於肝，肝為木，木得烈日而萎，得雨露而挺也。味鹹則破血，故主去惡血。氣寒則清熱，故止注下也。蠱毒為濕熱之毒也，鹹寒可以除之。辟惡鬼不祥、常不魘寐夢者，誇其靈異通神之妙也。</p>

<h1>卷之四</h1>

<h2>中品</h2>

<h3>鹿茸</h3>
<p>氣味甘、溫，無毒。主漏下惡血，寒熱，驚癇，益氣，強志，生齒不老。</p>
<p>陳修園曰：鹿為仙獸而多壽，其臥則口鼻對尾閭以通督脈；督脈為通身骨節之主，腎主骨，故又能補腎。腎得其補，則志強而齒固，以志藏於腎，齒為骨余也。督得其補，則大氣升舉，惡血不漏，以督脈為陽氣之總督也。然角中皆血所貫，沖為血海，其大補衝脈可知也。凡驚癇之病，皆挾衝脈而作，陰氣虛不能寧謐於內，則附陽而上升，故上熱而下寒。陽氣虛不能周衛於身，則隨陰而下陷，故下熱而上寒；鹿茸入衝脈，而大補其血，所以能治寒熱驚癇也。至於長而為角，《別錄》謂其主惡瘡，逐惡氣。以一點胚血，發泄已盡，只有拓毒消散之功也。</p>

<h3>鱉甲</h3>
<p>氣味酸、平，無毒。主心腹癥瘕，堅積寒熱，去痞疾、蝕肉、陰蝕、痔核惡肉。</p>
<p>【述】鱉甲氣平，稟金氣而入肺；味鹹無毒，得水味而入腎。心腹者，合心下大腹小腹，以及脅肋而言也。癥瘕堅硬之積，致發寒熱，為厥陰之肝氣凝聚；鱉甲氣平，可以制肝，味鹹可以軟堅，所以主之也。痞者，肝氣滯也，鹹平能制肝而軟堅，故亦主之。蝕肉、陰蝕、痔核惡肉，一生於鼻，鼻者肺之竅也；一生於二便，二便者腎之竅也；入肺腎而軟堅，所以消一切惡肉也。</p>

<h3>白殭蠶</h3>
<p>氣味鹹、平、辛，無毒。主治小兒驚癇、夜啼，去三蟲，滅黑䵟，令人面色好，男子陰癢病。（凡稟金氣色白之藥，俱不宜炒。）</p>
<p>【述】殭蠶氣平為秋氣，味辛為金味，味鹹為水味，稟金水之精也。治驚癇者，金能平木也。治夜啼者，金屬乾而主天，天運旋轉，晝開夜闔也。殺三蟲者，蟲為風木所化，金主肅殺也，滅黑䵟、令人面色好者，俾水氣上滋也。治男子陰癢者，金能制風，咸能除癢也。徐靈胎曰，殭蠶感風而僵，凡風氣之疾，皆能治之，蓋借其氣以相感也。</p>
<p>或問：因風以僵，何以反能治風？曰：邪之中人也，有氣而無形，穿經透絡，愈久愈深。以氣類相反之藥投之，則拒而不入，必與之同類者，和入諸藥，使為響導，則藥力至於病所。而邪與藥相從，藥性漸發，或從毛孔出，或從二便出，不能復留矣。此即從治之法也。風寒暑濕，莫不皆然。此神而明之之道，不專恃正治奏功矣。</p>

<h3>蚱蟬</h3>
<p>（古人用蟬，今人用蛻，氣性亦相近。）氣味寒、咸。主小兒驚癇、夜啼，癲病寒熱。</p>
<p>陳修園曰：蚱蟬氣寒稟水氣，味鹹得水味，而要其感涼風清露之氣以生，得金氣最全。其主小兒驚癇者，金能平木也。蚱蟬日出有聲，日入無聲，故止夜啼也。癲病寒熱者，肝膽之風火也，蚱蟬具金水之氣，金能制風，水能制火，所以主之。</p>
<p>張隱菴曰：蟬脫、殭蠶，皆稟金水之精，故《本經》主治，大體相同。但蟬飲而不食，溺而不糞；蠶食而不飲，糞而不溺，何以相同？經云：「飲入於胃……，上歸於肺……。」谷入於胃，乃傳之肺。是飲食雖殊，皆由肺氣之通調，則尿糞雖異，皆稟肺氣以傳化矣。石膏　氣味辛、微寒，無毒。主中風寒熱，心下逆氣驚喘，口乾舌焦，不能息，腹中堅痛，除邪鬼，產乳，金瘡。</p>
<p>陳修園曰：石膏氣微寒，稟太陽寒水之氣；味辛無毒，得陽明燥金之味。風為陽邪，在太陽則惡寒發熱，然必審其無汗煩燥而喘者，可與麻桂並用；在陽明則發熱而微惡寒，然必審其口乾舌焦大渴而自汗者，可與知母同用。曰心下氣逆，即《傷寒論》，氣逆欲嘔之互詞；曰不能息，即《傷寒論》虛羸少氣之互詞；然必審其為解后里氣虛而內熱者，可與人參、竹葉、半夏、麥冬、甘草、粳米同用。腹中堅痛，陽明燥甚而堅，將至於胃實不大便之症。邪鬼者，陽明邪實，妄言妄見，或無故而生驚，若邪鬼附之，石膏清陽明之熱，可以統治之。陽明之脈，從缺盆下乳，石膏能潤陽明之燥，故能通乳。陽明主肌肉，石膏外糝，又能愈金瘡之潰爛也。但石品見火則成石灰，今人畏其寒而煅用，則大失其本來之性矣。</p>

<h2>下品</h2>

<h3>附子</h3>
<p>氣味辛、溫，有大毒。主風寒咳逆邪氣，溫中，金瘡，破症堅、積聚、血瘕，寒濕痿躄，拘攣，膝痛，不能行步。（以刀削去皮臍，每個剖作四塊，用滾水微溫泡三日，一日一換，去鹽味，曬半燥，剖十六塊，於銅器炒熟用之。近世以便煮之，非法也。）</p>
<p>陳修園曰：《素問》謂以毒藥攻邪是回生妙手，後人立補養等法是模稜巧術，究竟攻其邪而正氣復，是攻之即所以補之也。附子味辛氣溫，火性迅發，無所不到，故為回陽救逆第一品藥。《本經》云：風寒咳逆邪氣，是寒邪之逆於上焦也；寒濕痿躄、拘攣、膝痛不能行步，是寒邪著於下焦筋骨也；症堅、積聚、血瘕，是寒氣凝結，血滯於中也。考《大觀本》，咳逆邪氣句下，有「溫中金瘡」四字，以中寒得暖而溫，血肉得暖而合也。大意上而心肺，下而肝腎，中而脾胃，以及血肉筋骨營衛，因寒濕而病者，無有不宜。即陽氣不足，寒氣內生，大汗、大瀉、大喘、中風、卒倒等症，亦必仗此大氣大力之品，方可挽回。此《本經》言外意也。</p>
<p>又曰：附子主寒濕，諸傢俱能解到，而仲景用之，則化而不可知之謂神。且夫人之所以生者，陽也，亡陽則死。亡字分二字，一無方切，音忘，逃也，即《春秋傳》出亡之義也；一微夫切，音無，無也，《論語》亡而為有，孟子問有餘曰亡矣之義也。誤藥大汗不止為亡陽，如唐之幸蜀，仲景用四逆湯、真武湯等法以迎之；吐利厥冷為亡陽，如周之守府，仲景用通脈四逆湯、姜附湯以救之；且太陽之標陽外呈而發熱，附子能使之交於少陰而熱已。少陰之神機病，附子能使自下而上而脈生，周行通達而厥愈；合苦甘之芍、草而補虛，合苦淡之苓、芍而溫固，元妙不能盡述。按其立法，與《本經》之說不同，豈仲景之創見歟？然《本經》謂「氣味辛溫有大毒」七字，仲景即於比悟出附子大功用。溫得東方風木之氣，而溫之至則為熱，《內經》所謂少陰之上，君火主之是也。辛為西方燥金之味，而辛之至則反潤，《內經》所謂辛以潤之是也。凡物性之偏處則毒，偏而至無可加處則大毒。因「大毒」二字，知附子之溫為至極，辛為至極也。仲景用附子之溫有二法：雜於苓、芍、甘草中，雜於地黃、澤瀉中，如冬日可愛，補虛法也；佐以薑、桂之熱，佐以麻、辛之雄，如夏日可畏，救陽法也。用附子之辛，亦有三法：桂枝附子湯、桂枝附子去桂加白朮湯、甘草附子湯，辛燥以祛除風濕也；附子湯、芍藥甘草附子湯，辛潤以溫補水藏也；若白通湯、通脈四逆湯，加人尿豬膽汁，則取西方秋收之氣，保復元陽，則有大封大固之妙矣。後世虞天民、張景岳、亦極贊其功；然不能從《本經》中細繹其義，以闡發經方之妙，徒逞臆說以極贊之，反為蛇足矣。</p>

<h3>半夏</h3>
<p>氣味辛、平，有毒。主傷寒寒熱，心下堅，胸脹咳逆，頭眩，咽喉腫痛，腸鳴，下氣，止汗。</p>
<p>陳修園曰：半夏氣平，稟天秋金之燥氣，而入手太陰；味辛有毒，得地西方酷烈之味，而入手足陽明。辛則能開諸結，平則能降諸逆也。傷寒寒熱、心下堅者，邪積於半表半里之間，其主之者，以其辛而能開也。胸脹咳逆、咽喉腫痛、頭眩上氣者，邪逆於巔頂胸膈之上，其主之者，以其平而能降也。鳴者，大腸受濕，則腸中切痛而鳴濯濯也；其主之者，以其辛平能燥濕也。又云止汗者，別著其辛中帶澀之功也。仲景於小柴胡湯用之治寒熱，瀉心湯用之以治胸滿腸鳴，少陰咽痛亦用之，《金匱》頭眩亦用之，且嘔者必加此味，大得其開結降逆之旨。用藥悉遵《本經》，所以為醫中之聖。</p>
<p>又曰：今人以半夏功專祛痰，概用白礬煮之，服者往往致吐，且致酸心少食，製法相沿之陋也。古人只用湯洗七次，去涎，今人畏其麻口，不敢從之。余每年收乾半夏數十斤，洗去粗皮，以生薑汁、甘草水浸一日夜，洗淨，又用河水浸三日，一日一換，濾起蒸熟，曬乾切片，隔一年用之，甚效。此藥蓋是太陰、陽明、少陽之大藥，祛痰卻非專長。故仲景諸方加減，俱云嘔者加半夏，痰多者加茯苓，末聞以痰多加半夏也。</p>

<h3>大黃</h3>
<p>氣味苦、寒，無毒。主下淤血、血閉，寒熱，破癥瘕積聚、留飲宿食，盪滌腸胃，推陳致新，通利水穀，調中化食，安和五臟。</p>
<p>陳修園曰：大黃色正黃而臭香，得土之正氣正色，故專主脾胃之病；其氣味苦寒，故主下泄。</p>
<p>凡血淤而閉，則為寒熱；腹中結塊，有形可徵曰症，可聚可散曰瘕；五臟為積，六腑為聚，以及留飲宿食，得大黃攻下，皆能已之。自「盪滌腸胃」下五句，是申明大黃之效。末一句是總結上四句，又大申大黃之奇效也。意謂人只知大黃盪滌腸胃，功在推陳，抑知推陳即所以致新乎？人知大黃通利水穀，功在化食，抑知化食即所以調中乎？且五臟皆稟氣於胃，胃得大黃運化之力而安和，而五臟亦得安和矣，此《本經》所以有黃良之名也。（有生用者，有用清酒洗者。）</p>

<h3>桃仁</h3>
<p>氣味苦、甘、平，無毒。主淤血、血閉、癥瘕邪氣，殺小蟲。（雙仁者，大毒。）</p>
<p>陳修園曰：桃仁氣平為金氣，味苦為大味，味甘為上味。所以瀉多而補少者，以氣平主降，味苦主泄，甘味之少，不能與之為敵也。</p>
<p>徐靈胎曰：桃得三月春和之氣以生，而花色鮮明似血，故凡血鬱血結之疾，不能調和暢達者，此能入於其中而和之散之。然其生血之功少，而去淤之功多者，何也？蓋桃核本非血類，故不能有所補益。若淤瘕皆已敗之血，非生氣不能流通。桃之生氣，皆在於仁，而味苦又能開泄，故能逐舊而不傷新也。</p>

<h3>旋覆花</h3>
<p>氣味鹹、溫，有小毒。主結氣，脅下滿，驚悸，除水，去五臟間寒熱，補中益氣。</p>
<p>陳修園曰：旋覆花氣溫，稟風氣而主散；味鹹，得水味潤下而耎堅。味勝於氣，故以味為主。唯其耎堅，故結氣脅下滿等症，皆能已之；唯其潤下，故停水驚悸，及五臟鬱滯而生寒熱等症，皆能已之。借咸降之力，上者下之，水氣行，痰氣消，而中焦自然受補矣。（《本經》名金沸草。《爾雅》名盜庚。七、八月開花，如金錢菊。相傳葉上露水滴地即生。）桔梗　氣味辛、微溫，有小毒。主胸脅痛如刀刺，腹滿腸鳴幽幽，驚恐悸氣。</p>
<p>張隱菴曰：桔梗治少陽之脅滿，上焦之胸痹，中焦之腹滿，下焦之腸鳴。又驚則氣上，恐則氣下，悸則動中，是桔梗為氣分之藥，上中下皆可治也。張元素不參經義，謂桔梗乃舟楫之藥，載諸藥而不沉。今人熟念在口，終身不忘，以元素杜撰之言為是，則《本經》幾可廢矣！醫門豪傑之士，能明神農之《本經》、軒岐之《靈》《素》、仲祖之《論》《略》，則千百方書，皆為糟粕。設未能也，必為方書所囿，而矇蔽一生矣。可畏哉！</p>

<h3>葶藶</h3>
<p>味辛寒。主癥瘕、積聚、結氣，（水飲所結之疾。）飲食寒熱，破堅逐邪，（亦皆水氣之疾。）通利水道。（肺氣降則水道自通。）</p>
<p>徐靈胎曰：葶藶滑潤而香，專瀉肺氣，肺為水源，故能瀉肺，即能瀉水，凡積聚寒熱從水氣來者，此藥主之。</p>
<p>大黃之瀉，從中焦始；葶藶之瀉，從上焦始。故《傷寒論》中承氣湯用大黃，而陷胸湯用葶藶也。</p>

<h3>連翹</h3>
<p>氣味苦、平。主寒熱，鼠瘻，瘰癧，癰腫，惡瘡，癭瘤，結熱，蠱毒。</p>

<h3>夏枯草</h3>
<p>氣味苦、辛，寒。主寒熱，瘰癧，鼠瘻，頭瘡，破症，散癭，結氣，腳腫，濕痹，輕身。</p>

<h3>代赭石</h3>
<p>氣味苦、寒。主鬼疰，賊風蠱毒，殺精物惡鬼，腹中毒邪氣，女子赤沃漏下。</p>
<p>【述】代赭石氣寒入腎，味苦無毒入心。腎為坎水，代赭氣寒益腎，則腎水中一陽上升；心為離火，代赭味苦益心，則心火中一陰下降。水升火降，陰陽互藏其宅，而天地位矣。故鬼疰賊風精魅惡鬼，以及蠱毒腹中邪毒，皆可主之。腎主二便，心主血，血熱則赤沃漏下，苦寒清心，心腎交，所以主女子赤沃漏下。仲景代赭旋覆花湯，用之極少。後人昧其理而重用之，且賴之以鎮納諸氣，皆荒經之過也！</p>

<h1>本草附錄</h1>

<h2>《別錄》、《唐本草》、……</h2>
<p>《別錄》、《唐本草》、《拾遺》、《藥性》、《海藏》、《蜀本》、《開寶》、《圖經》、《日華》、《補遺》。</p>

<h3>何首烏</h3>
<p>氣味苦、溫，無毒。主瘰癧，消癰腫，療頭面風瘡，治五痔，止心痛，益血氣，黑髭發，悅顏色。久服長筋骨，益精髓，延年不老。亦治婦人產後及帶下諸疾。（《開寶》）</p>
<p>陳修園曰：後世增入藥品，余多置之而弗論，唯何首烏於久瘧久痢多取用之。蓋瘧少陽之邪也，久而不愈，少陽之氣慣為瘧邪所侮。俯首不敢與爭，任其出入往來，絕無忌憚，縱舊邪已退，而新邪復乘虛入之，則為瘧；縱新邪未入，而營衛不調之氣，自襲於少陽之界亦為瘧。首烏妙在直入少陽之經，其氣甚雄，雄則足以折瘧邪之勢；其味甚澀，澀則足以堵瘧邪之路。邪若未淨者，佐以柴、苓、桔、半；邪若已淨者，佐以參、朮、耆、歸；一、二劑效矣。設初瘧而即用之，則閉門逐寇，其害有不可勝言矣。久痢亦用之者，以上氣欠陷，當於少陽求其生髮之氣也，亦以首烏之味最苦而澀，苦以堅其腎，澀以固其脫。宜溫者與薑、附同用；宜涼者與芩、連同用；亦捷法也。此外，如疽瘡五痔之病，則取其蔓延則通經絡。瘰癧之病，則取其入少陽之經。精滑泄瀉及崩漏之病，則取其澀以固脫。若謂首烏滋陰補腎，能烏鬚髮，益氣血，悅顏色，長筋骨，益精髓，延年，皆耳食之誤也。凡物之能滋潤者，必其脂液之多也；物之能補養者，必氣味和也。試問：澀滯如首烏，何以能滋？苦劣如首烏，何以能補？今之醫輩竟奉為補藥上品者，蓋惑於李時珍《綱目》不寒不燥，功居地黃之上之說也。餘二十年來，目擊受害者比比。以醫為蒼生之司命，不敢避好辯之名也。</p>

<h3>延胡索</h3>
<p>氣味辛、溫，無毒。主破血，婦人月經不調，腹中結塊，崩中淋露，產後諸血症，血暈，暴血衝上，因損下血，煮酒或酒磨服。（《開寶》）</p>

<h3>肉豆蔻</h3>
<p>氣味辛、溫，無毒。主溫中，消食止泄，治精冷，心腹脹痛，霍亂中惡，鬼氣冷疰，嘔沫冷氣，小兒乳霍。（《開寶》）</p>

<h3>補骨脂</h3>
<p>氣味辛、溫，無毒。主五勞七傷，風虛冷，骨髓傷敗，腎冷精流，及婦人血氣墮胎。（《開寶》）</p>
<p>陳修園曰：墮胎者，言其人素有墮胎之病，以此藥治之，非謂以此藥墮之也。上文主字，直貫至此。蓋胎借脾氣之長，借腎氣之舉，此藥溫補脾腎，所以大有固胎之功。數百年來，誤以黃芩為安胎之品，遂疑溫藥礙胎，見《開寶》有「墮胎」二字，遽以墮字不作病情解，另作藥功解，與上文不相連貫。李瀕湖、汪訒庵、葉天士輩因之，貽害千古。或問《本經》牛膝本文，亦有「墮胎」二字，豈非以墮字作藥功解乎？曰彼頂「逐血氣」句來，唯其善逐，所以善墮。古書錯綜變化，難與執一不通者道。</p>

<h3>白豆蔻</h3>
<p>氣味辛溫，無毒。主積冷氣，止吐逆反胃，消穀下氣。（《開寶》）</p>

<h3>縮砂仁</h3>
<p>氣味辛、溫、澀，無毒。主虛勞冷瀉，宿食不消，赤白泄痢，腹中虛痛，下氣。（《開寶》）</p>

<h3>鬱金</h3>
<p>氣味苦、寒，無毒主血積，下氣，生肌止血，破惡血，血淋，尿血，金瘡。（《唐本草》）</p>
<p>陳修園曰：時醫徇名有二誤：一曰生脈散，因其有生脈二字，每用之以救脈脫，入咽少頃，脈未生而人已死矣。一曰鬱金，因其命名為郁，往往取治於氣鬱之症，數服之後，郁末解，而血脫立至矣。醫道不明，到處皆然，而江、浙、閩、粵尤其甚者。</p>

<h3>神麯</h3>
<p>氣味辛、甘、溫，無毒。主化水穀宿食，癥結積聚，健脾暖胃。（《藥性》）</p>
<p>陳修園曰：凡麴櫱皆主化谷，谷積服此便消。或鼻中如聞酒香，藥性所言主治，亦不外此。癥結積聚者，水穀之積久而成也。健脾暖胃者，化水穀之效也。除化水穀之外，並無他長。今人以之常服，且云祛百病，怪甚！考造麴之法；六月六日，是六神聚會之曰，用白曲百斤，青蒿、蒼耳、野蓼各自然汁三斤，杏仁研泥、赤小豆為末各三升，以配青龍、白虎、朱雀、元武、勾陳、螣蛇六神，通和作餅，麻葉或楮葉包罯，如造醬黃法，待生黃衣，曬乾收之。陳久者良。藥用六種，以配六神聚會之日，罯發黃衣作曲，故名六神麯。今人除去「六」字，只名神麯，任意加至數十味，無非克破之藥，大傷元氣，且有百草神麯，害人更甚！近日通行福建神麯，其方於六神本方中，去赤小豆，惡其易蛀，加五苓散料、平胃散料及麥芽，穀芽、使君子、榧子、大黃、黃芩、大腹皮、砂仁、白蔻、丁香、木香、藿香、香附、良薑、芍藥、防風、秦艽、羌活、獨活、川芎、蘇葉、荊芥、防己、黨參、茯苓、萊菔子、苡米、木通、茶葉、乾薑、乾葛、枳殼、山楂、檳榔、青皮、木瓜、薄荷、蟬蛻、桃仁、紅花、三稜、莪朮、鬱金、葛蒲、柴胡、菊花等為末，製為方塊，以草罯發黃衣曬乾。此方雜亂無序，誤人匪淺，而竟盛行一時者，皆誤信招牌上誇張等語。而慣以肥甘自奉之輩，單服此克化之品，未嘗不通快一時，而損傷元氣，人自不覺。若以入方，則古人之方，立法不苟，豈堪此雜亂之藥，礙此礙彼乎？且以藥末合五穀，罯造發黃而為曲，只取其速於釀化，除消導之外，並無他長，何以統治百病？且表散之品，因罯發而失其辛香之氣；攻堅之品，以罯發而失其雄入之權。補養之藥，氣味中和，以罯發而變為臭腐穢濁之物，傷脾妨胃，更不待言。明者自知。余臨證二十年，而泉州一帶，先救誤服神麯之害者，十居其七。如感冒病，宜審經以發散，若服神麯，則裡氣以攻伐而虛，表邪隨虛而入里矣。傷食新病，宜助胃以克化；傷食頗久，宜承氣以攻下。若服神麯，則釀成甜酸穢腐之味，滯於中焦，漫無出路，則為噁心脹痛矣。吐瀉是陰陽之不交，泄瀉是水穀不分，赤白痢是濕熱下注，噎隔是賁門乾槁，翻胃是命門火衰，痰飲是水氣泛溢，與神麯更無干涉；若誤服之，輕則致重，重則致死，可不慎哉！（唯「範志」字號藥品精，製法妙，余與吳先生名條光同年，因知其詳。可恨市中多假其字號，宜細辨之。）</p>

<h3>藿香</h3>
<p>氣味辛、甘、溫，無毒。主風水毒腫，去惡氣，止霍亂，心腹痛。（《別錄》）</p>

<h3>前胡</h3>
<p>氣味苦、微寒，無毒。主痰滿，胸脅中痞，心腹結氣，風頭痛，去痰，下氣，治傷寒寒熱，推陳致新，明目益精。（《別錄》）</p>

<h3>紅花</h3>
<p>氣味辛、溫，無毒。主產後血暈口噤，腹內惡血不盡絞痛，胎死腹中，並酒煮服。亦主蠱毒。（《開寶》）</p>

<h3>香附</h3>
<p>氣味甘、微寒，無毒。除胸中熱，充皮毛。久服令人益氣，長鬚眉。（《別錄》）</p>

<h3>金櫻子</h3>
<p>氣味甘、平，無毒。主脾泄下痢，止小便利，澀精氣。久服令人耐寒輕身。</p>

<h3>茯神</h3>
<p>氣味甘、平，無毒。主闢不祥，療風眩風虛，五勞口乾，止驚悸，多恚怒，善忘，開心益智，安魂魄，養精神。（《別錄》）</p>
<p>張隱菴曰：離松根而生者為茯苓，抱松根而生者為茯神，總以茯苓為勝。茯苓皮、茯神木，後人收用，各有主治，然皆糟粕之藥，並無精華之氣，不足重也。</p>

<h3>丁香</h3>
<p>氣味辛、溫，無毒。主溫脾胃，止霍亂，壅脹，風毒諸種，齒疳䘌，能發諸香。（《開寶》）</p>

<h3>蜀椒</h3>
<p>氣味辛、溫，有毒。主邪氣咳逆，溫中，逐骨節皮膚死肌，寒濕痹痛，下氣，久服頭不白，輕身增年。（去閉口去目。椒目同巴豆、菖蒲、松脂、黃蠟為挺，納耳中，治聾。）</p>

<h3>沉香</h3>
<p>氣味辛、微溫，無毒。療風水毒腫，去惡風。（《別錄》）</p>

<h3>烏藥</h3>
<p>氣味辛、溫，無毒。主中惡心腹痛，蠱毒，疰忤鬼氣，宿食不消，天行疫瘴，膀胱腎間冷氣攻衝背膂，婦人血氣，小兒腹中諸蟲。（《拾遺》）</p>

<h3>琥珀</h3>
<p>氣味甘、平，無毒。主安五臟，定魂魄，殺精魅邪氣，消淤血，通五淋。（《別錄》）</p>

<h3>竹茹</h3>
<p>氣味甘、微寒，無毒。主嘔啘，溫氣，寒熱，吐血，崩中。（《別錄》）</p>
<p>張隱菴曰：此以竹之脈絡，而通人之脈絡也。人身脈絡不和，則吐逆為熱矣。脈絡不和，則或寒或熱矣。充膚熱肉澹滲皮毛之血，不循行於脈絡，則上吐血而下崩中矣，竹茹通脈絡，皆治之。</p>

<h3>竹瀝</h3>
<p>氣味甘、大寒，無毒。療暴中風，風痹，胸中大熱，止煩悶，消渴，勞復。（《別錄》）</p>

<h3>青皮</h3>
<p>氣味苦、辛、溫，無毒。主氣滯，下食，破積結及膈氣。（《圖經》）</p>

<h3>木瓜</h3>
<p>氣味酸、溫，無毒。主濕痹腳氣，霍亂大吐下，轉筋不止。（《別錄》）</p>

<h3>枇杷葉</h3>
<p>氣味苦、平，無毒。主卒啘不止，下氣。（刷去毛。《別錄》）</p>

<h3>龍眼肉</h3>
<p>氣味甘、平，無毒。主五臟邪氣，安志，厭食，除蠱毒，去三蟲。久服強身聰明，輕身不老，通神明。（《別錄》）</p>

<h3>山楂子</h3>
<p>氣味酸、冷，無毒。煮汁服，止水痢。沐頭洗身，治瘡癢。</p>

<h3>小麥</h3>
<p>氣味甘、寒，無毒。主除客熱，止煩渴咽燥，利小便，養肝氣，止漏血吐血，令女人易孕。（《別錄》）</p>

<h3>馬料豆</h3>
<p>氣味甘、平，無毒。生研塗癰腫，煮汁殺鬼毒，止痛，久服令人身重。</p>

<h3>綠豆</h3>
<p>氣味甘、寒，無毒。主丹毒，煩熱，風疹，藥石發動熱氣奔豚。生研絞汁服，亦煮食，消腫下氣，壓熱，解礬石之毒，用之勿去皮，令人小壅。（《開寶》）</p>

<h3>扁豆</h3>
<p>氣味甘、微溫，無毒。主和中下氣。（《別錄》）</p>

<h3>穀芽</h3>
<p>氣味苦、溫，無毒。主寒中，下氣，除熱。（《別錄》）</p>
<p>陳修園曰：凡物逢春萌芽而漸生長，今取干谷透發其芽，更能達木氣以制化脾土，故能消導米穀積滯。推之麥芽、黍芽、大豆黃卷，性皆相近。而麥春長夏成，尤得木火之氣，凡怫鬱致成膨脹等症，用之最妙。人但知其消穀，不知其疏肝，是猶稱驥以力也。</p>

<h3>豆豉</h3>
<p>氣味苦、寒，無毒。主傷寒頭痛寒熱，瘴氣惡毒，煩燥滿悶，虛勞喘吸，兩腳疼冷。（《別錄》）</p>

<h3>飴糖</h3>
<p>氣味甘、大溫，無毒。主補虛氣，止渴，去血。（《別錄》）</p>

<h3>薄荷</h3>
<p>氣味辛、溫，無毒。主賊風傷寒，發汗，惡氣心腹脹滿，霍亂，宿食不消，下氣。益汁服，亦堪生食。（《唐本草》）</p>

<h3>香薷</h3>
<p>氣味辛、微溫，無毒。主霍亂腹痛吐下，散水腫。（《別錄》）</p>

<h3>白芥子</h3>
<p>氣味辛、溫，無毒。發汗，主胸膈痰冷，上氣，面目黃赤。醋研，敷射工毒。（《別錄》）</p>

<h3>五靈脂</h3>
<p>氣味甘、溫，無毒。主療心腹冷氣，小兒五疳，闢疫。治腸風，通利血脈，女子月閉。（酒研。）</p>

<h3>虎骨</h3>
<p>氣味辛、微溫，無毒。主邪惡，殺鬼疰毒，止驚悸，治惡瘡、鼠瘻。頭骨尤良。（《別錄》）</p>

<h3>小茴香</h3>
<p>氣味辛、溫，無毒。主小兒氣脹，霍亂嘔逆，腹冷，不下食，兩脅痞滿。（《拾遺》）</p>

<h3>土茯苓</h3>
<p>氣味甘、淡、平，無毒。主治食之當谷不飢，調中止泄，健行不睡。（藏器）治拘攣骨痛，惡瘡癰腫，解汞銀硃毒。（時珍）</p>

<h3>萆薢</h3>
<p>氣味苦、平，無毒。主腰脊痛強，骨節風寒濕周痹，惡瘡不瘳，熱氣。（《本經》）傷中，恚怒，陰痿失溺，老人五緩，關節老血。（《別錄》）</p>

<h3>檳榔</h3>
<p>氣味苦、辛、澀、溫，無毒。主消穀逐水，除痰癖，殺三蟲，伏屍，療寸白。（《別錄》）</p>

<h3>牽牛子</h3>
<p>氣味苦、寒，有毒。主下氣，療腳滿水脹，除風毒，利小便。（《別錄》）</p>
<p>陳修園曰：大毒大破之藥，不堪以療內病。惟楊梅瘡，或毒發周身，或結於一處，甚則陰器剝，鼻柱壞，囟潰不合，其病多從陰器而入，亦必使之從陰器而出也。法用牽牛研取頭末，以土茯苓自然汁泛丸，又以燒裩散為衣。每服一錢，生槐蕊四錢，以土茯苓湯送下，一日三服。服半月效。</p>

<h3>忍冬</h3>
<p>氣味甘、溫，無毒。主寒熱，身腫，久服輕身，長年益壽。（《別錄》）</p>
<p>陳修園曰：氣溫得春氣而入肝，味甘得土味而入胃。何以知入胃不入脾？以此物質輕味薄，偏走陽分，胃為陽土也。其主寒熱者，忍冬延蔓善走，花開黃白二色，黃入營分，白入衛分，營衛調而寒熱之病愈矣。其主身腫者，以風木之氣傷於中土，內則病脹，外則病腫，昔人統名為蠱，取卦象山風之義。忍冬甘入胃，胃為艮土。（艮為山。）溫入肝，肝為風木。（巽為風。）內能使土木合德，外能使營衛和諧，所以善治之也。久服長年益壽者，誇其安內調外之功也。至於瘡毒腫毒等證，時醫重其功，而《別錄》反未言及者，以外科諸效，特疏風祛濕，調和營衛之餘事耳。</p>

<h3>馬兜鈴</h3>
<p>氣味苦、寒，無毒。主肺熱咳嗽，痰結喘促，血痔瘻瘡。（《開寶》）</p>
<p>陳修園曰：氣寒得水氣入腎，味苦得火味入心，雖云無毒，而偏寒之性，多服必令吐利不止也。《內經》云：肺喜溫而惡寒。若《開寶》所云肺熱咳嗽，為絕少之症。所主咳嗽痰結喘促之症，與血痔瘻瘡外症，同一施治，其為涼瀉攻堅之性無疑。今人惑於錢乙補肺阿膠散一方，取用以治虛嗽，百服百死。</p>

<h3>鉤藤</h3>
<p>氣味微寒，無毒。主小兒寒熱，十二驚癇。（《別錄》）</p>

<h3>人乳</h3>
<p>氣味甘、咸，平，無毒。主補五臟，令人肥白悅澤。（《別錄》）</p>

<h3>小便</h3>
<p>氣味鹹、寒，無毒。主療寒熱頭痛，溫氣。童男者尤良。（《別錄》）按：虻蟲、水蛭及蕪花、大戟、甘遂等，不常用之藥，集隘不能具載。柯韻伯抵當湯、十棗湯方論極妙，宜熟讀之。</p>
