<header data-type="book">
<h1>瀕湖脈學</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李時珍</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1564">公元1564年（明·嘉靖四十三年）</data></dd></div>
<div><dt>底本</dt><dd>清乾隆間（1736－1795）鈔本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=1430651d145443b0ab26862d2e801bcafDcyNDgy0&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·瀕湖脈學》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0081/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>李時珍曰：宋有俗子，杜撰《脈訣》，鄙陋紕繆，醫學習誦，以為權輿，逮臻頒白，脈理竟昧。戴同父常刊其誤，先考月池翁著《四診發明》八卷，皆精詣奧室，淺學未能窺造。珍因撮粹擷華，僭撰此書，以便習讀，為脈指南。世之醫病兩家，咸以脈為首務，不知脈乃四診之末，謂之巧者爾，上士欲會其全，非備四診不可。</p>
<p><u>明嘉靖甲子上元日謹書於瀕湖薖所</u></p>

<h1>浮（陽）</h1>
<p>浮脈，舉之有餘，按之不足（《脈經》）。如微風吹鳥背上毛，厭厭聶聶（輕泛貌），如循榆莢（《素問》），如水漂木（崔氏），如捻蔥葉（黎氏）。浮脈法天，有輕清在上之象，在卦為乾，在時為秋，在人為肺，又謂之毛。太過則中堅旁虛，如循雞羽，病在外也。不及則氣來毛微，病在中也。《脈訣》言，尋之如太過，乃浮兼洪緊之象，非浮脈也。</p>
<p>〔體狀詩〕浮脈惟從肉上行，如循榆莢似毛輕。三秋得令知無恙，久病逢之卻可驚。</p>
<p>〔相類詩〕浮如木在水中浮，浮大中空乃是芤。拍拍而浮是洪脈，來時雖盛去悠悠。浮脈輕平似捻蔥。虛來遲大豁然空。浮而柔細方為濡，散似楊花無定蹤。浮而有力為洪，浮而遲大為虛，虛甚為散，浮而無力為芤，浮而柔細為濡。</p>
<p>〔主病詩〕浮脈為陽表病居，遲風數熱緊寒拘。浮而有力多風熱，無力而浮是血虛。寸浮頭痛眩生風，或有風痰聚在胸。關上土衰兼木旺，尺中溲便不流通。</p>
<p>浮脈主表，有力表實，無力表虛，浮遲中風，浮數風熱，浮緊風寒，浮緩風濕，浮虛傷暑，浮芤失血，浮洪虛熱，浮散勞極。</p>

<h1>沉（陰）</h1>
<p>沉脈，重手按至筋骨乃得（《脈經》）。如綿裹砂，內剛外柔（楊氏）。如石投水，必極其底。沉脈法地，有淵泉在下之象，在卦為坎，在時為冬，在人為腎。又謂之石，亦曰營。太過則如彈石，按之益堅，病在外也。不及則氣來虛微，去如數者，病在中也。《脈訣》言緩度三關，狀如爛綿者，非也。沉有緩數及各部之沉，爛綿乃弱脈，非沉也。</p>
<p>〔體狀詩〕水行潤下脈來沉，筋骨之間軟滑勻。女子寸兮男子尺，四時如此號為平。</p>
<p>〔相類詩〕沉幫筋骨自調勻，伏則推筋著骨尋。沉細如綿真弱脈，弦長實大是牢形。（沉行筋間，伏行骨上，牢大有力，弱細無力）</p>
<p>〔主病詩〕沉潛水蓄陰經病，數熱遲寒滑有痰。無力而沉虛與氣，沉而有氣積並寒。寸沉痰鬱水停胸，關主中寒痛不通。尺部濁遺並泄痢，腎虛腰及下元痌。沉脈主裡，有力裡實，無力裡虛。沉則為氣，又主水蓄，沉遲痼冷，沉數內熱，沉滑痰食，沉澀氣鬱，沉弱寒熱，沉緩寒濕，沉緊冷痛。</p>

<h1>遲（陰）</h1>
<p>遲脈，一息三至，去來極慢（《脈經》）。</p>
<p>遲為陽不勝陰，故脈來不及。《脈談》言，重手乃得，是有沉無浮。一息三至，甚為易見。而曰隱隱、曰狀且難，是澀脈矣，其謬可知。</p>
<p>〔體狀詩〕遲來一息至惟三，陽不勝陰氣血寒。但把浮沉分表裡，消陰須益火之原。</p>
<p>〔體狀詩〕脈來三至號為遲，小快於遲作緩持。遲細而難知是澀，浮而遲大以虛推。（三至為遲，有力為緩，無力為澀，有止為弦，遲甚為敗，浮大而軟為虛。黎氏曰：遲小而實，緩大而慢；遲為陰盛陽衰，緩為衛盛營弱，宜別之。）</p>
<p>〔主病詩〕遲司臟病或多痰，沉痼癥瘕仔細看。有力而遲為冷痛，遲而無力定虛寒。寸遲必是上焦寒，關主中寒痛不堪。尺是腎虛腰腳重，溲便不禁疝牽丸。遲脈主臟，有力冷痛，無力虛寒。浮遲表寒，沉遲裡寒。</p>

<h1>數（陽）</h1>
<p>數脈，一息六至（《脈經》）。脈流薄疾（《素問》）。數為陰不勝陽，故脈來太過焉。浮、沉、遲、數，脈之綱領。《素問》《脈經》皆為正脈。《脈訣》立七表、八里，而遺數脈，止歌於心臟，其妄甚矣。</p>
<p>〔體狀詩〕數脈息間常六至，陰微陽盛必狂煩。浮沉表裡分虛實，惟有兒童作吉看。</p>
<p>〔相類詩〕數比平人多一至，緊來如數似彈繩。數而時止名為促，數見關中動脈形。數而弦急為緊，流利為滑，數而有止為促，數甚為極，數見關中為動。</p>
<p>〔主病詩〕數脈為陽熱可知，只將君相火來醫。實宜涼瀉虛溫補，肺病秋深卻畏之。寸數咽喉口舌瘡，吐紅咳嗽肺生瘍。當關胃火併肝火，尺屬滋陰降火湯。數脈主腑，有力實火，無力虛火。浮數表熱，沉數里熱，氣口數實肺癰，數虛肺痿。</p>

<h1>滑（陽中陰）</h1>
<p>滑脈，往來前卻，流利展轉，替替然如珠之應指（《脈經》）。漉漉如欲脫。滑為陰氣有餘，故脈來流利如水。脈者，血之府也。血盛則脈滑，故腎脈宜之；氣盛則脈澀，故肺脈宜之。《脈訣》云：按之即伏，三關如珠，不進不退，是不分浮滑、沉滑、尺寸之滑也，今正之。</p>
<p>〔體狀相類詩〕滑脈如珠替替然，往來流利卻還前。莫將滑數為同類，數脈惟看至數間。（滑則如珠，數則六至）</p>
<p>〔主病詩〕滑脈為陽元氣衰，痰生百病食生災。上為吐逆下蓄血，女脈調時定有胎。寸滑膈痰生嘔吐，吞酸舌強或咳嗽。當關宿食肝脾熱，渴痢㿗淋看尺部。滑主痰飲，浮滑風痰，沉滑食痰，滑數痰火，滑短宿食。《脈訣》言：關滑胃寒，赤滑臍似水。與《脈經》言關滑胃熱，尺滑血蓄，婦人經病之旨相反，其謬如此。</p>

<h1>澀（陰）</h1>
<p>澀脈，細而遲，往來難，短且散，或一止復來（《脈經》）。參伍不調（《素問》）。如輕刀刮竹（《脈訣》）。如雨沾沙（《通真子》）。如病蠶食葉。澀為陽氣有餘，氣盛則血少，故脈來蹇滯，而肺宜之。《脈訣》言：指下尋之似有，舉之全無。與《脈經》所云，絕不相干。</p>
<p>〔體狀詩〕細遲短澀往來難，散止依稀應指間。如雨沾沙容易散，病蠶食葉慢而艱。</p>
<p>〔相類詩〕參伍不調名曰澀，輕刀刮竹短而難。微似秒芒微軟甚，浮沉不別有無間。細遲短散，時一止曰澀。極細而軟，重按若絕曰微。浮而柔細曰濡，沉而柔細曰弱。</p>
<p>〔主病詩〕澀緣血少或傷精，反胃亡陽汗雨淋。寒濕入營為血痹，女人非孕即無經。寸澀心虛痛對胸，胃虛脅脹察關中。尺為精血俱傷候，腸結溲淋或下紅。澀主血少精傷之病，女人有孕為胎病，無孕為敗血。杜光庭云：澀脈獨見尺中，形同代為死脈。</p>

<h1>虛（陰）</h1>
<p>虛脈，遲大而軟，按之無力，隱指豁豁然空（《脈經》）。崔紫虛云：形大力薄，其虛可知。《脈訣》言：尋之不足，舉之有餘。上言浮脈，不見虛狀。楊仁齋言：狀似柳絮，散漫而遲。滑氏言：散大而軟，皆是散脈，非虛也。</p>
<p>〔體狀相類詩〕舉之遲大按之松，脈狀無涯類谷空。莫把芤虛為一例，芤來浮大似慈蔥。虛脈浮大而遲，按之無力。芤脈浮大，按之中空，芤為脫血。虛為血虛，浮散二脈見浮脈。</p>
<p>〔主病詩〕脈虛身熱為傷暑，自汗怔忡驚悸多。發熱陰虛須早治，養營益氣莫蹉跎。血不榮心寸口虛，關中腹脹食難舒。骨蒸痿痹傷精血，卻在神門兩部居。《經》曰：血虛脈虛。曰：氣來虛微為不及，病在內。曰：久病脈虛者死。</p>

<h1>實（陽）</h1>
<p>實脈，浮沉皆得，脈大而長微弦，應指愊愊然（《脈經》）。愊愊，堅實貌。《脈訣》言：如繩應指來，乃緊脈，非實脈也。</p>
<p>〔體狀詩〕浮沉皆得大而長，應指無虛愊愊強。熱蘊三焦成壯火，通腸發汗始安康。</p>
<p>〔相類詩〕實脈浮沉有力強，緊如彈索轉無常。須知牢脈幫筋骨，實大微弦更帶長。浮沉有力為實，弦急彈人為緊，沉而實大，微弦而長為牢。</p>
<p>〔主病詩〕實脈為陽火鬱成，發狂譫語吐頻頻。或為陽毒或傷食，大便不通或氣疼。寸實應知面熱風，咽疼舌強氣填胸。當關脾熱中宮滿，尺實腰腸痛不通。《經》曰：血實脈實。曰：脈實者，水穀為病。曰：氣來實強是謂太過。《脈訣》言尺實小便不禁，與《脈經》尺實小腹痛、小便難之說何反。潔古不知其謬，訣為虛寒，藥用姜附，愈誤矣。</p>

<h1>長（陽）</h1>
<p>長脈，不小不大，迢迢自若（朱氏）。如循長竿末梢為平；如引繩，如循長竿，為病（《素問》）。長有三部之長，一部之長，在時為春，在人為肝；心脈長，神強氣壯；腎脈長，蒂固根深。《經》曰：長則氣治，皆言平脈也。</p>
<p>〔體狀相類詩〕過於本位脈名長，弦則非然但滿張，弦脈與長爭較遠，良工尺度自能量。（實、牢、弦、緊皆兼長脈）</p>
<p>〔主病詩〕長脈迢迢大小勻，反常為病似牽繩。若非陽毒癲癇病，即是陽明熱勢深。（長主有餘之病）</p>

<h1>短（陰）</h1>
<p>短脈，不及本位（《脈訣》）。應指而回，不能滿部（《脈經》）。戴同父云：短脈只見尺寸，若關中見短，上不通寸，下不通尺，是陰陽絕脈，必死矣。故關不診短。黎居士云：長短未有定體，諸脈舉按之，附過於本位者為長，不及本位者為短。長脈屬肝宜於春。短脈屬肺宜於秋。但診肝肺，長短自見。</p>
<p>〔體狀相類詩〕兩頭縮縮名為短，澀短遲遲細且難。短澀而浮秋喜見，三春為賊有邪干。（澀、微、動、結，皆兼短脈）</p>
<p>〔主病詩〕短脈惟於尺寸尋，短而滑數酒傷神。浮為血澀沉為痞，寸主頭疼尺腹疼。（《經》曰：短則氣病，短主不及之病）</p>

<h1>洪（陽）</h1>
<p>洪脈，指下極大（《脈經》）。來盛去衰（《素問》）。來大去長（《通真子》）。洪脈在卦為離，在時為夏，在人為心。《素問》謂之大，亦曰鉤。滑氏曰：來盛去衰，如鉤之曲，上而復下。應血脈來去之象，象萬物敷布下垂之狀。詹炎舉言如環珠者，非。《脈訣》云：季夏宜之，秋季、冬季，發汗通腸，俱非洪脈所宜，蓋謬也。</p>
<p>〔體狀詩〕脈來洪盛去還衰，滿指淹淹應夏時。若在春秋冬月分，升陽散火莫狐疑。</p>
<p>〔相類詩〕洪脈來時拍拍然，去衰來盛似波瀾。欲知實脈參差處，舉按弦長愊愊堅。（洪而有力為實，實而無力為洪）</p>
<p>〔主病詩〕脈洪陽盛血應虛，相火炎炎熱病居。脹滿胃翻須早治，陰虛泄痢可愁如。寸洪心火上焦炎，肺脈洪時金不堪。肝火胃虛肝內察，腎虛陰火尺中看。洪主陽盛陰虛之病，泄痢、失血、久嗽者忌之。《經》曰：形瘦脈大多氣者死。曰：脈大則病進。</p>

<h1>微（陰）</h1>
<p>微脈，極細而軟，按之如欲絕，若有若無（《脈經》）。細而稍長（戴氏）。《素問》謂之小。氣血微則脈微。</p>
<p>〔體狀相類詩〕微脈輕微瞥瞥乎，按之欲絕有如無。微為陽弱細陰弱。細比於微略較粗。輕診即見，重按如欲絕者，微也。往來如線而常有者，細也。仲景曰：脈瞥瞥如羹上肥者，陽氣微；縈縈如蠶絲細者，陰氣衰；長病得之死，卒病得之生。</p>
<p>〔主病詩〕氣血微兮脈亦微，惡寒發熱汗淋漓。男為勞極諸虛候，女作崩中帶下醫。寸微氣促或心驚，關脈微時脹滿形。尺部見之精血弱，惡寒消癉痛呻吟。微主久虛血弱之病，陽微惡寒，陰微發熱。《脈訣》云：歲中日久為白帶，漏下多時骨亦枯。</p>

<h1>緊（陽）</h1>
<p>緊脈，來往有力，左右彈人手（《素問》）。如轉索無常（仲景），數如切繩（《脈經》），如紉箄線（丹溪）。緊乃熱為寒束之脈，故急數如此，要有神氣。《素問》謂之急。《脈訣》言：寥寥入尺來。崔氏言：如線，皆非緊狀。或以浮緊為弦，沉緊為牢，亦近似耳。</p>
<p>〔體狀詩〕舉如轉索切如繩，脈象因之得緊名。總是寒邪來作寇，內為腹痛外身疼。</p>
<p>〔相類詩〕見弦、實。</p>
<p>〔主病詩〕緊為諸痛主於寒，喘咳風癇吐冷痰。浮緊表寒鬚髮越，緊沉溫散自然安。寸緊人迎氣口分，當關心腹痛沉沉。尺中有緊為陰冷，定是奔豚與疝疼。諸緊為寒為痛，人迎緊盛傷於寒，氣口緊盛傷於食，尺緊痛居其腹。況乃疾在其腹。中惡浮緊、咳嗽沉緊，皆主死。</p>

<h1>緩（陰）</h1>
<p>緩脈，去來小快於遲（《脈經》），一息四至（戴氏），如絲在經，不卷其軸，應指和緩，往來甚勻（張太素），如初春楊柳舞風之象（楊玄操），如微風輕颭柳梢（滑伯仁）。緩脈在卦為坤，在時為四季，在人為脾。陽寸、陰尺，上下同等，浮大而軟，無有偏勝者，平脈也。若非其時，即為有病。緩而和勻，不浮、不沉，不疾、不徐、不微、不弱者，即為胃氣。故杜光庭云：欲知死期何以取？古賢推定五般土。陽土須知不遇陰，陰土遇陰當細數。詳《玉函經》。</p>
<p>〔體狀詩〕緩脈阿阿四至通，柳梢嫋嫋颭輕風。欲從脈里求神氣，只在從容和緩中。</p>
<p>〔相類詩〕見遲脈。</p>
<p>〔主病詩〕緩脈營衰衛有餘，或風或濕或脾虛。上為項強下痿痹，分別浮沉大小區。寸緩風邪項背拘，關為風眩胃家虛。神門濡泄或風秘，或是蹣跚足力迂。浮緩為風，沉緩為濕，緩大風虛，緩細濕痹，緩澀脾虛，緩弱氣虛。《脈訣》言：緩主脾熱口臭、反胃、齒痛、夢鬼之病。出自杜撰，與緩無關。</p>

<h1>芤（陽中陰）</h1>
<p>芤脈，浮大而軟，按之中央空，兩邊實（《脈經》）。中空外實，狀如慈蔥。芤，慈蔥也。《素問》無芤名。劉三點云：芤脈何似？絕類慈蔥，指下成窟，有邊無中。戴同父云：營行脈中，脈以血為形，芤脈中空，脫血之象也。《脈經》云：三部脈芤，長病得之生，卒病得之死。《脈訣》言：兩頭有，中間無，是脈斷截矣。又言主淋瀝、氣入小腸。與失血之候相反，誤世不小。</p>
<p>〔體狀詩〕芤形浮大軟如蔥，按之旁有中央空。火犯陽經血上溢，熱侵陰絡下流紅。</p>
<p>〔相類詩〕中空旁實乃為芤，浮大而遲虛脈呼。芤更帶弦名曰革，血亡芤革血虛虛。</p>
<p>〔主病詩〕寸芤積血在於胸，關內逢芤腸胃癰。尺部見之多下血，赤淋紅痢漏崩中。</p>

<h1>弦（陽中陰）</h1>
<p>弦脈，端直以長（《素問》），如張弓弦（《脈經》），按之不移，綽綽如按琴瑟弦（巢氏），狀若箏弦（《脈訣》），從中直過，挺然指下（《刊誤》）。弦脈在卦為震，在時為春，在人為肝。輕虛以滑者平，實滑如循長竿者病，勁急如新張弓弦者死。池氏曰：弦緊而數勁為太過，弦緊而細為不及。戴同父曰：弦而軟，其病輕；弦而硬，其病重。《脈訣》言：時時帶數，又言脈緊狀繩牽。皆非弦象，今削之。</p>
<p>〔體狀詩〕弦脈迢迢端直長，肝經木旺土應傷。怒氣滿胸常欲叫，翳蒙瞳子淚淋浪。</p>
<p>〔相類詩〕弦來端直似絲絃，緊則如繩左右彈。緊言其力弦言象，牢脈弦長沉伏間。（又見長脈）</p>
<p>〔主病詩〕弦應東方肝膽經，飲痰寒熱瘧纏身。浮沉遲數須分別，大小單雙有重輕。寸弦頭痛膈多痰，寒熱癥瘕察左關。關右胃寒心腹痛，尺中陰疝腳拘攣。弦為木盛之病。浮弦支飲外溢，沉弦懸飲內痛。瘧脈自弦，弦數多熱，弦遲多寒。弦大主虛，弦細拘急。陽弦頭痛，陰弦腹痛。單絃飲癖，雙弦寒痼。若不食者，木來剋土，必難治。</p>

<h1>革（陰）</h1>
<p>革脈，弦而芤（仲景），如按鼓皮（丹溪）。仲景曰：弦則為寒，芤則為虛，虛寒相摶，此名曰革。男子亡血失精，婦人半產漏下。《脈經》曰：三部脈革，長病得之死，卒病得之生。時珍曰：此即芤弦二脈相合，故均主失血之候。諸家脈書，皆以為牢脈，故或有革無牢，有牢無革，混淆不辨。不知革浮牢沉，革虛牢實，形證皆異也。又按：《甲乙經》曰：渾渾革革，至如湧泉，病進而危；弊弊綽綽，其去如弦絕者死。謂脈來渾濁革變，急如湧泉，出而不反也。王貺以為溢脈，與此不同。</p>
<p>〔體狀主病詩〕革脈形如按鼓皮，芤弦相合脈寒虛。女人半產並崩漏，男子營虛或夢遺。</p>
<p>〔相類詩〕見芤、牢。</p>

<h1>牢（陰中陽）</h1>
<p>牢脈，似沉似伏，實大而長，微弦（《脈經》）。扁鵲曰：牢而長者，肝也。仲景曰：寒則牢堅，有牢固之象。沈氏曰：似沉似伏，牢之位也；實大弦長，牢之體也。《脈訣》不言形狀，但云尋之則無，按之則有。云脈入皮膚辨息難，又以牢為死脈，皆孟浪謬誤。</p>
<p>〔體狀相類詩〕弦長實大脈牢堅，牢位常居沉伏間。革脈芤弦自浮起，革虛牢實要詳看。</p>
<p>〔主病詩〕寒則牢堅里有餘，腹心寒痛木乘脾。疝㿗癥瘕何愁也，失血陰虛卻忌之。牢主寒實之病，木實則為痛。扁鵲云：軟為虛，牢為實。失血者，脈宜沉細，反浮大而牢者死，虛病見實脈也。《脈訣》言：骨間疼痛，氣居於表。池氏以為腎傳於脾，皆謬妄不經。</p>

<h1>濡（陰，即軟字）</h1>
<p>濡脈，極軟而浮細，如帛在水中，輕手相得，按之無有（《脈經》），如水上浮漚。帛浮水中，重手按之，隨手而及之象。《脈訣》言：按之似有舉還無，是微脈，非濡也。</p>
<p>〔體狀詩〕濡形浮細按須輕，水面浮綿力不禁。病後產中猶有藥，平人若見是無根。</p>
<p>〔相類詩〕浮而柔細知為濡，沉細諸柔作弱持。微則浮微如欲絕，細來沉細近於微。浮細如綿曰濡，沉細如綿曰弱，浮而極細如絕曰微，沉而極細不斷曰細。</p>
<p>〔主病詩〕濡為亡血陰虛病，髓海丹田暗已虧。汗雨夜來蒸入骨，血山崩倒濕侵脾。寸濡陽微自汗多，關中其奈氣虛何。尺傷精血虛寒甚，溫補真陰可起疴。濡主血虛之病，又為傷濕。</p>

<h1>弱（陰）</h1>
<p>弱脈，極軟而沉細，按之乃得，舉手無有（《脈經》）。弱乃濡之乾者。《脈訣》言：輕手乃得。黎氏譬如浮漚，皆是濡脈，非弱也。《素問》曰：脈弱以滑，是有胃氣。脈弱以澀，是謂久病。病後老弱見之順，平人少年見之逆。</p>
<p>〔體狀詩〕弱來無力按之柔，柔細而沉不見浮。陽陷入陰精血弱，白頭猶可少年愁。</p>
<p>〔相類詩〕見濡脈。</p>
<p>〔主病詩〕弱脈陰虛陽氣衰，惡寒發熱骨筋痿。多驚多汗精神減，益氣調營急早醫。寸弱陽虛病可知，關為胃弱與脾衰。欲求陽陷陰虛病，須把神門兩部推。弱主氣虛之病。仲景曰：陽陷入陰，故惡寒發熱。又云：弱主筋，沉主骨，陽浮陰弱，血虛筋急。柳氏曰：氣虛則脈弱，寸弱陽虛，尺弱陰虛，關弱胃虛。</p>

<h1>散（陰）</h1>
<p>散脈，大而散。有表無里（《脈經》），渙漫不收（崔氏），無統紀，無拘束，至數不齊，或來多去少，或去多來少。渙散不收，如楊花散漫之象（柳氏）。戴同父曰：心脈浮大而散，肺脈短澀而散，平脈也。心脈軟散，怔忡；肺脈軟散，汗出；肝脈軟散，溢飲；脾脈軟散，胻腫，病脈也。腎脈軟散，諸病脈代散，死脈也。《難經》曰：散脈獨見則危。柳氏曰：散為氣血俱虛，根本脫離之脈，產婦得之生，孕婦得之墮。</p>
<p>〔體狀詩〕散似楊花散漫飛，去來無定至難齊。產為生兆胎為墮，久病逢之不必醫。</p>
<p>〔相類詩〕散脈無拘散漫然，濡來浮細水中綿。浮而遲大為虛脈，芤脈中空有兩邊。</p>
<p>〔主病詩〕左寸怔忡右寸汗，溢飲左關應軟散。右關軟散胻腫，胕居兩尺魂應斷。</p>

<h1>細（陰）</h1>
<p>細脈，小於微而常有，細直而軟，若絲線之應指（《脈經》）。《素問》謂之小。王啟玄言如莠蓬，狀其柔細也。《脈訣》言：往來極微，是微反大於細矣，與《經》指背。</p>
<p>〔體狀詩〕細來累累細如絲，應指沉沉無絕期。春夏少年俱不利，秋冬老弱卻相宜。</p>
<p>〔相類詩〕見微、濡。</p>
<p>〔主病詩〕細脈縈縈血氣衰，諸虛勞損七情乖。若非濕氣侵腰腎，即是傷精汗泄來。寸細應知嘔吐頻，入關腹脹胃虛形。尺逢定是丹田冷，泄痢遺精號脫陰。《脈經》曰：細為血少氣衰。有此證則順，否則逆。故吐衄得沉細者生。憂勞過度者，脈亦細。</p>

<h1>伏（陰）</h1>
<p>伏脈，重按著骨，指下裁動（《脈經》）。脈行筋下（《刊誤》）。《脈訣》言：尋之似有，定息全無，殊為舛謬。</p>
<p>〔體狀詩〕伏脈推筋著骨尋，指間裁動隱然深。傷寒欲汗陽將解，厥逆臍疼證屬陰。</p>
<p>〔相類詩〕見沉脈。</p>
<p>〔主病詩〕伏為霍亂吐頻頻，腹痛多緣宿食停。蓄飲老痰成積聚，散寒溫里莫因循。食鬱胸中雙寸伏，欲吐不吐常兀兀。當關腹痛困沉沉，關後疝疼還破腹。傷寒，一手脈伏曰單伏，兩手脈伏曰雙伏，不可以陽證見陰為診。乃火邪內郁，不得發越，陽極似陰，故脈伏，必有大汗而解。正如久旱將雨，六合陰晦，雨後庶物皆蘇之義。又有夾陰傷寒，先有伏陰在內，外復感寒，陰盛陽衰，四脈厥逆，六脈沉伏，須投姜附及灸關元，脈乃復出也。若太谿、衝陽皆無脈者，必死。《脈訣》言：徐徐發汗。潔古以附子細辛麻黃湯主之，皆非也。劉元賓曰：伏脈不可發汗。</p>

<h1>動（陽）</h1>
<p>動乃數脈，見於關上下，無頭尾，如豆大，厥厥動搖。仲景曰：陰陽相搏名曰動，陽動則汗出，陰動則發熱，形冷惡寒，此三焦傷也。成無己曰：陰陽相搏，則虛者動，故陽虛則陽動，陰虛則陰動。龐安常曰：關前三分為陽，後三分為陰，關位半陰半陽，故動隨虛見。《脈訣》言：尋之似有，舉之還無，不離其處，不往不來，三關沉沉。含糊謬妄，殊非動脈。詹氏言其形鼓動如鉤、如毛者，尤謬。</p>
<p>〔體狀詩〕動脈搖搖數在關，無頭無尾豆形團。其原本是陰陽搏，虛者搖兮勝者安。</p>
<p>〔主病詩〕動脈專司痛與驚，汗因陽動熱因陰。或為泄痢拘攣病，男子亡精女子崩。仲景曰：動則為痛為驚。《素問》曰：陰虛陽搏，謂之崩。又曰：婦人手少陰脈動甚者，妊子也。</p>

<h1>促（陽）</h1>
<p>促脈，來去數，時一止復來（《脈經》）。如蹶之趣，徐疾不常（黎氏）。《脈經》但言數而止為促，《脈訣》乃云：並居寸口，不言時止者，謬矣。數止為促，緩止為結，何獨寸口哉！</p>
<p>〔體狀詩〕促脈數而時一止，此為陽極欲亡陰。三焦鬱火炎炎盛，進必無生退可生。</p>
<p>〔相類詩〕見代脈。</p>
<p>〔主病詩〕促脈惟將火病醫，其因有五細推之。時時喘咳皆痰積，或發狂斑與毒疽。促主陽盛之病。促、結之因，皆有氣、血、痰、飲、食五者之別。一有留滯，則脈必見止也。</p>

<h1>結（陰）</h1>
<p>結脈，往來緩，時一止復來（《脈經》）。《脈訣》言：或來或去，聚而卻還。與結無關。仲景有累累如循長竿曰陰結，藹藹如車蓋曰陽結。《脈經》又有如麻子動搖，旋引旋收，聚散不常者曰結，主死。此三脈，名同實異也。</p>
<p>〔體狀詩〕結脈緩而時一止，獨陰偏盛欲亡陽。浮為氣滯沉為積，汗下分明在主張。</p>
<p>〔相類詩〕見代脈。</p>
<p>〔主病詩〕結脈皆因氣血凝，老痰結滯苦沉吟。內生積聚外癰腫，疝瘕（假）為殃病屬陰。結主陰盛之病。越人曰：結甚則積甚，結微則氣微，浮結外有痛積，伏結內有積聚。</p>

<h1>代（陰）</h1>
<p>代脈，動而中止，不能自還，因而復動（仲景）。脈至還入尺，良久方來（吳氏）。脈一息五至，肺、心、脾、肝、腎五臟之氣，皆足五十動而一息，合大衍之數，謂之平脈。反此則止乃見焉，腎氣不能至，則四十動一止；肝氣不能至，則三十動一止。蓋一臟之氣衰，而他臟之氣代至也。《經》曰：代則氣衰。滑伯仁曰：若無病，羸瘦脈代者，危脈也。有病而氣血乍損，氣不能續者，只為病脈。傷寒心悸脈代者，復脈湯主之，妊娠脈代者。其胎百日。代之生死，不可不辨。</p>
<p>〔體狀詩〕動而中止不能還，復動因而作代看。病者得之猶可療，平人卻與壽相關。</p>
<p>〔相類詩〕數而時至名為促，緩止須將結脈呼。止不能回方是代，結生代死自殊塗。促、結之止無常數，或二動、三動，一止即來。代脈之止有常數，必依數而止，還入尺中，良久方來也。</p>
<p>〔主病詩〕代脈元因臟氣衰，腹痛泄痢下元虧。或為吐瀉中宮病，女子懷胎三月兮。《脈經》曰：代散者死。生泄及便膿血。五十不止身無病，數內有止皆知定。四十一止一臟絕，四年之後多亡命。三十一止即三年，二十一止二年應。十動一止一年殂，更觀氣色兼形證。兩動一止三四日，三四動止應六七。五六一止七八朝，次第推之自無失。戴同父曰：脈必滿五十動，出自《難經》；而《脈訣》五臟歌，皆以四十五動為準，乖於經旨。柳東陽曰：古以動數候脈，是吃緊語。須候五十動，乃知五臟缺失。今人指到腕臂，即云見了。夫五十動，豈彈指間事耶？故學者當診脈、問證、聽聲、觀色，斯備四珍而無失。</p>

<h1>四言舉要</h1>
<p>脈乃血派　氣血之先　血之隧道　氣息應焉　其象法地　血之府也　心之合也皮之部也　資始於腎　資生於胃　陽中之陰　本乎營衛　營者陰血　衛者陽氣　營行脈中　衛行脈外　脈不自行　隨氣而至　氣動脈應　陰陽之誼　氣如橐籥　血如波瀾　血脈氣息　上下循環　十二經中　皆有動脈　惟手太陰　寸口取決　此經屬肺　上系吭嗌　脈之大會　息之出入　一呼一吸　四至為息　日夜一萬　三千五百　一呼一吸　脈行六寸　日夜八百　十丈為準　初持脈時　令仰其掌　掌後高骨　是謂關上　關前為陽　關後為陰　陽寸陰尺　先後推尋　心肝居左　肺脾居右　腎與命門　居兩尺部　魂魄穀神　皆見寸口　左主司官　右主司府　左大順男　右大順女　本命扶命　男左女右　關前一分　人命之主　左為人迎　右為氣口　神門決斷　兩在關後　人無二脈　病死不愈　男女脈同　惟尺則異　陽弱陰盛　反此病至　脈有七診　曰浮中沉　上下左右　消息求尋　又有九候　舉按輕重　三部浮沉　各候五動　寸候胸上　關候膈下　尺候於臍　下至跟踝　左脈候左　右脈候右　病隨所在　不病者否　浮為心肺　沉為腎肝　脾胃中州　浮沉之間　心脈之浮　浮大而散　肺脈之浮　浮澀而短　肝脈之沉　沉而弦長　腎脈之沉　沉實而濡　脾胃屬土　脈宜和緩　命為相火　左寸同斷　春弦夏洪　秋毛冬石　四季和緩　是謂平脈　太過實強　病生於外　不及虛微　病生於內　春得秋脈　死在金日　五臟准此　推之不失　四時百病　胃氣為本　脈貴有神　不可不審　調停自氣　呼吸定息　四至五至　平和之則　三至為遲　遲則為冷　六至為數　數即熱證　轉遲轉冷　轉數轉熱　遲數既明　浮沉當別　浮沉遲數　辨內外因　外因於天　內因於人　天有陰陽　風雨晦冥　人喜怒憂　思悲恐驚　外因之浮　則為表證　沉里遲陰　數則陽盛　內因之浮　虛風所為　沉氣遲冷　數熱何疑　浮數表熱　沉數里熱　浮遲表虛　沉遲冷結　表裡陰陽　風氣冷熱　辨內外因　脈證參別　脈理浩繁　總括於四　既得提綱　引申觸類　浮脈法天　輕手可得　泛泛在上　如水漂木　有力洪大　來盛去悠　無力虛大　遲而且柔　虛甚則散　渙漫不收　有邊無中　其名曰芤　浮小為濡　綿浮水面　濡甚則微　不任尋按　沉脈法地　近於筋骨　深深在下　沉極為伏　有力為牢　實大弦長　牢甚則實　愊愊而強　無力為弱　柔小如綿　弱甚則細　如蛛絲然　遲脈屬陰　一息三至　小快於遲　緩不及四　二損一敗　病不可治　兩息奪精　脈已無氣　浮大虛散　或見芤革　浮小濡微　沉小細弱　遲細為澀　往來極難　易散一止　止而復還　結則來緩　止而復來　代則來緩　止不能回　數脈屬陽　六至一息　七疾八極　九至為脫　浮大者洪　沉大牢實　往來流利　是謂之滑　有力為緊　彈如轉索　數見寸口　有止為促　數見關中　動脈可候　厥厥動搖　狀如小豆　長則氣治　過於本位　長而端直　弦脈應指　短則氣病　不能滿部　不見於關　惟尺寸候　一脈一形　各有主病　數脈相兼　則見諸證　浮脈主表　里必不足　有力風熱　無力血弱　浮遲風虛　浮數風熱　浮緊風寒　浮緩風濕　浮虛傷暑　浮芤失血　浮洪虛火　浮微勞極　浮濡陰虛　浮散虛劇　浮弦痰飲　浮滑痰熱　沉脈主裡　主寒主積　有力痰食　無力氣鬱　沉遲虛寒　沉數熱伏　沉緊冷痛　沉緩水蓄　沉牢痼冷　沉實熱極　沉弱陰虛　沉細痹濕　沉弦飲痛　沉滑宿食　沉伏吐利　陰毒聚積　遲脈主臟　陽氣伏潛　有力為痛　無力虛寒　數脈主腑　主吐主狂　有力為熱　無力為瘡　滑脈主痰　或傷於食　下為蓄血　上為吐逆　澀脈少血　或中寒濕　反胃結腸　自汗厥逆　弦脈主飲　病屬膽肝　弦數多熱　弦遲多寒　浮弦支飲　沉弦懸痛　陽弦頭痛　陰弦腹痛　緊脈主寒　又主諸痛　浮緊表寒　沉緊里痛　長脈氣平　短脈氣病　細則氣少　大則病進　浮長風癇　沉短宿食　血虛脈虛　氣實脈實　洪脈為熱　其陰則虛　細脈為濕　其血則虛　緩大者風　緩細者濕　緩澀血少　緩滑內熱　濡小陰虛　弱小陽竭　陽竭惡寒　陰虛發熱　陽微惡寒　陰微發熱　男微虛損　女微瀉血　陽動汗出　陰動發熱　為痛與驚　崩中失血　虛寒相搏　其名為革　男子失精　女子失血　陽盛則促　肺癰陽毒　陰盛則結　疝瘕積鬱　代則氣衰　或泄膿血　傷寒心悸　女胎三月　脈之主病　有宜不宜　陰陽順逆　凶吉可推　中風浮緩　急實則忌　浮滑中痰　沉遲中氣　屍厥沉滑　卒不知人　入臟身冷　入腑身溫　風傷於衛　浮緩有汗　寒傷於營　浮緊無汗　暑傷於氣　脈虛身熱　濕傷於血　脈緩細澀　傷寒熱病　脈喜浮洪　沉微澀小　證反必凶　汗後脈靜　身涼則安　汗後脈躁　熱甚必難　陽病見陰　病必危殆　陰病見陽　雖困無害　上不至關　陰氣已絕　下不至關　陽氣已竭　代脈止歇　臟絕傾危　散脈無根　形損難醫　飲食內傷　氣口急滑　勞倦內傷　脾脈大弱　欲知是氣　下手脈沉　沉極則伏　澀弱久深　火鬱多沉　滑痰緊食　氣澀血芤　數火細濕　滑主多痰　弦主留飲　熱則滑數　寒則弦緊　浮滑兼風　沉滑兼氣　食傷短疾　濕留濡細　瘧脈自弦　弦數者熱　弦遲者寒　代散者折　泄瀉下痢　沉小滑弱　實大浮洪　發熱則惡　嘔吐反胃　浮滑者昌　弦數緊澀　結腸者亡　霍亂之候　脈代勿訝　厥逆遲微　是則可怕　咳嗽多浮　聚肺關胃　沉緊小危　浮濡易治　喘急息肩　浮滑者順　沉澀肢寒　散脈逆證　病熱有火　洪數可醫　沉微無火　無根者危　骨蒸發熱　脈數而虛　熱而澀小　必殞其軀　勞極諸虛　浮軟微弱　土敗雙弦　火炎急數　諸病失血　脈必見芤　緩小可喜　數大可憂　瘀血內蓄　卻宜牢大　沉小澀微　反成其害　遺精白濁　微澀而弱　火盛陰虛　芤濡洪數　三消之脈　浮大者生　細小微澀　形脫可驚　小便淋閟　鼻頭色黃　澀小無血　數大何妨　大便燥結　須分氣血　陽數而實　陰遲而澀　癲乃重陰　狂乃重陽　浮洪吉兆　沉急凶殃　癇脈宜虛　實急者惡　浮陽沉陰　滑痰數熱　喉痹之脈　數熱遲寒　纏喉走馬　微伏則難　諸風眩暈　有火有痰　左澀死血　右大虛看　頭痛多弦　浮風緊寒　熱洪濕細　緩滑厥痰　氣虛弦軟　血虛微澀　腎厥弦堅　真痛短澀　心腹之痛　其類有九　細遲從吉　浮大延久　疝氣弦急　積聚在裡　牢急者生　弱急者死　腰痛之脈　多沉而弦　兼浮者風　兼緊者寒　弦滑痰飲　濡細腎著　大乃腎虛　沉實閃肭　腳氣有四　遲寒數熱　浮滑者風　濡細者濕　痿病肺虛　脈多微緩　或澀或緊　或細或濡　風寒濕氣　合而為痹　浮澀而緊　三脈乃備　五疸實熱　脈必洪數　澀微屬虛　切忌發渴　脈得諸沉　責其有水　浮氣與風　沉石或里　沉數為陽　沉遲為陰　浮大出厄　虛小可驚　脹滿脈弦　土製於木　濕熱數洪　陰寒遲熱　浮為虛滿　緊則中實　浮大可治　虛小危極　五臟為積　六腑為聚　實強者生　沉細者死　中惡腹脹　緊細者生　脈若浮大　邪氣已深　癰疽浮散　惡寒發熱　若有痛處　癰疽所發　脈數發熱　而痛者陽　不數不熱　不疼陰瘡　未潰癰疽　不怕洪大　已潰癰疽　洪大可怕　肺癰已成　寸數而實　肺痿之形　數而無力　肺癰色白　脈宜短澀　不宜浮大　唾糊嘔血　腸癰實熱　滑數可知　數而不熱　關脈芤虛　微澀而緊　未膿當下　緊數膿成　切不可下　婦人之脈　以血為本　血旺易胎　氣旺難孕　少陰動甚　謂之有子　尺脈滑利　妊娠可喜　滑疾不散　胎必三月　但疾不散　五月可別　左疾為男　右疾為女　女腹如箕　男腹如釜　欲產之脈　其至離經　水下乃產　未下勿驚　新產之脈　緩滑為吉　實大弦牢　有證則逆　小兒之脈　七至為平　更察色證　與虎口紋　奇經八脈　其診又別　直上直下　浮則為督　牢則為沖　緊則任脈　寸左右彈　陽蹺可決　尺左右彈　陰蹺可別　關左右彈　帶脈當訣　尺外斜上　至寸陰維　尺內斜上　至寸陽維　督脈為病　脊強癲癇　任脈為病　七疝瘕堅　衝脈為病　逆氣裡急　帶主帶下　臍痛精失　陽維寒熱　目眩僵仆　陰維心痛　胸脅刺築　陽蹺為病　陽緩陰急　陰蹺為病　陰緩陽急　癲癇瘛瘲　寒熱恍惚　八脈脈證　各有所屬　平人無脈　移於外絡　兄位弟乘　陽谿列缺　病脈既明　吉凶當別　經脈之外　又有真脈　肝絕之脈　循刀責責　心絕之脈　轉豆躁疾　脾則雀啄　如屋之漏　如水之流　如杯之覆　肺絕如毛　無根蕭索　麻子動搖　浮波之合　腎脈將絕　至如省客　來如彈石　去如解索　命脈將絕　蝦游魚翔　至如湧泉　絕在膀胱　真脈既形　胃已無氣　參察色證　斷之以臆</p>
