<header data-type="book">
<h1>痙病與腦膜炎全書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉裁吾</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1935">公元1935年</data></dd></div>
</dl>
</header>

<h1>曾序</h1>
<p>劉君裁吾何為而作此書耶？則為糾正西醫之腦膜炎而作也。今年春，予以糾正腦膜炎之故，惹起西醫反攻，對壘兩三月，同人響應者，則有楊君貢軒、張君駐塵，爾時劉君歸里，未曾與於斯役也。</p>
<p>當其時春寒料峭、重裘未脫之時，腦膜炎之發生，不過為吾國舊有之時令病耳。西醫無端而張大其詞，以驚擾長沙市，數十萬人民不得安居，乃察其診察，錐人之腦，錐人之脊，取其汁而試驗之，使病輕者反重，病重者致死。而其治法，則僅恃其普通解毒之血清。至打預防針，只有幾分效驗，西醫龍君伯堅已明言之。其預防之法，如不入戲院、電影院，及避免疲勞等等，甚無謂也。若夫口鼻罩之阻塞空氣，妨礙衛生，人盡知之。而其隔離之說，幾如無形之瓜蔓抄，充其害必至如前清奉天防疫之慘劇，使人民一家骨肉，頃刻離散，甚有抬往焚化，而在中途痛哭呼冤者。今雖未至此，然投入湘雅醫院診治者，使之居四面受風之數層高樓，剝去厚暖衣被，當此春寒料峭、尚須重裘之時，即不病腦膜炎，欲其不死也得乎？予以此故，不惜大聲疾呼，遍告國人，豈好辨哉？實出於心之不忍耳。《湖南國民日報》主任壺公，亦不忍人民之張皇失措，而有混合中西醫學研究之披露。乃西醫不深加研究，而竟組織全體攻擊國醫，呶呶不休。於是長沙市各報社諸君子相繼而起，皆不忍人民之張皇失措，秉董狐之筆，直搗其黑幕。非特對於西醫之預防治法有所辨駁，即西醫所指為腦膜炎不治之症，經中醫治之而愈者，日有所聞；西醫所指為腦膜炎疑似可治之症，不經中醫治之竟死者，亦日有所聞。如馬家瓚鴒原志痛之作，則痛哭流涕以告訴國人者，國人既共見而共聞之矣。今序劉君書重述之，亦心之所不忍耳。桐岡老人，國中之碩彥宿儒也，作《中西醫平議》，維正道於無窮，豈有所左袒哉？毋亦本其不忍之心，見人民之張皇失措，無辜而遭此錐腦、錐脊之慘劫歟？</p>
<p>既而事寢，劉君還長沙，恨不得與於斯役也。乃伏案著書，未周年脫稿，丐予序。予再三莊誦。劉君以西醫之腦膜炎為國醫之痙病，其原因病症、治療方案，握犀利之筆鋒，闡未發之真諦，考正漢、唐、宋、元，折衷海內時賢，一層推深一層，一節透露一節。本一已三十餘年之經驗，悉數而歸諸實驗。醫者獲此，則有良師之可從；病者獲此，則有良藥之可治。天下後世，洵有所遵守矣，豈徒糾正西醫之腦膜炎哉？故腦膜炎之雙球菌，劉君既引西醫諸家之學說無確定之標準，不得據以為診斷；而其糾正西醫細菌之論，以為人生之分泌液或腐敗質，一經培養，自可生菌，況加以種種之脂肪，更無不生菌之理。精切確鑿，其為海潮之音乎？抑作獅子之吼乎？足以破天荒而驚鬼神矣！西醫細菌之學，自足破壞一切，而無形崩潰，苟非喪心病狂、受其麻醉者，無不豁然醒悟，豈徙糾正西醫腦膜炎之雙球菌哉？</p>
<p>劉君性孤高，寡交遊，品節學術，不求人知，人亦罕知。惟於予一見傾心，有最深之契合。予初有糾正西醫余岩醫學之作，而劉君編有《余氏醫學駁議》；今予有糾正西醫腦膜炎之作，而劉君有《痙病與腦膜炎全書》，氣求聲應，攻石斷金，古所稱雞鳴風雨之良朋，若劉君者近之矣。</p>
<p>予嘗謂中西醫之競爭，不畏西醫之學術，則以西醫之學術，易為明眼人窺破也；惟畏國醫受西醫之運動，移梁換柱，以圖消滅祖國之醫學，如以傷寒為傳染、傷暑為物理等等之類，不亟為糾正，其害幾與漢奸等。此予之所以慄慄危懼，而因序劉君之書，連類及之，腦膜炎之爭論，特其一部分耳。安得劉君盡為之糾止，大聲疾呼，以喚醒國醫及國內民族也哉！</p>
<p><u>民國二十四年夏曆仲冬雪山老納曾覺叟序於長沙市種福園勵德樹聲堂</u></p>

<h1>自序</h1>
<p>國醫之痙病，西醫之腦脊髓膜炎也。國醫以其病之現狀言之，故曰痙；西醫以其病之局部言之，故曰腦脊髓膜炎，今簡稱之為腦膜炎是也。使西醫而有治療方法，則此書何必作？潮流所迫，風向所趨，作之適以增世界之淘汰物，有識者所不為也。今西醫而無治療方法，則此書不忍以不作，不作則吾國醫籍上之特效靈方，將永遠而消滅矣。消滅之可，其如厥疾不瘳，死亡率者之多何？君子寧冒世界之不韙，而不肯任其心之所不安。今明知西醫無治療腦膜炎之方法，而國醫有治療腦膜炎之方法，不一舉手發揚而挽救之，非醫之善者矣。不善醫而安之為醫，滔滔者天下皆是，此國醫之所以無進化也歟！</p>
<p>雖然，國醫之無進化，歸咎於研究之不善，猶無足怪。獨怪西醫之科學化，一日千里，不可攀追，鎮江余岩氏，承無錫丁福保之胤，大聲疾呼，攻擊國醫無剩義處。謂西醫本之乎解剖，徵之乎實驗，範圍於自然科學之律令，審慎乎客觀唯物之現象，鉤隱燭幽，批隙導窾，此世界各國之所公認者。由是以觀，當可生死人而肉白骨矣。乃不意腦膜炎，為彼國傳染病九種之一，從實地徵其實績，則一病之莫瘳，不令人駭且疑乎。欽佩哉！西醫龍毓瑩之言曰：果是真腦膜炎，除打血清針外，決無他法可以治療（見民二四《湖南國民日報》副刊）。又欽佩哉！西醫陳致遠之言曰：本症治療，除早期注射血清外，其餘方法雖多，效驗殊少（見民二四·四·二《湖南國民日報》副刊）。更欽佩哉！西醫董樞之言曰：血清之效力，如果及早應用，並未發某種疾患者，十之八九，定能全愈（見民二四·三·二一《湖南國民日報》副刊）。則知已發某種疾患者，十之八九不能愈矣。嗚呼！彼國研究傳染病學，可謂至矣、盡矣，蔑以加矣。而其治療，自始至終，只有血清注射之一法。夫血清為普通解毒之藥，其效力不能直接撲殺雙球菌，有是病究無是藥，則與腦膜炎大症何濟？苟非三子肯以忠實告人，烏能洞悉其成績若是若是？</p>
<p>予於是不能不懷疑於德人率爾懷氏發明雙球菌為腦膜炎原因之非。英人格奧頓氏檢得菌有四種，非獨雙球菌也。美國貿孚血清廠檢得四種菌外，尚有十餘種之多，亦非獨雙球菌也。上海工部衛生局歷次報告，檢得菌無一次相同者，而雙球菌則杳渺無憑也。更查西醫微生學，雙球菌亦為淋病之原因。則知雙球菌不可以標準腦膜炎，即使為腦膜炎之標準，則雙球菌自鼻腔咽頭，循扁桃腺、淋巴腺，過血管，進入於腦。彼西醫者，當於鼻腔咽頭間迎頭痛擊，檢之以顯微鏡，施之以撲殺諸法，國醫所謂上工治未病也。若徒用紗布口鼻罩為預防傳染病之工作，則傳染病四季皆有之，不可一日無此君也。今獨使用於腦膜炎者，未免有顧此失彼之嘆，吾國四萬萬同胞，早已絕跡於中土矣，學者豈可無常識哉？況菌自鼻腔咽頭而入，最易識別。菌如杆者，吾知其為傷寒，固不是腦膜炎。菌如一個孤立，或兩個連結者，吾知其為感冒，亦不是腦膜炎。而腦膜炎之菌，其必雙球對峙，如豬腰子樣，躍躍跳動於鼻腔咽頭間，不必待其循扁桃腺、淋巴腺，過血管，進入於腦，齧腦及脊，吸驗脊髓之混濁，培養雙球菌而後知之也。若必吸驗脊髓之混濁，培養雙球菌而後知之，則雙球菌之自鼻腔咽頭而入者，杳渺無憑，可下確定之評判矣。況吸驗脊髓之混濁，必須培養，乃得有雙球菌之發現，此為人工製造之微生物，非自然界發生傳染病之微生物，何必以預防口鼻罩為？況吸驗脊髓之混濁，則為腦膜炎之劇烈者，乃得有此混濁之脊髓，苟不至於劇烈，而其脊髓必不混濁，在彼西醫，即不得謂之腦膜炎，烏能早期而施治？不能施治於早期，烏得而見自鼻腔咽頭進入於腦，其必為自然界發生傳染病之微生物也乎？</p>
<p>予於是又不能不懷疑於細菌培養基為傳染病之大黑幕也。余岩謂微生物有形有色，可目睹，可實驗，而非吾國之所謂鬼神者。設使自鼻腔咽頭而入，檢之以顯微鏡，即能分晰其病之種類。無待取病者之分泌物或腐敗質實驗於培養基與固形培養基，則英人巴特氏傳染病由於微生物之學說，光華燦爛，真如日月之經天，而不可磨滅也。乃竟不能分晰於鼻腔咽頭間，必欲取病者之分泌物或腐敗質，實驗於培養基與固形培養基。夫槁木死灰，得水和空氣與溫度，亦能發生微生物，而人身血肉之軀，無病尚生蟣蝨。況有病而取其分泌物與腐敗質，於白膠、牛乳、淡菜等等培養基與固形培養基，其不發生微生物也得乎？顧培養基發生微生物，彼西醫猶嫌其菌之混居雜處，不能分晰其病之種類。再以含菌之物，經過固形培養基，不致混居雜處，而後能分別其病之種類，輾轉製造，乃得有此菌發生，才能認識。而腦膜炎初起，何以即謂自雙球菌傳染而致？其能下確定之批判矣乎？不能也。謂予不信，請讀汪企張之《急性傳染病學》，更瞭然矣。他不具論，論其今日西醫謂傷寒、感冒，最易混入腦膜炎者，約略辨之。蓋汪企張之論傷寒為桿菌也，則以傷寒凝集之血清，混合培養之菌，或直以病者之血清，試驗培養之菌。顯微鏡再三檢查之不明，但觀其凝集與否，凝集者為陽性，否則為陰性。又以凝集之力甚微弱者，為異性傷寒或副傷寒。吾不知凝集至若干成分為力強，凝集至若干成分為力弱；又不解陰性傷寒，即是凝集之力弱者乎？若據汪氏所說，則陽性傷寒、陰性傷寒與異性傷寒及副傷寒，皆無確定之桿菌，吾不知何以分晰其傷寒種類。況傷寒而果有桿菌，則凝集之血清有此菌，何必而混合培養之菌？病者之血清有此菌，何必而試驗培養之菌？足見培養細菌，為傳染病之大黑幕，此其一證。其論流行性感冒，為一個孤立或兩個連結菌也，則與腦膜炎之雙球菌迥然不同。今以感冒而可續發性腦膜炎，其以一個孤立而可變作雙球菌乎？抑以兩個連結而可變作雙球菌乎？苟非從病者身體上之化學成分而變作之，則當鼻腔咽頭傳染之時，或一時並進，或先後續至。例以客觀唯物之現象，何從而諦審之？可見培養細菌，為傳染病之大黑幕，此又一證。以故腦脊髓膜炎之為病，不從症候上求認識，而欲從細菌上求認識，膠柱鼓瑟，刻舟求劍，無怪乎百治百死，千治千死，萬治萬死，莫之一回生也。彼西醫者，曷不悚然懼、怵然返乎！</p>
<p>然則國醫痙病之原因安在？在乎時令已。人在氣交中，息息與之相通，平常則為生理，失常則為病理。譬如同一自動機，完好而能行駛者此機，破壞而不能行駛者亦此機也。今西醫必歸諸微生物之刺激，是病理與生理，判然兩途，不能同條共貫。若深造焉，則知夏暑不能裘，而裘者病；冬寒不能葛，而葛者病，此科學自然之律令，曾無微生物刺激其間者。西醫誠由是深造，終必有進乎國醫之一日。況西人亦既知人為自然界之物質矣，而科學萬能，惟人不能製造。不能製造其人，則病理當於生理中求之。病之寒、熱、虛、實，其關鍵系乎生理。猶人之智、愚、賢、不肖，其關鍵系乎性靈。律以科學之自然，斷無更出此自然者。今捨生理而求病理，舍病理而求細菌，不揣其本而齊其末，是使方寸之木高於岑樓也，可乎哉？</p>
<p>是故痙病為冬末春初之一大時令病也。予承祖父六代之薪傳，行醫三十餘年，診痙病十有一屆，往往見於冬之溫而行春令，春之寒而行冬令。初之暴發，則必於冬末春初之交，雷震痙作，驟雪痙更作。昨歲乾旱，隆冬不雪，今歲淫雨，夏至不熱，民二四之除歲先期雷震，西醫之腦脊髓膜炎，適開長沙市之新紀元也。現在衛生行政，省府不惜撥區款而防疫；西醫組織聯合辦事處，專司其事，開湘雅醫院四層樓以納病者，一面宣傳預防，學校令其停課，戲院禁其勿入。社會人士，相驚伯有，惴惴然如洪水猛獸之驟至。事寢，長沙市五十餘萬之眾，統計得病者百十有八人，傳染病曾若是乎？然亦不敢武斷決無傳染性質，但較之國醫療治常年痙病，毫無異同，恨無紀錄可質證耳。又《湖南國民日報》熱心服務社會，欲以腦膜炎常識灌輸國人腦中，混合中西醫學而研究之。乃西醫謂今春病含性質三種，竟詆國醫以魚目混珠，不能辨傷寒、感冒，況能辨腦膜炎為痙病者乎。然長沙市國醫機關林立，露冷寒蟬，噤不發聲，獨衡陽曾公覺叟，握管辨論，達數十紙。予省修先父墓，一再之鄉，遲遲乃返，作《痙病與腦膜炎平議》，投《湖南國民日報》。適值截止，予無以感主筆壺公也，不能假一日之登載。於是整修其文，裁成步驟，作為此書。一曰正名，二曰溯源，三曰原因，四曰辨症，五曰類別，六曰病理，七曰診斷，八曰治療，九曰詮方，十曰驗案。總以西醫近數十年發明之腦脊髓膜炎，為國醫五千年前舊有之痙病。稽諸皇古往哲，參諸海內時賢，而以三十餘年之經驗，診痙病十有一屆之艱苦備嚐，寫之於字行間。書成，顏曰《痙病與腦膜炎全書》，藉以為長沙市腦膜炎之新紀錄云。</p>
<p>嗟嗟！老夫耄矣，無能為也。但願學國醫者，欲存國醫，不可不知西醫；不知西醫，何知西醫之粗疏？尤願我國人而學西醫者，亦當研究國醫，勿徒攻擊國醫；不知國醫，何知國醫之精深？幸勿為余岩氏非驢非馬、不中不西之狂說所止。試思我中華而國而家而身，無一而不是不中不西、非驢非馬也哉！予之作此書也，非獨不忍見吾同胞於水深火熱之餘，復遭腦膜炎之慘禍，不一伸手發揚國醫之特效靈方而挽救之也。亦以國醫之痙病與西醫之腦脊髓膜炎比較並出，孰精孰粗，孰優孰劣，使吾國人讀之，自有上下高低之評判，若以為抵抗西醫、攻擊西醫，豈知我哉？弗較也矣！</p>
<p><u>民國二十四年五月湘鄉薖叟劉裁吾自序於長沙市西湖路西湖醫社</u></p>

<h1>例言</h1>
<p>一　此書宗旨，全在闡揚國醫之痙病，而以西醫之腦脊髓膜炎比較出之，使閱者一目瞭然，判別中西醫學之優劣。庶幾對於國醫痙病自有把握，而後診斷治療不為西醫所眩惑，故此書名曰《痙病與腦膜炎》。</p>
<p>一此書分為十篇，一正名，二溯源，三原因，四辨症，五類別，六病理，七診斷，八治療，九詮方，十驗案。一篇演進一篇，一層推深一層，務使國醫痙病之原理，完全發明於此，不遺缺恨，故此書名曰《全書》。</p>
<p>一　西醫腦脊髓膜炎，近年輸入吾國，海內名賢各有論說，見於醫報、雜誌。嘉定沈朗清，收編為《腦膜炎新書》。寧海嚴蒼山，分疫痙為寒、熱兩門療法，編有《腦膜炎家庭自療集》。是書將各家所有精華，一併採入，加以發明，折衷一是，俾此書辨晰精確，治療妥當，庶免疏漏之弊。</p>
<p>一　國醫痙病，漢張仲景發明主要症狀，載諸《金匱》，例以西醫之腦脊髓膜炎，不能外是。然唐宋以來，不混合於癇病，即誤認為驚風，而痙病之廬山面目遂淹。故是書第九篇詮方下，其治癇驚或他病者，冠以「原治主症」；其專治痙病者，冠以「特治主症」，以資分別。</p>
<p>一　國醫痙病，不得以傷寒法治之，亦不可以溫病法治之。然傷寒、溫病之壞症，及其他種種，均有類似痙病，詳辨於第五篇類別。惟此病灶在督，而國醫六經，督不在內，故治太陽，可以治督；治厥陰，亦可以治督。故於第九篇詮方，分作甲、乙兩門，甲則為宣發太陽之劑，凡屬治太陽之方類焉；乙則為開泄厥陰之劑，凡屬治厥陰之方類焉。</p>
<p>一　國醫痙病，此書雖分最急性、亞急性、續發性三種，究皆為暴病，較諸普通病，症狀稍呈險惡，要非不治之症。而西醫謂非豫期注射，別無治法，此西醫治療之黑幕，未經海內揭破者。故此書辨駁西醫治療之處，痛斥其非，未免言之過激，有識者幸勿咎焉。</p>
<p>一　國醫痙病，古今絕少驗案，近見醫報、雜誌間有編入者，似與春季流行之痙病治未吻合。予業醫卅餘年，前此十屆，診治痙病，頗有經驗，悉錄入《編症自鏡》，惜無存者。今春僅診痙病十有一人，獲愈者十焉。故此書第十篇所載驗案，惟此十案而已，他未之及也。</p>
<p>一　國醫古籍，予家頗有藏收，乃旋省之第四年歸里，率被鼠齧蟻蝕，付之一炬。故此書引載古籍，大半出自記憶，絕少參考原本，或有自他籍抄來者，魯魚亥豕，在所不免，閱者諒之。</p>

<h1>第一篇　正名</h1>
<p>國醫之痙病，西醫之腦脊髓膜炎也，國醫以其病之形狀言之，故曰痙；西醫以其病之局部言之，故曰腦脊髓膜炎，今簡稱之為腦膜炎是也。然國醫之痙病，在國醫古籍上，有稱之為痓者，不可不為之辨論，以正痙病之名稱焉。</p>
<p>《內經·五常政大論》：火曰赫曦。赫曦之紀，其病痓。《厥論》：手陽明、太陽厥逆，發喉痹、嗌腫、痓。《氣厥論》：肺移熱於腎，傳為柔痓。是痓之為病，《內經》只有名稱而無症狀，故其痓，迄莫知為何病耳。若痙之為病，《內經》非特有其名稱，而亦詳其症狀。其在《六元正紀大論》，有曰：太陽所至為痙；其在《至真要大論》，有曰：諸痙項強，皆屬於濕；其在《熱病論》，有曰：熱而痙者死，腰折、瘛瘲、齘齒也。綜此以觀，則《內經》之論痓與痙，顯有分辨，不可混合如此。</p>
<p>《傷寒》、《金匱》二書，同為張仲景一人之所手出，然《傷寒》言痓不言痙，《金匱》言痙不言痓，則仲景之論痓與痙，似無甚分別。故《傷寒論》曰：結胸者項亦強，如柔狀。是項強一症，《內經》屬之痙，而此則屬之痓也。又曰：病身熱足寒，頸項強急，惡寒，時面赤目赤，獨頭面搖，卒口噤，背反張者，痓病也。此非但項強屬之痓，而頭搖、口噤、背反，亦屬之痓。《金匱》引申《傷寒》原文六條而倍增之，統計一十二條，惟此條略為更改，竟皆稱之為痙。是《傷寒》之痓，都變作《金匱》之痙矣。然則仲景之論痓與痙，在《傷寒》、《金匱》，一而二，二而一，不其無甚分別矣乎。</p>
<p>《千金》、《外臺》，遵《傷寒》而不遵《金匱》，只稱之為痓。朱奉議亦然，謂剛痓屬陽、柔痓屬陰，亦稱之為痓。惟成無己注傷寒論，則引《金匱》之痙，而改《傷寒》之痓。後人信仰無己，遂以為是，自是隻有《金匱》之痙，而無《傷寒》之痓矣。若夫《內經》之痓，更無人道及之者。垂千餘年，未敢或非。方有執專論痙病，謂痓系傳寫之誤。喻嘉言起而和之，亦謂痓系傳寫之誤。縱喻氏反對叔和、林億，罪無己有逢君之惡，未嘗以無己改痓為痙非之。近世時賢輩出，好學深思，回溯古籍，意欲分別痓之與痙，各有所得，悉錄而辨之如下。</p>
<p>汕頭蔡百星，謂痓為病之名，痙為病之症。傷寒有痓，諸風有痓。仲景書中，剛痓正病，如太陽病發熱無汗反惡寒者是；柔痓正病，如太陽病發熱汗出而不惡寒者是。故痓中亦有痙、不痙，痓輕而痙重，痓而兼痙尤重。究以何者為痙病，則以經脈與筋強直、角弓反張是也。夫經脈與筋強直，似合西醫之腦脊髓膜炎。故西醫之腦脊髓膜炎，謂之痙病則可，謂之痓病則不可耳。</p>
<p>東平劉寅，謂痙病以時發，痓病不以時發。此論尤確切。西醫之腦脊髓膜炎，為春季流行之病，然春季流行之腦脊髓膜炎，則以頸項強、背反張為主症，國醫謂之痙病宜也。若流行於夏、秋、冬，是不以時發者，其症狀即酷似痙病，未必以頸項強、背反張為固定之主症，謂之痓病亦屬無妨，但不可以語春季流行之腦脊髓膜炎耳。</p>
<p>無錫陳無咎，謂痓似盲腸炎，而痙近腦膜炎。則以痓與痙分為兩病，不可相題並論。蓋謂痓者窒也，不但盲腸炎盲腸窒塞為痙，即其他肝回管、大腸管栓塞亦為痓。與痙病從督上犯顯有不同。此誠發人所未發。陳氏學通中西，對於吾國古籍，不無會悟之處，但謂《傷寒》脫一痙字，《金匱》脫一痓字，未必確切仲景之旨。讀古人書，當統全部論之。觀仲景自序，稱其書為《傷寒雜病論》。蓋備論四季時令諸病，而雜病即寓乎其中。《傷寒》言痓，《金匱》言痙，兩書症狀，毫無異同，脫從何來。況以痙、濕、痓三綱鼎峙，合編於傷寒之末，以見濕、痓與傷寒各以時發，而痙獨發於春季時令，適合西醫之腦脊髓膜炎，為春季流行之病。即此一症，足以證明仲景備論四季時令諸病也。若夫盲腸炎，為四時俱有之病，風、寒、濕、痓及其他種原因，皆能致之，近世所謂似痢非痢，以及酒痢、煙痢等等皆是，不得與痙病並論也。至陳氏以窒塞與栓塞解釋痓字，似與痙病有別，尤非通論。盲腸炎，盲腸窒塞固為痓，血管栓塞亦為痓，曷思痙病，亦何嘗非腸腑窒塞與夫血管栓塞哉。隋唐以下，痙混於癇。《千金》以小兒飽食過度即能成癇，豈非腸腑窒塞之明證。宋元以下，痙誤驚風，陳飛霞謂堵塞脾之大絡所致，豈非血管栓塞之明證。以此而論，痓與痙，有何咫尺千里之辨哉。</p>
<p>總之，痓與痙之字義，互相貫通，無甚分別。痓，充至切。《爾雅》：惡也。《集韻》：風病。《正字通》：痓症有五，引《難經》脊強而厥，與《金匱》卒口噤、背反張為證，與痙無別也。痙，奇頸切。《說文》：強急也，引《內經》諸痙項強皆屬於濕與方書頸項強急為證，與痓無別也。漢、晉、隋、唐史志，雖列痓與痙之症狀略有出入，而察其病理毫無差異。時代遞遷，名詞更易，魯魚亥豕，尤多錯訛。方有執，喻嘉言謂痓系傳寫之誤，此語予極佩服。即如今日華譯之腦脊髓膜炎，初譯之為腦脊髓熱症，再譯之為腦衣炎熱症，又譯之為腦脊髓熱症，至是乃定為腦脊髓膜炎，簡稱之為腦膜炎者。不足見國醫之痓病，即國醫之痙病，後之學者，其以國醫正名之痙病，為西醫之腦脊髓膜炎也歟。</p>

<h1>第二篇　溯源</h1>
<p>國醫之痙病，發源最早，而西醫之腦脊髓膜炎，曰腦曰脊，一膜貫通，一髓流行，要皆概括於國醫痙病之內，非西醫所能發明也。考吾國古籍，發明痙之病灶者，莫如黃帝、岐伯、扁鵲、仲景諸人。《素問·至真要大論》：諸痙項強，皆屬於濕。夫項上通於腦，下通於腎，則腦脊髓膜炎之病灶，在腦在脊，項安得而不為之強乎？《靈樞·熱病論》：熱而痙者死。腰折、瘛瘲、齘齒也。夫腦脊髓膜炎，齘齒為常有之症，而瘛瘲間亦有之，惟腰在脊之中部，則腦脊髓膜炎往往自大椎至薦骨發生疼痛，腰安得而不為之折乎？足見西醫之腦脊髓膜炎，為國醫之痙病，此其明證。然西醫以腦為人身最高機關，分大腦、小腦、延髓，而脊髓在脊柱骨之管內，上端連接延髓，下端直至尾閭，國醫則以整個督脈統之。故西醫之腦脊髓膜炎，為國醫督脈發生之痙病。《素問·骨空論》：督脈為病，脊強而厥。《靈樞·經脈篇》：督脈實，則脊強反折；虛，即頭重高搖。《難經》：督脈為病，脊強而厥。《傷寒論》：督脈為病，背脊強，隱隱痛。稽之吾國古籍，則西醫之腦脊髓膜炎為國醫督脈發生之痙病，歷歷足徵已。</p>
<p>若由痙之病灶，而發明痙之症狀者，中外古今，惟仲景一人而已。仲景之《金匱》有曰：病者身熱足寒，頸項強急，惡寒，時頭熱，面赤目赤，獨頭動搖，背反張，卒口噤者，此痙病也。此三十四字，仲景一字一訣，把今日之腦脊髓膜炎和盤托出，可謂金針度人矣。中外醫界，當如何敬祝瓣香也。但卒口噤，為痙病之整個症候，然在突起痙病，則無有不卒然口噤者。夫卒口噤，而頭獨動搖，頭熱、面赤、目赤，接踵而至。口不噤，則頭不搖，頭不搖，則頭未必熱，面目即未必赤矣。若初起有前驅症候，頭痛發熱，嘔吐噁心，而後發生痙病，則口不噤者多。若初發他病，而續發痙病，則口噤者絕少焉。至於頸項強急，背反張，則為腦脊髓膜炎之主要症狀。若頸項不強急，背不反張，即不得謂之腦脊髓膜炎，此西醫所知也。而卒口噤，頭獨動搖，時頭熱，面赤目赤，為今日腦脊髓膜炎之特異症狀，則為西醫所不知。何者？西醫病理學，從解剖得來，此種特異症狀，從何處解剖哉。試細察仲景卒口噤之卒字，而口不常噤可知；其頭獨動搖之獨字，而一身四肢不動搖可知；其時頭熱、面赤、目赤之時字，而有時頭不熱，面目不赤可知。此為國醫督脈發生之症狀，即為西醫腦髓神經、脊髓神經發生之症狀。西醫只知神經之形質，在腦與脊；而潮紅、灼熱、腫脹、疼痛，謂之發炎，而不知神經之形能，發生卒口噤，頭獨動搖，時頭熱，面赤目赤，為解剖所不能得之病理。況國醫督脈，統制蹺、維諸經，即是腦與脊髓發生之神經。蹺、維諸經，發生羊鳴、僵仆等等症狀，為國醫痙病所常見之症狀，亦為西醫解剖所不能得之病理。此皆西醫病理學之根本錯誤處，故其治腦脊髓膜炎也，不憑症候，只憑雙球菌，而孰知其雙球菌為不可憑者哉。</p>
<p>雖然此種特異症狀，固為西醫解剖所不能知，而國醫自仲景以後，知之者亦少真象。如巢元方之《病源》，知有痙病，而混於厥、癇。孫思邈之《千金方》，亦知痙病，而混於風癇、食癇、驚癇之內，不立痙論。此外王燾之《外臺秘要》、許叔微之《本事方》、陳無擇之《三因方》，以及《聖濟總錄》、《和劑局方》，不以痙混於癲、癇、厥，即誤認為驚風。究之癲、癇、厥，有不可以相混者，類別於第四篇，皆與仲景痙病之症狀相隔甚遠。若驚風，則鑄成九州之大錯。錢仲陽醫學浩瀚，為一代兒科聖手，猶不免焉。甚矣！醫學之難言也。劉河間、朱丹溪、《赤水玄珠》，間亦論及痙病，亦不以痙為獨立之門戶，仍與厥、癲、驚、癇，無甚分別，而痙病之真面目，何由而得見國人乎？若王海藏論痙，知遵仲景，而以項強、背反，屬之太陽；低頭視下、手足牽引、肘膝相搆，屬之陽明；一目或左或右，一手一足搐搦，屬之少陽；手足厥逆，筋脈拘急，統屬於太陰。此是三陽及太陽能寒之類似痙症，要未得仲景論痙之旨，與西醫之腦脊髓膜炎不相符合。喻嘉言謂痙者強也，亦知遵仲景，而以太陽之項強背反、不能仰者，指為太陽之痙，以賅三陽；以少陰之身𤸼足曲、不能俯者，指為太陰之痙，以賅三陰。此是三陽三陰傷寒之類似痙症，亦未得仲景論痙之旨，與西醫之腦脊髓膜炎不相符合。此皆由於診斷之不確，歷驗之不深也。方有執遭家庭之變故，痛膝下兒女之死於是者，哭泣之餘，辨論滔滔，極斥抽掣搐搦為驚風之非，迄今讀其遺書，則方氏對於仲景論痙之旨，亦未見引而不發，躍躍紙上。何況今之醫者，不三折肱、九折臂，烏能循其當然而知其所以然哉。</p>
<p>然則腦脊髓膜炎之為吾國痙病者，孰為之開始乎？蓋自滬上諸醫，開會研究，定名為疫痙始也。秦氏伯未折之以片言曰：項強背反為痙，蔓延傳染為疫。痙病不傳染，傳染者乃疫痙耳。嚴氏蒼山又從而晰之曰：今之痙病，與普通痙病不同，沿門合境，大小相似，可謂之疫氣痙病。是皆言病，不得為傳染之病。必須沿門合境，無間老幼，互相傳染，乃為疫痙。不然，雖百里千里之遙，同時響應，然不沿門遍戶，無間老幼，究系時令上之氣候所致，只可名之為痙，不可名之為疫耳。</p>
<p>近來中央國醫館統一病名表內，歷舉國醫之厥、癇、驚風，註釋於腦膜炎下，而痙之名義又失矣。國醫館意欲名之為痙，則恐破傷風、瘛狗咬以及產後鬱冒、小兒急驚相濫，而不知混於腦神經性者，豈獨國醫痙病也哉。其在病名表內科統一書中，有化膿性腦膜炎、結核性腦膜炎者，其相濫為何如也。況西醫他籍之腦膜炎尤為不少，有自外器官來者，如耳性腦膜炎、鼻性腦膜炎等等；有自內臟器出者，如肺膿性腦膜炎、肝膿性腦膜炎等等，其相濫又何如也。今日整理國醫，不於診斷歷驗上，確察其症候，能否合於中外古今之病理，而後標準其病名，欲求其統一得乎。此痙病之源流大概如此。</p>

<h1>第三篇　原因</h1>
<p>痙者，春季之時令病也。其原因由於冬之溫、春之寒，不有冬之溫，則無火熱之內伏，不有春之寒，則無寒冷之外閉，曷能卒然口噤頭搖，而項強、背反乎？西醫謂腦脊髓膜炎為春季流行之病。其原因由於雙球菌，春令愈寒，則雙球菌之繁殖愈劇。不思自然科學之律令，天氣寒冷成冰，凍死動、植物，凍死微生物，而雙球菌何能獨立存在哉，此不足為腦脊髓膜炎之原因，可為鐵案。</p>
<p>國醫往哲張仲景，論傷寒，而殿之以痙、濕、暍者，蓋備論四季時令諸病，故以痙為春季之病，而與濕、暍及傷寒發之於夏、秋、冬，同為一例。《金匱》引申《傷寒》，而以痙、濕、暍三種合篇，亦此意也。後世注家，有謂濕、暍為痙之原因，然則痙無獨立主權，何能與之並立哉。蓋不知濕、暍之發痙，則為痙之變症，或為痙之類症，而痙之主病，則專司春季時令，試觀今日西醫之腦脊髓膜炎，可以恍然大悟矣。</p>
<p>歲序遞更，寒暑往來，氣之有盈有虧，時之或先或後，春溫、夏暑、秋燥、冬寒，四季時令，未必循序漸進，而不無先後差異之變者。《金匱》從冬至夜半後起甲子而推算之，謂有時未至而氣先至者，有時已至而氣不至者，有時已至而氣不去者，有時至而氣太過者。如冬令過暖而行春令，是時已至而氣不至也；如春令過寒而行冬令，是時已至而氣不去也。否泰剝復，天地常理。餘業醫三十餘年，診痙病十有一屆，類皆隆冬不雪，氣候過暖，春令嚴寒，氣候不溫。當痙病爆發之際，春未至而雷震則痙作，冬將殘而驟雪則痙亦作；春寒彌厲，痙病彌劇；迨春分氣候漸暖，痙少殺；至夏氣候大熱，痙遂止。於此可概想其痙病之原因焉。</p>
<p>雖然，痙病之由於冬溫春寒，人猶易知，而溫乃六氣之火化，自古至今，少有人道，較難知之（予於民二三年，供職湖南國醫專校，教授病理學，新編風寒暑濕燥火為六氣致病之原理。岳陽吳漢仙編入《中西病理合參》中，對於燥火，獨有發明。茲節錄火字如下，以供學者之參考焉）。火者熱化之作用，消化物質，紅而有焰，黑而有垢，絕端與暑不同，證以今日之科學瞭然矣。天文家，稱空氣氧、氮、氫幾種元素混合，成為氣體物質。空氣充滿宇宙，無處不到，氧氣能助燃燒，亦無處不到，與《內經》（風寒在下，燥氣在上，濕氣在中，火遊行於其間）火主遊行之說相合。又地球未成立以前，只此幾十種元素之氣體，旋轉渦中，由氣體凝成體質。如太陽一團火溶液者然，再由火溶液凝成固體而為地殼，與《內經》（燥勝則地干，暑勝則地熱，風勝貝地動，濕勝則地泥，火勝則地固）火勝地固之說相合。又太陽之體質，屬火溶液，為一極大火球，能發烈強光輝，地球繞日而行，布滿空間溫度，陰晦風雨，溫度低降，與《內經》（燥以干之，暑以蒸之，風以動之，濕以潤之，寒以堅之，火以溫之）火以溫之之說相合。然太陽之熱，在天空中，為火之極大且烈者，而在六氣中，何以為暑？蓋夏月太陽可畏，冬月太陽可愛，則以距離之遠近分愛惡耳。故夏月太陽近而發生火病，西病華譯為日射病者，正以其暑病為太陽光線所射耳。若秋、冬、春，太陽遠而發生火病，何能歸咎於太陽哉。此空氣中，所以既有暑，又有火也。況太陽行北陸則寒，行南陸則熱，太陽有一定之行度，寒暑自有一定之差率，秋、冬、春何能有太陽之為病哉。然亦未嘗與太陽無涉也，則是天空之火，地球之火，得緣太陽光線以發其熱力。秋應涼而反溫，冬應寒而反溫，春應溫而過溫，雖太陽光線距離已遠，不得正射赤道，然不緣太陽光線以發其熱力，則為陰晦風雨之日，火病何由而致哉。故火之為病，則是天空之火，地球之火，得緣太陽光線以發其熱力耳。故人只知風寒之所由來，而不知溫熱之所由來；只知溫熱為火之病，而不知火為溫熱之所以然。此痙病之火伏於內，而寒閉於外，所以為終古長夜也歟。</p>
<p>蓋人在氣交中，呼吸吐納，陰陽開闔，關鍵全繫於四時之氣候。冬至陽交初生，春半升，夏大升，升極而降；夏至陰生，陽遂降矣。降於秋者半，降於冬者亦半。今以冬之溫而反升，春之寒而反降，是升降失其職矣。故冬溫而行春令，春未至而雷震，則痙作；春寒而行冬令，冬將殘而驟雪，則痙亦作。人身厥陰主闔，應乎冬令，冬溫內並，則厥陰欲闔而不能；太陽主開，應乎春令，春寒外閉，則太陽欲開而不能，其不奔注督脈，發為痙病也得乎？諸喻之以物理學，取炭爐、火盆燃燒於秘密房室中，則溫度上升？然不得房室之秘密，則溫度照常放散，何能上升。故炭爐、火盆之燃燒，猶厥陰之熱內並也；而房室之秘密，猶太陽之寒外閉也。又喻之以化學，取冰冷、強酸諸藥，混合於冷水玻璃盆中，則熱氣外發，然不得玻璃之收貯，則熱氣不被逼壓，何能外發。故強酸諸藥之混合，猶厥陰之熱內並也；而玻璃之收貯，猶太陽之寒外壓也。況以冬月之溫，比之炭爐、火盆過之，冬溫為大自然界物理之刺激，而混合人身之化學成分，比之強酸諸藥又過之。以故人身在內之熱主澎漲，而在外之寒主收縮，所以發為痙病也。雷震痙作者，厥陰內伏之熱，被其衝動而上升也；雨雪痙作者，太陽外閉之寒，被其壓迫外閉也。迨過春至夏，氣候上之寒冷退，而太陽無外閉之寒，氣候上之溫暖進，而厥陰無內伏之熱。斯時也，欲求其痙，不可得也。</p>
<p>然西醫既知人為自然界之動物，而不以自然界之氣候為疾病之主人翁，反欲假自然界之微生物為疾病之主人翁。既以自然界之微生物為疾病之主人翁，而又欲假動物為之媒介，如瘧疾之由於蚊，霍亂之由於蠅，鼠疫之由於鼠，而腦膜炎何獨無物以介紹雙球菌哉。此西醫之生理不能貫通病理，有令人萬難通曉者。至腦膜炎之雙球菌抵抗熱之能力輕，抵抗寒之能力強，則是雙球菌之能力，隨氣候之寒熱，分抵抗之強弱，姑勿論與自然之科學寒冷凍死植物、微生諸物不相符合，而雙球菌之能力，尚欲隨氣候之寒熱，以為抵抗之強弱，可以人而不隨氣候以為轉移乎。是則西醫遊於吾國之六氣之病理學中而不自覺也，彼西醫者，易不姑舍汝所學而從我哉。</p>

<h1>第四篇　辨症</h1>
<p>國醫之痙病，憑諸症候，當其病之初起，一見而知痙病之發生。西醫之腦脊髓膜炎，不憑症候，只憑細菌，必至結果抽驗脊髓、培養細菌而後知之。試將國醫痙病之症候辨別而論列之，乃知西醫細菌之學，無足憑也。</p>
<p>然欲辨國醫痙病於今日能統轄西醫之腦脊髓膜炎者，初起時代，各有不同，未可概論，約略言之，分為三種，一曰最急性痙病，二曰亞急性痙病，三曰續發性痙病，而痙病之症狀，無遁形焉。</p>
<p>胡為最急性痙病也？初起寒戰口噤，昏僕於地，旋即斃者。其痙病之成立與否，尚未可知。若初起時期卒然發痙，不即斃者，頭之溫度最高，足之溫度最低，此病者自知之，他人不得而知之，必於痙罷之後，可詢病人而知之也。試問今日之患最急性腦脊髓膜炎者，有此頭熱足寒之先兆否。況頭之溫度不高，則人身之水液、血質不能充滿於腦，貫注於背，必不能灼熱、潮紅、腫脹、疼痛而發炎，此無須乎解剖而可推測者。至口噤一症，更可從生理而證明其病理。口不噤，則呼吸氣管不能收縮，而其水液、血質亦不能充滿於腦，貫注於背，烏能巔頂高腫，而肚腹陷沒如舟。發生腦脊髓膜炎之重篤者，惟其水液、血質一時沖激，則最急性之痙病不即斃者，頭獨動搖，面赤目赤，頸項強，背反張，其痙病之主要症狀乃得完全而發現，此為國醫最急性痙病之成立。</p>
<p>胡為亞急性痙病也？初起手足麻痹，嘔噦交作，惡寒則足寒尤盛，發熱則頭熱尤盛，此為痙病之症候。故初起一二日或一星期，頸側之動脈管、額角之動脈管、耳前之動脈管澎漲跳躍，頭痛最烈，頭上溫度最高，或巔頂高腫，斯為西醫所謂灼熱、潮紅、腫脹、疼痛而發炎，漸致頸項強、背反張，現出痙病之主要症狀，此為國醫亞急性痙病之成立。</p>
<p>胡為續發性痙病也？初起惡寒發熱，頭痛骨節痛，或口渴自汗，或口苦咽乾目眩，此皆伏氣溫病之見症，非痙病也。若頭痛在腦後風池、風府之分，則伏氣從太陽而出；若頭痛在腦前眉心之分，則伏氣從陽明而出；若頭痛在腦側頷厭或耳前和窌之分，則伏氣從少陽而出。醫者治不得法，或過服升散，或早服寒涼，或誤服溫補，皆足以致痙。一見頸項強、背反張，則為痙病之主要症狀，即為國醫續發性痙病之成立。</p>
<p>要而言之，頸項不強，背不反張，其病灶上不在腦，下不在背，即非西醫之所謂腦脊髓膜炎也。故除頸項強、背反張為國醫痙病之主要症狀外，其餘諸症時有時無，忽現忽沒，或周身麻痹，或兩腳彎曲，或神經過敏，或神識昏迷，或顏面掣動，或手足瘛瘲，或巔頂高腫，或肚腹陷沒，或目上視，或口噤不語，此種症候，只為國醫痙病常有之見症，而不可為國醫痙病之主症也。然其中頸項強、背反張，與夫目上視、口噤不語四症，又有初起、進行不同，不得不分辨於下。</p>
<p>（一）頸項強，為痙病初起之症候；而身體強，則進行矣。頸項強者，強在局部；身體強者，強在周身也。</p>
<p>（二）背反張，為痙病初起之症候；而角弓反張，則進行矣。背反張者，頭向後仰，背為之反張；角弓反張者，頭與臀撐住其身，則背部全體作弓形之狀也。</p>
<p>（三）目上視，為痙病初起之症候；而目眩轉，則進行矣。目上視者，目系之因腦後仰，而目珠上竄；目眩轉者，目珠眩運旋轉，而睛不定也。</p>
<p>（四）口噤不語，為痙病之初起症候；而神昏不語，則進行矣。口噤不語者，牙關緊閉，則不能語；神昏不語者，神識昏迷，則不知語也。</p>
<p>綜上症候觀之，雖初學國醫者，莫不知為痙病之發生，鑿鑿可據，毫無疑義，何必如西醫之腦脊髓膜炎，必至焦頭爛腦，抽驗脊髓、培養細菌而後知之哉。</p>
<p>至西醫謂腦膜炎之灼熱而非體溫，尤不可不辯。夫人之體溫只一耳，平常則為生理，失常則為病理，灼熱即是體溫之奔集於局部也。故體溫之奔集於腦者，即為腦膜炎之灼熱。當其卒然奔集之時，兩頸人迎脈管之搏動，兩額頷厭脈管之搏動，耳前和窌脈管之搏動，搏動之極，即腫脹、疼痛之極，腫脹、疼痛之極，即灼熱、潮紅之極，或頭部之熱如蒸籠，或口鼻之氣如火烙。況體溫上奔，不能衛護周身，則周身惡寒；且體溫上奔，而在下之溫度低減，則惡寒之候，尤覺兩足如冰如鐵。倘能以檢溫器測驗之，頭上之溫度，必高達於極點；足下之溫度，必低達於極點，惟其足下之溫度低，而頭上之溫度高。斯其水液、血質充滿於腦，貫注於脊，於是凝而不動，結而不散，而腫脹，而疼痛，而潮紅，而灼熱，此腦脊髓膜炎所由成也。</p>
<p>張山雷謂：近年來，發生一種時疫，雖與中風之腦充血見症不盡符合，而其氣火上衝理無二致。時逸人謂：時行痙病，其在進行時間，腦及脊髓呈顯著劇烈之充血。蔡百星謂：無論如何痙症，總是腦部或充血、或鬱血、或出血、或積水，遂致牽動神經，發生痙攣現象。此皆水液、血質充滿於腦、貫注於脊之說也，豈有細菌作祟於其間哉。譬如夏月之癤子，彼西醫認為發炎矣，不謂之細菌，而竟謂之暑熱刺激。又如冬月之凍瘡，彼西醫亦認為發炎矣，不謂之細菌，而竟謂之寒冷刺激。推此可以知彼，觀外可以知內，何獨於腦脊髓膜炎而必有雙球菌作祟於其間哉，不徒見科學醫之杳渺無憑、誕妄不經矣乎。</p>

<h1>第五篇　類別</h1>
<p>國醫之痙病，最足以混亂西醫之腦脊髓膜炎者，其惟痙之類症乎。若不扼定痙之病灶在腦與脊，痙之症候在頸項強、背反張，而欲恰合西醫之腦脊髓膜炎，絲絲入扣，不差銖黍得乎。欲凡病之類乎痙者，試舉而辨之如下。</p>
<p>《素問·至真要大論》：諸痙項強，皆屬於濕。諸暴強直，皆屬於風。諸熱督瘛，皆屬於火。</p>
<p>巢氏《病源》：太陽中風，重感寒濕則成痙。</p>
<p>《千金方》：溫病，熱入腎中則為痙。</p>
<p>《醫門法律》：六淫之邪，至於成痙，乃病之最多、最深、最易惑人者。</p>
<p>薛生白《濕溫篇》：濕溫症，二三日，即口噤，四肢牽引拘急，甚則角弓反張。</p>
<p>《溫病條辨》：有寒痙，有風痙，有溫熱痙，有暑痙，有濕痙，有燥痙。</p>
<p>此言六氣之類痙當辨者。項強，固為痙病之正式症狀，而謂諸痙皆屬之濕，意者國醫往哲，以項上通於腦，下通於脊，其發痙也，因有水液之停蓄，故謂之濕也。不然，濕亦何能統括諸痙哉。強直，亦為痙病常見之症，然不得謂之主症；而瘛與痙為二病，不得混合於痙，故皆為類病也。巢元方謂中風重感寒濕則痙，此係或有之症。夫風之一端，即足以致痙矣，何必重感寒濕哉，喻嘉言、吳鞠通推廣六氣，而泛言其痙，殊難索痙之真象，此皆不足以語西醫之腦脊髓膜炎也。《千金》謂溫病，熱入腎中則痙，蓋凡溫熱、暑濕之病篤，或誤治致成壞病者，每多發痙，然未必拘定入腎，總與西醫之腦脊髓膜炎有別。薛氏謂濕溫病，甚則角弓反張，有似西醫之腦脊髓膜炎矣。然腦脊髓膜炎之主要症狀，則在頸項強、背反張，而薛氏必至濕熱病劇，乃有角弓反張之象，此亦痙之類症。故薛氏於《濕溫病篇》中自注此條，謂其痙每與厥相連，厥回而痙解則生，厥不回而痙劇則死。試觀西醫所謂腦脊髓膜炎者，幾見其痙與厥租連乎。然薛氏謂火竄則痙，火鬱則厥，蓋顏面抽掣、手足瘛瘲，即是火竄則痙之症；手足厥冷、體厥脈厥，即是火鬱則厥之症。薛氏又謂夏月之痙，與霍亂同出一源。夫霍亂感受夏月之暑濕耳，而其痙之與厥，固系暑濕為病，與春月之痙未必拘定厥者，其原因顯然不同。況春月之痙，直接暴起，而夏月之痙，每因他病傳變，如霍亂轉筋入腹，加以手攣足踡，即是痙症；痢疾過服升散，或堵塞太早，亦致痙症；小兒夏月吐瀉，往往發生慢脾風，此皆痙之類症，不同乎春月之痙也。</p>
<p>《靈樞·經筋篇》：足太陽之筋病，脊反折，項筋急，肩不舉，腋支缺盆中紐痛，不可左右搖。足少陰之筋病，主癇、瘛及痙，在外者不能俯，在內者不能仰。故陽病者，腰反折不能俯，陰病者不能仰。經脈之病，寒則反折筋急，熱則筋弛縱不收，陰痿不用。陽急則反折，陰急則俯不伸。</p>
<p>《金匱》：太陽病，發熱無汗，反惡寒者，名曰剛痙。太陽病，發熱汗出，不惡寒者，名曰柔痙。太陽病，其症備，身體強，兀兀然，脈反沉遲，此為痙。太陽病，無汗而小便反少，氣上衝胸，口噤不得語，欲作剛痙。</p>
<p>《張氏醫通》：痙，止屬太陽而不及他經者，何也？蓋痙必反張，其病在督。背之經絡，惟太陽與督脈耳，言太陽，則督必在其中矣。</p>
<p>薛立齋：足三陰痙，手足厥冷，筋脈俱急，汗不止，項強脈沉。太陰則四肢不收，少陰則閉目合面，厥陰則頭搖口噤。</p>
<p>王海藏：發汗大多，因致痙。身熱，足寒，項強，惡寒，頭熱，面腫，目赤，頭搖，口噤，背反張者，太陽痙也。若低頭視下，手足牽引，時膝相搆者，陽明痙也。若一目或左右斜視，並一手一足搐搦者，少陽痙也，手足厥逆，筋脈拘急者，太陰痙也。</p>
<p>喻嘉言：項強背反，不能仰者，太陽之痙，以賅三陽。身踡足曲，不能俯者，太陰之痙，以賅三陰。</p>
<p>此言六經之類痙當辨者。然國醫之痙病，為督脈發生之病，固與西醫之腦脊髓膜炎相合。但六經無督脈，惟以太陽、厥陰之痙，屬諸督脈也。故太陽之經，在背兩行，言太陽則督在其中，誠有如《張氏醫通》所云者。即可知厥陰之腧在背項，厥陰與督脈會於巔頂，言厥陰，則督亦在其中也。又六經惟厥陰包管神經，而督脈實能統領神經，故西醫之腦脊髓膜炎，不能外國醫之督脈，以言溝通，即不能外太陽厥陰，以言溝通也。非此則陽明、少陽、太陰、少陰之痙，皆與督脈不相涉，皆為痙之類症也。《靈樞》：陽病者不能俯，陰病者不謂仰。督脈統制諸陽，能仰而不能俯。故今日之腦脊髓膜炎，無一能俯者，其屬諸督脈也無疑矣。薛立齋分三陰，王海藏分三陽與太陰，喻嘉言以太陽賅三陽、太陰賅三陰，皆痙之類症，非正式痙病也。況喻氏以項強、背反不能仰者，為陽痙。夫既項強、背反，即有仰之現象，胡為項強、背反而猶謂之不能仰者，此喻氏絕少經驗之談也。《金匱》之剛痙、柔痙，唐容川注為痙病門中主中之賓，不得稱為正式痙病，確有見地，令人欽佩。足見西醫之腦脊髓膜炎，非剛痙、柔痙之比。但剛、柔二字，仲景明明以有汗無汗、惡寒不惡寒分之，毫無疑義，而朱奉議謂剛痓屬陽、柔痓屬陰，固非；後世以剛痙即急驚、柔痙即慢驚，亦不可解；近日又以神經興奮為剛痙、神經衰弱為柔痙，尤屬想像之詞。況《內經》柔痓，王冰注以骨弱不舉、筋緩無力為解，而仲景《傷寒》謂項強如柔痓狀，是柔痓亦有項強之症，與王注大相反對。則剛、柔二字，如不以仲景有汗無汗、惡寒不惡寒分之，只可付之郭公夏五之例，若欲強解之，亦不達矣。</p>
<p>《素問·六元正紀大論》：太陽所至，為痙；少陽所至，為瘛。</p>
<p>《素問·生氣通天論》：血菀於上，使人薄厥。</p>
<p>《素問·調經論》：血之與氣，並走於上，氣復返則生，不返則死。</p>
<p>《千金方》：小兒癇，熱盛亦為痙。癇有三種，有驚癇，有風癇，有食癇。</p>
<p>張元素：癇與痙，亦驚風之類。</p>
<p>陳藏器：驚癇，即急驚。</p>
<p>王云鶴：痙、癇、驚風，統為腦膜炎。</p>
<p>此言驚、癇、瘛、厥之類痙當辨者。吳鞠通曰：後人不分痙，瘛、厥為三病，統言之曰驚風熱痰，曰角弓反張，曰搐搦抽掣。方有執作《痙書》，其或問中，混瘛為痙。葉桂《臨症指南》治痙、癇、厥最多，而混稱痙、厥，無瘛之名目，亦混瘛為痙。究之痙者強直之謂，後人所謂角弓反張，前人所謂痙也。瘛者蠕動引縮之謂，後人所謂搐搦抽掣，前人所謂瘛也。然搐搦抽掣之謂瘛，而時作時止，止而復發，或數日一發，或數月一發，發不待治而自止者，癇也。吳氏此論，對於痙、瘛、癇，頗有分析。然《千金》謂小兒癇，熱盛亦為痙。予以臨床事實證之。小兒每發搐搦抽掣，醫家、病家呼為驚風，然有一發而止，有一日數發，或數日一發者，《千金》謂之小兒癇，實相符合。若熱毒重篤，或治不得法，乃得有頸項強、背反張之現象，《千金》謂之熱盛為痙，亦相符合。然其癇有起於驚嚇者，有起於感冒者，有起於食積者，較之吳氏之論癇，數月一發，發不待治者有間矣。至吳氏論厥，謂四肢冷如冰者為厥則是，謂四肢熱如火者為厥則非也。仲景《傷寒》熱深厥深，則是熱在裡而寒在表，乃謂之熱厥。若溫熱、暑濕之為厥病，則厥每與痙相連，薛氏《濕溫篇》中已言及之，而葉氏《臨症指南》連類並稱者亦多，皆四肢厥冷之厥，而無四肢火熱之厥。若以厥與痙、瘛、癇三者，並立為病名，則是《內經》之厥巔疾，即西醫之腦充血，昏瞀眩僕，或失知覺，或失運動，正《內經》所謂大厥、薄厥也。山東張伯龍、蘭溪張山雷、天津張錫純，論之最詳且盡，又非以四肢厥冷為厥也。近日有因腦脊髓膜中，而有水液、血質，認為腦充血者，豈知西醫之腦充血，為國醫之痙病，久已訛為中風，若果為腦充血，則今日之中風者，幾見有頸項強、背反張，如西醫之腦脊髓膜火者乎，此固無庸辨也。</p>
<p>《金匱》：新產血虛，汗出，喜中風，故令病痙。</p>
<p>此言產後之類痙當辨者。予屢診產後，頭暈，汗出，面赤，目眩，齘齒，言蹇，手足蠕動，或拘急，即斷為產後病痙，而頸項強者間有之，若背反張者則未之見焉，此不可認為西醫之腦脊髓膜炎也。</p>
<p>《金匱》：太陽病，發汗大多，因致痙。風病，下之則痙，復發汗，必拘急。痙病有灸病，難治。</p>
<p>此言誤治之類痙當辨者。然予自診驗誤治致痙之病，則目上視，口齘齒，手足瘛瘲，肌肉掣動，皆為常見之症；惟口噤不語者，間亦有之；而頸項強、背反張者，絕少焉。誤汗、誤下，固足以致痙，而誤溫、誤補、誤灸、誤針，以及誤行注射，尤足以致痙。其發痙也，皆與相醫之腦脊髓膜炎有別。予引一案以證之，可概想其餘已。昨夏某木匠之子，年四歲，患赤眼已久，泄瀉黃漿七八日。其母述其瀉下黃漿，沾人衣袴，浸入腿上皮肉，如錐刺痛，目陷，面色青慘。請診之。已服仙方胃苓湯矣。予與宣營透熱解毒之劑，甫煎服，旋更仙方，以附子理中湯與之。明晨，西醫注射，痙作，目上視，手足瘛瘲，曾未見有項強、背反之症。其父灌如意油七八瓶，活雞以覆腹，登時氣喘痰湧而死。如此混亂之足以致痙者，非止一端，如妄灸、妄針、妄挑羊毛疔，皆此類也。</p>

<h1>第六篇　病理</h1>
<p>病理者，吾身生理上之起變化而失常也，然吾身之生理，胡為起變化而失常哉？蓋人在大自然界中，息息與空氣相通，日月遞更，寒暑往來，衣則冬裘、夏葛，飲則冬湯、夏水。南冰洋、北冰洋之無寒暑，不能繁殖民族，足見世界民族之生理，莫不隨大自然界之氣候為轉移，故氣候循其常度，則冬月之寒，夏月之暑，猶當避之，不避則病。況氣候變異，而吾身之生理，得不隨之起變化而失常哉。於以是知西醫細菌之學，其為駢指贅疣矣乎。若以細菌為病理，則與生理豈能貫通哉。近世余岩輩，欲廢國醫之六氣，而講西醫之細菌，何其於生理學夢夢也。</p>
<p>傷寒之為短桿菌，腸炎之為窒扶斯菌，肺炎之為短鏈菌，赤痢之為橢圓菌，痎瘧之為胞子蟲，近世驗之，皆知非病原之固定物。則腦脊髓膜炎之雙球菌，亦非固定物也，於此可推矣。</p>
<p>然腦脊髓膜炎之初起，有謂混合纖維性肺炎，及氣管枝炎等症併發，與國醫往哲葉桂溫邪犯肺、逆傳心包之旨相合。不知腦脊髓膜炎，為春季流行之病，含有時間性質，不可移易者。若如葉氏所說，則去歲亢旱，氣候溫暖，至冬不雨，今歲淫雨，氣候寒冷，至夏不熱。而長沙市之腦脊髓膜炎，何以不發於去冬之溫暖，而竟發於今春之寒冷，乃知葉氏之說，只為外感溫病言之，與西醫之腦脊髓膜炎，不能溝通也。故病理根諸生理，而生理根諸大自然界之氣候，則知腦脊髓膜之發炎，皆含時間性質，不可移易者歟。</p>
<p>試以最急性之痙病言之，頃刻之間，胡為而神昏僵仆，胡為而口噤不語，胡為而頭動搖、面目赤，胡而頸項強、背反張。若不為之闡發申明，孰知吾身之病理根諸生理，而生理根諸大自然界之氣候哉。論略述之如下。</p>
<p>國醫《內經》，肺主呼吸而合皮毛，一呼則周身毛竅皆闔，一吸則周身毛竅皆開。是吸收養氣在鼻竅，而吐出炭質在毛竅，猶飲食在口，而排泄在二便也。夫炭質者，新陳代謝，周身之老廢成分也，若不以皮膚之汗垢汙濁為毛竅之炭質，則鼻竅之炭質從何驗之哉。西醫謂肺主呼吸，竅在鼻孔，皮膚亦主呼吸，竅在毛孔，猶人之口主飲食，而二便亦主飲食也。況鼻竅吸養吐炭，而毛竅亦吸養吐炭，非特其學說支離羝牾，而人身之生理，不其無系統矣哉。</p>
<p>故四時之氣候，與吾身之呼吸相逆，則自毛竅而入，入則抵抗，其病隨時即發。如風之有咳逆上氣，寒之有鼻塞噴嚏，暑之有喘喝，濕之有胸痞，燥火之有咽喉乾燥。毛竅一有障礙，而其影響遂及於肺，此其明證。若四時之氣候與吾身之呼吸相順，則自鼻竅而入，入則服從，其病必過時乃發，《內經》所謂冬傷於寒、春必病溫，春傷於風、夏必飧泄，夏傷於暑、秋必痎瘧，秋傷於濕、冬生咳嗽者。蓋盈天地間皆空氣，空氣之有浮沉斂散，是即寒暑燥濕，為四時之氣候。人在天地間，不外此空氣之浮沉斂散，即不外此四時之寒暑燥濕，以為生活。故處乎散浮之時，更沉斂之氣候而為病；處乎沉斂之時，更浮散之氣候而為病，此即所謂伏氣也。吳鞠通謂伏氣為病，以寒、暑二氣為最多，蓋以寒則為沉斂之極，而暑則為浮散之極也。陸九芝、張山雷、陳無咎輩，見不及此，謂只有外感而無伏氣，遂疑《內》、《難》、仲景伏氣之非，今以西醫之腦脊髓膜炎證之，可以恍然大悟矣。</p>
<p>然國醫痙病之由於溫熱，海內名賢，莫不知之。然不發於冬月之溫暖，而竟發於春月之寒冷者，蓋大自然界之氣候變異，而吾身之生理亦隨之變異。冬月之氣候，當寒冷而反溫暖，則吾身之生理，當沉斂而反浮散；春月之氣候當溫暖而反寒冷，則吾身之生理當浮散而反沉斂。故無冬月之溫暖，則厥陰無火熱之沖激；無春月之寒冷，則太陽無寒水之收縮，以故冬行春令而將終，則天空流電之氣忽然摩蕩而發聲，故雷震則痙作，此即火從厥陰沖激之明證。春行冬令而初至，則天空寒冷之氣忽然凝結而成質，故雨雪則痙作，此即寒從太陽收縮之明證。是以腦脊髓膜炎之為病，少小多於壯老者，以少小稚陽，生理之氣機浮散也；女性少於男性者，以女性沉靜，生理之氣機沉斂也。蓋病理根諸生理，而生理又隨乎個人之體質，以故腦脊髓膜炎之為病，六經中之太陽愈收縮，則厥陰愈沖激，此所以卒然神昏而口噤也，此所以頭獨動搖而面目皆赤也，此所以頸項強而背反張也。厥陰在內之沖激愈厲，而太陽在外之收縮愈緊，於是而兩腳攣急、屈不能伸，於是而肚腹陷沒如舟，於是而巔頂高腫，水液、血質充滿於腦，貫注於脊，西醫所謂灼熱、潮紅、腫脹、疼痛，一齊並至，此為國醫痙病最後之結局。西醫至此時期，乃能承認為腦脊髓膜炎，其測驗病原之粗疏為何如也。</p>
<p>然則國醫痙病，不屬之太陽，不屬之厥陰，而必屬之督脈者，蓋以腦之與脊為督脈之局部，項強背反為督脈之病症，故西醫病理學謂腦膜炎之在腦與脊，無非為國醫痙病添註腳矣。特以西醫之腦膜炎，必須從腰椎吸取脊髓如牛奶者，乃為腦脊髓膜炎，否則為傷寒，為流行性感冒。試問傷寒與感冒，幾見初起有神識昏迷、口噤不語者乎，幾見有頭項強、背反張者乎。若必須如是，而後斷之為腦脊髓膜炎，則西醫病理學中，詳列其腦脊髓膜炎之病狀，何為也哉。</p>

<h1>第七篇　診斷</h1>
<p>國醫痙病之症候，既如前述，而痙病之脈象，又詳辨焉。《脈經》曰：痙家，其脈伏堅，直上下行。《金匱》曰：痙脈，按之緊如弦，直上下行。又曰：痙家，脈築築然而弦，直上下行。夫所謂伏者，非潛伏不見之脈，乃病毒鬱滯於血分之中，不得發越於外，則寸口脈管之搏動處，亦收縮潛伏，舉之不見，按之乃得，則是痙脈必見之於沉部，乃為伏也。堅，即緊如弦也。築築然，搏而有力之象，不外乎堅耳。然緊已如轉索，而應手似堅矣。乃又如張弓弦，是堅而有脊之象，狀如蠶之僵直，無往來悠揚之情，無高低起伏之狀，故曰直上下行也。</p>
<p>雖然，直上下行者，督脈應見於寸口之現象；舉之浮而直上下行，則為督陽外越之象；按之沉而直上下行，則為督陽內閉之象。《脈經》曰：尺寸俱浮，直上下行，此為督脈。當腰脊強痛，不得俯仰，大人癲病，小兒風癇。又曰：脈來中央浮，直上下動者，督脈也。動苦腰背膝寒，大人癲，小兒癇。皆以浮而形容督陽外越之現象，故為癲、為癇而不為痙，若為痙，則脈沉而不浮矣。夫督脈統督諸陽，為諸陽之首，督陽外越，或癲或癇，則其脈直上直下，何至一時拘急收斂而為痙哉。夫痙病之發生，一方面由於厥陰之沖激，一方面由於太陽之收縮，故督陽內閉，不能發越於外，此脈之所以直上下行，而見之於沉部也。</p>
<p>然則診察痙病之脈，則於沉部之內，即可得痙脈之真象乎？猶未也，則必於痙發之時，方可見痙脈之直上直下；未發則無是象，既發亦無是象。猶如瘧脈自弦，未發不弦，既發亦不弦。但瘧發之時間較長，痙發之時間較短，診痙之弦，每難於診瘧之弦。然則診之於何時乎？蓋當頭獨動搖、兩目上視之時，見其兩頸之人迎搏動，兩額之頷厭搏動，兩耳之和窌搏動，則按其寸口沉部，乃有直上直下之真象。若徒頸項強、背反張，而頭不動搖，目不上視，則無是象也。若頸項強，進而為身體強、背反張，進而為角弓反張，則一身四體無不痙矣，其直上直下之脈象，非獨見之於沉部，而亦見之於浮部。痙至此，危矣哉。</p>
<p>或者曰：子言痙脈之直上下行也，頭動搖，目上視，只見之於沉部，不見之於浮部；若至身體強，角弓反張，不僅見之於沉部，而亦見之於浮部。則吾既得聞命矣。然徒頸項強、背反張，而頭不動搖，目不上視，則診斷上之脈象又何如？予曰：子未審仲景痙脈之難診乎？予以經歷十餘屆之痙病，而後知仲景之論痙脈，曰按之緊如弦、直上下行，曰築築然而弦、直上下行，是皆見之於頭動搖、目上視之時也。若頭不動搖，目不上視，則或沉而細，或沉而遲，或於沉細、沉遲之中，兼澀兼散，兼弱兼短。治之得法，或由沉而浮，或由細而大，或由遲而數，預料其痙之欲解，可斷然者。若頸項強，變而為身體強、背反張，變而為角弓反張，則病者已無頭搖、目竄之症候矣。而其直上下行之脈象，則舉手可按而得也。子欲診痙病，得予說而審察之，其然其不然乎。</p>
<p>仲景更推論痙之脈象，一則曰：太陽發熱，脈沉而細，名曰痙。再則曰：太陽病，其症備，身體強，兀兀然，脈反沉遲，此為痙。是於痙脈之弦緊及築築然而弦、直上下行之外，申說沉細、沉遲，足見弦緊及築築然而弦、直上下行之脈象，必見之於頭動搖、目上視之時也。仲景而後，其有研究痙脈者，惟喻嘉言一人而已。然喻氏不能尋出痙之主要症狀，即不能得痙之主要脈象，故不能離開三陰、三陽之傷寒而論痙病，即不能離開三陰三陽之傷寒而論痙脈。然自知歷驗不深，故論痙脈之末，結之以一語曰：未知其能弋獲否。喻氏之不肯欺人如此。</p>
<p>且夫仲景之論痙病，實能溝通西醫之腦脊髓膜炎，認症既確，立論自深，只怪讀者之不得其旨趣也。西醫之論腦脊髓膜炎，曰肚腹陷沒如舟；國醫之論痙病，曰暴腹脹大為欲愈。一論痙之前症，一論痙之後症，夫不有肚腹之陷沒，而暴腹脹大為病劇，何反為欲愈耶。則知病前氣機之上逆，而腹陷如舟；病後氣機之下降，而腹暴脹大，此仲景所以不謂之痙劇而謂之痙欲愈也。然既有欲愈之症，即有欲愈之脈，故《金匱》曰：發其汗已，其脈如蛇。蛇者，有屈曲柔軟之象，有悠揚暢達之情，即是脈象之不弦緊、不弦急、不直上下行也。苟有弦緊、弦急、直上下行之象，即為痙之未愈，故《金匱》又曰：脈如故，反伏弦者痙。是雖有暴腹脹大之症，而其脈之沉部反有弦緊、弦急之象，故其痙未欲解也。若欲解之，外必有漐漐之微汗，內必有沓沓之泄矢，而腹脹自消矣；腹脹消，而項即柔，背即直，其脈象之弦緊、弦急、直上下行，乃得而自解矣。此《金匱》未發之奧旨，予則引而申之者也。</p>
<p>近賢時逸人，編痙病於《急性傳染病學》，而於診斷門中，但論痙症，不論痙脈。謂後腦痛、項強，為痙病之特徵，而不知頭向後反、不能前俯，即仲景之所謂背反張者，亦為痙病之特徵。若無此一症，則後腦痛、頸項強，為中風傷寒之太陽經症，不得謂之痙病也。謂兩腿屈而不伸，或大腿與小腿不能自由行動，即仲景之所謂腳孿急者。夫痙病至於腳孿急，惟痙之重篤者有之，而輕者未必有此症狀也。謂抓其手心，恆無癢感，此係痙之輕者，若重者神識昏迷，刺其四肢周身猶無感覺，況搔其手心乎。予引申時氏之論，而推言其歷驗如此。</p>
<p>西醫診斷腦脊髓膜炎，非但不憑之脈象，而亦不憑之症候矣。謂憑之症候，最易誤會，非檢出病原菌，診斷萬難確切。夫病原菌者，即雙球菌也，則以針刺入病者之腰椎吸取髓液，清者無足論矣；若濁者，放置培養基與固形培養基，化生雙球菌，經過染色，乃得為腦脊髓膜炎之證據。然人身諸凡水液之清者為分泌液，濁者為腐敗質，今必以腦脊髓液之膿汁如牛奶者，乃得為腦脊髓膜炎。苟其痙不致於劇烈，其液必清而不濁。即或頸項強、背反張，確見其病之在腦與脊，亦不得謂之腦脊髓膜炎。則腦脊髓膜炎，是無輕重淺深之別耳。然則何以同此腦脊髓膜炎之為病，則毛孔之汗垢，有酸臭者，有不酸臭者；口鼻之唾涕，有黏濁者，有不黏濁者；二便之排泄，溲則有清白、黃赤之分，矢則有黑、黃、紅醬之辨；腦脊髓膜之髓液，何獨無清、濁之辨耶。況西醫嘗謂取其分泌液，尚可製造一種純粹之細菌，何況取其腐敗質耶。更查西醫《微生物學》，雙球菌亦為淋病之原因，是非特取其脊髓之腐敗質，可製造雙球菌，而溺管之腐敗質，亦可製造雙球菌。果以細菌為憑，則淋病謂之腦脊髓膜炎也可，腦脊髓膜炎謂之淋病也亦可，西醫斷不如是之顛倒糊塗也，則當以症候為憑矣。以症候為憑，則腦脊髓液之清者，其病輕而淺；腦脊髓液之濁者，其病重而深也。由是以譚，則吾國學者之診斷痙病，常以症候為首務，脈象次之，而雙球菌之杳渺無憑，其不得診斷上之價值也，無須言矣。</p>

<h1>第八篇　治療</h1>
<p>國醫之治療痙病，既不得以治傷寒法治之，亦不得以治溫病法治之。蓋痙為督脈之病，治療督脈，即所以治療西醫之腦脊髓膜炎也。然西醫之病理，從解剖屍體而來。總括腦膜炎之病狀，不外乎腦腔之隙縫瀦溜膿汁、腦網之血管充滿汙血而已。然膿汁為水液之所釀，汙血為血質之所化，故腦膜炎之灼熱、潮紅、腫脹、疼痛，皆基於水液、血質之為病。故西醫有所謂化膿性腦膜炎者，即此水液、血質之所化；有所謂結核性腦膜炎者，即此水液、血質之所結，水液、血質之充滿於腦，貫注於脊，即為腦脊髓膜炎之發炎。故欲講治療於今日，從前一層言之，則當使水液、血質之不起變化，而腦膜炎之不能成立。從後一層言之，則當使水液、血質之還返乎變化，而腦膜炎之即行消散，斯為治療腦膜炎之要素，即為治療痙病之要素焉。</p>
<p>然總括國醫古今之治療痙病者，約有二端，一曰宣發太陽，一曰開泄厥陰。從前一層而言，宣發太陽者，使周身之毛孔不為寒冷外閉，則痙作即罷，炎何由而成乎；開泄厥陰者，使周身之脈管，不為火熱內沖，則痙作亦罷，炎何由而成乎。從後一層而言，太陽寒水外閉，即是水液凝結，水液凝結則灼熱、潮紅、腫脹、疼痛，腦膜炎所由成也，宣發太陽之寒水則水液消散，腦膜炎亦隨之而消散矣；厥陰火熱內沖，即是血質凝結，血質凝結則灼熱、潮紅、腫脹、疼痛，腦膜炎所由成也，開泄厥陰之火熱則血質溶解，腦膜炎亦隨之而溶解矣。夫痙為督脈之病，溯其由來，外則寒冷外閉，治太陽之表，即以治督；內則火熱內沖，治厥陰之裡，亦以治督。督病由於大陽、厥陰，故從太陽、厥陰以為治。炎之未成，可以不成；炎之既成，可以即消。予從學識經驗上標準之，總以太陽、厥陰為治療痙病之定義焉，豈治療傷寒、溫病之所可比擬乎。</p>
<p>或謂西醫解剖屍體，放大顯微鏡，見其小小黑點，雜峙於髓液血球中，即以為菌。今宣發太陽、開泄厥陰，亦能消滅此菌也耶。予曰：髓液血球有此黑點，是在既死之後，為屍體腐化之色素，指以為菌，或者似之。若在未死之前，果有此菌，則吸取腰椎髓液之混濁，足以證明雙球菌，為腦膜炎之原因，何必經過培養基與固形培養基而後有雙球菌之發現耶。更查西醫治療諸法，如血清注射，如水蛭吸囓，如抽椎髓以減輕腦壓，如灌鹽水以洗濯脊腔，以及其他等等，從無一法以撲殺此雙球菌者，則知雙球菌之為腦膜炎原因，不其虛設矣乎。邇來東醫，治療腦膜炎，不講細菌，用走馬湯以峻下之，用水銀劑以頓挫之，雖從國醫古籍治療痙病中得來，究不知宣發太陽使水液消散、開泄厥陰使血質溶解之為愈也。即使髓液血球中有此黑點，亦消歸子虛烏有耳。況國醫以腦膜炎為痙病，憑諸症候，治法不一，豈同西醫診斷腦膜炎，不分淺深輕重，而無一法也哉。</p>
<p>故國醫痙病之有最急性者，則西醫之所謂電擊性腦膜炎，如電擊人，登時即斃是也。初起寒戰口噤，猝然昏僕，鼻竅之呼吸一時停頓，而循環之血管遂致閉塞不通，故以錐刺其兩手爪甲，或曲池、委中諸穴，無血則死，此國醫之所謂內閉外脫者；若有血，即為不死之症，初刺之紫而黑，再刺之紅而活。當以飛龍奪命丹合紫雪，或行軍散、臥龍丹，或陳氏蟾酥丸、羅氏牛黃丸、薖叟腦脊消炎丸，磨化，急急灌下，則宣發太陽之寒冷外閉，須臾汗透周身而神醒矣。神醒則毛竅開，而鼻竅之呼吸如故，而循環系之器官自然流通，輕則以《傷寒論》之黃芩湯加減，重則以《千金方》之龍膽湯加減，或兼服薖叟腦脊消炎丸、羅氏牛黃丸、陳氏蟾酥丸，開泄厥陰之火熱，斯水液、血質不致充滿於腦，貫注於脊，即不致灼熱、潮紅、腫脹、疼痛而發炎耳。故痙罷之後，則厥陰回血管之熱毒，泄之於小便，則小便碧黃赤黑；泄之於大便，則大便黑紅黃醬；若還之於皮膚毛細管，則往往發疹，見之於頭面頸項者多，見之於上肢胸腋者次之，見之於下肢膝腿者絕少。足徵腦膜炎之為病，則為厥陰迥血管之熱毒上衝，散之於皮膚毛細管，外出而為疹，西醫所謂匐行疹，或薔薇疹，或即消性紅疹者是也。然不獨最急性之痙病則然，而亞急性與續發性亦莫不然。張山雷以白虎湯加紫雪治愈痙病之後，每見發疹於兩頤、兩頰，謂系少陽、陽明風火使然，殆有一間未達歟。</p>
<p>又國醫痙病之有亞急性者，初起發熱頭痛，嘔吐噁心。今春長沙市西醫認為腦膜炎之前驅症候，即此亞急性痙病也。既不寒戰口噤，又不猝然昏僕，病發二三日或一星期，漸見頸項強，背反張，目上視，口齘齒，腳攣急，乃亞急性痙病之症。《傷寒論》之黃芩湯加減，《千金方》之龍膽湯加減，皆可混合紫雪，或兼薖臾腦脊消炎丸、羅氏牛黃丸、陳氏蟾酥丸，或玉樞丹、太乙紫金錠，宣發太陽之力輕，開泄厥陰之力重，如法服之，無不立效。若項不強，背不反，目不上視，口不齘齒，腳不攣急，即不得謂之正式痙病，正西醫所謂流行性感冒者。蓋感觸春月之風寒，隨體溫化熱，而為頭痛發熱、嘔吐噁心之時令病，主以辛涼，佐以苦降，亦無不效焉。</p>
<p>又國醫痙病之有續發性者，初起本非痙病，而竟作痙病者，往往於春令寒冷之際，病發三五日或一二星期，突然變生頸項強、背反張，是為續發性之痙病。如初起頭痛，只在腦後風池、風府之部，兼見嗇嗇惡寒，翕翕發熱，腰痛，骨節痛，脈左右俱浮緊，或數，此為伏氣傳出太陽之病而續發痙者。如初起頭痛，在腦前額顱之部，兼見壯熱口渴自汗，脈右手浮洪，或洪而數，此為伏氣傳出陽明之病而續發痙者。如初起頭痛，在腦側額角之部，兼見口苦咽乾目眩，脈左手浮弦，或弦而數，此為伏氣傳出少陽之病而續發痙者。此皆誤治之變，則厥陰回血管蘊蓄之熱毒無從發泄，反而充滿於腦，貫注於脊，以致頸項強、背反張，甚至目上視、口齘齒、腳攣急，國醫正式痙病之症狀，完全發現。《內經》春病在頭，時令使之然也。仲景謂知犯何逆以法救之，是當向其誤處而求之，然既發生痙病，仍當開泄厥陰之中，兼以宣發太陽之表。如《傷寒論》之黃芩湯，《千金方》之龍膽湯，皆可混合紫雪，或玉樞丹、太乙紫金錠，或兼服薖叟腦脊消炎丸、羅氏牛黃丸、陳氏蟾酥丸，亦無不可，但當分其痙之輕重緩急而用之耳。</p>
<p>雖然，時令諸病，固不能捨四時之氣候，而人身生理，亦有隨乎個人之體質。故國醫先哲之治療痙病，宣發太陽之劑，有溫散者，有溫補者；開泄厥陰之劑，有溫養者，有鎮墜者。是以舍病原而專講體質，則當調劑於平時，不當調劑於病時；舍體質而專講病原，則恐克削過度，元氣隨之而俱傾，故第九篇詮方中備錄一切，任醫者之選用焉。</p>
<p>近賢嚴蒼山，編《腦膜炎家庭自療集》，謂國醫痙病，種類甚多，無非外感內傷，一言以蔽之曰陰虛血少而已。例如中風之有此者，年老衰殘，陰之敗也；產婦之有此者，去血過多，衝任竭也；瘡家之有此者，血隨膿出，榮氣涸也；溫熱之有此者，熱傷經絡也；小兒之有此者，或以風寒傷陽遂謂急驚，或以泄瀉亡陰遂謂慢驚。治此病者，雖欲祛邪，必兼顧虛。此種論調，皆言痙病之類症，要非正式痙病，而不可以語西醫之腦脊髓膜炎者。夫西醫之腦脊髓膜炎，為國醫之痙病，其最急性者，水液、血質充滿於腦、貫注於脊，治之尚恐不能一時消散，何暇兼顧其虛耶；若夫亞急性與續發性之痙病，亦是水液、血質為害，絕少陰虛血少之症，即嚴氏自論疫痙，分寒、熱兩門治法，曾未顧及陰虛血少，胡為而謂外感、內傷可一言而蔽之耶。查此說出自謝利恆《醫學辭典》，意者嚴氏隨手錄入，不及辨別歟。</p>
<p>又近賢王云鶴，編《腦膜炎與驚風》，蓋以西醫之腦膜炎，為國醫之驚風，而以孫思邈之龍膽湯治急驚，莊在田之加味理中湯治慢驚，猶為不錯。但謂今日急驚，明日變成慢驚，急驚、慢驚不以時間論，而以體質論，則大錯矣。蓋國醫之痙病，宋元以來，認為驚風，不過以病之初起者為急驚，發於中途或末期者為慢驚，急、慢兩字明明在時間，而不在體質。若以體質論，則今日急驚，用龍膽湯以涼瀉之；明日慢驚，用理中湯以溫補之，時間只兩日耳。寒熱冰炭，補瀉秦越，即在四損不可正治之病，診斷上亦罕見斯症。況在今日之腦脊髓膜炎，而用杞、地之滋補，萸、戟之酸斂，桂、附之溫熱，得不火上添油，使之焦頭爛腦耶。然宋元以來，國醫先哲之診治痙病者，初未嘗分急、慢二驚而異治，甚至立一方而可通治急、慢二驚者，如曾氏之琥珀抱龍丸、張壁之七味羌活膏、《世醫得效》之奪命散、《六科準繩》之大黑龍丸，無不急、慢並治。可見先哲之以急、慢命名，不在體質而在時間也。予嘗見小兒吐瀉發痙，市醫每以莊氏理中湯為秘方，初服之似效，再服之則有熱毒未清之禍，若服之過早，反見變成慢痙，唇焦舌爛，骨蒸肌消而死者比比。予用之則必審其唇口乾燥而不欲飲，舌苔黑黃而不幹枯，爪甲淡紅不透青紫，指尖消瘦不增肥大，嘔吐皆澄清之水，便溲無酸臭之氣，外面雖有假熱，內里卻是真寒，非獨敢用此方，而予所制薖叟和陽舒痙湯、薖叟溫腎補腦湯，亦必如此認症，乃放膽用之，始不僨事。若今日清涼，明日溫補，除非今日之誤用清涼，而明日用溫補以救之則可，否則斷無是症也。</p>
<p>今日西醫，類皆謂腦脊髓膜炎之不能治療也，非不能治療也，西學幼稚之故也，亦非幼稚也，科學之研究止於是而已。故西醫之論腦脊髓膜炎，曰除注射預防血清外，通常不能醫，能醫則為流行性感冒，決非腦膜炎也。然究其所以不能治療之故，則曰炎症侵入腦髓之實質，以致腦髓之呼吸中樞及血帶運動中樞受壓迫麻痹而死。又曰：腦髓局部之炎症，不能致人於死，致人於死者，續發性之官能障礙而已。再進而究其炎之所由起，則自鼻腔咽頭，循淋巴腺，遇血管，傳入於腦，而腦中起化膿性變化，其滲出之髓液或漿液性液體，瀦集於腦，以致壓迫麻痹及續發性官能障礙而死。然則西醫治療腦脊髓膜炎之方法，第一步則當撲殺細菌，第二步則當消化膿汁，此為西醫治療腦脊髓膜炎之大經大法，而不可移易者。乃西醫竟不出此，則西醫之治療學與病理學又不相貫通也。東醫田和氏謂西學治療之黑暗，渡邊溪氏謂西醫有學術而無治療，信哉。蓋血清為普通解毒之藥，預防注射，不能撲殺細菌；吸取椎髓，洗滌脊腔，亦不能撲殺細菌，是細菌不死，而腦中之膿汁，終不能消化。至用消炎膏以貼腦，放水蛭以囓腦，隔靴搔癢，何濟於事。若夫麻醉神經，鎮靜神經，而細菌不滅、濃汁不淨，亦何能發生效力。以故西醫之治愈腦脊髓膜炎者絕少，即或倖免於死，而恢復之期遙遙無定，其永久頭暈或頭痛者有之，重聽重視者有之，甚至發生神經病而為癲狂癇者。此西籍之所載，西醫之所道，豈非治療上之不能撲殺細菌、消化膿汁，而無恢復腦髓實質之侵害也哉。國醫不講細菌之學，竟有治愈之方法，蓋吾人身體上之化生膿汁，水液釀之、血質化之耳。今宣發太陽之表，消散水液；開泄厥陰之裡，溶解血質，何致膿汁瀦溜腦腔，侵害腦髓實質，以致呼吸中樞、運動中樞受壓迫麻痹而死、官能障礙而死哉。更進而言之，彼西醫之所謂炎症者，非灼熱不能腐化腦中之水液、血質，不能腐化腦中之水液、血質即不潮紅，不潮紅則不能腫脹而疼痛。究灼熱之何由而致，則是體溫之失其調節，而奔集於腦之局部，西醫所謂體溫達四十度以上，其血必沖激於腦，發生神經錯亂、意識昏迷者是也。今宣發太陽之表，即是放散溫度；開泄厥陰之裡，亦是放散溫度，溫度放散，則體溫復常，而何灼熱之有？無灼熱，則水液、血質之不能腐化，而何潮紅、腫脹、疼痛之有？此國醫之所以能治療腦脊髓膜炎也。彼西醫者，曷不加之意哉。</p>

<h1>第九篇　詮方</h1>

<h2>甲、宣發太陽之劑</h2>
<p>（一）飛龍奪命丹（《局方》）</p>
<p>［原治主症］痧㽲脹痛，霍亂轉筋，厥冷脈伏，神昏危急，及受溫暑、瘴癘、穢濁諸邪，眩暈痞脹，瞀亂昏狂，或卒倒身強，遺溺不語，身熱瘛瘲，宛如中風，或時疫神迷狂讝，小兒驚癇，角弓反張，牙關緊閉。</p>
<p>［藥品］硃砂（飛，二兩）　明雄（飛）　燈芯炭（各一兩）　人中白（漂，煅，八錢）　明礬　青黛（飛，各五錢）　梅冰　麻黃（去節，各四錢）　真珠　牙皂　當門子　蓬砂（各三錢）　西牛黃（二錢）　杜蟾酥　火硝（各一錢五分）　飛真金（三百頁）</p>
<p>［製法］上十六味，各研極細末，合研勻，磁瓶緊收，毋令泄氣。</p>
<p>［用法］以少許吹鼻取嚏，病重者，再用涼開水調服一分，小兒減半。</p>
<p>［詮義］此國醫最急性痙病之特效靈方。痙病初起，無顯著之前驅症候，突然暴發，神昏口噤，猝僕於地者，固能治之。即頭動搖，目上視，漸見頸項強、背反張者，亦能治之。然晉、隋、唐、宋以來，痙病誤認為驚癇、驚風，絕不別立門戶，而診治痙病之方，即混入驚癇、驚風之內。如此方主治小兒驚癇，而明申之以角弓反張、牙關緊閉等症，不確見痙病誤認為驚癇者乎。然誤認為驚風，亦從此可知矣。是以診治痙病之方，常於晉、隋、唐、宋驚癇、驚風門中求之。茲將此方之藥品，逐味發明，益知此方治痙之特效焉。</p>
<p>予嘗研究此方特效之處，則在透汗，汗透則周身之毛竅開，而內臟之官能不致失職。然神昏卒倒，肢冷脈伏，口噤遺溺，皆內臟官能之失職也。今既周身透汗，則毛竅開，而肺臟之呼吸無礙，斯血液之循環如故，則內臟之官能復職，脈出肢溫，噤開溺止，神識不致昏迷，而痙病之頭搖目竄、項強背反諸症，有不隨汗而俱解者乎。再研究此方之藥品，其能透汗者，首在蟾酥。予嘗見制蟾酥入藥，一室滿座，噴嚏汗出，況服之乎。故外科之以蟾酥治惡疽疔腫者，立即消散。今以之治腦脊髓膜炎，尤為確切。蟾，俗呼癩頭蛤蟆，蓋以全體皮層之腺液，注之於腦，腦凸突而狀如蚪蚾，至夏而注之於眉稜皮下，眉稜皮下凸突而狀如臥蠶，過夏則消滅無存。而採者必於端午前後，割取其汁以為酥。蟾早知之，至此時藏匿而不鳴。夫以氣候變化之物質，而治氣候變化之疾病，豈化學所能測驗哉。故以之治西醫之腦脊髓膜炎，而能使全體皮膚之汗腺溱溱汗出者，則腦脊膜中，其不發生漿液性化膿性變化而為炎也。蟾酥有特長矣。皂角吹鼻則嚏，麻黃入口則汗，今佐之於蟾酥藥中，其能透汗也無疑矣。梅冰，為龍腦樹所取之汁，浮水面而能旋轉，入火燒而無殘渣，吸入腸中，破腸壁而入血管，促進血液之循環，大腦神經因之而興奮。麝香，為麝臍囊腺所儲之物，春陽發動，自行剔出，吸人腸中，亦破腸壁、入血管，促進血液之運動，大腦神經亦因之而興奮。故二物之能調治腦脊髓膜炎也，亦有特長矣。今佐之於蟾酥藥中，而與皂角、麻黃為伍，其能透汗也，又無疑矣。</p>
<p>牛黃，牛之寶；真珠，珠之寶，以山獸水族精靈結晶之品，而國醫先哲用之以治驚癇者。蓋以牛黃生於肝葉膽側之旁，性質香涼苦平，入肝膽而清熱化痰。真珠生於蚌母之腹，性質鹹寒無毒，入心肝而鎮心寧神。合之硃砂、雄黃、金銀箔，皆為驚癇之要藥，即為痙病之要藥。國醫痙病，屬之督脈，為西醫之神經系病。硃砂、雄黃、金銀箔，唐人用之煉丹，餌以飛昇，此種藥物之能入督脈也可知矣。能入督脈，即入神經，合之牛黃、真珠，有不恢復其常狀者乎。故吾國自晉、隋、唐、宋以來，驚癇、驚風，皆不外此種藥物以為治也。</p>
<p>若夫火硝，則為熱帶地方之滷，幾經製造而成，吸入腸中，混入血管，增多血液之鹼，遲緩悸進之心臟，減退原有之體溫，催促大便，增多大便，增多尿量。東醫學說稱為消炎之要藥。明礬、硃砂，防腐消毒。明礬，性質苦辛酸，收斂血管，使血液不致外溢，可以消退炎症。蓬砂，性質辛酸寒，能收氣液而利尿道，亦可以消退炎症。故二物皆收斂之品，能入厥陰，而使厥陰之回血管不致僭越上行。合之青黛性質之鹹寒，清血熱而瀉肝火，能治小兒驚癇，則腦脊髓膜之發炎有不被其消退者，未之信也。</p>
<p>總括此方之特效，非獨宣發太陽之表，使寒冷不致外閉，而亦能開泄厥陰之裡，使火熱不致內沖，故透汗之餘，旋能排泄於小便。人中白，即溺白垽，能從肝臟達之於膀胱。燈芯草，秉輕虛之質，內具燃料，能引心包之火下出於膀胱。予用治痙病之最急性者，透汗之餘，旋即小便，神昏諸症立即瓦解。放古人制方之妙，絲絲入扣，所以為國醫最急性痙病之特效靈方也。</p>
<p>雖然，古人制之，今人不能用之。遍覽醫籍，知者寥寥，惟王士雄謂此方宣竅通營，化毒祛邪，有斬關奪隘之功，具起死回生之力，可謂知己矣。予嘗於腦膜炎外，又用之以治溫暑伏氣諸病，一時暴發，腹痛肢冷，脈伏神昏，輕則一二錢，重則三五錢，涼開水送服立效。每被市醫譏其猛峻，究之歷驗深，認症確，能將此方逐味研究之，有何猛峻之有哉？</p>
<p>無奈西醫之治療腦脊髓膜炎，只有早期注射血清之一法。夫血清注射，不過系普通解毒之法，對於腦膜炎大症何濟。謂腦膜炎，自雙球菌循鼻腔咽頭，入淋巴腺，過血管，進入於腦，卻無殺菌之法。國醫不言細菌，而此方之硃砂、雄黃、明礬、硼砂，竟可以殺菌；國醫不言起漿化膿，而此方之蟾酥、燈芯、麻黃、皂角，竟可以消漿排膿。謂腦膜炎之所以危險而不能治療者，侵害腦髓之實質，麻痹腦髓之神經，何於血清注射之外，曾無一法保護腦髓之實質，使之不受侵害，如此方之牛黃、真珠者乎；又無一法興奮腦髓之神經，使之不受麻痹，如此方之梅冰、麝香者乎。是西醫之發明腦脊髓膜炎，尚在幼稚時代，而國醫早已發明於數千年前，惜後人無以發揚之耳。</p>
<p>（二）行軍散</p>
<p>［原治主症］霍亂痧脹，山嵐瘴癘及暑熱穢惡諸邪直干包絡，頭目昏暈，不省人事，危險諸症。並治口瘡喉痛。點目，去風熱諸翳；嗅鼻，避時疫之氣。</p>
<p>［藥品］西牛黃　當門子　真珠　梅冰　硼砂（各一錢）　明雄黃（飛淨，八分）　火硝（三分）　飛金（二十頁）</p>
<p>［製造］　上八味，各研極細如粉，再合研勻。瓷瓶密收，以蠟封固。</p>
<p>［用法］　每用三五錢，涼開水調下。</p>
<p>［詮義］此方以下，共方三首，均可用治國醫最急性痙病。口噤者，吹鼻得嚏則生。如口不噤，可用建菖、薄荷煎湯，或磨化猴棗湯送下，能獲捷效。此方之火硝，與下兩方之羊躑躅，宣竅透汗，不讓蟾酥，而解毒消炎則遜之。若飛龍奪命丹之透內宣外，非此三方所能及也。</p>
<p>（三）臥龍丹</p>
<p>［原治主症］　諸痧中惡，霍亂五絕，諸般卒倒急暴之症。</p>
<p>［藥品］西牛黃　飛金箔（各四分）　梅花　冰片　荊芥　羊躑躅（各二錢）　麝香當門子（各五分）　硃砂（六分）　豬牙皂角（一錢六分）　燈芯炭（二錢五分）</p>
<p>［製法］上九味，共研細末。瓷瓶密收，毋令泄氣。</p>
<p>［用法］少許嗅鼻取嚏，垂危重症，亦可以涼開水調灌分許。並治癰疽發背、蛇蠍蜈蚣咬傷，用酒塗患處。</p>
<p>［詮義］王士雄謂：羊躑躅，俗名鬧羊花。辛溫，有大毒。不入湯劑；入酒飲，能殺人；近目即昏翳。近市中有臥龍丹，以此為君藥，又無牛黃而加蟾酥，減輕燈芯炭，而冰、麝不過略用些須耳，故藥力大遜，甚不可恃。好善者必自配製也。</p>
<p>（四）開關散</p>
<p>［原治主症］　番痧臭毒，腹痛如絞，氣閉神昏欲絕之症。</p>
<p>［藥品］燈芯炭（一兩）　羊躑躅（三錢）　北細辛　杜蟾酥　牙皂（各二錢）　牛黃　梅冰　當門子（各一錢）</p>
<p>［製法］上八味，共研細末。瓷瓶緊裝，毋令泄氣。</p>
<p>［用法］少許嗅鼻，得嚏則生。</p>
<p>［詮義］行軍、臥龍、開關三方，宣竅透汗，難分軒輊。若以之治國醫最急性之痙病，則三方之作用，皆包賅于飛龍奪命丹一方之內，醫者即用飛龍奪命丹可也。</p>
<p>（五）蘇合香丸（《局方》）</p>
<p>［原治主症］傳屍骨蒸，殗殜肺痿，疰忤狐鬼，邪祟驚癇，中風痰厥，心腹猝痛，昏迷僵仆，寒症氣閉，霍亂吐利，時氣瘴瘧，赤白暴痢，婦人經閉，小兒驚搐吐乳，痃癖疔腫。</p>
<p>［藥品］蘇合香油（五錢，白色者佳，入安息香內）　丁香　安息香（另為末，用無灰酒五合熬膏，飛去砂土）　青木香　白檀香　沉香（另研極細）　蓽茇　香附子（炒，去土）　訶黎勒（煨，取肉）　烏犀角（磅，另研極細）　硃砂（另研，水飛，以一半為丸，各一兩）　薰陸香（另研）　龍腦（另研，各五分）　麝香（另研，勿經火，七錢五分）</p>
<p>［製法］研為細末，入另藥和勻，用安息香膏並制白蜜和丸，如芡實大，約重八分，硃砂為衣，蠟殼封護。</p>
<p>［用法］每服一丸。中風驚癇，昏迷鬼杵，不省人事，薄荷湯送下。</p>
<p>［詮義］此方藥品共十四味，類集辛香溫散之大隊，若非訶黎勒之收澀、犀角之鹹寒、硃砂之重鎮，是無監製之師也。然以之療疫癘客杵，心腹猝痛，嘔吐交作，效誠有之。而以之治國醫最急性痙病，宣竅透汗，不如行軍、臥龍、開關三方，更不如飛龍奪命丹也。</p>
<p>謝利恆曰：此方諸香以開閉塞，與牛黃丸皆為中風門中奪隘開關之將。然牛黃丸，開熱阻關竅；此則開寒阻關竅，方中犀角為寒因寒用之嚮導，與至寶丹用龍腦、桂心無異。若夫口開手散、眼合鼻鼾、自汗遺溺等症，急用參附峻補，庶或可救。若用牛黃、蘇合香之藥，入口即斃矣。</p>
<p>（六）薖叟腦脊消炎丸</p>
<p>［特治主症］痙病，頸項強，背反張，頭動搖，目上視，口齘齒，腳攣急，肚腹陷沒，神識昏迷，痙病初起危險諸症。</p>
<p>［藥品］　白花蛇（蘄產者，一條，去頭尾，以酒浸，去皮骨，只取淨肉，用火炙之）　全蠍　羚羊角　蘇薄荷　雄黃　鏡面硃砂　蟾酥（各三錢）　暹羅犀角　川牛膝（各五錢）　西牛黃　冰片（各一錢五分）　麝香（一錢）　鮮蝸牛（四十個，緣桑樹者佳，去殼）　鮮白頸蚯蚓（三十條，韭菜土下者佳）　蜈蚣（川產者，五條，火炙）</p>
<p>［製法］上十六味，將十三味研末，用鮮蝸牛、鮮白頸蚯蚓搗爛如泥，並以陳酒化蟾酥和勻，糊丸如小豆大，每粒約重五分，蠟殼封護。</p>
<p>［用法］每服三丸至五丸，小兒減半，鉤藤煎湯送下。口噤者，研末調湯灌下。</p>
<p>［詮義］此亦國醫痙病之特效靈方。凡屬頸項強、背反張之痙病，無論最急性、亞急性、續發性，皆能治之。其特效之靈藥，首在白花蛇、蜈蚣、全蠍，次之蝸牛、蚯蚓，再次之則在羚羊角、犀角。予逐味考正於後，以見此方治痙之特效焉。</p>
<p>白花蛇，考諸國醫藥物學，皆稱為截風要藥。然風何以截之，苟不申明其實際，則其功效終為虛設。蓋風者，空氣之所流蕩，太陽光線照射地球，遠近強弱輕重，不得其平，則熱量增加之處澎漲上升，而他處熱量低降之冷氣即來補之，此風之所以成也。人在氣交中，感觸流蕩之空氣，則為外風，姑置勿論。而內風則以人身之經絡臟腑、營衛氣血苟有偏勝之處，則體溫不得其平，激而為風。故凡治內風諸藥，體溫高壓，則清涼之可；體溫低降，則溫補之亦可。張山雷《中風斠詮》只知體溫之高壓，而不知體溫之低降，故只取清潛一法，而溫養諸藥，一概屏斥門外，是不知古人風字訓動之義。《內經》風勝則動，《易經》風以動之，《佛經》風輪主持大地，皆是動也。故人身之筋肉，西醫解剖分為兩種，一為隨意筋，一為不隨意筋。故隨意筋之當動而不動者，如手足癱瘓，不仁不用，謂之風；不隨筋之不當動而動者，如口眼歪斜，手足搐搦，亦謂之風。故凡國醫籍中稱為風痹、風痱、風懿、風癇、驚風，凡有涉風字者，皆不離此二種意義也，白花蛇主治大風諸疾者，蓋以蛇為冷血動物，心臟缺乏，能使人身之血行遲緩，此即截風之義也。又蛇之肌肉柔軟，任意張縮，能使人身之肌肉弛張自如，此又截風之義也。諸蛇死皆閉目，而白花蛇蘄產，精氣獨注於目，死皆突出不閉，故痙病之頸項強、背反張、目上視，亦以蘄產為治痙之要藥。李瀕湖謂物之善行而迅速者，唯風與蛇。而蛇又為截風之要藥，則以善行迅速之物，而治善行迅速之病，不相符合也耶。</p>
<p>蜈蚣有兩種。一種黑頭野產，冬蟄春出，予嘗於郊外見之，有大毒，觸之灼熱疼痛。一種金頭，由於培養而成，春季出新，可供藥用。陳仁山謂以雞毛濕透，埋於坎中，蓋之以薦，日久乃生。鄭肖嚴謂以生草堆積腐爛，日久便生。湘省藥市，售皆川產。相傳以米和土，掩之即成。蜈蚣之能治痙病，辛以散結，溫以通行，非蜈蚣之特效也。蜈蚣每一環節生腳一對，末端如鉤，腳凡十五至二十五，與西醫解剖屍體自腦至脊之神經對對相關無異。又蜈蚣之呼吸口，生於頸部環節之兩旁，一氣貫通，故主治痙病之頸項強、背反張，即是調節神經、回覆反射也。然唐、宋以來，誤認痙病為驚風，如《聖惠方》之治小兒撮口風，以丹砂、輕粉而配蜈蚣，非頸項強、背反張，而其風何能成撮口之狀。《直指方》之治小兒天吊風，以麝香而配蜈蚣，非頸項強、背反張，而其風何能成天吊之狀。他如命名內釣者，蓋外面之有頸項強、背反張，而內實有釣起之原因。國醫先哲形容今日之腦脊髓膜炎，可謂畢肖。足見今日之對於腦脊髓腦炎，其特效有如此者。</p>
<p>全蠍，用全者稱全蠍，用梢者稱蠍尾。張山雷謂古人恆治大人風痹、小兒風癇，皆用蠍尾，則此蟲之力多在於尾。而尾之性情，下行為順。藥肆漬之以鹽，鹽亦潤下，且又節節靈通，宣通之力，必為迅利，正與氣血上菀之病情針鋒相對。然治痙病，當用全蠍，但較蜈蚣之力稍遜。而其形態與之略同，全體凡十三環節，其後腹部有六環節，亦與解剖屍體自腦至脊之神經，對對相開無異。張氏既謂節節靈通，則弛緩神經之力，在全身而不在尾。故《本事方》治慢脾風，取其全者，與白朮、麻黃等分為末。《聖惠方》治天釣風，亦取其全者，與硃砂為末。國醫先哲，非獨用尾也。今以之治腦脊髓膜炎，上必連腦，下必連尾，則全身之力，勝尾多矣。況佐於苦降藥隊中，則其效能，何患其不下行耶。</p>
<p>凡藥物特異之處，必其精力獨到之處，精力獨到之處，必其功能特效之處。蝸牛、蚯蚓二物，性皆鹹寒，清熱利水，不過能使熱毒排泄於小便耳。然蝸牛形之盤旋如渦，頭之偏房如渦，此蝸牛之特異處；蚯蚓逶迤如蟮曲，宛轉如蛇行，此蚯蚓之特異處。今使用之於腦脊髓膜炎者，亦不過調劑腦與脊之神經，而使之項不強、背不反耳。然猶不足為二物之特異也，而其所特異者，冬則蜇伏，春則出行，漬之以鹽則化為水，不漬亦化為水。二物能自成質，能自化水，不待化學，而自具化學之機能。苟生漬飲之，則腦腔中之混濁髓液、脊腔中之混濁髓液，消化為水，從小便排泄而出。何以驗之，驗之於服二物後，而小便獨多白垽也，無須吸抽腦髓，而腦壓輕減；無須灌溉鹽水，而脊腔洗滌。予嘗生漬二物，加入湯劑飲之，則巔頂高腫者即平，神識昏迷者即醒，項強、背反一併而恢復常狀，其特異為何如也。</p>
<p>羚羊角、犀角，國醫藥物學皆謂其主治小兒驚癇、婦人子癇、大人中風搐搦及筋脈攣急、歷節掣痛。痙病之頸項強、背反張，蓋亦筋脈之攣急耳。凡角生於頭顱之上，則為精靈之所儲，皆有上升之力。羚、犀二角，尤為腦脊髓膜炎之特效藥，而其性質辛苦鹹寒，能入血分，減少腦中血球，低降腦中溫度，二角之作用同也。其稍有不同者，羚羊入肝而涼血散瘀，犀角入心而收斂血管，二角之分析如此。</p>
<p>牛膝，狀如牛之膝蓋，春日抽苗，莖方，色青紫，有澎大之筋。《神農經》謂可除腦中痛及腰脊痛，蓋以性質苦酸，有引血下行之功，對於腦脊髓膜炎，亦特效藥也。</p>
<p>余藥解，見飛龍奪命丹方下。統論此方效能，亦以蟾酥、麻黃透汗之餘，而以蝸牛、蚯蚓引從溺道出耳。此方之對於腦脊髓膜炎，面面俱到。故無論最急性、亞急性、續發性之痙病，皆可服之也。</p>
<p>（七）羅氏牛黃丸</p>
<p>［藥品］白花蛇肉　天麻　雄黃　硃砂　蟾酥（各三錢）　全蠍　川烏　牛黃（各一錢五分）　白附　蘇薄荷（各二錢）　冰片　麝香（各五分）　麻黃（一錢）</p>
<p>［製法］　以陳酒化蟾酥為丸，如小豆大，約重一分至三分。</p>
<p>［用法］　每服三丸，食前開水送下。</p>
<p>［詮義］時逸人謂：沈氏注云：天麻，為鎮痙劑；雄黃、硃砂，為殺菌劑；牛黃、麻黃，以解熱利分泌；白附、川烏，驅逐穢濁；冰片、麝香，疏通關節之停滯；全蠍、白花蛇，弛緩神經之拘急；再加蟾酥以消腫脹，治腦膜炎之病勢增進期，決有相當之成績。</p>
<p>（八）陳氏蟾酥丸（《外科正宗》）</p>
<p>［藥品］蟾酥（酒化，二錢）　枯礬　寒水石　銅綠　乳香　沒藥　膽礬　麝香（各一錢）　雄黃（二錢）　蝸牛（二十個）　硃砂（三錢）　蜈蚣（三條，炙）</p>
<p>［製法］以上各為細末，稱准，於端午日午時，在靜室中，先將蝸牛研爛，再加蟾酥，和研調黏，方入各藥，共極極勻，丸如綠豆大。</p>
<p>［用法］　每服三丸，患者嚼爛，同蔥白五寸，包好，熱酒一杯送下，被蓋，汗出為效。</p>
<p>［詮義］此亦痙病之特效靈方。銅為金質之一，可以伸展延長，通電傳熱，性極迅速。綠，即銅經空氣潮濕變化，而起一種青綠色之鏽衣也。合乳香、沒藥，能消瘀化膿；合枯、膽二礬，能斂液防腐，上可湧吐青碧之痰涎，下可開泄大便之惡濁。此方陳實功用治腦疽、發背、惡瘡，初起嘔吐昏憒，與腦脊髓膜炎初起之症候相同。而腦腔發炎，巔頂高腫，與腦疽何異；脊腔發炎，椎骨凸突，與發背惡瘡何異。此方服之，未成者即消，已成者即潰，治腦疽、發背之惡瘡如是，治腦脊髓膜之發炎亦如是。其勝於西醫之刺脊髓膜以減輕腦壓，灌鹽水以洗滌脊腔者多矣。陳氏謂有回生之功，為惡症中之至寶丹，詢不誣哉。</p>
<p>羅氏牛黃丸，從此方套出。白花蛇、全蠍、天麻、白附、川烏，對於項強、背反，確有效驗。而巔頂高腫，背脊凸突，然無銅綠、乳、沒、二礬，則不能化膿防腐，此方較勝。</p>
<p>（九）琥珀抱龍丸（曾氏方）</p>
<p>［原治主症］急慢驚風，發熱咳嗽作搐，痰喘驚悸。</p>
<p>［藥品］琥珀（二錢五分，包在精肉內，煨透，取出研末）　牛膽南星（一兩六分，臘月同牛膽套用者佳）　殭蠶（二錢，炒）　雄黃　硃砂　人參　茯苓（各三錢）　天竺黃（錢）　鉤藤鉤（一兩五錢）　牛黃（五分）　麝香（一錢）</p>
<p>［製法］碾極細末，用甘草八兩銼碎，以水四大碗，熬膏二盞，入藥末為丸，每料二百丸，每丸重五分，金箔為衣，黃臘包好。</p>
<p>［用法］每服一丸，生薑薄荷湯送下。</p>
<p>［詮義］此方以下至返魂丹，計共一十一首，皆是從厥陰之裡而宣發太陽之表，以治急、慢二驚。如此方之名以抱龍者，取厥陰肝木，屬諸青龍之義是也。因各方藥品之多寡出入不同，而其宗旨主義，無不同也。今用治痙病，人參、茯苓之補，肉桂、附子之溫，末期或有可用之處，而初期與中途，用者絕少；羌活、防風、白芷、藁本，為辛溫升散之品，對於痙病，亦當慎用。予備選此種方藥於此，欲使學者知從厥陰之裡而宣發太陽之表，以療治痙病，權變化裁，自有左右逢源之妙，不必泥其方而執其藥也。</p>
<p>國醫痙病，認為驚風，肇自宋人錢仲陽，故自宋以下，只有驚風諸方，曾無一方及於痙者。至今日以西醫腦脊髓膜炎顯著之症狀，而適符國醫之痙病，故治痙之方，當於驚風門中求之，與唐以下治痙之方，當於驚癇門中求之無異也。然痙之初起暴發者，為急驚風；痙之起於中途或末期者，為慢驚風，社會名稱，至今未改。故宋以下治驚之方，有分急、慢二驚而專治者，有不分急、慢二驚而通治者，各以實驗之病情為印證，不必限定專治與通治也。後人有說急驚涼瀉而不愈，變作慢驚，慢驚溫補而不愈，變作急驚。陳飛霞闢之於《幼幼集成》中，誠是矣。而近時謝利恆，反取其說，載之於《醫學辭典》，何其見之左也。夫急可變慢，慢可變急，此不過名稱上有先後次序之錯亂，無關緊要。至涼已而溫，溫已而涼，診斷上既無觀察之眼光，又無確定之治療，人非金石，其能堪此錯亂乎，此國醫所以至今無標準也。</p>
<p>方有執、喻嘉言，遵從仲景，力詆宋人驚風之非。然方氏無所發明，而喻氏謂小兒腠理不密，易於感冒，則宣發太陽，溫散寒冷，故是正治；謂小兒陰氣未足，稟性純陽，易致生熱，熱甚則生風生痰，亦所恆有，則開泄厥陰、清降火熱，亦是正治。乃喻氏何以極詆古人腦、麝之開關，金石之重鎮，勾引外邪，深入內臟。牴牾矛盾，姑不深辨，特辨喻氏以曾無歷驗之學術，而空談國醫，但將往哲特效靈方一概抹殺，不見用於今日，遂致今日之腦脊髓膜炎，西醫不知治療，而國醫亦莫之知，非喻氏之罪乎。然今之空談國醫而無歷驗者，著書何其多也噫！</p>
<p>陳飛霞遵從喻氏，謂痙病非止一端，男婦皆有，非獨小兒為然。夫今日之腦脊髓膜炎，無分男女，皆有此症，誠有如飛霞所言者。但謂太陽誤汗變痙，風病下之變痙，瘡家誤汗變痙，產婦汗多遇風變痙，跌撲破傷冒風受痙等等，此皆痙之類症，非西醫之腦脊髓膜炎。惟飛霞謂男婦病此，皆從太陽、厥陰以救治，然西醫之腦脊髓膜炎，為國醫督脈之痙病，不從太陽、厥陰以救治，而從誰經以救治者，此飛霞之卓識超群處，可謂先得我心矣。然謂從未假一蘇合、抱龍諸丸，為之開關鎮墜者，是隻知小兒感冒致痙之類病，而不能悟到西醫之腦脊髓膜炎，從國醫往哲之驚癇、驚風門中以求其治療。發明國醫痙病之發生於督脈，外被太陽之寒冷閉塞，內被厥陰之火熱沖激，不有腦、麝之開關，金石之鎮墜，何能起死而回生乎。飛霞之智，錮於嘉言，使國醫往哲制方之苦心，不見諒於今日，借哉。</p>
<p>（一○）鎮驚丸</p>
<p>［原治主症］小兒急、慢二驚，風痰上壅，手足抽搐，口眼喎斜，煩躁生嗔，精神昏悶。常服，寧心鎮驚，疏風順氣。</p>
<p>［藥品］人參（三錢）　甘草　茯神　白殭蠶　枳殼（各五錢）　白附子　白茯苓　天南星　硼砂　牙硝（水飛，各二錢五分）　全蠍（十枚）　麝香（一字）　硃砂（五錢）</p>
<p>［製法］除牙硝、硼砂、麝香、硃砂四味用乳缽研細，餘九味焙為末，入乳缽內，和勻前四味，用糯米粉清水煮為丸，如梧桐子大，就帶潤以硃砂為衣。</p>
<p>［用法］每服三丸至五丸，或七丸，急驚，薄荷湯磨化服；慢驚，生薑附子煎湯研化溫服。</p>
<p>（一一）聚寶丹（《證治準繩》）</p>
<p>［原治主症］慢驚。</p>
<p>［藥品］人參　茯苓　琥珀　天麻　殭蠶（炙）　防風　牛膽南星　白附子　烏蛇肉（酒浸，焙，各一錢）　硃砂（五分）　麝香（少許）</p>
<p>［製法］共研末，煉蜜丸如梧桐子大。</p>
<p>［用法］每服二分，菖蒲湯送下。</p>
<p>［詮義］烏梢蛇，性善無毒，味甘入血，祛風之力遜於白花蛇，故痙病之含有急性者，終用白花蛇較勝。</p>
<p>（一二）奪命散（《世醫得效方》）</p>
<p>［原治主症］小兒急慢驚風。</p>
<p>［藥品］天南星（泡，一兩）　白附子　天麻（各三錢）　辰砂（另研，二錢五分）　黑附子（泡，去皮、臍）　防風　半夏（各五錢）　全蠍（去毒，七枚）　蜈蚣（一條，制）　麝香（少許）　殭蠶（炒，五錢）</p>
<p>［製法］研為細末。</p>
<p>［用法］小兒三歲以上，每服五分，薄荷、生薑自然汁，加好酒、沸湯各少許調下。</p>
<p>（一三）太乙保生丹（《六科準繩》）</p>
<p>［藥品］全蠍（青者，十四個）　白附子　殭蠶　牛膽南星　蟬蛻　琥珀　防風　硃砂（各一錢）　麝香（五分）</p>
<p>［製法］研為細末，水煮米糊丸如梧桐子大，金箔為衣。</p>
<p>［用法］每服一二丸，薄荷湯化下。</p>
<p>（一四）天麻防風丸（《局方》）</p>
<p>［原治主症］小兒驚風，喘促，身熱，多睡，驚悸，手足搐搦，精神昏憒，痰涎不利，及風邪溫熱。</p>
<p>［藥品］天麻　防風　人參（各一兩）　甘草　辰砂　雄黃（各二錢五分）　蠍尾（去毒，炒）　殭蠶（炒，各五錢）　牛黃　麝香（各一錢）</p>
<p>［製法］研為細末，煉蜜和丸如櫻桃大，辰砂為衣。</p>
<p>［用法］每服一二丸，薄荷湯化下。</p>
<p>（一五）八仙散（《沈氏尊生》）</p>
<p>［原治主症］慢驚虛風。</p>
<p>［藥品］天麻　白附　白花蛇肉　防風　半夏（曲）　天南星　全蠍　冬瓜仁（各二分五釐）　川烏（一分）</p>
<p>［用法］加生薑二片，大棗一枚，薄荷二葉，清水煎服。</p>
<p>（一六）七味羌活膏（張璧方）</p>
<p>［原治主症］急慢驚風，壯熱。</p>
<p>［藥品］羌活　獨活　天麻　全蠍（去毒）　人參　殭蠶（炒，各五分）　烏蛇肉（一兩，酒浸一宿，焙乾）</p>
<p>［製法］研為末，煉蜜和丸如皂子大，每兩作五十丸。</p>
<p>［用法］每服一丸，荊芥湯送下。</p>
<p>（一七）鉤藤飲（《證治準繩》）</p>
<p>［原治主症］小兒脾胃氣虛，吐利，虛風慢驚，天釣，卒然驚悸，眼目翻騰，身熱足冷。</p>
<p>［藥品］鉤藤鉤（炒，七錢五分）　防風　人參　蟬蛻　麻黃　天麻　甘草　川芎（各二錢二分）　白殭蠶（炒黃，七個）　蠍尾（炒，去毒，五個）　麝香（一錢，另研）　蜣螂（三個，去頭、足，炙黃）</p>
<p>［製法］研為細末。</p>
<p>［用法］每服一錢，清水一杯，加生薑三片，煎至六分，不拘時溫服。</p>
<p>［詮義］此方蜣螂一物頗有深意，諸藥宣發力厚，麻黃、麝香用服，頃刻汗出。小兒脾胃氣虛，吐利之後，發生慢驚，豈堪勝此。若非吐利氣虛，一時急驚，此方又能勝任也。</p>
<p>（一八）羌活膏（《證治準繩》）</p>
<p>［原治主症］小兒傷寒，脾胃虛，或吐瀉後，為慢驚。</p>
<p>［藥品］羌活　防風　川芎　人參　白附子（泡）　赤茯苓（各五錢）　天麻（一兩）　白殭蠶（酒浸，炒黃）　全蠍（炒，去毒）　白花蛇（酒浸，焙，各一兩）　川附子（泡）　麻黃（去節，各三錢）　沉香　母丁香　肉豆蔻　藿香葉　木香（各二錢）　輕粉　真珠　牛黃（各一錢五分）　龍腦（半字）　麝香　雄黃　硃砂（各一錢，上七味另研）</p>
<p>［製法］研為細末，煉蜜和丸如豆大。</p>
<p>［用法］每服一二丸，食前薄荷湯或麥冬湯化下。</p>
<p>［詮義］此方立意頗佳，而用藥太雜。小兒傷寒吐瀉，脾胃虛弱，甚不相宜。若用治痙病，則羌活、防風、附子、豆蔻、丁、沉諸藥，終嫌溫燥，劫爍陰津，醫者斟酌取締可也。</p>
<p>（一九）蠍附散</p>
<p>［原治主症］頭痛風邪犯腦，痰涎壅盛，嘔逆噁心，暗風旋暈，牙關緊急，口眼喎斜，面目瞤動，頸項拘急，肩臂引疼，耳聾目昏，四肢麻木，及沐浴感風，頭目暈痛，兩太陽痛。</p>
<p>［藥品］全蠍（泡，一錢五分）　附子（泡，三錢）　雄黃　硃砂（均水飛，各一錢）　川烏頭（泡）　麻黃（去節）　天南星（薑製）　防風　白殭蠶（炒，各三錢）　白芷　藁本（各五錢）</p>
<p>［製法］　研為細末。</p>
<p>［用法］每服五分，食後蔥茶煎湯調下，孕婦忌服。</p>
<p>［詮義］此方於大隊溫燥升散之內，少佐重鎮之品，惟痙之類病，寒濕閉塞者宜之。若用治春季時行痙病，則非所宜也。</p>
<p>（二○）返魂丹（王海藏方）</p>
<p>［原治主症］小兒癲癇，潮熱瘛瘲，口眼相引，項背強直，牙關緊急，及諸病久虛生風多睡者。</p>
<p>［藥品］犀角（五兩，屑）　天麻（酒洗，焙乾）　檳榔　殭蠶（去絲嘴，微炒）　硫黃（研末，入水銀，置瓷石盞內，慢炒成砂，各五錢）　白附子（泡）　川烏（炒通赤，留煙，少許，以盞蓋上，新土圍之，待冷取出　獨活　全蠍　萆薢　肉桂（去粗皮）　當歸　細辛　防風　天南星（薑汁煮軟）　阿膠　藿香　烏蛇（酒浸一宿，炙熟，去皮、骨）　沉香　槐膠　羌活　白花蛇（酒浸一宿，炙熟，去皮、骨）　麻黃　半夏（薑汁浸三宿，炒）　羚羊角　陳皮（各一兩）　天竺黃　木香　人參　乾薑　茯苓　蔓荊子　晚蠶砂　敗龜板（酒醋炙黃）　藁本　桑螵蛸　白芷　何首烏（米泔浸一宿，煮焙）　虎骨（酒醋塗，炙黃）　縮砂仁　白朮　枳殼　丁香　厚朴（各三錢）　蟬蛻　川芎　附子　石斛　肉豆蔻（去皮，微炒）　龍腦（另研）　雄黃（水飛）　硃砂（水飛，各一兩）　膩粉　麝香（另研，各一錢）　烏雞（一隻，去嘴、翅、足、腸）　狐肝（三具，上二味，臘月入瓦瓶內，固濟，火煅赤，候冷取出，研用）　金箔（三十片，為衣）</p>
<p>［製法］如法制就，煉蜜和丸如梧桐子大，金箔為衣。</p>
<p>［用法］每一歲小兒服一丸，不拘時，溫薄荷自然汁化下。</p>
<p>［詮義］此方計共五十六味，辛香、溫燥、升提之藥，內占強半，雖有滋陰養血、清火潛風之品，究之少許不勝多許，則與痙病不甚相宜。王氏論痙，率皆類痙，故此方亦只可治寒濕之類痙，而不可以治春季流行之痙病。但其立意，則從厥陰之裡而宣發太陽之表，不失宋元以來法門，然其用藥之寵雜，立方之板滯，終無所取也。</p>
<p>（二一）奪魂散（《證治準繩》）</p>
<p>［原治主症］驚癇。</p>
<p>［藥品］白殭蠶（五錢）　蛇含石（燒紅，米醋淬七八次，碾碎）　白附子（泡，各二錢）　生銀　生金　牛黃　白茯苓　天麻（各二錢）　烏梢蛇頭（七八寸許，酒炙）　天南星（一錢，生薑汁浸一宿，焙）　半夏末（二錢，生薑汁浸一宿，焙）　赤腳蜈蚣（一條，酒浸炙焦）　犀角（磅，二錢）　腦子　麝香（各少許）</p>
<p>［製法］共研細末，棗肉為丸，如麻子大，硃砂為衣。</p>
<p>［用法］每服十丸至十五丸，或二十丸，薄荷湯送下。</p>
<p>［詮義］此似唐方，最為可法。生金生銀，鎮墜厥陰藥也，主治癲癇熱狂，故用治國醫痙病。以些之金銀，配入腦子、麝香、牛黃、南星、半夏、殭蠶、蜈蚣諸藥之內，即能宣發太陽之表，不用羌活、防風、白芷、藁本一切辛溫升散也。</p>
<p>（二二）定搐散（《證治準繩》）</p>
<p>［原治主症］急驚，四證八候並作。</p>
<p>［藥品］天麻　白附子（泡）　天南星（泡，各五錢）　蠍梢　白花蛇頭（酒炙，各二錢五分）　硃砂　雄黃　乳香（各一錢）　赤腳蜈蚣（一條，酒炙）　龍腦　麝香（各一字）</p>
<p>［製法］研為細末。</p>
<p>［用法］每服五分，金銀、薄荷煎湯送下。</p>
<p>［詮義］此亦似唐方。四症八候，不可考。惟此方諸藥，均用一錢或五分，而代赭石獨用一兩，分量配合，頗具深意。蓋以單用赭石一味之重鎮，則厥陰上衝於腦之血熱，從下消散，然亦無礙於宣發太陽也。試觀《直指方》，單用赭石研末，煎真金湯送下，小兒即腳腫，發生赤斑，則吊眼嘬口之急驚立愈。此足徵厥陰血熱從下消散之明證。但代赭石，藥市多偽，釘赭石則不能偽，宜用釘赭石入藥。</p>
<p>（二三）保命丹（《本事方》）</p>
<p>［原治主症］小兒急慢驚風，肢冷眼直，口噤流涎。</p>
<p>［藥品］虎睛（一對，安瓦上，以瓦蓋之，慢火逼干）　硃砂（五錢）　全蠍　麝香（各五分）　天麻（一錢）　蜈蚣（三條，去頭、尾、赤腳）　腦子（三分）</p>
<p>［製法］研為細末，煉蜜和丸如豆大，瓦罐密貯。</p>
<p>［用法］每服三丸，薄荷蜜湯化下。</p>
<p>［詮義］虎睛之鎮心安神，與硃砂同功。孟詵謂主小兒熱痰驚悸，日華謂主驚啼、客忤、疳疾，《千金》之立虎睛湯丸以治狂邪，則皆鎮心安神之功也。合之腦、麝諸藥，亦主宣發太陽，故急、慢二驚之眼直口噤、肢冷流涎，為太陽閉塞之象，此方能治之，用治痙病，其效能可推也。</p>
<p>（二四）竹葉湯（《金匱》）</p>
<p>［原治主症］產後中風，發熱，面正赤，喘而頭痛。</p>
<p>［藥品］竹葉（一把）　葛根（三兩）　防風　桔梗　桂枝　人參　甘草（各一兩）　附子（一枚，泡）　生薑（五兩）　大棗（十五枚）</p>
<p>［製法］上十味，以水一斗，煮取二升半。</p>
<p>［用法］分溫三服，覆被汗出。</p>
<p>［加減法］頸項強，用大附子一枚，破之如豆大，入前藥，揚去沫。嘔者，加半夏半升，洗。</p>
<p>［詮義］此產後中風類痙，宣發太陽之劑也。陳修國註釋《金匱》，謂風為陽邪，不解即變為熱，熱甚則灼筋而成痙。先以此方溫散而折其勢，然則此方之桂枝、附子，非助熱而灼筋者乎。又仲景於頸項強，改用大附子一枚，則更助熱而灼筋矣。蓋陳氏不知風、寒同為冷空氣，流動為風、不流動為寒之原理。故風寒外閉太陽，則有頭痛、面赤、頸項強，類似其痙之現象，宣發太陽，即所以治療此病也。而欲以治西醫之腦脊髓膜炎，為國醫之痙病，尚未合耳。</p>
<p>（二五）倉公當歸散</p>
<p>［原治主症］賊風口噤，角弓反張成痙。</p>
<p>［藥品］麻黃　附子　細辛　當歸　防風　香獨（各等分）</p>
<p>「製法］水煎服。</p>
<p>［用法］口不開者，撬口灌之，一服當蘇，二服小汗，三服大汗。</p>
<p>［詮義］角弓反張，已成痙矣。而用藥則於麻、辛、防、獨、附子之中，加一味當歸以養榮，方法最妙，但必審其內無火熱之沖激，而外只有風寒之外閉者宜之。</p>
<p>（二六）華佗愈風散</p>
<p>［原治主症］背脊身反如弓，急救如神。並治婦人產後，中風口噤，手足瘛瘲。</p>
<p>［藥品］荊芥（三錢）</p>
<p>［製法］略炒為末。</p>
<p>［用法］用豆淋酒調服，婦人用童便調服。</p>
<p>［制豆淋酒法］用黑大豆二升，熬令聲絕，酒二升，納鐺中急攪，以絹濾取清，頓服取汗。</p>
<p>［詮義］此方輕靈簡便。豆淋酒與童便，可以混合並服，不獨治產後中風之類症，而腦膜炎之輕症，亦有效驗。故此方主症之下，謂背脊身反加弓，急救如神也。</p>
<p>（二七）肘後蔥豉湯</p>
<p>［藥品］蔥白（一握）　香豉（三合）</p>
<p>［製法］水煎，入童子小便一合。</p>
<p>［用法］日三服。</p>
<p>［詮義］此方與上方，同一機杼，但此方力量更勝，用治腦膜炎之輕者，常獲效果。</p>
<p>張璐玉曰：本方藥味雖輕，功效最著。凡虛人風熱，伏邪發溫，及產後感冒，無不隨手獲效。</p>
<p>華岫云曰：在內之溫邪欲發，在外之新邪又加，蔥豉湯，最為捷徑，表分可以肅清。</p>
<p>（二八）天保采薇湯</p>
<p>［藥品］羌活　獨活　蒼朮　前胡　葛根　厚朴　黃芩　川芎　柴胡　半夏　枳殼　藿梗　芍藥（各一錢）　升麻　陳皮　桔梗　甘草（各五分）　生薑（一片）　大棗（一枚）</p>
<p>［用法］　水煎服。</p>
<p>［詮義］予居鄉村數十年，嘗見兒科醫用此方以治急驚初起屢效，意以風寒外閉，此方辛溫升散，則宣發太陽之表，漐漐汗出，故獲效也。究之，此方溫燥太過，雜亂無章，用治春季痙病及夏秋暑熱壞病變痙，無有不僨事者，學者慎之。</p>
<p>（二九）栝蔞桂枝湯（《金匱》）</p>
<p>［特治主症］太陽病，其症備，身體強，兀兀然，脈反沉遲，此為痙。此湯主之。</p>
<p>［藥品］栝蔞根　桂枝　芍藥（各三兩）　甘草　生薑（各二兩）　大棗（十二枚）</p>
<p>［用法］水煮服，微汗出，不出，食頃，啜熱粥發之。</p>
<p>［詮義］此方與下葛根湯，是治太陽風寒外閉，而非治厥陰火熱內沖也。唐容川謂仲景明明提出太陽病三字，又曰其症備，以見純是傷寒之痙，而為痙病門中主中之賓，故其方為治傷寒方，而非治痙病之正方。此論極是。然仲景曰身體強，兀兀然。兀者，鳥欲飛而伸頸之象，即強直也，是非但頭項強痛，而並一身四體俱強矣。若純是太陽傷寒，脈當浮緊或浮緩，今其脈乃反沉遲，是有作痙之勢矣，故仲景曰此為痙，以見別於傷寒之太陽病也。故以栝蔞桂枝湯解之，不解則將近而為正式之痙病，當尋別法以治之也。</p>
<p>（三○）葛根湯（《金匱》）</p>
<p>［特治主症］太陽病，無汗而小便反少，氣上衝胸，口噤不得語，欲作剛痙，此湯主。</p>
<p>［藥品］葛根（四兩）　麻黃（三兩，去節）　桂枝　甘草（炙）　芍藥（各一兩）　生薑（二兩）　大棗（十二枚）</p>
<p>［製法］上以水煮麻黃、葛根，去沫，納諸藥煮，去滓。</p>
<p>［用法］溫服，覆取微似汗，不解，啜粥。</p>
<p>［詮義］此症寒冷外閉，則太陽之水液不行，故小便反少；太陽之寒冷外閉，則毛竅不開，阻塞肺管，故氣上衝胸。仲景提明太陽病，是既有頭項強痛之症，而又見口噤不得語，故斷之曰欲作剛痙。欲作者，猶未作也。故以葛根湯宣發太陽，而諸症自解矣。今之腦脊髓膜炎，每見火毒上衝咽喉，灼熱紅腫，頭即仰而不能俯，則當開泄厥陰，清降火熱。若徒宣發太陽，則嗌乾腫痛，往往增劇。故治今之腦脊髓膜炎者，宣發太陽，只得在表一面治法也。</p>
<p>（三一）平痙解疫湯（秦伯未）</p>
<p>［特治主症］此方適應於腦膜炎之初起，有惡寒身熱等之表症者。</p>
<p>［藥品］葛根　桑葉　白芍（各二錢）　麻黃（八分）　桂枝（一錢）　滁菊　瓜蔞　連翹（各三分）　杏仁（四錢）　防風（一錢五分）</p>
<p>［用法］汗多，去麻黃；內熱重，加蘆根一兩，水煎服。</p>
<p>［詮義］此方即前仲景栝蔞桂枝湯與葛根湯，減去生薑、大棗、甘草，而加入菊花、桑葉、連翹，溫涼合併，變作辛平，可謂善於化裁者。以治痙病初起惡寒身熱之表症，可取用之。</p>
<p>（三二）顧氏四期方（顧時雨）</p>
<p>（1）惡寒期：此症初起，必先惡寒，甚則發抖，頭部兩太陽或脹或痛，或脹而且痛，或連及後腦皆痛，渾身骨節酸楚，呵欠，口淡或苦或燥，表皮微熱。以六經論，此時正是太陽之表症，病在最淺層，當速與下方取汗，汗出則解，病亦隨之而愈。</p>
<p>［藥品］炙麻黃（三分）　杏仁（三錢）　炙草（六分）　葛根　秦艽（一錢五分）</p>
<p>［說明］此方用張仲景之麻黃湯加減而成。若病者覺後腦痛，方中加膽草二分，川連三分；口苦口乾口燥，加入淡芩一錢，茅根三錢；舌苔厚膩，終日不知飢餓，加楂炭三錢，枳實炭一錢；小溲短赤，加赤苓三錢，方通一錢。藥後溫覆取汗，若予粥湯則更佳，但以周身微汗為度，萬不可覆被過厚，使病者大汗淋漓，大汗淋漓，病反不除，且有熱勢加甚之流弊，願病家注意及之。夫此症多數從春溫轉屬而成，非病理所特發的。而春溫之惡寒期，為時甚暫，病家往往不及醫治，不治則發熱，其症狀及治法如下。</p>
<p>［詮義］痙病之發生於春季，外則宣發太陽之表，內則開泄厥陰之裡，予之三十年前研究所得者，爾時不知西醫之有腦脊髓膜炎也。今春長沙市發生腦脊髓膜炎，察其症情，一一與國醫之痙病吻合。顧氏之第一、第二療法，則用仲景之麻黃、葛根、青龍等方，固為宣發太陽之表，而一覺後腦疼痛，即加入膽草、芩、連等藥，為開泄厥陰之裡。遙隔萬里，得一氣求聲應之友，不知景仰之何似也。但國醫痙病，為氣候病理之所特發，而謂為多數溫病轉屬，亦猶夫人之見。故謂痙病初起，只知在太陽最淺一層，而不知為厥陰之大熱內沖，然一覺後腦疼痛，不重加麻、桂、葛根與附子，而必用膽草、芩、連者，蓋知此當然而不知此所以然，故不能申說病源之所在也。予之初診是病，亦固若是，嗣後屢診而屢研究之，乃知病源之所在，則宣發太陽、開泄厥陰，為治痙家之要素焉。</p>
<p>（2）發熱期：惡寒之後，繼以發熱，噁心嘔吐，移時熱壯，有汗或無汗，躁熱口渴，引飲無度，水入即嘔，氣粗而喘，小溲短赤，兩目漸漸無神，脈洪而躁，舌絳苔干，頭痛加盛，結喉旁人迎脈管跳動，不惡寒而反惡熱。此時之治法，當分兩種：一為有汗之治法，一為無汗之治法。有汗之治法，用葛根芩連為主，擬方如下：</p>
<p>葛根（一錢五分）　茅根（四錢）　膽草（四分）　桑葉　杏仁（各三錢）　淡芩（一錢）　川連（三分）　蘆根（一兩）　炙草（六分）</p>
<p>［說明］壯熱口燥甚者，必見津干，可加花粉一錢；後腦痛甚者，膽草可加重至七分。藥後如其見效，病必熱勢退減，噁心稀少，口燥漸潤，脈靜而和，舌絳漸淡。否則從速延醫，尚再因循生誤，病即入於危險。無汗之治法，常以大青龍湯為主。擬方如下：</p>
<p>生麻黃（四分）　生石膏　膽草　杏仁　桑葉　茅根（各三錢，去心）　川連（四分）　炙草（六分）　葛根（一錢五分）　蘆根（一兩，去節）　薄荷（一錢，後入）</p>
<p>［說明］藥後當令周身出汗，得汗則熱當退，煩躁當安，氣喘當平，如此現象，即是病退。若不爾，從速延請良醫診察，因病愈之機會，不可失去，一失即難於挽救。且此病為期甚短，自起病以迄臨危，中間經過時刻僅二十四鍾，多則亦不過延至三十六鍾，或四十八鍾而已。</p>
<p>［詮義］顧氏之論腦脊髓膜炎，而有惡塞之期，而有發熱之期，而有危險之期，而有不治之期，正予之所謂亞急性與續發性者，固有此種種症候也。惟為期最短六語，乃合予之所謂最急性痙病，性極迅速，一時暴發即斃，不斃則延長亦不過一二日。顧氏所謂經過時刻二十四鍾，或三十六鍾至四十八鍾者是也。若當一時猝發之時，以針刺病者之手指爪甲或曲池、委中諸穴，無血則死，國醫所謂內閉外脫，無從救療；有血則生，以飛龍奪命丹或混合紫雪灌服之。須臾汗出或嘔瀉，即為可愈之病。若汗後發生煩躁喘促，是為汗之不得其法，亦非不死之症，從厥陰開泄之，則喘促即平矣。若初起而惡寒發熱、頭痛嘔惡，此皆痙之前驅症候，治之得法，未必成痙。夫痙病必須頸項強、背反張，方為國醫督脈之病，方合西醫之腦脊髓膜炎。顧氏所謂惡寒之期固不是痙病，而發熱之期亦未必是痙病。必至此脈洪躁，結喉兩旁人迎跳動，則熱毒上衝。而西醫之腦脊髓膜炎，乃得有此種現象。降以大劑苦寒，如龍膽、芩、連之類，從厥陰開泄之，無不立效。若其表未解，則仍兼以宣發太陽之藥，但當用辛香芳涼以橫散，不當用辛溫升散以豎開。斯時也，葛根、防風一派豎升之藥，皆為所忌，不似第一期時代，猶可勝葛根、防風之辛溫升散也。若不顧熱毒上衝，而再用辛溫升散之劑，則腦脊髓膜炎從此成矣。此立方所以必貴選藥也。</p>
<p>（3）危險期：發熱期治之不得法，或未經醫治，則熱不得退，不退剛傳入神經系。就病理言，凡熱皆上行。上行則侵入腦部。延髓為神經總彙之區，熱邪上行，則神經受其熏炙而緊張，平常工作，頓失常態，且一切均不由自立。此時即見頸項強直，甚則頭向後反，此即腦脊髓膜炎所致。其神志昏糊，即知識神經受病之見端；手足痙攣，運動神經亦病；其目睛上視或歧視，或牙關勁強而不得開張者，則滑車神經並頰神經皆病矣。發熱期未見神經症時，以退熱為先務，熱退即可無事。此時熱雖壯，當以弛緩神經為最要，發熱一層，反居於次要地位。故此時用藥，當以弛緩神經為首要之圖，苦寒降熱，亦不可少。如此乃為合法。方用犀角地黃湯為主。</p>
<p>犀角尖（三分，磨沖）　膽草（六分）　川連（三分）　鮮生地（六分）　滁菊（三錢）　歸身（四錢）　蠍尾（二分，去毒，炙，研沖）　赤芍（一錢五分）　迴天再造丸（一粒，藥化服）　安腦丸（一粒，藥化服）</p>
<p>［說明］此時期之神經症，每多陣發性，倘一劑不知，可照方連服二三劑，每劑分三次服，每服隔半時或一小時，只服頭煎，不服二煎。病重而痙攣頻作者，第一劑中，當加羚羊三分磨沖，第二、第三劑去之，因羚羊只可偶用、少用，不可常用、多用。如此施治，輕者二劑當效，重者三劑甚效。若不見效，當以虎骨、天麻、獨活、防風、人參鬚、西洋參、蚤休等，酌量使用，以救危急。惟分量之多寡，與此時之辨症用藥，頗費斟酌，非病家之有醫藥常識者，當不能任意亂投。</p>
<p>［詮義］國醫之痙病，必須如顧氏之第三期危險，乃得合西醫之腦脊髓膜炎，如第一期、第二期尚未發生痙病之主要症狀，只得為腦脊髓膜炎之前驅症候，如無此第三期之危險，則西醫所謂感冒疑似症，蓋疑似腦膜炎而實際感冒也。況西醫以吸取脊髓之混濁、培養細菌為憑證，即有項強背反，極似腦膜炎，而不以為腦膜炎。雖西醫細菌之說不足憑證，但必如顧氏之第三期危險，乃為正式之痙病，若無此正式症狀，則不得謂之腦膜炎也。其用藥亦必如顧氏之犀角地黃湯，加蠍尾、羚羊角，乃為正式痙病之主劑；獨活、防風辛溫之升散，終嫌未妥。病勢至此，血熱再無上衝之餘地，《內經》高者抑之，抑之不暇，況揚之乎。若蚤休清熱降逆，消炎退腫，又為治痙之要藥，勝於西醫血清者多矣，此立方之所以必須有法，而選藥得當也。</p>
<p>（4）不治期：在危險期中，尚能設法挽回，其結果可得十愈六七；及至不治，簡直束手無策。因此時之見症，悉屬敗象。如唇焦舌黑，齒乾如枯骨，頭向後反，身體成弧形式，手足踡縮，時作痙攣，口不能言，卻作馬鳴，或滿口糜爛，臭不可近，頭部身部隱隱見紫紅斑紋，神志全不清，或氣喘不能自續，或大汗淋漓，脈搏悉亂，心、肺、腦三臟皆壞，此為必死之候，雖華佗再世，亦當敬謝不敏矣。故名之曰不治期。</p>
<p>［詮義］此顧氏第四期不治之痙病，非盡不能治也。齒乾，唇焦，舌黑，或滿口糜爛，臭不可近，頭部身部隱隱見紫紅斑紋，此為溫熱暑疫嘗有之症狀，然不可治者。若頭向後反，身體成弧形式，手足踡縮，是作痙攣，口不能言，此為痙病正式之症狀，亦非盡不可治者。惟作馬鳴，或作他畜鳴，痙之終期，多不可治，而痙之初期未必不可治也；大汗淋漓，脈搏悉亂，痙之終期，多不可治，而痙之初，期未必不可治也；至神全不清，氣喘不能自續，則死者多而愈者少矣。若謂心、肺、腦三臟皆壞，為必死之候，此西醫模糊影響之談，在他解剖生理上，毫無確證之事實。蓋人身生理關鍵，全系之於呼吸，呼吸停頓，肺絕而諸臟器官皆死。西醫以肺與心、腦，並列為三死門，非特生理無所繫統，而心、腦之關鍵，果何在耶，予早已辨之於《余氏醫述駁議》中矣。</p>
<p>（三三）菊花達巔湯（嚴蒼山）</p>
<p>［特治主症］病初起，頭痛如劈，項微強，背不痙急，四肢柔和者，此湯主之。</p>
<p>［藥品］甘菊花　冬桑葉　蒼耳子　穭豆衣　蔓荊子　明天麻　苦丁茶（各一錢）　石決明（六錢）　薄荷葉（八分）　酒白芍（二錢）　嫩鉤藤（二錢，後入）</p>
<p>明麻、鉤藤、蒼耳、苦丁，皆為治痙妙藥。此方重用石決明一味，則於辛散太陽之中，即能兼顧厥陰，此方之所以能治痙病初起也。現在社會，一般青年，凡有感冒，即覺頭痛如劈，此方總屬得宜。</p>
<p>（三四）羚羊舒痙湯（嚴蒼山）</p>
<p>［特治主症］疫痙初起，先呼頭痛如劈，旋昏僕不省人事，手厥冷，足踡曲，項強，背反張，脈弦細或沉細數者，此湯主之。</p>
<p>［藥品］羚羊角尖（三分，菊花露磨沖，或用片煎服）　粉葛根　荊芥穗　廣鬱金（各一錢五分）　淡豆豉　生石膏（各三錢）　川連（酒炒）　薄荷葉（各八分）　甘菊花　生白芍（各二錢）　川桂枝（四分）　蔥白（三寸）　玉樞丹（八分，化服）</p>
<p>［製法］水三碗，煎一碗，勿泄氣。</p>
<p>［用法］羚羊角磨汁，放碗中衝服。玉樞丹，先用水送下。有痰聲者，加鮮菖蒲一錢，竹茹二錢；舌糙者，陰傷也，去桂枝，加花粉、玄參、鮮生地各三錢；口氣臭者，疫氣盛也，去桂枝，加板藍根六錢，人中黃六錢。</p>
<p>［詮義］此方與前方同是一樣用意，但前方妙在石決明鎮降，此方妙在玉樞丹開泄。用治亞急性之痙病初步，未為不可，然其特治主症之下，先呼頭痛如劈，旋即昏僕不省人事，以致厥冷踡曲，項強背反，諸症蜂起，例在最急性痙病之內。但最急性痙病初起，往往體厥脈伏，而此條脈沉細弦數，猶有熱毒外出之端倪，非全伏也。然症已至神昏，不省人事，治當以飛龍奪命丹或紫雪，開竅醒神為急務，此方淺膚，殊難獲效。</p>
<p>（三五）羚羊熄風湯（嚴蒼山）</p>
<p>［特治主症］疫痙獨頭痛如劈，悽慘呼號，入夜更甚，內熱口渴，脈象弦數，舌苔薄黃。春月感受疫氣，挾風火上旋清空，久必昏厥也。宜服此藥。</p>
<p>［藥品］羚羊角（三分，銼粉，菊花露先化服）　甘菊花　粉丹皮　天花粉　肥知母　青蒿（各一錢五分）　大生地（三錢）　薄荷　鮮菖蒲（各八分）　炒黃芩　蒼耳子（各一錢）　炒赤白芍（各一錢）　玉樞丹（八分，化服）</p>
<p>［用法］羚羊角粉，用菊花露先化服。余藥，如法煎服。</p>
<p>［詮義］辛涼香散，妙在玉樞丹開泄厥陰。此方能治亞急性痙病，非獨可治頭痛也。內熱口渴，用知母、花粉以清陽明，而脈象弦數，入夜病盛，不如用龍膽、黃連以瀉厥陰也。況嚴氏謂春日感受疫氣，狹風火而上旋清空，發生頭痛昏厥，猶當從厥陰以清降風火，但既感受疫氣，而又必挾風火，然則疫氣不能發生頭痛昏厥，而發生何病耶。予以為嚴氏此條諸症，皆系厥陰伏熱所致。頭痛夜甚，病久昏厥，為厥陰症；脈象弦數，為厥陰脈，嚴氏謂風火上旋則可也，謂之疫氣而挾風火，則不無語弊耳。</p>
<p>（三六）薛氏慢驚方（薛立齋）</p>
<p>［藥品］人參　白朮　泡姜　炙草　歸身　酸棗仁　天麻　茯苓　廣皮　生薑　大棗</p>
<p>［用法］厥冷，加附子；泄瀉，加煨肉果。水煎服。</p>
<p>［詮義］薛氏自注，謂慢驚一症，古無是名，既慢矣，又何驚哉。是症或因大病過服涼藥，或因痘後元氣未復，或因傷寒吐瀉，以致脾虧胃弱，古人謂之慢脾風。其症則四肢厥冷，脈細或伏，面色青㿠，睡而露睛，或額汗不語，或瀉不止者皆是。蓋此症無風可祛，無痰可逐，無驚可療，治法溫補，急挽元陽。今之欲用溫補以療痙病者，必須如薛氏如是議病，如是認症，而後不致僨事耳。</p>
<p>（三七）加味理中湯（莊在田）</p>
<p>［藥品］野黨參　川萸肉（各二錢）　生白朮　甘杞子　生地黃（各三錢）　炙甘草（一錢）　破故紙（二錢）　淡乾薑　淡附片（各八分）　全當歸（一錢五分）　上肉桂（八分）</p>
<p>［用法］無泄瀉者，去故紙、萸肉；汗多，加白芍、五味。水煎，日服一劑。</p>
<p>［詮義］此溫斂脾腎之劑，力量雄厚，非上方所及。</p>
<p>（三八）烏蠍六君子湯</p>
<p>［原治諸症］風痰嘔逆，肢冷，面青作搐。</p>
<p>［藥品］川烏頭附（泡，炙）　人參　白朮　半夏　茯苓（各三錢）　全蠍（一錢五分）　廣皮　甘草（各一錢）　生薑（三片）　大棗（四枚）</p>
<p>［用法］水煎服。</p>
<p>［詮義］此即六君子湯加烏頭、全蠍，用治痙病，而內無實熱者宜之。</p>
<p>（三九）薖叟和陽舒痙湯</p>
<p>［特治主症］痙病經過日久，熱退神清，頸項猶強，背尚反張，身體不仁，眼時上翻。</p>
<p>［藥品］生黃耆（五錢）　當歸（三錢）　生薑（一錢）　大棗（三枚）　北芥子（一錢，炒）　石乳香（三錢，炒）　白蒺藜（五錢）　羚羊角（四分）　雞矢白　白丁香　兩頭尖　晚蠶砂（各一兩）</p>
<p>［製法］羚羊角，銼粉，沖服。四矢，酒浸絞汁，沖服。余藥均用水煎。</p>
<p>［用法］徐徐服之，日盡一劑。</p>
<p>［詮義］予憶二十年前，陳姓童男，入春發痙，至夏不愈，頸項猶強，背尚反張，兩目時翻，一身不仁，予處此方而愈。嗣有同姓男童，患痙如是，服之亦痊。迄今思之，痙病初起，涼藥久服，腦腔中之水液、血質凝結未散，西醫所謂結核性腦膜炎者近是。《神農本草經》謂黃耆治久敗瘡，則有排膿化腐之功，而腦腔中之結核，何患其不能消化。故以黃耆為主，合之當歸、生薑、大棗，則補助營衛，調節溫度；合之芥子、乳香，則消化水液、血質之凝結；合之羚羊、蒺藜，則通泄脈絡之滯塞。至於四矢，尤有專長。雞矢白，《千金》用之治小兒口噤，《肘後》用之治角弓反張；晚蠶砂，能治半身不遂；白丁香，能消努肉；兩頭尖，能消乳癰。合而為劑，則疏通排泄，下行濁道，而腦腔中之結核何患其不消化耶。</p>
<p>（四○）薖叟強腎補腦湯</p>
<p>［特治主症］痙久，涼泄不愈，神識清醒，顏面㿠白，兩腳直硬，肌肉枯瘦，脈搏沉微，或體狀暴虛，頭汗淋漓，肢冷欲厥，此方悉治。</p>
<p>［藥品］熟地黃（八錢）　山茱萸　丹皮　肉蓯蓉　巴戟天　雲茯苓（各三錢）　附片　淮牛膝（各五錢）　肉桂（八分）　北五味　海狗腎　紫河車（各一錢）　鹿茸（五分）</p>
<p>［製法］肉桂、鹿茸、河車、狗腎，四味研末，余藥煎好調服。</p>
<p>［用法］日服一劑。</p>
<p>［詮義］此方從《幼幼集成》中紫河八味丸胎化而出，《幼幼集成》用治年久月深之癇疾，而予則用治涼久不愈之痙疾，亦獲效果。西醫只知強心有興奮神經之作用，而不知強腎有興奮神經之作用。蓋心與腦相貫通，則在於神，而清心即以醒腦，義詳至寶丹方下。而腎與腦相貫通，則在於精，強腎即所以補腦。肉桂、附子、鹿茸、巴戟、紫河、狗腎諸藥，諸家本草，皆謂其主治驚癇、驚風，然皆為強腎之藥，強腎所以補腦，腦髓虧耗，神經衰弱，驚癇、驚風經久不愈，故諸藥能主治之也。予自歷驗以來，諸凡溫熱暑疫經久不愈，涼瀉之後，脂膏盡脫，神氣消索，脈沉微欲絕，或浮大虛散，面色㿠白，肢冷汗淋，顏面掣動，手足瘛瘲，類似痙症，以此而獲生者，不知凡幾。故春季痙病，久涼不愈，有此以上諸症，亦用治焉。</p>

<h2>乙、開泄厥陰之劑</h2>
<p>（一）紫雪（《局方》）</p>
<p>［原治主症］療腳氣，口中生瘡，狂易叫走，瘴疫毒癘，卒死溫瘧，五屍五注，心腹諸症，㽲痛，及解諸熱毒藥，邪熱卒黃等症，並解蠱毒、鬼魅、野道熱毒，又治小兒驚癇百病。</p>
<p>［藥品］黃金（一百兩）　寒水石　磁石　石膏　滑石（各三斤）</p>
<p>［製法］以上並搗碎，用水一斛，煮至四斗，去滓，入下藥。</p>
<p>［藥品］羚羊角屑　犀角屑　青木香　沉香（各五斤）　丁香（一兩）　元參　升麻（各一斤）　甘草（八兩，炙）</p>
<p>［製法］以上入前藥中再煮，取一斗五升，去滓，入下藥。</p>
<p>［藥品］朴硝（十斤）　硝石（四斤）</p>
<p>［製法］二味入前藥汁中，微火上煎，柳木篦攪不住手，候有七升，投在水盆中，欲凝，入下藥。</p>
<p>［藥品］麝香　當門子（一兩二錢五分）　硃砂（三兩）</p>
<p>［製法］上藥入前藥中，攪令調勻，磁器收貯，煎成霜雪紫色。</p>
<p>［用法］水調服。</p>
<p>［詮義］徐靈胎曰：邪火毒火，穿經入絡，無藥可治，此藥消解，其效如神。</p>
<p>又曰：二硝太多，當用十分之一，則藥力方厚。丁香用二兩，予所合者皆然。方中黃金百兩，以飛金一萬頁代之，尤妙。</p>
<p>此亦國醫痙病之特效靈方，無論最急性、亞急性與續發性三種痙病，皆可用之。但比飛龍奪命丹之效能較為清涼，而飛龍奪命丹只可用之於最急性痙病，而亞急性與續發性痙病，則無須此開竅透汗之重劑也，然飛龍奪命丹，透汗之餘，旋利尿道，方中之有燈芯炭、人中白也；而此方下泄之餘，旋能透汗，方中之有青木、丁、沉諸香也。況焰硝一藥，合麝香則能汗，得朴硝則泄糞，故此方獨重二硝，而徐靈胎謂當減輕二硝分量，則制方之奧妙，尤未窺透也。惜此方塵封已久，自宋至清，乃有葉桂、徐靈胎、王士雄輩始用之。吾湘自鄉先輩陳原欽，初自滬上購來施診，嗣後武漢漸漸有之，近來吾湘用之者頗夥。而紫雪多不成霜，用之太少，則透毒泄熱之作用終不大顯。昨歲衡山有劉氏婦自北平攜子回湘，寓長沙市文廟坪一號，其子年十三齡，夏月患麻疹，予主化毒清熱藥近三十餘劑，而壯熱不退，劉氏婦自北平購回紫雪一瓶，約重三兩，連日服完，其子一夕熱退，十指盡起潰瘍，瀉下黑紅碧矢十數次，遍身汗淋疹消。附錄之以紀紫雪泄熱透毒之作用如此。</p>
<p>（二）玉樞丹（《局方》，一名紫金錠）</p>
<p>［原治主症］治一切藥毒，菰子、鼠莾、惡菌、疫死牛馬、河豚等毒，及時行瘟疫，山嵐瘴瘧，纏喉風痹，黃疸，赤眼，瘡癤，熱毒上攻，或自縊溺水，打破傷損，癰疽發背，魚臍瘡腫，百蟲、蛇、犬所傷，男子婦人癲邪狂走，鬼胎鬼氣，並宜服之。</p>
<p>［藥品］山茨菇（去皮，洗淨，焙，一兩）　川文蛤（一名五棓子，錘破，洗，刮肉桴，二兩）　千金子（去殼，用紙包裹，換紙研數十次，去盡油，無油成霜，一兩）　麝香（細研，淨，三錢）　紅芽大戟（洗，焙，一兩）</p>
<p>［製法］上各研細末，和勻，以糯米粥，每料分作四十粒，於端午、七夕、重陽合，如欲急制，辰日亦得，於木臼中杵數百下，不得令婦人、孝服人、不具手足人及雞、犬之類見之。</p>
<p>時逸人專服玉樞丹治痙病法：每服五分，日服三次至五次，每隔三小時服一次。須在初起時，多服乃效，不可遲延自誤。用鉤藤五錢，薄荷三錢，煎湯送下，小兒用量減半。痰多，用鮮竹瀝一錢，生薑汁三分，用水沖服。</p>
<p>［詮義］徐靈胎曰：此秘藥中之第一方也，用藥之奇，不可思議。或加硃砂、雄黃各五錢，尤妙。</p>
<p>時逸人謂：朱氏方後注云：玉樞丹，治時行瘟疫及內、外科之急性炎症，於中醫經驗上，極著神效。今以西醫之病理解之，則雄黃含有硫黃、水銀，有殺菌解毒作用；麝香，為興奮劑；山茨菇，舊說能治金瘡、療諸毒，新說則為和緩滋養劑。大戟及千金子，則峻下劑（凡居峻下劑，往在兼嘔吐作用），亦可見為誘導消炎劑。此方證以所說，用治流行性腦脊髓膜炎，似亦合理，然拙見則以其效用，決不僅此，配合或內服後，或能起一種化學作用，乃有是效。兩藥或數藥混合並用，往往功用並增，或另增其他效用，此近代所謂合併治療也；又某種藥物，往往須內服後，另起變化，始見功效，如山道年之治蛔蟲，須由腸胃分解後，其一部分，由循環器移入肝臟，變為一種物質，又流膽囊與膽汁混合，再行分泌入腸，始見功效是也。</p>
<p>此方與下方太乙紫金錠，開泄之餘，亦復有宣竅之功，國醫痙病，均可於湯劑中磨化服之。</p>
<p>（三）太乙紫金錠（《局方》）</p>
<p>［原治主症］治霍亂痧脹，嵐瘴中惡，水土不服，喉風中毒，蛇、犬、蟲傷，五絕暴厥，癲狂癰疽，鬼胎厭魅，及暑濕溫疫之邪瀰漫薰蒸，神明昏亂，危急諸症。</p>
<p>［藥品］山茨菇　川文蛤（各二兩）　紅芽大戟　白檀香　安息香　蘇合油（各一兩五錢）　千金霜（一兩）　明雄黃（飛淨）　琥珀（各五錢）　梅片　當門子（各三錢）</p>
<p>［製法］上十一味，各研極細，再合研勻，濃米汁糊丸綠豆大，外以飛金為衣。</p>
<p>［用法］每用錢許，涼開水送下。</p>
<p>［詮義］王士雄謂：薛一瓢云：此方比蘇合香丸而無熱，較至寶丹而不涼，兼玉樞丹之解毒，備二方之開閉，洵為濟生之仙品，立八百功之上藥也。</p>
<p>（四）至寶丹（《局方》）</p>
<p>［原治主症］治中惡氣絕，中風不語，中諸物毒，熱疫煩躁，氣喘吐逆，難產悶亂，死胎不下，以上並用童便一合，生薑自然汁三五滴，和溫化下三丸至五丸，神效。又治心肺積熱，嘔吐，邪氣攻心，大腸風秘，神魂恍惚，頭周昏眩，口乾不眠，傷寒狂語，並治之。</p>
<p>［藥品］生烏犀屑　生玳瑁屑　琥珀（研）　硃砂（研，飛）　雄黃（研，飛，各一兩）　龍腦　麝香（研，各一錢）　牛黃（五錢）　安息香（一兩五錢，酒研，飛淨，一兩，熬膏，用水安息更好）　銀箔　金箔（各五十張，生，研細為末）</p>
<p>［製法］上將生犀、玳瑁為細末，入余藥研勻，將安息香膏重湯煮，凝成後，入諸藥中，和攪成劑，丸如桐子大。</p>
<p>［用法］用人參湯化下三丸至五丸。又治小兒諸癇，急驚心熱，卒中客忤，不得眠，煩躁，風涎搐搦，每二歲兒服二丸，人參湯下之。《本事方》中，多人參、南星、天竺黃。</p>
<p>［詮義］徐靈胎曰：安神安魄必備之方，真神丹也。</p>
<p>王晉三曰：此治心臟神昏，從表透里之方也。黃、犀、玳瑁，以有靈之物，內通心竅；朱、雄、二箔，以重鎮之品安鎮心神；佐以腦、麝、安息，搜剔幽隱諸竅。東垣云：冰、雄、牛、麝，入骨髓，透肌膚。《抱撲子》言：金箔、雄黃，合餌為地仙。若與丹砂同用為聖金，餌之可以飛昇。故熱入心包絡，舌絳神昏者，以此丹入寒涼湯藥中用之，能祛陰起陽，立展神明，有非他藥之可及。若病因頭痛，而即神昏不語者，此肝虛魂升於頂，當用牡蠣救逆湯以降之，又非至寶丹所宜輕試。</p>
<p>此國醫痙病神昏之特效靈方也。然心腦原相貫通，而神昏一症，關係在心而亦在腦，吾國往哲早已發明。《內經·靈蘭秘典》：心者，君主之官，神明出焉。《脈要精微論》：頭者，精明之府。故心有所思，而兩目之精瞳上注於腦，是見心腦貫通之明證。又古文思字，上囟下心，自心至腦，一絲相續不絕，故治心之藥，皆能治腦也。王晉三謂此方之犀、黃、玳瑁，有靈之物，內通心竅，即可上通腦府；珠、雄、二箔，重鎮之品，奠定心神，即可奠定腦神：腦、麝、安息諸香，能搜剔心包絡幽隱諸竅，即可搜剔腦神經幽隱諸隙。故唐、宋以來，凡治督脈之癲狂驚癇，為西醫神經病者，類皆不離此種藥物，故治今日痙病之神昏，亦無非此種藥物耳。西醫只知神經在腦不求心，對於腦脊髓膜炎，概無治法，況治心乎。</p>
<p>（五）牛黃清心丸（《局方》）</p>
<p>［藥品］陝西牛黃（二分五釐）　鏡面硃砂（一錢五分）　黃芩　山梔（各三錢）　黃連（五分）　鬱金（二錢）</p>
<p>［製法］上為末，蒸餅糊丸如黍米大。</p>
<p>［用法］每服七八丸。</p>
<p>［詮義］王晉三曰：此方古有數方，其義各別。若溫邪內陷包絡神昏者，惟萬氏此方為妙。蓋溫熱入於心包絡，邪在裡矣，草木之性，僅能達表，不能透里，必藉牛黃幽香物性，乃能內透包絡，與神明相合，然尤在配合咸宜。萬氏用芩、連、山梔以清心火，鬱金以通心氣，辰砂以鎮心神，合之牛黃佐使之妙，調人犀角、羚羊角、金汁、甘草、人中黃、連翹、薄荷等湯劑中，頗建奇功。</p>
<p>王士雄曰：一方用牛黃、雄黃、黃連、黃芩、梔子、犀角、鬱金、硃砂各一兩，真珠五分，冰片、麝香二錢五分。研，煉蜜丸，每重一錢，金箔為衣，臘匱封護。功效較萬氏為勝。</p>
<p>此方與上至寶丹，皆是治心之藥，可以治腦，故痙病之神昏不清者，洵為良劑。</p>
<p>（六）青黛丸（莊氏方）</p>
<p>［原治主症］小兒天弔客忤，五疳八痢，十二種驚癇。</p>
<p>［藥品］青黛　天竺黃　干蛤蟆（一個，黃泥包裹，燒赤，去泥）　干蝸牛殼　黃連　人參　地龍　鉤藤鉤　龍膽草（各二錢五分）　蘆薈　熊膽（各五錢）　牛黃　麝香　雄黃　硃砂（各一錢）　夜明砂　胡黃連（各三錢）</p>
<p>［製法］研為細末，蒸餅糊丸如麻子大。</p>
<p>［用法］小兒一歲，每服三丸，空腹時米飲送下。</p>
<p>［詮義］此方與下天漿子散，以治小兒先有疳疾而後發生痙病者，開泄厥陰之功，各極其妙。一偏重龍膽、黃連、蝸牛、地龍之涼，一偏重南星、白附、半夏、雄黃之溫，醫者須審察小兒之體質，分別強、弱而用藥。但小兒稚陽，易發痙病，尤不知小兒先有疳疾，而更易發生痙病，蓋小兒血管中，最易沉著毒素，往往沖腦而侵害於目，以致目盲翳障，社會上稱為疳疾入目者是也。今於小兒天釣方中，而用干蛤蟆、夜明砂、天漿子，消疳之聖藥，此古人制方所以絲絲入扣也。干蛤膜，破堅硬，消癰腫，丹溪謂其能發濕中伏火，故治小兒諸疳；夜明砂，即天鼠子矢，天鼠食蚊，而屎乃蚊之眼，蚊囓人血，故其矢能入血管而消化毒素，所以能治目盲翳障也；天漿子，為人屎所化，能腹中堅硬，無異於蛤膜，能散目中翳障，無異於鼠矢，余所施診，無有不效，但痙病一時可愈，而疳疾必須經久乃愈。此種方，治一時之痙病挾有疳疾，而不可嘗服以治疳疾者。如干蛤蟆、天漿子、五穀蟲諸藥，配之於良善藥中，以治疳疾，亦無不效焉。</p>
<p>（七）大黑龍丸（《六科準繩》）</p>
<p>［原治主症］小兒急慢驚風。</p>
<p>［藥品］膽星　礞石（硝煅，各一兩）　天竺黃　青黛（各五錢）　蘆薈（二錢五分）　辰砂　蜈蚣（燒灰，各二錢五分）　殭蠶（五分）</p>
<p>［製法］研為細末，甘草汁和丸如雞頭大。</p>
<p>［用法］每服一丸或二丸，姜蜜薄荷湯送下。</p>
<p>［詮義］此方連下兩鎮驚丸，皆於鎮墜之中寓以開瀉也，然其分別之處，此方用蜈蚣，則弛緩神經之力多；第八鎮驚丸用乳香，則引血下行之力多；第九鎮驚丸用龍齒，則鎮心定驚之力多，醫者須審察用之，不可混並也。</p>
<p>礞石性寒而降，焰硝性熱而升，二藥合制，則一升一降，透上透下，痰飲積聚，一併俱化矣。</p>
<p>（八）鎮驚丸（《證治準繩》）</p>
<p>［原治主症］小兒一切驚癇。</p>
<p>［藥品］琥珀　辰砂　真珠母　青皮　甘草（各二錢五分）　青黛　蘆薈　柴胡　青礞石（硝煅，各五錢）　天竺黃　膽南星（各一兩）　天麻　乳香（各一兩）　雄黃（一錢五分）</p>
<p>［製法］共研細末，甘草膏丸如雞頭大。</p>
<p>［用法］每服一丸，慢驚，參朮湯送下；急驚，薄荷姜蜜湯送下。</p>
<p>（九）鎮驚丸（《證治準繩》）</p>
<p>［原治主症］小兒一切驚癇。</p>
<p>［藥品］茯神（去木）　鐵粉　遠志（去心，薑製炒）　紫石英　人參　琥珀　滑石　蛇黃（煅，醋淬）　南星（泡，各二錢五分）　龍齒　熊膽（各五錢）　輕粉（三分）</p>
<p>［製法］共研細末，煉蜜為丸，如梧桐子大，硃砂為衣。</p>
<p>［用法］每服三五丸，不拘時，金銀蒸湯，磨化服。</p>
<p>（一○）天漿子散（《證治準繩》）</p>
<p>［原治主症］天釣驚風。</p>
<p>［藥品］天漿子（炙）　蠍梢　犀角屑　丹砂（另研）　雄黃（另研）　附子（去皮、臍）　天南星（泡，去皮）　白附子　半夏　水銀（另研）　乳香（另研）　白殭蠶　膩粉（另研）　牛黃（另研，各一錢）　麝香（一字，另研）　銀箔（五片，另研）</p>
<p>［製法］研為細末，和勻。</p>
<p>［用法］每服一字，薄荷湯調下，量兒大小加減。</p>
<p>（一一）奪命丹（謝氏方）</p>
<p>［原治主症］小兒急驚，不省人事，眼定不動，牙關不開，唇白並黑者。</p>
<p>［藥品］天南星　硃砂　半夏（各四兩）　真珠（新白者，二錢）　巴豆（去油淨，一錢）　金箔　銀箔（各十片）　輕粉　麝香（各五分）</p>
<p>［製法］先以南星、半夏研末，用生薑汁和作餅子曬乾，余藥各研細末，和勻，飛羅面打糊丸黍米大。</p>
<p>［用法］每一歲小兒服一丸，燈芯湯送下。</p>
<p>［詮義］此方用巴豆、輕粉之開泄，下方天麻丸再加牙硝，則開泄之力更大矣。現在東醫，能知用巴豆、輕粉以治腦膜炎，未嘗不由於此，而吾國醫界反不敢用，何也？蓋緣不知最急性痙病之暴起者，非用此開泄大劑不能回生於頃刻。麝香之宣竅透毒，巴豆之排膿下積，性極迅速，毫無存留，用治最急性痙病，不霎時，雲散天空，藥到病除，古人立方之奧妙處，非閱歷深者，曷能知之。若夫亞急性與續發性痙病，則未可概論也。</p>
<p>（一二）天麻丸（《仁齋直指方》）</p>
<p>［原治主症］鎮驚下痰；小兒食癇有痰，及吊腸、鎖肚、嘬口等症。</p>
<p>［藥品］天麻　白附子（泡）　馬牙硝　川靈脂　全蠍（焙，各一錢）　天南星（泡，二錢）　輕粉（五分）　巴豆霜（一字，去油）</p>
<p>［製法］研為細末，煮稀麵糊丸，如麻子大。</p>
<p>［用法］每服一丸至十丸，不拘時，薄荷或生薑煎湯下。</p>
<p>（一三）千金龍膽湯（《千金要方》）</p>
<p>［原治主症］嬰兒出腹，血脈盛實，寒熱溫壯，四肢驚掣，發熱大吐哯者。若已能進哺，食實不消，壯熱及變蒸不解，中客人鬼氣，並諸驚癇，方悉主之。</p>
<p>［藥品］龍膽草　鉤藤皮　柴胡　黃芩　桔梗　芍藥　茯苓　甘草（各六銖）　蜣螂（二枚）　大黃（一兩）</p>
<p>［製法］上十味，㕮咀，以水一斗煮。</p>
<p>［用法］取五合為劑，服之得下即止。</p>
<p>［詮義］此痙病開泄厥陰之主劑也。考《千金》論癇與痙皆由於藏氣之不平，則癇之與痙，同一病原，但以病發身軟時醒者為癇，身強直、反張如弓、不時醒者為痙，則其症狀乃有分別耳。然謂諸反張，大人脊下容側手，小兒容三指者，不可復治。是統論癇與痙之危險，似無分別。又其灸癇之法，謂若身強反張，灸大椎至窮骨，是為督脈地位。而痙病之項強背反，亦不能外此督脈地位，似又無分別。予故謂《千金》痙病，混合於癇病之內，而治癇之方，即是治痙之方也。</p>
<p>《千金》此方，以龍膽草命名，取龍膽草直入厥陰之臟，而以大黃排泄於胃腸，此予所以謂為開泄之主劑也。鉤藤氣輕清而性甘寒，擅於鎮驚。張山雷所謂最合稚陰未充、稚陽易旺之體質，誠為不錯。然推測《千金》用藥之奧旨，則鎮痙之力，不在鉤藤而在蜣螂。蜣螂性喜撲火，而腦膜炎之灼熱、潮紅則為火之劇烈者，蜣螂之氣相感召，最易混合，必在《千金》制方用意之中。故凡腦神經之智慧不清者，如大人之癲疾狂妄，小兒之驚癇瘛瘲，皆系干犯神經之病，此藥無不治之。然蜣螂性質，雖喜撲火，受驚則伏頭縮腳而墜，則其性上升而又下降矣；況取糞為丸，衣之以土，倒曳於坎中，其能使腦腔中之漿膿血膿，循腺道而排泄於胃腸又可知矣。此方所以既用大黃，而又用蜣螂也。予於腦膜炎外，嘗用蜣螂以治腹滿脹痛，及頭暈脹痛者，往往獲效。今市醫不究蜣螂之作用，又不推測《千金》用藥之奧旨，用此方而棄此藥，惜哉！</p>
<p>又予以此方為開泄厥陰之主劑，而最急性、亞急性、續發性之痙病，無不主之，但不無加減之法。若照《千金》之重用大黃，則柴胡、桔梗，不嫌其升提；若不用大黃，則升提終嫌未妥，宜審慎之。如表未宣發，則加蔥白、淡豉、荊芥、防風、殭蠶、蟬蛻；裡熱熾盛，則加黃連、黃柏、梔子、木通；合之天麻、蒺藜、桑葉、菊花，則熄風通絡；合之板藍根、馬勃、金銀花、金汁，則解毒逐穢；如頸項強，進而為身體強，則加白花蛇、蜈蚣、全蠍；如巔頂高腫，背脊凸突，則加蝸牛、地龍、牛膝、乳香。活法在人，曷罄所述。予診痙病十有一屆，用此方以活者甚多，即類痙亦愈不少。近見惲氏鐵樵，因痙病頭痛之病形，而推測神昏之病能，悟用此方，先得我心，佩服佩服。余義詳惲氏七味龍膽湯下。</p>
<p>（一四）七味龍膽湯（惲鐵樵）</p>
<p>［特治主症］凡腦膜炎初起，覺腦悶，頭脹痛，眼眶或後腦發酸，唇吻顫動，手腳冷而微抽搐者，此藥立愈。</p>
<p>［藥品］龍膽草（五分）　滁菊（三錢）　川連（四分）　鮮生地　歸身（各四錢）　犀角（三分）　回生丸（半粒）</p>
<p>［製法］前五味煎成，犀角三分磨沖，回生丸半粒和煎化服。</p>
<p>［用法］初起服此藥一劑，其病立愈。徜神昏、讝語、瘛瘲、雙目上視者，加羚羊角三分。六點鐘內服兩劑，可以起死回生，已愈多人，最為穩當𤼏藥之分量，切勿更動。</p>
<p>［詮義］惲氏謂近日流行性腦膜炎，西人說是一種病菌，中國不講菌學。自昨年至今，予之所醫治者，在廿人以上，其不治者，不過四分之一耳。推考西醫之腦膜炎，是神經系病，則與中國之痙病相同，對於《千金方》所說，纖悉畢合。故知西醫之腦膜炎，確是國醫之痙病也。更進而考正《內經》，肝之變動為握。王太僕注：握，是痙攣。因而知神經系病，國醫《內經》屬之肝病。腦膜炎之初步，總是頭痛，古人以肝經頭痛，屬之膽病，故《千金》謂之膽腑病。蓋肝與膽相為表裡，則是少陽乙木化火上炎之故。但其主治法，常苦以降之，龍膽、黃連，正是苦降肝膽之火也。於是參用《千金》治法，以犀角、龍膽、當歸、生地為主藥，其餘隨症加減，竟得成績四分之三。已經神昏讝語者，服之則神志清明；已經目上視者，服之則恢復恆狀。執果溯因，益知推測膽火上逆之不誤。但時醫只知腦膜炎之為傷風、發熱、頭痛、頸項酸，而不知膽氣上逆因而頭痛，且不知因膽氣上逆之頭痛，可致神昏，竟用淡豉、豆卷、石斛等通套之藥。若問其何故神昏，則引葉桂溫邪犯肺、逆傳心包之說，舍此別無理由之可說也。此論頗有會悟，予從惲氏《中醫改進平議》節錄出之，以語體翻成文體，推測腦膜炎為痙病，能知以《千金》龍膽湯為主劑，則惲氏之學識經驗勝人處。但國醫之痙病，屬之督脈，不但《內經》可證，即西醫解剖病理，其病灶在腦與脊，亦可確證。惲氏屬之少陽膽病，終有所不符也。</p>
<p>（一五）加味龍膽湯（時逸人）</p>
<p>［藥品］龍膽草　天麻　云連　牡丹皮　白蒺藜　酒芩（各一錢五分）　生石決明（八分）　雲苓　嫩鉤藤　杭菊　生白芍　全栝蔞（各三錢）　茜草（二錢）　生甘草（八分）</p>
<p>［製法］水煎服。</p>
<p>［用法］舌赤干絳，加生地五分；熱極讝語，加犀角片、羚羊片各八分；痰甚，加竹瀝一兩，枳實一錢；舌蒼黃厚，不大便，加大黃、元明粉各一錢五分；壯熱無汗，加淡豆豉三錢；薄荷葉二錢；惡寒未罷，肢痛，加荊、防各一錢；秦艽三錢；項強，手足掣動，角弓反張，加蠍尾五分；熱甚，舌光絳，爪甲色紅不活，此熱盛津涸，去膽草、黃連，倍白芍，加生地、元參各三錢。</p>
<p>（一六）龍膽瀉肝湯（《局方》）</p>
<p>［藥品］龍膽草　生地　甘草（各三分）　柴胡　澤瀉　黃芩　梔子（各一錢）　當歸（三錢，酒洗）　木通　車前子（各五分）</p>
<p>［製法］上十味，水煎服。</p>
<p>（一七）加減龍膽瀉肝湯（嚴蒼山）</p>
<p>［特治主症］頭痛甚，身熱口渴，目紅如鳩，大使秘結，小便赤澀，脈弦數，苔黃口苦，肝火內燔，風動火升。</p>
<p>［藥品］龍膽草　生山梔　黃芩　赤芍（各二錢）　胡黃連（一錢）　小生地　車前子（包，各三錢）　潼木通　軟柴胡　生甘草（各八分）</p>
<p>［製法］當歸龍薈丸，先空心吞，後服煎藥，每日二次。</p>
<p>［用法］服藥後，大便不通者，去當歸龍薈丸，加生川軍三錢，芒硝一錢五分；頭痛不減者，加羚羊角三分，銼粉化服，並可加玉樞丹以解疫。</p>
<p>（一八）當歸龍薈丸（《局方》）</p>
<p>［原治主症］治肝經實火，大便秘結，小便滯澀，或胸膈作痛，陰囊腫脹等症。</p>
<p>［藥品］當歸　龍膽草　黃連　黃芩　黃柏　梔子（各一兩）　大黃　蘆薈　青黛（各五錢）　木香（一錢五分）　麝香（五分）</p>
<p>［製法］麝香另研調入，余藥共為末，炒神麯水泛為丸。</p>
<p>［製法］每次三分或五分，開水吞服。</p>
<p>（一九）黃芩湯（《傷寒論》）</p>
<p>［原治主症］太陽、少陽合病下利。</p>
<p>［藥品］黃芩（三錢）　芍藥　甘草（炙，各二兩）　大棗（十二枚，劈）</p>
<p>［製法］清水一斗，煮取三升，去滓。</p>
<p>［用法］嘔者，加半夏、生薑。溫服一升，日再服，夜一服。</p>
<p>［詮義］王士雄曰：少陽膽木挾火披猖，嘔是上衝，利由下迫。半夏、生薑，專開飲結。如其熱熾，宜易連、茹。</p>
<p>予以此為亞急性痙病之主劑，而最急性與續發性亦可通用之。若亞急性痙病之發熱頭痛、嘔吐噁心，西醫認為腦膜炎之前驅症候，究為少陽發生之病。今仲景以下利而謂為太少二陽合病，則必於下利之外，既有發熱惡寒、腰背骨節痛之太陽症，又有胸滿心煩或脅痛嘔吐、口苦咽乾目眩之少陽症。故假之以治亞急性痙病初起之發熱頭痛、嘔吐噁心，允為愜當。審其有飲，照加薑、夏；審其熱熾，照加連、茹，或再加龍膽草、川楝子、川牛膝、牡丹皮、桑葉、木通以下降之；如猶惡寒不出汗，則加淡豉、蔥白、薄荷以表散之。</p>
<p>但痙未必下利，下利則不痙矣。不當甘以緩中，大棗、甘草，去之可也。如果下利，則未必發痙。其矢酸臭，或黑黃瀑矢，邪熱自有開泄之路，而又兼脈洪浮數，斷斷不致發痙也。如不下利，而脈沉細澀遲，頭痛甚劇，發痙堪虞。此予之歷驗如此，故特表而出之。</p>
<p>（二十）大承氣湯（《金匱》）</p>
<p>［特治主症］痙為病，胸滿口噤，臥不著席，腳攣急，必齘齒。可與大承氣湯。</p>
<p>［藥品］大黃（四兩，酒洗）　厚朴（半斤，去皮）　枳實（五枚，炙）　芒硝（三合）</p>
<p>［製法］上先煮枳樸，去滓；納大黃煮，去滓；納芒硝煮，更上微火一兩沸。</p>
<p>［用法］分溫再服。得下，余勿服。</p>
<p>［詮義］《金匱》治痙三方，栝蔞桂枝湯、葛根湯，宣發太陽劑也；大承氣湯，開泄厥陰也。然栝蔞桂枝湯、葛根湯兩方，義已詳上。而大承氣湯本是《傷寒論》治陽明胃府之方，而《金匱》以之治痙病，則曰可與者，是開泄陽明胃府，而厥陰之邪熱隨之而下，不致沖激於腦也。唐容川補正《金匱》，以栝蔞桂枝湯、葛根湯、大承氣湯三方，皆為痙病門中主中之賓，非治痙之正方。此論誠是。然以陳修園論痙注中，有由於血少津枯不能養筋脈句，遂以生津血、利筋脈為治痙之正法則非也。蓋生津血、利筋脈則是痙罷調理之法，若當痙發之時，一面宣發太陽、消散水液，一面開泄厥陰、溶解血質，正當汗、下消化血液之不暇，何況生津和血哉。倘以《金匱》發汗太多致痙、風病下之致痙，謂仲景明示以生津血、和筋脈之法，則是誤治致成類痙之療法，非僅汗、下兩端也。今日西醫之誤施注射，致成類痙，猶可以生津血、和筋脈治之；若夫國醫溫熱諸病，誤施溫補，致成類痙，則生津血、和筋脈，得不添薪助油耶。邇來市醫，不辨痙之原因，隨聲附和，總以生津血、和筋脈為能事，戒用汗、下，無怪西醫之腦脊髓膜炎而國醫無解決之日也。</p>
<p>（二一）風引湯（《千金要方》）</p>
<p>［原治主症］除熱癱癇。</p>
<p>［藥品］大黃　乾薑　龍骨（各四兩）　桂枝（三兩）　甘草　牡蠣（各二兩）　寒水石　滑石　赤石脂　白石脂　紫石英　石膏（各六兩）</p>
<p>［製法］上十二味，杵，粗篩，以葦囊盛之。</p>
<p>［用法］取三指撮，井花水三升，煮三沸，溫服一升。</p>
<p>［詮義］陳修園曰：《金匱》：痙病，灸瘡難治。仲景未出其方。《傷寒論》火逆諸方，亦恐其過溫。余用風引湯減去桂枝、乾薑一半，研末煎服，往往獲效。</p>
<p>此方開泄之中，兼以鎮斂。</p>
<p>（二二）瀉青丸（錢乙）</p>
<p>［原治主症］治肝膽實熱，多驚多怒，不能安臥，目斜上視，黑睛緊小，白睛青赤腫痛，大便不通，腸風便血，陰汗躁臭，小兒急驚、抽搐、痰熱、目直竄視。</p>
<p>［藥品］當歸　龍膽草　川芎　梔子仁　川大黃　羌活　防風</p>
<p>［製法］共研細末，煉蜜為丸，如芡實大，水泛亦可。</p>
<p>［用法］每服半丸至一丸，竹葉煎湯，用砂糖溫水化下。或煎竹葉，泡薄荷湯下。</p>
<p>［詮義］此方開泄之中，兼以宣發。</p>
<p>（二三）清瘟敗毒飲（余師愚）</p>
<p>［藥品］生石膏（一兩）　黃芩　赤芍　連翹　牡丹皮　生地　知母　淡竹葉　山梔　玄參（各三錢）　甘草（一錢）　犀角　川連　桔梗（各一錢五分）</p>
<p>時逸人加減法：</p>
<p>痰熱盛，加浙貝五錢，羚羊角一分，磨沖，芒硝一錢，泡沖；喉痹，加山豆根五分，射干五錢，川鬱金一錢五分；項強，加山甲片三錢，桃仁三錢，三七末一錢。</p>
<p>［詮義］嚴氏蒼山謂：此方治各種瘟疫則效，惟治痙病則殺人。蓋嚴氏以痙系血虛之體，表感寒邪，內郁陽熱，非全屬疫氣。必至痙病日久，表寒已從熱化，證見大渴引飲，此方乃用之如神。若陽熱為表寒所郁，不發表清裡，驟進苦寒大劑，內熱甚者，水愈潑而火愈熾，直冒巔頂，頭痛則昏厥立至；內熱輕者，水一至而火頓熄，陽氣式微，內外如冰，四肢厥逆。目睹時醫誤投增劇者，不知凡幾。此為嚴氏閱歷有得之語。然謂誤投此方，水潑火熾，直冒巔頂，頭痛昏厥，則是寒涼壓伏內熱之過，此理自吳又可發明之後，知之者僅見嚴氏一人。陸九芝、張錫純輩，注重白虎湯以治溫熱諸病，未審曾亦遭此挫折否，抑或遭之而不自覺也。予常見治伏氣溫熱諸病，初起壯熱，醫者不知透熱之法，而徒知以白虎清熱，服下登時額鼻厥冷，漸及兩足，如其脈不沉伏，移時復熱，較勝於前：若脈沉伏不起，則體厥而脈隨之以厥者，每致不救。若服此種方而遍變痙病，如嚴氏所謂水潑火熾，直冒巔頂，頭痛昏厥者，予亦遇之，詳第十篇驗案中，不贅。</p>
<p>又嚴氏蒼山曰：疫痙開始以來，自民國十七年冬及十八年正月間，陽氣不藏，霜雪稀少，燠暖異常，身穿棉夾，可以度歲，桃李反花，伏氣之蠅蟻，皆蠢蠢欲動。至二三間，轉見奇寒逼人，非圍爐披裘，不足似禦寒。時令反常，戾氣遊臻。照生理上而言，人身之陽氣，至春則發泄於外，肌肉漸鬆。忽而寒暖不常，起臥失慎，肌腠失其啟閉之職，遂感之而成病，謂之寒疫也可。</p>
<p>然則十九年以後，霜雪甚繁，而疫痙不絕者，抑又何故。推其所因，厥有三害：一曰過暖，一曰煤毒，一曰人氣。今人喜用鴨絨枕墊及鴨絨被帳、毛絨圍巾，非不輕軟適體也。蓋以高年火衰則相宜；少壯陽盛，則熱毒由是而伏矣，其害一。近時煤油燈、煤球爐及一切火爐煤灶，用者只圖便利，殊不知毒由是而受矣，其害二。通商大埠，地隘人稠，往往一椽同住數家，一家聚臥一室，租則省矣，殊不知呼吸之間，酸素不夠輸換，炭氣由是而積矣，紀曉嵐之詩曰萬家煙火暖云蒸、消盡天山太古冰，即此之謂也，其害三。</p>
<p>故疫痙之來路，大概分為二路。十八年之開始流行，為因天時所造成；十九年以後之來路，乃因人事所造成。其由內伏熱毒，再感春寒之所致，則一也。</p>
<p>按：嚴氏此論，一由於天時，一由於人事，則於痙病之原因透發無遺。予居鄉村五十年，診痙病十有一屆，非開始於民國也。開始於民國者，乃腦膜炎之學說自歐美輸入，報紙宣傳自民國始，非前此吾國無痙病也。予旅長沙市三四年以來，所診之病，大半由於溫熱，往往血壓增高，誠有如嚴氏所稱三害者，非獨痙病為然也。然嚴氏謂痙病內伏熱毒，再感春寒，此二語真為扼要之論，佩服佩服。但綜觀嚴氏全集，如自序中有曰，血虛陽旺之人感之，寒束於表，熱鬱於裡，筋脈血虛則乾燥，得寒則拳急，此未必是熱毒內伏矣。又疫痙之症狀篇中有曰，太陽之表既為寒所閉，陽明之熱氣無所發泄，悉湊集於表，醫理所謂寒鬱，物理所謂反動份子作用，亦未必是熱毒內伏矣。然則嚴氏之論痙，譬之藩籬，自築自抉，則於痙病之原因，終無確定之主義。夫以血虛陽旺之體質感寒而發痙，與夫陽明之熱為太陽寒閉而發痙，不過握拳縮爪，或搐搦瘛瘲而已，亦必漸積而成，為國醫痙病之類症；斷無如西醫之腦脊髓膜炎，為國醫之痙病，項強背反、頭搖口噤、齘齒足攣而猝起暴發者，在在有之。嚴氏於痙病之原因，既無確定之主義，而其治療，故分偏寒、偏熱兩門，亦未必一以貫之。是嚴氏之論痙，猶有一間未達也。</p>
<p>（二四）疫痙解毒湯（秦伯未）</p>
<p>［特治主症］此方適應於腦膜炎增進，熱重神昏，角弓反張之裡症者。</p>
<p>［藥品］羚羊角（五分）　白芍　人中黃（各二錢）　菖蒲（一錢五分）　銀花　連翹　滁菊（各三錢）　黃連（六分）　栝蔞（四分）　牡蠣（二兩）</p>
<p>［製法］水煎服。</p>
<p>［用法］熱重，加犀角三分；大便秘，加大黃三錢；津液干，加生地四錢，蘆根一兩。</p>
<p>［詮義］痙病熱毒沖腦，由於厥陰上逆。此方重用牡蠣二兩，合之白芍、黃連以開泄之，此秦氏未發之旨也。</p>
<p>（二五）二子輕清飲（邵逸飛）</p>
<p>［特治主症］痙病初起，病在太陽陽明之表，惡寒，發熱，頭痛，連腦後脊痛，或咳，或小便頻數，或嘔惡胸悶，舌苔白滑或白膩，脈浮弦或帶數。此乃風邪化火，由衛入營之候。宗內經「風淫於內」以立方。</p>
<p>［藥品］薄荷葉　大力子（各一錢五分）　鉤藤尖　滁菊花　香蒿頭　黑山梔（各三錢）　霜桑葉（一錢）　白蒺藜（二錢）　明天麻（五分）　川雅連（三分）　玉樞丹（三分）</p>
<p>［用法］玉樞丹磨，沖；余藥水煎服。</p>
<p>［詮義］邵氏曰：是方與風溫治法相同。蓋痙病初起，與風溫大同小異。《千金》謂溫病熱入腎中則痙，從可知矣。是以痙病初起，不外清涼解表，透肝泄邪。川連一味，熱不盛者可除；如發熱甚者，用以阻風溫入肝，且以平肝氣上衝而為嘔惡耳。</p>
<p>按：邵氏論治痙病之法，完全遵從葉桂溫病治法，故初起溫邪犯肺，則用二子輕清之辛涼香散；逆傳心包，則用金石保津湯、清心牛黃丸、安宮牛黃丸；順傳胃府，則用抽薪保陰湯之大黃、芒硝。此邵氏所謂痙病與風溫之大同處。然二子輕清飲之用玉樞丹，金石保津湯之用石決明，是邵氏之論痙病與風溫小異處。然邵氏既曰痙病初起，不外清涼解表，透肝泄邪，已與溫病治法不同，而得治痙之真訣矣。乃又曰痙病初起在太陽陽明之表，下方則曰陽明燥氣極烈，再下一方則曰陽明府氣燥烈，不得傳送大便。夫痙病雖有太陽陽明之症，然與透肝泄邪之法相隔甚遠，何也，蓋邵氏不能從透肝泄邪之法，悟到火熱內伏由厥陰上衝之理。故論痙病不出葉桂溫病之範圍，而其治療，終無大異處也。</p>
<p>（二六）金石保津湯（邵逸飛）</p>
<p>［特治主症］痙病既成，項脊強痛，身體反張，臥不著席，頭汗齊頸，神昏譫語，時時欲起，舌苔黃尖絳，津少質燥，脈弦數。此乃溫邪化熱，陽明燥氣極烈，急宜存陰保津。</p>
<p>［藥品］鮮生地　生石膏　生石決明（各二兩）　牡丹皮　淡豆豉（各三兩）　肥知母　川雅連（各二兩）　鮮竹茹　鮮石斛　鮮茅根（各五錢）　羚羊角（一錢）　牛黃清心丸（一粒，或安宮牛黃丸等亦可）</p>
<p>［用法］牛黃清心丸或安宮牛黃丸，磨，沖；余藥水煎服。</p>
<p>（二七）抽薪保陰湯（邵逸飛）</p>
<p>［特治主症］溫熱化燥，津液受傷，角弓反張，神昏語糊，少腹堅硬，陽明府氣燥烈，不得傳送大便，結實燥熱亦烈。宗亢則害、承乃制意，立急下存陰法。</p>
<p>［藥品］生石膏（三兩）　鮮生地（二兩）　火麻仁　元參心　人中黃　生紋軍（各三錢）　鮮石斛　鮮蘆根（各一兩）　栝蔞仁（五錢）　元明粉（二錢）　犀角（五分）</p>
<p>［用法］犀角磨，沖；元明粉泡，沖；余藥水煎服。</p>
<p>（二八）梔豉桔梗湯（顧允若）</p>
<p>［特治主症］痙病初起，惡寒發熱，頭項強痛，然口不甚渴，便溲如常，或溲色略帶微黃，此時進以苦辛輕劑，最為中病，此湯主之。</p>
<p>［藥品］生山梔　香豆豉　苦桔梗　蘇薄荷　嫩桑葉　制殭蠶　兒刺（或用晚蠶砂）　杭甘菊　青連翹　小川連　鮮竹茹</p>
<p>［用法］分列如下：咽痛者，加大青葉五錢，紫金錠兩三錠，磨，沖；鼻衄者，加生側柏四錢，鮮茅根五十枝；咳嗆痰多者，加真川貝三錢，白杏仁五錢；胸痞嘔惡者，加廣鬱金一錢五分，天竺黃三錢；如舌苔黃膩者，紫金錠仍可沖服，或香連丸一二錢，白湯送下；如肝膽實火沖激，舌絳色紅者，改用當歸龍薈丸一錢五分，唯有表症者，不可驟用；表裡俱熱者，加青蒿、綠豆，甚則再加生石膏、白知母。</p>
<p>［詮義］顧允若曰：苦辛輕劑，徐之才謂輕可去實，較為藥之氣輕而上浮者，蓋在表之邪，當輕而揚之也。本症溫毒雖與傷寒異，而病毒從口鼻而入，其從表入里，則與傷寒同。故初起如里症未熾，表症方張，當進苦辛輕劑，冀其邪之從外而內者，仍從內而達之於外。此治初起而有表症之要圖也。</p>
<p>按：顧氏之論痙病，即予之所謂續發性痙病也。而顧氏謂痙病由於溫毒，溫毒入自口鼻。夫鼻通肺，口通胃。溫毒犯肺，證見咳嗆喘逆；溫邪犯胃，證見嘔惡胸痞，然顧氏不以為痙病初起之主症，而以為附症，則溫毒入自口鼻之謂何。若發熱惡寒，頭項強痛，外感之入於太陽者有之，伏氣之出於太陽者亦有之。如以咽痛鼻衄、舌色紅絳為初起之憑證，則其病自營而之衛，非自衛而之營。發熱惡寒，頭項強痛，即為伏氣外出之見證；咳嗽喘逆，嘔惡胸痞，亦為伏氣外出之見證。斯時也，毫無痙狀之可據，不得遽謂之痙病。而顧氏於苦辛輕劑之中，或加紫金錠，或加香連丸，或加當歸龍薈丸，佐以苦辛重劑，正予之所謂開泄厥陰者，雖無痙之症狀，而有痙之治療，未為不是，乃何以第二三四諸條，只知清化陽明，治外感內入之溫病，而不知開瀉厥陰，治伏氣外出之溫病，以致第五六兩條，竟成續發性之痙病，而呈莫救之病狀。冤哉。</p>
<p>（二九）加味葦莖湯（顧允若）</p>
<p>［特治主症］表邪化熱，已入陽明經氣。見症惡寒極微，發熱熾盛，頭痛，項背不柔和，口渴喜飲，嘔吐頻作，小溲變色，急進甘涼輕劑，此方主之。</p>
<p>［藥品］活生蘆根　桂府滑石　生山梔　香豆豉　粉葛根　青連翹　天花粉　鮮竹茹</p>
<p>［用法］若陽明熱盛者，合新加白虎湯為一劑，酌加生石膏、知母、寒水石、生苡仁，以清解陽明之熱；若兼四肢麻木者，張石頑謂此即時疫之報使，當即參加解毒，如川連、黃芩、銀花、人中黃、犀角、羚羊角等，均可隨症加減。雖有定法，然須變通也。</p>
<p>（三○）銀花解毒湯（顧允若）</p>
<p>［特治主症］壯熱如烙，尚覺微寒，神識漸蒙，皮膚或現斑點，頭痛項強，嘔吐煩悶。此時溫毒已入陽明血絡，較之陽明經氣，又進一層，非清熱解毒不可。此方主之。</p>
<p>［藥品］金銀花　山豆根　鼠黏子　生山梔　青連翹　馬勃　射干　板藍根　生甘草　小川連　淡黃芩　嫩薄荷　鮮蘆根</p>
<p>［詮義］顧允若曰：此方於清熱解毒之中，加以宣絡舒氣，為溫毒出路。蓋有出路，斷不致上壅。此治法要圖也。</p>
<p>（三一）加味犀角白虎湯（顧允若）</p>
<p>［特治主症］大熱大渴，狂言見鬼，登高棄衣，撮空理線，頭痛如劈，項背牽強，或斑疹焮紅，發頤喉痹等症。此溫毒熾盛，己成燎原，當以清熱解毒重劑與之。此湯主之。</p>
<p>［藥品］烏犀角　羚羊角　上川連　生石膏　生知母　生白芍　鮮綠豆　大青葉　陳年　金汁　金銀花　薔薇露　生苡仁　鮮蘆根</p>
<p>若頭痛如劈，大便硬秘，舌苔如沉香色而堅硬如刷者，可參以承氣法，加生枳實、元明粉，甚則加生川軍以峻奪之，使毒火下泄，則斷不致上壅，此去火抽薪之法也。然本症至此，已入危途。方書有脈弦者生，脈澀者死。然要以陽症得陽脈者生，若過於堅硬如索，亦非佳兆。按：烏犀角、羚羊角及神犀、紫雪等，若至發狂熱極者，均須重用，竟有用至二三錢者。此歷驗之方也。</p>
<p>（三二）犀羚甘露飲（顧允若）</p>
<p>［特治主症］溫毒熱傷血液，經絡不獲營養，則神經性必起有極大變化，為頭痛如劈，為項背強硬，為肢體拘攣，中醫謂之痙病，於小兒，俗謂之驚風。歐醫斷為腦膜炎者，皆系血液為溫毒灼傷，神經為之緊張。此方主之。</p>
<p>［藥品］烏犀角　羚羊角　生山梔　生白芍　生石決明　鮮生地　鮮竹茹　鏡面硃砂　淨明雄黃　金銀花　人中黃</p>
<p>［用法］蚌殼水，代水煎藥。鮮甘露根五兩，打汁，沖；白頸蚯蚓，長約六寸許者二條，井水沖洗，打汁，沖。如蚯蚓不易得者，乾地龍代之，或取鮮細葉菖蒲，重用，打汁，亦佳。</p>
<p>［詮義］按：顧氏所論，至此第五條，乃似國醫之痙病，其餘皆溫病之見症耳。故第一條惡寒發熱，頭項強痛，為太陽溫病之見症，非痙也。第二條之微寒壯熱，口渴喜飲，嘔惡頻作，小溲變色，頭痛，項背不柔，為太陽陽明溫病之見症，亦非痙也。第三條之頭項強，神識漸蒙，皮膚髮現斑點，深入陽明血絡，為陽明溫病之見症，又非痙也。第四條頭痛如劈，項背牽強，大熱大渴，狂言見鬼，登高棄衣，撮空理線，證見陽明腑實，無非為溫病之見症，非痙也。此皆西醫之所謂疑似腦膜炎者。外感之溫病，自外入內，有此症候；伏氣之溫病，自內出外，有此症候，皆不合西醫之腦脊髓膜炎，皆不得謂之痙病。然以第一條之初步處方，顧及厥陰；第四條之中途論脈，而有弦硬如索之象觀之，則知顧氏皆論伏氣溫病，傳出太陽、陽明兩經。若系外感溫病，則第二三四條諸方，已發大陽之表，已清陽明經氣，已瀉陽明腑實，足以清解外感之溫病而有餘矣。乃病至末期而頭痛如劈，而項背強硬，而肢體拘攣，竟成續發性之痙病，何哉，蓋伏氣溫病，愈清涼而愈不得出，愈滋養而伏之愈堅。顧氏之方，皆清涼滋養之品，以故厥陰內伏之火熱不得下泄，終至上衝於腦，發生痙病。則知國醫痙病，關係於厥陰內伏之火熱，不得以治溫病法治之，可概見矣。</p>
<p>（三三）鎮沖玉女煎（顧允若）</p>
<p>［特治主症］陽毒熾盛，陰血素虧，方書所謂肝陰薄弱者，如壯熱頭痛，頭背強直，肢體拘攣，而舌色絳剝（若舌質枯萎如秋葉者，為陰虛已竭，十死八九），脈細而數者，治法於鎮肝清絡之中，當兼顧陰分。此方主之。</p>
<p>［藥品］生石膏　鮮生地　石決明　紫石英　生白芍　肥知母　嫩白薇　杭麥冬　生鱉甲　生壯蠣　靈磁石　川牛膝</p>
<p>［詮義］顧允若曰：此方滋養陰血，導火下行，以清肝熱。此邪實正虛之一法也。</p>
<p>又曰：總之，腦膜炎為溫毒之攻衝於腦者，溫毒即為產生此項病菌之原素，故能治溫病，即能治腦膜炎。固無煩乎抽取脊髓，減輕局部之壓迫，雖不致抽盡脊髓而致他變，然亦非妥善法也。</p>
<p>按：溫病至於末期成痙，則為誤治之過，乃予之所謂續發性痙病者。顧氏謂能治溫病，即能治腦膜炎。此論大有不然。顧氏固能善治溫病矣，而竟至末期，變成痙病，則知前此治溫之法，終非治痙之法。況顧氏不能悟到國醫痙病，屬之督脈，不能符合西醫之腦脊髓膜炎，此顧氏之缺點處。故此第六方不名之鎮督，而名之鎮沖，則見國醫痙病之在沖而不在督也。若陽熱熾盛，陰血素虧，尤當以透熱為急務，熱透矣，徐徐救陰可也。若熱未透而先滋之，則更灼其陰矣，況潛之乎。此方之不可以治正虛邪實也，顧氏閱歷未深，故言之有不當也。</p>
<p>（三四）羚犀解毒湯（嚴蒼山）</p>
<p>［特治主症］疫痙壯熱神昏，起臥不安，舌焦糙無津者，此湯主之。</p>
<p>［藥品］犀角尖（三分，銼粉，金汁化服）　羚羊角尖（三分，銼粉，金汁化服）　葛根（一錢五分）　鮮生地（三錢，淡豆豉）　打鮮石斛　肥知母　京元參（各三錢）　生石膏（四錢）　生白芍（二錢）　益元散（三錢，荷衣包）　玉樞丹（八分，化服）</p>
<p>［製法］水四碗，生地、石斛先煎至三碗，再加余藥，煎至一碗，將犀角、羚羊角、玉樞丹化服。</p>
<p>［用法］牙噤不能開者，銀筷撥開服之；大便久秘者，加生川軍二錢，元明粉一錢；有嘔吐者，加鮮竹茹二錢；口氣臭者，加人中黃二錢，板藍根六錢；家道貧寒者，去犀角、羚羊角，易神犀丹一粒，或紫雪丹四分，均用金汁一兩化服；發斑疹者，加大青葉三錢，炒赤芍二錢。</p>
<p>［詮義］此方嚴氏雖名疫痙，然無國醫痙病之症狀可據，則舌苔焦糙、神昏壯熱、起臥不安，與陽明溫病何異。但此方於滋液清熱藥中加益元散泄之於小便，玉樞丹泄之於大便，中病而又能去病，方法甚為可取。</p>
<p>（三五）薖叟清心醒腦湯</p>
<p>［特治主症］痙病解後，項不強，背不反，或妄言見鬼，或重聽重視，或眼翻不下，或如癡如狂，神識不恢復恆狀，此湯主之。</p>
<p>［藥品］生遠志　鬱金　丹參　天竺黃（各一錢）　犀角片　云連（各一錢）　鮮生地　玳瑁片（各五錢）　琥珀　硃砂（各五分）　燈芯（一握）　淡竹瀝（一瓶）　鉤藤鉤（八錢）</p>
<p>［製法］琥珀、硃砂研末，同竹瀝沖；鉤藤後入；余藥水煎服。</p>
<p>［詮義］予憶清末治一張姓男兒，年近二十歲，春季患痙解後，語時眼翻不下，呼頭大痛，服此方十數劑獲效。爾時不知西醫之有腦脊髓膜炎也。今名之為清心醒腦者，類集一派清心寧神之藥。心神一清，而腦神安熱無恙，故語時而眼不翻、頭不痛也。心腦貫通之理，詳上至寶丹方下。</p>
<p>（三六）大定風珠（吳鞠通）</p>
<p>［特治主症］疫痙久纏，真陰受傷，或因過汗，或因妄攻，神倦瘛瘲，脈氣虛弱，舌絳苔少，時時欲脫者，此方主之。</p>
<p>［藥品］生白芍　生龜板　乾地黃（各六錢）　清阿膠　麥冬（各三錢，連心）　火麻仁（二錢）　五味子（五分）　生牡蠣　鱉甲（各四錢）　炙甘草（一錢）　雞子黃（一個）</p>
<p>［製法］阿膠溶化；雞子黃攪沖；余藥水煎服。</p>
<p>［詮義］溫熱諸病汗下之後，神倦瘛瘲，舌絳苔少，脈微欲脫者，此方本為良劑，然非加人參、鹿茸之大藥不能獲效於頃刻也。痙病而有瘛瘲，痙猶未解，如非真陰受傷、時時欲脫之症，總屬腦與脊腔中之水液、血質尚未清化，遽投滋陰潛陽，恐其人終有神識不清之弊，予見者屢矣。可不慎諸。</p>
<p>（三七）養血泄肝湯（嚴蒼山）</p>
<p>［特治主症］疫痙後，他無所苦，唯頭暈或痛者，肝陽未平熄也。治宜益肝體，損肝用，此湯主之。</p>
<p>［藥品］炒菊花　生白芍　炒丹皮（各二錢）　薄荷炭（八分）　穭豆衣　制首烏　女貞子　嫩鉤藤　北沙參（各三錢）　煅石決（五錢）　明天麻（一錢五分）　荷葉邊（一錢）</p>
<p>［製法］嫩鉤藤後入，余藥水煎服。</p>
<p>［用法］食欲不增者，加淮山藥三錢；口乾者，加金石斛三錢，小生地三錢。</p>
<p>［詮義］痙後頭暈或痛，原因甚多。肝陽未平，只為一症。如腦腔留有瘀血，而其人如癡如狂，時有昏厥之患，診斷上極宜注意。</p>
<p>（三八）加味建中湯（嚴蒼山）</p>
<p>［特治主症］脈虛緩，舌苔白滑，見風若不勝風者，此湯主之。</p>
<p>［藥品］炙黃耆　酒白芍　潞黨參　當歸（各三錢）　川桂枝　炙甘草（八分）　生薑（四片）　大棗（二枚）　飴糖（五錢）</p>
<p>［製法］飴糖溶化，余藥水煎服。</p>
<p>（三九）加味炙甘草湯（嚴蒼山）</p>
<p>［特治主症］痙後脈虛細，口乾者，此湯主之。</p>
<p>［藥品］炙甘草　炒麥冬（各一錢五分）　潞黨參　酒白芍　火麻仁　阿膠珠（各三錢）　桂枝心（六分）　生地（四錢）　生薑（三片）　大棗（四枚）</p>
<p>［製法］阿膠溶化，余藥水煎服。</p>

<h1>第十篇　驗案</h1>
<p>（一）熊春安一案</p>
<p>病者熊春安，年十四歲，江西人，住下黎家坡九十四號熊湖印刷局。</p>
<p>［症候］</p>
<p>既往症：無。</p>
<p>現在症：先日鼻衄，越日夜深五鼓，突呼頭痛，發痙。明晨，西醫診視，斷為腦膜炎。注射不應。下午始請予診。仰臥於床，面赤不語。按脈左手緩弱，右手沉細，忽而弦勁，直上下行；復移診左手亦然；兩頸人迎澎漲跳動。胸挺息喘，肩聳頭搖，目上視。頃刻平，平復作。頭熱烙手，汗出如蒸籠，口鼻氣噴如火烘，神識似明似暗。</p>
<p>［診斷］</p>
<p>病名：最急性痙病。</p>
<p>脈象：左緩弱，右沉細，忽弦勁，直上下行。</p>
<p>舌苔：淡黃，苔有根。</p>
<p>判案：此國醫最急性之痙病。先日鼻衄，為血熱上衝之報使；越日發痙，人迎脈管跳動，胸挺息促，肩聳頭搖，目上視，此真國醫痙病之病態。但病邪犯腦，猶未及脊，故無背反張之一症。《金匱》論痙，其脈之直上下行，必見之於發痙之時。今以沉細之脈，忽而弦勁，直上下行，足證《金匱》痙脈之有徵。現在病者頭熱烙手，汗出如蒸籠，口鼻氣噴如火烘，厥陰火熱，沖激於腦，已達極點。急當開泄厥陰，使火熱下泄，不致侵害腦腔而成炎也。</p>
<p>［處方］龍膽草（三錢）　關柏（三錢）　云連（一錢）　生梔（三錢）　川牛膝（八錢）　蜣螂（二錢）　明麻（三錢）　紅花（二錢）　白芍（八錢）　紫草（三錢）　貫眾（八錢）</p>
<p>先以紫雪一錢，嫩鉤藤一兩煎湯，徐徐灌下。續服此湯。</p>
<p>［預效］此即《千金》龍膽湯加減。重用貫眾，入督；重用牛膝、白芍，引血下行；先服紫雪以宣泄之，明晨便泄黑黃臭矢，其痙必解。</p>
<p>【次診】</p>
<p>脈象：浮大滑數。</p>
<p>舌苔：黃白厚滑，中心罩以黑色。</p>
<p>判案：昨下午六時至夜間九時，灌前藥頭煎二劑，紫雪一錢服完。其父熊宣浦見其昏迷不語，即來詢問，謂前方可續服否。予跟診之，探其頭熱與鼻孔火氣漸減，頭汗亦少，足下微微有汗，則厥陰上衝之火熱似有下降之機。診其脈浮大滑數，其痙欲解矣。囑其父再服前藥，頭煎二劑，紫雪一錢。其父守視達旦，再召予，述如前痙者，周夜只發一次，今晨瀉下黑黃臭矢，神醒，諸症皆退。詢其所苦，唯頭暈腳軟而已。</p>
<p>［處方］川牛膝（四錢）　白茅根（二兩）　龍膽草（三錢）　關柏（三錢）　白芍（四錢）　紫草（三錢）　蜣螂（二錢）　貫眾（四錢）　生梔（三錢）　淡豆豉（三錢）　蘇薄荷（一錢五分）</p>
<p>［預效］此方仍主苦寒瀉熱。重用茅根二兩，合之淡豉、薄荷，清熱透絡。病者痙雖解，而留滯脈絡之餘熱不能遽清也。</p>
<p>【三診】</p>
<p>脈象：左緩長，右緩弱。</p>
<p>舌苔：薄黃苔，右邊舌底干光。</p>
<p>判案：服前藥四劑，病者連日鼾睡，小溲清長，便由黑黃臭矢轉黃瀑，則留滯之餘熱，皆從下泄。唯後腦風府隱隱痛，背脊不舒，冷汗時出，此是督陽遏郁，不能外出衛護周身耳，治當助衛舒陽為要。</p>
<p>［處方］生黃耆（四錢）　當歸（三錢）　白芍（三錢）　葛根（五錢）　鮮石斛（三錢）　麥冬（三錢）　貫眾（三錢）　忍冬藤（一兩）　白菊花（三錢）　生薑（三片）　大棗（三粒）</p>
<p>［效果］服前藥五劑，風府痛除，冷汗止。續予黃耆建中湯加烏梅一粒。愈後宣浦贈予「腦膜炎聖手」方箋千紙志謝。</p>
<p>（二）李男孩一案</p>
<p>病者李男孩，年十二歲，寶慶人，住學宮門十九號。</p>
<p>［症候］</p>
<p>既往症：無。</p>
<p>現在症：肄業孔道學校。突呼頭痛、昏僕於地，比輿至寓，刺其十指瓜甲，血色初黑後鮮血。急召予診。身臥於床，探其頭熱如烙，足冷如冰，轉側向左，右手拘攣，右足直伸，頭向後反，目珠上竄，神昏不語，時或呻吟。</p>
<p>［診斷］</p>
<p>病名：最急性痙病。</p>
<p>脈象：沉細澀遲。</p>
<p>舌苔：灰白厚膩。</p>
<p>判案：此國醫最急性之痙病，故一呼頭痛，人即昏僕也；刺其指甲，血色鮮紅，決無危險；但病者脈象沉細澀遲，當其轉側向左之時，右手拘攣，右腳直伸；重診其脈，似有直上下行之概，是毛竅閉塞，血管為之緊急也；況病者頭上如烙，足下如冰，火爐焰焰，臥室燠暖，不見汗出，急當宣發太陽，使其周身汗出，則毛竅開而血管流通，庶幾體溫調節，不致上奔，則腦與脊不受侵害，炎何由而成耶。</p>
<p>［處方］葛根（五錢）　麻黃（一錢）　桂枝（一錢五分）　白芍（四錢）　川牛膝（四錢）　全蠍（一錢，洗淨）　川蜈蚣（一錢，炙焦）　粉草（一錢）　生薑（三片）　蔥白（五枚）</p>
<p>先以飛龍奪命丹五錢，研末，用豆豉、蔥白煎湯，徐徐灌下。續服此湯。</p>
<p>［效果］昨下午至夜，以服飛龍奪命丹灌下，嘔吐汗出，漸見轉側向右，不見右手拘攣、右足直伸矣，夜深人似鼾睡，不復呻吟。服完前湯，頭熱退，足冷溫，今晨諸症悉平，脈象浮緩，舌苔薄白。續與人參桂枝湯全愈。</p>
<p>（三）龍男孩一案</p>
<p>病者龍男孩，年五歲，新化人，住下六鋪街二百零一號。</p>
<p>［症候］</p>
<p>既往症：無。</p>
<p>現在症：先夕隨父遊玩外出受驚，不得安寐，天曉發熱頭痛，手足搐搦，比經西醫注射不應。國醫主葛根湯加羌活、防風、秦艽，又不應。至一星期，始請予診。下午潮熱，兩顴紅豔，腦後枕骨與臀腿撐持其身，仰臥於床，如槓粱扛起之狀，兩膝豎立，不能直伸，兩目上竄，瞳神活潑，時叫痛苦，「爸爸」、「媽媽」，呼不絕口。</p>
<p>［診斷］</p>
<p>病名：亞急性痙病。</p>
<p>脈象：浮洪弦數，直上下行。</p>
<p>舌苔：絳底，黑苔起刺不焦。</p>
<p>判案：此國醫亞急性之痙病。病者角弓反張，脊背如槓粱之狀，則督脈之緊急極矣；脈象弦數，直上下行，又於浮洪見之，似難免於危險。幸連日瀉下黑黃臭矢，熱毒外噴，雖腦與背髓混濁，亦不致於內塞，故顏面赤不青慘，目上竄，瞳神不呆，舌苔黑刺不枯燥，且神識尚未昏迷，情志尚未煩躁，此皆有一線生機未絕，猶可圖治。</p>
<p>［處方］龍膽草（三錢）　云連（二錢）　關柏（三錢）　生小梔（三錢）　貫眾（八錢）　川牛膝（八錢）　白芍（八錢）　蜣螂（三錢）　全蠍（三錢）　川蜈蚣（一錢，炙焦，研末，沖服劑）　白花蛇肉（一錢，炙焦，研末，沖服）</p>
<p>先以紫雪一錢，用忍冬藤煎湯，徐徐吞服。續服此湯。</p>
<p>［預效］此治痙之大劑，於極苦寒藥中，加入全蠍、蜈蚣、白花蛇，直入督脈，則角弓反張之症一除，而諸症自可續平。</p>
<p>【次診】</p>
<p>脈象：浮長數。</p>
<p>舌苔：絳底，黑苔厚膩。</p>
<p>判案：服前藥五帖，周身微微汗出，夜間稍得安寢，不呼「爸爸」、「媽媽」矣；背頗柔軟，不作槓粱之狀；脈象長數，不復上下直行。病勢漸滅，大為可慶。</p>
<p>［處方］龍膽草（三錢）　川連（一錢）　關柏（三錢）　白芍（四錢）　川牛膝（四錢）　貫眾（八錢）　蜣螂（一錢）　全蠍（一錢）　川蜈蚣（五分，炙焦，研末，沖服）　白花蛇（五分，炙焦，研末，沖服）　生山梔（三錢）</p>
<p>［預效］前方既已得效，再服原方，分量輕減，續當獲效。</p>
<p>【三診】</p>
<p>脈象：浮長而滑。</p>
<p>舌苔：絳底，黑苔薄黃。</p>
<p>判案：服藥四劑，昨夜口渴，汗出不休，便泄黑黃瀑矢，小便由赤轉黃，下午及夜不潮熱，目不竄，背不反張，兩腳能屈。唯頭暈，周身骨節疼痛，唇裂出血，不能起立，則是便瀉已久，血液虧耗，邪去正亦衰矣。</p>
<p>［處方］西洋參（三錢）　鮮石斛（五錢）　鮮淮地（一兩，絞汁沖服，滓入藥）　鮮茅根（一兩）　元參（三錢）　蟬蛻（三錢）　桑葉（三錢）　忍冬藤（一兩）　紅花（一錢五分）</p>
<p>此方於滋養血液之中，加以宣通脈絡，使餘熱外散，不致留滯耳。</p>
<p>【四診】</p>
<p>脈象：浮數。</p>
<p>舌苔：紅底，薄黃苔。</p>
<p>［判案］服前藥三劑，已能安寢矣。忽一夜不得臥寐，燥熱自汗，渴飲熱茶，自頸項、肩背、胸腋，遍發紅疹，西醫所謂匍匐疹者是也。乃知前此之骨節疼為發疹之先兆。予之前方，欲使熱盡從外散者，亦即此意也。</p>
<p>［處方］元參（三錢）　犀角片（三錢）　白茅根（一兩）　土銀花（一兩）　連翹（三錢）　知母（一錢五分）　蟬蛻（三錢）　蘇薄荷（一錢五分）　生山梔（三錢）　淡豆豉（三錢）　紫背浮萍（三錢，去泥沙）</p>
<p>［預效］國醫痙脈，唯恐其不浮數耳。前既浮數已退，旋而浮數，法當於清血解毒藥中，使之宣泄外出；既出，又當使之消散，此方是也。</p>
<p>【五診】</p>
<p>脈象：浮緩。</p>
<p>舌苔：紅底，溲黃薄苔。</p>
<p>判案：服前藥六劑，紅疹消滅無跡，骨節疼痛平，諸症悉除，唯略有咳嗽耳。此病化險為夷，猶能治愈者，一在熱毒內潰，自行排泄於大便，故症雖險惡，而無神識昏迷之狀；一在脈象浮數，陽症陽脈，而熱毒易於透發，不致沉伏內藏。現在諸症悉平，只須甘淡以養液而已。</p>
<p>［處方］西洋參（二錢）　鮮石斛（五錢）　白茅根（五錢）　生扁豆（五錢）　炒苡米（三錢）　栝蔞霜（三錢）　桑葉（三錢）　粉草（一錢）　枇杷葉（三錢）</p>
<p>［效果］續予溫養諸劑，飲食漸增，全愈。</p>
<p>（四）唐男孩一案</p>
<p>病者唐男孩，安化人，住高井巷九號。</p>
<p>［症候］</p>
<p>既往症：昨春隨父之安鄉，驚風一次。</p>
<p>現在症：今春發熱三日，身重喜眠睡，服羌、防、柴、葛溫散諸藥，燈火炮灸，更添煩躁不寐。今早天曉，猝然頭向後反，顴赤，目上視，如天釣狀，俄而神昏頭搖，齘齒足攣，一小時，汗出即罷，罷復作，鼻煽氣促，四肢厥冷，口鼻之氣亦冷，小溲如烙，便瀉黑矢。</p>
<p>［診斷］</p>
<p>病名：亞急性痙病。</p>
<p>脈象：左似有似無，右沉伏不見。</p>
<p>舌苔：深黃薄苔。</p>
<p>判案：此國醫亞急性之痙病。《金匱》以痙病至於腳攣急、口齘齒，與承氣湯下泄陽明胃腑。今病者便瀉黑黃醬矢，深入營分之邪業已潰出，胃腸無須硝、黃排泄矣。前醫誤用羌、防、柴、葛、燈火炮灸，遂致厥陰邪陷，不復外出，六脈沉伏，四肢厥冷，口鼻之氣亦冷，深合六經為病，厥深熱深，屬諸厥陰之旨。近世以知覺神經疾患屬之心包絡，運動神經屬之肝臟，此兒痙作神昏，痙罷神清，心包絡其無恙乎。則專以厥陰肝臟為治矣。</p>
<p>［處方］龍膽草（三錢）　云連（一錢）　關柏（三錢）　生山梔（三錢）　鬱金（三錢）　川牛膝（五錢）　貫眾（五錢）　蜣螂（三錢）　明麻（三錢）　紫草（三錢）　白芍（五錢）</p>
<p>先以紫雪一錢，用嫩鉤藤煎湯，徐徐送下，續服此湯。</p>
<p>［預效」此方於千金龍膽湯中，加入牛膝、白芍、紫草、貫眾、紫雪諸藥，宣泄營分伏熱，則脈必出，厥必回，口鼻必溫。可預決也。</p>
<p>【次診】</p>
<p>脈象：脈浮滑數。</p>
<p>舌苔：由黃轉黑，舌底白膩滿布。</p>
<p>判案：一日一夜，服前藥頭煎兩劑。翌晨，其叔踵門告曰：昨夜小侄得睡矣，天曉，手足不厥，口鼻之氣亦溫，鼻孔不張，喘促亦平。電召吾兄安鄉今日歸省，可以得見其子矣。比召往視，脈浮滑數，舌苔由黃轉黑，仍主前方。三日夜，服盡六劑頭煎，痙病乃平。又召診，其母稱：其兒似覺胸膈滿悶，咳嗽頻作，唇口燥烈，渴不多飲。厥陰伏熱下泄，而濕痰上壅肺胃，此所以右脈往來替之，確似滑象，而舌底白膩滿布，罩以黑苔也。</p>
<p>［處方］栝蔞實（一枚）　浙貝（五錢）　生遠志（三錢）　鬱金（三錢）　生山梔（三錢）　川連（一錢）　黃芩（三錢）　杏仁（三錢）　桑葉（三錢）</p>
<p>［預效］豁痰化濕，疏通上焦肺胃，冀其胸開咳止。</p>
<p>【三診】</p>
<p>脈象：左浮緩，右浮滑。</p>
<p>舌苔：深黃有根。</p>
<p>判案：服前藥四劑，便瀉黃瀑，眼起漿，鼻流涕，齒牙潤澤，手指光亮，但咳嗽胸悶如故，加之昏沉嗜臥，鎮日不醒，語音低小，其母呼之，必以耳就其口而聽之，則是濕痰阻其氣機，以致沉悶不語耳。</p>
<p>［處方］栝蔞實（一枚）　浙貝（三錢）　建菖（一錢）　川連（一錢）　橘皮（一錢）　生遠志（三錢）　紫菀（三殘）　生山梔（三錢）　桑葉（三錢）　杏仁（三錢）</p>
<p>［預效］此方辛以開濕，苦以泄熱，兼之豁痰運樞，舒暢氣機，而咳嗽胸悶、沉眠不醒之症自蠲。</p>
<p>【四診】</p>
<p>脈象：左細數，右浮緩。</p>
<p>舌苔：底干光，尖絳無苔，中心黑苔起刺。</p>
<p>判案：服前藥二劑，胸開咳止，聲音朗大，不致發生喑啞矣。但唇燥口渴，沉眠齘齒，合參舌絳苔黑，則是濕痰一開，氣機稍舒，而蘊伏厥陰之餘熱再出。</p>
<p>［處方］大光參（一錢）　鮮石斛（三錢）　白茅根（八錢）　粉丹皮（二錢）　桑葉（二錢）　白芍（二錢）　黃芩（二錢）</p>
<p>浙貝（三錢）　鬱金（一錢）　栝蔞實（三錢）　紫菀（二錢）</p>
<p>［預效］豁痰涎，運樞機，是王孟英生平得力之處。茲仿之，加以養液清營，而蘊伏厥陰之餘熱當可透出也。</p>
<p>【五診】</p>
<p>脈象：左滑數，右虛數。</p>
<p>舌苔：干光無苔。</p>
<p>判案：服前藥四劑，再便黑矢數次，從此神識清醒，不復沉眠矣。但咳嗽未除，唇燥口渴，更增咽喉紅腫。循流溯源，厥陰之邪，侵入少陰，故嗜臥，為少陰欲寐之症，咽喉紅腫，即少陰咽病之症，是以痙罷而諸症疊發也。</p>
<p>［處方］西洋參（一錢）　天冬（三錢）　元參（三錢）　鮮生地（五錢）　旱蓮草（三錢）　浙貝（三錢）　牛蒡子（三錢）　白茅根（五錢）　栝蔞實（三錢）　桑葉（三錢）　知母（一錢）</p>
<p>［效果］服前藥五劑，諸症漸退，飲食漸進，更以甘淡兼鹹寒，全愈。</p>
<p>（五）申男孩一案</p>
<p>病者申男孩，年三歲，寶慶人，住學宮門九號。</p>
<p>［症候］</p>
<p>既往症：乳齒蟲蝕，指尖肥大，肚腹脹大。</p>
<p>現在症：初發熱嘔吐，有酸臭氣，國醫主平胃散加藿香、法夏等藥，嘔止熱不退；更醫主桑菊飲，熱亦不退，延一星期，突然發痙，前此肚腹脹大而陷沒如舟矣，兩目上視，頭向後反，巔頂高腫，顏面赤色，唇皮焦裂，神昏不語，入夜壯熱無汗，口渴欲飲，喂水頻吞。</p>
<p>［診斷］</p>
<p>病名：續發性痙病。</p>
<p>脈象：初次兩部關紋青紫。</p>
<p>舌苔：紅底，黑黃薄苔。</p>
<p>判案：此國醫續發性之痙病。時已三月，春寒欲解，伏邪溫病，從少陽而出，發熱嘔吐，前醫主服平胃散，嘔吐雖止，而蒼藿樸夏，溫燥傷胃，堵截少陽出路，以致伏藏厥陰之熱毒，衝犯督脈，突然發痙。倘加泄瀉，斷為脾虛慢驚，遽服莊氏加味理中輩，其不死得乎。此兒巔頂高腫，肚腹陷沒，正符西醫所謂腦膜炎者，國醫古法，高者抑之，治當消腦中之炎，退頂上之腫，使水液血質外散下泄。然小孩體質未充，豈任大力攻伐？幸胃腑猶吸收乳食，喂水頻吞，生機其在是乎。</p>
<p>［處方］龍膽草（一錢五分）　云連（八分）　關柏（一錢五分）　川牛膝（三錢）　貫眾（三錢）　紫草（三錢）　蜣螂（一錢）　生山梔（一錢）　干蝸牛（三分，研末，沖服）　乾地龍（三分，研末，沖服）　淡豉（一錢）　青蔥（三根）</p>
<p>先以紫雪五分，用西洋參蒸水徐徐灌服，續服此湯。</p>
<p>［預效］紫雪芬涼透表，鹹寒泄里，此方從苦寒開泄厥陰之裡，加蔥豉宣散太陽之表，更重用牛膝、膽草、蝸牛、地龍，消化腦腔中之水液血質，排泄下出，冀其巔頂平塌，諸症隨之而瘳。</p>
<p>【次診】</p>
<p>脈象：初次兩關仍青紫。</p>
<p>舌苔：紅底，中心黃苔。</p>
<p>判案：服前藥三劑，其母述微似有汗，熱罷，昨日以來，唇能張縮，似有哭狀，神識似有清明之象，兩目時竄，頭時後反，痙將解矣。渴飲溲赤，初便硬後溏，色黃黑，巔頂略平，足徵熱毒下趨，上攻力微。仍主前方，略加斟配。</p>
<p>［處方］川牛膝（一錢五分）　紫草（二錢）　白茅根（三錢）　龍膽草（一錢）　關柏（二錢）　貫眾（一錢五分）　蜣螂（一錢）　干蝸牛（三分，研末，沖服）　乾地龍（三分，研末，沖服）　生山梔（一錢）　蘇薄荷（五分）</p>
<p>［預效］此方即前方減小其劑，必須巔頂平塌，方予更方。</p>
<p>【三診】</p>
<p>脈象：初次兩關紫而不青。</p>
<p>舌苔：紅底，中心有黃苔。</p>
<p>判案：前方續服三劑，便瀉黑黃穢水，目不上竄，頭不後反。忽一夜，肚腹脹大而巔頂平塌，《金匱》論痙，暴腹脹大為欲愈，此兒可以證之，況乳食頻增，預後佳兆。但其母素艱於乳，哺啜餅乾雜糧，齒牙蟲蝕，指尖肥大，病起嘔吐，有酸臭之氣，不免疳積宿恙。此際痙勢已罷，兼治其疳可也。</p>
<p>［處方］西洋參（一錢）　鮮石斛（三錢）　白芍（一錢五分）　枯芩（一錢）　粉丹（一錢）　桑葉（一錢）　胡黃連（一錢）　蜣螂（一錢）　干蛤蟆（小者，一個）　五穀蟲（二分，研末，沖服）　雞內金（一錢）</p>
<p>［預效］此方養胃生液，運脾消滯，清肝膽之積熱，解脈絡之毒質，冀大便時下腐穢，疳積漸消。</p>
<p>【四診】</p>
<p>脈象：初關淡紅。</p>
<p>舌苔：紅底，中心薄有黃苔。</p>
<p>判案：服前藥六劑，兩日服完一劑，大便時下腐穢，腹脹漸漸見消，但小兒挾疳發痙，善後最難，只當養胃運脾，兼消疳積，久久守服，別無良策。</p>
<p>［處方］西洋參（一錢）　鮮石斛（三錢）　苡米（三錢，炒）　扁豆（三錢，炒）　雞內金（一錢）　胡黃連（八錢）　夏枯珠（三錢）　干蛤蟆（小者，一個）　蜣螂（一錢）　白芍（一錢五分）　五穀蟲（三分，研末，沖服）</p>
<p>［效果］前藥出入加減進數十服，乳食增進，肌體漸完，疳疾宿恙，可告全瘳。</p>
<p>（六）王森發一案</p>
<p>病者王森生，年二十四歲，江西人，住金家碼頭二十一號。</p>
<p>［症候］</p>
<p>既往症：淋。</p>
<p>現在症：病痙一星期，發熱頭痛嘔惡，西醫檢驗，認為腦脊髓膜炎，注射血清不效；續經國醫主葛根湯加當歸、細辛亦不效，乃請予診。側臥於床，頭向後反，兩眼上竄，瞳神縮小，兩腳彎曲，膝靠於腹，面色炲如煙煤，周身並四肢厥冷，默默不語，但自知唾粉紅稠痰。</p>
<p>［診斷］</p>
<p>病名：亞急性痙病。</p>
<p>脈象：似有似無，沉微欲絕。</p>
<p>舌苔：厚膩黃濁。</p>
<p>判案：此國醫亞急性之痙病，脈象沉微欲絕，證見四肢厥逆，危險已達極點。尋思神志安靜不躁，氣息和平不喘，口雖默默不語，猶知唾吐痰沫，徵諸內臟生機猶有一線未絕。前此國醫仿仲景傷寒脈微欲絕，用當歸四逆法，主葛根湯加當歸、細辛，似欲從厥陰之裡，宣發太陽之表，未為不是，但麻、辛只能散寒，不能泄熱；歸、芍只能調營，不能逐瘀，此種大症，此藥何濟？非選用宣發太陽之大劑，配入開泄厥陰之重藥，何能使周身之毛竅得開，而新陳代謝之交換如故？又何能使周身之血管得通，而體溫之調節如故？故此病開始著手處，必在透汗，汗透則脈乃出，厥可回。前此葛根湯之不能透汗者，蓋選藥之不當，不能深入重圍，使之潰邪外出耳。</p>
<p>［處方］龍膽草（三錢）　云連（一錢）　關柏（三錢）　生山梔（三錢）　川牛膝（八錢）　蜣螂（三錢）　白芍（八錢）　全蠍（三錢）　全蟬蛻（五錢）　紅花（三錢）　麻茸（一錢）　青蔥（五枚）　淡豆豉（三錢）　苦蘇酒　童便（各一杯，沖服）</p>
<p>先以飛龍奪命丹五分，研末，用蔥豉煎湯，徐徐沖服，續服此湯。</p>
<p>［預效］此方注重透汗，而不注重下泄，仿仲景療治卒死大症，用麻黃煮取，取名還魂之意。故宣發太陽之藥，倍於開泄厥陰之藥也。今病家一日一夜守服二劑，溫室暖被，以便汗出為要。</p>
<p>【次診】</p>
<p>脈象：沉細弦長。</p>
<p>舌苔：厚膩黃濁。</p>
<p>判案：服前藥二劑，明日下午再診，脈象沉細弦長，長則氣治，弦則有可生之機，況病家述稱微似有汗，則毛竅有欲開之兆，昨夜欲溲，自知解褲，則神經較前有知覺矣。此病太陽寒冷外閉之症重，而厥陰火熱內伏之症輕，仍當遵守原方，汗透周身，諸症自減；但不更衣一星期，亦當兼顧。</p>
<p>［處方］龍膽草（三錢）　云連（一錢）　關柏（三錢）　生山梔（三錢）　川牛膝（八錢）　白芍（八錢）　紅花（三錢）　全蠍（三錢）　全蟬蛻（五錢）　麻黃（一錢）　蜣螂（三錢）　青蔥（五根）　淡豆豉（三錢）　苦酒　童便（各一杯，沖服）　玉樞丹（二枚，磨化，沖服）</p>
<p>先以飛龍奪命丹五錢，研末，用蔥豉煎湯調服，續服此湯。</p>
<p>［預效］此方以玉樞丹協連、柏、龍膽、山梔、牛膝、白芍，開泄厥陰之裡，以飛龍奪命丹協蔥、豉、麻黃、全蠍、蟬蛻，宣發太陽之表，合而為劑，究之開泄之力輕，宣發之力重，俾其汗透周身，庶幾諸症漸退。</p>
<p>【三診】</p>
<p>脈象：浮細長數。</p>
<p>舌苔：黃濁薄膩。</p>
<p>判案：間日一診，初服二劑，病家見其口似魚喝，知其欲飲，頻頻灌之，晝夜罄二三瓶，周身濕潤，汗出不絕；服至四劑，便泄兩次臭黃瀑矢，小溲短赤，從此渴飲時作，四肢漸溫，兩目不竄，身能轉側，神昏得醒，時呼痛苦，唯發生咳嗽，唾吐綠痰。此太陽之寒冷不閉，而厥陰之火熱外透，故咳唾綠痰，現出少陽膽汁之色耳。</p>
<p>［處方］白芍（八錢）　云連（一錢）　龍膽草（三錢）　蘆薈（三錢）　膽星（三錢）　竹瀝製半夏（六錢）　建黛（三錢）　桑葉（三錢）　玉樞丹（一枚，磨化）</p>
<p>［預效］此方完全苦降，雖有南星、半夏之辛，而制之以牛膽、竹瀝，則亦苦矣，使膽火不致上衝，斯咳嗽可除，綠痰則化耳。</p>
<p>【四診】</p>
<p>脈象：浮細長滑。</p>
<p>舌苔：淡黃薄膩。</p>
<p>判案：服前藥十劑，咳松，綠痰亦少，頗思粥食，唯頭暈痛、口苦、背脊不舒耳。</p>
<p>［處方］西洋參（二錢）　竹瀝製半夏（三錢）　明麻（三錢）　白芍（三錢）　枯芩（三錢）　桑葉（三錢）　廣皮（一錢五分，鹽水炒）　川連（一錢）　紫菀（二錢）　杏仁（三錢）　茯苓（三錢）　枳實（三錢，鹽水炒）</p>
<p>［效果］服前藥十數劑，諸恙漸痊，續予六君子湯加川連、白蒺藜善後。</p>
<p>（七）郭壽元一案</p>
<p>病者郭壽元，年四十歲，衡陽人，住忍園一號。</p>
<p>［症候］</p>
<p>既往症：無。</p>
<p>現在症：初發熱，頭痛嘔吐，國醫誤主理中湯加桂枝，因其吐物味酸，更主烏梅丸，由是上嘔碧綠痰涎，下瀉紅水血塊；過一星期，發痙，臥床不起，始請予診。顏面紅豔，兩眼如鳩，頭向後反，反罷動搖，搖則兩眼上翻，背脊反張，手指厥冷，兩足屈曲，張口不語，晝夜七八作。</p>
<p>［診斷］</p>
<p>病名：續發性痙病。</p>
<p>脈象：沉微欲絕。</p>
<p>舌苔：絳底，黑糙。</p>
<p>判案：此國醫續發性之痙病。然初起發熱頭痛，嘔吐酸物，則是伏氣溫病欲從少陽而出，不有理中湯之溫補、烏梅丸之酸斂，曷能從厥陰侵犯督脈，發生痙病也。然溫斂諸藥，不發生壯熱煩渴，反現出脈伏肢冷之假象，幸上吐碧綠痰涎，下瀉紅水血塊，雖為險惡之症，亦為生活之機。設使熱毒內沖，全不外潰，則腦與脊腔之水液血質，一併腐化，安有生理之可言？治當清熱解毒，通絡化瘀為急，若徒養血滋液，慮其涸竭，則於病情終未當也。</p>
<p>［處方］鮮淮地（四兩，酒浸，絞汁沖服，其滓入煎）　云連（一錢，鹽水炒）　關柏（三錢，鹽水炒）　紫草（三錢）　茜根（三錢）　川牛膝（八錢）　旱三七（三錢）　槐花（一兩）　貫眾（一兩）　旋覆花（三錢，布包）　蜣螂（三錢）　紫雪（一錢，沖服）</p>
<p>綠豆一升，煮水煎藥。</p>
<p>［預效］此方清熱解毒，通絡化瘀，務須脈出厥回，乃為此病初步之效驗。囑其一日一夜，煮二三頭煎，徐服。</p>
<p>【次診】</p>
<p>脈象：沉細遲。</p>
<p>舌苔：絳底，黑黃起刺。</p>
<p>判案：服前藥五劑，脈出厥回，便瀉紅水血塊變作黑黃醬矢，口已不張，便時欲起於床，以哭意示之，則神經似有知覺矣。西醫謂腸熱為窒扶斯菌所致，而腦膜炎為雙球菌所致。此病兩症齊發，其為窒扶斯菌乎，抑為雙球菌乎？觀此則雙球菌之不足為腦膜炎原因也明矣。前方既效，囑病者再服五劑，漸見頭不動搖，目不竄視，背不反張，而日晡至夜五鼓，潮熱、自汗、口渴，生機勃勃乎動矣；語音低小，能呼巔頂灼痛，大椎壓痛，腰背痠痛，則督脈自尾閭貫脊至頂，無一不痛之處。通絡化瘀，排膿解毒，是為正治。</p>
<p>［處方］川牛膝（八錢）　旱三七（三錢）　貫眾（八錢）　龍膽草（三錢）　云連（一錢）　桃仁（三錢）　蜣螂（三錢）　鮮淮地（四兩，酒浸，絞汁，沖服，其滓入煎）　槐花（一兩）　乾地龍（五分，沖服）　紫雪（五分，沖服）</p>
<p>［預效］此方通絡化瘀，排膿解毒。服之痛除，猶非預效，唯沉細而遲之陰脈，必變作浮大而數之陽脈，方為脫險入夷；日晡潮熱，明晨五鼓乃罷，溫度既能高壓，陽脈決其必至，斯為此病生死之關鍵。</p>
<p>【三診】</p>
<p>脈象：沉弦數。</p>
<p>舌苔：絳底，黃糙薄苔。</p>
<p>判案：服前藥五劑，神識清醒，呻吟不絕，然不呼巔頂、腰椎諸痛矣，但晝夜不得安眠，自日晡至明晨五鼓，潮熱煩躁口渴。前此便泄瘀腐太多，營陰虧耗無疑，治當滋養血液，兼散餘熱，倘脈由沉弦變作浮數，則周身微微汗出，日晡及五鼓潮熱自解。</p>
<p>［處方］西洋參（三錢）　元參（三錢）　鮮淮地（五錢）　旱蓮草（五錢）　天冬（三錢）　知母（三錢）　土銀花（一兩）　青蒿梗（五錢）　淡豆豉（三錢）　升麻（一錢）　蘇薄荷（一錢五分）</p>
<p>［預效］病者數脈成尤在沉弦之內，則衛陽陷入營陰，非陰虛陽越之象，故此方於滋養營陰之中，配入青蒿、豆豉、薄荷、升麻以升散衛陽也。</p>
<p>【四診】</p>
<p>脈象：浮弦長。</p>
<p>舌苔：紅底，溲黃薄苔。</p>
<p>判案：服前藥五劑。服至第二劑，漸見安寢，能熟睡矣，然脈不浮數而浮弦，日晡至五鼓潮熱不罷，則衛陽終為營陰遏郁，務須溫養衛陽，而體溫乃能調節，非滋陰散陽所能為力也。</p>
<p>［處方］西洋參（二錢）　當歸（三錢）　撫芎（二錢）　白芍（三錢，酒炒）　生黃耆（三錢）　紅柴（三錢）　炙草（一錢五分）　生地（五錢）　生薑（三片）　大棗（三枚）　知母（三錢）　青蒿（三錢）</p>
<p>［效果］服之四五劑，周身汗出，日晡及五鼓潮熱乃罷，頗嗜粥食，改用炙甘草湯加黃耆十數劑，諸症悉愈。</p>
<p>（八）彭昆臣一案</p>
<p>病者彭昆臣，年七歲，湘鄉人，住永湘新街七十三號。</p>
<p>［症候］</p>
<p>既往症：無。</p>
<p>現在症：初頭痛嘔吐，發熱自汗口渴，國醫主二陳湯加藿香、砂仁，嘔止，頭痛如劈，比夜初鼓，突然發痙，神昏不語，兩眼上翻，頭動搖，汗出如雨，兩顴發赤，巔頂烙熱，背脊反張，指甲青紫，時作乾嘔。</p>
<p>［診斷］</p>
<p>病名：續發性痙病。</p>
<p>脈象：沉細遲。</p>
<p>舌苔：黃糙。</p>
<p>判案：此國醫續發性之痙病。首夏將屆，春寒欲解，正值痙病欲罷之時而竟發痙者，當其頭痛嘔吐之時，不服香砂二陳，以堵截伏邪出路，曷致上沖督脈，發生痙病。然顛頂烙熱，頭汗如雨，熱毒上衝，已達極點，非大劑苦寒，開泄厥陰，使其熱毒下趨，則脈伏氣喘，口噤牙關，危險立至，此苦寒開泄之不容緩也。</p>
<p>［處方］龍膽草（三錢）　云連（一錢）　關柏（三錢）　川牛膝（八錢）　紫草（三錢）　蜣螂（三錢）　生山梔（三錢）　白芍（八錢）　明麻（三錢）　貫眾（八錢）　全蠍（三錢）</p>
<p>先以紫雪丹一錢，用嫩鉤藤煎湯灌服，續服此湯。</p>
<p>［預效］此方取龍膽湯之苦寒，配紫雪之芳涼，開泄厥陰之熱毒下趨腸腑，而上衝之勢即殺。但此病欲從陽明而出，以故發熱頭痛，自汗口渴，發現陽明之症狀，服此藥後，則脈變浮洪而數，病機仍趨陽明，其痙即解。</p>
<p>【次診】</p>
<p>脈象：沉弦而勁。</p>
<p>舌苔：黑黃厚糙。</p>
<p>判案：兩日一夜，只服前藥一劑，痙勢增劇，深夜以號金十元，趕某醫院西醫注射，其父詢問何病，唯曰「危險」、「危險」，不報而去。天曉，兒科專醫至，謂系急驚風，寫附子理中湯加防風、葛根，旁人有稍知醫者，阻之不與服，乃服予藥。晝夜服前藥三頭煎，則周身微微汗出，瀉下黑紅醬矢；再服前藥三頭煎，日晡壯熱，口渴索飲，前此之欲從陽明而出，被其阻塞，今仍還之於陽明。治當迎機而導之，其痙乃得解也。</p>
<p>［處方］川牛膝（八錢）　白芍（八錢）　龍膽草（三錢）　云連（三錢）　關柏（三錢）　紫草（三錢）　蜣螂（三錢）　全蠍（三錢）　知母（三錢）　蟬蛻（三錢）　羚羊角（六分，銼粉，沖服）　犀角（一錢五分，銼粉，沖服）　紫雪（一錢，沖服）　生山梔（三錢）　淡豆豉（三錢）</p>
<p>［預效］此方即前方稍為加減，仍是注重厥陰，不重陽明，如陽明清之過早，而厥陰之伏邪愈難透露，必須候其壯熱、口渴、自汗、脈數四者俱至，則伏邪得出，痙乃解也。</p>
<p>【三診】</p>
<p>脈象；左細弦，右浮洪。</p>
<p>舌苔：絳底，黑黃厚膩。</p>
<p>判案：服前方三劑，頭不動搖，項不強，背不反，目不上視，唯日晡潮熱，渴欲飲熱，夜深尤盛，寐則盜汗，病機欲從陽明而出，然合之左脈細弦不浮數，猶有欲出不出之勢，其父電報促其叔至，主大承氣湯加生地、當歸，反增嘔吐。其叔仍邀予主方。予以硝、黃猛力，下趨腸腑，而厥陰之伏熱不得透露，反而上竄，此際痙狀雖解而脈不浮數，仍是內伏，不肯外出也。</p>
<p>［處方］白芍（四錢）　枯芩（三錢）　云連（一錢）　竹茹（三錢）　川楝（三錢，敲碎，去殼）　川牛膝（四錢）　桑葉（三錢）　法夏（一錢五分，鹽水炒）　吳萸（八分，鹽水炒）　釘赭石（四錢，布包煎）</p>
<p>［頂效］此方於苦寒藥中，用法夏、吳萸之降逆，釘赭石之重墜，冀其嘔止，仍使病機下趨，庶免危險。</p>
<p>【四診】</p>
<p>脈象：浮弦數。</p>
<p>舌苔：絳底，黃濁厚苔。</p>
<p>判案：服前藥二劑，嘔止，去法夏、吳萸、釘赭石，加龍膽草、澤蘭梗、紫雪。又三劑，瀉下碧綠色矢，渴欲飲冷，不復飲熱矣，周身漐漐微汗，日晡及夜間潮熱乃罷。七歲孩兒，過於溫飽，瀉下碧綠色矢，則肝藏所化之膽汁下泄，而熱毒乃得始淨也。</p>
<p>［處方］龍膽草（三錢）　云連（一錢）　關柏（三錢）　白芍（四錢）　土銀花（八錢）　澤蘭根（三錢）　竹茹（三錢）　桑葉（三錢）　青黛（三錢，布包煎）　茜根（三錢）</p>
<p>［預效］仍主苦寒，兼以解毒，冀其熱毒盡淨，而諸症自然全愈。</p>
<p>【五診】</p>
<p>脈象：浮洪緩。</p>
<p>舌苔：黃濁薄苔。</p>
<p>判案：服前藥三劑，諸症盡退，唯口酸不嗜食，心煩，夜多不寐，頭暈人倦，此液虧正衰，餘邪尚未淨也。</p>
<p>［處方］西洋參（一錢五分）　鮮石斛（五錢）　白茅根（五錢）　北蘆根（八錢）　白芍（三錢）　子芩（二錢）　竹茹（三錢）　桑葉（三錢）　土銀花（八錢）</p>
<p>［效果］此方養胃生津，清熱化濁，服五六劑，口不酸，嗜食安寐，續予甘淡平補乃愈。</p>
<p>（九）劉朕卿一案</p>
<p>病者劉朕卿，年十二歲，湘鄉人，住湖鄉之七區。</p>
<p>［症候］</p>
<p>既往症：前年跌傷折臂。</p>
<p>現在症：突起發熱，頭痛如劈，神昏讝語，前醫主犀角地黃湯，兼服牛黃清心丸，立見讝止神清，從此每於日晡或夜半，頭獨動搖，能仰不能俯，頸側人迎脈管暴脹急跳，灼痛不可忍，背脊自大椎至風府強硬，亦灼痛不可忍，瞳神放大，頭獨盛熱，渴飲沸湯，夜可七八壺，隨飲隨溲，不黃不赤，天曉五鼓，熱退渴止痛罷，明日下午日晡或夜半，屆時亦發，便瀉如米泔或黃濁穢物。</p>
<p>［診斷］</p>
<p>病名：最急性痙病。</p>
<p>脈象：沉細弦數。</p>
<p>舌苔：紅底，淡黃濁苔。</p>
<p>判案：此國醫最急性之痙病。當初突起發熱頭痛，旋即神昏讝語，即是發生痙病，而醫者主犀角地黃湯送下牛黃清心丸，蓋犀角清心火，即以醒腦，牛黃開心竅，亦以通腦，心腦原屬一貫，故服之神昏讝語立止，而項強背直、頭獨動搖正式之痙狀猶在，每於日晡或夜半發熱，即欲渴飲熱茶，隨飲隨溲，不稍存留，與六經厥陰主症「氣上衝胸、心中疼熱，消渴」三者齊發同一病理。但此病之疼痛灼熱，前則衝於頸側之人迎，後則衝於大椎之風府，較之傷寒疼熱，則在兩乳之下、臍腹之上則有不同，唯消渴則同耳。然傷寒烏梅丸寒溫並用，此則六脈不伏，四肢不厥，只仿其酸苦瀉熱以為劑耳。</p>
<p>［處方］烏梅（三枚）　云連（一錢）　關柏（三錢）　木瓜（三錢）　白芍（四錢）　川楝（三錢，敲碎，去皮）　龍膽草（三錢）　川牛膝（八錢）　明麻（三錢）　白蒺藜（三錢）　紫草（三錢）　蜣螂（三錢）</p>
<p>［預效］此方取仲景烏梅丸半從熱化之意，推廣用之。以木瓜、白芍佐烏梅，龍膽、川楝佐連、柏，合而為劑，酸苦瀉熱，即以酸苦止渴，更加之以牛膝、紫草、明麻、蒺藜、蜣螂，引血質下行，則痙症自解矣。</p>
<p>［次診］</p>
<p>脈象：沉細數。</p>
<p>舌苔：淡黃薄苔。</p>
<p>判案：予於今春回鄉修理先父墓，近病者居，時將此方出入加減，求合病情，服至二十餘劑，灼熱、疼痛、消渴三者漸漸減退十之六七，竟有日全罷而不發者，越日復發。再四思維，既非西醫之糖尿病，亦非國醫之消渴病，然舌不起黑黃滑膩之苔，便不排黑紅黃醬之矢，自初至今，未曾獲汗，則知前此犀角、地黃之清涼，今此烏梅、木瓜之酸斂，終恐血液毒質凝結蘊蓄不肯脫化而出，不然，灼熱、疼痛、消渴，一敗而不復振矣。治當疏通血中之凝結，宣泄血中之毒質，則小溲黃濁、大便黑腐，周身微汗，諸症自可立愈也。</p>
<p>［處方］歸尾（三錢）　赤芍（三錢）　桃仁（三錢）　紅花（三錢）　龍膽草（三錢）　云連（一錢）　番瀉葉（一錢）　蜣螂（三錢）　川牛膝（八錢）　白蒺藜（三錢）　蒼耳子（三錢）　紫背浮萍（三錢）　青蔥（三根）　淡豉（三錢）　豬膽汁　童便　苦酒（各一杯，沖服）</p>
<p>［預效］此方以歸尾、赤芍、桃仁、紅花疏通血液為主，佐之龍膽草、云連、蜣螂、番瀉葉開泄大腸；佐之牛膝、豬膽汁、童便，引導血液之毒質從肝臟分清以入膀胱；佐之蒼耳子、白蒺藜、青蔥、淡豉、紫背浮萍，引導血液之毒質從毛孔以泄汗，既有三條出路，則血液毒質不與肝藏木火交固，而日晡或夜半之灼熱、疼痛、消渴不再反復，則諸症隨之而悉解矣。</p>
<p>【三診】</p>
<p>脈象：浮細而數。</p>
<p>舌苔：淡黃薄膩。</p>
<p>判案：服七八劑，俟瀉黑腐之矢，溲出黃濁之尿，周身微微汗出，而灼熱、疼痛、消渴一齊俱罷，不復發已三晝夜矣，然發生咳嗽吐痰，面浮足腫，漸及腹背，則是血液之毒質，既宣泄外出，而皮膚肌肉之組織，乃放大而膨脹，此理知者絕少，非腫病也，不治亦漸消失。治則當從皮膚肌肉之脈絡以宣發太陽之表，不必深入內臟。若誤以為腫而用五皮、五苓、理中、真武輩，鮮有不敗者，予之歷驗，非一次也。</p>
<p>［處方］白蒺藜（三錢）　蒼耳子（三錢）　紫草（三錢）　紅花（三錢）　子芩（三錢）　黑梔（三錢）　赤芍（三錢）　粉丹（三錢）　浙貝（五錢）　杏仁（三錢）　蘇薄荷（一錢三分）　桑葉（三錢）</p>
<p>［效果］服前藥三四劑，漸見腫消咳減。予修墓已畢，急欲赴省，囑王醫九峰以善其後。</p>
<p>（十）陳劉氏一案</p>
<p>病者陳劉氏，年四十七，湘鄉人，居湘鄉之七區。</p>
<p>［症候］</p>
<p>既往症：無。</p>
<p>現在症：初發熱，頭痛，口渴，自汗，嘔吐，前醫主柴葛解肌湯，更醫主羚犀白虎湯，熱退渴止，而項背強直，巔頂灼痛，頭時動搖，搖時自覺神昏不能語，洎頭搖罷，則自少腹循陰器至產門灼熱如錐刺痛，欲溲不溲，高枕仰臥，兩腳不能伸。</p>
<p>［診斷］</p>
<p>病名：續發性痙病。</p>
<p>脈象：沉細弦數。</p>
<p>判案：此國醫續發性之痙病。初起發熱，頭痛口渴，自汗，則是伏氣溫病從陽明而出，柴葛解肌非其治也，羚犀白虎，只能清陽明之熱，而不能透厥陰之熱，以故厥陰內伏之熱毒被其遏抑，反而上衝督脈，巔頂灼熱，項背強直，頭搖神昏，諸症並至，雖有些微之羚、犀，終無監製石膏、知母之大力，故不能預防其不發痙也，況厥陰內伏之熱毒，上衝下迫，迨頭搖罷，則自少腹循陰器至產門灼熱刺痛，此痙病之變症，非常症也。治當於開泄厥陰之中，少佐宣發太陽之藥，則內伏之熱毒既泄之於大小二便，亦透之於表。陡事清化，終無濟也。</p>
<p>［處方］白頭翁（三錢）　云連（一錢）　關柏（三錢）　白芍（四錢）　枳實（三錢）　明麻（三錢）　川牛膝（八錢）　青蒿（五錢）　蜣螂（三錢）　嫩鉤藤（五錢，後入煎）　青蔥（三根）　淡豉（三錢）　玉樞丹（二枚，磨化，沖服）　活白頸蚯蚓（二條，絞汁，沖服）</p>
<p>［預效］此方取仲景白頭翁與四逆散以開泄厥陰，稍佐青篙、蔥頭以宣發太陽，其餘諸藥，對於此病，面面俱到，痙雖能解，但恐其元氣不能撐持也。</p>
<p>【次診】</p>
<p>脈象：沉弦急數。</p>
<p>舌苔：黑黃薄糙。</p>
<p>判案：服前藥五劑，予診視三次，便得黑腐，溲色亦黑，從此頭不動搖，背不強直，產門痛休，此皆黑腐下泄之效也。但日晡溫度極高，而巔頂灼痛較前更劇，顏面紅豔，渴不欲飲，病者體質孱弱，年將半百，血液腐化過多，遽爾陰虧，亦恐陽動，痙勢已解，脈弦急數，大是堪虞。</p>
<p>［處方］西洋參（三錢）　生淮地（五錢）　鱉甲（五錢）　龜板（一兩五錢）　知母（三錢）　川牛膝（三錢）　關柏（三錢）　黑梔（三錢）　土銀花（一兩）　血琥珀（五分，研末，沖服）　燈芯（一握）</p>
<p>［預效］此方於滋陰潛陽之中，清血解毒，化腐行瘀，冀其陰液得養，浮陽自潛，脈之弦急得減，而巔頂灼熱自除。</p>
<p>【三診】</p>
<p>脈象：浮弦數不急。</p>
<p>舌苔：紅底，苔黃不糙。</p>
<p>判案：服前藥六劑，便泄黑腐減少，溲亦不黑，唯陰液尚未充滿，而浮陽易動，夜熱時作，面色紅豔，瞑目即汗，天曉，渴飲熱退，四肢不溫，口鼻之氣俱冷。《內經》衛氣日行於陽、夜行於陰，故瞑目一入陰分，被血液所含之毒質阻塞，退而即出，故周身汗出；汗後則衛陽亦虛，不能溫養周身，故四肢不溫，口鼻之氣亦冷。非滋養血液、提攜衛陽，兼以化瘀解毒，曷能邪正兼顧，虛實並治也。</p>
<p>［處方］西洋參（三錢）　生北耆（三錢）　白芍（三錢）　生地（五錢）　淮牛膝（五錢）　鱉甲（五錢）　當歸（三錢）　紅花（三錢）　土銀花（一兩）　知母（三錢，鹽水炒）　粉草（一錢）　生薑（三片）　大棗（四枚）</p>
<p>［預效］此方生地、當歸、白芍、淮膝，滋養血液也；洋參、黃耆、生薑、大棗，提攜衛陽也；紅花化瘀，銀花解毒。囑服四五劑，營陰得養，衛陽得宣，則日晡與夜間潮熱，其有不罷者乎。</p>
<p>【四診】</p>
<p>脈象：浮緩細弱。</p>
<p>舌苔：紅底，淡黃薄苔。</p>
<p>判案：服前藥五劑，夜間潮熱不作，諸症悉平。</p>
<p>［處方］生北耆（三錢）　西黨（三錢）　生地（三錢）　當歸（三錢）　白芍（三錢）　於術（三錢）　甘杞（三錢）　炙草（一錢）　肉桂（五分，研末，沖服）　建圓（五枚，去殼）　北味（八分）</p>
<p>［效果］此方辛甘化陽、酸甘化陰，囑服二十劑，健康乃復。</p>

<h1>《痙病與腦膜炎全書》跋</h1>
<p>劉君裁吾既歿之明日，而所著《痙病與腦膜炎全書》由其門人李超凡、汪士瀛校印甫峻，汪子受書而讀之曰：古所稱人琴俱亡者，斯之謂矣。夫仲尼歿而微言絕，七十子之徒相與纘述夫子之言，傳之後世，以遺來者。其書乃得彪炳，如日月經天，江河行地，雖千萬世，無有窮期，至今讀其書，謂其人存可也。君生而穎悟，治學有獨是，向無門戶之見，尤精醫籍，上窺黃岐之書，中研長沙之論，下及《千金》、《外臺》，金、元四家，清之葉、王，罔不食蹠盈千，集狐成腋，遠近學者咸宗之。其在鄉也，間以其學，起人之疴，求治者踵相接。建國之初，君甫三十，著述等身，已有《醫學檀幾》百餘卷，其要者曰《傷寒匯方》、《金匱鑑別》、《千金外臺發揮》、《金元四家節要》，《景岳選瑜》、《喻氏節要》、《葉案選粹》、《王案類編》、《溫熱精言》、《喉科扼要》十種。朅來長沙，尚待補苴，未克付梓。乙亥春，湘之西醫以腦膜炎之疾，群相驚駭，蒙口罩鼻，死者踵接。有經西醫認為絕望者，君治之，得慶更生，備載治案，聲施蜚然。君傷夫舉世溺於西說也，不知其本原也，秉其四十年心得，著為茲編，詳載詮方，循是以治，皆可出水火而登袵席也。君日劬診務，夕則燃燈構思，手操不聿，漏再下未已，心血虛羸，遂遘重病，展轉經年，自斟藥餌，旋已旋作，未蠲疾苦，丙子十有二月望日，竟以不起，彌留之際，猶殷殷以是書為念，神識清冷，曾無少異，剞劂告成，先期永訣，竟未一睹。君之志願，尚欲著《中國肺癆病學》、《中國六氣病學》二書，屬稿未竟，不及成功，齎志九京，彌有餘痛。憶君與余交最摯，而言論爽侃，掬肺肝以相示，有非常人所能及者。余極重其品學，目為今之古人；君於余，亦以戇直相許。余潦倒風塵，百不當意，君則時時過從，以相慰藉。間或風雨之晨，手持一蓋，足躡橡履，揚揚到門，把晤歡然，傾倒古今，譚言愈豪，聲撼窗扉，不可一世。方冀克享大年，著作益富，何意奄同過隙，墜若秋蒂。閉目凝思，曾幾何時，君之精魂，若在左右，如聞聲咳，今何可再得也！君今有子，已克負荷，又有弟子，能繼所業，以成君子，無忘其能，用告明靈，亦可無憾。惜餘年力就衰，學殖荒落，視君能以著述壽其身，藏之名山，鬼神呵護，必有所知，所謂亡而若存者。夜永挑燈，清風入幃，端誦茲篇，涕泗橫集，有不勝反袂拭面者已。</p>
<p><u>中華民國二十五年歲在丙子季冬月西泠汪康白跋於江聲閣</u></p>
