<header data-type="book">
<h1>醫略抄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>丹波元簡</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015280">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>古經方如葛仙翁。孫真人諸名醫之所撰也。而以本草仲景書律之。則似有不合繩墨者。時以方士禁咒之術涉迂怪者。雜出其間。又有僻藥而不易辦者。或有凡品而不堪服者。是以可用於今者若甚鮮矣。豈立方之指深奧幽微。非淺庸所能測耶。抑時世之變。方域之殊。情性之差使然邪。然臨病對證而施之。則效應如神。其出於意慮之表者。不暇枚舉。乃與後世諸家。執泥引經報使之說。而所制迥別。是古經方所以不可廢於今也。醫略抄者。我家主稅公。摘錄單行徑易之方。以備卒病暴疢之檢用。分門五十集。方二百四十有二。所援引晉唐經方凡三十四家。雖卷頁無多。輯搜極廣。間有千金外臺所未載。後世方書所罕睹。其可盡用於今與否。姑置而弗論也。本朝經方舊籍之存者。僅僅不過數家。寧容不珍而寶諸。茲歲春簡偶得是書喜劇。唯輾轉謄錄。訛舛頗多。因不揣譾陋。略為之校訂。亟鋟諸梓。用廣傳布。央載公在承歷寬治之間。名聲大振。而有日本扁鵲之稱。則其術之神可想也。則斯書所收。必是親驗屢效者。奇方靈劑。蓋亦不鮮也。簡將與同仁試焉。寬政七年五月望日丹波元簡謹書。</p>

<h1>國史丹波雅忠傳</h1>
<p>丹波雅忠阿智使主裔也。世居丹波。曾祖康賴賜姓丹波。宿稱以醫術著任右衛門佐兼針醫博士。永觀中著醫心方三十卷。上之祖重雅（雅一作明。）為典藥頭侍醫。兼丹波權守。父忠明亦為典藥頭侍醫。兼丹波介敕。改姓宿稱賜朝臣（系圖。）雅忠。繼父祖業。蚤有聲譽。為醫學得業。生長元七年奉課試。（左經記。）既而為典樂頭補右衛門佐。（系圖。）永承中兼丹波介秩。滿還京師。時帝違豫。雅忠進藥有效。褒授從四位下。（扶桑略記百鍊抄。）任施藥院使。被聽禁色雜袍升殿上。又轉主稅頭。（系圖。）再為丹波介遷權守。（除目大成抄。）承歷中高麗王妃疾。王附商舶牒太宰府。以厚幣求雅忠。朝廷不許。令太宰府報牒。有扁鵲何入雞林之云語。（續文粹朝野群載十訓抄。）自是世稱雅忠為日本扁鵲。寬治二年卒。年六十八。（歷代皇紀系圖。）初後朱雀帝患瘡。與藥頭和氣相成診曰。膿水止而愈。雅忠時尚弱冠。退謂人曰。恐不可為。果崩。雅忠嘗夢有童子告曰。汝曾祖康賴。懇誠禱我。我為護方書久矣。今將有災厄。汝戒之。雅忠驚寤而為之備。未幾有火災。方書遂免焚。（續古事談。）子忠康重康。忠康亦為與藥頭。兼穀倉院別當。重康圖書頭。施藥院使為侍醫。子孫世以醫而仕。（系圖。）</p>

<h1>醫略抄</h1>
<p>夫病源之候。其流不一。療治之方。其趣旁⿹勹丿。（簡案此字偏旁蠹殘難辨。不敢妄補填。姑仍其舊。）諸家傳論。先賢撰集漢家。本朝斯匯蓋多。或卷軸既繁。有煩披閱。或部帙相混。難支危急。仍為遣卒爾之疾類。聊抽諸方之簡要。不敢顧時俗之嘲。只為省暗質之惑也。於時永保辛酉之年。三月七日。侍醫丹波雅忠撰之。</p>
<p>陶貞白序。補闕肘後云。方中用烏獸屎作矢字。尿作溺時。乾作干時。今斯書不止是耳。疹作𤵜。癰作癕。肉作宍。亦作彑之類尤多。蓋當時通用文字。間有顏元孫干祿書等傍訓國字亦有與今異者。讀者毋以為僻繆也。（元簡）識。</p>

<h1>一、癰疽方</h1>
<p>病源論云。癰者。六府不和所生也。疽者。五藏不調所生也。凡腫一寸至二寸癤也。二寸至五寸癰也。五寸至一尺癰疽也。</p>
<p>又云。腫高者疹源淺。腫下者疹源深。大熱者治。（簡案病源作易治。）小熱者難治。</p>
<p>崔禹云。五月勿食未成核果。及桃李棗。發癰癤。</p>
<p>千金方云。恆冷水射之。漬冷石熨之。日夜忽。（簡案忽。據外臺當作勿止二字。）待差住手。</p>
<p>又云。此病忌面酒肉五辛等。</p>
<p>葛氏方云。但炙其上百壯。</p>
<p>本草拾遺云。水蛭。人患癰疽毒腫。取十餘枚令𫫠。（簡案𫫠。證類本草作啖。注云。一作𫫠。𫫠字書無所考。唯龍龕手鑑所六切。有音而無義。竊疑舀宿字體近似。故啖訛為𫫠耳。）病處無不差者。（「原注」今案經心方云。以水蛭食去惡血。）</p>
<p>劉涓子方云。破甘蕉根薄之。</p>
<p>徐伯方云。搗苦苣薄上。又食良。</p>

<h1>二、丁創方</h1>
<p>病源論云。丁創者。風邪毒氣。持於肌肉所生也。初如風𤺋。搔破青黃汗出。里有赤黑脈如魚眼。赤黑久結。皆變成創。創下有深孔。如大針穿之狀。手足頭面骨節間者。其毒入腹。則煩悶不住。或如醉。如此者。二三日便死也。</p>
<p>此創有十三種。其色白黑紅也。口有大小。腫非一樣。四支沉重。頭痛嘔逆。逆者難治。</p>
<p>千金方云。此病者忌豬魚韭葵酒酢面葵等。又見豹即死。大忌之。（「原注」今古錄驗方云。七日不得食□□酒肉五辛生冷酢滑者。不得帶赤者有毒。唯用白色者。○簡案見豹即死。千金無所考。唯有忌見□勃見之即死之戒。外臺引錄驗方云。此皮不赤有毒沌白者上。此注不得□當□□□二字義始通。）</p>
<p>錄驗方云。五香方。　青木　沉香　丁子　藿香（各一兩）　水三升。煮取一升半。分三服。得麝香二分。去藿香。（「原注」　□□方同之。）</p>
<p>極要方云。搗茺蔚葉薄腫上。服汁令丁毒內消。</p>
<p>百濟新集方云。取菊葉合莖搗絞取汁三升。頓服之。</p>

<h1>三、中風口噤方</h1>
<p>病源論云。諸陽經筋。皆在於頭。三陽之筋。並結入於䫲頰。夾於口。諸陽為風寒所客。則筋急。故口噤不開也。</p>
<p>葛氏方云。取大豆五升。熬令黃黑。以五升酒漬取汁。以口灌之。</p>
<p>千金方云。術四兩。酒三升。煮取一升。頓服之。</p>
<p>又方。服淡竹瀝一升。</p>
<p>新錄方云。灸承漿穴。在頤前下唇之下。</p>
<p>又方。灸頤尖十壯。</p>

<h1>四、中風口喎方</h1>
<p>病源論云。風邪入於足陽明。手太陽之經過。（簡案病源作遇是。）寒則筋急引頰。故使口喎闢。言語不正。</p>
<p>千金方云。炒大豆三升。令焦。酒三升淋取汁。頓服之。日一。</p>
<p>集驗方云。取空青如棗者。著口中令咽之。即愈。（「原注」千金方。如豆一枚。含之。）</p>
<p>範汪方云。豉五升。茱萸一升。合煮三沸。去滓。飲汁神驗。</p>
<p>又方。兩手又於頭上隨僻左右。灸肘頭三四壯。</p>

<h1>五、中風舌強方</h1>
<p>病源論云。脾脈絡胃夾咽連舌本。散舌下。心之別脈。系舌本。今心脾兩藏受風邪。故舌強不得語也。</p>
<p>範汪方云。豉煮汁漸服。一日可數十過不頓多。</p>
<p>又方。新好桂削去皮。搗下篩。以三指撮著舌下咽之。</p>
<p>又方。灸廉泉穴。在頰下結咽。上舌本。</p>
<p>葛氏方云。灸第二第三椎上。百五十壯。</p>

<h1>六、中風卒失音方</h1>
<p>病源論云。喉嚨者。氣之所以上下也。喉（簡案今本病源作會。）厭者聲之門戶也。舌者。聲之機。口者聲之扉也。風寒客於喉厭之間。故卒然無音。故謂風（簡案原本作盛。今據病源校改。）失音不語。範汪方云。大豆一升。熬令焦。好酒二升。合煮令沸。隨人多少服。取令醉。（「原注」謂之大豆紫湯。）</p>
<p>千金方云。濃煮大豆汁含之。豉彑良。</p>
<p>又方。灸天窗。百會穴。（「原注」新錄方同之。）</p>
<p>孟詵食經云。杏仁三分。去皮熬。別搗作脂。桂心末一分。和如泥。取李核許。棉裹。少咽之。五夜一。（簡案證類本草引孟詵作綿裹含。細細嚥之。日五夜三。）</p>
<p>又方。搗梨汁一合。頓服之。</p>

<h1>七、中風言語錯亂方</h1>
<p>病源論云。風邪者。謂風氣傷於人也。以身內氣血為正。外風氣為邪。內損。（簡案今本病源作府藏內損。）血氣外虛。則為風邪所傷也。故病有五邪。一曰中風。二曰傷暑。三曰飲食勞倦。四曰中寒。五曰中濕。其為病不同中邪者。發時則不自覺知。狂惑妄言。悲喜無憂。是也。</p>
<p>僧深方云。　人參　茯苓　茯神　白朮　菖蒲（各三兩）</p>
<p>凡五物。水一斗煮取二升半。去滓。先食服八合。日三。（簡案外臺引範汪名五邪湯即是。）</p>
<p>範汪方云。　茯神　菖蒲（各三兩）　赤小豆（三十枚）　人參　茯苓（各三兩）</p>
<p>凡五物。水一斗煮取二升半。分三服。（簡案外臺引錄驗名茯神湯即是。）</p>
<p>經心方云。　烏頭（一分炮）　恆山　甘草　蔥利（簡案未詳何物。本草梨蘆一名蔥苒。大上膈風涎。竊疑利是𫇶之訛。）桃花（各一分）</p>
<p>五味好酒四升。煎取一升。頓服大吐。</p>

<h1>八、目入芒草沙石不出方</h1>
<p>葛氏方云。磨好書墨。以新筆染注瞳子上。</p>
<p>又方。鹽豉各少少著水中。臨視之即出。</p>
<p>廣濟方云。取少許甑帶燒作灰。水服方寸匕。立出。治眼方云。吞蠶矢一枚。</p>
<p>又方。灸足中指節上。隨目左右。（「原注」千金方同之。）</p>
<p>範汪方云。　瞿麥　乾薑</p>
<p>凡二物。分等為散。以井花水服一刀圭。日三。</p>

<h1>九、治卒鼻衄方</h1>
<p>病源論云。肺開竅於鼻。熱乘於肺。則氣熱也。（簡案病源作熱乘於血。則氣亦熱也。）氣血俱熱。血隨氣發出於鼻為衄。</p>
<p>醫門方云。上實下虛。其人必衄。衄發從春至夏為太陽衄。從秋至冬為陽明衄。</p>
<p>小品方云。乾薑屑。龍骨末。吹之即止。</p>
<p>千金方云。冷水淨嗽口。含水以葦管中吹二孔中即止。</p>
<p>又方。溫布薄胸上。</p>
<p>葛氏方云。苦酒漬綿塞鼻孔。</p>
<p>又方。釜底墨末。以吹內鼻中。</p>
<p>廣濟方云。新汲水淋頭頂上。六七斗。並將浸□立效。</p>
<p>範汪方云。書額上作由字。</p>
<p>如意方云。取衄血以書其人額云。今日血忌字即上。（簡案醫心方作今□日血忌字即止。當隨今日甲乙。）</p>
<p>廣利方云。濃研經墨。點鼻中立效。（簡案醫心方注經墨者。久墨也。）</p>

<h1>一○、百蟲入耳方</h1>
<p>葛氏方云。以好苦酒。漬椒灌之。以起行便出。</p>
<p>又方。搗生薑汁灌之。韭汁彑佳。</p>
<p>千金方云。桃葉塞耳立出。</p>
<p>又方。以蔥涕灌耳即出。大驗。</p>
<p>新錄方云。乾薑末吹耳中出。</p>
<p>又方。綿裹銅屑塞耳。</p>

<h1>一一、食諸果中毒方</h1>
<p>養生要集云。取其餘類燒作末。服方寸匕。便吐出良。</p>
<p>又方。　甘草　貝齒　粉（簡案陶氏本草序例千金方。並作胡粉。）</p>
<p>凡三物。等分作末。以水服良。</p>
<p>又方。以小兒（簡案醫心方引本草兒下有溺字。證類序例同。）乳汁二升。服之良。（簡案醫心方。服二升亦佳。千金方同。）</p>
<p>又方。含白蜜。嚼之立愈。</p>

<h1>一二、食諸菜中毒方</h1>
<p>葛氏方云。煮豉汁。飲一二升。</p>
<p>又方。煮葛根汁飲。亦生嚼咽汁。</p>
<p>養生要集云。搗胡麻。以水服二合。</p>

<h1>一三、食諸魚中毒方</h1>
<p>小品方云。煮橘皮淳飲之佳。（簡案淳。外臺作停冷二字。）</p>
<p>又方。舂馬鞭草飲汁一升。即消去。</p>
<p>又方。生薑葉亦佳。</p>
<p>集驗方云。煮蘆根。取汁飲之。</p>
<p>崔禹錫食經云。犀角二兩。細切。以水四升煮取二升。極冷服之。</p>

<h1>一四、治食諸鳥中毒方</h1>
<p>葛氏方云。服頭垢一錢匕。</p>
<p>又方。水漬豉。取汁飲數升。</p>

<h1>一五、食諸肉中毒方</h1>
<p>葛氏方云。以水五升。煮三升土。五六沸。下之食頃。飲上清一升。</p>
<p>錄驗方云。水六升。煮大豆三升。取汁二升。服之。</p>
<p>又方。服土漿一二升。</p>
<p>千金方云。掘地三尺。取下土三升。以三升水煮土五六沸。取上清飲一升。頓愈。</p>
<p>小品方云。取其畜干屎末。水服佳。</p>

<h1>一六、食諸菌中毒方</h1>
<p>葛氏方云。掘地作坎。入（簡案醫心方作以。）水滿中攪之。服一二升。</p>
<p>又方。濃煮大豆汁。服之。</p>
<p>又方。古賢口傳云。粟粥服之。忽愈云云。</p>

<h1>一七、治食蜀椒毒方</h1>
<p>葛氏方云。蜀椒閉口者有毒。食之氣便欲絕。及吐白沫。並吐下者。煮桂飲其汁。（「原注」崔禹錫食經同之。）</p>
<p>又方。多飲冷水。一二升。</p>
<p>又方。以雞毛擿其咽中。（簡案本草序例千金並云雞毛燒吸菸。及水調服。與此不同。）</p>
<p>又方。食土一升許。（「原注」範汪方飲土漿。）</p>
<p>範汪方云。煮葵汁飲之。</p>

<h1>一八、治食噎不下方</h1>
<p>病源論云。食噎。此由藏氣冷。而不理。津液澀少。不能傳行。飲食入則噎塞不通。故謂之食噎。胸內痛。不得喘息。食不下是也。</p>
<p>葛氏方云。以針三七過刺水中。東向飲其水良。</p>
<p>又方。燒羚羊角。多少飲之。又以羚羊角。磨□上。又方。橘皮三兩。以水三升。煮取一升飲之。廣利方云。蜜一匙。含細細嚥則下。</p>

<h1>一九、食諸魚骨哽方</h1>
<p>葛氏方云。魚骨燒。服少少。</p>
<p>又方。鸕鷀羽燒末。水服半錢。（「原注」今案集驗方用屎。如意方用骨。）</p>
<p>又方。燒魚納服之。</p>
<p>龍門方云。取紙方寸。書作甲子字。以水服即下。</p>
<p>又方。魚納覆頭立下。又方。取獺骨含之立下。</p>

<h1>二○、食諸肉骨哽方</h1>
<p>葛氏方云。白雄雞左右翮大毛。各一枚。燒末水服。（簡案原本作服水。今據外臺校改。）一刀圭。</p>
<p>僧深方云。燒鷹屎。下篩服。方寸匕。</p>
<p>新錄方云。醬清一升。服之。</p>
<p>又方。酒服鹽灰方寸匕。</p>

<h1>二一、諸雜哽方</h1>
<p>葛氏方。刮東壁土。以酒和服。</p>
<p>又方。末瞿麥服。方寸匕。</p>
<p>又方。以皂莢屑。少少吹內鼻中。使得嚏哽出。</p>

<h1>二二、誤吞水蛭方</h1>
<p>崔禹錫食經云。服馬蓼汁。甚效也。</p>

<h1>二三、飲酒大醉欲死方</h1>
<p>養生要集云。赤小豆以水煮取汁。一升冷飲之。即解。</p>
<p>又方。生葛根。搗絞取汁。飲之。</p>
<p>錄驗方云。煮菘汁飲之。最佳。</p>
<p>蘇敬本草注云。飲酒連日不解方。食軟熟柿。</p>
<p>崔禹錫食經云。煮鯰食之止醉。彑治酒病。</p>
<p>今案食經解酒毒物</p>
<p>寄居　蟹　蠣　丹黍　胡麻　熟柿　葵菜　苦菜　水芹　菰根</p>
<p>（簡案醫心方有龍蹄子。田中螺子。凡十二種。）</p>

<h1>二四、金創血不止方</h1>
<p>千金方云。燒人矢灰。傅之。（「原注」今案熬馬矢封之。）</p>
<p>範汪方云。蓮子草汁注中止。冬月未乾者傅之。</p>

<h1>二五、治毒箭所傷方</h1>
<p>葛氏方云。搗藍青絞汁飲。並薄創。無藍紺輩。（簡案千金作青布漬三字。）絞汁飲之。亦以汁灌創中。（「原注」小品方同之。）</p>
<p>又方。煮藕飲汁。多多益善。</p>
<p>千金方云。煮蘆根飲汁。一二升。</p>
<p>集驗方云。剝桑白皮。去上黑者。以裹之。桑白汁入創。冬月用桑根皮汁。</p>

<h1>二六、鐵箭鏑錐刀醫針不出方</h1>
<p>葛氏方云。搗杏仁塗之。（「原注」錄驗方同之。）</p>
<p>又方。取鹿角燒作灰。豬膏和傅之。</p>
<p>千金方云。白薟半夏等分末。酒服方寸匕。日三。</p>
<p>小品方云。牡丹（一分）　白薟（一分）　末酒服。方寸匕。日三。自出。（「原注」千金方白薟一分。）</p>
<p>又方。取婦人月經衣已汙者。燒末酒服。日三。立出。（「原注」集驗方同之。）</p>
<p>錄驗方。大麻子三升。作末。以水和。使得三升。汁溫服之。須臾出。</p>
<p>醫門方云。栝樓揭薄瘡上。日三。自出。</p>

<h1>二七、竹木壯刺在肉中不出方</h1>
<p>（簡案楊雄方言云。凡草木刺人。北燕朝鮮之間。謂之壯。郭璞注今惟南人亦呼□□□也。此言壯刺蓋其義也。）</p>
<p>葛氏方云。取根莖合搗。以篩薄之創口。雖合自出。</p>
<p>又方。取鹿角□□水和塗之。立出。遠久者。不過一□。</p>
<p>又方。搗烏梅水和塗上立出。（「原注」今案集驗方白梅。）</p>
<p>錄驗方云。末王不留行。服即出。</p>

<h1>二八、湯火燒灼方</h1>
<p>葛氏方云。破雞子白。塗之。</p>
<p>又方。以豆醬塗之。此二藥皆能不痛。不成瘡。</p>
<p>又方。末石膏塗之。立愈。</p>
<p>極要方云。削梨帖不爛。易愈。</p>
<p>千金方云。榆白皮。嚼塗之。</p>
<p>龍門方云。新出牛屎塗差。</p>
<p>又方。桑柴灰和水塗差。</p>

<h1>二九、從車馬並高所落方</h1>
<p>葛氏方云。取茅筋藕根葉。（簡案外臺引肘後。作茅連根葉。）搗絞服汁一二升。不過三四服愈。</p>
<p>又方。末鹿角酒服方寸匕。日三。</p>
<p>又方。地黃干三在隨（簡案恐是隨在之訛。今本千金文。與此不同。）宜用服取消。（「原注」千金方醫門方同之。）</p>
<p>極要方云。服虎魄屑神驗。能治瘀血。</p>
<p>千金方云。折疼痛。（簡案今本千金作傷折疾痛。）煩躁。啼叫不得臥。取鼠矢。燒末篩。以豬膏和塗痛上即安。</p>

<h1>三○、犬齧人方</h1>
<p>病源論云。凡被狗齧創。忌食落葵。雖差經一二年。亦重發。</p>
<p>葛氏方云。以沸湯和灰。以塗創上。又苦酒和塗之。</p>
<p>又方。以熱牛矢塗之。</p>
<p>又方。搗乾薑服。二方寸匕。</p>
<p>又方。以頭垢。少少內創中。</p>
<p>集驗方云。以火炙臘灌創中。又取灶中熱灰。粉創中。裹縛立愈。（「原注」葛氏方同之。）</p>

<h1>三一、馬咋蹹人方</h1>
<p>葛氏方云。割雞冠血。瀝著創中。三下。</p>
<p>又方。月經博（簡案外臺作敷。此當溥訛。）上最良。</p>
<p>極要方云。馬鞭鞘長二寸。鼠矢二七枚。合燒末。以膏和塗之。立驗。</p>
<p>小品方云。搗車前藥傅之。</p>
<p>經心方云。末雄黃傅瘡上。日二。</p>
<p>又方。用銅青傅瘡中好。</p>

<h1>三二、眾蛇螫人方</h1>
<p>病源論云。凡中蛇者。勿正言其名。惡蛇之類甚多。蛇毒之猛者。中人不即治多死。</p>
<p>又云。入林中。行有落人頸背上者。然自不甚齧人。齧人必死。此蛇無正行。大者不過四五尺。世人呼為青條蛇。其尾二三寸色黑者。名熇尾。毒眾（簡案病源作最。）猛烈。中人立死。</p>
<p>又云。凡蛇創未愈。禁熱食。熱食便發。</p>
<p>葛氏方云。中蛇毒勿得渡水。渡水則痛甚於初。螫雖車舡亦不免。搗葎草以傅瘡上。立愈。</p>
<p>又方。搗生蓼絞取汁飲。小小以滓薄之。</p>
<p>又方。挼青藍薄之。</p>
<p>又方。嚼乾薑傅瘡上。（「原注」耆婆方屑薄之。）</p>
<p>僧深方云。以頭垢著創中。大良。</p>
<p>千金方云。灸上三七壯。又方。搗葵取汁。服之。</p>
<p>集驗方云。搗大蒜塗之。即愈。</p>
<p>蘇敬本草注云。搗落石絞洗之。並服良。</p>
<p>龍門方云。蜂巢燒灰封差。又方。搗梨傅之。（「原注」耆婆方同之。）</p>
<p>本草云。蛇虺百蟲毒。雄黃巴豆麝香乾姜並解之。（「原注」範汪方雄黃乾薑同之。）</p>

<h1>三三、卒心腹俱痛欲死方</h1>
<p>病源論云。心腹痛者。由府藏虛弱。風寒客於其間之故也。</p>
<p>葛氏方云。桂心三兩。切以水一升八合。煮得八合。去滓頓服。無桂者。乾薑彑良。</p>
<p>又方。搗生菖蒲根汁。少少令下咽。即愈。</p>
<p>醫門方云。以沸湯一升。和鹽二合。服之佳。</p>
<p>僧深方云。吳茱萸二升。以酒五升。煮取二升。分二服甚良。亦以水可煮之。（簡案可字疑當在以字上。）</p>
<p>經心方云。黃連八兩。水七升。煮取一升五合。分服五合。日三。</p>

<h1>三四、卒霍亂方</h1>
<p>病源論云。霍亂者。由人溫涼不調。陰陽清濁二氣。有相干亂之時。其亂在腸胃之間者。自過飲食而變。發則心腹絞痛。其有先心痛者。則先吐。先腹痛者。則先下利。心腹並痛者。吐利。霍亂有三名。一名胃反。言其胃氣虛逆。反吐飲食也。二名霍亂。言其病揮霍之間。便致繚亂也。三名走哺。言其哺食變逆者也。</p>
<p>千金方云。凡諸霍亂。忌米飲。胃中得米。即吐不止。（簡案不止。原本作藥心。今據千金及醫心方校改。）與厚朴良。</p>
<p>又云。此病定已。一日不食為佳。仍須三日。少少與粥。三日已後。乃恣意食息也。</p>
<p>錄驗方云。單煮厚朴。飲一二升。有效。</p>
<p>又方。煮梨葉服之。（「原注」醫門方同之。簡案醫心方注引醫門方云。取梨口葉一大握。以水二升。煮取一升。頓服立差。）</p>
<p>小品方云。取藿香一把。以水四升。煮取一升。頓服立愈。（「原注」今案本草云。一把重二兩為正。）</p>
<p>又方。煮青木香汁飲。至佳。</p>
<p>醫門方云。吐下不止者。煮百沸湯。細細添生水。熱飲之。（「原注」今案那繁論云。熟水一升。生水一升。相和飲之良。○簡案那繁當是刪繁。然醫心方源順和名抄等。並作那繁。故仍其舊。）</p>
<p>通玄方云。木苽煮作飲。服之。（「原注」今案本草陶注云。若實並枝煮飲之。）</p>
<p>救急單驗方云。桂三兩。煮汁取一盞。頓服驗。</p>
<p>蘇敬本草云。絞痛者。粟米泔汁飲數升。立差。</p>
<p>小品方云。洞下腹痛者。以生艾一把。以水三升。煮得一升。頓服之良。</p>
<p>葛氏方云。轉筋者。若酒和粉塗痛上。不能語者。飲竹瀝少少許。</p>
<p>陶宏景本草注云。霍亂轉筋者。但呼木瓜名。及書上良。作木瓜字皆愈。</p>

<h1>三五、妊身胎墮血不止方</h1>
<p>病源論云。此由墮胎之時。余血不盡。故令腹痛。</p>
<p>葛氏方云。艾半斤。酒四升。煮取一升。頓服之。</p>
<p>撰集要方云。烏翼毛燒。三指撮著酒服之。</p>
<p>又方。燒雞毛。服亦佳。</p>
<p>僧深方云。丹參十二兩。酒五升。取煮三升。分三服即愈。</p>

<h1>三六、令易產方</h1>
<p>產經云。妊身垂七月。常可服丹參膏。坐臥之間。不覺忽生也。以溫酒服。如棗核。日三。</p>
<p>小品方云。馬銜一枚。覺痛時。左手持之。</p>
<p>子母秘錄云。帶獺皮吉。</p>

<h1>三七、產難方</h1>
<p>病源論云。產難者。凡有數種。或先漏胞去血。子藏乾燥。或子宮宿挾疾病。或觸犯禁忌。或產時未至。便即驚動。穢露早下。子道乾澀。婦力瘦弱。皆令產難。凡腹痛腰未痛者。未產。腹腰連痛者。即產也。</p>
<p>產經云。產難時皆開門戶窗瓷瓶釜一切有蓋之類大效。</p>
<p>又方。取真當歸。使產者左右手持之。即生。一云用槐子。</p>
<p>又方。以大麻子二七枚。吞之立生。</p>
<p>又方。取弓弩弦。令帶產者腰中良。</p>
<p>葛氏方云。吞大豆三枚。又方。吞槐子三枚。</p>
<p>錄驗方云。破大豆。以夫名字書豆中。合吞之即生。</p>
<p>新錄方云。葵子二七枚。服之。</p>

<h1>三八、逆生方</h1>
<p>病源論云。逆產猶初覺腹痛。產時未到。驚動復早。兒轉未竟。便用力產。則令逆也。或觸犯禁忌所為。</p>
<p>集驗方云。逆生橫生不出。手足先見。方其父名書兒足下即順。</p>
<p>又方。以鹽塗兒足底。又可忽搔爪之。</p>
<p>又云。逆生手足先出者。方取三家飯。置兒手內即順。</p>
<p>新錄方云。取三家水。服並洗手即順生。</p>
<p>僧深方云。熬葵子令黃。三指撮酒服之。</p>

<h1>三九、橫產方</h1>
<p>病源論云。橫生者。產時未到。始覺腹痛。驚動損。（簡案損。病源作傷早二字。）兒轉未竟。便用力產之。故令橫生。</p>
<p>產經云。取舂杵頭糠刮如彈丸。酒服之。即順生。</p>
<p>小品方云。栝蔞實中子一枚。削去尖者。以水漿吞之。立產。</p>
<p>葛氏方云。服水銀如大豆二枚。</p>
<p>又方。取梁上塵。三指撮服。</p>
<p>又方。燒鐵杵令赤。內酒中飲之。</p>
<p>又方。燒斧如上。</p>
<p>集驗方云。菟絲子酒。若米汁。服方寸匕。即出。</p>
<p>又方。車前子服之。如上法。</p>

<h1>四○、子死腹中方</h1>
<p>病源論云。此或因驚動倒僕。或染溫疫傷寒。取毒入於胞藏。致令胎死。其候當胎處冷。為胎已死也。（簡案此論。與今本病源大異。千金外臺亦無所考。疑是他書之文。）</p>
<p>小品方云。吞水銀一兩。急出。</p>
<p>又方。搗芎藭酒服方寸匕。神良。</p>
<p>僧深方云。取牛膝根兩株。拍破以沸湯汳（簡案醫心方作沷字。書沷灌也。）之。飲汁。兒立出。</p>
<p>又方。好書墨三寸末。一頓飲之。即下。</p>
<p>葛氏方云。以苦酒煮大豆。令濃漉取汁。服三升。死胎即下。</p>
<p>龍門方云。桃根者。（簡案疑是煮字。）濃用浴膝下。立出。</p>
<p>千金方云。以牛屎塗□□上立出。</p>
<p>產經云。取瞿麥一把。煮二三沸。飲其汁立出。一方治（簡案醫心方引小品作篩。）下服方寸匕。</p>

<h1>四一、胞衣不出方</h1>
<p>病源論云。有產兒出。而胞不落者。世謂之息胞。由產出而體疲。不能更用氣。（簡案病源氣下有產字。）胞經停之間。外冷氣乘之。則血道澀。故胞不出。若挽其胞系斷者。其胞上則斃人。</p>
<p>又方。多服豬肪。又方。以水煮弓弦飲之。一升許。（「原注」小品方同之。）</p>
<p>陶宏景本草注云。吞胡麻油少少。又方。取弓弩弦縛腰。</p>
<p>葛氏方云。月水布燒末。以服少少。</p>
<p>僧深方云。水銀服如大豆二枚。又方。取夫單衣若巾。覆井立出。</p>
<p>小品方云。小麥小豆合煮汁。飲立出。</p>
<p>又方。井中土如梧子大。吞之。</p>
<p>又方。男吞小豆七枚。女吞十四枚。（「原注」集驗方同之。）</p>
<p>龍門方云。取灶中黃土末。著臍中。（「原注」廣濟方三指撮水服之。）</p>

<h1>四二、小兒斷臍方</h1>
<p>產經云。凡兒斷臍法。以銅刀斷之。或以竹刀斷之吉。臍當令長六寸。長則傷肌。短則傷藏。</p>
<p>又古人云。小兒臍結落。若其膚爛有膿氣者。一日不令沐浴例也。</p>
<p>又方。胞衣如和布裹兒放取更斷臍云云。（簡案以上二條。醫心方不載。文義難通。所稱古人。蓋本朝之人。）</p>

<h1>四三、小兒乳付次第</h1>
<p>產經云。兒初生時。先去口中舌上銜血。即不去。須臾凝吞入。令兒成腹中百病。（「原注」以綿纏手指頭。以拭去之。）更次取甘草。如手中指一節許。打研。（簡案醫心方作碎。）以水二合。煮取一合。與之令吮也。口傳云。以無名指塗之云云。次與朱蜜。產經云。三日可與。令兒鎮精神魂魄。真朱精練研者。加大豆。多以赤蜜一𧖙。（簡案醫心方有谷字。和名類聚抄。引文字集略。蜆音顯。亦作𧖙。字典引集韻。𧖙蜆同。）和之。次與牛黃。益肝膽。除熱定驚。辟惡氣也。次與人乳。</p>

<h1>四四、小兒丹瘡方</h1>
<p>病源論云。風熱毒客在腠理。熱毒搏於血。蒸發於外皮。上熱而赤。如塗丹。故謂之丹也。</p>
<p>產經云。夫丹者。惡毒之氣。五色無常。赤小豆。作屑以甘草湯塗之。（「原注」今案錄驗方。和麻油途之。）</p>
<p>錄驗方云。取甘松根薄之。亦宜服少許汁。</p>
<p>又方。搗慎火草。薄之。</p>
<p>千金方云。牛矢塗之。</p>
<p>小品方云。水中苔傅之。</p>
<p>又方。芒硝內湯中取汁。拭上。</p>
<p>新錄方云。水若油研支子人。（簡案支梔通。太平御覽引本草經。梔子作支子。本草和名作枝子。）採汁洗之。</p>
<p>又方。生藍汁塗之。</p>
<p>範汪方云。以生魚血塗之。（「原注」蘇敬本草。注鯉血良。）</p>
<p>本草拾遺云。鯽魚鱠。主小兒大人丹毒。</p>

<h1>四五、治小兒霍亂方</h1>
<p>病源論云。小兒腸胃嫩弱。因解脫逢風冷。乳哺不消。而變吐利也。或乳母觸冒風冷。食生冷物。皆冷氣流入乳飲之。亦成霍亂。</p>
<p>錄驗方云。煮厚朴服之。又方。煮梨葉服之。</p>
<p>千金方云。牛涎灌口中。又方。熱牛矢。汁含之。</p>

<h1>四六、小兒月食瘡方</h1>
<p>病源論云。耳鼻口間生創。謂之月食創。其瘡隨月生死。因以為名。世云。</p>
<p>小兒見月初生以手指指之。則令耳下生創。呼為月食瘡。</p>
<p>千金方云。蘇（簡案千金作酥。酥蘇古通。）和胡粉塗之。又方。燒蚯蚓矢。和膏傅之。</p>
<p>葛氏方云。以五月五日。蝦蟆屑。和膏傅。</p>
<p>產經云。取羅摩草汁。塗上。又方。銼槐枝煮取汁。洗之。</p>
<p>龍門方云。豬脂和杏仁傅付之。</p>
<p>徐之才方云。小蘗皮。搗為末。傅之。</p>

<h1>四七、小兒食草芥哽方</h1>
<p>產經云。好蜜。少少飲之。</p>
<p>又方。末瞿麥。服方寸匕。</p>
<p>又方。豬膏和雞子吞之。不去。復吞兩三過良。</p>

<h1>四八、小兒誤吞針方</h1>
<p>千金方云。吞慈石棗大。立出。（「原注」今案產經末少少服之。）</p>

<h1>四九、小兒食魚骨哽方</h1>
<p>產經云。以大刀鐶摩喉。二七過良。</p>
<p>又方。燒魚骨末。水飲良。</p>
<p>又方。燒鸕鷀羽末。水服之。即出。</p>

<h1>五○、小兒飲梅李輩哽方</h1>
<p>產經云。以水灌兒頭上。承取汁。（簡案外臺引肘後。作其水。）與飲之良。（「原注」葛氏方同之。）</p>

<h1>五一、落水死方</h1>
<p>應急靈妙藥方云。急解去死人衣帶。灸臍中即治。（簡案拾芥抄作活。）</p>

<h1>五二、鼠咬方</h1>
<p>同妙藥方云。麝香塗帛上。系咬處。</p>
