<header data-type="book">
<h1>醫宗金鑑·眼科心法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data>吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>版式</dt><dd>今版</dd></div>
<div><dt>直書</dt><dd>橫書</dd></div>
</dl>
</header>
<pre data-sec="p">
主題：八廓主六腑命門包絡病歌
分類：總綱
條文：風廓屬膽水膀胱，大腸天廓地胃鄉，火廓小腸雷廓命，山澤三焦包絡方。
方劑：
註：[1]此明八廓所屬也。
　　[2]風廓即風輪也，風輪屬肝，肝與膽為表裡，故輪主臟為肝病，廓主腑
　　　 為膽病。
　　[3]水廓即水輪也，水輪屬腎，腎與膀胱為表裡，故輪主臟為腎病，廓主
　　　 腑為膀胱病。
　　[4]天廓即氣輪也，氣輪屬肺，肺與大腸為表裡，故輪主臟為肺病，廓主
　　　 腑為大腸病。
　　[5]地廓即肉輪也，肉輪屬脾，脾與胃為表裡，故輪主臟為脾病，廓主腑
　　　 為胃病。
　　[6]火廓、雷廓、山廓，即血輪之部位也，血輪屬心，心與小腸為表裡，
　　　 故輪主臟為心病，廓主腑為小腸病。
　　[7]其雷廓命門、澤廓三焦、山廓包絡，皆附於血輪者，以命門、三焦、
　　　 包絡，俱屬相火，當稟命於君火，故當附焉。
　　【按】
　　眼科皆以五輪屬臟，配五行；八廓屬藏腑，配八卦，遂使臟腑混淆，無所
　　適從。夫五輪既屬臟，八卦自應屬腑。今改訂之，俾學者按輪廓之部位視
　　之，而病之在臟、在腑，自能了然矣。
</pre>
<pre data-sec="p">
主題：八廓所屬歌
分類：總綱
條文：津液水廓屬膀胱，養化風廓是膽方，傳導天廓大腸是，水穀地廓胃家鄉，
　　　關泉雷廓命門主，抱陽內眥火小腸，外眥三焦清淨澤，會陰山廓包絡疆。

方劑：
註：[1]內眥火小腸，謂內眥火廓，屬小腸也。
　　[2]外眥三焦清淨澤，謂外眥屬三焦，清淨澤廓也。
　　[3]津液廓即水廓，水廓屬腎，腎與膀胱為表裡，膀胱為津液之腑，故又
　　　 名焉。
　　[4]養化廓即風廓，風廓屬肝，肝與膽為表裡，膽為少陽，主長養化育，
　　　 故又名焉。
　　[5]傳導廓和天廓，天廓屬肺，肺與大腸為表裡，大腸為傳導之官，故又
　　　 名焉。
　　[6]水殼廓即地廓，地廓屬脾，脾與胃為表裡，胃納水殼，故又名焉。
　　[7]抱陽廓即火廓，火廓屬心，心與小腸為表裡，依附於陽，故又名焉。
　　[8]關泉廓即雷廓，命門者龍雷之火，故名關泉，附於火廓也。
　　[9]清淨廓即澤廓，三焦者，陽相火也，蒸化水殼，為決瀆之官，故名清
　　　 淨，附於火廓也。
　　[10]會陰廓即山廓，包絡者，陰相火也，依附於心為臣使之官，故名會陰
　　　 ，附於火廓也。
</pre>
<pre data-sec="p">
主題：八廓部位歌
分類：總綱
條文：瞳人水廓黑睛風，天廓白睛部位同，內眥火雷外山澤，上下胞屬地廓宮。
方劑：
註：[1]八廓者，水廓、風廓、天廓、火廓、雷廓、山廓、澤廓、地廓也。
　　[2]謂之廓者，猶城郭衛禦之義也。
　　[3]瞳人，屬坎水廓也。黑睛，屬巽風廓也。白睛，屬乾天廓也。內眥，
　　　 大眥也，屬離火，震雷之廓也。外眥，小眥也，屬艮山，兌澤之廓也
　　　 。兩胞屬坤，地廓也。
　　[4]此明八廓以八卦立名，示人六腑命門包絡之部位也（圖二）。
</pre>
<pre data-sec="p">
主題：女子逆經歌
分類：補遺
條文：女子逆經血灌瞳，滿眼如朱努肉生，總因血熱經阻逆，通經蘇木大黃紅，
　　　芩連羌薄梔香附，生地歸芍賊草芎。

方劑：通經散方
　　　蘇木一兩　大黃五錢　紅花一兩　黃芩二兩　黃連　羌活　薄荷　黑梔子
　　　香附　生地黃　當歸　赤芍藥　木賊　甘草　川芎各一兩
　　　右為粗末，令勻，每服五錢，以水一盞半，煎至七分，食後，去渣溫服。

註：[1]女子逆經之證，乃血逆上行，衝灌瞳人，以致滿眼赤澀，或生努肉，
　　　 總由血熱經阻不行，因而上逆也。
　　[2]宜用通經散，破血通經，其血翳自退。
</pre>
<pre data-sec="p">
主題：小兒生贅歌
分類：外障證治
條文：小兒生贅生瞼內，初小漸大隱摩瞳，赤澀淚多脾胃熱，鉤割劆洗去瘀紅，
　　　清胃散用車前子，膏軍柴桔黑芩風。

方劑：清胃散方
　　　車前子　石膏　大黃　柴胡　桔梗　黑參　黃芩　防風各一錢
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。

註：[1]小兒生贅之證，生於眼胞之內，初起如麻子，久則漸長如豆，隱摩瞳
　　　 人，赤澀淚出，此乃脾、胃熱上壅所致。
　　[2]先用手法或鉤割或劆洗，散去外瘀；後用清胃散，清其內熱。
</pre>
<pre data-sec="p">
主題：小兒青盲歌
分類：外障證治
條文：小兒青盲胎受風，瞳子端然視物矇，明目羊肝桂柏味，細菊羌連白朮同。
方劑：鎮肝明目羊肝丸方
　　　羯羊肝（用新瓦盆焙乾，如大只用一半，竹刀切片）一具　官桂　柏子仁
　　　五味子　細辛　菊花　羌活各五錢　黃連（炒）七錢　白朮五錢
　　　右為細末，煉蜜為丸，煉蜜為丸，如桐子大，沸湯研調，空心服一錢。

註：[1]小兒青盲者，因胎受風邪，生後瞳人端好，黑白分明，惟視物不見，
　　　 有時夜臥多驚，嘔吐痰涎黃汁。
　　[2]宜用鎮肝明目羊肝丸，久服可癒。
</pre>
<pre data-sec="p">
主題：小兒疳眼歌
分類：外障證治
條文：小兒疳眼肝脾病，腫疼澀淚翳遮瞳，咬甲揉鼻合面臥，肥兒神麥荑連同。
方劑：四味肥兒丸方
　　　神麴（炒）　麥芽（炒）　蕪荑　黃連（炒）各等分
　　　右為細末，令勻，水糊為丸，桐子大，每服一錢，空心白湯送下。

註：[1]小兒疳眼者，初因飲食傷脾，久則肝熱上衝，腫痛難開，隱澀淚多，
　　　 漸生白膜，雲翳遮睛，外則撏眉咬甲揉鼻，喜合面而臥，不喜抬頭。
　　[2]宜用四味肥兒丸，久服即效。
</pre>
<pre data-sec="p">
主題：小兒通睛歌
分類：外障證治
條文：小兒通睛因驚振，看東反西視斜偏，牛黃珠麝竺金黛，地龍蘇附珀油蠶。
方劑：牛黃丸方
　　　牛黃三錢　珍珠三錢　麝香少許　天竺黃三錢　金鉑（為衣）量加　青黛
　　　三錢　地龍三錢　蘇合油五錢　白附子（炮）三錢　琥珀三錢　香油五錢
　　　殭蠶三錢
　　　以上九味，各另研極細，共為一處，用細甘草梢一兩煎汁，次入蘇合油香
　　　油兌均，和藥為丸，黃豆大，金鉑為衣，薄荷湯化一下丸，忌一酒麵、辛
　　　熱、生痰等物。

註：[1]小兒通睛之證，或因驚恐，或緣擊振，致雙目睛通，瞻視偏斜，看東
　　　 反西，視左反右。
　　[2]急用牛黃丸，疏風鎮驚，久則即成難治之證。
</pre>
<pre data-sec="p">
主題：不內外因為病歌
分類：總綱
條文：病由不內外因者，飲食起居擊刺成，邪無定體內外障，細察其因無遁情。
方劑：
註：[1]此明不內外因受病之因也。
　　[2]既非外感六氣，又非內傷七情，但因飲食不節，傷飽失飢，起居不慎
　　　 ，勞役過度，或遭擊振，或被刺損，以其邪無定體，故或成內障，或
　　　 成外障之病，當細察其所因，則病無遁情矣。
</pre>
<pre data-sec="p">
主題：五風初患不足歌
分類：內障證治
條文：五風初患不足證，通明補腎決明參，生地桔車茺芍細，引經竄散少加軍。
方劑：通明補腎丸方
　　　石決明一兩　人參二兩　生地黃二兩　桔梗一兩　車前子一兩　茺蔚子二
　　　兩　白芍藥一兩　細辛半兩　大黃三錢
　　　右為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。

註：
</pre>
<pre data-sec="p">
主題：五風初患有餘歌
分類：內障證治
條文：五風初患有餘證，除風湯內主羚羊，黑芩蝎尾車前子，黃芩白芍共硝黃。
方劑：除風湯方
　　　羚羊角二錢　黑參二錢　茯苓二錢　蝎尾三分　車前子二錢　黃芩一錢　
　　　白芍藥一錢　芒硝一錢　大黃一棧
　　　右為粗末，令勻，以水二盞，煎至一盞，食後去渣溫服。

註：
</pre>
<pre data-sec="p">
主題：五輪主五臟病歌
分類：總綱
條文：胞為脾病眥主心，肺白肝黑腎瞳人，五輪為病主五臟，寒熱虛實隨證分。
方劑：
註：[1]胞為肉輪，主脾病也。肉、外二眥為血輪，主心病也。白睛為氣輪，
　　　 主肺病也。黑睛為風輪，主肝病也。瞳人為水輪，主腎病也。
　　[2]五輪之病，五臟主之。其寒、熱、虛、實，當隨所現之證而分之也。
</pre>
<pre data-sec="p">
主題：五輪所屬部位歌
分類：總綱
條文：五輪肉血氣風水，肉輪兩胞血輪眥，氣輪白睛風輪黑，水輪瞳子自當知。
方劑：
註：[1]五輪者，肉輪、血輪、氣輪、風輪、水輪也。
　　[2]謂之輪者，目睛運動如輪之意也。
　　[3]上、下兩胞為肉輪，內、外兩眥為血輪，白睛為氣輪，黑睛為風輪，
　　　 瞳人為水輪，此明五輪之部位，分屬五臟也（圖一）。
</pre>
<pre data-sec="p">
主題：內因為病歌
分類：總綱
條文：內障皆因傷七情，喜怒憂思悲恐驚，臟腑內損精不注，初為內障久成風。
方劑：
註：[1]此明內障受病之因也。
　　[2]障，遮蔽也；內障者，從內而蔽也。
　　[3]內障之病，皆因七情過傷，過喜傷心，過怒傷肝，過憂傷肺，過思傷
　　　 脾，過悲傷心，過恐傷腎，過驚傷膽，臟腑內損，精氣不上注於目。
　　[4]故初病內障，久成五風（烏風、綠風、黑風、黃風、青風）之患。
　　[5]其證不紅不腫，瞳人色變，而其光先明也。
</pre>
<pre data-sec="p">
主題：內障初患久變五風歌
分類：內障證治
條文：內障初患如好眼，生花視物霧煙中，隱隱似翳瞳失彩，久變黃綠黑烏青，
　　　黃風雀目久金色，綠風時見花白紅，頭旋額鼻目牽痛，黑風見黑綠風向，
　　　烏風亦與綠不異，但痛不旋乃烏風，頭旋不痛青風證。瞳黃黃風發脾經，
　　　淺綠如白肺經發，黑色黑風腎經名，烏帶渾紅心經病，青是青風屬肝經。
　　　外因頭風痛引目，腦脂熱注忽失明；內因精傷不上注，左右相傳漸漸盲。
　　　或兼外因皆赤痛，內因不足補其精。

方劑：
註：[1]內障初患，如同好眼，但視物常見五色花飛，昏而不明，如在霧煙之
　　　 中，瞳中隱隱似翳，漸無精采射人，其瞳色或變黃、白、綠、烏、黑
　　　 ，渾紅無定，久則成五風，內障之證也。
　　[2]黃風者，初病雀目，日久瞳變黃色，甚而如金，難治之證也。
　　[3]綠風者，初病眼前時見白花紅花，頭旋，兩額俠鼻痛牽兩目，日久瞳
　　　 變淺綠如白之色。
　　[4]黑風者，初病與綠風相同，但時見黑花日久瞳變昏黑之色。
　　[5]烏風者，初病亦與綠風之證不異，但頭痛而不旋暈，眼前常見烏花，
　　　 日久瞳變烏帶渾紅之色。
　　[6]青風者，初病亦與烏風相同，頭雖旋暈而不痛，眼前常見青花，日久
　　　 瞳變青色。
　　[7]其五風發病之源，黃風則發於脾經，綠風則發於肺經，黑風則發於腎
　　　 經，烏風則發於心經，青風則發於肝經。
　　[8]然風雖有五，其致病之由則有二：一曰外因，必因頭風，其痛引目上
　　　 攻於腦，腦脂與熱合邪，下注於目，而致兩目忽然失明也，一曰內因
　　　 ，必因內傷臟腑，精氣不上注於目，或先病左目，後及於右目，或先
　　　 病右目，後及於左目，左右相傳，兩目俱損也。
　　[9]外因證屬有餘，多兼赤痛，當以除風散熱為主；內因證屬不足，多不
　　　 赤痛，當以補精益氣為主。
</pre>
<pre data-sec="p">
主題：內障總名歌
分類：內障證治
條文：內障初患變五風，黃綠黑烏青圓冰，滑濇浮沈橫散偃，黃心黑水棗花形，
　　　雷頭驚振及瞳缺，雀目高風胎患名，二十四證為內障，須當一一辨分明。

方劑：
註：[1]內障初患，尚未失明之證也，久而變成五風之證。
　　[2]瞳變黃色者，名曰黃風。變綠白色，名曰綠風。變黑色者，名曰黑風
　　　 。變烏紅色者，名曰烏風。變青色者，名曰青風。
　　[3]圓者，圓翳也。
　　[4]冰者，冰翳也。
　　[5]滑者，滑翳也。
　　[6]濇者，濇翳也。
　　[7]浮者，浮翳也。
　　[8]沉者，沉翳也，又名深翳。
　　[9]橫者，橫翳也，又名劍脊翳。
　　[10]散者，散翳也。
　　[11]偃者，偃月翳也。
　　[12]黃心者，白翳黃心翳也。
　　[13]黑水者，黑水凝翳，亦名黑花翳。
　　[14]棗花者，棗花翳也。
　　[15]雷頭者，雷頭風變內障也。
　　[16]驚振者，因驚振而成內障也。
　　[17]胎患者，胎患內障也。
　　[18]此內障二十四證之總名也，須當一一分辨明白，以施治也。
</pre>
<pre data-sec="p">
主題：天行赤眼歌
分類：外障證治
條文：天行赤眼四時生，傳染熱淚腫赤疼，受邪淺深隨人化，驅風散熱飲防風，
　　　牛蒡將軍羌赤芍，連翹梔薄草歸芎。

方劑：驅風散熱飲
　　　防風　牛蒡子（炒研）　大黃（酒浸）　羌活　赤芍藥　連翹　梔子（炒
　　　）　薄荷各一錢　甘草五分　當歸尾　川芎各一錢
　　　右為粗末，以水二盞，煎一至一盞，食後去渣溫服。

註：[1]天行赤眼者，四時流行風熱之毒，傳染而成，老幼相傳，沿門逐戶，
　　　 赤腫澀淚，羞明疼痛，受邪淺深，視人強弱，強者先癒，弱者遲癒。
　　[2]宜用驅風散熱飲，風盛倍羌防，熱盛倍大黃。
</pre>
<pre data-sec="p">
主題：外因為病歌
分類：總綱
條文：外障皆因六氣生，暑寒燥濕火與風，內熱召邪乘隙入，隨經循系上頭中。
方劑：
註：[1]此明外障受病之因也。
　　[2]外障者，從外而遮也。風、寒、暑、濕、燥、火，六氣也。
　　[3]外障之病，皆因六淫所感，然必因其人內熱外蒸，腠理不密，相召外
　　　 邪，乘虛而入，入項屬太陽，入面屬陽明，入頰者屬少陽，各隨其經
　　　 之系，上頭入腦中，而為患於目焉。
　　[4]其證：赤、痛、腫、澀、眵、淚、醫膜遮睛也。
</pre>
<pre data-sec="p">
主題：外障總名歌
分類：外障證治
條文：外障暴赤血灌瞳，硬睛赤垂與黃衝，蟹睛旋螺並努肉，鵝冠蜆肉崇疼同。
　　　突睛漏睛連鶻眼，拳毛倒睫胞凝逢，眥赤花陷及黑釘，喎僻冰瑕黏睛並。
　　　玉翳水輪逆順，瞼出風粟又混睛，撞破撞刺及針刺，眼癢淚出瘡痍生。
　　　客熱傷寒並肝熱，因他痰核天水行，青盲赤爛癍瘡病，轉關生贅疳眼名。
　　　小兒通睛恙雖小，還有眯目證為輕，此為外障四十人，熟讀方知各證情。

方劑：
註：[1]外障者，或因內熱，或因外邪，或內、外合邪，致生目赤腫痛翳膜等
　　　 證也。
　　[2]暴者，暴赤生翳也。
　　[3]血灌瞳者，血灌瞳人也。
　　[4]硬睛者，瞼硬睛疼也。
　　[5]赤垂者，赤膜下垂也。
　　[6]黃衝者，黃膜上衝也。
　　[7]蟹睛者，形如蟹睛而疼痛也。
　　[8]旋螺者，形如旋螺尖起也。
　　[9]努肉者，努肉攀睛也。
　　[10]崇疼者，神崇疼痛也。
　　[11]突睛者，突起睛高也。
　　[12]漏睛者，漏睛膿出也。
　　[13]鶻眼者，鶻眼凝睛也。
　　[14]胞凝者，胞肉膠凝也。
　　[15]眥赤者，兩眥赤脈也。
　　[16]花陷者，芯翳白陷也。
　　[17]黑者，黑翳如珠也。
　　[18]釘者，釘翳根深也。
　　[19]喎僻者，風牽喎僻也。
　　[20]冰瑕者，冰瑕翳深也。
　　[21]黏睛者，兩瞼黏睛也。
　　[22]玉翳者，玉翳浮滿也。
　　[23]水輪者，膜入水輪也。
　　[24]逆順者，逆順生翳也。
　　[25]撞破者，被物撞破也。
　　[26]撞刺者，撞刺生翳也。
　　[27]針刺者，痛如針刺也。
　　[28]淚出者，衝風淚出也。
　　[29]瘡痍者，風赤瘡痍也。
　　[30]客熱者，暴風客熱者。
　　[31]傷寒者，傷寒熱病後患目也。
　　[32]肝熱者，肝虛積熱也。
　　[33]因他者，因他病後生翳也。
　　[34]痰核者，脾生痰核也。
　　[35]天水者，天水行後赤眼也。
　　[36]赤爛者，胎風赤爛也。
　　[37]癍瘡者，癍瘡入眼也。
　　[38]轉關者，轆轤轉關也。
　　[39]生贅者，瞼中生贅也。
　　[40]此外障四十八證之總名，讀者誠能熟習
　　　 玩味，自因病而各得其情矣。
</pre>
<pre data-sec="p">
主題：玉翳浮滿歌
分類：外障證治
條文：玉翳浮滿時或疼，風熱衝腦蓋瞳睛，洗刀通聖羌獨細，蒺元賊決蛻蔓青。
方劑：洗刀散方
　　　即防風通聖散加羌活、獨活、細辛、蒺藜、元參、木賊、草決明、蟬蛻、
　　　蔓荊子、青葙子各一錢

註：[1]玉翳浮滿之證，初起時，或疼痛，黑睛上翳如玉色，遮蓋瞳人，皆緣
　　　 肝經熱極，風熱衝腦所致。
　　[2]宜用洗刀散，除風熱而消翳膜也。
</pre>
<pre data-sec="p">
主題：白眼痛歌
分類：補遺
條文：白眼痛病不紅腫，紅絲赤脈沙澀疼，肺脾濕熱兼伏火，須辨赤脈三陽經。
　　　桑皮澤元芩桔，菊草旋苓桑麥冬。

方劑：桑白皮湯方
　　　澤瀉八分　元參八分　黃芩一錢　桔梗七分　菊花五分　甘草二分半　旋
　　　覆花一錢　茯芩七分　桑白皮七分　麥門冬（去心）一錢
　　　右為粗末，以水二盞，煎至一盞，去渣溫服。

註：[1]白眼痛者，俗呼為害白眼。
　　[2]其證不紅、不腫，沙澀疼痛，多生紅絲赤
　　　 脈。
　　[3]乃脾肺絡傷濕熱，兼氣分俟火上衝所致。
　　[4]須看赤脈紅絲，以辨三陽：從上而下者太陽也，羌活為使；從下而上
　　　 者陽明也，升麻為使；從外至內者少陽也，柴胡為使。
　　[5]宜桑白皮湯主之。
</pre>
<pre data-sec="p">
主題：白翳黃心歌
分類：內障證治
條文：白翳黃心內障證，四圍白包內中黃，大小眥中微帶赤，翳隱黑珠障內光，
　　　肺肝風熱衝於目，澀痛羞明淚似湯。墜翳決明茺蔚子，人參甘菊共車防。

方劑：墜翳散方
　　　石決明二錢　茺蔚子二錢　人參三錢　甘菊花三錢　車前子三錢　防風二
　　　錢
　　　右為細末，令勻，食後米飲湯調下一錢。

註：[1]白翳黃心內障，四邊皆白，中心一點微黃色，隱在黑珠內，映出珠外
　　　 ，大小眥頭微帶赤色。
　　[2]乃肺肝風熱，流入於眼，頻頻下淚澀痛，致成此證，宜服墜翳散。
</pre>
<pre data-sec="p">
主題：目睛原始歌
分類：總綱
條文：天有日月陰陽精，人有二目臟腑精，眾精之窠為之眼，肉精上下兩胞名，
　　　血精兩眥氣精白，筋精為黑骨精瞳，約束裹擷系屬腦，目睛原始要詳明。

方劑：
註：[1]天有日月，猶人之有二目也。
　　[2]天之日月，乃天之陰陽之精而為之也。
　　[3]人之二目，亦人之五臟六腑之精上注於目而為之也。
　　[4]故眾精之窠為之眼也，肉之精為上下胞也，血之精為兩眥也，氣之精
　　　 為白眼也，筋之精為黑眼也，骨之精為瞳人也，約束裹擷氣血筋骨之
　　　 精，其系上屬於腦。
　　[5]不可不明此目睛之原始也。
</pre>
<pre data-sec="p">
主題：冰瑕翳深歌
分類：外障證治
條文：冰瑕翳深色微青，橫貫烏睛珠癢疼，淚眵赤脈緣肝熱，石燕丹宜外點靈，
　　　內服茺蔚硝黃細，元芍知母殼防風。

方劑：石燕丹方見卷末
　　　茺蔚散方
　　　茺蔚子二錢　芒硝一錢　大黃一錢　細辛五分　黑參一錢　赤芍藥一錢五
　　　分　知母一錢　枳殼一錢　防風二錢
　　　右為粗末，以水二盞，煎至一盞，食遠溫服。

註：[1]冰瑕翳深之證，翳色青白如冰，橫貫烏睛，其證或癢或疼，發歇無時
　　　 ，眵黏淚出，白睛赤脈，此乃肝經之熱。
　　[2]宜外點石燕丹，內服茺蔚散。
</pre>
<pre data-sec="p">
主題：冰翳歌
分類：內障證治
條文：冰翳瞳色亮如冰，陰看陽看無二形，睛中隱隱白透外，肺風肝熱合邪攻，
　　　對證雖當針督脈，出血若多反傷睛。還睛參味傷知細，芩桔車前元地茺。

方劑：冰翳還睛丸方
　　　人參一兩　五味子半兩　防風二兩　知母二兩　細辛半兩　黃芩一兩　桔
　　　梗一兩　車前子二兩　黑參一兩　生地黃二兩　茺蔚子二兩
　　　右為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。

註：[1]冰翳內障，瞳色堅實，白亮如冰之狀。
　　[2]無論陰處及日中視之，皆一般無二，非若圓翳之明暗有別也。
　　[3]其睛內有白色隱隱透出於外，此證乃肝熱肺風合邪，上攻入目為患，
　　　 宜按亢刺之出血則癒，但督脈不宜出血過多，若出血過多，恐加昏暗
　　　 也。
　　[4]內服之藥，宜還睛丸清而補之。穴名上星，在鼻直上入髮際一寸陷中
　　　 。
</pre>
<pre data-sec="p">
主題：因他患後生翳歌
分類：外障證治
條文：因患病後生雲翳，赤爛日久翳遮瞳，心無黃赤猶能見，羊肝丸疾菊川芎，
　　　決地楮槐連五味，荊歸甘草蕤仁風。

方劑：羊肝丸方
　　　雄羊肝一具　白蒺藜（炒去刺）一兩　菊花（去梗葉）一兩　川芎三錢　
　　　石決明一兩　生地黃一兩　楮實子五錢　槐角（炒）五錢　黃連五錢　五
　　　味子五錢　荊芥穗二錢五分　當歸尾五錢　甘草五錢　蕤仁（去殼油）七
　　　錢　防風二錢
　　　右為細末，雄羊肝一具，滾水沸過，和前藥，搗為丸，如桐子大。每服五
　　　六十丸，空心薄荷湯下。

註：[1]因患他病後生翳者，為患後生翳也。
　　[2]初則赤爛，日久漸生雲翳，遮蔽瞳人，視無所見，醫者當細看翳心，
　　　 若不黃赤，猶能通三光者，可治，宜常服羊肝丸可癒。
</pre>
<pre data-sec="p">
主題：血灌瞳入歌
分類：外障證治
條文：血灌瞳人目睛痛，猶如血灌色相同，膽汁肝血因熱耗，血為火迫灌睛瞳，
　　　急用止痛沒藥散，硝黃血竭引茶清，痛止大黃當歸散，賊芩梔子菊蘇紅。

方劑：止痛沒藥散方
　　　沒藥二兩　芒硝一兩半　大黃一兩半　血竭一兩
　　　右搗篩為細末，食後，熱茶清調下一錢。
　　　大黃當歸散方
　　　大黃一兩　當歸二錢　木賊一兩　黃芩一兩　梔子五錢　菊花三錢　蘇木
　　　五錢　紅花八錢
　　　右為細末令勻，每服二錢，食遠茶清調下。

註：[1]血灌瞳人，目睛疼痛，瞳人如血灌紅色。
　　[2]緣肝血熱耗，膽汁皆虧，血因火迫，灌入瞳中。
　　[3]宜服止痛沒藥散，止疼後，服大黃當歸散。
</pre>
<pre data-sec="p">
主題：行經目痛歌
分類：補遺
條文：女子行經目澀疼，眩暈頭疼雲翳生，去血過多肝臟損，當歸補血薄羌茺，
　　　柴胡蒺藜菊防草，生地當歸白芍芎。

方劑：當歸補血湯方
　　　薄荷五分　羌活五分　茺蔚子一錢　柴胡八分　蒺藜一錢　菊花八分　防
　　　風八分　甘草四分　生地黃二錢　當歸一錢五分　白芍藥一錢　川芎八分
　　　右為粗末，以水二盞，煎至一盞，去渣溫服。

註：[1]行經目痛者，女子遇經行之際，眼目澀痛，頭疼眩暈，腫澀難開，生
　　　 翳於黑睛上，或如粟米，或花翳白陷。
　　[2]此因經行去血過多，肝經虛損故也。
　　[3]宜用當歸補血湯治之。
</pre>
<pre data-sec="p">
主題：努肉攀睛歌
分類：外障證治
條文：努肉攀睛大眥起，初侵風輪久掩瞳，或癢或疼漸積厚，赤爛多年肺熱壅。
　　　初起紫金膏點效，久宜　割熨烙攻，內服除風湯蔚桔，細辛連味大黃風。

方劑：除風湯方
　　　茺蔚子一錢　桔梗一錢　細辛五分　黃連一錢　五味子五分　大黃一錢　
　　　防風一錢
　　　右為末 ，以水二盞，煎至一盞，食後，去渣溫服。
　　　紫金膏方見卷末

註：[1]努肉攀睛之證，起於大眥，初則漸浸風輪，久則掩過瞳人，或癢或痛
　　　 ，漸漸積厚。
　　[2]此證多因赤爛年久，或肺經風熱壅盛所致。
　　[3]初起可點紫金膏，努瘀自退；久則堅韌難消，必須　割熨烙後，服除
　　　 風湯。
</pre>
<pre data-sec="p">
主題：妊娠目病歌
分類：補遺
條文：妊娠目病有餘證，須辨氣分血分醫，氣分旋螺瞳散大，天冬飲用茯苓知，
　　　羌活防風參五味，血分瘀血並凝脂，保胎芩芥歸芍草，連翹芎地縮陳皮。

方劑：天門冬飲
　　　天門冬一錢五分　茯苓一錢　知母一錢五分　羌活五分　人參五分　五味
　　　子五分
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。
　　　保胎清火湯方
　　　黃芩一錢二分　荊芥穗　當歸身　白芍藥各一錢　甘草（炙）三錢　連翹
　　　一錢　川芎八分　生地黃　縮砂仁　陳皮各一錢
　　　右為粗末，以水二盞，煎至一盞，食遠，去渣溫服。

註：[1]妊娠目病者，為有餘之證，有氣分、血分之別。
　　[2]屬氣分者，多見旋瞳人散大，乃氣分之熱，宜天門冬飲；屬血分者，
　　　 多生瘀血，凝脂翳障，乃血分之熱，宜用保胎清火湯以治之。
</pre>
<pre data-sec="p">
主題：沉翳歌
分類：內障證治
條文：沉翳白隱黑睛內，肝勞腦熱下攻瞳，向日細看方見翳，日輕夜重黑睛疼。
　　　羚羊角飲車前子，羚角軍防苓黑茺，皂莢丸用蛇蟬朮，龍膽元精歸菊芎，
　　　參苓木賊連翹芍，豬爪猬皮甲穀精。

方劑：沉翳羚羊飲
　　　車前子一錢　羚羊角二錢　大黃一錢　防風二錢　黃芩一錢　黑參一錢　
　　　茺蔚子二錢
　　　右為粗末，水二盞，煎至一盞，食後去渣溫服。
　　　皂莢丸方
　　　蛇蛻七條　蟬蛻　白朮　龍膽草　元石　當歸　白菊花各兩半　川芎半兩
　　　人參一兩　茯苓一兩半　木賊一兩半　連翹一兩半　赤芍藥一兩半　
　　　獖豬爪三十枝，刺猥皮　穿山甲　殼精草各一兩半
　　　共為細末，一半入牙皂十二梃，燒存性，和勻，煉白蜜丸桐子大，每服一
　　　錢五分，空心杏仁湯下；一半入仙靈脾一兩，每服三錢，用豬肝三片，批
　　　開夾藥煮熟，臨臥細嚼，用原汁送下。

註：[1]沉翳內障，白藏在黑睛之內，向日細看，方見其白，疼痛則晝輕夜重
　　　 。
　　[2]緣肝經勞熱，腦中熱氣流下，宜服苓羊角飲子及皂莢丸以治之。
</pre>
<pre data-sec="p">
主題：肝虛積熱歌
分類：外障證治
條文：肝虛積熱頻發歇，起初紅腫痛羞明，年深生翳漸昏暗，青箱丸用菟絲茺，
　　　生地青箱防五味，黑柴澤瀉細車芩。

方劑：青箱丸方
　　　菟絲子一兩　茺蔚子一兩　生地黃二兩　青箱子二兩　防風一兩　五味子
　　　三錢　黑參一兩　柴胡一兩　澤瀉一兩　細辛三錢　車前子一兩　茯苓一
　　　兩
　　　右為細末，煉蜜為丸，桐子大，空心茶清送下三錢。

註：[1]肝虛積熱之證，時發時歇，初則紅腫疼痛，澀淚難開，久則漸重，遂
　　　 生翳膜，視物昏暗，宜用青箱子丸治之。
</pre>
<pre data-sec="p">
主題：赤膜下垂歌
分類：外障證治
條文：赤膜下垂覆睛瞳，赤膜從氣下垂風，此屬肝肺熱衝眼，淚流痛癒如朱紅，
　　　羚羊知母黃芩黑，桔梗柴胡梔子茺。

方劑：羚羊飲
　　　羚羊角（鎊）一錢五分　知母　黃芩　黑參　桔梗　柴胡　梔子（炒）各
　　　一錢　茺蔚子二錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]赤膜下垂，初患之時，氣輪上邊起赤膜一片，垂至風輪，下覆瞳人。
　　[2]緣肝、肺之熱，衝於眼內，致生赤膜，淚流痛癢，宜服羚羊飲。
</pre>
<pre data-sec="p">
主題：兩眥赤脈歌
分類：外障證治
條文：眥赤病屬心經火，大眥多實小眥虛，實者洗心散歸芍，麻黃連芥大黃梔，
　　　虛者九仙芩芥芍，菊芎歸草芷通宜。

方劑：七寶洗心散方
　　　當歸一錢　赤芍藥一錢　麻黃八分　黃連一錢　荊芥八分　大黃一錢　梔
　　　子一錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。
　　　九仙散方
　　　黃芩　荊芥　赤芍藥　菊花　川芎　當歸　甘草　白芷　木通谷一錢
　　　右為粗末，以水二盞，煎至一盞，食後服。

註：[1]眥赤之證，赤脈起於大眥者，心經之實火也；赤脈起於小眥者，心經
　　　 之虛熱也。
　　[2]實者用洗心散，兩解其實邪；虛者宜九仙散，清降其虛熱也。
</pre>
<pre data-sec="p">
主題：兩瞼黏睛歌
分類：外障證治
條文：兩瞼黏睛眵癢疼，脾胃風濕熱甚成，菊花通聖硝黃桔，芍草荊歸膏薄芎，
　　　麻芩梔滑翹防朮，外加羌細菊蔓荊。

方劑：菊花通聖散方
　　　芒硝五分　大黃（酒蒸）五分　桔梗一錢　白芍藥（炒）五分　甘草（生
　　　）一錢五分　荊芥穗五分　當歸五分　石膏一錢　薄荷五分　川芎五分　
　　　麻黃五分　黃芩一錢　梔子（炒黑）一錢　滑石二錢　連翹五分　防風五
　　　分　白朮（炒）五分
　　　外加羌活、細辛、菊花、蔓荊子各五分。
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]兩瞼黏睛之證，瞼內生瘡，眵淚癢痛，胞瞼黏合難開，此乃脾、胃中
　　　 風濕熱盛，合邪上攻。
　　[2]宜用防風通聖散羌活、菊花、細辛、蔓荊子，外散風邪，內清邪熱。
</pre>
<pre data-sec="p">
主題：花翳白陷歌
分類：外障證治
條文：花翳白陷在烏睛，四圍漸起漫神瞳，狀如棗花魚鱗翳，肺肝風熱腦中衝，
　　　知母飲子防風桔，知母硝黃芩細茺。

方劑：知母飲子
　　　防風一錢五分　桔梗一錢五分　知母一錢　芒硝一錢　大黃一錢五分　茯
　　　苓一錢　細辛一錢　茺蔚子一錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]花翳白陷者，乃黑睛生翳，風輪四圍漸起，中間低陷，其翳狀如棗花
　　　 魚鱗之形，烏睛或白或帶微黃。
　　[2]此因肺肝積熱，風邪上衝於腦所致，宜用知母飲子。
</pre>
<pre data-sec="p">
主題：附外治方
分類：補遺
條文：
方劑：焮腫膏方
　　　膩粉少許　黃蠟　代赭石（研）各五錢　細磁末　黃柏（細末）　麻油各
　　　一兩
　　　上為極細末，入銅杓內，入油蠟同煎為膏，塗患處。
　　　紫金膏方
　　　爐甘石（爐甘石入大銀罐內，鹽泥封固，用炭火煅一炷香，以罐通紅為度
　　　，取起為來，用黃連水飛過，再入黃芩黃連黃柏湯內，將湯煮乾，以甘石
　　　松花色）四兩　黃丹（入鍋內，炒黑色，用草試之，草灼提起，如此三次
　　　，研極細末水飛）四兩　硼砂（研細飛過）三錢　朱砂（研細飛過）三錢
　　　輕粉五分　青鹽（水洗水泥）五分　珍珠三錢　白丁香（乳汁化開，去渣
　　　）五分　沒藥五分　乳香五分　海螵蛸（去皮研細）二錢　桔礬五分　硇
　　　砂五分　當歸（研細）五分　川芎（研細）五分　黃連（研細）五分　甘
　　　草（研細）五分　麝香五分　冰片五分
　　　如法炮製，各研極細無聲，用好白蜜十五兩，入鍋內，熬去沫，只用白蜜
　　　十兩，先下爐甘石攪勻，次下黃丹攪勻，再下諸藥，不住手攪勻，如紫金
　　　色，不黏手為度。
　　　石燕丹方
　　　爐甘石（爐甘石入大銀罐內，鹽泥封固，用炭火煅一炷香，以罐通紅為度
　　　，取起為末，用黃連水飛過，再入黃芩黃連黃柏湯內，將湯煮乾，以甘石
　　　如松花色）四兩　硼砂（銅杓內同水煮乾）　石燕　琥珀　朱砂（水飛）
　　　各取淨末一錢五分　鷹屎白（如無、白丁香代之）一錢　冰片麝香各分半
　　　右為極細末，研至無聲，每用少許 ，水蘸點眼大眥。
　　　枯澀無淚，加熊膽、白蛋。血翳，加真阿魏。黃翳，加雞內金，風熱翳，
　　　加蕤仁。熱翳，加珍珠、牛黃。冷翳，加附子尖雄黃。老翳，倍硼砂，加
　　　豬胰子。
　　　摩風膏方
　　　黃連　細辛　當歸　杏仁（去皮、尖，為霜）　防風　松脂各五錢　白芷
　　　黃蠟各一兩　麻油四兩
　　　先將蠟油溶化，前藥共研為細末，慢火熬膏，貼太陽穴。
　　　摩障靈光膏方
　　　黃連（剉如豆大，童便浸一宿，晒乾為末）一兩　黃丹（水飛）三兩　當
　　　歸（酒洗）二錢　麝香五分　乳香五分　輕粉一錢　礦砂一錢　白丁香一
　　　錢　龍腦一錢　海螵蛸（俱另研細末）一錢　爐甘石（以黃連一兩，煎水
　　　淬七次，研細）六兩
　　　先用好白蜜十兩，熬五七沸，以淨紙搭去蠟面，除黃丹外，下餘藥，用柳
　　　攪勻；次下黃丹再攪，慢火徐徐攪至紫色，卻將乳香、麝香、輕粉、硇砂
　　　和勻，入上藥內，以不黏手為度。
　　　廣大重明湯方
　　　防風　菊花　龍 膽草　甘草　細辛各等分
　　　右為 粗末，水一盞，煎半盞，去渣帶熱燻洗。
　　　五膽膏方
　　　豬膽汁　黃牛膽汁　羊膽汁　鯉魚膽汁各二錢五分　白蜜二兩　胡黃連（
　　　研末）　青皮（研末）　川黃連（研末）　熊膽各二錢五分
　　　右將諸藥末與蜜並膽汁和勻，入磁瓶內，以細紙封頭牢繫，坐飯甑中蒸，
　　　待飯熟為度。

註：
</pre>
<pre data-sec="p">
主題：青風不足歌
分類：內障證治
條文：已成青風不足證，還睛散內用苓參，防風地骨車前子，羌活川芎共細辛。
方劑：青風還睛散方
　　　茯苓　人參　防風　地骨皮　車前子　羌活　川芎　細辛各等分
　　　右為粗末，以水二盞，煎至一盞，食後去滓溫服。

註：
</pre>
<pre data-sec="p">
主題：青風有餘歌
分類：內障證治
條文：已成青風有餘證，羚羊湯內用羚羊，元參地骨車前子，川芎羌活細辛良。
方劑：青風羚羊湯方
　　　羚羊角一錢　元參一錢　地骨皮一錢　車前子一錢五分　川芎一錢　羌活
　　　一錢　細辛五分
　　　右為粗末，以水二盞，煎至一盞，食遠溫服。

註：
</pre>
<pre data-sec="p">
主題：突起睛高歌
分類：外障證治
條文：突起睛高珠腫疼，風熱毒火上衝睛，針後亡熱桔梗飲，硝黃茺芍黑芩風，
　　　還睛五味參芩細，山藥車前防防遠茺。

方劑：退熱桔梗飲子
　　　桔梗　芒硝　大黃　茺尉子　白芍藥（炒）　黑參　黃芩　防風各一錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。
　　　還睛丸方
　　　五味子半兩　人參二兩　茯苓一兩　細辛半兩　山藥一兩　車前子　防風
　　　遠志　茺蔚子各一兩
　　　右為細末，煉蜜丸，桐子大，空心茶清送下三錢。

註：[1]突起睛高之證，緣風熱火毒，上衝於眼，疼痛難忍，睛珠突高脹起。
　　[2]宜先用針出其青涎毒水後，服退熱桔梗飲子，用還睛丸調理可癒。
</pre>
<pre data-sec="p">
主題：胎風赤爛歌
分類：外障證治
條文：胎風爛緣胎熱，目赤眵黏眥爛紅，小防風湯羌梔草，歸尾將軍赤芍風。
方劑：小防風湯
　　　羌活　梔子　甘草　當歸尾　大黃　赤芍藥　防風各五分
　　　右為粗末，以水一盞半，煎至五分，空心溫服。

註：[1]胎風赤爛之證，因在母腹其母過食辛熱，或生後，乳母過食辛熱，致
　　　 令小兒雙目盡赤，眵淚膠黏，四眥濕爛，宜用小防風湯治之。
</pre>
<pre data-sec="p">
主題：胎患內障歌
分類：內障證治
條文：胎患小兒未出胎，熱衝兒腦目生災，護睛木香芩細射，川大黃與黑參偕。
方劑：護睛丸方
　　　木香五錢　黃芩五錢　細辛三錢　射干五錢　大黃五錢　黑參一兩
　　　右為細末，煉蜜為丸，如桐子大，空心茶清服十丸。

註：[1]胎患內障，兒在母腹之時，緣食辛辣過多，致熱氣內衝兒腦，及致生
　　　 後，眼成內障，宜用護睛丸。
</pre>
<pre data-sec="p">
主題：胞肉膠凝歌
分類：外障證治
條文：胞肉膠凝胞肉腫，初小漸大摩隱瞳，胃脾風熱上攻目，通脾瀉胃熱風清。
方劑：通脾瀉胃湯方見黃膜上衝下
註：[1]胞肉膠凝之證，睥中蠹肉壅起，初小漸大，摩隱瞳人，眼胞濕爛，眵
　　　 淚膠黏。
　　[2]此乃脾、胃中邪風積熱，上壅於目所致。
　　[3]宜用通脾瀉胃湯，散風清熱，兩解其邪。
</pre>
<pre data-sec="p">
主題：風赤瘡痍歌
分類：外障證治
條文：風赤瘡痍眥瞼生，黑睛端好瞼爛紅，脾經風熱宜急治，久生翳膜遮瞳睛。
　　　加減四物湯生地，苦參牛蒡薄荷風，當歸赤芍天花粉，連翹荊芥穗川芎。

方劑：加減四物湯方
　　　生地黃　苦參　牛蒡子　薄荷　防風　當歸　赤芍藥　天花粉　連翹　荊
　　　芥穗　川芎各一錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]風赤瘡痍者，起於兩眥，其黑睛則端然無恙，惟瞼邊爛而紅赤。
　　[2]此乃脾經風熱上攻所致，宜急治之，久則恐生翳膜，遮蓋睛瞳。
　　[3]用加減四物湯。
</pre>
<pre data-sec="p">
主題：風牽喎僻歌
分類：外障證治
條文：風牽喎僻瞼癢赤，陽明風刺睛明，內服排風蝎味蛇，天麻辛芍桔防風。
方劑：排風散方
　　　乾蝎　五味子　烏蛇各一錢　天麻二麻　細辛　白芍藥（炒）　桔梗各一
　　　錢　防風二錢
　　　右為細末，令勻，食後米飲調下三錢。

註：[1]風牽喎僻之證，瞼皮癢赤，時時口眼相牽而動，此乃陽明風熱上壅所
　　　 致。
　　[2]宜先用針刺睛明穴，外泄其邪，後服排風散，內疏其風。
</pre>
<pre data-sec="p">
主題：風牽瞼出歌
分類：外障證治
條文：風牽瞼出瞼皮翻，胞瞼俱紅眵淚連，胃經積熱肝風盛，劆洗去瘀病可痊，
　　　後服黃耆湯蔚骨，防苓芩草大黃煎。

方劑：黃耆湯方
　　　黃耆一錢　茺蔚子二錢　地骨皮一錢　防風一錢五分　黃芩一錢　茯苓一
　　　錢　甘草五分　大黃一錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]風牽瞼出之證，乃瞼皮翻出向外，上、下胞瞼俱赤，眵淚淋漓，皆緣
　　　 胃經積熱，肝有風邪。
　　[2]宜先用劆洗去瘀，後服黃耆湯，清熱散邪也。
</pre>
<pre data-sec="p">
主題：倒睫卷毛歌
分類：外障證治
條文：倒睫卷毛內刺睛，皮鬆弦緊癢兼疼，磣澀難開胞瞼爛，肝風脾熱兩壅，細
　　　辛湯用知茺黑，軍細防風桔梗羚。

方劑：細辛湯方
　　　知母二錢　茺蔚子二錢　黑參一錢　大黃一錢　細辛一錢　防風二錢　桔
　　　梗一錢　羚羊角（鎊）一錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]倒睫拳毛之證，由皮鬆弦緊，故拳毛倒入，內刺睛珠，磣澀難開，眼
　　　 胞赤爛，癢而兼疼。
　　[2]此乃脾熱肝風，合邪上壅所致。
　　[3]宜用細辛湯，內清邪熱，外散風邪也。
</pre>
<pre data-sec="p">
主題：浮翳歌
分類：內障證治
條文：浮翳色白瞳內映，明看細小暗看寬，不癢不疼無血色，腦風衝入腦脂愆。
　　　決明石決人參茯，車細防軍茺桔添，墜翳石決知辛味，生地參防及兔肝。

方劑：石決明散方
　　　石決明一錢　人參一錢　茯苓一錢　車前子一錢　細辛五分　防風二錢　
　　　大黃一錢　茺蔚子二錢　桔梗一錢半
　　　右為細末，令勻，食後米飲湯調下二錢。
　　　浮翳墜丸方
　　　石決明一兩　知母一兩　細辛五錢　五味子半兩　生地黃二兩　人參二兩
　　　半　防風一兩　兔肝一具
　　　右為細末，煉密為丸，如桐子大，空心茶清送下三錢。

註：[1]浮翳內障之證，初患之時，不癢不疼，從瞳神內映出白色，暗處看則
　　　 其寬大，明處看其翳略小，全無血色相混，緣腦衝入於眼，腦脂流下
　　　 ，致成內障，宜服決明散墜翳丸。
</pre>
<pre data-sec="p">
主題：烏風不足歌
分類：內障證治
條文：已成烏風不足證，補肝散內用川芎，熟地當歸莢藜芍，木賊夏桔草防風。
方劑：烏風補肝散方
　　　川芎　熟地黃　當歸　白芍藥　蒺藜　木賊　夏枯草 　防風各一錢
　　　右為粗末，以水二盞，煎至一盞，食前去渣溫服。

註：
</pre>
<pre data-sec="p">
主題：烏風有餘歌
分類：內障證治
條文：已成烏風有餘證，決明丸內決明辛，桔梗防風茺蔚子，車茯山藥共元參。
方劑：烏風決明丸方
　　　石決明二兩　細辛五錢　桔梗　防風　茺蔚子　車前子　茯苓　山藥　元
　　　參各二兩
　　　右為細末，煉蜜為丸，如桐子大，食前茶清送下三錢。

註：
</pre>
<pre data-sec="p">
主題：神崇疼痛歌
分類：外障證治
條文：神崇疼痛忽然發，胞熱睛疼緣肺肝，洗肝散用硝黃桔，梔子黃芩知母添，
　　　黑參熱盛加歸地，外點還宜石燕丹。

方劑：酒調洗肝散方
　　　朴硝　大黃　桔梗　梔子　黃芩　知母（炒）　黑參各等分
　　　熱甚者，加生地黃當歸尾。右為末，每服二三錢，溫酒調下，日服二次。
　　　石燕丹方見卷來

註：[1]神崇疼痛之證，平素無病，忽然發動，瞼皮火熱，睛珠如刺，極痛難
　　　 當。
　　[2]此肺、肝風熱，上攻於眼，不可劆洗，宜服酒調洗肝散，外點石燕丹
　　　 。
</pre>
<pre data-sec="p">
主題：能近怯遠歌
分類：補遺
條文：近視清明遠視昏，陽光不足被陰侵，定志丸用菖蒲遠，朱砂人參白茯神。
方劑：定志丸方
　　　菖蒲二兩　遠志（去心）二兩　朱砂（研細另用）三錢　人參一兩　白茯
　　　神一兩
　　　右為細末，煉蜜為丸，桐子大，以朱砂為衣，每服五十丸，食後米飲湯送
　　　下。

註：[1]能近怯遠者，非生成近視，謂平昔無此證，忽視物斤則明瞭，遠則昏
　　　 暗也。
　　[2]由其人陰偏盛，陽氣不足，陽被陰侵，是以光華不能發越於遠也。
　　[3]宜定志丸補心壯神，神足則自能遠視矣。
</pre>
<pre data-sec="p">
主題：能遠怯近歌
分類：補遺
條文：近視昏矇遠視明，陽光有餘損陰精，須用地芝丸枳殼，菊花生地共天冬。
方劑：地芝丸方
　　　枳殼（去穰）　菊花各三兩　生地黃（焙乾）　天門冬（去心）各四兩
　　　右為細末，煉蜜為丸，桐子大，每服百丸，食後茶清送下。

註：[1]能遠怯近者，謂視物遠則能見，近則昏矇也。
　　[2]蓋由其人陽氣有餘，陰精不足，故光華散亂，不能收斂於近也。
　　[3]宜用地芝丸養陰，久服則目自癒。
</pre>
<pre data-sec="p">
主題：逆順生翳歌
分類：外障證治
條文：逆順生翳上下坐，順則下垂逆上衝，鈎割後用知母飲，知味軍芩車桔茺。
方劑：知母飲子
　　　知母（炒）二錢　五味子五分　大黃一錢　黃芩一錢　車前子二錢　桔梗
　　　一錢　茺蔚子二錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]逆順生翳之證，從上垂下，侵入黑睛為順，從下衝上，侵入黑睛為逆
　　　 。
　　[2]順則易安，逆則難治。
　　[3]並宜手法鉤割去其翳膜，後服知母飲子，清其內熱。
</pre>
<pre data-sec="p">
主題：釘翳根深歌
分類：外障證治
條文：釘翳根深睛內生，硬似釘頭極痛疼，赤澀羞明時淚出，肝心毒熱上衝瞳，
　　　除熱飲子知母桔，硝黃茺蔚黑芩風。

方劑：除熱飲子
　　　知母二錢　桔梗二錢　芒硝一錢　大黃一錢　茺蔚子一錢　黑參二錢　黃
　　　芩二錢　防風一錢
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。

註：[1]釘翳根深者，睛中翳黑，硬如釘子之形，其證疼痛赤澀，淚出羞明。
　　[2]此乃肝、心毒熱，上攻睛瞳。
　　[3]宜服除熱飲子，清瀉其毒熱也。
</pre>
<pre data-sec="p">
主題：高風內障歌
分類：內障證治
條文：高風內障號雞盲，天晚不明天曉光，夜能上視難見下，損虧肝血腎精傷。
　　　補肝羚細羌苓楮，參黑車斛枯草防；還睛石決人參細，茺蔚知苓芎木香。

方劑：高風補肝散方
　　　羚羊角　細辛　羌活　茯苓　楮實子　人參　元參　車前子　石斛　夏枯
　　　草　防風各一錢右為粗末，以水二盞，煎至一盞，去渣溫服。
　　　高風還睛丸方
　　　石決明二兩　人參一兩　細辛五錢　茺蔚子二兩　知母一兩　茯苓一兩　
　　　芎窮一兩　木香五錢
　　　右為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。

註：[1]高風內障之證，兩眼至天晚不明，天曉復明。
　　[2]緣肝有積熱，腎經虛損，乃陽微陰盛也。
　　[3]天晚陰長，則天時之陰，助人身之陰，能視頂上之物，不能下視諸物
　　　 ，至天曉陽長，則天時之陽，助人身之陽，而眼復明矣，宜用補肝散
　　　 還睛丸。
</pre>
<pre data-sec="p">
主題：乾澀昏花歌
分類：補遺
條文：乾澀昏花肝腎病，酒色勞瞻思慮傷，四物五子車前子，覆盆枸杞菟絲當，
　　　熟地川芎芍地膚，五膽膏宜外點良。

方劑：四物五子丸方
　　　車前子（酒蒸）　覆盆子　枸杞子　菟絲子（酒煮爛）　當歸（酒洗）　
　　　熟地黃　川芎　白芍藥　地膚子各等分
　　　右為細末，煉蜜為丸，桐子大，每服二錢，不枸時鹽湯送下。
　　　五膽膏方見卷末

註：[1]乾澀昏花者，謂目覺乾澀不爽，視物昏花也。
　　[2]此乃肝、腎俱傷之候。
　　[3]或因嗜酒恣慾，或勞瞻竭視，或思慮太過，皆成此證，宜用四物五子
　　　 丸，滋陰養水，略帶抑火，以培其本也。
</pre>
<pre data-sec="p">
主題：偃月翳歌
分類：內障證治
條文：偃月瞳含偃月形，一灣白氣血下生，腦風積熱下注眼，肝腎俱虧致損明。
　　　通明散內防芩入，人參白茯細辛茺，墜醫丸用石決麝，青鯉青羊牛膽熊。

方劑：偃月通明散方
　　　防風　黃芩　人參　茯苓各一錢　細辛五分　茺蔚子二錢
　　　右為粗末，水二盞，煎去一盞，夜食後去渣溫服。
　　　五膽偃月墜翳丸方
　　　石決明一兩　麝香少許　青魚膽　鯉魚膽　青羊膽各七個　牛膽五錢　熊
　　　膽一分
　　　右為細末麵糊為丸，如桐子大，空心茶清送下五分。

註：[1]偃月內障，瞳神內上半邊有白氣一灣，隱隱似新月之狀，覆垂向下。
　　[2]緣腦風積熱注入眼中，致成內障，為肝腎俱勞之證，宜服通明散墜翳
　　　 丸。
</pre>
<pre data-sec="p">
主題：旋螺尖起歌
分類：外障證治
條文：旋螺尖起如螺殼，烏睛色變極痛疼，殼形尖起色青黑，肝經積熱血瘀凝。
　　　輕宜瀉腦防辛梗，辛芍天冬五味茺；重者瀉肝硝黃桔，柴芩知母細車行。

方劑：瀉腦湯方
　　　防風二錢　細辛五分　桔梗一錢　赤芍藥一錢　天門冬（去心）一錢　五
　　　味子五分　茺蔚子二錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。
　　　瀉肝飲子
　　　芒硝　大黃　桔梗　柴胡　黃芩　知母（炒）　細辛　車前子各一錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]旋螺外障，氣輪之內烏珠色變青白，如螺螄之殼，其色初青久黑，其
　　　 形尖圓，乃肝經積熱亢極，瘀血凝滯所致。
　　[2]輕者宜瀉腦湯，重者用瀉肝飲子。
</pre>
<pre data-sec="p">
主題：混睛歌
分類：外障證治
條文：混睛初起白睛混，漸生赤脈遮瞳睛，或混白膜漫珠上，白忌苔光赤散紅，
　　　先癢後疼隱澀淚，肝藏毒風劆洗通，後服地黃生熟生，蒺藜當歸甘草通，
　　　黃連木賊烏犀角，羌活元參軍穀精。

方劑：地黃散方
　　　生地黃七錢　熟地黃（焙乾）七錢　白蒺藜（炒）四錢　當歸七錢　甘草
　　　（灸）五錢　木通五錢　黃連（酒炒）五錢　木賊五錢　烏犀角（鎊）五
　　　錢　羌活五錢　元參五錢　大黃七錢　穀精草五錢
　　　右為細末，令勻，每服三錢，煮羊肝汁食遠調服。
　　　摩障靈光膏方見卷末

註：[1]混睛之證，初起白睛濕赤，漸生赤脈，遮漫烏睛，或白或赤漫珠一色
　　　 ，白忌光滑如苔，赤忌赤脈外散，其證初起則先癢後痛，漸致磣澀淚
　　　 出，羞明隱痛，視物昏矇，此乃肝藏毒風與瘀血上凝所致。
　　[2]先宜劆洗去瘀，後服地黃散，外點摩障靈光膏。
</pre>
<pre data-sec="p">
主題：產後病目病
分類：補遺
條文：產後患目血不足，病有三因治可通，思哭勞瞻多內障，嗜辛厚味外障成。
　　　外因頭風風爛濕，四物補香附芎，夏枯熟地歸芍草，隨人加減可收功。

方劑：四物補肝湯方
　　　香附（酒製）一錢五分　川芎一錢　夏枯草二錢　熟地黃（焙乾）四錢　
　　　當歸身（酒洗）二錢　白芍藥（酒洗）一錢五分　甘草（炙）五分
　　　右為粗末，以水二盞，煎至一盞，食遠，去渣溫服。

註：[1]產後患目，乃去血過多不足之證，病雖有三因之別，而治法可以加減
　　　 變通。
　　[2]內因者，多緣思慮哭泣，或竭視勢瞻，致成內障，須四物補肝湯，倍
　　　 熟地芎歸；外因者，因嗜辛辣厚味，或因頭風，致成風赤濕爛。
　　[3]宜本方倍香附、川芎、夏枯草，隨證加減以治之。
</pre>
<pre data-sec="p">
主題：眼癢歌
分類：外障證治
條文：眼癢皆因肝膽風，癢生眥瞼黑白睛，外用廣大重明洗，內服荊防羌烏芎。
方劑：廣大重明湯方見卷末
　　　驅風一字散方
　　　荊芥穗五錢　防風二兩五錢　羌活二兩五錢　川烏　炮　五錢　川芎五錢
　　　右為細末，令勻，每服二錢　食後，薄荷湯調下。

註：[1]眼癢之證，皆因肝、膽二經風邪衝發所致。
　　[2]或在瞼邊眥內，甚則癢連睛珠，癢極難忍。
　　[3]外以廣大重明湯燻洗，內服驅一字散，疏散風邪。
</pre>
<pre data-sec="p">
主題：被物撞破歌
分類：外障證治
條文：被物撞破珠脹痛，腫閉胞青劆洗良，外塗生地地黃散，芎地羚軍芍殼香。
方劑：生地黃散方
　　　川芎　生地黃　羚羊角　大黃　赤芍藥　枳殼　木香各一錢右為粗末，
　　　以水二盞，煎至一錢，食後，去渣溫服。

註：[1]被物撞破者，或因打撲，或因撞損，睛珠脹痛，眼胞青紫，腫閉難開
　　　 ，先宜劆洗散瘀，外敷搗爛生地黃膏，內服生地黃散。
</pre>
<pre data-sec="p">
主題：雀目內障歌
分類：內障證治
條文：雀目內障多癢澀，暮暗朝明與雀同，黃昏視下難見上，肝風邪火障雙瞳。
　　　洗肝散用車前子，柴胡芩細黑參茺，瀉肝湯裡硝黃芍，桔梗黃芩與防風。

方劑：洗肝散方
　　　車前子一錢　柴胡一錢五分　黃芩一錢　細辛五分　黑參一錢　茺蔚二錢
　　　右為粗末，以水二盞，黑豆三七粒，煎至一盞，去黑豆，空心溫服。
　　　雀目瀉肝湯方
　　　芒硝　大黃　白芍藥　桔梗各一錢　黃芩　防風各二各
　　　右為粗末，以水二盞，煎至一盞，食前，去渣溫服。

註：[1]雀目內障，患時暮暗朝明，多癢多澀，發作不常，或明或暗，夜中惟
　　　 能視直下之物，而不能視上，乃肝風邪火上衝於目，致成內障。
　　[2]宜服洗肝散先清虛熱，後服瀉肝湯，以瀉其實邪也。
</pre>
<pre data-sec="p">
主題：眯目飛鹿飛絲歌
分類：外障證治
條文：眯目鹿絲入目中，淚澀難開睛痛疼，初宜外治久生翳，酒調散用草歸茺，
　　　螵蛸赤芍蒼桔，翹麻羌活大黃同。

方劑：酒調散方
　　　甘草　當歸　茺蔚子　桑螵蛸　赤芍藥　蒼朮　菊花　桔梗　連翹　麻黃
　　　羌活　大黃各一兩
　　　右為細末，每服三錢，酒調下，不拘時服。
　　　補遺

註：[1]咪目者，或飛塵飛絲風吹入目也。
　　[2]其證淚多隱澀難開，睛珠疼痛。
　　[3]初得時，宜翻轉眼睥，用綿裹釵腳，撥出眯物；若日久生雲翳者，宜
　　　 用酒調散治之。
</pre>
<pre data-sec="p">
主題：散翳歌
分類：內障證治
條文：散翳形散如鱗點，乍青乍白映瞳中，胞內粟生兼爛痛，金針一撥目光通。
　　　還睛散用人參味，桔梗車前苓細風，後用補肝歸木賊，防用熟地芍川芎。

方劑：散翳還睛散方
　　　人參一錢　五味五分　桔梗一錢　車前子二錢　茯苓一錢　細辛五分　防
　　　風二錢　
　　　右為粗末，以水二盞，煎至一盞，夜食後去渣溫服。
　　　散翳補肝散方
　　　當歸二錢　木賊一錢　防風一錢　熟地黃二錢　白芍藥一錢　川芎五分
　　　右為粗末，以水二盞，煎至一盞，空心去渣溫服。

註：[1]散翳，翳從瞳人內透出，散如鱗點之狀，乍青乍白，胞內起粟而爛，
　　　 瞳人痛楚。
　　[2]宜用金針撥其內翳之後，先服還睛清補，後用補肝散收功。
</pre>
<pre data-sec="p">
主題：棗花翳歌
分類：內障證治
條文：風輪傍邊白睛內，白如鋸齒棗花同，怒傷肝膽邪衝眼，還睛散用車知茺，
　　　人參防黑黃芩茯，墜翳丸服可收功。

方劑：棗花翳還睛散方
　　　車前子　知母　茺蔚子　人參　防風　黑參各二錢　黃芩一錢半　茯苓二
　　　錢
　　　右為粗末，以水二盞，煎至一盞，去渣溫服。
　　　墜翳丸方見偃月內障下

註：[1]棗花內障者，風輪傍邊，白睛之內，映出白翳，如棗花鋸齒之狀。
　　[2]緣怒傷肝膽，令腦邪熱衝入目中，致成此障，久則變為瞳神細小。
　　[3]宜服還睛散，再服墜翳丸。
</pre>
<pre data-sec="p">
主題：痛如針刺痛
分類：外障證治
條文：痛如針刺心火熾，睛珠如同刺疼，頭疼目眩眼係急，針後八正草梔燈，桑
　　　車扁蓄滑生地，竹葉生軍瞿麥通。

方劑：加味八正散方
　　　甘草　梔子　燈心草　桑白皮　車前子　扁蓄　滑石　生地黃　苦竹葉　
　　　大黃　瞿麥　木通各等分
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]痛如針刺，乃心經毒火上熾，睛珠忽然極痛，猶如針刺，微帶頭疼目
　　　 眩，眼系緊急。
　　[2]先宜火針刺太陽穴，外散其邪；後服加味八正散，內泄其熱也。
</pre>
<pre data-sec="p">
主題：黃風不足歌
分類：內障證治
條文：已成黃風不足證，補益脾經山藥丸，人參山藥伏苓地，澤瀉防風同作圓。
方劑：山藥丸方
　　　人參　山藥　茯苓　生地黃　澤瀉　防風各一兩
　　　右為細末，煉密為丸，如桐子大，空心茶清送三錢。

註：
</pre>
<pre data-sec="p">
主題：黃風有餘歌
分類：內障證治
條文：已成黃風有餘證，須用通脾瀉胃湯，知母軍芩茺蔚子，石膏梔子黑參防。
方劑：通脾瀉胃湯方
　　　知母一錢　大黃一錢　黃芩一錢五分　茺蔚子一錢　石膏二錢　梔子一錢
　　　黑參一錢　防風一錢
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。

註：
</pre>
<pre data-sec="p">
主題：黃膜上衝歌
分類：外障證治
條文：黃膜一片氣輪起，上衝風輪覆蓋瞳，赤澀淚眵疼痛極，此因脾胃熱風攻。
　　　通脾瀉胃黃芩黑，防軍知母梔膏茺，立應白芷羊躑躅，鵝不食草麝歸雄。

方劑：通脾瀉胃湯方
　　　黃芩一錢五分　黑參　防風　大黃　知母（炒）　梔子（煅）各一錢　石
　　　膏（煅）二錢　茺蔚子二錢
　　　右為粗末，以水二盞，煎至一盞，食遠，去渣溫服。
　　　立應散方
　　　白芷　羊躑躅花減半　鵝不食草（洗淨晒乾）　麝香少許　當歸　雄黃（
　　　另研後入）各等分
　　　右為細末，每用少許，含水　鼻內，去盡濁涕淚出為度。

註：[1]黃膜上衝，自氣輪而起，一片黃膜，從下直衝風輪，上掩瞳人，乃脾
　　　 、胃風熱，上衝於眼，致生黃膜，淚流赤澀，疼痛極甚，宜通脾瀉胃
　　　 湯外㗜立應散。
</pre>
<pre data-sec="p">
主題：黑水凝翳歌
分類：內障證治
條文：黑水凝翳瞳微大，內含青白障瞳人，生花眥痛頻頻淚，膽熱為邪損目神。
　　　蘆薈丸中細辛草，牛膽羚羊柏子參，通明防蔚參苓黑，桔梗車前柏子仁。

方劑：蘆薈丸方
　　　蘆薈一兩　細辛半兩　甘草五錢　牛膽半兩　羚羊角一兩　柏子仁一兩　
　　　人參半兩
　　　右為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。
　　　凝翳通明散方
　　　防風一錢半　茺蔚子一錢　人參一錢　茯苓一錢　黑參一錢　桔梗一錢　
　　　車前子二錢　柏子仁二錢
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。

註：[1]黑水凝翳內障，又名黑花翳。
　　[2]瞳人微大，瞳內微現青白色，大小眥頭澀痛，眼中見花，黃黑不定，
　　　 頻頻下淚。
　　[3]綠膽為邪，致成內障，宜服蘆薈丸通明散。
</pre>
<pre data-sec="p">
主題：黑風不足歌
分類：內障證治
條文：已成黑風不足證，補腎丸中熟地黃，澤瀉茺蔚五味子，細辛山藥菟絲良。
方劑：補腎丸方
　　　熟地黃一兩　澤瀉一兩　茺蔚子一兩　五味子三錢　細辛三錢　山藥一兩
　　　菟絲子一兩
　　　右為細末，煉蜜為丸，桐子大，每服二錢，空心鹽湯下 。

註：
</pre>
<pre data-sec="p">
主題：黑風有餘歌
分類：內障證治
條文：已成黑風有餘證，羚羊角飲黑羚羌，車前桔梗黃芩共，柴胡茺蔚細辛防。
方劑：黑風羚羊飲
　　　黑參一錢　羚羊角一錢　羌活一錢　車前子一錢半　桔梗一錢　黃芩一錢
　　　柴胡一錢　茺蔚子一錢半　細辛五分　防風一錢
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。

註：
</pre>
<pre data-sec="p">
主題：黑翳如珠歌
分類：外障證治
條文：黑翳如珠黑睛上，形如珠子黑而圓，淚出羞澀疼痛甚，大人肝腎虛風愆。
　　　通明補腎丸可服，小兒患此名眼疳，羚羊角飲硝黃細，知母羚防一併煎。

方劑：通明補腎丸方見五風初患不足下
　　　羚羊角飲子
　　　芒硝一錢　大黃一錢　細辛五分　知母一錢　羚羊角（鎊）一錢　防風二
　　　錢
　　　右為粗末，以水二盞，煎至一 盞，食遠溫服。

註：[1]黑翳如珠之證，黑睛上有黑翳，圓如珠子之形，淚出羞澀難開，疼痛
　　　 極甚。
　　[2]若大人患此證，為肝、腎虛熱風邪，宜用通明補腎丸。
　　[3]小兒患此證，為實熱眼疳，宜服羚羊角飲，泄其實熱也。
</pre>
<pre data-sec="p">
主題：傷寒熱病後患目歌
分類：外障證治
條文：傷寒餘熱過食辛，瞳散黑花澀淚頻，紅腫痛用生犀飲，羚防芩桔知芩參。
方劑：生犀飲
　　　生犀角二錢　羚羊角一錢　防風一錢　黃芩一錢　桔梗一錢五分　知母一
　　　錢　茯芩一錢　人參一錢
　　　右為粗末，以水二盞，煎至一盞，去渣溫服。

註：[1]傷寒熱病後患目者，因餘熱末清，過食辛熱，兩熱合邪，以致瞳人散
　　　 大，時見黑花，隱澀淚多，紅腫疼痛。
　　[2]宜用生犀飲，清解其熱也。
</pre>
<pre data-sec="p">
主題：圓翳歌
分類：內障證治
條文：圓翳青白一點圓，宛如油點水中間，肝風衝腦脂下注，明視翳小暗看寬。
　　　虛熱羚羊飲車細，參苓防如一同煎，實用防風芩桔梗，硝黃茺黑細知前。

方劑：圓翳羚羊飲
　　　羚羊角一錢　車前子一錢　細辛五分　人參一錢　黃芩一錢　防風二錢　
　　　知母一錢
　　　右為粗末，以水二盞，煎至一盞，夜食後去滓溫服。
　　　圓翳防風散方
　　　防風二錢　黃芩一錢　桔梗二錢　芒硝一錢　大黃一錢　茺蔚子一錢　黑
　　　參一錢　細辛五分　知母二錢　車前子一錢
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。

註：[1]圓翳內障初起之時，黑睛上一點青白，宛如油點浮於水面，暗處視之
　　　 ，其翳青白而大；明處看之，其形差小。
　　[2]緣肝風上衝，腦脂下注所致，宜審其虛實而調之。
　　[3]虛者用羚羊角飲子，清其虛熱，實者宜防風散，泄其熱邪也。
</pre>
<pre data-sec="p">
主題：滑翳歌
分類：內障證治
條文：滑翳水銀珠子樣，微含黃色熟瞳神，肝風衝腦脂下注，不癢不疼漸漸昏，
　　　須用補肝苓桔蔚，芩防芎母黑歸參，有餘決明車味細，軍苓知蔚黑防芩。

方劑：滑翳補肝湯方
　　　茯苓一錢　桔梗一錢　茺蔚子二錢　黃芩一錢　防風二錢　川芎一錢　知
　　　母一錢　黑參一錢　當歸身二錢　人參一錢
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。
　　　滑翳決明丸方
　　　石決明一兩　車前子一兩　五味子半兩　細辛半兩　大黃一兩　茯苓一兩
　　　知母一兩　茺蔚子一兩　黑參一兩　防風一兩　黃芩一兩
　　　右為細末 ，煉蜜為丸，如桐子大，食前茶清送下三錢。

註：[1]滑翳內障，瞳心內一點如水銀珠子之狀，微含黃色，不癢不疼，無淚
　　　 而遮蔽瞳神，漸漸失明，後則左右相牽俱損，此乃肝風衝上，腦脂流
　　　 下所致。
　　[2]宜用補肝湯清散虛熱，若有餘用決明丸下行實熱也。
</pre>
<pre data-sec="p">
主題：睥生痰核歌
分類：外障證治
條文：睥生痰核痰火結，核形如豆堅不疼，失治成癭流膿血，防風散結芷芩風，
　　　黑桔前胡陳赤芍，浙貝蒼朮花粉同。

方劑：防風散結湯方
　　　白芷　黃芩　防風　黑參　桔梗　前胡　陳皮　赤芍藥　浙貝母　蒼朮　
　　　天花粉各八分
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。

註：[1]睥生痰核之證，因痰火結聚而成，生於胞外，皮內核形如豆，堅硬不
　　　 疼，宜用防風散結湯，化痰散熱。
　　[2]若久而不治，漸長為癭，破則成漏，為難治矣。
</pre>
<pre data-sec="p">
主題：雷頭風歌
分類：內障證治
條文：頭響如雷又似風，雷頭風熱毒衝瞳，腦汁下注瞳色變，瞳人大小目昏矇。
　　　瀉肝芩梗硝黃黑，羌活車歸知母龍，虛者磁石丸薑附，味黑丹皮磁石同。

方劑：瀉肝散方
　　　黃芩　桔梗　芒硝　大黃　黑參　羌活　車前子　當歸　知母各一錢　龍
　　　膽草五分
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。
　　　磁石丸方
　　　乾薑一兩　附子（炮）五錢　五味子半兩　黑參一兩　牡丹皮一兩　磁石
　　　（燒紅，醋淬三次）一兩
　　　右為細末，煉密為丸，如桐子大，食前，茶清送下一錢。

註：[1]雷頭風內障，初患之時，頭面多受冷熱，毒氣衝入頭中，致頭內響聲
　　　 如風如雷，頭旋發熱，日久衝入眼內，腦汁下注，瞳人變色，瞳或大
　　　 小不定。
　　[2]實者宜服瀉肝散；虛者宜服磁石丸。
</pre>
<pre data-sec="p">
主題：漏睛膿出歌
分類：外障證治
條文：漏睛膿出瞼眥間，或流膿汁或清涎，目無翳障不疼痛，風熱攻衝心火炎。
　　　竹葉瀉湯柴瀉，升麻竹葉草車前，黃芩草決川羌活，芩芍將軍梔子連。

方劑：竹葉瀉經湯方
　　　柴胡五分　澤瀉四分　升麻五分　青竹葉十片　甘草（炙）五分　車前子
　　　四分　黃芩六分　草決明四分　川羌活五分　白茯苓四分　赤芍藥四分　
　　　大黃六分　梔子仁（炒）五分　川黃連五分
　　　右為粗末，以水二盞，煎至一盞，食後溫服。

註：[1]漏睛膿出之證，生於瞼眥，或流膿水，或淌清涎，目無翳障，不疼不
　　　 痛。
　　[2]乃風熱攻衝，心火上炎，宜用竹葉瀉經湯主之。
</pre>
<pre data-sec="p">
主題：綠風不足歌
分類：內障證治
條文：已成綠風不足證，還睛丸草朮參苓，羌防菊地蒺蓉薯，牛膝葙蒙菟賊芎。
方劑：綠風還睛丸方
　　　甘草　白朮　人參　茯苓　羌活　防風　羌活　防風　菊花　生地黃　莢
　　　藜　肉蓗蓉　山藥　牛膝　青葙子　蜜蒙花　菟絲子　木賊　川芎各一兩
　　　右為細末，煉蜜為丸，桐子大，空心茶清送三錢。

註：
</pre>
<pre data-sec="p">
主題：綠風有餘歌
分類：內障證治
條文：已成綠風有餘證，羚羊角飲黑參防，茯苓知母黃芩細，桔梗羚羊車大黃。
方劑：綠風羚羊飲
　　　黑參二錢　防風二錢　茯苓二錢　知母二錢　黃芩一錢　細辛一錢　桔梗
　　　二錢　羚羊一錢　車前子一錢　大黃一錢
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。

註：
</pre>
<pre data-sec="p">
主題：撞刺生翳歌
分類：外障證治
條文：撞刺生翳遺刺痕，日久血瘀障翳生，赤脈澀疼經效散，柴軍歸芍草犀同。
方劑：經效散方
　　　柴胡二錢　大黃一錢　當歸尾一錢　赤芍藥一錢　甘草梢五分　犀角一錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]撞刺生翳之證，或被竹木簽刺成瘡，因治療不淨，留痕日久，瘀血凝
　　　 積，遂生翳膜，赤脈滿目，澀痛淚出，宜用經效散，清熱散瘀也。
</pre>
<pre data-sec="p">
主題：暴赤生翳歌
分類：外障證治
條文：暴赤生翳心肝病，風熱上壅痛難當，赤腫熱淚羞明癢，最宜劆洗出血良。
　　　初起先用蘆根飲，黑連硝黃芩與防，去翳鎮肝藁石決，辛薯參苓車味羌。

方劑：蘆根飲子
　　　蘆根一錢　黑參一錢五分　黃連一錢　芒硝一錢　大黃一錢　黃芩一錢五
　　　分　防風一錢
　　　右為粗末，以水二盞，煎至一錢，食後，去渣溫服。
　　　鎮肝丸方
　　　藁本一兩五錢　石決明（煅）二兩　細辛三錢　山藥（炒）　人參　茯苓
　　　車前子各一兩　五味子三錢　羌活一兩
　　　右羅為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。

註：[1]暴赤生翳；其證赤腫生翳，癢痛難當，時流熱淚羞明，乃心、肝二經
　　　 風熱，上壅攻目所致。
　　[2]宜劆洗出血，服蘆根飲子，清其內熱，後服鎮肝丸。劆音廉。劆者，
　　　 或以針鋒微刺之，或以燈心草微刮之也。
</pre>
<pre data-sec="p">
主題：暴風客熱歌
分類：外障證治
條文：暴風客熱胞腫疼，淚多癢赤脹白睛，源於肺熱招風鬱，菊花通聖可收功。
方劑：菊花通聖散方見兩瞼黏睛下
註：[1]暴風客熱者，胞腫疼痛，淚多癢赤，白睛脹起。
　　[2]此證源於肺客邪熱，外招風邪。
　　[3]先宜劆洗，後用菊花通聖散，內清邪熱，外散風邪熱，外散風邪也。
</pre>
<pre data-sec="p">
主題：膜入水輪歌
分類：外障證治
條文：膜入水輪睛瘡後，瘡癒坐翳侵水輪，肺肝虛熱大腸燥，日後失治傷瞳神，
　　　退熱飲軍茺蔚黑，辛防五味桔黃芩。

方劑：退熱飲子
　　　大黃一錢　茺尉子二錢　黑參一錢　細辛一錢　防風二錢　五味子五分　
　　　桔梗二錢　黃芩二錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]膜入水輪者，因黑白睛上生瘡而起，癒後瘡痕不沒，漸生翳膜，侵入
　　　 水輪，此乃肝經積熱，大腸燥滯，邪熱上逆所致。
　　[2]宜用退熱飲子，清降其熱。
</pre>
<pre data-sec="p">
主題：衝風淚出歌
分類：外障證治
條文：風淚初起冬月甚，久則冬夏淚濛濛，肝虛冷淚不疼赤，實則熱淚腫紅疼，
　　　虛用補肝歸白芍，蒺芎熟地木賊風，實用茶調荊薄草，賊防羌決菊膏芎。

方劑：止淚補肝散方
　　　當歸二錢　白芍藥（炒）一錢　蒺藜一錢　川芎五分　熟地黃二錢　木賊
　　　一錢　防風一錢
　　　右為粗末，以水二盞，煎至一盞，食遠，去渣溫服。
　　　川芎茶調散方
　　　荊芥　薄荷　甘草（炙）　木賊　防風　羌活　石決明（煅）　菊花　石
　　　膏　川芎各一兩
　　　右為細末令勻，每服三錢，食後茶清調下。

註：[1]衝風淚出之證，見風淚出，初起則冬月甚，夏月輕，久則冬夏皆然，
　　　 此乃肝藏虛風邪熱所致。
　　[2]若淚冷不赤不痛為虛，宜用補肝湯，淚熱腫赤疼痛為實，宜用川芎茶
　　　 調散。
</pre>
<pre data-sec="p">
主題：橫翳歌
分類：內障證治
條文：橫翳橫格在瞳心，形如劍脊白如銀，內虛風熱攻衝腦，胃熟肝邪致目昏。
　　　還睛決明車前地，芩防辛味黑人參，七寶車前連炙草，丹砂石決犀羚均。

方劑：橫翳還睛丸方
　　　石決明一兩　車前子一兩　生地黃二兩　黃芩一兩　防風二兩　細辛五錢
　　　五味子半兩　黑參一兩　人參一兩
　　　右為細末，煉蜜為丸，如桐子大，空心茶清送下三錢。
　　　七寶散方
　　　車前子　胡黃連　丹砂　石決明　甘草各五分　犀角一錢　羚羊角一錢
　　　右為細末，以水二盞，煎去一盞，食後去渣溫服。

註：[1]橫翳又名劍脊翳，自瞳人中映出於外如劍脊，中高邊薄，橫格於瞳人
　　　 中心，色白如銀。
　　[2]緣內虛肝邪胃熱，上衝於腦，腦脂下流入眼，致成內障，宜服還睛丸
　　　 七寶散。
</pre>
<pre data-sec="p">
主題：濇翳歌
分類：內障證治
條文：濇翳微赤凝脂色，瞳人端正漸失明，時時隱澀疼無淚，或聚或開無定形。
　　　還睛散內車防桔，元味芩茶葉茺，亦用七寶丸珠珀，決腦茺參熊膽同。

方劑：濇翳還睛散方
　　　車前子一錢半　防風一錢　桔梗一錢　元參一錢　五味子五分　知母二錢
　　　黃芩一錢　細茶二錢半　茺蔚子一錢
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。
　　　濇翳七寶丸方
　　　珍珠五錢　琥珀二兩　石決明二兩　龍腦一分　茺蔚子一兩　人參一兩　
　　　熊膽一兩
　　　右為細末，煉蜜為丸，如桐子大，食前茶清送下一錢。

註：[1]濇翳證，瞳神內微赤如凝脂之色，瞳神端正，漸漸昏朦，時復澀痛而
　　　 無淚出，其翳無定，或聚或開，宜先用還睛散，後用七寶丸內消其翳
　　　 也。
</pre>
<pre data-sec="p">
主題：瞳人乾缺歌
分類：內障證治
條文：瞳人乾缺瞳形缺，左右上下不成圓，色白腦脂流下患，色黑肝膽熱虛愆。
　　　色白瀉肝苓地骨，麥知芍蔚黑參添；色黑鎮肝山藥丸，參苓石決細車前。

方劑：瞳缺瀉肝湯方
　　　黃芩一錢　地骨皮一錢　麥門冬一錢　知母一錢　赤芍藥一錢半　茺蔚子
　　　一錢半　黑參一錢右為粗末，以水二盞，煎至一盞，食後，去渣溫服。
　　　瞳缺鎮肝丸方
　　　乾山藥二兩　五味子五錢　人參　茯苓　石決明各一兩半　細辛五錢　車
　　　前子一兩右為細末，煉蜜為丸，如桐子大，空心米湯送下二錢。

註：[1]瞳人乾缺內障，初患之時，忽因疼痛難忍，細看瞳人現出缺形，或左
　　　 或右，或上或下，缺而不圓，瞳人之色，黑白不定。
　　[2]色白乃腦脂流下為患，宜服瀉肝湯；色黑則膽熱肝虛，宜服鎮肝丸。
</pre>
<pre data-sec="p">
主題：瞳神散大歌
分類：補遺
條文：瞳神散大風輪窄，邪熱蒸之風氣攻，或因思怒痰寒瘧，地黃丸內芍歸芎，
　　　防已丹柴知二地，丹參獨柏味寒茺。

方劑：地黃丸方一名：羌活退翳丸
　　　白芍藥（酒炒）一兩三錢　當歸身（酒炒）五錢　川芎（酒洗）三錢　防
　　　己（酒製）二錢　牡丹皮（酒洗）三錢　柴胡三錢　知母（鹽水炒）三錢
　　　熟地黃（焙）八錢　生地黃八錢　丹參五錢　獨活三錢　黃柏（酒製）五
　　　錢　五味子三錢　寒水石三錢　茺蔚子五錢
　　　右為細末，煉蜜為丸，桐子大，每服三錢，空心白滾湯送下。

註：[1]瞳神散大者，謂瞳神散大，風輪反為窄窄一周，其則一周如線。
　　[2]乃邪熱內蒸，風氣上攻所致，亦有因憂思氣怒，痰火傷寒，瘧疾經產
　　　 敗血等證而成，宜用地黃丸。
</pre>
<pre data-sec="p">
主題：瞳神縮小歌
分類：補遺
條文：瞳神縮小如針簪，勞傷精血損腎肝，視不甚昏微隱澀，清腎抑陽黃柏連，
　　　草決芩歸生地芍，獨活知母枸杞寒。

方劑：清腎抑陽丸方
　　　黃柏（鹽水製）二兩　黃連（酒炒）二兩　草決明（炒）一兩　白茯苓二
　　　兩　當歸（酒洗炒）一兩　生地黃二兩　白芍藥（酒炒）一兩　獨活八錢
　　　知母（鹽水製）二兩　枸杞子二兩　寒水石（另研）二兩
　　　右為細末，煉 蜜為丸，如桐子大，每服三錢，空心白滾湯送下。

註：[1]瞳神縮小者，謂瞳神漸漸縮小如簪腳，其則如針。
　　[2]乃淫慾勞傷精血，虧損腎、肝二經所致。
　　[3]其證視物不甚昏，惟覺羞明隱澀，宜用清腎抑陽丸，壯水以制陽也。
</pre>
<pre data-sec="p">
主題：瞼生風粟椒瘡歌
分類：外障證治
條文：椒瘡風粟瞼胞生，多淚難睜摩澀疼，脾經風熱粟黃軟，脾經濕熱椒硬紅。
　　　劆洗後用清脾飲，知母翹軍生地風，黃芩元粉黃連桔，陳皮荊芥黑參靈。

方劑：除風清脾飲
　　　知母　連翹　大黃　生地黃　防風　黃芩　元明粉　黃連　桔梗　陳皮　
　　　荊芥穗　黑參各等分
　　　右為粗末，以水二盞，煎至一盞，去渣食遠溫服。

註：[1]椒瘡風粟之證，或起於瞼邊，或生於胞內，眥淚多難睜，沙澀摩睛疼
　　　 痛。
　　[2]粟瘡如粟，其形黃軟，屬脾經風熱而成；椒瘡如椒，其形紅硬，屬脾
　　　 經濕熱而成。
　　[3]並宜劆洗出血，服除風清脾飲，椒瘡倍芩連生地，風粟倍荊芥防風。
</pre>
<pre data-sec="p">
主題：瞼硬睛疼歌
分類：外障證治
條文：瞼硬睛疼胞腫硬，瘀血翳膜目睛疼，膈中積熱肝風盛，外塗焮腫劆瘀紅，
　　　涼膈硝黃車前黑，黃芩知母梔仁茺。

方劑：焮腫膏方見卷末
　　　涼膈散方
　　　芒硝　大黃　車前子各一錢　黑參一錢半　黃芩　知母　梔子（炒）　茺
　　　蔚子各一錢
　　　右為粗末，以水二盞，煎至一盞，食後溫服。

註：[1]瞼硬睛疼，初患之時，時覺疼脹，久則瞼胞腫硬，睛珠疼痛。
　　[2]此緣膈中積熱，肝經風毒，上衝於目，宜劆洗去瘀，外塗焮腫膏，內
　　　 服涼膈散。
</pre>
<pre data-sec="p">
主題：雞冠蜆肉歌
分類：外障證治
條文：雞冠蜆肉內眥生，胃心積熱共肝風，或青或赤如雞蜆，輕侵風輪重掩瞳。
　　　鉤割後抽風桔，硝黃車黑細芩風，茺蔚丸芩石決黑，軍芩山藥地黃茺。

方劑：抽風湯方
　　　桔梗一錢　芒硝一錢五分　大黃一錢　車前子一錢　黑參一錢五分　細辛
　　　一錢　黃芩一錢五分　防風二錢
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。
　　　茺蔚丸方
　　　黃芩一兩　石決子（煅）一兩　黑參一兩　大黃一兩　茯苓一兩　山藥（
　　　炒）三兩　生地黃一兩五錢　茺蔚子二兩
　　　右為細末，煉蜜為丸，桐子大，空心茶清下三錢。

註：[1]雞冠蜆肉之證，起於睥眥之內，或青或赤，如雞冠蜆肉之形，漸漸而
　　　 長，從大眥侵及風輪，久則掩及全目。
　　[2]此乃脾胃積熱，肝風上衝所致。
　　[3]先宜用手法鈎割後，服抽風湯或茺蔚丸。
</pre>
<pre data-sec="p">
主題：轆轤轉關歌
分類：外障證治
條文：轆轤轉關肝風盛，旋轉睛珠轆轤同，輕則瞳斜重反背，初起鉤籐飲蝎芎，
　　　參防二麻殭蠶草，後服天冬飲赤令，羌活大冬五味子，人參知母蔚防風。

方劑：鉤籐飲
　　　鉤籐五分　全蝎（炒去毒）一錢　川芎　人參　防風各七分　麻黃三分　
　　　天麻七分　殭蠶（炒）一錢二分　甘草（灸）三分
　　　右為粗末，以水二盞，煎至一盞，去渣，不拘時服。
　　　天門冬飲
　　　赤茯芩七分　羌活七分　天門冬一錢　五味子五分　人參七分　知母一錢
　　　茺蔚子一錢　防風五分
　　　右為粗末，以水二盞，煎至一盞，食後去渣溫服。

註：[1]轆轤轉關之證，因肝經風邪壅盛，以致二目睛珠旋轉不定，與轆轤相
　　　 同，輕則瞳人偏斜，重則瞳人反背。
　　[2]初起宜用鉤藤飲，疏散風邪；定後用天門冬飲，調理即癒。
</pre>
<pre data-sec="p">
主題：蟹睛疼痛歌
分類：外障證治
條文：蟹睛努出蟹睛形，烏珠極痛澀羞明，肝膽積熱腎虛熱，虛軟不疼實硬疼。
　　　實者瀉肝車地骨，硝黃知知母黑柴茺，虛宜鎮腎味知地，山藥兔辛石決靈
　　　。

方劑：瀉肝湯方
　　　車前子　地骨皮　芒硝各一錢　大黃　知母各一錢半　黑參一錢　柴胡二
　　　錢　茺蔚子二錢
　　　右為粗末，以水二盞，煎至八分，去渣，空心溫服。
　　　鎮腎決明丸方
　　　五味子半兩　知母（炒）　生地黃　山藥（炒）各一兩半　菟絲子一兩　
　　　細辛半兩　石決明（煅）一兩
　　　右為細末，煉蜜為丸，桐子大，空心茶清送三錢。

註：[1]蟹睛之證，烏睛努出如珠，形似蟹睛，疼痛極甚，澀淚羞明，初起為
　　　 實，硬而極痛；久則為虛，軟而不疼。
　　[2]總因肝、膽積熱衝睛，腎中虛熱注目所致。
　　[3]實者宜瀉肝湯，虛者用鎮腎決明丸。
</pre>
<pre data-sec="p">
主題：鶻眼凝睛歌
分類：外障證治
條文：鶻眼凝睛睛突起，目珠脹硬痛難當，積熱上衝腦熱注，外用摩風針血良，
　　　內服瀉腸湯桔蔚，柴防芩黑共硝黃。

方劑：摩風膏方見卷末
　　　瀉肝湯方
　　　桔梗　茺蔚子　柴胡　防風　黃芩　黑參　芒硝　大黃各等分
　　　右為粗末，以水二盞，煎至一盞，食後，去渣溫服。

註：[1]鶻眼凝睛之證，睛突於外，不能動轉，堅硬高努如鶻眼，脹滿疼痛難
　　　 忍。
　　[2]此積熱上衝，腦中風熱，壅注於目所致。
　　[3]宜先用金針出血瀉毒，外敷摩風膏，內服瀉肝湯。
</pre>
<pre data-sec="p">
主題：驚振內障歌
分類：內障證治
條文：驚振內障緣擊振，腦脂惡血下傷睛，睛變漸昏成內障，左右相傳具損明。
　　　鎮肝石決茺山藥，車柏辛防參茯苓，還睛散用人參桔，防細車前茺尉芎。

方劑：驚振鎮肝丸方
　　　石決明一兩　茺蔚子一兩　山藥一兩　車前子一兩　柏子仁一兩　細辛五
　　　錢　防風一兩五錢　人參一兩　茯苓一兩
　　　右為細末，煉為丸，如桐子大，食後，食後，茶清送下三錢。
　　　驚振還睛散方
　　　人參一錢　桔梗一錢　防風一錢半　細辛五分　車前子一錢　茺蔚子一錢
　　　芎藭一錢
　　　右為粗末，以水二盞，煎至一盞，食前，法渣溫前。

註：[1]驚振內障，或因擊誤著頭腦，致腦中腦脂惡血流入睛內，日久變成內
　　　 障，左右相傳，兩目俱損，宜服鎮肝丸還睛散。
</pre>
<pre data-sec="p">
主題：癍瘡入眼歌
分類：外障證治
條文：小兒癍瘡入眼中，赤腫難開澀淚疼，久生雲翳如銀色，肝經餘熱上衝睛，
　　　紅花散用草歸地，赤芍軍翹紫草紅。

方劑：紅花散方
　　　甘草　當歸尾　生地黃　赤芍藥　大黃　連翹　紫草　紅花各五分
　　　右為粗末，燈心草十莖，竹葉十片為引，以水一盞半，煎至五分，食遠去
　　　渣溫服。

註：[1]小兒癍瘡之證，因患痘時瘡生眼中，赤腫難開，澀淚羞明疼痛，久則
　　　 生翳如銀色，此乃痘後，肝經餘熱上攻睛瞳所致。
　　[2]宜用紅花散，清熱散瘀，其證自癒。
</pre>
