<header data-type="book">
<h1>本草衍句</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>寇宗奭</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>本草家數最多而煩減不一其藥味之減者惟神農本經三百六十種歷代以來種歷代以來踵事日曾至明之綱目多至千餘其煩極矣然藥味雖煩而發明主治詳悉源流信諸家之大成匯眾萬精義誠醫家之準繩也但鄭數煩多難於識誦一經掩卷則復茫然況下愚之資何能識其萬一近開減則減矣而源委不清證治不明藥不入於何經治於何病也凡藥味各具一性情各顯數功效治必多於數症用不拘於一經或在此則為端或在彼而為使其藥味之相得寒溫之各殊苟不洞悉其性情焉能蓋識其功效哉愚不揣固陋因集本草而衍句之選諸注以輔翼之擇古方之平易者又從而附麗之朗若列眉明如指掌藥不求多寡堪敵眾辭務明析句不尚文皆隨其性情功效而敷衍成章不敢妄增一字因名之曰衍句使吾孫有所循易於誦讀為人門之階梯校之樂性賦則覺其煩合之綱目未免太減然自此神而明之引而伸之則不拘於煩減間也著者識</p>

<h1>藥性草部</h1>
<p>甘草　黃耆　人參　沙參　薺苨　桔梗　玉竹　知母　肉蓯蓉　瑣陽　天麻　白朮　蒼朮　巴戟蓉　狗脊　遠志　淫羊藿　元參　地榆　丹參　紫草　白頭翁　白芨　三七　黃連　胡黃連　黃芩　秦艽　柴胡　前胡　防風　獨活　羌活　升麻　苦參　白蘚皮　延胡索　貝母　白茅根　龍膽草　細辛　白微　白前　當歸　川芎　蛇床子　藁本　白芷　白芍藥　赤芍　牡丹皮　木香　高良薑　紅豆蔻　草果　白蔻仁　砂仁　肉豆蔻　破故紙　薑黃　鬱金　莪朮　荊三稜　香附　藿香　蘭草　澤蘭　香薷　荊芥　薄荷　紫蘇　蘇子　甘菊花　艾葉　茵陳蒿　益母草　茺蔚子　夏枯草　旋覆花　紅花　續斷　牛蒡子　蘆根　狶薟草　麻黃　木賊　燈草　生地　熟地　懷牛膝　紫菀　麥冬　冬葵子　款冬花　地膚子　瞿麥　葶藶子　車前子　連翹　萹蓄　白蒺藜　沙苑蒺藜　海金砂　大黃　大戟　甘遂　常山　附子　白附子　南星　半夏　射干　芫花　兔絲子　五味子　覆盆子　使君子　馬兜鈴　牽牛　栝蔞　天花粉　葛根　天門冬　何首烏　萆薢　土茯苓　山豆根　威靈仙　防已　木通　通草　鉤藤　金銀花　天仙藤　澤瀉　石菖蒲　蒲黃　海藻　石斛　骨碎　馬勃</p>

<h1>藥性木部附果部</h1>
<p>柏子　側柏葉　肉桂　桂枝　辛荑　沉香　丁香　降真香　鳥藥　塊花　秦皮　桑白皮　桑葉　桑枝　桑寄生　積實　枳殼　梔子　五加皮　枸杞子　地骨皮　蔓荊子　白茯苓　茯神　琥珀　豬苓　竹葉　竹茹　竹□　竹黃　杏仁　鳥梅　大棗　梨　木瓜　山查　柿　陳皮　青皮　枇杷葉　胡桃　荔枝核　龍眼肉　檳榔　大腹皮　川椒　椒目　荷葉　荷鼻　芡實　荸薺</p>

<h1>藥性石部</h1>
<p>伏龍肝　紫石英　石羔　滑石　赤石脂　代赭石　禹餘糧　硇硝　元明粉</p>

<h1>藥性各部</h1>
<p>火麻仁　苡仁　黑大豆　赤小豆　白扁豆　淡豆豉　神麯　麥芽　穀芽</p>

<h1>藥性菜部附蟲介部</h1>
<p>韮菜子　蔥　薤白　白芥子　萊菔子　姜　茴香　山藥　百合　桑螵蛸　殭蠶　蠶沙　蟬退　蚯蚓　龍骨　穿山甲　龜板　鱉甲　牡蠣　石決明　五靈脂　夜明砂　燕窩</p>

<h1>藥性獸部附人部</h1>
<p>阿膠　虎骨　犀牛　羚羊角　鹿茸　發灰　鹿角　猳鼠矢　童便　秋石　人中黃</p>

<h1>十八反</h1>
<p>本草明言十八反逐一從頭說與君人參芍藥與沙參細辛元參及紫參苦參丹參並前藥一見藜蘆便殺人白芨白斂並關夏蔞貝母五般真莫見鳥頭與鳥啄逢之一反疾如神大戟芫花並海藻甘遂已上反甘草若還吐蟲用翻腸尋恆犯之都不好蜜蠟莫與蔥相睹石決明休見雲母藜蘆莫使酒來浸入若犯之都是苦</p>

<h1>十九畏</h1>
<p>硫黃原是火之精硇硝一見便煙消水銀莫與砒霜見狼毒最怕密陀僧巴豆性烈最為上便與牽牛不順情丁香莫與鬱金見牙硝艱合京三稜鳥草鳥不順犀人參又忌五靈脂官桂善能調冷氣石脂相見便蹺蹊大抵修合看順逆炮煆炙煿要精微</p>

<h1>妊娠忌服</h1>
<p>蜆班水蛭及虻蟲鳥頭附子配天雄葛根水銀並巴豆牛膝苡仁與蜈蚣三稜代赭芫花射大戟蛇脫黃雌雄牙硝芒硝牡丹桂槐花牽牛皂角同半夏南星與通草瞿麥乾薑桃仁通硼砂乾漆蟹甲爪地膽茅根都不中</p>

<h1>引經報使</h1>
<p>小腸膀胱屬太陽藁本羌活是本鄉三焦膽與肝胞絡少陽厥陰柴胡強大腸陽明並足胃葛根白芷升麻當太陰肺脈中焦起白芷升麻蔥白鄉脾經少與肺部異升麻兼之白芷詳少陰心經獨活主腎經獨活加桂良通經用此藥為使豈能有病到膏肓</p>

<h1>十二經</h1>
<p>太陽小腸足膀胱陽明大腸足胃當少陽三焦足膽配太陰手肺足脾鄉少陰心經足為腎劂陰包絡足肝方</p>

<h1>十劑曰</h1>
<p>宣可去壅姜橘之屬鬱而不散者用之如梔□湯瓜蒂散</p>
<p>通可去滯通草防已之屬留而不行者用之如五苓散十棗湯</p>
<p>補可去弱人參羊肉之屬氣弱血弱者用之如附子湯理中湯</p>
<p>泄可去閉葶藶大黃之屬閉而有餘者用之如陷胸湯承氣湯抵當湯重可去層磁石鐵粉之屬氣浮神志不定者用之如龍骨牡蠣湯</p>
<p>滑可去著冬葵榆皮之屬氣著經澀二便澀者用之如豬膽導蜜煎導澀可去脫龍骨牡蠣之屬氣脫遺溺遺精者用之如石脂丸桃花湯</p>
<p>燥可去濕桑白皮赤豆之屬分上中下表里用之如麻黃連翹赤小豆湯濕可去枯紫石英白石英之屬氣枯血枯者用之如黃連阿膠湯寒可去熱硝黃之屬如白虎湯</p>
<p>熱可去寒桂附之屬如白通湯四逆湯</p>

<h1>高士宗用藥大略</h1>
<p>凡藥空通者轉氣機如升麻木通鳥藥防已通草皆屬空通藤蔓者走經脈如銀花乾葛風藤續斷寄生皆屬藤蔓至於不必藤蔓而入血分之藥亦走經脈如紅花當歸丹皮秦艽白芍之類胸膈不和在兩乳之上則川貝茜草桔梗麥藥亦主之心氣不交於腎則桂枝茯苓棗仁枸杞可使心氣歸伏於下肝氣有餘而內逆則用元胡青皮靈脂香附白蒺藜之類以疏肝凡藥有刺而屬金者皆主伐肝蓋金能制風能平木製風　平木則所以伐肝也肝氣不足而內虛則用山萸五味熟地當歸白芍木瓜之類以補肝又水能生木補腎則補肝所謂虛則補其母也黃耆助三焦之氣從經脈以達肌腠若三焦內虛不能從經脈而達肌腠者必用之白朮補脾土脾虛者必用之類如山藥石斛米仁乾薑炙草皆脾土藥也五味杜促故紙巴戟熟地皆補藥也陽氣立而陰精不足凡此可補然緩　著也若腎精竭而陽無所附又宜桂附以補陽五臟調和六府無恙或三僬　火氣有餘陽明燥氣上熾沙陽相火妄動則苓連梔柏凡瀉火清涼皆可用也若臟腑　內虛而燥火上炎者又當和其臟府或補瀉兼施不可端行涼瀉矣肺為五臟之長受朝百脈不宜有病其咳嗽之症雖閉於肺而病根在於別藏別府府藏之氣不循經上行各上逆於肺而為咳也若咳果在於肺久久便為不治之症而肺經之藥通變　無窮不可執一如杏仁桔梗桑皮芥子麻黃紫蘇葶藶皆瀉肺藥也百合款冬川貝人參五味皆補肺藥也而補脾之　藥亦所以補肺蓋足太陰屬脾土手太陰屬肺金土能生金故補脾即所以補也凡發散毛竅解肌出汗之　藥皆所以瀉肺蓋肺主皮毛金能生水實則寫其子故皮毛汗出所以瀉肺也其　病在骨當用腎臟之藥桂附　可用其病在盤當用肝臟之藥當歸芍藥可用及前補肝之藥皆可用也病在肌肉當用補脾助土之藥病在經脈當用心包絡之藥病在皮毛當用肺經之藥其藥已載於前意會而神明之可也</p>

<h2>本草衍句</h2>
<p>甘草　味甘氣平三陰經藥炙則補中生則瀉火補脾胃之不足瀉心火之有餘咽中疼痛可獲升散之功腹裡急縮得收和緩之益熱藥用之緩其熱庶無僭之災寒藥用之緩其寒能免速下之害協和諸藥而不爭解除百毒而皆效中滿哎吐病非所宜藻遂戟芫性實相反然欲湧痰涎十棗齊施損除腹痛芍藥並重（得桔梗清咽喉得大豆解百毒）梢除胸中積熱止莖中痛淋</p>
<p>傷寒咽痛少陰症甘草主之用甘草二兩蜜水炙水煎服舌腫塞口不治殺人甘草煎濃湯熱涑頻吐</p>
<p>肺痿多　涎肺痿吐涎汁頭眩小便數而不嗽者肺中冷也基草乾薑湯溫之甘草炙肺熱喉痛有熱痰者甘草桔梗入阿膠</p>
<p>小尿血遺尿甘草一兩煎服</p>
<p>黃耆　甘益元氣溫補勞傷外行皮毛溫分肉而實腠理中半脾胃去肌熱而充皮膚大風癩疾（去肌肉中之風毒）五痔鼠瘻（去肌肉中之濕毒）生則固表發汗止汗皆能熱則補中排膿止痛必用為瘡家之對藥有補表之兼長舉下陷之虛陽（帶下崩中之症）實不固之衛氣（盜汗自汗要藥）傷寒尺脈不至者相宜督脈陽維為病者並濟（經雲陽維為病苦寒熱督脈為病脊強而厥黃耆入手足太陰經得當歸能補血得白朮能補氣得防風相畏而相使其功愈大）但陽盛陰虛者上焦熱甚下焦虛寒者病人多怒肝氣不和及肺脈洪大並戒之</p>
<p>胎動不安腹痛下黃汁黃耆川芎各一兩糯米一合煎服脾胃伏火勞役不足之症胃虛而成慢脾者當於心經中經甘溫補土之源更於土中以甘寒瀉火以酸涼補金使金旺火衰風木瞬息萬變平矣今立黃耆湯瀉火補金益土為神治之法黃耆二錢人參一錢炙甘草五分煎服</p>
<p>人參　味甘補陽微苦補陰止渴生津端益肺中元氣安神　定悸用治多夢紛紜虛喘虛咳兮自汗（病不屬虛脈洪實喘咳自汗勿用）中暑中風兮脈脈虛血弱必補其氣生則血自濡（得羊肉則補形得半夏治食入即吐得蘇木治產後發喘乃血入肺竅危症也）</p>
<p>離醜異疾有人臥則覺身外有身一樣無別但不語蓋人臥即醜歸於肝此由開虛邪襲醜不歸舍名曰離魂用人參赤茯苓龍齒各一錢煎服調飛過硃砂末睡時服一夜三夜後真者氣爽假者即化矣</p>
<p>沙參　色白體輕端補肺氣微寒味淡兼益腎脾肺痿久漱消火克以清金肌熱欲眠止驚煩而養木（心火犯肺）血陰於肺者非此不清（木經云主血積是肺氣逆上之血故能清之）寒　客作嗽者不可早用療胸痹腹痛皮膚遊風（蒼疥身癢）除寒熱血結（肺家失調之寒熱）卒疝下墜（葛洪云沙參主卒得之疝小腹及陰中相引痛如絞自汗出欲死細未酒調服肺家氣分理血之　藥）人參補五臟之陰（得麥冬清肺熱得糯米補脾陰）</p>
<p>薺苨　寒而利肺甘而解毒腎中之熱為強中消渴之後發癰腫千金則有湯丸一藥兼解眾毒（千金方治強中為病莖長興盛不交精出消渴之後發為癰疽有薺　苨湯方此皆本草之所未及也）</p>
<p>豬腎薺苨湯豬腎一具薺苨石羔各三兩人參茯苓磁石知母葛根黃苓花粉甘草各二兩黑大豆一升</p>
<p>薺苨丸大豆茯神磁石花粉熟地骨皮元參石斛鹿茸人參沉香豬肚為丸</p>
<p>桔梗　（辛微溫）開提氣血表散寒邪清利頭目咽喉能消胸膈滯氣通鼻中之窒塞除胸脅之剌疼喉痹咽痛為神目赤舌瘡並效療干嗽而少痰涎（乾咳嗽乃痰火之邪服於肺中宜苦梗以開之）治肺癰以排膿血下痢脹痛腹滿腸鳴（痢疾腹痛乃肺金之氣鬱於大腸亦宜桔梗以開之）能載諸藥而上行復通天氣於地道（得甘草能載引上得入肺為舟揖之劑）</p>
<p>胸滿不痛桔梗枳殼煎服</p>
<p>傷寒腹脹陰陽不和也桔梗半夏湯主之桔梗半夏陳皮各三錢姜五片少陰咽痛少陰症二三日咽痛者可與甘草湯不瘥者與桔梗湯主之桔梗一兩甘草二兩煎服口舌生瘡方同上如聖湯通治咽喉口舌諸病桔梗甘草荊芥防風連翹肺癰咳嗽胸滿振寒脈數咽乾不渴時出濁吐腥臭久則吐膿如□米粥桔梗湯桔梗一兩甘草二兩吐濃血即瘥</p>
<p>萎蕤　（即玉竹味甘平）潤浮現止嗽解渴除煩用治濕毒風淫可除莖寒腰痛目眥赤爛粒出中風暴熱身強（不能動搖）風溫自汗痁瘧勞傷乃為中和之品難比參耆之良（得石羔乾葛治風溫自汗身重語言出難）</p>
<p>知母　寒滑入大腸苦辛走肺腎上清肺金而瀉火下潤腎燥而滋陰消痰定喘止渴安娠傷寒燥煩（煩出於肺燥出於腎）退陽明之實熱久瘧下痢療有汗之骨蒸肢體浮腫為利便之使喉中腥臭滋化源之津胃弱者非宜陰虛者必慎（得麥科清肺止渴得大黃則能滋腎潤燥得人參治妊娠子煩）知母本寒水之性而兼秋金之氣猶水之知有母也故名土炎燥而皮毛熱可內資中土之燥外清皮之熱若為補藥即非</p>
<p>肉蓯蓉　（甘微溫）助相火補益勞傷暖腰膝堅強筋骨除莖中寒熱之痛（莖中者精之道路也精虛即有此痛補精則痛自己蓯蓉象人之陰而滋潤黏膩故能治前陰俱病）養五臟精血之傷（五臟各有精精足則能手多子）絕陽不興泄精尿血遣瀝絕陰不產帶下陰痛血崩誠滋腎補精之藥有蓯蓉和緩之名易動大便湧瀉宜停（人足少陰經周慎齊云蓯蓉補腎之陰得免絲補腎之陽二者同用能生精補陽）</p>
<p>色欲過度似淋非淋溺短而數莖中痛甚與淋閉之治不同宜肉蓯蓉淫羊藿生杜促為主佐以白蜜羊脂之類效</p>
<p>瑣陽　補陰益精養筋潤燥治痿弱滑大腸便閉者宜之不燥者勿用（功與蓯蓉相近）</p>
<p>天麻（辛溫）入肝經之氣分通血脈以疏痰治風虛　頭痛眩暈（頭旋眼黑）療小兒驚癇拘攣麻痹不仁語言蹇澀利腰膝以強筋驅濕痹而開竅有自內達外之功熄肝水諸風之疾（久服天麻遍身發出紅丹者是其祛風之驗）血液衰少類中則忌（得川芎則補肝得白林則去濕）</p>
<p>天麻在土周環十二子如十二辰以輔皇極味甘氣平主補中土便從中土以通十二經今人認為風藥但品味甚憂誤用無害</p>
<p>白朮　苦能燥濕甘善和中健脾胃而進食止嘔吐而安胎逐水生當除腹中之脹滿冷痛消痰止瀉療女人之氣塊癥瘕目不能開是胃弱倦而嗜臥在脾虛利滯血於腰臍調逆氣於衝脈（衝脈為病逆氣裡急臍腹痛）發汗止汗與黃耆同功補氣補血較人參無異（得枳實能滌飲消痞）</p>
<p>婦人肌熱血虛者吃力伽散用白朮白雲苓白芍藥各一兩甘草半兩為散薑棗煎服牙齒日長難食名隨溢病白朮煎湯潄服取效即愈也</p>
<p>蒼朮　味辛而烈健胃安脾性溫而燥除痰去濕散身面之大風逐巢囊之痰飲發汗除眩寬胸中狹窄消穀治痿及滑瀉腸風避惡氣而消水腫　解諸鬱而升胃陽脾濕下流可止濁帶雄壯上行能安太陰（東垣云上能除濕下安太陰使邪氣不偉入脾也得防風即發汗得黃柏則勝濕治濕熱腳氣得香附快中下二焦之氣得山梔解本性之燥）</p>
<p>食生米因食生熟物留滯腸胃遂至生蟲久即好食生米否則終日不樂至憔悴痿黃不思飲食以害其生用蒼朮為末蒸餅為丸米飲下日三服</p>
<p>臍蟲怪疾腹中如鐵石臍中水出旋變作蟲行繞身匝癢難忍撥掃不盡用蒼朮煎湯浴之仍以共術末入麝少許服</p>
<p>巴戟天（甘辛微溫）入腎經之血分去頭湎之遊風陰痿不起強筋安臟小腹引痛（小腹及陰中相引痛）夢泄遺精補血海而療腳氣去風濕而益勞傷腎藏虛寒要藥相火熾盛勿嘗（得純陰藥有即濟之功）</p>
<p>狗脊　苦以堅腎（即能健骨）甘以強肝（即能續筋）除寒濕之周痹利俯仰之機關（凡邪氣之在骨節間者皆能治之）男子腳弱腰痛失溺不節女人傷中節重衝任虛寒（得鹿茸白薟治白帶衝任虛寒得川烏萆薢治諸風凡獸之中惟狗狡捷而此藥似之故能入筋骨機關之際去其凝滯寒濕之氣強健利捷也）</p>
<p>固精骨狗脊遠志肉茯神當歸身為未和丸酒服</p>
<p>遠志　（苦溫）下通腎氣（為腎經本藥）上達心經（又為心家氣分之藥心火能生脾土心氣盛則脾亦和故又能補中焦之氣也）力能聰耳明目功專強志益精健忘驚悸安魂而不迷利竅奔豚（辛香疏達能闢穢通竅痹積曰奔豚）消癰腫之初生（從七情之鬱而得皆辛以散之苦以泄之也得茯苓入腎通陽得棗仁通心安神）</p>
<p>乳吹腫腫者痛遠志焙研酒服二　錢以滓傳之</p>
<p>一切癰疽遠志酒治一切癰疽發背瓶子毒惡喉熳大有死血陰毒在中則不痛傅之即痛有憂怒等氣積怒攻痛可不傅忍之即不痛或蘊熱在內熱人手不可近傅之則清涼或氣虛冷潰而不斂傅之則斂</p>
<p>淫羊藿　（甘溫）益精氣堅筋骨入肝腎補命門陰痿莖痛四肢不仁（真陽不足者宜之得無灰酒浸治偏風皮膚不仁）</p>
<p>元參　色黑屬腎味苦微寒領胸中氤氳之氣肅清而不濁散無根浮游之火壯水以制陽明目益精利咽通便傷寒身熱狂邪忽忽不知人溫瘧寒熱往來洒洒時發顫散項下結核癰瘤（皆火氣凝結之疾）療女人產乳余疾（流產後血虧衝脈之火易動清血中之火諸疾平矣）煩渴發斑之聖劑喉痹咽痛之良方（得甘草桔梗止咽痛得牡蠣貝母治瘰癧時珍云腎受傷真陰失守孤陽封鎖根發為火病當以元參為聖藥徐氏云產後血　脫即陰衰而火無所制又不可以寒涼藥折之氣血未靜又不能納峻補之劑惟元參靜火而帶微補用之最為的當</p>
<p>赤眼貫瞳元參為末以米泔煮豬肝食之發斑咽痛元參升麻湯主之元參升麻甘草煎服之急喉風痹不拘大人小兒元參牛蒡子炒半生半熟為末新水煎服立愈</p>
<p>地榆　沉寒酸澀斷下焦之血熱止吐衄之崩中腸風血痢疳痢殊效（熱痢可用倘虛寒之人及水瀉白痢未　可輕使）惡肉熱瘡可用（諸瘡痛者加地榆癢者加黃芩若止血取上截炒用其梢則能行血）</p>
<p>結陰下血腹痛不已地榆甘草入砂仁四枚煎服丹參　色赤味若氣降和平主婦人之血分入包絡與心經安生胎兮落死胎癥瘕積聚去宿血兮生新血帶下山崩治足軟與痛痹（治耎腳可逐奔馬又名奔馬草）調經脈以勻停心煩目赤腹滿腸鳴（能逐心腹之邪心與脾不知故腸鳴幽幽如走水）藥為女科之要功兼四物之能（得山查炭益母草清產後惡血發熱馮氏云清心除熱宜用生養心血止心痛宜豬心血拌炒用和心陰調心氣宜蜜酒拌炒用）</p>
<p>寒疝腹痛小腹陰中相引痛自汗欲死用丹參末二錢酒服</p>
<p>紫草　活血涼血入厥陰之經（心包肝）利竅通便解熱毒之藥氣實者能滑大腸脾虛者勿犯寒性（痘瘡欲出未出血熱毒盛者及已出而色紫便閉皆可用）</p>
<p>白頭翁　苦能堅腎寒能涼血入陽明二經（胃大腸）治熱毒血痢（紫　血鮮血）溫瘧陽狂齒痛可愈禿瘡陰疝（用根搗敷陰疝偏墜小兒禿瘡皆用）鼻衄齊施（得秦皮黃連黃柏治厥陰熱利皆清熱解毒之　功產後利虛極者加甘草阿膠）</p>
<p>白芨　（苦平）性澀而收秋金主令善止肺經吐血能填本藏損傷（主治金瘡癰毒得黃絹丹皮能補脬損）</p>
<p>三七　止血散血化瘀血於淋漓金傷杖傷消撲傷之青腫（味甘苦入足陽明厥陰經得生地阿膠治吐血捷效）</p>
<p>黃連　味多苦燥性大寒涼端瀉心藏火邪（心屬火即為瀉心之藥而反能補心何也苦為味之正瀉之所以補之也瀉邪火而真火自安）痞滿消渴（仲景瀉心湯皆用之）能去中焦濕熱（濕熱乃水火相亂之病凡去濕者必增熱除熱者必不能去濕惟黃連一舉兩得）調胃厚腸鎮肝涼血陰戶腫痛要藥（除濕熱在下之藥）開鬱燥濕腸澼瀉痢良方（除濕熱在中之病）噁心心積（噁心鬱熱在中焦中焦兀欲吐心積曰伏梁）目痛眥傷（除濕熱在上之病定驚止汗消惡血於心竅殺蟲解毒止痛癢之瘡瘍（得枳實瀉痞滿得鳥梅川椒則安蛔得木香治滯下得官桂少許能交心腎於頃刻）</p>
<p>小兒口疳黃邊蘆薈等分為末蜜湯入服五分走馬疳　入蟾灰等分青黛減半麝香少許小兒食土取好黃連汁搜之曬乾與食</p>
<p>胡黃連　性味相似同益肝膽主婦入之胎蒸骨蒸勞熱治小兒之血痢久利成疳去果子之積安腹中之蛔（得山梔豬膽治傷寒勞復得川連硃砂豬膽治肌熱疳疾）</p>
<p>小兒疳熱肚脹潮熱發黑不可用大黃黃芩傷胃之藥恐生別症以胡黃連五錢五靈脂一兩為末雄豬膽汁丸米飲下</p>
<p>黃芩　味苦氣寒可升可降瀉肺經實火（為肺經氣分藥）利氣消痰除脾家濕熱（又為手足陽明藥能瀉大腸火）血痢腹痛（腹痛而脈數者可用里無熱症者不可用）寒熱往來解在肌之風熱頭疼嗽逆理目赤之腫疼善養陰以退陽能安胎而解渴去上部之積血黃癉五淋滋膀胱之化源肺痿喉腥（得白朮砂仁能安胎得黃連白芍治上焦積熱得厚朴黃連治腹痛得芍藥治下痢得桑皮瀉肺火得柴胡退寒熱得豬膽汁除肝膽火）</p>
<p>崩中下血黃芩為末霹靂酒下以秤錘燒赤滓酒中也許學士云崩中多用止血及補血藥此方乃治陽乘於陰所謂天暑地熱經水沸溢也灸瘡血出一人炙至五壯血出不止為尿手冷欲絕以酒炒黃芩二錢酒服即止</p>
<p>黃芩內空腐清腸胃之熱外肌皮清肌肯之熱有徹內徹外之功必審其內外皆熱原本壯實胃氣不虛外不涉於毫毛內不涉於經脈文用若泛用之則種禍不知幾詐矣</p>
<p>秦艽　辛善散風苦能燥濕去腸胃之熱益肝膽之　氣養血榮筋風寒濕痹勞熱骨蒸通身攣急酒毒腸風藥中之潤品散藥中之補劑（得旬活桂心治產後中風）</p>
<p>急勞煩熱身體痠疼用秦艽柴胡一兩甘草為末白湯下</p>
<p>小兒骨蒸潮熱方用同上</p>
<p>柴胡　味苦微寒氣薄而升舉清氣之下陷引胃氣以上行宣暢氣血散結調經（本經云去腸胃之藥故能疏腸胃之滯氣物也）退百病之邪熱（傷寒心下煩熱痰熱結實往來寒熱早晨潮熱胎前產後俱熱傷寒餘熱小兒骨熱虛勞發熱下痢積熱皆用）解表裡於和平胸痞脅痛口苦耳鳴若夫熱入血室邪客胸膺（胸痛膽癉實結胸）頭眩目赤氣聚血凝為瘧疾之耍藥理肥氣之未清（肝積曰肥氣入經達氣入絡和血升不止乎巔頂散不達乎皮毛故入膽而合其無出無入之性得益氣藥即能升陽得清氣藥則能　散邪）</p>
<p>前胡　性陰而降長於下氣消痰味辛而甘功端散風暢肺利胸膈之痞滿哮喘頻清肺經之熱邪風寒頭痛（人手足太陰經陽明經得桔梗治痰熱咳逆）</p>
<p>防風（甘溫）治風去濕瀉肺搜肝而主太陽之經（凡太陽頭痛項強背痛頭此周身骨節痛皆用之）引行脾胃之藥（東垣云若補脾胃非此引用不能行用其於上中瀉木也）散頭目中滯氣除經絡間濕留驅周身之風邪主上部見血（防風為風藥之潤劑又為風藥統領也其性柔淫無所不入隨主藥而走經得蔥白通行周身得澤瀉藁本療風濕得歸芍陽起石禹餘糧療婦人子臟風冷）</p>
<p>破傷中風牙關緊閉南星防風童便煎服婦人崩中獨聖散用防風炙為末以麥麵糊丸酒調下更以麵糊酒投之此藥累經效驗一方加黑蒲黃等分服</p>
<p>獨活　（辛苦溫）理腎間之伏風目眩頭痛除兩足之濕痹痓癇奔豚（腎積曰奔風濕客於腎經所致得細辛治少陰頭痛頭暈目眩非此不能除）</p>
<p>羌活　性溫氣雄行太陽貫督脈（腎脈為病脊強而厥）透關利節泄肝氣搜肝風散肌表八風之邪除周身百節之痛風濕相搏有卻亂反正之功頭痛脊強為善理遊風之藥（得川芎治太陽少陰頭痛得當歸能利勞傷骨節痠痛）</p>
<p>產腸脫出羌活二兩酒煎服睛垂至鼻如黑角寒痛不可忍或時時大便血出病名肝脹用羌沽煎汁服</p>
<p>升麻　發散陽明表邪升提胃中清氣引行脾胃之經（若補脾胃用此引經最要）助補甘溫之藥（能引甘溫上行以補胃氣之散而實其表）散火鬱於陰中（升陽發火鬱能升陽氣於至陰之下）緩帶脈之急縮去皮膚之風痘斑疹解肌肉之熱瀉痢帶崩牙根浮爛蠱毒鬼精喉痛脫肛兼時氣之毒厲本經頭痛及小兒之癇驚虛陽下陷者相宜下元虛弱者切忌（味辛入手陽明手太陰足太陰經火在上非升不散氣下陷非升不舉惟東垣善用之得蔥白散手陽明之風邪得石羔止陽明齒痛得柴胡引生氣上升得葛根發陽明之汗）</p>
<p>琬豆斑瘡比風風病天行發斑瘡頭面及身須臾周匝狀如火燒瘡皆載白漿隨決隨生不治數日必死瘥後瘢黯彌歲方減此惡毒之氣所為云晉元帝時此病自西北流起名痛瘡以蜜煎升麻時時食之並以水煮升麻棉沾拭洗之胃熱齒痛升麻煎湯熱嗽咽之　解毒或加生地口舌生　瘡升麻一兩黃連三分為末棉里含咽之</p>
<p>高士宗云升麻升提之藥今人遇元氣虛脫之症每用升麻欲提之使上豈知升麻具升轉周遍之功初病發散可用若裡虛氣陷當補益其元助之使止不可升提升提則上下離脫即便死矣</p>
<p>苦參　沉陰大寒殺蟲去濕治赤癩眉脫之大風主熱毒腸澼之血痢雖云有補腎益陰之功（為腎經君藥）難施於火衰精冷之疾（得枳殼治風癩毒熱）</p>
<p>白蘚皮　味苦性燥氣寒善行除脾胃大腸濕熱療諸黃風痹疥瘡（主治風濕痛痹鼠瘻已破者服之最效本經云治女人陰中腫痛產後余痛）產後中風人虛不可服他藥者一物白蘚皮湯新汲水煎服</p>
<p>延胡索　味辛而苦性溫而行調婦人之經脈破腹內之癖症或心痛而欲死或血暈而不醒能行血中氣滯氣中血凝通　利小腸腎氣端入太厥陰經（時珍曰入手足太陰厥陰四經蓋活血化氣第一品藥也一人遍身作痛不可忍是氣血凝滯所致用延胡索當歸肉桂而止得金鈴子治熱厥心痛得茴香治小兒盤腸）</p>
<p>貝母　辛解肺郁（為肺經氣分藥）苦瀉心煩散胸中結實之氣治虛勞嗽逆之痰潤心肺除煩熱下胞胎理產難癭瘤人面（人面瘡收口最效）金瘡乳嚴咯血吐血而不止肺癰肺痿而難堪（本經用治傷寒煩熱淋瀝喉閉乳嚴大都散結除熱之功諸郁之症功端潤肺化痰得桔梗能下氣得白芷消便癰）</p>
<p>憂鬱不伸胸膈不寬貝母去心姜炒研薑汁面丸徵士鎖甲煎湯下</p>
<p>化痰降氣止咳解鬱消食除脹有奇效用貝母去心一兩製厚朴五錢蜜丸白湯下</p>
<p>白茅根　益氣補中除客熱而逐惡通淋利水（古方多用療淋瀝利小水治水腫療吐衄之勞傷（吐血衄血除惡血血閉血崩通經血）喘急噦逆（肺熱則喘急伏熱在胃即呃逆）消渴疸黃兼能解酒之毒足徵微物之良（味甘氣寒功端除熱止血得豬肉治黃汗得枇杷葉治冷脘）</p>
<p>溫病熱噦乃伏熱在胃令人胸滿即氣逆逆即噦或大下胃中虛冷亦至噦也茅根切葛根切各半斤水煎服</p>
<p>反胃上氣食入即吐茅根蘆根煎服小　便出血茅根煎湯飲之</p>
<p>鼻衄不止茅根為末米泔水煎服二錢</p>
<p>能膽草　味澀苦寒氣沉陰下能瀉肝膽火邪（益肝膽氣瀉即所以益之也）蠲除下部風濕（濟下至足腫痛者宜用之）退骨間之伏熱溫熱時行去目中之發黃疽黃毒痢用療驚癇邪氣（肝火犯心之邪）可殺腸中小蟲寒濕腳氣下行與防已同功胬肉赤睛上佐以柴胡為主（功端清熱去濕得柴胡治目疾得蒼耳治中諸實症</p>
<p>谷疸勞疸谷疸因食而得勞疸因勞而得用膽草苦參各三兩為末牛膽汁和丸勞疸加梔子三七枚以豬膽汁和丸一切盜汗婦人小兒一切盜汗又治傷寒後盜汗不止膽草研末每服一錢豬膽汗數　點入溫酒少許調服眼中漏膿膽草當歸為末溫水服</p>
<p>細辛　辛散浮熱溫表邪寒潤腎燥以瀉肺（腎苦燥辛以潤之辛能瀉肺）益膽氣而補肝（辛以補之）止諸陽之頭痛除少傷寒（能發少陰之汗）九竅通處（散諸竅之風）百節拘攣（風濕痹痛）溫陰經水氣散（水停心下不行辛能行水氣）止咳逆痰飲安兼治口臭口瘡鼻淵鼻息（不聞香臭鼻中息肉）目泣耳聾（眼風泣下）喉痹齒䘌頭面風痛如神皮風濕癢亦妙上引心經下療督脈（腎脈為病脊強而厥）少用則病除多犯令氣塞（若過一錢則一氣塞悶不通而死雖死無傷得黃連治口瘡齒䘌得決明鯉魚膽青羊肝療目病）</p>
<p>口舌生瘡細辛黃連為末摻之潄涎甚效</p>
<p>鼻中息肉細辛末時時吹之</p>
<p>白微　清熱利陰安中益氣入腸明之經為衝任之使中風身熱支滿溫瘧寒熱酸痹（痹痛也）療男子之痓症風溫灼熱汗多（活人書治風溫自汗身重煩熱語言不出萎蕤湯中用之治婦人之傷中熱淋遣尿血厥（血厥症忽然如死默不知人目閉口噤移時方寤因失血產後得之者多此泄汗過多血氣並於於陽獨上而不下氣塞而不行本事方治以白微湯胎前產後遣尿千金方治以白微散河間所謂熱甚溺孔鬱結神無所依不能收禁之意也得桂枝石羔竹茹治胎前虛煩嘔逆得人參當歸甘草治產後血厥昏冒即白微湯）</p>
<p>婦人遣尿不拘胎前產後用白微芍藥各一兩為末酒服</p>
<p>血淋熱淋方用同上</p>
<p>白前　（辛微溫）降氣下痰肺經壅實之證咳逆脹滿喉內水雞之聲（得桔梗桑皮治咳嗽吐血）</p>
<p>久咳上氣體腫短氣脹滿晝夜倚壁不得臥恆作水雞聲者白前湯主之白前二兩紫苑關夏各三兩大戟七合煎一宿服忌羊肉</p>
<p>當歸　和血補血辛溫甘溫潤澤激發胃散寒助心為血中之氣藥入太少於厥陰（心肝脾三經血分藥）溫中止心　腹之痛養營療肢節之疼虛勞寒熱咳逆氣賁誠血家之要品補不足於婦人溫瘧熱痢止痛排膿兼為沖帶之脈病（衝脈為病腹痛氣逆裡急帶脈為病腹痛腰溶溶如坐水中）各使氣血而歸真（得人參黃耆則補氣生血同牽牛大黃則行氣破血得桂附茱萸則熱得大黃芒硝即寒）</p>
<p>血虛發熱當歸補血湯治肌熱燥熱因渴引飲目赤面紅晝夜不息其脈洪大而虛發重按全無力此血虛之候也得於飢困勞役症似白虎但脈不長實為異耳若誤服白虎即死宜此主之當歸酒洗二錢綿黃耆炙一兩作一服水煎溫服日再服</p>
<p>川芎　（辛溫）上行頭目下通血海（沖為血海）總解諸郁直達三焦為通血氣之使用助清陽之妙潤燥補肝通經脈治濕瀉而為良（時珍曰予治濕瀉每用川芎麥面其應如響血痢已通不止者乃陰虧氣鬱用川芎為佐氣行血調其病立止）諸頭痛之必要溫中散寒主諸風之掉眩血閉無子破癥結之宿積非為久服之藥常存暴亡之戒（得細辛療金瘡止痛得牡蠣療頭風得犀角去痰清目得□茶治產後頭風得鳥藥療氣厥　頭痛得天單板機治肝虛內風上淫東垣曰肝虛頭痛用川芎天麻以補之）</p>
<p>婦人產後乳懸婦人產後兩乳忽長細如腸垂過小肚痛不可忍危亡須臾名曰乳懸交川芎當歸各一斤以半斤銼散於瓦石器內用水濃煎不拘多少頻服仍以一物質半銼塊於病人狀下燒煙令將口鼻吸菸用盡未愈再作一料以芘麻子一粒巾其頂心上即愈</p>
<p>蛇床子　（苦平）祛風燥濕強陽益陰暖虛寒之子臟補右腎於命門陰痿濕癢陰戶腫疼（皆下體濕毒之病也）產門不閉而下脫（產後陰脫娟盛蛇床子炒熱熨之）大風作癢而浴身腰痠膝痛濕癬瘡淫不獨補助男子而又有益婦人（婦人無子最宜久服得五味兔絲療陽痿得鳥梅治產後陰脫得苦參吳萸洗陰癢效）</p>
<p>產後陰脫盛蛇床子蒸熱熨之又法蛇床子五兩鳥梅十四個煎水洗日五六次</p>
<p>婦人陰痛方用同上</p>
<p>藁本　端主頭風辛溫雄壯止本經之頭痛（乃太陽經風藥寒氣鬱於本經頭痛必用）療督脈之脊強大寒犯腦痛連齒頰霧露中人邪在膈上主婦人之疝瘕陰寒急痛（陰中腫痛腹中急痛）引諸藥於巔頂胃風瀉恙（夏黃翁病瀉以虛治不效霍翁曰此風客於胃也飲以藁本湯而止能去風濕故耳得木香治霧露之邪中於上焦得白芷療風濕可作面脂）</p>
<p>白芷　辛散陽明之風溫除腸胃之濕芳香通竅色白入肺頭痛及於眉稜眼昏同於目淚皮膚燥癢面皯瘢疵排膿止痛療帶漏兮癰疽（帶下漏胎崩漏活血生肌治腸風兮疥痔齒痛鼻淵蛇傷斧斫藥不離乎三經（頭目眉齒諸病三經之風熱也漏帶癰疽諸病三經之濕熱也）方用選於百一（王□百一選方用白芷一味為丸茶清荊芥湯下名都梁丸治頭風眩暈女人胎前產後傷風頭痛血風頭痛皆效戴氏雲頭痛挾熱頭生磊塊者服之甚宜得土貝瓜蔞治乳癰得辛夷細辛治鼻病得桑葉紅蜀葵根排膽得椿根皮黃柏治婦人濕熱帶下）</p>
<p>眉稜骨痛屬風熱與痰白芷黃芩為末清茶調下</p>
<p>毒蛇傷螫以新汲水調白芷末灌之又白芷末入膽草白礬麝香少許搽之惡水湧出一月平復</p>
<p>白芍藥　酸能斂肝甘善緩中固腠理而益營瀉肝安肺斂陰氣而退熱收胃扶脾止腹中之　急痛（肝氣乘脾即痛斂肝氣則痛除）散惡安胎治瀉痢於後重　鼻衄目澀心痞脅痛兼療帶脈與陽維（帶脈為病苦腹痛滿腰溶溶如坐水中陽維病苦寒熱）血閉疝瘕（皆肝邪凝滯結聚之病）通用胎前同產後（白芍乃養肝之聖藥又益脾陰能土中瀉木得人參益脾氣得當歸補血得白朮補脾得川芎補肝）</p>
<p>腹中虛痛白芍三錢炙甘草一錢夏月加黃芩五分惡寒加肉桂一錢冬月大寒再加桂一錢水煎服崩中下血小腹痛甚者炒白芍炒柏葉酒服經水不止白芍香附熟艾葉煎服血崩帶下赤芍附為末鹽水少許煎服</p>
<p>赤芍　主治略同補瀉則異端於散邪行血尤善利水平肝</p>
<p>牡丹皮　寒　瀉陰中伏火苦入肝腎心胞（四經血分伏熱）和血涼血而生新驚瘛痤（皆肝氣所發之疾）吐血衄血而散瘀勞氣中風退無汗之骨蒸（地骨皮退有汗之骨蒸）通經脈之滯痛下胞胎治神志不足（神　不足者屬心志不足者屬腎）除煩熱逐相火有餘（李東垣云心虛腸胃積熱心火識甚心氣不足者以之為君後人端以黃柏治相火不知丹皮之功更勝得四物湯治無汗之骨蒸四　物湯熟地黃當歸白芍川芎）</p>
<p>木香　（辛溫）通行三焦升降氣鬱和胃實腸疏肝瀉　肺降九種之心疼療積年　之冷氣嘔逆痃症霍亂瀉痢大腸氣滯而後重膀胱不化而淋閉（謂氣滯而不運化也又能通其氣於小腸也）消癰腫之毒決壅安胎御霧露之邪健脾化食治衝脈之為病苦逆氣於裡急（功端調氣散　滯得黃連治滯下得檳榔治下焦氣滯得橘皮肉果生薑治腹間滯塞冷　氣功效捷速煨熱者實大腸）</p>
<p>小兒陰腫小　鉚陽明經風熱濕氣相搏陰莖無故腫或痛縮宜寬此一經自愈木香枳殼麵炒錢半炙甘草二　錢水煎服</p>
<p>高良薑　辛散腹內寒邪熱除胃中冷痛下氣溫中健脾消食治瘴瘧反胃噁心除霍亂轉筋瀉痢胃噫寒逆者相宜（楊氏云噫　逆胃寒者良薑為要藥人參茯苓佐之為其溫胃散解胃中風邪也）實熱腹痛者切忌（得茯苓治胃寒噫逆得粳米治霍亂腹痛）</p>
<p>心口痛方凡男女心口一點痛者乃胃脘有滯或有蟲也多因怒及受寒而起遂至終身俗言心氣痛者非也用高良薑酒洗焙研香附子醋浸焙各記收之病因寒得用薑末二錢附末一錢因怒得附末二錢薑末一錢寒怒兼有各錢半以米飲加入生薑汁一匙鹽一捻服之立止</p>
<p>紅豆寇　醒脾溫肺燥濕散寒　腸虛水瀉腹痛霍亂反胃嘔酸（東垣云脾胃藥中常用之取其消食之功耳）</p>
<p>草果　燥濕祛寒下氣開鬱入太陰與陽明暖脾胃而化食寒邪客於胃口冷痛吐酸痰飲結於膈間寒瘧瀉痢止霍亂痞滿解酒毒口氣（口中臭氣）性熱反能動脾辛午多致傷肺（時珍曰過多能助脾熱傷肺捐損目與如母同用治瘴瘧寒熱取其一陰一陽無偏勝之害蓋草果治太陰獨勝寒知母治陽明獨勝之熱也主治寒熱鬱滯得知母治瘴瘧得鳥梅截瘧得木瓜曲療中虛惡谷</p>
<p>白寇仁（辛溫）流行三焦溫暖脾胃能消能磨除寒燥濕散肺中之滯氣（入肺經別有清高之氣）進食寬胸去腹痛之感寒嘔吐反胃赤眼暴發退目中之紅筋酒積可除治脾虛之瘧疾（得砂仁甘草治小兒吐乳得砂仁丁香蝟皮治反胃）</p>
<p>產後呃逆白豆蔻丁香各五錢研細末桃仁湯服一錢少頃再服</p>
<p>砂仁　辛溫潤腎快氣調中香竄醒脾和胃補肺引諸藥歸宿丹田（地黃用之拌蒸取其能下達也經疏云腎虛氣不歸元用為嚮導殆勝桂附熱藥為害）行一切腹中滯氣霍亂奔豚嘔吐瀉痢治腹痛除痞滿醒酒安胎療噎膈止帶崩祛痰化食消骨哽之銅鐵散浮熱於喉齒（功端消食散滯得白朮條芩能安胎）</p>
<p>偏身腫滿陰亦腫者用縮砂仁土狗一個　等分研和老酒服</p>
<p>子癇昏胃砂仁和皮炒黑熱酒調下二錢不飲酒者米飲下此方安胎止痛皆效不可盡述</p>
<p>妊娠胎動偶因所角或跌墜傷損致　胎不安痛不可忍者砂仁炒去皮用仁拘留證研服二錢熱酒下須臾覺腹中胎動極熱即安矣神效</p>
<p>益智仁　（辛溫）本為脾藥兼入腎經開發鬱結固氣澀精能補命門三焦陽行陰退專主君相二火母益子生（心為脾母土中益火火能生土也故進食藥中多用之也）斂攝脾腎滑瀝帶崩大寒犯胃而多吐（脾主統攝痰涎腎主吐）小便余溺而頻行（功端遣濁縮小便得鳥藥治小便頻　數）</p>
<p>肉豆蔻　調中下氣暖胃澀腸祛痰消食性溫味香治積冷心腹之脹痛療小兒吐瀉之乳傷脾虛滑痢（初起忌用）解酒為良（功端暖脾胃固大腸得木香附子治久瀉不止者）</p>
<p>破故紙（又名補骨脂）辛入心包溫補命門能使二火相通用與陽事善暖丹田元氣收斂精神精流腎冷囊濕尿頻（能縮小　便治遣尿也）止腎虛之泄瀉療腰膝之冷疼勞傷男子（五勞七傷骨髓傷敗）血氣婦人（婦人之血脫氣陷亦猶男子之腎冷精流得兔絲子治下元虛憊得杜仲胡桃治腎虛腰痛得茯苓沒藥能巡心補腎得茴香治小便無度莖舉得肉果治脾腎虛泄得粟殼治洞瀉久利）</p>
<p>玉莖不痿精滑無歇時如鐵刺捏之則脆此名腎漏用破故紙韮菜子各一兩為末每用五錢煎服</p>
<p>薑黃　（辛苦溫）入肝脾之經理血中之氣破血除風消腫治痹（風寒濕三氣合而為痹蠲痹湯五痹湯皆用之）產後敗血而攻心三氣作痛於手臂（得肉桂治寒厥胃痛產後癥瘕）</p>
<p>鬱金　純陰氣寒輕陽苦辛涼心熱散肝鬱入包絡與太陰（兼入肺經）心腹氣痛吐衄血淋（為吐血之聖藥）婦人經脈逆行產後敗血上侵生肌下氣（行黨政軍氣而不損正氣）破血生新陽毒入胃癲狂失心竅之惡血發斑痘於深沉（功端去惡血破結聚得明礬治失心癲狂得甘　草片腦治痘毒入心）</p>
<p>莪□　（苦辛溫）通血分於肝破氣中之血消瘀通經開胃化滯止腹痛之吐酸奔豚療女人之血積氣結（得木香療冷氣攻心得阿魏治小兒盤腸）</p>
<p>蕙三稜　（苦平）通肝經積血破血中諸氣主老癖之癥瘕除積聚之結塊消腫削堅止痛化食通月水下胞胎散瘀血行乳汁（功端療癥瘕破血結得蓬朮治渾身燎泡得大黃治痃癖）</p>
<p>香附　性燥而香味辛而苦端入肝膽三焦通行經絡八脈為血中之氣藥引氣分而生血力能推陳致新功端止痛開鬱（時珍曰止心腹肢體頭目齒耳諸痛解六郁痰食氣血濕火諸郁）痰飲積聚除客熱於胸中腹脹痞滿散寒疫之時疾腎氣腳氣膀胱兩脅氣妨吐和因　便血崩帶不調血症治癰疽於獨勝散交心腎於降氣湯生則上行胸膈外　達皮膚熱則下走肝腎旁徹腰膝誠氣病之總司女科之主帥（得參朮則補氣得歸芐則補血得木香則幅度滯和中得檀香則理氣醒脾得沉香則升降諸氣得川芎蒼朮則總解諸郁得梔子黃連則能降火熱得茯神則交濟心腎得茴香破故紙則引氣歸元得厚朴半夏則決壅消脹得紫蘇蔥白則解邪氣得三稜莪□則消磨積塊得艾葉則治血氣暖子宮得高良薑治心脾冷痛得鳥藥紫蘇安胎順氣得黃連名黃鶴丹得鳥藥名青囊丸二者皆治百病）</p>
<p>一切氣疾心腹脹滿噫氣吞酸痰逆嘔惡及宿酒不解香附子一斤砂仁八兩　炙甘四兩為末白湯入鹽煎服名快氣湯婦人氣盛血衰變生諸症頭暈腹痛皆宜抑氣散主之　香附子四兩茯苓炙草各一兩橘紅二兩為服妊娠惡陰胎不安氣不升降嘔吐酸水起坐不便飲食不進二香散用香附子一兩藿香葉甘草各二　錢為末服二錢沸湯入鹽調下</p>
<p>藿香　芳香助脾開胃辛甘快氣溫中止吐逆霍亂腹痛去惡氣風水毒腫（得滑石治暑月泄瀉）</p>
<p>霍亂吐瀉垂死者服之回用藿香葉陳皮各半兩煎服胎氣不安氣不升降嘔吐酸水香附藿香甘草二錢為末每服二錢入鹽少許沸湯調服</p>
<p>蘭草　辛平開胃芬芳清肺利水除痰（本經利水道除痰癖辟惡氣）生津益氣為消渴之聖藥散久積之陳郁口膽甘癉當液凝滯（內經云口甘膽癉當液在脾令人口甘此肥美之所發也其氣上溢轉為消渴治之以蘭除陳氣也）</p>
<p>澤蘭　（辛溫）散郁舒脾和肝泄熱　長肉生肌調經養血破宿瘀兮消癥瘕通九竅兮利關節血瀝腰疼（產後腹痛腰痛）陰戶燥熱致周身之水腫（本經云大腹水腫身面四肢浮腫骨節中水徐云統治一切水病也）</p>
<p>產後陰翻產後陰戶燥熱遂成翻花澤蘭四兩　煎湯薰洗二三次再入枯礬煎洗即安</p>
<p>香薰　溫解心腹之凝結辛散皮膚之熱風發越陽氣（中暑之病因乘涼飲冷致陽氣為陰邪所遏宜用此藥發越陽氣散水和脾也）去濁氣之上衝（凡口臭者是脾鬱火溢於肺中失其清和之氣而濁氣上干故治口氣甚捷之也）霍亂吐瀉為夏月解表之藥水腫腳氣有徹上下之功（功端散暑利水得厚朴治傷暑寒症得白朮水濕水腫）</p>
<p>通身　水腫深師茹術丸治暴水風水氣水通身皆腫服至小便利為效用香薷葉一斤熬爛去滓再熬成膏加白朮末七兩和丸米飲夜服</p>
<p>舌上出血如鑽乳香香薷煎汁服口中臭氣香薷煎水含之</p>
<p>荊芥　辛溫發汗散風芳香助脾消食能利咽喉用清頭目搜肝氣而入肝通血脈而散惡暴中之頭痛頭眩口眼喎斜新產之血運血風身項強直皮膚作癢周身𤸷痹為瘡家之要藥兼血病之佐使吐衄崩中腸風痢（得石羔治風熱頭痛得甘草治洗爛癧神效）</p>
<p>產後中風華佗愈風散治婦人產後中風口噤手足瘛痤如角弓或產後血暈不省人事四肢強直或心眼倒築吐瀉不止欲死用荊芥穗子微焙為末每服三錢淋豆酒調服或童便服口噤即挑齒灌之</p>
<p>產後鼻衄荊芥研末童便服二錢</p>
<p>薄荷　辛能發散涼能清利端於散消風用以搜肝抑肺去風熱之在皮膚引諸藥而入榮衛頭痛腦風舌語澀為小兒之痰壅壯熱驚狂及男子之中風失音口氣故治瘰癮疹疥瘡並利咽喉口齒目疾（得花粉能清上化痰）</p>
<p>風氣搔癢用大薄荷蟬退等分為末每溫酒調下一錢</p>
<p>衄血不止薄荷汁滴之或以乾者水煮綿里塞鼻</p>
<p>紫蘇　味辛入肺色紫入血解肌表之風邪散寒發汗下胸膈之浮氣利肺通心消痰定喘和血溫中益脾胃而通腸（通大小腸）心腹脹滿能安胎而止痛腳氣腫疼（得橘皮砂仁則行氣安胎得藿香鳥藥則溫中止痛得香附麻黃則發汗解肌得川芎當歸則和血散血得木瓜厚朴則散濕解　暑治霍亂腳氣得桔枳殼則利膈寬腸得杏仁萊菔子則消痰定喘</p>
<p>金瘡出血不止以嫩蘇葉桑葉同搗貼之跌撲傷損紫蘇搗敷之瘡口自合</p>
<p>蘇子　消痰降氣利膈寬腸潤心肺而定喘開鬱溫中止咳逆之吐嘔祛風順氣</p>
<p>甘菊花　味兼甘苦性稟和平受四時之氣得金水之精益金平木木平則風息補水降火火降則熱　清散頭痛之遊風頭眩濕痹退目中之翳膜目明血生用敷疔毒久服延齡（功端治頭目風火得枸杞便能下行悅腎）</p>
<p>風熱頭痛菊花石羔川芎各三錢為末服一錢半茶調下斑痘入目生翳障用白菊花穀精草綠豆皮為末用一錢以乾柿餅一枚粟米泔同煎候米泔盡食柿日食三枚淺者五七日遠　者半月見效女人陰腫菊花苗搗爛煎湯先薰後洗　</p>
<p>艾葉　熟熱生溫苦辛氣味能回垂絕之元陽可轉肅殺為理血氣而走三陰透諸經而灸百疾開鬱調經溫中逐濕暖子宮而安胎（陰虛血燥者非宜）止腹痛之冷痢帶脈為病（帶脈為病腹脹滿腰溶溶如坐水中）下部蟲食（人奇經功端暖子宮殺蟲䘌得香附治少腹痛得阿膠治產後下血得雄黃治狐惑蟲䘌）</p>
<p>狐惑蟲䘌病人齒無色舌上白或喜睡不知痛癢處或下痢宜急治下部不知此者但攻其上　而下部生蟲食肛爛見五臟便死也燒艾於管中薰下部令煙入或少加雄黃更妙罌粟燒煙亦可</p>
<p>茵陳蒿　苦燥濕寒　勝熱泄脾胃之濕熱利水化痰入太陽之膀胱通關散滯時疾熱狂膽黃熱結髮黃分別陰陽此藥各隨寒熱（主治風濕寒熱得山梔療熱黃得附子治陰黃得車前治濕熱眼目赤腫）</p>
<p>一僧因傷寒後發汗不徹有留熱面身皆黃多　熱期年不愈予用山茵陳山梔子各三錢秦艽升麻各四錢為散煎三　錢二十五日病愈　</p>
<p>青蒿　得春木之陽氣入肝膽於血經（所主皆少陽厥陰血分之病也）理血虛而有熱除骨蒸之勞形苦能殺蟲風毒疥瘡息肉寒可泄熱身黃瘧疾鬼驚（凡苦寒傷胃惟青蒿芬芳入脾不犯胃氣但寒而泄者非宜主治骨蒸勞熱得驚甲治溫瘧）</p>
<p>益母草　辛可活血散風苦能消瘀除結入手足厥陰之經調女人經脈之滯無妊而血淋秘去惡生新產難而血暈血風消水行血通為經產之需便有調氣之別（活絡調經功效甚捷得黑山查治產後惡露不行）</p>
<p>茺蔚子　活血補陰益精明目順氣調經行中有補（瞳子散大者忌用）</p>
<p>夏枯草　（苦辛寒）性稟純陽散結氣鬱熱之品（能解內熱散肝經之鬱火力緩肝火補厥陰血脈之功療目珠於夜痛治瘰癧乳嚴癰（主治頭瘡瘰癧得香附甘草治目珠疼痛得香附貝母治馬力）</p>
<p>瘰癧馬力不問已潰未潰或日久成漏用夏枯草六兩煎服虛甚者即煎熬膏服並塗患處兼以十全大補湯加香附貝母遠志尤善此物生血乃瘰癧之聖藥也其草易得其功甚多</p>
<p>旋覆花　咸以軟堅苦能下氣逐水通脈（大腹水腫通血脈）行腸入肺去膀胱之留飲通利大腸消胸脅之結痰吐如膠漆　開胃止嘔痞堅噫氣冷利大腸虛入當避（丹溪曰走　散之藥冷利大腸虛寒者戒之主治結氣嘔逆得代赭石半夏治噫氣得蔥白新紫降治半產漏下）</p>
<p>紅花　（辛溫）入心肝二經活血潤燥主血暈口噤胎死腹中腫消兮痛止瘀散兮經通（凡血分作腫作痛）多則破血殊驗少則養血有功（功端活血消腫得去風藥治六風藥治六十二種風）</p>
<p>續斷　辛溫入肝以補盤苦溫入腎以補骨通血脈理勞傷主崩中補不足跌撲金瘡筋斷復續縮小便而固精暖子宮與胎漏血痢腰痛所必需關節緩急之要藥（得當歸治勞傷腰痛得平胃散治血痢）</p>
<p>妊娠胎動兩三月墮預宜服此續斷酒浸杜仲薑汁炒為末棗肉丸米飲下產後諸疾血暈心悶煩躁厭厭氣欲絕心頭乍寒乍熱續斷一握煎服此藥救產後垂死</p>
<p>牛蒡子　（又名大力子又名鼠黏子）辛能散結除風苦堪泄熱潤肺風濕癮疹牙痛喉痹　消頭面之浮腫咳嗽生痰去皮膚之熱風咽膈不利散諸腫瘡瘍之毒利凝滯腰膝之氣（功端消肺風利咽膈得荊芥治咽喉不利得生甘草治懸癰喉痛得甘桔治咽喉痘疹得薄荷治風熱癮疹）</p>
<p>癧節腫痛風熱攻手指赤腫麻木甚即攻肩背兩膝遇暑熱則大便閉牛蒡子三兩新豆豉炒羌活各一兩為末服白湯下</p>
<p>蘆根　甘能益胃寒能降火治嘔噦而食不下退熱除煩療時疾而清熱邪安胎止渴（孕婦心熱主治嘔噦而食不下退熱除煩悶得麥冬骨皮茯苓橘紅生薑治骨蒸肺痿）</p>
<p>嘔噦不止厥逆者蘆根三斤煎濃汁飲之必效若以童便煎服不過三斤愈反胃上氣蘆根各二兩水煎服</p>
<p>豨薟草　熟熱生寒追風逐濕治麻痹於四肢主肝腎之風氣腰腳痠軟骨筋痛痹</p>
<p>麻黃（苦辛溫）上達輕揚最清氣味發太陽少陰之汗入　肺藏大腸之司去營中之寒邪泄衛中之表實能深入積痰凝血之中（要經破症堅積聚）血脈兼調故透出皮膚毛孔之外（本經主發表出汗去邪熱氣）孔竅通利傷寒中風咳逆上氣皮膚不仁毒風疹痹風腫水腫皆宜發汗解表第一若遇汗多之症須知亡陽所忌（功端散邪通陽得射干治肺痿上氣得桂心治風濕之冷痛）根節止汗自汗俱可加之</p>
<p>水腫脈沉屬少陰其脈浮者為氣虛脹者為氣皆非水也麻黃附子湯汗之麻黃三兩水七升煮入甘草二兩附子炮一枚煎服取汗即效</p>
<p>心下悸病半夏單板機黃丸用半夏麻黃末蜜丸日三服</p>
<p>盜汗不止麻　黃根椒目為末無灰酒下外以麻黃根故蒲煽為末撲之諸虛自汗夜臥則甚久即枯瘦老耆麻黃根各一兩牡蠣泔洗煆過為散服五　錢水二蓋小麥百粒煎服</p>
<p>木賊草　（甘苦）發汗解肌升散火鬱益肝膽而理腸風退翳膜而止目泣（得牛角鰓麝香治休息利得禹餘糧當歸川芎治崩中赤白得槐子枳實治痔中出血）</p>
<p>燈草　（甘寒）降心火清肺熱利小腸五淋水腫開陰竅通氣止血（得辰砂治小兒夜啼得紅花治喉風痹塞）</p>
<p>夜不合眼難睡燈草煎湯代茶飲得睡</p>
<p>生地　寒涼心臟苦瀉　小腸涼血潤燥滋陰退陽（戴原禮曰陰陽盛相火來乘陰位為虛火之症）平血逆之吐衄利傷寒之陽強或血熱經枯崩中溺血或傷中煩熱咳嗽勞傷二便通利諸熱皆涼脈洪者多服（好古曰生地治心熱手足心熱能益腎水涼心血其脈洪之前者宜之　若脈虛者則宜熟地補腎元氣也）胃弱者少嘗（主治勞傷血症得麥冬復脈內之陰得木通導小腸之熱）</p>
<p>溫毒發斑黑羔治溫毒驅逆生地二兩六錢二字半好豆鼓一兩六錢二字半以豬膏十兩合之一露一宿絞去渣入雄黃麝香少計如豆大攪勻分三他毒從中出即愈忌蕪荑睡起目赤腫起良久如常者血熱也臥即血歸於肝故熱則目赤腫忍受久血散故如恆也用生地汁浸粳米曬乾每夜以米煮粥食之即愈有人病此用之得效</p>
<p>熟地　端補腎中元氣兼入厥陰肝經滋腎水補真陰須烏髮黑填骨髓生精血耳聰目明退虛熱而潤燥補五臟而調經坐起目𥉂無所見病後股痛而難行（病後脛股痠痛）臍腹急痛胞漏血崩（男子多陰虛宜用熱地女子多血熱宜用生地又云生地能生精血用天冬引入所生之處熟地能補精血用麥冬引入所補之處得砂仁行氣煮酒和血復得久曬太陽真火能使虛陽歸宿丹田）</p>
<p>懷牛膝　（苦酸平）補肝益曳能引諸藥下行健骨強筋可助十二經脈除兩膝之痠痛續絕補中療四肢之拘攣痛連腰脊　久瘧寒熱陰痿失溺至於墮胞胎而止產後之疼逐瘀血而破心腹之積喉閉齒痛虛火上浮莖痛五淋小水短少降濁澄清直奔下極（生用逐瘀熟用強筋得肉蓯蓉則益腎得杜仲則補肝）</p>
<p>小便淋痛莖中痛欲死或尿血或砂石脹痛用川牛膝一兩煎服喉痹乳蛾用鮮牛膝根一握艾葉七片搗和人乳取汁灌入鼻中須臾痰涎從口鼻出即愈無艾亦可</p>
<p>胞衣不下用牛膝八兩葵子一合煎服</p>
<p>紫苑　苦能下氣辛可益金不滯而補不寒而潤補虛調中雖入至高之臟消痰止渴兼有下趨之分咳逆上氣筋痿吐膿能使水道通調溺澀尿血可除久嗽吐衄痿躄息賁（為肺經血分端治血痰血勞聖藥得款冬花百部鳥　梅治久嗽得白前平夏戟治水氣喘逆）</p>
<p>婦人小便卒不得出者紫苑為末井畢水服三撮即通小便血者服五撮立止</p>
<p>麥冬　甘平滋潤強陰益精清心潤肺滋燥金以壯水源除煩解渴養胃陰能令金生（徐云為純補胃陰之藥肺氣全恃胃陰以　生）治肺中伏火肺痿吐膿燥嗽補心臟虛損心血錯經妄行下水消痰（治熱毒大水面目肢節浮腫）心腹結氣能散（解枯燥之結氣）傷中傷飽胃絡脈絕可平（補續胃中之陰氣）去心下之肢滿嘔吐痿蹶退虛勞之客熱下乳潤經（經水枯少本經用治脾胃後人用治心肺得地黃阿膠麻仁同為潤經復脈之劑得五味子能都攝肺腎之津液）</p>
<p>麥冬橫生土中有十二餘粒其中即一心相貫能　橫通胃絡而補中故治傷中能橫通胃絡而散　結故治傷飽後人用必去心大非</p>
<p>冬葵子　甘寒淡滑潤燥利竅行津液利二便通營衛滋氣脈　消腫滑胎婦人乳閉腫痛通淋利水產後小便淋瀝（性主滑利能通精下胎得砂仁治乳汁蓄癰得牛膝下胞衣）</p>
<p>妊娠水腫身重小便不利灑淅惡寒起即頭眩用葵子茯　苓各一二兩糝飲小便利愈</p>
<p>乳婦氣脈壅滯乳汁不行及經絡凝滯奶房脹痛留蓄作癰毒葵子炒香砂仁為末熱酒服二錢</p>
<p>款冬花　辛甘微溫瀉　熱潤肺定喘消痰咳逆上氣治肺痿而吐膿血邪熱癇驚能明目而洗肝邪中風喉痹為治嗽之總司不論寒熱虛實（功端開痰止嗽得白薇貝母百部治肺實鼻塞得黃連治口中疳得百合治痰嗽帶血有效）</p>
<p>地膚子　味苦氣寒益精強陰入膀胱而除虛熱利小便而通妊淋散皮膚搔癢丹腫治惡瘡陰痿疝疼</p>
<p>瞿麥　苦寒性滑端利小腸膀胱熱邪決癰墮胎為通溺便五淋要藥下焦濕熱疼痛可加胎前產後虛人大礙（功端利水破血得梏蔞茯苓山芋雞子治小便不利得山梔甘草蔥白燈草治溺血）</p>
<p>葶歷子　辛散苦瀉性寒急利破堅逐邪癥瘕積聚（水飲所結之疾）除胸中痰飲伏留咳嗽喘促（亦皆水氣之疾）散肺中水氣膹急（非此不能除也）壅塞氣秘（大泄陽分肺中氣閉）面目浮腫膀胱水氣實症能除虛人切忌（葶歷大黃皆大苦寒一泄血閉一泄氣秘大黃之瀉從中焦始葶歷之瀉從上焦始端瀉肺氣肺為水源故能瀉肺即能瀉水凡積聚寒熱從水氣來者此藥主之主治上氣水蓄得漢防己治陽水暴腫得棗治肺壅喘）</p>
<p>車前子　甘寒冷利利水通淋養肝明目益精強陰（令人有子）清肺肝之風熱滲膀胱之濕淫利水竅而固精尿管澀痛止瀉痢而清暑目赤腫疼（去翳臘腦痛泣出）收難產催生骨胎除濕痹止痛氣癃（濕必由膀胱而出下焦利則濕氣除得牛膝疏肝之性導引利水得兔絲子升清降濁能補虛明目）</p>
<p>孕婦熱淋車前子五兩葵根切一升煎服滑胎易產車前子為末酒服水亦可陰下癢痛車前子煮汁頻洗</p>
<p>連翹　味苦而辛瀉心經之客熱氣薄而涼除脾胃之濕熱氣分鬱火肝家留黨政軍利水通經治瘡瘍癭瘤結核（皆肝經熱結之症為十二經瘡家之聖藥）殺蟲消腫散諸經血凝氣結（功端瀉心與小腸之熱得瞿麥大黃甘草治項邊馬刀得脂麻治瘰癧結核）</p>
<p>萹蓄　殺三蟲利小便黃疸熱淋療陰蝕蛔咬痛疥搔浸淫（得醋治蛔咬心痛）</p>
<p>白蒺藜　辛散苦泄疾於通利宣行惡血破症積聚散肝經之風目赤翳疼除身體之癢乳癰喉痹頭瘡陰潰奔豚腎氣催生墮胎明目消痔（得雞子油治偏枯神效得貝母下死胎得當歸通月事）</p>
<p>治聾用白蒺藜炒去刺為末蜜丸空心服三錢</p>
<p>沙苑蒺藜　質細色綠端入腎經強陰補腎腰痛遣精（得魚鰾能聚精氣）</p>
<p>海金沙　甘寒淡滲通利小腸膀胱濕熱傷寒熱狂五淋莖痛腫滿脾殃（得臈茶治小便不通得滑石治膏淋如油得白朮黑牽牛治脾濕腫滿）</p>
<p>大黃　性味苦寒能傷元氣直走不守峻烈猛利瀉血中之伏火吐衄通經奪土鬱以宣通留飲宿食心腹痞滿癥瘕積聚湯滌腸胃端除燥結結痰推陳致新（腹中飲食之積無不除之）能下瘀血血閉（除血中熱結之滯）溫熱譫狂疸黃瘧痢二便不通腹痛裡急有形之滯可投無形之氣宜避（大黃極滋潤達下得土之正色故能入腸胃之中攻滌其凝結之邪而使之下　降乃驅逐停滯之良藥也得紫　石英桃仁療女人血閉得黃連治傷寒痞滿得杏仁療傷損惡血）</p>
<p>吐血衄血治心氣不足吐血衄者瀉心汽主之大黃二兩黃連黃芩各一兩煎服</p>
<p>婦人嫁痛小戶腫痛也大黃一兩酒煮一沸頓服之</p>
<p>濕熱眩暈不可當者酒炒大黃為末茶清服風牙蟲痛齦恆出血漸至崩落口臭大黃米泔浸軟生地黃各切一片合定貼上一夜即愈</p>
<p>湯火傷灼大黃研蜜調塗之</p>
<p>大戟　苦寒下走肝腎小毒損泄肺真利便行瘀通經墮孕端逐十二種水腹滿急痛能瀉臟腑濕熱風毒癮疹（煮水日日熱淋取愈得甘遂白芥子療水氣脹滿得乾薑治水腫喘急）</p>
<p>甘遂　苦寒有毒攻決為能瀉腎經隊道水濕直透達所結水形（水結胸中非此不除）為下水之要藥從穀道以通行囊腫腳氣痰飲疝症大實大水暫用脾虛氣虛急停（得大面治膜外之水氣）</p>
<p>心下留飲堅滿脈伏其人慾自利反快甘遂半夏芍藥甘草煎服</p>
<p>婦人血結婦人少腹滿如墩狀小便微艱而不渴此為水與血俱結在血室大黃二兩甘遂阿膠各一兩水煎服</p>
<p>常山　辛散苦泄故善逐飲劫痰陰毒暴悍乃能破瘴截瘧易損真氣引吐行水有功用得其宜（治瘧須在發散表邪及提出陽分之後也）黃涎結聚亦效（得知貝母治諸瘧得丹砂能劫瘧得檳榔草葉果治瘴瘧得甘草治肺瘧得豆豉鳥梅竹葉治腎瘧得小麥淡竹葉治溫瘧得黃連治三十年瘧）</p>
<p>今人治瘧不用常山以為截瘧藥截之早恐成鼓脹豈知常山乃治瘧之要藥三陽輕淺之瘧不必用也若太陰脾土虛寒而為脾寒之瘧及間二日發而為三陰之瘧必須溫補之劑佐以常山方能從陰出陽散寒止瘧</p>
<p>附子　辛溫有毒大熱純陽浮中有沉走而不守補下焦之陽虛溫脾暖胃除臟腑之寒冷（一切沉寒痼冷之症）堅骨強陰用壯元陽元火能散陰濕陰寒風寒咳逆邪氣（寒邪逆在上焦）腰膝痿躄拘攣（寒邪之在下焦筋骨間者）除毒腹痛冷痢疝疼三陰中寒四肢逆冷墮胎最速孕婦莫嘗督脈為病脊強而厥入三焦溫補命門引諸藥通行經絡能引補氣藥以復散失之元陽引補血藥以滋不足之真陰引發散藥開腠理以逐在表之風寒引溫暖藥達下焦以祛在裡之寒濕用之於火盛水虧須防水涸用之於陰盛陽微可賴陽回要知熟則峻補熟附配麻黃髮中有補生則發散生附配乾薑補中有散（得人參能留虛陽得熟地能固元陽）</p>
<p>陰盛格陽傷寒陰盛格陽其入必燥熱而不飲水脈沉手足厥逆者是此症也霹靂散用大附子一枚燒存性為末蜜水調服迫散寒氣然後熱氣上行而汗出乃愈</p>
<p>陰毒傷寒房後傷寒少腹疼痛頭疼腰重手足厥逆脈息沉細或作呃逆並宜退陰散用川鳥頭乾薑炒冷為散服一錢水一盞鹽一撮煎服得汗解</p>
<p>白附子　辛溫有毒性燥而升能引藥勢上行祛治面上百病（此陽明經藥陽明之脈營於面故能去頭面之遊風皯瘕疵）諸風冷氣中風失音消痰燥濕陰下濕淫（癢也陰虛類中慢脾驚風勿用）</p>
<p>中風口喎半身　不遂用牽正散白附子殭蠶全蠍生研為末服二錢酒調服小兒暑毒入心痰塞心孔昏迷搐搦此乃危急之症用三生丸白附子天南星關夏等分研豬膽汁丸粟米大薄荷湯下</p>
<p>南星　味辛而苦治風散血氣溫血燥勝濕除痰性緊而毒攻積拔腫補肝之虛驚癇風眩太陰脾肺經藥端主經絡風痰筋脈拘攣牙關緊閉利水墮胎破結下氣金瘡折傷搗折傷搗數蛇蟲咬毒調治用牛膽制則不燥且有益肝膽之功（得生薑天麻治吐瀉慢驚得防風治跌撲金刃得琥珀原砂治痰迷心風痰頭暈目眩吐逆煩懣飲食不下玉壺丸南星半夏天麻白麵糊丸薑湯下</p>
<p>解頤脫臼不能收上用南星末薑汁調塗兩頰一夜即止</p>
<p>半夏　辛溫有毒能走能散體滑性燥能潤和胃脾補肝潤腎入手少陰少陽兼足陽明太陰傷寒熱（寒熱之在肺胃間也）心下急痛痞堅（辛能開肺降逆）咽痛喉疼痰厥頭痛眩暈（開降上焦之火）止吐嘔下逆氣利水道發聲音又能除濕化痰發表開鬱目不得瞑反胃瘧疾血家渴家汗家常禁陰虛痰症妊婦宜忌（得醋製再得茯苓甘草治伏暑引飲得黃連瓜蔞實治結胸得硫黃治老人虛秘得牡蠣豬苓治無管攝之遺濁）胃氣行於陽陽氣滿不得入於陰陰氣虛故目不得瞑治法飲以半夏湯一劑陰陽即通其臥立至半夏秫米煎服</p>
<p>射干　苦能降火火降則血散腫消寒能勝熱熱除消痰破結（消結核瘕疝便毒）行太厥之積痰清心脾之老血喉痹咽痛為上藥咳逆上氣能下泄治瘧母利大腸除氣臭（咳吐言語氣臭）通不月（通女人月秘得麻黃五味甘草杏仁治喉中水雞聲）</p>
<p>喉痹不通用射干一錢黃芩生甘草桔梗各五分為末水調頓服名奪命散</p>
<p>芫花　味辛而苦氣溫有毒能達水飲巢囊隱僻療五水在五臟皮膚咳喘兩脅痛滿胸膈痰沫善吐誤用招殃取效亦速</p>
<p>兔絲子　稟中和之性溫而不燥凝正陽之氣補而不滯培補腎中元陽不助相火能令脾虛食進如湯沃雪至若補髓添精益氣強力莖中寒精自出小便溺有餘瀝鬼交尿血健骨強筋明目祛風（補肝臟風虛）暖腰溫膝（去腰疼膝冷）治燥渴續絕傷去面□悅顏色（得茯芩廣連治白濁遺精得麥冬赤濁得牛膝治腰腳痛得車前子治產難橫生）</p>
<p>五味子　五味俱備酸鹹氣溫滋腎經不足之水斂肺耗散之金益氣止汗澀精強陰補虛勞之羸瘦收散大之瞳神明目往瀉止渴生津定喘嗽先散肺邪（有外邪者不可驟用以閉邪氣必先發散而後用之）暖水藏納氣歸腎（得半夏治痰得阿膠定喘得吳蔞茱治五更腎泄）</p>
<p>徐注古方治漱五味乾薑必同用如小青龍湯沼水停心下寒飲犯肺一以散寒邪一以斂正氣逆無單用五味治嗽之法後人不知用必有害況傷熱勞層火嗆與寒飲犯肺之症又大不同乃獨用五味收斂風火痰涎深入肺臟永難救療矣</p>
<p>覆盆子　甘酸微溫性稟和平溫腎而不燥固精而不凝補虛續絕益氣添精他如補肝而明目益腎臟以健陽小便能縮陰痿能強女人多服結妊男子閉蟄封藏（得巴戟天膃肭臍補骨脂鹿茸膠山萸肉蓯蓉治陽虛陰痿臨房不舉精寒精薄）</p>
<p>使君子　殺蟲療五疳甘溫健脾胃小便白濁虛熱瀉痢（得蘆會治疳熱）</p>
<p>馬兜鈴　苦能清肺降氣故喘嗽可平寒能瀉熱除痰故痔瘻亦用（血痔瘻瘡本肺大腸經藥藏熱降腑熱亦清矣得甘草治肺氣喘急）</p>
<p>牽牛　辛熱有毒大瀉元氣黑者入腎（右腎）白者入肺通下焦之郁遏走命門於精隊消痰逐水瀉氣分之濕邪熱邪利便墮胎除大腸之風閉氣秘病在血分莫投胃氣虛弱最忌得（得茴香治水飲痛得大黃治馬脾風病）</p>
<p>時珍曰治外甥柳喬素多酒色病下極脹痛二便不通不能坐臥七晝夜醫用利藥不效予思經乃濕熱之邪在精道壅脹隊路病在二陰之間故前阻小便後阻大便病不在大腸膀胱也乃用川楝子茴香山甲焙黑醜水煎服一服減三服而平牽牛能達右腎命門走精隊也</p>
<p>括蔞　甘能補肺用清上焦火迫潤能降氣可使痰結下行盪滌胸中垢膩咳嗽要藥開除膈間痹結（仲景治胸痹引心背咳吐喘息又治結胸滿痛）咽喉利清消腫通乳止渴津生（得文蛤治痰嗽得杏仁鳥梅治肺痿咳血）咽喉腫痛語聲不出用發聲散括蔞皮殭蠶甘草炒二錢半為末薑湯下</p>
<p>天花粉　（即瓜蔞根）酸寒生津甘不傷胃潤心中枯涸煩渴（古方多治消渴）降膈上燥熱稠痰熱狂時疾胃熱膽黃兼施消瘀排膿腫毒癰瘍皆治（得人參麥科治消渴飲水）</p>
<p>小兒囊腫天花粉一兩炙甘草一錢半水煎服</p>
<p>葛根　辛甘氣平輕揚升發端入陽明胃氣上行生津止渴兼走太陰脾經解其肌表中熱開腠發汗為脾胃虛弱泄瀉之要藥乃傷寒中風頭痛之兼方散火鬱能解酒毒起陰氣開發疹瘡（升散太過多用反傷胃氣得香豉治傷寒頭痛得粟米治小兒熱渴）</p>
<p>金瘡中風痓強欲死生葛根四兩煎服仍以此及竹瀝多服取效灑醉不醒生葛根汁飲之即醒</p>
<p>仲景葛要湯用葛根治太陽經脈之病而非陽明之主藥也但色白味辛可資陽明之燥是從陽明而達太陽與柴胡之從少陽而達太陽其義一也</p>
<p>天門冬　苦泄滯血甘助元氣寒能清熱降火益水氣之上源（人肺經治肺熱之功為多）滑則潤燥滋陰通腎氣於下部（故治足下熱痛骨痿）能消燥結之痰（腎主津液燥則弟而為痰得潤劑則痰化）痿（肺痿）癰（肺癰）喘嗽及治妄行之血吐衄勞傷保肺而血熱不侵滋水而母氣受益虛熱有火者神妙虛寒便滑者忌投（得熟地則入腎張三年獨用此二味一君使為長生不老方好古方曰得人能耐五味枸杞同為生脈之劑）</p>
<p>肺痿咳嗽吐涎沫心中溫溫燥而不渴生天冬汁一斗飴一斗紫苑四合煎服</p>
<p>口瘡連年不愈天麥二冬元參蜜丸彈子大每噙一丸</p>
<p>何首烏若堅腎（兼入腎經）溫補肝（端入肝經）澀以收斂精氣甘以益血祛風（能瀉肝風）添精髓而長筋骨令人有子（有補陽之力）烏鬚髮而消五痔帶下兼功（治婦人產及帶下俱疾）能消癰腫瘰癧可除頭面瘡攻（得當歸枸杞兔絲骨脂脂麻能固精延年得胡麻治大風厲疾）</p>
<p>綱目不言治瘧後人用之治瘧者多以其遂秋冬清燥之令而平暑濕留滯這邪也</p>
<p>萆薢　味苦入肝祛風性平入胃除濕補肝虛而堅筋骨明目益精固下焦以縮小便陰痿遺濁（能除濁分清古有萆薢分清飲）治風寒濕痹腰背冷痛逐關節久結老血惡瘡去膀胱宿水引水歸入大腸以通穀道止失瀝便頻便時時痛不可忍流入小腸（凡小便頻莖內痛必大腸熱閉水液只就小腸大腸愈加燥竭因強忍房事有瘀腐壅於下焦故痛與淋症澀痛不同宜鹽炒萆薢一兩煎服以蔥湯洗穀道則愈）既能逐水之功復有攝精之力（得杜仲治腳腰痹軟得石菖蒲益智仁治白濁頻數）</p>
<p>白濁頻數漩面如油澄下如膏乃真元不足下焦虛寒用萆薢分清飲萆薢菖蒲益智仁鳥藥等分鹽煎服</p>
<p>土茯苓　淡祛風濕甘健胃脾利筋骨之攣痛除濁分清治楊梅之惡瘡去濕化毒（得金銀花皂角子五加皮苦參治楊梅蒼毒）</p>
<p>搜風解毒湯治楊梅瘡筋骨攣癱瘓不能動履者土茯苓一兩苡仁銀花防風木瓜通白蘚皮各五分皂角莢子四分煎服</p>
<p>山豆根　苦泄熱保肺氣以瀉心寒勝熱降陰經之火逆解咽喉腫毒極妙祛大腸風熱兼良齦腫齒痛五痔諸瘡殺蟲解毒人馬急　黃</p>
<p>喉中發癰山豆根磨醋噙之追涎即愈</p>
<p>威靈仙　辛散諸風咸泄水濕性極善走（風藥中之善走者也）溫可橫行（能引諸藥橫行手臂）宣疏五臟內驅痰濕之冷積通行經絡外治山腳腠之痛風（痛風要藥）去膀胱宿膿惡水除腰膝冷痛痹頑（風痹濕痹肢節頑痲）瘧疾能療（去心膈之痰水）折傷亦效（得砂仁沙糖治骨鯁得木瓜治腰腳諸痛）</p>
<p>腳氣入腹脹悶喘急用靈仙末每服二錢酒下湧減一分即藥亦減一分腎臟風壅腰膝沉重威靈末蜜丸酒服八十丸平明微利惡物如青膿膠即是風毒積滯</p>
<p>飛絲纏陰腫痛欲斷用靈仙搗汁浸洗　立效</p>
<p>防己　辛苦而寒性險而健能和地十二經絡風水要藥（風腫水腫木防己主風邪漢防己主水氣症）端瀉下焦濕熱（本膀胱經藥濕熱之在下焦血分者非此不除若在上焦氣分者切不可用）二便不通（濕熱流入十二經致二陰不通者非此不可）風寒溫瘧熱邪膀胱積熱腳氣癰腫惡瘡通腠利竅　（得黃柏知母去焦濕腫木防己得防風葵子通小便淋澀）</p>
<p>皮水腐腫按之沒指不惡風水氣在皮膚中四肢聶聶動者防己三兩茯苓六兩甘草三兩黃耆桂枝各三兩水煎服</p>
<p>風水惡風汗出身重脈浮防己湯主之防己一兩黃耆二兩二錢半白朮七錢炙甘半兩銼散薑棗煎服如腹痛加赤芍風溫相搏關節沉痛微腫惡風方用同上</p>
<p>注防己茯苓善驅水氣桂枝得茯苓則不發表現時及行水且合黃耆甘草助表中之氣以行防茯苓之力也</p>
<p>木通　味淡體累通可去滯上通心胞清肺熱而瀉心火下走膀胱去濕熱而化當液（津液化則水道通使濕熱由小便出）療脾膽欲眠心煩利九竅　血脈關節故治耳聾鼻塞　出音又能止渴安心退熱淋瀝水腫瀉小腸之火邪喉痹咽疼（宜濃煎噙）利膀胱之水結催生下　包通乳破血</p>
<p>心熱尿赤面赤唇乾咬牙口渴導赤散用木通生地生甘草等分加竹葉七片水煎服]</p>
<p>通草　氣寒入肺引熱下　和地而　利小便（氣寒則降）味淡入胃通氣上達而下乳汁（味淡則升）能退熱明目催生治五淋水腫癃閉（得琥珀茯苓瀉火利水）</p>
<p>鉤藤　微苦味甘微寒氣平主肝風相火之病為靜風息火之能大人頭旋目眩小兒瘛瘲癇驚（筋急而縮為瘛筋緩而弛為瘲伸縮不已為瘛瘲俗謂之搐搦是也）平肝風而不燥除心熱之未清（得甘草治癇疾得紫草發斑疹）</p>
<p>金銀花　經冬不凋甘寒入肺補虛療風解毒散熱能治五種屍注鬼擊身　青（作痛用銀花一兩水煎服）消拔癰疽惡瘡身腫腹脹血痢水皆除風氣淫氣並治（得當歸治熱毒血痢）</p>
<p>金銀花乃宣通經脈之藥也一本之中花有黃白氣甚芳香黃者走血白者走氣又調和血氣之藥也通經脈而調氣血何病不宜</p>
<p>天仙藤　解風勞疏氣活血治腹痛妊娠水腫（始自兩足漸至喘悶似水足趾出水謂之子氣乃婦人素有風氣或衝任有血風不可作水妄投湯藥宜天仙藤散主之天仙藤香附陳皮甘草鳥藥姜木瓜蘇葉煎服得羌活白朮白芷片子薑黃半夏生薑治痰注臂痛有效）</p>
<p>澤瀉　甘淡利小便鹹寒入膀胱瀉腎經之火邪泄精尿血逐三焦之停水痰飲吐嘔除濕止渴聖藥通淋利水仙丹去陰汗瀉痢腫脹消痞滿腳氣疝疼謂淫熱既盡清氣上行故有養益之功（本經謂養五臟益氣力肥健耳目聰明）得收明目之效（徐云通利脾胃之藥能　利土中之水水去則土燥而氣充）得白朮治支飲得麋愈治酒風）</p>
<p>水淫腫脹用白朮澤瀉各一兩為末或為丸每服三錢茯苓湯下冒暑霍亂小便不利頭暈引飲三白散用澤瀉白朮白雲苓各三錢姜五片燈心十節煎服</p>
<p>澤瀉能行水上滋水氣必上行而後下降非端利小便也令人不明經義謂昏目不可用豈知五苓散用澤瀉治消渴小便不利以行水上滋故治消渴水氣上而始下故利小便猶木通之橫通旁達則小便自利二者皆非下行之藥也</p>
<p>石菖浦　辛苦而溫芳香而散（通利心脾良藥）補肝益心開孔利竅　（開心孔　利九竅）去淫逐風（本經治風寒淫痹）除痰消積解煩悶止腹痛霍亂轉筋明耳目出音聲上氣咳逆（痰淫壅滯之咳逆）小便不禁溫水臟之虛寒胎漏崩中暖血海之冷敗噤口毒痢堪除（噤口雖屬脾虛亦熱閉胸膈所致用木香失之溫山藥失之閉唯參苓白朮散加菖蒲米飲下胸次一開自然思食）卒死中惡得犀角生地連翹治熱邪入絡神昏因是仙家服食故本經周顛仙對明太祖恆嚼菖蒲飲水服無腹痛之疾</p>
<p>卒患　心痛嚼二三寸熱湯或酒送下亦效</p>
<p>蜀人治心腹冷氣搊痛者取一二寸槌碎同吳萸煎湯飲之</p>
<p>蒲黃　味甘氣平入厥陰兩經活涼血止心腹諸痛生則性滑破瘀血之停積熱則性澀（宜炒黑用）止吐衄與血崩（得五靈脂治心腹諸痛得青黛治重舌脹滿　）</p>
<p>舌脹滿口不能出聲以蒲黃頻摻乃愈</p>
<p>寧帝舌腫滿口用蒲黃乾薑末和等分乾摻而愈</p>
<p>包衣不下蒲貢二錢井水服之</p>
<p>海藻　咸潤下而軟堅寒行水以泄熱（本經治腹中上下雷鳴下十二種水）</p>
<p>消癭瘤結核疝瘕療飲痰噎膈腳氣（得昆布治癭氣結核）海帶昆布功用皆同</p>
<p>蛇盤瘰癧頭項交接者海藻菜以蕎麥炒過白殭蠶炒等分為末以白梅泡湯和丸梧子大每服六十丸米飲下必泄出毒氣乃愈</p>
<p>石斛　甘淡鎮涎除虛熱（胃中虛熱有功）鹹平補腎澀元氣強陰益精（端補脾陰）卻驚定志壯筋骨而補勞暖水臟而和胃氣逐皮膚浮熱退熱斂陰（不寒而能退熱不澀而能斂陰）治吐衄虛煩除煩清肺囊淫小便瀝余腳弱骨痛冷痹（腳膝疼冷痹弱逐皮肌風痹骨中久疼得生薑治囊淫精清小便餘瀝）</p>
<p>睫毛倒入石斛川芎等分為末口內含水隨左右畜鼻日二次</p>
<p>骨碎補（苦溫）入腎治牙痛耳鳴腎虛久瀉入陰（心包肝）能破血止血筋骨損傷（得釺腎治久泄瀉不止得獨活寄生虎骨治痢後下虛兩足痿痹遂成痢風）</p>
<p>風蟲牙痛骨碎補乳香等分為末糊丸塞孔中名金針丸</p>
<p>馬勃　輕虛清肺辛平解熱（解毒）散熱止嗽內治喉痹有功衄血失音外敷諸瘡皆效（得牛蒡子連翹元參治溫毒發頤）</p>
<p>治走馬喉痹馬勃為末吹一字吐涎血愈</p>
<p>柏子仁　潤堪益腎甘善助脾（其氣清香）入心養神入肝定志潤腎燥而滋肝舒脾胃而益氣風濕可除驚悸能理（清心經之遊火）耳目聰明肌膚澤美（得遠志能交通心腎得松子麻仁治老人虛秘）</p>
<p>側　柏葉　（苦微辛）稟競金之氣向西而生制肝木之威補陰滋肺（昂謂最清血分為補陰之要藥也）故止吐衄崩淋尿血痢血兼療濕痹冷風疼痛歷搗塗湯火泡傷炙奄凍瘡龜裂（生用清熱血炒炙養陰敵國得阿膠乾薑馬通仲景柏葉湯治吐血不止）</p>
<p>吐血不止柏葉米飲下二錢或水煎服</p>
<p>小便尿血柏葉黃連焙研酒服三錢</p>
<p>月水不斷柏葉炙白芍等分三錢水酒各半煎服</p>
<p>湯火燒灼柏葉生搗塗之系定二三日止痛減瘢</p>
<p>肉桂　辛甘大熱有鼓舞氣血之能氣厚鈍陽具先聘導引之務（疏血通脈宣導百藥）利肺平肝直入肝腎血分益陽消陰大補命門真火抑肝風而扶脾土通月閉而墮胞胎除腰膝之沉冷暖臟溫中去營衛之風寒表虛自汗治風脾骨節攣縮消惡血痃癖下部腹痛（非此不除）九種心痛必需疝氣奔豚失音喉痹並治（得紫　石英柴胡乾地黃療吐逆）</p>
<p>九種心痛用桂心二　錢半為末酒一盞半煎服立效</p>
<p>心腹脹痛中惡心痛氣短欲絕桂二兩水煎服</p>
<p>寒疝心痛四肢逆冷全不飲食桂心研末一錢熟酒調下取效</p>
<p>產後心痛惡血衝心氣悶欲紅外線佳心為末狗膽汁芡子大每熟服一丸</p>
<p>的後瘕痛桂末酒服方寸二取效死胎不下桂末二錢侍痛緊時童小便溫熱調下名觀音救生散亦治產難橫生加麝香少許酒下</p>
<p>桂枝　辛甘發散味薄體輕利肺氣入膀胱開腠理和營衛通脈溫經解肌發汗故治頭痛傷風中風自汗（無汗能發有汗能使邪從汗出自止）內理心腹之痛（心痛脅痛）外解皮膚之寒（冷風冷痛風濕之症）直行而泄奔豚散下焦畜血橫行而達指臂療四肢通風（得芍藥甘草能和營衛）</p>
<p>小兒遣尿桂末雄雞肝等分搗丸小豆大水調下日二服</p>
<p>辛荑　辛溫端散肺經風熱移於腦（經云膽移熱於腦則為辛安鼻淵）輕浮能助胃中清陽上通於天用治鼻淵鼻塞鼻瘡九竅　通利能理頭眩頭痛面腫齒疼（徐云芳香清烈能驅逐邪風頭目之病藥不能能盡達者此為之引也得川芎薄荷細辛石羔治鼻塞流清涕不聞香臭）</p>
<p>辛荑丸治頭風鼻涕下如白帶者南星半夏蒼朮黃芩辛荑川芎黃柏滑石牡蠣為末糊丸薄荷湯下</p>
<p>沉香　（辛苦溫）升於至高可調脾胃沉於至下入腎命門行氣不傷氣故能調中下氣而墜痰涎溫中不助火故能益精壯陽而暖腰膝風水毒腫心腹疼痛堪除噤口毒　痢吐瀉轉筋並效大腸虛閉小便氣淋為理氣之要藥（冷氣逆氣鬱氣邪惡鬼氣乃保和衛氣上品之藥也）隨升降而歸真（用之為使上可至天下可至泉得紫蘇白蔻仁柿蒂胃冷久呃得肉蓯蓉治大腸虛心神不足火不升健忘驚悸朱雀丸用沉香五錢茯神二兩蜜丸小豆大每食後人參湯服三十丸</p>
<p>胞轉不通非小腸膀胱厥陰病乃強忍房事或過忍小便所致調其氣則愈非利藥可通也沉香木香為末白湯空腹服之以通為度</p>
<p>丁香　辛理元氣而泄肺溫助脾胃而祛寒大能療腎壯陽端治胃冷呃忒霍亂擁脹嘔噦腹疼腎氣奔豚口臭齒䘌（得甘蔗汁生薑治朝食暮吐得柿蒂治傷寒呃逆得五味子廣茂治奔豚氣）</p>
<p>嬰兒吐乳小兒百日啐內吐乳或糞青色乳汁一杯入丁香陳皮煎服</p>
<p>小兒冷疳面黃腹大即吐者丁香為末和乳汁薑湯服</p>
<p>乳頭裂破丁香末敷之</p>
<p>癰疽惡肉丁香末傅之外以膏藥護之</p>
<p>降真香　味辛氣溫色赤和血能闢天行惡氣不祥可除胸膈停積惡血治金瘡血出不止而生肌療內傷怒氣傷肝而吐血（用此以代鬱金神效得牛膝生地治吐瘀血）</p>
<p>鳥藥　辛入脾肺溫通腎經能疏胸腹邪逆諸氣（治中氣腳氣疝氣氣厥降一切療氣調衝任二脈順氣消風（故治中風中氣用鳥藥順氣散　氣順則風消）並理膀胱腎間冷氣攻衝背膂（用鳥沉丸）小便頻數宿食不消女人血氣凝滯小兒腹中諸蛔中惡心腹絞痛反胃瀉痢兼療（得益智治小便頻數得升麻治小腸疝氣得牛皮膠軟白香治妊中有癰）</p>
<p>一切氣痛不拘男女冷氣肥氣息賁氣伏梁氣奔豚氣搶心一切冷汗喘息欲絕鳥藥酒炒茴香炒良薑炒等分為末溫酒童便調服</p>
<p>鳥沉湯一切氣一切冷氣鳥藥一兩沉香五錢人能耐三錢甘草四錢共為末每服半錢薑湯下</p>
<p>黃柏　苦寒微辛沉陰下降除濕清熱瀉相火之有餘堅腎燥救　腎水之不足洗肝明目勞熱骨蒸除熱結腸胃熱痢下血腸風清火伏陰中火噦二便淋結上可解消渴耳鳴赤喉痹口瘡（兼瀉心火）下可去痿蹷腸痔膽黃下漏赤白（皆陽明表裡上下所生濕熱之病）衝脈氣逆（衝脈為病氣逆急里）不渴而小便不通（渴而小便不利者病在上焦氣分宜豬苓澤瀉淡滲之藥瀉肝火而清肺金不渴而小便不利者是無陰則陽無以化宜黃柏知母少加肉桂則氣化而出）蛔蟲內攻諸瘡之痛癢皆妙實火熱相宜胃虛尺弱被害（得知母滋陰降火得蒼朮除濕清熱為治痿之要藥得細辛瀉膀胱火治口舌生瘡得肉桂治咽痛）</p>
<p>赤白濁淫及夢泄精滑真珠粉丸黃柏炒真蛤粉積壓一斤為末　每服一百丸空心酒服黃柏苦而降火蛤粉咸而補腎也</p>
<p>積熱夢遺心忪恍惚膈中有熱宜清心丸主之黃柏末一兩片腦一錢蜜丸梧子大每服十五丸麥冬湯下</p>
<p>小兒重舌浸苦竹瀝點之</p>
<p>口舌生瘡用黃柏含之良</p>
<p>厚朴　苦降瀉實滿平胃調中（本脾胃藥）辛溫散濕滿消痰化食止反胃嘔逆吐酸除霍亂轉筋瀉痢濕氣侵脾能和中州客犯胃善走冷氣（治冷痛主病人虛而尿白）肺脹喘嗽結水能消腹中雷鳴（破宿血）妊婦則忌（得　蒼朮治濕滿得黃連治滯下得杏仁能下氣定喘）</p>
<p>腹脹脈數厚朴三物湯厚朴枳實大黃枳殼肉桂薑棗尿渾白濁心脾不調腎氣濁厚朴茯苓水酒各半煎服</p>
<p>杜仲　色紫入肝潤肝燥補肝虛甘溫補腎益精氣堅筋骨用治腰膝痠疼（及腳痛不能踐地）能使筋骨相著止不便餘瀝（緊溺管之氣）陰囊濕癢（補脾利濕）療頻慣墮胎懷妊下漏（得補骨脂青鹽枸杞能壯腎陽得羊腎治腎虛腰痛）</p>
<p>腎虛腳軟且痛杜仲　一味水酒　各半煎服</p>
<p>病　後虛汗及目中流汁杜仲牡蠣煎服</p>
<p>頻慣墮胎或三四月即下者杜仲糯米山藥棗肉丸服</p>
<p>海桐皮　濕可祛風苦堪去濕行經絡達病所入血分治風痹（治蹶腰膝不遂血脈頑痹）除疳䘌疥癬牙蟲止霍亂赤白久痢</p>
<p>腰膝痛不可忍海桐皮二兩牛膝川芎羌活地骨皮五加皮各一兩甘草五錢苡仁二兩生地十兩共焙乾以綿包裹用酒二斗浸之日三服令醮醮此方不添減</p>
<p>川楝子　苦寒小毒陰中之陽能導小腸膀胱之熱因引心包相火下行（熱從小便而出）用治熱厥心腹諸痛（入心及小腸止上　下部腹痛熱厥暴痛非此不除）傷寒溫疫大熱煩狂療疝氣之要藥瀉濕熱而為良通利小腸水道可殺三蟲疥瘡</p>
<p>熱厥心痛忽發忽止身熱足冷久不愈者金鈴子散金鈴子延胡索溫酒下小兒冷疝氣痛囊腫金鈴子去核五錢吳萸二錢半糊丸鹽湯下</p>
<p>癩疝腫者偏墜痛不可忍種楝子破故紙小茴香萊菔子牽牛子食鹽炒煎服</p>
<p>槐實　（即槐角）苦寒純陰（入肝經之氣分）除熱散結（下通二府）潤肝燥涼大腸（上清肺心）止涎吐疏風熱煩悶風眩腸風痔血陰瘡濕癢難產墮胎（吞七粒可以摧生）黑髮殺蟲目泣不絕（得牛膽明目通神得苦參治內外痔病）瀉心火而兼清肺金堅腎水而兼靜肝火</p>
<p>槐角丸治五種腸風瀉血糞前有血名外痔糞後有血名內痔大腸不收名脫肛穀道四面弩肉如嬭名舉痔頭上有孔名瘻痔內有蟲名蟲痔並皆治之槐角去梗炒一兩地榆防風當歸黃芩枳殼　麩炒各半兩為末酒糊丸米飲下</p>
<p>槐花　（入陽明厥陰血分涼血要藥）涼大腸五痔心痛治目赤皮膚風熱喉痹失音（炒香嚼　咽）吐衄舌血（舌血謂之舌衄槐花末敷之即止）赤白瀉痢皆宜崩中漏下不歇（得鬱金治小便尿血得荊芥穗柏葉枳殼治大腸下血得山梔治酒毒下血得條芩治血崩不止得牡蠣治白帶不止）</p>
<p>癰疽發背凡人中熱毒眼花頭暈口乾舌苦心驚背熱中肢麻木覺有紅暈在背後者即取槐花子一大撮鐵杓炒褐色以好酒一碗汗之乘熱飲酒汗即愈如未退再炒一服極效從縱成膿者亦無不愈</p>
<p>秦皮　味苦氣寒煞費苦色青性澀入肝以除熱入腎以澀氣洗肝明目僧精有子（取其澀而能補也）故治青白翳膜遮睛（亦止目泣煎水澄清亦目極效）風寒濕邪成痹風熱驚癇（取其平木也）帶下熱痢（取其收澀也得黃連阿膠白頭翁治產後下痢得黃柏黃連白頭翁治脅熱下痢）</p>
<p>赤眼生翳秦皮滑石黃連等分澄清洗</p>
<p>眼弦挑針乃肝脾積熱銼秦皮夾沙糖水煎調大黃末一錢微利佳</p>
<p>桑白皮（微寒）甘助元氣而補勞祛虛羸辛瀉肺金而止喘嗽吐血（斂肅清之氣為清肺主藥肺氣有餘者之肺虛者忌用）下氣行水（抑已亢之火氛高源之水）止渴消痰去肺中水氣浮腫腹滿臚脹（錢乙治肺氣咳喘面腫身熱用瀉白散）退客熱虛勞頭疼利便散血（風寒咳嗽者慎治得茯芩利水得糯米治咳嗽吐血）</p>
<p>小兒重舌桑白皮煮汁塗乳上飲之</p>
<p>小兒流涎脾熱鵬膈有痰桑白皮搗自然汁塗之</p>
<p>小兒火丹桑皮煮汁浴之</p>
<p>瀉白散桑白皮地骨皮能瀉火　從小便出甘草瀉火而緩中糯米清肺而養血此瀉肺諸方之准肺諸方之準繩也</p>
<p>桑葉　清肺斂神涼血燥濕（能除水腫腳氣）明目去風赤眼下泣除寒熱風痛出汗盜汗尤宜治勞熱咳嗽吐血宿血能理（得麥冬治勞熱得生地阿膠石羔枇杷葉治肺燥咳血）</p>
<p>桑葉代茶能止消渴</p>
<p>吐血不止晚桑葉焙研涼茶服三錢只一服止後用補肝肺藥</p>
<p>桑枝　利水開關祛風痹（能利在關節風寒濕痹）上氣眼暈肺氣喘嗽腳痛四肢拘攣（水氣腳氣風熱臂痛）風癢偏體乾燥（得桂枝治肩臂痹痛）風熱臂痛桑枝炒煎服許叔微云常病痹痛諸藥不效服此數劑尋愈</p>
<p>水氣腳桑條二兩炒煎服取效</p>
<p>桑寄生　苦堅腎助筋骨而固齒長髮甘益主崩漏而下乳安胎（懷妊漏血不止令胎牢固）風攣濕痹腰痛背強產後余疾女子內傷</p>
<p>素養痢膿血六脈微小並無寒熱寄生二兩防風川芎二　錢半炙少煎服胎動腹痛寄生一兩半阿膠炒半兩煎服</p>
<p>枳實　苦酸微寒氣猛性烈主皮膚風癢去胃中濕熱心腹痞滿脹開宿食稠痰積血脅風現時痛心下堅大如盤（水飲所結仲景用枳朮丸白朮枳實荷葉煨飯為丸）胸痹不通傷寒痞痛凝結有滑竅破氣之　功具倒壁沖牆之捷（得痹結胸胸痹心下痞堅留氣結胸脅下逆氣搶心枳實韭白湯主之枳實厚朴韭白栝蔞桂煎服</p>
<p>產後腹痛炒枳實炒芍藥二錢水煎服</p>
<p>婦人陰腫堅痛枳實碎炒帛里熨之冷即易</p>
<p>枳殼　性緩而散破氣為功寬暢安胃泄肺開胸風痰咳嗽胸脅刺消脹滿積痰停水除後重痔疾腸風風疹作癢胎前氣壅（得桔梗治痞得甘草治婦人體肥難產得木香治傷寒呃噫得黃連治腸風下血）</p>
<p>懷胎腹痛枳殼黃芩煎服若身重加白朮脅骨疼因驚傷肝者枳　殼桂枝薑棗服</p>
<p>小兒軟節大枳殼一枚去白磨口平以麵糊抹疥上自出膿血盡更無痕也</p>
<p>產後腸出不收枳殼煎浸之良久即入也</p>
<p>古云殼治氣而主高實治血而主下氣在胸中則用殼氣在胸下則用實殼寬腸胃實寬胸膈雖有高下氣血之分究皆破氣之品殼損胸中至高之氣不可多用若肺虛而中氣不足脾　虛不能運化者則愈用愈變不可言矣</p>
<p>梔子　輕飄象肺苦寒入心瀉心肺之邪熱屈曲下行而從小便出（所以通五淋利小便）退客熱之虛煩反復不眠而懊惱在心三焦鬱火以解熱厥心痛以平五內邪氣（熱邪之氣）五種疸黃清胃脘之血吐衄而血痢血淋泄痞塊中火津枯而口渴　目赤寒傷勞復熱厥頭痛皆除時疾毒風（元素云治風）面赤鼻皺並治（仲景治煩中並虛煩不眠心中懊惱皆用梔子豉湯以梔子治肺煩香豉治腎燥又仲景治腎發黃用梔子茵陳甘草豉作湯飲得川鳥治冷熱腹痛得良薑治痢後腹中虛痛</p>
<p>婦人胎腫屬濕熱也梔子一合炒研每服二三錢米飲下</p>
<p>鼻中衄血梔子燒灰吹之</p>
<p>血淋澀痛梔子末滑石等分蔥湯下</p>
<p>酒毒下血梔子焙研新汲水服熱病食後及交接後發動欲死不語梔子炒煎服令微汗</p>
<p>大病勞復梔子鼠矢等湯利小便而愈</p>
<p>鼻上酒渣梔子炒研黃臘和丸細茶下忌酒面煎炙</p>
<p>酸棗仁　甘酸而潤端益肝膽芳香之氣能醒心脾補中而斂神魂（心藏神肝藏魂）助陰而堅筋骨除煩止渴斂汗寧心生則能導虛熱膽熱好眠熟則收斂陰津　膽虛不睡心腹寒熱結聚（邪強氣聚）四肢淫痹痠疼筋骨間風上下臍痛（得人參茯苓治盜汗得辰砂乳香治膽虛不寐）</p>
<p>振悸不眠酸棗仁湯知母乾薑茯苓炙草川煎服</p>
<p>山朱萸　酸以補腎溫肝澀則固精閉氣溫可強陰助陽辛逐風寒濕痹（肝虛則風入肝寒則寒與濕易易犯）通九竅以安五臟暖腰膝而添精髓鳴小便不節（得熟地補腎虛得五味攝精氣）</p>
<p>草還丹益元陽補元固元精壯元神乃延年續嗣之至藥也山朱萸破故紙當歸麝香為末蜜丸臨臥時鹽湯下</p>
<p>金櫻子　（酸澀）脾瀉下痢止便澀精（得芡實能固精得縮砂能益精）</p>
<p>郁李仁　辛能破血潤燥苦堪下氣行水治大腸氣行水治大腸氣滯關格不通主大腹水腫小便不利　散膽結而瞑目但治標而耗津（得滑石大黃治小兒大小便不通並驚熱痰實欲得濡動者　搗和丸黍米大二歲小兒三丸白湯下）</p>
<p>一婦人大恐而病愈後目張不瞑錢乙曰目系內連肝膽恐則氣結膽橫不下郁李仁潤能散結隨酒入膽結去膽下而目瞑矣</p>
<p>女貞子　（苦平）少陰之精隆冬不凋（堅補腎水腎家端藥）益肝腎養精神安五臟　健腰膝補百病之風虛變白髮而為黑</p>
<p>南燭子　（酸甘平）強筋骨益氣力（補腎瀉腎邪暖命門）止泄除睡固精駐顏</p>
<p>五加皮　辛順氣而化痰苦堅骨而益精祛風勝濕五緩虛羸（五臟筋脈緩縱亦治五勞七傷）療筋骨之拘攣四肢不遂皮膚之瘀血三歲莫行（本經治小兒三歲不能行）心腹疝腰　兩腳諸痛風濕痿痹在　氣而成男子陰痿囊濕女人陰癢蟲生（燥濕行水之　功釀酒最凡藤蔓之類多能舒筋而根皮之類多能行水五加皮之莖堅勁引其根好生石砌尤能入堅穴通關節無所不達故為風痹濕痹之良藥也）</p>
<p>治濕熱痿痹腰膝不能動五加皮牛膝木瓜黃柏苡仁生地石斛虎脛骨山藥又治腎虛寒濕客忤腰痛五加皮續斷杜仲牛膝山萸肉巴戟天破故紙男婦腳氣骨節皮膚痛腫服此進食健氣力不忘事名五加皮遠志糊丸空心溫酒下</p>
<p>婦人血勞憔悴困倦喘滿虛煩噙噙少氣發熱汗多口乾舌澀不思飲食名血風勞油煎散五加皮丹皮赤芍當歸為末煎服</p>
<p>虛勞不足五加皮地骨皮釀酒任飲</p>
<p>枸杞子　性滋而補甘平而潤堅腎滋肝益氣潤肺生精助陽去風明目強筋骨而補虛勞治咽乾而療心痛腎病消中（渴而飲水）二便能利（能利大小腸得生地治帶下脈數得青鹽川椒治　肝虛目暗）</p>
<p>虛勞客熱枸杞子浸酒飲之</p>
<p>腎虛腰痛枸杞子杜仲萆薢酒煎</p>
<p>地骨皮（甘淡而寒）降肺中伏火瀉肝腎虛熱能涼血而補正氣解消渴而去腎風退內外潮熱利大小二腸在表無定之風邪傅屍有汗之骨蒸勞熱虛汗吐血咳嗽咸宜脅痛頭風齒血金瘡皆驗（小兒耳後腎疳也地骨皮湯洗用香油調末搽女人陰腫或生瘡煎水洗）</p>
<p>熱勞如燎地骨皮柴胡為末麥冬湯下</p>
<p>虛勞苦渴骨節煩熱或寒用枸杞麥冬小麥煎服</p>
<p>小便出血地骨皮煎汁服</p>
<p>口舌糜爛治膀胱移熱於小腸上為口糜心胃壅熱水穀不下地骨湯柴胡地骨湯柴胡地骨皮煎服</p>
<p>骨蒸煩熱及一切虛勞大病煩熱並用地仙散地骨皮防風炙甘草生薑煎服一錢</p>
<p>蔓荊子　辛苦微寒輕浮升散入膀胱肝胃諸經主頭面風虛之症搜肝風而涼血頭痛腦鳴（頭沉昏悶可除昏暗）利九竅而通關節）明目固齒（除目睛內痛）骨筋寒熱拘攣濕痹</p>
<p>頭風作痛蔓荊子酒浸溫服</p>
<p>乳癰初起蔓荊子為末酒服潭敷之</p>
<p>白茯芩　甘溫益氣和中淡滲利竅除濕人肺瀉熱而下通膀胱（故利小便治淋瀝）人心安神而上除驚悸（水停心下亦悸）開胃止嘔療隔中痰水治腹脹（大腹水腫心腹脹滿）益脾止泄治胸脅逆氣結疼（本經治心下結痛寒熱煩滿）安胎退熱止渴生津伐肝腎之邪（治腎積之奔豚）滲肺脾之　濕（行水之功多益心脾）小便結者能通小便多者能止（得半夏能滌飲得人參治胸脅氣逆）赤人心脾小腸功端瀉濕行水皮消水腫膚脹能開水道腠理</p>
<p>濁遺帶下威喜丸治丈夫元陽虛憊精氣不固小便下濁余溺帶流夢寐多驚頻頻遺泄婦人白淫白帶並治茯芩豬芩同煮取出日乾擇去豬芩為末　化黃□和丸</p>
<p>下虛消渴上盛下虛心火炎燥腎水枯涸不能交濟而成渴症白雲芩黃連天花粉丸服</p>
<p>飱泄滑痢不止茯芩煨木香紫　蘇木瓜煎服</p>
<p>血餘怪病手十指節斷壞惟有筋連無節肉蟲出如丁草長數寸遍身綠毛卷名血餘以茯芩胡黃連煎汽飲之愈</p>
<p>血虛心汗別處無汗獨心孔有汗思慮多即汗亦多宜養心血以艾湯調茯芩末日服</p>
<p>虛滑遺精白茯芩砂仁共為末入鹽精羊肉批片摻藥炙食酒下小便頻多雲芩山藥為末米　飲下</p>
<p>小便不禁茯芩丸治心腎俱虛神志不守小便淋瀝不禁　茯芩赤芩等分為末酒煮地黃汁搗膏丸</p>
<p>茯神　（主治略同茯芩）表而能安收斂神氣定定魄安魂開心益智治風眩風虛止健忘驚悸（得棗仁能安神）</p>
<p>心中木　（主又名黃松節）治偏風品面喎斜療痹痛筋攣牽縮（得乳香木瓜酒治筋攣骨痛）</p>
<p>琥珀　入土而成寶通塞以寧心定魂魄以安五臟燥脾土而清肺金（肺氣下降小便自通）能止癲邪心痛最消瘀血通淋磨翳明目止血生新（傅金瘡良得黑櫓豆治產後神昏得麝香治小便淋瀝）</p>
<p>下惡血和大黃鱉甲作散酒下方寸七婦人腹內血盡即止</p>
<p>小兒胎驚琥珀防風硃砂菜　為末　豬乳調一字</p>
<p>小兒胎癇琥珀硃砂全蠍為末麥冬湯調　服</p>
<p>豬芩　味兼苦甘淡漢入足太陽少陰（膀胱腎）泄滯利竅除濕通淋（平暑蠍）開腠理而發汗得水道而耗津（端司引水易耗津液）傷寒溫疫大熱（大熱得小便亦分消之意也）腹滿脹渴懊惱　痎瘧腳氣（瘧由於暑能利暑濕之氣凡坻　濕症　勿用）帶濁子淋（白濁帶下胎腫子淋傷寒口渴邪在藏也豬芩湯主之　豬芩茯芩澤瀉滑石阿膠各一兩仲景方）</p>
<p>孕服腫渴從足至腹小便不利微溫引飲豬芩為末溫水服</p>
<p>遍身腫滿　孕婦子淋方同上法</p>
<p>小兒秘結豬芩一兩以少水少許煮雞矢一錢調立通</p>
<p>竹葉　體輕氣薄甘淡性寒（氣薄能達陽氣於上焦開外郁之陰翳）涼心清胃止渴消痰除新久風邪之煩熱止喘促氣勝之上衝嘔噦吐血驚癇中風上氣發熱因走馬後飲冷水所致者竹葉橘皮煎服</p>
<p>時行發黃竹葉小麥石蓋煎服</p>
<p>竹茹　開胃土之郁清肺金之燥涼血除熱清胃解煩（上焦煩熱不眠）止肺痿吐衄而不住（吐血鼻衄齒血牙宣）除胃熱呃噎而難堪（呃逆噎膈）胎動惡阻勞驚癇（得人參茯苓甘草黃芩治產後煩內虛短氣）</p>
<p>傷寒勞復傷寒後交接勞復卵腫腹痛竹茹煎服</p>
<p>婦人勞復病初愈有所勞動至熱氣衝胸手足搐搦拘急如中風狀竹茹栝蔞煎服</p>
<p>竹瀝　甘寒滑得降火消風養血潤燥（故兼益陰）豁痰端功痰在經絡四肢屈曲而搜剔痰在皮裡膜外直達以宣通故治大熱陰虛中風口噤（中風由陰虛火旺煎熬津液成痰壅塞氣道不得升降也）風痓破傷癲狂煩悶小兒驚癇胎產血暈（產後中風虛汗妊婦胎動子煩故云胎前不損子產後不礙虛胃虛腸滑寒濕不宜服得薑汁治中風口噤得葛根治小　兒傷寒）</p>
<p>破傷中風凡閃脫折骨諸瘡慎不可當風用扇中風即發　痓口噤芾急殺人急飲竹瀝忌冷飲食及酒</p>
<p>婦人胎動妊娠在夫所動困絕以竹瀝飲之愈</p>
<p>妊婦子煩竹瀝茯苓煎服</p>
<p>產後中風口噤身直面青手足反張竹瀝飲之愈</p>
<p>竹黃　清心火去風熱豁痰利竅明目鎮肝大人中風不語小兒客忤急驚</p>
<p>杏仁　辛散風以解肌（散肺經之風邪）苦瀉肺而降氣（散　滯氣而下氣）消食消痰潤燥潤肺（除肺中風熱咳嗽）止咳逆之上衝（上氣喘促）利胸膈之滿急（急滿脹痛）頭痛面風（去頭面諸風）大腸氣秘（杏仁陳皮治氣秘桃仁陳皮治血秘）驚癇奔豚腳氣喉痹除瘡疥而殺蟲消狗積與麵食（肺虛者不宜得天冬能潤心肺得柿餅治肺病咯血得童便能補肺怯勞喉痹痰嗽杏仁熬黃三分和桂末一分含之卒失音聲方用同上法</p>
<p>陰瘡爛腫杏仁燒黑研末成膏敷之</p>
<p>產門蟲疽痛癢不可忍杏仁燒存性杵爛綿里納入陰中取效</p>
<p>鳥梅　酸收肺氣澀固大腸斂浮吸氣歸元下氣止嗽通膽腋生津　清熱解渴除煩止反胃瘴瘧久痢（諸症初起忌用）湧痰殺蟲傅惡瘡弩肉死肌牙緊喉痹（得建殺乾薑治體息利冰梅丸用青梅二十枚鹽十二兩淹五日取梅汁入明礬三兩桔梗白芷防風各二兩豬牙皂角三十條俱為細末拌汁和梅入瓶收之每用一枚噙咽津液治喉痹乳蛾及中風痰厥牙關不開用此擦之尤佳）</p>
<p>莊肅公病痢血陳應之用鳥梅黃連灶心土等分為末調茶服效蓋血得酸則斂得寒則止得苦則澀故也</p>
<p>蝕惡瘡弩肉用鳥梅肉燒灰存性研敷惡肉上一夜立盡用　鳥梅和蜜作餅貼之其力緩</p>
<p>桃仁　苦匯滯血兼入　厥陰（心胞肝血分藥）甘生新血能緩肝氣（炒用則其多而緩能潤生則苦辛而行善攻）除皮膚血熱燥癢通大腸凝滯血秘（能潤血燥）心下堅痛瘀秘癥瘕（血瘀血秘）畜血如狂損傷赤痢月經不通熱入血室　殺敗血所生之蟲能暢達鬱結之疾（血鬱血結者宜得茱萸治冷勞減食得元胡索　川楝子治肝厥胃脘痛）</p>
<p>下部蟲䘌病人齒無色舌上白喜睡憒憒不知痛癢或下痢乃下部生蟲食肛也桃仁十五枚苦酒二升鹽一合煮服</p>
<p>產後陰腫桃仁燒灰敷之　伏梁結氣在心下不散桃奴三兩為末空心溫酒服二錢桃留樹上過冬不落者名桃奴</p>
<p>大棗　濁以補不足甘以緩陰血滋脾土潤心肺益氣補中調榮衛生津液升騰脾胃（生髮脾胃升騰之氣）通九竅兼助十二經和百藥主心腹邪氣（中滿症忌用仲景治奔豚用大棗滋脾土以平腎氣也治水飲脅痛有十棗湯益土而勝水也得生薑和榮衛）</p>
<p>婦人藏燥悲傷欲哭象若種神靈數欠者大棗湯主之大棗十枚小麥一升甘草二兩每服一兩水煎服一兩水煎服亦補脾氣</p>
<p>梨　味甘微酸涼心潤肺氣寒封鎖毒降火消痰外宣風熱內滌狂煩生清六府之熱燥融洽氣喘熱滋　五臟之陰中風語難（治中風不語）除消渴通利二便貼火傷止痛不爛（解酒毒煩渴）</p>
<p>痰喘氣怨梨挖空納小黑豆令滿留蓋合住系定糠火煨熟搗作餅　每日之立效</p>
<p>反胃轉食藥物不下用梨一個以丁香十五粒刺入梨內濕紙包四　重煨熟食之</p>
<p>木瓜　溫醒脾胃筋骨之濕酸收脾肺耗散之氣氣滯能和理脾伐肝氣脫能固和胃斂肺（木瓜鳥梅最收納胃氣尤善瀉肝肝邪退則脾土和）利筋骨而止渴煩調榮衛以助穀食霍亂轉筋水腫腳氣瀉痢奔豚腹脹善噫多食損齒令人淋閉</p>
<p>山查　味酸氣平脾胃經藥能健脾胃消積滯行滯氣之需（並治痰飲痞滿吞酸）為散宿血化肉積兒枕痛之物（產後瘀露積於少腹作痛名兒枕痛同砂糖服立效）水痢疝氣能除身頭瘡癢可沐</p>
<p>腰疼諸疝腫痛</p>
<p>婦人乳癌因久積憂鬱乳房內有核如指頭不痛不癢五七年成癰名乳癌不可治也用青皮四兩水煎徐徐服之或和酒服</p>
<p>枇杷葉　酸以補肺之正苦以泄肺之逆和胃降氣清熱消痰（氣有餘便是火氣降即火降而痰消）主嘔噦而不止產後口乾治熱嗽甚有功解暑止渴</p>
<p>肺熱久嗽身如火炙肌瘦將成勞枇杷葉木通冬花紫苑杏仁桑皮等分大黃減半蜜丸夜臥含　化</p>
<p>溫病發噦因飲水多者枇杷葉茅根煎服</p>
<p>反胃嘔噦枇杷葉丁香人參煎服</p>
<p>灑渣鼻面上風瘡枇杷子為末溫酒調下神效</p>
<p>胡桃　氣熱味甘皮澀肉潤補氣養血潤燥化痰益命門固精氣利三焦潤大腸上通於肺虛寒喘嗽相宜（風火邪熱嗽不可用）下通於腎腰腳虛痛必用內止心腹諸痛　外散瘡腫之毒肥健肌膚烏黑鬚黑髮（得補骨脂補下焦之陽虛食酸齒齼細嚼胡桃即解誤吞銅錢多食胡桃自出也）</p>
<p>痰疾胡桃三個生薑三片臥時嚼服</p>
<p>小兒痰喘晝夜不乳食胡桃人參煎服</p>
<p>胡桃丸益血補髓強筋壯骨延年明目悅心潤肌能除百病用胡桃四兩搗膏入破故紙杜仲萆薢各四兩杵勻丸空心溫酒鹽湯任下</p>
<p>老人喘嗽氣促睡臥不得胡桃杏仁生薑蜜丸臥嚼</p>
<p>食物醋心嚼胡桃薑湯下</p>
<p>荔枝　（甘溫澀）抑肝之過散固腎之閉藏和氣血而止小腸之痛破沉寒端治頹腫疝殃（得大茴香治疝氣頹腫得青皮茴香治腎腫如斗）　</p>
<p>呃逆不止荔枝七個連殼核燒灰存性為末白湯下</p>
<p>婦人血氣刺痛炒香附燒荔枝核為末米飲鹽湯任下名蠲痛散</p>
<p>龍眼肉（甘溫）生血和脾補中益氣交心腎於黃庭能安神而長智</p>
<p>檳榔　辛溫散邪苦澀降逆（降滯氣）破滯除痰攻滯除痰攻堅去積瀉胸中至高之氣墜諸藥至於下極裡急後重諸瘧腸癖平水腫心腹諸痛腳氣上衝主膀胱冷氣奔豚二便閉塞尤善殺蟲兼療衝脈（衝脈為病氣逆裡急）宣導臟府壅滯通利關節九竅（得橘皮治金瘡噁心得木香治里　急後重得瓜治腳所衝心）</p>
<p>醋心吐水檳榔橘皮為末方寸七空心生蜜湯調服</p>
<p>嘔吐痰水檳榔橘煎服</p>
<p>傷寒痞滿陰病下早而成痞按之虛軟而不痛檳榔枳實為末黃連湯下腳氣衝心悶亂不知人檳榔為末童便調下或入薑汁溫酒同服</p>
<p>蛔厥腹痛用檳榔為末空心調服效</p>
<p>寸白蟲病方用同上</p>
<p>大腹皮　（氣味主治略同檳榔）腹皮性緩下氣稍遲檳榔性烈下氣最疾開胃健脾走表泄肺能祛瘴瘧痰涎端逐水腫腳氣除痰膈醋心胸消肌膚中水氣止霍亂而通大小腸寬膨脹於惡阻胎氣</p>
<p>川椒　辛熱純陽溫中下氣入肺發汗散寒入脾暖胃燥濕逐骨節皮膚死肌除腹中冷痛瀉痢風寒咳嗽痰飲宿食補右腎命火元陽（能下行導火歸元大能溫補下焦也）治衝任上逆寒氣暖腰膝而縮小便水腫膽黃療陰汗而堅齒牙寒濕痛痹通血殺蟲產寒余疾（若陰虛火旺肺胃素熱者忌服得地黃汁調養真元得雲苓補益腎）</p>
<p>陰冷入腹有人陰冷漸漸冷氣入陰囊腫滿　日夜疼痛欲死以布里川椒包囊下熱氣大通呃噫不止川椒炒研麵糊丸醋湯下</p>
<p>傅屍勞痓最殺勞蟲用川椒紅色者去子及合口炒出汗為末以老酒浸白羔和丸食前鹽湯下</p>
<p>囊瘡痛癢用漢椒七粒蔥頭七個煎水洗之</p>
<p>凡至漆所嚼椒塗鼻上不生漆瘡</p>
<p>腎氣囊瘡川椒杏仁研膏塗掌心合陰囊而臥甚效</p>
<p>椒目　（苦辛色黑入腎行水）能行水道不行穀道腹脹水腫腎虛聾鳴定氣喘為劫藥止盜汗有殊能</p>
<p>吳茱萸　辛熱　氣好上行苦熱性善下降潤肝燥脾瀉肺降氣溫中散寒燥濕開鬱消飲食而去冷痰逐風邪而開腠理端主厥陰頭痛陰寒小腹攻疼兼治脾腎積寒瀉痢疝瘕腳氣（端入肝經氣分旁及脾腎仲景吳茱萸湯當歸四逆湯治厥陰之病及溫脾胃皆用此藥）嘔逆吞酸痞滿膈噎下產後余血利大腸壅閉（故治腸風痔漏）善疏肝氣能引肝熱下行衝脈為病泄逆氣於裡急（東垣云濁陰不降厥氣上逆隔塞不通令人寒中腹滿膨脹下利宜吳茱萸之苦泄其逆氣用之如神不宜多用恐傷元氣陰虛火盛者大不可用常患痰飲十日一發頭背寒嘔吐酸汁用吳茱萸茯苓蜜丸服）嘔涎頭痛嘔吐胸滿用吳茱萸人參薑棗服</p>
<p>腎氣上噦腎氣自腹中起上築於咽喉逆氣連屬而不能出或至數十聲上下不得喘息此由寒傷胃腕腎虛氣逆上乘於胃與氣相併吳萸醋炒橘皮附了為丸薑湯下</p>
<p>寒疝往來腳氣衝心用吳萸生薑煎服</p>
<p>食已吞酸胃氣虛冷者吳萸乾姜等分為末赤白下痢脾胃受濕下痢腹痛米穀不化吳萸黃連白芍為末丸米飲下名戊己丸</p>
<p>寒熱怪病寒熱不止數目四肢堅如石擊之似鐘磬聲目漸瘦惡吳萸木香等分煎湯飲之</p>
<p>陰下濕癢吳萸煎湯洗之</p>
<p>咽喉口舌生瘡吳萸醋調貼二足心移夜便愈</p>
<p>甘蔗　甘寒下氣潤肺生津和中助脾清熱利水除胸中煩熱解酒消痰利大小二腸嘔噦反胃（得麥冬生地治春溫液涸得姜汗治乾嘔）</p>
<p>虛熱咳嗽口乾涕吐蔗汁梁米煮粥食之</p>
<p>發熱口乾小便澀赤蔗汁飲之</p>
<p>小兒目疳蔗皮燒研搽之</p>
<p>反胃吐食朝食暮吐漸漸吐者蔗汗姜少許和服</p>
<p>蓮子　甘補脾厚腸胃澀斂心固腎精交通水火心腎安靖君相火萌除寒濕夢遺白濁止煩渴瀉痢帶崩益十二經脈血氣除百疾久服　身輕（得乳香益智治遺精白濁）</p>
<p>久痢噤口石蓮肉炒為末每服二錢陳倉米調下便覺思食甚妙加入香連尤妙</p>
<p>心虛赤濁蓮子甘草燈心湯下蓮子六一湯</p>
<p>蓮心（苦寒）堅腎瀉心極上反下小便遺精產後　血渴</p>
<p>蓮鬚　（苦澀）清心通腎止血澀精蓮房入厥陰血分消瘀散血酒煎下胞衣燒灰善止血（經血不止蓮房燒灰研末熱酒下得荊芥炭治血崩不止）勞心吐血蓮心七個糯米二十粒為末酒服</p>
<p>久近痔漏三十年者服之除根蓮鬚黑醜當歸酒煎服忌熱物</p>
<p>欲火夢遺黃連黃柏煎服</p>
<p>蓮藕（甘平）開胃除煩　解酒消食產婦血積化瘀血而不凝病後口乾吐衄之妄（得發灰治血淋藕汁滴鼻中治鼻衄不止卒暴吐血雙荷藕節荷蒂各七枚入蜜少許搗爛煎服遺精白濁心虛不寧金鎖玉關丸用藕節蓮子蓮鬚芡實山藥茯苓茯神為末同金櫻膏和丸鼻淵腦漏藕節川芎為末米飲下）</p>
<p>產後血悶血氣衝上口乾腹痛藕汁童便熱酒飲之傷寒口乾藕汁地黃汁煎服</p>
<p>荷葉（苦平）引升清氣助脾進食心肺燥煩平熱去濕產　後口乾血瘀諸疾得升麻蒼朮治雷頭風（得浮萍蛇床子洗　陰腫痛癢得蒲黃黃芩治崩中下血）</p>
<p>產後心痛瘀血不盡荷葉炒為末童便調下並治胞衣不下</p>
<p>傷寒產後血暈欲死荷葉紅花薑黃炒童便調下</p>
<p>荷鼻　安胎甚良逐瘀留新（得厥陰經藥治大便下血妊婦胎動已見黃水者乾荷蒂炙研糯米汁調服</p>
<p>芡實　甘補脾去濕澀固腎益精泄瀉帶濁夢滑遺精腰膝痹痛（去濕之功）小便頻數（功端暖元陽得生地能止血得金櫻子能澀精得兔絲子能實大腸）</p>
<p>四精丸治思慮色欲過度損傷心氣小便遺精用秋石茯苓芡實蓮肉為末棗和丸空心鹽湯下</p>
<p>荸薺　軟堅益心甘鹹寒滑除胸中實熱最善毀銅治五種膈噎消積止渴（妊婦忌食）</p>
<p>伏龍肝　（卻灶心土辛甘苦溫）溫中和脾止吐衄崩帶（止血之功）祛風燥濕及血溺遺精寒咳反胃下胞摧生（主治血症帶下金匱黃土湯即灶心黃土治先便後血此遠血也明指肝別絡之　血因脾虛陽陷生濕血亦就濕而下行甘草白朮附子地黃阿膠黃芩各三兩黃土半斤）</p>
<p>子死腹中母氣欲絕伏龍肝末三　錢水調下</p>
<p>重舌腫木蓋肝末牛蒡汁調塗之</p>
<p>婦人血漏伏龍肝阿膠蠶沙炒一兩為末酒下</p>
<p>胞衣不下灶心土醋調納臍中續服甘草湯</p>
<p>橫生逆產灶心土酒調服仍搽母臍中</p>
<p>紫石英　甘益肝木濕以去枯溫　鎮心經重以去怯散衝任之寒益心胞之血上安心神神以血足而安（故能定驚悸安魂魄）下暖子宮血海受妊不絕（為女科當行之藥得茯苓人參治心結氣）</p>
<p>本經治女人風寒在子宮絕妊無子也徐注子宮屬衝脈血海風寒入於其中他藥所不及紫石英色紫入血分體重能下達故能入衝脈之底風寒妨妊溫能檢寒驅風也</p>
<p>石膏　寒能清熱降火（瀉肺補肺）辛能發汗解肌（開才塞散鬱結）淡滲濕而逐暑甘益氣而緩脾熱盛皮膚頭痛齒痛必用（本胃經藥）熱傷肺胃發班　疹尤宣（入肺兼人三焦）若乃邪在陽明金受火制大渴引飲肌肉壯熱中暑自汗而躁煩小便赤濁而澀滯（皆白虎症）舌焦唇燥三焦大熱可除胃弱血虛症似白虎宜別（血虛發渴症似白虎但脈不洪長為異耳誤服白虎不救得桂枝合白虎治溫瘧得蒼朮合白虎治中蠍濕溫白虎湯石羔知母甘草竹葉粳米）</p>
<p>傷寒發狂窬垣上屋寒水石三錢黃連一錢為末煎甘草服名鶴錫散</p>
<p>胃火牙痛軟石羔一兩火　煆淡酒淬過為末入防風荊芥細辛白芷日用揩牙甚效</p>
<p>濕溫多汗妄言煩渴石羔炙草為末服小兒吐瀉黃色者傷熱也玉露散石羔寒水石甘草減半調服瘡口不斂生肌肉止痛去惡水寒水石燒赤研黃丹半兩為末搽之名紅玉散</p>
<p>滑石　淡滲濕而分水道滑利竅而通壅滯（上能利毛腠之竅　下能利精溺之竅）甘益氣而補脾寒降火而瀉熱（降心火清肺金）上和肺胃開腠理表邪下走膀胱通六府津液止渴止煩中暑中暍療黃癉腳氣水腫蕩胃中積肥聚寒嘔吐瀉痢通乳滑胎石淋五淋（五淋要藥）吐血衄血為滌暑燥濕之長成革夏徂秋之　節（得石葦治石淋得丹參白蜜豬脂為膏丸空氣酒下臨產服令胎滑易生除煩渴心燥）</p>
<p>女勞黃癉日晡發熱惡寒小腹急大便溏黑滑石石羔研末麥冬汁服</p>
<p>傷寒衄血滑石末飯丸新汲水嚥下立止湯海叔公鼾衄乃傷寒當汗不汗所致其血紫黑時不以多少止之且服溫和藥調其榮衛待血鮮時急服此藥止之</p>
<p>伏暑吐瀉或瀉或瘧小便赤煩渴玉液散用滑石燒四兩霍香一錢為末米湯服</p>
<p>熱毒怪病目赤鼻脹大喘渾身出班毛髮如針乃因中熱毒結於下焦用滑石白礬各一兩為末作一服</p>
<p>赤石脂　味甘氣溫能益氣生肌而調中性澀體重能收濕止血而固下（直入下焦以收斂也）崩帶遺精泄痢虛脫固腸胃有收斂之能下胞衣無推蕩　之滑（經疏云去惡血化則胎無阻東垣云胞胎不出澀劑可以下之得乾薑糯米名桃花湯治下痢膿血不止得蜀椒附子乾薑治心痛徹背得乾薑胡椒醋糊丸這心米　飲下治大腸寒滑）</p>
<p>痰飲吐水無時節者其原因冷飲老祖宗度遂令脾胃氣弱不能消化飲食飲食入胃皆變成冷水反吐不停赤石脂散主之　赤石脂一斤搗末酒服寸匕自住稍加至三匕服愈</p>
<p>冷痢腹痛下白凍如魚腦桃花丸赤石脂煆牡煆各三兩鹽一兩為末糊丸湯下</p>
<p>代赭石　苦寒入心瀉熱重鎮平肝降逆（端治心肝二經之　血分病）除五臟血熱（血）瘀（血）痹止吐衄痞鞭噎膈女子赤白帶下小兒疳疾驚癇難產墮胎精遺溺（昔有兒瀉後眼上三日不乳目黃如金氣將絕有名醫曰此慢驚風也宜治肝用水飛代赭石末每服五分冬瓜仁煎湯調下果愈傷寒　蘊要百合病發已汗下復發者百合七個擘破泉水浸一宿代赭石一兩滑石三兩泉水二鍾入百合汁再一鍾溫服）</p>
<p>急慢驚風吊眼撮口搐搦不定代赭石火煆醋淬十次細末水飛日乾每服一錢或半錢煎真金湯調下連進二服　兒腳脛上有赤斑即是驚風已出病當安也無斑點者不可治俱丹熱毒土朱青黛各二錢滑石荊芥各一錢為末服一錢蜜水調下仍敷之</p>
<p>禹餘糧　（甘澀）斂澀在下焦厚大腸而固胃氣（手足陽明血分重劑）結痛在下腹通瘀血而止　血崩（固下此脫）咳逆久放映帶下摧生（得乾薑治赤白帶下備急方治崩中漏下青黃赤白使人無子禹餘糧赤石脂牡蠣　煆研鳥賊骨伏龍肝桂心等分為末溫酒上忌蔥蒜聖濟錄治身面瘢痕禹餘糧半夏等分為末雞子黃和傅先以布拭赤勿令見風日年久亦減）</p>
<p>大腸咳嗽亥則遺矢者赤石脂禹餘糧湯主之</p>
<p>傷寒下放映不止心下痞鞭利在下焦者赤石脂禹餘糧湯主之赤石脂良煎服</p>
<p>朴硝　辛能潤燥寒能除熱咸能軟堅苦能下泄瀉妄火而補心（邪火退則心火自安）治陽強之狂越通逐六府積聚癖症盪滌三焦腸胃實熱凡氣結血凝燥糞推陳致新疫黃疸停痰上通下胎二便閉結（得大黃直通大滌垢）咽喉痹腫痛芒硝含咽如氣塞　不通加生草末吹</p>
<p>風眼赤爛淨皮硝一盞水二碗煎露一夜濾淨澄清洗日三次其紅自消</p>
<p>退翳明目白龍散用馬牙硝淨厚紙裡實安在懷內著肉養一百二十日研粉少入龍腦不計年歲深遠眼生翳膜遠視不明但瞳人不破者宜點之發俊產死胎不下芒硝二錢童便溫服</p>
<p>小兒重舌馬牙硝塗舌下</p>
<p>小兒鵝口方同口舌生瘡皮硝含之良</p>
<p>元明粉　（朴硝煉成性輕和緩）去胃中實熱蕩腸中宿垢潤燥破結功亦彷彿</p>
<p>大麻仁（甘滑）緩脾潤燥益氣補中利大腸風熱燥結（脾胃大腸之藥）去五臟汗出中風（遂一切風氣）破積血而血脈可復治熱淋而小便能通下乳摧生胎逆橫生易順（倒產吞二七枚即正）潤肺止渴產後余疾多功（得當歸厚朴等辛藥乃能利大腸麻子仁粥治風水腹大腰臍重痛不可轉動用冬麻子仁半斤研取汁入粳米二合煮粥下蔥椒鹽豉空心服並治五淋澀痛老人風閉大便不通皆效</p>
<p>產後閉塞產後汗多則大便秘難於用藥惟麻子粥最穩不惟產後可服凡老人諸虛風秘皆得力也用火麻仁蘇子各二合洗淨研細再以水研濾取汁一盞分二次煮啜之</p>
<p>截腸怪病大腸頭出寸余痛苦幹即自落又出名為腸病若腸盡即不治但初覺截時用器盛麻油浸之飲麻仁汁數升即愈也</p>
<p>飲酒咽爛口舌生瘡麻仁黃芩蜜丸含之</p>
<p>消渴飲小便赤澀麻仁煎汁服</p>
<p>苡仁　甘淡滲濕瀉水所以益土故益胃健脾（陽明藥）　色白入肺益土所以清金故清熱補肺祛風濕而療濕痹筋急拘攣（緩肝舒筋）保燥金而治（肺）痿（肺）癰咳吐膿血乾濕腳氣熱淋水腫疝氣泄痢（辛稼軒忽患疝疾重墜大如斗用苡仁同東壁黃土炒水煮數服即消濟生方治肺損咯血以熱豬肺切蘸苡仁米空心服之苡仁補肺豬肺用之引經也）</p>
<p>水腫喘急用郁李仁研汁煮苡仁食之</p>
<p>肺痿咳嗽膿血苡仁煮入酒少許服</p>
<p>肺癰咳吐心胸甲錯者以酒煮苡仁服肺有血當吐出愈</p>
<p>肺癰咯血苡仁煮入酒少許服</p>
<p>妊中有癰苡仁煮汁頻飲</p>
<p>黑大豆　（甘寒）補腎鎮心得上水散熱下氣怯風解毒活血（豆淋酒法宗奭曰治產後百病或血熱覺有餘血水氣或中風因驚或背強口噤或但煩熱瘛瘲口渴或身頭皆腫或身癢嘔逆直視或手足頑痹頭旋眼眩此皆虛熱中風也用大豆三升熬至微煙出入瓶中以酒五升沃之經一日以上服酒一升溫覆令少汗出身潤即愈口渴者加獨活半斤微槌破同沃之產後宣常服以防風氣又消結血得甘草解百藥毒得桑柴炭煮下水鼓腹脹）中風口喎頭風頭痛破傷中風口噤風入臟中身面浮腫新久水腫俱用豆淋酒方</p>
<p>肝虛目暗迎風下泣用□月牯牛膽盛黑豆用懸風處取每夜吞七粒久久自明</p>
<p>天蛇頭指痛甚者黑豆生研末繭內籠之</p>
<p>腎虛消渴難治黑豆炒天花粉等分為末和丸每黑豆湯下七七十丸名救活丸</p>
<p>赤小豆　（甘酸寒）性下行去小腸之火入陰分治有形之滯逐津液通乳下胞利小便消腫散血水濕腳氣（和鯉魚煮食甚治腳氣有效）功兼解酒健脾瀉痢脹起並能止渴清熱（得大蒜生薑商陸根同煮去藥食豆啜汁消水氣腫脹仲景治傷寒狐惑病脈數無熱微煩默默但欲臥汗出初得二三日目赤如鳩七八日四眥黃黑若能食者膿已成也赤豆當歸散主之　赤豆三斤水浸芽出當歸三兩為末醬水服得通草能下氣行雞子敷癰瘡）胞衣不下用赤豆男七粒女二七粒東流水吞婦人吹奶赤豆酒研溫服以渣敷之</p>
<p>癰疽初作赤豆末水和塗之毒即消散</p>
<p>腮頰腫赤豆末和蜜塗之一夜或芙蓉花葉末尤妙</p>
<p>白扁豆　（甘溫）通利三焦厚脾和胃（端治中宮之病）降濁升清消暑除濕和中州消渴飲水止帶下霍亂吐痢（毒藥墮胎女人服草藥墮胎腹痛者生扁豆去皮為一樣米飲服方寸匕煎汁飲亦可丸服苦胎氣已傷未墮者或口噤手強自汗頭低低中風九死一生醫多不　識作風治必死無疑）</p>
<p>消渴飲水用金豆丸白扁豆浸水服之</p>
<p>赤白帶下白扁豆炒為末米飲服</p>
<p>淡豆豉　（甘寒）能升能散下氣調中勝熱瀉肺解肌發汗傷寒寒熱頭疼滿悶躁煩血痢溫毒　發斑（千金溫毒黑膏用之）嘔逆瘧疾（得蔥白治寒熱頭痛得梔子治虛煩懊惱得鹽則能吐得酒則治風得韭則治傷寒暴痢得蒜則治臟毒下血）</p>
<p>小暇蟆有毒食之令人小便閉澀臍下悶痛有至死者以生豆豉一合投新汲水半碗浸汁飲之即愈</p>
<p>神麯　辛甘散氣調中溫暖健脾開胃能宣達脹滿鬱結停痰能伐能消□乳小胎宿滯（功端化水穀運積滯得麥芽杏仁治胃虛不克得蒼朮能壯脾進飲食得茱萸治暴泄不止閃挫腰痛者煆過淬酒溫服有效婦人產後欲□乳者炒研酒服二錢即止甚驗）</p>
<p>健胃思食養食丸治脾胃俱虛不能消化水穀胸膈痞悶腹脅膨脹運年月食減嗜臥口無味神麯六兩麥芽炒三兩乾薑炮四兩鳥梅肉焙四兩為末蜜丸梧子大每米飲下</p>
<p>紅曲　（甘溫）消食活血燥胃健脾產後惡血不盡（有破血之功）下痢赤白損傷（得降香通草川山甲沒藥治上部內傷胸膈作痛怒傷吐血和童便他神效得黃連白扁黃芩白芍升麻乾葛鳥梅甘草滑石橘紅治滯下有神得澤蘭牛膝地黃續斷蒲黃赤芍藥治產後瘀露不盡腹中作痛）</p>
<p>濕熱瀉痢丹溪青六丸用六一散加炒紅曲五錢為末和丸白湯下</p>
<p>心腹作痛赤曲香附乳香等分為末酒服</p>
<p>麥芽　咸耗腎氣溫主通行資脾土之健運助胃氣以上升（故補脾胃和中寬腸）破冷氣食積脹滿消痰　飲散結摧生（古人云麥芽消腎神麯下胎其破血散氣可知得乾薑川杯治谷勞嗜臥立齊治一婦喪子乳房腫脹欲成癰者以麥芽一二兩炒熟煎服）</p>
<p>快膈進食麥芽四兩神麯二兩白朮橘皮各一兩為末和丸人參湯下妊娠去胎用麥芽一升服之即下</p>
<p>穀芽　甘溫開胃順氣和中快脾消食</p>
<p>韭菜　（甘溫微酸）下氣溫中壯陽歸腎調和臟腑入血分而行氣善暖腰膝充肺氣而歸心經脈逆行產婦血暈消散瘀血停痰吐衄尿血（一切血病）能除胃熱噎膈續骨傷筋（心痛有食熱物及怒郁致死血留於胃口作痛者宜韭汁桔梗入藥中開提氣血腎氣上攻以致心痛宜用韭汁和五苓散為丸空心茴香湯下蓋韭性急能散胃口滯血又反胃宜用韭汁二杯入薑汁牛乳各一杯細細溫服蓋韭汁消血薑汁下氣消痰和胃牛乳能解熱潤燥補虛也）</p>
<p>陰陽易病男子陰腫小腹絞痛頭重眼花宜猳鼠湯主之猳鼠矢十四枚韭根一大把溫服得汗愈未汗再服</p>
<p>傷寒複方同上法</p>
<p>產後血暈韭菜切安瓶中沃以熱醋令氣入鼻中即省</p>
<p>鼻衄不止韭根同搗棗大塞入鼻中即止</p>
<p>韭菜子　（甘溫）治盤痿而暖腰膝補肝腎以助命門小便頻數遺尿鬼交甚效夢中泄精溺血帶下白淫（得龍骨桑螵蛸主漏精補中三因方治下元虛冷小便不禁或成白濁有家韭子丸蓋韭乃肝之菜入厥陰經腎主閉藏肝主疏泄素問曰足厥陰病則遺尿思想無窮入房太甚發為筋痿及為白淫男隨溲而下女子綿綿而下韭子治遺精漏　泄小便頻數女人帶下者能入厥陰經補下焦肝及命門之不足命門者藏精之府也）</p>
<p>夢遺溺白韭子每日空心生吞三十粒鹽湯下</p>
<p>玉莖強中玉莖強硬不痿精流不住時時如針刺捏之即痛其病名曰強中乃腎黨政滯漏疾也用韭子故紙各一兩為末每服三錢水煎服</p>
<p>煙薰蟲牙用瓦片燒紅安韭子數粒清油數點待煙起以筒吸引至痛處良久以溫水嗽吐有小蟲出甚效未盡再薰</p>
<p>蔥　（生辛散熱甘溫）外直中空通行血脈施行雲雨血散郁陽解肌發汗傷寒寒熱頭疼瀉肺補肝中風面目浮腫陰毒腹痛腳氣奔豚吐衄血利兼療通利二便（蔥管吹鹽入玉莖中治小便不通通訊轉脬危急　者效）折擊金傷並治下乳安娠（凡金瘡磕損折傷血出疼痛不止者用蔥白砂糖等分研封之痛立止更無瘢痕也蔥葉亦可也腹皮麻痹不仁多煮蔥白食之即愈小便閉脹不治殺人蔥白三斤銼炒帕盛二個更互熨小腹氣透即通也大腸虛閉勻氣散用蓮鬚蔥白一根姜一塊鹽一捻淡豉六七粒搗作餅烘烤臍中扎定良久氣通不通再作）</p>
<p>傷寒勞復因交接者腹痛卵腫用蔥白搗爛苦酒調服</p>
<p>服毒腹痛厥逆唇青卵縮六脈欲絕者用蔥一束去根及青留白二寸烘熱安臍上以熨斗火熨之蔥壞即易久熱氣退入手足溫有汗即瘥乃服四逆湯苦熨而手足不溫不可治並治脫陽危症</p>
<p>血壅怪疾人忽然偏身肉出如錐即癢且痛不能飲食名血壅不速　治必潰膿血以赤皮蔥燒灰濃洗飲豉湯數杯自安</p>
<p>薤白　（辛苦溫滑）溫中助陽滑痢散結調中下之氣中之血肺氣喘急上除胸痹刺疼瀉痢後重下泄大腸氣滯帶下赤白可塗湯火金瘡（和蜜搗塗）利產安胎能除水腫寒熱（胸痹刺痛張腫景栝蔞薤白湯治胸痹痛徹心背喘息咳吐短氣喉中燥癢寸脈沉遲關脈弦數不治殺人用栝簍實一枚薤白半斤白酒煎服千金方治胸痹半夏薤白湯用薤白四兩半夏枳實生栝簍酨白漿煎服）</p>
<p>奔豚氣痛薤白搗汁飲之</p>
<p>赤白痢下薤白一握同米煮粥食之</p>
<p>妊娠胎動腹內冷痛薤白一升當歸四兩煎服</p>
<p>白芥子　辛瀉肺而利氣溫暖中而散寒豁痰利竅開胃補肝痰在脅下皮裡膜外者非此莫達飲留胸脅支滿多吐者用之可安通經絡能止痛消腫（痰行則腫消氣行則痛止）治咳嗽兼解肌發汗</p>
<p>胸脅痰飲芥子五錢白林一兩為末棗肉和丸白湯下</p>
<p>反胃上氣芥子研末酒服二錢</p>
<p>腫毒初起用白芥子末醋調塗之</p>
<p>萊菔子　（辛甘）入肺下氣而定喘入脾消食以除脹生則能升故吐風痰而寬胸膈熟則能降故療後重而攻積堅（治痰有倒壁沖牆之功）</p>
<p>齁喘痰促遇厚味即發菔子淘淨蒸餅丸每服三十丸津　液下久嗽痰喘用菔子杏仁等分丸服</p>
<p>氣脹氣蠱用菔子研浸汁炒一兩浸炒七次為末米　飲服</p>
<p>姜　（辛溫）宣達陽氣嚴毅正性去穢惡通神明生行陽分而祛寒發表宣肺氣而解鬱調中暢胃口而開痰下食止嘔吐而咳嗽傷風乾則溫經暖胃去寒冷而守中炮理沉寒積濕達陽氣於太陰（引附子能□脈絕無陽）黑則補肝堅腎靜妄行之陽去瘀生新止吐下之血皮辛以和脾寒能止汗外達皮毛驅風行水（故治水腫風熱同五味利肺氣而治寒嗽東垣云生薑為嘔家之聖藥潤而不燥凡血虛發熱產後大熱吐血痢血須炒黑用則辛竄上行之勢全無苦鹹下走之捷乃見能引　血藥入血分氣藥入氣分去瘀生新有陽生陰長之意黑為水色故去血中之鬱熱而不寒止吐血之妄行而不滯）</p>
<p>產後肉線一婦產後用力垂出肉線長三四尺觸之痛引心腹欲絕一道人令買老薑連皮三斤搗爛入麻油二斤拌勻炒乾先以絲絹五尺折作方結令輕輕盛起肉線使之屈曲作三團納入陰戶乃以絹袋盛姜就近薰之冷則更換薰一日夜縮一大半二日盡入也云此乃魏夫人秘傳怪病方也</p>
<p>脈溢怪症有人毛竅節次血出不止皮脹如鼓須臾目鼻口被氣脹合此名脈溢生薑自然汁和水各半盞自安</p>
<p>心脾冷痛暖胃消痰二姜丸用乾薑良薑等分為丸豬皮湯下</p>
<p>脾寒瘧疾方同上陰陽易病傷寒後婦人得病雖差未滿百日不可與男合為病拘急手足拳腹痛欲死丈夫名陰易婦人名陽易速宜汗之愈滿四日不可治也用乾薑四兩為末每用半兩白湯調服覆被出汗後手足伸即愈</p>
<p>茴香　（大茴辛熱小茴辛平）潤腎補腎舒木舒筋開胃止嘔補命門之不足調中下食暖丹田之元陽下除腳氣上達膽中擅祛寒散結之能陰痿腫痛逐小腸膀胱之　氣（寒冷之氣）寒疝陰□（得生薑鹽治睪丸腫大得川楝子治腎消飲水小便如膏油得杏仁蔥白鬍桃酒服治膀胱疝痛得蠶炒鹽炒治疝氣膀胱小便痛茴香得鹽即入腎經則發出邪氣腎不受邪病自不生也）</p>
<p>腎虛腰痛茴香炒研以豬腰批開搽末入內濕紙里熨熟空心鹽酒下</p>
<p>腰痛如刺思仙散大茴杜促各炒研木香一錢水煎服</p>
<p>脅下刺痛小茴枳殼炒研末每二錢鹽酒服</p>
<p>小腸氣墜用大茴各三錢乳香煎服取汗</p>
<p>孫氏方治小腸疝痛不可忍用大茴枝核炒黑研末溫酒下</p>
<p>瀕湖集方大茴花椒研酒調下</p>
<p>山藥　（甘溫）入肺而清虛熱入脾以固胃腸益氣補中能鎮心神安魄強筋長肉通治五勞七傷眼眩頭風瀉痢可止澀精防水（斂腎氣防溢水）腎陰能強益脾陰運化痰涎消硬腫搗敷癰瘡（得羊肉補脾陰得熟地固腎精）小便數多山藥以礬水煮過雲苓等分為末水服二錢</p>
<p>脾胃虛弱不思飲食山藥白朮一兩人參七錢為末丸米飲下</p>
<p>濕熱虛泄山藥蒼朮飯丸米飲下大人小兒皆宜</p>
<p>項後結核或赤腫痛以生山藥一挺去皮蓖麻子二粒同研貼之如神</p>
<p>百合　甘補肺而益氣澀斂肺以收心（斂下而上直達於肺以收為用）消浮腫痞滿止涕泣嗽頻（久嗽之　入肺氣必虛虛則宜斂大量合之甘斂勝於五味之酸收）通利二便不獨調中溫肺統治百合（金匱云傷寒後行往坐臥不定如有神靈謂之百合病仲景有百合四方）更見清熱寧神（百合知母湯治傷寒後已發汗者用百合七枚知母三兩同百合汁煮服百合雞子湯治已經吐後用百合七枚泉水浸煮汁入雞子黃一個服百合代赭湯治已經下後者用百合七枚泉水浸入代赭石一兩滑石三兩同煮服百合地黃湯治未經汗吐下者百合七枚泉水浸入地黃汁一升同煎服）</p>
<p>百合變熱者用百合一兩滑石三錢為末服方寸匕</p>
<p>肺病吐血新百合搗汁和水飲之亦可煮服</p>
<p>痰嗽帶血百合　款冬花同煎服</p>
<p>桑螵蛸　（甘鹹）端斂精而固腎入肝腎於命門傷中虛損益氣補心起陰痿腰痛遺精（強腎之陰）疝瘕血閉（咸能益腎軟堅通血脈）縮小便遺溺不禁（固腎之氣能通又能縮也）白濁五啉（通腎之府一男子小便日數次次如稠米泔心神恍惚瘦瘁食減得之女勞令服桑螵蛸散藥未終一劑而愈其藥安神魂定心志治健忘補心氣止小便數用桑螵蛸遠志龍骨菖蒲人參茯神當歸龜板炙各一兩為末臥時人參湯下二錢）</p>
<p>遺精白濁盜汗虛勞桑螵蛸炙白龍骨等分為末空心鹽湯下二　錢</p>
<p>妊娠遺隸不禁桑螵蛸為末米飲下</p>
<p>產後遺隸或尿數桑螵蛸炙半兩龍骨一兩米飲下</p>
<p>殭蠶　（甘辛鹹溫）受濕而僵故能勝濕含桑之液故善祛風得清化之氣散濁結之痰瀉熱清肺喉痹咽痛多功經絡通行（凡風寒濕熱阻滯經絡者皆能通之）中風失音並效散皮膚　丹毒風瘡搔癢可止（本經治男子陰癢）除齒痛頭風結核痰瘧兼施（為肺肝胃三經之藥為末封丁腫拔根極效又能減諸瘡之瘢痕喉痹用開關散殭蠶炒白礬半生半熟燒等分為末各一錢生薑自然汁調灌得吐頑痰立效小兒加薄荷生薑少許同調服得冰片牙硝硼砂為細末吹治喉諸風）</p>
<p>急喉風痹如聖散用白殭蠶南星等分生研為末服一字薑汁調灌涎出即愈後以生薑炙過含之方無南星</p>
<p>偏正頭痛並夾頭風連兩太陽穴痛聖惠方用殭蠶為末忽白茶調服方寸匕</p>
<p>腹肉龜病詩云人間龜病不堪言肚裡生成硬似磚自死殭蠶白馬尿不過時刻軟如綿</p>
<p>癮疹風瘡疼痛殭蠶焙研酒服一錢愈小兒鱗體皮膚如鱗體甲之狀由氣血痞澀亦曰胎垢又曰蛇體殭蠶去嘴為煎湯浴之一加蛇退</p>
<p>蠶沙　治風濕癮疹癱風（風濕為病肢節不隨）腰腳冷痛（能去冷血惡血主腸史鳴熱中消渴風眼爛眩（陳氏經驗方一抹膏治爛眩風眼以真麻油浸蠶沙二三升一宿研細塗患處即驗）</p>
<p>男婦心痛不可忍者晚蠶沙一兩滾湯泡過濾淨取清水服即止</p>
<p>蟬退　甘能緩肝清肺寒能散熱除風本濕熱之氣所化去濕熱以就清高壯熱驚癇眩暈頭風其性善退故去目翳而　摧生下胎其脫為殼故治皮膚之瘡癢癮疹清響發聲故治失音啞病晝明夜息故治驚哭夜啼（小兒驚啼啼而不哭煩也哭而不啼躁也用蟬退二七枚去翅足為末入硃砂為末一字蜜調與吮之）</p>
<p>破傷風病蟬退研灑有錢半又蟬退為末蔥涎調塗破處即時取出惡水名追風散頭風旋暈蟬退為末酒下一錢</p>
<p>皮膚風瘡蟬退蒲荷為末酒服</p>
<p>小兒陰腫多因坐地風襲及蟲蟻所吹蟬退半兩煎洗仍服五苓散即腫消痛止</p>
<p>丁瘡毒腫不破則毒入腹蟬退為末蜜調服</p>
<p>又方用蟬殭蠶為末醋調塗瘍四圍候丁根出拔去再塗</p>
<p>蚯蚓　穿穴濕居走筋入絡咸軟堅而潤下寒清腎以去熱除膀胱之濕（下行利水）清插胃之熱（積濕鬱熱）溫病大熱狂言（昔人治熱病發狂用蚯蚓數十條同荊芥搗汁飲之得出臭汁而解也）大腹黃疸腳所（腳氣必須用之為使）小便不通腎腸風注小兒癲癇急驚大人歷節痛痹痘瘡紫斑木舌喉痹（凡血熱血瘀遇之皆化停症畜水觸著皆消近世用酒煎汁以救跌撲捐傷垂危者則筋骨無傷瘀血自去真神方也傷寒陽毒強胸按之極痛或通而復結喘促大躁狂亂取生地龍四條洗淨研加入薑汁少許蜜一匙蒲荷汁少許用新汲水調服自然汗出而解之也）</p>
<p>木舌脹滿不治殺人蚯蚓一條以鹽水化塗之良久漸消</p>
<p>小便不通蚯蚓搗浸水取汁服</p>
<p>喉痹塞口用韭地紅蚯蚓數條醋擂食之即吐痰血立效</p>
<p>耳卒聾閉蚯蚓入鹽安蔥內化水點之</p>
<p>瘰癧潰爛流串者用荊芥根下段煎湯溫洗良久看瘡破紫黑處以針刺血再洗三四次用韭地上蚯蚓一把炭上燒紅為末每一匙入乳香沒藥輕粉各半錢山甲九片炙為末油調敷之如神</p>
<p>龍骨　（甘鹹澀微有寒）澀以止脫神以治神（變化不測謂之神）能收斂浮越正氣（斂正氣而不斂邪氣也所以仲景於傷寒之邪未盡者亦用之）入大腸心腎厥陰開廣陰開廣神知固精神補心澀腸益腎定魄安魄主心腹鬼疰精物（純陽能制陰邪）止嗽逆（斂氣滌飲）泄痢血膿（收澀之功）縮小便逐鬼交遺精帶濁定驚癇斂虛汗（斂元安神）亂大象紛紜吐衄崩中用止妄聚妄行之血心神耗散均為腸胃滑脫之珍齒主肝病（肝藏魂）遊魂不定癲癇狂痓（心經痰飲）鎮心涼驚（徐雲龍者正天地元氣所生藏於水而離乎水者也故春分陽氣上井泉龍用事而能飛秋分陽氣下井泉溫龍退蟄而能潛入身五藏屬陰而腎尤於陰中之至陰也凡周身之水歸之故入之元氣藏焉是腎為藏水臟而亦為藏火之臟也所以陰分火動而不藏者亦用龍骨蓋借其氣以藏之必能自反其宅）</p>
<p>健忘久服聰明益智慧用白龍骨遠志等分為末食後服</p>
<p>勞心夢泄龍骨遠志等分為末蜜丸硃砂為衣蓮子湯下</p>
<p>暖精陽白龍四分遠志為末蜜丸每冷水空心下</p>
<p>睡即泄精白龍骨四分韭子五合為散空心酒下方寸匕</p>
<p>遺隸淋瀝白龍骨桑螵蛸等分為末鹽湯下二錢</p>
<p>泄瀉不止白龍骨白石脂為末水丸紫蘇木瓜湯下量大人小兒用陰囊汗癢龍骨牡蠣粉撲之</p>
<p>穿山甲　鹹寒有毒善竄善穿出陰入陽穿精貫絡達病所入厥陰陽明療蟻瘻及痔漏疥癬破暑結之瘧邪（風瘧瘡科許為要藥）除風濕之冷痹消腫腓膿通經下乳（經驗方云凡風濕冷痹之症因水濕所致渾身上下強直不能屈伸痛不可忍者於五積散加山甲七片看病在左右手足或臂脅疼痛處即於鯪鯉身上取甲炮熱同全蠍炒十一個姜同水煎入無灰酒一匙熱服取汗避甚良）</p>
<p>婦人陰□硬為卵狀隨病之左右取出甲之左右邊以砂炒焦黃為末每服二錢酒下</p>
<p>乳汁不通湧泉散用山甲炮研酒下外以油梳梳乳乳癌乳癰方同上法</p>
<p>吹奶疼痛山甲炙焦木通一兩自然銅生用半兩為末每二錢酒服</p>
<p>停耳出膿山甲燒存性入麝香少許吹之</p>
<p>龜板　大有補陰之功（陰虛血熱陰血不足之症）稟鹹寒潤下之性為制群動之　物具純陰至靜之能益腎而清腎熱補心而通濕靈益資智滋陰養精治漏下之赤白破痰瘧與瘕症小兒囪門不合（腎氣虧而骨氣不足也）女子陰蝕瘡生（陰虛而邪熱為病）勞熱骨蒸腸風五痔腰腳痠痛（能續筋骨）吐衄血崩（去瘀血）止久嗽兮瀉痢通任脈兮催生　膠尤宜滋補且兼養肺</p>
<p>抑結不計散用龜心甲酒炙五兩側柏葉炒五兩半香附童便浸二宿炒二兩米和丸空心溫酒服</p>
<p>難產催生用龜板燒灰酒服</p>
<p>文摘云治產三五時不下垂死及矮小女子交骨不開者用千年龜板殼二個炙婦人頭髮一握燒灰川芎當歸各二兩每服七錢水煎服</p>
<p>小兒頭瘡月蝕耳瘡中吻生瘡俱用龜板燒灰傅之人咬傷龜板骨　鰲肚骨各十片燒研油調搽之</p>
<p>鱉甲　色青入肝（肝經血分之藥）鹹寒益腎和血滋陰瀉水　腎之邪熱潤燥保肺軟肝血之各堅癥瘕痃癖脅痛腰疼陰虛鬱怒寒熱勞瘦骨蒸元氣久虛氣窒血凝瘧母（瘧必暑邪邪陷中焦則結為瘧母鱉能勝暑散結去痞為治瘧之要藥也）陰蝕息肉痔核腸癰退伏熱於胃中長陰氣於肝腎止驚癇緩肝補心下瘀血墮胎難產（得青蒿治骨蒸勞熱）</p>
<p>老瘧勞瘧用鱉甲炙研酒服入雄黃少許</p>
<p>奔豚氣痛正衝心腹鱉甲炙三兩三梭煨二兩桃仁四兩湯浸研汗煎良久下醋服</p>
<p>血瘕癖用鱉用甲琥珀大黃為末酒服二錢少時惡血即下若婦人小腸沖血下盡即體服也</p>
<p>吐血不止鱉甲蛤粉各二兩同炒色黃熟地兩半曬乾為末每服二錢食後茶下</p>
<p>陰頭生瘡人不能治者用鱉二枚研雞子白和敷</p>
<p>牡蠣　和血瀉肝清腎去熱（為肝腎血分之藥）補心之虛瀉腎肝之邪斂無形之氣化散有形之聚結寒能清熱補水止渴除煩（降逆除濕）咸可消痰軟堅（瘰癧結核）疝瘕老血澀固肺氣縮小便而厚大腸收斂心神止虛汗而療夢泄帶濁崩中溫瘧寒熱去脅下之堅滿咳癇驚退骨熱之虛勞心痛氣結（味鹹入足少陰經功端降逆止汗得柴胡去脅下硬得松羅茶能消項上結核大黃能消股間腫得地黃能澀精得元參甘草臘茶瘰癧奇效　）</p>
<p>百合變渴傷寒傳成百合病如寒無寒如熱無熱欲臥不臥欲行不行飲食不食冂苦便赤得藥則吐利變成渴疾久不痊者用　牡蠣熬二　兩天花粉二兩為末服</p>
<p>心脾氣痛氣實有痰者牡蠣煆粉酒服二錢　</p>
<p>虛勞盜汗鵯牡蠣粉麻黃根黃耆等分為末煎水溫服　</p>
<p>水病囊腫牡蠣煆粉三兩乾薑炮一兩研末調糊掃上須臾囊熱如火干即再上小便利即愈</p>
<p>一方蔥汁白麵同調小兒不用幹姜</p>
<p>石決明　（鹹平）補肝清熱（入足厥陰）益精滋陰內障勞熱骨蒸磨翳明目利便通淋（得枸杞甘菊花治頭痛目昏得穀精草治痘後目翳）</p>
<p>解白酒酸用石決明不拘多少數個以火煆研將白酒蕩熱以決明末攪入酒內蓋往一時取飲之其味即不酸</p>
<p>五靈脂　氣厚純陰真誠肝最速（入肝血分）補心緩肝活血散瘀通利百脈衝任二脈兼調止痛和中心腹冷氣盡逐至若血閉能通（生用）經多能止一切血病腸風血痢瘀露崩中諸痛咸宜心腹脅少腹疝氣（血氣刺痛）痰挾血而成巢血貫睛而翳驚疳蛇毒皆療無瘀血虛則忌生用鹹多能滲能行（生則微焙研末酒飛）熟用甘多能緩能止（熟則炒令煙盡失笑散男女老少心痛腹痛少腹痛小腸疝氣諸藥不效者能行能止婦人妊娠心痛及產後心痛小腹痛　血氣尤妙用五靈脂蒲黃等分研末先以醋二杯調末熬成膏連藥熱服或童便酒服有人被毒蛇所傷良久昏憒一老僧以酒調藥二錢灌之遂□仍以滓敷咬處少傾復灌二錢其苦皆去問之乃五靈脂一兩雄黃半兩同為末耳其後　有中蛇毒者用之咸效）</p>
<p>心脾蟲痛不拘男女用五靈脂檳榔為末水煎菖服調服二錢作餅豬肉一二　斤</p>
<p>胎衣不下惡血衝心用五靈脂半生半熟炒研二錢酒下</p>
<p>咳嗽肺脹皺肺丸二兩胡桃仁一個柏子半兩研勻滴水和丸甘草湯下</p>
<p>痰血凝結紫芝丸用五靈脂水飛半夏泡等分為末姜汗浸蒸餅丸飲下目生浮翳五靈脂海螵蛸各等分為末熟豬肝日蘸食之</p>
<p>血痣潰血一人舊有一痣偶抓破血出一線七日不止欲死用五靈脂末搽上即止</p>
<p>血潰怪病凡人目中白珠渾黑而視物如常毛髮堅直如鐵條能飲食而不語如醉名曰血潰以五靈脂為末湯服二錢即愈</p>
<p>夜明砂　寒能除血熱氣壅辛能散內外結滯（入肝經血分本經破寒熱積聚血氣腹痛）明目養陰（治目盲障翳雀目）消瘀行血止瘧下胎殺疳除翳</p>
<p>燕窩　甘能和脾養肺緩肝咸能補心瀉腎除熱滋涸竭而化痰涎補虛勞而和氣血</p>
<p>阿膠　（甘鹹平）潤燥養肝化痰清肺和血補陰滋腎益氣散熱除風澄清腎水心腹內崩（血脫之疾）勞極寒熱如瘧四肢痠痛（血枯之疾）羸瘦腰腹內疼利小便而調大腸尿血下痢（痢疾金多因傷暑伏熱而成阿膠乃大腸之要藥有熱毒留滯者則能疏導無熱毒留滯者則平安矣）治肺痿而吐膿血吐衄崩中咳嗽喘急不論肺實肺虛（安肺潤其性和平為肺經之要藥）漏血不止用阿膠炒二兩蒲黃六合生地三升水煎服</p>
<p>肺損嘔血不止用阿膠炒二兩蒲黃六合生地三升水煎服</p>
<p>肺損嘔血並開胃阿膠三錢木香一錢糯米一合半為末每服一錢百沸湯點服</p>
<p>赤白痢疾黃連阿膠丸治腸胃氣虛冷熱不調下痢赤白裡急後重腹痛小便不利用阿膠炒水化成　膏一兩黃連茯苓搗丸粟米湯下</p>
<p>大衄不止口耳俱出阿膠炙蒲黃生地汁同煎溫服急以帛系兩乳月水不調阿膠蛤粉炒成珠研末熱服即安</p>
<p>月水不止妊娠尿血妊娠下血妊娠血痢俱用阿膠酒服</p>
<p>虎骨　（辛微熱）屬金而制木虎嘯則風生追風健骨定痛止驚筋骨毒風攣急屈伸不得癧節走注疼痛益髓填精（汪注在要主於補腎命門實腎骨之主藥有真精益髓之功而追風之力亦於是著焉）</p>
<p>臂脛痛疼虎骨酒治之虎骨炙黃羚角屑各二兩芍藥二兩以酒浸之</p>
<p>癧節風虎骨酒炙三兩沒藥七兩為末每服二錢溫酒服</p>
<p>犀角　（苦酸鹹寒）補斂心神降瀉實熱瀉肝膽相火清脾胃濕熱（本陽明少陰藥入心涼心血入胃散邪食百毒能解百毒病噴血能清血熱犀有噴血病而角能清血熱）鎮肝祛風涼心解熱溫疫煩亂譫語發黃發班傷寒蓄血狂言吐血衄血（得生地宮翹治熱邪人絡）</p>
<p>下痢鮮血犀角地榆生地各一兩為末蜜丸煎服五合去渣溫服</p>
<p>羚羊角　補心寧神宣布血脈無堅不軟無瘀不行兼平君相二火端入厥陰肝經降已亢之陽除邪妄之熱目為肝竅能清肝明目去障肝為風臟能祛風搐搦癇驚（治子癇痓疾）其合在筋故舒筋脈攣急癧節制疼其神為魂故安驚夢狂越惡鬼不祥所藏在血能散瘀血下注毒痢疝疼在志為怒能降煩滿氣逆噎塞不通熱甚則風生寒能除熱散邪苦降走下焦咸能起陰益氣（得鉤藤息肝風）</p>
<p>鹿茸　（甘鹹熱）大補命門恆通督脈生精補髓養血助陽益氣強志健骨壯筋故治腰腎虛寒四肢冷痛頭眩目暗崩帶遺精</p>
<p>陰虛腰痛不能反側鹿茸炙兔絲子各一兩茴香半兩為末以羊腎二對酒煮爛搗泥和丸酒下</p>
<p>腎虛腰痛如錐刺不能動鹿角屑三兩炒研酒下</p>
<p>卒腰脊痛不能轉側鹿角五寸燒赤投酒浸一宿飲</p>
<p>鹿角　（鹹溫）除少腹腰脊血痛留血在陰中治胞中飲血不盡鬼交於夜夢（婦人夢鬼交者清酒服一撮則去鬼精）生則散結行血消腫辟邪熟則益腎補虛強精活血</p>
<p>墮胎血瘀不下狂悶寒熱用鹿角屑一兩為末豉湯服須臾血下</p>
<p>盜汗遺精角霜二兩生龍骨煆牡蠣各一錢為末酒丸鹽湯下</p>
<p>虛損尿血鹿角三兩炙水煎服</p>
<p>小便不禁上熱下寒者角霜為末酒丸酒湯下</p>
<p>小便數多霜白茯苓為末酒和鹽湯下</p>
<p>鹿膠　（甘溫）強陽益精滋補氣血傷中勞嗽尿血尿精漏下赤白閉不生霜補陽益精多汗淋露補中益氣少便頻多</p>
<p>猳鼠矢　鹹苦泄結軟堅微寒入肝除熱傷寒勞復有功陰陽易病尤捷（矢其氣化之餘有通而去之之義也）小兒疳疾腹大女子經閉不月吹奶乳癰膀胱水結（得白芷山茨菇山豆根連翹銀花蒲公英夏枯草貝母橘絡天花粉紫花地丁牛子治乳癰乳癌有效）</p>
<p>乳癰初起雄鼠知七枚研末酒服取汁即散</p>
<p>折傷瘀血傷損筋骨疼痛鼠矢燒末豬脂和敷急里不過半日痛止傷寒勞復發熱鼠矢梔子枳殼蔥白豆豉煎服</p>
<p>陰陽易及復鼠矢韭根煎服得黏汗為效</p>
<p>發灰　（即血餘）咸以補心瀉腎苦則補腎瀉心（入肝腎血分）涼血散瘀長肉養陰利小便水道通關格五癃鼻衄舌血（灰吹鼻衄同茅根服止舌血）吐痢血淋（諸　血症能行能止）療驚癇心竅瘀血治衝任寒氣上侵（婦人陰吹胃氣下泄陰吹而止喧此穀氣之食也宜豬膏發煎導之用豬膏半斤亂髮如　雞子大三枚和煎發藥成分再服病從小便中出也仲景方得滑石治小便淋閉）</p>
<p>諸竅出血胎髮灰敷之即止或吹入鼻中上下諸血或吐血或心衄或內崩或舌上出血並用發灰水服</p>
<p>女勞黃疸因大熱大勞交接後入水所致身目俱黃髮熱惡寒小腹急滿不便難用膏發煎治之此仲景方也</p>
<p>童便　寒伏熱而瀉腎咸走血而補心滋陰甚速降火甚神能引肺火下行三焦通利用治久嗽上氣肺痿失音敗血入肺瘀露攻心止陰火咳嗽吐衄除虛勞煩熱骨蒸能療跌撲損傷可免產後血暈</p>
<p>頭痛至極童便一盞蔥豉湯同服</p>
<p>秋石　（鹹溫）滋腎水養丹田潤三焦安五臟為滋陰降火之藥有反本遠元之能虛勞咳嗽白濁遺精</p>
<p>人中黃　降心肺逆氣破積攻堅燥脾胃濕熱消痰解毒大解五臟實熱能治天行熱狂</p>
<p>茜草　（苦寒酸鹹）色赤入血活血通經瀉肝則血藏而不瘀補心則血用而者勿服）</p>
<p>旱蓮草　（甘酸平）補心血瀉火濟水火交心腎烏須止血添腦益陰（膏點鼾中添腦）</p>
<p>昔人有二至丸夏至收旱蓮冬至收女貞子蜜丸服甚佳</p>
<p>蒼耳子　甘苦而溫善於發汗上下內外無所不達至上通腦頂頭鼻目（頭痛鼻淵目暗齒痛）下行足膝拘攣痛痹外達皮毛遍身搔癢（疥癬細瘡）內在骨髓風燥濕（治遍身㾦㿔作癢以之浴薰洗數次無不愈者蒼耳子一兩稀薟草一握紫背浮萍半碗蛇床子五錢北防風五錢）</p>
<p>金蠍　色青入肝專入厥陰風木辛甘有毒故善驅風逐邪（善逐肝風深透骨髓）小兒癮疹臍風（宜用宣風散）驚癇抽制大人中風不遂語澀歪斜（用牽正散）破傷要藥（破傷中風宜以全蠍防風為主）耳聾可瘥（耳暴聾閉全蠍去毒為末酒服一錢以耳中聞水聲即效破傷中風用全蠍二十一個酒塗炙為末干入麝少許每用金銀湯煎調服運字牽正散治中眼喎斜白附子殭蠶全蠍等分末酒服三錢</p>
<p>大人風涎用蠍一個頭尾全者以蒲荷湯四葉里小兒驚風分四服如前法</p>
