<header data-type="book">
<h1>折肱漫錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>黃承昊</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2965">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>陸序</h1>
<p>今之求醫者，率擇齒危之老，或且乘青雀、曳羅系，蒼頭廬兒，美衣刺肥，曰是所謂名醫者也。不則，矜世傳哆禁方，日不識六七，寫杜仲為土中，書枳殼為只殼，而病者亦禮而進之，曰是所謂專醫者也。嗟呼！儒之於世務，概不能竟其施，而獨於醫則尤相枘鑿，曰：吾儒人也而談醫，病者必唾其面。嗟呼！此豈非天擠馮生，而難為俗人道耶？予嘗考醫之起於名儒者，伊尹湯液最為老師，以至漢奉張機嘗為太守，魏稱華佗亦擢孝廉，皇甫謐序重三都，著經《甲乙》，殷中軍清言能品，頗善經方，而陶宏景有《別錄》之書，梁簡文著勸醫之論，若此之倫更僕難數，蓋以搢紳先生之徒，學緣博而獲中，識因微而造巧，故其所詣必非鑿工所敢望，而奈何以儒之敏贍穎灼，為反足累於醫乎？即近世節齋、念西諸先生亦未嘗不繇甲科高第，治靈蘭家言，而卒以起沉痼，擅神明之譽，遂乃著書滿家，訓流來葉，彼群醫者，持一布鼓作蒼蠅聲，蹩蹩何地耶！予自業醫以來，得闇齋先生折肱一編，伏而讀之，知其覃精桐跗之玄，鉤智陽里之秘，且於昔之易州、東垣，今之天民、新甫，同尚資調，往轍有合，而又以身所歷涉者，著為勸戒，噓枯吹生，明道解惑，此書之成，實蒼生之厚幸也。且先生犖犖治行，揚歷中外，迴翔合閣，筆不勝書，而及乎天步棒蕪，則又杜門廣武，息駕彭澤，有礪俗長往之志。予嘗欲執弟子禮，請見先生，盡發其所藏，今年乃得與次君復仲定交，而先生亡矣。嗚呼！予之為儒，欲師大樽先生，而大樽就殞；及其為醫，欲師闇齋先生，而闇齋繼亡，天使予沉淪轉徙於四民雜流之中，而所至旋奪其師，吾將安放？何其痛也，況能與名醫專醫爭一日之慕用乎哉！</p>
<p><u>西陵後學陸圻景宣氏拜撰</u></p>

<h1>金序</h1>
<p>狄懷英、司馬君實為唐宋第一流人物，各究心軒岐之道。懷英以神針活人兒奇疾，卻其饋謝千縑，曰我以行志非售術者。君實罷官居洛日，抄集經驗方書，遇病人輒疏方示之，兩公俱療宇宙瘻痹之人，蘇黔黎瞑眩之手，小大繇之，其為康濟一爾。餘年兄黃闇齋先生，岐嶷善病，最謹衛生，雖日親醫而斟酌至當，則審以虛衷，揆之定理，不敢一徇成案，執臆見為誤，故自諸生以下，惟攻苦為鏤心劌腑之文，取科甲肩仕任，出入諷議，中外揚歷，為大諫參藩所在，於國事民瘓，握其對病之藥石，匡危起痼，不遺餘力，而氣體不衰，精神加旺，其得於執玉捧盈，維持調護者精矣。乃殷然思嘉惠同人，偕臻康強而勤職業也，疏其從來醫藥所宜，胸懷所見，付剞劂曰《折肱漫錄》。余於臥疴間閱之，大指謂人之致疾，無不起於元氣單虛、寒暑之外侵、飲食之內停，蔑不因此，養生之家但當保護其真元，專扶其根本，間或相宜微佐以消導，正氣固則邪自漸除，必不可求速效而輕用表散之劑，漫加削伐之品，以致噬臍，每篇之中叮嚀戒慎，不啻數反復焉。旨哉言乎，何獨養生之家，盱衡治道亦猶是也。當運會尪羸，民生憔悴，譬之病久虛弱，善醫國者，宜一切與民務休息無為，寬疏節目，待其元氣之自回，若紛然攻砭，即或取快暫時，久之或雜病蜂起，所攻治在此，而意外疾生在彼，故無論治身、治天下，皆當虛心守一，不可持以躁心。鞅之相秦、參之相漢，其明證矣。秦越人視疾。隔垣洞見五臟而後敢以五分之熨、八減之劑，投之無不如意，降此則藥草不能自言，臟腑無所籲訴，謹守營衛，必不敢輕嘗試者。闇齋此論中，多情深極致之言，匪徒可保護色身，並可滋培慧命，其存心濟物，與懷英、君實今古同符，所稱衛生之朗鏡，醫國之良規非耶？茲聖明願治方殷，及求啟沃，是錄以獻股肱，惟人可也，無徒云折肱矣。</p>
<p><u>丁丑孟夏望日年眷弟金麗兼拜書</u></p>

<h1>折拔漫錄小引</h1>
<p>古人云「不為良相，則為良醫。」意在濟世也。予少年病羸徽纏，一二十年備嘗諸苦，少不知醫多誤藥，苦乃彌甚。當茹茶時，苦極而悔，悔極而恨，惝恍侘傺，幾濱於死。私自矢曰：「吾病得愈，吾年得老，必揭此以告同患者，使毋蹈予之覆轍。有所苦，隨筆記之，久而成帙，迨後病得漸瘥，更得致身雲路，碌碌世緣，未暇間此，且念吾年未老，閱歷未深，恐識見尚有誤以誤人，姑笥而藏之。今歸田無事，年已六十矣，閱歷深、識見定矣，庶可災梨以告同患乎，乃搜故簏所存，而益以近記，題曰：《折肱漫錄》，蓋取三折肱成良醫之義，一曰養神、一曰養形、一曰醫藥，非身所親歷、口所親嘗、目所親睹，都不敢混載以欺人。蓋予生平凡方書所載之症十患四五；本草所載之藥亦十嘗四五，夫豈剿陳言、拾道聽，以侈觀覽者。予官雖不甚顯，而宦轍所到，必孜孜以利濟為事，今梓是編亦一片婆心所使，上不能為良相，而頗存良相之心；下不能為良醫，而略明良醫之道云爾。</p>
<p>祟禎乙亥菊月胐樂白道人黃承吳題於樂白軒</p>
<p>黃履素，前明萬曆丙辰進士。幼而賦質虛弱，年至七十餘歲，自云藥品十嘗四五，則一生無日不在病中矣。有妄投峻劑為醫誤者，有調理不善而自誤者，歷驗親切，遂著《折肱漫錄》一書，一則曰「養神篇」、一則曰「養形篇」、「一則曰「醫藥篇」，其意是惕病者之鑑戒，原非為醫家立說也，曾收入《杏林法海書目》中，蓋欲醫與病者皆不可粗忽也，沈存中有五難之說，此非二難乎？如陰虧質弱之人，或一流覽，則病情不致於固結，醫藥不致於輕試，則此書之功亦不淺矣。但養神篇雖所採皆子史，傍及釋道，其說頗雜，莫如案頭置《鶴林玉露》等書更勝矣，故不刊木。</p>
<p><u>乾隆五十九年三月古吳瘦樵程永培跋於紫藤花下讀書軒。</u></p>

<h1>卷之一</h1>

<h2>醫藥篇一</h2>
<p>`總論`</p>
<p>`卒中`</p>
<p>`脾胃`</p>
<p>`腹痛`</p>
<p>`虛損`</p>
<p>《內經》云：「氣口獨為五臟主」，又曰：「胃為水穀之海，六腑之大原也，」故人生以胃氣為本，善養生者，毋輕傷胃氣，苦寒之藥不可多服，致損化源。丹溪發「陽常有餘陰常不足」之論，於虛勞潮熱盜汗等症立方以四物湯加知母黃柏治之，《經》謂：「內熱未除，寒中復起，正犯斯禁。」前賢闢之已詳。東垣立論則以人之一身脾胃為主，而特創補中益氣湯以垂後世。至薛立齋紹而述之，動輒以此湯為前矛，遇陰虛之症則謂陰虛乃足三陰虛，尤當補脾陰為主，亦用此湯以滋化源。化源者何？蓋補脾土以生肺金，使金能生水，水足木自平，而心火自降，又佐以六味地黃丸以溫存肝腎。發前賢所未發，開千古之聾聵，功莫大焉。夫李朱二賢各有所長，未敢輕為軒輊，然以區區管窺蠡測，則謂造化生物，惟此春溫之氣，鴨子以火溫而雛，蠶種以人懷而育，陽春一轉，草木甲拆，惟此溫和故也。盛暑則萬物焦，隆冬則萬物萎，秋氣清肅，萬物以調。彼大寒大熱之藥，猶之盛暑隆冬，而清涼之劑則秋金之令也，獨此甘溫之品煦之、育之，可使生機勃發而滿腔皆春。東垣信有卓識，若用寒藥補陰則胃氣先傷、五臟皆無生氣，常見遵丹溪之法以治勞症，往往脾敗以至不救，不能不歸咎於丹溪之作湧。予少年多誤，後確守立齋之法，得延殘喘以迄於今。藥者，人生之大利大害也，不遇良醫，不如不藥，不藥而誤也侮，藥而誤也，亦悔，然不藥之悔小，藥之悔大。</p>
<p>病者所忌，自酒、色、勞役、飲食，及一切例禁外，所大忌者有二：認病為真，終朝侘傺，一也；求速效而輕用醫藥，二也。予病中守戒甚嚴，獨犯此二者，以是久而不痊，慎之哉！</p>
<p>子輿氏曰：「盡信書則不如無書，」在岐黃家尤甚。蓋見解不同識，古今不同運，在智者神而明之，若執書以治病，為誤滋多，或因書以生憂，反受其害。予所親試者，如盛稱枳朮丸之能健脾，可常服也，而反以傷脾；如言玉屏風散之能御風寒也，而反以開腠理；如侈口豨薟丸之能延年也，而反以耗精神；如謂痰中縷血之最重難治也，火起九泉之下之百不救一也，予少年患此，憂不可言，而尚延殘喘，雖予之能慎疾勤服藥，得免於死，而方書不足盡信，大概如此矣。</p>
<p>玉節齋遵丹溪之旨，立補陰丸方論以治勞症，世上依法醫治，百無一效，反致胃氣傷損而殞命者多矣。薛立齋、王宇泰兩先生力辨其非，可為大有功於民命。夫『陽常有餘，陰常不足』其論固是，而必抑陽以扶陰，則其見謬矣。曷言之？天地間之理，陽自先乎陰，陽生則陰長，故天包乎地外，月借日之光以為光，晝動夜靜，君令臣共，夫倡婦隨，大《易》之理，每每扶陽而抑陰；修仙之道，必期純陽而後已，陽之貴於世也久矣。須知陽原該有餘，陰原該不足，乃欲以陰沉之藥抑陽以扶陰，陽消而陰能獨長乎哉？相傳丹溪之書多雜以贗本，故有頗謬處，或者其然。</p>
<p>薛立齋先生之論陰虛，發前賢之所未發。其謂陰虛乃足三陰虛也，足三陰者，足太陰脾、足少陰腎、足厥陰肝也，而脾屬土尤為至陰而生血，故陰虛者，脾虛也，補陰宜自補脾始。大凡足三陰虛多因飲食、勞役，以致腎不能生肝，肝不能生火而害脾土不能滋化。但補脾土則土生金，金生水，木得平而自相生矣。先生治一人，飲食失宜，患哺熱、口乾、體倦、小便赤澀、兩腿痠痛，令服補中益氣湯，彼不信而服四物湯知母黃柏之劑，變症百出，後仍服甘溫等藥而愈。蓋脾稟於胃，故用甘溫之劑以生髮胃中元氣而除大熱，顧乃反服苦寒復傷脾血耶，若前症果屬腎經陰虛，亦因腎經陽虛不能生陰耳。《經》云：「無陽則陰無以生，無陰則陽無以化」，又云：「虛則補其母，」當用補中益氣、六味地黃以補其母，尤不宜用苦寒之藥，世以脾虛俱為腎虛，輒用黃怕知母之類，反傷胃中生氣，害人多矣。</p>
<p>立齋云：若人少有老態，不耐寒暑，不勝勞役，四時迭病，皆因少時氣血方長而勞心虧損，或精血未滿而御女過傷，故其見症難以悉狀，此精血不足，但滋化源，其病自痊。又若飲食勞役七情失宜，以致諸症，亦當治以前法。設或六淫所侵以致諸症，亦因真氣內虛而外邪乘襲，尤當固胃氣為主。蓋胃為五臟之根本，故黃柏知母不宜輕用，恐復傷胃氣也。凡雜症屬內因，乃形氣病氣俱不足，當補不當瀉，傷寒雖屬外因，亦宜分其表裡虛實，治者審之。先生此論提綱挈領，「滋化源」、「固胃氣」二語真醫雜病者之龜鑑也。《經》云：安穀則昌。人之有生也，先天元氣全賴後天之穀氣以助之，故脾胃不傷，即有他病，猶可調治，若脾胃壞，飲食少，本根之地既搖，則雜症蜂起而難為力矣。故切脈先看胃氣，有胃氣則生，無則死。養病家第一先須於脾胃上著丸，每治他病，切須照顧脾胃，不可一意攻伐，忘其根本。予自恨年少不知醫，受累已多，故特揭此以告患者。</p>
<p>薛立齋先生治虛勞諸症，大概以補中益氣湯、六味地黃丸二藥兼服，取效最為純正妙理，但王者必世後仁，此藥亦須歲時方效，若服之三四月輒以為無大效而置之則謬矣。予初病時亦曾遵此法以自服藥，一兩月未見效，遂爾易方，醫藥亂投幾殆，比受苦二十年，後來畢竟以此收功，悔之無及。</p>
<p>王節齋極言陰虛之症不可服人參，服人參過多者，不治。人參為中和之妙藥，雖云補氣，佐以血藥亦能補血者，何得概禁勿服。予初守此戒，凡遇肺火沖激，痰涎壅盛輒禁，參朮不入口，而服清涼之劑，殊不效。後讀他書有悟，即痰盛喉腥亦服參朮不輟，究竟不見助火，而肺氣旋清，始知肺中實火方忌人參，若虛火非參不治。土為金母，虛則補其母，故服參朮等藥而痰火反愈，妙理昭然，王氏之言誤人不淺。</p>
<p>予生平善病，方書所載之症候十息其五，《本草》所載之藥品亦十嘗其五，於病之情狀、藥之利害，知之已深。今年六十餘矣，而後知治病必以脾胃為本，東垣、立齋之書，養生家當奉為蓍蔡者也。至於脾土補之不應，則求端於其母，而補命門之真火以生之，立齋之論尤精。</p>
<p>方書言：「治病者，衰其大半而止，不可過劑，過則反傷元氣。」大凡以藥攻病者，去其大半即宜養正氣而佐以祛邪，正氣充則邪氣自盡，若必欲盡去其邪而後補正，將正氣與邪氣俱盡，而補之難為力矣。予少不知此理，每為人言所誤，王節齋論治痰謂中焦之痰，胃亦賴其所養，難以盡去，去盡則胃虛而難治，亦同此理，常聞庸醫有祛邪務盡之語，大是誤人！</p>
<p>《玉機微義》，其議論多精妙處，亦醫書之上乘也，腠理虛，為陽虛，為表虛，為衛虛，人身中清陽之氣上升達表，所以固皮毛而實腠理，謂之衛氣，衛氣象天，天包地外，一氣之所攝持，猶衛氣包護一身而使內者不出、外者不入，故衛得其養則陽氣自覺常充，汗少泄，風邪自不能中內，《經》云：「陽密乃固」，陽密，即腠理密矣。此氣蓋本於胃而主於肺，故胃充即衛充，肺虛即衛虛，益氣汾以甘溫養胃中生髮之元氣，以升柴提下陷之清陽，清陽上升，衛氣自實，汗不斂而自固矣。又謂：「脾氣一虛，肺氣先絕，汗乃大泄，」故先以參朮壯其脾，使土旺金生，則腠理自密而汗乃戢，蓋養胃助脾即所以補肺之母而充固衛氣，無他法也。若陽氣虛甚而津脫不止者，前湯不能取效，須加熟附子以固其陽，陽回衛氣斯復矣。要知畏風、多汗、易於感冒等症，總皆陽氣不足所致也。</p>
<p>立齋云：「凡人元氣索弱，或因起居失宜，或因飲食勞倦，或因用心太過，致遺精、白濁、自汗、盜汗，或內熱、哺熱、潮熱、發熱，或口乾作渴、喉痛舌裂，或乳膨脹、脅肋作痛，或頭頸時痛、眩暈目花，或心神不寧、寤而不寐，或小便赤澀，莖中作痛，或便溺余滴、臍腹陰冷，或形容不充、肢體畏寒，或鼻氣短促，或更有一切熱症，皆是無根虛火，但服十全大補湯固其根本，諸症自息，若攻其風熱則誤矣。」此千古格言，不可不察。</p>
<p>沉香化氣丸最為猛烈，無經不傷，無臟不損，不可輕用者。</p>
<p>倒倉之法不宜施於者弱，曾聞有以倒倉而不起者。</p>
<p>陰絡傷則下血；陽絡傷則吐血。誤服攻積之藥，故傷陰絡；誤服破氣之藥，故傷陽絡。</p>
<p>予當夏令時患小便黃澀、短少，時值秋冬又患小便頻多而利，予總聽之「不治亦無大害」，古人云，凡老人小便短少便是病進之兆，亦未必盡然。</p>
<p>王節齋先生亦醫家名手。但所著《明醫雜著》議論多偏，薛立齋每條下一註腳而梓行於世，蓋恐後人誤信，貽害不淺，故特為剖析其是非，其有功於世也大矣。</p>
<p>王節齋論東垣用藥如韓信將兵，多多益善，丹溪不過能將十萬，故不敢效其多，二公醫品原自徑庭，況丹溪之書所傳失真，故遵其法以治病多致誤人，學醫者其察之。</p>
<p>立齋曰：「《異法方宜論》云：『東南之域卑下濕熱，其人腠理疏通，汗液妄泄，陽氣內虛，故宜食椒、姜辛熱之物以助其陽；西北之域高陵風寒，其人腠理致密，汗液內固，陽氣充實『不宜食椒姜辛熱之物反益其陽。』昔東坡先生仕黃州，其民疫癘流行，先生以聖散子治之甚效，蓋其地卑濕。四時鬱熱，腠理疏通，陽氣虛寒，是以相宜。西北疫癘民用之死者接踵，風氣各別，治法不同，不可不知也。」</p>
<p>立齋云：「王太僕先生曰：『大寒而甚，熱之不熱是無火也，大熱而甚，寒之不寒是無水也。晝見夜伏，夜見晝止，不時而動，是無火也。』大抵病熱作渴飲冷、便秘，此屬真熱。或惡寒發熱，引衣蜷臥，或四肢逆冷，大便清利，此屬真寒。或躁擾狂越欲入水中，不欲近衣，此病屬虛，乃外假熱而內真寒也。故虛勞發熱之症，治以寒藥而反甚者此也。由此觀之，則熱症常少，而寒症常多，芩連梔柏等藥豈宜輕用。無火者，益火之源以消陰翳，八味丸是也；無水者，壯水之主，以鎮陽光，六味丸是也。此治法之大略也。」</p>
<p>臨川陳先生云：「醫風先醫血，血行風自滅」，蓋肝藏血而主風，又肝氣為陽為火，肝血為陰為木，若肝火旺，則肝血必虛，故凡風病多因肝經風火為患，當推五臟相勝相生，以益其血。《經》云：「腎藏精而主骨。」故腎虛則骨中熱或湧泉穴或兩脛兩足內熱，多患骨痿以致不起，屬足三陰虧損之虛熱耳，滋其化源庶可保其生。</p>
<p>立齋云：「針灸各有所忌。《經》曰：『形氣不足，病氣不足，此陰陽俱不足也，不可刺之，刺之則重，不足重不足，則陰陽俱竭，血氣俱盡，者者絕滅，壯者不復矣。」東垣曰：「脈浮數而發熱、咽乾、面赤、時渴者，皆熱在外也，不可灸，灸之災害立至，俱不可不慎。」</p>
<p>予父予母予兄皆以卒中不起，父母病時予醫理未透，予兄病時，予在燕京，皆隨俗先進牛黃清心丸，延到時師皆用祛風化痰之劑，絕無一效，乃閱立齋醫案治王車駕卒中昏憒，口眼喎斜，痰氣上湧咽喉有聲，六脈沉伏，此真氣虛而風邪所乘，以三生飲一兩加人參一兩煎服，即蘇。五不治症，用前藥亦有得生者。夫前飲乃行經絡治寒痰之藥，有斬關奪旗之功，每服必用人參兩許，駕驅其邪而補助真氣，否則不惟無益，適足以取敗矣。觀先哲用耆附、參附等湯，其義可見，即立齋先生之言。要知牛黃丸乃香散通經之藥，亦宜用人參兩許煎湯調服方可，若單服則真氣愈散矣，竟以不知醫而誤用，可勝痛恨，為人子者不可不知醫，信夫！雖然，前條治法以施於中風、中寒諸症妙矣。又有虛火沖逆，熱痰壅塞，以致昏憒顛仆者，狀類中風，恐附子非所宜服。立齋治王進士勞役失於調養，忽然昏憒，謂是元氣虛，火妄發，挾痰而作，急灌童便，神思漸爽，更用參、耆各五錢，芎、歸各三錢，元參、柴胡、山梔、炙草各一錢服之，梢定，察其形倦甚，又以十全大補湯加門冬、五味治之而安。予從弟履中，年方強仕，以勞心憂鬱而得斯症，痰升遺溺，眼斜視，逾時不醒，竟類中風，亦灌以童便而蘇，此等症候皆火挾痰而作，又非三生飲所可治者，並薑湯亦不相宜也。同一卒然昏憒，而所因不同，須細審而治之。</p>
<p>海寧陳月坡云：「幾卒中者，不宜雜飲以湯，即薑湯亦不可與飲，飲便亂經脈。」陳有刺穴法甚妙，先學士葵陽公年近六士，精神正旺，苦瘍、誤信友人草方，服大黃下之，遂致精神頓衰，肌肉盡削，調理半載，竟不可復，後又患泄瀉，遂得前症，立齋治法正相宜，恨不早究心此書，尤恨時師何無一人讀此書而皆貿貿也。</p>
<p>風自火出，故熱則生風，試觀天道，每遇伊鬱之極則發大風，必然之理，故中風之症，多生於內熱，若血涼水足，風自何主？六味丸、益氣湯所以當常服也。風不必皆外感，常從內生，不可不知，薛立齋治風症，亦間用愈風丹，然佐以八珍湯、六味丸，非單服前丹也。</p>
<p>凡人精神極壯實者，偶患痰厥，可服牛黃丸，龍人屠伯尚忽然痰壅不能語，服牛黃丸立愈。予姊丈周公美一日忽神呆目怒，頃之痰湧，手揚足擲，有類中風，不服藥，次日自愈。此等稟賦，百無一二。</p>
<p>凡人脾胃氣虛而飲食難消者，必以參朮為主治而少佐以消導，初服頗覺迷悶，悶後必得漸爽，若專治其食，則愈消愈虛，而食愈不消矣，此與治痰同理。蓋治病必窮其本，見病治病，豈為良醫？</p>
<p>乙巳之夏，予患中脘痛，既而泄瀉，偶遇姑蘇一名醫，令診之，驚曰：「脾胃久傷，不治將滯下。」予體素弱，憚服攻克之劑，因此醫有盛名，一時惑之，遂服枳實、黃連、厚朴、山楂、木通等藥數劑，又服枳朮丸一月，以致脾胃大傷，是秋遂溏瀉不止，漸覺飲食難化，痞悶倒飽，深自悔恨，服參朮等藥及八味丸十餘年始得愈，然而中氣終不如故，苦不耐飢，梢飢則中氣大虛，其憊不可狀。凡山楂等消導之物，入口即虛，脾胃之不可妄攻如此。方書極言枳朮丸之妙，孰知白朮雖多，不能勝枳實之迅利。予龍胡孝轅刺史亦誤服枳朮丸而大病，可見此丸斷非健脾之藥，或飲食停滯，偶一二服可見耳。</p>
<p>參朮膏補脾之功最大，人不能多飲食者多服此膏能令飲食大進，予長子寅錫服此甚驗。</p>
<p>予生平飲食喜熱而畏冷，系中氣虛寒，常服六君子湯加炮姜，氣滯更加木香，甚效。</p>
<p>凡人脾病服補土藥不效，即宜服八味丸以補其母，予服此甚效。許學士云：「有人全不進食，服補脾藥不效，予授以二神丸，服之頓能進食」。蓋治法虛則補其母，不能食者，戊已虛也，火乃土之母，故以破故紙補腎為癸水，以肉豆蔻厚腸胃為戊土，戊癸化火，同為補土母之藥，再加木香以順其氣，使之斡旋，空虛倉廩自能受物。凡人腎氣怯弱，真陽衰虛，坎水不溫，不能上蒸脾土，是以飲食不進或食而作脹，大腑溏泄，譬如諸鼎釜之中置諸水穀，下無火力，終日米不熟。黃魯直常記：「服菟絲子，淘淨，酒浸、曝乾，日挑數匙以酒下之，十日外飲啖如湯沃雪。」服二神丸、菟絲子，與服八味丸同一理，是千古不易之妙法。嚴用和云：「古人謂補腎不如補脾，予謂補脾不如補腎、腎氣若壯，丹田火盛，上蒸脾土，脾土溫和，中焦自治，膈開能食矣。」　</p>
<p>立齋云：「凡停食泄瀉之症，若食已消而泄未已，宜用異功散以補脾胃，如不應，用補中益氣以升發陽氣。凡泄利色黃，脾土虧損，真氣下陷，必用前湯加木香、肉豆蔻溫補，如不應，當補其母，宜八味丸」。又參之瘧疾門，有云：凡停食症宜用六君子湯加枳實、厚朴；若食已消而不愈用六君子湯。立齋治停食泄瀉等症，必以參朮助正氣而佐以消導，庶不傷元氣，真為良法。予見時醫治泄瀉，未有不以消導、分利為常法者，陰損人無氣而人不知亦可嘆也。又考王節齋云：必泄瀉病誤服參耆等甘溫之藥則病不能愈而或變為黃疸，蓋泄瀉屬濕，甘溫之藥能生濕熱，故反助病邪，久則濕熱甚而為疸也。」即立齋醫案中亦言李少宰泄瀉誤服爹耆變為黃疸，然則泄瀉初起，益氣湯所宜禁者，歷考立齋治泄瀉，大都用六君子加木香、神麯等藥，蓋六君子無黃耆、當歸，而又加苦泄之藥，自非甘溫比耳。予脾胃本虛，往時誤服消克之藥，頓覺中氣下陷，胃脘中空空然，神氣倦怠，虛汗不止，手足不溫，大便亦無氣推送，急服益氣湯等藥，連服十餘劑，中氣乃漸復，消克之藥不可輕服也。女此俗有以食消食之法，以飯、肉等所傷之物燒灰存性為末，用酒或陳皮湯下之，頗效。此物似不甚傷脾，可用，王宇泰先生《準繩》中亦曾載之。又有以酒藥燒灰，服者便覺傷脾。更有服生酒藥者，最為峻厲，不宜用。立齋云：大凡食積痞塊症為有形，所謂邪氣勝則實，真氣奪則虛，惟當養正則邪積自除矣。雖云堅者削之、客者除之，若胃氣未虛，元氣尚實，乃可用攻削，或病人虛羸，或元氣素弱者，但當固本為主，而佐以消治。不然，反致痞滿不食而益其病矣。」《王機微義》之論積亦同此見，是千古格言不可忽也。予在臨江時，誤服厚朴，傷中氣之後，偶食犬肉一塊，遂覺停滯，時中氣正虛，不敢加山楂等藥，考《本草》食犬肉不消，煮蘆根汁飲之可消，予如法煎飲，覺右脅下微痛，次日大痛殊不可解，自是日甚一日，坐臥皆妨，反側痛如刀刺，右脅下按之有物如雞子。方書言，右脅痛屬食積、痰積，有謂須攻治者，有謂不宜攻，必須助正以消邪者。時有醫主攻治，謂不治將成痞塊，予不以為然，確守助正之說，當痛極時不敢服藥，靜以守之，俟痛小定，氣雖痞即用六君子加木香等行氣之藥，以漸調之，竟得痊可。若誤信攻伐，不知死所矣。</p>
<p>脾胃好暖而惡寒，脾虛必宜溫暖之藥。予內人少患脾有冷痰，時患嘔吐不止，服聶溯元五氣丹數丸遂不復發。予近患脾不和，不時溏瀉，服參朮兩三月不效，眼胡與辰金鉛一丸，脾氣頓佳，得兩三月安妥。家庵中有一比邱尼，久患脾疾甚殆，肛門不收，穢水任出，服金鉛一丸，肛門頓斂，漸調而愈，其神效有如此者，故知脾病之宜於溫暖也。胡乃儀真人。</p>
<p>痢之初起用芍藥湯而加大黃，以盪滌其滯，此常法也。然稟質有強弱、歲運亦有不同，概服大黃常有至隕命，不可不慎。</p>
<p>脾胃為五臟之本。餌術不宜獨後於人參，以術一兩佐人參五錢，煎膏最能補中氣，近有以術二斤佐陳皮半斤煎膏服之亦妙。予餌術常不輟，計一歲所服可得五六斤，參則僅一斤許耳。</p>
<p>時師見小便不利、大便不實，多用茯苓、澤瀉等淡之藥不以為意。立齋每謂淡滲導損陽氣，反益其病，而兢兢乎慎之，絕不用以治此症。識見超出等夷，吾人不宜輕忽淡滲之劑而頻服之也。</p>
<p>傷飲食者，醫多妄下，使清氣下陷，則濁氣不得降反生䐜脹，故東垣治以補中益氣湯，所以升舉其下陷之清氣，則濁氣自降，不治而愈也。</p>
<p>立齋論傷食不消，若傷性熱之物，用二陳湯加黃連、山楂；若傷濕面等物，用二陳加神麯、麥芽；若傷米食，用六君子加谷糵；傷麵食者，六君子加麥糵；傷肉食者，六君子加山楂；傷魚腥者，六君子倍加陳皮；傷角黍炊飯者，六君子倍加酒麴。若食已消而泄米愈者，此脾胃受傷也，單服六君子湯。若飲食減少，或食而難化者，屬脾胃虛寒，加炮薑、木香、肉果，不應，加五味子、吳茱萸、補骨脂。若脾腎虛寒者，服八味丸，否則，多患脾虛中滿之症。其神麯、麥芽雖取戊土以腐熟水穀，然麥芽一味，予常以治婦人喪子，乳房脹痛欲成癰者，用一二兩炒熟煎服即消，其破血散氣可知矣。丹溪云：麥芽消腎。」《婦人良方》云：「神麯善下胎。」皆克伐之劑，不宜輕用。</p>
<p>立齋云：「凡久瀉脾虛飲食難化之症，多由泛用消食利水之劑損其真陰，元氣不能自主持，遂成久泄，若非益氣湯、四神丸滋其本源，後必胸痞腹脹，小便淋瀝，多致不起。」</p>
<p>痛無補法，自古記之。然立齋治唐儀部腹痛，面色黃中見青，左關弦長，右關弦緊，用益氣湯加半夏、木香而愈。治李儀部腹痛，面色黃中見青兼赤，肝脈弦緊，用益氣湯加山梔而愈。蓋木本剋土，土衰則木愈勝而乘之，故脾病多受肝累，然察色須審黃乃脾色；青乃肝色；黃中見青，乃為木乘土，兼赤則是木土又生火矣，故用山梔以清之，益氣湯本不宜於治痛，加半夏、木香等藥則補而不壅矣。此先生妙手，非他人所及。</p>
<p>大凡腹滿痛按之不痛為虛，痛者為實。蓋此症須細察虛實，虛則用立齋之治法，實則當守痛無補法之戒。至若霍亂腹痛，誤飲米湯即死，屢屢見之，不可不慎也。</p>
<p>予少患下元氣虛，不能多言，稍不戒則氣怯不可狀，丹田若無物者，甚則夜半陰極之時陽氣欲脫，手足厥冷，汗大泄，一交子醜氣乃漸復，此係腎陽衰弱之候，常服溫腎之藥於滋陰料中，多用菟絲子、枸杞子、肉蓯蓉、五味子、鹿茸、紫河車之屬，遂得漸愈。前症因目病誤眼黃連丸頓劇，要知陽衰之症寒藥所最忌，如知母、黃柏之屬最傷胃中生髮之氣，即平人亦不宜多服者。又《本草》云：「升麻、川芎，下虛人忌服。」予服四物湯川芎稍多，服補中益氣湯失加人參，皆頓覺下虛，前病陡發，藥之響應如此。</p>
<p>予自二十四歲患下元虛怯，中年大受其累，終日以三緘為戒，至四十後漸充，老年反無此苦，豈壯年氣反不足耶，抑老來得力於服藥之久耶。予弱冠患傷風不遠床第，每晨起即鼻重流涕，竟日痰不絕口，留連月餘遂見痰中縷血，遺害無窮。諺云：「傷風不醒結成勞。」蓋金水二臟，情關子母，金傷則不能生水，子瀉則其母愈虛，水不能制火，火乘金而金益敗，此勞嗽之症所由成耳，信乎！傷風雖小，病最不可不慎者，故補脾保肺乃養生家第一義，而肺病極宜斷色欲，相關相應捷於影響。</p>
<p>予臨場慮不耐風寒，合玉屏風散服之反自汗津津不止，蓋防風與黃耆各等分之謬也！《本草》云：「黃耆得防風其功愈大」。用黃耆七分配防風三分，斯得之矣。</p>
<p>予弱冠患痰中縷血，憂惶特甚，治以清痰涼血之藥，殊不效。以憂病，病日進，面熱而手冷，喉膩而口乾，兩背不舒，夜作微熱，幾成瘵症。就醫吳門，醫者投以芩連之劑，甫兩服，忽然手冷過肘，足冷過膝，陡覺鼻中出冷氣，神魂飄忽如從高橋下墜，陰陰然莫測所止之狀，急呼姜酒飲之，速煎人參湯加姜服之，神稍定，延名醫張蓮水診之，云：「無害，平調之可矣，勿以寒藥傷。」而遂服熱藥也，治以八物湯加天麻，予遵服二三十劑，神氣雖稍寧，然自此陽氣頓衰，三冬必以火自隨，而慘慘浙瀝之象幾無生人之樂矣。予後閱方書云：「鬱火之症最忌寒涼，犯之當死。」予本以憂鬱成此火症，竟犯此忌，不死幸耳！初以陰虛致疾，到此則陰陽兩虛，乃大服溫補氣血之藥及紫河車、紅鉛、秋石之屬，病乃稍瘥。縷血之症，十餘年間不時乍發，後來置之度外不復省視，竟爾相忘。予睹友人患此症者頗多，俱未見夭折，要知此症亦非難治之症也。</p>
<p>壯熱是火，不時發熱是無火，火衰而浮火不歸源，故反致發熱。</p>
<p>立齋云：「凡人飲食起居失宜，見一切火症，悉屬內真寒而外假熱，故肚腹喜暖，口畏冷物，此乃形氣病氣俱屬不足，法當純補元氣為善。」內傷症似外感，一時難辨，立齋以腹喜暖、口畏冷物二者別之，最為良法。</p>
<p>心為君火，可以水折，可以涼治。相火為龍火，不可以直折，當從其性而治之，故世間之火可以水滅，至於龍雷之火及火井之火，見水則熾，得火則滅，此亦絕可異事而有妙理存焉。蓋真陽虛耗，故火不歸源而變為假熱之症，此必用桂附等佐補藥引火歸源，而後遊行之火始伏。乃信此理微妙，世醫少知。</p>
<p>又有腎陰虛，陽無所附百發於外，亦見假熱之症。王太僕云：「大熱而甚，寒之不寒，是無水也。」當峻補其陰，用加減八味丸大料，多加肉桂以恣飲之，陰虛而用肉桂者，寒因熱用之意也。大凡以熱藥治寒症、以寒藥治熱症，一時格拒不入，故用一味引而從之，其理至妙。有熱藥冷飲、寒藥熱飲之法，亦即此意。</p>
<p>大凡勞心好色者，久則陰虛火盛。若入房而驟病者，多屬陽虛火衰。</p>
<p>勞則發熱無時，此係氣血俱虛之症，但補其虛，不宜治其熱，此予所經患者。</p>
<p>丹溪醫案有人足熱不可加綿，自誇壯實。丹溪云：「此陰虛也，不治將痿。」其人不信，年近四十患痿而死。又云：「人有熱氣從臍下起者，此名陰火，又有從湧泉穴起入腹者，此為火起九泉之下，百不救一。」予久病後患左腎常熱年餘，忽覺足熱，其火遊移不定，或發於足面，或發於足心，或發於兩腿，雖不至如所云起自足心衝入腹內，然大概相類此症，不勝憂疑，據丹溪治法，須用四物湯加知母、黃柏等劑，予向忌寒涼，不敢依此治法，仍用溫暖之藥，竟無大害。蓋腎熱、足熱，其為陰虛水少，此不待言，智者知之，但治以寒涼，非徒無益，而又害之，惟用補腎養血之藥而以暖藥引經，則以火伏火，其火自平，此即龍火井火見火則滅之義。予此病十年方愈，後亦間發，惟能堅信確守無欲速之心，如法調治，與病相忘，久而自去，若遵丹溪之法以求速效，此時墓木已拱矣，謹揭以告同患。</p>
<p>面赤、吐痰多是虛火，不可作實治，予少時患面熱、手冷、喉膩、多痰、夜熱，謬認為火症，不服溫補之藥，以是久而不愈。</p>
<p>王損庵先生論陰虛之症，謂自子至己屬陽，自午至亥屬陰，陰虛則熱在午後子前，寤屬陽，寐屬陰，陰虛則汗從寐時盜出也。升屬陽，降屬陰，虛則氣不降，氣不降則痰涎上逆而連綿吐出不絕也。脈浮屬陽，沉屬陰，陰虛則浮之洪大，沉之空虛也。治法不宜遵丹溪四物湯加知母、黃柏之方，宜用薏苡仁、百合、天門冬、麥門冬、桑白皮、地骨、丹皮、枇杷葉、五味子、酸棗仁之屬，佐以生地黃汁、藕汁、乳汁、童便等，如咳嗽則多用桑皮、枇杷葉，有痰則加貝母，有血則多用薏仁、百合，加阿膠，熱盛則用地骨皮，食少則用薏仁至七、八錢，而麥門冬常為之主，以保肺金而滋生化之源，無不應手而效。蓋諸藥皆稟燥降收之氣，氣之薄者為陽中之陰，氣薄則發泄，辛甘淡平涼是也，以施於陰虛火動之症，猶當溽暑伊鬱之時，而商飈颯然倏動，則炎敲如失矣！與治暑熱用白虎湯同意，然彼是外感，為有餘，故用寒沉臟之藥，而後能輔其偏。此是內傷，為不足，但用燥降收之劑而已，得其平矣。予病時，前方亦常用之，頗為相宜。又云虛勞之疾，百脈空虛，非黏膩之物填之，不能實也。精血枯涸，非滋濕之物濡之，不能潤也，宜用人參、黃耆、地黃、天麥門冬、枸杞子、五味子之屬煎膏，另用青蒿以童便熬膏，及生地汁、白蓮汁、藕汁、人乳什、薄荷汁，隔湯煉過，酌定多少，並麋角膠、霞天膏合和成劑，每用數匙湯化服之。按此膏補益之功甚大。予病時，常煎此服之，頗得其力。大略前言薏仁之屬，治肺虛，後言參耆地黃膏之類，治腎虛。</p>
<p>昔時治吐血者，皆言犀角地黃湯，近世醫家亦多悟此症不宜以寒涼遏之，治法稍稍異矣。有言此病只須服六味丸者，予亦常聞之，至立齋兼用益氣湯，則先生之獨見而時師不敢措手者也。人謂此症系血熱妄行，但知求端於陰血，而不知陰陽互為其根，非兩截不相關者，先生透明此理，故每兼用六味丸及益氣湯以取效。此症畢竟大吐者，危於咳血者，世醫皆言痰中咳血甚於吐血，未必其然，大都火盛咳頻而血多者，方是危症，若咳稀而血少，此偶傷於熱，或傷於酒而然，但遵立齋法，湯丸並進，久當自愈，不必視為重病而介介也。</p>
<p>內傷發熱，有陽虛。陰虛之別。王節齋云：脈大而無力為陽虛，脈數而無力為陰虛。薛立齋云：陽虛宜益氣湯、八味丸，陰虛宜六味丸，陰陽兩虛宜十補丸。總論二症，雖有陰陽氣血之分，實則皆因脾胃陽氣不足所致。其發熱屬形氣俱虛，故禁服知母、黃柏，恐復傷陽氣，以致元氣下陷，腹痞作瀉，則不可救耳。</p>
<p>立齋論勞嗽見血之症，有勞傷元氣，內火妄動，而傷肺者，有勞傷腎水，陰火上炎，而傷肺者，有因多服天門冬、生地黃寒藥，損傷脾胃，不能生肺氣而不愈者，有因誤用黃柏、知母之類，損傷陽氣，不能生陰精而不愈者，凡此皆脾肺虛損而腎水不足，以致虛火上炎，真臟為患也，須用益氣湯補脾土而生肺金，六味丸滋腎水而生陰精，否則不救。</p>
<p>立齋云：太凡病久氣虛血弱，必致發熱，須用四君子之類，調補脾胃，脾胃一健，氣血自生。若認為血虛而用四物治陰之劑，徑生其血，則脾土傷而諸臟皆病，虛症蜂起，反為難治，甚則不救。立齋云：瓊玉膏、固本丸、坎離丸，皆沉陰瀉火之劑，非腸胃有燥熱者不宜服。若足三陰虛發熱者，久服之則大便不實，飲食少思，且兼陰痿無子，蓋損其陽氣則陰血無所生故也。</p>
<p>予少時患陰虛內熱，久服六味丸甚效。此丸性甚寬緩，加首生河車一具，其力便厚。</p>
<p>天王補心丹氣味多寒而濕，脾胃虛弱，六腑溏瀉者不宜服。予服此藥，即苦脾病。蓋火旺脾健人宜服，脾弱人患心血不足者，止服龍眼膏。</p>
<p>予里屠諭德公夫人，患怔忡，聞聲即驚，服天王補心丹立效，則知肝旺人，此丹原自宜服也。</p>
<p>手少陰經不足之症，亦要分氣虛、血虛。心血虛者，必有火，以天王補心丹之類補之。心氣虛者，神思恇怯，須以人參、黃耆之屬補之。</p>
<p>春夏之交，患頭疼、足軟、食少、體熱之症，名曰疰夏，蓋因三冬閉藏之際，不遠女色，及三夏為火土太旺，金水衰涸之時，不行獨宿淡味所致，治用六味丸及益氣湯去升柴，加麥門冬、五味子，或炮姜，或肉桂。</p>

<h1>卷之二</h1>

<h2>醫藥篇二</h2>
<p>`遺糟`</p>
<p>`痿痹`</p>
<p>`感冒`</p>
<p>`郁`</p>
<p>`瘧`</p>
<p>`雜治`</p>
<p>夢遺之症，其因不同，治亦罕效。此病患之者甚多，非必盡因於色欲過度，以致滑泄。大半起於心腎不交。凡人用心太過，則火亢而上，火亢則水不升，而心腎不交矣。士子讀書過勞，功名心急者，多有此病。其心一散，則火降水升既濟，而病將自愈。凡病起於心，大都非藥石之所能療。先大夫少年極苦此病，蓋用功過苦，名心太急所致。每臨場則愈頻，陽事少著物即遺，苦無可奈，將床蓆俱穿一大孔，以臥使其無著。是科發解，武林居停，邀其親戚女客飲喜酒，相率觀解元公書室，則床蓆有大孔，皆莫解其故，以為笑談。一自發解後，夢泄便希，及登第後，則愈稀矣，予少年亦苦此，迨登第後頓稀，漸老愈減。於是益信此病關心，不可獨責於腎。心病非藥石所能療，故治遺少良方也。</p>
<p>不夢而遺，謂之遺精。予年三十二曾患之，龜頭時有精微微流出，晝夜常然。予初時驚懼特甚，人身中幾許精血，而堪此涓涓不絕乎。醫之高明者，慰予無害，但毋服澀藥。予病以誤服附子得之，知是火症，勸予涼補而勿熱補，仍服六味丸加沙苑蒺藜、菟絲子及炒黃柏少許等藥，將此病付之度外，莫置諸懷，如常將理，凡兩年而始全愈。龍骨、牡蠣等藥，從未入口。蓋人身中惟氣血周流斯快暢，豈可澀之使滯，雖得暫效，貽害實深，患者審之。予初有懼心，及兩年間應酬如常，絕無倦態，豈此精與交媾之元精不同，故無大害耶。</p>
<p>肌肉蠕動，方書亦指為風。薛立齋獨主氣血虛熱，不作風治，此論高出等夷。予向患指麻時，亦見此症，但補氣血，不治其風，故不受其害。</p>
<p>予四十七歲，忽患小指麻軟，時作時止，每夏愈而冬甚。素聞指麻當防中風，固講求予防之法。有言宜法風化痰者，其說大謬。有言宜順氣活血者，謂氣行則痰自消，血活則風自滅，其言近是。及讀薛氏醫案治蔣州判，中滿、吐痰、頭暈、指麻，先生云：「中滿者，脾氣虧損也；痰盛者，脾氣不能運也；頭暈者，脾氣不能升也；指麻者，脾氣不能周也。遂以補中益氣湯加茯苓、半夏以補脾土，用八味地黃丸以補土母而愈。後惑於《乾坤生意》方云：凡人手指麻軟，三年後有中風之疾，可服搜風、天麻二丸以預防之。乃朝餌暮服，以致大使不禁，飲食不進而歿。」夫預防之理，當養氣血，節飲食，戒七情，遠幃幕可也。若服前丸以預防，適所以招風取中也。予讀之快然，確守先生之法，蓋於今十有三年矣。</p>
<p>予既信服立齋之書，又遇海昌名醫陳月坡，診予指麻之症，議與薛合，將補中益氣湯加減，令予作丸服之。醫家守古方皆謂湯不可丸，丸不可湯，獨月坡以湯為丸，殊是創見。予遵而服之，其力大勝於湯。予病後弗能勝勞，服前湯未效，自服此丸，遂覺勞而不病。然則古人所立湯丸之方，亦不必守膠柱之見也。</p>
<p>立齋謂指麻是脾氣不能周，真確論。惟脾氣不周，又不加意調攝，以致虛而愈虛，故忽有中風之症。若認指因風而得麻，而預餌祛風之藥，以防之，真所謂招風取中矣。蓋搜風等丸，多戕賊脾胃之藥，斷不可輕服。凡人脾氣不傷，雖病可療，若脾元一敗，盧扁卻走。《乾坤生意》等書，誤人不淺，故非明理之儒，醫書不可亂讀。</p>
<p>凡臂痛指麻等症，粗工無不以風治，至於口斜、語澀、痰湧，更無不確信以為風者，薛立齋治法獨推本於脾，而必以補脾肺之藥奏效，斯真元元本本之論，不可為粗工道者。</p>
<p>立齋治高金憲兩腿倭軟無力，勞則作痛如刺，人皆以為風。立齋曰：此肝腎陰虛火盛所致。痿軟者，真病之形，作痛者，邪火之象。用壯水益腎之藥而愈。前症往往認為風，輒用發散，而促其死者多矣。</p>
<p>予己酉夏，應試南都，與姊丈吳公甫聯社課藝，見公甫步履微有不便，云苦腿痛，精神固無恙也。聽庸醫之言，以為風濕，遂專服祛風燥濕之劑。形容日槁，八月間，見咯血之症，肌肉盡削，至冬而歿。即此驗之，則腿足痠疼，不可概作風治，也益明矣。腿足皆足三陰部位，多系肝腎陰虛，法宜滋補，顧反服風藥以耗之，寧不速其死！</p>
<p>王節齋云：凡中風偏枯麻木症之痰，必用南星、半夏。立齋云：先用前藥清其痰，即用六君子之類扶胃氣，痰自不生。若概用風藥，耗其陽氣，而絕陰血之源，適足以成其風，益其病耳。</p>
<p>時師治人感冒，不論形氣虛實，輒忌人參。不知古人論虛人感冒，不任發表者，服補中益氣湯，夫參且忌之，而令服耆、術，有不驚而咋舌者乎。予初病外感，憚不敢服參，名醫朱心園始教我助正疏邪，不妨並劑。及覽方書，亦有觸發，遂取補散兼施，頗覺相宜。後至黃耆與防風並用，亦未見壅閉外邪。大概醫家立論不同，止有二說，一則謂外感之候，必須先散而後補；停食之候，必須先消而後補。一則謂攻補可以兼行。兩說每致枘鑿。予初亦不能無惑，乃後屢以身試，始悟。氣體壯實者，可以散之、消之而後補。若氣體虛弱之人，必先扶其正，而後可以攻其邪，一補一攻，邪氣乃去。倘泥於先攻後補之言，則邪氣未即去，而元氣已先傷矣，可不戒哉！</p>
<p>凡人感風寒，醫家必云，不治邪將入內，須及其在表而散之。殊不其然。予遇體中不快，或時發熱，未審是外感，是勞傷，將補藥、表藥一概停止，惟避風靜養、禁葷、啖粥以守之，恆得漸愈。蓋外感勞傷病形相似，誤藥有大害。即曾誤服紫蘇湯數口，體便狼狽，每至夜分後，即自汗，大費調理，不可不慎。</p>
<p>外感肩背拘急，勞傷亦然，不可誤認。其餘方書辨之甚詳。</p>
<p>人感風寒，兩背必覺拘束不快。及服表散藥汗之，而拘束猶故，此榮衛傷而血氣不充故也。若外邪猶未盡，而再表之，則受虛虛之禍矣。</p>
<p>立齋云：凡感冒咳嗽，若誤行發汗過多，喘促呼吸不利，吐痰不止，必患肺癰。今人但遇傷風咳嗽，即服疏散之劑，請以此語為鑑。</p>
<p>凡惡風寒流清涕及寒噤噴嚏等症，只宜茹素避風，好自調理，不可輕服散風之藥。《薛氏醫案》中，載誤服疏風藥致體麻、痰壅，壯類中風，治以益氣湯加門冬、五味而愈。可不慎歟。予腠理素虛，自幼畏風，風寒一襲，涕嚏隨至，甚則發熱，汗津津不止。少時不知醫理，謂必先散其風，而後服參耆以實之。豈知愈散愈虛，外感益易。四十歲以後，方悟此理。遂以補中益氣湯丸為常服之藥。若值外感，但守服益氣湯，而疏散之藥禁不入口，茹素避風以守之，數日自愈，而元氣不傷。要知腠理疏豁之人，即感冒亦不可輕易發表，慎之！慎之！</p>
<p>立齋論咳嗽云：肺氣虛則腠理不密，風邪易入，治法當解表兼實肺氣。肺有火則腠理不閉，風邪外乘，治法當解表兼清肺火，邪退即止。若數行解散，則重亡津液，邪蘊而為肺疽、肺痿矣。</p>
<p>又云夏月尤當服六味丸壯水以鎮陽光。</p>
<p>凡痰火症時，師必禁用熟地，以其膩也。多用橘紅、貝母、天花粉等藥，以消痰，及涼藥以降火。常觀先賢用六味丸稍加別藥以治痰而奏效。蓋痰因火動，補其陰則火降，而痰自消，若專治其痰，脾胃先傷，而痰終難治矣。況又有腎虛而水泛為痰者，尤宜服六味丸。予常患痰症，不輟六味丸未見膩膈、助痰，而屢以得效。</p>
<p>立齋治痰，每言腎虛水泛為痰，法當補腎。予壬申秋，咳嗽多痰，自知因於色，遵先生法恪服六味丸，更不治痰嗽，月餘竟愈。時師治痰，最忌熟地，以為膩膈，是烏知箇中妙理哉？</p>
<p>歸脾湯治脾而開鬱，逍遙散治肝而疏郁，治郁此為妙劑。他藥恐耗散元氣，宜慎用之。</p>
<p>立齋云：大凡久瘧乃屬元氣虛寒。蓋氣虛則寒，血虛則熱，胃虛則惡寒，脾虛則發熱，陰火下流，則寒熱交作，或吐涎、不食、泄濁、腹痛、手足厥冷，寒戰如慄。若誤投以清脾截瘧二飲，多致不起。按山瘧久不止者，多成壞症。想不遵此治法，而醫藥亂投之故。予表兄沈鴻生孝廉，精神素旺，自閩遊歸，患山瘧幾一載，元氣都耗，後瘧雖止，而面黑眼黃，見者驚異，如是又二載，卒以鼓脹亡。先生指久瘧為元氣虛寒，信為確論。</p>
<p>立齋截瘧，法以參、術各一兩，生薑四兩，煨熟煎服，即止。或以大劑補中益氣湯加煨姜尤效。生薑一味亦效。</p>
<p>立齋治瘧，與時師迥異。時師大都用黃芩、柴胡之類，謂必先散其邪，而後用補劑。予少時曾患此，雖不敢服清脾截瘧等藥，而所服皆柴胡、黃芩之劑。十四、五發方得止，亦甚狼狽矣。此病最忌生冷葷腥，使滋味淡泊，邪氣自衰。予病時守戒甚嚴，瘧止後，茹素者半月，饞極乃葷，以是脾胃頓開，飲食較未病前倍增，精神始旺。</p>
<p>立齋治好飲酒而致脾虛濕熱者，用六君子加葛根、神麯、山梔。蓋葛根、葛花能解散酒，神麯能消酒積，山梔能瀉火。然葛根、葛花解肌疏腠理，神麯伐脾、敗血，山梔性寒，體弱人亦宜審用。王宇泰先生《準繩》中，載有飲酒發熱人，治以補劑加乾葛，猶不禁其散，而極言治酒病者無如枝矩子之妙，此物一名枳椇，一名木密，俗乎癩漢指頭，北人名曰爛瓜，江南謂之白石樹。杭州貨賣名密屈立，詩所謂南山有拘是也，樹形似白楊，其子著枝端，如小指長數寸，屈曲相連，春生秋熟，經霜後取食如抬美。以此木作屋柱，令一室之酒味皆淡薄。趙以德治酒人發熱，用枝矩子而愈，即此也。又曰此物蘇州亦有呼為密六曲，徽州最多，呼為金鉤子。九月有之，予留意遍訪，尚未得見也。</p>
<p>立齋云：凡傷酒泄瀉之症，若濕熱壅滯，當用葛花解醒湯分消其濕。濕既去而瀉未已，須用六君子加神麯，實脾土化酒積，此雖為酒而作，實因脾土虛弱，不可專主濕熱。</p>
<p>古方治目赤，多用疏散寒涼之藥，本體虛弱人不宜服此。予乙亥春，患目竟不服藥，俟其勢梢殺，即服四物湯加甘菊、決明等養血之藥，三七方愈，雖無速效，而氣血不傷。</p>
<p>予少時神氣不足，患目每用目稍過，輒酸澀無光者累日，博考方書多雲六味地黃丸可治目。予連服二、三料，目疾轉甚，改服別方，補腎養氣血之藥，始得稍愈，後讀《醫學鉤玄》，有目病不宜服六味丸辨，謂澤瀉、茯苓滲水，山茱萸不宜於目，言之甚詳。以予驗之，此論良是。予從今思之，目病有屬血虛，亦有屬氣虛者，予血固不足，氣則尤虛。薛立齋治兩目緊澀，不能瞻視，以為元氣下陷，用補中益氣湯，倍加參耆而愈。予悔往時不多服前湯，而專事於補腎養血，以致久不痊。治四十後以指麻，多服前湯，原無意於治目而目光漸亮，始信往時之誤，予幼時患風弦爛眼，甚受其累，百藥罔效。遇一陳姓醫士，於長安邸授予白未藥，令敷於眼眥患處，隨敷隨愈，取效如神，不肯傳方，予略訪之，云有吐蛔在內。吐蛔者，小兒口中吐出蛔蟲，收干候用，其中想更有制就蘆甘石配之者，真奇方也。</p>
<p>立齋引東垣先生之言，曰五臟六腑之精氣，皆稟受於脾，上貫於目，脾者，諸陰之首也，目者，血脈之宗也。故脾虛則五臟之精氣皆失其所司，不能歸明於目矣。心者，君火也。主人之神宜靜而安，相火代行其令。相火者，包絡也，主百脈皆榮於目，若勞役過動，熱乃妄行，又因邪氣所並，而損血脈，故目病生焉。凡醫者不理脾胃及養血安神，治標而不治本，是不明正理也。若概用辛涼苦寒之劑，損傷真氣，將促成內障矣。</p>
<p>予中年患痔，點洗都不效。惟白蘿蔔煎湯，頻洗差佳。近讀《琅嬛集》中載經霜冬瓜皮同朴硝煎洗翻花痔，立愈。又法以白蘿蔔代冬瓜亦效。冬瓜未之試，蘿蔔已驗矣。　</p>
<p>予座師茅五芝先生長公茅子京，偶於臀間患一毒，地非要害，直易視之，子京素知醫，恐痛傷元氣，輒服人參，其毒愈甚，發寒熱，乃始延醫，又遇粗工，潰後胸滿，應服參耆，反不能多服，竟致不能收口而沒。蓋癰疽初起，先宜瀉毒，而後議補，若補之太早，遂有此禍可鑑也。</p>
<p>凡臃腫、結核等症，世人多視為外科之症，而付之瘍醫。立齋以為此屬腎水虧損，肝火血燥筋攣，法當滋腎水生肝血，用六味丸益氣湯治之，其有胸脅等處，大如升斗，或破而如菌如榴，不問大小，具治以前法。</p>
<p>立齋論瘰癧，乃脾經血燥，當清肝火滋腎水，不宜令外科竟作痰治，多成懷症。</p>
<p>予年三十時，臀生一小瘤，根細如線，而頭如豆大，越十年而漸大如荔，有妨跨馬。予有鑑於決瘤之說，不敢醫。常嘆曰：吾年若六、七十，此瘤當如碗大，必妨行坐矣，奈何？既而嘆曰：吾若得至六、七十，即礙行坐亦何妨。遂安意養之，及四十七歲時，偶擦傷瘤皮，水滲出不止，予懼其成漏，乃延潘慧峰商之。潘云：欲去此瘤甚易，塞此漏甚難，瘤去則漏自滿矣。予不得已聽其泊。潘以藥塗瘤，甚痛，其肉盡黑，少頃血出津津，予甚懼且悔，不復求治，但求止血之藥，越宿則黑肉已堅如石片，數日脫去，其根尚存如豆，水出仍不止。予復商之。潘云：不去其根，漏仍不可塞也。又以前藥點之，痛甚，肉黑如初，次日復點，凡三次，內服托裡散，每劑用黃耆五錢，旬日堅肉脫去，則根已平，仍服托裡散，外用長肌收口藥，絕欲息勞，以漸收滿，肌肉完好。予之服藥守禁，固勤且慎，而潘君亦可謂妙手矣。</p>
<p>予窗友賀立庵方伯常言其伯父賀岳精於醫，刻有《醫經大旨》。曾治一孕婦，蔣坐草，患小便不通，百藥不效，愈飲愈飽，束手待斃。賀君診之曰：此乃脾氣虛弱，不能勝胞，故胞下墜，壓塞膀胱以致水道不通。大健其脾，則胞舉而小便自通矣。以白朮二兩，土炒，加炒砂仁數錢，別加一、二輔佐之藥，服一劑小便立通，其神如此。予常記此言於懷中。壬寅歲，內人有妊，臨月意同此症，醫藥無功，危甚。予以此法告於醫者，喜醫者虛心。如賀法治之，立效。遂舉長子寅錫，予若不聞言，母子均殆矣。</p>
<p>予家有女流，患便癰，兩拗腫痛不能起，瘍醫用散毒藥十餘劑，以圍藥逼之出膿，腫痛愈甚。予查薛立齋《外科樞要》，此症皆因鬱怒傷肝得之，治用加味歸脾湯、加味逍遙散間服，遂遵而服之，不三劑而腫痛減半，六劑而起，藥能中病神效有如此者。予孫孟溥，出痘，起發貫漿，俱如法，惟回漿太早，九朝左臂發一痘毒，醫家通用清熱解毒之藥，不四劑而寒戰咬牙之症作矣。醫家泥於豆毒，不敢用參朮，止用歸耆，而尚欲兼解毒。予謂痘後氣血俱虛，復以塞藥傷脾，故見斯症。陽氣已虛甚，即有歸耆，亦何能濟，而況尚兼清解乎，必無幸矣。於是詳考立齋《保嬰撮要》寒戰咬牙門，用十全大補湯，即痘毒門初發時只用仙方活命飲一、二劑，旋用托裡散，助其元氣，則未成可消，已成可潰，設使氣血不充，則不膿不潰，難以收拾。予於是斷以已意，服十全湯三劑，而寒戰止，再數劑而咬牙定，乃延瘍醫妙手，外治其毒，內服參耆歸術不輟，凡匝月而全愈。當寒戰症作，臂腫方掀，用藥頗多疑慮。人參且不敢多用，而況白朮，至於桂更不敢用至三分者，予嘆曰：予生平服立齋之書。立齋不誤我，豈獨誤此孩乎。即誤寧誤於立齋，遂決意用大劑參朮加桂至五、六分，不惟寒戰、咬牙之症得痊，而臂毒亦旋愈。立齋之治幼科，其妙亦如此。</p>
<p>余媳申氏多鬱怒，忽患不月，腹漸大，疑有妊。醫者視之，亦以為妊也。十餘月而弗產，諸症動見，乃始疑之。醫者亦以為蓄血之症，時有欲下之者，眾議以為體弱不能勝，止可暗消，於是久用行血、調血之藥，而不敢用下血之藥，竟弗效。厥後醫藥雜投，遂至不起。餘一日偶閱《震澤紀聞》載盛啟東治東宮妃一案，大為悔悼，永樂中東宮妃張氏，經不通者十閱月，眾醫以為胎也，而脹愈甚，上命太醫院盛啟東診之，一一如見，妃喜甚，及出而疏方，皆破血之劑，東宮大怒曰：早晚望誕育，而用此方其可乎，置之，數日病益劇。乃復召診，啟東仍疏前方，東宮用其藥而禁其人，家人惶怖以為不免。越三日歸，紅棍前呼，賞賜甚盛。蓋妃服藥，下血數斗而疾平也。予媳病正與此符，當十月外，既確知非妊，即宜大膽下之，當可得生。惜醫家無此膽，不亦傷乎！予倩孫培之得胡與辰金鉛丸，有一比邱患山瘧久不止，與一丸服之，減半，再與一丸，頓止。蓋山瘧屬元氣虛寒，金鉛丸能助陽氣，故兩丸而竟愈也。予家有庖丁王姓者，生平多欲，年四十患腳痛，往針於茗上。予謂此足三陰虛，針無益也。數年後，患痰喘胸中痛，晝夜不能眠。予謂此腎虛，氣不歸源，峻補其下，則氣自降。適名醫陳月坡來診，其持論與予略同。奈病者服陳藥嫌其作悶，別尋粗工治之，大服降氣寬中之劑，服後覺寬，寬後復發。病者尚以暫寬為效，信服之，以至於死，良可嘆也。大凡此等病服藥，初覺悶，久當漸寬漸愈。愚者嫌悶而別求寬藥，死者比比而是。如脾虛者亦然，初服術必作悶，久則自寬。破氣消導之藥，服之覺寬，久乃愈悶，至不可救，病者不可不知。</p>

<h1>卷之三</h1>

<h2>醫藥篇三</h2>
<p>`品藥`</p>
<p>人參，固補氣，亦能補血，蓋補氣而血自生，陰生於陽，甘能生血也。王節齋謂：勞疾陰虛服人參過多者，不治，恐是一偏之論。蓋節齋方論用參最少。與時師動必用參者，其弊相等。惟肺受火邪實熱與夫陰虛勞極而喘急者，則忌用耳。予幼時參價甚賤，十五、六歲時，亦時服參，憶一兩止價三錢耳。後曰漸騰貴，不數年，價即與銀等，迨後，價益高，甚至三鍰，東事敗後，參之騰湧無足怪，前此何以頓貴耶？蓋前此醫者多不敢輕用參，每等於附子，用者少故價賤。後來服參如果，無人不用，且世俗日益奢，參之價勢不得不日高，乃世變使然，亦可慨也！</p>
<p>乾地黃性寒，而鮮地黃尤寒，不宜單服，恐傷脾胃。鮮地黃搗取自然汁不見水，煎膏貯磁瓶，經年不壞。懷慶土疏而田多山泉，故質大而味厚，予曾陪巡懷慶，用意覓大地黃不可得，士人云：上等地黃一出，即為客人販往蘇州，本地止存次等者。諺云：出處不如聚處，信然。</p>
<p>黃耆之功不下人參，但性太綿密，能閉腠理，有邪者禁服，不如人參之補而能宣耳。然補益之功，似出人參之上。我郡岐黃家，多不敢用耆，惟恐誤補邪氣。王字泰先生用耆最多，予少病時，因服耆不多，終不能勝勞，而汗症莫療。四十歲後，大服補中益氣湯，計一歲服四、五斤，然後能勝勞，而汗症漸減。往時多服參而無濟，後來兼服耆而始效。予故駕其功於人參。外科毒潰後，用生耆補托，予臀後生一瘤，醫用藥點去幾成漏，每日加耆五錢於諸藥內，服之竟得收功。</p>
<p>王節齋云：藥之氣味不同，如五味子之味厚，故東垣方，少者五、六粒，多者十數粒。今世醫或用二、三錢，深以為非，吾地時師悉遵此法，獨王宇泰先生及繆慕臺用藥五味子甚多。王先生治夢遺，單煎五味子膏一味，考《元和紀用經》五味子散止一味，近來兒曹苦夢遺，以五味子一味為丸，服之良效。又種子方以五味子、肉蓯蓉各等分，丸服，則東垣之言，似亦不必拘也。</p>
<p>白芍藥，為助脾瀉肝之要藥，治瀉、補脾方中多用之。薛立齋獨言有損於脾，罕用此藥，想以其性寒耶。養生家審之。</p>
<p>凡汗症人，桔梗、薄荷亦不宜輕服。紫蘇，人忽視之，其發散更甚，鮮者其力尤猛，非真有感冒不可混食，《本草發明》云：若下元虛及怒氣上升，不可服桔梗、升麻。</p>
<p>砂仁能下氣，凡中氣虛人不可服。</p>
<p>石菖浦能通心氣，養心丹中多用之。然心氣不足者少用，以能散氣也。</p>
<p>腎藏志，故補腎藥中用遠志。</p>
<p>菊花，清香妙品，又能益血祛風。點茶、釀酒俱快事，同地黃釀酒能黑髮，作枕治頭風明目，葉亦明目，香不減花，人不多用之何耶？</p>
<p>肉蓯蓉、五味子各等分，加蜜丸，助陽、種子。友人言有奇效，予未之試。</p>
<p>澤瀉一味，有醫多用之，十劑而五者。薛立齋每言淡滲之藥，不宜輕用。惟泄瀉水火不分時，暫用一、二劑以分利，既分即不可滲泄，恐導損陽氣，變成脹滿之症，治者審之。</p>
<p>大黃極不宜輕用，因大黃妄下而致殞者，予目中蓋屢見矣，即痢之初起，大概宜早下，然亦須審形症是強、是弱，而後斟酌用藥。方書中原有老弱不可下之說，慎勿可輕。</p>
<p>仙茅助陽，原非常用之藥，有人極贊其功效，予宦南安，檇十餘斤歸以遺友，應大室方伯不受，復予柬云：此藥有毒，能殺人。予遂不敢以相遺。尚容再考。</p>
<p>附子，信不宜輕用。予少患下元氣虛，誤服寒藥，以致夜半氣脫，虛汗大泄不止，飄飄似將絕者，心中惶懼，煎參附湯服之，用熟附至錢余，病雖少定而火症大發，旋患遺精，兩載方愈。近年，曾因中氣誤服克伐之藥，以致頓虛，參、朮、耆等藥服之，竟不應。遂於補中益氣湯內加熟肘子三分，服一劑便覺腰熱之病復發，後患鼻衄，左鼻管中時時有乾血，在內調養一年餘，方得愈，附子之氣烈乃爾。若加於地黃丸內，則有眾養陰之藥和之，便不覺其熱矣。</p>
<p>予常閱《本草》，成都節度張益州進豨薟丸，表頌其功用之妙不可殫述。及閱繆慕臺《本草經疏》言，凡病人患麻痹、骨節疼、腰膝無力，由於脾胃兩不足，非因風濕所中而得者，不宜服此。予深服其言。蓋豨薟之性，輕揚而香，治風、治濕信有神功，斷非補益之藥，若誤信而久服，必損神氣。</p>
<p>向讀《本草》，贊豨薟丸之妙，久服可以輕身延年。予初患指麻，人咸謂宜服此丸，予以為雖祛風而無傷元氣，制之與補劑兼服。然心疑之，天下無祛風而不傷元氣之理。友人徐顯甫在燕，亦患指麻，單服前丸一月餘，精神大減，步履俱艱。遂改服補藥一月餘，步履始得如故，乃知此藥亦是耗損元氣之物。《本草》之言，未足信也。</p>
<p>《本草》云：人知蘭花之香，不知蘭葉之妙，散陳郁之氣，治消渴、利水道、益氣生津、潤膚逐痹。如此妙藥，而人多棄之不用，可惜也，蘭乃幽蘭。</p>
<p>忍冬花，摘鮮者釀酒，清香可愛，此藥久服可免癰疽等症。香而有益，不服亦愚矣。</p>
<p>枳實性烈而速下，有推牆倒壁之力，若中氣不足者，雖兼補劑亦不可用。方書極言枳朮丸之妙，予服之閱月，脾胃久傷，終身受害。慎之！慎之！</p>
<p>厚朴性亦猛厲，虛弱之人宜審用。《本草》言：誤服脫人元氣。予中氣素弱，每因腹痛誤用少許，即覺中氣衰憊，無不立見。有時加於六君子湯中，亦覺大傷中氣。要知此藥，非純善之物，即參、術同用，亦不能勝也。</p>
<p>藿香，須自種乃真。</p>
<p>吳茱萸、辛熱氣猛，下氣甚速。要知吳茱萸醬雖快口，亦不宜常服者。</p>
<p>蘇合香，甘溫而性走竄，能散氣，故蠟丸不宜輕服。</p>
<p>竹葉、竹瀝，皆取淡竹者為佳。世多不辨，混取雜竹而用之，安能對症療疾。又淡竹草開翠花者，俗亦名淡竹葉，鄉人不識藥性，有妄認以為是者，亦謬矣。</p>
<p>橘皮下氣，脾虛人不宜常食。予常於中氣虛時，偶服一、二片，即覺氣虛不堪，以是知亦所宜忌。</p>
<p>龍眼肉，《本草》言，其能補心脾，功與人參並。若患心血少，以龍眼煎膏收貯，任意酒飲之。予少時，思慮傷神，後來每遇勞心，輒覺心中枯燥，幾有心火自焚之象，服此膏屢效。</p>
<p>山楂，消肉食，亦疏肝氣，亦去食積痰。然有積滯者，宜食；無滯，不可用。棠球大於山楂，其消食亦同，每見人造楂膏及楂丁，以為食用之供，脾弱人不宜混食傷脾。予中氣素弱，每傷肉食，用六君子湯加山楂煎服，不覺其消，有時而暢，或胸中無食滯而誤服前劑，即覺中氣頓虛，乃知此藥亦非和緩之劑，故參朮不能勝其消克也。</p>
<p>人陰毛中生蝨，名八角子，貼伏毛根最癢，惱人。相傳此蝨不醫，延及頭髮眉毛，其人當死。治法以生銀杏搗爛敷合毛上，隔宿其蝨盡死。予少年曾患此，用此法神效。有友為予言，生此蝨者，運會將否之兆。予患此之後，抱病十餘年，備嘗苦楚，其言果驗。</p>
<p>胡麻最有補益，古人稱為仙人飯，配別藥名胡麻丸。又方獨制一味，為胡麻餅，用鱉色胡麻擇淨淘洗，攤於蒸蘢內，以滾湯從上澆之。此藥油最多，蒸蘢下如絲流掛，久而不止，俟掛盡上鍋蒸之，蒸熟曬乾，又如前法入蒸寵內，以滾湯澆之，又蒸又曬，九度乃止，牽搗為末，煉蜜為餅。飢時可以當飯用，酒下之頗香，甘可食，久服明目延年。但苦油多，不宜於溏泄者，亦不宜以茶湯下之。予遊宦常攜此，以充飢代飯。</p>
<p>神麯，能消面、谷等宿食，人皆視為和易之藥，殊不知性亦克伐，能墜胎。予常誤服，中氣頓虛，故知亦不宜輕用者。</p>
<p>大麥芽，能消食如神麯，但能消腎水，不宜多用。</p>
<p>吳中所造豆豉，味美而不可入藥，《本草》所載淡豆豉出江西。予宦湖西始嘗此味。泰和產者良，其味亦有韻，可下酒，粗人不識也。</p>
<p>予家有僕婦，患小便不通之症，時師藥以九節湯，腹漸滿而終不通，幾殆矣。有草澤醫人，以白蘿蔔子炒香，白湯吞下數錢，小便立通，此予親見之者。</p>
<p>薄荷性涼能散熱，紫蘇性溫能散寒，皆散氣之劑。世人不識藥理，暑月每點薄荷湯代茶。紫蘇以作餅、作蔬，忽為食物，不知多食大損人氣。</p>
<p>香薷乃散陽氣、導真陰之劑，真中暑方可用。今人畏暑，輒浸冷而快服之，適所以招暑而取病耳。若元氣素虛，及房勞過度者，尤不宜服。立齋云：人有患暑症，沒而手足、指甲或肢體青黯者，皆不究其因，不溫補其內，而泛用香薷之類所誤也。</p>
<p>丹砂、雄黃乃金石之藥，非水飛極細者不可服，服亦不宜多。</p>
<p>元明粉性涼消痰，予曾聽方士煉服，亦未見效，《本草發明》云：仙經雖備述其功浩大，若臟腑虛寒，脾胃氣弱不可服，此為格言。</p>
<p>六一散，非盛暑中奔走極熱不宜服，能損脾胃，蓋此藥乃利竅滲濕熱之劑，誤服之，則耗津液矣。</p>
<p>爐甘石煅過，治風弦、爛眼甚效。</p>
<p>亂髮煅成血餘入藥，最能補血，胎髮更效。</p>
<p>麋、鹿是二物，麋乃鹿之大者。麋茸性熱、補陽。鹿茸性溫、補陰。麋角冬至解，鹿角夏至解，大有分辨。今人概指為鹿茸、鹿角而混用之，何耶？世上通行鹿膠不甚效，須加毛角數枝方有力。</p>
<p>鹿角膠，人皆以透明者為佳，殊不知毛角制就者，其色黑暗，品之優劣，全不繫明暗也。聞善制此膠者，將角入竹籃內，置長流水中任其流滌侯淨盡煎之，則毫無渣滓，照之色如琥珀可愛。然渣滓滌盡，血氣亦無存矣，亦何益於治病，徒為觀美則可耳。</p>
<p>阿井之水相傳是濟水，其色綠，其性急而沉，其體較他水頗重。予曾至其井取試之，蓋濟性清而下，故阿膠能益肺降火，膠必得烏驢皮煎者，兼補腎臟，斯為合法。然世間阿膠，皆雜驢皮所煎，非親制不可得也。</p>
<p>羚羊角，相傳明目益肝。予因目病服之殊無效。</p>
<p>敗龜板取其自死者，血肉盡滲甲中，氣性全具，故佳耳。予聞之王字泰先生云：龜性最戀軀殼，故死後，其甲尚靈，可占吉凶。有人久服龜板，腹中滋生小龜無數，以此病死，確有證驗。故王先生用藥多不用龜板。</p>
<p>煉服紅鉛，實為有益。予之得延，藉力於此非淺。予往時病丹田氣怯不能言，百藥不效。遇一醫家，以五氣丹授予，才兩、三服，即覺氣充能言，其效如此。是後自畜鼎器，廣收紅鉛製服。較之草根樹皮，功真倍蓰。烏衣巷聶逆元之五炁丹，名聞海內。予曾服之，果效。李鴻臚進光廟之丹，予亦曾嘗。有友張中吳以紅鉛製為一粒丹，用乳調勻，灌於鼻內，男左女右，以鼻孔向上仰承之，名為進大藥，密室中避風，避勞，或三七，或二七日，淡味將理，斷欲百日，果有奇效，能回陽助元，予曾兩試之。</p>
<p>予生平亦甚得紫河車之力，炙乾河車不佳，性熱動火。取鮮者，長流水洗去惡血，其淡紅水不必盡去，再用酒漉一遍，瀝去酒，入磁瓶封固，重湯煮之一晝夜，熟爛為度，配以藥末，搗為丸。如藥末多，仍加蜜。其藥方，視人症候所宜，大約入補陰藥中最合。有人謂河車性熱有火，人不宜服，此說最誤人。河車乃是補血補陰之物，何常性熱。但以其力重，故似助火耳。配藥緩服之，何能助火。胞上紫筋，有謂宜盡挑去者，非是，此乃自然之血筋，非惡血比，挑去則損功力。</p>
<p>秋石入藥，必須水煉者佳。古人取秋露煉成，故名秋石。今露不可多得，惟以清水煉之。若火煉者，則精華已去，徒存鹽質，恐未必能補陰。且鹽濕亦難以入藥。古方所指秋石，決指水煉者而言。</p>
<p>附子加於八味丸中，有地黃等陰藥佐之，便不覺其熱。加於補中益氣湯中，其性便熱。予曾加三分，服一劑鼻衄頓發，數載受其患。</p>
<p>古方用何首烏以赤白各等分用，今以得何首烏，一時難兼兩種，勉強成丸服之，亦效。近來吾鄉多不可得大者，若重二斤，便為奇貨。出山西者最大，六、七斤者甚多。予宦於虔州覓此藥，亦有重三、四斤者。但人言此藥出越中者良也。他地所產服之多不效。予虔州所得以制七寶丹，功力果遜，人言或者其然。</p>
<p>七寶丹古方服之甚有益，加杜仲四兩，名八珍丹，人稱其更佳。此藥若得大何首烏重三、四斤者，更得赤白相配恰合，則功力當更有大焉。</p>

<h1>卷之四</h1>

<h2>養形篇上</h2>
<p>人身中精氣雖分陰陽，然真陰真陽原有互根之妙、相生之理。天下未有真陽固密而陰精不足之人，亦未有陰精充滿而元陽不壯者。但燥熱之陽，乃能傷陰，沉寒之陰，乃能傷陽。經固有少火、壯火之別，則陰可類推矣。至若飲食、藥物之陰陽，積寒、積熱，必能傷氣傷精，又不可不慎，陰陽均不可偏。然凡人調攝，則助陽必兼助陰。陽闢則火也，陰闢則油也，火，有氣、有形而無質，油則純以質用矣。氣非形質則無所附麗，厚其形質，元氣乃充，故如螢者此火，燎原者亦此火。火原無衰旺，因所附以為衰旺。吾人日用飲食，總是補之以味，總是補其精，精補則氣自足，若舍形下之器，別無形上之道。</p>
<p>補虛助弱，用藥概須溫和，久服自能奏功，乃無留害。如知母、黃柏之屬，太寒傷氣。桂附之屬，太熱傷精。即有陰虛勞瘵，亦宜投以清和之劑。若折以苦寒，火未必退，脾家元氣先傷。即有陽虛怯弱，亦宜佐以溫養之方，若助以辛熱，少火未生，壯火先灼，養生者慎之。</p>
<p>人身如天地，和煦則春，慘鬱則秋，春氣融融故能生物，秋氣肅肅故能殺物。明乎生殺之機者，可與論養生。</p>
<p>心為一身之宰，脾為萬物之母，養心、養脾，攝生最要。</p>
<p>王節齋云：涼風、寒露、霧濕氣，體弱者常須避之。汗出及脫衣去襪之時，莫當風取涼，最易感冒。惱怒尤忌之，酒後亦忌當風取涼。脫中襪後，便用手多磨擦，令毛竅閉為妙法。予生平確守此忌，蓋氣血本虛之人，又以不慎招外邪，再傷其氣血，大非所宜耳。</p>
<p>予病時，俗人相慰云：常病大仙。予時笑以為迂，後見強壯者，忽登鬼籙。而多病者，或得綿延，始信恆言，卻有至理。蓋無病者，以有所恃而縱恣。常病者，以有所懼而冰兢，故得失相反如此。予當年筮病得《否》之九五曰：「其亡其亡，繫於苞桑」意，正與此合，慎之時義大矣哉。</p>
<p>頻浴亦非病者所宜，能耗元氣。</p>
<p>予生平有滿奮之畏，然有時衝風行路，雖大風不感，有時坐臥閒居，偶微風竟病。予深維其故，蓋行路時精神勇往向前，我氣勝，故風不能入。坐臥時，精神懶散，則腠理疏，故風得襲之耳。風中尤不可睡，睡即腠理開，邪最易入也。</p>
<p>予中氣為誤藥所傷，遂覺虛弱，不能耐飢。丁巳歲，隨同邑卿大夫謁上臺，談三邑田糧事，日旰不了，予受飢一時中氣虛怯，倦怠自汗，服補中益氣湯數十劑，中氣方稍稍復然。自此，益不能耐飢。予每出必以乾糧從，而對客多不便食，予乃制補脾藥為大丸，日攜之囊中，偶值飢不得食，即服數丸，腹便果然。予歷宦途二十載，而脾胃不受病者，賴此藥之功。</p>
<p>體弱人，每事當知所節，節欲、節勞、節飲食，此其大要。子瞻云：傷生之事非一，而好色者必死，人當好色情濃時，特提死之一字，敵之可得衰減，凡用心、用力及用目、用耳，一切事稍覺其勞，即便卻去以節省之，稍息再勞，庶不至受病。若待病而後調之，費力多而取效難矣。失飢傷飽，脾胃乃傷，養生家有言，未飢先食，稍飽即止，此是保脾胃良法。然世途中人，安能如此愜適，但常存此心，便不至於大飢大飽，以傷天和矣。</p>
<p>醉之為害，不可勝言。其於節欲更須戒醉，醉後最易犯欲，《內經》言，醉以入房，養生大忌，能致百病。蓋醉里乾坤，另一光景，生平瑾凜，頃刻恣睢，尊生一念，遂置度外，故攝養家切忌縱欲。</p>
<p>凡人患膿顆癤子，雖曰濕、曰熱、曰氣血不和，畢竟還是氣血有餘，故少年人多患此。予弱冠前亦然，及病以後永無此患，想氣血不旺之故也。至若癰疽之毒，則有所以致之，有因心懷鬱結者，有因好飲火酒，喜炙爆者，有因陰血涸者，不可不慎其因。昔王損庵先生曾對予言，人參養榮湯若人終身服之，可永免癰疽之患，蓋以能調和氣血也。忍冬藤時時釀酒服之，亦可以解此。</p>
<p>古人言，毋以脾胃熱冷物，毋以脾胃軟硬物，毋以脾胃熟生物，可謂至言。</p>
<p>暑月，勞役於暑中及炎房逼淺受暑而病者名中喝，其避暑納涼於深林大廈之間而病者，名中暑。攝養家於三伏之候，但居於寬廠稍涼之處，使不至中暍即已。切不可因熱貪涼，處於陰寒之地以為怏。暑中勞役非人情所樂，此必出於不得已，然後利與此身亦須稍分輕重，至於遇涼招疾，乃所自取，於人何尤。</p>
<p>四時偶遇怪風，切須謹避，《內經》所言厲風殆謂此。《內經》論風之為害獨詳。要知避風亦是攝養家要事。古云：避風如避箭，避色如避仇，真藥石之言也。風固宜防，露尤須避。風屬陽，露屬陰，陰氣中人最易得疾。故夏月不宜久坐露下納涼，秋來多致患瘧。每日將昏時即有露氣，其氣能直透房櫳，故夜臥須閉窗而後睡，次日體自舒健。</p>
<p>諺云：早飯要早，中飯要飽，夜飯要少。語語皆格論。空腹莫多言，最能傷氣。中午必須飯，飯必滿量而止，則神氣自旺。晚餐微酣，不可過醉，亦不可過飽，自然神清氣爽。</p>
<p>予少年血氣不足，十日九病，自慮不能老，幸延殘喘以迄於今，中丞、給諫兩兄，生平精神大旺，竟年不滿六旬。蓋予以病，萬分加意保攝，所以得全其生。兩兄役役世法中，藥餌調攝不知為何事，以有所恃而促其算，予病原因於色，後來極其節欲。腠理虛不禁風，坐臥必於屏風處，不敢肆，覺飢即食，覺寒即衣，覺暖即減，覺勞即息，不敢強力以作，生平藥餌無一日輟，初未知醫藥，頗有誤，後識岐黃妙理，大得其益。居官甚有礙於調攝，上鑑兩兄皆以勞心政務得疾而殞，故未老即掛冠，予之重養生也，蓋如此。</p>
<p>晉候求醫於秦，秦伯使醫和視之，曰：「疾不可為也，是謂近女室，疾如蠱。非鬼非食，惑以喪志。」公曰：「女不可近乎？」對曰：「節之。」而引樂以為喻，謂「五降之後不容彈矣。於是有煩手淫聲，滔埋心耳，物亦如之。至於煩，乃舍也已，無以生疾。」又以六淫配六疾，曰：「陰淫寒疾，陽淫熱疾，風淫末疾，雨淫腹疾，晦淫惑疾、明淫心疾。女，陽物而晦時，淫則生內熱惑蠱之疾。今君不節、不時，能無及此[乎]！」要知女色不能絕，必須節之。淫則犯兩疾，人皆知女為陰，不知其外陰而內陽，玄門亦有取坎填離之說，故好色最能傷陰，以其熱也。凡人獨宿書齋，自有一種清明之氣。日與婦人作緣，便覺志竟昏憒，故謂之惑疾。子產聘晉問疾叔向問焉，子產謂：「君子有四時，朝以聽政，晝以訪問，夕以修令，夜以安身，於是乎節宣其氣，勿使有所壅閉湫底以露其體，今無乃壹之則生疾矣。」蓋壹與節相反，壹則耽於女色，而聽政訪問諸務俱廢，安得無疾。然則吾人應酬交際，小勞其身，不能以了世法，亦所以節宣其氣，而養生調性之道也。無論一於好內者之必生疾，即一於安逸者恐亦非保身之道耳。古人之言不可不省，清淨家尊老氏守中之說，大都心息相依，以神御氣，而守之之處，言人人殊，有主臍下一寸三分者，有主臍上一寸三分者，有主臍內一寸三分者，有主性門腦頂者，有主極陰毛際上空穴者，總不如臍上一寸三分之說為正。此是中宮，心腎交通處，試一凝神，其際便覺渾身和暖，此其驗也。中州武弁越效忠，年已七十，精神強旺，提戈上陣，猶同少年。傳予一法則，守眉心，此從來無人道及者，每凝神其際即覺滿口津生，此亦可異，則此法或秘傳也。此君與流賊戰歿，可惜。</p>
<p>彼家之術有損無益，除非練習其心，如所云：「枯木倚寒岩，三冬無暖氣。」然後可至此地位，豈凡夫所可到，而顧浪言採藥哉？色心一動，金水暗消，非徒無益而又害之，此病家所宜切戒者也。</p>
<p>丙申歲，有一老人到禾，自稱一百二十餘歲，即昔之王鉞先大夫邀住碩寬堂者累月，其人狀貌雄偉，乃白社日所生，皮紅髮白，果似高年形象，叩之亦無他秘訣，惟有掐龜之法，未必果佳，又極贊茯神香附二味丸方，為延年之藥，此方《本草綱目》中載之。又每戒人勿坐冷石，蔥有兩丫者，勿食，啖飯以白米為佳。</p>
<p>王聖俞會心言，有云伐天和以成就世事，闢猶割肉飾俎，刺血染裳然，究竟成就亦歸虛幻，徒自伐其天和而已。語有之，寧可疏慵乖物議，莫將性命當人情。此二言可書座銘。</p>
<p>幽靜之趣，最宜於山居。然孱弱之軀，即山居亦有不宜處。山中多嵐濕、雲霧之氣，久處能傷脾氣。予宦延平，署在山麓，是春患脾泄、小便黃澀之症，胸膈不舒，飲食頓減。近年，借隱苕上之妙喜，亦在山麓，所患復如是，俱服八味丸、補中益氣湯，間服清暑益氣湯而痊。若多服分利之劑，則誤矣。</p>
<p>人身中，惟心腎不交，百病生焉。造化至春，天氣下降，地氣上升，是成三陽泰卦，而萬物萌生。人若心火太炎，則天氣不降矣。腎氣不盛，則地氣不升矣。是為否象，精氣何從生？心君火也，火性炎上，故念一起即火炎，念若滅即火息。吾人有一時無念者乎，此火所以日炎，而水所以日涸也。若常常止念靜觀，則心氣自降。心氣常降則腎氣自漸升，而還泰象矣。朱大復先生教人心常放下，目亦常向下。上者降則下者自升，亦交心腎之法也。</p>
<p>臍之內兩腎之中，有一竅名命門穴，乃生氣之源，吾人生身立命之蒂也。常冥心內照，使心常在腎，此亦交心腎之法也。</p>
<p>每見卵中雛，最初生目而後有首，以及子身。目雖竅於肝，而瞳原屬腎，此天一生水之義也。人之機神盡在目，故目疾犯色，光乃不復，此立竿見影，不可不慎。</p>
<p>古人分一身之氣為三焦，予親驗之而信。予初患下氣虛，覺丹田無物者然。繼患中氣虛，覺中宮無物者然。或有時中虛而下痞，有時下虛而中痞。有時服消導、破氣之藥，則中氣頓陷於下。覺中虛而下反實，乃知氣有分屬，固如斯其有界限也。</p>
<p>酒色同為伐性斧斤，戒色困難，戒酒尤不易。予葆攝甚嚴，卻遠帷幙動經歲時，獨是斜陽掛樹，瞑色入窗，思歡伯甚亟，非此便覺無聊。乃知遠色尤易，斷酒極難。郭子云：三日不飲酒，覺形神不復和。若能少飲，養血壯氣未嘗不益人，其如相知晤對，舉盞忘懷，有不酩酊不休者，可奈何！予生平頗善攝生，獨苦不能戒酒。</p>
<p>人設醴以誘猩猩，猩猩明知而故犯，人笑其愚，吾儕亦明知過飲傷人，而每至酪酊，而不覺其異於猩猩者幾何。予竊見多飲酒而少食谷者，往往不壽，尤非所宜。</p>
<p>凡人形體壯偉，不慎酒色，多有卒風之症，而每得之於勞怒。蓋勞則元氣頓虛，而虛火暴熾，怒屬肝木。《經》云：歲木太過，風氣流行，風木一類，故怒則肝火熾而風即隨之也。又憂懼亦能致此病。予侄申錫在燕，適值戒嚴，憂惶兼以多愁，竟卒中而亡，年止四十七歲耳。予患指麻時，彼亦患指麻，皆以此病為憂，予以慎疾得延，彼以不慎不免耳。</p>
<p>鬱怒傷肝尤甚。蓋鬱則火，內遏肝血，燥而大風發，多致卒中之症。故廣識平情，養生要務。</p>
<p>丹溪先生云：腎主閉藏，肝主疏泄，二臟俱有相火，而其繫上屬於心，心為君火，為物所感則易於動，心動則相火翕然而隨，雖不交合，其精亦暗耗矣。故童子未室，亦有腎虛之症。又《精血篇》云：男子精未滿而御女，以通其精，則五臟有不滿之處，異日有難狀之疾。治法亦兼用益氣湯、六味丸二藥。為童子者，何不安心靜守數年，以儲一生受用，而甘虛喪此先天一元真氣耶，亦愚甚矣！</p>
<p>養生者，貴開發其生機，生機一發，則源源不窮，此謂浚於不涸之府。生機有二，使此心常自怡適，而不以憂鬱窒其生機，一也。助養脾土以滋化源，則四臟都有生氣，二也。若不知此機括，雖日報補益良劑，所補曾幾何？</p>
<p>丹溪先生云：天地以五行更迭衰旺，而成四時，人以五臟六腑亦應之而衰旺。四月屬已，五月屬午，為火大旺，火為肺金之夫，火旺則金衰。六月屬未，土大旺，土為水之夫，土旺則水衰。況腎水常借肺金為母，以補其不足。古人於夏月必獨宿而淡味，保養金水二臟。《經》曰：冬藏精者春不病溫。十月屬亥，十一月屬子，正火氣潛藏之候，必養其本然之真而為來春發生之本，若於此時不恣欲以自殘，至春升之際，根本壯實，何病之可言哉。要知冬夏二季，壯年宜寡欲，老年宜絕欲，斯為攝生之道。</p>
<p>《內經》云：腎有久病者，可寅時面向南，淨神不亂思，閉氣不息七遍，以引頸嚥氣順之，如咽甚硬物，如此七遍後，餌舌下津納氣。自是玄門要領。後世千門百竇，總不能出此範圍。</p>
<p>《內經》云：暑當與汗皆出勿止。又云：夏暑汗不出者，秋成風瘧。要知盛暑汗出，乃時令使然，非泄氣散液之比，常於暑月夜臥閉窗汗出淋漓，次日反健。若臥於涼處，次日必倦，即此可知。故盛暑避於陰涼之地，雖一時快意，必至成疾。雖然，若奔趨名利，酷暑褦襶以致大汗不止者，其泄氣傷生，又不可同日道矣。</p>

<h1>卷之五</h1>

<h2>養形篇下</h2>
<p>飲食但取益人，毋求爽口。《本草》須常考訂，毋食病體相妨之物。予脾胃素弱，平生不多食生冷瓜果。雖佳品在列，未嘗朵頤。油膩炙爆，亦不敢食。一切難消之物，俱兢兢慎之。故能保此殘喘。縱口腹之慾，而不自惜其身，不可謂智。</p>
<p>凡炙爆煎炒，病家最忌，助火銷陰，損人不淺。即平人亦不宜食，腫毒、牙疼諸症半因於是。</p>
<p>北方人以面為命，食麵方飽而有力，食米即弱。則面乃大補益人之谷。但《本草》言其擁熱，少動風氣，則亦不宜多食者。至若南方面更為助濕，所宜禁食者也。</p>
<p>北方薏酒，原非薏釀，皆以黍米為之。黍氣薄味清，初飲似清冽，然味薄易醒，不至如南酒之動火生痰也。</p>
<p>酒能少飲，益人甚多。一遇飲至醉，則傷人不淺，多少之間損益霄壤。</p>
<p>河豚魚最發病，攝養家尤不宜食。</p>
<p>酒與茶雜飲，能致酒積。予見人多雜飲，獨予守戒甚嚴。北人稟厚與南人大不同，常見北人於暑月以冰為命，飲之自謂有益。冰果、茶、酒相兼雜下，而脾胃不傷。南人寓北者，罕見有此。</p>
<p>牛乳同酒飲，此常事耳。薛立齋云：酒不可與乳同飲，豈指人乳言耶？然兩者同飲，亦往往見之，想不知應忌耳。</p>
<p>予每遇冬月，常以熱酒飲乳酪。己酉，在南都有方土，令予以牛乳下丸藥，原不言與酒同飲。予不耐膻氣，急呼酒飲之，乳下喉未全到胃，遇酒即凝，膈上遂苦痞悶有妨飲食，消導俱無效，大是可憂。予精思之，此乃乳滓質凝於胸前而不化。酥者乳之精華，取酥與消導藥同飲，當得去此礙膺之物。遂如法治之，果一服即消，物理相制之妙如此。</p>
<p>人皆指西瓜能闢暑，生冷中不甚忌之。殊不知暑中奔走後，覺胸中熱氣填塞，浸冷食之，信可避暑。若晏坐高堂，日以為常供，則有損脾胃，秋來瘧痢當防。</p>
<p>生薑秋不宜食，泄氣損壽元。蓋秋味辛，辛乃秋之本味，故忌之。</p>
<p>枸杞葉作茶嚼，治消渴強陰，解面毒，何不以代茶。桑椹曬乾蜜丸服，開關利竅，通血脈，安神魄，聰耳明目。又絞汁熬稀膏，蜜調服，能去火毒，解金石燥熱，止消渴。《本草》著其功效如此，人何不多取而服之耶。採桑條作寸斷，炒黃色，煎湯可以代茶，最益人。</p>
<p>五加皮，《本草》原言取皮用。今人多摘其芽，此未可解。</p>
<p>胡椒大熱，《本草》言多服損肺走氣，又能發癰疽，大損陰氣，所當痛戒。</p>
<p>飲茶宜熱，冷則聚痰，多飲則少睡，久服則消脂。茶味最清香，令人嗜飲。然虛弱人，止宜候渴而飲，適可而止。若亦欲慕清客之名，勉強飲啜，所損脾胃不小。《序》云：釋滯消壅，一日之利暫佳；損氣侵精，終身之累斯大。此可謂嗜茶者之戒。</p>
<p>橙皮多食傷肝氣，不宜與豬肉同食，發頭旋噁心。</p>
<p>蓮子生食微動氣，干食作悶。鮮蓮亦不宜多食，終是生冷。惟煮食養神。予時食此不輟，和米煮粥，禁津泄、清心，治腰痛止痢，磨作飯令肢體強健。生食須去心，否則恐成霍亂。</p>
<p>藕煮食最益人，同蜜食令人腹臟肥不生諸蟲，秋伺予以此作蔬下酒。</p>
<p>菱性冷，不可多食。煮食則不冷。然作悶不益人。《本草》言冷臟，損陽氣，痿陰，飲熱酒可解。熟食作悶，亦用酒消。</p>
<p>慄能益腎。然生食發氣，熟食滯氣，惟風乾者佳。</p>
<p>枇杷能潤五臟，然多食發熱生痰。</p>
<p>甘蔗共酒食，發痰亦傷脾。</p>
<p>沙糖與鯽魚同食，成疳蟲；與葵菜同食，生流澼；與筍同食，不消成血瘕。</p>
<p>龍眼肉，《本草》言其補益心脾，功與人參並，聞華亭陸平泉宗伯，年幾及百，平日常食龍眼不輟口。予少年多食此果，老來食之齒輒痛，以是不能食，但常服龍眼膏。</p>
<p>柿不可與蟹同食，此人所知也。《本草》言，紅柿忌與醇酒飲，易醉人，且患心痛至死。席間常設紅柿，易於同酒飲，此不可不知。</p>
<p>乾柿氣平不寒，食之無害。</p>
<p>石榴味酸、性滯，能戀膈成痰，不宜食。</p>
<p>胡桃甘溫能補，然動風痰，助腎火。</p>
<p>白果多食，動風作痰。小兒食之發驚。《本草》言如食一千，令人少亡。此果儘可不食。</p>
<p>楊梅性雖熱，亦有消食下酒之功。</p>
<p>榛子大有益，宜食。</p>
<p>梨性流利下行，雖能消痰止嗽，多吹令人寒，中血虛與脾虛者忌食。</p>
<p>丹溪云：飴糖大發濕中之熱，以其甘能滋濕，濕以助熱也。</p>
<p>《本草》去：麻油煎煉餅食與火無異，齒痛及脾疾人，切不可食。</p>
<p>世人皆言糯米補人，考之《本草》云：主溫中，令人多熱，久食令人身軟，發心悸。又云：多食令人多睡，發風動氣，則不如粳米多矣。</p>
<p>大豆性本平，炒食則熱，作豉則冷，作腐則寒而動氣，煮汁則涼而解熱毒。</p>
<p>黑小豆即俗名馬料豆，最益人。</p>
<p>赤豆利水逐精，久服虛人。</p>
<p>綠豆，肉平而皮寒，脾弱人亦不相宜，花能解酒。</p>
<p>蠶豆雖發氣，而能調榮衛。</p>
<p>醋切忌與蛤同食。</p>
<p>白萊菔大能下氣，耗血，消食，較之藥物更迅厲。中氣虛者，切不可食。予常受其害。煮食又多停膈間，成溢飲之症，總非佳品。其子更甚，有推牆倒壁之功。</p>
<p>蔥白通陽發散，更勝於他藥。氣虛人勿服。予常受其害，能令頭汗津津不止，且動火，不可輕用。</p>
<p>韭大益人。五月勿食。與牛肉同煮食，生寸白蟲。同蜜糖食，殺人，此易犯者，謹識之。</p>
<p>胡蒜生啖傷肝氣，損目。久食傷脾肺引痰，養生者節慎之。</p>
<p>茄子性冷，多食損子。白茄蒂與何首烏陰乾，白茄蒂7枚，何首烏各等分，煎服，治對口瘡。</p>
<p>芹菜養精，益氣，保血脈，令人肥健。嗜食常用最佳。</p>
<p>藥菜性冷而滑，不可多食。不可與醋同啖，令人骨屢。溫疫病後食之，多死。</p>
<p>經霜冬瓜皮同皮硝煎湯洗痔，極效。如無冬爪，白萊煎代之，此予所親試而效者。</p>
<p>井華水，平旦時未曾打動，第一汲者，與諸水異。其功廣補陰虛、清頭目。蓋天一真氣浮結水面而未開。以造酒醋亦不壞。</p>
<p>秋露水，清金降火。予曾取以釀酒，其鮮甘之味，難以名狀。</p>
<p>脾弱人宜飲河水，得土氣乃佳。不宜久飲山泉，氣寒傷脾。</p>
<p>人乳，雖養血妙品，然滑腸，脾弱人亦不宜多服。</p>
<p>牛乳與熱酒點服，味甚佳。有言其補益者，有言其助痰者。想少飲則益，多則助痰，理或然也。</p>
<p>羊肉補益之功至與黃耆同，然性易凝結，脾弱人真火衰微，薰蒸力少，難於消化，不食為穩著。</p>
<p>犬肉助火興陽，陰虛火動者，不宜食。其肉較豕頗覺難化，不宜炙食，令人渴。同蒜食損人。</p>
<p>豬肉性熱助火，生痰，不宜多食。小兒尤宜戒之。</p>
<p>豬腰子性冷，久食令人少子。冬月不可食，損真氣兼發虛壅。</p>
<p>兔肉不可多食，傷元氣，絕血脈，損房事，不可同薑、橘食，不可同白雞肉食。兔死閤眼者，勿食。二月食之，傷神。</p>
<p>鹿肉多食，能動人痼疾。</p>
<p>《食戒》云：雞具五色者，食之致狂。六指玄雞、白頭家雞、及雞死爪不伸者，凡雞無故暴死者，食之並傷人。合水雞食，作遁屍；合魚汁食，成心瘕。又不可合胡蒜及李子食，不可合犬肝腎食，不可合芥菜蒸食。有風疾者，不可食雄雞。</p>
<p>雞子和蔥食，短氣。同鱉食，損人。</p>
<p>雉久食令人瘦，發痼疾。不可合胡桃、蕎麥、香藎、木耳等食。自死爪不伸者，食之殺人。春夏不宜食。丙午日勿食。此禽益少損多，食者慎之。</p>
<p>綠頭鴨，白眼者食之殺人。忌與鱉肉同食。</p>
<p>鴨卵滯氣，灰食則無妨。</p>
<p>野鴨不可與木耳、胡桃、豆豉同食。</p>
<p>鵝能動濕，疽病與水腫忌食。俗云能動風，鵝子雖補中益氣，勿多食。</p>
<p>麻雀不可和李子食，亦忌與醬食。</p>
<p>鴿肉能減藥力，服藥人不可食。</p>
<p>七月不宜食生蜜，恐暴霍亂。</p>
<p>多食蜆發嗽，冷氣消腎。</p>
<p>鱉肉合烏雞食，成瘕。合雞子食，殺人。合莧食，生瘕。合芥子食，發惡疾。三足者，赤足者，腹下有十字、王字、五字形者，頭足不縮者，目凹陷者，腹下紅、有蛇紋者，及生旱地者，俱有毒，不可食，中其毒者，藍汁可解。</p>
<p>蟹性冷，傷脾胃，多食發風疾。未經霜者有毒，足斑目赤，獨螯、獨目、或兩目相向，腹下有毛，腹中有骨，六足、四足者，並有毒，不可食。中其毒者，豉、蒜、冬瓜、黑豆、紫蘇煎飲，並可解。</p>
<p>蟛螖傷脾不宜食。（螖音越）</p>
<p>淡菜雖益人，然多食亦令人目闇頭悶。</p>
<p>鯽血雖益人，然多食亦能動火。忌與豬肉同食，又忌犯天門冬。同芥菜食，成水腫。同沙糖食，成疳蟲。忌同豬肝、雞肉食。二、三月忌食頭。</p>
<p>天行病後忌食蟶，又忌食鯉，再犯即死。有宿瘕者，勿食鯉，亦忌天門冬。治鯉須去黑血及脊上兩筋。有毒，誤中者，浮萍可解。鯉魚子不可同豬脾食。鯉魚鮓不可同豆藿食。</p>
<p>有瘡者忌食黑魚，令人白瘢。</p>
<p>患疳痢者，不可食魴魚。</p>
<p>鱓性大溫，多食令人霍亂，亦動風氣。</p>
<p>青魚忌與葵、藿、葫荽同食，亦忌蒼朮。</p>
<p>鱸魚不可與乳酪同食。</p>
<p>鰻鱺水行昂頭者，有毒。</p>
<p>蝦不宜多食，發瘡動風。又一種無須蝦，及煮色白，腹下通黑者，並有毒。作鮮能毒人。</p>
<p>食餛飩過飽，飲餛飩原汁，即消。食一切肉過飽，飲熟食店中所儲原汁，亦可消，蓋店中所儲之汁以之煮肉，一滾即爛，故店家珍重此汁而藏之，以此消肉有至理焉。凡吃某物過多停滯者，即燒此物成灰，存性，服之即消，有人食乾柿過多，欲死。食以柿霜，即愈。市上索粉中多雜以小粉。食此過傷者，飲以黃漿立消。予向以酥消牛乳之停，總此一理耳。</p>
<p>申元渚司馬雲，吳中何公良俊之父，年百歲余，問以服食調養之法，何云：別無他法，惟每辰食糯米糰子而已。世俗多言糯米補益人。考之《本草》又言，其性熱不可多食、久食。是未可解。</p>
<p>曾覽高氏《尊生八箋》，注：萱草花苗皆可作蔬食。千葉者食之殺人。予向戒不食。後見北路所種多千葉者，心疑之。予家園中有千葉花，人多采食之，絕無恙。予因諦審之，此花地瘦即單葉，地肥即變千葉，原非兩種。高氏之言，蓋承訛非親試也。</p>

<h1>卷之六</h1>

<h2>續養形篇上</h2>
<p>五穀皆補養脾氣之物，一煅成灰，反能消食者何？蓋火能軟堅化物，燼從火化故也。諸灰能消食，亦能傷脾，功用不減于山楂、神麯，不可忽之，以為食物而多服、常服也。</p>
<p>予半百時，微有怔忡之意。若犯房室，則是早怔忡特甚，即不犯房而不遠女色，或其寢未免動火，則亦微覺怔忡，但不甚耳。如獨宿，則泰然。自六旬絕欲以來，此病遂愈，即勞心亦不發。要知心腎一脈相通，怔仲之症，未可專求之心也。</p>
<p>已卯冬仲，予患沿爪出水而癢，有友教予：頻以重石壓之，壓出血水多多許即愈，不復作膿、作痛。其效亦神矣。</p>
<p>粵東陳探花諱子壯者，專服黑小豆。初一日服一粒，初二加一粒，以後漸加至十五粒，至十六日則減一粒，以漸而減，至次月朔又服一粒起，如是循環無窮，用白湯生吞下，不為末，久久大得益，補腎、烏鬚髮，大有奇效。</p>
<p>泉州黃宗伯諱汝良者，年九十餘，猶然精神不衰，飲啖如故，平日服補中益氣湯、還少丹二藥，故是佳品，宜其得力。還少丹與打老兒丸相同，止少續斷一味。</p>
<p>予同年朱司寇廣原第二子諱茂昭字子藻者，少年時眉絕少，有風鑑相之云：如此好眼，若有眉稱之，必得駿發。子藻每從人求長眉之法。有一方士，自言有藥，但服數釐，眉即生矣。遂進末子藥六、七釐，戒以服藥後，切須避風。服之夕即有汗，偶值有賊至，乃出庭除，及歸寢，大汗不能止，綿被俱濕透，幾至亡陽，遂大憊，自後服人參數十斤，補藥無算，閉戶調理十餘年，始得復元。後亦不壽。藥之不可輕服也如此。或云：此藥是鬧羊花，未知是否，方士已遁，莫可問也。</p>
<p>寢臥不得多言笑，譬五臟如鐘磬，不懸則不可發聲。（以下出《昨非齋目纂》）</p>
<p>養性之士，唾不至遠，行不疾步，耳不極聽，目不極視，坐不久處，立不至疲。先寒而衣，先熱而解，先飢而食，先渴而飲。不欲甚勞，不欲甚佚，不欲多啖生冷，不欲飲酒當風，不欲數數沐浴。不欲規造異巧。冬不欲極溫，夏不欲極涼，大寒大熱、大風大霧皆不欲冒之。五味不欲偏多，酸多傷脾，苦多傷肺，辛多傷肝，咸多傷心，甘多傷腎，此五行生剋，自然之理也。</p>
<p>《太素·丹景經》曰：一面之上常欲得兩手摩之使熱，高下隨形皆使極匝，令人面有光澤，皺斑不生。行之五年，色如少女。先當摩切兩掌令熱，然後以拭兩目，又順手摩發，如理櫛之狀。兩臂亦更互以手摩之，使發不白，脈不浮。</p>

<h2>續養形篇下</h2>
<p>蠣黃肉，《本草》載甘溫，煮食治虛損調中，治丹毒，酒後煩熱，止渴。炙食甚美，令人細肌膚，美顏色。海錯大約多損脾，獨此補益且其味亦冠海錯，予於閩中，備嘗海產，無如此味之佳，但煮食，腥氣不堪，必以厚味先煎後煮，乃佳耳。炙者罕見，惟於泉州有一友，見餉乾者，其味果佳，大勝淡菜。粵東亦有此，頗大而味不佳。</p>
<p>水□即芹菜，《本草》載甘平，養精、保血脈、益氣，令人肥健嗜食，《本草》中佳品也。但生於水田中者，多有螞蝗匿其中，難於選擇，不可輕食。《本草》又云：水芹生黑滑地，食之不如高田者宜人，名白芹。余田者皆有蟲子在葉間，視之不見，食之令人為患。</p>
<p>石耳生於石上，故名。《本草》載甘平，久食益色，至老不改，令人不飢。又云：明目益精，作茹勝木耳，蓋佳品也。此品入素蔬，平平耳，以之煮肉，則味絕佳。予於九江時食之，蓋產自廬山者。</p>
<p>絲瓜之性，世俗相傳以為至寒，食之敗陽。及考《本草綱目》則云甘平。又載《生生編》，指為暖胃助陽。抑何相反之甚也，竊觀《本草》載：此瓜除熱、利腸、去風、化痰、涼血、解毒，治痔漏下血等症。又載其通經絡、行血脈。則知此瓜應是甘涼之氣味。若曰助陽則何以涼血、解毒。若曰性冷，冷則凝，又何以通經行脈，確然甘涼，吹之無損。</p>
<p>冬瓜，俗傳為暖肚之物，考之《本草》，甘、微寒，大能散熱毒，利小便，則非暖腹可知。</p>
<p>黑小豆，《本草》所不載，止載大豆，及《綱目》注何首烏有用黑小豆蒸曝之語。世傳黑小豆方藥功用甚盛，不知《本草》何以獨遺，惟《食物本草》載一種黑小豆最佳，陶節庵以此豆入鹽煮熟，時常食之，謂能補腎。要知此豆功用更勝大豆也。又皇甫《本草發明》載，黑小豆即藿豆。《本草》只言黑豆小者入藥，並無馬料豆、藿豆之名，蓋即此豆是。也。此豆北方最多，以之餵馬，故名馬料豆。販此至者，只至常州而止，並無粒豆到三吳，覓之苦不可得，是不可解。往時，吳中少馬，故此豆不來，今大亂之後，北馬在三吳武林者甚多，而此豆終不至，更不可解。</p>
<p>食粳米以晚白米為上，以其性涼益人。李時珍曰：六七月收者為早粳，止可充食。八、九月收者為遲粳，十月收者為晚粳。北方氣寒，粳性多涼。八、九月收者，即可入藥。南方氣熱，粳性多溫。惟十月晚稻，氣涼，乃可入藥。遲粳、晚粳得金氣多，故色白，能入肺而解熱也。早粳得土氣多，但益脾胃。</p>
<p>丈人責子路五穀不分，吾輩自思之，吾亦不能分晰確然也。稱黍、稷、麥、菽為五穀，見於朱注矣。其所稱梁與粟又是何物，考諸本草名家之說紛然，總非確論。惟《綱目》李時珍所訂，庶幾近是。然以稻獨指為糯米，竊以為未然，稻是大米之總稱，為粳、為糯、為秈，總皆稻之類也。而粳有早、中、晚、水、旱之殊，糯與秈有赤、白、水、旱之別，或有芒，或無芒，據鄉人分別不下一、二十種，總以稻冠之可也。黍與稷是小米之總稱。時珍曰：稷與黍一類而二種，黏者為黍，不黏者為稷。稷可作飯，黍可釀酒，猶稻之有粳與糯也。竊見北人總稱為小米為黃米。然稷之生也，形似蘆粟，其子叢生，直立於苗端，而米粒細。黍之生也，形似稻，其子疏散，分垂於苗端，與大米相似，而米粒較稷稍粗。其種迥異，一為黍，一為稷，斷斷無疑。麥有大麥、小麥、蕎麥，人皆能辨之。菽為諸豆之總名，亦人所易曉，惟《詩經》又有黍稷稻粱之稱，《周禮》又有九穀、六穀之名，有粱無粟，意粟即是粱，又有云大而毛長者為粱，細而毛短者為粟，則是一種而稍異者耳，即今之蘆粟是也。《本草》又注粟米即小米，則更可疑。竊見北地頗多種蘆粟者，呼為膏粱，亦是粱即粟之一證，然日用嘗食盡是稷米，呼為小米，膏粱間取以佐食，不以為正糧也。釀酒之黍米亦呼為小米，未聞呼蘆粟為小米，今《本草》指為即小米，毋乃淆混而無別耶！至於南人種蘆粟甚罕，普天下多食粳、秈二種。今言粱即是粟，則食粟者寡矣。何以粱之名目古今稱之比比耶？愚見竊謂五穀之名見於經傳，谷當以五為準。粱與粟乃古者大米小米之通稱，《論語》冉子請粟，齊景公曰：雖有粟。《孟子》米粟非不多，農有餘粟等類，豈非粟乃米穀之通稱乎。若必指粟為即粱，即蘆粟，即小米，寧不小視粟而大費唇舌耶。且《本草》已標蜀黍為蘆粟，則粟又是黍類矣，何以又曰即粱耶？至於秫也者是糯米之別名。陶淵明好酒，田皆種秫，陶是九江彭澤人，地宜大米，則秫非粱粟可知。李時珍所云稷之黏者為黍，粳之黏者為糯是矣。又云：粟之黏者為林，豈其然乎？予宦九江二載，從未見有小米酒，則陶之秫斷是大米無疑也。《食物本草》所載，諸谷訛亂尤甚，亦可謂五穀不分者矣。</p>

<h1>卷之七</h1>

<h2>續醫藥篇</h2>
<p>五運六氣之說，《內經》詳言之。後賢疏注更詳。但至於今，而按之天時民病多不相合，豈古今氣運不相同耶？近者武林徐季孺，刻有《運氣商》，言之尤悉，其於間氣闡發極精，及按之天時民病，亦多不合，也是不可解。竊謂治病者得是說而存之，用藥時稍為照顧。如相火司天，又兼行火運，則有藥不可過熱，遵熱無犯熱之禁，於寒亦然。如相火司天而行水運，即用熱亦無妨。或行金土運，亦似可不拘，或膠柱鼓瑟而斤斤株守，恐反多窒礙而致誤，矧原有舍時從症之訓，則不可違症以從時也明矣。《經》云：「必先歲氣，無伐天和。」二語須認明白。如先哲「熱無犯熱，寒無犯寒」之說，則是夏不可用熱藥，冬不可用寒藥，春不可助木，秋不可助金矣。又讀《本草綱目》，李時珍之言曰：春宜加辛溫之藥，以順春升之氣。夏宜加辛熱之藥，以順夏浮之氣，秋冬准此。以上二說相背，當何適從？獨不觀經又云乎。」升降浮沉則順之，寒熱溫涼則逆之。」斯二言可為定案矣。春宜順春升之氣以升之，秋宜順秋降之氣以降之，至於夏浮冬沉，非謂必以辛熱苦寒、浮之沉之也。薄荷、香薷等非浮劑耶，地黃、牛膝等非沉劑耶，此四時不可以一例論也。所謂逆之者，寒則熱之，熱則寒之，溫則涼之，涼則溫之也。豈與升降浮沉例論乎。《經》又云：春省酸增甘以助脾，夏省苦增辛以助肺云云。春則木旺土虧，故欲抑木以助土，夏則火旺金衰，故欲抑火以助金，則逆之說更瞭然矣。至於順之說，亦概論用藥之理宜然，又有當舍時從症者，不可泥也。升之不己為浮，浮之義何居？如陽氣外浮，夏月多汗，理之常也。若居處太涼，飲食過冷，或過服斂藥，使汗不泄，秋必生疾，此其一端可類椎矣。故謂夏月伏陰在內，不宜飲冷固是，然夏至一陰生，正宜保護微陰，其可輕服桂、附等藥以銷之乎。則夏令宜辛熱之藥，其說非也。降之不己為沉，沉之義何居？如陽氣潛藏，神氣宜斂，若內外煩勞，精氣多泄，或服升散之藥，使氣耗散，春必生疾也。故謂冬月陽藏於密，不宜又服熱藥固是。然冬至一陽生，正直保護微陽，豈可輕服連、柏等藥以傷之乎。則冬令宜苦寒之藥，其說非也。知此則無伐天和之奧義可明矣。（上總論運氣）</p>
<p>崇禎戊寅之冬，錢塘錢仲馭進士患肺癰，諸藥不效，有人教服陳年醃芥菜滷，一服輒效。甚以為奇。後晤友人沈聖思，言其母氏當年曾患斯症，亦賴斯物以救瀕危。又一僕人母亦然。此滷頗有藏之者，天寧寺某僧房慣貯之，詢知用醃芥菜滷貯於磁罐埋地中，其地須有人往來踐踏者方有效，埋數年乃用之，愈久愈妙。但飲一、二甌即效。繆慕臺《本草經疏》亦載此方，則云用百年芥菜滷久窨地中者，飲數匙立效。其義以芥辛溫，得鹽水久窨之氣變為辛寒，辛寒能散痰熱。芥菜主通肺氣，所以治肺癰有神效也。然不須百年窨，數年即可用矣。</p>
<p>《本草經疏》中魚腥草下，又注單用搗汁，八年久芥菜滷飲之，治肺癰有神，然可不須也。（肺癰）</p>
<p>小便淋瀝，乃腎氣虛不能注射而然，試觀童子溺如一線，且能遠射，男子漸散如珠，至於淋漓，則腎病可憂矣。余嘗患此，服八味地黃丸更加紫河車，甚效。（淋瀝）</p>
<p>余辛巳秋，自當陽遷閩海，患脾泄乍止乍發，藥之不效。壬午春出汎漳、泉，又代署興泉道篆，陪直指出巡，飲食不得調，病乃大劇，脾泄不止，飲食減少，五更脹滿，小便淋瀝，幾成中滿之候矣。亟服八味地黃丸，及間服金匱腎氣丸，佐以補中益氣、六君子二湯。自五月朔服至八月，病乃漸瘥。至冬，而脾大健。癸未，宦於廣州，至秋而前病復發，及甲申之春而更劇，諸症俱至，此時則八味丸等藥亦無效矣。予乃覓首生紫河車一具加於八味丸內服之，頓效。乃知河車功力，信不可誣。（脾胃）</p>
<p>壬午之秋，余自閩調粵東桌長，以重陽後十日行、閏十一月望後度梅嶺時，余脾健體佳甚樂也。南雄一路最苦無酒，所飲皆瓶酒，有蘇合等諸香氣，余素所忌者，不得已強飲之，是月終旬，舟望江口驛，此時余患瘡疥者一年矣，不服別藥，惟飲金銀花酒，偶以此花五、六錢煎湯半甌，攙酒飲之，時己申刻矣，酉刻抵江口將祭江，以腹飢復飲瓶酒數杯，忽覺虛汗發額，頃之又覺頭暈，勉強了祭江事，急登舟，則漸入昏沉去矣，時次兒子錫隨任，急過喚余，喚數聲始應，又復昏去不醒。舉家驚駭，以為中風也，急煎獨參湯，次兒喚余復醒。兒問曰：此可服否？余首肯，服之，停數刻吐痰半杯，少覺清爽。次兒問余，應用何藥？余口授，次兒筆之，余曰：此必蘇合香，散氣使然。且服獨參湯，因就寢，則心已明朗，不復昏沉矣。小睡而醒，以手捫身，捫一處麻一處，大是可畏。次日，食粥服藥調理稍安。越二日，舟望平圃日方午，余體漸健，開窗看山，因啖飯先飲酒數杯，爾時只謂受香酒之累，且以金銀花為治瘡佳藥也，復以花入酒飲之，飯甫畢，而頭暈復發，一如向晚之候，翌日而蘇，乃始疑金銀花之作崇。時有僕鳳鳴者，以手痛生毒，亦煎此花酒服之，輒患暈眩，乃益信此花之毒，不然一服即眩，何立竿見影之如是，而誤咎蘇合，則冤矣。蓋此花非余所親收，乃從樟樹鎮肆中市來之物，不知雜何毒草在內，以致害人爾。信乎藥物，不可不慎！尼父沽酒，市脯不食，豈無見乎。幸不大病，數日即平復。臘月十八日，履任後不復患此症。則知誤藥之因，而非本原之病矣。於此見宦遊不可不攜知事子弟，設是時，次兒不侍，家人延庸醫，誤進他藥，又不知作何狀矣。（中毒）</p>
<p>凡人腿足痠疼、軟弱等症，大半是足三陰虛損。見人用針者，多不效，不惟無效，且促其壽，予親見有二人矣。慎之！（腿足痠疼）</p>
<p>鉛粉即女人搽面之物，最能解毒。予次子痘後靨有未落者，好以手搔爬，血肉淋漓，敷藥不效。一人教以鉛粉塗之，即塗即靨而愈。此神方也。後以撲諸瘡，俱妙。（痘瘡）</p>
<p>寧都曾友憩素園，攜一姑蘇僕來，偶園丁有子患痢，蘇僕即傳一方與之，用大鰻魚骨一條並頭，新瓦炙存性為末，黑糖調薑湯下，服之旋愈。適友人朱伯思之子亦患噤口痢，甚危，轉傳此方，服之亦即愈。（滯下）</p>
<p>予少病目神無力，多視便覺酸澀，時醫多勸予服養血滋陰之藥。就診於王宇泰先生，遺予手扎云：治目之藥，世醫多主滋陰降火，而先代名醫皆主升陽補氣。雖互有得失，而古人之說為長，況尊目能見細字，絕無昏花，但不耐久，此其不足不在陰精，而在陽氣明矣。正宜服益氣聰明湯。今略為更定如左，其方：蜜炙黃耆、人參各二錢，升麻、柴胡各七分半，甘菊、白芍藥各一錢，枸杞二錢，炙甘草、黃柏各五分。煎，空心服。再煎，食遠服，三煎，臨臥服。後來驗之，畢竟養血無效而升氣得力，先生誠有卓見。（目疾）</p>
<p>牙齒上齦痛腫連面頰，系足陽明胃經風熱。予患此服清胃散半劑即愈。藥如中病，效固如此。王先生所刻《證治類方》載此方，升麻用一錢，牡丹皮五分，當歸、生地、黃連各三分。而薛立齋所刻《內科摘要》載此方，黃連用一錢六分，升麻二錢，其餘各一錢。王方分兩太不勻，薛方似妥。蓋薛所刻方皆經立齋刪定，甚有斟酌，較之他本，分量多有不同。如藿香正氣散，薛本少白朮等四味，更覺清楚。（齒痛）</p>
<p>乙酉歲六月間，予避亂，小船奔走冒暑而不覺。處暑前即患血痢。予年老不敢服下藥，但調之而已，凡七日而愈。然痢雖愈而血未止，兼以大便燥結，艱難為苦，治之半月無效，讀《玉機微義》，有柿乾燒灰末之，米飲調服一方，考之《本草綱目》，亦載此方之效驗甚詳。因覓此藥服之，不及一兩即愈，可謂神方矣。（便血）</p>
<p>是歲小雪前在山中，又患瘧，間日而發。予不患此病者，五十餘年矣。未有大感冒而得此，想山中之氣時行使然。初次發於黃昏。方書云，發於子後午前者，屬陽易愈。發於午後子前者，屬陰難愈。予憂之，又讀丹溪論云，凡邪深入於臟者，必提出於腑，達於表，一汗可解。予因多服升提之藥，而不甚攻其邪，二次即升至申時，三次升至己時，四次升至辰時，五次升至寅時，即愈。（瘧疾）</p>
<p>薛立齋治瘧，極言補中益氣湯之妙，醫案內雖開列仲景諸方，云：「若不應，分六經表裡而治」之說，見各方。然觀薛先生所治諸人之案，並未見用各方，而所用之藥，大都是補中益氣湯，而極論不宜過於發表攻克，致傷脾胃，反致綿延不已。近世名醫，惟陳月坡宗先生之法，以之治瘧頗效。蓋仲景去今千餘年，氣運大變，治病亦須因時制宜。若執古方以治今病，是猶以結繩而治今之世也，其可乎？（瘧疾）</p>
<p>友人丁靜公，又字不二，長興人，寓嘉興，予家延為西席者甚久。乙酉仲夏，移歸湖州郊外，逢大亂，遘水蠱疾，腹大如鼓，頭面手足俱腫，小便不通，大便日瀉數次，危殆已甚。聞鄰家蔥煎豆腐甚香思食，食之覺快口，食後小便即通。於是，連日食之，小便愈通，大便漸減，再以半主熟之蔥食之，腹漸小，腫漸消，遂可步履、謁客。予初在妙喜山中見其狀，深以為憂，殆將不起。月餘，丁再至山中，則面腫已平，精神已旺，告予得生之故如此。夫水蠱劇疾也，而以蔥腐獲療，聞所未聞，特為記之。（腫脹）</p>
<p>治一切腫毒，傳來一方甚效驗。凡臃腫作痛，毒將發時，即服此方，無不內消。餘次子臂漫腫作痛，一服即消。以後服者俱效。丁亥，在山中，有管莊人腿患毒，腫硬無頭，痛甚，數日漫腫如故，醫藥不效。予與此方，連進三服，小便出濁物升許，竟爾消散，數日即平復。真可謂神方矣。方用生黃耆五錢，當歸梢八錢，金銀花五錢，黃柏三錢，水酒各一鍾，煎一鍾服之。又一方加皂角刺。（腫毒）</p>
<p>外科方書，每言生肌收口之藥不宜早用。薛立齋指摘生肌散之害人，而言毒盡時，但用當歸膏為妙，生肌最速，並無他害。予家人歷試之，頗驗。原方：生地、當歸各一兩，麻油四兩，白蠟五錢，或黃蠟則用一兩，以歸地入油煎黑去滓，用蠟投之溶化成膏。予試之，膏太軟爛不便貼，或當增藥減油。（腫毒）</p>
<p>《本草》言防風能瀉肺實，誤服瀉上焦元氣。及後列方則又云、自汗不止，以防風二錢，用浮麥湯調服；又云，治盜汗以防風二兩，芎藭二兩，人參半兩末服。夫既稱瀉肺實，則其性發散矣，而又欲以止汗，豈不自相矛盾耶。予曾冒風而病，以體素弱用六君子湯加防風、桔梗服之，頓覺疏散欲汗。一時勞倦，以參、術與防風同用，尚不禁其疏散。若服前二方以止汗，是愈泄具汁矣，誰敢嘗試乎！（傷風）</p>
<p>予甥孫蘭溪周祥侯年四旬，患痰火上衝，吐痰甚多，喘嗽不能眠，醫者以清火降痰治之，愈甚，幾危，祥侯自謂宜服人參，告諸醫者請以數分試之。醫者曰：若用則須多不可少，更宜加桂，遂治藥服之，安平無事，乃放膽連服數劑，竟愈。引火歸源，先哲己言之，而醫者不識耳。猶幸此醫能虛心商量，得兔於危。（痰火）</p>
<p>旱蓮草一名鱧腸，俗名涼筒，以醫促織者。斷其梗，少頃其口即黑者是，最能烏須。予表兄卜戩父太守，有人傳與一方，單用此草搗汁熬膏，蜜收貯之磁瓶，日日以酒服之，久服鬚髮不白。卜戩父守而服之，六十外須果不白，但皮肉亦漸黑，且不利於脾，予知而不服。（烏須）</p>
<p>予生平雖多病，而腫毒則未之患也，歲在戊子行年七十有三矣，其冬暮，頭之右偏，忽患一毒，嗣是右肩右背連患二毒，受累凡四閱月。予久閱薛立齋先生《外科樞要》《（外科）精要》二書，知毒之初起，最要是隔蒜灸，予遵之惟謹，畢竟得力，不至瘡大難收。方書云惟頭項不宜灸，而立齋則云，亦宜灸之為妙。但艾壯宜小，而數宜少，多不得過三七壯也。予亦遵之，竟有益而無害，蓋信立齋之言不誣。蒜以獨者為佳。方書言切三分厚者，有言三文錢厚者。以予試之，三分太厚，灸火全不覺，恐是三錢厚得有力。凡患毒者，多服《十三方》仙方活命飲以敗毒。老弱之人，不能堪此。立齋以托裡敗毒散易之，俟潰後即去連翹、白芷、金銀花，而竟服托裡八味散。予遵之，幸不受藥物之害。此議論識見，實超時醫之上者也。今患毒者，時醫輒以圍藥、膏藥等治之。夷考古人之書，頗論圍藥、敷藥、膏藥之害，豈古今氣運有不同耶？是在智者審之。（腫毒）</p>
<p>予右肩患毒，以年老潰後不多得厚膿，時有清水流出不絕，時醫以摻藥、膏藥治之，少頃，藥皆浮移他處矣。屢摻皆然，頗為可懼。時有清仙者，甚靈，予命兒輩祈之，仙云無妨，疏一方見示，用珍珠、人參、輕粉、血竭、五色花龍骨（若白者不效）各等分為細末，摻之。予一摻，水即緩，而少藥即成痂，濕處補摻二、三次，水不復來，遂爾獲愈，亦神矣哉！清水謂之毒水，多出亦無妨，不可早止之，止之太早將復發。（腫毒）</p>
