<header data-type="book">
<h1>心醫集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>祝登元</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1656">公元1656年</data></dd></div>
<div><dt>底本</dt><dd>清順治07年刊本（<a href="https://www.digital.archives.go.jp/file/1077781">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>敘</h1>
<p>杪春聞茹穹祝君遊於瀟水鈐山之間，予時病甚，急欲拿舟溯洄相訪，逡巡未能也。無何，觀察田公投予書二帙，急讀之而頗悉祝君之提醒靜功、心醫紀驗。作而嘆曰：斯其為壽身壽世之要道，是謂仁者以天地萬物為一體，豈為方術家呼吸吐納之窅說乎！祝君夏日過章門，予邂逅適願，獲覽其所惠諸集，益為嚮慕。予聞萬物耗於動而生於靜，靜者神明之舍，群生芸芸，於此待命，而斟酌不竭者也，惟靜能養。孟子云：苟得其養，無物不長。是豈落見聞知解者。武侯志在經世，而曰非寧靜無以致遠。宋儒紹明聖賢之道統，亦只使人於靜中看喜怒哀樂未發氣象。夫世間聲色貨利，人我是非，一息而攻取構誘者，百千萬狀，惟靜以照之，如杲日當空，氛翳盡掃，是為蟠地際天，繼往開來，莫大之功用，故曰靜功，祝子之學，蓋性命道德之指歸，而非神仙方術之餘唾也。若其醫效等於見垣，刀圭立起痼疾，祝君實有一段濟世利物之念，惄如飢渴，亦猶自任天下之重者，引匹夫不被為己辜。吾固謂此仁者萬物一體之學，非至誠不能與於斯。宜其守漳之日，痛憫溝瘠，家至而戶診，郡篆在前，藥囊在後，即以此脫屣五馬無悔也。夫天下大矣！負疴抱痛者眾矣！茹穹不能以一身為風馬雲車，故集方紀驗，廣布以拯世，而靜功之玄妙與之俱傳，以俟解人之自悟。</p>
<p>大司馬總制郎公為序以行，而不佞為數語殿其後。夫予所言，則猶是儒者主靜之學、聖賢成己成物之旨也。神仙有無何渺茫，茹穹所親授於無生子李華卿者甚奇，而道緣藥緣。其所作合，更深更廣。異時得從匡廬、雲水奉杖履以周旋，茹穹傾筐倒篋以開示愚蒙，當必有進於斯者，視予所言，真不啻管窺而蠡測矣。</p>
<p><u>順治丙申之秋七月既望南州熊文舉謹書</u></p>

<h1>靜功</h1>

<h2>靜功妙藥醒語</h2>
<p>諸病皆有藥，獨此心一動，諸患為招，雖百華佗扁鵲在旁，無處下藥，識破此疾，一庸醫能事也。</p>
<p>昔陳烈苦質鈍，靜坐百日，頓開記性，遂一覽無遺。夫未來之覺尚可使之有，豈已往之疾不能使之無？《坐忘篇》曰：心者身之主，神之帥也。靜則生慧，動則生昏，信然。</p>
<p>老子云：出息微微，入息綿綿，深根固蒂。此長生久視之道也，《內觀經》曰：氣來入身謂之生，神去於形謂之死，通乎生死謂之道。夫能惜精寶神，有聞如不聞，有見如不見，靜中討出消息，則所以長生者也。</p>
<p>動則頑，惡將歸焉，如石然，雨滋露潤，流而不存，故常磽瘠；靜則虛，善將歸焉，如谷然，雨滋露潤，存而不流，故能為五穀田。</p>
<p>考古神仙，多因疾病困苦中得之。蓋人安樂必好動，好動必至淫欲，而腠理日疏，使有沉疴不藥之患，人疾病必好靜，好靜必思修養，而澡心求進，即為脫苦成仙之基。</p>
<p>七情擾擾，隙開疾生，譬之蠹以木生而害木也。苟能默省己愆，心既清淨，體亦安泰，雖罪業亦已消除，況微疴寧不速滅？</p>
<p>昔程子見人靜坐，即嘆其善學。朱子又欲以靜坐，補小學收放心一段工夫。如種樹，靜則根深，而暢焉茂焉；動則蒂撥，而摧焉折焉。</p>
<p>動者寧惟造作乖張，凡妄想、妄言、妄行盡是無窮孽障；靜者不但神氣安養，凡治民、治物、治國無非收拾本末。智大者盤桓以山峙，靜之謂也，器小者蓬飛而萍浮，動之謂也。對青天而懼，聞雷霆而不驚；履平地而恐，涉風波而不疑。惟靜有守，惟靜有為。</p>
<p>一切諸有，如夢如幻；一切煩惱，是魔是賊。曷想未生前為空爾，生時為孽爾，死後為灰爾、是則同於獸、等於草爾。何計而留性根？老子曰：生我者神也，死我者心也。故心以神為主，其身安靜，其神居之；其身躁動，其神去之。是以外其身，存其神，靜心守一，則神不出，身與道同，可以長生。</p>
<p>少言不為人所窮，少行不為人所短，少智不為人所勞，少能不為人所役，人生何事不宜靜？</p>
<p>氣靜而清者，天之象；心靜而寧者，地之象；性靜而明者，日月之象；根靜而萌者，萬物之象。</p>
<p>昔賢云：人有一病，便有一治法。如病驚悸，習散忘以平之；憂鬱，習歡喜以開之；風濕，習導引以驅之；流泄，習提咽以堤之；不足，儉塞以培之；有餘，淡薄以伏之。因病發藥，即迷起照，靜功而已。</p>
<p>燈非膏不燃，膏溢燈滅；谷非水不成，水淫谷朽。病者前食未化，又加餐焉，病益增。惟動騖乎多，其數必危；惟靜守乎約，其身乃安。</p>
<p>鳥逾薄食，翼飛益高，食多如鵝鶩肥軀，爾害將至。香美爍形，皓齒損精，靜功自無茲病。</p>

<h2>靜功妙藥八懿</h2>
<p>靜功不生怒。世界兩種人，善與惡而已。善人宜敬不宜怒。人惡猶身疾，身有疾，見者重加悲憫，人而惡，其疾尤甚，何必怒焉？怒，於氣為戾，於德為凶。蜂緣怒螫物，物止於痛，而傷自身。</p>
<p>靜功不生傲。炭在爐，不蒙以灰，轉瞬紅且滅。方修德而不知處謙，是亦不終日之計也。故靜功如貧益富，如賤益貴，如愚益智，剛蓄於巽，明養於晦，靜中作用。戒人知，尤戒自知；貴能藏，尤貴能忘。</p>
<p>靜功不好誕。語云：嗜異味者必得異病，挾怪性者必得怪症，習陰謀者必得陰禍，作奇態者必得奇窮。世間千能百巧都不濟事，惟平平常常，絕無異於人，而人自勿及，斯免異端之害也。</p>
<p>靜功必寡欲。玄門家採戰之說，此為大謬。腎為精之府，凡男女交媾必搖其腎，腎動則精血隨之而流，外雖不泄，精已離宮，未能堅忍者，亦必有真精數點，隨陽之萎而溢出，此即病根，是故寡欲為藥之最妙者。</p>
<p>靜功必節勞。不獨房室之事能損吾精，凡勞於視，精以視耗，勞於聽，精以聽耗；勞于思，精以思耗。夫惟物冥於外，神鑑於中，不求靜而愈靜，譭譽善惡不入於心，心靜則虛，虛則道來屬矣。</p>
<p>靜功必慎言。酒戒多入口，酒入舌出；言戒多出口，言出禍入。人自囂然議論，而吾靜中觀看人物，即不得已有言，亦天地間不可少之至理也。故惟靜功，在寂能惺，在境不亂，可以處心，可以處世。</p>
<p>靜功必戒殺。形殊而性命同，凡物皆然。但人能操生殺之權，物遂聽之，莫可誰何。其有聲即是怨詈，不則以目相視，無限痛切。靜中參透一體，活烹生割之事，聞聲知苦，觸眼心割，是其為眾生之繫命也，宜福且壽。</p>
<p>靜功必及物。見人飢寒，思拯之；見人疾病，思療之。隨力為人方便，力有不及常勸人為方便。其入手時，天地萬物同在腔子里，政恐一陴之瑕，萬堅無益；一惡之形，萬善有缺。既云妙藥，必將天下人共嘗此味也。</p>

<h2>靜功妙藥前珍</h2>
<p>是集考古名論，出以心裁。如七返九還、飛昇蟬脫之說，削去以杜疑玄；如清心寡慾、養修得道之章，奉之有同珍寶。或得諸舊編，或得諸記聞，勿謂陳筌，是真妙藥。</p>
<p>朱子《調息銘》云：靜極而噓，如春沼魚，動極而吸，如百蟲蟄。春魚得氣而動，其動極微；寒蟲含氣而蟄，其蜇無朕。調息者須似之，綿綿密密、幽幽微微，呼則百骸萬竅氣隨以出，吸則百骸萬竅氣隨以入，調之不廢，真氣滋生。藥物之老嫩浮沉、火候之文武進退，胥在此中。</p>
<p>靜功隨乎四時。春食朝霞者，日始出赤氣也；夏食三陽者，南方日中氣也；秋食瀹漢者，日沒後赤黃氣也；冬食沆瀣者，北方夜半氣也。習閉氣而吞之，名曰胎息；漱舌下泉而咽之，名曰胎食。得此道也，可以卻病；勤而行之，可以辟穀。</p>
<p>靜功之法，垂簾塞充，心頓於息，隨息而入，隨息而出，凝住念頭不在上下，不在左右中間，良久喘息漸微，綿綿歸元，自然虛豁之地。倘如念起，再頓再凝，念止而胎息自應。</p>
<p>《陰符》云：人有三要，曰耳目口。耳目者神之牖，口者氣液之門。若夫六識皆空，湛然虛寂，遺形忘物，慧照通神者，至靜也。吐納以導五臟，導引以開百關，持誦寶章以怡神，吸引二景以集明，鍊金精以固形，餐玉英以保身者，至動也。是為動不離靜，《太上》曰：靜者性也，動者氣也。動靜如一，內外和順，非至人安能至於斯。</p>
<p>形以食味，神以食氣，若以時而食其氣，則百體順理。吾之身，有精光之神，形影之神，毛孔之神，各萬有二千，五臟六腑三元九宮亦皆有神。惟吾不見其神則不知其能禍福，故不務敬畏。至於狠躁凶虐、貪淫陰險，是曰賊其神，妄言綺語，以為人不知不見，是曰昧其神。吾之神上通於天，賊神者犯天，昧神者欺天，犯天欺天所以取夭折者也。夫能守中抱一，以陽煉陰，則屍亡魂喪，而神明旺矣。神明既旺，則策轡八晨，飛輿五嶽，升九玄，斬玉關，可與天地等年。</p>
<p>《九皇丹經》曰：晝咽靈液，夜服真氣，久則氣輪自運於三宮，如波濤之聲，所以心合於氣，氣合於神，融而且和，泯泯澄湛，不逐於物，入於不動之境。故曰神能御氣，則鼻不失息，如嬰兒之在胎。是以胎息者，上至於氣關（肺也），下至於氣海（臍下一寸三分），非若口鼻之勞也。真人之息以踵，何也？氣伏於下元，則其息長而邃矣。</p>
<p>情欲出於五內，魂定魄靜生也；情欲出於胸臆，精散神或死也。</p>
<p>精從下流，氣從上散，水火各背，不得凝結，皆是此心使然。愛念不生，此精必不下流；忿念不生，此氣必不上炎。一念不生萬澄寂，則水火自然相見。</p>

<h2>靜功妙藥九種</h2>
<p>予幼年習八股業，工夫只在夜間，披華振秀，屢試輒冠軍。揣摩既久，覺八股無甚用處，究心醫理、地理、諸傳。自趨庭傳授而外，遊名山大川，訪高人異士，讀已見書，並讀未見書，名師剖晰，秘訣始多。醫理、地理確乎有驗，著有《天文秘占》、《地理確義》。先師真本諸刊，久已行世。因欲步三大幹龍，未及其一，而足疲矣。偶一日入高巔深林，十數里無人煙。日已暮，遠望平坡，有小草篷，急往投之。見一老者，詢其年不答，叩以薪火借炊，曰無有。心私異之，此必高人也。下拜求教，云與予有夙緣，授以坐功。至半夜，忽然骨節俱響，遍體快暢，如嬰孩胎中，不可名狀，此身在羲皇以上，竟不知有今世境。老者曰：此開關也。數日登山勞倦、筋骨疼痛至此俱釋，津液滿口，腹不知飢，心又異之，此殆卻病休糧秘訣也。後復訪，則並草篷不復見矣。至丙子科，寓湖南淨寺，見一道者在寺前靜坐，視其概與予無異。請入寓，因語予以草篷即予師無生子也。予前所傳，止有手訣心訣，此即吾儒正心誠意、心齋坐忘真旨，一切語言文字、見解造作皆無所著。道者始詳語四戒、五進、六不傳諸則。閱三日，而道者不知何往。嗟乎！其即向草篷者哉？予何緣之淺而覿面失也！嗣後與葛屺瞻先生、郭丹葵先生、馮茂遠先生、九十四歲翁陳白也先生相參秘旨，諸公自以曏者閉息、導引、十六字、八段錦，與夫三字、六字、十二字、七轉九還及袁了凡先生禪印坐功，諸法行之，皆驗。然終涉有為，不若無生子直捷了當，妙蘊無窮。問道盲者，然無生子之訣不涉語言，難陳紙筆，若夫袁葛郭陳諸公，其閉息導引諸法，或舊本所有，或口相授受，予得而編輯之，俾好道者開卷有得，是亦囊中妙藥延年卻病，多服為佳者也。</p>

<h3>閉息</h3>
<p>先將凡慮滌卻，擇淨室靜坐，閉目，鳴天鼓三十有六以集神，咽液三十有六以聚氣，而陰戶可以陰合，使眾邪不得下居。閉氣自一至十，默數九九而止。非閉噎其氣也，乃神定氣和，絕思忘慮，使鼻之息若有若無。診其脈六動為一息，九九者八十一息，總四百八十六動脈也。常存赤氣，自其口出，狀如火輪，周其室中，定則內想安寢，自然疾病除而陰邪遠矣。</p>
<p>初閉息，經十息至五十息，至百息。氣不在上，亦不在下，如遊渾沌，不能破散，凡一日一夜，一萬三千五百息。《太微升玄經》云：氣絕曰死，氣閉曰仙，魄留守身，魂游上天。先吹出口中濁氣七口，以手指捏目大小眥，按鼻左右，旋耳摩面，乃以舌抵上齶，撩口中內外津液三十六轉，滿口咽之，如此三止。漱咽靈液，灌溉五臟，面乃生光。</p>
<p>《黃庭篇》曰：元氣者出於下丹田，流注於身，凡晝之午則陽極而陰生，故會合於泥丸，陰陽相推，循環無窮。夫能服氣固精，得其節符，則靈氣凝變。如紫煙白雲。充於三田，升為云，降為雨，以之溉灌五臟。而植根者也。上納津液，下勿泄其氣，氣液充滿，如深井之出湧泉，自然洞流無窮，通於鼻門，而入於口，滋於身，如是則黃鉛紫汞生矣。依時採而煉之，入于丹田，貫諸百節，自然出暗室而照真陽之門，故曰回紫抱黃，入丹田者，此之謂也。</p>
<p>五氣各屬一臟，餘一氣屬三焦穴。氣者，噓、呵、呬、吹、呼、嘻。噓屬肝，肝主目；呵屬心，心主舌；呬屬肺，肺主鼻；吹屬腎，腎主耳，呼屬脾，脾主中宮；嘻屬三焦。各臟俱有濁氣，人夜睡醒時，口中濁氣熏蒸，自不聞耳。口則吐之，鼻則納之。吐之說，不過初吐濁氣，盡即止，後皆津液清丹，全在閉口方能嚥下，若一納一吐，是隨收隨散也。</p>
<p>閉氣全要腹空，日間端坐申腰，如坐禪法，以鼻納氣照前。夜間須要睡醒，子時後，正臥側臥無不妙。</p>
<p>閉氣之法，勤而行之。《火候篇》曰：閉氣二十有四，其數足矣。出則復閉，用赤龍右攪者七，左攪者九，漱者十有六、琢齒二，分三咽。先右次左次中。此陰爻也。閉氣三十有六，其數足矣。出而復閉，用赤龍左攪者七，右攪者九，漱者三十有三，琢齒三，分三咽。先左次右次中，此陽爻也。凡閉氣一百九十二，以火二八兩煅之，學者當明水火既濟之法。夫火在心為性，水在腎為命，二者實相須以濟焉。腎之水，非心之火養之則不能上升，心之火，非腎之水藏之則不能下降。夫能長養成就，上際下蟠，旁通曲引於三元九宮、五臟百節，斯可以保固而長存也。</p>
<p>常人每臥時，垂足閉氣，舌抵上齶，目視頂，提縮穀道，即咽津一口，共行九遍。熱擦腎腧穴，九九數。少年可御夢遺，老人可愈頻溺。</p>

<h3>導引</h3>
<p>漱舌下泉咽之，名曰胎食。得道者生六翮於臂，長毛羽於腹，飛無階之蒼天，度無窮之世俗。</p>
<p>習不唾法，有則含以咽之，使人精氣常留，面目光彩。又曰：津液者吾身之寶，寶聚則為富翁，寶散則為貧客。</p>
<p>人身中夾脊與規中相對，用鼻息呼吸，呼者呼自己之元氣，從中而出；吸者吸天地之正氣，從外而入。吸要從氣海上（肺之上）貫下丹田入命門（丹田臍下，命門臍中），與祖氣（穴即下丹田，在臍下一寸三分）相連，如磁吸鐵，同類相親也。非止救護命寶，抑能添油接命。故修長生者，必固其氣，氣固則身中元氣不隨呼而出，天地之正氣恆隨吸而入，久之則胎息定，鄞鄂成。行氣在照玄膺（舌下有三竅，中玄膺，左金津，右玉液）一竅，以舌折而舐之，少頃則津液滿口，微漱數遍，徐徐以意引下，至重樓（咽喉），漸達膻中（胸前）、中脘（心間）、神闕（規中），至下氣海（穀道前），就從氣海分開兩路，至左右大腿，從膝至三里（穴在膝下），下腳背及大拇指，轉湧泉（在腳底心），由腳跟腳彎循大腿而上，至尾閭（穀道後），合為一處，過腎堂、夾脊、陶道、大椎、天柱，分送兩肩兩臂，至手背，由中指轉手掌，一齊旋迴，過手腕，由腋至胸旁，歷腮後，從腦灌頂，復下明堂（腦前眉上），上齶，以舌迎之，至玄膺而止，此為一轉。稍停，又照前行動，則壅滯疏通，貫穿諸經，通達諸竅，是玉液煉形也。然行氣須用眼者，目之所至，心亦至焉；心之所至，氣亦至焉。其用液者，液中有氣，液氣相生，為金液之基，作潤身之寶，穿關透節，無處不到。況玄膺乃津液之海，生化之源，灌溉一身，皆本於此。以此法行之，無有舛錯。坐畢，當於頭面散火，理五臟之氣。散火先搓兩手熱，摩面三十六；次須周匝，隨摩頂門三十六；次摩腦後二十四；次手掩兩耳，擊二十四次，次摩上元六合穴三九二十七次，此穴在兩眼梢外陷處，此穴一名攢竹，用兩食指按之；又兩大指按耳珠旁聽會穴，共三九二十七次；次以兩手背摩兩眼二十四次；又以兩手中指掐近鼻眼角，轉二十四次；隨掐眼梢轉二十四，又側兩手摩眼眶二十四，又搓兩手第二指及中指熱，夾兩耳摩耳前二十四，後二十五，共四十九次，又搓兩手中指熱，摩鼻兩旁三十次；隨以手托天三次；即以右手摩左手，自肩及臂至指三十六次；左手亦如之，每指屈其節令有聲；後搓兩手熱，摩腎堂八十一次，摩遍身三十六次，摩腿膝至足趾三十六次；又以右手摩左足心湧泉穴八十一次；左手摩右足心八十一次，然後以意歸至丹田，臍下一寸三分際守之，靜坐片時而起。坐用《抱中集》神訣法，將左足抵大中極，右足盤，兩手掐子紋，左手按臍，右手按臍下，靜坐凝神，先叩齒三十六通以集神，漱津滿口，以意送下丹田，運河車正氣于丹田中，溯尾閭，透雙關，上腎堂，沖夾脊，上陶道，過天柱，至玉枕，住泥丸，少頃下至鵲橋，入喉至胸，過玄關至臍，穿後二腎中間玄牝而止。如此三十六通，或八十一通，愈善。功畢復叩齒三十六通，咽津液三口，使神不散。後坐床上，兩足雙並，以目視頂，舌抵上齶，握固，縮穀道，搖颭為之，兩足如氣球狀，氣極即休。如有足痛，日行七八次，平時只轉三十六次可也，此乃導引秘法。功畢，以左足下地，默祝曰乾元亨利貞；右亦祝曰日月保長生。各三祝。</p>
<p>葛真人曰：靈龜俊鵠，千歲不食者，善息故也。舌之下有三穴焉，左曰金津，右曰玉液，中曰玄膺，皆湧生甘泉，以灌於氣海。氣海者，命門也，此生死之岸也。神氣精，身之三寶也，保之之要有三焉。始以導引百骸，通流血脈以安其體；中以勤修百行，抱制魂魄以全萬神；終以淘煉本元，飛行日月以復其真精。真精得一，可以仙矣。治身之要，在乎存想，閉目內視，而使神識氣，氣識神，於是氣為神胎，神為氣主，神氣相合而自然，此真想也。日月既足，可以出入其殼矣。肺，主氣者也，是為華蓋，下通於命關，上貫乎神廬，氣或不通，則鼻塞矣。於是存其白元，靜調六氣（呬噓呵吹呼嘻），可以革壅滯者矣。白元者，肺之真氣也。治身莫先乎行氣，氣活則血榮，血榮則精實，精實則神靈，而四海內豐矣。四海者，氣血精髓也，其要在乎戒五傷焉。咸多心傷，苦多肺傷，酸多脾傷，辛多肝傷，甘多腎傷。不特此也，久視血傷，久臥氣傷，久立骨傷，久坐肉傷，久行筋傷，知此者血氣調理，上窮七返，下究九還，煉真元，服金液，於是血成乳，氣成云，骨成金，髓凝霜矣。肝，藏魂者也。忍怒可以制陰，抑喜可以養陽。一陽起於子，而至於巳，則六陽極矣；常人之真氣，遇極則飛散，達生之士觀其極，則內生一陰；自午至亥，則六陰極矣，內生一陽。陰陽相推，生生不已，故得神全精復，與天地相久。此何道乎？用七日來復之候，以攝魂還魄、煉丹結胎者也。腎堂者，玄關也。心腎合為一脈，其白如線，其聯如環，中廣一寸二分，包一身之精粹，是為九天真一靈和之妙氣，至精活命之深根者也。常能存固，則二部之海水，應刻定候，其潮自生，至於生門矣。生門者，幽關之戶也，水之運也，及冬至則王氣極，夫能實其腎則凝為白金，得乎離火，則為還丹矣。脾者，元氣之根也，能消穀分氣，其脈下貫於命門（臍下一寸三分），是為下丹田。命門者，性命之門，非獨右腎已也。常溫養脾火，使土氣充盈，則體強而本固矣。膽者，六府之精也，主諸氣為外，應乎目瞳鼻柱，煉三元之氣既久，則五臟之靈光夜燭矣。鼻之氣出清入玄者也，夫存想發火，運載河車，不離乎呼吸而已。於是煉其津液，而入於玄宮，腎之鉛汞飛出於上道，乃上下關鍵而不泄，聖胎斯成矣。舌之吐縮，漱津咽液，當如江河之注五內，源源不絕可也。善治生者，先治其心，將躁則安之，將邪則止之，將求則舍而抑之，將濁則清而澄之。行止於是，造次於是，久之則物冥於外，神鑑於中，不求靜而愈靜，於是動寂俱忘，天真自適矣。語曰：子欲不死，腸中無滓；子欲長生，腸中當清。故宜食太和之精氣焉。夫欲實其腹，先虛其心。心主靜者也，氣主動者也。通乎道者，翱翔海宇之外而心常寧焉，休息毫釐之間而氣常運焉。靜然後能契至虛，虛極則瑩，天地之大，莫能逃乎方寸矣。</p>
<p>《精景按摩經》曰：臥起平氣正坐，先叉左右手度以掩其頸後，因仰面視上而舉其頸，使頸與左右手爭，為之三四止，使人精和血通，風氣不入。已復屈動其身體，伸手四極，反張側掣，宣搖百關，為之各三焉。已乃咽液二十過，以導內液。常行之則體不垢，邪氣不幹矣。</p>
<p>《太素丹經》曰：一面之上，常以左右手摩拭之，使熱，高下隨形，皆使極匝，使皺斑不生，光澤如少女，所謂山澤通氣者也。耳目者，尋真之梯級，總靈之門戶也。以手按眉後之穴三九過，是上元六合之府也。以手心及指摩其目顴上，以手旋兩耳，行三十過，其摩數數然無時也。既已，則以手逆乘額上三九過，從眉中而復上，行入髮際，咽液無數，常行之，目清明矣。目之下、顴之上是決明之津也。以手旋其耳，採明䁐膜之道也。夫人之老，鮮不始於耳目者也。以手乘其額，而內存赤子，則日月雙明，上元喜矣。於是三九之數，是為手朝三元，固腦堅發者也。首之四面，以左右手乘之，順發就結令多，則首血流散，風濕不凝矣。以手按目二九過，是為檢目神；耳數按抑則聰徹，名曰管治城廓，名書皇籍，鼻數按其左右則氣平，名曰灌溉中嶽，名書帝籙。目欲瞑而內視，以見其五臟則腸胃明徹。</p>
<p>杜廣平授玄白之道於介先生，嘗旦旦坐臥，任意存於泥丸，其中有黑氣焉，次存於心，其中有白氣焉，臍之中有黃氣焉。其初存也，氣出如豆，既而漸大沖天，於是三氣如雲，纏咽繞身，而覆身之上，變而為火，在三咽之內，復合景以煉一身，一身之內，五臟照徹。如是旦而行之，至日中而止，於是服氣百有二十過，所謂知白守黑可以不死。</p>
<p>煉精有法，全在腎家下手。內腎一竅名玄關，外腎一竅名牝戶。真精未泄，乾體未破，則外腎陽氣至子時而興，人身之氣與天地之氣兩相吻合。精泄體破，而吾身陽生之候漸晚，有醜而生者，次則寅而生者，又次則卯而生者，有終不生者，始與天地不相應矣。煉之之法，須半夜子時披衣起坐，兩手搓極熱，以一手將外腎兜住，以一手掩臍而凝神於內腎，久久習之而精旺矣。一切導引以閉息為主，一切修養以斷欲為主。息不閉則氣不聚，雖導引何益；欲不斷則精不住，雖修養無功。導引療未患之疾，通不和之氣，動之則百關氣暢，閉之則三官血凝。《法藏碎金》曰：修協用二法：止觀也，導引也。止念令靜，觀理令明，念靜理明，無生可成。導氣令和，引體令柔，氣和體柔，長生可求。又云：百體導引貴乎動，久久必和柔，此道家之妙用也；一心檢攝貴乎靜，久久則明徹，此禪家之妙用也。</p>
<p>踴身令起，平身正坐，兩手叉項後，仰視舉首，左右招搖，使項與手爭。次以手扳腳稍閉氣，取太衝之氣（太衝穴在大指本節後二寸骨罅間陷者），左挽如引弓狀，右挽亦如之。以手按目近鼻之兩眥，閉氣為之，氣通即止。引畢以手按目四眥三九遍，捏令見光明。捏目四眥畢，即用兩手側立摩掌，如大開目熨睛數遍，以兩手按眉後小穴中二九，一年可夜作細書。眉後小穴為上元六合之府，主化生眼暈，和瑩精光。長珠徹瞳，保煉月精，是真人坐起之道。紫微夫人曰：仰和天真，俯按山源。天真是兩眉之角，山源是鼻下人中也。兩眉之角是徹視之津梁，鼻下人中是引靈之上房。葛屺瞻曰：予賦稟最弱，壯年間，每房勞則三日不出戶，七日不易衣。臨文畢，時吐血眩暈，藥力無效。自傳閉息導引之術，苦坐百日，始得開關，覺神氣漸旺。行之三年，無房勞諸病，進飲食、長精血、悅顏色，得力於此不少矣。閱三十年餘，又得傳靜忘坐功，既不行氣，又不咽津，即導引皆無所用，惟是閒時便靜坐，掃卻一切，獨證本來。吾身有天地，靜中光景逼現，後並此光景亦復不存，並精氣神付諸烏有，直到有生以前，無處著腳去所。殆顏氏坐忘真樂歟？自以道妙盡於此矣。今更得無生子五進四戒秘旨，斯真證宗第一義也。</p>
<p>郭丹葵曰：予好道數十年，精氣神會合處所，實覺有得，只導引之法行之殊煩難，不免作止，惟每晨取幼女津唾服之，以多為貴，久久百節靈通，飲食加進，即今大耋而玄發青髭，登山如平地也，豈不驗哉！祝茹穹曰：此傳未嘗不妙，未嘗不驗，慮食生也，進以熟則無量。其法當使女人頭晚用擦牙藥漱淨，至半夜後或清晨，女人亦叩齒，漱舌下泉滿口，接取過口，再漱服之。斯還元之秘訣，不老之奇方也。</p>
<p>竺陽子馮茂遠曰：嘗觀象於乾坤姤復，知《契》言剛柔有表裡，為消息陰陽至義。蓋《易》象自姤至坤，皆表柔而里剛，陰凝合而生陽於內也。廣成子曰：為汝遂於大明之上矣，至彼至陽之原，原至陰也。自復至乾，皆表剛而里柔，陽變動而生陰於內也。廣成子曰：為汝入於杳冥之門矣，至彼至陰之原，原至陽也。是故乾之靜專即坤之靜翕，匪翕，也，於何有專？乾之動直，即坤之動闢，匪闢也，於何有直？夫是以乾道變化，各正性命，保合太和，必以坤為道廬也，日月之有明，亦若是矣。其明者金也，至陽之精，日之魂也；其黑者水也，至陰之精，月之魄也。由三日復明，立表微剛，至望為純乾，柔皆在裡。《契》言子藏母胞，謂水為金子。水固未嘗滅也。由十六生魄。表吐微柔，至晦為純坤，剛皆在裡。《契》言母隱子胎，謂金為水母，金亦未嘗亡也。徐子云：利用安身隱形而藏。又云：推情合性，轉而相與，此藏彼轉，互為室宅。玄家擬諸呼吸以相含育，亦知夫呼以吸為根，吸者呼之窟乎？亦猶夫天地之息踵於地，日月之息踵於月乎？或測之以七衡四遊、二陸九道，要皆跡耳，安所見呼吸哉？惟夫地氣升降而見乎卉凋蟄啟，月光吞吐而見乎兔闕桂舒，則若有呼吸存焉。然仰求之光氣之交，曾莫之往來，而煉士必欲循呼揣吸，高者搏空，卑者逐末，相牽入九里昏霧，以及皓首，殆哉！《至真歌》云：但看嬰兒處胎時，豈解將心潛算計。試嘗燕居，合天地為元包，連旦暮如胎處，無營無慮，滿六虛是一團元和，於中微有一息綿綿，沖虛自在，正爾虛極靜翕，寂如坤土，久之靜極發機，形於庚辛之金，金中含有元精，即玄家所欲採於腎府之真鉛也。由火不下蒸，金不生水，然此火非他，亦坤元本來具足，念息神存，隱明內照，則元氣自聚，元精自產，瞥爾潛潭吐萌，如《契》言：日施德而月生光。又言：陽燧以取火，非日不生光，乃其象也。從此絪縕蒸潤，鉛氣自騰，皆由天然真火自生自育，沖而徐盈，非關意識下交上達，轉運以致之。只要閒閒靜住，委心虛無，聽其熏蒸，如雷雨之動，滿盈三宮，自然生陰化液，鉛汞自合，如《契》言：太陽流珠得金華而化白液，喉中覺有甘津，是其驗也。又《契》言：方諸非星月，安能得水漿。此月亦非他，即《悟真篇》禪光終日照西川之月耳。可見通一身全體大用，皆其消息相因，先天不離後天，坤壚便是乾鼎。特於剛柔表裡、陰陽動靜之際，氣液交養，伏蒸變化，以陶真煉形。若可求之呼吸，而不盡繫於呼吸，故曰黃中漸通理，此陰中煉至陽之下手元基。二液還丹，亦莫不由之始矣，曾何有於危殆？而《悟真》言：受氣之初容易得，抽添運火要防危。何謂哉？謂陰，陽之升降，自右轉子而訖卯，自東旋午而至酉，此時最易昏散，防有陰陽小變之虞，若用意觀照，防有浮沉溢度之患，忘與助皆害也，豈徒不作丹而已乎？《太上》云：形動德散，氣越道叛。陳虛白雲：念起則息粗，意散則火冷。正為卯酉中刑德相負，刑即死戶，德即生門。其機如此，其危如此，其最玄最妙又如此。玄修之士，夫亦肅括元樞，而握機無極乎？</p>
<p>陳白也曰：道家諸法，自是不可少的，予所秘傳，有更直捷更神妙者，不用閉氣，不用導引，不用嚥下汩汩然有聲，並不用夾脊、規中、泥丸等相照應，只一「竅」字妙不可言，機全在目。人目外視能見物，內視能見神，見物則昏，見神則明。每晝夜得閒便坐，不拘屈坐，不拘椅坐，先用手搓熱摩眼畢，隨閉，手交臍下，叩齒七十二，漱舌下泉七十二，攪上齶七十二，多寡津液任其自吞，然後以目視竅。此竅不在心上，不在境上，但覺目神所至有一圓圈，視之不已，其光漸大，充塞吾身，遍大世界皆不出此竅內。視久神化，不知有吾身，不知有天地，並不知有竅，而身內藏竅，毛竅、骨節竅，一氣周流，百體從令。行之一年，覺有內陽一點從臍下動盪，如婦人有孕然；行之二年，此一點透上頂門；三年而成混沌，而成交媾，而成嬰兒，遂聖而不可知矣。祝茹穹曰：謹聞命。</p>

<h3>八段錦</h3>
<p>法依閉氣，行於夜半後，生氣初動時，濁氣口中吐之，清氣鼻中納之，子後午前各一次。先去一切思慮，閉目冥心，盤趺而坐，握固靜思集神，然後叩齒三十六。後又兩手向項後，數九息，勿令耳聞。乃移兩手心掩兩耳，先以第二指壓中指，彈擊腦後，左右各二十四次。搖頭左右顧肩膊轉，隨動二十四。以舌攪口齒，並左右三十六。待津液滿口，漱三十六，分作三口，如有硬嚥下汩汩然有聲。龍者液也，氣者虎也，液行氣自奔發。乃以鼻引清氣閉之，少頃搓手令極熱，微微放氣出。腰後外腎為精門，搓兩手心熱，背後摩腎堂三十六畢，仍收手向前握固，閉口鼻之氣，想用心火下燒丹田覺熱極。俯首擺撼左肩三十六，右肩三十六。想火自丹田透雙關、入腦戶，鼻引清氣，閉少頃，乃放直兩腳，叉手向上托天，按頂各九次。然後放下，以兩手向前攀腳心十二次。乃收足端坐，候口中津液，所云逆水上也。如無津，照前法再漱再吞三度，所得神水分三咽，乃為九也。嚥下汩汩有聲，百脈自勻暢。擺肩並身二十四次，再轉轆轤二十四次，閉氣想丹田火自下而上，遍燒身體，魔消夢安，寒暑災病皆不能入，與乾坤合矣。</p>

<h3>八段錦詩</h3>
<p>閉目冥心坐，握固靜思神。叩齒三十六，兩手抱崑崙。左右鳴天鼓，二十四度聞。微擺撼天柱，赤龍攪水津。漱津三十六，神水滿口勻。一口分三咽，龍行虎自奔。閉氣搓手熱，背摩後精門。盡此一口氣，想火燒臍輪。左右轆轤轉，兩腳放舒伸。叉手雙虛托，低頭攀足頻。以候逆水上，再漱再吞津。如此三度畢，神水九次吞。嚥下汩汩響，百脈自調勻。河車搬運訖，發火遍燒身。邪魔不敢近，夢寐不能昏，寒暑不能入，災病不能迍。子後午前作，造化合乾坤，循環次第轉，八卦是良因。</p>

<h3>十六字</h3>
<p>一吸便提，氣氣歸臍，一提便咽，水火相見。此十六字，仙家名十六錠金，至易至簡妙訣也。口中漱津三五次，舌攪華池，仍以舌抵上齶，滿口生津嚥下汩然有聲。隨於鼻中吸清氣一口，以意會及心，寂地送至臍下一寸三分丹田之中，略存一存，謂之一吸。隨用下部輕輕如忍大小便狀，以意力提起使歸臍，穿腎堂，過夾脊、陶道、天柱、風府、玉枕、透入泥丸，其升而上，如雲如露，生津滿口，氤氳氣衝，謂之一呼。一呼一吸，謂之一息。氣既上升，隨又前汩然有聲嚥下，鼻吸清氣送至丹田，稍存一存，又收縮下部，如前輕輕提上，與臍相接而止，而後覺沖和之氣徐徐上生，升引如前，所謂氣歸臍，壽與天齊矣。凡嚥下口中有液為妙，無液亦要汩然有聲，積氣亦能生液也。如是一咽一提，或三五口，或五七、或十二、或二十四，要行即行，止即止，只要不忘，久久行之，長生可期。又云在一陽動時，尤宜急行。然行鼻息而不得下部提縮之法，與知提縮而不得鼻息往來之法，皆非真傳也。</p>

<h3>三字</h3>
<p>先以兩足盤坐，雙手齊向頭頂托天，隨放下，疊在腹前。叩齒三十六，漱舌下泉，以津滿為度，嚥下。神氣安閒，出入息微微，於非心非口間，持一「靜」字，將靜暗念數千遍，換一「忘」字，暗念比靜字加倍，又換一「空」字，暗念比忘字又加倍。自覺氣轉三車，不可遏抑，其動盪形狀各出不窮，此亦坐功最捷最簡法。又有語予者云，系「靜」、「忘」、「滅」三字，及質之陳白也，乃知「空」字為妙。此。法即仙家皈依禪定時候也，蓋於鬧熱場中，討出靜中消息，然知有靜非靜也，貴能忘，至忘到神化地位矣；有忘便有不忘時，不若一切皆空，空中無所不變、無所不化，是為大乘。</p>

<h3>六字</h3>
<p>「噓」、「呬」、「呵」、「吹」、「呼」、「嘻」，此六字也。訣云：肝若噓時目睜精，肺知呬氣手雙擎，心呵頂上連叉手，腎吹抱取膝頭平，脾病呼時須撮口，三焦客熱臥嘻嚀。</p>

<h3>十二字</h3>
<p>「白虎隱於東方，青龍潛於酉位」，此十二字訣也，云轉輪法。閉目靜坐，叩齒咽津，口中默唸，將十二字一字一圈，作一圓圖如輪轉，數至三十六遍止。及至收回，從外旋內，從大至小，唸曰：青龍潛於酉位，白虎隱於東方，亦三十六遍，復歸太極而止，是為一周天。久則不必用意，自然旋轉，真有歇手不得處，隨則坎（腎）離（心）交，鉛（屬坎）汞（屬離）合，二物黃，至黃房（戊己居中，規中是也）。戊己真土也，互相吞啖，兩情留戀，盤旋於祖竅之間，自然復此先天之炁，而成混元真一之精，為大藥之根原，作還丹，之基本也。《玉芝》云：玄黃若也無交媾，爭得陽從坎下飛。乃作丹之大端，修仙之第一義也。然坎離龍虎交，內交也；乾坤子午交，外交也。內交者，使龍虎歸於鼎中（臍下），情性合於竅內，當用「龍從火里出，虎向水邊生」之二訣，始得龍虎交矣。外交者，以精氣神歸玄牝（此與祖炁共竅），竅中與祖氣聚會，三家相見（身心意合則三家相見），合為一體，凝於混沌，抱一無離，為返本還原之要道，龍虎交而結嬰兒者此也。</p>

<h3>七返九還</h3>
<p>立為洪壚大鼎以煉真，內以養鉛汞，外以象坎離，運其陰陽，驅龍馭虎，以返本還原，於是玄霜絳雪、玉蕊金膏，九轉而成寶矣。離發乎坎下，汞居乎水中，上下之象也。神居其中，謂之三才。道生於一、一生二，二生三，三生萬物，終始於一者也。一者水也，二者火也，三者土也，水火者各得其一者也。得一者物之母，故水生一男為坎，名曰汞；火生二女為離，名曰鉛。謂之四象。汞，丹也。鉛，藥也。天老神君曰：用鉛不用鉛，須向鉛中作，及至用鉛時，用鉛還是錯。何言之？汞，陽也，子也；鉛，陰也，母也。汞無鉛則獨子不母，何以生哉？鉛汞合而三年為寶，焚去鉛之氣，是為脫殼，其名曰純陽（用鉛不用鉛也）。夫起火必於子，何也？承陽氣起火，火力斯全，過乎子則陰盛而火不然也。《經》曰：火起於臍下，水出於鼎中，既濟之象也。吾有中宮之鼎在乎心之下（即規中）。是鼎也，時至卯則增鉛（精也），時至酉則增汞（津也），鉛不得火則不騰，汞不得鉛則不凝。《經》曰：取水于山（腦也），起火於海（臍也），取汞於重樓，採鉛於九天。其運也備乎四時，與神御之，與氣和之，於是四象具矣。而中宮之鼎狀如雞子，三年赤白判而換軀矣。金腸玉骨出於五行，其名曰蛻，故四象交而汞干矣，一陽備而鉛去矣，其名曰還丹。於是神魂立矣，其體剛矣，三花合一，五彩歸陽，夫是之謂無修之地。昔純陽子問於正陽子曰：何以謂之鉛與汞乎？答曰：鉛生於腎之左，外玄內白，水之正氣也，居北方（子位也），陰中之陽也；汞生腎之右，外青內赤，金之正氣也，居南方（午位），陽中之陰也。問曰：火與水在於身，何物為之乎？曰：下元真一之氣，既極而成，火起於臍之下者也。水者，出於腦者也。火從下發如蒸釜焉，此既濟之道也。問曰：鉛者靜也，性也；汞者動也，命也，果何所生？曰：五穀之真氣，為心所竊，化而為血，血化為液，液復化為真氣，凝而為神，此性也。命居於二腎之中，元海之內，所出真元之氣，其中有真水焉，本生於心，流於腎，化而為精，精者莫親於斯二者也。曰：脾謂之黃婆何也？曰：脾能接心之液、腎之氣，和合而成丹者也，故云黃婆。金液煉形，形神妙而合道真，何謂也？曰：鍊汞成神，煉氣成形，於是後生前咽，二物合而成胎，是謂與道合真，斯金液煉形者也。七返九還何謂也？曰：時自子而至申九轉也，故煉者九年為一轉，三轉為一周，是故九煉而還丹。一年益氣，二年益血，三年益脈，四年益肉，五年益髓，六年益筋，七年益骨，八年益發，九年益形。九者既成，其目點漆，其膚凝脂，其骨化玉，其腸化筋，白毫生於眉，金光周於身，行軼六驥，洞視百步之外，口鼻常有清香之味內行五臟者，七竅也。吾之真氣上下周流，自申至於寅，七返也。一陰一陽，一升一降，一浮一沉，精也，髓也，涕也，唾也，氣也，液也，津也，晝夜存之而不走失者，七返也。採丹者何也？曰：滿口含津而搬歸於命府，運氣於黃庭之中，於是氣液造化而成精。津積為血，血積為珠，珠為汞，汞為砂，砂為丹，此為採丹者也。三車何謂歟？曰：前後微脅者，牛羊鹿車也。胃脘者，河車也，天河也，水府真一之氣從天內來，通於口鼻，故曰河車，臍之下者，火車也。曰：二泉孰生乎？曰：其出於口之中，舌之下，左右有二穴，其大如針鋒，通於心肺，時有津液生於咽，此潤萬物而濡五臟者也。純陽子既聞要道，於是發玄鍵而知八漏之禁也。目之淚走者，肝漏；鼻之涕走者，肺漏；口之唾走者，腎漏；外腎之汗走者，心漏；夜而盜汗者，小腸漏；寢而有涎者，腦漏；夢與鬼淫者，神漏：淫欲者，身漏。是八者能固，使入於金鼎玉池，聚之以為鉛汞。其可度乎？能取津於玄膺，入於明堂，溉於喉下，有還丹則必上烹元液，使陰盡而陽生，火抽而水添，循環而不止。何以取津乎？攪漱舌之下則波濤自滿，咽之則注于丹海矣。大功欲成者，其邪關外塞、命關中開乎？肺者，主乎榮衛二氣，其在於腎是為金水相生，父子之道也。行三十咽於玉池，則百脈通而血液滋矣，此七返者也。何云乎騰腦成云、降口成水、傳肺成唾、傳心成血、傳肝成精、傳脾成液、傳腎則成二脈而為陰精陽粹者也？金津玉液者，陰陽之所生也。夫能上經七返，傳入於二腎；下變九還，傳至於腦，上下往來而不息，則元氣充實。八素之液流通其腎，受精貫於五內，更九九之真火，氣滿候足，而金丹成矣。</p>
<p>行七轉九還，則可以辟穀。舌下泉，此不飢之藥也。即初學之士，但能閉目靜坐，終日不見一人，不飲不食，時以舌抵上齶，攪上下齒內外，取舌下泉滿口即嚥下，咽後又以前法行之，愈行愈覺精神，每晝夜計行五百度，腹中自然不飢，其間覺有神明之通，大丹之成，如在數日光景，快樂不可名狀，此云休糧訣也。故曰：華池神水，玉汞金鉛。乾坤運用，日月烹煎。屯蒙發火，進退精研。抽添沐浴，九轉一年。坎浹離通，功行三千。持之勿怠，化形為仙。</p>

<h3>袁了凡靜功訣</h3>
<p>凡靜坐不拘全跏半跏，隨便而坐。平直其身，縱任其體，當令關節相應，不倚不曲，解衣緩帶，稍有不安，微動取便，務使調適。初時從動入靜，氣或未平，舉舌四五過，口微微吐氣，鼻微微納之，多則三四五遍，但取氣平為度。舌抵上齶，唇齒相著，次漸平視，徐徐閉目，勿令眼瞼大急，常使眼中朧朧然。次則調息，不粗不喘，令和細綿綿。天台禪門口訣，止教調息觀臍。息之出入，皆根於臍，一心締觀，若有外念，攝之令還，綿綿密密，努力精進。自此而後，靜中光景，種種奇特，皆須識破，庶可進修。初時有二種住心之相，人心泊境，妄念遷流，如火熠熠，未嘗暫止。因前修習，心漸虛凝，不復緣念名利冤親等事，此名粗心息也。外事雖不緣念，而此心微細流注，剎那不停，愈凝愈細，內外雙泯，此名細心住也。此後有二種定法，當此細心住時，必有持身法起，此法發時，身心自然正直，坐不疲倦，如物持身於覺，心自然明淨。與定相應，定法持身，任運不動，從淺入深，無分散意，此名欲界定也，後復身心泯虛豁，忽然失於欲界，坐中不見己身及床坐等物，猶若虛空，此名未到地定也。從此證十六觸，一動、二癢、三涼、四暖、五輕、六重、七澀、八滑，復有八觸，謂一掉、二猗、三冷、四熱、五浮、六沉、七堅、八軟。此八觸與前八觸雖相似，而細辨則不同，合為十六觸也。十六觸由四大而發，地中四者沉、重、堅、澀，水中四者涼、暖、軟、滑，火中四者暖、熱、猗、癢，風中四者動、掉、輕、浮。學者於未到地中，入定漸深，身心虛寂，不見內外。或經一日乃至七日，或一月乃至一年，若定心不壞，守護增長，此時動觸一發，忽見身心凝然，運運而動，當動之時，還覺漸漸有身，如雲如影，或從上發，或從下發，或從腰發，漸漸遍身。上發多退，下發多進。動觸發時，功德無量，略言十種善法與動俱發，一定、二空、三明淨、四喜悅、五樂、六善生、七知見明、八無累解脫、九境界現前、十心調柔軟。如是一日或十日，或一月一年，長短不定。此事既過，復有餘觸，次第而起。有遍發十六觸者，有發三四觸及七八觸者，皆有善法，功德如前動觸中說。此是色界清淨之身，在欲界身中，粗細相違，故有諸觸證。初有五境，一覺、二觀、三喜、四樂、五定心也。初心覺悟為覺，後細心分別為觀。慶悅之心為喜，恬澹之心為樂，寂然不散為定心，十六觸中皆有此五境。第六又有默然心，由五境而發者，皆初禪所發之相也。夫覺如大寐得醒，如貧得寶藏，末世諸賢，以覺悟為極則事，然欲入二禪則有覺有悟，皆為患病。學者於初禪第六默然心中厭離，覺觀初禪為下，若知二法動亂逼惱定心，從覺觀生喜樂定等，故為粗。此覺觀法障二禪內淨，學者既知初禪之過，障於二禪，今欲遠離常依三法。一不受不著，故得離；二訶責，故得離；三觀析，故得離。由此三法，可以離初禪覺觀之過。覺觀既滅，五境及默然心悉謝，已離初禪，二禪未生。於其中間亦有定法，可得名禪，但不牢固，無善境扶助之法，諸師多說為轉寂心，謂轉初禪默然也。在此定中須依六行觀，厭下有三，曰苦、曰粗、曰障：欣上有三，曰勝、曰妙、曰出。約言之，只是訶贊二意耳。夫玄門三年溫養，九年面壁，未嘗不靜坐，而不發大智慧，不發大神通，不發深禪空者，以其處處戀著也。得一境界，即自以為奇特，愛戀不捨，安能上進？故須節節說破，事事指明，方不耽著，方肯厭下欣上，離苦而求勝，去粗而即妙，舍障而得出，到此地位，方知法有正傳。昔陳白沙《靜坐詩》云：劉郎莫記歸時路，只許劉郎一度來。陳公在江門靜坐二十餘年，惜無明師指點，靜中見一端倪發露，即愛戀之，已而並此端倪亦失，竭力追尋，不復可見，故其詩意云爾。學者靜中有得，先須知此六行觀，若到初禪，不用此觀則多生憂悔。憂悔心生，永不發二禪，乃至轉寂亦失，或時還更發初禪，或並初禪亦失。所謂為山九仞，一簣為難，切當自慎。學者心不憂悔，一心加功，專精不止，其心澹然澄靜，無有分散，名未到地，即是二禪前方便定也。《經》云：不失不退。其心豁然明淨皎潔，定心與喜俱發，亦如人從暗中出，見外日月光明，其心豁然明亮，內淨十種功德俱發，具如初禪發相，但以從內淨定俱發為異耳。二禪有四境，一內淨、二喜、三樂、四定心。何名內淨？遠而言之，對外塵故說內淨；近而言之，對內垢故說內淨。初禪中得觸樂時，觸是身識相應，故名外淨；二禪心識相應，故名內淨。初禪心為覺觀所動，故名內垢；二禪心無覺觀之垢，故名內淨。既離覺觀，依內淨心發，定皎潔分明，無有垢穢，此內淨定相也。喜者深心自慶，於內心生喜、定等十種功德善法，故悅豫無量也，樂者受喜中之樂。恬澹悅怡，綿綿美快也。初禪之喜樂，由覺觀而生，與身識相應；此中喜樂，從內心生，與意識相應，所以名同而實異。定心者受樂心忘，既不緣定內喜樂，復不緣外念思想，一心不動也。此四境後，亦有默然心，但比初禪更深耳，謂之聖默然定。欲進三禪，又當訶二禪之過。此二禪定，雖從內淨而發，但大喜湧動，定不牢固，當即捨棄，如上用三法遣之，一不受、二訶責、三觀心窮檢。既不受喜，喜及默然自謝，而三禪未生，一意精進，其心湛然不加功力，心自澄淨，即是三禪未到地，於後其心泯然入定。然入定不依內外與樂俱發，當樂發時，亦有十種功德，具如前說，但無湧動之喜為異耳。綿綿之樂，從內心而發，心樂妙美，不可為喻。樂定初生，既未即遍，身中間多有三過。一者樂定既淺，其心沉沒，少有智慧之用；二者樂定微少，心智勇發，故不安穩；三者樂定之心與慧力等綿綿美妙，多生貪著，其心迷醉。故《經》言此樂惟聖人能捨，餘人舍為難。有此三過，則樂定不得增長，充滿其身，學者須善調適，亦三法治之。一者心若沉沒，當用意精進；二者若心勇發，當念三味定法攝之，三者心若迷醉，當念後樂及諸勝妙法門，以自醒悟，令心不著。若能如是，樂法必定增長遍滿身分，百骸萬竅，悉皆欣悅。按初禪之樂，從外而發，外識相應，內樂不滿。二禪之樂，雖從內發，然從喜而生，喜根相應，樂根不相應，樂依喜生，喜尚不遍，況於樂乎？三禪之樂，從內發，以樂為主，遍身內外充滿恬愉，亦有五境，一舍、二念、三智、四樂、五定心也。舍者舍前喜心，並離三過也；念者既得三禪之樂，念用三法守護，令樂增長也；智者善巧三法離三過也；樂者快樂遍身受也；定心者受樂心息，一心寂定也。欲得四禪，又當訶斥三禪之樂。初欲得樂，一心勤求，大為辛苦；既得守護，愛著亦為苦：一旦失壞，則復受苦。學者既深見三禪樂有大苦之患，應一心厭離，求四禪種不動定，爾時亦當修六行及三法除遣。即三禪謝滅，而四禪未到，修行不止，得入未到地，定心無動散，即四禪方便定。於後其心豁然開發，定心安穩，出入息斷，定發之時，與舍俱生，無苦無樂，空明寂靜，善法相扶，類如前說，但無喜樂動靜為異耳，爾時心如明鏡不動，亦如淨水無波，絕諸亂想，正念堅固，猶如虛空。學者住是定中，心不依善，亦不附惡，無所依倚，無形無質。亦有四境，一不苦不樂、二舍、三念清淨、四定心也。此禪初發與舍受俱發，舍受之心，不與苦樂相應，故言不苦不樂。既得不苦不樂，定舍勝樂，不生厭悔，故云舍禪定。分明智慧照了，故云念清淨。定心寂靜，雖對眾緣，心無動念，故名定心。此後亦有默然心，如前說也。又此四禪，心常清淨，亦名不動定，亦名不動智慧。於此禪中學一切事皆得成就，學神通則得，學變化則得，故《經》說佛於四禪為根本也。外道服食勤煉，遠望延年，勞形弊骨，萬舉萬敗，間有成者，自負深玄，豈知造業爭如求禪，一切變化無不立就，轉粗形為妙質，易短壽為長年，特其細耳。從此後又有四定，一空處定，二識處定，三無有處定。四非有想非無想處定。學者至四禪時，有視為微妙，得少為足，畫而不進者；有覺心識主滅，虛誑不實，便欲求涅槃寂靜常樂者。不遇明師指授，不知破色與斷色系縛之方，直強泯其心，斷諸思慮，久久得心無憶念，謂證涅槃。既未斷色系縛，若捨命時，即生無想天中，此為大錯。故須求空處定，應深思色法之咎。若有身色，則內有飢渴、疾病、大小便利臭穢、弊惡等苦，外受寒熱、刀杖、刑罰、毀謗等苦。從先世因緣和合報得此身，即是種種眾苦之本，不可保愛。復思一切色法系縛於心，不得自在，即是心之牢獄，令心受惱，無可貪戀。由是求滅色之法，須滅三種色，一滅可見有對色，二滅不可見有對色，三滅不可見無對色，《經》言過一切色相，滅有對相，不念種種相。過一切色相者，破可見有對色也；滅有對相者，破不可見有對色也；不念種種相者，破不可見無對色也。學者於四禪中一心締觀己身，一切毛道及九孔身內空處，悉皆虛疏，猶如羅縠內外相通，亦如芭蕉重重無實。作是觀時，即便得見，既得見已，更細心觀察，見身如篵如甑，如蜘蛛網，漸漸微末，身分皆盡，不見於身及五根等，內身既盡，外道亦空。如是觀時，眼見色源，故名過色。耳聲、鼻臭、舌味、身觸覺壞，故名有對相。於二種余色及無數色，種種不分別，故名不念種種相。一切色法既滅，一心緣空，念空不捨，即色定便謝，而空定未發。亦有中間禪，爾時慎勿憂悔，勤加精進，一心念空，當度色難。於後豁然與空相應，其心明淨。不苦不樂，益更增長。於深定中，唯見虛空無諸色相，雖緣無邊虛空，心無分散。既無色縛心，識澄靜無礙自在，如鳥之出籠，飛騰自在，此為得空處定也。從空緣識，學者當知虛空是外法入定，定從安穩識處是內法，緣內入定，則多寧謐觀，緣識之受想行識，如病如癰如瘡如刺，無常苦空，無我和合，而有欺誑不實。一心系緣在識，念念不離，未來過去，亦復如是，常念於識，欲得與識相應，加功專至，不計旬月，即便泯然任運，自住識緣。因此後豁然與識相應，心定不動，而於定中不見餘事，惟見現在心識，念念不住，定心分明，識慮廣闊，無量無邊。亦於定中憶過去已滅之識，無量無邊。及未來應起之識，亦無量無邊。悉現定中識法，持心無分散意，此定安穩清淨，心識明利，為得識處定也。從此而進，又思前緣空入定，是為外定；今緣識入定是為內定。而依內依外，皆非寂靜，若依內心，以心緣心入定者，此定已依三世心生，不為真實，惟有無心識處心無依倚，乃名安穩。於是又觀緣識之受想行識，如病如癰如瘡如刺，無常苦空，無我和合，而有虛誑不實，即舍識處，繫心無所有處，內靜息，求不同一切心識之法，知無所有法，非空非識，無為法塵，無有分別，如是知已靜息，其心惟念無所有法，其時識定即謝，無所有定未發，於其中間，亦有證相。學者心不憂悔，專精不懈，一心內淨，實無所依，不見諸法，心無動搖，此為證無所有處定也。入此定時，怡然寂絕，諸想不起，尚不見心相，何況余法？從此而進，又復上求訶責無所有定，如癡如醉，如眠如暗，無明覆蔽，無所覺了，無可愛樂。觀於識處，如瘡如箭；觀於無所有處，如醉如癡，皆是心病，非真寂靜，亦如前法，離而棄之。更求非有想非無想定，前識處，是有想；無所有處，是無想。今雙離之，即便觀於非有非無。何法非有？謂心非有，何以故？過去現在未來求之都不可得，無有形相，亦無處所，當知非有。云何非無？無者是何物乎？為心是無乎？為離心是無乎？若心是無，則無覺無緣，不名為心；若心非無，更無別無。何也？無不自無，破有說無，無有則無無矣，故言非有非無。如是觀時，不見有無。一心緣中，不念餘事。於後忽然真實定發，不見有無相熊，泯然寂絕，心無動搖，恬然清淨，如涅槃相。是定微妙，三界無過，證之者，咸謂是中道定相，涅槃常樂，我淨愛著是法，更不修習，如蟲行至樹表，更不復進，謂樹外無高，可憫也。殊不知此定雖無粗煩惱，而亦有十種細煩惱，凡夫不知，誤謂真實。世間外道，入此定中，不見有無，而覺有能知非有非無之心，謂是真神不滅，若有明師傳授，方知是四陰和合，而有自性，虛誑不實。從此不受不著，即破無明入滅受想定，獲阿羅漢果，是謂九次第定也。大抵初禪離欲界入色界，二三四禪皆色界，攝四定離色界入無色界，滅受想定，則出三界，證阿羅漢果，生淨土。此非閉息導引、坎離成丹之所及，蓋能成大仙，然後能學佛，此之謂也。</p>
<p>靜坐之訣，原出禪門，吾儒無有也。人自有生來，終日馳驟，逐物忘歸，動固紛紛，靜亦擾擾，稍加收攝，便覺朗然，中間曲折，無明師指授，不得肯綮，或得少為足，或反成疾患，不可不知所適從也。</p>
<p>凡靜功先須辨志，志一差即墮邪徑。如學者為名聞利養而靜坐；如為志氣昏愚，欲聰明勝人而靜坐；如為塵勞苦報，慕為善安樂而靜坐；如為千生萬劫，生死未了，求得正道而靜坐。真正修行者，發大願心，如《楞嚴經》云：有一眾生不成佛，永不於此取泥洹，又云：將此身心奉塵剎。所以菩薩修行，身雖暫舍眾生，而心常悲憫，於閒靜處，服禪、定藥，得實智慧，除煩惱，起六神通，廣度眾生。即如儒者隱居，豈潔己忘世哉？正為求萬物一體之志耳。</p>
<p>古語云：靜處養氣，鬧處煉神。金不得火煉，則雜類不盡；心不得事煉，則私欲不除。苟能調和氣息，收斂元神；動中習存，應中習止：立則如齋，手足端嚴，行則徐徐，步與心應；言則安和，勿使躁妄；一切運用，皆務端詳閒泰。勿使有妄想、妄為、妄行諸疾，又何益非靜功哉！</p>

<h1>紀驗</h1>
<p>考古以凡人血脈有未和，因治藥調齊之，苟非慎於物，其用無驗，蓋慎物齊也。齊即劑也，劑以取驗，驗而出。如黃帝時桐君，逮北齊徐司徒、唐英司空、孟刺史，處如華佗弟子李當之，逮梁陶隱居，唐孫思邈諸先賢，指不勝屈。大抵以驗傳，以書傳，一藥用，生死系焉，何可以人性命嘗試乎？予於醫深明慎物之義，每視一至愚者。至賤者，未嘗不畢予調齊之力，及遇尊貴，亦猶是。慎物以行之，而醫同，而驗同，非如世醫視富貴與貧賤殊，方用藥時，已心戰手棘，安能取驗？豈知得慎物之義，正未始不同、未始不異哉！予以事閉門，益求醫理，無何而疾病相呼，驗其一，又驗其十，轍將不停，時在省更多。中有奇驗諸方，皆按症創用，非舊本所有，因之取所奇驗，付之剞劂，有紀驗集，而後及於症辨，而後及於脈辨，而後及於秘方靜功，故是集以紀驗為之首。</p>
<p><u>紀驗</u></p>
<p>陳部堂（諱泰，號□□，禮部左侍郎，時統大兵入閩，駐營南臺）己丑仲夏，偶傷寒症，至八日，忽眼黑直視、身冷卒倒，有欲用薑湯灌之，予曰非也，夫因氣暴逆而致然者，可用薑湯蘇合丸等藥，今部堂兩手熱極，此心火也。體肥房勞，暑氣相觸，腎水下虧，心火上炎，宜黃連、宜參，以藥二味投之，立效。</p>
<p><u>藥方</u></p>
<p>川黃連（一錢薑汁炒）　人參（七分）</p>
<p>水一碗，煎五分，渣再煎。</p>
<p>祖部堂（諱澤遠，號清淵，禮部左侍郎，統大兵入閩）己丑夏，得痢疾，每晝夜行七八十次，其疼不可言，便出僅血膿數點，飲食概不進，瘦弱已極。如此者月餘，諸醫咸慮之，以為此毒氣薰蒸清道，致胃口遏塞，聞食即吐，凶兆也。予按症面熱身涼，脈大而滑。夫病久則邪氣日盛，當身熱，而今身涼；身涼不宜脈大，而今脈大；細視胃脈乍大乍細。予豁然曰：此非噤口之症也。因感寒不發散，故胃以上有積寒；冒暑不清涼，故胃以下有積熱。宜以熱藥開胃口之寒，以涼藥通穀道之熱，久病虛甚補之。服此藥當兩日能飲，三日能食，四五日進葷膻，易易耳。聞者大驚。及進藥一服，當夜減病之半，次夜僅行八九次，三服則神氣漸旺，飲食漸進，五六日而愈矣。</p>
<p><u>藥方</u></p>
<p>白豆蔻仁（一錢）　乾薑（煨，一錢）　黃連（吳茱萸制一錢）　黃芩（薑汁炒，一錢）　白朮（陳壁土炒八分）　人參（大南棗包煨八分）</p>
<p>加黑棗一枚，水一碗半，煎七分，日進二劑。</p>
<p>佟中丞（諱國鼎，號懷東，時巡撫福建）戊子冬，偶一日早膳，時神氣正爽，命予視脈。予忽訝曰：據脈已受寒六日，今夜半後交七日當發，發則輕，僅七閱日可愈，若遲一日二日則加重。時同席者不之信，即撫臺亦以為未必然，因命予整一方，俟其驗。及是夜果發，發即以其方進，九閱日而全康。（即十神湯）</p>
<p>張中丞（諱學聖，號捷庵，巡撫閩省）己丑夏命予視脈，並不言及病由。予細診曰：此脈有異，當有濕症，濕在脾，宜嘔吐麻木。然此濕又有異，以濕居中，而上與下不通氣，日動則血運而氣隨之，可無患，若夜靜，則有下半身痠麻之症，陰易動濕也，雨天尤甚。張撫臺曰：果有此症。予曰：嘔吐亦有異，以濕氣中隔，飲則氣屬陽，易行下，胸膈俱爽，食則氣屬陰，硬物難下，略停滯即作逆，而為噁心，而為痰涎。法當通脾氣為主，使其氣下行，則無痿痹之患。進湯藥四服，又進以丸方，而痠麻療矣。閱數月，又進以歸茸膏，而嘔吐全療矣。</p>
<p><u>藥方</u></p>
<p>蒼朮（泔浸炒，一錢）　藿香葉（一錢）　白朮（泔浸陳土炒一錢）　木香（五分）　小茴香（微炒，五分）　茵陳葉（酒炒，一錢）</p>
<p>加煨姜二片，水一碗半，煎七分，食前服。</p>
<p><u>歸茸膏</u></p>
<p>當歸（一斤，酒洗淨，用好冬酒浸一宿）　鹿茸（一斤，酒洗淨，切片，用好紅酒浸一宿）　麥門冬（半斤，水浸去心）　白茯苓（四兩，水浸去心）　白朮（四兩，米泔水洗，切片，陳壁土炒）　人參（四兩）　木香（二兩，揀淨為末）　白豆蔻（二兩，去殼為末）　甘草（二兩，為末）　蘿蔔子（二兩，微炒為末）　川貝母（二兩，去心為末）　砂仁（二兩，為末）　沒藥（一兩，為末）　麝（三分，與貝沒共為極細末）</p>
<p>上將歸、鹿、麥、茯、朮、參六味，入銅鍋，用清泉水浮藥上八寸許，熬至寸許。又沖水浮藥上四寸，熬至寸許，取起用絹袋濾淨，入木、豆、甘、蘿、砂五味末藥，微火熬成濃汁，用絲綿濾淨，入煉蜜一斤，用桑條攪不住手，入水成珠，不散為度，磁瓶封好，水中浸五晝夜，去火氣。每清晨與臨睡，用白滾湯調服，隨意多寡，或夜間臥後，銜口中自化，此膏補心血，升腎水，健脾胃，清痰理氣，久服卻病延年，返老還童。區區治嘔吐、噁心、嘈雜等症，又其餘也。</p>
<p>楊提督（諱名高，號幼涵，提督八閩兼溫州府）己丑秋初，入關即得恙，屢醫服藥，至延平，予視脈曰：此非時恙也，內有熱毒未得遽泄，因發為寒熱，飲食不進。醫者不知，復用補脾暖精收汗益氣之藥，以至陰囊瘡痕黑如漆，不知痛癢，此為毒氣收入內也，甚足慮。幸予知此症，整藥服之，始而遍身發痛，繼而發癢，閱半月而毒瘡發矣，兩月全愈。（多方不能盡載）</p>
<p>霍按臺（諱達，號魯齋，時巡方福省）己丑初秋暑熱，得一症，遍身俱疼，乍寒乍熱，上欲吐不吐，下欲瀉不瀉，兼有隔一日瘧症，諸醫以為冒暑，熱在內，不得出，多用香薷益元散，不惟無效，且加重。予視脈曰：此積寒也，非冒暑也。積寒並與冒寒異，感冒之症，隨感即發，毛竅既寒，安禁熱蒸？積寒者，或飲食後，或睡中，或易衣，今日微寒入內，明日又微寒入內，或因多用酒暫解，閱數日又微寒入內，及暑氣相觸，遂至病發。此為寒在臟腑熱在皮膚，用辛熱之藥以去寒，寒去則吐瀉止而遍體快矣。次用小柴胡加減以祛瘧，數劑全康。</p>
<p><u>藥方</u></p>
<p>乾薑　肉桂　陳皮　柴胡　茯苓　半夏　白芍　甘草</p>
<p>加黑棗二枚，水一碗半，煎七分。</p>
<p>杭主考（諱齊蘇，號東侯，吏科給事中，時典試閩闈）向有鬱血症，欲吐不吐，最難忍。戊子秋，閱卷勞心，發甚重。出闈，予視脈用藥立效，時一使。半月前忽腿疼，兩腳筋縮，腳根縮黏至腿，寸步不能行，將一月，屢藥無效。咸以此為痿痹症，予曰：非也，察其脈，左寸忽洪忽澀，遲數無定棲，因此人好飲冷酒，酒新熱燥，冷飲寒濕、寒熱相摶，遂有此病。以四味藥為末，頭晚進一服，次晨即能行動，三服全愈。</p>
<p><u>散藥方</u></p>
<p>白蒺藜（一錢，炒去刺，酒蒸熟，焙乾為末）　川烏（二錢，去皮臍，為末）　麻黃（二錢，二股梢一股根，為末）　蒼朮（一錢，甘草汁拌炒為末）</p>
<p>每服一錢二分，用老酒熱沖服。被厚蓋，出汗自干。</p>
<p>丁方伯（諱文盛，號瑞軒，福省藩司）夫人己丑冬，因水土不服，胸膈氣逆，飲食不進，諸藥無效，整方偶痊兩日，復發如噎膈然，甚至喉間不能通氣。予視脈悟曰：昔賢有云：氣大逆遏塞之甚者，其氣挾火，畏用熟藥，須以生藥磨服之。予整藥二味，一服而愈。</p>
<p><u>藥方</u></p>
<p>檳榔（五錢）　枳殼（七錢）</p>
<p>用涼水生磨沖服。</p>
<p>何道尊（諱平，號匡山，福省糧道）夫人時恙後，遍身痠疼，胸腹膨脹，飲食不進，時發寒熱。諸醫作不足進藥，無驗。予視脈曰：此非不足之症，乃邪氣未散，傳入經絡，上焦有火，當用通氣清涼之劑，三服而愈。</p>
<p><u>藥方</u></p>
<p>羌活（一錢）　防風（八分）　升麻（七分）　柴胡（七分）　白豆蔻仁（六分）　黃柏（酒炒，七分）　桑白皮（六分）　青皮（五分）　白茯苓（七分）　炙甘草（三分）</p>
<p>煎照常。</p>
<p>顧道尊（諱礽，號南金，建南道）丁亥秋得痢症，至冬尚未痊。予視脈曰：非痢也，此必由食冷物，寒入脾，虛入腎，但以痢藥投之無濟也。果因多食藕。從噁心起，不進飲食，遂至瀉成痢，投藥數劑而愈。</p>
<p><u>藥方</u></p>
<p>當歸（一錢）　懷地（八分）　白芍（八分）　益智仁（一錢）　砂仁（六分）　白茯苓（一錢）　陳皮（七分）　甘草（三分）</p>
<p>水一鍾半，加姜二片，煎七分。</p>
<p>黃道尊（諱鼎象，號商侯，建南道）己丑初秋患瘧，三日一發。每日事甚煩，而年又高，瘧月餘，飲食不能進，體瘦脾弱，每藥無效。予視脈曰：三日一發，有熱無寒，裡實不泄，手足熱而欲嘔，此陰氣弱而陽氣獨發也，謂之癉瘧。且自午漸酉漸亥轉陰也，為水氣不交，腎虛也，法當用升，而醫家多用黃芩等藥，宜乎日益弱矣。予用升陽飲加減，次用神截丸漸愈。</p>
<p><u>藥方</u></p>
<p>人參（一錢）　白茯苓（一錢）　白朮（泔浸土炒，一錢）　藿香葉（一錢）　升麻（八分）　青皮（八分）　何首烏（一錢）　甘草（四分）</p>
<p>加煨姜二片，黑棗二枚，水一碗半，煎七分。</p>
<p><u>神截丸</u></p>
<p>白朮（八兩，米泔水浸一宿，陳壁土炒乾，去土淨，分作四股。一股用柴胡二兩，煎濃拌曬乾；一股用常山二兩，酒煎濃汁拌曬；一股用人參一兩，煎濃汁拌曬；一股用青皮二兩，煎濃汁拌曬。無日焙乾）</p>
<p>用豆粉煮薄糊為丸，如梧子大，早晚溫湯吞六十丸。但此方最妙在眾截藥不效，然後用之。</p>
<p>朱方伯（諱鼎新，號爾健，時福省藩司）丁亥秋患失音症，諸醫皆以風熱痰火，用清涼散為主，每服無效。予視脈曰：此不當作失音論也，因腎水不升，心血不足，偶冒風寒，不知表散，遂至肺竅閉塞。整一方服之，三日而氣通。五六日而音通矣。</p>
<p><u>藥方</u></p>
<p>當歸（二錢）　生地（二錢）　人參（八分）　石菖蒲（一錢六分）　白茯苓（一錢六分）　核桃肉（二錢）</p>
<p>用水五大碗，煎三大碗，不拘溫冷，不論飲食前後，每清晨至午服完，將渣再煎一大碗，臨睡服。</p>
<p>朱道尊（諱正源，號靜之，閩省屯鹽道）戊子冬偶恙，兩日旋愈。方在奕棋，予視脈曰：未也，此感重發輕。內邪更伏，稽其驗，當在四日後發，發則寒熱交作，頭痛骨酸，背疼腰強，傳經不已，重傷寒也。知病根早治之，須十四日可愈，不則未可知矣，閱三日果發，悉如予言，整方服之，二十日全愈。（方載傷寒門）</p>
<p>鄭副總（諱爾任，號沖宇，松溪鎮守）丁亥秋，有血虛胃弱之症，予治藥遂驗。時寓所有一少年新娶，得陰症，至六日卒倒，遍體俱冷，其父母為化紙置棺，但胸前氣微溫，鼻中似有息出。夜二鼓，因鄭副總求救於予，予曰：此火症也。痰閉不醒，當兩手脈俱伏，而兩腳大趾必微熱者，又必醫生認為陰厥凶症，誤用附子諸熱藥，益速其重。因與藥一服，吹入喉即醒，再一服而愈。</p>
<p><u>藥方</u></p>
<p>細辛（三分）　薄荷（五分）　人參（三分）　羌活（五分）</p>
<p>共用絲纏好，入大棗肉中，燒灰存性，為細末，先用少許吹入喉間，次用溫水調沖服。</p>
<p>張六三（諱法拭，𫵻安令）丁亥秋偶時恙為治藥愈，有乃弟張二官病甚重，飲食不進，瘦弱氣欲絕，三閱月，似不可藥。予視脈曰：爾脈不過無力弱極，何沉篤至此，無他病，必有邪。驚拜屏人語予曰：真仙醫也！實為在署內遇一美婦，伴睡二月餘，心知其妖，欲卻之不能，殆登鬼錄矣。何以救我？予整一方與之，旬日而愈。（此方近誕不載）</p>
<p>戴山芝（諱廷徽，建陽縣令）戊子冬看脈，腎水最弱，交女即泄，精冷極。予整一方服之，不多日而交能堅，精出覺有熱氣，女果孕矣。</p>
<p><u>丸方</u></p>
<p>沙苑蒺藜（六兩，酒浸一宿，瓦上焙乾）　懷大地（六兩，酒浸三宿，煮一日，多用酒，黑爛為度）　鹿茸（四兩，酒浸三宿，酒十斤煮半日，炒乾）　川續斷（四兩）　石棗肉（四兩）　牡丹皮（三兩）　川杜仲（四兩，一半鹽水炒，一半薑汁炒）　白附子（二兩，麵包煨，去皮臍）　白菖蒲（二兩）　白茯苓（三兩，去皮，水淘去絲膜，曬乾，人乳拌蒸）　川牛膝（三兩，酒浸蒸，焙乾）　乳香（五錢）　沒藥（五錢）　人參（二兩）</p>
<p>煉蜜丸，梧子大，每清晨白滾湯吞五六十丸。</p>
<p>李九齡（諱之龍，沙縣令）戊子夏得恙，秋盡未愈，瘦如柴，兩腳不能立。予視脈曰：此邪入經絡，故晝熱少，夜熱多，遍身痠疼，胸膈有鬱火，氣弱血虛症也。整一方服之。旬日而愈。</p>
<p><u>藥方</u></p>
<p>生地黃（酒洗，炒，八分）　蒲黃（八分）　川黃連（薑汁炒，五分）　當歸（酒洗去土，一錢）　柴胡（去蘆，七分）　羌活（七分）　桃仁（四分）　甘草梢（炙，四分）</p>
<p>加燈草二分，水一碗半，煎七分。</p>
<p>—滿州將官黑得喇　己丑秋，患白痢兩月，腹痛不可忍，若進飲食更痛，氣將絕。予視脈曰：此有飲食之毒，因虛弱不能發，是以痛極，整一鵝蛋藥與之，兩日而愈。</p>
<p><u>藥方</u></p>
<p>用大鵝蛋一個，將蛋頂錐一孔，入人參末五分、川烏末五分、雄黃五分、麝香半分，攪勻，用綿紙浸濕，裹十層，外用陳壁土調濕包好，其孔上多用泥，火煨三個時，取出，用布包蛋，以線縛，沉井底一宿，取開好燒酒調服。</p>
<p>一秀才陳啟忠　患病後，只飲食便作嘔，每一餐必吐盡方止，輒思飲食，食後又復如是，一年餘羸弱不可言，諸藥不效，咸云死症。予視脈曰：此傷寒愈後，不服補中益氣湯，胃虛症也。用丁香茱萸湯加減，兩服而飲食通，十服全愈。</p>
<p><u>藥方</u></p>
<p>丁香　炙甘草　柴胡　升麻　人參　黃耆　吳茱萸　草豆蔻　當歸身　蒼朮（各六分）　黃柏　肉桂（各四分）</p>
<p>加黑棗二枚，水一碗半，煎七分。</p>
<p>何道尊（諱敦季，號胤伯，先署漳南道，後署福寧道）</p>
<p>庚寅春，寓所有王友，自頭年夏得傷寒症，愈後成瘧，至冬月瘧愈，頭痛不可忍，羸弱不進飲食，晝夜不得眠者數月，藥無效。予視脈曰：此傷寒不清理小便，聚火不得行，其毒上升結頭頂。予以清便藥與之，一服而睡，數服而愈。</p>
<p><u>藥方</u></p>
<p>生地黃　木通　蒲黃　車前子　通草　歸尾　白茯苓　澤瀉　檳榔　甘草</p>
<p>鄭道尊（諱清，號介臣，福省兵道）素患牙疼症，疼不可言，其氣流入肩，即肩成腫。諸醫認為火，多用涼藥，其疼益甚，經五年餘。庚寅春，予視脈曰，此風入肝濕，宜用散風，次乃降火，數日見功矣。鄭道臺以牙疼戒酒，飲即疼發，予以末藥三服，用酒儘量表汗，多飲減疼，其患漸愈。</p>
<p><u>末藥方</u></p>
<p>羌活（一錢）　附子（一錢）　麻黃（五分）</p>
<p>共為細末，作三服，好酒熱沖，儘量出汗為度。</p>
<p><u>湯藥方</u></p>
<p>荊芥（一錢）　梔子（童便炒，一錢）　淡竹葉（一錢）　石膏（二錢）　大黃（二錢）　薄荷（一錢）　白芷（八分）　連翹（八分）　白茯苓（八分）　甘草（三分）</p>
<p>水一碗半，煎七分。</p>
<p>周道尊（諱之翰，號申公，漳南道）　素患心前有一塊埂如拳，每睡後欲起，似乎有壓之者，心神不寧，飲食難化，如此數年，諸藥無效。予視脈曰：此非氣之為也，彼醫不知，認中脘痞塞、飽悶為脾氣盛，誤已！此因心事不快，或煩惱時借房事消遣，是以未行房先胸中似有物，既行房後竟成一物，名鬱火也，制丸藥半月而愈。</p>
<p><u>丸方</u></p>
<p>浙腿術（二兩，米泔水浸一宿，陳壁土炒，去油）　白豆蔻（一兩）　麥門冬（二兩，去心，新瓦焙乾）　青皮（一兩）　枳實（麵炒，一兩）　北芥子（炒，一兩）　川黃連（吳茱萸制，一兩）　砂仁（微炒，五錢）　南木香（五錢）　川厚朴（姜炒，一兩）　白茯苓（一兩）　人參（一兩）　地骨皮（一兩）　蒼朮（一兩，米泔水浸一宿，炒）　知母（一兩）　甘草（五錢）　甘枸杞（一兩）</p>
<p>共為末，陳米用薄荷葉湯煮粥為丸，梧子大，每空心淡鹽湯吞二錢。</p>
<p>佟撫臺命予視一將官脈，其症則頭眩體弱，手足拘攣，飲食不進，藥無效。予細察脈曰：此有鬱血在胸，當因損致然，若此血得出，其病立愈，不則難療也。用末藥一服覺病益重，二服欲嘔，三服始吐出紫血一口，繼吐出黑血六七塊。其病立愈。</p>
<p><u>末藥方</u></p>
<p>生陳皮（末，二錢）　生附子（末，二錢）　生大黃（末，二錢）　生乾薑（末，一錢）</p>
<p>共為細末，用好陳酒熱沖，儘量服之。</p>
<p>蘇州商人何鳳宇　患病十餘日，目黃身腫，胸前結塞，不能通氣，每脹悶則目睛上視，一個時不能轉，醫者未審何症，但用寬胸理氣藥益增重，予視脈曰：此傷寒熱邪傳裡，凶症也，遲之又久，藥力亦無施矣。急取黑骨雄雞白毛者，去肚內雜物，切開，先用陳皮枳殼末各五分，攤腹胸，將雞才切即貼上，半個時，腹中微響，邪即轉動，頓覺爽快矣，服煎藥三日而愈。</p>
<p><u>藥方</u></p>
<p>川黃連（薑汁炒，一錢）　知母（一錢）　石膏（三錢）　黃芩（一錢）　山梔（童便炒，八分）　麥門冬（去心，八分）　五味子（八分）　香豉（一合）</p>
<p>水一碗半，煎八分。</p>
<p>楊提督標下一將官　病久不愈，時九月初，舟中甚熱，脹悶不可忍，米飲不能下，將垂絕矣。予視脈曰：此非熱症也，風邪未經清表，乘虛作脹，涼藥服之加重，即溫藥而溫服之亦無濟也，當用湯藥候冰冷，數服而愈。</p>
<p><u>藥方</u></p>
<p>麥門冬（去心，二錢）　白蒺藜（炒，去刺，二錢）　生地黃（二錢）　白茯苓（二錢）　人參（五分）</p>
<p>用水四碗，煎至二碗半，候冰冷，不時服之。</p>
<p>祖部堂標下一將官　病月餘，頭眩口瘡，喉痛下瀉，偶一二日作痢，旋愈復瀉，閱數日又痢，而喉腫又不進飲食，偶進食旋吐，服藥益吐。予視脈曰：此虛極，腎水不升，脾土不能勝，當進以益精補脾之藥，喉痛口瘡，此邪火不足慮也。整一丸方，十日全愈。</p>
<p><u>丸藥方</u></p>
<p>人參（一兩）　硃砂（水飛，三錢）　白朮（米泔水浸一宿，陳壁土炒，二兩）　白茯苓（去皮，一兩）　黃耆（蜜炙，一兩）　白芍藥（一兩）　當歸（酒洗，一兩）　陳皮（一兩）</p>
<p>煉蜜為丸，梧子大，每日進三次，白滾湯每次一錢。</p>
<p>李部堂標下一將官　患傷寒症，頭疼發熱，惡寒，遍身作痛。屢發無汗，其症不變，而病日益重。諸醫加以發表，遂至癲狂，腹痛欲絕。予視脈曰：此無陽凶症也，豈有陽虛而能汗者，整一方與之立效。</p>
<p><u>藥方</u></p>
<p>防風　羌活　細辛　川芎　桂枝　白芍　熟附　柴胡（各等分）　人參（六分）　甘草（三分）</p>
<p>加黑棗一枚，水一碗半，煎七分。</p>
<p>陳部堂標下一將官　每便撒血不止，腹微痛即有血行，行即痛止，如此十數年，藥無效，羸瘦不堪。予視脈曰：此脾濕引熱也。整一丸方與之，脾氣既健，血自歸經，其病全愈。</p>
<p><u>藥方</u></p>
<p>生地（三兩，酒浸三宿，多用酒煮一日，黑爛為度）　陳皮（一兩）　蒼朮（二兩，米泔水浸七日，炒）　川黃連（二兩，吳茱萸制）　藿香葉（三兩）　升麻（二兩）　川厚朴（二兩，炒）　白朮（三兩，米泔水浸一宿，陳壁土炒）　薏仁（三兩，炒）　當歸（二兩，酒洗）　槐花（三兩）</p>
<p>煉蜜為丸，梧子大，每清晨白滾湯吞二錢，臨睡一錢。</p>
<p>馬成垣（諱鑣，鎮守浦城中軍）一家丁　每夜發熱，晝則發寒。其畏寒有大異者，見人持扇，即毛竅發戰；見人談及風字，即口噤不能言。飲食夜或可進，晝則概不入也。醫者多用熱劑，病益甚。予視脈曰：此內熱極而外怯寒也，由感寒病後不清表，結成胃火。整藥與之，二服而愈。</p>
<p><u>末藥方</u></p>
<p>益元散（五錢）　川黃連（三錢，薑汁炒）　陳皮（二錢）</p>
<p>共為散末，作二服，米湯吞下。</p>
<p>一友林大年　目腫疾愈後，但昏黑不能明，忽疼而止。移時復然。予視脈曰：此多服涼藥，竅塞血枯，大患雖去而血不能通竅，遂至昏花。血無時不生，竅欲通而復閉，故忽然疼也。整方與之，三服而愈。</p>
<p><u>藥方</u></p>
<p>當歸　枸杞　黃耆　細辛　白茯苓　升麻　蔓荊（各等分）　甘草</p>
<p>食後服。</p>
<p>一友黃涵素　九日登高回，忽腹中微痛，醫者進以香砂等藥，漸加痛，又服藥，益痛不可忍，至五六日幾痛絕，口不能言。予視脈曰：此脈無恙，必腹中有毒物。整方與之，一服而愈。</p>
<p><u>末藥方</u></p>
<p>明雄黃（一錢）　沒藥（七分）　乳香（七分）　麝香（二分）　白芷（一錢）　皂角刺（七分）</p>
<p>共為末，沖陳酒五斤封好，不拘冷熱，隨意飲盡即愈。</p>
<p>一友俞成伯　陰症，因自知醫，先用理中湯，後益腹疼、氣冷，用三建湯等熱藥，囊愈縮不能言語，將危矣。予視脈曰：此當先通其氣，氣通則陽起，起陽之藥有秘法，不專在天雄附子也。整一方與之，一服而愈。</p>
<p><u>藥方</u></p>
<p>烏骨雄雞燥糞（五錢）　鼠糞（五錢）　陳皮（三錢）　韭菜（五錢）</p>
<p>先將雞糞鼠糞炒黃，次入陳皮同炒，沖陳酒一碗，入鍋一滾，將韭衝下熱服。</p>
<p>徽商汪鳳溪　病三四日後，只腹痛不能忍，諸藥無效，一日疼甚，眼直卒倒。予視脈曰：此傷寒蓄血症也。以井水半碗飲之，其病稍止，即能言，云冷入快極，用藥下之即愈。</p>
<p><u>藥方</u></p>
<p>桂枝（一錢）　枳實（七分）　大黃（二錢）　石膏（一錢）　柴胡（八分）　甘草（四分）</p>
<p>加姜二片，棗一枚，水一碗，煎八分。</p>
<p>一友方玉玄　有頭痛症，日夜不得眠，惟進飲湯稍可，食即痛難堪，數年求醫不得效。予視脈曰：此邪火上聚，進飲湯稍可，全屬陰邪，飲者陽氣，陽入則陰散也。湯藥無效，用洗藥五日而愈。</p>
<p><u>洗藥方</u></p>
<p>羌活（二兩）　甘草（二兩）　薄荷（一兩）　升麻（一兩）</p>
<p>作一服。水六碗，煎至二碗，用布浸，乘熱洗上，如冷又煎熱再洗，自晨至晚，洗有三個時，夜則不用，以養陽氣也，五服全愈。</p>
<p>童旗鼓（諱毓秀，號賢齋，提督旗鼓）己丑冬得感冒甚重，妄用藥，遂熱蒸欲狂，解衣揚被，腹脹胸疼，飲食不進，不省人事，成凶症，予視脈曰：此飲食勞役過傷，內症也。用藥一劑瀉其毒熱，次用半表半裡劑，二服而成瘧症，漸愈矣。</p>
<p><u>藥方</u></p>
<p>柴胡　黃芩　大黃　枳殼　赤芍　朴硝</p>
<p>加姜三片，水一碗半，煎八分。</p>
<p><u>次藥方</u></p>
<p>人參　陳皮　黃芩　貝母　知母　茯苓</p>
<p>煎照前。</p>
<p>一友莆田戴一甫　患眼疾不能視物二年餘，諸藥無效。庚寅春，予視脈曰：此因勞損心血。肝木主筋，血侵筋，故赤筋侵睛，久則腎益虛，而肝木生風，流淚無窮，益增昏黑矣。整方服之，五日見物，十日復明。</p>
<p><u>藥方</u></p>
<p>防風　荊芥　薄荷　家白菊（各一錢）　石決明　蟬蛻　生大地　白茯苓（各八分）　人參（五分）　甘草（三分）</p>
<p>水一碗，煎七分。</p>
<p>鄒副總（諱必科，號聘之，撫院大廳）患頭眩，兩目黃赤，四肢無力，飲食不進；諸醫多用補藥，病勢益重。予視脈曰：風邪未清，如何用補？目赤頭眩者，火也；四肢無力者，邪入筋絡也；飲食不進者，用補藥氣扼也。整一方四服而愈。</p>
<p><u>藥方</u></p>
<p>薄荷　荊芥　牛蒡子　麥門冬（去心）　膽南星　黃柏　知母　干菊　茯苓（各等分）　甘草（四分）</p>
<p>加姜二片，水一碗半，煎七分。</p>
<p>王副總（諱進，號翠芝，福省城守）　初患傷寒，予整藥二服隨痊。因不忌口成瘧，復不忌口，重不可言。醫者以其病久，多議服補虛健脾之藥。予視脈曰：此傷寒勞復，因瘧後血氣未平，尚有餘熱，隨多食發怒，勞力勞神。用小柴胡加減，數劑而愈。</p>
<p><u>藥方</u></p>
<p>柴胡　人參　半夏曲　川厚朴　白朮　白茯苓　陳皮　澤瀉　甘草</p>
<p>煎照常，加煨姜。</p>
<p>蔣副總（諱彪；號□□，部院大廳）患一病，只惡寒畏風，房間聚旺火不見熱，被幾床不知暖，諸醫以辛熱之藥投之，勢益重。予視脈曰：此內熱極不得清涼，外寒極不得辛散也。用末藥熱極者，以酒送下，次用表藥汗之，即令撤其火與被，而身體爽快矣，四服全愈。</p>
<p><u>末藥方</u></p>
<p>附子（炮去皮，一半面包煨，一半生）　肉桂　蒼朮（各三錢）　甘草（二錢）</p>
<p>為末，分作四服，陳酒儘量服之。</p>
<p><u>藥方</u></p>
<p>麻黃　人參　白芍　乾葛　細辛　澤瀉　豬苓　陳皮　甘草</p>
<p>加姜二片，煎照常。</p>
<p>一友吳丕顯　久病後只發嘔噁心不進飲食，四肢困倦，夜發冷汗，日枯瘦，藥無效。予視脈，用溫腎湯加減為末，日進一服，隨效。</p>
<p><u>藥方</u></p>
<p>柴胡　麻黃根（各四錢）　白茯苓（人乳蒸）　白朮（土炒）　黃柏（酒炒）　豬苓（酒炒）　升麻　澤瀉（炒）　陳皮　神麯（各六錢）</p>
<p>共為末，每清晨用白滾湯吞一錢。</p>

<h1>紀驗二刻</h1>
<p>錢牧齋先生　患一症，手足時患麻痹，飲食停留，通體不快，如此數十年，到處明醫酌方製藥，並不效，而年已古稀外，自以殆將終身矣。春初昭慶寺，予視脈曰：此由心血中潤，兩頭枯。自湧泉血上行，至心而回，諸陽血下行，至心而回，上下不相應而氣沮矣。是以有時上身快則下身不快，下身快則上身不快，飲食居中亦由之乎，血欲上下不得，而精神日漸槁。此當先通山澤，後濟坎離，自覺有血上行。有血下行之驗，再服坎離丸半月，飲食隨服隨化，且覺飲食有味，再閱月飲食較向來加倍，每日多進一餐，精神長益如壯年更勝焉。</p>
<p><u>山澤丸</u></p>
<p>川芎（酒蒸，曬，四兩）　當歸（酒洗，炒，六兩）　升麻（六兩）　川牛膝（黑豆蒸，曬，六兩）　白茯苓（人乳拌，蒸，四兩）　枳殼（麩炒，四兩）</p>
<p>共細末，蜜丸梧子大，每空心吞二錢。</p>
<p><u>坎離丸</u></p>
<p>懷大地（酒浸三宿，蒸黑爛，六兩）　天門冬（去心，用新瓦焙）　麥門冬（去心，新瓦焙，各三兩）　何首烏（黑豆九制，八兩）　白朮（半土炒，半面炒，四兩）　白茯苓（去皮，人乳拌，蒸，三兩）　川牛膝（黑豆制，蒸，六兩）　山茱萸肉（酒潤，去核，三兩）　芡實（三兩）　甘枸杞（四兩）　豨薟草（酒洗，乳蒸，三兩）　五味子（二兩）　地骨皮（酒蒸，三兩）　人參（二兩）　當歸（酒洗，炒，四兩）</p>
<p>蜜丸，梧子大，每清晨白滾湯吞一錢，臨睡酒吞一錢。</p>
<p>吳若谷先生　患一症，每飲食只在胸前作疼作響，以乎捫之如有物，久之飲食不下，喘急煩悶，痰症血症胥起，日就黃瘦，服藥不驗，予視脈曰：此用心過度，勞心傷痹，以致血枯於心，流窒包絡。酌一方服之，進頭一劑，當使其血如輪轉，氣如刺疼，其血之枯者始潤，滯者始行。如此二三日，即血度包絡，而胃氣與心相迎，再服補丸，而心血與腎水相應，體自康矣。</p>
<p><u>湯方</u></p>
<p>前胡　川芎　生地黃　桔梗　赤芍　當歸　茯苓　陳皮　玉桂</p>
<p>又丸方即固真丹加九制首烏。</p>
<p>鍾武卿婦　患一症，飲食不能進，羸瘦已極，忽吐血如傾，五晝夜不止，第六日目閉口噤，直倒氣絕。又閱一日，是日化紙，將入棺矣，而血唾猶未止。予視脈無可蹤跡，然脈氣尚在，世有氣絕已久而生血上行者乎？此必命門火未滅也，用生大黃一錢，搗爛入鼻孔，須臾鼻氣漸通。又以參三分同生蕙地六分，入滾湯搗汁，灌入喉，須臾作嘆息，而口能叫疼矣。再視脈已有一息，予曰：血者水穀之精，生於心，化於脾，布於肺，氣行則血行。若內已受傷，妄行於上，此必盡出而後快者。醫家不知，誤用止血藥太多，止血脾郁，血遂不能化於脾矣，脾不化，則止血肺郁，血遂不能化於肺矣。脾不化，則穀氣不入，新血不生。其叫疼者，脾傷而肺筋下墜也。氣已絕而血不止者，為藥所誤，而命火雖墜猶未滅，心血消長也。血脈自芤，小弱者生，脈靜身涼，有似乎死，而不知乃生機也，是以投之輒驗。</p>
<p><u>湯方</u></p>
<p>生地蕙（一錢）　赤芍藥（八分）　側柏葉（一錢）　生艾葉（八分）　黃芩（一錢）　川芎（八分）</p>
<p>服此方三劑而病體全愈。用藥之奇在生大黃與生參地耳，夫生大黃氣最盛，脾血不化，壅熱已極，遂一吸而通，且性寒能涼血。隨以參培元氣，地歸血路，其氣已復，以地芍柏艾芩芎除舊生新，數劑愈矣。</p>
<p>梁吉之婦　患肺癰，膿血不止，渴極，舌生瘡不能開口，大小便秘澀，七日不通，諸醫進硝黃亦不效。予視脈曰：此非肺癰也，毒在脾胃不能出，其毒紅腫已極，如拳大塞於腸口，用大黃只能稍涼血，而加以朴硝與之鬥，血益妄行。此當用化毒散，瀉肺療風，和中解毒，俾其毒從汙中去者十之六，從二便去者十之三，而病療矣。</p>
<p><u>化毒散</u></p>
<p>人參（一錢）　黃芩（一錢）　石膏（二錢）　芒硝（八分）　大黃（一錢）　麻黃（六分）　連翹（八分）　瓜蔞（八分）　牡蠣（八分）　貝母（八分）　木香（六分）　桔梗（八分）　梔子仁（一錢）　當歸（一錢）　川芎（八分）　赤茯苓（八分）</p>
<p>上方服一劑覺身上微冷，被蓋出汗，即能開口言語；再服一劑，小便流血水二三碗；又一劑，腹痛大便行皆膿血，流兩個時始見硬糞，內毒已清，並口瘡全愈矣。</p>
<p>王爾用婦　患一虛症，頭眩目花，手持物即軟，足欲行即躓，腹極飢欲食，而一物不能下，枯瘦如柴；多痰短氣，每服藥即胸膈如刺。予視脈曰：此症服四物湯，諸醫未始不是，但服四物湯即痛如刺，其故未曉也。又他藥投之更痛，遂束手不用藥矣。予許以兩劑即愈，諸醫以予有何如奇藥，果兩日全愈，反問予所用者，亦即四物湯也。因語以四物湯亦即有異，蓋此症宜芎歸等補藥，然胸膈有痰氣肺火，而脘竅未能即下，補劑甚急而未能即受，予即用四物湯，而先用枳殼一兩煮濃汁，將四物入，浸露一宿，曬乾入煎。夫枳殼寬胸理氣，補劑才入而即寬，稍寬而已過脘矣，投之即驗，蓋以此。</p>
<p>地黃　當歸　白芍　川芎　茯神　牛膝　白朮　人參　甘草</p>
<p>煎照常。</p>
<p>柴完我　患一症，怔忡脹滿吞酸，四肢厥冷，飲食不下，大小便每日行數次，或多或澀，十年尋醫不效。予視脈曰：此誤認為中寒中濕症，多用附子理中湯而益重也，此症因好色過度，醉後行房，邪入筋絡，上攻而怔忡，中聚而脹滿，入四肢而痠疼，思飲食而不納，皆邪火也。數劑而愈。</p>
<p><u>湯方</u></p>
<p>黃連　山梔（童便炒黑）　黃柏（酒炒）　知母　白茯苓　五味子　石蓮子　木通　甘草</p>
<p>加黑棗二枚，燈心七根。</p>
<p>姚思濟　患一症，筋攣頭重，腰疼膝腫，飲食減少，甚至手足不能動。諸醫不曉，多用補劑。風邪不出，變症百出，患十餘年，服藥將滿車，成不起之症矣。予視脈曰：此肝腎氣虛，風入筋骨，當用烏頭全蠍等藥。服五日而飲食進，又五日而體輕，又五日而手足持行如故。</p>
<p><u>末方</u></p>
<p>烏頭（炮去皮臍）　白附子（炮）　蒼朮（炒）　川芎　天麻　官桂　羌活　牛膝（各一兩）　全蠍（焙，六錢）　殭蠶　當歸　防己　黃耆（蜜炙）　羌活（各一兩五錢）　麝香（三分）</p>
<p>共末，酒服，每服一錢五分。</p>
<p>汪善長　患一症，口中苦極，苦茶入則發嘔，咽疼不可忍，不生瘡，不發腫，無可用藥。謂是熱症，以寒藥投之，入喉即吐，易辛熱投之，益甚其疼，諸醫無可奈何。挨至半月，飲湯全不能下，食硬米飯日可進半碗，身體乾瘦，症益重，惟待斃而已。予視脈曰：同一熱症，而此熱有異。夫精氣出入，滋養榮衛，全在口，心熱則口苦。咽者胃之系，胃熱極而作疼，皆宜寒藥。然寒藥入喉即吐，此有故。心胃熱宜湯飲，然飲不能下反愛飯，亦有故。以此症乃臟肺積濕，濕生火，火炎上，故口苦咽疼。濕發於地，飲者水類也，水入重傷，故雖宜寒藥而惡水煎。脾熱口甘，五穀皆甘美，脾氣未傷故喜飯。三劑全愈。</p>
<p><u>藥方</u></p>
<p>川連（一兩）　嫩石膏（五錢）　淮山藥（一兩）　白茯苓（五錢）</p>
<p>共研極細，每一次用五錢，拌入硬米飯中，才入口即覺甘美，日進二服，至三日口不苦、咽不疼，飲食胥進矣。</p>
<p>吳行之　患赤白痢症，三年體瘦面青，飲食不下，並畏聞飲食之氣，熱者進，即欲嘔，諸藥服極多，後並藥氣俱畏。予視脈曰：夫氣血俱傷則赤白相兼，總由濕熱攻之太急，病將愈而重傷，痢久胃虛，遂飲食不進。三年而腸胃不敗、水穀不絕者，以秉氣旺而初感亦未甚重，因攻之太驟，收澀太早，邪氣去而復壅，又多用參朮，亦能調扶天氣，而腸路不淨，日久益增。畏聞飲食之氣並藥氣者，服湯藥過多，中氣既傷，邪勝於主。穀氣者中氣也，下不能化，則中不能納。凡熱則生氣，畏氣者，畏熱也。原感濕熱，邪氣甚則畏主氣也。即病治病，四劑而愈。</p>
<p><u>藥方</u></p>
<p>川連（五錢）　枳殼（三錢）　木香（三錢）</p>
<p>取井水一碗，用前藥生磨冷服，四日全愈，此謂即病治病也。病人既苦煎藥之氣，畏不肯服，是以服亦無功，予即不用入火之藥，冷水生磨，入口便覺爽快，中其腸胃之氣也。初入與邪氣相安，既入則邪不能容，反客為主，奏功易易耳。</p>
<p>張修甫　患一症，腰痛重墜如負千斤，惟行房時不見重，服補腎等丸總不效。予視脈曰：夫腰者腎之府，腎氣虛斯病腰，服補腎丸未嘗不是，然何以行房時不見重？瘀血滯之也。故行房時，腎搖而血行，行即不瘀，遂不見其重也。二劑而愈。</p>
<p><u>湯方</u></p>
<p>黃柏（鹽水炒）　知母（蜜炙）　烏藥　桃仁（去皮尖）　青皮　紅花　蘇木　穿山甲　木通（各一錢）　甘草（五分）</p>
<p>加黑棗一枚，生薑二片。</p>
<p>謝家一孩子　九歲，初起感冒，服藥五六日不效，眼直手軟，懶言語，神色昏迷。至九日忽然氣喘，不省人事，四肢冰冷三日，以為死矣，欲入棺，只胸前火熱。至第七日，眼目鼻口手足俱冷，而胸前火熱未除。適予過其門，告以病緣，予視脈曰：此由疳邪內作，誤認為感冒而治其表，臟氣受郁已極，遂不能通心竅，而同死人也。胸前火熱者，積表氣也，法當下之。上不下者下不上，表裡呼應，即得生機。用硃砂、鐵粉、琥珀共八分，挖開口灌之，須臾胸前氣響運旋，即有氣出口，兩個時覺手足有動意。再用升麻人參湯，更吞朱鐵散八分，腸中作響，鼻息喘急；通體微暖，服湯藥三日而始能言語，又服藥三日而始能開眼。從死得生，亦快事也。</p>
<p><u>鐵朱散</u></p>
<p>硃砂（二錢）　鐵粉（一錢）　琥珀（二錢）</p>
<p><u>參麻湯</u></p>
<p>人參（五分）　升麻（五分）　白豆蔻（六分）　香白芷（三分）</p>
<p><u>湯方</u>（前三日用）</p>
<p>附子（去皮，炒，五分）　南星（姜炮，八分）　沉香（三分，磨沖）　木香（五分，磨沖）　人參（八分）　甘草（三分）</p>
<p><u>湯方</u>（後三日用）</p>
<p>當歸（一錢）　白朮（八分）　白芍（八分）　肉桂（六分）　白茯苓（六分）　川芎（六分）　人參（八分）　遠志（六分）　甘草（三分）</p>
<p>沈維新　患一症，腹如刺疼，有時攻心，咽如煙閉，不能通氣，諸醫不知何症，一日換數藥，不能忍，遂欲自縊。予視脈曰：此傷寒症，初感能忍，未經汗散，陡至四五日沉重，諸醫不知此，謂其心疼咽煙，遂以黃連解毒藥服之，宜乎其益重，而思死也。用瓜蒂散吐之，即心不疼，只腹痛；咽不煙，只咽乾。然後用四逆湯加減，由從前顛倒用藥，故其後遂先吐而後溫臟也。</p>
<p>李買甫　患一症，腹中每響動如雷，有聲徹上下，隔鄰猶聞之，兩脅痛不可忍，偶食肉即發，後聞肉氣亦發。初起面口俱青，漸紫黑，至不省人事，如死樣三個時始得蘇，藥總不效。予視脈曰：此由傷食不得化，積穢成塊，體肥多血，以血裹食。其見肉即發者，必系肉塊也，肉欲出不能。遂響動如雷，末藥一料而愈。</p>
<p><u>末方</u></p>
<p>山查肉（一半酒炒，一半生用，四兩）　桃仁（去皮尖，二兩）　川芎　山稜　莪朮（醋炒，各三兩）　檳榔（一兩）　砂針（一兩，醋炒）</p>
<p>共為末，每空心酒吞三錢。</p>
<p>遊成宇　患一症，遍身畏寒，夏月亦須綿襖，夜即烘火，鼻中全然不聞香臭，鼻孔有一物豆大癢極，若以手爪入則又痛極，惟以黃泥入鼻知為土氣，常半月不開口，無醫可治，予視脈曰：病有奇症，醫有奇方，此不必用藥，只一晝夜即愈，卻用毒手，俾之苦極，始得生路。覓一間房極小，不漏風，四面有磚者，其房四面俱錐一孔，地下掘一小坑僅盤大，可容人面，病人住房內鎖閉。用家艾百斤，漸從四面孔內燒入，自晨至午，燒至三四十斤，煙塞滿房，不能容鼻，沒奈何以頭觸之，尋有空隙，以鼻抵之，即盤大可容人面者，須臾覺鼻息通暢。自午至子，遍身熱極，將綿襖俱脫。天明開門看時，其鼻中血落，不畏風寒，服補中益氣湯十劑全愈。究此病所以，因居樓上，木氣太甚，冬月用火太多，無縫可泄，木又生火，積久成痼，熱在臟腑，寒在皮膚，用艾以灸皮膚之寒，而通臟腑之竅。木入土而朽，火入土而盡，觀其病時，惟聞有土氣，固已得治法矣。</p>
<p>張太華　患一症，初起口瘡身熱，用涼藥稍愈，後漸神昏氣倦，不思飲食，久益見人不識，手舞搖頭，熱極但欲飲水，以水腫不與飲，屢用寒藥，吐不能納。予視脈曰：此病固宜寒藥，而用寒藥亦有異。夫病勢已久，服藥已多，見連柏等即吐者，傷胃也。夫濕鬱成熱，火起於胃，初起但涼膈散一服便清，不早為計，火鬱已極，又多服寒藥，胃傷畏寒，因不相納。予亦用寒藥，一劑而愈。</p>
<p><u>末方</u></p>
<p>辰砂（五分）　玄明粉（八分）　真青黛（六分）　人中白（一錢）</p>
<p>共為末，白滾湯吞下，一服即愈。再用六君子湯數劑。蓋黃連等藥入胃，遲留搜剔而未即行，又其氣太寒，因與胃鬥，用辰砂等迅速易達腸胃，積火久欲去此而出矣。</p>
<p>昭慶寺僧無量患一症，腹中有塊如拳大，沖左衝右，衝上衝下，晝夜叫號不息，疼不可忍，黃瘦已極，至不進飲食月餘，將斃矣，予視脈曰：此因腸氣結澀，起於濕熱，毒氣逆行，諸醫以木香豆蔻等通其氣，氣通，其塊益能行走，以香熱大便益秘，遂有衝上下之症。末藥三服而愈。</p>
<p><u>末方</u></p>
<p>大黃（三錢）　黃連（姜炒，一錢）　人中白（二錢）　枳殼（麩炒，三錢）　厚朴（姜炒，三錢）　桃仁（二錢）</p>
<p>共末作三服。</p>
<p>林返孩　患一症，心重如千斤下墜。背彎不能直，每發時疼痛難忍，眼珠直出，舌俱咬碎，無藥可療。予視脈曰：此必打銅錫生理，終日用力，傷於飢飽，間於欲事或因偷情為人所驚不得泄，用槌則彎背，驚則心血走，不得泄則腎氣逆，以氣裹血，滲留胞絡，遂成茲症。究之此人果沙皮巷打銅匠也。兩劑發汗而心輕，兩劑通便而背直，服八味地黃丸一料，而用力生理如常時也。</p>
<p><u>湯方</u></p>
<p>麻黃（一錢）　香附（八分）　羌活（一錢）　茯神（八分）　歸尾（八分）　赤芍（八分）　甘草（四分）</p>
<p><u>湯方</u></p>
<p>熟大黃（三錢）　赤芍（一錢）　黃柏（一錢）　黃芩（一錢）　檳榔（一錢）　枳實（一錢）</p>
<p>林隱寺僧遠塵　患一症，日身涼，夜身熱，遍體痛甚，作止有時。晝欲行則痛不可忍，睡臥稍可；夜欲睡則痛不可忍，行動始安。此僧極苦，但欲速死。予視脈曰：此由趺坐損血，又有遺夢之症，當其初坐時，惟恐夜睡精漏，故坐功俱用之夜，而血益損，日間飽食傷氣，脾氣已倦，當晝思臥。血，陰分，逢陰不寧，血虛火盛，故晝涼夜熱也。服滋陰抑火湯加減，數劑而愈。</p>
<p><u>加減滋陰抑火湯</u></p>
<p>天門冬（去心）　麥門冬　當歸　地骨皮　丹皮　柴胡　茯神　菊花　棗仁　甘草</p>
<p>加棗二枚，燈心二十根。</p>
<p>朱化之　患一症，氣喘痰多，骨瘦如柴，天將明即思食，食時以半碗飯作一口進，則過喉易易，可食飯七八碗，若一碗飯分作五六口，便不下咽，多許則易，少許則進更難，真不可解。天明後便不索食，直至曉但飲湯坐臥，痰喘竟夜而已。予視脈曰：腎水全不傷。此少年保養，中年用心過度，每睡輒思富貴，長夜到曉，心血虛耗，氣壅火發傷肺，諸醫以肺為氣之主，腎為氣之藏，逆奔體弱，由腎虛不能收肺氣，多用補劑，益喘益弱。予用三拗湯加減，數劑而愈，蓋此症起於風邪積痰，誤用參耆，遂至喘促到底，用麻黃者從根也。天將明而思食，由長夜思量到曉，心血虛而胃氣陷，亟欲以食填之，且旦氣猶存，保□之□□□□□□□更無濟矣。多許易入喉者，乘胃□□□壓之□□則穀氣引胃直達而喘不能出，若食少則喘易出，而食難入矣。日不食者，日多不思，神氣昏沉，旦食未化也。</p>
<p><u>湯方</u></p>
<p>白茯苓（二錢）　麻黃（不去節，二錢）　杏仁（不去皮尖，二十四粒）　枳殼（一錢）　甘草（八分）　薑棗</p>
<p>葉素方　於冬十一月索予視脈，維時並無恙，但欲制常服補丸耳。予曰：且未定方，其脈已有恙，只旬日當發，則寒熱交作，為三日一發之癉瘧。予買舟去杭，至次年四月歸，悉如予言。因酌方服之，三劑而愈。</p>
<p><u>湯方</u></p>
<p>製厚朴　制知母　小柴胡　青皮　草果仁　藿香葉　製半夏　白茯苓　甘草</p>
<p>葉成冶　患積痢近十日，腹疼後重不可忍。予視脈曰：此非積非痢，乃脾血虛而以食氣相觸致然耳。酌方服之，一劑不腹疼，一劑不後重，其積全愈。</p>
<p><u>湯方</u></p>
<p>當歸　白芍藥　生地　地骨皮　白茯苓</p>
<p>葉八五孫　患傷寒症，大便晝夜流水不息，面赤而紫，兩耳黑，胸前有塊大如拳，氣喘不絕，下身冷至臍，諸醫以為漏底，欲止之而益重，且面黑狂言，唇青眼直，咳喘不休，發厥肌冷，皆死症也。求於予，予曰：此不必看脈，但言症而已知其易療矣。當其病在陽明胃經時，不知用大黃黃芩諸藥，只用九味羌活湯，致表裡俱滯。其大便流水不息者，當其病在陽明胃經時，所亟需全在大黃黃芩厚朴，而以九味羌活發散。上下兩礙，內有硬糞不得出，阻塞腸胃之路，鬱血上攻，故有此症耳。用大承氣湯加減，二服全愈。</p>
<p>呂蒼鱗　患瘧症三年，精神脾胃弱極。予酌方止用白朮一味，制丸末服之一月而愈。閱半載余，忽一日予視脈曰：據此脈，過三日當忽然神昏眼暈，不省人事，百節皆作疼。因酌方俟其發，維時精氣正旺，諸友不之信，至三日果應予言，服藥始愈。</p>
<p>陸春元（諱長卿，字效如）　乃正患一症，頭重發熱，遍體俱疼，飲食不進。遍請醫調治，其症益重，晝夜嘔吐不能出，進以湯藥益加重，每吐出有蛔蟲數條，後並湯藥不能下，如此者半月餘，以無復生理矣。予視脈曰：此原非死症也，服藥不中其病，而病日增。遂並藥湯不能下。餘隻用梔子仁薑汁炒，與豆蔻二味白滾湯下，但得過喉，便胸前作疼不可忍，其病即可療矣，服藥果如予言，每日酌一方服之，半月全愈。蓋此症初起風寒外感，諸醫誤用補劑，其寒不經發散，咸積於胸，胃氣不能上升，咸發為火，腸胃燧熱已極，蛔蟲頭上抵至胃脘以上寒處安身，而不知寒處皆死路也。上寒以豆蔻仁散之，下熱宜梔子仁，梔子仁性寒難度上膈，故用炒，是以投之即驗也。</p>
<p>李公祖（衢兵道，號庚生）　長媳王氏患一症，頸項紅腫，小腹有一股氣直衝喉間，疼極，飲食不能進者七日，醫以腫毒欲散之，其症益甚。予視脈曰：此非腫毒也，細按之，此受胎脈也，世有飲食全不者七八日而能生者乎？惟有胎者不然，此初感時，大風大霧，其正者結而為胎，邪者發而為毒，但詢以經期，才過期六日，予認定受胎，酌一方平氣寬脾、固胎元之藥，數劑而安，後果如言。而王氏竟從夫之變，以節義終，其貞烈固不可及哉！</p>
<p>李公祖（衢刑廳，號暗修）　患一症，胸前有小塊，初不疼癢，醫家以為腫毒，宜打散，用膏藥貼上，竟發紅作疼日盛，予視脈曰：此皮疽也。內有硬疔如小指大，當用湯藥攻出，又以敷藥薄其皮，二十日其疔即化而為膿，膿出全康。</p>
<p><u>湯方</u></p>
<p>何首烏　金銀花　貝母　天花粉　皂角刺　當歸尾　甘草節</p>
<p><u>敷藥方</u></p>
<p>何首烏　天南星　大白芷　川烏　大黃</p>
<p>共為末，醋塗四圍。</p>
<p>余用成　患一症，飲食不能下，勉強飲食即嘔逆作痛，而每日勤勞作事如常，時日飲參湯數鍾，諸藥皆不效。予視脈曰：此重勞不節之症也，勞心勞力無已時，於勞時進食，又多食。是以不節勞則傷脾，不節食則傷胃，胃傷不納，脾傷不化，其精力無損，易治也。擇一靜室，令入室靜坐，初坐竟不進飲食，坐至次日，覺神方稍寧，有欲得食之意，然後以稀粥與之，至三四日竟欲得食，至七日食過膈矣，此謂以其人治人之病也。</p>
<p>徐玉玄婦　患一症，月餘不能眠，每日扶坐，氣喘急，頭與腿足皆腫大。至第四十日，喉鼻中出氣皆冰冷者，每暈倒不省人事，諸醫以為毫無生理矣。予視脈曰：此奇症也，最易愈。世安有四十日不能稍眠，不能食，鼻中出氣已冷而能生者乎？此由產後血上攻，其血欲從口中出不能，故其血已死，凝於喉。雖有生氣從死血中過，其氣已冷，血凝氣冷，但能飲湯，其湯作脹，而浮腫於頭面手足。死血在喉，若睡倒即氣不能上升而生理絕，是以月餘不睡者求生也。酌一方用磨平飲加減，通其血，才進藥而能睡，睡醒而能氣暖，數日全愈。</p>
<p><u>湯方</u></p>
<p>紅花　桃仁　蘇木　蓬莪朮　枳殼　烏藥　當歸　京三稜　白芍藥</p>
<p>葉楚鄂　初患一症，體瘦如柴而肚漸大，其中有物，飲食不能進。予視脈酌一方，許以愈其半，果如予言，其半非藥所能及也，因求予靜功，孰知道緣作合，七日開關，覺通體爽快，其腹中積物竟從口中嘔出，舊病全愈。經今四載，忽有家事盛怒，又當風飲食，復感一症，泄瀉不止，予為治之。愈後又感一症，為咳逆吞酸，四肢疲軟，氣將絕，欲去世者幾番。予視脈曰：此命門火不上升之症也，用附子升之，又以肉桂浮藥養之，其症漸愈，後復如常。數月後，適予有蘭江之行，葉楚鄂一晚口吐血半碗，吐後復爽快，此時正當用參桂等藥固其元神，時醫不知此，妄用涼藥，僅兩日而症變矣。來蘭江請予，予見其方，初用涼血之劑，後琥珀沉（以下脫文）</p>
