<header data-type="book">
<h1>脈語</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吳昆</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1584">公元1584年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://rmda.kulib.kyoto-u.ac.jp/item/rb00005304">京都大學掃描本</a></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>脈者指下之經綸也，斯而或昧，輕則系病之安危，重則關人之生死，誠不可不語者。自六朝高陽生偽叔和而著《脈訣》，脈之不明也久矣。余幼慕是術，竊有憫焉。敬業之餘，每以《素》《難》《靈樞》《脈經》《甲乙》，及長沙、河間、東垣、丹溪之書間閱之。越十年，以舉子業不售，里中長老，謂余曰：古人不得志於時，多為醫以濟世，子盍事醫乎？奚拘一經為也。余於是投舉子筆，專岐黃業，乃就邑中午亭余老師而養正焉，居三年，與師論疾，咸當師心，師勉余友天下士。嗣是，由三吳，循江浙，歷荊襄，抵燕趙，就有道者師事之焉。或示余以天人貫通之道，或示余以醫儒合一之理，或示余以聖賢之奧旨，或秘余以家世之心傳，其間講求脈理，出入岐黃者，未常乏人。然，童而習之，白首不達者，又不可以枚舉而數計矣。嗚呼，一指之下，千萬人命脈所關，醫家於此而懵焉，是以人為試耳，世之疲癃殘疾，將安賴之。於是，以孤陋之聞，集成語錄二篇，以告同志，雖未敢以為可傳，然楊園之道，倚於畝丘，是亦行遠升高之一助云爾。</p>
<p><u>參黃子　吳昆鶴皋氏撰</u></p>

<h1>卷上</h1>

<h2>下學篇</h2>

<h3>取脈入式</h3>
<p>醫家取脈，常以平旦之際，取手太陰肺經。掌後高骨名曰關，關之前名曰寸，關之後名曰尺。浮以取表，沉以取里，中以取胃氣。寸部法天，候胸以上至頭之有疾也；關部法人，候膈以下至臍之有疾也；尺部法地，候臍以下至足之有疾也。左脈候左，右脈候右，兩手皆然。病者危迫，則勿以平旦為拘，雖一日三診之。</p>

<h3>寸關尺義</h3>
<p>從魚際至高骨，卻行一寸，因名曰寸。去尺澤一尺，因名曰尺。界乎尺寸之中，因名曰關。</p>

<h3>六部所主</h3>
<p>左寸主心與小腸，左關主肝與膽，左尺主腎與膀胱；右寸主肺與大腸，右關主脾與胃，右尺主腎與命門。諸家脈訣，皆以三焦合於右尺，於理為悖，辯在下集。</p>

<h3>五臟浮沉</h3>
<p>與皮毛相得者，肺脈也；與血脈相得者，心脈也；與肌肉相得者，脾脈也；與筋相得者，肝脈也；與骨相得者，腎脈也。</p>

<h3>取脈有權</h3>
<p>輕以取腑，重以取腑，諸陽脈為腑，諸陰脈為臟。陰中有陽，陽中有陰，浮亦有臟，沉亦有腑，取脈有權，不可執也。</p>

<h3>五臟經脈</h3>
<p>經脈者，常脈也，平人無病之脈也。心脈浮大而散，肺脈浮澀而短，肝脈弦長而和，脾脈緩大而敦，腎脈沉軟而滑。醫者一呼一吸，病者脈來四至五至，是皆平人無病之脈也。</p>

<h3>五臟病脈</h3>
<p>凡肝弦、心洪、脾緩、肺毛、腎石，俱要中和。太過固病，不足亦病，太過者，脈來強實是也，病在外；不及者，脈來虛微是也，病在中。</p>

<h3>五臟死脈</h3>
<p>脈來前曲後踞，如操帶鉤，曰心死，脈來堅勁，如新張弓弦，又如循刃，曰肝死；脈來堅銳，如鳥之喙，如鳥之距，如屋之漏，如水之流，介然不鼓，曰脾死；脈來如物之浮，如風吹毛，曰肺死；脈來發如解索，辟辟如彈石，曰腎死。凡此皆真臟之脈，無胃氣以和之，故謂之死。</p>

<h3>諸脈狀主病</h3>
<p>《脈經》論脈，大都二十四種。今不拘其數，凡所常論者，悉備於後。</p>
<p>浮　自皮膚之上得之，曰浮。陽也，金也，為病在表。浮而緩，曰風。浮而緊，曰寒。浮而虛，曰暑。浮而澀，曰霧露。浮而滑，曰風痰。浮而有力，曰表實。浮而無力，曰表虛。浮而數，曰表熱，有瘡癢。浮而遲，曰表寒，喜近衣。浮而促，曰表有癰疽。瘦人得浮脈，三部相得，曰肌薄。肥人得之，未有不病者也。</p>
<p>沉　自肌肉之下得之，曰沉。陰也，水也，為病在裹。為積，為疝，為恐懼，為腰痛，為水蓄。沉而實，曰積。沉而虛，曰少氣。沉而緩，曰濕。沉而濡，曰水。沉而數，曰裹熱，身腫，曰陽水。沉而遲，曰裹寒，身腫曰陰水。傷寒陽證兩寸沉，曰難治。平人兩寸沉，曰無陽，必艱於壽。</p>
<p>遲　醫者一呼一吸，病者脈來三至，曰遲。二至、一至，則又遲也。若二呼二吸一至，則遲之極矣，陰脈也，為陽虛，為寒。觀其遲之微甚，而寒為之淺深，微則可治，甚則難生。乍遲乍數曰虛火。</p>
<p>數　醫者一呼一吸，病者脈來六至，曰數。若七至、八至，則又數也。九至、十至、十一至、十二至，則數之極矣，陽脈也，為陰虛，為熱。七至曰甚，八至已為難治，九至以上，皆為不治。脈來數而堅，如銀釵之股，曰蟲毒。若嬰童純陽之氣，則七至、八至又其常也，不在大人之例。</p>
<p>滑　脈來如珠之斡旋，曰滑。陽也，土也。為實、為下，為陽氣衰。滑而收斂，脈形清者，曰血有餘。滑而三五不調，脈形濁者，曰痰也。右關滑，曰有食積。婦人尺內滑，曰有孕。兩寸滑，曰痰火。一手獨滑，曰半身不遂。</p>
<p>澀　脈來如刀刮竹皮之狀，曰澀。陰也，金也。為霧露，為血枯，為精涸，為盜汗，為心痛，為不仁。浮而澀，曰表惡寒。沉而澀，曰裹燥涸。兩寸澀甚，曰液不足。兩關澀甚，曰血不足。兩尺澀甚，曰精不足，必艱於嗣。</p>
<p>緊　狀如轉索，勁急曰緊，陰陽相搏也。為寒，為痛，為筋攣，為中惡。緊而洪，曰癰疽。緊而數，曰中毒。緊而細，曰疝瘕。緊而實，曰內脹痛。緊而浮，曰傷寒。緊而澀，曰寒痹。緊而沉，曰寒積。</p>
<p>緩　狀如琴絃久失更張，縱而不整，曰緩。陰也，土也。為病不足，為風，為表虛。與遲脈不同，遲以數言，緩以形言，其別相遠矣。若脈來不浮不沉，中取之，從容和緩者。脾之正脈也。浮而緩，曰衛氣傷。沉而緩，曰榮氣弱。諸部見緩脈，皆曰不足，謂其不鼓也。</p>
<p>虛　脈來有表無里，曰虛。為暑，為腸癖，為陰虛，精氣不足。左寸虛，曰驚悸。右寸虛，曰喘息。左關虛，曰肝衰。右關虛，曰脾弱。兩尺虛，曰腎怯，兼澀者必艱於嗣。</p>
<p>實　中取之、沉取之，脈來皆有力，曰實。陰中之陽也，土也，為病在裡。實而靜，三部相得，曰氣血有餘。實而躁，三部不相得，曰裹有邪也，當下之。若一部獨實，必辨臟腑而責之，婦人尺中實，曰有孕。</p>
<p>小　脈形減於常脈一倍，曰小。《脈經》首論脈形二十四種，有細而無小，今之小即古之細乎。陰也，病為不足，若無病人，兩手三部皆小，往來上下皆從，此稟質之清，不在病例。若一部獨小、一手獨小，曰病。乍在乍小，曰邪祟。諸部小而急，皆曰疝瘕。</p>
<p>大　脈形加於常脈一倍，曰大。陽也。若得病而脈始大，或久病而脈暴大，此為邪盛，經曰大則病進是也。若平人三部皆大，往來上下自如，曰稟質之厚，亦不在病例。若一部獨大、一手獨大，斯可以占病矣。</p>
<p>長　過於本位，相引，曰長。陽也，木也。長而軟滑，曰氣治。長而堅搏，曰氣病。上部主吐，中部主飲，下部主疝。長而洪，曰癲狂病。長而搏，曰陽明病。女人左關獨長，曰淫欲，男人兩尺修長，曰多春秋。</p>
<p>短　不及本位，來去乖張，曰短。陰也，金也。上不至關，曰陽絕。下不至關，曰陰絕。乍短乍長，曰邪祟。寸短曰頭痛，關短曰宿食，尺短曰脛冷。過於悲哀之人，其脈多短，可以占氣之病矣。</p>
<p>芤　脈來形大，如蔥，按之中央空、兩邊實，曰芤。陰去陽存之脈也，主上下出血，遺精盜汗，各隨所在而論之。或云芤、草名，似蔥而有指按之形。斯脈似之，因以得名。</p>
<p>伏　脈形潛隱於骨間，曰伏。陰也，水也。為積聚，為疝瘕，為少氣，為憂思，為痛甚。伏而數，曰熱厥，亢極而兼水化也。伏而遲，曰寒厥，陰極而氣將絕也。</p>
<p>洪　猶洪水之洪，脈來大而鼓也。若不鼓，則脈形雖闊大，不足以言洪，如江河之大。若無波濤洶湧，不得謂之洪。陽也，火也，病則為熱。洪而有力，曰實火。洪而無力，曰虛火。洪而急，曰脹滿。洪而滑，曰熱痰。洪而數，其人暴吐，曰中毒。諸失血遺精，白濁盜汗，脈洪曰難已，傷寒汗後脈洪，曰死。</p>
<p>軟　亦作濡。脈來按之無力，如水上之浮帛，曰濡。陰陽俱損之脈也。為中濕，為自汗，為冷，為痹。兩寸濡，曰陽虛，無氣以息。兩關濡，曰中虛，脾胃有虧。兩尺濡，曰濕甚，病為泄瀉。</p>
<p>弦　絃同。脈來如按琴瑟弦，曰弦。陰中之陽也，木也，為病在肝，為寒在少陽。有偏弦，有雙弦。偏弦者，脈來弦而欹斜也，為流飲作痛；雙弦者，脈來如引二線也，為肝實，為痛，若單絃，只一線耳。弦而激，曰怒。弦而浮，曰外感風。弦而數，曰熱生風。弦而搏，曰飲。弦而急，曰疝。弦而沉，曰肝氣。弦而乍遲乍數，曰虛。</p>
<p>弱　軟之甚也。自《脈經》而下，軟、弱各言其狀，其實幾希之異耳。陰也，為陽虛恐怖。此氣血不足，久病羸弱之人多有之。</p>
<p>微　脈來極細而軟，或欲絕、若有若無也，陰也。諸部見之，皆曰不足，近死之脈也。兩尺微，曰下痢逆冷。</p>
<p>動　脈來厥厥動搖，曰動。陽也。其脈多見於關上，陰固於外，陽戰於內，故有此脈，陰陽之乖戾可知矣。為痛，為驚，為崩脫，為瀉痢，見於寸者為陽，為陽，陽動則發汗。見於尺者，為陰，陰動則發熱。</p>
<p>革　按之如鼓皮，虛大而堅，曰革。牢之別名也，謂之牢者，牢守其位，不上不下也。陽也。此精血遺亡而氣獨守，故主半產漏下，男子遺精。若中風而得之者，陰虛而風勁也。感濕而得此者，土亢而風木承之也，此之謂無胃氣，經曰：脈不往來者，死。斯脈之謂乎。</p>
<p>促　數，時一止，曰促。有斷促之義，陽脈之極也，陽盛而陰不能和之，故有此脈。為氣結，為癰疽，為狂為怒，漸退者生，漸進者死。</p>
<p>結　遲，時一止，曰結。有結滯之義，陰脈之極也，陰盛而陽不能入之，故有此脈。為癥結，為寒氣。張長沙謂，結促皆病脈，則近於死可知矣。</p>
<p>代　《脈經》曰：脈五來一止，不復增減，經名曰代。七來一止，不復增減，亦名曰代。然則，代者止而有常，如四時更代而不失其常也。後人以脈來止而難回曰代。本臟氣絕，他臟代之曰代，夫止而難回，即是止耳，何以言代？本臟氣絕，則他臟必相因而病，代之之說亦難通。學者宜以《脈經》為定論。陰陽驟損之脈也，為氣血虧壞，元氣不續。孕娠三月者多有之，霍亂之候亦有之，此病脈也。他病得此脈者，正死不疑。</p>
<p>散　脈來渙散不聚，曰散。陽也，火也，夏令之脈也。非其時而得之者，血亡而氣欲去也。散而滑者為妊娠，心部散曰心多喜。</p>
<p>毛　脈來浮澀，類羽毛也。金也，為病與澀脈同。</p>
<p>鉤　脈來前曲後鋸，如帶鉤也。上古論脈，稱鉤而不稱洪，古之鉤，其今之洪乎。</p>
<p>石　陽至而絕，曰石。腎之危脈也，水絕不能濟火，故有此脈。</p>
<p>溜　脈來如水之溜，曰溜。陰陽和平，無相勝負之脈也，其即滑而清之謂乎。</p>
<p>疾　即數也。所謂躁者亦疾也，所謂駃者亦疾也。</p>

<h3>怪脈類</h3>
<p>世論怪脈，大都八種，今稽於經，殆不止此，悉著於後，以廣學者之見聞。</p>
<p>湧泉　一名沸釜，脈在筋骨間，湧湧而至，如泉之湧出。</p>
<p>浮合　脈來後至者反凌乎前，如浮波之合也。</p>
<p>彈石　脈在筋骨間，劈劈然而至，如石之彈指也。</p>
<p>雀啄　脈連來三五下，且堅且銳，如鳥之啄也。</p>
<p>屋漏　脈來良久一滴，濺起而無力也。</p>
<p>解索　脈來如亂繩初解之狀，散亂之意也。</p>
<p>魚翔　脈來浮中間一沉，如魚之出沒也。</p>
<p>暇遊　脈來沉，中間一浮，如暇之動靜也。</p>
<p>偃刀　脈來一絲堅勁，如循鋒刃之芒也。一名循刃。</p>
<p>轉豆　脈來形大，且短、且堅、且澀也。一名泥丸。</p>
<p>火新　脈來如火新燃之狀，隨起隨滅也。</p>
<p>散葉　脈來如散落之葉，不常其狀也。</p>
<p>省客　脈來如省問之客，旋覆去也。</p>
<p>交漆　脈來左右不至，如絞漆之下，嫋嫋然而交也。</p>
<p>橫格　脈來橫阻，如木之橫格於指下也。</p>
<p>弦縷　脈來細而直也，此亦偃刀之別名。</p>
<p>委土　脈來如委頹之土，頑而虛也，此亦革之別名。</p>
<p>懸雍　雍，癰同，脈來如懸贅之癰，丸丸左右彈而根不動也。</p>
<p>如丸　脈來滑，不直，手按之不可得也。</p>
<p>如舂　脈來極洪極實，如杵之舂也。</p>
<p>如喘　脈來如喘人之息，有出而無入也。</p>
<p>霹靂　脈來靜，時忽鼓數下而去，如霹靂之轟空也。</p>
<p>關格　人迎四盛以上為格陽，寸口四虛以上為關陰。</p>
<p>覆溢　脈來沖逆，溢上於魚際，曰溢，脈來洪滑，陷入於尺中，曰「覆」，亦曰關格。</p>
<p>以上諸脈，古稱死候，苟至於此，雖上工無所用其技。</p>

<h3>婦人脈法</h3>
<p>婦人尺脈常盛，而右手脈大，皆其常也，若腎脈微澀與浮，或肝脈沉急，或尺脈滑而斷絕不勻，皆經閉不調之候。</p>
<p>婦人尺脈微遲為居經，月事三月一下。</p>
<p>婦人三部浮沉正等，無他病而不月者，孕也，尺大而旺亦然。左尺洪大滑實為男，右尺洪大滑實為女。</p>
<p>體弱之婦，尺內按之不絕，便是有子。月斷日多，六脈不病，亦為有子。所以然者，體弱而脈難顯也，《脈經》曰：三部浮沉正等，按之無絕者，妊娠也。何嘗拘於洪滑耶？「陰搏陽別，謂之有子」，搏、伏而鼓也。陰搏者，尺中之陰搏也，是陰中有別陽，故謂有子。妊娠初時寸微尺數，按之散者，三月也。按之不散者，五月也。</p>
<p>婦人經斷有軀，其脈弦者，後必大下，不成胎也。</p>
<p>妊娠七八月，脈實牢強大者，吉；沉細者，難產而死。</p>
<p>《脈經》曰：左手沉實為男，右手浮大為女。左右手俱沉實，猥生二男；左右手俱浮大，猥生二女。《脈經》之所論，止於二男二女而已，若三男三女，一男一女，皆未之及也。《脈訣》雖有縱橫順逆之論，於理難通，是固高陽生之私言耳，戴同父非之，是也。然則三男三女，一男一女，聖經未有明言，後學亦不必強為之說，若曰知之，必是遇長桑君，飲以上池之水，能視垣一方人者，斯可矣。吾則不能為妄語以誑世也。</p>
<p>婦人陰陽俱盛，曰雙軀。若少陰微緊者，血即凝濁，經養不周，胎則偏夭，其一獨死，其一獨生，不去其死，害母失胎。</p>
<p>女人得革脈，曰半產漏下。得離經之脈，曰產期。離經者，離乎經常之脈也，蓋胎動於中，脈亂於外，勢之必至也。</p>
<p>新產傷陰，出血不止，尺脈不能上關者，死。</p>
<p>婦人脈平而虛者，乳子也。</p>
<p>婦人帶下，脈浮，惡寒，漏下者，不治。</p>
<p>婦人尺脈微弱而澀，少腹冷，惡寒，年少得之為無子，年大得之為絕產。</p>

<h3>小兒脈法</h3>
<p>小兒三歲以下，看虎口三關，初為風關，次為氣關，末為命關，以男左女右為則。紋色紫曰熱，紅曰傷寒，青曰驚風，白曰疳，淡黃、淡紅曰無病，黑色曰危。在風關為輕，氣關為重，命關為危。及三歲以上，乃以一指取寸關尺之處，常以七至為率，加則為熱，減則為寒，皆如大人診法。</p>
<p>小兒脈亂，身熱汗出，不食，食即吐，多為變蒸。</p>
<p>小兒四末獨冷，股慄惡寒，面赤氣洶，涕淚交至，必為痘疹。</p>

<h3>諸病宜忌脈</h3>
<p>中風　宜浮遲，忌急數。</p>
<p>中惡　宜浮緩，忌堅數。</p>
<p>中毒　宜洪大而遲，忌細微。</p>
<p>傷寒　未得汗，宜陽脈，忌陰脈；已得汗，宜陰脈，忌陽脈。溫病同。</p>
<p>咳嗽　宜浮濡，忌堅急弦小。</p>
<p>腹脹　宜浮大，忌沉小。</p>
<p>下利　宜沉細，忌浮大。</p>
<p>癲狂　宜實大，忌沉細。</p>
<p>消渴　宜數大，忌虛小。</p>
<p>水病　宜浮大，忌沉細。</p>
<p>上氣　宜伏匿，忌堅強。</p>
<p>霍亂　宜浮洪，忌微遲。</p>
<p>脫血　宜陰脈，忌陽脈。</p>
<p>腹痛　宜沉細，忌弦長。</p>
<p>心病　宜浮滑，忌短澀。</p>
<p>頭目痛　宜浮滑，忌短澀。</p>
<p>喘急　宜浮滑，忌短澀。</p>
<p>金瘡　失血太多，宜細微，忌緊數。陰脈不能至陽者死。</p>
<p>墮傷　腹脹，內有蓄血。宜堅強，忌小弱。</p>
<p>痹痿　宜虛濡，忌緊急。</p>
<p>癥積　宜沉實，忌虛弱。</p>
<p>新產　宜沉滑，忌弦緊。</p>
<p>帶下　宜遲滑，忌急疾。</p>
<p>䘌蝕　宜虛小，忌緊急。</p>

<h1>卷下</h1>

<h2>上達篇</h2>

<h3>脈位法天論</h3>
<p>聖人以左寸為心，左關為肝，左尺為腎，右寸為肺，右關為脾，右尺為命門者，法乎天也，非聖人之私也。蓋天之北為坎，南為離，東為巽，西為兌，包乎外者為乾，居乎中者為坤。人生與天地相似，左手天之東也，巽在焉，巽為木，故肝木居乎左關。左關之前為心者，法南之離也；左關之後為腎者，法北之坎也。右乎，天之西也，兌位在焉，兌為金，金者肺。《易》曰：乾為天、為金。是肺為金而有乾象，故居右寸而位乎高。右關為脾者，脾為坤土，奠位乎中，以之而承乎肺下，此天高地下之義，乾坤象也。右尺為命門，命門者，火也，以水位而位火，此一陽生於二陰之義，正所以成坎也。向非與天地相似，聖人安得以是而垂法哉。</p>

<h3>大小腸脈在兩寸間</h3>
<p>岐伯曰：尺內兩旁，則季肋也，尺外以候腎，尺裡以候腹。中附上：左，外以候肝，內以候鬲；右，外以候胃，內以候脾。上附上：右，外以候肺，內以候胸中；左，外以候心，內以候膻中。前以候前，後以候後。上竟上者，胸、喉中事也；下竟下者，小腹、腰、股、膝、脛、足中事也。友人讀《內經》至此，問於余曰：如經言之，則大小腸亦小腹中之物，其脈當於尺裡取之矣，世皆取之於兩寸，何也，毋乃為高陽生《脈訣》所惑歟？曰：非也，蓋嘗考之《靈樞》《難經》《脈經》矣，《靈樞》以小腸之脈絡於心，大腸之脈絡於肺，故於兩寸取之，亦宜。十難曰：假令心脈急甚者，肝邪干心也；心脈微急者，膽邪干小腸也。是越人亦嘗於兩寸取大小腸矣。《脈經》曰：左手關前寸口，陽絕者無小腸脈也，陽實者小腸實也。右手關前寸口，陽絕者無大腸脈也，陽實者大腸實也。是《脈經》亦嘗於前寸取大小腸矣，豈後人私見哉。蓋岐伯之論從其位，越人、《脈經》之論從其絡，此古人不悖之論也。</p>

<h3>三焦脈在右尺辨</h3>
<p>三焦者，考其經則行乎手，考其絡則絡心包，考其屬則偏三焦，渾無一定之位，諸儒《脈訣》皆以之合於右尺，非也。《素》《難》《靈樞》未有明論，韓飛霞巧其說曰：切脈至右尺，必兩手並診消息之，取三焦應脈。浮為上焦，與心肺脈合；中為中焦，與脾胃脈合；沉為下焦，與肝腎脈合，故曰，尺脈第三同斷病。嗚呼，此訛上之訛，說愈巧違道愈遠矣。《內經》曰：尺外以候腎，尺裡以候腹中，未嘗謂尺候三焦也。《脈經》曰：尺脈芤，下焦虛，尺脈遲，下焦有寒。又曰：尺脈浮者，客陽在下焦。觀此三言，尺主下焦耳，何以巧說附入哉。《脈經》一卷，第七篇脈法贊云：右為子戶，名曰三焦。子戶，命門也，右腎為命門，男子以藏精，女子以系胞，故為子戶。名曰三焦者，此猶兩額之旁，名曰太陽云耳，非謂太陽經也。東垣問三焦有幾，蓋可想矣，安得執詞而害義耶。若第二卷第二篇，雖云右腎合三焦，然，上有「一說云」三字，則叔和亦附此語以俟參考耳，非叔和之定論也，明矣。今論定：上焦從兩寸，中焦從兩關，下焦從兩尺，斯則與《內經》上竟上者胸喉中事，下竟下者少腹腰股膝脛足中事二句符合，雖聖人復起，當不易矣。</p>

<h3>寸口者脈之大會（附：小兒三關）</h3>
<p>寸口者，手太陰肺經也。五臟六府，肺為最高而有乾象，諸臟腑皆居其下，其氣無不上熏於肺，故曰肺朝百脈也。肺得諸臟腑之氣，輸之於經，變見於寸口，故寸口者脈之大會。若小兒之脈，不取寸口，獨取三關者，蓋以小兒氣血未定，其脈常大、常數、常滑，寸口難候，故取三關占之，亦謂此處為手太陰肺經散見之餘耳。</p>

<h3>脈有神機</h3>
<p>經曰，榮行脈中，衛行脈外。世之粗醫因而泥之曰，脈者，氣血而已。然，氣血豈足以盡之。經曰：根於中者，命曰神機。脈之所以神其用者，皆元神主宰其機也。若以脈中惟是氣血，則尺寸之膚皆氣血也，何獨於此為脈耶。</p>

<h3>三部九候</h3>
<p>有諸經之部候，有寸口之部候，皆有上中下三部，每部之中又分天地人，三三成九，名曰九候。寸口之部候者，寸部浮中沉，關部浮中沉，尺部浮中沉也。諸經之部候者，上部天，兩額之動脈，足少陽膽經太陽是也。上部地，兩頰之動脈，足陽明胃經巨髎處也。上部天，耳前之動脈，手少陽三焦經耳門分也。中部天，手太陰肺經，寸口是也。中部地，手陽明大腸經合谷分也。中部人，手少陰心經神門處也，下部天，足厥陰肝經五里分也。婦人則取太衝。下部地，足少陰腎經太谿是也。下部人，足太陰脾經箕門是也。候胃氣則取足跗上之衝陽，足陽明胃經也。取諸經之部候，即儒者求道於散殊；寸口之部候，即儒者本之於一貫也。</p>

<h3>七診</h3>
<p>七診之說，世皆為勿聽子所惑，今舉《內經》以證之。黃帝曰：何以知病之所在，岐伯曰：察九候，獨小者病，獨大者病，獨疾者病，獨遲者病，獨熱者病，獨寒者病，獨陷下者病。王冰注曰：診凡有七者，此之謂也。若勿聽子，則以靜其心，忘外慮，均呼吸，浮以取腑，中以取胃，沉以取臟，察病人脈息，七事，為七診。籲！真可以勿聽矣。經曰：七診雖見，九候皆從者不死，味此一句，則七診明是自病人言，若靜其心七句，皆自醫者言，與七診雖見之文，說不合。勿聽子粗淺，比比如此，世皆趨之，可慨甚矣。</p>

<h3>六殘</h3>
<p>仲景云：脈有弦、有緊、有澀、有滑、有浮、有沉，此六脈為殘賊，能與諸經作病。</p>

<h3>反關脈</h3>
<p>反關脈者，脈不行於寸口，由列缺絡入臂後，手陽明大腸經也。以其不順行於上，故名曰反關。有一手反關者，有兩手反關者，此得於有生之初已然，非為病也。診法皆同，若病人平日正取有脈，一旦因得病而脈伏匿者，此病脈也。種種不同，必原其證而治之。</p>

<h3>上魚脈</h3>
<p>上魚者，脈上於魚際也，世人常有此脈，不可一例論也。有兩手上魚者，有一手上魚者。若平人神色充實，而有此脈者，此天稟之厚，元神充滿，上溢於魚也，其人必壽。若人素無此脈，一旦上魚者，此病脈也。《難經》曰：關之前者，陽之動也，脈當九分而浮，過者法曰太過，減者法曰不及，遂上魚為溢，為外關內格，此陰乘陽之脈也。《脈經》曰：脈來過寸入魚際者，遺尿。又曰：脈出魚際，逆氣喘息。又曰：脈緊而長，過寸口者，注病。《史記》載：濟北王侍人韓女得此脈，而腰脊痛。倉公曰：此病得之欲男子而不可得也。夫脈一也，而為病種種不同者，何哉？曰：但味越人「陰乘陽」一句，更察病人之神色、人品，斯得之矣。</p>

<h3>上下來去至止</h3>
<p>斯六字者，足以別乎陰陽虛實，本岐黃之奧旨，而滑攖寧闡明之。上者為陽，來者為陽，至者為陽；下者為陰，去者為陰，止者為陰。上者，自尺部上於寸口，陽生於陰也；下者，自寸口下於尺部，陰生於陽也。脈有上下，是陰陽相生，病雖重不死。來者，自骨肉之分，出於皮膚之際，氣之升也；去者，自皮膚之際，還於骨肉之分，氣之降也。脈有來去，是表裹交泰，病雖重必起，此謂之人病脈和也，若脈無上下來去，死無日矣。經曰：脈不往來者死。此之謂也。若來疾去徐，上實下虛為厥癲疾；來徐去疾，上虛下實，為惡風也。至者，脈之應，止者，脈之息也，止而暫息者，喻之疾，止久有常者，死也。</p>

<h3>陰陽大法</h3>
<p>凡脈大為陽，浮為陽，數為陽，動為陽，長為陽，滑為陽，沉為陰，澀為陰，弱為陰，弦為陰，短為陰，微為陰。關前為陽，關後為陰。陽數則吐血，陰數則下痢。陽弦則頭痛，陰弦則腹痛。陽加於陰謂之汗，陰虛陽搏謂之崩。陽數口生瘡，陰數加微，必惡寒而煩擾不得眠也。陰附陽則狂，陽附陰則癲。得陽屬腑，得陰屬臟。無陽則厥，無陰則嘔。陽微則不能呼，陰微則不能吸，呼吸不足，胸中短氣，依此陰陽，以察病也。</p>

<h3>陰陽相乘相伏</h3>
<p>皮膚之上，兩關之前，皆陽也。若見緊、澀、短、小之類，是陽不足而陰乘之也。肌肉之下，兩關之後，皆陰也。若見洪、大、數、滑之類，是陰不足而陽乘之也。陰脈之中，陽脈間一見焉，此陰中伏陽也；陽脈之中，陰脈間一見焉，此陽中伏陰也。陰乘陽者，必惡寒。陽乘陰者，必內熱。陰中伏陽者期於夏，陽中伏陰者期於冬。以五行之理推之，而月節可期也。</p>

<h3>重陰重陽</h3>
<p>寸口浮大而疾，此陽中之陽也，名曰重陽；尺內沉細而遲，此陰中之陰也，名曰重陰。上部重陽，下部重陰，陽亢陰隔，癲狂乃成。</p>

<h3>脫陰脫陽</h3>
<p>六脈虛芤，此脫陰也；六脈陷下，此脫陽也；六脈暴絕，此陰陽俱脫也。脫陰者目盲，脫陽者見鬼，陰陽俱脫者危。</p>

<h3>陰陽絕</h3>
<p>上不至關為陽絕，下不至關為陰絕。陽絕死於春夏，陰絕死於冬。</p>

<h3>分析臟腑陰陽盛衰</h3>
<p>《脈經》曰：左手關前寸口陽絕者，無小腸脈也，陽實者，小腸實也；陰絕者，無心脈也，陰實者，心實也。左手關上陽絕者，無膽脈也，陽實者，膽實也；陰絕者，無肝脈也，陰實者，肝實也。左手關後尺中陽絕者，無膀胱脈也，陽實者，膀胱實也；陰絕者，無腎脈也，陰實者，腎實也。右手關前寸口陽絕者，無大腸脈也，陽實者，大腸實也；陰絕者，無肺脈也，陰實者，肺實也。右手關上陽絕者，無胃脈也，陽實者，胃實也；陰絕者，無脾脈也，陰實者，脾實也。右手關後尺中陽絕者，無子戶脈也，陽實者，亦膀胱實也；陰絕者，無腎脈也，陰實者，腎實也。</p>

<h3>脈無根</h3>
<p>經曰：諸浮脈無根者，皆死，是謂之有表無裹也。是謂之孤陽也。造化所以亙萬古而不息者，一陰一陽互為其根也。陰道絕矣，陽豈獨存乎，人身之氣血亦然。</p>

<h3>上部有脈下部無脈、下部有脈上部無脈</h3>
<p>經曰：上部有脈，下部無脈，其人當吐，不吐者，死。觀當吐二字，便得胸、腹有物，填塞至陰，抑遏肝氣，而絕升生之化也。故吐之則愈，不吐則暴死矣。若使其人胸中無物可吐，此陰絕於下也，亦是死證。經又曰：下部有脈，上部無脈，雖困無能為害。所以然者，人之有尺，譬如樹之有根，枝葉雖枯槁，根本將自生，此雖至理，亦不可執。法曰：上不至關為陽絕，況無脈乎，明者可以悟矣，若覆病人之手而脈出者，此運氣不應之脈，非無脈也，論在運氣脈中。</p>

<h3>經絡虛實</h3>
<p>寸部熱滿，尺部寒澀，此絡氣不足，經氣有餘也，秋冬死，春夏生。寸部寒澀，尺部熱滿，此經氣不足，絡氣有餘也，春夏死，秋冬生。</p>

<h3>有力無力</h3>
<p>東垣著《此事難知》謂：脈貴有神。有神者，有力也，雖六數、七極、三遲、二敗尤生，此得診家精一之旨也。節庵辨傷寒脈法，以脈來有力為陽證，沉微無力為陰證，此發傷寒家之聾瞽也。杜清碧診論曰：浮而有力為風，無力為虛；沉而有力為積，無力為氣；遲而有力為痛，無力為冷；數而有力為熱，無力為瘡。各於其部見之，此得診家之領要也。</p>

<h3>傷寒脈大法</h3>
<p>仲景曰：浮、大、數、動、滑，陽脈也；沉、澀、弱、弦、微，陰脈也。陰病得陽脈者生，陽病得陰脈者死。此傷寒家之大旨也，得此二句，而三百九十七法，思過半矣。</p>

<h3>脈不再見</h3>
<p>如春宜弦，得洪脈者，至夏必死；得澀脈者，至秋必死；得石脈者，至冬必死。何也？真臟之氣先泄也，余季可推。</p>

<h3>胃氣為本</h3>
<p>脈以胃氣為本者，脈之中和也。中和者，弦不甚弦，鉤不甚鉤，軟不甚軟，毛不甚毛，石不甚石，順四時五行，而無太過不及也。若春脈弦如循刀刃，夏脈鉤如操帶鉤，長夏脈軟介然不鼓，秋脈澀如風吹毛，冬脈石來如彈石，是得真臟之脈，全失中和，是無胃氣，可與之決死期矣。經曰：春脈微弦曰平，弦多胃少曰肝病，但弦無胃曰死，胃而有毛曰秋病，毛甚曰今病。夏脈微鉤曰平，鉤多胃少曰心病，但鉤無胃曰死，胃而有石曰冬病，石甚曰今病。長夏微軟弱曰平，弱多胃少曰脾病，但代無胃曰死，軟弱有石曰冬病，石甚曰今病。秋脈微毛曰平，毛多胃少曰肺病，但毛無胃曰死，毛而有弦曰春病，弦甚曰今病。冬脈微石曰平，石多胃少曰腎病，但石無胃曰死，石而有鉤曰夏病，鉤甚曰今病。四時長夏皆以胃氣為本，診家以此熟之於胸中，消息其五行生剋，則切脈之餘，人之死生病否，無遁情矣。</p>

<h3>丹溪候胃氣法</h3>
<p>《格致餘論》云：男子以氣成胎，則氣為之主；女子挾血成胎，則血為之主。男人久病，右脈充於左者，有胃氣也，病雖重可治。女人久病，左脈充於右者，有胃氣也，病雖重可治。反此者，虛之甚也。</p>

<h3>推法</h3>
<p>岐伯曰：推而外之，內而不外，心腹積也。推而內之，外而不內，身有熱也。推而上之，下而不上，腰足清也。推而下之，上而不下，頭項痛也。斯法也，果何為而用之？師曰：若人三部平等，脈形端直，毋用此法。若脈來一部獨斜，如內如外，一部獨勁，直前直後，方用此法，實為秘訣。</p>

<h3>脈有亢制</h3>
<p>陽實者，人知其脈之洪大矣，至其極也，而脈反匿伏焉，此乾之上九，亢龍有悔也。陰虛者，人知其脈之細微矣，至其極也，而脈反躁疾焉。此坤之上六，龍戰於野也。是皆陰陽亢制之理，惟明者知之。</p>

<h3>脈有乘侮</h3>
<p>假令肺病而見心脈，雖云克我者為賊邪，然，本臟實有以致之。經曰：邪之所湊其氣必虛，惟國無君子，故奸人得以乘之，脈道亦然。又令肺病而見肝脈，我克者為微邪，人爭談之矣，然本臟之衰可占也。經曰：氣不足，則己所勝者，輕而侮之。惟君子道消，故小人道長也。餘臟可推。</p>

<h3>男女脈異</h3>
<p>男子以陽為主，兩寸之脈，常旺於尺；若兩寸反弱，尺反盛者，腎不足也。女子以陰為主，兩尺之脈，常旺於寸；若尺反弱而寸反盛者，上焦有餘也。不足固病，有餘亦病，所謂過猶不及也。</p>

<h3>老少脈異</h3>
<p>老弱之人，脈宜緩弱，若脈過旺者，病也。少壯之人，脈宜充實，若脈過弱者，病也。然，猶有說焉，老者脈旺而非躁，此天稟之厚，引年之叟也，名曰壽脈。若脈躁疾，有表無里，此孤陽也，其死近矣。壯者脈細而和緩，三部同等，此天稟之靜，清逸之士也，名曰陰脈。若脈來細而勁直，前後不等，可與之決死期矣。</p>

<h3>脈合形性</h3>
<p>凡診脈，當視其人大小長短，及性氣緩急。脈合形性者，吉；脈反形性者，逆也。</p>

<h3>色脈</h3>
<p>色脈相剋者，凶。色脈相生者，吉。然，猶有訣焉，色克脈者其死速，脈克色者其死遲，色生脈者其愈速，脈生色者其愈遲。能合色脈，可萬全矣。</p>

<h3>脈知得病之期</h3>
<p>《脈經》曰：何以知春得病？無肝脈也；無心脈，夏得病；無肺脈；秋得病；無腎脈，冬得病；無脾脈，四季之月得病，或長夏得病。</p>

<h3>真臟脈見決死期</h3>
<p>如肝病則脈弦，弦而勁急，如循刀刃者，真肝脈見也，庚日篤，辛日死，死於申酉時。心病則脈洪，洪而鼓躁如操帶鉤者，真心脈見也，壬日篤癸日死，死於亥子時。脾病則脈軟，若脈來如屋之漏，如水之流，介然不鼓者，真脾脈見也，甲日篤，乙日死死於寅卯時。肺病則脈澀，澀而輕短，如風吹毛者，真肺脈見也，丙日篤，丁日死，死於午未時。腎病則脈石，石而搏激，如雀之啄者，真腎脈見也，戊日篤，己日死，死於辰戌丑未時。其有過期者，倉公謂其能食故也。</p>

<h3>人迎寸口</h3>
<p>左關之前一分為人迎，右關之前一分為寸口。古人以人迎、寸口相應，若引繩大小齊等，命曰平人。若人迎大於寸口一倍、二倍、三倍，為外感風寒。寸口大於人迎一倍、二倍、三倍，為內傷飲食。其理安在哉，蓋以人迎之分，肝膽在焉，肝主風，故於人迎以候風寒。寸口之分，脾胃在焉，胃者倉廩之官，故於寸口以候飲食。</p>

<h3>《靈樞》脈法</h3>
<p>《靈樞經》曰：人迎一盛，病在少陽。一盛而躁，在手少陽。二盛，病在太陽，二盛而躁，在手太陽。三盛，病在陽明，三盛而躁，在手陽明。寸口一盛，病在厥陰，一盛而躁，在手厥陰。二盛，病在少陰，二盛而躁，在手少陰。三盛，病在太陰，三盛而躁，在手太陰。此家診法，以左右分陰陽，靜躁別手足，亦聖人之至教，不可不知者也。</p>

<h3>運氣脈</h3>
<p>運氣之教，先立其年，干分五運，支立司天。土運甲己，金逆乙庚，水運丙辛，木運丁壬，火運戊癸。主君余臣，司天分例，六化圖推，少陽之右，陽明治之；陽明之右，太陽治之；太陽之右，厥陰治之；厥陰之右，少陰治之；少陰之右，太陰治之；太陰之右，少陽治之；子午之上，少陰君火；丑未之上，太陰濕土；寅申之上，少陽相火，卯酉之上。陽明燥金，辰戌之上，太陽寒水，己亥之上，厥陰風木。南北二政，其面不同，司天在泉，移位相從。甲己之歲，是為南政，三陰司天則寸不應，三陰在泉則尺不應，乙庚、丙辛、丁壬、戊癸，斯八歲者，皆曰北政，三陰司天則尺不應，三陰在泉則寸不應。六氣之位，少陰居中，厥陰居右，太陰居左，一定之位，不可易也。南政之歲，厥陰司天則右不應，太陰司天則左不應；北政之歲，厥陰在泉則右不應，太陰在泉則左不應，司天為上，其位在南，則面必北，其分左右，左西右東；在泉為下，其位在北則面必南，其分左右，左東右西。不應之位，皆少陰也。諸部不應，反診較之。尺寸反，死；陰陽交，危。謂之反者，不應而應，應而不應，尺寸反也。謂之交者，隅位相交，陰當在左，交之於右，陰當在右，交之左也。</p>

<h3>方宜脈</h3>
<p>中原之地，四時異氣，居民之脈，亦因時異。春弦、夏洪，秋毛、冬石，脈與時違，皆名曰病，東夷之地，四時皆春，其氣暄和，民脈多緩；南夷之地，四時皆夏，其氣蒸炎，民脈多大；西夷之地，四時皆秋，其氣清肅，民脈多勁；北夷之地，四時皆冬，其氣凜冽，民脈多石。東南卑濕，其脈軟緩，居於高巔，亦西北也；西北高燥，其脈剛勁，居於汙澤，亦東南也。南人北脈，所稟必剛，北人南脈，所稟必柔，東西不同，可以類剖。</p>

<h3>十二經不復朝於寸口</h3>
<p>此《脈經》論沖督之脈見也。其曰，兩手脈浮之俱有陽，沉之俱有陰，陰陽皆實盛，此沖、督之脈也。沖督之脈者，十二經之道路也，沖督用事，則十二經不復朝於寸口，此「一小人進，諸君子退」之象也。其人皆苦恍惚狂疑，猶豫有兩心。</p>

<h3>奇經督脈衝脈任脈見於寸口</h3>
<p>脈來尺寸俱浮，直上直下，此為督脈。主腰背疆痛，不得俯仰，大人癲病，小兒風癇，脈來尺寸俱牢，直上直下，此為衝脈。主胸中有寒，疝氣上搶心，遺尿支滿。脈來橫寸口邊丸丸，此為任脈。若腹有氣如指，上搶心不得俯仰，拘急，脈緊細實長至關者，亦任也。苦少腹繞臍下引橫骨陰中切痛，取臍下三寸。</p>

<h3>《手檢圖》脈法</h3>
<p>《手檢圖》云：脈大而弱者，氣實血虛也。脈大而長者，病在下。脈來浮直，上下交通者，陽脈也。前如外者，足太陽也。中央如外者，足陽明也。後如外者，足少陽也。中央直前者，手少陰也。中央直中者，手心主也。中央直後者，手太陰也，前如內者，足厥陰。中央如內者，足太陰也。後如內者，足少陰也。前部左右彈者，陽蹻也。中部左右彈者，帶脈也，後部左右彈者，陰蹻也。從少陽之厥陰者，陰維也。從少陰之太陽者，陽維也。來大時小者，陰絡也，來小時大者，陽絡也。</p>
<p>按：《手檢圖》脈法，惟通融之士能知能行，癡疑人之前語夢，是賊之耳。</p>

<h3>一臟無氣四歲死辨</h3>
<p>《脈經》曰：脈來四十投而一止者，一臟無氣，卻後四歲，春草生而死。自後脈家皆曰五十動，不止者為平人，有一止者，一臟無氣，後五歲死，四十動一止者，四歲死。三十動一止者，三歲死。嗚呼，書有可信者，有不可信者，可信者，肝絕八日死，心絕一日死，脾絕五日死，肺絕三日死，腎絕四日死，此可信者也。不可信者，一臟無氣卻後四歲，春草生而死是也。人豈有一臟無氣，活四年之理，此書之不可盡信者也，世之庸醫，每每執此數語，惑眾為甚，某甚陋之，不得不辨。</p>

<h3>從證不從脈</h3>
<p>脈浮為表，治宜汗之，此其常也，而亦有宜下者焉。仲景云：若脈浮大，心下硬，有熱，屬臟者，攻之，不令發汗是也。脈沉為里，治宜下之，此其常也，而亦有宜汗者焉。少陰病，始得之，反發熱而脈沉者，麻黃附子細辛湯微汗之是也。脈促為陽盛，常用葛根、芩、連，清之矣。若脈促厥冷，為虛脫，非灸非溫不可，此又非促為陽盛之脈也。脈遲為陰寒，常用乾薑、附子溫之矣。若陽明脈遲，不惡寒，身體濈濈汗出，則用大承氣，此又非諸遲為寒之脈矣，是皆從證不從脈也。世有切脈而不問證者，其失可勝言哉。</p>

<h3>從脈不從證</h3>
<p>表證汗之，此其常也。仲景曰：病發熱頭痛，脈反沉，若不瘥，身體疼痛，當救其里，宜四逆湯，此從脈之沉也，里證下之，此其常也。日晡所發熱者，屬陽明，脈浮虛者，宜發汗，發汗宜桂枝湯，此從脈之浮也。結胸證具，向常以大小陷胸下之矣，其脈浮大者不可下，下之即死，是宜從脈而治其表也。身疼痛者，向常以桂枝、麻黃解之矣，假令尺中遲者不可汗，然以榮氣不足，血少故也，是宜從脈而調其榮矣，此皆從脈不從證也，世有問證而忽脈者，得非仲景之罪人乎。</p>

<h3>形肉已脫九候雖調猶死</h3>
<p>此岐伯欲人以脈合形也。蓋形肉者，脾所主，脾為土，土為萬物之母，觀其形肉脫，則脾壞於內。而根本喪矣，即使九候雖調，猶不免也。形，可以勿視乎哉。</p>

<h3>七診雖見九候皆從者不死</h3>
<p>此岐伯欲人融通脈理，不可一途而取也。七診者，脈來獨大、獨小、獨遲、獨疾、獨寒、獨熱、獨陷下也。此皆惡脈，今論其不死者，如少陽之至，乍大乍小，陽明之至，浮大而短；太陽之至，洪大而長；太陰之至，緊大而長；少陰之至，緊細而微；厥陰之至，沉短而敦。是皆旺脈也，而非七診也。又如南政之歲，三陰司天，則寸不應，三陰在泉則尺不應，北政之歲三陰司天，則尺不應，三陰在泉，則寸不應，是皆運氣使然也，故謂之從。從者，順四時五行而為之遷變，安得謂之死哉。</p>

<h3>趺陽太谿太衝</h3>
<p>趺陽者，胃脈也，在足跗上五寸，骨間動脈，衝陽是也，病重則切此以決死生。蓋以土者萬物之母，趺陽之氣不衰，則母氣猶旺，病雖危猶可生也。然於旺之中，又忌弦急，蓋弦急者肝膽之脈也，若見此脈，為木來剋土，謂之賊邪，不治。若見和緩之脈者，生。餘脈與寸口同診。</p>
<p>太谿脈者，腎脈也，在足內踝後，跟骨上動脈陷中，病重亦取此以決死生。蓋以天一生水，真元之氣聚於斯，若此脈不衰，則元氣猶存，病雖危，尚可治也。</p>
<p>太衝脈者，肝脈也，在足大指本節後二寸陷中，病重亦以此決死生。蓋以肝者，東方木也，生物之始，此脈不衰，則生生之機，尚可以望其將來也。婦人尤以此為主。</p>

<h3>《太素脈》論</h3>
<p>醫家以岐黃為祖，其所論脈，不過測病情，決死生而已，未有所謂太素也。扁鵲、倉公之神，仲景、叔和之聖亦無所謂太素也。何後世有所謂太素者，不惟測人之病情，而能占人之窮通，不惟測人之死生，而能知人之禍福，豈其術反過於先聖耶？是亦風鑑巫家之教耳。初學之士，先須格致此理，免為邪說搖惑，則造詣日精，而倉、扁、張、王之堂可闖矣，故太素乃醫之旁門，不得不辨，亦惡紫亂朱，距邪放淫之意。</p>

<h3>《太素脈》可採之句</h3>
<p>《太素》之說，固為不經，然其間亦有可採者，如曰：脈形圖淨，至數分明，謂之清；脈形散澀，至數模糊，謂之濁；質清脈清，富貴而多喜，質濁脈濁，貧賤而多憂。質清脈濁，此謂清中之濁，外富貴而內貧賤，失意處多，得意處少也；質濁脈清，此謂濁中之清，外貧賤而內富貴，得意處多，失意處少也。若清不甚清，濁不甚濁，其得失相半，而無大得喪也。富貴而壽，脈清而長；貧賤而夭，脈濁而促。清而促者，富貴而夭；濁而長者，貧賤而壽。此皆《太素》可採之句也，然亦外乎風鑑，故業《太素》者，不必師《太素》，但師風鑑，風鑑精，而《太素》之說自神矣，至其甚者，索隱行怪，無所不至，是又巫家之教耳。孔子曰：攻乎異端，斯害也已，正士豈為之。</p>

<h3>脈案格式</h3>
<p>脈案者，竊公案之義。醫者察得病情，立定方法，使病邪不能逃吾之方論，藥至而邪伏，譬之老吏聽訟，援律定刑，使奸人無所逃也。</p>
<p>一書：某年某月某地某人。二書：其人年之高下，形之肥瘦長短，色之黑白枯潤，聲之清濁長短。三書：其人之苦樂病由，始於何日。四書：初時病證，服某藥，次服某藥，再服某藥，某藥少效，某藥不效。五書：時下晝夜孰甚，寒熱孰多，喜惡何物，脈之三部九候如何。六書：引經旨以定病名，某證為標，某證為本，某證為急當先治，某證為緩當後治，某臟當補，某臟當瀉。七書：當用某方，加減某藥，某藥補某臟，某藥瀉某臟，君臣佐使之理，吐下汗和之意，一一詳盡，末書某郡醫生某某撰。</p>
<p>書年之干支、月之春秋者，占運氣也。書某地者，占方宜也。書年、形、聲、色者，用之以合脈也。書苦樂者，佔七情也。書始於何日者，占久近也。歷問其病證、藥物而書其驗否者，以之斟酌己見也。書晝夜寒熱者，辨氣血也。書喜惡何物者，察陰陽臟腑也。書脈狀者，以之合年形聲色病證也。書經旨者，如法家引律，使確乎不可逃也。書病名者，用藥如用兵，師出貴有名也。書標本者，試輕重也。書方藥君臣之理者，欲病人達而嘗也。末書己之名者，欲病家志之以驗己之工拙也。凡看王公大人，貴宦儒門之病，必書此一案，便無一毫苟且，庶得作醫之體矣。</p>
