<header data-type="book">
<h1>神農本草經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>朝代</dt><dd><data value="漢">秦漢</data></dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM098</dd></div>
</dl>
</header>
<h2>本草經序</h2>
<p>神農本草經三卷所傳白字書，見大觀本草。按：嘉祐補注序云：「所謂神農本經者，
以朱字。名醫因神農舊條而有增補者，以墨字間於朱字。」開寶重定序云：
「舊經三卷，世所流傳，名醫別錄互為編纂。
至梁貞白先生陶弘景乃以別錄參其本經，朱墨雜書，時謂明白。
」據此則宋所傳黑白字書，實陶弘景手書之本。自梁以前，神農、黃帝、岐伯、雷公、
扁鵲，各有成書。魏吳普見之，故其說藥性主治，各家殊異。後人纂為一書，
然猶有旁注，或朱墨字之別，本經之文以是不亂。舊說本草之名，
僅見漢書平帝紀及樓護傳。予按：藝文志有神農黃帝食藥七卷，今本譌為食禁。
賈公彥周禮醫師疏引其文，正作食藥。宋人不考，遂疑本草非七略中書。
賈公彥引中經簿，又有子儀本草經一卷，疑亦此也。梁七錄有神農本草三卷。
其卷數不同者，古今分合之異。神農之世，書契末作，說者以此疑經。如皇甫謐言，
則知四卷成於黃帝。陶弘景云：「軒轅已前，文字未傳，藥性所主，當以識識相因。
至於桐、雷，乃著在於編簡。此書當與素問同類。」其言良是。且藝文志農兵、五行、
雜占、經方、神僊諸家，俱有神農書。大抵述作有本，其傳非妄。是以博物志云：
「太古書，今見存有神農經。春秋傳注。賈逵以三墳為三皇之書，神農預其列。
」史記言：「秦始皇不去醫藥卜筮之書。」則此經幸與周易並存。顏之推家訓乃云：
「本草神農所述，而有豫章、朱崖、趙國、常山、奉高、真定、臨淄、
馮翊等郡縣名出諸藥物，皆由後人所羼，非本文。」陶弘景亦云：「所出郡縣，
乃後漢時制，疑仲景、元化等所記。」按：薛綜注張衡賦，引本草經「太一禹餘糧，
一名石腦，生山谷。」是古本無郡縣名。太平御覽引經，上云：「生山谷或川澤。
」下云：「生某山某郡。」明「生山谷」，本經文也，其下郡縣，名醫所益。
今大觀本俱作黑字，或合其文。云「某山川谷」、「某郡川澤」，恐傳寫之誤，
古本不若此。仲景、元化後，有吳普、李當之，皆修此經。當之書，世少行用。
魏志華佗傳言：「普從佗學。」隋經籍志稱：「吳普本草，梁有六卷。」嘉祐本草云：
「普修神農本草，成四百四十一種。唐經籍志尚存六卷。今廣內不復存，
惟諸書多見引據。其說藥性寒溫五味最為詳悉。」是普書宋時已佚。
今其文惟見掌禹錫所引藝文類璨、初學記、後漢書注事類賦諸書。太平御覽引據尤多，
足補大觀所缺，重是別錄前書。因采其文，附於本桱，亦略備矣。其普所稱，
有「神農說者」即是木經。大觀或誤作黑字，亦據增其藥物，或數浮于三百六十五種，
由後人以意分合，難以定之。其藥名有禹餘糧、王不留行、徐長卿、鬼督郵之屬，
不類太古時文。按十字書以「禹」為「蟲」，不必夏禹。其餘名號，
或係後人所增，或聲音傳述，改古舊稱所致。又經有云：「宜酒漬者。
」或以酒非神農時物。然本草衍義已據素問首言：「以妄為常，以酒為漿。
」謂「酒自黃帝始。」又按：文選注引博物志亦云：「杜康作酒。
」王著與杜康緧交書曰：「康字仲寧，或云黃帝時人。」則俱不得疑經矣。孔子曰：
「述而不作，信而好古。」又云：「多識於鳥獸草木之名。」今儒家拘泥耳目，
未能及遠，不覩醫經本草之書。方家循守俗書，不察古本藥性異同之說。
又見明李時珍作本草綱目，其名已愚，僅取大觀本割裂舊文，妄加增駁，迷誤後學。
予與家鳳卿集成是書，庶以輔翼完經。敵蒙方伎，略以所知，如之考證。本經云：
「上藥本上經，中藥本中經，下藥本下經。」是古以玉石草木等上中下品分卷，
而序錄別為一卷。陶序朱書云：「本草經卷上注云：『序藥性之源本，論病名之形診。
』卷中云：『玉石草木三品。』卷下云：『蟲獸果菜米合三品。』此名醫所改，
今依古為次。」又帝王世紀及陶序稱四卷者，掌禹錫云：「按：舊本亦作四卷。
」韓保昇又云：「神農本草上中下，并序錄，合四券。」若此，則三、四之異，
以有序錄。則抱朴子、養生要略、太平御覽所引神農經，或云「問于太乙于」，
或引「太乙子」云云，皆經所無，或亦在序錄中，後人節去之耳。至其經文，
或以痒為癢，創為瘡，淡為痰，注為蛀，沙為砂，免為菟之類，皆由傳寫之誤。
據古訂正，勿嫌驚俗也。其辨析物類，引據諸書，本之毛詩、爾雅、說文、方言：
廣雅，誰子雜家，則鳳卿增補之力居多云。
陽湖孫星衍撰</p>
<p>神農本草經序錄</p>
<p>上藥一百二十種為君，主養命以應天，無毒，多服久服不傷人，欲輕身益氣，
不老延年者，本上經。中藥一百二十種為臣，主養性以應人，無毒有毒，斟酌其宜，
欲遏病補虛贏者，本中經。下藥一百二十五種為左使，主治病以應地，多毒不可久服，
欲除寒熱邪氣，破積聚，愈疾者，本下經。三品合三百六十五種，法三百六十五度，
一度應一日以成一歲。藥有臣佐使，以相宣攝合和，宜用一君二臣三佐五使，
又可一君三臣九佐使也。藥有陰陽，配合子母兄弟，根莖華實草石骨肉。有單行者，
有相須者，有相使者，有相畏者，有相惡者，有相反者，有相殺者。
凡此七情合和視之，當用相須相使者良，勿用相惡相反者。若有毒宜制，
可用相畏相殺者，不爾勿合用也。藥有酸鹹甘苦辛五味，又有寒熱溫涼四氣，
及有毒無毒，陰乾暴乾，采造時月，生熟，土地所出，真偽陳新，並各有法。
藥性有宜丸者，宜散者，宜水煮者，宜酒漬者，宜膏煎者，亦有一物兼宜者，
亦有不可入湯酒者，並隨藥性，不得違越。欲療病，先察其原，先候病機。五藏未虛，
六府未竭，血脈未亂，精神未散，服藥必活。若病已成，可得半癒。病勢已過，
命將難全。若用毒藥療病，先起如黍粟，病去即止，不去倍之，不去十之取去為度。
療寒以熱藥，療熱以寒藥，飲食不消以吐下藥，鬼注蠱毒以毒藥，癰腫創瘤以創藥，
風濕以風濕藥，各隨其所宜。病在胸膈以上者，先食後服藥。病在心腹以下者，
先服藥而後食。病在四肢血脈者，宜空腹而在旦。病在骨髓者，宜飽滿而在夜。
夫大病之主，有中風傷寒、寒熱溫瘧、中惡霍亂、大腹水腫、腸澼下利、大小便不通、
賁肫上氣、欬逆嘔吐、黃疸消渴、留飲癖食、堅積癥瘕、驚邪癲癇鬼注、喉痺齒痛、
耳聾目盲、金創踒折、癰腫惡創、痔瘻癭瘤、男子五勞七傷虛乏羸瘦、
女子帶下崩中血閉陰蝕、蟲蛇蠱毒所傷。此大略宗兆，其間變動技葉，
各宜依端緒以取之。</p>
<h2>卷一上經</h2>
<h3>1. 丹沙</h3>
<p>味甘微寒。主身體五藏百病，養精神，安魂魄，益氣明目。殺精魅邪惡鬼。
久服通神明不老。能化為汞。生山谷。</p>
<h3>2. 雲母</h3>
<p>味甘平。主身皮死肌，中風寒熱。如在車船上。除邪氣，安五藏，益子精，明目。
久服輕身延年。一名雲珠，一名雲華，一名雲英，一名雲液，一名雲沙，一名磷石。
生山谷。</p>
<h3>3. 玉泉</h3>
<p>味甘平。主五藏百病，柔筋強骨，安魂魄，長肌肉，益氣。久耐寒暑，
不飢渴不老神僊。人臨死服五斤，死三年不變。一名玉朼。生山谷。</p>
<h3>4. 石鍾乳</h3>
<p>味甘溫。主欬逆上氣，明目益精，安五藏，通百節，利九竅，下乳汁。生山谷。</p>
<h3>5. 涅石</h3>
<p>味酸寒。主寒熱洩利，白沃陰蝕，惡創目痛，堅筋骨齒。鍊餌服之，輕身不老，增年。
一名羽涅。生山谷。</p>
<h3>6. 消石</h3>
<p>味苦寒。主五藏積熱，胃張閉，滌去蓄結飲食，推陳致新，除邪氣。鍊之如膏，
久服輕身。生山谷。</p>
<h3>7. 朴消</h3>
<p>味苦寒。主百病，除寒熱邪氣，逐六府積聚、結固留癖，能化七十二種石。鍊餌服之，
輕身神僊。生山谷。</p>
<h3>8. 滑石</h3>
<p>味甘寒。主身熱洩澼、女子乳難、癃閉。利小便，蕩胃中積聚寒熱，益精氣。
久服輕身耐飢長年。生山谷。</p>
<h3>9. 石膽</h3>
<p>味酸寒。主明目目痛、金創、諸癇痙、女子陰蝕痛、石淋寒熱、崩中下血、諸邪毒氣，
令人有子。鍊餌服之不老，久服增壽神僊。能化鐵為銅，成金銀。一名畢石。生山谷。</p>
<h3>10. 空青</h3>
<p>味甘寒。主青盲耳聾，明目，利九竅，通血脈，養精神。久服輕身延年不老。
能化銅鐵鉛錫作金。生山谷。</p>
<h3>11. 曾青</h3>
<p>味酸，小寒。主目痛，止瓷B出風痺，利關節，通九竅，破癓堅積聚。久服輕身不老。
能化金銅。生山谷。</p>
<h3>12. 禹餘糧</h3>
<p>味甘寒。主欬逆寒熱煩滿、下赤白、血閉癓瘕大熱。鍊餌服之不飢，輕身延年。
生池澤及山島中。</p>
<h3>13. 太一餘糧</h3>
<p>味甘平。主欬逆上氣、癓瘕血閉漏下，除邪氣。久服耐寒暑，不飢，
輕身飛行千里神僊。一名石腦。生山谷。</p>
<h3>14. 白石英</h3>
<p>味甘微溫。主消渴、陰痿、不足、逆欬、胸鬲閒久寒，益氣，除風濕痺。久服輕身。
長年生山谷。</p>
<h3>15. 紫石英</h3>
<p>味甘溫。主心腹欬逆邪氣，補不足，女子風寒在子宮，絕孕十年無子。久服溫中，
輕身延年。生山谷。</p>
<h3>16. 青石、赤石、黃石、白石、黑石脂等</h3>
<p>味甘平。主黃疸洩利、腸癖膿血、陰蝕下血、赤白邪氣、癰腫疽痔、惡創、頭瘍疥搔。
久服補髓益氣，肥健不飢，輕身延年。五石脂各隨五色補五藏。生山谷中。</p>
<h3>17. 白青</h3>
<p>味甘平。主明目，利九竅耳聾，心下邪氣，令人吐，殺諸毒三蟲。久服通神明，
輕身延年不老。生山谷中。</p>
<h3>18. 扁青</h3>
<p>味甘平。主目痛明目、折跌癰腫、金創不瘳，破積聚，解毒氣，利精神。
久服輕身不老。生山谷</p>
<h3>19. 昌蒲</h3>
<p>味辛溫。主風寒濕痺，欬逆上氣。開心孔，補五藏，通九竅，明耳目，出聲音。
久服輕身，不忘不迷，或延年。一名昌陽。生池澤。</p>
<h3>20. 菊花</h3>
<p>味苦平。主風頭眩腫痛、目欲脫瓷B出、皮膚死肌、惡風濕痺。久服利血氣，
輕身耐老延年。一名節華。生川澤及田野。</p>
<h3>21. 人參</h3>
<p>味甘微寒。主補五藏，安精神，定魂魄，止驚悸，除邪氣，明目，開心益智。
久服輕身延年。一名人銜，一名鬼說bo 生山谷。</p>
<h3>22. 天門冬</h3>
<p>味苦平。主諸暴、風濕偏痺，強骨髓，殺三蟲，去伏屍。久服輕身，益氣延年。
一名顛勒。生山谷。</p>
<h3>23. 甘草</h3>
<p>味甘平。主五藏六府、寒熱邪氣，堅筋骨，長肌肉，倍力，金創腫，解毒。
久服輕身延年。生山谷。</p>
<h3>24. 乾地黃</h3>
<p>味甘寒。主折跌絕筋傷中，逐血痺，填骨髓，長肌肉。作湯除寒熱積聚除痺，
生者尤良。久服輕身不老。一名地髓。生川澤。</p>
<h3>25. 朮</h3>
<p>味苦溫。主風寒濕痺、死肌痙疸，止汗除熱，消食。作煎餌，久服輕身延年不飢。
一名山薊。生山谷。</p>
<h3>26. 免絲子</h3>
<p>味辛平。主續絕傷，補不足，益氣力，肥健，汁去面皯。久服明目，輕身延年。
一名兔蘆。生川澤。</p>
<h3>27. 牛膝</h3>
<p>味苦酸。主寒濕痿痺、四肢拘攣、膝痛不可屈伸。逐血氣、傷熱、火爛，墮胎。
久服輕身耐老。一名百倍。生川谷。</p>
<h3>28. 充蔚子</h3>
<p>味辛微溫。主明目益精，除水氣，久服輕身。莖主癮𤺋痒，可作浴湯。一名益母，
一名益明，一名大札。生池澤。</p>
<h3>29. 女萎</h3>
<p>味甘平。主中風暴熱、不能動搖、跌筋結肉、諸不足。久服去面黑皯，好顏色，潤澤，
輕身不老。生山谷。</p>
<h3>30. 防葵</h3>
<p>味辛寒。主疝瘕腸洩、膀胱熱結、溺不下、欬逆溫瘧、癲癇驚邪狂走。久服堅骨髓，
益氣輕身。一名梨說bo 生川谷。</p>
<h3>31. 茈葫</h3>
<p>味苦平。主心腹，去腸胃中結氣、飲食積聚、寒熱邪氣，推陳致新。久服輕身，
明目益精。一名地熏。</p>
<h3>32. 麥門冬</h3>
<p>味甘平。主心腹結氣、傷中傷飽、胃結脈絕，羸瘦短氣。久服輕身不老不飢。
生川谷及隄阪。</p>
<h3>33. 獨活</h3>
<p>味苦平。主風寒所擊、金瘡止痛、奔豚癇痓、女子疝瘕。久服輕身耐老。一名羌活，
一名羌青，一名護羌使者。生川谷。</p>
<h3>34. 車前子</h3>
<p>味甘寒，無毒。主氣癃止痛，利水道小便，除濕痺。久服輕身耐老。一名當道。
生平澤。</p>
<h3>35. 木香</h3>
<p>味辛。主邪氣，辟毒疫，溫鬼，強志，主淋露。久服不夢寤魘寐。生山谷。</p>
<h3>36. 署豫</h3>
<p>味甘溫。主傷中，補虛羸，除寒熱邪氣，補中益氣力，長肌肉。久服耳目聰明，
輕身不飢延年。一名山芋。生山谷。</p>
<h3>37. 薏苡仁</h3>
<p>味甘微寒。主筋急拘攣、不可屈伸、風濕痺下氣。久服輕身益氣。其根下三蟲。
一名解蠡。生平澤及田野。</p>
<h3>38. 澤瀉</h3>
<p>味甘寒。主風寒濕痺、乳難消水。養五藏，益氣力，肥健。久服耳目聰明，不飢，
延年，輕身，面生光，能行水上。一名水瀉，一名芒芋，一名鵠瀉。生池澤。</p>
<h3>39. 遠志</h3>
<p>味苦溫。主欬逆、傷中。補不足。除邪氣，利九竅，益智慧，耳目聰明不忘，
強心倍力。久服輕身不老。葉名小草。一名棘菀，一名葽繞，一名細草。生川谷。</p>
<h3>40. 龍膽</h3>
<p>味苦澀。主骨間寒熱、驚癇邪氣。續絕傷，定五藏，殺蟲毒。久服益智不忘，
輕身耐老。一名陵游。生山谷。</p>
<h3>41. 細辛</h3>
<p>味辛溫。主欬逆頭痛腦動、百節拘攣、風濕痺痛、死肌。久服明目利九竅，輕身長年。
一名小辛。生山谷。</p>
<h3>42. 石斛</h3>
<p>味甘平。主傷中，除痺下氣，補五藏虛勞羸瘦，強陰。久服厚腸胃，輕身延年。
一名林蘭。生山谷。</p>
<h3>43. 巴戟天</h3>
<p>味辛微溫。主大風邪氣、陰痿不起。強筋骨，安五藏，補中增志益氣。生山谷。</p>
<h3>44.白英</h3>
<p>味甘寒。主寒熱、八疽消渴。補中益氣。久服輕身延年。一名翩B菜。生山谷。</p>
<h3>45. 白蒿</h3>
<p>味甘平。主五藏邪氣、風寒濕痺。補中益氣，長毛髮令黑，療心懸少食常飢。
久服輕身，耳目聰明，不老。生川澤。</p>
<h3>46. 赤箭</h3>
<p>味辛溫。主殺鬼精物、蠱毒惡氣。久服益氣力，長陰肥健，輕身增年。一名離母。
一名鬼督郵。生川谷。</p>
<h3>47. 奄閭子</h3>
<p>味苦微寒。主五藏瘀血、腹中水氣、臚張留熱、風寒濕痺、身體諸痛。久服輕身，
延年不老。生川谷。</p>
<h3>48. 析蓂子</h3>
<p>味辛微溫。主明目、目痛瓷B出。除痺，補五藏，益精光。久服輕身不老。一名蔑析，
一名大蕺，一名馬辛。生川澤及道旁。</p>
<h3>49. 蓍實</h3>
<p>味苦平。主益氣，充肌膚，明目聰慧先知。久服不飢，不老輕身。生山谷。</p>
<h3>50. 赤、黑、青、白、黃、紫芝</h3>
<p>赤芝，味苦平。主胸中結，益心氣，補中增慧智不忘。久食輕身不老，延年神僊。
一名丹芝。黑芝，味鹹平。主癃，利水道，益腎氣，通九竅，聰察。久食輕身不老，
延年神僊。一名元芝。青芝，味酸平。主明目，補肝氣，安精魂仁恕。久食輕身不老，
延年神僊。一名龍芝。白芝，味辛平。主欬逆上氣，益肺氣，通利口鼻，強志意，
勇悍安魄。久食輕身不老，延年神僊。一名玉芝。黃芝，味甘平。主心腹五邪，
益脾氣，安神，忠信和樂。久食輕身不老，延年神僊。一名金芝。紫芝，味甘溫。
主耳聾，利關節，保神益精氣，堅筋骨，好顏色。久食輕身不老，延年。一名木芝。
生山谷。</p>
<h3>51. 卷柏</h3>
<p>味辛溫。主五藏邪氣、女子陰中寒熱痛、癥瘕血閉絕子。久服輕身，和顏色。
一名萬歲。生山谷石閒。</p>
<h3>52. 藍實</h3>
<p>味苦寒。主解諸毒，殺蠱蚑注鬼螫毒。久服頭不白，輕身。生平澤。</p>
<h3>53. 芎藭</h3>
<p>味辛溫。主中風，入腦頭痛、寒痺筋攣、緩急金創、婦人血閉無子。生川谷。</p>
<h3>54. 蘼蕪</h3>
<p>味辛溫。主欬逆，定驚氣，辟邪惡，除蠱毒鬼注，去三蟲。久服通神。一名薇蕪。
生川澤。</p>
<h3>55. 黃連</h3>
<p>味苦寒。主熱氣、目痛眥傷、泣出明目、腸澼腹痛下利、婦人陰中腫痛。
久服令人不忘。一名王連。生川谷。</p>
<h3>56. 絡石</h3>
<p>味苦溫。主風熱、死肌癰傷、口乾舌焦、癰腫不消、喉舌腫、水漿不下。久服輕身，
明目潤澤，好顏色，不老延年。一名石鯪。生川谷。</p>
<h3>57. 蒺藜子</h3>
<p>味苦溫。主惡血，破癥結積聚、喉痺乳難。久服長肌肉，明目輕身。一名旁通，
一名屈人，一名止行，一名豺羽，一名升推。生平澤或道旁。</p>
<h3>58. 黃耆</h3>
<p>味甘微溫。主癰疽、久敗創、排膿止痛、大風癩疾、五痔鼠瘻、補虛、小兒百病。
一名戴糝。生山谷。</p>
<h3>59. 肉松容</h3>
<p>味甘微溫。主五勞七傷，補中，除莖中寒熱痛。養五藏，強陰益精氣，多子，
婦人癥瘕。久服輕身。生山谷。</p>
<h3>60. 防風</h3>
<p>味甘溫，無毒。主大風頭眩痛、惡風風邪、目盲無所見、風行周身、骨節疼痺、煩滿。
久服輕身。生川澤。</p>
<h3>61. 蒲黃</h3>
<p>味甘平。主心腹膀胱寒熱，利小便，止血消瘀血。久服輕身，益氣力，延年神僊。
生池澤。</p>
<h3>62. 香蒲</h3>
<p>味甘平。主五藏、心下邪氣、口中爛臭。堅齒明目聰耳。久服輕身耐老。一名睢。
生池澤。</p>
<h3>63. 續斷</h3>
<p>味苦微溫。主傷寒，補不足，金創癰傷，折跌續筋骨，婦人乳難。久服益氣力。
一名龍豆，一名屬折。生山谷。</p>
<h3>64. 漏蘆</h3>
<p>味苦鹹寒。主皮膚熱、惡創疽痔、濕痺、下乳汁。久服輕身益氣，耳目聰明，
不老延年。一名野蘭。生山谷。</p>
<h3>65. 營實</h3>
<p>味酸溫。主癰疽、惡創結肉、跌筋敗創、熱氣陰蝕不瘳、利關節。一名牆薇，
一名牆麻，一名牛棘。生川谷。</p>
<h3>66. 天名精</h3>
<p>味甘寒。主瘀血，血瘕欲死，下血止血，利小便。久服輕身耐老。一名麥句薑，
一名蝦蟆藍，一名豕首。生川澤。</p>
<h3>67. 決明子</h3>
<p>味鹹平。主青盲目，淫膚赤白。膜眼赤痛瓷B出。久服益精光，輕身。生川澤。</p>
<h3>68. 丹參</h3>
<p>味苦微寒。主心腹邪氣、腸鳴幽幽如走水、寒熱積聚。破癥除瘕，止煩滿，益氣。
一名卻蟬草。生川谷。</p>
<h3>69. 茜根</h3>
<p>味苦寒。主寒濕風痺、黃疸、補中。生川谷。</p>
<h3>70. 飛廉</h3>
<p>味苦平。主骨節熱、脛重酸疼。久服令人身輕。一名飛輕。生川澤。</p>
<h3>71. 五味子</h3>
<p>味酸溫。主益氣，欬逆上氣，勞傷羸瘦，補不足，強陰，益男子精。生山谷。</p>
<h3>72. 旋覆花</h3>
<p>味甘溫。主益氣，去面皯，黑色媚好。其根味辛，主腹中寒熱邪氣，利小便。
久服不飢輕身。生平澤。</p>
<h3>73. 蘭草</h3>
<p>味辛平。主利水道，殺蠱毒，辟不祥。久服益氣輕身不老，通神明。一名水香。
生池澤。</p>
<h3>74. 蛇床子</h3>
<p>味苦平。主婦人陰中腫痛，男子陰痿濕痒，除痺氣，利關節，癲癇惡創。久服輕身。
一名蛇米。生川谷及田野。</p>
<h3>75. 地膚子</h3>
<p>味苦寒。主膀胱熱，利小便，補中益精氣。久服耳目聰明，輕身耐老。一名地葵。
生平澤及田野。</p>
<h3>76. 景天</h3>
<p>味苦平。主大熱，火創身熱，煩邪惡氣。華主女人漏下赤白，輕身明目。一名戒火，
一名慎火。生川谷。</p>
<h3>77. 茵陳</h3>
<p>味苦平。主風濕，寒熱邪氣，熱結黃疸。久服輕身，益氣耐老。生邱陵阪岸上。</p>
<h3>78. 杜若</h3>
<p>味辛微溫。主胸脅，下逆氣，溫中風入腦戶，頭腫痛，多涕瓷B出。久服益精，
明目輕身。一名杜衡。生川澤。</p>
<h3>79. 沙參</h3>
<p>味苦微寒。主血積驚氣，除寒熱，補中益肺氣。久服利人。一名知母。生川谷。</p>
<h3>80. 白兔藿</h3>
<p>味苦平。主蛇虺蜂蠆，猘狗菜肉蠱毒注。一名白葛。生山谷。</p>
<h3>81. 徐長卿</h3>
<p>味辛溫。主鬼物，百精蠱毒，疫疾邪惡氣，溫瘧。久服強悍輕身。鬼督郵。生山谷。</p>
<h3>82. 石龍芻</h3>
<p>味苦微寒。主心腹邪氣，小便不利，淋閉風濕，鬼注惡毒。久服補虛羸，輕身，
耳目聰明，延年。一名龍鬚，一名草續斷，一名龍珠。生山谷。</p>
<h3>83. 薇銜</h3>
<p>味苦平。主風濕痺、歷節痛、驚癇吐舌、悸氣賊風、鼠瘻癰腫。一名糜銜。生川澤。</p>
<h3>84. 雲實</h3>
<p>主洩利腸澼，殺蟲蠱毒，去邪惡結氣，止痛除熱。華主見鬼精物。多食另人狂走，
久服輕身通神明。生川谷。</p>
<h3>85. 王不留行</h3>
<p>味苦平。主金創止血，逐痛出刺，除風痺內寒。久服輕身，耐老增壽。生山谷。</p>
<h3>86. 升麻</h3>
<p>味甘辛。主解百毒，殺百老物殃鬼，辟溫疾瘴邪毒蠱。久服不夭。一名周升麻。
生山谷。</p>
<h3>87. 青蘘</h3>
<p>味甘寒。主五藏邪氣，風寒濕痺，益氣，補腦髓，堅筋骨。久服耳目聰明，
不飢不老增壽。巨勝苗也。生川谷。</p>
<h3>88. 姑活</h3>
<p>味甘溫。主大風邪氣、濕痺寒痛。久服輕身，益壽耐老。一名冬葵子。</p>
<h3>89. 別羈</h3>
<p>味苦微溫。主風寒濕痺、身重、四肢疼酸、寒邪歷節痛。生川谷。</p>
<h3>90. 屈草</h3>
<p>味苦。主胸脅下痛邪氣、腹間寒熱陰痺。久服輕身，益氣耐老。生川澤。</p>
<h3>91. 淮木</h3>
<p>味苦平。主久欬上氣、傷中虛羸、女子陰蝕、漏下赤白沃。一名百歲城中木。生山谷。</p>
<h3>92. 牡桂</h3>
<p>味辛溫。主上氣，欬逆結氣，喉痺吐吸，利關節，補中益氣。久服通神，輕身不老。
生山谷。</p>
<h3>93. 菌桂</h3>
<p>味辛溫。主百病，養精神，和顏色，為諸藥先聘通使。久服輕身不老，面生光華，
媚好常如童子。生山谷。</p>
<h3>94. 松脂</h3>
<p>味苦溫。主疽惡創，頭瘍白禿，疥搔風氣，安五藏，除熱。久服輕身，不老延年。
一名松膏，一名松肪。生山谷。</p>
<h3>95. 槐實</h3>
<p>味苦寒。主五內邪氣熱，止涎唾，補絕傷，五痔火創，婦人乳瘕，子藏急痛。生平澤。</p>
<h3>96. 枸杞</h3>
<p>味苦寒。主五內邪氣，熱中消渴，周痺。久服堅筋骨，輕耳不老。一名杞根，
一名地骨，一名枸忌，一名地輔。生平澤。</p>
<h3>97. 柏實</h3>
<p>味甘平。主驚悸，安五藏，益氣，除濕痺。久服令人悅澤美色，耳目聰明，不飢不老，
輕身延年。生山谷。</p>
<h3>98. 茯苓</h3>
<p>味甘平。主胸脅逆氣、憂恚驚邪、恐悸、心下結痛、寒熱煩滿、欬逆、口焦舌乾、
利小便。久服安魂養神，不飢延年。一名茯菟。生山谷。</p>
<h3>99. 榆皮</h3>
<p>味甘平。主大小便不通，利水道，除邪氣。久服輕身不飢，其實尤良。一名零榆。
生山谷。</p>
<h3>100. 酸棗</h3>
<p>味酸平。主心腹寒熱、邪結氣聚、四肢酸疼濕痺。久服安五藏，輕身延年。生川澤。</p>
<h3>101. 檗木</h3>
<p>味苦寒。主五藏腸胃中結熱、黃疸、腸痔。止洩利、女子下漏下赤白、陰陽蝕創。
一名檀桓。生山谷。</p>
<h3>102. 乾漆</h3>
<p>味辛溫，無毒。主絕傷補中，續筋骨，填髓腦，安五藏，五緩六急，風寒濕痺，生漆，
去長蟲。久服輕身耐老。生川谷。</p>
<h3>103. 五加皮</h3>
<p>味辛溫。主心腹疝氣腹痛，益氣療躄，小兒不能行，疽創陰蝕。一名豺漆。</p>
<h3>104. 蔓荊實</h3>
<p>味苦微寒。主筋骨間寒熱痺，拘攣，明目堅齒，利九竅，去白蟲。久服輕身耐老。
小荊實亦等。生山谷。</p>
<h3>105. 辛夷</h3>
<p>味辛溫。主五藏，身體寒風，頭腦痛，面皯。久服下氣，輕身明目，增年耐老。
一名辛矧，一名侯桃，一名房木。生川谷。</p>
<h3>106. 桑上寄生</h3>
<p>味苦平。主腰痛，小兒背強癰腫，安胎，充肌膚，堅髮齒，長鬚眉。其實明目，
輕身通神。一名寄屑，一名寓木，一名宛童。生川谷。</p>
<h3>107. 杜仲</h3>
<p>味辛平。主腰脊痛，補中益精氣，堅筋骨強志，除陰下痒濕，小便餘瀝。
久服輕身耐老。一名思僊。生山谷。</p>
<h3>108. 女貞實</h3>
<p>味苦平。主補中，安五藏，養精神，除百疾。久服肥健，輕身不老。生山谷。</p>
<h3>109. 木蘭</h3>
<p>味苦寒。主身大熱在皮膚中，去面熱赤，皰酒皶，惡風癲疾，陰下痒濕，明耳目。
一名林蘭。</p>
<h3>110. 蕤核</h3>
<p>味甘溫。主心腹邪氣，明目，目赤痛傷瓷B出。久服輕身，益氣不飢。生川谷。</p>
<h3>111. 橘柚</h3>
<p>味辛溫。主胸中瘕熱逆氣，利水翩bo 久服去臭，下氣通神。一名橘皮。生川谷。</p>
<h3>112. 髮髲</h3>
<p>味苦溫。主五癃，關格不通，利小便水道，療小兒癇大人痓，仍自還神化。</p>
<h3>113. 龍骨</h3>
<p>味甘平。主心腹鬼注，精物老魅，欬逆，洩利膿血，女子漏下，癥瘕堅結，
小兒熱氣驚癇。齒主小兒、大人驚癇，癲疾狂走，心下結氣，不能喘息諸痙，殺精物。
久服輕身，通神明，延年。生山谷。</p>
<h3>114. 麝香</h3>
<p>味辛溫。主辟惡氣，殺鬼精物，溫瘧蠱毒，癇痓，去三蟲。久服除邪，不夢寤厭寐。
生川谷。</p>
<h3>115. 牛黃</h3>
<p>味苦平。主驚癇寒熱，熱盛狂痓，除邪逐鬼。生平澤。</p>
<h3>116. 熊脂</h3>
<p>味甘微寒。主風痺不仁筋急，五藏腹中積聚，寒熱羸瘦，頭瘍白禿，面皯。久服強志，
不飢輕身。生山谷。</p>
<h3>117. 白膠</h3>
<p>味甘平。主傷中勞絕，腰痛羸瘦，補中益氣，婦人血閉無子，止痛安胎。
久服輕身延年。一名鹿角膠。</p>
<h3>118. 阿膠</h3>
<p>味甘平。主心腹內崩勞極，灑灑如瘧狀，腰腹痛，四肢酸疼，女子下血，安胎。
久服輕身益氣。一名傅致膠。</p>
<h3>119. 丹雄雞</h3>
<p>味甘微溫。主女人崩中漏下赤白沃，補虛溫中，止血通神，殺毒辟不祥。頭主殺鬼，
東門上者尤良。肪主耳聾。腸主遺溺，肶胵裡黃。皮主洩利。尿白主消渴，傷寒寒熱。
黑雌雞主風寒濕痺，五緩六急，安胎。翮羽主下血閉。雞子主除熱，火瘡癇痙，
可作虎魄神物。雞白橐肥脂。生平澤。</p>
<h3>120. 雁肪</h3>
<p>味甘平。主風攣拘急，偏活B氣不通利。久服益氣不飢，輕身耐老。一名鶩肪。生池澤。</p>
<h3>121. 石蜜</h3>
<p>味甘平。主心腹邪氣，諸驚癇痓，安五藏諸不足，益氣補中，止痛解毒，除眾病，
和百藥。久服強志輕身，不飢不老。一名石飴。生山谷。</p>
<h3>122. 蜂子</h3>
<p>味甘平。主風頭，除蠱毒，補虛羸傷中。久服令人光澤好顏色，不老。大黃蜂子，
主心腹張滿痛，輕身益氣。土蜂子，主癰腫。一名蜚零。生山谷。</p>
<h3>123. 蜜臘</h3>
<p>味甘微溫。主下利膿血，補中，續絕傷金創，益氣，不飢耐老。生山谷。</p>
<h3>124. 牡蠣</h3>
<p>味鹹平。主傷寒寒熱，溫瘧灑灑，驚恚怒氣。除拘緩鼠瘻，女子帶下赤白。
久服強骨節，殺邪氣，延年。一名蠣蛤。生池澤。</p>
<h3>125. 龜甲</h3>
<p>味鹹平。主漏下赤白，破癥瘕瘧痎，五痔陰蝕濕痺，四肢重弱，小兒顖不合。
久服輕身不飢。一名神屋。生池澤。</p>
<h3>126. 桑蜱蛸</h3>
<p>味鹹平。主傷中疝瘕，陰痿，益精生子，女子血閉要痛，通五淋，利小便水道。
一名蝕肬。生桑枝上，采蒸之。</p>
<h3>127. 海蛤</h3>
<p>味苦平。主欬逆上氣，喘息煩滿，胸痛寒熱。一名魁蛤。</p>
<h3>128. 文蛤</h3>
<p>主惡瘡蝕五痔。</p>
<h3>129. 蠡魚</h3>
<p>味甘寒。主濕痺，面目浮腫，下大水。一名鮦魚。生池澤。</p>
<h3>130. 鯉魚膽</h3>
<p>味苦寒。主目熱赤痛，青盲明目。久服強悍，益志氣。生池澤。</p>
<h3>131. 藕實莖</h3>
<p>味甘平。主補中養神，益氣力，除百疾。久服輕身耐老，不飢延年。一名水芝丹。
生池澤。</p>
<h3>132. 大棗</h3>
<p>味甘平。主心腹邪氣，安中養脾，助十二經，平胃氣，通九竅，補少氣，少津液，
身中不足大驚，四肢重，和百藥。久服輕身長年。葉覆麻黃，能令出汗。生平澤。</p>
<h3>133. 蒲萄</h3>
<p>味甘平。主筋骨濕痺，益氣倍力，強志，令人肥健，耐飢忍風寒。久食輕身，
不老延年。可作酒。生山谷。</p>
<h3>134. 蓬藟</h3>
<p>味酸平。主安五藏，益精氣，長陰令堅，強志倍力，有子。久服輕身不老。一名覆盆。
生平澤。</p>
<h3>135. 雞頭實</h3>
<p>味甘平。主濕痺腰脊膝痛，補中，除暴疾，益精氣，強志，令耳目聰明。
久服輕身不飢，耐老神僊。一名雁喙實。生池澤。</p>
<h3>136. 胡麻</h3>
<p>味甘平。主傷中虛羸，補五內，益氣力，長肌肉，填髓腦。久服輕身不老。一名巨勝，
葉名青蘘。生川澤。</p>
<h3>137. 麻蕡</h3>
<p>味辛平。主五勞七傷，利五藏，下血寒氣。多食令人見鬼狂走。久服通神明，輕身。
一名麻勃。</p>
<h3>麻子</h3>
<p>味甘平。主補中益氣，肥健，不老神僊。</p>
<h3>138. 冬葵子</h3>
<p>味甘寒。主五藏六府，寒熱羸瘦，五癃，利小便。久服堅骨，長肌肉，輕身延年。</p>
<h3>139.莧實</h3>
<p>味甘寒。主青盲明目，除邪，利大小便，去寒熱。久服益氣力，不飢輕身。一名馬莧。</p>
<h3>140. 瓜蒂</h3>
<p>味苦寒。主大水，身面四肢浮腫，下水殺蠱毒，欬逆上氣，
及食諸果病在胸腹中皆吐下之。生平澤。</p>
<h3>141. 瓜子</h3>
<p>味甘平。主令心悅澤好顏色，益氣不飢。久服輕身耐老。一名水芝。生平澤。</p>
<h3>142. 苦菜</h3>
<p>味苦寒。主五藏邪氣，厭翩B胃痺。久服安心益氣，聰察少臥，輕身耐老。一名荼草，
一名選。生川谷。</p>
<h2>卷二中經</h2>
<h3>1. 雄黃</h3>
<p>味苦平寒。主寒熱，鼠瘻惡創，疽痔死肌，殺精惡物，鬼邪氣，百蟲毒，勝五兵。
鍊食之，輕身神僊。一名黃食石。生山谷。</p>
<h3>2. 石流黃</h3>
<p>味酸溫。主婦人陰蝕，疽痔惡血，堅筋骨，除頭禿。能化金銀銅鐵奇物。生山谷。</p>
<h3>3. 雌黃</h3>
<p>味辛平。主惡創頭禿，痂疥殺毒，蟲蝨身痒，邪氣諸毒。鍊之久服輕身，增年不老。
生山谷。</p>
<h3>4. 水銀</h3>
<p>味辛寒。主疥瘻痂瘍白禿，殺皮膚中蝨，墮胎除熱。殺金銀銅錫毒，鎔化還復為丹。
久服神仙不死。生平土。</p>
<h3>5. 石膏</h3>
<p>味辛微寒。主中風寒熱，心下逆氣驚喘，口乾舌焦不能息，腹中堅痛，除邪鬼，
產乳金創。生山谷。</p>
<h3>6. 慈石</h3>
<p>味辛寒。主周痺風濕，肢節中痛，不可持物，洗洗酸消，除大熱煩滿及耳聾。
一名元石。生山谷。</p>
<h3>7. 凝水石</h3>
<p>味辛寒。主身熱，腹中積聚邪氣，皮中如火燒煩滿。水飲之，久服不飢。一名白水石。
生山谷。</p>
<h3>8. 陽起石</h3>
<p>味鹹微溫。主崩中漏下，破子藏中血，癥瘕結氣寒熱，腹痛無子，陰痿不起，補不足。
一名白石。生山谷。</p>
<h3>9. 孔公孽</h3>
<p>味辛溫。主傷食不化，邪結氣惡，創疽瘻痔，利九竅，下乳汁。生山谷。</p>
<h3>10. 殷孽</h3>
<p>味辛溫。主爛傷瘀血洩利，寒熱鼠瘻，癥瘕結氣。一名薑石。生山谷。</p>
<h3>11. 鐵精落</h3>
<p>平。主明目。化銅。辛平。主風熱惡創，瘍疽創痂，疥氣在皮膚中。主堅肌耐痛。
生平澤。</p>
<h3>12. 理石</h3>
<p>味辛寒。主身熱，利胃解煩，益精明目，破積聚，去三蟲。一名立制石。生山谷。</p>
<h3>13.長石</h3>
<p>味辛寒。主身熱，四肢寒厥，利小便，通血脈，明目去翳，眇下三蟲，殺蠱毒。
久服不飢。一名方石。生山谷。</p>
<h3>14. 膚青</h3>
<p>味辛平。主蠱及蛇菜肉諸毒，惡創。生川谷。</p>
<h3>15. 乾薑</h3>
<p>味辛溫。主胸滿，欬逆上氣，溫中止血出汗，逐風濕痺，腸澼下利。生者尤良。
久服去臭氣，通神明。生川谷。</p>
<h3>16. 枲耳實</h3>
<p>味甘溫。主風頭寒痛，風濕周痺，四肢拘攣痛，惡肉死肌。久服益氣，耳目聰明，
強志輕身。一名胡枲，一名地葵。生川谷。</p>
<h3>17. 葛根</h3>
<p>味甘平。主消渴身大熱，嘔吐諸痺，起陰氣，解諸毒。葛翩B主下利十歲已上。
一名雞齊根。生川谷。</p>
<h3>18. 栝樓根</h3>
<p>味苦寒。主消渴身熱，煩滿大熱，補虛安中，續絕傷。一名地樓。生川谷及山陰。</p>
<h3>19. 苦參</h3>
<p>味苦寒。主心腹結氣，癓瘕積聚，黃疸，溺有餘瀝，逐水除癰腫，補中明目止瓷bo
一名水槐，一名苦𧄹。生山谷及田野。</p>
<h3>20. 當歸</h3>
<p>味甘溫。主欬逆上氣，溫瘧寒熱，洗在皮膚中，婦人漏下絕子，諸惡創瘍金創。
煮飲之。一名乾歸。生川谷。</p>
<h3>21. 麻黃</h3>
<p>味苦溫。主中風傷寒，頭痛溫瘧，發表出汗，去邪熱氣，止欬逆上氣，除寒熱，
破癓堅積聚。一名龍沙。</p>
<h3>22. 通草</h3>
<p>味辛平。主去惡蟲，除脾胃寒熱，通利九竅，血脈關結，令人不忘。一名附支。
生山谷。</p>
<h3>23. 芍藥</h3>
<p>味苦平。主邪氣腹痛，除血痺，破堅積寒熱疝瘕，止痛，利小便，益氣。
生川谷及邱陵。</p>
<h3>24. 蠡實</h3>
<p>味甘平。主皮膚寒熱，胃中熱氣，風寒濕痺，堅筋骨。令人嗜食，久服輕身。
花葉去白蟲。一名劇草，一名三堅，一名豕首。生川谷。</p>
<h3>25. 瞿麥</h3>
<p>味苦寒。主關格，諸癃結，小便不通，出刺，決癰腫，明目去翳，破胎墮子，下閉血。
一名巨句麥。生川谷。</p>
<h3>26. 元參</h3>
<p>味苦微寒。主腹中寒熱積聚，女子產乳餘疾，補腎氣，令人目明。一名重臺。生川谷。</p>
<h3>27. 秦艽</h3>
<p>味苦平。主寒熱邪氣，寒濕風痺，肢節痛，下水利小便。生山谷。</p>
<h3>28. 百合</h3>
<p>味甘平。主邪氣，腹張心痛，利大小便，補中益氣。生川谷。</p>
<h3>29. 知母</h3>
<p>味苦寒。主消渴熱中，除邪氣，肢體浮腫，下水，補不足，益氣。一名蚳母，
一名連母，一名野蓼，一名地參，一名水參，一名水浚，一名貨母，一名蝭母。
生川谷。</p>
<h3>30. 貝母</h3>
<p>味辛平。主傷寒煩熱，淋瀝邪氣，疝瘕喉痺，乳難金創，風痙。一名空艸。</p>
<h3>31. 白茞</h3>
<p>味辛溫。主女人漏下赤白，血閉陰腫，寒熱風頭，侵目瓷B出，長肌膚潤澤，可作面脂。
一名芳香。生川谷。</p>
<h3>32. 淫羊藿</h3>
<p>味辛寒。主陰痿絕傷，莖中痛，利小便，益氣力，強志。一名剛前。生山谷。</p>
<h3>33. 黃岑</h3>
<p>味苦平。主諸熱黃疸，腸澼洩利，逐水下血閉，惡創疽蝕，火瘍。一名腐腸。生川谷。</p>
<h3>34. 狗脊</h3>
<p>味苦平。主腰背，強關機，緩急周痺，寒濕膝痛，頗利老人。一名百枝。生川谷。</p>
<h3>35. 石龍芮</h3>
<p>味苦平。主風寒濕痺，心腹邪氣，利關節，止煩滿。久服輕身，明目不老。
一名魯果能，一名地椹。生川澤石邊。</p>
<h3>36. 茅根</h3>
<p>味甘寒。主勞傷虛羸，補中益氣，除瘀血，血閉寒熱，利小便。其苗主下水。
一名蘭根，一名茹根。生山谷、田野。</p>
<h3>37. 紫菀</h3>
<p>味苦溫。主欬逆上氣，胸中寒熱結氣。去蠱毒痿蹶，安五藏。生山谷。</p>
<h3>38. 紫草</h3>
<p>味苦寒。主心腹邪氣，五疸，補中益氣，利九竅，通水道。一名紫丹，一名紫芺。
生山谷。</p>
<h3>39. 敗醬</h3>
<p>味苦平。主暴熱，火創赤氣，疥搔疽痔，馬鞍熱氣。一名鹿腸。生川谷。</p>
<h3>40. 白鮮皮</h3>
<p>味苦寒。主頭風黃疸，欬逆淋瀝，女子陰中腫痛，濕痺死肌，不可屈伸起止行步。
生川谷。</p>
<h3>41. 酸醬</h3>
<p>味酸平。主煩熱滿，定志益氣，利水道。產難，吞其實立產。一名醋醬。生川澤。</p>
<h3>42. 紫參</h3>
<p>味苦辛寒。主心腹積聚，寒熱邪氣，通九竅，利大小便。一名牡蒙。生山谷。</p>
<h3>43. 藁本</h3>
<p>味辛溫。主婦人疝瘕，陰中寒腫痛，腹中急。除風頭痛，長肌膚，悅顏色。一名鬼卿，
一名地新。生山谷。</p>
<h3>.44.石韋</h3>
<p>味苦平。主勞熱邪氣，五癃閉不通，利小便水道。一名石䩾生。生山谷石上。</p>
<h3>45. 萆薢</h3>
<p>味苦平。主腰背痛，強骨節，風寒濕，周痺，惡創不瘳，熱氣。生山谷。</p>
<h3>46. 白薇</h3>
<p>味苦平。主暴中風，身熱肢滿，忽忽不知人，狂惑邪氣，寒熱酸疼，溫瘧洗洗，
發作有時。生川谷。</p>
<h3>47. 水萍</h3>
<p>味辛寒。主暴熱身痒，下水氣，勝酒，長鬚髮，消渴。久服輕身。一名水華。生池澤。</p>
<h3>48. 王瓜</h3>
<p>味苦寒。主消渴內痺，瘀血月閉，寒熱酸疼，益氣愈聾。一名土瓜。生平澤。</p>
<h3>49. 地榆</h3>
<p>味苦微寒。主婦人乳痓痛，七傷帶下病。止痛除惡肉，止汗療金創。</p>
<h3>50. 海藻</h3>
<p>味苦寒。主癭瘤氣，頸下核，破散結氣癰腫，癥瘕堅氣，腹中上下鳴，下十二水腫。
一名落首。生池澤。</p>
<h3>51. 澤蘭</h3>
<p>味苦微溫。主乳婦內衂，中風餘疾，大腹水腫，身面四肢浮腫，骨節中水，
金創癰腫創膿。一名虎蘭，一名龍棗。生大澤傍。</p>
<h3>52. 防己</h3>
<p>味辛平。主風寒溫瘧，熱氣諸癇，除邪，利大小便。一名解離。</p>
<h3>53. 款冬花</h3>
<p>味辛溫。主欬逆上氣，善喘喉痺，諸驚癇，寒熱邪氣。一名橐吾，一名顆涷，
一名虎須，一名免奚。生山谷。</p>
<h3>54. 牡丹</h3>
<p>味辛寒。主寒熱。中風瘈瘲，痙，驚癇邪氣，除癓腎瘀血，留舍腸胃，安五藏，
療癰創。一名鹿韭，一名鼠姑。生山谷。</p>
<h3>55. 馬先蒿</h3>
<p>平，主寒熱鬼注，中風濕痺，女子帶下，病無子。一名馬屎蒿。生川澤。</p>
<h3>56. 積雪草</h3>
<p>味苦寒。主大熱，惡創癰疽，浸淫赤熛，身熱。生川谷。</p>
<h3>57. 女菀</h3>
<p>味辛溫。主風，洗洗霍亂，洩利腸鳴，上下無常處，驚癇寒熱百疾。生川谷或山陽。</p>
<h3>58. 王孫</h3>
<p>味苦平。主五藏邪氣，寒濕痺，四肢疼酸，膝冷痛。生川谷。</p>
<h3>59. 蜀羊泉</h3>
<p>味苦微寒。主頭禿惡創，熱氣疥搔痂癬蟲，療齲齒。生川谷。</p>
<h3>60 . 爵牀</h3>
<p>味鹹寒。主腰脊痛，不得著床，俛仰艱難，除熱，可作浴湯。生川谷及田野。</p>
<h3>61. 假蘇</h3>
<p>味辛溫。主寒熱鼠瘻，瘰癧生創，破結聚氣，下瘀血，除濕痺。一名鼠蓂。生川澤。</p>
<h3>62. 翹根</h3>
<p>味甘寒平。主下熱氣，益陰精，令人悅好，明目。久服輕身耐老。生平澤。</p>
<h3>63. 桑根白皮</h3>
<p>味甘寒。主傷中五勞，六極羸瘦，崩中脈絕，補虛益氣。葉主除寒熱出汗。
桑耳黑者主女子漏下赤白汁，血病癥瘕，積聚陰痛，陰陽寒熱，無子。五木耳名檽，
益氣不飢，輕身強志。生山谷。</p>
<h3>64. 竹葉</h3>
<p>味苦平。主欬逆上氣，溢筋急惡瘍，殺小蟲。根作湯，益氣止渴，補虛下氣。
汁主風痓。實通神明，輕身益氣。</p>
<h3>65. 吳茱萸</h3>
<p>味辛溫。主溫中下氣，止痛，欬逆寒熱，除濕血痺，逐風邪，開湊理。根殺三蟲。
一名藙。生山谷。</p>
<h3>66. 梔子</h3>
<p>味苦寒。主五內邪氣、胃中熱氣、面赤酒泡、皶鼻白賴、赤癩創瘍。一名木丹。
生川谷。</p>
<h3>67. 蕪荑</h3>
<p>味辛主五內邪氣，散皮膚骨節中淫淫溫行毒，去三蟲，化食。一名無姑，一名𦽄䕋。
生川谷。</p>
<h3>68. 枳實</h3>
<p>味苦寒。主大風在皮膚中如麻豆苦痒，除寒熱結，止利，長肌肉，利五藏，益氣輕身。
生川谷。</p>
<h3>69. 厚朴</h3>
<p>味苦溫。主中風傷寒，頭痛寒熱，驚悸，氣血痺，死肌，去三蟲。</p>
<h3>70 .秦皮</h3>
<p>味苦微寒。主風寒濕痺，洗洗寒氣除熱，目中青翳白膜。久服頭不白，輕身。生川谷。</p>
<h3>71. 秦菽</h3>
<p>味辛溫。主風邪氣，溫中，除寒痺，堅齒髮，明目。久服輕身，好顏色，耐老增年，
通神。生川谷。</p>
<h3>72. 山茱萸</h3>
<p>味酸平。主心下邪氣，寒熱溫中，逐寒濕痺，去三蟲。久服輕身。一名蜀棗。生山谷。</p>
<h3>73. 紫葳</h3>
<p>味酸微寒。主婦人產乳餘疾，崩中癥瘕，血閉寒熱，羸瘦養胎。生川谷。</p>
<h3>74. 豬苓</h3>
<p>味甘平。主痎瘧解毒，蠱注不祥，利水道。久服輕身耐老。一名猳豬屎。生山谷。</p>
<h3>75 .白棘</h3>
<p>味辛寒。主心腹痛，癰腫潰膿，止痛。一名棘鍼。生川谷。</p>
<h3>76. 龍眼</h3>
<p>味甘平。主五藏邪氣，安志厭食。久服強魂聰明，輕耳不老，通神明。一名益智。
生山谷。</p>
<h3>77. 松蘿</h3>
<p>味苦平。主瞋怒邪氣，止虛汗頭風，女子陰寒腫病。一名女蘿。生山谷。</p>
<h3>78. 衛矛</h3>
<p>味苦寒。主女子崩中下血，腹滿汗出，除邪，殺鬼毒蠱注。一名鬼箭。生山谷。</p>
<h3>79. 合歡</h3>
<p>味甘平。主安五藏，利心志。令人歡樂無憂。久服輕身，明目，得所欲。生山谷。</p>
<h3>80. 白馬莖</h3>
<p>味鹹平。主傷中，脈絕陰不起，強志益氣，長肌肉，肥健生子。眼主驚癇，腹滿瘧疾；
當殺用之。懸蹄主驚邪瘈瘲，乳難，辟惡氣，鬼毒蠱注不祥。生平澤。</p>
<h3>81. 鹿茸</h3>
<p>味甘溫。主漏下惡血，寒熱驚癇，益氣強志，生齒不老。角主惡創癰腫，逐邪惡氣，
留血在陰中。</p>
<h3>82. 牛角鰓</h3>
<p>下閉血瘀血瘀痛，女人帶下。血髓補中，填骨髓。久服增年。膽可丸藥。</p>
<h3>83. 羖羊角</h3>
<p>味鹹溫。主青盲明目，殺疥蟲，止寒洩，辟惡鬼虎狼，止驚悸。久服安心，益氣輕身。
生川谷。</p>
<h3>84. 狗陰莖</h3>
<p>味鹹平。主傷中陰痿不起，令強熱大生子。除女子帶下，十二疾。膽主明目。
一名狗精。</p>
<h3>85. 羖羊角</h3>
<p>味鹹寒。主明目，益氣起陰，去惡血注下，辟蠱毒惡鬼不祥，安心氣，常不厭寐。
生川谷。</p>
<h3>86. 犀角</h3>
<p>味苦寒。主百毒蠱注，邪鬼障氣，殺鉤吻鴆羽蛇毒，除迷惑不厭寐。久服輕身。
生山谷。</p>
<h3>87. 燕屎</h3>
<p>味辛平。主蠱毒鬼注，逐不祥邪氣，破五癃，利小便。生平谷。</p>
<h3>88. 天鼠屎</h3>
<p>味辛寒。主面癰腫，皮膚洗洗時痛，腸中血氣。破寒熱積聚，除驚悸。一名鼠沄，
一名石肝。生山谷。</p>
<h3>89. 蝟皮</h3>
<p>味苦平。主五痔，陰蝕下血，赤白五色，血汗不止，陰腫痛引腰背。酒煮殺之。
生川谷。</p>
<h3>90. 露蜂房</h3>
<p>味苦平。主驚癇瘈瘲，寒熱邪氣，癲疾鬼精，蠱毒腸痔。火熬之良。一名蜂腸。
生山谷。</p>
<h3>91. 鼈甲</h3>
<p>味鹹平。主心腹癥瘕，堅積寒熱，去痞息肉，陰蝕痔惡肉。生池澤。</p>
<h3>92. 蟹</h3>
<p>味鹹寒。主胸中邪氣熱結痛，喎僻面腫。敗漆燒之致鼠。生池澤。</p>
<h3>93. 柞蟬</h3>
<p>味鹹寒。主小兒驚癇夜啼，癲病寒熱。生楊柳上。</p>
<h3>94. 蠐螬</h3>
<p>味鹹微溫。主惡血血瘀，痺氣破折，血在脅下，堅滿痛，月閉，目中淫膚，青翳白膜。
一名蟦蠐。生平澤。</p>
<h3>95. 烏賊魚骨</h3>
<p>味鹹微溫。主女子漏下赤白，經汁血閉，陰蝕腫痛，寒熱癥瘕，無子。生池澤。</p>
<h3>96. 白殭蠶</h3>
<p>味鹹。主小兒驚癇夜啼，去三蟲，滅黑皯，令人面色好，男子陰瘍病。生平澤。</p>
<h3>97. 鮀魚甲</h3>
<p>味辛微溫。主心腹癥瘕伏堅，積聚寒熱，女子崩中下血五色，小腹陰中相引痛，
創疥死肌。生池澤。</p>
<h3>98. 樗雞</h3>
<p>味苦平。主心腹邪氣，陰痿，益精，強志，生子，好色，補中，輕身。</p>
<h3>99. 蛞蝓</h3>
<p>味鹹寒。主賊風喎僻，軼筋及脫肛，驚癇攣縮。一名陵蠡。生池澤。</p>
<h3>100. 石龍子</h3>
<p>味鹹寒。主五癃邪結氣，破石淋下血，利小便水道。一名蜥易。生川谷。</p>
<h3>101. 木䖟</h3>
<p>味苦平。主目赤痛，眥傷瓷B出，瘀血血閉，寒熱酸𢠹，無子。一名魂常。生川澤。</p>
<h3>102. 蜚䖟</h3>
<p>味苦微寒。主逐瘀血破下，血積堅痞，癥瘕寒熱。通利血脈及九竅。生川谷。</p>
<h3>103. 蜚廉</h3>
<p>味鹹寒。主血瘀，癥堅寒熱，破積聚，喉咽痺，內寒無子。生川澤。</p>
<h3>104. 蟅蟲</h3>
<p>味鹹寒。主心腹寒熱洗洗，血積癥瘕，破堅下血閉，生子大良。一名地鼈。生川澤。</p>
<h3>105. 伏翼</h3>
<p>味鹹平。主目瞑明目，夜視有精光。久服令人熹樂，媚好無憂。蝙蝠。生川谷。</p>
<h3>106. 梅實</h3>
<p>味酸平。主下氣除熱，煩滿安心，肢體痛，偏活B不仁，死肌，去青黑土惡疾。生川谷。</p>
<h3>107. 大豆黃卷</h3>
<p>味甘平。主濕痺筋攣膝痛。生大豆塗癰腫。煮汁飲殺鬼毒止痛。赤小豆主下水，
排癰腫膿血。生平澤。</p>
<h3>108. 粟米</h3>
<p>味鹹微寒。主養腎氣，去胃脾中熱，益氣。陳者味苦，主胃熱消渴，利小便。</p>
<h3>109. 黍米</h3>
<p>味甘溫。主益氣補中，多熱令人煩。</p>
<h3>110. 蓼實</h3>
<p>味辛溫。主明目溫中，耐風寒，下水氣，面目浮腫，癰瘍。馬蓼去腸中蛭蟲，輕身。
生川澤。</p>
<h3>111. 蔥實</h3>
<p>味辛溫。主明目，補中不足。其莖可作湯，主傷寒寒熱，出汗中風，面目腫。
薤味辛溫，主金創創敗，輕身不肌，耐老。生平澤。</p>
<h3>112. 水蘇</h3>
<p>味辛微溫。主下氣，辟口臭，去毒辟惡。久服通神明，輕身耐老。生池澤。</p>
<h2>卷三下經</h2>
<h3>1. 石灰</h3>
<p>味辛溫。主疽瘍疥搔，熱氣惡創，癩疾死肌。墮眉，殺痔蟲，去黑子息肉。一名惡灰。
生山谷。</p>
<h3>2. 礜石</h3>
<p>味辛大熱。主塞熱鼠瘻，蝕創死肌，風痺，腹中堅。一名青分石，一名立制石，
一名固羊石。出山谷。</p>
<h3>3. 鉛丹</h3>
<p>味辛微寒。主上逆胃反，驚癇癲疾，除熱下氣。鍊化還成九光，久服通神明。生平澤。</p>
<h3>4. 粉錫</h3>
<p>味辛寒。主伏屍毒螫，殺三蟲。一名解錫。錫鏡鼻主女子血閉癥瘕，伏腸絕孕。
生山谷。</p>
<h3>5. 代赭石</h3>
<p>味苦寒。主鬼注賊風，蠱毒，殺精物，惡鬼，腹中毒邪氣，女子赤沃漏下。一名須丸。
生山谷。</p>
<h3>6. 戎鹽</h3>
<p>主明目目痛，益氣，堅肌骨，去毒蠱。大鹽令人吐，鹵鹽味苦寒，主大熱消渴，
狂煩除邪，及下蠱毒，柔肌膚。生池澤。</p>
<h3>7. 白堊</h3>
<p>味苦溫。主女子寒熱，癥瘕月閉，積聚。生山谷。</p>
<h3>8. 冬灰</h3>
<p>味辛微溫。主黑子，去肬息肉，疽蝕疥搔。一名藜灰。生川澤。</p>
<h3>9. 青琅玕</h3>
<p>味辛平。主身痒，火創癰傷，疥搔死肌。一名石珠。生平澤。</p>
<h3>10. 附子</h3>
<p>味辛溫。主風寒欬逆，邪氣溫中，金創，破癥堅積聚，血瘕，寒濕踒躄，拘攣膝痛，
不能行步。生山谷。</p>
<h3>11. 烏頭</h3>
<p>味辛溫。主中風惡風，洗洗出汗，除寒濕痺，欬逆上氣，破積聚寒熱。
其汁煎之名射罔，殺禽獸。一名奚毒，一名即子，一名烏喙。生山谷。</p>
<h3>12. 天雄</h3>
<p>味辛溫。主大風寒濕痺，歷節痛，拘攣緩急，破積聚邪氣，金創，強筋骨，輕身健行。
一名白幕。生山谷。</p>
<h3>13. 半夏</h3>
<p>味辛平。主傷寒寒熱，心下堅，下氣，喉咽腫痛，頭眩，胸張欬逆，腸鳴，止汗。
一名地文，一名水玉。生川谷。</p>
<h3>14. 虎掌</h3>
<p>味苦溫。主心痛，寒熱結氣，積聚伏梁，傷筋痿拘緩，利水道。生山谷。</p>
<h3>15. 鳶尾</h3>
<p>味苦平。主蠱毒邪氣，鬼注諸毒，破癥瘕積聚，去水，下三蟲。生山谷。</p>
<h3>16. 大黃</h3>
<p>味苦寒。主下瘀血，血閉寒熱，破癥瘕積聚，留飲宿食。蕩滌腸胃，推陳致新，
通利水翩B，調中化食，安和五藏。生山谷。</p>
<h3>17. 亭歷</h3>
<p>味辛寒。主癥瘕積聚，結氣飲食，寒熱破堅。一名大室，一名大適。生平澤及田野。</p>
<h3>18. 桔梗</h3>
<p>味辛微溫。主胸脅痛如刀刺，腹滿腸鳴幽幽，驚恐悸氣。生山谷。</p>
<h3>19. 莨蕩子</h3>
<p>味苦寒。主齒痛出蟲，肉痺拘急，使人健行見鬼，多食令人狂走。久服輕身走及奔馬，
強志益力通神。一名橫唐。生川谷。</p>
<h3>20.草蒿</h3>
<p>味苦寒。主疥搔痂痒惡創，殺蝨，留熱在骨節間，明目。一名青蒿，一名方潰。
生川澤。</p>
<h3>21. 旋覆花</h3>
<p>味鹹溫。主結氣脅下滿，驚悸，除水，去五藏間寒熱，補中下氣。一名金沸草，
一名盛椹。生川谷。</p>
<h3>22. 藜蘆</h3>
<p>味辛寒。主蠱毒欬逆，洩利腸澼，頭瘍疥搔惡創，殺諸蠱毒，去死肌。一名蔥迭bo
生山谷。</p>
<h3>23. 鉤吻</h3>
<p>味辛溫。主金創乳痓，中惡風，欬逆上氣，水腫，殺鬼注蠱毒。一名野葛。生山谷。</p>
<h3>24. 射干</h3>
<p>味苦平。主欬逆上氣，喉痺咽痛，不得消息。散急氣，腹中邪逆，食飲大熱。
一名烏扇，一名烏蒲。生川谷。</p>
<h3>25. 蛇合</h3>
<p>味苦微寒。主驚癇寒熱邪氣，除熱，金創，疽痔鼠瘻，惡創頭瘍。一名蛇銜。生山谷。</p>
<h3>26. 恆山</h3>
<p>味苦寒。主傷寒寒熱，熱發溫瘧，鬼毒，胸中痰結，吐逆。一名互草。生川谷。</p>
<h3>27. 蜀漆</h3>
<p>味辛平。主瘧及欬逆寒熱，腹中癥堅，痞結積聚，邪氣，蠱毒鬼注。生川谷。</p>
<h3>28. 甘遂</h3>
<p>味苦寒。主大腹疝瘕腹滿，面目浮腫，留飲宿食，破癥堅積聚，利水翩B道。一名主田。
生川谷。</p>
<h3>29. 白斂</h3>
<p>味苦平。主癰腫疽創，散結氣，止痛除熱，目中赤，小兒驚癇溫瘧，女子陰中腫痛。
一名免核，一名白草。生山谷。</p>
<h3>30. 青葙子</h3>
<p>味苦微寒。主邪氣，皮膚中熱，風搔身痒，殺三蟲。子名草決明，療唇口青。
一名草蒿，一名萋蒿。生平谷。</p>
<h3>31. 雚菌</h3>
<p>味鹹平。主心痛溫中，去長蟲白㿅，蟯蟲蛇螫毒，癥瘕諸蟲。一名雚蘆。生池澤。</p>
<h3>32. 白芨</h3>
<p>味苦平。主癰腫，惡創敗疽，傷陰死肌，胃中邪氣，賦風鬼擊，痱緩不收。一名甘草，
一名連及草。生川谷。</p>
<h3>33. 大戟</h3>
<p>味苦寒。主蠱毒，十二水，腫滿急痛，積聚中風，皮膚疼痛，吐逆。一名邛鉅。</p>
<h3>34. 澤漆</h3>
<p>味苦微寒。主皮膚熱，大腹水氣，四肢面目浮腫，丈大陰氣不足。生川澤。</p>
<h3>35. 茵芋</h3>
<p>味苦溫。主五藏邪氣，心腹寒熱，羸瘦如瘧狀，發作有時，諸關節風濕痺痛。生川谷。</p>
<h3>36. 貫眾</h3>
<p>味苦微寒。主腹中邪熱氣，諸毒，殺三蟲。一名貫節，一名貫渠，一名百頭，
一名虎卷力，一名扁符。生山谷。</p>
<h3>37. 蕘花</h3>
<p>味苦平寒。主傷寒溫瘧，下十二水，破積聚大堅癥瘕，蕩滌腸胃中留癖飲食，
寒熱邪氣，利水道。生川谷。</p>
<h3>38. 牙子</h3>
<p>味苦寒。主邪氣熱氣，疥搔惡瘍創痔，去白蟲。一名狼牙。生山谷。</p>
<h3>39. 羊躑躅</h3>
<p>味辛溫。主賊風在皮膚中淫淫痛，溫瘧惡毒諸痺。生川谷。</p>
<h3>40. 商陸</h3>
<p>味辛平。主水張，疝瘕痺熨，除癰腫，殺鬼精物。一名䓪根，一名夜呼。生川谷。</p>
<h3>41. 羊蹄</h3>
<p>味苦寒。主頭禿疥搔，除熱，女子陰蝕。一名東方宿，一名連蟲陸，一名鬼目。
生川澤。</p>
<h3>42. 萹蓄</h3>
<p>味辛平。主浸淫，疥搔疽痔，殺三蟲。生山谷。</p>
<h3>43. 狼毒</h3>
<p>味辛平。主欬逆上氣，破積聚，飲食寒熱，水氣惡創，鼠瘻疽蝕，鬼精蠱毒，
殺飛鳥走獸。一名續毒。生山谷。</p>
<h3>44.白頭翁</h3>
<p>味苦溫。主溫瘧，狂易寒熱，癥瘕積聚，癭氣，逐血止痛，療金瘡。一名野丈人，
一名胡王使者。生川谷。</p>
<h3>45. 鬼臼</h3>
<p>味辛溫。主殺蠱毒，鬼注精物，辟惡氣不祥，逐邪，解百毒。一名爵犀，
一名馬目毒公，一名九臼。生山谷。</p>
<h3>46. 羊桃</h3>
<p>味苦寒。主熛熱，身暴赤色，風水積聚，惡瘍，除小兒熱。一名鬼桃，一名羊腸。
生川谷。</p>
<h3>47. 女青</h3>
<p>味辛平。主蠱毒，逐邪惡氣，殺鬼溫瘧，辟不祥。一名雀瓢。</p>
<h3>48. 連翹</h3>
<p>味苦平。主寒熱鼠瘻，瘰癧癰腫，惡創癭瘤，結熱蠱毒。一名異翹，一名蘭華，
一名軹，一名三廉。生山谷。</p>
<h3>49. 閭茹</h3>
<p>味辛寒。主蝕惡肉，敗創死肌，殺疥蟲，排膿惡血，除大風熱氣，善忘不樂。生川谷。</p>
<h3>50. 烏韭</h3>
<p>味甘寒。主皮膚往來寒熱，利小腸膀胱氣。生山谷石上。</p>
<h3>51. 鹿藿</h3>
<p>味苦平。主蠱毒，女子腰腹痛不樂，腸癰瘰癧瘍氣。生山谷。</p>
<h3>52. 蚤休</h3>
<p>味苦微寒。主驚癇，搖頭弄舌，熱氣在腹中，癲疾癰創，陰蝕，下三蟲，去蛇毒。
一名蚩休。生川谷。</p>
<h3>53. 石長生</h3>
<p>味鹹微寒。主寒熱，惡創火熱，辟鬼氣不祥。一名丹草。生山谷。</p>
<h3>54. 陸英</h3>
<p>味苦寒。主骨間諸痺，四肢拘攣疼酸，膝寒痛，陰痿，短氣不足，腳腫。生川谷。</p>
<h3>55. 藎草</h3>
<p>味苦平。主久欬，上氣喘逆，久寒驚悸，痂疥，白禿瘍氣，殺皮膚小蟲。生川谷。</p>
<h3>56. 牛扁</h3>
<p>味苦微寒。主身皮創熱氣，可作浴湯，殺牛蝨小蟲，又療牛病。生川谷。</p>
<h3>57. 夏枯草</h3>
<p>味苦辛。寒熱，瘰癧鼠瘻，頭創破癥，散癭結氣，腳腫濕痺，輕身。一名夕句，
一名乃東。生川谷。</p>
<h3>58. 芫華</h3>
<p>味辛溫。主欬逆上氣，喉鳴喘，咽腫短氣，蠱毒鬼瘧，疝瘕癰腫，殺蟲魚。一名去水。
生川谷。</p>
<h3>59. 巴豆</h3>
<p>味辛溫。主傷寒，溫瘧寒熱，破癥瘕，結聚堅積，留飲淡癖，大腹水張，
蕩練五藏六府，開通閉塞，利水翩B道，去惡肉，除鬼毒，蠱注邪物，殺蟲魚。
一名巴叔。生川谷。</p>
<h3>60. 蜀菽</h3>
<p>味辛溫。主邪氣欬逆，溫中，逐骨節皮膚死肌，寒濕痺痛，下氣。久服之頭不白，
輕身增年。生川谷。</p>
<h3>61. 皂莢</h3>
<p>味辛鹹溫。主風痺死肌邪氣，風頭瓷B出，利九竅，殺精物。生川谷。</p>
<h3>62. 柳花</h3>
<p>味苦寒。主風水黃疸，面熱黑。一名柳絮。葉主馬疥痂創。實主潰癰，逐膿血。
子汁療渴。生川澤。</p>
<h3>63. 楝實</h3>
<p>味苦寒。主溫疾傷寒，大熱煩狂，殺三蟲疥瘍，利小便水道。生山谷。</p>
<h3>64. 郁李仁</h3>
<p>味酸平。主大腹水腫，面目四肢浮腫，利小便水道。根主齒齗腫，齲齒堅齒。
一名爵李。生川谷。</p>
<h3>65. 莽草</h3>
<p>味辛溫。主風頭癰腫，乳癰疝瘕，除結氣疥搔，殺蟲魚。生山谷。</p>
<h3>66. 雷丸</h3>
<p>味苦寒。主殺三蟲，逐毒氣，胃中熱。利丈夫，不利女子，作摩膏除小兒百病。
生山谷。</p>
<h3>67. 桐葉</h3>
<p>味苦寒。主惡蝕創著陰。皮主五痔，殺三蟲。華主傅豬創，飼豬肥大三倍。生山谷。</p>
<h3>68. 梓白皮</h3>
<p>味苦寒。主熱去三蟲。葉擣傅豬創，飼豬肥大三倍。生山谷。</p>
<h3>69. 石南辛</h3>
<p>味辛苦。主養腎氣，內傷陰衰，利筋骨皮毛。實殺蠱毒，破積聚，逐風痺。一名鬼目。
生山谷。</p>
<h3>70. 黃環</h3>
<p>味苦平。主蠱毒，鬼注鬼魅，邪氣在藏中，除欬逆寒熱。一名凌泉，一名大就。
生山谷。</p>
<h3>71. 溲疏</h3>
<p>味辛寒。主身皮膚中熱，除邪氣，止遺溺，可作浴湯。生山谷及田野故邱虛地。</p>
<h3>72. 鼠李</h3>
<p>主寒熱，瘰癧創。生田野。</p>
<h3>73. 藥實根</h3>
<p>味辛溫。主邪氣，諸痺疼酸，續絕傷，補骨髓。一名連木。生山谷。</p>
<h3>74. 欒華</h3>
<p>味苦寒。主目痛瓷B出，傷眥，消目腫。生川谷。</p>
<h3>75. 蔓椒</h3>
<p>味苦。主風寒濕痺，歷節疼，除四肢厥氣膝痛。一名豕椒。生川谷及邱冢間。</p>
<h3>76. 豚卵</h3>
<p>味苦溫。主驚癇癲疾，鬼注蠱毒，除寒熱，賁豚五癃，邪氣攣縮，一名豚顛。
懸蹄主五痔，伏熱在腸，腸癰內蝕。</p>
<h3>77. 麋脂</h3>
<p>味辛溫。主癰腫，惡創死肌，風寒濕痺，四肢拘緩不收，風頭腫氣，通湊理。
一名官脂。生山谷。</p>
<h3>78. 鼺鼠</h3>
<p>主墮胎，令人產易。生平谷。</p>
<h3>79. 六畜毛蹄甲</h3>
<p>味鹹平。主鬼注蠱毒，寒熱驚癇，癲痓狂走。駱駝毛尤良。</p>
<h3>80. 蝦蟆</h3>
<p>味辛寒。主邪氣，破癥堅血，癰腫陰創。服之不患熱病。生池澤。</p>
<h3>81. 馬刀</h3>
<p>味辛微寒。主漏下，赤白寒熱，破石淋，殺禽獸賊鼠。生池澤。</p>
<h3>82. 蛇蛻</h3>
<p>味鹹平。主小兒百二十種驚癇瘈瘲，癲疾寒熱，腸痔，蟲毒，蛇癇。火熬之良。
一名龍子衣，一名蛇符，一名龍子單衣，一名弓皮。生川谷及田野。</p>
<h3>83. 蚯蚓</h3>
<p>味鹹寒。主蛇瘕，去三蟲，伏屍鬼注蠱毒，殺長蟲，仍自化作水。生平土。</p>
<h3>84. 蠮螉</h3>
<p>味辛平。主久聾，欬逆毒氣，出刺出汗。生山谷。</p>
<h3>85. 蜈蚣</h3>
<p>味辛溫。主鬼注蠱毒，噉諸蛇蟲魚毒，殺鬼物老精溫瘧，去三蟲。生川谷。</p>
<h3>86. 水蛭</h3>
<p>味鹹平。主逐惡血瘀血月閉，破血瘕積聚，無子，利水道。生池澤。</p>
<h3>87. 班苗</h3>
<p>味辛寒。主寒熱，鬼注蠱毒，鼠瘻惡創，疽蝕死肌，破石癃。一名龍尾。生川谷。</p>
<h3>88. 貝子</h3>
<p>味鹹平。主目翳，鬼注蠱毒，腹痛下血，五癃，利水道。燒用之良。生池澤。</p>
<h3>89. 石蠶</h3>
<p>味鹹寒。主五癃，破石淋，墮胎，內解結氣，利水道，除熱。一名沙蝨。生池澤。</p>
<h3>90. 雀甕</h3>
<p>味甘平。主小兒驚癇，寒熱結氣，蠱毒鬼注。一名躁舍。</p>
<h3>91. 蜣蜋</h3>
<p>味鹹寒。主小兒驚癇瘈瘲，腹張寒熱，大人癲疾狂易。火熬之良。一名蛣蜣。生池澤。</p>
<h3>92. 螻蛄</h3>
<p>味鹹寒。主產難，出肉中刺，潰癰腫，下哽噎，解毒除惡創。一名蟪蛄，一名天螻，
一名𧏚。夜出者良。生平澤。</p>
<h3>93. 馬陸</h3>
<p>味辛溫。主腹中大堅癥，破積聚息肉，惡創白禿。一名百足。生川谷。</p>
<h3>94. 地膽</h3>
<p>味辛寒。主鬼注，寒熱鼠瘻，惡創死肌，破癥瘕，墮胎。一名蚖青。生川谷。</p>
<h3>95. 鼠婦</h3>
<p>味酸溫。主氣癃不得小便，婦人月閉血癥，癇痓寒熱，利水道。一名負蟠，一名𧉅威。
生平谷。</p>
<h3>96. 熒火</h3>
<p>味辛微溫。主明目，小兒火創，傷熱氣，蠱毒鬼注，通神。一名夜光。生池澤。</p>
<h3>97. 衣魚</h3>
<p>味鹹溫無毒。主婦人疝瘕，小便不利，小兒中風，項強背起摩之。一名白魚。生平澤。</p>
<h3>98. 桃核仁</h3>
<p>味苦平。主瘀血，血閉瘕邪，殺小蟲。桃花殺注惡鬼，令人好顏色。桃鳧微溫，
主殺百鬼精物。桃毛主下血瘕，寒熱積寒，無子。桃蠹殺鬼邪惡不祥。生川谷。</p>
<h3>99. 杏核仁</h3>
<p>味甘溫。主欬逆上氣，雷鳴喉痺，下氣產乳，金創寒心，賁豚。生川谷。</p>
<h3>100. 腐婢</h3>
<p>味辛平。主痎瘧，寒熱邪氣，洩利陰不起，病酒頭痛。生漢中。</p>
<h3>101. 苦瓠</h3>
<p>味苦寒。主大水，面目四肢浮腫，下水，令人吐。生川澤。</p>
<h3>102 .水斳</h3>
<p>味甘草。主女子赤沃，止血養精，保血脈，益氣，令人健嗜食。一名水英。生池澤。</p>
<h3>103. 彼子</h3>
<p>味甘溫。主腹中邪氣，去三蟲蛇螫，蠱毒鬼注，伏屍。生山谷。</p>
