<header data-type="book">
<h1>濟生集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王春亭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1896">公元1896年</data></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>昔人云：欲救人而學醫則可，欲謀利而學醫則不可。此仁人之言，最為深切。誠能玩味斯言而推廣之，譬如我之父母，妻子有疾，望醫之相救者，何如。易地而觀則利心自淡，利心淡則良心自現，而人之痛癢相關矣。故聖訓以進德，修業二者不可偏廢也。若苟無良心，則終日矜名計利，奚暇精研此中義理哉。第事之關緊最重者，莫如醫，而理之蘊奧難明者，亦莫如醫。是以軒岐之學，自《靈》、《素》、盧扁，以後如仲景，河間，東垣，丹溪，以及近代諸名家，其著述註疏非不詳盡。然非造詣深遂，心領神會者，不能運用得當，則淺學膚見者，又烏足以語醫哉。至若理不難明，而尤關生死急救者，則莫過於婦科，胎產，兒幼諸症。胎產之變，如墜胎、血崩、血暈，橫逆為患，兒科之變，如悶臍、噤口、鎖肚、臍風等症，生死俱在呼吸，倘僻處山鄉，或貧窮無力不及延醫，每遭慘變，深可慨也。且其致病之由，皆緣平時不知調理，臨時茫無把握，遂至急切貽誤，若產症之變，多因脈未離經，努力太早，轉致逼成橫倒。而妄聽穩婆恐嚇，將兒任其生採活剝，誤遭凶殘之手，以致母子不保，慘不忍言。更有輕視小產，失於調理，及至成病，尚不知救，因此病人膏肓，而傷生者多矣。若不明陳利害，流毒安有窮哉，余不揣鄙陋，悉心參觀諸先賢箋述論治經、胎、產、幼諸說，擇其至詳至妥歷驗方法，輯成六卷，題曰《濟生集》，呈政方家，復蒙指正。咸謂是編，不特窮僻無醫之鄉，得此簡明方法，便於對症用藥，即仕宦之家，亦足以暗示子女節欲廣嗣之確理，則是書誠有室家者，思患預防之寶鑑者也。如能家置一編，平時互相講解，庶先時胸有成竹，即臨時易於檢閱，不致被惑受害，其保全豈有限量。蒙諸君子助資剞劂，以公同好，還望樂善君子，轉相勸勉，刷印施送，使天下後世產母，嬰兒同登壽域，其功德更無量矣。是為序。</p>
<p><u>光緒二十二年歲在丙申元月王上達春亭氏謹序</u></p>

<h1>序</h1>
<p>天地之大德曰生，吾人體天地之心以為心，而知大德在生，則操救生之術，而傳救生之方，此先輩《大生要旨》及《達生編》等書，所由刻以行世也。令春亭王君好生是念，乃復悉心搜採，加意鑑別，收集產科、兒科歷試歷驗諸良方，捐資付手民鏤板，以廣集傳，而問序於余，余自幼簡陋，於歧黃家言未得一二，何足以序是編。第觀是編先之以論辨，總之以方藥分為六卷，都為一集。朗若列眉，炳如燃炬。以視先輩所己刻諸書，尤為易於檢閱，而無方不備。然則是書成。凡夫通都大邑，以逮窮鄉僻壤，家置一篇，以備覽觀，非特有益於平時，即至猝遘危症，不及延醫，獲是方而治之，吾知奏效如神，其即以是編為救生之寶筏焉。可王君宏此善願，是能以天地好生之心為心，而尤余所樂與有成也，故不揣譾陋而為之序。</p>
<p><u>光緒二十二年乙未歲小春月甬上郭謙益序於孝廉堂之東舍</u></p>

<h1>發凡</h1>
<p>是編髮明節欲，廣嗣、保胎、保產之理，廣搜博採，均屬先哲名言，有可考據，反復辨論，惟願同登仁壽。</p>
<p>婦科諸症與方脈無異，惟經、帶、崩漏、胎產不同，茲採數證精義，折衷群書，萃而集之，其間取要刪繁，惟期簡易明顯，不事虛文，俾閱者瞭然心目。</p>
<p>證候傳變，難以言盡，而其要不外乎陰陽，分言之，即表、里、寒、熱、虛、實。良醫之救人不過能辨乎此，庸醫之殺人，亦不過錯認乎此。即如發熱等證，均有外感內傷之分，苟以虛作實，不特藥難奏效，而且禍同反掌。是集先論病原，次載方藥，似無陰陽混治之弊。以備鄉僻不及延醫者，得可對症施治，以救危急，取其簡便。</p>
<p>嬰兒氣血未充，形神怯弱，臟腑柔脆，稍不知謹，最易受病。即吐瀉、感冒治不得法，皆足變生不測。前賢稱為難醫，不誠然哉。茲將保護諸法，逐一備載，以資採擇。</p>
<p>急慢驚風，乃兒科最險之候，若虛實不分，混治輒左。今分急驚為痰火閉證、慢驚為水侮土證，暢發原委，明其用藥層次，不致臨證遊移，漫無把握。</p>
<p>痘㾦亦嬰兒大證，自發熱見點，起脹、灌漿、結痂，全藉氣血充足，方能引毒外出。奈時醫動用清火解毒，反使毒邪阻遏而不得出，變為陷塌而不可救。王洪緒曰：解寒而毒自化，清火而毒愈凝。莊在田曰：補中即所以托毒，灌根即所以養苗。此壽民濟世之確論。今益以天時稟賦人事，尤覺慎益求慎，惟㾦證亦變幻莫測，必須善為護持。</p>
<p>藥中有用人參者，緣古方如是，仍循其舊。緩證可以黨參代，急證必用高麗參、有力家能用人參更妙。</p>
<p>湯、丸、方藥，如首卷已載，其它卷不復再列。惟病之淺深不一，從中加減、活法在人，用者審之。</p>

<h1>卷一</h1>

<h2>保胎論</h2>
<p>蓄德錄曰：世人無不急於生子，要知生子之道，精氣交媾，熔液成胎。故少欲之人恆多子，且易養氣，固而精凝也。多欲之人常艱子，且易夭，氣泄而精薄也。譬之釀酒，然鬥米下鬥水，則醲釅且耐久、其質全也。鬥米倍下水則淡。三倍四倍，酒非酒而水非水矣。其真元少也。倘若淫縱過度，精氣妄泄，安能成胎。即或僥倖生子，又安能必其有成。所以年少生子者，每多羸弱，欲勤而精薄也。晚年生子者，反見強盛，欲少而精全也。凡勤於欲者，孕後不節，盜泄母陰、耗損胎氣，所謂恣縱敗壞，殆以是歟。然父主陽施，猶天雨露，母主陰受，若地資生。胎成之後，陽精之凝猶仗陰氣護養，故胎嬰在腹，與母同呼吸共安危，而母之飢飽，勞逸，喜怒憂驚，莫不相為休慼。古有胎教，但願妊娠之母，遵而行之則善矣。</p>

<h2>廣嗣論</h2>
<p>夫陰陽交媾於經盡之後，本無有不成胎者。惟因男氣不足，女血虛寒，故二氣不交，徒施不聚。世之無子者，曾不問自己臟腑之虧，但以澀精壯陽之劑，誤為生子良方，即或僥倖得孕，無非熱藥偶成，因貽毒於子女，故雖得而不實也。</p>
<p>上工著論立方，男以補腎為要，女以調經為先，而又參以補血行氣之說，究其盈虧，審而治之，然後一舉可孕。天下之男無不父，女無不母矣。不然者，則因女人經候不調，或有崩漏、帶下等症，必難受孕。男子不育，必有陽脫痿弱，精冷清淡，或陽萎不射等症。故女以調經為先，男以補腎為主也。服藥之後，又宜清心寡慾，使我之本原先壯，然後奇偶施之，而不孕者，未之有也。</p>
<p>眉批：昔有人艱於子息，醫教以節欲靜攝，勿勞心神、心靜則精不搖，神完則氣不走，每妻經淨，乃一交媾，否則各榻。如是半年，妻果有娠。娠後即異榻，足月之後，果生男子。後來連生數子，並無夭折之患。奈今人求子，廣蓄婢妾，仍無子嗣，大都不知節欲故也。況文士用心，更當節欲，蓋勞心而不節欲，則火易動，火動則腎氣耗散，水不能制火而火愈熾，則肺金受傷，金又不能生水，相剋而傳變為癆瘵，必至夭亡。大凡終身疾病，恆從初婚時起，年少興高力強，恣情無度，暗犯陰陽禁忌，男女多成癆怯，以致無藥救治。</p>
<p>樂圃朱善曰：閨房之樂，本非邪淫，妻妾之歡，雖無傷礙，然而樂不可絕，欲不可縱，欲縱成患，樂絕生悲。況人之精力有限、淫欲無窮，以有限之精力，資無窮之淫欲，無怪乎年方少而壽遽夭，人未老而力先衰也。人之一身，上承父母、下撫妻子，大之有功名富貴之期，小之有產業傢俬之受，關係非淺，乃皆付之不問，而貪片刻之歡，樂不顧壽命之短長，則何也。且人生天地間，聖賢豪傑，惟其所為，然須有十分精神，方做得十分事業，苟不知節欲，以保守精神，雖有絕大志量，神昏力倦，未有不半途而廢者。王峰曰：木有根則榮，根絕則枯，魚有水則活，水涸則死，燈有油則明，油盡則滅，人有真精保之則壽，戕之則夭。惜命之士，守之咸之。蓋人身乃血肉之軀，非銅澆鐵鑄也，其所以能長有者，曰精曰氣曰血耳。血為陰，氣為陽，陰陽之凝結為精，精舍乎骨髓，上通髓海，下貫尾間，人身之至寶也。故天一之水不竭，則耳目聰明，肢體強健。如水之潤物，而百物皆毓，又如油之蔞燈，油不絕則燈不滅。故先儒以心腎相交為既濟。心為君火也，火性炎上，常乘血氣之未定，熾為淫思，君火一動，則肝腎相火皆動，腎氣遭鑠，泄於外而竭於內，雖具人形，旋登鬼錄。可畏否乎？</p>

<h2>男女辨</h2>
<p>褚澄氏曰：男女交合，陰血先至，陽精後沖而成男，反則成女，此一說也。</p>
<p>東垣云：經水才斷一二日，血海始靜，交合成男。四五日後，血脈已旺，交合成女，此又一說也。顧或有經始斷，而交合生女，經久斷而交合生男者。亦有三五日交合無孕，八九日交合有孕者，獨何與。</p>
<p>《廣嗣要略》云：實陽能入虛陰，實陰不能受虛陽也。又謂：陽微不能射陰，弱陰不能攝陽，信斯言也。世有尪羸之夫，怯弱之婦，屢屢受胎，雖欲止而不能止者，亦有壯年精力過人，乃艱於嗣育者，獨何歟。</p>
<p>丹溪曰：婦人以經水為主，然富貴之家侍妾既多，其中豈無月水當期者乎，有已經前夫頻頻生育，取之以圖其易者，顧亦不能得胎，更遣與他人，轉盻亦生男矣。豈不能受孕於此，而能受孕於彼乎。</p>
<p>本立曰：父母之生子，如天地之生物。易曰：坤道其順乎，承天而時行，夫知地之生物不過順承乎。天則知母之生子，亦不過順承乎，父而已知母之順承乎。父則種子者，當以男子為主。男子為主而交媾之時，又以百脈齊到為善，交媾能而百脈齊到，雖老弱易泄，亦可以成胎。若百脈參差，雖少壯康寧難泄，亦不能成胎。若男女之辨，不以精血先後為拘，不以經盡幾日為拘，不以夜半前後交媾為拘，只以男女精血，各由百脈齊到者，別勝負耳，是故精之百脈齊到，有以勝乎血，則成男矣。血之百脈齊到，有以勝乎精，則成女矣。至有產而不育者，有育而不能壽者，有壽而黃耇無疆者，則亦以精之堅脆分為修短耳。</p>

<h2>隨孕隨產論</h2>
<p>景岳曰：小產有遠近，其在二三月者，謂之近。五六月者，謂之遠。新受而產者，勢輕。懷久而產者，勢重。此皆人之所知也。至若尤有近者，則隨孕隨產矣。蓋胎元始肇，一月如露珠，二月如桃花，三四月而後，血脈形體具，五六月而後，筋骨毛髮生。其初發不過一滴之玄津耳，此其囊龠，正無依根荄，尚無地鞏之勢，決之則流。故凡受胎之後，極宜節欲以防泛溢。而少年縱情罔知忌憚，或恃強而不敗，或既敗而復戰，當此時也，主方欲靜，客不肯休，狂徒敲門撞戶，顧彼水性熱腸，有不啟扉而從，隨流而逝者乎斯時也。落花與粉蝶齊飛火里，其交梨並逸，合汙同流，已莫知其昨日孕，而今日產矣。朔日孕，而望日產矣。隨孕隨產本無形跡，在明產者，胎已成形小產必覺。暗產者，胎仍似水直流，何知故，凡今之狂妄家多無大產，以暗產而不覺也。娶娼妓者，多無子。以其子宮滑而慣於隨孕隨產也。此外如受胎、三五月而每有墜者，雖衰薄之婦，因臟氣偏勝而有之。然由縱欲不節，致傷母氣而墜者，為尤多也。故凡恃強縱欲者，多無子。以強弱之日相殘也。縱肆不節者，多不育。以傷損胎元之氣也，豈悉由婦人之罪哉。</p>
<p>復正曰此景岳見道之言，古人每日寡欲多男，此即其談腳也。世人每恨不孕，孰知既受而暗損之，屢受而屢損之，終身無子不亦宜乎。弟有婦人衰弱，陰陽偏勝，墜胎至於數次，而醫者竟無一策保固之，亦可衰矣。今有至聖至神保孕不墜之，三合保胎丸方，屢經效驗，望照方合服，斷不相誤。</p>
<p><u>集成三合保胎丸</u></p>
<p>此為素慣墜胎者，設也。蓋胎孕之屢墜，雖由於衝任虧，脾腎弱，若得性幽閒，內臟無火者，決不墜也。凡屢墜者，偏熱之性，暴怒之人，肝氣有餘，肝血不足，血虛生熱，火爍子宮。又或恣縱不節，其胎必漏而墜矣。而世之安胎者，無非執泥古法，以香砂芎艾為保孕良圖，不知熱藥安胎，猶抱薪救火，不惟無濟而反速之。今以古之內補丸，杜仲丸、白朮散三方合湊，名三合保胎丸。以熟地滋陰補腎，當歸養血寧心，白朮扶中氣以健脾，條芩清肝火而涼血，杜仲益腰膝而暖子宮，續斷填損傷而堅胞，系至怯者，加以人參，力不能者，不用亦可。藥雖平易功勝神丹，誠所謂鉞斧相投捷如影響，凡屢墜者，服之無不保全，實亦婦科保孕安胎之聖藥也。凡屢墜者，受娠一月，即制此丸服之。蓋墜胎必在三五七月之間，此三月切忌房事，惱怒犯之必墜。七月一過，萬無一失。</p>
<p>大淮熟地（十二兩，用砂仁一兩，老薑一兩，同地黃入砂鍋內淨水煮，俟地黃將爛，始入黃酒煮之，總以地黃靡爛為度，酒干取起。揀去砂仁、老薑。將地黃搗膏聽用）。大歸身片（十二兩，酒洗曬乾），土炒冬白朮片（十二兩，如孕婦肥白者，氣必虛，加二兩）。實條芩片（六兩酒炒，如孕婦黑瘦者，加一兩，性躁者加二兩），棉杜仲（十二兩，鹽水炒斷絲），川續肉（十二兩，酒炒）</p>
<p>上將後五味和為一處，焙燥磨細末篩過，以前地黃膏和勻，少加煉蜜，搗千餘下為丸綠豆大，每早鹽湯送三錢，晚臨臥酒送三錢，每日不可間斷。孕婦素怯者，須兩料方可，服過七月方保無虞。此方至神至聖，幸勿輕視。</p>

<h2>墜胎論</h2>
<p>丹溪論：血不足以榮養其胎，而胎墜者，猶枝枯而果落，藤萎而花墜也。其勞怒動火而墜者，猶風撼其木，人折其枝也。二論極是，然未詳細辨論，無怪妊婦之不慎戒也。夫婦人衝脈主血海，血旺始成胎，任脈主胞胎，靜養則胎安。若怒傷肝，勞傷腎致二臟失其相火，耗血動氣，未有能保孕之不漏不墜者，且墜後尚多血崩之症。其半產之多在三五七月者，除跌僕損傷外，有因內熱而虛者，為多。曰熱曰虛，當分輕重。若前次三個月而墜，則下次必如期復然，蓋先於此時受傷，故復至期，必應乘其虛也。故遇有半產者，須多服藥補其虛損，併兼服白鳳丸兩月。如下次有胎，當先於得孕兩個月後，即服三合保胎丸，並另服固胎飲十數服，以防三個月之墜。其有連墜數次，胎滑甚者，服藥更須加倍，始可保全。下次再有，囑者如衰弱及曾墜之婦，有娠必須恪遵胎教，斯火不動，則血旺陰胎。神不勞則氣血完，而胎固且生子，稟全易養，形端體正。況屢墜損血倍於正產，怒勞致墜，自取無後之憂也。</p>

<h2>小產失調枉死論</h2>
<p>凡小產與墜胎有別，五七月已成形象而產者，曰小產。二三月者，謂之墜胎。皆不可以輕視，將養宜十倍於正產矣。大產如果熟自落，小產墜胎如生採破其皮肉，斷其根蒂也。忽略成病者不少，因而致命者恆多。然此症始因斂血以成胎，繼因精血以長養，終因精血不足而萎墜。根蒂不固，虛損可知，亟應分別醫治。火者清之，虛者補之，損傷者填之，補其形氣，復其陰血，尤當顧脾胃為首要。蓋胃為水穀之海，脾為萬物之母，人身之有脾胃，猶萬物之有土也。故培土而五行有相生之妙，扶脾胃而五臟有遞受之益。如是調理，雖胎墜損血，而尚能保母之復原也。無奈世人，一知妻媳得孕，無不喜笑顏開，忽遇小產墜胎，非惟輕視不醫，而當場咨嗟嘆息，頓以白眼相加，冷語譏言，甚至有詈辱不休者，不知婦人稟性執拗，勢必鬱怒為患，致腹中積成氣塊癥瘕，久則血逆經閉而成癆瘵。但此時雖欲醫治補救，而多有無從挽回矣。嗚呼，實緣調理之晚，以被輕忽而斃命。</p>
<p>眉批：至此病入膏肓，雖天醫不能挽救，輕命重財不亦愚乎。</p>
<p>破家者，不知凡幾，更有執迷不悟，仍歸咎於死者短命，泉下有知，能無抱九京之慟乎。小產後血不止，或煩渴面赤，脈虛微者，氣血大虛也。八珍湯加炮姜補之。若腹痛、嘔瀉，脾胃虛也。香砂六君子湯加薑、桂。至一切避忌與正產相同。</p>

<h2>胎教</h2>
<p>胎教之說，未諳者，多妊娠能遵而行之，不特無產難之虞。且生子鮮胎毒殤夭之患，誠為廣嗣要旨，姑以大概陳之。</p>
<p>婦人經後四十餘日不轉，即謹房室，慎起居，薄滋味、養性情，刻刻存心與執持寶玉，無異舉趾，必徐行立，勿仰坐，不實其前陰，臥不久偏一側，不得耽坐嗜臥，致氣血凝滯。雖不可負重作勞，然須時時小役，四體則經絡流動，胎息易於動運，腰腹漸粗，飲食不宜過飽，茶湯更須節省，大熱大涼總非所宜，犬、羊、蟹、鱉、鰻、鱔等，一切有毒之物，固宜切禁。即椒、姜常用之品，亦須少嘗。其豬肉酒麴之類，總不能屏絕不食，亦不可恣啖。歸精於胎，過於蕃長致臨產為難。且子在胞中，稟質肥脆，襁褓必多羸困，譬如沃壤肥盛之草木，移植於脊土，枝葉得不凋萎乎。甫交三月，即當用布滿裹腰腹，胎氣漸長，僅可微松其束，切勿因其氣急滿悶而頓放之。在夏澡洗須避熱湯、冬時寤寐勿近爐炭。其最甚者，尤在不節交合，淫火盡歸其子，以釀痘疹、疥癩之毒。若懷子受驚，則子多胎驚。懷子抱郁，則子多結核、流注。懷子恐懼，則子多癲癇。懷子常起貪妄之念，則子多貪吝。懷子常挾憤怒之心，則子多暴狼。懷子常造綺語詭行，則子多詐偽。非但懷子之後，常宜檢束身心，而經淨交感慎勿恣肆，以遺胎息之患。若大醉後媾精，精中多著酒濕，則子多不育。大怒後媾精，精中多挾怒火，則子多乖戾。大勞後媾精，精中不滿真氣，則子多孱弱。若夫熱藥助戰，作意秘精，精中流行毒悍，則子多異疾。至於風雨雷電媾精，感觸震氣，則子多怪類。以此言之，則三元五臘宜確遵禁戒，宗桃重務，安可視為嬉戲哉。</p>
<p>保元論云：婦人懷孕，常令樂意運動氣血安養胎元，早當絕欲，節調飲食，內遠七情，外避六淫，性宜靜而不宜躁，體宜動而不宜逸，味宜涼而不宜熱，食宜暖而不宜寒，毋久立久坐，毋久行久臥，又宜卻除一切肥甘，以及煎炒炙煿油膩，辛辣、水果，生冷、兔，鴿異味及無鱗等魚，能照避忌䭸，無胎漏下血，子腫、子癇，子懸等異症，以及橫生，逆產、胎傷腹中之患。且生後亦無胎熱，胎寒、胎肥、胎怯、胎驚、胎毒之症，遺累小兒。常見稟性溫良之婦，有孕而少嗜欲，生子少病。而痘瘡亦稀，此其驗也。</p>

<h2>胎前飲食</h2>
<p>保胎藥餌均已備載，惟宜食、宜忌諸物，茲再列陳，以備採擇。</p>
<p><u>宜食諸物</u></p>
<p>豬肚、麻油、腐皮、鯽魚、淡鯗、雞、鴨、火腿、白菜、鹽蛋、海參、筍、生豆腐。</p>
<p>諸味總宜潔治，多用清湯吹去浮油飲之，宜白煮，忌油煎，以上特為膏梁之人言之耳。若藜藿之家，青蔬白飯宜能養人，且正宜得肥甘而潤臟腑，何淡泊之有。但六七個月腐皮，麻油最宜多用，不妨日日食之。蓋麻油解毒，腐皮滑胎，且清且補，貧富皆宜，允為上品。積食二三百張，則首生如達矣。或以麻油拌食更妙，但不宜熬熟。</p>
<p><u>忌食諸物</u></p>
<p>椒、薑、煎炒、野味，螃蟹。（眉批：沿海邊螃蟹之外，尚有白玉蟹、羌蟹、青蟹、蟹邊以及蟹糊、蟹醬等類。孕婦貪食，多致橫生）。鰻、鱔、豬肝血、龜、鱉、自死肉、莧菜。勿多飲酒，而孕婦於一切興工，動土、修造等事，及宰殺凶惡之狀，以及龜、兔等物，概不可見。</p>

<h2>成胎造化章</h2>
<p>易曰：天地氤氳，萬物化醇，男女媾精，萬物化生。蓋天地生生之道，終古為然矣。《顱囟經》曰：成胎之後，一月為胞胎，精氣凝也。二月為胎形，始成胚也。三月陽神，為三魂。四月陰靈，為七魄。五月應五行，分五臟也。六月應六律，定六腑也。七月精開竅，通光明也。八月元神足，降真露也。九月宮室羅布，以御外侮，十月受氣足，萬象成也。此胎元長養造化自然，非人力也。</p>

<h2>孕脈論</h2>
<p>有孕之脈，左寸心脈動甚，為孕子之兆。心主血，心脈旺則血旺，故知有子。若兩尺脈旺，與兩寸迥別，亦為有子。若流利雀啄，亦為孕脈，蓋經脈閉塞不行故脈疾。而歇至此數月之胎也。</p>
<p>詩曰：左手實大是男胎，右手弦洪女孕來，兩尺偏大分男女，命門滑實主懷胎。經云：婦人手少陰脈動甚者，妊也。動如豆，厥厥動搖也。心主血，胎成則血聚護胎，故心脈動或亦有不動而是胎者。蓋動者，壯婦血盛也。不動者，弱婦血少也。陰搏陽別謂之有子。左陰右陽，尺陰寸陽，沉陰浮陽，搏者淤觸於手也，胎必熱，故脈搏陰者，胎之所居也。又男胎居左，女胎居右，胎之所居，氣血聚焉。其脈滑利而盛，故左盛則男，右盛則女。嘗觀癰癤發上，則寸脈盛，發下則尺脈盛。發左則左脈盛，發右則右脈盛，此所以悟胎居之理也。</p>
<p><u>驗胎散</u></p>
<p>婦經三四月不行，尚未識是病是胎者，不仿用後法驗探。</p>
<p>真雀腦芎（一兩）　當歸（全，用七錢）</p>
<p>為細末，作兩服，濃煎膠湯一盞，酒對服。服後二三時，覺臍腹作動，此有胎也。動罷即愈，或問如此試後，於胎有礙否，曰：安穩無虞。如不是胎不動，所滯惡物自行。如一服不覺，再煎紅花湯調下一服，必效。</p>
<p><u>探胎散</u></p>
<p>皂角（去皮）　炙甘草（各一錢）　黃連（五分）</p>
<p>為末，溫酒調服，有胎則吐，無胎不吐。</p>

<h2>孕後便覽</h2>
<p>孕已知覺，即宜用小布一幅，六七寸闊長，視人肥瘦約纏兩道，橫束腰間，直至臨盆之時才解去。若是試疼仍不宜解去，此有二妙，胎未長成得此則腰膂有力些，須閃挫不致動胎。其一常令腹中窄狹，及到解開則腹中乍寬轉身容易。</p>
<p>有孕後，睡時須要兩旁換睡，不可盡在一邊，要使小兒左右便利手足慣熟，則產時中道而出不難矣。</p>
<p>宜謹飲食，苟忽略不知避忌，傷胎易甚。大約宜淡薄，不宜肥濃。宜輕清，不宜重濁。宜甘平，不宜辛熱。宜溫補，不宜耗散。食物不能備述，總在臨時酌其物情而已。</p>
<p>宜忌諸事，凡七情六慾，勞神用力，嚴寒酷暑，上高下低，換房移床，並勿入產婦房，勿到喪家，勿進熱鬧場，勿早起晚寢，勿用婦人良方，勿服過路醫生方藥。</p>
<p>宜常服藥，蓋婦人懷孕，則脾不運化者多，脾不運化則生濕，則生熱，故補脾燥濕之藥不可少。況胎賴氣血以養孕婦，恆氣血不足，則必須補血順氣以安胎。今撮要方列後。</p>
<p><u>安胎散</u></p>
<p>孕後月月數帖</p>
<p>人參（一錢）　川芎（六分）　黃芩（六分）　當歸（一錢）　白芍　黃耆（各六分）　白朮　熟地　蛤粉炒阿膠（各一錢）　炙甘草（三分）</p>
<p>食遠服。如腹痛加杜仲，砂仁（各五分）；有憂怒鬱結加紫蘇、香附（各五分），以安胎氣。</p>
<p><u>金匱當歸丸</u></p>
<p>孕後可常服</p>
<p>當歸　川芎　白芍　黃芩（各四兩）　白朮　阿膠（各二兩）　人參（一兩五錢）　砂仁（五錢）</p>
<p>為末麵糊丸，每服六十丸，空心米湯下。此方養血清熱，補脾燥濕，補血安胎，順氣止痛，且去胎毒，服之臨產易生，胎兒易育。</p>
<p><u>達生湯</u></p>
<p>胎至九月後服數帖</p>
<p>全當歸（酒洗一錢五分）　川芎　牛膝（酒浸一宿，各六分）　益母草（不犯鐵器）　冬葵子（炒研）　白朮（炒。各一錢）　車前子（炒，研）　枳殼（麩炒。各五分）　大腹皮（四分）　炙甘草（三分）　廣木香（忌火，研末和服三分）　姜（一片）</p>
<p>食遠服。如腹痛加白芷，沉香（各五分）。</p>
<p><u>胎產保命方</u>（即保產無憂方）</p>
<p>全當歸　川芎（各一錢五分）　生黃耆　荊芥穗（各八分）　白芍（一錢二分，酒炒）　靳艾（醋炒）　川樸（薑汁炒。各七分）　枳殼（六分，麩炒）　菟絲子（一錢四分。酒泡）　川貝母（一錢，去心研）　羌活　甘草（各五分）</p>
<p>加生薑三片，水二盅，煎八分溫服，渣水一盅煎六分，再服。此方專治產症，未產前不拘月數，或偶傷胎氣，腰疼腹疼，或有血下之勢，或小產危急之際，一服即愈。再服全安。或十月正產，交骨不開，橫生逆下等症，服之立愈。（眉批：周虛中曰：陽開而陰主合，自然之理也。今交骨不開陰極矣。必加肉桂以宣布陽和庶為有濟，若龜板發灰之純陰，僅可為妊之嚮導耳）。此方救人危急，每用不過兩劑，屢試無不神效，幸勿輕視，惟藥須道地照方泡製、稱准，惟產後禁服。</p>
<p><u>加味芎歸湯</u></p>
<p>治交骨不開，陰氣虛也。此方如神。</p>
<p>當歸（一兩）　川芎（七錢）　龜板（炙，研，六錢）　婦人發（如雞蛋大一團，瓦焙純性）</p>
<p>水兩碗煎一碗，加紫猺桂一錢沖藥服。</p>
<p><u>佛手散</u></p>
<p>治一切難產。</p>
<p>當歸（一兩）　川芎（六錢）</p>
<p>水七分，酒三分，同煎，如橫生倒產，子死腹中加黑馬料豆一盒炒黑，乘熱入水中，加童便一半煎，上藥服少刻，再進一服效。</p>
<p><u>平胃散</u></p>
<p>蒼朮　厚朴（薑汁炒）　陳皮（各三錢）　甘草（炒，一錢二分）</p>
<p>凡有孕婦之家，照生化湯方，於孕將臨月預製二三帖，至產婦胞衣一破，速煎一帖。俟兒下地，未進食之先即與產婦服之。其餘二帖亦即隨煎隨服、不論正生小產，年紀少壯，服此方以消血塊生新血。能保產後一切危症，且長精神。</p>
<p><u>生化湯</u></p>
<p>全當歸（酒洗，八錢）　川芎（三錢）　薑炭（五分，夏令四分）　炙甘草（五分）　桃仁（十粒，去皮尖）</p>
<p>水煎熱加陳酒六七匙於藥內，渣另貯。俟三帖頭煎後，合三帖渣於一處，再煎服此方，產後至寶。如虛人見危症及熱症，墜胎或產後勞甚，身熱頭痛，雖服過二三帖痛稍安，而塊痛未除，必當再製服之。蓋產婦不厭藥頻，況產後諸症俱以生化湯為君，其餘不過隨症加減而已。</p>

<h1>卷二</h1>

<h2>保產輯要總論</h2>
<p>凡婦人生育，此造化自然之理，古今之常事。而臨產者，每抱憂疑，皆由未明此理之故。</p>
<p>蓋造化原不令人難產，人多不曉調攝，因而難生。造化原不令人逆生，人多慌忙逼死，因而逆生。難逆兩端關係二命，倘平時不知講求，則臨產必致誤事。至穩婆不可不用，亦不可專意聽信倚靠。緣彼無書傳，無師授，此理全然不知，多執己見，胡做亂為，誤人性命。</p>
<p>凡為夫君者，宜平日家中講談，令婦人習聞，有孕知調養，臨產有主張，不懼怕不早用力，自無難產逆生之害。</p>
<p>以受胎後論，即不能如古人胎教，凡宜禁忌者，以當省悟。</p>
<p>以臨產時論，胎至十月，形完氣壯，手足必動，子動則母必腹痛，痛急則胞衣必破，子自出，胞衣而下。苟不忍耐順時，若見腹痛半日一日不生為難產，則恐錯到底矣。不知兒未出胞衣，倘用藥符催其速生，一催之間多致誤事。豈知天地生物胎卵蠢動，皆自生自養，何嘗用藥用符。故臨產切不可慌張，即三五日不產亦不妨，須要忍痛安心，自然分娩。萬一遇有胎壞腹中之症，亦無待驚慌，自有妙藥，能將死胎化水，脫然而下也。</p>

<h2>難產七因</h2>
<p>一因安逸，蓋婦人懷胎，血以養之，氣以護之，宜常時微勞，令氣血周流胞胎活動。如久坐久臥，以致氣不運行，血不流順，胎亦沉滯不活動，故令難產。常見田野勞苦之婦，忽然途中腹痛，立便生產可知。</p>
<p>二因奉養，蓋胎之肥瘦，氣通於母，母之所嗜，胎之所養，如恣食厚味，故致胎肥而難產。常見藜藿之家，容易生產可證。</p>
<p>三因淫欲，古者婦人懷孕即居別室，與夫異寢，以淫欲最所當禁。蓋胎在胞中，全賴氣血育養，靜則神藏蔭胎，若情欲一動，火擾於中，氣血因而沸騰，三月以前犯之，則易動胎小產。三月以後犯之；一則胞衣太厚而難產，一則胎元漏泄，子多肥白而不壽，何不觀之物乎，人與物均稟精血以生，惟人之生子，不能胎胎順，個個存，而牛馬犬豕胎胎俱易，個個無損，且並未見有墜胎，以及難產者，何也，緣牛馬犬豕一受胎後，則牝牡絕不相交，而人受孕未能禁絕，矧有縱而無度者乎。</p>
<p>四因憂疑，今人求子之心雖切，保胎之計甚疏，或問卜信巫妄言禍患，或適聞產變，常懷憂懼，心懸意怯，因致難產。</p>
<p>五因軟怯，如少婦初產，神氣怯弱，子戶未舒，腰曲不伸，輾轉傾側，兒不得出。又中年婦人，生育即多，氣虛血少，產亦艱難。</p>
<p>六因倉皇有等，愚蠢穩婆，不審正產弄產，但見腹痛，速令努力，產婦無主，只得聽從，以致橫倒，子母不保。</p>
<p>七因虛之孕婦，當產時兒未欲生，用力太早，及兒欲出母力已之，令兒停住，因而產戶乾澀，惟大補氣血，助之可也。</p>

<h2>酷暑</h2>
<p>夏月酷暑，產室宜清涼，恐熱氣逼蒸，使產婦熱傷氣分，頭痛面赤，昏沉如醉，多致氣乏不能產下，宜服六一散。並置涼水房中收暑，不宜涼臺水閣，及睡竹蓆、竹床，若遇狂風陰雨，亦當謹避。</p>
<p>夏月熱產，慮感暑痧，無病者，萬勿輕嘗藥餌，如無塊痛，生化湯亦不必服。若陡患腹痛，先須防痧，可先用扭法試探，如一扭即紅，多扭而紫及高起者，則患痧無疑矣。切不可認作血塊痛。當須扭出，疏通滯血，大忌米湯粥飯，須待腹知飢餓，則痧勢已平，方能進食。以乾菜湯飯微溫服，忌糖食油膩。</p>

<h2>嚴冬</h2>
<p>冬產嚴寒，必須溫暖，勿使寒冷，以致血凝難產。多備火爐，使產母腰背下身，就火烘之。衣服宜暖，而下體更宜暖。奈世俗毋論嚴寒，每於臨盆之先，早將褲脫下體，底圍單裙，貧苦之家，既無火爐之可溫設，遇凍久不下，因而血冷凝滯，堅收產門，兒不得出。速煎芎歸湯加炮薑、肉桂服。仍用火爐使腰背溫暖即生。亦有煎紫蘇湯一大盆，熏洗產戶甚妙。奈竟有不知此理，而歸數於難產，豈不冤哉。</p>
<p>凡遇嚴寒生產者，當預做小腳開襠新花厚棉褲，於將產穿之褲，既開襠臨盆可免脫去，不致因凍而難產。</p>

<h2>節錄臨產達生要言</h2>
<p>初覺腹痛，先自家拿穩主意，要曉得此是人生必然之理，極容易之事，不可驚慌，但看疼陣漸痛漸緊，此是要生。方可與人說之，以便伺候。若疼得慢，則是試痛，只管安眠穩食，不可亂動。此處極要著意留心，乃是第一關頭，不可忽略。</p>
<p>若試痛認作正產，胡亂臨盆，則錯到底矣。此時第一要忍痛為主，不問是試痛是正產，忍住疼照常吃飯睡覺，疼得極熟，自然易生。且試痛與正生，亦要疼久，看其緊慢，方辨得清，千萬不可輕易臨盆，坐草揉腰擦肚。站宜穩站，坐宜正坐，不可將身左右擺扭。須知此處要自家做主，他人替不得你，自家性命相關，與別人毫無干涉。</p>
<p>到此時，必要養神惜力為主，能上床安睡，閉目養神最好，若不能睡，暫時起來，或扶人緩行，或扶床站立片時，疼若稍緩，又上床睡，總以睡為第一妙法，但宜仰睡，使腹中寬舒，小兒易於轉動，且大人睡下，小兒亦是睡下，轉身更不費力。</p>
<p>蓋大人宜惜力，小兒亦宜惜力，以待臨時用之，切記，切記。無論遲早，切不可輕易臨盆用力，切不可聽穩婆說：孩兒頭已在此，以致臨盆早了誤盡大事，此乃天地自然造化之理。若當其時，小兒自會鑽出，何須著急，因恐小兒力薄、其轉身時，用力已盡，及到產門不能得出，或亦有之。宜稍用力一陣助之，則脫然而下，蓋此時瓜熟蒂落，氣血兩分，渾身骨節一時俱開，水到渠成，不假勉強及至生下，即產母亦不知其所以然矣。</p>
<p>或曰：出大便時，尚須用力，如何生產，不用力不知，大便呆物必須人力、小兒自會轉動。必要待其自轉，不但不必用力，正切忌用力。蓋小兒端坐腹中，及至生時垂頭轉身向下，腹中窄狹，他人有力難助，要聽其自家，慢慢轉身到產門，頭向下，腳向上，倒懸而出。若小兒未曾轉身，用力一逼，則腳先出，以為詫異，且贈之美名曰：腳踏蓮花生、或轉身未定時，用力一逼，則橫臥腹中，一手先出，又名之曰：討盥生，即或轉身向下，略不條直，用力略早亦或左或右，偏頂腿骨而不得出，不知此等弊病，皆是時候未到，妄之用力之故，奉勸世人，萬萬不可用力，然非全不用力，但當用力只有一盞茶時耳。其餘皆不可亂動者也。即如大便未到其時，縱用力亦不能出，而況於產也。</p>
<p>或曰：小兒自會鑽出之說，到底未敢盡信，不知古人曾言及否。曰：古人立言，不過攝其大要，安能事事而悉言之，只要後人體會耳。觀瓜熟蒂落四字，即知小兒自會鑽出。觀揠苗助長四字，即知將試痛認作正生之弊矣。當觀哺雞與蠶蛾二物，均日足自能啄殼而出，豈有催生之神藥，穩婆之妙手乎。古謂有遲至三四年而後生者，此是不肯鑽出耳，即自不鑽出，誰能強之，自要鑽出，誰能御之。</p>
<p>或曰：如此言之，早一時斷乎，不可動矣，不知遲不一時，或有妨否，曰不妨，若果當其時，必無不出之理，然或偶有不出者，則是小兒力盡，不能即出。宜令上床安睡，使小兒在腹中亦能安睡，歇力少刻，即自生矣。</p>
<p>或曰：倘或兒到產門，而大人睡下，豈不有礙。曰更好。蓋小兒向下時，大人坐立，則小兒倒懸矣、豈能久待，今大人睡下，兒在腹中亦得睡下、有何妨礙。又曰倘或悶壞奈何，曰他十個月不悶，今乃悶乎。</p>
<p>或曰：不宜用力，已聞教矣。不知誤用力以致橫生倒產，有法治之否。曰：有急令安睡，用大劑加味芎歸湯服之。將手足緩緩托入、再睡一夜，自然生矣。又曰：托之不入奈何，曰：若肯睡再無不入之理，若到此時，仍不肯睡，又何動手動腳，亂吃方藥，吾未如之何也矣。</p>
<p>或問：盤腸生是何緣故。曰：亦是用力之過，蓋因產母平時氣虛，及到臨時用力，努掙渾身氣血下注，以致腸隨而下。一次如此，下次路熟，又復如此。若能等待，瓜熟蒂落之時，何得有此怪異之症乎。</p>
<p>或問有一痛便生，令人措手不及者，此又何也。曰：此乃正理，何足為異，蓋胎氣已足，母子兩分，兒自要出，誰欲留之，而不可得，能耐得住，人人皆是如此耳。</p>
<p>或問臨產時飲食如何。曰：此時心內憂疑，腹中疼痛，甚至精神疲倦，口中失味，全要好飲食調理，但不宜過於肥膩耳，倘不能食，只將雞鴨湯，肉湯之類，吹去油澄清，頻頻飲之，亦能壯助精神，人以食為命，豈可一日缺乎。</p>
<p>或問試痛何故。曰：兒到七八個月，手足五官全備，已能動彈，或母腹有火，或起居不時，令兒不安，以此大動而痛，此等十居其五不足為奇，只宜照常穩食安眠，一二日自然安靜。或痛不止用安胎藥，一二服自止。此後近則數日，遠則月餘，甚至再過三四個月才產，人多不知，輕易臨盆。終日坐立，不令睡倒，或拖腰擦肚，或用手拖，或用藥打，生生將兒取出，母則九死一生，兒則十胎九夭，慘不可言，世間難產皆此故也。蓋胎養不足，氣血不全，如割卵出雛，裂繭出蛹，寧可活乎。只說小兒難養，誰復根究到此。兼且有受寒，及傷食腹痛者，人亦不可不知。</p>
<p>或問何以知其試痛。曰：只看痛法，一陣緊一陣者，正生也。一陣慢一陣，或乍緊乍慢，皆試痛也。</p>
<p>或問傷食受寒，何以辨之，曰：傷食者當臍而痛，以手按之則更痛，若寒痛則多在臍下，綿綿而痛、不增不減，得熱物而即稍緩者，是也。</p>
<p>或問將試痛，認作正生，害即如此，倘將正生認作試痛，以致過時不亦有害乎。曰：無害果當其時，則小兒自會鑽出，縱或過時，亦不過落在褲中，生在床上而已，有何大害，而如此諄諄乎。</p>
<p>或問臨時有經驗，催生之藥亦可用否，曰：不用從前奇方，莫過鼠腎兔腦丸。今時盛行莫過回生丹，非謂其不效而不用也。總用不著耳。既不用力，又不動手，又有睡法佐之，他自會生，何消用藥，縱有不順睡為上策。</p>
<p>或問前列丸丹服之，有益無損否，曰：安得無損，鼠兔二丸大耗氣而兼損血，回生丹大破血，而兼損氣，蓋鼠兔例用香竄之藥，產時百脈解散，氣血虧損，服此散氣之藥，兒已出而香未消，其損多矣。且令毛竅開張，招風入內，禍不可言。回生丹以大黃、紅花為君，佐以消導之品，血已耗而又大破之，多致產後發熱等病，遺患無窮。</p>
<p>夫此三方古今稱為靈寶者，尚如此，此外更無論矣。</p>
<p>或問臨產催生之藥害既如此，總無可用之藥乎，曰：有隻須加味芎歸湯，佛手散二方，用之不盡矣。蓋胎產全要血足，血一足如舟之得水，何患不行，惟恐產母血少，又或胞漿早破，以致乾澀，今二方皆大用芎歸，使宿血頓去，新血驟生，藥味隨地皆有，且使身體壯健，產後無病，真正有益無損。此皆先賢洞明陰陽之理，制此神丹，以利濟天下後世，奈世人貴耳，賤目以為平常而不用，必求奇怪之藥而用之，只要奇怪，不論損益，豈不可嘆。</p>

<h2>臨產調護法</h2>
<p>臨產之月，一宜善養，勿呆坐，勿多睡，勿飽食，常食糜粥，以解飢渴，天熱則擇涼處，天寒則擇暖室。二宜預選穩婆，並備辦需用之物，臨產時，用老練生育過二人，撐扶伺值，不許多人喧鬧。三宜服藥，孕至八月，宜服保產無憂湯二三劑，臨產時再服此劑，撐開道路則兒易生。如或連日不產，用力太早、宜眼加味八珍湯，以助其力。人生人系天生人，有自然之造化，不假人力強為，其有調護失宜，已成偏產，礙產、逆產者，則不能不令老練穩婆，輕輕緩緩拔正，兒頭正對產門，此與前戒穩婆動手者，有所區別，備列方法，以保兩全。</p>

<h2>產後救護法</h2>
<p>橫生者，兒方轉身用力太急也。產母宜安然仰睡，令老練穩婆，先推兒身順直，以中指探兒肩，不令臍帶扳羈，然後用脫花煎服之。產母努力一助，兒即順生。</p>
<p>倒產者，兒未轉身，努力太早，手腳先出也。令穩婆輕手推入，若良久不生，穩婆手入產戶，就一邊拔轉兒頭，服脫花煎。</p>
<p>偏產者，兒已轉身，母努力太急，逼兒頭偏一邊，雖露頂。非也，乃額角耳。令穩婆輕手扶正其頭，兒即下。若兒頂後骨，偏注穀道露額，穩婆輕手於穀道外旁托正，產母努力即生。</p>
<p>礙產者，兒轉身時，臍帶絆其肩，以致不生，穩婆輕手推兒向上，以中指按兒肩，脫去臍帶即生。</p>
<p>盤腸產者，臨產子腸先出，然後生子。腸出時以潔淨漆器盛之，待胞下後，用蓖麻仁四十九粒研爛，塗產母頂腸即收。急洗去其藥，以磨刀水少許，溫潤之。又有用麻油紙燃點燈，吹熄以煙燻鼻，腸即上。</p>
<p>交骨不開有鎖骨者，有血虛不能運達者，令穩婆以麻油調滑石塗入產門，或用兩指緩緩撐開，服加味歸芎湯，脫花煎均可。</p>

<h2>三字寶</h2>
<p>凡臨產時，亟齋已有六字真言，一曰睡，二曰忍痛，三曰慢臨盆。誠為保產金丹，今又有飛霞曰「未離經三字，誰與行醫者言，然產家亦不可不知，較六字真言，更為親切，能依此言保全甚多，如為醫臨產家診視，無論脈之滑，痛之緊，但曰胎未離經，尚未到正產時候，且診得脈氣舒徐定然安吉，惟囑產母加餐穩臥，候其時至可也。此何意，蓋生產全賴母氣為主，產婦聞脈，未離經知時未到，不敢望其速下，惟安心耐之而已。產婦一安，舉室皆安，庶無倉惶擾攘之患。天下原無難產之事，凡難產而致死者，總由時候未至，倉惶逼迫害之也。始則家長驚張，不能鎮定，繼則產婦嬌怯，不能忍痛，或弄產、或轉胞，稍有腹痛，隨即聲揚，無知穩婆便稱是產。而試水坐草，一任胡為，豈知七候未臨，胎氣未足，子在胞中安然不動，欲令其產焉可得乎，因其久而不下，產婦則驚懼憂疑，飲食不納，漸至氣怯神昏，因而異症百出，活活做成難產，常有未生而斃者矣。凡遇是症，惟以大劑甘溫之藥服之，如八珍湯，十全大補湯之類，助其產母之元氣，服後若果正產，則腹痛陣緊，一陣痛急自下。倘非正產，則腹痛漸減漸緩，胎元得暖而安矣。屢見穩婆謂頭已平門，而診得脈未離經，用固胎暖藥而安之。</p>
<p>有遲至一月半月而產者，豈有頭已平門，而能倒懸一月半月之理，即此可知，穩婆之不足信，觀亟齋有曰：凡邪淫之婦，私胎並無難產，總因胎起於私，怕人知覺，只得極力忍痛痛到極熟之時，則脫然而出，此豈有穩婆分掐，妙藥催生乎。</p>
<p>凡產能耐心耐痛，聽其自然，則萬舉萬全，謂藥能催生，予則未敢許也。至催生之法，為產時胞漿已下一二時辰，七候確備不生者，方可佐藥力以助之。</p>
<p>蓋漿乃養兒之物，漿幹不產，必胎元無力，愈遲則愈干，力必愈乏，不得不以大補氣血之藥，助其母力，又惟人參為至聖，其次則脫花煎、芎歸湯皆可。然亦須子已出胞平門，交骨即開門戶已，一方為有益若止，憑產婦腹痛之言，穩婆頭至之說，妄用催生怪異方藥，不惟無濟，反速其斃，慎之，戒之。</p>

<h2>臨盆七候</h2>
<p>一臍腹急痛，二腰間重墜，三眼中出火，四糞門迸急，五產戶腫滿，六手中指筋脈跳動，七胞水或血俱下。以上七候方是子出胞時，始可用力。如數症未備，即腹痛一二日，切不可努掙。又有胞水已下，兒頭已至產門，三四日仍不下者，因母氣先餒，此時人參為專功力不能者，用大劑八珍湯送白鳳丸二粒，補其元氣，調其飲食，時至自生。</p>

<h2>產後便覽</h2>
<p>產後上床，宜高枕靠墊，勿令睡下。</p>
<p>眉批：產下之後，要坐靠兩時許，方可高枕而睡，可免血暈。膝宜豎起，腳後可放箱子一隻，使腳勿伸直。隨飲熱童便盞，只宜閉口靜養，旁倍一人，輕輕時與產母言，勿可睡熟，恐倦極熟睡，血氣上壅，因而眩暈。不宜高聲急叫,以致驚恐。</p>
<p>四壁宜遮風，若無病痛，只須服生化湯，不必另服他藥。</p>
<p>產後宜用鐵稱錘，或釘或石子燒紅入醋，令醋氣入鼻，以免血暈，且收斂神氣，又能解穢，每日三四次，三日而止。</p>
<p>產後七日內，未服生化湯，塊痛未除，可補服生化湯以清源。即三日內，已服生化湯二三帖，塊痛猶未除，仍可再服幾帖，其塊痛自除。</p>
<p>產後七日內，未可輕用參、朮、黃耆，恐塊痛不止，若氣血虛脫，汗多暈厥，或氣喘急，脈脫，皆危急之症，亦須從權多用參耆生化湯以救之。如服後病有生機，又當減去參、耆，只服生化湯，以消其塊痛。塊痛已止，再用參、耆。產後腹中時用小衣烘熱溫之，雖暑月下體亦宜蓋單被。若冬月長用火爐烘被內，否則腹寒血塊不行要作痛。</p>
<p>產婦七日內，勿洗下部，勿梳頭，勿勞神力，勿起早，以冒風寒，勿行走以動筋骨，至八日外，可用溫水坐洗下部，但須緊防產門入風。</p>
<p>月內勿多言並勞，女工勿用涼水以洗手足，即溫水亦宜少洗，勿驚恐，勿動怒。雙滿月內忌房事動欲火並勞神過度，犯則無藥可治。若能忌至一百二十日，則終身少病。至飲食較胎前尤宜知忌，勿食重濁。蓋新產之後，脾胃大虛，必難克化，恐壅滯經絡，氣血不通。勿過食熱物，使新血不寧。勿食涼物，使血塊凝滯。勿食消導耗散，以損真氣。勿多飲酒，多食鹽味，以燒乾乳汁。至於生男生女，夫命所招，與婦人何涉，只宜寬慰，切不可在旁嗟嘆，令產母氣苦，致病傷生。又有一等凶殘之人，將女溺死，忍心害理，必有慘報。</p>

<h2>產後忌食諸物</h2>
<p>一忌梨、藕、橘、柑、桃、李、楊梅，青果，山楂諸瓜果。</p>
<p>二忌冷粥、冷飯、綠豆、蕎麥、冷茶、冷水、涼藥等。</p>
<p>三忌鵝、犬、豬、牛、羊首肉，以及難以消化諸物。</p>
<p>四忌莧菜、生菜、苔菜，以上要停血作痛致病。</p>
<p>五忌沙糖、酒及獨煎山楂湯，均要損新血。</p>
<p>六忌菖蒲、生薑及多食胡椒、艾、酒並一切大熱之物，恐行血致崩。</p>

<h2>產後四大忌</h2>
<p>一忌產婦生氣，如月內受氣，停血成塊，非藥可治，三年之內，必遭危亡。小產後亦同。</p>
<p>二忌房事，若月內犯之危亡。七七之內犯之有大病。至少雙滿月外方可。若能忌過一百二十日外，不但產婦壯健，且於兒有大益。</p>
<p>三忌落水，若月內用涼水洗手足，晚年必患風痛等症，雖極貧亦宜忌之，以免終身之患。</p>
<p>四忌見風，月內見風，面目浮腫，晚年爛眼邊。</p>

<h2>產後飲食論</h2>
<p>飲食者，充虛之滋味也。在產後腸胃空虛，未償不藉此補助，以生氣血。但新產之後，勞倦傷脾，一時不勝甘飫，若能薄味漸進，運化易速，乃有不善調治之家，惟慮產婦之虛，以多食為有益。驟以厚味為補本，產母不思而強與之，豈知胃雖納受，脾難轉輸，停食致病往往有之。或問必如何調理，而後可曰：總隨各處風俗可矣。惟不可傷食損胃為切要。若胃強思食，不妨多吃幾餐，卻不宜受飢。七日後，只用黃雌雞爛熬取湯，吹去浮油澄清汁飲之，最助乳力，未可食雞肉也。半月內不可食鮮豬肉，一月內不可食豬油，以其壅塞經絡，令血氣不通耳。至水果生冷，尤為大忌，然鴨蛋亦不可食，雞蛋雖有祛瘀生新之效，然要發開加冰糖，用滾粥油或米飲湯沖服，方能有益。若整個而食，最易停滯。糖心者，更為損人，其餘食物甚多，難以備述，總之要清淡能生精，濁則否矣。</p>

<h1>卷三</h1>

<h2>婦女證總論</h2>
<p>醫鏡云：婦女之症，不肯對人言，與小兒之不能自言，其難治一也。醫家又未便逐細詢問，則更暗中摸索矣。然大要不離乎中情鬱結，蓋婦女本坤陰吝嗇之性，心地淺窄，識見拘墟，一有逆意，即牢結胸中，又不能散悶於外，則鬱久而成病矣。主治之法，審無外感內傷別症，唯有養血疏肝四字，用四物湯，逍遙散之類，可以得其八九。其一切雜病與方脈並治，茲不贅敘。若胎前產後，此其生死交關處，詳敘於後，慎毋忽諸。</p>

<h2>室女論</h2>
<p>室女天癸未至，有病從幼科論，天癸即行則與婦人並治矣。然其神完氣足，經水應無延期，其有經閉不行者，若非血海乾枯，必其經脈逆轉，血枯則少思飲食，內熱咳嗽，漸成怯症。經逆則為吐為衄，血必妄行，皆非輕候也，須速治之。如或經水適來，偶阻逆竅，則小便不通，腹脹欲死，急宜通其經而便自利。用調經飲或澤蘭湯。更有心熱煩悶，而如𩞄如飢，懨懨倦怠，面黃肌瘦者，此其情竇久開，欲火內熾所致，為父母者，察知其意，速宜擇配定期以安其心。若溺愛久留，或不愛冰擱，勢必相火刑金，咳嗽發熱，吐血而成癆瘵，慎勿選婿過備，而使俾飲恨以終也。</p>

<h2>診看婦人先問經期妊娠</h2>
<p>未診婦人之病，先問經期與有無妊娠，若不詳細審問，倘用藥誤觸之，則所關匪細，多有變生他證，疑似難明，豈不昧其病之所因哉。</p>

<h2>論經病原</h2>
<p>血者水穀之精氣也，在男子則化為精，在婦人則化為血，上為乳汁，下為月水。若憂愁思慮傷心，心氣受傷，脾氣失養，故健運失職，飲食減少，血無以生，則經必不調。而有血枯經閉之症，亦有女子未期與男子合，或月事適未盡而與合，此皆合之非道，亦致不調。或過淫合多則液竭，產多乳眾則血枯，亦皆能損傷陰血，致成經病也。</p>

<h2>論月經諸症</h2>
<p>經者常也，月行有常度，經水有常期，其愆乎常者，皆病也。</p>
<p>眉批：婦人行經，又有三月一行者，是謂季經。有一年一行者，是謂避年。有一生不行而受胎者，是謂暗經。有受胎之後，月月行經而生子者，是謂盛胎。女子二七天癸至，七七天癸絕，其常也。亦有女子十二三，婦人五十餘而生者，其變也。皆不可以不知也。趕前為熱，退後為虛，血滯宜破，血枯宜補，要察其色，總以紅為正。其變為紫黑者，熱也。黃如米泔者，濕也。淡紅者，虛也。成塊而紫黑色暗者，寒凝也。將行而腹痛拒按者，氣滯血凝也。既行而腹痛喜按者，氣虛血少也。經前發熱，為血熱。經後發熱，為血虛。腹脹者，為氣滯。腹痛者，為血滯。泄瀉者，是脾虛。溏瀉者，是寒濕。凡逆行上溢而吐衄。錯行下流而暴崩，皆屬血熱妄行。而亦有絡脈傷損瘀積，肝旺所致。若經水過多者，色淡為虛，色深為熱。若經水適來，小便不通，腹脹欲死者，為經阻逆竅。足底痛者，血虛也。</p>
<p>血枯與經逆者，並用益母勝金丹加牛膝主之。</p>
<p>經水紫黑者，生地四物湯加丹參、丹皮、益母草。</p>
<p>黃如米泔者，六君子湯加苡仁、扁豆。</p>
<p>淡紅者，八珍湯主之。</p>
<p>寒凝成塊者，四物湯加桂心、牛膝。</p>
<p>熱結成塊者，生地四物湯加丹參、丹皮、益母草。</p>
<p>行經腰腹作痛者，氣滯血實，人瘦有火也。桃仁四物湯加條芩、黃連。</p>
<p>經期或前或後者，脾胃虛弱，氣血不足，四君湯加當歸、白芍、丹皮、陳皮、制香附。性躁多氣傷肝，而動衝任之脈。一月經再行者，宜四物加人參、柴胡、黃芩、黃連、甘草，空心服。兼用知母、黃柏為丸，滾湯下。</p>
<p>氣血凝滯而作痛脹者，調經飲或四物湯加延胡，香附，木香。</p>
<p>氣虛血少，而或痛或熱者，四物湯加人參、白朮。泄瀉溏利者，六君子湯主之。</p>
<p>血熱而上下妄行者，四物湯加丹皮、阿膠、黃芩、黑山梔。絡脈傷而妄行者，或大怒或過勞，八珍湯主之。</p>
<p>瘀血積，則血不歸經，獨聖丸主之。</p>
<p>肝火旺，不能藏血者，逍遙散主之。</p>
<p>經阻溺竅者，調經飲、澤蘭湯。</p>
<p>足底痛者，血少也。用熟地、當歸各六錢煎服數劑，血足痛自止矣。</p>
<p><u>調經飲</u></p>
<p>當歸（三錢）　牛膝　山楂　茯苓（各二錢）　青皮（一錢五分）　制香附（二錢）</p>
<p><u>益母聖金丹</u></p>
<p>調經行血</p>
<p>砂仁拌熟地　酒蒸當歸　酒蒸茺蔚子　土炒白朮　酒炒香附（各四兩）　酒炒白芍　酒蒸丹參（各三兩）　酒蒸川芎（二兩五錢）</p>
<p>共曬燥為末，以益母草（八兩）　酒水各半，熬膏加白蜜和末為丸，每早晚開水送服。如不愛吞丸者，均熬膏沖服亦可。</p>
<p><u>獨聖丸</u></p>
<p>去瘀積</p>
<p>五靈脂（一兩去土炒煙盡）</p>
<p>為末醋丸，分二次酒送下。</p>
<p><u>逍遙散</u></p>
<p>治肝經血虛木鬱</p>
<p>柴胡（一錢）　當歸（二錢）　白朮（一錢）　白芍（一錢）　茯苓（二錢）　丹皮（一錢）　黑山梔（一錢）　薄荷（五分）　甘草（五分）</p>
<p><u>澤蘭湯</u></p>
<p>治經閉調血脈</p>
<p>澤蘭（二錢）　柏子仁　當歸　白芍　熟地　牛膝　茺蔚子（各一錢五分）</p>
<p><u>桃仁四物湯</u></p>
<p>歸尾　赤芍　川芎　生地　香附（各二錢）　丹皮　紅花　延胡索（各一錢）　桃仁（十一粒，臨服研入）</p>
<p>空心服。</p>

<h2>論治赤白各帶症</h2>
<p>婦人患帶者最多，皆榮衛滯氣所成。總之不外乎脾虛而兼濕熱，使濁氣滲入膀胱，流而帶下。輕則來而不來，無用施治。重則來而無度，使人腰膝痠痛，精神短少，不能不治。分而論之，赤者屬熱，虛而兼火。白者屬濕，虛而兼痰。赤白兼下，脾虛有濕。治法總以補脾為主，又兼升提。然大抵瘦人多火，患赤帶。肥人多痰，患白帶。赤白兼下者，用五味異功散加扁豆、苡仁、山藥、澤瀉等，無不愈者。倘挾五色，則加入本臟藥，一二味亦可。若有熱加黃柏，蓮心，又有帶久不止者，以補為主，宜服補中益氣丸。</p>
<p><u>五味異功散</u></p>
<p>治赤帶白帶不時</p>
<p>人參（三錢）　白朮　茯苓（各二錢）　陳皮（一錢）　炙甘草（五分）</p>
<p>煎服。青色屬肝，異功散加柴胡、山梔；黃色屬脾、加石斛、荷葉、陳米；赤色屬心，加丹參、當歸；白色屬肺，加苡仁、豬苓。黑色屬腎，加杜仲、續斷。</p>

<h2>回生歌</h2>
<p>大凡女子，稟性偏執，欲求長生，先戒性急，若動怒氣，或因憂鬱，憂鬱氣滯，怒傷肝血，血衰氣盛，定無生育，先為經閉，變成癆瘵。求其無病，經水調正，月應乎天，水應乎地，一月一來，如潮汛期，倘有不準，先後當訊，參前因熱，落後屬寒，熱當清涼，寒宜助溫，血熱血虛，或清或補。一朝有娠，先保其胎，能遵胎教，方無後災。不知保守，悔何及也。月足坐草，忍痛極妙，瓜熟自落，臨盆忌早，生若稍慢，時候未到。無知婦女，昏愚嫗老，非時催逼，以致橫倒，做成難產，禍系自遭。若即橫倒，勿再驚擾，鎮靜養神，藥助能好。驚則血逆，更不得了。即若胎死，腹中橫倒，寬心進食，尚可救療，三四五日，仍有藥消，穢臭無礙，胎能化水，水齣兒小，氣壯門開，脫然而下。並不傷內，屍氣崩心，此言錯哉。為此一語，枉死多也，切戒穩婆，用蠻取撈、天良喪盡，甚至動刀，撈取損臟，痛楚難當。每見蠻取，死難計數，泉下含冤，慘乎否乎，新產之後，醫法有餘，先去惡露，後當補虛。補虛太早，穢不能除，倘若氣脫，乃屬大虛。即進溫補，回生起死，惜命之家，守此歌謠，可教女孩，熟讀是句，先使婦女，聽於平素，免致臨時，匆忙貽懊，轉相傳告，保全無數，撰此俚言，不無小補。</p>
<p><u>資生丸</u></p>
<p>治懷孕二三個月，氣阻脾胃不和，飲食嘔吐，胎氣不固等症。</p>
<p>人參　白朮（各三兩）　橘紅（蒸）　楂肉（蒸）　神麯（各二兩）　茯苓（入人乳蒸）　山藥　白扁豆　湘蓮肉　芡實　薏苡仁（各一兩五錢均炒黃）　麥芽（炒研磨取淨面一兩）　藿香葉（不見火）　炙甘草　桔梗（蒸各五錢）　澤瀉（炒）　白蔻仁（勿見火各三錢五分）　川連（如法炒七次三錢）</p>
<p>共十七味，如法修事細末，煉蜜搗丸，每丸重二錢，每食後細嚼一丸，開水下，嚴寒時淡薑湯下，服至病愈為度。</p>

<h2>七液丹醫治各症</h2>
<p>專治溫疫、瘧、痢、爛喉、丹痧、斑疹、時毒、癰癤，一切瘡毒，暑風，卒忤諸斑痧氣等症，服法列左。</p>
<p>一治痢疾，紅者用黑山梔（一錢），白者用生薑三片　煎湯化服。</p>
<p>一治瘧疾，用生薑三大片，製半夏（一錢）　煎湯化服。</p>
<p>一治大熱不退，發斑、發疹不得透達，輕者一二付，重者二三付即愈。</p>
<p>一治喉嚨痛，因風火者，一付即愈。重者二付，若雙、單蛾亦多見效，惟爛喉痧來勢最速，朝發夕死，醫藥無效。得此有起死回生之功，倘有咽喉腫痛，閉塞痰稠即與五錢送下，自然平安。</p>
<p>一治夏秋間發熱不止，或頭痛、頭暈、或寒熱交作，無論因寒，因暑，因食服此一二錢，無不即愈。</p>
<p>一治溫疫流行，傷寒時毒，服此即愈。</p>
<p>一治諸斑痧氣，重者此丹雖投，猶恐緩不濟急，當以臥龍丹吹鼻，取嚏即愈。八寶紅靈丹一分吞下，如無即紫金錠、塘棲痧藥皆可。</p>
<p>一治目疾，或紅或腫或痛羞明，眼眵膠結，一付即愈。</p>
<p>一治癰癤初起，用薑汁調服，丹毒紅腫，可用蜜汁調敷。</p>
<p><u>七液丹方</u></p>
<p>上滑石（十九兩）　鮮佩蘭葉汁　鮮白蘿蔔汁　鮮藿香葉汁　鮮紫蘇葉汁　鮮薄荷葉汁　鮮側柏葉（各五兩）　錦紋大黃（三兩生）</p>
<p>研細末，用好陳酒三兩拌入。</p>
<p>上將滑石研極細去腳，用粉甘草三兩泡湯，傾漂飛淨，以甘湯盡力度，攤曬瓦盆，七汁不分先後，隨時浸入。唯柏葉難於取汁，須和生藕中一同搗爛，方絞得汁出，待諸藥俱已拌入滑石粉中，曬乾研細收貯。最好稱准，每服四錢，做一大丸，曬乾封固，易於攜帶。每服四錢，不論男女老幼，胎前產後，及素有血症之人皆可服。唯壯實之體及症重者，倍服不妨，小兒減半。</p>

<h1>卷四</h1>

<h2>胎前諸症論</h2>
<p>妊婦應忌諸事已詳，各條能遵而行之，自然易生易育，兒亦聰明多壽矣。然兒在腹中，為日又久，一切皆能致病。今舉其最關緊要及所常有等症，摘列於右，以備採擇。古云：胎前無不足，產後無有餘。此言其常也。然胎前誰多有餘之症，亦當詳察其，亦有不足之時。產後雖多不足之症，亦當詳審其，每挾有餘之症也。</p>

<h2>胎前用藥三禁</h2>
<p>丹溪曰：胎前當清熱養血為主，恐傷陰血也。理脾脾健，則氣血易生。疏氣氣順，則氣血調和。理脾疏氣兼以清熱養血，則胎自安矣。</p>
<p>三禁者汗，下，利小便也。蓋恐過汗，亡陽傷氣，過下亡陰傷血，利小便傷津液也。</p>

<h2>安胎有二法</h2>
<p>安胎之道有二法，母病胎病當詳分，而施治也。凡因母病，以致胎動者，但療其母，母安則胎自安。或因胎病有所觸動，以致母病者，但宜安胎，胎安則母自愈矣。</p>

<h2>安胎活法</h2>
<p>消瘦之人多火，過用溫熱，則傷陰血。肥盛之人多痰，過於補氣，恐壅氣動痰。白朮消痰健脾，條芩清熱養陰，二味為安胎要藥。若有他症，則以藥佐之，或減白朮加條芩，或加白朮減條芩，任其抽添。如火盛則當倍芩，以清火。痰盛則當倍術，以消痰。血虛則合四物湯，以補血。氣虛則合四君，以補氣。胎不安穩，更佐以杜仲，續斷、阿膠、艾葉以安之。若氣盛胎高，則加紫蘇、大腹皮、枳殼、砂仁、陳皮以舒之。</p>
<p><u>四物湯</u></p>
<p>治血虛肝腎不足之症。</p>
<p>熟地（四錢）　歸身　白芍（各二錢）　川芎（一錢）</p>
<p><u>四君子湯</u></p>
<p>治氣虛脾胃不足之症。</p>
<p>人參（三錢）　白朮（二錢）　茯苓（二錢）　炙草（五分）　加生薑（二片）　大棗（三枚）</p>
<p>古方用人參，如無力以西黨參代之。</p>
<p><u>八珍湯</u></p>
<p>治氣血並虛。</p>
<p>即四君四物相併。</p>
<p><u>十全大補湯</u></p>
<p>治陰陽並虛而畏冷。</p>
<p>即八珍湯加炙黃耆（二錢）　肉桂（六分）</p>
<p><u>六君子湯</u></p>
<p>治氣虛挾痰。</p>
<p>即四君子湯加製半夏（錢半）　陳皮（二錢）</p>
<p><u>香砂六君子湯</u></p>
<p>治胃寒吐瀉。</p>
<p>即六君子湯加藿香（一錢）　砂仁（二粒）</p>
<p><u>阿膠湯</u></p>
<p>治血熱胎漏。</p>
<p>既四物湯加阿膠　黑山梔　側柏葉　黃芩</p>
<p><u>黃耆湯</u></p>
<p>治固胎補氣血。</p>
<p>炙黃耆（二兩）　糯米（一合）</p>

<h2>論孕婦嘔吐</h2>
<p>凡婦人受孕之後，思酸選食，頭暈作嘔，甚至食物既吐，此係胞宮氣阻血滯，蓋人以食為本，胞以胃為根，根蒂受傷，則枝葉萎黃，此自然之理也。凡虛弱之婦人，因此墜胎者，不可勝計。其病根實由惡阻之甚者，使然耳。</p>

<h3>惡阻</h3>
<p>懷孕三月噁心，而阻隔飲食是也。</p>
<p>眉批：妊娠稟受怯弱，便有阻病。如顏色如常脈息和順，但覺肢體沉重，頭目昏眩，擇食惡食愛酸者，當以所思之食，任意食之。輕則勿藥可愈，此症右脈必弦數，左脈必微弱。</p>
<p>亦有六七月，尚病嘔者，治同然。肥人責之痰，瘦人責其火，俱宜二陳湯加白朮，黃芩或加香附，砂仁，薑汁、竹茹與吐家同。</p>
<p><u>二陳湯</u></p>
<p>製半夏　陳皮　茯苓（各一錢五分）　炙草（八分）　加生薑（二片）　棗（五枚）</p>
<p>日久津液損，胃燥乾噦，不納湯水，用二陳湯和四物湯加竹瀝，薑汁潤以降之，昧者，謂半夏犯胎，地黃泥膈，乃知常而不達變也。如吐多脈弱，體倦不納穀，用六君子湯加麥冬，黃柏、生薑，如左脈弦急，心下脹悶，噁心不止者，挾肝氣上衝也。宜煎茯苓湯下抑青丸平之。脅脹或寒熱往來，面色青黃，此木剋土也。宜六君子湯加柴胡，桔梗、枳殼。兼腰痛者，防胎欲墜，宜二陳湯合四物湯加白朮、黃耆、黃芩、阿膠。如脹悶加縮砂仁。吐而心煩用竹茹、麥冬、前胡、橘紅、蘆根煎湯徐服。</p>
<p>因食冷物及涼藥，吐不止者，以丁香、泡姜加二陳湯煎服溫之。惡阻漸退、則徐服後方補之。</p>
<p><u>抑青丸</u></p>
<p>黃連（一錢為末）</p>
<p>丸如綠豆大。每服二十丸，眉批：若吐雖定，而每食粥飯則口酸此肝火盛，宜用川芎、陳皮、黑山梔、茯苓、生薑　煎湯下抑青丸。</p>
<p><u>歸苓參附湯</u></p>
<p>當歸（三錢五分）　川芎（一錢七分）　茯苓　黨參　生地　香附（各二錢）　白朮　麥冬（一錢五分）　黃芩（七分）</p>
<p>薑棗飲</p>
<p><u>單氏參橘飲</u></p>
<p>治惡阻。</p>
<p>人參（一錢）　當歸　白朮（各二錢）　橘紅　藿香　甘草（各四分）　半夏（八分）　砂仁（三分）　竹茹（四分）　如肥人加竹瀝半匙。</p>

<h2>胎痛</h2>
<p>孕婦胎氣不安，腹中不時微痛，或小腹重墜，飲食不美，宜服丹溪安胎飲，一二帖即安。如中氣虛，補中益氣湯亦效。</p>
<p><u>丹溪安胎飲</u></p>
<p>當歸　熟地　白朮（各二錢）　人參（一錢）　川芎　條芩（各八分）　陳皮　紫蘇　炙草（各五分）　砂仁（三分）</p>
<p>薑棗飲，水煎。</p>
<p><u>補中益氣湯</u></p>
<p>當歸（三錢）　人參　白朮　黃耆（各二錢）　柴胡（一錢）　陳皮（八分）　升麻（五分）　炙草（五分）</p>

<h2>孩兒攻心</h2>
<p>胎前孩兒攻心，不知人事，此妊婦過食椒姜熱毒等物，積在胎中，闢如六月人蓋絮被，受熱難過，手足亂動，攻上心胞，母不能安也。宜用調中和氣散同勝紅丸，通利二三劑，母子俱安。</p>
<p><u>調中和氣散</u></p>
<p>大黃　石膏（各一錢）　檳榔　枳殼　黃芩　知母（各六分）　黃連（六分）　柴胡（三分）　黃柏（五分）</p>
<p>空心服。</p>
<p><u>勝紅丸</u></p>
<p>紅花籽（去油十粒）　百草霜（一錢）</p>
<p>為末，早米糊丸，蔥湯下七丸。</p>

<h2>胎前氣急不得臥</h2>
<p>此乃過食生冷，兼有風寒中肺胃二經，因而生痰氣急。</p>
<p><u>紫蘇安胎散</u></p>
<p>紫蘇　枳實　桔梗　大腹皮　貝母　知母　當歸（各八分）　甘草　石膏（各三分）　桑白皮（八分）</p>
<p>研末沖服。</p>

<h2>子懸</h2>
<p>胎氣不和，濁氣舉胎而上湊，脅腹脹滿作痛，謂之子懸。宜順氣安胎。</p>
<p><u>紫蘇飲</u></p>
<p>紫蘇　高麗參　大腹皮　川芎　白芍　白朮　陳皮（去白）　甘草（各一錢）　當歸（酒浸二錢）　姜（三片）　蔥白（一根）</p>
<p>空心服。</p>
<p>此症挾氣者多，非紫蘇，腹皮，陳皮，川芎，無以疏其氣。非當歸，白芍無以利其血。氣利血流而胎自下矣。邪之所湊，其氣必虛。故用人參，甘草補之，一補一瀉，推陳而致新也。</p>

<h2>子煩</h2>
<p>心中煩滿不寧者，是也。責之心虛有火，簡易方以竹葉湯主之。</p>
<p><u>竹葉湯</u></p>
<p>白茯苓（二錢）　防風（八分）　麥冬　黃芩（各一錢）　竹葉（九片）</p>

<h2>子癇</h2>
<p>孕婦痰涎壅盛阻塞，或時發搐，不省人事，名曰子癇。治宜清氣化痰為主。蓋此症因於氣者多，治法與癇症同。眉批：（癇者俗名羊癲風，皆痰水凝聚心胞，男女皆有，最難除根。孕婦子癇又當別論。）唯劑稍小耳，若噁心甚者，煎二陳湯探吐。吐定則理氣化痰。兼用黃芩，白朮保胎。古方羚羊角散，藥味偏於辛散，治者當因時制宜可以。</p>

<h2>子鳴</h2>
<p>孕婦高舉，兒口所含血管脫出，故啼。令母曲腰就地，如拾物狀，仍令入兒口，既止。</p>

<h2>子滿</h2>
<p>凡孕婦至七八個月，其胎長大，腹大脹滿，逼迫子戶，坐臥不安。宜服束胎飲二三劑。</p>
<p><u>束胎飲</u></p>
<p>白朮　黃芩　紫蘇　枳殼　大腹皮（各一錢五分）　炙草（三分）　帶殼砂仁（五分炒姜引）。</p>

<h2>激經胎漏尿血三症總括</h2>
<p>婦人受孕之後，仍復行經者，名曰激經。為血有餘。若孕婦無故下血，或下黃汁、豆汁，而腰腹不痛者，謂之胎漏。若其胎已傷，而下血者，其腰腹必疼。孕婦又有尿血一證，腹亦不痛然與胎漏之證又不同，蓋尿血出於溺孔，漏血出於人門，三者俱下血，而各有不同，治者不可不詳辨也。</p>

<h2>三症辨治</h2>
<p>激經無他症相兼者，不須用藥。其胎壯，子大能食其血，而經自停。若胎漏下血，多屬血熱，宜阿膠湯清之。或漏下黃汁，或如豆汁甚多，其胎乾枯，必倚而墜，宜用黃耆湯煎服，或銀苧酒煎服。若尿血，則是膀胱血熱，宜生地四物加血餘，白茅根以涼之。</p>

<h2>胎前動紅</h2>
<p>此因失跌動傷，惡血破，來如水流不止，急用膠艾湯，以止其血。眉批：（胎即欲墜，此方須一日頻服二三帖，方可安固。）再服安胎散，以護其胎。</p>
<p><u>膠艾湯</u></p>
<p>治妊婦下血不止。</p>
<p>阿膠（蛤粉炒）　白芍　熟地（各二錢）　艾葉（三錢）　川芎（八分）　棗（三枚）</p>
<p>空心服</p>
<p><u>安胎散</u></p>
<p>阿膠　人參　茯苓　當歸（各二錢）　生地（一錢）　川芎（八分）　甘草（五分）　小茴　八角茴（各八分）</p>
<p>空心服。</p>

<h2>胎動</h2>
<p>孕婦下血，而腰痛腹重胎動，此胎欲墜也。治宜行氣安胎，急服佛手散加砂仁，如脈大有火加黃芩、白朮，腹痛下黃汁加黃耆一兩，糯米一合先煎，以米湯即煎服二三帖。</p>

<h2>毒藥傷胎</h2>
<p>凡毒藥傷胎，狀類中風，牙關緊閉，口不能言，兩手強直握拳，頭低自汗，身微熱，其脈浮而軟，若作中風治必死，宜甘豆竹葉湯解毒。</p>
<p><u>甘豆竹葉湯</u></p>
<p>甘草　黑豆　淡竹葉（各五錢）　眉批：（宜加生扁豆二兩，去皮為末，用甘豆竹葉湯送，立愈。）</p>
<p>煎濃汁服。</p>

<h2>胎漏</h2>
<p>壯實婦人，兩手脈平和，飲食如常，別無所苦，而經暗下，此血氣旺，養胎之餘血也。兒大能飲，自不來矣。然亦不可使之多下，當和血涼血健脾為主。用佛手散加黃耆、白朮，如不已加阿膠。去血多者，用八珍湯加膠艾。若因熱用逍遙散，因肝火加山梔，因脾火用加味歸脾湯。因氣虛不能攝血，用補中益氣湯。</p>
<p><u>陸氏胎漏下血方</u></p>
<p>當歸　川芎（各二錢）　人參（七分）　白朮（一錢五分）　茯苓（一錢）　黃耆（五錢炙）　升麻（五分）　香附（三錢）</p>
<p>加薑棗引，若胎不動去白朮加蘇梗（五分）</p>

<h2>跌僕傷胎</h2>
<p>胎為跌僕所傷，以逐汙生新為主，服佛手散神效。如腹痛加益母子，服下痛止。母子俱安。若胎已損，則汙血頻下，再加制香附、益母草、陳皮煎濃汁服。系從高墜下，腹痛下血煩悶，加生地、黃耆補以安之。若腹內大痛下血，加老山高麗參、白朮、茯苓、炙甘草、陳皮、砂仁研服，痛甚加五靈脂一錢</p>
<p><u>加味歸脾湯</u></p>
<p>人參　白朮　茯神　黃耆　棗仁（各一錢五分）　炙甘草　木香（各五分）　當歸　遠志（各一錢）　丹皮　山梔（各一錢）　加龍眼肉（二錢五分）</p>
<p>薑棗引。</p>
<p>搐犯胎不安，腰腹痛，或下漿水血水，或上搶心氣促，用四物湯加阿膠、黃耆薑棗引。</p>
<p><u>陸氏傷胎方</u></p>
<p>當歸（三錢）　川芎　制香附　黃芩（各二錢）　升麻（一錢）　砂仁（一錢五分）　姜（三片）　棗（二個）</p>
<p><u>救急方</u></p>
<p>胎偶有所傷動、痛不可忍。</p>
<p>縮砂（連殼炒黑）</p>
<p>為末，熱酒調服二錢或米飲亦可，後腹中覺熱胎即安，屢試驗。</p>
<p><u>安胎方</u></p>
<p>黃耆（蜜炒）　杜仲（薑汁炒）　茯苓（各一錢）　黃芩（一錢五分）　白朮（生用五分）　阿膠（一錢）　甘草（炙五分）　續斷（八分）</p>
<p>胸中脹滿加紫蘇，陳皮（各八分），下紅加艾葉，地榆（各一錢），多加阿膠引中用糯米百粒，酒三杯，水二杯煎，若腹痛則用急火煎。</p>
<p><u>安胎銀苧酒</u></p>
<p>治孕婦胎動欲墜，腹痛不可忍，及胎漏下血。</p>
<p>苧根（二兩）　紋銀（五兩）　酒一碗　如無苧之處，用茅草根（五兩）</p>
<p>加水煎之。</p>

<h2>胎前小便不通</h2>
<p>此症名曰轉胞，醫者多用車前八珍湯不效，宜服八味丸。（藥鋪有賣），空心下五錢，以愈為止。</p>

<h2>胎前浮腫</h2>
<p>此氣血俱虛衰而致。切忌通泄之藥，恐傷胎也。大腹皮湯</p>
<p><u>大腹皮</u></p>
<p>五加皮（各二錢）　青皮　陳皮（各一錢）　姜皮（五分）</p>
<p>空心服。</p>

<h2>胎前陰門腫</h2>
<p>此胎氣不能遊動而致。用制柯子。水煎溫服。</p>

<h2>胎前乳腫</h2>
<p>胎前兩乳腫，生寒作熱，名內吹乳。皂角兩條燒灰，調酒服。</p>

<h1>卷五（佚）</h1>

<h1>卷六（佚）</h1>
