<header data-type="book">
<h1>濟生產寶</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>原著者<data value="佚名">不詳</data>，<data>徐明善</data>校正</dd></div>
<div><dt>年份</dt><dd><data value="1558">公元1558年</data></dd></div>
<div><dt>底本</dt><dd>江戶抄本（<a href="https://www.digital.archives.go.jp/file/1079207">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>南都雷氏子鳴大震類集詩書，間嘗檢閱，得宋版醫書一帙，喜而嘆曰：「是書不有補於娠婦者也，何鳴得之太晚耶！」遂慨然鋟梓以行，刻成，請予敘諸首。簡予得而覽之，乃形諸喟然曰：是編不惟有補於娠婦，而亦大有助醫家者，後世之人何幸耶！名曰《濟生產寶》。論方者，一皆士大夫黯理精當而有得於經驗者。其所用之藥，君臣佐使不越乎古方書之所記載。而醫藥者之所錯綜，非有泛也。雖然，知濟生之道為可，尚而不思所以鋟諸梓，非義也。思可以鋟諸梓，而不慮可傳行之，不及其遠且久者，非仁也。君子謂斯舉也，亦仁義而已矣。俾娠子之婦，有可逃於夭折之歸，而順適於仁壽之境，其功德不亦傳哉！予不佞，不敢沒人之善，故僭書之首。</p>
<p><u>嘉靖乙未夏四月既望浙進士雙峰王子沖書</u></p>

<h1>上卷</h1>

<h2>濟生產寶論</h2>
<p>夫天地造端於夫婦，乾坤配合於陰陽。雖清濁動靜之不同，乃成象效法之有類。原茲婦人之病與男子不同者，亦有數焉。古方以婦人病比男子十倍難治，不亦言之深乎。但三十六病，產褥一門，男子無之。其如外傷風暑寒濕，內積喜怒憂思，飲食房勞，虛實寒熱，悉與丈夫一同也。依源治療，可得而知之。惟古書治婦人別著方論者，以其胎妊生產崩傷之異。故婦人之病比之男子十倍難療。蓋女子嗜欲多於丈夫，感病倍於男子，加之慈戀愛憎，嫉妒憂恚，染著堅牢，情不自抑，所以為病根深，治之難瘥。況懷胎妊娠而挾病也，不持避其毒藥，仍須審其虛實冷熱而調治之，無使妄投湯劑以致夭枉。</p>

<h2>產寶病源論</h2>
<p>大率治病，先論其所主。男子調其氣，女子調其血。氣血人之神也，不可不謹調護。然婦人以血為基本，氣血宣行，其神自清。所謂血室不蓄則氣和，血凝結則水火相刑。月水如期，謂之月信。不然，血凝成孕，此乃調燮之常。其血不來，則因風熱傷於經血，故血不通。或外感風寒，內受邪熱，脾胃虛弱，不能飲食，食既不充，榮衛抑遏，肌膚黃燥，面無光澤，時發寒熱，腹脹作痛，難於子息。子臟冷熱，久而勞損，必挾帶下，便多淋瀝，忽致崩漏。經云：腹中如塊，忽聚忽散，其病乃癥。血涸不流，而搏腹脹，時作寒熱，此乃成瘕。或先或後失期，雖通而或多或寡，究病之源，蓋本於此。</p>

<h2>精血論（出齊光祿大夫褚澄遺書）</h2>
<p>飲食五味，養髓骨肉血肌膚毛髮。男子為陽，陽中必有陰，陰中之數八，故一八而陽精升，二八而陽精溢。女子為陰，陰中必有陽，陽中之數七，故一七而陰血升，二七而陰血溢。皆飲食五味之實秀也。方其升也，智慮開明，齒髮更始。發黃者，黑筋弱者，強暨其溢也。凡充身體手足耳目之餘，雖針芥之歷，無有不下。凡子形肖父母者，以其精血嘗於父母之身，無所不歷也。是以父一肢廢，則子一肢不肖其父。母一目虧，則子一目不肖其母。然雌鳥牝獸無天癸而成胎何也？鳥獸精血往來尾間也。精未通而御女，以通其精，則五體有不滿之處，異日有難狀之疾。陰已痿而思色，以降其精，則精不出而內敗，小便道澀而為淋。精已耗而復竭之，則大小便道牽疼，愈疼則愈欲大小便，愈便則愈疼。女人天癸既至，逾十年無男子合則不調，未逾十年思男子合亦不調，不調則舊血不出，新血誤行，或漬而入骨，或變而之腫，或雖合而難子。合男子多則瀝枯虛人，產乳眾則血枯殺人。觀其精血，思過半矣。</p>

<h2>月經不調論</h2>
<p>論曰：經者常候。謂候其一身之陰陽愆伏，知其安危。故其來必以月，太過不及皆為不調。過於陽則前期而來，過於陰則後時而至。其有乍多乍少，斷絕不行，崩漏不止，亦由陰陽衰盛，寒熱為邪。若寒溫乖適，經脈則虛，若有風冷，虛則乘之。邪搏於血，或寒或溫，寒則血結，溫則血消。故月水乍多乍少，故為不調也。</p>
<p><u>棰仁散</u>　治婦人月水不調，或淋瀝不斷，斷後復來，狀如瀉水。四體虛翕，不能飲食，腹中堅痛，不可行動。月水或前或後，或經月不來。舉體沉重，惟欲眠睡，多思酸物。</p>
<p>桃仁（去皮尖炒）　粉草　半夏（各一兩）　赤芍藥　生地黃（各三兩）　澤蘭葉　川牛膝　當歸　桂心　牡丹皮　人參　蒲黃　川芎（各二兩）</p>
<p>上為粗末，每服五錢。水盞半，姜三片，煎七分，空心溫服。</p>
<p><u>通經取下方</u>　曾經試驗神效。</p>
<p>蛤粉（半兩）　苦葶藶　牙皂（各二錢半）　山豆（略去油）　天花粉（半兩）　苦丁香　紅娘子（各一錢半）　麝香（少許）</p>
<p>上八味以厚紙包裝研為末，每用一錢，蔥涎搗為丸，薄綿裹，以五寸竹管納陰中。候熱時，先通黃水，次則經行。</p>
<p><u>通經丸</u>　治婦人室女月候不通，疼痛，或成血瘕。</p>
<p>桂心　青皮　大黃（煨）　川椒　莪朮　乾薑　川烏（炮去皮）　乾漆（碎之，炒令煙淨）　當歸　棰仁（去皮尖炒。各等分）</p>
<p>上為細末，分為四份，用一份以米醋熬成膏，和余藥末成劑，臼中治之圓如梧桐子，晾乾。每服二十丸至三十丸，淡醋湯下，溫酒亦得。性畏漆者入雞子清和於內，空心食前服。</p>

<h2>婦人論</h2>
<p>夫產育一科，診脈用方不可輕忽。蓋產前之病，其脈貴乎實。產後之病，其脈貴乎虛。產前則為之順氣安胎，產後為之扶虛消瘀，此其要也。抑產育之後，血衰氣弱，宿瘀未盡。飲食起居，梳洗解脫，一有不謹，得病猶甚易焉。凡婦人血氣諸疾，但用四物湯加以炒吳茱萸主之。陰臟加多，陽臟加少，無不效者。若產難，若胎衣不下，若胎損腹中，則入醋夾煎，或生料五積散加芎、歸、縮砂，煎之以水醋，或局方黑神散，用乳香煎湯調下，皆其類耳。此外則有芎歸湯佐以縮砂調理。胎婦腹痛，或胎動下血，更以炒阿膠並熟艾濟之。至若胎婦喘咳，則縮砂、川芎、炒阿膠等分，入生薑、烏梅、紫蘇梗最良。胎婦艱食，則調氣散、枳殼散等分，入縮砂為妙。大小產後，津液涸燥，滯血停流，易至大便秘結，枳殼散加炒桃仁，用蜜水同煎，入醋數沸可也。縮胎之劑，枳殼、縮砂、烏藥所不可無。安胎之劑，阿膠、縮砂、桑寄生又不可缺。婦人多因怒氣傷胎，所以安胎尤莫先於順氣。其於產後發熱，黑神散加川芎、荊芥、入生薑、蔥白尤佳。產後消瘀，黑神散須多服耳。至一七以後，腹中略無疼痛，方可與四物、建中湯輩。服之太早，則補住敗血，為害非輕。</p>

<h2>求子論治</h2>
<p>論曰：《素問》云：天地者，萬物之父母也。陰陽者，血氣之男女也。夫有夫婦，則有父子。婚姻之後，則有生育。生育者，人倫之本也。且男女之合，二情交暢。陰血先至，陽精後沖，血開裹精，陰外陽內，陰含陽胎而男形成矣。陽精先至，陰血後參，精開裹血，陽外陰內，陽含陰胎而女形成矣。若夫受形之易者，男女必當其年。男子二八，精氣溢瀉，必三十而娶。女子二七，天癸至，必二十而嫁。欲其二氣充實，然後交合。交而孕，孕而育，育而壽。倘若婚嫁不時，真氣早泄，未完而傷。是以交而不孕，孕而不育，育而不壽者多矣。以此觀之，男女婚姻貴乎及時，夫婦貴乎益壯，則易於受形也。是父少母老，生女必羸；母壯父衰，生男必弱。誠有斯理。或男子真精不濃，婦人血衰而氣旺，是謂夫病婦疾，皆使人無子。治療之法，女子當養血抑氣，以減喜怒。男子益腎生精，以節嗜欲。依方調治，陰陽和平，則婦人樂有子矣。</p>
<p><u>抑氣散</u>　婦人氣盛於血，所以無子。尋常頭暈膈滿，體痛怔忡，皆可服之。香附乃婦人仙藥也，不可謂其耗氣而勿服。</p>
<p>香附子（炒杵淨，四兩）　茯神（去水，四兩）　橘紅（二兩）　甘草（一兩，炙）</p>
<p>上為細末，每服二錢。食前用沸湯服，仍兼進紫石英丸。</p>
<p><u>紫石英丸</u>　治婦人血弱，子臟風冷凝滯，令人少子。</p>
<p>紫石英（火煅，醋淬十次，二兩）　禹餘糧（火煅，醋淬七次，二兩）　熟地黃（洗）　紫威　辛夷仁　桂心（不見火）　牡蒙　老柏葉（醋炙）　川續斷（酒浸）　石斛（去根）　柏子仁（炒，別研）　川烏（炮，去皮）　川牛膝（酒浸）　芎藭　烏賊魚骨（醋炙）　當歸（酒浸）　牡丹皮（去水）　甘草（炙。以上各一兩）　桑寄生　山藥（銼炒）　食茱萸（炒）　細辛　乾薑（以上各半兩）　人參（三分）　厚朴（制炒一分）　天門冬（去心，一兩半）</p>
<p>上為細末，煉蜜為丸如梧桐子大，每服七十丸，加至一百丸，空心用米飲任下。惡蜜者用醋糊為丸。</p>
<p><u>陽起石丸</u>　治丈夫真精氣不濃，不能施行，是以無子。</p>
<p>陽起石（火煅紅，研極細）　鹿茸（酒蒸焙）　菟絲子（水淘淨，酒浸蒸焙別研）　天雄（炮，去皮）　韭子（炒）　肉蓯蓉（酒浸。以上各一兩）　覆盆子（酒浸）　石斛（去根）　桑寄生　沉香（別研）　原蠶蛾（酒炙）　五味子（以上各半兩）</p>
<p>上為細末，酒煮米糊為丸，如梧桐子大。每服七十丸，空心用鹽湯鹽酒任下。</p>

<h2>惡阻論治</h2>
<p>論曰：《內經》云：陰搏陽別，謂之有子。三部脈浮沉正等無病者，乃知有娠也。妊既受矣，多病惡阻。惡阻者，俗言所謂惡食是也。此由婦人本虛，平時喜怒不節，當風取冷，中脘宿有痰飲。受妊經血既閉，飲血相搏，氣不宣通。遂致心下憒悶，頭暈眼花，四肢沉重懈怠，惡聞食氣，喜食鹹酸，多臥少起，甚則吐逆，不自勝持。治療之法，順氣理血，豁痰導水，然後平安也。</p>
<p><u>參橘散</u>　治妊娠三月惡阻，吐逆不食或心虛煩悶。</p>
<p>赤茯苓　陳皮（去白。以上各一兩）　麥門冬（去心）　厚朴（薑製炒）　白朮　人參　甘草（各一兩）</p>
<p>上㕮咀，每服四錢半。生薑七片，刮竹茹一團，煎至七分，去渣溫服，不拘時。</p>
<p><u>半夏湯</u>　治妊娠心中憒悶，頭目眩暈，四肢怠惰，百節疼痛，痰逆嘔吐，嫌聞食氣，好食鹹酸，多睡宜服。</p>
<p>半夏（湯炮七次，一錢半）　茯苓（六錢）　熟地黃　陳皮（去白）　人參　細辛　川芎　桔梗　白芍藥　紫蘇葉　甘草（以上各一錢）</p>
<p>有客熱，煩渴口瘡，去陳皮、細辛，加前胡、知母。腹冷痢去地黃加桂心。胃中虛熱，大便秘、小便澀，去地黃加黃芩六錢，大黃一錢二分（炮）。上㕮咀，每服四錢，水一盞半，姜七片煎，空心服。</p>
<p><u>旋覆半夏湯</u>　治妊娠阻病，心下憒悶，吐逆不食，惡聞食氣，頭暈，四肢百節煩痛，多臥少起。</p>
<p>旋覆花　芎藭　細辛（去土）　人參　甘草（炙，各半兩）　半夏（湯炮七次）　當歸（酒浸）　乾薑　赤茯苓（去皮）　陳皮（去白。各一兩）</p>
<p>上㕮咀，每服四錢。水一盞半，生薑五片，煎至七分，去渣溫服，不拘時。</p>
<p><u>人參半夏丸</u>　治妊娠惡阻，病溱心，胸中冷，腹痛吐逆，不喜食。</p>
<p>半夏（湯泡七次）　人參　乾薑（各半兩）</p>
<p>上為細末，以生地黃汁浸蒸餅為丸，如梧桐子大，每服四十丸，用米飲送下，不拘時。</p>
<p><u>縮砂散</u>　治妊娠胃虛，氣逆嘔吐不食。</p>
<p>縮砂仁（不拘多少）</p>
<p>上為細末，每服二錢。入生薑自然汁少許，沸湯點服。</p>

<h2>子煩證論</h2>
<p>論曰：妊娠四月六月，多苦煩悶。</p>
<p>按：《醫經》，四月受少陰君火氣以養精，六月受少陽相火氣以養氣，所以如是。又有不拘此兩月而苦煩悶者，由母將理失宜，七情傷感，心驚膽怯而然也。</p>
<p><u>麥門冬湯</u>　治妊娠心驚，膽虛煩悶。</p>
<p>麥門冬（去心）　防風　黃芩　白茯苓（各一兩）　人參（半兩）</p>
<p>上㕮咀，每服四錢。水一盞半，生薑五片，淡竹葉十片，煎至八分，去渣溫服，不拘時。</p>
<p><u>腎著湯</u>　治妊娠腰腳腫痛。</p>
<p>白茯苓　白朮　乾薑（炮）　甘草（各二錢）　杏仁（三錢，去皮炒）</p>
<p>計一兩一錢，銼，作四服。水一盞半煎，空心服。</p>
<p><u>枳殼散</u>　治妊娠食物無度，既飽便睡，以至胞厚胎肥，臨月難產。湖陽公主妊娠七八月服之有效。</p>
<p>蓋唇枳殼（一兩，去穰銼片，麩炒黃色為度）　甘草（五錢，炙）</p>
<p>上為細末，空心沸湯點服，勿登高廁。</p>
<p><u>救生散</u>　安胎益氣易產。</p>
<p>人參　訶子（煨去核）　麥芽（炒）　白朮（銼炒）　神麯（炒）　橘紅（炒）</p>
<p>上六味等分，為細末，每服三錢。水一盞，煎至七分，空心食前溫服。</p>
<p><u>芎蘇散</u>　治婦人妊娠外感風寒，渾身壯熱，眼暈頭旋，心胸煩悶。此藥以發散表邪，其病自安。</p>
<p>紫蘇葉　川芎　白朮　白芍藥　麥門冬　陳皮　乾葛　甘草</p>
<p>上㕮咀，每服用水一盅半，生薑五片，蔥白三寸煎服，不拘時。</p>
<p><u>罩胎散</u>　治妊娠傷寒，大熱，悶亂燥渴，恐傷胎氣。</p>
<p>卷荷葉（焙一兩）　蛤粉（半兩）</p>
<p>上為細末，每服二錢。入蜜少許，新汲水調下，食前服。</p>
<p><u>逍遙散</u>　內加遠志、蘇木、紅花、桃仁、枳殼。治婦人癲狂神效。</p>
<p>上㕮咀，用水一盅，生薑三片，生地黃煎服。</p>
<p><u>薑黃散</u>　治婦人久患血氣，臍腹急痛，嘔逆上喘，困倦無力，煩熱口乾，四肢沉重，赤白帶下，睡臥不安。</p>
<p>薑黃（四兩）　當歸　芍藥　蓬莪朮　牡丹皮（以上各二兩）　紅花（炒）　川芎　官桂　玄胡索（以上各一兩）</p>
<p>上為細末，每服五錢。酒水各一盞，煎至七分，和渣熱服，立效。壯實婦人加川大黃一兩。</p>

<h2>胎前十八證問答</h2>
<p>第一問：妊娠受胎三兩個月，胎動不安者何？</p>
<p>答曰：男女陰陽會通，血氣勻調，乃成其孕。設若下血落胎腹痛，蓋由子宮久虛，血海虛羸，至令胎墮，其危甚於正產。若妊娠曾受此苦，可預服杜仲丸、通靈散等藥以養胎。</p>
<p><u>杜仲丸</u></p>
<p>杜仲（去皮銼，薑汁浸炒去絲）　川續斷（酒浸，各一兩）</p>
<p>上為細末，棗肉煮爛，杵和為丸如梧桐子大，每服七十丸，空心米飲送下，日進二服。</p>
<p><u>通靈散</u></p>
<p>木香（不見火）　芎藭（各二錢）　黑附子（去皮齊炮）　白芍藥　牡丹皮　白朮　乾薑（炮）　黃耆　山藥甘草　熟地黃（以上各二錢）　陳皮（去白，四錢）</p>
<p>上㕮咀，每服四錢。糯米五七粒，水一盞半煎，每日二服，忌生冷。</p>
<p><u>白朮散</u>　治妊娠宿有風冷，胎屢不安，或失將理，動傷胎氣，多損胎墮下，常服保護胎臟。</p>
<p>白朮　川芎（各六錢）　牡蠣（五錢，煅）　川椒（去……並目，半兩，炒放地上盆蓋出汗）</p>
<p>腹痛加白芍藥（一錢半），心痛加川芎（一錢半），心煩嘔吐加半夏（半錢湯炮七次）並細辛（一錢半）。上為細末，用溫酒或米飲調下。如渴，用大麥汁調服，惡阻婦人宜作丸子服，室女帶下亦治。</p>
<p><u>安胎散</u>　治妊娠胎寒腹痛，胎熱多驚，舉動腰痛，滿胞急，卒有所下。或因頓僕閃肭，飲食毒物，感時候寒熱往來，致傷胎臟，並宜服之。</p>
<p>川芎（六錢）　枳殼（六錢，去穰麩炒）　熟地黃（一兩二錢）　糯米（一合）</p>
<p>加金銀花煎。上銼，每服五錢。水一盞半，生薑五片，棗一枚煎，空心服。</p>
<p>又方　用陳皮多年者佳，一兩（洗銼）。上藥以醋炒乾，投水五盞煎至一盞，並服。暖子宮安胎，除鬼氣邪毒，惡氣冷氣，心痛，霍亂轉筋，崩漏帶下，赤白血痢，吐血鼻紅，神效，不能盡述，婦人多因血病，久服必有孕。</p>
<p>第二問：胎動腹痛者何？</p>
<p>答曰：胎動腹痛，其理不一，蓋緣飲食冷熱，動風毒物，或因再交，搖動骨節，傷犯胞胎，其候多嘔。氣不調和，或服熱藥太過，氣血相干，急服順氣藥安胎。不然，變成漏胎則難矣。</p>
<p><u>如聖湯</u></p>
<p>鯉魚皮　當歸（酒浸）　阿膠（炒）　熟地黃（酒蒸）　白芍藥　川芎　川續斷（酒浸）　甘草（炙。各等分）</p>
<p>上㕮咀，每服四錢。水一盞，生薑五片，苧麻根少許煎，空心服。</p>
<p>又方　加乾薑、竹茹，無續斷。</p>
<p>第三問：胎漏經血妄行者何？</p>
<p>答曰：妊娠成形，胎息未實，或因房室驚觸，勞力過度，傷動胞胎，或因食毒物，致令子宮虛滑，經血淋瀝。若不急治，敗血湊心，子母難保，日漸胎干，危亡不久。服人參散主之。</p>
<p><u>人參散</u></p>
<p>人參　黃耆（炙）　阿膠（炒）　青竹茹　木香　甘草　黑附子　川芎　陳皮　葶根　生薑</p>
<p>計一兩二錢半，每服四錢。糯米三十七粒，水一盞熱服。忌生冷、雞鴨魚面。</p>
<p>妊娠下血，四物湯加艾葉一百葉、阿膠，並和作四服。用水一盞半，烏梅少許同煎一盞，趁熱連服。</p>
<p>治胎漏無故下血，腹痛不可忍，或下黃汁稠如漆，如豆汁者，苧根湯主之。</p>
<p><u>苧根湯</u></p>
<p>野苧根（二兩，銼炒）</p>
<p>上用酒一碗，水一碗，以金銀花同煎一碗服。</p>
<p>治經血妄行及鼻衄不止，地黃散主之。</p>
<p><u>地黃散</u></p>
<p>生乾地黃（半兩，酒檑取汁，生者尤佳）　龍腦薄荷（三錢）　甘草（一錢生用）</p>
<p>上二味為細末，新汲水合地黃汁調後藥服。</p>
<p><u>佛手散</u>　在鼻洪十八問。</p>
<p><u>四物湯</u>　加生地黃治鼻衄。</p>
<p><u>桑寄生散</u>　治妊娠胎動不安，下血不止。</p>
<p>桑寄生　當歸　川續斷　川芎　香附子　阿膠　茯神　白朮　人參　甘草</p>
<p>上㕮咀，每服四錢。水一盞半，生薑五片，煎至七分，去渣溫服，不拘時候。</p>
<p><u>膠艾湯</u>　治妊娠不問月數淺深，因頓僕胎動不安，腰腹疼，或胎奔上刺心，短氣。</p>
<p>阿膠　艾葉　熟地黃　川芎　黃耆　當歸　白芍藥　甘草</p>
<p>上㕮咀，每服四錢。水一盞半，生薑五片，棗一枚，煎至七分，食前去渣溫服。</p>
<p><u>安胎飲</u>　治妊娠從高墜下，或為重物所壓，觸動胎氣，腹痛下血。服此藥後，覺胎動極熱，胎已安矣。</p>
<p>縮砂仁（不拘多少，熨斗內炒令熱透，去皮取仁）</p>
<p>上研為末，每服二錢，熱酒調服。不飲酒者，煎艾鹽湯調服，米飲亦可，不拘時候。</p>
<p><u>腹痛方</u>　治婦人因誤服草藥墮胎。</p>
<p>白扁豆（生，去皮）</p>
<p>上為細末，米飲調服方寸匕。若修制不及，濃煎服亦可。</p>
<p><u>阿膠散</u>　治妊娠不問月數深淺，或因頓僕，或毒藥所傷，腹痛不安，或胎上搶心，短氣。</p>
<p>熟地黃（二兩）　白芍藥　艾葉　甘草　當歸　阿膠　黃耆（各一兩）</p>
<p>上㕮咀，每服半兩。水一大盞，姜三片，棗一枚，煎至七分，去渣溫服。</p>
<p>第四問：妊娠面赤，口苦舌乾，心煩腹脹者何？</p>
<p>答曰：蓋緣恣情飲酒，食瓜桃梨李，羊雞面魚膻腥毒物，致令百節痠痛，大小便結澀，可服歸涼節命散主之。</p>
<p><u>歸涼節命散</u></p>
<p>川芎　苧根　白朮　白芍藥　麥門冬　當歸　糯米　荊芥穗　甘草</p>
<p>上㕮咀，每服四錢。水一盞半，煎至七分，入蜜一匙溫服。</p>
<p><u>大腹皮散</u>　治妊娠大小便赤澀。</p>
<p>大腹皮　赤茯苓　枳殼　甘草</p>
<p>上四味研為細末，每服二錢。濃煎蔥白湯調下。</p>
<p>一方　銼作散，用水一盞半，煎至一盞，入郁李仁（去皮尖）一錢半，再煎五七沸，空心連服，通為度。如不通，必大腑熱秘，用枳殼一錢半（炒），大黃二錢（炮），甘草一錢（炙），三味研為細末，作三服，濃煎蔥白湯調下，須臾通。如小便赤澀，腹脹煩熱不得睡，而反倚息，以胞絲戾不得溺者，病名轉胞，服……丸。</p>
<p><u>冬葵子散</u>　治妊娠小便不利，身重惡寒，起則眩暈，及水腫。</p>
<p>冬葵子（一錢）　赤茯（二錢）</p>
<p>上為細末，每服三錢。米飲調服，不拘時，利則住。服如不通，恐是轉胞，加發灰一錢，神效。</p>
<p>飲食如常，小便難，用當歸、貝母、黃芩各四錢，滑石半錢。為細末，煉蜜為丸如梧桐子大，每服一十丸，米飲調服。</p>
<p>曾有妊娠腹脹，小便不利，吐逆，諸藥雜進，溫脾胃寬氣去脹等劑，服之反吐，藥物不轉，加脹滿湊心。驗之胎死腹中，又服諸下胎藥，不能通解，舉家憂惶，因得鯉魚湯。論曰：腳腫俗呼皺腳。亦有通身腫滿，心胸急脹，名曰胎水。遂去妊婦心前衣服，看之胸肚不分，急以鯉魚湯三五服，大小便皆下惡水，腫消脹去，方得分娩死胎，可謂更生之大矣。此證蓋緣懷身腹大，妊婦不自覺，人人皆以謂身娠如此，終不以為胎水病，醫人何以得知。故書此論，病家自當覺察。</p>
<p><u>鯉魚湯</u></p>
<p>當歸　白芍藥（各錢）　白茯苓（四錢）　白朮（五錢）</p>
<p>上㕮咀，每服四錢。用鯉魚一尾，不拘大小，破洗鱗腸，白水煮熟，去魚。每服用鯉魚汁一盞半，生薑七片，橘皮少許，同煎至一盞，空心服。如胎水去未盡，再合服。</p>
<p>第五問：胎冷腹脹虛痛，兩脅虛鳴，臍下冷疼，欲泄，小便頻數，大便虛滑者，何也？</p>
<p>答曰：胎氣既全，子形成質，或食瓜果甘甜，飲冷不時之物，當風取涼，受不時之氣，則令胎冷，子身不能安處，皮毛疼痛，筋骨拘急，手足攣拳，致使母有此危。急服　安胎和氣散　。</p>
<p>訶子　白朮　陳皮　高良薑　木香　白芍藥　熟地黃　陳米</p>
<p>上㕮咀，每服四錢。水一盞半，生薑五片，煎至七分，去渣溫服，不拘時候，忌生冷。</p>
<p>第六問：妊娠心神忪悸，睡里多驚，兩脅膨脹，腹滿連臍，急痛，坐臥不寧，氣急逼迫，胎驚者何？</p>
<p>答曰：胎氣既成，五臟安養。皆因氣悶，或為喧呼，心忪悸亂，致令胎驚，筋滑傷動，四大不寧，急煎大聖散安保胎孕則無危矣。</p>
<p><u>大聖茯苓散</u></p>
<p>白茯苓　麥門冬　川芎　黃耆（蜜炒）　當歸（酒浸，各一兩）　木香　人參　甘草（炙，各半兩）</p>
<p>上㕮咀，每服四錢。水一盞半，生薑五片，煎至七分，去渣溫服，不拘時候。</p>
<p><u>紫蘇飲</u>　治胎氣不和，湊上心腹，脹滿疼痛，謂之子懸。</p>
<p>大腹皮　川芎　白芍藥　陳皮　當歸　紫蘇（以上各一兩）　人參　甘草（以上各半兩）</p>
<p>上㕮咀，每服四錢。水一盞半，生薑五片，蔥白七寸，煎至七分，空心溫服。</p>
<p>第七問：懷孕月數未滿，半產者何？</p>
<p>答曰：本因臟腑虛微，氣衰血弱，病起相感，精氣攻衝，侵損榮衛，月傷胞胎，以致損落，名曰半產。急宜補治，可保安寧，稍緩變成虛癆，不可醫也。</p>
<p><u>安宮散</u></p>
<p>黑附子（炮）　北五味　木香　阿膠　山藥　黃耆　甘草　當歸　熟地黃　赤芍藥（以上各二錢）　生薑（半兩，炒黑）　糯米（一勺）</p>
<p>上㕮咀，每服五錢。苧根三寸，水一盞半，煎至一盞，通口服，忌生冷。</p>
<p><u>芎藭補中湯</u>　養新血，去瘀血，補虛扶危。</p>
<p>乾薑　阿膠　芎藭　五味子（各一兩）　黃耆（蜜炙）　赤芍藥（各一兩半）　木香　人參　杜仲（去粗皮、銼炒）　甘草（炙。各半兩）</p>
<p>上㕮咀，每服四錢。水一盞半，煎至一盞，去渣通口服，不拘時候。</p>
<p>第八問：妊娠小便淋瀝者何？</p>
<p>答曰：本因調攝失宜，子臟氣虛。蓋緣酒色過度，傷其血氣，致水臟閉澀，遂成淋瀝，名曰子淋。宜服安榮散通利小便。</p>
<p><u>安榮散</u></p>
<p>麥門冬　通草　滑石　當歸　燈心　甘草　人參　細辛</p>
<p>上為細末，每服三錢。麥門冬煎湯調服。</p>
<p>又有一證，謂之子淋。如安榮散不止，病恐乃是子淋，卻當用赤芍藥、檳榔各三錢，銼作二服，水一盞半，蔥白一寸，煎一盞，通口服。小便不禁，加桑螵蛸十二枚（炙）為細末，米飲調服立效。小便失遺，用阿膠二錢（粉炒）、牡蠣四錢（火煅）、鹿茸四錢（酥炙）為細末，每服三錢。水一盞半，煎至一盞，空心服細末，米飲調亦可。</p>
<p><u>白薇散</u>　治妊婦遺尿不知出。</p>
<p>白薇　白芍藥（各等分）</p>
<p>上為細末，每服二錢，食前酒調下。</p>
<p>第九問：妊娠下痢赤白者何？</p>
<p>答曰：蓋因冷物傷脾，辛酸損胃，冷熱不調，胎氣不安，血氣凝滯，下痢頻頻，時有時無，或赤或白，腸鳴後重，穀道疼痛，急服蒙薑黃連丸。不問冷熱二證，皆可服之。</p>
<p><u>蒙薑黃連丸</u></p>
<p>乾薑（炮）　黃連　縮砂仁（炒）　芎藭　阿膠（銼蛤粉炒）　白朮（各一兩）　乳香（別研，三錢）　枳殼（炒半兩）</p>
<p>上為細末，用鹽梅二個取肉，入少醋糊同杵勻和如梧桐子大，每服四十丸。白痢乾薑湯下，赤痢甘草湯下，赤白痢甘草湯薑湯下，並不拘時候，忌生冷毒物。</p>
<p><u>當歸芍藥湯</u>　治妊娠腹中疼痛，下痢，心下急滿。</p>
<p>白芍藥　白茯苓　當歸　澤瀉　川芎（各一兩）　白朮（一兩半）</p>
<p>上為細末，每服三錢，溫酒調服，米飲亦可。空心食前服忌生冷。</p>
<p><u>雞黃散</u>　治妊娠下痢，腹中絞刺疼痛不可忍。</p>
<p>用雞蛋一個，頂上啄開一竅，去白留黃。用黃丹一錢，入蛋內攪勻，用紙裹黃泥固濟，入炭火煨熟，取出焙乾，為細末。分作二服，用米飲調下。一服見效是男，二服見效是女，神異如此。</p>
<p><u>玉粉丹</u>　治妊娠下痢赤白，裡急後重，弩咽脫肛，腸解濃血如魚腦。或因傷寒後，餘毒滲入臟間撮痛。</p>
<p>石燕（二錢，火煅醋淬細水研）　輕粉（半錢）　玄胡索（五分）</p>
<p>上為細末，用雞子清為丸如梧桐子大，米飲下三丸。有此危證，若不合服，日深子母俱殆也。其產後並年高氣血虛極老人皆可服，小兒一丸神效，二十服除根。</p>
<p>第十問：妊娠外感風寒，渾身壯熱，眼暈頭旋者何也？</p>
<p>答曰：蓋因風寒客於皮膚，傷於榮衛。或洗頭背，或當風取涼，致令頭目昏痛，憎寒發熱，甚至心胸煩悶，時發狂燥。大抵產前二命所繫，不可輕易妄投湯劑。感冒之初，只宜進芎蘇散發散表邪，其病自愈。</p>
<p><u>芎蘇散</u></p>
<p>紫蘇葉　川芎　白芍藥　白朮　麥門冬　陳皮　乾葛（各一兩）　甘草</p>
<p>上㕮咀，每服四錢。水一盞半，生薑五片，蔥白二寸，煎至八分，溫服，不拘時。</p>
<p><u>太安散</u>　治妊娠傷寒。解其表，調其里，血氣調勻，其病自愈。</p>
<p>麻黃（一錢）　乾薑（一錢，炮）　石膏（二錢，煨）　乾薑（半錢）　茵陳（一錢）　芎藭（五分）　白朮（五分）　甘草（一錢）　人參（一錢半）</p>
<p>銼作三服，水一盞半，蔥白三寸，煎至一盞，通口服。</p>
<p><u>麻黃散</u>　治妊娠五七月感時氣，煩熱口乾，心躁頭痛。</p>
<p>麻黃（一錢）　赤芍藥　柴胡　乾葛（各五分）　甘草（二錢半）</p>
<p>銼作一服，姜二片，水一盞，煎至八分溫服。</p>
<p><u>百合散</u>　治妊娠風壅相交，咳嗽痰多，心胸滿悶。</p>
<p>百合（蒸）　紫菀茸　貝母　白芍藥　前胡　赤茯苓　桔梗（各一兩）　甘草（半兩）</p>
<p>上㕮咀，每服四錢。水一盞半，生薑五片，煎至八分，溫服，不拘時。</p>
<p><u>紫菀湯</u>　治妊娠咳嗽不止，胎不安。</p>
<p>甘草　杏仁（各一分）　紫菀（二兩）　桑白皮（一分）　苦梗（三分）　天門冬（一兩）</p>
<p>上㕮咀，每服三錢。水一盞，竹茹一塊，煎至七分，去渣入蜜半匙再煎，溫服。</p>
<p><u>羚羊角散</u>　治妊娠中風，頭項強直，筋脈攣急，語言謇澀，痰涎不消。或發搐不省人事，名曰子癇，亦宜服之。</p>
<p>羚羊角（銼屑）　川獨活　酸棗仁　五加皮（各半錢）　薏苡仁　防風　當歸　川芎　茯神　杏仁（各四分）　木香　甘草（各二分）</p>
<p>上㕮咀，每服四錢。水一盞，生薑五片，煎至七分，溫服，不拘時候。</p>
<p><u>防己湯</u>　治妊娠中風，口噤、四肢強直反張。</p>
<p>防己（五錢）　羌活（一錢半）</p>
<p>上為細末，用黑豆一合炒煙盡，投無灰酒內，候沸定，以酒調藥，斡開口灌下，稍蘇再灌，省人事。可更於後十七論中選方救治，其有《活人書》產辨。</p>
<p><u>升麻六物湯</u>　治妊娠七月，傷寒壯熱，發赤斑變黑，溺血。</p>
<p>升麻（二兩）　梔子仁（二錢）　杏仁　大青草（如無，遠志苗亦可）</p>
<p>上為細末，分作四服。水一盞半，蔥白三寸，煎一盞溫服。</p>
<p>又方　用好艾多年者如雞子，銼以酒煮濾吃，救妊婦危困。</p>
<p><u>阿膠湯</u>　治妊娠傷寒時疫。先服此藥安胎，然後服治病藥。</p>
<p>阿膠（炒）　白朮　桑寄生　人參　白茯苓</p>
<p>上等分為細末，煮糯米飲調服方寸七。</p>
<p>又方　治妊婦傷寒熱病。用蔥白一握，重三兩，水一升煮爛，吃盡取汗，主安胎。若子死腹中，須臾胎自出也。</p>
<p><u>前胡湯</u>　治妊娠傷寒，頭痛發熱，肢節煩疼。</p>
<p>石膏　前胡　黃芩　大青　甜竹茹　知母　梔子仁（各一兩）</p>
<p>上㕮咀，每服五錢。水一盞半，蔥白三寸，煎至八分，去渣溫服。</p>
<p><u>梔子仁飲</u>　治妊娠熱病，斑出黑色，小便如血，氣急欲絕，胎欲下。</p>
<p>梔子仁　升麻　石膏　乾地黃（各三兩）　黃芩　大青（各一兩）</p>
<p>上㕮咀，每服半兩。蔥白七寸，豉四十九粒，水一盞煎，去渣溫服。</p>
<p>又方　用鯽魚燒灰，酒調服。</p>
<p>又方　治妊娠時疫，傷寒身大熱。護胎令子不落，用灶心土為末，用酒或水調塗臍下二寸闊五寸。更取井底泥傳心下，干又易之，即止。</p>
<p><u>罩胎散</u>　治妊娠傷寒大熱，悶亂燥渴，恐傷胎臟。</p>
<p>卷荷葉（嫩者半兩，乾水者亦好）　蛤粉（細者，二錢半）</p>
<p>上為細末，每服三錢。用新汲水同蜜調，空心服。多合塗臍上亦妙。</p>
<p>第十一問：妊娠瘧疾者何？</p>
<p>答曰：榮衛虛弱，脾胃不足，或感風寒，或傷生冷，傳成瘧疾，急服驅邪散。莫待吐逆，見物不思，卒難治療。</p>
<p><u>驅邪散</u></p>
<p>高良薑（炒）　白朮　草果仁　橘紅　藿香葉　縮砂仁　白茯苓（各一兩）　甘草（半兩）</p>
<p>上㕮咀，每服四錢。水一盞半，生薑五片，棗一枚，煎至八分，去渣溫服，不拘時。</p>
<p><u>《千金》救急方</u>　治妊娠瘧疾不瘥。</p>
<p>常山　石膏（各一兩）　甘草（炙）　黃芩（各半兩）　烏梅（十四個，炒）</p>
<p>上細切，以酒水各一大盞相和，浸一宿，平旦煎至一盞，去渣分二服。</p>
<p>又方　用高良薑三錢，細銼以獖豬膽汁浸一宿，用東邊壁土炒黑去土，用肥棗十二枚去核同焙乾，研為細末，每服三錢。水一盞，煎至五分，遇發熱服神效。</p>
<p>第十二問：妊娠喘急，兩脅刺痛脹滿者何？</p>
<p>答曰：蓋因五臟不利，氣血虛羸。因食生冷，或發熱憎寒，唇青面白，筋脈拘攣，骨節痠疼，皮毛乾澀，上氣喘急，大便不通，嘔吐頻頻，平安散主之。</p>
<p><u>平安散</u></p>
<p>厚朴（去皮薑汁製）　生薑（各二錢）　乾薑（炮）　陳皮（去白，各一錢）　川芎（半錢）　木香（二分半）　乾地黃（洗，一錢半）　甘草（炙，四錢）</p>
<p>上㕮咀，每服四錢。水一盞半，入燒鹽一捻，煎至一盞，去渣通口服，不拘時候。亦宜服紫蘇飲方，載第十六問。</p>
<p>第十三問：妊婦頭旋目暈，視物不見，腮項腫核者何？</p>
<p>答曰：蓋因胎氣有傷，肝臟毒熱上攻，太陽穴痛，嘔逆，背項拘急，致令眼暈生花。加涎壅，危在片時，急煎消風散散之。</p>
<p><u>消風散</u></p>
<p>石膏（煅）　甘菊花（去核梗）　防風（去蘆）　荊芥穗　川羌活　羚羊角（鎊）　川芎　大豆黃卷（炒）　當歸（去蘆，酒洗）　白芷（各一兩）　甘草（炙，半兩）</p>
<p>上㕮咀，每服四錢。水一盞半，入好茶半錢，煎至八分，去渣食後通口服。</p>
<p>又方　石膏（煅）、山茵陳、菊花、防風、荊芥穗、白芷、螺粉各一錢，川芎、阿膠（粉波炒）、甘草（炙）各二錢，木香（不見火）、白朮各半錢，作六服。水一盞，入好茶半錢，煎八分通口服。頭微汗得瘥。</p>
<p>曾有一妊婦將臨月，兩眼忽然失明，燈火不見，頭痛目暈，項腮腫滿，不能轉頸。諸醫治療不瘥，轉加危困。偶得此方對證，合之服，病減七八，獲安分娩。其眼帶吊起，人物不辨，有人云只服四物湯加荊芥防風，更於眼科對第四十九轆轤轉關證，服天門冬飲子。但以此二般藥間服，目漸稍明。大忌酒面，煎炙燒烤，雞羊鵝鴨，豆腐辛辣，一切毒食，並房勞及稍溫藥。如其不然，眼不復明也。蓋此證為懷身娠，多居火閣，衣著褓褥厚蓋，伏熱在裡，或服補藥，因食熱物大過，致令胎熱，肝臟壅極，風衝入腦所致。</p>
<p><u>天門冬飲子</u></p>
<p>天門冬（去心）　知母　茺蔚子（各一兩）　防風（去蘆半兩）　五味子　茯苓（去皮）　川羌活（去蘆）　人參（各七錢半）</p>
<p>上㕮咀，每服四錢。水一盞半，生薑三片煎至八分，去渣食後溫服。</p>
<p><u>瀉肝散</u></p>
<p>麥門冬　大黃（炮）　黃芩　細辛　芒硝（半兩）　玄參　桔梗（各七錢半）</p>
<p>上㕮咀，每服四錢。水一盞煎八分，食後溫服。此方雖非治產難，乃慮後人得此證，不諳此理，誤服補藥，並食毒物，冒犯禁忌，失一身之寶，可不惜哉。故附之。</p>
<p>第十四問：小腹虛脹者何？</p>
<p>答曰：因食硬物傷胎，胎既受病，傳於脾胃，脾胃氣虛冷逼小腹，狀若奔豚。或腰重，大便秘澀，兩脅虛鳴，宜服勝金散溫中下氣，疾即安矣。</p>
<p><u>勝金散</u></p>
<p>吳茱萸（去核梗，酒浸炒）　陳皮（去白）　生薑（焙）　乾薑（炮）　川芎（各一錢半）　厚朴（去粗皮製）　縮砂仁（炒）　甘草（各三錢）</p>
<p>上為細末，每服二錢。鹽湯調服，不拘時候。</p>
<p>第十五問：將產忽見橫倒者何？</p>
<p>答曰：不能忌口，恣情多食，五臟氣滯，六腑不和，胎氣既肥，或用力太早，胎受驚觸。急用瘦胎金液丸，其兒身自順矣。</p>
<p><u>金液丸</u></p>
<p>飛生毛（火燒，如腋下毛尤佳）　血餘炭（無病女人發燒灰）　公母羊糞（燒灰，各半錢）　灶中心土（一錢）　黑鉛（三錢，用小銚子火上溶，投水銀半錢急攪，結成砂子傾出，細研）　硃砂（半錢，別研）</p>
<p>上為細末，用粽子角為丸，如綠豆大。遇難產，急以倒流水吞下五丸，兒身自順則正產，子母活矣。</p>
<p><u>催生鉛丹</u>　治橫逆難產。</p>
<p>黑鉛（一錢，用小銚子火上溶，投水銀二錢急攪，結成砂子傾出）</p>
<p>用熟絹汗衫角紐作丸子如綠豆大，蓐香水吞下。立便生。</p>
<p>上譬如停水滅火，積年無用，偶爾不虞，乃救一時之急也。所謂胎前數證危急，產後亦然，於病勢不無過。慮家有妊婦，正當預備，先合臨產或當煎下，若得幸而無恙。有不須服湯散，必是棄之，其丸所費，亦不為多。</p>
<p><u>治難產如神丹</u></p>
<p>巴三蓖七脫衣裳，細研如泥入麝香，捏作彈丸貼臍下，須臾子母即分張。巴豆三粒，蓖麻子七粒，去殼入麝同研，如無麝亦可。先將此丸於手足心摩了，然後貼臍下。</p>
<p><u>催生如聖散</u></p>
<p>黃蜀葵子（不拘多少）</p>
<p>上為細末，每服二錢，用熱酒調服。如不飲酒，熱湯調服亦可。</p>
<p><u>香桂散</u>　下死胎。</p>
<p>麝香（半錢，別研）　官桂（三錢，末）</p>
<p>上件和勻，只作一服，溫酒調服，須臾如手推下。</p>
<p>第十六問：欲產忽然氣血暈悶，不省人事者何？</p>
<p>答曰：本因用力大過，脈理衰微，精神困倦，心胸痞悶，眼暈口噤，面青發直，命在須臾，急服靈藥。</p>
<p><u>來蘇散</u></p>
<p>木香（不見火）　神麯（銼炒）　陳皮（去白）　麥芽（炒）　黃耆（去蘆）　生薑（切炒黑）　阿膠（銼，蛤粉炒）　白芍藥（各一錢）　糯米（一合半）　葶根（洗淨，三錢）　甘草（炙，三錢）</p>
<p>上㕮咀，每服四錢。水一盞，煎至八分，去渣，斡開口灌，連接煎再灌，知人事可謂更生之也。</p>
<p>第十七問：胎肥臨產難者何？</p>
<p>答曰：身居富貴，口厭甘肥，聚樂不常，食物無度，既飽便臥，致令胞胎肥厚，根帶堅牢，行動氣急。蓋緣不曾預服瘦胎之藥，致於臨產，必是難生。八月可服無憂散則易生矣。</p>
<p><u>無憂散</u></p>
<p>當歸（去蘆酒浸）　川芎　白芍藥（各二錢）　木香（不見火）　甘草（炙，一錢半）　枳殼（去穰）　乳香（別研。各三錢）　血八發灰（一錢半，以豬心血和之）</p>
<p>上為細末，每服二錢。水一盞，煎至八分，日進兩服，不拘時候。</p>
<p>第十八問：坐草驀然氣痿，目翻口噤者何？</p>
<p>答曰：蓋因恣意喜怒，遂致衛竭榮枯，胎轉難動，坐草時用性過多，腹痛又不能熟忍，目翻口噤，面黑唇青，沫出口中，子母俱殞。若兩臉微紅，子死母活。用霹靂奪命丹急救之。</p>
<p><u>霹靂奪命丹</u>　修合時勿令婦人雞犬見。</p>
<p>蛇退（一條，入無磁罐內煅）　千里馬（路上左腳草鞋一隻，淨洗煅灰，一錢）　金銀箔（各七片）　發灰（一錢）　馬鳴退（即晚蠶沙燒灰）　乳香（半錢，別研）　黑鉛（二錢半，水銀七分，依十五問中法）</p>
<p>上為細末，以豬心血為丸如梧桐子大，倒流水灌下兩丸。如灌不行，化開灌效。合時勿令婦人雞犬見。須至誠丸時焚香，每一丸念「救苦天尊」一聲，「救苦觀世音菩薩」一聲。</p>
<p>再問：第十六問與十八問證相類，第十六問中其候面青，第十八問中其候面黑。且面青面黑於倉惶之際，豈能分辨。既不能分辨，何以用藥。其第十八問中唇青沫出口中，子母皆致不救。若兩臉微紅，母卻得生。故書以別之，幸詳審用。</p>
<p>妊娠得病用附子等劑，醫家之意，惟恐墮胎。且如服他藥不效，復一日因循養成大病，以致子母皆殂，可謂枉夭，其家真不幸耶。是謂愛指失掌，豈不能救母哉。如若有醫家更以問方對證，參考用藥治療，終不致於俱殞也。</p>
<p><u>催生奪命如神丹</u></p>
<p>牡丹皮　枳殼　赤芍藥（各一錢）　蟬退（二錢）　青皮　阿膠（炒）　甘草（炙）　五加皮　蕓薹子　管仲　蠶退紙（火炙焦七味。各半錢）　花蕊石（半錢，火煨）　乳香（一字，別研）</p>
<p>計九錢一字細末，煉蜜丸如彈子大，臨坐草細嚼，棗湯下。</p>
<p><u>正產催生方</u></p>
<p>蛇蛻（一條，洗，焙乾緊卷，以蚯蚓糞裹，燒黑去土邊藥，去土不盡不妨）</p>
<p>細末，溫酒調服，先覺熱悶，只以新汲水調白蜜服。妊娠因事跌磕，子死腹中，惡露妄下，疼痛不已，口噤欲絕，用此藥探之。若子死腹中，立便逐下。若不死，腹痛止，則子母俱安。</p>
<p><u>佛手散</u>　皆救。</p>
<p>當歸（一兩，酒浸）　川芎（七錢，洗）</p>
<p>細銼作四服。水一盞，煎泣欲干，投酒一盞半，煎五七沸，去渣溫服。如口噤，斡開口灌，如人行五里再灌，盡四服便省，立產神驗。妊娠臨產難生或胎衣不下，產後血暈，不省人事，狀如中風。血崩惡露不止，腹中血刺疼痛，血滯浮腫。血入心經，語言顛倒，如見鬼神。血風相搏，身熱頭痛，或類瘧疾，胎前產後，一切危急，狼狽垂死。</p>
<p><u>黑龍丹</u>　灌三四丸救活。</p>
<p>當歸　五靈脂　川芎　高良薑　生乾地黃　五味（各二錢）</p>
<p>計一兩，細銼入砂罐內，紙筋鹽泥固濟，炭煅過紅，去火滅冷，取出細研入後藥。</p>
<p>百草霜（用燒茅根草鍋底，一兩）　硫黃　乳香（各三錢）　花蕊石（火煅）　琥珀（各二錢）</p>
<p>上五味一兩一錢細末，米醋煮，麵糊為丸如彈子大。如要服用，炭火燒藥一兩丸，通紅投入生薑自然汁浸焠，以無灰酒併合童子小便頓服，神效不能盡述。</p>
<p><u>催生如聖散</u></p>
<p>黃蜀葵花（去帶萼若葵子尤妙）</p>
<p>焙乾為細末，溫酒調服，熱湯亦得。曾若漏血胎臟，連吃三服，覺腹中氣寬胎。</p>
<p><u>下死胎方</u></p>
<p>桂末（三錢）　麝香（當門子一個或半個）</p>
<p>和勻溫酒服，須臾如手推下。</p>
<p>張華《博物志》曰：妊娠必謹所感，感於善者生子必善，感於惡者生子必惡。故不欲令見惡物，異禽毒獸。切忌食驢、馬、犬、兔、龜、鱉、鵝、無鱗魚、黏膩難消化物，蕈姜乳餅之屬。用醬和藿食，損胎難產。惟務間靜，動止有節。三個月之後，聽誦經典詩書諷詠靜處調心，目不視惡色，耳不聽惡聲。如此生子必賢明端正，忠孝壽考也。</p>
<p>楊氏曰：凡妊娠，臟腑筋脈濡滯，關節壅塞，切忌晝寢，日間難產。睡胎不轉，必不可等閒，服藥針灸，思慮悲憂，驚恐胎孕，須要頻停步寬緩，日行三千步。用溫水濯足澡浴，不可入盆，防水氣傷胎，可保無危。八九個月，食葵菜。臨產宜軟粥飲，或煮雌雞，取汁煮粥，溫溫飽食，則氣順下，必易分娩，自然無病。飢渴氣乏，大冷大熱物損胎。</p>
<p>又曰：生產最是大事，婦女多未明曉。下愚嬋妾，庸俗婆娘，論理多端，妄談休咎，反使妊婦憂慮疑惑，宜須即退，亦不可使人知。但用老人親人照顧供送為上，醫人亦然。</p>
<p>王氏《脈經》云：產育人倫，莫不愛重。今世希見論者，且謂夫婦配合，陰陽奇偶，乾道成男，坤道成女，天元一氣，既已妊娠，自可將護胎息，無犯禁忌，生子必賢壽考。令人嗜欲為樂，輕棄性命，反又房勞，如鳥獸御之亦有時。蓋房勞絡滿而經脈虛，運動之間，胎氣亦隨經絡所換，難產傷胎墮子皆從此得。然間有降生，必孛惡壽夭，則患生驚變。生諸驚變，生諸病，藥難救療，豈不痛哉。產後百日內禁忌同。若不信，如犯之，產婦必死。醫當戒諭，庶得用藥見效。孫真人云：大率妊娠，唯在抑陰助陽。《素問》云：陰搏陽別，謂之有子。蓋關前為陽，關後為陰，尺中之脈，按之搏手而不絕者，妊子也。婦人平居，陽氣微盛無害，及其妊子，則方閉經，隨養胎氣。若陽盛搏之，則經脈妄行，胎乃不固。《素問》云：陰虛陽搏，謂之崩。其抑陽助陰之方甚多，然胎前藥唯惡群隊，若陰陽交雜，別生他病。唯是　內補丸　佐之，使陽不至強，陰不至弱，陰陽調勻，有益胎嗣，此前人未當論及方。</p>
<p>熟地黃（四兩，酒蒸）　當歸（三兩，酒浸）</p>
<p>焙乾為末，煉蜜丸如梧桐子大，每服五十丸，溫酒空心下。</p>
<p>楊子建《小產》云：小產大產，婦人之常。然其間多有小產後染成大疾，忽月經斷，宮臟虧損不禁，或血積成癥，歲月久深，傾損性命。往往輕其小產，此乃自不將息所致也，而不知小產後將息當過大產十倍。其大產只是大臟室虛，其小產則是肌肉腐爛。常切喻之，大產如果中之慄，待其成熟則殼口自開，慄自墮，是子與殼而無損傷。懷胎十月已滿，陰陽氣足，子宮自開見生。若月未足，動靜誤失，至令胎損，胞系腐爛，然後胎墮。如人拆生慄，碎其皮殼，就中斷其根蒂取慄，此小產之喻也。以其胎臟損傷，胞系斷爛，而後胎下，則小產之人，其將息豈得不過於大產十倍者哉。大產之後，補虛臟，生好血，化惡血，保臟氣，去風邪，無不安矣。小產之後，補虛生肌肉，益氣血，詢其所因，解其病，去風邪，養臟氣，加倍將息過於大產，方能平復。籲世人多輕小產而不將養，因至百病蜂起，傾危不可勝數，豈不惜哉。若在年幼之人小產，而尊長知有此，切須寬容將息，以全人命。更得良醫，即喻於人，幸莫大焉。妊娠發搐名曰子癇，宜　漢防己湯　主之。</p>
<p>漢防己　牡丹皮　貝母　葛根　防風　當歸　川芎　茯苓　澤瀉　肉桂　甘草（炙。各一錢）　獨活　人參　硬石膏（各一錢）</p>
<p>為末，每服挑五錢。水一盞，煎七分溫服。加竹瀝法在第十七論。</p>
<p>霍氏曰：妊娠臨產覺腹痛，切宜孰忍，不得強力逼迫，及至產時，已自氣乏。仍不得令多人知，又不得妄談休咎，驚惶產母之心。但覺腹痛漸加，不得便將妊婦坐草，多至損傷及諸般所苦，皆因坐草所致，切宜戒之。且令人扶策緩緩行動，懸掛繩帛，令攀倚時行時立，如不能進步，但扶之，尤勝坐草。切忌才覺腹痛，便令坐草，此理令乖產也。譬如竊娠偷生，俱獲平安。蓋緣不敢恣意坐臥，日行忍痛，無人逼迫，氣順易產矣。產室冬不可極熱，夏不可極涼，但四圍固密，免致生病也。凡言滿月，是首尾三個月，非三十日也，俗習謬誤深久。至於宴賀喜怒，憂恚悲愁，勞役房事或因鹹酸飲食不節，立至生病。犯事微若秋毫，感病大於山嶽，艱於治療。切須禁戒保持，方可平復。</p>
<p>楊子建曰：懷妊七八個月，忽然臍腹疼痛，有如欲產，便卻安靜，名曰試月。切不可坐草，令人抱腰，使妊婦妄亂用力。然而疼痛，須候胎兒身順，臨逼門戶，方使用力一送便生。若未見胎兒身順，如用力太早，妄投藥餌催生，譬如拔苗助長，非惟無益，又且反有損害，名曰傷產。</p>
<p>正產之後，腰腹作陣疼痛，相次胎氣頓陷，至臍連腰重痛，穀道挺迸，漸見漿水先破，血下則兒身順生矣。若老孃生疏謬見，反誤母子，可先取慣熟者問評，如惑偏說，遣之別倩。</p>
<p>又論產訖舉家欣喜，多是聚觀生兒，遺忘妊婦，失顧產母，以致血暈損身，此乃老孃之過也。是時老孃然雖照管生兒，蓋產家往往不諳此理，又不謂這一證壞人最快，使人悼恨無已。其大產小產，老孃當急發產家，令人專一看守產母，頻頻叫醒，勿令睡著，時時以炭醋令吸鼻中。才見運悶，急燒乾漆火煙沖醒，隨後檢方進藥。如其不然，更無生理，別無救法。家有娠婦，可不介意，以備常常。</p>

<h2>總論</h2>
<p>夫人之受胎，陰注陽生，造化已有定分，豈容一毫人力於其間耶。切聞有以命書究其吉凶克害，臨產之際，私心意謂時乖，故不令坐草。驀遇胎轉，便為時良，催發坐草急產。意迎就好時而避惡時，殊不知妊婦欲產不得產，未當產而強取生，以主蹉跌逼迫，使產母不勝痛憤而失全生，豈有巢毀而卵不破乎。又如顧指失掌，掌既失指何存焉。世之詳命書者，心雖自愧，不可追悔。但以數終藉初舉之意而殞者，只得聽其不率哀哉。大凡懷孕，雖云十月之胎，有七八月而先產者，或過月而方生者，如堯母懷之十四月，乃婦稟受氣血強弱之不同，蓋猶命書所謂，五行欲其自足勿有胎元者是也。且晝夜十二時分作百刻之數，氣息一萬三千五百，呼吸之間，便生賢愚，安可力取時好惡而避貧奪富哉。然命亦曰：人之在幼，禍福未明，當考目擊之端倪，驗作他年之徵兆是也。已生之人，猶不可前知休咎，況以未生之子，伺候好時，預定貴賤可乎。若如所欲，則是不由造物反由人。嗜命書者，故當窮其造物限量之數，察其天地盈縮之理，無以偏見而枉殺人。胡不聞竊娠偷生，兩獲康寧者何？蓋無他阻傷犯，得任情性生於自然也。今若為誠言，初宜戒之，若以為狂言，聽其為之，且聞之者尚不寒而慄，奈母子何。為之者，後雖悟歿於非命，然已獲殺人之過，陰譴亦自難逃。余竊思之，可謂恩生於害而恩未生則害先至深矣。籲，可畏哉。又有盤腸獻花產者，醫書不述其事，然亦可驚。有臨分娩產腸先出，兒即隨產，俗用冷水噴產母面，其腸自收。此法虛弱之人切不可用，恐驚怯或病或即脫絕。舊法以蓖麻子四十粒研爛塗腦頂，自然收上，如收了即以水洗去頂上蓖麻子。又有久而其腸為風吹乾不能收者，以磨刀水少許，火上溫過以潤盤腸，煎好磁石湯一杯，令產母服，自收。</p>
<p>又難產證狀並方法，凡臨產必須揀擇老練收生之人，苟非其人，多夭人命。生理不順，其狀甚多，詳其如後。</p>
<p>一橫生：謂兒先露手或臂者。治法當令產母安，令仰臥。收生之人徐徐先推兒下截，令直上，漸通手，以中指執其肩，推上而正之，漸引手攀其耳，令頭正順。候兒身正，門路順，卻投催生符藥安詳之，上草自然易產。</p>
<p>二逆產：謂兒先露足者。治法亦令產母仰臥，分毫不得用力，亦不得驚恐。收生之人徐徐推其足，就一邊直上，候兒自順下，直待良久。若不順，又漸漸推兒頭就一邊，令其順下，直待兒身轉順，門路正，當投下催生符藥即產。</p>
<p>三偏產：謂兒頭偏往一旁，雖逼近產門，初分小露正頂，止露額角者。治法亦令產母仰臥，收生之人輕輕推兒近上，以手正其頭，令兒頭頂端正向產門。又有兒頭後骨偏往穀道者，當以綿衣炙焙令熱，裹手急於穀道外傍徐徐推之，漸漸近上，然後上草。</p>
<p>四礙產：謂兒頭雖正產而不能生下者，或因兒轉，臍帶攀掛其肩，致不能生者。治法令產母仰臥，收生之人輕手推兒近上，徐徐通手引中指按兒兩肩，理脫臍帶，兒正即產。</p>
<p>五坐產：謂兒將欲生，產母疲倦不能行立，久坐椅蓐，抵兒生路不下生者。治法當從高處懸吊手巾，或絹帛一條，令產母手攀，輕輕屈足，良久兒即順生。</p>
<p>以上五般手法，若收生之人非心氣平和，精良妙手，切不可依此法施為。恐不得其人，恣其粗愚，因而傷命，當擇坐婆，小心良善之人，宜直言叮嚀，詳盡其意。凡有臨產，先令產母吃少粥食，安詳上草，痛陣連並用力一送，兒即下矣。今具各方於後。</p>
<p><u>治孕婦大便秘澀方</u></p>
<p>枳殼（去白麵炒三兩）　防風（去蘆，二兩）　甘草（炙，一兩）</p>
<p>上為細末，沸湯點一錢食，日三服。</p>
<p><u>治兒在腹中哭方</u></p>
<p>上以多年空屋下鼠穴中土，令產母噙之即吐。</p>
<p>又方　川黃連濃煎汁，令母呷之。</p>
<p><u>治兒如抱壅方</u></p>
<p>茱萸　川烏　秦艽　柴胡　白殭蠶（直者，洗）　巴戟（生用）　巴豆（去殼不用油者）　芫花（醋煮。各一兩）</p>
<p>上為細末，煉蜜為丸如梧桐子大。每服七丸，蜜酒吞下，取出惡即愈。</p>
<p><u>治橫倒生手足先出者方</u></p>
<p>葵子（二合）　黃明膠（一兩）　滑石（末一兩）</p>
<p>上水一盞半，煎一盞，去渣分作二服。</p>
<p><u>治逆產腳先出者方</u></p>
<p>烏蛇蛻（一條）　蟬蛻（十四合）　血餘（一個，即胎髮）</p>
<p>上三味，燒灰分作二服，溫酒調下，並進二服，仰臥，霎時兒即順生。或用小絹針於兒腳心刺三五刺，急用鹽少許塗，刺去即生，母子俱活。不用針刺用谷尖亦好。</p>
<p><u>治產五七日不下垂死者及矮石女交骨不開者方</u></p>
<p>取自死干龜殼酥炙，無酥用醋炙，及用生男女多者婦人頭髮一握（燒，存性，用）芎歸湯同煎服，屢效。約人行里生胎，死胎俱下。無自死龜殼用淮浙間鑽龜廢殼亦好。</p>
<p><u>催生方</u>　隨其便而用之，但是末藥並要順研。</p>
<p>上用清油同蜜等分，入湯少許調，頻服之。</p>
<p>又：黃葵花（不以多少），陰乾為末，每服一匙，頭熱酒調下。無花用子，微炒研末，湯酒隨意服，亦下死胎。又：蛇含石火煅醋淬七次為末，每服一錢，醋湯調下。又：乳香用燈心同研細，不用燈心卻將蛤粉炒，去粉，二味不以多少以豬心血為丸如雞頭子大，硃砂為衣，每服一丸，令酒磨下。</p>
<p><u>至成催生丹</u>　治產婦生理不順，產育艱難，或橫或逆。</p>
<p>臘月兔腦（隨去皮膜，研骨如泥滴）　乳香（二錢半，別研）　母丁香（研末，一杯）　麝香（一字，另研）</p>
<p>上拌勻，三味以兔腦和丸雞頭子大，油紙密封收之。每用服一丸，溫水下。隨兒男左女右，手握藥出。留藥洗淨再收，可三次催生。如死兒必一取在頭上出也。</p>
<p><u>催生雄黃丸</u></p>
<p>硃砂　雄黃（各一杯半）　蓖麻子（十四個，去皮）</p>
<p>上為細末，漿水飯和丸彈子大。臨產時，先用椒湯淋洗臍下，次安藥為臍內，用醋紙數重傳藥上，以闊帛系之，須臾即生，急取下藥（一丸可用三遍）。</p>
<p><u>催生神效柞木葉湯</u></p>
<p>柞木葉（連莖梗）　甘草（各一握）</p>
<p>上水三升煮升半，坐草時就房內暖溫，通口服一二盞。自在坐草，不得亂用手法。如橫生倒逆或死胎爛脹腹中不下者，並服數盞，自然生下。</p>
<p><u>治妊娠熱病心悶欲絕方</u></p>
<p>葛根（研取汁，二升）</p>
<p>分作三服。</p>
<p><u>治胎動出血產門痛方</u></p>
<p>黃連（為末，酒服一杯）</p>
<p>日進三服。</p>
<p><u>治漏胎下血不止胞乾子母即死急救方</u></p>
<p>生地黃（汁一升）　酒（五盞）</p>
<p>上二味煎三五沸，分三服，或地黃末溫酒調服。</p>
<p><u>治產難方</u></p>
<p>石燕（一對）</p>
<p>令產母左右手各持一隻，合手，不問生死胎即下。</p>
<p><u>治產難胞衣不出兒死腹中欲絕方</u></p>
<p>半夏　白朮（各一兩）</p>
<p>上二味治下胎，酒服一錢，若產難只一服，橫生二服，倒生三服，兒死四服，加黛赭、瞿麥各二兩。</p>
<p><u>催生方</u></p>
<p>蜀葵子（四十九粒）　滑石　白芷　百草霜（各三錢）</p>
<p>上為末，雞子炒，酒調空心二服，如人行五里即下。</p>
<p>又方　於婦人坐草時，令人路上尋草鞋一隻，取耳燒灰，木香湯調服，若能飲酒調三錢。其草鞋若遇得左足者生男，右者生女，覆者兒死，側者有驚，此雖非切要，催生極妙。</p>
<p>又方　用好京墨新汲水濃磨服之，墨水裹兒下。此潘助教嘗用效。</p>
<p>又方　用敗筆頭二個燒灰，以藕蒂節研自然汁，溫酒調下，立效。</p>
<p>又方　見兒面而未下，挑灶中對鍋底下磚下黃土，此小為末，井花水調下，余者搽產母臍中即下。</p>
<p><u>治橫逆生或手足先出方</u></p>
<p>用菟絲子、車前子末酒調下二錢。</p>
<p>又方　取其父名書兒足下，即順生。</p>
<p><u>治母死子不出法</u></p>
<p>用水銀如彈子大，斡開口灌之，扶令坐，食頃又扶令倚立，子即出矣。</p>
<p><u>治子死腹中不出方</u></p>
<p>用瞿麥（二兩），銼碎，水八盞，服一盞，未出再服。</p>
<p>又方　用蓖麻子一百粒（去殼），雄黃二錢，一處研成膏，攤紙上，貼母右腳心，先貯冷水一碗，才下急洗去，未下再貼，亦治胎衣不下。</p>
<p>又方　紅花酒煮汁，服二三盞。</p>
<p>又方　灶心黃土末，酒服二錢，鍋底墨亦得。</p>
<p>又方　以牛糞塗腹上。</p>
<p><u>治胎不下方</u></p>
<p>用米麥赤小豆同煮濃汁服，立出。</p>
<p><u>催生極效真秘方</u></p>
<p>用千人踏，即路旁邊東廁上兩足所踏板上泥土，以竹篦颳起，研篩去沙，加麝香少許，擂早米飲飯丸如櫻桃子大，瓦罐封收，直候產婦坐草時痛至甚，順取長流水送下，不可服藥太早。</p>
<p><u>龍蛻散</u>　治橫生逆產。</p>
<p>蛇蛻皮（罐子內泥固濟，燒存性）</p>
<p>上為細末，每服二錢，榆白皮煎湯調下。凡產不順，手足先見者，溫水下一錢匕，仍用傳兒手足即順。亦治吹乳。</p>
<p><u>二神湯</u>　治橫逆生、瘦胎，又治產前產後虛損，月水不調，崩中等疾。</p>
<p>百草霜　香白芷（各等分）</p>
<p>上為細末，每服二錢。童子小便、醋各少許，調熱浸化服，不過二服，神效。</p>
<p><u>治難產日月未足腹痛如迸者方</u></p>
<p>用知母為細末，丸如雞頭子大，溫酒化服。</p>
<p><u>下死胎方</u></p>
<p>桂末（二錢）　麝香　當門子（一粒）</p>
<p>上研為細末，溫酒服下。</p>
<p><u>治產難神驗方</u></p>
<p>以皂角末少許吹鼻中令嚏，兒即下。</p>
<p><u>治逆生方</u></p>
<p>用鹽塗兒足底，又可急搔抓之。</p>
<p><u>治子死腹中方</u></p>
<p>用雌雞糞二十一枚，水二升五合，下米作粥食，即下。</p>
<p><u>下死胎取胞衣產後去敗血推陳致新方</u></p>
<p>用朴硝二錢，溫童子小便調服。</p>
<p><u>瓜蔞散</u>　治死胎，其證指甲青，舌青脹，口中臭者。</p>
<p>瓜蔞根一味，焙為末，每服二錢，取順流水調下。</p>
<p><u>胎衣不下方</u></p>
<p>皂角刺（不以多少，燒灰，為細末），每服一大錢，溫酒調下。</p>
<p>又方　甜蔞實一個，取子爛研，蘇木等分，酒及童子小便各半盞，煎七分服，亦能下死胎。如不飲酒，只用小便亦可。</p>
<p>又方　用產母鞋底，火炙熱熨大小腹，上下三次。</p>
<p>又方　用五靈脂（揀去砂石及鐵屑之類，一半生），為細末，每服二錢，酒調下，亦治惡血衝心。</p>
<p>又方　浸苧水濃者溫服二碗即下。</p>
<p><u>催生方</u></p>
<p>老鴉酸草生用，不以多少，臨產時入砂盆內搗爛，不可福布攪，取汁半盞，順流水半盞相和，火上溫過服之。於五月五日採取，陰乾為末收起，臨產調服。</p>
<p><u>治產婦腹脹腫痛不可忍方</u></p>
<p>上方煮鼠黏根為飲，一服即愈。</p>
<p><u>返魂丹</u>　治婦人胎前產後諸疾危證。此係吉安文江高師禹備方，禮水明醫而得之，後施此藥獲安而得活者多人，能依法合施亦陰德也，其效神妙。</p>
<p>上用赤前野天麻葉，開紫花，如紅蓼花名茺蔚子是也，又名益明，又名大禮，又名真尉，又名益母。四月五月採取，陰乾用葉及花子，磁器內研為細末，煉蜜丸如彈子大，隨後治證嚼服。其根燒存性為末，酒調服，功與黑神散不相上下。胎前臍腹作痛，或作聲者溫米飲下。</p>
<p><u>二治催生方</u></p>
<p>川芎　當歸尾　芍藥　生地黃　熟地黃　滑石　葵子（四十九粒，研末）　枳殼　肉桂　甘草　木通。</p>
<p>上用順水煎，不拘時服。</p>

<h1>下卷</h1>

<h2>郭稽中產後二十一證論評方</h2>
<p>第一論：曰熱病胎死腹中者何也？</p>
<p>答曰：母因患熱病，至六七日以後，臟腑極熱，熏蒸其胎，是以致死。緣兒身死，不能自出，但服黑神散暖其胎，須臾胎氣暖即自出。何以知其胎之已死，但看產母，舌青是其候也。</p>
<p><u>黑神散</u></p>
<p>桂心（不見火）　川當歸　芍藥　甘草（炙）　乾薑（炮）　生地黃　黑豆（炒去皮，各一錢）　黑附子（三錢，炮）</p>
<p>計八錢半，細末，作四服，空心溫酒調下。</p>
<p>評曰：妊娠重身，二命所繫，將理失宜，皆能損胎，不特因熱熏蒸所致。如未出，切恐因頓僕驚怕，出入觸冒，或有癥瘕積聚壞胎者，其候亦舌青子死，乃是敗血作熱內攻，以致昏厥，命在須臾。四物湯加黃芩急煎並三服救之。若覺曾驚僕腹痛不能忍者，必是懷胎敗血所致。可先服黑神散，痛稍定方令上草，自無慮矣。或若先以佛手散探之，方在胎前第十八問後篇。又牛膝湯亦治，方在後第三論中。</p>
<p>第二論：曰難產者何？</p>
<p>答曰：胎側有成形塊為兒枕，子欲生時枕破，敗血裹其子，故難產。但服勝金散逐其敗血即自生。若逆生橫生，並皆治之。</p>
<p><u>勝金散</u></p>
<p>真麝香（少許研多亦好）　鹽豉（一錢）</p>
<p>乃豆咸豉以舊青布裹，燒紅急研細相合，燒秤鎚酒淬調服。</p>
<p>評曰：不只是胎側有兒枕破與敗血裹凝，其如橫逆，因坐草大早，努力過多，兒轉未及。若以破水出，其血必干，亦致難產。若露腳謂之逆，露手謂之橫，當以針微刺自縮。若產門已露頭髮，兒未得出，急令老孃覷探，恐是臍帶攀住兒肩，此非藥療可擬，宜分開臍帶，產母打噴嚏自生。</p>
<p>又法　用單被蓋產母自頭至腰，少時溫揭去，得氣頓通立生。若先多服神應黑散以固其血，兒身自轉生，並無前件難證。更煉蜜新汲水調吃，鎮在心頭，永無血悶之厄。</p>
<p><u>神應黑散</u>　臨產雖無事，亦可先服。</p>
<p>百草霜（燒竹茅根鍋底墨）　太平白芷（不見火）</p>
<p>等分細末，挑三錢好醋調入童子小便湯浸一服，橫生逆生甚者再服，立生。更有鉛丹方在胎前第十五問中。並有黑龍丹方在前十八問後。</p>
<p>又法　助生，以牛糞洗內，揀豆一顆擘一片，書父入字，書子出字，再合豆水吞下。</p>
<p>又法　先晚產母常著衣一件蓋灶頭，免胎衣不下之意。</p>
<p>又法　偷剪鍾馗左腳，燒灰水下。</p>
<p>又法　尋左腳舊草鞋底，燒灰三錢水下。</p>
<p>又法　不作聲將花錢倒提廁前，頂禮倒燒急回。</p>
<p>以上五法，用試一二神驗，不可不作。</p>
<p>第三論，曰胎衣不下者何？</p>
<p>答曰：母生子訖，血流入胞衣中。衣為血所脹，是故不得下。治之稍緩，脹滿腹中，以攻上衝，心胸疼痛喘急者，但服奪命丹以逐去衣中之血，血散脹消，胎衣自下。</p>
<p><u>奪命丹</u>　胎前先合第六論皆因。</p>
<p>大黃（四錢）　黑附子（二錢炮去皮）　牡丹皮（四錢）　乾漆（一錢，炒煙盡，研入藥丸）　雞子白（制，恐脹胃生瘡）</p>
<p>為末同膏子入雞子白搗勻，梧桐子大，溫酒急吞五七丸。如未下，有　牛膝湯　急服立下，若子死不出亦下。</p>
<p>牛膝（一錢，洗）　瞿麥（一錢）　滑石（二錢）　川當歸（洗）　木通（各一錢半）　葵採子（一錢二分半，如無，黃蜀花或子亦可）</p>
<p>計八錢二分半銼末，分作二服。水二盞半煎一盞服，宜預備修合。</p>
<p>洪氏方云：胎衣不下，合諸血奔上衝心，遂致不救。有產前失血過多，胞衣乾澀，亦不下。庸醫不省，例用破血藥，卻不知血盡轉澀。舊有產婦胎衣不下，呻吟楚痛，聲不可聞，忽有人教之，用苧麻或根煎水吃兩碗，致而得嘔吐，其胎衣便下。或用乾荷葉濃煎湯一盞，服立下。</p>
<p>楊氏云：或因胎臟積熱，才覺胎衣不出，急令人於產婦後，以兩手當心前交指抱心挾定，提防胎衣湊心，奔從口出，大有所損。急進下胎衣藥，抱心人須寬手放藥下，緣慣產婦多輕易不可不防。又有數日不得分娩，或死胎，或胎衣不下，急用蓖麻子七粒去殼研爛，塗兩腳心，下了急洗去蓖麻子。小產同用。</p>
<p>第四論：曰產後血暈者何？</p>
<p>答曰：產後氣血暴虛，未得安靜，血隨氣上，迷亂心神，故眼前生花，極甚者令人悶絕，不知人事，口噤神昏氣冷。醫者不識，呼為暗風。若作此治，病必難愈，但服清魂散自瘥。胎前預備。</p>
<p><u>清魂散</u></p>
<p>澤蘭葉　人參（各六錢）　荊芥穗（一錢半）　川芎（六錢二分半）　甘草（半兩）</p>
<p>計五錢細末，作三服。酒湯各半盞調，急灌下，喉眼開氣省人事。其證危險，急燒乾漆，大煙沖醒，隨後進藥。</p>
<p>評曰：產後眩暈，頃刻害人，設使清魂不省，必是出血過多虛極也。急用芎藭湯救之。急問老孃，出血過多，便服此藥。若產血如常，花蕊石散治之。</p>
<p><u>芎藭湯</u></p>
<p>芎藭　川當歸（各六錢）</p>
<p>計一兩二錢，分作四服。水一盞半煎至七分，熱服，併合再服。</p>
<p><u>獨行散</u>　專治血暈迷悶。</p>
<p>五靈脂（不夾石溫者，六錢，半炒半生）</p>
<p>細末挑三錢熟水下，口噤以尺斡開灌下，神效。</p>
<p><u>花蕊石散</u>　救產後氣欲絕，緣敗血不盡，迷暈，子死腹中，或胎衣不下至死。</p>
<p>急挑三錢，童子小便調服，取下惡物如豬肝，終身不患血疾。如膈上有血，化為黃水吐出，或小便中出。若先下胎衣，則泛上藥不能達，如先救血悶，則尋常藥無此兩全之功。預備臨期，恨無此藥，連手不救，不問大產小產過完，急挑三錢，童小便或酒調服，可保無慮。若倉皇未辨間，急燒漆器猛煙沖，產婦即醒。雖無事，晝夜亦略燒醋炭沖之，仍令高枕，頻頻叫醒，勿令睡重，亦不與多語。此一證，人命如風燭，若不頻救，必致血暈而死。醫者先喻產家，得免橫夭，陰功有歸也。如家有孕婦，當預備，蓋小產亦有血暈惡證。</p>
<p>第五論：曰產後口乾痞悶者何？</p>
<p>答曰：產後榮衛大虛，血氣未定，食麵太早，胃不能消化，面毒結聚胃脘，上重胸中，是以口乾燥渴，心下痞悶，醫者不識，認為胸膈壅滯，以藥下之，其證轉盛，但服見現丸立愈。</p>
<p><u>見現丸</u></p>
<p>薑黃　京三稜（炮）　蓽澄茄　良薑　人參　果州陳皮（小薄辣者，去白）</p>
<p>計一兩五分為末，薄切蘿蔔，搗爛研細，將汁煮麵糊丸如梧桐子大，每服三十丸，蘿蔔或子煎湯下。</p>
<p>評曰：如服未效，恐不因吃麵，是內積憂煩，外傷燥熱，飲食甘辛，亦使口乾痞悶。當問病家，察時調治。若心煩，四物湯去地黃加人參烏梅。若外傷燥熱，又恐是乳欲行，氣血弱使然。其方在後第六論，去乾薑、甘草加烏梅。</p>
<p>第六論：曰產後乍寒乍熱者何？</p>
<p>答曰：陰陽不和，敗血不散，能令作寒作熱。產後血氣虛損，陰陽不和。陰勝則寒，陽勝則熱。陰陽相乘，或寒或熱。若因產勞，臟腑血弱，不得起越，故令敗血不散，入於肺則熱，入於脾則寒，醫人若作瘧疾治之則誤也。陰陽不和，增損四物湯。敗血不散，奪命丹，方在第三論。</p>
<p>又問：二者何以辨之？</p>
<p>答曰：時有刺痛者，敗血也。但寒無他證者，陰陽不和也。</p>
<p>川當歸（洗）　人參　白芍藥　川芎　乾薑（炮，二錢半）　甘草（一錢，炙）</p>
<p>計一兩三錢半，銼末作五服。水一盞，姜五片，煎六分熱服。</p>
<p>評曰：乍寒乍熱，榮衛不和，難以輕議。若敗血不散，豈只入脾肺二臟。大抵一陰一陽即作寒，陰勝作寒，陽勝作熱。只云敗血循經流入，閉諸陰則寒，閉諸陽則熱。榮與衛解則休遇再會而復作。如二藥不效，有大調經散治之。</p>
<p><u>大調經散</u>　治血虛惡露未消，氣為敗濁凝滯，榮衛不調，陰陽相乘，憎寒發熱，或自汗，或腫滿，皆榮衛未平。</p>
<p>大豆（黑者三錢，炮去皮）　茯神（二錢）　真琥珀（辨真假：將於掌心擦令熱，聞無膠香氣者真，或瓦盞溶如錫糖黏者真。放冷研用，二錢）</p>
<p>計五錢二分細末，挑二錢濃煎，黑紫蘇湯調服。琥珀真者每兩約值一千左右，如一錢貴不過三百，令使二分五十又可買，若用三四分尤妙。</p>
<p>第七論：曰產後四肢虛腫者何？</p>
<p>答曰：母生子訖，例服黑神散及芎藭湯者，取其逐瘀血以生新血也。倘惡露不盡，停留胞絡，生病多端。輕者為脹為痛，為寒為熱，甚者月水不調，閉斷不通。久成血瘕，以致尫羸。有如產後面目四肢浮腫，此由敗血乘虛停積於五臟，循經流入四肢，留淫日深，腐壞如水，致令浮腫。醫者不審，便作水氣治之，投以甘遂大戟等藥，以導其水，虛之復虛，因茲夭枉者多矣。但服調經散血行腫消自良也。黑龍丹亦治產後浮腫血滯所致，不可不知。</p>
<p><u>調經散</u></p>
<p>沒藥（別研）　真琥珀（別研，各一錢）　肉桂（不見火）　赤芍藥　當歸（去蘆酒浸。各一兩）　麝香（半錢，別研）　細辛（洗，半錢）　甘草（炙，二錢）</p>
<p>上為細末，每服半錢，生薑汁溫酒各少許，調勻服。黑龍丹方載產後雜病證下。</p>
<p>評曰：產後浮腫多端，有懷孕時先腫，至產後不退，有產後失於將理，外感寒暑風濕，內作喜怒憂驚，血氣相搏，留滯經絡，氣分血分不可不辨。調經散只治血分，如未退，枳朮湯、奪命散、大調經散皆緊要藥也。</p>
<p><u>枳朮湯</u>　治心下堅大如盤，邊如禳盤，名曰氣分。</p>
<p>枳實（燒去穰，二錢半）　白朮</p>
<p>計七錢半，銼末作三服。水一盞半煎七分溫服，腹軟即散。</p>
<p><u>奪命散</u>　治虛腫喘促，小便不利。</p>
<p>生薑（一兩，取汁）　白麵（一兩）　半夏（三個湯洗去滑破之）</p>
<p>以生薑汁搜麵裹半夏為三餅，炙焦為末，熟水酒二錢，小便利為功。大調經散治腹滿喘息，煩渴小便不利，方在第六論。</p>
<p>第八論：曰產後乍見鬼神者何？</p>
<p>答曰：肝能藏血，心能主血。因產走耗其血，勞動肝心，敗血奔沖，邪淫於心，所以乍見鬼神，言語顛倒，非風邪也。但服調經散加生龍腦一捻，煎服，得睡即安。黑龍丹亦能治療。調經散方載第七論下。黑龍丹方載產後雜病證下。</p>
<p><u>柏子仁散</u>　治產後狂言亂語，乍見鬼神。</p>
<p>柏子仁　遠志　生地黃　人參　桑寄生　防風　當歸　甘草　琥珀（各等分）</p>
<p>上為粗末，每服先用白羊心一個切片，以水一大盞半，先煮至九分，去羊心入藥末煎至六分，去渣無時服。</p>
<p>第九論：曰產後不語者何？</p>
<p>答曰：心者，君主之官，神明出焉，內候血海，外應於舌。心者，聲之機。產後敗血停蓄，上干於心，心氣閉塞則舌強而不語矣。但服八珍散自瘥。</p>
<p><u>八珍散</u></p>
<p>人參　石菖蒲　生地黃（酒蒸焙）　細辛（洗淨，一兩）　川芎（各一兩）　硃砂（別研）　防風（去蘆，各半兩）　甘草（炙，半兩）</p>
<p>上為細末，每服一錢。薄荷湯調下，不拘時候服。地黃多喜戀膈，脾胃不快者以當歸代之，其效尤著。</p>
<p><u>孤鳳散</u>　治閉目不語。</p>
<p>以生礬二錢為細末，用熱水調灌醒。</p>
<p>第十論：曰產後腹痛，又瀉痢者何？</p>
<p>答曰：因產血氣勞傷。外則腠理窮疏，內則腸胃虛怯。若未滿月飲冷當風，邪毒乘虛進襲，留於分……</p>
