<header data-type="book">
<h1>喉科心法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈善兼</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1847">公元1847年</data></dd></div>
</dl>
</header>

<h1>弁言</h1>
<p>喉科醫書多矣。簡者不甚詳明，繁者未盡精當，皆非善本也，以故喉風一發多有不救。惟潘葆真先生《喉科心法》一編，其辨論陰陽、寒熱、表裡、虛實，至明且當，洵喉科之最善者也。前湖南衡陽邑侯林端甫先生，因衡郡喉風時作，刊發是書，如法而治者屢著神奇，全活無算。惜其書尚未編傳，爰商同志醵金重刊，存板於維揚書肆，樂善者廣為印，庶可以編傳而普救也夫！</p>
<p><u>光緒四年戊寅首夏衡陽浣月居士識於揚城之樹德堂</u></p>

<h1>臨症要訣</h1>
<p>夫人身五臟六腑，十二經脈，除足太陽經，其餘十一經皆內循咽喉，得以病之，不獨肺胃也。但有陰陽、表裡、虛實、寒熱、輕重、緩急之不同，必得真傳，方能辨認。大抵屬陽熱者，十之六七；屬陰寒者，十之二三；而風寒包相火者，則十之八九。臨症看喉之訣，最要輕手快眼，切莫心粗氣浮。無論富貴貧賤，老幼男女，必令患者朝亮明處而坐，使人托其頭，夜則燃大紙捻照看，醫者以箸按其舌根，著意看其喉中左右上下，形色自不同常。或紅甚、腫甚、痛甚；或微紅、微腫、微疼；或紅甚、癰甚而不腫；或不紅、不腫、而只疼；或不惟不紅腫，且色白而疼痛；或有形，或無形；或來勢急，發於頃刻；或從容緩，發於數朝；或喉里喉外皆紅腫；或頭項腮頤並紅腫；或因瘟疫肚熱大渴；或感風寒，發熱惡寒；或已灌膿不速潰；或潰後余腫不消；或破爛；或誤針。既看其喉，再看其舌：有苔無苔，或黃或白，或潤或干，或灰或黑。又看兩唇淡紅淡白，紅甚而焦，或紫且黑。問表症之有無，審二便之通澀，聞口臭之微甚，察飲水之冷熱。病有新久，虛實迥別：有表重於里，有裡急於表，有虛多實少，有邪甚人強，有純陽，有純陰，有陰居八九，陽居一二。有氣虛而有火，血虛而有火者，有陰虛虛火炎上者，有火不藏源者，或誤用溫補者，或誤用寒涼者，種種不同。臨證切宜細辨。再三審問，詳其所兼現之症，不可潦草了事。若有表症不知表散，遽投寒涼及末藥之類，釀禍不小。誤於溫補猶可挽回，誤用寒涼，過於攻伐，多不可救。古哲云：以不足之法，治有餘之症，其錯猶小；以有餘之法治不足，禍則烈矣。常見富貴人及婦女輩，懶於下床看喉者，此不可曲從。床上看不明白，關係非小，須明論之。女子年十四歲以後，與夫師尼寡婦，當問經水通閉，有夫之婦必問娠妊有無，數月嬰孩。胎產婦人、年高老人、素虛弱人、大病後人、虛勞內傷人，悉宜詳慎，尤不可忽，此皆臨症要訣。實屬心法真傳，學者一一遵守而行，無不神乎其技矣。其辨症治療，制修丹散之法，悉詳於後，逐條潛玩，自得其妙。</p>

<h1>陽症喉痹</h1>
<p>痹者，痛也。痛而紅腫為陽，痛而不紅腫為陰。若人膈間素有痰涎蓄積，或因好飲燒酒，過啖雞魚牛羊煎炙厚味，及姜椒等熱物；或因忿怒失常；或因縱欲多服助陽藥。蓋過啖熱物，火起於脾胃；忿怒，火起於膽；縱欲，火起於肝腎。火動生風，鼓激痰涎，結聚於咽喉窄狹之處，紅腫疼痛，飲食阻凝，小便赤，大便結，此為陽症喉痹，治法必審其表症有無：若無惡寒、發熱、頭痛、咳嗽、鼻塞等候，多是暴寒折熱，寒束於外，熱鬱於內，切不可遽用末藥吹噙。及先投苦酸鹹寒，清降涼瀉煎劑，如芩、連、豆根、射干、石膏、硝之類，遏郁表邪，不得外散，以致表邪得以深入，傳變多端，因而釀成不治之症者，指不勝屈。當先用荊防敗毒散，加蔥白、香豉，或再加牛子、元參、僵蟲、連翹一二劑，急急解散表邪，然後用末藥吹噙，方不誤事。若失於未表散，已經誤治，而表症尚在，急禁止吹噙末藥，用荊防敗毒散，連進二三劑，體虛人加人參，提出內陷之表邪，亦可以救前誤。昧者謂咽喉病忌用發散，謬妄殊甚。豈知薛氏醫案立齋先生用之屢矣。此先表后里法，亦逆流挽舟法也。粗工那得知之。凡表重於里者，及表邪內陷者，惟此法為最當，若連日不食，又克伐寒涼過度，胃氣告匱，正虛邪盛，則用之無益，且多不可救。此時善刺者，急針之，或可救也。至於表裡兩急之症，又不得拘前說。初起咽喉紅腫痛俱甚，表則惡寒發熱，頭痛身痛，咳嗽；里則口渴喜冷，口臭氣粗，舌生黃苔，小便赤，大便結，或二便俱閉，痰涎上壅，語聲不出，飲食不入，是表裡兩急也，法當雙解。煎劑用荊防敗毒散合清咽利膈湯。無汗加麻黃，小便短赤，澀痛加滑石，大便不閉去芒硝。末藥，獨行散、元珠丹、七寶散、諸方選用。或用開關散擦牙齦，或用巴豆油紙為捻點燃吹滅，以煙燻其口鼻即開。或用蓖麻子去殼研爛，紙卷作筒，燒煙燻亦開，如滿喉腫甚將閉，藥不能進，即用開關散四五分，令仰其頭，左手持箸按患者舌根，右手持長柄匙挑散痛腫上，以白湯灌之，立時即松，隨用七寶散等方，連上十餘次，莫歇手，頓愈。治之不失其時與法，故有如此神效。若曾經誤治，耽延時日，則速效難期也。發表攻裡並行，是謂雙解。若無惡寒、頭痛等症，便無表邪，焉用雙解？祗當分輕重施治：輕症，煎劑以喉痹飲為主，方中貝母、花粉二味，份量可加可減可去，微紅微腫微痛可減，不腫可去，腫雖不甚亦不微，又兼舌有黃苔，口渴喜飲，可重加銀花，亦重加，蚤紅甚，更加山豆根數分；微有惡寒頭痛，即去豆根，加羌活、防風、蔥豉，此輕症之劑加減活法也。末藥用豆硼冰片散足矣。重症，紅腫俱甚，煎劑用清咽利膈湯，大便不閉去芒硝，末藥：元珠丹、磐珠丹、七寶散選用。極重者，雄黃解毒丸、開關散、絳雪、白雪、金鑰匙等方選用。有病人惡聞麝片香氣藥者，惟七寶散最妙，內無片射，其效亦速。或生白礬五分，用雞子清，同礬末攪勻，灌喉中甚效。以上皆治陽症喉痹定法。按法施治，無不效捷桴鼓，但咽喉病不比他病，貴在見幾蚤，不難消散。若因循失治，又治不如法，耽擱日期，以致不消散，勢必灌膿。善刺者，急刺之出血，口內使針，切記不可誤傷蒂丁，俗名小舌，損則不救，慎之。如畏針不肯刺，急用真人活命飲方。皂角刺（用刺尖）、山甲（取前足甲炒成珠），加出蛾蠶繭（微焙），只用一個，再加茅針一莖更好，煎服一二劑，隨用搐鼻散少許，紙燃點納鼻內取嚏即潰，乃代針妙法也。既潰，以茶湯或甘草湯漱淨膿血，以海浮散加血竭上潰處，提膿定痛，自漸愈。如紅腫痛尚未全退，用鳳凰衣散上之，俟其腫痛全退，然後用六味地黃湯加麥冬、五味或人參固本丸滋補真陰調理。若因服寒涼攻伐太過，而致潰久不愈者，當補氣血，以八珍湯多服乃佳。戒發物一月，如雞、魚、牛、羊、椒、薑、酒、面、水煙、洋菸之類，一月之內宜養息，毋惱怒，遠房幃乃善後也。如不守戒，多有愈而復作者。治本為主，兼治其餘邪，醫者要再三叮嚀，囑病者確遵醫戒，方無反復。舒弛遠曰：「火痛者，內外俱腫，且赤且熱，氣粗口臭，身輕惡熱，水可多飲而飯粒殊覺難下，可食軟，不可食硬。非若寒痛者，可食硬不可食軟也。」凡陽症喉痹，急症重症，腫閉痛煩，殺人最速者，忌妄用針刀，惟刺少商穴，去其惡血，最為神妙，圖說詳後。</p>

<h1>纏喉風即走馬喉風</h1>
<p>此陽症之中最急最惡者也。突然而起，暴發暴腫，轉腫轉大，滿喉紅絲纏繞，疼痛異常，聲音不能出，湯水不能入，痰涎壅塞閉脹，勢如繩索絞喉，故名纏喉風，又名走馬喉風。不急治即能殺人，治之者必飛騎去救，不可稍緩，故名走馬。乃實火為患，臟腑積熱，熱甚生風，風火迅速鼓激痰涎堵塞咽喉隘地，呼吸難通，緩治則死。法宜急刺少商穴出血，以泄其熱。用雄黃解毒丸，醋泡七粒，杵爛灌之，患者或吐或瀉，其喉即松。若牙關緊閉不開，即以解毒丸七粒，茶湯泡，研溶，灌入鼻中，令仰其頭，使藥自鼻入喉，牙關便開。如不開，再灌七丸，無不開者。或用開關散，如前法。或用巴豆油紙燃熏其口鼻，皆開關捷法妙方也。關開隨用絳雪散，或白雪散或金鑰匙不拘，連上腫處十餘次。更煎服清咽利膈湯，重用金銀花，大便不閉去芒硝，若兼惡寒無汗，頭痛咳嗽、鼻塞、冬月加麻黃、羌活、白芷、川芎；夏月加蘇葉、香薷、薑、蔥、以解內外之寒邪，否則不必加，以上皆治急症成法。大勢退，邪未盡者，改用緩治法。荊防敗毒散加元參，牛子或芩連，或清咽利膈湯去芒硝，及加味甘桔湯，元參解毒湯，連翹散等方選用。末藥用七寶散或磐珠丹，獨行散等方選用。先當急治，後宜緩治。法之一定者也，先後按法施治，不失其時，隨手應效者可十愈其十。若治之不如法者十難救一。面青唇黑，鼻流冷涕，及痰壅氣急，煩躁神昏者不治。婦人胎前產後，及嬰孩與年老人，虛弱人皆難任攻伐者，多不可治。此等險惡急症，非下痰解毒，丸散並施，刺砭兼行，焉能有濟？臨症者必平日揣摩純熟，閱歷又多，胸中方有主張，不可輕忽怠緩，以誤人性命也。患者戒發物，慎起居，遠房幃，免病復返，醫者當要叮囑。</p>

<h1>緊喉風　啞瘴喉風　弄舌喉風</h1>
<p>此三症亦纏喉風類也。症候大同小異，因其鎖緊咽喉，故名緊喉；因其口緊牙緊，不能出聲，故名啞瘴；因其舌脹出口不縮，時時攪動，故名弄舌，皆險症也。悉以上條治纏喉風法治之。病名雖殊，病源則一，故治法無異。此三症外治，皆可用蓖麻熏法。</p>

<h1>大頭瘟喉痹並捻頸瘟喉痹</h1>
<p>其症憎寒壯熱，口渴，舌生胎刺，頭面赤，腫如匏瓜，目不能開，咽喉紅腫或閉塞，語聲不出，或口流濁水，涎如紅汗，此乃時行癘氣，為病則延街合巷，症候相同，互相傳染惡症也，不速治，十死八九。諸書治法，不外普濟消毒散，一半煎食頻頻服，一半蜜丸噙化服。口渴甚，加石膏；大便硬，加酒大黃；耳前後上下赤腫加紅柴胡、栝蔞霜，或用青栝蔞，連穰切片用更好。腦後頭項赤腫喉痹名捻項瘟，加荊防、羌活、獨活、川芎、射干（炒焦），或用荊防敗毒散，以人中黃易甘草，加芩連、僵蟲、喬蒡。末藥，七寶散或金鑰匙等方選用。若牙關緊閉，不省人事者，多不可救。捷法：於初起時，用兩手將病人兩肩項處著力趕勒至兩手腕數次，隨刺兩少商穴，出惡血，更用搐鼻散少許納鼻中，取十餘嚏。若搐藥不嚏者，不可治。並刺患上出血，其頭面項頸赤腫處，用砭針刺之，刺出血，後用雞子清去黃，調乳香細末攪勻，頻頻以潤刺處。牙關雖緊，神不昏者，雄黃解毒丸，開關散熏鼻等法，皆可施治。常見瘟疫喉痹，有朝發夕死者，不可不知也。但看此等病，宜防護自己，必用闢瘟諸良法，方不沾染。</p>

<h1>單蛾　雙蛾</h1>
<p>此症生咽喉之旁，狀若蠶蛾，一邊生者為單，兩邊俱生者為雙，亦有形如棗慄，如乳頭者，故又稱乳蛾。肉蛾形似鰍魚，又稱鰍症。紅腫疼痛，痰涎上壅，飲食阻礙。凡紅腫無形為痹，有形是蛾，無非積熱所致。但有輕重之分，初終治法：依陽症喉痹條，審輕重治之，自然消散。若不消，可針則針之。凡針乳蛾，宜針頭尾，不可針中間，鮮血者易愈，血黑而少者難痊，切不可傷蒂丁，損則不救，慎之。蒂丁俗名小舌。</p>

<h1>喉疔</h1>
<p>亦急症也。生喉間，形似靴釘，尖而且長，紫黑堅硬。初起麻癢，旋即大痛，急用喉痹飲，多加白菊花煎服。或單用菊花連根帶葉，生用二三兩煎湯，頓服尤效，野菊花葉亦好。又用露蜂房，蛇蛻各用火煅存性，每服一錢，酒調下，輕者一服立效，重者連進二服，少頃腹中大痛，痛止即愈。但須及早下手，不可遲延，無不內消。若治之不早，便難消散。惟針刺出惡血，以紫金錠磨塗患上，更磨服一錢。</p>

<h1>鎖喉毒</h1>
<p>此症初生於耳前，形如瘰癧，漸攻咽喉，紅腫塞痛，妨礙飲食，治不可緩。以喉痹飲重用銀花、貝母，或用真人活命飲加紅胡、香附子（去毛酒炒）煎服。如大便脹閉不通，口渴喜冷惡熱，即宜清咽利膈湯煎服。吹噙以元珠丹、七寶散、獨行散諸方選用，速消散為吉。</p>

<h1>上齶癰</h1>
<p>此症生於上齶，形若紫葡萄，疼痛異常，寒熱大作。防毒攻腦，先服荊防敗毒散加金銀花、連翹、牛子，次服真人活命飲。內熱甚，加酒炒黃連；大便閉結加酒大黃，連進數劑，兼進蠟礬丸，未灌即消，已灌即潰，潰後用海浮散上破處，提膿生肌，改服歸耆飲。如過時失治，飲食不能入，煩躁神昏者逆。</p>

<h1>喉瘤</h1>
<p>此症或單或雙，亦生喉旁，不紅不痛，與蛾子異，不可妄作蛾症治。忌針，又忌服苦寒酸鹹之藥。法宜多服八珍湯，久久自消。脾虛食少泄瀉者，六君子湯兼進。腹脹痛加木香、砂仁；中寒腹痛加炒黃建姜，上桂去皮；誤服寒涼過多者，加味理中湯。服補藥後，漸轉微紅微痛者，改用附桂八味地黃丸，自然全愈。</p>

<h1>喉瘡</h1>
<p>此症初起咽喉乾燥，如茅草常刺喉中，痛而且癢。日久其色紫暗不鮮，漸漸腐爛，時吐臭涎，疼痛日增，防礙飲食。病由腎水久虧，相火炎上，而又過食煎炙厚味、燒酒，五辛熱物積熱於胃。口臭口渴，舌燥苔黃，牙齦腫痛，口舌破爛，乃相胃二火熏肺而成斯疾。法當補腎水，清胃熱，宜甘露飲。胃熱甚，兼進清胃散或知柏地黃湯。吹噙鳳凰衣散，或加熟石膏、甘草，或加飛過建黛少許，酒炒黃柏少許，薄荷葉少許。患者清心寡慾，戒食雞、魚、牛、羊、燒酒、洋菸、水煙、檳榔、炙炒厚味，甘淡泊以調養，方許可治。不然，必致腐爛，延久疊起腐衣，旁生小孔，若蟻蛀蝕狀，飲食不能進，多致不救。更有心腎脾胃素虛之人，服寒涼克伐藥過多，以致脾胃愈虛，真陽益衰，陰翳之火客於咽喉，腐爛成穴而不痛，胸膈脹悶，夜不能寐，飲食不思者，亦危症也。急用馮氏全真一氣湯濃煎頻服，兼進歸脾湯去木香加熟地、上桂、炒黃建姜；稍愈即以附桂八味地黃丸，每早須用淡鹽湯吞五錢，以加減歸脾湯調養心脾氣血。飯後良久服。能如此調理，亦可轉危為安，然皆不易也。</p>

<h1>喉舌破爛</h1>
<p>此症有因風熱陽症之輕者。初起紅腫痛不甚，尚可飲食，不自提防，乃赴筵席，飲香醪，啖厚味，不逾時紅腫痛大作，不能食而破爛；有因患陽症，服清解藥已漸愈，昧者遽投以溫補熱藥，致令病返，紅腫大痛破爛。二症並宜先用陳細茶泡取濃汁，漱淨口喉，隨以獨行散合鳳凰衣散頻上爛處，莫歇手。有膿，合海浮散加上竭，內服加味甘桔湯，數劑可愈，愈後，戒洋菸、水煙、檳榔、雞、魚、牛、羊肉、辣椒、子姜一切發物一月，免病返復。此乃治誤食熱物、誤用溫補之方法也。若喉痛日久，屢用末藥吹噙，頻服寒涼克伐煎劑。致漸漸腐爛成孔，大小不一，愈久愈爛。不紅不腫，其色紫暗，痛亦不甚。飲食勉強可吞。有牙垽爛去半邊者，有蒂鍾爛至全無者，蒂鍾俗名小舌，有數月而斃者，有延至數年斃者，此乃誤服寒涼，過服寒涼之症。噫，苦寒殺人，實可畏也。總由治之者不明虛實，不審陰陽，不辨寒熱真假。末藥妄投，寒涼肆用，以致大傷後天氣血及先天真陰真陽。腎中虛火客於咽喉而爛，不比陽症之火，可用寒涼，此是陰翳之火，大忌寒涼，得寒涼其火益熾，惟太陽一照，龍雷自息。但看病至如此，治療良難。法惟救本，勿稍從事乎標。大補後天氣血，更補先天真陽真陰。歸脾湯、八珍湯、十全大補湯、四君子、六君子湯皆後天藥也。六味地黃丸、附桂八味地黃丸皆先天藥也，隨症斟酌選用。飯後良久服後天藥，早晚空心服先天藥。其間孰賓孰主，或加或減，或進或退，則又權宜在心。如此煎丸並進，慎起居，守禁忌，調補半載，方能化凶為吉，轉禍為福。否則，恐無生理，吹噙末藥祗可用鳳凰衣散去橄欖加珍珠，研極細末，如眼藥樣，粉甘草去皮，研極細，篩取淨末，等分勻上爛處。余諸種末藥皆禁用。病者宜潛玩深思而熟記焉！</p>

<h1>陰症喉痹</h1>
<p>此症咽喉雖疼痛異常，卻不紅腫，或且帶白色，口不渴，喜飲滾湯不多，小便清長，或兼腹痛泄瀉，手足厥逆（手足冷為逆冷，過肘膝為厥逆），或頭痛如破，身重惡寒（表症惡寒寒在外，宜汗，陰症惡寒寒在內，宜溫，忌汗）。或頭重如壓，身體痛，自汗喜睡，或微熱面赤，乾嘔厥逆（面赤者，腎中真陽發露，名戴陽症。微熱者，陽外越也）。喉間清涎成流而出，脈沉微細，乃足少陰腎經中寒之重症也。由其人腎中真陽本虛，寒邪乘虛，直中其經，逼其微陽上浮，而為咽痛，是無陽純陰之症，故名陰症喉痹。無論冬夏，當用四逆理中姜附等湯冷服，以溫腎經，咽痛自止。切禁表散清降寒下諸法，誤用必死。當知陰陽喉痹兩症，病源如冰炭之殊，故治法有天壤之別。奈何但知有熱咽痛，而不知有寒咽痛。豈不聞仲景先聖云：「下利清穀（水瀉也），裡寒外熱，（陽外越也，脈微欲絕）面赤（腎陽發露也），咽痛不紅腫，手足厥逆，或腹痛，或乾嘔，四逆湯急溫之，遲則不救。」又曰：「冬月寒入腎經，發則咽痛，不紅腫，下利（瀉泄也）。附子湯溫其經則愈。」先哲李東垣云：「夏傷寒，伏於腎經，多咽痛，不紅腫，多腎傷寒，宜熱藥冷飲之」。舒馳遠先生治一人，少陰中寒喉痹，不紅腫，津垢結而成塊，堅白如骨，橫於喉間，痹痛異常，又惡寒喜睡，不渴懶言，舌苔滑而冷，二便不利。症屬虛寒何以二便不利？蓋為陰寒上逆，喉間清涎成流而出，津液逆而不降，故二便不利。便閉之症，有熱有寒，不可不知。乃用生附子（去皮臍切片，甘草湯泡洗，先煎數十滾，然後入諸藥）驅陰散寒，熟附子助陽溫經，法夏辛以開之，甘草甘以緩之，黃耆以助胸中之陽，白朮以助脾中之陽，接引真陽上達。投一劑，喉間白骨即脫去其半，痛痹稍緩，略可粥食，小便漸長。再劑，大便行，糞多且溏，三四劑全愈。更有陳藏器蜜附子法，治少陰感寒咽痛，不紅腫，猝然如啞，吞吐不利，以大附子去皮，洗淨鹹味，再用甘草湯泡洗，切片，蜜塗炙黃。每用一片，口含咽津，候甘味盡又換，以效為度。若喉內如松子及魚鱗狀，不堵塞者，此虛陽上浮，宜此法，俱忌苦寒。以上皆治陰症喉痹成法，一定之理也。舒馳遠曰：「寒痛不赤不熱不腫，不作臭穢，身倦惡寒，略可硬飯，飲水吞津則痛甚，可食硬不可食軟，非若火痛可食軟不可食硬也。」</p>

<h1>氣虛喉痛</h1>
<p>時痛時止，微紅微腫，或不紅腫，右手脈大而空，或浮小而緩，每遇勞動及服涼藥則更甚，兼現食少困倦，少氣懶言，唇淡面白，二便調和，身微熱，或時熱時退，手足心更熱諸症。此中氣不足，虛火泛上也。法當補中益氣為主。立齋先生每用補中益氣湯加玄參、麥冬、黃柏（酒炒焦黑）二三分、知母（酒炒焦黑）二三分屢效。余遵守其法，用之亦屢效。若服寒涼藥過多者，則去玄、麥、知、柏，而少加炒黃連、薑、薄、上桂各數分。丹溪先生治服寒涼過多之喉痛，用附子理中湯。凡氣虛喉痛，治法皆當準此。有於補中湯內加茯神、志肉、棗仁、熟地、上桂者，是補中兼補心腎也。更有中氣不足，面肝腎亦虛者，常有用補中煎濃湯，吞六味地黃丸，多服自愈，不可用末藥吹噙。此皆治氣虛喉痛定法。昧者畏耆、朮、薑、桂、執用寒涼清潤，滋陰降火，因而死者不少，慎之。</p>

<h1>血虛喉痛</h1>
<p>紅而不腫，或時痛時止，左手脈數無力，午後潮熱，或痛在午後，午前不痛，心煩口苦舌乾，手足心熱。法當補血。四物湯加黃柏知母，知柏俱用酒炒焦，先服數劑，隨去知柏加酒蒸玄參、甘桔，自愈。然後以人參固本丸調補之。此症有用四物湯加竹瀝者，有四物湯加芩連者，芩連俱用酒炒焦，愈後必以六味地黃丸加麥冬、五味，或加當歸、酒白芍多服。虛甚者，更佐以八珍湯，間進加味逍遙散。陰虛有表，補陰益氣煎。忌用末藥吹噙。血虛咽痛，治法大概如此。至於隨症變通，則又存乎其人，但要詳慎，斷不可失之輕忽也。</p>

<h1>陰虛喉痛</h1>
<p>其人平日常有齒痛舌痛，牙縫出血，咽乾喉燥，耳鳴，盜汗，夢遺，夜熱，夜咳之症，偶然受熱或食熱物，或犯房欲即咽喉痛，紅腫，或紅甚而不腫，夜甚於晝，脈洪數，或細數。由腎中真陰虧損故也。人之腎中，有水有火，水即真陰，火即真陽。所云相火龍火，即此火也。水火不同，宮水不虧，足以濟火，足以制火。火藏水中，自不為患，水一虧，則火無所濟，而無所制，遂得逞其炎上之性。腎之絡脈，挾咽循喉，系舌本，火不藏源，熱必循經絡浮越上衝，而為咽痛，故名陰虛喉痛。苟不細心審辨，一認作陽症喉痹，則誤甚。陰虛喉痛與陽症喉痹雖皆由於火，而陰陽虛實迥別，豈容混治。陽症之火起於六腑陽分，是後天有餘之火。實火也。實火可去，故用苦寒、鹹寒以直折之。陰虛之火起於腎經陰分，是先天不足之火，虛火也。虛火不可去，忌用寒涼及麝片香藥。誤用之，其火愈熾，益促其危耳。惟大補其水以濟之，以制之，並引導斂納之則是矣，六味地黃湯加麥冬、五味大劑作湯頻進，或加大本支、生地（酒蒸）、玄參（酒蒸）、淮牛膝（酒蒸）。若加之氣喘面赤口乾，喉中如火熏灼，兩手寸關脈細數，兩尺微細無神，或寸脈洪大，尺脈微弱，乃腎中真陰真陽並虧。無根之火客於咽喉，又當用附桂八味地黃湯濃煎，微溫服，以引火歸源，或加酒蒸淮牛膝、麥冬、五味。馮氏全真一氣飲，張氏鎮陰煎皆可選用。愈後八味地黃丸為主，宜久服之。一切末藥皆忌用，戒酒色，新雞，子鴨一切助火之物及檳榔、洋酒等件。能清淡寡欲，藥始有驗，否則難免反復。此治陰虛喉痛之定法，學者宜潛玩而熟記焉！</p>

<h1>癆嗽咽喉痛</h1>
<p>此症多屬陰虛火炎，肺腎兩傷。忌用寒涼及喉科通套湯劑與末藥，惟紫菀湯，補肺阿膠散，四君子合生脈散加阿膠、川貝母等方可選用，更參以前條治陰虛喉痛之方，兼之顧脾胃為要。然而甚不易也。如其人能絕酒色，戒食鹹味、煎炒厚味、及新雞、子鴨、牛、羊、鱔魚、洋菸、水煙、檳榔等物，又不犯七情，謹慎寒暑，不誤服涼藥，庶可轉禍為福，以延歲月，否則難矣。若喉中破爛，用鳳凰衣散去橄欖加珍珠，研細如眼藥樣，每以少許上爛處，其他藥俱忌用。</p>

<h1>咽喉痛失音</h1>
<p>咽喉聲啞，須分暴久。暴病得之，皆可治之症。如喉痛起於四五日間，是暴病也。咳嗽聲重，吐稠痰，惡寒、發熱、頭痛、咽喉紅腫，其聲嘶啞，此熱結於肺，寒束於外也。先用辛涼之劑，荊防敗毒散加蘇葉、北辛、杏仁、炒牛子、蔥、豉、薑汁、以散之。然後加石膏以清之。或麻杏甘石湯重加生玉竹，肥人痰多者，再用法夏、蘇、陳皮去內，或枳桔二陳湯。體實者加味導痰湯，皆對症湯劑。又有暴病聲啞，咽痛異常，不紅不腫，猝然而起，或欲咳而不能，或清痰而上溢，脈沉細，或弦緊，此大寒犯腎。宜蜜炙附子噙之，不可妄投寒涼之劑。二症寒熱天淵，不可不辨。更有因大喊大叫，聲嘶，微痛失音者，當用十全大補湯，亦不可妄投涼藥，以上皆治暴症失音成法，理之一定者也，至於久病失音，虛癆症也，謂之金破不鳴。雖精明老醫，且難動手，故多不可治，無人參真阿膠亦不可治。專門喉科者，俱勿妄參末議。</p>

<h1>梅核氣</h1>
<p>此症咽喉不痛，不紅腫。患者自覺咽中如有物狀，或如破絮咽不下，咯不出，似硬非硬，窒礙不舒，乃由七情氣鬱，鬱則生涎，結聚於胸膈之間，甚則膈間痞滿，噁心嘔逆，治不如法，防成膈噎。法當散郁開結，宣暢胸膈。先進四七湯，次用六君子湯、加砂仁、波蔻仁調理，多服自愈。</p>

<h1>婦人胎前產後喉痛</h1>
<p>妊婦喉痛，用藥不同平常，當知忌避。如芒硝、大黃、牙硝、穿山甲、皂角刺、附、桂及雄黃解毒丸，開關散等藥，皆所禁用。其發散清解法中必兼保護其胎為要。輕症緩症，荊防敗毒散與喉痹飲，皆可用，必以四物湯佐之為穩。吹噙藥，豆硼冰片散、獨行散、鳳凰衣散、選用，重症急症刺少商穴。牙關不開，巴豆油紙捻點燃吹火熏其口鼻，又用搐鼻散少許，納鼻中取嚏，隨用雞子清方灌喉中。次用獨行散，豆硼冰片散噙咽。煎服清咽利膈湯去硝黃。實症陽症，治法如此。虛症有氣虛血虛，陰虛陽虛，陰陽兩虛，及陰症喉痹，俱照各條施治。真陰真陽兩虛，火不歸源，必用桂附八味。陰症必用姜附，妊娠忌桂附是法之常，有時用桂附是法之變。昧者畏桂附，恐其墮胎，殊不知陰症不用附子，其母必死，未有母死而胎能保者。若拘常格，兩命俱亡，祗辨症明，認症確，通權達變，方能救人。內經云：「應犯而犯，似乎無犯。」又曰：「有故無隕。」明者知之而庸工何能曉此也。至於產後喉痛，治法與胎前又不同。產後惡寒發熱，身痛，是因百脈空虛，故惡寒；血虛，故發熱，營衛筋骨失養，故身痛；虛火上浮，故咽痛。切不可認作表症，而用表散之藥；以致有誤。變症百出，有不測之禍，獨覆水難收也。不惟表藥當禁，一切寒涼清降之劑，皆不可犯，誤用禍不旋踵。治法惟有溯源救腎湯一方，用之極效極穩，多進無有不愈者。瘀血不行，小腹脹痛，拒按，可加益母草四五錢、或加蒲黃、五靈脂、各二三錢。感冒風寒，鼻塞頭痛，聲重咳嗽加蘇葉、老生薑，不可獨用發表之藥，以致貽禍。如真陰不足，用六味地黃湯，補水以制火。真陰真陽並虧，無根之火浮越於上者，用八味地黃湯補水以導火。後天氣血兩虛者，八珍湯。虛之甚者，人參養營湯。更有腎虛火不歸經，身發大熱，煩渴，目赤唇裂，舌上生刺，喉如煙火，足心如烙，吐痰如湧，喘急咳嗽，大便秘結，小便淋瀝，脈洪大無倫，按之微弱者，極似陽症，誤服涼藥必死，宜十全大補湯吞八味地黃丸，諸症自退。此症極難辨認，非精於脈理者不能動手。此等假陽症，世之服涼藥致斃者，指不勝屈。總之產後元氣大虛，新血未生，凡有頭痛、發熱、咳嗽、咽乾喉痛諸症，皆是虛中變現之象，概以補虛為主，毋得妄投克伐。因疑似之外邪傷真切之元氣，豈不誤甚？見聞淺薄者，慎之，慎之！雖然，若體實少壯婦女及藜藿輩，產後已多日，而間有患陽症喉痹者，則又不必拘前說也。</p>

<h1>幼小喉痛</h1>
<p>幼小之病，稍大能言，若數月嬰孩，有病不能告人，人何以知其喉痛也？當細察其情。每吮乳便啼哭，或不能吮乳，必令抱兒於亮處，仰其頭，以箸按其舌根，看喉中有何形色，紅腫否，並看舌上兩邊，及上齶牙齦諸處，或生上齶癰、鎖喉毒、兒腮癰、木舌、重齶、重齦、馬牙、鵝口瘡之類。務明白按法施治，不容稍緩。嬰兒腑臟嬌嫩，最不耐病，且以乳為命，不能吮乳，延至二三日，胃中空虛。雖服對症之藥，苦無胃氣運行，多難見功。胃氣一絕，神丹不可為已。如牙閉緊，用巴豆油紙捻熏法，刺少商穴，或用雄黃解毒丸三粒，研爛茶泡灌鼻內，仰其頭，使藥由鼻入喉即開。若有發熱惡寒，鼻塞咳嗽，無汗表症，必用荊防敗毒散加蔥、豉疏散。然後按法施治。用藥不可輕忽，夭人命也。</p>

<h1>肺絕喉痹</h1>
<p>不治症也。其脈浮散或微細將絕，或洪疾無倫，重按全無，或現雀喙、屋漏、魚翔、蝦游、彈石、解索、釜沸等脈。其聲如鼾，如痰響在喉中，此肺氣將絕之候，其因不一：一因陽症喉痹有表症，法宜急發散。昧者妄謂咽喉不宜發散，遽投寒涼清降及吹噙末藥，致使陽郁不伸，表邪無門而出，又用寒涼攻下，益令邪陷於裡，一誤再誤，表邪終不能出，寒涼徒傷中氣，以致胃敗肺絕而然。一因誤將陰症作陽症治，錯用寒涼所致。一因陽症之輕者，如虛弱人患陽症，俱宜用輕劑，乃重用寒涼，及服草藥，投之不已，傷敗肺胃之故。一因衰老及痘後，婦人產後妄投寒涼，克伐之變，遍考諸書治法，惟速煎獨參湯二三兩，入真陳橘皮少許，縱飲之。有服至數斤者，早服者，十全八九，次則十全三四，遲則十不救一。古之治法如此，近時參貴異常，有力之家，且不能多用，況無力者乎？惟束手待斃而已。嗟嗟，肺絕之症，皆由醫之不明不慎釀成！可見苦寒最能殺人，妄用藥者，造孽無邊，可不知所畏哉！</p>

<h1>雜症</h1>
<p><u>氣衝攻腹繞喉</u></p>
<p>此乃肝膽厥陰肆橫，久久虛損，而嘔痰減食，皆犯胃之象。若不靜養，經年必甚。</p>
<p>甜北沙參、白扁豆、炙草、生黃耆皮、炒茯神，用白糯米半升泡清湯煎服。</p>
<p><u>臍上一點氣，上至咽喉如水</u></p>
<p>程篁墩曰：「大平侯病，膻（胸也）中痛，喘嘔吞酸，臍上一點氣，上至咽喉如水。每子後申時輕發，醫以為大寒，不效。」祝橘泉曰：「此得之大醉，及厚味過多，子後申時，相火自下騰上故作痛也。以二陳湯加芩、連、梔子、蒼朮，數飲而愈」。</p>
<p><u>氣從小腹上衝胸咽</u></p>
<p>孫真人《千金方》云：「咳唾，手足厥逆，氣從小腹上衝胸咽，其面如醉而翕熱，因復下流陰股，小便難，時復昌者，寸脈沉，尺脈微，宜茯苓五味子湯，以治其氣衝。其方用茯苓、五味子各二錢，桂心、甘草各一錢，水煎服。胸滿者去桂。</p>
<p><u>喉腫外見五色紋</u></p>
<p>喉忽腫大，非癭非瘤，忽痛忽不痛，外現五色之紋。按之半空半實，此乃痰病結成。似瘤非癭，似癭非癭也。方用海藻三錢，半夏三錢，白芥子三錢，貝母三錢，南星三錢，人參三錢，茯苓五錢，昆布一錢，附子一分，桔梗三錢，甘草一錢，水煎服。此方乃清上焦之痰聖藥也。又有海藻、昆布以去癭瘤之外象，消其五色之奇紋，妙在消痰而仍不損氣，則胃氣健而痰易化也。一劑知，二劑消，三劑則全消，四劑永不再發，此方兼可治癭症，神效。</p>
<p><u>咽喉若有物相礙而不爽利</u></p>
<p>此為火逆上氣。無咳逆吐痰，水雞聲等證，但覺咽喉若有物相礙而不爽利。法宜止逆下氣，以麥門冬湯主之。</p>
<p>麥冬七升，半夏一升，人參、甘草各二兩，粳米三合，大棗十一枚，此為火逆症而出其方也。此症絕無外感邪氣，亦無咳嗽，故用人參，否則人參不可姑試也。</p>
<p><u>咽生息肉</u></p>
<p>先將息肉刺破，令出血，用鹽豉和抖塗之，立效。</p>
<p><u>咽喉痛屬陰陽毒症</u></p>
<p>陽毒咽喉痛，其症面赤，斑如錦紋，吐膿血，五日可治，七日不可治。以升麻鱉甲湯主之。升麻、當歸、甘草各二兩，鱉甲、蜀椒一兩，炒雄黃五錢。陰毒咽喉痛，其症面目青，身痛如被杖，五日可治，七日不可治，以升麻鱉甲湯去雄黃、蜀椒主之。二症是感天地非常災癘之氣，從口鼻而入咽喉，致死甚速，治不可緩也。出《金匱》陰陽毒門。</p>
<p><u>腳根喉痛</u></p>
<p>此症從腳根發起，直至喉間，或一年一發，或半年一發。其病一日行一穴，切忌熱物、怒氣。初起，用綠礬三分（煅），硼砂六分，元明粉五分，冰片一分，麝香五釐，共研末，吹入少許。再用羌活、獨活、桔梗、防風、黃耆、白芷、甘草、茯苓、陳皮、前胡、柴胡、白芍、元參、牛子煎服。如纏惡起泡者，難治。</p>
<p><u>菸袋杵喉</u>　誤針傷喉</p>
<p>用人參、三七為細末，搽傷處。或用劉寄奴為細末，過絹篩，搽傷處。或用海浮散加上血竭，研極細末，吹傷處。以上三方，功用相等，皆極效者。誤針傷，出血不止，於三方內隨用一方，無不立效。</p>
<p><u>諸骨哽咽</u></p>
<p>凡為諸骨大難嚥者，以鵝翎入喉探吐之。或用箸重按舌根，即吐。或用白砂糖一大匙，和銅綠末半匙，入麻油少許，茶湯調服，即吐出。如不吐，用牙皂研末，吹入鼻中取嚏，即出。骨小者用威靈仙三錢煎濃汁，時時噙咽，其骨自軟如綿而下。穀皮、樹葉搗爛取汁煎，噙咽亦可。</p>
<p><u>魚骨哽咽</u></p>
<p>食橄欖數枚，即下。如無鮮者，用核十枚，火煅存性，研細末，水調服並噙咽莫歇，自化。或用獨頭蒜塞鼻中，自出。或用皂角末吹鼻中取嚏，即出。或用鴨垂倒吊垂涎服之。或鸕鷀骨煅灰，蜜調噙咽，與白鷺骨同功，嘴骨尤良。</p>
<p><u>稻芒糠殼哽喉</u></p>
<p>用鴨倒吊取涎，徐咽即下。</p>
<p><u>竹草芒刺哽咽</u></p>
<p>用象牙磨濃汁，水調服。</p>
<p><u>誤吞金銀鋼鐵</u></p>
<p>用活磁石能吸鐵者，火煅透，研細末，以黃蠟溶化和丸如豆大，水吞下，自同大便而出。或用象牙磨濃汁服。或多食肉自下。又方用櫪木燒炭，帶紅研末，以白砂糖調服。或多用砂仁煎濃汁服之，其物即從大便出。又方，取羊脛骨煅灰，羊頭骨亦可，用米湯調服二三錢，自從大便而出。又方，殺白鴨取生血，乘熱頓飲數杯，其金銀即下。</p>
<p><u>誤吞針</u></p>
<p>可用前法。或用煮蠶豆，同長韭菜食之，針與韭菜自從大便而出。或用養活磁石能吸鐵者，取棗核大，以絲錦繫緊入喉中，少頃，所吞之針，吸在石上攝出。</p>
<p><u>誤吞銅錢</u></p>
<p>多食荸薺，或多食核桃，或多食蒜白，或用韭菜莫切斷，同豬肥肉吃，自從大便而出。</p>
<p><u>誤吞頭髮繞喉不出</u></p>
<p>用自己亂頭髮洗淨，燒灰存性，研細末，過篩，白湯調服一錢。</p>
<p><u>誤吞水蛭</u>（即螞蝗）</p>
<p>腹中痛，用田中泥為丸，空心，水吞百丸，其蟲隨泥瀉出，或多食白蜜亦化。</p>
<p><u>搶舌風</u></p>
<p>著力咯出血即愈，再用匕醋噙一時許，吐出。</p>
<p><u>諸骨哽喉及竹木刺入咽喉</u></p>
<p>臘月取大鱖魚膽，懸檐下陰乾，每用皂子大研細，兌酒溫服，得吐，則所哽之物隨涎而出。未吐，再服，以出為度。如無干者，即取鮮者。或青魚、鯽魚、草魚不拘，酒調服二三枚亦能吐出。又方：刮取象牙末，溫湯調服，亦能吐出。</p>

<h2>小兒木舌　䖳舌　舌腫脹　舌瘡破爛</h2>
<p>舌腫滿口，堅硬疼痛，乃心脾積熱，火盛血壅也。不急治，為害不小，用粗線扎針箸頭上，露鋒芝麻長，刺舌兩邊令出血，甚者多刺為妙，隨以溫水洗之，用蒲黃篩取淨粉，頻搽舌上。更以碧雪散，蜜調搽之，自消。刺時，只刺舌尖及舌兩旁，切不可刺舌中心及舌下。犯之，出血不止，其刺出之血，紅者毒輕，紫者重，黑者危，內服瀉黃散，或沆瀣丹。又有舌忽然腫大脹硬，即時氣絕，名為䖳舌。用青礬一二錢，置新瓦上，火煅變紅色為度，置地下候冷，研搽舌上，立愈。重舌，木舌，用之皆效。又一方治舌腫脹，用蓖麻子去殼，紙包捶爛，使油透紙上作捻子，點燃吹滅，以煙燻舌上，良久自消。若舌上生瘡破爛，用薄荷葉八分，黃柏八分，飛過建黛四分共為細末搽之，或用鳳凰衣散。重舌，附舌旁生，短小而痛，有連生數枚者，亦心脾蘊熱使然也。內外治法同木舌。</p>

<h1>重齶</h1>
<p>上齶腫起紅痛，啼哭煩躁，唇紅黑紫，大小便不利，上焦實熱也。內服沆瀣丹，外搽碧血散。若有表症，先服荊防敗毒散加白芷，連翹，次用沆瀣丹。如不消散，可用真人活命飲。</p>

<h1>重齦</h1>
<p>牙齦腫痛也。治同重齶。</p>

<h1>鵝口瘡</h1>
<p>滿口白屑癍點，作痛，亦有不痛者。甚則心煩口渴，溺赤，咽喉亦紅腫，痛不能吮乳。若身熱者，用敗毒散加牛子、荊芥、防風、元參、花粉、豆根。無身熱者，用元珠丹搽之，即愈。甚者服沆瀣丹一劑立愈。</p>

<h1>馬牙</h1>
<p>小兒生下百日內，每多有此，生於牙齦上，白泡子如牙。用元珠丹搽之，自愈。</p>

<h1>兒腮癰</h1>
<p>此症生於兩腮肌肉不著骨之處。高腫紅色焮痛，連及咽喉。初起寒熱往來者，荊防敗毒散加白芷、銀花，次服真人活命飲，口渴便閉，溺赤，加大黃、芩、連、梔子（俱酒炒），外用如意金散以白蜜調敷，無不消散。若平塌不紅者，內服外敷皆忌用寒涼之劑。臨此病者，亦宜斟酌，不容掉以輕心。</p>

<h1>內服諸方</h1>
<p><u>荊防敗毒散</u></p>
<p>桔梗（二錢）　薄荷（八分）　甘草（一錢）　枳殼（炒五分）　雲苓（小便赤用赤苓）　紅柴胡　北條風　前胡　羌活（表虛多汗輕用）　川芎　荊芥　獨活（各錢半）　蔥白（不去根，三寸）　淡豆豉（三十粒）　或加牛子（二錢炒）　連翹（錢半）　煎溫服，取微汗。強壯體實人二三劑；虛弱人及小兒，分兩減輕，更加人參數分一二劑。</p>
<p><u>清咽利膈湯</u></p>
<p>大黃（酒洗，二錢）　白芒硝（一錢）　芥穗（錢半）　甘草　北風（一線）　牛子　連翹　黑梔仁　桔梗　竹葉　玄參　薄荷　酒芩　黃連（酒炒五分）　銀花（二錢）　無汗加麻黃　小便赤痛加滑石　大便不閉去芒硝。</p>
<p><u>喉痹飲</u></p>
<p>前胡　牛子　元參　浙貝　花粉（各二錢）　僵蟲（泡去石灰，一錢半）　銀花　桔梗（各三錢）　薄荷（八分）　荊芥（錢半）　甘草（半錢）　燈芯（三尺）　方中貝母、花粉可減可加可去。微紅腫可減，不腫可去，若紅腫雖不甚亦不微，兼之口渴，舌生黃苔，可重加，並重加銀花。紅甚加豆根數分。</p>
<p><u>真人活命飲</u></p>
<p>銀花（五錢）　北條風（一錢）　歸尾　白芷　陳皮　甘草　浙貝　花粉　穿山前足甲（蛤粉炒成珠，各錢半）　皂刺尖　赤芍（各一錢）　茅針（一根）　出蛾蠶絲（一個）　乳香（去油）　沒藥（去油，各一錢，二味後入）　煎兌水酒，頻頻咽之。</p>
<p><u>六味地黃湯</u></p>
<p>熟地（八錢）　山藥（炒四錢）　棗皮（酒蒸）　丹皮（酒洗）　雲苓（各二錢）　澤瀉（匕水炒，錢半）　空心服。忌蘿蔔、蔥、蒜、無鱗魚、禽畜血。</p>
<p><u>知柏地黃湯</u></p>
<p>六味地黃湯加知母（酒炒，五分）　黃柏（匕水炒，五分）</p>
<p><u>八味地黃湯</u></p>
<p>六味地黃湯加熟附子（一錢五分）　上安桂（去皮，一錢）</p>
<p><u>八珍湯</u></p>
<p>高麗參（或用洋參加蜜炙上色黃耆以佐之）　焦白朮　雲苓（各三錢）　炙甘草　正芎　歸身（酒洗，一錢）　熟地（五錢）　酒芍（二錢）　煨生薑　大棗</p>
<p><u>加味甘桔湯</u></p>
<p>即喉痹飲加減（喉痹飲見上頁）。</p>
<p><u>元參解毒湯</u></p>
<p>玄參（三錢）　黑梔仁　甘草　淡竹葉　芥穗（各半錢）　生地（酒泡，三錢）　粉葛　桔梗（各二錢）　片芩（酒炒，八分）　燈芯（三尺）</p>
<p><u>連翹散</u></p>
<p>連翹　粉葛　赤芍（酒炒）　桔梗　牛子（炒）　淮通（各二錢）　片芩（酒炒）　升麻　竹葉（各八分）　黑梔仁　甘草（各一錢）　寸冬（三錢）　燈芯（三尺）</p>
<p><u>普濟消毒飲</u></p>
<p>酒芩（三錢）　酒連（錢半）　陳皮　玄參　連翹　牛子（炒）　板藍根（如無即以建黛用清水飛過代之）　馬勃　甘草　桔梗　紅柴胡　僵蟲（各二錢）　人參（三錢）　升麻　薄荷（各七分）</p>
<p><u>歸耆飲</u></p>
<p>生黃耆　當歸（酒洗）　銀花（各五錢）　甘草（三錢）　煎服或兌糯米酒。初起銀花重用，可加至二三兩，其餘藥不加。</p>
<p><u>六君子湯</u></p>
<p>人參（三錢）　漂白朮（五錢）　雲苓（三錢）　炙草（二錢）　陳皮（去白，一錢）　法夏（錢半）　生薑大棗（引）　去夏陳即四君子湯。</p>
<p><u>理中湯</u></p>
<p>人參　漂白朮　建姜（炒）　炙草</p>
<p><u>加味理中湯</u></p>
<p>理中湯或加法夏　木香　或加上桂　砂仁　隨症酌用。</p>
<p><u>附子理中湯</u></p>
<p>理中湯加附子。</p>
<p><u>甘露飲</u></p>
<p>天冬（去心，二錢）　麥冬（去心，二錢）　熟地（八錢）　黃芩（酒炒，八分）　生地（二錢，酒浸一日）　茵陳（酒炒，二錢）　枳殼　甘草（各一錢）　真金石斛（四錢，如無真者即用霍川石斛）　枇杷葉（密炙，二錢）　煎，熱服。</p>
<p><u>清胃散</u></p>
<p>升麻（三錢）　粉葛（一錢）　黃芩（酒炒，六分）　當歸（酒洗，二錢）　生地（酒浸，五錢）　丹皮（五錢）　煎，熱服。凡一切涼藥總宜熱服。</p>
<p>方內或加熟石膏，連翹，牛子，銀花，隨症酌入。</p>
<p><u>全真一氣湯</u></p>
<p>熟地（八錢，可加至二三兩）　漂術（三錢）　麥冬（三錢，米炒）　北味（五分，蜜蒸）　牛膝（酒炒，二錢）　附子（錢半）　入黑鉛（一塊）　煎濃，微溫服，氣虛者人參湯兌服。</p>
<p><u>歸脾湯</u></p>
<p>蜜耆　人參　漂術　茯神　棗仁（炒）　南木香　當歸（各三錢）　炙草（錢半）　志肉（八分）　龍眼（五枚士殼核）　紅棗（二枚去核）　煨姜（三片）　濃煎服。</p>
<p><u>四逆湯</u></p>
<p>生附子（一枚，去皮切片，洗淨鹹味，再用甘草湯泡洗，大者用一半）　建姜（二錢，生用不炒）　炙甘草（四錢）　久煎，候附子熟。方不麻口，冷服。</p>
<p><u>姜附湯</u></p>
<p>四逆湯去甘草。</p>
<p><u>附子湯</u></p>
<p>焦術（一兩）　熟附（五錢）　雲苓（四錢）　人參（六錢）　煎濃。煎濃，溫服。</p>
<p><u>補中益氣湯</u></p>
<p>蜜耆（生用亦可）　漂術（各三錢）　陳皮（五錢，去白）　升麻（蜜炒，三分）　紅胡（蜜炒三分）　人參（三錢）　炙草（錢半）　歸身（三錢）　生薑大棗（引）</p>
<p><u>補陰益氣煎</u></p>
<p>即於前方去耆、術，加熟地，淮藥，為陰虛人表劑。</p>
<p><u>四物湯</u></p>
<p>熟地（六錢，血熱加生地）　當歸（四錢，酒洗）　酒芍（二錢半，血熱生用）　川芎（錢半）</p>
<p><u>生脈散</u></p>
<p>人參　麥冬　五味子</p>
<p><u>加味逍遙散</u></p>
<p>當歸（酒洗，五錢）　黑梔仁　炙草（各一錢）　紅胡（八分）　白芍（二錢半）　丹皮（去骨酒泡）　雲苓　漂術（各二錢）　薄荷（五分）　生薑（引）</p>
<p><u>鎮陰煎</u></p>
<p>熟地（八錢）　牛膝（酒炒，二錢）　澤瀉（匕水炒）　上桂（去皮）　附片（各一錢）　用黑鉛二塊同煎。</p>
<p><u>紫菀湯</u></p>
<p>紫菀茸（二錢）　知母（八分，蜜蒸再用酒炒焦乳）　真川貝（三錢，糯米拌炒仍去米）　高麗參（四錢，上洋參亦可）　茯苓（二錢，拌蒸曬乾）　五味（一錢，蜜蒸）　炙草（二錢）　桔梗（一錢）　阿膠（四錢，蒸滲）　或加玄參（一錢，酒蒸）　麥冬（一錢炒）</p>
<p><u>補肺阿膠散</u></p>
<p>馬蔸鈴（一錢，去殼）　牛子（炒一錢）　炙草（二錢）　杏仁（一錢，去皮尖炒黃）　真阿膠（八錢，蒸滲）　用糯米一撮煎服。</p>
<p><u>麻杏甘石湯</u></p>
<p>麻絨（二錢）　炙草（錢半）　杏仁（十三粒，去皮尖）　熟石膏（三錢）　生薑（引）</p>
<p><u>二陳湯</u></p>
<p>陳皮　法夏　茯苓　甘草</p>
<p><u>枳桔二陳湯</u></p>
<p>陳皮（二錢去白）　法夏（四錢）　茯苓（二錢）　甘草（錢半）　枳殼（二錢炒）　桔梗（三錢）　老薑汁半杯兌服，或加桑白皮、杏仁。</p>
<p><u>加味導痰湯</u></p>
<p>陳皮（去白）　茯苓　枳殼（炒）　真膽星　杏仁（去皮尖炒研）　桔梗（各二錢）　桑白皮（錢半）　法夏（四錢）　甘草（錢半）　或加石膏　知母　栝蔞霜　老薑汁</p>
<p><u>十全大補湯</u></p>
<p>人參　漂術（荷葉包飯上蒸）　蜜耆　歸身（酒洗，各三錢）　茯苓　酒芍（各二錢）　炙草　川芎（各一錢）　熟地（五錢）　上桂（八分，上皮研泡或蒸兌）　煨薑、大棗（引）</p>
<p><u>四七湯</u>（一名七氣湯）</p>
<p>法夏（五錢）　茯苓（三錢）　川樸（錢半薑汁炒）　蘇葉（一錢）　大棗（二枚）　老生薑（三片）　或用薑汁兌服。</p>
<p><u>溯源救腎湯</u></p>
<p>麥冬（米拌炒焦去米）　熟地（各五錢）　漂白朮　杜仲（酒炒）　牛膝（酒炒，各二錢）　白芍（灑炒）　白茯苓　續斷（酒炒，各錢半）　建姜（炒黑，六分）　蓮肉（七枚，去心）　燈芯（三尺）</p>
<p><u>人參養榮湯</u></p>
<p>十全大補湯加五味　陳皮　志肉　去川芎</p>
<p><u>瀉黃散</u></p>
<p>黃連（酒炒，五分）　黃柏（酒炒，五分）　黃芩（酒炒，五分）　黑梔仁（八分）　赤茯苓（八分）　澤瀉（八分）　茵陳（酒炒，八分）　燈芯（三尺）　煎，熱服。</p>
<p><u>沆瀣丹</u></p>
<p>川芎（酒洗）　大黃（酒蒸）　黃芩（酒炒）　黃柏（酒炒，各九分）　赤芍（酒炒）　黑醜（取頭末炒）　檳榔　枳殼（炒）　白滑石（刮去紅土）　連翹（各六分）　薄荷（四分）　煎熱服，月內之兒減半用之。</p>
<p><u>人參固本丸</u></p>
<p>熟地　生地　天冬　麥冬（各四兩）　人參（三兩）　蜜丸每服五錢，中寒人忌服。</p>
<p><u>雄黃解毒丸</u></p>
<p>雄黃（選明亮的研細，水飛，取輕浮者，澄水去水曬乾，一兩）　真蟬肚鬱金（曬乾研細，一錢）　巴豆（去殼取白肉，十四粒，去皮炒熟，研細紅包壓去油）　如法制過，合研碾勻，用米醋煎濃汁，和丸如綠豆大，每服七丸，茶湯泡軟，杵化送下，不可過七丸。雄黃破結氣，鬱金散惡血，巴豆斬關奪門，能下惡涎。此屬厲劑，苟非急切，不可妄投。</p>
<p><u>蠟礬丸</u></p>
<p>淨黃臘（二兩）　生白礬（三兩研細）　將蠟煎融離火，候蠟稍凝，入礬末攪勻，乘熱作丸如綠豆大，每服二三十丸，白湯下。</p>

<h1>外治諸方</h1>
<p><u>獨行散</u></p>
<p>山豆根切片炒燥，研細過絹篩，每兩入冰片四分，碾勻。</p>
<p><u>元珠丹</u></p>
<p>元明粉（精製，五錢）　白淨硼砂　飛過硃砂　冰片（五分）　碾勻。</p>
<p><u>盤珠丹</u></p>
<p>蛇蛻（洗淨曬乾，燒存性）　生白礬　生石膏　硼砂（各三錢）　合研入冰片（五分）　碾勻。</p>
<p><u>七寶散</u></p>
<p>直殭蠶（泡去石灰炒燥）　牙皂（去兩尖及邊）　全蠍（要頭足全者，炙出煙支毒，以煙盡為度）　硼砂　飛過雄黃　白生礬（各一錢）　膽礬（五分）　合研碾勻。</p>
<p><u>開關散</u></p>
<p>巴豆（六粒，去殼，每粒分作兩片）　牙皂（三錢，去兩尖及邊，切炒）　白礬（五錢）　先將白礬於火上化開，次入二味攪勻，待礬枯研細，更入生白礬末五錢同研，每用三分，灌喉中。痰涎在喉者即吐，在膈者即下，牙關即開。</p>
<p><u>巴豆油紙捻</u></p>
<p>用巴豆去殼炒研，以紙包數屢壓之，其油盡透紙上，收之以急用。或用巴豆末捲紙捻亦可。</p>
<p><u>豆硼冰片散</u></p>
<p>山豆根（炒）　硼砂（各一兩）　合研入冰片（一錢）　碾勻。</p>
<p><u>絳雪散</u></p>
<p>硼砂（二錢）　生石膏（一錢）　熟石膏（錢半）　牙硝（一錢）　硃砂（一錢）　冰片（五分）　碾勻或加制僵蟲（一錢）　蒲黃粉（一錢）。</p>
<p><u>白雪散</u></p>
<p>即絳雪散有膽礬　元明粉　無硃砂</p>
<p><u>金鑰匙</u></p>
<p>牙硝（一兩）　硼砂（五錢）　制僵蟲（一錢）　明雄黃（二錢）　冰片（八分）　共碾勻。</p>
<p><u>雞子清方</u></p>
<p>生白礬（五分）　研極細末，以雞蛋一個，取清去黃合礬末攪勻，灌入喉中。</p>
<p><u>蜜製附子方</u></p>
<p>大附子（一枚，去皮臍）　切片，洗淨鹹味，再用甘草湯泡洗，塗白蜜、炭火炙熟，每用一片噙咽，候甘味盡，換之。</p>
<p><u>搐鼻散</u></p>
<p>白芷　北辛　川芎　明雄　牙皂各等分研末，嗅之取嚏，或納少許於鼻中，已患未患均用。</p>
<p><u>海浮散</u></p>
<p>真淨乳香　沒藥（等分，去油）　用紙置微火上，緩緩焙極干、方研得細，或加血蠍同研，血蠍輕鬆者良，堅硬者偽。</p>
<p><u>鳳凰衣散</u></p>
<p>抱出雞子蛋殼名鳳凰窩，洗淨，取殼內白皮，莫去血絲，先曬乾，微火焙燥，橄欖核洗淨曬乾，煅存性，上洋茶，共研細，每末一兩，入冰片五分碾勻。</p>
<p><u>紫金錠</u></p>
<p>山慈菇（去皮，三兩）　五倍子（三兩）　紅芽大戟（兩半）　明雄黃（五錢）　鏡辰砂（五錢）　真麝香（三錢）　共碾勻，糯米飲和。</p>
<p><u>碧雪散</u></p>
<p>蒲黃　建黛　硼砂　甘草　牙硝（等分）　共碾勻。</p>
<p><u>如意金黃散</u></p>
<p>花粉（一兩）　大黃　白芷　薑黃　黃柏（各五錢）　川樸　甘草　蒼朮　陳皮　南星（各二錢）　共為細末，過篩，蔥汁和白蜜調敷。</p>
<p><u>咽喉急症方</u></p>
<p>咽喉腫痛，取雄黃、燕子泥，用燒酒調勻，令臥敷之，涎出口開，以陳壁土煎湯飲之，此神方也。牙關緊閉，一敷即開，雄黃恐難猝辦，單用燕子泥亦可。如無燕子泥，用燒紙數張，以燒酒浸溫，貼喉下，隨干隨換。此以熱導熱之義也。百發百中，不可輕視。</p>

<h1>少商穴圖說</h1>
<p>按：少商穴屬手太陰經，肺之經脈止處，在兩手拇指內側，爪甲后角上一韭葉許，即是穴所。諸書云：穴在外側者，非致起疑誤，因辨而圖之。凡咽喉急症重症、飲食不進，醫藥難救，雖腫閉痛甚，忌用刀針，免致破爛。惟以一人扶病人坐，一人急將病人兩手自肩項處起捋下數十次，極力趕將惡血毒氣，使聚此穴。用婦人扎髮油繩照圖扎住大指根，隨以磁針刺穴，擠出惡血，奇效。</p>

<h1>避瘟防護良法</h1>
<p>其法有五：切莫空腹入瘟病家看病，能飲者飲雄黃燒酒，不能飲者，食大蒜，塗雄黃酒於鼻中，或用人馬平安散，男左女右，以少許點目大眥，其方用冰片、麝香、硃砂各五分，牙硝一錢，研細碾勻，或用紫金錠，水磨塗鼻孔，一也。每看病畢，即浣手，取搐鼻散嗅之取嚏，二也。用雄黃、硃砂、蒼朮、北辛、牙皂、紫紅降香、檀香、鬼箭羽、甘松、廣木香、公丁香、丹參、排草山柰，以上各一錢，麝香五釐，冰片三分，擇上吉日，將各味合於淨室中，勿令婦人、雞、犬及孝服人見，用紅稠縫三角囊盛之佩身上，並掛門戶上，方內入虎頭骨，斧頭木尤妙，三也。至病家，行坐莫離客位，不可起貪淫念，四也。疫盛時，更宜內服避瘟丹，其方用雄黃一兩，炒丹參、炒鬼箭羽、炒熟小紅豆各二兩，研細合勻，煉蜜丸如梧桐子大，飛過硃砂為衣，曬乾，每日空心用白湯吞五丸，五也。避瘟良法無過於此。醫者、病家並宜遵用，使已病者易愈，未病者不染，豈徒喉科受益哉。</p>

<h1>醫案</h1>
<p>張景岳先生治一人，喉痹十餘日，頭面浮大，喉頸粗極，氣急聲啞，口瘡痛楚，至苦。察其脈微弱之甚，問前所服之藥，皆芩、連、知、柏之屬，遂用鎮陰煎水煎，以冷水頓冷，徐徐嚥下，盡消如失。</p>
<p>薛立齋先生治一婦人咽間作痛，潰而不斂，諸藥不應，先用土萆湯（即土茯苓又名冷飯根），數劑而斂，又以四物湯加茯苓、黃耆二十餘劑而安。</p>
<p>洪金鼎先生治一人，喉中生一核，微癢不痛，用蛇床子燒煙吸於喉內，立消。此非實火，乃虛風也，故以此煙燻之。又治一人喉中如懸一石榴，細考《醫通》得一方，用土牛膝根洗淨，入好醋三五匙，同抖汁，就鼻孔滴入，絲斷珠破而愈。《醫通》云：此非咽痛，乃鼻中生紅絲如發，懸黑泡如石榴，垂掛咽門，以致飲食不入也。</p>

<h1>跋</h1>
<p>查十二經脈，手陽明大腸，足陽明胃，足太陰脾，手少陰心，手太陽小腸，足少陰腎，手少陽三焦，足少陽膽，足厥陰肝，並沖、任、督等脈，均絡咽喉。各經有病，均能致咽喉腫痛，舌乾起刺。《內經》云：火鬱發之。謂發汗與宣吐並刺少商穴出血，均取發散之義。道光丙午歲，春、夏、秋雨水稀少，火勝剋金，秋間遂有咽喉腫痛一症，治稍不得其法，遂致不救，眾議紛紛，無所措手。有謂忌發散者，謂宜清涼者，究之迄無定見，予以鄙意度之，發散之說自古以然。其間有不能用發散者，則以賦體素有陰虛陽虛之別耳。如果少年體旺，感受時疫，非發散與攻下，其熱不熄。古語云：治喉痹之火，與救火同。不可拘泥緩方與小方，誤人性命。若素稟陰虛者，用發散與攻下，則重竭其陰；素稟陽虛者，用發散與攻下，則剝喪其陽，遂成不救之症，是不可以不慎。元泰和二年，大都瘟病，東垣制普濟消毒飲，活人無算，時人謂之天方，所用皆清涼解散之品，惟肺有熱者，須減去人參。若陽虛而兼時疫，則宜逍遙散與補中益氣湯之類，補中兼散，較為妥善。至若格陽之症，則又當用附、桂、八味地黃湯或鎮陰煎之類。神而明之，存乎其人，不可拘執成見，不必泥定古方。予因近年有喉症忌散之說，故不揣固陋，妄抒意見，以俟高明之採擇焉。至是書當增刪處，已質之梧岡，更願質之天下。</p>
<p><u>時道光二十七年歲次丁未冬月潘誠葆真氏謹識</u></p>
