<header data-type="book">
<h1>資福等齊天醫十三科治病一宗</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>底本</dt><dd>朱墨鈔本（<a href="https://lccn.loc.gov/2012402278">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>
