<header data-type="book">
<h1>建殊錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data>吉益為則</data>撰，<data>岩恭敬</data>輯錄</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015283">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>友人岩生。受刀圭之術于吉益翁。其肆業之餘。銳意操觚。又就余而正焉。可謂篤志也已。一日手冊子請余序曰。此編雖小也。錄我先生所治。其疾若固若奇。皆世醫所不能下手也。其佗謂病在膏肓者而起之。不可勝數也。乃別錄之。不在此數。王充曰微病恆醫皆巧。篤劇扁鵲乃良。若我先生者。可不謂良也乎。先生常謂。曰何病不可愈。其不愈也。亦惟醫之所為之。然而不能生死人。起自當生者耳。所謂死病無良醫者。非不可愈焉。命之盡也。死生天也。非人也。命之未盡也。何病不可愈矣。果信乎。先生華於枯肉於骨。亦惟古方之用。其所用也運用應變。卓然自為一家。所謂藥不必出扁鵲之方。合之者善。可以為法者乎。非妄言古方之倫也。蓋不能用古方也。唐而後邪。即有用之。亦晨星耳。不然則畫蛇添足也。金張元素曰。運氣不齊。古今異軌。古方新病不相能也。其說浸洽後世醫流之肺腑。至乃不懼病懼藥。使輕病而漸療勿論。已所不能愈。輒命為廢痼。滔滔皆是也。此乃先生所為發憤有慨也。噫。後之醫。胡不思也。今之天地。古之天地。陰寒陽溫。日居月諸。東方自出。人字育其中。奚古與今異之有。而古今異之論。猶言卵有毛。蛇長於龜。公孫白馬之說乎。不然則據佛氏之說乎。勃窣理窟。論愈鑿術愈拙。不徒飾言亂實。乃為害不鮮矣。故此舉也。錄經實得驗。以為同好之弦韋已。余聞其言讀其書。欣然而謂曰。善哉是舉也。余自交東洞翁。後先耳目其術奏效也。以語人。則不信者。謂阿其所好。或為侜張其事溢美其言。不然則愕然吐舌以為不近人情也。此編出則疑余言者。瞭然如觀火。知非無稽之言矣。其猶為世醫投良藥矣乎。除泄其固習之舊毒乎。其唯於今乎。天下後世蓋聞風焉興者。亦或有之。亦惟東洞翁之賜。而岩生受而施之者乎。非邪。為岩生請其序。書其所論。以贈之云爾。</p>
<p><u>寶曆癸未之春美濃武欽繇撰</u></p>

<h1>序</h1>
<p>君子行而言焉。惡利口之覆邦家者。仲景之歿也。醫異其學。滔滔乎天下唯理是鑿。硜硜乎唯論之爭。後之讀其書者。亦朦然也。愈探愈遠。書曰。靜言庸違。信有是也。岩生恭在余左右也。疾人匄治者。於是居多。恭執管以記之。堆而成卷。曰建殊錄。蓋謂其效之殊於論理之人也。余頃者將梓類聚方方極也。恭請刻其書。余善推功之實。審事之情。以結狡兒之舌。以刮朦士之目。使與吾同志者憤然起也。遂許就工云。</p>
<p><u>寶曆癸未孟春東洞主人撰</u></p>

<h1>序</h1>
<p>夫醫之為職也。固人生之所恃。則其於朮。豈不大乎。然上古邈遠。其事靡聞。周官列其職。其人無傳矣。戰國之時。有越人者。而後世傳其籍。亦皆妖妄。非其真也。及東漢之時。有張仲景者。身為長沙太守。憂道之長廢。博術古訓。選述方法。自著論。降及後葉。無能傳其道者矣。於是唐有王孫。元有李朱。紛然迭起。各自論駁。惑陰陽之理。溺五行之說。則末義徒務。而至吾道遂熄矣。嗚呼。孰能力撥帡幪。復之其初者乎。我東方之盛也。文運郁興。鴻澤沛溢。四海欣欣。藜首興仁。於是有我東洞先生者出焉。憂凡民之固廢。原長沙之遺躅。潛心焦思。覆研推究者。三十年於茲矣。蓋其在初年也。人尚抱疑。鮮能信者。而及今論益篤也。凡四方之士。皆莫不造其門者。於是古道大辟。榛蔽盡除矣。則上古之不詳。周官之無傳。越人之籍之亂其真。斯皆可以推知。而無後疑矣。嗟呼。先生之業。不亦偉哉。不佞恭曩者寓先生之塾。蓋有年矣。有來請治者。則先生必命我輩志其證侯。於是恭竊錄其治驗之最著明者。輯為一卷。間者上梓欲傳之同志。蓋余聞之。巧其言虛其行者。其論雖美。未足與權矣。昔趙括學兵法云兵事。以為天下莫能當。而及其自率兵與秦戰也。一旦亡數十萬之眾。身以傾覆。以此觀之。醫徒誦方籍。守脈候。空論以誇其伎。非要之治驗。徵之實效。則安足定其優劣。亦徒不免為趙括耳。是乃先生之所持論。而恭之所以有此舉也。</p>
<p><u>寶曆癸未之秋播磨岩恭敬甫撰</u></p>

<h1>凡例</h1>
<p>往者恭。寓先生之塾。竊睹其治驗卓絕。心欲錄其方證。輯成一書。以備後進之龜鑑矣。而先生則以務在濟世。不屑瑣瑣錄其跡。凡其既往之事。皆已芒眛。無所準據。加之恭謁先生已晚。得執杖履僅六年。且其中間。又數歸省。疏闕之日居多。無奈其所茫眛與不可得而知者。故今第從恭耳目所及。抄成此一冊子。然此僅僅者。固屬豹文之一斑。尚且怏然不慊吾志。願待他日。旁叩審問。補其缺云。</p>
<p>先生之術專述長沙。不自立方。雖一藥增減。必據仲景。而其有實驗者。宋元諸家固無論。雖俗間所傳。不必擯棄。務在於取實效。何必拘名之為乎。故雖為仲景之方。或徵之治驗。而未見其效者。亦皆斥之。不妄收錄。凡若此類。先生別有論述。今不具贅。</p>
<p>凡閱此篇。如或擬取法者。必先審方主治。別藥真膺。然後可以施其治。一不精較。或恐誤人。師塾亦有藥徵方極之諸書。未閱此類者。請且勿妄談。先生諸治。唯從見證。不取因脈。乃此篇止錄證候者。以此故也。學者幸勿為疏漏。</p>
<p>居處姓名。雖不雅必記之。而如狂癲癩風。人所隱忌。故至此二病。率皆除之。其他一二准之者。又以有所避。凡每條亡姓名者。皆效此。</p>
<p>先生嘗謂經穴病名。多是後人妄撰也。此真發千古之夢夢。可謂確言矣。而此篇或猶用之者。蓋欲人易曉。姑仍其舊耳。非敢矛盾也。幸勿譏乖戾。此篇諸治。率每診一病。並用三方。蓋其先後進退。各有定法。今茲詳錄備左券。凡欲取法者。或閱本文。遇不知其用度。須按此例知其準的。曰某湯者。曰某丸若散者。臨臥必服一錢。曰時攻之者。十日若二十日必一用之。而其欲用之時。須必止他劑。獨別用之。次日即復故。</p>
<p>諸湯劑量。輕重雖不同。大抵以三錢為一貼。有時至十錢二十錢之重者。別於方名下注之。</p>
<p>此篇方名。有長沙及諸家方書所未載者。此皆系師家舊傳之禁方也。然有懇請者。則不必靳秘矣。故唯錄其目。至其藥劑。不復開列。</p>
<p>附錄一卷。長門儒官鶴臺先生者。行余用志於濟世之術。錄其無治驗者。正諸我先生。先生乃因其證候。考其主方。論之當否。所往復者。總若干篇。雖未涉其實。誠能悉長沙之秘奧。無復遺撼矣。學者或熟之。未必無少補也。因附錄於後云。</p>

<h1>正文</h1>
<p>山城澱藩士人出下平左衛門者謁先生曰。有男生而五歲。瘂而癇。癇日一發。或再發。虛尫羸憊。旦夕待斃。且其悶苦之狀。日甚一日矣。父母之情。不忍坐視。願賴先生之術。幸一見起。雖死不悔。先生因為診之。心下痞。按之濡。乃作大黃黃連湯飲之。百日所。痞去而癇弗復發。然而胸肋妨張。脅下支滿。瘂尚如故。又作小柴胡湯及三黃丸與之。時以大陷胸丸攻之。可半歲。一日乳母擁兒倚門。適有牽馬而過者。兒忽呼曰。牟麻。父母喜甚。乃襁負俱來。告之先生。先生試拈糖果。以挑其呼。兒忽復呼曰。牟麻。（本邦甘美之味。總謂之牟麻。馬亦謂牟麻。國語相通。）父母以為過願。踴躍不自勝。因服前方數月。言語卒如常兒。</p>
<p>越中二口誓光寺主僧某者。請診治曰。貧道眼目非有外瘴礙明。然但望物不能久視。或強之。則無方圓大小。須臾漸殺。最後如錐芒輒射。目中則痛不可忍。如此者凡三年。先生為診之。上氣煩熱。體肉瞤動。為桂苓朮甘湯及芎黃散服之。數十日。其視稍真。無復錐芒。於是僧歸期已迫。復謁曰。越去京師也殆千里。且道路難嶮。度難再上。病尚有不盡。願得授方法以歸也。因復診之。前證皆除。但覺胸脅苦滿。乃書小柴胡湯之方以與之。僧歸後信服之。雖有他證。不復他藥。一日俄大惡寒。四肢戰慄。心中煩悶。不能氣息。弟子驚愕。謀延醫治。病者掩心徐言曰。寧死無他藥矣。更復為小柴胡湯。連服數劑。少焉蒸振煩熱。汗溢腹背。至是舊疴百患。一旦頓除。四體清快。大異於往常。僧乃為之作書。走一介。謝先生云。</p>
<p>云州醫生祝求馬年可二十。一日忽苦跟痛。如錐刺。如刀刮。不可觸近。眾醫莫能處方者。有一瘍醫。以為當有膿。刀劈之。亦無效矣。於是迎先生診之。腹皮攣急。按之不弛。為芍藥甘草湯飲之。一服痛即已。</p>
<p>京師御幸街賈人菱屋五郎兵衛妻年可三十。分身之後。通身洪腫。腫已則腰腳委。不能起居。而陰中有二骨突出。左右相支。百治不收。遂不去蓐者凡七歲矣。聞先生之名求診治。心下痞硬。臍傍有塊。大如覆杯。其脊骨戾曲。右排腰眼上者寸許。為硝石大圓飲之。十餘日。陰中大小臭穢。三日所。痞去塊解。於是脊骨復故。突出之骨。忽亦沒失。則能起居。</p>
<p>浪華士人某者。患腹痛可三年。性素嗜茄子。嘗大食之。其痛益甚。殆不自勝。爾後每日必然。以故不復者。謁生生求診治。時適夏天。乃煮熟茄子數枚。強飽食之。已而心腹果大鳴動。痛倍於前日。極吐下而後已。如此者凡三次。能食茄子。而不復痛。</p>
<p>膳所侯臣服久左衛門女。初患頭瘡。瘳後兩目生翳。卒以失明。召先生。求診治。先生診之。上逆心煩。有時小便不快利。為桂苓朮甘湯。及芎黃散。雜進。時以紫丸攻之。障翳稍退。左目復明。於是。其族或以為古方家多用峻藥。雖障翳退。恐至有不諱也。久左衛門亦然其言。大懼之。乃謝罷。更召他醫。服緩補之劑。久之更復生翳。漠漠不能見。於是久左衛門復謁曰。向我女賴先生之庇。一目復明。而惑人間阻。遂復失明。今甚悔之。幸再治之。先生之惠也。請甚懇。先生因復診之。乃服前方數月。兩目復明。</p>
<p>京師界街賈人井筒屋播磨家僕。年七十餘。自壯年患疝瘕。十日五日必一發。壬午秋大發。腰腳攣急。陰卵偏大。欲入腹。絞痛不可忍。眾醫皆以為必死。先生診之。作大烏頭煎飲之。（每貼重八錢）斯須瞑眩氣絕。又頃之心腹鳴動。吐出水數升。即復故。爾後不再發。</p>
<p>某生徒讀書苦學。嘗有所發憤。遂倚幾廢寢七晝夜。已而獨語妄笑。指擿前儒。罵不絕口。久之人覺其狂疾。先生診之。胸肋妨脹。臍上有動。上氣不降。為柴胡薑桂湯飲之。時以紫丸攻之。數日全復常。</p>
<p>豫州今治林光寺主僧某上人。積年患淋疾。先生診之。心下痞硬。腹中雷鳴。為半夏瀉心湯及三黃丸飲之。三十日所。諸證全退。</p>
<p>京師東洞街賈人大和屋吉五郎。每歲發生之時。頭面必熱。頭上生瘡。癢瘙甚。搔之即爛。至凋落之侯。則不藥自已者。數年來。求診治。先生診之。心下微動。胸股支滿。上氣殊甚。為柴胡薑桂湯及芎黃散飲之。一月所。諸證全已。爾後不復發。</p>
<p>京師郊外西罔僧有良山和尚者年七十餘。其耳聵者數年。嘗聞先生之論。百疾生於一毒也。深服其理。因來求診治。先生診之。心胸微煩。上氣殊甚。作桂苓朮甘湯及芎黃散服之。數月而未見其效。乃謝罷。居數日。復謁曰。謝先生來。頗得通聽。意者上焦毒頗盡耶。先生診之曰。未也。試再服湯液。當復不能聽。然後更得能聽。其毒信盡也。因復服前方數月。果如先生之言。</p>
<p>京師室街賈人升屋德右衛門家僕宇右衛門者年二十有餘。積年患癇。一月一發。或再發。或不發。然間三月必發。先生診視之。胸腹微動。胸下支滿。有時上衝。乃作柴胡薑桂湯及滾痰丸飲之。時以梅肉散攻之。出入一歲所。不復發。</p>
<p>京師烏街賈人泉屋伊兵衛年二十有餘。積年患吐血。大抵每旬必一動。丙午秋大吐。吐已。則氣息頓絕。迎眾醫救之。皆以為不可為也。於是家人環泣。謀葬事。先生適至。亦使視之。則似未定死者。因著纊鼻間。猶蠕蠕動。乃按其腹有微動。蓋氣未盡也。急作三黃瀉心湯飲之。（每貼重十五錢）　須臾腹中雷鳴。下利數十行。即寤。出入二十日所全復故。爾後十餘歲不復發。</p>
<p>京師麩屋街賈人某者。患天行痢。一醫瘳之。雖度數頗減。尚下臭穢。日一再行。飲食無味。身體羸瘦。四肢無力。至其年月益甚。眾醫無效。先生診之。作大承氣湯飲之。數日全治。</p>
<p>丹波青山侯臣蜂太夫疾病。而胸中煩悶。短氣有渴。且其脊骨自七椎至十一椎。痛不可忍。眾醫皆以為虛。作獨參湯飲之。凡六日無其效。先生診之。作石膏黃連甘草湯飲之。（每貼重三十五錢）　盡一服。痛即已。入出五十日所。全復常。</p>
<p>京師河原銜又兵衛者年八十餘。恆以賣菜。出入先生之家。嘗不來者數日。使人問之。謝曰。頃者病慍郁。以故不出。居數日。復問之。臍上發癰。其徑九寸許。正氣乏絕。邪熱如憿。先生愍其貧困不能藥。乃作大黃牡丹湯及伯州散飲之。數日。膿盡肉生。矍鑠能行。</p>
<p>京師九田街刀屋平八者。壬午秋。左足發疔。瘍醫治之。後更生肉莖。其狀如蛭。用刀截去。無知所痛。隨截隨長。明年。別復發疔。治則如初。爾後歲以為常。生肉莖者凡五條。上下參差。並垂於脛上焉。眾醫莫知其故。進藥亦皆無效。先生曰。我亦不知其所因矣。然至其治之。豈不能乎。因診之。心胸微煩。有時欲飲水。腳殊濡弱。為越婢加朮附湯及白州散飲之。時以梅肉散攻之。數日莖皆脫下而愈。</p>
<p>京師士人某妻。善憂恚。甚則罵詈不絕口。如此者十有餘年。某醫瘳之。無其效。更迓先生求診治。先生診之。心胸煩悶。口舌乾燥欲飲水。作石膏黃連甘草湯飲之。數月。諸證皆除。前醫聞之。嫉其效。謂士人曰。婦人久服石膏。則絕子種矣。余非不能為之。惡其不仁也。士人亦因其言大憾之。來詰先生。先生答曰。夫婦人之孕與不孕。固非人事之所及也。況乃草根石屑何能制之。且彼於積年已然之疾。猶不能治之。焉知其未然乎。士人歎服而去。明年其妻始娠。</p>
<p>江州大津賈人錢屋七郎兵衛男。生而五歲。病兼瘂癇。癇比日必發。且其骨體委弱。不能自凝坐。先生診之。胸肋妨張。脅下支滿。作小柴胡湯及滾痰丸飲之。時以紫丸攻之。數月。稍能用手足。癇不復發。先生曰。更服之。瘂亦可治。然而賈人以其瞑眩頗甚。而疑懼不能決。託事故謝罷。</p>
<p>京師麩屋街賈人近江屋嘉兵衛男。年十有三。患天行痢。裡急後重。心腹刺痛。噤口三日。苦楚呻吟。四肢撲席。諸醫無效。先生診之。作大承氣湯飲之。（每貼重十二錢）　少焉蒸振熱煩。快利如傾。即愈。</p>
<p>越中醫生某男。年三十所。發狂。喚叫妄走。不避水火。醫生頗盡其術而救之。一無其效矣。於是聞先生之名。詳錄證候。懇求治方。其略曰。胸膈煩悶。口舌乾燥。欲飲水無休時。先生乃為石膏黃連甘草湯及滾痰丸贈之。服百有餘劑。全復常。</p>
<p>丸龜侯臣勝田九八郎女弟。患痿癖。諸治無效。先生診之。體內瞤動。上氣殊甚。為桂苓朮甘湯飲之。須臾坐尿二十四行。乃忽然起居。</p>
<p>京南東福寺塔頭松月軒某長老。病後肘骨突出。不能屈伸。先生診之。腹皮攣急。四肢沉惰。有時上逆。為桂枝加附子湯及芎黃散飲之。時以梅肉散攻之。數十日。時骨復故。屈伸如意。</p>
<p>一賈人。面色紫潤。掌中肉脫。四肢癢痛。眾醫皆以為癩疾處方。亦皆無效。先生診之。胸肋妨張。心下痞鞕。為小柴胡湯及梅肉散雜進數十日。掌肉復故。紫潤始退。</p>
<p>京師生洲松屋源兵衛妻。胎孕二三月。腰背攣痛。四肢沉重。飲食無味。先生診視之。為桂枝加附子湯飲之。時以十棗湯攻之。每攻諸證漸退。及期母子俱無損傷。</p>
<p>大炊相公臣田太夫憂慮過多。久而生熱鬱。四肢重惰。志氣錯越。居常不安。灸刺諸藥並無效。先生診之。作芍藥甘草附子湯飲之。數十日。更又為七寶丸服之。如此者凡六次。而全復常。其父甲州君年已九十餘。生來不信醫藥。以為無益。至是大崇先生之術。謂家人曰。予如有病。其所賴唯有東洞而已。（東洞者先生別號也）　後數年。患傷寒。心胸煩熱。譫言妄語。小便不利。不進食者凡六日。家人乃召先生視之。心胸煩滿。四肢微腫。乃作茯苓飲飲之。吐出水數升而愈。初甲州君自年及六十。雖盛夏重衣猶寒。以為老而衰也。自是之後。更服綺絺。與少壯之時不異矣。以此視之。蓋病也。非老衰也。</p>
<p>一婦人患黴瘡。差後。結喉上生血腫。大如梅子。自以為若急腐潰。則呼吸漏泄。恐至性命。來求診治。先生乃作七寶丸飲之。一劑其腫移者寸許。再服至天突。三劑則至華蓋之上。乃腐潰而愈。</p>
<p>京師智恩街紙鋪政右衛門者。病後怯悸。畏障戶之響。其所牴觸皆黏紙條防之。居常飲食無味。百事皆廢。然行步不妨。但遇橋梁則乘輿猶不能過。百治無效。如此者凡三年。先生診之。上氣殊甚。脅下拘滿。胸腹有動。心中不安。作桂苓朮甘湯及芎黃散飲之。數日。上逆稍減。又為柴胡薑桂湯飲之。數月諸證皆除。居二三日。家召蓋匠。政右衛門正出廡下。自指揮修葺。遇有不如意。走而上屋。就之而不知其蹈梯之易焉。久之自覺。語之家人。余聞之其家人云。</p>
<p>一京人。素剛強。臍下發癰。使瘍醫治之。無其效矣。乃自用刀剜之。且灸其上。汁出而愈。而按之硬如石。無何之東都。道經諏訪浴溫泉。即大疼痛不可忍。於是自以為初剜猶淺。而其根未盡也。更又剜之。灸其上數十壯。少焉腸燒爛。水血迸出。然其人能食。食則清穀出。故常以綿縈其腹。先生診之。乃為大黃牡丹湯及白州散飲之。數日全愈。</p>
<p>京師油街界屋新七。通身浮腫。腳氣上衝。心胸熱煩。甚則正氣乏絕。晝夜倚壁不能臥。進湯即吐。眾醫皆以為必死。先生作越婢加朮附湯飲之。吐尚如故。而益飲之不止。居五六日。心胸稍安。藥不復吐。於是又作十棗湯飲之。吐下如傾。諸證傾退。</p>
<p>京師四條街賈人三井某家僕三四郎者。四肢憊惰。有時心腹切痛。居常鬱郁。氣志不樂。諸治無效。有一醫某者。以先生有異能。勸迓之。賈人曰。固聞先生之名。然古方家多用峻藥。是以懼未請爾。醫乃更諭。且保其無害。遂迓先生診之。腹中攣急。按之不弛。乃作建中湯飲之。其夜胸腹煩悶。吐下如傾。賈人大驚懼。召某醫責之。醫曰。東洞所用非峻劑。疾適發動耳。賈人尚疑。又召先生。意欲無復服。先生曰。余所處非吐下之劑。而如此其甚者。蓋彼病毒勢已敗。無所伏。因自潰遁耳。不如益攻之也。賈人乃服其言。先生乃還。翌早病者自來謁曰。吐下之後。諸證脫然。頓如平日也。</p>
<p>有恕首坐者。伯州人也。遊京師。與我輩善。首坐一日謁先生曰。頃者得鄉信。貧道戒師某禪師者病腫脹。二便不通。眾醫皆以為必死。將還侍湯藥。願得先生備急丸者而往矣。乃作數劑與之。比及首坐還。禪師僅存呼吸。即出備急丸服之。下利數十行。腫稍減。未及十日全愈。於是其里中有患癩疾者。見其有奇效。謁首坐求之診治。首坐乃謝曰。京師有東洞先生者良醫也。千里能瘳疾。無所不治。向所進禪師固其藥也。今又為汝請之。其人亦懇託而退。首坐復來京師。則輒謁先生。詳告其證候。且懇其治。先生乃作七寶丸二劑贈之其人。其人服之。而全治矣。其明年來京師謁先生。則已如未病者焉矣。</p>
<p>京師岩上賈人某者。患黴瘡。差後。鼻梁壞陷。殆與兩頰等。先生為七寶丸飲之。其鼻反腫脹。三倍於平人。及盡三劑。則稍縮收。再見全鼻。</p>
<p>越中僧僧撲者。病後失明。先生為芎黃散飲之。僧喜其快利。乃不論量度。日夜飲之。久之大吐血。而性素豪邁。益飲之不已。卒以復明。僧語於人曰。當服藥之時。每剃髮必聞芎藭之臭。蓋其氣能上達也。</p>
<p>笹山侯臣河合九郎兵衛者。一日卒倒。呼吸促迫。角弓反張。不能自轉側。急為備急丸飲之。（每服重五錢）　下利如傾。即復故。</p>
<p>先生門人備中足守中尾元彌。覺腳弱之狀。自服平水桃花之輩。而其腳益弱。然尚服前方不止。遂以委弱不能起居。於是先生診之。為十棗湯及芍藥甘草附子湯雜進。（芍藥甘草附子湯每貼重十五錢）　時作礬石湯。浸腳數月。未見其效。生猶服前方。不止。出入一歲所。全愈。</p>
<p>越中小田中村勝樂寺後住。年十三。生而病瘂。其現住來謁曰。余後住者不敢願言語能通。幸賴先生之術倘得稱佛名足矣。其劑峻烈。非所畏懼。縱及死。亦無悔矣。先生診之。胸肋妨張。如有物支之。乃為小陷胸湯及滾痰丸與之。月餘。又為七寶丸飲之。數日。如此者凡六次。出入二歲所。乃無不言。</p>
<p>一男子患黴瘡。瘥後。骨節疼痛。不可忍。先生診之。為七寶丸飲之。喘沫如流。齒縫黑血出。已而牙齒動搖。遂以脫落。其人患之。無何血止疾瘥。其齒復生。哺啖健於前云。</p>
<p>京師烏街賈人菊屋清兵衛者年可三十。雅崇先生之術。而其家人無一肯之者。賈人嘗病。心中煩悸。飲食不進。先生治之。數日未見其效。於是家人固諭清兵衛召他醫。則病勢愈加。心悶肩息。旦夕將死。清兵衛乃嘆曰。死則命也。棄先生之術。死於世醫之手乎。嗚呼已矣夫。如斯豈天哉。於是復召先生。時者余亦從往。先生診之。出而謂余曰。死生有命。吾非所知也。非駃藥救之。則彼不足安也。而家人知之。必復難之。夫清兵衛者信乎我者也。余豈可以家人而已乎。乃為走馬湯飲之。下利數十行。氣息稍安。飲食隨進。然而翌早復迫。其後三日。竟至不可救矣。然家人因知先生能守義不拘名利。大信先生之術矣。嗟呼。如清兵衛者。可謂能盡人事者矣。</p>
<p>京師河原街賈人升屋傳兵衛女。病。眾醫皆以為勞瘵。而處方亦皆無效。羸瘦日甚。旦夕且死。賈人素懼古方。然以不得已來求診治。先生既往診之。知其意之不信。即謝歸矣。逾月其女死。其後二年。其妹亦病。賈人謁曰。僕初有五子。其四人者皆已亡。其病皆勞瘵也。蓋齡及十五。則其春正月。瘵必發。至秋八月必皆死矣。向先生所診此其一也。亦已死矣。而今者季子年十七。亦病之。夫僕固非不知古方有奇效。懼其多用峻藥也。然願緩補之劑救之。不見一有其效矣。願先生瘳之。縱死無復所悔矣。先生為診之。氣力沉溺。四肢憊惰。寒熱往來。咳嗽殊甚。作小青龍湯及滾痰丸雜進。其歲未至八月。全復常。</p>
<p>京師木屋街魚店吉兵衛男。年十四歲。通身洪腫。心胸煩悶。小便不利。腳殊濡弱。眾醫無效。先生診之。胸脅苦滿。心下痞鞕。四肢微熱。作小柴胡湯飲之。盡三服。小便快利。腫脹隨減。未滿十服而全愈。</p>
<p>京師富街賈人堺屋治兵衛妻。積病五年。首疾腹痛。諸證雜出。無復定證。其族有醫某者。久療之。未見其效。最後腹肚妨脹。倍於平日。醫以為必死。因謝退。於是召先生。先生為大承氣湯與之。其人未服。某醫復至。聞先生之主方。因謂賈人曰。嗟呼。如此殆速其死也。夫承氣之峻烈。譬猶發火銃於腹內。懼之不已。而賈人以其初久無效。竟不聽。醫退連服數劑。坐廁之後。心腹頓安。而胸中尚覺喘滿之狀。先生又為控涎丹與之。其人未服。醫復至。謂賈人曰。承氣尚恐其不勝也。況此甚於彼者乎。必勿服。再三叮囑而去。賈人復不聽。其夜輒服之。翌早吐下如傾。胸腹愈安。醫復至。見其如此。歎服去。後數日。全愈。初治兵衛者。患腹瀉。恆非稀粥不能食。然未嘗服藥。以為無益。見先生殊效。始知醫藥可信。乃嘆曰。先生良醫也。豈可病而不治乎。遂求之診治。為半夏瀉心湯飲之。數月腹瀉止。而能吃飯。</p>
<p>越中僧玉潭者。病後左足屈縮。不能行步。乃為越婢加朮附湯飲之。時以紫丸攻之。每攻其足伸寸許。出入三月所。行步復常。而指頭尚無力。不能跂立。僧益下之不止。一日遽起取架上之物。已而自念。其架稍高。非跂立不能及。因復試為之。則已如意矣。</p>
<p>京師木屋街伊賀屋久右衛門家婢。患痘。布根稠密。起發不快。煩熱癢渴。無少安。已而瘡窠黑陷。無復潤色。眾醫皆以為必死。先生診之。為紫丸飲之。下利數十行。翌早盡紅活。諸證皆退。</p>
<p>京師界街儒生曾內記男。生而三歲。痘前大熱。喉干口燥。有物自臍下上。已衝心胸。則咬呀喘渴。不勝悶苦。痘亦灰色無光。眾醫皆謝去。先生為紫丸飲之。坐廁之後。忽發紅澤。諸證頓退。</p>
<p>泉州佐野豪族食野喜兵衛家僕元吉者。年二十餘。請治曰嗝噎二年所。十日五日必發。頃者胸腹脹滿。舉體愈不安。眾醫皆以為不治。無一處方者。蓋聞先生之論。死生者天之所命。疾病者醫之所治也。等死。願死於先生之治。幸為瘳之。先生為大半夏湯飲之。飲輒隨吐。每吐必雜黏痰。居八九日。藥始得下。飲食不復吐。出入二月所。全愈。</p>
<p>奧州仙台長井屋甚七。積年患哮喘。大抵每月必發。其疾苦甚。則熱煩怔忡。絕食廢寢。喘咳殊甚。先生診之。為小青龍湯及滾痰丸飲之。時以紫丸。服百有餘劑全治。</p>
<p>勢州白子久住莊右衛門。伏枕可三年。其為疾也。口眼喎斜。四肢不遂。居常唾涎。語言難通。先生診之。為桂枝湯加朮附各三兩飲之。時以平水丸雜進。出入半歲所。全復常。</p>
<p>京師郊外並罔法金剛院主僧大千長老。有時左臂上忽痛。俄頃紫筋凸起。益痛甚。射指頭。晝夜廢寢食。殆不自勝。或五日已。或三日已。已則筋隨散如平人。患之三十餘年。謁先生求診治。先生診之。為桂枝湯加朮附各三兩飲之。時以梅肉散雜進。久之雖頗奏效。而未全治。已而每尿必頭眩。幾欲倒。又為桂苓朮甘湯飲之。一月所。頭眩止。筋不復發。居無何。有井筒屋幸助者。室街賈人也。聞長老疾已治。謁求診治。其證候雖率類長老。而當其發時。生血色瘤。紫筋不起。乃為大黃牡丹湯及白州散飲之。凡服一百劑全治。</p>
<p>浪華梶木街賈人尾路屋傳兵衛女。患腹滿。浪華醫盡其術救之。一無其效。於是。就於先生於京師。先生診之。為大承氣湯飲之。二月所。腹全減如平人。而按之。臍旁有塊。尚未解。以故與前方不已。賈人乃以為無所病。託事故謝罷。居六月所。大便漸燥結。飲食頗減。一日忽腹痛。連嘔吐。於是始服先生之明。更求診治。為大半夏湯飲之。數日痛止不復吐。乃復為大承氣湯下之。十日五日僅一行。塊尚如故。久之陰中下臭穢。下利日十餘行。如此者三日所。利止塊解。頓如平日。</p>
<p>先生令子干之助。四歲而患痘。證候甚急也。為紫丸飲之。雖頗奏其效。病勢轉迫。卒至不可救矣。後數年。其妹四歲亦患痘。瘡窠概密。色亦紫黑。呀咬喘鳴。不勝悶苦。先生亦為紫丸飲之。於是。族人某者諭曰。曏者或訾先生曰。東洞之處方也。不論內外。諸疾必下之。是以竟殺其子矣。而今亦下之。如有不諱。則得無不慈之譏乎。先生曰。方證相對。其毒盛死者。是其命也。豈拘譭譽而變吾操乎。益飲之不休。諸證皆退。全愈。</p>

<h1>附錄</h1>
<p>病者自小腹臍左右或腰寒戰。稍覺寒。則心下痞塞。胸背刺痛。或嘈雜吞酸。或吐水。足厥冷必欲臥。或得食止。或得酒止。或得溫藥稍止。或得莪朮香附子輩稍止。病發則氣力沉弱殆欲絕。須臾諸證悉退。如無病人。或日四五發。或一二發。或有腹痛甚拒食數日不食者。或有十餘年者。六七年。若二三年者。婦人產後如此者。有經閉如此者。有經行如常如此者。男子酒色過多患此者。有黴瘡愈後然者。雖其證有輕重。大略同證。有冷氣遊走者。或有水氣上下者。婦人或有水血相交者。何方主之。有產後新得此病。以來二三月者。初用檳榔蘇子加大黃湯十貼。諸證皆止。後用半夏瀉心湯。數日而不再發。本草升麻條下有形證稍似者。伏乞辨考。</p>
<p>病者覺有物。小腹或臍傍奔上。則膈中逼喉下。如雲煙充塞。胸揹走痛。煩悶沉昏。須臾知雲煙者下收。則忽然復常。平居體中寒冷。雖夏月著襪重衣。常多憂思。恐不能安眠。或時覺如梅子物自膈中臨喉門。又覺一物如梅子大。有皮膚中自胸上。達肩至第七八俞邊止。凡所患時時變換。證候不一。然太略如上。而飲食如常。形色不衰。凡患此證甚多。雖輕重不同。大率如此。要之。屬癇證何方主之。鷓鴣湯三黃白虎鐵砂大黃散桔梗白散大陷胸湯類皆無效。間有久服桂枝加龍骨牡蠣湯稍囗囗。（缺字）</p>
<p>婦人年可三十。患腹脹七八年。二倍於臨產腹。而青筋凸起。其硬如石。其初一年所。飲食不進。氣力沉弱。二三年後。飲食如常。起居動作。粗如平人。遠步大動作稍難耳。二便亦如常。病來經水不來。今春初診之。用桃仁承氣抵當甘遂大黃赤丸鷓鶘鐵砂大黃雙紫丸平水丸類。雖稍瀉下。腹全不減。用巴豆則必吐逆。又用雞屎百霜散亦不應。此病當如何。婦人間有此病。或十年二三十年。而猶不死。一婦人有患此證十七八年。夢中有異人授方。服之。黃水自臍漏出者四五日。而腹減復常。其方別具。鐵砂忍冬二味煎服。</p>
<p>婦人年可六十。去夏患自汗如流。日夜不止。至八月。左右手足不仁。腰背麻痹。灸灼不知痛。諸醫以為痱證。百方無效。日甚一日。至十月請余。余以為腳氣蓄水所為。用檳榔蘇子加大黃湯。二三日。則覺腰背手足皮中如蟲行狀。指端最甚。數十日而稍知痛癢。於是。用黃耆防己加麻辛桂虎骨湯。至臘月中旬。手足如常。諸證皆已。其初大便結澀。舌有黃胎。右脅有塊。時時奔動。動則胸痛心悶。</p>
<p>男子年可六十。初患淋疾。十年所。愈而後患腹中㽲痛又十年所。飲食如常。外無所苦。食後步行則吐水。如此者其常也。去秋至冬初。因監田租。日在郊野。侵寒觸冷。食不進。於是每朝吃酒一大碗。以當朝食。數十日以為常。至臘月中旬。覺左乳下有物懸著。飲食昏停滯乳下。不下胃中。食後二時所。吞酸吐雞卵臭數十回。而後稍覺入胃中。胸背大痛。口渴引飲。便秘減。正月中旬余診之。以為澼飲所為。與吳茱萸硝石湯三貼。乳下稍開。乃與小陷胸加枳實湯三貼。乳下洗然。乃與半夏瀉心湯二三服。後瀉水。日數十行。覺肩上膈間滴滴有聲。須臾脅腹鳴動。則洞瀉。凡如此者七八日。飲食日進。證候日快。而與藥如故。稍稍瀉止。諸證悉失。壯健如十年前。鼓脹兼勞瘵者。未見有治效。</p>
<p>凡察病人。水氣為患者十居七八。於是觀仲景方。治水之劑。亦十之七八。乃知水之為患。大且多矣。為醫者留意於此。分別表裡高下胃中胃外伏流散凝等。從證治起死回生之功。亦十之七八矣。</p>
<p>訶黎勒人。唯知止瀉。不知逐水。法苑珠林引分別功德經云。佛弟子博羅療一比丘常苦頭痛。與訶子一丸。所患遂已。其論謂。膈間有水上攻。故頭痛。訶子除水。故愈。此余所暗記。大意如此。非彼文者。</p>
<p>凡中風寒邪者。有水迎之。故其候有頭痛惡寒汗出痰湧目淚鼻涕一身走痛等類。逐水則邪除。故汗出而愈。於是乎桂枝麻黃細辛半夏乾生薑輩才能可得而知已。牡蠣龍骨亦治之之藥。</p>
<p>蝮蛇箱山錫杖實二味。酒浸日乾。細末。糊丸。以酒送下。主治主血相結。冷氣走痛。心胸痞塞。虛羸乏力者名二輪丸。</p>
<p>鼴鼠霜。能治顛癇吐涎沫者。</p>

<h2>東洞先生答鶴臺先生書</h2>
<p>病者自小腹臍左右或腰寒戰雲云。此證甚多。是留飲病也。其處方也。假令小腹絞痛。腰攣急者。烏頭煎湯主之。心下痞鞕者。附子湯主之。胸背刺痛。或嘈雜吞酸。或吐水。或嗜臥。兼心下痞鞕。則人參湯。兼胸脅苦滿。則小柴胡湯。心下痞鞕腹鳴。則半夏瀉心湯。心下不痞。雷鳴切痛。則附子粳米湯。心下不痞。上逆甚。則桂苓朮甘湯。上逆而吐水。則五苓散也。而不問男子婦人產前產後過酒過色。唯隨證治之。是古之道也。足下用檳榔蘇子加大黃湯半夏瀉心湯二方者。治則治矣。雖然方者有主藥主治。知其主藥主治而用之。則為古今之法。否。則雖治不免仲景非其治之議也。足下諒察焉。來諭曰。本草升麻條下。有形證稍似者。按本草升麻葛根湯。異仲景所用也。今讀其論。以想像推病。以不可知為知。焉能得功。縱有其功。偶中耳。此方主治頭痛發熱項背強急等之證也。時珍不知焉。有此證而用之。是升麻葛根湯之功也。非時珍之功。</p>
<p>病者覺有物云云。此證亦水氣之變而上逆病也。故往往與桂苓朮甘湯桂苓味甘湯苓桂甘棗湯輩。胸揹走痛者。每夜用滾痰丸一錢。若痛劇者。間用控涎丹。其如梅子物。自膈上。達肩也。亦唯控涎丹主之。若毒著背俞。凝然不動。則灸如九曜星。或五日或七日。以散為度。而控涎丹逐之。然後至自膈中臨喉門之物。半夏厚朴湯主之。如夫平居苦寒。夏月著襪重衣。憂思悲恐者。兼之於諸病也。則非證之確者矣。足下以此為屬癇證。非矣。夫癇間也。病有間隙之謂也。大抵雜病皆有間也。然則何言乎癇。何言乎非間。且名實之實也。名不盡物之狀。不如數數焉推實著明也。余不名已久矣。</p>
<p>鷓鴣湯云云。方各有主治。非其證。則無功。鷓鴣湯主治吐蛔。三黃湯主治心下痞而悸。白虎湯主治煩渴。桔梗白散主治黏痰或臭膿。大陷胸湯主治結胸之疾。足下所用無此證也。宜哉其不得功。桂枝加龍骨牡蠣湯主治胸腹有動上逆干。今無上逆而用之。故雖有小功乎。不全愈也。如鐵砂大黃散。余未試之。</p>
<p>一婦人年可三十。患腹脹云云。腹滿者枳實厚朴之主治也。大承氣湯主之。近者得一禁方試之。血小溲而解。今傳之足下。足下試之。大凡足下所用。皆不得方意如此。而後有功也。偶中不可為法矣。桃核承氣湯方。不自大承氣湯來。自大黃甘草湯來。故主治少腹急結者。足下失其本。何以得效乎。諸方皆然。足下察諸。辱異人之方治腹脹者。試以告效。</p>
<p>一婦人年可六十。患自汗云云。此證足下以為腳氣也。夫腳氣者。病特在腳之名也。不知大兄何以謂腳氣也。若使余從事。初大黃附子湯。後黃蓍桂枝五物湯乎。方不稽古而虛。則雖治乎。不可為法。足下思諸。</p>
<p>一男子年可六十。初患淋疾云云。嗚呼得其治哉。嗚呼得其治或。昔仲景之為方也。從證以處。亦不問其所因。今足下有焉。</p>
<p>鼓脹兼勞瘵云云。後世勞瘵之論。不知疾醫之道者之所為焉耳。足下所謂勞瘵者。不知何等證。請再聞其說。</p>
<p>凡察病人水氣為患者云云。夫人之為病毒也。無不水穀。何則人生入口腹者。唯飲食也。而其水毒流行一身。谷毒止於腸胃。故毒物動顯證。十七八者水也。十二三者谷也。足下之論實然。世人嘗聞余說者。面諛腹非。無一可與語者。如足下可謂知音矣。</p>
<p>中風寒邪者。有水迎之云云。此論千載卓見。可謂能知仲景之方矣。然不得藥能。不能治之。得之有道。參觀加減之方是也。余向錄藥徵。以備高覽。來諭曰。牡蠣龍骨治水。是蓋非不稽之論乎。仲景以牡蠣主治胸腹之動。以龍骨主治臍下之動。未見其治水。足下別有所稽乎。請重誨之。</p>
<p>蝮蛇鼴鼠二方。吾其試焉乎。意必有效。</p>
