<header data-type="book">
<h1>本草綱目別名錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李時珍</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1578">公元1578年</data></dd></div>
</dl>
</header>

<h1>本草綱目釋名</h1>
<p>（有別名者錄之無別名者未錄）</p>

<h2>水部</h2>
<p><u>甘露</u>（膏露　天酒　瑞露　神漿）</p>
<p><u>明水</u>（方諸水）</p>
<p><u>夏冰</u>（凌）</p>
<p><u>半天河</u>（上池水）</p>
<p><u>醴泉</u>（甘泉）</p>
<p><u>溫湯</u>（溫泉　沸泉）</p>
<p><u>鹽膽水</u>（滷水）</p>
<p><u>地漿</u>（土漿）</p>
<p><u>熱湯</u>（百沸湯　麻沸湯　太和湯）</p>
<p><u>生熟湯</u>（陰陽水）</p>
<p><u>漿水</u>（酸漿）</p>

<h2>火部</h2>
<p><u>火針</u>（淬針　煨針　燒針）</p>

<h2>土部</h2>
<p><u>白堊</u>（白善土　畫粉　白土粉）</p>
<p><u>土蜂窠</u>（蠮螉窠）</p>
<p><u>蟻蛭土</u>（蟻封）</p>
<p><u>蚯蚓泥</u>（六一泥　蚓螻）　</p>
<p><u>烏爹泥</u>（烏壘泥　孩兒茶）</p>
<p><u>伏龍肝</u>（灶心土）</p>
<p><u>土墼</u>（煤赭）</p>
<p><u>甘鍋</u>（銷金銀鍋）</p>
<p><u>墨</u>（烏金　玄香　陳玄　烏玉塊）</p>
<p><u>釜臍墨</u>（鐺墨　釜月中墨　釜炲　釜煤　鍋底墨）</p>
<p><u>百草霜</u>（灶突墨　灶額墨）</p>
<p><u>石鹼</u>（灰鹼　花鹼）</p>
<p><u>梁上塵</u>（倒掛塵名烏龍尾　煙珠）</p>

<h2>金部</h2>
<p><u>金</u>（黃牙　太真）</p>
<p><u>銀</u>（白金　鋈）</p>
<p><u>赤銅</u>（紅銅　赤金）</p>
<p><u>銅屑</u>（銅落　銅花　銅砂　銅末　銅粉）</p>
<p><u>自然銅</u>（石髓鉛）</p>
<p><u>銅青</u>（銅綠）</p>
<p><u>鉛</u>（青金　金公　黑錫　水中金）</p>
<p><u>鉛霜</u>（鉛白霜）</p>
<p><u>粉錫</u>（解錫　鉛華　定粉　光粉　水粉　鉛粉　胡粉　瓦粉　白粉　官粉）</p>
<p><u>鉛丹</u>（黃丹　朱粉　丹粉）</p>
<p><u>密陀僧</u>（沒多僧　爐底）</p>
<p><u>錫</u>（白鑞　賀　鈏）</p>
<p><u>古鏡</u>（鑑　照子）</p>
<p><u>鐵</u>（黑金　烏金）</p>
<p><u>古文錢</u>（泉　上清童子　孔方兄　青蛈）</p>
<p><u>鋼鐵</u>（跳鐵）</p>
<p><u>鐵落</u>（鐵液　鐵蛾　鐵屑）</p>
<p><u>鐵精</u>（鐵花）</p>
<p><u>鐵華粉</u>（鐵䗋粉　鐵霜　鐵豔粉）</p>
<p><u>鐵鏽</u>（鐵衣）</p>
<p><u>鐵爇</u>（刀煙　刀油）</p>

<h2>玉部</h2>
<p><u>玉</u>（玄真）</p>
<p><u>白玉髓</u>（玉脂　玉液　玉膏）</p>
<p><u>青琅玕</u>（石蘭干　青珠　石珠）</p>
<p><u>青玉</u>（谷玉）</p>
<p><u>珊瑚</u>（缽擺娑福羅）</p>
<p><u>馬腦</u>（瑪瑙　摩羅迦隸　文石）</p>
<p><u>玻璃</u>（頗黎　水玉）</p>
<p><u>水精</u>（水晶　石英　水玉）</p>
<p><u>琉璃</u>（火齊）</p>
<p><u>雲母</u>（雲華　雲英　云砂　云珠　雲液　磷石）</p>
<p><u>菩薩石</u>（放光石　陰精石）</p>

<h2>石部</h2>
<p><u>丹砂</u>（硃砂）</p>
<p><u>水銀</u>（汞　靈液　澒　奼女）</p>
<p><u>水銀粉</u>（汞粉　峭粉　輕粉　膩粉）</p>
<p><u>粉霜</u>（水銀霜　白雪　白靈砂）</p>
<p><u>銀硃</u>（猩紅　紫粉霜）</p>
<p><u>靈砂</u>（二氣砂）</p>
<p><u>雄黃</u>（黃金石　熏黃　石黃）</p>
<p><u>石膏</u>（細理石　寒水石）</p>
<p><u>理石</u>（肌石　立制石）</p>
<p><u>長石</u>（方石　土石　直石　硬石膏）</p>
<p><u>方解石</u>（黃石）</p>
<p><u>不灰木</u>（無灰木）</p>
<p><u>滑石</u>（畫石　膋石　冷石　共石　液石　脫石　番石）</p>
<p><u>爐甘石</u>（爐先生）</p>
<p><u>石鐘乳</u>（留公乳　蘆石　鵝管石　虛中　夏石　黃石砂）</p>
<p><u>孔公孽</u>（孔公石　通石）</p>
<p><u>殷孽</u>（姜石）</p>
<p><u>土殷孽</u>（土乳）</p>
<p><u>石腦</u>（石飴餅　石芝　化公石）</p>
<p><u>石腦油</u>（石油　猛火油　硫黃油　石漆　雄黃油）</p>
<p><u>石炭</u>（煤炭　鐵炭　烏金石　石墨　焦石）</p>
<p><u>石灰</u>（石堊　希灰　白虎　堊灰　鍛石　礦灰）</p>
<p><u>浮石</u>（海石　石花）</p>
<p><u>陽起石</u>（羊起石　石生　白石）</p>
<p><u>慈石</u>（玄石　協鐵石　處石　吸鐵石）</p>
<p><u>玄石</u>（玄水石　處石）</p>
<p><u>代赭石</u>（須丸　土朱　血師　鐵朱）</p>
<p><u>禹餘糧</u>（白餘糧）</p>
<p><u>太一餘糧</u>（石腦　禹哀）</p>
<p><u>空青</u>（楊梅青）</p>
<p><u>綠青</u>（石綠　大綠）</p>
<p><u>扁青</u>（石青　大青）</p>
<p><u>白青</u>（碧青　魚目青）</p>
<p><u>礜石</u>（白礜石　立利石　固羊石　澤乳　太白石　青介石　石鹽　鼠鄉）</p>
<p><u>特生礜石</u>（蒼礜石　鼠毒　蒼石）</p>
<p><u>石膽</u>（膽礬　畢石　銅勒　黑石　君石　立制石）</p>
<p><u>砒石</u>（信石　生者名砒黃　人言　煉者名砒霜）</p>
<p><u>金星石</u></p>
<p><u>婆娑石</u>（摩娑石）</p>
<p><u>礞石</u>（青礞石）</p>
<p><u>花乳石</u>（花蕊石）</p>
<p><u>金牙石</u>（黃牙石）</p>
<p><u>金剛石</u>（金剛石　金剛鑽）</p>
<p><u>砭石</u>（針石）</p>
<p><u>越砥</u>（磨刀石　礪石　羊肝石）</p>
<p><u>姜石</u>（𥓌礪石）</p>
<p><u>石蠶</u>（石殭蠶）</p>
<p><u>霹靂砧</u>（雷揳）</p>
<p><u>食鹽</u>（醝）</p>
<p><u>戎鹽</u>（胡鹽　禿登鹽　青鹽　羌鹽　陰土鹽）</p>
<p><u>光明鹽</u>（石鹽　水晶鹽　聖石）</p>
<p><u>滷咸</u>（滷鹽　石咸　寒石）</p>
<p><u>凝水石</u>（白水石　淩水石　泥精　鹽根　寒水石　鹽精石　鹽枕）</p>
<p><u>玄精石</u>（太乙玄精石　玄英石　陰精石）</p>
<p><u>綠鹽</u>（鹽綠　石綠）</p>
<p><u>朴硝</u>（消石樸　皮消　鹽消）</p>
<p><u>玄明粉</u>（白龍粉）</p>
<p><u>硝石</u>（芒消　焰消　地霜　北地玄珠　苦消　火消　生消）</p>
<p><u>蓬砂</u>（鵬砂　盆砂）</p>
<p><u>硇砂</u>（䃩砂　氣砂　透骨將軍　狄鹽　北庭砂）</p>
<p><u>石硫黃</u>（黃硇砂　陽侯　黃牙　將軍）</p>
<p><u>石硫赤</u>（石庭脂　石流芝　石硫丹）</p>
<p><u>石硫青</u>（冬結石）</p>
<p><u>綠礬</u>（皂礬　礬紅　煅者名絳礬　青礬）</p>
<p><u>礬石</u>（涅石　羽澤　煅枯者名巴礬　羽涅　輕白者名柳絮礬）</p>

<h2>草部（上）</h2>
<p><u>甘草</u>（蜜甘　美草　靈通　蜜草　蕗草　國老）</p>
<p><u>黃耆</u>（黃耆　戴椹　白本　戴糝　芰草　王孫）</p>
<p><u>人參</u>（人蓡　人銜　神草　地精　皺面還丹　黃參　鬼蓋　土精　海腴）</p>
<p><u>薺苨</u>（菧苨　白麵根　苗石隱忍　甜桔梗　杏葉沙參）</p>
<p><u>桔梗</u>（白藥　薺苨　梗草）</p>
<p><u>黃精</u>（黃芝　菟竹　仙人餘糧　米餔　重樓　龍銜　戊己芝　鹿竹　救窮草　野生薑　雞格　垂珠）</p>
<p><u>萎蕤</u>（女萎　萎䔟　萎香　玉竹　葳蕤　委萎　熒　地節）</p>
<p><u>知母</u>（蚔母　蝭母　地參　蕁　苦心　連母　貨母　水參　莐藩　兒草）</p>
<p><u>長松</u>（仙茅　仙茆）</p>
<p><u>肉蓯蓉</u>（肉鬆容　黑司命）</p>
<p><u>列當</u>（慄當　花蓯蓉　草蓯蓉）</p>
<p><u>術</u>（山薊　枹薊　山連　楊枹　山姜　吃刀伽）</p>
<p><u>赤箭天麻</u>（赤箭芝　定風草　離母　鬼督郵　獨搖芝　合離草　神草）</p>
<p><u>狗脊</u>（強膂　百枝　扶筋　狗青）</p>
<p><u>貫眾</u>（貫節　百頭　黑狗脊　貫渠　草鴟頭　鳳尾草）</p>
<p><u>遠志</u>（苗名小草　棘菀　細草　葽繞）</p>
<p><u>巴戟天</u>（不凋草　三蔓草）</p>
<p><u>淫羊藿</u>（仙靈脾　棄杖草　乾雞筋　三枝九葉草　放杖草　千兩金　黃連祖　剛前）</p>
<p><u>玄參</u>（黑參　重臺　正馬　馥草　野脂麻　玄臺　鹿腸　逐馬　鬼藏）</p>
<p><u>仙茅</u>（獨茅　婆羅門參　茅爪子）</p>
<p><u>地榆</u>（玉豉　酸赭）</p>
<p><u>丹參</u>（赤參　郗蟬草　逐馬　山參　水羊草　奔馬草）</p>
<p><u>紫參</u>（牡蒙　馬行　五鳥花　童腸　眾戎）</p>
<p><u>王孫</u>（牡蒙　黃耆　黃孫　旱藕）</p>
<p><u>紫草</u>（紫丹　茈萸　鴉銜草　紫芺　地血　藐）</p>
<p><u>白頭翁</u>（野丈人　胡王使者　奈何草）</p>
<p><u>白芨</u>（甘根　連及草　白給）</p>
<p><u>三七</u>（山漆　金不換）</p>
<p><u>黃連</u>（王連　支連）</p>
<p><u>秦艽</u>（秦糺　秦瓜）</p>
<p><u>胡黃連</u>（割孤露澤）</p>
<p><u>茈胡</u>（地薰　山菜　芸蒿　茹草）</p>
<p><u>獨活</u>（羌活　獨搖草　胡王使者　羌青　長生草　護羌使者）</p>
<p><u>黃芩</u>（腐腸　內虛　經芩　印頭　空腸　姤婦　黃文　苦督郵　內實者名子芩　㹠尾芩　條芩　鼠尾芩）</p>
<p><u>防風</u>（銅芸　回草　蕑根　百蜚　回芸　屏風　百枝）</p>
<p><u>苦參</u>（苦𧄹　地槐　菟槐　野槐　苦骨　水槐　驕槐　白莖）</p>
<p><u>升麻</u>（周麻）</p>
<p><u>白鮮</u>（白膻　地羊鮮　白羊鮮　金雀兒椒）</p>
<p><u>貝母</u>（勤母　苦花　藥實　苦菜　空草　𦯶）</p>
<p><u>延胡索</u>（玄胡索）</p>
<p><u>山慈姑</u>（金燈　鬼燈檠　無義草　朱姑　鹿蹄草）</p>
<p><u>石蒜</u>（烏蒜　老鴉蒜　一枝箭　水麻　蒜頭草　婆婆酸）</p>
<p><u>水仙</u>（金盞銀臺）</p>
<p><u>白茅</u>（根名茹根　蘭根　地筋）</p>
<p><u>芒</u>（杜榮　芭茅　芭芒）</p>
<p><u>龍膽</u>（陵遊）</p>
<p><u>細辛</u>（小辛　少辛）</p>
<p><u>杜衡</u>（杜葵　馬蹄香　土滷　土細辛）</p>
<p><u>及己</u>（獐耳細辛）</p>
<p><u>鬼督郵</u>（獨搖草）</p>
<p><u>徐長卿</u>（鬼督郵　別仙蹤）</p>
<p><u>白微</u>（薇草　春草　葞　白幕　骨美）</p>
<p><u>白前</u>（石藍　嗽藥）</p>
<p><u>釵子股</u>（金釵股）</p>
<p><u>當歸</u>（干歸　白蘄　山蘄　文無）</p>
<p><u>芎藭</u>（胡藭　香果　川芎　山鞠窮）</p>
<p><u>蘼蕪</u>（薇蕪　江蘺　蘄茝）</p>
<p><u>蛇床</u>（蛇粟　虺床　牆蘼　蛇米　馬床）</p>
<p><u>藁本</u>（藁芨　鬼新　鬼鄉　薇莖）</p>
<p><u>木香</u>（蜜香　五木香　青木香　南木香）</p>
<p><u>牡丹</u>（鼠姑　百兩金　花王　鹿韭　木芍藥）</p>
<p><u>芍藥</u>（將離　白木　白者名金芍藥　梨食　余容　赤者名赤芍藥）</p>
<p><u>甘松香</u>（苦彌哆）</p>
<p><u>廉姜</u>（姜匯　蔟葰）</p>
<p><u>白芷</u>（白茝　澤芬　䖀　葉名蒿麻藥　芳香　苻蘺　莞）</p>
<p><u>杜若</u>（杜衡　若芝　㺐子姜　杜蓮　楚衡　山姜）</p>
<p><u>山姜</u>（美草）</p>
<p><u>高良薑</u>（蠻姜　子名紅豆蔻）</p>
<p><u>豆蔻</u>（漏蔻　草豆蔻　草果）</p>
<p><u>白豆蔻</u>（多骨）</p>
<p><u>蓽茇</u>（蓽撥）</p>
<p><u>肉豆蔻</u>（肉果　迦拘勒）</p>
<p><u>蒟醬</u>（蒟子　苗名扶惡土　蔞藤　土蓽茇）</p>
<p><u>補骨脂</u>（破故脂　胡韭子　婆固脂）</p>
<p><u>薑黃</u>（蒁　寶鼎香）</p>
<p><u>蓬莪朮</u>（蒁藥）</p>
<p><u>鬱金</u>（馬蒁）</p>
<p><u>荊三稜</u>（京三稜　黑三稜　雞爪三稜　草三稜　石三稜）</p>
<p><u>茉莉</u>（柰花）</p>
<p><u>鬱金香</u>（紅藍花　草麝香　郁香　紫述香　茶矩摩）</p>
<p><u>茅香</u>（香麻　嗢屍羅）</p>
<p><u>零陵香</u>（蕙草　燕草　香草　黃零草）</p>
<p><u>藿香</u>（兜婁婆香）</p>
<p><u>石香葇</u>（石蘇）</p>
<p><u>香薷</u>（香葇　香菜　香茸　蜜蜂草）</p>
<p><u>赤車使者</u>（小錦枝）</p>
<p><u>爵床</u>（爵麻　赤眼老母草　香蘇）</p>
<p><u>積雪草</u>（胡薄荷　海蘇　連錢草）</p>
<p><u>假蘇</u>（姜芥　鼠蓂　荊芥）</p>
<p><u>紫蘭</u>（紫菊）</p>
<p><u>薄荷</u>（菝𦽅　吳菝𦽅　金錢薄荷　蕃荷菜　南薄荷）</p>
<p><u>澤蘭</u>（水香　都梁香　虎蒲　風藥　根名地筍　虎蘭　孩兒菊　龍棗）</p>
<p><u>蘭草</u>（蕑　香水蘭　蘭澤草　煎澤草　都梁草　女蘭　千金草　水香　燕尾香　大澤蘭　省頭草　孩兒菊　香草）</p>
<p><u>莎草香附子</u>（雀頭香　水香稜　續根草　水莎　莎結　地毛　草附子　水巴戟　地藾根　侯莎　夫須）</p>
<p><u>蘇</u>（紫蘇　桂荏　赤蘇）</p>
<p><u>水蘇</u>（雞蘇　芥蒩　龍腦薄荷　香蘇　芥苴）</p>
<p><u>薺薴</u>（臭蘇　青白蘇）</p>
<p><u>野菊</u>（苦薏）</p>
<p><u>菴䕡</u>（覆閭）</p>
<p><u>艾</u>（冰臺　黃草　醫草　艾蒿）</p>
<p><u>黃花蒿</u>（臭蒿）</p>
<p><u>青蒿</u>（草蒿　𤜢蒿　菣　方潰　香蒿）</p>
<p><u>白蒿</u>（由胡　蔐　蔞蒿　蘩）</p>
<p><u>礚蒿</u>（莪蒿　抱娘蒿　蘿蒿）</p>
<p><u>馬先蒿</u>（馬新蒿　練石草　虎麻　馬矢蒿　爛石草）</p>
<p><u>牡蒿</u>（齊頭蒿）</p>
<p><u>夏枯草</u>（夕句　燕面　乃東　鐵色草）</p>
<p><u>青葙</u>（草蒿　崑崙草　雞冠莧　蔞蒿　野雞冠　子名草決明）</p>
<p><u>劉寄奴</u>（金寄奴　烏藤菜）</p>
<p><u>續斷</u>（屬折　龍豆　接骨　南草）</p>
<p><u>曲節草</u>（六月霜　蛇藍　六月凌　綠豆青）</p>
<p><u>苦芺</u>（鉤芺　苦板）</p>
<p><u>麗春草</u>（仙女蒿　定參草）</p>
<p><u>漏盧</u>（野蘭　鬼油麻　莢蒿）</p>
<p><u>旋覆花</u>（金沸草　滴滴金　盜庚　金錢花　戴椹　夏菊）</p>
<p><u>𦯶麻</u>（白麻）</p>
<p><u>飛廉</u>（漏蘆　飛雉　伏兔　天薺　木禾　飛輕　伏豬）</p>
<p><u>大小薊</u>（虎薊　貓薊　山牛蒡　金針草　馬薊　刺薊　雞項草　野紅花）</p>
<p><u>薇銜</u>（縻銜　無顛　承肌　吳風草　鹿銜　無心　承膏）</p>
<p><u>茺蔚</u>（益母　貞蔚　火杴　野天麻　苦低草　土質汗　益明　豬麻　蓷　郁臭草　夏估草）</p>
<p><u>菊</u>（節華　女節　日精　治薔　陰成　傅延年　女華　女莖　更生　金蕊　周盈）</p>
<p><u>紅藍花</u>（紅花　黃藍）</p>
<p><u>燕脂</u>（𧹬赦）</p>
<p><u>番紅花</u>（洎夫藍　撒法郎）</p>
<p><u>惡實</u>（鼠黏　大力子　便牽牛　牛蒡　蒡翁菜　蝙蝠刺）</p>
<p><u>胡盧巴</u>（苦豆）</p>
<p><u>豨薟</u>（希仙　虎膏　豬膏母　大枚草　狗膏　黏糊菜）</p>
<p><u>龍常草</u>（粽心草）</p>
<p><u>箬</u>（篛　𦼔葉）</p>
<p><u>燈心草</u>（虎鬚草　碧玉草）</p>
<p><u>蘆</u>（葦　花名蓬農　葭　筍名虇）</p>
<p><u>淡竹葉</u>（根名碎骨子）</p>
<p><u>甘蕉</u>（芭蕉　芭苴　天苴）</p>
<p><u>葵</u>（露葵　滑菜）</p>
<p><u>蘘荷</u>（覆葅　猼苴　嘉草　蘘草　葍苴）</p>
<p><u>蜀葵</u>（戎葵　吳葵）</p>
<p><u>麻黃</u>（龍沙　卑鹽　卑相）</p>
<p><u>地黃</u>（苄　地髓　芑）</p>
<p><u>紫菀</u>（青菀　返魂草　紫蒨　夜牽牛）</p>
<p><u>牛膝</u>（牛莖　山莧菜　百倍　對節菜）</p>
<p><u>女菀</u>（白菀　織女菀　女復　茆）</p>
<p><u>麥門冬</u>（門冬　秦名烏韭　齊名愛韭　禹韭　忍凌　不死草　楚名馬韭，越名羊韭　忍冬　禹餘糧　階前草）</p>
<p><u>萱草</u>（忘憂　丹棘　鹿劍　宜男　療愁　鹿蔥　妓女）</p>
<p><u>石龍芻</u>（龍鬚　龍華　懸莞　草續斷　西王母簪　龍修　龍珠　方賓　縉雲草）</p>
<p><u>天名精</u>（天蔓菁　地松　麥句姜　蚵蚾草　皺面草　實名鶴蝨　天門精　埊松　蟾蜍蘭　活鹿草　母豬芥　根名土牛膝　玉門精　承首　蝦蟆藍　劉劃草　彘顱）</p>
<p><u>葈耳</u>（胡葈　蒼耳　爵耳　耳璫　道人頭　喝起草　野茄　葹常思　卷耳　豬耳　羊負來　進賢菜　縑絲草　地葵）</p>
<p><u>蠡實</u>（荔實　馬帚　旱蒲　三堅　馬藺子　馬薤　劇草　豕首　鐵掃帚　馬楝子）</p>
<p><u>蜀羊泉</u>（羊泉　漆始草　羊飴）</p>
<p><u>菟葵</u>（天葵　雷丸草　莃）</p>
<p><u>鹿蹄草</u>（小秦王草　秦王試劍草）</p>
<p><u>龍珠</u>（赤珠）</p>
<p><u>王不留行</u>（禁宮花　金盞銀臺　剪金花）</p>
<p><u>敗醬</u>（苦菜　澤敗　鹿首　苦蘵　鹿腸　馬草）</p>
<p><u>剪春羅</u>（剪紅羅）</p>
<p><u>瞿麥</u>（蘧麥　大蘭　巨句麥　大菊　石竹　南天竺草）</p>
<p><u>金盞草</u>（杏葉草　長春花）</p>
<p><u>葶藶</u>（丁歷　大室　狗薺　萆蒿　大適）</p>
<p><u>馬鞭草</u>（龍牙草　鳳頸草）</p>
<p><u>女青</u>（雀瓢）</p>
<p><u>狼把草</u>（郎耶草）</p>
<p><u>連翹</u>（異翹　蘭華　根名連軺　旱連子　三廉　竹根）</p>
<p><u>狗尾草</u>（莠　阿羅漢草　光明草）</p>
<p><u>蒴藋</u>（董草　接骨草　芨）</p>
<p><u>鱧腸</u>（蓮子草　金陵草　墨頭草　豬牙草　旱蓮草　墨菸草　墨菜　猢猻草）</p>
<p><u>車前</u>（當道　馬舄　牛舌　車輪菜　芣苡　牛遺　地衣　蝦蟆衣）</p>
<p><u>地膚</u>（地葵　落帚　王篲　掃帚　涎衣草　鴨舌草　地麥　獨帚　王帚　益明　白地草　千心妓女）</p>
<p><u>鼠麴草</u>（米曲　香茅　茸母　佛耳草　鼠耳　黃蒿　無心草）</p>
<p><u>款冬花</u>（款凍　氏冬　菟奚　虎鬚　顆凍　鑽冬　槖吾）</p>
<p><u>酸漿</u>（醋漿　苦耽　皮弁草　王母珠　小者名苦蘵　苦葴　燈籠草　天泡草　洛神珠）</p>
<p><u>龍葵</u>（苦葵　水茄　天泡草　老鴉眼睛草　苦菜　天茄子　老鴉酸漿草）</p>
<p><u>鴨跖草</u>（雞舌草　竹雞草　淡竹葉　碧蟬花　碧竹子　竹葉菜　耳環草　藍姑草）</p>
<p><u>水英</u>（魚津草）</p>
<p><u>青黛</u>（靛花　青蛤粉）</p>
<p><u>甘藍</u>（藍菜）</p>
<p><u>葒草</u>（鴻䕵　游龍　天蓼　龍舌　石龍　大蓼）</p>
<p><u>穀精草</u>（戴星草　流星草　文星草）</p>
<p><u>蕕</u>（馬唐　羊麻　蔓干　馬飯　羊粟　軒干）</p>
<p><u>海金沙</u>（竹園荽）</p>
<p><u>萹蓄</u>（扁竹　扁蔓　道生草　扁辨　粉節草）</p>
<p><u>水楊梅</u>（地椒）</p>
<p><u>蒺藜</u>（茨　屈人　休羽　旁通　止行　升推）</p>
<p><u>紫花地丁</u>（箭頭草　羊角子　獨行虎　米布袋）</p>
<p><u>大黃</u>（黃良　火參　將軍　膚如）</p>
<p><u>續隨子</u>（千金子　菩薩豆　聯步　千兩金　拒冬）</p>
<p><u>商陸</u>（遂䓪　章柳　馬尾　當陸　白昌　夜呼）</p>
<p><u>藜蘆</u>（黃藜蘆　鹿驪）</p>
<p><u>防葵</u>（房苑　利茹　梨蓋）</p>
<p><u>狼牙</u>（牙子　狼子　抱牙　狼齒　犬牙　支蘭）</p>
<p><u>䕡茹</u>（離婁　白者名萆䕡茹　掘據）</p>
<p><u>大戟</u>（邛鉅　下馬仙）</p>
<p><u>澤漆</u>（漆莖　貓兒眼睛草　五鳳草　綠葉綠花草）</p>
<p><u>莨菪</u>（天仙子　行唐　橫唐）</p>
<p><u>常山</u>（苗名蜀漆　雞尿草　互草　恆山　鴨尿草）</p>
<p><u>附子</u>（母名烏頭）</p>
<p><u>天雄</u>（白幕）</p>
<p><u>蘆藜</u>（山蔥　蔥菼　豐蘆　鹿蔥　蔥苒　蔥葵　憨蔥）</p>
<p><u>雲實</u>（員實　天豆　羊石子　苗名草雲母　臭草　杉刺　雲英　馬豆）</p>
<p><u>甘遂</u>（甘藁　陵澤　重澤　白澤　鬼醜　陵藁　甘澤　苦澤　主田）</p>
<p><u>藎草</u>（黃草　綠蓐　盭草　鴟腳莎　綠竹　䓞草　王芻）</p>
<p><u>漏藍子</u>（木鱉子　虎掌）</p>
<p><u>側子</u>（萴子）</p>
<p><u>天南星</u>（虎膏　鬼蒟蒻）</p>
<p><u>蒟蒻</u>（蒻頭　鬼芋　鬼頭）</p>
<p><u>曼陀羅花</u>（風茄兒　山茄子）</p>
<p><u>鳶尾</u>（烏園　根名鳶頭）</p>
<p><u>醉魚草</u>（鬧魚花　樚木　魚尾草）</p>
<p><u>玉簪</u>（白鶴仙）</p>
<p><u>莽草</u>（䒽草　鼠莽　芒草）</p>
<p><u>茵芋</u>（莞草　卑共）</p>
<p><u>牛扁</u>（扁特　扁毒）</p>
<p><u>蕁麻</u>（毛䕭）</p>
<p><u>海芋</u>（觀音蓮　天荷　蓋天草　隔河仙）</p>
<p><u>毛茛</u>（毛建草　毛堇　自灸　水茛　天灸　猴蒜）</p>
<p><u>石龍芮</u>（地椹　石龍　水堇　莖葵　胡椒菜　天豆　魯果能　苦堇　彭根）</p>
<p><u>芫花</u>（杜芫　去水　兒草　頭痛花　根名黃大戟　赤芫　毒魚　敗華　蜀桑）</p>
<p><u>羊躑躅</u>（黃躑躅　鬧羊花　老虎花　玉枝　黃杜鵑　驚羊花　羊不食草）</p>
<p><u>鳳仙</u>（急性子　金鳳花　夾竹桃　菊婢　旱珍珠　小桃紅　海蒳　染指甲草）</p>
<p><u>射干</u>（烏扇　烏吹　鳳翼　扁竹　紫金牛　草姜　烏翣　烏蒲　鬼扇　仙人掌　野萱花　黃遠）</p>
<p><u>鬼臼</u>（九臼　鬼藥　爵犀　馬目毒公　羞天草　璚田萆　獨荷草　天臼　解毒　旱荷　害母草　術律草　獨腳蓮　山荷葉　八角盤　唐婆鏡）</p>
<p><u>蚤休</u>（蚩休　草河車　草甘遂　重樓金線　重臺　螫休　三層草　白甘遂　七葉一枝花）</p>
<p><u>烏頭</u>（烏喙　耿子　芨　金鴉　土附子　獨白草　汁煎名射罔　奚毒　毒公　堇　草烏頭　苗茗茛　鴛鴦菊）</p>
<p><u>五味子</u>（荎藸　會及　玄及）</p>
<p><u>鉤吻</u>（野葛　胡蔓草　黃藤　毒根　斷腸草　火把花）</p>
<p><u>懸鉤子</u>（沿鉤子　山莓　樹莓　箭　木莓）</p>
<p><u>蓬虆</u>（覆盆　陰虆　割田蔍　陵虆　寒母）</p>
<p><u>使君子</u>（留求子）</p>
<p><u>蛇莓</u>（蛇藨　蠶莓　地莓）</p>
<p><u>木鱉子</u>（木蟹）</p>
<p><u>葛</u>（雞齊　黃斤　鹿藿）</p>
<p><u>番木鱉</u>（馬錢子　火失刻把都　苦實把豆）</p>
<p><u>百部</u>（婆婦草　野天門冬）</p>
<p><u>馬兜鈴</u>（都淋藤　土青木香　三百兩銀藥　獨行根　雲南根）</p>
<p><u>萆薢</u>（赤節　竹木　百枝　白菝葜）</p>
<p><u>榼藤子</u>（象豆　合子　榼子）</p>
<p><u>菝葜</u>（菝𦸉　鐵菱角　金剛根　王瓜草）</p>
<p><u>預知子</u>（聖知子　盍合子　聖先子　仙沼子）</p>
<p><u>白斂</u>（白草　兔核　貓兒卵　白根　崑崙）</p>
<p><u>牽牛子</u>（黑醜　盆甑草　草金鈴　狗耳草）</p>
<p><u>天門冬</u>（門冬　天棘　葛歲藤　顛勒　顛棘）</p>
<p><u>狼跋子</u>（凌泉　就葛　根韭　實名狼跋　大就　生芻　度谷）</p>
<p><u>王瓜</u>（土瓜　老鴉瓜　赤雹子　師姑草　鉤藤　馬瓟瓜　野甜瓜　公公須）</p>
<p><u>栝樓</u>（果臝　天瓜　地樓　根名白藥　天花粉　瓜蔞　黃瓜　澤姑　瑞雪）</p>
<p><u>紫葳</u>（凌霄　陵時　茇華　瞿陵　陵苕　女葳　武威　鬼目）</p>
<p><u>旋花</u>（旋蓄　續筋根　㹠腸草　天劍草　筋根　鼓子花　美草　纏枝牡丹）</p>
<p><u>覆盆子</u>（茥　西國草　大毒莓　烏藨子　缺盆　畢楞伽　抻田藨）</p>
<p><u>菟絲</u>（菟縷　菟蘆　赤綱　唐蒙　野狐絲　菟虆　菟丘　玉女　火焰草　金線草）</p>
<p><u>伏雞子根</u>（承露仙）</p>
<p><u>防己</u>（解離　石解）</p>
<p><u>九仙子</u>（仙女嬌）</p>
<p><u>通草</u>（木通　丁翁　子名燕覆　附支　萬年藤）</p>
<p><u>山豆根</u>（解毒　中藥　黃結）</p>
<p><u>白英</u>（谷菜　白幕　子名鬼目　白草　排風）</p>
<p><u>黃藥子</u>（木藥子　赤藥　紅藥子　大苦）</p>
<p><u>葎草</u>（勒草　來莓草　葛勒蔓）</p>
<p><u>解毒子</u>（地不容　苦藥子）</p>
<p><u>羊桃</u>（鬼桃　萇⿱艹楚　細子　羊腸　銚芅）</p>
<p><u>通脫木</u>（通草　離南　活莌）</p>
<p><u>木蓮</u>（薜荔　鬼饅頭　木饅頭）</p>
<p><u>白兔霍</u>（白葛）</p>
<p><u>甘藤</u>（甜藤　感藤）</p>
<p><u>赤地利</u>（赤薜荔　五蕺　山蕎麥　五毒草　蛇䒽）</p>
<p><u>南藤</u></p>
<p><u>石南藤</u>　丁公寄</p>
<p><u>風藤</u></p>
<p><u>丁公藤</u>　（丁父）</p>
<p><u>扶芳藤</u>（滂藤）</p>
<p><u>常春藤</u>（土鼓藤　龍鱗薜荔）</p>
<p><u>忍冬</u>（金銀藤　鷺鷥藤　左纏藤　通靈草　鴛鴦藤　老翁須　金釵股　蜜桶藤）</p>
<p><u>絡石</u>（石鯪　懸石　云花　云丹　云珠　石龍藤　耐冬　雲英　石血）</p>
<p><u>烏蘞莓</u>（五葉莓　拔　龍葛　赤潑藤　龍草　赤葛　五爪龍）</p>
<p><u>蘿藦</u>（雚　芄蘭　實名雀瓢　羊婆奶　白環藤　所合子　婆婆針線包）</p>
<p><u>茜草</u>（蒨　茹蘆　染絳草　血見愁　過山龍　茅蒐　地血　染緋草　風車草　牛蔓）</p>
<p><u>土茯苓</u>（土萆薢　山豬糞　冷飯糰　硬飯　刺豬苓　仙遺糧　山地慄　草禹餘糧）</p>
<p><u>何首烏</u>（交藤　地精　馬肝石　赤葛　九真藤　夜合　陳知白　桃柳藤　瘡帚　紅內消）</p>
<p><u>千歲虆</u>（虆蕪　苣瓜）</p>
<p><u>省藤</u>（赤藤　紅藤）</p>
<p><u>含水藤</u>（大瓠藤）</p>
<p><u>藤黃</u>（樹名海藤）</p>
<p><u>紫金藤</u>（山甘草）</p>
<p><u>澤瀉</u>（水瀉　及瀉　芒芋　鵠瀉　蕍　禹孫）</p>
<p><u>清風藤</u>（青藤　尋風藤）</p>
<p><u>蔛草</u>（蔛菜　蔛榮）</p>
<p><u>百稜藤</u>（百靈藤）</p>
<p><u>酸模</u>（山羊蹄　薞蕪　蓚　山大黃　酸母　當藥）</p>
<p><u>萍蓬草</u>（水粟　水栗子）</p>
<p><u>菖蒲</u>（昌陽　水劍草　堯韭）</p>
<p><u>骨碎補</u>（猴姜　石毛薑　胡孫姜　石菴䕡）</p>
<p><u>白昌</u>（水菖蒲　莖蒲　溪孫　水宿　昌陽　蘭孫）</p>
<p><u>金星草</u>（金釧草　七星草　鳳尾草）</p>
<p><u>香蒲</u>（甘蒲　醮石）</p>
<p><u>苦菜</u>（鳧葵　水鏡草　金蓮子　水葵　靨子菜　接余）</p>
<p><u>菰</u>（茭草　蔣草）</p>
<p><u>海藻</u>（𧂇　海羅　落首）</p>
<p><u>蘋</u>（芣菜　田字草　四葉菜）</p>
<p><u>昆布</u>（綸布）</p>
<p><u>蓴</u>（茆　露癸　水葵　馬蹄草）</p>
<p><u>石斛</u>（石遂　禁生　杜蘭　金釵　林蘭）</p>
<p><u>石韋</u>（石䩾　石蘭　石皮）</p>
<p><u>地錦</u>（地朕　夜光　草血竭　血風草　雀兒臥單　醬瓣草　地噤　承夜　血見愁　馬螘草　猢猻頭草）</p>
<p><u>酢漿草</u>（酸漿　三角酸　醋母　鳩酸　雀林草　赤孫施　三葉酸　酸母　酸箕　雀兒酸　小酸芽）</p>
<p><u>景天</u>（慎火　救火　護火　火母　戒火　據火　闢火）</p>
<p><u>羊蹄</u>（蓄　禿菜　羊蹄大黃　東方宿　水黃芹　敗毒草　牛舌菜　鬼目　連蟲陸　子名金蕎麥）</p>

<h2>草部（中）</h2>
<p><u>石長生</u>（丹草　丹沙草）</p>
<p><u>石蕊</u>（石濡　云茶　石芥　蒙頂茶）</p>
<p><u>虎耳草</u>（石荷葉）</p>
<p><u>垣衣</u>（垣嬴　鼠韭　天韭　昔邪）</p>
<p><u>石胡荽</u>（天胡荽　鵝不食草　野園荽　雞腸草）</p>
<p><u>屋遊</u>（瓦衣　瓦蘚　瓦苔　博邪）</p>
<p><u>螺厴草</u>（鏡面草）</p>
<p><u>烏韭</u>（石發　石苔　鬼𧍕　石衣　石花　石馬駿）</p>
<p><u>地衣草</u>（仰天皮　掬天皮）</p>
<p><u>卷柏</u>（萬歲　求股　長生不死草　豹足　交時）</p>
<p><u>昨葉何草</u>（瓦松　向天草　赤名鐵腳婆　瓦花　天王鐵塔草　羅門草）</p>
<p><u>玉柏</u>（玉遂）</p>
<p><u>桑花</u>（桑蘚　桑錢）</p>
<p><u>馬勃</u>（馬疕　灰菇　馬𥧔　牛屎菇）</p>
<p><u>亞麻</u>（鴉麻　壁蝨胡麻）</p>
<p><u>小麥</u>（麳）</p>
<p><u>大麥</u>（牟麥）</p>
<p><u>雀麥</u>（燕麥　杜姥草　蘥　牛星草）</p>
<p><u>蕎麥</u>（荍麥　花蕎　鳥麥）</p>
<p><u>稻</u>（稌　糯）</p>
<p><u>粳</u>（秔）</p>
<p><u>秈</u>（占稻　早稻）</p>
<p><u>稷</u>（穄　粢）</p>
<p><u>黍</u>（赤黍曰釁釁　白黍曰芑　一稃二米曰秠曰糜　黑黍曰秬）</p>
<p><u>粟</u>（秈粟）</p>
<p><u>秫</u>（眾　糯秫　黃糯　糯粟）</p>
<p><u>大麻</u>（火麻　漢麻　花名麻　雄者名葈　麻雌者名苴麻　黃麻　麻勃　荸麻　牡麻）</p>
<p><u>胡麻</u>（巨勝　狗蝨　脂麻　葉名青蘘　方莖　油麻　莖名麻䕸）</p>
<p><u>陟釐</u>（側梨　石發　水衣　藫　水苔　石衣　水綿）</p>
<p><u>玉蜀黍</u>（玉高粱）</p>
<p><u>蜀黍</u>（蜀秫　蘆粟　荻粱　蘆穄　水稷　高粱）</p>
<p><u>狼尾草</u>（稂　蕫節　宿田翁　盂　狼茅　守田）</p>
<p><u>穇子</u>（龍爪粟　鴨爪稗）</p>
<p><u>薏苡仁</u>（解蠡　𧆐米　薏珠子　芑實　回回米）</p>
<p><u>菰米</u>（茭米　雕苽　雕蓬　雕胡）</p>
<p><u>罌子粟</u>（米囊子　象谷　御米）</p>
<p><u>𦱌草</u>（皇　守氣　守田）</p>
<p><u>阿芙蓉</u>（阿片）</p>
<p><u>蒒草</u>（自然谷　禹餘糧）</p>
<p><u>大豆黃卷</u>（豆糵）</p>
<p><u>大豆</u>（尗）</p>
<p><u>赤小豆</u>（赤豆　荅　葉名藿　紅豆）</p>
<p><u>白豆</u>（飯豆）</p>
<p><u>陳廩米</u>（陳倉米　火米　老米）</p>
<p><u>蠶豆</u>（胡豆）</p>
<p><u>豇豆</u>（蜂⿰豆蒦）</p>
<p><u>萹豆</u>（沿籬豆　蛾眉豆）</p>
<p><u>刀豆</u>（挾劍豆）</p>
<p><u>黎豆</u>（貍豆　虎豆）</p>
<p><u>粥</u>（縻）</p>
<p><u>寒具</u>（捻頭　饊　環餅）</p>
<p><u>麨</u>（糗）</p>
<p><u>黃蒸</u>（黃衣　麥黃）</p>
<p><u>糕</u>（粢）</p>
<p><u>飴糖</u>（餳）</p>
<p><u>粽</u>（角黍）</p>
<p><u>燒酒</u>（火酒　阿剌吉酒）</p>
<p><u>曲</u>（酒母）</p>
<p><u>醋</u>（酢　苦酒　醯）</p>
<p><u>豌豆</u>（胡豆　畢豆　臣鶻豆　青斑豆　戎菽　麻累　青小豆）</p>
<p><u>韭</u>（草鍾乳　起陽草）</p>
<p><u>山韭</u>（蒮　韯）</p>
<p><u>蔥</u>（芤　和事草　菜伯　鹿胎）</p>
<p><u>茖蔥</u>（山蔥）</p>
<p><u>薤</u>（藠子　火蔥　鴻薈　莜子　菜芝）</p>
<p><u>胡蔥</u>（蒜蔥　回回蔥）</p>
<p><u>蒜</u>（小蒜　葷菜　茆蒜）</p>
<p><u>山蒜</u>（蒚　澤蒜）</p>
<p><u>葫</u>（大蒜　葷菜）</p>
<p><u>蕓薹</u>（寒菜　苔菜　胡菜　苔芥）</p>
<p><u>菘</u>（白菜）</p>
<p><u>白芥</u>（胡芥　蜀芥）</p>
<p><u>蕪菁</u>（蔓菁　諸葛菜　九英菘）</p>
<p><u>萊菔</u>（蘆萉　雹突　溫菘　蘿蔔　紫花菘　土酥）</p>
<p><u>乾薑</u>（白姜）</p>
<p><u>同蒿</u>（蓬蒿）</p>
<p><u>胡荽</u>（香荽　蒝荽　胡菜）</p>
<p><u>苦蓳</u>（芹菜　楚葵　水英）</p>
<p><u>蓳</u>（苦𧁲　旱芹　蓳葵）</p>
<p><u>紫蓳</u>（赤芹　楚葵　水萄菜　蜀芹　苔菜）</p>
<p><u>馬蘄</u>（牛蘄　草茴香　胡芹）</p>
<p><u>蘹香</u>（茴香八月珠）</p>
<p><u>蒔蘿</u>（慈謀勒　小茴香）</p>
<p><u>羅勒</u>（蘭香　翳子草　香菜）</p>
<p><u>白花菜</u>（羊角菜）</p>
<p><u>蔊菜</u>（𦹫菜　辣米菜）</p>
<p><u>菠薐</u>（菠菜　赤根菜　波斯草）</p>
<p><u>菾菜</u>（莙薘菜）</p>
<p><u>東風菜</u>（冬菜）</p>
<p><u>菥蓂</u>（大薺　馬辛　大蕺）</p>
<p><u>薺</u>（護生草）</p>
<p><u>繁縷</u>（𧍎縷　𦼔縷　鵝腸菜　蔜　⿱艹滋草）</p>
<p><u>馬齒莧</u>（馬莧　長命菜　五行草　九頭獅子草）</p>
<p><u>苜蓿</u>（木粟　光風草）</p>
<p><u>水苦蕒</u>（謝婆菜　半邊山）</p>
<p><u>白苣</u>（石苣　生菜）</p>
<p><u>翻白草</u>（雞腿根　天藕）</p>
<p><u>萵苣</u>（萵菜　千金菜）</p>
<p><u>蒲公英</u>（耩耨草　黃花地丁　金簪草）</p>
<p><u>蕺</u>（葅菜　魚鯉草）</p>
<p><u>黃瓜菜</u>（黃花菜　蕨𧆊）</p>
<p><u>翹搖</u>（搖車　小巢菜　野蠶豆）</p>
<p><u>薇</u>（垂水　大巢菜　野豌豆）</p>
<p><u>鹿藿</u>（鹿豆　野綠豆　䝁豆）</p>
<p><u>藜</u>（萊　鶴頂草　紅心灰藋　脂胭菜）</p>
<p><u>灰藋</u>（灰滌菜　金鎖天）</p>
<p><u>芋</u>（土芝　蹲鴟）</p>
<p><u>土芋</u>（土卵　土豆　黃獨）</p>
<p><u>薯蕷</u>（薯藇　山薯　山藥　土薯　山芋　玉延）</p>
<p><u>百合</u>（䪤　蒜腦薯　強瞿）</p>
<p><u>竹筍</u>（竹萌　竹胎　竹芽　竹子）</p>
<p><u>山丹</u>（紅百合　川強瞿　連珠　紅花菜）</p>
<p><u>茄</u>（落蘇　草鱉甲　崑崙瓜）</p>
<p><u>草石蠶</u>（地蠶　甘露子　滴露　土蛹　地瓜兒）</p>
<p><u>壺盧</u>（瓠瓜　匏瓜）</p>
<p><u>越瓜</u>（稍瓜　菜瓜）</p>
<p><u>苦瓠</u>（苦匏　苦壺盧）</p>
<p><u>胡瓜</u>（黃瓜）</p>
<p><u>冬瓜</u>（白瓜　地芝　水芝）</p>
<p><u>落葵</u>（蔠葵　藤菜　繁露　燕脂菜　藤葵　天葵　御菜）</p>
<p><u>苦菜</u>（荼　苦蕒　褊苣　天香菜　苦苣　遊冬　老鸛菜）</p>
<p><u>石花菜</u>（璚枝）</p>
<p><u>絲瓜</u>（天絲瓜　布瓜　魚鰦　天羅　蠻瓜）</p>
<p><u>鹿角菜</u>（猴葵）</p>
<p><u>苦瓜</u>（錦荔枝　癩葡萄）</p>
<p><u>葛花菜</u>（葛乳）</p>
<p><u>紫菜</u>（紫耎）</p>
<p><u>天花蕈</u>（天花菜）</p>
<p><u>睡菜</u>（瞑菜　醉　綽菜　綽草　醉草　懶婦葳）</p>
<p><u>蘑菇蕈</u>（肉蕈）</p>
<p><u>芝</u>（茵）</p>
<p><u>桑耳</u>（桑檽　桑雞　桑臣　桑蛾　桑黃　桑上寄生）</p>
<p><u>木耳</u>（木菌　樹雞　木檽　木㙡　木蛾）</p>
<p><u>雞㙡</u>（雞菌）</p>
<p><u>竹蓐</u>（竹肉　竹菰　竹蕈）</p>
<p><u>土菌</u>（杜蕈　菰子　獐頭　地蕈　地雞）</p>
<p><u>雚菌</u>（雚蘆）</p>
<p><u>地耳</u>（地踏菰）</p>
<p><u>石耳</u>（靈芝）</p>
<p><u>巴旦杏</u>（八擔杏　忽鹿麻）</p>
<p><u>李</u>（嘉慶子）</p>
<p><u>仲思棗</u>（仙棗）</p>
<p><u>杏</u>（甜梅）</p>
<p><u>大棗</u>（干棗　良棗　美棗）</p>
<p><u>苦棗</u>（蹶泄）</p>
<p><u>鹿梨</u>（鼠梨　陽檖　山梨　羅）</p>
<p><u>梨</u>（快果　玉乳　果宗　蜜父）</p>
<p><u>海紅</u>（海棠梨）</p>
<p><u>楂子</u>（木桃　和圓子）</p>
<p><u>木瓜</u>（楙）</p>
<p><u>榠楂</u>（蠻楂　木梨　木李　瘙楂）</p>
<p><u>山楂</u>（赤瓜子　猴楂　朹子　羊梂　山裡果　鼠楂　茅楂　檕梅　棠梂子）</p>
<p><u>菴羅果</u>（菴摩羅迦果　香葢）</p>
<p><u>柰</u>（頻婆）</p>
<p><u>君遷子</u>（㮕棗　牛奶子　紅藍棗　梬棗　丁香柿）</p>
<p><u>柑</u>（木奴）</p>
<p><u>安石榴</u>（若榴　金罌　丹若）</p>
<p><u>橙</u>（金球　鵠殼）</p>
<p><u>山櫻桃</u>（朱桃　英豆　麥櫻　李桃）</p>
<p><u>柚</u>（櫾　壺柑　朱欒　條　臭橙）</p>
<p><u>阿月渾子</u>（胡榛子　無名子）</p>
<p><u>榛</u>（親）</p>
<p><u>菴摩勒</u>（菴摩落迦果　余甘子）</p>
<p><u>林檎</u>（來禽　文林郎果）</p>
<p><u>毗梨勒</u>（三果）</p>
<p><u>椑柿</u>（漆柿　青椑　花稗　綠柿　烏椑　赤棠椑）</p>
<p><u>五斂子</u>（五稜子　陽桃）</p>
<p><u>枸櫞</u>（香櫞　佛手柑）</p>
<p><u>橡實</u>（橡斗　櫟梂　芋　皂鬥　柞子　櫟）</p>
<p><u>金橘</u>（金柑　夏橘　給客橙　盧橘　山橘）</p>
<p><u>槲實</u>（槲樕　大葉櫟　樸樕　櫟檀子）</p>
<p><u>楊梅</u>（朹子）</p>
<p><u>荔枝</u>（離枝　丹荔）</p>
<p><u>櫻桃</u>（鶯桃　荊桃　含桃）</p>
<p><u>橄欖</u>（青果　諫果　忠果）</p>
<p><u>銀杏</u>（白果　鴨腳子）</p>
<p><u>榧子</u>（柀子　玉榧　赤果　玉山果）</p>
<p><u>胡桃</u>（羌桃　核桃）</p>
<p><u>檳榔</u>（賓門　洗瘴丹　仁頻）</p>
<p><u>鉤慄</u>（巢鉤子　甜櫧子）</p>
<p><u>龍眼</u>（龍目　益智　亞荔枝　驪珠　蜜脾　圓眼　燕卵　荔枝奴　鮫淚　川彈子）</p>
<p><u>無漏子</u>（千年棗　海棗　波斯棗　木名海棕　鳳尾蕉　萬歲棗　番棗　金果）</p>
<p><u>海松子</u>（新羅松子）</p>
<p><u>椰子</u>（越王頭　胥余）</p>
<p><u>大腹子</u>（大腹檳榔　豬檳榔）</p>
<p><u>麂目</u>（鬼目）</p>
<p><u>桄榔子</u>（木名姑榔木　董棕　面木　鐵木）</p>
<p><u>蜀椒</u>（巴椒　漢椒　點椒　川椒　南椒　蓎藙）</p>
<p><u>䔋木面</u>（欀木）</p>
<p><u>崖椒</u>（野椒）</p>
<p><u>波羅蜜</u>（曩伽結）</p>
<p><u>蔓椒</u>（豬椒　彘椒　狗椒　豕椒　豨椒　金椒）</p>
<p><u>無花果</u>（映日果　阿風　優曇缽）</p>
<p><u>胡椒</u>（昧履支）</p>
<p><u>阿勃勒</u>（婆羅門皂莢　波斯皂莢）</p>
<p><u>皋蘆</u>（瓜蘆　苦䔲）</p>
<p><u>馬檳榔</u>（馬金囊　紫檳榔　馬金南）</p>
<p><u>甜瓜</u>（甘瓜　果瓜）</p>
<p><u>都桷子</u>（構子）</p>
<p><u>茗</u>（苦𣗪）</p>
<p><u>都念子</u>（倒捻子）</p>
<p><u>西瓜</u>（寒瓜）</p>
<p><u>畢澄茄</u>（毗陵茄子）</p>
<p><u>葡萄</u>（蒲桃　草龍珠）</p>
<p><u>食茱萸</u>（榝　艾子　欓子　藙　越椒　辣子）</p>
<p><u>蘡薁</u>（燕薁　山葡萄　嬰舌　野葡萄）</p>
<p><u>獼猴桃</u>（獼猴梨　陽桃　藤梨　木子）</p>
<p><u>甘蔗</u>（竽　薯　蔗）</p>
<p><u>蓮蕊須</u>（佛座須）</p>
<p><u>蓮花</u>（芙蓉　芙葉）</p>
<p><u>鹽麩子</u>（五構　鹽梅子　木鹽　叛奴鹽　鹽膚子　鹽球子　灰鹽　酸桶）</p>
<p><u>枳椇</u>（蜜⿰圭主𣕌　木蜜　木珊瑚　雞爪子　木名白石木　枅栱　蜜屈律　木餳　雞距子　金鉤木　交加枝）</p>
<p><u>芡實</u>（雞頭　雁頭　雞雍　蒍子　雁喙　鴻頭　卯蔆　水硫黃）</p>
<p><u>慈姑</u>（藉姑　河鳧茈　苗名剪刀草　槎丫草　水萍　白地慄　箭搭草　燕尾草）</p>
<p><u>烏芋</u>（鳧茈　葧臍　芍　鳧茨　黑三稜　地慄）</p>
<p><u>柏</u>（椈　側柏）</p>
<p><u>石蜜</u>（白沙糖）</p>
<p><u>杉</u>（煔　㯳木　沙㪍木）</p>
<p><u>刺蜜</u>（草蜜　給勃羅）</p>
<p><u>桂</u>（梫）</p>
<p><u>芰實</u>（蔆　沙角　水慄）</p>
<p><u>菌桂</u>（筒桂　小桂）</p>
<p><u>木蘭</u>（杜蘭　木蓮　林蘭　黃心）</p>
<p><u>沉香</u>（沉水香　蜜香）</p>
<p><u>蜜香</u>（木蜜　多香木　沒香　阿𨲠）</p>
<p><u>丁香</u>（丁子香　雞舌香）</p>
<p><u>降真香</u>（紫檀香　雞骨香）</p>
<p><u>楠</u>（柟）</p>
<p><u>檀香</u>（旃檀　真檀）</p>
<p><u>釣樟</u>（烏樟　枕　㩢　豫）</p>
<p><u>必慄香</u>（花木香）</p>
<p><u>烏藥</u>（旁其　鰟⿰魚止　矮樟）</p>
<p><u>楓香脂</u>（白膠香）</p>
<p><u>櫰香</u>（兜婁婆香）</p>
<p><u>騏驎竭</u>（血竭）</p>
<p><u>乳香</u>（馬尾香　摩勒香　天澤香　多伽羅香）</p>
<p><u>龍腦香</u>（片腦　膏名婆律香　羯婆羅香）</p>
<p><u>沒藥</u>（末藥）</p>
<p><u>獐腦</u>（韶腦）</p>
<p><u>阿魏</u>（阿虞　哈音泥　薰渠）</p>
<p><u>胡桐淚</u>（胡桐鹼　胡桐律）</p>
<p><u>盧會</u>（奴會　象膽　訥會）</p>
<p><u>柏木</u>（黃柏　根名檀桓）</p>
<p><u>漆</u>（㧾泰）</p>
<p><u>小柏</u>（子柏　山石榴）</p>
<p><u>梓</u>（木王）</p>
<p><u>厚朴</u>（烈樸　厚皮　樹名榛　赤樸　重皮　子名逐折）</p>
<p><u>楸</u>（榎）</p>
<p><u>杜仲</u>（思仲　木綿　思仙　檰）</p>
<p><u>桐</u>（白桐　泡桐　榮桐　黃桐　椅桐）</p>
<p><u>椿樗</u>（香者名椿　山樗名栲　虎目樹　臭者名樗　大眼桐）</p>
<p><u>楝</u>（苦楝　實名金鈴子）</p>
<p><u>梧桐</u>（櫬）</p>
<p><u>槐</u>（櫰）</p>
<p><u>罌子桐</u>（虎子桐　油桐　荏桐）</p>
<p><u>榆</u>（零榆　白者名枌）</p>
<p><u>海桐</u>（刺桐）</p>
<p><u>櫸</u>（櫸柳　鬼柳）</p>
<p><u>莢蒾</u>（檕迷　羿先）</p>
<p><u>柳</u>（楊柳　小楊）</p>
<p><u>合歡</u>（合昏　青裳　烏樹　夜合　萌葛）</p>
<p><u>柳華</u>（柳絮）</p>
<p><u>皂莢</u>（皂角　雞棲子　烏犀　懸刀）</p>
<p><u>水楊</u>（青楊　蒲楊　栘柳　蒲柳　蒲栘　萑苻）</p>
<p><u>蕪荑</u>（莁荑　𦽄䕋　木名楩　無姑）</p>
<p><u>白楊</u>（獨搖）</p>
<p><u>松楊</u>（椋子木）</p>
<p><u>枎栘</u>（栘楊　高飛　唐棣　獨搖）</p>
<p><u>檉柳</u>（赤檉　河柳　垂楊柳　三眠柳　赤楊　雨師　人柳　觀音柳）</p>
<p><u>無患子</u>（桓　木患子　油珠子　鬼見愁　噤婁　肥珠子　菩提子）</p>
<p><u>秦皮</u>（梣皮　石檀　盆桂　苦櫪　榛木　樊槐　苦樹）</p>
<p><u>無食子</u>（沒石子　麻茶澤　墨石子）</p>
<p><u>烏木</u>（烏樠木　烏文木）</p>
<p><u>訶黎勒</u>（訶子）</p>
<p><u>樺木</u>（㯸）</p>
<p><u>婆羅得</u>（婆羅勒）</p>
<p><u>棕櫚</u>（栟櫚）</p>
<p><u>蘇方木</u>（蘇木）</p>
<p><u>橉木</u>（橝木）</p>
<p><u>烏臼木</u>（鴉臼）</p>
<p><u>柯樹</u>（木奴）</p>
<p><u>相思子</u>（紅豆）</p>
<p><u>巴豆</u>（巴菽　老陽子　剛子）</p>
<p><u>山茱萸</u>（蜀酸棗　鬾實　鼠矢　肉棗　雞足）</p>
<p><u>枸橘</u>（臭橘）</p>
<p><u>胡頹子</u>（蒲頹子　雀兒酥　黃婆奶　盧都子　半含春）</p>
<p><u>卮子</u>（木丹　鮮支　花名薝蔔　越桃）</p>
<p><u>酸棗</u>（樲　山棗）</p>
<p><u>桑</u>（子名椹）</p>
<p><u>白棘</u>（棘刺　赤龍爪　菥蓂　棘針　花名刺原　馬朐）</p>
<p><u>枳</u>（子名枳實　枳殼）</p>
<p><u>蕤核</u>（白桵）</p>
<p><u>楮</u>（榖　榖桑）</p>
<p><u>金櫻子</u>（刺梨子　山雞頭子　山石榴）</p>
<p><u>楮實</u>（榖實　楮桃）</p>
<p><u>郁李</u>（薁李　車下李　雀梅　郁李　爵李　棠棣）</p>
<p><u>女貞</u>（貞木　蠟樹　冬青）</p>
<p><u>冬青</u>（凍青）</p>
<p><u>衛矛</u>（鬼箭　神箭）</p>
<p><u>枸骨</u>（貓兒刺）</p>
<p><u>山礬</u>（芸香　柘花　春桂　椗花　瑒花　七里香）</p>
<p><u>鼠李</u>（楮李　山李子　皂李　牛皂子　烏巢子　鼠梓　牛李　趙李　烏槎子　椑）</p>
<p><u>南燭</u>（男續　牛筋　南天燭　惟那木　墨飯草　草木之王　染菽　楊桐　猴菽草　烏飯草　南燭草木　赤者名文燭）</p>
<p><u>五加</u>（五佳　白刺　𧎸封漆　金鹽　追風使　五花　木骨　𧎸𤜮節　文章草）</p>
<p><u>地骨皮</u>（枸杞　枸棘　甜菜　地骨　地仙　羊乳　西王母杖　枸檵　苦杞　天精　地節　卻老　仙人杖）</p>
<p><u>木槿</u>（椴　蕣朝開暮落花花奴玉蒸　櫬　日及　藩籬草）</p>
<p><u>蠟梅</u>（黃梅花）</p>
<p><u>溲疏</u>（巨骨）</p>
<p><u>扶桑</u>（佛桑　赤槿　朱槿　日及）</p>
<p><u>石南</u>（風藥）</p>
<p><u>紫荊</u>（紫珠　皮名肉紅　內消）</p>
<p><u>牡荊</u>（黃荊　楚　小荊）</p>
<p><u>木芙蓉</u>（地芙蓉　華木　拒霜　木蓮　杹木）</p>
<p><u>欒荊</u>（頑荊）</p>
<p><u>伏牛花</u>（虎刺花）</p>
<p><u>木綿</u>（古貝　古終）</p>
<p><u>蜜蒙花</u>（木錦花）</p>
<p><u>柞木</u>（鑿子木）</p>
<p><u>賣子木</u>（買子木）</p>
<p><u>茯苓</u>（伏靈　松腴　抱根名茯神　伏兔　不死麵）</p>
<p><u>接骨木</u>（續骨木　木蒴藋）</p>
<p><u>琥珀</u>（江珠）</p>
<p><u>靈壽木</u>（扶老杖椐）</p>
<p><u>瑿</u>（瑿珀）</p>
<p><u>桑上寄生</u>（寄屑　宛童　寓木　蔦）</p>
<p><u>豬苓</u>（豭豬屎　豕橐　地烏桃）</p>
<p><u>城東腐木</u>（地主）</p>
<p><u>雷丸</u>（雷實　竹苓　雷矢）</p>
<p><u>震燒木</u>（霹靂木）</p>
<p><u>松蘿</u>（女蘿　松上寄生）</p>
<p><u>占斯</u>（炭皮　良無極）</p>
<p><u>竹黃</u>（竹膏）</p>
<p><u>淮木</u>（百歲城中木　城裡赤柱）</p>
<p><u>鬼齒</u>（鬼針）</p>
<p><u>褌襠</u>（袴　觸衣　犢鼻　小衣）</p>
<p><u>汗衫</u>（中單　羞袒　襔襠）</p>
<p><u>敗天公</u>（笠）</p>
<p><u>皮靴</u>（靴）</p>
<p><u>故蓑衣</u>（襏襫）</p>
<p><u>麻鞋</u>（履　靸　屝）</p>
<p><u>屐屧鼻繩</u>（木屐）</p>
<p><u>草鞋</u>（草屨　不借　屩　千里馬）</p>
<p><u>撥火杖</u>（火槽頭　火柴頭）</p>
<p><u>桃橛</u>（桃杙）</p>

<h2>草部（下）</h2>
<p><u>鑿柄木</u>（千椎草）</p>
<p><u>馬鞭</u>（馬策）</p>
<p><u>梳篦</u>（櫛）</p>
<p><u>蒲席</u>（薦）</p>
<p><u>蒲扇</u>（箑）</p>
<p><u>簟</u>（𥳠篨　筍席　筕簹）</p>
<p><u>燈盞油</u>（燈窩油）</p>
<p><u>燈盞</u>（缸）</p>
<p><u>故木砧</u>（百味　㭢幾）</p>
<p><u>車脂</u>（車轂脂　轄脂　軸脂　缸膏）</p>
<p><u>飯籮</u>（筐）</p>
<p><u>弊帚</u>（篲）</p>
<p><u>蜂蜜</u>（蜂糖　生岩石者名石蜜　石飴　岩蜜）</p>
<p><u>蜜蜂</u>（蠟蜂　𧍙）</p>
<p><u>大黃蜂</u>（黑色者名胡蜂　壺蜂　𤬈𤬏蜂　玄瓠蜂）</p>
<p><u>土蜂</u>（蜚零　馬蜂　蟺蜂）</p>
<p><u>露蜂房</u>（蜂腸　百穿　蜂勦　紫金沙）</p>
<p><u>竹蜂</u>（留師）</p>
<p><u>蠮螉</u>（土蜂　蜾裸　細腰蜂　蒲盧）</p>
<p><u>紫𨥥</u>（赤膠　紫梗）</p>
<p><u>五倍子</u>（文蛤　法釀過名百藥煎　百蟲倉）</p>
<p><u>蠶</u>（自死者名白殭蠶）</p>
<p><u>蠶蛻</u>（馬明遠　佛退）</p>
<p><u>原蠶</u>（晚蠶　夏蠶　魏蠶　熱蠶）</p>
<p><u>九香蟲</u>（黑兜蟲）</p>
<p><u>石蠶</u>（沙蝨　石下新　石蠹蟲）</p>
<p><u>雪蠶</u>（雪蛆）</p>
<p><u>蛺蝶</u>（𧌄蝶　蝴蝶）</p>
<p><u>青蚨</u>（蚨蟬　𧑃𧍪　魚父　蟱蝸　蒲虻　魚伯）</p>
<p><u>樗雞</u>（紅娘子　灰花蛾）</p>
<p><u>斑蝥</u>（斑貓　龍蠔　盤蝥蟲　斑蠔）</p>
<p><u>芫青</u>（青娘子）</p>
<p><u>地膽</u>（芫青　青蠵）</p>
<p><u>蜘蛛</u>（次𧋌　䖦蚖　蠾蝓）</p>
<p><u>壁錢</u>（壁鏡）</p>
<p><u>蠍</u>（蛜𧌴　主簿蟲　杜白　蠆尾蟲）</p>
<p><u>螲蟷</u>（蛈蜴　顛當蟲　蛈母　土蜘蛛）</p>
<p><u>蟻</u>（玄駒　蚍蜉）</p>
<p><u>水蛭</u>（蚑　大者名馬蟥　至掌　馬蜞　馬鱉）</p>
<p><u>牛蝨</u>（牛螕）</p>
<p><u>乳蟲</u>（土蛹）</p>
<p><u>人蝨</u>（蝨）</p>
<p><u>木蠹蟲</u>（蠍　蛣𧌑　蝤蠐　蛀蟲）</p>
<p><u>蠐螬</u>（蟦蠐　乳齊　應條　蜰蠐　地蠶）</p>
<p><u>蜻蛉</u>（蜻虰　虰蛵　⿰虫忽　紗羊　赤者名赤卒　蜻蝏　負勞　諸乘）</p>
<p><u>雀甕</u>（雀兒飯甕　蠔蟲窠　天漿子　紅姑娘　蛤蚧房　躁舍　棘剛子　毛蟲）</p>
<p><u>螳螂桑螵蛸</u>（蟷螂　拒斧　蝕肬　其子房　蜱蛸　致神　刀螂　不過　名螵蛸　䗚蟭　野狐鼻涕）</p>
<p><u>桑蠹蟲</u>（桑蠍）</p>
<p><u>蚱蟬</u>（蜩　齊女）</p>
<p><u>蒼耳蠹蟲</u>（麻蟲）</p>
<p><u>蟬蛻</u>（蟬殼　腹蜻　枯蟬　金牛兒）</p>
<p><u>蜣螂</u>（結蜣　推車客　鐵甲將軍　推丸　黑牛兒　夜遊將軍）</p>
<p><u>蟬花</u>（冠蟬　螗蜩　胡蟬　蝘）</p>
<p><u>天牛</u>（天水牛　一角者名獨角仙　八角兒）</p>
<p><u>衣魚</u>（白魚　蛃魚　蠹魚　蟬魚　壁魚）</p>
<p><u>䗪蟲</u>（地鱉　地蜱蟲　蚵蚾蟲　土鱉　簸箕蟲　過街）</p>
<p><u>蜚蠊</u>（石姜　負盤　茶婆蟲　盧蜰　滑蟲　香娘子）</p>
<p><u>行夜</u>（負盤　屁盤蟲　氣蠜）</p>
<p><u>灶馬</u>（灶雞）</p>
<p><u>蛗螽</u>（負蠜　蚱蜢）</p>
<p><u>木虻</u>（魂常）</p>
<p><u>蜚蟲</u>（虻蟲）</p>
<p><u>竹蝨</u>（竹佛子　天厭子）</p>
<p><u>蟾蜍</u>（鼃𪓰　䗇鼃　蚵蚾　𪓰𪓿　苦蠪　癩蝦蟆）</p>
<p><u>蝦蟆</u>（蟼蟆）</p>
<p><u>蝌蚪</u>（活東　玄魚　水仙子　活師　懸針　蝦蟆臺）</p>
<p><u>鼃</u>（長股　青雞　蛤魚　田雞　坐魚）</p>
<p><u>馬陸</u>（百足　百節　馬蠸　馬軸　飛蚿蟲　蛩　千足　馬蚿　馬蠲　馬䗃　刀環蟲）</p>
<p><u>蚓蚯</u>（螼螾　蜸蠶　曲蟺　地龍子　寒蚓　歌女　朐䏰　蜿蟺　土龍　寒䘆　附蚓　土蟺）</p>
<p><u>蝸牛</u>（蠡牛　螔蝓　蝸蠃　蜒蚰蠃　蚹蠃　山蝸　土牛兒）</p>
<p><u>鼠婦</u>（鼠負　鼠姑　蜲𧑓　濕生蟲　地雞　負蟠　鼠黏　蛜蝛　地蝨）</p>
<p><u>螻蛄</u>（蟪蛄　𧎅　仙姑　梧鼠　天螻　螻蟈　石鼠　土狗）</p>
<p><u>螢火</u>（夜光　夜炤　救火　挾火　丹鳥　熠耀　景天　據火　宵燭　郎炤）</p>
<p><u>田父</u>（蜦）</p>
<p><u>蜈蚣</u>（螏𧔌　天龍　蝍蛆）</p>
<p><u>緣桑蠃</u>（桑牛　天螺）</p>
<p><u>蛞蝓</u>（陵蠡　土蝸　鼻涕蟲　附蝸　托胎蟲　蜒蚰螺）</p>
<p><u>沙蝨</u>（𧍲䗠　地牌　蓬活）</p>
<p><u>水黽</u>（水馬）</p>
<p><u>砂挼子</u>（倒行狗子　睡蟲）</p>
<p><u>豉蟲</u>（豉母蟲）</p>
<p><u>蛔蟲</u>（蛕　人龍）</p>
<p><u>金蠶</u>（食錦蟲）</p>
<p><u>鼉龍</u>（鮀魚　土龍）</p>
<p><u>吊</u>（吉吊）</p>
<p><u>石龍子</u>（山龍子　石蜴　豬婆蛇　泉龍　蜥蜴　守宮）</p>
<p><u>鯪鯉</u>（龍鯉　石鯪魚　穿山甲）</p>
<p><u>守宮</u>（壁宮　蠍虎　壁虎　蝘蜓）</p>
<p><u>蛤蚧</u>（蛤⿰虫斛　仙蟾）</p>
<p><u>蚺蛇</u>（南蛇　埋頭蛇）</p>
<p><u>金蛇</u>（金星地鱔）</p>
<p><u>白花蛇</u>（蘄蛇　褰鼻蛇）</p>
<p><u>銀蛇</u>（錫蛇）</p>
<p><u>烏蛇</u>（烏梢蛇　黑花蛇）</p>
<p><u>水蛇</u>（公蠣蛇）</p>
<p><u>黃頷蛇</u>（黃喉蛇）</p>
<p><u>蝮蛇</u>（反鼻蛇）</p>
<p><u>赤楝蛇</u>（桑根蛇）</p>
<p><u>蛇角</u>（骨咄犀　碧犀）</p>
<p><u>兩頭蛇</u>（枳首蛇　越王蛇）</p>
<p><u>鱮魚</u>（鰱魚）</p>
<p><u>蛇蛻</u>（蛇皮　龍退　蛇符　龍子衣　蛇殼　弓皮　蛇筋　龍子皮）</p>
<p><u>溪鬼蟲</u>（射工　水弩　含沙　水狐　射影　抱槍　短狐　蜮）</p>
<p><u>鱅魚</u>（鱃魚）</p>
<p><u>鯔魚</u>（子魚）</p>
<p><u>鱒魚</u>（鮅魚　赤眼魚）</p>
<p><u>白魚</u>（鱎魚）</p>
<p><u>鯇魚</u>（鰀魚　草魚）</p>
<p><u>鱤魚</u>（𩹴魚　黃頰魚　鰥魚）</p>
<p><u>石首魚</u>（石頭魚　鮸魚　乾者名鯗魚　黃花魚　江魚）</p>
<p><u>鱭魚</u>（鮆魚　鱴魚　鰽魚　鮤魚　魛魚　望魚）</p>
<p><u>嘉魚</u>（鮇魚　丙穴魚　拙魚）</p>
<p><u>鯧魚</u>（䱽魚　鯧鯸魚　昌鼠）</p>
<p><u>鯽魚</u>（鮒魚）</p>
<p><u>鱸魚</u>（四腮魚）</p>
<p><u>魴魚</u>（鯿魚）</p>
<p><u>鱖魚</u>（罽魚　石桂魚　水豚）</p>
<p><u>杜父魚</u>（渡父魚　舩矴魚　黃䱂魚　伏念魚）</p>
<p><u>鯊魚</u>（鮀魚　沙溝魚　吹沙　沙鰛）</p>
<p><u>石斑魚</u>（石𧏿魚　高魚）</p>
<p><u>鰷魚</u>（白鯈　鮂魚　䱗魚）</p>
<p><u>黃鯝魚</u>（黃骨魚）</p>
<p><u>鱵魚</u>（姜公魚　銅哾魚）</p>
<p><u>鱠殘魚</u>（王餘魚　銀魚）</p>
<p><u>鱊魚</u>（春魚　作臘名鵝毛脡）</p>
<p><u>鰻鱺魚</u>（白鱔　乾者名風鰻　蛇魚）</p>
<p><u>鱧魚</u>（蠡魚　玄鱧　銅魚　黑魚　烏鱧　文魚）</p>
<p><u>海鰻𩼽</u>（慈鰻𩼽　狗魚）</p>
<p><u>鱔魚</u>（黃䱇）</p>
<p><u>鮠魚</u>（鮰魚　𩸄魚　鱯魚　䲚魚）</p>
<p><u>鰍魚</u>（泥鰍　鰼魚）</p>
<p><u>鮧魚</u>（鯷魚　鰋魚　鮎魚）</p>
<p><u>鱣魚</u>（黃魚　玉版魚　蠟魚）</p>
<p><u>䱱魚</u>（人魚　孩兒魚）</p>
<p><u>鱘魚</u>（鱏魚　王鮪　鮪魚　碧魚）</p>
<p><u>黃顙魚</u>（黃鰭魚　䱀䰲　黃頰魚　黃䰲）</p>
<p><u>鯢魚</u>（人魚　鰨魚　魶魚　大者名鰕）</p>
<p><u>海豚魚</u>（海豨）</p>
<p><u>河豚</u>（鯸鮧　䲅魚　吹肚魚　鰗鮧　嗔魚　氣包魚）</p>
<p><u>江豚魚</u>（江豬　暨魚　䱐䰽　水豬　饞魚）</p>
<p><u>鮫魚</u>（沙魚　鰒魚　䱜魚　溜魚）</p>
<p><u>比目魚</u>（⿰魚帶　鞋底魚）</p>
<p><u>章魚</u>（章舉　鱆魚）</p>
<p><u>烏賊魚</u>（烏鰂　纜魚　骨名海螵蛸　墨魚　乾者名駦）</p>
<p><u>海蛇</u>（水母　樗蒲魚　石鏡）</p>
<p><u>海鷂魚</u>（邵陽魚　鱝魚　鯆魮魚　荷魚　石蠣　蕃蹋魚）</p>
<p><u>海鰕</u>（紅鰕　鰝）</p>
<p><u>文鰩魚</u>（飛魚）</p>
<p><u>海馬</u>（水馬）</p>
<p><u>魚虎</u>（土奴魚）</p>
<p><u>鮑魚</u>（薧魚　乾魚　蕭折魚）</p>
<p><u>鱁鮧</u>（鰾　作膠名鰾𬵩）</p>
<p><u>魚膾</u>（魚生）</p>
<p><u>魚脂</u>（魚油）</p>
<p><u>魚子</u>（䱊　䲑）</p>
<p><u>水龜</u>（玄衣督郵）</p>
<p><u>龜甲</u>（神屋　敗龜版　敗將　漏天機）</p>
<p><u>秦龜</u>（山龜）</p>
<p><u>蠵龜</u>（蟕蠵　龜鼊　⿰虫⿸尸𮥼贔　靈蠵　靈龜　皮名龜筒）</p>
<p><u>綠毛龜</u>（綠衣使者）</p>
<p><u>瑇瑁</u>（玳瑁）</p>
<p><u>攝龜</u>（呷蛇龜　鴦龜　陵龜　蠳龜）</p>
<p><u>賁龜</u>（三足龜）</p>
<p><u>鱉</u>（團魚　神守）</p>
<p><u>能</u>（三足鱉）</p>
<p><u>蟹</u>（螃蟹　橫行介士　雄者曰𡛂螘　郭索　無腸公子　雌者曰博帶）</p>
<p><u>牡蠣</u>（牡蛤　古賁　蠣蛤　蠔）</p>
<p><u>𧍧䗯</u>（生䗯　𧍧蛤）</p>
<p><u>馬刀</u>（馬蛤　蝏蛢　𤊿岸　齊蛤　單母　蜌　蠯）</p>
<p><u>真珠</u>（珍珠　蠙珠　蚌珠）</p>
<p><u>蜆</u>（扁螺）</p>
<p><u>石決明</u>（九孔螺　殼名千里光）</p>
<p><u>文蛤</u>（花蛤）</p>
<p><u>車螯</u>（蜃）</p>
<p><u>珂</u>（馬軻螺　珬）</p>
<p><u>魁蛤</u>（魁陸　瓦屋子　蚶　瓦壟子）</p>
<p><u>石蜐</u>（紫𧉧　龜腳　紫虈）</p>
<p><u>車渠</u>（海扇）</p>
<p><u>淡菜</u>（殼菜　東海夫人　海蜌）</p>
<p><u>貝子</u>（貝齒　海蚆　白貝）</p>
<p><u>海蠃</u>（流螺　厴名甲香　假豬螺）</p>
<p><u>紫貝</u>（文貝　砑螺）</p>
<p><u>蝸蠃</u>（螺螄）</p>
<p><u>寄居蟲</u>（寄生蟲）</p>
<p><u>海月</u>（玉珧　馬頰　江珧　馬甲）</p>
<p><u>鶴</u>（仙禽　胎禽）</p>
<p><u>鸛</u>（皂君　黑尻　負斧）</p>
<p><u>鶬雞</u>（鶬鴰　鴰鹿　麋鴰　麥雞）</p>
<p><u>鵝</u>（家雁　舒雁）</p>
<p><u>陽烏</u>（陽鴉）</p>
<p><u>雁</u>（鴻）</p>
<p><u>鴉𪃩</u>（扶老　鴜䳓）</p>
<p><u>鵠</u>（天鵝）</p>
<p><u>蓪𪆏</u>（越王鳥　鸏雕　鶴頂）</p>
<p><u>鴇</u>（獨豹）</p>
<p><u>鵜鶘</u>（犁鶘　逃河　鴞⿰潭鳥　淘鵝）</p>
<p><u>鶩</u>（鴨　家鳧　舒鳧　鴮𧑓）</p>
<p><u>鸊鷉</u>（須蠃　䴇頂　油鴨　水⿱扎鳥　刁鴨）</p>
<p><u>鳧</u>（鸍　沉鳧　野鴨　𩿣鶩）</p>
<p><u>鴛鴦</u>（黃鴨　匹鳥）</p>
<p><u>鸂鷘</u>（鸂鴨　紫鴛鴦）</p>
<p><u>鵁鶄</u>（交蜲　鳽　茭雞）</p>
<p><u>鷺鷥</u>（絲禽　春鋤　雪客　白鳥）</p>
<p><u>鸀鳿</u>（鸑鷟）</p>
<p><u>鷗</u>（鷖　水鴞）</p>
<p><u>鸕鷀</u>（鷧　水老鴉）</p>
<p><u>魚狗</u>（鴗　水狗　魚師　天狗　魚虎　翠碧鳥）</p>
<p><u>蚊母鳥</u>（吐蚊鳥　鷏）</p>
<p><u>雞</u>（燭夜）</p>
<p><u>鸐雉</u>（鸐雞　山雉　山雞）</p>
<p><u>雉</u>（野雞）</p>
<p><u>⿱敬鳥雉</u>（山雞　金雞　鵕䴊　錦雞　採雞）</p>
<p><u>白鷳</u>（白⿱餘鳥　閒客）</p>
<p><u>鷓鴣</u>（越雉）</p>
<p><u>竹雞</u>（山菌子　泥滑滑　雞頭骨）</p>
<p><u>突厥雀</u>（鵽鳩　冠雉）</p>
<p><u>鷃</u>（鵪　鴽　鸋　𤌠）</p>
<p><u>巧婦鳥</u>（鷦鷯　蒙鳩　黃脰雀　桃蟲　女匠）</p>
<p><u>鴿</u>（鵓鴿　飛奴）</p>
<p><u>石燕</u>（土燕）</p>
<p><u>雀</u>（瓦雀　賓雀）</p>
<p><u>伏翼</u>（蝙蝠　仙鼠　夜燕　天鼠　飛鼠）</p>
<p><u>燕</u>（乙鳥　鷙鳥　遊波　玄鳥　鷾鴯　天女）</p>
<p><u>寒號蟲</u>（鶡鴠　屎名五靈脂　獨春）</p>
<p><u>鸓鼠</u>（鼺鼠　鼯鼠　鴺　耳鼠　夷田　飛生鳥）</p>
<p><u>斑鳩</u>（斑隹　鵓鳩　錦鳩　祝鳩）</p>
<p><u>青鵻</u>（黃褐侯　竊脂　蠟觜雀　青雀）</p>
<p><u>鳲鳩</u>（布穀　獲谷　鴶鵴　郭公）</p>
<p><u>伯勞</u>（伯鷯　伯趙　鴙　博勞　鵙）</p>
<p><u>鸜鵒</u>（八哥　哵哵鳥　寒皋）</p>
<p><u>百舌</u>（反舌　鶷𪆰）</p>
<p><u>鶯</u>（黃鳥　黧黃　青鳥　黃鸝　倉庚　黃伯勞）</p>
<p><u>啄木鳥</u>（斫木　鴷）</p>
<p><u>慈烏</u>（慈鴉　寒鴉　孝烏）</p>
<p><u>烏鴉</u>（鴉烏　鸒　楚烏　老鴉　鵯鶋　大觜烏）</p>
<p><u>鵲</u>（喜鵲　飛駁烏　干鵲）</p>
<p><u>鶻嘲</u>（鶻鵃　屈鳩　阿鵴　鶻鳩　鶯鳩　𪈭鷜）</p>
<p><u>山鵲</u>（鷽　山鷓　𠘧　赤嘴烏）</p>
<p><u>鸚鵡</u>（鸚哥　干皋）</p>
<p><u>鳳凰</u>（瑞鶠）</p>
<p><u>孔雀</u>（越鳥）</p>
<p><u>鷹</u>（角鷹　鷞鳩）</p>
<p><u>駝鳥</u>（駝蹄雞　骨托禽　食火雞）</p>
<p><u>雕</u>（鷲　鷻）</p>
<p><u>鬼車鳥</u>（鬼鳥　蒼鸆　九頭鳥　奇鶬）</p>
<p><u>鴆</u>（䲰日　同力鳥）</p>
<p><u>鶚</u>（魚鷹　睢鳩　沸波　雕雞　王睢　下窟鳥）</p>
<p><u>鴟</u>（雀鷹　鷣　鷂　鳶　隼）</p>
<p><u>杜鵑</u>（杜宇　子規　催歸　怨鳥　子雋　鶗鴂　陽雀　周燕）</p>
<p><u>鴟鵂</u>（角鴟　雚　鉤鵅　轂轆鷹　夜食鷹　怪鴟　老兔　鵋䳢　呼咵鷹）</p>
<p><u>鴞</u>（梟鴟　山鴞　鵬　流離　木梟　雞鴞　訓狐　𩴂魂）</p>
<p><u>始獲鳥</u>（乳母鳥　夜行遊女　隱飛　譩譆　無辜鳥　天帝少女　鬼鳥　鉤星）</p>
<p><u>豕</u>（豬　豭　豶　豚　彘）</p>
<p><u>豚卵</u>（豚顛　豬石子）</p>
<p><u>狗</u>（犬　地羊）</p>
<p><u>羊</u>（羖　羯　羝）</p>
<p><u>駝</u>（橐駝　駱駝）</p>
<p><u>酪</u>（潼）</p>
<p><u>乳腐</u>（乳餅）</p>
<p><u>酥</u>（酥油）</p>
<p><u>阿膠</u>（傅致膠）</p>
<p><u>獅</u>（狻猊）</p>
<p><u>黃明膠</u>（牛皮膠　水膠　海犀膠）</p>
<p><u>虎</u>（烏䖘）</p>
<p><u>牛黃</u>（醜寶）</p>
<p><u>豹</u>（程　失刺孫）</p>
<p><u>犛牛</u>（毛犀　犘牛　竹牛　貓牛　㸲牛　犨牛）</p>
<p><u>犀</u>（兕）</p>
<p><u>旄牛</u>（犣牛　犏牛）</p>
<p><u>鹿</u>（斑龍）</p>
<p><u>豪豬</u>（蒿豬　豲𧱬　鸞豬　山豬　𧱂豬）</p>
<p><u>麂</u>（𪊨）</p>
<p><u>麢羊</u>（羚羊　九尾羊　麙羊）</p>
<p><u>獐</u>（麇）</p>
<p><u>山羊</u>（野羊　羱羊）</p>
<p><u>麝</u>（射父　香獐）</p>
<p><u>雙頭鹿</u>（荼苜機）</p>
<p><u>貓</u>（家貍）</p>
<p><u>靈貓</u>（靈貍　神貍　香貍　類）</p>
<p><u>貍</u>（野貓）</p>
<p><u>風貍</u>（風母　平猴　風生獸　狤𤟎）</p>
<p><u>貒</u>（獾㹠　豬獾）</p>
<p><u>水獺</u>（水狗）</p>
<p><u>獾</u>（狗獾　天狗）</p>
<p><u>膃肭獸</u>（骨豽　海狗）</p>
<p><u>豺</u>（犲狗）</p>
<p><u>鼠</u>（䶆鼠　首鼠　老鼠　家鹿）</p>
<p><u>狼</u>（豺狗）</p>
<p><u>鼴鼠</u>（田鼠　隱鼠　鼢鼠）</p>
<p><u>兔</u>（明眎）</p>
<p><u>隱鼠</u>（鼴鼠　鼠母　偃鼠　⿺鼠旲）</p>
<p><u>鼫鼠</u>（碩鼠　雀鼠　䶂鼠　𪕞鼠）</p>
<p><u>竹䶉</u>（竹㹠）</p>
<p><u>土撥鼠</u>（鼧鼥　荅剌不花）</p>
<p><u>貂鼠</u>（栗鼠　松狗）</p>
<p><u>黃鼠</u>（禮鼠　鼲鼠　拱鼠　貔貍）</p>
<p><u>鼬鼠</u>（黃鼠狼　𪕸鼠　鼪鼠　地猴）</p>
<p><u>鼷鼠</u>（甘口鼠）</p>
<p><u>獼猴</u>（沐猴　胡孫　馬留　為猴　王孫　狙）</p>
<p><u>蝟</u>（彚　蝟鼠　毛刺）</p>
<p><u>果然</u>（禺　蜼　狖　仙猴）</p>
<p><u>狒狒</u>（𥝋𥝋　野人　梟羊　人熊）</p>
<p><u>發髲</u>（𩮀　發髢）</p>
<p><u>亂髮</u>（血餘　人退）</p>
<p><u>頭垢</u>（梳上者名百齒霜）</p>
<p><u>耳塞</u>（耳垢　泥丸脂　腦膏）</p>
<p><u>爪甲</u>（筋退）</p>
<p><u>人尿</u>（小便　還元湯　輪迴酒）</p>
<p><u>溺白垽</u>（人中白）</p>
<p><u>秋石</u>（秋水）</p>
<p><u>乳汁</u>（奶汁　仙人酒）</p>
<p><u>月水</u>（月經　紅鉛　天癸）</p>
<p><u>口津唾</u>（靈液　金漿　神水　醴泉）</p>
<p><u>齒垽</u>（齒垢）</p>
<p><u>天靈蓋</u>（腦蓋骨　頭顱骨　仙人蓋）</p>
<p><u>人勢</u>（陰莖）</p>
<p><u>臍帶</u>（命蒂）</p>
<p><u>人肉</u>（瘵疾）</p>
<p><u>人胞</u>（胎衣　紫河車　混元母　佛袈裟　胞衣　混沌衣　仙人衣）</p>
